{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-de49e1b6-6721-b271-af65-854993f2342e?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Jul 2024 18:27:01 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC9AC490469543\"",
        "Last-Modified": "Tue, 02 Jul 2024 18:27:00 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-de49e1b6-6721-b271-af65-854993f2342e/eaadb7d1?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Jul 2024 18:27:01 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC9AC49050057A\"",
        "Last-Modified": "Tue, 02 Jul 2024 18:27:00 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2024-07-02T18:27:00.5198714Z",
        "x-ms-file-creation-time": "2024-07-02T18:27:00.5198714Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-07-02T18:27:00.5198714Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "8720823596597466685*1287379445297103284",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-de49e1b6-6721-b271-af65-854993f2342e/eaadb7d1/1e76f9c9?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Jul 2024 18:27:01 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC9AC49058DDDB\"",
        "Last-Modified": "Tue, 02 Jul 2024 18:27:00 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2024-07-02T18:27:00.5778395Z",
        "x-ms-file-creation-time": "2024-07-02T18:27:00.5778395Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2024-07-02T18:27:00.5778395Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "8720823596597466685*1287379445297103284",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-de49e1b6-6721-b271-af65-854993f2342e/eaadb7d1/1e76f9c9/5ea36a6e?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Jul 2024 18:27:01 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC9AC49065863C\"",
        "Last-Modified": "Tue, 02 Jul 2024 18:27:00 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2024-07-02T18:27:00.6607932Z",
        "x-ms-file-creation-time": "2024-07-02T18:27:00.6607932Z",
        "x-ms-file-id": "16140971433240035328",
        "x-ms-file-last-write-time": "2024-07-02T18:27:00.6607932Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "8720823596597466685*1287379445297103284",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-de49e1b6-6721-b271-af65-854993f2342e/eaadb7d1/1e76f9c9/5ea36a6e/547e121b?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Jul 2024 18:27:01 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC9AC49077FA35\"",
        "Last-Modified": "Tue, 02 Jul 2024 18:27:00 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2024-07-02T18:27:00.7817269Z",
        "x-ms-file-creation-time": "2024-07-02T18:27:00.7817269Z",
        "x-ms-file-id": "14988049928633188352",
        "x-ms-file-last-write-time": "2024-07-02T18:27:00.7817269Z",
        "x-ms-file-parent-id": "16140971433240035328",
        "x-ms-file-permission-key": "8720823596597466685*1287379445297103284",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-de49e1b6-6721-b271-af65-854993f2342e/eaadb7d1/1e76f9c9/5ea36a6e/547e121b/7b77cf80?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Jul 2024 18:27:01 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC9AC4909BD0E0\"",
        "Last-Modified": "Tue, 02 Jul 2024 18:27:01 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2024-07-02T18:27:01.0165984Z",
        "x-ms-file-creation-time": "2024-07-02T18:27:01.0165984Z",
        "x-ms-file-id": "14411589176329764864",
        "x-ms-file-last-write-time": "2024-07-02T18:27:01.0165984Z",
        "x-ms-file-parent-id": "14988049928633188352",
        "x-ms-file-permission-key": "8720823596597466685*1287379445297103284",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-de49e1b6-6721-b271-af65-854993f2342e/eaadb7d1/1e76f9c9/5ea36a6e/547e121b/7b77cf80/6ab7353a?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Jul 2024 18:27:02 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC9AC490EAA917\"",
        "Last-Modified": "Tue, 02 Jul 2024 18:27:01 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2024-07-02T18:27:01.5333143Z",
        "x-ms-file-creation-time": "2024-07-02T18:27:01.5333143Z",
        "x-ms-file-id": "14123358800178053120",
        "x-ms-file-last-write-time": "2024-07-02T18:27:01.5333143Z",
        "x-ms-file-parent-id": "14411589176329764864",
        "x-ms-file-permission-key": "8720823596597466685*1287379445297103284",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-de49e1b6-6721-b271-af65-854993f2342e/eaadb7d1/1e76f9c9/5ea36a6e/547e121b/7b77cf80/6ab7353a/9341342c?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Jul 2024 18:27:03 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC9AC4917E96E9\"",
        "Last-Modified": "Tue, 02 Jul 2024 18:27:02 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2024-07-02T18:27:02.5027817Z",
        "x-ms-file-creation-time": "2024-07-02T18:27:02.5027817Z",
        "x-ms-file-id": "13979243612102197248",
        "x-ms-file-last-write-time": "2024-07-02T18:27:02.5027817Z",
        "x-ms-file-parent-id": "14123358800178053120",
        "x-ms-file-permission-key": "8720823596597466685*1287379445297103284",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-de49e1b6-6721-b271-af65-854993f2342e/eaadb7d1/1e76f9c9?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Jul 2024 18:27:05 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandadev2.file.core.windows.net/\" ShareName=\"test-share-de49e1b6-6721-b271-af65-854993f2342e\" DirectoryPath=\"eaadb7d1/1e76f9c9\"><DirectoryId>11529285414812647424</DirectoryId><Entries><Directory><Name>5ea36a6e</Name><FileId>16140971433240035328</FileId><Properties /></Directory><Directory><Name>e578a25f</Name><FileId>10376363910205800448</FileId><Properties /></Directory></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-de49e1b6-6721-b271-af65-854993f2342e/eaadb7d1/1e76f9c9/5ea36a6e?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Jul 2024 18:27:05 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandadev2.file.core.windows.net/\" ShareName=\"test-share-de49e1b6-6721-b271-af65-854993f2342e\" DirectoryPath=\"eaadb7d1/1e76f9c9/5ea36a6e\"><DirectoryId>16140971433240035328</DirectoryId><Entries><Directory><Name>547e121b</Name><FileId>14988049928633188352</FileId><Properties /></Directory><Directory><Name>82da9c67</Name><FileId>12682206919419494400</FileId><Properties /></Directory></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-de49e1b6-6721-b271-af65-854993f2342e/eaadb7d1/1e76f9c9/5ea36a6e/547e121b?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Jul 2024 18:27:05 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandadev2.file.core.windows.net/\" ShareName=\"test-share-de49e1b6-6721-b271-af65-854993f2342e\" DirectoryPath=\"eaadb7d1/1e76f9c9/5ea36a6e/547e121b\"><DirectoryId>14988049928633188352</DirectoryId><Entries><Directory><Name>7b77cf80</Name><FileId>14411589176329764864</FileId><Properties /></Directory><Directory><Name>ef06ab19</Name><FileId>12105746167116070912</FileId><Properties /></Directory></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-de49e1b6-6721-b271-af65-854993f2342e/eaadb7d1/1e76f9c9/5ea36a6e/547e121b/7b77cf80?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Jul 2024 18:27:05 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandadev2.file.core.windows.net/\" ShareName=\"test-share-de49e1b6-6721-b271-af65-854993f2342e\" DirectoryPath=\"eaadb7d1/1e76f9c9/5ea36a6e/547e121b/7b77cf80\"><DirectoryId>14411589176329764864</DirectoryId><Entries><Directory><Name>6ab7353a</Name><FileId>14123358800178053120</FileId><Properties /></Directory><Directory><Name>bbb52125</Name><FileId>11817515790964359168</FileId><Properties /></Directory></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-de49e1b6-6721-b271-af65-854993f2342e/eaadb7d1/1e76f9c9/5ea36a6e/547e121b/7b77cf80/6ab7353a?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Jul 2024 18:27:05 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandadev2.file.core.windows.net/\" ShareName=\"test-share-de49e1b6-6721-b271-af65-854993f2342e\" DirectoryPath=\"eaadb7d1/1e76f9c9/5ea36a6e/547e121b/7b77cf80/6ab7353a\"><DirectoryId>14123358800178053120</DirectoryId><Entries><Directory><Name>9341342c</Name><FileId>13979243612102197248</FileId><Properties /></Directory><Directory><Name>e7920b98</Name><FileId>11673400602888503296</FileId><Properties /></Directory></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-de49e1b6-6721-b271-af65-854993f2342e/eaadb7d1/1e76f9c9/5ea36a6e/547e121b/7b77cf80/6ab7353a/9341342c?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Jul 2024 18:27:05 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandadev2.file.core.windows.net/\" ShareName=\"test-share-de49e1b6-6721-b271-af65-854993f2342e\" DirectoryPath=\"eaadb7d1/1e76f9c9/5ea36a6e/547e121b/7b77cf80/6ab7353a/9341342c\"><DirectoryId>13979243612102197248</DirectoryId><Entries /><NextMarker /></EnumerationResults>"
    },
[...]
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-de49e1b6-6721-b271-af65-854993f2342e?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Jul 2024 18:27:08 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1937590530",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
