{
  "Entries": [
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-f4209a9e-f159-a5f8-fe6f-49c9bd7b14fc?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 30 Apr 2025 15:48:29 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD87FE72691695\"",
        "Last-Modified": "Wed, 30 Apr 2025 15:48:26 GMT",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-f4209a9e-f159-a5f8-fe6f-49c9bd7b14fc/447c78ca?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 30 Apr 2025 15:48:29 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD87FE726F75C1\"",
        "Last-Modified": "Wed, 30 Apr 2025 15:48:26 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-04-30T15:48:26.7828673Z",
        "x-ms-file-creation-time": "2025-04-30T15:48:26.7828673Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-04-30T15:48:26.7828673Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "13252330444922611895*16083086822043778878",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-f4209a9e-f159-a5f8-fe6f-49c9bd7b14fc/447c78ca/a2d8ddbe?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 30 Apr 2025 15:48:29 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD87FE7273B6BB\"",
        "Last-Modified": "Wed, 30 Apr 2025 15:48:26 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-04-30T15:48:26.8107451Z",
        "x-ms-file-creation-time": "2025-04-30T15:48:26.8107451Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2025-04-30T15:48:26.8107451Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "13252330444922611895*16083086822043778878",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-f4209a9e-f159-a5f8-fe6f-49c9bd7b14fc/447c78ca/a2d8ddbe/60b367b7",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Wed, 30 Apr 2025 15:48:29 GMT",
        "x-ms-type": "file",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD87FE72784580\"",
        "Last-Modified": "Wed, 30 Apr 2025 15:48:26 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-04-30T15:48:26.8406144Z",
        "x-ms-file-creation-time": "2025-04-30T15:48:26.8406144Z",
        "x-ms-file-id": "16140971433240035328",
        "x-ms-file-last-write-time": "2025-04-30T15:48:26.8406144Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "8616074386732128176*16083086822043778878",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-f4209a9e-f159-a5f8-fe6f-49c9bd7b14fc/447c78ca/a2d8ddbe/60b367b7?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 30 Apr 2025 15:48:29 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-07-05",
        "x-ms-write": "update"
      },
      "RequestBody": "an0sDj8v0Y9kpmjaXu0uXdbezrkhlOz25BkHqxl+lyo87C+WjEOI/iaBAxy4g5WveOVJ3lEo/9aRNSolKCZ25g49nnG9l9GSVdCSoJDQPWCEWDMzNLnYE+1ZBFYZYtYACx0Ne+Uj8eATtoiAlV9FwfjKodDzQrFVZIuEZJJ7efP6kpRzwsJ7YGZSH34wWH2OE0NeT8AFDchsuBZan41OmD2VhgPK0v42TkFqoCIyJQwN9VFOHSoy9IXMBwqrIMDZA4dBmtF5xEBEJwB/m2ylOZIJTKo7/3sSYpJ+/cr0ii6AkJ2b8Yo7kzAQCvUpslgYJs53odMWnQQLLjc/+8Z1UJ3S/gvPCkcIzrl5KvSG6bA5Zdf8fOhaavOYj8NS+5hqm7pXV7NNSRuGb9ManHMPhUWHBZXvedO0d5QXNnqEtdIgD486LpH86xy7dg0VP81/iAl+yvYDeyHmo98fNRKhArkA+o3j1Vezixl4MwLGnzjHl65wBuvcHZRtU4ux3LYKGnRTFEQ/nLOyyj/cikcfIAOnV51kMPvOI9z5doHMAq5jbhmOcorzh/v6vjurAJNMTjOHCoUYpel4hfBoRiUx5siQeBsukK15s9ChaXK/IiNJrChNRPgpS8gvFeyZi0DWyNhzG4h3Hr2GDla0djx3uGPNHpr95KHPZyxS/nvA4CiQy6CaTAea0Y5qxzahddSMuF2Jy22l2OQ2o7NbJR9BxS4uJKqc3GxbMkwMkhxqLvJYxkYeNhS76vO7Y6hTP6xuKAIIc1Ap8NvwLZggmUXIy3XBA1/ZI44Zczm34HnECPOfnWkaYrqhLtVqLQl7mlCt85cykTtNlQVz7gAWchBiLCWlgfvbrmm7INWJbvaFntjpCe3hkXa3UQhkpnO5irvFBwHj1RhV0UQtdnBmxCYO7lAnLWgigZqu7S/zdwf2AZYZw2f0ocjAlDeosxoFUY3hVbciklxSooZmNOfpYVo9N3XaTAC/GkyIZ5kwes5/qJyiEiFP1G85xiDgjWzg1zLda3ylKwSMITtrmirDIii454xLRk847WIFoIXf3ozgp5BmUw9R2n2YFvDm5DpEdqT4KKbglZDjpX0Zn4t+rEOvi/KaXM4ZZg0Osy9fUggowSng57Xl/xL/g66RNzryGWmtN1lHqhrW38KZ0uJghFJ18d5hncWNyYvgmtgghy7THJnGshqu4BYOCgfzTC0wn/9bG0ZbkHukH23OZxBCtVeTxrVImtE4xhDIU5K9mnxer/vYxWvnd4sdIpKs4HkFzFWwX4Z35wQtI1U2kz3o5oXxb7cVafDrrE4pKng/i+aWw4Y9DTr258j2q6EWseRONTsMu3HB72JlxLM3TbyL7phunw==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "4ZIw4qrUQoDMQVUScfSQRw==",
        "ETag": "\"0x8DD87FE727D6FCE\"",
        "Last-Modified": "Wed, 30 Apr 2025 15:48:26 GMT",
        "x-ms-file-last-write-time": "2025-04-30T15:48:26.8744654Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-f4209a9e-f159-a5f8-fe6f-49c9bd7b14fc?restype=share",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 30 Apr 2025 15:48:29 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD87FE72691695\"",
        "Last-Modified": "Wed, 30 Apr 2025 15:48:26 GMT",
        "x-ms-access-tier": "TransactionOptimized",
        "x-ms-access-tier-change-time": "Wed, 30 Apr 2025 15:48:26 GMT",
        "x-ms-has-immutability-policy": "false",
        "x-ms-has-legal-hold": "false",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-share-quota": "102400",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-f4209a9e-f159-a5f8-fe6f-49c9bd7b14fc/447c78ca/a2d8ddbe/bacd1284",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 30 Apr 2025 15:48:29 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-f4209a9e-f159-a5f8-fe6f-49c9bd7b14fc/447c78ca/a2d8ddbe/59e82560",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 30 Apr 2025 15:48:29 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD87FE728A0BD6\"",
        "Last-Modified": "Wed, 30 Apr 2025 15:48:26 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-04-30T15:48:26.9571030Z",
        "x-ms-file-creation-time": "2025-04-30T15:48:26.9013474Z",
        "x-ms-file-id": "10376363910205800448",
        "x-ms-file-last-write-time": "2025-04-30T15:48:26.9571030Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "8616074386732128176*16083086822043778878",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-f4209a9e-f159-a5f8-fe6f-49c9bd7b14fc/447c78ca/a2d8ddbe/bacd1284?comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 30 Apr 2025 15:48:29 GMT",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD87FE72A40656\"",
        "Last-Modified": "Wed, 30 Apr 2025 15:48:27 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-04-30T15:48:27.1273558Z",
        "x-ms-file-creation-time": "2025-04-30T15:48:27.0706046Z",
        "x-ms-file-id": "14988049928633188352",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "8616074386732128176*16083086822043778878",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-f4209a9e-f159-a5f8-fe6f-49c9bd7b14fc/447c78ca/a2d8ddbe?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 30 Apr 2025 15:48:29 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://nickliuproductionacc.file.core.windows.net/\" ShareName=\"test-share-f4209a9e-f159-a5f8-fe6f-49c9bd7b14fc\" DirectoryPath=\"447c78ca/a2d8ddbe\"><DirectoryId>11529285414812647424</DirectoryId><Entries><File><Name>59e82560</Name><FileId>10376363910205800448</FileId><Properties><Content-Length>1024</Content-Length></Properties></File><File><Name>60b367b7</Name><FileId>16140971433240035328</FileId><Properties><Content-Length>1024</Content-Length></Properties></File><File><Name>b2fb03ec</Name><FileId>13835093239654252544</FileId><Properties><Content-Length>1024</Content-Length></Properties></File><File><Name>bacd1284</Name><FileId>14988049928633188352</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-f4209a9e-f159-a5f8-fe6f-49c9bd7b14fc?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 30 Apr 2025 15:48:29 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1874554013",
    "Storage_TestConfigDefault": "ProductionTenant\nnickliuproductionacc\nU2FuaXRpemVk\nhttps://nickliuproductionacc.blob.core.windows.net\nhttps://nickliuproductionacc.file.core.windows.net\nhttps://nickliuproductionacc.queue.core.windows.net\nhttps://nickliuproductionacc.table.core.windows.net\n\n\n\n\nhttps://nickliuproductionacc-secondary.blob.core.windows.net\nhttps://nickliuproductionacc-secondary.file.core.windows.net\nhttps://nickliuproductionacc-secondary.queue.core.windows.net\nhttps://nickliuproductionacc-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://nickliuproductionacc.blob.core.windows.net/;QueueEndpoint=https://nickliuproductionacc.queue.core.windows.net/;FileEndpoint=https://nickliuproductionacc.file.core.windows.net/;BlobSecondaryEndpoint=https://nickliuproductionacc-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://nickliuproductionacc-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://nickliuproductionacc-secondary.file.core.windows.net/;AccountName=nickliuproductionacc;AccountKey=U2FuaXRpemVk\nEncryptionScope\n\n"
  }
}
