{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-16eec027-1026-8090-ff39-5f37282154e8?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 01:22:45 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D1690AE9903\"",
        "Last-Modified": "Fri, 07 Mar 2025 01:22:45 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-16eec027-1026-8090-ff39-5f37282154e8/ce8f49f7?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 01:22:45 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D1690B85447\"",
        "Last-Modified": "Fri, 07 Mar 2025 01:22:45 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-03-07T01:22:45.5141447Z",
        "x-ms-file-creation-time": "2025-03-07T01:22:45.5141447Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-03-07T01:22:45.5141447Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "8016861625448480706*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-16eec027-1026-8090-ff39-5f37282154e8/ce8f49f7/f601e3f0?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 01:22:45 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D1690C14ACF\"",
        "Last-Modified": "Fri, 07 Mar 2025 01:22:45 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-03-07T01:22:45.5728847Z",
        "x-ms-file-creation-time": "2025-03-07T01:22:45.5728847Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2025-03-07T01:22:45.5728847Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "8016861625448480706*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-16eec027-1026-8090-ff39-5f37282154e8/ce8f49f7/f601e3f0/6942e3f5",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 01:22:45 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-16eec027-1026-8090-ff39-5f37282154e8/ce8f49f7/f601e3f0/6942e3f5",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Fri, 07 Mar 2025 01:22:45 GMT",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-type": "file",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D1690D5A64A\"",
        "Last-Modified": "Fri, 07 Mar 2025 01:22:45 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-03-07T01:22:45.7062986Z",
        "x-ms-file-creation-time": "2025-03-07T01:22:45.7062986Z",
        "x-ms-file-id": "16140971433240035328",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-16eec027-1026-8090-ff39-5f37282154e8/ce8f49f7/f601e3f0/6942e3f5?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Fri, 07 Mar 2025 01:22:45 GMT",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05",
        "x-ms-write": "update"
      },
      "RequestBody": "zO8dslgV5uaaA1pEVb9JTG9Tyg4bgDypE/4rj0USbdv3CmH/QMIx6EyoHTzxjO9+MMZi/lZWhUyzc59a6VegiJZ/TUpeSgusIuHCcmP/uIcOrV9+r26FoIQVTMwj1v71CJSlcT6kIOa7ttx0lBLos7sYTDz3Idgo+qzGSf0+iEzjzGrPWUZIaY14w/mSEAxxLJkRC4rC/ea8fXeS3tbofC2QkceoGFl0z+Kuf17flumfVBxkLX3BIM+EE9zPtou2kEbLAn9FyRM/nDuoE36I3OeN8om6hE+vznD3JAV9pRlW+O4XE5NqWosIJZFCGQxR/Db0QsQB/Av3GzMPTaUOwfchURuPcMlTI5f+sV++bbRjpijPiGJVVfziH/dgWw3m+mOZIcjxwYttoR8sA0qsOa5+q6Z8PjmUy/wfrFHR88eJF7f8JEvscuScYuZDKFGyNuZJ4a9nabspBVXM0RU6m65XouySsBVikjnB39xSUKKqbXZqhxEXIq370h72IKDPYsY47IVlH4XR5k92pYnf17WyIWSfzxOcP4A+l972bHGY8n0VGWQdRU3wmaHCoH0kHPppRP48MJOym6wFJoin2nrd3rIMyb1RldwWrjVy2p4DGXvjjSdzXMLpY323Fx7FSb8m5MLKF1I9F64iJYJdP8ENAgwNw0xSaoHwI2U/mX29UGR2S/XcOAIopnV5UDZAiyO8qhURuIZy1HpA2fTs/X4xZdUd5/PMMckK5BzX2RpLsJdBg+9oq5jdBHd7m14NPKn3R+phIqQw8HhLBtNqmvpf9SlcqnmPyLk8P+J8UJZr/Khz4JEv6Y7zEZN2HaTEc2l8G6Y1sZEvaH8wJOLBtJ/i3wor9rppMAubaZjmGKsVeMt5/zXwNksWQ3gS/sWrMl30kz2amHyuE+uamUf4SE/UG6wWR7Rp8qm+FLNCVzFG7zc78oRtet9PyutKVZwDHvooPeIZlOqpiqGT3ITJbLy5VKkQvVbKZqHMx33IHp0Nuva4GRlOLFtMkWfj2Z5bhV4vkQDy82CkXtZBTcxs4GsDhiKNEVKiaidOxCvv5o0CcEIemY2cGseWE7tDDd+O37H731J8zXQMjCbZoy80tXdJP9yKTUbeZ2xa9/2WX11IwOR68wc6hqPOEgxmw3aXYV5E+c4DA5FqHXjmIdZ2di3JkONLusFwDrg5vDs6d6T1w5WfUmWORL1SD9aOVGXMV5zfnDKTTKec0+sVykdWMKbT8V5A1yPHOkwm+Krr4bpTbGSeW9pyYXbuAn56eXp1+98vu2IGjIB4F2LlbVP8sPIxwl7it9TLYZDoUdWlTcHSsP3LuyZXTN/kJkN4jPMi8lGLSLcck0MKZFrSHjqr0g==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "c0F1vV+02bXPOjBfGg2BmA==",
        "ETag": "\"0x8DD5D1690DF118C\"",
        "Last-Modified": "Fri, 07 Mar 2025 01:22:45 GMT",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-16eec027-1026-8090-ff39-5f37282154e8/ce8f49f7/f601e3f0/6942e3f5?comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 01:22:45 GMT",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D1690E79375\"",
        "Last-Modified": "Fri, 07 Mar 2025 01:22:45 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-03-07T01:22:45.8237813Z",
        "x-ms-file-creation-time": "2025-03-07T01:22:45.7062986Z",
        "x-ms-file-id": "16140971433240035328",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-16eec027-1026-8090-ff39-5f37282154e8/ce8f49f7/f601e3f0?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 01:22:46 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.file.core.windows.net/\" ShareName=\"test-share-16eec027-1026-8090-ff39-5f37282154e8\" DirectoryPath=\"ce8f49f7/f601e3f0\"><DirectoryId>11529285414812647424</DirectoryId><Entries><File><Name>6942e3f5</Name><FileId>16140971433240035328</FileId><Properties><Content-Length>1024</Content-Length></Properties></File><File><Name>b78f32fd</Name><FileId>13835093239654252544</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-16eec027-1026-8090-ff39-5f37282154e8/ce8f49f7/f601e3f0/6942e3f5",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 01:22:46 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D1690E79375\"",
        "Last-Modified": "Fri, 07 Mar 2025 01:22:45 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-03-07T01:22:45.8237813Z",
        "x-ms-file-creation-time": "2025-03-07T01:22:45.7062986Z",
        "x-ms-file-id": "16140971433240035328",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-16eec027-1026-8090-ff39-5f37282154e8/ce8f49f7/f601e3f0/6942e3f5",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 01:22:46 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "ETag": "\"0x8DD5D1690E79375\"",
        "Last-Modified": "Fri, 07 Mar 2025 01:22:45 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-03-07T01:22:45.8237813Z",
        "x-ms-file-creation-time": "2025-03-07T01:22:45.7062986Z",
        "x-ms-file-id": "16140971433240035328",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-ke[...]
[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-16eec027-1026-8090-ff39-5f37282154e8?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 01:22:46 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1946985062",
    "Storage_TestConfigDefault": "ProductionTenant\namandapreprod\nU2FuaXRpemVk\nhttps://amandapreprod.blob.core.windows.net\nhttps://amandapreprod.file.core.windows.net\nhttps://amandapreprod.queue.core.windows.net\nhttps://amandapreprod.table.core.windows.net\n\n\n\n\nhttps://amandapreprod-secondary.blob.core.windows.net\nhttps://amandapreprod-secondary.file.core.windows.net\nhttps://amandapreprod-secondary.queue.core.windows.net\nhttps://amandapreprod-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandapreprod.blob.core.windows.net/;QueueEndpoint=https://amandapreprod.queue.core.windows.net/;FileEndpoint=https://amandapreprod.file.core.windows.net/;BlobSecondaryEndpoint=https://amandapreprod-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandapreprod-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandapreprod-secondary.file.core.windows.net/;AccountName=amandapreprod;AccountKey=U2FuaXRpemVk\nencryptionScope\n\n"
  }
}
