{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-f412905f-d860-1f69-48b1-62af832efbc6?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 28 Oct 2024 21:17:33 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCF795EE4232A1\"",
        "Last-Modified": "Mon, 28 Oct 2024 21:17:29 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-f412905f-d860-1f69-48b1-62af832efbc6/d7e11aae?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 28 Oct 2024 21:17:33 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCF795EE4BB7C9\"",
        "Last-Modified": "Mon, 28 Oct 2024 21:17:29 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2024-10-28T21:17:29.9895241Z",
        "x-ms-file-creation-time": "2024-10-28T21:17:29.9895241Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-10-28T21:17:29.9895241Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "8016861625448480706*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-f412905f-d860-1f69-48b1-62af832efbc6/d7e11aae/42a52401?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 28 Oct 2024 21:17:33 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCF795EE55BEA4\"",
        "Last-Modified": "Mon, 28 Oct 2024 21:17:30 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2024-10-28T21:17:30.0552356Z",
        "x-ms-file-creation-time": "2024-10-28T21:17:30.0552356Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2024-10-28T21:17:30.0552356Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "8016861625448480706*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-f412905f-d860-1f69-48b1-62af832efbc6/d7e11aae/42a52401/d0d13bb1",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 28 Oct 2024 21:17:33 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-f412905f-d860-1f69-48b1-62af832efbc6/d7e11aae/42a52401/d0d13bb1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Mon, 28 Oct 2024 21:17:34 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCF795EE6C8866\"",
        "Last-Modified": "Mon, 28 Oct 2024 21:17:30 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-10-28T21:17:30.2045798Z",
        "x-ms-file-creation-time": "2024-10-28T21:17:30.2045798Z",
        "x-ms-file-id": "13835093239654252544",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-f412905f-d860-1f69-48b1-62af832efbc6/d7e11aae/42a52401/d0d13bb1?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Mon, 28 Oct 2024 21:17:34 GMT",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-01-05",
        "x-ms-write": "update"
      },
      "RequestBody": "Sb2uPBG8hGzvigwmobTLdmGqynv+BoKV+NHOTgr72xSE9G9E7dt3MSIETK0W1plxS/OOtS1+zkI6GEQ/7jZi8674oq1Eh4mFMplZ+rrVfyE3XQIWbSXnBSUtCtSXOEPsoVn+HTTsLcRqCIOUJdSIZJkiB5AzS4WIEZyHF3y17flVbFhg12HtSzA9rGSiUuBRpKU6dTCyuVbUdQyYZBZHtBuJPrh8KI03NLxg9Z8g5r68NnLXenjJo7MBjGFUVeYa9fdJGBQn1HwYAkB0UsO3s49O3C2jcDmjwJsFepwr49/VRv+n182qlGL2v3c3VFHvStjSBni5doW+plh4IVrg7B9gnwvDD9zBpEfLrbHCa2tKFi/DWd1nHNB66TF1MXIIFdJY1rVFKzv7EWEx7cjT+zrsLgsqHJNC+YI7SSarTHLUw5feapW2BOr0x0d7NS4Hpu33iANn3fk/FdwyCuIUUMTvXCkx9JGkNSkhNVRLx8NTM6I5tMNvbeadn1S5hPoI4HeCi9kF1rFbUlLaRael9E4Y3tY/2pwBgO5Dk1U967EuGFXcyDvqTl3x3mFwlCc++KsGoKYjyQXbgQvqwUJbHmehqy1SyCsSLo95Tvw6kOvHBZqqNkoLC09PAUYv/4walcD6zuj66zB/83IWqnoIoPAgI7ynsecclqDdAsbk4i4CXrk8QMECzBlqK0PY9WDVR2FWD9zQcuPY3jhIHelpmhBDE0vBzF8uHVaiPYajQ6E/CLtkjtNSMuvVY2KJuq8wAZAylOEVE3sBJ/KFLjVdNZqXCBUtBAw98eFf7Gj9pWOncTz1cK6/KvRAYmbgzQS2dy7H8bGZAvyE9aMAtSYSBIKP3bz5aMTr194g7aGlXCTdqXQ6NbOxDW5AcXsLv3TOLV7kUe9HvQ9q2xrSeRVa3ph/Iwux2M7P3c9NufZI4BhpUr9DwQs0lexlz1mZ35RZ5ZPii5toHFWPFHMf+QQZIfsBaCZVFhyNSo4fTAh1Nv479NNiZlR9ADZqtK2XFJvnTK5el3ZtBM93VUENSc9MGt505AUxtrumhGfw6mJv9TbyNwBaFp6IzfAD6xETb7dmHpnOIi+WtpbytxMOfBlsCF8KGxHP8QNA7BYVLcqqkxSwiszIoNMGW4BpaF+LeVHWl+OxCFSmliyWjjYYgYnLSCT+XvJMpGeLBL+QZYmktHLFPpXn+IrACvOgMhKd7dr2niA6jRtfifJ7JQOUFTCi8dnDU0Lz5E+ZPVP+rHJV7hblmcdpaSdXZrSja9KGLPXC/UA42pqXArnQoU/HYNyAJjfsr3tpOIeya+yNUHh8EhFeO64xHRR8TpYNmcjYjwXXIkWbmn15WcW4hm6uCbJBUw==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "5eS4pLNgSqYWoIXNpdYc9Q==",
        "ETag": "\"0x8DCF795EE75313D\"",
        "Last-Modified": "Mon, 28 Oct 2024 21:17:30 GMT",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-f412905f-d860-1f69-48b1-62af832efbc6/d7e11aae/42a52401?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 28 Oct 2024 21:17:34 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.file.core.windows.net/\" ShareName=\"test-share-f412905f-d860-1f69-48b1-62af832efbc6\" DirectoryPath=\"d7e11aae/42a52401\"><DirectoryId>11529285414812647424</DirectoryId><Entries><File><Name>d0d13bb1</Name><FileId>13835093239654252544</FileId><Properties><Content-Length>1024</Content-Length></Properties></File><File><Name>d7b4ac44</Name><FileId>16140971433240035328</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-f412905f-d860-1f69-48b1-62af832efbc6/d7e11aae/42a52401/d0d13bb1",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 28 Oct 2024 21:17:34 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DCF795EE75313D\"",
        "Last-Modified": "Mon, 28 Oct 2024 21:17:30 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-10-28T21:17:30.2613309Z",
        "x-ms-file-creation-time": "2024-10-28T21:17:30.2045798Z",
        "x-ms-file-id": "13835093239654252544",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-f412905f-d860-1f69-48b1-62af832efbc6/d7e11aae/42a52401/d0d13bb1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 28 Oct 2024 21:17:34 GMT",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DCF795EE75313D\"",
        "Last-Modified": "Mon, 28 Oct 2024 21:17:30 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-10-28T21:17:30.2613309Z",
        "x-ms-file-creation-time": "2024-10-28T21:17:30.2045798Z",
        "x-ms-file-id": "13835093239654252544",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "115[...]
[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-f412905f-d860-1f69-48b1-62af832efbc6?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 28 Oct 2024 21:17:34 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "837866226",
    "Storage_TestConfigDefault": "ProductionTenant\namandapreprod\nU2FuaXRpemVk\nhttps://amandapreprod.blob.core.windows.net\nhttps://amandapreprod.file.core.windows.net\nhttps://amandapreprod.queue.core.windows.net\nhttps://amandapreprod.table.core.windows.net\n\n\n\n\nhttps://amandapreprod-secondary.blob.core.windows.net\nhttps://amandapreprod-secondary.file.core.windows.net\nhttps://amandapreprod-secondary.queue.core.windows.net\nhttps://amandapreprod-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandapreprod.blob.core.windows.net/;QueueEndpoint=https://amandapreprod.queue.core.windows.net/;FileEndpoint=https://amandapreprod.file.core.windows.net/;BlobSecondaryEndpoint=https://amandapreprod-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandapreprod-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandapreprod-secondary.file.core.windows.net/;AccountName=amandapreprod;AccountKey=Sanitized\nEncryptionScope\n\n"
  }
}
