{
  "Entries": [
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-93ee1f8c-41bf-3343-2f5f-2a5052481e2b?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 31 Jan 2025 02:08:19 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD419C22158B2E\"",
        "Last-Modified": "Fri, 31 Jan 2025 02:08:19 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-93ee1f8c-41bf-3343-2f5f-2a5052481e2b/938a99fe?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 31 Jan 2025 02:08:19 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD419C221D8E41\"",
        "Last-Modified": "Fri, 31 Jan 2025 02:08:19 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-01-31T02:08:19.9544385Z",
        "x-ms-file-creation-time": "2025-01-31T02:08:19.9544385Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-01-31T02:08:19.9544385Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "1597566016123626978*9146977694084461163",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-93ee1f8c-41bf-3343-2f5f-2a5052481e2b/938a99fe/35cb0bb0?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 31 Jan 2025 02:08:19 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD419C22249214\"",
        "Last-Modified": "Fri, 31 Jan 2025 02:08:20 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-01-31T02:08:20.0004116Z",
        "x-ms-file-creation-time": "2025-01-31T02:08:20.0004116Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2025-01-31T02:08:20.0004116Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "1597566016123626978*9146977694084461163",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-93ee1f8c-41bf-3343-2f5f-2a5052481e2b/938a99fe/35cb0bb0/ed4a43e5",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Fri, 31 Jan 2025 02:08:20 GMT",
        "x-ms-type": "file",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD419C222B95EE\"",
        "Last-Modified": "Fri, 31 Jan 2025 02:08:20 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-01-31T02:08:20.0463854Z",
        "x-ms-file-creation-time": "2025-01-31T02:08:20.0463854Z",
        "x-ms-file-id": "16140971433240035328",
        "x-ms-file-last-write-time": "2025-01-31T02:08:20.0463854Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "15442983316638046949*9146977694084461163",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-93ee1f8c-41bf-3343-2f5f-2a5052481e2b/938a99fe/35cb0bb0/ed4a43e5?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Fri, 31 Jan 2025 02:08:20 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05",
        "x-ms-write": "update"
      },
      "RequestBody": "VSTxnq/JwgzrJV1JoZ7lHHW23MYCuwMN9xAlETl71nMFf+McOq1PU1GzYJMOrm8F60129Q7uUpoh5Kefo7HScE7qQyK7yOHIZoh0Tlpv/kmgICXsBOBkFixI+1YGsK+g4O9EJGpNSSJrro6FeQM/seVe/oOL5mxuhS31csyKwrbZ1G1qK9neU9YCgFVR3p0pCEpwqLEsFfqD1p49V9ZV4OzYrKWV1YYLf6usiGYWHKePzGqCGhoFrb5z51Q7oPsArJ9peTL4kzPEZCgGf42UbLn3rYts08bS0v/mIu0x0N6vrNvGraN0lzk2vrXx/y0x33qaRPJwk9nYl6YzEXBFkpRJVtKyzb8WghZSNRUR4NPRtEJzlozrPxgB7Rb8QYXI8Csgp6hbfxG7hMHcHV7Ex7bTYVwt0vwIXRe6sOCpGUCRikTq8DgqdjUxuBLKDyG6PSZfKeAomh4uGEqRoM8xEWqASpMZ2td9qOsn/BnqPU71AHK6SfBgaPAmu9fumdVm/6anScSOoGNP4oH0AZ0ERNv8nKBcd8h5IOKj8x7/jg8VwPxzQvOJZl8Pa2dvbGdSIXb78vw1CojeLSni661ET1Ny3kCgkQHocjZATAxhCrR6UNKnA5wS4LZ0lRTJpnqyyhsU/Y0nsY91E3/G9L17fSN1aJvanEu2X/6KLPzsH8y8joHwTQ0mU59CMvAcTOz4+BjxUz7f1y7PXZ2OnYWTiPSzCmU7iy8VThT7mGpbmhISkTPj+8uN3LZTIe9vmLYarqr8aEKGvG3o2wQp4z/Ec8KKfAtRr4woJS2v52lApbZe4em/XzHQi9TG+x/HZPl2j60t5RuqyP8d1EMV19UDqDVNygJWBBSRuvE2i7NtYcE0OFi8E8Cbsxjqoovuu7T/wlPpeZn2IIuYmyoqcz1Lr3OB4J58R5V1sRbpa2KJo/88N8hgg+cnPRfMI3eVcUDanvIYbNoVgnq+dMeCDbQpD/gr7Tx16yuLWqOHsCQd30DWD8xvcTYkJrRNoQ8fpDBioxN+aYMDZbPGjBE2jtJWoJSGrP3nuZ7BB8aHJ0kca7VyJAwQn3W90qkYqeQl7Zji9gB7mPgye+p1vGK8fD1qqiBcw2rGRgEfydlUzg+5nBkupTBIodO8QKkhmuITAFZrrv/DyCkuG7D/XM4f3qzbux9JjtYNIghNn4PBpKweC8mC6CAP9tTvAImASUUEnWH8Rt7CyXKAXoz2dimmbHcE4FAFnfaLy8VLWo1NjdjDSQIhxF7NW0JXAomUGX+qSJMSe2j1/wBrcXoZd2/kMtGzMywmhKgZN4QOrZps97JFoBH5OhFwzkoBtVLjtOTScs+44OVTg8Tq+UTj51Fl/3nI0w==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "IbV6N9/tBy9JxGQ05zfYFQ==",
        "ETag": "\"0x8DD419C22335CFE\"",
        "Last-Modified": "Fri, 31 Jan 2025 02:08:20 GMT",
        "x-ms-file-last-write-time": "2025-01-31T02:08:20.0973566Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-93ee1f8c-41bf-3343-2f5f-2a5052481e2b/938a99fe/35cb0bb0/ed4a43e5",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 31 Jan 2025 02:08:20 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD419C22335CFE\"",
        "Last-Modified": "Fri, 31 Jan 2025 02:08:20 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-01-31T02:08:20.0973566Z",
        "x-ms-file-creation-time": "2025-01-31T02:08:20.0463854Z",
        "x-ms-file-id": "16140971433240035328",
        "x-ms-file-last-write-time": "2025-01-31T02:08:20.0973566Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "15442983316638046949*9146977694084461163",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-93ee1f8c-41bf-3343-2f5f-2a5052481e2b/938a99fe/35cb0bb0/bca753af",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 31 Jan 2025 02:08:20 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-93ee1f8c-41bf-3343-2f5f-2a5052481e2b/938a99fe/35cb0bb0/bca753af?comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 31 Jan 2025 02:08:20 GMT",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD419C225F96B2\"",
        "Last-Modified": "Fri, 31 Jan 2025 02:08:20 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-01-31T02:08:20.3871922Z",
        "x-ms-file-creation-time": "2025-01-31T02:08:20.2982427Z",
        "x-ms-file-id": "13835093239654252544",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "15442983316638046949*9146977694084461163",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-93ee1f8c-41bf-3343-2f5f-2a5052481e2b/938a99fe/35cb0bb0?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 31 Jan 2025 02:08:20 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://jalauzonnettest.file.core.windows.net/\" ShareName=\"test-share-93ee1f8c-41bf-3343-2f5f-2a5052481e2b\" DirectoryPath=\"938a99fe/35cb0bb0\"><DirectoryId>11529285414812647424</DirectoryId><Entries><File><Name>869be04a</Name><FileId>13835163608398430208</FileId><Properties><Content-Length>1024</Content-Length></Properties></File><File><Name>b1f87b88</Name><FileId>10376363910205800448</FileId><Properties><Content-Length>1024</Content-Length></Properties></File><File><Name>bca753af</Name><FileId>13835093239654252544</FileId><Properties><Content-Length>1024</Content-Length></Properties></File><File><Name>ed4a43e5</Name><FileId>16140971433240035328</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-93ee1f8c-41bf-3343-2f5f-2a5052481e2b?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 31 Jan 2025 02:08:20 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "896498636",
    "Storage_TestConfigDefault": "ProductionTenant\njalauzonnettest\nU2FuaXRpemVk\nhttps://jalauzonnettest.blob.core.windows.net\nhttps://jalauzonnettest.file.core.windows.net\nhttps://jalauzonnettest.queue.core.windows.net\nhttps://jalauzonnettest.table.core.windows.net\n\n\n\n\nhttps://jalauzonnettest-secondary.blob.core.windows.net\nhttps://jalauzonnettest-secondary.file.core.windows.net\nhttps://jalauzonnettest-secondary.queue.core.windows.net\nhttps://jalauzonnettest-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://jalauzonnettest.blob.core.windows.net/;QueueEndpoint=https://jalauzonnettest.queue.core.windows.net/;FileEndpoint=https://jalauzonnettest.file.core.windows.net/;BlobSecondaryEndpoint=https://jalauzonnettest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jalauzonnettest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jalauzonnettest-secondary.file.core.windows.net/;AccountName=jalauzonnettest;AccountKey=U2FuaXRpemVk\ntestscope1\n\n"
  }
}
