{
  "Entries": [
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-c78dcfe3-cf11-c257-01d9-d5a9cb4be30e?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 04 Dec 2023 23:19:32 GMT",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBF51F78FCD1F8\u0022",
        "Last-Modified": "Mon, 04 Dec 2023 23:19:32 GMT",
        "x-ms-version": "2024-02-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-c78dcfe3-cf11-c257-01d9-d5a9cb4be30e/7a42e4c8?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 04 Dec 2023 23:19:32 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBF51F79155822\u0022",
        "Last-Modified": "Mon, 04 Dec 2023 23:19:32 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2023-12-04T23:19:32.7290402Z",
        "x-ms-file-creation-time": "2023-12-04T23:19:32.7290402Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2023-12-04T23:19:32.7290402Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "1597566016123626978*9146977694084461163",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-02-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-c78dcfe3-cf11-c257-01d9-d5a9cb4be30e/7a42e4c8/213a59af?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 04 Dec 2023 23:19:32 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBF51F79207A11\u0022",
        "Last-Modified": "Mon, 04 Dec 2023 23:19:32 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2023-12-04T23:19:32.8019985Z",
        "x-ms-file-creation-time": "2023-12-04T23:19:32.8019985Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2023-12-04T23:19:32.8019985Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "1597566016123626978*9146977694084461163",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-02-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-c78dcfe3-cf11-c257-01d9-d5a9cb4be30e/7a42e4c8/213a59af/288fda0f",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 04 Dec 2023 23:19:32 GMT",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2024-02-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-c78dcfe3-cf11-c257-01d9-d5a9cb4be30e/7a42e4c8/213a59af/288fda0f",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Mon, 04 Dec 2023 23:19:33 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBF51F7956C460\u0022",
        "Last-Modified": "Mon, 04 Dec 2023 23:19:33 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2023-12-04T23:19:33.1577952Z",
        "x-ms-file-creation-time": "2023-12-04T23:19:33.1577952Z",
        "x-ms-file-id": "16140971433240035328",
        "x-ms-file-last-write-time": "2023-12-04T23:19:33.1577952Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "15442983316638046949*9146977694084461163",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-02-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-c78dcfe3-cf11-c257-01d9-d5a9cb4be30e/7a42e4c8/213a59af/288fda0f?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Mon, 04 Dec 2023 23:19:33 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2024-02-04",
        "x-ms-write": "update"
      },
      "RequestBody": "EPa2HZ8uyg/0zkamVyfD0xafze1VPe40oaVNG9JW69m/bpTkcYo5k2wBrTf5wzCTMNyzmK\u002BOVNIHgnv54K88neJt5uiS3mGMZTmAU5C3Ot51uur2o1IpMRrB3e8OP7K9xQ9UjNxHAFJ6JzN1DgFCUEechCbFRfqQQ7TO0AFyfSWGwo6AY64BLbmXfHsftCMYf4yocbuM\u002BH8Vw0kneTBRCKkN7ktywe2Zm1ZsLcl\u002BcY\u002BRtVF0yQxp\u002BsoPa59l2rSJRnTSEcXYpr2fD9ZlIMq1llG6lsPe3D6do/SBY1ZNM8Ch4udVq2DJuA\u002BT1bo1BNn/WdRNq0Pxqmk1NG3RV0JnUdsVxD3jYOrx8N2zSgeDaJ8agQmB/4h9sDd\u002BH3fy92HNLIPfHz\u002BcHPnpXLplPWBhsczOttU45VFSmBQ[...]
[...]
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-c78dcfe3-cf11-c257-01d9-d5a9cb4be30e/7a42e4c8/213a59af?restype=directory\u0026comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 04 Dec 2023 23:19:33 GMT",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2024-02-04"
      },
      "ResponseBody": "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CEnumerationResults ServiceEndpoint=\u0022https://jalauzonnettest.file.core.windows.net/\u0022 ShareName=\u0022test-share-c78dcfe3-cf11-c257-01d9-d5a9cb4be30e\u0022 DirectoryPath=\u00227a42e4c8/213a59af\u0022\u003E\u003CDirectoryId\u003E11529285414812647424\u003C/DirectoryId\u003E\u003CEntries\u003E\u003CFile\u003E\u003CName\u003E288fda0f\u003C/Name\u003E\u003CFileId\u003E16140971433240035328\u003C/FileId\u003E\u003CProperties\u003E\u003CContent-Length\u003E1024\u003C/Content-Length\u003E\u003C/Properties\u003E\u003C/File\u003E\u003CFile\u003E\u003CName\u003Ea6d8d324\u003C/Name\u003E\u003CFileId\u003E10376363910205800448\u003C/FileId\u003E\u003CProperties\u003E\u003CContent-Length\u003E1024\u003C/Content-Length\u003E\u003C/Properties\u003E\u003C/File\u003E\u003C/Entries\u003E\u003CNextMarker /\u003E\u003C/EnumerationResults\u003E"
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-c78dcfe3-cf11-c257-01d9-d5a9cb4be30e/7a42e4c8/213a59af/288fda0f",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 04 Dec 2023 23:19:33 GMT",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DBF51F7964CC12\u0022",
        "Last-Modified": "Mon, 04 Dec 2023 23:19:33 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2023-12-04T23:19:33.2497426Z",
        "x-ms-file-creation-time": "2023-12-04T23:19:33.1577952Z",
        "x-ms-file-id": "16140971433240035328",
        "x-ms-file-last-write-time": "2023-12-04T23:19:33.2497426Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "15442983316638046949*9146977694084461163",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2024-02-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-c78dcfe3-cf11-c257-01d9-d5a9cb4be30e/7a42e4c8/213a59af/288fda0f",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 04 Dec 2023 23:19:33 GMT",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DBF51F7964CC12\u0022",
        "Last-Modified": "Mon, 04 Dec 2023 23:19:33 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2023-12-04T23:19:33.2497426Z",
        "x-ms-file-creation-time": "2023-12-04T23:19:33.1577952Z",
        "x-ms-file-id": "16140971433240035328",
        "x-ms-file-last-write-time": "2023-12-04T23:19:33.2497426Z",
        "x-ms-file-parent-i[...]
[...]
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-c78dcfe3-cf11-c257-01d9-d5a9cb4be30e?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 04 Dec 2023 23:19:33 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-02-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "836391323",
    "Storage_TestConfigDefault": "ProductionTenant\njalauzonnettest\nU2FuaXRpemVk\nhttps://jalauzonnettest.blob.core.windows.net\nhttps://jalauzonnettest.file.core.windows.net\nhttps://jalauzonnettest.queue.core.windows.net\nhttps://jalauzonnettest.table.core.windows.net\n\n\n\n\nhttps://jalauzonnettest-secondary.blob.core.windows.net\nhttps://jalauzonnettest-secondary.file.core.windows.net\nhttps://jalauzonnettest-secondary.queue.core.windows.net\nhttps://jalauzonnettest-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://jalauzonnettest.blob.core.windows.net/;QueueEndpoint=https://jalauzonnettest.queue.core.windows.net/;FileEndpoint=https://jalauzonnettest.file.core.windows.net/;BlobSecondaryEndpoint=https://jalauzonnettest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jalauzonnettest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jalauzonnettest-secondary.file.core.windows.net/;AccountName=jalauzonnettest;AccountKey=Sanitized\ntestscope1\n\n"
  }
}
