{
  "Entries": [
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-e9e4af1d-ab3f-45aa-85c4-150ff75f58e4?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 09 Sep 2025 21:39:59 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDEFE96D176748\"",
        "Last-Modified": "Tue, 09 Sep 2025 21:39:59 GMT",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-e9e4af1d-ab3f-45aa-85c4-150ff75f58e4/e0adff5b?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 09 Sep 2025 21:39:59 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDEFE96D211C05\"",
        "Last-Modified": "Tue, 09 Sep 2025 21:39:59 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-09-09T21:39:59.3783301Z",
        "x-ms-file-creation-time": "2025-09-09T21:39:59.3783301Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-09-09T21:39:59.3783301Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "1597566016123626978*9146977694084461163",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-e9e4af1d-ab3f-45aa-85c4-150ff75f58e4/e0adff5b/9302dadf?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 09 Sep 2025 21:39:59 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDEFE96D29A644\"",
        "Last-Modified": "Tue, 09 Sep 2025 21:39:59 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-09-09T21:39:59.4342980Z",
        "x-ms-file-creation-time": "2025-09-09T21:39:59.4342980Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2025-09-09T21:39:59.4342980Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "1597566016123626978*9146977694084461163",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-e9e4af1d-ab3f-45aa-85c4-150ff75f58e4/e0adff5b/9302dadf/dir1?restype=directory",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 09 Sep 2025 21:39:59 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ResourceNotFound</Code><Message>The specified resource does not exist.\n",
        "RequestId:9313b962-201a-007e-0fd2-214a85000000\n",
        "Time:2025-09-09T21:39:59.5017712Z</Message></Error>"
      ]
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-e9e4af1d-ab3f-45aa-85c4-150ff75f58e4/e0adff5b/9302dadf/file2",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 09 Sep 2025 21:39:59 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-e9e4af1d-ab3f-45aa-85c4-150ff75f58e4/e0adff5b/9302dadf/dir1/file1",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 09 Sep 2025 21:39:59 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-e9e4af1d-ab3f-45aa-85c4-150ff75f58e4/e0adff5b/9302dadf/file2",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Tue, 09 Sep 2025 21:39:59 GMT",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-type": "file",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDEFE96D3E63B9\"",
        "Last-Modified": "Tue, 09 Sep 2025 21:39:59 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-09-09T21:39:59.5702201Z",
        "x-ms-file-creation-time": "2025-09-09T21:39:59.5702201Z",
        "x-ms-file-id": "13835093239654252544",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "15442983316638046949*9146977694084461163",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-e9e4af1d-ab3f-45aa-85c4-150ff75f58e4/e0adff5b/9302dadf/file2?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 09 Sep 2025 21:39:59 GMT",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-11-05",
        "x-ms-write": "update"
      },
      "RequestBody": "4inj45Rqb5NwE1KOI+nkpfpVmr0u7Bpr1dEisZSTjol+D633WF8DK1j0Gso2EUNsOfaODapQkfYOeA3CSL3/3YTIDxQ77UyaUm9kOdFPNcSOtXieBIDeLn236OBRQOOb9T1FbQEuMEyp87s661gkv0NINJJEYdgE6uGXhARsSRKMyUSUCsfDX4Qs9BDFo0IkkimcCAxQVpRkQYIgl6xHPaqpriIUkLR7hdQNGGzHPkaecvHbz0AGO3KvL8lFo8fY5bZmHPQgEAF0IYM3Qj4nnQI8gSW6a25ponOvZGHrNuIMNTK2YSJRfmHwZ629zvg0iJHGCCGiHXlI/HmBcKygiOugKw0LcTvg6gLEygTArNR6e9vPJS3Aahe5bWWo0A60T97CHaPrKBdV5R4e3VN1iFClBvTQ0GO+38D1UgPWOBn0D3ol/o8xj1LEeT8PoozEQ+UUA8oZ5H96BD3i9dYTfq0EKc7YT4nAdHaiC1Yjrj00MQ8ewTVP2yv7q/pRT5p8sfqSC3i+7PNbVI5Td9goVlX/rcTH9L14tE6i3KSPbyXcJVpbkaPFdUUbw22m/GRS0lSkUqHVtb09GlYqGw9Py+Vpd1F+zcWyOjh/qzBP0bjpUApP6hyDBnCcHXdMm1o2y/eIPIUS1AWP8hdpVgmM7kieQMsE/+DI5XDh4a9NZZ/eSd84xpUz13wFwPgFGrBmEC8urluOMcwXwFYUMfJVQY14ig0pUyizamhP/z/owsvAetGAH7ZETxcTIQU+HqaJr35qjY+iPbwHe0PyPzGMLv6LVLYg1SLWMzv1FTEidEvCxVDAfTQ7HT0VeaNyUg/lhvIHs8rvadlblFlUrCeK5Af3L3rhzLHJUDZ5C1x/ZOEsD48/GsCB01t2ZOnb53EVi5SbeiOVBLpBPmOTdl593DB4KJyYS8lGdlseamfH7mjFY4DH4+m+lgvU/dxd7l39+Yi5Yr/UfT/KVATHdppTeVD6zRPetfhGuZGRw03t6Yf+IHDeDoup8eVA/Y/k9yBwgYOLYiBJH0SPcqguQrnx3Gt8yFYpdWvEUNwtnbhpYsJwIELKYYZntAAsTpzie68rTiAkZy7KRwwYxxJEHIKLJhDmvSF3J3vkFRNV/SbP4tQtAU+YRfqTptk2sZp0Iph+oCiL/L6NtCalP1IbdErlSeQ9Fxoy8+AWUhZHQHbgb/J71lz9Q+YWn00o8wWneDGPUGi2Ngt9S61IdamoRXOwxM9gn57t6AX+J3fNCv/abtrkt/ANKjnm/Yuutc08blnaeC42R9iToWhitw+TsEGtbQfPw42DopqWeaISPzI4wbke85LRpCYBUBWHq3IpUk1JAEfGbarLVtWUn802gGI1Kg==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "LtaZ5Y0HHqe0NTBDI4NT9Q==",
        "ETag": "\"0x8DDEFE96D4B5A23\"",
        "Last-Modified": "Tue, 09 Sep 2025 21:39:59 GMT",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-e9e4af1d-ab3f-45aa-85c4-150ff75f58e4/e0adff5b/9302dadf/dir1/file1?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 09 Sep 2025 21:39:59 GMT",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-11-05",
        "x-m[...]
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-e9e4af1d-ab3f-45aa-85c4-150ff75f58e4/e0adff5b/9302dadf/file2?comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 09 Sep 2025 21:39:59 GMT",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DDEFE96D53BD56\"",
        "Last-Modified": "Tue, 09 Sep 2025 21:39:59 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-09-09T21:39:59.7101398Z",
        "x-ms-file-creation-time": "2025-09-09T21:39:59.5702201Z",
        "x-ms-file-id": "13835093239654252544",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "15442983316638046949*9146977694084461163",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-e9e4af1d-ab3f-45aa-85c4-150ff75f58e4/e0adff5b/9302dadf/dir1/file1?comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 09 Sep 2025 21:39:59 GMT",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DDEFE96D5988DB\"",
        "Last-Modified": "Tue, 09 Sep 2025 21:39:59 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-09-09T21:39:59.7481179Z",
        "x-ms-file-creation-time": "2025-09-09T21:39:59.6371814Z",
        "x-ms-file-id": "10376363910205800448",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "16140971433240035328",
        "x-ms-file-permission-key": "15442983316638046949*9146977694084461163",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-e9e4af1d-ab3f-45aa-85c4-150ff75f58e4/e0adff5b/9302dadf?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 09 Sep 2025 21:39:59 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://jalauzonnettest.file.core.windows.net/\" ShareName=\"test-share-e9e4af1d-ab3f-45aa-85c4-150ff75f58e4\" DirectoryPath=\"e0adff5b/9302dadf\"><DirectoryId>11529285414812647424</DirectoryId><Entries><Directory><Name>dir1</Name><FileId>16140971433240035328</FileId><Properties /></Directory><File><Name>file1</Name><FileId>13835163608398430208</FileId><Properties><Content-Length>1024</Content-Length></Properties></File><File><Name>file2</Name><FileId>13835093239654252544</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-e9e4af1d-ab3f-45aa-85c4-150ff75f58e4/e0adff5b/9302dadf/dir1?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 09 Sep 2025 21:39:59 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://jalauzonnettest.file.core.windows.net/\" ShareName=\"test-share-e9e4af1d-ab3f-45aa-85c4-150ff75f58e4\" DirectoryPath=\"e0adff5b/9302dadf/dir1\"><DirectoryId>16140971433240035328</DirectoryId><Entries><File><Name>file1</Name><FileId>10376363910205800448</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-e9e4af1d-ab3f-45aa-85c4-150ff75f58e4/e0adff5b/9302dadf/dir1/file1",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 09 Sep 2025 21:40:00 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DDEFE96D5988DB\"",
        "Last-Modified": "Tue, 09 Sep 2025 21:39:59 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-09-09T21:39:59.7481179Z",
        "x-ms-file-creation-time": "2025-09-09T21:39:59.6371814Z",
        "x-ms-file-id": "10376363910205800448",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "16140971433240035328",
        "x-ms-file-permission-key": "15442983316638046949*9146977694084461163",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-e9e4af1d-ab3f-45aa-85c4-150ff75f58e4/e0adff5b/9302dadf/dir1/file1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 09 Sep 2025 21:40:00 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "ETag": "\"0x8DDEFE96D5988DB\"",
        "Last-Modified": "Tue, 09 Sep 2025 21:39:59 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-09-09T21:39:59.7481179Z",
        "x-ms-file-creation-time": "2025-09-09T21:39:59.6371814Z",
        "x-ms-file-id": "10376363910205800448",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "16140971433240035328",
        "x-ms-file-permission-ke[...]
[...]
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-e9e4af1d-ab3f-45aa-85c4-150ff75f58e4?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 09 Sep 2025 21:40:00 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "2081463291",
    "Storage_TestConfigDefault": "ProductionTenant\njalauzonnettest\nU2FuaXRpemVk\nhttps://jalauzonnettest.blob.core.windows.net\nhttps://jalauzonnettest.file.core.windows.net\nhttps://jalauzonnettest.queue.core.windows.net\nhttps://jalauzonnettest.table.core.windows.net\n\n\n\n\nhttps://jalauzonnettest-secondary.blob.core.windows.net\nhttps://jalauzonnettest-secondary.file.core.windows.net\nhttps://jalauzonnettest-secondary.queue.core.windows.net\nhttps://jalauzonnettest-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://jalauzonnettest.blob.core.windows.net/;QueueEndpoint=https://jalauzonnettest.queue.core.windows.net/;FileEndpoint=https://jalauzonnettest.file.core.windows.net/;BlobSecondaryEndpoint=https://jalauzonnettest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jalauzonnettest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jalauzonnettest-secondary.file.core.windows.net/;AccountName=jalauzonnettest;AccountKey=U2FuaXRpemVk\ntestscope1\n\n"
  }
}
