{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-bbd2d335-5208-7737-7e6b-f175ca274204?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Dec 2024 17:28:36 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD161B6A5BE25F\"",
        "Last-Modified": "Fri, 06 Dec 2024 17:28:36 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-bbd2d335-5208-7737-7e6b-f175ca274204/904505e5?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Dec 2024 17:28:36 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD161B6A65D14E\"",
        "Last-Modified": "Fri, 06 Dec 2024 17:28:36 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2024-12-06T17:28:36.1464142Z",
        "x-ms-file-creation-time": "2024-12-06T17:28:36.1464142Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-12-06T17:28:36.1464142Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "8016861625448480706*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-bbd2d335-5208-7737-7e6b-f175ca274204/904505e5/6b3faa07?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Dec 2024 17:28:36 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD161B6A6EEEDF\"",
        "Last-Modified": "Fri, 06 Dec 2024 17:28:36 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2024-12-06T17:28:36.2061535Z",
        "x-ms-file-creation-time": "2024-12-06T17:28:36.2061535Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2024-12-06T17:28:36.2061535Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "8016861625448480706*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-bbd2d335-5208-7737-7e6b-f175ca274204/904505e5/6b3faa07/ceef50aa",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Fri, 06 Dec 2024 17:28:36 GMT",
        "x-ms-type": "file",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD161B6A78334F\"",
        "Last-Modified": "Fri, 06 Dec 2024 17:28:36 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-12-06T17:28:36.2668879Z",
        "x-ms-file-creation-time": "2024-12-06T17:28:36.2668879Z",
        "x-ms-file-id": "16140971433240035328",
        "x-ms-file-last-write-time": "2024-12-06T17:28:36.2668879Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-bbd2d335-5208-7737-7e6b-f175ca274204/904505e5/6b3faa07/ceef50aa?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Fri, 06 Dec 2024 17:28:36 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05",
        "x-ms-write": "update"
      },
      "RequestBody": "+ahZhypRJ3uNGjNEN69gamB0PfrNeHciTsbMygA2B+cYnnWoQGMHwXEZC54Vd7Ii3eTRik6nGIAxNjljhF17VhJLLJg6uCn8bHuJtG3ZDNYUqu0bZX2YcIX0dwkqozwUnbSLyUsZ6CW71B3THWQTWCpiT9pvYPGVs7sTRUEf0cg+dRa4TUOL+sLHX5BfxVIg4R/fyFNipD3D9haPBaPkmwJVlKhOWgrn11QYqABhNe1o82MiQAl03NHY9Vcs+/Uf4sSNCTGq0oYU+PH/Svs9YcAoJxI/wlv54bfXdWWyuttf+cU80yu8viDcDUcYdZLVm5OXBNTj3yBolCh501whYj0Vn1E1AY6Ua2jxYrUT4GskAdrRG7UHfBml0z8DQurEu6sKA9VBoJoFAplr8n1rVLO9VdKCT0aHDiM3kC1OkSh+LaYKCd2V42A/zBgcm4mbOn+LRu0YQWtkgvWyCQ9stnFw7cXWYUvWJ3FxQ4MuanKZnFauw0s7Zes6pYbn49lR0xWnrK7ExNk0tB58pv7oNhiDGGy5vvMmNYfZnLvE70OXIG9thr7D1Nh9eQ4svr7tUm5uZMptlxQhgXcn6ygdb8Xb5IaOe69Zv0OUPETl+XbI60lMVop4KohbSwVGnOmvXwpJUNo4X9e/FKWG2FvQPIcBXv/e0Bk6Yrr9My+qEyJa5dw6nKibkIxyjUHl8VItiw59RT7p0I/wDu0gOiynFAGCLPJ/laDeZc5zbEPYVXFn0KggLM3kcRRNSY27e1Vgyng/YsVfrfVun99vdWRLGLh8uGmEhugznrveMkwSI+p5E6HKmPOrCCKysoztdPuvATDVPsLr3EOPDMMKgHupW3v19mLDgIDE0LBG0dRbRSnALjAbPeQnjTddOowvoYenCVcQ+H6Y7ICwEG0SpApvNMaaSlFKjR2WzmgqZkb0lS8pn8d9Sk2rJ0Kwaix3Feks7QbFlVc1XHs5eSoVboU6vHs+6ARC8ul47iIOmiPxH7h//ng/Lv/X80NMRNAjlbm9da6xOSzk6fsdTaY0JsFYSFpxlW8M+o18ZvXB9q0YVVhpUSR1P+aLmxR9IuFYos2B9Px2sf9JsHogNdI3IvNNBPhNytSc4whz5vpbj9isI8MoPwKxoqNZIKGqVAoUVHghLx7pCtf45BHzAssF7SGicxEOD+Lwm2FU9Koz8o7+X5GBOl+6wxjrL1rxvp/XUzKAB+H4BUSVMJO8lBUtxPKC9aI5g7PB57D5It+H/93CfKF3s+qtBllM7ArM/i8Dvmtobsj8ndB/vh8w/+NlDTC2+hd0tRAH1e9J7Zep9emA9WN0H5AVxd7R9/TKfAd2597ZFQMXjghaYZnZs7A41sk2rw==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "fbIUmASNDQ3T+lDlu7gPbw==",
        "ETag": "\"0x8DD161B6A81C582\"",
        "Last-Modified": "Fri, 06 Dec 2024 17:28:36 GMT",
        "x-ms-file-last-write-time": "2024-12-06T17:28:36.3296130Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-bbd2d335-5208-7737-7e6b-f175ca274204/904505e5/6b3faa07/ceef50aa",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Dec 2024 17:28:36 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD161B6A81C582\"",
        "Last-Modified": "Fri, 06 Dec 2024 17:28:36 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-12-06T17:28:36.3296130Z",
        "x-ms-file-creation-time": "2024-12-06T17:28:36.2668879Z",
        "x-ms-file-id": "16140971433240035328",
        "x-ms-file-last-write-time": "2024-12-06T17:28:36.3296130Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-bbd2d335-5208-7737-7e6b-f175ca274204/904505e5/6b3faa07/a620f5ca",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Dec 2024 17:28:36 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-bbd2d335-5208-7737-7e6b-f175ca274204/904505e5/6b3faa07?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Dec 2024 17:28:36 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.file.core.windows.net/\" ShareName=\"test-share-bbd2d335-5208-7737-7e6b-f175ca274204\" DirectoryPath=\"904505e5/6b3faa07\"><DirectoryId>11529285414812647424</DirectoryId><Entries><File><Name>52f0f0a5</Name><FileId>10376363910205800448</FileId><Properties><Content-Length>1024</Content-Length></Properties></File><File><Name>a620f5ca</Name><FileId>13835093239654252544</FileId><Properties><Content-Length>1024</Content-Length></Properties></File><File><Name>b2c761db</Name><FileId>13835163608398430208</FileId><Properties><Content-Length>1024</Content-Length></Properties></File><File><Name>ceef50aa</Name><FileId>16140971433240035328</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-bbd2d335-5208-7737-7e6b-f175ca274204?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Dec 2024 17:28:36 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "2125075167",
    "Storage_TestConfigDefault": "ProductionTenant\namandapreprod\nU2FuaXRpemVk\nhttps://amandapreprod.blob.core.windows.net\nhttps://amandapreprod.file.core.windows.net\nhttps://amandapreprod.queue.core.windows.net\nhttps://amandapreprod.table.core.windows.net\n\n\n\n\nhttps://amandapreprod-secondary.blob.core.windows.net\nhttps://amandapreprod-secondary.file.core.windows.net\nhttps://amandapreprod-secondary.queue.core.windows.net\nhttps://amandapreprod-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandapreprod.blob.core.windows.net/;QueueEndpoint=https://amandapreprod.queue.core.windows.net/;FileEndpoint=https://amandapreprod.file.core.windows.net/;BlobSecondaryEndpoint=https://amandapreprod-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandapreprod-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandapreprod-secondary.file.core.windows.net/;AccountName=amandapreprod;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
