{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-eaccce85-5541-55a1-d34c-8a872d18fec5?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 14:51:19 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC87014AD6F56A\"",
        "Last-Modified": "Fri, 07 Jun 2024 14:51:20 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-eaccce85-5541-55a1-d34c-8a872d18fec5/83ed8eb5?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 14:51:19 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC87014AE32DDC\"",
        "Last-Modified": "Fri, 07 Jun 2024 14:51:20 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2024-06-07T14:51:20.0887260Z",
        "x-ms-file-creation-time": "2024-06-07T14:51:20.0887260Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-06-07T14:51:20.0887260Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "9736643157039165508*17277118026500876237",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-eaccce85-5541-55a1-d34c-8a872d18fec5/83ed8eb5/b0547121?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 14:51:19 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC87014AECF07A\"",
        "Last-Modified": "Fri, 07 Jun 2024 14:51:20 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2024-06-07T14:51:20.1526906Z",
        "x-ms-file-creation-time": "2024-06-07T14:51:20.1526906Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2024-06-07T14:51:20.1526906Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "9736643157039165508*17277118026500876237",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-eaccce85-5541-55a1-d34c-8a872d18fec5/83ed8eb5/b0547121/eb4974d1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Fri, 07 Jun 2024 14:51:19 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC87014AF70114\"",
        "Last-Modified": "Fri, 07 Jun 2024 14:51:20 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-06-07T14:51:20.2186516Z",
        "x-ms-file-creation-time": "2024-06-07T14:51:20.2186516Z",
        "x-ms-file-id": "16140971433240035328",
        "x-ms-file-last-write-time": "2024-06-07T14:51:20.2186516Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "5144323600546320195*17277118026500876237",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-eaccce85-5541-55a1-d34c-8a872d18fec5/83ed8eb5/b0547121/eb4974d1?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Fri, 07 Jun 2024 14:51:19 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2024-08-04",
        "x-ms-write": "update"
      },
      "RequestBody": "A1HOVJjNz7CjWKu5RMQsYRTjWDbgBPqTPC2bcRsHP8D+HtPNBSxLaSE9m7catIHNpmQSAjpbHv5WOhhrMV2UnBjruibxX1zol+4UomhDeYerzsu39D2FowDUd8sT4DjEqf6fL/pb3EcIKmpLRnuVEsGQv2KS3afaZRclHOeQ1La1UPlppEmNUPKEr8rSOl2FPmQJgyDVMctXxMrjNb9fd1WzlfWBLG53Am9wDi3dCCq6oN6Dh1CW4B4uEuB/qhoyJDh0HqRnBBL2kYGxZSOdebyfKZXh2+8EHbXXUxmO+FhVPun1aemGUpzLjfXP5Hv7kJkj4IGEUUhIbwDvkLD5Z5kpXCY6pw/SGNb5FU76NTk628N/ahjW0O2grfrolsLr0iVcpohUweiJUcerizv6TTrHtLTtef2BUow5mfkV6oITDUMpnY6x5hra9RlQK0SxpmC/IeEO/lgn21T8Gijuc2ZFl3740bCrFs6ZEoPkMCZHiPKZVcigBA/qAcE6tczy7IGyC5PGudWvFAsTdOvUQ6sttJE1VB6dpZJuDc/ucGECpyYCMiSSgM8c6kG9jJAkFb4WDQA6vJhjFGYBWKsFwaOpEM3F0hGGmjPCGGrc3xgCSvcR12NgyOqNnh2+kSgjFiidE3zCX0OtkHLMd6QuhjRO/g209OlASUjjNzPzxwgKnwFBP8ucP+u0ZEfwk1BGXxfocJMbbyI/Xcoz3ycPuchqwdii7Udosb4i/5CiT7X4nNccCld17zDfAeIBaGDDpKp+htF4o3LQgL7U+G+RnA0VO0JQ869x9dKnwutkZ0leX1vlI8njf/llS4qYoPfBTWXU7C0dcrH7DZH/0OGHbBh1dpkUq3lEMbtJ66gk2FTb5nSGj3sbQeyp6hU35K8X3d5yIiperKLrkLpy04cJ1jU8JOlsAdydWjSsasFjDE0LMQ3JsrUqfTrSmv/AqW1loBPg+7/Fq9wC1Mj1sUHgiINtZqF5PyR/EqevmWbd3bDHRsqtgxGNRYYwx93sNcv48RJ7UkLL62DvYOkYFhF2JPcXLWt3MwRx3yAbSHhGkt3ct6hUYYpu+1ppvSIodS91uqLm1QdfgL4NCXMhsKLnqM0MPF9pIcJtqTIQDnXhSWrxpY7WYL3VfDbpRlcWTEu3gRVVHDjQDJjfeCvUT3JILMAJMAsUEUgPNsAof9trVlznWIxgjCwxIZj19ueSACzEoBmXDRw/onDMReZ4p429dCHO7fbm6KCT1w5yHxphfTWTY97B00lAp7UblEZGuHkLOILFwxM13rh5BDUNzYNVa8iw5ESv+6HYjkZBylRZTB6UZ+eYm7kiXYUlSM8TMtoyxih9ldM1XD3h7TXM9BNkHw==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "UVgfqBzj+k4kbmwuwmEqkA==",
        "ETag": "\"0x8DC87014B0186DD\"",
        "Last-Modified": "Fri, 07 Jun 2024 14:51:20 GMT",
        "x-ms-file-last-write-time": "2024-06-07T14:51:20.2876125Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-eaccce85-5541-55a1-d34c-8a872d18fec5/83ed8eb5/b0547121/381633c5",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 14:51:19 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-eaccce85-5541-55a1-d34c-8a872d18fec5/83ed8eb5/b0547121/eb4974d1",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 14:51:19 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC87014B0186DD\"",
        "Last-Modified": "Fri, 07 Jun 2024 14:51:20 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-06-07T14:51:20.2876125Z",
        "x-ms-file-creation-time": "2024-06-07T14:51:20.2186516Z",
        "x-ms-file-id": "16140971433240035328",
        "x-ms-file-last-write-time": "2024-06-07T14:51:20.2876125Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "5144323600546320195*17277118026500876237",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-eaccce85-5541-55a1-d34c-8a872d18fec5/83ed8eb5/b0547121?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 14:51:20 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://seanmcccanada.file.core.windows.net/\" ShareName=\"test-share-eaccce85-5541-55a1-d34c-8a872d18fec5\" DirectoryPath=\"83ed8eb5/b0547121\"><DirectoryId>11529285414812647424</DirectoryId><Entries><File><Name>381633c5</Name><FileId>14988049928633188352</FileId><Properties><Content-Length>1024</Content-Length></Properties></File><File><Name>eb4974d1</Name><FileId>16140971433240035328</FileId><Properties><Content-Length>1024</Content-Length></Properties></File><File><Name>fc1e2c28</Name><FileId>10376363910205800448</FileId><Properties><Content-Length>1024</Content-Length></Properties></File><File><Name>fd7cd192</Name><FileId>13835093239654252544</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-eaccce85-5541-55a1-d34c-8a872d18fec5?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 14:51:20 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1316398753",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanada\nU2FuaXRpemVk\nhttps://seanmcccanada.blob.core.windows.net\nhttps://seanmcccanada.file.core.windows.net\nhttps://seanmcccanada.queue.core.windows.net\nhttps://seanmcccanada.table.core.windows.net\n\n\n\n\nhttps://seanmcccanada-secondary.blob.core.windows.net\nhttps://seanmcccanada-secondary.file.core.windows.net\nhttps://seanmcccanada-secondary.queue.core.windows.net\nhttps://seanmcccanada-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seanmcccanada.blob.core.windows.net/;QueueEndpoint=https://seanmcccanada.queue.core.windows.net/;FileEndpoint=https://seanmcccanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanada-secondary.file.core.windows.net/;AccountName=seanmcccanada;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
