{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-39219e81-61d9-edfb-c3c2-dfc06c041e45?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 06 Nov 2023 21:04:48 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBDF0C0323B761\u0022",
        "Last-Modified": "Mon, 06 Nov 2023 21:04:48 GMT",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-39219e81-61d9-edfb-c3c2-dfc06c041e45/04aca5e0?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 06 Nov 2023 21:04:48 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBDF0C032BA224\u0022",
        "Last-Modified": "Mon, 06 Nov 2023 21:04:48 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2023-11-06T21:04:48.8849956Z",
        "x-ms-file-creation-time": "2023-11-06T21:04:48.8849956Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2023-11-06T21:04:48.8849956Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "9736643157039165508*17277118026500876237",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-39219e81-61d9-edfb-c3c2-dfc06c041e45/04aca5e0/f1cc99d7?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 06 Nov 2023 21:04:48 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBDF0C0332CD07\u0022",
        "Last-Modified": "Mon, 06 Nov 2023 21:04:48 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2023-11-06T21:04:48.9319687Z",
        "x-ms-file-creation-time": "2023-11-06T21:04:48.9319687Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2023-11-06T21:04:48.9319687Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "9736643157039165508*17277118026500876237",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-39219e81-61d9-edfb-c3c2-dfc06c041e45/04aca5e0/f1cc99d7/e9b6ca12",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Mon, 06 Nov 2023 21:04:48 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBDF0C033934BE\u0022",
        "Last-Modified": "Mon, 06 Nov 2023 21:04:48 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2023-11-06T21:04:48.9739454Z",
        "x-ms-file-creation-time": "2023-11-06T21:04:48.9739454Z",
        "x-ms-file-id": "16140971433240035328",
        "x-ms-file-last-write-time": "2023-11-06T21:04:48.9739454Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "5144323600546320195*17277118026500876237",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-39219e81-61d9-edfb-c3c2-dfc06c041e45/04aca5e0/f1cc99d7/e9b6ca12?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Mon, 06 Nov 2023 21:04:48 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2023-11-03",
        "x-ms-write": "update"
      },
      "RequestBody": "Iyq1fOE2RBy8bZ88/dvbSNKINAjd1HGO7BIOi4lF1GNA24G6B7ru9/3nZWUtyyRhqydvas2MOE65JpDPKLmSdpk7\u002ByJaIUEXmT0L9m8LYCHtrd9h1WqVtKIyAOAqH85EVO/L8dACBormWNCPgULfrcVv4nrZMaAupUeAKCBg7Hlvx6F/P25R66ZUen2ZBjJfUlIbuz1TaiNOnUyIgt1phmtWILqhYG1WHvbThLYjlZ8UINbNRDE8G1x9MaIiyGjJ6/QRQuZ4vvLlxJ1Gf\u002BZtKgesdGEHm0E5GgVeIy7KM1WNCpnBEVK4m2Hk6ICU9Zt1EAabdlMHwU\u002By2CjhGpvDGpFHuHVNqxm19NgAI7PBpSRp6BMoL70ChklKDzkq14HGIM7vTTwmKGTt5oF6Bp2c8DIDdzKIm\u002BrTRDErA5zfihxXOgLk0lfnQ7\[...]
[...]
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-39219e81-61d9-edfb-c3c2-dfc06c041e45/04aca5e0/f1cc99d7/04344316",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 06 Nov 2023 21:04:48 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-39219e81-61d9-edfb-c3c2-dfc06c041e45/04aca5e0/f1cc99d7/7548bd12",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 06 Nov 2023 21:04:48 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DBDF0C035A4C79\u0022",
        "Last-Modified": "Mon, 06 Nov 2023 21:04:49 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2023-11-06T21:04:49.1908217Z",
        "x-ms-file-creation-time": "2023-11-06T21:04:49.1238596Z",
        "x-ms-file-id": "10376363910205800448",
        "x-ms-file-last-write-time": "2023-11-06T21:04:49.1908217Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "5144323600546320195*17277118026500876237",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-39219e81-61d9-edfb-c3c2-dfc06c041e45?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 06 Nov 2023 21:04:49 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1425561340",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanada\nU2FuaXRpemVk\nhttps://seanmcccanada.blob.core.windows.net\nhttps://seanmcccanada.file.core.windows.net\nhttps://seanmcccanada.queue.core.windows.net\nhttps://seanmcccanada.table.core.windows.net\n\n\n\n\nhttps://seanmcccanada-secondary.blob.core.windows.net\nhttps://seanmcccanada-secondary.file.core.windows.net\nhttps://seanmcccanada-secondary.queue.core.windows.net\nhttps://seanmcccanada-secondary.table.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://seanmcccanada.blob.core.windows.net/;QueueEndpoint=https://seanmcccanada.queue.core.windows.net/;FileEndpoint=https://seanmcccanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanada-secondary.file.core.windows.net/;AccountName=seanmcccanada;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
