{
  "Entries": [
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-fc4ba4fc-9a43-d0ac-d3ae-074441f87528?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 31 Jan 2025 02:08:05 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD419C19580250\"",
        "Last-Modified": "Fri, 31 Jan 2025 02:08:05 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-fc4ba4fc-9a43-d0ac-d3ae-074441f87528/35df5798?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 31 Jan 2025 02:08:05 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD419C195FE6FB\"",
        "Last-Modified": "Fri, 31 Jan 2025 02:08:05 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-01-31T02:08:05.2897531Z",
        "x-ms-file-creation-time": "2025-01-31T02:08:05.2897531Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-01-31T02:08:05.2897531Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "1597566016123626978*9146977694084461163",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-fc4ba4fc-9a43-d0ac-d3ae-074441f87528/35df5798/4163a943?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 31 Jan 2025 02:08:05 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD419C1966EAD7\"",
        "Last-Modified": "Fri, 31 Jan 2025 02:08:05 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-01-31T02:08:05.3357271Z",
        "x-ms-file-creation-time": "2025-01-31T02:08:05.3357271Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2025-01-31T02:08:05.3357271Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "1597566016123626978*9146977694084461163",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-fc4ba4fc-9a43-d0ac-d3ae-074441f87528/35df5798/4163a943/2947c0d0",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 31 Jan 2025 02:08:05 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-fc4ba4fc-9a43-d0ac-d3ae-074441f87528/35df5798/4163a943/2947c0d0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Fri, 31 Jan 2025 02:08:05 GMT",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-type": "file",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD419C1976C710\"",
        "Last-Modified": "Fri, 31 Jan 2025 02:08:05 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-01-31T02:08:05.4396688Z",
        "x-ms-file-creation-time": "2025-01-31T02:08:05.4396688Z",
        "x-ms-file-id": "16140971433240035328",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "15442983316638046949*9146977694084461163",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-fc4ba4fc-9a43-d0ac-d3ae-074441f87528/35df5798/4163a943/2947c0d0?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Fri, 31 Jan 2025 02:08:05 GMT",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05",
        "x-ms-write": "update"
      },
      "RequestBody": "jU3l0AeGyawW9OzJ+ET8Xjgz3hBzf5iqf39d53BigVgqsf+NYBX3MidrxLQ4d8+HSw+PFH2Kjw20OlGHKeI7s3KTnkZFb/4jO6zoCLvkcQev1pxg023aoCLy2CXEbwhFLxFBpdiIQdsRa9jRoYdR0MhK2FNF298Fuf4kUpfZX8ujotiqo8wuJ5TBT2eUCf6boAhceZe1AFMxO+zaZO5DNwwNLf+upyz8G7C+hIx4ca8AiLKPfOUz7aKEeGfgVMOlfRdahtv+7fnbYF7m93zHuck82ds8tLon2UBcKS/EHMftGAZ0HerUAZu5sxyHTPYmvb6do3rnachcM62aosPJFkSW+N51U5zfaNc/gwCeoIxKNmxwJ3hMBq89F+k9OV/Y753Y8FQXsGoivjuip+XIvpIgUGtWWO/LSvIuNzuyoi54Z5NjxbA4MoUCTmg8qV7KdVlXHOjzgZatDKZh6HkubxwNKkBRZPji6B7lVAqHj6CUZMHhW4VGhOX9tbkK10oM095LL38eeBBgdDTKDS2MJn0FzYO3TBSWx6VaVK8/2BHU2IArO18gduywgedRe3e4cY48BAnGVYbKtWjawyNhIZwi9jStYOsd5VeXBsstRUsuouMhA9MHDYP5YYb3RrLIT19KLoRCChCiHh+yLk+7nW8cqyBAPx7IG+ixtP9lJp6kz7Zs4hbG7JjSfuS0VN80PsMW2pqShxBBghOckFYRPfiADl+YTrtZVr+IbcA6E8YJfXY7T0sDEkemK18CKltBwUHrM0aAm+8IvIPbCRlPBm5NkxPg1u2sffsY8iNbVyxkRqx+TuCAieGGM5PHKAktViTwtZZHYetTPrZKZ6jLrGRXdsJt0LiOzAoyWaJa5FTy6pz/a6GVHOXBKg8pNSE4u4YucLJGwIVsYeiMFQhI+VpiWH0My0DDwlndq6WoZZfp+Z0cLHShqyoWkwm5CQfceTG1x92jK+9Fa61YaRXgw/xQohtrK8zlwKxT9jg2CblSADFz8p26Rc2t1sHHSUIVNs8NaGbrcU1l0AYxUDW3DmH0BmnjbNBell1OvVUKHndqPcBoKaFSZo/kDiKXifSY9sdg0kLYMcn/rtEInbT4WrKPxxJ1TuXAoaDZ/12uxw1otsaNqks0kQv2aXrPScja67RvB8HhI6fioDCi/jJsUOfEoOftaq9mWjYGfuVq8FfX/xOpP79LhpMeqwobkZLZiRmTC6nh7YAECayL2qTCeK/Yy/8fwhEneBlUzr+lS8mjLfTM1uWu9RGSpTUSv6zuXDJaQsaSuscHbJKQjR7BXr3j562v9aHKKtbujB3bFLhtZXGMSwgCEXMtxGpSHWfz0UZ3L9f/P2eRkBjwpC2pLA==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "An2FpRShtzl3nlLU/VHCSw==",
        "ETag": "\"0x8DD419C197E670C\"",
        "Last-Modified": "Fri, 31 Jan 2025 02:08:05 GMT",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-fc4ba4fc-9a43-d0ac-d3ae-074441f87528/35df5798/4163a943/2947c0d0?comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 31 Jan 2025 02:08:05 GMT",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD419C19851CD6\"",
        "Last-Modified": "Fri, 31 Jan 2025 02:08:05 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-01-31T02:08:05.5336150Z",
        "x-ms-file-creation-time": "2025-01-31T02:08:05.4396688Z",
        "x-ms-file-id": "16140971433240035328",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "15442983316638046949*9146977694084461163",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-fc4ba4fc-9a43-d0ac-d3ae-074441f87528/35df5798/4163a943?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 31 Jan 2025 02:08:05 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://jalauzonnettest.file.core.windows.net/\" ShareName=\"test-share-fc4ba4fc-9a43-d0ac-d3ae-074441f87528\" DirectoryPath=\"35df5798/4163a943\"><DirectoryId>11529285414812647424</DirectoryId><Entries><File><Name>2947c0d0</Name><FileId>16140971433240035328</FileId><Properties><Content-Length>1024</Content-Length></Properties></File><File><Name>da17f1b8</Name><FileId>13835093239654252544</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-fc4ba4fc-9a43-d0ac-d3ae-074441f87528/35df5798/4163a943/2947c0d0",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 31 Jan 2025 02:08:05 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD419C19851CD6\"",
        "Last-Modified": "Fri, 31 Jan 2025 02:08:05 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-01-31T02:08:05.5336150Z",
        "x-ms-file-creation-time": "2025-01-31T02:08:05.4396688Z",
        "x-ms-file-id": "16140971433240035328",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "15442983316638046949*9146977694084461163",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-fc4ba4fc-9a43-d0ac-d3ae-074441f87528/35df5798/4163a943/2947c0d0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 31 Jan 2025 02:08:05 GMT",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "ETag": "\"0x8DD419C19851CD6\"",
        "Last-Modified": "Fri, 31 Jan 2025 02:08:05 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-01-31T02:08:05.5336150Z",
        "x-ms-file-creation-time": "2025-01-31T02:08:05.4396688Z",
        "x-ms-file-id": "16140971433240035328",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-ke[...]
[...]
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-fc4ba4fc-9a43-d0ac-d3ae-074441f87528?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 31 Jan 2025 02:08:05 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "455892493",
    "Storage_TestConfigDefault": "ProductionTenant\njalauzonnettest\nU2FuaXRpemVk\nhttps://jalauzonnettest.blob.core.windows.net\nhttps://jalauzonnettest.file.core.windows.net\nhttps://jalauzonnettest.queue.core.windows.net\nhttps://jalauzonnettest.table.core.windows.net\n\n\n\n\nhttps://jalauzonnettest-secondary.blob.core.windows.net\nhttps://jalauzonnettest-secondary.file.core.windows.net\nhttps://jalauzonnettest-secondary.queue.core.windows.net\nhttps://jalauzonnettest-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://jalauzonnettest.blob.core.windows.net/;QueueEndpoint=https://jalauzonnettest.queue.core.windows.net/;FileEndpoint=https://jalauzonnettest.file.core.windows.net/;BlobSecondaryEndpoint=https://jalauzonnettest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jalauzonnettest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jalauzonnettest-secondary.file.core.windows.net/;AccountName=jalauzonnettest;AccountKey=U2FuaXRpemVk\ntestscope1\n\n"
  }
}
