{
  "Entries": [
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-fa6eed20-d750-25fe-304f-e7adb6d8f1df?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 30 Apr 2025 15:48:22 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD87FE6EB22F45\"",
        "Last-Modified": "Wed, 30 Apr 2025 15:48:20 GMT",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-fa6eed20-d750-25fe-304f-e7adb6d8f1df/9ceb1b78?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 30 Apr 2025 15:48:22 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD87FE6EB8BCEB\"",
        "Last-Modified": "Wed, 30 Apr 2025 15:48:20 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-04-30T15:48:20.5522155Z",
        "x-ms-file-creation-time": "2025-04-30T15:48:20.5522155Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-04-30T15:48:20.5522155Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "13252330444922611895*16083086822043778878",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-fa6eed20-d750-25fe-304f-e7adb6d8f1df/9ceb1b78/fbf8be83?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 30 Apr 2025 15:48:22 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD87FE6EBD4BB6\"",
        "Last-Modified": "Wed, 30 Apr 2025 15:48:20 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-04-30T15:48:20.5820854Z",
        "x-ms-file-creation-time": "2025-04-30T15:48:20.5820854Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2025-04-30T15:48:20.5820854Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "13252330444922611895*16083086822043778878",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-fa6eed20-d750-25fe-304f-e7adb6d8f1df?restype=share",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 30 Apr 2025 15:48:22 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD87FE6EB22F45\"",
        "Last-Modified": "Wed, 30 Apr 2025 15:48:20 GMT",
        "x-ms-access-tier": "TransactionOptimized",
        "x-ms-access-tier-change-time": "Wed, 30 Apr 2025 15:48:20 GMT",
        "x-ms-has-immutability-policy": "false",
        "x-ms-has-legal-hold": "false",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-share-quota": "102400",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-fa6eed20-d750-25fe-304f-e7adb6d8f1df/9ceb1b78/fbf8be83/6f9015d5",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 30 Apr 2025 15:48:22 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-fa6eed20-d750-25fe-304f-e7adb6d8f1df/9ceb1b78/fbf8be83/c63bc3f7",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Wed, 30 Apr 2025 15:48:23 GMT",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-type": "file",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD87FE6ED32C1D\"",
        "Last-Modified": "Wed, 30 Apr 2025 15:48:20 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-04-30T15:48:20.7254557Z",
        "x-ms-file-creation-time": "2025-04-30T15:48:20.7254557Z",
        "x-ms-file-id": "13835093239654252544",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "8616074386732128176*16083086822043778878",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-fa6eed20-d750-25fe-304f-e7adb6d8f1df/9ceb1b78/fbf8be83/c63bc3f7?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 30 Apr 2025 15:48:23 GMT",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-07-05",
        "x-ms-write": "update"
      },
      "RequestBody": "wsZoN3yX/dY9KDdZ8Jy3t/fPxSG+WBZvSlcDwy8x5waT9HAw8gzLPRi5MdFRH/QmbYxi8kn1nmqv+OwlkzmmDEEwxfsshsTqA4cIBCZFHiti3VajzvS8nVYFgfogpqreEySQIFn4+ebHeO/C7ZlDatnAwrbjAz5NdCilJgXKyl3dKfABtf7RauNw21YE+bC8wRcgX+P0+w/mQqsxU9Lg/a2R5cOpQrXa71jScijoSHt36GXuqWt56S7gG3JTnxYRj92ochTtE39hRW+LIYjn/vowumtt8lNCGPyVyCdCh09BwONKP9VmitTljGT77cel+Rx4IuWro52KZloYV0tYH74fSmGlnb8kyS+Wh2XvRio08M4KymRqlR1GwNl7TjKJjW2l26Nm/1tdU1m1FRw3mh8v42d8TVRZtbREX93mqXv9DPn4SWuHzvBzrXYLtIAADiW5S2rKDEAYTCXvIp9+d6nduAgiP1CzqBV2CaDdTgE0Q1G4LF4QMv+53/1FmKxR9DXNLft33s/UBqJVUwOgOv0kut9OxktLzYYJaF9TbRBpJRVqECEFvGSB4ya7u978GaQAId3NAi3qgl91bnZwgZiS7C3uNSrcHv16zOIljxKnDE+6UkwynCPngI7BkE7uEWKOKc+wDeR6IwLfUjVLxfJNzWEntS5LX08KB7WbG46vjLuAlmVD9/9qPy5JU0num7qbc8Lsx1w0Qsp/pgYu3gh0MMV6yy6MCtZivHX/AQwFHGv6AKfMwsVfS1Sbw1H4PGEm1SKEc9CMD2nrigrmNUC9eYmaNN5hp24AG3/a8EaFaYAU2SvpgaibbvE+4De6eBYT3krHXgeCxC60g1hQsh4iZiCK0VwV1Pfg/8btI8c2RaJpxhL8vQt4kRT9Nf5QSrvSG3kXMKe6/glT5l9BlaFmfT225+sLJqgUEkBHF5/5kLQKGgdNHxX7rsgIqNesN/tylrfAmWPQxvXRAh1mcuZqWlWqN3qaGV4ouzgiAn3RaNtE1IDnOPZQOVMRex33lDzhnk6BAf+B2H1YmN4rrsR4AJlCIp5mgiFeWf0niJ1BMCf8QGQuT2bbw/wDj6AYJYuPmXuDtXGdexstI6gCWU/fF2i3Lm1fSbAzZ1+hYvOBRjRyl+8ivnq1XsRJASy+2GmsJHg3YPcdMFDKT00S/BgorN1zkMJgvVntAtCoFUiEdY719D56SeU9VGefV24so2KsIVVPSkinTGYfSl4mdBoIRtq/HAfarWL3NjtbwWbqwF5u/PTyNSpFTqjXW/+GFt9MlxCTbYZa0XPyVxMNTIsANIn/uHglFRCwec1eAlFjcSBbDilVV1PYEyqBAN4WOAIc1yd2hl1nJ4IA4vS5/A==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "mqHe2Fj99qTN6/IJMkUhgw==",
        "ETag": "\"0x8DD87FE6ED93FCA\"",
        "Last-Modified": "Wed, 30 Apr 2025 15:48:20 GMT",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-fa6eed20-d750-25fe-304f-e7adb6d8f1df/9ceb1b78/fbf8be83/c63bc3f7?comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 30 Apr 2025 15:48:23 GMT",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD87FE6EDD59E0\"",
        "Last-Modified": "Wed, 30 Apr 2025 15:48:20 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-04-30T15:48:20.7921632Z",
        "x-ms-file-creation-time": "2025-04-30T15:48:20.7254557Z",
        "x-ms-file-id": "13835093239654252544",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "8616074386732128176*16083086822043778878",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-fa6eed20-d750-25fe-304f-e7adb6d8f1df/9ceb1b78/fbf8be83?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 30 Apr 2025 15:48:23 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://nickliuproductionacc.file.core.windows.net/\" ShareName=\"test-share-fa6eed20-d750-25fe-304f-e7adb6d8f1df\" DirectoryPath=\"9ceb1b78/fbf8be83\"><DirectoryId>11529285414812647424</DirectoryId><Entries><File><Name>6f9015d5</Name><FileId>16140971433240035328</FileId><Properties><Content-Length>1024</Content-Length></Properties></File><File><Name>c63bc3f7</Name><FileId>13835093239654252544</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-fa6eed20-d750-25fe-304f-e7adb6d8f1df/9ceb1b78/fbf8be83/6f9015d5",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 30 Apr 2025 15:48:23 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD87FE6EE03CCE\"",
        "Last-Modified": "Wed, 30 Apr 2025 15:48:20 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-04-30T15:48:20.8110798Z",
        "x-ms-file-creation-time": "2025-04-30T15:48:20.7075342Z",
        "x-ms-file-id": "16140971433240035328",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "8616074386732128176*16083086822043778878",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-fa6eed20-d750-25fe-304f-e7adb6d8f1df/9ceb1b78/fbf8be83/6f9015d5",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 30 Apr 2025 15:48:23 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "ETag": "\"0x8DD87FE6EE03CCE\"",
        "Last-Modified": "Wed, 30 Apr 2025 15:48:20 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-04-30T15:48:20.8110798Z",
        "x-ms-file-creation-time": "2025-04-30T15:48:20.7075342Z",
        "x-ms-file-id": "16140971433240035328",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-ke[...]
[...]
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-fa6eed20-d750-25fe-304f-e7adb6d8f1df?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 30 Apr 2025 15:48:23 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "29156340",
    "Storage_TestConfigDefault": "ProductionTenant\nnickliuproductionacc\nU2FuaXRpemVk\nhttps://nickliuproductionacc.blob.core.windows.net\nhttps://nickliuproductionacc.file.core.windows.net\nhttps://nickliuproductionacc.queue.core.windows.net\nhttps://nickliuproductionacc.table.core.windows.net\n\n\n\n\nhttps://nickliuproductionacc-secondary.blob.core.windows.net\nhttps://nickliuproductionacc-secondary.file.core.windows.net\nhttps://nickliuproductionacc-secondary.queue.core.windows.net\nhttps://nickliuproductionacc-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://nickliuproductionacc.blob.core.windows.net/;QueueEndpoint=https://nickliuproductionacc.queue.core.windows.net/;FileEndpoint=https://nickliuproductionacc.file.core.windows.net/;BlobSecondaryEndpoint=https://nickliuproductionacc-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://nickliuproductionacc-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://nickliuproductionacc-secondary.file.core.windows.net/;AccountName=nickliuproductionacc;AccountKey=U2FuaXRpemVk\nEncryptionScope\n\n"
  }
}
