{
  "Entries": [
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-e0336fbc-949b-a0a2-5828-976be46acf0e?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 21 Nov 2023 21:02:25 GMT",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBEAD52A58F557\u0022",
        "Last-Modified": "Tue, 21 Nov 2023 21:02:26 GMT",
        "x-ms-version": "2024-02-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-e0336fbc-949b-a0a2-5828-976be46acf0e/4e54f3f5?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 21 Nov 2023 21:02:26 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBEAD52A62D50D\u0022",
        "Last-Modified": "Tue, 21 Nov 2023 21:02:26 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2023-11-21T21:02:26.3110925Z",
        "x-ms-file-creation-time": "2023-11-21T21:02:26.3110925Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2023-11-21T21:02:26.3110925Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "1597566016123626978*9146977694084461163",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-02-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-e0336fbc-949b-a0a2-5828-976be46acf0e/4e54f3f5/dcd4a1b4?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 21 Nov 2023 21:02:26 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBEAD52A6BD465\u0022",
        "Last-Modified": "Tue, 21 Nov 2023 21:02:26 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2023-11-21T21:02:26.3700581Z",
        "x-ms-file-creation-time": "2023-11-21T21:02:26.3700581Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2023-11-21T21:02:26.3700581Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "1597566016123626978*9146977694084461163",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-02-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-e0336fbc-949b-a0a2-5828-976be46acf0e/4e54f3f5/dcd4a1b4/048a2c43?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 21 Nov 2023 21:02:26 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBEAD52A79DC1A\u0022",
        "Last-Modified": "Tue, 21 Nov 2023 21:02:26 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2023-11-21T21:02:26.4620058Z",
        "x-ms-file-creation-time": "2023-11-21T21:02:26.4620058Z",
        "x-ms-file-id": "16140971433240035328",
        "x-ms-file-last-write-time": "2023-11-21T21:02:26.4620058Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "1597566016123626978*9146977694084461163",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-02-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-e0336fbc-949b-a0a2-5828-976be46acf0e/4e54f3f5/dcd4a1b4/048a2c43/14fe955e?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 21 Nov 2023 21:02:26 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBEAD52A8CC514\u0022",
        "Last-Modified": "Tue, 21 Nov 2023 21:02:26 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2023-11-21T21:02:26.5859348Z",
        "x-ms-file-creation-time": "2023-11-21T21:02:26.5859348Z",
        "x-ms-file-id": "14988049928633188352",
        "x-ms-file-last-write-time": "2023-11-21T21:02:26.5859348Z",
        "x-ms-file-parent-id": "16140971433240035328",
        "x-ms-file-permission-key": "1597566016123626978*9146977694084461163",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-02-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-e0336fbc-949b-a0a2-5828-976be46acf0e/4e54f3f5/dcd4a1b4/048a2c43/14fe955e/7bad4a07?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 21 Nov 2023 21:02:26 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBEAD52AB2970C\u0022",
        "Last-Modified": "Tue, 21 Nov 2023 21:02:26 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2023-11-21T21:02:26.8337932Z",
        "x-ms-file-creation-time": "2023-11-21T21:02:26.8337932Z",
        "x-ms-file-id": "14411589176329764864",
        "x-ms-file-last-write-time": "2023-11-21T21:02:26.8337932Z",
        "x-ms-file-parent-id": "14988049928633188352",
        "x-ms-file-permission-key": "1597566016123626978*9146977694084461163",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-02-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-e0336fbc-949b-a0a2-5828-976be46acf0e/4e54f3f5/dcd4a1b4/048a2c43/14fe955e/7bad4a07/21585136?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 21 Nov 2023 21:02:27 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBEAD52AFE6206\u0022",
        "Last-Modified": "Tue, 21 Nov 2023 21:02:27 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2023-11-21T21:02:27.3305094Z",
        "x-ms-file-creation-time": "2023-11-21T21:02:27.3305094Z",
        "x-ms-file-id": "14123358800178053120",
        "x-ms-file-last-write-time": "2023-11-21T21:02:27.3305094Z",
        "x-ms-file-parent-id": "14411589176329764864",
        "x-ms-file-permission-key": "1597566016123626978*9146977694084461163",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-02-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-e0336fbc-949b-a0a2-5828-976be46acf0e/4e54f3f5/dcd4a1b4/048a2c43/14fe955e/7bad4a07/21585136/db2d6309?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 21 Nov 2023 21:02:28 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBEAD52B9E5B3D\u0022",
        "Last-Modified": "Tue, 21 Nov 2023 21:02:28 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2023-11-21T21:02:28.3789117Z",
        "x-ms-file-creation-time": "2023-11-21T21:02:28.3789117Z",
        "x-ms-file-id": "13979243612102197248",
        "x-ms-file-last-write-time": "2023-11-21T21:02:28.3789117Z",
        "x-ms-file-parent-id": "14123358800178053120",
        "x-ms-file-permission-key": "1597566016123626978*9146977694084461163",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-02-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-e0336fbc-949b-a0a2-5828-976be46acf0e/4e54f3f5/dcd4a1b4?restype=directory\u0026comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 21 Nov 2023 21:02:30 GMT",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2024-02-04"
      },
      "ResponseBody": "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CEnumerationResults ServiceEndpoint=\u0022https://jalauzonnettest.file.core.windows.net/\u0022 ShareName=\u0022test-share-e0336fbc-949b-a0a2-5828-976be46acf0e\u0022 DirectoryPath=\u00224e54f3f5/dcd4a1b4\u0022\u003E\u003CDirectoryId\u003E11529285414812647424\u003C/DirectoryId\u003E\u003CEntries\u003E\u003CDirectory\u003E\u003CName\u003E048a2c43\u003C/Name\u003E\u003CFileId\u003E16140971433240035328\u003C/FileId\u003E\u003CProperties /\u003E\u003C/Directory\u003E\u003CDirectory\u003E\u003CName\u003E72c633fc\u003C/Name\u003E\u003CFileId\u003E10376363910205800448\u003C/FileId\u003E\u003CProperties /\u003E\u003C/Directory\u003E\u003C/Entries\u003E\u003CNextMarker /\u003E\u003C/EnumerationResults\u003E"
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-e0336fbc-949b-a0a2-5828-976be46acf0e/4e54f3f5/dcd4a1b4/048a2c43?restype=directory\u0026comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 21 Nov 2023 21:02:30 GMT",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2024-02-04"
      },
      "ResponseBody": "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CEnumerationResults ServiceEndpoint=\u0022https://jalauzonnettest.file.core.windows.net/\u0022 ShareName=\u0022test-share-e0336fbc-949b-a0a2-5828-976be46acf0e\u0022 DirectoryPath=\u00224e54f3f5/dcd4a1b4/048a2c43\u0022\u003E\u003CDirectoryId\u003E16140971433240035328\u003C/DirectoryId\u003E\u003CEntries\u003E\u003CDirectory\u003E\u003CName\u003E14fe955e\u003C/Name\u003E\u003CFileId\u003E14988049928633188352\u003C/FileId\u003E\u003CProperties /\u003E\u003C/Directory\u003E\u003CDirectory\u003E\u003CName\u003E4520915f\u003C/Name\u003E\u003CFileId\u003E12682206919419494400\u003C/FileId\u003E\u003CProperties /\u003E\u003C/Directory\u003E\u003C/Entries\u003E\u003CNextMarker /\u003E\u003C/EnumerationResults\u003E"
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-e0336fbc-949b-a0a2-5828-976be46acf0e/4e54f3f5/dcd4a1b4/048a2c43/14fe955e?restype=directory\u0026comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 21 Nov 2023 21:02:30 GMT",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2024-02-04"
      },
      "ResponseBody": "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CEnumerationResults ServiceEndpoint=\u0022https://jalauzonnettest.file.core.windows.net/\u0022 ShareName=\u0022test-share-e0336fbc-949b-a0a2-5828-976be46acf0e\u0022 DirectoryPath=\u00224e54f3f5/dcd4a1b4/048a2c43/14fe955e\u0022\u003E\u003CDirectoryId\u003E14988049928633188352\u003C/DirectoryId\u003E\u003CEntries\u003E\u003CDirectory\u003E\u003CName\u003E7bad4a07\u003C/Name\u003E\u003CFileId\u003E14411589176329764864\u003C/FileId\u003E\u003CProperties /\u003E\u003C/Directory\u003E\u003CDirectory\u003E\u003CName\u003Ea5f943c0\u003C/Name\u003E\u003CFileId\u003E12105746167116070912\u003C/FileId\u003E\u003CProperties /\u003E\u003C/Directory\u003E\u003C/Entries\u003E\u003CNextMarker /\u003E\u003C/EnumerationResults\u003E"
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-e0336fbc-949b-a0a2-5828-976be46acf0e/4e54f3f5/dcd4a1b4/048a2c43/14fe955e/7bad4a07?restype=directory\u0026comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 21 Nov 2023 21:02:30 GMT",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2024-02-04"
      },
      "ResponseBody": "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CEnumerationResults ServiceEndpoint=\u0022https://jalauzonnettest.file.core.windows.net/\u0022 ShareName=\u0022test-share-e0336fbc-949b-a0a2-5828-976be46acf0e\u0022 DirectoryPath=\u00224e54f3f5/dcd4a1b4/048a2c43/14fe955e/7bad4a07\u0022\u003E\u003CDirectoryId\u003E14411589176329764864\u003C/DirectoryId\u003E\u003CEntries\u003E\u003CDirectory\u003E\u003CName\u003E21585136\u003C/Name\u003E\u003CFileId\u003E14123358800178053120\u003C/FileId\u003E\u003CProperties /\u003E\u003C/Directory\u003E\u003CDirectory\u003E\u003CName\u003Edfdfe45a\u003C/Name\u003E\u003CFileId\u003E11817515790964359168\u003C/FileId\u003E\u003CProperties /\u003E\u003C/Directory\u003E\u003C/Entries\u003E\u003CNextMarker /\u003E\u003C/EnumerationResults\u003E"
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-e0336fbc-949b-a0a2-5828-976be46acf0e/4e54f3f5/dcd4a1b4/048a2c43/14fe955e/7bad4a07/21585136?restype=directory\u0026comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 21 Nov 2023 21:02:30 GMT",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2024-02-04"
      },
      "ResponseBody": "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CEnumerationResults ServiceEndpoint=\u0022https://jalauzonnettest.file.core.windows.net/\u0022 ShareName=\u0022test-share-e0336fbc-949b-a0a2-5828-976be46acf0e\u0022 DirectoryPath=\u00224e54f3f5/dcd4a1b4/048a2c43/14fe955e/7bad4a07/21585136\u0022\u003E\u003CDirectoryId\u003E14123358800178053120\u003C/DirectoryId\u003E\u003CEntries\u003E\u003CDirectory\u003E\u003CName\u003Edb2d6309\u003C/Name\u003E\u003CFileId\u003E13979243612102197248\u003C/FileId\u003E\u003CProperties /\u003E\u003C/Directory\u003E\u003CDirectory\u003E\u003CName\u003Edc7216c6\u003C/Name\u003E\u003CFileId\u003E11673400602888503296\u003C/FileId\u003E\u003CProperties /\u003E\u003C/Directory\u003E\u003C/Entries\u003E\u003CNextMarker /\u003E\u003C/EnumerationResults\u003E"
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-e0336fbc-949b-a0a2-5828-976be46acf0e/4e54f3f5/dcd4a1b4/048a2c43/14fe955e/7bad4a07/21585136/db2d6309?restype=directory\u0026comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 21 Nov 2023 21:02:30 GMT",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2024-02-04"
      },
      "ResponseBody": "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CEnumerationResults ServiceEndpoint=\u0022https://jalauzonnettest.file.core.windows.net/\u0022 ShareName=\u0022test-share-e0336fbc-949b-a0a2-5828-976be46acf0e\u0022 DirectoryPath=\u00224e54f3f5/dcd4a1b4/048a2c43/14fe955e/7bad4a07/21585136/db2d6309\u0022\u003E\u003CDirectoryId\u003E13979243612102197248\u003C/DirectoryId\u003E\u003CEntries /\u003E\u003CNextMarker /\u003E\u003C/EnumerationResults\u003E"
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-e0336fbc-949b-a0a2-5828-976be46acf0e?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 21 Nov 2023 21:02:34 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-02-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1183065173",
    "Storage_TestConfigDefault": "ProductionTenant\njalauzonnettest\nU2FuaXRpemVk\nhttps://jalauzonnettest.blob.core.windows.net\nhttps://jalauzonnettest.file.core.windows.net\nhttps://jalauzonnettest.queue.core.windows.net\nhttps://jalauzonnettest.table.core.windows.net\n\n\n\n\nhttps://jalauzonnettest-secondary.blob.core.windows.net\nhttps://jalauzonnettest-secondary.file.core.windows.net\nhttps://jalauzonnettest-secondary.queue.core.windows.net\nhttps://jalauzonnettest-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://jalauzonnettest.blob.core.windows.net/;QueueEndpoint=https://jalauzonnettest.queue.core.windows.net/;FileEndpoint=https://jalauzonnettest.file.core.windows.net/;BlobSecondaryEndpoint=https://jalauzonnettest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jalauzonnettest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jalauzonnettest-secondary.file.core.windows.net/;AccountName=jalauzonnettest;AccountKey=Sanitized\ntestscope1\n\n"
  }
}
