{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-355ac2ca-bb68-b480-5137-4a4c901aaa05?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 14:52:09 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC870168B52A6B\"",
        "Last-Modified": "Fri, 07 Jun 2024 14:52:10 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-355ac2ca-bb68-b480-5137-4a4c901aaa05/87249a7d?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 14:52:09 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC870168C1B79C\"",
        "Last-Modified": "Fri, 07 Jun 2024 14:52:10 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2024-06-07T14:52:10.2010780Z",
        "x-ms-file-creation-time": "2024-06-07T14:52:10.2010780Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-06-07T14:52:10.2010780Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "9736643157039165508*17277118026500876237",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-355ac2ca-bb68-b480-5137-4a4c901aaa05/87249a7d/e00047b8?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 14:52:09 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC870168CC1657\"",
        "Last-Modified": "Fri, 07 Jun 2024 14:52:10 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2024-06-07T14:52:10.2690391Z",
        "x-ms-file-creation-time": "2024-06-07T14:52:10.2690391Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2024-06-07T14:52:10.2690391Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "9736643157039165508*17277118026500876237",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-355ac2ca-bb68-b480-5137-4a4c901aaa05/87249a7d/e00047b8/6f09618e",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 14:52:09 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-355ac2ca-bb68-b480-5137-4a4c901aaa05/87249a7d/e00047b8/6f09618e",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Fri, 07 Jun 2024 14:52:09 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC870168E0FADB\"",
        "Last-Modified": "Fri, 07 Jun 2024 14:52:10 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-06-07T14:52:10.4059611Z",
        "x-ms-file-creation-time": "2024-06-07T14:52:10.4059611Z",
        "x-ms-file-id": "16140971433240035328",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "5144323600546320195*17277118026500876237",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-355ac2ca-bb68-b480-5137-4a4c901aaa05/87249a7d/e00047b8/6f09618e?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Fri, 07 Jun 2024 14:52:09 GMT",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2024-08-04",
        "x-ms-write": "update"
      },
      "RequestBody": "yNPaAcKEumJVvXWhxs8ZZrEIAYEDAbGnF9+nUhwYek8zdjExAy4ZCaamGQIUdFavyDXsz6TlW8YiMunj3WhGPUMmbVCd6GOD7/faXOeuk6OI94nnLKuqThtrD9BENiw+YNy/7QcGEt/SaN+sCv7ec59GWuXeXxGYfB41MtmSP7jLm/sL76WcgeWqFMPL/UQcjJsx/ttHYAHLJ3Ho0OAFPykm4W4C0oT5qtkANEpNzH7aGaU+YEHdhDv6QMgzs7AEpNWapBvVGbkXN1MCRiu3fVryDrc6x9/oSV0yCJK8xvco+5B0syhjBP/rJynt2z0QQsJtQKT4ytz2sVu9oxEnWnFc2kubQsoyjwm4TqC1+20gIsbPToVSLzGzfgHMpWHuxMy3kAHxdP/4OrCaQHs8QLbtnYBKVwvsCqsZ6MPIZeqoyonT/mpsLq3G1xPUt+62dz5L3wjgo23Ay4ZW2Iw7MNXG8nXxaEFMgG7ShID3F1O8Y3CFfYbixyccEzPjFlYhiqY+DcR5xQ79/l6ZDh7tyLMymnQbtrNP5CpO1FUOaGoYsfnZuQqOQp5hiH4nSbkIL0qAsXzhBdTz7ymZKvC57pb0gF0lEw+ppFfWuS40KJpxRaULjrftN6sk5cng9ReuqJnoMshc4hs61g0lCkumv8eOKOVKrmDeB0mxAC5Fya4/KBGUTPXSFWKK0LeqyCxffiYCUcwyY/o4CSt+quLs9Q1e5uI6EXPRvBOCwN2pND4dUYIIQnfiDMQXW0LKU2qAndupTOJJJWyzMZS5sKMcj9TsYVhg5LKWe9kdIrYwBmioASIBAOhc0ywVVRHjKFwh+sxu3fISILgpE9AILAK2giosEa6AGo/skI0sSo+hs1N9+yjpwil1luFq2O0YU6YpXtLmthetod89gU1k5tYpiF98izDazMABtnvNFkKi0z3nAuu8uvw8z1pIrEDbELALQFCNm8d2T5IS5P+b4Iudm64PfePqbM1jQLvWkiB/JaXLwtXxFDh1cLNZqtX8oO/PqhGSzJPMINSCKVoLn7xxkr9Z0B61rIZ1mQwwkcH4ZqDMBucO7VkS/qEAbuvdatH25xgWos/QGf6LHDKGnI8SisK6PpjVYqRlRtF8tD2amC87Oamp4cPQ++3pg9AmjGIS7uMoIys4IIRzsFv+VGTA8IQCSmLlaaj+6UOr697TPrpuacZZcnQEAxgkNjFo0qeIKJNMI0IALYU7KTrojTWln3Ghj+qdZ30P/kdJwDN3lhabIsNLhxt4bjxBHkk6HHXjfpbAxkO86sEWPCX6t2xSw5IjTGpxWhdWKSGtXEg01eLRZUGcttDT3jcBNUv1fbbQ71q2F88LcSR+aZwiD4544Q==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "1e5/JyN2YvgmDvhHdZKRVw==",
        "ETag": "\"0x8DC870168EE3F5D\"",
        "Last-Modified": "Fri, 07 Jun 2024 14:52:10 GMT",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-355ac2ca-bb68-b480-5137-4a4c901aaa05/87249a7d/e00047b8?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 14:52:09 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://seanmcccanada.file.core.windows.net/\" ShareName=\"test-share-355ac2ca-bb68-b480-5137-4a4c901aaa05\" DirectoryPath=\"87249a7d/e00047b8\"><DirectoryId>11529285414812647424</DirectoryId><Entries><File><Name>6f09618e</Name><FileId>16140971433240035328</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-355ac2ca-bb68-b480-5137-4a4c901aaa05/87249a7d/e00047b8/6f09618e",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 14:52:09 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC870168EE3F5D\"",
        "Last-Modified": "Fri, 07 Jun 2024 14:52:10 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-06-07T14:52:10.4929117Z",
        "x-ms-file-creation-time": "2024-06-07T14:52:10.4059611Z",
        "x-ms-file-id": "16140971433240035328",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "5144323600546320195*17277118026500876237",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-355ac2ca-bb68-b480-5137-4a4c901aaa05/87249a7d/e00047b8/6f09618e",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 14:52:09 GMT",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC870168EE3F5D\"",
        "Last-Modified": "Fri, 07 Jun 2024 14:52:10 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-06-07T14:52:10.4929117Z",
        "x-ms-file-creation-time": "2024-06-07T14:52:10.4059611Z",
        "x-ms-file-id": "16140971433240035328",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "115[...]
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-355ac2ca-bb68-b480-5137-4a4c901aaa05?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 14:52:10 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1021626276",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanada\nU2FuaXRpemVk\nhttps://seanmcccanada.blob.core.windows.net\nhttps://seanmcccanada.file.core.windows.net\nhttps://seanmcccanada.queue.core.windows.net\nhttps://seanmcccanada.table.core.windows.net\n\n\n\n\nhttps://seanmcccanada-secondary.blob.core.windows.net\nhttps://seanmcccanada-secondary.file.core.windows.net\nhttps://seanmcccanada-secondary.queue.core.windows.net\nhttps://seanmcccanada-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seanmcccanada.blob.core.windows.net/;QueueEndpoint=https://seanmcccanada.queue.core.windows.net/;FileEndpoint=https://seanmcccanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanada-secondary.file.core.windows.net/;AccountName=seanmcccanada;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
