{
  "Entries": [
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-d2be2b7b-ce73-ae11-a2f9-b103e4a85ed6?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 29 Apr 2026 23:01:54 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA6434E72DF68\"",
        "Last-Modified": "Wed, 29 Apr 2026 23:01:54 GMT",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-d2be2b7b-ce73-ae11-a2f9-b103e4a85ed6/9929fb24?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 29 Apr 2026 23:01:54 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA6434E7A2E13\"",
        "Last-Modified": "Wed, 29 Apr 2026 23:01:54 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2026-04-29T23:01:54.2838803Z",
        "x-ms-file-creation-time": "2026-04-29T23:01:54.2838803Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2026-04-29T23:01:54.2838803Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "11118135984870558254*17478659090621734311",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-d2be2b7b-ce73-ae11-a2f9-b103e4a85ed6/9929fb24/0615204d?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 29 Apr 2026 23:01:54 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA6434E80E215\"",
        "Last-Modified": "Wed, 29 Apr 2026 23:01:54 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2026-04-29T23:01:54.3278101Z",
        "x-ms-file-creation-time": "2026-04-29T23:01:54.3278101Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2026-04-29T23:01:54.3278101Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "11118135984870558254*17478659090621734311",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-d2be2b7b-ce73-ae11-a2f9-b103e4a85ed6/9929fb24/0615204d/be90b3d3",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Wed, 29 Apr 2026 23:01:54 GMT",
        "x-ms-type": "file",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA6434E880B12\"",
        "Last-Modified": "Wed, 29 Apr 2026 23:01:54 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2026-04-29T23:01:54.3747346Z",
        "x-ms-file-creation-time": "2026-04-29T23:01:54.3747346Z",
        "x-ms-file-id": "16140971433240035328",
        "x-ms-file-last-write-time": "2026-04-29T23:01:54.3747346Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "6498768581512459561*17478659090621734311",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-d2be2b7b-ce73-ae11-a2f9-b103e4a85ed6/9929fb24/0615204d/be90b3d3?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 29 Apr 2026 23:01:54 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2026-06-06",
        "x-ms-write": "update"
      },
      "RequestBody": "le5AoknTjBS0GFBCDMrkMAQf+UHHxPeyjeSl4pSZC+G3cqK/hEiIM3ML4PR676uhN7nZzO+KatH2jhRkLap/Gw1vi5onJKu7l8XOu+QDN545BKrbvz7xLQfRyPY0IwXJjMTmC2QQeRMNHjUqu67t81Z2Kyn/pFzOfV2SVlu1hnS/BS8fHSs5KIqXzaAJxnFZ5NWfvvfcyehnF40GfiK3WJfBarZ/zdYqPAKeZ9a7xbfsOXKGFch84ztHtwWeM6po4HUJSFy62hb/dIH0PWERrFLWGkWwMULORId6NxXQjAlYNodgsn1aMV9bhqBGh6XaNQuyyBhluK8zOgPVQKIALuh4nAfasfnVe+nmVKqhiL3hoAIKHsTw837YLXh5hfG8W1e4zuueAIQR3UwvfmMEkbJG85+g9hAkiKiJAoSBW/X4KflT6bnRQ6B++EB3wHQa05vFM5FRHGRGk0VDFP7/kIJXN1Vqsaf4dLD+Iv7Qrcgzbi7ouydjpg2UDFZ0ji6ifme9IIgfryLzzb7hU/lmdeZ9D6bPF9Vb85FH1qRRg+aCXKOWEow/FL8M9e1oglMTLpZv936I02eSYi3319l9oUnXX/dWz2JaPfvmwyHn8nA+NKgN4oxo+ok8BLBfRz3mjlOkkSNcvV4zFbmDoQ9Fq3C8uaMwcL+9b2RuGcuy+vW9ADTOQ2FN4nZK2c3S5Fh59lhAo46ZtR2T5iG+7aOSgRrDxaDadmgPbtcs5pfy6osM9CJycldnJEsXOlw/j/TSt1iyDh64noDwMDS2bc6GofyWsvmBHw/DW6FVwzsLz9/jWS8/P9tsVFaigkEisbd9kJhfqd36UZdI77J9Y9pE5GFV0hOeR2IgKV6j3p3NoKrq1zOjqyYC6AiX9lAo7/F7Xp3gzd6j3kg2P39+V3P5e04IkounoTg6UukKB1ER9zpsJ4AA7dLLRvnqbGymg5GVnXoBIFxl07xkpXr0mNf3JEhEEi/y+Y17PEyRvTTMlM9YdWnWENbeB1TDm0hY1q0i8kckYXFhoqPtheMP0xWImBGqnCNtIBRxZgraL15FI2Web8vtpzJe9tPF6YrzzzM/OwI2rTqKtNEzs/tmhnNFp2J9cGRKmvDeTKZQqDeJfZbXm/NbDnYrFLv5ufQ2929ff0EodV7O9aASWGCTOQuaqTVkjut/6ZjrUVuoUOH7qFQ28Cj2YQg4CKZTSbYVl9qwXw+/0WmE35aoPCMCJqS/Fq8LXUnio0gsLIVELKDi1rmA+PHRPNbrshCSTSTlNeIClDIGCTqRzbvGkqTjP7P1xmZpgi6y7drZIKs4UFYkR/ejQphu28x/7ys2CqkxCHJcnYe9e7K0T6ZYLemPWXxkog==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "aL4MKe1/vCtwnQGUn4ffAQ==",
        "ETag": "\"0x8DEA6434E8FA916\"",
        "Last-Modified": "Wed, 29 Apr 2026 23:01:54 GMT",
        "x-ms-file-last-write-time": "2026-04-29T23:01:54.4246550Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-d2be2b7b-ce73-ae11-a2f9-b103e4a85ed6/9929fb24/0615204d/1a0f2c92",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 29 Apr 2026 23:01:54 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-d2be2b7b-ce73-ae11-a2f9-b103e4a85ed6/9929fb24/0615204d/be90b3d3",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 29 Apr 2026 23:01:54 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DEA6434E8FA916\"",
        "Last-Modified": "Wed, 29 Apr 2026 23:01:54 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2026-04-29T23:01:54.4246550Z",
        "x-ms-file-creation-time": "2026-04-29T23:01:54.3747346Z",
        "x-ms-file-id": "16140971433240035328",
        "x-ms-file-last-write-time": "2026-04-29T23:01:54.4246550Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "6498768581512459561*17478659090621734311",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-d2be2b7b-ce73-ae11-a2f9-b103e4a85ed6/9929fb24/0615204d/1a0f2c92?comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 29 Apr 2026 23:01:55 GMT",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA6434EBAC614\"",
        "Last-Modified": "Wed, 29 Apr 2026 23:01:54 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2026-04-29T23:01:54.7072020Z",
        "x-ms-file-creation-time": "2026-04-29T23:01:54.6183445Z",
        "x-ms-file-id": "14988049928633188352",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "6498768581512459561*17478659090621734311",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-d2be2b7b-ce73-ae11-a2f9-b103e4a85ed6/9929fb24/0615204d?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 29 Apr 2026 23:01:55 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amnguyesa.file.core.windows.net/\" ShareName=\"test-share-d2be2b7b-ce73-ae11-a2f9-b103e4a85ed6\" DirectoryPath=\"9929fb24/0615204d\"><DirectoryId>11529285414812647424</DirectoryId><Entries><File><Name>1a0f2c92</Name><FileId>14988049928633188352</FileId><Properties><Content-Length>1024</Content-Length></Properties></File><File><Name>a83c7735</Name><FileId>13835093239654252544</FileId><Properties><Content-Length>1024</Content-Length></Properties></File><File><Name>be90b3d3</Name><FileId>16140971433240035328</FileId><Properties><Content-Length>1024</Content-Length></Properties></File><File><Name>dfaf6f69</Name><FileId>10376363910205800448</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-d2be2b7b-ce73-ae11-a2f9-b103e4a85ed6?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 29 Apr 2026 23:01:55 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1810135061",
    "Storage_TestConfigDefault": "ProductionTenant\namnguyesa\nU2FuaXRpemVk\nhttps://amnguyesa.blob.core.windows.net\nhttps://amnguyesa.file.core.windows.net\nhttps://amnguyesa.queue.core.windows.net\nhttps://amnguyesa.table.core.windows.net\n\n\n\n\nhttps://amnguyesa-secondary.blob.core.windows.net\nhttps://amnguyesa-secondary.file.core.windows.net\nhttps://amnguyesa-secondary.queue.core.windows.net\nhttps://amnguyesa-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amnguyesa.blob.core.windows.net/;QueueEndpoint=https://amnguyesa.queue.core.windows.net/;FileEndpoint=https://amnguyesa.file.core.windows.net/;BlobSecondaryEndpoint=https://amnguyesa-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amnguyesa-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amnguyesa-secondary.file.core.windows.net/;AccountName=amnguyesa;AccountKey=U2FuaXRpemVk\nencryptionScope\n\n"
  }
}
