{
  "Entries": [
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-c8f647ba-906e-2f4f-4670-47654052115a?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 31 Jan 2025 01:41:42 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD419869B88A7C\"",
        "Last-Modified": "Fri, 31 Jan 2025 01:41:42 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-c8f647ba-906e-2f4f-4670-47654052115a/7d25085a?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 31 Jan 2025 01:41:42 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD419869C060EC\"",
        "Last-Modified": "Fri, 31 Jan 2025 01:41:42 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-01-31T01:41:42.1528300Z",
        "x-ms-file-creation-time": "2025-01-31T01:41:42.1528300Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-01-31T01:41:42.1528300Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "1597566016123626978*9146977694084461163",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-c8f647ba-906e-2f4f-4670-47654052115a/7d25085a/ef93b03b?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 31 Jan 2025 01:41:42 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD419869C764C6\"",
        "Last-Modified": "Fri, 31 Jan 2025 01:41:42 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-01-31T01:41:42.1988038Z",
        "x-ms-file-creation-time": "2025-01-31T01:41:42.1988038Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2025-01-31T01:41:42.1988038Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "1597566016123626978*9146977694084461163",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-c8f647ba-906e-2f4f-4670-47654052115a/7d25085a/ef93b03b/0bed467e",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Fri, 31 Jan 2025 01:41:42 GMT",
        "x-ms-type": "file",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD419869CE68A2\"",
        "Last-Modified": "Fri, 31 Jan 2025 01:41:42 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-01-31T01:41:42.2447778Z",
        "x-ms-file-creation-time": "2025-01-31T01:41:42.2447778Z",
        "x-ms-file-id": "16140971433240035328",
        "x-ms-file-last-write-time": "2025-01-31T01:41:42.2447778Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "15442983316638046949*9146977694084461163",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-c8f647ba-906e-2f4f-4670-47654052115a/7d25085a/ef93b03b/0bed467e?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Fri, 31 Jan 2025 01:41:42 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05",
        "x-ms-write": "update"
      },
      "RequestBody": "QEXgzNfQIdpGv1ZxR/OpewDqllas2eK223A6O+Lx6yJT6AcPdJ0gFZlRpdfkEt3iQLDq7T1t+GdiKfBnleX3VNM0HV7smgZjyoC9WzML0ciSV/sxB/7k5vCfrUqsuH+zWVADsPR/9qWphyK8sJ0zVlgn1D3pxU3UTzdtTO28thEACQHiCCHTE2BViH/bKDVTa1byheRCypMDLmC9Eaq47dEQu6abUU02U8DclD3N+ScBGuCWyTAtvj9t39nAFgK2nJquy2yPtxoJvDEjZTZVNjU5vPfKIiSg4/1nLnF0dT2+JvejHi67cmLFjQ3/ClkJF6mkh1oL63p2DuduJ4mplUbzZD4/shcHfkmUBZUWoNmjXhbIz+7jszp8LRBGTEvYG/jGDKUayWWSnQgQdubkX20Oy8lz4cVXELEEwoUGwTL+vOmdUJQziZSwNjLm0j1TmM2iN4CCZToyb/v0Fgfgi9vVErr9Rw/Z2kI0wquScT1zsCq3Y4mxfFauauCYP3KN0KpWEMCDVlC+yVw+TaKPn/2+gGbdKSdSJJZjTtwuQJvPp/IAPGF98FnZ+Jotci60H8vj2r8Mr6eDBOwpHwd0kIjBb6avj2OcQI8MAzCNJLFnri8RS2bbw/dLfDd0U9BSZWgRawOIBI9nRpkw/6x29t86wnDYYkQh5quvZBIrJ+2+up7He7it36qfqQTNq8NK1IZXOZFgeQIj74VX2aB9PB6scUUOrnsnjePGOLg/VDvoZI+M0+5cXkCbo4syVQUJIm3mITl+PCUKMKytmUFK5JtKb3UQ8GgwUBMFcwrv9DjdvBZLWTMBaidpgaNBrsT+Ub/v5+WQ+TEEtdAleMkaGzx00Nwq/opoSAVNp2/F7qJOBiFLAAxSTMPkRqNi3PFdTmZmzd3o1FI1h5/gQlLCP8cu1nKnzxsvIYMZRbjmBWwU8FgIXiDEZjLPFXhtcglxIgfcMwV/tX5LN6xazo6aToEyzFL5ueCmanBA2Lqiwa95qCOwCtFmlDrZvSd0aZejNcf2Oqa2d2kmNcmVPt3EqHX84CZr6UOwzDcYIPu5MQDZnKPyq4YJwzC5idUI0VZcFBSxeIlwOEuDRm5vnlZtbQPIu6I60vzv8x31sV9up/rhvAznCLl3aGNXb2UXmSXaTBzSQBWzIkIXwYRseofsFZ50juFKhmVJUVM/4mKX11n3G2VDnGfkLZnJz0Y1Cu3ca1nGowtDkMW2iO7Ccz/fgOoqdF8hqHk3j2BIgLYfFEZlY3cJ0DNNtIufjBN4IrpZ6k9bCpWOusLgjxOr+g8Pl3SoXBDI1q+23cDUgRxlvmym7pZnwwmw16i0KEEgorl7kPSf0MWpkBOfpC3Vujimeg==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "dGDfY4HbS5DsjTp29pGKzg==",
        "ETag": "\"0x8DD419869D62FB0\"",
        "Last-Modified": "Fri, 31 Jan 2025 01:41:42 GMT",
        "x-ms-file-last-write-time": "2025-01-31T01:41:42.2957488Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-c8f647ba-906e-2f4f-4670-47654052115a/7d25085a/ef93b03b/46fff611",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 31 Jan 2025 01:41:42 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-c8f647ba-906e-2f4f-4670-47654052115a/7d25085a/ef93b03b/0bed467e",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 31 Jan 2025 01:41:42 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD419869D62FB0\"",
        "Last-Modified": "Fri, 31 Jan 2025 01:41:42 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-01-31T01:41:42.2957488Z",
        "x-ms-file-creation-time": "2025-01-31T01:41:42.2447778Z",
        "x-ms-file-id": "16140971433240035328",
        "x-ms-file-last-write-time": "2025-01-31T01:41:42.2957488Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "15442983316638046949*9146977694084461163",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-c8f647ba-906e-2f4f-4670-47654052115a/7d25085a/ef93b03b/46fff611?comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 31 Jan 2025 01:41:42 GMT",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD41986A021B50\"",
        "Last-Modified": "Fri, 31 Jan 2025 01:41:42 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-01-31T01:41:42.5835856Z",
        "x-ms-file-creation-time": "2025-01-31T01:41:42.4886395Z",
        "x-ms-file-id": "14988049928633188352",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "15442983316638046949*9146977694084461163",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-c8f647ba-906e-2f4f-4670-47654052115a/7d25085a/ef93b03b?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 31 Jan 2025 01:41:42 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://jalauzonnettest.file.core.windows.net/\" ShareName=\"test-share-c8f647ba-906e-2f4f-4670-47654052115a\" DirectoryPath=\"7d25085a/ef93b03b\"><DirectoryId>11529285414812647424</DirectoryId><Entries><File><Name>0bed467e</Name><FileId>16140971433240035328</FileId><Properties><Content-Length>1024</Content-Length></Properties></File><File><Name>46fff611</Name><FileId>14988049928633188352</FileId><Properties><Content-Length>1024</Content-Length></Properties></File><File><Name>4c8323e9</Name><FileId>13835093239654252544</FileId><Properties><Content-Length>1024</Content-Length></Properties></File><File><Name>fce813fa</Name><FileId>10376363910205800448</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-c8f647ba-906e-2f4f-4670-47654052115a?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 31 Jan 2025 01:41:42 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1948128484",
    "Storage_TestConfigDefault": "ProductionTenant\njalauzonnettest\nU2FuaXRpemVk\nhttps://jalauzonnettest.blob.core.windows.net\nhttps://jalauzonnettest.file.core.windows.net\nhttps://jalauzonnettest.queue.core.windows.net\nhttps://jalauzonnettest.table.core.windows.net\n\n\n\n\nhttps://jalauzonnettest-secondary.blob.core.windows.net\nhttps://jalauzonnettest-secondary.file.core.windows.net\nhttps://jalauzonnettest-secondary.queue.core.windows.net\nhttps://jalauzonnettest-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://jalauzonnettest.blob.core.windows.net/;QueueEndpoint=https://jalauzonnettest.queue.core.windows.net/;FileEndpoint=https://jalauzonnettest.file.core.windows.net/;BlobSecondaryEndpoint=https://jalauzonnettest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jalauzonnettest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jalauzonnettest-secondary.file.core.windows.net/;AccountName=jalauzonnettest;AccountKey=U2FuaXRpemVk\ntestscope1\n\n"
  }
}
