{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-9cf8a183-9757-c843-222c-0ad44685d88c?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 01 May 2024 20:59:43 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC6A21A032EB7B\"",
        "Last-Modified": "Wed, 01 May 2024 20:59:43 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-9cf8a183-9757-c843-222c-0ad44685d88c/c76ae6b5?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 01 May 2024 20:59:43 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC6A21A0428B92\"",
        "Last-Modified": "Wed, 01 May 2024 20:59:43 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2024-05-01T20:59:43.4948498Z",
        "x-ms-file-creation-time": "2024-05-01T20:59:43.4948498Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-05-01T20:59:43.4948498Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "9736643157039165508*17277118026500876237",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-9cf8a183-9757-c843-222c-0ad44685d88c/c76ae6b5/5a33300a?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 01 May 2024 20:59:43 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC6A21A0509324\"",
        "Last-Modified": "Wed, 01 May 2024 20:59:43 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2024-05-01T20:59:43.5867940Z",
        "x-ms-file-creation-time": "2024-05-01T20:59:43.5867940Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2024-05-01T20:59:43.5867940Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "9736643157039165508*17277118026500876237",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-9cf8a183-9757-c843-222c-0ad44685d88c/c76ae6b5/5a33300a/4d69f21a?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 01 May 2024 20:59:43 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC6A21A0632DDF\"",
        "Last-Modified": "Wed, 01 May 2024 20:59:43 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2024-05-01T20:59:43.7087199Z",
        "x-ms-file-creation-time": "2024-05-01T20:59:43.7087199Z",
        "x-ms-file-id": "16140971433240035328",
        "x-ms-file-last-write-time": "2024-05-01T20:59:43.7087199Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "9736643157039165508*17277118026500876237",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-9cf8a183-9757-c843-222c-0ad44685d88c/c76ae6b5/5a33300a/4d69f21a/87de5677?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 01 May 2024 20:59:43 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC6A21A071AA89\"",
        "Last-Modified": "Wed, 01 May 2024 20:59:43 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2024-05-01T20:59:43.8036617Z",
        "x-ms-file-creation-time": "2024-05-01T20:59:43.8036617Z",
        "x-ms-file-id": "10376363910205800448",
        "x-ms-file-last-write-time": "2024-05-01T20:59:43.8036617Z",
        "x-ms-file-parent-id": "16140971433240035328",
        "x-ms-file-permission-key": "9736643157039165508*17277118026500876237",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-9cf8a183-9757-c843-222c-0ad44685d88c/c76ae6b5/5a33300a/4d69f21a/87de5677/02595295?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 01 May 2024 20:59:43 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC6A21A0802737\"",
        "Last-Modified": "Wed, 01 May 2024 20:59:43 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2024-05-01T20:59:43.8986039Z",
        "x-ms-file-creation-time": "2024-05-01T20:59:43.8986039Z",
        "x-ms-file-id": "14988049928633188352",
        "x-ms-file-last-write-time": "2024-05-01T20:59:43.8986039Z",
        "x-ms-file-parent-id": "10376363910205800448",
        "x-ms-file-permission-key": "9736643157039165508*17277118026500876237",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-9cf8a183-9757-c843-222c-0ad44685d88c/c76ae6b5/5a33300a/4d69f21a/87de5677/02595295/f6ca8ed6?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 01 May 2024 20:59:43 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC6A21A08F1906\"",
        "Last-Modified": "Wed, 01 May 2024 20:59:43 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2024-05-01T20:59:43.9965446Z",
        "x-ms-file-creation-time": "2024-05-01T20:59:43.9965446Z",
        "x-ms-file-id": "12682206919419494400",
        "x-ms-file-last-write-time": "2024-05-01T20:59:43.9965446Z",
        "x-ms-file-parent-id": "14988049928633188352",
        "x-ms-file-permission-key": "9736643157039165508*17277118026500876237",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-9cf8a183-9757-c843-222c-0ad44685d88c/c76ae6b5/5a33300a/4d69f21a/87de5677/02595295/f6ca8ed6/1ccd2050",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 01 May 2024 20:59:43 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-9cf8a183-9757-c843-222c-0ad44685d88c/c76ae6b5/5a33300a/4d69f21a/87de5677/02595295/f6ca8ed6/1ccd2050",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Wed, 01 May 2024 20:59:43 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC6A21A0B0306B\"",
        "Last-Modified": "Wed, 01 May 2024 20:59:44 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-05-01T20:59:44.2134123Z",
        "x-ms-file-creation-time": "2024-05-01T20:59:44.2134123Z",
        "x-ms-file-id": "17293892937846882304",
        "x-ms-file-last-write-time": "2024-05-01T20:59:44.2134123Z",
        "x-ms-file-parent-id": "12682206919419494400",
        "x-ms-file-permission-key": "5144323600546320195*17277118026500876237",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-9cf8a183-9757-c843-222c-0ad44685d88c/c76ae6b5/5a33300a/4d69f21a/87de5677/02595295/f6ca8ed6/1ccd2050?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 01 May 2024 20:59:44 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2024-08-04",
        "x-ms-write": "update"
      },
      "RequestBody": "YrjaRxHUPE+xa1CqRKs2wYKBFrH/FY/CUZntzqBoeNmbgT8cRoYke+R9atfDkexdm+O19MLMf0woGPV4526uSPJ3DsNsGXv8XZvNgau4/8CskDK9s4QXzwLz8y6Qq5R1ziLkTIIp8IFnuZcm/v2hcBg1zFY78ZVuYD/AeSZNa7EHV7OI07M9gp+xVvrt8NAFUYMVWt89Ot2NdutDaXdbGU3lH6dKGJxl+Em2ipqagG9vuyeiOBHRyR3V+13H+hkoVTysB9Epujnmr2KWhq9C8vZ81K1QuOE7FFWJdR0/nv4vjjVe7nieRQDuvIiuO0NtkglmSyZs15xbcPN8n0UbphFjZvh65AR93Y6sYvxZjNgSG+IU2FLYw7eYAn2EIqa70hV2S9VL860E6W2Xv3WgAuMbaoNiB82+i6JB4uKH+bvn8ZDm4kEDxig1D+/lQARB+ACZabgiWMpIt78yChHLfe+ysM7luSCiF6NaLfje2Uue/+nh7o8DxJjFniqC0LwXaZH/Mo81XD7g9lEVyCrRad10lAon6Y9grus1Hxv1H0bmQsRm3qa7aKKqAfc+7vxu8zRMDTyy8H8Cn4SkAD0j6tcKLoVla4s3uStofOiYIsDvxyvmqREKNFJEZD4iFmdlhxYgM792CIioFVQQSXSXan3DtTkRPEHFAPozIQZMFKLEAvTReO8BeL6iPpO9+ererfrBX2EuU0vUWjLEQ+eCWwGyTEd/xfGOwjx6bv6tCAcQVXQLi7RAla6p/R28PDTXIOKSC6yiX+cIMp0ls+VNJ1Iqs+5yds9McbeY1cjU0YUHo04bG/1bbfaMA1kXG+LJXNXLkolGZKoSRZn1CokfNGEYHRCWMQxVz0X45nN2NVXUznnyCT/7wD6kCdVjZWNsbc/3/v7RMirJdcJDTn42mxBDIDsQLCohHFzR8ig28mrii3mkfzZXApxOKJN9uHK/bW3EH0QnXECk1uKhAD8CkoNYYMMFkhza7B2fwQOWpGTqEYW7ctIluy44/6hTtgJcTJYQJFeuutpQ6jInh5s8DTF+t+65RyCwM6WVzJNzhjUaQ3Rthn8MO1eraoef/TOS/PJ21f8UogV1YPGyGe1H3WT9DEQmzoeycnuWDt2YEDVxAtCg/bA2BqBv+CWOWSJpZIwjovHvbC1rxGOEfZMo3E+7QRYdpt+zxgajttZhIxlYLapQdW1EgpajNThNsogMRxvW0hcLTL2tcNzqS7VXCaBKK1Dp2Gfid7+AeXGnZRN9lm+6i1EBTeDsowSQWTbgSyuXA4c3I2+081tYitJMBQrJbLRFnX5PSN5w/DViUh2IoC5FD2KMRXMABpf1qMINoJ36x+yBmq6tSLqpxyY6UQ==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "e/+aq1MYYpcr1PR/wvtI+w==",
        "ETag": "\"0x8DC6A21A0BEFB2C\"",
        "Last-Modified": "Wed, 01 May 2024 20:59:44 GMT",
        "x-ms-file-last-write-time": "2024-05-01T20:59:44.3103532Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-9cf8a183-9757-c843-222c-0ad44685d88c/c76ae6b5/5a33300a?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 01 May 2024 20:59:44 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://seanmcccanada.file.core.windows.net/\" ShareName=\"test-share-9cf8a183-9757-c843-222c-0ad44685d88c\" DirectoryPath=\"c76ae6b5/5a33300a\"><DirectoryId>11529285414812647424</DirectoryId><Entries><Directory><Name>4d69f21a</Name><FileId>16140971433240035328</FileId><Properties /></Directory></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-9cf8a183-9757-c843-222c-0ad44685d88c/c76ae6b5/5a33300a/4d69f21a?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 01 May 2024 20:59:44 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://seanmcccanada.file.core.windows.net/\" ShareName=\"test-share-9cf8a183-9757-c843-222c-0ad44685d88c\" DirectoryPath=\"c76ae6b5/5a33300a/4d69f21a\"><DirectoryId>16140971433240035328</DirectoryId><Entries><Directory><Name>87de5677</Name><FileId>10376363910205800448</FileId><Properties /></Directory></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-9cf8a183-9757-c843-222c-0ad44685d88c/c76ae6b5/5a33300a/4d69f21a/87de5677?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 01 May 2024 20:59:44 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://seanmcccanada.file.core.windows.net/\" ShareName=\"test-share-9cf8a183-9757-c843-222c-0ad44685d88c\" DirectoryPath=\"c76ae6b5/5a33300a/4d69f21a/87de5677\"><DirectoryId>10376363910205800448</DirectoryId><Entries><Directory><Name>02595295</Name><FileId>14988049928633188352</FileId><Properties /></Directory></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-9cf8a183-9757-c843-222c-0ad44685d88c/c76ae6b5/5a33300a/4d69f21a/87de5677/02595295?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 01 May 2024 20:59:44 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://seanmcccanada.file.core.windows.net/\" ShareName=\"test-share-9cf8a183-9757-c843-222c-0ad44685d88c\" DirectoryPath=\"c76ae6b5/5a33300a/4d69f21a/87de5677/02595295\"><DirectoryId>14988049928633188352</DirectoryId><Entries><Directory><Name>f6ca8ed6</Name><FileId>12682206919419494400</FileId><Properties /></Directory></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-9cf8a183-9757-c843-222c-0ad44685d88c/c76ae6b5/5a33300a/4d69f21a/87de5677/02595295/f6ca8ed6?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 01 May 2024 20:59:44 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://seanmcccanada.file.core.windows.net/\" ShareName=\"test-share-9cf8a183-9757-c843-222c-0ad44685d88c\" DirectoryPath=\"c76ae6b5/5a33300a/4d69f21a/87de5677/02595295/f6ca8ed6\"><DirectoryId>12682206919419494400</DirectoryId><Entries><File><Name>1ccd2050</Name><FileId>17293892937846882304</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-9cf8a183-9757-c843-222c-0ad44685d88c/c76ae6b5/5a33300a/4d69f21a/87de5677/02595295/f6ca8ed6/1ccd2050",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 01 May 2024 20:59:44 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC6A21A0BEFB2C\"",
        "Last-Modified": "Wed, 01 May 2024 20:59:44 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-05-01T20:59:44.3103532Z",
        "x-ms-file-creation-time": "2024-05-01T20:59:44.2134123Z",
        "x-ms-file-id": "17293892937846882304",
        "x-ms-file-last-write-time": "2024-05-01T20:59:44.3103532Z",
        "x-ms-file-parent-id": "12682206919419494400",
        "x-ms-file-permission-key": "5144323600546320195*17277118026500876237",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-9cf8a183-9757-c843-222c-0ad44685d88c/c76ae6b5/5a33300a/4d69f21a/87de5677/02595295/f6ca8ed6/1ccd2050",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 01 May 2024 20:59:44 GMT",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC6A21A0BEFB2C\"",
        "Last-Modified": "Wed, 01 May 2024 20:59:44 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-05-01T20:59:44.3103532Z",
        "x-ms-file-creation-time": "2024-05-01T20:59:44.2134123Z",
        "x-ms-file-id": "17293892937846882304",
        "x-ms-file-last-write-time": "2024-05-01T20:59:44.3103532Z",
        "x-ms-file-parent-id": "126[...]
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-9cf8a183-9757-c843-222c-0ad44685d88c?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 01 May 2024 20:59:44 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "377620064",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanada\nU2FuaXRpemVk\nhttps://seanmcccanada.blob.core.windows.net\nhttps://seanmcccanada.file.core.windows.net\nhttps://seanmcccanada.queue.core.windows.net\nhttps://seanmcccanada.table.core.windows.net\n\n\n\n\nhttps://seanmcccanada-secondary.blob.core.windows.net\nhttps://seanmcccanada-secondary.file.core.windows.net\nhttps://seanmcccanada-secondary.queue.core.windows.net\nhttps://seanmcccanada-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanada.blob.core.windows.net/;QueueEndpoint=https://seanmcccanada.queue.core.windows.net/;FileEndpoint=https://seanmcccanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanada-secondary.file.core.windows.net/;AccountName=seanmcccanada;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
