{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-473bd087-9ec4-3a0e-8cb3-db6768cdf02c?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 14:52:16 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC87016D2D0539\"",
        "Last-Modified": "Fri, 07 Jun 2024 14:52:17 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-473bd087-9ec4-3a0e-8cb3-db6768cdf02c/6bedc213?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 14:52:16 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC87016D3867B8\"",
        "Last-Modified": "Fri, 07 Jun 2024 14:52:17 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2024-06-07T14:52:17.6897976Z",
        "x-ms-file-creation-time": "2024-06-07T14:52:17.6897976Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-06-07T14:52:17.6897976Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "9736643157039165508*17277118026500876237",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-473bd087-9ec4-3a0e-8cb3-db6768cdf02c/6bedc213/6718d479?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 14:52:16 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC87016D429F5B\"",
        "Last-Modified": "Fri, 07 Jun 2024 14:52:17 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2024-06-07T14:52:17.7567579Z",
        "x-ms-file-creation-time": "2024-06-07T14:52:17.7567579Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2024-06-07T14:52:17.7567579Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "9736643157039165508*17277118026500876237",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-473bd087-9ec4-3a0e-8cb3-db6768cdf02c/6bedc213/6718d479/5a0bcfbb",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Fri, 07 Jun 2024 14:52:16 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC87016D4E8482\"",
        "Last-Modified": "Fri, 07 Jun 2024 14:52:17 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-06-07T14:52:17.8347138Z",
        "x-ms-file-creation-time": "2024-06-07T14:52:17.8347138Z",
        "x-ms-file-id": "16140971433240035328",
        "x-ms-file-last-write-time": "2024-06-07T14:52:17.8347138Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "5144323600546320195*17277118026500876237",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-473bd087-9ec4-3a0e-8cb3-db6768cdf02c/6bedc213/6718d479/5a0bcfbb?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Fri, 07 Jun 2024 14:52:17 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2024-08-04",
        "x-ms-write": "update"
      },
      "RequestBody": "HvlbTxc1y4sS4qDikRJO9XkieWXTXMQmsGeji5X8JRORVF7lUO6+cX3EK+34jd0tj8L/S9c7ksI0NZ6wkT/1FbyNUT2zaKWLZAjnDjDWLiKJdfzS/No7VcGcsBtPDeA9zhUxajygeiYddObPU4SRXgd8JxtDIxnhUvx7F7eJPFcoqkAapMPm6fvVtYjzawE9ClIU0ubE+qv8UBg/JGNvkziPp6lDd7lDlj0gbW6R7eb6PQ1ldWlwY6+VHlSqpsSYZiFPY8RY+pOY0DyopIw9amIyRedWCR7PH0T5rlhlmO94hwdMQYoioUN5zKUsx78jWLPyeGHdQlwDgER/X0s6MzdMMByF8CnYEKOk3D14oleE1lalch+Om0WqScFFokL3P5ht35einWeKGmi9OGYfit7t+4j1lcAXvpXX2qdok21grZ2kC8K/4jjuG1i30WLfi77iV6e5AarYVSECysLAIof6XIvJe34bLRhQB3poYO0y+E/ohTvGpqvyzLagvRd1LfjRvHTWFhA/xyqOafkvb/Q0z9Jy2JxLM7bf1q7Iem8A2tqBlqN4XOI/qL4RNz2ywlzBbO5FAlVbhYi+90Bhd0y6jY4erthQu3PwMy/eOvt4LRNSBg6Bu9iFJREaumWi3jByV6qukxSDcbB7VM8lfUuMRcktD3E9ONG2mYnHNQEOTlT+bONRyZn+zpVdBmcJYKjGjnSbdc+/NB7Y+PqLuzuvbQZ6JhFnO3swLkDb4DJqrTnhAaeMctmFPzjFedCfcxJarplgjjmXXlL4akaP41TrbUvAqrqTIvot9OfYosGrkbotgTGZCR7/SqNVkwiS9lvk2QyE3slYx4ueM5lSvryRTdmMYWEiUmMtwV8WPo/xmv6L9Mm1JrLx1Lql+taErIvnw0UvBpT5wYaoVxxpQYn8rZmbxsnz2ycmmoynfViNqBTUL3pJwpRpkjNCDc6Wh5MxqE086ebC8+ceCGsIUkQuGq4IlREOs+oEMTSWsM5YkBP5ddQLUL8uETuSK7opYUDvFPIgjfKBI/ViOLexK0MYxnhYDtxvIsnu2oPVe4gw29D0p5zcNwIgeFLfqBgHfOX4emRB0FNjf/EoMbNuq6dtMlznvYSnPI51N5WJkHqx512d3QEj7gp8kCeqtAZOssyrcnW7IL9hUT7Wy5m92e93dkpW0M6mSURRaixc/IeHJoXI3h0E9ceePIzDTCJxv7Y3Mz28+OH+BCgwabWSBFS2TqQU9PrRcoGCuJRB4v0i4Kt1JclKyy6jytn104wSCzc3Df19Xcu7ZsC8OUBMvCErDokJHN+Ka4J2cCog3J71cKxcCtX/pIPgub4IjpLtVw24ycQCCO5YraF6B+yhmw==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "OmYE82fV/X0w6coXv9WMzA==",
        "ETag": "\"0x8DC87016D59CD7D\"",
        "Last-Modified": "Fri, 07 Jun 2024 14:52:17 GMT",
        "x-ms-file-last-write-time": "2024-06-07T14:52:17.9086717Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-473bd087-9ec4-3a0e-8cb3-db6768cdf02c/6bedc213/6718d479?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 14:52:17 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://seanmcccanada.file.core.windows.net/\" ShareName=\"test-share-473bd087-9ec4-3a0e-8cb3-db6768cdf02c\" DirectoryPath=\"6bedc213/6718d479\"><DirectoryId>11529285414812647424</DirectoryId><Entries><File><Name>067687d8</Name><FileId>10376363910205800448</FileId><Properties><Content-Length>1024</Content-Length></Properties></File><File><Name>5a0bcfbb</Name><FileId>16140971433240035328</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-473bd087-9ec4-3a0e-8cb3-db6768cdf02c/6bedc213/6718d479/067687d8",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 14:52:17 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC87016D70D491\"",
        "Last-Modified": "Fri, 07 Jun 2024 14:52:18 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-06-07T14:52:18.0595857Z",
        "x-ms-file-creation-time": "2024-06-07T14:52:17.9926239Z",
        "x-ms-file-id": "10376363910205800448",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "5144323600546320195*17277118026500876237",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-473bd087-9ec4-3a0e-8cb3-db6768cdf02c/6bedc213/6718d479/067687d8",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 14:52:17 GMT",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC87016D70D491\"",
        "Last-Modified": "Fri, 07 Jun 2024 14:52:18 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-06-07T14:52:18.0595857Z",
        "x-ms-file-creation-time": "2024-06-07T14:52:17.9926239Z",
        "x-ms-file-id": "10376363910205800448",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "115[...]
[...]
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-473bd087-9ec4-3a0e-8cb3-db6768cdf02c?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 14:52:17 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1073445369",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanada\nU2FuaXRpemVk\nhttps://seanmcccanada.blob.core.windows.net\nhttps://seanmcccanada.file.core.windows.net\nhttps://seanmcccanada.queue.core.windows.net\nhttps://seanmcccanada.table.core.windows.net\n\n\n\n\nhttps://seanmcccanada-secondary.blob.core.windows.net\nhttps://seanmcccanada-secondary.file.core.windows.net\nhttps://seanmcccanada-secondary.queue.core.windows.net\nhttps://seanmcccanada-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seanmcccanada.blob.core.windows.net/;QueueEndpoint=https://seanmcccanada.queue.core.windows.net/;FileEndpoint=https://seanmcccanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanada-secondary.file.core.windows.net/;AccountName=seanmcccanada;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
