{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-4e0f57e4-8cdf-4567-fcc7-d92d9f5920b4?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Jul 2024 17:54:43 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC9AC00D5A189E\"",
        "Last-Modified": "Tue, 02 Jul 2024 17:54:42 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-4e0f57e4-8cdf-4567-fcc7-d92d9f5920b4/fc37ab61?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Jul 2024 17:54:43 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC9AC00D633A90\"",
        "Last-Modified": "Tue, 02 Jul 2024 17:54:42 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2024-07-02T17:54:42.8773008Z",
        "x-ms-file-creation-time": "2024-07-02T17:54:42.8773008Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-07-02T17:54:42.8773008Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "8720823596597466685*1287379445297103284",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-4e0f57e4-8cdf-4567-fcc7-d92d9f5920b4/fc37ab61/513effe6?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Jul 2024 17:54:43 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC9AC00D6B76D1\"",
        "Last-Modified": "Tue, 02 Jul 2024 17:54:42 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2024-07-02T17:54:42.9312721Z",
        "x-ms-file-creation-time": "2024-07-02T17:54:42.9312721Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2024-07-02T17:54:42.9312721Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "8720823596597466685*1287379445297103284",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-4e0f57e4-8cdf-4567-fcc7-d92d9f5920b4/fc37ab61/513effe6/06b20ab7",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Jul 2024 17:54:43 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-4e0f57e4-8cdf-4567-fcc7-d92d9f5920b4/fc37ab61/513effe6/06b20ab7",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Tue, 02 Jul 2024 17:54:43 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC9AC00D7D9CB9\"",
        "Last-Modified": "Tue, 02 Jul 2024 17:54:43 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-07-02T17:54:43.0502073Z",
        "x-ms-file-creation-time": "2024-07-02T17:54:43.0502073Z",
        "x-ms-file-id": "16140971433240035328",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "13365936616355342650*1287379445297103284",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-4e0f57e4-8cdf-4567-fcc7-d92d9f5920b4/fc37ab61/513effe6/06b20ab7?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 02 Jul 2024 17:54:43 GMT",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2024-08-04",
        "x-ms-write": "update"
      },
      "RequestBody": "EZg3H1LALyN2qplKJ1XPfrwbk/+SkLfUPp2NmXIgVsDHuA5epgZZ8k9FphFJgewkk7X9yWj8vIHgYuG1M5awVlPZgm9GcNi2waGwTOqmi7ywaAW9Io1Xy/uMfkMlpL64lU++cP993SPcRwfHTHCXOdclBMuQ8zTGgbdzuvGUkB3j97aa6Bu9M4rh4NqFkH+L9URr/6DyJ6Ea9+5HCiMxR7bp41S5/FG8aNBArxNZQPE458StKZF98M8VgPAsdShnsJgjm6wq0fnzr5fPsniOwLb9DiJfhB4lbPOEpHtgj/Kn2P57NaVEDRbKuXn5rj5Wh786L2cGCCx5/i+5pi19kh+kJ9l6E4sRuQAMlMqlK760LR28JmCLodDSATd1imfpTCdZVYZk3HM0KHVm+nNi1NNxBXgQwWu/GYYIqBFTmy+YI0iiS9Y3UFCpiP7qJKddcC1kBIXu2Iu8mTz/XDRi4IxGzdcqv4n8ObQnZzht1fTfqjfk75eqqkq85rGaOPQcRqhxo1fPMrCkZ8rQxnFTT8RHILH8ffD0nCONbtjXYgHACyCP+zGcD3eHQIjM2ePYaZfsUhdDH8m3fQczQsTXzATJD7tRw1OTqxE5dT1oJ8JAtQVB6hDpfexX2H4paMyzr3ODA8kohqVDWacGCaqLT1VF842/luHz35LP+uvVaUJEhcbJ5CT4Fy5f/ZFp43NBy4go5HU/9BiSkCQ3WYy6bvBlwYTjwmowTNtfX5lQivsejS5irIXMBZGtN1QAwb6ipY+hBCHvXgke95eZ4JR/QQUoGMtdV8FqmLzyNYsVMIscvLoJr4XaLy4lQ7TtMyT8LvVO16nzRU3ONmxk/Sh+CMcMfCPZdpKATumdNxMMfWSX9QeVxljiKXdtO3gYdTIGpzrt4LcBIrhizonAVQ05wbgIzQcg6EFuKlKsbDoZZ9m2lpDYHpysltJPM/jPItNqM3nAEKgq5b74f7ZlVbV9SGawCb98YKMbWzY00bRJngh+QjnBWVcxi7DR35/mR0Ec0eqSHxgU7dLVpLRx9hMKr+Ct5xN8u+8Pf30OqoAENRT1F//Jtn/vaVRm67Siv5WcxzC+OGAuoBb7g6CbBUJR0W+ge94UQPhgvn2+Fc86bL/nceNQRfy0x3fpzTPfU2MSFBpFAkO2iIc3XXrib4pGwRbgs5RfAYty67RnKnLEgWoZrAC19Gp7MehbGeeC0Vfsowwd/6DPshOO0haPTl4VctwPycOJkc2sZYKrA+ik8Bpde4Zmp4LKSfntJiFT7OOKRqYLcweTYhI+cJkeJK4r6uL8MtLXrspaRH/KnGqrWHmeIb1BmHwSyRl0JzborCVKwjw+V7kQspfbsC6HyMWnkg==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "bnlCkTahbKdgAWmvZWuwVQ==",
        "ETag": "\"0x8DC9AC00D87113F\"",
        "Last-Modified": "Tue, 02 Jul 2024 17:54:43 GMT",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-4e0f57e4-8cdf-4567-fcc7-d92d9f5920b4/fc37ab61/513effe6?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Jul 2024 17:54:43 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandadev2.file.core.windows.net/\" ShareName=\"test-share-4e0f57e4-8cdf-4567-fcc7-d92d9f5920b4\" DirectoryPath=\"fc37ab61/513effe6\"><DirectoryId>11529285414812647424</DirectoryId><Entries><File><Name>06b20ab7</Name><FileId>16140971433240035328</FileId><Properties><Content-Length>1024</Content-Length></Properties></File><File><Name>1c697eb3</Name><FileId>13835093239654252544</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-4e0f57e4-8cdf-4567-fcc7-d92d9f5920b4/fc37ab61/513effe6/06b20ab7",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Jul 2024 17:54:43 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC9AC00D87113F\"",
        "Last-Modified": "Tue, 02 Jul 2024 17:54:43 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-07-02T17:54:43.1121727Z",
        "x-ms-file-creation-time": "2024-07-02T17:54:43.0502073Z",
        "x-ms-file-id": "16140971433240035328",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "13365936616355342650*1287379445297103284",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-4e0f57e4-8cdf-4567-fcc7-d92d9f5920b4/fc37ab61/513effe6/06b20ab7",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Jul 2024 17:54:43 GMT",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC9AC00D87113F\"",
        "Last-Modified": "Tue, 02 Jul 2024 17:54:43 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-07-02T17:54:43.1121727Z",
        "x-ms-file-creation-time": "2024-07-02T17:54:43.0502073Z",
        "x-ms-file-id": "16140971433240035328",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "115[...]
[...]
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-4e0f57e4-8cdf-4567-fcc7-d92d9f5920b4?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Jul 2024 17:54:44 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "754871966",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
