{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-22fdd4cd-e2a5-fe27-96a1-4b5760d2306f?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Jul 2024 18:27:35 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC9AC4A4D8AF65\"",
        "Last-Modified": "Tue, 02 Jul 2024 18:27:34 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-22fdd4cd-e2a5-fe27-96a1-4b5760d2306f/4266c4b9?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Jul 2024 18:27:35 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC9AC4A4E6691A\"",
        "Last-Modified": "Tue, 02 Jul 2024 18:27:35 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2024-07-02T18:27:35.0598938Z",
        "x-ms-file-creation-time": "2024-07-02T18:27:35.0598938Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-07-02T18:27:35.0598938Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "8720823596597466685*1287379445297103284",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-22fdd4cd-e2a5-fe27-96a1-4b5760d2306f/4266c4b9/05936f9b?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Jul 2024 18:27:35 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC9AC4A4EECC5B\"",
        "Last-Modified": "Tue, 02 Jul 2024 18:27:35 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2024-07-02T18:27:35.1148635Z",
        "x-ms-file-creation-time": "2024-07-02T18:27:35.1148635Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2024-07-02T18:27:35.1148635Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "8720823596597466685*1287379445297103284",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-22fdd4cd-e2a5-fe27-96a1-4b5760d2306f/4266c4b9/05936f9b/6e42e286?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Jul 2024 18:27:35 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC9AC4A4FB9BDF\"",
        "Last-Modified": "Tue, 02 Jul 2024 18:27:35 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2024-07-02T18:27:35.1988191Z",
        "x-ms-file-creation-time": "2024-07-02T18:27:35.1988191Z",
        "x-ms-file-id": "16140971433240035328",
        "x-ms-file-last-write-time": "2024-07-02T18:27:35.1988191Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "8720823596597466685*1287379445297103284",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-22fdd4cd-e2a5-fe27-96a1-4b5760d2306f/4266c4b9/05936f9b/6e42e286/2aaf4efd?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Jul 2024 18:27:36 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC9AC4A50D259E\"",
        "Last-Modified": "Tue, 02 Jul 2024 18:27:35 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2024-07-02T18:27:35.3137566Z",
        "x-ms-file-creation-time": "2024-07-02T18:27:35.3137566Z",
        "x-ms-file-id": "14988049928633188352",
        "x-ms-file-last-write-time": "2024-07-02T18:27:35.3137566Z",
        "x-ms-file-parent-id": "16140971433240035328",
        "x-ms-file-permission-key": "8720823596597466685*1287379445297103284",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-22fdd4cd-e2a5-fe27-96a1-4b5760d2306f/4266c4b9/05936f9b/6e42e286/2aaf4efd/b1106e2e?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Jul 2024 18:27:36 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC9AC4A53011EF\"",
        "Last-Modified": "Tue, 02 Jul 2024 18:27:35 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2024-07-02T18:27:35.5426287Z",
        "x-ms-file-creation-time": "2024-07-02T18:27:35.5426287Z",
        "x-ms-file-id": "14411589176329764864",
        "x-ms-file-last-write-time": "2024-07-02T18:27:35.5426287Z",
        "x-ms-file-parent-id": "14988049928633188352",
        "x-ms-file-permission-key": "8720823596597466685*1287379445297103284",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-22fdd4cd-e2a5-fe27-96a1-4b5760d2306f/4266c4b9/05936f9b/6e42e286/2aaf4efd/b1106e2e/6d7bd469?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Jul 2024 18:27:36 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC9AC4A5765FD7\"",
        "Last-Modified": "Tue, 02 Jul 2024 18:27:36 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2024-07-02T18:27:36.0033751Z",
        "x-ms-file-creation-time": "2024-07-02T18:27:36.0033751Z",
        "x-ms-file-id": "14123358800178053120",
        "x-ms-file-last-write-time": "2024-07-02T18:27:36.0033751Z",
        "x-ms-file-parent-id": "14411589176329764864",
        "x-ms-file-permission-key": "8720823596597466685*1287379445297103284",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-22fdd4cd-e2a5-fe27-96a1-4b5760d2306f/4266c4b9/05936f9b/6e42e286/2aaf4efd/b1106e2e/6d7bd469/5a3e1ba1?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Jul 2024 18:27:37 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC9AC4A6062F8E\"",
        "Last-Modified": "Tue, 02 Jul 2024 18:27:36 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2024-07-02T18:27:36.9458574Z",
        "x-ms-file-creation-time": "2024-07-02T18:27:36.9458574Z",
        "x-ms-file-id": "13979243612102197248",
        "x-ms-file-last-write-time": "2024-07-02T18:27:36.9458574Z",
        "x-ms-file-parent-id": "14123358800178053120",
        "x-ms-file-permission-key": "8720823596597466685*1287379445297103284",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-22fdd4cd-e2a5-fe27-96a1-4b5760d2306f/4266c4b9/05936f9b?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Jul 2024 18:27:39 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandadev2.file.core.windows.net/\" ShareName=\"test-share-22fdd4cd-e2a5-fe27-96a1-4b5760d2306f\" DirectoryPath=\"4266c4b9/05936f9b\"><DirectoryId>11529285414812647424</DirectoryId><Entries><Directory><Name>6e42e286</Name><FileId>16140971433240035328</FileId><Properties /></Directory><Directory><Name>c17033c5</Name><FileId>10376363910205800448</FileId><Properties /></Directory></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-22fdd4cd-e2a5-fe27-96a1-4b5760d2306f/4266c4b9/05936f9b/6e42e286?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Jul 2024 18:27:39 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandadev2.file.core.windows.net/\" ShareName=\"test-share-22fdd4cd-e2a5-fe27-96a1-4b5760d2306f\" DirectoryPath=\"4266c4b9/05936f9b/6e42e286\"><DirectoryId>16140971433240035328</DirectoryId><Entries><Directory><Name>2aaf4efd</Name><FileId>14988049928633188352</FileId><Properties /></Directory><Directory><Name>d7ce6324</Name><FileId>12682206919419494400</FileId><Properties /></Directory></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-22fdd4cd-e2a5-fe27-96a1-4b5760d2306f/4266c4b9/05936f9b/6e42e286/2aaf4efd?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Jul 2024 18:27:39 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandadev2.file.core.windows.net/\" ShareName=\"test-share-22fdd4cd-e2a5-fe27-96a1-4b5760d2306f\" DirectoryPath=\"4266c4b9/05936f9b/6e42e286/2aaf4efd\"><DirectoryId>14988049928633188352</DirectoryId><Entries><Directory><Name>b1106e2e</Name><FileId>14411589176329764864</FileId><Properties /></Directory><Directory><Name>d7e4be80</Name><FileId>12105746167116070912</FileId><Properties /></Directory></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-22fdd4cd-e2a5-fe27-96a1-4b5760d2306f/4266c4b9/05936f9b/6e42e286/2aaf4efd/b1106e2e?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Jul 2024 18:27:40 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandadev2.file.core.windows.net/\" ShareName=\"test-share-22fdd4cd-e2a5-fe27-96a1-4b5760d2306f\" DirectoryPath=\"4266c4b9/05936f9b/6e42e286/2aaf4efd/b1106e2e\"><DirectoryId>14411589176329764864</DirectoryId><Entries><Directory><Name>6d7bd469</Name><FileId>14123358800178053120</FileId><Properties /></Directory><Directory><Name>76f5e587</Name><FileId>11817515790964359168</FileId><Properties /></Directory></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-22fdd4cd-e2a5-fe27-96a1-4b5760d2306f/4266c4b9/05936f9b/6e42e286/2aaf4efd/b1106e2e/6d7bd469?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Jul 2024 18:27:40 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandadev2.file.core.windows.net/\" ShareName=\"test-share-22fdd4cd-e2a5-fe27-96a1-4b5760d2306f\" DirectoryPath=\"4266c4b9/05936f9b/6e42e286/2aaf4efd/b1106e2e/6d7bd469\"><DirectoryId>14123358800178053120</DirectoryId><Entries><Directory><Name>5a3e1ba1</Name><FileId>13979243612102197248</FileId><Properties /></Directory><Directory><Name>b0c35bb9</Name><FileId>11673400602888503296</FileId><Properties /></Directory></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-22fdd4cd-e2a5-fe27-96a1-4b5760d2306f/4266c4b9/05936f9b/6e42e286/2aaf4efd/b1106e2e/6d7bd469/5a3e1ba1?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Jul 2024 18:27:40 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandadev2.file.core.windows.net/\" ShareName=\"test-share-22fdd4cd-e2a5-fe27-96a1-4b5760d2306f\" DirectoryPath=\"4266c4b9/05936f9b/6e42e286/2aaf4efd/b1106e2e/6d7bd469/5a3e1ba1\"><DirectoryId>13979243612102197248</DirectoryId><Entries /><NextMarker /></EnumerationResults>"
    },
[...]
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-22fdd4cd-e2a5-fe27-96a1-4b5760d2306f?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Jul 2024 18:27:43 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1496721729",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
