{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-236e42e4-bbbd-6da4-7a62-900b36b98798?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Jul 2024 17:54:39 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC9AC00B4FFE59\"",
        "Last-Modified": "Tue, 02 Jul 2024 17:54:39 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-236e42e4-bbbd-6da4-7a62-900b36b98798/3d283d49?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Jul 2024 17:54:39 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC9AC00B59AA57\"",
        "Last-Modified": "Tue, 02 Jul 2024 17:54:39 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2024-07-02T17:54:39.4591831Z",
        "x-ms-file-creation-time": "2024-07-02T17:54:39.4591831Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-07-02T17:54:39.4591831Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "8720823596597466685*1287379445297103284",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-236e42e4-bbbd-6da4-7a62-900b36b98798/3d283d49/8b361e1d?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Jul 2024 17:54:40 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC9AC00B620DA2\"",
        "Last-Modified": "Tue, 02 Jul 2024 17:54:39 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2024-07-02T17:54:39.5141538Z",
        "x-ms-file-creation-time": "2024-07-02T17:54:39.5141538Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2024-07-02T17:54:39.5141538Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "8720823596597466685*1287379445297103284",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-236e42e4-bbbd-6da4-7a62-900b36b98798/3d283d49/8b361e1d/48a79241",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Tue, 02 Jul 2024 17:54:40 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC9AC00B6ABEF5\"",
        "Last-Modified": "Tue, 02 Jul 2024 17:54:39 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-07-02T17:54:39.5711221Z",
        "x-ms-file-creation-time": "2024-07-02T17:54:39.5711221Z",
        "x-ms-file-id": "16140971433240035328",
        "x-ms-file-last-write-time": "2024-07-02T17:54:39.5711221Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "13365936616355342650*1287379445297103284",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-236e42e4-bbbd-6da4-7a62-900b36b98798/3d283d49/8b361e1d/48a79241?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 02 Jul 2024 17:54:40 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2024-08-04",
        "x-ms-write": "update"
      },
      "RequestBody": "HGcSF+k3GNMem8vC//YL/hHycwdX2HUXRCpCPsRe7K6t9lxRSjGzub/rsHEqIHXNGIND70yFx0Py+9K+9NoOwK4cFAmaubTgP7lHaygD7CS1dSZBGv1hKC8ZX05f9MXl3e/DDQtsM17PYq+SPlsa7g+uCX+0zKWwu+zagVllgUrzYo44QN8YSUHHcbhOzurT/nE/setGMRBKElIfkrIEauFkn9vM4a4wlcA97FvtYuwCBoLoJdBfrTF+7S2M+baPwwfW6S8OBxzCDxsqCES0Xa9mHYwvG0QRBPGqTfOAo5sJrShTF3i89P5lJhW0NaTsyZB9JtwqX6fCxOQ+Y7kpQWyAIVsbYUY3qiiNyvUuXc9MvoRjAn2/3k2BkFKTfZFFPOSpNBRJ0GhKRnyznZWyk2cV8aQ1xT7vwEINmtDzoyyXSI0QhSm7A+4bGbwAC0G3zvzrfovsD3alunPROzWYVqNPG1UHoQ49We62GqyC7rQBVcvTCCSgqzgXa8u16ce4g8IYsO/rsC3urSWdNvXJI8u+0OZpxE5+r3Ac8DZDh28m/Zbpaj3EFaWe5Vr/AnRCTUj/9xnhTr50mQF/zr/3qia1djhe37iO+btAy9/zf6z72qPuQ5BWRa7YddA8RUbmpzo0Sow8422Pcf1eoIPfgRpUg/QcCGeVXzGJhmroUbR0WiSkvjUgv/Y1X9KS+KQr+PS26MJRyZ7Tn+pasl0Cph9J6UZeOsLkM8P+5qmUAmaMXo12MmnxI5CG0R9Kxg2ZM7iySQ9ezb4x0bX+U+P0PpyEzlTPjHS2V8W12Gmimm22ZLLx4blXLpHPRGCz88+skZKDxve5yqdD+/FJqPRUjzdHSO4wA13iLJ/D/0cUAmT2CEbWHtN1/JoLreXHDoace7Upa6vgfI41oJpY9spgL/mNU5+tfnBj0ktUJFV3Gx4ZJoSR6pa5FYy4oX45HAbPq37sOrvm7vxFxplfjFc5voV7Ps9GzkRi1D0S9d3xKbVEhHnXiuBiMjeHSyT9WYk1f+L4vd03idw5imZ90/kfU53jGgfeYTOlGAyYv4MgZHq03XX6+WvXDfucnQB65V89Z/eHGj6BVh2uU6XRn8pZGSXryfWEJVoxCw0MQcQzKjOtWleLmEo7MoZYS6XGBm4wQ4PajhtpuUKdVQ4xdBVYeihxJERyzYDbsJZuLNm0awWe3P5BWZwYQ6AV7kM7Cb5x/9B9VOEpvXUC/t6E+o1o6OkJk5gXFyGMWeGjXd89oKbY/SwJNxYkdB6IPlq+k0kTrAVZMXYmWuev8Pv/hl+VxV43rP1gXrHS5R55jtnGzsWYkLHa424vsqJFWkYaJO6+83j8hudLs01Th0xYrMwN6A==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "1a7FPDrzR57h+h/rVOXPFA==",
        "ETag": "\"0x8DC9AC00B74337D\"",
        "Last-Modified": "Tue, 02 Jul 2024 17:54:39 GMT",
        "x-ms-file-last-write-time": "2024-07-02T17:54:39.6330877Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-236e42e4-bbbd-6da4-7a62-900b36b98798/3d283d49/8b361e1d/396ad11a",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Jul 2024 17:54:40 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-236e42e4-bbbd-6da4-7a62-900b36b98798/3d283d49/8b361e1d/48a79241",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Jul 2024 17:54:40 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC9AC00B74337D\"",
        "Last-Modified": "Tue, 02 Jul 2024 17:54:39 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-07-02T17:54:39.6330877Z",
        "x-ms-file-creation-time": "2024-07-02T17:54:39.5711221Z",
        "x-ms-file-id": "16140971433240035328",
        "x-ms-file-last-write-time": "2024-07-02T17:54:39.6330877Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "13365936616355342650*1287379445297103284",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-236e42e4-bbbd-6da4-7a62-900b36b98798/3d283d49/8b361e1d?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Jul 2024 17:54:40 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandadev2.file.core.windows.net/\" ShareName=\"test-share-236e42e4-bbbd-6da4-7a62-900b36b98798\" DirectoryPath=\"3d283d49/8b361e1d\"><DirectoryId>11529285414812647424</DirectoryId><Entries><File><Name>396ad11a</Name><FileId>14988049928633188352</FileId><Properties><Content-Length>1024</Content-Length></Properties></File><File><Name>48a79241</Name><FileId>16140971433240035328</FileId><Properties><Content-Length>1024</Content-Length></Properties></File><File><Name>b7e3d967</Name><FileId>13835093239654252544</FileId><Properties><Content-Length>1024</Content-Length></Properties></File><File><Name>dfe83389</Name><FileId>10376363910205800448</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-236e42e4-bbbd-6da4-7a62-900b36b98798?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Jul 2024 17:54:40 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "850379867",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
