{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-9d35329b-7b2d-1909-d691-a3af7bbbfaee?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 30 Oct 2024 15:14:57 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCF8F59B71D387\"",
        "Last-Modified": "Wed, 30 Oct 2024 15:14:53 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-9d35329b-7b2d-1909-d691-a3af7bbbfaee/fcb550cb?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 30 Oct 2024 15:14:57 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCF8F59B7B6C70\"",
        "Last-Modified": "Wed, 30 Oct 2024 15:14:53 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2024-10-30T15:14:53.9000944Z",
        "x-ms-file-creation-time": "2024-10-30T15:14:53.9000944Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-10-30T15:14:53.9000944Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "8016861625448480706*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-9d35329b-7b2d-1909-d691-a3af7bbbfaee/fcb550cb/48d00013?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 30 Oct 2024 15:14:57 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCF8F59B84B0DA\"",
        "Last-Modified": "Wed, 30 Oct 2024 15:14:53 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2024-10-30T15:14:53.9608282Z",
        "x-ms-file-creation-time": "2024-10-30T15:14:53.9608282Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2024-10-30T15:14:53.9608282Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "8016861625448480706*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-9d35329b-7b2d-1909-d691-a3af7bbbfaee/fcb550cb/48d00013/ed288a21",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Wed, 30 Oct 2024 15:14:57 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCF8F59B8EDE9C\"",
        "Last-Modified": "Wed, 30 Oct 2024 15:14:54 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-10-30T15:14:54.0275356Z",
        "x-ms-file-creation-time": "2024-10-30T15:14:54.0275356Z",
        "x-ms-file-id": "16140971433240035328",
        "x-ms-file-last-write-time": "2024-10-30T15:14:54.0275356Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-9d35329b-7b2d-1909-d691-a3af7bbbfaee/fcb550cb/48d00013/ed288a21?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 30 Oct 2024 15:14:57 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-01-05",
        "x-ms-write": "update"
      },
      "RequestBody": "H/y3jVYQVWD3i5PeuJ6IMWz0pR9yQzwhGeV05MnMghgRmpPZ9qDYYJ5LoogeB/N04mjWyQhhJ9zAlnRxm3GWKwl6zB0LrzrLHESBJqCzAxLxAAFh9bgQr3O3GWAsZsQttXd/ozrWaTMtC63D4AA7DJNif5tvNDVQah2pU5ban7V/VHEpNF/YG5fONOkKTM9zfAzNyecpvYBBLjgcLBWcUmv4Q4yOEtgzimQEoQBLRh5NNteJDNXNVpbx5wUnu+6BMeF+EQhD5Go0mj+CJRyA9egaz/Y+EkWVKu31nSrSDM52gm8ezTQVClJtVXKWSzB6cPIdDOz4Qx6b6OYbTUY/YY5wDKOsYii0BMSk0L3T/9+8ey03tf/ifT9QguRN+rwLLfPkJT6NzQ7KaAgnU3JgyOkHXtIZCKyOjY5kW+BDZgoHmKPK79mhL64ebUz2uyrM8Ln7Rpvq8SVHVZewKXEuhgL+H7vOltkPZS8k+ppfmNJkl2smRyBuHaZ+gplB8AU88OdK+Jtu/Vng6+BrxveL6L3FS5IFBz7hjwIUUBQ/zXQq5wmyFJ839ZkSRlw/A1av85rcfKVzN+moaGiZWq1FoR5rQd7t2NMdjVb48sHiooyrZF15YlDPtrAgCqs2nZvszaU91MF4whrGv+5PekQoxcbc7fVPyz7Nm4ouzc0o5vC6DCUcpM3KM6JCs6NhgDtr+ETkWrClnAFmcDg3SfRMntj+lG4eCyH4ErpTDRibaxtOw9WJQ4w/FW8jtTOVk+mt9RXKY+zNTOwj60f1Uo/pywUd6IYfw1pMv37/+1btY3/QpRcC0AgugXboZVdEScPgOukud6pjjjK6faNtzVGWNojIJa135vr87mYPNl0DCHW7HsBsvuzUbBblSFNkwbMlUi/PfCQWaFPvMYlEVFfUt3Uusa6QKnec87iWkp6nmCyy6uQtNItQpbZtfYxikBi/EJDdNQ8FlCi3M4hsf9a1R5lckWlypoPp3gz4I63rOWOf14ENymIdrVa8dQED5CXguDXzBv6vTGkN81cDDHF6zPkkzKhUp302P+QTtjCC5vrmF2t39zJk8IoXANYLGqDlQakH3hh8jBC4vccam5U5iw1dHPQGA9XGwNsdPKemKiRDLnWHegfhaYtavzprSVT13nXJrv2r3z7TQB48X09pEZKi120gsRAFe7Jpq0SaW3aGKF4x3Xsml082szrppQo88K2nyHLn1CxkwzNLQjP6OeWotTfxODMWez8e6f7VHNWnLbuW85IEn1MxzRlI21QcPHpVQe/TSrh6kE0yyOsujqddpBV3Y0ZSoxXjwGoZzqDrAayDgNrl0+IDHGJF0tZoAj5y6jY/pdk0Ap3Z8IpNYA==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "jSsI9EKb+GkHzcl+5wJm5w==",
        "ETag": "\"0x8DCF8F59B9897B3\"",
        "Last-Modified": "Wed, 30 Oct 2024 15:14:54 GMT",
        "x-ms-file-last-write-time": "2024-10-30T15:14:54.0912563Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-9d35329b-7b2d-1909-d691-a3af7bbbfaee/fcb550cb/48d00013/7aca6598",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 30 Oct 2024 15:14:58 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DCF8F59BAC09E1\"",
        "Last-Modified": "Wed, 30 Oct 2024 15:14:54 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-10-30T15:14:54.2186977Z",
        "x-ms-file-creation-time": "2024-10-30T15:14:54.1519900Z",
        "x-ms-file-id": "10376363910205800448",
        "x-ms-file-last-write-time": "2024-10-30T15:14:54.2186977Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-9d35329b-7b2d-1909-d691-a3af7bbbfaee/fcb550cb/48d00013/5acc07c3",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 30 Oct 2024 15:14:58 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-9d35329b-7b2d-1909-d691-a3af7bbbfaee/fcb550cb/48d00013?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 30 Oct 2024 15:14:58 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.file.core.windows.net/\" ShareName=\"test-share-9d35329b-7b2d-1909-d691-a3af7bbbfaee\" DirectoryPath=\"fcb550cb/48d00013\"><DirectoryId>11529285414812647424</DirectoryId><Entries><File><Name>38561b82</Name><FileId>13835163608398430208</FileId><Properties><Content-Length>1024</Content-Length></Properties></File><File><Name>5acc07c3</Name><FileId>13835093239654252544</FileId><Properties><Content-Length>1024</Content-Length></Properties></File><File><Name>7aca6598</Name><FileId>10376363910205800448</FileId><Properties><Content-Length>1024</Content-Length></Properties></File><File><Name>ed288a21</Name><FileId>16140971433240035328</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-9d35329b-7b2d-1909-d691-a3af7bbbfaee?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 30 Oct 2024 15:14:58 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "183689525",
    "Storage_TestConfigDefault": "ProductionTenant\namandapreprod\nU2FuaXRpemVk\nhttps://amandapreprod.blob.core.windows.net\nhttps://amandapreprod.file.core.windows.net\nhttps://amandapreprod.queue.core.windows.net\nhttps://amandapreprod.table.core.windows.net\n\n\n\n\nhttps://amandapreprod-secondary.blob.core.windows.net\nhttps://amandapreprod-secondary.file.core.windows.net\nhttps://amandapreprod-secondary.queue.core.windows.net\nhttps://amandapreprod-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandapreprod.blob.core.windows.net/;QueueEndpoint=https://amandapreprod.queue.core.windows.net/;FileEndpoint=https://amandapreprod.file.core.windows.net/;BlobSecondaryEndpoint=https://amandapreprod-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandapreprod-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandapreprod-secondary.file.core.windows.net/;AccountName=amandapreprod;AccountKey=Sanitized\nEncryptionScope\n\n"
  }
}
