{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-f7dc2e7b-ff75-6149-a74a-4313a171aebd?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 14:50:57 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC87013DDE84E2\"",
        "Last-Modified": "Fri, 07 Jun 2024 14:50:58 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-f7dc2e7b-ff75-6149-a74a-4313a171aebd/1e6414b0?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 14:50:57 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC87013DE91A8A\"",
        "Last-Modified": "Fri, 07 Jun 2024 14:50:58 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2024-06-07T14:50:58.3171722Z",
        "x-ms-file-creation-time": "2024-06-07T14:50:58.3171722Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-06-07T14:50:58.3171722Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "9736643157039165508*17277118026500876237",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-f7dc2e7b-ff75-6149-a74a-4313a171aebd/1e6414b0/873c53fb?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 14:50:57 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC87013DF32B30\"",
        "Last-Modified": "Fri, 07 Jun 2024 14:50:58 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2024-06-07T14:50:58.3831344Z",
        "x-ms-file-creation-time": "2024-06-07T14:50:58.3831344Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2024-06-07T14:50:58.3831344Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "9736643157039165508*17277118026500876237",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-f7dc2e7b-ff75-6149-a74a-4313a171aebd/1e6414b0/873c53fb/3f6f8624?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 14:50:57 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC87013E0048AA\"",
        "Last-Modified": "Fri, 07 Jun 2024 14:50:58 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2024-06-07T14:50:58.4690858Z",
        "x-ms-file-creation-time": "2024-06-07T14:50:58.4690858Z",
        "x-ms-file-id": "16140971433240035328",
        "x-ms-file-last-write-time": "2024-06-07T14:50:58.4690858Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "9736643157039165508*17277118026500876237",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-f7dc2e7b-ff75-6149-a74a-4313a171aebd/1e6414b0/873c53fb/3f6f8624/81bdf95e?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 14:50:58 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC87013E43143E\"",
        "Last-Modified": "Fri, 07 Jun 2024 14:50:58 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2024-06-07T14:50:58.9068350Z",
        "x-ms-file-creation-time": "2024-06-07T14:50:58.9068350Z",
        "x-ms-file-id": "14988049928633188352",
        "x-ms-file-last-write-time": "2024-06-07T14:50:58.9068350Z",
        "x-ms-file-parent-id": "16140971433240035328",
        "x-ms-file-permission-key": "9736643157039165508*17277118026500876237",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-f7dc2e7b-ff75-6149-a74a-4313a171aebd/1e6414b0/873c53fb/3f6f8624/81bdf95e/82cf56ae?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 14:50:58 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC87013E6A93AA\"",
        "Last-Modified": "Fri, 07 Jun 2024 14:50:59 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2024-06-07T14:50:59.1656874Z",
        "x-ms-file-creation-time": "2024-06-07T14:50:59.1656874Z",
        "x-ms-file-id": "14411589176329764864",
        "x-ms-file-last-write-time": "2024-06-07T14:50:59.1656874Z",
        "x-ms-file-parent-id": "14988049928633188352",
        "x-ms-file-permission-key": "9736643157039165508*17277118026500876237",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-f7dc2e7b-ff75-6149-a74a-4313a171aebd/1e6414b0/873c53fb/3f6f8624/81bdf95e/82cf56ae/6109cc12?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 14:50:59 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC87013EE7C7A9\"",
        "Last-Modified": "Fri, 07 Jun 2024 14:50:59 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2024-06-07T14:50:59.9862185Z",
        "x-ms-file-creation-time": "2024-06-07T14:50:59.9862185Z",
        "x-ms-file-id": "14123358800178053120",
        "x-ms-file-last-write-time": "2024-06-07T14:50:59.9862185Z",
        "x-ms-file-parent-id": "14411589176329764864",
        "x-ms-file-permission-key": "9736643157039165508*17277118026500876237",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-f7dc2e7b-ff75-6149-a74a-4313a171aebd/1e6414b0/873c53fb/3f6f8624/81bdf95e/82cf56ae/6109cc12/41375eab?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 14:51:00 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC87013FE674BD\"",
        "Last-Modified": "Fri, 07 Jun 2024 14:51:01 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2024-06-07T14:51:01.6552637Z",
        "x-ms-file-creation-time": "2024-06-07T14:51:01.6552637Z",
        "x-ms-file-id": "13979243612102197248",
        "x-ms-file-last-write-time": "2024-06-07T14:51:01.6552637Z",
        "x-ms-file-parent-id": "14123358800178053120",
        "x-ms-file-permission-key": "9736643157039165508*17277118026500876237",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-f7dc2e7b-ff75-6149-a74a-4313a171aebd/1e6414b0/873c53fb?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 14:51:03 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://seanmcccanada.file.core.windows.net/\" ShareName=\"test-share-f7dc2e7b-ff75-6149-a74a-4313a171aebd\" DirectoryPath=\"1e6414b0/873c53fb\"><DirectoryId>11529285414812647424</DirectoryId><Entries><Directory><Name>3f6f8624</Name><FileId>16140971433240035328</FileId><Properties /></Directory><Directory><Name>9348138d</Name><FileId>10376363910205800448</FileId><Properties /></Directory></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-f7dc2e7b-ff75-6149-a74a-4313a171aebd/1e6414b0/873c53fb/3f6f8624?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 14:51:03 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://seanmcccanada.file.core.windows.net/\" ShareName=\"test-share-f7dc2e7b-ff75-6149-a74a-4313a171aebd\" DirectoryPath=\"1e6414b0/873c53fb/3f6f8624\"><DirectoryId>16140971433240035328</DirectoryId><Entries><Directory><Name>81bdf95e</Name><FileId>14988049928633188352</FileId><Properties /></Directory><Directory><Name>f992b26e</Name><FileId>12682206919419494400</FileId><Properties /></Directory></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-f7dc2e7b-ff75-6149-a74a-4313a171aebd/1e6414b0/873c53fb/3f6f8624/81bdf95e?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 14:51:03 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://seanmcccanada.file.core.windows.net/\" ShareName=\"test-share-f7dc2e7b-ff75-6149-a74a-4313a171aebd\" DirectoryPath=\"1e6414b0/873c53fb/3f6f8624/81bdf95e\"><DirectoryId>14988049928633188352</DirectoryId><Entries><Directory><Name>82cf56ae</Name><FileId>14411589176329764864</FileId><Properties /></Directory><Directory><Name>fe9c711b</Name><FileId>12105746167116070912</FileId><Properties /></Directory></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-f7dc2e7b-ff75-6149-a74a-4313a171aebd/1e6414b0/873c53fb/3f6f8624/81bdf95e/82cf56ae?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 14:51:03 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://seanmcccanada.file.core.windows.net/\" ShareName=\"test-share-f7dc2e7b-ff75-6149-a74a-4313a171aebd\" DirectoryPath=\"1e6414b0/873c53fb/3f6f8624/81bdf95e/82cf56ae\"><DirectoryId>14411589176329764864</DirectoryId><Entries><Directory><Name>6109cc12</Name><FileId>14123358800178053120</FileId><Properties /></Directory><Directory><Name>640e11dc</Name><FileId>11817515790964359168</FileId><Properties /></Directory></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-f7dc2e7b-ff75-6149-a74a-4313a171aebd/1e6414b0/873c53fb/3f6f8624/81bdf95e/82cf56ae/6109cc12?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 14:51:03 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://seanmcccanada.file.core.windows.net/\" ShareName=\"test-share-f7dc2e7b-ff75-6149-a74a-4313a171aebd\" DirectoryPath=\"1e6414b0/873c53fb/3f6f8624/81bdf95e/82cf56ae/6109cc12\"><DirectoryId>14123358800178053120</DirectoryId><Entries><Directory><Name>41375eab</Name><FileId>13979243612102197248</FileId><Properties /></Directory><Directory><Name>df865f95</Name><FileId>11673400602888503296</FileId><Properties /></Directory></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-f7dc2e7b-ff75-6149-a74a-4313a171aebd/1e6414b0/873c53fb/3f6f8624/81bdf95e/82cf56ae/6109cc12/41375eab?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 14:51:03 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://seanmcccanada.file.core.windows.net/\" ShareName=\"test-share-f7dc2e7b-ff75-6149-a74a-4313a171aebd\" DirectoryPath=\"1e6414b0/873c53fb/3f6f8624/81bdf95e/82cf56ae/6109cc12/41375eab\"><DirectoryId>13979243612102197248</DirectoryId><Entries /><NextMarker /></EnumerationResults>"
    },
[...]
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-f7dc2e7b-ff75-6149-a74a-4313a171aebd?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 14:51:08 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "223560867",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanada\nU2FuaXRpemVk\nhttps://seanmcccanada.blob.core.windows.net\nhttps://seanmcccanada.file.core.windows.net\nhttps://seanmcccanada.queue.core.windows.net\nhttps://seanmcccanada.table.core.windows.net\n\n\n\n\nhttps://seanmcccanada-secondary.blob.core.windows.net\nhttps://seanmcccanada-secondary.file.core.windows.net\nhttps://seanmcccanada-secondary.queue.core.windows.net\nhttps://seanmcccanada-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seanmcccanada.blob.core.windows.net/;QueueEndpoint=https://seanmcccanada.queue.core.windows.net/;FileEndpoint=https://seanmcccanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanada-secondary.file.core.windows.net/;AccountName=seanmcccanada;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
