{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-ab7049ab-77b5-5914-1ccf-37edc938617e?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Jul 2024 17:54:30 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC9AC0057D134E\"",
        "Last-Modified": "Tue, 02 Jul 2024 17:54:29 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-ab7049ab-77b5-5914-1ccf-37edc938617e/8eefda99?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Jul 2024 17:54:30 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC9AC0058765A6\"",
        "Last-Modified": "Tue, 02 Jul 2024 17:54:29 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2024-07-02T17:54:29.6925606Z",
        "x-ms-file-creation-time": "2024-07-02T17:54:29.6925606Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-07-02T17:54:29.6925606Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "8720823596597466685*1287379445297103284",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-ab7049ab-77b5-5914-1ccf-37edc938617e/8eefda99/797114fd?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Jul 2024 17:54:30 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC9AC0058FA1DA\"",
        "Last-Modified": "Tue, 02 Jul 2024 17:54:29 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2024-07-02T17:54:29.7465306Z",
        "x-ms-file-creation-time": "2024-07-02T17:54:29.7465306Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2024-07-02T17:54:29.7465306Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "8720823596597466685*1287379445297103284",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-ab7049ab-77b5-5914-1ccf-37edc938617e/8eefda99/797114fd/5f054f5f",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Jul 2024 17:54:30 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-ab7049ab-77b5-5914-1ccf-37edc938617e/8eefda99/797114fd/5f054f5f",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Tue, 02 Jul 2024 17:54:30 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC9AC005A2D905\"",
        "Last-Modified": "Tue, 02 Jul 2024 17:54:29 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-07-02T17:54:29.8724613Z",
        "x-ms-file-creation-time": "2024-07-02T17:54:29.8724613Z",
        "x-ms-file-id": "16140971433240035328",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "13365936616355342650*1287379445297103284",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-ab7049ab-77b5-5914-1ccf-37edc938617e/8eefda99/797114fd/5f054f5f?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 02 Jul 2024 17:54:30 GMT",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2024-08-04",
        "x-ms-write": "update"
      },
      "RequestBody": "H3XgIQG16Qs91JWOqLOoLjg9jSZel05KMgo3lRKUgkx4d17cbUjLWC/UJd2AjVF0kXmle4m1gognlu72flT5qFJJFjBVy8HvcTX3inFwyaW5wgOZ7wfDwvXVtdda1drb232KNncgH8a4tQlTvfgWtsxIPLtQYLlLhlM7fxbplZxbHK705pItmaI94Dr9bwT9v/8KEZgeinvDP7Aj5aCvziBt+KFJIc85G6MZEn9/TRZPPb8X34MEPJEyMKbiCrMCjhIZkHZjs50v0Pb0BXj8RPGa1KfgmO6daLwPFvAoVxHwFoRsZb2g64ki6A6MEDcZNuy1SDULIfYkfCi6VJ2sBnnlBO70kN80+ekevrDfEFiE9uAEcw/b5PWOSOiV5pfsdeGVpwxIJKYMgU5M7WNFRGzPNV68p5JpCR/5Zkf2nxNRMUjOSmlMO9E6+PLBj/aRSAN8xbE5MM1PK53sT75eFuI6+rsad/oDg/mMga+gqHopZx5EedliGAF6fx7LX+wT3OEQhpU6dtAJeUG3rK4droMjw+efGpwI2OG6oPjbNyMNeaXOkCLk7vBOOgCXqmxSXNCaqJwEc8JFB62zgNbXLkEdqjMJTx5hPtT3Ud+bcC10Z0MoQI6HCAXiiIh0MW4adgu+egA5SQ2xOWrHDSLiqZeAPhiTr+2zlqEtJ8aW7Qxm3NvU3fYtOx42dwckv/vi/9/w8/JVh8YeC+NeCyJGGkxdYDBHDsyhUgP6XDjlj9amSifnpvkaEVUUtdESzy/88Fy6xl/Km/ETT6HuWyqOOHwNt8D7XnRTQk/bMln6joPT/WzbK8h33K411FdXLLUqhnxVBRduAZHoZ4MP72mYGMAdG12+sg2zldsSxYoc+xaasKvcpYlsZPza88RFaOxFnbuWOhFXbNRvoXA7XDsHy2tsdT69u3M3sLZg475Jbi3uzCfPhcAFQkPXbQMYMAfB0ydY2POth+FHX4la94kVJTNCTI8UOEaqZzL75k5wHn+unw+X8JU6QEVFhyY2q0u6wkfP1uN3rZvhrXHAsqCT10EKq1d5fTWdCAxKzrAfc7znQSQHoEicN/J0tUMkeo6ksrDlLP/zQEQRMc3XLd7rwTm02HF8izb4bnRlBcjyeY59pRv/Oke88wDf9W96xAkTifQJb6EcJyZ67L6Ljjt8H7g/WYjC64by+OVwnZbGfalqUXvT6AntYX31hU6IMWXFY9W3O2qBUJ1tFne7rIqQs24VIDy/qDeuUfgKzWY4aseAqjrAD0I/6QHdZtKSMbTzZdHgcxAoBrqeCOpxdoM3NauvOwFQz6Qs1TY74UJkGyBEF2iUWPe3V6R/IgZYznN+pjEm4vWyopUts53Z7SR4Og==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "SX1GGky/v5M9bfmY1NWCFA==",
        "ETag": "\"0x8DC9AC005ABD873\"",
        "Last-Modified": "Tue, 02 Jul 2024 17:54:29 GMT",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-ab7049ab-77b5-5914-1ccf-37edc938617e/8eefda99/797114fd?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Jul 2024 17:54:30 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandadev2.file.core.windows.net/\" ShareName=\"test-share-ab7049ab-77b5-5914-1ccf-37edc938617e\" DirectoryPath=\"8eefda99/797114fd\"><DirectoryId>11529285414812647424</DirectoryId><Entries><File><Name>5f054f5f</Name><FileId>16140971433240035328</FileId><Properties><Content-Length>1024</Content-Length></Properties></File><File><Name>63e0180d</Name><FileId>13835093239654252544</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-ab7049ab-77b5-5914-1ccf-37edc938617e/8eefda99/797114fd/5f054f5f",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Jul 2024 17:54:30 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC9AC005ABD873\"",
        "Last-Modified": "Tue, 02 Jul 2024 17:54:29 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-07-02T17:54:29.9314291Z",
        "x-ms-file-creation-time": "2024-07-02T17:54:29.8724613Z",
        "x-ms-file-id": "16140971433240035328",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "13365936616355342650*1287379445297103284",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-ab7049ab-77b5-5914-1ccf-37edc938617e/8eefda99/797114fd/5f054f5f",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Jul 2024 17:54:30 GMT",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC9AC005ABD873\"",
        "Last-Modified": "Tue, 02 Jul 2024 17:54:29 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-07-02T17:54:29.9314291Z",
        "x-ms-file-creation-time": "2024-07-02T17:54:29.8724613Z",
        "x-ms-file-id": "16140971433240035328",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "115[...]
[...]
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-ab7049ab-77b5-5914-1ccf-37edc938617e?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Jul 2024 17:54:30 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1426445327",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
