{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-336b4d32-e212-c3f1-1fb3-97183b5cdde2?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Dec 2024 17:27:57 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD161B53793E50\"",
        "Last-Modified": "Fri, 06 Dec 2024 17:27:57 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-336b4d32-e212-c3f1-1fb3-97183b5cdde2/4cd7e84e?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Dec 2024 17:27:57 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD161B538334FF\"",
        "Last-Modified": "Fri, 06 Dec 2024 17:27:57 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2024-12-06T17:27:57.7514239Z",
        "x-ms-file-creation-time": "2024-12-06T17:27:57.7514239Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-12-06T17:27:57.7514239Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "8016861625448480706*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-336b4d32-e212-c3f1-1fb3-97183b5cdde2/4cd7e84e/58c11b1f?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Dec 2024 17:27:58 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD161B53B79EDF\"",
        "Last-Modified": "Fri, 06 Dec 2024 17:27:58 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2024-12-06T17:27:58.0949215Z",
        "x-ms-file-creation-time": "2024-12-06T17:27:58.0949215Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2024-12-06T17:27:58.0949215Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "8016861625448480706*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-336b4d32-e212-c3f1-1fb3-97183b5cdde2/4cd7e84e/58c11b1f/fcec57b0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Fri, 06 Dec 2024 17:27:58 GMT",
        "x-ms-type": "file",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD161B53C13115\"",
        "Last-Modified": "Fri, 06 Dec 2024 17:27:58 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-12-06T17:27:58.1576469Z",
        "x-ms-file-creation-time": "2024-12-06T17:27:58.1576469Z",
        "x-ms-file-id": "16140971433240035328",
        "x-ms-file-last-write-time": "2024-12-06T17:27:58.1576469Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-336b4d32-e212-c3f1-1fb3-97183b5cdde2/4cd7e84e/58c11b1f/fcec57b0?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Fri, 06 Dec 2024 17:27:58 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05",
        "x-ms-write": "update"
      },
      "RequestBody": "VjpRH0snrRNTAjp16wm1SyPNu2pJHntdiA4vg4BYsKVMc5rpKm6C6RjKRBJN3JnzK63lZDfNZji/85c8+CqS+1KUKXduyyC0StFRf9loEKx1O1fScktufgxiKjbXRvHtN0jAuLIihV+MMBllfOdeVuPqx73Sv4gGJqtqDKDq3QTgY0iRqFf6U7b4RkIyCAIlA9RT7H80G3e/uZIHt3i+olIUhRifzK6L8HQG2nlG0x2oRAjMlvCFq0jQ0e7F8ps9OaPvHYPphjYlyPwLLUD+eOV0XnJv8Qtij9nQzvu/xf3YyaDVV7aav77Rp870en0H0lgIUZQozUiXjY6pGLc7ZQL/MmSgKCEv2Z60nko9bhVbyPyit3NosPtYPckn8KYGlUHL9EcZZ6k32Hf1cy/9Wh94TU+6ma6PloFpR+pXCOj4rQgIcnnNQmFTat77cjzLWuOqrqJWS/uTPF3Grx++39CP/cUn9eelqwvuZy/PkyREne0GrFlGoWIMdDYbB5JBlIsObHR2pGX8BAOXaOTMxKg5gRIytzJ3SFxjGoCxiqR4rNKjwSavzvmHCqhVrjl9P7CN4oWAD9xYlyMYEonkS3pfH7sRKQOCibMZqq2KIZoi5drPI6ce+J32SikClrtvo78t9o99bBatC1jSZ2QvznWJ9S2uFCfTQCceG97Zf/L3qQftXSoLpXnEIhdOS5A5xny0eaGOwI6XWrVnX1E41Ixm271cQXFLfVCz6vIQhPWW5FRhJQVRaeh4VgJ0o0Uoi06K6HDS3IQLaPxQ2tach9XA0Xr81q+GFHHV4+tu1toKi1+jhZuEwwfPVrwJAI8S3M8stNLKK7SfA9T//fmZnJIhRU53+AE6PA1zLIDyfRPiwgcbQSEHQF+qBIHHhcYONrop57tAm+PN8nfEV/80rIbAHTryfVtwGgXuzPSAcrdHZPbGyZVYoScjTk+qQ+hgdVj6B2iLHLheuM21Uc7vTX/AfPMJbuLwZ3sSzi8MxtYdjlebhWtOvEg9ZxDIok9ZNAHP6cf1Vwd1Cp/seE6JUvH3mMN3U8cTcb+rywfSKMQruZkuPN0PJzdPJnvLYkP5tBQf0QqM4uE5u3cHSosAo+HawL+0WxYU53CMJyxMRw98sRbys1e6n9a49IBmB92rT4OZ8aGERVn+CumZALq07XNni5h1De+KICHo+2aVrd+S4NipslZt92u89KhtIJ8bBAcN/nxFNkGTD9CAm0nzaFwJBx/iCzoc+pMsuBlHHf+CzPdeiK9jTaqWFaOG7VwiyYxLYxl/OfnN8ATpGH0oTPHQ/s5SlOCtprl0S/WWlgw2Cu6N+7nmApP+kZerejUtbsmxte+N0DWrnr1fC+0DNg==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "IeKMvDpVqN1qI2UI9bXl1Q==",
        "ETag": "\"0x8DD161B53CAC34D\"",
        "Last-Modified": "Fri, 06 Dec 2024 17:27:58 GMT",
        "x-ms-file-last-write-time": "2024-12-06T17:27:58.2203725Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-336b4d32-e212-c3f1-1fb3-97183b5cdde2/4cd7e84e/58c11b1f/bfbaf894",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Dec 2024 17:27:58 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD161B53DCD77F\"",
        "Last-Modified": "Fri, 06 Dec 2024 17:27:58 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-12-06T17:27:58.3388543Z",
        "x-ms-file-creation-time": "2024-12-06T17:27:58.2771244Z",
        "x-ms-file-id": "10376363910205800448",
        "x-ms-file-last-write-time": "2024-12-06T17:27:58.3388543Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-336b4d32-e212-c3f1-1fb3-97183b5cdde2/4cd7e84e/58c11b1f/d1e5b48c",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Dec 2024 17:27:58 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-336b4d32-e212-c3f1-1fb3-97183b5cdde2/4cd7e84e/58c11b1f?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Dec 2024 17:27:58 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.file.core.windows.net/\" ShareName=\"test-share-336b4d32-e212-c3f1-1fb3-97183b5cdde2\" DirectoryPath=\"4cd7e84e/58c11b1f\"><DirectoryId>11529285414812647424</DirectoryId><Entries><File><Name>483a79c9</Name><FileId>13835093239654252544</FileId><Properties><Content-Length>1024</Content-Length></Properties></File><File><Name>bfbaf894</Name><FileId>10376363910205800448</FileId><Properties><Content-Length>1024</Content-Length></Properties></File><File><Name>d1e5b48c</Name><FileId>13835163608398430208</FileId><Properties><Content-Length>1024</Content-Length></Properties></File><File><Name>fcec57b0</Name><FileId>16140971433240035328</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-336b4d32-e212-c3f1-1fb3-97183b5cdde2?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Dec 2024 17:27:58 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1743158733",
    "Storage_TestConfigDefault": "ProductionTenant\namandapreprod\nU2FuaXRpemVk\nhttps://amandapreprod.blob.core.windows.net\nhttps://amandapreprod.file.core.windows.net\nhttps://amandapreprod.queue.core.windows.net\nhttps://amandapreprod.table.core.windows.net\n\n\n\n\nhttps://amandapreprod-secondary.blob.core.windows.net\nhttps://amandapreprod-secondary.file.core.windows.net\nhttps://amandapreprod-secondary.queue.core.windows.net\nhttps://amandapreprod-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandapreprod.blob.core.windows.net/;QueueEndpoint=https://amandapreprod.queue.core.windows.net/;FileEndpoint=https://amandapreprod.file.core.windows.net/;BlobSecondaryEndpoint=https://amandapreprod-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandapreprod-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandapreprod-secondary.file.core.windows.net/;AccountName=amandapreprod;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
