{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-a68af0d5-5b54-e4e8-beee-e84c46d329fb?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Jul 2024 18:26:58 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC9AC48ED031DE\"",
        "Last-Modified": "Tue, 02 Jul 2024 18:26:58 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-a68af0d5-5b54-e4e8-beee-e84c46d329fb/658d590f?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Jul 2024 18:26:58 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC9AC48EDAB0F4\"",
        "Last-Modified": "Tue, 02 Jul 2024 18:26:58 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2024-07-02T18:26:58.0732148Z",
        "x-ms-file-creation-time": "2024-07-02T18:26:58.0732148Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-07-02T18:26:58.0732148Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "8720823596597466685*1287379445297103284",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-a68af0d5-5b54-e4e8-beee-e84c46d329fb/658d590f/b78713a7?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Jul 2024 18:26:58 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC9AC48EE3D781\"",
        "Last-Modified": "Tue, 02 Jul 2024 18:26:58 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2024-07-02T18:26:58.1331841Z",
        "x-ms-file-creation-time": "2024-07-02T18:26:58.1331841Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2024-07-02T18:26:58.1331841Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "8720823596597466685*1287379445297103284",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-a68af0d5-5b54-e4e8-beee-e84c46d329fb/658d590f/b78713a7/d9e8a2de",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Jul 2024 18:26:58 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-a68af0d5-5b54-e4e8-beee-e84c46d329fb/658d590f/b78713a7/d9e8a2de",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Tue, 02 Jul 2024 18:26:58 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC9AC48EF8BC05\"",
        "Last-Modified": "Tue, 02 Jul 2024 18:26:58 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-07-02T18:26:58.2701061Z",
        "x-ms-file-creation-time": "2024-07-02T18:26:58.2701061Z",
        "x-ms-file-id": "16140971433240035328",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "13365936616355342650*1287379445297103284",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-a68af0d5-5b54-e4e8-beee-e84c46d329fb/658d590f/b78713a7/d9e8a2de?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 02 Jul 2024 18:26:59 GMT",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2024-08-04",
        "x-ms-write": "update"
      },
      "RequestBody": "4X/QXpGxC368ZzxLVwS8Yej5LfN3tGnnZb9GAOvo0N4iLMUCNWsWjhmjiXTX82xXbxp8g8BPBi0W6fjSawqT1JZdKCs+uSt845/a1Cv0D3JT7pHRa00e0yWX7ExzRCIOD7TdecpAGLXvAKAhdTEBIdmGf3x5wmlJP1UFps3eCZ59y8R2FpWnEtbb4Wqt/V3zlspz7MWllE1LlDp0O3HoEPYBo6ltiwpD3mymnuD+nEL3ERACax3Z1zZ3KoJbMtZl89F0q1m0hgq/Lw1Y//ZsTfj4fSpg5aXZJ8xy9WCI6KuWQKoPivDoQ4oGQjsPgdhACt2KYrWrBQ4rmoSNQpCqN0dhwb5LXcMHDzqgWqJpyqXzMuuD/oX26juc4+9rWwD5Wwv0rcAa9K0aglN7C6prws/fmRClJznBa9aCr3nTnLM5pv6XdRzl2T09aHsyet+RMSEgjMLwVDTSM0Lpl0UzRuafQmWs1Eyz+cDSaL69jvH38X1Ysw/xSVLJxELZ/EH4CSKVkzd55FzUbJIBHex2FKRR8aXH25PWrfkT4g8K2f1+2l6bJ/u5fgwhg0Z88CtlUrCdiAucMC6OvuU+ZgFNypKVgkKN2u2pmHKYpldMWb3NrZBfbVHy4qovDWgVehcK07m0523p13fC8/CYA4rWQmQocbhx7VxBo6CYXs2ElB5ajdKdmHJQ49UYnHlhWt8fWMsD7QhemeVdc0TMUHmqPl/SPXW3OKny147jWVHj30nAeAUCgKcV+/TtQCQug5Nbbl0ajxxqaCAhERV6ez+UepP6C9d0p764vEGAyviFw1T7h+vzyFAsVhDl4W6Rm4C1WMaRM3e75safYtPb6Z4nnE7Bf/NUoLFDzrXHj8ZPJiHAy3Ex9I/cQKAkU2Z9UWxxvUUg0ByMYLgVTWXC81cAUDuyGh4t9qi+5D9SME1Kxn1IVdKBL1YENGq5G6YqGkxJIwMryzZORMadYevdOTBqyofoep2EfyHlreazc9sBlMryCQxJH/tG+REM5M1qJ/o6TlAfQaCuxKTiRR1PmtDrm80h6jAjIauMoYCMeJtTe4XseSWK4lIpQ0VoZ9nd9l5AIEj/SDzJFiylk6AgIksIjsqYYyGrYLl7+Kbru7rRrqohTFhSVDNIImL45U+xCSH5X9gPRZM9lcCPhFCW3lty0+T2/tXztjqWT0G+sntqye6F8VziwWkX5LeXw8/jskQHhhFquwpMBqmdefVSfuNEJbthEez+kBF63hoeW/Nrs5z9tyxp/w3jOOuzREhzxWXUU50UgaFXCPX/79zwLaq1MsVZVMa22yWtftgBS0vJBhm1SghVVzH6pa42aQ8x8wpA/RKCGnCeHXd3ZgPJVrypNg==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "3sVuxy62hfqbYBXNCLzZ+Q==",
        "ETag": "\"0x8DC9AC48F03DE0B\"",
        "Last-Modified": "Tue, 02 Jul 2024 18:26:58 GMT",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-a68af0d5-5b54-e4e8-beee-e84c46d329fb/658d590f/b78713a7?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Jul 2024 18:26:59 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandadev2.file.core.windows.net/\" ShareName=\"test-share-a68af0d5-5b54-e4e8-beee-e84c46d329fb\" DirectoryPath=\"658d590f/b78713a7\"><DirectoryId>11529285414812647424</DirectoryId><Entries><File><Name>d9e8a2de</Name><FileId>16140971433240035328</FileId><Properties><Content-Length>1024</Content-Length></Properties></File><File><Name>f7e2f435</Name><FileId>13835093239654252544</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-a68af0d5-5b54-e4e8-beee-e84c46d329fb/658d590f/b78713a7/d9e8a2de",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Jul 2024 18:26:59 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC9AC48F03DE0B\"",
        "Last-Modified": "Tue, 02 Jul 2024 18:26:58 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-07-02T18:26:58.3430667Z",
        "x-ms-file-creation-time": "2024-07-02T18:26:58.2701061Z",
        "x-ms-file-id": "16140971433240035328",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "13365936616355342650*1287379445297103284",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-a68af0d5-5b54-e4e8-beee-e84c46d329fb/658d590f/b78713a7/d9e8a2de",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Jul 2024 18:26:59 GMT",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC9AC48F03DE0B\"",
        "Last-Modified": "Tue, 02 Jul 2024 18:26:58 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-07-02T18:26:58.3430667Z",
        "x-ms-file-creation-time": "2024-07-02T18:26:58.2701061Z",
        "x-ms-file-id": "16140971433240035328",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "115[...]
[...]
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-a68af0d5-5b54-e4e8-beee-e84c46d329fb?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Jul 2024 18:26:59 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1612424393",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
