{
  "Entries": [
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-9a213a3c-2073-e7ac-3faf-761421fc8b70?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 15 Apr 2025 19:20:17 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD7C528BF9E3BF\"",
        "Last-Modified": "Tue, 15 Apr 2025 19:20:13 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-9a213a3c-2073-e7ac-3faf-761421fc8b70/1aafe417?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 15 Apr 2025 19:20:17 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD7C528C080D2F\"",
        "Last-Modified": "Tue, 15 Apr 2025 19:20:13 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-04-15T19:20:13.4978863Z",
        "x-ms-file-creation-time": "2025-04-15T19:20:13.4978863Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-04-15T19:20:13.4978863Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "13252330444922611895*16083086822043778878",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-9a213a3c-2073-e7ac-3faf-761421fc8b70/1aafe417/03f78a4e?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 15 Apr 2025 19:20:17 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD7C528C0E6EB0\"",
        "Last-Modified": "Tue, 15 Apr 2025 19:20:13 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-04-15T19:20:13.5397040Z",
        "x-ms-file-creation-time": "2025-04-15T19:20:13.5397040Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2025-04-15T19:20:13.5397040Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "13252330444922611895*16083086822043778878",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-9a213a3c-2073-e7ac-3faf-761421fc8b70/1aafe417/03f78a4e/bd85760b",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 15 Apr 2025 19:20:17 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-9a213a3c-2073-e7ac-3faf-761421fc8b70/1aafe417/03f78a4e/bd85760b",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Tue, 15 Apr 2025 19:20:17 GMT",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-type": "file",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD7C528C1D7901\"",
        "Last-Modified": "Tue, 15 Apr 2025 19:20:13 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-04-15T19:20:13.6382721Z",
        "x-ms-file-creation-time": "2025-04-15T19:20:13.6382721Z",
        "x-ms-file-id": "16140971433240035328",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "8616074386732128176*16083086822043778878",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-9a213a3c-2073-e7ac-3faf-761421fc8b70/1aafe417/03f78a4e/bd85760b?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 15 Apr 2025 19:20:17 GMT",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05",
        "x-ms-write": "update"
      },
      "RequestBody": "XYE6euaIgWAJl5CumrB9lYdf1nErdclsfC3zjh3gU4JZJDc4bXqogvQksxLwxD2VQzC9vh2QjOe4zv64lfNCKEQNVHV4RCgMtlN8B8G2e7fvXUvtI5VlyJhQf5587+0B4YvN4m/HHP4HsAfJFIQmAlJGyTenVAWvqIzdKMSJkMZleiU26JlHKEFN5nKNm7QTKn1MNSa2WoyFHjrj6vM5fSBAZJpf7xm5/6H1Wm6TIQzYyv5GPVqfryCYscleYz1NE2hRTDcaszpkkzaFwP8e8f0tCyD18kDGobR5xz5PWptjp0YGQtTVvhbD4qokGe4her/MMFgdWCEni6uCoOz8FDibIhm4F68oWE0KMQ+WoYfGWE1/gylCRU8l3rYoUh0px81xiffVaGIPpNgKEycRkOkku0effZEPWN3Jkzn4/wYv4GlCJRiQ8fDqb95RODEoE07NBJbViUo7YjEZC9UpFqTS2jK9z2vQlMpXtA2yvSCroX/qK/tvWlceBsPnduYawVk6f13+akTi/G/MfdQ9iaQQbmpVPuuoYoDbnsmo6B3kPPO0eD7CrDY6CC6LotyC4X0e1gh7xYNukhzcI8x7OhRR6EDhiRFmTcEzGza8HL+kWb1LiRIVaHdwRuUi5olqv80aObqboVhsuIhGSKlNsXVcOMkPL7ABPIDJcUMrQ2c3yVtoouMFCLdl39GJziDNIpRwxa2/W48dGP060i8UQXQhD39O5Q6SVjARqk/feG1g+06uun65d27MSonlyzWHUJ5caL+gfz2F3m59rbE/PqCQ2tfhZob1Z5cQgZqFrIv6ilmxghCtv3sRKNwPO8m8jAzpVfBdpukYZgAnkP2jADHigyNXjruP4htc0D2q5izOU/WNm1eanONvmRsPhi99bieqLbilZf1QWXLVAdasboDUWTwIFWXZSOZA5/Sgf1vs32IW/7hzKO73PUHkxZsNwyuaOyzydVjC0eTSZX4JsNkX6SJ0lW7HYTBNENcj9YNKMyPJBUQu+WkJUy7UoMNw7oxnzdt5mC280tr8pWSAn9thhzFaP6qV6PC4akJA88Bt3SFKuyen0Zr1DTNpMlMFiLRSchmRFa/i0uXrwC7re94ajsdCNuO0uraXZTJ3K7Wcs+KN7oGn28hyaOlCvBBsCpFUT6SMwlLRnbhi+rB9a6YwTw1MXo1dc7P/0M36cv6lKlugItwQD/CPvFDJROAY9f1CEWwDIKsE99zxjfGE1iu6vc9V3EjJHz8cvKE8ky7S5tvQt2CRogqvnCsAH4L/C+UlD4cQwhm1ePIt5mMKx2OtHqYWtB/LKBvFpj8cyf+9HbG8F4SnwSTBGj5uY7umpNTHUgDc6FbFWeZrSxzZmA==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "tUO44M3dJm3yHViLwwmFXQ==",
        "ETag": "\"0x8DD7C528C22A35D\"",
        "Last-Modified": "Tue, 15 Apr 2025 19:20:13 GMT",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-9a213a3c-2073-e7ac-3faf-761421fc8b70/1aafe417/03f78a4e/bd85760b?comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 15 Apr 2025 19:20:17 GMT",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD7C528C28DDEA\"",
        "Last-Modified": "Tue, 15 Apr 2025 19:20:13 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-04-15T19:20:13.7129450Z",
        "x-ms-file-creation-time": "2025-04-15T19:20:13.6382721Z",
        "x-ms-file-id": "16140971433240035328",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "8616074386732128176*16083086822043778878",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-9a213a3c-2073-e7ac-3faf-761421fc8b70/1aafe417/03f78a4e?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 15 Apr 2025 19:20:18 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://nickliuproductionacc.file.core.windows.net/\" ShareName=\"test-share-9a213a3c-2073-e7ac-3faf-761421fc8b70\" DirectoryPath=\"1aafe417/03f78a4e\"><DirectoryId>11529285414812647424</DirectoryId><Entries><File><Name>bd85760b</Name><FileId>16140971433240035328</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-9a213a3c-2073-e7ac-3faf-761421fc8b70/1aafe417/03f78a4e/bd85760b",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 15 Apr 2025 19:20:18 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD7C528C28DDEA\"",
        "Last-Modified": "Tue, 15 Apr 2025 19:20:13 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-04-15T19:20:13.7129450Z",
        "x-ms-file-creation-time": "2025-04-15T19:20:13.6382721Z",
        "x-ms-file-id": "16140971433240035328",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "8616074386732128176*16083086822043778878",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-9a213a3c-2073-e7ac-3faf-761421fc8b70/1aafe417/03f78a4e/bd85760b",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 15 Apr 2025 19:20:18 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "ETag": "\"0x8DD7C528C28DDEA\"",
        "Last-Modified": "Tue, 15 Apr 2025 19:20:13 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-04-15T19:20:13.7129450Z",
        "x-ms-file-creation-time": "2025-04-15T19:20:13.6382721Z",
        "x-ms-file-id": "16140971433240035328",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-ke[...]
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-9a213a3c-2073-e7ac-3faf-761421fc8b70?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 15 Apr 2025 19:20:18 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "418269150",
    "Storage_TestConfigDefault": "ProductionTenant\nnickliuproductionacc\nU2FuaXRpemVk\nhttps://nickliuproductionacc.blob.core.windows.net\nhttps://nickliuproductionacc.file.core.windows.net\nhttps://nickliuproductionacc.queue.core.windows.net\nhttps://nickliuproductionacc.table.core.windows.net\n\n\n\n\nhttps://nickliuproductionacc-secondary.blob.core.windows.net\nhttps://nickliuproductionacc-secondary.file.core.windows.net\nhttps://nickliuproductionacc-secondary.queue.core.windows.net\nhttps://nickliuproductionacc-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://nickliuproductionacc.blob.core.windows.net/;QueueEndpoint=https://nickliuproductionacc.queue.core.windows.net/;FileEndpoint=https://nickliuproductionacc.file.core.windows.net/;BlobSecondaryEndpoint=https://nickliuproductionacc-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://nickliuproductionacc-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://nickliuproductionacc-secondary.file.core.windows.net/;AccountName=nickliuproductionacc;AccountKey=U2FuaXRpemVk\nEncryptionScope\n\n"
  }
}
