{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-beafada9-e302-5393-532e-aa75c5f4f04f?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 29 Apr 2024 04:46:04 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC680747759A87\"",
        "Last-Modified": "Mon, 29 Apr 2024 04:46:05 GMT",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-beafada9-e302-5393-532e-aa75c5f4f04f/7d6d345b?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 29 Apr 2024 04:46:04 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC6807478135F9\"",
        "Last-Modified": "Mon, 29 Apr 2024 04:46:05 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2024-04-29T04:46:05.3477881Z",
        "x-ms-file-creation-time": "2024-04-29T04:46:05.3477881Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-04-29T04:46:05.3477881Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "8720823596597466685*1287379445297103284",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-beafada9-e302-5393-532e-aa75c5f4f04f/7d6d345b/22840c8a?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 29 Apr 2024 04:46:04 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC6807478AAA76\"",
        "Last-Modified": "Mon, 29 Apr 2024 04:46:05 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2024-04-29T04:46:05.4097526Z",
        "x-ms-file-creation-time": "2024-04-29T04:46:05.4097526Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2024-04-29T04:46:05.4097526Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "8720823596597466685*1287379445297103284",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-beafada9-e302-5393-532e-aa75c5f4f04f/7d6d345b/22840c8a/03d6426b",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 29 Apr 2024 04:46:04 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-beafada9-e302-5393-532e-aa75c5f4f04f/7d6d345b/22840c8a/03d6426b",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Mon, 29 Apr 2024 04:46:04 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC680747A6E0C3\"",
        "Last-Modified": "Mon, 29 Apr 2024 04:46:05 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-04-29T04:46:05.5946435Z",
        "x-ms-file-creation-time": "2024-04-29T04:46:05.5946435Z",
        "x-ms-file-id": "16140971433240035328",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "13365936616355342650*1287379445297103284",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-beafada9-e302-5393-532e-aa75c5f4f04f/7d6d345b/22840c8a/03d6426b?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Mon, 29 Apr 2024 04:46:04 GMT",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2024-05-04",
        "x-ms-write": "update"
      },
      "RequestBody": "sm3pkXy79C5vm9A9Zm8Q4wGRBcbM54lUqka9LkYXBNqU3z7GRvTNjDMU2khGWynW18Lsw+y5zMvjlec1/cboV5f1qIcwSpwNxHmTuAxADU8d51aDK0Dt2hNz4rEMl45tLIOxULKhpY0m3/9zJhS+o4eXGBVvZCxXB810vWfrACzqJYuJj72ce0HJXUtAerT+tD8qdX95/sdXWUjlLeglOt/SiACINRPK+5zUpQbhFo0ZdQgnwYqtcSfDMTV0t05YpCJrbvKzdn8sYHripVjAdkO7zLff/nlUJRfYxAPdVUNNewHkdaiaZf+J+2EQyszPArvyuOuXeaapFkna2rF7Tgo2lSpX3ACbIGa4VgIYRFpLCcJI651YtgJbOl5ewItODqxW2jWheCW6VpeF3iKjkNLuj9DvM2Ns3t4o+6KiPGDaakhWwWolqZGcjZUG09ffuKmMcDC7XttJ6vtXeXyDGBk2qnTaTc9oyeY+UqXNZgoGSEP4FcwwHwtsDNduzS8VGHR7zyhjBGraJKdKfAw1e4PxUDE4iwNNBotpbUD3+fu2KToxUpbio0PZHfEl5qP/N5BUfX3+3YxxLsmd+Zcp4yqrk1LRBCnsDq3tX24RKB/najWvo3x+t0uuvyTMRKmsrznHeVJQLTNnZ27PEX4dXwWqtY9heUCtLdsGI0QEIMkDQK80Sq7MlzwCSDsOrqbNkF8eIo8aSzX5GUx2SQrvYkekzNHO6RVW3R5TXjEEn341OZLk5v066fR6OjBiVk0xE+X0aeLV/qZKx0VwxuwD9XrNQRB3CnxKaeLcU67k9IfQIUtMDzWcYDrsmR63ySIHdkW1lBQ9ughoqv//+Kr4ZdO+n6Wht+VFMOHVi3FekqC/1N1oLl9yk2ZD42Q1nGeP8zRK+Cl8Zr9fcGQzZy6XChhfQCTNjzZzTAw+XdSBEJN5Rpc9E5l2Qm0dCb77Pis4rNlM1VxDwWP916wdPQjr3l/QuiGWWvZ+6f22sIZ4eA3hBrH6NDs2NYQ0PzzsWQRkMipeKoQJoVLizutfjRHdhF6fOzdX8KokmYWdYhq6kZD4UX5cGU2I12VfGGZP16dzVrvdTB3NDUGAOZH/bD44JzxbZjyTgWoQF2TR+NdD1cHdKgxe3ERzK0Q829+8iWsmJvAq9HFr39VQzTW4+xRqPGTPIUIy2Uv35zv3V6WKU475qtHnGeFQcUo2Dg4Pui8v0p577Wcp9E2lMww2c4gvxXmnv1BCgiODfrD4+8o85ywLyIQGD2Unz7aEQebUGv3BB0mVZ/ve7E97+G+3MfiCaEvfKqsDKLYTgO+avkA9rmOyNvSBp38xLds1ixb2b56+Admb9fBSvd6TgecLRC0OPg==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "fyZmv2ZtawjvchrHz9JwAg==",
        "ETag": "\"0x8DC680747B202AE\"",
        "Last-Modified": "Mon, 29 Apr 2024 04:46:05 GMT",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-beafada9-e302-5393-532e-aa75c5f4f04f/7d6d345b/22840c8a?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 29 Apr 2024 04:46:04 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandadev2.file.core.windows.net/\" ShareName=\"test-share-beafada9-e302-5393-532e-aa75c5f4f04f\" DirectoryPath=\"7d6d345b/22840c8a\"><DirectoryId>11529285414812647424</DirectoryId><Entries><File><Name>03d6426b</Name><FileId>16140971433240035328</FileId><Properties><Content-Length>1024</Content-Length></Properties></File><File><Name>4a432747</Name><FileId>13835093239654252544</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-beafada9-e302-5393-532e-aa75c5f4f04f/7d6d345b/22840c8a/03d6426b",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 29 Apr 2024 04:46:04 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC680747B202AE\"",
        "Last-Modified": "Mon, 29 Apr 2024 04:46:05 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-04-29T04:46:05.6676014Z",
        "x-ms-file-creation-time": "2024-04-29T04:46:05.5946435Z",
        "x-ms-file-id": "16140971433240035328",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "13365936616355342650*1287379445297103284",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-beafada9-e302-5393-532e-aa75c5f4f04f/7d6d345b/22840c8a/03d6426b",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 29 Apr 2024 04:46:04 GMT",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC680747B202AE\"",
        "Last-Modified": "Mon, 29 Apr 2024 04:46:05 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-04-29T04:46:05.6676014Z",
        "x-ms-file-creation-time": "2024-04-29T04:46:05.5946435Z",
        "x-ms-file-id": "16140971433240035328",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "115[...]
[...]
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-beafada9-e302-5393-532e-aa75c5f4f04f?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 29 Apr 2024 04:46:04 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1918944610",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
