{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-9494b4a6-1ec3-a40a-b37b-1846f4d16ac5?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Dec 2024 17:28:37 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD161B6B5865CF\"",
        "Last-Modified": "Fri, 06 Dec 2024 17:28:37 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-9494b4a6-1ec3-a40a-b37b-1846f4d16ac5/bb89c52f?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Dec 2024 17:28:37 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD161B6B622960\"",
        "Last-Modified": "Fri, 06 Dec 2024 17:28:37 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2024-12-06T17:28:37.8001760Z",
        "x-ms-file-creation-time": "2024-12-06T17:28:37.8001760Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-12-06T17:28:37.8001760Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "8016861625448480706*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-9494b4a6-1ec3-a40a-b37b-1846f4d16ac5/bb89c52f/d3e925e3?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Dec 2024 17:28:37 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD161B6B6B2005\"",
        "Last-Modified": "Fri, 06 Dec 2024 17:28:37 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2024-12-06T17:28:37.8589189Z",
        "x-ms-file-creation-time": "2024-12-06T17:28:37.8589189Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2024-12-06T17:28:37.8589189Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "8016861625448480706*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-9494b4a6-1ec3-a40a-b37b-1846f4d16ac5/bb89c52f/d3e925e3/48ec6e7d",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Dec 2024 17:28:37 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-9494b4a6-1ec3-a40a-b37b-1846f4d16ac5/bb89c52f/d3e925e3/48ec6e7d",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Fri, 06 Dec 2024 17:28:37 GMT",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-type": "file",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD161B6B8064EF\"",
        "Last-Modified": "Fri, 06 Dec 2024 17:28:37 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-12-06T17:28:37.9983087Z",
        "x-ms-file-creation-time": "2024-12-06T17:28:37.9983087Z",
        "x-ms-file-id": "16140971433240035328",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-9494b4a6-1ec3-a40a-b37b-1846f4d16ac5/bb89c52f/d3e925e3/48ec6e7d?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Fri, 06 Dec 2024 17:28:38 GMT",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05",
        "x-ms-write": "update"
      },
      "RequestBody": "3OetKab/ALxG+qs9of18zIiApO4HjAFeNq2qrMIra94cPxDhnwGXfW0vARLMh6g7J+zAx1nHr1DlTvP5VVT6G47NIWHtmyyG6CaA2Irvka4FboTVa6SFVY/A+1EOnicZNOaD/2ZGToy/Od4yRtfF9r1E9OfPJLDqR8zSLJ/beEr+Z6OkbJJIvh/3FjHFUw64+wWUyapASRA1mLeadCLt48GUM980IIoq/DXI2A5+JfS9GTCZR66fvh6TbtParkn9CjJwMR8vhNp7ac10eHEBtnPD3FrxU5wS9HXBoLG2UE3sy83bDvPVjpVWHt7gKkatkbdgFtHuC7eWXTyqbuMoxRh/iK2jJqh/7k7FmzW9MsouEw/6VTp8/b8WRbG3KiCyLVjGYKKZCWsP4SiDKXCB2Ctye1rULnDeA4rtjOD2yMMtEm3c99EnlQqk6nQR+NNPlGyGRK/G3f7o6FwXq3yKGBhkVRYCpeFZSuVPMET7zAu3nvh0cIQTZzRv8w90EOqNGtFbraK8TO+KLPnKdq267BtRYAyEFaiUUO7hk7HS5Dr6wRVyoB9o+lII6UOKSfGGtAfzIrDeCQQpxly02rk+uEi+z7SYR0v86WW6eytkCgb9W96p3sGKHLgRSdrCsx+ZyjH7y3o87m279jlKJI3YxbtVt3/alNmHNLL8hv5xOjVGILH6aT6MwGxx7uiIQPgqOIQebPyfvzVXdJfIQGhvSrwDAwPc3Vt9yfYTaKXx//S50k15Us05p2F8o/Snw4ADAqQrhDz1TlsooaMFi1aPZXWiDm0a9ffvyVyhXzpn1QZ2D2YBxXq4xIPyUbEpMxsL7D1/BbQS6QytPLrfVO4gwcudj3vvjqD66krqKKRGxZZAlXP959BRYyZZVIm/2G+V0Y/ljKSfG16dhBpqKMFoZnYknr56I9n7TCtVlTkWOhHaVFYUYDjxoXoVX2K15ztl8e0SmzmxGq616UB5SoYkhkoIj9NqUwY+M/1EZcN3RmXv76NMBJ/YKDmnXnb4d1bz8dkYrFdn+p7n1Gc7bbXqPqPbilri14KqMGaZwvSPRrumUHPqX5kNh/QFZTA3nLuEvSDTHO37ERlXbnvxzTiqV46slB1BAN8JzQJm3HFRcpOrFQXTvCnOqz5ZkvEdHLm8Ww2iiwieQr1ByU7qlTSnBfvoRbgy1ptk3ene523t67FIqYFkr+aLDdNIkfLa4xUJsY31NdYBiYRyPa4ev1pPU92doeyzQ1UVXDjk6kSoivrU1Tbg+LbbRx/98XI4bU15+D4VPUEpVm0339idHJ8/ybO0Seokb1onwlrMtlLj3e/ra/IGk0y4q3/IqBjdPSqAvSi/gyNjVIjj7XvnXJ8bVA==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "mKfvH/FeVLmuyXQbdGwuYQ==",
        "ETag": "\"0x8DD161B6B89F725\"",
        "Last-Modified": "Fri, 06 Dec 2024 17:28:38 GMT",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-9494b4a6-1ec3-a40a-b37b-1846f4d16ac5/bb89c52f/d3e925e3?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Dec 2024 17:28:38 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.file.core.windows.net/\" ShareName=\"test-share-9494b4a6-1ec3-a40a-b37b-1846f4d16ac5\" DirectoryPath=\"bb89c52f/d3e925e3\"><DirectoryId>11529285414812647424</DirectoryId><Entries><File><Name>48ec6e7d</Name><FileId>16140971433240035328</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-9494b4a6-1ec3-a40a-b37b-1846f4d16ac5/bb89c52f/d3e925e3/48ec6e7d",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Dec 2024 17:28:38 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD161B6B89F725\"",
        "Last-Modified": "Fri, 06 Dec 2024 17:28:38 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-12-06T17:28:38.0610341Z",
        "x-ms-file-creation-time": "2024-12-06T17:28:37.9983087Z",
        "x-ms-file-id": "16140971433240035328",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-9494b4a6-1ec3-a40a-b37b-1846f4d16ac5/bb89c52f/d3e925e3/48ec6e7d",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Dec 2024 17:28:38 GMT",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD161B6B89F725\"",
        "Last-Modified": "Fri, 06 Dec 2024 17:28:38 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-12-06T17:28:38.0610341Z",
        "x-ms-file-creation-time": "2024-12-06T17:28:37.9983087Z",
        "x-ms-file-id": "16140971433240035328",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "115[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-9494b4a6-1ec3-a40a-b37b-1846f4d16ac5?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Dec 2024 17:28:38 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "923872217",
    "Storage_TestConfigDefault": "ProductionTenant\namandapreprod\nU2FuaXRpemVk\nhttps://amandapreprod.blob.core.windows.net\nhttps://amandapreprod.file.core.windows.net\nhttps://amandapreprod.queue.core.windows.net\nhttps://amandapreprod.table.core.windows.net\n\n\n\n\nhttps://amandapreprod-secondary.blob.core.windows.net\nhttps://amandapreprod-secondary.file.core.windows.net\nhttps://amandapreprod-secondary.queue.core.windows.net\nhttps://amandapreprod-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandapreprod.blob.core.windows.net/;QueueEndpoint=https://amandapreprod.queue.core.windows.net/;FileEndpoint=https://amandapreprod.file.core.windows.net/;BlobSecondaryEndpoint=https://amandapreprod-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandapreprod-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandapreprod-secondary.file.core.windows.net/;AccountName=amandapreprod;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
