{
  "Entries": [
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-e6b84901-9d56-4b43-f06b-34de77cfccda?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 30 Apr 2025 15:48:30 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD87FE737B8F5C\"",
        "Last-Modified": "Wed, 30 Apr 2025 15:48:28 GMT",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-e6b84901-9d56-4b43-f06b-34de77cfccda/51869c0d?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 30 Apr 2025 15:48:30 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD87FE73824903\"",
        "Last-Modified": "Wed, 30 Apr 2025 15:48:28 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-04-30T15:48:28.5839619Z",
        "x-ms-file-creation-time": "2025-04-30T15:48:28.5839619Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-04-30T15:48:28.5839619Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "13252330444922611895*16083086822043778878",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-e6b84901-9d56-4b43-f06b-34de77cfccda/51869c0d/aa2396c9?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 30 Apr 2025 15:48:30 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD87FE73866316\"",
        "Last-Modified": "Wed, 30 Apr 2025 15:48:28 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-04-30T15:48:28.6108438Z",
        "x-ms-file-creation-time": "2025-04-30T15:48:28.6108438Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2025-04-30T15:48:28.6108438Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "13252330444922611895*16083086822043778878",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-e6b84901-9d56-4b43-f06b-34de77cfccda?restype=share",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 30 Apr 2025 15:48:30 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD87FE737B8F5C\"",
        "Last-Modified": "Wed, 30 Apr 2025 15:48:28 GMT",
        "x-ms-access-tier": "TransactionOptimized",
        "x-ms-access-tier-change-time": "Wed, 30 Apr 2025 15:48:28 GMT",
        "x-ms-has-immutability-policy": "false",
        "x-ms-has-legal-hold": "false",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-share-quota": "102400",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-e6b84901-9d56-4b43-f06b-34de77cfccda/51869c0d/aa2396c9/de50953d?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 30 Apr 2025 15:48:31 GMT",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD87FE73928A72\"",
        "Last-Modified": "Wed, 30 Apr 2025 15:48:28 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-04-30T15:48:28.6904946Z",
        "x-ms-file-creation-time": "2025-04-30T15:48:28.6904946Z",
        "x-ms-file-id": "16140971433240035328",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "13252330444922611895*16083086822043778878",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-e6b84901-9d56-4b43-f06b-34de77cfccda/51869c0d/aa2396c9/de50953d/a27db86b?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 30 Apr 2025 15:48:31 GMT",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD87FE7396CB68\"",
        "Last-Modified": "Wed, 30 Apr 2025 15:48:28 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-04-30T15:48:28.7183720Z",
        "x-ms-file-creation-time": "2025-04-30T15:48:28.7183720Z",
        "x-ms-file-id": "10376363910205800448",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "16140971433240035328",
        "x-ms-file-permission-key": "13252330444922611895*16083086822043778878",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-e6b84901-9d56-4b43-f06b-34de77cfccda/51869c0d/aa2396c9/de50953d/a27db86b/7e3c0e80?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 30 Apr 2025 15:48:31 GMT",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD87FE739B5A2A\"",
        "Last-Modified": "Wed, 30 Apr 2025 15:48:28 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-04-30T15:48:28.7482410Z",
        "x-ms-file-creation-time": "2025-04-30T15:48:28.7482410Z",
        "x-ms-file-id": "14988049928633188352",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "10376363910205800448",
        "x-ms-file-permission-key": "13252330444922611895*16083086822043778878",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-e6b84901-9d56-4b43-f06b-34de77cfccda/51869c0d/aa2396c9/de50953d/a27db86b/7e3c0e80/dd81be8a?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 30 Apr 2025 15:48:31 GMT",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD87FE739FC20F\"",
        "Last-Modified": "Wed, 30 Apr 2025 15:48:28 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-04-30T15:48:28.7771151Z",
        "x-ms-file-creation-time": "2025-04-30T15:48:28.7771151Z",
        "x-ms-file-id": "12682206919419494400",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "14988049928633188352",
        "x-ms-file-permission-key": "13252330444922611895*16083086822043778878",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-e6b84901-9d56-4b43-f06b-34de77cfccda/51869c0d/aa2396c9/de50953d/a27db86b/7e3c0e80/dd81be8a/250a4e77",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 30 Apr 2025 15:48:31 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-e6b84901-9d56-4b43-f06b-34de77cfccda/51869c0d/aa2396c9/de50953d/a27db86b/7e3c0e80/dd81be8a/250a4e77",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Wed, 30 Apr 2025 15:48:31 GMT",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-type": "file",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD87FE73AB4DD2\"",
        "Last-Modified": "Wed, 30 Apr 2025 15:48:28 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-04-30T15:48:28.8527826Z",
        "x-ms-file-creation-time": "2025-04-30T15:48:28.8527826Z",
        "x-ms-file-id": "17293892937846882304",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "12682206919419494400",
        "x-ms-file-permission-key": "8616074386732128176*16083086822043778878",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-e6b84901-9d56-4b43-f06b-34de77cfccda/51869c0d/aa2396c9/de50953d/a27db86b/7e3c0e80/dd81be8a/250a4e77?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 30 Apr 2025 15:48:31 GMT",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-07-05",
        "x-ms-write": "update"
      },
      "RequestBody": "svSiLpYtC/+gvI08nK72rFy7pCl2S1f7HBOiKkmq9We+YhskHNrgSUMKhPwBZdKMd4tnz+RkhmecphGDi+C29sYmfjmT0o+C2lvlbMdb+rZAFbK9QyaDWtuzh3XIXL1iU4022+aZ+KX75fWIfhqgQaxbQ3Uu+LOfoiRd30oZuX2dgxg5JB7Qph0NwV4x+tvBE0bIbRlHNFraljjCPBha4it36/sBZhyOip1YIDZVbqdJm8sEUExkVU++X47lDWoEs98yuQ/gv60pOuJ77xMjhSeReaBMVZHeE5WsQweNqH0zU21XIrSYaNse2hZq6GY7mtpmVJTJt11OVKV5M3ymm5FkSJumzGJz+BDELnp7dCsvcKgsJ1ToaZsPCc4PHzVfdz+EBZ/Klc5381yDBYni0+B6ScLUeXQ9fN8AlsOUZNjbZbY79m6LZdvatTP4ZGMRLDXtlNVyiv7KR4nAyv4L4o+DqKDTp9xx7uTn+sRARRd77mqNps8Dadq3ca/ly5rdz9KkdbzDPoVZfKXwipA6igJyRNyUfTzAfz/FGzYtjCNKCSvym89at6/kNCopEt5Jfeascoa+SVGV5PV8/SNPK++CpoFlR+4yF4wsr0kSlm1hfJ1PgBmcjMDZXLfa3rmMlQg6pmtc4zX4elv5kZoHg02HG4GF/6vV5hrAjOs2VznSoBlB1+8BBJlnVwa+ovom0thpUsI4BpZdZMBRnFdKwSIiJvCAxqxdhhfoHqilF0MfmrkTzAR2mpqD5HIvsGhBHZXjm3sKpQwrDMyrUOftt0x9MQGdNvQeq4xV/eE6LtWupgESwnzHFfWt6MA3ykmylSwlsX9npOehxO/utKcq8d33/Krm2vXQtRwL704z5uFDomi1FHxWRwEacf2M2GBOg/bjQM2fzLo2VPxjW7WZbd4OqxI/ddxgobWozGn4RNy8vGxXUKUTo9atfr+A8uxMgAQefSxNDw0ag58Y9/9RPhAfp55JQR04+wg7kfcc367JW0tk2cawbq1ePM0G+qzXWz+vYUtNAz/n5oIkEn0W/aPwT5uz7GRJbznx6gVPMQBbZDW3bX5je1gMffNEi1svRz8pFqoRI2/bZfISWxg6l7SByK1IX5AljdRCp29xBePdwaPFJhtWSkHG2weLUB8/0uU+wsOu5+euA4jWznz/aWAONZp1dHGYK31sgYOJmT20AtSJM0MgL9q7FiKSf3vExnKnfBuFyl10pZdFQWZjJWpLIsundjUd7ga/uV1OBasCp7oR4R0hLjh2FI2r2+10V/G4R12wHVA8io4UxRAAJZ/rQpmrUkNMKfOTMGGocRIYS2Jslr5OUopp1FeODWkodu7uv5hTyAStax1pHOzvlA==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "vwM6wCjVNKXSmp7fpanMWQ==",
        "ETag": "\"0x8DD87FE73B271B7\"",
        "Last-Modified": "Wed, 30 Apr 2025 15:48:28 GMT",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-e6b84901-9d56-4b43-f06b-34de77cfccda/51869c0d/aa2396c9/de50953d/a27db86b/7e3c0e80/dd81be8a/250a4e77?comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 30 Apr 2025 15:48:31 GMT",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD87FE73B6D994\"",
        "Last-Modified": "Wed, 30 Apr 2025 15:48:28 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-04-30T15:48:28.9284500Z",
        "x-ms-file-creation-time": "2025-04-30T15:48:28.8527826Z",
        "x-ms-file-id": "17293892937846882304",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "12682206919419494400",
        "x-ms-file-permission-key": "8616074386732128176*16083086822043778878",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-e6b84901-9d56-4b43-f06b-34de77cfccda/51869c0d/aa2396c9?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 30 Apr 2025 15:48:31 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://nickliuproductionacc.file.core.windows.net/\" ShareName=\"test-share-e6b84901-9d56-4b43-f06b-34de77cfccda\" DirectoryPath=\"51869c0d/aa2396c9\"><DirectoryId>11529285414812647424</DirectoryId><Entries><Directory><Name>de50953d</Name><FileId>16140971433240035328</FileId><Properties /></Directory></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-e6b84901-9d56-4b43-f06b-34de77cfccda/51869c0d/aa2396c9/de50953d?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 30 Apr 2025 15:48:31 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://nickliuproductionacc.file.core.windows.net/\" ShareName=\"test-share-e6b84901-9d56-4b43-f06b-34de77cfccda\" DirectoryPath=\"51869c0d/aa2396c9/de50953d\"><DirectoryId>16140971433240035328</DirectoryId><Entries><Directory><Name>a27db86b</Name><FileId>10376363910205800448</FileId><Properties /></Directory></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-e6b84901-9d56-4b43-f06b-34de77cfccda/51869c0d/aa2396c9/de50953d/a27db86b?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 30 Apr 2025 15:48:31 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://nickliuproductionacc.file.core.windows.net/\" ShareName=\"test-share-e6b84901-9d56-4b43-f06b-34de77cfccda\" DirectoryPath=\"51869c0d/aa2396c9/de50953d/a27db86b\"><DirectoryId>10376363910205800448</DirectoryId><Entries><Directory><Name>7e3c0e80</Name><FileId>14988049928633188352</FileId><Properties /></Directory></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-e6b84901-9d56-4b43-f06b-34de77cfccda/51869c0d/aa2396c9/de50953d/a27db86b/7e3c0e80?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 30 Apr 2025 15:48:31 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://nickliuproductionacc.file.core.windows.net/\" ShareName=\"test-share-e6b84901-9d56-4b43-f06b-34de77cfccda\" DirectoryPath=\"51869c0d/aa2396c9/de50953d/a27db86b/7e3c0e80\"><DirectoryId>14988049928633188352</DirectoryId><Entries><Directory><Name>dd81be8a</Name><FileId>12682206919419494400</FileId><Properties /></Directory></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-e6b84901-9d56-4b43-f06b-34de77cfccda/51869c0d/aa2396c9/de50953d/a27db86b/7e3c0e80/dd81be8a?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 30 Apr 2025 15:48:31 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://nickliuproductionacc.file.core.windows.net/\" ShareName=\"test-share-e6b84901-9d56-4b43-f06b-34de77cfccda\" DirectoryPath=\"51869c0d/aa2396c9/de50953d/a27db86b/7e3c0e80/dd81be8a\"><DirectoryId>12682206919419494400</DirectoryId><Entries><File><Name>250a4e77</Name><FileId>17293892937846882304</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-e6b84901-9d56-4b43-f06b-34de77cfccda/51869c0d/aa2396c9/de50953d/a27db86b/7e3c0e80/dd81be8a/250a4e77",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 30 Apr 2025 15:48:31 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD87FE73B6D994\"",
        "Last-Modified": "Wed, 30 Apr 2025 15:48:28 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-04-30T15:48:28.9284500Z",
        "x-ms-file-creation-time": "2025-04-30T15:48:28.8527826Z",
        "x-ms-file-id": "17293892937846882304",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "12682206919419494400",
        "x-ms-file-permission-key": "8616074386732128176*16083086822043778878",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-e6b84901-9d56-4b43-f06b-34de77cfccda/51869c0d/aa2396c9/de50953d/a27db86b/7e3c0e80/dd81be8a/250a4e77",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 30 Apr 2025 15:48:31 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "ETag": "\"0x8DD87FE73B6D994\"",
        "Last-Modified": "Wed, 30 Apr 2025 15:48:28 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-04-30T15:48:28.9284500Z",
        "x-ms-file-creation-time": "2025-04-30T15:48:28.8527826Z",
        "x-ms-file-id": "17293892937846882304",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "12682206919419494400",
        "x-ms-file-permission-ke[...]
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-e6b84901-9d56-4b43-f06b-34de77cfccda?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 30 Apr 2025 15:48:31 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1801924504",
    "Storage_TestConfigDefault": "ProductionTenant\nnickliuproductionacc\nU2FuaXRpemVk\nhttps://nickliuproductionacc.blob.core.windows.net\nhttps://nickliuproductionacc.file.core.windows.net\nhttps://nickliuproductionacc.queue.core.windows.net\nhttps://nickliuproductionacc.table.core.windows.net\n\n\n\n\nhttps://nickliuproductionacc-secondary.blob.core.windows.net\nhttps://nickliuproductionacc-secondary.file.core.windows.net\nhttps://nickliuproductionacc-secondary.queue.core.windows.net\nhttps://nickliuproductionacc-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://nickliuproductionacc.blob.core.windows.net/;QueueEndpoint=https://nickliuproductionacc.queue.core.windows.net/;FileEndpoint=https://nickliuproductionacc.file.core.windows.net/;BlobSecondaryEndpoint=https://nickliuproductionacc-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://nickliuproductionacc-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://nickliuproductionacc-secondary.file.core.windows.net/;AccountName=nickliuproductionacc;AccountKey=U2FuaXRpemVk\nEncryptionScope\n\n"
  }
}
