{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-6367b90f-17bb-14d5-e8f3-28d9f6dc5bb2?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 28 Oct 2024 21:17:16 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCF795E3E4C0B9\"",
        "Last-Modified": "Mon, 28 Oct 2024 21:17:12 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-6367b90f-17bb-14d5-e8f3-28d9f6dc5bb2/b1b80801?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 28 Oct 2024 21:17:16 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCF795E3EEB8CB\"",
        "Last-Modified": "Mon, 28 Oct 2024 21:17:12 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2024-10-28T21:17:12.6028491Z",
        "x-ms-file-creation-time": "2024-10-28T21:17:12.6028491Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-10-28T21:17:12.6028491Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "8016861625448480706*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-6367b90f-17bb-14d5-e8f3-28d9f6dc5bb2/b1b80801/f73cab4d?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 28 Oct 2024 21:17:16 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCF795E3F8E68B\"",
        "Last-Modified": "Mon, 28 Oct 2024 21:17:12 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2024-10-28T21:17:12.6695563Z",
        "x-ms-file-creation-time": "2024-10-28T21:17:12.6695563Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2024-10-28T21:17:12.6695563Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "8016861625448480706*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-6367b90f-17bb-14d5-e8f3-28d9f6dc5bb2/b1b80801/f73cab4d/dfaa73b0",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 28 Oct 2024 21:17:16 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-6367b90f-17bb-14d5-e8f3-28d9f6dc5bb2/b1b80801/f73cab4d/dfaa73b0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Mon, 28 Oct 2024 21:17:16 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCF795E41072C2\"",
        "Last-Modified": "Mon, 28 Oct 2024 21:17:12 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-10-28T21:17:12.8238786Z",
        "x-ms-file-creation-time": "2024-10-28T21:17:12.8238786Z",
        "x-ms-file-id": "13835093239654252544",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-6367b90f-17bb-14d5-e8f3-28d9f6dc5bb2/b1b80801/f73cab4d/dfaa73b0?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Mon, 28 Oct 2024 21:17:16 GMT",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-01-05",
        "x-ms-write": "update"
      },
      "RequestBody": "kG+9X80DzusIAKBRMPag4JfqMGq1olqiAe9qJEejTuBRHxXex9G2/3F3Z0tuIYp//a7Z3ps2Ku4VG17emKmkZLLAABDgwRjGMzH4PToONOBl6yeYyXBFGvQnyaxy2GfI0wKZrSB5njyVE6pqPu2zB+d9eKyCC5tBe+UcufhsU1vKL2k3dIa/603qA7bG29wGc8HF9V+6RcdnWDI7XOVEKb9Onw6EfJJgvoxfmAfle6AJFkU2pl78EOqh0BxUhI9nptr3dzvNgvcvZTfSWq3AgdySMUafDoJgUo8j4qt1DDn9+PEt7gNkO5ROBkEnKbU84U5AwVJIyJhXliWrqp9Lulj91GK7kpPYLfayUQdBOSja5wFcNUrntTBZ1VjeuZH1A0zoKVVTgU67Z5RclnaRFlz80cOd7oUOFh8yYrw7+nNkvU26WA/Th2Wyoc21ih65yL/74efOVxTH2hM1IB+SgG0g99ko1r1MKUpd60y3WIwBeZn9QBiMlmU58n38nmZGICFflZJFkPEBrridcWvHEIKHNKeFlEBVlGFz7+Q/T4vkFssrWMP5vOmn+5Ff7iX6ceL7dWq+wYvhCgAx0aANwV4tuVqgnLi/jXe+3Zmu9aY7eX0BRNkgJVVASk3Cx+pImjkyMTXKWdUqPOjyAOPxMhRa9lciC32EDJMFYFFq/MaNdkJfe8NwcCCo1wjxLiVxThc5aNGTJY+8rSWhxfmDwD8hZYqhkrZQ6YU3ejN1k91ulBI6MJT1+VCzo86ez6snJBfI0Mmbz7tg6X5LW6tbRhpHMjHmSY+rLGs57e/osRnaEFYcrcIU08RW2kcVqZ6lWFyzVpx6QNuHHKReYeLMdzdkcUtUPplYM19skG5IloLMlJWTNVp9X9B7lJAetXLiimIPsDdTUBnCWiM9DbBsP4UhkcxNOUHc5xJ62aoJOX7sigULOOZKeUR70No3P1IgDlQK/COllFEhM8gl2HZvuSGkUIOqYAef1hiI0WhmpKi/WspV/jxaR/W06gUeJaDNDBe5ku7Oda5NayYLHcPouo4fZX2sGrrkSgmN9XUCgbF3u8RRrRG68eUcCJMWTykxzDB2/r8iIfJd1UjkQX85Sul0k2L+lw18ZXSYkBEmzfrgWylFi4LxVJnS9NjJ1a9l4r2qobzHMzUi+phKipHgNgdNBOVW879mgj7ILKM1s4/EM61UfCw+GCj0I5Hqp8oI8r3Qe9HKD+/+Qx59/geS7UcIhlbjjLraD+u8YdAtfNtzvznlZDe++iO9VTkNwBkhYjVJ4SFzJGUD9WvmDa0f0MZCCj/NrIgPSosyJjaAzU/Rm/6a5Ju6/5rT4m7L2Ox1noRzyrbaVLatOZaVQP4vgg==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "jJcsg1Y9qHMMfkuzzPwWzA==",
        "ETag": "\"0x8DCF795E4199043\"",
        "Last-Modified": "Mon, 28 Oct 2024 21:17:12 GMT",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-6367b90f-17bb-14d5-e8f3-28d9f6dc5bb2/b1b80801/f73cab4d?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 28 Oct 2024 21:17:16 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.file.core.windows.net/\" ShareName=\"test-share-6367b90f-17bb-14d5-e8f3-28d9f6dc5bb2\" DirectoryPath=\"b1b80801/f73cab4d\"><DirectoryId>11529285414812647424</DirectoryId><Entries><File><Name>6f634002</Name><FileId>16140971433240035328</FileId><Properties><Content-Length>1024</Content-Length></Properties></File><File><Name>dfaa73b0</Name><FileId>13835093239654252544</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-6367b90f-17bb-14d5-e8f3-28d9f6dc5bb2/b1b80801/f73cab4d/6f634002",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 28 Oct 2024 21:17:16 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DCF795E41AEE4A\"",
        "Last-Modified": "Mon, 28 Oct 2024 21:17:12 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-10-28T21:17:12.8925770Z",
        "x-ms-file-creation-time": "2024-10-28T21:17:12.8228831Z",
        "x-ms-file-id": "16140971433240035328",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-6367b90f-17bb-14d5-e8f3-28d9f6dc5bb2/b1b80801/f73cab4d/6f634002",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 28 Oct 2024 21:17:17 GMT",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DCF795E41AEE4A\"",
        "Last-Modified": "Mon, 28 Oct 2024 21:17:12 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-10-28T21:17:12.8925770Z",
        "x-ms-file-creation-time": "2024-10-28T21:17:12.8228831Z",
        "x-ms-file-id": "16140971433240035328",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "115[...]
[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-6367b90f-17bb-14d5-e8f3-28d9f6dc5bb2?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 28 Oct 2024 21:17:17 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1277076824",
    "Storage_TestConfigDefault": "ProductionTenant\namandapreprod\nU2FuaXRpemVk\nhttps://amandapreprod.blob.core.windows.net\nhttps://amandapreprod.file.core.windows.net\nhttps://amandapreprod.queue.core.windows.net\nhttps://amandapreprod.table.core.windows.net\n\n\n\n\nhttps://amandapreprod-secondary.blob.core.windows.net\nhttps://amandapreprod-secondary.file.core.windows.net\nhttps://amandapreprod-secondary.queue.core.windows.net\nhttps://amandapreprod-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandapreprod.blob.core.windows.net/;QueueEndpoint=https://amandapreprod.queue.core.windows.net/;FileEndpoint=https://amandapreprod.file.core.windows.net/;BlobSecondaryEndpoint=https://amandapreprod-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandapreprod-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandapreprod-secondary.file.core.windows.net/;AccountName=amandapreprod;AccountKey=Sanitized\nEncryptionScope\n\n"
  }
}
