{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-2c54a8ed-db4b-ce4b-9249-2e5c88a70a01?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 15 May 2024 21:31:46 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC75266C662B6D\"",
        "Last-Modified": "Wed, 15 May 2024 21:31:46 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-2c54a8ed-db4b-ce4b-9249-2e5c88a70a01/0bafe090?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 15 May 2024 21:31:46 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC75266C768817\"",
        "Last-Modified": "Wed, 15 May 2024 21:31:46 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2024-05-15T21:31:46.8682263Z",
        "x-ms-file-creation-time": "2024-05-15T21:31:46.8682263Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-05-15T21:31:46.8682263Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "9736643157039165508*17277118026500876237",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-2c54a8ed-db4b-ce4b-9249-2e5c88a70a01/0bafe090/0fce3146?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 15 May 2024 21:31:46 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC75266C852C09\"",
        "Last-Modified": "Wed, 15 May 2024 21:31:46 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2024-05-15T21:31:46.9641737Z",
        "x-ms-file-creation-time": "2024-05-15T21:31:46.9641737Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2024-05-15T21:31:46.9641737Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "9736643157039165508*17277118026500876237",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-2c54a8ed-db4b-ce4b-9249-2e5c88a70a01/0bafe090/0fce3146/4d37abbd",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 15 May 2024 21:31:46 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-2c54a8ed-db4b-ce4b-9249-2e5c88a70a01/0bafe090/0fce3146/4d37abbd",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Wed, 15 May 2024 21:31:46 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC75266CA643B3\"",
        "Last-Modified": "Wed, 15 May 2024 21:31:47 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-05-15T21:31:47.1810483Z",
        "x-ms-file-creation-time": "2024-05-15T21:31:47.1810483Z",
        "x-ms-file-id": "16140971433240035328",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "5144323600546320195*17277118026500876237",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-2c54a8ed-db4b-ce4b-9249-2e5c88a70a01/0bafe090/0fce3146/4d37abbd?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 15 May 2024 21:31:46 GMT",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2024-08-04",
        "x-ms-write": "update"
      },
      "RequestBody": "b1nuqhJ50WBn5StnesAj8igFycnK8UlpsEhiKsLEFFeMg4deS3TDzzlog3trb2+a09tJ2C40Y30PhPrKF6aeotHU2/c4xKe0QvqQYW7N/UDZx1fnezsoVx8KTsZ6+beSyuCql5R3Yg4zlZY0pAEOQYe58VBPtieVq4PXLnXgOUhC/ZeOImarYWRIs+al87Ie+w0/wQhmQxO5FesRnzOYU1tO8adqgB4gDo/rBgNA8LjRuTNooHhA3LmD1Q17msExr2CKVgILs3rvHrJ4ezwQeCUzP+YAMLLjDhXt5qsRpXPOulejtZm1xQW4eIHFx2F8clznSFrbMH+tp0jsHc3P3nk+qsDlbcOMfXngSLcwHka0cHNOKV0Z8orX9Q5QyKg46JoIhh2glgWZWsrg+ufHfIkCOKxZgLQcJbc2DXe0O7TRqF8cKJcpFNputc6SOfeiEHiFTpD732jm7GFlaYiN5B8WDlKIqlTx2STS6svliey/lP3/L+0k1cj3Njw2w6pR4dCvfCqkGmUkk3VrKfScAWJ0pdWLjbUx8TiKkHQYuxV6gAj7NQ3CGnmX25x4uKzUWzXZwR3UxlMbforxGonxC9hf8ajroctUsotb87IZuTiMtTU/Pvn3pbq14LeC0P/vps/DGMcE6LlphQ6SeNKgAcVSZWVUsszeZ0vtNsEU0eKLa03jVaBwh8171bnrZS3oFN7xMGuam/MD5LB8FrH4VbMsBwyFvawk4d2X2NwT8wIdBSLjIqB28NBZ33Dv9HAcg4AFvl0gYlYxzU+OA8IW7/GuXhGOFDITtRc8K907Ne1se1RcDTSk/aLMsVVR6O0NQ/B/QZVfjW9N8glG5Dd49pdiIYdtuuK9CWFuwmPdwcwqLujtvPNXDe7lDhsrXhhqU7q97sdln4gOwjg08MsLcDA8HLZPijqkChOZiKvGkapIBG6oH9IFxI5f3/q7Ixwj2p7q7kFiG8mAGOSzzBfdRzCN6+xcYlBdNlcn76s/6ef3dq0N26No5uilJwbuUvh2gpjKLTcwxndNjbfqOisdQS/8vFVpz2uMJQUDtztJbuRfsG0Sdbywxq82v07rfqu8h+bX8pWiDbIsPQgyLA88Ax7Tioq+C8tzTPWlMxAdoaZaRi9UcnxOvKO65ji0fZmg+rwvGPMh/nwbZKWg/NqiD5xh2OXf55ChhM7mAySTv85bBThT7YiyOEizOQ7Wrr/JGNabUqW0wRMrjZMlOvpXh6TXRPehTiETrp+dK66CytUOHetO92wpp0MlKF/1jf5NW7Fp/2rIJ8m0iKMGF5VkqcK+Fx0PCZA4rpy0fCbCHiGgT8/8GMtrRvUhmW7JIpCtwH6cN3bhPVIhMVHNE6uj8g==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "IlSX8hmgTp4GODibAGEhSQ==",
        "ETag": "\"0x8DC75266CB50EA1\"",
        "Last-Modified": "Wed, 15 May 2024 21:31:47 GMT",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-2c54a8ed-db4b-ce4b-9249-2e5c88a70a01/0bafe090/0fce3146?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 15 May 2024 21:31:47 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://seanmcccanada.file.core.windows.net/\" ShareName=\"test-share-2c54a8ed-db4b-ce4b-9249-2e5c88a70a01\" DirectoryPath=\"0bafe090/0fce3146\"><DirectoryId>11529285414812647424</DirectoryId><Entries><File><Name>4d37abbd</Name><FileId>16140971433240035328</FileId><Properties><Content-Length>1024</Content-Length></Properties></File><File><Name>67e8d580</Name><FileId>13835093239654252544</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-2c54a8ed-db4b-ce4b-9249-2e5c88a70a01/0bafe090/0fce3146/4d37abbd",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 15 May 2024 21:31:47 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC75266CB50EA1\"",
        "Last-Modified": "Wed, 15 May 2024 21:31:47 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-05-15T21:31:47.2779937Z",
        "x-ms-file-creation-time": "2024-05-15T21:31:47.1810483Z",
        "x-ms-file-id": "16140971433240035328",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "5144323600546320195*17277118026500876237",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-2c54a8ed-db4b-ce4b-9249-2e5c88a70a01/0bafe090/0fce3146/4d37abbd",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 15 May 2024 21:31:47 GMT",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC75266CB50EA1\"",
        "Last-Modified": "Wed, 15 May 2024 21:31:47 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-05-15T21:31:47.2779937Z",
        "x-ms-file-creation-time": "2024-05-15T21:31:47.1810483Z",
        "x-ms-file-id": "16140971433240035328",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "115[...]
[...]
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-2c54a8ed-db4b-ce4b-9249-2e5c88a70a01?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 15 May 2024 21:31:47 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1249384490",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanada\nU2FuaXRpemVk\nhttps://seanmcccanada.blob.core.windows.net\nhttps://seanmcccanada.file.core.windows.net\nhttps://seanmcccanada.queue.core.windows.net\nhttps://seanmcccanada.table.core.windows.net\n\n\n\n\nhttps://seanmcccanada-secondary.blob.core.windows.net\nhttps://seanmcccanada-secondary.file.core.windows.net\nhttps://seanmcccanada-secondary.queue.core.windows.net\nhttps://seanmcccanada-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanada.blob.core.windows.net/;QueueEndpoint=https://seanmcccanada.queue.core.windows.net/;FileEndpoint=https://seanmcccanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanada-secondary.file.core.windows.net/;AccountName=seanmcccanada;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
