{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-d818a865-df3a-7b3c-a007-c8194689d87f?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 06 Nov 2023 18:31:31 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBDEF6991B3C08\u0022",
        "Last-Modified": "Mon, 06 Nov 2023 18:31:31 GMT",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-d818a865-df3a-7b3c-a007-c8194689d87f/895f0b5d-1aba-8ca2-57c7-f6e4aa36e162?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 06 Nov 2023 18:31:31 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBDEF69922C7E8\u0022",
        "Last-Modified": "Mon, 06 Nov 2023 18:31:31 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2023-11-06T18:31:31.5571688Z",
        "x-ms-file-creation-time": "2023-11-06T18:31:31.5571688Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2023-11-06T18:31:31.5571688Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "9736643157039165508*17277118026500876237",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-d818a865-df3a-7b3c-a007-c8194689d87f/895f0b5d-1aba-8ca2-57c7-f6e4aa36e162/49bd6dcb-a2b3-191f-01af-318cd971849e?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 06 Nov 2023 18:31:31 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBDEF69929569D\u0022",
        "Last-Modified": "Mon, 06 Nov 2023 18:31:31 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2023-11-06T18:31:31.6001437Z",
        "x-ms-file-creation-time": "2023-11-06T18:31:31.6001437Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2023-11-06T18:31:31.6001437Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "9736643157039165508*17277118026500876237",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-d818a865-df3a-7b3c-a007-c8194689d87f/895f0b5d-1aba-8ca2-57c7-f6e4aa36e162/49bd6dcb-a2b3-191f-01af-318cd971849e/d1d99ef0-8941-77d4-e787-2ad1790d12a6",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Mon, 06 Nov 2023 18:31:31 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBDEF6992FE556\u0022",
        "Last-Modified": "Mon, 06 Nov 2023 18:31:31 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2023-11-06T18:31:31.6431190Z",
        "x-ms-file-creation-time": "2023-11-06T18:31:31.6431190Z",
        "x-ms-file-id": "16140971433240035328",
        "x-ms-file-last-write-time": "2023-11-06T18:31:31.6431190Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "5144323600546320195*17277118026500876237",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-d818a865-df3a-7b3c-a007-c8194689d87f/895f0b5d-1aba-8ca2-57c7-f6e4aa36e162/49bd6dcb-a2b3-191f-01af-318cd971849e/d1d99ef0-8941-77d4-e787-2ad1790d12a6?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Mon, 06 Nov 2023 18:31:31 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2023-11-03",
        "x-ms-write": "update"
      },
      "RequestBody": "wnUlHOypJDN0B\u002B8fNC\u002BudL1LfuCyBE5wnRhs1bHqITM8JLEIlBR11MFxS11MoNPM/i6WkFnQ3b0mtH/TPE\u002BBieW84xB9peCo1qoeQLnwI/xFoNeDVJHZa0fz4d\u002BVoZdy78F4kL3DTlhN7bmuspwENpGCjpx3/jVU4nfIisMBEzUSrFH3eJI/gVJ\u002BNmbXK7mq76tOEhP7\u002BvGLI65F\u002BsSUTNmEnAVLDb3\u002BQgxK\u002BMfPfLe\u002BHpsYswEiFrFfa1Tk\u002BYaN6umNU46zX\u002BHuT88GsQEpvKf3h9wpfJnYYoVT7KFoGUmFvA7eQSkoC765KmMxG2WwNa6t7XKqZG1QtPEIX3NAhTWGgPXyS3p9znwdcFI1p0Ygo7bzuyzW21ehjo04H6tLeaQtqppvveozLx7[...]
[...]
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-d818a865-df3a-7b3c-a007-c8194689d87f/895f0b5d-1aba-8ca2-57c7-f6e4aa36e162/49bd6dcb-a2b3-191f-01af-318cd971849e?restype=directory\u0026comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 06 Nov 2023 18:31:31 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {[...]
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-d818a865-df3a-7b3c-a007-c8194689d87f/895f0b5d-1aba-8ca2-57c7-f6e4aa36e162/49bd6dcb-a2b3-191f-01af-318cd971849e/d1d99ef0-8941-77d4-e787-2ad1790d12a6",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 06 Nov 2023 18:31:31 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DBDEF6994CB7FD\u0022",
        "Last-Modified": "Mon, 06 Nov 2023 18:31:31 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2023-11-06T18:31:31.8320125Z",
        "x-ms-file-creation-time": "2023-11-06T18:31:31.7690477Z",
        "x-ms-file-id": "16140971433240035328",
        "x-ms-file-last-write-time": "2023-11-06T18:31:31.8320125Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "5144323600546320195*17277118026500876237",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-d818a865-df3a-7b3c-a007-c8194689d87f/895f0b5d-1aba-8ca2-57c7-f6e4aa36e162/49bd6dcb-a2b3-191f-01af-318cd971849e/d1d99ef0-8941-77d4-e787-2ad1790d12a6",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 06 Nov 2023 18:31:31 GMT",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DBDEF6994CB7FD\u0022",
        "Last-Modified": "Mon, 06 Nov 2023 18:31:31 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2023-11-06T18:31:31.8320125Z",
        "x-ms-file-creation-time": "2023-11-06T18:31:31.7690477Z",
        "x-ms-file-id": "16140971433240035328",
        "x-ms-file-last-write-time": "2023-11-06T18:31:31.8320125Z",
        "x-ms-file-parent-i[...]
[...]
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-d818a865-df3a-7b3c-a007-c8194689d87f?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 06 Nov 2023 18:31:31 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "2098217906",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanada\nU2FuaXRpemVk\nhttps://seanmcccanada.blob.core.windows.net\nhttps://seanmcccanada.file.core.windows.net\nhttps://seanmcccanada.queue.core.windows.net\nhttps://seanmcccanada.table.core.windows.net\n\n\n\n\nhttps://seanmcccanada-secondary.blob.core.windows.net\nhttps://seanmcccanada-secondary.file.core.windows.net\nhttps://seanmcccanada-secondary.queue.core.windows.net\nhttps://seanmcccanada-secondary.table.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://seanmcccanada.blob.core.windows.net/;QueueEndpoint=https://seanmcccanada.queue.core.windows.net/;FileEndpoint=https://seanmcccanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanada-secondary.file.core.windows.net/;AccountName=seanmcccanada;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
