{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-2708463a-758d-c51d-2d6f-132e5cbfec35?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Jul 2024 17:54:11 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC9ABFFA6A652F\"",
        "Last-Modified": "Tue, 02 Jul 2024 17:54:11 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-2708463a-758d-c51d-2d6f-132e5cbfec35/214b7769?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Jul 2024 17:54:11 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC9ABFFA7B0F06\"",
        "Last-Modified": "Tue, 02 Jul 2024 17:54:11 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2024-07-02T17:54:11.1567622Z",
        "x-ms-file-creation-time": "2024-07-02T17:54:11.1567622Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-07-02T17:54:11.1567622Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "8720823596597466685*1287379445297103284",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-2708463a-758d-c51d-2d6f-132e5cbfec35/214b7769/4f395d66?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Jul 2024 17:54:11 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC9ABFFA83E76D\"",
        "Last-Modified": "Tue, 02 Jul 2024 17:54:11 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2024-07-02T17:54:11.2147309Z",
        "x-ms-file-creation-time": "2024-07-02T17:54:11.2147309Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2024-07-02T17:54:11.2147309Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "8720823596597466685*1287379445297103284",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-2708463a-758d-c51d-2d6f-132e5cbfec35/214b7769/4f395d66/a61aee1a",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Jul 2024 17:54:11 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-2708463a-758d-c51d-2d6f-132e5cbfec35/214b7769/4f395d66/a61aee1a",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Tue, 02 Jul 2024 17:54:11 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC9ABFFA97BAC3\"",
        "Last-Modified": "Tue, 02 Jul 2024 17:54:11 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-07-02T17:54:11.3446595Z",
        "x-ms-file-creation-time": "2024-07-02T17:54:11.3446595Z",
        "x-ms-file-id": "16140971433240035328",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "13365936616355342650*1287379445297103284",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-2708463a-758d-c51d-2d6f-132e5cbfec35/214b7769/4f395d66/a61aee1a?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 02 Jul 2024 17:54:11 GMT",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2024-08-04",
        "x-ms-write": "update"
      },
      "RequestBody": "OAZ2H8YKjJJTU8anlXPdj7tiyl5RWZddP78Q5QLiVvt2PNVP1Hp60bMUuXA/VEMM+C5PZi8Kx95uGeAH+aaQcfzLMVidjbpA5/iqPKAnHep8BO3Tk+/La3X34buZc9cNhEh0dCPqb2pzDn82X4o+R/v1ivW5vN0M/8Xipqz/p3MhnbhYs6jHkZWCX4RwlQvruJm/pOjhU8dqZ3VdCMi+dGcMFcLS5pRSLvlgN11Zm2m69+0SPwKKP0nw7kszaonMw+odZH9JGdIFbHXvgRxqEMsLohDbrDRkgdZ44vhIH8Nwk3NyPDfpcd0aDdKNm70thd1/J8d48Be2uOKp0DfavE2yfu2p+NSUITEywJ5h1+UYS1wayff8+KNbu4NUQKCmQFCF2h3Pg4wI6waVRTB4VOH9kYXav/JVtYZKTT1RP+GRi4BO3PzISMfQEt7xZrJy4meiV64bzIBdLyWWhTZPtqskBLmwKnjkNEm+CawUZE7T2GvVr+cydb//8KzXMsOQgVwyzGL4wrfvvSNlXcPTSMrWwq3LeQfD8Y76sDrLDQGFLYhQ4pjs2xWz5fHEzRj8K6fhAG8VxQdUbtrT/hJ9JLAh3y87g2Yy6ueXF5QW/yR2/oSS6Q2Sb2eA/HS9Gd0DNcFBo+3owKhBrxaIfq5zPm+2Xf+N6zqij2/IuobxdNAKlOLS1Fs2jT3bUDr2CfG5DL4FB7vddUqGnhR+IAYhTzpFfunLoWkTf9DCsZoArIV9D63I7G0VLB+XSzZHuGw3ugH/sIsI7WtU8YfrG8OwhvKPABFYWWPMMFHKNFUyzMdjiveZAPv5dSFBc/vmKRFb58VEuLhb3mCdMoA6PbkWISXAiJDLF4X2lYrvFuVn5gc/bkyQ7hQOB6uW+817vzdoK1LVJaGBj9A/TSItbMh7NUx5+s9shjMRsYDkNRu3e9ZShuuSkcBlvt97UKDx4ZvjGsWBAsVo+6QexHQhnVq0h9JM2+bd6KOLEzvv8TaSH9DkABpWNnkQ6YpGc81LRCGExsjOpQW1BjIh9e6JeApujKWkPJxAXlFYO/FblnTWP84aayptw3rKL/roNECKh3B/1+cnpwiERGh3dmkUWW+9SrUgbg3gAckr2gyiWCoQzbSB276Nr5jFlifB9k0QttWKKumLahhin9Ye/Mz84us9Zqi1k36wL5scWtjmHgp7GyM2Fy1AhWObHjzob7PLybQ7g4+lWiNX2ftObg9AfIDLouCoxcq+/eFEGXRCyMDoUJEkq5p71sAA3j4y8hZUW6G7HMzSIgTpfYatYECuFRA6ZR1+HNDlUMsgqOaMiwrL8L7ThqzzFS6NOi4UznZ/Uskt94z51T/Q1ssAsnodXfF74Q==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "+1KhdR9cpo624I6FYStVzQ==",
        "ETag": "\"0x8DC9ABFFAA10849\"",
        "Last-Modified": "Tue, 02 Jul 2024 17:54:11 GMT",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-2708463a-758d-c51d-2d6f-132e5cbfec35/214b7769/4f395d66?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Jul 2024 17:54:12 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandadev2.file.core.windows.net/\" ShareName=\"test-share-2708463a-758d-c51d-2d6f-132e5cbfec35\" DirectoryPath=\"214b7769/4f395d66\"><DirectoryId>11529285414812647424</DirectoryId><Entries><File><Name>a61aee1a</Name><FileId>16140971433240035328</FileId><Properties><Content-Length>1024</Content-Length></Properties></File><File><Name>e23ca737</Name><FileId>13835093239654252544</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-2708463a-758d-c51d-2d6f-132e5cbfec35/214b7769/4f395d66/a61aee1a",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Jul 2024 17:54:12 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC9ABFFAA10849\"",
        "Last-Modified": "Tue, 02 Jul 2024 17:54:11 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-07-02T17:54:11.4056265Z",
        "x-ms-file-creation-time": "2024-07-02T17:54:11.3446595Z",
        "x-ms-file-id": "16140971433240035328",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "13365936616355342650*1287379445297103284",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-2708463a-758d-c51d-2d6f-132e5cbfec35/214b7769/4f395d66/a61aee1a",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Jul 2024 17:54:12 GMT",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC9ABFFAA10849\"",
        "Last-Modified": "Tue, 02 Jul 2024 17:54:11 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-07-02T17:54:11.4056265Z",
        "x-ms-file-creation-time": "2024-07-02T17:54:11.3446595Z",
        "x-ms-file-id": "16140971433240035328",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "115[...]
[...]
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-2708463a-758d-c51d-2d6f-132e5cbfec35?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Jul 2024 17:54:12 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "834884956",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
