{
  "Entries": [
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-21493f41-ba68-2715-8bfd-604a25955b7f?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 30 Apr 2025 15:48:09 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD87FE6688016F\"",
        "Last-Modified": "Wed, 30 Apr 2025 15:48:06 GMT",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-21493f41-ba68-2715-8bfd-604a25955b7f/765f8195?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 30 Apr 2025 15:48:09 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD87FE66902099\"",
        "Last-Modified": "Wed, 30 Apr 2025 15:48:06 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-04-30T15:48:06.8642969Z",
        "x-ms-file-creation-time": "2025-04-30T15:48:06.8642969Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-04-30T15:48:06.8642969Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "13252330444922611895*16083086822043778878",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-21493f41-ba68-2715-8bfd-604a25955b7f/765f8195/9f834a97?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 30 Apr 2025 15:48:09 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD87FE66948870\"",
        "Last-Modified": "Wed, 30 Apr 2025 15:48:06 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-04-30T15:48:06.8931696Z",
        "x-ms-file-creation-time": "2025-04-30T15:48:06.8931696Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2025-04-30T15:48:06.8931696Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "13252330444922611895*16083086822043778878",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-21493f41-ba68-2715-8bfd-604a25955b7f?restype=share",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 30 Apr 2025 15:48:09 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD87FE6688016F\"",
        "Last-Modified": "Wed, 30 Apr 2025 15:48:06 GMT",
        "x-ms-access-tier": "TransactionOptimized",
        "x-ms-access-tier-change-time": "Wed, 30 Apr 2025 15:48:06 GMT",
        "x-ms-has-immutability-policy": "false",
        "x-ms-has-legal-hold": "false",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-share-quota": "102400",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-21493f41-ba68-2715-8bfd-604a25955b7f/765f8195/9f834a97/ce3e26a6",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 30 Apr 2025 15:48:09 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-21493f41-ba68-2715-8bfd-604a25955b7f/765f8195/9f834a97/ce3e26a6",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Wed, 30 Apr 2025 15:48:09 GMT",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-type": "file",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD87FE66A7FA92\"",
        "Last-Modified": "Wed, 30 Apr 2025 15:48:07 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-04-30T15:48:07.0206098Z",
        "x-ms-file-creation-time": "2025-04-30T15:48:07.0206098Z",
        "x-ms-file-id": "16140971433240035328",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "8616074386732128176*16083086822043778878",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-21493f41-ba68-2715-8bfd-604a25955b7f/765f8195/9f834a97/ce3e26a6?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 30 Apr 2025 15:48:09 GMT",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-07-05",
        "x-ms-write": "update"
      },
      "RequestBody": "EcLlioNdG51y/MJ2TbP7trS7Z4nltOd9SbkdZIyQPkqHFGhbRFlfE1JDRKHgpdX+a17QlIhWAVzaZ0HKQLYR4b137jlKn3FbW1M3om9GnaPjH/guv6nCMRMMgd0YldObMWPjaLecs8vsdTg0Hl7tk8qd5iG94yETtb0mPh6UQ8aAm3AMYzTsR2ssQUpxjRK0H+0Seq6y3k5Bz7P5dXWtWDJytIPu4DCWsZ+1kKHXoiiqch8xgcgXzbwhypOA8tH2f+kX/tiPxT68fMkP/E2taSyKTwNVfNZqW+bGzBWdFb7NvxC4v6RPGqzhdAX+B9FvdGFn9qLNoAMTraPxyPkoH2YKQj089amIOjRXdAfQa1MVV1i0NR8c/x8NpBIAXlGyuFSf9MWUMn6337ttdiv7QkJQ3HGgc+lG7kIdL1CXh9zjpbyzMXeOgCXZ/VZkronzEmLQsIHgEUVrWAWCdgIuH1feitFvSBHKwVtMx3WS4kC5Kh3uxtZbApN3R9hxCwoiqt3/hSO4g8lQBe8lk0rP2HXEyEvlQFiBgoc++AA4WbZRKhyYk1wdAadTncHnNW9Ip29jrEK+PGqEfQKbeovJF6w41GkuN0QYp8ekkqKXmk0Y9VCR1axzku6xExZagYcbioUUrmEGGXAqSgV7GqnH7eO1goQ6N0IAxUF6fCMuviZAiAgdguzrEtvfZoum93hE6SUypP4C4VJDFOggi5xM+4veO5Ghqmr3ynCoWtC3Wc7INpP+/BooPae12W4Dyoc/kmv/yLznoj67O9mOWoaBjLsaV1QJTv9xtv3p69D88//oachlt5ER4ZNUQ8BAmeMgNE2z6XMyNUNsjRG+/bdtvkfapfG+G9QqCHbBtAs+MRwayLaDSQqMtTOE+Cl/UuPb5oR4ZvTxYhh4ieD8cYA4LVz1pDQA6nU9Te+9OiKrqraT5c6HxcsoKGaeCsAqkESzTMvNiq2u2/wPOxgENCj1zd4paYuysGiRzHvOYt+0Er2rCu1X3iAI5ArReIqyI/Q9qDzhACa4AJtiO70y4HgcWihaWSo6ne++IYWB4Dje3qiHkLmj0xKW8wlS9aJi1gSRtR5hV8rJAgpMI9+hNh9jhF0Vqk++eYcWw2Yg6KhNW0qA8CsZfIbdvo2vVq8y9bzq7nBFTSy00jyXSpNkqRpi/8iUIEXzSQfWN+zBDyLX5M6pNvk4CA4eyx7vgjLyeRRzTVfmndR29qVobxZA88IZv2bFu3MgKfe6dlQnA8bV477XTcLK8Eb6Mj9Uz5n33dhb1cPLLb6hUyNgLCZ/TvLek4tYaKUAT84fy4gzy1pewph8zC0DCbb/NfqfasQfeuRNdjwNn3UyW4b1rGI1bofIAg==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "sTPFBwU7AoUNnDM30l8hwg==",
        "ETag": "\"0x8DD87FE66ACFE0C\"",
        "Last-Modified": "Wed, 30 Apr 2025 15:48:07 GMT",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-21493f41-ba68-2715-8bfd-604a25955b7f/765f8195/9f834a97/ce3e26a6?comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 30 Apr 2025 15:48:09 GMT",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD87FE66B1181B\"",
        "Last-Modified": "Wed, 30 Apr 2025 15:48:07 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-04-30T15:48:07.0803483Z",
        "x-ms-file-creation-time": "2025-04-30T15:48:07.0206098Z",
        "x-ms-file-id": "16140971433240035328",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "8616074386732128176*16083086822043778878",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-21493f41-ba68-2715-8bfd-604a25955b7f/765f8195/9f834a97?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 30 Apr 2025 15:48:09 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://nickliuproductionacc.file.core.windows.net/\" ShareName=\"test-share-21493f41-ba68-2715-8bfd-604a25955b7f\" DirectoryPath=\"765f8195/9f834a97\"><DirectoryId>11529285414812647424</DirectoryId><Entries><File><Name>89149935</Name><FileId>13835093239654252544</FileId><Properties><Content-Length>1024</Content-Length></Properties></File><File><Name>ce3e26a6</Name><FileId>16140971433240035328</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-21493f41-ba68-2715-8bfd-604a25955b7f/765f8195/9f834a97/89149935",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 30 Apr 2025 15:48:09 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD87FE66B2EACF\"",
        "Last-Modified": "Wed, 30 Apr 2025 15:48:07 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-04-30T15:48:07.0922959Z",
        "x-ms-file-creation-time": "2025-04-30T15:48:07.0355442Z",
        "x-ms-file-id": "13835093239654252544",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "8616074386732128176*16083086822043778878",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-21493f41-ba68-2715-8bfd-604a25955b7f/765f8195/9f834a97/89149935",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 30 Apr 2025 15:48:09 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "ETag": "\"0x8DD87FE66B2EACF\"",
        "Last-Modified": "Wed, 30 Apr 2025 15:48:07 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-04-30T15:48:07.0922959Z",
        "x-ms-file-creation-time": "2025-04-30T15:48:07.0355442Z",
        "x-ms-file-id": "13835093239654252544",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-ke[...]
[...]
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-21493f41-ba68-2715-8bfd-604a25955b7f?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 30 Apr 2025 15:48:09 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "389541604",
    "Storage_TestConfigDefault": "ProductionTenant\nnickliuproductionacc\nU2FuaXRpemVk\nhttps://nickliuproductionacc.blob.core.windows.net\nhttps://nickliuproductionacc.file.core.windows.net\nhttps://nickliuproductionacc.queue.core.windows.net\nhttps://nickliuproductionacc.table.core.windows.net\n\n\n\n\nhttps://nickliuproductionacc-secondary.blob.core.windows.net\nhttps://nickliuproductionacc-secondary.file.core.windows.net\nhttps://nickliuproductionacc-secondary.queue.core.windows.net\nhttps://nickliuproductionacc-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://nickliuproductionacc.blob.core.windows.net/;QueueEndpoint=https://nickliuproductionacc.queue.core.windows.net/;FileEndpoint=https://nickliuproductionacc.file.core.windows.net/;BlobSecondaryEndpoint=https://nickliuproductionacc-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://nickliuproductionacc-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://nickliuproductionacc-secondary.file.core.windows.net/;AccountName=nickliuproductionacc;AccountKey=U2FuaXRpemVk\nEncryptionScope\n\n"
  }
}
