{
  "Entries": [
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-781294aa-9942-a973-007c-0e79c8f0e81b?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 04 Dec 2023 23:19:35 GMT",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBF51F7ACF7535\u0022",
        "Last-Modified": "Mon, 04 Dec 2023 23:19:35 GMT",
        "x-ms-version": "2024-02-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-781294aa-9942-a973-007c-0e79c8f0e81b/024acb4b?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 04 Dec 2023 23:19:35 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBF51F7ADB08C5\u0022",
        "Last-Modified": "Mon, 04 Dec 2023 23:19:35 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2023-12-04T23:19:35.7023429Z",
        "x-ms-file-creation-time": "2023-12-04T23:19:35.7023429Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2023-12-04T23:19:35.7023429Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "1597566016123626978*9146977694084461163",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-02-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-781294aa-9942-a973-007c-0e79c8f0e81b/024acb4b/a893dd02?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 04 Dec 2023 23:19:35 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBF51F7AE40821\u0022",
        "Last-Modified": "Mon, 04 Dec 2023 23:19:35 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2023-12-04T23:19:35.7613089Z",
        "x-ms-file-creation-time": "2023-12-04T23:19:35.7613089Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2023-12-04T23:19:35.7613089Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "1597566016123626978*9146977694084461163",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-02-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-781294aa-9942-a973-007c-0e79c8f0e81b/024acb4b/a893dd02/18bb73cc",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 04 Dec 2023 23:19:35 GMT",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2024-02-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-781294aa-9942-a973-007c-0e79c8f0e81b/024acb4b/a893dd02/18bb73cc",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Mon, 04 Dec 2023 23:19:35 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBF51F7AFDF4F6\u0022",
        "Last-Modified": "Mon, 04 Dec 2023 23:19:35 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2023-12-04T23:19:35.9312118Z",
        "x-ms-file-creation-time": "2023-12-04T23:19:35.9312118Z",
        "x-ms-file-id": "16140971433240035328",
        "x-ms-file-last-write-time": "2023-12-04T23:19:35.9312118Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "15442983316638046949*9146977694084461163",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-02-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-781294aa-9942-a973-007c-0e79c8f0e81b/024acb4b/a893dd02/18bb73cc?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Mon, 04 Dec 2023 23:19:35 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2024-02-04",
        "x-ms-write": "update"
      },
      "RequestBody": "aVK/qkDPy/8apLYP/iDHX30Vm67ljU2aohyOUTl4c4HHlsvbF2dvPtOUbrKo1gwXR7z6BbK5cNsEJQgkQXrFoTE0R2hV60gWpV3bUR\u002Bb8csPdgl8fW3PDiXv1/JfS/1YzsyBdI6kwVt0419U3R\u002B8aTM8FMpwSSTDZDlCZRRVt1pggoNSGX08a7WuCJkNejAGM22\u002BIjcz6IWovRBVYVxHHiwF9FubaU\u002B2/6gVwkCKtekIPDKml5QiLJr\u002Bqlxs5gpZZ\u002BptCIXVaskdByOOHSZEHQcmTSQpoIaY4sfBnb/zSRieu1pVHa1jM9JpiY9xlA9zuYxURpnlL8dj1SW\u002BFMwKKb4K8GHL7wBawhlSwBf3Jk64TeQynwJ/uIyT8UiHpR8FX1/RZ6OtqMqL\u002BYR/k2\u002BvbK7XBcbo14[...]
[...]
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-781294aa-9942-a973-007c-0e79c8f0e81b/024acb4b/a893dd02?restype=directory\u0026comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 04 Dec 2023 23:19:36 GMT",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2024-02-04"
      },
      "ResponseBody": "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CEnumerationResults ServiceEndpoint=\u0022https://jalauzonnettest.file.core.windows.net/\u0022 ShareName=\u0022test-share-781294aa-9942-a973-007c-0e79c8f0e81b\u0022 DirectoryPath=\u0022024acb4b/a893dd02\u0022\u003E\u003CDirectoryId\u003E11529285414812647424\u003C/DirectoryId\u003E\u003CEntries\u003E\u003CFile\u003E\u003CName\u003E18bb73cc\u003C/Name\u003E\u003CFileId\u003E16140971433240035328\u003C/FileId\u003E\u003CProperties\u003E\u003CContent-Length\u003E1024\u003C/Content-Length\u003E\u003C/Properties\u003E\u003C/File\u003E\u003CFile\u003E\u003CName\u003E664b8aaa\u003C/Name\u003E\u003CFileId\u003E13835093239654252544\u003C/FileId\u003E\u003CProperties\u003E\u003CContent-Length\u003E1024\u003C/Content-Length\u003E\u003C/Properties\u003E\u003C/File\u003E\u003C/Entries\u003E\u003CNextMarker /\u003E\u003C/EnumerationResults\u003E"
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-781294aa-9942-a973-007c-0e79c8f0e81b/024acb4b/a893dd02/18bb73cc",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 04 Dec 2023 23:19:36 GMT",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DBF51F7B07DE9D\u0022",
        "Last-Modified": "Mon, 04 Dec 2023 23:19:35 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2023-12-04T23:19:35.9961757Z",
        "x-ms-file-creation-time": "2023-12-04T23:19:35.9312118Z",
        "x-ms-file-id": "16140971433240035328",
        "x-ms-file-last-write-time": "2023-12-04T23:19:35.9961757Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "15442983316638046949*9146977694084461163",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2024-02-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-781294aa-9942-a973-007c-0e79c8f0e81b/024acb4b/a893dd02/18bb73cc",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 04 Dec 2023 23:19:36 GMT",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DBF51F7B07DE9D\u0022",
        "Last-Modified": "Mon, 04 Dec 2023 23:19:35 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2023-12-04T23:19:35.9961757Z",
        "x-ms-file-creation-time": "2023-12-04T23:19:35.9312118Z",
        "x-ms-file-id": "16140971433240035328",
        "x-ms-file-last-write-time": "2023-12-04T23:19:35.9961757Z",
        "x-ms-file-parent-i[...]
[...]
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-781294aa-9942-a973-007c-0e79c8f0e81b?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 04 Dec 2023 23:19:36 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-02-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "828407149",
    "Storage_TestConfigDefault": "ProductionTenant\njalauzonnettest\nU2FuaXRpemVk\nhttps://jalauzonnettest.blob.core.windows.net\nhttps://jalauzonnettest.file.core.windows.net\nhttps://jalauzonnettest.queue.core.windows.net\nhttps://jalauzonnettest.table.core.windows.net\n\n\n\n\nhttps://jalauzonnettest-secondary.blob.core.windows.net\nhttps://jalauzonnettest-secondary.file.core.windows.net\nhttps://jalauzonnettest-secondary.queue.core.windows.net\nhttps://jalauzonnettest-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://jalauzonnettest.blob.core.windows.net/;QueueEndpoint=https://jalauzonnettest.queue.core.windows.net/;FileEndpoint=https://jalauzonnettest.file.core.windows.net/;BlobSecondaryEndpoint=https://jalauzonnettest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jalauzonnettest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jalauzonnettest-secondary.file.core.windows.net/;AccountName=jalauzonnettest;AccountKey=Sanitized\ntestscope1\n\n"
  }
}
