{
  "Entries": [
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-b210d55c-0c63-4261-32cd-4b0bcc2fff8f?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 17 Jul 2025 01:06:50 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDC4CE359F57BA\"",
        "Last-Modified": "Thu, 17 Jul 2025 01:06:49 GMT",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-b210d55c-0c63-4261-32cd-4b0bcc2fff8f/f77d5c56?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 17 Jul 2025 01:06:50 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDC4CE35A5C3F0\"",
        "Last-Modified": "Thu, 17 Jul 2025 01:06:49 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-07-17T01:06:49.8841584Z",
        "x-ms-file-creation-time": "2025-07-17T01:06:49.8841584Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-07-17T01:06:49.8841584Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "13252330444922611895*16083086822043778878",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-b210d55c-0c63-4261-32cd-4b0bcc2fff8f/f77d5c56/03190eb8?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 17 Jul 2025 01:06:50 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDC4CE35A9B71E\"",
        "Last-Modified": "Thu, 17 Jul 2025 01:06:49 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-07-17T01:06:49.9100446Z",
        "x-ms-file-creation-time": "2025-07-17T01:06:49.9100446Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2025-07-17T01:06:49.9100446Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "13252330444922611895*16083086822043778878",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-b210d55c-0c63-4261-32cd-4b0bcc2fff8f/f77d5c56/03190eb8/4a450029",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Thu, 17 Jul 2025 01:06:50 GMT",
        "x-ms-type": "file",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDC4CE35ACC0F1\"",
        "Last-Modified": "Thu, 17 Jul 2025 01:06:49 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-07-17T01:06:49.9299569Z",
        "x-ms-file-creation-time": "2025-07-17T01:06:49.9299569Z",
        "x-ms-file-id": "16140971433240035328",
        "x-ms-file-last-write-time": "2025-07-17T01:06:49.9299569Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "8616074386732128176*16083086822043778878",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-b210d55c-0c63-4261-32cd-4b0bcc2fff8f/f77d5c56/03190eb8/4a450029?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 17 Jul 2025 01:06:50 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-11-05",
        "x-ms-write": "update"
      },
      "RequestBody": "9a9k9CylurlWFipENQYhgneilKpAOFdB8HiHEH81eSVdtOL1eFLe2bjYq1tpzdN6EPZP3s46oLxXIwOzHao6IJwE5oAkLAklw7vyaI381yOkDf+I5ptWIxQlnVROKrsNnoq+ZeZSVuPsKRoTRzgvW0vgDxCrsjoBrcNs/4+01pkA5coCPXI8Ubcbm7yAQ9vc9kIJbhurYutPvbci5lZUOFOBEmJtLB7Yo71ZjxZ+gWrnjwlNq2h9VYPes4C7GWtgxmNo/jB5bskkMcpeUdLV0TtNO1dNB4zrA73fj3mdHIlS+cizFYI5biA/KXqdHwOwCOFEbt4TEr/Wffpymd5QhhRAC1gJIru4E8w2Dt4STuS6LoaXWa6rPuYJ3JiIxtRB76JlXBOqpuYli1oS3QTgwy4WuGtXuC1llc1yAEUjME339B47rPHQEIegcs1TmGHiKRhpcQ5p6TZ1/8ZGOKahAlsNG+jlpBY9Rajjt0ZfEv1rj9Ysub4/jQroxawqitfg/nBxRX15/IQCLCxlhjHwFu3J2qjQdEiczo3d/d5pErvQArnW7cx/8pJSKo2S2QfY96+/YK8uEIkn1HfwnP+lmBlwlIN4GighSugVfUq6CvSGBAUuqrIMovEvrhhUj1aTrJJ0IkSDYNyHnhbHGJM/bcqCaZf5du1nZPKSSWwPzLqRgtC3RuiwAqQopwybRIle70FO0SW+mjWlDb1R8RZweNFbNZbChybi0mfz0M/hyx9pM1oqwPqV0+ibEjgqXhGNuC86Pw7ynGgabP++y8lmw0Gd6L28RrfXxmKuJ3Tut3RVZRigposRdpfxEFT71ggeNE73jHZU0XJ3YnmrRHXzLLSLaWWxxR21jHEmyjVi3O9aj/Il9ir+AZOmKEMSZTIi/uSgcG2ibW4xQQAELQc8FYaJUbSCzTWJjWfRCp3Zoic/BMtRwmyCtyKE87Uq+dOMaRO8iRN9nzCuFuMF0WLRWJ7ZxCk76lIaB5mS/tqAX5OURKGJHBkTwmSboquIfObAspsWUTWqUX7BooJ66qFWLrdPcYzBRzuFxQLEoEimkYqz0ks+aQ1e6vMiyHqWmdfDRHT0OQpZ/mpgkIsz5bA2GhD3xhhVGMSp8YeYn3/A7iwqAVvTslh/WdPh3dmCKwRC665qntK+bSyvSkeDwF/rn6FfCONVYme3eG1FdDrrJ8aCVbPRVlBZbJMuI2cR/Jhz9j43IiIh7YhGsiZlefnyxCOAAWqrGUhRBZxPJz7/pXzU0X78swSjYWgriqQp9PKaPF9EkPotx9z15h2G0cVJRwyqkad79REe3KACgI+kKBGptevfuxWBpgmiB83nHZCi4UOXfmJKH0ZNJbRaK0dNUA==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "UavGrSirdBeogoEujHWsCA==",
        "ETag": "\"0x8DDC4CE35B17696\"",
        "Last-Modified": "Thu, 17 Jul 2025 01:06:49 GMT",
        "x-ms-file-last-write-time": "2025-07-17T01:06:49.9608214Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-b210d55c-0c63-4261-32cd-4b0bcc2fff8f/f77d5c56/03190eb8/d8f85fd5",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 17 Jul 2025 01:06:50 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DDC4CE35B8C15E\"",
        "Last-Modified": "Thu, 17 Jul 2025 01:06:50 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-07-17T01:06:50.0086110Z",
        "x-ms-file-creation-time": "2025-07-17T01:06:49.9797389Z",
        "x-ms-file-id": "10376363910205800448",
        "x-ms-file-last-write-time": "2025-07-17T01:06:50.0086110Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "8616074386732128176*16083086822043778878",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-b210d55c-0c63-4261-32cd-4b0bcc2fff8f/f77d5c56/03190eb8/67fd77e4",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 17 Jul 2025 01:06:50 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-b210d55c-0c63-4261-32cd-4b0bcc2fff8f/f77d5c56/03190eb8/67fd77e4?comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 17 Jul 2025 01:06:50 GMT",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DDC4CE35CF3D64\"",
        "Last-Modified": "Thu, 17 Jul 2025 01:06:50 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-07-17T01:06:50.1559652Z",
        "x-ms-file-creation-time": "2025-07-17T01:06:50.1012053Z",
        "x-ms-file-id": "13835093239654252544",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "8616074386732128176*16083086822043778878",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-b210d55c-0c63-4261-32cd-4b0bcc2fff8f?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 17 Jul 2025 01:06:50 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "556536010",
    "Storage_TestConfigDefault": "ProductionTenant\nnickliuproductionacc\nU2FuaXRpemVk\nhttps://nickliuproductionacc.blob.core.windows.net\nhttps://nickliuproductionacc.file.core.windows.net\nhttps://nickliuproductionacc.queue.core.windows.net\nhttps://nickliuproductionacc.table.core.windows.net\n\n\n\n\nhttps://nickliuproductionacc-secondary.blob.core.windows.net\nhttps://nickliuproductionacc-secondary.file.core.windows.net\nhttps://nickliuproductionacc-secondary.queue.core.windows.net\nhttps://nickliuproductionacc-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://nickliuproductionacc.blob.core.windows.net/;QueueEndpoint=https://nickliuproductionacc.queue.core.windows.net/;FileEndpoint=https://nickliuproductionacc.file.core.windows.net/;BlobSecondaryEndpoint=https://nickliuproductionacc-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://nickliuproductionacc-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://nickliuproductionacc-secondary.file.core.windows.net/;AccountName=nickliuproductionacc;AccountKey=U2FuaXRpemVk\nEncryptionScope\n\n"
  }
}
