{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-5f7453b3-55ec-166e-bb23-d8a12c913f5f?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Jul 2024 17:54:41 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC9AC00C3FD0D4\"",
        "Last-Modified": "Tue, 02 Jul 2024 17:54:40 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-5f7453b3-55ec-166e-bb23-d8a12c913f5f/ea56f1e4?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Jul 2024 17:54:41 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC9AC00C493FC7\"",
        "Last-Modified": "Tue, 02 Jul 2024 17:54:41 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2024-07-02T17:54:41.0293191Z",
        "x-ms-file-creation-time": "2024-07-02T17:54:41.0293191Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-07-02T17:54:41.0293191Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "8720823596597466685*1287379445297103284",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-5f7453b3-55ec-166e-bb23-d8a12c913f5f/ea56f1e4/1cebeae8?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Jul 2024 17:54:41 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC9AC00C5106DE\"",
        "Last-Modified": "Tue, 02 Jul 2024 17:54:41 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2024-07-02T17:54:41.0802910Z",
        "x-ms-file-creation-time": "2024-07-02T17:54:41.0802910Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2024-07-02T17:54:41.0802910Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "8720823596597466685*1287379445297103284",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-5f7453b3-55ec-166e-bb23-d8a12c913f5f/ea56f1e4/1cebeae8/0582a55b",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Jul 2024 17:54:41 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-5f7453b3-55ec-166e-bb23-d8a12c913f5f/ea56f1e4/1cebeae8/0582a55b",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Tue, 02 Jul 2024 17:54:41 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC9AC00C648C1E\"",
        "Last-Modified": "Tue, 02 Jul 2024 17:54:41 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-07-02T17:54:41.2082206Z",
        "x-ms-file-creation-time": "2024-07-02T17:54:41.2082206Z",
        "x-ms-file-id": "16140971433240035328",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "13365936616355342650*1287379445297103284",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-5f7453b3-55ec-166e-bb23-d8a12c913f5f/ea56f1e4/1cebeae8/0582a55b?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 02 Jul 2024 17:54:41 GMT",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2024-08-04",
        "x-ms-write": "update"
      },
      "RequestBody": "y36qElk18JozyEI55sCW0Ul5V/isIrKUWCgmmkVdAWtnjB2KFtyYJrXo0khCzeqAtLhZjtUz+KnMFbkxDlVU1cfW0lmjDLts4TBDxFBqUYs9puWNBHKWM5N0vgAjZhdflPyBbPuQ3Kj97a2l8DRYYsQu82hvxtFUQJ/GLk66SHoY4y9U6OWPrck9kBbF8UJfHFw89XOu8M0qLCxcyq1ZQqQzjA0EBHnenkafMja6jk9cZhLyflMGafNiKbu5M+Ib401ykWU0WhfiXVctD72WcJ7c/2ObZ8RRLSIaotu9JWpjg07oSPzqKAz7DyD82Fo1y7kd3DR+gHuJIWRCGrg8JTfsyYtvrieh8tdXn1ijVFTI5dYhn0k25QPSXyaYpw5TvunoDw7Oxh2RfOldJuAj5cwPejThGobutuSInE4BCUvIA+FvukVG+R65kCJg2b4ir3laiCzZcqNj+lkqRirOkHOdlCL/tCqHyYEWJ4pjjt0lZezUp4Ae75E9C8DrG7P06gCvwkSbI/tO0r6rw0oZ/2x8BOE9+ujyfqWRwahqnK3OITyJtMuYikHwhdTCcyxGJAtTbhfRtvAXvEOfCmJT4zYQ3aENj0uh5HmfTHQUMAt4SpycFy2W/GpLcfiH+IDenaGesZaKOZTAsoqdMWl8A4s4Jr/Ft8wIeuA3wh5TGev5wa/SdX907hEI22Si+MoAz25sT9LAGObVlTa1U3Z2bJmfo3C6qo0LwziuvdtoZYIWNvOv5skYOajJ/d9JvpqakW7LA1RZRiTgYIyZEVoKbTCznx2DxobPhmrI8K2twgSdEyxsnGItvPDOz4U9fydNvpCvlR99Fsro+33qkFV3Mp6H+/4untDNhuMstfcAkgdCezId/SzlIP1ig6DlQyuaVpzntoMpHh+/4g87UGHS6Gl1pxUjWjVxodsAzBsv6EK3kl5bGNuDGVwSXRsdqc+cj5o3b5sVd/xndRSoKFIEj/nMg74Cds+N8o64EPwZVPcLZDyA+HmmoRph9KPH2/AKDs0iUCYRmRjKqXwNXWYATSEcnMQVg5d/JuGjoIIsxhadrgIu9gPR+soktU/8mES0YaaBqj4s9Io2oipEbfmWnuJmb65k0VYeSqL58c1Hgo2d7z/bqhvXcbl491PZjYzRjRdtlimWT49QY2CcMwO87x+cp365u/PGjv707NoCRL0VJ2O22uxkBp+wi0e7Oz61uwg0POYOGNIkpggqoWO1TR6jhwugBhQzOKDeCS+sC1O/PjHRzgjWBw+QkjTkOWU8+z0oGLMzFbT0AARGMA+id5q1amIy434WzID7D3TgT/46og3yg/OfjCl83c4DkNcA7RqZLs4CCRe/EkszNwU/FA==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "CAmpt+Ngn96gCmoPXvinNw==",
        "ETag": "\"0x8DC9AC00C6DD99D\"",
        "Last-Modified": "Tue, 02 Jul 2024 17:54:41 GMT",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-5f7453b3-55ec-166e-bb23-d8a12c913f5f/ea56f1e4/1cebeae8?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Jul 2024 17:54:41 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandadev2.file.core.windows.net/\" ShareName=\"test-share-5f7453b3-55ec-166e-bb23-d8a12c913f5f\" DirectoryPath=\"ea56f1e4/1cebeae8\"><DirectoryId>11529285414812647424</DirectoryId><Entries><File><Name>0582a55b</Name><FileId>16140971433240035328</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-5f7453b3-55ec-166e-bb23-d8a12c913f5f/ea56f1e4/1cebeae8/0582a55b",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Jul 2024 17:54:42 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC9AC00C6DD99D\"",
        "Last-Modified": "Tue, 02 Jul 2024 17:54:41 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-07-02T17:54:41.2691869Z",
        "x-ms-file-creation-time": "2024-07-02T17:54:41.2082206Z",
        "x-ms-file-id": "16140971433240035328",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "13365936616355342650*1287379445297103284",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-5f7453b3-55ec-166e-bb23-d8a12c913f5f/ea56f1e4/1cebeae8/0582a55b",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Jul 2024 17:54:42 GMT",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC9AC00C6DD99D\"",
        "Last-Modified": "Tue, 02 Jul 2024 17:54:41 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-07-02T17:54:41.2691869Z",
        "x-ms-file-creation-time": "2024-07-02T17:54:41.2082206Z",
        "x-ms-file-id": "16140971433240035328",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "115[...]
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-5f7453b3-55ec-166e-bb23-d8a12c913f5f?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Jul 2024 17:54:42 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1434119923",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
