{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-8dc11812-6360-6833-e282-bb716b79eb2c?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 29 Apr 2024 04:48:20 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC68079903A062\"",
        "Last-Modified": "Mon, 29 Apr 2024 04:48:22 GMT",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-8dc11812-6360-6833-e282-bb716b79eb2c/2ab4d73c?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 29 Apr 2024 04:48:20 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC6807990EC65A\"",
        "Last-Modified": "Mon, 29 Apr 2024 04:48:22 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2024-04-29T04:48:22.1709914Z",
        "x-ms-file-creation-time": "2024-04-29T04:48:22.1709914Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-04-29T04:48:22.1709914Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "8720823596597466685*1287379445297103284",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-8dc11812-6360-6833-e282-bb716b79eb2c/2ab4d73c/93f81e65?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 29 Apr 2024 04:48:20 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC68079918D6FB\"",
        "Last-Modified": "Mon, 29 Apr 2024 04:48:22 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2024-04-29T04:48:22.2369531Z",
        "x-ms-file-creation-time": "2024-04-29T04:48:22.2369531Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2024-04-29T04:48:22.2369531Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "8720823596597466685*1287379445297103284",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-8dc11812-6360-6833-e282-bb716b79eb2c/2ab4d73c/93f81e65/9589e5d3",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Mon, 29 Apr 2024 04:48:21 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC68079922727E\"",
        "Last-Modified": "Mon, 29 Apr 2024 04:48:22 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-04-29T04:48:22.2999166Z",
        "x-ms-file-creation-time": "2024-04-29T04:48:22.2999166Z",
        "x-ms-file-id": "16140971433240035328",
        "x-ms-file-last-write-time": "2024-04-29T04:48:22.2999166Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "13365936616355342650*1287379445297103284",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-8dc11812-6360-6833-e282-bb716b79eb2c/2ab4d73c/93f81e65/9589e5d3?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Mon, 29 Apr 2024 04:48:21 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2024-05-04",
        "x-ms-write": "update"
      },
      "RequestBody": "RnxlGdOO92eXwA3S8T0Dn6QoTEr/p4N3iCquuRGrALIztdM5uN66cYwZLrIejzJszEQ65aZ5MJ/57pGp4D1V7MBbnjxqyubGbdu95XnRWfn3Qu3McBoLuYQ0QMpMEZBOw0Hxw/D2AgFedHjLvEolJ5SXsp5QiXumT+W3NoobeVxKbyI335YIAD/rbfuiQP06Dhg1tV7y/TrFS3MLPst2QvsbgEwo7Uj+jrFeZRuAAw/nfSdy5cT9V3HocZQi/cF0dCoAhsCxESDQNyatlJgeRUdkI8GkBF02HSjaQHu03JHv6vDwf31PNmsGoq6eUMPZySxMvtkAz3DNyWmX1tGkHFqUvaqnLsbKFe1WnWKumM1lAXdPZx637xqAIrYUt2CZYYZUCZIYMppmgqjsqTIOHzCbMtVaVbQ83c6QJwsQtl2NvDvcWo86Tc7c6eV1ykXocgKFeIWLPgzRFyvEiAqOVstKXu32MsWhYOUGfmvPxxKIqLUJij3YAn0vCkJjdsXETZMZKmxY8T894xeghMCgAlAYPN9VhcuNclxvxyeDPeogQjDYtZymL7Z1zKYmOH29jgfySjnlbsfIi7gQ6SoYuqYtf0KPyE2zcgwo4LkkZznesTgfkfKwOtNoECnklkaMXREA+bg6Lsa6PtgtvI4OoyR+MTfy+CmzfEVvJrcjz9zFnIKnI26BpINxZVIag35FWmwFZWUPmmXoTXxzywcOlm78Zx8LZoC1/Y2zgJPWmfjGKctLHml2tQIdvtbxDdh8Ys7kHhxeOvPrT2jXXBnSErSErKE7w3gEhbEd7aeqw++0Nh7E8XvcZ+7XX88AnlnpS6wibWE3QJ9V35hqQU1MQYt5IyX7DSA4p0SyY2OpBOZYNKH7h1aOffZ+bhLiciahix1Dh3sz7T6L6cYchNw7rNuyEg2rULo166YvfJ4OVjUeEddFZX1rJEZjcJ6QcfkZQ8I2MGAY9jtjDZvVBHGffJOQ/XME9UdeR+3HR+AbpXmtFTjc1ybUBhqc4VfhlSDVw/ML/3SGFU562OlzUa5bSGghKO44w6Rtu/dYaBPvfLHM8YPsEKYFJgDqYf88YbVrQZnvwG0xnQBOnkN9La06i1w3pl8qbjfCGwHuTWKlMFpB7CZ5ALxDm1SDnnJjiPlTsNWjBbtVQNJiLaRsQk+dqG7oO0CGwIuf8woKp9DFXpMHm52MAiue7KtTF9IX11gF5fUEek24ze9KAxGwSpkCnM4RZKexEaZCSk+UMqi4iByyBcHaweRGT86uQf4a7aERUXsEBXOwU9ROwS/9I5tGknr0/kTYJ9vqyxXZA8+nKFyug+Ats4KpAbLtjP+0SCszZ6+EJe9cOSmfGjpd108Epg==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "OenHqwmZlq+mKolFWttrVQ==",
        "ETag": "\"0x8DC6807992D4651\"",
        "Last-Modified": "Mon, 29 Apr 2024 04:48:22 GMT",
        "x-ms-file-last-write-time": "2024-04-29T04:48:22.3708753Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-8dc11812-6360-6833-e282-bb716b79eb2c/2ab4d73c/93f81e65/6797e5e2",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 29 Apr 2024 04:48:21 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-8dc11812-6360-6833-e282-bb716b79eb2c/2ab4d73c/93f81e65/9589e5d3",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 29 Apr 2024 04:48:21 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC6807992D4651\"",
        "Last-Modified": "Mon, 29 Apr 2024 04:48:22 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-04-29T04:48:22.3708753Z",
        "x-ms-file-creation-time": "2024-04-29T04:48:22.2999166Z",
        "x-ms-file-id": "16140971433240035328",
        "x-ms-file-last-write-time": "2024-04-29T04:48:22.3708753Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "13365936616355342650*1287379445297103284",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-8dc11812-6360-6833-e282-bb716b79eb2c/2ab4d73c/93f81e65?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 29 Apr 2024 04:48:21 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandadev2.file.core.windows.net/\" ShareName=\"test-share-8dc11812-6360-6833-e282-bb716b79eb2c\" DirectoryPath=\"2ab4d73c/93f81e65\"><DirectoryId>11529285414812647424</DirectoryId><Entries><File><Name>6797e5e2</Name><FileId>14988049928633188352</FileId><Properties><Content-Length>1024</Content-Length></Properties></File><File><Name>9589e5d3</Name><FileId>16140971433240035328</FileId><Properties><Content-Length>1024</Content-Length></Properties></File><File><Name>a18902fb</Name><FileId>10376363910205800448</FileId><Properties><Content-Length>1024</Content-Length></Properties></File><File><Name>b2cf225d</Name><FileId>13835093239654252544</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-8dc11812-6360-6833-e282-bb716b79eb2c?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 29 Apr 2024 04:48:21 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "928098431",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
