{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-8e39739c-17c7-590b-57ae-881af30ea1a7?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 15 May 2024 21:31:50 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC75266EE21927\"",
        "Last-Modified": "Wed, 15 May 2024 21:31:50 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-8e39739c-17c7-590b-57ae-881af30ea1a7/6251e4e2?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 15 May 2024 21:31:50 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC75266EF24F1F\"",
        "Last-Modified": "Wed, 15 May 2024 21:31:51 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2024-05-15T21:31:51.0348575Z",
        "x-ms-file-creation-time": "2024-05-15T21:31:51.0348575Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-05-15T21:31:51.0348575Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "9736643157039165508*17277118026500876237",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-8e39739c-17c7-590b-57ae-881af30ea1a7/6251e4e2/0a891c64?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 15 May 2024 21:31:50 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC75266F007DE2\"",
        "Last-Modified": "Wed, 15 May 2024 21:31:51 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2024-05-15T21:31:51.1278050Z",
        "x-ms-file-creation-time": "2024-05-15T21:31:51.1278050Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2024-05-15T21:31:51.1278050Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "9736643157039165508*17277118026500876237",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-8e39739c-17c7-590b-57ae-881af30ea1a7/6251e4e2/0a891c64/5218c114",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Wed, 15 May 2024 21:31:50 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC75266F0ED3AC\"",
        "Last-Modified": "Wed, 15 May 2024 21:31:51 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-05-15T21:31:51.2217516Z",
        "x-ms-file-creation-time": "2024-05-15T21:31:51.2217516Z",
        "x-ms-file-id": "16140971433240035328",
        "x-ms-file-last-write-time": "2024-05-15T21:31:51.2217516Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "5144323600546320195*17277118026500876237",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-8e39739c-17c7-590b-57ae-881af30ea1a7/6251e4e2/0a891c64/5218c114?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 15 May 2024 21:31:50 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2024-08-04",
        "x-ms-write": "update"
      },
      "RequestBody": "VdFyW7jGGD0/BxMBtH3LT8p2KqlVdsydJPnqlNVMspdfJvZ0SESeU+CGDbXceLl6OvYJOufIdd8F1Te+24Nn81R8oY2HVwaF2NbIz2kXwKtAcFrfQnevlrEWbnMN4HhdHhlgYNYr8+Lvg2IQAKZ27RSLfWspiLDczArccOiTd/dea7BPt2DUFHx3774Vn5YLoIBfgmIMNJVpg5TMT4P5XAtqsZX1JjaztmnusZnxxyxz0M9oM/WVUTYa5jTMCMT5fpKzqu4BFXlKq8v4HoL8d7tnWH6zkSgW1V9e20AC566k9TIGPhw9crtWHocpnDOzHm54ZK9GRuxpnNWOozo5R8QdVChP9TmfKubDXXOh7DgrqrzSioP+Xq9FnaFGr86AHNbDC0gLZCg12TnJguh5yK+dY/l+Zr1AH/V4CliXWHoXQkCc3eDwIEaTnbFJNNvGzNXxqUvVArUZguxSklrQnYC/sT+o3erOrUKy6skM9uoasT2Dpa4uQkCKg1v0nY3swv8wioKcHu7qIvwJIhjsDIwBOOAcTfjSkG//HlqP2g+1xifK3GxofpNPmIKyJR8onnbP8mWs0HQGXfoTnP+UW0jsU1vwITAfmbpNzLV1IGpQ14DjwOeqCPayw35xVeGTuj05xdLDN3xFr1mqXwO/kT2QwsV/sJthQkplPV2yrkTZuRF4O1uXjJ8DnRGN/6nz8zJA4JIbEwqi2IKHXvkekwAV0aXxR1Xi+DYmfBKJ00KhcUorcc2yvaUH1mLYEC2l5AoQeC0DAazcXuhb9Zf3GAU/5eyv8yEzYhQA6XHyCugIgJcIeVoVnW+eThPlVsgNEL1dmCpB9vHo3RYZAxg76lQAU3QA7p+rKkh8EaQOTQxM8tizlXG9x4qmH5tE+5pXY2S/5QNTDSEesW3ixOVM2o8JzRE/h1TiQozqWs8DZy+uJa1AT2gJ+OS2lOME2wKlWUUMOi6IF9sP3KJ3abNSG0o+NJ83DIsmANQtiPNx3meJRACJ9ywAJQ7SMHLFko8wZHmYxadjbk265TlZW47onv077SSzyCQdPQ6RZNsYYW5F/CR52BjAJdazzxHzpsp/6ZJ0iqRqfZtUeoeY0glxooTLFF9qbsXke8dN//kSKpdEEXpJo9bJ2n6IJF2RJ1PNQi2NJ5FqFXvMjw/cHX2iQlDwU8GOKP6tATrg4UlnU1N0gL3LhAIF2fz/fBPH7b0B5uINoNSSPhou4CZXijQxZDy8aJy/175N63rEjqvr5hR93vpnWrJ/4kKjnKTcrU/HzRfXCoUhQQ8kwLVZza9uQ/kS2qs5ygqJPIVaHDoZcD0q/cGTFNuPXJ3rQpn9JRWSNViqytOjjgINTc3/xiXUCg==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "4FR+q76978DhXIixVCSKEw==",
        "ETag": "\"0x8DC75266F208457\"",
        "Last-Modified": "Wed, 15 May 2024 21:31:51 GMT",
        "x-ms-file-last-write-time": "2024-05-15T21:31:51.3376855Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-8e39739c-17c7-590b-57ae-881af30ea1a7/6251e4e2/0a891c64?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 15 May 2024 21:31:51 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://seanmcccanada.file.core.windows.net/\" ShareName=\"test-share-8e39739c-17c7-590b-57ae-881af30ea1a7\" DirectoryPath=\"6251e4e2/0a891c64\"><DirectoryId>11529285414812647424</DirectoryId><Entries><File><Name>5218c114</Name><FileId>16140971433240035328</FileId><Properties><Content-Length>1024</Content-Length></Properties></File><File><Name>bb6a605a</Name><FileId>13835093239654252544</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-8e39739c-17c7-590b-57ae-881af30ea1a7/6251e4e2/0a891c64/5218c114",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 15 May 2024 21:31:51 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC75266F41EA33\"",
        "Last-Modified": "Wed, 15 May 2024 21:31:51 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-05-15T21:31:51.5565619Z",
        "x-ms-file-creation-time": "2024-05-15T21:31:51.4566185Z",
        "x-ms-file-id": "16140971433240035328",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "5144323600546320195*17277118026500876237",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-8e39739c-17c7-590b-57ae-881af30ea1a7/6251e4e2/0a891c64/5218c114",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 15 May 2024 21:31:51 GMT",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC75266F41EA33\"",
        "Last-Modified": "Wed, 15 May 2024 21:31:51 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-05-15T21:31:51.5565619Z",
        "x-ms-file-creation-time": "2024-05-15T21:31:51.4566185Z",
        "x-ms-file-id": "16140971433240035328",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "115[...]
[...]
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-8e39739c-17c7-590b-57ae-881af30ea1a7?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 15 May 2024 21:31:51 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1330308396",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanada\nU2FuaXRpemVk\nhttps://seanmcccanada.blob.core.windows.net\nhttps://seanmcccanada.file.core.windows.net\nhttps://seanmcccanada.queue.core.windows.net\nhttps://seanmcccanada.table.core.windows.net\n\n\n\n\nhttps://seanmcccanada-secondary.blob.core.windows.net\nhttps://seanmcccanada-secondary.file.core.windows.net\nhttps://seanmcccanada-secondary.queue.core.windows.net\nhttps://seanmcccanada-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanada.blob.core.windows.net/;QueueEndpoint=https://seanmcccanada.queue.core.windows.net/;FileEndpoint=https://seanmcccanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanada-secondary.file.core.windows.net/;AccountName=seanmcccanada;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
