{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-4f6eb023-ba84-4809-d782-1050a0a33086?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Jul 2024 17:54:45 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC9AC00E58609B\"",
        "Last-Modified": "Tue, 02 Jul 2024 17:54:44 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-4f6eb023-ba84-4809-d782-1050a0a33086/9aa913ee?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Jul 2024 17:54:45 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC9AC00E61C202\"",
        "Last-Modified": "Tue, 02 Jul 2024 17:54:44 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2024-07-02T17:54:44.5453826Z",
        "x-ms-file-creation-time": "2024-07-02T17:54:44.5453826Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-07-02T17:54:44.5453826Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "8720823596597466685*1287379445297103284",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-4f6eb023-ba84-4809-d782-1050a0a33086/9aa913ee/99b2f6fe?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Jul 2024 17:54:45 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC9AC00E6A9A63\"",
        "Last-Modified": "Tue, 02 Jul 2024 17:54:44 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2024-07-02T17:54:44.6033507Z",
        "x-ms-file-creation-time": "2024-07-02T17:54:44.6033507Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2024-07-02T17:54:44.6033507Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "8720823596597466685*1287379445297103284",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-4f6eb023-ba84-4809-d782-1050a0a33086/9aa913ee/99b2f6fe/0945bf21",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Jul 2024 17:54:45 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-4f6eb023-ba84-4809-d782-1050a0a33086/9aa913ee/99b2f6fe/0945bf21",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Tue, 02 Jul 2024 17:54:45 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC9AC00E7DF899\"",
        "Last-Modified": "Tue, 02 Jul 2024 17:54:44 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-07-02T17:54:44.7302809Z",
        "x-ms-file-creation-time": "2024-07-02T17:54:44.7302809Z",
        "x-ms-file-id": "16140971433240035328",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "13365936616355342650*1287379445297103284",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-4f6eb023-ba84-4809-d782-1050a0a33086/9aa913ee/99b2f6fe/0945bf21?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 02 Jul 2024 17:54:45 GMT",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2024-08-04",
        "x-ms-write": "update"
      },
      "RequestBody": "quv5QXIndOTSdvzggSssRDKszaoQsBKdKfWffj/tHJYzfU+TiQ53LhkO6OBphpD+4kXdYksAB/rZXBh9iPWk5FpmrQPbmbojNJ6QAscyM6NkoJv6ELlKMnZUui32+qUjaQOGA9mMIkmKuS2sbwQypil0GOdZqtSgG3qNht+NLTr4bZjDqy/J135Sb1aMnsJxIRMDgeK+yr8v5ehe/5tq/YzzswJsb/r5q0BpBzp9FH23G2TMiaxYOqLYlMZHa9fi6HLKmOrABbIYCtahVcKEsdFrp+Q3nnPfm3lfk9o0sj9ohh7Is3uS9xWys3/WtuTfU+L03MTzq0r+6v1xYHLY41iWOM6jvP5V2K/PhOrzCeSUfz/3P9V7ddvUych+IJai2s8nP30WO5fknwMUJCZfC+EY3eAz4KOCGsPyz/I217gYLKoazMpnfkOoE6DRZ1C1dL7nZkO2b/kspCS5I2ykrsdL+/h7RT4WsV6ci80CsLNzPVo0TnB1Yryw7ielrVrXA2TYhmtYOi9/0LXkGeQsKfNxRuYScF9W1pk8ylcXcQMDxYdoKipIGgMrtH67kEjXg8UzNGZ0xZMFgrDSHG/YaF6x4FRdxP/JKCvj5rvgmkVQZEeR5D2djwDzY6d6df6TUkwgCq/0er/Gags6kd7XJOdqgbcoRoQhFFFUaWFXT7ItT5NvwJCWXOqHy3oxYv0hGz7AD/RHawzH/vZdnxBdbhpYDUFKaGNX0yTNoHsK77FUMk0ilj++5uOHp8GZObzZKlxf2VS817PaaTvQecuRvQ9FCW3COtjbmidewsCivZpn83UeqxZdmFuaSCwD7mwY9uqyVC9PF++Dgz4sXRTzOKyhaIVVchL453ESKPKs2Ky7RczW72lrGNyGmifXMDpGpg+AYoXmwoPXuWy+Pe7916uScRhHHUlCNVCpz9jrIbc3y4HiK3Um1INJ/jX8rdvuiMJ7RL8i/onGPSw1PfKr7Ji1hnFsGqw1bJyU/h4TRoh1u0YVb9z4Fc33HO5J8JeQnRGdRyZpgW4WRtgijf9rs/ekwIKrlXy8vXGkdf2+7HsFA2AMdf5hCzrY/ykD1YfNjGn2pDAV5AiV4Yq1xQtwV1lcHYmfXj34QrRH05VTuOfp1uiUx0dL7x5Yd5R0rEUuZ6fQp7j+Li4s/WJ7zRFyQSijy+4j3JAREC1qRuaohJVuGWvugxAu66i6aMnk0CIN5TZr0eBXCosXvpaLk+dHg3nMDLSmhL4XdOBFaXTGLEALXWCwPbO1Fw7f1sV6o1jBc+VQGMRuZmF3U1wAEaEXUZFWgDWGlkXGF/Slxq34ndGIhPWOdhR7nPb/OOlWtQZsx4U0IyMiOtyfiQHPyKCzfw==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "h3JUvUX3Wkz7IdILOBiFjA==",
        "ETag": "\"0x8DC9AC00E871F10\"",
        "Last-Modified": "Tue, 02 Jul 2024 17:54:44 GMT",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-4f6eb023-ba84-4809-d782-1050a0a33086/9aa913ee/99b2f6fe?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Jul 2024 17:54:45 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandadev2.file.core.windows.net/\" ShareName=\"test-share-4f6eb023-ba84-4809-d782-1050a0a33086\" DirectoryPath=\"9aa913ee/99b2f6fe\"><DirectoryId>11529285414812647424</DirectoryId><Entries><File><Name>0945bf21</Name><FileId>16140971433240035328</FileId><Properties><Content-Length>1024</Content-Length></Properties></File><File><Name>479c73ff</Name><FileId>13835093239654252544</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-4f6eb023-ba84-4809-d782-1050a0a33086/9aa913ee/99b2f6fe/0945bf21",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Jul 2024 17:54:45 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC9AC00E871F10\"",
        "Last-Modified": "Tue, 02 Jul 2024 17:54:44 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-07-02T17:54:44.7902480Z",
        "x-ms-file-creation-time": "2024-07-02T17:54:44.7302809Z",
        "x-ms-file-id": "16140971433240035328",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "13365936616355342650*1287379445297103284",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-4f6eb023-ba84-4809-d782-1050a0a33086/9aa913ee/99b2f6fe/0945bf21",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Jul 2024 17:54:45 GMT",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC9AC00E871F10\"",
        "Last-Modified": "Tue, 02 Jul 2024 17:54:44 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-07-02T17:54:44.7902480Z",
        "x-ms-file-creation-time": "2024-07-02T17:54:44.7302809Z",
        "x-ms-file-id": "16140971433240035328",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "115[...]
[...]
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-4f6eb023-ba84-4809-d782-1050a0a33086?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Jul 2024 17:54:45 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "974648449",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
