{
  "Entries": [
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-a8875db2-a605-c360-b4b7-e52ce52d2b80?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 04 Dec 2023 23:19:59 GMT",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBF51F893F0630\u0022",
        "Last-Modified": "Mon, 04 Dec 2023 23:19:59 GMT",
        "x-ms-version": "2024-02-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-a8875db2-a605-c360-b4b7-e52ce52d2b80/bdf00a76?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 04 Dec 2023 23:19:59 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBF51F894936F1\u0022",
        "Last-Modified": "Mon, 04 Dec 2023 23:19:59 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2023-12-04T23:19:59.9125233Z",
        "x-ms-file-creation-time": "2023-12-04T23:19:59.9125233Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2023-12-04T23:19:59.9125233Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "1597566016123626978*9146977694084461163",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-02-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-a8875db2-a605-c360-b4b7-e52ce52d2b80/bdf00a76/c24dc3d7?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 04 Dec 2023 23:19:59 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBF51F89520F48\u0022",
        "Last-Modified": "Mon, 04 Dec 2023 23:19:59 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2023-12-04T23:19:59.9704904Z",
        "x-ms-file-creation-time": "2023-12-04T23:19:59.9704904Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2023-12-04T23:19:59.9704904Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "1597566016123626978*9146977694084461163",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-02-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-a8875db2-a605-c360-b4b7-e52ce52d2b80/bdf00a76/c24dc3d7/4797dbbb",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 04 Dec 2023 23:20:00 GMT",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2024-02-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-a8875db2-a605-c360-b4b7-e52ce52d2b80/bdf00a76/c24dc3d7/4797dbbb",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Mon, 04 Dec 2023 23:20:00 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBF51F89671AD6\u0022",
        "Last-Modified": "Mon, 04 Dec 2023 23:20:00 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2023-12-04T23:20:00.1084118Z",
        "x-ms-file-creation-time": "2023-12-04T23:20:00.1084118Z",
        "x-ms-file-id": "16140971433240035328",
        "x-ms-file-last-write-time": "2023-12-04T23:20:00.1084118Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "15442983316638046949*9146977694084461163",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-02-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-a8875db2-a605-c360-b4b7-e52ce52d2b80/bdf00a76/c24dc3d7/4797dbbb?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Mon, 04 Dec 2023 23:20:00 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2024-02-04",
        "x-ms-write": "update"
      },
      "RequestBody": "29GFP9SRUlBvuALrEQHWHA\u002BFBfN60TvSF9zVsnaQ5iv4SrjmmPBNXvjugYXm2KlwNFuCH0uY5QqVsyj3vJ/a3tLX88dI74QeN6f6jE\u002B17D4zZX4bDsbgX2WuUOXIVqFYE6OzD\u002BXhKETWY\u002BijnVi64Mfpw1Yhv88M95NimZ6fVuAFonisAtxZUj05RKvdPMIM9HAe35JLN1TTphhRf46lNwwHnfvgDd3qj3EZ53okLrrRVaUtgXdOumsj2VvEB9Kvkw2e1Z7GLOaTM08hMU/ZrnhdgCnoeLWVueKQvDSCJoeealRthVkbCim/mk0nLIkbSirjZoepxhtXCRy8Nm\u002ByEA3Hg8b7aykeQnUAKN1oboxZdHIJnr8A9aQ4Fnw8X9S5DYk/X6nDIN4BxCMRqJ0\u002B75uPYsH9qHFOx40iwlWt4uOgR[...]
[...]
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-a8875db2-a605-c360-b4b7-e52ce52d2b80/bdf00a76/c24dc3d7?restype=directory\u0026comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 04 Dec 2023 23:20:00 GMT",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2024-02-04"
      },
      "ResponseBody": "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CEnumerationResults ServiceEndpoint=\u0022https://jalauzonnettest.file.core.windows.net/\u0022 ShareName=\u0022test-share-a8875db2-a605-c360-b4b7-e52ce52d2b80\u0022 DirectoryPath=\u0022bdf00a76/c24dc3d7\u0022\u003E\u003CDirectoryId\u003E11529285414812647424\u003C/DirectoryId\u003E\u003CEntries\u003E\u003CFile\u003E\u003CName\u003E4797dbbb\u003C/Name\u003E\u003CFileId\u003E16140971433240035328\u003C/FileId\u003E\u003CProperties\u003E\u003CContent-Length\u003E1024\u003C/Content-Length\u003E\u003C/Properties\u003E\u003C/File\u003E\u003CFile\u003E\u003CName\u003Ef03e4aef\u003C/Name\u003E\u003CFileId\u003E13835093239654252544\u003C/FileId\u003E\u003CProperties\u003E\u003CContent-Length\u003E1024\u003C/Content-Length\u003E\u003C/Properties\u003E\u003C/File\u003E\u003C/Entries\u003E\u003CNextMarker /\u003E\u003C/EnumerationResults\u003E"
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-a8875db2-a605-c360-b4b7-e52ce52d2b80/bdf00a76/c24dc3d7/4797dbbb",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 04 Dec 2023 23:20:00 GMT",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DBF51F89708F53\u0022",
        "Last-Modified": "Mon, 04 Dec 2023 23:20:00 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2023-12-04T23:20:00.1703763Z",
        "x-ms-file-creation-time": "2023-12-04T23:20:00.1084118Z",
        "x-ms-file-id": "16140971433240035328",
        "x-ms-file-last-write-time": "2023-12-04T23:20:00.1703763Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "15442983316638046949*9146977694084461163",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2024-02-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-a8875db2-a605-c360-b4b7-e52ce52d2b80/bdf00a76/c24dc3d7/4797dbbb",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 04 Dec 2023 23:20:00 GMT",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DBF51F89708F53\u0022",
        "Last-Modified": "Mon, 04 Dec 2023 23:20:00 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2023-12-04T23:20:00.1703763Z",
        "x-ms-file-creation-time": "2023-12-04T23:20:00.1084118Z",
        "x-ms-file-id": "16140971433240035328",
        "x-ms-file-last-write-time": "2023-12-04T23:20:00.1703763Z",
        "x-ms-file-parent-i[...]
[...]
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-a8875db2-a605-c360-b4b7-e52ce52d2b80?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 04 Dec 2023 23:20:00 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-02-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1147613072",
    "Storage_TestConfigDefault": "ProductionTenant\njalauzonnettest\nU2FuaXRpemVk\nhttps://jalauzonnettest.blob.core.windows.net\nhttps://jalauzonnettest.file.core.windows.net\nhttps://jalauzonnettest.queue.core.windows.net\nhttps://jalauzonnettest.table.core.windows.net\n\n\n\n\nhttps://jalauzonnettest-secondary.blob.core.windows.net\nhttps://jalauzonnettest-secondary.file.core.windows.net\nhttps://jalauzonnettest-secondary.queue.core.windows.net\nhttps://jalauzonnettest-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://jalauzonnettest.blob.core.windows.net/;QueueEndpoint=https://jalauzonnettest.queue.core.windows.net/;FileEndpoint=https://jalauzonnettest.file.core.windows.net/;BlobSecondaryEndpoint=https://jalauzonnettest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jalauzonnettest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jalauzonnettest-secondary.file.core.windows.net/;AccountName=jalauzonnettest;AccountKey=Sanitized\ntestscope1\n\n"
  }
}
