{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-33caafdf-0927-47ef-15c2-eee68a44b054?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Jul 2024 18:27:11 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC9AC496449AE2\"",
        "Last-Modified": "Tue, 02 Jul 2024 18:27:10 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-33caafdf-0927-47ef-15c2-eee68a44b054/015d8eeb?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Jul 2024 18:27:11 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC9AC496582026\"",
        "Last-Modified": "Tue, 02 Jul 2024 18:27:10 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2024-07-02T18:27:10.6393126Z",
        "x-ms-file-creation-time": "2024-07-02T18:27:10.6393126Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-07-02T18:27:10.6393126Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "8720823596597466685*1287379445297103284",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-33caafdf-0927-47ef-15c2-eee68a44b054/015d8eeb/2f982a53?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Jul 2024 18:27:11 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC9AC49660F886\"",
        "Last-Modified": "Tue, 02 Jul 2024 18:27:10 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2024-07-02T18:27:10.6972806Z",
        "x-ms-file-creation-time": "2024-07-02T18:27:10.6972806Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2024-07-02T18:27:10.6972806Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "8720823596597466685*1287379445297103284",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-33caafdf-0927-47ef-15c2-eee68a44b054/015d8eeb/2f982a53/36c69d53?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Jul 2024 18:27:11 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC9AC4966B093E\"",
        "Last-Modified": "Tue, 02 Jul 2024 18:27:10 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2024-07-02T18:27:10.7632446Z",
        "x-ms-file-creation-time": "2024-07-02T18:27:10.7632446Z",
        "x-ms-file-id": "16140971433240035328",
        "x-ms-file-last-write-time": "2024-07-02T18:27:10.7632446Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "8720823596597466685*1287379445297103284",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-33caafdf-0927-47ef-15c2-eee68a44b054/015d8eeb/2f982a53/36c69d53/412fc42b?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Jul 2024 18:27:11 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC9AC49673BA94\"",
        "Last-Modified": "Tue, 02 Jul 2024 18:27:10 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2024-07-02T18:27:10.8202132Z",
        "x-ms-file-creation-time": "2024-07-02T18:27:10.8202132Z",
        "x-ms-file-id": "10376363910205800448",
        "x-ms-file-last-write-time": "2024-07-02T18:27:10.8202132Z",
        "x-ms-file-parent-id": "16140971433240035328",
        "x-ms-file-permission-key": "8720823596597466685*1287379445297103284",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-33caafdf-0927-47ef-15c2-eee68a44b054/015d8eeb/2f982a53/36c69d53/412fc42b/89b180b0?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Jul 2024 18:27:11 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC9AC4967CBA03\"",
        "Last-Modified": "Tue, 02 Jul 2024 18:27:10 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2024-07-02T18:27:10.8791811Z",
        "x-ms-file-creation-time": "2024-07-02T18:27:10.8791811Z",
        "x-ms-file-id": "14988049928633188352",
        "x-ms-file-last-write-time": "2024-07-02T18:27:10.8791811Z",
        "x-ms-file-parent-id": "10376363910205800448",
        "x-ms-file-permission-key": "8720823596597466685*1287379445297103284",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-33caafdf-0927-47ef-15c2-eee68a44b054/015d8eeb/2f982a53/36c69d53/412fc42b/89b180b0/6477ff38?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Jul 2024 18:27:11 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC9AC49685B96E\"",
        "Last-Modified": "Tue, 02 Jul 2024 18:27:10 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2024-07-02T18:27:10.9381486Z",
        "x-ms-file-creation-time": "2024-07-02T18:27:10.9381486Z",
        "x-ms-file-id": "12682206919419494400",
        "x-ms-file-last-write-time": "2024-07-02T18:27:10.9381486Z",
        "x-ms-file-parent-id": "14988049928633188352",
        "x-ms-file-permission-key": "8720823596597466685*1287379445297103284",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-33caafdf-0927-47ef-15c2-eee68a44b054/015d8eeb/2f982a53/36c69d53/412fc42b/89b180b0/6477ff38/8b6154fb",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Jul 2024 18:27:11 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-33caafdf-0927-47ef-15c2-eee68a44b054/015d8eeb/2f982a53/36c69d53/412fc42b/89b180b0/6477ff38/8b6154fb",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Tue, 02 Jul 2024 18:27:11 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC9AC49697DF54\"",
        "Last-Modified": "Tue, 02 Jul 2024 18:27:11 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-07-02T18:27:11.0570836Z",
        "x-ms-file-creation-time": "2024-07-02T18:27:11.0570836Z",
        "x-ms-file-id": "17293892937846882304",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "12682206919419494400",
        "x-ms-file-permission-key": "13365936616355342650*1287379445297103284",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-33caafdf-0927-47ef-15c2-eee68a44b054/015d8eeb/2f982a53/36c69d53/412fc42b/89b180b0/6477ff38/8b6154fb?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 02 Jul 2024 18:27:11 GMT",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2024-08-04",
        "x-ms-write": "update"
      },
      "RequestBody": "D59o/EHW0WbkXLGOH9xVZrW2KKmdtAzgYnVH9FsqJDeQ3buBhAfVJYP6pyWnD+JAY4e8enjzj1qTiJnLj90KuTd5/UIg1OKt4AIlogzmOFOTBpDUbam/nE1g7fttCZal8O7tLhGfII+lD5p2zexOrE9GOIhNNkyNuWD0v+bmQNZrf7Ie+QpB8+YAL14PSc9gEkCsJ9EOWLmiX3Swq2Covs7DCk06L7NEBEShTAftfnCRk62lOhkFXSf4fJqWkUiGV3CPTD6BJuKNZyKMbQyytOEDHhezA4S1vqwmQbMYrnP7GvSWXTExD2zKF9L3ePAaRce4knIx01Ts2o6SW+UvdLmvkFIXHFav0Q+q6OuyvkW8C/vrXxsAykegqYOjn7SHm6IYR+ieAylxCcFjhupoOhxJ1U/pQxWersYKd3LTCzFaIk1ImXZcHgjSelZanUNdN29mWspknleNepkik4y2nf2PCGSdIKGm7LZGFsm+RBGCrT8DbbFn9YP1uh/dOot8G9xYypTfwBfOwG4THoeOzzaHn+VMszBMJxLgp2WByLEryfvsZnl9o+0oNaxCVNf8ZuvpVZqlMGisC6OB/hixTPe851SMoWm8Cfz4JH6ECtM75EB6mHIWhpmTQFrV+6TUd+m0hWyCb8SCLEuerAzqKAHPRhrXNrOEpmG7+WEO5w5YJKyVz4RnuHV792wmeNqMqRhYBrWJ/EA1L98Lx3Vjc0U9RYhfVFh9aI2lXD9HXi2HLlBJteFYzidsX5+kXPH/GIQn6DJRLVS/250o5KAB7dGxg5gkGr5k5Xdh8vW52QybpUO7IHX7NQH8idpDMOmGa3HN8thY2v3FwgO68DpeBgKRjD5dRs1ctk6XKJHjILWN24eD7OYzQ8pF9V1xQEXGnYPYsqOqKCWkcDuJwbJs4qJOLRWz2xkbXUl0F1Bv63YJ0YoNC24R4rJh33urqYEX2BK7IxIvE8JpvVRaNhHUNIXFgO8oX9czPEpjUfuecLPHXD4+tMhj2b7HpE4at6ygjav25SmS7nk7h+bIzMHHy0ygktrSln+9YaYxYbuJGYWewsRQqIqKNW3FAizhmw38/9gBeSTSzfYrOYSCYIy+sm5hKQn9diPCFl1sDZNS28aZNWHih59gzPTNJW8GB9XgBlC+gHED/om1P2PHZb9j2F296Cor3CrOAF0VMFGzvA6IiwdDlFpUljfYLEg8mWY0akwRSB+qtSol74AU7c03AYJUPtq4H0QCaFLzUq/hkWb24MYFonPv3tXcHaTaQKhpoCrF6FqMfEoIDt/Nt2N7RF4ZHQ0HMl8PZWAF2wKfKCipibGEG6kLamR7/JOTIiZyYdlGwCKbYm7LtoL6hqBIaQ==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "R7he69cHIHKvnJMsdyqk0w==",
        "ETag": "\"0x8DC9AC496A153DE\"",
        "Last-Modified": "Tue, 02 Jul 2024 18:27:11 GMT",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-33caafdf-0927-47ef-15c2-eee68a44b054/015d8eeb/2f982a53?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Jul 2024 18:27:11 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandadev2.file.core.windows.net/\" ShareName=\"test-share-33caafdf-0927-47ef-15c2-eee68a44b054\" DirectoryPath=\"015d8eeb/2f982a53\"><DirectoryId>11529285414812647424</DirectoryId><Entries><Directory><Name>36c69d53</Name><FileId>16140971433240035328</FileId><Properties /></Directory></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-33caafdf-0927-47ef-15c2-eee68a44b054/015d8eeb/2f982a53/36c69d53?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Jul 2024 18:27:12 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandadev2.file.core.windows.net/\" ShareName=\"test-share-33caafdf-0927-47ef-15c2-eee68a44b054\" DirectoryPath=\"015d8eeb/2f982a53/36c69d53\"><DirectoryId>16140971433240035328</DirectoryId><Entries><Directory><Name>412fc42b</Name><FileId>10376363910205800448</FileId><Properties /></Directory></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-33caafdf-0927-47ef-15c2-eee68a44b054/015d8eeb/2f982a53/36c69d53/412fc42b?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Jul 2024 18:27:12 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandadev2.file.core.windows.net/\" ShareName=\"test-share-33caafdf-0927-47ef-15c2-eee68a44b054\" DirectoryPath=\"015d8eeb/2f982a53/36c69d53/412fc42b\"><DirectoryId>10376363910205800448</DirectoryId><Entries><Directory><Name>89b180b0</Name><FileId>14988049928633188352</FileId><Properties /></Directory></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-33caafdf-0927-47ef-15c2-eee68a44b054/015d8eeb/2f982a53/36c69d53/412fc42b/89b180b0?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Jul 2024 18:27:12 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandadev2.file.core.windows.net/\" ShareName=\"test-share-33caafdf-0927-47ef-15c2-eee68a44b054\" DirectoryPath=\"015d8eeb/2f982a53/36c69d53/412fc42b/89b180b0\"><DirectoryId>14988049928633188352</DirectoryId><Entries><Directory><Name>6477ff38</Name><FileId>12682206919419494400</FileId><Properties /></Directory></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-33caafdf-0927-47ef-15c2-eee68a44b054/015d8eeb/2f982a53/36c69d53/412fc42b/89b180b0/6477ff38?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Jul 2024 18:27:12 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandadev2.file.core.windows.net/\" ShareName=\"test-share-33caafdf-0927-47ef-15c2-eee68a44b054\" DirectoryPath=\"015d8eeb/2f982a53/36c69d53/412fc42b/89b180b0/6477ff38\"><DirectoryId>12682206919419494400</DirectoryId><Entries><File><Name>8b6154fb</Name><FileId>17293892937846882304</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-33caafdf-0927-47ef-15c2-eee68a44b054/015d8eeb/2f982a53/36c69d53/412fc42b/89b180b0/6477ff38/8b6154fb",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Jul 2024 18:27:12 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC9AC496A153DE\"",
        "Last-Modified": "Tue, 02 Jul 2024 18:27:11 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-07-02T18:27:11.1190494Z",
        "x-ms-file-creation-time": "2024-07-02T18:27:11.0570836Z",
        "x-ms-file-id": "17293892937846882304",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "12682206919419494400",
        "x-ms-file-permission-key": "13365936616355342650*1287379445297103284",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-33caafdf-0927-47ef-15c2-eee68a44b054/015d8eeb/2f982a53/36c69d53/412fc42b/89b180b0/6477ff38/8b6154fb",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Jul 2024 18:27:12 GMT",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC9AC496A153DE\"",
        "Last-Modified": "Tue, 02 Jul 2024 18:27:11 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-07-02T18:27:11.1190494Z",
        "x-ms-file-creation-time": "2024-07-02T18:27:11.0570836Z",
        "x-ms-file-id": "17293892937846882304",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "126[...]
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-33caafdf-0927-47ef-15c2-eee68a44b054?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Jul 2024 18:27:12 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "839441100",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
