{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-23efea46-8d13-2482-663d-e246ee6be7a5?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 30 Oct 2024 15:15:05 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCF8F59FF16F3E\"",
        "Last-Modified": "Wed, 30 Oct 2024 15:15:01 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-23efea46-8d13-2482-663d-e246ee6be7a5/3a074c30?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 30 Oct 2024 15:15:05 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCF8F59FFB726C\"",
        "Last-Modified": "Wed, 30 Oct 2024 15:15:01 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2024-10-30T15:15:01.4499948Z",
        "x-ms-file-creation-time": "2024-10-30T15:15:01.4499948Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-10-30T15:15:01.4499948Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "8016861625448480706*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-23efea46-8d13-2482-663d-e246ee6be7a5/3a074c30/40252b44?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 30 Oct 2024 15:15:05 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCF8F5A004B6D5\"",
        "Last-Modified": "Wed, 30 Oct 2024 15:15:01 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2024-10-30T15:15:01.5107285Z",
        "x-ms-file-creation-time": "2024-10-30T15:15:01.5107285Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2024-10-30T15:15:01.5107285Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "8016861625448480706*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-23efea46-8d13-2482-663d-e246ee6be7a5/3a074c30/40252b44/a38535b8",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Wed, 30 Oct 2024 15:15:05 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCF8F5A00DFB3F\"",
        "Last-Modified": "Wed, 30 Oct 2024 15:15:01 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-10-30T15:15:01.5714623Z",
        "x-ms-file-creation-time": "2024-10-30T15:15:01.5714623Z",
        "x-ms-file-id": "16140971433240035328",
        "x-ms-file-last-write-time": "2024-10-30T15:15:01.5714623Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-23efea46-8d13-2482-663d-e246ee6be7a5/3a074c30/40252b44/a38535b8?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 30 Oct 2024 15:15:05 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-01-05",
        "x-ms-write": "update"
      },
      "RequestBody": "YLe2T5bujh5a9pA3dWT1lwpGKdFTcvjLP4HvcwO4PdyZtvWlYH5D07I/FHuCspCbgrYa5w2bSe2/6hAU/hsaorm0nb9uTzaMAlYfFF59SYzxVPBNnVbP/mwI5nZtLtSXJXLBzhXQLTOAjuS2fDWPQqGEI6oqzQVj5Z9TZWi/HtSBiO/su3t2ICe9zA5yGII3eaTV6AsqbFdsXuh2fcfKwG8PNfNFo4cmDQKDbQD28c0cHOzE6jXJVxuXf12SAKNf8gyfYuKO8dUcr9sIp/9XdmwbWWHaBdY5Rt7XriMqlA1fI3r0V4/qjSsWpztawK8cPwnwdqdChew1ZRsEt0Kx8hvNqISEYx7dMcs2w12b3oUuum4aOR1lHZ2NvvJz5dboZbQfjRgrmNzqEkTcDMKOmoaW1vzTl7n9aIvm9qQsakz0TV6pe1FtAiKRLyfZiRHb/yRr3Q/aFM37IiWMRaE3vqj4575j5R81KNPZQmeRI956CveAwY08GjiQrVgs4b2AWnF/4KJSdxkFNbQ7ANJmav5GETqqtv0au82F0zjGCEcWWef2EkM8KJPee4vYARpmKUNa5c+C1qNzZCXUzKTgPixsJKfqb1e7CumnzDpyQrqzH6n1bCN4k4JDg60eZ1vu/T1ea9xye7rrntvm2wpoASJqIaz769IJ9JEkp+yqnaKNuM/9E9beQKTvCs1Hkbh424GLs0Wu8xFqVHZKTtTNQQE4WCI7a+1Li+EIC+EFwWLYq8xrHuld3sW9k75fk/HQIsjMDzmVPW+UQChjpucwZZMTcqMIYSIX23pdfdcu6/fwOOkYObIpQm1c1t7B+TjdjC4rSyFOx8CmtDS+OL+XZVQwc239GCvg6i81q4tDVuFBf/GpAp/WoXApcYR+agqtxHCKkIXK33QCS2HxGRs1Yl5SfbjO7mK0WtH81KanYn8lh+caucZbd598p7c95IhU8w8mK+1R39YO1TWzzQvOWujizJE0G6iX9gUZUkardnZJp+CWgTaR06gQDOSQp6mUrUzOWxf2INhmjjTnOIyPYl6/aiYqN9myUPnpIw/DB09chKT63BtfUocIL/IBqZobgamG0TyDaXVzHAsdDf3Jo4fli7PolYZDXxieIgjmsKZezqJlPTUS2BsuhsAPQUWKPoxrHB7nM+sjQ3Ik5EdtjGxkvj5aY2ZR07KYuQ7GMx3TFON7epOId5u2QvnD7fTTwfpUqoMGL9smGUhrTnndXQ9UUM9k8RHY3EaipCBsjuW+xfgUcYiazOUIVWFKHSkh2eXpbpwkb8/oe848Y4q6uotjrImByOuHuYTqXJywjb8dgcs6gh9ImVUoLPa5XmhaTZrW53CfnxD6YrUYOhMyNw==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "4LlQkgAAVge/gKQiW+CJSw==",
        "ETag": "\"0x8DCF8F5A0182904\"",
        "Last-Modified": "Wed, 30 Oct 2024 15:15:01 GMT",
        "x-ms-file-last-write-time": "2024-10-30T15:15:01.6381700Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-23efea46-8d13-2482-663d-e246ee6be7a5/3a074c30/40252b44/fccab9cf",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 30 Oct 2024 15:15:05 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DCF8F5A02AD8B8\"",
        "Last-Modified": "Wed, 30 Oct 2024 15:15:01 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-10-30T15:15:01.7606328Z",
        "x-ms-file-creation-time": "2024-10-30T15:15:01.6969121Z",
        "x-ms-file-id": "10376363910205800448",
        "x-ms-file-last-write-time": "2024-10-30T15:15:01.7606328Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-23efea46-8d13-2482-663d-e246ee6be7a5/3a074c30/40252b44/a361386f",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 30 Oct 2024 15:15:05 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-23efea46-8d13-2482-663d-e246ee6be7a5/3a074c30/40252b44?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 30 Oct 2024 15:15:06 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.file.core.windows.net/\" ShareName=\"test-share-23efea46-8d13-2482-663d-e246ee6be7a5\" DirectoryPath=\"3a074c30/40252b44\"><DirectoryId>11529285414812647424</DirectoryId><Entries><File><Name>17205bd2</Name><FileId>13835093239654252544</FileId><Properties><Content-Length>1024</Content-Length></Properties></File><File><Name>a361386f</Name><FileId>14988049928633188352</FileId><Properties><Content-Length>1024</Content-Length></Properties></File><File><Name>a38535b8</Name><FileId>16140971433240035328</FileId><Properties><Content-Length>1024</Content-Length></Properties></File><File><Name>fccab9cf</Name><FileId>10376363910205800448</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-23efea46-8d13-2482-663d-e246ee6be7a5?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 30 Oct 2024 15:15:06 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "32162091",
    "Storage_TestConfigDefault": "ProductionTenant\namandapreprod\nU2FuaXRpemVk\nhttps://amandapreprod.blob.core.windows.net\nhttps://amandapreprod.file.core.windows.net\nhttps://amandapreprod.queue.core.windows.net\nhttps://amandapreprod.table.core.windows.net\n\n\n\n\nhttps://amandapreprod-secondary.blob.core.windows.net\nhttps://amandapreprod-secondary.file.core.windows.net\nhttps://amandapreprod-secondary.queue.core.windows.net\nhttps://amandapreprod-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandapreprod.blob.core.windows.net/;QueueEndpoint=https://amandapreprod.queue.core.windows.net/;FileEndpoint=https://amandapreprod.file.core.windows.net/;BlobSecondaryEndpoint=https://amandapreprod-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandapreprod-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandapreprod-secondary.file.core.windows.net/;AccountName=amandapreprod;AccountKey=Sanitized\nEncryptionScope\n\n"
  }
}
