{
  "Entries": [
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-c7e31647-46a7-d294-8e08-c50624edbb90?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 29 Apr 2026 23:01:52 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA6434D54CBBB\"",
        "Last-Modified": "Wed, 29 Apr 2026 23:01:52 GMT",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-c7e31647-46a7-d294-8e08-c50624edbb90/03b4c758?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 29 Apr 2026 23:01:52 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA6434D5C80F7\"",
        "Last-Modified": "Wed, 29 Apr 2026 23:01:52 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2026-04-29T23:01:52.4116727Z",
        "x-ms-file-creation-time": "2026-04-29T23:01:52.4116727Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2026-04-29T23:01:52.4116727Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "11118135984870558254*17478659090621734311",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-c7e31647-46a7-d294-8e08-c50624edbb90/03b4c758/d2d4a4ef?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 29 Apr 2026 23:01:52 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA6434D635BFB\"",
        "Last-Modified": "Wed, 29 Apr 2026 23:01:52 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2026-04-29T23:01:52.4566011Z",
        "x-ms-file-creation-time": "2026-04-29T23:01:52.4566011Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2026-04-29T23:01:52.4566011Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "11118135984870558254*17478659090621734311",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-c7e31647-46a7-d294-8e08-c50624edbb90/03b4c758/d2d4a4ef/file1",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 29 Apr 2026 23:01:52 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-c7e31647-46a7-d294-8e08-c50624edbb90/03b4c758/d2d4a4ef/dir1?restype=directory",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 29 Apr 2026 23:01:52 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ResourceNotFound</Code><Message>The specified resource does not exist.\n",
        "RequestId:b872737e-d01a-00aa-762c-d84fb4000000\n",
        "Time:2026-04-29T23:01:52.5310854Z</Message></Error>"
      ]
    },
[...]
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-c7e31647-46a7-d294-8e08-c50624edbb90/03b4c758/d2d4a4ef/file1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Wed, 29 Apr 2026 23:01:52 GMT",
        "x-ms-type": "file",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA6434D7492FA\"",
        "Last-Modified": "Wed, 29 Apr 2026 23:01:52 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2026-04-29T23:01:52.5694202Z",
        "x-ms-file-creation-time": "2026-04-29T23:01:52.5694202Z",
        "x-ms-file-id": "16140971433240035328",
        "x-ms-file-last-write-time": "2026-04-29T23:01:52.5694202Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "6498768581512459561*17478659090621734311",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-c7e31647-46a7-d294-8e08-c50624edbb90/03b4c758/d2d4a4ef/file1?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 29 Apr 2026 23:01:52 GMT",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2026-06-06",
        "x-ms-write": "update"
      },
      "RequestBody": "B8Dftpd1sC8z/AweHGAb6/N60d+kG/fGkNAjgkTqxjvUhBN43YRz3NxUfxSu5+01PpGSlri8l+zIGCXGUi3qSTbRSpdMow1vBvUCT5vjGKni7USzVy+CF+wmsMVerImvajbd3JxW6JuDI5DDuUhR5QB85GXoN/EHTzKrJvNHEVlsU+RkBjsMjAWpLzSfv12k1cvF4cgjxjNF1o1pqsKoOxE2VmZj7N7EcFdgPwe9Z5DVB1Angi+RSIyxHzCtouFCAfMiaGj3QOjsAHFxw4criG79lKNxgLnhpQ7Zsc2uFs11HT0Tmv4n3sZoO4G+H4QFhpbBsA4+0YE6QMNZHY4bPeqj+6ZJF+1v1bbcCUQ3I4WJ1Cs27Wa/Nku82Vk7zsA4TP2XGiPevG+oUdpXYcg8Ax09z0hj5FCD5MVajD6UNAf1pLxGnwhhqxi7jZuMZ9WDf9U8/f541GisFDZegy8xFBzTYr0L9WMU2yMwp1e193zv1gxoWDcIfc9UmYvSAyjoinh+uAQYeIpyJyHaRy0Q9xy5bqwiyLzlyuXtt1zXQdj7RxzeNj53116C9TAWLjWiQ6JuGZR7xsG8me4fKsEumuVI3gAQMsDeQZdOn9OLzpyvSnO5aChEgIFaIZ1PWK2dVFtKzU81khHhkNf9LCbuMMpSb99NdDG9BF5+tREjjunpsEt4QQBMerhi2NhQR1NabPDT/ejNUOApjcnxttz/vgLuE3zbdu/JBfUm65xZbL0KJEkgUJEAHGBqTrQ3W8PcYhnVYTPXf/UBCffzpmREzyAM5pKT325w7vYbcCc7kqoxSoiCgwuJMqRTH0aaDXX7Jn6UKnQxSYKrZHM9uw7NxXdNwVzbwkwUg7PtP8An1uCBIEqpp2g1/wEG1h6XTHeVhlnPTEsYH2Qyf6bBQwrChI2Su5vEJB4OGMFb1estfTc8V7hnV4qUaADldifBc7z2RFGRBJDb0WE6wDSJvUp4BQJvhOxRWiwD/lKb3633TaQFZJGZnHimYIZXLZdVCqu1bXElUu/QpekljQY+QPGzQ3OQhFi43mmKyCRl+S2VrvOm5XI80fu1Nb+odA5xaB+Uo+kkxYZT/Y4Hm4nKaqu7kN8Tl1t/d3F3206ZEGpaGF8E0FZDcelsU+jjNDZx6soT7OQvXdHEFCx4rOk3uuwjrYIqxppVeB/2pkRzm0I7BvCDhiSGK7qNQLsqy8T/NJn8wIezRyQwvXTEObaNUXjpPab4tDTHnILInIXeK6xa9nKqd9u7h7/MU8iwwfEDAO9CQI0eBoBkNCMF6qqeUZLHakJE4tmdLrXnLGBsF9uQxJyWnOofO/DxRkK3tpwULgE16Vevvh0VpRLYN9og+B1IdQ==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "LKe1QlHE5FdahmBYxfbNWA==",
        "ETag": "\"0x8DEA6434D7BE2F5\"",
        "Last-Modified": "Wed, 29 Apr 2026 23:01:52 GMT",
        "x-ms-file-last-write-time": "2026-04-29T23:01:52.5694202Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-c7e31647-46a7-d294-8e08-c50624edbb90/03b4c758/d2d4a4ef/dir1/file1",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 29 Apr 2026 23:01:53 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-c7e31647-46a7-d294-8e08-c50624edbb90/03b4c758/d2d4a4ef/file1?comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 29 Apr 2026 23:01:53 GMT",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA6434D826FF8\"",
        "Last-Modified": "Wed, 29 Apr 2026 23:01:52 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2026-04-29T23:01:52.6602744Z",
        "x-ms-file-creation-time": "2026-04-29T23:01:52.5694202Z",
        "x-ms-file-id": "16140971433240035328",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "6498768581512459561*17478659090621734311",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-c7e31647-46a7-d294-8e08-c50624edbb90/03b4c758/d2d4a4ef/dir1/file1?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 29 Apr 2026 23:01:53 GMT",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2026-06-06",
        "x-ms-writ[...]
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-c7e31647-46a7-d294-8e08-c50624edbb90/03b4c758/d2d4a4ef/dir1/file1?comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 29 Apr 2026 23:01:53 GMT",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA6434D915DF6\"",
        "Last-Modified": "Wed, 29 Apr 2026 23:01:52 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2026-04-29T23:01:52.7581174Z",
        "x-ms-file-creation-time": "2026-04-29T23:01:52.6692598Z",
        "x-ms-file-id": "10376363910205800448",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "13835093239654252544",
        "x-ms-file-permission-key": "6498768581512459561*17478659090621734311",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-c7e31647-46a7-d294-8e08-c50624edbb90/03b4c758/d2d4a4ef?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 29 Apr 2026 23:01:53 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amnguyesa.file.core.windows.net/\" ShareName=\"test-share-c7e31647-46a7-d294-8e08-c50624edbb90\" DirectoryPath=\"03b4c758/d2d4a4ef\"><DirectoryId>11529285414812647424</DirectoryId><Entries><Directory><Name>dir1</Name><FileId>13835093239654252544</FileId><Properties /></Directory><File><Name>file1</Name><FileId>16140971433240035328</FileId><Properties><Content-Length>1024</Content-Length></Properties></File><File><Name>file2</Name><FileId>13835163608398430208</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-c7e31647-46a7-d294-8e08-c50624edbb90/03b4c758/d2d4a4ef/dir1?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 29 Apr 2026 23:01:53 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amnguyesa.file.core.windows.net/\" ShareName=\"test-share-c7e31647-46a7-d294-8e08-c50624edbb90\" DirectoryPath=\"03b4c758/d2d4a4ef/dir1\"><DirectoryId>13835093239654252544</DirectoryId><Entries><File><Name>file1</Name><FileId>10376363910205800448</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-c7e31647-46a7-d294-8e08-c50624edbb90/03b4c758/d2d4a4ef/dir1/file1",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 29 Apr 2026 23:01:53 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA6434D915DF6\"",
        "Last-Modified": "Wed, 29 Apr 2026 23:01:52 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2026-04-29T23:01:52.7581174Z",
        "x-ms-file-creation-time": "2026-04-29T23:01:52.6692598Z",
        "x-ms-file-id": "10376363910205800448",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "13835093239654252544",
        "x-ms-file-permission-key": "6498768581512459561*17478659090621734311",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-c7e31647-46a7-d294-8e08-c50624edbb90/03b4c758/d2d4a4ef/dir1/file1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 29 Apr 2026 23:01:53 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "ETag": "\"0x8DEA6434D915DF6\"",
        "Last-Modified": "Wed, 29 Apr 2026 23:01:52 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2026-04-29T23:01:52.7581174Z",
        "x-ms-file-creation-time": "2026-04-29T23:01:52.6692598Z",
        "x-ms-file-id": "10376363910205800448",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "13835093239654252544",
        "x-ms-file-permission-ke[...]
[...]
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-c7e31647-46a7-d294-8e08-c50624edbb90?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 29 Apr 2026 23:01:53 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "634464849",
    "Storage_TestConfigDefault": "ProductionTenant\namnguyesa\nU2FuaXRpemVk\nhttps://amnguyesa.blob.core.windows.net\nhttps://amnguyesa.file.core.windows.net\nhttps://amnguyesa.queue.core.windows.net\nhttps://amnguyesa.table.core.windows.net\n\n\n\n\nhttps://amnguyesa-secondary.blob.core.windows.net\nhttps://amnguyesa-secondary.file.core.windows.net\nhttps://amnguyesa-secondary.queue.core.windows.net\nhttps://amnguyesa-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amnguyesa.blob.core.windows.net/;QueueEndpoint=https://amnguyesa.queue.core.windows.net/;FileEndpoint=https://amnguyesa.file.core.windows.net/;BlobSecondaryEndpoint=https://amnguyesa-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amnguyesa-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amnguyesa-secondary.file.core.windows.net/;AccountName=amnguyesa;AccountKey=U2FuaXRpemVk\nencryptionScope\n\n"
  }
}
