{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-504e0356-4002-e213-b2fd-3c98d6277fe5?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 01:23:04 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D169BC43FF2\"",
        "Last-Modified": "Fri, 07 Mar 2025 01:23:04 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-504e0356-4002-e213-b2fd-3c98d6277fe5/93b4dd99?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 01:23:04 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D169BCF3EEE\"",
        "Last-Modified": "Fri, 07 Mar 2025 01:23:04 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-03-07T01:23:04.1192686Z",
        "x-ms-file-creation-time": "2025-03-07T01:23:04.1192686Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-03-07T01:23:04.1192686Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "8016861625448480706*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-504e0356-4002-e213-b2fd-3c98d6277fe5/93b4dd99/1f82f67a?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 01:23:04 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D169BD85C70\"",
        "Last-Modified": "Fri, 07 Mar 2025 01:23:04 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-03-07T01:23:04.1790064Z",
        "x-ms-file-creation-time": "2025-03-07T01:23:04.1790064Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2025-03-07T01:23:04.1790064Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "8016861625448480706*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-504e0356-4002-e213-b2fd-3c98d6277fe5/93b4dd99/1f82f67a/0a31d12d",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Fri, 07 Mar 2025 01:23:04 GMT",
        "x-ms-type": "file",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D169BE10540\"",
        "Last-Modified": "Fri, 07 Mar 2025 01:23:04 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-03-07T01:23:04.2357568Z",
        "x-ms-file-creation-time": "2025-03-07T01:23:04.2357568Z",
        "x-ms-file-id": "16140971433240035328",
        "x-ms-file-last-write-time": "2025-03-07T01:23:04.2357568Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-504e0356-4002-e213-b2fd-3c98d6277fe5/93b4dd99/1f82f67a/0a31d12d?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Fri, 07 Mar 2025 01:23:04 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05",
        "x-ms-write": "update"
      },
      "RequestBody": "YLzLanN7OomKAOthda7BqDGhWuveY1ZTIN1h+EvK534tVwthwbmsHylTjSLdwPIHkC2Ow1wKGvxmd0qVGkI+vxlsMx6jYOZ49TrBi9UzdWDrWWcdOyMhIj0O+kpuFgXnFM0JcYzTZC9HFc0iSY4nMgHqqcDaIYT1ShDhlGWcCd802nYIKQTTF/U31iZW/9mu58hIhGxEDfNJFCd78dDKqwvu7W4XHwn9F5HLoktenks3M6ydU4Vy8MyDvhXcVyYlbSsaaBFqlsi/S23aeWqo63XcRL4jLFeGe/2ilGDzIL9rpjQgQzY5zJ3k3ggXl3di29OfABJnAUHTk+wUyAFoyyutb9M1iKc/onghP05PbuSGP7mNUx+tA6TzTK9JJQObfBLcaSijLFMrYF2ZRsLzgyQHjYhI2ncLAGsvQjv39X11hcM7cgW84hNmYfPBE73h/8iKQZd6U6Gb0Wm8dOkXM2rfJMD/uBEfS6t14XmESeytTUJybLPm+jIin6Gb/24pTi2I4e/94Ue3a/brBXEnF4h9Dyampce3+SqN3RhwhEs9S5NL+2f9sGv7ugG8+/XB+ogYHvBHg6lm0ejFbwQvR+aqrrne3BsggF66q+vF+v00zOOPV2Vb9sjq5Cp+N0Fny3IaEkw84x1t+J6SjNe+odbrkKIhn/CBT7jw9PfwokgcU994quiw+OnFIV7HyWnxK0NUk6efRiyBmcKUS+4lfFZVdTn3RfbtOpe4W32RuYZO/8i0nA6hfQ2z9hEmHK36n6UIcVMw+eZMZlkP5uqu8OA7RkwmceBHtPcrQ0/lxx7qvrvYiUcyHQXiZza1kZciBQYw6tVh1C7EwL1cBLWWZ547JCcv1WaYCShGRAmqkiNfCD5JtN1IieqNFMiK1hlQSwCXeWxv8y+fmOCtGo8kGi6Z/Pt3TbLA8ps9ocGdDjMP9vkJEhi27xUOqRz8mm5aaPma8Nkd2P1N14bRMlFuAYqtniSWGggV4w3maKSWw1gs4znHAx1Z8h37vDqR5L3Dn6eST/xJxE7whQzLNnBZthMupE8Ypv5sU6sHm17Ng/9PI8j8BHRb4h/r1n4QjrytoQUnYj9uq/mpJftRQijvIwENexOnXbKe08EvLc9/W8XvWflZpiC/4XfPU955CaD2+7N8AxKoBURSiI9+Pn0pKco1Yeguln3gTpqb2AnTJMkhOTEcAlizRlS1Bh2RQaP6pSkURKi3x2U2nLR3DS06f2PFXARLDSZxgRqUeZBfTw32oDLgv+AhaXLM5WajPDkmeoe5zOSerpgCosKNI03V1kymgGz7WcCDpPOSfifAzUXgbf8IpoMpWPKa3Rwdk0Yk9w8Z/bvNKyDHNijxCy9wQg==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "Y1+vlroDJXuRERY8EjgF7g==",
        "ETag": "\"0x8DD5D169BEABE45\"",
        "Last-Modified": "Fri, 07 Mar 2025 01:23:04 GMT",
        "x-ms-file-last-write-time": "2025-03-07T01:23:04.2994757Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-504e0356-4002-e213-b2fd-3c98d6277fe5/93b4dd99/1f82f67a/0a31d12d?comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 01:23:04 GMT",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D169C0A7E93\"",
        "Last-Modified": "Fri, 07 Mar 2025 01:23:04 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-03-07T01:23:04.5075603Z",
        "x-ms-file-creation-time": "2025-03-07T01:23:04.3890818Z",
        "x-ms-file-id": "16140971433240035328",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-504e0356-4002-e213-b2fd-3c98d6277fe5/93b4dd99/1f82f67a?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 01:23:04 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.file.core.windows.net/\" ShareName=\"test-share-504e0356-4002-e213-b2fd-3c98d6277fe5\" DirectoryPath=\"93b4dd99/1f82f67a\"><DirectoryId>11529285414812647424</DirectoryId><Entries><File><Name>0a31d12d</Name><FileId>16140971433240035328</FileId><Properties><Content-Length>1024</Content-Length></Properties></File><File><Name>204c14aa</Name><FileId>13835093239654252544</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-504e0356-4002-e213-b2fd-3c98d6277fe5/93b4dd99/1f82f67a/0a31d12d",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 01:23:04 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D169C0A7E93\"",
        "Last-Modified": "Fri, 07 Mar 2025 01:23:04 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-03-07T01:23:04.5075603Z",
        "x-ms-file-creation-time": "2025-03-07T01:23:04.3890818Z",
        "x-ms-file-id": "16140971433240035328",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-504e0356-4002-e213-b2fd-3c98d6277fe5/93b4dd99/1f82f67a/0a31d12d",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 01:23:04 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "ETag": "\"0x8DD5D169C0A7E93\"",
        "Last-Modified": "Fri, 07 Mar 2025 01:23:04 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-03-07T01:23:04.5075603Z",
        "x-ms-file-creation-time": "2025-03-07T01:23:04.3890818Z",
        "x-ms-file-id": "16140971433240035328",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-ke[...]
[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-504e0356-4002-e213-b2fd-3c98d6277fe5?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 01:23:04 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1557938950",
    "Storage_TestConfigDefault": "ProductionTenant\namandapreprod\nU2FuaXRpemVk\nhttps://amandapreprod.blob.core.windows.net\nhttps://amandapreprod.file.core.windows.net\nhttps://amandapreprod.queue.core.windows.net\nhttps://amandapreprod.table.core.windows.net\n\n\n\n\nhttps://amandapreprod-secondary.blob.core.windows.net\nhttps://amandapreprod-secondary.file.core.windows.net\nhttps://amandapreprod-secondary.queue.core.windows.net\nhttps://amandapreprod-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandapreprod.blob.core.windows.net/;QueueEndpoint=https://amandapreprod.queue.core.windows.net/;FileEndpoint=https://amandapreprod.file.core.windows.net/;BlobSecondaryEndpoint=https://amandapreprod-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandapreprod-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandapreprod-secondary.file.core.windows.net/;AccountName=amandapreprod;AccountKey=U2FuaXRpemVk\nencryptionScope\n\n"
  }
}
