{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-36dc4d21-4759-0d78-70ca-6ad56552c3ba?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 30 Oct 2024 15:14:58 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCF8F59C02DA19\"",
        "Last-Modified": "Wed, 30 Oct 2024 15:14:54 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-36dc4d21-4759-0d78-70ca-6ad56552c3ba/ae089c7a?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 30 Oct 2024 15:14:58 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCF8F59C0CF6F8\"",
        "Last-Modified": "Wed, 30 Oct 2024 15:14:54 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2024-10-30T15:14:54.8539128Z",
        "x-ms-file-creation-time": "2024-10-30T15:14:54.8539128Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-10-30T15:14:54.8539128Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "8016861625448480706*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-36dc4d21-4759-0d78-70ca-6ad56552c3ba/ae089c7a/222f4578?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 30 Oct 2024 15:14:58 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCF8F59C166247\"",
        "Last-Modified": "Wed, 30 Oct 2024 15:14:54 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2024-10-30T15:14:54.9156423Z",
        "x-ms-file-creation-time": "2024-10-30T15:14:54.9156423Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2024-10-30T15:14:54.9156423Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "8016861625448480706*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-36dc4d21-4759-0d78-70ca-6ad56552c3ba/ae089c7a/222f4578/8a066846",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Wed, 30 Oct 2024 15:14:58 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCF8F59C1FA6AF\"",
        "Last-Modified": "Wed, 30 Oct 2024 15:14:54 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-10-30T15:14:54.9763759Z",
        "x-ms-file-creation-time": "2024-10-30T15:14:54.9763759Z",
        "x-ms-file-id": "16140971433240035328",
        "x-ms-file-last-write-time": "2024-10-30T15:14:54.9763759Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-36dc4d21-4759-0d78-70ca-6ad56552c3ba/ae089c7a/222f4578/8a066846?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 30 Oct 2024 15:14:58 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-01-05",
        "x-ms-write": "update"
      },
      "RequestBody": "cjB7Te6MdjtmCUWvQCp08093nbY+TVMwNKzvsX0IDKhaHqLkxwM7kf5fQs1R1D6e4U2I02MKiiTcShlCncS+Xv2dVCKIkCxMOwy33wqG3mBtUNAvfzlEUJR9B33q+fM6oOTQtH8cFlEhPJdXUqoaVmu51Ez0jt7DWQSNCoivYUIYfT4mtSrgUTp/DkOh7P3pY7ARMSSmRRIFDFt7jgzIcttUPtVr86BB2IMSdYCbIWwGpKfXnS8dcTcsIanOZcIutpxoTa4nfW8Qz1mglNCRaervdOpk8dSrN8yePtL3cnPB5L/kM9S93yY3x87WfN1nm7e+3/DYycXHvBXiiD+dGF3l368RrTYWMZTDLSkG1LruN6MaOZKD6Bv5HHa+21bnmq9w8Z0uVu2BqK1bFZycwedb81Gbgt/KYvaTF5G/V1Y+25J6leMcwOC2mZHlJ9N/XVuOYugETBjQpo6mmj9cwVBXHTkJISsEPzNw5ehN5TsjFLk1MPRuOY95qe5UdiWhWthAjQmadTsviiO0k2cwgsFTg4aFJpBc6eOpkHg8r8gOz4oQDVcxiZ59BqXQuaUoSSctAfKeHDNH5KMl8OXD8ttbpsTcH3RpIvrnByDqizA+gUZQD67Vb7JXySm0C5i4uhPKdRLhTCmyw974txQTXFhz52+fc+MthTcRhFZLtRdhL00MIBUdXDQdnUvP3bidRGzQQSMpGUcwnfDbz8fSZw7HlofHBjtDVYo6gtWXXad/dEDqe3TzOBUG3IMlQo1tSjY9CEYw1j0wjeuY7pdxmD9IW1uH6Oua1F1ywSq4HhL9zTefWlVhT50Cue6IWkp+lEND3Ocy5mJKojTovRQTeG/YmyFf0j7q5wy9hC/9EXkT9C3ndUIryufVVLcheJGJ70F/r78pHsIEWPTadGEzTJC61cnnKwItrdA5in2GyW96NJTtfmK56tVq4h1NUFaFoggmZqPHocM/UgLv75NEfY+EYEDNRc0uAev0fEnl31x6tOh1X2LMs5LQrixfyvpBJmSNyfAVuFw6+GS30yV6WXOmdTurzx0st6yu/JahzjfwslbkVxVrZPuLOmf9FOBtVVS5uVW+llZHYBFEZ7zFmCktxyDOlgJdOxBAH5S2L6PMQKZC6BXiMRz/nfYEJv0/xaI9z02/nr9SW35EfnbCkDFudyYVg7AUS5UEz/kLWRQTAFnyeF9VDaLn74yWnbKlPAzFla/WKULxKYS3us7FRgJqMX4czxjSGGqELZQkfa7jX5LtRsNlPdcXAE/anlLTIqiJLGw0iG308n1EUfutzavV1Fs82AA/BfSmBc7J93oYsQvrmlFCrtYl+FRGIOvbaTOjBMr3lkmoSid3jYOeKw==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "XQVth9KX4rwGxdmPPQe+7Q==",
        "ETag": "\"0x8DCF8F59C2ABDCE\"",
        "Last-Modified": "Wed, 30 Oct 2024 15:14:55 GMT",
        "x-ms-file-last-write-time": "2024-10-30T15:14:55.0490574Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-36dc4d21-4759-0d78-70ca-6ad56552c3ba/ae089c7a/222f4578/ef6247fa",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 30 Oct 2024 15:14:59 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-36dc4d21-4759-0d78-70ca-6ad56552c3ba/ae089c7a/222f4578/8a066846",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 30 Oct 2024 15:14:59 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DCF8F59C2ABDCE\"",
        "Last-Modified": "Wed, 30 Oct 2024 15:14:55 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-10-30T15:14:55.0490574Z",
        "x-ms-file-creation-time": "2024-10-30T15:14:54.9763759Z",
        "x-ms-file-id": "16140971433240035328",
        "x-ms-file-last-write-time": "2024-10-30T15:14:55.0490574Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-36dc4d21-4759-0d78-70ca-6ad56552c3ba?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 30 Oct 2024 15:14:59 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "431259796",
    "Storage_TestConfigDefault": "ProductionTenant\namandapreprod\nU2FuaXRpemVk\nhttps://amandapreprod.blob.core.windows.net\nhttps://amandapreprod.file.core.windows.net\nhttps://amandapreprod.queue.core.windows.net\nhttps://amandapreprod.table.core.windows.net\n\n\n\n\nhttps://amandapreprod-secondary.blob.core.windows.net\nhttps://amandapreprod-secondary.file.core.windows.net\nhttps://amandapreprod-secondary.queue.core.windows.net\nhttps://amandapreprod-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandapreprod.blob.core.windows.net/;QueueEndpoint=https://amandapreprod.queue.core.windows.net/;FileEndpoint=https://amandapreprod.file.core.windows.net/;BlobSecondaryEndpoint=https://amandapreprod-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandapreprod-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandapreprod-secondary.file.core.windows.net/;AccountName=amandapreprod;AccountKey=Sanitized\nEncryptionScope\n\n"
  }
}
