{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-57254785-3c44-9d83-0891-a4e48e6e0f89?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 06 Nov 2023 21:05:33 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBDF0C1DD5201C\u0022",
        "Last-Modified": "Mon, 06 Nov 2023 21:05:33 GMT",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-57254785-3c44-9d83-0891-a4e48e6e0f89/2b793af6?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 06 Nov 2023 21:05:33 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBDF0C1DDD853A\u0022",
        "Last-Modified": "Mon, 06 Nov 2023 21:05:33 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2023-11-06T21:05:33.6715578Z",
        "x-ms-file-creation-time": "2023-11-06T21:05:33.6715578Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2023-11-06T21:05:33.6715578Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "9736643157039165508*17277118026500876237",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-57254785-3c44-9d83-0891-a4e48e6e0f89/2b793af6/dac6c4d6?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 06 Nov 2023 21:05:33 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBDF0C1DEE72B4\u0022",
        "Last-Modified": "Mon, 06 Nov 2023 21:05:33 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2023-11-06T21:05:33.7824948Z",
        "x-ms-file-creation-time": "2023-11-06T21:05:33.7824948Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2023-11-06T21:05:33.7824948Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "9736643157039165508*17277118026500876237",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-57254785-3c44-9d83-0891-a4e48e6e0f89/2b793af6/dac6c4d6/43a28c44",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 06 Nov 2023 21:05:33 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-57254785-3c44-9d83-0891-a4e48e6e0f89/2b793af6/dac6c4d6/43a28c44",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Mon, 06 Nov 2023 21:05:33 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBDF0C1DFE4EE5\u0022",
        "Last-Modified": "Mon, 06 Nov 2023 21:05:33 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2023-11-06T21:05:33.8864357Z",
        "x-ms-file-creation-time": "2023-11-06T21:05:33.8864357Z",
        "x-ms-file-id": "16140971433240035328",
        "x-ms-file-last-write-time": "2023-11-06T21:05:33.8864357Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "5144323600546320195*17277118026500876237",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-57254785-3c44-9d83-0891-a4e48e6e0f89/2b793af6/dac6c4d6/9fa9bffd?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Mon, 06 Nov 2023 21:05:33 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2023-11-03",
        "x-ms-write": "update"
      },
      "RequestBody": "QdlHBIs3IpoUcOKGhPxNBrBH7DIywjoaHx5WzZo3ogd\u002BNWH0rkLwDGoILg//GQZL6LbgcNmSNX6eLeRt4FT/3c7bB06bWVhuV9/HKZQrGgYXC\u002BXkVjEt7P/iVYFdgysVCFBAJBG3sI9echn5ygzqcxLeVdVvG4adrRpPuAPWENSzsiBD6vb0X1pWhuMYMyLz\u002BOJvfi1WpuzKo3b2aPeMh2JERhjrp4gb6fZ6GJWjhXr3XMAgZ5GnXQszeUd//vZiyv6B0\u002B0KB1FZU5U2241XJh78/gw3ayDQnegMty1Bm\u002Bv/F06XIbGM7VRvxhP8cIF93FIpg//qK17esTUE/k8jGLepN8M/vwVsbxG3x6QM1C1mj9rbGBjsFezvuXB7iO8ETK5cUjm\u002BPhxMvBTtM2S50d0InW50SP\u002BfvSHXTwaV[...]
[...]
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-57254785-3c44-9d83-0891-a4e48e6e0f89/2b793af6/dac6c4d6?restype=directory\u0026comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 06 Nov 2023 21:05:33 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CEnumerationResults ServiceEndpoint=\u0022https://seanmcccanada.file.core.windows.net/\u0022 ShareName=\u0022test-share-57254785-3c44-9d83-0891-a4e48e6e0f89\u0022 DirectoryPath=\u00222b793af6/dac6c4d6\u0022\u003E\u003CDirectoryId\u003E11529285414812647424\u003C/DirectoryId\u003E\u003CEntries\u003E\u003CFile\u003E\u003CName\u003E43a28c44\u003C/Name\u003E\u003CFileId\u003E16140971433240035328\u003C/FileId\u003E\u003CProperties\u003E\u003CContent-Length\u003E1024\u003C/Content-Length\u003E\u003C/Properties\u003E\u003C/File\u003E\u003CFile\u003E\u003CName\u003E9fa9bffd\u003C/Name\u003E\u003CFileId\u003E13835093239654252544\u003C/FileId\u003E\u003CProperties\u003E\u003CContent-Length\u003E1024\u003C/Content-Length\u003E\u003C/Properties\u003E\u003C/File\u003E\u003C/Entries\u003E\u003CNextMarker /\u003E\u003C/EnumerationResults\u003E"
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-57254785-3c44-9d83-0891-a4e48e6e0f89/2b793af6/dac6c4d6/43a28c44",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 06 Nov 2023 21:05:33 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DBDF0C1E0EEE4C\u0022",
        "Last-Modified": "Mon, 06 Nov 2023 21:05:33 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2023-11-06T21:05:33.9953740Z",
        "x-ms-file-creation-time": "2023-11-06T21:05:33.8864357Z",
        "x-ms-file-id": "16140971433240035328",
        "x-ms-file-last-write-time": "2023-11-06T21:05:33.9953740Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "5144323600546320195*17277118026500876237",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-57254785-3c44-9d83-0891-a4e48e6e0f89/2b793af6/dac6c4d6/43a28c44",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 06 Nov 2023 21:05:33 GMT",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DBDF0C1E0EEE4C\u0022",
        "Last-Modified": "Mon, 06 Nov 2023 21:05:33 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2023-11-06T21:05:33.9953740Z",
        "x-ms-file-creation-time": "2023-11-06T21:05:33.8864357Z",
        "x-ms-file-id": "16140971433240035328",
        "x-ms-file-last-write-time": "2023-11-06T21:05:33.9953740Z",
        "x-ms-file-parent-i[...]
[...]
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-57254785-3c44-9d83-0891-a4e48e6e0f89?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 06 Nov 2023 21:05:34 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "939725221",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanada\nU2FuaXRpemVk\nhttps://seanmcccanada.blob.core.windows.net\nhttps://seanmcccanada.file.core.windows.net\nhttps://seanmcccanada.queue.core.windows.net\nhttps://seanmcccanada.table.core.windows.net\n\n\n\n\nhttps://seanmcccanada-secondary.blob.core.windows.net\nhttps://seanmcccanada-secondary.file.core.windows.net\nhttps://seanmcccanada-secondary.queue.core.windows.net\nhttps://seanmcccanada-secondary.table.core.windows.net\n68390a19-a643-458b-b726-408abf67b4fc\nSanitized\n72f988bf-86f1-41af-91ab-2d7cd011db47\nhttps://login.microsoftonline.com/\nCloud\nBlobEndpoint=https://seanmcccanada.blob.core.windows.net/;QueueEndpoint=https://seanmcccanada.queue.core.windows.net/;FileEndpoint=https://seanmcccanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanada-secondary.file.core.windows.net/;AccountName=seanmcccanada;AccountKey=Sanitized\nseanscope1\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
