{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-aeb2dc21-8d96-d628-c024-56248a89aa80?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 17 Jun 2024 03:30:37 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8E7DDBA623EE\"",
        "Last-Modified": "Mon, 17 Jun 2024 03:30:38 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-aeb2dc21-8d96-d628-c024-56248a89aa80/ba887148?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 17 Jun 2024 03:30:38 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8E7DDBD1FC3F\"",
        "Last-Modified": "Mon, 17 Jun 2024 03:30:38 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2024-06-17T03:30:38.9795903Z",
        "x-ms-file-creation-time": "2024-06-17T03:30:38.9795903Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-06-17T03:30:38.9795903Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "8720823596597466685*1287379445297103284",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-aeb2dc21-8d96-d628-c024-56248a89aa80/ba887148/ae3667cd?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 17 Jun 2024 03:30:38 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8E7DDC0142B5\"",
        "Last-Modified": "Mon, 17 Jun 2024 03:30:39 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2024-06-17T03:30:39.2894133Z",
        "x-ms-file-creation-time": "2024-06-17T03:30:39.2894133Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2024-06-17T03:30:39.2894133Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "8720823596597466685*1287379445297103284",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-aeb2dc21-8d96-d628-c024-56248a89aa80/ba887148/ae3667cd/84a36719",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Mon, 17 Jun 2024 03:30:38 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8E7DDC3E90DB\"",
        "Last-Modified": "Mon, 17 Jun 2024 03:30:39 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-06-17T03:30:39.6911835Z",
        "x-ms-file-creation-time": "2024-06-17T03:30:39.6911835Z",
        "x-ms-file-id": "16140971433240035328",
        "x-ms-file-last-write-time": "2024-06-17T03:30:39.6911835Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "13365936616355342650*1287379445297103284",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-aeb2dc21-8d96-d628-c024-56248a89aa80/ba887148/ae3667cd/84a36719?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Mon, 17 Jun 2024 03:30:39 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2024-08-04",
        "x-ms-write": "update"
      },
      "RequestBody": "jOffE/fmzyn1yflEkZOWiY6V54rNo7Gm500OehuttTthGkZbnqRA2QEpS0zH2UgKKJjytdpo1+g2OSyp2FUNRxS94ndNOuvqVA6Jo1dk3g0FA1KCu/9h+EJdJWR3lgCsGwM4CvbRve2tCGHL3zSR0VsepNQDi4wUXOk07xWGcr4O3YdTLNQXM0Zk1bKelRgOzFMJWfEsqJB3I60Mnc3YJpaivQKsPaWGB3GOnrXZdsbRJSPBfRjM4TT23AgmCpZ4i68c+9gWYY6tglKAngnbnaznO3eqFqh91tvOtmGdYPzaFRMGvXvtusSVFPrGS0MqGz5bPs8fznQGniT8R6ssECJWpYj21eAw+YCyFAKut4qYpJoiQSEtu0ae/x5X8XMZaATXb6a6M0ZeKkVObLlxWOeZZKIQCc4BKelBV9XC2QgNmaz+1kfk3XFUxBbb3k+NLKc2vYzQCF411ka8eNtwnFE9QNINc4GftYYxu0W3JUqatCstixx7PZFNyQABJ2SV5CjFnp18gLkmlwcGnkwZfbD8IcSwQhA1wQNBv6qBno0inNcc8oesHTRxB/QUdZ5ENEtPBAag5aEXkNyZO8APpPh65AF1/IspUAOPPjocIExl/YpeMZmHgbc1BWGqEuJzYmL7mZGczjjAJbQCEKdn+2+QND02sHJe8mJKP/cpfz0hHNvXIIa7yC5SngvlhXEPzgnyGd2kPbHvnKcuUY9BlqZ34PTLj9ro1GwP4xJneW3xO3HtN2VffN4p54PfjHafEQdlbqR8RD4vCUVxlVqfiCM5PRYdU15BF2QWoadWCEj1cNIKAQvIdPYyvi4g7uaEil5gpk5ggb2pI1c/ZqKW2AD8eyWHlYYYccgg6pUwICh+kRdI9mL5le4VYd6ziA5Um+YtI3LB/PXYSDSGQJYneAIuwdSKTeGdA+Y3cjOoZOi6y0+vAv22vZQicK4tc1VX7ejbhcc5yU0EjyCMiYrBL+NMzHRHd3YFeARAaN0zcI+Q34RLzd4hgAIBqnLcKTMJYUHK4KfhD3Vy1Q3C+WFw0R+Q+6kGdWEEK0txRc0DKE7RNgabaI/or88O2fjRXoehkNlTTC6JA+vgxbVbb8mob6y+8MJa1WmQp0vZ95xpM8zD0LXzsNwfRzIbu6LZjD8FZWlLEm7ER7twwqTirwxOdpLol58Utb7PnqiQPhrGthoM05EzHSBe/4n5g+04PZgmzUQP8fWg8bCre3TFNAihqQuJ1tt6G1hyipgVGzHRl2EQaXHVtsUla+Lgh6KsmcuAWNnirma8rLLrnWdcitZ+2uQStcqXy/NFY2v4mZO2xvHMlcJY7uj6U72/6RleyOAMYa29meMA6YzlnEr7wxIeNQ==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "j7rfZPveIucLSHqto4OdZg==",
        "ETag": "\"0x8DC8E7DDC8357FA\"",
        "Last-Modified": "Mon, 17 Jun 2024 03:30:40 GMT",
        "x-ms-file-last-write-time": "2024-06-17T03:30:40.1419258Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-aeb2dc21-8d96-d628-c024-56248a89aa80/ba887148/ae3667cd/2517cbcb",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 17 Jun 2024 03:30:42 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-aeb2dc21-8d96-d628-c024-56248a89aa80/ba887148/ae3667cd/2999042b",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 17 Jun 2024 03:30:43 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC8E7DDDEC771A\"",
        "Last-Modified": "Mon, 17 Jun 2024 03:30:42 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-06-17T03:30:42.5085722Z",
        "x-ms-file-creation-time": "2024-06-17T03:30:40.5616859Z",
        "x-ms-file-id": "10376363910205800448",
        "x-ms-file-last-write-time": "2024-06-17T03:30:42.5085722Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "13365936616355342650*1287379445297103284",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-aeb2dc21-8d96-d628-c024-56248a89aa80?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 17 Jun 2024 03:30:51 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1353733823",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
