{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-0839ed75-6d7e-138c-473b-6b8b05ddeb62?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Jul 2024 18:27:43 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC9AC4A95F4234\"",
        "Last-Modified": "Tue, 02 Jul 2024 18:27:42 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-0839ed75-6d7e-138c-473b-6b8b05ddeb62/504dd0b5?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Jul 2024 18:27:43 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC9AC4A968B6C5\"",
        "Last-Modified": "Tue, 02 Jul 2024 18:27:42 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2024-07-02T18:27:42.6247365Z",
        "x-ms-file-creation-time": "2024-07-02T18:27:42.6247365Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-07-02T18:27:42.6247365Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "8720823596597466685*1287379445297103284",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-0839ed75-6d7e-138c-473b-6b8b05ddeb62/504dd0b5/60bea86b?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Jul 2024 18:27:43 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC9AC4A970F2F6\"",
        "Last-Modified": "Tue, 02 Jul 2024 18:27:42 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2024-07-02T18:27:42.6787062Z",
        "x-ms-file-creation-time": "2024-07-02T18:27:42.6787062Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2024-07-02T18:27:42.6787062Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "8720823596597466685*1287379445297103284",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-0839ed75-6d7e-138c-473b-6b8b05ddeb62/504dd0b5/60bea86b/121a149f",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Tue, 02 Jul 2024 18:27:43 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC9AC4A979A457\"",
        "Last-Modified": "Tue, 02 Jul 2024 18:27:42 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-07-02T18:27:42.7356759Z",
        "x-ms-file-creation-time": "2024-07-02T18:27:42.7356759Z",
        "x-ms-file-id": "16140971433240035328",
        "x-ms-file-last-write-time": "2024-07-02T18:27:42.7356759Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "13365936616355342650*1287379445297103284",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-0839ed75-6d7e-138c-473b-6b8b05ddeb62/504dd0b5/60bea86b/121a149f?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 02 Jul 2024 18:27:43 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2024-08-04",
        "x-ms-write": "update"
      },
      "RequestBody": "iEiSCjWFiY8cX5m+U56PGLkclYQSSuye8Tyx/R34Q9zpPIYs/8MrX81CTsBrNaiJfPtN1Emm5j5c8xj404xyIxy91BYXYxn18Da20PsrM7uUKIAiq2+SQ1ZI0AurMotAzyukrmGRchnhV+MT7xZDMb9dY6sLUHisKpHAzpMNSr6qdQDPhoVaA7VnQFOMflNABJ5LTc/gNH+y94PQ0KOF0w0kaXkVc6o5A2D1ow8lIKw9gMn0wvzvykGBHY4CiTMS4mxFZxXZKpH0Ekpu65BvjdfXklDZkRERNZ84lFYbN3kt4sGi37mWY1U4/6+xgN+wEY+3K/fiOFBbNDF2oJY72NvRQQjPzK4dQC77oZFhX7W/iIPHYwuBSqpxR6qHIMO+/SfU4D7X4ETgmurI55e/+dV7thgTc3XPT/ddXYUElR9rPKNqjX536Kc+5skhuWMSsk3UC2qrq4mxBZBGeYO+3ATLXKrzVGxWBM1w1I2rrpaUSqs3L4q1wJEauIfuMG8kgArFVVy4H13hfgecOtb8Blf6si7Xh616FZwY2ZzkaNNeS1SC5lg62ytOVrGCGIW7HbIw835ATfhdSkDAoEbB/BUzPu+BeR//wNcDiTD89/0WXbvptHRVHf1bJZsXejvljFmbT9mWOaSSMTOmPcTIYVNCqUKK2Eih3SHxJlOD50abHf3WYKgjfyQWVoJAr985k8RI1dD4WrQR+nG4pRNRD0rtCh/H8QCrHykec4HFYC5Bt5KOOxJ1o8JIxWY2a9oQxUc4U6TAcqHEnLam2uczS5lCdu2AwtM4d2ddfiuZdLNPDa05jAyKgUTwyZ5bz8jbFXnM8/TskANzANs8YvR2KigCV805+b+MuPWoj/g13KifgWiyzYG+Yn2qxYwxTR5Qep92WXf7ohy6Pzr/RAAKPiQzneGLw12mQ/VPjjMyW2vWWBVZv4Iwo99M941Gvx58n4dn/rA9xLZBzxWCqxPoh+TPKOvrsX+hAvkBPszQYITX0u+syl26mZNeGO9trvjMZG+odpcyke4Hxvu2O4bqcG+QqtgkPLyHFI5XjZiQNFMBNdpcKOntpEEApARhBF4Nc6d/3AMfpyizIWEI2wRWd5KotAWrjkiFowaXJJe4JRAwShnwEFdP4Y2yqQaI5Mk8qSxyuE9YYeRf+jn9iIOQ+vtR2JDqZWc6WdJ4+eVB/b48W3pqRm3A2Og1kRUeUVkJIa4LNgw4UUTEN1984Gj/Hfx6wSwJJbSOkf+otdRRHAd5btg3NsaxAwk1pQ4NQ/h/NnMZo5AsAPv5fKUNj5twchpYA3GQx+c1yL0i1H+mgU0HKX9gOHh3TG7cProhpHRuxTL0tT+G726M49vTCSt7Uw==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "UAlid6tL7hnjqy3Umce39A==",
        "ETag": "\"0x8DC9AC4A98318D5\"",
        "Last-Modified": "Tue, 02 Jul 2024 18:27:42 GMT",
        "x-ms-file-last-write-time": "2024-07-02T18:27:42.7976405Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-0839ed75-6d7e-138c-473b-6b8b05ddeb62/504dd0b5/60bea86b/121a149f",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Jul 2024 18:27:43 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC9AC4A98318D5\"",
        "Last-Modified": "Tue, 02 Jul 2024 18:27:42 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-07-02T18:27:42.7976405Z",
        "x-ms-file-creation-time": "2024-07-02T18:27:42.7356759Z",
        "x-ms-file-id": "16140971433240035328",
        "x-ms-file-last-write-time": "2024-07-02T18:27:42.7976405Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "13365936616355342650*1287379445297103284",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-0839ed75-6d7e-138c-473b-6b8b05ddeb62/504dd0b5/60bea86b/494471ce",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Jul 2024 18:27:43 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-0839ed75-6d7e-138c-473b-6b8b05ddeb62/504dd0b5/60bea86b?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Jul 2024 18:27:44 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandadev2.file.core.windows.net/\" ShareName=\"test-share-0839ed75-6d7e-138c-473b-6b8b05ddeb62\" DirectoryPath=\"504dd0b5/60bea86b\"><DirectoryId>11529285414812647424</DirectoryId><Entries><File><Name>121a149f</Name><FileId>16140971433240035328</FileId><Properties><Content-Length>1024</Content-Length></Properties></File><File><Name>494471ce</Name><FileId>13835093239654252544</FileId><Properties><Content-Length>1024</Content-Length></Properties></File><File><Name>54931bc0</Name><FileId>13835163608398430208</FileId><Properties><Content-Length>1024</Content-Length></Properties></File><File><Name>bd10d585</Name><FileId>10376363910205800448</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandadev2.file.core.windows.net/test-share-0839ed75-6d7e-138c-473b-6b8b05ddeb62?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 02 Jul 2024 18:27:44 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "860121898",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
