{
  "Entries": [
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-2adc62c5-2a21-5493-ae98-5d2deb718656?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 21 Nov 2023 20:52:14 GMT",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBEAD3BDA62A62\u0022",
        "Last-Modified": "Tue, 21 Nov 2023 20:52:14 GMT",
        "x-ms-version": "2024-02-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-2adc62c5-2a21-5493-ae98-5d2deb718656/8d6c554b?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 21 Nov 2023 20:52:14 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBEAD3BDB19E0C\u0022",
        "Last-Modified": "Tue, 21 Nov 2023 20:52:14 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2023-11-21T20:52:14.4590348Z",
        "x-ms-file-creation-time": "2023-11-21T20:52:14.4590348Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2023-11-21T20:52:14.4590348Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "1597566016123626978*9146977694084461163",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-02-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-2adc62c5-2a21-5493-ae98-5d2deb718656/8d6c554b/e8e8871a?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 21 Nov 2023 20:52:14 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBEAD3BDBB60A4\u0022",
        "Last-Modified": "Tue, 21 Nov 2023 20:52:14 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2023-11-21T20:52:14.5229988Z",
        "x-ms-file-creation-time": "2023-11-21T20:52:14.5229988Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2023-11-21T20:52:14.5229988Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "1597566016123626978*9146977694084461163",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-02-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-2adc62c5-2a21-5493-ae98-5d2deb718656/8d6c554b/e8e8871a/bcab7bbc?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 21 Nov 2023 20:52:14 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBEAD3BDC9DD72\u0022",
        "Last-Modified": "Tue, 21 Nov 2023 20:52:14 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2023-11-21T20:52:14.6179442Z",
        "x-ms-file-creation-time": "2023-11-21T20:52:14.6179442Z",
        "x-ms-file-id": "16140971433240035328",
        "x-ms-file-last-write-time": "2023-11-21T20:52:14.6179442Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "1597566016123626978*9146977694084461163",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-02-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-2adc62c5-2a21-5493-ae98-5d2deb718656/8d6c554b/e8e8871a/bcab7bbc/6e77d4d3?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 21 Nov 2023 20:52:14 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBEAD3BDDC7859\u0022",
        "Last-Modified": "Tue, 21 Nov 2023 20:52:14 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2023-11-21T20:52:14.7398745Z",
        "x-ms-file-creation-time": "2023-11-21T20:52:14.7398745Z",
        "x-ms-file-id": "14988049928633188352",
        "x-ms-file-last-write-time": "2023-11-21T20:52:14.7398745Z",
        "x-ms-file-parent-id": "16140971433240035328",
        "x-ms-file-permission-key": "1597566016123626978*9146977694084461163",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-02-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-2adc62c5-2a21-5493-ae98-5d2deb718656/8d6c554b/e8e8871a/bcab7bbc/6e77d4d3/15841646?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 21 Nov 2023 20:52:14 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBEAD3BE01AE2C\u0022",
        "Last-Modified": "Tue, 21 Nov 2023 20:52:14 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2023-11-21T20:52:14.9837356Z",
        "x-ms-file-creation-time": "2023-11-21T20:52:14.9837356Z",
        "x-ms-file-id": "14411589176329764864",
        "x-ms-file-last-write-time": "2023-11-21T20:52:14.9837356Z",
        "x-ms-file-parent-id": "14988049928633188352",
        "x-ms-file-permission-key": "1597566016123626978*9146977694084461163",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-02-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-2adc62c5-2a21-5493-ae98-5d2deb718656/8d6c554b/e8e8871a/bcab7bbc/6e77d4d3/15841646/5fa96190?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 21 Nov 2023 20:52:15 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBEAD3BE4F9BB9\u0022",
        "Last-Modified": "Tue, 21 Nov 2023 20:52:15 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2023-11-21T20:52:15.4944441Z",
        "x-ms-file-creation-time": "2023-11-21T20:52:15.4944441Z",
        "x-ms-file-id": "14123358800178053120",
        "x-ms-file-last-write-time": "2023-11-21T20:52:15.4944441Z",
        "x-ms-file-parent-id": "14411589176329764864",
        "x-ms-file-permission-key": "1597566016123626978*9146977694084461163",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-02-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-2adc62c5-2a21-5493-ae98-5d2deb718656/8d6c554b/e8e8871a/bcab7bbc/6e77d4d3/15841646/5fa96190/1984fcde?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 21 Nov 2023 20:52:16 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBEAD3BEE8DF1C\u0022",
        "Last-Modified": "Tue, 21 Nov 2023 20:52:16 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2023-11-21T20:52:16.4988700Z",
        "x-ms-file-creation-time": "2023-11-21T20:52:16.4988700Z",
        "x-ms-file-id": "13979243612102197248",
        "x-ms-file-last-write-time": "2023-11-21T20:52:16.4988700Z",
        "x-ms-file-parent-id": "14123358800178053120",
        "x-ms-file-permission-key": "1597566016123626978*9146977694084461163",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-02-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-2adc62c5-2a21-5493-ae98-5d2deb718656/8d6c554b/e8e8871a?restype=directory\u0026comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 21 Nov 2023 20:52:18 GMT",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2024-02-04"
      },
      "ResponseBody": "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CEnumerationResults ServiceEndpoint=\u0022https://jalauzonnettest.file.core.windows.net/\u0022 ShareName=\u0022test-share-2adc62c5-2a21-5493-ae98-5d2deb718656\u0022 DirectoryPath=\u00228d6c554b/e8e8871a\u0022\u003E\u003CDirectoryId\u003E11529285414812647424\u003C/DirectoryId\u003E\u003CEntries\u003E\u003CDirectory\u003E\u003CName\u003Ebcab7bbc\u003C/Name\u003E\u003CFileId\u003E16140971433240035328\u003C/FileId\u003E\u003CProperties /\u003E\u003C/Directory\u003E\u003CDirectory\u003E\u003CName\u003Ec3ab7295\u003C/Name\u003E\u003CFileId\u003E10376363910205800448\u003C/FileId\u003E\u003CProperties /\u003E\u003C/Directory\u003E\u003C/Entries\u003E\u003CNextMarker /\u003E\u003C/EnumerationResults\u003E"
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-2adc62c5-2a21-5493-ae98-5d2deb718656/8d6c554b/e8e8871a/bcab7bbc?restype=directory\u0026comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 21 Nov 2023 20:52:18 GMT",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2024-02-04"
      },
      "ResponseBody": "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CEnumerationResults ServiceEndpoint=\u0022https://jalauzonnettest.file.core.windows.net/\u0022 ShareName=\u0022test-share-2adc62c5-2a21-5493-ae98-5d2deb718656\u0022 DirectoryPath=\u00228d6c554b/e8e8871a/bcab7bbc\u0022\u003E\u003CDirectoryId\u003E16140971433240035328\u003C/DirectoryId\u003E\u003CEntries\u003E\u003CDirectory\u003E\u003CName\u003E6e77d4d3\u003C/Name\u003E\u003CFileId\u003E14988049928633188352\u003C/FileId\u003E\u003CProperties /\u003E\u003C/Directory\u003E\u003CDirectory\u003E\u003CName\u003E96bb6f0c\u003C/Name\u003E\u003CFileId\u003E12682206919419494400\u003C/FileId\u003E\u003CProperties /\u003E\u003C/Directory\u003E\u003C/Entries\u003E\u003CNextMarker /\u003E\u003C/EnumerationResults\u003E"
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-2adc62c5-2a21-5493-ae98-5d2deb718656/8d6c554b/e8e8871a/bcab7bbc/6e77d4d3?restype=directory\u0026comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 21 Nov 2023 20:52:18 GMT",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2024-02-04"
      },
      "ResponseBody": "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CEnumerationResults ServiceEndpoint=\u0022https://jalauzonnettest.file.core.windows.net/\u0022 ShareName=\u0022test-share-2adc62c5-2a21-5493-ae98-5d2deb718656\u0022 DirectoryPath=\u00228d6c554b/e8e8871a/bcab7bbc/6e77d4d3\u0022\u003E\u003CDirectoryId\u003E14988049928633188352\u003C/DirectoryId\u003E\u003CEntries\u003E\u003CDirectory\u003E\u003CName\u003E15841646\u003C/Name\u003E\u003CFileId\u003E14411589176329764864\u003C/FileId\u003E\u003CProperties /\u003E\u003C/Directory\u003E\u003CDirectory\u003E\u003CName\u003E3b0fc9fb\u003C/Name\u003E\u003CFileId\u003E12105746167116070912\u003C/FileId\u003E\u003CProperties /\u003E\u003C/Directory\u003E\u003C/Entries\u003E\u003CNextMarker /\u003E\u003C/EnumerationResults\u003E"
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-2adc62c5-2a21-5493-ae98-5d2deb718656/8d6c554b/e8e8871a/bcab7bbc/6e77d4d3/15841646?restype=directory\u0026comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 21 Nov 2023 20:52:18 GMT",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2024-02-04"
      },
      "ResponseBody": "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CEnumerationResults ServiceEndpoint=\u0022https://jalauzonnettest.file.core.windows.net/\u0022 ShareName=\u0022test-share-2adc62c5-2a21-5493-ae98-5d2deb718656\u0022 DirectoryPath=\u00228d6c554b/e8e8871a/bcab7bbc/6e77d4d3/15841646\u0022\u003E\u003CDirectoryId\u003E14411589176329764864\u003C/DirectoryId\u003E\u003CEntries\u003E\u003CDirectory\u003E\u003CName\u003E5fa96190\u003C/Name\u003E\u003CFileId\u003E14123358800178053120\u003C/FileId\u003E\u003CProperties /\u003E\u003C/Directory\u003E\u003CDirectory\u003E\u003CName\u003E75c36a5e\u003C/Name\u003E\u003CFileId\u003E11817515790964359168\u003C/FileId\u003E\u003CProperties /\u003E\u003C/Directory\u003E\u003C/Entries\u003E\u003CNextMarker /\u003E\u003C/EnumerationResults\u003E"
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-2adc62c5-2a21-5493-ae98-5d2deb718656/8d6c554b/e8e8871a/bcab7bbc/6e77d4d3/15841646/5fa96190?restype=directory\u0026comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 21 Nov 2023 20:52:18 GMT",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2024-02-04"
      },
      "ResponseBody": "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CEnumerationResults ServiceEndpoint=\u0022https://jalauzonnettest.file.core.windows.net/\u0022 ShareName=\u0022test-share-2adc62c5-2a21-5493-ae98-5d2deb718656\u0022 DirectoryPath=\u00228d6c554b/e8e8871a/bcab7bbc/6e77d4d3/15841646/5fa96190\u0022\u003E\u003CDirectoryId\u003E14123358800178053120\u003C/DirectoryId\u003E\u003CEntries\u003E\u003CDirectory\u003E\u003CName\u003E1984fcde\u003C/Name\u003E\u003CFileId\u003E13979243612102197248\u003C/FileId\u003E\u003CProperties /\u003E\u003C/Directory\u003E\u003CDirectory\u003E\u003CName\u003Ed368aa80\u003C/Name\u003E\u003CFileId\u003E11673400602888503296\u003C/FileId\u003E\u003CProperties /\u003E\u003C/Directory\u003E\u003C/Entries\u003E\u003CNextMarker /\u003E\u003C/EnumerationResults\u003E"
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-2adc62c5-2a21-5493-ae98-5d2deb718656/8d6c554b/e8e8871a/bcab7bbc/6e77d4d3/15841646/5fa96190/1984fcde?restype=directory\u0026comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 21 Nov 2023 20:52:18 GMT",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2024-02-04"
      },
      "ResponseBody": "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CEnumerationResults ServiceEndpoint=\u0022https://jalauzonnettest.file.core.windows.net/\u0022 ShareName=\u0022test-share-2adc62c5-2a21-5493-ae98-5d2deb718656\u0022 DirectoryPath=\u00228d6c554b/e8e8871a/bcab7bbc/6e77d4d3/15841646/5fa96190/1984fcde\u0022\u003E\u003CDirectoryId\u003E13979243612102197248\u003C/DirectoryId\u003E\u003CEntries /\u003E\u003CNextMarker /\u003E\u003C/EnumerationResults\u003E"
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-2adc62c5-2a21-5493-ae98-5d2deb718656?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 21 Nov 2023 20:52:22 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2024-02-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-02-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "924789396",
    "Storage_TestConfigDefault": "ProductionTenant\njalauzonnettest\nU2FuaXRpemVk\nhttps://jalauzonnettest.blob.core.windows.net\nhttps://jalauzonnettest.file.core.windows.net\nhttps://jalauzonnettest.queue.core.windows.net\nhttps://jalauzonnettest.table.core.windows.net\n\n\n\n\nhttps://jalauzonnettest-secondary.blob.core.windows.net\nhttps://jalauzonnettest-secondary.file.core.windows.net\nhttps://jalauzonnettest-secondary.queue.core.windows.net\nhttps://jalauzonnettest-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://jalauzonnettest.blob.core.windows.net/;QueueEndpoint=https://jalauzonnettest.queue.core.windows.net/;FileEndpoint=https://jalauzonnettest.file.core.windows.net/;BlobSecondaryEndpoint=https://jalauzonnettest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jalauzonnettest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jalauzonnettest-secondary.file.core.windows.net/;AccountName=jalauzonnettest;AccountKey=Sanitized\ntestscope1\n\n"
  }
}
