{
  "Entries": [
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-5c622ac7-e1ff-6bc1-0b89-634fd315cf60?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 29 Apr 2026 23:02:22 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA6435F59348A\"",
        "Last-Modified": "Wed, 29 Apr 2026 23:02:22 GMT",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-5c622ac7-e1ff-6bc1-0b89-634fd315cf60/dc9b0bfe?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 29 Apr 2026 23:02:23 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA6435F60BD0B\"",
        "Last-Modified": "Wed, 29 Apr 2026 23:02:22 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2026-04-29T23:02:22.6384139Z",
        "x-ms-file-creation-time": "2026-04-29T23:02:22.6384139Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2026-04-29T23:02:22.6384139Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "11118135984870558254*17478659090621734311",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-5c622ac7-e1ff-6bc1-0b89-634fd315cf60/dc9b0bfe/c1bd9540?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 29 Apr 2026 23:02:23 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA6435F67710A\"",
        "Last-Modified": "Wed, 29 Apr 2026 23:02:22 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2026-04-29T23:02:22.6823434Z",
        "x-ms-file-creation-time": "2026-04-29T23:02:22.6823434Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2026-04-29T23:02:22.6823434Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "11118135984870558254*17478659090621734311",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-5c622ac7-e1ff-6bc1-0b89-634fd315cf60/dc9b0bfe/c1bd9540/file%253Dtest%2526",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 29 Apr 2026 23:02:23 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-5c622ac7-e1ff-6bc1-0b89-634fd315cf60/dc9b0bfe/c1bd9540/folder%2540bar?restype=directory",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 29 Apr 2026 23:02:23 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ResourceNotFound</Code><Message>The specified resource does not exist.\n",
        "RequestId:9e3e5b4a-401a-0097-632c-d839af000000\n",
        "Time:2026-04-29T23:02:22.7532027Z</Message></Error>"
      ]
    },
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-5c622ac7-e1ff-6bc1-0b89-634fd315cf60/dc9b0bfe/c1bd9540/file%3Dtest%21%40%23%24%25",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 29 Apr 2026 23:02:23 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-5c622ac7-e1ff-6bc1-0b89-634fd315cf60/dc9b0bfe/c1bd9540/file%3Dtest%21%40%23%24%25",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Wed, 29 Apr 2026 23:02:23 GMT",
        "x-ms-type": "file",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA6435F78F60B\"",
        "Last-Modified": "Wed, 29 Apr 2026 23:02:22 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2026-04-29T23:02:22.7971595Z",
        "x-ms-file-creation-time": "2026-04-29T23:02:22.7971595Z",
        "x-ms-file-id": "16140971433240035328",
        "x-ms-file-last-write-time": "2026-04-29T23:02:22.7971595Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "6498768581512459561*17478659090621734311",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-5c622ac7-e1ff-6bc1-0b89-634fd315cf60/dc9b0bfe/c1bd9540/folder%3Dbar?restype=directory",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 29 Apr 2026 23:02:23 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ResourceNotFound</Code><Message>The specified resource does not exist.\n",
        "RequestId:f3ad2467-401a-00f5-642c-d8fb88000000\n",
        "Time:2026-04-29T23:02:22.8453660Z</Message></Error>"
      ]
    },
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-5c622ac7-e1ff-6bc1-0b89-634fd315cf60/dc9b0bfe/c1bd9540/file%3Dtest%21%40%23%24%25?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 29 Apr 2026 23:02:23 GMT",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2026-06-06",
        "x-ms-write": "update"
      },
      "RequestBody": "KnIFw2aAyhzQD69O4vMjede5wachSm7DpmJBrmh7wsRygKD8YnBy0E9JEA1Io8N41kFyMYsHkeADQR0EPhuzVEzq22FTJxZmR/FX2DlhewKeydgmCJA4a+7A+SFTbpEzlbvAXsdiJK8qC+qar7mmocUaZXVDjEu7sXByky31EthfI0J+oBw7PKUp+/ymnrs1GVdbOQgc8AhvBKxX75GBNfkROox3KAGp3inPGpBOFRO0PXrWmdnQQzM5Dptw400Up8YDlGMvvvFVslrfTNZ3IO+ZorEXqpwgQfdYPRllOPvbu3LKS4GvhX+IgOZ+8PZdwu6s10Cb/fwp41Ns1oHX73pfBJBjrNVu6R0yjiq2oVAA+3sruWC6P751oWctQq7+sJBrH+xl+RUYPe0jaW7Sc0ICa9oGrDYZpMTR7gttQKZuNN2ZSoJjmgJlEnxzltVQoy4lK9fT+ARaUnoolAsJqv1GtTWQOCi/ntDYoJq6pg3ugUvdSBXPmjzZP/gHOwb2XGd+LOGgv2oFZYwG+1dpoKtsORLALGLndxr5t/kwuGPK4kMyO3orTsLg2OOJyZ/kb55MmwH0NjAFlrXHpghx1K0oPBkTN2UwQOtQ31N+Xq17FUda4xxh1qsTLaTFZKe6bwM2YI2G0Dg5G1oWo1bchjgHS5HAFvCQx2ZtAArAa9xElnBPSP0g9EUOIcfCSzJUN6ZrvRgV+VgTpZknGNAueLB+0g3mjT0651ZMsfUoznwzGcljVa3DLpwYPKNk+dx04KgXQ3glbqppMNbByUdi6tcc8/8HyyMCu6NwzlCa1u1619FNEYoDDqoe+STXAWRUtVLLSAbcbRWFFYjVtKBZz1rpRvJ2FdhNGORV6NH+K7k+Gxn+zo3nnmm8x/wBLloKxSrJ7rpy3p95fi8hh4VDhurOlpiHWgDMAaiIuk7cS+qKSiKmNTz/yz15hU9exRfkeEESMpfBg2op/ewS6iRRnDJEljxjnFGtz8pbDdWxbjuRpEEMyhhSyMa3fThQ7eEYKOgcGi/agNvwZWLNZnaVeI6wgEbjRNIZ8c51qx8ZXOLoQuTslFQMtyNlG2S2hWFQIgSpoGybNeMWAihgZNW81wmA5CSRqOM6o8kifShtY2xsJYgab7t1TQwB1pErrFNNqURbNaE9v3kgbv2jeLe6qJ+89D9MoWdNCpYXkNJSD/d11dTkEi7KLmUP+QG+0tVURi7ybrcUAAfcDisKJi+nzl4FLaPj1pZw8cXZPadmjjfBwkmjX6A/YdTMBwMCwAg2ZyuiuKQycW+YgX3yOsNgdoDzSGPlA2++xsvOFs6SbjG9o9Z8w9WSj1HaC94jTScRbJCDD3ekUGO85PLZY1qgBQ==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "L/890PfbYI3tEOZWyVB9Lw==",
        "ETag": "\"0x8DEA6435F80460A\"",
        "Last-Modified": "Wed, 29 Apr 2026 23:02:22 GMT",
        "x-ms-file-last-write-time": "2026-04-29T23:02:22.7971595Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-5c622ac7-e1ff-6bc1-0b89-634fd315cf60/dc9b0bfe/c1bd9540/file%253Dtest%2526?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 29 Apr 2026 23:02:23 GMT",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2026-06-06",
        "x[...]
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-5c622ac7-e1ff-6bc1-0b89-634fd315cf60/dc9b0bfe/c1bd9540/folder%2540bar/different%21file",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 29 Apr 2026 23:02:23 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-5c622ac7-e1ff-6bc1-0b89-634fd315cf60/dc9b0bfe/c1bd9540/file%253Dtest%2526?comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 29 Apr 2026 23:02:23 GMT",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA6435F86AC08\"",
        "Last-Modified": "Wed, 29 Apr 2026 23:02:22 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2026-04-29T23:02:22.8870152Z",
        "x-ms-file-creation-time": "2026-04-29T23:02:22.8001546Z",
        "x-ms-file-id": "13835163608398430208",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "6498768581512459561*17478659090621734311",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-5c622ac7-e1ff-6bc1-0b89-634fd315cf60/dc9b0bfe/c1bd9540/file%3Dtest%21%40%23%24%25?comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 29 Apr 2026 23:02:23 GMT",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA6435F86AC08\"",
        "Last-Modified": "Wed, 29 Apr 2026 23:02:22 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2026-04-29T23:02:22.8870152Z",
        "x-ms-file-creation-time": "2026-04-29T23:02:22.7971595Z",
        "x-ms-file-id": "16140971433240035328",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "6498768581512459561*17478659090621734311",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-5c622ac7-e1ff-6bc1-0b89-634fd315cf60/dc9b0bfe/c1bd9540/space%20folder?restype=directory",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 29 Apr 2026 23:02:23 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ResourceNotFound</Code><Message>The specified resource does not exist.\n",
        "RequestId:f3ad2469-401a-00f5-662c-d8fb88000000\n",
        "Time:2026-04-29T23:02:22.9385280Z</Message></Error>"
      ]
    },
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-5c622ac7-e1ff-6bc1-0b89-634fd315cf60/dc9b0bfe/c1bd9540/folder%3Dbar/subfile%253Dtest%2526",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 29 Apr 2026 23:02:23 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-5c622ac7-e1ff-6bc1-0b89-634fd315cf60/dc9b0bfe/c1bd9540/folder%3Dbar/subfile%3Dtest%21%40%23%24%25",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 29 Apr 2026 23:02:23 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-5c622ac7-e1ff-6bc1-0b89-634fd315cf60/dc9b0bfe/c1bd9540/folder%2540bar/different%21file?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 29 Apr 2026 23:02:23 GMT",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2026-06-06[...]
[...]
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-5c622ac7-e1ff-6bc1-0b89-634fd315cf60/dc9b0bfe/c1bd9540/folder%2540bar/different%21file?comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 29 Apr 2026 23:02:23 GMT",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA6435F957307\"",
        "Last-Modified": "Wed, 29 Apr 2026 23:02:22 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2026-04-29T23:02:22.9838599Z",
        "x-ms-file-creation-time": "2026-04-29T23:02:22.8960010Z",
        "x-ms-file-id": "13835075647468208128",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "13835093239654252544",
        "x-ms-file-permission-key": "6498768581512459561*17478659090621734311",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-5c622ac7-e1ff-6bc1-0b89-634fd315cf60/dc9b0bfe/c1bd9540/folder%3Dbar/subfile%3Dtest%21%40%23%24%25?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 29 Apr 2026 23:02:23 GMT",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": [...]
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-5c622ac7-e1ff-6bc1-0b89-634fd315cf60/dc9b0bfe/c1bd9540/folder%3Dbar/subfile%253Dtest%2526?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 29 Apr 2026 23:02:23 GMT",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2026-06[...]
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-5c622ac7-e1ff-6bc1-0b89-634fd315cf60/dc9b0bfe/c1bd9540/space%20folder/space%20file",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 29 Apr 2026 23:02:23 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-5c622ac7-e1ff-6bc1-0b89-634fd315cf60/dc9b0bfe/c1bd9540/folder%3Dbar/subfile%3Dtest%21%40%23%24%25?comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 29 Apr 2026 23:02:23 GMT",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA6435FA30207\"",
        "Last-Modified": "Wed, 29 Apr 2026 23:02:23 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2026-04-29T23:02:23.0727175Z",
        "x-ms-file-creation-time": "2026-04-29T23:02:22.9818632Z",
        "x-ms-file-id": "16140936248867946496",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "11529250230440558592",
        "x-ms-file-permission-key": "6498768581512459561*17478659090621734311",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-5c622ac7-e1ff-6bc1-0b89-634fd315cf60/dc9b0bfe/c1bd9540/folder%3Dbar/subfile%253Dtest%2526?comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 29 Apr 2026 23:02:23 GMT",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA6435FA30207\"",
        "Last-Modified": "Wed, 29 Apr 2026 23:02:23 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2026-04-29T23:02:23.0727175Z",
        "x-ms-file-creation-time": "2026-04-29T23:02:22.9818632Z",
        "x-ms-file-id": "11529320599184736256",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "11529250230440558592",
        "x-ms-file-permission-key": "6498768581512459561*17478659090621734311",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-5c622ac7-e1ff-6bc1-0b89-634fd315cf60/dc9b0bfe/c1bd9540/space%20folder/space%20file?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 29 Apr 2026 23:02:23 GMT",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2026-06-06",
 [...]
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-5c622ac7-e1ff-6bc1-0b89-634fd315cf60/dc9b0bfe/c1bd9540/space%20folder/space%20file?comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 29 Apr 2026 23:02:23 GMT",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA6435FB01C09\"",
        "Last-Modified": "Wed, 29 Apr 2026 23:02:23 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2026-04-29T23:02:23.1585801Z",
        "x-ms-file-creation-time": "2026-04-29T23:02:23.0727175Z",
        "x-ms-file-id": "16141006617612124160",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "10376363910205800448",
        "x-ms-file-permission-key": "6498768581512459561*17478659090621734311",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-5c622ac7-e1ff-6bc1-0b89-634fd315cf60/dc9b0bfe/c1bd9540?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 29 Apr 2026 23:02:23 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amnguyesa.file.core.windows.net/\" ShareName=\"test-share-5c622ac7-e1ff-6bc1-0b89-634fd315cf60\" DirectoryPath=\"dc9b0bfe/c1bd9540\"><DirectoryId>11529285414812647424</DirectoryId><Entries><File><Name>file%3Dtest%26</Name><FileId>13835163608398430208</FileId><Properties><Content-Length>1024</Content-Length></Properties></File><File><Name>file=test!@#$%</Name><FileId>16140971433240035328</FileId><Properties><Content-Length>1024</Content-Length></Properties></File><Directory><Name>folder%40bar</Name><FileId>13835093239654252544</FileId><Properties /></Directory><Directory><Name>folder=bar</Name><FileId>11529250230440558592</FileId><Properties /></Directory><Directory><Name>space folder</Name><FileId>10376363910205800448</FileId><Properties /></Directory></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-5c622ac7-e1ff-6bc1-0b89-634fd315cf60/dc9b0bfe/c1bd9540/folder%2540bar?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 29 Apr 2026 23:02:23 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amnguyesa.file.core.windows.net/\" ShareName=\"test-share-5c622ac7-e1ff-6bc1-0b89-634fd315cf60\" DirectoryPath=\"dc9b0bfe/c1bd9540/folder%40bar\"><DirectoryId>13835093239654252544</DirectoryId><Entries><File><Name>different!file</Name><FileId>13835075647468208128</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-5c622ac7-e1ff-6bc1-0b89-634fd315cf60/dc9b0bfe/c1bd9540/folder%3Dbar?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 29 Apr 2026 23:02:23 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amnguyesa.file.core.windows.net/\" ShareName=\"test-share-5c622ac7-e1ff-6bc1-0b89-634fd315cf60\" DirectoryPath=\"dc9b0bfe/c1bd9540/folder=bar\"><DirectoryId>11529250230440558592</DirectoryId><Entries><File><Name>subfile%3Dtest%26</Name><FileId>11529320599184736256</FileId><Properties><Content-Length>1024</Content-Length></Properties></File><File><Name>subfile=test!@#$%</Name><FileId>16140936248867946496</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-5c622ac7-e1ff-6bc1-0b89-634fd315cf60/dc9b0bfe/c1bd9540/space%20folder?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 29 Apr 2026 23:02:23 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amnguyesa.file.core.windows.net/\" ShareName=\"test-share-5c622ac7-e1ff-6bc1-0b89-634fd315cf60\" DirectoryPath=\"dc9b0bfe/c1bd9540/space folder\"><DirectoryId>10376363910205800448</DirectoryId><Entries><File><Name>space file</Name><FileId>16141006617612124160</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-5c622ac7-e1ff-6bc1-0b89-634fd315cf60/dc9b0bfe/c1bd9540/file%253Dtest%2526",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 29 Apr 2026 23:02:23 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA6435F86AC08\"",
        "Last-Modified": "Wed, 29 Apr 2026 23:02:22 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2026-04-29T23:02:22.8870152Z",
        "x-ms-file-creation-time": "2026-04-29T23:02:22.8001546Z",
        "x-ms-file-id": "13835163608398430208",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "6498768581512459561*17478659090621734311",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-5c622ac7-e1ff-6bc1-0b89-634fd315cf60/dc9b0bfe/c1bd9540/file%253Dtest%2526",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 29 Apr 2026 23:02:23 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "ETag": "\"0x8DEA6435F86AC08\"",
        "Last-Modified": "Wed, 29 Apr 2026 23:02:22 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2026-04-29T23:02:22.8870152Z",
        "x-ms-file-creation-time": "2026-04-29T23:02:22.8001546Z",
        "x-ms-file-id": "13835163608398430208",
        "x-ms-file-last-write-time": "2024-11-24T01:23:45.0000000Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-ke[...]
[...]
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-5c622ac7-e1ff-6bc1-0b89-634fd315cf60?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 29 Apr 2026 23:02:24 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "2026343849",
[...]
