{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/d4ccd08b-0809-446d-a8b7-7af8a90109cd?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "id": "/subscriptions/d4ccd08b-0809-446d-a8b7-7af8a90109cd",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "tags": {
          "C-AI-MG-Placement-Subscription-Level": "2023-08-31"
        },
        "subscriptionId": "d4ccd08b-0809-446d-a8b7-7af8a90109cd",
        "tenantId": "00000000-0000-0000-0000-000000000000",
        "displayName": "CommonInfra-AIO-OnDemandClusters",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/d4ccd08b-0809-446d-a8b7-7af8a90109cd/resourcegroups/aio-validation-112727342?api-version=2022-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16498",
        "x-ms-ratelimit-remaining-subscription-reads": "1098"
      },
      "ResponseBody": {
        "id": "/subscriptions/d4ccd08b-0809-446d-a8b7-7af8a90109cd/resourceGroups/aio-validation-112727342",
        "name": "aio-validation-112727342",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "eastus2",
        "tags": {
          "x-iot-environment": "atlas-on-demand",
          "x-iot-owner": "henrymorales@microsoft.com",
          "x-iot-do-not-delete": "false",
          "x-iot-create-time": "1737072903",
          "PREDEPLOYED": "true"
        },
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/d4ccd08b-0809-446d-a8b7-7af8a90109cd/resourceGroups/aio-validation-112727342/providers/Microsoft.IoTOperations/instances/aio-112727342?api-version=2024-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\"53006f46-0000-0200-0000-678aab200000\"",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16498",
        "x-ms-ratelimit-remaining-subscription-reads": "1098"
      },
      "ResponseBody": {
        "id": "/subscriptions/d4ccd08b-0809-446d-a8b7-7af8a90109cd/resourceGroups/aio-validation-112727342/providers/Microsoft.IoTOperations/instances/aio-112727342",
        "name": "aio-112727342",
        "type": "microsoft.iotoperations/instances",
        "location": "eastus2",
        "extendedLocation": {
          "name": "/subscriptions/d4ccd08b-0809-446d-a8b7-7af8a90109cd/resourceGroups/aio-validation-112727342/providers/Microsoft.ExtendedLocation/customLocations/location-112727342",
          "type": "CustomLocation"
        },
        "systemData": {
          "createdBy": "Sanitized",
          "createdByType": "Application",
          "createdAt": "2025-01-17T01:05:55.1172172Z",
          "lastModifiedBy": "Sanitized",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2025-01-17T19:10:24.4587104Z"
        },
        "identity": {
          "type": "None"
        },
        "properties": {
          "provisioningState": "Succeeded",
          "version": "1.0.9",
          "description": "Updated Description: 20250117T190948",
          "schemaRegistryRef": {
            "resourceId": "/subscriptions/d4ccd08b-0809-446d-a8b7-7af8a90109cd/resourceGroups/aio-validation-112727342/providers/Microsoft.DeviceRegistry/schemaRegistries/aio-sr-ff1fc34aed"
          }
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/d4ccd08b-0809-446d-a8b7-7af8a90109cd/resourceGroups/aio-validation-112727342/providers/Microsoft.IoTOperations/instances/aio-112727342/dataflowProfiles/default?api-version=2024-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
     [...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/d4ccd08b-0809-446d-a8b7-7af8a90109cd/resourceGroups/aio-validation-112727342/providers/Microsoft.IoTOperations/instances/aio-112727342/dataflowProfiles/sdk-test1856?api-version=2024-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "diagnostics": {
            "logs": {
              "level": "info"
            },
            "metrics": {
              "prometheusPort": 9600
            }
          },
          "instanceCount": 1
        },
        "extendedLocation": {
          "name": "/subscriptions/d4ccd08b-0809-446d-a8b7-7af8a90109cd/resourceGroups/aio-validation-112727342/providers/Microsoft.ExtendedLocation/customLocations/location-112727342",
          "type": "CustomLocation"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/d4ccd08b-0809-446d-a8b7-7af8a90109cd/providers/Microsoft.IoTOperations/locations/EASTUS2/operationStatuses/384b1019-9c2e-4a80-a562-37ede73dc639*D8CF09E3E61F560D4C5E078A5F47196BA449966CB8F319062B4452FBD00736C4?api-version=2024-11-01&t=638727383381331028&c=MIIHpTCCBo2gAwIBAgITOgOyrKG1I7-uwOPtkAAEA7KsoTANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNMjQwOTIyMTEzNzIyWhcNMjUwMzIxMTEzNzIy[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/d4ccd08b-0809-446d-a8b7-7af8a90109cd/providers/Microsoft.IoTOperations/locations/EASTUS2/operationStatuses/384b1019-9c2e-4a80-a562-37ede73dc639*D8CF09E3E61F560D4C5E078A5F47196BA449966CB8F319062B4452FBD00736C4?api-version=2024-11-01&t=638727383381331028&c=MIIHpTCCBo2gAwIBAgITOgOyrKG1I7-uwOPtkAAEA7KsoTANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNMjQwOTIyMTE[...]
[...]
