{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.microsoft.com/geocode:batch?api-version=2023-06-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-client-id": "azure_maps_client_id"
      },
      "RequestBody": {
        "batchItems": [
          {
            "query": "400 Broad St, Seattle, WA 98109"
          },
          {
            "query": "One, Microsoft Way, Redmond, WA 98052"
          },
          {
            "query": "350 5th Ave, New York, NY 10118"
          }
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-azuremaps-region": "West US 2"
      },
      "ResponseBody": {
        "batchItems": [
          {
            "type": "FeatureCollection",
            "features": [
              {
                "type": "Feature",
                "geometry": {
                  "type": "Point",
                  "coordinates": [
                    -122.349309,
                    47.620498
                  ]
                },
                "bbox": [
                  -122.35694938292329,
                  47.61663528242932,
                  -122.34166861707672,
                  47.624360717570674
                ],
                "properties": {
                  "type": "Address",
                  "confidence": "High",
                  "matchCodes": [
                    "Good"
                  ],
                  "geocodePoints": [
                    {
                      "calculationMethod": "Rooftop",
                      "usageTypes": [
                        "Display"
                      ],
                      "geometry": {
                        "type": "Point",
                        "coordinates": [
                          -122.349309,
                          47.620498
                        ]
                      }
                    },
                    {
                      "calculationMethod": "Rooftop",
                      "usageTypes": [
                        "Route"
                      ],
                      "geometry": {
                        "type": "Point",
                        "coordinates": [
                          -122.3492846,
                          47.6201646
                        ]
                      }
                    }
                  ],
                  "address": {
                    "addressLine": "400 Broad St",
                    "postalCode": "98109",
                    "neighborhood": "Queen Anne",
                    "locality": "Seattle",
                    "formattedAddress": "400 Broad St, Seattle, WA 98109",
                    "countryRegion": {
                      "name": "Sanitized",
                      "ISO": "US"
                    },
                    "adminDistricts": [
                      {
                        "shortName": "WA"
                      },
                      {
                        "shortName": "King County"
                      }
                    ]
                  }
                }
              }
            ]
          },
          {
            "type": "FeatureCollection",
            "features": [
              {
                "type": "Feature",
                "geometry": {
                  "type": "Point",
                  "coordinates": [
                    -122.12751733829,[...]
