{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/e6fe6705-4c9c-4b54-81d2-e455780e20b8?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11996"
      },
      "ResponseBody": {
        "id": "/subscriptions/e6fe6705-4c9c-4b54-81d2-e455780e20b8",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "subscriptionId": "e6fe6705-4c9c-4b54-81d2-e455780e20b8",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": "HRP-UX-TestAutomation",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/e6fe6705-4c9c-4b54-81d2-e455780e20b8/resourceGroups/az-sdk-test/providers/Microsoft.HybridCompute/privateLinkScopes/myPrivateLinkScope?api-version=2022-12-27",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "publicNetworkAccess": "Disabled"
        },
        "tags": {},
        "location": "eastus2euap"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1198"
      },
      "ResponseBody": {
        "id": "/subscriptions/e6fe6705-4c9c-4b54-81d2-e455780e20b8/resourceGroups/az-sdk-test/providers/Microsoft.HybridCompute/privateLinkScopes/myPrivateLinkScope",
        "name": "myPrivateLinkScope",
        "type": "Microsoft.HybridCompute/privateLinkScopes",
        "location": "eastus2euap",
        "properties": {
          "privateLinkScopeId": "7d188588-a0d1-4e3d-ac4e-1271791c430b",
          "publicNetworkAccess": "Disabled",
          "provisioningState": "Succeeded",
          "privateEndpointConnections": []
        },
        "tags": {}
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "RandomSeed": "842718081",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "e6fe6705-4c9c-4b54-81d2-e455780e20b8"
  }
}
