{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/e6fe6705-4c9c-4b54-81d2-e455780e20b8?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11982"
      },
      "ResponseBody": {
        "id": "/subscriptions/e6fe6705-4c9c-4b54-81d2-e455780e20b8",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "subscriptionId": "e6fe6705-4c9c-4b54-81d2-e455780e20b8",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": "HRP-UX-TestAutomation",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/e6fe6705-4c9c-4b54-81d2-e455780e20b8/resourceGroups/az-sdk-test/providers/Microsoft.HybridCompute/privateLinkScopes/myPrivateLinkScope?api-version=2022-12-27",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11981"
      },
      "ResponseBody": {
        "id": "/subscriptions/e6fe6705-4c9c-4b54-81d2-e455780e20b8/resourceGroups/az-sdk-test/providers/Microsoft.HybridCompute/privateLinkScopes/myPrivateLinkScope",
        "name": "myPrivateLinkScope",
        "type": "Microsoft.HybridCompute/privateLinkScopes",
        "location": "eastus2euap",
        "properties": {
          "privateLinkScopeId": "710c9dec-82d7-4794-8641-0f4319887bb5",
          "publicNetworkAccess": "Disabled",
          "provisioningState": "Succeeded",
          "privateEndpointConnections": [
            {
              "id": "/subscriptions/e6fe6705-4c9c-4b54-81d2-e455780e20b8/resourceGroups/az-sdk-test/providers/Microsoft.HybridCompute/privateLinkScopes/myPrivateLinkScope/privateEndpointConnections/pe-test.2a976c30-2ae8-48a4-9f25-d13236dfe849",
              "name": "pe-test.2a976c30-2ae8-48a4-9f25-d13236dfe849",
              "type": "Microsoft.HybridCompute/privateLinkScopes/privateEndpointConnections",
              "properties": {
                "provisioningState": "Succeeded",
                "privateEndpoint": {
                  "id": "/subscriptions/e6fe6705-4c9c-4b54-81d2-e455780e20b8/resourceGroups/az-sdk-test/providers/Microsoft.Network/privateEndpoints/pe-test"
                },
                "privateLinkServiceConnectionState": {
                  "status": "Approved",
                  "description": "Approved by johndoe@contoso.com",
                  "actionsRequired": "None"
                }
              }
            }
          ]
        },
        "tags": {}
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "RandomSeed": "2089253115",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "e6fe6705-4c9c-4b54-81d2-e455780e20b8"
  }
}
