{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/b24cc8ee-df4f-48ac-94cf-46edf36b0fae?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11999",
        "x-ms-throttling-version": "v1"
      },
      "ResponseBody": {
        "id": "/subscriptions/b24cc8ee-df4f-48ac-94cf-46edf36b0fae",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "tags": {
          "NRMS15110386": "20230217",
          "NRMS16829354": "20230724",
          "EnableAzSecPackIdentityPolicy": "true"
        },
        "subscriptionId": "b24cc8ee-df4f-48ac-94cf-46edf36b0fae",
        "tenantId": "00000000-0000-0000-0000-000000000000",
        "displayName": "Hybrid Compute RP Runners",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/b24cc8ee-df4f-48ac-94cf-46edf36b0fae/resourceGroups/ytongtest/providers/Microsoft.HybridCompute/privateLinkScopes/myPrivateLinkScope/privateLinkResources?api-version=2024-03-31-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11999",
        "x-ms-throttling-version": "v1"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/b24cc8ee-df4f-48ac-94cf-46edf36b0fae/resourceGroups/ytongtest/providers/Microsoft.HybridCompute/privateLinkScopes/myPrivateLinkScope/privateLinkResources/hybridcompute",
            "name": "hybridcompute",
            "type": "Microsoft.HybridCompute/privateLinkScopes/privateLinkResources",
            "properties": {
              "groupId": "hybridcompute",
              "requiredMembers": [
                "HybridCompute.Global",
                "HybridCompute.Server",
                "HybridCompute.TokenService",
                "GuestConfig.GlobalService",
                "GuestConfig.AgentService.eapeus2",
                "GuestConfig.AgentService.eastus2euap",
                "HybridCompute.K8sConfiguration"
              ],
              "requiredZoneNames": [
                "privatelink.his.arc.azure.com",
                "privatelink.Guestconfiguration.azure.com",
                "privatelink.dp.kubernetesconfiguration.azure.com"
              ]
            }
          }
        ]
      }
    }
  ],
  "Variables": {
    "RandomSeed": "916546645",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "b24cc8ee-df4f-48ac-94cf-46edf36b0fae"
  }
}
