{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/b24cc8ee-df4f-48ac-94cf-46edf36b0fae?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11997"
      },
      "ResponseBody": {
        "id": "/subscriptions/b24cc8ee-df4f-48ac-94cf-46edf36b0fae",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "tags": {
          "NRMS15110386": "20230217",
          "NRMS16829354": "20230724",
          "EnableAzSecPackIdentityPolicy": "true"
        },
        "subscriptionId": "b24cc8ee-df4f-48ac-94cf-46edf36b0fae",
        "tenantId": "00000000-0000-0000-0000-000000000000",
        "displayName": "Hybrid Compute RP Runners",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/b24cc8ee-df4f-48ac-94cf-46edf36b0fae/resourceGroups/ytongtest/providers/Microsoft.HybridCompute/privateLinkScopes/myScope2?api-version=2024-07-10",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {
          "Tag1": "Value1",
          "Tag2": "Value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": {
        "id": "/subscriptions/b24cc8ee-df4f-48ac-94cf-46edf36b0fae/resourceGroups/ytongtest/providers/Microsoft.HybridCompute/privateLinkScopes/myScope2",
        "name": "myScope2",
        "type": "Microsoft.HybridCompute/privateLinkScopes",
        "location": "eastus",
        "properties": {
          "privateLinkScopeId": "129186fe-0aed-493a-86e0-6ffc7f7d4c0a",
          "publicNetworkAccess": "Disabled",
          "provisioningState": "Succeeded",
          "privateEndpointConnections": [
            {
              "id": "/subscriptions/b24cc8ee-df4f-48ac-94cf-46edf36b0fae/resourceGroups/ytongtest/providers/Microsoft.HybridCompute/privateLinkScopes/myScope2/privateEndpointConnections/pe-test.c0938fde-4fb9-4e5b-a421-8f443ca2bc77",
              "name": "pe-test.c0938fde-4fb9-4e5b-a421-8f443ca2bc77",
              "type": "Microsoft.HybridCompute/privateLinkScopes/privateEndpointConnections",
              "properties": {
                "provisioningState": "Succeeded",
                "privateEndpoint": {
                  "id": "/subscriptions/b24cc8ee-df4f-48ac-94cf-46edf36b0fae/resourceGroups/ytongtest/providers/Microsoft.Network/privateEndpoints/pe-test"
                },
                "privateLinkServiceConnectionState": {
                  "status": "Approved",
                  "description": "Approved by johndoe@contoso.com",
                  "actionsRequired": "None"
                }
              }
            }
          ]
        },
        "tags": {
          "Tag1": "Value1",
          "Tag2": "Value2"
        }
      }
    }
  ],
  "Variables": {
    "RandomSeed": "2117898694",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "b24cc8ee-df4f-48ac-94cf-46edf36b0fae"
  }
}
