{
  "Entries": [
    {
      "RequestUri": "https://qnatestqi.cognitiveservices.azure.com/language/authoring/query-knowledgebases/projects/TestProject1565937758?api-version=2025-05-15-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "description": "This is the description for a test project",
        "language": "en",
        "multilingualResource": false,
        "settings": {
          "defaultAnswer": "No answer found for your question."
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "warn-agent": "-",
        "warn-code": "299",
        "warn-text": "The Custom Summarization, Custom Sentiment and Custom Health services have been announced for retirement. These custom skill APIs will be deprecated on March 31, 2025.",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "projectName": "TestProject1565937758",
        "description": "This is the description for a test project",
        "language": "en",
        "multilingualResource": true,
        "createdDateTime": "2025-11-14T12:14:35Z",
        "lastModifiedDateTime": "2025-11-14T12:14:35Z",
        "configureSemanticRanking": false
      }
    },
    {
      "RequestUri": "https://qnatestqi.cognitiveservices.azure.com/language/authoring/query-knowledgebases/projects/TestProject1565937758/sources?api-version=2025-05-15-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": "[{\"op\":\"add\",\"value\":{\"displayName\":\"MicrosoftFAQ\",\"source\":\"https://www.microsoft.com/en-in/software-download/faq\",\"sourceUri\":\"https://www.microsoft.com/en-in/software-download/faq\",\"sourceKind\":\"url\",\"contentStructureKind\":\"unstructured\",\"refresh\":false}}]",
      "StatusCode": 202,
      "ResponseHeaders": {
        "operation-location": "https://qnatestqi.cognitiveservices.azure.com:443/language/authoring/query-knowledgebases/projects/TestProject1565937758/sources/jobs/84590829-3ca1-480a-97b9-329c6420b704?api-version=2025-05-15-preview",
        "warn-agent": "-",
        "warn-code": "299",
        "warn-text": "The Custom Summarization, Custom Sentiment and Custom Health services have been announced for retirement. These custom skill APIs will be deprecated on March 31, 2025.",
        "x-ms-region": "East US"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://qnatestqi.cognitiveservices.azure.com/language/authoring/query-knowledgebases/projects/TestProject1565937758/sources/jobs/84590829-3ca1-480a-97b9-329c6420b704?api-version=2025-05-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "5",
        "warn-agent": "-",
        "warn-code": "299",
        "warn-text": "The Custom Summarization, Custom Sentiment and Custom Health services have been announced for retirement. These custom skill APIs will be deprecated on March 31, 2025.",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "createdDateTime": "2025-11-14T12:14:35+00:00",
        "expirationDateTime": "2025-11-14T18:14:35+00:00",
        "jobId": "84590829-3ca1-480a-97b9-329c6420b704",
        "lastUpdatedDateTime": "2025-11-14T12:14:35+00:00",
        "status": "notStarted"
      }
    },
[...]
    {
      "RequestUri": "https://qnatestqi.cognitiveservices.azure.com/language/authoring/query-knowledgebases/projects/TestProject1565937758/sources/jobs/84590829-3ca1-480a-97b9-329c6420b704?api-version=2025-05-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "warn-agent": "-",
        "warn-code": "299",
        "warn-text": "The Custom Summarization, Custom Sentiment and Custom Health services have been announced for retirement. These custom skill APIs will be deprecated on March 31, 2025.",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "createdDateTime": "2025-11-14T12:14:35+00:00",
        "expirationDateTime": "2025-11-14T18:14:35+00:00",
        "jobId": "84590829-3ca1-480a-97b9-329c6420b704",
        "lastUpdatedDateTime": "2025-11-14T12:14:51+00:00",
        "status": "succeeded",
        "resultUrl": "/knowledgebases/TestProject1565937758"
      }
    },
[...]
    {
      "RequestUri": "https://qnatestqi.cognitiveservices.azure.com/language/authoring/query-knowledgebases/projects/TestProject1565937758/qnas?api-version=2025-05-15-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": "[{\"op\":\"add\",\"value\":{\"questions\":[\"What is the easiest way to use azure services in my .NET project?\"],\"answer\":\"Using Microsoft\\u0027s Azure SDKs\"}}]",
      "StatusCode": 202,
      "ResponseHeaders": {
        "operation-location": "https://qnatestqi.cognitiveservices.azure.com:443/language/authoring/query-knowledgebases/projects/TestProject1565937758/qnas/jobs/60c9a708-d81d-4848-9e33-604cf5701029?api-version=2025-05-15-preview",
        "warn-agent": "-",
        "warn-code": "299",
        "warn-text": "The Custom Summarization, Custom Sentiment and Custom Health services have been announced for retirement. These custom skill APIs will be deprecated on March 31, 2025.",
        "x-ms-region": "East US"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://qnatestqi.cognitiveservices.azure.com/language/authoring/query-knowledgebases/projects/TestProject1565937758/qnas/jobs/60c9a708-d81d-4848-9e33-604cf5701029?api-version=2025-05-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "5",
        "warn-agent": "-",
        "warn-code": "299",
        "warn-text": "The Custom Summarization, Custom Sentiment and Custom Health services have been announced for retirement. These custom skill APIs will be deprecated on March 31, 2025.",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "createdDateTime": "2025-11-14T12:14:58+00:00",
        "expirationDateTime": "2025-11-14T18:14:58+00:00",
        "jobId": "60c9a708-d81d-4848-9e33-604cf5701029",
        "lastUpdatedDateTime": "2025-11-14T12:14:58+00:00",
        "status": "notStarted"
      }
    },
[...]
    {
      "RequestUri": "https://qnatestqi.cognitiveservices.azure.com/language/authoring/query-knowledgebases/projects/TestProject1565937758/qnas?api-version=2025-05-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "warn-agent": "-",
        "warn-code": "299",
        "warn-text": "The Custom Summarization, Custom Sentiment and Custom Health services have been announced for retirement. These custom skill APIs will be deprecated on March 31, 2025.",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "value": [
          {
            "id": 2,
            "answer": "Using Microsoft's Azure SDKs",
            "source": "Editorial",
            "questions": [
              "What is the easiest way to use azure services in my .NET project?"
            ],
            "metadata": {
              "system_metadata_qna_edited_manually": "true"
            },
            "dialog": {
              "isContextOnly": false,
              "prompts": []
            },
            "activeLearningSuggestions": [],
            "isDocumentText": false,
            "lastUpdatedDateTime": "11/14/2025 12:15:01 +00:00"
          }
        ]
      }
    },
    {
      "RequestUri": "https://qnatestqi.cognitiveservices.azure.com/language/authoring/query-knowledgebases/projects/TestProject1565937758/synonyms?api-version=2025-05-15-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "value": [
          {
            "alterations": [
              "qnamaker",
              "qna maker"
            ]
          },
          {
            "alterations": [
              "qna",
              "question and answer"
            ]
          }
        ]
      },
      "StatusCode": 204,
      "ResponseHeaders": {
        "warn-agent": "-",
        "warn-code": "299",
        "warn-text": "The Custom Summarization, Custom Sentiment and Custom Health services have been announced for retirement. These custom skill APIs will be deprecated on March 31, 2025.",
        "x-ms-region": "East US"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://qnatestqi.cognitiveservices.azure.com/language/authoring/query-knowledgebases/projects/TestProject1565937758/feedback?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "records": [
          {
            "userId": "userX",
            "userQuestion": "{Follow-up question}",
            "qnaId": 1
          }
        ]
      },
      "StatusCode": 204,
      "ResponseHeaders": {
        "warn-agent": "-",
        "warn-code": "299",
        "warn-text": "The Custom Summarization, Custom Sentiment and Custom Health services have been announced for retirement. These custom skill APIs will be deprecated on March 31, 2025.",
        "x-ms-region": "East US"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "QUESTIONANSWERING_ENDPOINT": "https://qnatestqi.cognitiveservices.azure.com/",
    "QUESTIONANSWERING_KEY": "Sanitized",
    "RandomSeed": "910209165"
  }
}
