{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.api.wcus.digitaltwins.azure.net/models?includeModelDefinition=false&api-version=2023-10-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "e8ccd50f-0d0f-4107-a632-03125a724c08",
        "traceresponse": "00-d5a392f9b6dfd0923f041f223bbf264a-86e937daed2ecac2-01"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "dtmi:com:samples:DTComponentTestsComponent;1",
            "description": {},
            "displayName": {
              "en": "Component1"
            },
            "decommissioned": false,
            "uploadTime": "2025-07-09T21:44:06.8368191+00:00"
          },
          {
            "id": "dtmi:com:samples:DTComponentTestsModel;1",
            "description": {},
            "displayName": {
              "en": "TempModel"
            },
            "decommissioned": false,
            "uploadTime": "2025-07-09T21:44:06.8368387+00:00"
          }
        ],
        "nextLink": null
      }
    },
    {
      "RequestUri": "https://Sanitized.api.wcus.digitaltwins.azure.net/models/dtmi:com:samples:DTComponentTestsComponent;1?api-version=2023-10-31",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 409,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "a5b9f4b5-d5ef-475c-a40b-c20ab90a9a70",
        "traceresponse": "00-47165c6f1286692b2ddd4d0aab76922d-f0ee3aa2edf517f2-01",
        "x-ms-error-code": "ModelReferencesNotDeleted"
      },
      "ResponseBody": {
        "error": {
          "code": "ModelReferencesNotDeleted",
          "message": "This model is currently being referenced by dtmi:com:samples:DTComponentTestsModel;1. You must delete these references before deleting the Model.. To delete references, do Delete Model on Ids provided above."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.api.wcus.digitaltwins.azure.net/models/dtmi:com:samples:DTComponentTestsModel;1?api-version=2023-10-31",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "mise-correlation-id": "a097a07c-7fe3-42b2-8c2a-1235da167294",
        "traceresponse": "00-da7484026ed0275852bdd0b330b83654-5d85e1438ca75beb-01"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://Sanitized.api.wcus.digitaltwins.azure.net/models?api-version=2023-10-31",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": "[{\"@id\": \"dtmi:com:samples:DTComponentTestsComponent;1\", \"@type\": \"Interface\", \"@context\": \"dtmi:dtdl:context;2\", \"displayName\": \"Component1\", \"contents\": [{\"@type\": \"Property\", \"name\": \"ComponentProp1\", \"schema\": \"string\"}, {\"@type\": \"Telemetry\", \"name\": \"ComponentTelemetry1\", \"schema\": \"integer\"}]}, {\"@id\": \"dtmi:com:samples:DTComponentTestsModel;1\", \"@type\": \"Interface\", \"@context\": \"dtmi:dtdl:context;2\", \"displayName\": \"TempModel\", \"contents\": [{\"@type\": \"Property\", \"name\": \"Prop1\", \"schema\": \"string\"}, {\"@type\": \"Component\", \"name\": \"Component1\", \"schema\": \"dtmi:com:samples:DTComponentTestsComponent;1\"}, {\"@type\": \"Telemetry\", \"name\": \"Telemetry1\", \"schema\": \"integer\"}]}]",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "e76ee9c4-9662-42c7-97f3-b9cec54d9ed6",
        "traceresponse": "00-a3cab5dcbdf93afb82473e27e667ba37-b2b990a4ccc17c1b-01"
      },
      "ResponseBody": "[{\"id\":\"dtmi:com:samples:DTComponentTestsComponent;1\",\"description\":{},\"displayName\":{\"en\":\"Component1\"},\"decommissioned\":false,\"uploadTime\":\"2025-07-09T21:44:11.4481596+00:00\"},{\"id\":\"dtmi:com:samples:DTComponentTestsModel;1\",\"description\":{},\"displayName\":{\"en\":\"TempModel\"},\"decommissioned\":false,\"uploadTime\":\"2025-07-09T21:44:11.4481857+00:00\"}]"
    },
    {
      "RequestUri": "https://Sanitized.api.wcus.digitaltwins.azure.net/digitaltwins/DTComponentTestsTempTwin?api-version=2023-10-31",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "$metadata": {
          "$model": "dtmi:com:samples:DTComponentTestsModel;1"
        },
        "Prop1": "value",
        "Component1": {
          "$metadata": {},
          "ComponentProp1": "value1"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\"d847878b-288d-4a9b-833f-36098a6d91cd\"",
        "mise-correlation-id": "20727ac9-09fe-4c2b-8ff9-219796fb6ebc",
        "traceresponse": "00-40be1741beac1482767f259a406836b0-e6475f29288cbf95-01"
      },
      "ResponseBody": {
        "$dtId": "DTComponentTestsTempTwin",
        "$etag": "W/\"d847878b-288d-4a9b-833f-36098a6d91cd\"",
        "Prop1": "value",
        "Component1": {
          "ComponentProp1": "value1",
          "$metadata": {
            "$lastUpdateTime": "2025-07-09T21:44:11.5557401Z",
            "ComponentProp1": {
              "lastUpdateTime": "2025-07-09T21:44:11.5557401Z"
            }
          }
        },
        "$metadata": {
          "$model": "dtmi:com:samples:DTComponentTestsModel;1",
          "$lastUpdateTime": "2025-07-09T21:44:11.5557401Z",
          "Prop1": {
            "lastUpdateTime": "2025-07-09T21:44:11.5557401Z"
          }
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.api.wcus.digitaltwins.azure.net/digitaltwins/DTComponentTestsTempTwin/components/Component1?api-version=2023-10-31",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Content-Type": "application/json-patch+json",
        "If-Match": "W/\"7e67a355-f19c-4c19-8a10-2d69b2d2253f\""
      },
      "RequestBody": "[{\"op\": \"replace\", \"path\": \"/ComponentProp1\", \"value\": \"value2\"}]",
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "f5ad5d93-93bf-458f-8641-00a742fc5b7f",
        "traceresponse": "00-e2c4e1bdcadd825208eff168a2487655-3db80563939846c6-01",
        "x-ms-error-code": "PreconditionFailed"
      },
      "ResponseBody": {
        "error": {
          "code": "PreconditionFailed",
          "message": "The provided etag W/\"7e67a355-f19c-4c19-8a10-2d69b2d2253f\" doesn't match the current etag for the resource. Please obtain and provide the latest etag by getting the resource. See section on get apis in the documentation https://aka.ms/adtv2twins."
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.api.wcus.digitaltwins.azure.net/digitaltwins/DTComponentTestsTempTwin/components/Component1?api-version=2023-10-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\"88fc40fa-b3d2-4ef5-943d-ca588e984330\"",
        "mise-correlation-id": "e4a5a0e9-e4e3-4b23-97cf-59d5c7104494",
        "traceresponse": "00-f9b671753065de9025c9af36be63dcfd-dccb17135f9a13d1-01"
      },
      "ResponseBody": {
        "ComponentProp1": "value2",
        "$metadata": {
          "$lastUpdateTime": "2025-07-09T21:44:11.8813883Z",
          "ComponentProp1": {
            "lastUpdateTime": "2025-07-09T21:44:11.8813883Z"
          }
        }
      }
    }
  ],
  "Variables": {}
}
