{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.api.wcus.digitaltwins.azure.net/models?includeModelDefinition=false&api-version=2023-10-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "04d88e9d-87af-4f77-843c-9155647fc0c3",
        "traceresponse": "00-39109a15f37ea712171f9095aae58b89-2dba6541f22712ab-01"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "dtmi:com:samples:DTComponentTestsComponent;1",
            "description": {},
            "displayName": {
              "en": "Component1"
            },
            "decommissioned": false,
            "uploadTime": "2025-07-09T21:42:44.211511+00:00"
          },
          {
            "id": "dtmi:com:samples:DTComponentTestsModel;1",
            "description": {},
            "displayName": {
              "en": "TempModel"
            },
            "decommissioned": false,
            "uploadTime": "2025-07-09T21:42:44.2115347+00:00"
          }
        ],
        "nextLink": null
      }
    },
    {
      "RequestUri": "https://Sanitized.api.wcus.digitaltwins.azure.net/models/dtmi%3Acom%3Asamples%3ADTComponentTestsComponent%3B1?api-version=2023-10-31",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 409,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "f607a62e-803f-4f5f-8619-c745a8d70a3e",
        "traceresponse": "00-74c48c4745a1963977cc5b6e7ab535ec-ab537ff031dbcaf7-01",
        "x-ms-error-code": "ModelReferencesNotDeleted"
      },
      "ResponseBody": {
        "error": {
          "code": "ModelReferencesNotDeleted",
          "message": "This model is currently being referenced by dtmi:com:samples:DTComponentTestsModel;1. You must delete these references before deleting the Model.. To delete references, do Delete Model on Ids provided above."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.api.wcus.digitaltwins.azure.net/models/dtmi%3Acom%3Asamples%3ADTComponentTestsModel%3B1?api-version=2023-10-31",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "mise-correlation-id": "cde9f670-746c-4263-8926-58c69464332f",
        "traceresponse": "00-ff600a8f4855d8d268c94ee6c17b94c1-51287c7774272844-01"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://Sanitized.api.wcus.digitaltwins.azure.net/models?api-version=2023-10-31",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": "[{\"@id\": \"dtmi:com:samples:DTComponentTestsComponent;1\", \"@type\": \"Interface\", \"@context\": \"dtmi:dtdl:context;2\", \"displayName\": \"Component1\", \"contents\": [{\"@type\": \"Property\", \"name\": \"ComponentProp1\", \"schema\": \"string\"}, {\"@type\": \"Telemetry\", \"name\": \"ComponentTelemetry1\", \"schema\": \"integer\"}]}, {\"@id\": \"dtmi:com:samples:DTComponentTestsModel;1\", \"@type\": \"Interface\", \"@context\": \"dtmi:dtdl:context;2\", \"displayName\": \"TempModel\", \"contents\": [{\"@type\": \"Property\", \"name\": \"Prop1\", \"schema\": \"string\"}, {\"@type\": \"Component\", \"name\": \"Component1\", \"schema\": \"dtmi:com:samples:DTComponentTestsComponent;1\"}, {\"@type\": \"Telemetry\", \"name\": \"Telemetry1\", \"schema\": \"integer\"}]}]",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "1e788870-e489-4882-a915-a3af44a4a096",
        "traceresponse": "00-217422134bdd8c6c9fb6000f16add84d-01640a1ab0dde963-01"
      },
      "ResponseBody": "[{\"id\":\"dtmi:com:samples:DTComponentTestsComponent;1\",\"description\":{},\"displayName\":{\"en\":\"Component1\"},\"decommissioned\":false,\"uploadTime\":\"2025-07-09T21:42:49.8461129+00:00\"},{\"id\":\"dtmi:com:samples:DTComponentTestsModel;1\",\"description\":{},\"displayName\":{\"en\":\"TempModel\"},\"decommissioned\":false,\"uploadTime\":\"2025-07-09T21:42:49.8461333+00:00\"}]"
    },
    {
      "RequestUri": "https://Sanitized.api.wcus.digitaltwins.azure.net/digitaltwins/DTComponentTestsTempTwin?api-version=2023-10-31",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "$metadata": {
          "$model": "dtmi:com:samples:DTComponentTestsModel;1"
        },
        "Prop1": "value",
        "Component1": {
          "$metadata": {},
          "ComponentProp1": "value1"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\"402f66a0-eaa0-4702-98e6-1b5ae795cb10\"",
        "mise-correlation-id": "ca7f0756-781b-4d8a-9200-60f7991bd50f",
        "traceresponse": "00-bae816f7782bc357e3b9269ddac63c50-ae2668e9fcbddbe7-01"
      },
      "ResponseBody": {
        "$dtId": "DTComponentTestsTempTwin",
        "$etag": "W/\"402f66a0-eaa0-4702-98e6-1b5ae795cb10\"",
        "Prop1": "value",
        "Component1": {
          "ComponentProp1": "value1",
          "$metadata": {
            "$lastUpdateTime": "2025-07-09T21:42:49.9877473Z",
            "ComponentProp1": {
              "lastUpdateTime": "2025-07-09T21:42:49.9877473Z"
            }
          }
        },
        "$metadata": {
          "$model": "dtmi:com:samples:DTComponentTestsModel;1",
          "$lastUpdateTime": "2025-07-09T21:42:49.9877473Z",
          "Prop1": {
            "lastUpdateTime": "2025-07-09T21:42:49.9877473Z"
          }
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.api.wcus.digitaltwins.azure.net/digitaltwins/DTComponentTestsTempTwin/components/Component1?api-version=2023-10-31",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Content-Type": "application/json-patch+json"
      },
      "RequestBody": "[{\"op\": \"replace\", \"path\": \"/ComponentProp1\", \"value\": \"value2\"}]",
      "StatusCode": 204,
      "ResponseHeaders": {
        "ETag": "W/\"f0119a25-9c69-4ba5-808e-0660ba31ec96\"",
        "mise-correlation-id": "ff06b5c2-49b5-4afa-8019-659ca0a9d372",
        "traceresponse": "00-de82d6c23c269eb07d96dc0596e44288-0ff99f22242a4d43-01"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://Sanitized.api.wcus.digitaltwins.azure.net/digitaltwins/DTComponentTestsTempTwin?api-version=2023-10-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\"f0119a25-9c69-4ba5-808e-0660ba31ec96\"",
        "mise-correlation-id": "044d6f71-317f-45ec-91ea-9b400cf0d257",
        "traceresponse": "00-00d9e93fc51d38fba3c1fd529fa05ddd-018e30ff0ce4d627-01"
      },
      "ResponseBody": {
        "$dtId": "DTComponentTestsTempTwin",
        "$etag": "W/\"f0119a25-9c69-4ba5-808e-0660ba31ec96\"",
        "Prop1": "value",
        "Component1": {
          "ComponentProp1": "value2",
          "$metadata": {
            "$lastUpdateTime": "2025-07-09T21:42:50.1075480Z",
            "ComponentProp1": {
              "lastUpdateTime": "2025-07-09T21:42:50.1075480Z"
            }
          }
        },
        "$metadata": {
          "$model": "dtmi:com:samples:DTComponentTestsModel;1",
          "$lastUpdateTime": "2025-07-09T21:42:50.1075480Z",
          "Prop1": {
            "lastUpdateTime": "2025-07-09T21:42:49.9877473Z"
          }
        }
      }
    }
  ],
  "Variables": {}
}
