{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.api.wcus.digitaltwins.azure.net/digitaltwins/digitalTwin-accf2de2?api-version=2023-10-31",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "$metadata": {
          "$model": "dtmi:samples:DTTestBuilding;1"
        },
        "AverageTemperature": 68
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\"219699a3-d3eb-41b8-b5f5-10751ba85c40\"",
        "mise-correlation-id": "971a2aaa-000e-46bc-a2a2-48a51df7f6e8",
        "traceresponse": "00-cd1709ab32df64738117268852a02de6-d16cd639d20255e9-01"
      },
      "ResponseBody": {
        "$dtId": "digitalTwin-accf2de2",
        "$etag": "W/\"219699a3-d3eb-41b8-b5f5-10751ba85c40\"",
        "AverageTemperature": 68,
        "$metadata": {
          "$model": "dtmi:samples:DTTestBuilding;1",
          "$lastUpdateTime": "2025-07-09T21:46:19.9694276Z",
          "AverageTemperature": {
            "lastUpdateTime": "2025-07-09T21:46:19.9694276Z"
          }
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.api.wcus.digitaltwins.azure.net/digitaltwins/digitalTwin-accf2de2/telemetry?api-version=2023-10-31",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "ComponentTelemetry1": 5
      },
      "StatusCode": 204,
      "ResponseHeaders": {
        "mise-correlation-id": "43787342-6832-41e3-a361-16bbed1e4cac",
        "traceresponse": "00-4db2e2eb165dda186609e617bafbdb27-ac9cf36eb276537f-01"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
