{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.api.wcus.digitaltwins.azure.net/models?includeModelDefinition=false&api-version=2023-10-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "bc5918ea-c1c2-42eb-974c-724a8f5c195e",
        "traceresponse": "00-6b3c63213ddb6a65ad94b849e6a2db33-774c2ed3ab567b7d-01"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "dtmi:samples:RelationshipTestBuilding;1",
            "description": {},
            "displayName": {
              "en": "Building"
            },
            "decommissioned": false,
            "uploadTime": "2025-07-09T21:53:44.9991707+00:00"
          },
          {
            "id": "dtmi:samples:RelationshipTestFloor;1",
            "description": {},
            "displayName": {
              "en": "Floor"
            },
            "decommissioned": false,
            "uploadTime": "2025-07-09T21:53:44.9991899+00:00"
          },
          {
            "id": "dtmi:samples:RelationshipTestRoom;1",
            "description": {},
            "displayName": {
              "en": "Room"
            },
            "decommissioned": false,
            "uploadTime": "2025-07-09T21:53:44.9991994+00:00"
          }
        ],
        "nextLink": null
      }
    },
    {
      "RequestUri": "https://Sanitized.api.wcus.digitaltwins.azure.net/models/dtmi:samples:RelationshipTestBuilding;1?api-version=2023-10-31",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "mise-correlation-id": "c7d43c91-d140-4682-8b93-ce30503247cc",
        "traceresponse": "00-670343063ffd657c2913b7b8530c0f1a-1236ab5d6345e414-01"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.api.wcus.digitaltwins.azure.net/models/dtmi:samples:RelationshipTestFloor;1?api-version=2023-10-31",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "mise-correlation-id": "edbfad54-19c3-4b40-8cc6-bc7cbc6d681c",
        "traceresponse": "00-254658b4ab0df850887f735741f35c91-91801f91aa5281f9-01"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.api.wcus.digitaltwins.azure.net/models/dtmi:samples:RelationshipTestRoom;1?api-version=2023-10-31",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "mise-correlation-id": "d9b13715-4b2d-4f21-80b0-e4ff71b5a6ec",
        "traceresponse": "00-f085f5128e6b86fbc507b94d77ccba77-e40bfb54fd1ccaef-01"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://Sanitized.api.wcus.digitaltwins.azure.net/digitaltwins/DTRelationshipTestsRoomTwin/relationships?api-version=2023-10-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "22410cdf-bbb4-41e7-b4c1-9d32b27e8478",
        "traceresponse": "00-6d16aa4ee9f568e7ad7f06a02bf2ee11-8719a28d517d6992-01"
      },
      "ResponseBody": {
        "nextLink": null,
        "value": []
      }
    },
    {
      "RequestUri": "https://Sanitized.api.wcus.digitaltwins.azure.net/digitaltwins/DTRelationshipTestsFloorTwin/relationships?api-version=2023-10-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "ba96e5ea-77fa-4f5d-833d-30d2532875d4",
        "traceresponse": "00-0ac2869233ee9ca8e598d3634e6afe90-dcbc542075aefd9d-01"
      },
      "ResponseBody": {
        "nextLink": null,
        "value": []
      }
    },
    {
      "RequestUri": "https://Sanitized.api.wcus.digitaltwins.azure.net/digitaltwins/DTRelationshipTestsBuildingTwin/relationships?api-version=2023-10-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "65525663-bfec-4c85-b3de-f12c9b255f5d",
        "traceresponse": "00-fd2531f05571f9328a41646e178cf2f9-51a0bdaf22d22327-01"
      },
      "ResponseBody": {
        "nextLink": null,
        "value": [
          {
            "$relationshipId": "BuildingHasFloor",
            "$etag": "W/\"baac2348-3054-4817-ba32-52c2397d4fe2\"",
            "$sourceId": "DTRelationshipTestsBuildingTwin",
            "$relationshipName": "has",
            "$targetId": "DTRelationshipTestsFloorTwin",
            "isAccessRestricted": false
          }
        ]
      }
    },
    {
      "RequestUri": "https://Sanitized.api.wcus.digitaltwins.azure.net/digitaltwins/DTRelationshipTestsBuildingTwin/relationships/BuildingHasFloor?api-version=2023-10-31",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "mise-correlation-id": "00d146ad-8623-4bda-b013-dd1a5f17d090",
        "traceresponse": "00-aee9fda9eb2b1c8c48137e04437ac887-19348dad9dda66de-01"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.api.wcus.digitaltwins.azure.net/digitaltwins/DTRelationshipTestsRoomTwin?api-version=2023-10-31",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "mise-correlation-id": "dd5392d3-0c22-48b9-8a05-cbf7b9d94c29",
        "traceresponse": "00-c9e0f0a2d2596a302f526b9679acbf4c-3c242f45dd0f579a-01"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.api.wcus.digitaltwins.azure.net/digitaltwins/DTRelationshipTestsFloorTwin?api-version=2023-10-31",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "mise-correlation-id": "680c1642-02f2-4f74-8fd1-102d6acdf1f0",
        "traceresponse": "00-9a3ab061aaeca103b5bc6581cdc27840-99b5ca2237f843cf-01"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.api.wcus.digitaltwins.azure.net/digitaltwins/DTRelationshipTestsBuildingTwin?api-version=2023-10-31",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "mise-correlation-id": "f039bfa2-ba75-45ac-a840-4d3daa04a343",
        "traceresponse": "00-5d5f4773f4716b89c6d2117537d8d29e-67c85f2afaae94d0-01"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.api.wcus.digitaltwins.azure.net/models?api-version=2023-10-31",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": "[{\"@id\": \"dtmi:samples:RelationshipTestBuilding;1\", \"@type\": \"Interface\", \"@context\": \"dtmi:dtdl:context;2\", \"displayName\": \"Building\", \"contents\": [{\"@type\": \"Relationship\", \"name\": \"has\", \"target\": \"dtmi:samples:RelationshipTestFloor;1\", \"properties\": [{\"@type\": \"Property\", \"name\": \"isAccessRestricted\", \"schema\": \"boolean\"}]}, {\"@type\": \"Property\", \"name\": \"AverageTemperature\", \"schema\": \"double\"}]}, {\"@id\": \"dtmi:samples:RelationshipTestFloor;1\", \"@type\": \"Interface\", \"@context\": \"dtmi:dtdl:context;2\", \"displayName\": \"Floor\", \"contents\": [{\"@type\": \"Relationship\", \"name\": \"contains\", \"target\": \"dtmi:samples:RelationshipTestRoom;1\"}, {\"@type\": \"Property\", \"name\": \"AverageTemperature\", \"schema\": \"double\"}]}, {\"@id\": \"dtmi:samples:RelationshipTest[...]
    {
      "RequestUri": "https://Sanitized.api.wcus.digitaltwins.azure.net/digitaltwins/DTRelationshipTestsBuildingTwin?api-version=2023-10-31",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "$metadata": {
          "$model": "dtmi:samples:RelationshipTestBuilding;1"
        },
        "AverageTemperature": 68
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\"277689d1-47e0-456d-ab32-5deae4168dbf\"",
        "mise-correlation-id": "f419a8f7-1f2f-4cd7-a403-5aa5cf7a6742",
        "traceresponse": "00-41ae36aaf10cc89d8a8acc5aed28c7d1-6a95b8c06947b2bd-01"
      },
      "ResponseBody": {
        "$dtId": "DTRelationshipTestsBuildingTwin",
        "$etag": "W/\"277689d1-47e0-456d-ab32-5deae4168dbf\"",
        "AverageTemperature": 68,
        "$metadata": {
          "$model": "dtmi:samples:RelationshipTestBuilding;1",
          "$lastUpdateTime": "2025-07-09T21:53:54.5545815Z",
          "AverageTemperature": {
            "lastUpdateTime": "2025-07-09T21:53:54.5545815Z"
          }
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.api.wcus.digitaltwins.azure.net/digitaltwins/DTRelationshipTestsRoomTwin?api-version=2023-10-31",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "$metadata": {
          "$model": "dtmi:samples:RelationshipTestRoom;1"
        },
        "Temperature": 80,
        "IsOccupied": true
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\"8f431c2e-5a24-4cf8-8375-1347f3c624c4\"",
        "mise-correlation-id": "b5b1c9e4-8575-4b26-83df-ab5e53a772c0",
        "traceresponse": "00-101d8008aa1512317fe467afa4fedd3f-2b4e695c333f9dc6-01"
      },
      "ResponseBody": {
        "$dtId": "DTRelationshipTestsRoomTwin",
        "$etag": "W/\"8f431c2e-5a24-4cf8-8375-1347f3c624c4\"",
        "Temperature": 80,
        "IsOccupied": true,
        "$metadata": {
          "$model": "dtmi:samples:RelationshipTestRoom;1",
          "$lastUpdateTime": "2025-07-09T21:53:54.8415255Z",
          "Temperature": {
            "lastUpdateTime": "2025-07-09T21:53:54.8415255Z"
          },
          "IsOccupied": {
            "lastUpdateTime": "2025-07-09T21:53:54.8415255Z"
          }
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.api.wcus.digitaltwins.azure.net/digitaltwins/DTRelationshipTestsBuildingTwin/relationships/BuildingHasFloor?api-version=2023-10-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "98695123-e827-4dc8-869d-da7a4c307cb2",
        "traceresponse": "00-df5c6091b50a8005fe9a03ca14bdf925-052f956a03a9024d-01",
        "x-ms-error-code": "RelationshipNotFound"
      },
      "ResponseBody": {
        "error": {
          "code": "RelationshipNotFound",
          "message": "Relationship BuildingHasFloor not found on twin DTRelationshipTestsBuildingTwin. Please verify that the relationship id is valid and ensure that the relationship is not deleted. See section on listing relationships in the documentation https://aka.ms/adtv2twins."
        }
      }
    }
  ],
  "Variables": {}
}
