{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.api.wcus.digitaltwins.azure.net/models?includeModelDefinition=false&api-version=2023-10-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "e20b64e1-f3dd-4da0-a3a4-195c0fd94ab3",
        "traceresponse": "00-de7dfdad6551699c1d45a530b9a1c354-8a2c63b85f34736a-01"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "dtmi:samples:DTTestBuilding;1",
            "description": {},
            "displayName": {
              "en": "Building"
            },
            "decommissioned": false,
            "uploadTime": "2025-07-14T01:44:02.9990868+00:00"
          }
        ],
        "nextLink": null
      }
    },
    {
      "RequestUri": "https://Sanitized.api.wcus.digitaltwins.azure.net/models/dtmi%3Asamples%3ADTTestBuilding%3B1?api-version=2023-10-31",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "mise-correlation-id": "26168e6a-2690-407a-99bc-572e2cd7b415",
        "traceresponse": "00-cbdfb98faeedcd3e3549a7bbf4906f09-1f8575c10dd1b5d6-01"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://Sanitized.api.wcus.digitaltwins.azure.net/models?api-version=2023-10-31",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": "[{\"@id\": \"dtmi:samples:DTTestBuilding;1\", \"@type\": \"Interface\", \"@context\": \"dtmi:dtdl:context;2\", \"displayName\": \"Building\", \"contents\": [{\"@type\": \"Property\", \"name\": \"AverageTemperature\", \"schema\": \"double\"}, {\"@type\": \"Property\", \"name\": \"TemperatureUnit\", \"schema\": \"string\"}]}]",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "75e2e9c8-1a4d-497d-8dcd-f4196eb068de",
        "traceresponse": "00-2694ec514e9048cf13923b912402d3b5-19b6d77a3c3a7e8b-01"
      },
      "ResponseBody": "[{\"id\":\"dtmi:samples:DTTestBuilding;1\",\"description\":{},\"displayName\":{\"en\":\"Building\"},\"decommissioned\":false,\"uploadTime\":\"2025-07-14T01:44:13.1534458+00:00\"}]"
    },
    {
      "RequestUri": "https://Sanitized.api.wcus.digitaltwins.azure.net/digitaltwins/digitalTwin-19a63a79?api-version=2023-10-31",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "mise-correlation-id": "5eedf107-ac24-400b-a9a3-70fb552b0bca",
        "traceresponse": "00-934c1d677481af8478ebceeb64a95ebf-a97367b8fcb4d1dd-01"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.api.wcus.digitaltwins.azure.net/digitaltwins/digitalTwin-19a63a79?api-version=2023-10-31",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "$metadata": {
          "$model": "dtmi:samples:DTTestBuilding;1"
        },
        "AverageTemperature": 68,
        "TemperatureUnit": "Celsius"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\"8f81039e-cffa-4e9d-80c1-74b8945dfcd7\"",
        "mise-correlation-id": "708449ed-8799-42ac-ac82-76c97f4241af",
        "traceresponse": "00-09d2f3b61138ee89e9e671effe286e5f-9f39ed3e9d6ea49c-01"
      },
      "ResponseBody": {
        "$dtId": "digitalTwin-19a63a79",
        "$etag": "W/\"8f81039e-cffa-4e9d-80c1-74b8945dfcd7\"",
        "AverageTemperature": 68,
        "TemperatureUnit": "Celsius",
        "$metadata": {
          "$model": "dtmi:samples:DTTestBuilding;1",
          "$lastUpdateTime": "2025-07-14T01:44:13.4753140Z",
          "AverageTemperature": {
            "lastUpdateTime": "2025-07-14T01:44:13.4753140Z"
          },
          "TemperatureUnit": {
            "lastUpdateTime": "2025-07-14T01:44:13.4753140Z"
          }
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.api.wcus.digitaltwins.azure.net/digitaltwins/digitalTwin-19a63a79?api-version=2023-10-31",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "If-Match": "W/\"7e67a355-f19c-4c19-8a10-2d69b2d2253f\""
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "9abd1045-138c-4004-ad0c-c88bbc15ed28",
        "traceresponse": "00-081c1befa4782eb2390895062bf8d4ee-10f41fea4468df1f-01",
        "x-ms-error-code": "PreconditionFailed"
      },
      "ResponseBody": {
        "error": {
          "code": "PreconditionFailed",
          "message": "The provided etag W/\"7e67a355-f19c-4c19-8a10-2d69b2d2253f\" doesn't match the current etag for the resource. Please obtain and provide the latest etag by getting the resource. See section on get apis in the documentation https://aka.ms/adtv2twins."
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.api.wcus.digitaltwins.azure.net/digitaltwins/digitalTwin-19a63a79?api-version=2023-10-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "72ca5d8a-af37-4625-a2d6-7394a5c8b722",
        "traceresponse": "00-f7a27fa4356749e50f921e6a1fc00cfd-62a8559fb0f75d46-01",
        "x-ms-error-code": "DigitalTwinNotFound"
      },
      "ResponseBody": {
        "error": {
          "code": "DigitalTwinNotFound",
          "message": "There is no digital twin instance that exists with the ID digitalTwin-19a63a79. Please verify that the twin id is valid and ensure that the twin is not deleted. See section on querying the twins https://aka.ms/adtv2query."
        }
      }
    }
  ],
  "Variables": {}
}
