{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.api.wcus.digitaltwins.azure.net/models/dtmi%3Acom%3Asamples%3AComponentModel3df33714%3B1?includeModelDefinition=false&api-version=2023-10-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "e3b430b0-e7bf-496c-b739-e3542a07d7d4",
        "traceresponse": "00-90276808aff35ef60da160b95a146503-32bbe7a031d3450f-01",
        "x-ms-error-code": "ModelNotFound"
      },
      "ResponseBody": {
        "error": {
          "code": "ModelNotFound",
          "message": "There is no Model(s) available that matches the provided id(s) dtmi:com:samples:ComponentModel3df33714;1. Check that the Model ID provided is valid by doing a Model_List API call."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.api.wcus.digitaltwins.azure.net/models?api-version=2023-10-31",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": "[{\"@id\": \"dtmi:com:samples:ComponentModel3df33714;1\", \"@type\": \"Interface\", \"@context\": \"dtmi:dtdl:context;2\", \"displayName\": \"Component1\", \"contents\": [{\"@type\": \"Property\", \"name\": \"ComponentProp1\", \"schema\": \"string\"}, {\"@type\": \"Telemetry\", \"name\": \"ComponentTelemetry1\", \"schema\": \"integer\"}]}]",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "4a9e5047-9c54-4f5d-a6a7-2b985fbd4691",
        "traceresponse": "00-46c8660038f7a91ff473f2594cfd4598-cc1d65c51076363e-01"
      },
      "ResponseBody": "[{\"id\":\"dtmi:com:samples:ComponentModel3df33714;1\",\"description\":{},\"displayName\":{\"en\":\"Component1\"},\"decommissioned\":false,\"uploadTime\":\"2025-07-09T21:49:25.5773917+00:00\"}]"
    },
[...]
    {
      "RequestUri": "https://Sanitized.api.wcus.digitaltwins.azure.net/models/dtmi%3Acom%3Asamples%3AComponentModel3df33714%3B1?api-version=2023-10-31",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Content-Type": "application/json-patch+json"
      },
      "RequestBody": "[{\"op\": \"replace\", \"path\": \"/decommissioned\", \"value\": true}]",
      "StatusCode": 204,
      "ResponseHeaders": {
        "mise-correlation-id": "5b85029c-3d57-4d8d-8869-8e7af185bc3e",
        "traceresponse": "00-51546ccaa222a4bb030feb2cd725b9e2-8645f9d2bc5bd979-01"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://Sanitized.api.wcus.digitaltwins.azure.net/models/dtmi%3Acom%3Asamples%3AComponentModel3df33714%3B1?includeModelDefinition=false&api-version=2023-10-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "e201dc04-1d2b-49f5-9d5a-d53bce6edafb",
        "traceresponse": "00-9376e8168f664ccc676ea1f7e94be3ae-8654f21a56ee0e4d-01"
      },
      "ResponseBody": {
        "id": "dtmi:com:samples:ComponentModel3df33714;1",
        "description": {},
        "displayName": {
          "en": "Component1"
        },
        "decommissioned": true,
        "uploadTime": "2025-07-09T21:49:25.5773917+00:00"
      }
    }
  ],
  "Variables": {}
}
