{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.api.wcus.digitaltwins.azure.net/models?includeModelDefinition=false&api-version=2023-10-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "c4ce1824-d3c0-4116-b637-f53d29490dfb",
        "traceresponse": "00-d38085f26fbcda1802038fd0eb2bb792-aeb49e7afc2c48ea-01"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "dtmi:samples:DTTestBuilding;1",
            "description": {},
            "displayName": {
              "en": "Building"
            },
            "decommissioned": false,
            "uploadTime": "2025-07-09T21:45:23.9796194+00:00"
          }
        ],
        "nextLink": null
      }
    },
    {
      "RequestUri": "https://Sanitized.api.wcus.digitaltwins.azure.net/models/dtmi%3Asamples%3ADTTestBuilding%3B1?api-version=2023-10-31",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "mise-correlation-id": "b081064d-6309-40a7-a44f-ac38815228cf",
        "traceresponse": "00-7a5ae2144aaad1e5b6b3717427d7b26b-7695887c7e4c7d1f-01"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://Sanitized.api.wcus.digitaltwins.azure.net/models?api-version=2023-10-31",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": "[{\"@id\": \"dtmi:samples:DTTestBuilding;1\", \"@type\": \"Interface\", \"@context\": \"dtmi:dtdl:context;2\", \"displayName\": \"Building\", \"contents\": [{\"@type\": \"Property\", \"name\": \"AverageTemperature\", \"schema\": \"double\"}, {\"@type\": \"Property\", \"name\": \"TemperatureUnit\", \"schema\": \"string\"}]}]",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "37ece622-bd37-4c04-b384-95e9c831808c",
        "traceresponse": "00-1f17036670a2e030ecd292a4ec2dc65d-f2000a28fee2aee7-01"
      },
      "ResponseBody": "[{\"id\":\"dtmi:samples:DTTestBuilding;1\",\"description\":{},\"displayName\":{\"en\":\"Building\"},\"decommissioned\":false,\"uploadTime\":\"2025-07-09T21:45:28.848169+00:00\"}]"
    },
    {
      "RequestUri": "https://Sanitized.api.wcus.digitaltwins.azure.net/digitaltwins/digitalTwin-2f6a3120?api-version=2023-10-31",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "21b16ae1-1780-4298-a299-50056395b487",
        "traceresponse": "00-7a6981b34d1a745c3dee7daa1020172e-c48c27ae8ee43526-01",
        "x-ms-error-code": "DigitalTwinNotFound"
      },
      "ResponseBody": {
        "error": {
          "code": "DigitalTwinNotFound",
          "message": "There is no digital twin instance that exists with the ID digitalTwin-2f6a3120. Please verify that the twin id is valid and ensure that the twin is not deleted. See section on querying the twins https://aka.ms/adtv2query."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.api.wcus.digitaltwins.azure.net/digitaltwins/digitalTwin-2f6a3120?api-version=2023-10-31",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "$metadata": {
          "$model": "dtmi:samples:DTTestBuilding;1"
        },
        "AverageTemperature": 68,
        "TemperatureUnit": "Celsius"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\"67c06b8b-c9fd-4c9f-9442-9ac9a2e2bf44\"",
        "mise-correlation-id": "519ac504-fb56-425a-b52e-2ee6b6dc5260",
        "traceresponse": "00-35ac8102f9a899a03f55d073308ff6a7-70bf4dedd675eadf-01"
      },
      "ResponseBody": {
        "$dtId": "digitalTwin-2f6a3120",
        "$etag": "W/\"67c06b8b-c9fd-4c9f-9442-9ac9a2e2bf44\"",
        "AverageTemperature": 68,
        "TemperatureUnit": "Celsius",
        "$metadata": {
          "$model": "dtmi:samples:DTTestBuilding;1",
          "$lastUpdateTime": "2025-07-09T21:45:29.1344544Z",
          "AverageTemperature": {
            "lastUpdateTime": "2025-07-09T21:45:29.1344544Z"
          },
          "TemperatureUnit": {
            "lastUpdateTime": "2025-07-09T21:45:29.1344544Z"
          }
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.api.wcus.digitaltwins.azure.net/digitaltwins/digitalTwin-2f6a3120?api-version=2023-10-31",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Content-Type": "application/json-patch+json"
      },
      "RequestBody": "[{\"op\": \"remove\", \"path\": \"/AverageTemperature\"}]",
      "StatusCode": 204,
      "ResponseHeaders": {
        "ETag": "W/\"861f6665-cfa5-4dbe-8356-fd723eb1dd00\"",
        "mise-correlation-id": "647a37a8-353b-47c0-b139-614f45ef5cc6",
        "traceresponse": "00-c1cf6deedb8e66571f0874aa1d7953ef-8bf6533b8c1f13cd-01"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.api.wcus.digitaltwins.azure.net/digitaltwins/digitalTwin-2f6a3120?api-version=2023-10-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\"861f6665-cfa5-4dbe-8356-fd723eb1dd00\"",
        "mise-correlation-id": "56ca9842-4ce7-46d5-9e2e-3d8cead84516",
        "traceresponse": "00-5e13d8578cf8c316aab9b2fe397afa1e-22a5ee983c763575-01"
      },
      "ResponseBody": {
        "$dtId": "digitalTwin-2f6a3120",
        "$etag": "W/\"861f6665-cfa5-4dbe-8356-fd723eb1dd00\"",
        "TemperatureUnit": "Celsius",
        "$metadata": {
          "$model": "dtmi:samples:DTTestBuilding;1",
          "$lastUpdateTime": "2025-07-09T21:45:29.2794177Z",
          "TemperatureUnit": {
            "lastUpdateTime": "2025-07-09T21:45:29.1344544Z"
          }
        }
      }
    }
  ],
  "Variables": {}
}
