{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.api.wcus.digitaltwins.azure.net/models?includeModelDefinition=false&api-version=2023-10-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "279271ef-476f-40ed-b756-610e20e464c5",
        "traceresponse": "00-9d72e9a8baa44705cfea9e194d088c96-d0649a4a36c53a69-01"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "dtmi:samples:DTTestBuilding;1",
            "description": {},
            "displayName": {
              "en": "Building"
            },
            "decommissioned": false,
            "uploadTime": "2025-07-14T01:44:41.6356825+00:00"
          }
        ],
        "nextLink": null
      }
    },
    {
      "RequestUri": "https://Sanitized.api.wcus.digitaltwins.azure.net/models/dtmi%3Asamples%3ADTTestBuilding%3B1?api-version=2023-10-31",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "mise-correlation-id": "1b7ae2fc-0bd9-4053-a3b4-6b369197f5ef",
        "traceresponse": "00-6f641f51734dd62e998d45060be607a6-a5b3205e8cfe9faa-01"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://Sanitized.api.wcus.digitaltwins.azure.net/models?api-version=2023-10-31",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": "[{\"@id\": \"dtmi:samples:DTTestBuilding;1\", \"@type\": \"Interface\", \"@context\": \"dtmi:dtdl:context;2\", \"displayName\": \"Building\", \"contents\": [{\"@type\": \"Property\", \"name\": \"AverageTemperature\", \"schema\": \"double\"}, {\"@type\": \"Property\", \"name\": \"TemperatureUnit\", \"schema\": \"string\"}]}]",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "8bd0cb08-914d-4972-a160-530782e2d683",
        "traceresponse": "00-00c6cf73755a95636b0c6a08f189fd83-4fe0d014700d34eb-01"
      },
      "ResponseBody": "[{\"id\":\"dtmi:samples:DTTestBuilding;1\",\"description\":{},\"displayName\":{\"en\":\"Building\"},\"decommissioned\":false,\"uploadTime\":\"2025-07-14T01:44:46.7843274+00:00\"}]"
    },
    {
      "RequestUri": "https://Sanitized.api.wcus.digitaltwins.azure.net/digitaltwins/digitalTwin-973e33e8?api-version=2023-10-31",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "mise-correlation-id": "e6571d96-1add-4075-9909-a1143ac15080",
        "traceresponse": "00-bde55d15b233fe4f6d3ff3806cfcf994-ea8237bf9062440b-01"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.api.wcus.digitaltwins.azure.net/digitaltwins/digitalTwin-973e33e8?api-version=2023-10-31",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "$metadata": {
          "$model": "dtmi:samples:DTTestBuilding;1"
        },
        "AverageTemperature": 68,
        "TemperatureUnit": "Celsius"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\"7ec4a8d3-dd17-419f-935f-ba3178af5158\"",
        "mise-correlation-id": "4aa17ac8-f86a-4b5b-9996-30ac2869f571",
        "traceresponse": "00-f27259896cc602998825cac19e2415ba-1315e16c962f31c0-01"
      },
      "ResponseBody": {
        "$dtId": "digitalTwin-973e33e8",
        "$etag": "W/\"7ec4a8d3-dd17-419f-935f-ba3178af5158\"",
        "AverageTemperature": 68,
        "TemperatureUnit": "Celsius",
        "$metadata": {
          "$model": "dtmi:samples:DTTestBuilding;1",
          "$lastUpdateTime": "2025-07-14T01:44:47.0430680Z",
          "AverageTemperature": {
            "lastUpdateTime": "2025-07-14T01:44:47.0430680Z"
          },
          "TemperatureUnit": {
            "lastUpdateTime": "2025-07-14T01:44:47.0430680Z"
          }
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.api.wcus.digitaltwins.azure.net/digitaltwins/digitalTwin-973e33e8?api-version=2023-10-31",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Content-Type": "application/json-patch+json"
      },
      "RequestBody": "[{\"op\": \"move\", \"path\": \"/AverageTemperature\", \"value\": 42}]",
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "543e37ba-61b1-41b4-bb16-1b36186853e4",
        "traceresponse": "00-c3c1b9881c8bfe5a1644a8237c4cf663-9a701232034a9076-01",
        "x-ms-error-code": "JsonPatchInvalid"
      },
      "ResponseBody": {
        "error": {
          "code": "JsonPatchInvalid",
          "message": "Unsupported operation type move. Please provide a valid patch document. See section on update apis in the documentation https://aka.ms/adtv2twins."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.api.wcus.digitaltwins.azure.net/digitaltwins/digitalTwin-973e33e8?api-version=2023-10-31",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Content-Type": "application/json-patch+json"
      },
      "RequestBody": "[\"AverageTemperature\"]",
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/problem+json; charset=utf-8",
        "mise-correlation-id": "c3af9169-eb40-4a25-a9ca-cf491cc5e59b",
        "traceresponse": "00-2a959cd9ad2028cea571d9c157e853f8-02fc3bdfa5f2fea3-01"
      },
      "ResponseBody": {
        "errors": {
          "[0]": [
            "Error converting value \"AverageTemperature\" to type 'Microsoft.AspNetCore.JsonPatch.Operations.Operation'. Path '[0]', line 1, position 21."
          ],
          "jsonPatchDocument": [
            "The jsonPatchDocument field is required."
          ]
        },
        "type": "https://tools.ietf.org/html/rfc7231#section-6.5.1",
        "title": "One or more validation errors occurred.",
        "status": 400,
        "detail": null,
        "instance": null,
        "extensions": {
          "traceId": "00-2a959cd9ad2028cea571d9c157e853f8-b51785e23933ba16-00"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.api.wcus.digitaltwins.azure.net/digitaltwins/digitalTwin-973e33e8?api-version=2023-10-31",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": "[{}]",
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "fc130f9b-775f-4683-ace6-7e0b4942ca0b",
        "traceresponse": "00-33deee93132673f13d82d48316a08c36-7e9136f5b332af0e-01",
        "x-ms-error-code": "InvalidArgument"
      },
      "ResponseBody": {
        "error": {
          "code": "InvalidArgument",
          "message": "Payload is invalid."
        }
      }
    }
  ],
  "Variables": {}
}
