{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.api.wcus.digitaltwins.azure.net/models/dtmi:com:samples:ComponentModel7b0f3772;1?includeModelDefinition=false&api-version=2023-10-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "d0b2bd0d-3c3a-4946-ba06-f78eb95aa4ef",
        "traceresponse": "00-b47c9f4affc4139635fb2a1e4b64d258-b9539951b6aff5f8-01",
        "x-ms-error-code": "ModelNotFound"
      },
      "ResponseBody": {
        "error": {
          "code": "ModelNotFound",
          "message": "There is no Model(s) available that matches the provided id(s) dtmi:com:samples:ComponentModel7b0f3772;1. Check that the Model ID provided is valid by doing a Model_List API call."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.api.wcus.digitaltwins.azure.net/models?api-version=2023-10-31",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": "[{\"@id\": \"dtmi:com:samples:ComponentModel7b0f3772;1\", \"@type\": \"Interface\", \"@context\": [\"dtmi:dtdl:context;2\"], \"displayName\": \"Component1\", \"contents\": [{\"@type\": \"Property\", \"name\": \"ComponentProp1\", \"schema\": \"string\"}, {\"@type\": \"Telemetry\", \"name\": \"ComponentTelemetry1\", \"schema\": \"integer\"}]}]",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "8fc56fa7-53c1-47ce-84d7-a497d05708c9",
        "traceresponse": "00-0e7751780cf2ef13664a7699d5622587-bc81d5174e152641-01"
      },
      "ResponseBody": "[{\"id\":\"dtmi:com:samples:ComponentModel7b0f3772;1\",\"description\":{},\"displayName\":{\"en\":\"Component1\"},\"decommissioned\":false,\"uploadTime\":\"2025-07-14T01:49:58.6306967+00:00\"}]"
    },
    {
      "RequestUri": "https://Sanitized.api.wcus.digitaltwins.azure.net/models/dtmi:com:samples:ComponentModel7b0f3772;1?includeModelDefinition=true&api-version=2023-10-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "bf2f39da-0de3-4f95-b93d-1cdf92b1482a",
        "traceresponse": "00-a735ee978a92d8b3fa054ea7ceb0bfa8-ebe2e9555fcf8154-01"
      },
      "ResponseBody": {
        "id": "dtmi:com:samples:ComponentModel7b0f3772;1",
        "description": {},
        "displayName": {
          "en": "Component1"
        },
        "decommissioned": false,
        "uploadTime": "2025-07-14T01:49:58.6306967+00:00",
        "model": {
          "@id": "dtmi:com:samples:ComponentModel7b0f3772;1",
          "@type": "Interface",
          "@context": [
            "dtmi:dtdl:context;2"
          ],
          "displayName": "Component1",
          "contents": [
            {
              "@type": "Property",
              "name": "ComponentProp1",
              "schema": "string"
            },
            {
              "@type": "Telemetry",
              "name": "ComponentTelemetry1",
              "schema": "integer"
            }
          ]
        }
      }
    }
  ],
  "Variables": {}
}
