{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.api.wcus.digitaltwins.azure.net/models/dtmi:com:samples:ComponentModelfb5d3499;1?includeModelDefinition=false&api-version=2023-10-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "3d3a27a3-17b0-48b7-a286-4f57da92c4ac",
        "traceresponse": "00-b86eea7d655d3a2137278bbbc80a138a-b95d14445266310e-01",
        "x-ms-error-code": "ModelNotFound"
      },
      "ResponseBody": {
        "error": {
          "code": "ModelNotFound",
          "message": "There is no Model(s) available that matches the provided id(s) dtmi:com:samples:ComponentModelfb5d3499;1. Check that the Model ID provided is valid by doing a Model_List API call."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.api.wcus.digitaltwins.azure.net/models?api-version=2023-10-31",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": "[{\"@id\": \"dtmi:com:samples:ComponentModelfb5d3499;1\", \"@type\": \"Interface\", \"@context\": \"dtmi:dtdl:context;2\", \"displayName\": \"Component1\", \"contents\": [{\"@type\": \"Property\", \"name\": \"ComponentProp1\", \"schema\": \"string\"}, {\"@type\": \"Telemetry\", \"name\": \"ComponentTelemetry1\", \"schema\": \"integer\"}]}]",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "593710e7-cee1-40f0-8c30-1f5eb77e507c",
        "traceresponse": "00-cf2b4ae10a2f8430ce875d82ab09abfd-2f55e2b6b812b117-01"
      },
      "ResponseBody": "[{\"id\":\"dtmi:com:samples:ComponentModelfb5d3499;1\",\"description\":{},\"displayName\":{\"en\":\"Component1\"},\"decommissioned\":false,\"uploadTime\":\"2025-07-09T21:50:31.5087583+00:00\"}]"
    },
[...]
    {
      "RequestUri": "https://Sanitized.api.wcus.digitaltwins.azure.net/models/dtmi:com:samples:ComponentModelfb5d3499;1?api-version=2023-10-31",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Content-Type": "application/json-patch+json"
      },
      "RequestBody": "[{\"op\": \"replace\", \"path\": \"/decommissioned\", \"value\": true}]",
      "StatusCode": 204,
      "ResponseHeaders": {
        "mise-correlation-id": "ee0fb0c0-81e4-43d5-99a4-54221b02d477",
        "traceresponse": "00-48ae1d7e0569bfecfabc749bbbc9b32e-ab88b33c724a1460-01"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.api.wcus.digitaltwins.azure.net/models/dtmi:com:samples:ComponentModelfb5d3499;1?includeModelDefinition=false&api-version=2023-10-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "a10fa426-fc82-473b-a004-8c81b9422928",
        "traceresponse": "00-b39fb6d96055b3e7f64a5dfd7fdbce84-9346cad28debefad-01"
      },
      "ResponseBody": {
        "id": "dtmi:com:samples:ComponentModelfb5d3499;1",
        "description": {},
        "displayName": {
          "en": "Component1"
        },
        "decommissioned": true,
        "uploadTime": "2025-07-09T21:50:31.5087583+00:00"
      }
    }
  ],
  "Variables": {}
}
