{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.api.wcus.digitaltwins.azure.net/models?includeModelDefinition=false&api-version=2023-10-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "b5bfbf72-f8f2-4e2a-8583-1d39f30f1622",
        "traceresponse": "00-c72c0579793d079dfa239b87a146fb22-8290a3935b2d898e-01"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "dtmi:samples:DTTestBuilding;1",
            "description": {},
            "displayName": {
              "en": "Building"
            },
            "decommissioned": false,
            "uploadTime": "2025-07-14T01:46:00.4618595+00:00"
          }
        ],
        "nextLink": null
      }
    },
    {
      "RequestUri": "https://Sanitized.api.wcus.digitaltwins.azure.net/models/dtmi:samples:DTTestBuilding;1?api-version=2023-10-31",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "mise-correlation-id": "5ada9f92-dc17-4fcf-aba1-e9d5504a8fb0",
        "traceresponse": "00-86fa07142c089b426f5e8223176cf407-565985836adbdee9-01"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://Sanitized.api.wcus.digitaltwins.azure.net/models?api-version=2023-10-31",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": "[{\"@id\": \"dtmi:samples:DTTestBuilding;1\", \"@type\": \"Interface\", \"@context\": \"dtmi:dtdl:context;2\", \"displayName\": \"Building\", \"contents\": [{\"@type\": \"Property\", \"name\": \"AverageTemperature\", \"schema\": \"double\"}, {\"@type\": \"Property\", \"name\": \"TemperatureUnit\", \"schema\": \"string\"}]}]",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "b2dfcb0e-f216-4c7b-8843-e36100e0cae3",
        "traceresponse": "00-3b0c46b4ed7e5c6800e0f7f832a6d4be-90f95f8d92af4e41-01"
      },
      "ResponseBody": "[{\"id\":\"dtmi:samples:DTTestBuilding;1\",\"description\":{},\"displayName\":{\"en\":\"Building\"},\"decommissioned\":false,\"uploadTime\":\"2025-07-14T01:46:04.7968378+00:00\"}]"
    },
    {
      "RequestUri": "https://Sanitized.api.wcus.digitaltwins.azure.net/digitaltwins/digitalTwin-9bf033e8?api-version=2023-10-31",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "mise-correlation-id": "8dafefcf-25ac-4949-860d-25cba033257c",
        "traceresponse": "00-b0b89ef143de20dae22a2a63eb6a1aa4-08606bee9abacf9d-01"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.api.wcus.digitaltwins.azure.net/digitaltwins/digitalTwin-9bf033e8?api-version=2023-10-31",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "$metadata": {
          "$model": "dtmi:samples:DTTestBuilding;1"
        },
        "AverageTemperature": 68,
        "TemperatureUnit": "Celsius"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\"bc906186-564d-4afd-93b0-614f532d69bc\"",
        "mise-correlation-id": "6af11ed3-64a6-4754-98f6-85be9fcd5790",
        "traceresponse": "00-fb4c3c2f97e999cbd1deda692f035479-a2746113515a05f8-01"
      },
      "ResponseBody": {
        "$dtId": "digitalTwin-9bf033e8",
        "$etag": "W/\"bc906186-564d-4afd-93b0-614f532d69bc\"",
        "AverageTemperature": 68,
        "TemperatureUnit": "Celsius",
        "$metadata": {
          "$model": "dtmi:samples:DTTestBuilding;1",
          "$lastUpdateTime": "2025-07-14T01:46:05.0723036Z",
          "AverageTemperature": {
            "lastUpdateTime": "2025-07-14T01:46:05.0723036Z"
          },
          "TemperatureUnit": {
            "lastUpdateTime": "2025-07-14T01:46:05.0723036Z"
          }
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.api.wcus.digitaltwins.azure.net/digitaltwins/digitalTwin-9bf033e8?api-version=2023-10-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\"bc906186-564d-4afd-93b0-614f532d69bc\"",
        "mise-correlation-id": "db32a47f-5d40-4bc7-adfe-81bea3b3f092",
        "traceresponse": "00-ecbf65ecfc5d86c18e6c7b1967768baa-66f45d94f59885c8-01"
      },
      "ResponseBody": {
        "$dtId": "digitalTwin-9bf033e8",
        "$etag": "W/\"bc906186-564d-4afd-93b0-614f532d69bc\"",
        "AverageTemperature": 68,
        "TemperatureUnit": "Celsius",
        "$metadata": {
          "$model": "dtmi:samples:DTTestBuilding;1",
          "$lastUpdateTime": "2025-07-14T01:46:05.0723036Z",
          "AverageTemperature": {
            "lastUpdateTime": "2025-07-14T01:46:05.0723036Z"
          },
          "TemperatureUnit": {
            "lastUpdateTime": "2025-07-14T01:46:05.0723036Z"
          }
        }
      }
    }
  ],
  "Variables": {}
}
