{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.api.wcus.digitaltwins.azure.net/models/dtmi%3Acom%3Asamples%3AComponentModel574a3169%3B1?includeModelDefinition=false&api-version=2023-10-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "33d4b02a-55ee-43b1-8224-cb680abf2215",
        "traceresponse": "00-5f1b8702e16fc756fca3df418565257e-fc65c9bf374522fc-01",
        "x-ms-error-code": "ModelNotFound"
      },
      "ResponseBody": {
        "error": {
          "code": "ModelNotFound",
          "message": "There is no Model(s) available that matches the provided id(s) dtmi:com:samples:ComponentModel574a3169;1. Check that the Model ID provided is valid by doing a Model_List API call."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.api.wcus.digitaltwins.azure.net/models?api-version=2023-10-31",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": "[{\"@id\": \"dtmi:com:samples:ComponentModel574a3169;1\", \"@type\": \"Interface\", \"@context\": [\"dtmi:dtdl:context;2\"], \"displayName\": \"Component1\", \"contents\": [{\"@type\": \"Property\", \"name\": \"ComponentProp1\", \"schema\": \"string\"}, {\"@type\": \"Telemetry\", \"name\": \"ComponentTelemetry1\", \"schema\": \"integer\"}]}]",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "d7207d40-c609-4588-b9a6-f86d1611ee99",
        "traceresponse": "00-4317b47658f1ee058e53908ef9223fd1-2d1f8671d09f782a-01"
      },
      "ResponseBody": "[{\"id\":\"dtmi:com:samples:ComponentModel574a3169;1\",\"description\":{},\"displayName\":{\"en\":\"Component1\"},\"decommissioned\":false,\"uploadTime\":\"2025-07-09T21:49:14.0366612+00:00\"}]"
    },
    {
      "RequestUri": "https://Sanitized.api.wcus.digitaltwins.azure.net/models?includeModelDefinition=true&api-version=2023-10-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "9f7fdf7a-8e7e-40a5-abf6-e9808fffad42",
        "traceresponse": "00-9e17119dd65eb2c661f9bde64ecabab6-d6fdb6e460032b32-01"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "dtmi:samples:DTTestBuilding;1",
            "description": {},
            "displayName": {
              "en": "Building"
            },
            "decommissioned": false,
            "uploadTime": "2025-07-09T21:47:35.1383229+00:00",
            "model": {
              "@id": "dtmi:samples:DTTestBuilding;1",
              "@type": "Interface",
              "@context": "dtmi:dtdl:context;2",
              "displayName": "Building",
              "contents": [
                {
                  "@type": "Property",
                  "name": "AverageTemperature",
                  "schema": "double"
                },
                {
                  "@type": "Property",
                  "name": "TemperatureUnit",
                  "schema"[...]
