{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.api.wcus.digitaltwins.azure.net/models?includeModelDefinition=false&api-version=2023-10-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "18f9e9a3-1e68-4f4f-95a0-e5db26cdb1e0",
        "traceresponse": "00-53e4cba2bb3944feb58eab79e9462c86-090ffb2a8f0ff399-01"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "dtmi:samples:DTTestBuilding;1",
            "description": {},
            "displayName": {
              "en": "Building"
            },
            "decommissioned": false,
            "uploadTime": "2025-07-09T21:47:35.1383229+00:00"
          },
          {
            "id": "dtmi:com:samples:ComponentModelbbab2b7e;1",
            "description": {},
            "displayName": {
              "en": "Component1"
            },
            "decommissioned": false,
            "uploadTime": "2025-07-09T21:48:43.0637734+00:00"
          },
          {
            "id": "dtmi:com:samples:TempModelbbab2b7e;1",
            "description": {},
            "displayName": {
              "en": "Temp[...]
    {
      "RequestUri": "https://Sanitized.api.wcus.digitaltwins.azure.net/models/dtmi%3Asamples%3ADTTestBuilding%3B1?api-version=2023-10-31",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "mise-correlation-id": "4c854174-3bc1-463f-b78e-3e13fb1839c1",
        "traceresponse": "00-7278ea7ee74c7265ac7edd3e9864bb96-919ab8e9f7eccd78-01"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.api.wcus.digitaltwins.azure.net/models/dtmi%3Acom%3Asamples%3AComponentModelbbab2b7e%3B1?api-version=2023-10-31",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 409,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "6d8baad6-2946-469b-ade3-622befd77e27",
        "traceresponse": "00-7d3f2796ace2b39ece087e4292fe6f84-94518b2f5d414158-01",
        "x-ms-error-code": "ModelReferencesNotDeleted"
      },
      "ResponseBody": {
        "error": {
          "code": "ModelReferencesNotDeleted",
          "message": "This model is currently being referenced by dtmi:com:samples:TempModelbbab2b7e;1. You must delete these references before deleting the Model.. To delete references, do Delete Model on Ids provided above."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.api.wcus.digitaltwins.azure.net/models/dtmi%3Acom%3Asamples%3ATempModelbbab2b7e%3B1?api-version=2023-10-31",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "mise-correlation-id": "56dc9c60-f266-400a-8ef8-f916bef30896",
        "traceresponse": "00-5c76e441e3d8a16957d5bba4fe84f131-499b2518b9aff12e-01"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://Sanitized.api.wcus.digitaltwins.azure.net/models?includeModelDefinition=false&api-version=2023-10-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "83029837-d854-4307-85fb-42204274aec5",
        "traceresponse": "00-567d7c70a6a14d75f87968e363f6c0e2-d35d5b1094e76f03-01"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "dtmi:com:samples:ComponentModelbbab2b7e;1",
            "description": {},
            "displayName": {
              "en": "Component1"
            },
            "decommissioned": false,
            "uploadTime": "2025-07-09T21:48:43.0637734+00:00"
          },
          {
            "id": "dtmi:com:samples:ComponentModelf2ca3276;1",
            "description": {},
            "displayName": {
              "en": "Component1"
            },
            "decommissioned": false,
            "uploadTime": "2025-07-09T21:49:51.9071373+00:00"
          }
        ],
        "nextLink": null
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.api.wcus.digitaltwins.azure.net/digitaltwins/DTRelationshipTestsRoomTwin/relationships?api-version=2023-10-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "b2b3a2ba-4a2f-413a-94d6-6e55f2aaf71c",
        "traceresponse": "00-83821b0c52bee7b0ee9942a3c557e6b7-5aa0702f70ba8a1c-01",
        "x-ms-error-code": "DigitalTwinNotFound"
      },
      "ResponseBody": {
        "error": {
          "code": "DigitalTwinNotFound",
          "message": "There is no digital twin instance that exists with the ID DTRelationshipTestsRoomTwin. Please verify that the twin id is valid and ensure that the twin is not deleted. See section on querying the twins https://aka.ms/adtv2query."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.api.wcus.digitaltwins.azure.net/digitaltwins/DTRelationshipTestsFloorTwin/relationships?api-version=2023-10-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "713affe0-9f33-414f-b46b-8859c7bca624",
        "traceresponse": "00-fe0674c91d893622c5ef7c9306f0ac29-2176976650958c36-01",
        "x-ms-error-code": "DigitalTwinNotFound"
      },
      "ResponseBody": {
        "error": {
          "code": "DigitalTwinNotFound",
          "message": "There is no digital twin instance that exists with the ID DTRelationshipTestsFloorTwin. Please verify that the twin id is valid and ensure that the twin is not deleted. See section on querying the twins https://aka.ms/adtv2query."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.api.wcus.digitaltwins.azure.net/digitaltwins/DTRelationshipTestsBuildingTwin/relationships?api-version=2023-10-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "fdf0a0a3-9b76-4f45-8853-652b97aae4c8",
        "traceresponse": "00-273cd4bcd6d2a4f95ca94fb6cbccf357-55528e26e0faf29a-01",
        "x-ms-error-code": "DigitalTwinNotFound"
      },
      "ResponseBody": {
        "error": {
          "code": "DigitalTwinNotFound",
          "message": "There is no digital twin instance that exists with the ID DTRelationshipTestsBuildingTwin. Please verify that the twin id is valid and ensure that the twin is not deleted. See section on querying the twins https://aka.ms/adtv2query."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.api.wcus.digitaltwins.azure.net/digitaltwins/DTRelationshipTestsRoomTwin?api-version=2023-10-31",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "c839321a-31a3-4300-9c77-96b1cca7ab05",
        "traceresponse": "00-64d6fe3d6c93c35c83f493b1531a9e15-43e3f9e746dbf667-01",
        "x-ms-error-code": "DigitalTwinNotFound"
      },
      "ResponseBody": {
        "error": {
          "code": "DigitalTwinNotFound",
          "message": "There is no digital twin instance that exists with the ID DTRelationshipTestsRoomTwin. Please verify that the twin id is valid and ensure that the twin is not deleted. See section on querying the twins https://aka.ms/adtv2query."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.api.wcus.digitaltwins.azure.net/digitaltwins/DTRelationshipTestsFloorTwin?api-version=2023-10-31",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "63f773f9-0b88-4a06-a737-5422d34f2567",
        "traceresponse": "00-4194387d426388c0fe441408b5c8bb6a-5334ef4b8fed6bcf-01",
        "x-ms-error-code": "DigitalTwinNotFound"
      },
      "ResponseBody": {
        "error": {
          "code": "DigitalTwinNotFound",
          "message": "There is no digital twin instance that exists with the ID DTRelationshipTestsFloorTwin. Please verify that the twin id is valid and ensure that the twin is not deleted. See section on querying the twins https://aka.ms/adtv2query."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.api.wcus.digitaltwins.azure.net/digitaltwins/DTRelationshipTestsBuildingTwin?api-version=2023-10-31",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "08862e41-19ed-4325-a337-97344c89dbf1",
        "traceresponse": "00-9081f0c1cc789924c0e5ffb0240cb59c-9b7c976ea26ca0cf-01",
        "x-ms-error-code": "DigitalTwinNotFound"
      },
      "ResponseBody": {
        "error": {
          "code": "DigitalTwinNotFound",
          "message": "There is no digital twin instance that exists with the ID DTRelationshipTestsBuildingTwin. Please verify that the twin id is valid and ensure that the twin is not deleted. See section on querying the twins https://aka.ms/adtv2query."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.api.wcus.digitaltwins.azure.net/models?api-version=2023-10-31",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": "[{\"@id\": \"dtmi:samples:RelationshipTestBuilding;1\", \"@type\": \"Interface\", \"@context\": \"dtmi:dtdl:context;2\", \"displayName\": \"Building\", \"contents\": [{\"@type\": \"Relationship\", \"name\": \"has\", \"target\": \"dtmi:samples:RelationshipTestFloor;1\", \"properties\": [{\"@type\": \"Property\", \"name\": \"isAccessRestricted\", \"schema\": \"boolean\"}]}, {\"@type\": \"Property\", \"name\": \"AverageTemperature\", \"schema\": \"double\"}]}, {\"@id\": \"dtmi:samples:RelationshipTestFloor;1\", \"@type\": \"Interface\", \"@context\": \"dtmi:dtdl:context;2\", \"displayName\": \"Floor\", \"contents\": [{\"@type\": \"Relationship\", \"name\": \"contains\", \"target\": \"dtmi:samples:RelationshipTestRoom;1\"}, {\"@type\": \"Property\", \"name\": \"AverageTemperature\", \"schema\": \"double\"}]}, {\"@id\": \"dtmi:samples:RelationshipTest[...]
    {
      "RequestUri": "https://Sanitized.api.wcus.digitaltwins.azure.net/digitaltwins/DTRelationshipTestsBuildingTwin?api-version=2023-10-31",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "$metadata": {
          "$model": "dtmi:samples:RelationshipTestBuilding;1"
        },
        "AverageTemperature": 68
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\"b5953309-afab-466b-90bc-13ea62c1be21\"",
        "mise-correlation-id": "2171af11-aaa9-4bfd-87b7-c6e36514d97d",
        "traceresponse": "00-5191ffb4993359d2c3c4fdd8edd1b408-fa27168b1fca0dde-01"
      },
      "ResponseBody": {
        "$dtId": "DTRelationshipTestsBuildingTwin",
        "$etag": "W/\"b5953309-afab-466b-90bc-13ea62c1be21\"",
        "AverageTemperature": 68,
        "$metadata": {
          "$model": "dtmi:samples:RelationshipTestBuilding;1",
          "$lastUpdateTime": "2025-07-09T21:51:10.8661648Z",
          "AverageTemperature": {
            "lastUpdateTime": "2025-07-09T21:51:10.8661648Z"
          }
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.api.wcus.digitaltwins.azure.net/digitaltwins/DTRelationshipTestsRoomTwin?api-version=2023-10-31",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "$metadata": {
          "$model": "dtmi:samples:RelationshipTestRoom;1"
        },
        "Temperature": 80,
        "IsOccupied": true
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\"01ce4b9e-459c-410e-9d7a-d291aa10c8c3\"",
        "mise-correlation-id": "db1425c5-6f87-4d71-a814-02147605c4a3",
        "traceresponse": "00-ae083d3d541a1e50e9b16b21f1540314-63d60d4f6c72f473-01"
      },
      "ResponseBody": {
        "$dtId": "DTRelationshipTestsRoomTwin",
        "$etag": "W/\"01ce4b9e-459c-410e-9d7a-d291aa10c8c3\"",
        "Temperature": 80,
        "IsOccupied": true,
        "$metadata": {
          "$model": "dtmi:samples:RelationshipTestRoom;1",
          "$lastUpdateTime": "2025-07-09T21:51:11.1447297Z",
          "Temperature": {
            "lastUpdateTime": "2025-07-09T21:51:11.1447297Z"
          },
          "IsOccupied": {
            "lastUpdateTime": "2025-07-09T21:51:11.1447297Z"
          }
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.api.wcus.digitaltwins.azure.net/digitaltwins/DTRelationshipTestsFloorTwin/relationships/FloorContainsRoom?api-version=2023-10-31",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "$relationshipId": "FloorContainsRoom",
        "$sourceId": "DTRelationshipTestsFloorTwin",
        "$relationshipName": "contains",
        "$targetId": "DTRelationshipTestsRoomTwin"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\"5e98e61b-6bb1-49b6-82f5-0a9e3ec17026\"",
        "mise-correlation-id": "f1d787d8-4092-4e0f-a0fe-1094a65efaf9",
        "traceresponse": "00-75b9ec141cb52e68f45af1e239f0980c-2b7cfcdb8baaf6de-01"
      },
      "ResponseBody": {
        "$relationshipId": "FloorContainsRoom",
        "$etag": "W/\"5e98e61b-6bb1-49b6-82f5-0a9e3ec17026\"",
        "$sourceId": "DTRelationshipTestsFloorTwin",
        "$relationshipName": "contains",
        "$targetId": "DTRelationshipTestsRoomTwin"
      }
    }
  ],
  "Variables": {}
}
