{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.api.wcus.digitaltwins.azure.net/models?includeModelDefinition=false&api-version=2023-10-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "4ab79554-6ff3-49dd-9519-91df60d4ec7b",
        "traceresponse": "00-d29ca48bd6e0f5fd8fc1b99c09785a6a-f10322ee5521aef2-01"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "dtmi:samples:RelationshipTestBuilding;1",
            "description": {},
            "displayName": {
              "en": "Building"
            },
            "decommissioned": false,
            "uploadTime": "2025-07-09T21:54:03.8527834+00:00"
          },
          {
            "id": "dtmi:samples:RelationshipTestFloor;1",
            "description": {},
            "displayName": {
              "en": "Floor"
            },
            "decommissioned": false,
            "uploadTime": "2025-07-09T21:54:03.8528013+00:00"
          },
          {
            "id": "dtmi:samples:RelationshipTestRoom;1",
            "description": {},
            "displayName": {
              "en": "Room"
            },
            "decommissioned": false,
            "uploadTime": "2025-07-09T21:54:03.8528112+00:00"
          }
        ],
        "nextLink": null
      }
    },
    {
      "RequestUri": "https://Sanitized.api.wcus.digitaltwins.azure.net/models/dtmi:samples:RelationshipTestBuilding;1?api-version=2023-10-31",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "mise-correlation-id": "56f449f1-cf5a-4a76-88aa-1f8750c15e4b",
        "traceresponse": "00-eb3efaeee34af401b9a16bf6a7a205d1-73b6f8d0b49f623f-01"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.api.wcus.digitaltwins.azure.net/models/dtmi:samples:RelationshipTestFloor;1?api-version=2023-10-31",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "mise-correlation-id": "674cb393-41a0-48f4-8d54-6fb5dc42c83f",
        "traceresponse": "00-61ec86345928cfec3d5e580b2305b9f7-23df01c78039c7de-01"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.api.wcus.digitaltwins.azure.net/models/dtmi:samples:RelationshipTestRoom;1?api-version=2023-10-31",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "mise-correlation-id": "9025e12e-fd85-4e00-98ba-402710e60812",
        "traceresponse": "00-65cbcba88a30393950d103a42f2cf33f-32bf6dcde3c7f44d-01"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://Sanitized.api.wcus.digitaltwins.azure.net/digitaltwins/DTRelationshipTestsRoomTwin/relationships?api-version=2023-10-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "7d4743de-a66a-4c50-b057-a53e134df1e2",
        "traceresponse": "00-4de6acb80e97d20a21cc6f25578272f4-d694decf36784747-01"
      },
      "ResponseBody": {
        "nextLink": null,
        "value": []
      }
    },
    {
      "RequestUri": "https://Sanitized.api.wcus.digitaltwins.azure.net/digitaltwins/DTRelationshipTestsFloorTwin/relationships?api-version=2023-10-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "8f83a5d6-94ad-4d7f-9682-6a6e3e2b85e4",
        "traceresponse": "00-737e11986684792ddde18adc72583f36-62898d3bec3303ef-01"
      },
      "ResponseBody": {
        "nextLink": null,
        "value": []
      }
    },
    {
      "RequestUri": "https://Sanitized.api.wcus.digitaltwins.azure.net/digitaltwins/DTRelationshipTestsBuildingTwin/relationships?api-version=2023-10-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "5bc076b3-cc40-4b6d-9bad-eafac1c92dae",
        "traceresponse": "00-796caf4be560b20faada3b29e0989f27-324e5718fb44c1d0-01"
      },
      "ResponseBody": {
        "nextLink": null,
        "value": []
      }
    },
    {
      "RequestUri": "https://Sanitized.api.wcus.digitaltwins.azure.net/digitaltwins/DTRelationshipTestsRoomTwin?api-version=2023-10-31",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "mise-correlation-id": "36b81535-2e89-4380-9646-76c7567c0191",
        "traceresponse": "00-f49203659fec2bf900144a9e5b627dec-d0a50472a78af48a-01"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.api.wcus.digitaltwins.azure.net/digitaltwins/DTRelationshipTestsFloorTwin?api-version=2023-10-31",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "mise-correlation-id": "7ea0b6a8-4479-4bec-aa2c-e80bfeaaf8ac",
        "traceresponse": "00-e87ebd0a46f1d6cd74e3657a9b3269da-c85e19771293bb16-01"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.api.wcus.digitaltwins.azure.net/digitaltwins/DTRelationshipTestsBuildingTwin?api-version=2023-10-31",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "mise-correlation-id": "f1d736b5-314a-4e0a-9a74-5297cc72dbc6",
        "traceresponse": "00-e318db64c46c20a1cc4c024b5a4efb05-95d4f32f370e6430-01"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.api.wcus.digitaltwins.azure.net/models?api-version=2023-10-31",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": "[{\"@id\": \"dtmi:samples:RelationshipTestBuilding;1\", \"@type\": \"Interface\", \"@context\": \"dtmi:dtdl:context;2\", \"displayName\": \"Building\", \"contents\": [{\"@type\": \"Relationship\", \"name\": \"has\", \"target\": \"dtmi:samples:RelationshipTestFloor;1\", \"properties\": [{\"@type\": \"Property\", \"name\": \"isAccessRestricted\", \"schema\": \"boolean\"}]}, {\"@type\": \"Property\", \"name\": \"AverageTemperature\", \"schema\": \"double\"}]}, {\"@id\": \"dtmi:samples:RelationshipTestFloor;1\", \"@type\": \"Interface\", \"@context\": \"dtmi:dtdl:context;2\", \"displayName\": \"Floor\", \"contents\": [{\"@type\": \"Relationship\", \"name\": \"contains\", \"target\": \"dtmi:samples:RelationshipTestRoom;1\"}, {\"@type\": \"Property\", \"name\": \"AverageTemperature\", \"schema\": \"double\"}]}, {\"@id\": \"dtmi:samples:RelationshipTest[...]
    {
      "RequestUri": "https://Sanitized.api.wcus.digitaltwins.azure.net/digitaltwins/DTRelationshipTestsBuildingTwin?api-version=2023-10-31",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "$metadata": {
          "$model": "dtmi:samples:RelationshipTestBuilding;1"
        },
        "AverageTemperature": 68
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\"c8403615-3a7b-423b-9da3-f631f47af1ba\"",
        "mise-correlation-id": "c5db9d9b-1007-4f6c-8216-dfae330ceaec",
        "traceresponse": "00-db1ba8367aae1a48ae091856b2f032fc-20225a06a56e1cfd-01"
      },
      "ResponseBody": {
        "$dtId": "DTRelationshipTestsBuildingTwin",
        "$etag": "W/\"c8403615-3a7b-423b-9da3-f631f47af1ba\"",
        "AverageTemperature": 68,
        "$metadata": {
          "$model": "dtmi:samples:RelationshipTestBuilding;1",
          "$lastUpdateTime": "2025-07-09T21:54:09.7523387Z",
          "AverageTemperature": {
            "lastUpdateTime": "2025-07-09T21:54:09.7523387Z"
          }
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.api.wcus.digitaltwins.azure.net/digitaltwins/DTRelationshipTestsRoomTwin?api-version=2023-10-31",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "$metadata": {
          "$model": "dtmi:samples:RelationshipTestRoom;1"
        },
        "Temperature": 80,
        "IsOccupied": true
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\"273ebd2b-75d1-4ec4-b2f0-85209142e023\"",
        "mise-correlation-id": "557a3b91-ee2e-44df-81a4-1b7f9be27030",
        "traceresponse": "00-4683aafd5903913d733c4ac9b6072cf0-73c3e786e9df2672-01"
      },
      "ResponseBody": {
        "$dtId": "DTRelationshipTestsRoomTwin",
        "$etag": "W/\"273ebd2b-75d1-4ec4-b2f0-85209142e023\"",
        "Temperature": 80,
        "IsOccupied": true,
        "$metadata": {
          "$model": "dtmi:samples:RelationshipTestRoom;1",
          "$lastUpdateTime": "2025-07-09T21:54:09.9577575Z",
          "Temperature": {
            "lastUpdateTime": "2025-07-09T21:54:09.9577575Z"
          },
          "IsOccupied": {
            "lastUpdateTime": "2025-07-09T21:54:09.9577575Z"
          }
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.api.wcus.digitaltwins.azure.net/digitaltwins/DTRelationshipTestsBuildingTwin/relationships/BuildingHasFloor?api-version=2023-10-31",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "$relationshipId": "BuildingHasFloor",
        "$sourceId": "DTRelationshipTestsBuildingTwin",
        "$relationshipName": "has",
        "$targetId": "DTRelationshipTestsFloorTwin",
        "isAccessRestricted": false
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\"91feabe9-2e7c-4624-825a-561c25be277f\"",
        "mise-correlation-id": "427a5de5-0df5-4c48-b3b8-542a7003900e",
        "traceresponse": "00-c6f6903738234406a7347ed1b4089ae3-d397cdc12f2823c9-01"
      },
      "ResponseBody": {
        "$relationshipId": "BuildingHasFloor",
        "$etag": "W/\"91feabe9-2e7c-4624-825a-561c25be277f\"",
        "$sourceId": "DTRelationshipTestsBuildingTwin",
        "$relationshipName": "has",
        "$targetId": "DTRelationshipTestsFloorTwin",
        "isAccessRestricted": false
      }
    },
    {
      "RequestUri": "https://Sanitized.api.wcus.digitaltwins.azure.net/digitaltwins/DTRelationshipTestsBuildingTwin/relationships/BuildingHasFloor?api-version=2023-10-31",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "If-Match": "*"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "mise-correlation-id": "ea63eaae-57f7-402b-8421-b906c01e352d",
        "traceresponse": "00-f556f1df96813924784ef7bea6ec9d06-1af159b6659297fc-01"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.api.wcus.digitaltwins.azure.net/digitaltwins/DTRelationshipTestsBuildingTwin/relationships/BuildingHasFloor?api-version=2023-10-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "c9091aca-9e2a-40b2-bb85-2d87085ddee4",
        "traceresponse": "00-c651403fbba59b061abdd88289709942-04f41f01ee542e2c-01",
        "x-ms-error-code": "RelationshipNotFound"
      },
      "ResponseBody": {
        "error": {
          "code": "RelationshipNotFound",
          "message": "Relationship BuildingHasFloor not found on twin DTRelationshipTestsBuildingTwin. Please verify that the relationship id is valid and ensure that the relationship is not deleted. See section on listing relationships in the documentation https://aka.ms/adtv2twins."
        }
      }
    }
  ],
  "Variables": {}
}
