{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.api.wcus.digitaltwins.azure.net/models/dtmi:com:samples:ComponentModel96c73957;1?includeModelDefinition=false&api-version=2023-10-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "b1977f44-144d-4cb8-ae2d-735a84f821cb",
        "traceresponse": "00-ede8b621e3f892f7bf83280b056aac8a-969eb1757fff430e-01",
        "x-ms-error-code": "ModelNotFound"
      },
      "ResponseBody": {
        "error": {
          "code": "ModelNotFound",
          "message": "There is no Model(s) available that matches the provided id(s) dtmi:com:samples:ComponentModel96c73957;1. Check that the Model ID provided is valid by doing a Model_List API call."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.api.wcus.digitaltwins.azure.net/models/dtmi:com:samples:TempModel96c73957;1?includeModelDefinition=false&api-version=2023-10-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "567367a4-c7df-4488-ad75-78aa1020abfe",
        "traceresponse": "00-acd8be0bf83a00567e92b98852b57294-ebb7ae67d02d647e-01",
        "x-ms-error-code": "ModelNotFound"
      },
      "ResponseBody": {
        "error": {
          "code": "ModelNotFound",
          "message": "There is no Model(s) available that matches the provided id(s) dtmi:com:samples:TempModel96c73957;1. Check that the Model ID provided is valid by doing a Model_List API call."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.api.wcus.digitaltwins.azure.net/models?api-version=2023-10-31",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": "[{\"@id\": \"dtmi:com:samples:TempModel96c73957;1\", \"@type\": \"Interface\", \"@context\": \"dtmi:dtdl:context;2\", \"displayName\": \"TempModel\", \"contents\": [{\"@type\": \"Property\", \"name\": \"Prop1\", \"schema\": \"string\"}, {\"@type\": \"Component\", \"name\": \"Component1\", \"schema\": \"dtmi:com:samples:ComponentModel96c73957;1\"}, {\"@type\": \"Telemetry\", \"name\": \"Telemetry1\", \"schema\": \"integer\"}]}]",
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "8a4e14eb-47a5-400b-82ee-a2c7e9bce0bc",
        "traceresponse": "00-767887fd7c0a512fa9a897e67170ec64-2cf24bea5328b3ec-01",
        "x-ms-error-code": "DTDLParserError"
      },
      "ResponseBody": {
        "error": {
          "code": "DTDLParserError",
          "message": "None of the models in this request could be created due to a problem with one or more models: DtmiResolverAsync failed to resolve requisite references to element(s): dtmi:com:samples:ComponentModel96c73957;1 (referenced in 1 place). See model documentation(https://aka.ms/ADTv2Models) for supported format."
        }
      }
    }
  ],
  "Variables": {}
}
