{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.api.wcus.digitaltwins.azure.net/models?includeModelDefinition=false&api-version=2023-10-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "1b081083-6fc5-4782-b1aa-2353da624c1f",
        "traceresponse": "00-19d1fa733cfb25996a80a7a55c3b9d94-6da952657025c479-01"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "dtmi:com:samples:DTComponentTestsComponent;1",
            "description": {},
            "displayName": {
              "en": "Component1"
            },
            "decommissioned": false,
            "uploadTime": "2025-07-14T01:42:33.5366519+00:00"
          },
          {
            "id": "dtmi:com:samples:DTComponentTestsModel;1",
            "description": {},
            "displayName": {
              "en": "TempModel"
            },
            "decommissioned": false,
            "uploadTime": "2025-07-14T01:42:33.5366855+00:00"
          }
        ],
        "nextLink": null
      }
    },
    {
      "RequestUri": "https://Sanitized.api.wcus.digitaltwins.azure.net/models/dtmi:com:samples:DTComponentTestsComponent;1?api-version=2023-10-31",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 409,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "f57d4688-e384-4492-b66f-d8fc9e641e03",
        "traceresponse": "00-8f38c7e2d49cc2e28da9f7a2464dfb17-06df246d6e8d0d15-01",
        "x-ms-error-code": "ModelReferencesNotDeleted"
      },
      "ResponseBody": {
        "error": {
          "code": "ModelReferencesNotDeleted",
          "message": "This model is currently being referenced by dtmi:com:samples:DTComponentTestsModel;1. You must delete these references before deleting the Model.. To delete references, do Delete Model on Ids provided above."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.api.wcus.digitaltwins.azure.net/models/dtmi:com:samples:DTComponentTestsModel;1?api-version=2023-10-31",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "mise-correlation-id": "5cca35da-9cf7-42a3-bbf3-4fc0727d6380",
        "traceresponse": "00-06c59f3b43e93ade9f5172bb3e18b9f5-b3c1636f4f482a65-01"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://Sanitized.api.wcus.digitaltwins.azure.net/models?api-version=2023-10-31",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": "[{\"@id\": \"dtmi:com:samples:DTComponentTestsComponent;1\", \"@type\": \"Interface\", \"@context\": \"dtmi:dtdl:context;2\", \"displayName\": \"Component1\", \"contents\": [{\"@type\": \"Property\", \"name\": \"ComponentProp1\", \"schema\": \"string\"}, {\"@type\": \"Telemetry\", \"name\": \"ComponentTelemetry1\", \"schema\": \"integer\"}]}, {\"@id\": \"dtmi:com:samples:DTComponentTestsModel;1\", \"@type\": \"Interface\", \"@context\": \"dtmi:dtdl:context;2\", \"displayName\": \"TempModel\", \"contents\": [{\"@type\": \"Property\", \"name\": \"Prop1\", \"schema\": \"string\"}, {\"@type\": \"Component\", \"name\": \"Component1\", \"schema\": \"dtmi:com:samples:DTComponentTestsComponent;1\"}, {\"@type\": \"Telemetry\", \"name\": \"Telemetry1\", \"schema\": \"integer\"}]}]",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "9e27dcdc-aeab-4fdc-b1a0-96c4556a7afd",
        "traceresponse": "00-77e1be42acda47f05c4f5ae2d17773ca-3da08f75c4a1d4e6-01"
      },
      "ResponseBody": "[{\"id\":\"dtmi:com:samples:DTComponentTestsComponent;1\",\"description\":{},\"displayName\":{\"en\":\"Component1\"},\"decommissioned\":false,\"uploadTime\":\"2025-07-14T01:42:38.7188789+00:00\"},{\"id\":\"dtmi:com:samples:DTComponentTestsModel;1\",\"description\":{},\"displayName\":{\"en\":\"TempModel\"},\"decommissioned\":false,\"uploadTime\":\"2025-07-14T01:42:38.7188975+00:00\"}]"
    },
    {
      "RequestUri": "https://Sanitized.api.wcus.digitaltwins.azure.net/digitaltwins/DTComponentTestsTempTwin?api-version=2023-10-31",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "$metadata": {
          "$model": "dtmi:com:samples:DTComponentTestsModel;1"
        },
        "Prop1": "value",
        "Component1": {
          "$metadata": {},
          "ComponentProp1": "value1"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\"f026dd40-175d-4ba4-8831-628607475476\"",
        "mise-correlation-id": "3eb1cf59-b3b2-49ab-8e93-3a91e1002655",
        "traceresponse": "00-ca09434d2b6b9a660f20e28dd07e75b3-572851da2676ea4f-01"
      },
      "ResponseBody": {
        "$dtId": "DTComponentTestsTempTwin",
        "$etag": "W/\"f026dd40-175d-4ba4-8831-628607475476\"",
        "Prop1": "value",
        "Component1": {
          "ComponentProp1": "value1",
          "$metadata": {
            "$lastUpdateTime": "2025-07-14T01:42:38.8524217Z",
            "ComponentProp1": {
              "lastUpdateTime": "2025-07-14T01:42:38.8524217Z"
            }
          }
        },
        "$metadata": {
          "$model": "dtmi:com:samples:DTComponentTestsModel;1",
          "$lastUpdateTime": "2025-07-14T01:42:38.8524217Z",
          "Prop1": {
            "lastUpdateTime": "2025-07-14T01:42:38.8524217Z"
          }
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.api.wcus.digitaltwins.azure.net/digitaltwins/DTComponentTestsTempTwin/components/Component1?api-version=2023-10-31",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Content-Type": "application/json-patch+json"
      },
      "RequestBody": "[{\"op\": \"remove\", \"path\": \"/ComponentProp1\"}]",
      "StatusCode": 204,
      "ResponseHeaders": {
        "ETag": "W/\"77858530-2e8d-49db-a22e-8d9661e0c9a6\"",
        "mise-correlation-id": "59c1127c-d535-47b6-a118-3863dee713ed",
        "traceresponse": "00-4045e0405844d40e1eba3e6a2283ce37-46c130a7c53bca18-01"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://Sanitized.api.wcus.digitaltwins.azure.net/digitaltwins/DTComponentTestsTempTwin?api-version=2023-10-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\"77858530-2e8d-49db-a22e-8d9661e0c9a6\"",
        "mise-correlation-id": "7cbdec6d-95c3-4c96-b637-588415088352",
        "traceresponse": "00-1d526abe1b0ba579b211a03b07f35b5b-0eab9a021ff0d5a9-01"
      },
      "ResponseBody": {
        "$dtId": "DTComponentTestsTempTwin",
        "$etag": "W/\"77858530-2e8d-49db-a22e-8d9661e0c9a6\"",
        "Prop1": "value",
        "Component1": {
          "$metadata": {
            "$lastUpdateTime": "2025-07-14T01:42:38.8524217Z"
          }
        },
        "$metadata": {
          "$model": "dtmi:com:samples:DTComponentTestsModel;1",
          "$lastUpdateTime": "2025-07-14T01:42:38.9690249Z",
          "Prop1": {
            "lastUpdateTime": "2025-07-14T01:42:38.8524217Z"
          }
        }
      }
    }
  ],
  "Variables": {}
}
