{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.api.wcus.digitaltwins.azure.net/models?includeModelDefinition=false&api-version=2023-10-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "fc4be765-9c08-46eb-9d79-b73790bceda5",
        "traceresponse": "00-f53e27618d17796c60e097e4158a469a-5814674e09d9e91b-01"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "dtmi:samples:DTTestBuilding;1",
            "description": {},
            "displayName": {
              "en": "Building"
            },
            "decommissioned": false,
            "uploadTime": "2025-07-09T21:46:45.5725974+00:00"
          }
        ],
        "nextLink": null
      }
    },
    {
      "RequestUri": "https://Sanitized.api.wcus.digitaltwins.azure.net/models/dtmi:samples:DTTestBuilding;1?api-version=2023-10-31",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "mise-correlation-id": "66f47211-1710-49db-abe5-a0f290211e49",
        "traceresponse": "00-159a28e970a125cf1f1c09b3fa65851b-57b86b04e3938807-01"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://Sanitized.api.wcus.digitaltwins.azure.net/models?api-version=2023-10-31",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": "[{\"@id\": \"dtmi:samples:DTTestBuilding;1\", \"@type\": \"Interface\", \"@context\": \"dtmi:dtdl:context;2\", \"displayName\": \"Building\", \"contents\": [{\"@type\": \"Property\", \"name\": \"AverageTemperature\", \"schema\": \"double\"}, {\"@type\": \"Property\", \"name\": \"TemperatureUnit\", \"schema\": \"string\"}]}]",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "0add794c-701a-4368-a251-13a8c9bd9db0",
        "traceresponse": "00-452b65e06b72a337a829a97a733c697c-3ff7d83c9586f640-01"
      },
      "ResponseBody": "[{\"id\":\"dtmi:samples:DTTestBuilding;1\",\"description\":{},\"displayName\":{\"en\":\"Building\"},\"decommissioned\":false,\"uploadTime\":\"2025-07-09T21:46:49.5288507+00:00\"}]"
    },
    {
      "RequestUri": "https://Sanitized.api.wcus.digitaltwins.azure.net/digitaltwins/digitalTwin-9bf033e8?api-version=2023-10-31",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "9dc6d0c7-e20a-4817-b6b3-be69b91d43f0",
        "traceresponse": "00-531ad5817cf5f7c910c631932894ff66-941b6cde67f339d6-01",
        "x-ms-error-code": "DigitalTwinNotFound"
      },
      "ResponseBody": {
        "error": {
          "code": "DigitalTwinNotFound",
          "message": "There is no digital twin instance that exists with the ID digitalTwin-9bf033e8. Please verify that the twin id is valid and ensure that the twin is not deleted. See section on querying the twins https://aka.ms/adtv2query."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.api.wcus.digitaltwins.azure.net/digitaltwins/digitalTwin-9bf033e8?api-version=2023-10-31",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "$metadata": {
          "$model": "dtmi:samples:DTTestBuilding;1"
        },
        "AverageTemperature": 68,
        "TemperatureUnit": "Celsius"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\"b87c7f87-5365-4caf-8b3b-d933dcdcdb83\"",
        "mise-correlation-id": "2f36931f-8f3b-4801-9f85-3b99a1867dbe",
        "traceresponse": "00-c69761e5a1304fd075a51256d4d233d2-95de6325c603cb8f-01"
      },
      "ResponseBody": {
        "$dtId": "digitalTwin-9bf033e8",
        "$etag": "W/\"b87c7f87-5365-4caf-8b3b-d933dcdcdb83\"",
        "AverageTemperature": 68,
        "TemperatureUnit": "Celsius",
        "$metadata": {
          "$model": "dtmi:samples:DTTestBuilding;1",
          "$lastUpdateTime": "2025-07-09T21:46:49.7611701Z",
          "AverageTemperature": {
            "lastUpdateTime": "2025-07-09T21:46:49.7611701Z"
          },
          "TemperatureUnit": {
            "lastUpdateTime": "2025-07-09T21:46:49.7611701Z"
          }
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.api.wcus.digitaltwins.azure.net/digitaltwins/digitalTwin-9bf033e8?api-version=2023-10-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\"b87c7f87-5365-4caf-8b3b-d933dcdcdb83\"",
        "mise-correlation-id": "156e81b9-c17a-4130-9a4a-92640c88c167",
        "traceresponse": "00-c49bf113c962ed057f0dff4e2c741628-13519edb1cc26cc7-01"
      },
      "ResponseBody": {
        "$dtId": "digitalTwin-9bf033e8",
        "$etag": "W/\"b87c7f87-5365-4caf-8b3b-d933dcdcdb83\"",
        "AverageTemperature": 68,
        "TemperatureUnit": "Celsius",
        "$metadata": {
          "$model": "dtmi:samples:DTTestBuilding;1",
          "$lastUpdateTime": "2025-07-09T21:46:49.7611701Z",
          "AverageTemperature": {
            "lastUpdateTime": "2025-07-09T21:46:49.7611701Z"
          },
          "TemperatureUnit": {
            "lastUpdateTime": "2025-07-09T21:46:49.7611701Z"
          }
        }
      }
    }
  ],
  "Variables": {}
}
