{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.api.wcus.digitaltwins.azure.net/digitaltwins/DTComponentTestsTempTwin/components/Component1/telemetry?api-version=2023-10-31",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "ComponentTelemetry1": 5
      },
      "StatusCode": 204,
      "ResponseHeaders": {
        "mise-correlation-id": "60a8a500-6e8b-4f55-ac28-26e9c42b9cdc",
        "traceresponse": "00-d78d325a0b169b5af040ac220738c7cb-375fa8eb2b53b6d5-01"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
