{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.api.wcus.digitaltwins.azure.net/models?includeModelDefinition=false&api-version=2023-10-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "1af81ae0-606d-4cf8-893a-ec211be8bcb7",
        "traceresponse": "00-46384d6ff200b0715cb1c38f49ba30e1-0e7dc509dc33d375-01"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "dtmi:com:samples:DTComponentTestsComponent;1",
            "description": {},
            "displayName": {
              "en": "Component1"
            },
            "decommissioned": false,
            "uploadTime": "2025-07-14T01:41:53.111899+00:00"
          },
          {
            "id": "dtmi:com:samples:DTComponentTestsModel;1",
            "description": {},
            "displayName": {
              "en": "TempModel"
            },
            "decommissioned": false,
            "uploadTime": "2025-07-14T01:41:53.1119198+00:00"
          }
        ],
        "nextLink": null
      }
    },
    {
      "RequestUri": "https://Sanitized.api.wcus.digitaltwins.azure.net/models/dtmi%3Acom%3Asamples%3ADTComponentTestsComponent%3B1?api-version=2023-10-31",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 409,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "80ea8851-f2cd-498b-b4dc-ab4c7793f8d9",
        "traceresponse": "00-a5ef5490766f0a8eb0d1974bb35ee121-6a7e06dcfb628b7e-01",
        "x-ms-error-code": "ModelReferencesNotDeleted"
      },
      "ResponseBody": {
        "error": {
          "code": "ModelReferencesNotDeleted",
          "message": "This model is currently being referenced by dtmi:com:samples:DTComponentTestsModel;1. You must delete these references before deleting the Model.. To delete references, do Delete Model on Ids provided above."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.api.wcus.digitaltwins.azure.net/models/dtmi%3Acom%3Asamples%3ADTComponentTestsModel%3B1?api-version=2023-10-31",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "mise-correlation-id": "78efb5e9-f549-40ef-9c19-bd54dbcf1d45",
        "traceresponse": "00-0e290db1af0785896db307cab4a72a70-e33788a274156655-01"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://Sanitized.api.wcus.digitaltwins.azure.net/models?api-version=2023-10-31",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": "[{\"@id\": \"dtmi:com:samples:DTComponentTestsComponent;1\", \"@type\": \"Interface\", \"@context\": \"dtmi:dtdl:context;2\", \"displayName\": \"Component1\", \"contents\": [{\"@type\": \"Property\", \"name\": \"ComponentProp1\", \"schema\": \"string\"}, {\"@type\": \"Telemetry\", \"name\": \"ComponentTelemetry1\", \"schema\": \"integer\"}]}, {\"@id\": \"dtmi:com:samples:DTComponentTestsModel;1\", \"@type\": \"Interface\", \"@context\": \"dtmi:dtdl:context;2\", \"displayName\": \"TempModel\", \"contents\": [{\"@type\": \"Property\", \"name\": \"Prop1\", \"schema\": \"string\"}, {\"@type\": \"Component\", \"name\": \"Component1\", \"schema\": \"dtmi:com:samples:DTComponentTestsComponent;1\"}, {\"@type\": \"Telemetry\", \"name\": \"Telemetry1\", \"schema\": \"integer\"}]}]",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "2c1ebae8-0a12-4f25-9074-b23e72a8f452",
        "traceresponse": "00-c336828a5b1c10b7f254510a56372d9a-9679cac92383a47f-01"
      },
      "ResponseBody": "[{\"id\":\"dtmi:com:samples:DTComponentTestsComponent;1\",\"description\":{},\"displayName\":{\"en\":\"Component1\"},\"decommissioned\":false,\"uploadTime\":\"2025-07-14T01:41:59.6564063+00:00\"},{\"id\":\"dtmi:com:samples:DTComponentTestsModel;1\",\"description\":{},\"displayName\":{\"en\":\"TempModel\"},\"decommissioned\":false,\"uploadTime\":\"2025-07-14T01:41:59.6564262+00:00\"}]"
    },
    {
      "RequestUri": "https://Sanitized.api.wcus.digitaltwins.azure.net/digitaltwins/DTComponentTestsTempTwin?api-version=2023-10-31",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "$metadata": {
          "$model": "dtmi:com:samples:DTComponentTestsModel;1"
        },
        "Prop1": "value",
        "Component1": {
          "$metadata": {},
          "ComponentProp1": "value1"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\"95535e61-d79c-4dc2-98d5-55da5fbb833e\"",
        "mise-correlation-id": "f2af9fbe-7562-408d-a6e7-8d712372a0fa",
        "traceresponse": "00-5a240da1b6b508cb4eaebf37c823ac19-6b892017e676c696-01"
      },
      "ResponseBody": {
        "$dtId": "DTComponentTestsTempTwin",
        "$etag": "W/\"95535e61-d79c-4dc2-98d5-55da5fbb833e\"",
        "Prop1": "value",
        "Component1": {
          "ComponentProp1": "value1",
          "$metadata": {
            "$lastUpdateTime": "2025-07-14T01:41:59.7540881Z",
            "ComponentProp1": {
              "lastUpdateTime": "2025-07-14T01:41:59.7540881Z"
            }
          }
        },
        "$metadata": {
          "$model": "dtmi:com:samples:DTComponentTestsModel;1",
          "$lastUpdateTime": "2025-07-14T01:41:59.7540881Z",
          "Prop1": {
            "lastUpdateTime": "2025-07-14T01:41:59.7540881Z"
          }
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.api.wcus.digitaltwins.azure.net/digitaltwins/DTComponentTestsTempTwin/components/Component1?api-version=2023-10-31",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Content-Type": "application/json-patch+json",
        "If-Match": "*"
      },
      "RequestBody": "[{\"op\": \"replace\", \"path\": \"/ComponentProp1\", \"value\": \"value2\"}]",
      "StatusCode": 204,
      "ResponseHeaders": {
        "ETag": "W/\"088d1a38-8695-42ec-9ff3-6602e4f34140\"",
        "mise-correlation-id": "53c814c8-3553-47ab-afe7-db75442c5647",
        "traceresponse": "00-535aebc32b3def07ed419d718bf03084-fb4e8d5c0142e7e7-01"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.api.wcus.digitaltwins.azure.net/digitaltwins/DTComponentTestsTempTwin/components/Component1?api-version=2023-10-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\"088d1a38-8695-42ec-9ff3-6602e4f34140\"",
        "mise-correlation-id": "5c1cbafb-4c0e-4ee0-8679-148f8742718d",
        "traceresponse": "00-72f239773cd361271734489bae9965ed-61dac4057276a1db-01"
      },
      "ResponseBody": {
        "ComponentProp1": "value2",
        "$metadata": {
          "$lastUpdateTime": "2025-07-14T01:41:59.8946865Z",
          "ComponentProp1": {
            "lastUpdateTime": "2025-07-14T01:41:59.8946865Z"
          }
        }
      }
    }
  ],
  "Variables": {}
}
