{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.api.wcus.digitaltwins.azure.net/models/dtmi:com:samples:ComponentModel38193e0c;1?includeModelDefinition=false&api-version=2023-10-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "b05484d8-5007-44a4-93fd-7633fd5ca029",
        "traceresponse": "00-9c2bc2e3cb3c7cdc0ce72b93a14bd3ee-4cb25663581d4cb4-01",
        "x-ms-error-code": "ModelNotFound"
      },
      "ResponseBody": {
        "error": {
          "code": "ModelNotFound",
          "message": "There is no Model(s) available that matches the provided id(s) dtmi:com:samples:ComponentModel38193e0c;1. Check that the Model ID provided is valid by doing a Model_List API call."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.api.wcus.digitaltwins.azure.net/models?api-version=2023-10-31",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": "[{\"@id\": \"dtmi:com:samples:ComponentModel38193e0c;1\", \"@type\": \"Interface\", \"@context\": \"dtmi:dtdl:context;2\", \"displayName\": \"Component1\", \"contents\": [{\"@type\": \"Property\", \"name\": \"ComponentProp1\", \"schema\": \"string\"}, {\"@type\": \"Telemetry\", \"name\": \"ComponentTelemetry1\", \"schema\": \"integer\"}]}]",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "a4343cca-bf8f-43e4-932c-1c48897ccbbe",
        "traceresponse": "00-6d18297793b2d848b6849dd2d43501bb-1cb5947e425f3efe-01"
      },
      "ResponseBody": "[{\"id\":\"dtmi:com:samples:ComponentModel38193e0c;1\",\"description\":{},\"displayName\":{\"en\":\"Component1\"},\"decommissioned\":false,\"uploadTime\":\"2025-07-14T01:50:24.7283829+00:00\"}]"
    },
[...]
    {
      "RequestUri": "https://Sanitized.api.wcus.digitaltwins.azure.net/models/dtmi:com:samples:ComponentModel38193e0c;1?api-version=2023-10-31",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Content-Type": "application/json-patch+json"
      },
      "RequestBody": "[{\"op\": \"replace\", \"path\": \"/decommissioned\", \"value\": true}]",
      "StatusCode": 204,
      "ResponseHeaders": {
        "mise-correlation-id": "f5aee0ca-2cfd-4829-b3f9-9040ff35d9fe",
        "traceresponse": "00-837b5dae61fb98787bba70f9e8baaddc-20a67868527350f0-01"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://Sanitized.api.wcus.digitaltwins.azure.net/models/dtmi:com:samples:ComponentModel38193e0c;1?includeModelDefinition=false&api-version=2023-10-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "cbea9d88-b70b-496f-ace5-04c0b5863a30",
        "traceresponse": "00-6990f4457d601f2799f18c33a3129390-de22403b9ea3c4b1-01"
      },
      "ResponseBody": {
        "id": "dtmi:com:samples:ComponentModel38193e0c;1",
        "description": {},
        "displayName": {
          "en": "Component1"
        },
        "decommissioned": true,
        "uploadTime": "2025-07-14T01:50:24.7283829+00:00"
      }
    }
  ],
  "Variables": {}
}
