{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.api.wcus.digitaltwins.azure.net/models?includeModelDefinition=false&api-version=2023-10-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "7f12d0a9-dbc7-46ed-b699-1f63314c5490",
        "traceresponse": "00-8811f151f119ea5dae919e402a179ddd-b0b6c7933f02b0df-01"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "dtmi:com:samples:DTComponentTestsComponent;1",
            "description": {},
            "displayName": {
              "en": "Component1"
            },
            "decommissioned": false,
            "uploadTime": "2025-07-14T01:42:48.9850083+00:00"
          },
          {
            "id": "dtmi:com:samples:DTComponentTestsModel;1",
            "description": {},
            "displayName": {
              "en": "TempModel"
            },
            "decommissioned": false,
            "uploadTime": "2025-07-14T01:42:48.9850391+00:00"
          }
        ],
        "nextLink": null
      }
    },
    {
      "RequestUri": "https://Sanitized.api.wcus.digitaltwins.azure.net/models/dtmi:com:samples:DTComponentTestsComponent;1?api-version=2023-10-31",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 409,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "dff2b594-05d4-4237-8d8f-2b138d96c739",
        "traceresponse": "00-f3c86c9d33f0a448d19ba4827900ce04-4b45ce9e21ee9015-01",
        "x-ms-error-code": "ModelReferencesNotDeleted"
      },
      "ResponseBody": {
        "error": {
          "code": "ModelReferencesNotDeleted",
          "message": "This model is currently being referenced by dtmi:com:samples:DTComponentTestsModel;1. You must delete these references before deleting the Model.. To delete references, do Delete Model on Ids provided above."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.api.wcus.digitaltwins.azure.net/models/dtmi:com:samples:DTComponentTestsModel;1?api-version=2023-10-31",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "mise-correlation-id": "2a28b28f-27e8-4bc5-a8e8-aa674a251d53",
        "traceresponse": "00-e30ab9fa880b7b96550f0a42c423b182-1142960041c7f21d-01"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://Sanitized.api.wcus.digitaltwins.azure.net/models?api-version=2023-10-31",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": "[{\"@id\": \"dtmi:com:samples:DTComponentTestsComponent;1\", \"@type\": \"Interface\", \"@context\": \"dtmi:dtdl:context;2\", \"displayName\": \"Component1\", \"contents\": [{\"@type\": \"Property\", \"name\": \"ComponentProp1\", \"schema\": \"string\"}, {\"@type\": \"Telemetry\", \"name\": \"ComponentTelemetry1\", \"schema\": \"integer\"}]}, {\"@id\": \"dtmi:com:samples:DTComponentTestsModel;1\", \"@type\": \"Interface\", \"@context\": \"dtmi:dtdl:context;2\", \"displayName\": \"TempModel\", \"contents\": [{\"@type\": \"Property\", \"name\": \"Prop1\", \"schema\": \"string\"}, {\"@type\": \"Component\", \"name\": \"Component1\", \"schema\": \"dtmi:com:samples:DTComponentTestsComponent;1\"}, {\"@type\": \"Telemetry\", \"name\": \"Telemetry1\", \"schema\": \"integer\"}]}]",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "696b11aa-90e3-4b51-b5e6-4f21d46031d3",
        "traceresponse": "00-ea3756859b0270d9e72cc882ea602484-0fcf0b3b7070da3f-01"
      },
      "ResponseBody": "[{\"id\":\"dtmi:com:samples:DTComponentTestsComponent;1\",\"description\":{},\"displayName\":{\"en\":\"Component1\"},\"decommissioned\":false,\"uploadTime\":\"2025-07-14T01:42:54.1213284+00:00\"},{\"id\":\"dtmi:com:samples:DTComponentTestsModel;1\",\"description\":{},\"displayName\":{\"en\":\"TempModel\"},\"decommissioned\":false,\"uploadTime\":\"2025-07-14T01:42:54.1213481+00:00\"}]"
    },
    {
      "RequestUri": "https://Sanitized.api.wcus.digitaltwins.azure.net/digitaltwins/DTComponentTestsTempTwin?api-version=2023-10-31",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "$metadata": {
          "$model": "dtmi:com:samples:DTComponentTestsModel;1"
        },
        "Prop1": "value",
        "Component1": {
          "$metadata": {},
          "ComponentProp1": "value1"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\"2d839a98-b311-459f-bd63-348224167f77\"",
        "mise-correlation-id": "f8296abc-f64b-4f66-ac1d-a52be23c3cc8",
        "traceresponse": "00-0198f91871da6443fb46ac6f2bac911d-45536969fc04a6c8-01"
      },
      "ResponseBody": {
        "$dtId": "DTComponentTestsTempTwin",
        "$etag": "W/\"2d839a98-b311-459f-bd63-348224167f77\"",
        "Prop1": "value",
        "Component1": {
          "ComponentProp1": "value1",
          "$metadata": {
            "$lastUpdateTime": "2025-07-14T01:42:54.2629941Z",
            "ComponentProp1": {
              "lastUpdateTime": "2025-07-14T01:42:54.2629941Z"
            }
          }
        },
        "$metadata": {
          "$model": "dtmi:com:samples:DTComponentTestsModel;1",
          "$lastUpdateTime": "2025-07-14T01:42:54.2629941Z",
          "Prop1": {
            "lastUpdateTime": "2025-07-14T01:42:54.2629941Z"
          }
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.api.wcus.digitaltwins.azure.net/digitaltwins/DTComponentTestsTempTwin/components/Component1?api-version=2023-10-31",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Content-Type": "application/json-patch+json"
      },
      "RequestBody": "[{\"op\": \"move\", \"path\": \"/AverageTemperature\", \"value\": 42}]",
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "02bc74e8-65a9-4e25-8114-8b7f8627a984",
        "traceresponse": "00-a799eee3ff8601f57a86c6710f51309f-7acbe1f12d557f60-01",
        "x-ms-error-code": "JsonPatchInvalid"
      },
      "ResponseBody": {
        "error": {
          "code": "JsonPatchInvalid",
          "message": "Unsupported operation type move. Please provide a valid patch document. See section on update apis in the documentation https://aka.ms/adtv2twins."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.api.wcus.digitaltwins.azure.net/digitaltwins/DTComponentTestsTempTwin/components/Component1?api-version=2023-10-31",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Content-Type": "application/json-patch+json"
      },
      "RequestBody": "[\"AverageTemperature\"]",
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/problem+json; charset=utf-8",
        "mise-correlation-id": "f9110b83-77a5-4dfb-8d73-18ea996d1b64",
        "traceresponse": "00-53d31ebe09d11f6342938b388381bced-bf2f4e021b0e0cf1-01"
      },
      "ResponseBody": {
        "errors": {
          "[0]": [
            "Error converting value \"AverageTemperature\" to type 'Microsoft.AspNetCore.JsonPatch.Operations.Operation'. Path '[0]', line 1, position 21."
          ]
        },
        "type": "https://tools.ietf.org/html/rfc7231#section-6.5.1",
        "title": "One or more validation errors occurred.",
        "status": 400,
        "detail": null,
        "instance": null,
        "extensions": {
          "traceId": "00-53d31ebe09d11f6342938b388381bced-ae9809e28e0e27fd-00"
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.api.wcus.digitaltwins.azure.net/digitaltwins/DTComponentTestsTempTwin/components/Component1?api-version=2023-10-31",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Content-Type": "application/json-patch+json"
      },
      "RequestBody": "[{\"op\": \"add\", \"path\": \"/ComponentProp2\", \"value\": \"5\"}]",
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "0bbe9240-64db-4853-b3ff-c09cf29d2fdb",
        "traceresponse": "00-1ecdc7e77e80756f304bc5497164e01a-31a33a5fe6a38c33-01",
        "x-ms-error-code": "ValidationFailed"
      },
      "ResponseBody": {
        "error": {
          "code": "ValidationFailed",
          "message": "Invalid twin specified",
          "details": [
            {
              "code": "ValidationFailed",
              "message": "ComponentProp2 does not appear on the DTDL for Component1."
            }
          ]
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.api.wcus.digitaltwins.azure.net/digitaltwins/DTComponentTestsTempTwin/components/Component1?api-version=2023-10-31",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Content-Type": "application/json-patch+json"
      },
      "RequestBody": "[{\"op\": \"replace\", \"path\": \"/ComponentProp1\", \"value\": 42}]",
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "e3c9bef5-455d-4779-88d8-1859a4e3ca66",
        "traceresponse": "00-3e8baf3dd73fc7f1a1f7c978cbc6943f-7c4795eb8b0958d1-01",
        "x-ms-error-code": "ValidationFailed"
      },
      "ResponseBody": {
        "error": {
          "code": "ValidationFailed",
          "message": "Invalid twin specified",
          "details": [
            {
              "code": "ValidationFailed",
              "message": "Expected value of type string for ComponentProp1 on Component1."
            }
          ]
        }
      }
    }
  ],
  "Variables": {}
}
