{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.api.wcus.digitaltwins.azure.net/models?includeModelDefinition=false&api-version=2023-10-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "c5f0f35a-dd6c-46eb-8db0-1926966e8cb9",
        "traceresponse": "00-92804fb0cfee76594249c670eb412ecb-253aabb62abea6c2-01"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "dtmi:samples:DTTestBuilding;1",
            "description": {},
            "displayName": {
              "en": "Building"
            },
            "decommissioned": false,
            "uploadTime": "2025-07-14T01:44:35.9581396+00:00"
          }
        ],
        "nextLink": null
      }
    },
    {
      "RequestUri": "https://Sanitized.api.wcus.digitaltwins.azure.net/models/dtmi%3Asamples%3ADTTestBuilding%3B1?api-version=2023-10-31",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "mise-correlation-id": "b79de88b-b54c-46c2-b593-23a5aaa48bc7",
        "traceresponse": "00-295d2dde8128b8ada31158c2aca57323-b867c9558f2a4bd3-01"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://Sanitized.api.wcus.digitaltwins.azure.net/models?api-version=2023-10-31",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": "[{\"@id\": \"dtmi:samples:DTTestBuilding;1\", \"@type\": \"Interface\", \"@context\": \"dtmi:dtdl:context;2\", \"displayName\": \"Building\", \"contents\": [{\"@type\": \"Property\", \"name\": \"AverageTemperature\", \"schema\": \"double\"}, {\"@type\": \"Property\", \"name\": \"TemperatureUnit\", \"schema\": \"string\"}]}]",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "c1a85680-12b9-4de6-82b0-1c83d9ea5b17",
        "traceresponse": "00-d2be421f5644cfaa1970db4816d67bc3-976f817205314be3-01"
      },
      "ResponseBody": "[{\"id\":\"dtmi:samples:DTTestBuilding;1\",\"description\":{},\"displayName\":{\"en\":\"Building\"},\"decommissioned\":false,\"uploadTime\":\"2025-07-14T01:44:41.6356825+00:00\"}]"
    },
    {
      "RequestUri": "https://Sanitized.api.wcus.digitaltwins.azure.net/digitaltwins/digitalTwin-952731fe?api-version=2023-10-31",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "mise-correlation-id": "563ad287-b184-4e7e-8774-2deabb8f5c40",
        "traceresponse": "00-3b38f5787af61de2f5ee125cdcfad660-9f8958dc8ba448b1-01"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.api.wcus.digitaltwins.azure.net/digitaltwins/digitalTwin-952731fe?api-version=2023-10-31",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "$metadata": {
          "$model": "dtmi:samples:DTTestBuilding;1"
        },
        "AverageTemperature": 68
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\"86f55e11-02d7-43bc-8fb2-4f9ab6404efc\"",
        "mise-correlation-id": "8d82c0d1-2729-47be-85df-4940a709ae3b",
        "traceresponse": "00-11a9db238147de66677956d913974ae7-d81ca264dedbfc5f-01"
      },
      "ResponseBody": {
        "$dtId": "digitalTwin-952731fe",
        "$etag": "W/\"86f55e11-02d7-43bc-8fb2-4f9ab6404efc\"",
        "AverageTemperature": 68,
        "$metadata": {
          "$model": "dtmi:samples:DTTestBuilding;1",
          "$lastUpdateTime": "2025-07-14T01:44:41.9214620Z",
          "AverageTemperature": {
            "lastUpdateTime": "2025-07-14T01:44:41.9214620Z"
          }
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.api.wcus.digitaltwins.azure.net/digitaltwins/digitalTwin-952731fe?api-version=2023-10-31",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Content-Type": "application/json-patch+json"
      },
      "RequestBody": "[{\"op\": \"add\", \"path\": \"/TemperatureUnit\", \"value\": \"Celsius\"}, {\"op\": \"replace\", \"path\": \"/AverageTemperature\", \"value\": 42}]",
      "StatusCode": 204,
      "ResponseHeaders": {
        "ETag": "W/\"67a6169f-613a-4af3-bd0a-b31b8db7185b\"",
        "mise-correlation-id": "40d6d477-6de0-4a53-b7a5-03f34b767d24",
        "traceresponse": "00-be0fbb07f338a246d316ad4ceb683290-24595fccaa80663c-01"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.api.wcus.digitaltwins.azure.net/digitaltwins/digitalTwin-952731fe?api-version=2023-10-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\"67a6169f-613a-4af3-bd0a-b31b8db7185b\"",
        "mise-correlation-id": "817b4997-6062-41cc-8227-4015d2f7dcdb",
        "traceresponse": "00-a245f3e0a80d965532236182a93c95ff-cf3e11ade4d67c22-01"
      },
      "ResponseBody": {
        "$dtId": "digitalTwin-952731fe",
        "$etag": "W/\"67a6169f-613a-4af3-bd0a-b31b8db7185b\"",
        "AverageTemperature": 42,
        "TemperatureUnit": "Celsius",
        "$metadata": {
          "$model": "dtmi:samples:DTTestBuilding;1",
          "$lastUpdateTime": "2025-07-14T01:44:42.0534134Z",
          "AverageTemperature": {
            "lastUpdateTime": "2025-07-14T01:44:42.0534134Z"
          },
          "TemperatureUnit": {
            "lastUpdateTime": "2025-07-14T01:44:42.0534134Z"
          }
        }
      }
    }
  ],
  "Variables": {}
}
