{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.api.wcus.digitaltwins.azure.net/models?includeModelDefinition=false&api-version=2023-10-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "14f2d16a-55cc-45d0-9893-dcd69d973120",
        "traceresponse": "00-cb54ef29bd90db7df3be9fc28fb6ef07-1af08a25bd0bbe83-01"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "dtmi:samples:DTTestBuilding;1",
            "description": {},
            "displayName": {
              "en": "Building"
            },
            "decommissioned": false,
            "uploadTime": "2025-07-14T01:44:46.7843274+00:00"
          }
        ],
        "nextLink": null
      }
    },
    {
      "RequestUri": "https://Sanitized.api.wcus.digitaltwins.azure.net/models/dtmi%3Asamples%3ADTTestBuilding%3B1?api-version=2023-10-31",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "mise-correlation-id": "7f467f74-9a66-42e2-9c83-333097a93de9",
        "traceresponse": "00-7434e84ec57d445520def5b6c7fb5196-44520218b9f98ea7-01"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://Sanitized.api.wcus.digitaltwins.azure.net/models?api-version=2023-10-31",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": "[{\"@id\": \"dtmi:samples:DTTestBuilding;1\", \"@type\": \"Interface\", \"@context\": \"dtmi:dtdl:context;2\", \"displayName\": \"Building\", \"contents\": [{\"@type\": \"Property\", \"name\": \"AverageTemperature\", \"schema\": \"double\"}, {\"@type\": \"Property\", \"name\": \"TemperatureUnit\", \"schema\": \"string\"}]}]",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "d6072ab1-fb08-4e69-8189-ef331e922a92",
        "traceresponse": "00-10e870f4e87d157875971eaeb4f0d79a-f6f1ba29097504bc-01"
      },
      "ResponseBody": "[{\"id\":\"dtmi:samples:DTTestBuilding;1\",\"description\":{},\"displayName\":{\"en\":\"Building\"},\"decommissioned\":false,\"uploadTime\":\"2025-07-14T01:44:52.1043346+00:00\"}]"
    },
    {
      "RequestUri": "https://Sanitized.api.wcus.digitaltwins.azure.net/digitaltwins/digitalTwin-6c533955?api-version=2023-10-31",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "mise-correlation-id": "2e6ffef0-3f20-4b29-b12a-7f4ee87f449b",
        "traceresponse": "00-ea085b586503187123d846ee225e1e2e-acc532a091259785-01"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.api.wcus.digitaltwins.azure.net/digitaltwins/digitalTwin-6c533955?api-version=2023-10-31",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "$metadata": {
          "$model": "dtmi:samples:DTTestBuilding;1"
        },
        "AverageTemperature": 68,
        "TemperatureUnit": "Celsius"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\"f66972a7-9b65-4ab7-ac50-8893c6701425\"",
        "mise-correlation-id": "eebf5c73-9c5a-4f76-9cfa-24dab83edca1",
        "traceresponse": "00-9a2a509ca1624daeceb09032e2c02858-201b1b7e66be2b80-01"
      },
      "ResponseBody": {
        "$dtId": "digitalTwin-6c533955",
        "$etag": "W/\"f66972a7-9b65-4ab7-ac50-8893c6701425\"",
        "AverageTemperature": 68,
        "TemperatureUnit": "Celsius",
        "$metadata": {
          "$model": "dtmi:samples:DTTestBuilding;1",
          "$lastUpdateTime": "2025-07-14T01:44:52.3554901Z",
          "AverageTemperature": {
            "lastUpdateTime": "2025-07-14T01:44:52.3554901Z"
          },
          "TemperatureUnit": {
            "lastUpdateTime": "2025-07-14T01:44:52.3554901Z"
          }
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.api.wcus.digitaltwins.azure.net/digitaltwins/digitalTwin-6c533955?api-version=2023-10-31",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Content-Type": "application/json-patch+json",
        "If-Match": "W/\"7e67a355-f19c-4c19-8a10-2d69b2d2253f\""
      },
      "RequestBody": "[{\"op\": \"replace\", \"path\": \"/AverageTemperature\", \"value\": 42}]",
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "934c6d6f-3b0a-4bcc-afbc-89705d53400d",
        "traceresponse": "00-9f03ccdeb4e5d44a021f5b2b0ebca9c4-c7ca803e80374613-01",
        "x-ms-error-code": "PreconditionFailed"
      },
      "ResponseBody": {
        "error": {
          "code": "PreconditionFailed",
          "message": "The provided etag W/\"7e67a355-f19c-4c19-8a10-2d69b2d2253f\" doesn't match the current etag for the resource. Please obtain and provide the latest etag by getting the resource. See section on get apis in the documentation https://aka.ms/adtv2twins."
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.api.wcus.digitaltwins.azure.net/digitaltwins/digitalTwin-6c533955?api-version=2023-10-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\"d52a639b-d7b1-4c2d-aaaf-ab4b3058db9e\"",
        "mise-correlation-id": "3a31992b-8ba0-427d-a89a-9fe3ac890a78",
        "traceresponse": "00-467378db6d034f6dc8ab860b2e9ce9db-2a6a450631cbbd09-01"
      },
      "ResponseBody": {
        "$dtId": "digitalTwin-6c533955",
        "$etag": "W/\"d52a639b-d7b1-4c2d-aaaf-ab4b3058db9e\"",
        "AverageTemperature": 42,
        "TemperatureUnit": "Celsius",
        "$metadata": {
          "$model": "dtmi:samples:DTTestBuilding;1",
          "$lastUpdateTime": "2025-07-14T01:44:52.6312549Z",
          "AverageTemperature": {
            "lastUpdateTime": "2025-07-14T01:44:52.6312549Z"
          },
          "TemperatureUnit": {
            "lastUpdateTime": "2025-07-14T01:44:52.3554901Z"
          }
        }
      }
    }
  ],
  "Variables": {}
}
