{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.api.wcus.digitaltwins.azure.net/models/dtmi%3Acom%3Asamples%3AComponentModel574a3169%3B1?includeModelDefinition=false&api-version=2023-10-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "02076bb6-f5e7-45c3-8bf7-26990ee9a1d1",
        "traceresponse": "00-8bc54a3717fe508f142d95ed1efdb2ad-fa5a826f93de96f0-01",
        "x-ms-error-code": "ModelNotFound"
      },
      "ResponseBody": {
        "error": {
          "code": "ModelNotFound",
          "message": "There is no Model(s) available that matches the provided id(s) dtmi:com:samples:ComponentModel574a3169;1. Check that the Model ID provided is valid by doing a Model_List API call."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.api.wcus.digitaltwins.azure.net/models?api-version=2023-10-31",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": "[{\"@id\": \"dtmi:com:samples:ComponentModel574a3169;1\", \"@type\": \"Interface\", \"@context\": [\"dtmi:dtdl:context;2\"], \"displayName\": \"Component1\", \"contents\": [{\"@type\": \"Property\", \"name\": \"ComponentProp1\", \"schema\": \"string\"}, {\"@type\": \"Telemetry\", \"name\": \"ComponentTelemetry1\", \"schema\": \"integer\"}]}]",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "7265556a-f7c8-4e0b-b7a7-8621a313e098",
        "traceresponse": "00-00da38b4b6b6a8f24b46b2e71f50e038-1468381204e73445-01"
      },
      "ResponseBody": "[{\"id\":\"dtmi:com:samples:ComponentModel574a3169;1\",\"description\":{},\"displayName\":{\"en\":\"Component1\"},\"decommissioned\":false,\"uploadTime\":\"2025-07-14T01:48:55.2771609+00:00\"}]"
    },
    {
      "RequestUri": "https://Sanitized.api.wcus.digitaltwins.azure.net/models?includeModelDefinition=true&api-version=2023-10-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "50e824b8-7dec-47d5-bc57-5d9fba8d15c1",
        "traceresponse": "00-a28c5398252b8b9d0e4a79c3c4b7b742-a2ca42912f8a4190-01"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "dtmi:samples:DTTestBuilding;1",
            "description": {},
            "displayName": {
              "en": "Building"
            },
            "decommissioned": false,
            "uploadTime": "2025-07-14T01:47:00.230373+00:00",
            "model": {
              "@id": "dtmi:samples:DTTestBuilding;1",
              "@type": "Interface",
              "@context": "dtmi:dtdl:context;2",
              "displayName": "Building",
              "contents": [
                {
                  "@type": "Property",
                  "name": "AverageTemperature",
                  "schema": "double"
                },
                {
                  "@type": "Property",
                  "name": "TemperatureUnit",
                  "schema"[...]
