{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.api.wcus.digitaltwins.azure.net/models?includeModelDefinition=false&api-version=2023-10-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "9541a110-9ffb-4607-a87f-dc869bf9fffe",
        "traceresponse": "00-9541264796b0181dcab45f57e9e0a676-4550f19e1aa4d00b-01"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "dtmi:samples:RelationshipTestBuilding;1",
            "description": {},
            "displayName": {
              "en": "Building"
            },
            "decommissioned": false,
            "uploadTime": "2025-07-09T21:52:43.0748828+00:00"
          },
          {
            "id": "dtmi:samples:RelationshipTestFloor;1",
            "description": {},
            "displayName": {
              "en": "Floor"
            },
            "decommissioned": false,
            "uploadTime": "2025-07-09T21:52:43.0749012+00:00"
          },
          {
            "id": "dtmi:samples:RelationshipTestRoom;1",
            "description": {},
            "displayName": {
              "en": "Room"
            },
            "decommissioned": false,
            "uploadTime": "2025-07-09T21:52:43.0749108+00:00"
          }
        ],
        "nextLink": null
      }
    },
    {
      "RequestUri": "https://Sanitized.api.wcus.digitaltwins.azure.net/models/dtmi%3Asamples%3ARelationshipTestBuilding%3B1?api-version=2023-10-31",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "mise-correlation-id": "4f8c6c16-374b-4954-8afe-8ec8f92bddcf",
        "traceresponse": "00-2c18093d00c97df4d65bd34c5b67d5d9-731a067c62d7485e-01"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.api.wcus.digitaltwins.azure.net/models/dtmi%3Asamples%3ARelationshipTestFloor%3B1?api-version=2023-10-31",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "mise-correlation-id": "984ccb9a-e25c-4bc1-aad0-d7236075c2c0",
        "traceresponse": "00-db7f3ea3e3ee27eb5d907685c5e66ede-fdabaf1c15140c1b-01"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.api.wcus.digitaltwins.azure.net/models/dtmi%3Asamples%3ARelationshipTestRoom%3B1?api-version=2023-10-31",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "mise-correlation-id": "9a19e6db-8c79-4c20-a238-9810d13d29ae",
        "traceresponse": "00-04f4bbff8c7cd08b8cf431daa58b2048-faa2491810a0bd0a-01"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://Sanitized.api.wcus.digitaltwins.azure.net/digitaltwins/DTRelationshipTestsRoomTwin/relationships?api-version=2023-10-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "10d62d83-76e2-4e1f-9870-34963637163e",
        "traceresponse": "00-e46bd056a8c522bb6bc06d3846a65cae-5f9f51fc0e2ff5bc-01"
      },
      "ResponseBody": {
        "nextLink": null,
        "value": []
      }
    },
    {
      "RequestUri": "https://Sanitized.api.wcus.digitaltwins.azure.net/digitaltwins/DTRelationshipTestsFloorTwin/relationships?api-version=2023-10-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "a2305c7f-7af9-4eba-a426-c3bbd323533b",
        "traceresponse": "00-b4d6d057d2d98092cd9a03172d76d660-56885ea5faf86d2f-01"
      },
      "ResponseBody": {
        "nextLink": null,
        "value": []
      }
    },
    {
      "RequestUri": "https://Sanitized.api.wcus.digitaltwins.azure.net/digitaltwins/DTRelationshipTestsBuildingTwin/relationships?api-version=2023-10-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "2fb3b36f-4b0a-47c5-a238-a87ef04d4d59",
        "traceresponse": "00-f32e3352b655db1a9349036ca86147b6-e422f363dd7c33d4-01"
      },
      "ResponseBody": {
        "nextLink": null,
        "value": [
          {
            "$relationshipId": "BuildingHasFloor",
            "$etag": "W/\"144c57d3-0216-4aca-a2cc-5bc01b3074cf\"",
            "$sourceId": "DTRelationshipTestsBuildingTwin",
            "$relationshipName": "has",
            "$targetId": "DTRelationshipTestsFloorTwin",
            "isAccessRestricted": false
          }
        ]
      }
    },
    {
      "RequestUri": "https://Sanitized.api.wcus.digitaltwins.azure.net/digitaltwins/DTRelationshipTestsBuildingTwin/relationships/BuildingHasFloor?api-version=2023-10-31",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "mise-correlation-id": "588397cd-aeb6-418c-b635-f67635beb037",
        "traceresponse": "00-9bf877860793176cf794e7172d01b1fc-39417da9c05924ca-01"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.api.wcus.digitaltwins.azure.net/digitaltwins/DTRelationshipTestsRoomTwin?api-version=2023-10-31",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "mise-correlation-id": "65b082af-0ee4-4d7a-b297-30d0426d37e0",
        "traceresponse": "00-6c858331552d06b3bee03ea034aa6e1c-85c077bd5b763f83-01"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.api.wcus.digitaltwins.azure.net/digitaltwins/DTRelationshipTestsFloorTwin?api-version=2023-10-31",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "mise-correlation-id": "51640344-baf2-4772-8a38-115417ef0e66",
        "traceresponse": "00-450bc15056a847bf249127fdbb0c4981-1cb51687f5ca9627-01"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.api.wcus.digitaltwins.azure.net/digitaltwins/DTRelationshipTestsBuildingTwin?api-version=2023-10-31",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "mise-correlation-id": "2619795e-406a-4a12-bf9f-e3ecc716557d",
        "traceresponse": "00-0dbabd620962828aa85e0af60bd96209-2b4da3ecf5a5496a-01"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.api.wcus.digitaltwins.azure.net/models?api-version=2023-10-31",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": "[{\"@id\": \"dtmi:samples:RelationshipTestBuilding;1\", \"@type\": \"Interface\", \"@context\": \"dtmi:dtdl:context;2\", \"displayName\": \"Building\", \"contents\": [{\"@type\": \"Relationship\", \"name\": \"has\", \"target\": \"dtmi:samples:RelationshipTestFloor;1\", \"properties\": [{\"@type\": \"Property\", \"name\": \"isAccessRestricted\", \"schema\": \"boolean\"}]}, {\"@type\": \"Property\", \"name\": \"AverageTemperature\", \"schema\": \"double\"}]}, {\"@id\": \"dtmi:samples:RelationshipTestFloor;1\", \"@type\": \"Interface\", \"@context\": \"dtmi:dtdl:context;2\", \"displayName\": \"Floor\", \"contents\": [{\"@type\": \"Relationship\", \"name\": \"contains\", \"target\": \"dtmi:samples:RelationshipTestRoom;1\"}, {\"@type\": \"Property\", \"name\": \"AverageTemperature\", \"schema\": \"double\"}]}, {\"@id\": \"dtmi:samples:RelationshipTest[...]
    {
      "RequestUri": "https://Sanitized.api.wcus.digitaltwins.azure.net/digitaltwins/DTRelationshipTestsBuildingTwin?api-version=2023-10-31",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "$metadata": {
          "$model": "dtmi:samples:RelationshipTestBuilding;1"
        },
        "AverageTemperature": 68
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\"e80d9075-5608-4b7f-86b0-c43a7c738412\"",
        "mise-correlation-id": "89ef9d11-fd78-4c0e-bfde-449752e09822",
        "traceresponse": "00-69cc29c15e619190c4ee1dabae0fcd43-dfa7747c0e9b4b63-01"
      },
      "ResponseBody": {
        "$dtId": "DTRelationshipTestsBuildingTwin",
        "$etag": "W/\"e80d9075-5608-4b7f-86b0-c43a7c738412\"",
        "AverageTemperature": 68,
        "$metadata": {
          "$model": "dtmi:samples:RelationshipTestBuilding;1",
          "$lastUpdateTime": "2025-07-09T21:52:49.6810161Z",
          "AverageTemperature": {
            "lastUpdateTime": "2025-07-09T21:52:49.6810161Z"
          }
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.api.wcus.digitaltwins.azure.net/digitaltwins/DTRelationshipTestsRoomTwin?api-version=2023-10-31",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "$metadata": {
          "$model": "dtmi:samples:RelationshipTestRoom;1"
        },
        "Temperature": 80,
        "IsOccupied": true
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\"07294cae-5a44-4a3b-97af-c037d0329c21\"",
        "mise-correlation-id": "037f1966-3a1d-453f-80a6-3528a94b76aa",
        "traceresponse": "00-834044a5f64376b72cc871ab2da957f0-cc55b51c480f11c6-01"
      },
      "ResponseBody": {
        "$dtId": "DTRelationshipTestsRoomTwin",
        "$etag": "W/\"07294cae-5a44-4a3b-97af-c037d0329c21\"",
        "Temperature": 80,
        "IsOccupied": true,
        "$metadata": {
          "$model": "dtmi:samples:RelationshipTestRoom;1",
          "$lastUpdateTime": "2025-07-09T21:52:49.9678599Z",
          "Temperature": {
            "lastUpdateTime": "2025-07-09T21:52:49.9678599Z"
          },
          "IsOccupied": {
            "lastUpdateTime": "2025-07-09T21:52:49.9678599Z"
          }
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.api.wcus.digitaltwins.azure.net/digitaltwins/DTRelationshipTestsBuildingTwin/relationships/BuildingHasFloor?api-version=2023-10-31",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Content-Type": "application/json-patch+json",
        "If-Match": "W/\"7e67a355-f19c-4c19-8a10-2d69b2d2253f\""
      },
      "RequestBody": "[{\"op\": \"replace\", \"path\": \"/isAccessRestricted\", \"value\": true}]",
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "0cf6d7e9-92b0-4673-8aea-96acb7b5d2ac",
        "traceresponse": "00-0f1e1ba909a1fb2de18e4c53f4353d54-c58a8303ea8fcf83-01",
        "x-ms-error-code": "PreconditionFailed"
      },
      "ResponseBody": {
        "error": {
          "code": "PreconditionFailed",
          "message": "The provided etag W/\"7e67a355-f19c-4c19-8a10-2d69b2d2253f\" doesn't match the current etag for the resource. Please obtain and provide the latest etag by getting the resource. See section on get apis in the documentation https://aka.ms/adtv2twins."
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.api.wcus.digitaltwins.azure.net/digitaltwins/DTRelationshipTestsBuildingTwin/relationships/BuildingHasFloor?api-version=2023-10-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\"02a6dd13-9097-4f6f-9678-7900324d6948\"",
        "mise-correlation-id": "c035815a-dfde-4ba2-8be8-338218861417",
        "traceresponse": "00-085ac579e3dbe78cb1c53304dd8642ef-6a7e4509e7285529-01"
      },
      "ResponseBody": {
        "$relationshipId": "BuildingHasFloor",
        "$etag": "W/\"02a6dd13-9097-4f6f-9678-7900324d6948\"",
        "$sourceId": "DTRelationshipTestsBuildingTwin",
        "$relationshipName": "has",
        "$targetId": "DTRelationshipTestsFloorTwin",
        "isAccessRestricted": true
      }
    }
  ],
  "Variables": {}
}
