{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.api.wcus.digitaltwins.azure.net/digitaltwins/digitalTwin-cd9b325d?api-version=2023-10-31",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "$metadata": {
          "$model": "dtmi:samples:DTTestBuilding;1"
        },
        "AverageTemperature": 68
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\"233762dd-014d-4358-9c11-2b2a566fd5d9\"",
        "mise-correlation-id": "194024e8-6cfa-437b-a908-722b4116cf90",
        "traceresponse": "00-866dfc7b61849aca9dce39f81dab0558-29931d6338683c21-01"
      },
      "ResponseBody": {
        "$dtId": "digitalTwin-cd9b325d",
        "$etag": "W/\"233762dd-014d-4358-9c11-2b2a566fd5d9\"",
        "AverageTemperature": 68,
        "$metadata": {
          "$model": "dtmi:samples:DTTestBuilding;1",
          "$lastUpdateTime": "2025-07-09T21:47:58.7781709Z",
          "AverageTemperature": {
            "lastUpdateTime": "2025-07-09T21:47:58.7781709Z"
          }
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.api.wcus.digitaltwins.azure.net/digitaltwins/digitalTwin-cd9b325d/telemetry?api-version=2023-10-31",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "ComponentTelemetry1": 5
      },
      "StatusCode": 204,
      "ResponseHeaders": {
        "mise-correlation-id": "2362e5c8-1631-492b-96b4-4b7aa7775943",
        "traceresponse": "00-752fecbe6981e1d0f73e15c8381dd5e7-3776214ca71d854b-01"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
