{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.api.wcus.digitaltwins.azure.net/models?includeModelDefinition=false&api-version=2023-10-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "e8588a9d-326a-4f64-ae1c-e7e7a3254ae5",
        "traceresponse": "00-c1f1517dc6e9ef7338e2e3fb744f3b0a-a79a1e91663549ec-01"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "dtmi:samples:DTTestBuilding;1",
            "description": {},
            "displayName": {
              "en": "Building"
            },
            "decommissioned": false,
            "uploadTime": "2025-07-14T01:46:49.9206858+00:00"
          }
        ],
        "nextLink": null
      }
    },
    {
      "RequestUri": "https://Sanitized.api.wcus.digitaltwins.azure.net/models/dtmi:samples:DTTestBuilding;1?api-version=2023-10-31",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "mise-correlation-id": "73ebbb25-f703-46fa-89c4-879a826ebf24",
        "traceresponse": "00-75c9764d609ab4557166496bb2a717fe-33c90c365d1dadfa-01"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://Sanitized.api.wcus.digitaltwins.azure.net/models?api-version=2023-10-31",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": "[{\"@id\": \"dtmi:samples:DTTestBuilding;1\", \"@type\": \"Interface\", \"@context\": \"dtmi:dtdl:context;2\", \"displayName\": \"Building\", \"contents\": [{\"@type\": \"Property\", \"name\": \"AverageTemperature\", \"schema\": \"double\"}, {\"@type\": \"Property\", \"name\": \"TemperatureUnit\", \"schema\": \"string\"}]}]",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "6ca90626-fe6f-41f7-934d-cb39fafaba8d",
        "traceresponse": "00-fe2b21b2fa03b595ec78abb3e8628e44-67f4fe74bcaf2cbc-01"
      },
      "ResponseBody": "[{\"id\":\"dtmi:samples:DTTestBuilding;1\",\"description\":{},\"displayName\":{\"en\":\"Building\"},\"decommissioned\":false,\"uploadTime\":\"2025-07-14T01:46:55.3947411+00:00\"}]"
    },
    {
      "RequestUri": "https://Sanitized.api.wcus.digitaltwins.azure.net/digitaltwins/digitalTwin-8b43404d?api-version=2023-10-31",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "mise-correlation-id": "3a61409b-df13-4bc9-82d4-730529344e7f",
        "traceresponse": "00-52f605489bb71b13b46f9d8edc7d2126-d81e12c97bda8df9-01"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.api.wcus.digitaltwins.azure.net/digitaltwins/digitalTwin-8b43404d?api-version=2023-10-31",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "$metadata": {
          "$model": "dtmi:samples:DTTestBuilding;1"
        },
        "AverageTemperature": 68,
        "TemperatureUnit": "Celsius"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\"c5aa24a6-8bf9-4f07-a7c3-259fef6e54ac\"",
        "mise-correlation-id": "6527ff21-2f60-43dc-977b-6ecab0424301",
        "traceresponse": "00-ef49c8c673b970bb6971d2c5289c7dbb-de17b2218caebde6-01"
      },
      "ResponseBody": {
        "$dtId": "digitalTwin-8b43404d",
        "$etag": "W/\"c5aa24a6-8bf9-4f07-a7c3-259fef6e54ac\"",
        "AverageTemperature": 68,
        "TemperatureUnit": "Celsius",
        "$metadata": {
          "$model": "dtmi:samples:DTTestBuilding;1",
          "$lastUpdateTime": "2025-07-14T01:46:55.6817761Z",
          "AverageTemperature": {
            "lastUpdateTime": "2025-07-14T01:46:55.6817761Z"
          },
          "TemperatureUnit": {
            "lastUpdateTime": "2025-07-14T01:46:55.6817761Z"
          }
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.api.wcus.digitaltwins.azure.net/digitaltwins/digitalTwin-8b43404d?api-version=2023-10-31",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Content-Type": "application/json-patch+json",
        "If-Match": "W/\"7e67a355-f19c-4c19-8a10-2d69b2d2253f\""
      },
      "RequestBody": "[{\"op\": \"replace\", \"path\": \"/AverageTemperature\", \"value\": 42}]",
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "91d202e1-ae73-48df-8ec3-38549802f858",
        "traceresponse": "00-2751eae48641c546a42ba9e56fa2739f-8a7ba7e0392ad9cc-01",
        "x-ms-error-code": "PreconditionFailed"
      },
      "ResponseBody": {
        "error": {
          "code": "PreconditionFailed",
          "message": "The provided etag W/\"7e67a355-f19c-4c19-8a10-2d69b2d2253f\" doesn't match the current etag for the resource. Please obtain and provide the latest etag by getting the resource. See section on get apis in the documentation https://aka.ms/adtv2twins."
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.api.wcus.digitaltwins.azure.net/digitaltwins/digitalTwin-8b43404d?api-version=2023-10-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\"70bca7b8-ec73-4a26-9ea7-feaca2b055ce\"",
        "mise-correlation-id": "4c71bfb1-f91a-4354-9876-f29e527429ea",
        "traceresponse": "00-25ebffd651b81a7b3e0f9b87f80e4695-91400046dd442644-01"
      },
      "ResponseBody": {
        "$dtId": "digitalTwin-8b43404d",
        "$etag": "W/\"70bca7b8-ec73-4a26-9ea7-feaca2b055ce\"",
        "AverageTemperature": 42,
        "TemperatureUnit": "Celsius",
        "$metadata": {
          "$model": "dtmi:samples:DTTestBuilding;1",
          "$lastUpdateTime": "2025-07-14T01:46:55.9653069Z",
          "AverageTemperature": {
            "lastUpdateTime": "2025-07-14T01:46:55.9653069Z"
          },
          "TemperatureUnit": {
            "lastUpdateTime": "2025-07-14T01:46:55.6817761Z"
          }
        }
      }
    }
  ],
  "Variables": {}
}
