{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.api.wcus.digitaltwins.azure.net/eventroutes/eventRoute-553d376f?api-version=2023-10-31",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "56b6db4c-8406-455d-8d14-30b1bc311bab",
        "traceresponse": "00-d5d25e9a13877b33b9317f5362950dab-7436a0be975347c8-01",
        "x-ms-error-code": "EventRouteNotFound"
      },
      "ResponseBody": {
        "error": {
          "code": "EventRouteNotFound",
          "message": "There is no route available that matches the provided input. Check for all valid event routes by calling EventRoute_List. See Swagger example (https://aka.ms/RouteSwSmpl)."
        }
      }
    }
  ],
  "Variables": {}
}
