{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.api.wcus.digitaltwins.azure.net/models?includeModelDefinition=false&api-version=2023-10-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "6f91737b-2873-4420-ab01-02cc93b95982",
        "traceresponse": "00-56e5f8e82562d9a86064ecb70910e6e5-7c1df64cced9fe7f-01"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "dtmi:samples:DTTestBuilding;1",
            "description": {},
            "displayName": {
              "en": "Building"
            },
            "decommissioned": false,
            "uploadTime": "2025-07-14T01:46:41.0057484+00:00"
          }
        ],
        "nextLink": null
      }
    },
    {
      "RequestUri": "https://Sanitized.api.wcus.digitaltwins.azure.net/models/dtmi:samples:DTTestBuilding;1?api-version=2023-10-31",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "mise-correlation-id": "7da159fa-b852-46fb-9c5d-2c1a902c2f89",
        "traceresponse": "00-ddd6821a6d506aa3ec364aee7a1b9e30-75ada627297140ee-01"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://Sanitized.api.wcus.digitaltwins.azure.net/models?api-version=2023-10-31",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": "[{\"@id\": \"dtmi:samples:DTTestBuilding;1\", \"@type\": \"Interface\", \"@context\": \"dtmi:dtdl:context;2\", \"displayName\": \"Building\", \"contents\": [{\"@type\": \"Property\", \"name\": \"AverageTemperature\", \"schema\": \"double\"}, {\"@type\": \"Property\", \"name\": \"TemperatureUnit\", \"schema\": \"string\"}]}]",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "b4cc4673-945b-48d1-b1b4-41f4e3b7fb00",
        "traceresponse": "00-b15876f12aab262415763f6141fe6eee-7ca827ff75674a17-01"
      },
      "ResponseBody": "[{\"id\":\"dtmi:samples:DTTestBuilding;1\",\"description\":{},\"displayName\":{\"en\":\"Building\"},\"decommissioned\":false,\"uploadTime\":\"2025-07-14T01:46:45.459565+00:00\"}]"
    },
    {
      "RequestUri": "https://Sanitized.api.wcus.digitaltwins.azure.net/digitaltwins/digitalTwin-376738f6?api-version=2023-10-31",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "mise-correlation-id": "c81b5b06-9af9-453f-b118-4bb1163559ac",
        "traceresponse": "00-b704bd76e09da92f8a7807d0ea2b9aa8-d82f80ce47269a1b-01"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.api.wcus.digitaltwins.azure.net/digitaltwins/digitalTwin-376738f6?api-version=2023-10-31",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "$metadata": {
          "$model": "dtmi:samples:DTTestBuilding;1"
        },
        "AverageTemperature": 68
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\"cd877565-c985-4d8c-820e-67185b0b6d7c\"",
        "mise-correlation-id": "4fe4d759-6d84-4171-b6aa-e3a6a76e15a0",
        "traceresponse": "00-7aec93eae95fd922fb63abf2e24fa31b-a7049f64ebc28396-01"
      },
      "ResponseBody": {
        "$dtId": "digitalTwin-376738f6",
        "$etag": "W/\"cd877565-c985-4d8c-820e-67185b0b6d7c\"",
        "AverageTemperature": 68,
        "$metadata": {
          "$model": "dtmi:samples:DTTestBuilding;1",
          "$lastUpdateTime": "2025-07-14T01:46:45.7440761Z",
          "AverageTemperature": {
            "lastUpdateTime": "2025-07-14T01:46:45.7440761Z"
          }
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.api.wcus.digitaltwins.azure.net/digitaltwins/digitalTwin-376738f6?api-version=2023-10-31",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Content-Type": "application/json-patch+json"
      },
      "RequestBody": "[{\"op\": \"add\", \"path\": \"/TemperatureUnit\", \"value\": \"Celsius\"}, {\"op\": \"replace\", \"path\": \"/AverageTemperature\", \"value\": 42}]",
      "StatusCode": 204,
      "ResponseHeaders": {
        "ETag": "W/\"e12bb6e1-1aa2-489d-9e85-b1e9dbeb4361\"",
        "mise-correlation-id": "316f11b1-e563-4e55-96f2-d13475bd29d0",
        "traceresponse": "00-3023a379cdca2a847ee6007fefc917f8-6aae7ff94e853c94-01"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.api.wcus.digitaltwins.azure.net/digitaltwins/digitalTwin-376738f6?api-version=2023-10-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\"e12bb6e1-1aa2-489d-9e85-b1e9dbeb4361\"",
        "mise-correlation-id": "044f8d1f-3893-4285-9967-712319ea7190",
        "traceresponse": "00-c83d2d2c8ddc89cd61347d7d07a482a3-2f5e668aff2af6c2-01"
      },
      "ResponseBody": {
        "$dtId": "digitalTwin-376738f6",
        "$etag": "W/\"e12bb6e1-1aa2-489d-9e85-b1e9dbeb4361\"",
        "AverageTemperature": 42,
        "TemperatureUnit": "Celsius",
        "$metadata": {
          "$model": "dtmi:samples:DTTestBuilding;1",
          "$lastUpdateTime": "2025-07-14T01:46:45.8839461Z",
          "AverageTemperature": {
            "lastUpdateTime": "2025-07-14T01:46:45.8839461Z"
          },
          "TemperatureUnit": {
            "lastUpdateTime": "2025-07-14T01:46:45.8839461Z"
          }
        }
      }
    }
  ],
  "Variables": {}
}
