{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.api.wcus.digitaltwins.azure.net/models?includeModelDefinition=false&api-version=2023-10-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "f696f16d-df19-4ae7-8e3a-62b2234ec49f",
        "traceresponse": "00-76129671a3324748d1bf608e5fb8796b-2512c9995e27cf1b-01"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "dtmi:samples:RelationshipTestBuilding;1",
            "description": {},
            "displayName": {
              "en": "Building"
            },
            "decommissioned": false,
            "uploadTime": "2025-07-14T01:54:14.0361782+00:00"
          },
          {
            "id": "dtmi:samples:RelationshipTestFloor;1",
            "description": {},
            "displayName": {
              "en": "Floor"
            },
            "decommissioned": false,
            "uploadTime": "2025-07-14T01:54:14.0362107+00:00"
          },
          {
            "id": "dtmi:samples:RelationshipTestRoom;1",
            "description": {},
            "displayName": {
              "en": "Room"
            },
            "decommissioned": false,
            "uploadTime": "2025-07-14T01:54:14.03622+00:00"
          }
        ],
        "nextLink": null
      }
    },
    {
      "RequestUri": "https://Sanitized.api.wcus.digitaltwins.azure.net/models/dtmi:samples:RelationshipTestBuilding;1?api-version=2023-10-31",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "mise-correlation-id": "8a06f1f4-6ce0-405b-8d53-a39a24e2f6fd",
        "traceresponse": "00-af68b5589e974ea5f782159e5e87e5b9-fe99cd2fe45efda6-01"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.api.wcus.digitaltwins.azure.net/models/dtmi:samples:RelationshipTestFloor;1?api-version=2023-10-31",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "mise-correlation-id": "0cd28fbd-7938-4517-b3f8-9408d461c930",
        "traceresponse": "00-d447dece82b8f1472fb7c72e6c1e8464-9008f0800c8aba85-01"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.api.wcus.digitaltwins.azure.net/models/dtmi:samples:RelationshipTestRoom;1?api-version=2023-10-31",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "mise-correlation-id": "99fe0190-60a0-462e-b0a1-6c45e9352ed4",
        "traceresponse": "00-25cd8231aa9dc2768bbc69e471d88b31-6b1f4ee0a1dd6579-01"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://Sanitized.api.wcus.digitaltwins.azure.net/digitaltwins/DTRelationshipTestsRoomTwin/relationships?api-version=2023-10-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "cec032dd-bbfd-4990-a762-64fb75418cbb",
        "traceresponse": "00-8c632674e38be16b1bade4dc703fbd90-3d54d8a7d3464f0d-01"
      },
      "ResponseBody": {
        "nextLink": null,
        "value": []
      }
    },
    {
      "RequestUri": "https://Sanitized.api.wcus.digitaltwins.azure.net/digitaltwins/DTRelationshipTestsFloorTwin/relationships?api-version=2023-10-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "542713b8-e15c-40a6-9311-c3d8e05a4ea2",
        "traceresponse": "00-2eba588a7e8a77f96e4733d152ab3b3f-f66565985f8d0c03-01"
      },
      "ResponseBody": {
        "nextLink": null,
        "value": []
      }
    },
    {
      "RequestUri": "https://Sanitized.api.wcus.digitaltwins.azure.net/digitaltwins/DTRelationshipTestsBuildingTwin/relationships?api-version=2023-10-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "a0c03ec1-2166-4a4e-aff7-cbe1b1229e81",
        "traceresponse": "00-4c04c0ff5507236a5e7431de8f1dcc3e-01e831fb9b76708e-01"
      },
      "ResponseBody": {
        "nextLink": null,
        "value": [
          {
            "$relationshipId": "BuildingHasFloor",
            "$etag": "W/\"52ec05ff-3dfd-4927-81cc-16d6d9e8fe41\"",
            "$sourceId": "DTRelationshipTestsBuildingTwin",
            "$relationshipName": "has",
            "$targetId": "DTRelationshipTestsFloorTwin",
            "isAccessRestricted": true
          }
        ]
      }
    },
    {
      "RequestUri": "https://Sanitized.api.wcus.digitaltwins.azure.net/digitaltwins/DTRelationshipTestsBuildingTwin/relationships/BuildingHasFloor?api-version=2023-10-31",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "mise-correlation-id": "d12ea14c-eca8-46b3-b668-4e4b96310299",
        "traceresponse": "00-b6c2c8c272005fb9e5027f23b2c204be-dc798dd5bb6dd300-01"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.api.wcus.digitaltwins.azure.net/digitaltwins/DTRelationshipTestsRoomTwin?api-version=2023-10-31",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "mise-correlation-id": "5caf839b-dff0-4cfe-9007-1123b9b46f00",
        "traceresponse": "00-a2e05cbbdd9c67362528c8804eaa686a-8c7d3c44d426ef7b-01"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.api.wcus.digitaltwins.azure.net/digitaltwins/DTRelationshipTestsFloorTwin?api-version=2023-10-31",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "mise-correlation-id": "7299f0d4-6ec8-414d-b138-836c0cfbbc50",
        "traceresponse": "00-1c5294390195758b1f9d33bf7412fa51-ab8e5b22552de4c2-01"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.api.wcus.digitaltwins.azure.net/digitaltwins/DTRelationshipTestsBuildingTwin?api-version=2023-10-31",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "mise-correlation-id": "5ee00135-5e97-4fda-af54-56399355d0a7",
        "traceresponse": "00-aa77f7bac5bdd2a7dd42b952338181dd-fb15793b8740bb51-01"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.api.wcus.digitaltwins.azure.net/models?api-version=2023-10-31",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": "[{\"@id\": \"dtmi:samples:RelationshipTestBuilding;1\", \"@type\": \"Interface\", \"@context\": \"dtmi:dtdl:context;2\", \"displayName\": \"Building\", \"contents\": [{\"@type\": \"Relationship\", \"name\": \"has\", \"target\": \"dtmi:samples:RelationshipTestFloor;1\", \"properties\": [{\"@type\": \"Property\", \"name\": \"isAccessRestricted\", \"schema\": \"boolean\"}]}, {\"@type\": \"Property\", \"name\": \"AverageTemperature\", \"schema\": \"double\"}]}, {\"@id\": \"dtmi:samples:RelationshipTestFloor;1\", \"@type\": \"Interface\", \"@context\": \"dtmi:dtdl:context;2\", \"displayName\": \"Floor\", \"contents\": [{\"@type\": \"Relationship\", \"name\": \"contains\", \"target\": \"dtmi:samples:RelationshipTestRoom;1\"}, {\"@type\": \"Property\", \"name\": \"AverageTemperature\", \"schema\": \"double\"}]}, {\"@id\": \"dtmi:samples:RelationshipTest[...]
    {
      "RequestUri": "https://Sanitized.api.wcus.digitaltwins.azure.net/digitaltwins/DTRelationshipTestsBuildingTwin?api-version=2023-10-31",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "$metadata": {
          "$model": "dtmi:samples:RelationshipTestBuilding;1"
        },
        "AverageTemperature": 68
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\"6191efe5-e654-4480-84ee-13d046cd047f\"",
        "mise-correlation-id": "181ab38e-f06d-436c-8eb0-4faa9b994ad3",
        "traceresponse": "00-439bd032440b0e4c0534a78268ed028e-40e08f9ce0a83e49-01"
      },
      "ResponseBody": {
        "$dtId": "DTRelationshipTestsBuildingTwin",
        "$etag": "W/\"6191efe5-e654-4480-84ee-13d046cd047f\"",
        "AverageTemperature": 68,
        "$metadata": {
          "$model": "dtmi:samples:RelationshipTestBuilding;1",
          "$lastUpdateTime": "2025-07-14T01:54:19.9976445Z",
          "AverageTemperature": {
            "lastUpdateTime": "2025-07-14T01:54:19.9976445Z"
          }
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.api.wcus.digitaltwins.azure.net/digitaltwins/DTRelationshipTestsRoomTwin?api-version=2023-10-31",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "$metadata": {
          "$model": "dtmi:samples:RelationshipTestRoom;1"
        },
        "Temperature": 80,
        "IsOccupied": true
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\"4a777d12-894b-4053-a7d7-2fce8cad576d\"",
        "mise-correlation-id": "59c71e05-192f-4df2-b368-a534fb7a0d2a",
        "traceresponse": "00-90ceecc2bc9c8736ea327771d7501240-ed531ff4d7fffff1-01"
      },
      "ResponseBody": {
        "$dtId": "DTRelationshipTestsRoomTwin",
        "$etag": "W/\"4a777d12-894b-4053-a7d7-2fce8cad576d\"",
        "Temperature": 80,
        "IsOccupied": true,
        "$metadata": {
          "$model": "dtmi:samples:RelationshipTestRoom;1",
          "$lastUpdateTime": "2025-07-14T01:54:20.3540797Z",
          "Temperature": {
            "lastUpdateTime": "2025-07-14T01:54:20.3540797Z"
          },
          "IsOccupied": {
            "lastUpdateTime": "2025-07-14T01:54:20.3540797Z"
          }
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.api.wcus.digitaltwins.azure.net/digitaltwins/DTRelationshipTestsBuildingTwin/relationships/BuildingHasFloor?api-version=2023-10-31",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Content-Type": "application/json-patch+json"
      },
      "RequestBody": "[{\"op\": \"remove\", \"path\": \"/isAccessRestricted\"}]",
      "StatusCode": 204,
      "ResponseHeaders": {
        "ETag": "W/\"39896f09-1302-4b99-a94b-db627d9774b7\"",
        "mise-correlation-id": "2a690344-4500-471b-b200-4e46ba673002",
        "traceresponse": "00-6f9ac8133ffb2c6b1bd39d9b5b820589-c633d678bb198ae5-01"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.api.wcus.digitaltwins.azure.net/digitaltwins/DTRelationshipTestsBuildingTwin/relationships/BuildingHasFloor?api-version=2023-10-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\"39896f09-1302-4b99-a94b-db627d9774b7\"",
        "mise-correlation-id": "a1389e58-c8f8-437f-b03e-cfc7c904e5a7",
        "traceresponse": "00-c7ca33d6c2b9b9bc79a0fd325cf88186-9e7fb7b7d3aec678-01"
      },
      "ResponseBody": {
        "$relationshipId": "BuildingHasFloor",
        "$etag": "W/\"39896f09-1302-4b99-a94b-db627d9774b7\"",
        "$sourceId": "DTRelationshipTestsBuildingTwin",
        "$relationshipName": "has",
        "$targetId": "DTRelationshipTestsFloorTwin"
      }
    }
  ],
  "Variables": {}
}
