{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.api.wcus.digitaltwins.azure.net/digitaltwins/digitalTwin-38e038e8?api-version=2023-10-31",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "$metadata": {
          "$model": "dtmi:samples:DTTestBuilding;1"
        },
        "AverageTemperature": 68
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\"e195e52d-acb1-4a88-a41f-1ba680abfaa3\"",
        "mise-correlation-id": "bfafeebf-5d77-4aae-9d22-52f807d6812e",
        "traceresponse": "00-84a379c54cbbad920ce60109109f581f-14e9d075c7c83078-01"
      },
      "ResponseBody": {
        "$dtId": "digitalTwin-38e038e8",
        "$etag": "W/\"e195e52d-acb1-4a88-a41f-1ba680abfaa3\"",
        "AverageTemperature": 68,
        "$metadata": {
          "$model": "dtmi:samples:DTTestBuilding;1",
          "$lastUpdateTime": "2025-07-09T21:48:02.3392885Z",
          "AverageTemperature": {
            "lastUpdateTime": "2025-07-09T21:48:02.3392885Z"
          }
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.api.wcus.digitaltwins.azure.net/digitaltwins/digitalTwin-38e038e8/telemetry?api-version=2023-10-31",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "ComponentTelemetry1": 5
      },
      "StatusCode": 204,
      "ResponseHeaders": {
        "mise-correlation-id": "712a90e5-6fe1-4533-8ed0-64636611061e",
        "traceresponse": "00-759005ccce92fb21847421aa8d3138cf-217c7e49bb50c72f-01"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
