{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.api.wcus.digitaltwins.azure.net/models?includeModelDefinition=false&api-version=2023-10-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "5494cf94-9c8d-4eac-92ba-b05edabcf445",
        "traceresponse": "00-805eb7737103aa532af84a0751ff146f-86fd88676b817630-01"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "dtmi:samples:DTTestBuilding;1",
            "description": {},
            "displayName": {
              "en": "Building"
            },
            "decommissioned": false,
            "uploadTime": "2025-07-14T01:45:50.7375908+00:00"
          }
        ],
        "nextLink": null
      }
    },
    {
      "RequestUri": "https://Sanitized.api.wcus.digitaltwins.azure.net/models/dtmi:samples:DTTestBuilding;1?api-version=2023-10-31",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "mise-correlation-id": "ad9445f1-f564-4f8d-bbcb-f6c99344f411",
        "traceresponse": "00-efd8ea49ec9436ed1c5fe16bc09b547a-1614e0c38df47136-01"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://Sanitized.api.wcus.digitaltwins.azure.net/models?api-version=2023-10-31",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": "[{\"@id\": \"dtmi:samples:DTTestBuilding;1\", \"@type\": \"Interface\", \"@context\": \"dtmi:dtdl:context;2\", \"displayName\": \"Building\", \"contents\": [{\"@type\": \"Property\", \"name\": \"AverageTemperature\", \"schema\": \"double\"}, {\"@type\": \"Property\", \"name\": \"TemperatureUnit\", \"schema\": \"string\"}]}]",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "75b3d4dc-414a-45ac-8ab6-6315c9480e8c",
        "traceresponse": "00-a43069ec7467eca9aa3d865960f3a5a6-c5a2cb9642d14fda-01"
      },
      "ResponseBody": "[{\"id\":\"dtmi:samples:DTTestBuilding;1\",\"description\":{},\"displayName\":{\"en\":\"Building\"},\"decommissioned\":false,\"uploadTime\":\"2025-07-14T01:45:55.3796204+00:00\"}]"
    },
    {
      "RequestUri": "https://Sanitized.api.wcus.digitaltwins.azure.net/digitaltwins/digitalTwin-7133f7b?api-version=2023-10-31",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "mise-correlation-id": "53083b0d-2317-4f69-9c73-198c70bd6175",
        "traceresponse": "00-2266e7520c8d616f2baa734623caac14-1a4b07a81ac6f3a4-01"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.api.wcus.digitaltwins.azure.net/digitaltwins/digitalTwin-7133f7b?api-version=2023-10-31",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "$metadata": {
          "$model": "dtmi:samples:DTTestBuilding;1"
        },
        "AverageTemperature": 68,
        "TemperatureUnit": "Celsius"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\"98e4a49b-f945-4242-8231-b385650dd6b9\"",
        "mise-correlation-id": "5a497930-7389-4c6c-ae2b-508445321bdf",
        "traceresponse": "00-bcd8f7ec191642a06ca376978f55e595-20de74186e98871a-01"
      },
      "ResponseBody": {
        "$dtId": "digitalTwin-7133f7b",
        "$etag": "W/\"98e4a49b-f945-4242-8231-b385650dd6b9\"",
        "AverageTemperature": 68,
        "TemperatureUnit": "Celsius",
        "$metadata": {
          "$model": "dtmi:samples:DTTestBuilding;1",
          "$lastUpdateTime": "2025-07-14T01:45:55.6694191Z",
          "AverageTemperature": {
            "lastUpdateTime": "2025-07-14T01:45:55.6694191Z"
          },
          "TemperatureUnit": {
            "lastUpdateTime": "2025-07-14T01:45:55.6694191Z"
          }
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.api.wcus.digitaltwins.azure.net/digitaltwins/digitalTwin-7133f7b?api-version=2023-10-31",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "$metadata": {
          "$model": "dtmi:samples:DTTestBuilding;1"
        },
        "AverageTemperature": 68,
        "TemperatureUnit": "Celsius"
      },
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "f3f5c66e-3f7e-46d9-84f6-e5a8dcf5a063",
        "traceresponse": "00-598dc93b2d42404a29bf0acaf2ad011d-51cb5511b97f86a4-01",
        "x-ms-error-code": "PreconditionFailed"
      },
      "ResponseBody": {
        "error": {
          "code": "PreconditionFailed",
          "message": "If-None-Match: * header was specified but a twin with the id digitalTwin-7133f7b was found. Please specify a different twin id."
        }
      }
    }
  ],
  "Variables": {}
}
