{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.api.wcus.digitaltwins.azure.net/models?api-version=2023-10-31",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": "[]",
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "d55a38bb-9b06-4712-b880-30bc728a6421",
        "traceresponse": "00-58601ffefb86ad6b2fb54bc00f5da45d-d56595cc020579dd-01",
        "x-ms-error-code": "InvalidArgument"
      },
      "ResponseBody": {
        "error": {
          "code": "InvalidArgument",
          "message": "Operation failed as models provided was empty or of a type that is not supported.. Check that your Model Array contains at least one item and it is of a supported type. See link(https://aka.ms/ADTv2Models) for details."
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.api.wcus.digitaltwins.azure.net/models?api-version=2023-10-31",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "2873685a-d28f-4b0a-9d9e-2df93ce399e9",
        "traceresponse": "00-7406f982a39fe8b3abe4637a1ff98032-05c3007ffc2c3733-01"
      },
      "ResponseBody": {
        "error": {
          "code": "BadRequest",
          "message": "A non-empty request body is required."
        }
      }
    }
  ],
  "Variables": {}
}
