{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.api.wcus.digitaltwins.azure.net/models/dtmi%3Acom%3Asamples%3ATempModelbbab2b7e%3B1?includeModelDefinition=false&api-version=2023-10-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "e4787ead-4db1-49aa-a55d-82887a8765e9",
        "traceresponse": "00-4f89253e40ab5cfd5a5d543e43907c09-812d476056049ee7-01",
        "x-ms-error-code": "ModelNotFound"
      },
      "ResponseBody": {
        "error": {
          "code": "ModelNotFound",
          "message": "There is no Model(s) available that matches the provided id(s) dtmi:com:samples:TempModelbbab2b7e;1. Check that the Model ID provided is valid by doing a Model_List API call."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.api.wcus.digitaltwins.azure.net/models/dtmi%3Acom%3Asamples%3AComponentModelbbab2b7e%3B1?includeModelDefinition=false&api-version=2023-10-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "bcbcbe46-dd1d-4a55-aa12-164bc256b280",
        "traceresponse": "00-04ffdf275bcfef470166784dfbf723d8-aa26e6bf3d200a0d-01",
        "x-ms-error-code": "ModelNotFound"
      },
      "ResponseBody": {
        "error": {
          "code": "ModelNotFound",
          "message": "There is no Model(s) available that matches the provided id(s) dtmi:com:samples:ComponentModelbbab2b7e;1. Check that the Model ID provided is valid by doing a Model_List API call."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.api.wcus.digitaltwins.azure.net/models?api-version=2023-10-31",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": "[{\"@id\": \"dtmi:com:samples:ComponentModelbbab2b7e;1\", \"@type\": \"Interface\", \"@context\": \"dtmi:dtdl:context;2\", \"displayName\": \"Component1\", \"contents\": [{\"@type\": \"Property\", \"name\": \"ComponentProp1\", \"schema\": \"string\"}, {\"@type\": \"Telemetry\", \"name\": \"ComponentTelemetry1\", \"schema\": \"integer\"}]}, {\"@id\": \"dtmi:com:samples:TempModelbbab2b7e;1\", \"@type\": \"Interface\", \"@context\": \"dtmi:dtdl:context;2\", \"displayName\": \"TempModel\", \"contents\": [{\"@type\": \"Property\", \"name\": \"Prop1\", \"schema\": \"string\"}, {\"@type\": \"Component\", \"name\": \"Component1\", \"schema\": \"dtmi:com:samples:ComponentModelbbab2b7e;1\"}, {\"@type\": \"Telemetry\", \"name\": \"Telemetry1\", \"schema\": \"integer\"}]}]",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "bac71221-d510-4c7f-a27e-562e4ceb6f0c",
        "traceresponse": "00-2deeeabbcf1d094cc18c017247f2c791-1747aa5cd76c4eb6-01"
      },
      "ResponseBody": "[{\"id\":\"dtmi:com:samples:ComponentModelbbab2b7e;1\",\"description\":{},\"displayName\":{\"en\":\"Component1\"},\"decommissioned\":false,\"uploadTime\":\"2025-07-14T01:48:18.8573132+00:00\"},{\"id\":\"dtmi:com:samples:TempModelbbab2b7e;1\",\"description\":{},\"displayName\":{\"en\":\"TempModel\"},\"decommissioned\":false,\"uploadTime\":\"2025-07-14T01:48:18.8573357+00:00\"}]"
    }
  ],
  "Variables": {}
}
