{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.api.wcus.digitaltwins.azure.net/models/dtmi%3Acom%3Asamples%3ATempModel2d712ed5%3B1?includeModelDefinition=false&api-version=2023-10-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "b5b84d58-3c69-4f58-a4b6-73d69b6e7575",
        "traceresponse": "00-7968d9ab6ca46c4a41505fdcab70137d-c6491dd482f794c7-01",
        "x-ms-error-code": "ModelNotFound"
      },
      "ResponseBody": {
        "error": {
          "code": "ModelNotFound",
          "message": "There is no Model(s) available that matches the provided id(s) dtmi:com:samples:TempModel2d712ed5;1. Check that the Model ID provided is valid by doing a Model_List API call."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.api.wcus.digitaltwins.azure.net/models/dtmi%3Acom%3Asamples%3AComponentModel2d712ed5%3B1?includeModelDefinition=false&api-version=2023-10-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "bfb3c560-579c-4f25-9417-ab766786b1f5",
        "traceresponse": "00-34abc7410f1e81bc30d53c4934ed5929-a0eea09d40eb3c27-01",
        "x-ms-error-code": "ModelNotFound"
      },
      "ResponseBody": {
        "error": {
          "code": "ModelNotFound",
          "message": "There is no Model(s) available that matches the provided id(s) dtmi:com:samples:ComponentModel2d712ed5;1. Check that the Model ID provided is valid by doing a Model_List API call."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.api.wcus.digitaltwins.azure.net/models?api-version=2023-10-31",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": "[{\"@id\": \"dtmi:com:samples:TempModel2d712ed5;1\", \"@type\": \"Interface\", \"@context\": \"dtmi:dtdl:context;2\", \"displayName\": \"TempModel\", \"contents\": [{\"@type\": \"Property\", \"name\": \"Prop1\", \"schema\": \"string\"}, {\"@type\": \"Telemetry\", \"name\": \"Telemetry1\", \"schema\": \"integer\"}]}]",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "49d368a9-c4c6-4d31-a889-5b63d0819d55",
        "traceresponse": "00-c4d69e54b4a4517ecb0dc89b477ea7f6-268431f4679e931d-01"
      },
      "ResponseBody": "[{\"id\":\"dtmi:com:samples:TempModel2d712ed5;1\",\"description\":{},\"displayName\":{\"en\":\"TempModel\"},\"decommissioned\":false,\"uploadTime\":\"2025-07-14T01:48:23.2758603+00:00\"}]"
    },
[...]
    {
      "RequestUri": "https://Sanitized.api.wcus.digitaltwins.azure.net/models/dtmi%3Acom%3Asamples%3AComponentModel2d712ed5%3B1?includeModelDefinition=false&api-version=2023-10-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "43e954d2-1422-4a36-8ec0-5ae45e41d5a5",
        "traceresponse": "00-0594f79f7e00275a1e85913edcdad23f-74971eeaf9977046-01",
        "x-ms-error-code": "ModelNotFound"
      },
      "ResponseBody": {
        "error": {
          "code": "ModelNotFound",
          "message": "There is no Model(s) available that matches the provided id(s) dtmi:com:samples:ComponentModel2d712ed5;1. Check that the Model ID provided is valid by doing a Model_List API call."
        }
      }
    }
  ],
  "Variables": {}
}
