{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.api.wcus.digitaltwins.azure.net/models/dtmi%3Acom%3Asamples%3AComponentModeld0629d7%3B1?includeModelDefinition=false&api-version=2023-10-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "d842314c-712f-44ac-bb1c-e097c54ede17",
        "traceresponse": "00-f6145b1e47818320e1f1f024f14d2afc-ace9376fe086e483-01",
        "x-ms-error-code": "ModelNotFound"
      },
      "ResponseBody": {
        "error": {
          "code": "ModelNotFound",
          "message": "There is no Model(s) available that matches the provided id(s) dtmi:com:samples:ComponentModeld0629d7;1. Check that the Model ID provided is valid by doing a Model_List API call."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.api.wcus.digitaltwins.azure.net/models?api-version=2023-10-31",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": "[{\"@id\": \"dtmi:com:samples:ComponentModeld0629d7;1\", \"@type\": \"Interface\", \"@context\": \"dtmi:dtdl:context;2\", \"displayName\": \"Component1\", \"contents\": [{\"@type\": \"Property\", \"name\": \"ComponentProp1\", \"schema\": \"string\"}, {\"@type\": \"Telemetry\", \"name\": \"ComponentTelemetry1\", \"schema\": \"integer\"}]}]",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "314a7a7e-d130-41c8-9912-19ef01e28b47",
        "traceresponse": "00-137322c2840960557d65f4a56fe2d71a-eb48b11827b33683-01"
      },
      "ResponseBody": "[{\"id\":\"dtmi:com:samples:ComponentModeld0629d7;1\",\"description\":{},\"displayName\":{\"en\":\"Component1\"},\"decommissioned\":false,\"uploadTime\":\"2025-07-09T21:48:58.5793594+00:00\"}]"
    },
    {
      "RequestUri": "https://Sanitized.api.wcus.digitaltwins.azure.net/models/dtmi%3Acom%3Asamples%3AComponentModeld0629d7%3B1?includeModelDefinition=false&api-version=2023-10-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "2de22388-7b0d-4bcd-a1bd-63aa7133a18b",
        "traceresponse": "00-b3a420fca77f94a9945e702ccc8b2f55-91d2e3de8318ee9a-01"
      },
      "ResponseBody": {
        "id": "dtmi:com:samples:ComponentModeld0629d7;1",
        "description": {},
        "displayName": {
          "en": "Component1"
        },
        "decommissioned": false,
        "uploadTime": "2025-07-09T21:48:58.5793594+00:00"
      }
    }
  ],
  "Variables": {}
}
