{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/b6a8bef9-9220-454a-a229-f360b6e9f0f6?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11999"
      },
      "ResponseBody": {
        "id": "/subscriptions/b6a8bef9-9220-454a-a229-f360b6e9f0f6",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "subscriptionId": "b6a8bef9-9220-454a-a229-f360b6e9f0f6",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": "Azure Event Grid - DevPool 10",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/b6a8bef9-9220-454a-a229-f360b6e9f0f6/resourcegroups/EventGridRG6461?api-version=2022-09-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus2euap",
        "tags": {
          "DeleteAfter": "2023-12-15T11:36:38.7329922"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": {
        "id": "/subscriptions/b6a8bef9-9220-454a-a229-f360b6e9f0f6/resourceGroups/EventGridRG6461",
        "name": "EventGridRG6461",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "eastus2euap",
        "tags": {
          "DeleteAfter": "2023-12-15T11:36:38.7329922"
        },
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/b6a8bef9-9220-454a-a229-f360b6e9f0f6/resourceGroups/EventGridRG6461/providers/Microsoft.EventGrid/partnerRegistrations/PartnerRegistration3913?api-version=2023-12-15-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "Global",
        "properties": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1198"
      },
      "ResponseBody": {
        "properties": {
          "provisioningState": "Succeeded",
          "partnerRegistrationImmutableId": "aa4a75ee-0e4e-4ac9-9957-735e6a9fa3c5",
          "visibilityState": "Hidden"
        },
        "systemData": null,
        "location": "Global",
        "tags": {},
        "id": "/subscriptions/b6a8bef9-9220-454a-a229-f360b6e9f0f6/resourceGroups/EventGridRG6461/providers/Microsoft.EventGrid/partnerRegistrations/PartnerRegistration3913",
        "name": "PartnerRegistration3913",
        "type": "Microsoft.EventGrid/partnerRegistrations"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/b6a8bef9-9220-454a-a229-f360b6e9f0f6/resourceGroups/EventGridRG6461/providers/Microsoft.EventGrid/partnerNamespaces/PartnerNamespace914?api-version=2023-12-15-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "eastus2euap",
        "properties": {
          "partnerRegistrationFullyQualifiedId": "/subscriptions/b6a8bef9-9220-454a-a229-f360b6e9f0f6/resourceGroups/EventGridRG6461/providers/Microsoft.EventGrid/partnerRegistrations/PartnerRegistration3913",
          "publicNetworkAccess": "Enabled",
          "disableLocalAuth": true,
          "partnerTopicRoutingMode": "ChannelNameHeader"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/b6a8bef9-9220-454a-a229-f360b6e9f0f6/providers/Microsoft.EventGrid/locations/eastus2euap/operationsStatus/383E7C62-DD97-4F34-9799-16758CD76BF4?api-version=2023-12-15-preview\u0026t=638382082033592996\u0026c=MIIHHjCCBgagAwIBAgITfwI8ooo2761TEgO3SgAEAjyiijANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDIwHhcNMjMxMTAxMTc1NTI2WhcNMjQxMDI2MTc1NTI2WjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ25pbmdj[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/b6a8bef9-9220-454a-a229-f360b6e9f0f6/providers/Microsoft.EventGrid/locations/eastus2euap/operationsStatus/383E7C62-DD97-4F34-9799-16758CD76BF4?api-version=2023-12-15-preview\u0026t=638382082033592996\u0026c=MIIHHjCCBgagAwIBAgITfwI8ooo2761TEgO3SgAEAjyiijANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDIwHhcNMjMxMTAxMTc1NTI2WhcNMjQxMDI2MTc1NTI2WjBAMT4wPAYDVQQDEzVhc3l[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/b6a8bef9-9220-454a-a229-f360b6e9f0f6/resourceGroups/EventGridRG6461/providers/Microsoft.EventGrid/partnerNamespaces/PartnerNamespace914?api-version=2023-12-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11994"
      },
      "ResponseBody": {
        "properties": {
          "provisioningState": "Succeeded",
          "partnerRegistrationFullyQualifiedId": "/subscriptions/b6a8bef9-9220-454a-a229-f360b6e9f0f6/resourceGroups/EventGridRG6461/providers/Microsoft.EventGrid/partnerRegistrations/PartnerRegistration3913",
          "minimumTlsVersionAllowed": "1.0",
          "endpoint": "https://partnernamespace914.eastus2euap-1.eventgrid.azure.net/api/events",
          "publicNetworkAccess": "Enabled",
          "disableLocalAuth": true,
          "partnerTopicRoutingMode": "ChannelNameHeader"
        },
        "systemData": {
          "createdBy": "e3cb0a1f-04f4-430c-83d1-eaeca4fcc8b5",
          "createdByType": "Application",
          "createdAt": "2023-12-15T03:36:42.2342403Z",
          "lastModifiedBy": "e3cb0a1f-04f4-430c-83d1-eaeca4fcc8b5",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2023-12-15T03:36:42.2342403Z"
        },
        "location": "eastus2euap",
        "tags": {},
        "id": "/subscriptions/b6a8bef9-9220-454a-a229-f360b6e9f0f6/resourceGroups/EventGridRG6461/providers/Microsoft.EventGrid/partnerNamespaces/PartnerNamespace914",
        "name": "PartnerNamespace914",
        "type": "Microsoft.EventGrid/partnerNamespaces"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/b6a8bef9-9220-454a-a229-f360b6e9f0f6/providers/Microsoft.Resources?api-version=2022-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11993"
      },
      "ResponseBody": {
        "id": "/subscriptions/b6a8bef9-9220-454a-a229-f360b6e9f0f6/providers/Microsoft.Resources",
        "namespace": "Microsoft.Resources",
        "authorizations": [
          {
            "applicationId": "3b990c8b-9607-4c2a-8b04-1d41985facca"
          },
          {
            "applicationId": "f77c2a8f-8a0a-4776-8e0a-bcb2549610ca"
          },
          {
            "applicationId": "94946920-7f9c-4956-93c0-2fcf94608102"
          }
        ],
        "resourceTypes": [
          {
            "resourceType": "deploymentScripts",
            "locations": [
              "East Asia",
              "Southeast Asia",
              "Australia East",
              "Australia Southeast",
              "Brazil South",
              "Canada Central",
              "Canada East",
              "Switzerland North",
              "Germany West Central",
              "East US 2",
              "East US",
              "Central US",
              "North Central US",
              "France Central",
              "UK South",
              "UK West",
              "Central India",
              "South India",
              "Jio India West",
              "Italy North",
              "Japan East",
              "Japan West",
              "Korea Central",
              "Korea South",
              "North Europe",
              "Norway East",
              "Poland Central",
              "Qatar Central",
              "Sweden Central",
              "UAE North",
              "West Central US",
              "West Europe",
              "West US 2",
              "West US",
              "South Central US",
              "West US 3",
              "South Africa North",
              "Switzerland West",
              "Central US EUAP",
              "Germany North",
              "East US 2 EUAP",
              "Norway West",
              "Sweden South",
              "South Africa West"
            ],
            "apiVersions": [
              "2023-08-01",
              "2020-10-01",
              "2019-10-01-preview"
            ],
            "capabilities": "SupportsTags, SupportsLocation"
          },
          {
            "resourceType": "deploymentScripts/logs",
            "locations": [
              "East Asia",
              "Southeast Asia",
              "Australia East",
              "Australia Southeast",
              "Brazil South",
              "Canada Central",
              "Canada East",
              "Switzerland North",
              "Germany West Central",
              "East US 2",
              "East US",
              "C[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/b6a8bef9-9220-454a-a229-f360b6e9f0f6/resourceGroups/EventGridRG6461/providers/Microsoft.EventGrid/partnerNamespaces/PartnerNamespace914/providers/Microsoft.Resources/tags/default?api-version=2022-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11992"
      },
      "ResponseBody": {
        "id": "/subscriptions/b6a8bef9-9220-454a-a229-f360b6e9f0f6/resourceGroups/EventGridRG6461/providers/Microsoft.EventGrid/partnerNamespaces/PartnerNamespace914/providers/Microsoft.Resources/tags/default",
        "name": "default",
        "type": "Microsoft.Resources/tags",
        "properties": {
          "tags": {}
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/b6a8bef9-9220-454a-a229-f360b6e9f0f6/resourceGroups/EventGridRG6461/providers/Microsoft.EventGrid/partnerNamespaces/PartnerNamespace914/providers/Microsoft.Resources/tags/default?api-version=2022-09-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "tags": {
            "addtagkey": "addtagvalue"
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1196"
      },
      "ResponseBody": {
        "id": "/subscriptions/b6a8bef9-9220-454a-a229-f360b6e9f0f6/resourceGroups/EventGridRG6461/providers/Microsoft.EventGrid/partnerNamespaces/PartnerNamespace914/providers/Microsoft.Resources/tags/default",
        "name": "default",
        "type": "Microsoft.Resources/tags",
        "properties": {
          "tags": {
            "addtagkey": "addtagvalue"
          }
        }
      }
    },
[...]
