{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "id": "/subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "subscriptionId": "5b4b650e-28b9-4790-b3ab-ddbd88d727c4",
        "tenantId": "00000000-0000-0000-0000-000000000000",
        "displayName": "Azure Event Grid - SDK",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourcegroups/EventGridRG6134?api-version=2022-09-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus2euap",
        "tags": {
          "DeleteAfter": "2025-03-17T22:24:08.0726309"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-writes": "11999",
        "x-ms-ratelimit-remaining-subscription-writes": "799"
      },
      "ResponseBody": {
        "id": "/subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/EventGridRG6134",
        "name": "EventGridRG6134",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "eastus2euap",
        "tags": {
          "DeleteAfter": "2025-03-17T22:24:08.0726309"
        },
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/EventGridRG6134/providers/Microsoft.EventGrid/partnerRegistrations/PartnerRegistration6936?api-version=2025-02-15",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "Global",
        "properties": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-writes": "11998",
        "x-ms-ratelimit-remaining-subscription-writes": "798"
      },
      "ResponseBody": {
        "properties": {
          "provisioningState": "Succeeded",
          "partnerRegistrationImmutableId": "0d832a23-6b99-4d5a-80c0-dc5ce83b149e",
          "visibilityState": "Hidden"
        },
        "systemData": null,
        "location": "Global",
        "tags": null,
        "id": "/subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/EventGridRG6134/providers/Microsoft.EventGrid/partnerRegistrations/PartnerRegistration6936",
        "name": "PartnerRegistration6936",
        "type": "Microsoft.EventGrid/partnerRegistrations"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/EventGridRG6134/providers/Microsoft.EventGrid/partnerNamespaces/PartnerNamespace7436?api-version=2025-02-15",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus2euap",
        "properties": {
          "partnerRegistrationFullyQualifiedId": "/subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/EventGridRG6134/providers/Microsoft.EventGrid/partnerRegistrations/PartnerRegistration6936",
          "publicNetworkAccess": "Enabled",
          "disableLocalAuth": true,
          "partnerTopicRoutingMode": "ChannelNameHeader"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/providers/Microsoft.EventGrid/locations/eastus2euap/operationsStatus/B8264140-7909-48CF-ACE2-B2EB62FF600B?api-version=2025-02-15&t=638778182605706676&c=MIIHhzCCBm-gAwIBAgITHgYzPCNynNboIzpbwQAABjM8IzANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDYwHhcNMjUwMTI1MTAzNDA0WhcNMjUwNzI0MTAzNDA0WjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ25pbmdjZXJ0aWZpY2F0ZS5tYW[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/providers/Microsoft.EventGrid/locations/eastus2euap/operationsStatus/B8264140-7909-48CF-ACE2-B2EB62FF600B?api-version=2025-02-15&t=638778182605706676&c=MIIHhzCCBm-gAwIBAgITHgYzPCNynNboIzpbwQAABjM8IzANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDYwHhcNMjUwMTI1MTAzNDA0WhcNMjUwNzI0MTAzNDA0WjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/EventGridRG6134/providers/Microsoft.EventGrid/partnerNamespaces/PartnerNamespace7436?api-version=2025-02-15",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16498",
        "x-ms-ratelimit-remaining-subscription-reads": "1098"
      },
      "ResponseBody": {
        "properties": {
          "provisioningState": "Succeeded",
          "partnerRegistrationFullyQualifiedId": "/subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/EventGridRG6134/providers/Microsoft.EventGrid/partnerRegistrations/PartnerRegistration6936",
          "minimumTlsVersionAllowed": "1.0",
          "endpoint": "https://partnernamespace7436.eastus2euap-1.eventgrid.azure.net/api/events",
          "publicNetworkAccess": "Enabled",
          "disableLocalAuth": true,
          "partnerTopicRoutingMode": "ChannelNameHeader"
        },
        "systemData": {
          "createdBy": "Sanitized",
          "createdByType": "User",
          "createdAt": "2025-03-17T14:24:18.5237979Z",
          "lastModifiedBy": "Sanitized",
          "lastModifiedByType": "User",
          "lastModifiedAt": "2025-03-17T14:24:18.5237979Z"
        },
        "location": "eastus2euap",
        "tags": null,
        "id": "/subscriptions/5b4b650e-28b9-4790-b3ab-ddbd88d727c4/resourceGroups/EventGridRG6134/providers/Microsoft.EventGrid/partnerNamespaces/PartnerNamespace7436",
        "name": "PartnerNamespace7436",
        "type": "Microsoft.EventGrid/partnerNamespaces"
      }
    },
[...]
