{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/connections/e2etest_wps_conn_test_98402073128?api-version=2024-04-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "authType": "None",
          "category": "Git",
          "isSharedToAll": true,
          "metadata": {},
          "target": "https://test-git-feed.com2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus2-02",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-writes": "2999",
        "x-ms-ratelimit-remaining-subscription-writes": "199",
        "x-ms-response-type": "standard",
        "x-request-time": "0.093"
      },
      "ResponseBody": {
        "tags": null,
        "location": null,
        "id": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/connections/e2etest_wps_conn_test_98402073128",
        "name": "e2etest_wps_conn_test_98402073128",
        "type": "Microsoft.MachineLearningServices/workspaces/connections",
        "properties": {
          "authType": "None",
          "group": "ServicesAndApps",
          "category": "Git",
          "expiryTime": null,
          "target": "https://test-git-feed.com2",
          "createdByWorkspaceArmId": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000",
          "useWorkspaceManagedIdentity": false,
          "isSharedToAll": true,
          "sharedUserList": [],
          "peRequirement": "NotRequired",
          "peStatus": "NotApplicable",
          "error": null,
          "isDefault": true,
          "metadata": {}
        },
        "systemData": {
          "createdAt": "2026-03-27T04:20:58.7125102Z",
          "createdBy": "Sanitized",
          "createdByType": "User",
          "lastModifiedAt": "2026-03-27T04:20:58.7125102Z",
          "lastModifiedBy": "Sanitized",
          "lastModifiedByType": "User"
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/connections/e2etest_wps_conn_test_98402073128?api-version=2024-04-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus2-02",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "3749",
        "x-ms-ratelimit-remaining-subscription-reads": "249",
        "x-ms-response-type": "error",
        "x-request-time": "0.036"
      },
      "ResponseBody": {
        "error": {
          "code": "UserError",
          "severity": null,
          "message": "Connection e2etest_wps_conn_test_98402073128 can't be found in this workspace",
          "messageFormat": null,
          "messageParameters": null,
          "referenceCode": null,
          "detailsUri": null,
          "target": null,
          "details": [],
          "innerError": {
            "code": "NotFoundError",
            "innerError": null
          },
          "debugInfo": null,
          "additionalInfo": null
        },
        "correlation": {
          "operation": "f4244e25de43f6c7386fde479f4aa598",
          "request": "f11538845b756e2d"
        },
        "environment": "eastus2",
        "location": "eastus2",
        "time": "2026-03-27T04:20:59.2632375+00:00",
        "componentName": "account-rp",
        "statusCode": 404
      }
    }
  ],
  "Variables": {
    "wps_connection_name": "test_98402073128"
  }
}
