{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/connections/e2etest_wps_conn_test_56219534764?api-version=2024-04-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "authType": "ServicePrincipal",
          "category": "ADLSGen2",
          "isSharedToAll": true,
          "metadata": {
            "four": "five"
          },
          "target": "my_endpoint",
          "credentials": {
            "clientId": "00000000-0000-0000-0000-000000000000",
            "clientSecret": "Sanitized",
            "tenantId": "00000000-0000-0000-0000-000000000000"
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-eastus-01",
        "x-ms-ratelimit-remaining-subscription-writes": "1198",
        "x-ms-response-type": "standard",
        "x-request-time": "0.200"
      },
      "ResponseBody": {
        "tags": null,
        "location": null,
        "id": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/connections/e2etest_wps_conn_test_56219534764",
        "name": "e2etest_wps_conn_test_56219534764",
        "type": "Microsoft.MachineLearningServices/workspaces/connections",
        "properties": {
          "authType": "ServicePrincipal",
          "credentials": null,
          "group": "Azure",
          "category": "ADLSGen2",
          "expiryTime": null,
          "target": "my_endpoint",
          "createdByWorkspaceArmId": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000",
          "useWorkspaceManagedIdentity": false,
          "isSharedToAll": true,
          "autoPrivateLinkCreate": true,
          "sharedUserList": [],
          "metadata": {
            "four": "five"
          }
        },
        "systemData": {
          "createdAt": "2024-05-02T18:11:18.1265684Z",
          "createdBy": "Sanitized",
          "createdByType": "User",
          "lastModifiedAt": "2024-05-02T18:11:18.1265684Z",
          "lastModifiedBy": "Sanitized",
          "lastModifiedByType": "User"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/connections/e2etest_wps_conn_test_56219534764?api-version=2024-04-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-eastus-01",
        "x-ms-ratelimit-remaining-subscription-reads": "11999",
        "x-ms-response-type": "error",
        "x-request-time": "0.034"
      },
      "ResponseBody": {
        "error": {
          "code": "UserError",
          "severity": null,
          "message": "Connection e2etest_wps_conn_test_56219534764 can't be found in this workspace",
          "messageFormat": null,
          "messageParameters": null,
          "referenceCode": null,
          "detailsUri": null,
          "target": null,
          "details": [],
          "innerError": {
            "code": "NotFoundError",
            "innerError": null
          },
          "debugInfo": null,
          "additionalInfo": null
        },
        "correlation": {
          "operation": "806b674db901b47c6967473b6c7713b1",
          "request": "7b68bd8fb8be9f81"
        },
        "environment": "eastus",
        "location": "eastus",
        "time": "2024-05-02T18:11:19.9600691+00:00",
        "componentName": "account-rp",
        "statusCode": 404
      }
    },
[...]
