{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/connections/e2etest_wps_conn_test_149339268780?api-version=2024-04-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "authType": "ApiKey",
          "category": "CognitiveSearch",
          "isSharedToAll": true,
          "metadata": {},
          "target": "this_is_a_target",
          "credentials": {
            "key": "dGhpcyBpcyBmYWtlIGtleQ=="
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-eastus-02",
        "x-ms-ratelimit-remaining-subscription-writes": "1199",
        "x-ms-response-type": "standard",
        "x-request-time": "1.269"
      },
      "ResponseBody": {
        "tags": null,
        "location": null,
        "id": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/connections/e2etest_wps_conn_test_149339268780",
        "name": "e2etest_wps_conn_test_149339268780",
        "type": "Microsoft.MachineLearningServices/workspaces/connections",
        "properties": {
          "authType": "ApiKey",
          "credentials": null,
          "group": "AzureAI",
          "category": "CognitiveSearch",
          "expiryTime": null,
          "target": "this_is_a_target",
          "createdByWorkspaceArmId": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000",
          "useWorkspaceManagedIdentity": false,
          "isSharedToAll": true,
          "autoPrivateLinkCreate": true,
          "sharedUserList": [],
          "metadata": {
            "ApiVersion": "2023-07-01-preview",
            "DeploymentApiVersion": "2023-11-01"
          }
        },
        "systemData": {
          "createdAt": "2024-05-02T18:11:47.7342762Z",
          "createdBy": "Sanitized",
          "createdByType": "User",
          "lastModifiedAt": "2024-05-02T18:11:47.7342762Z",
          "lastModifiedBy": "Sanitized",
          "lastModifiedByType": "User"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/connections/e2etest_wps_conn_test_149339268780/listsecrets?api-version=2024-04-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-clu[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/connections/e2etest_wps_conn_test_149339268780?api-version=2024-04-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-eastus-01",
        "x-ms-ratelimit-remaining-subscription-reads": "11993",
        "x-ms-response-type": "error",
        "x-request-time": "0.040"
      },
      "ResponseBody": {
        "error": {
          "code": "UserError",
          "severity": null,
          "message": "Connection e2etest_wps_conn_test_149339268780 can't be found in this workspace",
          "messageFormat": null,
          "messageParameters": null,
          "referenceCode": null,
          "detailsUri": null,
          "target": null,
          "details": [],
          "innerError": {
            "code": "NotFoundError",
            "innerError": null
          },
          "debugInfo": null,
          "additionalInfo": null
        },
        "correlation": {
          "operation": "8ca06c8d7981e720db21a09c4619b469",
          "request": "7c450dd98d349841"
        },
        "environment": "eastus",
        "location": "eastus",
        "time": "2024-05-02T18:11:50.8453613+00:00",
        "componentName": "account-rp",
        "statusCode": 404
      }
    },
[...]
