{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/connections/e2etest_wps_conn_test_28003927763?api-version=2024-04-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "authType": "ApiKey",
          "category": "ApiKey",
          "isSharedToAll": true,
          "metadata": {},
          "target": "this_is_a_target",
          "credentials": {
            "key": "dGhpcyBpcyBmYWtlIGtleQ=="
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-eastus-02",
        "x-ms-ratelimit-remaining-subscription-writes": "1199",
        "x-ms-response-type": "standard",
        "x-request-time": "6.245"
      },
      "ResponseBody": {
        "tags": null,
        "location": null,
        "id": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/connections/e2etest_wps_conn_test_28003927763",
        "name": "e2etest_wps_conn_test_28003927763",
        "type": "Microsoft.MachineLearningServices/workspaces/connections",
        "properties": {
          "authType": "ApiKey",
          "credentials": null,
          "group": "AzureAI",
          "category": "ApiKey",
          "expiryTime": null,
          "target": "this_is_a_target",
          "createdByWorkspaceArmId": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000",
          "useWorkspaceManagedIdentity": false,
          "isSharedToAll": true,
          "autoPrivateLinkCreate": true,
          "sharedUserList": [],
          "metadata": {}
        },
        "systemData": {
          "createdAt": "2024-04-26T19:17:44.2654374Z",
          "createdBy": "Sanitized",
          "createdByType": "User",
          "lastModifiedAt": "2024-04-26T19:17:44.2654374Z",
          "lastModifiedBy": "Sanitized",
          "lastModifiedByType": "User"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/connections/e2etest_wps_conn_test_28003927763?api-version=2024-04-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-eastus-01",
        "x-ms-ratelimit-remaining-subscription-reads": "11999",
        "x-ms-response-type": "error",
        "x-request-time": "0.036"
      },
      "ResponseBody": {
        "error": {
          "code": "UserError",
          "severity": null,
          "message": "Connection e2etest_wps_conn_test_28003927763 can't be found in this workspace",
          "messageFormat": null,
          "messageParameters": null,
          "referenceCode": null,
          "detailsUri": null,
          "target": null,
          "details": [],
          "innerError": {
            "code": "NotFoundError",
            "innerError": null
          },
          "debugInfo": null,
          "additionalInfo": null
        },
        "correlation": {
          "operation": "c530a155b5a7d2aebb8cb1f763be084d",
          "request": "fc57f2808b79ef3f"
        },
        "environment": "eastus",
        "location": "eastus",
        "time": "2024-04-26T19:17:51.0353075+00:00",
        "componentName": "account-rp",
        "statusCode": 404
      }
    }
  ],
  "Variables": {
    "wps_connection_name": "test_28003927763"
  }
}
