{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/providers/Microsoft.Compute/operations?api-version=2024-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-resource": "Microsoft.Compute/GetAvailableOperationsPartitionMaximum;29",
        "x-ms-ratelimit-remaining-tenant-reads": "249"
      },
      "ResponseBody": {
        "value": [
          {
            "origin": "user,system",
            "name": "Microsoft.Compute/availabilitySets/read",
            "isDataAction": false,
            "display": {
              "provider": "Microsoft Compute",
              "resource": "Availability Sets",
              "operation": "Get Availablity Set",
              "description": "Get the properties of an availability set"
            }
          },
          {
            "origin": "user,system",
            "name": "Microsoft.Compute/availabilitySets/write",
            "isDataAction": false,
            "display": {
              "provider": "Microsoft Compute",
              "resource": "Availability Sets",
              "operation": "Create or Update Availability Set",
              "description": "Creates a new availability set or updates an existing one"
        [...]
