{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.Compute/virtualMachines?api-version=2024-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-need-to-refresh-epl-cache": "False",
        "x-ms-original-request-ids": "90a0fc1f-fc7f-4293-a677-4370e205fae2",
        "x-ms-ratelimit-remaining-resource": "Microsoft.Compute/HighCostGetSubscriptionMaximum;899",
        "x-ms-ratelimit-remaining-subscription-global-reads": "3749",
        "x-ms-ratelimit-remaining-subscription-reads": "249"
      },
      "ResponseBody": {
        "value": [
          {
            "name": "virtualmachinex1",
            "id": "/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.Compute/virtualMachines/virtualmachinex1",
            "type": "Microsoft.Compute/virtualMachines",
            "location": "eastus2",
            "tags": {
              "azsecpack": "nonprod"
            },
            "properties": {
              "hardwareProfile": {
                "vmSize": "Standard_B1ls"
              },
              "provisioningState": "Succeeded",
              "vmId": "8db8cd61-4aca-446d-99cc-3b4482fce07e",
              "storageProfile": {
                "imageReference": {
                  "publisher": "MicrosoftWindowsServer",
                  "offer": "WindowsServer",
                  "sku": "2016-Datacenter",
                  "version": "latest",
                  "exactVersion": "14393.8246.250703"
                },
                "osDisk": {
                  "osType": "Windows",
                  "name": "myVMosdisk",
                  "createOption": "FromImage",
                  "caching": "ReadWrite",
                  "managedDisk": {
                    "storageAccountType": "Standard_LRS",
                    "id": "/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.Compute/disks/myVMosdisk"
                  },
                  "deleteOption": "Detach",
                  "diskSizeGB": 127
                },
                "dataDisks": [
                  {
                    "lun": 0,
                    "name": "virtualmachinex1_disk2_9bc2a733478f44709ad42584ca8bd07c",
                    "createOption": "Empty",
                    "caching": "None",
                    "managedDisk": {
                      "storageAccountType": "Premium_LRS",
                      "id": "/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.Compute/disks/virtualmachinex1_disk2_9bc2a733478f44709ad42584ca8bd07c"
                    },
                    "deleteOption": "Detach",
                    "diskSizeGB": 1023,
                    "toBeDetached": false
                  },
                  {
                    "lun": 1,
                    "name": "virtualmachinex1_disk3_33032dac3da44727add8c906bda2334c",
                    "createOption": "Empty",
                    "caching": "None",
                    "managedDisk": {
                      "storageAccountType": "Premium_LRS",
                      "id": "/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.Compute/disks/virtualmachinex1_disk3_33032dac3da44727add8c906bda2334c"
                    },
                    "deleteOption": "Detach",
                    "diskSizeGB": 1023,
                    "toBeDetached": false
                  }
                ]
              },
              "osProfile": {
                "computerName": "myVM",
                "adminUsername": "testuser",
                "windowsConfiguration": {
                  "provisionVMAgent": true,
                  "enableAutomaticUpdates": true,
                  "patchSettings": {
                    "patchMode": "AutomaticByOS",
                    "assessmentMode": "ImageDefault"
                  },
                  "enableVMAgentPlatformUpdates": true
                },
                "secrets": [],
                "allowExtensionOperations": true,
                "requireGuestProvisionSignal": true
              },
              "networkProfile": {
                "networkInterfaces": [
                  {
                    "id": "/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.Network/networkInterfaces/interfacex1",
                    "properties": {
                      "primary": true
                    }
                  }
                ]
              },
              "timeCreated": "2025-07-21T03:35:22.3271607+00:00"
            },
            "etag": "Sanitized"
          }
        ]
      }
    }
  ],
  "Variables": {}
}
