{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.Compute/availabilitySets?api-version=2024-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-need-to-refresh-epl-cache": "False",
        "x-ms-original-request-ids": "5ceaf45a-e3b8-4e55-b8fb-511ee7fa075b",
        "x-ms-ratelimit-remaining-resource": "Microsoft.Compute/LowCostGetSubscriptionMaximum;23998",
        "x-ms-ratelimit-remaining-subscription-global-reads": "3749",
        "x-ms-ratelimit-remaining-subscription-reads": "249"
      },
      "ResponseBody": {
        "value": [
          {
            "name": "availabilitySets123",
            "id": "/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.Compute/availabilitySets/availabilitySets123",
            "type": "Microsoft.Compute/availabilitySets",
            "location": "eastus2",
            "properties": {
              "platformUpdateDomainCount": 20,
              "platformFaultDomainCount": 2,
              "virtualMachines": []
            },
            "sku": {
              "name": "Classic"
            }
          }
        ]
      }
    }
  ],
  "Variables": {}
}
