{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/azure_subscription_id/resourceGroups/SSS3PT_myjstest/providers/Microsoft.Compute/availabilitySets/availabilitySets123?api-version=2025-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus2",
        "properties": {
          "platformUpdateDomainCount": 20,
          "platformFaultDomainCount": 2
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-need-to-refresh-epl-cache": "False",
        "x-ms-ratelimit-remaining-resource": "Microsoft.Compute/PutVMSubscriptionMaximum;1499",
        "x-ms-ratelimit-remaining-subscription-global-writes": "2999",
        "x-ms-ratelimit-remaining-subscription-writes": "199"
      },
      "ResponseBody": {
        "name": "availabilitySets123",
        "id": "/subscriptions/azure_subscription_id/resourceGroups/SSS3PT_myjstest/providers/Microsoft.Compute/availabilitySets/availabilitySets123",
        "type": "Microsoft.Compute/availabilitySets",
        "location": "eastus2",
        "properties": {
          "platformUpdateDomainCount": 20,
          "platformFaultDomainCount": 2
        },
        "sku": {
          "name": "Classic"
        }
      }
    }
  ],
  "Variables": {}
}
