{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.Compute/virtualMachines?api-version=2024-03-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-resource": "Microsoft.Compute/HighCostGetSubscriptionMaximum;899",
        "x-ms-ratelimit-remaining-subscription-reads": "11998"
      },
      "ResponseBody": {
        "value": [
          {
            "name": "virtualmachinex1",
            "id": "/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.Compute/virtualMachines/virtualmachinex1",
            "type": "Microsoft.Compute/virtualMachines",
            "location": "eastus2euap",
            "tags": {
              "azsecpack": "nonprod",
              "platformsettings.host_environment.service.platform_optedin_for_rootcerts": "true"
            },
            "properties": {
              "hardwareProfile": {
                "vmSize": "Standard_B1ls"
              },
              "provisioningState": "Succeeded",
              "vmId": "25cffc41-b3f2-4767-a96a-6e86c1959d45",
              "storageProfile": {
                "imageReference": {
                  "publisher": "MicrosoftWindowsServer",
                  "offer": "WindowsServer",
                  "sku": "2016-Datacenter",
                  "version": "latest",
                  "exactVersion": "14393.7159.240703"
                },
                "osDisk": {
                  "osType": "Windows",
                  "name": "myVMosdisk",
                  "createOption": "FromImage",
                  "caching": "ReadWrite",
                  "managedDisk": {
                    "storageAccountType": "Standard_LRS",
                    "id": "/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.Compute/disks/myVMosdisk"
                  },
                  "deleteOption": "Detach",
                  "diskSizeGB": 127
                },
                "dataDisks": [
                  {
                    "lun": 0,
                    "name": "virtualmachinex1_disk2_ec2e4f4530d94c36889e61863737cf9f",
                    "createOption": "Empty",
                    "caching": "None",
                    "managedDisk": {
                      "storageAccountType": "Premium_LRS",
                      "id": "/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.Compute/disks/virtualmachinex1_disk2_ec2e4f4530d94c36889e61863737cf9f"
                    },
                    "deleteOption": "Detach",
                    "diskSizeGB": 1023,
                    "toBeDetached": false
                  },
                  {
                    "lun": 1,
                    "name": "virtualmachinex1_disk3_e0edc38bef094868b0615cfdf6cc62dc",
                    "createOption": "Empty",
                    "caching": "None",
                    "managedDisk": {
                      "storageAccountType": "Premium_LRS",
                      "id": "/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.Compute/disks/virtualmachinex1_disk3_e0edc38bef094868b0615cfdf6cc62dc"
                    },
                    "deleteOption": "Detach",
                    "diskSizeGB": 1023,
                    "toBeDetached": false
                  }
                ]
              },
              "osProfile": {
                "computerName": "myVM",
                "adminUsername": "testuser",
                "windowsConfiguration": {
                  "provisionVMAgent": true,
                  "enableAutomaticUpdates": true,
                  "patchSettings": {
                    "patchMode": "AutomaticByOS",
                    "assessmentMode": "ImageDefault"
                  },
                  "enableVMAgentPlatformUpdates": true
                },
                "secrets": [],
                "allowExtensionOperations": true,
                "requireGuestProvisionSignal": true
              },
              "networkProfile": {
                "networkInterfaces": [
                  {
                    "id": "/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.Network/networkInterfaces/interfacex1",
                    "properties": {
                      "primary": true
                    }
                  }
                ]
              },
              "timeCreated": "2024-07-16T09:18:46.9683028+00:00"
            },
            "etag": "Sanitized"
          }
        ]
      }
    }
  ],
  "Variables": {}
}
