{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.Compute/virtualMachines?api-version=2023-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-resource": "Microsoft.Compute/HighCostGetSubscriptionMaximum;899",
        "x-ms-ratelimit-remaining-subscription-reads": "11982"
      },
      "ResponseBody": {
        "value": [
          {
            "name": "virtualmachinex",
            "id": "/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.Compute/virtualMachines/virtualmachinex",
            "type": "Microsoft.Compute/virtualMachines",
            "location": "eastus",
            "tags": {
              "azsecpack": "nonprod",
              "platformsettings.host_environment.service.platform_optedin_for_rootcerts": "true"
            },
            "properties": {
              "hardwareProfile": {
                "vmSize": "Standard_D2_v2"
              },
              "provisioningState": "Succeeded",
              "vmId": "7a96bc59-4d6b-45b5-8150-a78afee0e5fb",
              "storageProfile": {
                "imageReference": {
                  "publisher": "MicrosoftWindowsServer",
                  "offer": "WindowsServer",
                  "sku": "2016-Datacenter",
                  "version": "latest",
                  "exactVersion": "14393.6529.231202"
                },
                "osDisk": {
                  "osType": "Windows",
                  "name": "myVMosdisk",
                  "createOption": "FromImage",
                  "caching": "ReadWrite",
                  "managedDisk": {
                    "storageAccountType": "Standard_LRS",
                    "id": "/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.Compute/disks/myVMosdisk"
                  },
                  "deleteOption": "Detach",
                  "diskSizeGB": 127
                },
                "dataDisks": [
                  {
                    "lun": 0,
                    "name": "virtualmachinex_disk2_16462a6f992e4f1aa5f5826665e9ed28",
                    "createOption": "Empty",
                    "caching": "None",
                    "managedDisk": {
                      "storageAccountType": "Standard_LRS",
                      "id": "/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.Compute/disks/virtualmachinex_disk2_16462a6f992e4f1aa5f5826665e9ed28"
                    },
                    "deleteOption": "Detach",
                    "diskSizeGB": 1023,
                    "toBeDetached": false
                  },
                  {
                    "lun": 1,
                    "name": "virtualmachinex_disk3_073183979afd48bb857da9b2d71c1946",
                    "createOption": "Empty",
                    "caching": "None",
                    "managedDisk": {
                      "storageAccountType": "Standard_LRS",
                      "id": "/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.Compute/disks/virtualmachinex_disk3_073183979afd48bb857da9b2d71c1946"
                    },
                    "deleteOption": "Detach",
                    "diskSizeGB": 1023,
                    "toBeDetached": false
                  }
                ]
              },
              "osProfile": {
                "computerName": "myVM",
                "adminUsername": "testuser",
                "windowsConfiguration": {
                  "provisionVMAgent": true,
                  "enableAutomaticUpdates": true,
                  "patchSettings": {
                    "patchMode": "AutomaticByOS",
                    "assessmentMode": "ImageDefault"
                  },
                  "enableVMAgentPlatformUpdates": false
                },
                "secrets": [],
                "allowExtensionOperations": true,
                "requireGuestProvisionSignal": true
              },
              "networkProfile": {
                "networkInterfaces": [
                  {
                    "id": "/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.Network/networkInterfaces/interfacex",
                    "properties": {
                      "primary": true
                    }
                  }
                ]
              },
              "timeCreated": "2023-12-28T08:42:50.65737\u002B00:00"
            }
          }
        ]
      }
    }
  ],
  "Variables": {}
}
