{
  "Entries": [
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-bd65f4ff-2b88-79e8-d979-d065abeb04d2?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 31 Jan 2025 22:17:20 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD424507A6653B\"",
        "Last-Modified": "Fri, 31 Jan 2025 22:17:20 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-bd65f4ff-2b88-79e8-d979-d065abeb04d2/test-blob-0693efdf-36d9-4f83-c7c4-9685e54848bb",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 31 Jan 2025 22:17:20 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": "HWNcrxaWzG7Y7+rOq0AGvYZP7DL4BtBNnoFK+GGz9yd4hDCp9ZQICcbCESSpijaNosv6ndq0LxeTDxCVTNMNJPfDVSYPXcjyR+JrNfSrpBRKvFaVuVlMxFUZFuaDcr3zte0t5jQPfkUDB1b4SPki52v8So99d2qddpHR9kfhb9UleIAHfr3gOz4RkrEDVHxb9i56higtdT2Cj2+iPof+IZiB0s95G2mtGw9Ra+W5mSIVdf8YZ+is9wJChe9OPf22E3AZgoGs4tvFzWoY3ApYyfVMjMiH5bqv1NrMNpZ6Xt4Smlh0nxehaZIkU5l9lBv46rz5ArA0Li61aa6m36xESm+MBkGx4yneqyM1Y5EgMUC/00zagFwt3WwqvjVo+onm3wkq8Y3aRwaSG1eN/suclTdu5wtgaskSXyjUhyT[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-bd65f4ff-2b88-79e8-d979-d065abeb04d2/test-blob-0693efdf-36d9-4f83-c7c4-9685e54848bb?sv=Sanitized&se=2025-02-01T22%3A17%3A20Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-MD5": "eNOGXcBL5mHfpMsKISQ+2A==",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD424507B55CC4\"",
        "Last-Modified": "Fri, 31 Jan 2025 22:17:20 GMT",
        "x-ms-access-tier": "Cold",
        "x-ms-access-tier-change-time": "Fri, 31 Jan 2025 22:17:20 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 31 Jan 2025 22:17:20 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Fri, 31 Jan 2025 22:17:20 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05",
        "x-ms-version-id": "2025-01-31T22:17:20.5981380Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-5071b18a-3890-f3cd-e344-20710f2dd671/test-blob-962e4047-e3fb-837b-fc99-5d465446e881?sv=Sanitized&se=2025-02-01T22%3A17%3A20Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-length": "2048",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "PageBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD424507C49CC6\"",
        "Last-Modified": "Fri, 31 Jan 2025 22:17:20 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05",
        "x-ms-version-id": "2025-01-31T22:17:20.6980806Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-5071b18a-3890-f3cd-e344-20710f2dd671/test-blob-962e4047-e3fb-837b-fc99-5d465446e881?sv=Sanitized&se=2025-02-01T22%3A17%3A20Z&sr=b&sp=racwdxyltmei&sig=Sanitized&comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-copy-source": "https://jalauzonnettest.blob.core.windows.net/test-container-bd65f4ff-2b88-79e8-d979-d065abeb04d2/test-blob-0693efdf-36d9-4f83-c7c4-9685e54848bb?sv=sanitized-value&se=2025-02-01T22%3A17%3A20Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-2047",
        "x-ms-source-range": "bytes=0-2047",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD424507CE3854\"",
        "Last-Modified": "Fri, 31 Jan 2025 22:17:20 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-content-crc64": "L6fxn81EGV8=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-bd65f4ff-2b88-79e8-d979-d065abeb04d2/test-blob-0693efdf-36d9-4f83-c7c4-9685e54848bb?sv=Sanitized&se=2025-02-01T22%3A17%3A20Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DD424507B55CC4\"",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-2047/2048",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD424507B55CC4\"",
        "Last-Modified": "Fri, 31 Jan 2025 22:17:20 GMT",
        "x-ms-blob-content-md5": "eNOGXcBL5mHfpMsKISQ+2A==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 31 Jan 2025 22:17:20 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Fri, 31 Jan 2025 22:17:20 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true[...]
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-bd65f4ff-2b88-79e8-d979-d065abeb04d2?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 31 Jan 2025 22:17:21 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2025-01-31T14:17:20.6214938-08:00",
    "RandomSeed": "1219327089",
    "Storage_TestConfigDefault": "ProductionTenant\njalauzonnettest\nU2FuaXRpemVk\nhttps://jalauzonnettest.blob.core.windows.net\nhttps://jalauzonnettest.file.core.windows.net\nhttps://jalauzonnettest.queue.core.windows.net\nhttps://jalauzonnettest.table.core.windows.net\n\n\n\n\nhttps://jalauzonnettest-secondary.blob.core.windows.net\nhttps://jalauzonnettest-secondary.file.core.windows.net\nhttps://jalauzonnettest-secondary.queue.core.windows.net\nhttps://jalauzonnettest-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://jalauzonnettest.blob.core.windows.net/;QueueEndpoint=https://jalauzonnettest.queue.core.windows.net/;FileEndpoint=https://jalauzonnettest.file.core.windows.net/;BlobSecondaryEndpoint=https://jalauzonnettest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jalauzonnettest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jalauzonnettest-secondary.file.core.windows.net/;AccountName=jalauzonnettest;AccountKey=U2FuaXRpemVk\ntestscope1\n\n"
  }
}
