{
  "Entries": [
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-8311c199-f763-8d42-1171-d7d9d1e761bf?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 31 Jan 2025 22:17:29 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD42450CEA1A8E\"",
        "Last-Modified": "Fri, 31 Jan 2025 22:17:29 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-8311c199-f763-8d42-1171-d7d9d1e761bf/test-blob-5a2250e6-953d-a1cd-343f-e8b739c16ef9",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 31 Jan 2025 22:17:29 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": "EFnTT/a6AJlpX5AvSAXVMJ90e83rdGCu2PAfjnBF9hnbIB/ZiBijzwUQfSO3oonEumVSVrJX3pz4JXcGm3EpI2h3Uyfm/KeG0KzI2vc99jVnWtQK8p9nhEGC4WOhnTOT51m6QE5h3r69y4YGjwSkui9Bn0CdHjHID8/lYxpE5TJ4NPKeg7XnBXwVTCcZYfU93SYzYP7z9sko8TF/fHqjeeZTjVoRBjd5WprEiNEKr67ZqIX0EIU0hD4pdpKEZ4kBcdNAxtOaK9bvugZkL273HkKCpdP0r2hhHgkc6JCk9PIQwhb9yejaP3yvBVZ+0FXQMVdQAcK1DcJr36jKfUNFSsUUU2xX+lRZqGZXRaoS4k2zTLY4VPIvW7VTkulAEME4abqQan3peDcD9llcXccYWP1aFzGNDPXT5Pe3BGh[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-8311c199-f763-8d42-1171-d7d9d1e761bf/test-blob-5a2250e6-953d-a1cd-343f-e8b739c16ef9?sv=Sanitized&se=2025-02-01T22%3A17%3A29Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-MD5": "81r+W2dz056U3KeeNNtxIQ==",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD42450CF902A1\"",
        "Last-Modified": "Fri, 31 Jan 2025 22:17:29 GMT",
        "x-ms-access-tier": "Cold",
        "x-ms-access-tier-change-time": "Fri, 31 Jan 2025 22:17:29 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 31 Jan 2025 22:17:29 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Fri, 31 Jan 2025 22:17:29 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05",
        "x-ms-version-id": "2025-01-31T22:17:29.4300833Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-da4020fb-ed72-f735-9c63-24b3452f88c9/test-blob-f7ca1afa-a316-28c2-7143-c53cee7cf3e9?sv=Sanitized&se=2025-02-01T22%3A17%3A29Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "PageBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD42450D09A201\"",
        "Last-Modified": "Fri, 31 Jan 2025 22:17:29 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05",
        "x-ms-version-id": "2025-01-31T22:17:29.5390209Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-da4020fb-ed72-f735-9c63-24b3452f88c9/test-blob-f7ca1afa-a316-28c2-7143-c53cee7cf3e9?sv=Sanitized&se=2025-02-01T22%3A17%3A29Z&sr=b&sp=racwdxyltmei&sig=Sanitized&comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://jalauzonnettest.blob.core.windows.net/test-container-8311c199-f763-8d42-1171-d7d9d1e761bf/test-blob-5a2250e6-953d-a1cd-343f-e8b739c16ef9?sv=sanitized-value&se=2025-02-01T22%3A17%3A29Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD42450D133D8B\"",
        "Last-Modified": "Fri, 31 Jan 2025 22:17:29 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-content-crc64": "Jq85lCfFcpc=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-8311c199-f763-8d42-1171-d7d9d1e761bf/test-blob-5a2250e6-953d-a1cd-343f-e8b739c16ef9?sv=Sanitized&se=2025-02-01T22%3A17%3A29Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DD42450CF902A1\"",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD42450CF902A1\"",
        "Last-Modified": "Fri, 31 Jan 2025 22:17:29 GMT",
        "x-ms-blob-content-md5": "81r+W2dz056U3KeeNNtxIQ==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 31 Jan 2025 22:17:29 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Fri, 31 Jan 2025 22:17:29 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true[...]
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-8311c199-f763-8d42-1171-d7d9d1e761bf?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 31 Jan 2025 22:17:29 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2025-01-31T14:17:29.4617829-08:00",
    "RandomSeed": "455880162",
    "Storage_TestConfigDefault": "ProductionTenant\njalauzonnettest\nU2FuaXRpemVk\nhttps://jalauzonnettest.blob.core.windows.net\nhttps://jalauzonnettest.file.core.windows.net\nhttps://jalauzonnettest.queue.core.windows.net\nhttps://jalauzonnettest.table.core.windows.net\n\n\n\n\nhttps://jalauzonnettest-secondary.blob.core.windows.net\nhttps://jalauzonnettest-secondary.file.core.windows.net\nhttps://jalauzonnettest-secondary.queue.core.windows.net\nhttps://jalauzonnettest-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://jalauzonnettest.blob.core.windows.net/;QueueEndpoint=https://jalauzonnettest.queue.core.windows.net/;FileEndpoint=https://jalauzonnettest.file.core.windows.net/;BlobSecondaryEndpoint=https://jalauzonnettest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jalauzonnettest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jalauzonnettest-secondary.file.core.windows.net/;AccountName=jalauzonnettest;AccountKey=U2FuaXRpemVk\ntestscope1\n\n"
  }
}
