{
  "Entries": [
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-0e05b38d-e29b-e07b-9f6a-855859639f50?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 30 Jan 2025 01:24:03 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD40CCC84F84FF\"",
        "Last-Modified": "Thu, 30 Jan 2025 01:24:03 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-0e05b38d-e29b-e07b-9f6a-855859639f50/test-blob-68bfa414-5338-0081-1e01-3e896ee28a60",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "text/plain",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 30 Jan 2025 01:24:03 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": "6PBA0SpLvxIZo+J7bwHqjfT4MyHan8C4BtxBn9PQGG853GAlyoJ0OcYjR5H5wB8iryYbubWyK0kvh8tOCh8+SYpyQpOhxMNxg/pbtlcvv0W8Hu+ttF65hrAW9UK3Ji6n5f4Ghn2MgetjqTW7V3Ty/8iFkewvkZUrubviis6Aul3Ls9FZKTjHMJ0ESQop/S88JPZ6MpRCd1Np2s3BqfYc4u/Y76OimdaQvWFOKkeKAruMpWXYBofIiTx9709qBYem6GcaUA2Mmosg6nQz9EwM3tcRNQORQ9xnD2ZnJKmGJbjap0LgcLKtAAvauBsTlZTvcRF3WNCDFaSKskCmJHbhmcW8WEwKK20lZDX3tovBVHnReLKYDsznVpGeVr1xBtuV+B9WVz1I5EajUvSbjF4ZyV7H1KzDSYr41AK6bNW[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-0e05b38d-e29b-e07b-9f6a-855859639f50/test-blob-68bfa414-5338-0081-1e01-3e896ee28a60?sv=Sanitized&se=2025-01-31T01%3A24%3A03Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-MD5": "rbM6wNmUgDY1rOaF2KcWwg==",
        "Content-Type": "text/plain",
        "ETag": "\"0x8DD40CCC861D617\"",
        "Last-Modified": "Thu, 30 Jan 2025 01:24:03 GMT",
        "x-ms-access-tier": "Cold",
        "x-ms-access-tier-change-time": "Thu, 30 Jan 2025 01:24:03 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 30 Jan 2025 01:24:03 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Thu, 30 Jan 2025 01:24:03 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05",
        "x-ms-version-id": "2025-01-30T01:24:03.5839511Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-179488ad-2bac-03e1-de37-22f6a96bc26c/test-blob-3c80a9cb-19ac-6c9e-a9e2-cad557d1c64e?sv=Sanitized&se=2025-01-31T01%3A24%3A03Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD40CCC870C7FD\"",
        "Last-Modified": "Thu, 30 Jan 2025 01:24:03 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05",
        "x-ms-version-id": "2025-01-30T01:24:03.6818941Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-179488ad-2bac-03e1-de37-22f6a96bc26c/test-blob-3c80a9cb-19ac-6c9e-a9e2-cad557d1c64e?sv=Sanitized&se=2025-01-31T01%3A24%3A03Z&sr=b&sp=racwdxyltmei&sig=Sanitized&comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-copy-source": "https://jalauzonnettest.blob.core.windows.net/test-container-0e05b38d-e29b-e07b-9f6a-855859639f50/test-blob-68bfa414-5338-0081-1e01-3e896ee28a60?sv=sanitized-value&se=2025-01-31T01%3A24%3A03Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD40CCC878B612\"",
        "Last-Modified": "Thu, 30 Jan 2025 01:24:03 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-content-crc64": "e7j3G8CpHiE=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-0e05b38d-e29b-e07b-9f6a-855859639f50/test-blob-68bfa414-5338-0081-1e01-3e896ee28a60?sv=Sanitized&se=2025-01-31T01%3A24%3A03Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DD40CCC861D617\"",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "text/plain",
        "ETag": "\"0x8DD40CCC861D617\"",
        "Last-Modified": "Thu, 30 Jan 2025 01:24:03 GMT",
        "x-ms-blob-content-md5": "rbM6wNmUgDY1rOaF2KcWwg==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 30 Jan 2025 01:24:03 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Thu, 30 Jan 2025 01:24:03 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true[...]
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-179488ad-2bac-03e1-de37-22f6a96bc26c/test-blob-3c80a9cb-19ac-6c9e-a9e2-cad557d1c64e?sv=Sanitized&se=2025-01-31T01%3A24%3A03Z&sr=b&sp=racwdxyltmei&sig=Sanitized&comp=tags",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?>\n",
        "<Tags><TagSet/></Tags>"
      ]
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-0e05b38d-e29b-e07b-9f6a-855859639f50?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 30 Jan 2025 01:24:04 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2025-01-29T17:24:03.6030750-08:00",
    "RandomSeed": "181508458",
    "Storage_TestConfigDefault": "ProductionTenant\njalauzonnettest\nU2FuaXRpemVk\nhttps://jalauzonnettest.blob.core.windows.net\nhttps://jalauzonnettest.file.core.windows.net\nhttps://jalauzonnettest.queue.core.windows.net\nhttps://jalauzonnettest.table.core.windows.net\n\n\n\n\nhttps://jalauzonnettest-secondary.blob.core.windows.net\nhttps://jalauzonnettest-secondary.file.core.windows.net\nhttps://jalauzonnettest-secondary.queue.core.windows.net\nhttps://jalauzonnettest-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://jalauzonnettest.blob.core.windows.net/;QueueEndpoint=https://jalauzonnettest.queue.core.windows.net/;FileEndpoint=https://jalauzonnettest.file.core.windows.net/;BlobSecondaryEndpoint=https://jalauzonnettest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jalauzonnettest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jalauzonnettest-secondary.file.core.windows.net/;AccountName=jalauzonnettest;AccountKey=U2FuaXRpemVk\ntestscope1\n\n"
  }
}
