{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-c7e2603d-8b36-42d0-ab9f-21a785b5252d?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 00:45:16 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D1154270461\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:45:16 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-c7e2603d-8b36-42d0-ab9f-21a785b5252d/test-blob-23d6455a-efa8-ef65-dac0-7a3b434ce934",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 07 Mar 2025 00:45:16 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": "oRZve7KwVnDB/i+jUzipZD/xoJpymcbPgRHAA7XGKdl5d8Bp/CkDhUQYhAFjaP08pUQFRsd+gQdQn/qh71K6+tVVKdt4QGcV7htWWhXEbBgUg15xwOIR+va4GVwvYpXxXoksDT4hxGXc71esKCfyizPhjGz0STnyRC/lvyYL5oyFZPuLmF7a87/4lNGKZdLOxo4pTtUp/RVPOckPOwQ/0QnLJsMrZ/LUBpis+7RoZ95dFvmY4pi2XGfmO16Vy7e7ucLHvz8Ool+bVEc8fAFg5tLrsiQKpu9xFclcRSuTPzvh8UHyoKifTnSa/I1QeeBlhlSMqhiSsBLTVql1sl0zBxULW4q/bkYpTGOwb6lhIJzp9r/WB5UjTkEvHkr+KZwWZvV4RR1WpRcOYl614UBocjYNjLueXQCA6AxIkE/[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-c7e2603d-8b36-42d0-ab9f-21a785b5252d/test-blob-23d6455a-efa8-ef65-dac0-7a3b434ce934?sv=Sanitized&se=2025-03-08T00%3A45%3A16Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-MD5": "7J8q6rAvQHoTgZdZBOedqQ==",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD5D11543A4278\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:45:16 GMT",
        "x-ms-access-tier": "Cold",
        "x-ms-access-tier-change-time": "Fri, 07 Mar 2025 00:45:16 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 07 Mar 2025 00:45:16 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-fcb63803-7f46-039d-cee4-f11677e8cfda/test-blob-bb8d9ce3-0dff-e19e-0657-304769dbd5da?sv=Sanitized&se=2025-03-08T00%3A45%3A16Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "PageBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D11545463E1\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:45:16 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-fcb63803-7f46-039d-cee4-f11677e8cfda/test-blob-bb8d9ce3-0dff-e19e-0657-304769dbd5da?sv=Sanitized&se=2025-03-08T00%3A45%3A16Z&sr=b&sp=racwdxyltmei&sig=Sanitized&comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-c7e2603d-8b36-42d0-ab9f-21a785b5252d/test-blob-23d6455a-efa8-ef65-dac0-7a3b434ce934?sv=sanitized-value&se=2025-03-08T00%3A45%3A16Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D11545E1CFC\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:45:16 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-content-crc64": "+vMH4/yQewY=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-c7e2603d-8b36-42d0-ab9f-21a785b5252d/test-blob-23d6455a-efa8-ef65-dac0-7a3b434ce934?sv=Sanitized&se=2025-03-08T00%3A45%3A16Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DD5D11543A4278\"",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD5D11543A4278\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:45:16 GMT",
        "x-ms-blob-content-md5": "7J8q6rAvQHoTgZdZBOedqQ==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 07 Mar 2025 00:45:16 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "oRZve7KwVnDB/i+jUzipZD/xoJpymcbPgRHAA[...]
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-c7e2603d-8b36-42d0-ab9f-21a785b5252d?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 00:45:17 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2025-03-06T16:45:16.5931879-08:00",
    "RandomSeed": "122337936",
    "Storage_TestConfigDefault": "ProductionTenant\namandapreprod\nU2FuaXRpemVk\nhttps://amandapreprod.blob.core.windows.net\nhttps://amandapreprod.file.core.windows.net\nhttps://amandapreprod.queue.core.windows.net\nhttps://amandapreprod.table.core.windows.net\n\n\n\n\nhttps://amandapreprod-secondary.blob.core.windows.net\nhttps://amandapreprod-secondary.file.core.windows.net\nhttps://amandapreprod-secondary.queue.core.windows.net\nhttps://amandapreprod-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandapreprod.blob.core.windows.net/;QueueEndpoint=https://amandapreprod.queue.core.windows.net/;FileEndpoint=https://amandapreprod.file.core.windows.net/;BlobSecondaryEndpoint=https://amandapreprod-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandapreprod-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandapreprod-secondary.file.core.windows.net/;AccountName=amandapreprod;AccountKey=U2FuaXRpemVk\nencryptionScope\n\n"
  }
}
