{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-3c2e7a17-a4ad-7ff0-4308-b0770a73e73b?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Thu, 28 Mar 2024 21:07:25 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4F6B12ADBC2B\u0022",
        "Last-Modified": "Thu, 28 Mar 2024 21:07:27 GMT",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-3c2e7a17-a4ad-7ff0-4308-b0770a73e73b/test-blob-3a4a6d72-4cd3-a16f-23b0-016aca0e0491",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 28 Mar 2024 21:07:25 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": "TDbbvK2cOcHJ2GAEhQkAd7jqdrJVnmDyftqi\u002BGc8/g9UzxrYSvdLMZ4cpC/DlEpVHeaz6XL0Lq3V6T7T\u002BUFZjdpQsLXuJyzAn0QTOfowL\u002BqPTduAiBWdX6BtAmG5dzhdwhZVcuSVZvW68kkt4fWzpbpURKxm2ATEs1EVgSXLBycMtnbj2rwF\u002BeblxpXLb32quVymZTKL9\u002BkRkb\u002BSgOTQ7\u002BsiISp/z8v9TkrFgBJv\u002BEPTasfIJKH1gL6M0Un9c3kCFdeqqU5SK\u002BqRqRfoxnfXoph7vhYdB8pJLKFs8/2C/9rQw2o6xE71gD7dNnqKDLlHtC\u002BwgrRj5A4MYHyt5jjtD6k8FwMMnd1JhT7XQNBPvh/nJD7O0X0mbd5cLWTSSJkG7yfRTvW2OhdRZvx2jKQ9vaJcxcL5Hj0rFqoksG95dz2k0VCpfnAqMeknfGuBsOA6HnDCdYLXDNDppThLkYqn2O6\u002B0bpTlD4xMpTY0qLSqmXJ6pL\u002BtwK6zMR/v9g336Bff6R8wt4l5okxkELu/zkuFvvSgab3qCDsBAT21NRl\u002BlPzeFL\u002BVeiHowQJzSe/y82KUKndZV35aNaDkL3ZLxG0y5bv\u002B4fnMMATS96h7dv5LDg3a4MriJT1\u002BRB8e8UqrXPyVQGRz9BGoyDoyhl/WHr7iWOEocSOiEMB\u002BgF2a7X76J0=",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "oMHlFNfGPmO4ULiMywrY0A==",
        "ETag": "\u00220x8DC4F6B12C3688B\u0022",
        "Last-Modified": "Thu, 28 Mar 2024 21:07:27 GMT",
        "x-ms-content-crc64": "cwABTRwPqoU=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-03-28T21:07:27.4668955Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-3c2e7a17-a4ad-7ff0-4308-b0770a73e73b/test-blob-3a4a6d72-4cd3-a16f-23b0-016aca0e0491?sv=2024-05-04\u0026se=2024-03-29T21%3A07%3A25Z\u0026sr=b\u0026sp=Sanitized\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "oMHlFNfGPmO4ULiMywrY0A==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC4F6B12C3688B\u0022",
        "Last-Modified": "Thu, 28 Mar 2024 21:07:27 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 28 Mar 2024 21:07:27 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-03-28T21:07:27.4668955Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-6aa2b83f-afed-eddb-003a-82c4fe66b7d3/test-blob-2eb1ad5a-a71c-e206-f15c-e4455428a99f?sv=2024-05-04\u0026se=2024-03-29T21%3A07%3A25Z\u0026sr=b\u0026sp=Sanitized\u0026sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-content-length": "512",
        "x-ms-blob-content-type": "application/octet-stream",
        "x-ms-blob-type": "PageBlob",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4F6B12E12567\u0022",
        "Last-Modified": "Thu, 28 Mar 2024 21:07:27 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-03-28T21:07:27.6607847Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-6aa2b83f-afed-eddb-003a-82c4fe66b7d3/test-blob-2eb1ad5a-a71c-e206-f15c-e4455428a99f?sv=2024-05-04\u0026se=2024-03-29T21%3A07%3A25Z\u0026sr=b\u0026sp=Sanitized\u0026sig=Sanitized\u0026comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-copy-source": "Sanitized",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-511",
        "x-ms-source-range": "bytes=0-511",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4F6B12EBD23B\u0022",
        "Last-Modified": "Thu, 28 Mar 2024 21:07:27 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-content-crc64": "cwABTRwPqoU=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-3c2e7a17-a4ad-7ff0-4308-b0770a73e73b/test-blob-3a4a6d72-4cd3-a16f-23b0-016aca0e0491?sv=2024-05-04\u0026se=2024-03-29T21%3A07%3A25Z\u0026sr=b\u0026sp=Sanitized\u0026sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\u00220x8DC4F6B12C3688B\u0022",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-511/512",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC4F6B12C3688B\u0022",
        "Last-Modified": "Thu, 28 Mar 2024 21:07:27 GMT",
        "x-ms-blob-content-md5": "oMHlFNfGPmO4ULiMywrY0A==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 28 Mar 2024 21:07:27 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-03-28T21:07:27.4668955Z"
      },
      "ResponseBody": "TDbbvK2cOcHJ2GAEhQkAd7jqdrJVnmDyftqi\u002BGc8/g9UzxrYSvdLMZ4cpC/DlEpVHeaz6XL0Lq3V6T7T\u002BUFZjdpQsLXuJyzAn0QTOfowL\u002BqPTduAiBWdX6BtAmG5dzhdwhZVcuSVZvW68kkt4fWzpbpURKxm2ATEs1EVgSXLBycMtnbj2rwF\u002BeblxpXLb32quVymZTKL9\u002BkRkb\u002BSgOTQ7\u002BsiISp/z8v9TkrFgBJv\u002BEPTasfIJKH1gL6M0Un9c3kCFdeqqU5SK\u002BqRqRfoxnfXoph7vhYdB8pJLKFs8/2C/9rQw2o6xE71gD7dNnqKDLlHtC\u002BwgrRj5A4MYHyt5jjtD6k8FwMMnd1JhT7XQNBPvh/nJD7O0X0mbd5cLWTSSJkG7yfRTvW2OhdRZvx2jKQ9vaJcxcL5Hj0rFqoksG95dz2k0VCpfnAqMeknfGuBsOA6HnDCdYLXDNDppThLkYqn2O6\u002B0bpTlD4xMpTY0qLSqmXJ6pL\u002BtwK6zMR/v9g336Bff6R8wt4l5okxkELu/zkuFvvSgab3qCDsBAT21NRl\u002BlPzeFL\u002BVeiHowQJzSe/y82KUKndZV35aNaDkL3ZLxG0y5bv\u002B4fnMMATS96h7dv5LDg3a4MriJT1\u002BRB8e8UqrXPyVQGRz9BGoyDoyhl/WHr7iWOEocSOiEMB\u002BgF2a7X76J0="
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-3c2e7a17-a4ad-7ff0-4308-b0770a73e73b?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 28 Mar 2024 21:07:26 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-03-28T14:07:25.7109778-07:00",
    "RandomSeed": "1705502925",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
