{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-4284feff-4db3-32f5-77ec-8d668992a461?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Thu, 28 Mar 2024 21:07:27 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4F6B13D4CA1A\u0022",
        "Last-Modified": "Thu, 28 Mar 2024 21:07:29 GMT",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-4284feff-4db3-32f5-77ec-8d668992a461/test-blob-7fcc2dd2-104b-df49-74a1-18ae1dfbd16b",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 28 Mar 2024 21:07:27 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": "6HDOgenjJLDlmHzgvY/7QW4fwAhI1SNQUKUNuTKLRIJiaSyLD4n3zngO5AP60SmbkdbKCR94SBNMfTFE1Wt\u002BWVT5fVNicDLlJ/KPOfAfVn58cSdcwDpj6SAYPpFXs/kMkIuvAFTVOSGj5eIs6Q8jLCayyGNEIZkZlpMzSjGhjXP5g6llcFYqpzgFudpYNgAR9BFqpOuVyG7xlmrAoe7wAlhuM2VmvrzQiCEqPmi\u002BwF\u002BSIVUfNuiHY7o6c9nraQVJFbeC6QKaqzZUmhvKaooGM9UKLoCZ0Mtw5s\u002BrK0rj5B8b4SiwPNZd93YfypzMvfkwNEAD4TuEsEXrEgIy74DrcbX8[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-4284feff-4db3-32f5-77ec-8d668992a461/test-blob-7fcc2dd2-104b-df49-74a1-18ae1dfbd16b?sv=2024-05-04\u0026se=2024-03-29T21%3A07%3A27Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "mtkb0NRETgtz47U/A5/14A==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC4F6B13E88429\u0022",
        "Last-Modified": "Thu, 28 Mar 2024 21:07:29 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 28 Mar 2024 21:07:29 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-03-28T21:07:29.3868073Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-7749e0c3-3b23-3686-138e-5d98d644d935/test-blob-233db1cc-6057-783c-ffad-5b993505bb9e?sv=2024-05-04\u0026se=2024-03-29T21%3A07%3A27Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-content-length": "2048",
        "x-ms-blob-content-type": "application/octet-stream",
        "x-ms-blob-type": "PageBlob",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4F6B14004E6B\u0022",
        "Last-Modified": "Thu, 28 Mar 2024 21:07:29 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-03-28T21:07:29.5427179Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-7749e0c3-3b23-3686-138e-5d98d644d935/test-blob-233db1cc-6057-783c-ffad-5b993505bb9e?sv=2024-05-04\u0026se=2024-03-29T21%3A07%3A27Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized\u0026comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-copy-source": "https://amandadev2.blob.core.windows.net/test-container-4284feff-4db3-32f5-77ec-8d668992a461/test-blob-7fcc2dd2-104b-df49-74a1-18ae1dfbd16b?sv=2024-05-04\u0026se=2024-03-29T21%3A07%3A27Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-2047",
        "x-ms-source-range": "bytes=0-2047",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4F6B14109FC3\u0022",
        "Last-Modified": "Thu, 28 Mar 2024 21:07:29 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-content-crc64": "BIk7YvAgoG8=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-4284feff-4db3-32f5-77ec-8d668992a461/test-blob-7fcc2dd2-104b-df49-74a1-18ae1dfbd16b?sv=2024-05-04\u0026se=2024-03-29T21%3A07%3A27Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\u00220x8DC4F6B13E88429\u0022",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-2047/2048",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC4F6B13E88429\u0022",
        "Last-Modified": "Thu, 28 Mar 2024 21:07:29 GMT",
        "x-ms-blob-content-md5": "mtkb0NRETgtz47U/A5/14A==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 28 Mar 2024 21:07:29 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-03-28T21:07:29.3868073Z"
      },
      "ResponseBody": "6HDOgenjJLDlmHzgvY/7QW4fwAhI1SNQUKUNuTKLRIJiaSyLD4n3zngO5AP60SmbkdbKCR94SBN[...]
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-4284feff-4db3-32f5-77ec-8d668992a461?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 28 Mar 2024 21:07:28 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-03-28T14:07:27.6293098-07:00",
    "RandomSeed": "1031246994",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
