{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-8617ee08-1337-490f-e1ff-bbe29d3a259f?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 00:45:33 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D115E0DF4C3\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:45:33 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-8617ee08-1337-490f-e1ff-bbe29d3a259f/test-blob-ae7c3c7f-e49b-1a76-3747-1ab90e805ac9",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 07 Mar 2025 00:45:33 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": "v4ElJ0AJwYEO/i1feHbHbpRIjw7j6fYAxRIAOdt0Qvb4rdyVhP+FDKf1xOboXNcA98OOjRMR/dWLJWEtCIilmrw2Z8qaMumVwoJm7SUPF2k6AEEY5bTi5rAGCl+dVwQfTykpsfUNZcXZ+MqRqw+wew348wdGjLQIVIEZlCiK+Gt+R5775WZzLZt8P+zpUTuhVo5SpGP82MJ1IV1z89CcTwBfEmNwtJamhcZsyU3HHgJGdz6ZN1MHgW7bhsMI/znK3/Dsij7XMaL4rB+dkA91rQNaLXuSAhisV5H0lS3SnYWMoeld25PEbkacoYozavBfZtjArtK9N93YPzOs4pt0Jg6aEe4lF9Jvlr419mGNeOyglS5UEe+zzmoMhZxgF4yqJ3t8mVkCOk4GURgTiEB8SsZGDE1tHxQe50KEGJI[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-8617ee08-1337-490f-e1ff-bbe29d3a259f/test-blob-ae7c3c7f-e49b-1a76-3747-1ab90e805ac9?sv=Sanitized&se=2025-03-08T00%3A45%3A33Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-MD5": "14G2d4Ky86snpaYbyUs4hw==",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD5D115E2076AE\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:45:33 GMT",
        "x-ms-access-tier": "Cold",
        "x-ms-access-tier-change-time": "Fri, 07 Mar 2025 00:45:33 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 07 Mar 2025 00:45:33 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-d22826c6-b817-2cc9-a756-fede015060ce/test-blob-92154a1b-024d-d729-f2f5-35709175bf81?sv=Sanitized&se=2025-03-08T00%3A45%3A33Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "PageBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D115E3829D0\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:45:33 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-d22826c6-b817-2cc9-a756-fede015060ce/test-blob-92154a1b-024d-d729-f2f5-35709175bf81?sv=Sanitized&se=2025-03-08T00%3A45%3A33Z&sr=b&sp=racwdxyltmei&sig=Sanitized&comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-8617ee08-1337-490f-e1ff-bbe29d3a259f/test-blob-ae7c3c7f-e49b-1a76-3747-1ab90e805ac9?sv=sanitized-value&se=2025-03-08T00%3A45%3A33Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D115E41E2DD\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:45:33 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-content-crc64": "sVdWO1rNykM=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-8617ee08-1337-490f-e1ff-bbe29d3a259f/test-blob-ae7c3c7f-e49b-1a76-3747-1ab90e805ac9?sv=Sanitized&se=2025-03-08T00%3A45%3A33Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DD5D115E2076AE\"",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD5D115E2076AE\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:45:33 GMT",
        "x-ms-blob-content-md5": "14G2d4Ky86snpaYbyUs4hw==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 07 Mar 2025 00:45:33 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "v4ElJ0AJwYEO/i1feHbHbpRIjw7j6fYAxRIAO[...]
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-8617ee08-1337-490f-e1ff-bbe29d3a259f?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 00:45:34 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2025-03-06T16:45:33.2002465-08:00",
    "RandomSeed": "707895473",
    "Storage_TestConfigDefault": "ProductionTenant\namandapreprod\nU2FuaXRpemVk\nhttps://amandapreprod.blob.core.windows.net\nhttps://amandapreprod.file.core.windows.net\nhttps://amandapreprod.queue.core.windows.net\nhttps://amandapreprod.table.core.windows.net\n\n\n\n\nhttps://amandapreprod-secondary.blob.core.windows.net\nhttps://amandapreprod-secondary.file.core.windows.net\nhttps://amandapreprod-secondary.queue.core.windows.net\nhttps://amandapreprod-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandapreprod.blob.core.windows.net/;QueueEndpoint=https://amandapreprod.queue.core.windows.net/;FileEndpoint=https://amandapreprod.file.core.windows.net/;BlobSecondaryEndpoint=https://amandapreprod-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandapreprod-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandapreprod-secondary.file.core.windows.net/;AccountName=amandapreprod;AccountKey=U2FuaXRpemVk\nencryptionScope\n\n"
  }
}
