{
  "Entries": [
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-6898aa35-af29-4019-1057-329cee2de76c?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 31 Jan 2025 21:39:36 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD423FC23B47D1\"",
        "Last-Modified": "Fri, 31 Jan 2025 21:39:36 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-9ba618c4-ab3a-270f-24b3-7e3bd102b0ce/test-blob-810bfa13-4cf1-2f16-5027-a175cae7e0c8",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Fri, 31 Jan 2025 21:39:36 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD423FC24A845D\"",
        "Last-Modified": "Fri, 31 Jan 2025 21:39:36 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05",
        "x-ms-version-id": "2025-01-31T21:39:36.6514781Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-9ba618c4-ab3a-270f-24b3-7e3bd102b0ce/test-blob-810bfa13-4cf1-2f16-5027-a175cae7e0c8?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Fri, 31 Jan 2025 21:39:36 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": "RqOmVinhLo7EKBdRlr+6Et7b7Z1XpGeXKm+usbvgfzXogx/JETu7v2XdHyTHGK8bH/3fjYQGPKE8Diu6M3zS46jiaRKg8AGjIC43eoVD0BLAkpG9AfKw4kd+jQIPAIvpCjt75a+cei/8O2xVzsIc+T4Z+qDrFOK2MYfLImL/lCCjTm9Jx+tiJBhhwcWFWxOFYpTD9QXq/vZZxLMo0FjM/KZMsn9S0jFTt9aIiVIcMNZzRr/OPJ8auFB58AI3OlO/lcQfOaiTMo9jbz4uYXWjPJTctImY/sAHMfkv2eEuG3yDyfSO/fYt4BQwasxh7Fbb1bRuW4bKJpYEFwevY1iuNVPBq5iBFT+drtN0aJTzpkWiVAMtv8D1uKJdiuXvfny7gTV4n0C+WsB00K2yVb0BEHHCDA9VgHW[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-6898aa35-af29-4019-1057-329cee2de76c/test-blob-605e0d73-ce1a-06e4-2e68-34ccc9d55fac",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 31 Jan 2025 21:39:36 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": "4LPM2Sv7lcz1fVBG/XHWe7Jotc0n8rZy/AuZajkSD4g8azUx1z6heHeSa5x+nQm9kbkZYR+Rhe79Wd0gYSuT4m7ICZI7paN0xz1VlYYZ9F4B29h/+K1oq+ZHM35ggBZM/ogutZN3gesVpZriO+9n5GR/HoVTE+nBX16s9HElE0YnCZb+6j7KilrtaVIShm/24E8Z4WGQ+euebVY1y4158JJTujFZafkmtJQrZqmWrtjutRQiDDLllxCrX33olb/Nc3nAv8s9nHdW8yzNZJNBB75+RhV4V+RfbiMhrgl7Ph/UXvIw1u8MsRmdyxkFGDJ9ale+ak6qVBuUYFCoHO5t2rUM+AagEDHPcZX824zLWlbxo0OyvNPRKgnWm3WeZJQqL/Bj+B8r3Vkl7/i5rnmPyQb6tniqux7hO839yXS[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-6898aa35-af29-4019-1057-329cee2de76c/test-blob-605e0d73-ce1a-06e4-2e68-34ccc9d55fac?sv=Sanitized&se=2025-02-01T21%3A39%3A36Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-MD5": "BtzKTJ6cA5mKAyhrq+oS7Q==",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD423FC257EFE5\"",
        "Last-Modified": "Fri, 31 Jan 2025 21:39:36 GMT",
        "x-ms-access-tier": "Cold",
        "x-ms-access-tier-change-time": "Fri, 31 Jan 2025 21:39:36 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 31 Jan 2025 21:39:36 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Fri, 31 Jan 2025 21:39:36 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05",
        "x-ms-version-id": "2025-01-31T21:39:36.7404271Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-9ba618c4-ab3a-270f-24b3-7e3bd102b0ce/test-blob-810bfa13-4cf1-2f16-5027-a175cae7e0c8?sv=Sanitized&se=2025-02-01T21%3A39%3A36Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "PageBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 409,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "BlobAlreadyExists",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>BlobAlreadyExists</Code><Message>The specified blob already exists.\n",
        "RequestId:fe490ac0-301e-0096-0828-74d313000000\n",
        "Time:2025-01-31T21:39:36.8512205Z</Message></Error>"
      ]
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-9ba618c4-ab3a-270f-24b3-7e3bd102b0ce/test-blob-810bfa13-4cf1-2f16-5027-a175cae7e0c8?sv=Sanitized&se=2025-02-01T21%3A39%3A36Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD423FC2513A22\"",
        "Last-Modified": "Fri, 31 Jan 2025 21:39:36 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Fri, 31 Jan 2025 21:39:36 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05",
        "x-ms-version-id": "2025-01-31T21:39:36.6514781Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-9ba618c4-ab3a-270f-24b3-7e3bd102b0ce/test-blob-810bfa13-4cf1-2f16-5027-a175cae7e0c8?sv=Sanitized&se=2025-02-01T21%3A39%3A36Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DD423FC2513A22\"",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD423FC2513A22\"",
        "Last-Modified": "Fri, 31 Jan 2025 21:39:36 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Fri, 31 Jan 2025 21:39:36 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-vers[...]
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-6898aa35-af29-4019-1057-329cee2de76c?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 31 Jan 2025 21:39:37 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2025-01-31T13:39:36.7156845-08:00",
    "RandomSeed": "692269039",
    "Storage_TestConfigDefault": "ProductionTenant\njalauzonnettest\nU2FuaXRpemVk\nhttps://jalauzonnettest.blob.core.windows.net\nhttps://jalauzonnettest.file.core.windows.net\nhttps://jalauzonnettest.queue.core.windows.net\nhttps://jalauzonnettest.table.core.windows.net\n\n\n\n\nhttps://jalauzonnettest-secondary.blob.core.windows.net\nhttps://jalauzonnettest-secondary.file.core.windows.net\nhttps://jalauzonnettest-secondary.queue.core.windows.net\nhttps://jalauzonnettest-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://jalauzonnettest.blob.core.windows.net/;QueueEndpoint=https://jalauzonnettest.queue.core.windows.net/;FileEndpoint=https://jalauzonnettest.file.core.windows.net/;BlobSecondaryEndpoint=https://jalauzonnettest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jalauzonnettest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jalauzonnettest-secondary.file.core.windows.net/;AccountName=jalauzonnettest;AccountKey=U2FuaXRpemVk\ntestscope1\n\n"
  }
}
