{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-5d466c13-c39b-0948-5576-08fa425480fe?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 00:45:12 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D1151D095A2\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:45:12 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-5d466c13-c39b-0948-5576-08fa425480fe/test-blob-965a3c83-4ace-5173-3973-e2703481ae82",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 07 Mar 2025 00:45:12 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": "jX6Ahl7Kc+UhxzhQMw1+N0vS/j+rJLrPMrWYFQ/etwFaNU6wCgRb/nmZVtfKi4Yw5YQQk/FxJGjDsFSoMV7VQxA39v6+zi1GdgDFEc7jBaYvaDCLzSMP6RDm7FqwsswbxBPHk5WIchZXyRzwqxKa36uteckuSXXsJw3t1+HSlsQ0qk27HHERp/YZNAMHHj39Sw2uAjgD7Xqd22uImpo1hDNYvADF3sM5nNLSFRRx5QnP74zUJJSLMb3SHUEGiQxc47DQrmI8OGxJdGZmMNhlLPViuasNYV+fzYtD8sGCMxLFdjFkoDankrYfiq8tJADkbPFLpM9hToJQMeHW+UWrx0FTobmnAYu+uyb07tavcaiKXobQN49DYyeuE29V0Jhxc8Nu2YNHPWtljOiobV+sob84TJq/2pCxED2S+O4caeqOg3oSQZclQyAaaqqmmvbHAnKvHYP+sZgzvclGtEV8SSP+GurlmWAoEgl5pHDlCnZHyvZ8bEtnj9Hh3oPO347bniGHqH8L4mgShwt6hAwoTrJS/upOANzYl4sYA7vcWTN7ngZOXmL3O+eOaeVA7QrFuJDRe+CjjJ1FrxHz896sNi3Y/uYF2vBPW8MCwJf3l6mAUksqCt5S1xFpCa5QA0gJ4TO3Z+4jwN6ggR8coMsGTRdnc6CTgitPhSfVm9FB/1g=",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "Gamt6lGSyxs97kuHZ2ll4A==",
        "ETag": "\"0x8DD5D1151E5352E\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:45:12 GMT",
        "x-ms-content-crc64": "+qgtm2lvCME=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-5d466c13-c39b-0948-5576-08fa425480fe/test-blob-965a3c83-4ace-5173-3973-e2703481ae82?sv=Sanitized&se=2025-03-08T00%3A45%3A12Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-MD5": "Gamt6lGSyxs97kuHZ2ll4A==",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD5D1151E5352E\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:45:12 GMT",
        "x-ms-access-tier": "Cold",
        "x-ms-access-tier-change-time": "Fri, 07 Mar 2025 00:45:12 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 07 Mar 2025 00:45:12 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-c70c1d69-80d0-74ec-0026-b3f0cb670e9b/test-blob-158cac7f-32ee-79ee-8e2e-a3bab0f0e4d8?sv=Sanitized&se=2025-03-08T00%3A45%3A12Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-length": "512",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "PageBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D1151FDAAC5\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:45:12 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-c70c1d69-80d0-74ec-0026-b3f0cb670e9b/test-blob-158cac7f-32ee-79ee-8e2e-a3bab0f0e4d8?sv=Sanitized&se=2025-03-08T00%3A45%3A12Z&sr=b&sp=racwdxyltmei&sig=Sanitized&comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-5d466c13-c39b-0948-5576-08fa425480fe/test-blob-965a3c83-4ace-5173-3973-e2703481ae82?sv=sanitized-value&se=2025-03-08T00%3A45%3A12Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-511",
        "x-ms-source-range": "bytes=0-511",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D1152082658\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:45:12 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-content-crc64": "+qgtm2lvCME=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-5d466c13-c39b-0948-5576-08fa425480fe/test-blob-965a3c83-4ace-5173-3973-e2703481ae82?sv=Sanitized&se=2025-03-08T00%3A45%3A12Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DD5D1151E5352E\"",
        "x-ms-range": "bytes=0-511",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-511/512",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD5D1151E5352E\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:45:12 GMT",
        "x-ms-blob-content-md5": "Gamt6lGSyxs97kuHZ2ll4A==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 07 Mar 2025 00:45:12 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "jX6Ahl7Kc+UhxzhQMw1+N0vS/j+rJLrPMrWYFQ/etwFaNU6wCgRb/nmZVtfKi4Yw5YQQk/FxJGjDsFSoMV7VQxA39v6+zi1GdgDFEc7jBaYvaDCLzSMP6RDm7FqwsswbxBPHk5WIchZXyRzwqxKa36uteckuSXXsJw3t1+HSlsQ0qk27HHERp/YZNAMHHj39Sw2uAjgD7Xqd22uImpo1hDNYvADF3sM5nNLSFRRx5QnP74zUJJSLMb3SHUEGiQxc47DQrmI8OGxJdGZmMNhlLPViuasNYV+fzYtD8sGCMxLFdjFkoDankrYfiq8tJADkbPFLpM9hToJQMeHW+UWrx0FTobmnAYu+uyb07tavcaiKXobQN49DYyeuE29V0Jhxc8Nu2YNHPWtljOiobV+sob84TJq/2pCxED2S+O4caeqOg3oSQZclQyAaaqqmmvbHAnKvHYP+sZgzvclGtEV8SSP+GurlmWAoEgl5pHDlCnZHyvZ8bEtnj9Hh3oPO347bniGHqH8L4mgShwt6hAwoTrJS/upOANzYl4sYA7vcWTN7ngZOXmL3O+eOaeVA7QrFuJDRe+CjjJ1FrxHz896sNi3Y/uYF2vBPW8MCwJf3l6mAUksqCt5S1xFpCa5QA0gJ4TO3Z+4jwN6ggR8coMsGTRdnc6CTgitPhSfVm9FB/1g="
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-5d466c13-c39b-0948-5576-08fa425480fe?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 00:45:13 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2025-03-06T16:45:12.6785964-08:00",
    "RandomSeed": "2137126924",
    "Storage_TestConfigDefault": "ProductionTenant\namandapreprod\nU2FuaXRpemVk\nhttps://amandapreprod.blob.core.windows.net\nhttps://amandapreprod.file.core.windows.net\nhttps://amandapreprod.queue.core.windows.net\nhttps://amandapreprod.table.core.windows.net\n\n\n\n\nhttps://amandapreprod-secondary.blob.core.windows.net\nhttps://amandapreprod-secondary.file.core.windows.net\nhttps://amandapreprod-secondary.queue.core.windows.net\nhttps://amandapreprod-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandapreprod.blob.core.windows.net/;QueueEndpoint=https://amandapreprod.queue.core.windows.net/;FileEndpoint=https://amandapreprod.file.core.windows.net/;BlobSecondaryEndpoint=https://amandapreprod-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandapreprod-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandapreprod-secondary.file.core.windows.net/;AccountName=amandapreprod;AccountKey=U2FuaXRpemVk\nencryptionScope\n\n"
  }
}
