{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-ee04daf5-82ea-a1d0-d623-adc98e4bb5de?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 09 Apr 2024 20:31:03 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC58D3FA654C85\u0022",
        "Last-Modified": "Tue, 09 Apr 2024 20:31:04 GMT",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-764d13f5-5710-7d21-2849-c8501be316bb/test-blob-c4f57e57-050e-4b7e-48cb-36f4fc384054",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Tue, 09 Apr 2024 20:31:03 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC58D3FA794DC2\u0022",
        "Last-Modified": "Tue, 09 Apr 2024 20:31:04 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-04-09T20:31:04.3365314Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-764d13f5-5710-7d21-2849-c8501be316bb/test-blob-c4f57e57-050e-4b7e-48cb-36f4fc384054?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 09 Apr 2024 20:31:03 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": "lHcLqK3S66WDR7OxFVdIxPA/jMablxKHrlfwDl/CNXJqDNobMkPVinO3w/K0cJt/8cXRFZ26b/xlg/pW4d1GwBFBRgl8LZKtaQJS49Qf0j67cByZ8CDUsJ3etq9Jf6iWcALgcymSAsQzJKubZ4soRbC7mnDArc/xbJZsnnbiZOpZvHPRP18UKW1YZcx1OUgRtXD\u002BjeQ41cMy7waTJmNNUL/AQasYVwZRpnECaEcDezNNWukG5NYGIeavn09YgAIJChQMtfec\u002BV1qredzNW17L3PTRst6R2zpuiDFaLi2\u002BSZu\u002BF0y9sY8sGGLmzbvkut4NG/bhDo3j8OnI/rW15CltLPABT0PSDmtl5Vq7qs1\u002Bic1TDRI2nTsN2iai9LLZtnR5ueDLo[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-ee04daf5-82ea-a1d0-d623-adc98e4bb5de/test-blob-9aef0395-f52c-e9d3-9465-af34b6ec084f",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "text/plain",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 09 Apr 2024 20:31:04 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": "goZACR\u002B6SO\u002BOXgJghKG0TZiie/KYEzJvY5Y0W/IFEcKp8AUVQGpbwhKpK4CCnWJrezXjEcUjam5T0aWIhe38iExAtpObngwtRrnf7\u002Biy7MY0yd\u002B8Iv/9hoWWwm7F0zwlrKMzQubOz9wptcsMQ3uGoeXfVLwNP2ZNQjANBdydaHN8ukNFfqnfZfkDk2w08UMKECCJ5X5/F2w85gC2wcr/i0xXj4g4QSM7AO/CCqz5GFHtA/S8FIP0/aPWCJepKKMvAwcg3GG60s/9TeWPvQ3AQs2uyb7VQ3fJYpLlYTiLktdLkwak2TvvMjElvsadZUCVFsbJ\u002Bl/lWcCQVnrP1XCWcboOQykGG2iRv5aMsISxK/1ST0tywZh3ZTlGFILBIF3Aj0wLjyIWj/pdNz[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-ee04daf5-82ea-a1d0-d623-adc98e4bb5de/test-blob-9aef0395-f52c-e9d3-9465-af34b6ec084f?sv=2024-05-04\u0026se=2024-04-10T20%3A31%3A04Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-MD5": "T9Juc0TY9nvBST88xcA78A==",
        "Content-Type": "text/plain",
        "ETag": "\u00220x8DC58D3FA8BE8B7\u0022",
        "Last-Modified": "Tue, 09 Apr 2024 20:31:04 GMT",
        "x-ms-access-tier": "Cold",
        "x-ms-access-tier-change-time": "Tue, 09 Apr 2024 20:31:04 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 09 Apr 2024 20:31:04 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-04-09T20:31:04.4584631Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-764d13f5-5710-7d21-2849-c8501be316bb/test-blob-c4f57e57-050e-4b7e-48cb-36f4fc384054?sv=2024-05-04\u0026se=2024-04-10T20%3A31%3A04Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized\u0026comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://amandadev2.blob.core.windows.net/test-container-ee04daf5-82ea-a1d0-d623-adc98e4bb5de/test-blob-9aef0395-f52c-e9d3-9465-af34b6ec084f?sv=2024-05-04\u0026se=2024-04-10T20%3A31%3A04Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC58D3FAB3B61E\u0022",
        "Last-Modified": "Tue, 09 Apr 2024 20:31:04 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-content-crc64": "DO/dqLio3eQ=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-ee04daf5-82ea-a1d0-d623-adc98e4bb5de/test-blob-9aef0395-f52c-e9d3-9465-af34b6ec084f?sv=2024-05-04\u0026se=2024-04-10T20%3A31%3A04Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\u00220x8DC58D3FA8BE8B7\u0022",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "text/plain",
        "ETag": "\u00220x8DC58D3FA8BE8B7\u0022",
        "Last-Modified": "Tue, 09 Apr 2024 20:31:04 GMT",
        "x-ms-blob-content-md5": "T9Juc0TY9nvBST88xcA78A==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 09 Apr 2024 20:31:04 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id"[...]
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-ee04daf5-82ea-a1d0-d623-adc98e4bb5de?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 09 Apr 2024 20:31:04 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-04-09T13:31:04.0157041-07:00",
    "RandomSeed": "51848145",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
