{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-5ac61826-f8eb-5870-70ce-33946c11de27?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Thu, 28 Mar 2024 21:07:19 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4F6B0EEF1635\u0022",
        "Last-Modified": "Thu, 28 Mar 2024 21:07:21 GMT",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-5ac61826-f8eb-5870-70ce-33946c11de27/test-blob-7c3d7608-38d6-cb23-d4f2-4c586f5a992b",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 28 Mar 2024 21:07:19 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": "MrpXdfE\u002BhB3SuCnU7Zi8seCG3qQZRPCKX9YvBEGKxrZt87mDFW46MMjOme/N2vscLnoopSIC/\u002B7KzRYbDoDcR/FyZvrfOZtyTK7cS6sAvITbE9XGYiGUavPLuEhXHiJI8VH9W3MBPfXetVlzJrRCyhCSQPqqFuXQ3vsHFIBTGy2MlFlZAmEQ2dbg56zHIEQ\u002BiO43xd4nnttsLXx4\u002Bih1i5os55Jb6MevgWYkyS44CL63yIuSHFVOZPV\u002B7dXlmN\u002BtalwSmziy458miEN4AtSsMyS\u002BwDGd4m5E3oKc3PvxyumGd1/SJm2FBOTsa5MS1mIh0bmxJteuE[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-5ac61826-f8eb-5870-70ce-33946c11de27/test-blob-7c3d7608-38d6-cb23-d4f2-4c586f5a992b?sv=2024-05-04\u0026se=2024-03-29T21%3A07%3A19Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "tI3NOm0w1oW4SnAGcZEu4g==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC4F6B0F03695F\u0022",
        "Last-Modified": "Thu, 28 Mar 2024 21:07:21 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 28 Mar 2024 21:07:21 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-03-28T21:07:21.1744607Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-239e4f42-3da6-b79e-3cc6-efd139ed07da/test-blob-470d6a37-06ad-72e3-5dc6-6cfa4a9417eb?sv=2024-05-04\u0026se=2024-03-29T21%3A07%3A19Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-content-type": "application/octet-stream",
        "x-ms-blob-type": "PageBlob",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4F6B0F1C6BF6\u0022",
        "Last-Modified": "Thu, 28 Mar 2024 21:07:21 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-03-28T21:07:21.3383670Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-239e4f42-3da6-b79e-3cc6-efd139ed07da/test-blob-470d6a37-06ad-72e3-5dc6-6cfa4a9417eb?sv=2024-05-04\u0026se=2024-03-29T21%3A07%3A19Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized\u0026comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-copy-source": "https://amandadev2.blob.core.windows.net/test-container-5ac61826-f8eb-5870-70ce-33946c11de27/test-blob-7c3d7608-38d6-cb23-d4f2-4c586f5a992b?sv=2024-05-04\u0026se=2024-03-29T21%3A07%3A19Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-511",
        "x-ms-source-range": "bytes=0-511",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4F6B0F280307\u0022",
        "Last-Modified": "Thu, 28 Mar 2024 21:07:21 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-content-crc64": "mV8tgT5k2oI=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-5ac61826-f8eb-5870-70ce-33946c11de27/test-blob-7c3d7608-38d6-cb23-d4f2-4c586f5a992b?sv=2024-05-04\u0026se=2024-03-29T21%3A07%3A19Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\u00220x8DC4F6B0F03695F\u0022",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC4F6B0F03695F\u0022",
        "Last-Modified": "Thu, 28 Mar 2024 21:07:21 GMT",
        "x-ms-blob-content-md5": "tI3NOm0w1oW4SnAGcZEu4g==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 28 Mar 2024 21:07:21 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-03-28T21:07:21.1744607Z"
      },
      "ResponseBody": "MrpXdfE\u002BhB3SuCnU7Zi8seCG3qQZRPCKX9YvBEGKxrZt87mDFW46MMjOme/N2vscLnoopS[...]
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-5ac61826-f8eb-5870-70ce-33946c11de27?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 28 Mar 2024 21:07:20 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-03-28T14:07:19.4161157-07:00",
    "RandomSeed": "605405003",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
