{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-d80803c8-4d5a-8d25-7f84-c9617b244fdd?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Thu, 28 Mar 2024 21:07:11 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4F6B0A9B7610\u0022",
        "Last-Modified": "Thu, 28 Mar 2024 21:07:13 GMT",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-d80803c8-4d5a-8d25-7f84-c9617b244fdd/test-blob-e97489ad-b262-abf9-af14-3904c8b76bf4",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 28 Mar 2024 21:07:12 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": "rd0h4R51SuhoWPS72cYXs22YryjcX9i914GbG8qoV6QlyqqAaCXi5X4yD/bEUx\u002B9C9FVeFaLEE0FZAqc2S4ewAFQlQ4blktItcmpqU/i\u002BINi3RD5Ut9NmbldewQaRQtQFE/0dL4QonSGDcKM4mf9I2uHOvwdJW4hAvxUvRtGLW\u002B9WZUA7YTFUTucckUdwbdSX1eYkwsPMu/g03HCu\u002BRYP99Sz4jR/TbnwejBgbIoBEFEAl7ErZpkrielHxoSA5VWQzNmyvEvgGIgsdEjTrA8uM4vfbmGlJFF7iFgK90c1L5Taj1/wjpPFYH8o/zIQF92aGdL4oXb0K\u002BhIdzQzlW[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-d80803c8-4d5a-8d25-7f84-c9617b244fdd/test-blob-e97489ad-b262-abf9-af14-3904c8b76bf4?sv=2024-05-04\u0026se=2024-03-29T21%3A07%3A12Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "o9qVpaD6nKPb5s4ESujNgA==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC4F6B0AAFA404\u0022",
        "Last-Modified": "Thu, 28 Mar 2024 21:07:13 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 28 Mar 2024 21:07:13 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-03-28T21:07:13.9145732Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-ac61b807-6ec7-093e-6693-3b310b7ce998/test-blob-930ac210-ffdb-9411-0d8f-6384cec8644b?sv=2024-05-04\u0026se=2024-03-29T21%3A07%3A12Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-content-type": "application/octet-stream",
        "x-ms-blob-type": "PageBlob",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4F6B0AC80A8B\u0022",
        "Last-Modified": "Thu, 28 Mar 2024 21:07:14 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-03-28T21:07:14.0754819Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-ac61b807-6ec7-093e-6693-3b310b7ce998/test-blob-930ac210-ffdb-9411-0d8f-6384cec8644b?sv=2024-05-04\u0026se=2024-03-29T21%3A07%3A12Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized\u0026comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-copy-source": "https://amandadev2.blob.core.windows.net/test-container-d80803c8-4d5a-8d25-7f84-c9617b244fdd/test-blob-e97489ad-b262-abf9-af14-3904c8b76bf4?sv=2024-05-04\u0026se=2024-03-29T21%3A07%3A12Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4F6B0AD35384\u0022",
        "Last-Modified": "Thu, 28 Mar 2024 21:07:14 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-content-crc64": "sn02VzwiWQQ=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-d80803c8-4d5a-8d25-7f84-c9617b244fdd/test-blob-e97489ad-b262-abf9-af14-3904c8b76bf4?sv=2024-05-04\u0026se=2024-03-29T21%3A07%3A12Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\u00220x8DC4F6B0AAFA404\u0022",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC4F6B0AAFA404\u0022",
        "Last-Modified": "Thu, 28 Mar 2024 21:07:13 GMT",
        "x-ms-blob-content-md5": "o9qVpaD6nKPb5s4ESujNgA==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 28 Mar 2024 21:07:13 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-03-28T21:07:13.9145732Z"
      },
      "ResponseBody": "rd0h4R51SuhoWPS72cYXs22YryjcX9i914GbG8qoV6QlyqqAaCXi5X4yD/bEUx\u002B9C9FVeF[...]
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-d80803c8-4d5a-8d25-7f84-c9617b244fdd?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 28 Mar 2024 21:07:12 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-03-28T14:07:12.1531049-07:00",
    "RandomSeed": "366909686",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
