{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-09e180c5-f323-1c38-0da6-f744466cdb11?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 30 Sep 2025 20:41:33 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE0061BDF30D34\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:41:33 GMT",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-09e180c5-f323-1c38-0da6-f744466cdb11/test-blob-01ddfdf7-55c1-83ae-d28b-db53456990db",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 30 Sep 2025 20:41:33 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": "BrqUTjazOh0xio0yPNvAOS4QCaQwQ0ptKh52eONnQqI5QgW9yESO5vGsZ24bFwE23HdeCTDVdcJvJyMXPMI6ykjq+fnVA3DqgSKyg9zcURMdQJtrCDhyY8xCTaAgdqkvcpwlMR0HYNgGc4cNI/Lmk9YQ+vwmz8EPeJYsk7bQygt4gxE/tiD2Fd/DZJSxZEDaXLnKD3ysCaPaFriG2s0iNql8lJ/gp922GuQdY2otXhRWUTb8BbqOzHpuZKBnbzoSoC3rNc+g+rTcFPWXj6U4rbikMIiWJjHu7cglckI9TqqpCsI9QShEtVeBH/HF9jzUNbbowz6ye3r8/UcHeohyn8VK7oTi+myPX3sxFAY/KPaLUTyMVYpr949IQUPhPTrPD38regi48TtKWGTDgGdzvNRReylL5Uo73/f1mrk[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-09e180c5-f323-1c38-0da6-f744466cdb11/test-blob-01ddfdf7-55c1-83ae-d28b-db53456990db?sv=Sanitized&se=2025-10-01T20%3A41%3A33Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-MD5": "+vAaCGue3GHzNVzDt9ieXQ==",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DE0061BE09E724\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:41:33 GMT",
        "x-ms-access-tier": "Cold",
        "x-ms-access-tier-change-time": "Tue, 30 Sep 2025 20:41:33 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 30 Sep 2025 20:41:33 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-5e3f4239-6856-3a9f-0e45-02673a742ae4/test-blob-9bcd4343-3aaa-2406-18ae-72dc83124858?sv=Sanitized&se=2025-10-01T20%3A41%3A33Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "PageBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE0061BE35F5A9\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:41:33 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-5e3f4239-6856-3a9f-0e45-02673a742ae4/test-blob-9bcd4343-3aaa-2406-18ae-72dc83124858?sv=Sanitized&se=2025-10-01T20%3A41%3A33Z&sr=b&sp=racwdxyltmei&sig=Sanitized&comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-09e180c5-f323-1c38-0da6-f744466cdb11/test-blob-01ddfdf7-55c1-83ae-d28b-db53456990db?sv=sanitized-value&se=2025-10-01T20%3A41%3A33Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE0061BE3FD5A5\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:41:33 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-content-crc64": "R8wQOwU8+HU=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-09e180c5-f323-1c38-0da6-f744466cdb11/test-blob-01ddfdf7-55c1-83ae-d28b-db53456990db?sv=Sanitized&se=2025-10-01T20%3A41%3A33Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DE0061BE09E724\"",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DE0061BE09E724\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:41:33 GMT",
        "x-ms-blob-content-md5": "+vAaCGue3GHzNVzDt9ieXQ==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 30 Sep 2025 20:41:33 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": "BrqUTjazOh0xio0yPNvAOS4QCaQwQ0ptKh52e[...]
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-09e180c5-f323-1c38-0da6-f744466cdb11?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 30 Sep 2025 20:41:34 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2025-09-30T13:41:33.4523035-07:00",
    "RandomSeed": "1800711182",
    "Storage_TestConfigDefault": "ProductionTenant\namandapreprod\nU2FuaXRpemVk\nhttps://amandapreprod.blob.core.windows.net\nhttps://amandapreprod.file.core.windows.net\nhttps://amandapreprod.queue.core.windows.net\nhttps://amandapreprod.table.core.windows.net\n\n\n\n\nhttps://amandapreprod-secondary.blob.core.windows.net\nhttps://amandapreprod-secondary.file.core.windows.net\nhttps://amandapreprod-secondary.queue.core.windows.net\nhttps://amandapreprod-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandapreprod.blob.core.windows.net/;QueueEndpoint=https://amandapreprod.queue.core.windows.net/;FileEndpoint=https://amandapreprod.file.core.windows.net/;BlobSecondaryEndpoint=https://amandapreprod-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandapreprod-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandapreprod-secondary.file.core.windows.net/;AccountName=amandapreprod;AccountKey=U2FuaXRpemVk\nencryptionScope\n\n"
  }
}
