{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-34843e98-864f-a457-eda1-74e93ae0531f?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 00:45:19 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D11560B759F\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:45:19 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-34843e98-864f-a457-eda1-74e93ae0531f/test-blob-7d09b19d-d732-eec7-d8a4-1c5eecd28191",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 07 Mar 2025 00:45:19 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": "tAVaI+h5GUSoZRR12Elqehj6Ifwwdki72FR5M0iSEgApU9MoPEqf2yJ6i3vvFKb5gl92YUii0z29nkqTAOb8FlITS4V2QT3OW0XatuvMzMStf7DoG7C4h4CVa57/C9s8fXQp28kggkAiqAYCxxxS8NKG5YA1E/qhW8QF4dafzk9qnjl2o/H7jfxvxnOqtb9jQnvLeSVbBml6h4AFG6Fqgtm2mCnj20zhiliDxU2H96YEop5b01UqD5jP/Bxx9nJbBEOZ8x2Wf2Yu6u7M10Ec8pDaAHgCD6+DjIiRFN8wcJTmKMAJ7QSJbiI3LOhnXThXswmLl/b5WPSUFWaUBGuH/XpZ5q+AEgSLUJFWy+PGHC5QOmDWpNie7dDLddid9Gm2sC9uDXeJ1qAEAEZkoo0Rzvk3Q8oKsFihu/jetJ0[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-34843e98-864f-a457-eda1-74e93ae0531f/test-blob-7d09b19d-d732-eec7-d8a4-1c5eecd28191?sv=Sanitized&se=2025-03-08T00%3A45%3A19Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-MD5": "x/B4+1Mj9NlWTSG1AsBTag==",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD5D11561D5EC9\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:45:19 GMT",
        "x-ms-access-tier": "Cold",
        "x-ms-access-tier-change-time": "Fri, 07 Mar 2025 00:45:19 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 07 Mar 2025 00:45:19 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-bee57416-5fdc-8094-730a-6c7afb168d67/test-blob-b0a99bfb-ebec-ddc8-44fd-b18f6d22c79d?sv=Sanitized&se=2025-03-08T00%3A45%3A19Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "PageBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D1156366FFD\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:45:19 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-bee57416-5fdc-8094-730a-6c7afb168d67/test-blob-b0a99bfb-ebec-ddc8-44fd-b18f6d22c79d?sv=Sanitized&se=2025-03-08T00%3A45%3A19Z&sr=b&sp=racwdxyltmei&sig=Sanitized&comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-34843e98-864f-a457-eda1-74e93ae0531f/test-blob-7d09b19d-d732-eec7-d8a4-1c5eecd28191?sv=sanitized-value&se=2025-03-08T00%3A45%3A19Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D11563FB461\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:45:19 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-content-crc64": "E9rZL76dzy0=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-34843e98-864f-a457-eda1-74e93ae0531f/test-blob-7d09b19d-d732-eec7-d8a4-1c5eecd28191?sv=Sanitized&se=2025-03-08T00%3A45%3A19Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DD5D11561D5EC9\"",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD5D11561D5EC9\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:45:19 GMT",
        "x-ms-blob-content-md5": "x/B4+1Mj9NlWTSG1AsBTag==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 07 Mar 2025 00:45:19 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "tAVaI+h5GUSoZRR12Elqehj6Ifwwdki72FR5M[...]
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-34843e98-864f-a457-eda1-74e93ae0531f?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 00:45:20 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2025-03-06T16:45:19.7579813-08:00",
    "RandomSeed": "1512576256",
    "Storage_TestConfigDefault": "ProductionTenant\namandapreprod\nU2FuaXRpemVk\nhttps://amandapreprod.blob.core.windows.net\nhttps://amandapreprod.file.core.windows.net\nhttps://amandapreprod.queue.core.windows.net\nhttps://amandapreprod.table.core.windows.net\n\n\n\n\nhttps://amandapreprod-secondary.blob.core.windows.net\nhttps://amandapreprod-secondary.file.core.windows.net\nhttps://amandapreprod-secondary.queue.core.windows.net\nhttps://amandapreprod-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandapreprod.blob.core.windows.net/;QueueEndpoint=https://amandapreprod.queue.core.windows.net/;FileEndpoint=https://amandapreprod.file.core.windows.net/;BlobSecondaryEndpoint=https://amandapreprod-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandapreprod-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandapreprod-secondary.file.core.windows.net/;AccountName=amandapreprod;AccountKey=U2FuaXRpemVk\nencryptionScope\n\n"
  }
}
