{
  "Entries": [
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-5f99a436-4b3c-9274-e869-a513ff5c53c7?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 01:23:46 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC86907B3EC0E1\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:23:48 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-5f99a436-4b3c-9274-e869-a513ff5c53c7/test-blob-9eb84c69-81fa-f5df-4825-b179545762fe",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "text/plain",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 07 Jun 2024 01:23:46 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "7bfNEXaHWWfsv4pjk+eR3LNsMxyMASbh/Q8Kzs1qN2XuujN41I209SJB0LOKa5Em7OMB/OIraeyQ7BNnfYuagYgldNmzGQgmtz36SzBzVpJ+5OHpaDqDwlFH5+h5TXiXp04qZfa4ctPb20SkMR67HZWB6JipsBhOobGHazEfrWrFYqPhSPGbxXEODo3135EyjMpS92Tf7fY23MNFMAahuy7a38572dSj5iMnmqKLWMIfVd9nzbUF5XSsq2wuVpVrbFJeG//Dt7L1rxFBuFNUqoMAJdonOu551PlZzi1ndI+Nuy5PLD3CXJ4scR2jxCwhWAHpLjG6QzJk5UYGaumFjjqCtPwlBH5FPcg8+snQ1RDNN3UsfUZd0nj860b3vPK0p+LjIRAv/FSCpPBpfUlokxA1ODJzWBDzJOGEKBg[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-5f99a436-4b3c-9274-e869-a513ff5c53c7/test-blob-9eb84c69-81fa-f5df-4825-b179545762fe?sv=Sanitized&se=2024-06-08T01%3A23%3A46Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-MD5": "DDdcQHVoE3WcHf9ABKeVSQ==",
        "Content-Type": "text/plain",
        "ETag": "\"0x8DC86907B5FAC54\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:23:48 GMT",
        "x-ms-access-tier": "Cold",
        "x-ms-access-tier-change-time": "Fri, 07 Jun 2024 01:23:48 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 07 Jun 2024 01:23:48 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-06-07T01:23:48.3048020Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-1547f335-efb1-5bc3-0f63-fe35a33e2696/test-blob-9ff98b5a-ae3d-448b-28c2-54843bf1c683?sv=Sanitized&se=2024-06-08T01%3A23%3A46Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-content-type": "text/plain",
        "x-ms-blob-type": "PageBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC86907B7C59A0\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:23:48 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-06-07T01:23:48.4937393Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-1547f335-efb1-5bc3-0f63-fe35a33e2696/test-blob-9ff98b5a-ae3d-448b-28c2-54843bf1c683?sv=Sanitized&se=2024-06-08T01%3A23%3A46Z&sr=b&sp=racwdxyltmei&sig=Sanitized&comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-copy-source": "https://seancanary.blob.core.windows.net/test-container-5f99a436-4b3c-9274-e869-a513ff5c53c7/test-blob-9eb84c69-81fa-f5df-4825-b179545762fe?sv=Sanitized&se=2024-06-08T01%3A23%3A46Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-511",
        "x-ms-source-range": "bytes=0-511",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC86907B8AFE62\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:23:48 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-content-crc64": "hTRQ6jd/6xc=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-5f99a436-4b3c-9274-e869-a513ff5c53c7/test-blob-9eb84c69-81fa-f5df-4825-b179545762fe?sv=Sanitized&se=2024-06-08T01%3A23%3A46Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DC86907B5FAC54\"",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "text/plain",
        "ETag": "\"0x8DC86907B5FAC54\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:23:48 GMT",
        "x-ms-blob-content-md5": "DDdcQHVoE3WcHf9ABKeVSQ==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 07 Jun 2024 01:23:48 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id"[...]
[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-5f99a436-4b3c-9274-e869-a513ff5c53c7?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 01:23:47 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-06-06T20:23:46.8077252-05:00",
    "RandomSeed": "1640991015",
    "Storage_TestConfigDefault": "ProductionTenant\nseancanary\nU2FuaXRpemVk\nhttps://seancanary.blob.core.windows.net\nhttps://seancanary.file.core.windows.net\nhttps://seancanary.queue.core.windows.net\nhttps://seancanary.table.core.windows.net\n\n\n\n\nhttps://seancanary-secondary.blob.core.windows.net\nhttps://seancanary-secondary.file.core.windows.net\nhttps://seancanary-secondary.queue.core.windows.net\nhttps://seancanary-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seancanary.blob.core.windows.net/;QueueEndpoint=https://seancanary.queue.core.windows.net/;FileEndpoint=https://seancanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seancanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seancanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seancanary-secondary.file.core.windows.net/;AccountName=seancanary;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
