{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-825248bc-8c32-f058-36cf-6f59972fe190?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 00:45:40 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D116262F08D\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:45:40 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-825248bc-8c32-f058-36cf-6f59972fe190/test-blob-5ecccb51-8015-7572-68e0-741cdddd4cee",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 07 Mar 2025 00:45:40 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": "KUVnjUfY9YYHWrK9ntEgdDd5/Ra7Bf00hhxHHxlLxZ73g4Jwp41EuIds5y4ltsA1XUavTHY2TyNHMwYqkNVsu5UTxRtPr82qNEWOTh7PDs9cEsLTnHgnwDReKXSGGSeyACuYEvCk5a54BRcxpwAFeCQ3zn4TmR8d6wXn8YZZJBse3E7zNvzetywTWpZg9hkzWbBPT0qonmYLeyfrvfQoH+H8EsqxEkEoWBdR/z6IvPTrtJjVCdTRdT7n57vU8/k46zu1ZOROgkZvJ/YyVp4og74y/wlcUhUMK5yMySqGU2UdGRQD0lgQnTJRZuHenh+fv2T8ovPw3JklqTlHwrgb6NSRFT2KJbBmImLXCuszLYx97QrGirBxLDx73Skeydp5NX0NTIjhFJm0lX+QGdGt8XusydStVV4jH+gAD0e[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-825248bc-8c32-f058-36cf-6f59972fe190/test-blob-5ecccb51-8015-7572-68e0-741cdddd4cee?sv=Sanitized&se=2025-03-08T00%3A45%3A40Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-MD5": "yFADzE+1ibbPKw7jpFe2gQ==",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD5D116275CB69\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:45:40 GMT",
        "x-ms-access-tier": "Cold",
        "x-ms-access-tier-change-time": "Fri, 07 Mar 2025 00:45:40 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 07 Mar 2025 00:45:40 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-4082917f-604d-655d-8b7a-cbfdfb00e372/test-blob-16a622cb-cc93-a135-5e0b-259066027c88?sv=Sanitized&se=2025-03-08T00%3A45%3A40Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "PageBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D11628CE2FA\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:45:40 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-4082917f-604d-655d-8b7a-cbfdfb00e372/test-blob-16a622cb-cc93-a135-5e0b-259066027c88?sv=Sanitized&se=2025-03-08T00%3A45%3A40Z&sr=b&sp=racwdxyltmei&sig=Sanitized&comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-825248bc-8c32-f058-36cf-6f59972fe190/test-blob-5ecccb51-8015-7572-68e0-741cdddd4cee?sv=sanitized-value&se=2025-03-08T00%3A45%3A40Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D1162997F00\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:45:40 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-content-crc64": "FFvc6pkRFK4=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-825248bc-8c32-f058-36cf-6f59972fe190/test-blob-5ecccb51-8015-7572-68e0-741cdddd4cee?sv=Sanitized&se=2025-03-08T00%3A45%3A40Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DD5D116275CB69\"",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD5D116275CB69\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:45:40 GMT",
        "x-ms-blob-content-md5": "yFADzE+1ibbPKw7jpFe2gQ==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 07 Mar 2025 00:45:40 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "KUVnjUfY9YYHWrK9ntEgdDd5/Ra7Bf00hhxHH[...]
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-825248bc-8c32-f058-36cf-6f59972fe190?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 00:45:41 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2025-03-06T16:45:40.4701606-08:00",
    "RandomSeed": "1746310637",
    "Storage_TestConfigDefault": "ProductionTenant\namandapreprod\nU2FuaXRpemVk\nhttps://amandapreprod.blob.core.windows.net\nhttps://amandapreprod.file.core.windows.net\nhttps://amandapreprod.queue.core.windows.net\nhttps://amandapreprod.table.core.windows.net\n\n\n\n\nhttps://amandapreprod-secondary.blob.core.windows.net\nhttps://amandapreprod-secondary.file.core.windows.net\nhttps://amandapreprod-secondary.queue.core.windows.net\nhttps://amandapreprod-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandapreprod.blob.core.windows.net/;QueueEndpoint=https://amandapreprod.queue.core.windows.net/;FileEndpoint=https://amandapreprod.file.core.windows.net/;BlobSecondaryEndpoint=https://amandapreprod-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandapreprod-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandapreprod-secondary.file.core.windows.net/;AccountName=amandapreprod;AccountKey=U2FuaXRpemVk\nencryptionScope\n\n"
  }
}
