{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-12a8b1f4-5233-1cf0-9ed4-a1db58fca31a?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 00:45:32 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D115D76EF28\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:45:32 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-12a8b1f4-5233-1cf0-9ed4-a1db58fca31a/test-blob-e803c55d-de01-106a-8fc7-4f7a3b55c7c0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 07 Mar 2025 00:45:32 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": "chKffKYQr7StRedRRpQ7flCpZfb2jp283MkDG662EJnXDqYiv0oxd+xokDmrM8zSD5GwURlXTuN14qDcDJQF9zVNeTjtGb8Fd+0Kjv5kEan9MQwdBb+AgL/CrNyqVGtXY5kDXbmU5PbSqtkrTcDlEdH239qH5/F2zfl4KmziWyOCsipkYLPvaU0WS1rlVDP+3JsLs3WR0HunjY+/G7mJ70+2qZqWgbAdBnWMcZyWkHnGeU3Q16et8eKuvNIkME2TjFwLL6uYaFvr7a3/BF7fEf0W+aJruRenCLi458Td+dYo+ORAi2HNLhHy5er6ruyDz6vVDTarKNNFYybz34CXDfTW1gt5n4abSMqRedMsrVrLNRcYCOuffdAR+ic62k6QWtj2JNfgCTAlOcRrGq7/GLbMJ6ppfwQINlk7aKR[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-12a8b1f4-5233-1cf0-9ed4-a1db58fca31a/test-blob-e803c55d-de01-106a-8fc7-4f7a3b55c7c0?sv=Sanitized&se=2025-03-08T00%3A45%3A32Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-MD5": "R0VubJmoM0rMK3UpVGsNVw==",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD5D115D8B1FE7\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:45:32 GMT",
        "x-ms-access-tier": "Cold",
        "x-ms-access-tier-change-time": "Fri, 07 Mar 2025 00:45:32 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 07 Mar 2025 00:45:32 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-85159b9e-8b41-a0b8-925b-a7b9155053b5/test-blob-f3e096f5-264f-42e1-9c62-e2040a595e35?sv=Sanitized&se=2025-03-08T00%3A45%3A32Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-length": "2048",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "PageBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D115DA65197\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:45:32 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-85159b9e-8b41-a0b8-925b-a7b9155053b5/test-blob-f3e096f5-264f-42e1-9c62-e2040a595e35?sv=Sanitized&se=2025-03-08T00%3A45%3A32Z&sr=b&sp=racwdxyltmei&sig=Sanitized&comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-12a8b1f4-5233-1cf0-9ed4-a1db58fca31a/test-blob-e803c55d-de01-106a-8fc7-4f7a3b55c7c0?sv=sanitized-value&se=2025-03-08T00%3A45%3A32Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-2047",
        "x-ms-source-range": "bytes=0-2047",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D115DB07F52\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:45:32 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-content-crc64": "YbKCnqgStvs=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-12a8b1f4-5233-1cf0-9ed4-a1db58fca31a/test-blob-e803c55d-de01-106a-8fc7-4f7a3b55c7c0?sv=Sanitized&se=2025-03-08T00%3A45%3A32Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DD5D115D8B1FE7\"",
        "x-ms-range": "bytes=0-2047",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-2047/2048",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD5D115D8B1FE7\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:45:32 GMT",
        "x-ms-blob-content-md5": "R0VubJmoM0rMK3UpVGsNVw==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 07 Mar 2025 00:45:32 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "chKffKYQr7StRedRRpQ7flCpZfb2jp283MkDG[...]
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-12a8b1f4-5233-1cf0-9ed4-a1db58fca31a?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 00:45:32 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2025-03-06T16:45:32.2211807-08:00",
    "RandomSeed": "1177464457",
    "Storage_TestConfigDefault": "ProductionTenant\namandapreprod\nU2FuaXRpemVk\nhttps://amandapreprod.blob.core.windows.net\nhttps://amandapreprod.file.core.windows.net\nhttps://amandapreprod.queue.core.windows.net\nhttps://amandapreprod.table.core.windows.net\n\n\n\n\nhttps://amandapreprod-secondary.blob.core.windows.net\nhttps://amandapreprod-secondary.file.core.windows.net\nhttps://amandapreprod-secondary.queue.core.windows.net\nhttps://amandapreprod-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandapreprod.blob.core.windows.net/;QueueEndpoint=https://amandapreprod.queue.core.windows.net/;FileEndpoint=https://amandapreprod.file.core.windows.net/;BlobSecondaryEndpoint=https://amandapreprod-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandapreprod-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandapreprod-secondary.file.core.windows.net/;AccountName=amandapreprod;AccountKey=U2FuaXRpemVk\nencryptionScope\n\n"
  }
}
