{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-9a1a82d9-8c96-f7d3-6fed-78b0eaedc110?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 00:45:29 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D115C3A1AB7\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:45:29 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-9a1a82d9-8c96-f7d3-6fed-78b0eaedc110/test-blob-ca30b164-c8df-8094-1b48-a959fbfd067d",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 07 Mar 2025 00:45:30 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": "6r6Gy8n5w6gOfJ4tia8YCJGfcx+fKF0uIvoLTt9qMSOaRIVCGiBAcFqPRWxrXBw2Sv4vvyngWsFgWKjP7XXJpEp7kkUq1e5xXgPFEOPxwsXd1QPhO3H6uunD4cJ3cYLlxqEh8MrWDHUPvWAlGkrebpXj8Rhx52nZgNhcZvMs+u2B4EpC0NL6B8mO0X4Q1J+f5XIsk39qc944SG/yeqWB48JzpDoAnJ7C6OlO4xXqyKw5vICB/2ZuF21rCodjCI0jDO67nS9ln0nTaquVG4/JTX/CuL0lAORcBI3MlJEXXt9cK9cnLyt91Bw3rZS72Pveob0IoU/P/gwJX5ihmAq3vAvLOe+4oh1UReSg7lNPoCyS7vPUDr2QjS3KHc+S2zsSf/CI758LJf+fs1xrLg+5ub5sD6kX465OO6vC7YRNwWmojm5jxrGNhsjzNFphJF8dEWMRJsyR+5xBOrTzSTd6UfLzwp+gVvIN34nhI65T7BZMpdwgPJucFpPSIYz8mT2QeeJobmK/fLtwA0dDsNjt7k2ep6NbWRVWVqsMzjVmEUVLUKrL6n6zjCkhsDhUWGa75TI+XvKZNR/NEhe3s66FCvIB92AuIgPP6hp6OandAf1FUegCKLJSshqK/thm/Nl6m6ZFU2EFjcMub3TYHvt18BAacWLFg+JArkVGoyMraO0=",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "n7TiB5yRPcArykX8zUjlqA==",
        "ETag": "\"0x8DD5D115C4DE993\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:45:30 GMT",
        "x-ms-content-crc64": "ZyeozQAJHHI=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-9a1a82d9-8c96-f7d3-6fed-78b0eaedc110/test-blob-ca30b164-c8df-8094-1b48-a959fbfd067d?sv=Sanitized&se=2025-03-08T00%3A45%3A30Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-MD5": "n7TiB5yRPcArykX8zUjlqA==",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD5D115C4DE993\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:45:30 GMT",
        "x-ms-access-tier": "Cold",
        "x-ms-access-tier-change-time": "Fri, 07 Mar 2025 00:45:30 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 07 Mar 2025 00:45:30 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-d13b7930-c060-bf7e-6440-a661975a73ae/test-blob-f9ad6cc4-6912-f128-11c7-055702ece1ad?sv=Sanitized&se=2025-03-08T00%3A45%3A30Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-length": "512",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "PageBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D115C654EF2\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:45:30 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-d13b7930-c060-bf7e-6440-a661975a73ae/test-blob-f9ad6cc4-6912-f128-11c7-055702ece1ad?sv=Sanitized&se=2025-03-08T00%3A45%3A30Z&sr=b&sp=racwdxyltmei&sig=Sanitized&comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-9a1a82d9-8c96-f7d3-6fed-78b0eaedc110/test-blob-ca30b164-c8df-8094-1b48-a959fbfd067d?sv=sanitized-value&se=2025-03-08T00%3A45%3A30Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-511",
        "x-ms-source-range": "bytes=0-511",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D115C6EE114\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:45:30 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-content-crc64": "ZyeozQAJHHI=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-9a1a82d9-8c96-f7d3-6fed-78b0eaedc110/test-blob-ca30b164-c8df-8094-1b48-a959fbfd067d?sv=Sanitized&se=2025-03-08T00%3A45%3A30Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DD5D115C4DE993\"",
        "x-ms-range": "bytes=0-511",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-511/512",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD5D115C4DE993\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:45:30 GMT",
        "x-ms-blob-content-md5": "n7TiB5yRPcArykX8zUjlqA==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 07 Mar 2025 00:45:30 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "6r6Gy8n5w6gOfJ4tia8YCJGfcx+fKF0uIvoLTt9qMSOaRIVCGiBAcFqPRWxrXBw2Sv4vvyngWsFgWKjP7XXJpEp7kkUq1e5xXgPFEOPxwsXd1QPhO3H6uunD4cJ3cYLlxqEh8MrWDHUPvWAlGkrebpXj8Rhx52nZgNhcZvMs+u2B4EpC0NL6B8mO0X4Q1J+f5XIsk39qc944SG/yeqWB48JzpDoAnJ7C6OlO4xXqyKw5vICB/2ZuF21rCodjCI0jDO67nS9ln0nTaquVG4/JTX/CuL0lAORcBI3MlJEXXt9cK9cnLyt91Bw3rZS72Pveob0IoU/P/gwJX5ihmAq3vAvLOe+4oh1UReSg7lNPoCyS7vPUDr2QjS3KHc+S2zsSf/CI758LJf+fs1xrLg+5ub5sD6kX465OO6vC7YRNwWmojm5jxrGNhsjzNFphJF8dEWMRJsyR+5xBOrTzSTd6UfLzwp+gVvIN34nhI65T7BZMpdwgPJucFpPSIYz8mT2QeeJobmK/fLtwA0dDsNjt7k2ep6NbWRVWVqsMzjVmEUVLUKrL6n6zjCkhsDhUWGa75TI+XvKZNR/NEhe3s66FCvIB92AuIgPP6hp6OandAf1FUegCKLJSshqK/thm/Nl6m6ZFU2EFjcMub3TYHvt18BAacWLFg+JArkVGoyMraO0="
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-9a1a82d9-8c96-f7d3-6fed-78b0eaedc110?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 00:45:30 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2025-03-06T16:45:30.1421954-08:00",
    "RandomSeed": "967693629",
    "Storage_TestConfigDefault": "ProductionTenant\namandapreprod\nU2FuaXRpemVk\nhttps://amandapreprod.blob.core.windows.net\nhttps://amandapreprod.file.core.windows.net\nhttps://amandapreprod.queue.core.windows.net\nhttps://amandapreprod.table.core.windows.net\n\n\n\n\nhttps://amandapreprod-secondary.blob.core.windows.net\nhttps://amandapreprod-secondary.file.core.windows.net\nhttps://amandapreprod-secondary.queue.core.windows.net\nhttps://amandapreprod-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandapreprod.blob.core.windows.net/;QueueEndpoint=https://amandapreprod.queue.core.windows.net/;FileEndpoint=https://amandapreprod.file.core.windows.net/;BlobSecondaryEndpoint=https://amandapreprod-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandapreprod-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandapreprod-secondary.file.core.windows.net/;AccountName=amandapreprod;AccountKey=U2FuaXRpemVk\nencryptionScope\n\n"
  }
}
