{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-63a8c7ec-8419-7643-d479-edc151faf49d?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 01 May 2024 20:36:38 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC6A1E66E7EE9A\"",
        "Last-Modified": "Wed, 01 May 2024 20:36:38 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-483cd598-65b1-cf00-4cb6-20cfbbdc7527/test-blob-ce1d2bf2-8c5b-01a3-daf7-0b5752ba04d8",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Wed, 01 May 2024 20:36:38 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC6A1E6706AE4B\"",
        "Last-Modified": "Wed, 01 May 2024 20:36:38 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-05-01T20:36:38.9822027Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-483cd598-65b1-cf00-4cb6-20cfbbdc7527/test-blob-ce1d2bf2-8c5b-01a3-daf7-0b5752ba04d8?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 01 May 2024 20:36:38 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "0qJG3Y1xVJGbltxJIa5SZpGQmto670ArsxlxJ9MfIejsQ+7/FCBFGMV3YAb+a0CAG7Ej1AlVHONiGypzAC29e3TzXd7AUlFxS4IUw485LEfZ8Qsi+03flyYKnfn20RiXueSRCg5iv8lfsomHQFlUKO7img8im38nFMa3tbVXenlpfAqqqCE5djFCwknEV1bNtnQKFDcJdR5lavZHqwoTCDcPHcNPqoDMqCPe4Ng1Yr1v6f9BTGZBYAfrRT0r8csmL7oStDmSfgvzPmsTKpVGLwc52MEK0bvQzr28Y2RCoLdXt7EdI62D3GvzTQ77LTVxpRU28hkKHF3/QeZ81hqmsZ20vHPkKAxZtftWFoSs1aCHSr5PDK6dTZpTHuHHBgZQTJxxRnHCjX0J3D0dswXYUmxG9IxcV6T[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-63a8c7ec-8419-7643-d479-edc151faf49d/test-blob-1420c892-4ab4-c779-30a7-679076acf831",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "text/plain",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 01 May 2024 20:36:38 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "so3mNFVvr+e6Jywj+KB4RP4gZhCFALkveetzV9+5rgEc/wGJnOm1KAIoUnjKw7TIcEBjB4I7PbLUtrtq+1gIAHgrB/me7qcUaj4OXa5AZbY3q+afVqd/4MJOteYuSyypIFH/nry7KYGYT5xDLeAEk1AFMlBxaarRrCY2UDnB5h4RZT1cQcb5e4JlBgcKO7PiSiKVKRjcN7anLvKWhNhI1mh9MseiqFGKC7fODGKjx3FyVAUXLLwGNS2GtBPUY/epHTCejAnrP6LQCh5hDStUBGaBIy/SMaqsd/yaHPM+tqfAJO4yBTtohhVjRiGdpCcBMa+sUj/H1uyF8RQMUSKukVR2oeg9Iv8rGZ0ab+qIDtPUmetDkmNn+E4BrBMmWzXytbXMJwM+xA+wgTmirWcC/ONBN7c3av/xD6maO3X[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-63a8c7ec-8419-7643-d479-edc151faf49d/test-blob-1420c892-4ab4-c779-30a7-679076acf831?sv=2024-08-04&se=2024-05-02T20%3A36%3A38Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-MD5": "erPgLlCX55e+/idrcADkZQ==",
        "Content-Type": "text/plain",
        "ETag": "\"0x8DC6A1E67244415\"",
        "Last-Modified": "Wed, 01 May 2024 20:36:39 GMT",
        "x-ms-access-tier": "Cold",
        "x-ms-access-tier-change-time": "Wed, 01 May 2024 20:36:39 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 01 May 2024 20:36:39 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Wed, 01 May 2024 20:36:39 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-05-01T20:36:39.1760917Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-483cd598-65b1-cf00-4cb6-20cfbbdc7527/test-blob-ce1d2bf2-8c5b-01a3-daf7-0b5752ba04d8?sv=2024-08-04&se=2024-05-02T20%3A36%3A38Z&sr=b&sp=racwdxyltmei&sig=Sanitized&comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://seanmcccanada.blob.core.windows.net/test-container-63a8c7ec-8419-7643-d479-edc151faf49d/test-blob-1420c892-4ab4-c779-30a7-679076acf831?sv=2024-08-04&se=2024-05-02T20%3A36%3A38Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC6A1E675ED36C\"",
        "Last-Modified": "Wed, 01 May 2024 20:36:39 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-content-crc64": "dIkW4IVZ2Gs=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-63a8c7ec-8419-7643-d479-edc151faf49d/test-blob-1420c892-4ab4-c779-30a7-679076acf831?sv=2024-08-04&se=2024-05-02T20%3A36%3A38Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DC6A1E67244415\"",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "text/plain",
        "ETag": "\"0x8DC6A1E67244415\"",
        "Last-Modified": "Wed, 01 May 2024 20:36:39 GMT",
        "x-ms-blob-content-md5": "erPgLlCX55e+/idrcADkZQ==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 01 May 2024 20:36:39 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Wed, 01 May 2024 20:36:39 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true[...]
[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-63a8c7ec-8419-7643-d479-edc151faf49d?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 01 May 2024 20:36:39 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-05-01T13:36:38.8818090-07:00",
    "RandomSeed": "448592223",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanada\nU2FuaXRpemVk\nhttps://seanmcccanada.blob.core.windows.net\nhttps://seanmcccanada.file.core.windows.net\nhttps://seanmcccanada.queue.core.windows.net\nhttps://seanmcccanada.table.core.windows.net\n\n\n\n\nhttps://seanmcccanada-secondary.blob.core.windows.net\nhttps://seanmcccanada-secondary.file.core.windows.net\nhttps://seanmcccanada-secondary.queue.core.windows.net\nhttps://seanmcccanada-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanada.blob.core.windows.net/;QueueEndpoint=https://seanmcccanada.queue.core.windows.net/;FileEndpoint=https://seanmcccanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanada-secondary.file.core.windows.net/;AccountName=seanmcccanada;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
