{
  "Entries": [
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-4f95ae39-0c2c-a24d-b6e6-b81e7c6037d9?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 30 Jan 2025 01:24:04 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD40CCC8D6E509\"",
        "Last-Modified": "Thu, 30 Jan 2025 01:24:04 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-4f95ae39-0c2c-a24d-b6e6-b81e7c6037d9/test-blob-3a5b059a-72d2-9728-66a9-be56e0668f02",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "text/plain",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 30 Jan 2025 01:24:04 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": "7v+OAM3HFFlihQKMARXiTBdTfvB8KXRW9UVOddUj8IDj8kercoiEU7quYJuHhm/mxrj1l9DsLcSKOAqHeZ+EP5WCqA7ONtmPzyo1zcnZz2/VaK4dLViv98WCITp9/NoaKiEFBd5gF4/eZsimtmD7sGibshHwZhE80rBJSxWeEdJQGqKo1MqRdFAfPsePCUBkh3DR4krJKsQPyDItF8t5P1T2VZu+UtyeCj3A0ShKrMlw5MSlzC+Ih/DdmAuYZF2Fpf5ymbOkpjSTM9gMCFicxRtovDIH03Ilbc6r4LrRBabfOysp2BMVyz6PEplWe36XQdPvL6crftGLTCzl+cZ6wS4yLM0tcuwIU/Dzd8HZz/JPE57m4db+tL1ZnYvmMNJ4FVBqJE6xas/n59y2NwYQsX06leUnlOBXM3gQ1NR[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-4f95ae39-0c2c-a24d-b6e6-b81e7c6037d9/test-blob-3a5b059a-72d2-9728-66a9-be56e0668f02?sv=Sanitized&se=2025-01-31T01%3A24%3A04Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-MD5": "vc5DXQ9nPYvsSYtVz58Pvg==",
        "Content-Type": "text/plain",
        "ETag": "\"0x8DD40CCC8E91A70\"",
        "Last-Modified": "Thu, 30 Jan 2025 01:24:04 GMT",
        "x-ms-access-tier": "Cold",
        "x-ms-access-tier-change-time": "Thu, 30 Jan 2025 01:24:04 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 30 Jan 2025 01:24:04 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Thu, 30 Jan 2025 01:24:04 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05",
        "x-ms-version-id": "2025-01-30T01:24:04.4714359Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-39e95c27-9c30-5eb3-1e7c-926dbd25a506/test-blob-a68aac2a-41ce-e3fe-77ec-a386ec207254?sv=Sanitized&se=2025-01-31T01%3A24%3A04Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-content-type": "text/plain",
        "x-ms-blob-type": "PageBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD40CCC8F80C52\"",
        "Last-Modified": "Thu, 30 Jan 2025 01:24:04 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05",
        "x-ms-version-id": "2025-01-30T01:24:04.5683794Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-39e95c27-9c30-5eb3-1e7c-926dbd25a506/test-blob-a68aac2a-41ce-e3fe-77ec-a386ec207254?sv=Sanitized&se=2025-01-31T01%3A24%3A04Z&sr=b&sp=racwdxyltmei&sig=Sanitized&comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-copy-source": "https://jalauzonnettest.blob.core.windows.net/test-container-4f95ae39-0c2c-a24d-b6e6-b81e7c6037d9/test-blob-3a5b059a-72d2-9728-66a9-be56e0668f02?sv=sanitized-value&se=2025-01-31T01%3A24%3A04Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD40CCC9026B08\"",
        "Last-Modified": "Thu, 30 Jan 2025 01:24:04 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-content-crc64": "s1Dq+9Vcm00=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-4f95ae39-0c2c-a24d-b6e6-b81e7c6037d9/test-blob-3a5b059a-72d2-9728-66a9-be56e0668f02?sv=Sanitized&se=2025-01-31T01%3A24%3A04Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DD40CCC8E91A70\"",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "text/plain",
        "ETag": "\"0x8DD40CCC8E91A70\"",
        "Last-Modified": "Thu, 30 Jan 2025 01:24:04 GMT",
        "x-ms-blob-content-md5": "vc5DXQ9nPYvsSYtVz58Pvg==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 30 Jan 2025 01:24:04 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Thu, 30 Jan 2025 01:24:04 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true[...]
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-4f95ae39-0c2c-a24d-b6e6-b81e7c6037d9?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 30 Jan 2025 01:24:05 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2025-01-29T17:24:04.4901411-08:00",
    "RandomSeed": "15738006",
    "Storage_TestConfigDefault": "ProductionTenant\njalauzonnettest\nU2FuaXRpemVk\nhttps://jalauzonnettest.blob.core.windows.net\nhttps://jalauzonnettest.file.core.windows.net\nhttps://jalauzonnettest.queue.core.windows.net\nhttps://jalauzonnettest.table.core.windows.net\n\n\n\n\nhttps://jalauzonnettest-secondary.blob.core.windows.net\nhttps://jalauzonnettest-secondary.file.core.windows.net\nhttps://jalauzonnettest-secondary.queue.core.windows.net\nhttps://jalauzonnettest-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://jalauzonnettest.blob.core.windows.net/;QueueEndpoint=https://jalauzonnettest.queue.core.windows.net/;FileEndpoint=https://jalauzonnettest.file.core.windows.net/;BlobSecondaryEndpoint=https://jalauzonnettest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jalauzonnettest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jalauzonnettest-secondary.file.core.windows.net/;AccountName=jalauzonnettest;AccountKey=U2FuaXRpemVk\ntestscope1\n\n"
  }
}
