{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-0041e146-961d-4cf2-1f29-b33fd97a1cfe?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 30 Sep 2025 20:41:55 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE0061CB2A9831\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:41:55 GMT",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-0041e146-961d-4cf2-1f29-b33fd97a1cfe/test-blob-a63c6f91-2cad-6cb5-c0ac-49cb8014fb98",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 30 Sep 2025 20:41:55 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": "+CQIWOxt0yoYT4lf+kvyIr5pXmFThtKGMdV3bHS/MFZpTZfHxUlzkPqWkAJu12wrACkmka+Sd3FSgiYX9ma1WB8y9qyzK1109s5mvfbPF1poS2xLmZ6n1tYldEIiW5qU4DfjO+G/d9TLsZvgK7p6g2rLrqr5ar+Aix/WjrYbUpoz0ty/69x5qdSXf+gCxqscq/DYVq3wm3Z3Y7DB6OkesF4BrFjdu5eOUgXWYerXfcRzuuLFQvvtQzdlSIgrt8Dqec6JARlSPvBZSgSoGjmLn+XrTi4GWG1jE2khd3IPYppE6+ccTnuqIHzybPj2RCn92qiiP2mS5CFgJe2wMcZ9SedpZC9Sb1BqQS2xE+t1bM8/I53KbSIxsQbFuymO+e+1dSMRjeD6q2tXOP474NA267gecA0ps9zEOLIojLMn20c+/J3HY9/uRXgycjQk9dA2j9Bwb4nhjMJHTFQu0h+3MFy3/eQybofYMCuV9kCnoELh8vzjtmy+XHDbgBeKwHNYe0LYbPjsAyFIlz9eS5aCoKsSTN8j1Hnv+aB0V+5wTnC3PHv+zjRK9e/bmx4tXxHZWeBseHOTNafI6HNXeKsy2EnOpg8ag9F3x1fwRzlawpmPmv4NA9X8IwfUNebA8nxEqMLUXrkBv9UP9bEbou5ubSbayN6sJdR00YIHRk3qttQ=",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "cCwqTcvR63YvVP89RS+Byg==",
        "ETag": "\"0x8DE0061CB44FA86\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:41:55 GMT",
        "x-ms-content-crc64": "Z1kxShOHQyw=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-0041e146-961d-4cf2-1f29-b33fd97a1cfe/test-blob-a63c6f91-2cad-6cb5-c0ac-49cb8014fb98?sv=Sanitized&se=2025-10-01T20%3A41%3A55Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-MD5": "cCwqTcvR63YvVP89RS+Byg==",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DE0061CB44FA86\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:41:55 GMT",
        "x-ms-access-tier": "Cold",
        "x-ms-access-tier-change-time": "Tue, 30 Sep 2025 20:41:55 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 30 Sep 2025 20:41:55 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-758c9ca7-5f22-c8c9-e04a-c7852f673141/test-blob-199b45a8-b283-47ee-cd34-f1873a0495cb?sv=Sanitized&se=2025-10-01T20%3A41%3A55Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-length": "512",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "PageBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE0061CB79D8D6\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:41:55 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-758c9ca7-5f22-c8c9-e04a-c7852f673141/test-blob-199b45a8-b283-47ee-cd34-f1873a0495cb?sv=Sanitized&se=2025-10-01T20%3A41%3A55Z&sr=b&sp=racwdxyltmei&sig=Sanitized&comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-0041e146-961d-4cf2-1f29-b33fd97a1cfe/test-blob-a63c6f91-2cad-6cb5-c0ac-49cb8014fb98?sv=sanitized-value&se=2025-10-01T20%3A41%3A55Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-511",
        "x-ms-source-range": "bytes=0-511",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE0061CB87D2EA\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:41:55 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-content-crc64": "Z1kxShOHQyw=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-0041e146-961d-4cf2-1f29-b33fd97a1cfe/test-blob-a63c6f91-2cad-6cb5-c0ac-49cb8014fb98?sv=Sanitized&se=2025-10-01T20%3A41%3A55Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DE0061CB44FA86\"",
        "x-ms-range": "bytes=0-511",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-511/512",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DE0061CB44FA86\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:41:55 GMT",
        "x-ms-blob-content-md5": "cCwqTcvR63YvVP89RS+Byg==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 30 Sep 2025 20:41:55 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": "+CQIWOxt0yoYT4lf+kvyIr5pXmFThtKGMdV3bHS/MFZpTZfHxUlzkPqWkAJu12wrACkmka+Sd3FSgiYX9ma1WB8y9qyzK1109s5mvfbPF1poS2xLmZ6n1tYldEIiW5qU4DfjO+G/d9TLsZvgK7p6g2rLrqr5ar+Aix/WjrYbUpoz0ty/69x5qdSXf+gCxqscq/DYVq3wm3Z3Y7DB6OkesF4BrFjdu5eOUgXWYerXfcRzuuLFQvvtQzdlSIgrt8Dqec6JARlSPvBZSgSoGjmLn+XrTi4GWG1jE2khd3IPYppE6+ccTnuqIHzybPj2RCn92qiiP2mS5CFgJe2wMcZ9SedpZC9Sb1BqQS2xE+t1bM8/I53KbSIxsQbFuymO+e+1dSMRjeD6q2tXOP474NA267gecA0ps9zEOLIojLMn20c+/J3HY9/uRXgycjQk9dA2j9Bwb4nhjMJHTFQu0h+3MFy3/eQybofYMCuV9kCnoELh8vzjtmy+XHDbgBeKwHNYe0LYbPjsAyFIlz9eS5aCoKsSTN8j1Hnv+aB0V+5wTnC3PHv+zjRK9e/bmx4tXxHZWeBseHOTNafI6HNXeKsy2EnOpg8ag9F3x1fwRzlawpmPmv4NA9X8IwfUNebA8nxEqMLUXrkBv9UP9bEbou5ubSbayN6sJdR00YIHRk3qttQ="
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-0041e146-961d-4cf2-1f29-b33fd97a1cfe?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 30 Sep 2025 20:41:56 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2025-09-30T13:41:55.6868565-07:00",
    "RandomSeed": "1228657653",
    "Storage_TestConfigDefault": "ProductionTenant\namandapreprod\nU2FuaXRpemVk\nhttps://amandapreprod.blob.core.windows.net\nhttps://amandapreprod.file.core.windows.net\nhttps://amandapreprod.queue.core.windows.net\nhttps://amandapreprod.table.core.windows.net\n\n\n\n\nhttps://amandapreprod-secondary.blob.core.windows.net\nhttps://amandapreprod-secondary.file.core.windows.net\nhttps://amandapreprod-secondary.queue.core.windows.net\nhttps://amandapreprod-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandapreprod.blob.core.windows.net/;QueueEndpoint=https://amandapreprod.queue.core.windows.net/;FileEndpoint=https://amandapreprod.file.core.windows.net/;BlobSecondaryEndpoint=https://amandapreprod-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandapreprod-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandapreprod-secondary.file.core.windows.net/;AccountName=amandapreprod;AccountKey=U2FuaXRpemVk\nencryptionScope\n\n"
  }
}
