{
  "Entries": [
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-24c10e8d-4304-7e3e-1026-725ac6e0ac0c?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 31 Jan 2025 20:46:12 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD42384CB18CE4\"",
        "Last-Modified": "Fri, 31 Jan 2025 20:46:12 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-24c10e8d-4304-7e3e-1026-725ac6e0ac0c/test-blob-2dff6083-0347-b051-ec1c-6b522cfd0685",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 31 Jan 2025 20:46:12 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": "El5m/x9G1MlllnHiP5JGUlv1Ix9NQQPkmICyNrrqI1o0R2nV6ubhPIw1x7GSbnBZ1hn2N9nnONBbgmaelJ4Oe3MWrfgpcGh1E+aTGHlSUSkPWV+h8+yATQ6Yemd/QqjtJkw9e8B4MGWwgSPzVCBXCTE9jjs+bYeGlWDpkPYB9tA9pfEsFNVolyj58HLIjfjuQXE2QbRtr7nEt+Vgj59vr4tSta8uKvRb1PcSRHwVvgho+k+FyrQc0PU4aF3vCAiJikHmdthJvxZ82229W2s9r/jd95RP6uTXNuS59sKXa8vuiLk7L0cvHjs4Ce9GX3SK+7hkEhB0OaBcDz/0j8hU5G+hztKxAYCxrtlYF+H1kNZwL/sJM1m7ek8Z3h8HO49y5CSApJGh2Pk4s2M3GyK+Zn5pg1/NSrAW5lODlyJ[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-24c10e8d-4304-7e3e-1026-725ac6e0ac0c/test-blob-2dff6083-0347-b051-ec1c-6b522cfd0685?sv=Sanitized&se=2025-02-01T20%3A46%3A12Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-MD5": "2YujNyYUl4siLiEdyPBmqQ==",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD42384CC05E07\"",
        "Last-Modified": "Fri, 31 Jan 2025 20:46:12 GMT",
        "x-ms-access-tier": "Cold",
        "x-ms-access-tier-change-time": "Fri, 31 Jan 2025 20:46:12 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 31 Jan 2025 20:46:12 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Fri, 31 Jan 2025 20:46:12 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05",
        "x-ms-version-id": "2025-01-31T20:46:12.9755655Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-0f96fabd-2293-86a4-d281-a94ee950e526/test-blob-3b5741ee-9e6e-0309-2c63-96588afb33f6?sv=Sanitized&se=2025-02-01T20%3A46%3A12Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "PageBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD42384CCFC519\"",
        "Last-Modified": "Fri, 31 Jan 2025 20:46:13 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05",
        "x-ms-version-id": "2025-01-31T20:46:13.0765081Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-0f96fabd-2293-86a4-d281-a94ee950e526/test-blob-3b5741ee-9e6e-0309-2c63-96588afb33f6?sv=Sanitized&se=2025-02-01T20%3A46%3A12Z&sr=b&sp=racwdxyltmei&sig=Sanitized&comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-copy-source": "https://jalauzonnettest.blob.core.windows.net/test-container-24c10e8d-4304-7e3e-1026-725ac6e0ac0c/test-blob-2dff6083-0347-b051-ec1c-6b522cfd0685?sv=sanitized-value&se=2025-02-01T20%3A46%3A12Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD42384CD82850\"",
        "Last-Modified": "Fri, 31 Jan 2025 20:46:13 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-content-crc64": "K+4qF87Td7I=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-24c10e8d-4304-7e3e-1026-725ac6e0ac0c/test-blob-2dff6083-0347-b051-ec1c-6b522cfd0685?sv=Sanitized&se=2025-02-01T20%3A46%3A12Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DD42384CC05E07\"",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD42384CC05E07\"",
        "Last-Modified": "Fri, 31 Jan 2025 20:46:12 GMT",
        "x-ms-blob-content-md5": "2YujNyYUl4siLiEdyPBmqQ==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 31 Jan 2025 20:46:12 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Fri, 31 Jan 2025 20:46:13 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true[...]
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-24c10e8d-4304-7e3e-1026-725ac6e0ac0c?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 31 Jan 2025 20:46:13 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2025-01-31T12:46:12.9984774-08:00",
    "RandomSeed": "1659661553",
    "Storage_TestConfigDefault": "ProductionTenant\njalauzonnettest\nU2FuaXRpemVk\nhttps://jalauzonnettest.blob.core.windows.net\nhttps://jalauzonnettest.file.core.windows.net\nhttps://jalauzonnettest.queue.core.windows.net\nhttps://jalauzonnettest.table.core.windows.net\n\n\n\n\nhttps://jalauzonnettest-secondary.blob.core.windows.net\nhttps://jalauzonnettest-secondary.file.core.windows.net\nhttps://jalauzonnettest-secondary.queue.core.windows.net\nhttps://jalauzonnettest-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://jalauzonnettest.blob.core.windows.net/;QueueEndpoint=https://jalauzonnettest.queue.core.windows.net/;FileEndpoint=https://jalauzonnettest.file.core.windows.net/;BlobSecondaryEndpoint=https://jalauzonnettest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jalauzonnettest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jalauzonnettest-secondary.file.core.windows.net/;AccountName=jalauzonnettest;AccountKey=U2FuaXRpemVk\ntestscope1\n\n"
  }
}
