{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-0d7e87ac-7a5e-8066-1e27-ac2ef312e3eb?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 30 Sep 2025 20:41:35 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE0061BF7D7FA3\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:41:35 GMT",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-0d7e87ac-7a5e-8066-1e27-ac2ef312e3eb/test-blob-00465290-9715-1397-c743-d8078c83bb82",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 30 Sep 2025 20:41:36 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": "tPKje6//vbr0xSmESywRbLm0jltwtNvmGp67r3Zq1WsHg+bM6wl/iI716TYrw9D75dGZMxJ3Jf8WvGERRA5Diu+9fMdGRYCvNQbNe8qku1bOwMml0aJZj17mtS+obUN/sl9HbUYItKBQ6v4Lqqo1cgELQoNFnrlNZO1pYJBRB8fCTchrXU0PxQspVOajTeSzsUMunSrAOhSm+QhZnlQQ/+I2SV3hyhSz+314G0nSqRcIta5MI2qcAhK0xGNEtSa3GVUEbQSH0uYueqGtRx7L1E/xUOmlw9t4mUZKLQWxbkZWwQL0zjwTgePHHajI77r06fATU2U9EVV5i9O9PKThfQtbV4Yb1gYT3s4F3aUysKqLVkQVnRvgGK+tekJoVUU+5qCdbZc02BLpAHSWNzOwRtspMuVgy+Dvej/Wblz[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-0d7e87ac-7a5e-8066-1e27-ac2ef312e3eb/test-blob-00465290-9715-1397-c743-d8078c83bb82?sv=Sanitized&se=2025-10-01T20%3A41%3A36Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-MD5": "hYLEC6+MGYvhOOE3JRaHmw==",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DE0061BFA10CFC\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:41:36 GMT",
        "x-ms-access-tier": "Cold",
        "x-ms-access-tier-change-time": "Tue, 30 Sep 2025 20:41:36 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 30 Sep 2025 20:41:36 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-6e6e9858-4cb0-fa9e-76fa-0118c4713420/test-blob-3a5f6470-a303-7c11-6a58-d1a99a66e712?sv=Sanitized&se=2025-10-01T20%3A41%3A36Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "PageBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE0061BFC88CD3\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:41:36 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-6e6e9858-4cb0-fa9e-76fa-0118c4713420/test-blob-3a5f6470-a303-7c11-6a58-d1a99a66e712?sv=Sanitized&se=2025-10-01T20%3A41%3A36Z&sr=b&sp=racwdxyltmei&sig=Sanitized&comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-0d7e87ac-7a5e-8066-1e27-ac2ef312e3eb/test-blob-00465290-9715-1397-c743-d8078c83bb82?sv=sanitized-value&se=2025-10-01T20%3A41%3A36Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE0061BFD245F0\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:41:36 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-content-crc64": "fl4o7pGTzGg=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-0d7e87ac-7a5e-8066-1e27-ac2ef312e3eb/test-blob-00465290-9715-1397-c743-d8078c83bb82?sv=Sanitized&se=2025-10-01T20%3A41%3A36Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DE0061BFA10CFC\"",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DE0061BFA10CFC\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:41:36 GMT",
        "x-ms-blob-content-md5": "hYLEC6+MGYvhOOE3JRaHmw==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 30 Sep 2025 20:41:36 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": "tPKje6//vbr0xSmESywRbLm0jltwtNvmGp67r[...]
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-0d7e87ac-7a5e-8066-1e27-ac2ef312e3eb?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 30 Sep 2025 20:41:36 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2025-09-30T13:41:36.1273135-07:00",
    "RandomSeed": "255958345",
    "Storage_TestConfigDefault": "ProductionTenant\namandapreprod\nU2FuaXRpemVk\nhttps://amandapreprod.blob.core.windows.net\nhttps://amandapreprod.file.core.windows.net\nhttps://amandapreprod.queue.core.windows.net\nhttps://amandapreprod.table.core.windows.net\n\n\n\n\nhttps://amandapreprod-secondary.blob.core.windows.net\nhttps://amandapreprod-secondary.file.core.windows.net\nhttps://amandapreprod-secondary.queue.core.windows.net\nhttps://amandapreprod-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandapreprod.blob.core.windows.net/;QueueEndpoint=https://amandapreprod.queue.core.windows.net/;FileEndpoint=https://amandapreprod.file.core.windows.net/;BlobSecondaryEndpoint=https://amandapreprod-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandapreprod-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandapreprod-secondary.file.core.windows.net/;AccountName=amandapreprod;AccountKey=U2FuaXRpemVk\nencryptionScope\n\n"
  }
}
