{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-efbf9624-ca88-69b7-05d4-c8ff1441c796?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 00:45:22 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D1157DBC9C6\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:45:22 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-efbf9624-ca88-69b7-05d4-c8ff1441c796/test-blob-a727d91b-5e60-05da-5ebc-a78ce20ea9b0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 07 Mar 2025 00:45:22 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": "IydgvV5y2sNWCmkpJyfR/UWX9ZbxFfsG8uGQGtn9uCS0a32lTIIY7mG+j1rOUhdjtBcIYu1AMQ4rWsp94b/qWFFFdLyqK7HCfgc1M4WgN6DJLWbB9FY2czlvefG3mwyh0zYJid1buIlmReTmC/6IiiMqtLRZKGP7DgCCOrHAC+L6lF9Pl63CbXTdW65xUGg75+/OjedYSKrSDnvd2H7XpjoB63aeOPN1Z0Y/fM20ib6YR1PC8X77oky1fIky5ZX2BbR0cGTxnK78WCWgGMvdHYS9RZEqFbS8BUkq6btpQoKxSXcYQBhZpqulxplZWomA118EdaADy+8AuGoaxrLykhWi785UxN1sY57mhU8bYqrAqhFcZM3irX2HGIitP9/4sjODtmu6KxOCmBIBHUag5VXAWhyhli5IwEJRzax[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-efbf9624-ca88-69b7-05d4-c8ff1441c796/test-blob-a727d91b-5e60-05da-5ebc-a78ce20ea9b0?sv=Sanitized&se=2025-03-08T00%3A45%3A22Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-MD5": "HoasMPZpsHGUuMc5yFh0CQ==",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD5D1157F170D8\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:45:22 GMT",
        "x-ms-access-tier": "Cold",
        "x-ms-access-tier-change-time": "Fri, 07 Mar 2025 00:45:22 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 07 Mar 2025 00:45:22 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-f1cb9f0b-40f4-7d19-a035-cf633abcb9f9/test-blob-c5526513-6da7-110d-93d2-5adcd6919a3e?sv=Sanitized&se=2025-03-08T00%3A45%3A22Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "PageBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D115808FD16\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:45:22 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-f1cb9f0b-40f4-7d19-a035-cf633abcb9f9/test-blob-c5526513-6da7-110d-93d2-5adcd6919a3e?sv=Sanitized&se=2025-03-08T00%3A45%3A22Z&sr=b&sp=racwdxyltmei&sig=Sanitized&comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-efbf9624-ca88-69b7-05d4-c8ff1441c796/test-blob-a727d91b-5e60-05da-5ebc-a78ce20ea9b0?sv=sanitized-value&se=2025-03-08T00%3A45%3A22Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D11581303F1\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:45:22 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-content-crc64": "vYVyIRlNhe0=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-efbf9624-ca88-69b7-05d4-c8ff1441c796/test-blob-a727d91b-5e60-05da-5ebc-a78ce20ea9b0?sv=Sanitized&se=2025-03-08T00%3A45%3A22Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DD5D1157F170D8\"",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD5D1157F170D8\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:45:22 GMT",
        "x-ms-blob-content-md5": "HoasMPZpsHGUuMc5yFh0CQ==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 07 Mar 2025 00:45:22 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "IydgvV5y2sNWCmkpJyfR/UWX9ZbxFfsG8uGQG[...]
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-efbf9624-ca88-69b7-05d4-c8ff1441c796?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 00:45:23 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2025-03-06T16:45:22.8252699-08:00",
    "RandomSeed": "1697429387",
    "Storage_TestConfigDefault": "ProductionTenant\namandapreprod\nU2FuaXRpemVk\nhttps://amandapreprod.blob.core.windows.net\nhttps://amandapreprod.file.core.windows.net\nhttps://amandapreprod.queue.core.windows.net\nhttps://amandapreprod.table.core.windows.net\n\n\n\n\nhttps://amandapreprod-secondary.blob.core.windows.net\nhttps://amandapreprod-secondary.file.core.windows.net\nhttps://amandapreprod-secondary.queue.core.windows.net\nhttps://amandapreprod-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandapreprod.blob.core.windows.net/;QueueEndpoint=https://amandapreprod.queue.core.windows.net/;FileEndpoint=https://amandapreprod.file.core.windows.net/;BlobSecondaryEndpoint=https://amandapreprod-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandapreprod-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandapreprod-secondary.file.core.windows.net/;AccountName=amandapreprod;AccountKey=U2FuaXRpemVk\nencryptionScope\n\n"
  }
}
