{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-ebe43bb0-8a00-699f-e4e6-1da5c2bd96f5?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 09 Apr 2024 20:30:45 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC58D3EFB32981\u0022",
        "Last-Modified": "Tue, 09 Apr 2024 20:30:46 GMT",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-b8e25a3e-ceed-22c3-c39a-ce38776d3068/test-blob-d8117b74-3dca-51f2-460f-f89534ff7802",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Tue, 09 Apr 2024 20:30:45 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC58D3EFC79DDD\u0022",
        "Last-Modified": "Tue, 09 Apr 2024 20:30:46 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-04-09T20:30:46.3948253Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-b8e25a3e-ceed-22c3-c39a-ce38776d3068/test-blob-d8117b74-3dca-51f2-460f-f89534ff7802?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 09 Apr 2024 20:30:46 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": "5pFvDDakyg7lqHenlZxPuPW/FpKcyfr8ME\u002BoLCX8mTPmGMHNnmNCdOaw73ddebWCsnact9jZCByXc9vn\u002B53p6A5EwHzagRmSfKGs7NmDnreZJnmuYOFaDA\u002BlNiuHW3lIxwZoGbg5pzBcCTo2LRxCFNQjTdQjO4gs6bRtNUvuCyEoYyXTGoX/YH9JUVamI97yYiFWYw2kJYx\u002BOy8Dy3Hlbv4ZDsr3b/lPJOxV2ukxhcXVetMql6cThD6ZVN9V\u002B5QNY\u002BNYjRUU\u002BvInBz4gTkqiTLVpLlGdu9dWBYmMXhsa\u002BSlYSHYG2fiwwX/hAo9p8jbz9ggp681Db6gLAYeLiJzXDQ4VyAbUnHO9uWzRvLhH7RNTmGgT8A1bFNj[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-ebe43bb0-8a00-699f-e4e6-1da5c2bd96f5/test-blob-1e5ea8a7-ed58-8fd7-109e-7fe28eb406e5",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "text/plain",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 09 Apr 2024 20:30:46 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": "boO5aEHql4VRn\u002BafYUIHOo79FRQlY9K/VXjcuj9CjxfNU0vnV5uNo6UealvAerkAMGvzAYntuwqw\u002BhPJDt1FDhDO0g33H\u002BLycHJuBvl3/tq\u002B24rUT46O35dAN12IxJXH2VtK8qisCRCIAJAXfrUROfw5CjJScL\u002BCQPJ2tueFaqzcpiydLAwxEtJ5TE79dmHhLv1gT7ljdWmbyLK2NVIoApbkOteIdA3wB/hf2SRwhMmRlIjqJBryeTHDAWNZe9yAUEm4GTyJWbrwcEfAA5tEK0ToJaHJPt578cClxHKplowb34jbuGuMBzvO\u002BbPTMXaWftYfcFY7thJqPCd845RHRtq7pCMTaXLZXB1l\u002B0QqqL9KD0abiiU14Cl1cHtEECOmhrLY[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-ebe43bb0-8a00-699f-e4e6-1da5c2bd96f5/test-blob-1e5ea8a7-ed58-8fd7-109e-7fe28eb406e5?sv=2024-05-04\u0026se=2024-04-10T20%3A30%3A46Z\u0026sr=b\u0026sp=Sanitized\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-MD5": "rTJ9fLb6oJ459WPheBErWw==",
        "Content-Type": "text/plain",
        "ETag": "\u00220x8DC58D3EFDA86CD\u0022",
        "Last-Modified": "Tue, 09 Apr 2024 20:30:46 GMT",
        "x-ms-access-tier": "Cold",
        "x-ms-access-tier-change-time": "Tue, 09 Apr 2024 20:30:46 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 09 Apr 2024 20:30:46 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-04-09T20:30:46.5187533Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-b8e25a3e-ceed-22c3-c39a-ce38776d3068/test-blob-d8117b74-3dca-51f2-460f-f89534ff7802?sv=2024-05-04\u0026se=2024-04-10T20%3A30%3A46Z\u0026sr=b\u0026sp=Sanitized\u0026sig=Sanitized\u0026comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "Sanitized",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC58D3F00ED596\u0022",
        "Last-Modified": "Tue, 09 Apr 2024 20:30:46 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-content-crc64": "L6pQkqjNVB0=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-ebe43bb0-8a00-699f-e4e6-1da5c2bd96f5/test-blob-1e5ea8a7-ed58-8fd7-109e-7fe28eb406e5?sv=2024-05-04\u0026se=2024-04-10T20%3A30%3A46Z\u0026sr=b\u0026sp=Sanitized\u0026sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\u00220x8DC58D3EFDA86CD\u0022",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "text/plain",
        "ETag": "\u00220x8DC58D3EFDA86CD\u0022",
        "Last-Modified": "Tue, 09 Apr 2024 20:30:46 GMT",
        "x-ms-blob-content-md5": "rTJ9fLb6oJ459WPheBErWw==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 09 Apr 2024 20:30:46 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id"[...]
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-ebe43bb0-8a00-699f-e4e6-1da5c2bd96f5?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 09 Apr 2024 20:30:46 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-04-09T13:30:46.0765944-07:00",
    "RandomSeed": "639939711",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
