{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-4c00e3a7-a3ce-890b-8c26-6fcd73075d2a?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 27 Mar 2024 23:00:12 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4EB1A93C91D8\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 23:00:13 GMT",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-4c00e3a7-a3ce-890b-8c26-6fcd73075d2a/test-blob-e5f48d85-0648-51ab-072e-a00011630e28",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 27 Mar 2024 23:00:12 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": "FQPH7iPLEhkoT/LRTbxdu3mcpxgGLBYPYGPdlEYigEGkjg1WG\u002BZ7qMPpm2185eULm9YGg/S2huntuI3A7n3SBs6xLb\u002BvB5\u002BTIP9UHJGok3t90flwG/xN7ggkaGNYu7pFF5WeyrcmXJM2c2L0YWlXRCQSQxyEYurSYz\u002B3ip48O2VFDwX8CsjDV3RlOaiZWIyezCQ\u002BRXidwbSqy2Z4b9H1\u002Bjj9r1JkWzpcTuunHilBOQuyGL56/vXsp01RUT5hSuejcD9wm6g6OnDp4veM9aKKaJJbxlYTevtDEAcEEgr7\u002BgQEBK3p0Z1jeN5NkBv\u002BYLGqxuir[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-4c00e3a7-a3ce-890b-8c26-6fcd73075d2a/test-blob-e5f48d85-0648-51ab-072e-a00011630e28?sv=2024-05-04\u0026se=2024-03-28T23%3A00%3A12Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "GrSP9L\u002BsVojRPkx6uCMEdw==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC4EB1A95E4FBD\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 23:00:13 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 27 Mar 2024 23:00:13 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-03-27T23:00:13.7476029Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-5a1135d0-2608-6400-674b-1e0f3f7e465d/test-blob-df58007b-38c1-c440-99e7-8f10077da987?sv=2024-05-04\u0026se=2024-03-28T23%3A00%3A12Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4EB1A98D4836\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 23:00:14 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-03-27T23:00:14.0554294Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-5a1135d0-2608-6400-674b-1e0f3f7e465d/test-blob-df58007b-38c1-c440-99e7-8f10077da987?sv=2024-05-04\u0026se=2024-03-28T23%3A00%3A12Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized\u0026comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-copy-source": "https://amandadev2.blob.core.windows.net/test-container-4c00e3a7-a3ce-890b-8c26-6fcd73075d2a/test-blob-e5f48d85-0648-51ab-072e-a00011630e28?sv=2024-05-04\u0026se=2024-03-28T23%3A00%3A12Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4EB1A99D998B\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 23:00:14 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-content-crc64": "RgNpPTGdMEE=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-4c00e3a7-a3ce-890b-8c26-6fcd73075d2a/test-blob-e5f48d85-0648-51ab-072e-a00011630e28?sv=2024-05-04\u0026se=2024-03-28T23%3A00%3A12Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\u00220x8DC4EB1A95E4FBD\u0022",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC4EB1A95E4FBD\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 23:00:13 GMT",
        "x-ms-blob-content-md5": "GrSP9L\u002BsVojRPkx6uCMEdw==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 27 Mar 2024 23:00:13 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-03-27T23:00:13.7476029Z"
      },
      "ResponseBody": "FQPH7iPLEhkoT/LRTbxdu3mcpxgGLBYPYGPdlEYigEGkjg1WG\u002BZ7qMPpm2185eULm[...]
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-4c00e3a7-a3ce-890b-8c26-6fcd73075d2a?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 27 Mar 2024 23:00:13 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-03-27T16:00:12.4221762-07:00",
    "RandomSeed": "1959531054",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
