{
  "Entries": [
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-3cc811d3-f66e-6490-6ae2-864a2ce9396c?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 01:23:31 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC869072928E2D\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:23:33 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-3cc811d3-f66e-6490-6ae2-864a2ce9396c/test-blob-9ad48305-2e8a-cfa2-0cd4-bb440d0ddaab",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "text/plain",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 07 Jun 2024 01:23:32 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "iRZstcGzwy8KRL2vwh2Bw5xsDfjqojb9aRyH/2i0FUO9SHbRO3ueEX2lPacHleQ3/OKHDvVVWObfbkylK8PGVS968nqmr4cgzvt7RGWO9dQ3UAKGLQdOaO+Q8cwv+ea63ud4jaJpkE1aZz/52RSAUHl3bdrAQCgnK4qKFr278NUVwWV9Fmgxzb+1K8XHVY7bD6FTt4sL+Z6+UGEX33qPn3Zq5BiuAjoQRp8aChVjYNb8rwYcZzhJCcfHv8UGGe5FJotOXXF2LQxmQnHs8e+IW/CLGy9zcjg+INpQ5kN1CSyw1eSJFAJlhYL6tSTHXRfYP2PUe/2/0bNTEDyWJUbI8TlEOxwL/0ftJpWteb0TdsPCeKffoI4u8QMwNQPGzmA7McTrgiH7zD8c5lVnElj2QJp4062f6VCqFUoZ2spDJ1c1cUf4J/Ohx6tnw7o5xt+qOvVpTvuym0hzQW3X4vJ12b/9MqAR/Rim1gwCOCaWcU5rbqDU2tlcg9b/heaGyuS58ur7O5Q+mTzcw3fusGMh3dAebHNSoP/moa/JEXgyHwwoSEU8mjW6LNVj+BZhbdJy3acWaF5wZ1HrFJrldYfEqqNqxmcd5UKaZD+e7qjohDPcVjTQG7eut+HzUYaa1LdOnk1z96dqVfdlewQe0nipApBmCB5S9I/svA+FKZS8/48=",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "+fDrIvD1HQmszkfC9/i3ZQ==",
        "ETag": "\"0x8DC869072B41ADF\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:23:33 GMT",
        "x-ms-content-crc64": "ZYhIXKpZ3wY=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-06-07T01:23:33.7586399Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-3cc811d3-f66e-6490-6ae2-864a2ce9396c/test-blob-9ad48305-2e8a-cfa2-0cd4-bb440d0ddaab?sv=Sanitized&se=2024-06-08T01%3A23%3A32Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-MD5": "+fDrIvD1HQmszkfC9/i3ZQ==",
        "Content-Type": "text/plain",
        "ETag": "\"0x8DC869072B41ADF\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:23:33 GMT",
        "x-ms-access-tier": "Cold",
        "x-ms-access-tier-change-time": "Fri, 07 Jun 2024 01:23:33 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 07 Jun 2024 01:23:33 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-06-07T01:23:33.7586399Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-00640dc2-9a09-b51b-09ff-a48ec5a2f5bf/test-blob-47946e93-9576-c679-06fd-5eecb6950095?sv=Sanitized&se=2024-06-08T01%3A23%3A32Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-length": "512",
        "x-ms-blob-content-type": "text/plain",
        "x-ms-blob-type": "PageBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC869072D29CCC\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:23:33 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-06-07T01:23:33.9595731Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-00640dc2-9a09-b51b-09ff-a48ec5a2f5bf/test-blob-47946e93-9576-c679-06fd-5eecb6950095?sv=Sanitized&se=2024-06-08T01%3A23%3A32Z&sr=b&sp=racwdxyltmei&sig=Sanitized&comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-copy-source": "https://seancanary.blob.core.windows.net/test-container-3cc811d3-f66e-6490-6ae2-864a2ce9396c/test-blob-9ad48305-2e8a-cfa2-0cd4-bb440d0ddaab?sv=Sanitized&se=2024-06-08T01%3A23%3A32Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-511",
        "x-ms-source-range": "bytes=0-511",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC869072DF93FA\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:23:34 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-content-crc64": "ZYhIXKpZ3wY=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-3cc811d3-f66e-6490-6ae2-864a2ce9396c/test-blob-9ad48305-2e8a-cfa2-0cd4-bb440d0ddaab?sv=Sanitized&se=2024-06-08T01%3A23%3A32Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DC869072B41ADF\"",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-511/512",
        "Content-Type": "text/plain",
        "ETag": "\"0x8DC869072B41ADF\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:23:33 GMT",
        "x-ms-blob-content-md5": "+fDrIvD1HQmszkfC9/i3ZQ==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 07 Jun 2024 01:23:33 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-06-07T01:23:33.7586399Z"
      },
      "ResponseBody": [
        "�\u0016l����/\n",
        "D���\u001D�Ül\r",
        "��6�i\u001C��h�\u0015C�Hv�;{�\u0011}�=�\u0007��7��\u000E�UX��nL�+��U/z�z��� ��{De���7P\u0002�-\u0007Nh���/����x��i�MZg?��\u0014�Pywm��@('+��\u0016����\u0015�e}\u0016h1Ϳ�+��U��\u000F�S��\u000B���Pa\u0017�z��vj�\u0018�\u0002:\u0010F�\u001A\n",
        "\u0015c`���\u0006\u001Cg8I\t�ǿ�\u0006\u0019�E&�N]qv-\ffBq���[��\u001B/sr8> �P�Cu\t,���\u0014\u0002e����$�]\u0017�?c�{��ѳS\u0010<�%F��9D;\u001C\u000B�G�&��y�\u0013v��x�ߠ�.�\u000305\u0003��`;1��!��?\u001C�Ug\u0012X�@�xӭ��P�\u0015J\u0019��C'W5qG�'�ǫgú9�ߪ:�iN���HsAm���uٿ�2�\u0011�\u0018��\f\u00028&�qNkn����\\����������;�>�<��w�c!��\u001ElsR��桯�\u0011x2\u001F\f(HE<�5�,�c�\u0016am�rݧ\u0016h^pgQ�\u0014��u�Ī�j�g\u001D�B�d?���3�V4�\u001B�����Q��ԷN�Ms��jU�e{\u0004\u001E�x�\u0002�f\b\u001ER��\u000F�)����"
      ]
    },
[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-3cc811d3-f66e-6490-6ae2-864a2ce9396c?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 01:23:33 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-06-06T20:23:32.2712708-05:00",
    "RandomSeed": "1088619331",
    "Storage_TestConfigDefault": "ProductionTenant\nseancanary\nU2FuaXRpemVk\nhttps://seancanary.blob.core.windows.net\nhttps://seancanary.file.core.windows.net\nhttps://seancanary.queue.core.windows.net\nhttps://seancanary.table.core.windows.net\n\n\n\n\nhttps://seancanary-secondary.blob.core.windows.net\nhttps://seancanary-secondary.file.core.windows.net\nhttps://seancanary-secondary.queue.core.windows.net\nhttps://seancanary-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seancanary.blob.core.windows.net/;QueueEndpoint=https://seancanary.queue.core.windows.net/;FileEndpoint=https://seancanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seancanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seancanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seancanary-secondary.file.core.windows.net/;AccountName=seancanary;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
