{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-4f2af2a6-35cd-ee9f-86ea-05086c797a96?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 09 Apr 2024 20:31:04 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC58D3FB0B4FB9\u0022",
        "Last-Modified": "Tue, 09 Apr 2024 20:31:05 GMT",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-4f2af2a6-35cd-ee9f-86ea-05086c797a96/test-blob-ced262b4-9c08-3614-4c73-4fdb561184ec",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "text/plain",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 09 Apr 2024 20:31:04 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": "nIl/l9\u002BRSXc2MjyYFpRxYgfk\u002BLCXjMnLiGSCgWZdbjDWEWFNJumrj28Z4sPlkSAdZ5S2q6Mc2hC/tA56DscR2cQLwQUyIzwdOGhBfaoG5fZDZBrRp8ONujZRjnHaMYGnBwn/2c8b6kNYmHI72lxluc4YN6qsPzEAfgfO4JXKQgfnmXWhBgsnJ3nXeQ5RUd/a7NSiwvrW\u002BsjX/lvITQqtjVVqVEDmxLLD8A8w1cYirywn9PTAJ4ANEJ6tygiwX9pvKeu55v2e8ygh39HqpiUCtE4uoFgV7GbVXEShOfmpEpE0wKvaacgviAHMnkeuI2l5qxW6gb6BWj2F5Iq4/boueMw/teZ6J0qF/hdXSU0eJjnbKI3j75DTs2ZtVYU\u002BdotGnSZ7bm2C/oTLNIOnKRD[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-4f2af2a6-35cd-ee9f-86ea-05086c797a96/test-blob-ced262b4-9c08-3614-4c73-4fdb561184ec?sv=2024-05-04\u0026se=2024-04-10T20%3A31%3A05Z\u0026sr=b\u0026sp=Sanitized\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-MD5": "LrZsHDYz2kluoW\u002BjqoOv7A==",
        "Content-Type": "text/plain",
        "ETag": "\u00220x8DC58D3FB1FD58B\u0022",
        "Last-Modified": "Tue, 09 Apr 2024 20:31:05 GMT",
        "x-ms-access-tier": "Cold",
        "x-ms-access-tier-change-time": "Tue, 09 Apr 2024 20:31:05 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 09 Apr 2024 20:31:05 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-04-09T20:31:05.4279051Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-886c308b-2560-e8ea-5410-c942ee9990f6/test-blob-f19d7b72-631e-64d2-b57c-11da8541f18d?sv=2024-05-04\u0026se=2024-04-10T20%3A31%3A05Z\u0026sr=b\u0026sp=Sanitized\u0026sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-content-type": "text/plain",
        "x-ms-blob-type": "PageBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC58D3FB392630\u0022",
        "Last-Modified": "Tue, 09 Apr 2024 20:31:05 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-04-09T20:31:05.5938096Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-886c308b-2560-e8ea-5410-c942ee9990f6/test-blob-f19d7b72-631e-64d2-b57c-11da8541f18d?sv=2024-05-04\u0026se=2024-04-10T20%3A31%3A05Z\u0026sr=b\u0026sp=Sanitized\u0026sig=Sanitized\u0026comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "Sanitized",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC58D3FB435DE8\u0022",
        "Last-Modified": "Tue, 09 Apr 2024 20:31:05 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-content-crc64": "FpcK58ZVRwk=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-4f2af2a6-35cd-ee9f-86ea-05086c797a96/test-blob-ced262b4-9c08-3614-4c73-4fdb561184ec?sv=2024-05-04\u0026se=2024-04-10T20%3A31%3A05Z\u0026sr=b\u0026sp=Sanitized\u0026sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\u00220x8DC58D3FB1FD58B\u0022",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "text/plain",
        "ETag": "\u00220x8DC58D3FB1FD58B\u0022",
        "Last-Modified": "Tue, 09 Apr 2024 20:31:05 GMT",
        "x-ms-blob-content-md5": "LrZsHDYz2kluoW\u002BjqoOv7A==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 09 Apr 2024 20:31:05 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-versio[...]
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-4f2af2a6-35cd-ee9f-86ea-05086c797a96?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 09 Apr 2024 20:31:05 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-04-09T13:31:05.0638551-07:00",
    "RandomSeed": "323287128",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
