{
  "Entries": [
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-f72c203b-d357-36b6-c740-195c6ea790a2?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 01:23:55 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC869080DA9949\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:23:57 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-f72c203b-d357-36b6-c740-195c6ea790a2/test-blob-b5e9d97b-554b-8e1f-7fa7-66431346d68b",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "text/plain",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 07 Jun 2024 01:23:56 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "ntSdqlmr2K44aCg22BNLC8dtceQEkI8LHzXr3fDGGOJ9mYNAu7VzjU40nnVj5HjiNfbLQ/hw5Q5FkoojwPq9cU9GuD6PC08R+uOW0PEZpzu9Caf6+9XpDbN1+ikrT81TdywmHSs5UiqmuUkV2RUcLOpOZrdTwnV6XKqKGRAm5asWQ1nE84oPg7Z9VEKM1DOeWc4+3egWALS3q8CArjkZf9Od/5a8VzlgPuIB1W4z7od27L9C5wjCAEKkDUfJj9V8ZNRu7tWd4gGV3p4FFCpGg704CsJ515fK2/9TF0nxlq8NhHCZxf+y2Qm9rAlpvOsYXoqJkIUTAo08oxLWScu4o0fv+JC5rL69hjC4uyqOYR4TO7i/ZwYq+YHjXCHs3I8+BQjBesRbXrHMzApUWkdirkL0wg4S+DxBxf4O1k+[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-f72c203b-d357-36b6-c740-195c6ea790a2/test-blob-b5e9d97b-554b-8e1f-7fa7-66431346d68b?sv=Sanitized&se=2024-06-08T01%3A23%3A56Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-MD5": "u9fHUpquxpJf2GbK3AVnzQ==",
        "Content-Type": "text/plain",
        "ETag": "\"0x8DC86908102D3C8\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:23:57 GMT",
        "x-ms-access-tier": "Cold",
        "x-ms-access-tier-change-time": "Fri, 07 Jun 2024 01:23:57 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 07 Jun 2024 01:23:57 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-06-07T01:23:57.7626568Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-98f2b1bc-01bc-8128-78bc-2c121a614034/test-blob-9f18e6d7-fbc8-fc94-5018-a616447de9ef?sv=Sanitized&se=2024-06-08T01%3A23%3A56Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-content-type": "text/plain",
        "x-ms-blob-type": "PageBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC869081254CFA\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:23:57 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-06-07T01:23:57.9885818Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-98f2b1bc-01bc-8128-78bc-2c121a614034/test-blob-9f18e6d7-fbc8-fc94-5018-a616447de9ef?sv=Sanitized&se=2024-06-08T01%3A23%3A56Z&sr=b&sp=racwdxyltmei&sig=Sanitized&comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-copy-source": "https://seancanary.blob.core.windows.net/test-container-f72c203b-d357-36b6-c740-195c6ea790a2/test-blob-b5e9d97b-554b-8e1f-7fa7-66431346d68b?sv=Sanitized&se=2024-06-08T01%3A23%3A56Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC869081357832\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:23:58 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-content-crc64": "2q4j+LCFwEw=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-f72c203b-d357-36b6-c740-195c6ea790a2/test-blob-b5e9d97b-554b-8e1f-7fa7-66431346d68b?sv=Sanitized&se=2024-06-08T01%3A23%3A56Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DC86908102D3C8\"",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "text/plain",
        "ETag": "\"0x8DC86908102D3C8\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:23:57 GMT",
        "x-ms-blob-content-md5": "u9fHUpquxpJf2GbK3AVnzQ==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 07 Jun 2024 01:23:57 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id"[...]
[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-f72c203b-d357-36b6-c740-195c6ea790a2?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 01:23:57 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-06-06T20:23:56.2662817-05:00",
    "RandomSeed": "1368131333",
    "Storage_TestConfigDefault": "ProductionTenant\nseancanary\nU2FuaXRpemVk\nhttps://seancanary.blob.core.windows.net\nhttps://seancanary.file.core.windows.net\nhttps://seancanary.queue.core.windows.net\nhttps://seancanary.table.core.windows.net\n\n\n\n\nhttps://seancanary-secondary.blob.core.windows.net\nhttps://seancanary-secondary.file.core.windows.net\nhttps://seancanary-secondary.queue.core.windows.net\nhttps://seancanary-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seancanary.blob.core.windows.net/;QueueEndpoint=https://seancanary.queue.core.windows.net/;FileEndpoint=https://seancanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seancanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seancanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seancanary-secondary.file.core.windows.net/;AccountName=seancanary;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
