{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-bcf07e2c-d240-1819-fbcd-db1b223509fc?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 01 May 2024 20:36:03 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC6A1E51D2515A\"",
        "Last-Modified": "Wed, 01 May 2024 20:36:03 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-bcf07e2c-d240-1819-fbcd-db1b223509fc/test-blob-45c754d7-946a-d73f-9973-858d5d64b30b",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "text/plain",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 01 May 2024 20:36:03 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "Qhfv8IVzxabxS/OQgQDpleGsSCBR+D8OoYIyA9InWiC6I8mJ8RA58fZAm1jIRhPfLns2rew39knY4U4CQMHTyvHS1V42YKTQclYpEF3mRVtvU9RW8KwzgyyAsRDCN7E0bNBn9nC1qM7XZjuWDebs8pvyk+ztfdpEn1Iytq+TDjql9KOMfk/quasGf4lxnXVFk751z6TER+/2I1Yeg/EeQ1cA8RlCX3NLCNlB5/5Q0wHc7CPwHj+W4Ky0llv4zDa55zsxcaxcAzNLKcfLg2DxpVBUQZfOLiQYahBsjskXUjujh//CHmFVgOjvpPV3yl1Mw/ALo4ue6rgWGAeb8HVpM9eLKPtgLofu/8Gu34kvoZ+zH8vZDK6wBJxGrAVauo9zhXEe66Jh65RoHKTJ8Asv53dn6NCqkCYo2yReGoKBk0UxO1oYEbX8UTQ2cO8J5hORF8SN8tK/yPVK9Q9+A9ER54lfl7WxFtXCa5accx83H/UQzQK986BycnJkzRylfk5iJYlmqk5e3wDvy4c7I1XVE9YabTbOU/Po7CVCTEi5HexIOU6V0HSmsu0BzigYN08djrpGihAXk9GVfb0pG5O3Na2b8+kGQEJhc7tIzYXL0LXVJb2Oc5LcMKV9AFO3fZZaSZh6fURlFk545RdUzsZLya0IU/XVKcIbvsJEiT/uqfY=",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "ldkN1nW7+DyvyNhz1kBF6w==",
        "ETag": "\"0x8DC6A1E51F35D80\"",
        "Last-Modified": "Wed, 01 May 2024 20:36:03 GMT",
        "x-ms-content-crc64": "xtXlQ9/zKRk=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-05-01T20:36:03.6234624Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-bcf07e2c-d240-1819-fbcd-db1b223509fc/test-blob-45c754d7-946a-d73f-9973-858d5d64b30b?sv=2024-08-04&se=2024-05-02T20%3A36%3A03Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-MD5": "ldkN1nW7+DyvyNhz1kBF6w==",
        "Content-Type": "text/plain",
        "ETag": "\"0x8DC6A1E51F35D80\"",
        "Last-Modified": "Wed, 01 May 2024 20:36:03 GMT",
        "x-ms-access-tier": "Cold",
        "x-ms-access-tier-change-time": "Wed, 01 May 2024 20:36:03 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 01 May 2024 20:36:03 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Wed, 01 May 2024 20:36:03 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-05-01T20:36:03.6234624Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-68798e37-e392-fd34-8a9d-7af1f9a67f8f/test-blob-10c7739f-746b-f59c-d767-332b428bc174?sv=2024-08-04&se=2024-05-02T20%3A36%3A03Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-length": "512",
        "x-ms-blob-content-type": "text/plain",
        "x-ms-blob-type": "PageBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC6A1E5215FB9A\"",
        "Last-Modified": "Wed, 01 May 2024 20:36:03 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-05-01T20:36:03.8513329Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-68798e37-e392-fd34-8a9d-7af1f9a67f8f/test-blob-10c7739f-746b-f59c-d767-332b428bc174?sv=2024-08-04&se=2024-05-02T20%3A36%3A03Z&sr=b&sp=racwdxyltmei&sig=Sanitized&comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-copy-source": "https://seanmcccanada.blob.core.windows.net/test-container-bcf07e2c-d240-1819-fbcd-db1b223509fc/test-blob-45c754d7-946a-d73f-9973-858d5d64b30b?sv=2024-08-04&se=2024-05-02T20%3A36%3A03Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-511",
        "x-ms-source-range": "bytes=0-511",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC6A1E5228967E\"",
        "Last-Modified": "Wed, 01 May 2024 20:36:03 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-content-crc64": "xtXlQ9/zKRk=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-bcf07e2c-d240-1819-fbcd-db1b223509fc/test-blob-45c754d7-946a-d73f-9973-858d5d64b30b?sv=2024-08-04&se=2024-05-02T20%3A36%3A03Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DC6A1E51F35D80\"",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-511/512",
        "Content-Type": "text/plain",
        "ETag": "\"0x8DC6A1E51F35D80\"",
        "Last-Modified": "Wed, 01 May 2024 20:36:03 GMT",
        "x-ms-blob-content-md5": "ldkN1nW7+DyvyNhz1kBF6w==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 01 May 2024 20:36:03 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Wed, 01 May 2024 20:36:03 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-05-01T20:36:03.6234624Z"
      },
      "ResponseBody": [
        "B\u0017���sŦ�K�\u0000��H Q�?\u000E��2\u0003�'Z �#ɉ�\u00109��@�X�F\u0013�.{6��7�I��N\u0002@������^6`��rV)\u0010]�E[oS�V�3�,��\u0010�7�4l�g�p����f;�\r",
        "������}�D�R2���\u000E:����~O깫\u0006\u007F�q�uE��uϤ�G��#V\u001E��\u001ECW\u0000�\u0019B_sK\b�A��P�\u0001��#�\u001E?�\u0B34�[��6��;1q�\\\u00033K)�˃`�PTA��.$\u0018j\u0010l��\u0017R;����\u001EaU����w�]L��\u000B����\u0016\u0018\u0007��ui3\u05CB(�`.�����߉/���\u001F��\f��\u0004�F�\u0005Z��s�q\u001E�a�h\u001C���\u000B/�wg�Ъ�&(�$^\u001A���E1;Z\u0018\u0011��Q46p�\t�\u0013�\u0017č�ҿ��J�\u000F~\u0003�\u0011�_���\u0016��k��s\u001F7\u001F�\u0010�\u0002��rrrd�\u001C�~Nb%�f�N^�\u0000�ˇ;#U�\u0013�\u001Am6�S���%BLH�\u001D�H9N��t���\u0001�(\u00187O\u001D��F�\u0010\u0017�ѕ}�)\u001B��5����\u0006@Bas�Hͅ�е�%��s��0�}\u0000S�}�ZI�z}De\u0016Nx�\u0017T��Kɭ\bS��)�\u001B��D�?��"
      ]
    },
[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-bcf07e2c-d240-1819-fbcd-db1b223509fc?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 01 May 2024 20:36:04 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-05-01T13:36:03.4274594-07:00",
    "RandomSeed": "1872443128",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanada\nU2FuaXRpemVk\nhttps://seanmcccanada.blob.core.windows.net\nhttps://seanmcccanada.file.core.windows.net\nhttps://seanmcccanada.queue.core.windows.net\nhttps://seanmcccanada.table.core.windows.net\n\n\n\n\nhttps://seanmcccanada-secondary.blob.core.windows.net\nhttps://seanmcccanada-secondary.file.core.windows.net\nhttps://seanmcccanada-secondary.queue.core.windows.net\nhttps://seanmcccanada-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanada.blob.core.windows.net/;QueueEndpoint=https://seanmcccanada.queue.core.windows.net/;FileEndpoint=https://seanmcccanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanada-secondary.file.core.windows.net/;AccountName=seanmcccanada;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
