{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-4e7ddf44-f06f-fd26-a08e-ad6bd53aad4b?restype=container&sv=Sanitized&ss=b&srt=sco&st=2026-02-18T05%3A18%3A38Z&se=2026-02-18T07%3A18%3A38Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE6EB58E068D3E\"",
        "Last-Modified": "Wed, 18 Feb 2026 06:18:38 GMT",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-4e7ddf44-f06f-fd26-a08e-ad6bd53aad4b/test-blob-300f5b34-6709-b6a0-2de3-eba3a87b6a22?sv=Sanitized&ss=b&srt=sco&st=2026-02-18T05%3A18%3A38Z&se=2026-02-18T07%3A18%3A38Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": "HPlgvUREYp4lNyUi9WON/oZy86FSsWO+OLI3jR/ScbSPquVcidQwClbmk2aCtCaJjx/pjto/UGuVoYSSDdV/U8Zwkkt9MXSxQulLbB79O4SLrv0A6OLaUFl6xuhQnf2AZj+fEiHbC16qN0zx9ORNl2UABl7Yf2rjlkLyA2qMYaTrygbeXSljsKKeVrGW6Fx1LS6CUJaeqObUvHvf6Qj0HdaoBSndbjo7nFa8OSm5Ta3lfNY7CRANTSEfCaGuhMeZqTja7eMyl770R7NA4m69G2/N+WwyuRPFm7gIvmSYjRiPIo/w3l/Ks+UXRsJdzWuyYe4x4YtaZ/AlFFIqKthaW7masL/fzTwPAkaGG3JQaM5NVVx2Z6yNNLufy8kNoIgMveoIwhyr05SyIt5F1Ex91KyD3dV85PQNDXsEPwF[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-4e7ddf44-f06f-fd26-a08e-ad6bd53aad4b/test-blob-300f5b34-6709-b6a0-2de3-eba3a87b6a22?sv=Sanitized&ss=b&srt=sco&st=2026-02-18T05%3A18%3A38Z&se=2026-02-18T07%3A18%3A38Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-MD5": "se3VcqZGOrXhi1A04i6WAg==",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DE6EB58E1B360B\"",
        "Last-Modified": "Wed, 18 Feb 2026 06:18:38 GMT",
        "x-ms-access-tier": "Cold",
        "x-ms-access-tier-change-time": "Wed, 18 Feb 2026 06:18:38 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 18 Feb 2026 06:18:38 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-fd978c8d-54d1-e8e1-26b4-a1d66ec61782/test-blob-7a1bb8eb-faed-d577-5ddc-b149cb285021?sv=Sanitized&ss=b&srt=sco&st=2026-02-18T05%3A18%3A38Z&se=2026-02-18T07%3A18%3A38Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "PageBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE6EB58E35576F\"",
        "Last-Modified": "Wed, 18 Feb 2026 06:18:38 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-fd978c8d-54d1-e8e1-26b4-a1d66ec61782/test-blob-7a1bb8eb-faed-d577-5ddc-b149cb285021?comp=page&sv=Sanitized&ss=b&srt=sco&st=2026-02-18T05%3A18%3A38Z&se=2026-02-18T07%3A18%3A38Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-4e7ddf44-f06f-fd26-a08e-ad6bd53aad4b/test-blob-300f5b34-6709-b6a0-2de3-eba3a87b6a22?sv=sanitized-value&ss=b&srt=sco&st=2026-02-18T05%3A18%3A38Z&se=2026-02-18T07%3A18%3A38Z&sp=rwdxylacuptfi&sig=Sanitized",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE6EB58E3FF9DF\"",
        "Last-Modified": "Wed, 18 Feb 2026 06:18:38 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-content-crc64": "aDF2TrXcbAU=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-4e7ddf44-f06f-fd26-a08e-ad6bd53aad4b/test-blob-300f5b34-6709-b6a0-2de3-eba3a87b6a22?sv=Sanitized&ss=b&srt=sco&st=2026-02-18T05%3A18%3A38Z&se=2026-02-18T07%3A18%3A38Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DE6EB58E1B360B\"",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DE6EB58E1B360B\"",
        "Last-Modified": "Wed, 18 Feb 2026 06:18:38 GMT",
        "x-ms-access-tier": "Cold",
        "x-ms-access-tier-change-time": "Wed, 18 Feb 2026 06:18:38 GMT",
        "x-ms-blob-content-md5": "se3VcqZGOrXhi1A04i6WAg==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 18 Feb 2026 06:18:38 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": "HPlgvUREYp4lNyUi9WON/oZy86FSsWO+OLI3j[...]
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-4e7ddf44-f06f-fd26-a08e-ad6bd53aad4b?restype=container&sv=Sanitized&ss=b&srt=sco&st=2026-02-18T05%3A18%3A38Z&se=2026-02-18T07%3A18%3A38Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2026-02-17T22:18:38.3861262-08:00",
    "RandomSeed": "459305028",
    "Storage_TestConfigDefault": "ProductionTenant\namandapreprod\nU2FuaXRpemVk\nhttps://amandapreprod.blob.core.windows.net\nhttps://amandapreprod.file.core.windows.net\nhttps://amandapreprod.queue.core.windows.net\nhttps://amandapreprod.table.core.windows.net\n\n\n\n\nhttps://amandapreprod-secondary.blob.core.windows.net\nhttps://amandapreprod-secondary.file.core.windows.net\nhttps://amandapreprod-secondary.queue.core.windows.net\nhttps://amandapreprod-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandapreprod.blob.core.windows.net/;QueueEndpoint=https://amandapreprod.queue.core.windows.net/;FileEndpoint=https://amandapreprod.file.core.windows.net/;BlobSecondaryEndpoint=https://amandapreprod-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandapreprod-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandapreprod-secondary.file.core.windows.net/;AccountName=amandapreprod;AccountKey=U2FuaXRpemVk\nencryptionScope\n\n"
  }
}
