{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-a0d3641f-8353-9483-f75d-418eb63199d7?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 09 Apr 2024 20:31:07 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC58D3FCBA1C63\u0022",
        "Last-Modified": "Tue, 09 Apr 2024 20:31:08 GMT",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-a0d3641f-8353-9483-f75d-418eb63199d7/test-blob-01e3a6d9-af7f-061f-a914-afec46fbd241",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "text/plain",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 09 Apr 2024 20:31:07 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": "oINNetOEo5QMBNT/n4FCwiu0AGkdRk2JDzLuM8kxXHL6MA2B36BCBnrM5/18Dyh94GQb3nUh61o1w2qglm/L26diBG9zwOKKcfruUF9QDQAJcFNlFX782USzSxs2oXALAQtVGgq5Ch\u002BCkGx7Mpv75bZplyUcZsYpZSsrv3XGVM\u002BJ409T\u002BvP1UGUz44QRgKaouGZlzQpK75tFLLTfjUqquzyc8U9Lp\u002BrDdEbA6IJBF\u002BWFggcOYYfFP/S0Ds4\u002BFsIaiCdHdY5WXBB7oVnDigYYAxTPWgtDm1q117Jbl5kchF2EpV9b\u002BqJWLiX3kr8uAbTtnAq5b7y31\u002BzNkZ3b\u002B8V2Xxz7P\u002BSmvAlxeCvlSwmah9X\u002BbfuP[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-a0d3641f-8353-9483-f75d-418eb63199d7/test-blob-01e3a6d9-af7f-061f-a914-afec46fbd241?sv=2024-05-04\u0026se=2024-04-10T20%3A31%3A07Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-MD5": "6FcWIZEFb8cj5G6\u002BmLDFjQ==",
        "Content-Type": "text/plain",
        "ETag": "\u00220x8DC58D3FCCFDE27\u0022",
        "Last-Modified": "Tue, 09 Apr 2024 20:31:08 GMT",
        "x-ms-access-tier": "Cold",
        "x-ms-access-tier-change-time": "Tue, 09 Apr 2024 20:31:08 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 09 Apr 2024 20:31:08 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-04-09T20:31:08.2592807Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-f13d116b-6ff0-0a1a-bd5a-b8b21b044335/test-blob-ecf6ae39-03f0-20b2-5d9a-cf0cef529a88?sv=2024-05-04\u0026se=2024-04-10T20%3A31%3A07Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-content-type": "text/plain",
        "x-ms-blob-type": "PageBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC58D3FCE8B9AE\u0022",
        "Last-Modified": "Tue, 09 Apr 2024 20:31:08 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-04-09T20:31:08.4221870Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-f13d116b-6ff0-0a1a-bd5a-b8b21b044335/test-blob-ecf6ae39-03f0-20b2-5d9a-cf0cef529a88?sv=2024-05-04\u0026se=2024-04-10T20%3A31%3A07Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized\u0026comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-copy-source": "https://amandadev2.blob.core.windows.net/test-container-a0d3641f-8353-9483-f75d-418eb63199d7/test-blob-01e3a6d9-af7f-061f-a914-afec46fbd241?sv=2024-05-04\u0026se=2024-04-10T20%3A31%3A07Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-511",
        "x-ms-source-range": "bytes=0-511",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC58D3FCF3B495\u0022",
        "Last-Modified": "Tue, 09 Apr 2024 20:31:08 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-content-crc64": "Uu/kekFU9o8=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-a0d3641f-8353-9483-f75d-418eb63199d7/test-blob-01e3a6d9-af7f-061f-a914-afec46fbd241?sv=2024-05-04\u0026se=2024-04-10T20%3A31%3A07Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\u00220x8DC58D3FCCFDE27\u0022",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "text/plain",
        "ETag": "\u00220x8DC58D3FCCFDE27\u0022",
        "Last-Modified": "Tue, 09 Apr 2024 20:31:08 GMT",
        "x-ms-blob-content-md5": "6FcWIZEFb8cj5G6\u002BmLDFjQ==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 09 Apr 2024 20:31:08 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-versio[...]
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-a0d3641f-8353-9483-f75d-418eb63199d7?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 09 Apr 2024 20:31:08 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-04-09T13:31:07.8922697-07:00",
    "RandomSeed": "668028907",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
