{
  "Entries": [
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-85371a55-91c1-0bc7-2c50-a0bbd644a88e?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 31 Jan 2025 22:17:06 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD4244FF618742\"",
        "Last-Modified": "Fri, 31 Jan 2025 22:17:06 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-85371a55-91c1-0bc7-2c50-a0bbd644a88e/test-blob-9a76d24c-cbda-7cc9-2f85-9a3254681db0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 31 Jan 2025 22:17:06 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": "4AeXSGmYIZvS+3cBDTUegcQVV1x5IZ7jF2I+CZhnOlIzk88wDxjyrSPBjrTPVorhFw0ZQzwV3r5ptDAHWRgDasEkzXll7nGsIqk4t5PpFMHYXPGKTvYWHrURxlvn61MLvSPyqogQeymbbCCS3CYqf59uL/0neBzLDa/EVCcWxDdWLfpw9mo5x+DH7uHVhEGP5ka7ebxW40UHJ5zZTCcChafpO64suok1NWccX4k79YltNW3gWkt6AEm0ac7NYHu5xWk560mSYiy9hkNVOYS7yzITaxa5IStcbztld1G6aNTsYpkgAglA2tJAItQIJcbF+Z2cuvRkAKQ93XwNLevbAx1uaNbqm8ko0pBEeP5XU0l0n36zHa3gh2L14iSNMq3mZR62mbzw2l7Tc+dkIIel5YkymY1tJ+ZvjuFz9Li[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-85371a55-91c1-0bc7-2c50-a0bbd644a88e/test-blob-9a76d24c-cbda-7cc9-2f85-9a3254681db0?sv=Sanitized&se=2025-02-01T22%3A17%3A06Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-MD5": "SNHJ4LtvOEUOPovSJtWkeg==",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD4244FF70CE6F\"",
        "Last-Modified": "Fri, 31 Jan 2025 22:17:06 GMT",
        "x-ms-access-tier": "Cold",
        "x-ms-access-tier-change-time": "Fri, 31 Jan 2025 22:17:06 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 31 Jan 2025 22:17:06 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Fri, 31 Jan 2025 22:17:06 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05",
        "x-ms-version-id": "2025-01-31T22:17:06.7270767Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-12ad8c84-4c14-38fe-6f8f-6d8925ab592f/test-blob-b0647c65-ee71-89da-377b-d1066749fc64?sv=Sanitized&se=2025-02-01T22%3A17%3A06Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD4244FF834248\"",
        "Last-Modified": "Fri, 31 Jan 2025 22:17:06 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05",
        "x-ms-version-id": "2025-01-31T22:17:06.8480072Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-12ad8c84-4c14-38fe-6f8f-6d8925ab592f/test-blob-b0647c65-ee71-89da-377b-d1066749fc64?sv=Sanitized&se=2025-02-01T22%3A17%3A06Z&sr=b&sp=racwdxyltmei&sig=Sanitized&comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-copy-source": "https://jalauzonnettest.blob.core.windows.net/test-container-85371a55-91c1-0bc7-2c50-a0bbd644a88e/test-blob-9a76d24c-cbda-7cc9-2f85-9a3254681db0?sv=sanitized-value&se=2025-02-01T22%3A17%3A06Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD4244FF8B3060\"",
        "Last-Modified": "Fri, 31 Jan 2025 22:17:06 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-content-crc64": "s4L0GkDZXdc=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-85371a55-91c1-0bc7-2c50-a0bbd644a88e/test-blob-9a76d24c-cbda-7cc9-2f85-9a3254681db0?sv=Sanitized&se=2025-02-01T22%3A17%3A06Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DD4244FF70CE6F\"",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD4244FF70CE6F\"",
        "Last-Modified": "Fri, 31 Jan 2025 22:17:06 GMT",
        "x-ms-blob-content-md5": "SNHJ4LtvOEUOPovSJtWkeg==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 31 Jan 2025 22:17:06 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Fri, 31 Jan 2025 22:17:06 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true[...]
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-12ad8c84-4c14-38fe-6f8f-6d8925ab592f/test-blob-b0647c65-ee71-89da-377b-d1066749fc64?sv=Sanitized&se=2025-02-01T22%3A17%3A06Z&sr=b&sp=racwdxyltmei&sig=Sanitized&comp=tags",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?>\n",
        "<Tags><TagSet/></Tags>"
      ]
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-85371a55-91c1-0bc7-2c50-a0bbd644a88e?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 31 Jan 2025 22:17:07 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2025-01-31T14:17:06.7664560-08:00",
    "RandomSeed": "731567832",
    "Storage_TestConfigDefault": "ProductionTenant\njalauzonnettest\nU2FuaXRpemVk\nhttps://jalauzonnettest.blob.core.windows.net\nhttps://jalauzonnettest.file.core.windows.net\nhttps://jalauzonnettest.queue.core.windows.net\nhttps://jalauzonnettest.table.core.windows.net\n\n\n\n\nhttps://jalauzonnettest-secondary.blob.core.windows.net\nhttps://jalauzonnettest-secondary.file.core.windows.net\nhttps://jalauzonnettest-secondary.queue.core.windows.net\nhttps://jalauzonnettest-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://jalauzonnettest.blob.core.windows.net/;QueueEndpoint=https://jalauzonnettest.queue.core.windows.net/;FileEndpoint=https://jalauzonnettest.file.core.windows.net/;BlobSecondaryEndpoint=https://jalauzonnettest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jalauzonnettest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jalauzonnettest-secondary.file.core.windows.net/;AccountName=jalauzonnettest;AccountKey=U2FuaXRpemVk\ntestscope1\n\n"
  }
}
