{
  "Entries": [
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-3d141e31-53f8-c25e-b35e-b782c67df786?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 31 Jan 2025 22:17:30 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD42450DDB3DD3\"",
        "Last-Modified": "Fri, 31 Jan 2025 22:17:30 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-7548e093-3ca7-57f6-a530-ad7569bb41ed/test-blob-77feafeb-0e17-2c40-3697-814e81e71a41",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Fri, 31 Jan 2025 22:17:30 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD42450DEA4425\"",
        "Last-Modified": "Fri, 31 Jan 2025 22:17:31 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05",
        "x-ms-version-id": "2025-01-31T22:17:31.0111781Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-7548e093-3ca7-57f6-a530-ad7569bb41ed/test-blob-77feafeb-0e17-2c40-3697-814e81e71a41?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Fri, 31 Jan 2025 22:17:31 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": "DT7FnYRmpjlHjtMbrx19vEql7Iu2pVW0IjYrfhOWo+tGGEkjOHvBK5q4LERlv+zwC8O5/PtkjmfpEHpNOyclsOrn1JbUWoTO48Hx/nkQT2NKO3JP3afw4orhOicBdO9yknxafupWG7E/6hg6c5Du2MEWAwC11dJD9/IL8x9czW/Rf2z9ttF48x/BEPKOtW768mFm6nDvvbypFob4SiiR4h2oafQj8SLwnhDh88XftUGDEQC99uL/4cGvU59KgKj2MC7V5Ux61gE/dUxgDsn3ymBEdTko0+w6qYcydJ2Cph1n6sOXCtD1CDv+foCWntP4uIk+BQtuzlxBmjvFSGJkvM8u+CMGX8CQT2z+KVRrpAqzObsTQ6AS+BxmVW+UL8DYmsKxZ6Wv8ljJrrafcKUI1vYwEQ6mUHg[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-3d141e31-53f8-c25e-b35e-b782c67df786/test-blob-c7b0810a-feb9-0b73-db94-619b5e9ec7a0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 31 Jan 2025 22:17:31 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": "bOrFJFYykbMpw9u/iLIjdQc8rMm3+8Kl3GocaX+Wjm7Q4ljwadL3syamuVLNczKTzaeBkoR51nAnIEjrFic0kjRt76VZMgw1RfijEUJw2Gg3iJvXFfzpVgznyEmJC53+cSYdYIONOZubTEyM1sUut0jfs42MXH04g5mYcmnCqzlbpJ8cU3flqk4APMivXIBGuREBqVgPchWo5Nzp9Mcx2KATMTEmEWPQ+gk/jB+1iSYZUrhYwALhSzKKc26b+7WHzmMonCtOIKeuMa9O0OX181u10KIP2RidMeX+m570NP5Tt728jO37yjEQqo9TkntMlYAS5SoTd/VLimpFUIQJufyw+xgoOWZuuQZw/i+JSp5qsQYd4k/UP0DIcAGCtnqsBvCSo5ZjJFwZpCskonjGwkDL255+7Net3LzYYMh[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-3d141e31-53f8-c25e-b35e-b782c67df786/test-blob-c7b0810a-feb9-0b73-db94-619b5e9ec7a0?sv=Sanitized&se=2025-02-01T22%3A17%3A31Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-MD5": "OFL0MAiFEOZmAe6ZWGGxkA==",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD42450DF90F0F\"",
        "Last-Modified": "Fri, 31 Jan 2025 22:17:31 GMT",
        "x-ms-access-tier": "Cold",
        "x-ms-access-tier-change-time": "Fri, 31 Jan 2025 22:17:31 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 31 Jan 2025 22:17:31 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Fri, 31 Jan 2025 22:17:31 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05",
        "x-ms-version-id": "2025-01-31T22:17:31.1081231Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-7548e093-3ca7-57f6-a530-ad7569bb41ed/test-blob-77feafeb-0e17-2c40-3697-814e81e71a41?sv=Sanitized&se=2025-02-01T22%3A17%3A31Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "PageBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 409,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "BlobAlreadyExists",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>BlobAlreadyExists</Code><Message>The specified blob already exists.\n",
        "RequestId:92aae9c7-f01e-001f-252d-7469c6000000\n",
        "Time:2025-01-31T22:17:31.2163568Z</Message></Error>"
      ]
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-7548e093-3ca7-57f6-a530-ad7569bb41ed/test-blob-77feafeb-0e17-2c40-3697-814e81e71a41?sv=Sanitized&se=2025-02-01T22%3A17%3A31Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD42450DF28051\"",
        "Last-Modified": "Fri, 31 Jan 2025 22:17:31 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Fri, 31 Jan 2025 22:17:31 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05",
        "x-ms-version-id": "2025-01-31T22:17:31.0111781Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-7548e093-3ca7-57f6-a530-ad7569bb41ed/test-blob-77feafeb-0e17-2c40-3697-814e81e71a41?sv=Sanitized&se=2025-02-01T22%3A17%3A31Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DD42450DF28051\"",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD42450DF28051\"",
        "Last-Modified": "Fri, 31 Jan 2025 22:17:31 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Fri, 31 Jan 2025 22:17:31 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-vers[...]
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-3d141e31-53f8-c25e-b35e-b782c67df786?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 31 Jan 2025 22:17:31 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2025-01-31T14:17:31.0840940-08:00",
    "RandomSeed": "1353329740",
    "Storage_TestConfigDefault": "ProductionTenant\njalauzonnettest\nU2FuaXRpemVk\nhttps://jalauzonnettest.blob.core.windows.net\nhttps://jalauzonnettest.file.core.windows.net\nhttps://jalauzonnettest.queue.core.windows.net\nhttps://jalauzonnettest.table.core.windows.net\n\n\n\n\nhttps://jalauzonnettest-secondary.blob.core.windows.net\nhttps://jalauzonnettest-secondary.file.core.windows.net\nhttps://jalauzonnettest-secondary.queue.core.windows.net\nhttps://jalauzonnettest-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://jalauzonnettest.blob.core.windows.net/;QueueEndpoint=https://jalauzonnettest.queue.core.windows.net/;FileEndpoint=https://jalauzonnettest.file.core.windows.net/;BlobSecondaryEndpoint=https://jalauzonnettest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jalauzonnettest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jalauzonnettest-secondary.file.core.windows.net/;AccountName=jalauzonnettest;AccountKey=U2FuaXRpemVk\ntestscope1\n\n"
  }
}
