{
  "Entries": [
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-e8eec969-2efa-2d33-3887-4e525cef09fc?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 31 Jan 2025 21:39:31 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD423FBF40B725\"",
        "Last-Modified": "Fri, 31 Jan 2025 21:39:31 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-2790e2cc-4a5c-030c-48c6-68a35c623fb0/test-blob-7f5eca8e-70d0-9217-61fc-9c774fea17a5",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Fri, 31 Jan 2025 21:39:31 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD423FBF5051EF\"",
        "Last-Modified": "Fri, 31 Jan 2025 21:39:31 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05",
        "x-ms-version-id": "2025-01-31T21:39:31.6563439Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-2790e2cc-4a5c-030c-48c6-68a35c623fb0/test-blob-7f5eca8e-70d0-9217-61fc-9c774fea17a5?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Fri, 31 Jan 2025 21:39:31 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": "pLZZZ9kueAw7bow1ImW3YlPlWBiKkHHheN9wRzi7iNDb5F8Pfvx5qZDOaHWpH2sUxjNc4ub/xRREd+75vTDUgOW7Wj4Fp+RWbK6Huyf8OFlzXIEFXqbq2x5LywYOgOxg+eiQ7cUtDh9OBnY4dwnsSD+UhWGvziE+0X4gutzdR+vBJ8E/bEqTRk1itlgvsWQUXoPHefqLsCrGURxHDFRDcb6Kdk9Irdv1AD8TTRjJDx8aDFtYFs7xNneXeRstTDr4HkSapToUzLGn0Xi6d2MS/UL8LQD56lvvmEDYsDO/x7QFGy7TLmnkBT+psURVNr4ThHvZMB85/jTpqgz6Oxt95wrEtVw0Ps7YGCfATzkWmmGBxCy45paVyxz66oRd6sokK8k6kYFi30atABj3eK760hCqeHbvxQF[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-e8eec969-2efa-2d33-3887-4e525cef09fc/test-blob-e04a1d27-7fad-a9b1-57e1-79f9639d8ec0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 31 Jan 2025 21:39:31 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": "kPwrEpnU65TS62Jmmg3HMrYbqlbwyq484P2fq7r9EDkDZbcPOipPUzG2DcEdSg9JGUdDSPM4z8VN7jGbNEDZ1NsoYzRWt/iLy1ckObzsHpbuVZFzushGy5XxwUv4sx7w3Dnm9eba82JPt3ycE5UJYc+ard6uZhoT4ZifZfWskhg4M12DBimwE2IvJAJLqrf/52B7XgZAQnYe0hNNO45soiVkZN84hlum6pp7f0EXxzfgn32VMTQR9/HnZDMVYtfUwoHd50bYx2EE1HNsxMI0BwrcbZwR1nDwUmztUSInkYjCp7y/OeDxCNgbkVzApTMuslwpOfU7w+sR7ZXZ6nU/3EPrqRwGdM0q6mTE9UUUL6w4vp7F/liSh+TQrkxKFx1i3LQZ1fwWKD2P/06Qd82m/L3poSvXet7qWCI4NcW[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-e8eec969-2efa-2d33-3887-4e525cef09fc/test-blob-e04a1d27-7fad-a9b1-57e1-79f9639d8ec0?sv=Sanitized&se=2025-02-01T21%3A39%3A31Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-MD5": "4rfOzYRK7KRn2bMZdOIVBw==",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD423FBF5E0B8E\"",
        "Last-Modified": "Fri, 31 Jan 2025 21:39:31 GMT",
        "x-ms-access-tier": "Cold",
        "x-ms-access-tier-change-time": "Fri, 31 Jan 2025 21:39:31 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 31 Jan 2025 21:39:31 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Fri, 31 Jan 2025 21:39:31 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05",
        "x-ms-version-id": "2025-01-31T21:39:31.7462926Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-2790e2cc-4a5c-030c-48c6-68a35c623fb0/test-blob-7f5eca8e-70d0-9217-61fc-9c774fea17a5?sv=Sanitized&se=2025-02-01T21%3A39%3A31Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "PageBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 409,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "BlobAlreadyExists",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>BlobAlreadyExists</Code><Message>The specified blob already exists.\n",
        "RequestId:fe490920-301e-0096-4b28-74d313000000\n",
        "Time:2025-01-31T21:39:31.8559019Z</Message></Error>"
      ]
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-2790e2cc-4a5c-030c-48c6-68a35c623fb0/test-blob-7f5eca8e-70d0-9217-61fc-9c774fea17a5?sv=Sanitized&se=2025-02-01T21%3A39%3A31Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD423FBF5707B2\"",
        "Last-Modified": "Fri, 31 Jan 2025 21:39:31 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Fri, 31 Jan 2025 21:39:31 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05",
        "x-ms-version-id": "2025-01-31T21:39:31.6563439Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-2790e2cc-4a5c-030c-48c6-68a35c623fb0/test-blob-7f5eca8e-70d0-9217-61fc-9c774fea17a5?sv=Sanitized&se=2025-02-01T21%3A39%3A31Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DD423FBF5707B2\"",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD423FBF5707B2\"",
        "Last-Modified": "Fri, 31 Jan 2025 21:39:31 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Fri, 31 Jan 2025 21:39:31 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-vers[...]
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-e8eec969-2efa-2d33-3887-4e525cef09fc?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 31 Jan 2025 21:39:32 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2025-01-31T13:39:31.7213957-08:00",
    "RandomSeed": "56574249",
    "Storage_TestConfigDefault": "ProductionTenant\njalauzonnettest\nU2FuaXRpemVk\nhttps://jalauzonnettest.blob.core.windows.net\nhttps://jalauzonnettest.file.core.windows.net\nhttps://jalauzonnettest.queue.core.windows.net\nhttps://jalauzonnettest.table.core.windows.net\n\n\n\n\nhttps://jalauzonnettest-secondary.blob.core.windows.net\nhttps://jalauzonnettest-secondary.file.core.windows.net\nhttps://jalauzonnettest-secondary.queue.core.windows.net\nhttps://jalauzonnettest-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://jalauzonnettest.blob.core.windows.net/;QueueEndpoint=https://jalauzonnettest.queue.core.windows.net/;FileEndpoint=https://jalauzonnettest.file.core.windows.net/;BlobSecondaryEndpoint=https://jalauzonnettest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jalauzonnettest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jalauzonnettest-secondary.file.core.windows.net/;AccountName=jalauzonnettest;AccountKey=U2FuaXRpemVk\ntestscope1\n\n"
  }
}
