{
  "Entries": [
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-ec8bf39d-9c31-b85c-84de-a00616108248?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 31 Jan 2025 20:46:08 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD42384A340552\"",
        "Last-Modified": "Fri, 31 Jan 2025 20:46:08 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-ec8bf39d-9c31-b85c-84de-a00616108248/test-blob-79a3c350-1f74-8912-49b6-527823d2f261",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 31 Jan 2025 20:46:08 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": "69OGo2nBXJhyqE7uOaaY3KORtmbJgKRDKK9JgShJpaWQW/OUmeqvjmYKB8zQI1CjHXbVkRuLmGovQnu5d9pvKAOpXd6yBEO44ij/vnnXcgRfpWOydBOJBMKIZFdu9RaLm97IJsZx8RkzHK/yjNnxV893WtF3vbTwH1gbKaDrSu0RcyOaD0s97bRKf1hkl3jolwyH95pFFN0p2AdtVsh5R9LB4Bi2V0iDOW0dLD5cjIjgMpKTZFNSzF5GcDZE0Jbr0TiGorZfMkDEBL0tJ+ifzUx+jSM25eN+bxS5cOYRPmnWMVsF1unRgABRzmCVJaR2pqPqxkNztetUBzKhpsJZssVTVvWMmfdirAwj5BeD6UpvQslDJ3gmYnxwsc+2MNk++ByaQs6v6Qyrhxk2UNDU0R3oMmP4FotMLfN5HOg[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-ec8bf39d-9c31-b85c-84de-a00616108248/test-blob-79a3c350-1f74-8912-49b6-527823d2f261?sv=Sanitized&se=2025-02-01T20%3A46%3A08Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-MD5": "EOHk61uSBobmb/ZijXt4Qw==",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD42384A42C29F\"",
        "Last-Modified": "Fri, 31 Jan 2025 20:46:08 GMT",
        "x-ms-access-tier": "Cold",
        "x-ms-access-tier-change-time": "Fri, 31 Jan 2025 20:46:08 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 31 Jan 2025 20:46:08 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Fri, 31 Jan 2025 20:46:08 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05",
        "x-ms-version-id": "2025-01-31T20:46:08.7979434Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-4fb7ce80-cdaa-1bd9-cee4-ede9dea25594/test-blob-60817015-d3a3-b52c-fcbe-93cfac40416f?sv=Sanitized&se=2025-02-01T20%3A46%3A08Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD42384A53FE2C\"",
        "Last-Modified": "Fri, 31 Jan 2025 20:46:08 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05",
        "x-ms-version-id": "2025-01-31T20:46:08.9098796Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-4fb7ce80-cdaa-1bd9-cee4-ede9dea25594/test-blob-60817015-d3a3-b52c-fcbe-93cfac40416f?sv=Sanitized&se=2025-02-01T20%3A46%3A08Z&sr=b&sp=racwdxyltmei&sig=Sanitized&comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-copy-source": "https://jalauzonnettest.blob.core.windows.net/test-container-ec8bf39d-9c31-b85c-84de-a00616108248/test-blob-79a3c350-1f74-8912-49b6-527823d2f261?sv=sanitized-value&se=2025-02-01T20%3A46%3A08Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD42384A5C134F\"",
        "Last-Modified": "Fri, 31 Jan 2025 20:46:08 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-content-crc64": "iSLV3HjlqLc=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-ec8bf39d-9c31-b85c-84de-a00616108248/test-blob-79a3c350-1f74-8912-49b6-527823d2f261?sv=Sanitized&se=2025-02-01T20%3A46%3A08Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DD42384A42C29F\"",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD42384A42C29F\"",
        "Last-Modified": "Fri, 31 Jan 2025 20:46:08 GMT",
        "x-ms-blob-content-md5": "EOHk61uSBobmb/ZijXt4Qw==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 31 Jan 2025 20:46:08 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Fri, 31 Jan 2025 20:46:08 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true[...]
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-4fb7ce80-cdaa-1bd9-cee4-ede9dea25594/test-blob-60817015-d3a3-b52c-fcbe-93cfac40416f?sv=Sanitized&se=2025-02-01T20%3A46%3A08Z&sr=b&sp=racwdxyltmei&sig=Sanitized&comp=tags",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?>\n",
        "<Tags><TagSet/></Tags>"
      ]
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-ec8bf39d-9c31-b85c-84de-a00616108248?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 31 Jan 2025 20:46:09 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2025-01-31T12:46:08.8309240-08:00",
    "RandomSeed": "278403335",
    "Storage_TestConfigDefault": "ProductionTenant\njalauzonnettest\nU2FuaXRpemVk\nhttps://jalauzonnettest.blob.core.windows.net\nhttps://jalauzonnettest.file.core.windows.net\nhttps://jalauzonnettest.queue.core.windows.net\nhttps://jalauzonnettest.table.core.windows.net\n\n\n\n\nhttps://jalauzonnettest-secondary.blob.core.windows.net\nhttps://jalauzonnettest-secondary.file.core.windows.net\nhttps://jalauzonnettest-secondary.queue.core.windows.net\nhttps://jalauzonnettest-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://jalauzonnettest.blob.core.windows.net/;QueueEndpoint=https://jalauzonnettest.queue.core.windows.net/;FileEndpoint=https://jalauzonnettest.file.core.windows.net/;BlobSecondaryEndpoint=https://jalauzonnettest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jalauzonnettest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jalauzonnettest-secondary.file.core.windows.net/;AccountName=jalauzonnettest;AccountKey=U2FuaXRpemVk\ntestscope1\n\n"
  }
}
