{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-efa7afc7-b5df-cda8-47be-b4b72dd660fa?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 30 Sep 2025 20:42:07 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE0061D21D3A73\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:42:07 GMT",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-def597a2-e246-8199-0811-dce12c9d9fec/test-blob-8de55686-7ebe-3a25-cfe6-597f41267f5f",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Tue, 30 Sep 2025 20:42:07 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE0061D233B7EA\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:42:07 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-def597a2-e246-8199-0811-dce12c9d9fec/test-blob-8de55686-7ebe-3a25-cfe6-597f41267f5f?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 30 Sep 2025 20:42:07 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": "G87QMdN5/RDReQJSESfZ0Hih/RY6dCYRG/zDTychsIz290FeyS7JrOHbTirO3w6/x5WE66E6jqanvxbXtq7or8h1XBrmewZJ2FA0Xyb8QzztA4eSnMXqu2iatgoY8fYz8p5hWIP02UyOOhNQBi9/q3zZ6bInVhMCiqCxS8T8MeZaAWyImuq5+Sk6A2KymrU5GguOPwhDC5uLX83iQo6Hkgks9QTC9xCRIPCJ7FOwUPDqdzC5bvHeF/XQ/Dsc1rabs3BYhaSxdiP6/B8Xuh9I2g7d+MpeziQXTt4O8vrUdEk57TnjWMtMOQEMvnHSxlzWiCItP97rPeRLQDbFooQoJYjV3szmZYFCkb7JURCzRIiCOGrYpzRrTbBUlxeVhpd85Jjo/eeP7yOg6q4fIuzUmPutQ2kaUH5[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-efa7afc7-b5df-cda8-47be-b4b72dd660fa/test-blob-d4d6a205-e750-a20a-c448-54ca157f5751",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 30 Sep 2025 20:42:07 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": "6kGntBC4PVKXXfpf+YrSakuWL7cF0Cu8vY2U2WPqrvZtw2bKHLwoLso8TmpUfpdyIHJ6bhwalxoV6/aCI2TurK8E8TUjB06PbQHtyIHBaD/1IrjxcD/ZUitLtTHGpQplTaG7T4xhThkk6wAbLc6YU4K2jQCr/TtvK58K11Edycj2h3vfBhiyk9SezYU+viRcsmKuDxgJulBmSyTtV3fIByE4JKZTuU1qA/ksDTC2MGx6rSTvbrmv7M0qebrzxTxd1sVjBZp+CPkUQwsf3awfrxq4cqpS2JhoiTfZKT+Sdj69zzZqUirS/KQr2iuukA8gC8mfO1KRCv0t+3xjpd+6gszNYQ11tF3w5nYFJ/5tufgnuB118jvrK8Q5PVeub1bEcFde4S8BqlZsr1Xbi+P+wEGDO+zCRY+R4TVJPHc[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-efa7afc7-b5df-cda8-47be-b4b72dd660fa/test-blob-d4d6a205-e750-a20a-c448-54ca157f5751?sv=Sanitized&se=2025-10-01T20%3A42%3A07Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-MD5": "ialcQBgA4PSx1h5P3QyH9g==",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DE0061D245CC0B\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:42:07 GMT",
        "x-ms-access-tier": "Cold",
        "x-ms-access-tier-change-time": "Tue, 30 Sep 2025 20:42:07 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 30 Sep 2025 20:42:07 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-def597a2-e246-8199-0811-dce12c9d9fec/test-blob-8de55686-7ebe-3a25-cfe6-597f41267f5f?sv=Sanitized&se=2025-10-01T20%3A42%3A07Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "PageBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 409,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "BlobAlreadyExists",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>BlobAlreadyExists</Code><Message>The specified blob already exists.\n",
        "RequestId:584885ec-601e-005c-4e4a-32f5ec000000\n",
        "Time:2025-09-30T20:42:07.5613424Z</Message></Error>"
      ]
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-def597a2-e246-8199-0811-dce12c9d9fec/test-blob-8de55686-7ebe-3a25-cfe6-597f41267f5f?sv=Sanitized&se=2025-10-01T20%3A42%3A07Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DE0061D23CAE87\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:42:07 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Tue, 30 Sep 2025 20:42:07 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-def597a2-e246-8199-0811-dce12c9d9fec/test-blob-8de55686-7ebe-3a25-cfe6-597f41267f5f?sv=Sanitized&se=2025-10-01T20%3A42%3A07Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DE0061D23CAE87\"",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DE0061D23CAE87\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:42:07 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Tue, 30 Sep 2025 20:42:07 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "Response[...]
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-efa7afc7-b5df-cda8-47be-b4b72dd660fa?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 30 Sep 2025 20:42:08 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2025-09-30T13:42:07.3359161-07:00",
    "RandomSeed": "1722084005",
    "Storage_TestConfigDefault": "ProductionTenant\namandapreprod\nU2FuaXRpemVk\nhttps://amandapreprod.blob.core.windows.net\nhttps://amandapreprod.file.core.windows.net\nhttps://amandapreprod.queue.core.windows.net\nhttps://amandapreprod.table.core.windows.net\n\n\n\n\nhttps://amandapreprod-secondary.blob.core.windows.net\nhttps://amandapreprod-secondary.file.core.windows.net\nhttps://amandapreprod-secondary.queue.core.windows.net\nhttps://amandapreprod-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandapreprod.blob.core.windows.net/;QueueEndpoint=https://amandapreprod.queue.core.windows.net/;FileEndpoint=https://amandapreprod.file.core.windows.net/;BlobSecondaryEndpoint=https://amandapreprod-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandapreprod-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandapreprod-secondary.file.core.windows.net/;AccountName=amandapreprod;AccountKey=U2FuaXRpemVk\nencryptionScope\n\n"
  }
}
