{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-1f4350d0-a3e4-70d2-43fc-548c07e3fc8e?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Thu, 28 Mar 2024 21:07:30 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4F6B158CADE7\u0022",
        "Last-Modified": "Thu, 28 Mar 2024 21:07:32 GMT",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-63c71a45-54a0-617f-a964-5c7e9feb960c/test-blob-1512051f-6524-ce1d-274c-a6e0cbbb039e",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Thu, 28 Mar 2024 21:07:30 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4F6B15A1B40F\u0022",
        "Last-Modified": "Thu, 28 Mar 2024 21:07:32 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-03-28T21:07:32.2781711Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-63c71a45-54a0-617f-a964-5c7e9feb960c/test-blob-1512051f-6524-ce1d-274c-a6e0cbbb039e?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 28 Mar 2024 21:07:30 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": "AiNBy9qTOr0FIwdigDnC2k08dbl8FrNhZClHfMeIFRaPo6W84W14io0WYJlUxN3OUfsPic5SWOtv32ewS771fQ7w092UBfngxOsrZrYZDZ9LeSrMeIxIPEu5TQEFxz7PIOOLY/EAOkwCL8TiJvE1VtHIZdGTKQSBqJaR2rj32vysW0XTjaqtSz/eyknHZRZZg/YwPWJtO/feCbtbbl\u002BTClXINsqrYsgnGhqRtV\u002B7ukKAOFfBx52aPyBO9IPvUtzgSr/0/y9LrSAuCCJI24aYI0942zYH0kO4LfaqXW5EOMg9sGqfx7sSNIo2kr56UmOZttA0dnem2Xh8O9E5oFCy6tBZCisb\u002BFyUZaas0D\u002BEPduTEaedD8FRl9fyI4vp2ZQ5hKjuIUc4fr1[...]
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-1f4350d0-a3e4-70d2-43fc-548c07e3fc8e/test-blob-3345d6af-d91a-7429-9471-89d3247e8ff2?sv=2024-05-04\u0026se=2024-03-29T21%3A07%3A30Z\u0026sr=b\u0026sp=Sanitized\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "1RPx2i1NCSGQ5U3z3nrseg==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC4F6B15B51218\u0022",
        "Last-Modified": "Thu, 28 Mar 2024 21:07:32 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 28 Mar 2024 21:07:32 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-03-28T21:07:32.4060966Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-63c71a45-54a0-617f-a964-5c7e9feb960c/test-blob-1512051f-6524-ce1d-274c-a6e0cbbb039e?sv=2024-05-04\u0026se=2024-03-29T21%3A07%3A30Z\u0026sr=b\u0026sp=Sanitized\u0026sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-content-type": "application/octet-stream",
        "x-ms-blob-type": "PageBlob",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4F6B15CD9F9C\u0022",
        "Last-Modified": "Thu, 28 Mar 2024 21:07:32 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-03-28T21:07:32.5680055Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-63c71a45-54a0-617f-a964-5c7e9feb960c/test-blob-1512051f-6524-ce1d-274c-a6e0cbbb039e?sv=2024-05-04\u0026se=2024-03-29T21%3A07%3A30Z\u0026sr=b\u0026sp=Sanitized\u0026sig=Sanitized\u0026comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "Sanitized",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4F6B15DB5950\u0022",
        "Last-Modified": "Thu, 28 Mar 2024 21:07:32 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-content-crc64": "Sh7/dYGXbdk=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-1f4350d0-a3e4-70d2-43fc-548c07e3fc8e/test-blob-3345d6af-d91a-7429-9471-89d3247e8ff2?sv=2024-05-04\u0026se=2024-03-29T21%3A07%3A30Z\u0026sr=b\u0026sp=Sanitized\u0026sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\u00220x8DC4F6B15B51218\u0022",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC4F6B15B51218\u0022",
        "Last-Modified": "Thu, 28 Mar 2024 21:07:32 GMT",
        "x-ms-blob-content-md5": "1RPx2i1NCSGQ5U3z3nrseg==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 28 Mar 2024 21:07:32 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-03-28T21:07:32.4060966Z"
      },
      "ResponseBody": "5uUoetYvYU3FNeu4d2jxNbx75zxSjkWnGuQxNoY\u002BXSBUHFy7gCxiyAacvxOkIPNvXOs\u0[...]
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-1f4350d0-a3e4-70d2-43fc-548c07e3fc8e?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 28 Mar 2024 21:07:31 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-03-28T14:07:30.5794158-07:00",
    "RandomSeed": "2141321424",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
