{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-23e82212-dd6a-a38b-1728-8d6be13c0cd5?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 30 Sep 2025 20:41:49 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE0061C7EA0587\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:41:49 GMT",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-23e82212-dd6a-a38b-1728-8d6be13c0cd5/test-blob-2eab0af3-cec6-91b4-76f7-c8835aea9f29",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 30 Sep 2025 20:41:50 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": "hbMMgFBLsAGATxrxT9gvk9Kr2cJEB5YToy0QsVtn2MzK5BLIHaVFG9lOd9LzDHR6qbw4DJPZbn4d+dwjO/6lGXdNJ2rFZnUtZb3p9pDEH5e4lgifL8s48HWUqyTIIt/bqF5apeQKtEJHCqbV8HjuWNlEa6T2BumrFTf1MbtRZEPeDk0xaXmyruLGWCUlY//9plJKhLY65KJ0r5CtFIKG9aVi9+IrvO9fkrzCL67EhbI3+IppBuCMoymqvbnoBZlfP2J/wmsd0epi6vL5d7X0rynedRz3He/F1VO5gP82d4wjY/BMRcNGGSagBhvukytztg2PCo98ZyJyuewXZFHqLHNl1hTFqGpmmFv2VxbT1kIoRcrxpm38pvvN2YvWLrXUtdqoiLwWrg2jKHEzhRAMn+Oq7x6H+YUGaS8Z98/[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-23e82212-dd6a-a38b-1728-8d6be13c0cd5/test-blob-2eab0af3-cec6-91b4-76f7-c8835aea9f29?sv=Sanitized&se=2025-10-01T20%3A41%3A50Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-MD5": "GuYNYKM7xoQazLaD3aHvsw==",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DE0061C8020580\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:41:50 GMT",
        "x-ms-access-tier": "Cold",
        "x-ms-access-tier-change-time": "Tue, 30 Sep 2025 20:41:50 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 30 Sep 2025 20:41:50 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-b03f8c7e-5640-99eb-92b4-bbf5fa86f573/test-blob-6846e929-d3ff-800e-a689-f795610a7da9?sv=Sanitized&se=2025-10-01T20%3A41%3A50Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "PageBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE0061C82BF3A1\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:41:50 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-b03f8c7e-5640-99eb-92b4-bbf5fa86f573/test-blob-6846e929-d3ff-800e-a689-f795610a7da9?sv=Sanitized&se=2025-10-01T20%3A41%3A50Z&sr=b&sp=racwdxyltmei&sig=Sanitized&comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-23e82212-dd6a-a38b-1728-8d6be13c0cd5/test-blob-2eab0af3-cec6-91b4-76f7-c8835aea9f29?sv=sanitized-value&se=2025-10-01T20%3A41%3A50Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-511",
        "x-ms-source-range": "bytes=0-511",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE0061C835FA87\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:41:50 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-content-crc64": "JgyTgjfuSgE=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-23e82212-dd6a-a38b-1728-8d6be13c0cd5/test-blob-2eab0af3-cec6-91b4-76f7-c8835aea9f29?sv=Sanitized&se=2025-10-01T20%3A41%3A50Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DE0061C8020580\"",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DE0061C8020580\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:41:50 GMT",
        "x-ms-blob-content-md5": "GuYNYKM7xoQazLaD3aHvsw==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 30 Sep 2025 20:41:50 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": "hbMMgFBLsAGATxrxT9gvk9Kr2cJEB5YToy0Qs[...]
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-23e82212-dd6a-a38b-1728-8d6be13c0cd5?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 30 Sep 2025 20:41:51 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2025-09-30T13:41:50.1771437-07:00",
    "RandomSeed": "1954903332",
    "Storage_TestConfigDefault": "ProductionTenant\namandapreprod\nU2FuaXRpemVk\nhttps://amandapreprod.blob.core.windows.net\nhttps://amandapreprod.file.core.windows.net\nhttps://amandapreprod.queue.core.windows.net\nhttps://amandapreprod.table.core.windows.net\n\n\n\n\nhttps://amandapreprod-secondary.blob.core.windows.net\nhttps://amandapreprod-secondary.file.core.windows.net\nhttps://amandapreprod-secondary.queue.core.windows.net\nhttps://amandapreprod-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandapreprod.blob.core.windows.net/;QueueEndpoint=https://amandapreprod.queue.core.windows.net/;FileEndpoint=https://amandapreprod.file.core.windows.net/;BlobSecondaryEndpoint=https://amandapreprod-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandapreprod-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandapreprod-secondary.file.core.windows.net/;AccountName=amandapreprod;AccountKey=U2FuaXRpemVk\nencryptionScope\n\n"
  }
}
