{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-2abb2334-ca3f-598e-66b8-b06263a74614?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 30 Sep 2025 20:42:08 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE0061D2E82725\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:42:08 GMT",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-2abb2334-ca3f-598e-66b8-b06263a74614/test-blob-b8ee0d47-1318-6d13-5715-67e126745bbf",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 30 Sep 2025 20:42:08 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": "HEINPJdxn1D1BRpsyXmxe4gf57R9M2s7n+5u9mbtwnap00gDxVpzvzFnIHaivBZ7kPjcwLDUU+jW0Z2oAqnqCEKkw/YxrrUtqyeCFRP0meLY8mVuEQLG1X9fLfS8y7yIfRg0/fkgSuJCrhSIUT7V4ji6zxBDe/c/3u120oDBcN9r+Zf7v5zpt6iDLGLtPoNAiUq7AvyrRQEh9B4LqXdhgD01HFim2iKc0RdowE+UUqBpNkk2BW7jwLSV2sp93g4wIaskuCErma8oHzHkQoSyjKJ+oXMtK3rPUVyjEQBXHvIJOJ6kcJp/PpyaDeY9/30v400o/jybAvYwVWbEh4iu0AA+2grmDRwI/2PXkx2UkVLfcy6yLyC2bjWocxozurYT6z3l/yRySdUxH//Zw2/Ym8MU5RRa/KDgh2zVPpk[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-2abb2334-ca3f-598e-66b8-b06263a74614/test-blob-b8ee0d47-1318-6d13-5715-67e126745bbf?sv=Sanitized&se=2025-10-01T20%3A42%3A08Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-MD5": "hjhqnupYFtI00MVpFEh7cQ==",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DE0061D2FFBF90\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:42:08 GMT",
        "x-ms-access-tier": "Cold",
        "x-ms-access-tier-change-time": "Tue, 30 Sep 2025 20:42:08 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 30 Sep 2025 20:42:08 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-d6a2f23d-89ac-23cf-5437-4c2638fcb13a/test-blob-9c55f586-dfcf-8ad0-6c50-9c91ee0618cb?sv=Sanitized&se=2025-10-01T20%3A42%3A08Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "PageBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE0061D33035F8\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:42:08 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-d6a2f23d-89ac-23cf-5437-4c2638fcb13a/test-blob-9c55f586-dfcf-8ad0-6c50-9c91ee0618cb?sv=Sanitized&se=2025-10-01T20%3A42%3A08Z&sr=b&sp=racwdxyltmei&sig=Sanitized&comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-2abb2334-ca3f-598e-66b8-b06263a74614/test-blob-b8ee0d47-1318-6d13-5715-67e126745bbf?sv=sanitized-value&se=2025-10-01T20%3A42%3A08Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE0061D339EF0A\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:42:08 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-content-crc64": "WgD3Ai+DOg0=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-2abb2334-ca3f-598e-66b8-b06263a74614/test-blob-b8ee0d47-1318-6d13-5715-67e126745bbf?sv=Sanitized&se=2025-10-01T20%3A42%3A08Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DE0061D2FFBF90\"",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DE0061D2FFBF90\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:42:08 GMT",
        "x-ms-blob-content-md5": "hjhqnupYFtI00MVpFEh7cQ==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 30 Sep 2025 20:42:08 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": "HEINPJdxn1D1BRpsyXmxe4gf57R9M2s7n+5u9[...]
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-2abb2334-ca3f-598e-66b8-b06263a74614?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 30 Sep 2025 20:42:09 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2025-09-30T13:42:08.6165759-07:00",
    "RandomSeed": "2095335142",
    "Storage_TestConfigDefault": "ProductionTenant\namandapreprod\nU2FuaXRpemVk\nhttps://amandapreprod.blob.core.windows.net\nhttps://amandapreprod.file.core.windows.net\nhttps://amandapreprod.queue.core.windows.net\nhttps://amandapreprod.table.core.windows.net\n\n\n\n\nhttps://amandapreprod-secondary.blob.core.windows.net\nhttps://amandapreprod-secondary.file.core.windows.net\nhttps://amandapreprod-secondary.queue.core.windows.net\nhttps://amandapreprod-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandapreprod.blob.core.windows.net/;QueueEndpoint=https://amandapreprod.queue.core.windows.net/;FileEndpoint=https://amandapreprod.file.core.windows.net/;BlobSecondaryEndpoint=https://amandapreprod-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandapreprod-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandapreprod-secondary.file.core.windows.net/;AccountName=amandapreprod;AccountKey=U2FuaXRpemVk\nencryptionScope\n\n"
  }
}
