{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-04253bc1-be9b-4c26-f415-f5afe96760ed?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 00:45:30 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D115CCCB391\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:45:30 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-04253bc1-be9b-4c26-f415-f5afe96760ed/test-blob-830055f0-e1c2-1532-49a7-0541ea00c0fe",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 07 Mar 2025 00:45:31 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": "jrAPeOL+Zi5ZuWFVXfNESra34O+RlS/awC1Os/+h5Akeb/PdgzT9nFbejqqdn95pMGq9x97TCfiANbe0r7Mvt9VXN+0AZseBuUOYsweFPCBO5YKU4xwqS2b6XE19SOyjrtbVRWjxaMqjPA6bOlXx+/mXZsowmtS5LeuHBQl5BHBW9QQwr/a3XXy48acNjxEQCWFU5eIichQCHBh9amLBKTedRERRwEwC3wlNeKgsq53advyoJR6NM4PwLpPdOvIZ9sdvb0rMv0gUUQbZ1Ppr1XF7ovNmGQQZEBDBYJK5JaQWNIHgvDtSDrezk9QYtF+JhFghYpj/s93DVl85C162Wythw6B4ihg1KJQ7soUwAFuxONw6l8MMFoGjHWbbGAJZ/Tiot/G/EPo/7DkDwwBYk1YEiNKCfMNoVKwf1G2[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-04253bc1-be9b-4c26-f415-f5afe96760ed/test-blob-830055f0-e1c2-1532-49a7-0541ea00c0fe?sv=Sanitized&se=2025-03-08T00%3A45%3A31Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-MD5": "F+Jk5Dceqw3EoIaS9PNHfA==",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD5D115CED9502\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:45:31 GMT",
        "x-ms-access-tier": "Cold",
        "x-ms-access-tier-change-time": "Fri, 07 Mar 2025 00:45:31 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 07 Mar 2025 00:45:31 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-e3e27ff4-c687-2c8a-04e0-6c71a520abd3/test-blob-1d1d0f8a-8b0e-3093-6808-8981625f0853?sv=Sanitized&se=2025-03-08T00%3A45%3A31Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "PageBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D115D065856\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:45:31 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-e3e27ff4-c687-2c8a-04e0-6c71a520abd3/test-blob-1d1d0f8a-8b0e-3093-6808-8981625f0853?sv=Sanitized&se=2025-03-08T00%3A45%3A31Z&sr=b&sp=racwdxyltmei&sig=Sanitized&comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-04253bc1-be9b-4c26-f415-f5afe96760ed/test-blob-830055f0-e1c2-1532-49a7-0541ea00c0fe?sv=sanitized-value&se=2025-03-08T00%3A45%3A31Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D115D170E73\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:45:31 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-content-crc64": "ED/iVU0g8W0=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-04253bc1-be9b-4c26-f415-f5afe96760ed/test-blob-830055f0-e1c2-1532-49a7-0541ea00c0fe?sv=Sanitized&se=2025-03-08T00%3A45%3A31Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DD5D115CED9502\"",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD5D115CED9502\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:45:31 GMT",
        "x-ms-blob-content-md5": "F+Jk5Dceqw3EoIaS9PNHfA==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 07 Mar 2025 00:45:31 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "jrAPeOL+Zi5ZuWFVXfNESra34O+RlS/awC1Os[...]
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-04253bc1-be9b-4c26-f415-f5afe96760ed?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 00:45:31 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2025-03-06T16:45:31.1891651-08:00",
    "RandomSeed": "325649097",
    "Storage_TestConfigDefault": "ProductionTenant\namandapreprod\nU2FuaXRpemVk\nhttps://amandapreprod.blob.core.windows.net\nhttps://amandapreprod.file.core.windows.net\nhttps://amandapreprod.queue.core.windows.net\nhttps://amandapreprod.table.core.windows.net\n\n\n\n\nhttps://amandapreprod-secondary.blob.core.windows.net\nhttps://amandapreprod-secondary.file.core.windows.net\nhttps://amandapreprod-secondary.queue.core.windows.net\nhttps://amandapreprod-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandapreprod.blob.core.windows.net/;QueueEndpoint=https://amandapreprod.queue.core.windows.net/;FileEndpoint=https://amandapreprod.file.core.windows.net/;BlobSecondaryEndpoint=https://amandapreprod-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandapreprod-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandapreprod-secondary.file.core.windows.net/;AccountName=amandapreprod;AccountKey=U2FuaXRpemVk\nencryptionScope\n\n"
  }
}
