{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-47c372c7-8a1b-2e01-2144-459ab9bf72d4?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 00:45:26 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D115A5EEBB5\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:45:26 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-47c372c7-8a1b-2e01-2144-459ab9bf72d4/test-blob-4ce8cdc6-4bcf-73d7-bd56-661d4db72384",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 07 Mar 2025 00:45:26 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": "Eb7lUlwaVe045b1nZPd4oTaLI8Z/bRbVARRqrsxyODP7dmolJYNIiNt6eNyt264H0xb1WpgR0KOoEFBIr6Ygxq2KbO6MUnyzQ5rqBfU5JyZlYtq2fd2a6aXHfBUy/9g1WbIuI27Ae4CZQRb9Jsutbugq4kzMakjP74JIxdZngEPCtatDCwS3pedZHTvHnMPZGQ4sCByMaO5pXzPsd7aqMcDSO3AfamPkcz1lck0MCFO/b6vIOngnNk282avQyy4xrut79GBSua+qSJXfJvWhXFfgLAcK4vdIqwUjYpC3E6cOM8RikRPybLX7HfLiRw9XG3xU8J4mJszzMkhaL1Ye8jTt0PMxP8tD7b9SD8UEZWT2zEcTYyMJ6Az3bl/Llz1e3Cq99XcbJdyxEQLe1BcH78zkZGIPCo8R5OfmOtB[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-47c372c7-8a1b-2e01-2144-459ab9bf72d4/test-blob-4ce8cdc6-4bcf-73d7-bd56-661d4db72384?sv=Sanitized&se=2025-03-08T00%3A45%3A27Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-MD5": "zjywX26QXAiNQYGSk/VcmQ==",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD5D115A71F134\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:45:26 GMT",
        "x-ms-access-tier": "Cold",
        "x-ms-access-tier-change-time": "Fri, 07 Mar 2025 00:45:26 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 07 Mar 2025 00:45:26 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-5975ba86-8b73-1513-67fa-969c12095df0/test-blob-70bb1478-3a7e-ec25-67c1-305fee2e72e5?sv=Sanitized&se=2025-03-08T00%3A45%3A27Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "PageBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D115A8C8748\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:45:27 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-5975ba86-8b73-1513-67fa-969c12095df0/test-blob-70bb1478-3a7e-ec25-67c1-305fee2e72e5?sv=Sanitized&se=2025-03-08T00%3A45%3A27Z&sr=b&sp=racwdxyltmei&sig=Sanitized&comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-47c372c7-8a1b-2e01-2144-459ab9bf72d4/test-blob-4ce8cdc6-4bcf-73d7-bd56-661d4db72384?sv=sanitized-value&se=2025-03-08T00%3A45%3A27Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D115A95CBAC\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:45:27 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-content-crc64": "BJPGSo0iGps=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-47c372c7-8a1b-2e01-2144-459ab9bf72d4/test-blob-4ce8cdc6-4bcf-73d7-bd56-661d4db72384?sv=Sanitized&se=2025-03-08T00%3A45%3A27Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DD5D115A71F134\"",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD5D115A71F134\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:45:26 GMT",
        "x-ms-blob-content-md5": "zjywX26QXAiNQYGSk/VcmQ==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 07 Mar 2025 00:45:26 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "Eb7lUlwaVe045b1nZPd4oTaLI8Z/bRbVARRqr[...]
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-47c372c7-8a1b-2e01-2144-459ab9bf72d4?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 00:45:27 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2025-03-06T16:45:27.0233116-08:00",
    "RandomSeed": "1282479733",
    "Storage_TestConfigDefault": "ProductionTenant\namandapreprod\nU2FuaXRpemVk\nhttps://amandapreprod.blob.core.windows.net\nhttps://amandapreprod.file.core.windows.net\nhttps://amandapreprod.queue.core.windows.net\nhttps://amandapreprod.table.core.windows.net\n\n\n\n\nhttps://amandapreprod-secondary.blob.core.windows.net\nhttps://amandapreprod-secondary.file.core.windows.net\nhttps://amandapreprod-secondary.queue.core.windows.net\nhttps://amandapreprod-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandapreprod.blob.core.windows.net/;QueueEndpoint=https://amandapreprod.queue.core.windows.net/;FileEndpoint=https://amandapreprod.file.core.windows.net/;BlobSecondaryEndpoint=https://amandapreprod-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandapreprod-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandapreprod-secondary.file.core.windows.net/;AccountName=amandapreprod;AccountKey=U2FuaXRpemVk\nencryptionScope\n\n"
  }
}
