{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-e8f68c17-f1ae-2451-475b-4f20dfbb42d9?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 01 May 2024 20:36:30 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC6A1E624A19B5\"",
        "Last-Modified": "Wed, 01 May 2024 20:36:31 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-e8f68c17-f1ae-2451-475b-4f20dfbb42d9/test-blob-f4ee7071-14b4-fddd-63ad-f1139aa203d6",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "text/plain",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 01 May 2024 20:36:30 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "dzdplJlsc2FcafEJw9aE4uWyTMPTJxhxkEE5kg0RSPMCffdtNNENFn3FwcTQrPexpURd5QYgPE8f+ARXM+BUSiH+B0XeFq4UpDZFDWZUoeNJh+zJtGLt4kGoTjvMteKccXai0aWy0o6VSUHQ2i/py1chDqv0ipa/ESUDNshyR+5TqJvvsc8+l7ReNGogHAcSvoPkq6c2qObg48CArpzFIgFTfDKT+hmH43f2lVYrnvQd8XhFjpxGHP+1Ds0OvegYmBFozZ/UfsNpXMgwQBKPtUTMYr0jgJRlDGAy3uxMeSWP3v1FwtFUSXK03DHTFtztJViJQlsq9Rd9A8A/oqDXHeOjoWIUSvNydxlKb6RjkfaERbiTwjbJZOnlyL4RFabS3b5NMHR62NplFspC34VzGnHJu13nQ1qt2Tx5LoI[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-e8f68c17-f1ae-2451-475b-4f20dfbb42d9/test-blob-f4ee7071-14b4-fddd-63ad-f1139aa203d6?sv=2024-08-04&se=2024-05-02T20%3A36%3A31Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-MD5": "Q5RpcYYVQpLendyTAXezHg==",
        "Content-Type": "text/plain",
        "ETag": "\"0x8DC6A1E6268CD46\"",
        "Last-Modified": "Wed, 01 May 2024 20:36:31 GMT",
        "x-ms-access-tier": "Cold",
        "x-ms-access-tier-change-time": "Wed, 01 May 2024 20:36:31 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 01 May 2024 20:36:31 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Wed, 01 May 2024 20:36:31 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-05-01T20:36:31.2366406Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-d7134858-adb5-7ffb-eb3c-fa4adb2b97aa/test-blob-40a6283a-525e-b822-ef5e-73ff5f2b7f84?sv=2024-08-04&se=2024-05-02T20%3A36%3A31Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-length": "2048",
        "x-ms-blob-content-type": "text/plain",
        "x-ms-blob-type": "PageBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC6A1E628ACF31\"",
        "Last-Modified": "Wed, 01 May 2024 20:36:31 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-05-01T20:36:31.4595121Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-d7134858-adb5-7ffb-eb3c-fa4adb2b97aa/test-blob-40a6283a-525e-b822-ef5e-73ff5f2b7f84?sv=2024-08-04&se=2024-05-02T20%3A36%3A31Z&sr=b&sp=racwdxyltmei&sig=Sanitized&comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-copy-source": "https://seanmcccanada.blob.core.windows.net/test-container-e8f68c17-f1ae-2451-475b-4f20dfbb42d9/test-blob-f4ee7071-14b4-fddd-63ad-f1139aa203d6?sv=2024-08-04&se=2024-05-02T20%3A36%3A31Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-2047",
        "x-ms-source-range": "bytes=0-2047",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC6A1E629AF97A\"",
        "Last-Modified": "Wed, 01 May 2024 20:36:31 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-content-crc64": "vL93GDEaji8=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-e8f68c17-f1ae-2451-475b-4f20dfbb42d9/test-blob-f4ee7071-14b4-fddd-63ad-f1139aa203d6?sv=2024-08-04&se=2024-05-02T20%3A36%3A31Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DC6A1E6268CD46\"",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-2047/2048",
        "Content-Type": "text/plain",
        "ETag": "\"0x8DC6A1E6268CD46\"",
        "Last-Modified": "Wed, 01 May 2024 20:36:31 GMT",
        "x-ms-blob-content-md5": "Q5RpcYYVQpLendyTAXezHg==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 01 May 2024 20:36:31 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Wed, 01 May 2024 20:36:31 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true[...]
[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-e8f68c17-f1ae-2451-475b-4f20dfbb42d9?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 01 May 2024 20:36:31 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-05-01T13:36:31.0426549-07:00",
    "RandomSeed": "653089957",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanada\nU2FuaXRpemVk\nhttps://seanmcccanada.blob.core.windows.net\nhttps://seanmcccanada.file.core.windows.net\nhttps://seanmcccanada.queue.core.windows.net\nhttps://seanmcccanada.table.core.windows.net\n\n\n\n\nhttps://seanmcccanada-secondary.blob.core.windows.net\nhttps://seanmcccanada-secondary.file.core.windows.net\nhttps://seanmcccanada-secondary.queue.core.windows.net\nhttps://seanmcccanada-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanada.blob.core.windows.net/;QueueEndpoint=https://seanmcccanada.queue.core.windows.net/;FileEndpoint=https://seanmcccanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanada-secondary.file.core.windows.net/;AccountName=seanmcccanada;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
