{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-42e6f80b-eaba-c091-2d58-115430836f94?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 01 May 2024 20:36:05 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC6A1E5372C55E\"",
        "Last-Modified": "Wed, 01 May 2024 20:36:06 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-42e6f80b-eaba-c091-2d58-115430836f94/test-blob-cb00cc19-ad4b-82ad-6395-e21c7329fe96",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "text/plain",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 01 May 2024 20:36:06 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "Vu9KMjY2cDfq0Ggu5AUQbhseDFLWBLsfEyLicwTzEMRwsgRypUJOt4VfGcjHI1xsKX+6Cualn1EzKh4UU/wy9r+kvjIAncnZz1TMduvyWPDFdkqEOQbeyhKzPnojOWSILSMIImUqbIu24TqR2ClmQNIuT92yrry5xvMfTF9PtZbwREnH6TWKmwm+zljLTPLpTf2o9eqG1n5mT1xxCx8rZiykoZTfnleco7TT899j7XoBNf5ipr+saW3KYJrYGI/qk2csJ6tdCa+mC1E1s+KfAmLicNUgycBs+DcmFT28xIsk6WB4N8bOpCtPu5ttdraLK1039qi6ycmnwC5zNvRx6UfGEcqBJsubE8yp0A0k/oGBmurfhM3iaSCW0HaXW2033tJTp2TsCQSSnOPcEPi8gsGt8psJkWR55Kep61Z[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-42e6f80b-eaba-c091-2d58-115430836f94/test-blob-cb00cc19-ad4b-82ad-6395-e21c7329fe96?sv=2024-08-04&se=2024-05-02T20%3A36%3A06Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-MD5": "4gDxDojHydtSHRDpnqchuA==",
        "Content-Type": "text/plain",
        "ETag": "\"0x8DC6A1E5394C253\"",
        "Last-Modified": "Wed, 01 May 2024 20:36:06 GMT",
        "x-ms-access-tier": "Cold",
        "x-ms-access-tier-change-time": "Wed, 01 May 2024 20:36:06 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 01 May 2024 20:36:06 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Wed, 01 May 2024 20:36:06 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-05-01T20:36:06.3588947Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-91b17f60-48d1-51c8-8170-26ca815d3099/test-blob-b02ebd0a-208b-53b6-4ac2-e5a1cf14dc2f?sv=2024-08-04&se=2024-05-02T20%3A36%3A06Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-length": "2048",
        "x-ms-blob-content-type": "text/plain",
        "x-ms-blob-type": "PageBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC6A1E53B53DDA\"",
        "Last-Modified": "Wed, 01 May 2024 20:36:06 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-05-01T20:36:06.5717722Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-91b17f60-48d1-51c8-8170-26ca815d3099/test-blob-b02ebd0a-208b-53b6-4ac2-e5a1cf14dc2f?sv=2024-08-04&se=2024-05-02T20%3A36%3A06Z&sr=b&sp=racwdxyltmei&sig=Sanitized&comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-copy-source": "https://seanmcccanada.blob.core.windows.net/test-container-42e6f80b-eaba-c091-2d58-115430836f94/test-blob-cb00cc19-ad4b-82ad-6395-e21c7329fe96?sv=2024-08-04&se=2024-05-02T20%3A36%3A06Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-2047",
        "x-ms-source-range": "bytes=0-2047",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC6A1E53C4CBF4\"",
        "Last-Modified": "Wed, 01 May 2024 20:36:06 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-content-crc64": "zKE6WK/KaYU=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-42e6f80b-eaba-c091-2d58-115430836f94/test-blob-cb00cc19-ad4b-82ad-6395-e21c7329fe96?sv=2024-08-04&se=2024-05-02T20%3A36%3A06Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DC6A1E5394C253\"",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-2047/2048",
        "Content-Type": "text/plain",
        "ETag": "\"0x8DC6A1E5394C253\"",
        "Last-Modified": "Wed, 01 May 2024 20:36:06 GMT",
        "x-ms-blob-content-md5": "4gDxDojHydtSHRDpnqchuA==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 01 May 2024 20:36:06 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Wed, 01 May 2024 20:36:06 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true[...]
[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-42e6f80b-eaba-c091-2d58-115430836f94?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 01 May 2024 20:36:07 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-05-01T13:36:06.1630887-07:00",
    "RandomSeed": "748333943",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanada\nU2FuaXRpemVk\nhttps://seanmcccanada.blob.core.windows.net\nhttps://seanmcccanada.file.core.windows.net\nhttps://seanmcccanada.queue.core.windows.net\nhttps://seanmcccanada.table.core.windows.net\n\n\n\n\nhttps://seanmcccanada-secondary.blob.core.windows.net\nhttps://seanmcccanada-secondary.file.core.windows.net\nhttps://seanmcccanada-secondary.queue.core.windows.net\nhttps://seanmcccanada-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanada.blob.core.windows.net/;QueueEndpoint=https://seanmcccanada.queue.core.windows.net/;FileEndpoint=https://seanmcccanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanada-secondary.file.core.windows.net/;AccountName=seanmcccanada;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
