{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-d04ecf11-f5d5-40ba-179b-ae7cfeab3599?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 00:45:37 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D116097C644\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:45:37 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-d04ecf11-f5d5-40ba-179b-ae7cfeab3599/test-blob-aef15545-b8da-12d0-5062-fd86058ae561",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 07 Mar 2025 00:45:37 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": "3ZJTspYhxRE/kfI/4KoeiRZUX1LK7qZ4Hn9jqRD41GAcXJoC0AsVuF5CKU0HJk9W9irQnwz2PO7s2pMXvhwBR7ySIoQPG7kKP6fzh8VYcfgvDbLmKDVTJR+rFvV3/fpCQeKQdAPLRtpxxWBlArQpk2mb57BpGh6GP/1kYwXDk0GtsUbjx/z0ZMfYdWLV7SJrgoOL3BZJ2SbDCjUGZuLUrTEfuFFtRsttpoLpkKW8sVHa+OGBN7YqY9cgH73G7v3kA8cxtjXR/Ty4HjWTX0mAB1jkK24BU3Z69FR5TSYNpriFBYzeivsbCfukyRmBlgSOnxhl4sKP47BRtsHgV68Wqnd8Dlq8oXxdyCJyXIpc+V1Q664NqMP29SHbjdQ5OrFLjR6hBIip0f2cBxqfHIYm9LxkkGsBCQK0hhg44RS[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-d04ecf11-f5d5-40ba-179b-ae7cfeab3599/test-blob-aef15545-b8da-12d0-5062-fd86058ae561?sv=Sanitized&se=2025-03-08T00%3A45%3A37Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-MD5": "FAAv7xIKXGc4RPn72hS3hQ==",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD5D1160AB7282\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:45:37 GMT",
        "x-ms-access-tier": "Cold",
        "x-ms-access-tier-change-time": "Fri, 07 Mar 2025 00:45:37 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 07 Mar 2025 00:45:37 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-bf20a9b1-93b6-a647-3fad-5868371ea255/test-blob-113c536b-ae33-a4b3-6b48-5a8847c626da?sv=Sanitized&se=2025-03-08T00%3A45%3A37Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "PageBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D1160C152EC\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:45:37 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-bf20a9b1-93b6-a647-3fad-5868371ea255/test-blob-113c536b-ae33-a4b3-6b48-5a8847c626da?sv=Sanitized&se=2025-03-08T00%3A45%3A37Z&sr=b&sp=racwdxyltmei&sig=Sanitized&comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-d04ecf11-f5d5-40ba-179b-ae7cfeab3599/test-blob-aef15545-b8da-12d0-5062-fd86058ae561?sv=sanitized-value&se=2025-03-08T00%3A45%3A37Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D1160CB59C9\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:45:37 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-content-crc64": "Lo3DFoy38ag=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-d04ecf11-f5d5-40ba-179b-ae7cfeab3599/test-blob-aef15545-b8da-12d0-5062-fd86058ae561?sv=Sanitized&se=2025-03-08T00%3A45%3A37Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DD5D1160AB7282\"",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD5D1160AB7282\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:45:37 GMT",
        "x-ms-blob-content-md5": "FAAv7xIKXGc4RPn72hS3hQ==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 07 Mar 2025 00:45:37 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "3ZJTspYhxRE/kfI/4KoeiRZUX1LK7qZ4Hn9jq[...]
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-d04ecf11-f5d5-40ba-179b-ae7cfeab3599?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 00:45:38 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2025-03-06T16:45:37.4651366-08:00",
    "RandomSeed": "1685692523",
    "Storage_TestConfigDefault": "ProductionTenant\namandapreprod\nU2FuaXRpemVk\nhttps://amandapreprod.blob.core.windows.net\nhttps://amandapreprod.file.core.windows.net\nhttps://amandapreprod.queue.core.windows.net\nhttps://amandapreprod.table.core.windows.net\n\n\n\n\nhttps://amandapreprod-secondary.blob.core.windows.net\nhttps://amandapreprod-secondary.file.core.windows.net\nhttps://amandapreprod-secondary.queue.core.windows.net\nhttps://amandapreprod-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandapreprod.blob.core.windows.net/;QueueEndpoint=https://amandapreprod.queue.core.windows.net/;FileEndpoint=https://amandapreprod.file.core.windows.net/;BlobSecondaryEndpoint=https://amandapreprod-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandapreprod-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandapreprod-secondary.file.core.windows.net/;AccountName=amandapreprod;AccountKey=U2FuaXRpemVk\nencryptionScope\n\n"
  }
}
