{
  "Entries": [
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-e3e64eef-69fd-19e8-94dd-de9b8c5450fb?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 31 Jan 2025 20:46:18 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD4238501F4F5C\"",
        "Last-Modified": "Fri, 31 Jan 2025 20:46:18 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-e3e64eef-69fd-19e8-94dd-de9b8c5450fb/test-blob-61b0393b-a76a-ce1c-a39c-7f4598dfad9a",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 31 Jan 2025 20:46:18 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": "0bw/fFPzGb/WcvgcqsVKBsiai0Y1Zn8s+rVTUPkG3JfXePv9Z+e4SCDxi/euACTdUnl9/VNmZWs8EoKdn8nGz5ZgRTHJTJ/g4kMmQ9qIffqRdf1/id9EcBOQwVRlG6lWK7xhTbryEwbanBsQQCGQtJWICynLRkW3HNUeOYpKe8aazxgeJi8/n2H3pe3ENDDyAA2/3RB/i+R2qjHl1Np7jyBVdnAIco1lSGzI1KBX8uelKzl8i561GkQzp3z+WcuHexbMb77A6Y2AWpSkt7ZEH7dJQKih/wSCn1sr1coQZ++gQVmKi4Mp5UGr/DAKEWOO74jEtBgi5XwRSs9jlBTDb/KkA3ZduZMzH1tm9gLTeI33nOVCTLLWfVvceUC0xlAt5409ZQ3tMDb0kZS9vO95PdJCa/gvgCNAzoUagEB[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-e3e64eef-69fd-19e8-94dd-de9b8c5450fb/test-blob-61b0393b-a76a-ce1c-a39c-7f4598dfad9a?sv=Sanitized&se=2025-02-01T20%3A46%3A18Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-MD5": "TanJHic1ens340U93DUJuA==",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD4238502E29E1\"",
        "Last-Modified": "Fri, 31 Jan 2025 20:46:18 GMT",
        "x-ms-access-tier": "Cold",
        "x-ms-access-tier-change-time": "Fri, 31 Jan 2025 20:46:18 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 31 Jan 2025 20:46:18 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Fri, 31 Jan 2025 20:46:18 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05",
        "x-ms-version-id": "2025-01-31T20:46:18.7292907Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-2ca1378c-3f70-2ea6-809a-a61293d7ea06/test-blob-e87d8a84-ff12-2c0c-ff83-bc04d2f1419b?sv=Sanitized&se=2025-02-01T20%3A46%3A18Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD4238503D69E9\"",
        "Last-Modified": "Fri, 31 Jan 2025 20:46:18 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05",
        "x-ms-version-id": "2025-01-31T20:46:18.8282345Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-2ca1378c-3f70-2ea6-809a-a61293d7ea06/test-blob-e87d8a84-ff12-2c0c-ff83-bc04d2f1419b?sv=Sanitized&se=2025-02-01T20%3A46%3A18Z&sr=b&sp=racwdxyltmei&sig=Sanitized&comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-copy-source": "https://jalauzonnettest.blob.core.windows.net/test-container-e3e64eef-69fd-19e8-94dd-de9b8c5450fb/test-blob-61b0393b-a76a-ce1c-a39c-7f4598dfad9a?sv=sanitized-value&se=2025-02-01T20%3A46%3A18Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD423850457F0B\"",
        "Last-Modified": "Fri, 31 Jan 2025 20:46:18 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-content-crc64": "3xyUxSODfEI=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-e3e64eef-69fd-19e8-94dd-de9b8c5450fb/test-blob-61b0393b-a76a-ce1c-a39c-7f4598dfad9a?sv=Sanitized&se=2025-02-01T20%3A46%3A18Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DD4238502E29E1\"",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD4238502E29E1\"",
        "Last-Modified": "Fri, 31 Jan 2025 20:46:18 GMT",
        "x-ms-blob-content-md5": "TanJHic1ens340U93DUJuA==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 31 Jan 2025 20:46:18 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Fri, 31 Jan 2025 20:46:18 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true[...]
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-2ca1378c-3f70-2ea6-809a-a61293d7ea06/test-blob-e87d8a84-ff12-2c0c-ff83-bc04d2f1419b?sv=Sanitized&se=2025-02-01T20%3A46%3A18Z&sr=b&sp=racwdxyltmei&sig=Sanitized&comp=tags",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?>\n",
        "<Tags><TagSet/></Tags>"
      ]
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-e3e64eef-69fd-19e8-94dd-de9b8c5450fb?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 31 Jan 2025 20:46:19 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2025-01-31T12:46:18.7519023-08:00",
    "RandomSeed": "45002644",
    "Storage_TestConfigDefault": "ProductionTenant\njalauzonnettest\nU2FuaXRpemVk\nhttps://jalauzonnettest.blob.core.windows.net\nhttps://jalauzonnettest.file.core.windows.net\nhttps://jalauzonnettest.queue.core.windows.net\nhttps://jalauzonnettest.table.core.windows.net\n\n\n\n\nhttps://jalauzonnettest-secondary.blob.core.windows.net\nhttps://jalauzonnettest-secondary.file.core.windows.net\nhttps://jalauzonnettest-secondary.queue.core.windows.net\nhttps://jalauzonnettest-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://jalauzonnettest.blob.core.windows.net/;QueueEndpoint=https://jalauzonnettest.queue.core.windows.net/;FileEndpoint=https://jalauzonnettest.file.core.windows.net/;BlobSecondaryEndpoint=https://jalauzonnettest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jalauzonnettest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jalauzonnettest-secondary.file.core.windows.net/;AccountName=jalauzonnettest;AccountKey=U2FuaXRpemVk\ntestscope1\n\n"
  }
}
