{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-35d1ecb3-c4bd-38e9-79d9-e17178b93a2f?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 30 Sep 2025 20:42:03 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE0061CFCA26AB\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:42:03 GMT",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-35d1ecb3-c4bd-38e9-79d9-e17178b93a2f/test-blob-6a7ca25d-f42f-d22f-b0a0-034fa5fc1bf6",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 30 Sep 2025 20:42:03 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": "y6yn5KFq551yY8WW9gqf9m+N9WONv9euo1PhhA2tsJzan/P/WK4X5ZuJA8ntZvig6BL1qS9yCwvV+EFOiWKQxLMovFcXoJ3BdQ/IBLwNwTxbQJz7twZtaJPnKV9tyVw5+D4VxKqgiUd0NDMfqgdPyDcE80jGlQysu1PDL3c+U6yzjwx++PySurdUhoPTTb2MmGAoadYTc2IxaAhW3FrQNeCGbBv70M86cjiRcQ6J2W6WN5YWFerWoBypTI/zO91dhFGjTOGikceR7fadggFTqI6awKXDuR/1sMz+UYRARzZbNO295o2M86bPhSjzOR0bVaQAWHo4mcoxrZwVoz9DUKbAQU4TlcIBDs3+9DP3AXau4/vfP+67I5ojjDjxdk9nizSBM/fPB7/i/0qtOaWWOaslZ8BEYxG4BB6z8Am[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-35d1ecb3-c4bd-38e9-79d9-e17178b93a2f/test-blob-6a7ca25d-f42f-d22f-b0a0-034fa5fc1bf6?sv=Sanitized&se=2025-10-01T20%3A42%3A03Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-MD5": "vkhfS4S8MB+Y7lGsOdqRQg==",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DE0061CFE119A1\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:42:03 GMT",
        "x-ms-access-tier": "Cold",
        "x-ms-access-tier-change-time": "Tue, 30 Sep 2025 20:42:03 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 30 Sep 2025 20:42:03 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-1bc6a4f1-fdee-b1ed-239f-b35cb6372eca/test-blob-c057579c-dcb1-a19c-740b-a935068a1bf9?sv=Sanitized&se=2025-10-01T20%3A42%3A03Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "PageBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE0061D0095BEB\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:42:03 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-1bc6a4f1-fdee-b1ed-239f-b35cb6372eca/test-blob-c057579c-dcb1-a19c-740b-a935068a1bf9?sv=Sanitized&se=2025-10-01T20%3A42%3A03Z&sr=b&sp=racwdxyltmei&sig=Sanitized&comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-35d1ecb3-c4bd-38e9-79d9-e17178b93a2f/test-blob-6a7ca25d-f42f-d22f-b0a0-034fa5fc1bf6?sv=sanitized-value&se=2025-10-01T20%3A42%3A03Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE0061D01389AA\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:42:03 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-content-crc64": "fKD28iN9Mxo=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-35d1ecb3-c4bd-38e9-79d9-e17178b93a2f/test-blob-6a7ca25d-f42f-d22f-b0a0-034fa5fc1bf6?sv=Sanitized&se=2025-10-01T20%3A42%3A03Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DE0061CFE119A1\"",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DE0061CFE119A1\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:42:03 GMT",
        "x-ms-blob-content-md5": "vkhfS4S8MB+Y7lGsOdqRQg==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 30 Sep 2025 20:42:03 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": "y6yn5KFq551yY8WW9gqf9m+N9WONv9euo1Phh[...]
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-35d1ecb3-c4bd-38e9-79d9-e17178b93a2f?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 30 Sep 2025 20:42:04 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2025-09-30T13:42:03.3811223-07:00",
    "RandomSeed": "1507290810",
    "Storage_TestConfigDefault": "ProductionTenant\namandapreprod\nU2FuaXRpemVk\nhttps://amandapreprod.blob.core.windows.net\nhttps://amandapreprod.file.core.windows.net\nhttps://amandapreprod.queue.core.windows.net\nhttps://amandapreprod.table.core.windows.net\n\n\n\n\nhttps://amandapreprod-secondary.blob.core.windows.net\nhttps://amandapreprod-secondary.file.core.windows.net\nhttps://amandapreprod-secondary.queue.core.windows.net\nhttps://amandapreprod-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandapreprod.blob.core.windows.net/;QueueEndpoint=https://amandapreprod.queue.core.windows.net/;FileEndpoint=https://amandapreprod.file.core.windows.net/;BlobSecondaryEndpoint=https://amandapreprod-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandapreprod-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandapreprod-secondary.file.core.windows.net/;AccountName=amandapreprod;AccountKey=U2FuaXRpemVk\nencryptionScope\n\n"
  }
}
