{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-d70cb09c-2c3f-63e2-cbb1-46ba01e98230?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 27 Mar 2024 23:00:42 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4EB1BB1C95C4\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 23:00:43 GMT",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-3fedc1a6-6247-d04f-79b5-c1a1462158de/test-blob-6b4d33f6-1007-9fdf-9df9-e923208e2999",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Wed, 27 Mar 2024 23:00:42 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4EB1BB3D5F40\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 23:00:43 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-03-27T23:00:43.7307200Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-3fedc1a6-6247-d04f-79b5-c1a1462158de/test-blob-6b4d33f6-1007-9fdf-9df9-e923208e2999?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 27 Mar 2024 23:00:42 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": "Oiugy/iZaYVHE2PO\u002B7igTVxFkyDt\u002BLX/vNYNYMfNcHpcscLrGgoSjEC9NNL4zLaTmZRogr0UrEJ2oA4hiwi\u002BeqPpckn1tDNSMgbfL8PiB\u002B8gescyZO28SAWAdXn78AE3/7ovDlpsneRgFlC2NHx\u002Bk5gfARFBixW1LCpEdT66VkEFqDAJs/iVs9zi0k6dBhOIAuHg3O/v9XOleeIvJyilpr8OsYxMdOCgiU00X7nGGCUWvHJd2XlSFbK8YzoVZYy0PCyOjlWGO40BQFOhu5a63mC8GWu1SM1FvJvajxGliiPBfyONN4nQkIDlW5gmsFkcAoTZWEwg/vNeSNK5rKt8W7Yv4DtyLafW7Ijr0Ow0HwxBvo2MzDHXoYAvLu63F\u002BPUa[...]
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-d70cb09c-2c3f-63e2-cbb1-46ba01e98230/test-blob-c97cad73-7bdf-12ed-3d09-4e610f019147?sv=2024-05-04\u0026se=2024-03-28T23%3A00%3A42Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "9tgWV9ZMtGFDzuUZqqmq6Q==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC4EB1BB5E770A\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 23:00:43 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 27 Mar 2024 23:00:43 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-03-27T23:00:43.9475978Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-3fedc1a6-6247-d04f-79b5-c1a1462158de/test-blob-6b4d33f6-1007-9fdf-9df9-e923208e2999?sv=2024-05-04\u0026se=2024-03-28T23%3A00%3A42Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 409,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "BlobAlreadyExists",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003EBlobAlreadyExists\u003C/Code\u003E\u003CMessage\u003EThe specified blob already exists.\n",
        "RequestId:f45ed897-901e-004f-139a-8004b5000000\n",
        "Time:2024-03-27T23:00:44.2002500Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-d70cb09c-2c3f-63e2-cbb1-46ba01e98230?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 27 Mar 2024 23:00:43 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-03-27T16:00:42.4705775-07:00",
    "RandomSeed": "169689317",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
