{
  "Entries": [
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-7e216f33-af5e-d588-d616-08bac283653b?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 01:23:48 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC86907C8C5AEC\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:23:50 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-df00e179-64f0-3f7c-1514-93dea4ad7d27/test-blob-a68c2c65-074b-6279-a8f9-de5fce9121c2",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Fri, 07 Jun 2024 01:23:48 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC86907CA68F6F\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:23:50 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-06-07T01:23:50.4470895Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-df00e179-64f0-3f7c-1514-93dea4ad7d27/test-blob-a68c2c65-074b-6279-a8f9-de5fce9121c2?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Fri, 07 Jun 2024 01:23:48 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "FPrk7nm+J3Z5mb02J9+oQy1YxuArIJwBRxwy5SxFD8WkirVFGHCGmEa9QA3a3TJ/Yyp8WcTNTvRe4qddjEJJM4r4kp0qYiq90S6Zbd+PJ2npsoEBybYB1jvA5zXJKQsEdAyD4kqVVQH/voeVM+EVz7s9dNrBR2rU9rtiaXv19KgilfnSDEUfVFyAAgoua6Naqxh6i7UxQyyir+uOMuuFCsrfcp3nQsJ1HR99QEVgpYsYCL5je2jy8FLMMF1akCJw+vc/T/gFcmlVBG2VtALnQQlfdiktIo9h7IFLGhFlG439DEZNIFWSEpVVDXb6XDxQ5O5T+hn4Q9do3WN2uldX7+jgmKi7miGzzGOU2BUYZ49F+jUjEiFzBchu5ULyHFg9/h6OGsSUlErNny21Y2rCT3bTMb8iM93[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-7e216f33-af5e-d588-d616-08bac283653b/test-blob-7d94532b-9bdb-693c-855a-769fc368c61d",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "text/plain",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 07 Jun 2024 01:23:49 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "kFF6RmRcri/PPOfdsds0CWNYGxnAvHxPRFG+YJag0OwVOpmMQ+kumpiNa9Qb7x0U82RbyNp+QtPUKwITnk6ZL2z7yHdCp8V6KYCBMlGoM1QzqW0yRQcSlvjFtxjmG/xK9DtoICem0kuf4J5Z/Q+CLPeu3/TgZ+pk6DF+fPCslA6DNz4VPxMtjNYhkmRouJnoQ4ohODsHaY1RAzf1J1Zb80yQ1cbRbe3jgFMevtSG+zCYljllilvTfM2wwzvcN2SAxp8X2OLSFtadPbfo6aq5ywcHXJEc9mjxvVn4IKmxB0junfg0biNNxX9jx0yj65Ii9/gz1dvTZNA2JhuJ2vUs7DZv+UyyhF3kuZcSuS4bTdHG1SmxfTFtGzkn/UcIxOuJNtoWNPFGcHObTxtDwKqhG9hJwgTMe28EAd4TioY[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-7e216f33-af5e-d588-d616-08bac283653b/test-blob-7d94532b-9bdb-693c-855a-769fc368c61d?sv=Sanitized&se=2024-06-08T01%3A23%3A49Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-MD5": "vo3RSjMaI8BAWc55+pWQXQ==",
        "Content-Type": "text/plain",
        "ETag": "\"0x8DC86907CC40000\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:23:50 GMT",
        "x-ms-access-tier": "Cold",
        "x-ms-access-tier-change-time": "Fri, 07 Jun 2024 01:23:50 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 07 Jun 2024 01:23:50 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-06-07T01:23:50.6410251Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-df00e179-64f0-3f7c-1514-93dea4ad7d27/test-blob-a68c2c65-074b-6279-a8f9-de5fce9121c2?sv=Sanitized&se=2024-06-08T01%3A23%3A49Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-content-type": "text/plain",
        "x-ms-blob-type": "PageBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 409,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "BlobAlreadyExists",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>BlobAlreadyExists</Code><Message>The specified blob already exists.\n",
        "RequestId:f2d74884-401e-0065-4d79-b85865000000\n",
        "Time:2024-06-07T01:23:50.8511658Z</Message></Error>"
      ]
    },
[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-7e216f33-af5e-d588-d616-08bac283653b?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 01:23:49 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-06-06T20:23:49.0499164-05:00",
    "RandomSeed": "2000518226",
    "Storage_TestConfigDefault": "ProductionTenant\nseancanary\nU2FuaXRpemVk\nhttps://seancanary.blob.core.windows.net\nhttps://seancanary.file.core.windows.net\nhttps://seancanary.queue.core.windows.net\nhttps://seancanary.table.core.windows.net\n\n\n\n\nhttps://seancanary-secondary.blob.core.windows.net\nhttps://seancanary-secondary.file.core.windows.net\nhttps://seancanary-secondary.queue.core.windows.net\nhttps://seancanary-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seancanary.blob.core.windows.net/;QueueEndpoint=https://seancanary.queue.core.windows.net/;FileEndpoint=https://seancanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seancanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seancanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seancanary-secondary.file.core.windows.net/;AccountName=seancanary;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
