{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-fb10babd-fd59-5c29-c5f6-d234fc68e99a?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 30 Sep 2025 20:42:18 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE0061D9280C1D\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:42:18 GMT",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-fb10babd-fd59-5c29-c5f6-d234fc68e99a/test-blob-b81015b1-95a1-6088-b9ad-0b05c6ee5a7f",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 30 Sep 2025 20:42:19 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": "2Se3kW7Ar9SPBaEg8hjd3D7DJJQaFsAdcRIgGusjnRMkFto53Lansk2WkPuL7a7yybl9j1viOsJmmh9cn5XpbGiO+9s9pP+IHHFGg4bEkoRjLlEypQ23QdwY0kKWShO4rSST/PHTtSW69XPpnLY7ogib+XFEt8Za1rr+JNG88dFejdVhMZWSkHgrd7CZzaUl3DA6+lGidPZeOCY31JBU/QOiiw7g2XFyCWn4GD8WwAgU2Eeggvd/uxneA/hvW7vo13qs90KXRAO/yPHoqVu3SHcdIvtIs3oMIs/0AtV4A62tEEDEacnGfZNE4boFlxK9J7uBUji/nyT/oNRyokItRsVEOpkb896uVqVnA9LABou9N9sa97B07XAcxMj0VNpRF5r1wVx4ojPc0/uTWJxRP5lItGtnE08Uz0wp/i4[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-fb10babd-fd59-5c29-c5f6-d234fc68e99a/test-blob-b81015b1-95a1-6088-b9ad-0b05c6ee5a7f?sv=Sanitized&se=2025-10-01T20%3A42%3A19Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-MD5": "XNbW6f+lOMfta3u/gZ7kIQ==",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DE0061D93EB71C\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:42:18 GMT",
        "x-ms-access-tier": "Cold",
        "x-ms-access-tier-change-time": "Tue, 30 Sep 2025 20:42:18 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 30 Sep 2025 20:42:18 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-9336687e-36c0-9530-2db3-611c5d4706d7/test-blob-ae35042c-19e5-391e-2838-b4fd81775631?sv=Sanitized&se=2025-10-01T20%3A42%3A19Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "PageBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE0061D9657486\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:42:19 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-9336687e-36c0-9530-2db3-611c5d4706d7/test-blob-ae35042c-19e5-391e-2838-b4fd81775631?sv=Sanitized&se=2025-10-01T20%3A42%3A19Z&sr=b&sp=racwdxyltmei&sig=Sanitized&comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-fb10babd-fd59-5c29-c5f6-d234fc68e99a/test-blob-b81015b1-95a1-6088-b9ad-0b05c6ee5a7f?sv=sanitized-value&se=2025-10-01T20%3A42%3A19Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE0061D96F547A\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:42:19 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-content-crc64": "vvtWWOVANU4=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-fb10babd-fd59-5c29-c5f6-d234fc68e99a?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 30 Sep 2025 20:42:19 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2025-09-30T13:42:19.0360975-07:00",
    "RandomSeed": "150291487",
    "Storage_TestConfigDefault": "ProductionTenant\namandapreprod\nU2FuaXRpemVk\nhttps://amandapreprod.blob.core.windows.net\nhttps://amandapreprod.file.core.windows.net\nhttps://amandapreprod.queue.core.windows.net\nhttps://amandapreprod.table.core.windows.net\n\n\n\n\nhttps://amandapreprod-secondary.blob.core.windows.net\nhttps://amandapreprod-secondary.file.core.windows.net\nhttps://amandapreprod-secondary.queue.core.windows.net\nhttps://amandapreprod-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandapreprod.blob.core.windows.net/;QueueEndpoint=https://amandapreprod.queue.core.windows.net/;FileEndpoint=https://amandapreprod.file.core.windows.net/;BlobSecondaryEndpoint=https://amandapreprod-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandapreprod-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandapreprod-secondary.file.core.windows.net/;AccountName=amandapreprod;AccountKey=U2FuaXRpemVk\nencryptionScope\n\n"
  }
}
