{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-18438bdb-b86a-cbba-4b19-1994f9f9e05f?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 09 Apr 2024 20:30:50 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC58D3F2B2C61C\u0022",
        "Last-Modified": "Tue, 09 Apr 2024 20:30:51 GMT",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-18438bdb-b86a-cbba-4b19-1994f9f9e05f/test-blob-36cc3f22-760b-b1c9-e244-ea5b8e04b9dd",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "text/plain",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 09 Apr 2024 20:30:50 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": "VBKCq/zh825/MpzgvwHeCcfIjVqAVZKEh8NFOij9rtuEnY9rCSeenxWBuBFut32FBqs/lsatT/5//iQ5m7lFgYPAXCJxcgCfKu5E/52BFc9FvzN8vRcV1k2Q6wsCZQNcOzaNrlpaE5SroGzXaFBh/uhU89yFyMRrq4XU4Yb1nMTq6MNm82d16quf0R2rPW79L\u002B0irXEn13JyIgPVhjINtQOn7H\u002BN\u002BguA3wgw5fenwG0W17GZ0u5TwxFQ9NFkn2R4khwZA1DucDThos5p9vF7ymGWvq6AdOIUVCluPAU6HECjt1Pajb0cKGd9tzAg6c0g1SlwzuG2\u002BB05BK4ngDMup4WOxT\u002BdoDyjeZZGA7yy9GtbTmfcyk5f7b81oYkO9KczTg\u002BqkiOOg[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-18438bdb-b86a-cbba-4b19-1994f9f9e05f/test-blob-36cc3f22-760b-b1c9-e244-ea5b8e04b9dd?sv=2024-05-04\u0026se=2024-04-10T20%3A30%3A50Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-MD5": "MHPHOmQLLU616cunvI/LYg==",
        "Content-Type": "text/plain",
        "ETag": "\u00220x8DC58D3F2C810F3\u0022",
        "Last-Modified": "Tue, 09 Apr 2024 20:30:51 GMT",
        "x-ms-access-tier": "Cold",
        "x-ms-access-tier-change-time": "Tue, 09 Apr 2024 20:30:51 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 09 Apr 2024 20:30:51 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-04-09T20:30:51.4319351Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-a781c5bc-a211-fab0-e4e4-028bdb7c1e60/test-blob-83d3386c-37fa-36f7-5b8f-19741a4ceb5b?sv=2024-05-04\u0026se=2024-04-10T20%3A30%3A50Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-content-type": "text/plain",
        "x-ms-blob-type": "PageBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC58D3F2E46E60\u0022",
        "Last-Modified": "Tue, 09 Apr 2024 20:30:51 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-04-09T20:30:51.6168288Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-a781c5bc-a211-fab0-e4e4-028bdb7c1e60/test-blob-83d3386c-37fa-36f7-5b8f-19741a4ceb5b?sv=2024-05-04\u0026se=2024-04-10T20%3A30%3A50Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized\u0026comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-copy-source": "https://amandadev2.blob.core.windows.net/test-container-18438bdb-b86a-cbba-4b19-1994f9f9e05f/test-blob-36cc3f22-760b-b1c9-e244-ea5b8e04b9dd?sv=2024-05-04\u0026se=2024-04-10T20%3A30%3A50Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC58D3F2F3123B\u0022",
        "Last-Modified": "Tue, 09 Apr 2024 20:30:51 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-content-crc64": "1fbUfRRCV3g=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-18438bdb-b86a-cbba-4b19-1994f9f9e05f?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 09 Apr 2024 20:30:51 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-04-09T13:30:50.9891443-07:00",
    "RandomSeed": "399180788",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
