{
  "Entries": [
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-382b9507-8290-5782-f310-524b16f28d2f?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 01:23:52 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC86907EE11606\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:23:54 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-e8845c2b-ae07-6390-b547-4cbfd755413b/test-blob-ebbaf560-8854-2108-bf29-387e235adc81",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Fri, 07 Jun 2024 01:23:52 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC86907F197CEE\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:23:54 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-06-07T01:23:54.5567229Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-e8845c2b-ae07-6390-b547-4cbfd755413b/test-blob-ebbaf560-8854-2108-bf29-387e235adc81?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Fri, 07 Jun 2024 01:23:53 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "vSUpYR0CjQTrPRMNBlkYdIXJaKdPx+rUkrC253IsqWfQ32g53LQl6ILXk0AYcHMFRADJRgdDZfU6VM5tS6aRvpOrPCbw3pjRpIAleDOpuyE8sKNyYmNgjXpz/oflt5zcRdStbDRNFWZn+KGHHuzCkZisMZsDH1wwS6+sfd8Q6+zjSTJe/E7t75s8CmrB2W6NsG3vOYYB2SV4fSGFoZeGVw21o9S6Y5RJv0IAxhXybnJAHs1xIbJm4nAN5n8tZ04EtrNcDDWZ003ZpXlEARMQhg6vRYLKFDVaTsFkrHwUHFf0+w9ilWE8pkt/mHw4IeBd/V9wfSLLOaF9Ar1zNCbQxIkiUAUDrfGtc542Sny5IS3gB68do540KMJu5JKjyHEkrtPyFtHbWU9uwwqElO8lxOCQky12syD[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-382b9507-8290-5782-f310-524b16f28d2f/test-blob-79d36a0f-6db1-2d37-3b72-73c8708866cc",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "text/plain",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 07 Jun 2024 01:23:53 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "h+Yazd1wv8AI5xQI+BLgwwAlbecG/ipFsUE+6LXM9ege9hC5BLXmT5VjPPpb28qS05onRLxcZIm81BybMdYKPPIr6QEBJr5LPx5Ro8Ev6tV3rBUbpLAswZGH/S+YSh2+WAAHL/HIkKzb2wWeC8HHjOpGI4XB75dC/ydweimPs/QAkkrBKLvkrxtoP8mqjbbQwHBEUSaY/WloxS/JWBaDTCgQnXl3BmQvYnRpWK/Ol3Fxn7m4SmHOZ5TgWGKLGlcF5fKgme89WLoMFO+yL6W5mS29V7hcywHGQjbklq0BpEccZHO8Lf2BNEf/rDVyGzjvJ781zcKfqBnx2Ve5WMEMCnCnlsox/GswOyNwXR/MVCb99G/tzNaEfLxZy1SmyNyF8qHFyoVtvSpTBZKfLkv6JYQwvGNSHj6aIhkO2DE[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-382b9507-8290-5782-f310-524b16f28d2f/test-blob-79d36a0f-6db1-2d37-3b72-73c8708866cc?sv=Sanitized&se=2024-06-08T01%3A23%3A53Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-MD5": "whCHv/QRUxLWSTmqP+7Qpw==",
        "Content-Type": "text/plain",
        "ETag": "\"0x8DC86907F3518E3\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:23:54 GMT",
        "x-ms-access-tier": "Cold",
        "x-ms-access-tier-change-time": "Fri, 07 Jun 2024 01:23:54 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 07 Jun 2024 01:23:54 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-06-07T01:23:54.7366627Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-e8845c2b-ae07-6390-b547-4cbfd755413b/test-blob-ebbaf560-8854-2108-bf29-387e235adc81?sv=Sanitized&se=2024-06-08T01%3A23%3A53Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-content-type": "text/plain",
        "x-ms-blob-type": "PageBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 409,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "BlobAlreadyExists",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>BlobAlreadyExists</Code><Message>The specified blob already exists.\n",
        "RequestId:f2d74cd8-401e-0065-6379-b85865000000\n",
        "Time:2024-06-07T01:23:54.9288467Z</Message></Error>"
      ]
    },
[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-382b9507-8290-5782-f310-524b16f28d2f?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 01:23:53 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-06-06T20:23:53.1468077-05:00",
    "RandomSeed": "260460555",
    "Storage_TestConfigDefault": "ProductionTenant\nseancanary\nU2FuaXRpemVk\nhttps://seancanary.blob.core.windows.net\nhttps://seancanary.file.core.windows.net\nhttps://seancanary.queue.core.windows.net\nhttps://seancanary.table.core.windows.net\n\n\n\n\nhttps://seancanary-secondary.blob.core.windows.net\nhttps://seancanary-secondary.file.core.windows.net\nhttps://seancanary-secondary.queue.core.windows.net\nhttps://seancanary-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seancanary.blob.core.windows.net/;QueueEndpoint=https://seancanary.queue.core.windows.net/;FileEndpoint=https://seancanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seancanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seancanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seancanary-secondary.file.core.windows.net/;AccountName=seancanary;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
