{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-8e728f58-3128-3a2d-0f5e-030f907773d3?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Thu, 28 Mar 2024 21:07:37 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4F6B1A08AD83\u0022",
        "Last-Modified": "Thu, 28 Mar 2024 21:07:39 GMT",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-ed8a1c3b-40b2-2601-5ee1-04fb367e5372/test-blob-13fb8b63-880b-c85f-9014-ed5ba3e70232",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Thu, 28 Mar 2024 21:07:37 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4F6B1A1CAAA8\u0022",
        "Last-Modified": "Thu, 28 Mar 2024 21:07:39 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-03-28T21:07:39.7949096Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-ed8a1c3b-40b2-2601-5ee1-04fb367e5372/test-blob-13fb8b63-880b-c85f-9014-ed5ba3e70232?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 28 Mar 2024 21:07:38 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": "IYGS2/3uYyrHryU6E36y9V9DTtRXdS52M\u002B8wwpZkh44\u002BuLi6GCDWXDt8\u002BlSizO2xpEa13CQo06tSHKcOvaCTYieX/FrG99w/bPKZ2nva02cCfx1Qr6tpFeUNZ/x5yJ6a6ZcsCtCS6qxqdW8yjvgweEg/Cz6CQ7N8LeZ1uJDgxaRT//HkrciXb5Rx5Tk7Nofs3e\u002BzObxgF6XjsN3pHTIcirDL348HS8p/qJupEV16QPdfidugLIzn8udLAP3rrVJiVFuJcFf35ZEkM5EhtgZIaW/lipNWe10j5Oyou0vNk/pJR7wB8M\u002BfZ6NKfPn6xjvhA5aOBSK\u002BC9n9ZYxqTypFV5\u002BW129JRnmfRSPwDP9kKR6xx7e1Po3YijvjBItD[...]
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-8e728f58-3128-3a2d-0f5e-030f907773d3/test-blob-a3fc03b4-701e-df02-307e-80da522669c7?sv=2024-05-04\u0026se=2024-03-29T21%3A07%3A38Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "grn3PkbozjH26ZS1mWf8YA==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC4F6B1A2FE1BF\u0022",
        "Last-Modified": "Thu, 28 Mar 2024 21:07:39 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 28 Mar 2024 21:07:39 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-03-28T21:07:39.9218380Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-ed8a1c3b-40b2-2601-5ee1-04fb367e5372/test-blob-13fb8b63-880b-c85f-9014-ed5ba3e70232?sv=2024-05-04\u0026se=2024-03-29T21%3A07%3A38Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-content-type": "application/octet-stream",
        "x-ms-blob-type": "PageBlob",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 409,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "BlobAlreadyExists",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003EBlobAlreadyExists\u003C/Code\u003E\u003CMessage\u003EThe specified blob already exists.\n",
        "RequestId:5f166eba-101e-0051-1053-81e86d000000\n",
        "Time:2024-03-28T21:07:40.0926491Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-8e728f58-3128-3a2d-0f5e-030f907773d3?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 28 Mar 2024 21:07:38 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-03-28T14:07:38.0948548-07:00",
    "RandomSeed": "1094749763",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
