{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-d2b60be1-c47a-3374-17d1-68e6c33f9cc4?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 27 Mar 2024 23:01:06 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4EB1C9867171\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 23:01:07 GMT",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-d2b60be1-c47a-3374-17d1-68e6c33f9cc4/test-blob-cfb34415-e759-0638-febb-28333e8fd805",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 27 Mar 2024 23:01:06 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": "qN/bzhQyCshSwPAAIXmrd4fk/WK3slzkhVSVnf\u002BSwKWuOKOcYeHM3xoSn19OP9jD2PlIZXVLAvaD90nAnG3IwABLUujVDhamFx1HpBL8lUV70cQFSVovYzatGWmXDEKtSt9fA\u002B3w7srjok1YA17jhmIERMqpw3elG\u002B\u002ByJ/WsDgramloznZFXi\u002BP6IqYM11/XypIHk8d3BIZouej\u002BPcbUN5RDfWkEsOnRrLnnrqHQmEOP2l1jpXpDYpbTyuOoWU0dJeoSyVr20xqoNucNkFXlmCGlb2JpcZIZ/xrTMeUGKFJryom2vc7pmAdDum6TNdJA7TLCA\u002Brqt[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-d2b60be1-c47a-3374-17d1-68e6c33f9cc4/test-blob-cfb34415-e759-0638-febb-28333e8fd805?sv=2024-05-04\u0026se=2024-03-28T23%3A01%3A06Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "KP/Ad\u002BcU9sJv85NYb1k7Ag==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC4EB1C9A812D7\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 23:01:07 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 27 Mar 2024 23:01:07 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-03-27T23:01:07.9181015Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-e46a2949-fa6f-12ce-931e-6d53e90dca50/test-blob-7e6ec37b-8bef-7df3-51d7-bf407dafa87e?sv=2024-05-04\u0026se=2024-03-28T23%3A01%3A06Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4EB1C9CC1061\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 23:01:08 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-03-27T23:01:08.1539681Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-e46a2949-fa6f-12ce-931e-6d53e90dca50/test-blob-7e6ec37b-8bef-7df3-51d7-bf407dafa87e?sv=2024-05-04\u0026se=2024-03-28T23%3A01%3A06Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized\u0026comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-copy-source": "https://amandadev2.blob.core.windows.net/test-container-d2b60be1-c47a-3374-17d1-68e6c33f9cc4/test-blob-cfb34415-e759-0638-febb-28333e8fd805?sv=2024-05-04\u0026se=2024-03-28T23%3A01%3A06Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4EB1C9DC3AAD\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 23:01:08 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-content-crc64": "y8SsNRxskBY=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-d2b60be1-c47a-3374-17d1-68e6c33f9cc4?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 27 Mar 2024 23:01:07 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-03-27T16:01:06.4366950-07:00",
    "RandomSeed": "201293922",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
