{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-4776b943-b3f3-f2cc-8230-19f09c11bc64?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 09 Apr 2024 20:30:54 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC58D3F50041B2\u0022",
        "Last-Modified": "Tue, 09 Apr 2024 20:30:55 GMT",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-265df068-e148-b8c8-44ac-60781234f03a/test-blob-55c8f9dd-de05-3e50-3cc0-a4622809357d",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Tue, 09 Apr 2024 20:30:54 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC58D3F513A66E\u0022",
        "Last-Modified": "Tue, 09 Apr 2024 20:30:55 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-04-09T20:30:55.2817262Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-265df068-e148-b8c8-44ac-60781234f03a/test-blob-55c8f9dd-de05-3e50-3cc0-a4622809357d?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 09 Apr 2024 20:30:54 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": "zXqTsHOMJPAnMRu1SLnRHl2Xs6fqtV2o9gP8BJbqFuKpUnLoE8\u002Bc8izGubfFi4h2bslD8WDaxhcd67lvkCBaPRs5C/VG6QuN\u002BsF7JPym4mp7hZbMpiSBz4xbyygWLGILbHubi3\u002BSMIS\u002BtvefXqIbdghP9AqKjZf3tzxp6x3jd85fcLeBClbr6VQRDu8t4nHpP1QfxjhXgd7jpNRCKUVn2z4pQO7qmmyyYwu1eX\u002BnytXLf6vJxLCVB\u002B7YnWaCqL8PqjOxBKGC/qXnbGIsoQhfPNr\u002Bd6manRaOkzj/EfwGL7tLps9L9sUzSIAF4VdNaGXmeWCMhDEVdAwcInFog\u002B2o4T2n4fs5FEUUyi4plby/QCrTGZiceauKNTH[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-4776b943-b3f3-f2cc-8230-19f09c11bc64/test-blob-f3c708ed-0f18-1887-8f97-1f1b2dfd70ba",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "text/plain",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 09 Apr 2024 20:30:54 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": "hpldPK8MHBgCEy/LljcYAK\u002BQXxRv6MyQHViMtDmAhwqm5iSVMqJrF6AQaN4cdrQYLLFUg7Spt53NzR5WgGfegYwkJLASgs4NJUh0X4Duc6akdIeILANV/C6GyGSDFJc4MedR\u002BFIDBarjR11sNVcd3lp4sgvgVlWIzyeBi7lpihCxPC6ZnHpUoG/cpOSm6cfWaekKC2KLV9qSySgqgXnwebxMu/kphELfIxGcBLFw4eZgqyHPX3\u002BuJeRTBtJSKh/16ysoWS3NrOWnK\u002BdQ71MpIehCydZXIRo9npUU1n1vjfnyphiGSIi4kv48KDSYXTaRKeXqEGBInsoQ6rqYudZoN53tXkg6o9lfiTfXG/nmpEFeg6yYhX2ZqQhOdV3NH9ko0/CWq/7uVoYLioYocIL[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-4776b943-b3f3-f2cc-8230-19f09c11bc64/test-blob-f3c708ed-0f18-1887-8f97-1f1b2dfd70ba?sv=2024-05-04\u0026se=2024-04-10T20%3A30%3A54Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-MD5": "GNmKzlMscRsXv3BXqrqqQw==",
        "Content-Type": "text/plain",
        "ETag": "\u00220x8DC58D3F52A1157\u0022",
        "Last-Modified": "Tue, 09 Apr 2024 20:30:55 GMT",
        "x-ms-access-tier": "Cold",
        "x-ms-access-tier-change-time": "Tue, 09 Apr 2024 20:30:55 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 09 Apr 2024 20:30:55 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-04-09T20:30:55.4286423Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-265df068-e148-b8c8-44ac-60781234f03a/test-blob-55c8f9dd-de05-3e50-3cc0-a4622809357d?sv=2024-05-04\u0026se=2024-04-10T20%3A30%3A54Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-content-type": "text/plain",
        "x-ms-blob-type": "PageBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 409,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "BlobAlreadyExists",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003EBlobAlreadyExists\u003C/Code\u003E\u003CMessage\u003EThe specified blob already exists.\n",
        "RequestId:c139798e-a01e-0019-6ebc-8af55a000000\n",
        "Time:2024-04-09T20:30:55.6161747Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-4776b943-b3f3-f2cc-8230-19f09c11bc64?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 09 Apr 2024 20:30:55 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-04-09T13:30:54.9845849-07:00",
    "RandomSeed": "1475641930",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
