{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-600b126d-7844-2f49-694f-93f8885918b3?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 01 May 2024 20:36:50 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC6A1E6E4EFFE6\"",
        "Last-Modified": "Wed, 01 May 2024 20:36:51 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-d17d2c4e-a52e-d293-c4f4-81557afa88e0/test-blob-6069fe89-0df9-3cd4-d4c0-20dd45525f3c",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Wed, 01 May 2024 20:36:51 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC6A1E6E6C95A3\"",
        "Last-Modified": "Wed, 01 May 2024 20:36:51 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-05-01T20:36:51.3950893Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-d17d2c4e-a52e-d293-c4f4-81557afa88e0/test-blob-6069fe89-0df9-3cd4-d4c0-20dd45525f3c?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 01 May 2024 20:36:51 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "3aguLq/dsc+Knnr39g2EO4XqmJvTN7FyAymFx8quQAgsUba9jJNE1M3oRhtiApa0UEPrPchir6b3uyuFWOoE211yyqVXx67xpsTN6vGVDwCS0XeHwwJAyqEQxdFovnzj42q+8DjwXIiV+ZcElcW1Yqsq8oZyfRdaMv8ERgHciOdI6QaG1h/IonTu8clrPDXbW2IlPsv1cGZSY7447BaGuHGwvKu/LoyMYVAShItN7/bKKOuftkkcUnmgM3Nhj7VeZzlYun+KHCzWmdx64uvaBHPHbcMq5wEnk2kxH/oYK9Kbsx1S9TR2QAy+yR1soXCNxi7/mSHxM383MSYWWP0xvW4K3y7Ohw8+US23bB3kuvL5pFnMGZGwqoCdGsQNX+gPjAyuYsJBvz4fwEf0OcZhU3Y0HbSkZaP[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-600b126d-7844-2f49-694f-93f8885918b3/test-blob-8f139fcb-f8d1-8130-a35c-c2742311b6e8",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "text/plain",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 01 May 2024 20:36:51 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "v+rEBalpwFMPq9vTrdR+AEOxvcoMbGmDLxNQnkmvzM1grQHIPavjIaMf2lb0HBrNOyWrW1kgg1OAQNWVGCEJYN8Oc//StcKYzZsm7ZESjxP4gmMkBHFzQCqtR/zVTQiBFXp35qka+4ViEo2++ZbBbrHCnJa+5VtumjPVJG7Gw3+SpNcXm6hq3ofdwvHjtUaU69lKErFywzAeCUx1RdYXm08OK1S+qtIJWL4O4SNpiuTsQDmUe7DOIOGn+ZFc9Jixxiai1Yrx1kEGQbryY+IMtH5niQWdgiCfPwtzF7FBrGQmXRv9x7Va+2r3jjn13Lz+mkQS9WuSE0MFA5V+fr6QxZVWywbHD+3IDY6bpfTnqWNPdH1sLrf5k0nX98Qg23yrZ8iknxC1N4pWSufc925PHlkxLwpBI5bdXTi87xc[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-600b126d-7844-2f49-694f-93f8885918b3/test-blob-8f139fcb-f8d1-8130-a35c-c2742311b6e8?sv=2024-08-04&se=2024-05-02T20%3A36%3A51Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-MD5": "foJ1Sx2VjSmpgV2sO2wYyQ==",
        "Content-Type": "text/plain",
        "ETag": "\"0x8DC6A1E6E894129\"",
        "Last-Modified": "Wed, 01 May 2024 20:36:51 GMT",
        "x-ms-access-tier": "Cold",
        "x-ms-access-tier-change-time": "Wed, 01 May 2024 20:36:51 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 01 May 2024 20:36:51 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Wed, 01 May 2024 20:36:51 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-05-01T20:36:51.5819817Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-d17d2c4e-a52e-d293-c4f4-81557afa88e0/test-blob-6069fe89-0df9-3cd4-d4c0-20dd45525f3c?sv=2024-08-04&se=2024-05-02T20%3A36%3A51Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-content-type": "text/plain",
        "x-ms-blob-type": "PageBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 409,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "BlobAlreadyExists",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>BlobAlreadyExists</Code><Message>The specified blob already exists.\n",
        "RequestId:667b9db6-201e-0090-4307-9cabec000000\n",
        "Time:2024-05-01T20:36:51.7954191Z</Message></Error>"
      ]
    },
[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-600b126d-7844-2f49-694f-93f8885918b3?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 01 May 2024 20:36:51 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-05-01T13:36:51.2911916-07:00",
    "RandomSeed": "1328777692",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanada\nU2FuaXRpemVk\nhttps://seanmcccanada.blob.core.windows.net\nhttps://seanmcccanada.file.core.windows.net\nhttps://seanmcccanada.queue.core.windows.net\nhttps://seanmcccanada.table.core.windows.net\n\n\n\n\nhttps://seanmcccanada-secondary.blob.core.windows.net\nhttps://seanmcccanada-secondary.file.core.windows.net\nhttps://seanmcccanada-secondary.queue.core.windows.net\nhttps://seanmcccanada-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanada.blob.core.windows.net/;QueueEndpoint=https://seanmcccanada.queue.core.windows.net/;FileEndpoint=https://seanmcccanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanada-secondary.file.core.windows.net/;AccountName=seanmcccanada;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
