{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-ebf1943a-1b3e-843a-5b5d-d2aeb3676e21?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Thu, 28 Mar 2024 21:07:36 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4F6B1909CA36\u0022",
        "Last-Modified": "Thu, 28 Mar 2024 21:07:37 GMT",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-f3e0473d-2863-0e00-b387-42dfd7e52332/test-blob-1aeb712e-09cd-ace8-1b25-1c2b6272396c",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Thu, 28 Mar 2024 21:07:36 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4F6B191E4B4B\u0022",
        "Last-Modified": "Thu, 28 Mar 2024 21:07:38 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-03-28T21:07:38.1278539Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-f3e0473d-2863-0e00-b387-42dfd7e52332/test-blob-1aeb712e-09cd-ace8-1b25-1c2b6272396c?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 28 Mar 2024 21:07:36 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": "gb7iJcgu1EcINvCQ6OzRnB51nR6SC2hVd6qdfuM8ge8kJ72IIFMCoQkBzOJBHBQ\u002Bk7DPJW1dEXVVja4dkFZky7UAbMEuSHzLcvsUkT\u002BFFFqWX\u002BsybVuCxhZHMpOl5RCznQAtQLBTD0o0A7JxSIA20HhThzFrMV5ZfqWq5xbpJY3qYfM\u002BWNSqQ0\u002Bg/mmpEH6WEGEaUV3fSGyh08IKqCc0St0kh\u002BaM\u002BHijqUPhyjL1sG0mFNe0ztQvCxiGnIQSn5ona7SLhImXCRfpd6ga/n06rCNU45NQf3wJ9HvNBVv0kQmouV9\u002BaSvjjgu/y1crFQ2bTPBhvbsH1\u002Bs3go8NygO89OafcUQdu0L4cVSHkbQl3t9uMrhqk9[...]
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-ebf1943a-1b3e-843a-5b5d-d2aeb3676e21/test-blob-cbdf6f98-0480-ae45-418b-16762d7885bd?sv=2024-05-04\u0026se=2024-03-29T21%3A07%3A36Z\u0026sr=b\u0026sp=Sanitized\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "tphx3lOqBV7QnWli0l9/ng==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC4F6B193308D3\u0022",
        "Last-Modified": "Thu, 28 Mar 2024 21:07:38 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 28 Mar 2024 21:07:38 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-03-28T21:07:38.2637779Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-f3e0473d-2863-0e00-b387-42dfd7e52332/test-blob-1aeb712e-09cd-ace8-1b25-1c2b6272396c?sv=2024-05-04\u0026se=2024-03-29T21%3A07%3A36Z\u0026sr=b\u0026sp=Sanitized\u0026sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-content-type": "application/octet-stream",
        "x-ms-blob-type": "PageBlob",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 409,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "BlobAlreadyExists",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003EBlobAlreadyExists\u003C/Code\u003E\u003CMessage\u003EThe specified blob already exists.\n",
        "RequestId:5f16696b-101e-0051-0653-81e86d000000\n",
        "Time:2024-03-28T21:07:38.4330346Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-ebf1943a-1b3e-843a-5b5d-d2aeb3676e21?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 28 Mar 2024 21:07:36 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-03-28T14:07:36.4376913-07:00",
    "RandomSeed": "1496732825",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
