{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-6a31dbd2-7dfc-f6ac-f492-aeaa0bce0a25?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Tue, 09 Apr 2024 20:31:12 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC58D3FFA72C62\u0022",
        "Last-Modified": "Tue, 09 Apr 2024 20:31:13 GMT",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-83650e4f-42db-56f7-6944-62e281291a14/test-blob-31988bbd-4ef5-c799-b9b6-bc67c1b6e6c2",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Tue, 09 Apr 2024 20:31:12 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC58D3FFBB1EA7\u0022",
        "Last-Modified": "Tue, 09 Apr 2024 20:31:13 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-04-09T20:31:13.1564711Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-83650e4f-42db-56f7-6944-62e281291a14/test-blob-31988bbd-4ef5-c799-b9b6-bc67c1b6e6c2?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 09 Apr 2024 20:31:12 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": "ZV/UuBj9CHFFKXNLfP/PtFn8WUK5Iu7i7FIsmP6q7n27RMuBC7nRVQc7VNWyDOwwrX6V6ComrUNw8czG0HBzmzv1jzgzTaigKwM6fs0ZMN9l/Op/FQZSlJeIERnsC4WXx7mZvHy0/F/W9Lwn7C51VsHsYNSG9IY0o/ugqzuOsyB\u002Bo7YUf3NisQCKqCBJK6hpE7tXAKqxEdMyZBmBE1AkR0GcqEh3YNZOia/T\u002B0tl63dSN5iANrJ1zZLj4Rpa4J2vZmHerIJf8bLkCXb73RWHzXmhL9u4oxCPJ9u1k36886gRJJTqhz708kblnC07eu98XBShuLHB9sNQT4WnqV00KBbO6bmAnEU6rDyV0wfjU6zsOTdqGjr3UC3Rmje5TUjosXMWbZE2/L/OZgx0LCK7b[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-6a31dbd2-7dfc-f6ac-f492-aeaa0bce0a25/test-blob-209c6e82-e8a1-9ebb-4249-06aea32e5c7f",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "text/plain",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 09 Apr 2024 20:31:12 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": "bm7kUPxBD0zJd2KWkKlQSwHx/Y1fVHuAVZ2ydFzQXubb8cfDMqA\u002BtGQaODdLMO\u002BKO\u002BE7odALHRryY/pej5vv\u002BBh8up/hjRlhskkoRRxENSWuJzh7lb0W0NOt0M6l4CTJKj8ez3VQqK7I2e\u002BG49j9ri7UsGdjdGJbZenLNLxLu9IkXhrcJWavXX6Js7zOj\u002B36ryGg0S\u002B8Zrbdw2mMhXTxfB0cYYS\u002BIYnIJFPp2cGljNb70ISaq\u002BqiaPhj/mH8I9gJlzafsS1pPI6Y163c04z0NzeTkLTwV9EzevmLWiInywB630GLBtuokpT1AdM8xpVrb8YqaJMjGUBkazc03eFscQusYfNLaTFb6/0g\u002BlX\u002B9rRkH\u0[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-6a31dbd2-7dfc-f6ac-f492-aeaa0bce0a25/test-blob-209c6e82-e8a1-9ebb-4249-06aea32e5c7f?sv=2024-05-04\u0026se=2024-04-10T20%3A31%3A12Z\u0026sr=b\u0026sp=Sanitized\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-MD5": "jINjpAOwNBBmaE22YuAN\u002Bw==",
        "Content-Type": "text/plain",
        "ETag": "\u00220x8DC58D3FFCD6B76\u0022",
        "Last-Modified": "Tue, 09 Apr 2024 20:31:13 GMT",
        "x-ms-access-tier": "Cold",
        "x-ms-access-tier-change-time": "Tue, 09 Apr 2024 20:31:13 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 09 Apr 2024 20:31:13 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-04-09T20:31:13.2774012Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-83650e4f-42db-56f7-6944-62e281291a14/test-blob-31988bbd-4ef5-c799-b9b6-bc67c1b6e6c2?sv=2024-05-04\u0026se=2024-04-10T20%3A31%3A12Z\u0026sr=b\u0026sp=Sanitized\u0026sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-content-type": "text/plain",
        "x-ms-blob-type": "PageBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 409,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "BlobAlreadyExists",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003EBlobAlreadyExists\u003C/Code\u003E\u003CMessage\u003EThe specified blob already exists.\n",
        "RequestId:c139a763-a01e-0019-45bc-8af55a000000\n",
        "Time:2024-04-09T20:31:13.4303831Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-6a31dbd2-7dfc-f6ac-f492-aeaa0bce0a25?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 09 Apr 2024 20:31:13 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-04-09T13:31:12.8362002-07:00",
    "RandomSeed": "752863054",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
