{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-40efc616-c09e-7eb5-e52d-56f8741be7de?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 01 May 2024 20:36:47 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC6A1E6C76EB28\"",
        "Last-Modified": "Wed, 01 May 2024 20:36:48 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-2c776ae8-9ec6-c95d-5c22-5796d138bac8/test-blob-5fdeb423-5fa5-1a22-c9a0-80f35a91a4bf",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Wed, 01 May 2024 20:36:48 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC6A1E6C950D8A\"",
        "Last-Modified": "Wed, 01 May 2024 20:36:48 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-05-01T20:36:48.3038602Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-2c776ae8-9ec6-c95d-5c22-5796d138bac8/test-blob-5fdeb423-5fa5-1a22-c9a0-80f35a91a4bf?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 01 May 2024 20:36:48 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "N3tuWomB7x25kALnKRzYocIULirOhOXlcKtxrQhpO6/A9rlpDBEz2HtdBd1Ahj410HppamiWZrOWieneD0IVT1VTJjNjbpWw4FavcX4HpeltPNyO/9BGKpAF04InVcg4SLWI7GAL0mLluIkS5/U1juMAcdNlhlCEDPyjXZoSiYqOdinJfriJYWp6qEZHNEOb0ESeJ+T008FlBOBjaHTH0y//g3DLbBArdg9o694JPNi5B41Wc2KlmaNnZHnXJfn1stUXSLDSz2M0c7DVi+jiW8gIqmDmcWDMWerNYwiXVFEWcjgJ8vQn5jgpIv+y0A26hAixz3uYD0F0Su/GBWtbnR9fvxiv2WjT4cMnvE9gGojcEt7/5YTVfWP3lKgFYeHNzoXgUxH0C6ug3e64cFLyFC9m6fKMXLe[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-40efc616-c09e-7eb5-e52d-56f8741be7de/test-blob-a084da49-8449-f6da-c32b-3be6197e1f85",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "text/plain",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 01 May 2024 20:36:48 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "ARdPyjw+g/BINL1F9r2fr+9dbOu8tX0GC3DY8SqVW6Y7G2/En5NjP48VH048xVLbCfBf7bgGB0uaSb/LZpHGstgXCtpO2g9b+i1cp5UvykUe/eg6Nm3tNRQjKlbTl9n9Tm11JLt4jS7gA/OLqWC2an95rWipjHxrKtXGKq+5h2NTXlgouqWKpnC5WTJ5YouzbcDXWulwVMLwCfrlsWJ+J3yQN0sHjbDZ7wf37zJJ8chKErzv4S154wqVN7CqpPQOOjK26SpArN8Q/WrieWSQpxgym5+lj0ZOFlRBcVb/L0oS6bUAkwedCWbc3+PCl2qlBZCYdwlUaKvsZ9LW/zqJEc4gz4+vjxMQlZE5yLBii3/qm2vFZrdBvYEJFCw1xworU84Vosfa9nV8iOJ3G5/7idtT62POw6oW3xEOpXv[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-40efc616-c09e-7eb5-e52d-56f8741be7de/test-blob-a084da49-8449-f6da-c32b-3be6197e1f85?sv=2024-08-04&se=2024-05-02T20%3A36%3A48Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-MD5": "TnYxE/a3Bqpm6Ip7THsMGQ==",
        "Content-Type": "text/plain",
        "ETag": "\"0x8DC6A1E6CB22E34\"",
        "Last-Modified": "Wed, 01 May 2024 20:36:48 GMT",
        "x-ms-access-tier": "Cold",
        "x-ms-access-tier-change-time": "Wed, 01 May 2024 20:36:48 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 01 May 2024 20:36:48 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Wed, 01 May 2024 20:36:48 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-05-01T20:36:48.4957498Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-2c776ae8-9ec6-c95d-5c22-5796d138bac8/test-blob-5fdeb423-5fa5-1a22-c9a0-80f35a91a4bf?sv=2024-08-04&se=2024-05-02T20%3A36%3A48Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-content-type": "text/plain",
        "x-ms-blob-type": "PageBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 409,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "BlobAlreadyExists",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>BlobAlreadyExists</Code><Message>The specified blob already exists.\n",
        "RequestId:667b95f4-201e-0090-1807-9cabec000000\n",
        "Time:2024-05-01T20:36:48.7176384Z</Message></Error>"
      ]
    },
[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-40efc616-c09e-7eb5-e52d-56f8741be7de?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 01 May 2024 20:36:48 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-05-01T13:36:48.2027885-07:00",
    "RandomSeed": "1663748946",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanada\nU2FuaXRpemVk\nhttps://seanmcccanada.blob.core.windows.net\nhttps://seanmcccanada.file.core.windows.net\nhttps://seanmcccanada.queue.core.windows.net\nhttps://seanmcccanada.table.core.windows.net\n\n\n\n\nhttps://seanmcccanada-secondary.blob.core.windows.net\nhttps://seanmcccanada-secondary.file.core.windows.net\nhttps://seanmcccanada-secondary.queue.core.windows.net\nhttps://seanmcccanada-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanada.blob.core.windows.net/;QueueEndpoint=https://seanmcccanada.queue.core.windows.net/;FileEndpoint=https://seanmcccanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanada-secondary.file.core.windows.net/;AccountName=seanmcccanada;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
