{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/DataFactory-RG-472/providers/Microsoft.DataFactory/factories/DataFactory-8f3ac448-cc2b-385d-9e59-920e45a91645-5976?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "westus2",
        "properties": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1013"
      },
      "ResponseBody": {
        "name": "DataFactory-8f3ac448-cc2b-385d-9e59-920e45a91645-5976",
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-472/providers/Microsoft.DataFactory/factories/datafactory-8f3ac448-cc2b-385d-9e59-920e45a91645-5976",
        "type": "Microsoft.DataFactory/factories",
        "properties": {
          "provisioningState": "Succeeded",
          "createTime": "2023-11-04T11:02:01.2900658Z",
          "version": "2018-06-01"
        },
        "eTag": "\u00228d01d3e0-0000-0800-0000-654624a90000\u0022",
        "location": "westus2",
        "tags": {}
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-472/providers/Microsoft.DataFactory/factories/datafactory-8f3ac448-cc2b-385d-9e59-920e45a91645-5976/linkedservices/LinkedService126?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "AzureBlobStorage",
          "typeProperties": {
            "connectionString": "Sanitized"
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1012"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-472/providers/Microsoft.DataFactory/factories/datafactory-8f3ac448-cc2b-385d-9e59-920e45a91645-5976/linkedservices/LinkedService126",
        "name": "LinkedService126",
        "type": "Microsoft.DataFactory/factories/linkedservices",
        "properties": {
          "type": "AzureBlobStorage",
          "typeProperties": {
            "connectionString": "Sanitized"
          }
        },
        "etag": "0000b15b-0000-0800-0000-654624aa0000"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-472/providers/Microsoft.DataFactory/factories/datafactory-8f3ac448-cc2b-385d-9e59-920e45a91645-5976/datasets/dataset3136?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": null,
          "linkedServiceName": {
            "type": "LinkedServiceReference",
            "referenceName": "LinkedService126"
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1011"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-472/providers/Microsoft.DataFactory/factories/datafactory-8f3ac448-cc2b-385d-9e59-920e45a91645-5976/datasets/dataset3136",
        "name": "dataset3136",
        "type": "Microsoft.DataFactory/factories/datasets",
        "properties": {
          "type": null,
          "linkedServiceName": {
            "type": "LinkedServiceReference",
            "referenceName": "LinkedService126"
          }
        },
        "etag": "0000b35b-0000-0800-0000-654624aa0000"
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": null,
    "RandomSeed": "856120597",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "da1d7b9a-a759-41c8-bb73-093a1818e03a"
  }
}
