{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/DataFactory-RG-472/providers/Microsoft.DataFactory/factories/DataFactory-a8b3d594-2f06-3ee4-8254-9b1b30afe0e3-9196?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "westus2",
        "properties": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "830"
      },
      "ResponseBody": {
        "name": "DataFactory-a8b3d594-2f06-3ee4-8254-9b1b30afe0e3-9196",
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-472/providers/Microsoft.DataFactory/factories/datafactory-a8b3d594-2f06-3ee4-8254-9b1b30afe0e3-9196",
        "type": "Microsoft.DataFactory/factories",
        "properties": {
          "provisioningState": "Succeeded",
          "createTime": "2023-11-04T11:07:18.6121281Z",
          "version": "2018-06-01"
        },
        "eTag": "\u00228e018101-0000-0800-0000-654625e60000\u0022",
        "location": "westus2",
        "tags": {}
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-472/providers/Microsoft.DataFactory/factories/datafactory-a8b3d594-2f06-3ee4-8254-9b1b30afe0e3-9196/linkedservices/LinkedService4611?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "AzureBlobStorage",
          "typeProperties": {
            "connectionString": "Sanitized"
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "829"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-472/providers/Microsoft.DataFactory/factories/datafactory-a8b3d594-2f06-3ee4-8254-9b1b30afe0e3-9196/linkedservices/LinkedService4611",
        "name": "LinkedService4611",
        "type": "Microsoft.DataFactory/factories/linkedservices",
        "properties": {
          "type": "AzureBlobStorage",
          "typeProperties": {
            "connectionString": "Sanitized"
          }
        },
        "etag": "61016a82-0000-0800-0000-654625e70000"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-472/providers/Microsoft.DataFactory/factories/datafactory-a8b3d594-2f06-3ee4-8254-9b1b30afe0e3-9196/linkedservices/linkedSerivce-3220?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "GoogleBigQuery",
          "typeProperties": {
            "project": "project",
            "authenticationType": "ServiceAuthentication"
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "828"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-472/providers/Microsoft.DataFactory/factories/datafactory-a8b3d594-2f06-3ee4-8254-9b1b30afe0e3-9196/linkedservices/linkedSerivce-3220",
        "name": "linkedSerivce-3220",
        "type": "Microsoft.DataFactory/factories/linkedservices",
        "properties": {
          "type": "GoogleBigQuery",
          "typeProperties": {
            "project": "project",
            "authenticationType": "ServiceAuthentication"
          }
        },
        "etag": "61017282-0000-0800-0000-654625e70000"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-472/providers/Microsoft.DataFactory/factories/datafactory-a8b3d594-2f06-3ee4-8254-9b1b30afe0e3-9196/datasets/dataset9512?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "dbo",
          "linkedServiceName": {
            "type": "LinkedServiceReference",
            "referenceName": "linkedSerivce-3220"
          },
          "typeProperties": {
            "table": "testtable"
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "827"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-472/providers/Microsoft.DataFactory/factories/datafactory-a8b3d594-2f06-3ee4-8254-9b1b30afe0e3-9196/datasets/dataset9512",
        "name": "dataset9512",
        "type": "Microsoft.DataFactory/factories/datasets",
        "properties": {
          "type": "dbo",
          "linkedServiceName": {
            "type": "LinkedServiceReference",
            "referenceName": "linkedSerivce-3220"
          },
          "typeProperties": {
            "table": "testtable"
          }
        },
        "etag": "61017f82-0000-0800-0000-654625e80000"
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": null,
    "RandomSeed": "573796830",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "da1d7b9a-a759-41c8-bb73-093a1818e03a"
  }
}
