{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/4d042dc6-fe17-4698-a23f-ec6a8d1e98f4?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "3748",
        "x-ms-ratelimit-remaining-subscription-reads": "248"
      },
      "ResponseBody": {
        "id": "/subscriptions/4d042dc6-fe17-4698-a23f-ec6a8d1e98f4",
        "authorizationSource": "RoleBased",
        "managedByTenants": [
          {
            "tenantId": "00000000-0000-0000-0000-000000000000"
          }
        ],
        "tags": {
          "owners": "bebroder,wesh",
          "DoNotDelete": ""
        },
        "subscriptionId": "4d042dc6-fe17-4698-a23f-ec6a8d1e98f4",
        "tenantId": "00000000-0000-0000-0000-000000000000",
        "displayName": "Azure SDK Test Resources - TME",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/4d042dc6-fe17-4698-a23f-ec6a8d1e98f4/resourcegroups/adf-rg-mariadb-6300?api-version=2022-09-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westus2"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-writes": "2999",
        "x-ms-ratelimit-remaining-subscription-writes": "199"
      },
      "ResponseBody": {
        "id": "/subscriptions/4d042dc6-fe17-4698-a23f-ec6a8d1e98f4/resourceGroups/adf-rg-mariadb-6300",
        "name": "adf-rg-mariadb-6300",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "westus2",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/4d042dc6-fe17-4698-a23f-ec6a8d1e98f4/resourceGroups/adf-rg-mariadb-6300/providers/Microsoft.DataFactory/factories/adf-mariadb-7613?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westus2"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-writes": "2998",
        "x-ms-ratelimit-remaining-subscription-writes": "198"
      },
      "ResponseBody": {
        "name": "adf-mariadb-7613",
        "id": "/subscriptions/4d042dc6-fe17-4698-a23f-ec6a8d1e98f4/resourceGroups/adf-rg-mariadb-6300/providers/Microsoft.DataFactory/factories/adf-mariadb-7613",
        "type": "Microsoft.DataFactory/factories",
        "properties": {
          "provisioningState": "Succeeded",
          "createTime": "2026-05-25T09:25:34.3226438Z",
          "version": "2018-06-01"
        },
        "eTag": "\"60010c2d-0000-0800-0000-6a14158e0000\"",
        "location": "westus2",
        "tags": {}
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/4d042dc6-fe17-4698-a23f-ec6a8d1e98f4/resourceGroups/adf-rg-mariadb-6300/providers/Microsoft.Storage/storageAccounts/adfstorage8236?api-version=2025-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "sku": {
          "name": "Standard_LRS"
        },
        "kind": "BlobStorage",
        "location": "westus2",
        "properties": {
          "accessTier": "Hot"
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "text/plain; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/4d042dc6-fe17-4698-a23f-ec6a8d1e98f4/providers/Microsoft.Storage/locations/westus2/asyncoperations/495c8bc6-6177-4487-a00a-33f1c7a92a1d?monitor=true&api-version=2025-06-01&t=639152979384381389&c=MIIHlDCCBnygAwIBAgIQAcfN_Jd6ViGd1-EkFH97aDANBgkqhkiG9w0BAQsFADA2MTQwMgYDVQQDEytDQ01FIEcxIFRMUyBSU0EgMjA0OCBTSEEyNTYgMjA0OSBFVVMyIENBIDAxMB4XDTI2MDQwOTA0MzUxMFoXDTI2MTAwNDEwMzUxMFowQDE-MDwGA1UEAxM1YXN5bmNvcGVyYXRpb25zaWduaW5nY2VydGlmaWNhdGUubWFuYWdlbWVudC5henVy[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/4d042dc6-fe17-4698-a23f-ec6a8d1e98f4/providers/Microsoft.Storage/locations/westus2/asyncoperations/495c8bc6-6177-4487-a00a-33f1c7a92a1d?monitor=true&api-version=2025-06-01&t=639152979384381389&c=MIIHlDCCBnygAwIBAgIQAcfN_Jd6ViGd1-EkFH97aDANBgkqhkiG9w0BAQsFADA2MTQwMgYDVQQDEytDQ01FIEcxIFRMUyBSU0EgMjA0OCBTSEEyNTYgMjA0OSBFVVMyIENBIDAxMB4XDTI2MDQwOTA0MzUxMFoXDTI2MTAwNDEwMzUxMFowQDE-MDwGA1UEAxM1YXN5bmNvcGVyYXRpb25zaWduaW5nY2VydGlmaWN[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/4d042dc6-fe17-4698-a23f-ec6a8d1e98f4/providers/Microsoft.Storage/locations/westus2/asyncoperations/495c8bc6-6177-4487-a00a-33f1c7a92a1d?monitor=true&api-version=2025-06-01&t=639152979387480142&c=MIIHlDCCBnygAwIBAgIQLU6yx6y9jPEurD7KCoN5EzANBgkqhkiG9w0BAQsFADA2MTQwMgYDVQQDEytDQ01FIEcxIFRMUyBSU0EgMjA0OCBTSEEyNTYgMjA0OSBXVVMyIENBIDAxMB4XDTI2MDQwNzIzNDcxMFoXDTI2MTAwMzA1NDcxMFowQDE-MDwGA1UEAxM1YXN5bmNvcGVyYXRpb25zaWduaW5nY2VydGlmaWN[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/4d042dc6-fe17-4698-a23f-ec6a8d1e98f4/providers/Microsoft.Storage/locations/westus2/asyncoperations/495c8bc6-6177-4487-a00a-33f1c7a92a1d?monitor=true&api-version=2025-06-01&t=639152979560447839&c=MIIHlDCCBnygAwIBAgIQLU6yx6y9jPEurD7KCoN5EzANBgkqhkiG9w0BAQsFADA2MTQwMgYDVQQDEytDQ01FIEcxIFRMUyBSU0EgMjA0OCBTSEEyNTYgMjA0OSBXVVMyIENBIDAxMB4XDTI2MDQwNzIzNDcxMFoXDTI2MTAwMzA1NDcxMFowQDE-MDwGA1UEAxM1YXN5bmNvcGVyYXRpb25zaWduaW5nY2VydGlmaWN[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/4d042dc6-fe17-4698-a23f-ec6a8d1e98f4/resourceGroups/adf-rg-mariadb-6300/providers/Microsoft.Storage/storageAccounts/adfstorage8236/listKeys?api-version=2025-06-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "799"
      },
      "ResponseBody": {
        "keys": [
          {
            "creationTime": "2026-05-25T09:25:36.1935820Z",
            "keyName": "key1",
            "value": "Sanitized",
            "permissions": "FULL"
          },
          {
            "creationTime": "2026-05-25T09:25:36.1935820Z",
            "keyName": "key2",
            "value": "Sanitized",
            "permissions": "FULL"
          }
        ]
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/4d042dc6-fe17-4698-a23f-ec6a8d1e98f4/resourceGroups/adf-rg-mariadb-6300/providers/Microsoft.DataFactory/factories/adf-mariadb-7613/linkedservices/adf-linkedservice-mariadb-7822?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "AzureBlobStorage",
          "typeProperties": {
            "connectionString": "Sanitized"
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-writes": "2999",
        "x-ms-ratelimit-remaining-subscription-writes": "199"
      },
      "ResponseBody": {
        "id": "/subscriptions/4d042dc6-fe17-4698-a23f-ec6a8d1e98f4/resourceGroups/adf-rg-mariadb-6300/providers/Microsoft.DataFactory/factories/adf-mariadb-7613/linkedservices/adf-linkedservice-mariadb-7822",
        "name": "adf-linkedservice-mariadb-7822",
        "type": "Microsoft.DataFactory/factories/linkedservices",
        "properties": {
          "type": "AzureBlobStorage",
          "typeProperties": {
            "connectionString": "Sanitized"
          }
        },
        "etag": "4b00d62d-0000-0800-0000-6a1415a80000"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/4d042dc6-fe17-4698-a23f-ec6a8d1e98f4/resourceGroups/adf-rg-mariadb-6300/providers/Microsoft.DataFactory/factories/adf-mariadb-7613/datasets/adf-dataset-mariadb-3118?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "MariaDBTable",
          "linkedServiceName": {
            "type": "LinkedServiceReference",
            "referenceName": "adf-linkedservice-mariadb-7822"
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-writes": "2998",
        "x-ms-ratelimit-remaining-subscription-writes": "198"
      },
      "ResponseBody": {
        "id": "/subscriptions/4d042dc6-fe17-4698-a23f-ec6a8d1e98f4/resourceGroups/adf-rg-mariadb-6300/providers/Microsoft.DataFactory/factories/adf-mariadb-7613/datasets/adf-dataset-mariadb-3118",
        "name": "adf-dataset-mariadb-3118",
        "type": "Microsoft.DataFactory/factories/datasets",
        "properties": {
          "type": "MariaDBTable",
          "linkedServiceName": {
            "type": "LinkedServiceReference",
            "referenceName": "adf-linkedservice-mariadb-7822"
          }
        },
        "etag": "4b00e52d-0000-0800-0000-6a1415a90000"
      }
    }
  ],
  "Variables": {
    "RandomSeed": "325946332",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "4d042dc6-fe17-4698-a23f-ec6a8d1e98f4"
  }
}
