{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/DataFactory-RG-7814/providers/Microsoft.DataFactory/factories/DataFactory-c67a6545-271f-3b7f-8bc6-db04fe6d0ffb-1963?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "westus2",
        "properties": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1189"
      },
      "ResponseBody": {
        "name": "DataFactory-c67a6545-271f-3b7f-8bc6-db04fe6d0ffb-1963",
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-7814/providers/Microsoft.DataFactory/factories/datafactory-c67a6545-271f-3b7f-8bc6-db04fe6d0ffb-1963",
        "type": "Microsoft.DataFactory/factories",
        "properties": {
          "provisioningState": "Succeeded",
          "createTime": "2023-11-07T05:05:07.1623031Z",
          "version": "2018-06-01"
        },
        "eTag": "\u0022f2011f02-0000-0800-0000-6549c5830000\u0022",
        "location": "westus2",
        "tags": {}
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-7814/providers/Microsoft.DataFactory/factories/datafactory-c67a6545-271f-3b7f-8bc6-db04fe6d0ffb-1963/linkedservices/LinkedService9587?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "AzureBlobStorage",
          "typeProperties": {
            "connectionString": "Sanitized"
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1187"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-7814/providers/Microsoft.DataFactory/factories/datafactory-c67a6545-271f-3b7f-8bc6-db04fe6d0ffb-1963/linkedservices/LinkedService9587",
        "name": "LinkedService9587",
        "type": "Microsoft.DataFactory/factories/linkedservices",
        "properties": {
          "type": "AzureBlobStorage",
          "typeProperties": {
            "connectionString": "Sanitized"
          }
        },
        "etag": "200070ad-0000-0800-0000-6549c5840000"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-7814/providers/Microsoft.DataFactory/factories/datafactory-c67a6545-271f-3b7f-8bc6-db04fe6d0ffb-1963/linkedservices/linkedSerivce-8555?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "Square",
          "typeProperties": {
            "host": "mystore.mysquare.com",
            "clientId": "clientIdFake",
            "clientSecret": {
              "value": "some secret",
              "type": "SecureString"
            },
            "redirectUri": "http://localhost:2500",
            "useEncryptedEndpoints": true,
            "useHostVerification": true,
            "usePeerVerification": true
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1187"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-7814/providers/Microsoft.DataFactory/factories/datafactory-c67a6545-271f-3b7f-8bc6-db04fe6d0ffb-1963/linkedservices/linkedSerivce-8555",
        "name": "linkedSerivce-8555",
        "type": "Microsoft.DataFactory/factories/linkedservices",
        "properties": {
          "type": "Square",
          "typeProperties": {
            "host": "mystore.mysquare.com",
            "clientId": "clientIdFake",
            "redirectUri": "http://localhost:2500",
            "useEncryptedEndpoints": true,
            "useHostVerification": true,
            "usePeerVerification": true,
            "encryptedCredential": "ew0KICAiVmVyc2lvbiI6ICIyMDE3LTExLTMwIiwNCiAgIlByb3RlY3Rpb25Nb2RlIjogIktleSIsDQogICJTZWNyZXRDb250ZW50VHlwZSI6ICJQbGFpbnRleHQiLA0KICAiQ3JlZGVudGlhbElkIjogIkRBVEFGQUNUT1JZQDI2OTdFMUNELTQ3RTMtNDJCMS05RTUyLTAxOTZENzA2QkIwQV9mOTRiZWY0Ny0xNTZmLTQyMGMtOTAyMC04MmZkZTdmOTcyYjAiDQp9"
          }
        },
        "etag": "200072ad-0000-0800-0000-6549c5850000"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-7814/providers/Microsoft.DataFactory/factories/datafactory-c67a6545-271f-3b7f-8bc6-db04fe6d0ffb-1963/datasets/dataset9080?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "SquareObject",
          "linkedServiceName": {
            "type": "LinkedServiceReference",
            "referenceName": "linkedSerivce-8555"
          },
          "typeProperties": {}
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1193"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-7814/providers/Microsoft.DataFactory/factories/datafactory-c67a6545-271f-3b7f-8bc6-db04fe6d0ffb-1963/datasets/dataset9080",
        "name": "dataset9080",
        "type": "Microsoft.DataFactory/factories/datasets",
        "properties": {
          "type": "SquareObject",
          "linkedServiceName": {
            "type": "LinkedServiceReference",
            "referenceName": "linkedSerivce-8555"
          },
          "typeProperties": {}
        },
        "etag": "200074ad-0000-0800-0000-6549c5850000"
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": null,
    "RandomSeed": "733575451",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "da1d7b9a-a759-41c8-bb73-093a1818e03a"
  }
}
