{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/DataFactory-RG-472/providers/Microsoft.DataFactory/factories/DataFactory-c98f9f91-2370-3d58-a0a3-d23d46b1c886-3396?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "westus2",
        "properties": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "858"
      },
      "ResponseBody": {
        "name": "DataFactory-c98f9f91-2370-3d58-a0a3-d23d46b1c886-3396",
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-472/providers/Microsoft.DataFactory/factories/datafactory-c98f9f91-2370-3d58-a0a3-d23d46b1c886-3396",
        "type": "Microsoft.DataFactory/factories",
        "properties": {
          "provisioningState": "Succeeded",
          "createTime": "2023-11-04T11:06:29.4942842Z",
          "version": "2018-06-01"
        },
        "eTag": "\u00228d01f9fb-0000-0800-0000-654625b50000\u0022",
        "location": "westus2",
        "tags": {}
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-472/providers/Microsoft.DataFactory/factories/datafactory-c98f9f91-2370-3d58-a0a3-d23d46b1c886-3396/linkedservices/LinkedService2643?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "AzureBlobStorage",
          "typeProperties": {
            "connectionString": "Sanitized"
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "857"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-472/providers/Microsoft.DataFactory/factories/datafactory-c98f9f91-2370-3d58-a0a3-d23d46b1c886-3396/linkedservices/LinkedService2643",
        "name": "LinkedService2643",
        "type": "Microsoft.DataFactory/factories/linkedservices",
        "properties": {
          "type": "AzureBlobStorage",
          "typeProperties": {
            "connectionString": "Sanitized"
          }
        },
        "etag": "14009650-0000-0800-0000-654625b60000"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-472/providers/Microsoft.DataFactory/factories/datafactory-c98f9f91-2370-3d58-a0a3-d23d46b1c886-3396/linkedservices/linkedSerivce-7015?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "Drill",
          "typeProperties": {
            "connectionString": {
              "value": "some connection string",
              "type": "SecureString"
            }
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "856"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-472/providers/Microsoft.DataFactory/factories/datafactory-c98f9f91-2370-3d58-a0a3-d23d46b1c886-3396/linkedservices/linkedSerivce-7015",
        "name": "linkedSerivce-7015",
        "type": "Microsoft.DataFactory/factories/linkedservices",
        "properties": {
          "type": "Drill",
          "typeProperties": {
            "connectionString": {
              "type": "SecureString",
              "value": "**********"
            }
          }
        },
        "etag": "14009850-0000-0800-0000-654625b60000"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-472/providers/Microsoft.DataFactory/factories/datafactory-c98f9f91-2370-3d58-a0a3-d23d46b1c886-3396/datasets/dataset4720?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "DrillTable",
          "linkedServiceName": {
            "type": "LinkedServiceReference",
            "referenceName": "linkedSerivce-7015"
          },
          "typeProperties": {
            "table": "testtable",
            "schema": "dbo"
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "855"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-472/providers/Microsoft.DataFactory/factories/datafactory-c98f9f91-2370-3d58-a0a3-d23d46b1c886-3396/datasets/dataset4720",
        "name": "dataset4720",
        "type": "Microsoft.DataFactory/factories/datasets",
        "properties": {
          "type": "DrillTable",
          "linkedServiceName": {
            "type": "LinkedServiceReference",
            "referenceName": "linkedSerivce-7015"
          },
          "typeProperties": {
            "table": "testtable",
            "schema": "dbo"
          }
        },
        "etag": "14009a50-0000-0800-0000-654625b70000"
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": null,
    "RandomSeed": "2035693089",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "da1d7b9a-a759-41c8-bb73-093a1818e03a"
  }
}
