{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/DataFactory-RG-472/providers/Microsoft.DataFactory/factories/DataFactory-0b0cf9cc-a1a2-331d-a0dc-2c532b6e938e-4542?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "westus2",
        "properties": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "726"
      },
      "ResponseBody": {
        "name": "DataFactory-0b0cf9cc-a1a2-331d-a0dc-2c532b6e938e-4542",
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-472/providers/Microsoft.DataFactory/factories/datafactory-0b0cf9cc-a1a2-331d-a0dc-2c532b6e938e-4542",
        "type": "Microsoft.DataFactory/factories",
        "properties": {
          "provisioningState": "Succeeded",
          "createTime": "2023-11-04T11:10:11.7164037Z",
          "version": "2018-06-01"
        },
        "eTag": "\u00228e014b13-0000-0800-0000-654626930000\u0022",
        "location": "westus2",
        "tags": {}
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-472/providers/Microsoft.DataFactory/factories/datafactory-0b0cf9cc-a1a2-331d-a0dc-2c532b6e938e-4542/linkedservices/LinkedService1385?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "AzureBlobStorage",
          "typeProperties": {
            "connectionString": "Sanitized"
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "725"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-472/providers/Microsoft.DataFactory/factories/datafactory-0b0cf9cc-a1a2-331d-a0dc-2c532b6e938e-4542/linkedservices/LinkedService1385",
        "name": "LinkedService1385",
        "type": "Microsoft.DataFactory/factories/linkedservices",
        "properties": {
          "type": "AzureBlobStorage",
          "typeProperties": {
            "connectionString": "Sanitized"
          }
        },
        "etag": "3b0086db-0000-0800-0000-654626940000"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-472/providers/Microsoft.DataFactory/factories/datafactory-0b0cf9cc-a1a2-331d-a0dc-2c532b6e938e-4542/linkedservices/linkedSerivce-2673?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "AzureBlobStorage",
          "typeProperties": {
            "connectionString": "Sanitized"
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "724"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-472/providers/Microsoft.DataFactory/factories/datafactory-0b0cf9cc-a1a2-331d-a0dc-2c532b6e938e-4542/linkedservices/linkedSerivce-2673",
        "name": "linkedSerivce-2673",
        "type": "Microsoft.DataFactory/factories/linkedservices",
        "properties": {
          "type": "AzureBlobStorage",
          "typeProperties": {
            "connectionString": "Sanitized",
            "encryptedCredential": "ew0KICAiVmVyc2lvbiI6ICIyMDE3LTExLTMwIiwNCiAgIlByb3RlY3Rpb25Nb2RlIjogIktleSIsDQogICJTZWNyZXRDb250ZW50VHlwZSI6ICJQbGFpbnRleHQiLA0KICAiQ3JlZGVudGlhbElkIjogIkRBVEFGQUNUT1JZQDM5QTNCMjQ2LUYxRTktNDc4Mi04QUQwLUZCRTUzOTNERTc1Q19lZGMyMjM3My0xMmZkLTQ4Y2ItOWM1NC1hOGJjM2U0OTZkNjkiDQp9"
          }
        },
        "etag": "3b0089db-0000-0800-0000-654626950000"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-472/providers/Microsoft.DataFactory/factories/datafactory-0b0cf9cc-a1a2-331d-a0dc-2c532b6e938e-4542/datasets/dataset191?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "Parquet",
          "schema": [
            {
              "name": "col1",
              "type": "INT_32"
            },
            {
              "name": "col2",
              "type": "Decimal",
              "scale": 2,
              "precision": 38
            }
          ],
          "linkedServiceName": {
            "type": "LinkedServiceReference",
            "referenceName": "linkedSerivce-2673"
          },
          "typeProperties": {
            "location": {
              "container": "ContainerName",
              "type": "AzureBlobStorageLocation",
              "folderPath": "dataflow/test/input",
              "fileName": "data.parquet"
            },
            "compressionCodec": "gzip"
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "723"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-472/providers/Microsoft.DataFactory/factories/datafactory-0b0cf9cc-a1a2-331d-a0dc-2c532b6e938e-4542/datasets/dataset191",
        "name": "dataset191",
        "type": "Microsoft.DataFactory/factories/datasets",
        "properties": {
          "type": "Parquet",
          "schema": [
            {
              "name": "col1",
              "type": "INT_32"
            },
            {
              "name": "col2",
              "type": "Decimal",
              "scale": 2,
              "precision": 38
            }
          ],
          "linkedServiceName": {
            "type": "LinkedServiceReference",
            "referenceName": "linkedSerivce-2673"
          },
          "typeProperties": {
            "location": {
              "container": "ContainerName",
              "type": "AzureBlobStorageLocation",
              "folderPath": "dataflow/test/input",
              "fileName": "data.parquet"
            },
            "compressionCodec": "gzip"
          }
        },
        "etag": "3b008fdb-0000-0800-0000-654626950000"
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": null,
    "RandomSeed": "500481337",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "da1d7b9a-a759-41c8-bb73-093a1818e03a"
  }
}
