{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/DataFactory-RG-8150/providers/Microsoft.DataFactory/factories/DataFactory-2bd8a864-857f-340a-9c9b-79e8694347dc-4187?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "westus2",
        "properties": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1162"
      },
      "ResponseBody": {
        "name": "DataFactory-2bd8a864-857f-340a-9c9b-79e8694347dc-4187",
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-8150/providers/Microsoft.DataFactory/factories/datafactory-2bd8a864-857f-340a-9c9b-79e8694347dc-4187",
        "type": "Microsoft.DataFactory/factories",
        "properties": {
          "provisioningState": "Succeeded",
          "createTime": "2023-11-04T10:33:26.4473714Z",
          "version": "2018-06-01"
        },
        "eTag": "\u00228d01d03b-0000-0800-0000-65461df60000\u0022",
        "location": "westus2",
        "tags": {}
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-8150/providers/Microsoft.DataFactory/factories/datafactory-2bd8a864-857f-340a-9c9b-79e8694347dc-4187/linkedservices/LinkedService8742?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "AzureBlobStorage",
          "typeProperties": {
            "connectionString": "Sanitized"
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1161"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-8150/providers/Microsoft.DataFactory/factories/datafactory-2bd8a864-857f-340a-9c9b-79e8694347dc-4187/linkedservices/LinkedService8742",
        "name": "LinkedService8742",
        "type": "Microsoft.DataFactory/factories/linkedservices",
        "properties": {
          "type": "AzureBlobStorage",
          "typeProperties": {
            "connectionString": "Sanitized"
          }
        },
        "etag": "1a00d221-0000-0800-0000-65461df70000"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-8150/providers/Microsoft.DataFactory/factories/datafactory-2bd8a864-857f-340a-9c9b-79e8694347dc-4187/linkedservices/linkedSerivce-4778?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "AzureDataExplorer",
          "typeProperties": {
            "endpoint": "https://fakecluster.eastus2.kusto.windows.net",
            "servicePrincipalId": "fakeSPID",
            "servicePrincipalKey": {
              "value": "fakepwd",
              "type": "SecureString"
            },
            "database": "MyDatabase",
            "tenant": "faketenant"
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1160"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-8150/providers/Microsoft.DataFactory/factories/datafactory-2bd8a864-857f-340a-9c9b-79e8694347dc-4187/linkedservices/linkedSerivce-4778",
        "name": "linkedSerivce-4778",
        "type": "Microsoft.DataFactory/factories/linkedservices",
        "properties": {
          "type": "AzureDataExplorer",
          "typeProperties": {
            "endpoint": "https://fakecluster.eastus2.kusto.windows.net",
            "servicePrincipalId": "fakeSPID",
            "database": "MyDatabase",
            "tenant": "faketenant",
            "encryptedCredential": "ew0KICAiVmVyc2lvbiI6ICIyMDE3LTExLTMwIiwNCiAgIlByb3RlY3Rpb25Nb2RlIjogIktleSIsDQogICJTZWNyZXRDb250ZW50VHlwZSI6ICJQbGFpbnRleHQiLA0KICAiQ3JlZGVudGlhbElkIjogIkRBVEFGQUNUT1JZQDZENTZCODgzLUZGRUItNDE5MC1COUE2LTgyNzVGNzdGQ0ZEM18zNmRmYWJjMy01M2M4LTQzNDYtYWEyMi1mMTZmYzliNDBiZDkiDQp9"
          }
        },
        "etag": "1a00d421-0000-0800-0000-65461df70000"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-8150/providers/Microsoft.DataFactory/factories/datafactory-2bd8a864-857f-340a-9c9b-79e8694347dc-4187/datasets/dataset7163?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "AzureDataExplorerTable",
          "linkedServiceName": {
            "type": "LinkedServiceReference",
            "referenceName": "linkedSerivce-4778"
          },
          "typeProperties": {
            "table": "mytable"
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1159"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-8150/providers/Microsoft.DataFactory/factories/datafactory-2bd8a864-857f-340a-9c9b-79e8694347dc-4187/datasets/dataset7163",
        "name": "dataset7163",
        "type": "Microsoft.DataFactory/factories/datasets",
        "properties": {
          "type": "AzureDataExplorerTable",
          "linkedServiceName": {
            "type": "LinkedServiceReference",
            "referenceName": "linkedSerivce-4778"
          },
          "typeProperties": {
            "table": "mytable"
          }
        },
        "etag": "1a00d721-0000-0800-0000-65461df80000"
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": null,
    "RandomSeed": "1266136316",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "da1d7b9a-a759-41c8-bb73-093a1818e03a"
  }
}
