{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/DataFactory-RG-8150/providers/Microsoft.DataFactory/factories/DataFactory-d2ede1a6-7e81-3c3c-9b7a-d530155a988c-8076?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "westus2",
        "properties": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1107"
      },
      "ResponseBody": {
        "name": "DataFactory-d2ede1a6-7e81-3c3c-9b7a-d530155a988c-8076",
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-8150/providers/Microsoft.DataFactory/factories/datafactory-d2ede1a6-7e81-3c3c-9b7a-d530155a988c-8076",
        "type": "Microsoft.DataFactory/factories",
        "properties": {
          "provisioningState": "Succeeded",
          "createTime": "2023-11-04T10:58:46.5648941Z",
          "version": "2018-06-01"
        },
        "eTag": "\u00228d01a9cd-0000-0800-0000-654623e60000\u0022",
        "location": "westus2",
        "tags": {}
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-8150/providers/Microsoft.DataFactory/factories/datafactory-d2ede1a6-7e81-3c3c-9b7a-d530155a988c-8076/linkedservices/LinkedService7116?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "AzureBlobStorage",
          "typeProperties": {
            "connectionString": "Sanitized"
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1106"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-8150/providers/Microsoft.DataFactory/factories/datafactory-d2ede1a6-7e81-3c3c-9b7a-d530155a988c-8076/linkedservices/LinkedService7116",
        "name": "LinkedService7116",
        "type": "Microsoft.DataFactory/factories/linkedservices",
        "properties": {
          "type": "AzureBlobStorage",
          "typeProperties": {
            "connectionString": "Sanitized"
          }
        },
        "etag": "05004429-0000-0800-0000-654623e70000"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-8150/providers/Microsoft.DataFactory/factories/datafactory-d2ede1a6-7e81-3c3c-9b7a-d530155a988c-8076/linkedservices/linkedSerivce-6895?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "SapCloudForCustomer",
          "typeProperties": {
            "url": "www.fakeuri.com",
            "username": "fakeUsername",
            "password": {
              "value": "fakePassword",
              "type": "SecureString"
            }
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1105"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-8150/providers/Microsoft.DataFactory/factories/datafactory-d2ede1a6-7e81-3c3c-9b7a-d530155a988c-8076/linkedservices/linkedSerivce-6895",
        "name": "linkedSerivce-6895",
        "type": "Microsoft.DataFactory/factories/linkedservices",
        "properties": {
          "type": "SapCloudForCustomer",
          "typeProperties": {
            "url": "www.fakeuri.com",
            "username": "fakeUsername",
            "encryptedCredential": "ew0KICAiVmVyc2lvbiI6ICIyMDE3LTExLTMwIiwNCiAgIlByb3RlY3Rpb25Nb2RlIjogIktleSIsDQogICJTZWNyZXRDb250ZW50VHlwZSI6ICJQbGFpbnRleHQiLA0KICAiQ3JlZGVudGlhbElkIjogIkRBVEFGQUNUT1JZQDIyQjk0OEI1LUVDN0UtNDBDOS1CRkI2LTcwREU5NkUyQzFDN181MGMzOWFjYS1hZTkzLTQ5YWEtYWE2MC00MTZhZjI2OTIxMjQiDQp9"
          }
        },
        "etag": "05004629-0000-0800-0000-654623e70000"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-8150/providers/Microsoft.DataFactory/factories/datafactory-d2ede1a6-7e81-3c3c-9b7a-d530155a988c-8076/datasets/dataset4741?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "SapCloudForCustomerResource",
          "linkedServiceName": {
            "type": "LinkedServiceReference",
            "referenceName": "linkedSerivce-6895"
          },
          "typeProperties": {
            "path": "LeadCollection"
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1104"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-8150/providers/Microsoft.DataFactory/factories/datafactory-d2ede1a6-7e81-3c3c-9b7a-d530155a988c-8076/datasets/dataset4741",
        "name": "dataset4741",
        "type": "Microsoft.DataFactory/factories/datasets",
        "properties": {
          "type": "SapCloudForCustomerResource",
          "linkedServiceName": {
            "type": "LinkedServiceReference",
            "referenceName": "linkedSerivce-6895"
          },
          "typeProperties": {
            "path": "LeadCollection"
          }
        },
        "etag": "05004829-0000-0800-0000-654623e80000"
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": null,
    "RandomSeed": "677920316",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "da1d7b9a-a759-41c8-bb73-093a1818e03a"
  }
}
