{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/DataFactory-RG-7814/providers/Microsoft.DataFactory/factories/DataFactory-a8b3d594-2f06-3ee4-8254-9b1b30afe0e3-2942?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "westus2",
        "properties": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1194"
      },
      "ResponseBody": {
        "name": "DataFactory-a8b3d594-2f06-3ee4-8254-9b1b30afe0e3-2942",
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-7814/providers/Microsoft.DataFactory/factories/datafactory-a8b3d594-2f06-3ee4-8254-9b1b30afe0e3-2942",
        "type": "Microsoft.DataFactory/factories",
        "properties": {
          "provisioningState": "Succeeded",
          "createTime": "2023-11-07T04:57:43.6873865Z",
          "version": "2018-06-01"
        },
        "eTag": "\u0022f1011ed7-0000-0800-0000-6549c3c70000\u0022",
        "location": "westus2",
        "tags": {}
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-7814/providers/Microsoft.DataFactory/factories/datafactory-a8b3d594-2f06-3ee4-8254-9b1b30afe0e3-2942/linkedservices/LinkedService4257?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "AzureBlobStorage",
          "typeProperties": {
            "connectionString": "Sanitized"
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1193"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-7814/providers/Microsoft.DataFactory/factories/datafactory-a8b3d594-2f06-3ee4-8254-9b1b30afe0e3-2942/linkedservices/LinkedService4257",
        "name": "LinkedService4257",
        "type": "Microsoft.DataFactory/factories/linkedservices",
        "properties": {
          "type": "AzureBlobStorage",
          "typeProperties": {
            "connectionString": "Sanitized"
          }
        },
        "etag": "0c0005ae-0000-0800-0000-6549c3c80000"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-7814/providers/Microsoft.DataFactory/factories/datafactory-a8b3d594-2f06-3ee4-8254-9b1b30afe0e3-2942/linkedservices/linkedSerivce-1443?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "GoogleBigQuery",
          "typeProperties": {
            "project": "project",
            "authenticationType": "ServiceAuthentication"
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1195"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-7814/providers/Microsoft.DataFactory/factories/datafactory-a8b3d594-2f06-3ee4-8254-9b1b30afe0e3-2942/linkedservices/linkedSerivce-1443",
        "name": "linkedSerivce-1443",
        "type": "Microsoft.DataFactory/factories/linkedservices",
        "properties": {
          "type": "GoogleBigQuery",
          "typeProperties": {
            "project": "project",
            "authenticationType": "ServiceAuthentication"
          }
        },
        "etag": "0c0007ae-0000-0800-0000-6549c3c90000"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-7814/providers/Microsoft.DataFactory/factories/datafactory-a8b3d594-2f06-3ee4-8254-9b1b30afe0e3-2942/datasets/dataset9416?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "dbo",
          "linkedServiceName": {
            "type": "LinkedServiceReference",
            "referenceName": "linkedSerivce-1443"
          },
          "typeProperties": {
            "table": "testtable"
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1195"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-7814/providers/Microsoft.DataFactory/factories/datafactory-a8b3d594-2f06-3ee4-8254-9b1b30afe0e3-2942/datasets/dataset9416",
        "name": "dataset9416",
        "type": "Microsoft.DataFactory/factories/datasets",
        "properties": {
          "type": "dbo",
          "linkedServiceName": {
            "type": "LinkedServiceReference",
            "referenceName": "linkedSerivce-1443"
          },
          "typeProperties": {
            "table": "testtable"
          }
        },
        "etag": "0c0009ae-0000-0800-0000-6549c3ca0000"
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": null,
    "RandomSeed": "1908607911",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "da1d7b9a-a759-41c8-bb73-093a1818e03a"
  }
}
