{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/4d042dc6-fe17-4698-a23f-ec6a8d1e98f4?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "3747",
        "x-ms-ratelimit-remaining-subscription-reads": "247"
      },
      "ResponseBody": {
        "id": "/subscriptions/4d042dc6-fe17-4698-a23f-ec6a8d1e98f4",
        "authorizationSource": "RoleBased",
        "managedByTenants": [
          {
            "tenantId": "00000000-0000-0000-0000-000000000000"
          }
        ],
        "tags": {
          "owners": "bebroder,wesh",
          "DoNotDelete": ""
        },
        "subscriptionId": "4d042dc6-fe17-4698-a23f-ec6a8d1e98f4",
        "tenantId": "00000000-0000-0000-0000-000000000000",
        "displayName": "Azure SDK Test Resources - TME",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/4d042dc6-fe17-4698-a23f-ec6a8d1e98f4/resourcegroups/adf-rg-amysqlt-6352?api-version=2022-09-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westus2"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-writes": "2999",
        "x-ms-ratelimit-remaining-subscription-writes": "199"
      },
      "ResponseBody": {
        "id": "/subscriptions/4d042dc6-fe17-4698-a23f-ec6a8d1e98f4/resourceGroups/adf-rg-amysqlt-6352",
        "name": "adf-rg-amysqlt-6352",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "westus2",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/4d042dc6-fe17-4698-a23f-ec6a8d1e98f4/resourceGroups/adf-rg-amysqlt-6352/providers/Microsoft.DataFactory/factories/adf-amysqlt-7181?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westus2"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-writes": "2999",
        "x-ms-ratelimit-remaining-subscription-writes": "199"
      },
      "ResponseBody": {
        "name": "adf-amysqlt-7181",
        "id": "/subscriptions/4d042dc6-fe17-4698-a23f-ec6a8d1e98f4/resourceGroups/adf-rg-amysqlt-6352/providers/Microsoft.DataFactory/factories/adf-amysqlt-7181",
        "type": "Microsoft.DataFactory/factories",
        "properties": {
          "provisioningState": "Succeeded",
          "createTime": "2026-05-25T08:13:12.0846758Z",
          "version": "2018-06-01"
        },
        "eTag": "\"5f0123a1-0000-0800-0000-6a1404980000\"",
        "location": "westus2",
        "tags": {}
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/4d042dc6-fe17-4698-a23f-ec6a8d1e98f4/resourceGroups/adf-rg-amysqlt-6352/providers/Microsoft.Storage/storageAccounts/adfstorage5545?api-version=2025-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "sku": {
          "name": "Standard_LRS"
        },
        "kind": "BlobStorage",
        "location": "westus2",
        "properties": {
          "accessTier": "Hot"
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "text/plain; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/4d042dc6-fe17-4698-a23f-ec6a8d1e98f4/providers/Microsoft.Storage/locations/westus2/asyncoperations/967c67bb-71d7-4117-9c77-5733583825b4?monitor=true&api-version=2025-06-01&t=639152935962579320&c=MIIHlDCCBnygAwIBAgIQAcfN_Jd6ViGd1-EkFH97aDANBgkqhkiG9w0BAQsFADA2MTQwMgYDVQQDEytDQ01FIEcxIFRMUyBSU0EgMjA0OCBTSEEyNTYgMjA0OSBFVVMyIENBIDAxMB4XDTI2MDQwOTA0MzUxMFoXDTI2MTAwNDEwMzUxMFowQDE-MDwGA1UEAxM1YXN5bmNvcGVyYXRpb25zaWduaW5nY2VydGlmaWNhdGUubWFuYWdlbWVudC5henVy[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/4d042dc6-fe17-4698-a23f-ec6a8d1e98f4/providers/Microsoft.Storage/locations/westus2/asyncoperations/967c67bb-71d7-4117-9c77-5733583825b4?monitor=true&api-version=2025-06-01&t=639152935962579320&c=MIIHlDCCBnygAwIBAgIQAcfN_Jd6ViGd1-EkFH97aDANBgkqhkiG9w0BAQsFADA2MTQwMgYDVQQDEytDQ01FIEcxIFRMUyBSU0EgMjA0OCBTSEEyNTYgMjA0OSBFVVMyIENBIDAxMB4XDTI2MDQwOTA0MzUxMFoXDTI2MTAwNDEwMzUxMFowQDE-MDwGA1UEAxM1YXN5bmNvcGVyYXRpb25zaWduaW5nY2VydGlmaWN[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/4d042dc6-fe17-4698-a23f-ec6a8d1e98f4/providers/Microsoft.Storage/locations/westus2/asyncoperations/967c67bb-71d7-4117-9c77-5733583825b4?monitor=true&api-version=2025-06-01&t=639152935967995274&c=MIIHlDCCBnygAwIBAgIQLU6yx6y9jPEurD7KCoN5EzANBgkqhkiG9w0BAQsFADA2MTQwMgYDVQQDEytDQ01FIEcxIFRMUyBSU0EgMjA0OCBTSEEyNTYgMjA0OSBXVVMyIENBIDAxMB4XDTI2MDQwNzIzNDcxMFoXDTI2MTAwMzA1NDcxMFowQDE-MDwGA1UEAxM1YXN5bmNvcGVyYXRpb25zaWduaW5nY2VydGlmaWN[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/4d042dc6-fe17-4698-a23f-ec6a8d1e98f4/providers/Microsoft.Storage/locations/westus2/asyncoperations/967c67bb-71d7-4117-9c77-5733583825b4?monitor=true&api-version=2025-06-01&t=639152936140398854&c=MIIHxDCCBqygAwIBAgIRAMPAQhr6Nmn1X4FvYDvT6ZUwDQYJKoZIhvcNAQELBQAwNTEzMDEGA1UEAxMqQ0NNRSBHMSBUTFMgUlNBIDIwNDggU0hBMjU2IDIwNDkgQ1VTIENBIDAxMB4XDTI2MDQwOTAxNDgxMloXDTI2MTAwNDA3NDgxMlowQDE-MDwGA1UEAxM1YXN5bmNvcGVyYXRpb25zaWduaW5nY2VydGlmaWN[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/4d042dc6-fe17-4698-a23f-ec6a8d1e98f4/resourceGroups/adf-rg-amysqlt-6352/providers/Microsoft.Storage/storageAccounts/adfstorage5545/listKeys?api-version=2025-06-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "799"
      },
      "ResponseBody": {
        "keys": [
          {
            "creationTime": "2026-05-25T08:13:13.8039738Z",
            "keyName": "key1",
            "value": "Sanitized",
            "permissions": "FULL"
          },
          {
            "creationTime": "2026-05-25T08:13:13.8039738Z",
            "keyName": "key2",
            "value": "Sanitized",
            "permissions": "FULL"
          }
        ]
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/4d042dc6-fe17-4698-a23f-ec6a8d1e98f4/resourceGroups/adf-rg-amysqlt-6352/providers/Microsoft.DataFactory/factories/adf-amysqlt-7181/linkedservices/adf-linkedservice-amysqlt-84?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "AzureBlobStorage",
          "typeProperties": {
            "connectionString": "Sanitized"
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-writes": "2999",
        "x-ms-ratelimit-remaining-subscription-writes": "199"
      },
      "ResponseBody": {
        "id": "/subscriptions/4d042dc6-fe17-4698-a23f-ec6a8d1e98f4/resourceGroups/adf-rg-amysqlt-6352/providers/Microsoft.DataFactory/factories/adf-amysqlt-7181/linkedservices/adf-linkedservice-amysqlt-84",
        "name": "adf-linkedservice-amysqlt-84",
        "type": "Microsoft.DataFactory/factories/linkedservices",
        "properties": {
          "type": "AzureBlobStorage",
          "typeProperties": {
            "connectionString": "Sanitized"
          }
        },
        "etag": "3e025a40-0000-0800-0000-6a1404b20000"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/4d042dc6-fe17-4698-a23f-ec6a8d1e98f4/resourceGroups/adf-rg-amysqlt-6352/providers/Microsoft.DataFactory/factories/adf-amysqlt-7181/datasets/adf-dataset-amysqlt-8690?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "AzureMySqlTable",
          "linkedServiceName": {
            "type": "LinkedServiceReference",
            "referenceName": "adf-linkedservice-amysqlt-84"
          },
          "typeProperties": {
            "table": "$EncryptedString$MyEncryptedTable"
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-writes": "2999",
        "x-ms-ratelimit-remaining-subscription-writes": "199"
      },
      "ResponseBody": {
        "id": "/subscriptions/4d042dc6-fe17-4698-a23f-ec6a8d1e98f4/resourceGroups/adf-rg-amysqlt-6352/providers/Microsoft.DataFactory/factories/adf-amysqlt-7181/datasets/adf-dataset-amysqlt-8690",
        "name": "adf-dataset-amysqlt-8690",
        "type": "Microsoft.DataFactory/factories/datasets",
        "properties": {
          "type": "AzureMySqlTable",
          "linkedServiceName": {
            "type": "LinkedServiceReference",
            "referenceName": "adf-linkedservice-amysqlt-84"
          },
          "typeProperties": {
            "table": "$EncryptedString$MyEncryptedTable"
          }
        },
        "etag": "3e028040-0000-0800-0000-6a1404b30000"
      }
    }
  ],
  "Variables": {
    "RandomSeed": "1757076872",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "4d042dc6-fe17-4698-a23f-ec6a8d1e98f4"
  }
}
