{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/DataFactory-RG-8150/providers/Microsoft.DataFactory/factories/DataFactory-cfecba45-0f6d-3d6e-94c0-42bb1917049c-5127?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "westus2",
        "properties": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1135"
      },
      "ResponseBody": {
        "name": "DataFactory-cfecba45-0f6d-3d6e-94c0-42bb1917049c-5127",
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-8150/providers/Microsoft.DataFactory/factories/datafactory-cfecba45-0f6d-3d6e-94c0-42bb1917049c-5127",
        "type": "Microsoft.DataFactory/factories",
        "properties": {
          "provisioningState": "Succeeded",
          "createTime": "2023-11-04T10:57:59.964824Z",
          "version": "2018-06-01"
        },
        "eTag": "\u00228d014bc9-0000-0800-0000-654623b80000\u0022",
        "location": "westus2",
        "tags": {}
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-8150/providers/Microsoft.DataFactory/factories/datafactory-cfecba45-0f6d-3d6e-94c0-42bb1917049c-5127/linkedservices/LinkedService3249?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "AzureBlobStorage",
          "typeProperties": {
            "connectionString": "Sanitized"
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1134"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-8150/providers/Microsoft.DataFactory/factories/datafactory-cfecba45-0f6d-3d6e-94c0-42bb1917049c-5127/linkedservices/LinkedService3249",
        "name": "LinkedService3249",
        "type": "Microsoft.DataFactory/factories/linkedservices",
        "properties": {
          "type": "AzureBlobStorage",
          "typeProperties": {
            "connectionString": "Sanitized"
          }
        },
        "etag": "100080c8-0000-0800-0000-654623b80000"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-8150/providers/Microsoft.DataFactory/factories/datafactory-cfecba45-0f6d-3d6e-94c0-42bb1917049c-5127/linkedservices/linkedSerivce-1882?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "Presto",
          "typeProperties": {
            "host": "host",
            "serverVersion": "serverVersion",
            "catalog": "catalog",
            "authenticationType": "Anonymous"
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1133"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-8150/providers/Microsoft.DataFactory/factories/datafactory-cfecba45-0f6d-3d6e-94c0-42bb1917049c-5127/linkedservices/linkedSerivce-1882",
        "name": "linkedSerivce-1882",
        "type": "Microsoft.DataFactory/factories/linkedservices",
        "properties": {
          "type": "Presto",
          "typeProperties": {
            "host": "host",
            "serverVersion": "serverVersion",
            "catalog": "catalog",
            "authenticationType": "Anonymous"
          }
        },
        "etag": "100082c8-0000-0800-0000-654623b90000"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-8150/providers/Microsoft.DataFactory/factories/datafactory-cfecba45-0f6d-3d6e-94c0-42bb1917049c-5127/datasets/dataset5574?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "PrestoObject",
          "linkedServiceName": {
            "type": "LinkedServiceReference",
            "referenceName": "linkedSerivce-1882"
          },
          "typeProperties": {
            "table": "testtable",
            "schema": "dbo"
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1132"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-8150/providers/Microsoft.DataFactory/factories/datafactory-cfecba45-0f6d-3d6e-94c0-42bb1917049c-5127/datasets/dataset5574",
        "name": "dataset5574",
        "type": "Microsoft.DataFactory/factories/datasets",
        "properties": {
          "type": "PrestoObject",
          "linkedServiceName": {
            "type": "LinkedServiceReference",
            "referenceName": "linkedSerivce-1882"
          },
          "typeProperties": {
            "table": "testtable",
            "schema": "dbo"
          }
        },
        "etag": "100084c8-0000-0800-0000-654623b90000"
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": null,
    "RandomSeed": "1352784114",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "da1d7b9a-a759-41c8-bb73-093a1818e03a"
  }
}
