{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/DataFactory-RG-8150/providers/Microsoft.DataFactory/factories/DataFactory-a4629e5a-1442-36f8-b2c3-037d099c9a11-7049?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "westus2",
        "properties": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1138"
      },
      "ResponseBody": {
        "name": "DataFactory-a4629e5a-1442-36f8-b2c3-037d099c9a11-7049",
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-8150/providers/Microsoft.DataFactory/factories/datafactory-a4629e5a-1442-36f8-b2c3-037d099c9a11-7049",
        "type": "Microsoft.DataFactory/factories",
        "properties": {
          "provisioningState": "Succeeded",
          "createTime": "2023-11-04T10:34:12.0626554Z",
          "version": "2018-06-01"
        },
        "eTag": "\u00228d013e40-0000-0800-0000-65461e240000\u0022",
        "location": "westus2",
        "tags": {}
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-8150/providers/Microsoft.DataFactory/factories/datafactory-a4629e5a-1442-36f8-b2c3-037d099c9a11-7049/linkedservices/LinkedService5936?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "AzureBlobStorage",
          "typeProperties": {
            "connectionString": "Sanitized"
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1137"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-8150/providers/Microsoft.DataFactory/factories/datafactory-a4629e5a-1442-36f8-b2c3-037d099c9a11-7049/linkedservices/LinkedService5936",
        "name": "LinkedService5936",
        "type": "Microsoft.DataFactory/factories/linkedservices",
        "properties": {
          "type": "AzureBlobStorage",
          "typeProperties": {
            "connectionString": "Sanitized"
          }
        },
        "etag": "0c00ba2c-0000-0800-0000-65461e240000"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-8150/providers/Microsoft.DataFactory/factories/datafactory-a4629e5a-1442-36f8-b2c3-037d099c9a11-7049/linkedservices/linkedSerivce-3042?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "AzurePostgreSql",
          "typeProperties": {
            "connectionString": {
              "value": "host=test123.postgres.database.azure.com;port=5432;database=testdb;uid=fakeuid;encryptionmethod=0",
              "type": "SecureString"
            }
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1136"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-8150/providers/Microsoft.DataFactory/factories/datafactory-a4629e5a-1442-36f8-b2c3-037d099c9a11-7049/linkedservices/linkedSerivce-3042",
        "name": "linkedSerivce-3042",
        "type": "Microsoft.DataFactory/factories/linkedservices",
        "properties": {
          "type": "AzurePostgreSql",
          "typeProperties": {
            "connectionString": {
              "type": "SecureString",
              "value": "**********"
            }
          }
        },
        "etag": "0c00be2c-0000-0800-0000-65461e250000"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-8150/providers/Microsoft.DataFactory/factories/datafactory-a4629e5a-1442-36f8-b2c3-037d099c9a11-7049/datasets/dataset156?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "AzurePostgreSqlTable",
          "linkedServiceName": {
            "type": "LinkedServiceReference",
            "referenceName": "linkedSerivce-3042"
          },
          "typeProperties": {
            "tableName": "$EncryptedString$MyEncryptedTableName"
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1135"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-8150/providers/Microsoft.DataFactory/factories/datafactory-a4629e5a-1442-36f8-b2c3-037d099c9a11-7049/datasets/dataset156",
        "name": "dataset156",
        "type": "Microsoft.DataFactory/factories/datasets",
        "properties": {
          "type": "AzurePostgreSqlTable",
          "linkedServiceName": {
            "type": "LinkedServiceReference",
            "referenceName": "linkedSerivce-3042"
          },
          "typeProperties": {
            "tableName": "$EncryptedString$MyEncryptedTableName"
          }
        },
        "etag": "0c00c02c-0000-0800-0000-65461e260000"
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": null,
    "RandomSeed": "1490137449",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "da1d7b9a-a759-41c8-bb73-093a1818e03a"
  }
}
