{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/DataFactory-RG-472/providers/Microsoft.DataFactory/factories/DataFactory-c081330c-386b-3104-abf4-84c59b3d4bb7-7988?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "westus2",
        "properties": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "842"
      },
      "ResponseBody": {
        "name": "DataFactory-c081330c-386b-3104-abf4-84c59b3d4bb7-7988",
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-472/providers/Microsoft.DataFactory/factories/datafactory-c081330c-386b-3104-abf4-84c59b3d4bb7-7988",
        "type": "Microsoft.DataFactory/factories",
        "properties": {
          "provisioningState": "Succeeded",
          "createTime": "2023-11-04T11:06:58.0253896Z",
          "version": "2018-06-01"
        },
        "eTag": "\u00228d0127ff-0000-0800-0000-654625d20000\u0022",
        "location": "westus2",
        "tags": {}
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-472/providers/Microsoft.DataFactory/factories/datafactory-c081330c-386b-3104-abf4-84c59b3d4bb7-7988/linkedservices/LinkedService7942?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "AzureBlobStorage",
          "typeProperties": {
            "connectionString": "Sanitized"
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "841"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-472/providers/Microsoft.DataFactory/factories/datafactory-c081330c-386b-3104-abf4-84c59b3d4bb7-7988/linkedservices/LinkedService7942",
        "name": "LinkedService7942",
        "type": "Microsoft.DataFactory/factories/linkedservices",
        "properties": {
          "type": "AzureBlobStorage",
          "typeProperties": {
            "connectionString": "Sanitized"
          }
        },
        "etag": "0200f74b-0000-0800-0000-654625d20000"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-472/providers/Microsoft.DataFactory/factories/datafactory-c081330c-386b-3104-abf4-84c59b3d4bb7-7988/linkedservices/linkedSerivce-865?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "Office365",
          "typeProperties": {
            "office365TenantId": "office365tenantid",
            "servicePrincipalTenantId": "servicePrincipalTenantID",
            "servicePrincipalId": "servicePrincipalId",
            "servicePrincipalKey": {
              "value": "servicePrincipalKey",
              "type": "SecureString"
            }
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "840"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-472/providers/Microsoft.DataFactory/factories/datafactory-c081330c-386b-3104-abf4-84c59b3d4bb7-7988/linkedservices/linkedSerivce-865",
        "name": "linkedSerivce-865",
        "type": "Microsoft.DataFactory/factories/linkedservices",
        "properties": {
          "type": "Office365",
          "typeProperties": {
            "office365TenantId": "office365tenantid",
            "servicePrincipalTenantId": "servicePrincipalTenantID",
            "servicePrincipalId": "servicePrincipalId",
            "encryptedCredential": "ew0KICAiVmVyc2lvbiI6ICIyMDE3LTExLTMwIiwNCiAgIlByb3RlY3Rpb25Nb2RlIjogIktleSIsDQogICJTZWNyZXRDb250ZW50VHlwZSI6ICJQbGFpbnRleHQiLA0KICAiQ3JlZGVudGlhbElkIjogIkRBVEFGQUNUT1JZQDNBRTlEQkYwLUI0NkEtNEI3MS04OEEwLUU3REQ5REMxNjE5NF8wMGM0NmNhZi00ODdiLTQyMTEtOWI3MS1iMWU3ZTE3MzYxNDYiDQp9"
          }
        },
        "etag": "0200f94b-0000-0800-0000-654625d30000"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-472/providers/Microsoft.DataFactory/factories/datafactory-c081330c-386b-3104-abf4-84c59b3d4bb7-7988/datasets/dataset5760?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "Excel",
          "schema": [
            {
              "name": "title",
              "type": "string"
            },
            {
              "name": "movieID",
              "type": "string"
            }
          ],
          "linkedServiceName": {
            "type": "LinkedServiceReference",
            "referenceName": "linkedSerivce-865"
          },
          "typeProperties": {
            "location": {
              "container": "exceltest",
              "type": "AzureBlobStorageLocation",
              "fileName": "releases-1.xlsx"
            },
            "sheetName": "test01",
            "sheetIndex": 1,
            "range": "A4:H9",
            "firstRowAsHeader": true,
            "compression": {
              "type": "Gzip",
              "level": "Fasttest"
            },
            "nullValue": "N/A"
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "839"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-472/providers/Microsoft.DataFactory/factories/datafactory-c081330c-386b-3104-abf4-84c59b3d4bb7-7988/datasets/dataset5760",
        "name": "dataset5760",
     [...]
