{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/DataFactory-RG-8348/providers/Microsoft.DataFactory/factories/DataFactory-9e6d38c4-ef27-3e15-8513-f4178e1bc2c8-4938?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "westus2",
        "properties": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1198"
      },
      "ResponseBody": {
        "name": "DataFactory-9e6d38c4-ef27-3e15-8513-f4178e1bc2c8-4938",
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-8348/providers/Microsoft.DataFactory/factories/datafactory-9e6d38c4-ef27-3e15-8513-f4178e1bc2c8-4938",
        "type": "Microsoft.DataFactory/factories",
        "properties": {
          "provisioningState": "Succeeded",
          "createTime": "2023-11-07T05:13:03.7460212Z",
          "version": "2018-06-01"
        },
        "eTag": "\u0022f2015832-0000-0800-0000-6549c75f0000\u0022",
        "location": "westus2",
        "tags": {}
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-8348/providers/Microsoft.DataFactory/factories/datafactory-9e6d38c4-ef27-3e15-8513-f4178e1bc2c8-4938/linkedservices/LinkedService569?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "AzureBlobStorage",
          "typeProperties": {
            "connectionString": "Sanitized"
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1192"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-8348/providers/Microsoft.DataFactory/factories/datafactory-9e6d38c4-ef27-3e15-8513-f4178e1bc2c8-4938/linkedservices/LinkedService569",
        "name": "LinkedService569",
        "type": "Microsoft.DataFactory/factories/linkedservices",
        "properties": {
          "type": "AzureBlobStorage",
          "typeProperties": {
            "connectionString": "Sanitized"
          }
        },
        "etag": "ab01a53c-0000-0800-0000-6549c7600000"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-8348/providers/Microsoft.DataFactory/factories/datafactory-9e6d38c4-ef27-3e15-8513-f4178e1bc2c8-4938/linkedservices/linkedSerivce-2822?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "FileServer",
          "typeProperties": {
            "host": "\\testmachine\\testfolder"
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1190"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-8348/providers/Microsoft.DataFactory/factories/datafactory-9e6d38c4-ef27-3e15-8513-f4178e1bc2c8-4938/linkedservices/linkedSerivce-2822",
        "name": "linkedSerivce-2822",
        "type": "Microsoft.DataFactory/factories/linkedservices",
        "properties": {
          "type": "FileServer",
          "typeProperties": {
            "host": "\\testmachine\\testfolder"
          }
        },
        "etag": "ab01dd3c-0000-0800-0000-6549c7610000"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-8348/providers/Microsoft.DataFactory/factories/datafactory-9e6d38c4-ef27-3e15-8513-f4178e1bc2c8-4938/datasets/dataset3061?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "DelimitedText",
          "schema": [
            {
              "name": "col1",
              "type": "INT_32"
            },
            {
              "name": "col2",
              "type": "Decimal",
              "scale": 2,
              "precision": 38
            }
          ],
          "linkedServiceName": {
            "type": "LinkedServiceReference",
            "referenceName": "linkedSerivce-2822"
          },
          "typeProperties": {
            "location": {
              "container": "ContainerName",
              "type": "AzureBlobStorageLocation",
              "folderPath": "xxxxx",
              "fileName": "test01"
            },
            "columnDelimiter": "\\n",
            "rowDelimiter": "\\t",
            "encodingName": "UTF-8",
            "compressionCodec": "bzip2",
            "compressionLevel": "farest",
            "quoteChar": "",
            "escapeChar": "",
            "firstRowAsHeader": false,
            "nullValue": ""
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1189"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-8348/providers/Microsoft.DataFactory/factories/datafactory-9e6d38c4-ef27-3e15-8513-f4178e1bc2c8-4938/datasets/dataset3061",
        "name": "dataset3061",
      [...]
