{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/DataFactory-RG-7814/providers/Microsoft.DataFactory/factories/DataFactory-beeefe7f-67d0-38ea-956b-f4ff3e1cb4c5-3481?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "westus2",
        "properties": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1194"
      },
      "ResponseBody": {
        "name": "DataFactory-beeefe7f-67d0-38ea-956b-f4ff3e1cb4c5-3481",
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-7814/providers/Microsoft.DataFactory/factories/datafactory-beeefe7f-67d0-38ea-956b-f4ff3e1cb4c5-3481",
        "type": "Microsoft.DataFactory/factories",
        "properties": {
          "provisioningState": "Succeeded",
          "createTime": "2023-11-07T05:03:50.0768403Z",
          "version": "2018-06-01"
        },
        "eTag": "\u0022f101c8fa-0000-0800-0000-6549c5360000\u0022",
        "location": "westus2",
        "tags": {}
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-7814/providers/Microsoft.DataFactory/factories/datafactory-beeefe7f-67d0-38ea-956b-f4ff3e1cb4c5-3481/linkedservices/LinkedService8332?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "AzureBlobStorage",
          "typeProperties": {
            "connectionString": "Sanitized"
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1193"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-7814/providers/Microsoft.DataFactory/factories/datafactory-beeefe7f-67d0-38ea-956b-f4ff3e1cb4c5-3481/linkedservices/LinkedService8332",
        "name": "LinkedService8332",
        "type": "Microsoft.DataFactory/factories/linkedservices",
        "properties": {
          "type": "AzureBlobStorage",
          "typeProperties": {
            "connectionString": "Sanitized"
          }
        },
        "etag": "8f00a035-0000-0800-0000-6549c5360000"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-7814/providers/Microsoft.DataFactory/factories/datafactory-beeefe7f-67d0-38ea-956b-f4ff3e1cb4c5-3481/linkedservices/linkedSerivce-2766?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "SapTable",
          "typeProperties": {
            "server": "fakeserver",
            "systemNumber": "00",
            "clientId": "000",
            "userName": "user",
            "password": {
              "value": "fakepwd",
              "type": "SecureString"
            }
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1196"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-7814/providers/Microsoft.DataFactory/factories/datafactory-beeefe7f-67d0-38ea-956b-f4ff3e1cb4c5-3481/linkedservices/linkedSerivce-2766",
        "name": "linkedSerivce-2766",
        "type": "Microsoft.DataFactory/factories/linkedservices",
        "properties": {
          "type": "SapTable",
          "typeProperties": {
            "server": "fakeserver",
            "systemNumber": "00",
            "clientId": "000",
            "userName": "user",
            "encryptedCredential": "ew0KICAiVmVyc2lvbiI6ICIyMDE3LTExLTMwIiwNCiAgIlByb3RlY3Rpb25Nb2RlIjogIktleSIsDQogICJTZWNyZXRDb250ZW50VHlwZSI6ICJQbGFpbnRleHQiLA0KICAiQ3JlZGVudGlhbElkIjogIkRBVEFGQUNUT1JZQDk3NTc0MkYzLTAwREItNEJGRi04OERELTUzNDZGMzBFMzNGRl9kYjNhM2QwMC03ZmJjLTQ3MGEtOTA0NC04NGZmMzE0MmVkODMiDQp9"
          }
        },
        "etag": "8f00a735-0000-0800-0000-6549c5370000"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-7814/providers/Microsoft.DataFactory/factories/datafactory-beeefe7f-67d0-38ea-956b-f4ff3e1cb4c5-3481/datasets/dataset108?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "SapTableResource",
          "linkedServiceName": {
            "type": "LinkedServiceReference",
            "referenceName": "linkedSerivce-2766"
          },
          "typeProperties": {
            "tableName": "tablename"
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1194"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-7814/providers/Microsoft.DataFactory/factories/datafactory-beeefe7f-67d0-38ea-956b-f4ff3e1cb4c5-3481/datasets/dataset108",
        "name": "dataset108",
        "type": "Microsoft.DataFactory/factories/datasets",
        "properties": {
          "type": "SapTableResource",
          "linkedServiceName": {
            "type": "LinkedServiceReference",
            "referenceName": "linkedSerivce-2766"
          },
          "typeProperties": {
            "tableName": "tablename"
          }
        },
        "etag": "8f00ac35-0000-0800-0000-6549c5380000"
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": null,
    "RandomSeed": "262401591",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "da1d7b9a-a759-41c8-bb73-093a1818e03a"
  }
}
