{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/DataFactory-RG-8348/providers/Microsoft.DataFactory/factories/DataFactory-95f5bdcb-5931-38ee-8463-11e6bed3e9d4-3272?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "westus2",
        "properties": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1190"
      },
      "ResponseBody": {
        "name": "DataFactory-95f5bdcb-5931-38ee-8463-11e6bed3e9d4-3272",
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-8348/providers/Microsoft.DataFactory/factories/datafactory-95f5bdcb-5931-38ee-8463-11e6bed3e9d4-3272",
        "type": "Microsoft.DataFactory/factories",
        "properties": {
          "provisioningState": "Succeeded",
          "createTime": "2023-11-07T05:21:22.9906167Z",
          "version": "2018-06-01"
        },
        "eTag": "\u0022f201bb62-0000-0800-0000-6549c9530000\u0022",
        "location": "westus2",
        "tags": {}
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-8348/providers/Microsoft.DataFactory/factories/datafactory-95f5bdcb-5931-38ee-8463-11e6bed3e9d4-3272/linkedservices/LinkedService6757?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "AzureBlobStorage",
          "typeProperties": {
            "connectionString": "Sanitized"
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1198"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-8348/providers/Microsoft.DataFactory/factories/datafactory-95f5bdcb-5931-38ee-8463-11e6bed3e9d4-3272/linkedservices/LinkedService6757",
        "name": "LinkedService6757",
        "type": "Microsoft.DataFactory/factories/linkedservices",
        "properties": {
          "type": "AzureBlobStorage",
          "typeProperties": {
            "connectionString": "Sanitized"
          }
        },
        "etag": "cd0168d5-0000-0800-0000-6549c9530000"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-8348/providers/Microsoft.DataFactory/factories/datafactory-95f5bdcb-5931-38ee-8463-11e6bed3e9d4-3272/linkedservices/linkedSerivce-5668?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "SharePointOnlineList",
          "description": "test description",
          "typeProperties": {
            "siteUrl": "http://localhost/webhdfs/v1/",
            "tenantId": "tenantId",
            "servicePrincipalId": "servicePrincipalId",
            "servicePrincipalKey": {
              "value": "ServicePrincipalKey",
              "type": "SecureString"
            }
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1189"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-8348/providers/Microsoft.DataFactory/factories/datafactory-95f5bdcb-5931-38ee-8463-11e6bed3e9d4-3272/linkedservices/linkedSerivce-5668",
        "name": "linkedSerivce-5668",
        "type": "Microsoft.DataFactory/factories/linkedservices",
        "properties": {
          "type": "SharePointOnlineList",
          "description": "test description",
          "typeProperties": {
            "siteUrl": "http://localhost/webhdfs/v1/",
            "tenantId": "tenantId",
            "servicePrincipalId": "servicePrincipalId",
            "encryptedCredential": "ew0KICAiVmVyc2lvbiI6ICIyMDE3LTExLTMwIiwNCiAgIlByb3RlY3Rpb25Nb2RlIjogIktleSIsDQogICJTZWNyZXRDb250ZW50VHlwZSI6ICJQbGFpbnRleHQiLA0KICAiQ3JlZGVudGlhbElkIjogIkRBVEFGQUNUT1JZQDI5NjRDQzY3LTY4RjMtNDhDMC1BRTdFLTlGNkNEM0RDOENFNl82NTRkYWI1NS1kYTQ1LTQ4M2UtOTkwYy0wMjNmZjFhNzYwOTQiDQp9"
          }
        },
        "etag": "cd016cd5-0000-0800-0000-6549c9540000"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-8348/providers/Microsoft.DataFactory/factories/datafactory-95f5bdcb-5931-38ee-8463-11e6bed3e9d4-3272/datasets/dataset7945?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "SharePointOnlineListResource",
          "linkedServiceName": {
            "type": "LinkedServiceReference",
            "referenceName": "linkedSerivce-5668"
          },
          "typeProperties": {
            "listName": "listname"
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1197"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-8348/providers/Microsoft.DataFactory/factories/datafactory-95f5bdcb-5931-38ee-8463-11e6bed3e9d4-3272/datasets/dataset7945",
        "name": "dataset7945",
        "type": "Microsoft.DataFactory/factories/datasets",
        "properties": {
          "type": "SharePointOnlineListResource",
          "linkedServiceName": {
            "type": "LinkedServiceReference",
            "referenceName": "linkedSerivce-5668"
          },
          "typeProperties": {
            "listName": "listname"
          }
        },
        "etag": "cd0175d5-0000-0800-0000-6549c9540000"
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": null,
    "RandomSeed": "619038823",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "da1d7b9a-a759-41c8-bb73-093a1818e03a"
  }
}
