{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/DataFactory-RG-7814/providers/Microsoft.DataFactory/factories/DataFactory-8b9a3bfc-5e19-35fa-8953-4f0dfafc235e-429?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "westus2",
        "properties": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1192"
      },
      "ResponseBody": {
        "name": "DataFactory-8b9a3bfc-5e19-35fa-8953-4f0dfafc235e-429",
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-7814/providers/Microsoft.DataFactory/factories/datafactory-8b9a3bfc-5e19-35fa-8953-4f0dfafc235e-429",
        "type": "Microsoft.DataFactory/factories",
        "properties": {
          "provisioningState": "Succeeded",
          "createTime": "2023-11-07T04:59:40.2091705Z",
          "version": "2018-06-01"
        },
        "eTag": "\u0022f1017de2-0000-0800-0000-6549c43c0000\u0022",
        "location": "westus2",
        "tags": {}
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-7814/providers/Microsoft.DataFactory/factories/datafactory-8b9a3bfc-5e19-35fa-8953-4f0dfafc235e-429/linkedservices/LinkedService1941?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "AzureBlobStorage",
          "typeProperties": {
            "connectionString": "Sanitized"
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1194"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-7814/providers/Microsoft.DataFactory/factories/datafactory-8b9a3bfc-5e19-35fa-8953-4f0dfafc235e-429/linkedservices/LinkedService1941",
        "name": "LinkedService1941",
        "type": "Microsoft.DataFactory/factories/linkedservices",
        "properties": {
          "type": "AzureBlobStorage",
          "typeProperties": {
            "connectionString": "Sanitized"
          }
        },
        "etag": "1403a3bb-0000-0800-0000-6549c43c0000"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-7814/providers/Microsoft.DataFactory/factories/datafactory-8b9a3bfc-5e19-35fa-8953-4f0dfafc235e-429/linkedservices/linkedSerivce-5622?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "Marketo",
          "typeProperties": {
            "endpoint": "endpoint",
            "clientId": "clientid"
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1193"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-7814/providers/Microsoft.DataFactory/factories/datafactory-8b9a3bfc-5e19-35fa-8953-4f0dfafc235e-429/linkedservices/linkedSerivce-5622",
        "name": "linkedSerivce-5622",
        "type": "Microsoft.DataFactory/factories/linkedservices",
        "properties": {
          "type": "Marketo",
          "typeProperties": {
            "endpoint": "endpoint",
            "clientId": "clientid"
          }
        },
        "etag": "1403b3bb-0000-0800-0000-6549c43d0000"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-7814/providers/Microsoft.DataFactory/factories/datafactory-8b9a3bfc-5e19-35fa-8953-4f0dfafc235e-429/datasets/dataset67?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "MarketoObject",
          "linkedServiceName": {
            "type": "LinkedServiceReference",
            "referenceName": "linkedSerivce-5622"
          },
          "typeProperties": {}
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1195"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-7814/providers/Microsoft.DataFactory/factories/datafactory-8b9a3bfc-5e19-35fa-8953-4f0dfafc235e-429/datasets/dataset67",
        "name": "dataset67",
        "type": "Microsoft.DataFactory/factories/datasets",
        "properties": {
          "type": "MarketoObject",
          "linkedServiceName": {
            "type": "LinkedServiceReference",
            "referenceName": "linkedSerivce-5622"
          },
          "typeProperties": {}
        },
        "etag": "1403bdbb-0000-0800-0000-6549c43d0000"
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": null,
    "RandomSeed": "1521431942",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "da1d7b9a-a759-41c8-bb73-093a1818e03a"
  }
}
