{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/DataFactory-RG-472/providers/Microsoft.DataFactory/factories/DataFactory-15e4d118-0d25-33fd-aec4-9bb04ddfdbc3-9931?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "westus2",
        "properties": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1006"
      },
      "ResponseBody": {
        "name": "DataFactory-15e4d118-0d25-33fd-aec4-9bb04ddfdbc3-9931",
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-472/providers/Microsoft.DataFactory/factories/datafactory-15e4d118-0d25-33fd-aec4-9bb04ddfdbc3-9931",
        "type": "Microsoft.DataFactory/factories",
        "properties": {
          "provisioningState": "Succeeded",
          "createTime": "2023-11-04T11:02:14.8622399Z",
          "version": "2018-06-01"
        },
        "eTag": "\u00228d0156e2-0000-0800-0000-654624b60000\u0022",
        "location": "westus2",
        "tags": {}
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-472/providers/Microsoft.DataFactory/factories/datafactory-15e4d118-0d25-33fd-aec4-9bb04ddfdbc3-9931/linkedservices/LinkedService331?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "AzureBlobStorage",
          "typeProperties": {
            "connectionString": "Sanitized"
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1005"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-472/providers/Microsoft.DataFactory/factories/datafactory-15e4d118-0d25-33fd-aec4-9bb04ddfdbc3-9931/linkedservices/LinkedService331",
        "name": "LinkedService331",
        "type": "Microsoft.DataFactory/factories/linkedservices",
        "properties": {
          "type": "AzureBlobStorage",
          "typeProperties": {
            "connectionString": "Sanitized"
          }
        },
        "etag": "1a005d54-0000-0800-0000-654624b70000"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-472/providers/Microsoft.DataFactory/factories/datafactory-15e4d118-0d25-33fd-aec4-9bb04ddfdbc3-9931/linkedservices/linkedSerivce-8118?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "AmazonRdsForOracle",
          "typeProperties": {
            "connectionString": "Sanitized"
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1004"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-472/providers/Microsoft.DataFactory/factories/datafactory-15e4d118-0d25-33fd-aec4-9bb04ddfdbc3-9931/linkedservices/linkedSerivce-8118",
        "name": "linkedSerivce-8118",
        "type": "Microsoft.DataFactory/factories/linkedservices",
        "properties": {
          "type": "AmazonRdsForOracle",
          "typeProperties": {
            "connectionString": "Sanitized"
          }
        },
        "etag": "1a005f54-0000-0800-0000-654624b80000"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-472/providers/Microsoft.DataFactory/factories/datafactory-15e4d118-0d25-33fd-aec4-9bb04ddfdbc3-9931/datasets/dataset49?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "AmazonRdsForOracleTable",
          "schema": [
            {
              "name": "dbo",
              "type": "string"
            }
          ],
          "linkedServiceName": {
            "type": "LinkedServiceReference",
            "referenceName": "linkedSerivce-8118"
          },
          "parameters": {
            "StartTime": {
              "type": "String",
              "defaultValue": "2017-01-31T00:00:00Z"
            }
          },
          "typeProperties": {
            "table": {
              "type": "Expression",
              "value": "@parameters(\u0027StartTime\u0027)"
            }
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1003"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-472/providers/Microsoft.DataFactory/factories/datafactory-15e4d118-0d25-33fd-aec4-9bb04ddfdbc3-9931/datasets/dataset49",
        "name": "dataset49",
        "type": "Microsoft.DataFactory/factories/datasets",
        "properties": {
          "type": "AmazonRdsForOracleTable",
          "schema": [
            {
              "name": "dbo",
              "type": "string"
            }
          ],
          "linkedServiceName": {
            "type": "LinkedServiceReference",
            "referenceName": "linkedSerivce-8118"
          },
          "parameters": {
            "StartTime": {
              "type": "String",
              "defaultValue": "2017-01-31T00:00:00Z"
            }
          },
          "typeProperties": {
            "table": {
              "type": "Expression",
              "value": "@parameters(\u0027StartTime\u0027)"
            }
          }
        },
        "etag": "1a006154-0000-0800-0000-654624b80000"
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": null,
    "RandomSeed": "1383383729",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "da1d7b9a-a759-41c8-bb73-093a1818e03a"
  }
}
