{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/DataFactory-RG-7814/providers/Microsoft.DataFactory/factories/DataFactory-4e4011eb-0430-3a87-aaba-0366d8bc3efa-6630?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "westus2",
        "properties": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": {
        "name": "DataFactory-4e4011eb-0430-3a87-aaba-0366d8bc3efa-6630",
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-7814/providers/Microsoft.DataFactory/factories/datafactory-4e4011eb-0430-3a87-aaba-0366d8bc3efa-6630",
        "type": "Microsoft.DataFactory/factories",
        "properties": {
          "provisioningState": "Succeeded",
          "createTime": "2023-11-07T04:59:22.0506466Z",
          "version": "2018-06-01"
        },
        "eTag": "\u0022f101e5e0-0000-0800-0000-6549c42a0000\u0022",
        "location": "westus2",
        "tags": {}
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-7814/providers/Microsoft.DataFactory/factories/datafactory-4e4011eb-0430-3a87-aaba-0366d8bc3efa-6630/linkedservices/LinkedService359?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "AzureBlobStorage",
          "typeProperties": {
            "connectionString": "Sanitized"
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1198"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-7814/providers/Microsoft.DataFactory/factories/datafactory-4e4011eb-0430-3a87-aaba-0366d8bc3efa-6630/linkedservices/LinkedService359",
        "name": "LinkedService359",
        "type": "Microsoft.DataFactory/factories/linkedservices",
        "properties": {
          "type": "AzureBlobStorage",
          "typeProperties": {
            "connectionString": "Sanitized"
          }
        },
        "etag": "49003136-0000-0800-0000-6549c42b0000"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-7814/providers/Microsoft.DataFactory/factories/datafactory-4e4011eb-0430-3a87-aaba-0366d8bc3efa-6630/linkedservices/linkedSerivce-2574?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "Magento",
          "typeProperties": {
            "host": "host"
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1198"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-7814/providers/Microsoft.DataFactory/factories/datafactory-4e4011eb-0430-3a87-aaba-0366d8bc3efa-6630/linkedservices/linkedSerivce-2574",
        "name": "linkedSerivce-2574",
        "type": "Microsoft.DataFactory/factories/linkedservices",
        "properties": {
          "type": "Magento",
          "typeProperties": {
            "host": "host"
          }
        },
        "etag": "49003936-0000-0800-0000-6549c42c0000"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-7814/providers/Microsoft.DataFactory/factories/datafactory-4e4011eb-0430-3a87-aaba-0366d8bc3efa-6630/datasets/dataset5156?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "MagentoObject",
          "linkedServiceName": {
            "type": "LinkedServiceReference",
            "referenceName": "linkedSerivce-2574"
          },
          "typeProperties": {}
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1196"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-7814/providers/Microsoft.DataFactory/factories/datafactory-4e4011eb-0430-3a87-aaba-0366d8bc3efa-6630/datasets/dataset5156",
        "name": "dataset5156",
        "type": "Microsoft.DataFactory/factories/datasets",
        "properties": {
          "type": "MagentoObject",
          "linkedServiceName": {
            "type": "LinkedServiceReference",
            "referenceName": "linkedSerivce-2574"
          },
          "typeProperties": {}
        },
        "etag": "49003f36-0000-0800-0000-6549c42c0000"
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": null,
    "RandomSeed": "1255969602",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "da1d7b9a-a759-41c8-bb73-093a1818e03a"
  }
}
