{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/DataFactory-RG-472/providers/Microsoft.DataFactory/factories/DataFactory-ba2b9a8e-1874-3e62-8be5-a07a387c0517-2313?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "westus2",
        "properties": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "794"
      },
      "ResponseBody": {
        "name": "DataFactory-ba2b9a8e-1874-3e62-8be5-a07a387c0517-2313",
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-472/providers/Microsoft.DataFactory/factories/datafactory-ba2b9a8e-1874-3e62-8be5-a07a387c0517-2313",
        "type": "Microsoft.DataFactory/factories",
        "properties": {
          "provisioningState": "Succeeded",
          "createTime": "2023-11-04T11:08:19.7416355Z",
          "version": "2018-06-01"
        },
        "eTag": "\u00228e01b207-0000-0800-0000-654626230000\u0022",
        "location": "westus2",
        "tags": {}
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-472/providers/Microsoft.DataFactory/factories/datafactory-ba2b9a8e-1874-3e62-8be5-a07a387c0517-2313/linkedservices/LinkedService1791?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "AzureBlobStorage",
          "typeProperties": {
            "connectionString": "Sanitized"
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "793"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-472/providers/Microsoft.DataFactory/factories/datafactory-ba2b9a8e-1874-3e62-8be5-a07a387c0517-2313/linkedservices/LinkedService1791",
        "name": "LinkedService1791",
        "type": "Microsoft.DataFactory/factories/linkedservices",
        "properties": {
          "type": "AzureBlobStorage",
          "typeProperties": {
            "connectionString": "Sanitized"
          }
        },
        "etag": "ad00be9c-0000-0800-0000-654626240000"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-472/providers/Microsoft.DataFactory/factories/datafactory-ba2b9a8e-1874-3e62-8be5-a07a387c0517-2313/linkedservices/linkedSerivce-3538?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "Impala",
          "typeProperties": {
            "host": "host",
            "authenticationType": "Anonymous"
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "792"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-472/providers/Microsoft.DataFactory/factories/datafactory-ba2b9a8e-1874-3e62-8be5-a07a387c0517-2313/linkedservices/linkedSerivce-3538",
        "name": "linkedSerivce-3538",
        "type": "Microsoft.DataFactory/factories/linkedservices",
        "properties": {
          "type": "Impala",
          "typeProperties": {
            "host": "host",
            "authenticationType": "Anonymous"
          }
        },
        "etag": "ad00c19c-0000-0800-0000-654626250000"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-472/providers/Microsoft.DataFactory/factories/datafactory-ba2b9a8e-1874-3e62-8be5-a07a387c0517-2313/datasets/dataset826?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "ImpalaObject",
          "linkedServiceName": {
            "type": "LinkedServiceReference",
            "referenceName": "linkedSerivce-3538"
          },
          "typeProperties": {
            "table": "testtable",
            "schema": "dbo"
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "791"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-472/providers/Microsoft.DataFactory/factories/datafactory-ba2b9a8e-1874-3e62-8be5-a07a387c0517-2313/datasets/dataset826",
        "name": "dataset826",
        "type": "Microsoft.DataFactory/factories/datasets",
        "properties": {
          "type": "ImpalaObject",
          "linkedServiceName": {
            "type": "LinkedServiceReference",
            "referenceName": "linkedSerivce-3538"
          },
          "typeProperties": {
            "table": "testtable",
            "schema": "dbo"
          }
        },
        "etag": "ad00c39c-0000-0800-0000-654626250000"
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": null,
    "RandomSeed": "1460944236",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "da1d7b9a-a759-41c8-bb73-093a1818e03a"
  }
}
