{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/DataFactory-RG-8150/providers/Microsoft.DataFactory/factories/DataFactory-428ebba4-4372-3859-935b-a24de8482a01-8319?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "westus2",
        "properties": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1144"
      },
      "ResponseBody": {
        "name": "DataFactory-428ebba4-4372-3859-935b-a24de8482a01-8319",
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-8150/providers/Microsoft.DataFactory/factories/datafactory-428ebba4-4372-3859-935b-a24de8482a01-8319",
        "type": "Microsoft.DataFactory/factories",
        "properties": {
          "provisioningState": "Succeeded",
          "createTime": "2023-11-04T10:37:47.8185143Z",
          "version": "2018-06-01"
        },
        "eTag": "\u00228d016955-0000-0800-0000-65461efb0000\u0022",
        "location": "westus2",
        "tags": {}
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-8150/providers/Microsoft.DataFactory/factories/datafactory-428ebba4-4372-3859-935b-a24de8482a01-8319/linkedservices/LinkedService8028?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "AzureBlobStorage",
          "typeProperties": {
            "connectionString": "Sanitized"
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1143"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-8150/providers/Microsoft.DataFactory/factories/datafactory-428ebba4-4372-3859-935b-a24de8482a01-8319/linkedservices/LinkedService8028",
        "name": "LinkedService8028",
        "type": "Microsoft.DataFactory/factories/linkedservices",
        "properties": {
          "type": "AzureBlobStorage",
          "typeProperties": {
            "connectionString": "Sanitized"
          }
        },
        "etag": "3f004ff5-0000-0800-0000-65461efc0000"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-8150/providers/Microsoft.DataFactory/factories/datafactory-428ebba4-4372-3859-935b-a24de8482a01-8319/linkedservices/linkedSerivce-1037?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "Office365",
          "typeProperties": {
            "office365TenantId": "office365tenantid",
            "servicePrincipalTenantId": "servicePrincipalTenantID",
            "servicePrincipalId": "servicePrincipalId",
            "servicePrincipalKey": {
              "value": "servicePrincipalKey",
              "type": "SecureString"
            }
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1142"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-8150/providers/Microsoft.DataFactory/factories/datafactory-428ebba4-4372-3859-935b-a24de8482a01-8319/linkedservices/linkedSerivce-1037",
        "name": "linkedSerivce-1037",
        "type": "Microsoft.DataFactory/factories/linkedservices",
        "properties": {
          "type": "Office365",
          "typeProperties": {
            "office365TenantId": "office365tenantid",
            "servicePrincipalTenantId": "servicePrincipalTenantID",
            "servicePrincipalId": "servicePrincipalId",
            "encryptedCredential": "ew0KICAiVmVyc2lvbiI6ICIyMDE3LTExLTMwIiwNCiAgIlByb3RlY3Rpb25Nb2RlIjogIktleSIsDQogICJTZWNyZXRDb250ZW50VHlwZSI6ICJQbGFpbnRleHQiLA0KICAiQ3JlZGVudGlhbElkIjogIkRBVEFGQUNUT1JZQDcwRUY5RTg4LTg5RjYtNDY2Qy04QjE2LTU0NzRFMTYyOURDRl9jMGZjYjA1Zi0zYWQ3LTQxOTQtOWIyNy1kYmE4YjA2NDhiZmMiDQp9"
          }
        },
        "etag": "3f0051f5-0000-0800-0000-65461efd0000"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-8150/providers/Microsoft.DataFactory/factories/datafactory-428ebba4-4372-3859-935b-a24de8482a01-8319/datasets/dataset6456?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "Excel",
          "schema": [
            {
              "name": "title",
              "type": "string"
            },
            {
              "name": "movieID",
              "type": "string"
            }
          ],
          "linkedServiceName": {
            "type": "LinkedServiceReference",
            "referenceName": "linkedSerivce-1037"
          },
          "typeProperties": {
            "location": {
              "container": "exceltest",
              "type": "AzureBlobStorageLocation",
              "fileName": "releases-1.xlsx"
            },
            "sheetName": "test01",
            "range": "A4:H9",
            "firstRowAsHeader": true,
            "compression": {
              "type": "Gzip",
              "level": "Fasttest"
            },
            "nullValue": "N/A"
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1141"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-8150/providers/Microsoft.DataFactory/factories/datafactory-428ebba4-4372-3859-935b-a24de8482a01-8319/datasets/dataset6456",
        "name": "dataset6456",
   [...]
