{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/DataFactory-RG-8348/providers/Microsoft.DataFactory/factories/DataFactory-9d90e6fd-fb4e-3788-9209-23174073b6c3-9965?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "westus2",
        "properties": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1194"
      },
      "ResponseBody": {
        "name": "DataFactory-9d90e6fd-fb4e-3788-9209-23174073b6c3-9965",
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-8348/providers/Microsoft.DataFactory/factories/datafactory-9d90e6fd-fb4e-3788-9209-23174073b6c3-9965",
        "type": "Microsoft.DataFactory/factories",
        "properties": {
          "provisioningState": "Succeeded",
          "createTime": "2023-11-07T05:14:52.8709885Z",
          "version": "2018-06-01"
        },
        "eTag": "\u0022f201783d-0000-0800-0000-6549c7cc0000\u0022",
        "location": "westus2",
        "tags": {}
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-8348/providers/Microsoft.DataFactory/factories/datafactory-9d90e6fd-fb4e-3788-9209-23174073b6c3-9965/linkedservices/LinkedService4567?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "AzureBlobStorage",
          "typeProperties": {
            "connectionString": "Sanitized"
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1193"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-8348/providers/Microsoft.DataFactory/factories/datafactory-9d90e6fd-fb4e-3788-9209-23174073b6c3-9965/linkedservices/LinkedService4567",
        "name": "LinkedService4567",
        "type": "Microsoft.DataFactory/factories/linkedservices",
        "properties": {
          "type": "AzureBlobStorage",
          "typeProperties": {
            "connectionString": "Sanitized"
          }
        },
        "etag": "410064f1-0000-0800-0000-6549c7cd0000"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-8348/providers/Microsoft.DataFactory/factories/datafactory-9d90e6fd-fb4e-3788-9209-23174073b6c3-9965/linkedservices/linkedSerivce-2742?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "Greenplum",
          "typeProperties": {
            "connectionString": "Sanitized"
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1192"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-8348/providers/Microsoft.DataFactory/factories/datafactory-9d90e6fd-fb4e-3788-9209-23174073b6c3-9965/linkedservices/linkedSerivce-2742",
        "name": "linkedSerivce-2742",
        "type": "Microsoft.DataFactory/factories/linkedservices",
        "properties": {
          "type": "Greenplum",
          "typeProperties": {
            "connectionString": "Sanitized"
          }
        },
        "etag": "410066f1-0000-0800-0000-6549c7ce0000"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-8348/providers/Microsoft.DataFactory/factories/datafactory-9d90e6fd-fb4e-3788-9209-23174073b6c3-9965/datasets/dataset3353?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "HBaseObject",
          "linkedServiceName": {
            "type": "LinkedServiceReference",
            "referenceName": "linkedSerivce-2742"
          },
          "typeProperties": {}
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1191"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-8348/providers/Microsoft.DataFactory/factories/datafactory-9d90e6fd-fb4e-3788-9209-23174073b6c3-9965/datasets/dataset3353",
        "name": "dataset3353",
        "type": "Microsoft.DataFactory/factories/datasets",
        "properties": {
          "type": "HBaseObject",
          "linkedServiceName": {
            "type": "LinkedServiceReference",
            "referenceName": "linkedSerivce-2742"
          },
          "typeProperties": {}
        },
        "etag": "410068f1-0000-0800-0000-6549c7ce0000"
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": null,
    "RandomSeed": "1214627632",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "da1d7b9a-a759-41c8-bb73-093a1818e03a"
  }
}
