{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/DataFactory-RG-8348/providers/Microsoft.DataFactory/factories/DataFactory-8b9f376e-16e6-379d-bcd7-a72e529f92e9-2864?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "westus2",
        "properties": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1197"
      },
      "ResponseBody": {
        "name": "DataFactory-8b9f376e-16e6-379d-bcd7-a72e529f92e9-2864",
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-8348/providers/Microsoft.DataFactory/factories/datafactory-8b9f376e-16e6-379d-bcd7-a72e529f92e9-2864",
        "type": "Microsoft.DataFactory/factories",
        "properties": {
          "provisioningState": "Succeeded",
          "createTime": "2023-11-07T05:11:55.8346192Z",
          "version": "2018-06-01"
        },
        "eTag": "\u0022f2013e2c-0000-0800-0000-6549c71b0000\u0022",
        "location": "westus2",
        "tags": {}
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-8348/providers/Microsoft.DataFactory/factories/datafactory-8b9f376e-16e6-379d-bcd7-a72e529f92e9-2864/linkedservices/LinkedService9824?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "AzureBlobStorage",
          "typeProperties": {
            "connectionString": "Sanitized"
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1187"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-8348/providers/Microsoft.DataFactory/factories/datafactory-8b9f376e-16e6-379d-bcd7-a72e529f92e9-2864/linkedservices/LinkedService9824",
        "name": "LinkedService9824",
        "type": "Microsoft.DataFactory/factories/linkedservices",
        "properties": {
          "type": "AzureBlobStorage",
          "typeProperties": {
            "connectionString": "Sanitized"
          }
        },
        "etag": "130019ec-0000-0800-0000-6549c71c0000"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-8348/providers/Microsoft.DataFactory/factories/datafactory-8b9f376e-16e6-379d-bcd7-a72e529f92e9-2864/linkedservices/linkedSerivce-4448?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "CosmosDb",
          "typeProperties": {
            "connectionString": {
              "value": "AccountEndpoint=https://binlu-cosmos.documents.azure.com:443/;Database=test;",
              "type": "SecureString"
            }
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1188"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-8348/providers/Microsoft.DataFactory/factories/datafactory-8b9f376e-16e6-379d-bcd7-a72e529f92e9-2864/linkedservices/linkedSerivce-4448",
        "name": "linkedSerivce-4448",
        "type": "Microsoft.DataFactory/factories/linkedservices",
        "properties": {
          "type": "CosmosDb",
          "typeProperties": {
            "connectionString": {
              "type": "SecureString",
              "value": "**********"
            }
          }
        },
        "etag": "13001bec-0000-0800-0000-6549c71d0000"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-8348/providers/Microsoft.DataFactory/factories/datafactory-8b9f376e-16e6-379d-bcd7-a72e529f92e9-2864/datasets/dataset3005?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "CosmosDbSqlApiCollection",
          "linkedServiceName": {
            "type": "LinkedServiceReference",
            "referenceName": "linkedSerivce-4448"
          },
          "typeProperties": {
            "collectionName": "fake collection"
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1196"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-8348/providers/Microsoft.DataFactory/factories/datafactory-8b9f376e-16e6-379d-bcd7-a72e529f92e9-2864/datasets/dataset3005",
        "name": "dataset3005",
        "type": "Microsoft.DataFactory/factories/datasets",
        "properties": {
          "type": "CosmosDbSqlApiCollection",
          "linkedServiceName": {
            "type": "LinkedServiceReference",
            "referenceName": "linkedSerivce-4448"
          },
          "typeProperties": {
            "collectionName": "fake collection"
          }
        },
        "etag": "13001dec-0000-0800-0000-6549c71e0000"
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": null,
    "RandomSeed": "1954411260",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "da1d7b9a-a759-41c8-bb73-093a1818e03a"
  }
}
