{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/DataFactory-RG-7814/providers/Microsoft.DataFactory/factories/DataFactory-c98f9f91-2370-3d58-a0a3-d23d46b1c886-3752?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "westus2",
        "properties": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": {
        "name": "DataFactory-c98f9f91-2370-3d58-a0a3-d23d46b1c886-3752",
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-7814/providers/Microsoft.DataFactory/factories/datafactory-c98f9f91-2370-3d58-a0a3-d23d46b1c886-3752",
        "type": "Microsoft.DataFactory/factories",
        "properties": {
          "provisioningState": "Succeeded",
          "createTime": "2023-11-07T04:56:45.8438416Z",
          "version": "2018-06-01"
        },
        "eTag": "\u0022f1018bd1-0000-0800-0000-6549c38d0000\u0022",
        "location": "westus2",
        "tags": {}
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-7814/providers/Microsoft.DataFactory/factories/datafactory-c98f9f91-2370-3d58-a0a3-d23d46b1c886-3752/linkedservices/LinkedService3029?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "AzureBlobStorage",
          "typeProperties": {
            "connectionString": "Sanitized"
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1188"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-7814/providers/Microsoft.DataFactory/factories/datafactory-c98f9f91-2370-3d58-a0a3-d23d46b1c886-3752/linkedservices/LinkedService3029",
        "name": "LinkedService3029",
        "type": "Microsoft.DataFactory/factories/linkedservices",
        "properties": {
          "type": "AzureBlobStorage",
          "typeProperties": {
            "connectionString": "Sanitized"
          }
        },
        "etag": "0c0009a4-0000-0800-0000-6549c38f0000"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-7814/providers/Microsoft.DataFactory/factories/datafactory-c98f9f91-2370-3d58-a0a3-d23d46b1c886-3752/linkedservices/linkedSerivce-9806?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "Drill",
          "typeProperties": {
            "connectionString": {
              "value": "some connection string",
              "type": "SecureString"
            }
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1192"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-7814/providers/Microsoft.DataFactory/factories/datafactory-c98f9f91-2370-3d58-a0a3-d23d46b1c886-3752/linkedservices/linkedSerivce-9806",
        "name": "linkedSerivce-9806",
        "type": "Microsoft.DataFactory/factories/linkedservices",
        "properties": {
          "type": "Drill",
          "typeProperties": {
            "connectionString": {
              "type": "SecureString",
              "value": "**********"
            }
          }
        },
        "etag": "0c000ba4-0000-0800-0000-6549c3900000"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-7814/providers/Microsoft.DataFactory/factories/datafactory-c98f9f91-2370-3d58-a0a3-d23d46b1c886-3752/datasets/dataset3729?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "DrillTable",
          "linkedServiceName": {
            "type": "LinkedServiceReference",
            "referenceName": "linkedSerivce-9806"
          },
          "typeProperties": {
            "table": "testtable",
            "schema": "dbo"
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1191"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-7814/providers/Microsoft.DataFactory/factories/datafactory-c98f9f91-2370-3d58-a0a3-d23d46b1c886-3752/datasets/dataset3729",
        "name": "dataset3729",
        "type": "Microsoft.DataFactory/factories/datasets",
        "properties": {
          "type": "DrillTable",
          "linkedServiceName": {
            "type": "LinkedServiceReference",
            "referenceName": "linkedSerivce-9806"
          },
          "typeProperties": {
            "table": "testtable",
            "schema": "dbo"
          }
        },
        "etag": "0c000da4-0000-0800-0000-6549c3900000"
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": null,
    "RandomSeed": "2106458632",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "da1d7b9a-a759-41c8-bb73-093a1818e03a"
  }
}
