{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/DataFactory-RG-8348/providers/Microsoft.DataFactory/factories/DataFactory-16e49b8e-17be-3bb6-8277-34515139bb35-8426?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "westus2",
        "properties": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1186"
      },
      "ResponseBody": {
        "name": "DataFactory-16e49b8e-17be-3bb6-8277-34515139bb35-8426",
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-8348/providers/Microsoft.DataFactory/factories/datafactory-16e49b8e-17be-3bb6-8277-34515139bb35-8426",
        "type": "Microsoft.DataFactory/factories",
        "properties": {
          "provisioningState": "Succeeded",
          "createTime": "2023-11-07T05:20:52.9251172Z",
          "version": "2018-06-01"
        },
        "eTag": "\u0022f201e35f-0000-0800-0000-6549c9340000\u0022",
        "location": "westus2",
        "tags": {}
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-8348/providers/Microsoft.DataFactory/factories/datafactory-16e49b8e-17be-3bb6-8277-34515139bb35-8426/linkedservices/LinkedService8434?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "AzureBlobStorage",
          "typeProperties": {
            "connectionString": "Sanitized"
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1187"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-8348/providers/Microsoft.DataFactory/factories/datafactory-16e49b8e-17be-3bb6-8277-34515139bb35-8426/linkedservices/LinkedService8434",
        "name": "LinkedService8434",
        "type": "Microsoft.DataFactory/factories/linkedservices",
        "properties": {
          "type": "AzureBlobStorage",
          "typeProperties": {
            "connectionString": "Sanitized"
          }
        },
        "etag": "19021d3a-0000-0800-0000-6549c9350000"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-8348/providers/Microsoft.DataFactory/factories/datafactory-16e49b8e-17be-3bb6-8277-34515139bb35-8426/linkedservices/linkedSerivce-925?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "SapOpenHub",
          "typeProperties": {
            "clientId": "800",
            "systemId": "ecc",
            "userName": "user",
            "password": {
              "value": "fakepwd",
              "type": "SecureString"
            },
            "messageServer": "fakeserver",
            "messageServerService": "00",
            "logonGroup": "fakegroup"
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1187"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-8348/providers/Microsoft.DataFactory/factories/datafactory-16e49b8e-17be-3bb6-8277-34515139bb35-8426/linkedservices/linkedSerivce-925",
        "name": "linkedSerivce-925",
        "type": "Microsoft.DataFactory/factories/linkedservices",
        "properties": {
          "type": "SapOpenHub",
          "typeProperties": {
            "clientId": "800",
            "systemId": "ecc",
            "userName": "user",
            "messageServer": "fakeserver",
            "messageServerService": "00",
            "logonGroup": "fakegroup",
            "encryptedCredential": "ew0KICAiVmVyc2lvbiI6ICIyMDE3LTExLTMwIiwNCiAgIlByb3RlY3Rpb25Nb2RlIjogIktleSIsDQogICJTZWNyZXRDb250ZW50VHlwZSI6ICJQbGFpbnRleHQiLA0KICAiQ3JlZGVudGlhbElkIjogIkRBVEFGQUNUT1JZQDdGM0YyREU2LUVDNjYtNDY0Mi04NDU3LUVCQzI5QkVBMzcxMF84NDEzMjllNy05ZmY0LTRmYzYtYWE2MS1mN2VmNDlkZTYwNjQiDQp9"
          }
        },
        "etag": "19022b3a-0000-0800-0000-6549c9360000"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-8348/providers/Microsoft.DataFactory/factories/datafactory-16e49b8e-17be-3bb6-8277-34515139bb35-8426/datasets/dataset1402?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "SapOpenHubTable",
          "linkedServiceName": {
            "type": "LinkedServiceReference",
            "referenceName": "linkedSerivce-925"
          },
          "typeProperties": {
            "openHubDestinationName": "fakeohdname",
            "excludeLastRequest": true,
            "baseRequestId": 231
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1187"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-8348/providers/Microsoft.DataFactory/factories/datafactory-16e49b8e-17be-3bb6-8277-34515139bb35-8426/datasets/dataset1402",
        "name": "dataset1402",
        "type": "Microsoft.DataFactory/factories/datasets",
        "properties": {
          "type": "SapOpenHubTable",
          "linkedServiceName": {
            "type": "LinkedServiceReference",
            "referenceName": "linkedSerivce-925"
          },
          "typeProperties": {
            "openHubDestinationName": "fakeohdname",
            "excludeLastRequest": true,
            "baseRequestId": 231
          }
        },
        "etag": "1902373a-0000-0800-0000-6549c9370000"
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": null,
    "RandomSeed": "1801054303",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "da1d7b9a-a759-41c8-bb73-093a1818e03a"
  }
}
