{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/DataFactory-RG-472/providers/Microsoft.DataFactory/factories/DataFactory-95f5bdcb-5931-38ee-8463-11e6bed3e9d4-7913?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "westus2",
        "properties": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "654"
      },
      "ResponseBody": {
        "name": "DataFactory-95f5bdcb-5931-38ee-8463-11e6bed3e9d4-7913",
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-472/providers/Microsoft.DataFactory/factories/datafactory-95f5bdcb-5931-38ee-8463-11e6bed3e9d4-7913",
        "type": "Microsoft.DataFactory/factories",
        "properties": {
          "provisioningState": "Succeeded",
          "createTime": "2023-11-04T11:12:11.9274604Z",
          "version": "2018-06-01"
        },
        "eTag": "\u00228e012f1f-0000-0800-0000-6546270b0000\u0022",
        "location": "westus2",
        "tags": {}
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-472/providers/Microsoft.DataFactory/factories/datafactory-95f5bdcb-5931-38ee-8463-11e6bed3e9d4-7913/linkedservices/LinkedService5865?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "AzureBlobStorage",
          "typeProperties": {
            "connectionString": "Sanitized"
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "653"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-472/providers/Microsoft.DataFactory/factories/datafactory-95f5bdcb-5931-38ee-8463-11e6bed3e9d4-7913/linkedservices/LinkedService5865",
        "name": "LinkedService5865",
        "type": "Microsoft.DataFactory/factories/linkedservices",
        "properties": {
          "type": "AzureBlobStorage",
          "typeProperties": {
            "connectionString": "Sanitized"
          }
        },
        "etag": "09004e93-0000-0800-0000-6546270c0000"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-472/providers/Microsoft.DataFactory/factories/datafactory-95f5bdcb-5931-38ee-8463-11e6bed3e9d4-7913/linkedservices/linkedSerivce-210?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "SharePointOnlineList",
          "description": "test description",
          "typeProperties": {
            "siteUrl": "http://localhost/webhdfs/v1/",
            "tenantId": "tenantId",
            "servicePrincipalId": "servicePrincipalId",
            "servicePrincipalKey": {
              "value": "ServicePrincipalKey",
              "type": "SecureString"
            }
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "652"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-472/providers/Microsoft.DataFactory/factories/datafactory-95f5bdcb-5931-38ee-8463-11e6bed3e9d4-7913/linkedservices/linkedSerivce-210",
        "name": "linkedSerivce-210",
        "type": "Microsoft.DataFactory/factories/linkedservices",
        "properties": {
          "type": "SharePointOnlineList",
          "description": "test description",
          "typeProperties": {
            "siteUrl": "http://localhost/webhdfs/v1/",
            "tenantId": "tenantId",
            "servicePrincipalId": "servicePrincipalId",
            "encryptedCredential": "ew0KICAiVmVyc2lvbiI6ICIyMDE3LTExLTMwIiwNCiAgIlByb3RlY3Rpb25Nb2RlIjogIktleSIsDQogICJTZWNyZXRDb250ZW50VHlwZSI6ICJQbGFpbnRleHQiLA0KICAiQ3JlZGVudGlhbElkIjogIkRBVEFGQUNUT1JZQDZBMURFNUE1LUYzQzEtNDhEMy05NTAwLUJBMjVGNDQzREUyRF84MTQxYzc0MS1lNTU0LTRiNGQtOTJiNi1mM2M5MDBkN2YwNjUiDQp9"
          }
        },
        "etag": "09005093-0000-0800-0000-6546270d0000"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-472/providers/Microsoft.DataFactory/factories/datafactory-95f5bdcb-5931-38ee-8463-11e6bed3e9d4-7913/datasets/dataset4191?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "SharePointOnlineListResource",
          "linkedServiceName": {
            "type": "LinkedServiceReference",
            "referenceName": "linkedSerivce-210"
          },
          "typeProperties": {
            "listName": "listname"
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "651"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-472/providers/Microsoft.DataFactory/factories/datafactory-95f5bdcb-5931-38ee-8463-11e6bed3e9d4-7913/datasets/dataset4191",
        "name": "dataset4191",
        "type": "Microsoft.DataFactory/factories/datasets",
        "properties": {
          "type": "SharePointOnlineListResource",
          "linkedServiceName": {
            "type": "LinkedServiceReference",
            "referenceName": "linkedSerivce-210"
          },
          "typeProperties": {
            "listName": "listname"
          }
        },
        "etag": "09005293-0000-0800-0000-6546270d0000"
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": null,
    "RandomSeed": "1072937501",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "da1d7b9a-a759-41c8-bb73-093a1818e03a"
  }
}
