{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/DataFactory-RG-8150/providers/Microsoft.DataFactory/factories/DataFactory-14cbcf5c-7c47-3c98-b7d5-2329242ba50c-8401?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "westus2",
        "properties": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1090"
      },
      "ResponseBody": {
        "name": "DataFactory-14cbcf5c-7c47-3c98-b7d5-2329242ba50c-8401",
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-8150/providers/Microsoft.DataFactory/factories/datafactory-14cbcf5c-7c47-3c98-b7d5-2329242ba50c-8401",
        "type": "Microsoft.DataFactory/factories",
        "properties": {
          "provisioningState": "Succeeded",
          "createTime": "2023-11-04T10:35:43.0990049Z",
          "version": "2018-06-01"
        },
        "eTag": "\u00228d018f49-0000-0800-0000-65461e7f0000\u0022",
        "location": "westus2",
        "tags": {}
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-8150/providers/Microsoft.DataFactory/factories/datafactory-14cbcf5c-7c47-3c98-b7d5-2329242ba50c-8401/linkedservices/LinkedService8167?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "AzureBlobStorage",
          "typeProperties": {
            "connectionString": "Sanitized"
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1089"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-8150/providers/Microsoft.DataFactory/factories/datafactory-14cbcf5c-7c47-3c98-b7d5-2329242ba50c-8401/linkedservices/LinkedService8167",
        "name": "LinkedService8167",
        "type": "Microsoft.DataFactory/factories/linkedservices",
        "properties": {
          "type": "AzureBlobStorage",
          "typeProperties": {
            "connectionString": "Sanitized"
          }
        },
        "etag": "0c00ef2c-0000-0800-0000-65461e800000"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-8150/providers/Microsoft.DataFactory/factories/datafactory-14cbcf5c-7c47-3c98-b7d5-2329242ba50c-8401/linkedservices/linkedSerivce-2030?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "CommonDataServiceForApps",
          "typeProperties": {
            "deploymentType": "Online",
            "authenticationType": "AadServicePrincipal",
            "servicePrincipalId": "9bf5d9fd - 5dcd - 46a5 - b99b - 77d69adb2567",
            "servicePrincipalCredentialType": "ServicePrincipalKey",
            "servicePrincipalCredential": {
              "value": "fakepassword",
              "type": "SecureString"
            }
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1088"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-8150/providers/Microsoft.DataFactory/factories/datafactory-14cbcf5c-7c47-3c98-b7d5-2329242ba50c-8401/linkedservices/linkedSerivce-2030",
        "name": "linkedSerivce-2030",
        "type": "Microsoft.DataFactory/factories/linkedservices",
        "properties": {
          "type": "CommonDataServiceForApps",
          "typeProperties": {
            "deploymentType": "Online",
            "authenticationType": "AadServicePrincipal",
            "servicePrincipalId": "9bf5d9fd - 5dcd - 46a5 - b99b - 77d69adb2567",
            "servicePrincipalCredentialType": "ServicePrincipalKey",
            "encryptedCredential": "ew0KICAiVmVyc2lvbiI6ICIyMDE3LTExLTMwIiwNCiAgIlByb3RlY3Rpb25Nb2RlIjogIktleSIsDQogICJTZWNyZXRDb250ZW50VHlwZSI6ICJQbGFpbnRleHQiLA0KICAiQ3JlZGVudGlhbElkIjogIkRBVEFGQUNUT1JZQDJDQzVCNTkyLTQ2RUEtNDM3MC1BQjJELTk2RjFGMjE4Q0ZGOV8zODMwYjhmOS02NzQ0LTRiNmItODc0NC1kMzNmMzEzOTY4YzYiDQp9"
          }
        },
        "etag": "0c00f12c-0000-0800-0000-65461e800000"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-8150/providers/Microsoft.DataFactory/factories/datafactory-14cbcf5c-7c47-3c98-b7d5-2329242ba50c-8401/datasets/dataset5613?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "CommonDataServiceForAppsEntity",
          "linkedServiceName": {
            "type": "LinkedServiceReference",
            "referenceName": "linkedSerivce-2030"
          },
          "typeProperties": {
            "entityName": "test"
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1087"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-8150/providers/Microsoft.DataFactory/factories/datafactory-14cbcf5c-7c47-3c98-b7d5-2329242ba50c-8401/datasets/dataset5613",
        "name": "dataset5613",
        "type": "Microsoft.DataFactory/factories/datasets",
        "properties": {
          "type": "CommonDataServiceForAppsEntity",
          "linkedServiceName": {
            "type": "LinkedServiceReference",
            "referenceName": "linkedSerivce-2030"
          },
          "typeProperties": {
            "entityName": "test"
          }
        },
        "etag": "0c00f32c-0000-0800-0000-65461e810000"
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": null,
    "RandomSeed": "1115867827",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "da1d7b9a-a759-41c8-bb73-093a1818e03a"
  }
}
