{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/DataFactory-RG-332/providers/Microsoft.DataFactory/factories/DataFactory-4198?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "westus2",
        "properties": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1144"
      },
      "ResponseBody": {
        "name": "DataFactory-4198",
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-332/providers/Microsoft.DataFactory/factories/datafactory-4198",
        "type": "Microsoft.DataFactory/factories",
        "properties": {
          "provisioningState": "Succeeded",
          "createTime": "2023-10-25T03:14:37.8323678Z",
          "version": "2018-06-01"
        },
        "eTag": "\u00225d009ca2-0000-0800-0000-6538881d0000\u0022",
        "location": "westus2",
        "tags": {}
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-332/providers/Microsoft.DataFactory/factories/datafactory-4198/linkedservices/LinkedService6306?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": "AzureBlobStorage",
          "typeProperties": {
            "connectionString": "Sanitized"
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1143"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-332/providers/Microsoft.DataFactory/factories/datafactory-4198/linkedservices/LinkedService6306",
        "name": "LinkedService6306",
        "type": "Microsoft.DataFactory/factories/linkedservices",
        "properties": {
          "type": "AzureBlobStorage",
          "typeProperties": {
            "connectionString": "Sanitized"
          }
        },
        "etag": "f8001d4b-0000-0800-0000-6538881e0000"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-332/providers/Microsoft.DataFactory/factories/datafactory-4198/datasets/dataset4599?api-version=2018-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "type": null,
          "linkedServiceName": {
            "type": "LinkedServiceReference",
            "referenceName": "LinkedService6306"
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1142"
      },
      "ResponseBody": {
        "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-332/providers/Microsoft.DataFactory/factories/datafactory-4198/datasets/dataset4599",
        "name": "dataset4599",
        "type": "Microsoft.DataFactory/factories/datasets",
        "properties": {
          "type": null,
          "linkedServiceName": {
            "type": "LinkedServiceReference",
            "referenceName": "LinkedService6306"
          }
        },
        "etag": "f800294b-0000-0800-0000-6538881e0000"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-332/providers/Microsoft.DataFactory/factories/datafactory-4198/datasets?api-version=2018-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11976"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/da1d7b9a-a759-41c8-bb73-093a1818e03a/resourceGroups/datafactory-rg-332/providers/Microsoft.DataFactory/factories/datafactory-4198/datasets/dataset4599",
            "name": "dataset4599",
            "type": "Microsoft.DataFactory/factories/datasets",
            "properties": {
              "type": null,
              "linkedServiceName": {
                "type": "LinkedServiceReference",
                "referenceName": "LinkedService6306"
              }
            },
            "etag": "f800294b-0000-0800-0000-6538881e0000"
          }
        ]
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": null,
    "RandomSeed": "250220271",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "da1d7b9a-a759-41c8-bb73-093a1818e03a"
  }
}
