{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/azure_subscription_id/resourceGroups/czwjstest/providers/Microsoft.RecoveryServices/vaults/vaultstest/backupPolicies/resourcetest?api-version=2023-02-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "149"
      },
      "ResponseBody": {
        "id": "/subscriptions/azure_subscription_id/resourceGroups/czwjstest/providers/Microsoft.RecoveryServices/vaults/vaultstest/backupPolicies/resourcetest",
        "name": "resourcetest",
        "type": "Microsoft.RecoveryServices/vaults/backupPolicies",
        "properties": {
          "backupManagementType": "AzureIaasVM",
          "policyType": "V1",
          "instantRPDetails": {},
          "schedulePolicy": {
            "schedulePolicyType": "SimpleSchedulePolicy",
            "scheduleRunFrequency": "Daily",
            "scheduleRunTimes": [
              "2023-03-17T18:00:00Z"
            ],
            "scheduleWeeklyFrequency": 0
          },
          "retentionPolicy": {
            "retentionPolicyType": "LongTermRetentionPolicy",
            "dailySchedule": {
              "retentionTimes": [
                "2023-03-17T18:00:00Z"
              ],
              "retentionDuration": {
                "count": 180,
                "durationType": "Days"
              }
            }
          },
          "tieringPolicy": {
            "ArchivedRP": {
              "tieringMode": "DoNotTier",
              "duration": 0,
              "durationType": "Invalid"
            }
          },
          "instantRpRetentionRangeInDays": 2,
          "timeZone": "UTC",
          "protectedItemsCount": 0
        }
      }
    }
  ],
  "Variables": {}
}
