{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-5c2238f7-7dd7-918f-bf35-d34c59a063fc?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 01 May 2024 20:30:55 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC6A1D9A8601AE\"",
        "Last-Modified": "Wed, 01 May 2024 20:30:55 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-5c2238f7-7dd7-918f-bf35-d34c59a063fc/test-blob-ebd23848-4397-f608-b295-c8945ddaa3c3?sv=2024-08-04&se=2024-05-02T20%3A30%3A55Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC6A1D9A9BD15D\"",
        "Last-Modified": "Wed, 01 May 2024 20:30:56 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-05-01T20:30:56.0266589Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-5c2238f7-7dd7-918f-bf35-d34c59a063fc/test-blob-ebd23848-4397-f608-b295-c8945ddaa3c3?sv=2024-08-04&se=2024-05-02T20%3A30%3A55Z&sr=b&sp=racwdxyltmei&sig=Sanitized&comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "BNkuo0JQEiBJhQ91laGLvTmGbLQpRWLarWdgVedI6WRSp98pqGVW+CaxohIzk2ERCgpa1m7vmr93VPXb77w5AJyrIu3BYRXUMHSNeKNPpxoFT0vd7RP1Yw0gsVNwewhqeKF2h3BzT6j1hqb6YSEcJ6za1qBxWxKItr7gobDBY7RrI/8B2SCpkf+i52dt+gLrA4qnlqRo+ByP7dCykq34MyPxjz0iG02MMUSgznSrG7u89Z0lGc0PAyvjcutP9/5SqrNDfGvFyOg8G2Rgxymo49IV9Z0P0hpW4YsSPqlhPDlFTiTAZ59Q9yy06P5orzsCO44ZOgFhQteZ7Zrfsoo/2t4rGngE53szxP5wWuoc7TFQDwMaSAI45[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-5c2238f7-7dd7-918f-bf35-d34c59a063fc/test-blob-ebd23848-4397-f608-b295-c8945ddaa3c3?sv=2024-08-04&se=2024-05-02T20%3A30%3A55Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC6A1D9AAA4E28\"",
        "Last-Modified": "Wed, 01 May 2024 20:30:56 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Wed, 01 May 2024 20:30:56 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-05-01T20:30:56.0266589Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-5c2238f7-7dd7-918f-bf35-d34c59a063fc/test-blob-ebd23848-4397-f608-b295-c8945ddaa3c3?sv=2024-08-04&se=2024-05-02T20%3A30%3A55Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DC6A1D9AAA4E28\"",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC6A1D9AAA4E28\"",
        "Last-Modified": "Wed, 01 May 2024 20:30:56 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Wed, 01 May 2024 20:30:56 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-5c2238f7-7dd7-918f-bf35-d34c59a063fc?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 01 May 2024 20:30:56 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-05-01T13:30:55.6921939-07:00",
    "RandomSeed": "1820860572",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanada\nU2FuaXRpemVk\nhttps://seanmcccanada.blob.core.windows.net\nhttps://seanmcccanada.file.core.windows.net\nhttps://seanmcccanada.queue.core.windows.net\nhttps://seanmcccanada.table.core.windows.net\n\n\n\n\nhttps://seanmcccanada-secondary.blob.core.windows.net\nhttps://seanmcccanada-secondary.file.core.windows.net\nhttps://seanmcccanada-secondary.queue.core.windows.net\nhttps://seanmcccanada-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanada.blob.core.windows.net/;QueueEndpoint=https://seanmcccanada.queue.core.windows.net/;FileEndpoint=https://seanmcccanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanada-secondary.file.core.windows.net/;AccountName=seanmcccanada;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
