{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-260bdf96-e4a6-debc-4d4c-24f48416bc73?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 30 Sep 2025 21:44:10 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE006A7D9F7B0C\"",
        "Last-Modified": "Tue, 30 Sep 2025 21:44:10 GMT",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-260bdf96-e4a6-debc-4d4c-24f48416bc73/test-blob-39ca1a5c-00cb-2e8b-2cdc-865f020c950e?sv=Sanitized&se=2025-10-01T21%3A44%3A10Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE006A7DAE5BB6\"",
        "Last-Modified": "Tue, 30 Sep 2025 21:44:10 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-260bdf96-e4a6-debc-4d4c-24f48416bc73/test-blob-39ca1a5c-00cb-2e8b-2cdc-865f020c950e?sv=Sanitized&se=2025-10-01T21%3A44%3A10Z&sr=b&sp=racwdxyltmei&sig=Sanitized&comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": "L2pCP1V7xDaCP3sdu912XCuvUy914+6wupIV0mZ/LQT5n6VNAdzc4VWTt4yFbnNOZSo0UrhlmEx8koTCZfHPAhF2Ixs3KFpO03HZ4SthKkwfxm07S9pMlAZZ0G5XGXtkxLR6D0pXFjzP5X9Gi7YgGmc4o56ElLc2Ko8V3ljs9rn2dR125hsBx68wa2VbBQhPOLYGH3Xc3y/9ROS7QTjk4+/FUBaZqjNMN9vvUyhS2ySGxaWi5ddDGZbteaI2RYV2TIh2lbTyto6Cuuea7YsHq2m/NXyTQv4XgjeAqzGRFfFVeAeg3EVvlA8WHyrvqSsK5c45dhAJ4wmJXhN9cgtd8KX1RHWDZ84jUKBsfCLUJ9gLdcVjV57hTJT+Fn0x8iIEuS+E+mW2hn7/FSZvnGbntTY7cvxF+pgHFPjghVBR8V5+aMPzTy1yVe9HZEJ3ca8uF2FG9oAmvr+WfeVt1QEtrSPI8TSj82UJyBwM/pZWj6JIsm7vCvveWKkEXdFHBYDuGbYer4B6iiP7PS5jGcApP+5CJCKSPqMo6piKn5aUwcKcHuTfN+AizidK88zMej/p2h3iBOFdW9sT9cTn8OuNZ3trx/rcSQcOIFb7SErWXG9ZocR4sbzhPsMIzEIbOt08vYxQYLNEDJEV1OSLYhORPJlUjk8nFLW/iog31HzF8uY=",
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE006A7DB814DA\"",
        "Last-Modified": "Tue, 30 Sep 2025 21:44:10 GMT",
        "x-ms-blob-append-offset": "0",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-content-crc64": "UvpFxK4vmVE=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-260bdf96-e4a6-debc-4d4c-24f48416bc73/test-blob-39ca1a5c-00cb-2e8b-2cdc-865f020c950e?sv=Sanitized&se=2025-10-01T21%3A44%3A10Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DE006A7DC1F4C6\"",
        "Last-Modified": "Tue, 30 Sep 2025 21:44:10 GMT",
        "x-ms-blob-committed-block-count": "2",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Tue, 30 Sep 2025 21:44:10 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-260bdf96-e4a6-debc-4d4c-24f48416bc73/test-blob-39ca1a5c-00cb-2e8b-2cdc-865f020c950e?sv=Sanitized&se=2025-10-01T21%3A44%3A10Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DE006A7DC1F4C6\"",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DE006A7DC1F4C6\"",
        "Last-Modified": "Tue, 30 Sep 2025 21:44:10 GMT",
        "x-ms-blob-committed-block-count": "2",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Tue, 30 Sep 2025 21:44:10 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-260bdf96-e4a6-debc-4d4c-24f48416bc73?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 30 Sep 2025 21:44:11 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2025-09-30T14:44:10.5695450-07:00",
    "RandomSeed": "526672605",
    "Storage_TestConfigDefault": "ProductionTenant\namandapreprod\nU2FuaXRpemVk\nhttps://amandapreprod.blob.core.windows.net\nhttps://amandapreprod.file.core.windows.net\nhttps://amandapreprod.queue.core.windows.net\nhttps://amandapreprod.table.core.windows.net\n\n\n\n\nhttps://amandapreprod-secondary.blob.core.windows.net\nhttps://amandapreprod-secondary.file.core.windows.net\nhttps://amandapreprod-secondary.queue.core.windows.net\nhttps://amandapreprod-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandapreprod.blob.core.windows.net/;QueueEndpoint=https://amandapreprod.queue.core.windows.net/;FileEndpoint=https://amandapreprod.file.core.windows.net/;BlobSecondaryEndpoint=https://amandapreprod-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandapreprod-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandapreprod-secondary.file.core.windows.net/;AccountName=amandapreprod;AccountKey=U2FuaXRpemVk\nencryptionScope\n\n"
  }
}
