{
  "Entries": [
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-2a9c7c93-d3bd-ab12-c2dc-e5885a45fbc5?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 01:19:07 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC868FD5281361\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:19:09 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-2a9c7c93-d3bd-ab12-c2dc-e5885a45fbc5/test-blob-02484744-e4b5-a09d-d7b1-086f9fd4c00f?sv=Sanitized&se=2024-06-08T01%3A19%3A07Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC868FD538B08F\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:19:09 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-06-07T01:19:09.5475343Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-2a9c7c93-d3bd-ab12-c2dc-e5885a45fbc5/test-blob-02484744-e4b5-a09d-d7b1-086f9fd4c00f?sv=Sanitized&se=2024-06-08T01%3A19%3A07Z&sr=b&sp=racwdxyltmei&sig=Sanitized&comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "8eyqusrnD8tlgRBYwY2D7SDa+aNq6EL5Ats8BHpWec0CISV7iXGPXTd8nTTTRN5JLRtPxdsdpQmpsLjvqgtRDwhDVqBoCGOuSptr7UsOJr388tZeBrPx5Hwb0dm5oLIsKo0skO494SW4oHs/sre+m4r78rg08whUUXEkTDaK9arpPsO94ZXOvxCwpWY4sTLEXTZOvq35+DaF1z58GZTvLqvQVnP0ALn0LDOng02iHJ8/YO7/Ozb870WMNwpWUqV7wXe6Z1u+z119WZJ6UnTp47qfPLmm7/J002YuaMiundmNK8LW57REgZCRguKkgZ3QolRPtxXs1dGERZT1kGeUzru47SayEvsFWrsoFG0Q0FHIXcV0XubEoFXwUaEgT/Eo/bMm7JR3HpBZSV1aw8FkdHVCLDOhH2/V803QwsFZ5AvJABa56eS9UT41GhSIatyUjN0s3iO+ht1DUfhHplzPAGRRkMOrqoqRhdr0bAVaTIlwPDXkLAboC3k4dZjsdariZhqwN9kY6OFSmllIyhrY6QRu12om69NeaYVKcjXypQ8wEQbqqhWwV1NUkZGtoEBeYIyUfZ4/vHtHUc5TznasYPVKF7gT7T7vvX8X0VlBschE6xGoXSdw8FWLollHXIncpzGcY4iIS3JOpL8fKOohBqAFDuJkAwLN2SdjiEvlp2A=",
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC868FD545CED4\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:19:09 GMT",
        "x-ms-blob-append-offset": "0",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-content-crc64": "zQzR7+HDlMQ=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-2a9c7c93-d3bd-ab12-c2dc-e5885a45fbc5/test-blob-02484744-e4b5-a09d-d7b1-086f9fd4c00f?sv=Sanitized&se=2024-06-08T01%3A19%3A07Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC868FD56BA31C\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:19:09 GMT",
        "x-ms-blob-committed-block-count": "4",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Fri, 07 Jun 2024 01:19:09 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-06-07T01:19:09.5475343Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-2a9c7c93-d3bd-ab12-c2dc-e5885a45fbc5/test-blob-02484744-e4b5-a09d-d7b1-086f9fd4c00f?sv=Sanitized&se=2024-06-08T01%3A19%3A07Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DC868FD56BA31C\"",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-2047/2048",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC868FD56BA31C\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:19:09 GMT",
        "x-ms-blob-committed-block-count": "4",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Fri, 07 Jun 2024 01:19:09 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-2a9c7c93-d3bd-ab12-c2dc-e5885a45fbc5?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 01:19:08 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-06-06T20:19:07.9467235-05:00",
    "RandomSeed": "1111695320",
    "Storage_TestConfigDefault": "ProductionTenant\nseancanary\nU2FuaXRpemVk\nhttps://seancanary.blob.core.windows.net\nhttps://seancanary.file.core.windows.net\nhttps://seancanary.queue.core.windows.net\nhttps://seancanary.table.core.windows.net\n\n\n\n\nhttps://seancanary-secondary.blob.core.windows.net\nhttps://seancanary-secondary.file.core.windows.net\nhttps://seancanary-secondary.queue.core.windows.net\nhttps://seancanary-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seancanary.blob.core.windows.net/;QueueEndpoint=https://seancanary.queue.core.windows.net/;FileEndpoint=https://seancanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seancanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seancanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seancanary-secondary.file.core.windows.net/;AccountName=seancanary;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
