{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-34b2884a-bb5c-e961-76e0-330209dc279a?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 27 Mar 2024 22:42:58 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4EAF41569720\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 22:43:00 GMT",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-34b2884a-bb5c-e961-76e0-330209dc279a/test-blob-0575b277-0867-bc6b-6091-5362b6f5a751?sv=2024-05-04\u0026se=2024-03-28T22%3A42%3A58Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4EAF41660358\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 22:43:00 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-03-27T22:43:00.3215704Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-34b2884a-bb5c-e961-76e0-330209dc279a/test-blob-0575b277-0867-bc6b-6091-5362b6f5a751?sv=2024-05-04\u0026se=2024-03-28T22%3A42%3A58Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized\u0026comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": "Dt8YiJMU1/o/6aPhVygwZ03V9Y\u002BvzOziFIyyMQ0z/2BB5PERYCScYtp7xX1kimQ3YOsU4P8YokLzNnMGYqXtDOpDn3M2HwYpOZO1NAZufYkoetAiHh9gKUKuHSqwlf80jrmTIOvxAUHk66ZsYm48hLjq3ujUy\u002B3L4nUxhwHceaSTgKZN21yeNnmPPTN49MfTcplyxrcWX8LLxz52v3k/CHEC2OLI76lbS6dvRY26U\u002B6uXRVoabLsfCDjgRMeKHf/UDXBdhvkC4PvFnoQpxo1EXRQx2Jk156/FVzB5G2VPSMwb/RX\u002BNzSyVGReFM43NQGrXCfzmAUm3mXAmC/IyYWWtlX4Dgl3RmXff0Q0l5LhzmHuzf89W/CG9N7wPV8E6Yqex154Puc4M9XB1FiBMkaS3snN2fvGWRqlMRkqh0jG2lX5VZB0aY96tpnpe0eYBcKYXR6VNs\u002BO2K4D0w3ODWyNOznCx5y2XrV6U2MiHN2TDStWUmoqcaNGKr0iMFZBrGktXEBNlT4mIf6pGqOsbPuQsMYid/sCYolWvJzfVG4e\u002BOb59ICdRXftMDBrgRc/mf3BUX\u002BQXzSuKzm3NxihRo2QSmH88ng682tOdQeKlqGyVuLfHgLujpmyC8mHJg5fC\u002Bmi23b1QudFxl4UAiotI1RYBOA1wmiKobuICqaus80c7w=",
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4EAF4171E87B\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 22:43:00 GMT",
        "x-ms-blob-append-offset": "0",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-content-crc64": "4q040kpkyWo=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-34b2884a-bb5c-e961-76e0-330209dc279a/test-blob-0575b277-0867-bc6b-6091-5362b6f5a751?sv=2024-05-04\u0026se=2024-03-28T22%3A42%3A58Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC4EAF417A99D2\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 22:43:00 GMT",
        "x-ms-blob-committed-block-count": "2",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Wed, 27 Mar 2024 22:43:00 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-03-27T22:43:00.3215704Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-34b2884a-bb5c-e961-76e0-330209dc279a/test-blob-0575b277-0867-bc6b-6091-5362b6f5a751?sv=2024-05-04\u0026se=2024-03-28T22%3A42%3A58Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\u00220x8DC4EAF417A99D2\u0022",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC4EAF417A99D2\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 22:43:00 GMT",
        "x-ms-blob-committed-block-count": "2",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Wed, 27 Mar 2024 22:43:00 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
  [...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-34b2884a-bb5c-e961-76e0-330209dc279a?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 27 Mar 2024 22:42:59 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-03-27T15:42:58.8300857-07:00",
    "RandomSeed": "1996698310",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
