{
  "Entries": [
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-307fdc0e-7933-c64e-588f-0e4eaabb73cc?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 01:18:47 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC868FC950640B\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:18:49 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-307fdc0e-7933-c64e-588f-0e4eaabb73cc/test-blob-2c178a20-491e-0b9f-2d86-eeb365aa84d9",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Fri, 07 Jun 2024 01:18:48 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC868FC95C7006\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:18:49 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-06-07T01:18:49.6491526Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-307fdc0e-7933-c64e-588f-0e4eaabb73cc/test-blob-2c178a20-491e-0b9f-2d86-eeb365aa84d9?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Fri, 07 Jun 2024 01:18:48 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "HKC8DoJGfWDQUJFCfpA5ombSg7dnRk9J/S3+yByAZ1aPqwEe4wq+2g23W823XI2dTUtMkibMcdZQcxBVR7VDUOk6s9KOGr5cFKmqr+qCkaGfYXrQM9QwwjorznD5aZJYcwvkfKi7DjON8H58IsHszuFvteY6cx0VCvGYY0xNY6oXUTvfnRX441NGQkNVtJ94Pv+PibOsHQDtz3K3I6rnP4zUZNCGDTHLd9GS8zDav1VRICRMvtn2azQ78c6jQcCoXwO2gU/O8THOwxLiGSnPEw8cZQOGmoGy3fmcShtiKDUR6pQtJD0Fgi7yfvvHFFEKa96+htu9IcSCA6RWMqcWa5rc0S6Uo[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-307fdc0e-7933-c64e-588f-0e4eaabb73cc/test-blob-2c178a20-491e-0b9f-2d86-eeb365aa84d9?sv=Sanitized&se=2024-06-08T01%3A18%3A48Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 409,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "BlobAlreadyExists",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>BlobAlreadyExists</Code><Message>The specified blob already exists.\n",
        "RequestId:62059a55-101e-009c-1778-b85b47000000\n",
        "Time:2024-06-07T01:18:49.8271177Z</Message></Error>"
      ]
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-307fdc0e-7933-c64e-588f-0e4eaabb73cc/test-blob-2c178a20-491e-0b9f-2d86-eeb365aa84d9?sv=Sanitized&se=2024-06-08T01%3A18%3A48Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC868FC9682ED4\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:18:49 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Fri, 07 Jun 2024 01:18:49 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-06-07T01:18:49.6491526Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-307fdc0e-7933-c64e-588f-0e4eaabb73cc/test-blob-2c178a20-491e-0b9f-2d86-eeb365aa84d9?sv=Sanitized&se=2024-06-08T01%3A18%3A48Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DC868FC9682ED4\"",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC868FC9682ED4\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:18:49 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Fri, 07 Jun 2024 01:18:49 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-307fdc0e-7933-c64e-588f-0e4eaabb73cc?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 01:18:48 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-06-06T20:18:48.2303541-05:00",
    "RandomSeed": "2076031711",
    "Storage_TestConfigDefault": "ProductionTenant\nseancanary\nU2FuaXRpemVk\nhttps://seancanary.blob.core.windows.net\nhttps://seancanary.file.core.windows.net\nhttps://seancanary.queue.core.windows.net\nhttps://seancanary.table.core.windows.net\n\n\n\n\nhttps://seancanary-secondary.blob.core.windows.net\nhttps://seancanary-secondary.file.core.windows.net\nhttps://seancanary-secondary.queue.core.windows.net\nhttps://seancanary-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seancanary.blob.core.windows.net/;QueueEndpoint=https://seancanary.queue.core.windows.net/;FileEndpoint=https://seancanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seancanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seancanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seancanary-secondary.file.core.windows.net/;AccountName=seancanary;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
