{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-7f7085e7-6261-4709-0cb6-1250975b8299?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 01 May 2024 20:30:53 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC6A1D99309C2F\"",
        "Last-Modified": "Wed, 01 May 2024 20:30:53 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-7f7085e7-6261-4709-0cb6-1250975b8299/test-blob-634873fe-419c-2443-285b-3b52373a24d5?sv=2024-08-04&se=2024-05-02T20%3A30%3A53Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC6A1D99430394\"",
        "Last-Modified": "Wed, 01 May 2024 20:30:53 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-05-01T20:30:53.7669524Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-7f7085e7-6261-4709-0cb6-1250975b8299/test-blob-634873fe-419c-2443-285b-3b52373a24d5?sv=2024-08-04&se=2024-05-02T20%3A30%3A53Z&sr=b&sp=racwdxyltmei&sig=Sanitized&comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "z2khG6hHtaKaxD5J43s1zRQEz6/ugwzsOI0SiI/DK6jsCRJ0VOB9t76lyNgD+kGsJW0+M2t15kxdNOIbNCwS1piVXdpowHkzhxjxSLoz6T5LZmIihfc9diPFFx/9YYKRkvI/bZxnQ2T0CqxShJ2SKkujz87J8FGgWOa3o6laNiWVX7bI9Hyh5CL9LXpL6vKFM+zUWZG0x6KgnhW1sKC7mtSGvSTnyjXPAuuszMPWVW3zMXC8htyU4ZcUJ1Vm6zSBQpOmxC3Onmi3BVemCPveykmown4w/hP48tuM06PgaBa2KokvMJE/JZMHBYGE7dmcNVwMvim2UER/rtFRQcrF1pxB791yr5q4aJzrKfiScwQC8J5G1KnsA[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-7f7085e7-6261-4709-0cb6-1250975b8299/test-blob-634873fe-419c-2443-285b-3b52373a24d5?sv=2024-08-04&se=2024-05-02T20%3A30%3A53Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC6A1D99513250\"",
        "Last-Modified": "Wed, 01 May 2024 20:30:53 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Wed, 01 May 2024 20:30:53 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-05-01T20:30:53.7669524Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-7f7085e7-6261-4709-0cb6-1250975b8299/test-blob-634873fe-419c-2443-285b-3b52373a24d5?sv=2024-08-04&se=2024-05-02T20%3A30%3A53Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DC6A1D99513250\"",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC6A1D99513250\"",
        "Last-Modified": "Wed, 01 May 2024 20:30:53 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Wed, 01 May 2024 20:30:53 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-7f7085e7-6261-4709-0cb6-1250975b8299?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 01 May 2024 20:30:53 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-05-01T13:30:53.4549441-07:00",
    "RandomSeed": "1948786766",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanada\nU2FuaXRpemVk\nhttps://seanmcccanada.blob.core.windows.net\nhttps://seanmcccanada.file.core.windows.net\nhttps://seanmcccanada.queue.core.windows.net\nhttps://seanmcccanada.table.core.windows.net\n\n\n\n\nhttps://seanmcccanada-secondary.blob.core.windows.net\nhttps://seanmcccanada-secondary.file.core.windows.net\nhttps://seanmcccanada-secondary.queue.core.windows.net\nhttps://seanmcccanada-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanada.blob.core.windows.net/;QueueEndpoint=https://seanmcccanada.queue.core.windows.net/;FileEndpoint=https://seanmcccanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanada-secondary.file.core.windows.net/;AccountName=seanmcccanada;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
