{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-4a915214-2a08-2fa1-4c5d-0d50d3b783e0?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 00:37:40 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D10443B9311\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:37:40 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-4a915214-2a08-2fa1-4c5d-0d50d3b783e0/test-blob-1c014945-1b5d-82af-3ff1-3f23b8eb5d88?sv=Sanitized&se=2025-03-08T00%3A37%3A40Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D104448157F\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:37:40 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-4a915214-2a08-2fa1-4c5d-0d50d3b783e0/test-blob-1c014945-1b5d-82af-3ff1-3f23b8eb5d88?sv=Sanitized&se=2025-03-08T00%3A37%3A40Z&sr=b&sp=racwdxyltmei&sig=Sanitized&comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": "Dq1eZyRuVpQpm8RYD/hcNq4AcInDMQLXvBDVmBs1H9nB+QuVd85N1vJs88JWVnJHlAl0uHrTxdyrhqsTmb5583vrlhbsx77gspqXVz4/gWWdjQMSwWdf7jQv6vAjOT0z8/9Ga8BcW81KlAXgO26eawVFdQu6ZjIUjKfhvd3OvHldY2M/+RWlQTI2yC1hfrLGkH7r3sMxeIzMMt4Yep3wfNeMg9cKXnLvoDTYhJ4Fsw30Gyxe4961K+rXcsY2jMaURkxV1PvbuzEM+z2PWPTux37RJF9xkZn411fsM+yruBNuQz1Sr94RGV/6UuegJdP26KtHZWhmI7WyXP2k7ohFYEIpIRS3nBegwAr/dj+xWLGE9kpBY1OrB[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-4a915214-2a08-2fa1-4c5d-0d50d3b783e0/test-blob-1c014945-1b5d-82af-3ff1-3f23b8eb5d88?sv=Sanitized&se=2025-03-08T00%3A37%3A40Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD5D104450BE4C\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:37:40 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Fri, 07 Mar 2025 00:37:40 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-4a915214-2a08-2fa1-4c5d-0d50d3b783e0/test-blob-1c014945-1b5d-82af-3ff1-3f23b8eb5d88?sv=Sanitized&se=2025-03-08T00%3A37%3A40Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DD5D104450BE4C\"",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD5D104450BE4C\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:37:40 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Fri, 07 Mar 2025 00:37:40 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-4a915214-2a08-2fa1-4c5d-0d50d3b783e0?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 00:37:40 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2025-03-06T16:37:40.2636795-08:00",
    "RandomSeed": "1338207835",
    "Storage_TestConfigDefault": "ProductionTenant\namandapreprod\nU2FuaXRpemVk\nhttps://amandapreprod.blob.core.windows.net\nhttps://amandapreprod.file.core.windows.net\nhttps://amandapreprod.queue.core.windows.net\nhttps://amandapreprod.table.core.windows.net\n\n\n\n\nhttps://amandapreprod-secondary.blob.core.windows.net\nhttps://amandapreprod-secondary.file.core.windows.net\nhttps://amandapreprod-secondary.queue.core.windows.net\nhttps://amandapreprod-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandapreprod.blob.core.windows.net/;QueueEndpoint=https://amandapreprod.queue.core.windows.net/;FileEndpoint=https://amandapreprod.file.core.windows.net/;BlobSecondaryEndpoint=https://amandapreprod-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandapreprod-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandapreprod-secondary.file.core.windows.net/;AccountName=amandapreprod;AccountKey=U2FuaXRpemVk\nencryptionScope\n\n"
  }
}
