{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-46346ba8-8941-9183-2475-3e006c668a1d?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 01 May 2024 20:30:44 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC6A1D93F1CFBA\"",
        "Last-Modified": "Wed, 01 May 2024 20:30:44 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-46346ba8-8941-9183-2475-3e006c668a1d/test-blob-ef2e4ca2-fed6-d3fb-09da-5038bf604d4c?sv=2024-08-04&se=2024-05-02T20%3A30%3A44Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC6A1D9416DA02\"",
        "Last-Modified": "Wed, 01 May 2024 20:30:45 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-05-01T20:30:45.0889218Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-46346ba8-8941-9183-2475-3e006c668a1d/test-blob-ef2e4ca2-fed6-d3fb-09da-5038bf604d4c?sv=2024-08-04&se=2024-05-02T20%3A30%3A44Z&sr=b&sp=racwdxyltmei&sig=Sanitized&comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "BNHYoKwHonTKmfn1xsIQKIQ1gPeqgZYq0OZ6oMJalsqDwZt49OTom6m6JT0FBQxGyii0id9VoYM6rs/GjAKxbwIucQUnlzOfTeVN71tZJcvZM9aapg3rLh8XPkYVIg6nCLY61pMHHzL0FDv6B7In4YgE7FgrF8n0Q0PmD1ntiSvWpeelHk430hSjpZHS8SZt8Fy9ETW1fPDsRZJQIA/ZB4oPI2HKgsM6zBpEh3E3IlIceR/8L3j2ICn2uNi75rEEyZ4Gws3Eom2Zg0QacfV+tCJAM6fw3dcSGQI41MnqfuZpP73TMWCEWNaxY6sz268zdwO1e7IJFOzH9KjLi86jrgVesDI3q4PCvNvQPnkr3j1SBFzGNAMzYCrQDDy3uMwIDbSm1Sp9/Mx/87/WONVymxVreIZx3XoCKlAHZp9GCgMPxzHFhQkS1QiQRkBEXCdUXnEnS0BFly85pKradpUsOOi7x3CkrBULWKN+4Zc5vc4psgguH7/DyjABi+FfOF9yYw1YiJW2sLFbG/Ocx7aXAObcsMON/hkp+PxAoyE0rCBEC32K4TU4cwJW0gTLJgN6aYv6goib5WX0Lo+YdQyQJm7SWLs4DR+xoz3ANisVXdL5xjmVOimYqCYYlrKloP31xquV+c1HQVtsSd9K26453tG9nq/T+uxEOrCUIHdsCwM=",
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC6A1D9424E1A3\"",
        "Last-Modified": "Wed, 01 May 2024 20:30:45 GMT",
        "x-ms-blob-append-offset": "0",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-content-crc64": "Ngcw2DcZtZQ=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-46346ba8-8941-9183-2475-3e006c668a1d/test-blob-ef2e4ca2-fed6-d3fb-09da-5038bf604d4c?sv=2024-08-04&se=2024-05-02T20%3A30%3A44Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC6A1D9432C255\"",
        "Last-Modified": "Wed, 01 May 2024 20:30:45 GMT",
        "x-ms-blob-committed-block-count": "2",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Wed, 01 May 2024 20:30:45 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-05-01T20:30:45.0889218Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-46346ba8-8941-9183-2475-3e006c668a1d/test-blob-ef2e4ca2-fed6-d3fb-09da-5038bf604d4c?sv=2024-08-04&se=2024-05-02T20%3A30%3A44Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DC6A1D9432C255\"",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC6A1D9432C255\"",
        "Last-Modified": "Wed, 01 May 2024 20:30:45 GMT",
        "x-ms-blob-committed-block-count": "2",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Wed, 01 May 2024 20:30:45 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-46346ba8-8941-9183-2475-3e006c668a1d?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 01 May 2024 20:30:45 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-05-01T13:30:44.6520977-07:00",
    "RandomSeed": "890179030",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanada\nU2FuaXRpemVk\nhttps://seanmcccanada.blob.core.windows.net\nhttps://seanmcccanada.file.core.windows.net\nhttps://seanmcccanada.queue.core.windows.net\nhttps://seanmcccanada.table.core.windows.net\n\n\n\n\nhttps://seanmcccanada-secondary.blob.core.windows.net\nhttps://seanmcccanada-secondary.file.core.windows.net\nhttps://seanmcccanada-secondary.queue.core.windows.net\nhttps://seanmcccanada-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanada.blob.core.windows.net/;QueueEndpoint=https://seanmcccanada.queue.core.windows.net/;FileEndpoint=https://seanmcccanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanada-secondary.file.core.windows.net/;AccountName=seanmcccanada;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
