{
  "Entries": [
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-51a65cc2-3260-e8eb-ca16-981725a399c4?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 01:18:53 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC868FCC9CAFB8\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:18:55 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-51a65cc2-3260-e8eb-ca16-981725a399c4/test-blob-776b3bf9-4b3f-6397-bf5a-a13aca141571?sv=Sanitized&se=2024-06-08T01%3A18%3A53Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC868FCCAC6436\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:18:55 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-06-07T01:18:55.2063030Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-51a65cc2-3260-e8eb-ca16-981725a399c4/test-blob-776b3bf9-4b3f-6397-bf5a-a13aca141571?sv=Sanitized&se=2024-06-08T01%3A18%3A53Z&sr=b&sp=racwdxyltmei&sig=Sanitized&comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "2QMOPWn/EfJ2lXz4afL8QhX73ZftxVW9UNbaV9625mQThNFLXtID+il4AanOn/nNXl8lzjZ9hBOuUOySJbkTwK8Y5OUhseNC9+NtdMSr77HcDPl/kBctlv+9nA3mcdRwZUH6tbsUrK174tZTDw9OAmE6tRjAky+X6k3lYxTWXIYO/Q+CsTn2yGBLBK5B2obvbpmsq7u8r9ESYsttL0iZpIZPRBEAzFEnRO23dI+AVhDH9vR6KbDLUU49cE5uiJkYsl8o8ZV07qJIhGbNBTpCkQu6pjlUHnvVhPLDwlsCubtUn8IvWGV7UgdRMqVK/UwU+95DtOJgxJPkU2yisSxGRcqreWZ3EzmmP1MxAuzVi4emr8d9vwXY9NsuSgX42KDbCuzan4TmnOilnHSPLsGnDsfl/AJkyYbF0oSLScgzrWayVvcA++wDwBPe1yKQScYZhzs9E9yedkFmFMz/W1Mfce8O3NfKpxLb4jvvhvFjNYi+csGM9pmJFOC1mecfA2W/vmYzgWzuTuApYTCgr/BPAt9DQOmRk3tVhMj3FA0rvN7WL8eLMLMczyPhY5Rp6WTwZpcH28N8Livq3f2k9znT/aVSyoApw9IsJ3DFsC/m7JtjBq52JOAbWgGboFO1d9jpDmbvFh7kx6LF27NStn37BPBhQPCLXNjEN29+jSN+drA=",
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC868FCCB87127\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:18:55 GMT",
        "x-ms-blob-append-offset": "0",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-content-crc64": "e5yPqS5Cy+g=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-51a65cc2-3260-e8eb-ca16-981725a399c4/test-blob-776b3bf9-4b3f-6397-bf5a-a13aca141571?sv=Sanitized&se=2024-06-08T01%3A18%3A53Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC868FCCC4CC28\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:18:55 GMT",
        "x-ms-blob-committed-block-count": "2",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Fri, 07 Jun 2024 01:18:55 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-06-07T01:18:55.2063030Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-51a65cc2-3260-e8eb-ca16-981725a399c4/test-blob-776b3bf9-4b3f-6397-bf5a-a13aca141571?sv=Sanitized&se=2024-06-08T01%3A18%3A53Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DC868FCCC4CC28\"",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC868FCCC4CC28\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:18:55 GMT",
        "x-ms-blob-committed-block-count": "2",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Fri, 07 Jun 2024 01:18:55 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-51a65cc2-3260-e8eb-ca16-981725a399c4?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 01:18:54 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-06-06T20:18:53.6105610-05:00",
    "RandomSeed": "459373780",
    "Storage_TestConfigDefault": "ProductionTenant\nseancanary\nU2FuaXRpemVk\nhttps://seancanary.blob.core.windows.net\nhttps://seancanary.file.core.windows.net\nhttps://seancanary.queue.core.windows.net\nhttps://seancanary.table.core.windows.net\n\n\n\n\nhttps://seancanary-secondary.blob.core.windows.net\nhttps://seancanary-secondary.file.core.windows.net\nhttps://seancanary-secondary.queue.core.windows.net\nhttps://seancanary-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seancanary.blob.core.windows.net/;QueueEndpoint=https://seancanary.queue.core.windows.net/;FileEndpoint=https://seancanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seancanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seancanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seancanary-secondary.file.core.windows.net/;AccountName=seancanary;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
