{
  "Entries": [
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-91cb5051-c3fc-0c42-c5f2-003ae8e3c7db?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 01:18:54 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC868FCD0DB77C\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:18:55 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-91cb5051-c3fc-0c42-c5f2-003ae8e3c7db/test-blob-1557b327-6b84-3945-91cc-4f3add407ad3?sv=Sanitized&se=2024-06-08T01%3A18%3A54Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC868FCD1D44E7\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:18:55 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-06-07T01:18:55.9460583Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-91cb5051-c3fc-0c42-c5f2-003ae8e3c7db/test-blob-1557b327-6b84-3945-91cc-4f3add407ad3?sv=Sanitized&se=2024-06-08T01%3A18%3A54Z&sr=b&sp=racwdxyltmei&sig=Sanitized&comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "JO9SklHiTB7WjALqPZzxFRU42t6buYx8D1lTwg7Klo3KB/0d2RlcRGY4PvhpW/v02jokpWacN2pj1YL4j4oPDPV0HzWf0zv825V3YnqUE7RdXufTpfEnLs+SugSWZLXcKTEC9DvGVQf/KMnQJNXvz8LOmjCjO2cDTfFlDBk2ZXbgmzhIkR55lwjg1HwoVwn6o+pByMmEOe7K/6dJYEntycJS8Imcpz2jVAMnwmfq2/boa2kv9J2sW2JKfpJ3Lza/8wq51WaAXvusnnPFXXaG3yOxYfTfvdQlpZQnUSirLCTMaM9cMAWPaA1tglYq5/7sxJ5uxc5C3zU2lC/SWQzTAXFO+PSmKq4eIvnncjt9+r6WO42JPGZWioiaJpvWvQ8AmoHk2+4JRZrvUKPVWm36uJpwOx5/ScQL+G5sCwMSR2Xq59i5mR7QjfXymuzCgDAboG0BZYHwgFC92eOAnDmW3Ag+63KUQB97n60ojK/XSHc9UWuWEeLj+WeH+787UPC7XL3jhJS9hl9OhsXUyPOh5ZBrQkvN/8smWvILDERfP0+9bTDx88Tif8oMSIocDzBz5RYuzw6l7VzxvSmisnka7kd2F1vCr/LMiMKBwbdBCUvBlycuMG9AF3/UADWaQM1Q8llDpvjVsTUkYkdLJCykr7Td4BpS673XNf/b7q+8Mkg=",
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC868FCD2951CA\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:18:56 GMT",
        "x-ms-blob-append-offset": "0",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-content-crc64": "Rpqre19BSPs=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-91cb5051-c3fc-0c42-c5f2-003ae8e3c7db/test-blob-1557b327-6b84-3945-91cc-4f3add407ad3?sv=Sanitized&se=2024-06-08T01%3A18%3A54Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC868FCD34E992\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:18:56 GMT",
        "x-ms-blob-committed-block-count": "2",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Fri, 07 Jun 2024 01:18:55 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-06-07T01:18:55.9460583Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-91cb5051-c3fc-0c42-c5f2-003ae8e3c7db/test-blob-1557b327-6b84-3945-91cc-4f3add407ad3?sv=Sanitized&se=2024-06-08T01%3A18%3A54Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DC868FCD34E992\"",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC868FCD34E992\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:18:56 GMT",
        "x-ms-blob-committed-block-count": "2",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Fri, 07 Jun 2024 01:18:55 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-91cb5051-c3fc-0c42-c5f2-003ae8e3c7db?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 01:18:54 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-06-06T20:18:54.3519425-05:00",
    "RandomSeed": "897225900",
    "Storage_TestConfigDefault": "ProductionTenant\nseancanary\nU2FuaXRpemVk\nhttps://seancanary.blob.core.windows.net\nhttps://seancanary.file.core.windows.net\nhttps://seancanary.queue.core.windows.net\nhttps://seancanary.table.core.windows.net\n\n\n\n\nhttps://seancanary-secondary.blob.core.windows.net\nhttps://seancanary-secondary.file.core.windows.net\nhttps://seancanary-secondary.queue.core.windows.net\nhttps://seancanary-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seancanary.blob.core.windows.net/;QueueEndpoint=https://seancanary.queue.core.windows.net/;FileEndpoint=https://seancanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seancanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seancanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seancanary-secondary.file.core.windows.net/;AccountName=seancanary;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
