{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-d01faec5-51f0-cfbf-64ba-ef5eebaf8911?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 00:37:20 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D1038C48D5A\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:37:20 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-d01faec5-51f0-cfbf-64ba-ef5eebaf8911/test-blob-482fdd82-2e8b-baed-e55d-2ae4ba483f21?sv=Sanitized&se=2025-03-08T00%3A37%3A21Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D1038D1E266\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:37:21 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-d01faec5-51f0-cfbf-64ba-ef5eebaf8911/test-blob-482fdd82-2e8b-baed-e55d-2ae4ba483f21?sv=Sanitized&se=2025-03-08T00%3A37%3A21Z&sr=b&sp=racwdxyltmei&sig=Sanitized&comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": "ygNbEGctkP1ZUp1wrhCCvBek9LMTp2DV7Ix2JJXF/ibvO+07j+OKVE0y7jiQfQzV2m7MFlOMDiKjhSPatmtnlFR2gXIiRyw0Gp9l4LknRW9/oUon+OjSYi3LmAq/r57iy1nkGfuZspNBl/y0Ji1pez+zWxUhP5tsox5FV64idGoBgxVfQit05e625mDrHjz/YRzKDFOIwIu9eHXcVFvkHyORsqMXCTgUP3Umalk6gIXiRvWRWGgWecKJocq1mJGT0sY9WWyY51fjtc3eYVYygvfw+Q1lUsa6ejnhjmhuXqbjk5iS/SYYSl6erqKbOBdsVx7SxJ6DLn8Ag98ztlnvdVcm+s69n4XQ2K6vx6QkHkIidTZJm5kIYGQYknlH5ZMFrjhLdT1IrriYAezv1Gba22ScEEEjpdm9HZpqpQwMifIbqRhs2akE2sZ9sZmtGIv9PrYUq9RS4glejVej3QmrjHj61CpObgK7mDZ6pfRAEAUPbGdV994eyccODUtRYfy90iQgs0Rgr8+0WBOd1zwUHn1SlHGiVZSa2wtiP2G2ajY6vNLPH13Arr2XoZ/LgPGL+u7O/syKG32Qhtc5/m9t/u3cYxpqRf8gkuW0CrT1z1sZ10Vy6Gxqr6FVP5mFh7BNKaKx7x3XILTvrmzn1hHIm7Z8HyYp+xaBcrN5FAVlmgo=",
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D1038DA8B37\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:37:21 GMT",
        "x-ms-blob-append-offset": "0",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-content-crc64": "0dUT/0O7Zt0=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-d01faec5-51f0-cfbf-64ba-ef5eebaf8911/test-blob-482fdd82-2e8b-baed-e55d-2ae4ba483f21?sv=Sanitized&se=2025-03-08T00%3A37%3A21Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD5D1038E3340A\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:37:21 GMT",
        "x-ms-blob-committed-block-count": "2",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Fri, 07 Mar 2025 00:37:21 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-d01faec5-51f0-cfbf-64ba-ef5eebaf8911/test-blob-482fdd82-2e8b-baed-e55d-2ae4ba483f21?sv=Sanitized&se=2025-03-08T00%3A37%3A21Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DD5D1038E3340A\"",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD5D1038E3340A\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:37:21 GMT",
        "x-ms-blob-committed-block-count": "2",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Fri, 07 Mar 2025 00:37:21 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-d01faec5-51f0-cfbf-64ba-ef5eebaf8911?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 00:37:21 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2025-03-06T16:37:21.0331243-08:00",
    "RandomSeed": "856080578",
    "Storage_TestConfigDefault": "ProductionTenant\namandapreprod\nU2FuaXRpemVk\nhttps://amandapreprod.blob.core.windows.net\nhttps://amandapreprod.file.core.windows.net\nhttps://amandapreprod.queue.core.windows.net\nhttps://amandapreprod.table.core.windows.net\n\n\n\n\nhttps://amandapreprod-secondary.blob.core.windows.net\nhttps://amandapreprod-secondary.file.core.windows.net\nhttps://amandapreprod-secondary.queue.core.windows.net\nhttps://amandapreprod-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandapreprod.blob.core.windows.net/;QueueEndpoint=https://amandapreprod.queue.core.windows.net/;FileEndpoint=https://amandapreprod.file.core.windows.net/;BlobSecondaryEndpoint=https://amandapreprod-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandapreprod-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandapreprod-secondary.file.core.windows.net/;AccountName=amandapreprod;AccountKey=U2FuaXRpemVk\nencryptionScope\n\n"
  }
}
