{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-8e429b31-c255-d3ed-86ba-2796a3babace?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 27 Mar 2024 22:42:59 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4EAF41B380EC\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 22:43:00 GMT",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-8e429b31-c255-d3ed-86ba-2796a3babace/test-blob-96a3f1c3-387c-9f12-cf64-fdc2ccf3221f?sv=2024-05-04\u0026se=2024-03-28T22%3A42%3A59Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4EAF41C44263\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 22:43:00 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-03-27T22:43:00.9392227Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-8e429b31-c255-d3ed-86ba-2796a3babace/test-blob-96a3f1c3-387c-9f12-cf64-fdc2ccf3221f?sv=2024-05-04\u0026se=2024-03-28T22%3A42%3A59Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized\u0026comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": "ZnrzgsBToTo2oR21bcDKo1IpNr7DvTBpDlqXyZgt1rHRBaSY\u002Br4NcFBoYNsbXDIPmlpworxjXKlKiXNmvNihCMpr5GcbMaiTHMZuWl1VTrEohy4\u002BvTP1bqn6TXBKprN4xlcQr3jK82ix3Ib29QFM9TvCPjWpY0uXdnW\u002BIeQ4SXUT9pMGRJ84XZPGjeGs/nmorlg0h2h\u002BzmMLeDkCDNKEeZMR4/9tRrCciuCh4tVq63f8FXOLA8ENlScv\u002BsxmNVHBQhNNmxt5OmenmP2H3OuOoY3BBvZf\u002BHXRA07XPUvkNlWP4KDBHE9bgtoL5GrEhbk7oVk\u002BpC9aYUqefJfNof0cwmKo\u002BPtLzIQ9ZYMbVBMKDX2VnJvypZElNH9WI6C3juHd7yEIHI2979XUAT\u002BsPg02k28aOAViKR3QgsN79ajkhteiPmXyAvDw16zFHaRSefVxH5AxnVXbe8UEN5rKQvot8HpoCgCoRJF\u002BKWFYnAx4fgjNCtUYsuiBxsOf7cpWJZWymCwp6m/1yNv\u002BsnP0g964i7mS/DckFT6S5kM9CFbHJwPLpQTfT5SY2EH6Gf90jELk5mIRxCldjoLulgMst7\u002BFN4pwKN3a2Twl\u002BSP1Kvs\u002BHloAWSLztWPabhaB8biQbCCCdOJ0BGNlCg0m68oFZ2SHsHioK16dkYEnlbrGWOiElI0=",
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4EAF41CDB6E0\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 22:43:01 GMT",
        "x-ms-blob-append-offset": "0",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-content-crc64": "VPCCeiHkGUM=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-8e429b31-c255-d3ed-86ba-2796a3babace/test-blob-96a3f1c3-387c-9f12-cf64-fdc2ccf3221f?sv=2024-05-04\u0026se=2024-03-28T22%3A42%3A59Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC4EAF42260355\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 22:43:01 GMT",
        "x-ms-blob-committed-block-count": "8",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Wed, 27 Mar 2024 22:43:00 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-03-27T22:43:00.9392227Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-8e429b31-c255-d3ed-86ba-2796a3babace/test-blob-96a3f1c3-387c-9f12-cf64-fdc2ccf3221f?sv=2024-05-04\u0026se=2024-03-28T22%3A42%3A59Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\u00220x8DC4EAF42260355\u0022",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-4095/4096",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC4EAF42260355\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 22:43:01 GMT",
        "x-ms-blob-committed-block-count": "8",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Wed, 27 Mar 2024 22:43:00 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
  [...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-8e429b31-c255-d3ed-86ba-2796a3babace?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 27 Mar 2024 22:43:00 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-03-27T15:42:59.4420039-07:00",
    "RandomSeed": "1447511909",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
