{
  "Entries": [
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-72d0a6af-a6fd-5d00-751c-42b5f0aaa53a?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 01:19:06 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC868FD4514D7E\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:19:08 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-72d0a6af-a6fd-5d00-751c-42b5f0aaa53a/test-blob-59d99cea-965f-dd9f-8e4e-d222d25e5845?sv=Sanitized&se=2024-06-08T01%3A19%3A06Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-blob-type": "AppendBlob",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC868FD460B274\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:19:08 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-06-07T01:19:08.1330045Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-72d0a6af-a6fd-5d00-751c-42b5f0aaa53a/test-blob-59d99cea-965f-dd9f-8e4e-d222d25e5845?sv=Sanitized&se=2024-06-08T01%3A19%3A06Z&sr=b&sp=racwdxyltmei&sig=Sanitized&comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "uYiCKXEwrV5QHG6ZSra4EeXet2hXClqcJ1rmPuesGgiJQqhBC8yCuu57CUMnBpPXlsA986fv7q8u5gIXSW92owJlDwcOdgUZXP152wEXdCDHDqgmbyZhmlT5EyXJa3B/BGVAwfaLyR+7I5epdRKuF3HhUDrHUDTbBHWzFGPgT/CM+tab1rIqO0SIa0uPtyRBS/uz5xs2t7QxZL2A2LS82tOmHXo8EkC/txT1PuXoTExRcslnLWjUVkIhanH1qWOQzJB36JqpBTi69DAGQHjPSBdxL2bqVK1r0cY3GqjOyg2xZXJUcWOxp2yRrDg3zRbKUiFZg3r9pXfiCxbUcuuQ6yojVdoFete0v4j5Wad0MwOwbceGdUaStMD7cmVN3TWBAcAOFHg7xNhKpcPyA0v[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-72d0a6af-a6fd-5d00-751c-42b5f0aaa53a/test-blob-59d99cea-965f-dd9f-8e4e-d222d25e5845?sv=Sanitized&se=2024-06-08T01%3A19%3A06Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC868FD46BAE09\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:19:08 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Fri, 07 Jun 2024 01:19:08 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-06-07T01:19:08.1330045Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-72d0a6af-a6fd-5d00-751c-42b5f0aaa53a/test-blob-59d99cea-965f-dd9f-8e4e-d222d25e5845?sv=Sanitized&se=2024-06-08T01%3A19%3A06Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DC868FD46BAE09\"",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC868FD46BAE09\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:19:08 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Fri, 07 Jun 2024 01:19:08 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-72d0a6af-a6fd-5d00-751c-42b5f0aaa53a?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 01:19:06 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-06-06T20:19:06.5371960-05:00",
    "RandomSeed": "434680191",
    "Storage_TestConfigDefault": "ProductionTenant\nseancanary\nU2FuaXRpemVk\nhttps://seancanary.blob.core.windows.net\nhttps://seancanary.file.core.windows.net\nhttps://seancanary.queue.core.windows.net\nhttps://seancanary.table.core.windows.net\n\n\n\n\nhttps://seancanary-secondary.blob.core.windows.net\nhttps://seancanary-secondary.file.core.windows.net\nhttps://seancanary-secondary.queue.core.windows.net\nhttps://seancanary-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seancanary.blob.core.windows.net/;QueueEndpoint=https://seancanary.queue.core.windows.net/;FileEndpoint=https://seancanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seancanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seancanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seancanary-secondary.file.core.windows.net/;AccountName=seancanary;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
