{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-a42b660f-998c-3d11-fb6e-18fe50d965db?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 01 May 2024 20:31:03 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC6A1D9F512149\"",
        "Last-Modified": "Wed, 01 May 2024 20:31:03 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-a42b660f-998c-3d11-fb6e-18fe50d965db/test-blob-bf43aea1-f1e2-73de-e163-be594df844c9?sv=2024-08-04&se=2024-05-02T20%3A31%3A03Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC6A1D9F648CC3\"",
        "Last-Modified": "Wed, 01 May 2024 20:31:04 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-05-01T20:31:04.0540622Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-a42b660f-998c-3d11-fb6e-18fe50d965db/test-blob-bf43aea1-f1e2-73de-e163-be594df844c9?sv=2024-08-04&se=2024-05-02T20%3A31%3A03Z&sr=b&sp=racwdxyltmei&sig=Sanitized&comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "81cUIAhB2XNiLCPpXIzKH0ehd0nuvN74UV5Cnigyma94dQSnssyhX9XPXLbO9BdUmJ8Sq4D72zd4G86q/jpLMJJzceaII2x7ABd0HmAoKV1G7gaIH+0ufZnNLpb992GahCwkWoMwzHUzl6tphrzXUPFwYxA0whCkRfRNu/TVfQi22pozA8/aFiKQVYhBxfbc9t6ljZRQZcEcfxWO4xCBXRqjsqwio0wilk3upGyHYoD9cMUWMO9zZXTYF4S5SzIRDvhunhJJulKRgvZGYsBVlByVkXNLaywqL0w3SYvIaUsa3JVzGcRts7VyhK35LQOzgoNoJLq/xaPLQ27FEnDGyRmrLIUr4XpXJ9292ed+MQJJg8YIX0SQWxfyp9ZWp6FEq7qUTQF9iKAIEPzcAey8TBJrfI6pvmnUGtBuODqkAYA7eC0s6uQBy/olAE9Is1orNVvD6isTm+1QvzIwD09mYw58oYi+j2ItarCTg70ajGZ2QwLe4BdUKN1A3Cux0Lyqvp1AzBLRbKb5lX96fxcvNjPLustNiIL3J3irfrI2fJnz6MUg2b9UpdZc5UuX2qjGEKb35RbxXTYaSaWaJe70whnmh5dSDlx0dxX08KI3YE3P5G0MP5aCAoqOBpAaun/oaCMxsFMRdAJJg24B/GyU4+hYykGB54OCY4QMxAjMWb0=",
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC6A1D9F729475\"",
        "Last-Modified": "Wed, 01 May 2024 20:31:04 GMT",
        "x-ms-blob-append-offset": "0",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-content-crc64": "qeTCQgoqLwM=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-a42b660f-998c-3d11-fb6e-18fe50d965db/test-blob-bf43aea1-f1e2-73de-e163-be594df844c9?sv=2024-08-04&se=2024-05-02T20%3A31%3A03Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC6A1D9F815F62\"",
        "Last-Modified": "Wed, 01 May 2024 20:31:04 GMT",
        "x-ms-blob-committed-block-count": "2",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Wed, 01 May 2024 20:31:04 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-05-01T20:31:04.0540622Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-a42b660f-998c-3d11-fb6e-18fe50d965db/test-blob-bf43aea1-f1e2-73de-e163-be594df844c9?sv=2024-08-04&se=2024-05-02T20%3A31%3A03Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DC6A1D9F815F62\"",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC6A1D9F815F62\"",
        "Last-Modified": "Wed, 01 May 2024 20:31:04 GMT",
        "x-ms-blob-committed-block-count": "2",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Wed, 01 May 2024 20:31:04 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-a42b660f-998c-3d11-fb6e-18fe50d965db?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 01 May 2024 20:31:04 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-05-01T13:31:03.7330155-07:00",
    "RandomSeed": "326369441",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanada\nU2FuaXRpemVk\nhttps://seanmcccanada.blob.core.windows.net\nhttps://seanmcccanada.file.core.windows.net\nhttps://seanmcccanada.queue.core.windows.net\nhttps://seanmcccanada.table.core.windows.net\n\n\n\n\nhttps://seanmcccanada-secondary.blob.core.windows.net\nhttps://seanmcccanada-secondary.file.core.windows.net\nhttps://seanmcccanada-secondary.queue.core.windows.net\nhttps://seanmcccanada-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanada.blob.core.windows.net/;QueueEndpoint=https://seanmcccanada.queue.core.windows.net/;FileEndpoint=https://seanmcccanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanada-secondary.file.core.windows.net/;AccountName=seanmcccanada;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
