{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-8284f110-7a1b-adb8-0b85-dec3791fe47f?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 30 Sep 2025 21:44:26 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE006A873A0606\"",
        "Last-Modified": "Tue, 30 Sep 2025 21:44:26 GMT",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-8284f110-7a1b-adb8-0b85-dec3791fe47f/test-blob-77f98185-f6bd-b1d6-ff55-e38c7106f002?sv=Sanitized&se=2025-10-01T21%3A44%3A26Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE006A874BC906\"",
        "Last-Modified": "Tue, 30 Sep 2025 21:44:26 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-8284f110-7a1b-adb8-0b85-dec3791fe47f/test-blob-77f98185-f6bd-b1d6-ff55-e38c7106f002?sv=Sanitized&se=2025-10-01T21%3A44%3A26Z&sr=b&sp=racwdxyltmei&sig=Sanitized&comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": "rJ0GCFq3YXo4ink1JJpBUWuBLDwPYYPGmhMuyIA689edN6pPRhstzh9/PzJ8oYxkE5Ih8Nmz80oaQG1GiZn5/Zail+3w8gtPVF4ckCJQSfiGybTuGQP96URgNAWt5kSFhkGb2QmfdCGG0Zt7lmInyvd1v7/lCuSTpa6okL0Fom4ZlwrhtG/v51WSZ0dngVLhOGoOOCaFoHtcCDRb9+RjgC4tYv9YRhWHhthqUqOcKyNbxldT92pHk/aOhas7k/BxL+YZOh9SiPJUhrFNGk3Yv9wR/zCMEInD5s4JysBpS/Lo+SO8g/EDCD5l/nG4+XmotsbPKpS/5B9dVVRRSb4x6ju/ZSEqHDvrDfbyJhEXC+xVYBP6miFdKBQEXi2csr5/MxQ1+ZRXfpqK4x2dzb0NRUpn++mqN08aYTwMJr0OTlo3cvP94RFY/eF5b7cDwFtW9hjjNbbU1PvEG5dXSlfcfJTCZVvKEGM4D/0IMMiXFqHhtjCkKhmkYp33OMZ6ALOKnfMjQVr/jOa0qia4zKMzLAX2dpQnN1F7HQK909edvg5KfZPVdNRG4SlK74Dz65b6wwzAhIoeYmWhpyNXQrgOF+wXbU8QXrcwr5Vq3UjRiDFswxDL3TmELBouM82w755xO9iT235G6mVUj9X1s4Ud0B/x63+oQzmyk0E04Srqf78=",
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE006A87544B01\"",
        "Last-Modified": "Tue, 30 Sep 2025 21:44:27 GMT",
        "x-ms-blob-append-offset": "0",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-content-crc64": "41o0UREisQE=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-8284f110-7a1b-adb8-0b85-dec3791fe47f/test-blob-77f98185-f6bd-b1d6-ff55-e38c7106f002?sv=Sanitized&se=2025-10-01T21%3A44%3A26Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DE006A875D419B\"",
        "Last-Modified": "Tue, 30 Sep 2025 21:44:27 GMT",
        "x-ms-blob-committed-block-count": "2",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Tue, 30 Sep 2025 21:44:26 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-8284f110-7a1b-adb8-0b85-dec3791fe47f/test-blob-77f98185-f6bd-b1d6-ff55-e38c7106f002?sv=Sanitized&se=2025-10-01T21%3A44%3A26Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DE006A875D419B\"",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DE006A875D419B\"",
        "Last-Modified": "Tue, 30 Sep 2025 21:44:27 GMT",
        "x-ms-blob-committed-block-count": "2",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Tue, 30 Sep 2025 21:44:26 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-8284f110-7a1b-adb8-0b85-dec3791fe47f?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 30 Sep 2025 21:44:27 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2025-09-30T14:44:26.6762905-07:00",
    "RandomSeed": "1054606722",
    "Storage_TestConfigDefault": "ProductionTenant\namandapreprod\nU2FuaXRpemVk\nhttps://amandapreprod.blob.core.windows.net\nhttps://amandapreprod.file.core.windows.net\nhttps://amandapreprod.queue.core.windows.net\nhttps://amandapreprod.table.core.windows.net\n\n\n\n\nhttps://amandapreprod-secondary.blob.core.windows.net\nhttps://amandapreprod-secondary.file.core.windows.net\nhttps://amandapreprod-secondary.queue.core.windows.net\nhttps://amandapreprod-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandapreprod.blob.core.windows.net/;QueueEndpoint=https://amandapreprod.queue.core.windows.net/;FileEndpoint=https://amandapreprod.file.core.windows.net/;BlobSecondaryEndpoint=https://amandapreprod-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandapreprod-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandapreprod-secondary.file.core.windows.net/;AccountName=amandapreprod;AccountKey=U2FuaXRpemVk\nencryptionScope\n\n"
  }
}
