{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-3940efa9-4b92-4ab5-cd82-5f1ea5520022?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 01 May 2024 20:31:14 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC6A1DA5B62CE4\"",
        "Last-Modified": "Wed, 01 May 2024 20:31:14 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-3940efa9-4b92-4ab5-cd82-5f1ea5520022/test-blob-399d12a0-8a07-73cf-19dc-668e5aaef299?sv=2024-08-04&se=2024-05-02T20%3A31%3A14Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC6A1DA5C8BA7C\"",
        "Last-Modified": "Wed, 01 May 2024 20:31:14 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-05-01T20:31:14.7759228Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-3940efa9-4b92-4ab5-cd82-5f1ea5520022/test-blob-399d12a0-8a07-73cf-19dc-668e5aaef299?sv=2024-08-04&se=2024-05-02T20%3A31%3A14Z&sr=b&sp=racwdxyltmei&sig=Sanitized&comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "VtntTbaFLVCWl5HSzvZkScSKZkWW8n6liChhGCSnjGUzzokmm/GvGuVMo2/5/aUjdx3Jz0etAmRaSMWOIxQs7wsrnv9sPa7T20xfSk4Pq4qCPqAH3b0ehswly1IsIffQILRkzV6mtzpu9vP7TbcWS5w6DORzJBFODRgzR3Jbp7pUjiqaq94r3IdmmObJIjgUD4C28RUSXPuiFcBGcm/IE085pr+Me6C+Dy9dDYsqhergHjjxpbWlQjEv95Ue5WkXnoWXj3x5iJPf9+HltE9weJDVZlQ31m6ZlGSNXYQLoCnGRW4Gk/ZuZpakEa3Tv43iv38ESH8V38gW/foX7CoO1Fe4H2/gaeSaZv+9ksTAxdXXqp4FBleqs[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-3940efa9-4b92-4ab5-cd82-5f1ea5520022/test-blob-399d12a0-8a07-73cf-19dc-668e5aaef299?sv=2024-08-04&se=2024-05-02T20%3A31%3A14Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC6A1DA5D6E93E\"",
        "Last-Modified": "Wed, 01 May 2024 20:31:14 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Wed, 01 May 2024 20:31:14 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-05-01T20:31:14.7759228Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-3940efa9-4b92-4ab5-cd82-5f1ea5520022/test-blob-399d12a0-8a07-73cf-19dc-668e5aaef299?sv=2024-08-04&se=2024-05-02T20%3A31%3A14Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DC6A1DA5D6E93E\"",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC6A1DA5D6E93E\"",
        "Last-Modified": "Wed, 01 May 2024 20:31:14 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Wed, 01 May 2024 20:31:14 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-3940efa9-4b92-4ab5-cd82-5f1ea5520022?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 01 May 2024 20:31:14 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-05-01T13:31:14.4600966-07:00",
    "RandomSeed": "1028125166",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanada\nU2FuaXRpemVk\nhttps://seanmcccanada.blob.core.windows.net\nhttps://seanmcccanada.file.core.windows.net\nhttps://seanmcccanada.queue.core.windows.net\nhttps://seanmcccanada.table.core.windows.net\n\n\n\n\nhttps://seanmcccanada-secondary.blob.core.windows.net\nhttps://seanmcccanada-secondary.file.core.windows.net\nhttps://seanmcccanada-secondary.queue.core.windows.net\nhttps://seanmcccanada-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanada.blob.core.windows.net/;QueueEndpoint=https://seanmcccanada.queue.core.windows.net/;FileEndpoint=https://seanmcccanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanada-secondary.file.core.windows.net/;AccountName=seanmcccanada;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
