{
  "Entries": [
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-9d529eae-a584-25d3-0be9-827560320773?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 01:19:07 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC868FD4B0A386\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:19:08 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-9d529eae-a584-25d3-0be9-827560320773/test-blob-cfbd97cb-1f0a-6bc2-81af-7bbf67317f3d",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Fri, 07 Jun 2024 01:19:07 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC868FD4BCD459\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:19:08 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-06-07T01:19:08.7358041Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-9d529eae-a584-25d3-0be9-827560320773/test-blob-cfbd97cb-1f0a-6bc2-81af-7bbf67317f3d?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Fri, 07 Jun 2024 01:19:07 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "ksBPvU9K8uRr9XZNmArwuE0C1g8Qh7cF4HY70fqofrq2bH/xGbnqgKTYYxSoddJ2v8NyZVtwLAoJSd3YDiDqw3e7liyK/p6TF1VqOCSiXWqkxBI2NRlfRj916M/bEXGD7aCd7N+m68Ak300FBfTmZuxzNEkOtI5eXE/sFRXPtwXj5kqDBXCK/dlRElbLWUFLj4LiaN0ndTkSP5CPudaqVCdHIR6pYmF86DZwvKI3kgIOoIWT7U8ovHERccXf+0QDp70ugzgioS0hZX+mt7mX2q2NgRlQF2fYH2WtmPCbne3ybRXkCQ7K7P5YcofPggS4eZcXUnoqspBVVWTSdQk8hciRs0qjs[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-9d529eae-a584-25d3-0be9-827560320773/test-blob-cfbd97cb-1f0a-6bc2-81af-7bbf67317f3d?sv=Sanitized&se=2024-06-08T01%3A19%3A07Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 409,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "BlobAlreadyExists",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>BlobAlreadyExists</Code><Message>The specified blob already exists.\n",
        "RequestId:6205bc63-101e-009c-1b78-b85b47000000\n",
        "Time:2024-06-07T01:19:08.9478147Z</Message></Error>"
      ]
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-9d529eae-a584-25d3-0be9-827560320773/test-blob-cfbd97cb-1f0a-6bc2-81af-7bbf67317f3d?sv=Sanitized&se=2024-06-08T01%3A19%3A07Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC868FD4CCB17E\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:19:08 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Fri, 07 Jun 2024 01:19:08 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-06-07T01:19:08.7358041Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-9d529eae-a584-25d3-0be9-827560320773/test-blob-cfbd97cb-1f0a-6bc2-81af-7bbf67317f3d?sv=Sanitized&se=2024-06-08T01%3A19%3A07Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DC868FD4CCB17E\"",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC868FD4CCB17E\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:19:08 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Fri, 07 Jun 2024 01:19:08 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-9d529eae-a584-25d3-0be9-827560320773?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 01:19:07 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-06-06T20:19:07.3432853-05:00",
    "RandomSeed": "640552318",
    "Storage_TestConfigDefault": "ProductionTenant\nseancanary\nU2FuaXRpemVk\nhttps://seancanary.blob.core.windows.net\nhttps://seancanary.file.core.windows.net\nhttps://seancanary.queue.core.windows.net\nhttps://seancanary.table.core.windows.net\n\n\n\n\nhttps://seancanary-secondary.blob.core.windows.net\nhttps://seancanary-secondary.file.core.windows.net\nhttps://seancanary-secondary.queue.core.windows.net\nhttps://seancanary-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seancanary.blob.core.windows.net/;QueueEndpoint=https://seancanary.queue.core.windows.net/;FileEndpoint=https://seancanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seancanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seancanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seancanary-secondary.file.core.windows.net/;AccountName=seancanary;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
