{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-37e83c2f-5d83-5769-9846-8c90a35e3ea3?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 00:37:42 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D1045669C1D\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:37:42 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-37e83c2f-5d83-5769-9846-8c90a35e3ea3/test-blob-417a7d73-4208-ffb2-a354-5b10d862698a?sv=Sanitized&se=2025-03-08T00%3A37%3A42Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-blob-type": "AppendBlob",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D1045750A07\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:37:42 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-37e83c2f-5d83-5769-9846-8c90a35e3ea3/test-blob-417a7d73-4208-ffb2-a354-5b10d862698a?sv=Sanitized&se=2025-03-08T00%3A37%3A42Z&sr=b&sp=racwdxyltmei&sig=Sanitized&comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": "ORh2sFbp/66hCfTds/IsYtDbk2+Ty2vYQAmyTwagFrJG8mxOA/JTin7LoP9N1UuwKPg//c/69m6tnnBMNq+oAPNBlsCG3V7ehwnxyCtsimq+AicOYBnjTPz9oWWBB1POI58MDD6LKUqaYXXFCC5DQBMFjTSImZ/ZXUrEiTv5XH+2IqWLYH4sM9jcdP+jHUPOuWFRe3keRon/Mq70x58PoAT1D+aIt+CV2VpbqyWgNj8G9c/Zp+AGl9sciy7QN2s5zNP7rQ5cRQKBvKIew5tjX/tu7dHQNfgj73gLbCuyxaHvIt5SpIgxqbDNWOs+59M/uCwyYUqaaZfb176WUdnWzvcAL6C8EbpzPEMhAtwN5Aeky7P/f2NXVLlHd83Km1jW9or0PrgygqdxvyQGeWa[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-37e83c2f-5d83-5769-9846-8c90a35e3ea3/test-blob-417a7d73-4208-ffb2-a354-5b10d862698a?sv=Sanitized&se=2025-03-08T00%3A37%3A42Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD5D10457D8BFF\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:37:42 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Fri, 07 Mar 2025 00:37:42 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-37e83c2f-5d83-5769-9846-8c90a35e3ea3/test-blob-417a7d73-4208-ffb2-a354-5b10d862698a?sv=Sanitized&se=2025-03-08T00%3A37%3A42Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DD5D10457D8BFF\"",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD5D10457D8BFF\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:37:42 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Fri, 07 Mar 2025 00:37:42 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-37e83c2f-5d83-5769-9846-8c90a35e3ea3?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 00:37:42 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2025-03-06T16:37:42.2228332-08:00",
    "RandomSeed": "1180321805",
    "Storage_TestConfigDefault": "ProductionTenant\namandapreprod\nU2FuaXRpemVk\nhttps://amandapreprod.blob.core.windows.net\nhttps://amandapreprod.file.core.windows.net\nhttps://amandapreprod.queue.core.windows.net\nhttps://amandapreprod.table.core.windows.net\n\n\n\n\nhttps://amandapreprod-secondary.blob.core.windows.net\nhttps://amandapreprod-secondary.file.core.windows.net\nhttps://amandapreprod-secondary.queue.core.windows.net\nhttps://amandapreprod-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandapreprod.blob.core.windows.net/;QueueEndpoint=https://amandapreprod.queue.core.windows.net/;FileEndpoint=https://amandapreprod.file.core.windows.net/;BlobSecondaryEndpoint=https://amandapreprod-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandapreprod-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandapreprod-secondary.file.core.windows.net/;AccountName=amandapreprod;AccountKey=U2FuaXRpemVk\nencryptionScope\n\n"
  }
}
