{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-a8b7062c-639b-351f-40c3-24fa88ddc6bd?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 01 May 2024 20:31:02 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC6A1D9ED3873D\"",
        "Last-Modified": "Wed, 01 May 2024 20:31:03 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-a8b7062c-639b-351f-40c3-24fa88ddc6bd/test-blob-170619d6-a463-c5bf-21f2-c5e42f51ffb8?sv=2024-08-04&se=2024-05-02T20%3A31%3A02Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC6A1D9EE5D260\"",
        "Last-Modified": "Wed, 01 May 2024 20:31:03 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-05-01T20:31:03.2225376Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-a8b7062c-639b-351f-40c3-24fa88ddc6bd/test-blob-170619d6-a463-c5bf-21f2-c5e42f51ffb8?sv=2024-08-04&se=2024-05-02T20%3A31%3A02Z&sr=b&sp=racwdxyltmei&sig=Sanitized&comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "inCWCfhIfnvLPTrMuHjDRC8o9xuBIVC+vx9cTJJ3UUCo9uGQBn4SjpuKSyVq8wyoL4C0B1rkNmkg2ErY6zLpVOz5I8KWMz6wFWmA9tUqVMwTtB0SwknmxMB4by40OqJoofc5cM9KEfxCBPHxYz+T9oN9xDcV1pGiEl8CHsMPe9rGF1Xe8OP8yaIgz75Y9WCA5XmqtnZqU8tll11wSPM4M4gWKkzqtQWfgfuV9AfTSh3+gTlKZMVkW8SKeFmFjIGu6Jw2QcsUli9zCzV61V7Dkk1Acca67s7Css6HYDysGfR65gxqnAhS6esJ11mP6YVlxuUMRRu69PnNc4/8jDXzxvFBAO5SWPVE7ofasRZ1M8hIIppWoNTZv/ISnCl5Vly1FhBnTumXE23vx1aT30PiWEDGs2qbnCYdaED8P7zMypgqJJsFDeXfsQ8sZth9Rd+vL0PpsqLyGnrqSuWomtOxI/y+aLqo3Eta5wFbbjVNnyJgTA944xj1OAohG8L/Nhc7e0Pbv9wlB1L4jsqhl6tEnavCR03DOD/kyTCwh8GJW7HqH/PxceBGO0W8gFRNU6Fe3H0XPO/Jd0ID9/WsdICQbzMZt3e4UyvKfAsIBrjql3WPUapEcR7BIKew7XrqmcbFKxAhM5wqpolRTL/jwXGKGF+AHSPVTP0UV5fPB2Wx4OI=",
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC6A1D9EF44F38\"",
        "Last-Modified": "Wed, 01 May 2024 20:31:03 GMT",
        "x-ms-blob-append-offset": "0",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-content-crc64": "hSbI0stURDo=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-a8b7062c-639b-351f-40c3-24fa88ddc6bd/test-blob-170619d6-a463-c5bf-21f2-c5e42f51ffb8?sv=2024-08-04&se=2024-05-02T20%3A31%3A02Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC6A1D9F02A4FB\"",
        "Last-Modified": "Wed, 01 May 2024 20:31:03 GMT",
        "x-ms-blob-committed-block-count": "2",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Wed, 01 May 2024 20:31:03 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-05-01T20:31:03.2225376Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-a8b7062c-639b-351f-40c3-24fa88ddc6bd/test-blob-170619d6-a463-c5bf-21f2-c5e42f51ffb8?sv=2024-08-04&se=2024-05-02T20%3A31%3A02Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DC6A1D9F02A4FB\"",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC6A1D9F02A4FB\"",
        "Last-Modified": "Wed, 01 May 2024 20:31:03 GMT",
        "x-ms-blob-committed-block-count": "2",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Wed, 01 May 2024 20:31:03 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-a8b7062c-639b-351f-40c3-24fa88ddc6bd?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 01 May 2024 20:31:03 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-05-01T13:31:02.9090585-07:00",
    "RandomSeed": "72141333",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanada\nU2FuaXRpemVk\nhttps://seanmcccanada.blob.core.windows.net\nhttps://seanmcccanada.file.core.windows.net\nhttps://seanmcccanada.queue.core.windows.net\nhttps://seanmcccanada.table.core.windows.net\n\n\n\n\nhttps://seanmcccanada-secondary.blob.core.windows.net\nhttps://seanmcccanada-secondary.file.core.windows.net\nhttps://seanmcccanada-secondary.queue.core.windows.net\nhttps://seanmcccanada-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanada.blob.core.windows.net/;QueueEndpoint=https://seanmcccanada.queue.core.windows.net/;FileEndpoint=https://seanmcccanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanada-secondary.file.core.windows.net/;AccountName=seanmcccanada;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
