{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-675febf9-4898-92e8-374a-2c961b1eabf8?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 30 Sep 2025 21:44:38 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE006A8E55B665\"",
        "Last-Modified": "Tue, 30 Sep 2025 21:44:38 GMT",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-675febf9-4898-92e8-374a-2c961b1eabf8/test-blob-79d5e5b8-5b76-f46b-ce64-b246c6717488?sv=Sanitized&se=2025-10-01T21%3A44%3A38Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE006A8E66BCC2\"",
        "Last-Modified": "Tue, 30 Sep 2025 21:44:38 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-675febf9-4898-92e8-374a-2c961b1eabf8/test-blob-79d5e5b8-5b76-f46b-ce64-b246c6717488?sv=Sanitized&se=2025-10-01T21%3A44%3A38Z&sr=b&sp=racwdxyltmei&sig=Sanitized&comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": "PylEPZj6CsVTXSxV9OSALPSdvjnZkoz2cpHiivCOIsq2iPhRQx9MvdoQJRgvFf/p44ZSKLI6r6ycTcsHGH/UxDtin2vsLunVUABeyWxzx1yR+KZpPPkYe9lLtPVTRaVbO2HdzXaU/bSdfdix3OZAKYZvdSDYaohBSSORoHrzgQpbA40Llfnl/frxzL4hZp/zC4tu5NCEgtDYnINTA106qfzNVdlYNJOMiXcm557JIOKEnpTuhJ061oC9Mvl2kvqctyPCUxHFm9b44ltYXpsyD3ygzmXISyVek39YmwGZFvZ9iS97BszRvgK99qJC4XfliiN91cSV1Gv9Y8CSbf/UXstk29VrtwivzhBiClWCHLEHcxDeHEAy6LTEfaMLP1ED6JjW3QahetMbzQezM8kWe0YOivnv9kGLMvIgpzllo4+/XiG8rD+rZfg8wk85frXrrQJc/bRXFPJWS6oTgNKZtil39NSnWc4HYyUAsjTxUbQ9Nfk3CKbaZ0ovZmCUl+QmowsmwYnhRFQzVJmPVmG9ZPn21kvZYq2CnY2Jd/NucstA2g8oy5AqXPGlBLQNSxHpcgFmncGYTEBdoyT8V8xhxOLNTntSlJlpzHpaNF75dVJ7oAXyCNQKqI7OyidsLQQkQz/SP/2Vlt1n/NFHPhjiZC7SgLfHb7wNw6btg8lx/Z4=",
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE006A8E6F6587\"",
        "Last-Modified": "Tue, 30 Sep 2025 21:44:38 GMT",
        "x-ms-blob-append-offset": "0",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-content-crc64": "yNtvTpHolss=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-675febf9-4898-92e8-374a-2c961b1eabf8/test-blob-79d5e5b8-5b76-f46b-ce64-b246c6717488?sv=Sanitized&se=2025-10-01T21%3A44%3A38Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DE006A8E8A704D\"",
        "Last-Modified": "Tue, 30 Sep 2025 21:44:39 GMT",
        "x-ms-blob-committed-block-count": "4",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Tue, 30 Sep 2025 21:44:38 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-675febf9-4898-92e8-374a-2c961b1eabf8/test-blob-79d5e5b8-5b76-f46b-ce64-b246c6717488?sv=Sanitized&se=2025-10-01T21%3A44%3A38Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DE006A8E8A704D\"",
        "x-ms-range": "bytes=0-2047",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-2047/2048",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DE006A8E8A704D\"",
        "Last-Modified": "Tue, 30 Sep 2025 21:44:39 GMT",
        "x-ms-blob-committed-block-count": "4",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Tue, 30 Sep 2025 21:44:38 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-675febf9-4898-92e8-374a-2c961b1eabf8?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 30 Sep 2025 21:44:39 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2025-09-30T14:44:38.6041402-07:00",
    "RandomSeed": "606620446",
    "Storage_TestConfigDefault": "ProductionTenant\namandapreprod\nU2FuaXRpemVk\nhttps://amandapreprod.blob.core.windows.net\nhttps://amandapreprod.file.core.windows.net\nhttps://amandapreprod.queue.core.windows.net\nhttps://amandapreprod.table.core.windows.net\n\n\n\n\nhttps://amandapreprod-secondary.blob.core.windows.net\nhttps://amandapreprod-secondary.file.core.windows.net\nhttps://amandapreprod-secondary.queue.core.windows.net\nhttps://amandapreprod-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandapreprod.blob.core.windows.net/;QueueEndpoint=https://amandapreprod.queue.core.windows.net/;FileEndpoint=https://amandapreprod.file.core.windows.net/;BlobSecondaryEndpoint=https://amandapreprod-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandapreprod-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandapreprod-secondary.file.core.windows.net/;AccountName=amandapreprod;AccountKey=U2FuaXRpemVk\nencryptionScope\n\n"
  }
}
