{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-ebd0f555-9c1e-122f-fec9-7f729f6fae15?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 01 May 2024 20:31:19 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC6A1DA8E5EC6F\"",
        "Last-Modified": "Wed, 01 May 2024 20:31:20 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-ebd0f555-9c1e-122f-fec9-7f729f6fae15/test-blob-37110f94-c30e-525a-ce50-cff2019e14f4?sv=2024-08-04&se=2024-05-02T20%3A31%3A19Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC6A1DA8F9D39D\"",
        "Last-Modified": "Wed, 01 May 2024 20:31:20 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-05-01T20:31:20.1318569Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-ebd0f555-9c1e-122f-fec9-7f729f6fae15/test-blob-37110f94-c30e-525a-ce50-cff2019e14f4?sv=2024-08-04&se=2024-05-02T20%3A31%3A19Z&sr=b&sp=racwdxyltmei&sig=Sanitized&comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "9pXblApRtc8dH2L92E6MYL04Ou6zLwQokccWasNYQOmpPspdjP3OQlpCGu9hXHp/w240yGQmQMaRsgJDOkoLxN94U5qDL9TAaveTcRUVxzRMlqdUI3eFg/0EzNn7iwgPNlUQ6Ang+5SZdF5sks+xfOvN9qSjtqBn88+cf2L6xN/vhDq/Bd4rbJoTu68ZGfEtUlDuLZRjbH+0qPU5Q3wxnq9+fA2U8XcNookJkPvxTtrdbiwSDJdKixi6Clzo8Ske4Rz/m5zkmWHZ4YsLWtuEwlobW9RPH5IYM/H12uYaJLBf667f8rI++dXLOCsLPzE8NkgCzZVVz8KJ52eq7r56vrzbq24tpNCn3WH+g+ZnDPS/uKOeGFcaC[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-ebd0f555-9c1e-122f-fec9-7f729f6fae15?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 01 May 2024 20:31:20 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-05-01T13:31:19.8074413-07:00",
    "RandomSeed": "1155616765",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanada\nU2FuaXRpemVk\nhttps://seanmcccanada.blob.core.windows.net\nhttps://seanmcccanada.file.core.windows.net\nhttps://seanmcccanada.queue.core.windows.net\nhttps://seanmcccanada.table.core.windows.net\n\n\n\n\nhttps://seanmcccanada-secondary.blob.core.windows.net\nhttps://seanmcccanada-secondary.file.core.windows.net\nhttps://seanmcccanada-secondary.queue.core.windows.net\nhttps://seanmcccanada-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanada.blob.core.windows.net/;QueueEndpoint=https://seanmcccanada.queue.core.windows.net/;FileEndpoint=https://seanmcccanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanada-secondary.file.core.windows.net/;AccountName=seanmcccanada;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
