{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-849e669d-259b-6599-1099-1f8846d82b2c?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 27 Mar 2024 22:43:11 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4EAF49014F47\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 22:43:13 GMT",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-849e669d-259b-6599-1099-1f8846d82b2c/test-blob-b3fa1032-b165-d6f9-520f-4064ae1d9dcc?sv=2024-05-04\u0026se=2024-03-28T22%3A43%3A11Z\u0026sr=b\u0026sp=Sanitized\u0026sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4EAF490FF394\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 22:43:13 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-03-27T22:43:13.1793300Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-849e669d-259b-6599-1099-1f8846d82b2c/test-blob-b3fa1032-b165-d6f9-520f-4064ae1d9dcc?sv=2024-05-04\u0026se=2024-03-28T22%3A43%3A11Z\u0026sr=b\u0026sp=Sanitized\u0026sig=Sanitized\u0026comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": "Kwtk6KNAo0hmnXX6Z2K8eAzoErkfeD0QyGfUWwTHKOea0RdrENOM8myxTcc7/m7wU8dXxQrkrLPOUyA7a0hEnnSOYJZKUGg5XCBNbSp11cn45Ac8cGPctSVjnbyzUIYkba5TrZ3YpQNfHmjqlz\u002BJWX5WQ4dABy4Rsatx5rOrhgyZKP98IicrID4E3VH68h7l2kM9XA3\u002B42V/QfvyZ75Qs5hcUG4/DDdWKiJIOyrcFr6Miwxvbin\u002BmkSZ/OAsOLiAsym5nqKvpc4M5jHqtqg7oio9Zdyy4UVuXbUppRBWKvJqyIcAI3gc3eU9Yof3FOScXlm17tLcztLkSkDshv\u002B\u002Btrw/gO4g[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-849e669d-259b-6599-1099-1f8846d82b2c?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 27 Mar 2024 22:43:12 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-03-27T15:43:11.6906498-07:00",
    "RandomSeed": "530497292",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
