{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-17cced3e-2141-510f-de14-4c8071e78235?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 27 Mar 2024 22:42:56 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4EAF400E942A\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 22:42:58 GMT",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-17cced3e-2141-510f-de14-4c8071e78235/test-blob-ee35a726-4c60-4785-abb3-c9ef671fb042",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Wed, 27 Mar 2024 22:42:56 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4EAF40179381\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 22:42:58 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-03-27T22:42:58.1298049Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-17cced3e-2141-510f-de14-4c8071e78235/test-blob-ee35a726-4c60-4785-abb3-c9ef671fb042?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 27 Mar 2024 22:42:56 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": "trSbTsYW36gmSZC8lZPxZyDJXftlEtnc4hR8rzX/oHqvh8QjM\u002BLMMPNUGNW8fWWZsx46YRz2MKTavmuxmS9yJ6kVDQ7OzTQ9/S0IEPoEIGSv4/wXxD9euVcgSHR2GpfE4fAspnBXyubq/WPv7R\u002Bq1p4HArUzW2Npt1O2roS/xuKVRC8J2HrzVxgWLcfbbss3dnLWbxjhkIaNwu8doBxhKjaBWanwoP0kE6qdHS6bjkiHfzgS6VbKs7OofBWK1rf8tQKRWhUiR9V0sltuRHNY8jOmlSHkTkDft6b1RyTomT3yoWgrCjQzZTdinjf7XG9AUInh5EGWF2bBsaJuLf\[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-17cced3e-2141-510f-de14-4c8071e78235/test-blob-ee35a726-4c60-4785-abb3-c9ef671fb042?sv=2024-05-04\u0026se=2024-03-28T22%3A42%3A56Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 409,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "BlobAlreadyExists",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003EBlobAlreadyExists\u003C/Code\u003E\u003CMessage\u003EThe specified blob already exists.\n",
        "RequestId:633558f4-101e-0023-4998-80ef22000000\n",
        "Time:2024-03-27T22:42:58.5777796Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-17cced3e-2141-510f-de14-4c8071e78235?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 27 Mar 2024 22:42:57 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-03-27T15:42:56.8701153-07:00",
    "RandomSeed": "2073497071",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
