{
  "Entries": [
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-a402264b-dac9-4400-1404-84fc6085b8c1?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 01:18:51 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC868FCB9C6C5D\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:18:53 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-a402264b-dac9-4400-1404-84fc6085b8c1/test-blob-5a1b9409-cac4-260a-3bdb-da2dc0686d28?sv=Sanitized&se=2024-06-08T01%3A18%3A51Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC868FCBB0B48B\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:18:53 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-06-07T01:18:53.5568523Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-a402264b-dac9-4400-1404-84fc6085b8c1/test-blob-5a1b9409-cac4-260a-3bdb-da2dc0686d28?sv=Sanitized&se=2024-06-08T01%3A18%3A51Z&sr=b&sp=racwdxyltmei&sig=Sanitized&comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "QGBAn9sf/zdJo0XxLQNGDY4GDDqjZ9JCLaugFc6OXD9XlIaAccyL6ZXkESGFGPk3lc2eulwyhNiO/nIvf+lpu0cGmZl9xZvBeyKkv1axvRSyaH8B76HiJA+t8nNaXGmrelXafn5futAx3D45jcWC3UBdfBdpZ8ulI3SK0NIoZx+5+EQA1j6VUq6v0BJjqJZKKhUy/N9SQhKKNVsK1en9CHUfgJWAggYCyCpoupe4QnveQKW99Wo/ZrYxdqHji33EssedQycByagOMDS16Yd60fPfK5VEPxMK3xreTgtkHjysowfQG/5T3Hb8rsU2inwvtqSuA1/ngHK0kmMNI3qcqRL4CEaAqrb0jE8fR5FN1FWdr5dnthrcx[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-a402264b-dac9-4400-1404-84fc6085b8c1?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 01:18:52 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-06-06T20:18:51.9618245-05:00",
    "RandomSeed": "1680756470",
    "Storage_TestConfigDefault": "ProductionTenant\nseancanary\nU2FuaXRpemVk\nhttps://seancanary.blob.core.windows.net\nhttps://seancanary.file.core.windows.net\nhttps://seancanary.queue.core.windows.net\nhttps://seancanary.table.core.windows.net\n\n\n\n\nhttps://seancanary-secondary.blob.core.windows.net\nhttps://seancanary-secondary.file.core.windows.net\nhttps://seancanary-secondary.queue.core.windows.net\nhttps://seancanary-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seancanary.blob.core.windows.net/;QueueEndpoint=https://seancanary.queue.core.windows.net/;FileEndpoint=https://seancanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seancanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seancanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seancanary-secondary.file.core.windows.net/;AccountName=seancanary;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
