{
  "Entries": [
    {
      "RequestUri": "https://camaiaornettesting.cognitiveservices.azure.com/documentintelligence/documentModels/prebuilt-read:analyzeBatch?api-version=2024-11-30&stringIndexType=utf16CodeUnit",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "azureBlobSource": {
          "containerUrl": "https://sanitized.blob.core.windows.net"
        },
        "resultContainerUrl": "https://sanitized.blob.core.windows.net",
        "overwriteExisting": true
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Operation-Location": "https://camaiaornettesting.cognitiveservices.azure.com/documentintelligence/documentModels/prebuilt-read/analyzeBatchResults/437d7098-c676-4fdd-abec-9f381c43b95a?api-version=2024-11-30",
        "x-ms-region": "East US"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://camaiaornettesting.cognitiveservices.azure.com/documentintelligence/documentModels/prebuilt-read/analyzeBatchResults/437d7098-c676-4fdd-abec-9f381c43b95a?api-version=2024-11-30",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "resultId": "437d7098-c676-4fdd-abec-9f381c43b95a",
        "status": "running",
        "percentCompleted": 0,
        "createdDateTime": "2024-12-13T23:35:48Z",
        "lastUpdatedDateTime": "2024-12-13T23:35:48Z"
      }
    },
[...]
    {
      "RequestUri": "https://camaiaornettesting.cognitiveservices.azure.com/documentintelligence/documentModels/prebuilt-read/analyzeBatchResults/437d7098-c676-4fdd-abec-9f381c43b95a?api-version=2024-11-30",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "resultId": "437d7098-c676-4fdd-abec-9f381c43b95a",
        "status": "succeeded",
        "percentCompleted": 100,
        "createdDateTime": "2024-12-13T23:35:48Z",
        "lastUpdatedDateTime": "2024-12-13T23:35:48Z",
        "result": {
          "succeededCount": 6,
          "failedCount": 0,
          "skippedCount": 0,
          "details": [
            {
              "sourceUrl": "https://azuresdktrainingdata.blob.core.windows.net/trainingdata-batch/Evidence_of_Property__ACORD_27-H03c (1).pdf",
              "resultUrl": "https://azuresdktrainingdata.blob.core.windows.net/trainingdata-batch-result/Evidence_of_Property__ACORD_27-H03c%20(1).pdf.ocr.json",
              "status": "succeeded"
            },
            {
              "sourceUrl": "https://azuresdktrainingdata.blob.core.windows.net/trainingdata-batch/Evidence_of_Property__ACORD_27-H04c.pdf",
              "resultUrl": "https://azuresdktrainingdata.blob.core.windows.net/trainingdata-batch-result/Evidence_of_Property__ACORD_27-H04c.pdf.ocr.json",
   [...]
