{
  "Entries": [
    {
      "RequestUri": "https://camaiaornettesting.cognitiveservices.azure.com/documentintelligence/documentModels/prebuilt-read:analyzeBatch?api-version=2024-11-30&stringIndexType=utf16CodeUnit",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "azureBlobSource": {
          "containerUrl": "https://sanitized.blob.core.windows.net"
        },
        "resultContainerUrl": "https://sanitized.blob.core.windows.net",
        "overwriteExisting": true
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Operation-Location": "https://camaiaornettesting.cognitiveservices.azure.com/documentintelligence/documentModels/prebuilt-read/analyzeBatchResults/e0ca9d20-54b4-4060-97cf-aec1c296c24c?api-version=2024-11-30",
        "x-ms-region": "East US"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "BATCH_RESULT_BLOB_CONTAINER_SAS_URL": "https://sanitized.blob.core.windows.net",
    "BATCH_SOURCE_BLOB_CONTAINER_SAS_URL": "https://sanitized.blob.core.windows.net",
    "ENDPOINT": "https://camaiaornettesting.cognitiveservices.azure.com/",
    "RandomSeed": "1264499566"
  }
}