{
  "Entries": [
    {
      "RequestUri": "https://camaiaornettesting.cognitiveservices.azure.com/documentintelligence/documentModels:build?api-version=2024-11-30",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "modelId": "923374671",
        "buildMode": "template",
        "azureBlobSource": {
          "containerUrl": "https://sanitized.blob.core.windows.net"
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "operation-location": "https://camaiaornettesting.cognitiveservices.azure.com/documentintelligence/operations/31432562775_111f511d-cfbb-401e-9a43-332ccabe0aa9?api-version=2024-11-30",
        "x-ms-region": "East US"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://camaiaornettesting.cognitiveservices.azure.com/documentintelligence/operations/31432562775_111f511d-cfbb-401e-9a43-332ccabe0aa9?api-version=2024-11-30",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "operationId": "31432562775_111f511d-cfbb-401e-9a43-332ccabe0aa9",
        "kind": "documentModelBuild",
        "status": "running",
        "createdDateTime": "2024-12-10T04:33:45Z",
        "lastUpdatedDateTime": "2024-12-10T04:33:47Z",
        "resourceLocation": "https://camaiaornettesting.cognitiveservices.azure.com/documentintelligence/documentModels/923374671?api-version=2024-11-30",
        "apiVersion": "2024-11-30"
      }
    },
    {
      "RequestUri": "https://camaiaornettesting.cognitiveservices.azure.com/documentintelligence/operations/31432562775_111f511d-cfbb-401e-9a43-332ccabe0aa9?api-version=2024-11-30",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "operationId": "31432562775_111f511d-cfbb-401e-9a43-332ccabe0aa9",
        "kind": "documentModelBuild",
        "status": "succeeded",
        "createdDateTime": "2024-12-10T04:33:45Z",
        "lastUpdatedDateTime": "2024-12-10T04:33:48Z",
        "resourceLocation": "https://camaiaornettesting.cognitiveservices.azure.com/documentintelligence/documentModels/923374671?api-version=2024-11-30",
        "percentCompleted": 100,
        "result": {
          "docTypes": {
            "923374671": {
              "fieldSchema": {
                "Merchant": {
                  "type": "string"
                },
                "PhoneNumber": {
                  "type": "string"
                },
                "Website": {
                  "type": "string"
                },
                "Email": {
                  "type": "string"
                },
                "PurchaseOrderNumber": {
                  "type": "string"
                },
                "DatedAs": {
                  "type": "string"
                },
                "VendorName": {
                  "type": "string"
                },
                "CompanyName": {
                  "type": "string"
                },
                "CompanyAddress": {
                  "type": "string"
                },
                "CompanyPhoneNumber": {
                  "type": "string"
                },
                "Subtotal": {
                  "type": "string"
                },
                "Tax": {
                  "type": "string"
                },
                "Total": {
                  "type": "string"
                },
                "Signature": {
                  "type": "string"
                },
                "Quantity": {
                  "type": "number"
                },
                "FullSignature": {
                  "type": "signature"
                }
              },
              "buildMode": "template",
              "fieldConfidence": {
                "CompanyAddress": 0.8,
                "CompanyName": 0.995,
                "CompanyPhoneNumber": 0.995,
                "DatedAs": 0.995,
                "Email": 0.8,
                "FullSignature": 0.6,
                "Merchant": 0.995,
                "PhoneNumber": 0.995,
                "PurchaseOrderNumber": 0.995,
                "Quantity": 0.995,
                "Signature": 0.995,
                "Subtotal": 0.995,
                "Tax": 0.995,
                "Total": 0.995,
                "VendorName": 0.995,
                "Website": 0.995
              }
            }
          },
          "modelId": "923374671",
          "createdDateTime": "2024-12-10T04:33:48Z",
          "modifiedDateTime": "2024-12-10T04:33:48Z",
          "expirationDateTime": "2026-12-10T04:33:48Z",
          "apiVersion": "2024-11-30"
        },
        "apiVersion": "2024-11-30"
      }
    },
    {
      "RequestUri": "https://camaiaornettesting.cognitiveservices.azure.com/documentintelligence/documentModels:authorizeCopy?api-version=2024-11-30",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "modelId": "242371218"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "targetResourceId": "/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/camaiaor/providers/Microsoft.CognitiveServices/accounts/camaiaorNETtesting",
        "targetResourceRegion": "eastus",
        "targetModelId": "242371218",
        "targetModelLocation": "https://camaiaornettesting.cognitiveservices.azure.com/documentintelligence/documentModels/242371218?api-version=2024-11-30",
        "accessToken": "Sanitized",
        "expirationDateTime": "2024-12-10T05:33:50Z"
      }
    },
    {
      "RequestUri": "https://camaiaornettesting.cognitiveservices.azure.com/documentintelligence/documentModels/923374671:copyTo?api-version=2024-11-30",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "targetResourceId": "/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/camaiaor/providers/Microsoft.CognitiveServices/accounts/camaiaorNETtesting",
        "targetResourceRegion": "eastus",
        "targetModelId": "242371218",
        "targetModelLocation": "https://camaiaornettesting.cognitiveservices.azure.com/documentintelligence/documentModels/242371218?api-version=2024-11-30",
        "accessToken": "Sanitized",
        "expirationDateTime": "2024-12-10T05:33:50.0000000Z"
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Operation-Location": "https://camaiaornettesting.cognitiveservices.azure.com/documentintelligence/operations/31432562769_6fb8ba4f-0529-44c8-8932-353c5849b7a9?api-version=2024-11-30",
        "x-ms-region": "East US"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://camaiaornettesting.cognitiveservices.azure.com/documentintelligence/documentModels/242371218?api-version=2024-11-30",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-region": "East US"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://camaiaornettesting.cognitiveservices.azure.com/documentintelligence/documentModels/923374671?api-version=2024-11-30",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-region": "East US"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "ENDPOINT": "https://camaiaornettesting.cognitiveservices.azure.com/",
    "RandomSeed": "310224032",
    "SINGLEPAGE_BLOB_CONTAINER_SAS_URL": "https://sanitized.blob.core.windows.net"
  }
}