{
  "Entries": [
    {
      "RequestUri": "https://camaiaor-di.cognitiveservices.azure.com/documentintelligence/documentClassifiers:build?api-version=2024-07-31-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "classifierId": "1885353256",
        "docTypes": {
          "IRS-1040-A": {
            "azureBlobSource": {
              "containerUrl": "https://sanitized.blob.core.windows.net",
              "prefix": "IRS-1040-A/train"
            }
          },
          "IRS-1040-B": {
            "azureBlobSource": {
              "containerUrl": "https://sanitized.blob.core.windows.net",
              "prefix": "IRS-1040-B/train"
            }
          },
          "IRS-1040-C": {
            "azureBlobSource": {
              "containerUrl": "https://sanitized.blob.core.windows.net",
              "prefix": "IRS-1040-C/train"
            }
          },
          "IRS-1040-D": {
            "azureBlobSource": {
              "containerUrl": "https://sanitized.blob.core.windows.net",
              "prefix": "IRS-1040-D/train"
            }
          },
          "IRS-1040-E": {
            "azureBlobSource": {
              "containerUrl": "https://sanitized.blob.core.windows.net",
              "prefix": "IRS-1040-E/train"
            }
          }
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "operation-location": "https://camaiaor-di.cognitiveservices.azure.com/documentintelligence/operations/31438387845_6b64ec55-4288-479e-9d97-fe226baf5e9c?api-version=2024-07-31-preview",
        "x-ms-region": "East US"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://camaiaor-di.cognitiveservices.azure.com/documentintelligence/operations/31438387845_6b64ec55-4288-479e-9d97-fe226baf5e9c?api-version=2024-07-31-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "operationId": "31438387845_6b64ec55-4288-479e-9d97-fe226baf5e9c",
        "kind": "documentClassifierBuild",
        "status": "notStarted",
        "createdDateTime": "2024-10-03T18:29:14Z",
        "lastUpdatedDateTime": "2024-10-03T18:29:14Z",
        "resourceLocation": "https://camaiaor-di.cognitiveservices.azure.com/documentintelligence/documentClassifiers/1885353256?api-version=2024-07-31-preview",
        "apiVersion": "2024-07-31-preview"
      }
    },
    {
      "RequestUri": "https://camaiaor-di.cognitiveservices.azure.com/documentintelligence/operations/31438387845_6b64ec55-4288-479e-9d97-fe226baf5e9c?api-version=2024-07-31-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "operationId": "31438387845_6b64ec55-4288-479e-9d97-fe226baf5e9c",
        "kind": "documentClassifierBuild",
        "status": "running",
        "createdDateTime": "2024-10-03T18:29:14Z",
        "lastUpdatedDateTime": "2024-10-03T18:29:15Z",
        "resourceLocation": "https://camaiaor-di.cognitiveservices.azure.com/documentintelligence/documentClassifiers/1885353256?api-version=2024-07-31-preview",
        "percentCompleted": 0,
        "apiVersion": "2024-07-31-preview"
      }
    },
[...]
    {
      "RequestUri": "https://camaiaor-di.cognitiveservices.azure.com/documentintelligence/operations/31438387845_6b64ec55-4288-479e-9d97-fe226baf5e9c?api-version=2024-07-31-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "operationId": "31438387845_6b64ec55-4288-479e-9d97-fe226baf5e9c",
        "kind": "documentClassifierBuild",
        "status": "succeeded",
        "createdDateTime": "2024-10-03T18:29:14Z",
        "lastUpdatedDateTime": "2024-10-03T18:30:20Z",
        "resourceLocation": "https://camaiaor-di.cognitiveservices.azure.com/documentintelligence/documentClassifiers/1885353256?api-version=2024-07-31-preview",
        "percentCompleted": 100,
        "result": {
          "classifierId": "1885353256",
          "createdDateTime": "2024-10-03T18:29:26Z",
          "expirationDateTime": "2026-10-03T18:29:26Z",
          "apiVersion": "2024-07-31-preview",
          "docTypes": {
            "IRS-1040-A": {
              "kind": "azureBlob",
              "azureBlobSource": {
                "containerUrl": "https://sanitized.blob.core.windows.net",
                "prefix": "IRS-1040-A/train"
              }
            },
            "IRS-1040-B": {
              "kind": "azureBlob",
              "azureBlobSource": {
                "containerUrl": "https://sanitized.blob.core.windows.net",
                "prefix": "IRS-1040-B/train"
              }
            },
            "IRS-1040-C": {
              "kind": "azureBlob",
              "azureBlobSource": {
                "containerUrl": "https://sanitized.blob.core.windows.net",
                "prefix": "IRS-1040-C/train"
              }
            },
            "IRS-1040-D": {
              "kind": "azureBlob",
              "azureBlobSource": {
                "containerUrl": "https://sanitized.blob.core.windows.net",
                "prefix": "IRS-1040-D/train"
              }
            },
            "IRS-1040-E": {
              "kind": "azureBlob",
              "azureBlobSource": {
                "containerUrl": "https://sanitized.blob.core.windows.net",
                "prefix": "IRS-1040-E/train"
              }
            }
          }
        },
        "apiVersion": "2024-07-31-preview"
      }
    },
    {
      "RequestUri": "https://camaiaor-di.cognitiveservices.azure.com/documentintelligence/documentClassifiers:authorizeCopy?api-version=2024-07-31-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "classifierId": "1850366063"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "targetResourceId": "/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/camaiaor/providers/Microsoft.CognitiveServices/accounts/camaiaor-di",
        "targetResourceRegion": "eastus",
        "targetClassifierId": "1850366063",
        "targetClassifierLocation": "https://camaiaor-di.cognitiveservices.azure.com/documentintelligence/documentClassifiers/1850366063?api-version=2024-07-31-preview",
        "accessToken": "Sanitized",
        "expirationDateTime": "2024-10-03T19:30:21Z"
      }
    },
    {
      "RequestUri": "https://camaiaor-di.cognitiveservices.azure.com/documentintelligence/documentClassifiers/1885353256:copyTo?api-version=2024-07-31-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "targetResourceId": "/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/camaiaor/providers/Microsoft.CognitiveServices/accounts/camaiaor-di",
        "targetResourceRegion": "eastus",
        "targetClassifierId": "1850366063",
        "targetClassifierLocation": "https://camaiaor-di.cognitiveservices.azure.com/documentintelligence/documentClassifiers/1850366063?api-version=2024-07-31-preview",
        "accessToken": "Sanitized",
        "expirationDateTime": "2024-10-03T19:30:21.0000000Z"
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Operation-Location": "https://camaiaor-di.cognitiveservices.azure.com/documentintelligence/operations/31438387778_11918eda-e7a3-48a2-b0c5-ff5246e27b60?api-version=2024-07-31-preview",
        "x-ms-region": "East US"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://camaiaor-di.cognitiveservices.azure.com/documentintelligence/documentClassifiers/1850366063?api-version=2024-07-31-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-region": "East US"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://camaiaor-di.cognitiveservices.azure.com/documentintelligence/documentClassifiers/1885353256?api-version=2024-07-31-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-region": "East US"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "API_KEY": "Sanitized",
    "CLASSIFIER_BLOB_CONTAINER_SAS_URL": "https://sanitized.blob.core.windows.net",
    "ENDPOINT": "https://camaiaor-di.cognitiveservices.azure.com/",
    "RandomSeed": "516672232"
  }
}
