{
  "Entries": [
    {
      "RequestUri": "https://camaiaornettesting.cognitiveservices.azure.com/documentintelligence/documentClassifiers:build?api-version=2024-11-30",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "classifierId": "1068776457",
        "docTypes": {
          "IRS-1040-A": {
            "azureBlobSource": {
              "containerUrl": "https://sanitized.blob.core.windows.net",
              "prefix": "IRS-1040-A/train"
            }
          },
          "IRS-1040-B": {
            "azureBlobSource": {
              "containerUrl": "https://sanitized.blob.core.windows.net",
              "prefix": "IRS-1040-B/train"
            }
          },
          "IRS-1040-C": {
            "azureBlobSource": {
              "containerUrl": "https://sanitized.blob.core.windows.net",
              "prefix": "IRS-1040-C/train"
            }
          },
          "IRS-1040-D": {
            "azureBlobSource": {
              "containerUrl": "https://sanitized.blob.core.windows.net",
              "prefix": "IRS-1040-D/train"
            }
          },
          "IRS-1040-E": {
            "azureBlobSource": {
              "containerUrl": "https://sanitized.blob.core.windows.net",
              "prefix": "IRS-1040-E/train"
            }
          }
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "operation-location": "https://camaiaornettesting.cognitiveservices.azure.com/documentintelligence/operations/31432562852_457b4fb5-b622-41c9-8bf5-6826b2428cfa?api-version=2024-11-30",
        "x-ms-region": "East US"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://camaiaornettesting.cognitiveservices.azure.com/documentintelligence/operations/31432562852_457b4fb5-b622-41c9-8bf5-6826b2428cfa?api-version=2024-11-30",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "operationId": "31432562852_457b4fb5-b622-41c9-8bf5-6826b2428cfa",
        "kind": "documentClassifierBuild",
        "status": "notStarted",
        "createdDateTime": "2024-12-10T04:32:27Z",
        "lastUpdatedDateTime": "2024-12-10T04:32:27Z",
        "resourceLocation": "https://camaiaornettesting.cognitiveservices.azure.com/documentintelligence/documentClassifiers/1068776457?api-version=2024-11-30",
        "apiVersion": "2024-11-30"
      }
    },
    {
      "RequestUri": "https://camaiaornettesting.cognitiveservices.azure.com/documentintelligence/operations/31432562852_457b4fb5-b622-41c9-8bf5-6826b2428cfa?api-version=2024-11-30",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "operationId": "31432562852_457b4fb5-b622-41c9-8bf5-6826b2428cfa",
        "kind": "documentClassifierBuild",
        "status": "running",
        "createdDateTime": "2024-12-10T04:32:27Z",
        "lastUpdatedDateTime": "2024-12-10T04:32:28Z",
        "resourceLocation": "https://camaiaornettesting.cognitiveservices.azure.com/documentintelligence/documentClassifiers/1068776457?api-version=2024-11-30",
        "percentCompleted": 0,
        "apiVersion": "2024-11-30"
      }
    },
[...]
    {
      "RequestUri": "https://camaiaornettesting.cognitiveservices.azure.com/documentintelligence/operations/31432562852_457b4fb5-b622-41c9-8bf5-6826b2428cfa?api-version=2024-11-30",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "operationId": "31432562852_457b4fb5-b622-41c9-8bf5-6826b2428cfa",
        "kind": "documentClassifierBuild",
        "status": "succeeded",
        "createdDateTime": "2024-12-10T04:32:27Z",
        "lastUpdatedDateTime": "2024-12-10T04:33:39Z",
        "resourceLocation": "https://camaiaornettesting.cognitiveservices.azure.com/documentintelligence/documentClassifiers/1068776457?api-version=2024-11-30",
        "percentCompleted": 100,
        "result": {
          "classifierId": "1068776457",
          "createdDateTime": "2024-12-10T04:32:39Z",
          "modifiedDateTime": "2024-12-10T04:32:39Z",
          "expirationDateTime": "2026-12-10T04:32:39Z",
          "apiVersion": "2024-11-30",
          "docTypes": {
            "IRS-1040-A": {
              "kind": "azureBlob",
              "azureBlobSource": {
                "containerUrl": "https://sanitized.blob.core.windows.net",
                "prefix": "IRS-1040-A/train"
              }
            },
            "IRS-1040-B": {
              "kind": "azureBlob",
              "azureBlobSource": {
                "containerUrl": "https://sanitized.blob.core.windows.net",
                "prefix": "IRS-1040-B/train"
              }
            },
            "IRS-1040-C": {
              "kind": "azureBlob",
              "azureBlobSource": {
                "containerUrl": "https://sanitized.blob.core.windows.net",
                "prefix": "IRS-1040-C/train"
              }
            },
            "IRS-1040-D": {
              "kind": "azureBlob",
              "azureBlobSource": {
                "containerUrl": "https://sanitized.blob.core.windows.net",
                "prefix": "IRS-1040-D/train"
              }
            },
            "IRS-1040-E": {
              "kind": "azureBlob",
              "azureBlobSource": {
                "containerUrl": "https://sanitized.blob.core.windows.net",
                "prefix": "IRS-1040-E/train"
              }
            }
          }
        },
        "apiVersion": "2024-11-30"
      }
    },
    {
      "RequestUri": "https://camaiaornettesting.cognitiveservices.azure.com/documentintelligence/documentClassifiers:authorizeCopy?api-version=2024-11-30",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "classifierId": "492467256"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "targetResourceId": "/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/camaiaor/providers/Microsoft.CognitiveServices/accounts/camaiaorNETtesting",
        "targetResourceRegion": "eastus",
        "targetClassifierId": "492467256",
        "targetClassifierLocation": "https://camaiaornettesting.cognitiveservices.azure.com/documentintelligence/documentClassifiers/492467256?api-version=2024-11-30",
        "accessToken": "Sanitized",
        "expirationDateTime": "2024-12-10T05:33:41Z"
      }
    },
    {
      "RequestUri": "https://camaiaornettesting.cognitiveservices.azure.com/documentintelligence/documentClassifiers/1068776457:copyTo?api-version=2024-11-30",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "targetResourceId": "/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/camaiaor/providers/Microsoft.CognitiveServices/accounts/camaiaorNETtesting",
        "targetResourceRegion": "eastus",
        "targetClassifierId": "492467256",
        "targetClassifierLocation": "https://camaiaornettesting.cognitiveservices.azure.com/documentintelligence/documentClassifiers/492467256?api-version=2024-11-30",
        "accessToken": "Sanitized",
        "expirationDateTime": "2024-12-10T05:33:41.0000000Z"
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Operation-Location": "https://camaiaornettesting.cognitiveservices.azure.com/documentintelligence/operations/31432562778_9ba42dc4-ab4b-4496-8675-c13a4d9ce593?api-version=2024-11-30",
        "x-ms-region": "East US"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://camaiaornettesting.cognitiveservices.azure.com/documentintelligence/documentClassifiers/492467256?api-version=2024-11-30",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-region": "East US"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://camaiaornettesting.cognitiveservices.azure.com/documentintelligence/documentClassifiers/1068776457?api-version=2024-11-30",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-region": "East US"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "CLASSIFIER_BLOB_CONTAINER_SAS_URL": "https://sanitized.blob.core.windows.net",
    "ENDPOINT": "https://camaiaornettesting.cognitiveservices.azure.com/",
    "RandomSeed": "2091874482"
  }
}