{
  "Entries": [
    {
      "RequestUri": "https://camaiaor-di.cognitiveservices.azure.com/documentintelligence/documentModels:build?api-version=2024-07-31-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "modelId": "48812552",
        "buildMode": "template",
        "azureBlobSource": {
          "containerUrl": "https://sanitized.blob.core.windows.net"
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "operation-location": "https://camaiaor-di.cognitiveservices.azure.com/documentintelligence/operations/31439164943_d3808b14-a8c4-40a3-bf81-cc8c2ded2615?api-version=2024-07-31-preview",
        "x-ms-region": "East US"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://camaiaor-di.cognitiveservices.azure.com/documentintelligence/operations/31439164943_d3808b14-a8c4-40a3-bf81-cc8c2ded2615?api-version=2024-07-31-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "operationId": "31439164943_d3808b14-a8c4-40a3-bf81-cc8c2ded2615",
        "kind": "documentModelBuild",
        "status": "running",
        "createdDateTime": "2024-09-24T18:37:37Z",
        "lastUpdatedDateTime": "2024-09-24T18:37:40Z",
        "resourceLocation": "https://camaiaor-di.cognitiveservices.azure.com/documentintelligence/documentModels/48812552?api-version=2024-07-31-preview",
        "apiVersion": "2024-07-31-preview"
      }
    },
    {
      "RequestUri": "https://camaiaor-di.cognitiveservices.azure.com/documentintelligence/operations/31439164943_d3808b14-a8c4-40a3-bf81-cc8c2ded2615?api-version=2024-07-31-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "operationId": "31439164943_d3808b14-a8c4-40a3-bf81-cc8c2ded2615",
        "kind": "documentModelBuild",
        "status": "succeeded",
        "createdDateTime": "2024-09-24T18:37:37Z",
        "lastUpdatedDateTime": "2024-09-24T18:37:40Z",
        "resourceLocation": "https://camaiaor-di.cognitiveservices.azure.com/documentintelligence/documentModels/48812552?api-version=2024-07-31-preview",
        "percentCompleted": 100,
        "result": {
          "docTypes": {
            "48812552": {
              "fieldSchema": {
                "Merchant": {
                  "type": "string"
                },
                "PhoneNumber": {
                  "type": "string"
                },
                "Website": {
                  "type": "string"
                },
                "Email": {
                  "type": "string"
                },
                "PurchaseOrderNumber": {
                  "type": "string"
                },
                "DatedAs": {
                  "type": "string"
                },
                "VendorName": {
                  "type": "string"
                },
                "CompanyName": {
                  "type": "string"
                },
                "CompanyAddress": {
                  "type": "string"
                },
                "CompanyPhoneNumber": {
                  "type": "string"
                },
                "Subtotal": {
                  "type": "string"
                },
                "Tax": {
                  "type": "string"
                },
                "Total": {
                  "type": "string"
                },
                "Signature": {
                  "type": "string"
                },
                "Quantity": {
                  "type": "number"
                },
                "FullSignature": {
                  "type": "signature"
                }
              },
              "buildMode": "template",
              "fieldConfidence": {
                "CompanyAddress": 0.8,
                "CompanyName": 0.995,
                "CompanyPhoneNumber": 0.995,
                "DatedAs": 0.995,
                "Email": 0.8,
                "FullSignature": 0.6,
                "Merchant": 0.995,
                "PhoneNumber": 0.995,
                "PurchaseOrderNumber": 0.995,
                "Quantity": 0.995,
                "Signature": 0.995,
                "Subtotal": 0.995,
                "Tax": 0.995,
                "Total": 0.995,
                "VendorName": 0.995,
                "Website": 0.995
              }
            }
          },
          "modelId": "48812552",
          "createdDateTime": "2024-09-24T18:37:40Z",
          "expirationDateTime": "2026-09-24T18:37:40Z",
          "apiVersion": "2024-07-31-preview"
        },
        "apiVersion": "2024-07-31-preview"
      }
    },
    {
      "RequestUri": "https://camaiaor-di.cognitiveservices.azure.com/documentintelligence/documentModels:authorizeCopy?api-version=2024-07-31-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "modelId": "1106351586"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "targetResourceId": "/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/camaiaor/providers/Microsoft.CognitiveServices/accounts/camaiaor-di",
        "targetResourceRegion": "eastus",
        "targetModelId": "1106351586",
        "targetModelLocation": "https://camaiaor-di.cognitiveservices.azure.com/documentintelligence/documentModels/1106351586?api-version=2024-07-31-preview",
        "accessToken": "Sanitized",
        "expirationDateTime": "2024-09-24T19:37:41Z"
      }
    },
    {
      "RequestUri": "https://camaiaor-di.cognitiveservices.azure.com/documentintelligence/documentModels/48812552:copyTo?api-version=2024-07-31-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "targetResourceId": "/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/camaiaor/providers/Microsoft.CognitiveServices/accounts/camaiaor-di",
        "targetResourceRegion": "eastus",
        "targetModelId": "1106351586",
        "targetModelLocation": "https://camaiaor-di.cognitiveservices.azure.com/documentintelligence/documentModels/1106351586?api-version=2024-07-31-preview",
        "accessToken": "Sanitized",
        "expirationDateTime": "2024-09-24T19:37:41.0000000Z"
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Operation-Location": "https://camaiaor-di.cognitiveservices.azure.com/documentintelligence/operations/31439164938_5dc94450-5bcf-42d2-97e6-d84c21a003a9?api-version=2024-07-31-preview",
        "x-ms-region": "East US"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://camaiaor-di.cognitiveservices.azure.com/documentintelligence/documentModels/1106351586?api-version=2024-07-31-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-region": "East US"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://camaiaor-di.cognitiveservices.azure.com/documentintelligence/documentModels/48812552?api-version=2024-07-31-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-region": "East US"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "API_KEY": "Sanitized",
    "ENDPOINT": "https://camaiaor-di.cognitiveservices.azure.com/",
    "RandomSeed": "1710022119",
    "SINGLEPAGE_BLOB_CONTAINER_SAS_URL": "https://sanitized.blob.core.windows.net"
  }
}
