{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/lroRecoverDeleteKeyName-canresumefromastoppedpoller-/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/12345678-1234-1234-1234-123456789012\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer, PoP, or MTLS_POP token."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/lroRecoverDeleteKeyName-canresumefromastoppedpoller-/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA",
        "attributes": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://keyvault_name.vault.azure.net/keys/lroRecoverDeleteKeyName-canresumefromastoppedpoller-/cb0ecf1df6234b51a905b88b405c29b9",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "vlOucNjzjixVfkzi3pH-KJqyqo8XNjhhfHbPv7XqaJ54KZBOQyDpEKPdXujNhcbmkEBMYHUkafwrb6ddAxlw3G6LBKiRanemLpUxds1mS64unphIFXGI8lSThBChOHTD_dJzZkUfxJwaWg-dKLfqt08iXLG7V6-1TG9L6wAzYmlhAFwMJa_GjK-dUk01dnOLWvULaJ_yQpigeNcPJO_8JUjNhL7F6-vN8pgAXhPkHZo19ph0fF0BzYTUnMQgSs7O2amV8NNwn84IX4ltXAGvRjPKe_lZNKiFC6Zp-cGHjh-ArpuVUqeARvPsfS2UDPL_-MJi7vXS52Wb7JjmcRURTQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "key_size": 2048,
          "created": 1777051156,
          "updated": 1777051156,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/lroRecoverDeleteKeyName-canresumefromastoppedpoller-?api-version=7.6",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://keyvault_name.vault.azure.net/deletedkeys/lroRecoverDeleteKeyName-canresumefromastoppedpoller-",
        "deletedDate": 1777051156,
        "scheduledPurgeDate": 1777655956,
        "key": {
          "kid": "https://keyvault_name.vault.azure.net/keys/lroRecoverDeleteKeyName-canresumefromastoppedpoller-/cb0ecf1df6234b51a905b88b405c29b9",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "vlOucNjzjixVfkzi3pH-KJqyqo8XNjhhfHbPv7XqaJ54KZBOQyDpEKPdXujNhcbmkEBMYHUkafwrb6ddAxlw3G6LBKiRanemLpUxds1mS64unphIFXGI8lSThBChOHTD_dJzZkUfxJwaWg-dKLfqt08iXLG7V6-1TG9L6wAzYmlhAFwMJa_GjK-dUk01dnOLWvULaJ_yQpigeNcPJO_8JUjNhL7F6-vN8pgAXhPkHZo19ph0fF0BzYTUnMQgSs7O2amV8NNwn84IX4ltXAGvRjPKe_lZNKiFC6Zp-cGHjh-ArpuVUqeARvPsfS2UDPL_-MJi7vXS52Wb7JjmcRURTQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "key_size": 2048,
          "created": 1777051156,
          "updated": 1777051156,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedkeys/lroRecoverDeleteKeyName-canresumefromastoppedpoller-?api-version=7.6",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "KeyNotFound",
          "message": "Deleted Key not found: lroRecoverDeleteKeyName-canresumefromastoppedpoller-"
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/lroRecoverDeleteKeyName-canresumefromastoppedpoller-/?api-version=7.6",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "KeyNotFound",
          "message": "A key with (name/id) lroRecoverDeleteKeyName-canresumefromastoppedpoller- was not found in this key vault. If you recently deleted this key you may be able to recover it using the correct recovery command. For help resolving this issue, please see https://go.microsoft.com/fwlink/?linkid=2125182"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedkeys/lroRecoverDeleteKeyName-canresumefromastoppedpoller-/recover?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://keyvault_name.vault.azure.net/ke[...]
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedkeys/lroRecoverDeleteKeyName-canresumefromastoppedpoller-?api-version=7.6",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
