{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/lroRecoverDeleteKeyName-canresumefromastoppedpoller-/create?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/lroRecoverDeleteKeyName-canresumefromastoppedpoller-/create?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA",
        "attributes": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://keyvault_name.vault.azure.net/keys/lroRecoverDeleteKeyName-canresumefromastoppedpoller-/835ef814c6ee42388908d511da92aac6",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "oeQfR2ZuIKTjJRLa1aL5O3m6YOK3n-MLWMNMJI-hCoQ4cfFM8cMHdx8DYCIuHBymF5pbRW2S1t9RpP8qSdKFBeaOUltWTmGX7MbHG7ptNV0U7XVyC3Hlo93yDdDJ3MM98gAaHp4CUNEVgi3Re6Zkpb0DuAiO5gssbZt-y4nZQF0u8WQcfv7nGnZvyUSgIE_B6SzX038M9DANzE2aFtQQVVs2Qu0vH-21Qn49EdZbERzVsn-BGnxUXd9XQ_YyYPwb-Ja3TzpPYnkYXqUsf_enYTNt4072CjiEkUv00-W0jJ_xqX2c8dAUKM5JELD4aOknuPpHRRTLGaFYrGQU5kYUDQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1732063052,
          "updated": 1732063052,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/lroRecoverDeleteKeyName-canresumefromastoppedpoller-?api-version=7.5",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://keyvault_name.vault.azure.net/deletedkeys/lroRecoverDeleteKeyName-canresumefromastoppedpoller-",
        "deletedDate": 1732063052,
        "scheduledPurgeDate": 1732667852,
        "key": {
          "kid": "https://keyvault_name.vault.azure.net/keys/lroRecoverDeleteKeyName-canresumefromastoppedpoller-/835ef814c6ee42388908d511da92aac6",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "oeQfR2ZuIKTjJRLa1aL5O3m6YOK3n-MLWMNMJI-hCoQ4cfFM8cMHdx8DYCIuHBymF5pbRW2S1t9RpP8qSdKFBeaOUltWTmGX7MbHG7ptNV0U7XVyC3Hlo93yDdDJ3MM98gAaHp4CUNEVgi3Re6Zkpb0DuAiO5gssbZt-y4nZQF0u8WQcfv7nGnZvyUSgIE_B6SzX038M9DANzE2aFtQQVVs2Qu0vH-21Qn49EdZbERzVsn-BGnxUXd9XQ_YyYPwb-Ja3TzpPYnkYXqUsf_enYTNt4072CjiEkUv00-W0jJ_xqX2c8dAUKM5JELD4aOknuPpHRRTLGaFYrGQU5kYUDQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1732063052,
          "updated": 1732063052,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedkeys/lroRecoverDeleteKeyName-canresumefromastoppedpoller-?api-version=7.5",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "KeyNotFound",
          "message": "Deleted Key not found: lroRecoverDeleteKeyName-canresumefromastoppedpoller-"
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/lroRecoverDeleteKeyName-canresumefromastoppedpoller-/?api-version=7.5",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "KeyNotFound",
          "message": "A key with (name/id) lroRecoverDeleteKeyName-canresumefromastoppedpoller- was not found in this key vault. If you recently deleted this key you may be able to recover it using the correct recovery command. For help resolving this issue, please see https://go.microsoft.com/fwlink/?linkid=2125182"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedkeys/lroRecoverDeleteKeyName-canresumefromastoppedpoller-/recover?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://keyvault_name.vault.azure.net/keys/lroRecoverDeleteKeyName-canresumefromastoppedpoller-/835ef814c6ee42388908d511da92aac6",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "oeQfR2ZuIKTjJRLa1aL5O3m6YOK3n-MLWMNMJI-hCoQ4cfFM8cMHdx8DYCIuHBymF5pbRW2S1t9RpP8qSdKFBeaOUltWTmGX7MbHG7ptNV0U7XVyC3Hlo93yDdDJ3MM98gAaHp4CUNEVgi3Re6Zkpb0DuAiO5gssbZt-y4nZQF0u8WQcfv7nGnZvyUSgIE_B6SzX038M9DANzE2aFtQQVVs2Qu0vH-21Qn49EdZbERzVsn-BGnxUXd9XQ_YyYPwb-Ja3TzpPYnkYXqUsf_enYTNt4072CjiEkUv00-W0jJ_xqX2c8dAUKM5JELD4aOknuPpHRRTLGaFYrGQU5kYUDQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "created": 1732063052,
          "updated": 1732063052,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedkeys/lroRecoverDeleteKeyName-canresumefromastoppedpoller-?api-version=7.5",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
