{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/lroRecoverDeleteKeyName-canresumefromastoppedpoller-/create?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer, PoP, or MTLS_POP token."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/lroRecoverDeleteKeyName-canresumefromastoppedpoller-/create?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA",
        "attributes": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://keyvault_name.vault.azure.net/keys/lroRecoverDeleteKeyName-canresumefromastoppedpoller-/9de2af521096452ea9235aa2aa4231ba",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "4z-Vt26uoBcxC1Qpjffd2HgaubgFQBYBDW6pnG9fWDy26jQZ4u1um9L-hJxjITh4okIWPr7jKfxTV4JXmdKheGx1DWcJG2eSyp1peykm5W01svjaUjAL020vFLjWUz6M0mcLxoQ90s7wlpyFu2Yuf2bKiZltquKvbkfx5vDIAIDpDYo4Hj01Z0UwnxAI7yw3UCmd6ChKvKwjlHsEEW2oXvZ7OJ8ZoiRPFbIahwsP3WsBihdFfl-hzMQP5rAwR6HwSjcmE4Wej58He7sk6CQF6dhYtB1b8jxZ2zzQoxyEFdDDhYOM1ZeeaWA63aGgfBDxH_gImLE1FNvyR0JlZ4qsBQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "key_size": 2048,
          "created": 1778751448,
          "updated": 1778751448,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/lroRecoverDeleteKeyName-canresumefromastoppedpoller-?api-version=2025-07-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://keyvault_name.vault.azure.net/deletedkeys/lroRecoverDeleteKeyName-canresumefromastoppedpoller-",
        "deletedDate": 1778751449,
        "scheduledPurgeDate": 1779356249,
        "key": {
          "kid": "https://keyvault_name.vault.azure.net/keys/lroRecoverDeleteKeyName-canresumefromastoppedpoller-/9de2af521096452ea9235aa2aa4231ba",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "4z-Vt26uoBcxC1Qpjffd2HgaubgFQBYBDW6pnG9fWDy26jQZ4u1um9L-hJxjITh4okIWPr7jKfxTV4JXmdKheGx1DWcJG2eSyp1peykm5W01svjaUjAL020vFLjWUz6M0mcLxoQ90s7wlpyFu2Yuf2bKiZltquKvbkfx5vDIAIDpDYo4Hj01Z0UwnxAI7yw3UCmd6ChKvKwjlHsEEW2oXvZ7OJ8ZoiRPFbIahwsP3WsBihdFfl-hzMQP5rAwR6HwSjcmE4Wej58He7sk6CQF6dhYtB1b8jxZ2zzQoxyEFdDDhYOM1ZeeaWA63aGgfBDxH_gImLE1FNvyR0JlZ4qsBQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "key_size": 2048,
          "created": 1778751448,
          "updated": 1778751448,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedkeys/lroRecoverDeleteKeyName-canresumefromastoppedpoller-?api-version=2025-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "KeyNotFound",
          "message": "Deleted Key not found: lroRecoverDeleteKeyName-canresumefromastoppedpoller-"
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/lroRecoverDeleteKeyName-canresumefromastoppedpoller-/?api-version=2025-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "KeyNotFound",
          "message": "A key with (name/id) lroRecoverDeleteKeyName-canresumefromastoppedpoller- was not found in this key vault. If you recently deleted this key you may be able to recover it using the correct recovery command. For help resolving this issue, please see https://go.microsoft.com/fwlink/?linkid=2125182"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedkeys/lroRecoverDeleteKeyName-canresumefromastoppedpoller-/recover?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://keyvault_name.vault.azure[...]
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedkeys/lroRecoverDeleteKeyName-canresumefromastoppedpoller-?api-version=2025-07-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
