{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/lroRecoverDeleteKeyName-canwaituntilakeyisrecovered-/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/12345678-1234-1234-1234-123456789012\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer, PoP, or MTLS_POP token."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/lroRecoverDeleteKeyName-canwaituntilakeyisrecovered-/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA",
        "attributes": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://keyvault_name.vault.azure.net/keys/lroRecoverDeleteKeyName-canwaituntilakeyisrecovered-/78d49fac814e473aae04fece3db5aa8d",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "voiQSajyIs6ZJawNnUqK5N3Ox8O2lS0PXTN2eV7fsa63d9r_xdfV90QfYgukyLmC4ek8tPOp4aq-6XuUGH7azDTXukzq2HX8DUtoCmhOm1NtyO8rHhud8E_F27Vl8GQxQaVVL2SGy2xGQg2LbUEXE-mZckelOw9Sd8fpZu4sF032xlaa_C1OLH3Eeu333pHwHeHC1ZfCZN3806miXjvRW1_V75VkoFiYhk1ID-PXZnm1MM0BQXvdci_kx0XH7Sz4l7cp2oGNW9nlJrNDtQY93uBgFSYCyOyCary6I0C10G1w1xgNIJW2fwiF8I4NlgdMZq_4aYtLLV9P29xosNugPQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "key_size": 2048,
          "created": 1777051135,
          "updated": 1777051135,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/lroRecoverDeleteKeyName-canwaituntilakeyisrecovered-?api-version=7.6",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://keyvault_name.vault.azure.net/deletedkeys/lroRecoverDeleteKeyName-canwaituntilakeyisrecovered-",
        "deletedDate": 1777051135,
        "scheduledPurgeDate": 1777655935,
        "key": {
          "kid": "https://keyvault_name.vault.azure.net/keys/lroRecoverDeleteKeyName-canwaituntilakeyisrecovered-/78d49fac814e473aae04fece3db5aa8d",
          "kty": "RSA",
          "key_ops": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "n": "voiQSajyIs6ZJawNnUqK5N3Ox8O2lS0PXTN2eV7fsa63d9r_xdfV90QfYgukyLmC4ek8tPOp4aq-6XuUGH7azDTXukzq2HX8DUtoCmhOm1NtyO8rHhud8E_F27Vl8GQxQaVVL2SGy2xGQg2LbUEXE-mZckelOw9Sd8fpZu4sF032xlaa_C1OLH3Eeu333pHwHeHC1ZfCZN3806miXjvRW1_V75VkoFiYhk1ID-PXZnm1MM0BQXvdci_kx0XH7Sz4l7cp2oGNW9nlJrNDtQY93uBgFSYCyOyCary6I0C10G1w1xgNIJW2fwiF8I4NlgdMZq_4aYtLLV9P29xosNugPQ",
          "e": "AQAB"
        },
        "attributes": {
          "enabled": true,
          "key_size": 2048,
          "created": 1777051135,
          "updated": 1777051135,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7,
          "exportable": false,
          "hsmPlatform": "0"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedkeys/lroRecoverDeleteKeyName-canwaituntilakeyisrecovered-?api-version=7.6",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "KeyNotFound",
          "message": "Deleted Key not found: lroRecoverDeleteKeyName-canwaituntilakeyisrecovered-"
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/keys/lroRecoverDeleteKeyName-canwaituntilakeyisrecovered-/?api-version=7.6",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "KeyNotFound",
          "message": "A key with (name/id) lroRecoverDeleteKeyName-canwaituntilakeyisrecovered- was not found in this key vault. If you recently deleted this key you may be able to recover it using the correct recovery command. For help resolving this issue, please see https://go.microsoft.com/fwlink/?linkid=2125182"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedkeys/lroRecoverDeleteKeyName-canwaituntilakeyisrecovered-/recover?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "key": {
          "kid": "https://keyvault_name.vault.azure.net/ke[...]
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedkeys/lroRecoverDeleteKeyName-canwaituntilakeyisrecovered-?api-version=7.6",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
