{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/agents/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/vector_stores?api-version=2024-07-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json; charset=UTF-8"
      },
      "RequestBody": {},
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "openai-organization": "3d8304e5257c4cc49d2bec8a48b2e43f",
        "openai-processing-ms": "40",
        "openai-version": "2020-10-01",
        "x-aml-cluster": "vienna-eastus2euap-01",
        "x-ms-middleware-request-id": "dfcc5854-300e-4f88-9ed9-e56e8379a500",
        "x-ms-region": "West US 2",
        "x-ms-response-type": "standard",
        "x-request-time": "0.233"
      },
      "ResponseBody": {
        "id": "vs_7Kdm8ammBJeadBmguVNLwafi",
        "object": "vector_store",
        "name": null,
        "status": "completed",
        "usage_bytes": 0,
        "created_at": 1737488560,
        "file_counts": {
          "in_progress": 0,
          "completed": 0,
          "failed": 0,
          "cancelled": 0,
          "total": 0
        },
        "metadata": {},
        "expires_after": null,
        "expires_at": null,
        "last_active_at": 1737488560
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/agents/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/files?api-version=2024-07-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "multipart/form-data; boundary=--RecordedTestMultipartBoundary"
      },
      "RequestBody": "LS0tLVJlY29yZGVkVGVzdE11bHRpcGFydEJvdW5kYXJ5DQpjb250ZW50LXR5cGU6IGFwcGxpY2F0aW9uL2pzb247IGNoYXJzZXQ9VVRGLTgNCmNvbnRlbnQtZGlzcG9zaXRpb246IGZvcm0tZGF0YTsgbmFtZT0iZmlsZSI7IGZpbGVuYW1lPSJmaWxlMS50eHQiDQoNCnt9DQotLS0tUmVjb3JkZWRUZXN0TXVsdGlwYXJ0Qm91bmRhcnkNCmNvbnRlbnQtdHlwZTogdGV4dC9wbGFpbjsgY2hhcnNldD1VVEYtOA0KY29udGVudC1kaXNwb3NpdGlvbjogZm9ybS1kYXRhOyBuYW1lPSJwdXJwb3NlIg0KDQphc3Npc3RhbnRzDQotLS0tUmVjb3JkZWRUZXN0TXVsdGlwYXJ0Qm91bmRhcnktLQ0KDQo=",
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "openai-processing-ms": "410",
        "openai-version": "2020-10-01",
        "x-aml-cluster": "vienna-eastus2euap-01",
        "x-ms-middleware-request-id": "6f2d9fd6-ac4b-4320-8511-87a267843b17",
        "x-ms-region": "West US 2",
        "x-ms-response-type": "standard",
        "x-request-time": "0.622"
      },
      "ResponseBody": {
        "object": "file",
        "id": "assistant-kyEnkd35UZsA9leqfmwKTyJ5",
        "purpose": "assistants",
        "filename": "file1.txt",
        "bytes": 2,
        "created_at": 1737488560,
        "status": "processed",
        "status_details": null
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/agents/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/files?api-version=2024-07-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "multipart/form-data; boundary=--RecordedTestMultipartBoundary"
      },
      "RequestBody": "LS0tLVJlY29yZGVkV[...]
