{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.api.azureml.ms/agents/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/vector_stores?api-version=2024-07-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-aml-cluster": "vienna-eastus2euap-02",
        "x-ms-middleware-request-id": "38bf43ea-6051-42a6-8715-afacc832c2a9",
        "x-ms-region": "West US 2",
        "x-ms-response-type": "standard",
        "x-request-time": "0.298"
      },
      "ResponseBody": {
        "id": "vs_deDCXjXBT1xIn8cjr9kkpkuD",
        "object": "vector_store",
        "name": null,
        "status": "completed",
        "usage_bytes": 0,
        "created_at": 1732573716,
        "file_counts": {
          "in_progress": 0,
          "completed": 0,
          "failed": 0,
          "cancelled": 0,
          "total": 0
        },
        "metadata": {},
        "expires_after": null,
        "expires_at": null,
        "last_active_at": 1732573716
      }
    },
    {
      "RequestUri": "https://Sanitized.api.azureml.ms/agents/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/files?api-version=2024-07-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "multipart/form-data; boundary=--RecordedTestMultipartBoundary"
      },
      "RequestBody": "LS0tLVJlY29yZGVkVGVzdE11bHRpcGFydEJvdW5kYXJ5DQpjb250ZW50LXR5cGU6IGFwcGxpY2F0aW9uL2pzb247IGNoYXJzZXQ9VVRGLTgNCmNvbnRlbnQtZGlzcG9zaXRpb246IGZvcm0tZGF0YTsgbmFtZT0iZmlsZSI7IGZpbGVuYW1lPSJmaWxlMS50eHQiDQoNCnt9DQotLS0tUmVjb3JkZWRUZXN0TXVsdGlwYXJ0Qm91bmRhcnkNCmNvbnRlbnQtdHlwZTogdGV4dC9wbGFpbjsgY2hhcnNldD1VVEYtOA0KY29udGVudC1kaXNwb3NpdGlvbjogZm9ybS1kYXRhOyBuYW1lPSJwdXJwb3NlIg0KDQphc3Npc3RhbnRzDQotLS0tUmVjb3JkZWRUZXN0TXVsdGlwYXJ0Qm91bmRhcnktLQ0KDQo=",
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-aml-cluster": "vienna-eastus2euap-02",
        "x-ms-middleware-request-id": "ab1d2a16-fea1-4ec9-9491-1badbc3c8857",
        "x-ms-region": "West US 2",
        "x-ms-response-type": "standard",
        "x-request-time": "0.712"
      },
      "ResponseBody": {
        "object": "file",
        "id": "assistant-ThWjBkWnSQBaSQXB7vSxjSEz",
        "purpose": "assistants",
        "filename": "file1.txt",
        "bytes": 2,
        "created_at": 1732573716,
        "status": "processed",
        "status_details": null
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.api.azureml.ms/agents/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/vector_stores/vs_deDCXjXBT1xIn8cjr9kkpkuD/file_batches?api-version=2024-07-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json; charset=UTF-8"
      },
      "RequestBody": {
        "file_ids": [
          "assistant-ThWjBkWnSQBaSQXB7vSxjSEz",
          "assistant-pwXkMFe4EPwyx7NiXqFEf4rG"
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-aml-cluster": "vienna-eastus2euap-02",
        "x-ms-middleware-request-id": "074dc0fa-795b-4aa9-8471-47fe3b906c34",
        "x-ms-region": "West US 2",
        "x-ms-response-type": "standard",
        "x-request-time": "0.436"
      },
      "ResponseBody": {
        "id": "vsfb_5aae109d929641c892da024a6f3dca8f",
        "object": "vector_store.file_batch",
        "created_at": 1732573718,
        "status": "in_progress",
        "vector_store_id": "vs_deDCXjXBT1xIn8cjr9kkpkuD",
        "file_counts": {
          "in_progress": 2,
          "completed": 0,
          "failed": 0,
          "cancelled": 0,
          "total": 2
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.api.azureml.ms/agents/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/vector_stores/vs_deDCXjXBT1xIn8cjr9kkpkuD/file_batches/vsfb_5aae109d929641c892da024a6f3dca8f/files?api-version=2024-07-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 500,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-aml-cluster": "vienna-eastus2euap-02",
        "x-ms-middleware-request-id": "5a757ed5-1b03-4e95-a4a1-99d50bdd365e",
        "x-ms-region": "West US 2",
        "x-ms-response-type": "standard",
        "x-request-time": "0.360"
      },
      "ResponseBody": {
        "error": {
          "message": "The server had an error processing your request. Sorry about that! You can retry your request, or contact us through our help center at oai-assistants@microsoft.com if you keep seeing this error. (Please include the request ID d3d7edb7a7ca780d67e6f0383e0109f2 in your email.)",
          "type": "server_error",
          "param": null,
          "code": null
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.api.azureml.ms/agents/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/vector_stores/vs_deDCXjXBT1xIn8cjr9kkpkuD/file_batches/vsfb_5aae109d929641c892da024a6f3dca8f/files?api-version=2024-07-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-aml-cluster": "vienna-eastus2euap-02",
        "x-ms-middleware-request-id": "472f2fe2-0707-4672-a43b-7664e07c77b7",
        "x-ms-region": "West US 2",
        "x-ms-response-type": "standard",
        "x-request-time": "0.254"
      },
      "ResponseBody": {
        "object": "list",
        "data": [
          {
            "id": "assistant-pwXkMFe4EPwyx7NiXqFEf4rG",
            "object": "vector_store.file",
            "created_at": 1732573719,
            "vector_store_id": "vs_deDCXjXBT1xIn8cjr9kkpkuD",
            "status": "failed",
            "last_error": {
              "code": "invalid_file",
              "message": "The file could not be parsed because it is empty."
            }
          },
          {
            "id": "assistant-ThWjBkWnSQBaSQXB7vSxjSEz",
            "object": "vector_store.file",
            "created_at": 1732573718,
            "vector_store_id": "vs_deDCXjXBT1xIn8cjr9kkpkuD",
            "status": "failed",
            "last_error": {
              "code": "invalid_file",
              "message": "The file could not be parsed because it is empty."
            }
          }
        ],
        "first_id": "assistant-pwXkMFe4EPwyx7NiXqFEf4rG",
        "last_id": "assistant-ThWjBkWnSQBaSQXB7vSxjSEz",
        "has_more": false
      }
    },
    {
      "RequestUri": "https://Sanitized.api.azureml.ms/agents/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/files/assistant-ThWjBkWnSQBaSQXB7vSxjSEz?api-version=2024-07-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-aml-cluster": "vienna-eastus2euap-02",
        "x-ms-middleware-request-id": "c92b4395-0a57-40cc-b256-a3c9e2db36cc",
        "x-ms-region": "West US 2",
        "x-ms-response-type": "standard",
        "x-request-time": "0.488"
      },
      "ResponseBody": {
        "object": "file",
        "deleted": true,
        "id": "assistant-ThWjBkWnSQBaSQXB7vSxjSEz"
      }
    },
    {
      "RequestUri": "https://Sanitized.api.azureml.ms/agents/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/files/assistant-pwXkMFe4EPwyx7NiXqFEf4rG?api-version=2024-07-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-aml-cluster": "vienna-eastus2euap-02",
        "x-ms-middleware-request-id": "45e343ca-d7c7-4b5f-b502-68eef67626a1",
        "x-ms-region": "West US 2",
        "x-ms-response-type": "standard",
        "x-request-time": "8.644"
      },
      "ResponseBody": {
        "object": "file",
        "deleted": true,
        "id": "assistant-pwXkMFe4EPwyx7NiXqFEf4rG"
      }
    },
    {
      "RequestUri": "https://Sanitized.api.azureml.ms/agents/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/vector_stores/vs_deDCXjXBT1xIn8cjr9kkpkuD?api-version=2024-07-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-aml-cluster": "vienna-eastus2euap-02",
        "x-ms-middleware-request-id": "2f4f99af-0561-4433-a332-243aaf66171b",
        "x-ms-region": "West US 2",
        "x-ms-response-type": "standard",
        "x-request-time": "0.731"
      },
      "ResponseBody": {
        "id": "vs_deDCXjXBT1xIn8cjr9kkpkuD",
        "object": "vector_store.deleted",
        "deleted": true
      }
    }
  ],
  "Variables": {}
}
