{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/agents/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/vector_stores?api-version=2024-07-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {},
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "openai-organization": "934f5af3d01d44a3864dc81c9f079274",
        "openai-processing-ms": "110",
        "openai-version": "2020-10-01",
        "x-aml-cluster": "vienna-westus-02",
        "x-ms-middleware-request-id": "0a3e5516-4fca-491e-8665-d2625d0de214",
        "x-ms-region": "West US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.820"
      },
      "ResponseBody": {
        "id": "vs_HFoXVc4VkeFR3Hwr21Yvyjm2",
        "object": "vector_store",
        "name": null,
        "status": "completed",
        "usage_bytes": 0,
        "created_at": 1737738923,
        "file_counts": {
          "in_progress": 0,
          "completed": 0,
          "failed": 0,
          "cancelled": 0,
          "total": 0
        },
        "metadata": {},
        "expires_after": null,
        "expires_at": null,
        "last_active_at": 1737738923
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/agents/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/files?api-version=2024-07-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "multipart/form-data; boundary=--RecordedTestMultipartBoundary"
      },
      "RequestBody": "LS0tLVJlY29yZGVkVGVzdE11bHRpcGFydEJvdW5kYXJ5DQpjb250ZW50LXR5cGU6IGFwcGxpY2F0aW9uL2pzb24NCmNvbnRlbnQtZGlzcG9zaXRpb246IGZvcm0tZGF0YTsgbmFtZT0iZmlsZSI7IGZpbGVuYW1lPSJmaWxlMS50eHQiDQoNCnt9DQotLS0tUmVjb3JkZWRUZXN0TXVsdGlwYXJ0Qm91bmRhcnkNCmNvbnRlbnQtdHlwZTogdGV4dC9wbGFpbjsgY2hhcnNldD1VVEYtOA0KY29udGVudC1kaXNwb3NpdGlvbjogZm9ybS1kYXRhOyBuYW1lPSJwdXJwb3NlIg0KDQphc3Npc3RhbnRzDQotLS0tUmVjb3JkZWRUZXN0TXVsdGlwYXJ0Qm91bmRhcnktLQ0KDQo=",
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "openai-processing-ms": "352",
        "openai-version": "2020-10-01",
        "x-aml-cluster": "vienna-westus-02",
        "x-ms-middleware-request-id": "3df872bf-47c3-4ec3-a8e6-0a9a2ea3ada1",
        "x-ms-region": "West US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.626"
      },
      "ResponseBody": {
        "object": "file",
        "id": "assistant-bO9SCqb2fZqXETtgp8bdnLQA",
        "purpose": "assistants",
        "filename": "file1.txt",
        "bytes": 2,
        "created_at": 1737738923,
        "status": "processed",
        "status_details": null
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azure.com/agents/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/vector_stores/vs_HFoXVc4VkeFR3Hwr21Yvyjm2/file_batches?api-version=2024-07-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "file_ids": [
          "assistant-bO9SCqb2fZqXETtgp8bdnLQA",
          "assistant-gJIvG2Y6iUk7IXA3TBNtAuEn"
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "openai-organization": "934f5af3d01d44a3864dc81c9f079274",
        "openai-processing-ms": "325",
        "openai-version": "2020-10-01",
        "x-aml-cluster": "vienna-westus-02",
        "x-ms-middleware-request-id": "6a029e21-0e39-4285-b687-967d6deeb2aa",
        "x-ms-region": "West US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.647"
      },
      "ResponseBody": {
        "id": "vsfb_4711defdf8874c6ab16dbc0165dfe95f",
        "object": "vector_store.file_batch",
        "created_at": 1737738933,
        "status": "in_progress",
        "vector_store_id": "vs_HFoXVc4VkeFR3Hwr21Yvyjm2",
        "file_counts": {
          "in_progress": 2,
          "completed": 0,
          "failed": 0,
          "cancelled": 0,
          "total": 2
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/agents/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/files/assistant-bO9SCqb2fZqXETtgp8bdnLQA?api-version=2024-07-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "openai-processing-ms": "8384",
        "openai-version": "2020-10-01",
        "x-aml-cluster": "vienna-westus-02",
        "x-ms-middleware-request-id": "3095e954-8c61-4573-b855-35f33c108f36",
        "x-ms-region": "West US",
        "x-ms-response-type": "standard",
        "x-request-time": "8.896"
      },
      "ResponseBody": {
        "object": "file",
        "deleted": true,
        "id": "assistant-bO9SCqb2fZqXETtgp8bdnLQA"
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/agents/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/files/assistant-gJIvG2Y6iUk7IXA3TBNtAuEn?api-version=2024-07-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "openai-processing-ms": "8504",
        "openai-version": "2020-10-01",
        "x-aml-cluster": "vienna-westus-02",
        "x-ms-middleware-request-id": "94043b9a-7c3f-4698-bf68-90c8cd845aa6",
        "x-ms-region": "West US",
        "x-ms-response-type": "standard",
        "x-request-time": "8.631"
      },
      "ResponseBody": {
        "object": "file",
        "deleted": true,
        "id": "assistant-gJIvG2Y6iUk7IXA3TBNtAuEn"
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/agents/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/vector_stores/vs_HFoXVc4VkeFR3Hwr21Yvyjm2?api-version=2024-07-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "openai-organization": "934f5af3d01d44a3864dc81c9f079274",
        "openai-processing-ms": "617",
        "openai-version": "2020-10-01",
        "x-aml-cluster": "vienna-westus-02",
        "x-ms-middleware-request-id": "d4a9af94-f73b-4064-bb7f-189033e81e7f",
        "x-ms-region": "West US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.737"
      },
      "ResponseBody": {
        "id": "vs_HFoXVc4VkeFR3Hwr21Yvyjm2",
        "object": "vector_store.deleted",
        "deleted": true
      }
    }
  ],
  "Variables": {}
}
