{
  "Entries": [
    {
      "RequestUri": "https://fakeEndpoint.cognitive.microsofttranslator.com/breaksentence?api-version=3.0",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json; charset=UTF-8",
        "ocp-apim-subscription-region": "fakeregion"
      },
      "RequestBody": "[{\"text\":\"hello world\"},{\"text\":\"العالم هو مكان مثير جدا للاهتمام\"}]",
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "X-RequestId": "d04a6eac-82e7-4ed9-828f-9ff9bf47cb52.USW2.0502T1628"
      },
      "ResponseBody": "[{\"detectedLanguage\":{\"language\":\"en\",\"score\":0.98},\"sentLen\":[11]},{\"detectedLanguage\":{\"language\":\"ar\",\"score\":1.0},\"sentLen\":[32]}]"
    }
  ],
  "Variables": {}
}
