{
  "Entries": [
    {
      "RequestUri": "https://fakeEndpoint.cognitive.microsofttranslator.com/breaksentence?language=zh-Hans&script=Latn&api-version=3.0",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json; charset=UTF-8",
        "ocp-apim-subscription-region": "fakeregion"
      },
      "RequestBody": "[{\"text\":\"zhè shì gè cè shì。\"}]",
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "X-RequestId": "db1b958b-1c0f-4fed-bdd4-920d70931955.USW2.0502T1628"
      },
      "ResponseBody": "[{\"sentLen\":[18]}]"
    }
  ],
  "Variables": {}
}
