{
  "Entries": [
    {
      "RequestUri": "https://fakeEndpoint.cognitive.microsofttranslator.com/breaksentence?api-version=3.0",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json; charset=UTF-8",
        "ocp-apim-subscription-region": "fakeregion"
      },
      "RequestBody": "[{\"text\":\"hello world\"},{\"text\":\"العالم هو مكان مثير جدا للاهتمام\"}]",
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "X-RequestId": "6bfee7a1-2528-4f42-aca6-c9935b35ab81.USW2.0502T2000"
      },
      "ResponseBody": "[{\"detectedLanguage\":{\"language\":\"en\",\"score\":0.98},\"sentLen\":[11]},{\"detectedLanguage\":{\"language\":\"ar\",\"score\":1.0},\"sentLen\":[32]}]"
    }
  ],
  "Variables": {}
}
