{
  "Entries": [
    {
      "RequestUri": "https://fakeEndpoint.cognitive.microsofttranslator.com/breaksentence?api-version=3.0",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json; charset=UTF-8",
        "ocp-apim-subscription-key": "fakeapikey",
        "ocp-apim-subscription-region": "fakeregion"
      },
      "RequestBody": "[{\u0022text\u0022:\u0022hello world\u0022},{\u0022text\u0022:\u0022\u0627\u0644\u0639\u0627\u0644\u0645 \u0647\u0648 \u0645\u0643\u0627\u0646 \u0645\u062B\u064A\u0631 \u062C\u062F\u0627 \u0644\u0644\u0627\u0647\u062A\u0645\u0627\u0645\u0022}]",
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "X-RequestId": "f764e90d-f9f0-49d8-999f-964aba920e03.USW2.0401T2311"
      },
      "ResponseBody": "[{\u0022detectedLanguage\u0022:{\u0022language\u0022:\u0022en\u0022,\u0022score\u0022:0.98},\u0022sentLen\u0022:[11]},{\u0022detectedLanguage\u0022:{\u0022language\u0022:\u0022ar\u0022,\u0022score\u0022:1.0},\u0022sentLen\u0022:[32]}]"
    }
  ],
  "Variables": {}
}
