{
  "Entries": [
    {
      "RequestUri": "https://fakeEndpoint.cognitive.microsofttranslator.com/breaksentence?api-version=3.0",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json; charset=UTF-8",
        "ocp-apim-subscription-key": "fakeapikey",
        "ocp-apim-subscription-region": "fakeregion"
      },
      "RequestBody": "[{\u0022text\u0022:\u0022hello world\u0022}]",
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "X-RequestId": "086ade36-610f-4a3b-9fbf-ad3e2fa09a8a.USW2.0401T2311"
      },
      "ResponseBody": "[{\u0022detectedLanguage\u0022:{\u0022language\u0022:\u0022en\u0022,\u0022score\u0022:0.98},\u0022sentLen\u0022:[11]}]"
    }
  ],
  "Variables": {}
}
