{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/sanitized?api-version=2022-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "3749",
        "x-ms-ratelimit-remaining-subscription-reads": "249"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sanitized",
        "name": "sanitized",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "westus",
        "tags": {
          "Owners": "vicolina",
          "DeleteAfter": "2026-06-12T13:19:55.1196614Z"
        },
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sanitized/providers/Microsoft.Sql/servers/sanitized?api-version=2024-11-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "3749",
        "x-ms-ratelimit-remaining-subscription-reads": "249"
      },
      "ResponseBody": {
        "kind": "v12.0",
        "properties": {
          "administratorLogin": "mcptestadmin",
          "version": "12.0",
          "state": "Ready",
          "fullyQualifiedDomainName": "sanitized.database.windows.net",
          "privateEndpointConnections": [],
          "minimalTlsVersion": "1.2",
          "publicNetworkAccess": "Enabled",
          "restrictOutboundNetworkAccess": "Disabled",
          "externalGovernanceStatus": "Disabled",
          "retentionDays": -1
        },
        "location": "westus2",
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sanitized/providers/Microsoft.Sql/servers/sanitized",
        "name": "sanitized",
        "type": "Microsoft.Sql/servers"
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sanitized/providers/Microsoft.Sql/servers/sanitized/databases?api-version=2024-11-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-original-request-ids": "e648fd62-413f-4625-9224-d666a0caae49",
        "x-ms-ratelimit-remaining-subscription-global-reads": "3748",
        "x-ms-ratelimit-remaining-subscription-reads": "248"
      },
      "ResponseBody": {
        "value": [
          {
            "sku": {
              "name": "Basic",
              "tier": "Basic",
              "capacity": 5
            },
            "kind": "v12.0,user",
            "properties": {
              "collation": "SQL_Latin1_General_CP1_CI_AS",
              "maxSizeBytes": 2147483648,
              "status": "Online",
              "databaseId": "3c837a7d-89eb-40db-b8ae-5200a232160f",
              "creationDate": "2026-06-12T01:22:05.587Z",
              "currentServiceObjectiveName": "Basic",
              "requestedServiceObjectiveName": "Basic",
              "defaultSecondaryLocation": "westcentralus",
              "catalogCollation": "SQL_Latin1_General_CP1_CI_AS",
              "zoneRedundant": false,
              "earliestRestoreDate": "2026-06-12T01:49:13Z",
              "readScale": "Disabled",
              "currentSku": {
                "name": "Basic",
                "tier": "Basic",
                "capacity": 5
              },
              "currentBackupStorageRedundancy": "Local",
              "requestedBackupStorageRedundancy": "Local",
              "maintenanceConfigurationId": "/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Maintenance/publicMaintenanceConfigurations/SQL_Default",
              "isLedgerOn": false,
              "isInfraEncryptionEnabled": false,
              "availabilityZone": "NoPreference"
            },
            "location": "westus2",
            "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sanitized/providers/Microsoft.Sql/servers/sanitized/databases/testdb",
            "name": "testdb",
            "type": "Microsoft.Sql/servers/databases"
          },
          {
            "sku": {
              "name": "GP_SYSTEM",
              "tier": "System",
              "family": "SYSTEM",
              "capacity": 4
            },
            "kind": "v12.0,system,serverless",
            "managedBy": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sanitized/providers/Microsoft.Sql/servers/sanitized",
            "properties": {
              "collation": "SQL_Latin1_General_CP1_CI_AS",
              "maxSizeBytes": 107374182400,
              "status": "Online",
              "databaseId": "7122aca9-3e72-434e-90e2-fcba513cc96e",
              "creationDate": "2026-06-12T01:20:53.367Z",
              "currentServiceObjectiveName": "GP_SYSTEM_4",
              "requestedSe[...]
