{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.vault.azure.net/certificates?api-version=2026-03-01-preview&includePending=true",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/12345678-1234-1234-1234-123456789012\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer, PoP, or MTLS_POP token."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/certificates?api-version=2026-03-01-preview&includePending=true",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "https://keyvault_name.vault.azure.net/certificates/1116220832",
            "x5t": "Rv1CzwkOPStQwB8VfMVFBE4X8GE",
            "attributes": {
              "enabled": true,
              "nbf": 1780437460,
              "exp": 1811974060,
              "created": 1780438060,
              "updated": 1780438060
            },
            "tags": {
              "tag1": "value1",
              "tag2": "value2"
            },
            "subject": ""
          }
        ],
        "nextLink": "https://taca1f881381e79ad.vault.azure.net:443/certificates?api-version=2026-03-01-preview&$skiptoken=Sanitized"
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/certificates/1116220832?api-version=2026-03-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://keyvault_name.vault.azure.net/deletedcertificates/1116220832",
        "deletedDate": 1780444525,
        "scheduledPurgeDate": 1781049325,
        "id": "https://keyvault_name.vault.azure.net/certificates/1116220832/124d11d858064ac683bbc0a362c54003",
        "kid": "https://keyvault_name.vault.azure.net/keys/1116220832/124d11d858064ac683bbc0a362c54003",
        "sid": "https://keyvault_name.vault.azure.net/secrets/1116220832/124d11d858064ac683bbc0a362c54003",
        "x5t": "Rv1CzwkOPStQwB8VfMVFBE4X8GE",
        "cer": "MIIDNjCCAh6gAwIBAgIQJD4hKMVJSfyxTljx8sKpXDANBgkqhkiG9w0BAQsFADAYMRYwFAYDVQQDEw1EZWZhdWx0UG9saWN5MB4XDTI2MDYwMjIxNTc0MFoXDTI3MDYwMjIyMDc0MFowGDEWMBQGA1UEAxMNRGVmYXVsdFBvbGljeTCCASIwDQYJKoZIhvcNAQEBBQADggEPADCCAQoCggEBALOC0c1B2nRnyV+pPXlMuU40UbHYKdK8815W7Lx2HjvC0/PsBqXBuAT1QptJPy8yXid73uOxtR90ZLSJ59Y3VX8mO58oR629AnmN7gX909dlOvMUTrAXWpV1dq8gpenf8NwGFPWPQnirOTcKs94lkQAZHj29cFOZaUsUeISQWtWzlq1oboQwePMv7d9R5/ZKxXX697lE2dM1Jx8XohVaKMtj9Nlu80dEEU8hGQ+9+NDOjiuFWTbLEjRU1G9P4JXli9UTNrb3xELqgxLvqvvQzPiWS0AlFl8UBQt4rWkpDGy3ms0V1RSTCZLycrGJZI3VmI7d3wmJ/2z42UwsYVkMVI0CAwEAAaN8MHowDgYDVR0PAQH/BAQDAgWgMAkGA1UdEwQCMAAwHQYDVR0lBBYwFAYIKwYBBQUHAwEGCCsGAQUFBwMCMB8GA1UdIwQYMBaAFAGOhO7gxopJGcSYTQAklPxW5oXdMB0GA1UdDgQWBBQBjoTu4MaKSRnEmE0AJJT8VuaF3TANBgkqhkiG9w0BAQsFAAOCAQEAMIq7DqRQGOLGBwkmRmlB7V354uC7pmk1fBnTQKzAIdGjcilF8K05fHmnO6ywRHJOPzpbzo+cDQRwa20JHv9V5bLVE3QECR/Bf31srLRMDqUF+KM69IXPhRV3N4g49FPCyeubljbZy7dau/SH02sw+/z5xuWw45h5WCz16IZ7Jmgxe0EPamqZfAQm7ub+IxIM3266bZyybWRAI8G++NjEPRykqQIggGVxCWJvBUTpanGS0pq4qTC9Vg6EPBP4TeA7fj3SKfXjARj9P3Dtwle/LsVB/RfzMbwR0uUfSShtzTsY+3+Dzh1l36zj1ezuVCF8qPcOC53I4zFf7AXWrQlJ0Q==",
        "attributes": {
          "enabled": true,
          "nbf": 1780437460,
          "exp": 1811974060,
          "created": 1780438060,
          "updated": 1780438060,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7
        },
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "policy": {
          "id": "https://keyvault_name.vault.azure.net/certificates/1116220832/policy",
          "key_props": {
            "exportable": true,
            "kty": "RSA",
            "key_size": 2048,
            "reuse_key": false
          },
          "secret_props": {
            "contentType": "application/x-pkcs12"
          },
          "x509_props": {
            "subject": "CN=DefaultPolicy",
            "ekus": [
              "1.3.6.1.5.5.7.3.1",
              "1.3.6.1.5.5.7.3.2"
            ],
            "key_usage": [
              "digitalSignature",
              "keyEncipherment"
            ],
            "validity_months": 12,
            "basic_constraints": {
              "ca": false
            }
          },
          "lifetime_actions": [
            {
              "trigger": {
                "lifetime_percentage": 80
              },
              "action": {
                "action_type": "AutoRenew"
              }
            }
          ],
          "issuer": {
            "name": "Self"
          },
          "attributes": {
            "enabled": true,
            "created": 1780438055,
            "updated": 1780438055
          }
        },
        "pending": {
          "id": "https://keyvault_name.vault.azure.net/certificates/1116220832/pending"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedcertificates/1116220832?api-version=2026-03-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "CertificateNotFound",
          "message": "Deleted Certificate not found: 1116220832"
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/certificates?api-version=2026-03-01-preview&$skiptoken=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "https://keyvault_name.vault.azure.net/certificates/1204160509",
            "x5t": "xqJJXBPxg2-ZFVH4pHOE2s0rtB0",
            "attributes": {
              "enabled": true,
              "nbf": 1780436900,
              "exp": 1811973500,
              "created": 1780437500,
              "updated": 1780437500
            },
            "subject": ""
          }
        ],
        "nextLink": "https://taca1f881381e79ad.vault.azure.net:443/certificates?api-version=2026-03-01-preview&$skiptoken=Sanitized"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/certificates/backupRestoreCertificateName-canrecoveradeletedcertificate-5624706269607305?api-version=2026-03-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://keyvault_na[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedcertificates/backupRestoreCertificateName-canrecoveradeletedcertificate-5624706269607305?api-version=2026-03-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "CertificateNotFound",
          "message": "Deleted Certificate not found: backupRestoreCertificateName-canrecoveradeletedcertificate-5624706269607305"
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/certificates/backupRestoreCertificateName-canrestoreacertificate-7720832249943752?api-version=2026-03-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://keyvault_name.vaul[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedcertificates/backupRestoreCertificateName-canrestoreacertificate-7720832249943752?api-version=2026-03-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "CertificateNotFound",
          "message": "Deleted Certificate not found: backupRestoreCertificateName-canrestoreacertificate-7720832249943752"
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/certificates/cert-1016945569?api-version=2026-03-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://keyvault_name.vault.azure.net/deletedcertificates/cert-1016945569",
   [...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedcertificates/cert-1016945569?api-version=2026-03-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "CertificateNotFound",
          "message": "Deleted Certificate not found: cert-1016945569"
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/certificates/CRUDCertificateName-canabortcreatingacertificate-08705321902820662?api-version=2026-03-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://keyvault_name.vault.[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedcertificates/CRUDCertificateName-canabortcreatingacertificate-08705321902820662?api-version=2026-03-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "CertificateNotFound",
          "message": "Deleted Certificate not found: CRUDCertificateName-canabortcreatingacertificate-08705321902820662"
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/certificates/CRUDCertificateName-cancreateacertificate-0724893076490698?api-version=2026-03-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://keyvault_name.vault.azure.ne[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedcertificates/CRUDCertificateName-cancreateacertificate-0724893076490698?api-version=2026-03-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "CertificateNotFound",
          "message": "Deleted Certificate not found: CRUDCertificateName-cancreateacertificate-0724893076490698"
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/certificates/CRUDCertificateName-cancreateacertificatewithpreserveCertificateOrder-3741586088689648?api-version=2026-03-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedcertificates/CRUDCertificateName-cancreateacertificatewithpreserveCertificateOrder-3741586088689648?api-version=2026-03-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "CertificateNotFound",
          "message": "Deleted Certificate not found: CRUDCertificateName-cancreateacertificatewithpreserveCertificateOrder-3741586088689648"
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/certificates/CRUDCertificateName-cancreateacertificatewithsubjectalternativenameIPaddresses-05966411024753737?api-version=2026-03-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId":[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedcertificates/CRUDCertificateName-cancreateacertificatewithsubjectalternativenameIPaddresses-05966411024753737?api-version=2026-03-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "CertificateNotFound",
          "message": "Deleted Certificate not found: CRUDCertificateName-cancreateacertificatewithsubjectalternativenameIPaddresses-05966411024753737"
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/certificates/CRUDCertificateName-cancreateacertificatewithsubjectalternativenameURIs-13522529502044578?api-version=2026-03-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedcertificates/CRUDCertificateName-cancreateacertificatewithsubjectalternativenameURIs-13522529502044578?api-version=2026-03-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "CertificateNotFound",
          "message": "Deleted Certificate not found: CRUDCertificateName-cancreateacertificatewithsubjectalternativenameURIs-13522529502044578"
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/certificates/CRUDCertificateName-candisableacertificate-4978415023728052?api-version=2026-03-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://keyvault_name.vault.azure.n[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedcertificates/CRUDCertificateName-candisableacertificate-4978415023728052?api-version=2026-03-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "CertificateNotFound",
          "message": "Deleted Certificate not found: CRUDCertificateName-candisableacertificate-4978415023728052"
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/certificates/CRUDCertificateName-candisableacertificateversion-578600365483107?api-version=2026-03-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://keyvault_name.vault.a[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedcertificates/CRUDCertificateName-candisableacertificateversion-578600365483107?api-version=2026-03-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "CertificateNotFound",
          "message": "Deleted Certificate not found: CRUDCertificateName-candisableacertificateversion-578600365483107"
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/certificates/CRUDCertificateName-cangetacertificate-17553409340489678?api-version=2026-03-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://keyvault_name.vault.azure.net/[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedcertificates/CRUDCertificateName-cangetacertificate-17553409340489678?api-version=2026-03-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "CertificateNotFound",
          "message": "Deleted Certificate not found: CRUDCertificateName-cangetacertificate-17553409340489678"
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/certificates/CRUDCertificateName-cangetacertificatessecretinPEMformat-41828787768592124?api-version=2026-03-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://keyvault_nam[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedcertificates/CRUDCertificateName-cangetacertificatessecretinPEMformat-41828787768592124?api-version=2026-03-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "CertificateNotFound",
          "message": "Deleted Certificate not found: CRUDCertificateName-cangetacertificatessecretinPEMformat-41828787768592124"
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/certificates/CRUDCertificateName-cangetacertificatessecretinPKCS12format-1158955674015375?api-version=2026-03-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://keyvault_n[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedcertificates/CRUDCertificateName-cangetacertificatessecretinPKCS12format-1158955674015375?api-version=2026-03-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "CertificateNotFound",
          "message": "Deleted Certificate not found: CRUDCertificateName-cangetacertificatessecretinPKCS12format-1158955674015375"
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/certificates/CRUDCertificateName-canretrievethelatestversionofacertificatevalue-40194950639961335?api-version=2026-03-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://ke[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedcertificates/CRUDCertificateName-canretrievethelatestversionofacertificatevalue-40194950639961335?api-version=2026-03-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "CertificateNotFound",
          "message": "Deleted Certificate not found: CRUDCertificateName-canretrievethelatestversionofacertificatevalue-40194950639961335"
        }
      }
    },
[...]
