{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.vault.azure.net/certificates/listCertificateName-canlistcertificatesbypage-0/create?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedcertificates?api-version=7.6-preview.2&includePending=true",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedcertificates?api-version=7.6-preview.2&includePending=true",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [
          {
            "recoveryId": "https://keyvault_name.vault.azure.net/deletedcertificates/CRUDCertificateName-canabortcreatingacertificate-5899348500416217",
            "deletedDate": 1739462735,
            "scheduledPurgeDate": 1740067535,
            "id": "https://keyvault_name.vault.azure.net/certificates/CRUDCertificateName-canabortcreatingacertificate-5899348500416217",
            "x5t": "l53Dd5128AIZxFcnLLsXBxkFAVE",
            "attributes": {
              "enabled": true,
              "nbf": 1739461979,
              "exp": 1770998579,
              "created": 1739462579,
              "updated": 1739462579,
              "recoveryLevel": "CustomizedRecoverable+Purgeable",
              "recoverableDays": 7
            }
          },
          {
            "recoveryId": "https://keyvault_name.vault.azure.net/deletedcertificates/CRUDCertificateName-candeleteacertificate-3741856690179328",
            "deletedDate": 1739462847,
            "scheduledPurgeDate": 1740067647,
            "id": "https://keyvault_name.vault.azure.net/certificates/CRUDCertificateName-candeleteacertificate-3741856690179328",
            "attributes": {
              "enabled": false,
              "nbf": 1739462247,
   [...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedcertificates/CRUDCertificateName-canabortcreatingacertificate-5899348500416217?api-version=7.6-preview.2",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/certificates/listCertificateName-canlistcertificatesbypage-0/create?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "policy": {
          "key_props": {},
          "secret_props": {},
          "x509_props": {
            "subject": "cn=MyCert",
            "sans": {}
          },
          "issuer": {
            "name": "Self"
          },
          "attributes": {}
        },
        "attributes": {}
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://keyvault_name.vault.azure.net/certificates/listCertificateName-canlistcertificatesbypage-0/pending?api-version=7.6-preview.2&request_id=e5b1bc2d583a42f0855f305c3d3eb103",
        "Retry-After": "10"
      },
      "ResponseBody": {
        "id": "https://keyvault_name.vault.azure.net/certificates/listCertificateName-canlistcertificatesbypage-0/pending",
        "issuer": {
          "name": "Self"
        },
        "csr": "MIICoTCCAYkCAQAwETEPMA0GA1UEAxMGTXlDZXJ0MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAsHPL4SuUeadjKp2mWCc0mCK7Na6dsfJKBhSIrQ38xZ5ih34wU3CflW8YfvsW0TuGToGXjcHGFgTYqgT8EG5U8hjjvPHNnCwF8iHF7b/FXCgzHssvMGhkdX+1iRxJX9c9MZCfIvtiVL6CV+peoxxNf7AIoLK5uYoIGWtQ/OR3dyFqXwvwg5oU6RqrcisdkCtza9WV5alDkDhui3HNaRzeW43CLRj3PU4k92DqjxvpcV5gmmVKxycBJEzOB6y8x4eAV/7dsEQvlOQg441Me7lDZ9IQYHGosBdBU/pJ6Mp7veZyAJcc/W5uQj99ITaLkSX73ddTEdb3Xum9fDUsWFL3yQIDAQABoEswSQYJKoZIhvcNAQkOMTwwOjAOBgNVHQ8BAf8EBAMCBaAwHQYDVR0lBBYwFAYIKwYBBQUHAwEGCCsGAQUFBwMCMAkGA1UdEwQCMAAwDQYJKoZIhvcNAQELBQADggEBAAtOD+EYw2vMsdI37Dq+31XVHU7pL+D7Ze064nQzq1aPeRJUuVRRtsoKETVWvgKcLXJ91vzBmled3FHsLsVOgxGUBRPWL49ArKDYVGTP3IGFJl2EBbSEc8kiWQnuI3RwK4Rujm4Hz5MURJkHaehNkdGAzYL8GVjgWrf2+yc+JZD6nvfL+Ub2LH0o7lVaVNCocf3QvuHqkNiqfBLTxWhwivxAv0mioT7mRjbJD72mdMewIMPIHgl1UhTxR4Vy4dCXx0GfO6ZObqi2UsySUHi0Gyy9C4AgB+y7x1npGlvJZs1Pa2Iln1gmlluuqNdsZx7BpSAb7Bai2n7YgE2tNuVj8VU=",
        "cancellation_requested": false,
        "status": "inProgress",
        "status_details": "Pending certificate created. Certificate request is in progress. This may take some time based on the issuer provider. Please check again later.",
        "request_id": "e5b1bc2d583a42f0855f305c3d3eb103"
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedcertificates/CRUDCertificateName-candeleteacertificate-3741856690179328?api-version=7.6-preview.2",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/certificates/listCertificateName-canlistcertificatesbypage-0/pending?api-version=7.6-preview.2",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10"
      },
      "ResponseBody": {
        "id": "https://keyvault_name.vaul[...]
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedcertificates/CRUDCertificateName-canimportacertificatefromacertificatesnonbase64secretvalue-51652297291693031?api-version=7.6-preview.2",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedcertificates/CRUDCertificateName-usingbeginDeleteCertificatespoller-16331992028888642?api-version=7.6-preview.2",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedcertificates/CRUDCertificateName-usinggetDeletedCertificate-752741180066294?api-version=7.6-preview.2",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedcertificates?api-version=7.6-preview.2&$skiptoken=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [
          {
            "recoveryId": "https://keyvault_name.vault.azure.net/de[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedcertificates/lroDeleteCertificateName-canresumefromastoppedpoller-23250239776142334?api-version=7.6-preview.2",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedcertificates/lroDeleteCertificateName-canwaituntilacertificateisdeleted-4301179254924794?api-version=7.6-preview.2",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedcertificates/mergeCertificateName-canimportacertificatefromacertificatesnonbase64secretvalue-087345023794725530?api-version=7.6-preview.2",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/certificates/listCertificateName-canlistcertificatesbypage-0/?api-version=7.6-preview.2",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "id": "https://keyvault_name.vault.azure.net/certificates/listCertificateName-canlistcertificatesbypage-0/55ef4c6b84c1405db3a5ab32e8434976",
        "kid": "https://keyvault_name.vault.azure.net/keys/listCertificateName-canlistcertificatesbypage-0/55ef4c6b84c1405db3a5ab32e8434976",
        "sid": "https://keyvault_name.vault.azure.net/secrets/listCertificateName-canlistcertificatesbypage-0/55ef4c6b84c1405db3a5ab32e8434976",
        "x5t": "GLyhiW92drj2gIDFaYY2_kOdLx8",
        "cer": "MIIDKDCCAhCgAwIBAgIQW3SplKOsRsOlmFaVz53VxjANBgkqhkiG9w0BAQsFADARMQ8wDQYDVQQDEwZNeUNlcnQwHhcNMjUwMjEzMTU1ODU1WhcNMjYwMjEzMTYwODU1WjARMQ8wDQYDVQQDEwZNeUNlcnQwggEiMA0GCSqGSIb3DQEBAQUAA4IBDwAwggEKAoIBAQCwc8vhK5R5p2MqnaZYJzSYIrs1rp2x8koGFIitDfzFnmKHfjBTcJ+Vbxh++xbRO4ZOgZeNwcYWBNiqBPwQblTyGOO88c2cLAXyIcXtv8VcKDMeyy8waGR1f7WJHElf1z0xkJ8i+2JUvoJX6l6jHE1/sAigsrm5iggZa1D85Hd3IWpfC/CDmhTpGqtyKx2QK3Nr1ZXlqUOQOG6Lcc1pHN5bjcItGPc9TiT3YOqPG+lxXmCaZUrHJwEkTM4HrLzHh4BX/t2wRC+U5CDjjUx7uUNn0hBgcaiwF0FT+knoynu95n[...]
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/certificates?api-version=7.6-preview.2&includePending=true",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "https://keyvault_name.vault.azure.net/certificates/backu[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/certificates?api-version=7.6-preview.2&$skiptoken=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "https://keyvault_name.vault.azure.net/certificates/merg[...]
