{
  "Entries": [
    {
      "RequestUri": "https://dummyaccount.eastus.batch.azure.com/pools/jssdkPool-Basicec7b/nodes/tvmps_50ef5583f660a262629bfff5b12c814a4708d6a5956ee82392cdcd88cec5af2a_d/disablescheduling?api-version=2025-06-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json; odata=minimalmetadata",
        "ocp-date": "Wed, 04 Feb 2026 23:33:47 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "DataServiceId": "https://dummyaccount.eastus.batch.azure.com/pools/jssdkPool-Basicec7b/nodes/tvmps_50ef5583f660a262629bfff5b12c814a4708d6a5956ee82392cdcd88cec5af2a_d/disablescheduling",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://dummyaccount.eastus.batch.azure.com/pools/jssdkPool-Basicec7b/nodes/tvmps_50ef5583f660a262629bfff5b12c814a4708d6a5956ee82392cdcd88cec5af2a_d?api-version=2025-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "ocp-date": "Wed, 04 Feb 2026 23:33:47 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": {
        "odata.metadata": "https://dummyaccount.eastus.batch.azure.com/$metadata#nodes/@Element",
        "id": "tvmps_50ef5583f660a262629bfff5b12c814a4708d6a5956ee82392cdcd88cec5af2a_d",
        "url": "https://dummyaccount.eastus.batch.azure.com/pools/jssdkPool-Basicec7b/nodes/tvmps_50ef5583f660a262629bfff5b12c814a4708d6a5956ee82392cdcd88cec5af2a_d",
        "state": "offline",
        "schedulingState": "disabled",
        "stateTransitionTime": "2026-02-04T23:33:47.6805575Z",
        "lastBootTime": "2026-02-04T23:33:33.760281Z",
        "allocationTime": "2026-02-04T23:32:46.069384Z",
        "ipAddress": "10.0.0.7",
        "affinityId": "TVM:tvmps_50ef5583f660a262629bfff5b12c814a4708d6a5956ee82392cdcd88cec5af2a_d",
        "vmSize": "standard_d2s_v3",
        "totalTasksRun": 0,
        "totalTasksSucceeded": 0,
        "runningTasksCount": 0,
        "runningTaskSlotsCount": 0,
        "startTask": {
          "commandLine": "/bin/bash -c 'echo hello > hello.txt'",
          "userIdentity": {
            "autoUser": {
              "scope": "pool",
              "elevationLevel": "nonadmin"
            }
          },
          "maxTaskRetryCount": 0,
          "waitForSuccess": true
        },
        "startTaskInfo": {
          "state": "completed",
          "startTime": "2026-02-04T23:33:33.961415Z",
          "endTime": "2026-02-04T23:33:34.002644Z",
          "exitCode": 0,
          "result": "success",
          "retryCount": 0
        },
        "isDedicated": true,
        "nodeAgentInfo": {
          "lastUpdateTime": "2026-02-04T23:33:33.760281Z",
          "version": "1.12.39"
        },
        "virtualMachineInfo": {
          "imageReference": {
            "publisher": "canonical",
            "offer": "0001-com-ubuntu-server-jammy",
            "sku": "22_04-lts",
            "version": "latest",
            "exactVersion": "latest"
          }
        }
      }
    }
  ],
  "Variables": {
    "BASIC_POOL": "jssdkPool-Basicec7b"
  }
}
