{
  "Entries": [
    {
      "RequestUri": "https://dummyaccount.eastus.batch.azure.com/pools/jssdkPool-Basic866e/nodes/tvmps_86f4fd0725f71628fde80de34e9138f7617bee1737754915804b3c58c18300e3_d/disablescheduling?api-version=2025-06-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "ocp-date": "Thu, 22 Jan 2026 02:10:59 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "DataServiceId": "https://dummyaccount.eastus.batch.azure.com/pools/jssdkPool-Basic866e/nodes/tvmps_86f4fd0725f71628fde80de34e9138f7617bee1737754915804b3c58c18300e3_d/disablescheduling",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://dummyaccount.eastus.batch.azure.com/pools/jssdkPool-Basic866e/nodes/tvmps_86f4fd0725f71628fde80de34e9138f7617bee1737754915804b3c58c18300e3_d?api-version=2025-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "ocp-date": "Thu, 22 Jan 2026 02:11:01 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": {
        "odata.metadata": "https://dummyaccount.eastus.batch.azure.com/$metadata#nodes/@Element",
        "id": "tvmps_86f4fd0725f71628fde80de34e9138f7617bee1737754915804b3c58c18300e3_d",
        "url": "https://dummyaccount.eastus.batch.azure.com/pools/jssdkPool-Basic866e/nodes/tvmps_86f4fd0725f71628fde80de34e9138f7617bee1737754915804b3c58c18300e3_d",
        "state": "offline",
        "schedulingState": "disabled",
        "stateTransitionTime": "2026-01-22T02:11:00.9948717Z",
        "lastBootTime": "2026-01-22T02:10:31.814712Z",
        "allocationTime": "2026-01-22T02:09:44.0197972Z",
        "ipAddress": "10.0.0.4",
        "affinityId": "TVM:tvmps_86f4fd0725f71628fde80de34e9138f7617bee1737754915804b3c58c18300e3_d",
        "vmSize": "standard_d2s_v3",
        "totalTasksRun": 0,
        "totalTasksSucceeded": 0,
        "runningTasksCount": 0,
        "runningTaskSlotsCount": 0,
        "startTask": {
          "commandLine": "/bin/bash -c 'echo hello > hello.txt'",
          "userIdentity": {
            "autoUser": {
              "scope": "pool",
              "elevationLevel": "nonadmin"
            }
          },
          "maxTaskRetryCount": 0,
          "waitForSuccess": true
        },
        "startTaskInfo": {
          "state": "completed",
          "startTime": "2026-01-22T02:10:32.003667Z",
          "endTime": "2026-01-22T02:10:32.050234Z",
          "exitCode": 0,
          "result": "success",
          "retryCount": 0
        },
        "isDedicated": true,
        "nodeAgentInfo": {
          "lastUpdateTime": "2026-01-22T02:10:31.814712Z",
          "version": "1.12.39"
        },
        "virtualMachineInfo": {
          "imageReference": {
            "publisher": "canonical",
            "offer": "0001-com-ubuntu-server-jammy",
            "sku": "22_04-lts",
            "version": "latest",
            "exactVersion": "latest"
          }
        }
      }
    }
  ],
  "Variables": {
    "BASIC_POOL": "jssdkPool-Basic866e"
  }
}
