{
  "Entries": [
    {
      "RequestUri": "https://javatextanalyticstestresources.cognitiveservices.azure.com/language/analyze-text/jobs?api-version=2023-04-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "analysisInput": {
          "documents": [
            {
              "id": "0",
              "text": "Subject is taking 100mg of ibuprofen twice daily",
              "language": "en"
            },
            {
              "id": "1",
              "text": "",
              "language": "en"
            }
          ]
        },
        "tasks": [
          {
            "parameters": {
              "stringIndexType": "Utf16CodeUnit"
            },
            "kind": "ExtractiveSummarization"
          }
        ]
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "operation-location": "https://javatextanalyticstestresources.cognitiveservices.azure.com/language/analyze-text/jobs/3bcf2961-5b3e-4500-888d-5324df755ab0?api-version=2023-04-01",
        "x-ms-region": "West US 2"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://javatextanalyticstestresources.cognitiveservices.azure.com/language/analyze-text/jobs/3bcf2961-5b3e-4500-888d-5324df755ab0?api-version=2023-04-01\u0026showStats=false",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "West US 2"
      },
      "ResponseBody": {
        "jobId": "3bcf2961-5b3e-4500-888d-5324df755ab0",
        "lastUpdatedDateTime": "2023-06-02T00:23:07Z",
        "createdDateTime": "2023-06-02T00:23:06Z",
        "expirationDateTime": "2023-06-03T00:23:06Z",
        "status": "running",
        "errors": [],
        "tasks": {
          "completed": 0,
          "failed": 0,
          "inProgress": 1,
          "total": 1,
          "items": []
        }
      }
    },
    {
      "RequestUri": "https://javatextanalyticstestresources.cognitiveservices.azure.com/language/analyze-text/jobs/3bcf2961-5b3e-4500-888d-5324df755ab0?api-version=2023-04-01\u0026showStats=false",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "West US 2"
      },
      "ResponseBody": {
        "jobId": "3bcf2961-5b3e-4500-888d-5324df755ab0",
        "lastUpdatedDateTime": "2023-06-02T00:23:07Z",
        "createdDateTime": "2023-06-02T00:23:06Z",
        "expirationDateTime": "2023-06-03T00:23:06Z",
        "status": "succeeded",
        "errors": [],
        "tasks": {
          "completed": 1,
          "failed": 0,
          "inProgress": 0,
          "total": 1,
          "items": [
            {
              "kind": "ExtractiveSummarizationLROResults",
              "lastUpdateDateTime": "2023-06-02T00:23:07.336897Z",
              "status": "succeeded",
              "results": {
                "documents": [
                  {
                    "id": "0",
                    "sentences": [
                      {
                        "text": "Subject is taking 100mg of ibuprofen twice daily",
                        "rankScore": 1.0,
                        "offset": 0,
                        "length": 48
                      }
                    ],
                    "warnings": []
                  }
                ],
                "errors": [
                  {
                    "id": "1",
                    "error": {
                      "code": "InvalidArgument",
                      "message": "Invalid Document in request.",
                      "innererror": {
                        "code": "InvalidDocument",
                        "message": "Document text is empty."
                      }
                    }
                  }
                ],
                "modelVersion": "2023-02-01-preview"
              }
            }
          ]
        }
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": null,
    "RandomSeed": "954329319",
    "TEXTANALYTICS_API_KEY": "Sanitized",
    "TEXTANALYTICS_ENDPOINT": "https://javatextanalyticstestresources.cognitiveservices.azure.com"
  }
}
