{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/88888888-8888-8888-8888-888888888888/resourcegroups/myjstest/providers/Microsoft.Resources/dataBoundaries/default?api-version=2024-08-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "id": "/providers/Microsoft.Resources/dataBoundaries/72f988bf-86f1-41af-91ab-2d7cd011db47",
        "name": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "properties": {
          "dataBoundary": "Global",
          "provisioningState": "Succeeded"
        }
      }
    }
  ],
  "Variables": {}
}
