{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.NetworkFunction/azureTrafficCollectors/atc?api-version=2022-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\"36ecef0c-40b4-4db6-9497-df8c1787f424\"",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "properties": {
          "collectorPolicies": [],
          "provisioningState": "Succeeded"
        },
        "id": "/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.NetworkFunction/azureTrafficCollectors/atc",
        "name": "atc",
        "type": "Microsoft.NetworkFunction/AzureTrafficCollectors",
        "etag": "Sanitized",
        "location": "eastus"
      }
    }
  ],
  "Variables": {}
}
