{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/openai-shared/providers/Microsoft.CognitiveServices/accounts/sdk-test-openai-js?api-version=2023-05-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kind": "OpenAI",
        "sku": {
          "name": "S0"
        },
        "identity": {
          "type": "SystemAssigned"
        },
        "location": "West Europe"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "azure-asyncoperation": "https://management.azure.com/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/providers/Microsoft.CognitiveServices/locations/West Europe/operationResults/54cb107a-2013-4316-991c-b73ae4500644?api-version=2017-04-18",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002230006c4b-0000-0d00-0000-64be1c9d0000\u0022",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": {
        "id": "/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/resourceGroups/openai-shared/providers/Microsoft.CognitiveServices/accounts/sdk-test-openai-js",
        "name": "sdk-test-openai-js",
        "type": "Microsoft.CognitiveServices/accounts",
        "etag": "\u002230006c4b-0000-0d00-0000-64be1c9d0000\u0022",
        "location": "West Europe",
        "sku": {
          "name": "S0"
        },
        "kind": "OpenAI",
        "properties": {
          "endpoint": "https://westeurope.api.cognitive.microsoft.com/",
          "internalId": "3a1936bc4835491d84a517f2333b2acf",
          "dateCreated": "2023-07-24T06:39:25.4461005Z",
          "callRateLimit": {
            "rules": [
              {
                "key": "openai.dalle.post",
                "renewalPeriod": 1,
                "count": 30,
                "matchPatterns": [
                  {
                    "path": "dalle/*",
                    "method": "POST"
                  },
                  {
                    "path": "openai/images/*",
                    "method": "POST"
                  }
                ]
              },
              {
                "key": "openai.dalle.other",
                "renewalPeriod": 1,
                "count": 30,
                "matchPatterns": [
                  {
                    "path": "dalle/*",
                    "method": "*"
                  },
                  {
                    "path": "openai/operations/images/*",
                    "method": "*"
                  }
                ]
              },
              {
                "key": "openai",
                "renewalPeriod": 1,
                "count": 30,
                "matchPatterns": [
                  {
                    "path": "openai/*",
                    "method": "*"
                  }
                ]
              },
              {
                "key": "default",
                "renewalPeriod": 1,
                "count": 30,
                "matchPatterns": [
                  {
                    "path": "*",
                    "method": "*"
                  }
                ]
              }
            ]
          },
          "isMigrated": false,
          "privateEndpointConnections": [],
          "publicNetworkAccess": "Enabled",
          "capabilities": [
            {
              "name": "VirtualNetworks"
            },
            {
              "name": "MaxFineTuneCount",
              "value": "100"
            },
            {
              "name": "MaxRunningFineTuneCount",
              "value": "1"
            },
            {
              "name": "MaxUserFileCount",
              "value": "50"
            },
            {
              "name": "MaxTrainingFileSize",
              "value": "100000000"
            },
            {
              "name": "MaxUserFileImportDurationInHours",
              "value": "1"
            },
            {
              "name": "MaxFineTuneJobDurationInHours",
              "value": "720"
            }
          ],
          "endpoints": {
            "OpenAI Language Model Instance API": "https://westeurope.api.cognitive.microsoft.com/",
            "OpenAI Dall-E API": "https://westeurope.api.cognitive.microsoft.com/",
            "OpenAI Whisper API": "https://westeurope.api.cognitive.microsoft.com/"
          },
          "provisioningState": "Creating"
        },
        "identity": {
          "principalId": "b1b8c6ec-e005-4d0b-877b-cbfc38af0dd9",
          "tenantId": "88888888-8888-8888-8888-888888888888",
          "type": "SystemAssigned"
        },
        "systemData": {
          "createdBy": "azure_client_id",
          "createdByType": "Application",
          "createdAt": "2023-07-24T06:39:23.2944248Z",
          "lastModifiedBy": "azure_client_id",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2023-07-24T06:39:23.2944248Z"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/providers/Microsoft.CognitiveServices/locations/West%20Europe/operationResults/54cb107a-2013-4316-991c-b73ae4500644?api-version=2017-04-18",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11999"
      },
      "ResponseBody": {
        "id": "/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/providers/Microsoft.CognitiveServices/locations/West Europe/operationResults/54cb107a-2013-4316-991c-b73ae4500644",
        "name": "54cb107a-2013-4316-991c-b73ae4500644",
        "status": "Creating",
        "startTime": "2023-07-24T06:39:25Z"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/providers/Microsoft.CognitiveServices/locations/West%20Europe/operationResults/54cb107a-2013-4316-991c-b73ae4500644?api-version=2017-04-18",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11981"
      },
      "ResponseBody": {
        "id": "/subscriptions/faa080af-c1d8-40ad-9cce-e1a450ca5b57/providers/Microsoft.CognitiveServices/locations/West Europe/operationResults/54cb107a-2013-4316-991c-b73ae4500644",
        "name": "54cb107a-2013-4316-991c-b73ae4500644",
        "status": "Succeeded",
        "startTime": "2023-07-24T06:39:25Z",
        "endTime": "2023-07-24T06:40:05Z"
      }
    },
[...]
