{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/1d04e8f1-ee04-4056-b0b2-718f5bb45b04?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "id": "/subscriptions/1d04e8f1-ee04-4056-b0b2-718f5bb45b04",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "tags": {
          "Az.Sec.AnonymousBlobEnforcement::OptIn": "all_regions",
          "Az.Sec.DisableLocalAuth.SqlManagedInstance::OptIn": "all_regions",
          "Az.Sec.DisableLocalAuth.SqlServer.V2::OptIn": "all_regions"
        },
        "subscriptionId": "1d04e8f1-ee04-4056-b0b2-718f5bb45b04",
        "tenantId": "00000000-0000-0000-0000-000000000000",
        "displayName": "Kronox testing",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/1d04e8f1-ee04-4056-b0b2-718f5bb45b04/resourcegroups/rg-asifmammadov-computeschedule-rg?api-version=2022-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "id": "/subscriptions/1d04e8f1-ee04-4056-b0b2-718f5bb45b04/resourceGroups/rg-asifmammadov-computeschedule-rg",
        "name": "rg-asifmammadov-computeschedule-rg",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "eastus2euap",
        "tags": {
          "ServiceDirectory": "computeschedule",
          "Owners": "asifmammadov",
          "DeleteAfter": "2026-04-12T22:41:32.6446139+00:00"
        },
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/1d04e8f1-ee04-4056-b0b2-718f5bb45b04/providers/Microsoft.Network?api-version=2022-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "id": "/subscriptions/1d04e8f1-ee04-4056-b0b2-718f5bb45b04/providers/Microsoft.Network",
        "namespace": "Microsoft.Network",
        "authorizations": [
          {
            "applicationId": "00000000-0000-0000-0000-000000000000",
            "roleDefinitionId": "18363e25-ff21-4159-ae8d-7dfecb5bd001"
          },
          {
            "applicationId": "00000000-0000-0000-0000-000000000000",
            "roleDefinitionId": "d4d2d679-cce0-429d-9a3b-17118c035f66"
          },
          {
            "applicationId": "00000000-0000-0000-0000-000000000000",
            "roleDefinitionId": "d4d2d679-cce0-429d-9a3b-17118c035f66"
          },
          {
            "applicationId": "00000000-0000-0000-0000-000000000000",
            "roleDefinitionId": "13b[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/1d04e8f1-ee04-4056-b0b2-718f5bb45b04/resourceGroups/rg-asifmammadov-computeschedule-rg/providers/Microsoft.Network/virtualNetworks/testflex2113-vnet-5084?api-version=2025-07-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus2euap",
        "properties": {
          "addressSpace": {
            "addressPrefixes": [
              "10.0.0.0/16"
            ]
          },
          "subnets": [
            {
              "name": "testflex2113-subnet-7672",
              "properties": {
                "addressPrefix": "10.0.2.0/24",
                "defaultOutboundAccess": false
              }
            }
          ]
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "azure-asyncnotification": "Enabled",
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/1d04e8f1-ee04-4056-b0b2-718f5bb45b04/providers/Microsoft.Network/locations/eastus2euap/operations/8227c3d6-f500-47b6-b234-7a5f70d9949e?api-version=2025-07-01&t=639108221498500185&c=MIIH9TCCBt2gAwIBAgIRAMtamzFlyI3LpKzWMTLdrjYwDQYJKoZIhvcNAQELBQAwNjE0MDIGA1UEAxMrQ0NNRSBHMSBUTFMgUlNBIDIwNDggU0hBMjU2IDIwNDkgRVUyQyBDQSAwMTAeFw0yNjAzMjIyMDA2MDVaFw0yNjA2MTgwMjA2MDVaMEAxPjA8BgNVBAMTNWFzeW5jb3BlcmF0aW9uc2lnbmluZ2NlcnRpZmljYXRlLm1hbmFnZW1lbnQuYXp1cmUuY29tMIIBIj[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/1d04e8f1-ee04-4056-b0b2-718f5bb45b04/providers/Microsoft.Network/locations/eastus2euap/operations/8227c3d6-f500-47b6-b234-7a5f70d9949e?api-version=2025-07-01&t=639108221498500185&c=MIIH9TCCBt2gAwIBAgIRAMtamzFlyI3LpKzWMTLdrjYwDQYJKoZIhvcNAQELBQAwNjE0MDIGA1UEAxMrQ0NNRSBHMSBUTFMgUlNBIDIwNDggU0hBMjU2IDIwNDkgRVUyQyBDQSAwMTAeFw0yNjAzMjIyMDA2MDVaFw0yNjA2MTgwMjA2MDVaMEAxPjA8BgNVBAMTNWFzeW5jb3BlcmF0aW9uc2lnbmluZ2NlcnRpZmljYXRlLm1hbmFnZ[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/1d04e8f1-ee04-4056-b0b2-718f5bb45b04/resourceGroups/rg-asifmammadov-computeschedule-rg/providers/Microsoft.Network/virtualNetworks/testflex2113-vnet-5084?api-version=2025-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "name": "testflex2113-vnet-5084",
        "id": "/subscriptions/1d04e8f1-ee04-4056-b0b2-718f5bb45b04/resourceGroups/rg-asifmammadov-computeschedule-rg/providers/Microsoft.Network/virtualNetworks/testflex2113-vnet-5084",
        "etag": "W/\"7c8b0d6d-7eb1-4d2e-b1e2-f669c298598e\"",
        "type": "Microsoft.Network/virtualNetworks",
        "location": "eastus2euap",
        "properties": {
          "provisioningState": "Succeeded",
          "resourceGuid": "35adccc0-b3c1-4355-b5e2-c7897a754d42",
          "addressSpace": {
            "addressPrefixes": [
              "10.0.0.0/16"
            ]
          },
          "privateEndpointVNetPolicies": "Disabled",
          "subnets": [
            {
              "name": "testflex2113-subnet-7672",
              "id": "/subscriptions/1d04e8f1-ee04-4056-b0b2-718f5bb45b04/resourceGroups/rg-asifmammadov-computeschedule-rg/providers/Microsoft.Network/virtualNetworks/testflex2113-vnet-5084/subnets/testflex2113-subnet-7672",
              "etag": "W/\"7c8b0d6d-7eb1-4d2e-b1e2-f669c298598e\"",
              "properties": {
                "provisioningState": "Succeeded",
                "addressPrefix": "10.0.2.0/24",
                "delegations": [],
                "privateEndpointNetworkPolicies": "Disabled",
                "privateLinkServiceNetworkPolicies": "Enabled",
                "defaultOutboundAccess": false
              },
              "type": "Microsoft.Network/virtualNetworks/subnets"
            }
          ],
          "virtualNetworkPeerings": [],
          "enableDdosProtection": false
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/1d04e8f1-ee04-4056-b0b2-718f5bb45b04/providers/Microsoft.ComputeSchedule/locations/eastus2euap/virtualMachinesExecuteCreateFlex?api-version=2026-03-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "resourceConfigParameters": {
          "baseProfile": {
            "resourcegroupName": "rg-asifmammadov-computeschedule-rg",
            "computeApiVersion": "2023-09-01",
            "zones": [
              "1",
              "2",
              "3"
            ],
            "properties": {
              "hardwareProfile": {
                "vmSize": "Standard_D2ads_v5"
              },
              "storageProfile": {
                "imageReference": {
                  "publisher": "MicrosoftWindowsServer",
                  "offer": "WindowsServer",
                  "sku": "2022-datacenter-azure-edition",
                  "version": "latest"
                },
                "osDisk": {
                  "osType": "Windows",
                  "createOption": "FromImage",
                  "caching": "ReadWrite",
                  "managedDisk": {
                    "storageAccountType": "Standard_LRS"
                  },
                  "deleteOption": "Detach",
                  "diskSizeGB": 127
                },
                "diskControllerType": "SCSI"
              },
              "networkProfile": {
                "networkInterfaceConfigurations": [
                  {
                    "name": "testflexnic",
                    "properties": {
                      "primary": true,
                      "enableIPForwarding": true,
                      "ipConfigurations": [
                        {
                          "name": "testflexnic",
                          "properties": {
                            "subnet": {
                              "id": "/subscriptions/1d04e8f1-ee04-4056-b0b2-718f5bb45b04/resourceGroups/rg-asifmammadov-computeschedule-rg/providers/Microsoft.Network/virtualNetworks/testflex2113-vnet-5084/subnets/testflex2113-subnet-7672"
                            },
                            "primary": true,
                            "applicationGatewayBackendAddressPools": [],
                            "loadBalancerBackendAddressPools": []
                          }
                        }
                      ]
                    }
                  }
                ],
                "networkApiVersion": "2022-07-01"
              }
            }
          },
          "resourceOverrides": [
            {
              "name": "testflexvm0",
              "location": "eastus2euap",
              "properties": {
                "hardwareProfile": {
                  "vmSize": "Standard_D2ads_v5"
                },
                "osProfile": {
                  "computerName": "testflexvm",
                  "adminUsername": "testadmin",
                  "adminPassword": "Sanitized",
                  "windowsConfiguration": {
                    "provisionVmAgent": true,
                    "enableAutomaticUpdates": true
                  }
                }
              }
            }
          ],
          "resourceCount": 1,
          "resourcePrefix": "testflex",
          "flexProperties": {
            "vmSizeProfiles": [
              {
                "name": "Standard_D2ads_v5",
                "rank": 0
              },
              {
                "name": "Standard_E2ads_v5",
                "rank": 1
              },
              {
                "name": "Standard_D2ds_v5",
                "rank": 2
              }
            ],
            "osType": "Windows",
            "priorityProfile": {
              "type": "Regular",
              "allocationStrategy": "Prioritized"
            }
          }
        },
        "executionParameters": {
          "retryPolicy": {
            "retryCount": 1
          }
        },
        "correlationid": "1c0d3cad-c937-981a-be43-29ee717f7110"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "1.0, 2.0, 2024-06-01-preview, 2024-08-15-preview, 2024-10-01, 2025-04-15-preview, 2025-05-01, 2026-01-01-preview, 2026-02-10-preview, 2026-03-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-global-writes": "11999",
        "x-ms-ratelimit-remaining-subscription-writes": "799"
      },
      "ResponseBody": {
        "description": "Flex Create Resource request",
        "type": "VirtualMachines",
        "location": "eastus2euap",
        "results": [
          {
            "resourceId": "/subscriptions/1d04e8f1-ee04-4056-b0b2-718f5bb45b04/resourceGroups/rg-asifmammadov-computeschedule-rg/providers/Microsoft.Compute/virtualMachines/testflexvm0",
            "operation": {
              "operationId": "1d2c9540-4773-4edb-9d86-6553e1163ea1",
              "resourceId": "/subscriptions/1d04e8f1-ee04-4056-b0b2-718f5bb45b04/resourceGroups/rg-asifmammadov-computeschedule-rg/providers/Microsoft.Compute/virtualMachines/testflexvm0",
              "opType": "Create",
              "subscriptionId": "1d04e8f1-ee04-4056-b0b2-718f5bb45b04",
              "deadline": "2026-04-03T14:09:20.3562394+00:00",
              "deadlineType": "InitiateAt",
              "state": "PendingScheduling",
              "timeZone": "UTC",
              "retryPolicy": {
                "retryCount": 1,
                "retryWindowInMinutes": 90
              }
            }
          }
        ]
      }
    }
  ],
  "Variables": {
    "RandomSeed": "145652920",
    "RESOURCE_GROUP": "rg-asifmammadov-computeschedule-rg",
    "RESOURCE_MANAGER_URL": "https://management.azure.com/",
    "SUBSCRIPTION_ID": "1d04e8f1-ee04-4056-b0b2-718f5bb45b04"
  }
}
