{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/d4d56520-234b-4f88-b067-b64abe09a843?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11999"
      },
      "ResponseBody": {
        "id": "/subscriptions/d4d56520-234b-4f88-b067-b64abe09a843",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "tags": {
          "C-AI-MG-Placement-Subscription-Level": "2024-03-11"
        },
        "subscriptionId": "d4d56520-234b-4f88-b067-b64abe09a843",
        "tenantId": "00000000-0000-0000-0000-000000000000",
        "displayName": "Kronox Testing 2",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/d4d56520-234b-4f88-b067-b64abe09a843/resourcegroups/rg-nneka-computeschedule-rg?api-version=2022-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11999"
      },
      "ResponseBody": {
        "id": "/subscriptions/d4d56520-234b-4f88-b067-b64abe09a843/resourceGroups/rg-nneka-computeschedule-rg",
        "name": "rg-nneka-computeschedule-rg",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "eastus2euap",
        "tags": {
          "DeleteAfter": "2024-09-21T03:29:37.6493965+08:00",
          "ServiceDirectory": "computeschedule",
          "Owners": "nnekaokeke"
        },
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/d4d56520-234b-4f88-b067-b64abe09a843/providers/Microsoft.Network?api-version=2022-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11999"
      },
      "ResponseBody": {
        "id": "/subscriptions/d4d56520-234b-4f88-b067-b64abe09a843/providers/Microsoft.Network",
        "namespace": "Microsoft.Network",
        "authorizations": [
          {
            "applicationId": "00000000-0000-0000-0000-000000000000",
            "roleDefinitionId": "18363e25-ff21-4159-ae8d-7dfecb5bd001"
          },
          {
            "applicationId": "00000000-0000-0000-0000-000000000000",
            "roleDefinitionId": "d4d2d679-cce0-429d-9a3b-17118c035f66"
          },
          {
            "applicationId": "00000000-0000-0000-0000-000000000000",
            "roleDefinitionId": "d4d2d679-cce0-429d-9a3b-17118c035f66"
          },
          {
            "applicationId": "00000000-0000-0000-0000-000000000000",
            "roleDefinitionId": "13b[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/d4d56520-234b-4f88-b067-b64abe09a843/resourceGroups/rg-nneka-computeschedule-rg/providers/Microsoft.Network/virtualNetworks/exeDeall96170-vnet-655?api-version=2024-03-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "addressSpace": {
            "addressPrefixes": [
              "10.0.0.0/16"
            ]
          },
          "subnets": [
            {
              "name": "exeDeall96170-subnet-3118",
              "properties": {
                "addressPrefix": "10.0.2.0/24"
              }
            }
          ]
        },
        "location": "eastus2euap"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncNotification": "Enabled",
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/d4d56520-234b-4f88-b067-b64abe09a843/providers/Microsoft.Network/locations/eastus2euap/operations/5aff659c-caed-4506-b5cc-839a1f83a26c?api-version=2024-03-01&t=638618006601456360&c=MIIHhzCCBm-gAwIBAgITfAULQ3rFY4Objzxl3AAABQtDejANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDUwHhcNMjQwNjIyMjE1NzIzWhcNMjUwNjE3MjE1NzIzWjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ25pbmdjZXJ0aWZpY2F0ZS5tYW5hZ2VtZW[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/d4d56520-234b-4f88-b067-b64abe09a843/providers/Microsoft.Network/locations/eastus2euap/operations/5aff659c-caed-4506-b5cc-839a1f83a26c?api-version=2024-03-01&t=638618006601456360&c=MIIHhzCCBm-gAwIBAgITfAULQ3rFY4Objzxl3AAABQtDejANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDUwHhcNMjQwNjIyMjE1NzIzWhcNMjUwNjE3MjE1NzIzWjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ25pbmdjZ[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/d4d56520-234b-4f88-b067-b64abe09a843/resourceGroups/rg-nneka-computeschedule-rg/providers/Microsoft.Network/virtualNetworks/exeDeall96170-vnet-655?api-version=2024-03-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\"4aaca240-a30f-4634-9beb-4c5d821838c4\"",
        "x-ms-ratelimit-remaining-subscription-reads": "11998"
      },
      "ResponseBody": {
        "name": "exeDeall96170-vnet-655",
        "id": "/subscriptions/d4d56520-234b-4f88-b067-b64abe09a843/resourceGroups/rg-nneka-computeschedule-rg/providers/Microsoft.Network/virtualNetworks/exeDeall96170-vnet-655",
        "etag": "W/\"4aaca240-a30f-4634-9beb-4c5d821838c4\"",
        "type": "Microsoft.Network/virtualNetworks",
        "location": "eastus2euap",
        "properties": {
          "provisioningState": "Succeeded",
          "resourceGuid": "576d74a1-ae62-48f0-90a1-db83dc3ff0ee",
          "addressSpace": {
            "addressPrefixes": [
              "10.0.0.0/16"
            ],
            "ipamPoolPrefixAllocations": []
          },
          "privateEndpointVNetPolicies": "Disabled",
          "subnets": [
            {
              "name": "exeDeall96170-subnet-3118",
              "id": "/subscriptions/d4d56520-234b-4f88-b067-b64abe09a843/resourceGroups/rg-nneka-computeschedule-rg/providers/Microsoft.Network/virtualNetworks/exeDeall96170-vnet-655/subnets/exeDeall96170-subnet-3118",
              "etag": "W/\"4aaca240-a30f-4634-9beb-4c5d821838c4\"",
              "properties": {
                "provisioningState": "Succeeded",
                "addressPrefix": "10.0.2.0/24",
                "ipamPoolPrefixAllocations": [],
                "delegations": [],
                "privateEndpointNetworkPolicies": "Disabled",
                "privateLinkServiceNetworkPolicies": "Enabled"
              },
              "type": "Microsoft.Network/virtualNetworks/subnets"
            }
          ],
          "virtualNetworkPeerings": [],
          "enableDdosProtection": false
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/d4d56520-234b-4f88-b067-b64abe09a843/resourceGroups/rg-nneka-computeschedule-rg/providers/Microsoft.Network/networkInterfaces/exeDeall96170-nic-2155?api-version=2024-03-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "ipConfigurations": [
            {
              "name": "internal",
              "properties": {
                "subnet": {
                  "id": "/subscriptions/d4d56520-234b-4f88-b067-b64abe09a843/resourceGroups/rg-nneka-computeschedule-rg/providers/Microsoft.Network/virtualNetworks/exeDeall96170-vnet-655/subnets/exeDeall96170-subnet-3118"
                }
              }
            }
          ]
        },
        "location": "eastus2euap"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": {
        "name": "exeDeall96170-nic-2155",
        "id": "/subscriptions/d4d56520-234b-4f88-b067-b64abe09a843/resourceGroups/rg-nneka-computeschedule-rg/providers/Microsoft.Network/networkInterfaces/exeDeall96170-nic-2155",
        "etag": "W/\"8ea2d1e1-a6e8-4878-a747-ddececf7cf8c\"",
        "properties": {
          "provisioningState": "Succeeded",
          "resourceGuid": "6a8bf64c-0363-45e6-9d27-a676112d0313",
          "ipConfigurations": [
            {
              "name": "internal",
              "id": "/subscriptions/d4d56520-234b-4f88-b067-b64abe09a843/resourceGroups/rg-nneka-computeschedule-rg/providers/Microsoft.Network/networkInterfaces/exeDeall96170-nic-2155/ipConfigurations/internal",
              "etag": "W/\"8ea2d1e1-a6e8-4878-a747-ddececf7cf8c\"",
              "type": "Microsoft.Network/networkInterfaces/ipConfigurations",
              "properties": {
                "provisioningState": "Succeeded",
                "privateIPAddress": "10.0.2.4",
                "privateIPAllocationMethod": "Dynamic",
                "subnet": {
                  "id": "/subscriptions/d4d56520-234b-4f88-b067-b64abe09a843/resourceGroups/rg-nneka-computeschedule-rg/providers/Microsoft.Network/virtualNetworks/exeDeall96170-vnet-655/subnets/exeDeall96170-subnet-3118"
                },
                "primary": true,
                "privateIPAddressVersion": "IPv4"
              }
            }
          ],
          "dnsSettings": {
            "dnsServers": [],
            "appliedDnsServers": [],
            "internalDomainNameSuffix": "uf0g0v1cv1yerefb1ob3yp5q3g.cbnx.internal.cloudapp.net"
          },
          "vnetEncryptionSupported": false,
          "enableIPForwarding": false,
          "disableTcpStateTracking": false,
          "hostedWorkloads": [],
          "tapConfigurations": [],
          "nicType": "Standard",
          "allowPort25Out": true,
          "auxiliaryMode": "None",
          "auxiliarySku": "None"
        },
        "type": "Microsoft.Network/networkInterfaces",
        "location": "eastus2euap",
        "kind": "Regular"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/d4d56520-234b-4f88-b067-b64abe09a843/resourceGroups/rg-nneka-computeschedule-rg/providers/Microsoft.Compute/virtualMachines/exeDeall96170?api-version=2023-07-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus2euap",
        "properties": {
          "hardwareProfile": {
            "vmSize": "Standard_D2ads_v5"
          },
          "storageProfile": {
            "imageReference": {
              "publisher": "MicrosoftWindowsServer",
              "offer": "WindowsServer",
              "sku": "2022-datacenter-azure-edition",
              "version": "latest"
            },
            "osDisk": {
              "osType": "Windows",
              "caching": "ReadWrite",
              "createOption": "FromImage",
              "diskSizeGB": 127,
              "managedDisk": {
                "storageAccountType": "Standard_LRS"
              },
              "deleteOption": "Detach"
            }
          },
          "additionalCapabilities": {
            "hibernationEnabled": true
          },
          "osProfile": {
            "computerName": "exeDeall96170",
            "adminUsername": "adminuser",
            "adminPassword": "Sanitized",
            "windowsConfiguration": {
              "provisionVMAgent": true,
              "enableAutomaticUpdates": true,
              "patchSettings": {
                "patchMode": "AutomaticByOS",
                "assessmentMode": "ImageDefault"
              }
            }
          },
          "networkProfile": {
            "networkInterfaces": [
              {
                "id": "/subscriptions/d4d56520-234b-4f88-b067-b64abe09a843/resourceGroups/rg-nneka-computeschedule-rg/providers/Microsoft.Network/networkInterfaces/exeDeall96170-nic-2155",
                "properties": {
                  "primary": true
                }
              }
            ]
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "azure-asyncnotification": "Enabled",
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/d4d56520-234b-4f88-b067-b64abe09a843/providers/Microsoft.Compute/locations/EastUS2EUAP/operations/356c1214-bf64-4661-bca4-5ffae7477a2d?p=81ec214a-166c-4c59-b0bf-1ab65ef37a6e&api-version=2023-07-01&t=638618006732475204&c=MIIHhzCCBm-gAwIBAgITfAULQ3rFY4Objzxl3AAABQtDejANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDUwHhcNMjQwNjIyMjE1NzIzWhcNMjUwNjE3[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/d4d56520-234b-4f88-b067-b64abe09a843/providers/Microsoft.Compute/locations/EastUS2EUAP/operations/356c1214-bf64-4661-bca4-5ffae7477a2d?p=81ec214a-166c-4c59-b0bf-1ab65ef37a6e&api-version=2023-07-01&t=638618006732475204&c=MIIHhzCCBm-gAwIBAgITfAULQ3rFY4Objzxl3AAABQtDejANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDUwHhcNMjQwNjIyMjE1NzIzWhcNMjUwNjE3MjE1NzIzWjBAMT4wPA[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/d4d56520-234b-4f88-b067-b64abe09a843/resourceGroups/rg-nneka-computeschedule-rg/providers/Microsoft.Compute/virtualMachines/exeDeall96170?api-version=2023-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-need-to-refresh-epl-cache": "False",
        "x-ms-ratelimit-remaining-resource": "Microsoft.Compute/LowCostGetSubscriptionMaximum;23999,Microsoft.Compute/LowCostGetResource;31",
        "x-ms-ratelimit-remaining-subscription-reads": "11999"
      },
      "ResponseBody": {
        "name": "exeDeall96170",
        "id": "/subscriptions/d4d56520-234b-4f88-b067-b64abe09a843/resourceGroups/rg-nneka-computeschedule-rg/providers/Microsoft.Compute/virtualMachines/exeDeall96170",
        "type": "Microsoft.Compute/virtualMachines",
        "location": "eastus2euap",
        "tags": {
          "azsecpack": "nonprod",
          "platformsettings.host_environment.service.platform_optedin_for_rootcerts": "true"
        },
        "identity": {
          "type": "SystemAssigned",
          "principalId": "00000000-0000-0000-0000-000000000000",
          "tenantId": "00000000-0000-0000-0000-000000000000"
        },
        "properties": {
          "hardwareProfile": {
            "vmSize": "Standard_D2ads_v5"
          },
          "provisioningState": "Updating",
          "vmId": "b3281e24-1308-4e64-bdd6-f8e4a104daff",
          "additionalCapabilities": {
            "hibernationEnabled": true
          },
          "storageProfile": {
            "imageReference": {
              "publisher": "MicrosoftWindowsServer",
              "offer": "WindowsServer",
              "sku": "2022-datacenter-azure-edition",
              "version": "latest",
              "exactVersion": "20348.2700.240905"
            },
            "osDisk": {
              "osType": "Windows",
              "name": "exeDeall96170_disk1_3537b320293c4eda9d396df08b0907b2",
              "createOption": "FromImage",
              "caching": "ReadWrite",
              "managedDisk": {
                "storageAccountType": "Standard_LRS",
                "id": "/subscriptions/d4d56520-234b-4f88-b067-b64abe09a843/resourceGroups/rg-nneka-computeschedule-rg/providers/Microsoft.Compute/disks/exeDeall96170_disk1_3537b320293c4eda9d396df08b0907b2"
              },
              "deleteOption": "Detach",
              "diskSizeGB": 127
            },
            "dataDisks": [],
            "diskControllerType": "SCSI"
          },
          "osProfile": {
            "computerName": "exeDeall96170",
            "adminUsername": "adminuser",
            "windowsConfiguration": {
              "provisionVMAgent": true,
              "enableAutomaticUpdates": true,
              "patchSettings": {
                "patchMode": "AutomaticByOS",
                "assessmentMode": "ImageDefault"
              },
              "enableVMAgentPlatformUpdates": true
            },
            "secrets": [],
            "allowExtensionOperations": true,
            "requireGuestProvisionSignal": true
          },
          "networkProfile": {
            "networkInterfaces": [
              {
                "id": "/subscriptions/d4d56520-234b-4f88-b067-b64abe09a843/resourceGroups/rg-nneka-computeschedule-rg/providers/Microsoft.Network/networkInterfaces/exeDeall96170-nic-2155",
                "properties": {
                  "primary": true
                }
              }
            ]
          },
          "timeCreated": "2024-09-13T13:04:32.4865092+08:00"
        },
        "resources": [
          {
            "name": "AzureHibernateExtension",
            "id": "/subscriptions/d4d56520-234b-4f88-b067-b64abe09a843/resourceGroups/rg-nneka-computeschedule-rg/providers/Microsoft.Compute/virtualMachines/exeDeall96170/extensions/AzureHibernateExtension",
            "type": "Microsoft.Compute/virtualMachines/extensions",
            "location": "eastus2euap",
            "properties": {
              "autoUpgradeMinorVersion": true,
              "forceUpdateTag": "93691dc0-1027-466b-9065-bfe7512086b7",
              "provisioningState": "Updating",
              "enableAutomaticUpgrade": true,
              "publisher": "Microsoft.CPlat.Core",
              "type": "WindowsHibernateExtension",
              "typeHandlerVersion": "1.0",
              "settings": {
                "allowReboot": true
              }
            }
          },
          {
            "name": "CodeIntegrityAgent",
            "id": "/subscriptions/d4d56520-234b-4f88-b067-b64abe09a843/resourceGroups/rg-nneka-computeschedule-rg/providers/Microsoft.Compute/virtualMachines/exeDeall96170/extensions/CodeIntegrityAgent",
            "type": "Microsoft.Compute/virtualMachines/extensions",
            "location": "eastus2euap",
            "properties": {
              "autoUpgradeMinorVersion": true,
              "provisioningState": "Creating",
              "enableAutomaticUpgrade": true,
              "publisher": "Microsoft.Azure.Security.WindowsCodeIntegrity",
              "type": "CodeIntegrityAgent",
              "typeHandlerVersion": "1.0",
              "settings": {}
            }
          },
          {
            "name": "Microsoft.Azure.Geneva.GenevaMonitoring",
            "id": "/subscriptions/d4d56520-234b-4f88-b067-b64abe09a843/resourceGroups/rg-nneka-computeschedule-rg/providers/Microsoft.Compute/virtualMachines/exeDeall96170/extensions/Microsoft.Azure.Geneva.GenevaMonitoring",
            "type": "Microsoft.Compute/virtualMachines/extensions",
            "location": "eastus2euap",
            "properties": {
              "autoUpgradeMinorVersion": true,
              "provisioningState": "Creating",
              "enableAutomaticUpgrade": true,
              "suppressFailures": true,
              "publisher": "Microsoft.Azure.Geneva",
              "type": "GenevaMonitoring",
              "typeHandlerVersion": "2.0"
            }
          }
        ]
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/d4d56520-234b-4f88-b067-b64abe09a843/providers/Microsoft.ComputeSchedule/locations/eastus2euap/virtualMachinesExecuteDeallocate?api-version=2024-08-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "executionParameters": {
          "retryPolicy": {
            "retryCount": 3,
            "retryWindowInMinutes": 30
          }
        },
        "resources": {
          "ids": [
            "/subscriptions/d4d56520-234b-4f88-b067-b64abe09a843/resourceGroups/rg-nneka-computeschedule-rg/providers/Microsoft.Compute/virtualMachines/exeDeall96170"
          ]
        },
        "correlationid": "c61f18bc-1e46-2a8a-7f89-0fc625477943"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "1.0, 2.0, 2024-06-01-preview, 2024-08-15-preview",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-writes": "1198"
      },
      "ResponseBody": {
        "description": "Deallocate Resource request",
        "type": "VirtualMachines",
        "location": "eastus2euap",
        "results": [
          {
            "resourceId": "/subscriptions/d4d56520-234b-4f88-b067-b64abe09a843/resourceGroups/rg-nneka-computeschedule-rg/providers/Microsoft.Compute/virtualMachines/exeDeall96170",
            "errorCode": null,
            "errorDetails": null,
            "operation": {
              "operationId": "b5d4511a-d5de-4cab-a075-9c8343a5ae3e",
              "resourceId": "/subscriptions/d4d56520-234b-4f88-b067-b64abe09a843/resourceGroups/rg-nneka-computeschedule-rg/providers/Microsoft.Compute/virtualMachines/exeDeall96170",
              "opType": "Deallocate",
              "subscriptionId": "d4d56520-234b-4f88-b067-b64abe09a843",
              "deadline": "2024-09-13T13:05:51.5090501+08:00",
              "deadlineType": "InitiateAt",
              "state": "PendingScheduling",
              "timeZone": "UTC",
              "resourceOperationError": null,
              "completedAt": null,
              "retryPolicy": {
                "retryCount": 3,
                "retryWindowInMinutes": 30
              }
            }
          }
        ]
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/d4d56520-234b-4f88-b067-b64abe09a843/providers/Microsoft.ComputeSchedule/locations/eastus2euap/virtualMachinesGetOperationStatus?api-version=2024-08-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "operationIds": [
          "b5d4511a-d5de-4cab-a075-9c8343a5ae3e"
        ],
        "correlationid": "5ab2a820-9df7-c204-8bf2-d4a09c54e979"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "1.0, 2.0, 2024-06-01-preview, 2024-08-15-preview",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": {
        "results": [
      [...]
[...]
