{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/1d04e8f1-ee04-4056-b0b2-718f5bb45b04?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "id": "/subscriptions/1d04e8f1-ee04-4056-b0b2-718f5bb45b04",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "tags": {
          "Az.Sec.AnonymousBlobEnforcement::OptIn": "all_regions",
          "Az.Sec.DisableLocalAuth.SqlManagedInstance::OptIn": "all_regions",
          "Az.Sec.DisableLocalAuth.SqlServer.V2::OptIn": "all_regions",
          "Az.Sec.DisableLocalAuth.EventHub::OptIn": "cdm,cbn,cy,hk,ln"
        },
        "subscriptionId": "1d04e8f1-ee04-4056-b0b2-718f5bb45b04",
        "tenantId": "00000000-0000-0000-0000-000000000000",
        "displayName": "Kronox testing",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/1d04e8f1-ee04-4056-b0b2-718f5bb45b04/resourcegroups/rg-computeschedule-record-rg?api-version=2022-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "id": "/subscriptions/1d04e8f1-ee04-4056-b0b2-718f5bb45b04/resourceGroups/rg-computeschedule-record-rg",
        "name": "rg-computeschedule-record-rg",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "eastus2euap",
        "tags": {
          "DeleteAfter": "2026-05-18T22:11:31.8256965+00:00",
          "Owners": "asifmammadov",
          "ServiceDirectory": "computeschedule"
        },
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/1d04e8f1-ee04-4056-b0b2-718f5bb45b04/providers/Microsoft.Network?api-version=2022-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "id": "/subscriptions/1d04e8f1-ee04-4056-b0b2-718f5bb45b04/providers/Microsoft.Network",
        "namespace": "Microsoft.Network",
        "authorizations": [
          {
            "applicationId": "00000000-0000-0000-0000-000000000000",
            "roleDefinitionId": "18363e25-ff21-4159-ae8d-7dfecb5bd001"
          },
          {
            "applicationId": "00000000-0000-0000-0000-000000000000",
            "roleDefinitionId": "d4d2d679-cce0-429d-9a3b-17118c035f66"
          },
          {
            "applicationId": "00000000-0000-0000-0000-000000000000",
            "roleDefinitionId": "d4d2d679-cce0-429d-9a3b-17118c035f66"
          },
          {
            "applicationId": "00000000-0000-0000-0000-000000000000",
            "roleDefinitionId": "13b[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/1d04e8f1-ee04-4056-b0b2-718f5bb45b04/resourceGroups/rg-computeschedule-record-rg/providers/Microsoft.Network/virtualNetworks/testcreate1748-vnet-4236?api-version=2025-07-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus2euap",
        "properties": {
          "addressSpace": {
            "addressPrefixes": [
              "10.0.0.0/16"
            ]
          },
          "subnets": [
            {
              "name": "testcreate1748-subnet-685",
              "properties": {
                "addressPrefix": "10.0.2.0/24",
                "defaultOutboundAccess": false
              }
            }
          ]
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "azure-asyncnotification": "Enabled",
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/1d04e8f1-ee04-4056-b0b2-718f5bb45b04/providers/Microsoft.Network/locations/eastus2euap/operations/c0e3de71-7099-452e-b708-7abd6caca938?api-version=2025-07-01&t=639138827410891056&c=MIIH9DCCBtygAwIBAgIQSjf8N8vu6a2s5d6lDssJBTANBgkqhkiG9w0BAQsFADA2MTQwMgYDVQQDEytDQ01FIEcxIFRMUyBSU0EgMjA0OCBTSEEyNTYgMjA0OSBFVTJDIENBIDAxMB4XDTI2MDQyMTIwNDkyM1oXDTI2MDcxNzAyNDkyM1owQDE-MDwGA1UEAxM1YXN5bmNvcGVyYXRpb25zaWduaW5nY2VydGlmaWNhdGUubWFuYWdlbWVudC5henVyZS5jb20wggEiMA[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/1d04e8f1-ee04-4056-b0b2-718f5bb45b04/providers/Microsoft.Network/locations/eastus2euap/operations/c0e3de71-7099-452e-b708-7abd6caca938?api-version=2025-07-01&t=639138827410891056&c=MIIH9DCCBtygAwIBAgIQSjf8N8vu6a2s5d6lDssJBTANBgkqhkiG9w0BAQsFADA2MTQwMgYDVQQDEytDQ01FIEcxIFRMUyBSU0EgMjA0OCBTSEEyNTYgMjA0OSBFVTJDIENBIDAxMB4XDTI2MDQyMTIwNDkyM1oXDTI2MDcxNzAyNDkyM1owQDE-MDwGA1UEAxM1YXN5bmNvcGVyYXRpb25zaWduaW5nY2VydGlmaWNhdGUubWFuYWdlb[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/1d04e8f1-ee04-4056-b0b2-718f5bb45b04/resourceGroups/rg-computeschedule-record-rg/providers/Microsoft.Network/virtualNetworks/testcreate1748-vnet-4236?api-version=2025-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099",
        "x-ms-throttle-levels": "operationConcurrencyPct=2.5, subscriptionReadRatePct=0.5, etc"
      },
      "ResponseBody": {
        "name": "testcreate1748-vnet-4236",
        "id": "/subscriptions/1d04e8f1-ee04-4056-b0b2-718f5bb45b04/resourceGroups/rg-computeschedule-record-rg/providers/Microsoft.Network/virtualNetworks/testcreate1748-vnet-4236",
        "etag": "W/\"f03ca799-af02-4219-b02a-cc39bbbac499\"",
        "type": "Microsoft.Network/virtualNetworks",
        "location": "eastus2euap",
        "properties": {
          "provisioningState": "Succeeded",
          "resourceGuid": "b2009496-850b-49f0-96d8-46ee4b20c914",
          "addressSpace": {
            "addressPrefixes": [
              "10.0.0.0/16"
            ]
          },
          "privateEndpointVNetPolicies": "Disabled",
          "subnets": [
            {
              "name": "testcreate1748-subnet-685",
              "id": "/subscriptions/1d04e8f1-ee04-4056-b0b2-718f5bb45b04/resourceGroups/rg-computeschedule-record-rg/providers/Microsoft.Network/virtualNetworks/testcreate1748-vnet-4236/subnets/testcreate1748-subnet-685",
              "etag": "W/\"f03ca799-af02-4219-b02a-cc39bbbac499\"",
              "properties": {
                "provisioningState": "Succeeded",
                "addressPrefix": "10.0.2.0/24",
                "delegations": [],
                "privateEndpointNetworkPolicies": "Disabled",
                "privateLinkServiceNetworkPolicies": "Enabled",
                "defaultOutboundAccess": false
              },
              "type": "Microsoft.Network/virtualNetworks/subnets"
            }
          ],
          "virtualNetworkPeerings": [],
          "enableDdosProtection": false
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/1d04e8f1-ee04-4056-b0b2-718f5bb45b04/providers/Microsoft.ComputeSchedule/locations/eastus2euap/virtualMachinesExecuteCreate?api-version=2026-04-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "resourceConfigParameters": {
          "virtualMachineBaseProfile": {
            "computeApiVersion": "2023-09-01",
            "resourceGroupName": "rg-computeschedule-record-rg",
            "zones": [
              "1",
              "2",
              "3"
            ],
            "properties": {
              "storageProfile": {
                "imageReference": {
                  "publisher": "MicrosoftWindowsServer",
                  "offer": "WindowsServer",
                  "sku": "2022-datacenter-azure-edition",
                  "version": "latest"
                },
                "osDisk": {
                  "osType": "Windows",
                  "caching": "ReadWrite",
                  "createOption": "FromImage",
                  "diskSizeGB": 127,
                  "managedDisk": {
                    "storageAccountType": "Standard_LRS"
                  },
                  "deleteOption": "Delete"
                },
                "diskControllerType": "SCSI"
              },
              "networkProfile": {
                "networkApiVersion": "2020-11-01",
                "networkInterfaceConfigurations": [
                  {
                    "name": "testcreatenic",
                    "properties": {
                      "primary": true,
                      "enableIPForwarding": true,
                      "ipConfigurations": [
                        {
                          "name": "testcreatenic",
                          "properties": {
                            "subnet": {
                              "id": "/subscriptions/1d04e8f1-ee04-4056-b0b2-718f5bb45b04/resourceGroups/rg-computeschedule-record-rg/providers/Microsoft.Network/virtualNetworks/testcreate1748-vnet-4236/subnets/testcreate1748-subnet-685"
                            },
                            "primary": true
                          }
                        }
                      ]
                    }
                  }
                ]
              },
              "hardwareProfile": {
                "vmSize": "Standard_D2ads_v5"
              }
            }
          },
          "virtualMachineOverrides": [
            {
              "name": "testcreatevm0",
              "properties": {
                "osProfile": {
                  "computerName": "testcreatevm",
                  "adminUsername": "testadmin",
                  "adminPassword": "Sanitized",
                  "windowsConfiguration": {
                    "provisionVMAgent": true,
                    "enableAutomaticUpdates": true
                  }
                },
                "hardwareProfile": {
                  "vmSize": "Standard_D2ads_v5"
                }
              }
            }
          ],
          "resourceCount": 1,
          "resourcePrefix": "testcreate"
        },
        "executionParameters": {
          "retryPolicy": {
            "retryCount": 1
          }
        },
        "correlationid": "9d78810f-efb0-bb6e-f441-7fcac41bef73"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "1.0, 2.0, 2024-06-01-preview, 2024-08-15-preview, 2024-10-01, 2025-04-15-preview, 2025-05-01, 2026-01-01-preview, 2026-02-10-preview, 2026-03-01-preview, 2026-04-15-preview",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-global-writes": "11999",
        "x-ms-ratelimit-remaining-subscription-writes": "799"
      },
      "ResponseBody": {
        "description": "Create Resource request",
        "type": "VirtualMachines",
        "location": "eastus2euap",
        "results": [
          {
            "resourceId": "/subscriptions/1d04e8f1-ee04-4056-b0b2-718f5bb45b04/resourceGroups/rg-computeschedule-record-rg/providers/Microsoft.Compute/virtualMachines/testcreatevm0",
            "operation": {
              "operationId": "aafcf718-d3ce-476b-9eaf-f6b7dee0f318",
              "resourceId": "/subscriptions/1d04e8f1-ee04-4056-b0b2-718f5bb45b04/resourceGroups/rg-computeschedule-record-rg/providers/Microsoft.Compute/virtualMachines/testcreatevm0",
              "opType": "Create",
              "subscriptionId": "1d04e8f1-ee04-4056-b0b2-718f5bb45b04",
              "deadline": "2026-05-09T00:18:55.0921833+00:00",
              "deadlineType": "InitiateAt",
              "state": "Executing",
              "timeZone": "UTC",
              "retryPolicy": {
                "retryCount": 1,
                "retryWindowInMinutes": 90
              }
            }
          }
        ]
      }
    }
  ],
  "Variables": {
    "RandomSeed": "112012070",
    "RESOURCE_GROUP": "rg-computeschedule-record-rg",
    "RESOURCE_MANAGER_URL": "https://management.azure.com/",
    "SUBSCRIPTION_ID": "1d04e8f1-ee04-4056-b0b2-718f5bb45b04"
  }
}
