{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/d4d56520-234b-4f88-b067-b64abe09a843/resourcegroups/rg-nneka-computeschedule-rg?api-version=2022-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11999"
      },
      "ResponseBody": {
        "id": "/subscriptions/d4d56520-234b-4f88-b067-b64abe09a843/resourceGroups/rg-nneka-computeschedule-rg",
        "name": "rg-nneka-computeschedule-rg",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "eastus2euap",
        "tags": {
          "DeleteAfter": "2024-09-20T19:29:37.6493965+00:00",
          "ServiceDirectory": "computeschedule",
          "Owners": "nnekaokeke"
        },
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/d4d56520-234b-4f88-b067-b64abe09a843/providers/Microsoft.Network?api-version=2022-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11999"
      },
      "ResponseBody": {
        "id": "/subscriptions/d4d56520-234b-4f88-b067-b64abe09a843/providers/Microsoft.Network",
        "namespace": "Microsoft.Network",
        "authorizations": [
          {
            "applicationId": "00000000-0000-0000-0000-000000000000",
            "roleDefinitionId": "18363e25-ff21-4159-ae8d-7dfecb5bd001"
          },
          {
            "applicationId": "00000000-0000-0000-0000-000000000000",
            "roleDefinitionId": "d4d2d679-cce0-429d-9a3b-17118c035f66"
          },
          {
            "applicationId": "00000000-0000-0000-0000-000000000000",
            "roleDefinitionId": "d4d2d679-cce0-429d-9a3b-17118c035f66"
          },
          {
            "applicationId": "00000000-0000-0000-0000-000000000000",
            "roleDefinitionId": "13b[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/d4d56520-234b-4f88-b067-b64abe09a843/resourceGroups/rg-nneka-computeschedule-rg/providers/Microsoft.Network/virtualNetworks/subhib7160-vnet-3494?api-version=2024-03-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "addressSpace": {
            "addressPrefixes": [
              "10.0.0.0/16"
            ]
          },
          "subnets": [
            {
              "name": "subhib7160-subnet-1381",
              "properties": {
                "addressPrefix": "10.0.2.0/24"
              }
            }
          ]
        },
        "location": "eastus2euap"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncNotification": "Enabled",
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/d4d56520-234b-4f88-b067-b64abe09a843/providers/Microsoft.Network/locations/eastus2euap/operations/d7159e88-7768-4423-87e9-68242506be90?api-version=2024-03-01&t=638617746504499864&c=MIIHhzCCBm-gAwIBAgITfAULQ3rFY4Objzxl3AAABQtDejANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDUwHhcNMjQwNjIyMjE1NzIzWhcNMjUwNjE3MjE1NzIzWjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ25pbmdjZXJ0aWZpY2F0ZS5tYW5hZ2VtZW[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/d4d56520-234b-4f88-b067-b64abe09a843/providers/Microsoft.Network/locations/eastus2euap/operations/d7159e88-7768-4423-87e9-68242506be90?api-version=2024-03-01&t=638617746504499864&c=MIIHhzCCBm-gAwIBAgITfAULQ3rFY4Objzxl3AAABQtDejANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDUwHhcNMjQwNjIyMjE1NzIzWhcNMjUwNjE3MjE1NzIzWjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ25pbmdjZ[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/d4d56520-234b-4f88-b067-b64abe09a843/resourceGroups/rg-nneka-computeschedule-rg/providers/Microsoft.Network/virtualNetworks/subhib7160-vnet-3494?api-version=2024-03-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\"e6d7ae77-7665-4c10-a211-77b2edc4d9f7\"",
        "x-ms-ratelimit-remaining-subscription-reads": "11999"
      },
      "ResponseBody": {
        "name": "subhib7160-vnet-3494",
        "id": "/subscriptions/d4d56520-234b-4f88-b067-b64abe09a843/resourceGroups/rg-nneka-computeschedule-rg/providers/Microsoft.Network/virtualNetworks/subhib7160-vnet-3494",
        "etag": "W/\"e6d7ae77-7665-4c10-a211-77b2edc4d9f7\"",
        "type": "Microsoft.Network/virtualNetworks",
        "location": "eastus2euap",
        "properties": {
          "provisioningState": "Succeeded",
          "resourceGuid": "c4c985a4-58b7-44cf-b2cf-b358913348cb",
          "addressSpace": {
            "addressPrefixes": [
              "10.0.0.0/16"
            ],
            "ipamPoolPrefixAllocations": []
          },
          "privateEndpointVNetPolicies": "Disabled",
          "subnets": [
            {
              "name": "subhib7160-subnet-1381",
              "id": "/subscriptions/d4d56520-234b-4f88-b067-b64abe09a843/resourceGroups/rg-nneka-computeschedule-rg/providers/Microsoft.Network/virtualNetworks/subhib7160-vnet-3494/subnets/subhib7160-subnet-1381",
              "etag": "W/\"e6d7ae77-7665-4c10-a211-77b2edc4d9f7\"",
              "properties": {
                "provisioningState": "Succeeded",
                "addressPrefix": "10.0.2.0/24",
                "ipamPoolPrefixAllocations": [],
                "delegations": [],
                "privateEndpointNetworkPolicies": "Disabled",
                "privateLinkServiceNetworkPolicies": "Enabled"
              },
              "type": "Microsoft.Network/virtualNetworks/subnets"
            }
          ],
          "virtualNetworkPeerings": [],
          "enableDdosProtection": false
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/d4d56520-234b-4f88-b067-b64abe09a843/resourceGroups/rg-nneka-computeschedule-rg/providers/Microsoft.Network/networkInterfaces/subhib7160-nic-8950?api-version=2024-03-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "ipConfigurations": [
            {
              "name": "internal",
              "properties": {
                "subnet": {
                  "id": "/subscriptions/d4d56520-234b-4f88-b067-b64abe09a843/resourceGroups/rg-nneka-computeschedule-rg/providers/Microsoft.Network/virtualNetworks/subhib7160-vnet-3494/subnets/subhib7160-subnet-1381"
                }
              }
            }
          ]
        },
        "location": "eastus2euap"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": {
        "name": "subhib7160-nic-8950",
        "id": "/subscriptions/d4d56520-234b-4f88-b067-b64abe09a843/resourceGroups/rg-nneka-computeschedule-rg/providers/Microsoft.Network/networkInterfaces/subhib7160-nic-8950",
        "etag": "W/\"76ef42e1-fd4d-4e0a-8a34-d4fb0cce13d2\"",
        "properties": {
          "provisioningState": "Succeeded",
          "resourceGuid": "77dc9734-fc5b-4895-82ec-fdaa25dbf09c",
          "ipConfigurations": [
            {
              "name": "internal",
              "id": "/subscriptions/d4d56520-234b-4f88-b067-b64abe09a843/resourceGroups/rg-nneka-computeschedule-rg/providers/Microsoft.Network/networkInterfaces/subhib7160-nic-8950/ipConfigurations/internal",
              "etag": "W/\"76ef42e1-fd4d-4e0a-8a34-d4fb0cce13d2\"",
              "type": "Microsoft.Network/networkInterfaces/ipConfigurations",
              "properties": {
                "provisioningState": "Succeeded",
                "privateIPAddress": "10.0.2.4",
                "privateIPAllocationMethod": "Dynamic",
                "subnet": {
                  "id": "/subscriptions/d4d56520-234b-4f88-b067-b64abe09a843/resourceGroups/rg-nneka-computeschedule-rg/providers/Microsoft.Network/virtualNetworks/subhib7160-vnet-3494/subnets/subhib7160-subnet-1381"
                },
                "primary": true,
                "privateIPAddressVersion": "IPv4"
              }
            }
          ],
          "dnsSettings": {
            "dnsServers": [],
            "appliedDnsServers": [],
            "internalDomainNameSuffix": "usc2trfxldhujmwpwnmjcm0izd.cbnx.internal.cloudapp.net"
          },
          "vnetEncryptionSupported": false,
          "enableIPForwarding": false,
          "disableTcpStateTracking": false,
          "hostedWorkloads": [],
          "tapConfigurations": [],
          "nicType": "Standard",
          "allowPort25Out": true,
          "auxiliaryMode": "None",
          "auxiliarySku": "None"
        },
        "type": "Microsoft.Network/networkInterfaces",
        "location": "eastus2euap",
        "kind": "Regular"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/d4d56520-234b-4f88-b067-b64abe09a843/resourceGroups/rg-nneka-computeschedule-rg/providers/Microsoft.Compute/virtualMachines/subhib7160?api-version=2023-07-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "eastus2euap",
        "properties": {
          "hardwareProfile": {
            "vmSize": "Standard_D2ads_v5"
          },
          "storageProfile": {
            "imageReference": {
              "publisher": "MicrosoftWindowsServer",
              "offer": "WindowsServer",
              "sku": "2022-datacenter-azure-edition",
              "version": "latest"
            },
            "osDisk": {
              "osType": "Windows",
              "caching": "ReadWrite",
              "createOption": "FromImage",
              "diskSizeGB": 127,
              "managedDisk": {
                "storageAccountType": "Standard_LRS"
              },
              "deleteOption": "Detach"
            }
          },
          "additionalCapabilities": {
            "hibernationEnabled": true
          },
          "osProfile": {
            "computerName": "subhib7160",
            "adminUsername": "adminuser",
            "adminPassword": "Sanitized",
            "windowsConfiguration": {
              "provisionVMAgent": true,
              "enableAutomaticUpdates": true,
              "patchSettings": {
                "patchMode": "AutomaticByOS",
                "assessmentMode": "ImageDefault"
              }
            }
          },
          "networkProfile": {
            "networkInterfaces": [
              {
                "id": "/subscriptions/d4d56520-234b-4f88-b067-b64abe09a843/resourceGroups/rg-nneka-computeschedule-rg/providers/Microsoft.Network/networkInterfaces/subhib7160-nic-8950",
                "properties": {
                  "primary": true
                }
              }
            ]
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "azure-asyncnotification": "Enabled",
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/d4d56520-234b-4f88-b067-b64abe09a843/providers/Microsoft.Compute/locations/EastUS2EUAP/operations/c1f68cf0-7d12-49d0-b843-787aaa526a14?p=81ec214a-166c-4c59-b0bf-1ab65ef37a6e&api-version=2023-07-01&t=638617746639266185&c=MIIHhzCCBm-gAwIBAgITfAULQ3rFY4Objzxl3AAABQtDejANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDUwHhcNMjQwNjIyMjE1NzIzWhcNMjUwNjE3[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/d4d56520-234b-4f88-b067-b64abe09a843/providers/Microsoft.Compute/locations/EastUS2EUAP/operations/c1f68cf0-7d12-49d0-b843-787aaa526a14?p=81ec214a-166c-4c59-b0bf-1ab65ef37a6e&api-version=2023-07-01&t=638617746639266185&c=MIIHhzCCBm-gAwIBAgITfAULQ3rFY4Objzxl3AAABQtDejANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDUwHhcNMjQwNjIyMjE1NzIzWhcNMjUwNjE3MjE1NzIzWjBAMT4wPA[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/d4d56520-234b-4f88-b067-b64abe09a843/resourceGroups/rg-nneka-computeschedule-rg/providers/Microsoft.Compute/virtualMachines/subhib7160?api-version=2023-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-need-to-refresh-epl-cache": "False",
        "x-ms-ratelimit-remaining-resource": "Microsoft.Compute/LowCostGetSubscriptionMaximum;23998,Microsoft.Compute/LowCostGetResource;34",
        "x-ms-ratelimit-remaining-subscription-reads": "11998"
      },
      "ResponseBody": {
        "name": "subhib7160",
        "id": "/subscriptions/d4d56520-234b-4f88-b067-b64abe09a843/resourceGroups/rg-nneka-computeschedule-rg/providers/Microsoft.Compute/virtualMachines/subhib7160",
        "type": "Microsoft.Compute/virtualMachines",
        "location": "eastus2euap",
        "tags": {
          "azsecpack": "nonprod",
          "platformsettings.host_environment.service.platform_optedin_for_rootcerts": "true"
        },
        "identity": {
          "type": "SystemAssigned",
          "principalId": "00000000-0000-0000-0000-000000000000",
          "tenantId": "00000000-0000-0000-0000-000000000000"
        },
        "properties": {
          "hardwareProfile": {
            "vmSize": "Standard_D2ads_v5"
          },
          "provisioningState": "Succeeded",
          "vmId": "eadb5d8d-61e1-4d4f-ac1d-889a9f1aa9eb",
          "additionalCapabilities": {
            "hibernationEnabled": true
          },
          "storageProfile": {
            "imageReference": {
              "publisher": "MicrosoftWindowsServer",
              "offer": "WindowsServer",
              "sku": "2022-datacenter-azure-edition",
              "version": "latest",
              "exactVersion": "20348.2700.240905"
            },
            "osDisk": {
              "osType": "Windows",
              "name": "subhib7160_OsDisk_1_94d9f88c02a44b0e9044a78195484760",
              "createOption": "FromImage",
              "caching": "ReadWrite",
              "managedDisk": {
                "storageAccountType": "Standard_LRS",
                "id": "/subscriptions/d4d56520-234b-4f88-b067-b64abe09a843/resourceGroups/rg-nneka-computeschedule-rg/providers/Microsoft.Compute/disks/subhib7160_OsDisk_1_94d9f88c02a44b0e9044a78195484760"
              },
              "deleteOption": "Detach",
              "diskSizeGB": 127
            },
            "dataDisks": [],
            "diskControllerType": "SCSI"
          },
          "osProfile": {
            "computerName": "subhib7160",
            "adminUsername": "adminuser",
            "windowsConfiguration": {
              "provisionVMAgent": true,
              "enableAutomaticUpdates": true,
              "patchSettings": {
                "patchMode": "AutomaticByOS",
                "assessmentMode": "ImageDefault"
              },
              "enableVMAgentPlatformUpdates": true
            },
            "secrets": [],
            "allowExtensionOperations": true,
            "requireGuestProvisionSignal": true
          },
          "networkProfile": {
            "networkInterfaces": [
              {
                "id": "/subscriptions/d4d56520-234b-4f88-b067-b64abe09a843/resourceGroups/rg-nneka-computeschedule-rg/providers/Microsoft.Network/networkInterfaces/subhib7160-nic-8950",
                "properties": {
                  "primary": true
                }
              }
            ]
          },
          "timeCreated": "2024-09-12T21:51:02.7977913+00:00"
        },
        "resources": [
          {
            "name": "AzureHibernateExtension",
            "id": "/subscriptions/d4d56520-234b-4f88-b067-b64abe09a843/resourceGroups/rg-nneka-computeschedule-rg/providers/Microsoft.Compute/virtualMachines/subhib7160/extensions/AzureHibernateExtension",
            "type": "Microsoft.Compute/virtualMachines/extensions",
            "location": "eastus2euap",
            "properties": {
              "autoUpgradeMinorVersion": true,
              "forceUpdateTag": "fd42f75a-e1de-45ba-862a-e02b84ade2bd",
              "provisioningState": "Succeeded",
              "enableAutomaticUpgrade": true,
              "publisher": "Microsoft.CPlat.Core",
              "type": "WindowsHibernateExtension",
              "typeHandlerVersion": "1.0",
              "settings": {
                "allowReboot": true
              }
            }
          }
        ]
      }
    },
    {
      "RequestUri": "https://eastus2euap.management.azure.com/subscriptions/d4d56520-234b-4f88-b067-b64abe09a843/providers/Microsoft.ComputeSchedule/locations/eastus2euap/virtualMachinesSubmitHibernate?api-version=2024-08-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "schedule": {
          "deadLine": "2024-09-12T21:53:25.5765704Z",
          "timeZone": "UTC",
          "deadlineType": "InitiateAt"
        },
        "executionParameters": {
          "retryPolicy": {
            "retryCount": 3,
            "retryWindowInMinutes": 30
          }
        },
        "resources": {
          "ids": [
            "/subscriptions/d4d56520-234b-4f88-b067-b64abe09a843/resourceGroups/rg-nneka-computeschedule-rg/providers/Microsoft.Compute/virtualMachines/subhib7160"
          ]
        },
        "correlationid": "5406bf5f-bddf-4ff9-82a1-eceab6e373a3"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "1.0, 2.0, 2024-06-01-preview, 2024-08-15-preview",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": {
        "description": "Hibernate Resource request",
        "type": "VirtualMachines",
        "location": "eastus2euap",
        "results": [
          {
            "resourceId": "/subscriptions/d4d56520-234b-4f88-b067-b64abe09a843/resourceGroups/rg-nneka-computeschedule-rg/providers/Microsoft.Compute/virtualMachines/subhib7160",
            "errorCode": null,
            "errorDetails": null,
            "operation": {
              "operationId": "68c9044d-5726-4a09-9c2b-cb3310a9727c",
              "resourceId": "/subscriptions/d4d56520-234b-4f88-b067-b64abe09a843/resourceGroups/rg-nneka-computeschedule-rg/providers/Microsoft.Compute/virtualMachines/subhib7160",
              "opType": "Hibernate",
              "subscriptionId": "d4d56520-234b-4f88-b067-b64abe09a843",
              "deadline": "2024-09-12T21:53:25.5765704+00:00",
              "deadlineType": "InitiateAt",
              "state": "PendingScheduling",
              "timeZone": "UTC",
              "resourceOperationError": null,
              "completedAt": null,
              "retryPolicy": {
                "retryCount": 3,
                "retryWindowInMinutes": 30
              }
            }
          }
        ]
      }
    },
    {
      "RequestUri": "https://eastus2euap.management.azure.com/subscriptions/d4d56520-234b-4f88-b067-b64abe09a843/providers/Microsoft.ComputeSchedule/locations/eastus2euap/virtualMachinesGetOperationStatus?api-version=2024-08-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "operationIds": [
          "68c9044d-5726-4a09-9c2b-cb3310a9727c"
        ],
        "correlationid": "dddc491d-4dfa-4568-ad74-53d93c5f0eb4"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "1.0, 2.0, 2024-06-01-preview, 2024-08-15-preview",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": {
        "results": [
      [...]
[...]
