{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/d4d56520-234b-4f88-b067-b64abe09a843?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11999"
      },
      "ResponseBody": {
        "id": "/subscriptions/d4d56520-234b-4f88-b067-b64abe09a843",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "tags": {
          "C-AI-MG-Placement-Subscription-Level": "2024-03-11"
        },
        "subscriptionId": "d4d56520-234b-4f88-b067-b64abe09a843",
        "tenantId": "00000000-0000-0000-0000-000000000000",
        "displayName": "Kronox Testing 2",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/d4d56520-234b-4f88-b067-b64abe09a843/resourcegroups/rg-nneka-computeschedule-rg?api-version=2022-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11998"
      },
      "ResponseBody": {
        "id": "/subscriptions/d4d56520-234b-4f88-b067-b64abe09a843/resourceGroups/rg-nneka-computeschedule-rg",
        "name": "rg-nneka-computeschedule-rg",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "eastus2euap",
        "tags": {
          "DeleteAfter": "2024-09-21T03:29:37.6493965+08:00",
          "ServiceDirectory": "computeschedule",
          "Owners": "nnekaokeke"
        },
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/d4d56520-234b-4f88-b067-b64abe09a843/providers/Microsoft.Network?api-version=2022-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11998"
      },
      "ResponseBody": {
        "id": "/subscriptions/d4d56520-234b-4f88-b067-b64abe09a843/providers/Microsoft.Network",
        "namespace": "Microsoft.Network",
        "authorizations": [
          {
            "applicationId": "00000000-0000-0000-0000-000000000000",
            "roleDefinitionId": "18363e25-ff21-4159-ae8d-7dfecb5bd001"
          },
          {
            "applicationId": "00000000-0000-0000-0000-000000000000",
            "roleDefinitionId": "d4d2d679-cce0-429d-9a3b-17118c035f66"
          },
          {
            "applicationId": "00000000-0000-0000-0000-000000000000",
            "roleDefinitionId": "d4d2d679-cce0-429d-9a3b-17118c035f66"
          },
          {
            "applicationId": "00000000-0000-0000-0000-000000000000",
            "roleDefinitionId": "13b[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/d4d56520-234b-4f88-b067-b64abe09a843/resourceGroups/rg-nneka-computeschedule-rg/providers/Microsoft.Network/virtualNetworks/subdeall9650-vnet-6240?api-version=2024-03-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "addressSpace": {
            "addressPrefixes": [
              "10.0.0.0/16"
            ]
          },
          "subnets": [
            {
              "name": "subdeall9650-subnet-3782",
              "properties": {
                "addressPrefix": "10.0.2.0/24"
              }
            }
          ]
        },
        "location": "eastus2euap"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncNotification": "Enabled",
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/d4d56520-234b-4f88-b067-b64abe09a843/providers/Microsoft.Network/locations/eastus2euap/operations/104616cc-fdf6-437b-b1a3-0477f1aaad1f?api-version=2024-03-01&t=638618015305820001&c=MIIHpTCCBo2gAwIBAgITfwN43MjEi0W8quEp-gAEA3jcyDANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDIwHhcNMjQwNjI0MTIwMzUxWhcNMjUwNjE5MTIwMzUxWjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ25pbmdjZXJ0aWZpY2F0ZS5tYW5hZ2VtZW[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/d4d56520-234b-4f88-b067-b64abe09a843/providers/Microsoft.Network/locations/eastus2euap/operations/104616cc-fdf6-437b-b1a3-0477f1aaad1f?api-version=2024-03-01&t=638618015305820001&c=MIIHpTCCBo2gAwIBAgITfwN43MjEi0W8quEp-gAEA3jcyDANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDIwHhcNMjQwNjI0MTIwMzUxWhcNMjUwNjE5MTIwMzUxWjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ25pbmdjZ[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/d4d56520-234b-4f88-b067-b64abe09a843/resourceGroups/rg-nneka-computeschedule-rg/providers/Microsoft.Network/virtualNetworks/subdeall9650-vnet-6240?api-version=2024-03-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\"f93a26bc-94e2-4d29-8e37-30ebd1396026\"",
        "x-ms-ratelimit-remaining-subscription-reads": "11999"
      },
      "ResponseBody": {
        "name": "subdeall9650-vnet-6240",
        "id": "/subscriptions/d4d56520-234b-4f88-b067-b64abe09a843/resourceGroups/rg-nneka-computeschedule-rg/providers/Microsoft.Network/virtualNetworks/subdeall9650-vnet-6240",
        "etag": "W/\"f93a26bc-94e2-4d29-8e37-30ebd1396026\"",
        "type": "Microsoft.Network/virtualNetworks",
        "location": "eastus2euap",
        "properties": {
          "provisioningState": "Succeeded",
          "resourceGuid": "a158805f-a891-42b8-8a91-6b64db8f2bc5",
          "addressSpace": {
            "addressPrefixes": [
              "10.0.0.0/16"
            ],
            "ipamPoolPrefixAllocations": []
          },
          "privateEndpointVNetPolicies": "Disabled",
          "subnets": [
            {
              "name": "subdeall9650-subnet-3782",
              "id": "/subscriptions/d4d56520-234b-4f88-b067-b64abe09a843/resourceGroups/rg-nneka-computeschedule-rg/providers/Microsoft.Network/virtualNetworks/subdeall9650-vnet-6240/subnets/subdeall9650-subnet-3782",
              "etag": "W/\"f93a26bc-94e2-4d29-8e37-30ebd1396026\"",
              "properties": {
                "provisioningState": "Succeeded",
                "addressPrefix": "10.0.2.0/24",
                "ipamPoolPrefixAllocations": [],
                "delegations": [],
                "privateEndpointNetworkPolicies": "Disabled",
                "privateLinkServiceNetworkPolicies": "Enabled"
              },
              "type": "Microsoft.Network/virtualNetworks/subnets"
            }
          ],
          "virtualNetworkPeerings": [],
          "enableDdosProtection": false
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/d4d56520-234b-4f88-b067-b64abe09a843/resourceGroups/rg-nneka-computeschedule-rg/providers/Microsoft.Network/networkInterfaces/subdeall9650-nic-6577?api-version=2024-03-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "ipConfigurations": [
            {
              "name": "internal",
              "properties": {
                "subnet": {
                  "id": "/subscriptions/d4d56520-234b-4f88-b067-b64abe09a843/resourceGroups/rg-nneka-computeschedule-rg/providers/Microsoft.Network/virtualNetworks/subdeall9650-vnet-6240/subnets/subdeall9650-subnet-3782"
                }
              }
            }
          ]
        },
        "location": "eastus2euap"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": {
        "name": "subdeall9650-nic-6577",
        "id": "/subscriptions/d4d56520-234b-4f88-b067-b64abe09a843/resourceGroups/rg-nneka-computeschedule-rg/providers/Microsoft.Network/networkInterfaces/subdeall9650-nic-6577",
        "etag": "W/\"50d1d62d-b040-49c1-b952-62a5b28d4131\"",
        "properties": {
          "provisioningState": "Succeeded",
          "resourceGuid": "1ac4e748-4a35-410c-984a-463d0c804391",
          "ipConfigurations": [
            {
              "name": "internal",
              "id": "/subscriptions/d4d56520-234b-4f88-b067-b64abe09a843/resourceGroups/rg-nneka-computeschedule-rg/providers/Microsoft.Network/networkInterfaces/subdeall9650-nic-6577/ipConfigurations/internal",
              "etag": "W/\"50d1d62d-b040-49c1-b952-62a5b28d4131\"",
              "type": "Microsoft.Network/networkInterfaces/ipConfigurations",
              "properties": {
                "provisioningState": "Succeeded",
                "privateIPAddress": "10.0.2.4",
                "privateIPAllocationMethod": "Dynamic",
                "subnet": {
                  "id": "/subscriptions/d4d56520-234b-4f88-b067-b64abe09a843/resourceGroups/rg-nneka-computeschedule-rg/providers/Microsoft.Network/virtualNetworks/subdeall9650-vnet-6240/subnets/subdeall9650-subnet-3782"
                },
                "primary": true,
                "privateIPAddressVersion": "IPv4"
              }
            }
          ],
          "dnsSettings": {
            "dnsServers": [],
            "appliedDnsServers": [],
            "internalDomainNameSuffix": "l4afrimrvc2efcurnnsnxdzlyf.cbnx.internal.cloudapp.net"
          },
          "vnetEncryptionSupported": false,
          "enableIPForwarding": false,
          "disableTcpStateTracking": false,
          "hostedWorkloads": [],
          "tapConfigurations": [],
          "nicType": "Standard",
          "allowPort25Out": true,
          "auxiliaryMode": "None",
          "auxiliarySku": "None"
        },
        "type": "Microsoft.Network/networkInterfaces",
        "location": "eastus2euap",
        "kind": "Regular"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/d4d56520-234b-4f88-b067-b64abe09a843/resourceGroups/rg-nneka-computeschedule-rg/providers/Microsoft.Compute/virtualMachines/subdeall9650?api-version=2023-07-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus2euap",
        "properties": {
          "hardwareProfile": {
            "vmSize": "Standard_D2ads_v5"
          },
          "storageProfile": {
            "imageReference": {
              "publisher": "MicrosoftWindowsServer",
              "offer": "WindowsServer",
              "sku": "2022-datacenter-azure-edition",
              "version": "latest"
            },
            "osDisk": {
              "osType": "Windows",
              "caching": "ReadWrite",
              "createOption": "FromImage",
              "diskSizeGB": 127,
              "managedDisk": {
                "storageAccountType": "Standard_LRS"
              },
              "deleteOption": "Detach"
            }
          },
          "additionalCapabilities": {
            "hibernationEnabled": true
          },
          "osProfile": {
            "computerName": "subdeall9650",
            "adminUsername": "adminuser",
            "adminPassword": "Sanitized",
            "windowsConfiguration": {
              "provisionVMAgent": true,
              "enableAutomaticUpdates": true,
              "patchSettings": {
                "patchMode": "AutomaticByOS",
                "assessmentMode": "ImageDefault"
              }
            }
          },
          "networkProfile": {
            "networkInterfaces": [
              {
                "id": "/subscriptions/d4d56520-234b-4f88-b067-b64abe09a843/resourceGroups/rg-nneka-computeschedule-rg/providers/Microsoft.Network/networkInterfaces/subdeall9650-nic-6577",
                "properties": {
                  "primary": true
                }
              }
            ]
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "azure-asyncnotification": "Enabled",
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/d4d56520-234b-4f88-b067-b64abe09a843/providers/Microsoft.Compute/locations/EastUS2EUAP/operations/185e646d-164a-4b11-a022-531fed499acb?p=81ec214a-166c-4c59-b0bf-1ab65ef37a6e&api-version=2023-07-01&t=638618015434037129&c=MIIHpTCCBo2gAwIBAgITfwN43MjEi0W8quEp-gAEA3jcyDANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDIwHhcNMjQwNjI0MTIwMzUxWhcNMjUwNjE5[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/d4d56520-234b-4f88-b067-b64abe09a843/providers/Microsoft.Compute/locations/EastUS2EUAP/operations/185e646d-164a-4b11-a022-531fed499acb?p=81ec214a-166c-4c59-b0bf-1ab65ef37a6e&api-version=2023-07-01&t=638618015434037129&c=MIIHpTCCBo2gAwIBAgITfwN43MjEi0W8quEp-gAEA3jcyDANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDIwHhcNMjQwNjI0MTIwMzUxWhcNMjUwNjE5MTIwMzUxWjBAMT4wPA[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/d4d56520-234b-4f88-b067-b64abe09a843/resourceGroups/rg-nneka-computeschedule-rg/providers/Microsoft.Compute/virtualMachines/subdeall9650?api-version=2023-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-need-to-refresh-epl-cache": "False",
        "x-ms-ratelimit-remaining-resource": "Microsoft.Compute/LowCostGetSubscriptionMaximum;23996,Microsoft.Compute/LowCostGetResource;34",
        "x-ms-ratelimit-remaining-subscription-reads": "11998"
      },
      "ResponseBody": {
        "name": "subdeall9650",
        "id": "/subscriptions/d4d56520-234b-4f88-b067-b64abe09a843/resourceGroups/rg-nneka-computeschedule-rg/providers/Microsoft.Compute/virtualMachines/subdeall9650",
        "type": "Microsoft.Compute/virtualMachines",
        "location": "eastus2euap",
        "tags": {
          "azsecpack": "nonprod",
          "platformsettings.host_environment.service.platform_optedin_for_rootcerts": "true"
        },
        "identity": {
          "type": "SystemAssigned",
          "principalId": "00000000-0000-0000-0000-000000000000",
          "tenantId": "00000000-0000-0000-0000-000000000000"
        },
        "properties": {
          "hardwareProfile": {
            "vmSize": "Standard_D2ads_v5"
          },
          "provisioningState": "Succeeded",
          "vmId": "0bb6b008-3c02-46fe-9ea8-e75aed3becc4",
          "additionalCapabilities": {
            "hibernationEnabled": true
          },
          "storageProfile": {
            "imageReference": {
              "publisher": "MicrosoftWindowsServer",
              "offer": "WindowsServer",
              "sku": "2022-datacenter-azure-edition",
              "version": "latest",
              "exactVersion": "20348.2700.240905"
            },
            "osDisk": {
              "osType": "Windows",
              "name": "subdeall9650_disk1_990c011e20a1477686ae15915c9d0d56",
              "createOption": "FromImage",
              "caching": "ReadWrite",
              "managedDisk": {
                "storageAccountType": "Standard_LRS",
                "id": "/subscriptions/d4d56520-234b-4f88-b067-b64abe09a843/resourceGroups/rg-nneka-computeschedule-rg/providers/Microsoft.Compute/disks/subdeall9650_disk1_990c011e20a1477686ae15915c9d0d56"
              },
              "deleteOption": "Detach",
              "diskSizeGB": 127
            },
            "dataDisks": [],
            "diskControllerType": "SCSI"
          },
          "osProfile": {
            "computerName": "subdeall9650",
            "adminUsername": "adminuser",
            "windowsConfiguration": {
              "provisionVMAgent": true,
              "enableAutomaticUpdates": true,
              "patchSettings": {
                "patchMode": "AutomaticByOS",
                "assessmentMode": "ImageDefault"
              },
              "enableVMAgentPlatformUpdates": true
            },
            "secrets": [],
            "allowExtensionOperations": true,
            "requireGuestProvisionSignal": true
          },
          "networkProfile": {
            "networkInterfaces": [
              {
                "id": "/subscriptions/d4d56520-234b-4f88-b067-b64abe09a843/resourceGroups/rg-nneka-computeschedule-rg/providers/Microsoft.Network/networkInterfaces/subdeall9650-nic-6577",
                "properties": {
                  "primary": true
                }
              }
            ]
          },
          "timeCreated": "2024-09-13T13:19:02.7434822+08:00"
        },
        "resources": [
          {
            "name": "AzureHibernateExtension",
            "id": "/subscriptions/d4d56520-234b-4f88-b067-b64abe09a843/resourceGroups/rg-nneka-computeschedule-rg/providers/Microsoft.Compute/virtualMachines/subdeall9650/extensions/AzureHibernateExtension",
            "type": "Microsoft.Compute/virtualMachines/extensions",
            "location": "eastus2euap",
            "properties": {
              "autoUpgradeMinorVersion": true,
              "forceUpdateTag": "35d495f5-8237-4d5b-b82b-6f5963018b56",
              "provisioningState": "Succeeded",
              "enableAutomaticUpgrade": true,
              "publisher": "Microsoft.CPlat.Core",
              "type": "WindowsHibernateExtension",
              "typeHandlerVersion": "1.0",
              "settings": {
                "allowReboot": true
              }
            }
          }
        ]
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/d4d56520-234b-4f88-b067-b64abe09a843/providers/Microsoft.ComputeSchedule/locations/eastus2euap/virtualMachinesSubmitDeallocate?api-version=2024-08-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "schedule": {
          "deadLine": "2024-09-13T05:20:21.8437806Z",
          "timeZone": "UTC",
          "deadlineType": "InitiateAt"
        },
        "executionParameters": {
          "retryPolicy": {
            "retryCount": 3,
            "retryWindowInMinutes": 30
          }
        },
        "resources": {
          "ids": [
            "/subscriptions/d4d56520-234b-4f88-b067-b64abe09a843/resourceGroups/rg-nneka-computeschedule-rg/providers/Microsoft.Compute/virtualMachines/subdeall9650"
          ]
        },
        "correlationid": "4b01e80e-861a-2499-aa51-4265baf13e71"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "1.0, 2.0, 2024-06-01-preview, 2024-08-15-preview",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-writes": "1192"
      },
      "ResponseBody": {
        "description": "Deallocate Resource request",
        "type": "VirtualMachines",
        "location": "eastus2euap",
        "results": [
          {
            "resourceId": "/subscriptions/d4d56520-234b-4f88-b067-b64abe09a843/resourceGroups/rg-nneka-computeschedule-rg/providers/Microsoft.Compute/virtualMachines/subdeall9650",
            "errorCode": null,
            "errorDetails": null,
            "operation": {
              "operationId": "cf65c9d8-9ca5-4bcd-b92e-a5738c3c1d3a",
              "resourceId": "/subscriptions/d4d56520-234b-4f88-b067-b64abe09a843/resourceGroups/rg-nneka-computeschedule-rg/providers/Microsoft.Compute/virtualMachines/subdeall9650",
              "opType": "Deallocate",
              "subscriptionId": "d4d56520-234b-4f88-b067-b64abe09a843",
              "deadline": "2024-09-13T13:20:21.8437806+08:00",
              "deadlineType": "InitiateAt",
              "state": "PendingScheduling",
              "timeZone": "UTC",
              "resourceOperationError": null,
              "completedAt": null,
              "retryPolicy": {
                "retryCount": 3,
                "retryWindowInMinutes": 30
              }
            }
          }
        ]
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/d4d56520-234b-4f88-b067-b64abe09a843/providers/Microsoft.ComputeSchedule/locations/eastus2euap/virtualMachinesGetOperationStatus?api-version=2024-08-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "operationIds": [
          "cf65c9d8-9ca5-4bcd-b92e-a5738c3c1d3a"
        ],
        "correlationid": "9a420b0b-cac7-4f4f-36d0-1a54abfce58a"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "1.0, 2.0, 2024-06-01-preview, 2024-08-15-preview",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-writes": "1191"
      },
      "ResponseBody": {
        "results": [
      [...]
[...]
