{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/d4d56520-234b-4f88-b067-b64abe09a843?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "id": "/subscriptions/d4d56520-234b-4f88-b067-b64abe09a843",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "tags": {
          "C-AI-MG-Placement-Subscription-Level": "2024-03-11"
        },
        "subscriptionId": "d4d56520-234b-4f88-b067-b64abe09a843",
        "tenantId": "00000000-0000-0000-0000-000000000000",
        "displayName": "Kronox Testing 2",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/d4d56520-234b-4f88-b067-b64abe09a843/resourcegroups/rg-nneka-computeschedule-rg?api-version=2022-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "id": "/subscriptions/d4d56520-234b-4f88-b067-b64abe09a843/resourceGroups/rg-nneka-computeschedule-rg",
        "name": "rg-nneka-computeschedule-rg",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "eastus2euap",
        "tags": {
          "Owners": "nnekaokeke",
          "DeleteAfter": "2024-12-25T17:51:30.4626953+00:00",
          "ServiceDirectory": "computeschedule"
        },
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/d4d56520-234b-4f88-b067-b64abe09a843/providers/Microsoft.Network?api-version=2022-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "id": "/subscriptions/d4d56520-234b-4f88-b067-b64abe09a843/providers/Microsoft.Network",
        "namespace": "Microsoft.Network",
        "authorizations": [
          {
            "applicationId": "00000000-0000-0000-0000-000000000000",
            "roleDefinitionId": "18363e25-ff21-4159-ae8d-7dfecb5bd001"
          },
          {
            "applicationId": "00000000-0000-0000-0000-000000000000",
            "roleDefinitionId": "d4d2d679-cce0-429d-9a3b-17118c035f66"
          },
          {
            "applicationId": "00000000-0000-0000-0000-000000000000",
            "roleDefinitionId": "d4d2d679-cce0-429d-9a3b-17118c035f66"
          },
          {
            "applicationId": "00000000-0000-0000-0000-000000000000",
            "roleDefinit[...]
