{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/d4d56520-234b-4f88-b067-b64abe09a843/resourcegroups/rg-nneka-computeschedule-rg?api-version=2022-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11999"
      },
      "ResponseBody": {
        "id": "/subscriptions/d4d56520-234b-4f88-b067-b64abe09a843/resourceGroups/rg-nneka-computeschedule-rg",
        "name": "rg-nneka-computeschedule-rg",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "westus3",
        "tags": {
          "ServiceDirectory": "computeschedule",
          "Owners": "nnekaokeke",
          "DeleteAfter": "2024-09-05T13:30:09.239428+00:00"
        },
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/d4d56520-234b-4f88-b067-b64abe09a843/providers/Microsoft.Network?api-version=2022-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11999"
      },
      "ResponseBody": {
        "id": "/subscriptions/d4d56520-234b-4f88-b067-b64abe09a843/providers/Microsoft.Network",
        "namespace": "Microsoft.Network",
        "authorizations": [
          {
            "applicationId": "00000000-0000-0000-0000-000000000000",
            "roleDefinitionId": "18363e25-ff21-4159-ae8d-7dfecb5bd001"
          },
          {
            "applicationId": "00000000-0000-0000-0000-000000000000",
            "roleDefinitionId": "d4d2d679-cce0-429d-9a3b-17118c035f66"
          },
          {
            "applicationId": "00000000-0000-0000-0000-000000000000",
            "roleDefinitionId": "13ba9ab4-19f0-4804-adc4-14ece36cc7a1"
          },
          {
            "applicationId": "00000000-0000-0000-0000-000000000000",
            "roleDefinitionId": "ad6[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/d4d56520-234b-4f88-b067-b64abe09a843/resourceGroups/rg-nneka-computeschedule-rg/providers/Microsoft.Network/virtualNetworks/submitstart-first-test-vnet-1710?api-version=2024-03-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "addressSpace": {
            "addressPrefixes": [
              "10.0.0.0/16"
            ]
          },
          "subnets": [
            {
              "name": "submitstart-first-test-subnet-4393",
              "properties": {
                "addressPrefix": "10.0.2.0/24"
              }
            }
          ]
        },
        "location": "westus3"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "azure-asyncnotification": "Enabled",
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/d4d56520-234b-4f88-b067-b64abe09a843/providers/Microsoft.Network/locations/westus3/operations/b39a20dc-3885-4f79-81fa-e1db627bf8cb?api-version=2024-03-01&t=638602950748290137&c=MIIHpTCCBo2gAwIBAgITfwN43MjEi0W8quEp-gAEA3jcyDANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDIwHhcNMjQwNjI0MTIwMzUxWhcNMjUwNjE5MTIwMzUxWjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ25pbmdjZXJ0aWZpY2F0ZS5tYW5hZ2VtZW50Lm[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/d4d56520-234b-4f88-b067-b64abe09a843/providers/Microsoft.Network/locations/westus3/operations/b39a20dc-3885-4f79-81fa-e1db627bf8cb?api-version=2024-03-01&t=638602950748290137&c=MIIHpTCCBo2gAwIBAgITfwN43MjEi0W8quEp-gAEA3jcyDANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDIwHhcNMjQwNjI0MTIwMzUxWhcNMjUwNjE5MTIwMzUxWjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ25pbmdjZXJ0a[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/d4d56520-234b-4f88-b067-b64abe09a843/resourceGroups/rg-nneka-computeschedule-rg/providers/Microsoft.Network/virtualNetworks/submitstart-first-test-vnet-1710?api-version=2024-03-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\"353162bb-fea4-4430-9fed-cc158fca54ac\"",
        "x-ms-ratelimit-remaining-subscription-reads": "11999"
      },
      "ResponseBody": {
        "name": "submitstart-first-test-vnet-1710",
        "id": "/subscriptions/d4d56520-234b-4f88-b067-b64abe09a843/resourceGroups/rg-nneka-computeschedule-rg/providers/Microsoft.Network/virtualNetworks/submitstart-first-test-vnet-1710",
        "etag": "W/\"353162bb-fea4-4430-9fed-cc158fca54ac\"",
        "type": "Microsoft.Network/virtualNetworks",
        "location": "westus3",
        "properties": {
          "provisioningState": "Succeeded",
          "resourceGuid": "03a8cc28-e0de-47df-8e0a-e2723a6ee21f",
          "addressSpace": {
            "addressPrefixes": [
              "10.0.0.0/16"
            ],
            "ipamPoolPrefixAllocations": []
          },
          "privateEndpointVNetPolicies": "Disabled",
          "subnets": [
            {
              "name": "submitstart-first-test-subnet-4393",
              "id": "/subscriptions/d4d56520-234b-4f88-b067-b64abe09a843/resourceGroups/rg-nneka-computeschedule-rg/providers/Microsoft.Network/virtualNetworks/submitstart-first-test-vnet-1710/subnets/submitstart-first-test-subnet-4393",
              "etag": "W/\"353162bb-fea4-4430-9fed-cc158fca54ac\"",
              "properties": {
                "provisioningState": "Succeeded",
                "addressPrefix": "10.0.2.0/24",
                "ipamPoolPrefixAllocations": [],
                "delegations": [],
                "privateEndpointNetworkPolicies": "Disabled",
                "privateLinkServiceNetworkPolicies": "Enabled"
              },
              "type": "Microsoft.Network/virtualNetworks/subnets"
            }
          ],
          "virtualNetworkPeerings": [],
          "enableDdosProtection": false
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/d4d56520-234b-4f88-b067-b64abe09a843/resourceGroups/rg-nneka-computeschedule-rg/providers/Microsoft.Network/networkInterfaces/submitstart-first-test-nic-9324?api-version=2024-03-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "ipConfigurations": [
            {
              "name": "internal",
              "properties": {
                "subnet": {
                  "id": "/subscriptions/d4d56520-234b-4f88-b067-b64abe09a843/resourceGroups/rg-nneka-computeschedule-rg/providers/Microsoft.Network/virtualNetworks/submitstart-first-test-vnet-1710/subnets/submitstart-first-test-subnet-4393"
                }
              }
            }
          ]
        },
        "location": "westus3"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-s[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/d4d56520-234b-4f88-b067-b64abe09a843/resourceGroups/rg-nneka-computeschedule-rg/providers/Microsoft.Compute/virtualMachines/submitstart-first-test?api-version=2023-07-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "westus3",
        "properties": {
          "hardwareProfile": {
            "vmSize": "Standard_D4_v3"
          },
          "storageProfile": {
            "imageReference": {
              "publisher": "Canonical",
              "offer": "UbuntuServer",
              "sku": "16.04-LTS",
              "version": "latest"
            },
            "osDisk": {
              "osType": "Linux",
              "caching": "ReadWrite",
              "createOption": "FromImage",
              "managedDisk": {
                "storageAccountType": "Standard_LRS"
              }
            }
          },
          "osProfile": {
            "computerName": "submitstart-first-test",
            "adminUsername": "adminuser",
            "linuxConfiguration": {
              "disablePasswordAuthentication": true,
              "ssh": {
                "publicKeys": [
                  {
                    "path": "/home/adminuser/.ssh/authorized_keys",
                    "keyData": "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQD1kQeX2CReMtaQhQdZsGeo1pGSdrugd/FTLRA+5FOJ63RVEXkJP0OKGdUv5mP9+/aAyQXjc9bXLKeWJl3shYUVqLphjYnsFxgBCMidVOHi826F2BXyPCb/aft0L7CzP185iP6hMMZQHqSIkI+FD6EoVPY42ocGdjOE8GR2NEotFK980ldh/IkIIcqSPsX5aCx7awVdiMACov+Iy7nuf7qL9W7IZUOjEbcReWuI5l56cXWbIg3/N5AFYkjictTkl9+CqgqxxAYxsYLSLTkKFN/D+vGXWXGuWygMMqT3Go5lKo1m15WN/TWoU8ftFVrktw1nPKzZPLPUdAGU0Lxj73fLJRALVPlCSPRU905Ophu5lzIObnze9Hs/aqilbByt6hLuLAWhPk9I2yEppIhbJ08YH8r2iwjcsoCuMsM+LUkwKZwMvUx6sei26e+3Hrbto1G9vvvpX89B2B09JXrcJroaxUjnjoYS9ug3wLD/+TPoVF8Sn2DIIytQiXsANC88Kf9dm3x2qJ7c7duy6shEIYGBha4i9/Q9709xyp8TKI2O47KAesPPgbpCE2StCIMNIBp0yl6+7JzuEPk0lAQ3Q24ow2q1EIv1D6zse4zL1Q5qHcF+Q7g5+ZlHW9IPO2YFaco7F149ez5xOmZAmINR0mUYDNyctkT+rAOXrCY1SO5SmQ== user@myserver"
                  }
                ]
              },
              "enableVMAgentPlatformUpdates": true
            }
          },
          "networkProfile": {
            "networkInterfaces": [
              {
                "id": "/subscriptions/d4d56520-234b-4f88-b067-b64abe09a843/resourceGroups/rg-nneka-computeschedule-rg/providers/Microsoft.Network/networkInterfaces/submitstart-first-test-nic-9324",
                "properties": {
                  "primary": true
                }
              }
            ]
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "azure-asyncnotification": "Enabled",
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/d4d56520-234b-4f88-b067-b64abe09a843/providers/Microsoft.Compute/locations/WestUS3/operations/215c5620-5d94-4454-85e6-8d8ac4881995?p=15120aac-0663-4301-9bed-c10cae1923bb&api-version=2023-07-01&t=638602950891486065&c=MIIHpTCCBo2gAwIBAgITfwN43[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/d4d56520-234b-4f88-b067-b64abe09a843/providers/Microsoft.Compute/locations/WestUS3/operations/215c5620-5d94-4454-85e6-8d8ac4881995?p=15120aac-0663-4301-9bed-c10cae1923bb&api-version=2023-07-01&t=638602950891486065&c=MIIHpTCCBo2gAwIBAgITfwN43MjEi0W8quEp-gAEA3jcyDANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDIwHhcNMjQwNjI0MTIwMzUxWhcNMjUwNjE5MTIwMzUxWjBAMT4wPAYDVQ[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/d4d56520-234b-4f88-b067-b64abe09a843/resourceGroups/rg-nneka-computeschedule-rg/providers/Microsoft.Compute/virtualMachines/submitstart-first-test?api-version=2023-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-resource": "Microsoft.Compute/LowCostGetSubscriptionMaximum;23997,Microsoft.Compute/LowCostGetResource;33",
        "x-ms-ratelimit-remaining-subscription-reads": "11999"
      },
      "ResponseBody": {
        "name": "submitstart-first-test",
        "id": "/subscriptions/d4d56520-234b-4f88-b067-b64abe09a843/resourceGroups/rg-nneka-computeschedule-rg/providers/Microsoft.Compute/virtualMachines/submitstart-first-test",
        "type": "Microsoft.Compute/virtualMachines",
        "location": "westus3",
        "tags": {
          "azsecpack": "nonprod",
          "platformsettings.host_environment.service.platform_optedin_for_rootcerts": "true"
        },
        "properties": {
          "hardwareProfile": {
            "vmSize": "Standard_D4_v3"
          },
          "provisioningState": "Succeeded",
          "vmId": "380d8b15-8857-48f0-afe5-22fadd6b8a05",
          "storageProfile": {
            "imageReference": {
              "publisher": "Canonical",
              "offer": "UbuntuServer",
              "sku": "16.04-LTS",
              "version": "latest",
              "exactVersion": "16.04.202109280"
            },
            "osDisk": {
              "osType": "Linux",
              "name": "submitstart-first-test_OsDisk_1_6f19099426564c22be711d1016cb79c3",
              "createOption": "FromImage",
              "caching": "ReadWrite",
              "managedDisk": {
                "storageAccountType": "Standard_LRS",
                "id": "/subscriptions/d4d56520-234b-4f88-b067-b64abe09a843/resourceGroups/rg-nneka-computeschedule-rg/providers/Microsoft.Compute/disks/submitstart-first-test_OsDisk_1_6f19099426564c22be711d1016cb79c3"
              },
              "deleteOption": "Detach",
              "diskSizeGB": 30
            },
            "dataDisks": []
          },
          "osProfile": {
            "computerName": "submitstart-first-test",
            "adminUsername": "adminuser",
            "linuxConfiguration": {
              "disablePasswordAuthentication": true,
              "ssh": {
                "publicKeys": [
                  {
                    "path": "/home/adminuser/.ssh/authorized_keys",
                    "keyData": "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQD1kQeX2CReMtaQhQdZsGeo1pGSdrugd/FTLRA+5FOJ63RVEXkJP0OKGdUv5mP9+/aAyQXjc9bXLKeWJl3shYUVqLphjYnsFxgBCMidVOHi826F2BXyPCb/aft0L7CzP185iP6hMMZQHqSIkI+FD6EoVPY42ocGdjOE8GR2NEotFK980ldh/IkIIcqSPsX5aCx7awVdiMACov+Iy7nuf7qL9W7IZUOjEbcReWuI5l56cXWbIg3/N5AFYkjictTkl9+CqgqxxAYxsYLSLTkKFN/D+vGXWXGuWygMMqT3Go5lKo1m15WN/TWoU8ftFVrktw1nPKzZPLPUdAGU0Lxj73fLJRALVPlCSPRU905Ophu5lzIObnze9Hs/aqilbByt6hLuLAWhPk9I2yEppIhbJ08YH8r2iwjcsoCuMsM+LUkwKZwMvUx6sei26e+3Hrbto1G9vvvpX89B2B09JXrcJroaxUjnjoYS9ug3wLD/+TPoVF8Sn2DIIytQiXsANC88Kf9dm3x2qJ7c7duy6shEIYGBha4i9/Q9709xyp8TKI2O47KAesPPgbpCE2StCIMNIBp0yl6+7JzuEPk0lAQ3Q24ow2q1EIv1D6zse4zL1Q5qHcF+Q7g5+ZlHW9IPO2YFaco7F149ez5xOmZAmINR0mUYDNyctkT+rAOXrCY1SO5SmQ== user@myserver"
                  }
                ]
              },
              "provisionVMAgent": true,
              "patchSettings": {
                "patchMode": "ImageDefault",
                "assessmentMode": "ImageDefault"
              },
              "enableVMAgentPlatformUpdates": true
            },
            "secrets": [],
            "allowExtensionOperations": true,
            "requireGuestProvisionSignal": true
          },
          "networkProfile": {
            "networkInterfaces": [
              {
                "id": "/subscriptions/d4d56520-234b-4f88-b067-b64abe09a843/resourceGroups/rg-nneka-computeschedule-rg/providers/Microsoft.Network/networkInterfaces/submitstart-first-test-nic-9324",
                "properties": {
                  "primary": true
                }
              }
            ]
          },
          "timeCreated": "2024-08-26T18:51:28.0325315+00:00"
        }
      }
    }
  ],
  "Variables": {
    "COMPUTESCHEDULE_SUBSCRIPTION_ID": "d4d56520-234b-4f88-b067-b64abe09a843",
    "RandomSeed": "576533841",
    "RESOURCE_GROUP": "rg-nneka-computeschedule-rg",
    "RESOURCE_MANAGER_URL": "https://management.azure.com/",
    "SUBSCRIPTION_ID": "d4d56520-234b-4f88-b067-b64abe09a843"
  }
}
