{
  "Entries": [
    {
      "RequestUri": "https://kv-agt-260615134651.vault.azure.net/secrets/sec-list-0-8736?api-version=2025-07-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "value": "v"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": "v",
        "id": "https://kv-agt-260615134651.vault.azure.net/secrets/sec-list-0-8736/5eb8b074fa594b0c99d4238e29826d8f",
        "attributes": {
          "enabled": true,
          "created": 1781649357,
          "updated": 1781649357,
          "recoveryLevel": "Recoverable+Purgeable",
          "recoverableDays": 90
        }
      }
    },
[...]
    {
      "RequestUri": "https://kv-agt-260615134651.vault.azure.net/secrets?api-version=2025-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [],
        "nextLink": "https://kv-agt-260615134651.vault.azure.net:443/secrets?api-version=2025-07-01&$skiptoken=Sanitized"
      }
    },
    {
      "RequestUri": "https://kv-agt-260615134651.vault.azure.net/secrets?api-version=2025-07-01&$skiptoken=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "https://kv-agt-260615134651.vault.azure.net/secrets/sec-list-0-8736",
            "attributes": {
              "enabled": true,
              "created": 1781649357,
              "updated": 1781649357,
              "recoveryLevel": "Recoverable+Purgeable",
              "recoverableDays": 90
            }
          },
          {
            "id": "https://kv-agt-260615134651.vault.azure.net/secrets/sec-list-1-7861",
            "attributes": {
              "enabled": true,
              "created": 1781649358,
              "updated": 1781649358,
              "recoveryLevel": "Recoverable+Purgeable",
              "recoverableDays": 90
            }
          }
        ],
        "nextLink": "https://kv-agt-260615134651.vault.azure.net:443/secrets?api-version=2025-07-01&$skiptoken=Sanitized"
      }
    },
[...]
    {
      "RequestUri": "https://kv-agt-260615134651.vault.azure.net/secrets/sec-list-0-8736?api-version=2025-07-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://kv-agt-260615134651.vault.azure.net/deletedsecrets/sec-list-0-8736",
        "deletedDate": 1781649360,
        "scheduledPurgeDate": 1789425360,
        "id": "https://kv-agt-260615134651.vault.azure.net/secrets/sec-list-0-8736/5eb8b074fa594b0c99d4238e29826d8f",
        "attributes": {
          "enabled": true,
          "created": 1781649357,
          "updated": 1781649357,
          "recoveryLevel": "Recoverable+Purgeable",
          "recoverableDays": 90
        }
      }
    },
    {
      "RequestUri": "https://kv-agt-260615134651.vault.azure.net/deletedsecrets/sec-list-0-8736?api-version=2025-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "SecretNotFound",
          "message": "Deleted Secret not found: sec-list-0-8736"
        }
      }
    },
[...]
    {
      "RequestUri": "https://kv-agt-260615134651.vault.azure.net/deletedsecrets/sec-list-0-8736?api-version=2025-07-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "AZURE_KEYVAULT_URL": "https://kv-agt-260615134651.vault.azure.net/",
    "RandomSeed": "596759873"
  }
}
