{
  "Entries": [
    {
      "RequestUri": "https://kv-agt-260615134651.vault.azure.net/secrets/sec-rt-7495?api-version=2025-07-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "value": "hello-world"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": "hello-world",
        "id": "https://kv-agt-260615134651.vault.azure.net/secrets/sec-rt-7495/ac84fd5fc0564cb6939518369dc4a894",
        "attributes": {
          "enabled": true,
          "created": 1781649288,
          "updated": 1781649288,
          "recoveryLevel": "Recoverable+Purgeable",
          "recoverableDays": 90
        }
      }
    },
    {
      "RequestUri": "https://kv-agt-260615134651.vault.azure.net/secrets/sec-rt-7495/?api-version=2025-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": "hello-world",
        "id": "https://kv-agt-260615134651.vault.azure.net/secrets/sec-rt-7495/ac84fd5fc0564cb6939518369dc4a894",
        "attributes": {
          "enabled": true,
          "created": 1781649288,
          "updated": 1781649288,
          "recoveryLevel": "Recoverable+Purgeable",
          "recoverableDays": 90
        }
      }
    },
    {
      "RequestUri": "https://kv-agt-260615134651.vault.azure.net/secrets/sec-rt-7495?api-version=2025-07-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://kv-agt-260615134651.vault.azure.net/deletedsecrets/sec-rt-7495",
        "deletedDate": 1781649288,
        "scheduledPurgeDate": 1789425288,
        "id": "https://kv-agt-260615134651.vault.azure.net/secrets/sec-rt-7495/ac84fd5fc0564cb6939518369dc4a894",
        "attributes": {
          "enabled": true,
          "created": 1781649288,
          "updated": 1781649288,
          "recoveryLevel": "Recoverable+Purgeable",
          "recoverableDays": 90
        }
      }
    },
    {
      "RequestUri": "https://kv-agt-260615134651.vault.azure.net/deletedsecrets/sec-rt-7495?api-version=2025-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "SecretNotFound",
          "message": "Deleted Secret not found: sec-rt-7495"
        }
      }
    },
[...]
    {
      "RequestUri": "https://kv-agt-260615134651.vault.azure.net/deletedsecrets/sec-rt-7495?api-version=2025-07-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "AZURE_KEYVAULT_URL": "https://kv-agt-260615134651.vault.azure.net/",
    "RandomSeed": "1815142864"
  }
}
