{
  "Entries": [
    {
      "RequestUri": "https://kv-agt-260615134651.vault.azure.net/secrets/sec-ver-1486?api-version=2025-07-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "value": "v1"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": "v1",
        "id": "https://kv-agt-260615134651.vault.azure.net/secrets/sec-ver-1486/17556d4ead234ac1ae38a8175da6f1c1",
        "attributes": {
          "enabled": true,
          "created": 1781649423,
          "updated": 1781649423,
          "recoveryLevel": "Recoverable+Purgeable",
          "recoverableDays": 90
        }
      }
    },
[...]
    {
      "RequestUri": "https://kv-agt-260615134651.vault.azure.net/secrets/sec-ver-1486/?api-version=2025-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": "v2",
        "id": "https://kv-agt-260615134651.vault.azure.net/secrets/sec-ver-1486/5ea149c7d00a4431b590ef04a1e140e1",
        "attributes": {
          "enabled": true,
          "created": 1781649424,
          "updated": 1781649424,
          "recoveryLevel": "Recoverable+Purgeable",
          "recoverableDays": 90
        }
      }
    },
    {
      "RequestUri": "https://kv-agt-260615134651.vault.azure.net/secrets/sec-ver-1486/17556d4ead234ac1ae38a8175da6f1c1?api-version=2025-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": "v1",
        "id": "https://kv-agt-260615134651.vault.azure.net/secrets/sec-ver-1486/17556d4ead234ac1ae38a8175da6f1c1",
        "attributes": {
          "enabled": true,
          "created": 1781649423,
          "updated": 1781649423,
          "recoveryLevel": "Recoverable+Purgeable",
          "recoverableDays": 90
        }
      }
    },
    {
      "RequestUri": "https://kv-agt-260615134651.vault.azure.net/secrets/sec-ver-1486?api-version=2025-07-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://kv-agt-260615134651.vault.azure.net/deletedsecrets/sec-ver-1486",
        "deletedDate": 1781649424,
        "scheduledPurgeDate": 1789425424,
        "id": "https://kv-agt-260615134651.vault.azure.net/secrets/sec-ver-1486/5ea149c7d00a4431b590ef04a1e140e1",
        "attributes": {
          "enabled": true,
          "created": 1781649424,
          "updated": 1781649424,
          "recoveryLevel": "Recoverable+Purgeable",
          "recoverableDays": 90
        }
      }
    },
    {
      "RequestUri": "https://kv-agt-260615134651.vault.azure.net/deletedsecrets/sec-ver-1486?api-version=2025-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "SecretNotFound",
          "message": "Deleted Secret not found: sec-ver-1486"
        }
      }
    },
[...]
    {
      "RequestUri": "https://kv-agt-260615134651.vault.azure.net/deletedsecrets/sec-ver-1486?api-version=2025-07-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "AZURE_KEYVAULT_URL": "https://kv-agt-260615134651.vault.azure.net/",
    "RandomSeed": "1669051573"
  }
}
