{
  "Entries": [
    {
      "RequestUri": "https://kv-agt-260615134651.vault.azure.net/secrets/sec-dates-1618?api-version=2025-07-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "value": "scheduled",
        "attributes": {
          "nbf": 1781524800,
          "exp": 1784116800
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": "scheduled",
        "id": "https://kv-agt-260615134651.vault.azure.net/secrets/sec-dates-1618/e889009afc7f41129a23783869adf7f4",
        "attributes": {
          "enabled": true,
          "nbf": 1781524800,
          "exp": 1784116800,
          "created": 1781649441,
          "updated": 1781649441,
          "recoveryLevel": "Recoverable+Purgeable",
          "recoverableDays": 90
        }
      }
    },
[...]
    {
      "RequestUri": "https://kv-agt-260615134651.vault.azure.net/secrets/sec-dates-1618?api-version=2025-07-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://kv-agt-260615134651.vault.azure.net/deletedsecrets/sec-dates-1618",
        "deletedDate": 1781649441,
        "scheduledPurgeDate": 1789425441,
        "id": "https://kv-agt-260615134651.vault.azure.net/secrets/sec-dates-1618/e889009afc7f41129a23783869adf7f4",
        "attributes": {
          "enabled": true,
          "nbf": 1781524800,
          "exp": 1784116800,
          "created": 1781649441,
          "updated": 1781649441,
          "recoveryLevel": "Recoverable+Purgeable",
          "recoverableDays": 90
        }
      }
    },
    {
      "RequestUri": "https://kv-agt-260615134651.vault.azure.net/deletedsecrets/sec-dates-1618?api-version=2025-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "SecretNotFound",
          "message": "Deleted Secret not found: sec-dates-1618"
        }
      }
    },
[...]
    {
      "RequestUri": "https://kv-agt-260615134651.vault.azure.net/deletedsecrets/sec-dates-1618?api-version=2025-07-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "AZURE_KEYVAULT_URL": "https://kv-agt-260615134651.vault.azure.net/",
    "RandomSeed": "1338842287"
  }
}
