{
  "Entries": [
    {
      "RequestUri": "https://kv-agt-260615134651.vault.azure.net/secrets/sec-upd-tags-5277?api-version=2025-07-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "value": "v",
        "tags": {
          "a": "1",
          "b": "2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": "v",
        "id": "https://kv-agt-260615134651.vault.azure.net/secrets/sec-upd-tags-5277/5e5dbfac3e164951aa31993288339df6",
        "attributes": {
          "enabled": true,
          "created": 1781649455,
          "updated": 1781649455,
          "recoveryLevel": "Recoverable+Purgeable",
          "recoverableDays": 90
        },
        "tags": {
          "a": "1",
          "b": "2"
        }
      }
    },
    {
      "RequestUri": "https://kv-agt-260615134651.vault.azure.net/secrets/sec-upd-tags-5277/?api-version=2025-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": "v",
        "id": "https://kv-agt-260615134651.vault.azure.net/secrets/sec-upd-tags-5277/5e5dbfac3e164951aa31993288339df6",
        "attributes": {
          "enabled": true,
          "created": 1781649455,
          "updated": 1781649455,
          "recoveryLevel": "Recoverable+Purgeable",
          "recoverableDays": 90
        },
        "tags": {
          "a": "1",
          "b": "2"
        }
      }
    },
    {
      "RequestUri": "https://kv-agt-260615134651.vault.azure.net/secrets/sec-upd-tags-5277/5e5dbfac3e164951aa31993288339df6?api-version=2025-07-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "attributes": {
          "enabled": true
        },
        "tags": {
          "c": "3"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "id": "https://kv-agt-260615134651.vault.azure.net/secrets/sec-upd-tags-5277/5e5dbfac3e164951aa31993288339df6",
        "attributes": {
          "enabled": true,
          "created": 1781649455,
          "updated": 1781649455,
          "recoveryLevel": "Recoverable+Purgeable",
          "recoverableDays": 90
        },
        "tags": {
          "c": "3"
        }
      }
    },
    {
      "RequestUri": "https://kv-agt-260615134651.vault.azure.net/secrets/sec-upd-tags-5277?api-version=2025-07-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://kv-agt-260615134651.vault.azure.net/deletedsecrets/sec-upd-tags-5277",
        "deletedDate": 1781649455,
        "scheduledPurgeDate": 1789425455,
        "id": "https://kv-agt-260615134651.vault.azure.net/secrets/sec-upd-tags-5277/5e5dbfac3e164951aa31993288339df6",
        "attributes": {
          "enabled": true,
          "created": 1781649455,
          "updated": 1781649455,
          "recoveryLevel": "Recoverable+Purgeable",
          "recoverableDays": 90
        },
        "tags": {
          "c": "3"
        }
      }
    },
    {
      "RequestUri": "https://kv-agt-260615134651.vault.azure.net/deletedsecrets/sec-upd-tags-5277?api-version=2025-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "SecretNotFound",
          "message": "Deleted Secret not found: sec-upd-tags-5277"
        }
      }
    },
[...]
    {
      "RequestUri": "https://kv-agt-260615134651.vault.azure.net/deletedsecrets/sec-upd-tags-5277?api-version=2025-07-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "AZURE_KEYVAULT_URL": "https://kv-agt-260615134651.vault.azure.net/",
    "RandomSeed": "167302976"
  }
}
