{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.services.ai.azure.com/api/projects/sanitized-project-name/connections?api-version=v1&connectionType=AzureStorageAccount&defaultConnection=true",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-swedencentral-02",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "Sweden Central",
        "x-ms-response-type": "standard",
        "x-request-time": "0.036"
      },
      "ResponseBody": {
        "value": [
          {
            "name": "storageAccount",
            "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sanitized-resource-group-name/providers/Microsoft.CognitiveServices/accounts/sanitized-account-name/projects/sanitized-project-name/connections/storageAccount",
            "type": "AzureStorageAccount",
            "target": "https://Sanitized.blob.core.windows.net/",
            "isDefault": true,
            "credentials": {
              "type": "AAD"
            },
            "metadata": {
              "ApiType": "Azure",
              "ResourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sanitized-resource-group-name/providers/Microsoft.Storage/storageAccounts/st3vdvhhtwxyahm"
            }
          }
        ]
      }
    },
    {
      "RequestUri": "https://Sanitized.services.ai.azure.com/api/projects/sanitized-project-name/connections/storageAccount?api-version=v1",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-swedencentral-02",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "Sweden Central",
        "x-ms-response-type": "standard",
        "x-request-time": "0.031"
      },
      "ResponseBody": {
        "name": "storageAccount",
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sanitized-resource-group-name/providers/Microsoft.CognitiveServices/accounts/sanitized-account-name/projects/sanitized-project-name/connections/storageAccount",
        "type": "AzureStorageAccount",
        "target": "https://Sanitized.blob.core.windows.net/",
        "isDefault": true,
        "credentials": {
          "type": "AAD"
        },
        "metadata": {
          "ApiType": "Azure",
          "ResourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sanitized-resource-group-name/providers/Microsoft.Storage/storageAccounts/st3vdvhhtwxyahm"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.services.ai.azure.com/api/projects/sanitized-project-name/datasets/sanitized-dataset-name/versions/1/startPendingUpload?api-version=v1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "pendingUploadType": "BlobReference",
        "connectionName": "storageAccount"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-swedencentral-02",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "892bdcd9-b92b-4727-8bac-3528af45acf1",
        "x-ms-region": "Sweden Central",
        "x-ms-response-type": "standard",
        "x-request-time": "0.073"
      },
      "ResponseBody": {
        "blobReference": {
          "blobUri": "https://Sanitized.blob.core.windows.net:443/aoai-3vdvh-2072c7e5-83d1-5288-9814-0475b0bf1771",
          "storageAccountArmId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sanitized-resource-group-name/providers/Microsoft.Storage/storageAccounts/st3vdvhhtwxyahm",
          "credential": {
            "type": "SAS",
            "credentialType": "SAS",
            "sasUri": "https://Sanitized.blob.core.windows.net/aoai-3vdvh-2072c7e5-83d1-5288-9814-0475b0bf1771?skoid=7852b39b-89b2-4fe5-a229-a90deb9d0c72&sktid=72f988bf-86f1-41af-91ab-2d7cd011db47&skt=2026-03-31T13%3A25%3A20Z&ske=2026-04-01T05%3A35%3A20Z&sks=b&skv=2025-01-05&sv=Sanitized&st=Sanitized&se=Sanitized&sr=c&sp=rcwl&sig=Sanitized"
          }
        },
        "blobReferenceForConsumption": {
          "blobUri": "https://Sanitized.blob.core.windows.net:443/aoai-3vdvh-2072c7e5-83d1-5288-9814-0475b0bf1771",
          "storageAccountArmId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sanitized-resource-group-name/providers/Microsoft.Storage/storageAccounts/st3vdvhhtwxyahm",
          "credential": {
            "type": "SAS",
            "credentialType": "SAS",
            "sasUri": "https://Sanitized.blob.core.windows.net/aoai-3vdvh-2072c7e5-83d1-5288-9814-0475b0bf1771?skoid=7852b39b-89b2-4fe5-a229-a90deb9d0c72&sktid=72f988bf-86f1-41af-91ab-2d7cd011db47&skt=2026-03-31T13%3A25%3A20Z&ske=2026-04-01T05%3A35%3A20Z&sks=b&skv=2025-01-05&sv=Sanitized&st=Sanitized&se=Sanitized&sr=c&sp=rcwl&sig=Sanitized"
          }
        },
        "pendingUploadId": null,
        "pendingUploadType": "BlobReference",
        "version": "1"
      }
    },
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/aoai-3vdvh-2072c7e5-83d1-5288-9814-0475b0bf1771/data_file1.txt?skoid=7852b39b-89b2-4fe5-a229-a90deb9d0c72&sktid=72f988bf-86f1-41af-91ab-2d7cd011db47&skt=2026-03-31T13:25:20Z&ske=2026-04-01T05:35:20Z&sks=b&skv=2025-01-05&sv=Sanitized&st=Sanitized&se=Sanitized&sr=c&sp=rcwl&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 31 Mar 2026 13:36:49 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": "VGhpcyBpcyBzYW1wbGUgZmlsZSAx",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "Pg9Ww5gPrKiH7EVM68+e0Q==",
        "ETag": "\"0x8DE8F2A8D760EC4\"",
        "Last-Modified": "Tue, 31 Mar 2026 13:36:45 GMT",
        "x-ms-content-crc64": "wOs6CcA/Xjs=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/aoai-3vdvh-2072c7e5-83d1-5288-9814-0475b0bf1771/data_subfolder/data_file3.txt?skoid=7852b39b-89b2-4fe5-a229-a90deb9d0c72&sktid=72f988bf-86f1-41af-91ab-2d7cd011db47&skt=2026-03-31T13:25:20Z&ske=2026-04-01T05:35:20Z&sks=b&skv=2025-01-05&sv=Sanitized&st=Sanitized&se=Sanitized&sr=c&sp=rcwl&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 31 Mar 2026 13:36:49 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": "VGhpcyBpcyBzYW1wbGUgZmlsZSAz",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "tINUMnVqMxrMB9s/Mr+6Fw==",
        "ETag": "\"0x8DE8F2A8DB24BA9\"",
        "Last-Modified": "Tue, 31 Mar 2026 13:36:46 GMT",
        "x-ms-content-crc64": "MvlRaVDeg8U=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://Sanitized.services.ai.azure.com/api/projects/sanitized-project-name/datasets/sanitized-dataset-name/versions/1?api-version=v1",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Content-Type": "application/merge-patch+json"
      },
      "RequestBody": {
        "dataUri": "https://Sanitized.blob.core.windows.net/aoai-3vdvh-2072c7e5-83d1-5288-9814-0475b0bf1771",
        "type": "uri_folder"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-swedencentral-02",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "86203f3d-a645-44a7-a180-109a461a3598",
        "x-ms-region": "Sweden Central",
        "x-ms-response-type": "standard",
        "x-request-time": "2.371"
      },
      "ResponseBody": {
        "id": "azureai://accounts/sanitized-account-name/projects/sanitized-project-name/data/sanitized-dataset-name/versions/1",
        "name": "sanitized-dataset-name",
        "version": "1",
        "displayName": "sanitized-dataset-name",
        "description": null,
        "tags": {},
        "type": "uri_folder",
        "isReference": false,
        "dataUri": "https://Sanitized.blob.core.windows.net/aoai-3vdvh-2072c7e5-83d1-5288-9814-0475b0bf1771",
        "isSingleFile": false,
        "connectionName": null,
        "systemData": {
          "createdAt": "2026-03-31T13:36:47.7279466+00:00",
          "createdBy": "Sanitized",
          "createdByType": null,
          "lastModifiedAt": "2026-03-31T13:36:47.7279466+00:00"
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.services.ai.azure.com/api/projects/sanitized-project-name/datasets/sanitized-dataset-name/versions/1/credentials?api-version=v1",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-swedencentral-02",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "42e4b107-cbc7-4dc8-85ac-4[...]
    {
      "RequestUri": "https://Sanitized.services.ai.azure.com/api/projects/sanitized-project-name/datasets/sanitized-dataset-name/versions/1?api-version=v1",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-swedencentral-02",
        "mise-correlation-id": "301a6767-c181-4709-9d35-37e965553aeb",
        "x-ms-region": "Sweden Central",
        "x-ms-response-type": "standard",
        "x-request-time": "3.465"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
