{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.services.ai.azure.com/api/projects/sanitized-project-name/connections?api-version=v1&connectionType=AzureStorageAccount&defaultConnection=true",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-swedencentral-01",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "Sweden Central",
        "x-ms-response-type": "standard",
        "x-request-time": "0.027"
      },
      "ResponseBody": {
        "value": [
          {
            "name": "storageAccount",
            "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sanitized-resource-group-name/providers/Microsoft.CognitiveServices/accounts/sanitized-account-name/projects/sanitized-project-name/connections/storageAccount",
            "type": "AzureStorageAccount",
            "target": "https://Sanitized.blob.core.windows.net/",
            "isDefault": true,
            "credentials": {
              "type": "AAD"
            },
            "metadata": {
              "ApiType": "Azure",
              "ResourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sanitized-resource-group-name/providers/Microsoft.Storage/storageAccounts/st3vdvhhtwxyahm"
            }
          }
        ]
      }
    },
    {
      "RequestUri": "https://Sanitized.services.ai.azure.com/api/projects/sanitized-project-name/connections/storageAccount?api-version=v1",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-swedencentral-01",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "Sweden Central",
        "x-ms-response-type": "standard",
        "x-request-time": "0.032"
      },
      "ResponseBody": {
        "name": "storageAccount",
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sanitized-resource-group-name/providers/Microsoft.CognitiveServices/accounts/sanitized-account-name/projects/sanitized-project-name/connections/storageAccount",
        "type": "AzureStorageAccount",
        "target": "https://Sanitized.blob.core.windows.net/",
        "isDefault": true,
        "credentials": {
          "type": "AAD"
        },
        "metadata": {
          "ApiType": "Azure",
          "ResourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sanitized-resource-group-name/providers/Microsoft.Storage/storageAccounts/st3vdvhhtwxyahm"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.services.ai.azure.com/api/projects/sanitized-project-name/datasets/sanitized-dataset-name/versions/1/startPendingUpload?api-version=v1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "pendingUploadType": "BlobReference",
        "connectionName": "storageAccount"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-swedencentral-01",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "daaeaea5-222f-45ec-bf75-b9664c8b1476",
        "x-ms-region": "Sweden Central",
        "x-ms-response-type": "standard",
        "x-request-time": "0.109"
      },
      "ResponseBody": {
        "blobReference": {
          "blobUri": "https://Sanitized.blob.core.windows.net:443/aoai-3vdvh-f9a070f5-16d0-5791-a515-e3c13b44453a",
          "storageAccountArmId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sanitized-resource-group-name/providers/Microsoft.Storage/storageAccounts/st3vdvhhtwxyahm",
          "credential": {
            "type": "SAS",
            "credentialType": "SAS",
            "sasUri": "https://Sanitized.blob.core.windows.net/aoai-3vdvh-f9a070f5-16d0-5791-a515-e3c13b44453a?skoid=7852b39b-89b2-4fe5-a229-a90deb9d0c72&sktid=72f988bf-86f1-41af-91ab-2d7cd011db47&skt=2026-03-31T13%3A25%3A02Z&ske=2026-04-01T05%3A35%3A02Z&sks=b&skv=2025-01-05&sv=Sanitized&st=Sanitized&se=Sanitized&sr=c&sp=rcwl&sig=Sanitized"
          }
        },
        "blobReferenceForConsumption": {
          "blobUri": "https://Sanitized.blob.core.windows.net:443/aoai-3vdvh-f9a070f5-16d0-5791-a515-e3c13b44453a",
          "storageAccountArmId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sanitized-resource-group-name/providers/Microsoft.Storage/storageAccounts/st3vdvhhtwxyahm",
          "credential": {
            "type": "SAS",
            "credentialType": "SAS",
            "sasUri": "https://Sanitized.blob.core.windows.net/aoai-3vdvh-f9a070f5-16d0-5791-a515-e3c13b44453a?skoid=7852b39b-89b2-4fe5-a229-a90deb9d0c72&sktid=72f988bf-86f1-41af-91ab-2d7cd011db47&skt=2026-03-31T13%3A25%3A02Z&ske=2026-04-01T05%3A35%3A02Z&sks=b&skv=2025-01-05&sv=Sanitized&st=Sanitized&se=Sanitized&sr=c&sp=rcwl&sig=Sanitized"
          }
        },
        "pendingUploadId": null,
        "pendingUploadType": "BlobReference",
        "version": "1"
      }
    },
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/aoai-3vdvh-f9a070f5-16d0-5791-a515-e3c13b44453a/data_file1.txt?skoid=7852b39b-89b2-4fe5-a229-a90deb9d0c72&sktid=72f988bf-86f1-41af-91ab-2d7cd011db47&skt=2026-03-31T13:25:02Z&ske=2026-04-01T05:35:02Z&sks=b&skv=2025-01-05&sv=Sanitized&st=Sanitized&se=Sanitized&sr=c&sp=rcwl&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 31 Mar 2026 16:38:30 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": "VGhpcyBpcyBzYW1wbGUgZmlsZSAx",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "Pg9Ww5gPrKiH7EVM68+e0Q==",
        "ETag": "\"0x8DE8F43EED9F33D\"",
        "Last-Modified": "Tue, 31 Mar 2026 16:38:26 GMT",
        "x-ms-content-crc64": "wOs6CcA/Xjs=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/aoai-3vdvh-f9a070f5-16d0-5791-a515-e3c13b44453a/data_subfolder/data_file3.txt?skoid=7852b39b-89b2-4fe5-a229-a90deb9d0c72&sktid=72f988bf-86f1-41af-91ab-2d7cd011db47&skt=2026-03-31T13:25:02Z&ske=2026-04-01T05:35:02Z&sks=b&skv=2025-01-05&sv=Sanitized&st=Sanitized&se=Sanitized&sr=c&sp=rcwl&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 31 Mar 2026 16:38:30 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": "VGhpcyBpcyBzYW1wbGUgZmlsZSAz",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "tINUMnVqMxrMB9s/Mr+6Fw==",
        "ETag": "\"0x8DE8F43EF16301C\"",
        "Last-Modified": "Tue, 31 Mar 2026 16:38:26 GMT",
        "x-ms-content-crc64": "MvlRaVDeg8U=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://Sanitized.services.ai.azure.com/api/projects/sanitized-project-name/datasets/sanitized-dataset-name/versions/1?api-version=v1",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Content-Type": "application/merge-patch+json"
      },
      "RequestBody": {
        "dataUri": "https://Sanitized.blob.core.windows.net/aoai-3vdvh-f9a070f5-16d0-5791-a515-e3c13b44453a",
        "type": "uri_folder"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-swedencentral-01",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "cff6fbc1-d6b1-4edc-acdd-0b6061e57640",
        "x-ms-region": "Sweden Central",
        "x-ms-response-type": "standard",
        "x-request-time": "2.320"
      },
      "ResponseBody": {
        "id": "azureai://accounts/sanitized-account-name/projects/sanitized-project-name/data/sanitized-dataset-name/versions/1",
        "name": "sanitized-dataset-name",
        "version": "1",
        "displayName": "sanitized-dataset-name",
        "description": null,
        "tags": {},
        "type": "uri_folder",
        "isReference": false,
        "dataUri": "https://Sanitized.blob.core.windows.net/aoai-3vdvh-f9a070f5-16d0-5791-a515-e3c13b44453a",
        "isSingleFile": false,
        "connectionName": null,
        "systemData": {
          "createdAt": "2026-03-31T16:38:28.5616929+00:00",
          "createdBy": "Sanitized",
          "createdByType": null,
          "lastModifiedAt": "2026-03-31T16:38:28.5616929+00:00"
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.services.ai.azure.com/api/projects/sanitized-project-name/datasets/sanitized-dataset-name/versions/1/credentials?api-version=v1",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-swedencentral-01",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "e52491b3-ff18-4b5f-b6c5-e[...]
    {
      "RequestUri": "https://Sanitized.services.ai.azure.com/api/projects/sanitized-project-name/datasets/sanitized-dataset-name/versions/1?api-version=v1",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-swedencentral-01",
        "mise-correlation-id": "00ac1c00-03aa-4387-a5da-f8285ef6e263",
        "x-ms-region": "Sweden Central",
        "x-ms-response-type": "standard",
        "x-request-time": "1.432"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
