{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.services.ai.azure.com/api/projects/sanitized-project-name/connections?api-version=v1&connectionType=AzureStorageAccount&defaultConnection=true",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-westus2-01",
        "Content-Type": "application/json; charset=utf-8",
        "x-http2-stream-id": "45",
        "x-ms-region": "West US 2",
        "x-ms-response-type": "standard",
        "x-request-time": "0.068"
      },
      "ResponseBody": {
        "value": [
          {
            "name": "balapvstorage123",
            "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sanitized-resource-group-name/providers/Microsoft.CognitiveServices/accounts/sanitized-account-name/projects/sanitized-project-name/connections/balapvstorage123",
            "type": "AzureStorageAccount",
            "target": "https://Sanitized.blob.core.windows.net/",
            "isDefault": true,
            "credentials": {
              "type": "AccountKey"
            },
            "metadata": {
              "ApiType": "Azure",
              "ResourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sanitized-resource-group-name/providers/Microsoft.Storage/storageAccounts/balapvstorage123"
            }
          }
        ]
      }
    },
    {
      "RequestUri": "https://Sanitized.services.ai.azure.com/api/projects/sanitized-project-name/connections/balapvstorage123?api-version=v1",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-westus2-01",
        "Content-Type": "application/json; charset=utf-8",
        "x-http2-stream-id": "41",
        "x-ms-region": "West US 2",
        "x-ms-response-type": "standard",
        "x-request-time": "0.054"
      },
      "ResponseBody": {
        "name": "balapvstorage123",
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sanitized-resource-group-name/providers/Microsoft.CognitiveServices/accounts/sanitized-account-name/projects/sanitized-project-name/connections/balapvstorage123",
        "type": "AzureStorageAccount",
        "target": "https://Sanitized.blob.core.windows.net/",
        "isDefault": true,
        "credentials": {
          "type": "AccountKey"
        },
        "metadata": {
          "ApiType": "Azure",
          "ResourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sanitized-resource-group-name/providers/Microsoft.Storage/storageAccounts/balapvstorage123"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.services.ai.azure.com/api/projects/sanitized-project-name/datasets/test-dataset-name-76805/versions/1/startPendingUpload?api-version=v1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "pendingUploadType": "BlobReference",
        "connectionName": "balapvstorage123"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-westus2-01",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "82b7390f-d2d1-4dc7-9f6f-6a6c36d6057e",
        "x-http2-stream-id": "53",
        "x-ms-region": "West US 2",
        "x-ms-response-type": "standard",
        "x-request-time": "0.153"
      },
      "ResponseBody": {
        "blobReference": {
          "blobUri": "https://Sanitized.blob.core.windows.net:443/agentsv2-g-ab72b3e3-22cd-5bb0-a0c8-47f241cd731c",
          "storageAccountArmId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sanitized-resource-group-name/providers/Microsoft.Storage/storageAccounts/balapvstorage123",
          "credential": {
            "type": "SAS",
            "credentialType": "SAS",
            "sasUri": "https://Sanitized.blob.core.windows.net/agentsv2-g-ab72b3e3-22cd-5bb0-a0c8-47f241cd731c?sv=Sanitized&st=Sanitized&se=Sanitized&sr=c&sp=rcwl&sig=Sanitized"
          }
        },
        "blobReferenceForConsumption": {
          "blobUri": "https://Sanitized.blob.core.windows.net:443/agentsv2-g-ab72b3e3-22cd-5bb0-a0c8-47f241cd731c",
          "storageAccountArmId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sanitized-resource-group-name/providers/Microsoft.Storage/storageAccounts/balapvstorage123",
          "credential": {
            "type": "SAS",
            "credentialType": "SAS",
            "sasUri": "https://Sanitized.blob.core.windows.net/agentsv2-g-ab72b3e3-22cd-5bb0-a0c8-47f241cd731c?sv=Sanitized&st=Sanitized&se=Sanitized&sr=c&sp=rcwl&sig=Sanitized"
          }
        },
        "pendingUploadId": null,
        "pendingUploadType": "BlobReference",
        "version": "1"
      }
    },
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/agentsv2-g-ab72b3e3-22cd-5bb0-a0c8-47f241cd731c/data_file1.txt?sv=Sanitized&st=Sanitized&se=Sanitized&sr=c&sp=rcwl&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 04 Mar 2026 23:29:24 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": "VGhpcyBpcyBzYW1wbGUgZmlsZSAxDQo=",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "7XNN6D95+WAFUzJAPDcH8Q==",
        "ETag": "\"0x8DE7A45DEF46D71\"",
        "Last-Modified": "Wed, 04 Mar 2026 23:29:24 GMT",
        "x-ms-content-crc64": "hIEgKOv73jc=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/agentsv2-g-ab72b3e3-22cd-5bb0-a0c8-47f241cd731c/data_subfolder/data_file3.txt?sv=Sanitized&st=Sanitized&se=Sanitized&sr=c&sp=rcwl&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 04 Mar 2026 23:29:24 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": "VGhpcyBpcyBzYW1wbGUgZmlsZSAzDQo=",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "kt0zdzMo4xZqvrADGblHCw==",
        "ETag": "\"0x8DE7A45DEF9EAD8\"",
        "Last-Modified": "Wed, 04 Mar 2026 23:29:24 GMT",
        "x-ms-content-crc64": "k2M37IZB2/0=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://Sanitized.services.ai.azure.com/api/projects/sanitized-project-name/datasets/test-dataset-name-76805/versions/1?api-version=v1",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Content-Type": "application/merge-patch+json"
      },
      "RequestBody": {
        "dataUri": "https://Sanitized.blob.core.windows.net/agentsv2-g-ab72b3e3-22cd-5bb0-a0c8-47f241cd731c",
        "type": "uri_folder"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-westus2-01",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "80ae470a-af82-4804-b741-d98b2ef73a2b",
        "x-http2-stream-id": "47",
        "x-ms-region": "West US 2",
        "x-ms-response-type": "standard",
        "x-request-time": "2.483"
      },
      "ResponseBody": {
        "id": "azureai://accounts/sanitized-account-name/projects/sanitized-project-name/data/test-dataset-name-76805/versions/1",
        "name": "test-dataset-name-76805",
        "version": "1",
        "displayName": "test-dataset-name-76805",
        "description": null,
        "tags": {},
        "type": "uri_folder",
        "isReference": false,
        "dataUri": "https://Sanitized.blob.core.windows.net/agentsv2-g-ab72b3e3-22cd-5bb0-a0c8-47f241cd731c",
        "isSingleFile": false,
        "connectionName": null,
        "systemData": {
          "createdAt": "2026-03-04T23:29:25.8189885+00:00",
          "createdBy": "Sanitized",
          "createdByType": null,
          "lastModifiedAt": "2026-03-04T23:29:25.8189885+00:00"
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.services.ai.azure.com/api/projects/sanitized-project-name/datasets/test-dataset-name-76805/versions/1/credentials?api-version=v1",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-westus2-01",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "03796a62-ea86-4b94-b929-5ef889[...]
    {
      "RequestUri": "https://Sanitized.services.ai.azure.com/api/projects/sanitized-project-name/datasets/test-dataset-name-76805/versions/1?api-version=v1",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-westus2-01",
        "mise-correlation-id": "a5c37176-6298-4a48-b7cf-b269819db0ce",
        "x-http2-stream-id": "49",
        "x-ms-region": "West US 2",
        "x-ms-response-type": "standard",
        "x-request-time": "1.109"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
