{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.services.ai.azure.com/api/projects/sanitized-project-name/connections?api-version=v1&connectionType=AzureStorageAccount&defaultConnection=true",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-westus2-02",
        "Content-Type": "application/json; charset=utf-8",
        "x-http2-stream-id": "69",
        "x-ms-region": "West US 2",
        "x-ms-response-type": "standard",
        "x-request-time": "0.058"
      },
      "ResponseBody": {
        "value": [
          {
            "name": "balapvstorage123",
            "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sanitized-resource-group-name/providers/Microsoft.CognitiveServices/accounts/sanitized-account-name/projects/sanitized-project-name/connections/balapvstorage123",
            "type": "AzureStorageAccount",
            "target": "https://Sanitized.blob.core.windows.net/",
            "isDefault": true,
            "credentials": {
              "type": "AccountKey"
            },
            "metadata": {
              "ApiType": "Azure",
              "ResourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sanitized-resource-group-name/providers/Microsoft.Storage/storageAccounts/balapvstorage123"
            }
          }
        ]
      }
    },
    {
      "RequestUri": "https://Sanitized.services.ai.azure.com/api/projects/sanitized-project-name/connections/balapvstorage123?api-version=v1",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-westus2-02",
        "Content-Type": "application/json; charset=utf-8",
        "x-http2-stream-id": "169",
        "x-ms-region": "West US 2",
        "x-ms-response-type": "standard",
        "x-request-time": "0.032"
      },
      "ResponseBody": {
        "name": "balapvstorage123",
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sanitized-resource-group-name/providers/Microsoft.CognitiveServices/accounts/sanitized-account-name/projects/sanitized-project-name/connections/balapvstorage123",
        "type": "AzureStorageAccount",
        "target": "https://Sanitized.blob.core.windows.net/",
        "isDefault": true,
        "credentials": {
          "type": "AccountKey"
        },
        "metadata": {
          "ApiType": "Azure",
          "ResourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sanitized-resource-group-name/providers/Microsoft.Storage/storageAccounts/balapvstorage123"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.services.ai.azure.com/api/projects/sanitized-project-name/datasets/sanitized-dataset-name/versions/1/startPendingUpload?api-version=v1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "pendingUploadType": "BlobReference",
        "connectionName": "balapvstorage123"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-westus2-02",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "89f8a8a3-0152-438c-aa88-565adcf318e1",
        "x-http2-stream-id": "171",
        "x-ms-region": "West US 2",
        "x-ms-response-type": "standard",
        "x-request-time": "0.097"
      },
      "ResponseBody": {
        "blobReference": {
          "blobUri": "https://Sanitized.blob.core.windows.net:443/agentsv2-g-c3bf9819-c6f0-532d-b14e-c9f0a3af3321",
          "storageAccountArmId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sanitized-resource-group-name/providers/Microsoft.Storage/storageAccounts/balapvstorage123",
          "credential": {
            "type": "SAS",
            "credentialType": "SAS",
            "sasUri": "https://Sanitized.blob.core.windows.net/agentsv2-g-c3bf9819-c6f0-532d-b14e-c9f0a3af3321?sv=Sanitized&st=Sanitized&se=Sanitized&sr=c&sp=rcwl&sig=Sanitized"
          }
        },
        "blobReferenceForConsumption": {
          "blobUri": "https://Sanitized.blob.core.windows.net:443/agentsv2-g-c3bf9819-c6f0-532d-b14e-c9f0a3af3321",
          "storageAccountArmId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sanitized-resource-group-name/providers/Microsoft.Storage/storageAccounts/balapvstorage123",
          "credential": {
            "type": "SAS",
            "credentialType": "SAS",
            "sasUri": "https://Sanitized.blob.core.windows.net/agentsv2-g-c3bf9819-c6f0-532d-b14e-c9f0a3af3321?sv=Sanitized&st=Sanitized&se=Sanitized&sr=c&sp=rcwl&sig=Sanitized"
          }
        },
        "pendingUploadId": null,
        "pendingUploadType": "BlobReference",
        "version": "1"
      }
    },
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/agentsv2-g-c3bf9819-c6f0-532d-b14e-c9f0a3af3321/data_file1.txt?sv=Sanitized&st=Sanitized&se=Sanitized&sr=c&sp=rcwl&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 05 Mar 2026 22:23:41 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": "VGhpcyBpcyBzYW1wbGUgZmlsZSAx",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "Pg9Ww5gPrKiH7EVM68+e0Q==",
        "ETag": "\"0x8DE7B05DB314E47\"",
        "Last-Modified": "Thu, 05 Mar 2026 22:23:41 GMT",
        "x-ms-content-crc64": "wOs6CcA/Xjs=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/agentsv2-g-c3bf9819-c6f0-532d-b14e-c9f0a3af3321/data_subfolder/data_file3.txt?sv=Sanitized&st=Sanitized&se=Sanitized&sr=c&sp=rcwl&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 05 Mar 2026 22:23:41 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": "VGhpcyBpcyBzYW1wbGUgZmlsZSAz",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "tINUMnVqMxrMB9s/Mr+6Fw==",
        "ETag": "\"0x8DE7B05DB382B16\"",
        "Last-Modified": "Thu, 05 Mar 2026 22:23:41 GMT",
        "x-ms-content-crc64": "MvlRaVDeg8U=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://Sanitized.services.ai.azure.com/api/projects/sanitized-project-name/datasets/sanitized-dataset-name/versions/1?api-version=v1",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Content-Type": "application/merge-patch+json"
      },
      "RequestBody": {
        "dataUri": "https://Sanitized.blob.core.windows.net/agentsv2-g-c3bf9819-c6f0-532d-b14e-c9f0a3af3321",
        "type": "uri_folder"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-westus2-02",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "df3f94ea-298a-462b-90da-8593b50060bf",
        "x-http2-stream-id": "173",
        "x-ms-region": "West US 2",
        "x-ms-response-type": "standard",
        "x-request-time": "2.534"
      },
      "ResponseBody": {
        "id": "azureai://accounts/sanitized-account-name/projects/sanitized-project-name/data/sanitized-dataset-name/versions/1",
        "name": "sanitized-dataset-name",
        "version": "1",
        "displayName": "sanitized-dataset-name",
        "description": null,
        "tags": {},
        "type": "uri_folder",
        "isReference": false,
        "dataUri": "https://Sanitized.blob.core.windows.net/agentsv2-g-c3bf9819-c6f0-532d-b14e-c9f0a3af3321",
        "isSingleFile": false,
        "connectionName": null,
        "systemData": {
          "createdAt": "2026-03-05T22:23:42.8717956+00:00",
          "createdBy": "Sanitized",
          "createdByType": null,
          "lastModifiedAt": "2026-03-05T22:23:42.8717956+00:00"
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.services.ai.azure.com/api/projects/sanitized-project-name/datasets/sanitized-dataset-name/versions/1/credentials?api-version=v1",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-westus2-02",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "3150baa0-c384-4593-8897-244f192[...]
    {
      "RequestUri": "https://Sanitized.services.ai.azure.com/api/projects/sanitized-project-name/datasets/sanitized-dataset-name/versions/1?api-version=v1",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-westus2-02",
        "mise-correlation-id": "3a5c68fe-a371-4460-8925-d84e6248e922",
        "x-http2-stream-id": "81",
        "x-ms-region": "West US 2",
        "x-ms-response-type": "standard",
        "x-request-time": "1.149"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
