{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.services.ai.azure.com/api/projects/sanitized-project-name/connections?api-version=v1&connectionType=AzureStorageAccount&defaultConnection=true",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-westus2-02",
        "Content-Type": "application/json; charset=utf-8",
        "x-http2-stream-id": "55",
        "x-ms-region": "West US 2",
        "x-ms-response-type": "standard",
        "x-request-time": "0.047"
      },
      "ResponseBody": {
        "value": [
          {
            "name": "balapvstorage123",
            "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sanitized-resource-group-name/providers/Microsoft.CognitiveServices/accounts/sanitized-account-name/projects/sanitized-project-name/connections/balapvstorage123",
            "type": "AzureStorageAccount",
            "target": "https://Sanitized.blob.core.windows.net/",
            "isDefault": true,
            "credentials": {
              "type": "AccountKey"
            },
            "metadata": {
              "ApiType": "Azure",
              "ResourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sanitized-resource-group-name/providers/Microsoft.Storage/storageAccounts/balapvstorage123"
            }
          }
        ]
      }
    },
    {
      "RequestUri": "https://Sanitized.services.ai.azure.com/api/projects/sanitized-project-name/connections/balapvstorage123?api-version=v1",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-westus2-02",
        "Content-Type": "application/json; charset=utf-8",
        "x-http2-stream-id": "83",
        "x-ms-region": "West US 2",
        "x-ms-response-type": "standard",
        "x-request-time": "0.028"
      },
      "ResponseBody": {
        "name": "balapvstorage123",
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sanitized-resource-group-name/providers/Microsoft.CognitiveServices/accounts/sanitized-account-name/projects/sanitized-project-name/connections/balapvstorage123",
        "type": "AzureStorageAccount",
        "target": "https://Sanitized.blob.core.windows.net/",
        "isDefault": true,
        "credentials": {
          "type": "AccountKey"
        },
        "metadata": {
          "ApiType": "Azure",
          "ResourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sanitized-resource-group-name/providers/Microsoft.Storage/storageAccounts/balapvstorage123"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.services.ai.azure.com/api/projects/sanitized-project-name/datasets/sanitized-dataset-name/versions/1/startPendingUpload?api-version=v1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "pendingUploadType": "BlobReference",
        "connectionName": "balapvstorage123"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-westus2-02",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "53f97ca5-908a-4030-b7df-b87381f018b3",
        "x-http2-stream-id": "175",
        "x-ms-region": "West US 2",
        "x-ms-response-type": "standard",
        "x-request-time": "0.152"
      },
      "ResponseBody": {
        "blobReference": {
          "blobUri": "https://Sanitized.blob.core.windows.net:443/agentsv2-g-24092409-9b6c-5740-803a-29843fe8870b",
          "storageAccountArmId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sanitized-resource-group-name/providers/Microsoft.Storage/storageAccounts/balapvstorage123",
          "credential": {
            "type": "SAS",
            "credentialType": "SAS",
            "sasUri": "https://Sanitized.blob.core.windows.net/agentsv2-g-24092409-9b6c-5740-803a-29843fe8870b?sv=Sanitized&st=Sanitized&se=Sanitized&sr=c&sp=rcwl&sig=Sanitized"
          }
        },
        "blobReferenceForConsumption": {
          "blobUri": "https://Sanitized.blob.core.windows.net:443/agentsv2-g-24092409-9b6c-5740-803a-29843fe8870b",
          "storageAccountArmId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sanitized-resource-group-name/providers/Microsoft.Storage/storageAccounts/balapvstorage123",
          "credential": {
            "type": "SAS",
            "credentialType": "SAS",
            "sasUri": "https://Sanitized.blob.core.windows.net/agentsv2-g-24092409-9b6c-5740-803a-29843fe8870b?sv=Sanitized&st=Sanitized&se=Sanitized&sr=c&sp=rcwl&sig=Sanitized"
          }
        },
        "pendingUploadId": null,
        "pendingUploadType": "BlobReference",
        "version": "1"
      }
    },
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/agentsv2-g-24092409-9b6c-5740-803a-29843fe8870b/data_file1.txt?sv=Sanitized&st=Sanitized&se=Sanitized&sr=c&sp=rcwl&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 05 Mar 2026 22:23:48 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": "VGhpcyBpcyBzYW1wbGUgZmlsZSAx",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "Pg9Ww5gPrKiH7EVM68+e0Q==",
        "ETag": "\"0x8DE7B05DF14D2D1\"",
        "Last-Modified": "Thu, 05 Mar 2026 22:23:48 GMT",
        "x-ms-content-crc64": "wOs6CcA/Xjs=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.services.ai.azure.com/api/projects/sanitized-project-name/datasets/sanitized-dataset-name/versions/1?api-version=v1",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Content-Type": "application/merge-patch+json"
      },
      "RequestBody": {
        "dataUri": "https://Sanitized.blob.core.windows.net/agentsv2-g-24092409-9b6c-5740-803a-29843fe8870b/data_file1.txt",
        "type": "uri_file"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-westus2-02",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "935ed3eb-443e-40a9-bc76-c250572591f7",
        "x-http2-stream-id": "57",
        "x-ms-region": "West US 2",
        "x-ms-response-type": "standard",
        "x-request-time": "2.749"
      },
      "ResponseBody": {
        "id": "azureai://accounts/sanitized-account-name/projects/sanitized-project-name/data/sanitized-dataset-name/versions/1",
        "name": "sanitized-dataset-name",
        "version": "1",
        "displayName": "sanitized-dataset-name",
        "description": null,
        "tags": {},
        "type": "uri_file",
        "isReference": false,
        "dataUri": "https://Sanitized.blob.core.windows.net/agentsv2-g-24092409-9b6c-5740-803a-29843fe8870b/data_file1.txt",
        "isSingleFile": false,
        "connectionName": null,
        "systemData": {
          "createdAt": "2026-03-05T22:23:49.5341444+00:00",
          "createdBy": "Sanitized",
          "createdByType": null,
          "lastModifiedAt": "2026-03-05T22:23:49.5341444+00:00"
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.services.ai.azure.com/api/projects/sanitized-project-name/datasets/sanitized-dataset-name/versions/1/credentials?api-version=v1",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-westus2-01",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "0c109d76-230d-4e90-ad4f-b805b58[...]
[...]
    {
      "RequestUri": "https://Sanitized.services.ai.azure.com/api/projects/sanitized-project-name/datasets/sanitized-dataset-name/versions/1?api-version=v1",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-westus2-01",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "cacf1853-d453-45aa-8325-f63bd7660cbb",
        "x-http2-stream-id": "75",
        "x-ms-region": "West US 2",
        "x-ms-response-type": "error",
        "x-request-time": "0.089"
      },
      "ResponseBody": {
        "error": {
          "code": "UserError",
          "severity": null,
          "message": "Could not find asset with ID: azureai://accounts/sanitized-account-name/projects/sanitized-project-name/data/sanitized-dataset-name/versions/1",
          "messageFormat": null,
          "messageParameters": null,
          "referenceCode": null,
          "detailsUri": null,
          "target": null,
          "details": [],
          "innerError": {
            "code": "NotFoundError",
            "innerError": null
          },
          "debugInfo": null,
          "additionalInfo": null
        },
        "correlation": {
          "operation": "c8d3104426fe881c2e5936ae6dc0fabe",
          "request": "83489c2b410d2db6"
        },
        "environment": "westus2",
        "location": "westus2",
        "time": "2026-03-05T22:23:56.0951553+00:00",
        "componentName": "dataset",
        "statusCode": 404
      }
    }
  ],
  "Variables": {}
}
