{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.services.ai.azure.com/api/projects/sanitized-project-name/connections?api-version=v1&connectionType=AzureStorageAccount&defaultConnection=true",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-westus2-01",
        "Content-Type": "application/json; charset=utf-8",
        "x-http2-stream-id": "77",
        "x-ms-region": "West US 2",
        "x-ms-response-type": "standard",
        "x-request-time": "0.037"
      },
      "ResponseBody": {
        "value": [
          {
            "name": "balapvstorage123",
            "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sanitized-resource-group-name/providers/Microsoft.CognitiveServices/accounts/sanitized-account-name/projects/sanitized-project-name/connections/balapvstorage123",
            "type": "AzureStorageAccount",
            "target": "https://Sanitized.blob.core.windows.net/",
            "isDefault": true,
            "credentials": {
              "type": "AccountKey"
            },
            "metadata": {
              "ApiType": "Azure",
              "ResourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sanitized-resource-group-name/providers/Microsoft.Storage/storageAccounts/balapvstorage123"
            }
          }
        ]
      }
    },
    {
      "RequestUri": "https://Sanitized.services.ai.azure.com/api/projects/sanitized-project-name/connections/balapvstorage123?api-version=v1",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-westus2-01",
        "Content-Type": "application/json; charset=utf-8",
        "x-http2-stream-id": "65",
        "x-ms-region": "West US 2",
        "x-ms-response-type": "standard",
        "x-request-time": "0.040"
      },
      "ResponseBody": {
        "name": "balapvstorage123",
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sanitized-resource-group-name/providers/Microsoft.CognitiveServices/accounts/sanitized-account-name/projects/sanitized-project-name/connections/balapvstorage123",
        "type": "AzureStorageAccount",
        "target": "https://Sanitized.blob.core.windows.net/",
        "isDefault": true,
        "credentials": {
          "type": "AccountKey"
        },
        "metadata": {
          "ApiType": "Azure",
          "ResourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sanitized-resource-group-name/providers/Microsoft.Storage/storageAccounts/balapvstorage123"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.services.ai.azure.com/api/projects/sanitized-project-name/datasets/sanitized-dataset-name/versions/1/startPendingUpload?api-version=v1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "pendingUploadType": "BlobReference",
        "connectionName": "balapvstorage123"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-westus2-01",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "770b5d08-2ff2-4592-a001-3cb98b458045",
        "x-http2-stream-id": "79",
        "x-ms-region": "West US 2",
        "x-ms-response-type": "standard",
        "x-request-time": "0.126"
      },
      "ResponseBody": {
        "blobReference": {
          "blobUri": "https://Sanitized.blob.core.windows.net:443/agentsv2-g-d58c389a-b103-5386-b2fd-d090c5fbd844",
          "storageAccountArmId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sanitized-resource-group-name/providers/Microsoft.Storage/storageAccounts/balapvstorage123",
          "credential": {
            "type": "SAS",
            "credentialType": "SAS",
            "sasUri": "https://Sanitized.blob.core.windows.net/agentsv2-g-d58c389a-b103-5386-b2fd-d090c5fbd844?sv=Sanitized&st=Sanitized&se=Sanitized&sr=c&sp=rcwl&sig=Sanitized"
          }
        },
        "blobReferenceForConsumption": {
          "blobUri": "https://Sanitized.blob.core.windows.net:443/agentsv2-g-d58c389a-b103-5386-b2fd-d090c5fbd844",
          "storageAccountArmId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sanitized-resource-group-name/providers/Microsoft.Storage/storageAccounts/balapvstorage123",
          "credential": {
            "type": "SAS",
            "credentialType": "SAS",
            "sasUri": "https://Sanitized.blob.core.windows.net/agentsv2-g-d58c389a-b103-5386-b2fd-d090c5fbd844?sv=Sanitized&st=Sanitized&se=Sanitized&sr=c&sp=rcwl&sig=Sanitized"
          }
        },
        "pendingUploadId": null,
        "pendingUploadType": "BlobReference",
        "version": "1"
      }
    },
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/agentsv2-g-d58c389a-b103-5386-b2fd-d090c5fbd844/data_file1.txt?sv=Sanitized&st=Sanitized&se=Sanitized&sr=c&sp=rcwl&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 05 Mar 2026 22:23:58 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": "VGhpcyBpcyBzYW1wbGUgZmlsZSAx",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "Pg9Ww5gPrKiH7EVM68+e0Q==",
        "ETag": "\"0x8DE7B05E53D0F4A\"",
        "Last-Modified": "Thu, 05 Mar 2026 22:23:58 GMT",
        "x-ms-content-crc64": "wOs6CcA/Xjs=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/agentsv2-g-d58c389a-b103-5386-b2fd-d090c5fbd844/data_subfolder/data_file3.txt?sv=Sanitized&st=Sanitized&se=Sanitized&sr=c&sp=rcwl&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 05 Mar 2026 22:23:58 GMT",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": "VGhpcyBpcyBzYW1wbGUgZmlsZSAz",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "tINUMnVqMxrMB9s/Mr+6Fw==",
        "ETag": "\"0x8DE7B05E540DF4B\"",
        "Last-Modified": "Thu, 05 Mar 2026 22:23:58 GMT",
        "x-ms-content-crc64": "MvlRaVDeg8U=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://Sanitized.services.ai.azure.com/api/projects/sanitized-project-name/datasets/sanitized-dataset-name/versions/1?api-version=v1",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Content-Type": "application/merge-patch+json"
      },
      "RequestBody": {
        "dataUri": "https://Sanitized.blob.core.windows.net/agentsv2-g-d58c389a-b103-5386-b2fd-d090c5fbd844",
        "type": "uri_folder"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-westus2-01",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "5827c4e2-eced-4d92-b19b-3637cdec9d3d",
        "x-http2-stream-id": "61",
        "x-ms-region": "West US 2",
        "x-ms-response-type": "standard",
        "x-request-time": "2.483"
      },
      "ResponseBody": {
        "id": "azureai://accounts/sanitized-account-name/projects/sanitized-project-name/data/sanitized-dataset-name/versions/1",
        "name": "sanitized-dataset-name",
        "version": "1",
        "displayName": "sanitized-dataset-name",
        "description": null,
        "tags": {},
        "type": "uri_folder",
        "isReference": false,
        "dataUri": "https://Sanitized.blob.core.windows.net/agentsv2-g-d58c389a-b103-5386-b2fd-d090c5fbd844",
        "isSingleFile": false,
        "connectionName": null,
        "systemData": {
          "createdAt": "2026-03-05T22:23:59.7177195+00:00",
          "createdBy": "Sanitized",
          "createdByType": null,
          "lastModifiedAt": "2026-03-05T22:23:59.7177195+00:00"
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.services.ai.azure.com/api/projects/sanitized-project-name/datasets/sanitized-dataset-name/versions/1/credentials?api-version=v1",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-westus2-01",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "7c1d0423-66db-4444-8cf6-abc6c1b[...]
    {
      "RequestUri": "https://Sanitized.services.ai.azure.com/api/projects/sanitized-project-name/datasets/sanitized-dataset-name/versions/1?api-version=v1",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-westus2-01",
        "mise-correlation-id": "60942a68-7f5d-4dd7-a5cb-83779550b905",
        "x-http2-stream-id": "63",
        "x-ms-region": "West US 2",
        "x-ms-response-type": "standard",
        "x-request-time": "1.135"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
