{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/4d042dc6-fe17-4698-a23f-ec6a8d1e98f4?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "3749",
        "x-ms-ratelimit-remaining-subscription-reads": "249"
      },
      "ResponseBody": {
        "id": "/subscriptions/4d042dc6-fe17-4698-a23f-ec6a8d1e98f4",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "tags": {
          "owners": "bebroder,wesh",
          "DoNotDelete": ""
        },
        "subscriptionId": "4d042dc6-fe17-4698-a23f-ec6a8d1e98f4",
        "tenantId": "00000000-0000-0000-0000-000000000000",
        "displayName": "Azure SDK Test Resources - TME",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/4d042dc6-fe17-4698-a23f-ec6a8d1e98f4/resourcegroups/testRG-9035?api-version=2022-09-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {
          "test": "env"
        },
        "location": "westus2"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-writes": "2999",
        "x-ms-ratelimit-remaining-subscription-writes": "199"
      },
      "ResponseBody": {
        "id": "/subscriptions/4d042dc6-fe17-4698-a23f-ec6a8d1e98f4/resourceGroups/testRG-9035",
        "name": "testRG-9035",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "westus2",
        "tags": {
          "test": "env"
        },
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/4d042dc6-fe17-4698-a23f-ec6a8d1e98f4/resourceGroups/testRG-9035/providers/Microsoft.ApiManagement/service/sdktestapimv2-3294?api-version=2024-05-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westus2",
        "sku": {
          "name": "StandardV2",
          "capacity": 1
        },
        "identity": {
          "type": "SystemAssigned"
        },
        "properties": {
          "publisherEmail": "Sample@Sample.com",
          "publisherName": "sample"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/4d042dc6-fe17-4698-a23f-ec6a8d1e98f4/providers/Microsoft.ApiManagement/locations/westus2/operationsStatuses/d2VzdHVzMjpzZGt0ZXN0YXBpbXYyLTMyOTRfQWN0XzNmNzE4YTg6YXBpcnBwcm9kaHVidjI=?api-version=2024-05-01&t=638831037684014684&c=MIIHhzCCBm-gAwIBAgITfAeDEnPW_KxJbq8EjgAAB4MSczANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDUwHhcNMjUwNDIwMTUyMDI3WhcNMjUxMDE3MTUyMDI3WjBAMT4wPAYDVQQDEzVhc3luY29w[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/4d042dc6-fe17-4698-a23f-ec6a8d1e98f4/providers/Microsoft.ApiManagement/locations/westus2/operationsStatuses/d2VzdHVzMjpzZGt0ZXN0YXBpbXYyLTMyOTRfQWN0XzNmNzE4YTg6YXBpcnBwcm9kaHVidjI=?api-version=2024-05-01&t=638831037684014684&c=MIIHhzCCBm-gAwIBAgITfAeDEnPW_KxJbq8EjgAAB4MSczANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDUwHhcNMjUwNDIwMTUyMDI3WhcNMjUxMDE3MTUyMDI3WjB[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/4d042dc6-fe17-4698-a23f-ec6a8d1e98f4/providers/Microsoft.ApiManagement/locations/westus2/operationsStatuses/d2VzdHVzMjpzZGt0ZXN0YXBpbXYyLTMyOTRfQWN0XzNmNzE4YTg6YXBpcnBwcm9kaHVidjI=?api-version=2024-05-01&t=638831037693011605&c=MIIHhzCCBm-gAwIBAgITfAeDEnPW_KxJbq8EjgAAB4MSczANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDUwHhcNMjUwNDIwMTUyMDI3WhcNMjUxMDE3MTUyMDI3WjB[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/4d042dc6-fe17-4698-a23f-ec6a8d1e98f4/providers/Microsoft.ApiManagement/locations/westus2/operationsStatuses/d2VzdHVzMjpzZGt0ZXN0YXBpbXYyLTMyOTRfQWN0XzNmNzE4YTg6YXBpcnBwcm9kaHVidjI=?api-version=2024-05-01&t=638831037901890673&c=MIIHhzCCBm-gAwIBAgITfAeDEnPW_KxJbq8EjgAAB4MSczANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDUwHhcNMjUwNDIwMTUyMDI3WhcNMjUxMDE3MTUyMDI3WjB[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/4d042dc6-fe17-4698-a23f-ec6a8d1e98f4/resourceGroups/testRG-9035/providers/Microsoft.ApiManagement/service/sdktestapimv2-3294?api-version=2024-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\"AAAAAACnOck=\"",
        "x-ms-ratelimit-remaining-subscription-global-reads": "3749",
        "x-ms-ratelimit-remaining-subscription-reads": "249"
      },
      "ResponseBody": {
        "etag": "AAAAAACnOck=",
        "properties": {
          "publisherEmail": "Sample@Sample.com",
          "publisherName": "sample",
          "notificationSenderEmail": "apimgmt-noreply@mail.windowsazure.com",
          "provisioningState": "Succeeded",
          "targetProvisioningState": "",
          "createdAtUtc": "2025-05-16T12:47:44.6764987Z",
          "gatewayUrl": "https://sdktestapimv2-3294.azure-api.net",
          "gatewayRegionalUrl": null,
          "portalUrl": null,
          "developerPortalUrl": null,
          "dataApiUrl": null,
          "managementApiUrl": "https://smapi.api-mwh-prod-scaleunit-002.p.azurewebsites.net/",
          "scmUrl": null,
          "hostnameConfigurations": [
            {
              "type": "Proxy",
              "hostName": "sdktestapimv2-3294.azure-api.net",
              "encodedCertificate": null,
              "keyVaultId": null,
              "certificatePassword": null,
              "negotiateClientCertificate": false,
              "certificate": null,
              "defaultSslBinding": true,
              "identityClientId": null,
              "certificateSource": "BuiltIn",
              "certificateStatus": null
            }
          ],
          "publicIPAddresses": null,
          "privateIPAddresses": null,
          "additionalLocations": null,
          "virtualNetworkConfiguration": null,
          "customProperties": {
            "Microsoft.WindowsAzure.ApiManagement.Gateway.Security.Protocols.Tls10": "False",
            "Microsoft.WindowsAzure.ApiManagement.Gateway.Security.Protocols.Tls11": "False",
            "Microsoft.WindowsAzure.ApiManagement.Gateway.Security.Backend.Protocols.Tls10": "False",
            "Microsoft.WindowsAzure.ApiManagement.Gateway.Security.Backend.Protocols.Tls11": "False",
            "Microsoft.WindowsAzure.ApiManagement.Gateway.Security.Backend.Protocols.Ssl30": "False",
            "Microsoft.WindowsAzure.ApiManagement.Gateway.Protocols.Server.Http2": "False"
          },
          "virtualNetworkType": "None",
          "certificates": null,
          "natGatewayState": "Enabled",
          "outboundPublicIPAddresses": null,
          "apiVersionConstraint": {
            "minApiVersion": null
          },
          "publicIpAddressId": null,
          "publicNetworkAccess": "Enabled",
          "privateEndpointConnections": null,
          "platformVersion": "undetermined",
          "configurationApi": null,
          "legacyPortalStatus": "Disabled",
          "developerPortalStatus": "Disabled"
        },
        "sku": {
          "name": "StandardV2",
          "capacity": 1
        },
        "identity": {
          "type": "SystemAssigned",
          "principalId": "00000000-0000-0000-0000-000000000000",
          "tenantId": "00000000-0000-0000-0000-000000000000"
        },
        "zones": null,
        "systemData": null,
        "location": "West US 2",
        "tags": {},
        "id": "/subscriptions/4d042dc6-fe17-4698-a23f-ec6a8d1e98f4/resourceGroups/testRG-9035/providers/Microsoft.ApiManagement/service/sdktestapimv2-3294",
        "name": "sdktestapimv2-3294",
        "type": "Microsoft.ApiManagement/service"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/4d042dc6-fe17-4698-a23f-ec6a8d1e98f4/resourceGroups/testRG-9035/providers/Microsoft.ApiManagement/service/sdktestapimv2-3294/backends/backendid5654?api-version=2024-05-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "description": "description3974",
          "credentials": {
            "query": {
              "sv": [
                "xx",
                "bb",
                "cc"
              ]
            },
            "header": {
              "x-my-1": [
                "val1",
                "val2"
              ]
            },
            "authorization": {
              "scheme": "basic",
              "parameter": "opensemame"
            }
          },
          "tls": {
            "validateCertificateChain": true,
            "validateCertificateName": true
          },
          "url": "https://backendname9017/",
          "protocol": "http"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\"AAAAAAMFijw=\"",
        "x-ms-ratelimit-remaining-subscription-global-writes": "2999",
        "x-ms-ratelimit-remaining-subscription-writes": "199"
      },
      "ResponseBody": {
        "id": "/subscriptions/4d042dc6-fe17-4698-a23f-ec6a8d1e98f4/resourceGroups/testRG-9035/providers/Microsoft.ApiManagement/service/sdktestapimv2-3294/backends/backendid5654",
        "type": "Microsoft.ApiManagement/service/backends",
        "name": "backendid5654",
        "properties": {
          "title": null,
          "description": "description3974",
          "url": "https://backendname9017/",
          "protocol": "http",
          "credentials": {
            "query": {
              "sv": [
                "xx",
                "bb",
                "cc"
              ]
            },
            "header": {
              "x-my-1": [
                "val1",
                "val2"
              ]
            },
            "authorization": {
              "scheme": "basic",
              "parameter": "opensemame"
            }
          },
          "tls": {
            "validateCertificateChain": true,
            "validateCertificateName": true
          }
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/4d042dc6-fe17-4698-a23f-ec6a8d1e98f4/resourceGroups/testRG-9035/providers/Microsoft.ApiManagement/service/sdktestapimv2-3294/backends?api-version=2024-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "3749",
        "x-ms-ratelimit-remaining-subscription-reads": "249"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/4d042dc6-fe17-4698-a23f-ec6a8d1e98f4/resourceGroups/testRG-9035/providers/Microsoft.ApiManagement/service/sdktestapimv2-3294/backends/backendid5654",
            "type": "Microsoft.ApiManagement/service/backends",
            "name": "backendid5654",
            "properties": {
              "title": null,
              "description": "description3974",
              "url": "https://backendname9017/",
              "protocol": "http",
              "credentials": {
                "query": {
                  "sv": [
                    "xx",
                    "bb",
                    "cc"
                  ]
                },
                "header": {
                  "x-my-1": [
                    "val1",
                    "val2"
                  ]
                },
                "authorization": {
                  "scheme": "basic",
                  "parameter": "opensemame"
                }
              },
              "tls": {
                "validateCertificateChain": true,
                "validateCertificateName": true
              }
            }
          }
        ],
        "count": 1
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/4d042dc6-fe17-4698-a23f-ec6a8d1e98f4/resourceGroups/testRG-9035/providers/Microsoft.ApiManagement/service/sdktestapimv2-3294/backends/backendid5654?api-version=2024-05-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-Match": "*"
      },
      "RequestBody": {
        "properties": {
          "description": "patchedDescription2626"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\"AAAAAAMFikI=\"",
        "x-ms-ratelimit-remaining-subscription-global-writes": "2999",
        "x-ms-ratelimit-remaining-subscription-writes": "199"
      },
      "ResponseBody": {
        "id": "/subscriptions/4d042dc6-fe17-4698-a23f-ec6a8d1e98f4/resourceGroups/testRG-9035/providers/Microsoft.ApiManagement/service/sdktestapimv2-3294/backends/backendid5654",
        "type": "Microsoft.ApiManagement/service/backends",
        "name": "backendid5654",
        "properties": {
          "title": null,
          "description": "patchedDescription2626",
          "url": "https://backendname9017/",
          "protocol": "http",
          "credentials": {
            "query": {
              "sv": [
                "xx",
                "bb",
                "cc"
              ]
            },
            "header": {
              "x-my-1": [
                "val1",
                "val2"
              ]
            },
            "authorization": {
              "scheme": "basic",
              "parameter": "opensemame"
            }
          },
          "tls": {
            "validateCertificateChain": true,
            "validateCertificateName": true
          }
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/4d042dc6-fe17-4698-a23f-ec6a8d1e98f4/resourceGroups/testRG-9035/providers/Microsoft.ApiManagement/service/sdktestapimv2-3294/backends/backendid5654?api-version=2024-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "3749",
        "x-ms-ratelimit-remaining-subscription-reads": "249"
      },
      "ResponseBody": {
        "error": {
          "code": "ResourceNotFound",
          "message": "Backend not found.",
          "details": null
        }
      }
    }
  ],
  "Variables": {
    "RandomSeed": "1702683315",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "4d042dc6-fe17-4698-a23f-ec6a8d1e98f4"
  }
}
