{
  "Entries": [
    {
      "RequestUri": "https://dummyaccount.eastus.batch.azure.com/jobschedules/jssdkJobSchedule-Basic837e/enable?api-version=2025-06-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json; odata=minimalmetadata"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "DataServiceId": "https://dummyaccount.eastus.batch.azure.com/jobschedules/jssdkJobSchedule-Basic837e/enable",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DE637248A55DBD",
        "Last-Modified": "Tue, 03 Feb 2026 22:19:22 GMT"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "JOB_SCHEDULE": "jssdkJobSchedule-Basic837e"
  }
}
