{
  "Entries": [
    {
      "RequestUri": "https://dummyaccount.eastus.batch.azure.com/jobschedules/jssdkJobSchedule-Basic837e?api-version=2025-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DE637239C6DFA2",
        "Last-Modified": "Tue, 03 Feb 2026 22:18:57 GMT"
      },
      "ResponseBody": {
        "odata.metadata": "https://dummyaccount.eastus.batch.azure.com/$metadata#jobschedules/@Element",
        "id": "jssdkJobSchedule-Basic837e",
        "url": "https://dummyaccount.eastus.batch.azure.com/jobschedules/jssdkJobSchedule-Basic837e",
        "eTag": "0x8DE637239C6DFA2",
        "lastModified": "2026-02-03T22:18:57.9945378Z",
        "creationTime": "2026-02-03T22:18:57.9945378Z",
        "state": "active",
        "stateTransitionTime": "2026-02-03T22:18:57.9945378Z",
        "schedule": {
          "doNotRunAfter": "2026-02-04T22:18:52.427Z",
          "recurrenceInterval": "PT2M"
        },
        "jobSpecification": {
          "displayName": "JobSchedule-1",
          "priority": 0,
          "maxParallelTasks": -1,
          "allowTaskPreemption": false,
          "usesTaskDependencies": false,
          "onAllTasksComplete": "noaction",
          "onTaskFailure": "noaction",
          "constraints": {
            "maxWallClockTime": "P10675199DT2H48M5.4775807S",
            "maxTaskRetryCount": 0
          },
          "poolInfo": {
            "poolId": "jssdkPool-Basicffd7"
          }
        },
        "executionInfo": {
          "nextRunTime": "2026-02-03T22:20:57.9945378Z",
          "recentJob": {
            "url": "https://dummyaccount.eastus.batch.azure.com/jobs/jssdkJobSchedule-Basic837e:job-1",
            "id": "jssdkJobSchedule-Basic837e:job-1"
          }
        }
      }
    }
  ],
  "Variables": {
    "JOB_SCHEDULE": "jssdkJobSchedule-Basic837e"
  }
}
