{
  "Entries": [
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-7f0e1496-07ed-5ea8-0568-da87e5f476f3?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 21 Feb 2025 23:59:10 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD52D3BC03329A\"",
        "Last-Modified": "Fri, 21 Feb 2025 23:59:10 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-7f0e1496-07ed-5ea8-0568-da87e5f476f3/sourceFolder/test-file-90099085-0eee-36a3-79f4-50f5057f9bbd?sv=Sanitized&se=2025-02-22T23%3A59%3A10Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD52D3BC148BBF\"",
        "Last-Modified": "Fri, 21 Feb 2025 23:59:10 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05",
        "x-ms-version-id": "2025-02-21T23:59:10.3518655Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-7f0e1496-07ed-5ea8-0568-da87e5f476f3/sourceFolder/test-file-90099085-0eee-36a3-79f4-50f5057f9bbd?sv=Sanitized&se=2025-02-22T23%3A59%3A10Z&sr=c&sp=racwdxltfi&sig=Sanitized&comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": "xxNCv3CFL6t2eL6MzFPU4qCID/k0RayWR8+r/DUShSOyDS7yPNtMnVuB7KQvvG2SHffwKUZJDoFmq3ih2jN2ZPOa2r4k4aXFO3KeslgHZ4phGN49IlvdaP+si5Fiq8InC4ixlOKvbTtRKu3Tq1soX0TuP8JUOEGXvHG/eFYUY5CwdqfQVdKosqqj7PhuCr2jgyxNc2z/09JGGthw8PXlPcZdIzS0WAlxRo0YsUxJKLKzG/Uqx/AksKLViTv6N8K1va4xEeaI7yoi2y3e5yGF/PIlvNQAu3bWOXOS387Ndw/LYvOeGBbMKyzKB+vDRcmAT41J1XrttAI3Wthz9hBcVGMdE4Qu5+TbWJGoNrOKE/OqEY9BhKKU3a3xZr0+WTQbbbKIpTFEUmeobnzpRX5[...]
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-7f0e1496-07ed-5ea8-0568-da87e5f476f3/sourceFolder/bar/test-file-ce6911bf-729b-87aa-2f28-b09a8733ec04?sv=Sanitized&se=2025-02-22T23%3A59%3A10Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD52D3BC30741D\"",
        "Last-Modified": "Fri, 21 Feb 2025 23:59:10 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05",
        "x-ms-version-id": "2025-02-21T23:59:10.5357606Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-7f0e1496-07ed-5ea8-0568-da87e5f476f3/sourceFolder/bar/test-file-ce6911bf-729b-87aa-2f28-b09a8733ec04?sv=Sanitized&se=2025-02-22T23%3A59%3A10Z&sr=c&sp=racwdxltfi&sig=Sanitized&comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": "2irWPO9Jt/lJJaY7WyOTQPZxQNm29aLN3O5T4dgJgU[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-7f0e1496-07ed-5ea8-0568-da87e5f476f3/sourceFolder/pik/test-file-202c621c-6534-78da-7b14-4917d2ffea8d?sv=Sanitized&se=2025-02-22T23%3A59%3A10Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD52D3BC3F3F03\"",
        "Last-Modified": "Fri, 21 Feb 2025 23:59:10 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05",
        "x-ms-version-id": "2025-02-21T23:59:10.6327055Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-7f0e1496-07ed-5ea8-0568-da87e5f476f3/sourceFolder/pik/test-file-202c621c-6534-78da-7b14-4917d2ffea8d?sv=Sanitized&se=2025-02-22T23%3A59%3A10Z&sr=c&sp=racwdxltfi&sig=Sanitized&comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": "5VP4ihMjPiqVgxm6KXvQb8ksUbX5ZR51JVDPtwT/P5[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-7f0e1496-07ed-5ea8-0568-da87e5f476f3?sv=Sanitized&se=2025-02-22T23%3A59%3A10Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container&comp=list&prefix=sourceFolder%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://jalauzonnettest.blob.core.windows.net/\" ContainerName=\"test-container-7f0e1496-07ed-5ea8-0568-da87e5f476f3\"><Prefix>sourceFolder/</Prefix><Blobs><Blob><Name>sourceFolder/bar/test-file-ce6911bf-729b-87aa-2f28-b09a8733ec04</Name><VersionId>2025-02-21T23:59:10.5357606Z</VersionId><IsCurrentVersion>true</IsCurrentVersion><Properties><Creation-Time>Fri, 21 Feb 2025 23:59:10 GMT</Creation-Time><Last-Modified>Fri, 21 Feb 2025 23:59:10 GMT</Last-Modified><Etag>0x8DD52D3BC38B047</Etag><Content-Length>1024</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64 /><Content-MD5 /><Cache-Control>no-cache</Cache-Control><Content-Disposition>inline</Content-Disposition><BlobType>AppendBlob</BlobType><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><Metadata><foo>bar</foo><meta>data</meta><Capital>letter</Capital><UPPER>case</UPPER></Metadata><OrMetadata /></Blob><Blob><Name>sourceFolder/pik/test-file-202c621c-6534-78da-7b14-4917d2ffea8d</Name><VersionId>2025-02-21T23:59:10.6327055Z</VersionId><IsCurrentVersion>true</IsCurrentVersion><Properties><Creation-Time>Fri, 21 Feb 2025 23:59:10 GMT</Creation-Time><Last-Modified>Fri, 21 Feb 2025 23:59:10 GMT</Last-Modified><Etag>0x8DD52D3BC461BD4</Etag><Content-Length>1024</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64 />[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-f4ba002e-e164-eb47-3839-a8e87dcb26ca/destFolder/pik/test-file-202c621c-6534-78da-7b14-4917d2ffea8d",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-encoding": "",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Fri, 21 Feb 2025 23:59:10 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD52D3BC5952E7\"",
        "Last-Modified": "Fri, 21 Feb 2025 23:59:10 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05",
        "x-ms-version-id": "2025-02-21T23:59:10.8026087Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-f4ba002e-e164-eb47-3839-a8e87dcb26ca/destFolder/test-file-632d8a22-ee1c-3a49-e5f1-d990b1554242",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-encoding": "",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Fri, 21 Feb 2025 23:59:10 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD52D3BC59EF10\"",
        "Last-Modified": "Fri, 21 Feb 2025 23:59:10 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05",
        "x-ms-version-id": "2025-02-21T23:59:10.8066064Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-f4ba002e-e164-eb47-3839-a8e87dcb26ca/destFolder/bar/test-file-ce6911bf-729b-87aa-2f28-b09a8733ec04",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-encoding": "",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Fri, 21 Feb 2025 23:59:10 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD52D3BC59EF10\"",
        "Last-Modified": "Fri, 21 Feb 2025 23:59:10 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05",
        "x-ms-version-id": "2025-02-21T23:59:10.8066064Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-f4ba002e-e164-eb47-3839-a8e87dcb26ca/destFolder/test-file-90099085-0eee-36a3-79f4-50f5057f9bbd?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-copy-source": "https://jalauzonnettest.blob.core.windows.net/test-container-7f0e1496-07ed-5ea8-0568-da87e5f476f3/sourceFolder/test-file-90099085-0eee-36a3-79f4-50f5057f9bbd?sv=sanitized-value&se=2025-02-22T23%3A59%3A10Z&sr=c&sp=racwdxltfi&sig=Sanitized",
        "x-ms-date": "Fri, 21 Feb 2025 23:59:10 GMT",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD52D3BC6B2A9D\"",
        "Last-Modified": "Fri, 21 Feb 2025 23:59:10 GMT",
        "x-ms-blob-append-offset": "0",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-content-crc64": "6YNXQQ6sku4=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-f4ba002e-e164-eb47-3839-a8e87dcb26ca/destFolder/pik/test-file-202c621c-6534-78da-7b14-4917d2ffea8d?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-copy-source": "https://jalauzonnettest.blob.core.windows.net/test-container-7f0e1496-07ed-5ea8-0568-da87e5f476f3/sourceFolder/pik/test-file-202c621c-6534-78da-7b14-4917d2ffea8d?sv=sanitized-value&se=2025-02-22T23%3A59%3A10Z&sr=c&sp=racwdxltfi&sig=Sanitized",
        "x-ms-date": "Fri, 21 Feb 2025 23:59:10 GMT",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD52D3BC7F4BED\"",
        "Last-Modified": "Fri, 21 Feb 2025 23:59:11 GMT",
        "x-ms-blob-append-offset": "0",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-content-crc64": "UW853S/AyTw=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-f4ba002e-e164-eb47-3839-a8e87dcb26ca/destFolder/bar/test-file-ce6911bf-729b-87aa-2f28-b09a8733ec04?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-copy-source": "https://jalauzonnettest.blob.core.windows.net/test-container-7f0e1496-07ed-5ea8-0568-da87e5f476f3/sourceFolder/bar/test-file-ce6911bf-729b-87aa-2f28-b09a8733ec04?sv=sanitized-value&se=2025-02-22T23%3A59%3A10Z&sr=c&sp=racwdxltfi&sig=Sanitized",
        "x-ms-date": "Fri, 21 Feb 2025 23:59:10 GMT",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD52D3BC81E39A\"",
        "Last-Modified": "Fri, 21 Feb 2025 23:59:11 GMT",
        "x-ms-blob-append-offset": "0",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-content-crc64": "euRiQulRGkg=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-7f0e1496-07ed-5ea8-0568-da87e5f476f3?sv=Sanitized&se=2025-02-22T23%3A59%3A10Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container&comp=list&prefix=sourceFolder",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "20[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-f4ba002e-e164-eb47-3839-a8e87dcb26ca?restype=container&comp=list&prefix=destFolder",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 21 Feb 2025 23:59:11 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-7f0e1496-07ed-5ea8-0568-da87e5f476f3/sourceFolder/bar/test-file-ce6911bf-729b-87aa-2f28-b09a8733ec04?sv=Sanitized&se=2025-02-22T23%3A59%3A10Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD52D3BC38B047\"",
        "Last-Modified": "Fri, 21 Feb 2025 23:59:10 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Fri, 21 Feb 2025 23:59:10 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05",
        "x-ms-version-id": "2025-02-21T23:59:10.5357606Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-7f0e1496-07ed-5ea8-0568-da87e5f476f3/sourceFolder/bar/test-file-ce6911bf-729b-87aa-2f28-b09a8733ec04?sv=Sanitized&se=2025-02-22T23%3A59%3A10Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DD52D3BC38B047\"",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD52D3BC38B047\"",
        "Last-Modified": "Fri, 21 Feb 2025 23:59:10 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Fri, 21 Feb 2025 23:59:10 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "[...]
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-7f0e1496-07ed-5ea8-0568-da87e5f476f3?sv=Sanitized&se=2025-02-22T23%3A59%3A10Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 403,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "AuthorizationFailure",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>AuthorizationFailure</Code><Message>This request is not authorized to perform this operation.\n",
        "RequestId:037c3d8b-301e-0062-22bc-8418e5000000\n",
        "Time:2025-02-21T23:59:12.5047977Z</Message></Error>"
      ]
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2025-02-21T15:59:10.2643782-08:00",
    "RandomSeed": "1524470199",
    "Storage_TestConfigDefault": "ProductionTenant\njalauzonnettest\nU2FuaXRpemVk\nhttps://jalauzonnettest.blob.core.windows.net\nhttps://jalauzonnettest.file.core.windows.net\nhttps://jalauzonnettest.queue.core.windows.net\nhttps://jalauzonnettest.table.core.windows.net\n\n\n\n\nhttps://jalauzonnettest-secondary.blob.core.windows.net\nhttps://jalauzonnettest-secondary.file.core.windows.net\nhttps://jalauzonnettest-secondary.queue.core.windows.net\nhttps://jalauzonnettest-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://jalauzonnettest.blob.core.windows.net/;QueueEndpoint=https://jalauzonnettest.queue.core.windows.net/;FileEndpoint=https://jalauzonnettest.file.core.windows.net/;BlobSecondaryEndpoint=https://jalauzonnettest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jalauzonnettest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jalauzonnettest-secondary.file.core.windows.net/;AccountName=jalauzonnettest;AccountKey=U2FuaXRpemVk\ntestscope1\n\n"
  }
}
