{
  "Entries": [
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-db2e63ad-8e59-9681-a55f-0a8fa0113519?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 09 Oct 2024 21:06:30 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCE8A63F80CD1F\"",
        "Last-Modified": "Wed, 09 Oct 2024 21:06:30 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-db2e63ad-8e59-9681-a55f-0a8fa0113519/sourceFolder/test-file-e1aded06-5793-adb4-603d-46e95f0b57f6?sv=Sanitized&se=2024-10-10T21%3A06%3A30Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "text/plain",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCE8A63F902DB0\"",
        "Last-Modified": "Wed, 09 Oct 2024 21:06:30 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05",
        "x-ms-version-id": "2024-10-09T21:06:30.8396464Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-db2e63ad-8e59-9681-a55f-0a8fa0113519/sourceFolder/bar/test-file-48d697d1-90d3-0895-93df-c66002b387c1?sv=Sanitized&se=2024-10-10T21%3A06%3A30Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "text/plain",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCE8A63F9D993E\"",
        "Last-Modified": "Wed, 09 Oct 2024 21:06:30 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05",
        "x-ms-version-id": "2024-10-09T21:06:30.9275966Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-db2e63ad-8e59-9681-a55f-0a8fa0113519/sourceFolder/pik/test-file-22b577f5-28c8-93e5-9427-830c19dbe268?sv=Sanitized&se=2024-10-10T21%3A06%3A30Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "text/plain",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCE8A63FA427FA\"",
        "Last-Modified": "Wed, 09 Oct 2024 21:06:30 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05",
        "x-ms-version-id": "2024-10-09T21:06:30.9705722Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-db2e63ad-8e59-9681-a55f-0a8fa0113519?sv=Sanitized&se=2024-10-10T21%3A06%3A30Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container&comp=list&prefix=sourceFolder%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://jalauzonnettest.blob.core.windows.net/\" ContainerName=\"test-container-db2e63ad-8e59-9681-a55f-0a8fa0113519\"><Prefix>sourceFolder/</Prefix><Blobs><Blob><Name>sourceFolder/bar/test-file-48d697d1-90d3-0895-93df-c66002b387c1</Name><VersionId>2024-10-09T21:06:30.9275966Z</VersionId><IsCurrentVersion>true</IsCurrentVersion><Properties><Creation-Time>Wed, 09 Oct 2024 21:06:30 GMT</Creation-Time><Last-Modified>Wed, 09 Oct 2024 21:06:30 GMT</Last-Modified><Etag>0x8DCE8A63F9D993E</Etag><Content-Length>0</Content-Length><Content-Type>text/plain</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64 /><Content-MD5 /><Cache-Control>no-cache</Cache-Control><Content-Disposition>inline</Content-Disposition><BlobType>AppendBlob</BlobType><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><Metadata><foo>bar</foo><meta>data</meta><Capital>letter</Capital><UPPER>case</UPPER></Metadata><OrMetadata /></Blob><Blob><Name>sourceFolder/pik/test-file-22b577f5-28c8-93e5-9427-830c19dbe268</Name><VersionId>2024-10-09T21:06:30.9705722Z</VersionId><IsCurrentVersion>true</IsCurrentVersion><Properties><Creation-Time>Wed, 09 Oct 2024 21:06:30 GMT</Creation-Time><Last-Modified>Wed, 09 Oct 2024 21:06:30 GMT</Last-Modified><Etag>0x8DCE8A63FA427FA</Etag><Content-Length>0</Content-Length><Content-Type>text/plain</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64 /><Co[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-f09a6ebf-82e6-3de7-9418-9f485f19eb9c/destFolder/bar/test-file-48d697d1-90d3-0895-93df-c66002b387c1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-encoding": "",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "text/plain",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Wed, 09 Oct 2024 21:06:31 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCE8A63FB75F15\"",
        "Last-Modified": "Wed, 09 Oct 2024 21:06:31 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05",
        "x-ms-version-id": "2024-10-09T21:06:31.0965013Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-f09a6ebf-82e6-3de7-9418-9f485f19eb9c/destFolder/pik/test-file-22b577f5-28c8-93e5-9427-830c19dbe268",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-encoding": "",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "text/plain",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Wed, 09 Oct 2024 21:06:31 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCE8A63FB82248\"",
        "Last-Modified": "Wed, 09 Oct 2024 21:06:31 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05",
        "x-ms-version-id": "2024-10-09T21:06:31.1014984Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-f09a6ebf-82e6-3de7-9418-9f485f19eb9c/destFolder/test-file-e1aded06-5793-adb4-603d-46e95f0b57f6",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-encoding": "",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "text/plain",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Wed, 09 Oct 2024 21:06:31 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCE8A63FB82248\"",
        "Last-Modified": "Wed, 09 Oct 2024 21:06:31 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05",
        "x-ms-version-id": "2024-10-09T21:06:31.1024975Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-db2e63ad-8e59-9681-a55f-0a8fa0113519?sv=Sanitized&se=2024-10-10T21%3A06%3A30Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container&comp=list&prefix=sourceFolder",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "20[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-f09a6ebf-82e6-3de7-9418-9f485f19eb9c?restype=container&comp=list&prefix=destFolder",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 09 Oct 2024 21:06:31 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-db2e63ad-8e59-9681-a55f-0a8fa0113519/sourceFolder/bar/test-file-48d697d1-90d3-0895-93df-c66002b387c1?sv=Sanitized&se=2024-10-10T21%3A06%3A30Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Type": "text/plain",
        "ETag": "\"0x8DCE8A63F9D993E\"",
        "Last-Modified": "Wed, 09 Oct 2024 21:06:30 GMT",
        "x-ms-blob-committed-block-count": "0",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Wed, 09 Oct 2024 21:06:30 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-01-05",
        "x-ms-version-id": "2024-10-09T21:06:30.9275966Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-db2e63ad-8e59-9681-a55f-0a8fa0113519?sv=Sanitized&se=2024-10-10T21%3A06%3A30Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 403,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "AuthorizationFailure",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>AuthorizationFailure</Code><Message>This request is not authorized to perform this operation.\n",
        "RequestId:d0026194-e01e-0061-048f-1af981000000\n",
        "Time:2024-10-09T21:06:32.0977810Z</Message></Error>"
      ]
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-10-09T14:06:30.7584112-07:00",
    "RandomSeed": "717619629",
    "Storage_TestConfigDefault": "ProductionTenant\njalauzonnettest\nU2FuaXRpemVk\nhttps://jalauzonnettest.blob.core.windows.net\nhttps://jalauzonnettest.file.core.windows.net\nhttps://jalauzonnettest.queue.core.windows.net\nhttps://jalauzonnettest.table.core.windows.net\n\n\n\n\nhttps://jalauzonnettest-secondary.blob.core.windows.net\nhttps://jalauzonnettest-secondary.file.core.windows.net\nhttps://jalauzonnettest-secondary.queue.core.windows.net\nhttps://jalauzonnettest-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://jalauzonnettest.blob.core.windows.net/;QueueEndpoint=https://jalauzonnettest.queue.core.windows.net/;FileEndpoint=https://jalauzonnettest.file.core.windows.net/;BlobSecondaryEndpoint=https://jalauzonnettest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jalauzonnettest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jalauzonnettest-secondary.file.core.windows.net/;AccountName=jalauzonnettest;AccountKey=Sanitized\ntestscope1\n\n"
  }
}
