{
  "Entries": [
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-47dbef76-b982-d770-6e0e-cf5686ec6c95?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 07 May 2025 22:03:21 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD8DB2FB2A3ED3\"",
        "Last-Modified": "Wed, 07 May 2025 22:03:21 GMT",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-47dbef76-b982-d770-6e0e-cf5686ec6c95/sourceFolder/folder0/test-file-6331853f-6346-d14f-e6a6-c4c13c7257d5?sv=Sanitized&se=2025-05-08T22%3A03%3A21Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD8DB2FB3D8060\"",
        "Last-Modified": "Wed, 07 May 2025 22:03:21 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05",
        "x-ms-version-id": "2025-05-07T22:03:21.5285344Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-47dbef76-b982-d770-6e0e-cf5686ec6c95/sourceFolder/folder0/test-file-6331853f-6346-d14f-e6a6-c4c13c7257d5?sv=Sanitized&se=2025-05-08T22%3A03%3A21Z&sr=c&sp=racwdxltfi&sig=Sanitized&comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": "AXcg5f10TYUtGUALk6kM3WRkvWCxp/vFAy1L19hwrvl6Om34jDLGyjirNiwiQz49muZc2LT3JFp7WuHPKXatvGtHkVg7FFAxnvMnBXHPo7/vDT3xFNZEghYTfDJR96DC/nnB2rLlAYWVKznBzx7orLch3xs4u6iVAw5CKJce4KZSZQf3DsgNCgy3W+icg7P3KtB6LxeEiULRLNejo9nudkuTb2kW8Z7vFNUPgF+/+IBbSv7GpLGOzdzFJuHxaWYzyeWdCRNJ4DkyihpCdQjiETNXSFnaJ9KaBKKNUcq8/qpu3Ld6Iu9sEWnFkxmWTFfT4xWumSENWKESAwVxvI9udoxw1JhRZ+5E6jbvFZO4BLdKuW60DWSIYIQVaB/q+1XZVh2MJXe/gnwmaq/rHUI[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-47dbef76-b982-d770-6e0e-cf5686ec6c95?sv=Sanitized&se=2025-05-08T22%3A03%3A21Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container&comp=list&prefix=sourceFolder%2F&delimiter=%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://jalauzonnettest.blob.core.windows.net/\" ContainerName=\"test-container-47dbef76-b982-d770-6e0e-cf5686ec6c95\"><Prefix>sourceFolder/</Prefix><Delimiter>/</Delimiter><Blobs><BlobPrefix><Name>sourceFolder/folder0/</Name></BlobPrefix></Blobs><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-47dbef76-b982-d770-6e0e-cf5686ec6c95?sv=Sanitized&se=2025-05-08T22%3A03%3A21Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container&comp=list&prefix=sourceFolder%2Ffolder0%2F&delimiter=%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://jalauzonnettest.blob.core.windows.net/\" ContainerName=\"test-container-47dbef76-b982-d770-6e0e-cf5686ec6c95\"><Prefix>sourceFolder/folder0/</Prefix><Delimiter>/</Delimiter><Blobs><Blob><Name>sourceFolder/folder0/test-file-6331853f-6346-d14f-e6a6-c4c13c7257d5</Name><VersionId>2025-05-07T22:03:21.5285344Z</VersionId><IsCurrentVersion>true</IsCurrentVersion><Properties><Creation-Time>Wed, 07 May 2025 22:03:21 GMT</Creation-Time><Last-Modified>Wed, 07 May 2025 22:03:21 GMT</Last-Modified><Etag>0x8DD8DB2FB460AA4</Etag><Content-Length>1024</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64 /><Content-MD5 /><Cache-Control>no-cache</Cache-Control><Content-Disposition>inline</Content-Disposition><BlobType>AppendBlob</BlobType><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><Metadata><foo>bar</foo><meta>data</meta><Capital>letter</Capital><UPPER>case</UPPER></Metadata><OrMetadata /></Blob></Blobs><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-4f23ff74-653d-3d6e-b80d-b94938fca6cc/destFolder/folder0/test-file-6331853f-6346-d14f-e6a6-c4c13c7257d5",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-encoding": "",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Wed, 07 May 2025 22:03:21 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD8DB2FB5A2BFE\"",
        "Last-Modified": "Wed, 07 May 2025 22:03:21 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05",
        "x-ms-version-id": "2025-05-07T22:03:21.7164286Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-4f23ff74-653d-3d6e-b80d-b94938fca6cc/destFolder/folder0/test-file-6331853f-6346-d14f-e6a6-c4c13c7257d5?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-copy-source": "https://jalauzonnettest.blob.core.windows.net/test-container-47dbef76-b982-d770-6e0e-cf5686ec6c95/sourceFolder/folder0/test-file-6331853f-6346-d14f-e6a6-c4c13c7257d5?sv=sanitized-value&se=2025-05-08T22%3A03%3A21Z&sr=c&sp=racwdxltfi&sig=Sanitized",
        "x-ms-date": "Wed, 07 May 2025 22:03:21 GMT",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD8DB2FB61CBFF\"",
        "Last-Modified": "Wed, 07 May 2025 22:03:21 GMT",
        "x-ms-blob-append-offset": "0",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-content-crc64": "NmS1vPv5oco=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-47dbef76-b982-d770-6e0e-cf5686ec6c95?sv=Sanitized&se=2025-05-08T22%3A03%3A21Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container&comp=list&prefix=sourceFolder",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "20[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-4f23ff74-653d-3d6e-b80d-b94938fca6cc?restype=container&comp=list&prefix=destFolder",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 07 May 2025 22:03:22 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-47dbef76-b982-d770-6e0e-cf5686ec6c95/sourceFolder/folder0/test-file-6331853f-6346-d14f-e6a6-c4c13c7257d5?sv=Sanitized&se=2025-05-08T22%3A03%3A21Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD8DB2FB460AA4\"",
        "Last-Modified": "Wed, 07 May 2025 22:03:21 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Wed, 07 May 2025 22:03:21 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-07-05",
        "x-ms-version-id": "2025-05-07T22:03:21.5285344Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-47dbef76-b982-d770-6e0e-cf5686ec6c95/sourceFolder/folder0/test-file-6331853f-6346-d14f-e6a6-c4c13c7257d5?sv=Sanitized&se=2025-05-08T22%3A03%3A21Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DD8DB2FB460AA4\"",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD8DB2FB460AA4\"",
        "Last-Modified": "Wed, 07 May 2025 22:03:21 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Wed, 07 May 2025 22:03:21 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "[...]
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-47dbef76-b982-d770-6e0e-cf5686ec6c95?sv=Sanitized&se=2025-05-08T22%3A03%3A21Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 403,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "AuthorizationFailure",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>AuthorizationFailure</Code><Message>This request is not authorized to perform this operation.\n",
        "RequestId:e1ad709e-d01e-0055-4e9b-bfca49000000\n",
        "Time:2025-05-07T22:03:22.3644908Z</Message></Error>"
      ]
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2025-05-07T15:03:21.4364701-07:00",
    "RandomSeed": "814814570",
    "Storage_TestConfigDefault": "ProductionTenant\njalauzonnettest\nU2FuaXRpemVk\nhttps://jalauzonnettest.blob.core.windows.net\nhttps://jalauzonnettest.file.core.windows.net\nhttps://jalauzonnettest.queue.core.windows.net\nhttps://jalauzonnettest.table.core.windows.net\n\n\n\n\nhttps://jalauzonnettest-secondary.blob.core.windows.net\nhttps://jalauzonnettest-secondary.file.core.windows.net\nhttps://jalauzonnettest-secondary.queue.core.windows.net\nhttps://jalauzonnettest-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://jalauzonnettest.blob.core.windows.net/;QueueEndpoint=https://jalauzonnettest.queue.core.windows.net/;FileEndpoint=https://jalauzonnettest.file.core.windows.net/;BlobSecondaryEndpoint=https://jalauzonnettest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jalauzonnettest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jalauzonnettest-secondary.file.core.windows.net/;AccountName=jalauzonnettest;AccountKey=U2FuaXRpemVk\ntestscope1\n\n"
  }
}
