{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-4a4aba18-49ef-ca7b-c8e2-660ff34d1154?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 00:33:53 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D0FBD068698\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:33:53 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-4a4aba18-49ef-ca7b-c8e2-660ff34d1154/sourceFolder/folder0/test-file-7b324f61-5584-9986-2ea9-993c9f860f66?sv=Sanitized&se=2025-03-08T00%3A33%3A53Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D0FBD1DCF98\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:33:53 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-4a4aba18-49ef-ca7b-c8e2-660ff34d1154/sourceFolder/folder0/test-file-7b324f61-5584-9986-2ea9-993c9f860f66?sv=Sanitized&se=2025-03-08T00%3A33%3A53Z&sr=c&sp=racwdxltfi&sig=Sanitized&comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": "tYBivD3CKTkFNaeAiVPa7PxCgaUCcS85ijm9/OT8BupUEPlNw/ptnyX4dk+uBhDaz60/XQVqY0RQKTEEBCxVCS69K3hajCgC1OF/Cfvgi4Qp4i02vKnl6qy0/JrJaZr4o2wg8NqXgEKEPYgj6llJb52s2yL/HkyF10DLpZCNOGtHh2aOwJqpkWHrsn8gwv9Taoz9HI14+YUgmxmZy9uy9wQd22Pzu68DAknAFGzMZBVBeDoDkBvez47gbiWBEMaGOLp7A+abYK/d+hpDt+QZUzYDWFOgrmboPwzVEkyJgfKDOtuxUWEupRiLJpYBmhepxxrvfbdz5YpUksTZxk1iU3gowH0JaALV1LI7FYjQ56T1K0symgQ6EFRRXL6cVd/KKNMe2dmZn18YGqgFN88[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-4a4aba18-49ef-ca7b-c8e2-660ff34d1154/sourceFolder/folder0/folder1/test-file-8a257169-d8b6-bb3f-06f6-7d707c5c8312?sv=Sanitized&se=2025-03-08T00%3A33%3A53Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D0FBD2FBCDD\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:33:53 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-4a4aba18-49ef-ca7b-c8e2-660ff34d1154/sourceFolder/folder0/folder1/test-file-8a257169-d8b6-bb3f-06f6-7d707c5c8312?sv=Sanitized&se=2025-03-08T00%3A33%3A53Z&sr=c&sp=racwdxltfi&sig=Sanitized&comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": "54zC17pHlkUMNFSACxLnzfUz/5FlDTPA[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-4a4aba18-49ef-ca7b-c8e2-660ff34d1154/sourceFolder/folder0/folder1/folder2/test-file-36d01382-95e3-a063-66f6-6d5c75b46c88?sv=Sanitized&se=2025-03-08T00%3A33%3A53Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D0FBD4072F6\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:33:53 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-4a4aba18-49ef-ca7b-c8e2-660ff34d1154/sourceFolder/folder0/folder1/folder2/test-file-36d01382-95e3-a063-66f6-6d5c75b46c88?sv=Sanitized&se=2025-03-08T00%3A33%3A53Z&sr=c&sp=racwdxltfi&sig=Sanitized&comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": "odUemS6rDiLbusBGPCiPir2n[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-4a4aba18-49ef-ca7b-c8e2-660ff34d1154?sv=Sanitized&se=2025-03-08T00%3A33%3A53Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container&comp=list&prefix=sourceFolder%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.blob.core.windows.net/\" ContainerName=\"test-container-4a4aba18-49ef-ca7b-c8e2-660ff34d1154\"><Prefix>sourceFolder/</Prefix><Blobs><Blob><Name>sourceFolder/folder0/folder1/folder2/test-file-36d01382-95e3-a063-66f6-6d5c75b46c88</Name><Properties><Creation-Time>Fri, 07 Mar 2025 00:33:53 GMT</Creation-Time><Last-Modified>Fri, 07 Mar 2025 00:33:53 GMT</Last-Modified><Etag>0x8DD5D0FBD48A71C</Etag><Content-Length>1024</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64 /><Content-MD5 /><Cache-Control>no-cache</Cache-Control><Content-Disposition>inline</Content-Disposition><BlobType>AppendBlob</BlobType><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><Metadata><foo>bar</foo><meta>data</meta><Capital>letter</Capital><UPPER>case</UPPER></Metadata><OrMetadata /></Blob><Blob><Name>sourceFolder/folder0/folder1/test-file-8a257169-d8b6-bb3f-06f6-7d707c5c8312</Name><Properties><Creation-Time>Fri, 07 Mar 2025 00:33:53 GMT</Creation-Time><Last-Modified>Fri, 07 Mar 2025 00:33:53 GMT</Last-Modified><Etag>0x8DD5D0FBD383ED1</Etag><Content-Length>1024</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64 /><Content-MD5 /><Cache-Control>no-cache</Cache-Control><Content-Disposition>inlin[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-ac513098-8def-0469-9ba3-35f1cc10add0/destFolder/folder0/folder1/test-file-8a257169-d8b6-bb3f-06f6-7d707c5c8312",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-encoding": "",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Fri, 07 Mar 2025 00:33:54 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D0FBD677E24\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:33:54 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-ac513098-8def-0469-9ba3-35f1cc10add0/destFolder/folder0/folder1/folder2/test-file-36d01382-95e3-a063-66f6-6d5c75b46c88",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-encoding": "",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Fri, 07 Mar 2025 00:33:54 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D0FBD690311\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:33:54 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-ac513098-8def-0469-9ba3-35f1cc10add0/destFolder/folder0/test-file-7b324f61-5584-9986-2ea9-993c9f860f66",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-encoding": "",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Fri, 07 Mar 2025 00:33:54 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D0FBD690311\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:33:54 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-ac513098-8def-0469-9ba3-35f1cc10add0/destFolder/folder0/folder1/test-file-8a257169-d8b6-bb3f-06f6-7d707c5c8312?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-4a4aba18-49ef-ca7b-c8e2-660ff34d1154/sourceFolder/folder0/folder1/test-file-8a257169-d8b6-bb3f-06f6-7d707c5c8312?sv=sanitized-value&se=2025-03-08T00%3A33%3A53Z&sr=c&sp=racwdxltfi&sig=Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 00:33:54 GMT",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D0FBD709BA8\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:33:54 GMT",
        "x-ms-blob-append-offset": "0",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-content-crc64": "TbUrXxK6wJ8=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-ac513098-8def-0469-9ba3-35f1cc10add0/destFolder/folder0/folder1/folder2/test-file-36d01382-95e3-a063-66f6-6d5c75b46c88?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-4a4aba18-49ef-ca7b-c8e2-660ff34d1154/sourceFolder/folder0/folder1/folder2/test-file-36d01382-95e3-a063-66f6-6d5c75b46c88?sv=sanitized-value&se=2025-03-08T00%3A33%3A53Z&sr=c&sp=racwdxltfi&sig=Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 00:33:54 GMT",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D0FBD71F9AF\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:33:54 GMT",
        "x-ms-blob-append-offset": "0",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-content-crc64": "WzfAWUcQK3w=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-ac513098-8def-0469-9ba3-35f1cc10add0/destFolder/folder0/test-file-7b324f61-5584-9986-2ea9-993c9f860f66?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-4a4aba18-49ef-ca7b-c8e2-660ff34d1154/sourceFolder/folder0/test-file-7b324f61-5584-9986-2ea9-993c9f860f66?sv=sanitized-value&se=2025-03-08T00%3A33%3A53Z&sr=c&sp=racwdxltfi&sig=Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 00:33:54 GMT",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D0FBD71F9AF\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:33:54 GMT",
        "x-ms-blob-append-offset": "0",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-content-crc64": "yMFvqaLPGLU=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-4a4aba18-49ef-ca7b-c8e2-660ff34d1154?sv=Sanitized&se=2025-03-08T00%3A33%3A53Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container&comp=list&prefix=sourceFolder",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-ac513098-8def-0469-9ba3-35f1cc10add0?restype=container&comp=list&prefix=destFolder",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 00:33:54 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-4a4aba18-49ef-ca7b-c8e2-660ff34d1154/sourceFolder/folder0/folder1/folder2/test-file-36d01382-95e3-a063-66f6-6d5c75b46c88?sv=Sanitized&se=2025-03-08T00%3A33%3A53Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD5D0FBD48A71C\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:33:53 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Fri, 07 Mar 2025 00:33:53 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-4a4aba18-49ef-ca7b-c8e2-660ff34d1154/sourceFolder/folder0/folder1/folder2/test-file-36d01382-95e3-a063-66f6-6d5c75b46c88?sv=Sanitized&se=2025-03-08T00%3A33%3A53Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DD5D0FBD48A71C\"",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD5D0FBD48A71C\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:33:53 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Fri, 07 Mar 2025 00:33:53 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
   [...]
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-4a4aba18-49ef-ca7b-c8e2-660ff34d1154?sv=Sanitized&se=2025-03-08T00%3A33%3A53Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 403,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "AuthorizationFailure",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>AuthorizationFailure</Code><Message>This request is not authorized to perform this operation.\n",
        "RequestId:7ecc2344-d01e-0049-03f8-8ee25f000000\n",
        "Time:2025-03-07T00:33:55.6061985Z</Message></Error>"
      ]
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2025-03-06T16:33:53.4193505-08:00",
    "RandomSeed": "285550216",
    "Storage_TestConfigDefault": "ProductionTenant\namandapreprod\nU2FuaXRpemVk\nhttps://amandapreprod.blob.core.windows.net\nhttps://amandapreprod.file.core.windows.net\nhttps://amandapreprod.queue.core.windows.net\nhttps://amandapreprod.table.core.windows.net\n\n\n\n\nhttps://amandapreprod-secondary.blob.core.windows.net\nhttps://amandapreprod-secondary.file.core.windows.net\nhttps://amandapreprod-secondary.queue.core.windows.net\nhttps://amandapreprod-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandapreprod.blob.core.windows.net/;QueueEndpoint=https://amandapreprod.queue.core.windows.net/;FileEndpoint=https://amandapreprod.file.core.windows.net/;BlobSecondaryEndpoint=https://amandapreprod-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandapreprod-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandapreprod-secondary.file.core.windows.net/;AccountName=amandapreprod;AccountKey=U2FuaXRpemVk\nencryptionScope\n\n"
  }
}
