{
  "Entries": [
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-a21afd5d-29c6-8d81-1467-efcbc1b45be6?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 03 Jul 2025 21:09:29 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDBA75E6A48826\"",
        "Last-Modified": "Thu, 03 Jul 2025 21:09:29 GMT",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-a21afd5d-29c6-8d81-1467-efcbc1b45be6/source%2521path%2540%2523%2525/file%3Dtest%21%40%23%24%25?sv=Sanitized&se=2025-07-04T21%3A09%3A30Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDBA75E6B7E7C4\"",
        "Last-Modified": "Thu, 03 Jul 2025 21:09:30 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05",
        "x-ms-version-id": "2025-07-03T21:09:30.1230532Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-a21afd5d-29c6-8d81-1467-efcbc1b45be6/source%2521path%2540%2523%2525/file%3Dtest%21%40%23%24%25?sv=Sanitized&se=2025-07-04T21%3A09%3A30Z&sr=c&sp=racwdxltfi&sig=Sanitized&comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": "E4BtxBWIHmgOuhIRskUMJhTrx+3GtZ1mr0OYGeHuEpE6jXM56y2qkK6RIgQ9nStnXlZkQPSqx17iBhXS7wWGIKiB1iTS0jrmQTc/NJOYKRIYMLqLidGdkMYVVuUX2KCoCwJcu8YGlYwbff68apPLSdwDub9L+5bW5EZdvXtVz2mXlimQPG5LEZsubwvT4CUySgwIFB7gXQ9shtZ/qNcQxq6VJdNpOg1ut6ckHIuLAwMhK3NuTLtKtjkZJLWXzGjDHahcPbtSyQ//mlx2vECD4YPSXn1koXrzS26aUBZX1+s/YP7jLsVIz2Fjb7Je0/n4lUMyxG3qXnsuafFMt3j4p8JxN1tCoLK9io8bATLHlXh0orrTJRN9VAKCtMTU+xfpasjv7JuetvWQdDnezl1[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-a21afd5d-29c6-8d81-1467-efcbc1b45be6/source%2521path%2540%2523%2525/file%253Dtest%2526?sv=Sanitized&se=2025-07-04T21%3A09%3A30Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDBA75E6C88720\"",
        "Last-Modified": "Thu, 03 Jul 2025 21:09:30 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05",
        "x-ms-version-id": "2025-07-03T21:09:30.2319904Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-a21afd5d-29c6-8d81-1467-efcbc1b45be6/source%2521path%2540%2523%2525/file%253Dtest%2526?sv=Sanitized&se=2025-07-04T21%3A09%3A30Z&sr=c&sp=racwdxltfi&sig=Sanitized&comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": "LHSISk7JV1K+vlkm7GrzFtZKKP2CaMiBAWz+lilW8z37Mw/PnyFBoVi6[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-a21afd5d-29c6-8d81-1467-efcbc1b45be6/source%2521path%2540%2523%2525/folder%3Dbar/subfile%3Dtest%21%40%23%24%25?sv=Sanitized&se=2025-07-04T21%3A09%3A30Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDBA75E6D8D86E\"",
        "Last-Modified": "Thu, 03 Jul 2025 21:09:30 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05",
        "x-ms-version-id": "2025-07-03T21:09:30.3389294Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-a21afd5d-29c6-8d81-1467-efcbc1b45be6/source%2521path%2540%2523%2525/folder%3Dbar/subfile%3Dtest%21%40%23%24%25?sv=Sanitized&se=2025-07-04T21%3A09%3A30Z&sr=c&sp=racwdxltfi&sig=Sanitized&comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": "sR+NWpHJT03W1ot9m1QV2UK5zhlVYkGI[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-a21afd5d-29c6-8d81-1467-efcbc1b45be6/source%2521path%2540%2523%2525/folder%3Dbar/subfile%253Dtest%2526?sv=Sanitized&se=2025-07-04T21%3A09%3A30Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDBA75E6E929B5\"",
        "Last-Modified": "Thu, 03 Jul 2025 21:09:30 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05",
        "x-ms-version-id": "2025-07-03T21:09:30.4468673Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-a21afd5d-29c6-8d81-1467-efcbc1b45be6/source%2521path%2540%2523%2525/folder%3Dbar/subfile%253Dtest%2526?sv=Sanitized&se=2025-07-04T21%3A09%3A30Z&sr=c&sp=racwdxltfi&sig=Sanitized&comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": "ITjq/VdFM+xQUfcK+0sxnbcHhkpbbuakaT3ewwWo[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-a21afd5d-29c6-8d81-1467-efcbc1b45be6?sv=Sanitized&se=2025-07-04T21%3A09%3A30Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container&comp=list&prefix=source%2521path%2540%2523%2525%2F&delimiter=%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://jalauzonnettest.blob.core.windows.net/\" ContainerName=\"test-container-a21afd5d-29c6-8d81-1467-efcbc1b45be6\"><Prefix>source%21path%40%23%25/</Prefix><Delimiter>/</Delimiter><Blobs><Blob><Name>source%21path%40%23%25/file%3Dtest%26</Name><VersionId>2025-07-03T21:09:30.2319904Z</VersionId><IsCurrentVersion>true</IsCurrentVersion><Properties><Creation-Time>Thu, 03 Jul 2025 21:09:30 GMT</Creation-Time><Last-Modified>Thu, 03 Jul 2025 21:09:30 GMT</Last-Modified><Etag>0x8DDBA75E6CEC7C6</Etag><Content-Length>1024</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64 /><Content-MD5 /><Cache-Control>no-cache</Cache-Control><Content-Disposition>inline</Content-Disposition><BlobType>AppendBlob</BlobType><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><Metadata><foo>bar</foo><meta>data</meta><Capital>letter</Capital><UPPER>case</UPPER></Metadata><OrMetadata /></Blob><Blob><Name>source%21path%40%23%25/file=test!@#$%</Name><VersionId>2025-07-03T21:09:30.1230532Z</VersionId><IsCurrentVersion>true</IsCurrentVersion><Properties><Creation-Time>Thu, 03 Jul 2025 21:09:30 GMT</Creation-Time><Last-Modified>Thu, 03 Jul 2025 21:09:30 GMT</Last-Modified><Etag>0x8DDBA75E6C04AF6</Etag><Content-Length>1024</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64 /><Content-MD5 /><Cache-Control>no-cache</Cache-Control><Content-Disposition>inline</Content-Disposition><BlobType>AppendBlob</BlobType><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><Metadata><foo>bar</foo><meta>data</meta><Capital>letter</Capital><UPPER>case</UPPER></Metadata><OrMetadata /></Blob><BlobPrefix><Name>source%21path%40%23%25/folder=bar/</Name></BlobPrefix></Blobs><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-a21afd5d-29c6-8d81-1467-efcbc1b45be6?sv=Sanitized&se=2025-07-04T21%3A09%3A30Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container&comp=list&prefix=source%2521path%2540%2523%2525%2Ffolder%3Dbar%2F&delimiter=%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
   [...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-5ff875c7-cde2-c6cd-7f05-ace0bac0e75c/source%2521path%2540%2523%2525/file%253Dtest%2526",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-encoding": "",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Thu, 03 Jul 2025 21:09:30 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDBA75E719F68A\"",
        "Last-Modified": "Thu, 03 Jul 2025 21:09:30 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05",
        "x-ms-version-id": "2025-07-03T21:09:30.7656842Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-5ff875c7-cde2-c6cd-7f05-ace0bac0e75c/source%2521path%2540%2523%2525/file%3Dtest%21%40%23%24%25",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-encoding": "",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Thu, 03 Jul 2025 21:09:30 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDBA75E71B7CF8\"",
        "Last-Modified": "Thu, 03 Jul 2025 21:09:30 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05",
        "x-ms-version-id": "2025-07-03T21:09:30.7766786Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-5ff875c7-cde2-c6cd-7f05-ace0bac0e75c/source%2521path%2540%2523%2525/folder%3Dbar/subfile%3Dtest%21%40%23%24%25",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-encoding": "",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Thu, 03 Jul 2025 21:09:30 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDBA75E72259BF\"",
        "Last-Modified": "Thu, 03 Jul 2025 21:09:30 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05",
        "x-ms-version-id": "2025-07-03T21:09:30.8216529Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-5ff875c7-cde2-c6cd-7f05-ace0bac0e75c/source%2521path%2540%2523%2525/folder%3Dbar/subfile%253Dtest%2526",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-encoding": "",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Thu, 03 Jul 2025 21:09:30 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDBA75E72259BF\"",
        "Last-Modified": "Thu, 03 Jul 2025 21:09:30 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05",
        "x-ms-version-id": "2025-07-03T21:09:30.8206527Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-5ff875c7-cde2-c6cd-7f05-ace0bac0e75c/source%2521path%2540%2523%2525/file%253Dtest%2526?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-copy-source": "https://jalauzonnettest.blob.core.windows.net/test-container-a21afd5d-29c6-8d81-1467-efcbc1b45be6/source%2521path%2540%2523%2525/file%253Dtest%2526?sv=sanitized-value&se=2025-07-04T21%3A09%3A30Z&sr=c&sp=racwdxltfi&sig=Sanitized",
        "x-ms-date": "Thu, 03 Jul 2025 21:09:30 GMT",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDBA75E7247C57\"",
        "Last-Modified": "Thu, 03 Jul 2025 21:09:30 GMT",
        "x-ms-blob-append-offset": "0",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-content-crc64": "J9uHIM0RALg=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-5ff875c7-cde2-c6cd-7f05-ace0bac0e75c/source%2521path%2540%2523%2525/file%3Dtest%21%40%23%24%25?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-copy-source": "https://jalauzonnettest.blob.core.windows.net/test-container-a21afd5d-29c6-8d81-1467-efcbc1b45be6/source%2521path%2540%2523%2525/file%3Dtest%21%40%23%24%25?sv=sanitized-value&se=2025-07-04T21%3A09%3A30Z&sr=c&sp=racwdxltfi&sig=Sanitized",
        "x-ms-date": "Thu, 03 Jul 2025 21:09:30 GMT",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDBA75E724CA64\"",
        "Last-Modified": "Thu, 03 Jul 2025 21:09:30 GMT",
        "x-ms-blob-append-offset": "0",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-content-crc64": "8veI5ntVGAc=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-5ff875c7-cde2-c6cd-7f05-ace0bac0e75c/source%2521path%2540%2523%2525/folder%3Dbar/subfile%3Dtest%21%40%23%24%25?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-copy-source": "https://jalauzonnettest.blob.core.windows.net/test-container-a21afd5d-29c6-8d81-1467-efcbc1b45be6/source%2521path%2540%2523%2525/folder%3Dbar/subfile%3Dtest%21%40%23%24%25?sv=sanitized-value&se=2025-07-04T21%3A09%3A30Z&sr=c&sp=racwdxltfi&sig=Sanitized",
        "x-ms-date": "Thu, 03 Jul 2025 21:09:30 GMT",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDBA75E72B591D\"",
        "Last-Modified": "Thu, 03 Jul 2025 21:09:30 GMT",
        "x-ms-blob-append-offset": "0",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-content-crc64": "G/OlSuo8084=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-5ff875c7-cde2-c6cd-7f05-ace0bac0e75c/source%2521path%2540%2523%2525/folder%3Dbar/subfile%253Dtest%2526?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-copy-source": "https://jalauzonnettest.blob.core.windows.net/test-container-a21afd5d-29c6-8d81-1467-efcbc1b45be6/source%2521path%2540%2523%2525/folder%3Dbar/subfile%253Dtest%2526?sv=sanitized-value&se=2025-07-04T21%3A09%3A30Z&sr=c&sp=racwdxltfi&sig=Sanitized",
        "x-ms-date": "Thu, 03 Jul 2025 21:09:30 GMT",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDBA75E72DC9C3\"",
        "Last-Modified": "Thu, 03 Jul 2025 21:09:30 GMT",
        "x-ms-blob-append-offset": "0",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-content-crc64": "SWvaC7AMJIo=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-a21afd5d-29c6-8d81-1467-efcbc1b45be6?sv=Sanitized&se=2025-07-04T21%3A09%3A30Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container&comp=list&prefix=source%2521path%2540%2523%2525",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-5ff875c7-cde2-c6cd-7f05-ace0bac0e75c?restype=container&comp=list&prefix=source%2521path%2540%2523%2525",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 03 Jul 2025 21:09:31 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "applicati[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-a21afd5d-29c6-8d81-1467-efcbc1b45be6/source%2521path%2540%2523%2525/file%253Dtest%2526?sv=Sanitized&se=2025-07-04T21%3A09%3A30Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DDBA75E6CEC7C6\"",
        "Last-Modified": "Thu, 03 Jul 2025 21:09:30 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Thu, 03 Jul 2025 21:09:30 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-11-05",
        "x-ms-version-id": "2025-07-03T21:09:30.2319904Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-a21afd5d-29c6-8d81-1467-efcbc1b45be6/source%2521path%2540%2523%2525/file%253Dtest%2526?sv=Sanitized&se=2025-07-04T21%3A09%3A30Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DDBA75E6CEC7C6\"",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DDBA75E6CEC7C6\"",
        "Last-Modified": "Thu, 03 Jul 2025 21:09:30 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Thu, 03 Jul 2025 21:09:30 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "[...]
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-a21afd5d-29c6-8d81-1467-efcbc1b45be6?sv=Sanitized&se=2025-07-04T21%3A09%3A30Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 403,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "AuthorizationFailure",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>AuthorizationFailure</Code><Message>This request is not authorized to perform this operation.\n",
        "RequestId:1f96913c-a01e-005f-565e-ec6efe000000\n",
        "Time:2025-07-03T21:09:32.3314309Z</Message></Error>"
      ]
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2025-07-03T14:09:30.0284522-07:00",
    "RandomSeed": "680708243",
    "Storage_TestConfigDefault": "ProductionTenant\njalauzonnettest\nU2FuaXRpemVk\nhttps://jalauzonnettest.blob.core.windows.net\nhttps://jalauzonnettest.file.core.windows.net\nhttps://jalauzonnettest.queue.core.windows.net\nhttps://jalauzonnettest.table.core.windows.net\n\n\n\n\nhttps://jalauzonnettest-secondary.blob.core.windows.net\nhttps://jalauzonnettest-secondary.file.core.windows.net\nhttps://jalauzonnettest-secondary.queue.core.windows.net\nhttps://jalauzonnettest-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://jalauzonnettest.blob.core.windows.net/;QueueEndpoint=https://jalauzonnettest.queue.core.windows.net/;FileEndpoint=https://jalauzonnettest.file.core.windows.net/;BlobSecondaryEndpoint=https://jalauzonnettest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jalauzonnettest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jalauzonnettest-secondary.file.core.windows.net/;AccountName=jalauzonnettest;AccountKey=U2FuaXRpemVk\ntestscope1\n\n"
  }
}
