{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-6de5a937-2043-ef93-d4b4-883130e1e7f2?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 30 Sep 2025 21:40:50 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE006A06AD45D3\"",
        "Last-Modified": "Tue, 30 Sep 2025 21:40:51 GMT",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-6de5a937-2043-ef93-d4b4-883130e1e7f2/sourceFolder/test-file-5326b6c5-0f9a-7927-3d7d-e294a29b7697?sv=Sanitized&se=2025-10-01T21%3A40%3A51Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE006A06C5FAB7\"",
        "Last-Modified": "Tue, 30 Sep 2025 21:40:51 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-6de5a937-2043-ef93-d4b4-883130e1e7f2/sourceFolder/test-file-5326b6c5-0f9a-7927-3d7d-e294a29b7697?sv=Sanitized&se=2025-10-01T21%3A40%3A51Z&sr=c&sp=racwdxltfi&sig=Sanitized&comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": "jzczTKOMHMROb/Yyjg+KvkOH7trAeAE7qwPsTXmIUtldVjTgYtsKOZliBCoY9eot8yRQGq2b1xc2+KGfn89KxRwc1TjbqVxnfbVBXXPXIrYZvllVODgswX8dqmo6apnKFz8N+x+yUkrH6Z34WnmjXtXqhuF19Y3k8BS4vf/xLBMbd0Y0ySaWZ2sPjU6bNGcGeUuVUOO4VCGxKQoL+ZRK1ryJ3OMybpWuVB91ZWg+SbytskSzXNwvYyIkgqAci23XxbeSEVeD0wq25vvEQu+5c99OXkZQl3ngWXjBDez0ksiynqCwrDdkKd45/XbgayEyaw/AzS0mhi09srffwsYewVMzEaRPCMan6TRnF5kD/+1XjqLcM8SbixdycvqAhWYYGjwirVl842JIGeT4vm6[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-6de5a937-2043-ef93-d4b4-883130e1e7f2?sv=Sanitized&se=2025-10-01T21%3A40%3A51Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container&comp=list&prefix=sourceFolder%2F&delimiter=%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.blob.core.windows.net/\" ContainerName=\"test-container-6de5a937-2043-ef93-d4b4-883130e1e7f2\"><Prefix>sourceFolder/</Prefix><Delimiter>/</Delimiter><Blobs><Blob><Name>sourceFolder/test-file-5326b6c5-0f9a-7927-3d7d-e294a29b7697</Name><Properties><Creation-Time>Tue, 30 Sep 2025 21:40:51 GMT</Creation-Time><Last-Modified>Tue, 30 Sep 2025 21:40:51 GMT</Last-Modified><Etag>0x8DE006A06CFB3BF</Etag><Content-Length>1024</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64 /><Content-MD5 /><Cache-Control>no-cache</Cache-Control><Content-Disposition>inline</Content-Disposition><BlobType>AppendBlob</BlobType><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><Metadata><foo>bar</foo><meta>data</meta><Capital>letter</Capital><UPPER>case</UPPER></Metadata><OrMetadata /></Blob></Blobs><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-372010f5-d7ff-074f-7d5b-d37d1f21b6e8/destFolder/test-file-5326b6c5-0f9a-7927-3d7d-e294a29b7697",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-encoding": "",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Tue, 30 Sep 2025 21:40:51 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE006A06EAE580\"",
        "Last-Modified": "Tue, 30 Sep 2025 21:40:51 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-372010f5-d7ff-074f-7d5b-d37d1f21b6e8/destFolder/test-file-5326b6c5-0f9a-7927-3d7d-e294a29b7697?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-6de5a937-2043-ef93-d4b4-883130e1e7f2/sourceFolder/test-file-5326b6c5-0f9a-7927-3d7d-e294a29b7697?sv=sanitized-value&se=2025-10-01T21%3A40%3A51Z&sr=c&sp=racwdxltfi&sig=Sanitized",
        "x-ms-date": "Tue, 30 Sep 2025 21:40:51 GMT",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE006A06F47791\"",
        "Last-Modified": "Tue, 30 Sep 2025 21:40:51 GMT",
        "x-ms-blob-append-offset": "0",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-content-crc64": "S87T/xYeIBw=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-6de5a937-2043-ef93-d4b4-883130e1e7f2?sv=Sanitized&se=2025-10-01T21%3A40%3A51Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container&comp=list&prefix=sourceFolder%2F",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-372010f5-d7ff-074f-7d5b-d37d1f21b6e8?restype=container&comp=list&prefix=destFolder%2F",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 30 Sep 2025 21:40:51 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-6de5a937-2043-ef93-d4b4-883130e1e7f2/sourceFolder/test-file-5326b6c5-0f9a-7927-3d7d-e294a29b7697?sv=Sanitized&se=2025-10-01T21%3A40%3A51Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DE006A06CFB3BF\"",
        "Last-Modified": "Tue, 30 Sep 2025 21:40:51 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Tue, 30 Sep 2025 21:40:51 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-6de5a937-2043-ef93-d4b4-883130e1e7f2/sourceFolder/test-file-5326b6c5-0f9a-7927-3d7d-e294a29b7697?sv=Sanitized&se=2025-10-01T21%3A40%3A51Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DE006A06CFB3BF\"",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DE006A06CFB3BF\"",
        "Last-Modified": "Tue, 30 Sep 2025 21:40:51 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Tue, 30 Sep 2025 21:40:51 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
   [...]
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-6de5a937-2043-ef93-d4b4-883130e1e7f2?sv=Sanitized&se=2025-10-01T21%3A40%3A51Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 403,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "AuthorizationFailure",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>AuthorizationFailure</Code><Message>This request is not authorized to perform this operation.\n",
        "RequestId:78548bac-601e-0011-2552-323a00000000\n",
        "Time:2025-09-30T21:40:52.3651441Z</Message></Error>"
      ]
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2025-09-30T14:40:51.0048462-07:00",
    "RandomSeed": "292269007",
    "Storage_TestConfigDefault": "ProductionTenant\namandapreprod\nU2FuaXRpemVk\nhttps://amandapreprod.blob.core.windows.net\nhttps://amandapreprod.file.core.windows.net\nhttps://amandapreprod.queue.core.windows.net\nhttps://amandapreprod.table.core.windows.net\n\n\n\n\nhttps://amandapreprod-secondary.blob.core.windows.net\nhttps://amandapreprod-secondary.file.core.windows.net\nhttps://amandapreprod-secondary.queue.core.windows.net\nhttps://amandapreprod-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandapreprod.blob.core.windows.net/;QueueEndpoint=https://amandapreprod.queue.core.windows.net/;FileEndpoint=https://amandapreprod.file.core.windows.net/;BlobSecondaryEndpoint=https://amandapreprod-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandapreprod-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandapreprod-secondary.file.core.windows.net/;AccountName=amandapreprod;AccountKey=U2FuaXRpemVk\nencryptionScope\n\n"
  }
}
