{
  "Entries": [
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-file-7401ca1d-38e6-b200-7ce8-42d9003311a3?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 22 Feb 2025 00:00:06 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD52D3DDC6BAB9\"",
        "Last-Modified": "Sat, 22 Feb 2025 00:00:06 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-file-7401ca1d-38e6-b200-7ce8-42d9003311a3/sourceFolder/test-file-8b6ca0f3-1ce9-a59c-001e-62b50d9a8ba4?sv=Sanitized&se=2025-02-23T00%3A00%3A06Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD52D3DDD910DA\"",
        "Last-Modified": "Sat, 22 Feb 2025 00:00:07 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05",
        "x-ms-version-id": "2025-02-22T00:00:07.0045914Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-file-7401ca1d-38e6-b200-7ce8-42d9003311a3/sourceFolder/test-file-8b6ca0f3-1ce9-a59c-001e-62b50d9a8ba4?sv=Sanitized&se=2025-02-23T00%3A00%3A06Z&sr=c&sp=racwdxltfi&sig=Sanitized&comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": "/aWEQH0Q7xEhF8oGmg8NALOCdfBUrRQTCTcxwMIwwn585DH8pasS4rFbatFRlgvwEGIBiyWaUFCQcDZF3i5P8VRMibbdEVoIcJI/+UNDwnMsQK9gLjdZ4pTgbDR1zASCDHh9BQxVE/8H+RuSW1YNTa7DGZ1+7sId86ch/KQmk6OOvOzKxrxm1y2wWTUbxoY90x+GsbJmAx22XxJlMxZb4WZ4BJ5pQobxXEJwzpWNAiwg5CmFn+HwKLnPFGaqAaMXVXjOo8Ho05CYlFVw9TSIKF3lRU7t1UGFh9zkmi4gRlueWXkdvl9rNxGY7AqLgDKERusJxbtVKX82SRzkAzlheE760py7a2r9eg09Vek2+QeqYFNDFoGfSC/65nRDhjTYNnS8ka2VyduAC0uuF9S[...]
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-file-7401ca1d-38e6-b200-7ce8-42d9003311a3/sourceFolder/bar/test-file-be636697-0428-f183-9c55-3b4d85f39f08?sv=Sanitized&se=2025-02-23T00%3A00%3A06Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD52D3DDF3E7F0\"",
        "Last-Modified": "Sat, 22 Feb 2025 00:00:07 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05",
        "x-ms-version-id": "2025-02-22T00:00:07.1804912Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-file-7401ca1d-38e6-b200-7ce8-42d9003311a3/sourceFolder/bar/test-file-be636697-0428-f183-9c55-3b4d85f39f08?sv=Sanitized&se=2025-02-23T00%3A00%3A06Z&sr=c&sp=racwdxltfi&sig=Sanitized&comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": "aypklUq3bKRfiWkSloqXzrN/G7fewv0+9wJx941l/XF0xme[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-file-7401ca1d-38e6-b200-7ce8-42d9003311a3/sourceFolder/pik/test-file-ffd29315-d7dc-d02b-48d6-40fc11b31ca2?sv=Sanitized&se=2025-02-23T00%3A00%3A06Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD52D3DE01537E\"",
        "Last-Modified": "Sat, 22 Feb 2025 00:00:07 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05",
        "x-ms-version-id": "2025-02-22T00:00:07.2694406Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-file-7401ca1d-38e6-b200-7ce8-42d9003311a3/sourceFolder/pik/test-file-ffd29315-d7dc-d02b-48d6-40fc11b31ca2?sv=Sanitized&se=2025-02-23T00%3A00%3A06Z&sr=c&sp=racwdxltfi&sig=Sanitized&comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": "una9sgOosQ6nvX1BS8OKVVW0Tsflu29ivYWMPVJhBu8CdwO[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-file-7401ca1d-38e6-b200-7ce8-42d9003311a3?restype=container&comp=list&prefix=sourceFolder%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://jalauzonnettest.blob.core.windows.net/\" ContainerName=\"test-file-7401ca1d-38e6-b200-7ce8-42d9003311a3\"><Prefix>sourceFolder/</Prefix><Blobs><Blob><Name>sourceFolder/bar/test-file-be636697-0428-f183-9c55-3b4d85f39f08</Name><VersionId>2025-02-22T00:00:07.1804912Z</VersionId><IsCurrentVersion>true</IsCurrentVersion><Properties><Creation-Time>Sat, 22 Feb 2025 00:00:07 GMT</Creation-Time><Last-Modified>Sat, 22 Feb 2025 00:00:07 GMT</Last-Modified><Etag>0x8DD52D3DDFA9DB8</Etag><Content-Length>1024</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64 /><Content-MD5 /><Cache-Control>no-cache</Cache-Control><Content-Disposition>inline</Content-Disposition><BlobType>AppendBlob</BlobType><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><Metadata><foo>bar</foo><meta>data</meta><Capital>letter</Capital><UPPER>case</UPPER></Metadata><OrMetadata /></Blob><Blob><Name>sourceFolder/pik/test-file-ffd29315-d7dc-d02b-48d6-40fc11b31ca2</Name><VersionId>2025-02-22T00:00:07.2694406Z</VersionId><IsCurrentVersion>true</IsCurrentVersion><Properties><Creation-Time>Sat, 22 Feb 2025 00:00:07 GMT</Creation-Time><Last-Modified>Sat, 22 Feb 2025 00:00:07 GMT</Last-Modified><Etag>0x8DD52D3DE080940</Etag><Content-Length>1024</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64 />[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-file-fb7409f5-009d-cb64-d031-51a66fadb13b/destFolder/test-file-90e2d20e-e670-a7d5-b81e-4295c207e818",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-encoding": "",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD52D3E0F82BEF\"",
        "Last-Modified": "Sat, 22 Feb 2025 00:00:12 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05",
        "x-ms-version-id": "2025-02-22T00:00:12.2416111Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-file-fb7409f5-009d-cb64-d031-51a66fadb13b/destFolder/bar/test-file-be636697-0428-f183-9c55-3b4d85f39f08",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-encoding": "",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD52D3E0F82BEF\"",
        "Last-Modified": "Sat, 22 Feb 2025 00:00:12 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05",
        "x-ms-version-id": "2025-02-22T00:00:12.2416111Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-file-fb7409f5-009d-cb64-d031-51a66fadb13b/destFolder/pik/test-file-ffd29315-d7dc-d02b-48d6-40fc11b31ca2",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-encoding": "",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD52D3E0F82BEF\"",
        "Last-Modified": "Sat, 22 Feb 2025 00:00:12 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05",
        "x-ms-version-id": "2025-02-22T00:00:12.2416111Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-file-fb7409f5-009d-cb64-d031-51a66fadb13b/destFolder/bar/test-file-be636697-0428-f183-9c55-3b4d85f39f08?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-copy-source": "https://jalauzonnettest.blob.core.windows.net/test-file-7401ca1d-38e6-b200-7ce8-42d9003311a3/sourceFolder/bar/test-file-be636697-0428-f183-9c55-3b4d85f39f08",
        "x-ms-copy-source-authorization": "Sanitized",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD52D3E1008F1A\"",
        "Last-Modified": "Sat, 22 Feb 2025 00:00:12 GMT",
        "x-ms-blob-append-offset": "0",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-content-crc64": "hPxL4FNXDhs=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-file-fb7409f5-009d-cb64-d031-51a66fadb13b/destFolder/test-file-8b6ca0f3-1ce9-a59c-001e-62b50d9a8ba4?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-copy-source": "https://jalauzonnettest.blob.core.windows.net/test-file-7401ca1d-38e6-b200-7ce8-42d9003311a3/sourceFolder/test-file-8b6ca0f3-1ce9-a59c-001e-62b50d9a8ba4",
        "x-ms-copy-source-authorization": "Sanitized",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD52D3E100DD2F\"",
        "Last-Modified": "Sat, 22 Feb 2025 00:00:12 GMT",
        "x-ms-blob-append-offset": "0",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-content-crc64": "AaStxmn98n0=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-file-fb7409f5-009d-cb64-d031-51a66fadb13b/destFolder/pik/test-file-ffd29315-d7dc-d02b-48d6-40fc11b31ca2?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-copy-source": "https://jalauzonnettest.blob.core.windows.net/test-file-7401ca1d-38e6-b200-7ce8-42d9003311a3/sourceFolder/pik/test-file-ffd29315-d7dc-d02b-48d6-40fc11b31ca2",
        "x-ms-copy-source-authorization": "Sanitized",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD52D3E1026394\"",
        "Last-Modified": "Sat, 22 Feb 2025 00:00:12 GMT",
        "x-ms-blob-append-offset": "0",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-content-crc64": "3es+fqo64PQ=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-file-7401ca1d-38e6-b200-7ce8-42d9003311a3?restype=container&comp=list&prefix=sourceFolder",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": [...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-file-fb7409f5-009d-cb64-d031-51a66fadb13b?restype=container&comp=list&prefix=destFolder",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "\[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-file-7401ca1d-38e6-b200-7ce8-42d9003311a3/sourceFolder/bar/test-file-be636697-0428-f183-9c55-3b4d85f39f08",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD52D3DDFA9DB8\"",
        "Last-Modified": "Sat, 22 Feb 2025 00:00:07 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Sat, 22 Feb 2025 00:00:07 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05",
        "x-ms-version-id": "2025-02-22T00:00:07.1804912Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-file-7401ca1d-38e6-b200-7ce8-42d9003311a3/sourceFolder/bar/test-file-be636697-0428-f183-9c55-3b4d85f39f08",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"0x8DD52D3DDFA9DB8\"",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD52D3DDFA9DB8\"",
        "Last-Modified": "Sat, 22 Feb 2025 00:00:07 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Sat, 22 Feb 2025 00:00:07 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "[...]
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-file-7401ca1d-38e6-b200-7ce8-42d9003311a3/sourceFolder/pik/test-file-ffd29315-d7dc-d02b-48d6-40fc11b31ca2",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD52D3DE080940\"",
        "Last-Modified": "Sat, 22 Feb 2025 00:00:07 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Sat, 22 Feb 2025 00:00:07 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05",
        "x-ms-version-id": "2025-02-22T00:00:07.2694406Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-file-7401ca1d-38e6-b200-7ce8-42d9003311a3/sourceFolder/test-file-8b6ca0f3-1ce9-a59c-001e-62b50d9a8ba4",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD52D3DDDFC6AC\"",
        "Last-Modified": "Sat, 22 Feb 2025 00:00:07 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Sat, 22 Feb 2025 00:00:07 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05",
        "x-ms-version-id": "2025-02-22T00:00:07.0045914Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-file-7401ca1d-38e6-b200-7ce8-42d9003311a3?sv=Sanitized&se=2025-02-23T00%3A00%3A06Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 403,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "AuthorizationFailure",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>AuthorizationFailure</Code><Message>This request is not authorized to perform this operation.\n",
        "RequestId:037c48fb-301e-0062-59bc-8418e5000000\n",
        "Time:2025-02-22T00:00:13.7852184Z</Message></Error>"
      ]
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2025-02-21T16:00:06.9176425-08:00",
    "RandomSeed": "733069100",
    "Storage_TestConfigDefault": "ProductionTenant\njalauzonnettest\nU2FuaXRpemVk\nhttps://jalauzonnettest.blob.core.windows.net\nhttps://jalauzonnettest.file.core.windows.net\nhttps://jalauzonnettest.queue.core.windows.net\nhttps://jalauzonnettest.table.core.windows.net\n\n\n\n\nhttps://jalauzonnettest-secondary.blob.core.windows.net\nhttps://jalauzonnettest-secondary.file.core.windows.net\nhttps://jalauzonnettest-secondary.queue.core.windows.net\nhttps://jalauzonnettest-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://jalauzonnettest.blob.core.windows.net/;QueueEndpoint=https://jalauzonnettest.queue.core.windows.net/;FileEndpoint=https://jalauzonnettest.file.core.windows.net/;BlobSecondaryEndpoint=https://jalauzonnettest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jalauzonnettest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jalauzonnettest-secondary.file.core.windows.net/;AccountName=jalauzonnettest;AccountKey=U2FuaXRpemVk\ntestscope1\n\n",
    "Storage_TestConfigOAuth": "OAuthTenant\njalauzonnettest\nU2FuaXRpemVk\nhttps://jalauzonnettest.blob.core.windows.net\nhttps://jalauzonnettest.file.core.windows.net\nhttps://jalauzonnettest.queue.core.windows.net\nhttps://jalauzonnettest.table.core.windows.net\n\n\n\n\nhttps://jalauzonnettest-secondary.blob.core.windows.net\nhttps://jalauzonnettest-secondary.file.core.windows.net\nhttps://jalauzonnettest-secondary.queue.core.windows.net\nhttps://jalauzonnettest-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://jalauzonnettest.blob.core.windows.net/;QueueEndpoint=https://jalauzonnettest.queue.core.windows.net/;FileEndpoint=https://jalauzonnettest.file.core.windows.net/;BlobSecondaryEndpoint=https://jalauzonnettest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jalauzonnettest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jalauzonnettest-secondary.file.core.windows.net/;AccountName=jalauzonnettest;AccountKey=U2FuaXRpemVk\n\njalauzon-rg\nba45b233-e2ef-4169-8808-49eb0d8eba0d"
  }
}
