{
  "Entries": [
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-a7e950af-22d2-bdfe-5758-e5c2b3c310ec?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 21 Feb 2025 23:59:27 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD52D3C61FABE5\"",
        "Last-Modified": "Fri, 21 Feb 2025 23:59:27 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-a7e950af-22d2-bdfe-5758-e5c2b3c310ec/sourceFolder/folder0/test-file-2d6f8245-6f50-37d6-29a8-632ae2320152?sv=Sanitized&se=2025-02-22T23%3A59%3A27Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD52D3C631DC26\"",
        "Last-Modified": "Fri, 21 Feb 2025 23:59:27 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05",
        "x-ms-version-id": "2025-02-21T23:59:27.3211942Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-a7e950af-22d2-bdfe-5758-e5c2b3c310ec/sourceFolder/folder0/test-file-2d6f8245-6f50-37d6-29a8-632ae2320152?sv=Sanitized&se=2025-02-22T23%3A59%3A27Z&sr=c&sp=racwdxltfi&sig=Sanitized&comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": "Q43xZP12rcHRfD1zFIlSLHSIaYc7tZZFUuNQwhO2nZchLFpMKU3fztSuW9MxYyOgVTe1Wcl5F473qxIaJuuuGt+lUecuBQMnqJqzjVnCFO/AsGzcAEPNqBTMVX06xajo/0H0ixE7ck8zjrEvxoo0NJcjWnV+0hmc2KnTYa+F7ePyyo0YzojdhD0cqHKRnuGJlyHmF2oyaS0nV7NnaBCfrqDNPPv9HGYORdU3YSmnCjnHScmOntV4v2Bg8XbUdRwtfPrSw2HljHu619KV+ggDf016nx9GEQ/LVXybnCrwOs+4CuQv1UfX4rxN08cD48VYXHEpWtX95mvrBm7lSvBQyp0C3PAj1KoGor1i+T1Ix3K3QkC5x9/5uyR5RM7Y8pfM/QkpAAbUNYjGI7cXmu0[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-a7e950af-22d2-bdfe-5758-e5c2b3c310ec/sourceFolder/folder0/folder1/test-file-2cdcc7c4-3d15-9214-5bd3-9f7cd1344d34?sv=Sanitized&se=2025-02-22T23%3A59%3A27Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD52D3C6411C2C\"",
        "Last-Modified": "Fri, 21 Feb 2025 23:59:27 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05",
        "x-ms-version-id": "2025-02-21T23:59:27.4211372Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-a7e950af-22d2-bdfe-5758-e5c2b3c310ec/sourceFolder/folder0/folder1/test-file-2cdcc7c4-3d15-9214-5bd3-9f7cd1344d34?sv=Sanitized&se=2025-02-22T23%3A59%3A27Z&sr=c&sp=racwdxltfi&sig=Sanitized&comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": "J5ztBQeI0em0nA5qgrEfVnHDi0ykvv[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-a7e950af-22d2-bdfe-5758-e5c2b3c310ec/sourceFolder/folder0/folder1/folder2/test-file-a5de58f1-f1cb-4b6a-9b36-7c43df0a8c67?sv=Sanitized&se=2025-02-22T23%3A59%3A27Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD52D3C652099D\"",
        "Last-Modified": "Fri, 21 Feb 2025 23:59:27 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05",
        "x-ms-version-id": "2025-02-21T23:59:27.5320733Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-a7e950af-22d2-bdfe-5758-e5c2b3c310ec/sourceFolder/folder0/folder1/folder2/test-file-a5de58f1-f1cb-4b6a-9b36-7c43df0a8c67?sv=Sanitized&se=2025-02-22T23%3A59%3A27Z&sr=c&sp=racwdxltfi&sig=Sanitized&comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": "IK/BDDtZM7FbM5js722nfU[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-a7e950af-22d2-bdfe-5758-e5c2b3c310ec?sv=Sanitized&se=2025-02-22T23%3A59%3A27Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container&comp=list&prefix=sourceFolder%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://jalauzonnettest.blob.core.windows.net/\" ContainerName=\"test-container-a7e950af-22d2-bdfe-5758-e5c2b3c310ec\"><Prefix>sourceFolder/</Prefix><Blobs><Blob><Name>sourceFolder/folder0/folder1/folder2/test-file-a5de58f1-f1cb-4b6a-9b36-7c43df0a8c67</Name><VersionId>2025-02-21T23:59:27.5320733Z</VersionId><IsCurrentVersion>true</IsCurrentVersion><Properties><Creation-Time>Fri, 21 Feb 2025 23:59:27 GMT</Creation-Time><Last-Modified>Fri, 21 Feb 2025 23:59:27 GMT</Last-Modified><Etag>0x8DD52D3C65A6CD2</Etag><Content-Length>1024</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64 /><Content-MD5 /><Cache-Control>no-cache</Cache-Control><Content-Disposition>inline</Content-Disposition><BlobType>AppendBlob</BlobType><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><Metadata><foo>bar</foo><meta>data</meta><Capital>letter</Capital><UPPER>case</UPPER></Metadata><OrMetadata /></Blob><Blob><Name>sourceFolder/folder0/folder1/test-file-2cdcc7c4-3d15-9214-5bd3-9f7cd1344d34</Name><VersionId>2025-02-21T23:59:27.4211372Z</VersionId><IsCurrentVersion>true</IsCurrentVersion><Properties><Creation-Time>Fri, 21 Feb 2025 23:59:27 GMT</Creation-Time><Last-Modified>Fri, 21 Feb 2025 23:59:27 GMT</Last-Modified><Etag>0x8DD52D3C649A66C</Etag><Content-Length>1024</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Cont[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-a9d451ca-4751-0ae1-fd26-74a58d18f118/destFolder/folder0/folder1/test-file-2cdcc7c4-3d15-9214-5bd3-9f7cd1344d34",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-encoding": "",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Fri, 21 Feb 2025 23:59:27 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD52D3C66E6724\"",
        "Last-Modified": "Fri, 21 Feb 2025 23:59:27 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05",
        "x-ms-version-id": "2025-02-21T23:59:27.7179684Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-a9d451ca-4751-0ae1-fd26-74a58d18f118/destFolder/folder0/test-file-2d6f8245-6f50-37d6-29a8-632ae2320152",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-encoding": "",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Fri, 21 Feb 2025 23:59:27 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD52D3C66E6724\"",
        "Last-Modified": "Fri, 21 Feb 2025 23:59:27 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05",
        "x-ms-version-id": "2025-02-21T23:59:27.7179684Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-a9d451ca-4751-0ae1-fd26-74a58d18f118/destFolder/folder0/folder1/folder2/test-file-a5de58f1-f1cb-4b6a-9b36-7c43df0a8c67",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-encoding": "",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Fri, 21 Feb 2025 23:59:27 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD52D3C66DF1FD\"",
        "Last-Modified": "Fri, 21 Feb 2025 23:59:27 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05",
        "x-ms-version-id": "2025-02-21T23:59:27.7149693Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-a9d451ca-4751-0ae1-fd26-74a58d18f118/destFolder/folder0/test-file-2d6f8245-6f50-37d6-29a8-632ae2320152?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-copy-source": "https://jalauzonnettest.blob.core.windows.net/test-container-a7e950af-22d2-bdfe-5758-e5c2b3c310ec/sourceFolder/folder0/test-file-2d6f8245-6f50-37d6-29a8-632ae2320152?sv=sanitized-value&se=2025-02-22T23%3A59%3A27Z&sr=c&sp=racwdxltfi&sig=Sanitized",
        "x-ms-date": "Fri, 21 Feb 2025 23:59:27 GMT",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD52D3C675E013\"",
        "Last-Modified": "Fri, 21 Feb 2025 23:59:27 GMT",
        "x-ms-blob-append-offset": "0",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-content-crc64": "H8imS2X5Jeg=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-a9d451ca-4751-0ae1-fd26-74a58d18f118/destFolder/folder0/folder1/test-file-2cdcc7c4-3d15-9214-5bd3-9f7cd1344d34?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-copy-source": "https://jalauzonnettest.blob.core.windows.net/test-container-a7e950af-22d2-bdfe-5758-e5c2b3c310ec/sourceFolder/folder0/folder1/test-file-2cdcc7c4-3d15-9214-5bd3-9f7cd1344d34?sv=sanitized-value&se=2025-02-22T23%3A59%3A27Z&sr=c&sp=racwdxltfi&sig=Sanitized",
        "x-ms-date": "Fri, 21 Feb 2025 23:59:27 GMT",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD52D3C6767C3F\"",
        "Last-Modified": "Fri, 21 Feb 2025 23:59:27 GMT",
        "x-ms-blob-append-offset": "0",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-content-crc64": "yZXEfMOiX78=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-a9d451ca-4751-0ae1-fd26-74a58d18f118/destFolder/folder0/folder1/folder2/test-file-a5de58f1-f1cb-4b6a-9b36-7c43df0a8c67?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-copy-source": "https://jalauzonnettest.blob.core.windows.net/test-container-a7e950af-22d2-bdfe-5758-e5c2b3c310ec/sourceFolder/folder0/folder1/folder2/test-file-a5de58f1-f1cb-4b6a-9b36-7c43df0a8c67?sv=sanitized-value&se=2025-02-22T23%3A59%3A27Z&sr=c&sp=racwdxltfi&sig=Sanitized",
        "x-ms-date": "Fri, 21 Feb 2025 23:59:27 GMT",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD52D3C677667E\"",
        "Last-Modified": "Fri, 21 Feb 2025 23:59:27 GMT",
        "x-ms-blob-append-offset": "0",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-content-crc64": "1+L/Q/ooy2c=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-a7e950af-22d2-bdfe-5758-e5c2b3c310ec?sv=Sanitized&se=2025-02-22T23%3A59%3A27Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container&comp=list&prefix=sourceFolder",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "20[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-a9d451ca-4751-0ae1-fd26-74a58d18f118?restype=container&comp=list&prefix=destFolder",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 21 Feb 2025 23:59:28 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-a7e950af-22d2-bdfe-5758-e5c2b3c310ec/sourceFolder/folder0/folder1/folder2/test-file-a5de58f1-f1cb-4b6a-9b36-7c43df0a8c67?sv=Sanitized&se=2025-02-22T23%3A59%3A27Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD52D3C65A6CD2\"",
        "Last-Modified": "Fri, 21 Feb 2025 23:59:27 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Fri, 21 Feb 2025 23:59:27 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05",
        "x-ms-version-id": "2025-02-21T23:59:27.5320733Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-a7e950af-22d2-bdfe-5758-e5c2b3c310ec/sourceFolder/folder0/folder1/folder2/test-file-a5de58f1-f1cb-4b6a-9b36-7c43df0a8c67?sv=Sanitized&se=2025-02-22T23%3A59%3A27Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DD52D3C65A6CD2\"",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD52D3C65A6CD2\"",
        "Last-Modified": "Fri, 21 Feb 2025 23:59:27 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Fri, 21 Feb 2025 23:59:27 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "[...]
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-a7e950af-22d2-bdfe-5758-e5c2b3c310ec?sv=Sanitized&se=2025-02-22T23%3A59%3A27Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 403,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "AuthorizationFailure",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>AuthorizationFailure</Code><Message>This request is not authorized to perform this operation.\n",
        "RequestId:5f44d4d4-501e-0074-0ebc-84ee32000000\n",
        "Time:2025-02-21T23:59:28.9596613Z</Message></Error>"
      ]
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2025-02-21T15:59:27.2347924-08:00",
    "RandomSeed": "1297036133",
    "Storage_TestConfigDefault": "ProductionTenant\njalauzonnettest\nU2FuaXRpemVk\nhttps://jalauzonnettest.blob.core.windows.net\nhttps://jalauzonnettest.file.core.windows.net\nhttps://jalauzonnettest.queue.core.windows.net\nhttps://jalauzonnettest.table.core.windows.net\n\n\n\n\nhttps://jalauzonnettest-secondary.blob.core.windows.net\nhttps://jalauzonnettest-secondary.file.core.windows.net\nhttps://jalauzonnettest-secondary.queue.core.windows.net\nhttps://jalauzonnettest-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://jalauzonnettest.blob.core.windows.net/;QueueEndpoint=https://jalauzonnettest.queue.core.windows.net/;FileEndpoint=https://jalauzonnettest.file.core.windows.net/;BlobSecondaryEndpoint=https://jalauzonnettest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jalauzonnettest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jalauzonnettest-secondary.file.core.windows.net/;AccountName=jalauzonnettest;AccountKey=U2FuaXRpemVk\ntestscope1\n\n"
  }
}
