{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-8e0992ac-3f1c-0427-4c6f-2f263268c17c?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 27 Mar 2024 22:41:41 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4EAF1393072C\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 22:41:43 GMT",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-8e0992ac-3f1c-0427-4c6f-2f263268c17c/test-blob-05d3a974-fcae-5a03-a553-e343d5540670",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Wed, 27 Mar 2024 22:41:42 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4EAF13ADA29E\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 22:41:43 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-03-27T22:41:43.6157598Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-8e0992ac-3f1c-0427-4c6f-2f263268c17c/test-blob-05d3a974-fcae-5a03-a553-e343d5540670?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 27 Mar 2024 22:41:42 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": "e3vIGo0FkCwJfRM5uICswSW2x0aODuTiLagPdA4HKw\u002B\u002Bf/Nn8muN5b0zF/OjYLIpw/urHUEEn2yW5ezk9hsdAlIDeziMRc\u002B5KeGJWvfxPs325rESWw3Out\u002BG0Ax/qO\u002BhFRWhoOV5nH0s8vRfekV1pacf7g9qC6dFNcBYBnXDOoDx50TiT57nfEoz5mkYbj\u002BaESplX7ngNgptXGokIZYIabd0bpMBk1UIOHLFNyQ\u002BLMeBvvRKXtvGEbA5dPM0wlu0Kn2xpACrmX7UXCZHGv/lLy\u002Bjo2KhvQvbrVzixx5i1HUWEQynjIjH1[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-8e0992ac-3f1c-0427-4c6f-2f263268c17c/test-blob-05d3a974-fcae-5a03-a553-e343d5540670?sv=2024-05-04\u0026se=2024-03-28T22%3A41%3A42Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC4EAF13BA4AFE\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 22:41:43 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Wed, 27 Mar 2024 22:41:43 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-03-27T22:41:43.6157598Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-4dd609da-dc79-3882-042b-2bf2db594d98/test-blob-51b24f36-a065-29b9-1368-2c7f43769b39?sv=2024-05-04\u0026se=2024-03-28T22%3A41%3A42Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized\u0026comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-copy-source": "https://amandadev2.blob.core.windows.net/test-container-8e0992ac-3f1c-0427-4c6f-2f263268c17c/test-blob-05d3a974-fcae-5a03-a553-e343d5540670?sv=2024-05-04\u0026se=2024-03-28T22%3A41%3A42Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4EAF13E12E4C\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 22:41:43 GMT",
        "x-ms-blob-append-offset": "0",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-content-crc64": "35QWsVZ0bqM=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-8e0992ac-3f1c-0427-4c6f-2f263268c17c/test-blob-05d3a974-fcae-5a03-a553-e343d5540670?sv=2024-05-04\u0026se=2024-03-28T22%3A41%3A42Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\u00220x8DC4EAF13BA4AFE\u0022",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC4EAF13BA4AFE\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 22:41:43 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Wed, 27 Mar 2024 22:41:43 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
  [...]
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-8e0992ac-3f1c-0427-4c6f-2f263268c17c?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 27 Mar 2024 22:41:43 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-03-27T15:41:42.3060997-07:00",
    "RandomSeed": "257743222",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
