{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-e5bba213-700b-3535-7af7-3b6533a5c322?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 10 Apr 2024 04:38:07 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC591804CA1E0D\u0022",
        "Last-Modified": "Wed, 10 Apr 2024 04:38:07 GMT",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-e5bba213-700b-3535-7af7-3b6533a5c322/test-blob-1b76c67c-551c-d3b5-eef0-dec2b1787dbc",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "application/octet-stream",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Wed, 10 Apr 2024 04:38:07 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC591804DD604F\u0022",
        "Last-Modified": "Wed, 10 Apr 2024 04:38:07 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-04-10T04:38:07.5481946Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-e5bba213-700b-3535-7af7-3b6533a5c322/test-blob-1b76c67c-551c-d3b5-eef0-dec2b1787dbc?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 10 Apr 2024 04:38:07 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": "52ct21EObVaBhmhe3KQfS9ukkT8P0JhOmr60ed9j/KI5XJIehO/2joUbzyfMiPbc1RVP/qVNDRfP30CSWfR2HonGJX8SAcbrrgO68wBwgRLH16PJE/787E96T6WuZDSQpLCdBWJ3ytNOZFChkxkWX10uyoJQrQqLyTgvl7IhPEnPKU5P0nuvUAzQe6\u002BtW1k1ZO9If5qxQPemEjwqRzMhLScG0mnLxozhf3l2fzFa3W7f\u002BTLC2byvHehWqcA/hAjZr02Ip4jvap1jZgAgO8DFSzTNSk0AXlRqVrSBdB3MovpxnNDk0jbl74\u002BVX3K8j\u002BInkF2LcTq62[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-e5bba213-700b-3535-7af7-3b6533a5c322/test-blob-1b76c67c-551c-d3b5-eef0-dec2b1787dbc?sv=2024-05-04\u0026se=2024-04-11T04%3A38%3A07Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC591804E61193\u0022",
        "Last-Modified": "Wed, 10 Apr 2024 04:38:07 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Wed, 10 Apr 2024 04:38:07 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-04-10T04:38:07.5481946Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-2bce19c6-8e1b-c19d-0c25-a15d286bf947/test-blob-f5178628-d567-d3e2-db42-90d92e59c748?sv=2024-05-04\u0026se=2024-04-11T04%3A38%3A07Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized\u0026comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-copy-source": "https://amandadev2.blob.core.windows.net/test-container-e5bba213-700b-3535-7af7-3b6533a5c322/test-blob-1b76c67c-551c-d3b5-eef0-dec2b1787dbc?sv=2024-05-04\u0026se=2024-04-11T04%3A38%3A07Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC5918050F1766\u0022",
        "Last-Modified": "Wed, 10 Apr 2024 04:38:07 GMT",
        "x-ms-blob-append-offset": "0",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-content-crc64": "VvQkBOI58g0=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-e5bba213-700b-3535-7af7-3b6533a5c322/test-blob-1b76c67c-551c-d3b5-eef0-dec2b1787dbc?sv=2024-05-04\u0026se=2024-04-11T04%3A38%3A07Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\u00220x8DC591804E61193\u0022",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC591804E61193\u0022",
        "Last-Modified": "Wed, 10 Apr 2024 04:38:07 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Wed, 10 Apr 2024 04:38:07 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
    [...]
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-e5bba213-700b-3535-7af7-3b6533a5c322?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 10 Apr 2024 04:38:08 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-04-09T21:38:07.3398870-07:00",
    "RandomSeed": "2001044343",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
