{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-ff84d4d9-ce3b-9d25-92a9-e2c5227d7428?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Thu, 28 Mar 2024 21:04:46 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4F6AB3C5ADB4\u0022",
        "Last-Modified": "Thu, 28 Mar 2024 21:04:48 GMT",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-ff84d4d9-ce3b-9d25-92a9-e2c5227d7428/test-blob-75813ebc-c0ea-e23b-57c1-c2309913d7e8",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Thu, 28 Mar 2024 21:04:46 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4F6AB3D9C9D9\u0022",
        "Last-Modified": "Thu, 28 Mar 2024 21:04:48 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-03-28T21:04:48.2290137Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-ff84d4d9-ce3b-9d25-92a9-e2c5227d7428/test-blob-75813ebc-c0ea-e23b-57c1-c2309913d7e8?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 28 Mar 2024 21:04:46 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": "QioUL0HyZFwH8NiR5969zyabo3TAz/tl19Vly8nTX3Ht4ojVzquH9WZjufc9Lupfh1nI5LQqJ3IvrldsjZiTM5BnowVV6AB6E64NXBYEJ6jqBkRvC3u9w7sWpSBUG2jO0IVm1ovlCp9ZTdEGHMpbK4augoZTJCcVqeBJP0LgJvhFPoyQnVAdBPulFr6ptqfxunqZppnhe6tdUSyqnMtdeCfZwN0\u002Byo01kH2Lrg1pa/I5WITHRn9fZMPgMksjcmgwR52W0PbJsu/sYxYbVsye9OU6cUNGljGoelsZXZdCEh0UWmZw0pv8b6WU2uNpQw73Qj5m6QEk6rFr7laar1RXqlH4[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-ff84d4d9-ce3b-9d25-92a9-e2c5227d7428/test-blob-75813ebc-c0ea-e23b-57c1-c2309913d7e8?sv=2024-05-04\u0026se=2024-03-29T21%3A04%3A46Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC4F6AB3E3DA8D\u0022",
        "Last-Modified": "Thu, 28 Mar 2024 21:04:48 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Thu, 28 Mar 2024 21:04:48 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-03-28T21:04:48.2290137Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-022deb55-e286-ab1f-1c46-5388eddffe1b/test-blob-70541bd1-49ef-5bd2-4c2f-7e7b8c45ceca?sv=2024-05-04\u0026se=2024-03-29T21%3A04%3A46Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-content-type": "application/octet-stream",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4F6AB3FB2FB8\u0022",
        "Last-Modified": "Thu, 28 Mar 2024 21:04:48 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-03-28T21:04:48.4478904Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-022deb55-e286-ab1f-1c46-5388eddffe1b/test-blob-70541bd1-49ef-5bd2-4c2f-7e7b8c45ceca?sv=2024-05-04\u0026se=2024-03-29T21%3A04%3A46Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized\u0026comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-copy-source": "https://amandadev2.blob.core.windows.net/test-container-ff84d4d9-ce3b-9d25-92a9-e2c5227d7428/test-blob-75813ebc-c0ea-e23b-57c1-c2309913d7e8?sv=2024-05-04\u0026se=2024-03-29T21%3A04%3A46Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
        "x-ms-source-range": "bytes=0-2047",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4F6AB4058E7B\u0022",
        "Last-Modified": "Thu, 28 Mar 2024 21:04:48 GMT",
        "x-ms-blob-append-offset": "0",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-content-crc64": "ooyFo1zxquQ=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-ff84d4d9-ce3b-9d25-92a9-e2c5227d7428/test-blob-75813ebc-c0ea-e23b-57c1-c2309913d7e8?sv=2024-05-04\u0026se=2024-03-29T21%3A04%3A46Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\u00220x8DC4F6AB3E3DA8D\u0022",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-2047/2048",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC4F6AB3E3DA8D\u0022",
        "Last-Modified": "Thu, 28 Mar 2024 21:04:48 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Thu, 28 Mar 2024 21:04:48 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
  [...]
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-ff84d4d9-ce3b-9d25-92a9-e2c5227d7428?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 28 Mar 2024 21:04:47 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-03-28T14:04:46.5320465-07:00",
    "RandomSeed": "532119003",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
