{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-b56dd651-870f-031e-d354-6e58f89af8f0?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Thu, 28 Mar 2024 21:05:00 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4F6ABC27E171\u0022",
        "Last-Modified": "Thu, 28 Mar 2024 21:05:02 GMT",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-b56dd651-870f-031e-d354-6e58f89af8f0/test-blob-eba6184d-206a-f75c-8321-0b75883bdc1f",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Thu, 28 Mar 2024 21:05:00 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4F6ABC626016\u0022",
        "Last-Modified": "Thu, 28 Mar 2024 21:05:02 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-03-28T21:05:02.5459222Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-b56dd651-870f-031e-d354-6e58f89af8f0/test-blob-eba6184d-206a-f75c-8321-0b75883bdc1f?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 28 Mar 2024 21:05:00 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": "rqEjQ5400mAiP85rnCFdlD9aQCz9Z5ssk4Axh0zv92PMvMoTFqr9/bzmmd41PG7yRgNh0Ae32kYF9rAdAksUMkdrnuBWSn6UXUNvF86991YSP0BIjSdcFeKEDSD63/tx0WaWyp2Nm/yFzXPDR8N4SP9aC8MLzKUgD4n\u002B0j1dmn1I/kVnJiy4hKNEwsCzmM4fC8Uhn9M3ZgTBdbsUj8i/KDL1e0l9ECHSoYcfxwrkbXa63sZ3PPqpEJdBprFxo/TahJmOvRyEovukTv5MGJ/63QhEWbABR\u002Bs4S2uxPGpvYf2SREJwVq9ZNjzL0\u002B37XPf4RsmpLEpD2D2tVXGx02aRNO0ButRcioZY6iN0NnP\u002BPO9zuPWgxjSzTmsEwgA9p2LWOp8A\u002BqIjm7tCUEImz6LJrxmCPhtw8G24TWtoWMeGGkLBnfvU/UFMTxw5XnXyjX/IOxLmu2lHZkoxSKw2u0PzvDb/ZDKn9bLXNu/\u002BNpH3xcDsoB21n1/ZejaworSVFZTZRaE/8yhMIUVfD4R5SC\u002B4OoLrShsmPh3WJer79lL9QiBaJfDwt9KYn37XVZDaYDEG\u002BGgyqct5sgeEac0\u002BUCvzYcxkHiM\u002ByIKvU6qcT\u002BmN/MW49P7py5lU4XLpa04FWU5T4/PEdUEOyC/mglUh3WMe92wHhVwsCZYyED2wVF0zqvo=",
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4F6ABC815549\u0022",
        "Last-Modified": "Thu, 28 Mar 2024 21:05:02 GMT",
        "x-ms-blob-append-offset": "0",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-content-crc64": "4czlLxd4/Zw=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-b56dd651-870f-031e-d354-6e58f89af8f0/test-blob-eba6184d-206a-f75c-8321-0b75883bdc1f?sv=2024-05-04\u0026se=2024-03-29T21%3A05%3A01Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC4F6ABC815549\u0022",
        "Last-Modified": "Thu, 28 Mar 2024 21:05:02 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Thu, 28 Mar 2024 21:05:02 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-03-28T21:05:02.5459222Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-8a03cf14-950a-d16c-4c9d-8059f8443471/test-blob-0eb95f83-357f-a512-3191-62c78e442b56?sv=2024-05-04\u0026se=2024-03-29T21%3A05%3A01Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-content-type": "application/octet-stream",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4F6ABCB97422\u0022",
        "Last-Modified": "Thu, 28 Mar 2024 21:05:03 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-03-28T21:05:03.1165986Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-8a03cf14-950a-d16c-4c9d-8059f8443471/test-blob-0eb95f83-357f-a512-3191-62c78e442b56?sv=2024-05-04\u0026se=2024-03-29T21%3A05%3A01Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized\u0026comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-copy-source": "https://amandadev2.blob.core.windows.net/test-container-b56dd651-870f-031e-d354-6e58f89af8f0/test-blob-eba6184d-206a-f75c-8321-0b75883bdc1f?sv=2024-05-04\u0026se=2024-03-29T21%3A05%3A01Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
        "x-ms-source-range": "bytes=0-511",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4F6ABCC4480B\u0022",
        "Last-Modified": "Thu, 28 Mar 2024 21:05:03 GMT",
        "x-ms-blob-append-offset": "0",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-content-crc64": "4czlLxd4/Zw=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-b56dd651-870f-031e-d354-6e58f89af8f0/test-blob-eba6184d-206a-f75c-8321-0b75883bdc1f?sv=2024-05-04\u0026se=2024-03-29T21%3A05%3A01Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\u00220x8DC4F6ABC815549\u0022",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-511/512",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC4F6ABC815549\u0022",
        "Last-Modified": "Thu, 28 Mar 2024 21:05:02 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Thu, 28 Mar 2024 21:05:02 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-03-28T21:05:02.5459222Z"
      },
      "ResponseBody": "rqEjQ5400mAiP85rnCFdlD9aQCz9Z5ssk4Axh0zv92PMvMoTFqr9/bzmmd41PG7yRgNh0Ae32kYF9rAdAksUMkdrnuBWSn6UXUNvF86991YSP0BIjSdcFeKEDSD63/tx0WaWyp2Nm/yFzXPDR8N4SP9aC8MLzKUgD4n\u002B0j1dmn1I/kVnJiy4hKNEwsCzmM4fC8Uhn9M3ZgTBdbsUj8i/KDL1e0l9ECHSoYcfxwrkbXa63sZ3PPqpEJdBprFxo/TahJmOvRyEovukTv5MGJ/63QhEWbABR\u002Bs4S2uxPGpvYf2SREJwVq9ZNjzL0\u002B37XPf4RsmpLEpD2D2tVXGx02aRNO0ButRcioZY6iN0NnP\u002BPO9zuPWgxjSzTmsEwgA9p2LWOp8A\u002BqIjm7tCUEImz6LJrxmCPhtw8G24TWtoWMeGGkLBnfvU/UFMTxw5XnXyjX/IOxLmu2lHZkoxSKw2u0PzvDb/ZDKn9bLXNu/\u002BNpH3xcDsoB21n1/ZejaworSVFZTZRaE/8yhMIUVfD4R5SC\u002B4OoLrShsmPh3WJer79lL9QiBaJfDwt9KYn37XVZDaYDEG\u002BGgyqct5sgeEac0\u002BUCvzYcxkHiM\u002ByIKvU6qcT\u002BmN/MW49P7py5lU4XLpa04FWU5T4/PEdUEOyC/mglUh3WMe92wHhVwsCZYyED2wVF0zqvo="
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-b56dd651-870f-031e-d354-6e58f89af8f0?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 28 Mar 2024 21:05:01 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-03-28T14:05:01.1146232-07:00",
    "RandomSeed": "584226396",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
