{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-2395c2a5-56bd-5093-4c52-0c5ef6e72175?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 30 Sep 2025 21:43:03 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE006A55819087\"",
        "Last-Modified": "Tue, 30 Sep 2025 21:43:03 GMT",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-2395c2a5-56bd-5093-4c52-0c5ef6e72175/test-blob-89cf6d9c-f6c9-104f-7db9-bbf45a00b4f3",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Tue, 30 Sep 2025 21:43:03 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE006A5594E7FC\"",
        "Last-Modified": "Tue, 30 Sep 2025 21:43:03 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-2395c2a5-56bd-5093-4c52-0c5ef6e72175/test-blob-89cf6d9c-f6c9-104f-7db9-bbf45a00b4f3?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 30 Sep 2025 21:43:03 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": "RsOHOgP5nat3amuz+6FmgFmL81lxIwRs/tluiacP2I+yJRUJY/o0arRz8Blg+4TxQF+paHAzqSK/GzspixMEZ5LcAdWLXRxeVoml/jPqCwJVfEhHZm8ef3zySUi+C9+gbomHhPmuZeNDShHnjavv1Q850w7KvAEivoJZmRPUoEuqBI+qYoYJpxZlBBteNvHQA3Q4hTfQ1rGHZMZ3VMzQbqrGPYkbRXKJMCz3ZbjlxIeQiJWemxsU2S7eIv2/kVJKlZVxmPlntb0Cr1QL2HD5oaA/5ss2MdOOsWNaPSN0yZ7Zrc8idCyOKdPXnOzGCAG95IBdgKqGE2PC4uaVDXeajeW2MSuh1[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-2395c2a5-56bd-5093-4c52-0c5ef6e72175/test-blob-89cf6d9c-f6c9-104f-7db9-bbf45a00b4f3?sv=Sanitized&se=2025-10-01T21%3A43%3A03Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DE006A559E0586\"",
        "Last-Modified": "Tue, 30 Sep 2025 21:43:03 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Tue, 30 Sep 2025 21:43:03 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-0fabe44f-41ef-9c34-ab2e-362c01411db3/test-blob-e6658f6c-21ae-cef5-d2a5-1c1db80de444?sv=Sanitized&se=2025-10-01T21%3A43%3A03Z&sr=b&sp=racwdxyltmei&sig=Sanitized&comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-2395c2a5-56bd-5093-4c52-0c5ef6e72175/test-blob-89cf6d9c-f6c9-104f-7db9-bbf45a00b4f3?sv=sanitized-value&se=2025-10-01T21%3A43%3A03Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE006A55C31718\"",
        "Last-Modified": "Tue, 30 Sep 2025 21:43:03 GMT",
        "x-ms-blob-append-offset": "0",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-content-crc64": "PZnqzwOL+fo=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-2395c2a5-56bd-5093-4c52-0c5ef6e72175/test-blob-89cf6d9c-f6c9-104f-7db9-bbf45a00b4f3?sv=Sanitized&se=2025-10-01T21%3A43%3A03Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DE006A559E0586\"",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DE006A559E0586\"",
        "Last-Modified": "Tue, 30 Sep 2025 21:43:03 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Tue, 30 Sep 2025 21:43:03 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
   [...]
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-2395c2a5-56bd-5093-4c52-0c5ef6e72175?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 30 Sep 2025 21:43:04 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2025-09-30T14:43:03.4412837-07:00",
    "RandomSeed": "1515155889",
    "Storage_TestConfigDefault": "ProductionTenant\namandapreprod\nU2FuaXRpemVk\nhttps://amandapreprod.blob.core.windows.net\nhttps://amandapreprod.file.core.windows.net\nhttps://amandapreprod.queue.core.windows.net\nhttps://amandapreprod.table.core.windows.net\n\n\n\n\nhttps://amandapreprod-secondary.blob.core.windows.net\nhttps://amandapreprod-secondary.file.core.windows.net\nhttps://amandapreprod-secondary.queue.core.windows.net\nhttps://amandapreprod-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandapreprod.blob.core.windows.net/;QueueEndpoint=https://amandapreprod.queue.core.windows.net/;FileEndpoint=https://amandapreprod.file.core.windows.net/;BlobSecondaryEndpoint=https://amandapreprod-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandapreprod-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandapreprod-secondary.file.core.windows.net/;AccountName=amandapreprod;AccountKey=U2FuaXRpemVk\nencryptionScope\n\n"
  }
}
