{
  "Entries": [
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-5bf14026-87d1-3feb-644e-22e8b75d24b5?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 01:17:33 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC868F9D214C95\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:17:35 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-5bf14026-87d1-3feb-644e-22e8b75d24b5/test-blob-63f1f1d7-30c5-f154-5a1d-0d6cd3aefd44",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "application/octet-stream",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Fri, 07 Jun 2024 01:17:34 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC868F9D40B8C3\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:17:35 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-06-07T01:17:35.6477635Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-5bf14026-87d1-3feb-644e-22e8b75d24b5/test-blob-63f1f1d7-30c5-f154-5a1d-0d6cd3aefd44?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Fri, 07 Jun 2024 01:17:34 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "49ISqTGR5Mid0JSLmThiR5E9Yf9t+989dJDOg6Km5gcXD3dX9FFxIz9pi7E438/0NrPkSHiQ9ufy1DShwmEm9umMdIrBClI/yz7ABHAtBZXB2k3uwZ6OhhmPZCAc0GDeQpTHq2pEMythpXw50PF3xM6f3+gTODRL/e1xMaUxI/rd4sHbZlkqfKcijBwhVbYnF59RffB4ygpgfK190wGFL4GCXO4wnF51dWNB8asXKag2SRkF4KUKZRe2euqrrKmlnF2bn/jI93tB3AiNN9hfSFIFRonnf0/bd/fWeSF0yci6m1VOfIqvblKexAOdfC0+VzKXpmUfvhwNvycB8n5ZzRI/05uDE[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-5bf14026-87d1-3feb-644e-22e8b75d24b5/test-blob-63f1f1d7-30c5-f154-5a1d-0d6cd3aefd44?sv=Sanitized&se=2024-06-08T01%3A17%3A34Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC868F9D4F3675\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:17:35 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Fri, 07 Jun 2024 01:17:35 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-06-07T01:17:35.6477635Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-5ab861f5-6aeb-8f0b-5ce3-cb7b41cff813/test-blob-de1773c7-14a8-bf7b-e865-d6513f3ccc7c?sv=Sanitized&se=2024-06-08T01%3A17%3A34Z&sr=b&sp=racwdxyltmei&sig=Sanitized&comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://seancanary.blob.core.windows.net/test-container-5bf14026-87d1-3feb-644e-22e8b75d24b5/test-blob-63f1f1d7-30c5-f154-5a1d-0d6cd3aefd44?sv=Sanitized&se=2024-06-08T01%3A17%3A34Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC868F9D8A1793\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:17:36 GMT",
        "x-ms-blob-append-offset": "0",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-content-crc64": "pa3uM5jn1fk=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-5bf14026-87d1-3feb-644e-22e8b75d24b5/test-blob-63f1f1d7-30c5-f154-5a1d-0d6cd3aefd44?sv=Sanitized&se=2024-06-08T01%3A17%3A34Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DC868F9D4F3675\"",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC868F9D4F3675\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:17:35 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Fri, 07 Jun 2024 01:17:35 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-m[...]
[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-5bf14026-87d1-3feb-644e-22e8b75d24b5?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 01:17:35 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-06-06T20:17:34.2583388-05:00",
    "RandomSeed": "863587356",
    "Storage_TestConfigDefault": "ProductionTenant\nseancanary\nU2FuaXRpemVk\nhttps://seancanary.blob.core.windows.net\nhttps://seancanary.file.core.windows.net\nhttps://seancanary.queue.core.windows.net\nhttps://seancanary.table.core.windows.net\n\n\n\n\nhttps://seancanary-secondary.blob.core.windows.net\nhttps://seancanary-secondary.file.core.windows.net\nhttps://seancanary-secondary.queue.core.windows.net\nhttps://seancanary-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seancanary.blob.core.windows.net/;QueueEndpoint=https://seancanary.queue.core.windows.net/;FileEndpoint=https://seancanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seancanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seancanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seancanary-secondary.file.core.windows.net/;AccountName=seancanary;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
