{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-d9e996fa-bfee-d60d-4445-4ec2097669ab?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Thu, 28 Mar 2024 21:05:03 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4F6ABE4E15E9\u0022",
        "Last-Modified": "Thu, 28 Mar 2024 21:05:05 GMT",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-d9e996fa-bfee-d60d-4445-4ec2097669ab/test-blob-8a1594c5-806b-5e0a-6c4b-c2acd54b7c40",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Thu, 28 Mar 2024 21:05:04 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4F6ABE6252CA\u0022",
        "Last-Modified": "Thu, 28 Mar 2024 21:05:05 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-03-28T21:05:05.9010250Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-d9e996fa-bfee-d60d-4445-4ec2097669ab/test-blob-8a1594c5-806b-5e0a-6c4b-c2acd54b7c40?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 28 Mar 2024 21:05:04 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": "3H3eDZmrgbdred9GvELQHsyHdVTKNcVYFA8zG8Fb88SvvbZ3Vq9OgCLApOnSoNdNs95CXyzjr6e3hviJd2X2EIYal/\u002BMWMgdOfUxCZHbhXQ45mjiGJSYyw0Pv9C3xQi8ypNjuAnYwVoWJSU2saUV3ACDUJH8E/fygcvxfJj3ZnPtdT/9eM1rYCUNzPNuYhpo\u002BePQM3R3v7eccTY950TBH7\u002BySTxmF2MyGPBr70YDgx\u002BxiIO1JjL/drWHYQeXLXnhS600vBjdAeGAnRqEC9BwmO0Wi17ADPiMstOH3rZbm\u002Bp2iaOZz8cH04ehNYkYe2rkFsga[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-d9e996fa-bfee-d60d-4445-4ec2097669ab/test-blob-8a1594c5-806b-5e0a-6c4b-c2acd54b7c40?sv=2024-05-04\u0026se=2024-03-29T21%3A05%3A04Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC4F6ABE6C3C6A\u0022",
        "Last-Modified": "Thu, 28 Mar 2024 21:05:05 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Thu, 28 Mar 2024 21:05:05 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-03-28T21:05:05.9010250Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-b3feb59a-22db-615b-3e35-2e8eab79cc1f/test-blob-87fe475f-787f-f5f7-3211-f2b84b1c549e?sv=2024-05-04\u0026se=2024-03-29T21%3A05%3A04Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-content-type": "application/octet-stream",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4F6ABE82F571\u0022",
        "Last-Modified": "Thu, 28 Mar 2024 21:05:06 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-03-28T21:05:06.1149041Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-b3feb59a-22db-615b-3e35-2e8eab79cc1f/test-blob-87fe475f-787f-f5f7-3211-f2b84b1c549e?sv=2024-05-04\u0026se=2024-03-29T21%3A05%3A04Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized\u0026comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-copy-source": "https://amandadev2.blob.core.windows.net/test-container-d9e996fa-bfee-d60d-4445-4ec2097669ab/test-blob-8a1594c5-806b-5e0a-6c4b-c2acd54b7c40?sv=2024-05-04\u0026se=2024-03-29T21%3A05%3A04Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4F6ABE8D5439\u0022",
        "Last-Modified": "Thu, 28 Mar 2024 21:05:06 GMT",
        "x-ms-blob-append-offset": "0",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-content-crc64": "q9zd5ZDQzRk=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-d9e996fa-bfee-d60d-4445-4ec2097669ab/test-blob-8a1594c5-806b-5e0a-6c4b-c2acd54b7c40?sv=2024-05-04\u0026se=2024-03-29T21%3A05%3A04Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\u00220x8DC4F6ABE6C3C6A\u0022",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC4F6ABE6C3C6A\u0022",
        "Last-Modified": "Thu, 28 Mar 2024 21:05:05 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Thu, 28 Mar 2024 21:05:05 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
  [...]
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-d9e996fa-bfee-d60d-4445-4ec2097669ab?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 28 Mar 2024 21:05:04 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-03-28T14:05:04.2038031-07:00",
    "RandomSeed": "1135911614",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
