{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-de72b6c5-483b-39e8-9441-3aad516c8b73?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 27 Mar 2024 22:41:24 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4EAF091299F1\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 22:41:25 GMT",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-de72b6c5-483b-39e8-9441-3aad516c8b73/test-blob-c03a7db0-3bfc-765b-fa69-e824ceb0e347",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Wed, 27 Mar 2024 22:41:24 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4EAF0927AFE3\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 22:41:25 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-03-27T22:41:25.9607011Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-de72b6c5-483b-39e8-9441-3aad516c8b73/test-blob-c03a7db0-3bfc-765b-fa69-e824ceb0e347?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 27 Mar 2024 22:41:24 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": "6e1aBR1CrL4OPXjk0yYJgn8qNB4xHa4au4vQ/s\u002BP3Wak6XgM99Ssjr/eNHIB3LW7DMCedhplVss/QEmRcq3uf18RP\u002Bmt/IqrfaVeUuk8GN7WFPIP8GdMP5OszbeKGhwR8LUS8J3MDg818/h0BgPiAidru1273o/4xQBVAC7TIWOJTGEzKShBCgbi2vxu1ziQycqPHl\u002B\u002BVhIlGSqcdg3gYtKV67qhrtn\u002BKrFW2AOSiu3IxTZjQwIDyvZPDQ/9pJP5AXgq2ex\u002B7hvxkPSuaH0Oko881LDWfR7QkSDDUqDJAYYdXdaLaLEBSdcbcrINVWJ[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-de72b6c5-483b-39e8-9441-3aad516c8b73/test-blob-c03a7db0-3bfc-765b-fa69-e824ceb0e347?sv=2024-05-04\u0026se=2024-03-28T22%3A41%3A24Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC4EAF0939398B\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 22:41:26 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Wed, 27 Mar 2024 22:41:25 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-03-27T22:41:25.9607011Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-2d4b9930-8d6d-5f87-7ad2-daf04dfba26c/test-blob-b011ffbc-a53f-888f-c837-96f7639c6e08?sv=2024-05-04\u0026se=2024-03-28T22%3A41%3A24Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized\u0026comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-copy-source": "https://amandadev2.blob.core.windows.net/test-container-de72b6c5-483b-39e8-9441-3aad516c8b73/test-blob-c03a7db0-3bfc-765b-fa69-e824ceb0e347?sv=2024-05-04\u0026se=2024-03-28T22%3A41%3A24Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4EAF0960E01C\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 22:41:26 GMT",
        "x-ms-blob-append-offset": "0",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-content-crc64": "P5tZ7TWzL0M=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-de72b6c5-483b-39e8-9441-3aad516c8b73/test-blob-c03a7db0-3bfc-765b-fa69-e824ceb0e347?sv=2024-05-04\u0026se=2024-03-28T22%3A41%3A24Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\u00220x8DC4EAF0939398B\u0022",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC4EAF0939398B\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 22:41:26 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Wed, 27 Mar 2024 22:41:25 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
  [...]
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-de72b6c5-483b-39e8-9441-3aad516c8b73?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 27 Mar 2024 22:41:25 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-03-27T15:41:24.6918255-07:00",
    "RandomSeed": "1969470689",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
