{
  "Entries": [
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-029f6c8c-b365-c203-42b9-3ef5d437ebeb?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 31 Jan 2025 20:44:01 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD4237FE8124BF\"",
        "Last-Modified": "Fri, 31 Jan 2025 20:44:01 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-029f6c8c-b365-c203-42b9-3ef5d437ebeb/test-blob-25a2c196-afff-e8f8-0659-5e8fe135df25",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Fri, 31 Jan 2025 20:44:01 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD4237FE90BF75\"",
        "Last-Modified": "Fri, 31 Jan 2025 20:44:01 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05",
        "x-ms-version-id": "2025-01-31T20:44:01.8012021Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-029f6c8c-b365-c203-42b9-3ef5d437ebeb/test-blob-25a2c196-afff-e8f8-0659-5e8fe135df25?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Fri, 31 Jan 2025 20:44:01 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": "Q6envtGVZlNMxlOJPS4WnJONzrFsHra/c0Bf6Rm/3MVuO0GYf7EafK7Y8PftRRqwVgdrJABFfyTx50qQNXw6jOqOGwLsfhzic1ICky2+0i0lr5MRVLfEKLscpphniUYxnWQNXyoYw9friLGuQuv2MhQcaobpKTgzyfJGz9eEeukL0PXJsXMDDey7JssFFuXPJnODSx7ASHQr2ZU30vMAZg7IonL1LYGhGV2aLgNtLbMNdqljAC/KS4iBntfdyzv4u7+9PXRz2fjy4jLBJhlwvaviKltJnGbe/lbpdI+pw00ioXNEsPA/mpyxcR79CCVuEeAr+6Hfrh5Z3j4diWVpSB7knoSmL[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-029f6c8c-b365-c203-42b9-3ef5d437ebeb/test-blob-25a2c196-afff-e8f8-0659-5e8fe135df25?sv=Sanitized&se=2025-02-01T20%3A44%3A01Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD4237FE983870\"",
        "Last-Modified": "Fri, 31 Jan 2025 20:44:01 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Fri, 31 Jan 2025 20:44:01 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05",
        "x-ms-version-id": "2025-01-31T20:44:01.8012021Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-87cc384f-fe12-f565-97e1-7b7f8d0547bf/test-blob-eb4fbadc-188a-bb74-df21-201950ecf6b6?sv=Sanitized&se=2025-02-01T20%3A44%3A01Z&sr=b&sp=racwdxyltmei&sig=Sanitized&comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-copy-source": "https://jalauzonnettest.blob.core.windows.net/test-container-029f6c8c-b365-c203-42b9-3ef5d437ebeb/test-blob-25a2c196-afff-e8f8-0659-5e8fe135df25?sv=sanitized-value&se=2025-02-01T20%3A44%3A01Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD4237FEB384A6\"",
        "Last-Modified": "Fri, 31 Jan 2025 20:44:02 GMT",
        "x-ms-blob-append-offset": "0",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-content-crc64": "Dzh7+Ug6BHk=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-029f6c8c-b365-c203-42b9-3ef5d437ebeb/test-blob-25a2c196-afff-e8f8-0659-5e8fe135df25?sv=Sanitized&se=2025-02-01T20%3A44%3A01Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DD4237FE983870\"",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD4237FE983870\"",
        "Last-Modified": "Fri, 31 Jan 2025 20:44:01 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Fri, 31 Jan 2025 20:44:01 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "[...]
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-87cc384f-fe12-f565-97e1-7b7f8d0547bf/test-blob-eb4fbadc-188a-bb74-df21-201950ecf6b6?sv=Sanitized&se=2025-02-01T20%3A44%3A01Z&sr=b&sp=racwdxyltmei&sig=Sanitized&comp=tags",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?>\n",
        "<Tags><TagSet/></Tags>"
      ]
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-029f6c8c-b365-c203-42b9-3ef5d437ebeb?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 31 Jan 2025 20:44:02 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2025-01-31T12:44:01.8841703-08:00",
    "RandomSeed": "1670053915",
    "Storage_TestConfigDefault": "ProductionTenant\njalauzonnettest\nU2FuaXRpemVk\nhttps://jalauzonnettest.blob.core.windows.net\nhttps://jalauzonnettest.file.core.windows.net\nhttps://jalauzonnettest.queue.core.windows.net\nhttps://jalauzonnettest.table.core.windows.net\n\n\n\n\nhttps://jalauzonnettest-secondary.blob.core.windows.net\nhttps://jalauzonnettest-secondary.file.core.windows.net\nhttps://jalauzonnettest-secondary.queue.core.windows.net\nhttps://jalauzonnettest-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://jalauzonnettest.blob.core.windows.net/;QueueEndpoint=https://jalauzonnettest.queue.core.windows.net/;FileEndpoint=https://jalauzonnettest.file.core.windows.net/;BlobSecondaryEndpoint=https://jalauzonnettest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jalauzonnettest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jalauzonnettest-secondary.file.core.windows.net/;AccountName=jalauzonnettest;AccountKey=U2FuaXRpemVk\ntestscope1\n\n"
  }
}
