{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-a85ebfbb-2177-cbb8-197c-a3ba17374948?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Thu, 04 Apr 2024 23:00:48 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC54FB11C5EF92\u0022",
        "Last-Modified": "Thu, 04 Apr 2024 23:00:49 GMT",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-a85ebfbb-2177-cbb8-197c-a3ba17374948/test-blob-1c4dc81e-7669-a332-f9bc-c0594e015ec2",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Thu, 04 Apr 2024 23:00:48 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC54FB11D973EF\u0022",
        "Last-Modified": "Thu, 04 Apr 2024 23:00:49 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-04-04T23:00:49.2755951Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-a85ebfbb-2177-cbb8-197c-a3ba17374948/test-blob-1c4dc81e-7669-a332-f9bc-c0594e015ec2?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 04 Apr 2024 23:00:48 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": "sdXuny/Fg1QFzudZ8Bzx5DfdkjM8EFyGTdKb\u002BIoUF4jk2aYzqMYZkaa\u002BjGVFZkxMR03fiRRWbqB4Z1FcKYrJ8bdedBd1vTtxwwGMfoT3QOeGT7E9NI10jmoFukB0vWcc9Jut5/E01ooSbsYSyvAcgSdq1drZjLwp6uatcAP7/QWZcIrpSVn1UXgnK8bGYcN56DgZCeeNQmfehPwLh2aGF3HAeVpmMzjNdYRhsmH2YokiM4fK4fMeDC0iCsVd6ckSoBNUBuhoE7X/TJRjLI8F6CFz6FTfvDV\u002BomwsQyhzcIu6TxJNoVyhuiDRypVeut\u002BeHSKj6gB1M[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-a85ebfbb-2177-cbb8-197c-a3ba17374948/test-blob-1c4dc81e-7669-a332-f9bc-c0594e015ec2?sv=2024-05-04\u0026se=2024-04-05T23%3A00%3A48Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC54FB11E30F83\u0022",
        "Last-Modified": "Thu, 04 Apr 2024 23:00:49 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Thu, 04 Apr 2024 23:00:49 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-04-04T23:00:49.2755951Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-0186c7bc-3d81-876a-98c0-b110c16fa142/test-blob-e89c7b7d-3de3-8af1-5b30-4df88112e2b4?sv=2024-05-04\u0026se=2024-04-05T23%3A00%3A48Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-content-type": "application/octet-stream",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC54FB11FD9884\u0022",
        "Last-Modified": "Thu, 04 Apr 2024 23:00:49 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-04-04T23:00:49.5124612Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-0186c7bc-3d81-876a-98c0-b110c16fa142/test-blob-e89c7b7d-3de3-8af1-5b30-4df88112e2b4?sv=2024-05-04\u0026se=2024-04-05T23%3A00%3A48Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized\u0026comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-copy-source": "https://amandadev2.blob.core.windows.net/test-container-a85ebfbb-2177-cbb8-197c-a3ba17374948/test-blob-1c4dc81e-7669-a332-f9bc-c0594e015ec2?sv=2024-05-04\u0026se=2024-04-05T23%3A00%3A48Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC54FB1207822A\u0022",
        "Last-Modified": "Thu, 04 Apr 2024 23:00:49 GMT",
        "x-ms-blob-append-offset": "0",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-content-crc64": "DHNiY8tPh\u002Bw=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-a85ebfbb-2177-cbb8-197c-a3ba17374948?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 04 Apr 2024 23:00:49 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-04-04T16:00:48.6187854-07:00",
    "RandomSeed": "156724352",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
