{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-8fea7f39-8e6e-9907-ecea-6b671a3a636b?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 10 Apr 2024 04:38:22 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC59180E2FD790\u0022",
        "Last-Modified": "Wed, 10 Apr 2024 04:38:23 GMT",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-7137abf3-e267-43d9-61d1-dd28ddfe6783/test-blob-e335fbf5-e0e8-5651-bd8a-57e3eb989b41",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "application/octet-stream",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Wed, 10 Apr 2024 04:38:22 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC59180E44BF51\u0022",
        "Last-Modified": "Wed, 10 Apr 2024 04:38:23 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-04-10T04:38:23.3241425Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-7137abf3-e267-43d9-61d1-dd28ddfe6783/test-blob-e335fbf5-e0e8-5651-bd8a-57e3eb989b41?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 10 Apr 2024 04:38:23 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": "Tuolfo6iLoSdAeDbPjPcO0\u002BQY750dUb72Anf4JTKz6zPY28GCw4h80fp6sEeHqmEjyvVDkJESdmkKqWEwk3v0zIzC9vD1jBBb3B2iouE3LpgW1Fo9MFqixmWYeBpnDD6\u002BhaP6xLNwLj7lJ/Rzb9OH07rI2f8h99xyIDBLXRP2NJAfJB09fCnk5qYbF8hmb1aSEGSfXjJ/nI3HiKSC5NDrLzMkFEv2SpdQ5DMYxp/Ty7DZ\u002BQyvFpZdn0dPdfOFYcHVMCjVQlrKm8XNTrn/ZpYt870zqOuEe9hcxrTEptTjy0JxA9a2/klVz11G4cgcXnjxIUI2UbjWUPQQe[...]
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-8fea7f39-8e6e-9907-ecea-6b671a3a636b/test-blob-5ceb807b-8447-7dc9-1270-5c8baa6a5217?sv=2024-05-04\u0026se=2024-04-11T04%3A38%3A23Z\u0026sr=b\u0026sp=Sanitized\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC59180E60A7B4\u0022",
        "Last-Modified": "Wed, 10 Apr 2024 04:38:23 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Wed, 10 Apr 2024 04:38:23 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-04-10T04:38:23.4460720Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-7137abf3-e267-43d9-61d1-dd28ddfe6783/test-blob-e335fbf5-e0e8-5651-bd8a-57e3eb989b41?sv=2024-05-04\u0026se=2024-04-11T04%3A38%3A23Z\u0026sr=b\u0026sp=Sanitized\u0026sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "application/octet-stream",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 409,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "BlobAlreadyExists",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003EBlobAlreadyExists\u003C/Code\u003E\u003CMessage\u003EThe specified blob already exists.\n",
        "RequestId:63c97fc1-b01e-0048-6900-8b68d6000000\n",
        "Time:2024-04-10T04:38:23.6915985Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-8fea7f39-8e6e-9907-ecea-6b671a3a636b?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 10 Apr 2024 04:38:23 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-04-09T21:38:23.1145325-07:00",
    "RandomSeed": "228967223",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
