{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-dbc816ff-8988-ee09-10a1-4c5f94a0615a?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Thu, 04 Apr 2024 23:00:14 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC54FAFDBC80A7\u0022",
        "Last-Modified": "Thu, 04 Apr 2024 23:00:15 GMT",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-03ed7e49-08b0-5b8c-19b2-1eabd2350450/test-blob-c3013045-9aab-967e-dc05-17bd2bf78311",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Thu, 04 Apr 2024 23:00:15 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC54FAFDCF9A84\u0022",
        "Last-Modified": "Thu, 04 Apr 2024 23:00:15 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-04-04T23:00:15.6566148Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-03ed7e49-08b0-5b8c-19b2-1eabd2350450/test-blob-c3013045-9aab-967e-dc05-17bd2bf78311?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 04 Apr 2024 23:00:15 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": "PTQv\u002BlosCLAaB3egKvbGDr3X6pdj/sPzorqMqGS56\u002BBzpjml5JEkoVrZ6vf4Z4JzryJYglFVoT5wPFifoF9LYBuWLIS8ICoss0k9iRPL\u002Bjo4GPlBYWmPHgX7Nag4hQH6jYrbYTr\u002Bto74K88IGBgqpUEeZ4dmCv\u002ByBg5/weuC9C1HQvyJ75j/OWFqSTWZhwXs0Y9mGh15k4OLKVosf/WjdTehwNUboLWoHi0l/MDJGH8IkvBbG9kQzq95/cY907psxtP9\u002BMcw0TDZvvzvVJfCwRDbI\u002B0FR1pdkfIloqPvakpzuTXtyyC418C/gV[...]
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-dbc816ff-8988-ee09-10a1-4c5f94a0615a/test-blob-6c427439-23a0-0f26-2e1a-c145b4407c77?sv=2024-05-04\u0026se=2024-04-05T23%3A00%3A15Z\u0026sr=b\u0026sp=Sanitized\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC54FAFDEF2BE6\u0022",
        "Last-Modified": "Thu, 04 Apr 2024 23:00:15 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Thu, 04 Apr 2024 23:00:15 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-04-04T23:00:15.8035317Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-03ed7e49-08b0-5b8c-19b2-1eabd2350450/test-blob-c3013045-9aab-967e-dc05-17bd2bf78311?sv=2024-05-04\u0026se=2024-04-05T23%3A00%3A15Z\u0026sr=b\u0026sp=Sanitized\u0026sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-content-type": "application/octet-stream",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 409,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "BlobAlreadyExists",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003EBlobAlreadyExists\u003C/Code\u003E\u003CMessage\u003EThe specified blob already exists.\n",
        "RequestId:3d67f3e4-901e-003d-45e3-8603fa000000\n",
        "Time:2024-04-04T23:00:16.0350977Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-dbc816ff-8988-ee09-10a1-4c5f94a0615a?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 04 Apr 2024 23:00:15 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-04-04T16:00:15.1397197-07:00",
    "RandomSeed": "1831039252",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
