{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-8784e66f-a1a9-a29d-b157-13b4a11f8ed2?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Thu, 28 Mar 2024 21:04:54 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4F6AB8AF2469\u0022",
        "Last-Modified": "Thu, 28 Mar 2024 21:04:56 GMT",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-de78fcd4-9854-26b8-174b-2d8c47ef061f/test-blob-667d4a6c-6714-7906-5ea4-f0b41320fc9d",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Thu, 28 Mar 2024 21:04:54 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4F6AB8C3C670\u0022",
        "Last-Modified": "Thu, 28 Mar 2024 21:04:56 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-03-28T21:04:56.4733552Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-de78fcd4-9854-26b8-174b-2d8c47ef061f/test-blob-667d4a6c-6714-7906-5ea4-f0b41320fc9d?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 28 Mar 2024 21:04:54 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": "wzagQQjGPkSyR42Q4qGkBTVe3h5TU4IJZLSMFpP\u002Bnjj4GbKYgVevxvQCuwkg\u002BtbAAuXK4H7lFnC0l91TOiexs6lUl8nvDITdrxcqUZd46GndzBStM725EgNB4\u002Bp6W4zNUQdgzGIN0fZh7TBnu8TYO65zdm0TA4DrmoXFrSiZY1SKXACPFxwGz/odS0aMUVY\u002BaKc7BuQfuk2HdTHdRyPNyInc3V/ESSSSbKZy9bg5Xkguh0SAXlxva6KyB6LrKIjXT4O8sHT3eR\u002BDqJo\u002BrMSVThfor8DeTWktbHK8EkGBp0Qem6Y1fK3UNg0l/bXCMb/[...]
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-8784e66f-a1a9-a29d-b157-13b4a11f8ed2/test-blob-4bf9ca16-2096-0ea1-27f1-5b853a04c8bc?sv=2024-05-04\u0026se=2024-03-29T21%3A04%3A54Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC4F6AB8E10E2F\u0022",
        "Last-Modified": "Thu, 28 Mar 2024 21:04:56 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Thu, 28 Mar 2024 21:04:56 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-03-28T21:04:56.6012817Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-de78fcd4-9854-26b8-174b-2d8c47ef061f/test-blob-667d4a6c-6714-7906-5ea4-f0b41320fc9d?sv=2024-05-04\u0026se=2024-03-29T21%3A04%3A54Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-content-type": "application/octet-stream",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 409,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "BlobAlreadyExists",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003EBlobAlreadyExists\u003C/Code\u003E\u003CMessage\u003EThe specified blob already exists.\n",
        "RequestId:5f14d77b-101e-0051-4d53-81e86d000000\n",
        "Time:2024-03-28T21:04:56.8274177Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-8784e66f-a1a9-a29d-b157-13b4a11f8ed2?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 28 Mar 2024 21:04:55 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-03-28T14:04:54.7727959-07:00",
    "RandomSeed": "88454896",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
