{
  "Entries": [
    {
      "RequestUri": "https://sanitized.services.ai.azure.com/contentunderstanding/analyzers/test_analyzer_1770254384619_source?api-version=2025-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "description": "Analyzer for cross-resource copying demo",
        "tags": {
          "source": "Sanitized"
        },
        "baseAnalyzerId": "prebuilt-document",
        "config": {
          "returnDetails": true,
          "enableOcr": true,
          "enableLayout": true,
          "enableFormula": false,
          "estimateFieldSourceAndConfidence": true
        },
        "fieldSchema": {
          "name": "company_schema",
          "description": "Schema for extracting company information",
          "fields": {
            "company_name": {
              "method": "extract",
              "type": "string",
              "description": "Name of the company"
            },
            "total_amount": {
              "method": "extract",
              "type": "number",
              "description": "Total amount on the document"
            }
          }
        },
        "models": {
          "completion": "gpt-4.1"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2025-05-01-preview,2025-11-01",
        "Content-Type": "application/json",
        "Operation-Location": "https://sanitized.services.ai.azure.com/contentunderstanding/analyzers/test_analyzer_1770254384619_source/operations/9b9d8234-8a8b-4fd3-a537-c9f51ddd989c?api-version=2025-11-01",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "analyzerId": "test_analyzer_1770254384619_source",
        "description": "Analyzer for cross-resource copying demo",
        "tags": {
          "source": "Sanitized"
        },
        "createdAt": "2026-02-05T01:20:00Z",
        "lastModifiedAt": "2026-02-05T01:20:00Z",
        "baseAnalyzerId": "prebuilt-document",
        "config": {
          "returnDetails": true,
          "enableOcr": true,
          "enableLayout": true,
          "enableFormula": false,
          "enableFigureDescription": false,
          "enableFigureAnalysis": false,
          "chartFormat": "chartjs",
          "tableFormat": "html",
          "estimateFieldSourceAndConfidence": true,
          "enableSegment": false,
          "omitContent": false,
          "segmentPerPage": false,
          "annotationFormat": "markdown"
        },
        "fieldSchema": {
          "name": "company_schema",
          "description": "Schema for extracting company information",
          "fields": {
            "company_name": {
              "type": "string",
              "method": "extract",
              "description": "Name of the company"
            },
            "total_amount": {
              "type": "number",
              "method": "extract",
              "description": "Total amount on the document"
            }
          }
        },
        "warnings": [],
        "status": "creating",
        "processingLocation": "geography",
        "supportedModels": {
          "completion": [
            "gpt-4o",
            "gpt-4o-mini",
            "gpt-4.1",
            "gpt-4.1-mini",
            "gpt-4.1-nano"
          ],
          "embedding": [
            "text-embedding-3-small",
            "text-embedding-3-large",
            "text-embedding-ada-002"
          ]
        },
        "models": {
          "completion": "gpt-4.1",
          "embedding": "text-embedding-3-large"
        }
      }
    },
    {
      "RequestUri": "https://sanitized.services.ai.azure.com/contentunderstanding/analyzers/test_analyzer_1770254384619_source/operations/9b9d8234-8a8b-4fd3-a537-c9f51ddd989c?api-version=2025-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2025-05-01-preview,2025-11-01",
        "Content-Type": "application/json",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "id": "9b9d8234-8a8b-4fd3-a537-c9f51ddd989c",
        "status": "Running",
        "result": {
          "analyzerId": "test_analyzer_1770254384619_source",
          "description": "Analyzer for cross-resource copying demo",
          "tags": {
            "source": "Sanitized"
          },
          "createdAt": "2026-02-05T01:20:00Z",
          "lastModifiedAt": "2026-02-05T01:20:00Z",
          "baseAnalyzerId": "prebuilt-document",
          "config": {
            "returnDetails": true,
            "enableOcr": true,
            "enableLayout": true,
            "enableFormula": [...]
[...]
    {
      "RequestUri": "https://sanitized.services.ai.azure.com/contentunderstanding/analyzers/test_analyzer_1770254384619_source:grantCopyAuthorization?api-version=2025-11-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "targetAzureResourceId": "placeholder-target-resource-id",
        "targetRegion": "placeholder-target-region"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2025-05-01-preview,2025-11-01",
        "Content-Type": "application/json",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "targetAzureResourceId": "placeholder-target-resource-id",
        "targetRegion": "placeholder-target-region",
        "expiresAt": "2026-02-06T01:20:03.8510426+00:00"
      }
    },
    {
      "RequestUri": "https://sanitized-target.services.ai.azure.com/contentunderstanding/analyzers/test_analyzer_1770254384619_target:copy?api-version=2025-11-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "sourceAzureResourceId": "placeholder-source-resource-id",
        "sourceRegion": "placeholder-source-region",
        "sourceAnalyzerId": "test_analyzer_1770254384619_source"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2025-05-01-preview,2025-11-01",
        "Content-Type": "application/json",
        "operation-location": "https://sanitized-target.services.ai.azure.com/contentunderstanding/analyzers/test_analyzer_1770254384619_target/operations/52549e78-6071-44a9-9426-20e81a5c0792?api-version=2025-11-01",
        "x-ms-region": "Sweden Central"
      },
      "ResponseBody": {
        "analyzerId": "test_analyzer_1770254384619_target",
        "description": "Analyzer for cross-resource copying demo",
        "tags": {
          "source": "Sanitized"
        },
        "createdAt": "2026-02-05T01:20:11Z",
      [...]
    {
      "RequestUri": "https://sanitized-target.services.ai.azure.com/contentunderstanding/analyzers/test_analyzer_1770254384619_target/operations/52549e78-6071-44a9-9426-20e81a5c0792?api-version=2025-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2025-05-01-preview,2025-11-01",
        "Content-Type": "application/js[...]
[...]
    {
      "RequestUri": "https://sanitized-target.services.ai.azure.com/contentunderstanding/analyzers/test_analyzer_1770254384619_target?api-version=2025-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2025-05-01-preview,2025-11-01",
        "Content-Type": "application/json",
        "x-ms-region": "Sweden Central"
   [...]
[...]
    {
      "RequestUri": "https://sanitized-target.services.ai.azure.com/contentunderstanding/analyzers/test_analyzer_1770254384619_target?api-version=2025-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2025-05-01-preview,2025-11-01",
        "x-ms-region": "Sweden Central"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "analyzerId": "test_analyzer_1770254384619"
  }
}
