{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/settings?api-version=7.6-preview.2",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-build-version": "1.0.20241130-1-aecac196-develop",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": "OK"
    },
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/settings?api-version=7.6-preview.2",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20241130-1-aecac196-develop",
        "x-ms-server-latency": "2"
      },
      "ResponseBody": {
        "settings": [
          {
            "name": "AllowKeyManagementOperationsThroughARM",
            "type": "boolean",
            "value": "false"
          }
        ]
      }
    }
  ],
  "Variables": {
    "suffix": "suffix-756017"
  }
}
