{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/baa34aed-361d-43b0-8a60-3322d255ff8e?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11999"
      },
      "ResponseBody": {
        "id": "/subscriptions/baa34aed-361d-43b0-8a60-3322d255ff8e",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "subscriptionId": "baa34aed-361d-43b0-8a60-3322d255ff8e",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": "Azure Spring Cloud Migration - Dogfood",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/baa34aed-361d-43b0-8a60-3322d255ff8e/resourcegroups/rg-test?api-version=2022-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11997"
      },
      "ResponseBody": {
        "id": "/subscriptions/baa34aed-361d-43b0-8a60-3322d255ff8e/resourceGroups/rg-test",
        "name": "rg-test",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "southeastasia",
        "tags": {},
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/baa34aed-361d-43b0-8a60-3322d255ff8e/resourceGroups/rg-test/providers/Microsoft.OffAzureSpringBoot/springbootsites/site-test?api-version=2023-01-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "masterSiteId": "1234",
          "migrateProjectId": "5678"
        },
        "extendedLocation": {
          "type": "CustomLocation",
          "name": "/subscriptions/baa34aed-361d-43b0-8a60-3322d255ff8e/resourceGroups/rg-test/providers/Microsoft.ExtendedLocation/customLocations/springboot"
        },
        "tags": {},
        "location": "southeastasia"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/baa34aed-361d-43b0-8a60-3322d255ff8e/providers/Microsoft.OffAzureSpringBoot/locations/SOUTHEASTASIA/operationStatuses/2dc1d738-2f1e-4d8b-8286-48da4f2fbe2d*B4EC87CC8E11BE0D730426B5CF28F434B99E1033BDA295082D8CB20E7A9ED047?api-version=2023-01-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022f60057c9-0000-1800-0000-657012ed0000\u0022",
        "mise-correlation-id": "3dcbde99-91fd-4e87-a455-5551e76723ec",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": {
        "id": "/subscriptions/baa34aed-361d-43b0-8a60-3322d255ff8e/resourceGroups/rg-test/providers/Microsoft.OffAzureSpringBoot/springbootsites/site-test",
        "name": "site-test",
        "type": "microsoft.offazurespringboot/springbootsites",
        "location": "southeastasia",
        "extendedLocation": {
          "name": "/subscriptions/baa34aed-361d-43b0-8a60-3322d255ff8e/resourceGroups/rg-test/providers/Microsoft.ExtendedLocation/customLocations/springboot",
          "type": "CustomLocation"
        },
        "tags": {},
        "systemData": {
          "createdBy": "c54b503b-afb2-4615-a3ec-8aaf3189440e",
          "createdByType": "Application",
          "createdAt": "2023-12-06T06:21:31.8144375Z",
          "lastModifiedBy": "c54b503b-afb2-4615-a3ec-8aaf3189440e",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2023-12-06T06:21:31.8144375Z"
        },
        "properties": {
          "provisioningState": "Accepted",
          "masterSiteId": "1234",
          "migrateProjectId": "5678"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/baa34aed-361d-43b0-8a60-3322d255ff8e/resourceGroups/rg-test/providers/Microsoft.OffAzureSpringBoot/springbootsites?api-version=2023-01-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-original-request-ids": [
          "10d57e1c-21f2-4212-bba5-f832e21ffb3f",
          "eb751390-0908-4379-b723-d18c8c836841",
          "50fe420f-82d7-4b11-bdcb-3e36e95e999b",
          "932d078e-4ced-492f-ba09-785f5c2a35fd",
          "963ad973-8f68-40e0-8e6b-bd6585d87e77",
          "1ff04404-d64f-4168-a686-c9fb8dcc52b0",
          "b50eef40-2ef2-49ba-915b-1368ce6c0396",
          "b3b5965f-4d1d-4ca3-a576-b36529972b9f",
          "d8e9b0c6-7e60-4e6d-8302-15d85dd7db18",
          "8d0e6006-cfb8-47b1-94e2-9bfb8bcb0dff",
          "910b8ca5-4281-4177-bc17-d43d81679039",
          "886b9cdc-e80d-4757-b5f7-958919037075",
          "a9448855-b5c5-4d04-8140-fb7e77efa6f4",
          "c4c66797-8c94-42da-9ac8-4afe27087702",
          "cdc44be1-5e1d-4782-84a0-be15545fafaf"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": "11999"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/baa34aed-361d-43b0-8a60-3322d255ff8e/resourceGroups/rg-test/providers/Microsoft.OffAzureSpringBoot/springbootsites/site-test",
            "name": "site-test",
            "type": "microsoft.offazurespringboot/springbootsites",
            "location": "southeastasia",
            "extendedLocation": {
              "name": "/subscriptions/baa34aed-361d-43b0-8a60-3322d255ff8e/resourceGroups/rg-test/providers/Microsoft.ExtendedLocation/customLocations/springboot",
              "type": "CustomLocation"
            },
            "tags": {},
            "systemData": {
              "createdBy": "c54b503b-afb2-4615-a3ec-8aaf3189440e",
              "createdByType": "Application",
              "createdAt": "2023-12-06T06:21:31.8144375Z",
              "lastModifiedBy": "319f651f-7ddb-4fc6-9857-7aef9250bd05",
              "lastModifiedByType": "Application",
              "lastModifiedAt": "2023-12-06T06:21:38.8909777Z"
            },
            "properties": {
              "provisioningState": "Succeeded",
              "masterSiteId": "1234",
              "migrateProjectId": "5678"
            }
          }
        ]
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/baa34aed-361d-43b0-8a60-3322d255ff8e/resourceGroups/rg-test/providers/Microsoft.OffAzureSpringBoot/springbootsites/site-test?api-version=2023-01-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/baa34aed-361d-43b0-8a60-3322d255ff8e/providers/Microsoft.OffAzureSpringBoot/locations/SOUTHEASTASIA/operationStatuses/e16b3a96-586a-495c-b2ef-17c428098bfb*B4EC87CC8E11BE0D730426B5CF28F434B99E1033BDA295082D8CB20E7A9ED047?api-version=2023-01-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022f600b5c9-0000-1800-0000-657013120000\u0022",
        "Location": "https://management.azure.com/subscriptions/baa34aed-361d-43b0-8a60-3322d255ff8e/providers/Microsoft.OffAzureSpringBoot/locations/SOUTHEASTASIA/operationStatuses/e16b3a96-586a-495c-b2ef-17c428098bfb*B4EC87CC8E11BE0D730426B5CF28F434B99E1033BDA295082D8CB20E7A9ED047?api-version=2023-01-01-preview",
        "mise-correlation-id": "2b933d23-a548-4bd8-abe3-405140b6fe8d",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-deletes": "14999"
      },
      "ResponseBody": "null"
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/baa34aed-361d-43b0-8a60-3322d255ff8e/providers/Microsoft.OffAzureSpringBoot/locations/SOUTHEASTASIA/operationStatuses/e16b3a96-586a-495c-b2ef-17c428098bfb*B4EC87CC8E11BE0D730426B5CF28F434B99E1033BDA295082D8CB20E7A9ED047?api-version=2023-01-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders"[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/baa34aed-361d-43b0-8a60-3322d255ff8e/providers/Microsoft.OffAzureSpringBoot/locations/southeastasia/operationStatuses/e16b3a96-586a-495c-b2ef-17c428098bfb*B4EC87CC8E11BE0D730426B5CF28F434B99E1033BDA295082D8CB20E7A9ED047?api-version=2023-01-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders"[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/baa34aed-361d-43b0-8a60-3322d255ff8e/providers/Microsoft.OffAzureSpringBoot/locations/southeastasia/operationStatuses/e16b3a96-586a-495c-b2ef-17c428098bfb*B4EC87CC8E11BE0D730426B5CF28F434B99E1033BDA295082D8CB20E7A9ED047?api-version=2023-01-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00228f00d05a-0000-1800-0000-657013160000\u0022",
        "x-ms-ratelimit-remaining-subscription-reads": "11998"
      },
      "ResponseBody": {
        "id": "/subscriptions/baa34aed-361d-43b0-8a60-3322d255ff8e/providers/Microsoft.OffAzureSpringBoot/locations/southeastasia/operationStatuses/e16b3a96-586a-495c-b2ef-17c428098bfb*B4EC87CC8E11BE0D730426B5CF28F434B99E1033BDA295082D8CB20E7A9ED047",
        "name": "e16b3a96-586a-495c-b2ef-17c428098bfb*B4EC87CC8E11BE0D730426B5CF28F434B99E1033BDA295082D8CB20E7A9ED047",
        "resourceId": "/subscriptions/baa34aed-361d-43b0-8a60-3322d255ff8e/resourceGroups/rg-test/providers/Microsoft.OffAzureSpringBoot/springbootsites/site-test",
        "status": "Succeeded",
        "startTime": "2023-12-06T06:22:10.4706513Z",
        "endTime": "2023-12-06T06:22:14.1203925Z",
        "properties": null
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "RandomSeed": "51926105",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "baa34aed-361d-43b0-8a60-3322d255ff8e"
  }
}
