{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.Databricks/workspaces/myworkspacexx?api-version=2023-02-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {
          "mytag1": "value1"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "148"
      },
      "ResponseBody": {
        "properties": {
          "managedResourceGroupId": "/subscriptions/azure_subscription_id/resourceGroups/myjstest2",
          "parameters": {
            "enableFedRampCertification": {
              "type": "Bool",
              "value": false
            },
            "enableNoPublicIp": {
              "type": "Bool",
              "value": false
            },
            "prepareEncryption": {
              "type": "Bool",
              "value": false
            },
            "publicIpName": {
              "type": "String",
              "value": "nat-gw-public-ip"
            },
            "requireInfrastructureEncryption": {
              "type": "Bool",
              "value": false
            },
            "resourceTags": {
              "type": "Object",
              "value": {
                "application": "databricks",
                "databricks-environment": "true"
              }
            },
            "storageAccountName": {
              "type": "String",
              "value": "dbstorageamyjw5evceow2"
            },
            "storageAccountSkuName": {
              "type": "String",
              "value": "Standard_GRS"
            },
            "vnetAddressPrefix": {
              "type": "String",
              "value": "10.139"
            }
          },
          "provisioningState": "Succeeded",
          "authorizations": [
            {
              "principalId": "9a74af6f-d153-4348-988a-e2672920bee9",
              "roleDefinitionId": "8e3af657-a8ff-443c-a75c-2fe8c4bcb635"
            }
          ],
          "createdBy": {
            "oid": "c4e92f5c-3a0d-4845-aacc-5ac8a7905cdf",
            "applicationId": "azure_client_id"
          },
          "updatedBy": {
            "oid": "c4e92f5c-3a0d-4845-aacc-5ac8a7905cdf",
            "applicationId": "azure_client_id"
          },
          "workspaceId": "5707768274112747",
          "workspaceUrl": "adb-5707768274112747.7.azuredatabricks.net",
          "createdDateTime": "2023-11-02T03:01:42.6952719Z"
        },
        "id": "/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.Databricks/workspaces/myworkspacexx",
        "name": "myworkspacexx",
        "type": "Microsoft.Databricks/workspaces",
        "sku": {
          "name": "Standard"
        },
        "location": "westus",
        "tags": {
          "mytag1": "value1"
        }
      }
    }
  ],
  "Variables": {}
}
