{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-share-1281176c-0708-3cab-1531-315af0e947e5?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC873A3F27CBB1\"",
        "Last-Modified": "Fri, 07 Jun 2024 21:39:01 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-share-1281176c-0708-3cab-1531-315af0e947e5/test-file-1cad874c-bd00-7b2b-a45d-6270c7f37b95",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC873A3F34412B\"",
        "Last-Modified": "Fri, 07 Jun 2024 21:39:01 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-06-07T21:39:01.8009899Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-share-1281176c-0708-3cab-1531-315af0e947e5/test-file-1cad874c-bd00-7b2b-a45d-6270c7f37b95?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "5pQMjXZE6vWRtjt1SpCzfmeA0FqHQMJqERSjYglkDT6bSbQzGWhrW4J2qRyaGvmA0c4qaNGVoaXRoXthoYfrLKj92gDbgGT+FHXXEJel0PcbIpA7OaVsBqgPYXftCbr7inx0nUD4pVFpLFNcvZAOK9GERn72sPIDkNRYzB/sEAq63IYaMTO2In0/0Q1RD0gXADWmacM8BNqJcQxsoNgxfRtJouAK8/qezSQAtt7lsYCLQMvpRqdHfterkb8mSoGkDVTxCG1oDQ06B5yeO077o7+L4F8NSDd0ASMIXmI6d4KiXKiK9KkTIjO+rj4LqEOJsO3/m2oil8UdfAZJX66q/5AZ/N+lca8WeL0rT5n4aVngf651OtwYf8XjbXijycOEE6+u8atk5D4+6SKs9kc[...]
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-81dc4c37-795f-6fb4-c4b3-b30fe5213a35?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 21:39:00 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC873A3F4AF3F0\"",
        "Last-Modified": "Fri, 07 Jun 2024 21:39:01 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-81dc4c37-795f-6fb4-c4b3-b30fe5213a35/test-directory-c6ce8181-600d-eb4d-2d8c-d38985783078?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 21:39:01 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC873A3F5E2539\"",
        "Last-Modified": "Fri, 07 Jun 2024 21:39:02 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2024-06-07T21:39:02.0755257Z",
        "x-ms-file-creation-time": "2024-06-07T21:39:02.0755257Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-06-07T21:39:02.0755257Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "9736643157039165508*17277118026500876237",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-81dc4c37-795f-6fb4-c4b3-b30fe5213a35/test-directory-c6ce8181-600d-eb4d-2d8c-d38985783078/test-file-21e6d66e-e969-70ad-84dd-05f54342ee5d",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Fri, 07 Jun 2024 21:39:01 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC873A3F696E32\"",
        "Last-Modified": "Fri, 07 Jun 2024 21:39:02 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-06-07T21:39:02.1494834Z",
        "x-ms-file-creation-time": "2024-06-07T21:39:02.1494834Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2024-06-07T21:39:02.1494834Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "5144323600546320195*17277118026500876237",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-81dc4c37-795f-6fb4-c4b3-b30fe5213a35/test-directory-c6ce8181-600d-eb4d-2d8c-d38985783078/test-file-21e6d66e-e969-70ad-84dd-05f54342ee5d?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://seanmcccanada.blob.core.windows.net/test-share-1281176c-0708-3cab-1531-315af0e947e5/test-file-1cad874c-bd00-7b2b-a45d-6270c7f37b95",
        "x-ms-copy-source-authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 21:39:02 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2024-08-04",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC873A40143B37\"",
        "Last-Modified": "Fri, 07 Jun 2024 21:39:03 GMT",
        "x-ms-content-crc64": "zIwZqzFgp0Y=",
        "x-ms-file-last-write-time": "2024-06-07T21:39:03.2688439Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-81dc4c37-795f-6fb4-c4b3-b30fe5213a35?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 21:39:02 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-share-1281176c-0708-3cab-1531-315af0e947e5?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "268319837",
    "Storage_TestConfigOAuth": "OAuthTenant\nseanmcccanada\nU2FuaXRpemVk\nhttps://seanmcccanada.blob.core.windows.net\nhttps://seanmcccanada.file.core.windows.net\nhttps://seanmcccanada.queue.core.windows.net\nhttps://seanmcccanada.table.core.windows.net\n\n\n\n\nhttps://seanmcccanada-secondary.blob.core.windows.net\nhttps://seanmcccanada-secondary.file.core.windows.net\nhttps://seanmcccanada-secondary.queue.core.windows.net\nhttps://seanmcccanada-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seanmcccanada.blob.core.windows.net/;QueueEndpoint=https://seanmcccanada.queue.core.windows.net/;FileEndpoint=https://seanmcccanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanada-secondary.file.core.windows.net/;AccountName=seanmcccanada;AccountKey=Sanitized\n\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
