{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-share-01c36f61-416d-a9e9-c32b-292d29dc96e0?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC873A3E165550\"",
        "Last-Modified": "Fri, 07 Jun 2024 21:38:59 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-share-01c36f61-416d-a9e9-c32b-292d29dc96e0/test-file-92105919-3b76-75ef-11bb-d5f5ed6a36c8",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC873A3E22D19C\"",
        "Last-Modified": "Fri, 07 Jun 2024 21:39:00 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-06-07T21:39:00.0090012Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-share-01c36f61-416d-a9e9-c32b-292d29dc96e0/test-file-92105919-3b76-75ef-11bb-d5f5ed6a36c8?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "WoR9noagg0V2OsCE+OXWDjF2AygFHN0fDJuTryOiqAfbn68bhuvYUEIfo6/8TrNthaIPtsftnT6mXZHrDdQh05G5qVk2u4dGnrPm5nguI77nJSmBkvFA7gFwdClZ7ENt/c8eQ6VaN8oayRgUBrbGeDnTA+eqoEGgebpXxUZe7bFveOmoEOAZje5eZsnZK+hKqfzvhuhbw12OfcnqAnGEu9tmpI3NHmhZuXb5TDl4xk3SDBtJb2bJE7WMGpIWLot82avtcodafYuUlsxyYnYjFrd8F/VWO0x0nZDXQQTWQorrfHKOilTGeI+PtNmaVrA/aAPbmReVJp5eeNT2gjuHvlNBh+UElYtitp9mxoZz2kbgmNkA+qhzVVbTLxJ/z/VTCPaFWM/KOtJ4eON3L18[...]
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-0205480e-2e3f-65d2-2b99-1ec5d028b0de?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 21:38:59 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC873A3E3A9783\"",
        "Last-Modified": "Fri, 07 Jun 2024 21:39:00 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-0205480e-2e3f-65d2-2b99-1ec5d028b0de/test-directory-7d3b49a8-de7b-3c65-e410-be18ac83e1f7?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 21:38:59 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC873A3E469C8B\"",
        "Last-Modified": "Fri, 07 Jun 2024 21:39:00 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2024-06-07T21:39:00.2435723Z",
        "x-ms-file-creation-time": "2024-06-07T21:39:00.2435723Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-06-07T21:39:00.2435723Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "9736643157039165508*17277118026500876237",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-0205480e-2e3f-65d2-2b99-1ec5d028b0de/test-directory-7d3b49a8-de7b-3c65-e410-be18ac83e1f7/test-file-107b1049-262e-4433-babe-e1614e767401",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Fri, 07 Jun 2024 21:38:59 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-type": "file",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC873A3E520C92\"",
        "Last-Modified": "Fri, 07 Jun 2024 21:39:00 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-06-07T21:39:00.3185298Z",
        "x-ms-file-creation-time": "2024-06-07T21:39:00.3185298Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2024-06-07T21:39:00.3185298Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "5144323600546320195*17277118026500876237",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-0205480e-2e3f-65d2-2b99-1ec5d028b0de/test-directory-7d3b49a8-de7b-3c65-e410-be18ac83e1f7/test-file-107b1049-262e-4433-babe-e1614e767401?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://seanmcccanada.blob.core.windows.net/test-share-01c36f61-416d-a9e9-c32b-292d29dc96e0/test-file-92105919-3b76-75ef-11bb-d5f5ed6a36c8",
        "x-ms-copy-source-authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 21:38:59 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2024-08-04",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-copy-source-error-code": "InvalidAuthenticationInfo",
        "x-ms-copy-source-status-code": "400",
        "x-ms-error-code": "CannotVerifyCopySource",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>CannotVerifyCopySource</Code><Message>Authentication information is not given in the correct format. Check the value of Authorization header.\n",
        "RequestId:92379fec-001a-003e-7923-b906fd000000\n",
        "Time:2024-06-07T21:39:00.4066550Z</Message><CopySourceStatusCode>400</CopySourceStatusCode><CopySourceErrorCode>InvalidAuthenticationInfo</CopySourceErrorCode><CopySourceErrorMessage>Authentication information is not given in the correct format. Check the value of Authorization header.</CopySourceErrorMessage></Error>"
      ]
    },
    {
      "RequestUri": "https://seanmcccanada.file.core.windows.net/test-share-0205480e-2e3f-65d2-2b99-1ec5d028b0de?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 21:38:59 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-share-01c36f61-416d-a9e9-c32b-292d29dc96e0?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "388697540",
    "Storage_TestConfigOAuth": "OAuthTenant\nseanmcccanada\nU2FuaXRpemVk\nhttps://seanmcccanada.blob.core.windows.net\nhttps://seanmcccanada.file.core.windows.net\nhttps://seanmcccanada.queue.core.windows.net\nhttps://seanmcccanada.table.core.windows.net\n\n\n\n\nhttps://seanmcccanada-secondary.blob.core.windows.net\nhttps://seanmcccanada-secondary.file.core.windows.net\nhttps://seanmcccanada-secondary.queue.core.windows.net\nhttps://seanmcccanada-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seanmcccanada.blob.core.windows.net/;QueueEndpoint=https://seanmcccanada.queue.core.windows.net/;FileEndpoint=https://seanmcccanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanada-secondary.file.core.windows.net/;AccountName=seanmcccanada;AccountKey=Sanitized\n\nkupplaks-rg\n560efead-282d-42a4-8f12-1b37d2a4e785"
  }
}
