{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.loganalytics.io/v1/subscriptions/faa080af-c1d8-40ad-9cce-e1a451va7b87/resourceGroups/rg-example/providers/Microsoft.AppConfiguration/configurationStores/example/query",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "query": "let dt = datatable (DateTime: datetime, Bool:bool, Guid: guid, Int: int, Long:long, Double: double, String: string, Timespan: timespan, Decimal: decimal, Dynamic: dynamic)\n[datetime(2015-12-31 23:59:59.9), false, guid(74be27de-1e4e-49d9-b579-fe0b331d3642), 12345, 1, 12345.6789, 'string value', 10s, decimal(0.10101), dynamic({\"a\":123, \"b\":\"hello\", \"c\":[1,2,3], \"d\":{}})];range x from 1 to 100 step 1 | extend y=1 | join kind=fullouter dt on $left.y == $right.Long",
        "timespan": "2022-12-01T00:00:00Z/2022-12-02T00:00:00Z"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "tables": [
          {
            "name": "Sanitized",
            "columns": [
              {
                "name": "Sanitized",
                "type": "long"
              },
              {
                "name": "Sanitized",
                "type": "long"
              },
              {
                "name": "Sanitized",
                "type": "datetime"
              },
              {
                "name": "Sanitized",
                "type": "bool"
              },
              {
                "name": "Sanitized",
                "type": "guid"
              },
              {
                "name": "Sanitized",
                "type": "int"
              },
              {
                "name": "Sanitized",
                "type": "long"
              },
              {
                "name": "Sanitized",
                "type": "real"
              },
              {
                "name": "Sanitized",
                "type": "string"
              },
              {
                "name": "Sanitized",
                "type": "timespan"
              },
              {
                "name": "Sanitized",
                "type": "decimal"
              },
              {
                "name": "Sanitized",
                "type": "dynamic"
              }
            ],
            "rows": [
              [
                1,
                1,
                "2015-12-31T23:59:59.9Z",
                false,
                "74be27de-1e4e-49d9-b579-fe0b331d3642",
                12345,
                1,
                12345.6789,
                "string value",
                "00:00:10",
                "0.10101",
                "{\"a\":123,\"b\":\"hello\",\"c\":[1,2,3],\"d\":{}}"
              ],
              [
                2,
                1,
                "2015-12-[...]
