{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.metrics.monitor.azure.com/subscriptions/faa080af-c1d8-40ad-9cce-e1a451va7b87/metrics:getBatch?aggregation=Average&api-version=2023-05-01-preview&interval=PT1H&metricnames=HttpIncomingRequestCount&metricnamespace=Microsoft.AppConfiguration%2FconfigurationStores&starttime=P1D",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "resourceids": [
          "/subscriptions/faa080af-c1d8-40ad-9cce-e1a451va7b87/resourceGroups/rg-example/providers/Microsoft.AppConfiguration/configurationStores/example"
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-rate-limit-limit": "30s",
        "x-rate-limit-remaining": "2999",
        "x-rate-limit-reset": "2025-04-22T20:39:17.9656372Z"
      },
      "ResponseBody": {
        "values": [
          {
            "cost": 1439,
            "starttime": "2025-04-21T20:38:48Z",
            "endtime": "2025-04-22T20:38:48Z",
            "interval": "PT1H",
            "value": [
              {
                "id": "Sanitized",
                "type": "Microsoft.Insights/metrics",
                "name": {
                  "value": "HttpIncomingRequestCount",
                  "localizedValue": "HttpIncomingRequestCount"
                },
                "displayDescription": "Total number of incoming http requests.",
                "unit": "Count",
                "timeseries": [
                  {
                    "metadatavalues": [],
                    "data": [
                      {
                        "timeStamp": "2025-04-21T20:38:00Z",
                        "average": 0
                      },
                      {
                        "timeStamp": "2025-04-21T21:38:00Z",
                        "average": 0
                      },
                      {
                        "timeStamp": "2025-04-21T22:38:00Z",
                        "average": 0
                      },
                      {
                        "timeStamp": "2025-04-21T23:38:00Z",
                        "average": 0
                      },
                      {
       [...]
