{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/123/providers/Microsoft.Insights/metrics?api-version=2023-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-failure-cause": "gateway"
      },
      "ResponseBody": {
        "error": {
          "code": "MissingSubscription",
          "message": "The request did not have a subscription or a valid tenant level resource provider."
        }
      }
    }
  ],
  "Variables": {}
}
