{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.microsoft.com/geocode?query=1+Microsoft+Way%2C+Redmond%2C+WA+98052&api-version=2023-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-client-id": "azure_maps_client_id"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-azuremaps-region": "West US 2"
      },
      "ResponseBody": {
        "type": "FeatureCollection",
        "features": [
          {
            "type": "Feature",
            "geometry": {
              "type": "Point",
              "coordinates": [
                -122.128238,
                47.639376
              ]
            },
            "bbox": [
              -122.13588114282351,
              47.63551328242932,
              -122.12059485717648,
              47.643238717570675
            ],
            "properties": {
              "type": "Address",
              "confidence": "High",
              "matchCodes": [
                "Good"
              ],
              "geocodePoints": [
                {
                  "calculationMethod": "Rooftop",
                  "usageTypes": [
                    "Display"
                  ],
                  "geometry": {
                    "type": "Point",
                    "coordinates": [
                      -122.128238,
                      47.639376
                    ]
                  }
                },
                {
                  "calculationMethod": "Rooftop",
                  "usageTypes": [
                    "Route"
                  ],
                  "geometry": {
                    "type": "Point",
                    "coordinates": [
                      -122.1271239,
                      47.6385519
                    ]
                  }
                }
              ],
              "address": {
                "addressLine": "1 Microsoft Way",
                "postalCode": "98052",
                "locality": "Redmond",
                "formattedAddress": "1 Microsoft Way, Redmond, WA 98052",
                "countryRegion": {
                  "name": "Sanitized",
                  "ISO": "US"
                },
                "adminDistricts": [
                  {
                    "shortName": "WA"
                  },
                  {
                    "shortName": "King County"
                  }
                ]
              }
            }
          }
        ]
      }
    }
  ],
  "Variables": {}
}
