{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/88888888-8888-8888-8888-888888888888/resourceGroups/myjstest/providers/Microsoft.DocumentDB/databaseAccounts/test-123aa/providers/Microsoft.Chaos/targets/Microsoft-CosmosDB?api-version=2022-10-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus",
        "properties": {
          "identities": [
            {
              "type": "CertificateSubjectIssuer",
              "subject": "CN=example.subject"
            }
          ]
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-07-01-preview, 2021-07-05-preview, 2021-08-11-preview, 2021-09-15-preview, 2022-07-01-preview, 2022-10-01-preview, 2023-04-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002249008a8c-0000-0100-0000-646477170000\u0022",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "199"
      },
      "ResponseBody": {
        "location": "eastus",
        "id": "/subscriptions/88888888-8888-8888-8888-888888888888/resourceGroups/myjstest/providers/Microsoft.DocumentDB/databaseAccounts/test-123aa/providers/Microsoft.Chaos/targets/Microsoft-CosmosDB",
        "name": "Microsoft-CosmosDB",
        "systemData": {
          "createdAt": "2023-05-17T06:41:27.0081403\u002B00:00",
          "lastModifiedAt": "2023-05-17T06:41:27.0081403\u002B00:00",
          "createdByType": "User"
        },
        "type": "Microsoft.Chaos/targets",
        "properties": {}
      }
    }
  ],
  "Variables": {}
}
