{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/88888888-8888-8888-8888-888888888888/resourceGroups/myjstest/providers/Microsoft.Chaos/experiments/exampleExperiment1?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "api-supported-versions": "2021-07-01-preview, 2021-07-05-preview, 2021-08-11-preview, 2021-09-15-preview, 2022-07-01-preview, 2022-10-01-preview, 2023-04-01-preview, 2023-04-15-preview, 2023-09-01-preview, 2023-10-27-preview, 2023-11-01, 2023-11-24-preview",
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/88888888-8888-8888-8888-888888888888/providers/Microsoft.Chaos/locations/eastus/operationStatuses/d4aeb7bc-010d-46f3-81f8-836e4e90b4b3?api-version=2023-11-01",
        "Location": "https://management.azure.com/subscriptions/88888888-8888-8888-8888-888888888888/providers/Microsoft.Chaos/locations/eastus/operationResults/d4aeb7bc-010d-46f3-81f8-836e4e90b4b3?api-version=2023-11-01",
        "Retry-After": "10",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "99"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/88888888-8888-8888-8888-888888888888/providers/Microsoft.Chaos/locations/eastus/operationStatuses/d4aeb7bc-010d-46f3-81f8-836e4e90b4b3?api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2023-09-01-preview, 2023-10-27-preview, 2023-11-01, 2023-11-24-preview",
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/88888888-8888-8888-8888-888888888888/providers/Microsoft.Chaos/locations/eastus/operationStatuses/d4aeb7bc-010d-46f3-81f8-836e4e90b4b3?api-version=2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/88888888-8888-8888-8888-888888888888/providers/Microsoft.Chaos/locations/eastus/operationResults/d4aeb7bc-010d-46f3-81f8-836e4e90b4b3?api-version=2023-11-01",
        "Retry-After": "10",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "2996"
      },
      "ResponseBody": {
        "id": "/subscriptions/88888888-8888-8888-8888-888888888888/providers/Microsoft.Chaos/locations/eastus/operationStatuses/d4aeb7bc-010d-46f3-81f8-836e4e90b4b3",
        "name": "d4aeb7bc-010d-46f3-81f8-836e4e90b4b3",
        "status": "Deleting",
        "startTime": "2023-11-07T02:25:33.669269\u002B00:00"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/88888888-8888-8888-8888-888888888888/providers/Microsoft.Chaos/locations/eastus/operationStatuses/d4aeb7bc-010d-46f3-81f8-836e4e90b4b3?api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2023-09-01-preview, 2023-10-27-preview, 2023-11-01, 2023-11-24-preview",
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/88888888-8888-8888-8888-888888888888/providers/Microsoft.Chaos/locations/eastus/operationStatuses/d4aeb7bc-010d-46f3-81f8-836e4e90b4b3?api-version=2023-11-01",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/88888888-8888-8888-8888-888888888888/providers/Microsoft.Chaos/locations/eastus/operationResults/d4aeb7bc-010d-46f3-81f8-836e4e90b4b3?api-version=2023-11-01",
        "Retry-After": "10",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "2994"
      },
      "ResponseBody": {
        "id": "/subscriptions/88888888-8888-8888-8888-888888888888/providers/Microsoft.Chaos/locations/eastus/operationStatuses/d4aeb7bc-010d-46f3-81f8-836e4e90b4b3",
        "name": "d4aeb7bc-010d-46f3-81f8-836e4e90b4b3",
        "status": "Succeeded",
        "startTime": "2023-11-07T02:25:33.669269\u002B00:00",
        "endTime": "2023-11-07T02:25:35.2409331\u002B00:00"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/88888888-8888-8888-8888-888888888888/resourceGroups/myjstest/providers/Microsoft.Chaos/experiments?api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-07-01-preview, 2021-07-05-preview, 2021-08-11-preview, 2021-09-15-preview, 2022-07-01-preview, 2022-10-01-preview, 2023-04-01-preview, 2023-04-15-preview, 2023-09-01-preview, 2023-10-27-preview, 2023-11-01, 2023-11-24-preview",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "296"
      },
      "ResponseBody": {
        "value": [],
        "nextLink": ""
      }
    }
  ],
  "Variables": {}
}
