{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/88888888-8888-8888-8888-888888888888/resourceGroups/myjstest/providers/Microsoft.DocumentDB/databaseAccounts/test-123aaa/providers/Microsoft.Chaos/targets?api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-07-01-preview, 2021-07-05-preview, 2021-08-11-preview, 2021-09-15-preview, 2022-07-01-preview, 2022-10-01-preview, 2023-04-01-preview, 2023-04-15-preview, 2023-09-01-preview, 2023-10-27-preview, 2023-11-01, 2023-11-24-preview",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "598"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/88888888-8888-8888-8888-888888888888/resourceGroups/myjstest/providers/Microsoft.DocumentDB/databaseAccounts/test-123aaa/providers/Microsoft.Chaos/targets/Microsoft-CosmosDB",
            "type": "Microsoft.Chaos/targets",
            "name": "Microsoft-CosmosDB",
            "location": "eastus",
            "properties": {},
            "systemData": {
              "createdAt": "2023-11-07T02:25:07.138\u002B00:00",
              "lastModifiedAt": "2023-11-07T02:25:07.138\u002B00:00",
              "createdByType": "User"
            }
          }
        ],
        "nextLink": ""
      }
    }
  ],
  "Variables": {}
}
