{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/88888888-8888-8888-8888-888888888888/resourceGroups/czwjstest/providers/Microsoft.Chaos/experiments?api-version=2026-05-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2023-11-01, 2024-01-01, 2025-01-01, 2025-03-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "299"
      },
      "ResponseBody": {
        "value": [
          {
            "properties": {
              "steps": [
                {
                  "name": "step1",
                  "branches": [
                    {
                      "name": "branch1",
                      "actions": [
                        {
                          "duration": "PT10M",
                          "parameters": [
                            {
                              "key": "readRegion",
                              "value": "East US"
                            }
                          ],
                          "selectorId": "f15dd483-3281-4e95-bcbe-cbf535d0de98",
                          "type": "continuous",
                          "name": "urn:csci:microsoft:cosmosDB:failover/1.0"
                        }
                      ]
                    }
                  ]
                }
              ],
              "selectors": [
                {
                  "targets": [
                    {
                      "type": "ChaosTarget",
                      "id": "/subscriptions/88888888-8888-8888-8888-888888888888/resourceGroups/czwjstest/providers/Microsoft.DocumentDB/databaseAccounts/test-123abc"
                    }
                  ],
                  "type": "List",
                  "id": "f15dd483-3281-4e95-bcbe-cbf535d0de98"
                }
              ]
            },
            "name": "exampleExperiment11",
            "tags": {},
            "location": "uksouth",
            "id": "/subscriptions/88888888-8888-8888-8888-888888888888/resourceGroups/czwjstest/providers/Microsoft.Chaos/experiments/exampleExperiment11",
            "type": "Microsoft.Chaos/experiments",
            "systemData": {
              "createdByType": "User",
              "createdAt": "2025-05-15T09:46:03.599+00:00",
              "lastModifiedAt": "2025-05-15T09:46:03.599+00:00"
            }
          }
        ]
      }
    }
  ],
  "Variables": {}
}
