{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/88888888-8888-8888-8888-888888888888/resourceGroups/myjstest/providers/Microsoft.Chaos/experiments/exampleExperiment11?api-version=2024-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-07-01-preview, 2021-07-05-preview, 2021-08-11-preview, 2021-09-15-preview, 2022-07-01-preview, 2022-10-01-preview, 2023-04-01-preview, 2023-04-15-preview, 2023-09-01-preview, 2023-10-27-preview, 2023-11-01, 2023-12-01-preview, 2024-01-01",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "299"
      },
      "ResponseBody": {
        "type": "Microsoft.Chaos/experiments",
        "id": "/subscriptions/88888888-8888-8888-8888-888888888888/resourceGroups/myjstest/providers/Microsoft.Chaos/experiments/exampleExperiment11",
        "name": "exampleExperiment11",
        "systemData": {
          "createdAt": "2024-03-06T06:53:32.225\u002B00:00",
          "lastModifiedAt": "2024-03-06T06:53:32.225\u002B00:00",
          "createdByType": "User"
        },
        "identity": {
          "type": "SystemAssigned",
          "principalId": "cb6127f9-5214-4520-879a-1acfa468cd0c",
          "tenantId": "88888888-8888-8888-8888-888888888888"
        },
        "tags": {},
        "location": "eastus",
        "properties": {
          "provisioningState": "Succeeded",
          "selectors": [
            {
              "type": "List",
              "targets": [
                {
                  "id": "/subscriptions/88888888-8888-8888-8888-888888888888/resourceGroups/myjstest/providers/Microsoft.DocumentDB/databaseAccounts/test-123aaa",
                  "type": "ChaosTarget"
                }
              ],
              "id": "f15dd483-3281-4e95-bcbe-cbf535d0de98"
            }
          ],
          "steps": [
            {
              "name": "step1",
              "branches": [
                {
                  "name": "branch1",
                  "actions": [
                    {
                      "type": "continuous",
                      "selectorId": "f15dd483-3281-4e95-bcbe-cbf535d0de98",
                      "duration": "PT10M",
                      "parameters": [
                        {
                          "key": "readRegion",
                          "value": "East US"
                        }
                      ],
                      "name": "urn:csci:microsoft:cosmosDB:failover/1.0"
                    }
                  ]
                }
              ]
            }
          ]
        }
      }
    }
  ],
  "Variables": {}
}
