{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/88888888-8888-8888-8888-888888888888/resourceGroups/myjstest/providers/Microsoft.DocumentDB/databaseAccounts/test-123aaa/providers/Microsoft.Chaos/targets/Microsoft-CosmosDB?api-version=2024-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-07-01-preview, 2021-07-05-preview, 2021-08-11-preview, 2021-09-15-preview, 2022-07-01-preview, 2022-10-01-preview, 2023-04-01-preview, 2023-04-15-preview, 2023-09-01-preview, 2023-10-27-preview, 2023-11-01, 2023-12-01-preview, 2024-01-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u0022fb01b8df-0000-0100-0000-65e812e00000\u0022",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "599"
      },
      "ResponseBody": {
        "id": "/subscriptions/88888888-8888-8888-8888-888888888888/resourceGroups/myjstest/providers/Microsoft.DocumentDB/databaseAccounts/test-123aaa/providers/Microsoft.Chaos/targets/Microsoft-CosmosDB",
        "type": "Microsoft.Chaos/targets",
        "name": "Microsoft-CosmosDB",
        "location": "eastus",
        "properties": {},
        "systemData": {
          "createdAt": "2024-03-06T06:53:20.706\u002B00:00",
          "lastModifiedAt": "2024-03-06T06:53:20.706\u002B00:00",
          "createdByType": "User"
        }
      }
    }
  ],
  "Variables": {}
}
