{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/88888888-8888-8888-8888-888888888888/resourceGroups/myjstest/providers/Microsoft.Chaos/experiments/exampleExperiment?api-version=2022-10-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus",
        "identity": {
          "type": "SystemAssigned"
        },
        "properties": {
          "steps": [
            {
              "name": "step1",
              "branches": [
                {
                  "name": "branch1",
                  "actions": [
                    {
                      "type": "continuous",
                      "name": "urn:csci:microsoft:cosmosDB:failover/1.0",
                      "duration": "PT10M",
                      "parameters": [
                        {
                          "key": "readRegion",
                          "value": "East US"
                        }
                      ],
                      "selectorId": "f15dd483-3281-4e95-bcbe-cbf535d0de98"
                    }
                  ]
                }
              ]
            }
          ],
          "selectors": [
            {
              "type": "List",
              "id": "f15dd483-3281-4e95-bcbe-cbf535d0de98",
              "targets": [
                {
                  "type": "ChaosTarget",
                  "id": "/subscriptions/88888888-8888-8888-8888-888888888888/resourceGroups/myjstest/providers/Microsoft.DocumentDB/databaseAccounts/test-123aa"
                }
              ]
            }
          ]
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-07-01-preview, 2021-07-05-preview, 2021-08-11-preview, 2021-09-15-preview, 2022-07-01-preview, 2022-10-01-preview, 2023-04-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "99"
      },
      "ResponseBody": {
        "type": "Microsoft.Chaos/experiments",
        "id": "/subscriptions/88888888-8888-8888-8888-888888888888/resourceGroups/myjstest/providers/Microsoft.Chaos/experiments/exampleExperiment",
        "name": "exampleExperiment",
        "systemData": {
          "createdAt": "2023-05-17T06:41:32.5055157\u002B00:00",
          "lastModifiedAt": "2023-05-17T06:41:32.5055157\u002B00:00",
          "createdByType": "User"
        },
        "identity": {
          "type": "SystemAssigned",
          "userAssignedIdentities": null,
          "principalId": "f9660c09-cbd3-4c19-8e90-12b618955775",
          "tenantId": "88888888-8888-8888-8888-888888888888"
        },
        "location": "eastus",
        "properties": {
          "selectors": [
            {
              "type": "List",
              "id": "f15dd483-3281-4e95-bcbe-cbf535d0de98",
              "targets": [
                {
                  "id": "/subscriptions/88888888-8888-8888-8888-888888888888/resourceGroups/myjstest/providers/Microsoft.DocumentDB/databaseAccounts/test-123aa",
                  "type": "ChaosTarget"
                }
              ]
            }
          ],
          "steps": [
            {
              "name": "step1",
              "branches": [
                {
                  "name": "branch1",
                  "actions": [
                    {
                      "type": "continuous",
                      "selectorId": "f15dd483-3281-4e95-bcbe-cbf535d0de98",
                      "duration": "PT10M",
                      "parameters": [
                        {
                          "key": "readRegion",
                          "value": "East US"
                        }
                      ],
                      "name": "urn:csci:microsoft:cosmosDB:failover/1.0"
                    }
                  ]
                }
              ]
            }
          ]
        }
      }
    }
  ],
  "Variables": {}
}
