{
  "Entries": [
    {
      "RequestUri": "https://sanitized.azure.com/api/projects/test-project/agents/web-search-agent/versions?api-version=v1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "definition": {
          "kind": "prompt",
          "model": "gpt-5.2",
          "instructions": "You are a helpful assistant that can search the web",
          "tools": [
            {
              "type": "web_search_preview",
              "user_location": {
                "type": "approximate",
                "country": "GB",
                "region": "London",
                "city": "London"
              }
            }
          ]
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "1.0,2025-05-15-preview,2025-11-15-preview",
        "azureml-served-by-cluster": "hyena-westus2-02",
        "Content-Type": "application/json; charset=utf-8",
        "x-http2-stream-id": "231",
        "x-ms-region": "West US 2",
        "x-ms-response-type": "standard"
      },
      "ResponseBody": {
        "metadata": {},
        "object": "agent.version",
        "id": "web-search-agent:1",
        "name": "web-search-agent",
        "version": "1",
        "description": "",
        "created_at": 1772668491,
        "definition": {
          "kind": "prompt",
          "model": "gpt-5.2",
          "instructions": "You are a helpful assistant that can search the web",
          "tools": [
            {
              "type": "web_search_preview",
              "user_location": {
                "type": "approximate",
                "country": "GB",
                "region": "London",
                "city": "London"
              }
            }
          ]
        }
      }
    },
    {
      "RequestUri": "https://sanitized.azure.com/api/projects/test-project/agents/web-search-agent?api-version=v1",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "1.0,2025-05-15-preview,2025-11-15-preview",
        "azureml-served-by-cluster": "hyena-westus2-02",
        "Content-Type": "application/json; charset=utf-8",
        "x-http2-stream-id": "83",
        "x-ms-region": "West US 2",
        "x-ms-response-type": "standard"
      },
      "ResponseBody": {
        "object": "agent.deleted",
        "name": "web-search-agent",
        "deleted": true
      }
    }
  ],
  "Variables": {}
}
