{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/providers/Microsoft.HealthDataAIServices/operations?api-version=2024-09-20",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-tenant-reads": "2199"
      },
      "ResponseBody": {
        "value": [
          {
            "name": "Microsoft.HealthDataAIServices/DeidServices/Batch/write",
            "isDataAction": true,
            "display": {
              "provider": "Microsoft.HealthDataAIServices",
              "resource": "DeidServices/Batch",
              "operation": "Creates a new batch operation",
              "description": "Creates batches"
            },
            "properties": null
          },
          {
            "name": "Microsoft.HealthDataAIServices/DeidServices/Batch/delete",
            "isDataAction": true,
            "display": {
              "provider": "Microsoft.HealthDataAIServices",
              "resource": "DeidServices/Batch",
              "operation": "Deletes an existing batch operation",
              "description": "Deletes a batch"
            },
            "properties": null
          },
          {
            "name": "Microsoft.HealthD[...]
