{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/80d2c6c6-fa64-4ab1-8aa5-4e118c6b16ce/resourceGroups/rg-smichtchonlineexperimentation/providers/Microsoft.OnlineExperimentation/workspaces/t1298b166fba4b3f7-exp?api-version=2025-05-31-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\"990432be-0000-0200-0000-68123e720000\"",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "199999"
      },
      "ResponseBody": {
        "id": "/subscriptions/80d2c6c6-fa64-4ab1-8aa5-4e118c6b16ce/resourceGroups/rg-smichtchonlineexperimentation/providers/Microsoft.OnlineExperimentation/workspaces/t1298b166fba4b3f7-exp",
        "name": "t1298b166fba4b3f7-exp",
        "type": "microsoft.onlineexperimentation/workspaces",
        "sku": {
          "name": "S0",
          "tier": "Standard"
        },
        "location": "eastus2",
        "systemData": {
          "createdBy": "Sanitized",
          "createdByType": "User",
          "createdAt": "2025-04-28T23:50:39.771772Z",
          "lastModifiedBy": "Sanitized",
          "lastModifiedByType": "User",
          "lastModifiedAt": "2025-04-30T15:14:55.4193838Z"
        },
        "identity": {
          "principalId": "00000000-0000-0000-0000-000000000000",
          "tenantId": "00000000-0000-0000-0000-000000000000",
          "type": "SystemAssigned"
        },
        "properties": {
          "workspaceId": "f61e4e18-d54e-4aa4-913f-340a50600a4a",
          "appConfigurationResourceId": "/subscriptions/80d2c6c6-fa64-4ab1-8aa5-4e118c6b16ce/resourceGroups/rg-smichtchonlineexperimentation/providers/Microsoft.AppConfiguration/configurationStores/t1298b166fba4b3f7-appconfig",
          "endpoint": "https://f61e4e18-d54e-4aa4-913f-340a50600a4a.eastus2.exp.azure.net",
          "encryption": {
            "customerManagedKeyEncryption": {
              "keyEncryptionKeyIdentity": {
                "identityType": "SystemAssignedIdentity"
              },
              "keyEncryptionKeyUrl": "https://t1298b166fba4b3f7-kv.vault.azure.net/keys/exp-workspace-key"
            }
          },
          "logAnalyticsWorkspaceResourceId": "/subscriptions/80d2c6c6-fa64-4ab1-8aa5-4e118c6b16ce/resourceGroups/rg-smichtchonlineexperimentation/providers/Microsoft.OperationalInsights/workspaces/t1298b166fba4b3f7-loganalytics",
          "logsExporterStorageAccountResourceId": "/subscriptions/80d2c6c6-fa64-4ab1-8aa5-4e118c6b16ce/resourceGroups/rg-smichtchonlineexperimentation/providers/Microsoft.Storage/storageAccounts/amh2tpmzldhzw",
          "provisioningState": "Succeeded"
        }
      }
    }
  ],
  "Variables": {
    "ONLINEEXPERIMENTATION_RESOURCEID": "/subscriptions/80d2c6c6-fa64-4ab1-8aa5-4e118c6b16ce/resourceGroups/rg-smichtchonlineexperimentation/providers/Microsoft.OnlineExperimentation/workspaces/t1298b166fba4b3f7-exp",
    "RandomSeed": "1705303302",
    "RESOURCE_MANAGER_URL": "https://management.azure.com/",
    "SUBSCRIPTION_ID": "80d2c6c6-fa64-4ab1-8aa5-4e118c6b16ce"
  }
}
