{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/e3853e83-0d02-4fb3-b88f-05b5fd21aee2?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11998",
        "x-ms-throttling-version": "v1"
      },
      "ResponseBody": {
        "id": "/subscriptions/e3853e83-0d02-4fb3-b88f-05b5fd21aee2",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "subscriptionId": "e3853e83-0d02-4fb3-b88f-05b5fd21aee2",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": "Liftr-Nginx-Test",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/e3853e83-0d02-4fb3-b88f-05b5fd21aee2/resourcegroups/Default-Nginx-3646?api-version=2022-09-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus2"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1199",
        "x-ms-throttling-version": "v1"
      },
      "ResponseBody": {
        "id": "/subscriptions/e3853e83-0d02-4fb3-b88f-05b5fd21aee2/resourceGroups/Default-Nginx-3646",
        "name": "Default-Nginx-3646",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "eastus2",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/e3853e83-0d02-4fb3-b88f-05b5fd21aee2/resourceGroups/Default-Nginx-3646/providers/Microsoft.Network/publicIPAddresses/testPublicIP-9340?api-version=**",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "sku": {
          "name": "Standard"
        },
        "location": "eastus2",
        "properties": {
          "publicIPAllocationMethod": "Static",
          "publicIPAddressVersion": "IPv4"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncNotification": "Enabled",
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/e3853e83-0d02-4fb3-b88f-05b5fd21aee2/providers/Microsoft.Network/locations/eastus2/operations/12675b2f-dc08-4a4a-bdcf-d6367e9b6c8f?api-version=2023-05-01&t=638508913881928128&c=MIIHKjCCBhKgAwIBAgITfATLTVgL1TFPlLPYYgAABMtNWDANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDUwHhcNMjQwNTAyMDIxNjQ3WhcNMjUwNDI3MDIxNjQ3WjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ25pbmdjZXJ0aWZpY2F0ZS5tYW5hZ2VtZW50Lm[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/e3853e83-0d02-4fb3-b88f-05b5fd21aee2/providers/Microsoft.Network/locations/eastus2/operations/12675b2f-dc08-4a4a-bdcf-d6367e9b6c8f?api-version=**&t=638508913881928128&c=MIIHKjCCBhKgAwIBAgITfATLTVgL1TFPlLPYYgAABMtNWDANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDUwHhcNMjQwNTAyMDIxNjQ3WhcNMjUwNDI3MDIxNjQ3WjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ25pbmdjZXJ0aWZpY2F0Z[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/e3853e83-0d02-4fb3-b88f-05b5fd21aee2/resourceGroups/Default-Nginx-3646/providers/Microsoft.Network/publicIPAddresses/testPublicIP-9340?api-version=**",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\"529e99b7-f270-4dcf-a0ae-e2792075cfdf\"",
        "x-ms-ratelimit-remaining-subscription-reads": "11997",
        "x-ms-throttling-version": "v1"
      },
      "ResponseBody": {
        "name": "testPublicIP-9340",
        "id": "/subscriptions/e3853e83-0d02-4fb3-b88f-05b5fd21aee2/resourceGroups/Default-Nginx-3646/providers/Microsoft.Network/publicIPAddresses/testPublicIP-9340",
        "etag": "W/\"529e99b7-f270-4dcf-a0ae-e2792075cfdf\"",
        "location": "eastus2",
        "properties": {
          "provisioningState": "Succeeded",
          "resourceGuid": "febe448a-110d-4b44-9233-4ac7f2ab89b2",
          "ipAddress": "52.167.172.233",
          "publicIPAddressVersion": "IPv4",
          "publicIPAllocationMethod": "Static",
          "idleTimeoutInMinutes": 4,
          "ipTags": [],
          "ddosSettings": {
            "protectionMode": "VirtualNetworkInherited"
          }
        },
        "type": "Microsoft.Network/publicIPAddresses",
        "sku": {
          "name": "Standard",
          "tier": "Regional"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/e3853e83-0d02-4fb3-b88f-05b5fd21aee2/resourceGroups/Default-Nginx-3646/providers/Microsoft.Network/networkSecurityGroups/testNSG-7177?api-version=**",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus2",
        "properties": {
          "securityRules": [
            {
              "name": "http",
              "properties": {
                "protocol": "*",
                "sourcePortRange": "*",
                "sourceAddressPrefix": "*",
                "destinationAddressPrefix": "*",
                "destinationPortRanges": [
                  "80"
                ],
                "access": "Allow",
                "priority": 100,
                "direction": "Inbound"
              }
            },
            {
              "name": "NRMS-Rule-103",
              "properties": {
                "description": "Created by Azure Core Security managed policy, rule can be deleted but do not change source ips, please see aka.ms/cainsgpolicy",
                "protocol": "*",
                "sourcePortRange": "*",
                "destinationPortRange": "*",
                "sourceAddressPrefix": "CorpNetPublic",
                "destinationAddressPrefix": "*",
                "access": "Allow",
                "priority": 103,
                "direction": "Inbound"
              }
            }
          ]
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncNotification": "Enabled",
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/e3853e83-0d02-4fb3-b88f-05b5fd21aee2/providers/[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/e3853e83-0d02-4fb3-b88f-05b5fd21aee2/providers/Microsoft.Network/locations/eastus2/operations/f97376dd-c997-4933-aed0-f24b50583770?api-version=**&t=638508913915937194&c=MIIHhzCCBm-gAwIBAgITHgSByWw1Ed_Zii__gAAABIHJbDANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDYwHhcNMjQwNTA5MDgzNDM1WhcNMjUwNTA0MDgzNDM1WjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ25pbmdjZXJ0aWZpY2F0Z[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/e3853e83-0d02-4fb3-b88f-05b5fd21aee2/resourceGroups/Default-Nginx-3646/providers/Microsoft.Network/virtualNetworks/testVNet-2909?api-version=**",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus2",
        "properties": {
          "addressSpace": {
            "addressPrefixes": [
              "10.0.0.0/16"
            ]
          },
          "subnets": [
            {
              "name": "testSubnet-9134",
              "properties": {
                "addressPrefix": "10.0.2.0/24",
                "networkSecurityGroup": {
                  "id": "/subscriptions/e3853e83-0d02-4fb3-b88f-05b5fd21aee2/resourceGroups/Default-Nginx-3646/providers/Microsoft.Network/networkSecurityGroups/testNSG-7177",
                  "location": "eastus2",
                  "properties": {
                    "securityRules": [
                      {
                        "id": "/subscriptions/e3853e83-0d02-4fb3-b88f-05b5fd21aee2/resourceGroups/Default-Nginx-3646/providers/Microsoft.Network/networkSecurityGroups/testNSG-7177/securityRules/http",
                        "name": "http",
                        "type": "Microsoft.Network/networkSecurityGroups/securityRules",
                        "properties": {
                          "protocol": "*",
                          "sourcePortRange": "*",
                          "sourceAddressPrefix": "*",
                          "sourceAddressPrefixes": [],
                          "destinationAddressPrefix": "*",
                          "destinationAddressPrefixes": [],
                          "sourcePortRanges": [],
                          "destinationPortRanges": [
                            "80"
                          ],
                          "access": "Allow",
                          "priority": 100,
                          "direction": "Inbound"
                        }
                      },
                      {
                        "id": "/subscriptions/e3853e83-0d02-4fb3-b88f-05b5fd21aee2/resourceGroups/Default-Nginx-3646/providers/Microsoft.Network/networkSecurityGroups/t[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/e3853e83-0d02-4fb3-b88f-05b5fd21aee2/providers/Microsoft.Network/locations/eastus2/operations/a29803f4-0d3c-458d-9085-bfab1c20bb64?api-version=**&t=638508913929941594&c=MIIHhzCCBm-gAwIBAgITHgSByWw1Ed_Zii__gAAABIHJbDANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDYwHhcNMjQwNTA5MDgzNDM1WhcNMjUwNTA0MDgzNDM1WjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ25pbmdjZXJ0aWZpY2F0Z[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/e3853e83-0d02-4fb3-b88f-05b5fd21aee2/resourceGroups/Default-Nginx-3646/providers/Nginx.NginxPlus/nginxDeployments/testDeployment-1596?api-version=2024-01-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "identity": {
          "type": "UserAssigned",
          "userAssignedIdentities": {
            "/subscriptions/e3853e83-0d02-4fb3-b88f-05b5fd21aee2/resourcegroups/synthetics-integration-tests/providers/Microsoft.ManagedIdentity/userAssignedIdentities/integration-tests-mi": {}
          }
        },
        "properties": {
          "networkProfile": {
            "frontEndIPConfiguration": {
              "publicIPAddresses": [
                {
                  "id": "/subscriptions/e3853e83-0d02-4fb3-b88f-05b5fd21aee2/resourceGroups/Default-Nginx-3646/providers/Microsoft.Network/publicIPAddresses/testPublicIP-9340"
                }
              ]
            },
            "networkInterfaceConfiguration": {
              "subnetId": "/subscriptions/e3853e83-0d02-4fb3-b88f-05b5fd21aee2/resourceGroups/Default-Nginx-3646/providers/Microsoft.Network/virtualNetworks/testVNet-2909/subnets/testSubnet-9134"
            }
          },
          "enableDiagnosticsSupport": true,
          "scalingProperties": {
            "capacity": 10,
            "autoScaleSettings": {
              "profiles": []
            }
          },
          "autoUpgradeProfile": {
            "upgradeChannel": "preview"
          },
          "userProfile": {
            "preferredEmail": "test@mail.com"
          }
        },
        "sku": {
          "name": "standard_Monthly"
        },
        "tags": {},
        "location": "eastus2"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/providers/Nginx.NginxPlus/locations/EASTUS2/operationStatuses/86a523cc-6528-4b41-8606-eec1ac93bf32*3655A51A66D0F380CCA8E1E7657C18984B9BA523C14A17279CA544D17C48CFB0?api-version=2024-01-01-preview&t=638508914073571037&c=MIIHKjCCBhKgAwIBAgITfATLTVgL1TFPlLPYYgAABMtNWDANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1F[...]
    {
      "RequestUri": "https://management.azure.com/providers/Nginx.NginxPlus/locations/EASTUS2/operationStatuses/86a523cc-6528-4b41-8606-eec1ac93bf32*3655A51A66D0F380CCA8E1E7657C18984B9BA523C14A17279CA544D17C48CFB0?api-version=2024-01-01-preview&t=638508914073571037&c=MIIHKjCCBhKgAwIBAgITfATLTVgL1TFPlLPYYgAABMtNWDANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDUwHhcNMjQwNTAyMDIxNjQ3WhcNMjUwNDI3MDIxNjQ3WjBAMT4wPAYDVQQDEzVhc3luY2[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/e3853e83-0d02-4fb3-b88f-05b5fd21aee2/resourceGroups/Default-Nginx-3646/providers/Nginx.NginxPlus/nginxDeployments/testDeployment-1596?api-version=2024-01-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\"0a01742b-0000-0200-0000-663d51f50000\"",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-reads": "11999",
        "x-ms-throttling-version": "v1"
      },
      "ResponseBody": {
        "id": "/subscriptions/e3853e83-0d02-4fb3-b88f-05b5fd21aee2/resourceGroups/Default-Nginx-3646/providers/Nginx.NginxPlus/nginxDeployments/testDeployment-1596",
        "name": "testDeployment-1596",
        "type": "nginx.nginxplus/nginxdeployments",
        "sku": {
          "name": "standard_Monthly"
        },
        "location": "eastus2",
        "tags": {},
        "systemData": {
          "createdBy": "jamesfan@microsoft.com",
          "createdByType": "User",
          "createdAt": "2024-05-09T22:43:24.7007292Z",
          "lastModifiedBy": "jamesfan@microsoft.com",
          "lastModifiedByType": "User",
          "lastModifiedAt": "2024-05-09T22:43:24.7007292Z"
        },
        "identity": {
          "type": "UserAssigned",
          "userAssignedIdentities": {
            "/subscriptions/e3853e83-0d02-4fb3-b88f-05b5fd21aee2/resourcegroups/synthetics-integration-tests/providers/Microsoft.ManagedIdentity/userAssignedIdentities/integration-tests-mi": {
              "principalId": "Sanitized",
              "clientId": "Sanitized"
            }
          }
        },
        "properties": {
          "provisioningState": "Succeeded",
          "nginxVersion": "1.25.3 (nginx-plus-r31-p1)",
          "managedResourceGroup": "NGX_Default-Nginx-3646_testDeployment-1596_eastus2",
          "ipAddress": "52.167.172.233",
          "networkProfile": {
            "frontEndIPConfiguration": {
              "publicIPAddresses": [
                {
                  "id": "/subscriptions/e3853e83-0d02-4fb3-b88f-05b5fd21aee2/resourceGroups/Default-Nginx-3646/providers/Microsoft.Network/publicIPAddresses/testPublicIP-9340"
                }
              ]
            },
            "networkInterfaceConfiguration": {
              "subnetId": "/subscriptions/e3853e83-0d02-4fb3-b88f-05b5fd21aee2/resourceGroups/Default-Nginx-3646/providers/Microsoft.Network/virtualNetworks/testVNet-2909/subnets/testSubnet-9134"
            }
          },
          "enableDiagnosticsSupport": true,
          "scalingProperties": {
            "capacity": 10,
            "autoScaleSettings": {
              "profiles": []
            }
          },
          "userProfile": {
            "preferredEmail": "test@mail.com"
          },
          "autoUpgradeProfile": {
            "upgradeChannel": "preview"
          }
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/e3853e83-0d02-4fb3-b88f-05b5fd21aee2/resourceGroups/Default-Nginx-3646/providers/Nginx.NginxPlus/nginxDeployments/testDeployment-1596/configurations/default?api-version=2024-01-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "files": [
            {
              "content": "aHR0cCB7CiAgICBzZXJ2ZXIgewogICAgICAgIGxpc3RlbiA4MDsKICAgICAgICBsb2NhdGlvbiAvIHsKICAgICAgICAgICAgZGVmYXVsdF90eXBlIHRleHQvaHRtbDsKICAgICAgICAgICAgcmV0dXJuIDIwMCAnPCFET0NUWVBFIGh0bWw+PGgxIHN0eWxlPSJmb250LXNpemU6MzBweDsiPk5naW54IGNvbmZpZyBpcyB3b3JraW5nITwvaDE+JzsKICAgICAgICB9CiAgICB9Cn0=",
              "virtualPath": "/etc/nginx/nginx.conf"
            }
          ],
          "rootFile": "/etc/nginx/nginx.conf"
        },
        "location": "eastus2"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/providers/Nginx.NginxPlus/locations/EASTUS2/operationStatuses/821cee0f-1b67-43c6-bf0a-20a0c0aa757c*8C217B1B4557EAD3634E661606B1B94AD3696CF6738771C61F8DEA0CCEA21BAD?api-version=2024-01-01-preview&t=638508915406334588&c=MIIHhzCCBm-gAwIBAgITHgSByWw1Ed_Zii__gAAABIHJbDANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR[...]
    {
      "RequestUri": "https://management.azure.com/providers/Nginx.NginxPlus/locations/EASTUS2/operationStatuses/821cee0f-1b67-43c6-bf0a-20a0c0aa757c*8C217B1B4557EAD3634E661606B1B94AD3696CF6738771C61F8DEA0CCEA21BAD?api-version=2024-01-01-preview&t=638508915406334588&c=MIIHhzCCBm-gAwIBAgITHgSByWw1Ed_Zii__gAAABIHJbDANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDYwHhcNMjQwNTA5MDgzNDM1WhcNMjUwNTA0MDgzNDM1WjBAMT4wPAYDVQQDEzVhc3luY2[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/e3853e83-0d02-4fb3-b88f-05b5fd21aee2/resourceGroups/Default-Nginx-3646/providers/Nginx.NginxPlus/nginxDeployments/testDeployment-1596/configurations/default?api-version=2024-01-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-reads": "11998",
        "x-ms-throttling-version": "v1"
      },
      "ResponseBody": {
        "id": "/subscriptions/e3853e83-0d02-4fb3-b88f-05b5fd21aee2/resourceGroups/Default-Nginx-3646/providers/NGINX.NGINXPLUS/nginxDeployments/testDeployment-1596/configurations/default",
        "name": "default",
        "type": "NGINX.NGINXPLUS/nginxDeployments/configurations",
        "properties": {
          "provisioningState": "Succeeded",
          "files": [
            {
              "content": "aHR0cCB7CiAgICBzZXJ2ZXIgewogICAgICAgIGxpc3RlbiA4MDsKICAgICAgICBsb2NhdGlvbiAvIHsKICAgICAgICAgICAgZGVmYXVsdF90eXBlIHRleHQvaHRtbDsKICAgICAgICAgICAgcmV0dXJuIDIwMCAnPCFET0NUWVBFIGh0bWw+PGgxIHN0eWxlPSJmb250LXNpemU6MzBweDsiPk5naW54IGNvbmZpZyBpcyB3b3JraW5nITwvaDE+JzsKICAgICAgICB9CiAgICB9Cn0=",
              "virtualPath": "/etc/nginx/nginx.conf"
            }
          ],
          "protectedFiles": null,
          "package": {
            "data": null,
            "protectedFiles": null
          },
          "rootFile": "/etc/nginx/nginx.conf"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/providers/Nginx.NginxPlus/locations/EASTUS2/operationStatuses/f1a8da20-d72c-44cb-b573-60da794809e5*8C217B1B4557EAD3634E661606B1B94AD3696CF6738771C61F8DEA0CCEA21BAD?api-version=2024-01-01-preview&t=638508915766493238&c=MIIHKjCCBhKgAwIBAgITfATLTVgL1TFPlLPYYgAABMtNWDANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDUwHhcNMjQwNTAyMDIxNjQ3WhcNMjUwNDI3MDIxNjQ3WjBAMT4wPAYDVQQDEzVhc3luY2[...]
[...]
