{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-tenant-reads": "249"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/00000000-0000-0000-0000-000000000000",
            "authorizationSource": "RoleBased",
            "managedByTenants": [],
            "tags": {
              "owners": "bebroder,wesh",
              "DoNotDelete": ""
            },
            "subscriptionId": "00000000-0000-0000-0000-000000000000",
            "tenantId": "00000000-0000-0000-0000-000000000000",
            "displayName": "Sanitized",
            "state": "Enabled",
            "subscriptionPolicies": {
              "locationPlacementId": "Internal_2014-09-01",
              "quotaId": "Internal_2014-09-01",
              "spendingLimit": "Off"
            }
          }
        ],
        "count": {
          "type": "Total",
          "value": 1
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "3749",
        "x-ms-ratelimit-remaining-subscription-reads": "249"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "tags": {
          "owners": "bebroder,wesh",
          "DoNotDelete": ""
        },
        "subscriptionId": "00000000-0000-0000-0000-000000000000",
        "tenantId": "00000000-0000-0000-0000-000000000000",
        "displayName": "Sanitized",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.SignalRService/signalR?api-version=2022-02-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-original-request-ids": "1af8347d-d7ad-45c7-b0a5-10d22231f440",
        "x-ms-ratelimit-remaining-subscription-global-reads": "3749",
        "x-ms-ratelimit-remaining-subscription-reads": "249",
        "x-rp-server-mvid": "0895b6bc-4801-4f4f-8fe1-12ae1c9d7162"
      },
      "ResponseBody": {
        "value": [
          {
            "sku": {
              "name": "Standard_S1",
              "tier": "Standard",
              "size": "S1",
              "capacity": 1
            },
            "properties": {
              "provisioningState": "Succeeded",
              "externalIP": "20.189.170.0",
              "hostName": "Sanitized.service.signalr.net",
              "publicPort": 443,
              "serverPort": 443,
              "version": "1.0",
              "privateEndpointConnections": [],
              "sharedPrivateLinkResources": [],
              "tls": {
                "clientCertEnabled": false
              },
              "hostNamePrefix": "Sanitized",
              "features": [
                {
                  "flag": "ServiceMode",
                  "value": "Default",
                  "properties": {}
                },
                {
                  "flag": "EnableConnectivityLogs",
                  "value": "False",
                  "properties": {}
                },
                {
                  "flag": "EnableMessagingLogs",
                  "value": "False",
                  "properties": {}
                },
                {
                  "flag": "EnableLiveTrace",
                  "value": "False",
                  "properties": {}
                }
              ],
              "liveTraceConfiguration": null,
              "resourceLogConfiguration": null,
              "cors": {
                "allowedOrigins": [
                  "*"
                ]
              },
              "upstream": {
                "templates": null
              },
              "networkACLs": {
                "defaultAction": "Deny",
                "publicNetwork": {
                  "allow": [
                    "ServerConnection",
                    "ClientConnection",
                    "RESTAPI",
                    "Trace"
                  ],
                  "deny": null
                },
                "privateEndpoints": []
              },
              "publicNetworkAccess": "Enabled",
              "disableLocalAuth": false,
              "disableAadAuth": false
            },
            "kind": "SignalR",
            "identity": {
              "type": "SystemAssigned",
              "principalId": "00000000-0000-0000-0000-000000000000",
              "tenantId": "00000000-0000-0000-0000-000000000000"
            },
            "location": "westus",
            "tags": null,
            "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/SSS3PT_scbedd-Sanitized/providers/Microsoft.SignalRService/SignalR/Sanitized",
            "name": "Sanitized",
            "type": "Microsoft.SignalRService/SignalR",
            "systemData": {
              "createdBy": "Sanitized",
              "createdByType": "User",
              "createdAt": "2025-12-11T22:55:20.9577017Z",
              "lastModifiedBy": "Sanitized",
              "lastModifiedByType": "User",
              "lastModifiedAt": "2025-12-11T22:55:20.9577017Z"
            }
          }
        ]
      }
    }
  ],
  "Variables": {}
}
