{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.table.cosmos.azure.com/Tables",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "DataServiceVersion": "3.0",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "TableName": "tableName3366064703"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "ETag": "W/\"datetime'2024-10-16T23%3A02%3A40.9143303Z'\"",
        "Location": "https://example.com"
      },
      "ResponseBody": {
        "TableName": "tableName3366064703",
        "odata.metadata": "https://Sanitized.table.cosmos.azure.com/$metadata#Tables/@Element"
      }
    },
    {
      "RequestUri": "https://Sanitized.table.cosmos.azure.com/tableName3366064703",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "DataServiceVersion": "3.0",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "Bool": true,
        "Byte": "c29tZWJ5dGVz",
        "DateTime": "2021-07-13T00:00:00Z",
        "Float": 3.14159,
        "Integer": 1,
        "PartitionKey": "partition",
        "RowKey": "1",
        "String": "someString",
        "Timestamp": "0001-01-01T00:00:00Z"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "ETag": "W/\"datetime'2024-10-16T23%3A02%3A41.2616711Z'\"",
        "Location": "https://example.com"
      },
      "ResponseBody": {
        "odata.metadata": "https://Sanitized.table.cosmos.azure.com/tableName3366064703/$metadata#tableName3366064703/@Element",
        "odata.etag": "W/\"datetime'2024-10-16T23%3A02%3A41.2616711Z'\"",
        "Bool": true,
        "Byte": "c29tZWJ5dGVz",
        "DateTime": "2021-07-13T00:00:00Z",
        "Float": 3.14159,
        "Integer": 1,
        "PartitionKey": "partition",
        "RowKey": "1",
        "String": "someString",
        "Timestamp": "2024-10-16T23:02:41.2616711Z"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.table.cosmos.azure.com/tableName3366064703()?%24filter=RowKey+lt+%275%27&%24format=application%2Fjson%3Bodata%3Dfullmetadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "DataServiceVersion": "3.0",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata"
      },
      "ResponseBody": {
        "value": [
          {
            "odata.etag": "W/\"datetime'2024-10-16T23%3A02%3A41.2616711Z'\"",
            "Bool": true,
            "Byte": "c29tZWJ5dGVz",
            "DateTime": "2021-07-13T00:00:00Z",
            "Float": 3.14159,
            "Integer": 1,
            "PartitionKey": "partition",
            "RowKey": "1",
            "String": "someString",
            "Timestamp": "2024-10-16T23:02:41.2616711Z"
          },
          {
            "odata.etag": "W/\"datetime'2024-10-16T23%3A[...]
    {
      "RequestUri": "https://Sanitized.table.cosmos.azure.com/Tables('tableName3366064703')",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "Content-Type": "application/json"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
