{
  "Entries": [
    {
      "RequestUri": "https://fakeaccount.table.core.windows.net/Tables",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Dataserviceversion": "3.0",
        "X-Ms-Date": "Thu, 20 Jul 2023 17:03:15 GMT",
        "X-Ms-Version": "2019-02-02"
      },
      "RequestBody": {
        "TableName": "tableName160818926"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "Location": "https://fakeaccount.table.core.windows.net/Tables(\u0027tableName160818926\u0027)",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://fakeaccount.table.core.windows.net/$metadata#Tables/@Element",
        "TableName": "tableName160818926"
      }
    },
    {
      "RequestUri": "https://fakeaccount.table.core.windows.net/tableName160818926",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Dataserviceversion": "3.0",
        "Prefer": "return-no-content",
        "X-Ms-Date": "Thu, 20 Jul 2023 17:03:15 GMT",
        "X-Ms-Version": "2019-02-02"
      },
      "RequestBody": {
        "Bool": true,
        "Byte": "c29tZWJ5dGVz",
        "DateTime": "2021-07-13T00:00:00Z",
        "Float": 3.14159,
        "Integer": 1,
        "PartitionKey": "partition",
        "RowKey": "1",
        "String": "someString",
        "Timestamp": "0001-01-01T00:00:00Z"
      },
      "StatusCode": 204,
      "ResponseHeaders": {
        "DataServiceId": "https://fakeaccount.table.core.windows.net/tableName160818926(PartitionKey=\u0027partition\u0027,RowKey=\u00271\u0027)",
        "ETag": "W/\u0022datetime\u00272023-07-20T17%3A03%3A15.0379927Z\u0027\u0022",
        "Location": "https://fakeaccount.table.core.windows.net/tableName160818926(PartitionKey=\u0027partition\u0027,RowKey=\u00271\u0027)",
        "Preference-Applied": "return-no-content",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakeaccount.table.core.windows.net/tableName160818926()?%24filter=RowKey\u002Blt\u002B%275%27\u0026%24format=application%2Fjson%3Bodata%3Dminimalmetadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Dataserviceversion": "3.0",
        "X-Ms-Date": "Thu, 20 Jul 2023 17:03:15 GMT",
        "X-Ms-Version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://fakeaccount.table.core.windows.net/$metadata#tableName160818926",
        "value": [
          {
            "odata.etag": "W/\u0022datetime\u00272023-07-20T17%3A03%3A15.0379927Z\u0027\u0022",
            "PartitionKey": "partition",
            "RowKey": "1",
            "Timestamp": "2023-07-20T17:03:15.0379927Z",
            "Bool": true,
            "Byte": "c29tZWJ5dGVz",
            "DateTime": "2021-07-13T00:00:00Z",
            "Float": 3.14159,
            "Integer": 1,
            "String": "someString"
          },
          {
            "odata.etag": "W/\u0022datetime\u00272023-07-20T17%3A03%3A15.07297[...]
    {
      "RequestUri": "https://fakeaccount.table.core.windows.net/Tables(\u0027tableName160818926\u0027)",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Thu, 20 Jul 2023 17:03:16 GMT",
        "X-Ms-Version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
