{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.servicebus.windows.net/$schemaGroups/fakegroup/schemas/test-schema:get-id?api-version=2023-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "text/plain; charset=utf-8"
      },
      "RequestBody": null,
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-error-code": "InvalidRequest"
      },
      "ResponseBody": {
        "error": {
          "code": "InvalidRequest",
          "message": "Error when consuming request body: The body of the message cannot be read because it is empty. TrackingId:08bead42-9d01-47ff-bbed-51b3c2473f5d_G10, SystemTracker:fake_resource_custom.servicebus.windows.net:$schemaGroups/fakegroup/schemas/test-schema:get-id, Timestamp:2025-01-14T00:13:37"
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.servicebus.windows.net/$schemaGroups/fakegroup/schemas/never-registered:get-id?api-version=2023-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "text/plain; charset=utf-8"
      },
      "RequestBody": "My favorite color is yellow.",
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-error-code": "ItemNotFound"
      },
      "ResponseBody": {
        "error": {
          "code": "ItemNotFound",
          "message": "Schema fakegroup/never-registered does not exist. TrackingId:0e27be8c-fad6-4e3f-8d05-ed040f00522b_G10, SystemTracker:fake_resource_custom.servicebus.windows.net:$schemaGroups/fakegroup/schemas/never-registered:get-id, Timestamp:2025-01-14T00:13:38"
        }
      }
    }
  ],
  "Variables": {}
}
