{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.servicebus.windows.net/$schemaGroups/fakegroup/schemas/test-schema-negative-version-json7f543f4?api-version=2022-10",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json; serialization=Json"
      },
      "RequestBody": {
        "$id": "https://example.com/person.schema.json",
        "$schema": "https://json-schema.org/draft/2020-12/schema",
        "title": "User",
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "The person's name."
          },
          "favoriteNumber": {
            "type": "integer",
            "description": "The person's favorite positive number.",
            "minimum": 0
          },
          "favoriteColor": {
            "description": "The person's favorite color",
            "type": "string"
          }
        }
      },
      "StatusCode": 204,
      "ResponseHeaders": {
        "Location": "https://example.com",
        "Schema-Group-Name": "fakegroup",
        "Schema-Id": "ee880ba6eeda43dd8d9e30dbb12cfc0d",
        "Schema-Id-Location": "https://fake_resource_json.servicebus.windows.net:443/$schemagroups/$schemas/ee880ba6eeda43dd8d9e30dbb12cfc0d?api-version=2022-10",
        "Schema-Name": "test-schema-negative-version-json7f543f4",
        "Schema-Version": "1",
        "Schema-Versions-Location": "https://fake_resource_json.servicebus.windows.net:443/$schemagroups/fakegroup/schemas/test-schema-negative-version-json7f543f4/versions?api-version=2022-10"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.servicebus.windows.net/$schemaGroups/fakegroup/schemas/test-schema-negative-version-json7f543f4/versions/2?api-version=2022-10",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-error-code": "ItemNotFound"
      },
      "ResponseBody": {
        "error": {
          "code": "ItemNotFound",
          "message": "Schema fakegroup/test-schema-negative-version-json7f543f4/ver.2 does not exist. TrackingId:9e91c7eb-d434-44bb-a7aa-9df054f1c961_G8, SystemTracker:fake_resource_json.servicebus.windows.net:$schemaGroups/fakegroup/schemas/test-schema-negative-version-json7f543f4/versions/2, Timestamp:2024-07-26T22:02:08"
        }
      }
    }
  ],
  "Variables": {}
}
