{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.servicebus.windows.net/$schemaGroups/fakegroup/schemas/test-schema:get-id?api-version=2023-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json; serialization=Json"
      },
      "RequestBody": null,
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-error-code": "InvalidRequest"
      },
      "ResponseBody": {
        "error": {
          "code": "InvalidRequest",
          "message": "Error when consuming request body: The body of the message cannot be read because it is empty. TrackingId:e430cedb-7008-40f7-9e8e-4ebee575122f_G16, SystemTracker:fake_resource_json.servicebus.windows.net:$schemaGroups/fakegroup/schemas/test-schema:get-id, Timestamp:2025-01-14T00:13:35"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.servicebus.windows.net/$schemaGroups/fakegroup/schemas/test-schema:get-id?api-version=2023-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json; serialization=Invalid-format"
      },
      "RequestBody": {
        "$id": "https://example.com/person.schema.json",
        "$schema": "https://json-schema.org/draft/2020-12/schema",
        "title": "User",
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "The person's name."
          },
          "favoriteNumber": {
            "type": "integer",
            "description": "The person's favorite positive number.",
            "minimum": 0
          },
          "favoriteColor": {
            "description": "The person's favorite color",
            "type": "string"
          }
        }
      },
      "StatusCode": 415,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-error-code": "InvalidSchemaType"
      },
      "ResponseBody": {
        "error": {
          "code": "InvalidSchemaType",
          "message": "Invalid schema type for POST request. 'invalid-format' is not supported. TrackingId:1dd2cd0c-764d-4063-bc51-0317a8befa37_G16, SystemTracker:fake_resource_json.servicebus.windows.net:$schemaGroups/fakegroup/schemas/test-schema:get-id, Timestamp:2025-01-14T00:13:36"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.servicebus.windows.net/$schemaGroups/fakegroup/schemas/never-registered:get-id?api-version=2023-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json; serialization=Json"
      },
      "RequestBody": {
        "$id": "https://example.com/person.schema.json",
        "$schema": "https://json-schema.org/draft/2020-12/schema",
        "title": "User",
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "The person's name."
          },
          "favoriteNumber": {
            "type": "integer",
            "description": "The person's favorite positive number.",
            "minimum": 0
          },
          "favoriteColor": {
            "description": "The person's favorite color",
            "type": "string"
          }
        }
      },
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-error-code": "ItemNotFound"
      },
      "ResponseBody": {
        "error": {
          "code": "ItemNotFound",
          "message": "Schema fakegroup/never-registered does not exist. TrackingId:179ea73f-bc83-444b-b136-de57a11831bb_G16, SystemTracker:fake_resource_json.servicebus.windows.net:$schemaGroups/fakegroup/schemas/never-registered:get-id, Timestamp:2025-01-14T00:13:36"
        }
      }
    }
  ],
  "Variables": {}
}
