{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.servicebus.windows.net/$schemaGroups/fakegroup/schemas/PersonAsyncDraft07:get-id?api-version=2022-10",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json; serialization=Json"
      },
      "RequestBody": {
        "$id": "https://example.com/personasyncdraft07.schema.json",
        "$schema": "http://json-schema.org/draft-07/schema",
        "title": "PersonAsyncDraft07",
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Person's name."
          },
          "favorite_color": {
            "type": "string",
            "description": "Favorite color."
          },
          "favorite_number": {
            "description": "Favorite number.",
            "type": "integer"
          },
          "org": {
            "type": "string",
            "description": "Organization name."
          }
        }
      },
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-error-code": "ItemNotFound"
      },
      "ResponseBody": {
        "error": {
          "code": "ItemNotFound",
          "message": "Schema fakegroup/PersonAsyncDraft07 does not exist. TrackingId:23cee0d7-1048-4375-8620-726ab74c40c4_G29, SystemTracker:fake_resource_json.servicebus.windows.net:$schemaGroups/fakegroup/schemas/PersonAsyncDraft07:get-id, Timestamp:2024-07-11T12:58:59"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.servicebus.windows.net/$schemaGroups/fakegroup/schemas/PersonAsyncDraft07?api-version=2022-10",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json; serialization=Json"
      },
      "RequestBody": {
        "$id": "https://example.com/personasyncdraft07.schema.json",
        "$schema": "http://json-schema.org/draft-07/schema",
        "title": "PersonAsyncDraft07",
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Person's name."
          },
          "favorite_color": {
            "type": "string",
            "description": "Favorite color."
          },
          "favorite_number": {
            "description": "Favorite number.",
            "type": "integer"
          },
          "org": {
            "type": "string",
            "description": "Organization name."
          }
        }
      },
      "StatusCode": 204,
      "ResponseHeaders": {
        "Location": "https://example.com",
        "Schema-Group-Name": "fakegroup",
        "Schema-Id": "737211350a874dbca52d37b1caae7672",
        "Schema-Id-Location": "https://fake_resource_json.servicebus.windows.net:443/$schemagroups/$schemas/737211350a874dbca52d37b1caae7672?api-version=2022-10",
        "Schema-Name": "PersonAsyncDraft07",
        "Schema-Version": "1",
        "Schema-Versions-Location": "https://fake_resource_json.servicebus.windows.net:443/$schemagroups/fakegroup/schemas/PersonAsyncDraft07/versions?api-version=2022-10"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://Sanitized.servicebus.windows.net/$schemaGroups/$schemas/737211350a874dbca52d37b1caae7672?api-version=2022-10",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; serialization=Json",
        "Location": "https://example.com",
        "Schema-Group-Name": "fakegroup",
        "Schema-Id": "737211350a874dbca52d37b1caae7672",
    [...]
