{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.servicebus.windows.net/$schemaGroups/fakegroup/schemas/test-schema?api-version=2023-07-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json; serialization=Avro"
      },
      "RequestBody": null,
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-error-code": "InvalidRequest"
      },
      "ResponseBody": {
        "error": {
          "code": "InvalidRequest",
          "message": "Error when consuming request body: The body of the message cannot be read because it is empty. TrackingId:75f3ef8e-f739-4315-8326-96ef1eb408a9_G12, SystemTracker:fake_resource_avro.servicebus.windows.net:$schemaGroups/fakegroup/schemas/test-schema, Timestamp:2025-01-14T00:13:29"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.servicebus.windows.net/$schemaGroups/fakegroup/schemas/test-schema?api-version=2023-07-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json; serialization=Invalid-format"
      },
      "RequestBody": {
        "namespace": "example.avro",
        "type": "record",
        "name": "User",
        "fields": [
          {
            "name": "name",
            "type": "string"
          },
          {
            "name": "favorite_number",
            "type": [
              "int",
              "null"
            ]
          },
          {
            "name": "favorite_color",
            "type": [
              "string",
              "null"
            ]
          }
        ]
      },
      "StatusCode": 415,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-error-code": "InvalidSchemaType"
      },
      "ResponseBody": {
        "error": {
          "code": "InvalidSchemaType",
          "message": "Invalid schema type for PUT request. 'invalid-format' is not supported. TrackingId:3ffd68a7-d40a-4b07-8beb-fccf679d34a0_G12, SystemTracker:fake_resource_avro.servicebus.windows.net:$schemaGroups/fakegroup/schemas/test-schema, Timestamp:2025-01-14T00:13:29"
        }
      }
    }
  ],
  "Variables": {}
}
