{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.servicebus.windows.net/$schemaGroups/$schemas/fakeschemaid?api-version=2023-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-error-code": "InvalidRequest"
      },
      "ResponseBody": {
        "error": {
          "code": "InvalidRequest",
          "message": "SubCode=40000, UnknownType:The request is invalid. [MGResponseHttpError=BadRequest]. TrackingId:bc6a7e94-1433-4d60-afc4-501229e43ce2_G16, SystemTracker:fake_resource_json.servicebus.windows.net:$schemaGroups/$schemas/fakeschemaid, Timestamp:2025-01-14T00:13:41"
        }
      }
    }
  ],
  "Variables": {}
}
