{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.servicebus.windows.net/$schemaGroups/fakegroup/schemas/test-schema-negative-version-avro7d143f2?api-version=2023-07-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json; serialization=Avro"
      },
      "RequestBody": {
        "namespace": "example.avro",
        "type": "record",
        "name": "User",
        "fields": [
          {
            "name": "name",
            "type": "string"
          },
          {
            "name": "favorite_number",
            "type": [
              "int",
              "null"
            ]
          },
          {
            "name": "favorite_color",
            "type": [
              "string",
              "null"
            ]
          }
        ]
      },
      "StatusCode": 204,
      "ResponseHeaders": {
        "Location": "https://example.com",
        "Schema-Group-Name": "fakegroup",
        "Schema-Id": "007b421a275f4d3194c813eda4924817",
        "Schema-Id-Location": "https://fake_resource_avro.servicebus.windows.net:443/$schemagroups/$schemas/007b421a275f4d3194c813eda4924817?api-version=2023-07-01",
        "Schema-Name": "test-schema-negative-version-avro7d143f2",
        "Schema-Version": "1",
        "Schema-Versions-Location": "https://fake_resource_avro.servicebus.windows.net:443/$schemagroups/fakegroup/schemas/test-schema-negative-version-avro7d143f2/versions?api-version=2023-07-01"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.servicebus.windows.net/$schemaGroups/fakegroup/schemas/test-schema-negative-version-avro7d143f2/versions/2?api-version=2023-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-error-code": "ItemNotFound"
      },
      "ResponseBody": {
        "error": {
          "code": "ItemNotFound",
          "message": "Schema fakegroup/test-schema-negative-version-avro7d143f2/ver.2 does not exist. TrackingId:321b5a5f-f8ad-4d00-be83-88f3fdb9dd99_G12, SystemTracker:fake_resource_avro.servicebus.windows.net:$schemaGroups/fakegroup/schemas/test-schema-negative-version-avro7d143f2/versions/2, Timestamp:2025-01-14T00:13:24"
        }
      }
    }
  ],
  "Variables": {}
}
