{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.servicebus.windows.net/$schemaGroups/fakegroup/schemas/test-schema:get-id?api-version=2022-10",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "text/plain; charset=utf-8"
      },
      "RequestBody": null,
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-error-code": "InvalidRequest"
      },
      "ResponseBody": {
        "error": {
          "code": "InvalidRequest",
          "message": "Error when consuming request body: The body of the message cannot be read because it is empty. TrackingId:4c2f0040-d408-4dea-89bd-aa8b801b7433_G13, SystemTracker:fake_resource_custom.servicebus.windows.net:$schemaGroups/fakegroup/schemas/test-schema:get-id, Timestamp:2024-07-26T22:02:28"
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.servicebus.windows.net/$schemaGroups/fakegroup/schemas/never-registered:get-id?api-version=2022-10",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "text/plain; charset=utf-8"
      },
      "RequestBody": "My favorite color is yellow.",
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-error-code": "ItemNotFound"
      },
      "ResponseBody": {
        "error": {
          "code": "ItemNotFound",
          "message": "Schema fakegroup/never-registered does not exist. TrackingId:da58180b-0abb-4472-bb16-73ea0c9ccf74_G13, SystemTracker:fake_resource_custom.servicebus.windows.net:$schemaGroups/fakegroup/schemas/never-registered:get-id, Timestamp:2024-07-26T22:02:29"
        }
      }
    }
  ],
  "Variables": {}
}
