{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.servicebus.windows.net/$schemaGroups/fakegroup/schemas/test-schema-update-async-avrof4813bb1?api-version=2022-10",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json; serialization=Avro"
      },
      "RequestBody": {
        "namespace": "example.avro",
        "type": "record",
        "name": "User",
        "fields": [
          {
            "name": "name",
            "type": "string"
          },
          {
            "name": "favorite_number",
            "type": [
              "int",
              "null"
            ]
          },
          {
            "name": "favorite_color",
            "type": [
              "string",
              "null"
            ]
          }
        ]
      },
      "StatusCode": 204,
      "ResponseHeaders": {
        "Location": "https://example.com",
        "Schema-Group-Name": "fakegroup",
        "Schema-Id": "19699fcb6e244dbdabbb8fc47719d338",
        "Schema-Id-Location": "https://fake_resource_avro.servicebus.windows.net:443/$schemagroups/$schemas/19699fcb6e244dbdabbb8fc47719d338?api-version=2022-10",
        "Schema-Name": "test-schema-update-async-avrof4813bb1",
        "Schema-Version": "1",
        "Schema-Versions-Location": "https://fake_resource_avro.servicebus.windows.net:443/$schemagroups/fakegroup/schemas/test-schema-update-async-avrof4813bb1/versions?api-version=2022-10"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://Sanitized.servicebus.windows.net/$schemaGroups/$schemas/23450452f41c4661b21664288404149b?api-version=2022-10",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; serialization=Avro",
        "Location": "https://example.com",
        "Schema-Group-Name": "fakegroup",
        "Schema-Id": "23450452f41c4661b21664288404149b",
        "Schema-Id-Location": "https://fake_resource_avro.servicebus.windows.net:443/$schemagroups/$schemas/23450452f41c4661b21664288404149b?api-version=2022-10",
        "Schema-Name": "test-schema-update-async-avrof4813bb1",
        "Schema-Version": "2",
        "Schema-Versions-Location": "https://fake_resource_avro.servicebus.windows.net:443/$schemagroups/fakegroup/schemas/test-schema-update-async-avrof4813bb1/versions?api-version=2022-10"
      },
      "ResponseBody": {
        "namespace": "example.avro",
        "type": "record",
        "name": "User",
        "fields": [
          {
            "name": "name",
            "type": "string"
          },
          {
            "name": "favorite_number",
            "type": [
              "int",
              "null"
            ]
          },
          {
            "name": "favorite_food",
            "type": [
              "string",
              "null"
            ]
          }
        ]
      }
    },
    {
      "RequestUri": "https://Sanitized.servicebus.windows.net/$schemaGroups/fakegroup/schemas/test-schema-update-async-avrof4813bb1/versions/1?api-version=2022-10",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; serialization=Avro",
        "Location": "https://example.com",
        "Schema-Group-Name": "fakegroup",
        "Schema-Id": "19699fcb6e244d[...]
