{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.servicebus.windows.net/$schemaGroups/fakegroup/schemas/test-schema-twice-async-custom68d43e32?api-version=2023-07-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "text/plain; charset=utf-8"
      },
      "RequestBody": "My favorite color is yellow.",
      "StatusCode": 204,
      "ResponseHeaders": {
        "Location": "https://example.com",
        "Schema-Group-Name": "fakegroup",
        "Schema-Id": "10c7baf20bb44ea7adb9a6ba4a95f18e",
        "Schema-Id-Location": "https://fake_resource_custom.servicebus.windows.net:443/$schemagroups/$schemas/10c7baf20bb44ea7adb9a6ba4a95f18e?api-version=2023-07-01",
        "Schema-Name": "test-schema-twice-async-custom68d43e32",
        "Schema-Version": "1",
        "Schema-Versions-Location": "https://fake_resource_custom.servicebus.windows.net:443/$schemagroups/fakegroup/schemas/test-schema-twice-async-custom68d43e32/versions?api-version=2023-07-01"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.servicebus.windows.net/$schemaGroups/fakegroup/schemas/test-schema-twice-async-custom68d43e32?api-version=2023-07-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "text/plain; charset=utf-8"
      },
      "RequestBody": "My favorite color is yellow.",
      "StatusCode": 204,
      "ResponseHeaders": {
        "Location": "https://example.com",
        "Schema-Group-Name": "fakegroup",
        "Schema-Id": "10c7baf20bb44ea7adb9a6ba4a95f18e",
        "Schema-Id-Location": "https://fake_resource_custom.servicebus.windows.net:443/$schemagroups/$schemas/10c7baf20bb44ea7adb9a6ba4a95f18e?api-version=2023-07-01",
        "Schema-Name": "test-schema-twice-async-custom68d43e32",
        "Schema-Version": "1",
        "Schema-Versions-Location": "https://fake_resource_custom.servicebus.windows.net:443/$schemagroups/fakegroup/schemas/test-schema-twice-async-custom68d43e32/versions?api-version=2023-07-01"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
