{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.servicebus.windows.net/$schemaGroups/$schemas/fakeschemaid?api-version=2022-10",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-error-code": "InvalidRequest"
      },
      "ResponseBody": {
        "error": {
          "code": "InvalidRequest",
          "message": "SubCode=40000, UnknownType:The request is invalid. [MGResponseHttpError=BadRequest]. TrackingId:db672719-2127-449b-a03c-8fc83970040d_G8, SystemTracker:fake_resource_json.servicebus.windows.net:$schemaGroups/$schemas/fakeschemaid, Timestamp:2024-07-26T22:02:33"
        }
      }
    }
  ],
  "Variables": {}
}
