{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.servicebus.windows.net/$schemaGroups/fakegroup/schemas/test-schema?api-version=2023-07-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json; serialization=Json"
      },
      "RequestBody": null,
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-error-code": "InvalidRequest"
      },
      "ResponseBody": {
        "error": {
          "code": "InvalidRequest",
          "message": "Error when consuming request body: The body of the message cannot be read because it is empty. TrackingId:dc5a987e-498a-47b4-a75a-a49f872311df_G16, SystemTracker:fake_resource_json.servicebus.windows.net:$schemaGroups/fakegroup/schemas/test-schema, Timestamp:2025-01-14T00:13:30"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.servicebus.windows.net/$schemaGroups/fakegroup/schemas/test-schema?api-version=2023-07-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json; serialization=Invalid-format"
      },
      "RequestBody": {
        "$id": "https://example.com/person.schema.json",
        "$schema": "https://json-schema.org/draft/2020-12/schema",
        "title": "User",
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "The person's name."
          },
          "favoriteNumber": {
            "type": "integer",
            "description": "The person's favorite positive number.",
            "minimum": 0
          },
          "favoriteColor": {
            "description": "The person's favorite color",
            "type": "string"
          }
        }
      },
      "StatusCode": 415,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-error-code": "InvalidSchemaType"
      },
      "ResponseBody": {
        "error": {
          "code": "InvalidSchemaType",
          "message": "Invalid schema type for PUT request. 'invalid-format' is not supported. TrackingId:a947b9c4-adc3-4e71-b604-d61493d33683_G16, SystemTracker:fake_resource_json.servicebus.windows.net:$schemaGroups/fakegroup/schemas/test-schema, Timestamp:2025-01-14T00:13:31"
        }
      }
    }
  ],
  "Variables": {}
}
