{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.servicebus.windows.net/$schemaGroups/$schemas/fakeschemaid?api-version=2022-10",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-error-code": "InvalidRequest"
      },
      "ResponseBody": {
        "error": {
          "code": "InvalidRequest",
          "message": "SubCode=40000, UnknownType:The request is invalid. [MGResponseHttpError=BadRequest]. TrackingId:586fbe5f-86eb-4157-ba21-31eb9c60c993_G13, SystemTracker:fake_resource_custom.servicebus.windows.net:$schemaGroups/$schemas/fakeschemaid, Timestamp:2024-07-26T22:02:35"
        }
      }
    }
  ],
  "Variables": {}
}
