{
  "Entries": [
    {
      "RequestUri": "https://sanitized.skype.com/identities?api-version=2023-10-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 26 Feb 2026 22:32:50 GMT"
      },
      "RequestBody": {},
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07, 2021-10-31-preview, 2021-11-01, 2022-06-01, 2022-10-01, 2023-10-01, 2025-03-02-preview, 2025-06-30",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "Sanitized",
        "X-Processing-Time": "13ms"
      },
      "ResponseBody": {
        "identity": {
          "id": "Sanitized"
        }
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.skype.com/api/servicebuscallback/subscribe?q=Sanitized",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 26 Feb 2026 22:32:50 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://sanitized.skype.com/calling/callConnections?api-version=2026-03-12",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Repeatability-First-Sent": "Sanitized",
        "Repeatability-Request-ID": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 26 Feb 2026 22:32:52 GMT"
      },
      "RequestBody": {
        "targets": [
          {
            "rawId": "Sanitized",
            "communicationUser": {
              "id": "Sanitized"
            }
          }
        ],
        "source": {
          "id": "Sanitized"
        },
        "callbackUri": "https://sanitized.skype.com/api/servicebuscallback/events?q=SanitizedSanitized",
        "callIntelligenceOptions": {}
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2023-03-06, 2023-10-15, 2024-04-15, 2024-06-15-preview, 2024-09-01-preview, 2024-09-15, 2024-11-15-preview, 2025-03-30-preview, 2025-05-15, 2025-06-15, 2025-08-15-preview, 2026-03-12",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "Sanitized",
        "X-Microsoft-Skype-Chain-ID": "e63cb712-307b-45a3-b47d-bfed22fc34d1",
        "X-Microsoft-Skype-Client": "azsdk-net-Communication.CallAutomation/1.6.0-alpha.20260226.1 (.NET 8.0.24; Microsoft Windows 10.0.26200)",
        "X-Ms-Client-Version": "azsdk-net-Communication.CallAutomation/1.6.0-alpha.20260226.1 (.NET 8.0.24; Microsoft Windows 10.0.26200)"
      },
      "ResponseBody": {
        "callConnectionId": "00009880-fcf0-468a-81e2-57f059d491ad",
        "targets": [
          {
            "rawId": "Sanitized",
            "kind": "communicationUser",
            "communicationUser": {
              "id": "Sanitized"
            }
          }
        ],
        "callConnectionState": "connecting",
        "callbackUri": "https://sanitized.skype.com/api/servicebuscallback/events?q=SanitizedSanitized",
        "sourceDisplayName": "",
        "source": {
          "rawId": "Sanitized",
          "kind": "communicationUser",
          "communicationUser": {
            "id": "Sanitized"
          }
        },
        "correlationId": "e63cb712-307b-45a3-b47d-bfed22fc34d1",
        "mediaStreamingSubscription": {
          "id": "Sanitized",
          "state": "disabled",
          "subscribedContentTypes": [
            "audio"
          ]
        }
      }
    },
    {
      "RequestUri": "https://sanitized.skype.com/calling/callConnections:answer?api-version=2026-03-12",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Repeatability-First-Sent": "Sanitized",
        "Repeatability-Request-ID": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 26 Feb 2026 22:32:55 GMT"
      },
      "RequestBody": {
        "incomingCallContext": "Sanitized",
        "callbackUri": "https://sanitized.skype.com/api/servicebuscallback/events?q=SanitizedSanitized",
        "callIntelligenceOptions": {},
        "answeredBy": {
          "id": "Sanitized"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2023-03-06, 2023-10-15, 2024-04-15, 2024-06-15-preview, 2024-09-01-preview, 2024-09-15, 2024-11-15-preview, 2025-03-30-preview, 2025-05-15, 2025-06-15, 2025-08-15-preview, 2026-03-12",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "Sanitized",
        "X-Microsoft-Skype-Chain-ID": "e63cb712-307b-45a3-b47d-bfed22fc34d1",
        "X-Microsoft-Skype-Client": "azsdk-net-Communication.CallAutomation/1.6.0-alpha.20260226.1 (.NET 8.0.24; Microsoft Windows 10.0.26200)",
        "X-Ms-Client-Version": "azsdk-net-Communication.CallAutomation/1.6.0-alpha.20260226.1 (.NET 8.0.24; Microsoft Windows 10.0.26200)"
      },
      "ResponseBody": {
        "callConnectionId": "00009880-a703-487f-a01d-18304ef8a81d",
        "serverCallId": "aHR0cHM6Ly9hcGkuZmxpZ2h0cHJveHkuc2t5cGUuY29tL2FwaS92Mi9jcC9jb252LXVzd2UtMDItc2RmLWFrcy5jb252LnNreXBlLmNvbS9jb252LzRPVTY2QW0zeGttanNJR0ZYcC1hbXc/aT0xMC0xMjgtMzEtMTEwJmU9NjM5MDc2NTAxMzg5OTUwMjg2",
        "targets": [
          {
            "rawId": "Sanitized",
            "kind": "communicationUser",
            "communicationUser": {
              "id": "Sanitized"
            }
          }
        ],
        "callConnectionState": "connecting",
        "callbackUri": "https://sanitized.skype.com/api/servicebuscallback/events?q=SanitizedSanitized",
        "source": {
          "rawId": "Sanitized",
          "kind": "communicationUser",
          "communicationUser": {
            "id": "Sanitized"
          }
        },
        "correlationId": "e63cb712-307b-45a3-b47d-bfed22fc34d1",
        "answeredBy": {
          "id": "Sanitized"
        },
        "mediaStreamingSubscription": {
          "id": "Sanitized",
          "state": "disabled",
          "subscribedContentTypes": [
            "audio"
          ]
        }
      }
    },
    {
      "RequestUri": "https://sanitized.skype.com/calling/callConnections/00009880-fcf0-468a-81e2-57f059d491ad?api-version=2026-03-12",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 26 Feb 2026 22:32:57 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2023-03-06, 2023-10-15, 2024-04-15, 2024-06-1[...]
    {
      "RequestUri": "https://sanitized.skype.com/calling/recordings?api-version=2026-03-12",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Repeatability-First-Sent": "Sanitized",
        "Repeatability-Request-ID": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 26 Feb 2026 22:32:57 GMT"
      },
      "RequestBody": {
        "callLocator": {
          "serverCallId": "aHR0cHM6Ly9hcGkuZmxpZ2h0cHJveHkuc2t5cGUuY29tL2FwaS92Mi9jcC9jb252LXVzd2UtMDItc2RmLWFrcy5jb252LnNreXBlLmNvbS9jb252LzRPVTY2QW0zeGttanNJR0ZYcC1hbXc/aT0xMC0xMjgtMzEtMTEwJmU9NjM5MDc2NTAxMzg5OTUwMjg2",
          "kind": "serverCallLocator"
        },
        "recordingStateCallbackUri": "https://sanitized.skype.com/api/servicebuscallback/events",
        "recordingContentType": "audio",
        "recordingChannelType": "unmixed",
        "recordingFormatType": "wav",
        "audioChannelParticipantOrdering": [
          {
            "rawId": "Sanitized",
            "communicationUser": {
              "id": "Sanitized"
            }
          },
          {
            "rawId": "Sanitized",
            "communicationUser": {
              "id": "Sanitized"
            }
          }
        ],
        "pauseOnStart": false
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2023-03-06, 2023-10-15, 2024-04-15, 2024-06-15-preview, 2024-09-01-preview, 2024-09-15, 2024-11-15-preview, 2025-03-30-preview, 2025-05-15, 2025-06-15, 2025-08-15-preview, 2026-03-12",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "Sanitized",
        "Repeatability-Result": "accepted",
        "X-Microsoft-Skype-Chain-ID": "71fde3ff-aa5b-44cc-a79d-c2c33478631c",
        "X-Microsoft-Skype-Client": "azsdk-net-Communication.CallAutomation/1.6.0-alpha.20260226.1 (.NET 8.0.24; Microsoft Windows 10.0.26200)",
        "X-Ms-Client-Version": "azsdk-net-Communication.CallAutomation/1.6.0-alpha.20260226.1 (.NET 8.0.24; Microsoft Windows 10.0.26200)"
      },
      "ResponseBody": {
        "recordingId": "eyJQbGF0Zm9ybUVuZHBvaW50SWQiOiIwMDAwOTg4MC0zY2MyLTQzYmQtOTQ2MS02ZTViZWFlZWY0ODMiLCJSZXNvdXJjZVNwZWNpZmljSWQiOiI3NzUxNzMwYy03YjA2LTRmOGQtOTk4MS0yNDcxMGUzMjM4NjcifQ",
        "recordingState": "inactive",
        "recordingKind": "azureCommunicationServices"
      }
    },
    {
      "RequestUri": "https://sanitized.skype.com/calling/recordings/eyJQbGF0Zm9ybUVuZHBvaW50SWQiOiIwMDAwOTg4MC0zY2MyLTQzYmQtOTQ2MS02ZTViZWFlZWY0ODMiLCJSZXNvdXJjZVNwZWNpZmljSWQiOiI3NzUxNzMwYy03YjA2LTRmOGQtOTk4MS0yNDcxMGUzMjM4NjcifQ?api-version=2026-03-12",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 26 Feb 2026 22:33:00 GMT"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2023-03-06, 2023-10-15, 2024-04-15, 2024-06-15-preview, 2024-09-01-preview, 2024-09-15, 2024-11-15-preview, 2025-03-30-preview, 2025-05-15, 2025-06-15, 2025-08-15-preview, 2026-03-12",
        "MS-CV": "Sanitized",
        "X-Microsoft-Skype-Chain-ID": "e63cb712-307b-45a3-b47d-bfed22fc34d1",
        "X-Microsoft-Skype-Client": "azsdk-net-Communication.CallAutomation/1.6.0-alpha.20260226.1 (.NET 8.0.24; Microsoft Windows 10.0.26200)",
        "X-Ms-Client-Version": "azsdk-net-Communication.CallAutomation/1.6.0-alpha.20260226.1 (.NET 8.0.24; Microsoft Windows 10.0.26200)"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://sanitized.skype.com/calling/callConnections/00009880-fcf0-468a-81e2-57f059d491ad:terminate?api-version=2026-03-12",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Repeatability-First-Sent": "Sanitized",
        "Repeatability-Request-ID": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 26 Feb 2026 22:33:01 GMT"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2023-03-06, 2023-10-15, 2024-04-15, 2024-06-15-preview, 2024-09-01-preview, 2024-09-15, 2024-11-15-preview, 2025-03-30-preview, 2025-05-15, 2025-06-15, 2025-08-15-preview, 2026-03-12",
        "MS-CV": "Sanitized",
        "Repeatability-Result": "accepted",
        "X-Microsoft-Skype-Chain-ID": "e63cb712-307b-45a3-b47d-bfed22fc34d1",
        "X-Microsoft-Skype-Client": "azsdk-net-Communication.CallAutomation/1.6.0-alpha.20260226.1 (.NET 8.0.24; Microsoft Windows 10.0.26200)",
        "X-Ms-Client-Version": "azsdk-net-Communication.CallAutomation/1.6.0-alpha.20260226.1 (.NET 8.0.24; Microsoft Windows 10.0.26200)"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://sanitized.skype.com/api/servicebuscallback/unsubscribe?q=Sanitized",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 26 Feb 2026 22:33:02 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_STATIC_CONNECTION_STRING": "endpoint=https://sanitized.communication.azure.com/;accesskey=Kg==",
    "DISPATCHER_ENDPOINT": "https://sanitized.skype.com",
    "RandomSeed": "38688719",
    "SERVICEBUS_STRING": "Sanitized"
  }
}
