{
  "Entries": [
    {
      "RequestUri": "https://sanitized.skype.com/identities?api-version=2023-10-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 20 May 2025 06:25:24 GMT"
      },
      "RequestBody": {},
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2020-07-20-preview2, 2021-03-07, 2021-10-31-preview, 2021-11-01, 2022-06-01, 2022-10-01, 2023-10-01, 2025-03-02-preview",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "Sanitized",
        "X-Processing-Time": "12ms"
      },
      "ResponseBody": {
        "identity": {
          "id": "Sanitized"
        }
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.skype.com/api/servicebuscallback/subscribe?q=Sanitized",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 20 May 2025 06:25:24 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://sanitized.skype.com/calling/callConnections?api-version=2025-05-15",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Repeatability-First-Sent": "Sanitized",
        "Repeatability-Request-ID": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 20 May 2025 06:25:27 GMT"
      },
      "RequestBody": {
        "targets": [
          {
            "rawId": "Sanitized",
            "communicationUser": {
              "id": "Sanitized"
            }
          }
        ],
        "source": {
          "id": "Sanitized"
        },
        "callbackUri": "https://sanitized.skype.com/api/servicebuscallback/events?q=SanitizedSanitized",
        "callIntelligenceOptions": {}
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "X-Microsoft-Skype-Chain-ID": "09c1e9ef-57d8-454d-a65c-47af072db914",
        "X-Microsoft-Skype-Client": "azsdk-net-Communication.CallAutomation/1.4.0-alpha.20250520.1 (.NET 8.0.16; Microsoft Windows 10.0.26100)"
      },
      "ResponseBody": {
        "callConnectionId": "09002480-eb01-4192-9a84-fb47f84b5ed3",
        "targets": [
          {
            "rawId": "Sanitized",
            "kind": "communicationUser",
            "communicationUser": {
              "id": "Sanitized"
            }
          }
        ],
        "callConnectionState": "connecting",
        "callbackUri": "https://sanitized.skype.com/api/servicebuscallback/events?q=SanitizedSanitized",
        "sourceDisplayName": "",
        "source": {
          "rawId": "Sanitized",
          "kind": "communicationUser",
          "communicationUser": {
            "id": "Sanitized"
          }
        },
        "correlationId": "09c1e9ef-57d8-454d-a65c-47af072db914",
        "mediaStreamingSubscription": {
          "id": "Sanitized",
          "state": "disabled",
          "subscribedContentTypes": [
            "audio"
          ]
        }
      }
    },
    {
      "RequestUri": "https://sanitized.skype.com/calling/callConnections:answer?api-version=2025-05-15",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Repeatability-First-Sent": "Sanitized",
        "Repeatability-Request-ID": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 20 May 2025 06:25:29 GMT"
      },
      "RequestBody": {
        "incomingCallContext": "Sanitized",
        "callbackUri": "https://sanitized.skype.com/api/servicebuscallback/events?q=SanitizedSanitized",
        "callIntelligenceOptions": {},
        "answeredBy": {
          "id": "Sanitized"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "X-Microsoft-Skype-Chain-ID": "09c1e9ef-57d8-454d-a65c-47af072db914",
        "X-Microsoft-Skype-Client": "azsdk-net-Communication.CallAutomation/1.4.0-alpha.20250520.1 (.NET 8.0.16; Microsoft Windows 10.0.26100)"
      },
      "ResponseBody": {
        "callConnectionId": "09002480-afe3-4c00-adf5-9b58618a597b",
        "serverCallId": "aHR0cHM6Ly9hcGkuZmxpZ2h0cHJveHkuc2t5cGUuY29tL2FwaS92Mi9jcC9jb252LWpwd2UtMDEtc2RmLWFrcy5jb252LnNreXBlLmNvbS9jb252L3JrWnprZ0JOdkV1WnFNQXF6SVVrWEE/aT0xMC02MC0xNS01OSZlPTYzODgzMjc0ODU4ODQwNDY2OQ==",
        "targets": [
          {
            "rawId": "Sanitized",
            "kind": "communicationUser",
            "communicationUser": {
              "id": "Sanitized"
            }
          }
        ],
        "callConnectionState": "connecting",
        "callbackUri": "https://sanitized.skype.com/api/servicebuscallback/events?q=SanitizedSanitized",
        "source": {
          "rawId": "Sanitized",
          "kind": "communicationUser",
          "communicationUser": {
            "id": "Sanitized"
          }
        },
        "correlationId": "09c1e9ef-57d8-454d-a65c-47af072db914",
        "answeredBy": {
          "id": "Sanitized"
        },
        "mediaStreamingSubscription": {
          "id": "Sanitized",
          "state": "disabled",
          "subscribedContentTypes": [
            "audio"
          ]
        }
      }
    },
    {
      "RequestUri": "https://sanitized.skype.com/calling/callConnections/09002480-eb01-4192-9a84-fb47f84b5ed3?api-version=2025-05-15",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 20 May 2025 06:25:32 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "X-Microsoft-[...]
    {
      "RequestUri": "https://sanitized.skype.com/calling/recordings?api-version=2025-05-15",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Repeatability-First-Sent": "Sanitized",
        "Repeatability-Request-ID": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 20 May 2025 06:25:32 GMT"
      },
      "RequestBody": {
        "callLocator": {
          "serverCallId": "aHR0cHM6Ly9hcGkuZmxpZ2h0cHJveHkuc2t5cGUuY29tL2FwaS92Mi9jcC9jb252LWpwd2UtMDEtc2RmLWFrcy5jb252LnNreXBlLmNvbS9jb252L3JrWnprZ0JOdkV1WnFNQXF6SVVrWEE/aT0xMC02MC0xNS01OSZlPTYzODgzMjc0ODU4ODQwNDY2OQ==",
          "kind": "serverCallLocator"
        },
        "recordingStateCallbackUri": "https://sanitized.skype.com/api/servicebuscallback/events",
        "recordingContentType": null,
        "recordingChannelType": null,
        "recordingFormatType": null,
        "pauseOnStart": false
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Repeatability-Result": "accepted",
        "X-Microsoft-Skype-Chain-ID": "8fe8d85c-1b73-4309-82a0-ae48e916428c",
        "X-Microsoft-Skype-Client": "azsdk-net-Communication.CallAutomation/1.4.0-alpha.20250520.1 (.NET 8.0.16; Microsoft Windows 10.0.26100)"
      },
      "ResponseBody": {
        "recordingId": "eyJQbGF0Zm9ybUVuZHBvaW50SWQiOiIwOTAwMjQ4MC01ZWMwLTRkZDktOGY0MC02YjhiOTVkMzM1ODkiLCJSZXNvdXJjZVNwZWNpZmljSWQiOiJhOTM2ZTg2Mi00ZTdkLTQzYTUtYWYzZC0zZWMxMDJjNTVkMTcifQ",
        "recordingState": "inactive",
        "recordingKind": "azureCommunicationServices"
      }
    },
    {
      "RequestUri": "https://sanitized.skype.com/calling/recordings/eyJQbGF0Zm9ybUVuZHBvaW50SWQiOiIwOTAwMjQ4MC01ZWMwLTRkZDktOGY0MC02YjhiOTVkMzM1ODkiLCJSZXNvdXJjZVNwZWNpZmljSWQiOiJhOTM2ZTg2Mi00ZTdkLTQzYTUtYWYzZC0zZWMxMDJjNTVkMTcifQ?api-version=2025-05-15",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 20 May 2025 06:25:45 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "X-Microsoft-Skype-Chain-ID": "09c1e9ef-57d8-454d-a65c-47af072db914",
        "X-Microsoft-Skype-Client": "azsdk-net-Communication.CallAutomation/1.4.0-alpha.20250520.1 (.NET 8.0.16; Microsoft Windows 10.0.26100)"
      },
      "ResponseBody": {
        "recordingId": "eyJQbGF0Zm9ybUVuZHBvaW50SWQiOiIwOTAwMjQ4MC01ZWMwLTRkZDktOGY0MC02YjhiOTVkMzM1ODkiLCJSZXNvdXJjZVNwZWNpZmljSWQiOiJhOTM2ZTg2Mi00ZTdkLTQzYTUtYWYzZC0zZWMxMDJjNTVkMTcifQ",
        "recordingState": "active",
        "recordingKind": "azureCommunicationServices"
      }
    },
    {
      "RequestUri": "https://sanitized.skype.com/calling/recordings/eyJQbGF0Zm9ybUVuZHBvaW50SWQiOiIwOTAwMjQ4MC01ZWMwLTRkZDktOGY0MC02YjhiOTVkMzM1ODkiLCJSZXNvdXJjZVNwZWNpZmljSWQiOiJhOTM2ZTg2Mi00ZTdkLTQzYTUtYWYzZC0zZWMxMDJjNTVkMTcifQ:pause?api-version=2025-05-15",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 20 May 2025 06:25:46 GMT"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "X-Microsoft-Skype-Chain-ID": "09c1e9ef-57d8-454d-a65c-47af072db914",
        "X-Microsoft-Skype-Client": "azsdk-net-Communication.CallAutomation/1.4.0-alpha.20250520.1 (.NET 8.0.16; Microsoft Windows 10.0.26100)"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://sanitized.skype.com/calling/recordings/eyJQbGF0Zm9ybUVuZHBvaW50SWQiOiIwOTAwMjQ4MC01ZWMwLTRkZDktOGY0MC02YjhiOTVkMzM1ODkiLCJSZXNvdXJjZVNwZWNpZmljSWQiOiJhOTM2ZTg2Mi00ZTdkLTQzYTUtYWYzZC0zZWMxMDJjNTVkMTcifQ:resume?api-version=2025-05-15",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 20 May 2025 06:25:56 GMT"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "X-Microsoft-Skype-Chain-ID": "09c1e9ef-57d8-454d-a65c-47af072db914",
        "X-Microsoft-Skype-Client": "azsdk-net-Communication.CallAutomation/1.4.0-alpha.20250520.1 (.NET 8.0.16; Microsoft Windows 10.0.26100)"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://sanitized.skype.com/calling/recordings/eyJQbGF0Zm9ybUVuZHBvaW50SWQiOiIwOTAwMjQ4MC01ZWMwLTRkZDktOGY0MC02YjhiOTVkMzM1ODkiLCJSZXNvdXJjZVNwZWNpZmljSWQiOiJhOTM2ZTg2Mi00ZTdkLTQzYTUtYWYzZC0zZWMxMDJjNTVkMTcifQ?api-version=2025-05-15",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 20 May 2025 06:26:17 GMT"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "X-Microsoft-Skype-Chain-ID": "80b7d8c2-b031-47ca-a764-e950e1d6ddf2",
        "X-Microsoft-Skype-Client": "azsdk-net-Communication.CallAutomation/1.4.0-alpha.20250520.1 (.NET 8.0.16; Microsoft Windows 10.0.26100)"
      },
      "ResponseBody": {
        "error": {
          "code": "8522",
          "message": "Recording not found."
        }
      }
    },
    {
      "RequestUri": "https://sanitized.skype.com/api/servicebuscallback/unsubscribe?q=Sanitized",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Tue, 20 May 2025 06:26:17 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_STATIC_CONNECTION_STRING": "endpoint=https://sanitized.communication.azure.com/;accesskey=Kg==",
    "DISPATCHER_ENDPOINT": "https://sanitized.skype.com",
    "PMA_Endpoint": "https://sanitized.com",
    "RandomSeed": "1601226667",
    "SERVICEBUS_STRING": "Sanitized"
  }
}
