{
  "Entries": [
    {
      "RequestUri": "https://sanitized.skype.com/identities?api-version=2023-10-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 27 Aug 2025 07:22:52 GMT"
      },
      "RequestBody": {},
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2020-07-20-preview2, 2021-03-07, 2021-10-31-preview, 2021-11-01, 2022-06-01, 2022-10-01, 2023-10-01, 2025-03-02-preview, 2025-06-30",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "Sanitized",
        "X-Processing-Time": "18ms"
      },
      "ResponseBody": {
        "identity": {
          "id": "Sanitized"
        }
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.skype.com/api/servicebuscallback/subscribe?q=Sanitized",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 27 Aug 2025 07:22:52 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://sanitized.skype.com/calling/callConnections?api-version=2024-09-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Repeatability-First-Sent": "Sanitized",
        "Repeatability-Request-ID": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 27 Aug 2025 07:22:54 GMT"
      },
      "RequestBody": {
        "targets": [
          {
            "rawId": "Sanitized",
            "communicationUser": {
              "id": "Sanitized"
            }
          }
        ],
        "source": {
          "id": "Sanitized"
        },
        "callbackUri": "https://sanitized.skype.com/api/servicebuscallback/events?q=SanitizedSanitized",
        "customCallingContext": {
          "voipHeaders": {}
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2023-10-03-preview, 2024-09-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "X-Microsoft-Skype-Chain-ID": "f6b3d412-77b3-46ad-8336-5be78110af2f",
        "X-Microsoft-Skype-Client": "azsdk-net-Communication.CallAutomation/1.7.0-alpha.20250827.1 (.NET 8.0.19; Microsoft Windows 10.0.26100)",
        "X-Ms-Client-Version": "azsdk-net-Communication.CallAutomation/1.7.0-alpha.20250827.1 (.NET 8.0.19; Microsoft Windows 10.0.26100)"
      },
      "ResponseBody": {
        "callConnectionId": "08004780-cc5a-4f3b-8943-f0b52eed235d",
        "targets": [
          {
            "rawId": "Sanitized",
            "kind": "communicationUser",
            "communicationUser": {
              "id": "Sanitized"
            }
          }
        ],
        "callConnectionState": "connecting",
        "callbackUri": "https://sanitized.skype.com/api/servicebuscallback/events?q=SanitizedSanitized",
        "sourceDisplayName": "",
        "source": {
          "rawId": "Sanitized",
          "kind": "communicationUser",
          "communicationUser": {
            "id": "Sanitized"
          }
        },
        "correlationId": "f6b3d412-77b3-46ad-8336-5be78110af2f",
        "mediaSubscriptionId": "aa93bb04-6beb-47ae-a45b-e32cc555045e",
        "dataSubscriptionId": "465d0116-9a24-4f8c-a213-45df7eb29073",
        "mediaStreamingSubscription": {
          "id": "Sanitized",
          "state": "disabled",
          "subscribedContentTypes": [
            "audio"
          ]
        }
      }
    },
    {
      "RequestUri": "https://sanitized.skype.com/calling/callConnections:answer?api-version=2024-09-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Repeatability-First-Sent": "Sanitized",
        "Repeatability-Request-ID": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 27 Aug 2025 07:22:57 GMT"
      },
      "RequestBody": {
        "incomingCallContext": "Sanitized",
        "callbackUri": "https://sanitized.skype.com/api/servicebuscallback/events?q=SanitizedSanitized",
        "customCallingContext": {
          "voipHeaders": {},
          "sipHeaders": {}
        },
        "answeredBy": {
          "id": "Sanitized"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2023-10-03-preview, 2024-09-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "X-Microsoft-Skype-Chain-ID": "f6b3d412-77b3-46ad-8336-5be78110af2f",
        "X-Microsoft-Skype-Client": "azsdk-net-Communication.CallAutomation/1.7.0-alpha.20250827.1 (.NET 8.0.19; Microsoft Windows 10.0.26100)",
        "X-Ms-Client-Version": "azsdk-net-Communication.CallAutomation/1.7.0-alpha.20250827.1 (.NET 8.0.19; Microsoft Windows 10.0.26100)"
      },
      "ResponseBody": {
        "callConnectionId": "08004780-9ac1-42cb-8df5-05c45a6e8e41",
        "serverCallId": "aHR0cHM6Ly9hcGkuZmxpZ2h0cHJveHkuc2t5cGUuY29tL2FwaS92Mi9jcC9jb252LW1hc28tMDItcHJvZC1ha3MuY29udi5za3lwZS5jb20vY29udi94cVplTm4yNzJrMmRNdVJ5RUxvYUFBP2k9MTAtMTI4LTE3LTY1JmU9NjM4OTE4Mzg4MTM2NDE0OTk4",
        "targets": [
          {
            "rawId": "Sanitized",
            "kind": "communicationUser",
            "communicationUser": {
              "id": "Sanitized"
            }
          }
        ],
        "callConnectionState": "connecting",
        "callbackUri": "https://sanitized.skype.com/api/servicebuscallback/events?q=SanitizedSanitized",
        "source": {
          "rawId": "Sanitized",
          "kind": "communicationUser",
          "communicationUser": {
            "id": "Sanitized"
          }
        },
        "correlationId": "f6b3d412-77b3-46ad-8336-5be78110af2f",
        "answeredBy": {
          "id": "Sanitized"
        },
        "mediaSubscriptionId": "d4838a0f-7823-4575-81dd-31a8ab580f40",
        "dataSubscriptionId": "9ec5cdfb-ee29-40cc-b28f-8a52ecbea7a6",
        "mediaStreamingSubscription": {
          "id": "Sanitized",
          "state": "disabled",
          "subscribedContentTypes": [
            "audio"
          ]
        }
      }
    },
    {
      "RequestUri": "https://sanitized.skype.com/calling/callConnections/08004780-cc5a-4f3b-8943-f0b52eed235d?api-version=2024-09-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 27 Aug 2025 07:22:59 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2023-10-03-preview, 2024-09-01-previe[...]
    {
      "RequestUri": "https://sanitized.skype.com/calling/recordings?api-version=2024-09-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Repeatability-First-Sent": "Sanitized",
        "Repeatability-Request-ID": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 27 Aug 2025 07:22:59 GMT"
      },
      "RequestBody": {
        "callConnectionId": "08004780-cc5a-4f3b-8943-f0b52eed235d",
        "recordingStateCallbackUri": "https://sanitized.skype.com/api/servicebuscallback/events",
        "recordingContentType": null,
        "recordingChannelType": null,
        "recordingFormatType": null,
        "pauseOnStart": false
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "api-supported-versions": "2023-10-03-preview, 2024-09-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "Repeatability-Result": "accepted",
        "X-Microsoft-Skype-Chain-ID": "fccbfee7-8cbe-4868-8319-b4d4f43f40f7",
        "X-Microsoft-Skype-Client": "azsdk-net-Communication.CallAutomation/1.7.0-alpha.20250827.1 (.NET 8.0.19; Microsoft Windows 10.0.26100)",
        "X-Ms-Client-Version": "azsdk-net-Communication.CallAutomation/1.7.0-alpha.20250827.1 (.NET 8.0.19; Microsoft Windows 10.0.26100)"
      },
      "ResponseBody": {
        "recordingId": "eyJQbGF0Zm9ybUVuZHBvaW50SWQiOiIwODAwNDc4MC1jYzVhLTRmM2ItODk0My1mMGI1MmVlZDIzNWQiLCJSZXNvdXJjZVNwZWNpZmljSWQiOiJjNzVmZGQyMi04NjViLTQ0ZTktYmVmMi1lZmY1ZWZjMTM1NGMifQ",
        "recordingState": "inactive",
        "recordingKind": "azureCommunicationServices"
      }
    },
    {
      "RequestUri": "https://sanitized.skype.com/calling/recordings/eyJQbGF0Zm9ybUVuZHBvaW50SWQiOiIwODAwNDc4MC1jYzVhLTRmM2ItODk0My1mMGI1MmVlZDIzNWQiLCJSZXNvdXJjZVNwZWNpZmljSWQiOiJjNzVmZGQyMi04NjViLTQ0ZTktYmVmMi1lZmY1ZWZjMTM1NGMifQ?api-version=2024-09-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 27 Aug 2025 07:23:09 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2023-10-03-preview, 2024-09-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "X-Microsoft-Skype-Chain-ID": "f6b3d412-77b3-46ad-8336-5be78110af2f",
        "X-Microsoft-Skype-Client": "azsdk-net-Communication.CallAutomation/1.7.0-alpha.20250827.1 (.NET 8.0.19; Microsoft Windows 10.0.26100)",
        "X-Ms-Client-Version": "azsdk-net-Communication.CallAutomation/1.7.0-alpha.20250827.1 (.NET 8.0.19; Microsoft Windows 10.0.26100)"
      },
      "ResponseBody": {
        "recordingId": "eyJQbGF0Zm9ybUVuZHBvaW50SWQiOiIwODAwNDc4MC1jYzVhLTRmM2ItODk0My1mMGI1MmVlZDIzNWQiLCJSZXNvdXJjZVNwZWNpZmljSWQiOiJjNzVmZGQyMi04NjViLTQ0ZTktYmVmMi1lZmY1ZWZjMTM1NGMifQ",
        "recordingState": "active",
        "recordingKind": "azureCommunicationServices"
      }
    },
    {
      "RequestUri": "https://sanitized.skype.com/calling/recordings/eyJQbGF0Zm9ybUVuZHBvaW50SWQiOiIwODAwNDc4MC1jYzVhLTRmM2ItODk0My1mMGI1MmVlZDIzNWQiLCJSZXNvdXJjZVNwZWNpZmljSWQiOiJjNzVmZGQyMi04NjViLTQ0ZTktYmVmMi1lZmY1ZWZjMTM1NGMifQ:pause?api-version=2024-09-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 27 Aug 2025 07:23:09 GMT"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "api-supported-versions": "2023-10-03-preview, 2024-09-01-preview",
        "X-Microsoft-Skype-Chain-ID": "f6b3d412-77b3-46ad-8336-5be78110af2f",
        "X-Microsoft-Skype-Client": "azsdk-net-Communication.CallAutomation/1.7.0-alpha.20250827.1 (.NET 8.0.19; Microsoft Windows 10.0.26100)",
        "X-Ms-Client-Version": "azsdk-net-Communication.CallAutomation/1.7.0-alpha.20250827.1 (.NET 8.0.19; Microsoft Windows 10.0.26100)"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://sanitized.skype.com/calling/recordings/eyJQbGF0Zm9ybUVuZHBvaW50SWQiOiIwODAwNDc4MC1jYzVhLTRmM2ItODk0My1mMGI1MmVlZDIzNWQiLCJSZXNvdXJjZVNwZWNpZmljSWQiOiJjNzVmZGQyMi04NjViLTQ0ZTktYmVmMi1lZmY1ZWZjMTM1NGMifQ:resume?api-version=2024-09-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 27 Aug 2025 07:23:20 GMT"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "api-supported-versions": "2023-10-03-preview, 2024-09-01-preview",
        "X-Microsoft-Skype-Chain-ID": "f6b3d412-77b3-46ad-8336-5be78110af2f",
        "X-Microsoft-Skype-Client": "azsdk-net-Communication.CallAutomation/1.7.0-alpha.20250827.1 (.NET 8.0.19; Microsoft Windows 10.0.26100)",
        "X-Ms-Client-Version": "azsdk-net-Communication.CallAutomation/1.7.0-alpha.20250827.1 (.NET 8.0.19; Microsoft Windows 10.0.26100)"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://sanitized.skype.com/calling/recordings/eyJQbGF0Zm9ybUVuZHBvaW50SWQiOiIwODAwNDc4MC1jYzVhLTRmM2ItODk0My1mMGI1MmVlZDIzNWQiLCJSZXNvdXJjZVNwZWNpZmljSWQiOiJjNzVmZGQyMi04NjViLTQ0ZTktYmVmMi1lZmY1ZWZjMTM1NGMifQ?api-version=2024-09-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 27 Aug 2025 07:23:41 GMT"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "api-supported-versions": "2023-10-03-preview, 2024-09-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "X-Microsoft-Skype-Chain-ID": "f6b3d412-77b3-46ad-8336-5be78110af2f",
        "X-Microsoft-Skype-Client": "azsdk-net-Communication.CallAutomation/1.7.0-alpha.20250827.1 (.NET 8.0.19; Microsoft Windows 10.0.26100)",
        "X-Ms-Client-Version": "azsdk-net-Communication.CallAutomation/1.7.0-alpha.20250827.1 (.NET 8.0.19; Microsoft Windows 10.0.26100)"
      },
      "ResponseBody": {
        "error": {
          "code": "8522",
          "message": "Recording not found.",
          "target": "/calling/recordings/eyJQbGF0Zm9ybUVuZHBvaW50SWQiOiIwODAwNDc4MC1jYzVhLTRmM2ItODk0My1mMGI1MmVlZDIzNWQiLCJSZXNvdXJjZVNwZWNpZmljSWQiOiJjNzVmZGQyMi04NjViLTQ0ZTktYmVmMi1lZmY1ZWZjMTM1NGMifQ"
        }
      }
    },
    {
      "RequestUri": "https://sanitized.skype.com/api/servicebuscallback/unsubscribe?q=Sanitized",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 27 Aug 2025 07:23:42 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_STATIC_CONNECTION_STRING": "endpoint=https://sanitized.communication.azure.com/;accesskey=Kg==",
    "DISPATCHER_ENDPOINT": "https://sanitized.skype.com",
    "PMA_Endpoint": "https://sanitized.com",
    "RandomSeed": "776556638",
    "SERVICEBUS_STRING": "Sanitized"
  }
}
