{
  "Entries": [
    {
      "RequestUri": "https://fakeaccountname.blob.core.windows.net/immutable/blob175676876643600826?comp=legalhold",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-legal-hold": "true",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "BlobNotFound",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?>\n",
        "<Error><Code>BlobNotFound</Code><Message>The specified blob does not exist.\n",
        "RequestId:80e4e8f4-b01e-0076-3696-1bb789000000\n",
        "Time:2025-09-01T23:19:30.1042612Z</Message></Error>"
      ]
    },
    {
      "RequestUri": "https://fakeaccountname.blob.core.windows.net/immutable?comp=list&restype=container",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://fakeaccountname.blob.core.windows.net/\" ContainerName=\"immutable\"><Blobs /><NextMarker /></EnumerationResults>"
    }
  ],
  "Variables": {
    "blob": "blob175676876643600826"
  }
}
