{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/source-2046150484?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 25 Jun 2024 18:33:03 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC95453FE5910A\"",
        "Last-Modified": "Tue, 25 Jun 2024 18:33:03 GMT",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/source-2046150484/File_0.txt",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 25 Jun 2024 18:33:03 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": "c29tZSByYW5kb20gdGV4dA==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "B2caA4wOtDcj1CFpOwc8Ow==",
        "ETag": "\"0x8DC95453FEE3B99\"",
        "Last-Modified": "Tue, 25 Jun 2024 18:33:03 GMT",
        "x-ms-content-crc64": "fxwoBBSnywc=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/target-4443499238?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 25 Jun 2024 18:33:03 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC95453FF69BF0\"",
        "Last-Modified": "Tue, 25 Jun 2024 18:33:03 GMT",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.cognitiveservices.azure.com/translator/document/batches?api-version=2024-05-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json; charset=UTF-8",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "inputs": [
          {
            "source": {
              "sourceUrl": "Sanitized"
            },
            "targets": [
              {
                "targetUrl": "Sanitized",
                "language": "fr"
              }
            ]
          }
        ]
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Operation-Location": "https://fakeEndpoint-doctranslation.cognitiveservices.azure.com/translator/document/batches/6589ee00-fba7-4166-a085-89fa01933c80?api-version=2024-05-01",
        "x-ms-region": "West US",
        "X-RequestId": "d49bc088-1d30-4e70-9d07-1509658e405d"
      },
      "ResponseBody": {
        "id": "6589ee00-fba7-4166-a085-89fa01933c80",
        "status": "NotStarted"
      }
    },
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/source-2046150484?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 25 Jun 2024 18:33:04 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 409,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ContainerAlreadyExists",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ContainerAlreadyExists</Code><Message>The specified container already exists.\n",
        "RequestId:ba675bac-901e-0048-382e-c70fcf000000\n",
        "Time:2024-06-25T18:33:04.7613951Z</Message></Error>"
      ]
    },
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/source-2046150484/File_0.txt",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tu[...]
