{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/source-7997866720?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 25 Jun 2024 18:35:03 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC954587563E84\"",
        "Last-Modified": "Tue, 25 Jun 2024 18:35:03 GMT",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/source-7997866720/File_0.txt",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 25 Jun 2024 18:35:03 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": "c29tZSByYW5kb20gdGV4dA==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "B2caA4wOtDcj1CFpOwc8Ow==",
        "ETag": "\"0x8DC9545875F68EC\"",
        "Last-Modified": "Tue, 25 Jun 2024 18:35:03 GMT",
        "x-ms-content-crc64": "fxwoBBSnywc=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/target-5639164788?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 25 Jun 2024 18:35:03 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC9545876849E6\"",
        "Last-Modified": "Tue, 25 Jun 2024 18:35:03 GMT",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.cognitiveservices.azure.com/translator/document/batches?createdDateTimeUtcStart=2024-06-25T18%3A35%3A03.231Z&orderby=createdDateTimeUtc+asc&api-version=2024-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\"821E9968C3829CF50857A0B31D52AFDD040489425FD2C0E81448D520991CC0E8\"",
        "Retry-After": "1",
        "x-ms-region": "West US",
        "X-RequestId": "9b0d7e84-9a45-4fd7-ba8c-3a6115528fba"
      },
      "ResponseBody": {
        "value": []
      }
    }
  ],
  "Variables": {
    "sourceContainer": "source-7997866720",
    "startDateTime": "2024-06-25T18:35:03.231Z",
    "targetContainer": "target-5639164788"
  }
}
