{
  "Entries": [
    {
      "RequestUri": "https://fakestorageaccount.blob.core.windows.net/orscontainer/orsBlob",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 24 Oct 2023 15:21:13 GMT",
        "x-ms-version": "2023-08-03"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "u9Ajh1cXNPdecJ601Sjf\u002Bg==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DBA3DE49B71F48\u0022",
        "Last-Modified": "Wed, 23 Aug 2023 13:38:51 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 23 Aug 2023 13:38:51 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-or-6b810d17-de03-4f62-b237-5f44ad587055_55beb2e7-f603-4092-8682-0b61834f0053": "complete",
        "x-ms-or-bb2d6ebb-faac-41ec-8b70-677a4d3bf8d4_2bcde799-ff11-4adc-b051-f0bde28126e3": "complete",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2023-08-03",
        "x-ms-version-id": "2023-08-23T13:38:51.7862216Z"
      },
      "ResponseBody": "MjU0MzVnZGdmZHNmZXl5anlrZ2huYnN0ZWRmZHM="
    },
    {
      "RequestUri": "https://emmahktest.blob.core.windows.net/orscontainer/orsBlob",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 24 Oct 2023 15:21:13 GMT",
        "x-ms-version": "2023-08-03"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "u9Ajh1cXNPdecJ601Sjf\u002Bg==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DBA3DE6DAD3D46\u0022",
        "Last-Modified": "Wed, 23 Aug 2023 13:39:52 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 23 Aug 2023 13:39:52 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-or-policy-id": "bb2d6ebb-faac-41ec-8b70-677a4d3bf8d4",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2023-08-03",
        "x-ms-version-id": "2023-08-23T13:39:52.1194310Z"
      },
      "ResponseBody": "MjU0MzVnZGdmZHNmZXl5anlrZ2huYnN0ZWRmZHM="
    }
  ],
  "Variables": {}
}
