{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.vault.azure.net/certificates/contacts?api-version=7.5",
      "RequestMethod": "PUT",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/certificates/contacts?api-version=7.5",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "contacts": [
          {
            "email": "one@localhost",
            "name": "One",
            "phone": "1111111111"
          },
          {
            "email": "two@localhost",
            "name": "Two",
            "phone": "2222222222"
          }
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "id": "https://test.vault.azure.net/certificates/contacts",
        "contacts": [
          {
            "email": "one@localhost",
            "name": "One",
            "phone": "1111111111"
          },
          {
            "email": "two@localhost",
            "name": "Two",
            "phone": "2222222222"
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/certificates/contacts?api-version=7.5",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "id": "https://test.vault.azure.net/certificates/contacts",
        "contacts": [
          {
            "email": "one@localhost",
            "name": "One",
            "phone": "1111111111"
          },
          {
            "email": "two@localhost",
            "name": "Two",
            "phone": "2222222222"
          }
        ]
      }
    }
  ],
  "Variables": {}
}
