{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.vault.azure.net/certificates/1917406029/create?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/certificates/1917406029/create?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "policy": {
          "attributes": {
            "enabled": true,
            "exp": 2208992460,
            "nbf": 1893459660
          },
          "issuer": {
            "cert_transparency": false,
            "name": "Self"
          },
          "key_props": {
            "exportable": true,
            "key_size": 2048,
            "kty": "RSA",
            "reuse_key": true
          },
          "lifetime_actions": [
            {
              "action": {
                "action_type": "EmailContacts"
              },
              "trigger": {
                "lifetime_percentage": 98
              }
            }
          ],
          "secret_props": {
            "contentType": "application/x-pkcs12"
          },
          "x509_props": {
            "ekus": [
              "1.3.6.1.5.5.7.3.1",
              "1.3.6.1.5.5.7.3.2"
            ],
            "key_usage": [
              "dataEncipherment"
            ],
            "sans": {
              "dns_names": [
                "localhost"
              ]
            },
            "subject": "CN=DefaultPolicy",
            "validity_months": 12
          }
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://example.com",
        "Retry-After": "10"
      },
      "ResponseBody": {
        "id": "https://tb2cb0ea666d53791.vault.azure.net/certificates/1917406029/pending",
        "issuer": {
          "name": "Self"
        },
        "csr": "MIICvjCCAaYCAQAwGDEWMBQGA1UEAxMNRGVmYXVsdFBvbGljeTCCASIwDQYJKoZIhvcNAQEBBQADggEPADCCAQoCggEBANFysjnpapb+d99vT299nb2FZyvH70KShBXPogvKWJEcfb6wUV2N61Hti9o9pupYnKQ/brcSZZE+BJW3MqQLBpAgRwpX3XWDPoA4ZhMzldTW6mrBVA78SW5SHR6CWyQfzhWxZEHED8WgNm8B/iFZCVSLRHjFtwGGBwMUpNkK45Jb0eXdXz0WdTiOI37CcWFy9EfbC1VGxejMSmxNRxUwjfIFxpMjXWX4cspDUqFDDbiARKYK5rwKqNN1PHsraKy1hax6ZDURn54cPZ9rm8eQz5KMI6wYNU+yr6VRizzia5nG3WK4WXh2t5JbpaMX5GdcZv2Y+K2T+CnjAnhyvk2InBkCAwEAAaBhMF8GCSqGSIb3DQEJDjFSMFAwDgYDVR0PAQH/BAQDAgQQMB0GA1UdJQQWMBQGCCsGAQUFBwMBBggrBgEFBQcDAjAUBgNVHREEDTALgglsb2NhbGhvc3QwCQYDVR0TBAIwADANBgkqhkiG9w0BAQsFAAOCAQEAXdspZNICNxE16rtiTcWF/znCP+TwicDM9Ab6wteDhWyWvE7JbRNQ7aeIzGEfx53NQB3nbe8FW8VOkdvfQ6cbkBm9pP51tHYeI4Iy/smY8UKbVUHh7ydestTRU+Eco4D1SOUTJCXXDHRGksVOAVfpkYxwTmFSk+7RHZ/zZo8CrlQPtorK+RW76MEGlupXwWg1IkLmTfeo9l8LM75Lx8lTdbzmfTDvneqv/l2RE9AA33HqX8IjW4C0INHF3M+LK44eYz+AEj5TrnBv9M1Vt1pxvrK/70lHG14HtY6NjyIqikp1JvbqNcxaI1XUuypTTH+51/Dvv02mDGevYyjdIOBarw==",
        "cancellation_requested": false,
        "status": "inProgress",
        "status_details": "Pending certificate created. Certificate request is in progress. This may take some time based on the issuer provider. Please check again later.",
        "request_id": "93ab149676904a6381b041eb46cd550e"
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/certificates/1917406029/policy?api-version=2025-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "id": "https://tb2cb0ea666d53791.vault.azure.net/certificates/1917406029/policy",
        "key_props": {
          "exportable": true,
          "kty": "RSA",
          "key_size": 2048,
          "reuse_key": true
        },
        "secret_props": {
          "contentType": "application/x-pkcs12"
        },
        "x509_props": {
          "subject": "CN=DefaultPolicy",
          "sans": {
            "dns_names": [
              "localhost"
            ]
          },
          "ekus": [
            "1.3.6.1.5.5.7.3.1",
            "1.3.6.1.5.5.7.3.2"
          ],
          "key_usage": [
            "dataEncipherment"
          ],
          "validity_months": 12,
          "basic_constraints": {
            "ca": false
          }
        },
        "lifetime_actions": [
          {
            "trigger": {
              "lifetime_percentage": 98
            },
            "action": {
              "action_type": "EmailContacts"
            }
          }
        ],
        "issuer": {
          "name": "Self",
          "cert_transparency": false
        },
        "attributes": {
          "enabled": true,
          "created": 1759791268,
          "updated": 1759791268
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/certificates/1917406029/policy?api-version=2025-07-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "key_props": {
          "crv": "P-256K",
          "exportable": true,
          "key_size": 256,
          "kty": "EC",
          "reuse_key": false
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "id": "https://tb2cb0ea666d53791.vault.azure.net/certificates/1917406029/policy",
        "key_props": {
          "exportable": true,
          "kty": "EC",
          "key_size": 256,
          "reuse_key": fa[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/certificates/1917406029?api-version=2025-07-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://tb2cb0ea666d53791.vault.azure.net/deletedcertificates/1917406029",
        "deletedDate": 1759791268,
        "scheduledPurgeDate": 1760396068,
        "id": "https://tb2cb0ea666d53791.vault.azure.net/certificates/1917406029/4b8246db397a48788858ef1e33793d2d",
        "attributes": {
          "enabled": false,
          "nbf": 1759790668,
          "exp": 1791327268,
          "created": 1759791268,
          "updated": 1759791268,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7
        },
        "policy": {
          "id": "https://tb2cb0ea666d53791.vault.azure.net/certificates/1917406029/policy",
          "key_props": {
            "exportable": true,
            "kty": "EC",
            "key_size": 256,
            "reuse_key": false,
            "crv": "P-256K"
          },
          "secret_props": {
            "contentType": "application/x-pkcs12"
          },
          "x509_props": {
            "subject": "CN=DefaultPolicy",
            "sans": {
              "dns_names": [
                "localhost"
              ]
            },
            "ekus": [
              "1.3.6.1.5.5.7.3.1",
              "1.3.6.1.5.5.7.3.2"
            ],
            "key_usage": [
              "dataEncipherment"
            ],
            "validity_months": 12,
            "basic_constraints": {
              "ca": false
            }
          },
          "lifetime_actions": [
            {
              "trigger": {
                "lifetime_percentage": 98
              },
              "action": {
                "action_type": "EmailContacts"
              }
            }
          ],
          "issuer": {
            "name": "Self",
            "cert_transparency": false
          },
          "attributes": {
            "enabled": true,
            "created": 1759791268,
            "updated": 1759791268
          }
        },
        "pending": {
          "id": "https://tb2cb0ea666d53791.vault.azure.net/certificates/1917406029/pending"
        }
      }
    }
  ],
  "Variables": {}
}
