{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/test-project/agents/ai-search-agent/versions?api-version=v1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "definition": {
          "kind": "prompt",
          "model": "gpt-5.2",
          "instructions": "You are a helpful assistant. You must always provide citations for answers using the tool and render them as: `[message_idx:search_idx†source]`.",
          "tools": [
            {
              "type": "azure_ai_search",
              "azure_ai_search": {
                "indexes": [
                  {
                    "project_connection_id": "00000000-0000-0000-0000-000000000000",
                    "index_name": "sample_index",
                    "query_type": "simple"
                  }
                ]
              }
            }
          ]
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "1.0,2025-05-15-preview,2025-11-15-preview",
        "azureml-served-by-cluster": "hyena-swedencentral-01",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "Sweden Central",
        "x-ms-response-type": "standard"
      },
      "ResponseBody": {
        "metadata": {},
        "object": "agent.version",
        "id": "ai-search-agent:1",
        "name": "ai-search-agent",
        "version": "1",
        "description": "",
        "created_at": 1773685215,
        "definition": {
          "kind": "prompt",
          "model": "gpt-5.2",
          "instructions": "You are a helpful assistant. You must always provide citations for answers using the tool and render them as: `[message_idx:search_idx†source]`.",
          "tools": [
            {
              "type": "azure_ai_search",
              "azure_ai_search": {
                "indexes": [
                  {
                    "project_connection_id": "00000000-0000-0000-0000-000000000000",
                    "index_name": "sample_index",
                    "query_type": "simple"
                  }
                ]
              }
            }
          ]
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/test-project/agents/ai-search-agent?api-version=v1",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "1.0,2025-05-15-preview,2025-11-15-preview",
        "azureml-served-by-cluster": "hyena-swedencentral-01",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "Sweden Central",
        "x-ms-response-type": "standard"
      },
      "ResponseBody": {
        "object": "agent.deleted",
        "name": "ai-search-agent",
        "deleted": true
      }
    }
  ],
  "Variables": {}
}
