{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/test-project/skills/test-skill?api-version=v1",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "foundry-features": "Skills=V1Preview"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "api-supported-versions": "1.0",
        "azureml-served-by-cluster": "hyena-westus2-02",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "West Central US",
        "x-ms-response-type": "standard"
      },
      "ResponseBody": {
        "error": {
          "code": "not_found",
          "message": "Skill 'test-skill' not found. [Request ID: bc3263732368b08f20de091efed12eb0]",
          "type": "error",
          "details": [],
          "additionalInfo": {
            "request_id": "bc3263732368b08f20de091efed12eb0"
          }
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/test-project/skills?api-version=v1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "foundry-features": "Skills=V1Preview"
      },
      "RequestBody": {
        "name": "test-skill",
        "description": "Test skill created by skill.spec.ts.",
        "instructions": "You are a helpful assistant that answers questions concisely.",
        "metadata": {
          "owner": "test"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "1.0",
        "azureml-served-by-cluster": "hyena-westus2-02",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://agents.westus2.hyena.infra.ai.azure.com/agents/v2.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000@proj-jep6bl5hlacma@AML/skills/test-skill",
        "x-ms-region": "West Central US",
        "x-ms-response-type": "standard"
      },
      "ResponseBody": {
        "object": "skill",
        "skill_id": "skill_db3ec9803286505000Fdg8VXEAieNL8NvGCVITso313YnW1oLi",
        "has_blob": false,
        "name": "test-skill",
        "description": "Test skill created by skill.spec.ts.",
        "metadata": {
          "owner": "test"
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/test-project/skills?limit=10&api-version=v1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "foundry-features": "Skills=V1Preview"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "1.0",
        "azureml-served-by-cluster": "hyena-westus2-02",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "West Central US",
        "x-ms-response-type": "standard"
      },
      "ResponseBody": {
        "data": [
          {
            "object": "skill",
            "skill_id": "skill_db3ec9803286505000Fdg8VXEAieNL8NvGCVITso313YnW1oLi",
            "has_blob": false,
            "name": "test-skill",
            "description": "Test skill created by skill.spec.ts.",
            "metadata": {
              "owner": "test"
            }
          },
          {
            "object": "skill",
            "skill_id": "skill_6536381782bf7b9200HFWgs9Csx0JjStZuMwXHhQnx7hNkRptk",
            "has_blob": false,
            "name": "fallback-skill-45a6f187",
            "description": "Fallback skill created when package import is not accepted by service.",
            "metadata": {
              "source": "Sanitized",
              "sample": "sample_skills_import_export"
            }
          },
          {
            "object": "skill",
            "skill_id": "skill_6adeb0891b2fddfe00LDdCWKygOScGZmju9PeHSynklAe7AWpV",
            "has_blob": false,
            "name": "fallback-skill-25c420e3",
            "description": "Fallback skill created when package import is not accepted by service.",
            "metadata": {
              "source": "Sanitized",
              "sample": "sample_skills_import_export"
            }
     [...]
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/test-project/skills?limit=10&api-version=v1&after=skill_1e574978fe1d1ed200ScmiQGh9noexrZHcYe6cNQju1i4nnkuZ",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "foundry-features": "Skills=V1Preview"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "1.0",
        "azureml-served-by-cluster": "hyena-westus2-02",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "West Central US",
        "x-ms-response-type": "standard"
      },
      "ResponseBody": {
        "data": [
          {
            "object": "skill",
            "skill_id": "skill_e9843751e93cf9dc00zdwo64WNyYldwBcvEyCgvqu2xog4ltWs",
            "has_blob": false,
            "name": "product-info-skill-2381135f",
            "description": "Skill created from product_info.md for import/export sample.",
            "metadata": {
              "source_file": "product_info.md",
              "sample": "skills_import_export"
            }
          }
        ],
        "first_id": "skill_e9843751e93cf9dc00zdwo64WNyYldwBcvEyCgvqu2xog4ltWs",
        "last_id": "skill_e9843751e93cf9dc00zdwo64WNyYldwBcvEyCgvqu2xog4ltWs",
        "has_more": false,
        "object": "list"
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/test-project/skills/test-skill?api-version=v1",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "foundry-features": "Skills=V1Preview"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "1.0",
        "azureml-served-by-cluster": "hyena-westus2-02",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "West Central US",
        "x-ms-response-type": "standard"
      },
      "ResponseBody": {
        "object": "skill.deleted",
        "name": "test-skill",
        "deleted": true
      }
    }
  ],
  "Variables": {}
}
