{
  "Entries": [
    {
      "RequestUri": "https://appconfig-canary-2023-10-01.azconfig.io/kv/key-1697266346?label=test_label\u0026api-version=2023-10-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "b11OQu6GthUatwGXUIKHHSRVyik0TdrUk5kZm3yZd2A="
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022yfFGWAuCVOXQk6U46a3Nr5Eg6ofERkkLaO5GmT9eZ9A\u0022",
        "Last-Modified": "Fri, 03 Nov 2023 20:07:26 GMT",
        "Sync-Token": "zAJw6V16=NjoxNSM1MzM5MDc1;sn=5339075"
      },
      "ResponseBody": {
        "etag": "yfFGWAuCVOXQk6U46a3Nr5Eg6ofERkkLaO5GmT9eZ9A",
        "key": "key-1697266346",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2023-11-03T20:07:26\u002B00:00"
      }
    },
[...]
    {
      "RequestUri": "https://appconfig-canary-2023-10-01.azconfig.io/kv/key-1697266346?label=test_label\u0026api-version=2023-10-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NjoxNSM1MzM5MDc1",
        "x-ms-content-sha256": "47DEQpj8HBSa\u002B/TImW\u002B5JCeuQeRkm5NMpJWZG3hSuFU="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022yfFGWAuCVOXQk6U46a3Nr5Eg6ofERkkLaO5GmT9eZ9A\u0022",
        "Last-Modified": "Fri, 03 Nov 2023 20:07:26 GMT",
        "Sync-Token": "zAJw6V16=NjoxNSM1MzM5MDc2;sn=5339076"
      },
      "ResponseBody": {
        "etag": "yfFGWAuCVOXQk6U46a3Nr5Eg6ofERkkLaO5GmT9eZ9A",
        "key": "key-1697266346",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2023-11-03T20:07:26\u002B00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://appconfig-canary-2023-10-01.azconfig.io;Id=0VlC;Secret=Kg==",
    "RandomSeed": "1184910358"
  }
}
