{
  "Entries": [
    {
      "RequestUri": "https://tdfcae3cf5eab7143-azconfig-net.azconfig.io/kv/key-1300667580?api-version=2023-11-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"zG-fj2dUSiyI9V1qbJM3Vqj8FlsS8eo6pY-CWPid-eA\"",
        "Last-Modified": "Wed, 11 Jun 2025 17:23:40 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzQyMTUwMzU0;sn=42150354"
      },
      "ResponseBody": {
        "etag": "zG-fj2dUSiyI9V1qbJM3Vqj8FlsS8eo6pY-CWPid-eA",
        "key": "key-1300667580",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2025-06-11T17:23:40+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://tdfcae3cf5eab7143-azconfig-net.azconfig.io/kv/key-1300667580?api-version=2023-11-01&label=test_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Mzo1IzQyMTUwMzU0",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"zG-fj2dUSiyI9V1qbJM3Vqj8FlsS8eo6pY-CWPid-eA\"",
        "Last-Modified": "Wed, 11 Jun 2025 17:23:40 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzQyMTUwMzU1;sn=42150355"
      },
      "ResponseBody": {
        "etag": "zG-fj2dUSiyI9V1qbJM3Vqj8FlsS8eo6pY-CWPid-eA",
        "key": "key-1300667580",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2025-06-11T17:23:40+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://tdfcae3cf5eab7143-azconfig-net.azconfig.io;Id=GAEe;Secret=Kg==",
    "RandomSeed": "55897071"
  }
}
