{
  "Entries": [
    {
      "RequestUri": "https://azure-sdk-for-net-test.azconfig.io/kv/key-220535212?api-version=2026-04-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"oPqpwWihK9Islnvyxx30gvFpycECR-1u2tSgu704KLk\"",
        "Last-Modified": "Wed, 27 May 2026 23:59:18 GMT",
        "Sync-Token": "zAJw6V16=NToxNyM0ODA0MjE4Mg==;sn=48042182",
        "x-ms-date": "Wed, 27 May 2026 23:59:18 GMT"
      },
      "ResponseBody": {
        "etag": "oPqpwWihK9Islnvyxx30gvFpycECR-1u2tSgu704KLk",
        "key": "key-220535212",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "description": null,
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-05-27T23:59:18+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://azure-sdk-for-net-test.azconfig.io/kv/key-220535212?api-version=2026-04-01&label=test_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NToxNyM0ODA0MjE4Mg==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"oPqpwWihK9Islnvyxx30gvFpycECR-1u2tSgu704KLk\"",
        "Last-Modified": "Wed, 27 May 2026 23:59:18 GMT",
        "Sync-Token": "zAJw6V16=NToxNyM0ODA0MjE4Mw==;sn=48042183",
        "x-ms-date": "Wed, 27 May 2026 23:59:18 GMT"
      },
      "ResponseBody": {
        "etag": "oPqpwWihK9Islnvyxx30gvFpycECR-1u2tSgu704KLk",
        "key": "key-220535212",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "description": null,
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-05-27T23:59:18+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://azure-sdk-for-net-test.azconfig.io;Id=8ePU;Secret=Kg==",
    "RandomSeed": "304344872"
  }
}
