{
  "Entries": [
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-973728117?api-version=2023-11-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"7hbTooZUrgQhRB8GseIgYzW3S0HqySQWjq28Dp_cpSY\"",
        "Last-Modified": "Tue, 23 Dec 2025 05:46:01 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTA0OTY4MQ==;sn=101049681",
        "x-ms-date": "Tue, 23 Dec 2025 05:46:01 GMT"
      },
      "ResponseBody": {
        "etag": "7hbTooZUrgQhRB8GseIgYzW3S0HqySQWjq28Dp_cpSY",
        "key": "key-973728117",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2025-12-23T05:46:01+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-973728117?api-version=2023-11-01&label=test_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTA0OTY4MQ==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"7hbTooZUrgQhRB8GseIgYzW3S0HqySQWjq28Dp_cpSY\"",
        "Last-Modified": "Tue, 23 Dec 2025 05:46:01 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTA0OTY4Mg==;sn=101049682",
        "x-ms-date": "Tue, 23 Dec 2025 05:46:01 GMT"
      },
      "ResponseBody": {
        "etag": "7hbTooZUrgQhRB8GseIgYzW3S0HqySQWjq28Dp_cpSY",
        "key": "key-973728117",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2025-12-23T05:46:01+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t9c954b564de572f9-azconfig-net.azconfig.io;Id=MdvE;Secret=Kg==",
    "RandomSeed": "1048513458"
  }
}
