{
  "Entries": [
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv/key-19045433?api-version=2026-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "value": "my_value",
        "content_type": null,
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"0g893rkOM1wdwwfWTyqd-bCA00iJhdYKc4tpERIt0-4\"",
        "Last-Modified": "Wed, 10 Jun 2026 18:21:29 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDY1MDg1;sn=67065085",
        "x-ms-date": "Wed, 10 Jun 2026 18:21:29 GMT"
      },
      "ResponseBody": {
        "etag": "0g893rkOM1wdwwfWTyqd-bCA00iJhdYKc4tpERIt0-4",
        "key": "key-19045433",
        "label": null,
        "content_type": null,
        "value": "my_value",
        "description": null,
        "tags": {},
        "locked": false,
        "last_modified": "2026-06-10T18:21:29+00:00"
      }
    },
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv/key-19045433?api-version=2026-04-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDY1MDg1"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"0g893rkOM1wdwwfWTyqd-bCA00iJhdYKc4tpERIt0-4\"",
        "Last-Modified": "Wed, 10 Jun 2026 18:21:29 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDY1MDg2;sn=67065086",
        "x-ms-date": "Wed, 10 Jun 2026 18:21:29 GMT"
      },
      "ResponseBody": {
        "etag": "0g893rkOM1wdwwfWTyqd-bCA00iJhdYKc4tpERIt0-4",
        "key": "key-19045433",
        "label": null,
        "content_type": null,
        "value": "my_value",
        "description": null,
        "tags": {},
        "locked": false,
        "last_modified": "2026-06-10T18:21:29+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_ENDPOINT_STRING": "https://mrm90847047-azconfig-net.azconfig.io",
    "RandomSeed": "1414678386"
  }
}
