{
  "Entries": [
    {
      "RequestUri": "https://azure-sdk-for-net-test.azconfig.io/kv/key-1907399066?api-version=2026-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "my_value",
        "content_type": null,
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"hqTVU51D5bmCd2ARwWft8m2aLgAMI40izh48dRgPVcY\"",
        "Last-Modified": "Wed, 27 May 2026 23:59:18 GMT",
        "Sync-Token": "zAJw6V16=NToxNyM0ODA0MjE4NA==;sn=48042184",
        "x-ms-date": "Wed, 27 May 2026 23:59:18 GMT"
      },
      "ResponseBody": {
        "etag": "hqTVU51D5bmCd2ARwWft8m2aLgAMI40izh48dRgPVcY",
        "key": "key-1907399066",
        "label": null,
        "content_type": null,
        "value": "my_value",
        "description": null,
        "tags": {},
        "locked": false,
        "last_modified": "2026-05-27T23:59:18+00:00"
      }
    },
    {
      "RequestUri": "https://azure-sdk-for-net-test.azconfig.io/kv/key-1907399066?api-version=2026-04-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NToxNyM0ODA0MjE4NA==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"hqTVU51D5bmCd2ARwWft8m2aLgAMI40izh48dRgPVcY\"",
        "Last-Modified": "Wed, 27 May 2026 23:59:18 GMT",
        "Sync-Token": "zAJw6V16=NToxNyM0ODA0MjE4NQ==;sn=48042185",
        "x-ms-date": "Wed, 27 May 2026 23:59:18 GMT"
      },
      "ResponseBody": {
        "etag": "hqTVU51D5bmCd2ARwWft8m2aLgAMI40izh48dRgPVcY",
        "key": "key-1907399066",
        "label": null,
        "content_type": null,
        "value": "my_value",
        "description": null,
        "tags": {},
        "locked": false,
        "last_modified": "2026-05-27T23:59:18+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://azure-sdk-for-net-test.azconfig.io;Id=8ePU;Secret=Kg==",
    "RandomSeed": "1964623117"
  }
}
