{
  "Entries": [
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/kv/key-202044534?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "my_value",
        "content_type": null,
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"O9VNDo_GHMN1a3gG11FyPE7M8Kb9iY_QTKT7g6a5ucw\"",
        "Last-Modified": "Thu, 09 Oct 2025 16:30:19 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzU1NTMyNDE5;sn=55532419",
        "x-ms-date": "Thu, 09 Oct 2025 16:30:19 GMT"
      },
      "ResponseBody": {
        "etag": "O9VNDo_GHMN1a3gG11FyPE7M8Kb9iY_QTKT7g6a5ucw",
        "key": "key-202044534",
        "label": null,
        "content_type": null,
        "value": "my_value",
        "tags": {},
        "locked": false,
        "last_modified": "2025-10-09T16:30:19+00:00"
      }
    },
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/kv/key-202044534?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Njo1IzU1NTMyNDE5",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"O9VNDo_GHMN1a3gG11FyPE7M8Kb9iY_QTKT7g6a5ucw\"",
        "Last-Modified": "Thu, 09 Oct 2025 16:30:19 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzU1NTMyNDIw;sn=55532420",
        "x-ms-date": "Thu, 09 Oct 2025 16:30:19 GMT"
      },
      "ResponseBody": {
        "etag": "O9VNDo_GHMN1a3gG11FyPE7M8Kb9iY_QTKT7g6a5ucw",
        "key": "key-202044534",
        "label": null,
        "content_type": null,
        "value": "my_value",
        "tags": {},
        "locked": false,
        "last_modified": "2025-10-09T16:30:19+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t8cdd9157ca7d1363-azconfig-net.azconfig.io;Id=wNKY;Secret=Kg==",
    "RandomSeed": "2051178569"
  }
}
