{
  "Entries": [
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-383035383?api-version=2023-11-01&label=my_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "my_value",
        "content_type": null,
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"QTMlJaRRRPU9LqgN4TnGcbpLd5iJcbDO5tTT9E0pGJQ\"",
        "Last-Modified": "Thu, 22 Jan 2026 02:04:45 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzQ3NDgwNQ==;sn=103474805",
        "x-ms-date": "Thu, 22 Jan 2026 02:04:45 GMT"
      },
      "ResponseBody": {
        "etag": "QTMlJaRRRPU9LqgN4TnGcbpLd5iJcbDO5tTT9E0pGJQ",
        "key": "key-383035383",
        "label": "my_label",
        "content_type": null,
        "value": "my_value",
        "tags": {},
        "locked": false,
        "last_modified": "2026-01-22T02:04:45+00:00"
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-383035383?api-version=2023-11-01&label=my_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzQ3NDgwNQ==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"QTMlJaRRRPU9LqgN4TnGcbpLd5iJcbDO5tTT9E0pGJQ\"",
        "Last-Modified": "Thu, 22 Jan 2026 02:04:45 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzQ3NDgwNg==;sn=103474806",
        "x-ms-date": "Thu, 22 Jan 2026 02:04:46 GMT"
      },
      "ResponseBody": {
        "etag": "QTMlJaRRRPU9LqgN4TnGcbpLd5iJcbDO5tTT9E0pGJQ",
        "key": "key-383035383",
        "label": "my_label",
        "content_type": null,
        "value": "my_value",
        "tags": {},
        "locked": false,
        "last_modified": "2026-01-22T02:04:45+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t9c954b564de572f9-azconfig-net.azconfig.io;Id=MdvE;Secret=Kg==",
    "RandomSeed": "273037042"
  }
}
