{
  "Entries": [
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-1369082052?api-version=2023-11-01&label=my_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "my_value",
        "content_type": null,
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"D8xbaz_t4EzAibubSaxqnVF_EVD5w5TdHtnIm-scLlA\"",
        "Last-Modified": "Thu, 22 Jan 2026 01:36:51 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzQ3Mzc4OA==;sn=103473788",
        "x-ms-date": "Thu, 22 Jan 2026 01:36:51 GMT"
      },
      "ResponseBody": {
        "etag": "D8xbaz_t4EzAibubSaxqnVF_EVD5w5TdHtnIm-scLlA",
        "key": "key-1369082052",
        "label": "my_label",
        "content_type": null,
        "value": "my_value",
        "tags": {},
        "locked": false,
        "last_modified": "2026-01-22T01:36:51+00:00"
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-1369082052?api-version=2023-11-01&label=my_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzQ3Mzc4OA==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"D8xbaz_t4EzAibubSaxqnVF_EVD5w5TdHtnIm-scLlA\"",
        "Last-Modified": "Thu, 22 Jan 2026 01:36:51 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzQ3Mzc4OQ==;sn=103473789",
        "x-ms-date": "Thu, 22 Jan 2026 01:36:51 GMT"
      },
      "ResponseBody": {
        "etag": "D8xbaz_t4EzAibubSaxqnVF_EVD5w5TdHtnIm-scLlA",
        "key": "key-1369082052",
        "label": "my_label",
        "content_type": null,
        "value": "my_value",
        "tags": {},
        "locked": false,
        "last_modified": "2026-01-22T01:36:51+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t9c954b564de572f9-azconfig-net.azconfig.io;Id=MdvE;Secret=Kg==",
    "RandomSeed": "522575952"
  }
}
