{
  "Entries": [
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv/key-725546007?api-version=2026-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "value": "my_value",
        "content_type": null,
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"JyNyrKvEPgjxGMLsJKMwGvn0UXrnOhvPi6yjM0AB4Kc\"",
        "Last-Modified": "Wed, 10 Jun 2026 21:37:20 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDk0NjI2;sn=67094626",
        "x-ms-date": "Wed, 10 Jun 2026 21:37:20 GMT"
      },
      "ResponseBody": {
        "etag": "JyNyrKvEPgjxGMLsJKMwGvn0UXrnOhvPi6yjM0AB4Kc",
        "key": "key-725546007",
        "label": null,
        "content_type": null,
        "value": "my_value",
        "description": null,
        "tags": {},
        "locked": false,
        "last_modified": "2026-06-10T21:37:20+00:00"
      }
    },
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv/key-725546007?api-version=2026-04-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDk0NjI2"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"JyNyrKvEPgjxGMLsJKMwGvn0UXrnOhvPi6yjM0AB4Kc\"",
        "Last-Modified": "Wed, 10 Jun 2026 21:37:20 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDk0NjI3;sn=67094627",
        "x-ms-date": "Wed, 10 Jun 2026 21:37:20 GMT"
      },
      "ResponseBody": {
        "etag": "JyNyrKvEPgjxGMLsJKMwGvn0UXrnOhvPi6yjM0AB4Kc",
        "key": "key-725546007",
        "label": null,
        "content_type": null,
        "value": "my_value",
        "description": null,
        "tags": {},
        "locked": false,
        "last_modified": "2026-06-10T21:37:20+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_ENDPOINT_STRING": "https://mrm90847047-azconfig-net.azconfig.io",
    "RandomSeed": "995026666"
  }
}
