{
  "Entries": [
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-358180037?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "my_value",
        "content_type": null,
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"yqyJ6yv8vlpyjhjq7Ga2ie42sFlKHwQ1KFXu1f6cwxA\"",
        "Last-Modified": "Tue, 06 Jan 2026 06:25:24 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTc3MjkzOA==;sn=101772938",
        "x-ms-date": "Tue, 06 Jan 2026 06:25:24 GMT"
      },
      "ResponseBody": {
        "etag": "yqyJ6yv8vlpyjhjq7Ga2ie42sFlKHwQ1KFXu1f6cwxA",
        "key": "key-358180037",
        "label": null,
        "content_type": null,
        "value": "my_value",
        "tags": {},
        "locked": false,
        "last_modified": "2026-01-06T06:25:24+00:00"
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-358180037?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTc3MjkzOA==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"yqyJ6yv8vlpyjhjq7Ga2ie42sFlKHwQ1KFXu1f6cwxA\"",
        "Last-Modified": "Tue, 06 Jan 2026 06:25:24 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTc3MjkzOQ==;sn=101772939",
        "x-ms-date": "Tue, 06 Jan 2026 06:25:25 GMT"
      },
      "ResponseBody": {
        "etag": "yqyJ6yv8vlpyjhjq7Ga2ie42sFlKHwQ1KFXu1f6cwxA",
        "key": "key-358180037",
        "label": null,
        "content_type": null,
        "value": "my_value",
        "tags": {},
        "locked": false,
        "last_modified": "2026-01-06T06:25:24+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t9c954b564de572f9-azconfig-net.azconfig.io;Id=MdvE;Secret=Kg==",
    "RandomSeed": "1438363234"
  }
}
