{
  "Entries": [
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-1180595713?api-version=2023-11-01&label=my_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "my_value",
        "content_type": null,
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"hKGyMNI2gAuTlV9zEjNrqusr3rXpT9oebwFcBPXuFVc\"",
        "Last-Modified": "Tue, 23 Dec 2025 05:39:27 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTA0OTE5NQ==;sn=101049195",
        "x-ms-date": "Tue, 23 Dec 2025 05:39:27 GMT"
      },
      "ResponseBody": {
        "etag": "hKGyMNI2gAuTlV9zEjNrqusr3rXpT9oebwFcBPXuFVc",
        "key": "key-1180595713",
        "label": "my_label",
        "content_type": null,
        "value": "my_value",
        "tags": {},
        "locked": false,
        "last_modified": "2025-12-23T05:39:27+00:00"
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-1180595713?api-version=2023-11-01&label=my_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTA0OTE5NQ==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"hKGyMNI2gAuTlV9zEjNrqusr3rXpT9oebwFcBPXuFVc\"",
        "Last-Modified": "Tue, 23 Dec 2025 05:39:27 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTA0OTE5Ng==;sn=101049196",
        "x-ms-date": "Tue, 23 Dec 2025 05:39:27 GMT"
      },
      "ResponseBody": {
        "etag": "hKGyMNI2gAuTlV9zEjNrqusr3rXpT9oebwFcBPXuFVc",
        "key": "key-1180595713",
        "label": "my_label",
        "content_type": null,
        "value": "my_value",
        "tags": {},
        "locked": false,
        "last_modified": "2025-12-23T05:39:27+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t9c954b564de572f9-azconfig-net.azconfig.io;Id=MdvE;Secret=Kg==",
    "RandomSeed": "1793393550"
  }
}
