{
  "Entries": [
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/kv/key-200560905?api-version=2023-11-01&label=my_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "my_value",
        "content_type": null,
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"hZ20A_O3kj1JjVA3qwH3gIsJHrvVMtfqddOY3K8lhmA\"",
        "Last-Modified": "Thu, 09 Oct 2025 16:30:19 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzU1NTMyNDIx;sn=55532421",
        "x-ms-date": "Thu, 09 Oct 2025 16:30:19 GMT"
      },
      "ResponseBody": {
        "etag": "hZ20A_O3kj1JjVA3qwH3gIsJHrvVMtfqddOY3K8lhmA",
        "key": "key-200560905",
        "label": "my_label",
        "content_type": null,
        "value": "my_value",
        "tags": {},
        "locked": false,
        "last_modified": "2025-10-09T16:30:19+00:00"
      }
    },
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/kv/key-200560905?api-version=2023-11-01&label=my_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Njo1IzU1NTMyNDIx",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"hZ20A_O3kj1JjVA3qwH3gIsJHrvVMtfqddOY3K8lhmA\"",
        "Last-Modified": "Thu, 09 Oct 2025 16:30:19 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzU1NTMyNDIy;sn=55532422",
        "x-ms-date": "Thu, 09 Oct 2025 16:30:20 GMT"
      },
      "ResponseBody": {
        "etag": "hZ20A_O3kj1JjVA3qwH3gIsJHrvVMtfqddOY3K8lhmA",
        "key": "key-200560905",
        "label": "my_label",
        "content_type": null,
        "value": "my_value",
        "tags": {},
        "locked": false,
        "last_modified": "2025-10-09T16:30:19+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t8cdd9157ca7d1363-azconfig-net.azconfig.io;Id=wNKY;Secret=Kg==",
    "RandomSeed": "1010491745"
  }
}
