{
  "Entries": [
    {
      "RequestUri": "https://t02f6e87f544544f3-azconfig-net.azconfig.io/kv/key-1645742391?label=my_label\u0026api-version=2022-11-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "aDaoGrnXeLk4BtC\u002BbcUBHjAOl1G533H6XGiHrRY9PKA="
      },
      "RequestBody": {
        "value": "my_value",
        "content_type": null,
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022VlbESEFO8ZRSg3b5YsmGYHp4_C3LbmziLx6nuQarLAc\u0022",
        "Last-Modified": "Fri, 30 Jun 2023 19:03:31 GMT",
        "Sync-Token": "zAJw6V16=ODo1IzI0ODY5MTE4;sn=24869118"
      },
      "ResponseBody": {
        "etag": "VlbESEFO8ZRSg3b5YsmGYHp4_C3LbmziLx6nuQarLAc",
        "key": "key-1645742391",
        "label": "my_label",
        "content_type": null,
        "value": "my_value",
        "tags": {},
        "locked": false,
        "last_modified": "2023-06-30T19:03:31\u002B00:00"
      }
    },
    {
      "RequestUri": "https://t02f6e87f544544f3-azconfig-net.azconfig.io/kv/key-1645742391?label=my_label\u0026api-version=2022-11-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=ODo1IzI0ODY5MTE4",
        "x-ms-content-sha256": "47DEQpj8HBSa\u002B/TImW\u002B5JCeuQeRkm5NMpJWZG3hSuFU="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022VlbESEFO8ZRSg3b5YsmGYHp4_C3LbmziLx6nuQarLAc\u0022",
        "Last-Modified": "Fri, 30 Jun 2023 19:03:31 GMT",
        "Sync-Token": "zAJw6V16=ODo1IzI0ODY5MTE5;sn=24869119"
      },
      "ResponseBody": {
        "etag": "VlbESEFO8ZRSg3b5YsmGYHp4_C3LbmziLx6nuQarLAc",
        "key": "key-1645742391",
        "label": "my_label",
        "content_type": null,
        "value": "my_value",
        "tags": {},
        "locked": false,
        "last_modified": "2023-06-30T19:03:31\u002B00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t02f6e87f544544f3-azconfig-net.azconfig.io;Id=Ek\u002BM;Secret=Kg==",
    "RandomSeed": "771786290"
  }
}
