{
  "Entries": [
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-832230840?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "my_value",
        "content_type": null,
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"XOc6tWOTQ4QzElh-9i066QUXSM7BMJ1Fr6KGeocnS_8\"",
        "Last-Modified": "Tue, 06 Jan 2026 01:15:21 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTc2NTYzNQ==;sn=101765635",
        "x-ms-date": "Tue, 06 Jan 2026 01:15:21 GMT"
      },
      "ResponseBody": {
        "etag": "XOc6tWOTQ4QzElh-9i066QUXSM7BMJ1Fr6KGeocnS_8",
        "key": "key-832230840",
        "label": null,
        "content_type": null,
        "value": "my_value",
        "tags": {},
        "locked": false,
        "last_modified": "2026-01-06T01:15:21+00:00"
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-832230840?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTc2NTYzNQ==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"XOc6tWOTQ4QzElh-9i066QUXSM7BMJ1Fr6KGeocnS_8\"",
        "Last-Modified": "Tue, 06 Jan 2026 01:15:21 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTc2NTYzNg==;sn=101765636",
        "x-ms-date": "Tue, 06 Jan 2026 01:15:21 GMT"
      },
      "ResponseBody": {
        "etag": "XOc6tWOTQ4QzElh-9i066QUXSM7BMJ1Fr6KGeocnS_8",
        "key": "key-832230840",
        "label": null,
        "content_type": null,
        "value": "my_value",
        "tags": {},
        "locked": false,
        "last_modified": "2026-01-06T01:15:21+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t9c954b564de572f9-azconfig-net.azconfig.io;Id=MdvE;Secret=Kg==",
    "RandomSeed": "149203424"
  }
}
