{
  "Entries": [
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-1423785784?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"B-og79wHxiuIQjWiDF6Lygi5bevMW6LUIPZ72QVhAOQ\"",
        "Last-Modified": "Tue, 06 Jan 2026 01:15:25 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTc2NTY0Mw==;sn=101765643",
        "x-ms-date": "Tue, 06 Jan 2026 01:15:25 GMT"
      },
      "ResponseBody": {
        "etag": "B-og79wHxiuIQjWiDF6Lygi5bevMW6LUIPZ72QVhAOQ",
        "key": "key-1423785784",
        "label": null,
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-01-06T01:15:25+00:00"
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-1423785784?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTc2NTY0Mw==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"B-og79wHxiuIQjWiDF6Lygi5bevMW6LUIPZ72QVhAOQ\"",
        "Last-Modified": "Tue, 06 Jan 2026 01:15:25 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTc2NTY0NA==;sn=101765644",
        "x-ms-date": "Tue, 06 Jan 2026 01:15:25 GMT"
      },
      "ResponseBody": {
        "etag": "B-og79wHxiuIQjWiDF6Lygi5bevMW6LUIPZ72QVhAOQ",
        "key": "key-1423785784",
        "label": null,
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-01-06T01:15:25+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t9c954b564de572f9-azconfig-net.azconfig.io;Id=MdvE;Secret=Kg==",
    "RandomSeed": "1617333257"
  }
}
