{
  "Entries": [
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv/key-1659721001?api-version=2026-04-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "description": "test_description"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"g5A00Q6sH-hG27L41Zb4iQNalNS6rXawrb2jK-2XBps\"",
        "Last-Modified": "Wed, 10 Jun 2026 19:13:57 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDcxNDY1;sn=67071465",
        "x-ms-date": "Wed, 10 Jun 2026 19:13:57 GMT"
      },
      "ResponseBody": {
        "etag": "g5A00Q6sH-hG27L41Zb4iQNalNS6rXawrb2jK-2XBps",
        "key": "key-1659721001",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "description": "test_description",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-06-10T19:13:57+00:00"
      }
    },
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv/key-1659721001?api-version=2026-04-01&label=test_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDcxNDY1"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"g5A00Q6sH-hG27L41Zb4iQNalNS6rXawrb2jK-2XBps\"",
        "Last-Modified": "Wed, 10 Jun 2026 19:13:57 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDcxNDY2;sn=67071466",
        "x-ms-date": "Wed, 10 Jun 2026 19:13:57 GMT"
      },
      "ResponseBody": {
        "etag": "g5A00Q6sH-hG27L41Zb4iQNalNS6rXawrb2jK-2XBps",
        "key": "key-1659721001",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "description": "test_description",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-06-10T19:13:57+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_ENDPOINT_STRING": "https://mrm90847047-azconfig-net.azconfig.io",
    "RandomSeed": "1963641275"
  }
}
