{
  "Entries": [
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/kv/key-1868961071?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"pEtXUZzspG-AYzU6wW6tMicfXVgDvSnL7VnZ4Rkj8oU\"",
        "Last-Modified": "Mon, 17 Nov 2025 16:48:10 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzU3NzY0MTEy;sn=57764112",
        "x-ms-date": "Mon, 17 Nov 2025 16:48:10 GMT"
      },
      "ResponseBody": {
        "etag": "pEtXUZzspG-AYzU6wW6tMicfXVgDvSnL7VnZ4Rkj8oU",
        "key": "key-1868961071",
        "label": null,
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2025-11-17T16:48:10+00:00"
      }
    },
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/kv/key-1868961071?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Njo1IzU3NzY0MTEy",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"pEtXUZzspG-AYzU6wW6tMicfXVgDvSnL7VnZ4Rkj8oU\"",
        "Last-Modified": "Mon, 17 Nov 2025 16:48:10 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzU3NzY0MTEz;sn=57764113",
        "x-ms-date": "Mon, 17 Nov 2025 16:48:11 GMT"
      },
      "ResponseBody": {
        "etag": "pEtXUZzspG-AYzU6wW6tMicfXVgDvSnL7VnZ4Rkj8oU",
        "key": "key-1868961071",
        "label": null,
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2025-11-17T16:48:10+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t8cdd9157ca7d1363-azconfig-net.azconfig.io;Id=wNKY;Secret=Kg==",
    "RandomSeed": "605840526"
  }
}
