{
  "Entries": [
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-1661786655?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"x4dSE9kT_ZHhOlqmEUlZfYJfz2O6pdZUI-_5TCNsQuM\"",
        "Last-Modified": "Mon, 01 Dec 2025 08:32:54 GMT",
        "Sync-Token": "zAJw6V16=NTo1Izk4Nzc0Nzcw;sn=98774770",
        "x-ms-date": "Mon, 01 Dec 2025 08:32:54 GMT"
      },
      "ResponseBody": {
        "etag": "x4dSE9kT_ZHhOlqmEUlZfYJfz2O6pdZUI-_5TCNsQuM",
        "key": "key-1661786655",
        "label": null,
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2025-12-01T08:32:54+00:00"
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-1661786655?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1Izk4Nzc0Nzcw",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"x4dSE9kT_ZHhOlqmEUlZfYJfz2O6pdZUI-_5TCNsQuM\"",
        "Last-Modified": "Mon, 01 Dec 2025 08:32:54 GMT",
        "Sync-Token": "zAJw6V16=NTo1Izk4Nzc0Nzcx;sn=98774771",
        "x-ms-date": "Mon, 01 Dec 2025 08:32:54 GMT"
      },
      "ResponseBody": {
        "etag": "x4dSE9kT_ZHhOlqmEUlZfYJfz2O6pdZUI-_5TCNsQuM",
        "key": "key-1661786655",
        "label": null,
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2025-12-01T08:32:54+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t9c954b564de572f9-azconfig-net.azconfig.io;Id=MdvE;Secret=Kg==",
    "RandomSeed": "1096029908"
  }
}
