{
  "Entries": [
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-1903457537?api-version=2023-11-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"tFbjBU4pcX-ftbG43YvmW2SSbqgp-Jhv7nS0mox_Yiw\"",
        "Last-Modified": "Tue, 23 Dec 2025 05:39:31 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTA0OTE5OQ==;sn=101049199",
        "x-ms-date": "Tue, 23 Dec 2025 05:39:31 GMT"
      },
      "ResponseBody": {
        "etag": "tFbjBU4pcX-ftbG43YvmW2SSbqgp-Jhv7nS0mox_Yiw",
        "key": "key-1903457537",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2025-12-23T05:39:31+00:00"
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-1903457537?api-version=2023-11-01&label=test_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTA0OTE5OQ=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"tFbjBU4pcX-ftbG43YvmW2SSbqgp-Jhv7nS0mox_Yiw\"",
        "Last-Modified": "Tue, 23 Dec 2025 05:39:31 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTA0OTIwMA==;sn=101049200",
        "x-ms-date": "Tue, 23 Dec 2025 05:39:31 GMT"
      },
      "ResponseBody": {
        "etag": "tFbjBU4pcX-ftbG43YvmW2SSbqgp-Jhv7nS0mox_Yiw",
        "key": "key-1903457537",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2025-12-23T05:39:31+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_ENDPOINT_STRING": "https://t9c954b564de572f9-azconfig-net.azconfig.io",
    "RandomSeed": "1320910575"
  }
}
