{
  "Entries": [
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-1209227104?api-version=2023-11-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"Kprn5TTyZ51YZQn6E9o4PRFbONG6qzK6E4CiK-oQRso\"",
        "Last-Modified": "Tue, 23 Dec 2025 05:46:04 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTA0OTY5MQ==;sn=101049691",
        "x-ms-date": "Tue, 23 Dec 2025 05:46:04 GMT"
      },
      "ResponseBody": {
        "etag": "Kprn5TTyZ51YZQn6E9o4PRFbONG6qzK6E4CiK-oQRso",
        "key": "key-1209227104",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2025-12-23T05:46:04+00:00"
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-1209227104?api-version=2023-11-01&label=test_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTA0OTY5MQ=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"Kprn5TTyZ51YZQn6E9o4PRFbONG6qzK6E4CiK-oQRso\"",
        "Last-Modified": "Tue, 23 Dec 2025 05:46:04 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTA0OTY5Mg==;sn=101049692",
        "x-ms-date": "Tue, 23 Dec 2025 05:46:05 GMT"
      },
      "ResponseBody": {
        "etag": "Kprn5TTyZ51YZQn6E9o4PRFbONG6qzK6E4CiK-oQRso",
        "key": "key-1209227104",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2025-12-23T05:46:04+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_ENDPOINT_STRING": "https://t9c954b564de572f9-azconfig-net.azconfig.io",
    "RandomSeed": "320214280"
  }
}
