{
  "Entries": [
    {
      "RequestUri": "https://jsquire-08-02-azconfig-net.azconfig.io/kv/key-1577432159?label=test_label\u0026api-version=1.0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022V8YakXQCfEYpbAy_zC_3Rp40yF7t3h4Kl4dc3jeaVUQ\u0022",
        "Last-Modified": "Fri, 08 Sep 2023 14:48:06 GMT",
        "Sync-Token": "zAJw6V16=NDoxOSM0NTA3NjE0MQ==;sn=45076141",
        "x-ms-resource-group": "jsquire-appconfig",
        "x-ms-subscription-id": "faa080af-c1d8-40ad-9cce-e1a450ca5b57",
        "x-ms-tenant-name": "jsquire-08-02-azconfig-net"
      },
      "ResponseBody": {
        "etag": "V8YakXQCfEYpbAy_zC_3Rp40yF7t3h4Kl4dc3jeaVUQ",
        "key": "key-1577432159",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2023-09-08T14:48:06\u002B00:00"
      }
    },
    {
      "RequestUri": "https://jsquire-08-02-azconfig-net.azconfig.io/kv/key-1577432159?label=test_label\u0026api-version=1.0",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NDoxOSM0NTA3NjE0MQ=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022V8YakXQCfEYpbAy_zC_3Rp40yF7t3h4Kl4dc3jeaVUQ\u0022",
        "Last-Modified": "Fri, 08 Sep 2023 14:48:06 GMT",
        "Sync-Token": "zAJw6V16=NDoxOSM0NTA3NjE0Mg==;sn=45076142",
        "x-ms-resource-group": "jsquire-appconfig",
        "x-ms-subscription-id": "faa080af-c1d8-40ad-9cce-e1a450ca5b57",
        "x-ms-tenant-name": "jsquire-08-02-azconfig-net"
      },
      "ResponseBody": {
        "etag": "V8YakXQCfEYpbAy_zC_3Rp40yF7t3h4Kl4dc3jeaVUQ",
        "key": "key-1577432159",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2023-09-08T14:48:06\u002B00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_ENDPOINT_STRING": "https://jsquire-08-02-azconfig-net.azconfig.io",
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com/",
    "RandomSeed": "1499788285"
  }
}
