{
  "Entries": [
    {
      "RequestUri": "https://tdfcae3cf5eab7143-azconfig-net.azconfig.io/kv/key-1654442310?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"8M_DwciItsTWpscCNZHjmz5FYV9FWequE6w6HDZpBXE\"",
        "Last-Modified": "Wed, 11 Jun 2025 17:23:44 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzQyMTUwMzYy;sn=42150362"
      },
      "ResponseBody": {
        "etag": "8M_DwciItsTWpscCNZHjmz5FYV9FWequE6w6HDZpBXE",
        "key": "key-1654442310",
        "label": null,
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2025-06-11T17:23:44+00:00"
      }
    },
    {
      "RequestUri": "https://tdfcae3cf5eab7143-azconfig-net.azconfig.io/kv/key-1654442310?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Mzo1IzQyMTUwMzYy",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"8M_DwciItsTWpscCNZHjmz5FYV9FWequE6w6HDZpBXE\"",
        "Last-Modified": "Wed, 11 Jun 2025 17:23:44 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzQyMTUwMzYz;sn=42150363"
      },
      "ResponseBody": {
        "etag": "8M_DwciItsTWpscCNZHjmz5FYV9FWequE6w6HDZpBXE",
        "key": "key-1654442310",
        "label": null,
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2025-06-11T17:23:44+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://tdfcae3cf5eab7143-azconfig-net.azconfig.io;Id=GAEe;Secret=Kg==",
    "RandomSeed": "2084867514"
  }
}
