{
  "Entries": [
    {
      "RequestUri": "https://tdfcae3cf5eab7143-azconfig-net.azconfig.io/kv/key-1537593373?label=test_label&api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"T1tqi1-hr1XfP5I7_u0COrGMkNEtkYyf7njHf-lR6hk\"",
        "Last-Modified": "Wed, 24 Jul 2024 15:42:16 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzMyMjcxMDU3;sn=32271057"
      },
      "ResponseBody": {
        "etag": "T1tqi1-hr1XfP5I7_u0COrGMkNEtkYyf7njHf-lR6hk",
        "key": "key-1537593373",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2024-07-24T15:42:16+00:00"
      }
    },
    {
      "RequestUri": "https://tdfcae3cf5eab7143-azconfig-net.azconfig.io/kv/key-1537593373?label=test_label&api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Njo1IzMyMjcxMDU3"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"T1tqi1-hr1XfP5I7_u0COrGMkNEtkYyf7njHf-lR6hk\"",
        "Last-Modified": "Wed, 24 Jul 2024 15:42:16 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzMyMjcxMDU4;sn=32271058"
      },
      "ResponseBody": {
        "etag": "T1tqi1-hr1XfP5I7_u0COrGMkNEtkYyf7njHf-lR6hk",
        "key": "key-1537593373",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2024-07-24T15:42:16+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_ENDPOINT_STRING": "https://tdfcae3cf5eab7143-azconfig-net.azconfig.io",
    "RandomSeed": "260177536"
  }
}
