{
  "Entries": [
    {
      "RequestUri": "https://azure-sdk-for-net-test.azconfig.io/kv/key-474038038?api-version=2026-04-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"ozJb1bf9cy--Zf0cG_HwV2No9zZH5AzK_lndYj4mKIg\"",
        "Last-Modified": "Fri, 29 May 2026 19:51:58 GMT",
        "Sync-Token": "zAJw6V16=NToxNyM0ODE0NzQ2Mg==;sn=48147462",
        "x-ms-date": "Fri, 29 May 2026 19:51:58 GMT"
      },
      "ResponseBody": {
        "etag": "ozJb1bf9cy--Zf0cG_HwV2No9zZH5AzK_lndYj4mKIg",
        "key": "key-474038038",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "description": null,
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-05-29T19:51:58+00:00"
      }
    },
    {
      "RequestUri": "https://azure-sdk-for-net-test.azconfig.io/kv/key-474038038?api-version=2026-04-01&label=test_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NToxNyM0ODE0NzQ2Mg=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"ozJb1bf9cy--Zf0cG_HwV2No9zZH5AzK_lndYj4mKIg\"",
        "Last-Modified": "Fri, 29 May 2026 19:51:58 GMT",
        "Sync-Token": "zAJw6V16=NToxNyM0ODE0NzQ2Mw==;sn=48147463",
        "x-ms-date": "Fri, 29 May 2026 19:51:58 GMT"
      },
      "ResponseBody": {
        "etag": "ozJb1bf9cy--Zf0cG_HwV2No9zZH5AzK_lndYj4mKIg",
        "key": "key-474038038",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "description": null,
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-05-29T19:51:58+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_ENDPOINT_STRING": "https://azure-sdk-for-net-test.azconfig.io",
    "RandomSeed": "839796305"
  }
}
