{
  "Entries": [
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-197343086?api-version=2023-11-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"uMUGdnuJC4IhHWzQ0ZCibhtI5xCqv9ppGlUkfvBhbZs\"",
        "Last-Modified": "Tue, 23 Dec 2025 05:46:02 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTA0OTY4OA==;sn=101049688",
        "x-ms-date": "Tue, 23 Dec 2025 05:46:02 GMT"
      },
      "ResponseBody": {
        "etag": "uMUGdnuJC4IhHWzQ0ZCibhtI5xCqv9ppGlUkfvBhbZs",
        "key": "key-197343086",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2025-12-23T05:46:02+00:00"
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-197343086?api-version=2023-11-01&label=test_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTA0OTY4OA==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"uMUGdnuJC4IhHWzQ0ZCibhtI5xCqv9ppGlUkfvBhbZs\"",
        "Last-Modified": "Tue, 23 Dec 2025 05:46:02 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTA0OTY4OQ==;sn=101049689",
        "x-ms-date": "Tue, 23 Dec 2025 05:46:02 GMT"
      },
      "ResponseBody": {
        "etag": "uMUGdnuJC4IhHWzQ0ZCibhtI5xCqv9ppGlUkfvBhbZs",
        "key": "key-197343086",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2025-12-23T05:46:02+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t9c954b564de572f9-azconfig-net.azconfig.io;Id=MdvE;Secret=Kg==",
    "RandomSeed": "548316392"
  }
}
