{
  "Entries": [
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-747550571?api-version=2023-11-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"BtbRn2PsApzdXp70Vrh2CLiQWtCwF53_6eQYELArijM\"",
        "Last-Modified": "Fri, 23 Jan 2026 07:08:21 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU3NTAyOQ==;sn=103575029",
        "x-ms-date": "Fri, 23 Jan 2026 07:08:21 GMT"
      },
      "ResponseBody": {
        "etag": "BtbRn2PsApzdXp70Vrh2CLiQWtCwF53_6eQYELArijM",
        "key": "key-747550571",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-01-23T07:08:21+00:00"
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-747550571?api-version=2023-11-01&label=test_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU3NTAyOQ==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"BtbRn2PsApzdXp70Vrh2CLiQWtCwF53_6eQYELArijM\"",
        "Last-Modified": "Fri, 23 Jan 2026 07:08:21 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU3NTAzMA==;sn=103575030",
        "x-ms-date": "Fri, 23 Jan 2026 07:08:22 GMT"
      },
      "ResponseBody": {
        "etag": "BtbRn2PsApzdXp70Vrh2CLiQWtCwF53_6eQYELArijM",
        "key": "key-747550571",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-01-23T07:08:21+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t9c954b564de572f9-azconfig-net.azconfig.io;Id=MdvE;Secret=Kg==",
    "RandomSeed": "1666486066"
  }
}
