{
  "Entries": [
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/kv/key-1963897278?api-version=2023-11-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"cjwcz8EoaQ7q2PIJ1vQY9axCK6MYYCrp72rOqL2tYXA\"",
        "Last-Modified": "Tue, 18 Nov 2025 04:20:14 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzU3ODAzODA3;sn=57803807",
        "x-ms-date": "Tue, 18 Nov 2025 04:20:14 GMT"
      },
      "ResponseBody": {
        "etag": "cjwcz8EoaQ7q2PIJ1vQY9axCK6MYYCrp72rOqL2tYXA",
        "key": "key-1963897278",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2025-11-18T04:20:14+00:00"
      }
    },
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/kv/key-1963897278?api-version=2023-11-01&label=test_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Njo1IzU3ODAzODA3"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"cjwcz8EoaQ7q2PIJ1vQY9axCK6MYYCrp72rOqL2tYXA\"",
        "Last-Modified": "Tue, 18 Nov 2025 04:20:14 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzU3ODAzODA4;sn=57803808",
        "x-ms-date": "Tue, 18 Nov 2025 04:20:15 GMT"
      },
      "ResponseBody": {
        "etag": "cjwcz8EoaQ7q2PIJ1vQY9axCK6MYYCrp72rOqL2tYXA",
        "key": "key-1963897278",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2025-11-18T04:20:14+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_ENDPOINT_STRING": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io",
    "RandomSeed": "1882200817"
  }
}
