{
  "Entries": [
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv/key-634575629?api-version=2026-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "description": "test_description"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"HVvG_ayginkKHb6_V1YPZUNkQiXGYZRt-LInBVVYpis\"",
        "Last-Modified": "Wed, 10 Jun 2026 21:37:29 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDk0NjM0;sn=67094634",
        "x-ms-date": "Wed, 10 Jun 2026 21:37:29 GMT"
      },
      "ResponseBody": {
        "etag": "HVvG_ayginkKHb6_V1YPZUNkQiXGYZRt-LInBVVYpis",
        "key": "key-634575629",
        "label": null,
        "content_type": "test_content_type",
        "value": "test_value",
        "description": "test_description",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-06-10T21:37:29+00:00"
      }
    },
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv/key-634575629?api-version=2026-04-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDk0NjM0"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"HVvG_ayginkKHb6_V1YPZUNkQiXGYZRt-LInBVVYpis\"",
        "Last-Modified": "Wed, 10 Jun 2026 21:37:29 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDk0NjM1;sn=67094635",
        "x-ms-date": "Wed, 10 Jun 2026 21:37:29 GMT"
      },
      "ResponseBody": {
        "etag": "HVvG_ayginkKHb6_V1YPZUNkQiXGYZRt-LInBVVYpis",
        "key": "key-634575629",
        "label": null,
        "content_type": "test_content_type",
        "value": "test_value",
        "description": "test_description",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-06-10T21:37:29+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_ENDPOINT_STRING": "https://mrm90847047-azconfig-net.azconfig.io",
    "RandomSeed": "1720388207"
  }
}
