{
  "Entries": [
    {
      "RequestUri": "https://appconfig-canary-2023-10-01.azconfig.io/kv/key-651857259?label=test_label\u0026api-version=2023-10-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022bOY90mPo7KkuSk_iWibzrTs9eLZIRhshIeypVVjn080\u0022",
        "Last-Modified": "Fri, 03 Nov 2023 22:45:11 GMT",
        "Sync-Token": "zAJw6V16=NjoxNSM1MzM5Nzgx;sn=5339781"
      },
      "ResponseBody": {
        "etag": "bOY90mPo7KkuSk_iWibzrTs9eLZIRhshIeypVVjn080",
        "key": "key-651857259",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2023-11-03T22:45:11\u002B00:00"
      }
    },
    {
      "RequestUri": "https://appconfig-canary-2023-10-01.azconfig.io/kv/key-651857259?label=test_label\u0026api-version=2023-10-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NjoxNSM1MzM5Nzgx"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022bOY90mPo7KkuSk_iWibzrTs9eLZIRhshIeypVVjn080\u0022",
        "Last-Modified": "Fri, 03 Nov 2023 22:45:11 GMT",
        "Sync-Token": "zAJw6V16=NjoxNSM1MzM5Nzgy;sn=5339782"
      },
      "ResponseBody": {
        "etag": "bOY90mPo7KkuSk_iWibzrTs9eLZIRhshIeypVVjn080",
        "key": "key-651857259",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2023-11-03T22:45:11\u002B00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_ENDPOINT_STRING": "https://appconfig-canary-2023-10-01.azconfig.io",
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "RandomSeed": "255596846"
  }
}
