{
  "Entries": [
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-29571250?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"sukM_8usAcewIxwRs2n3Ycv_Kk34Ma1d8Vk-TEW2VW8\"",
        "Last-Modified": "Tue, 23 Dec 2025 05:46:05 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTA0OTY5Mw==;sn=101049693",
        "x-ms-date": "Tue, 23 Dec 2025 05:46:05 GMT"
      },
      "ResponseBody": {
        "etag": "sukM_8usAcewIxwRs2n3Ycv_Kk34Ma1d8Vk-TEW2VW8",
        "key": "key-29571250",
        "label": null,
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2025-12-23T05:46:05+00:00"
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-29571250?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTA0OTY5Mw==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"sukM_8usAcewIxwRs2n3Ycv_Kk34Ma1d8Vk-TEW2VW8\"",
        "Last-Modified": "Tue, 23 Dec 2025 05:46:05 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTA0OTY5NA==;sn=101049694",
        "x-ms-date": "Tue, 23 Dec 2025 05:46:05 GMT"
      },
      "ResponseBody": {
        "etag": "sukM_8usAcewIxwRs2n3Ycv_Kk34Ma1d8Vk-TEW2VW8",
        "key": "key-29571250",
        "label": null,
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2025-12-23T05:46:05+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t9c954b564de572f9-azconfig-net.azconfig.io;Id=MdvE;Secret=Kg==",
    "RandomSeed": "1374528291"
  }
}
