{
  "Entries": [
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-93386818?api-version=2023-11-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"AqV17Rfpc7zpvaxyWkjUaAANohinSP9oyqrX9Qze5fQ\"",
        "Last-Modified": "Tue, 06 Jan 2026 01:15:21 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTc2NTYzOQ==;sn=101765639",
        "x-ms-date": "Tue, 06 Jan 2026 01:15:21 GMT"
      },
      "ResponseBody": {
        "etag": "AqV17Rfpc7zpvaxyWkjUaAANohinSP9oyqrX9Qze5fQ",
        "key": "key-93386818",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-01-06T01:15:21+00:00"
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-93386818?api-version=2023-11-01&label=test_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTc2NTYzOQ==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"AqV17Rfpc7zpvaxyWkjUaAANohinSP9oyqrX9Qze5fQ\"",
        "Last-Modified": "Tue, 06 Jan 2026 01:15:21 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTc2NTY0MA==;sn=101765640",
        "x-ms-date": "Tue, 06 Jan 2026 01:15:21 GMT"
      },
      "ResponseBody": {
        "etag": "AqV17Rfpc7zpvaxyWkjUaAANohinSP9oyqrX9Qze5fQ",
        "key": "key-93386818",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-01-06T01:15:21+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t9c954b564de572f9-azconfig-net.azconfig.io;Id=MdvE;Secret=Kg==",
    "RandomSeed": "1616759748"
  }
}
