{
  "Entries": [
    {
      "RequestUri": "https://azure-sdk-for-net-test.azconfig.io/kv/key-739580034?api-version=2026-04-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"WrapZ6Cr7sqd2POTX-Ciaxsx-p79hp50DNiKjyVyyOU\"",
        "Last-Modified": "Fri, 29 May 2026 19:56:42 GMT",
        "Sync-Token": "zAJw6V16=NToxNyM0ODE0ODY5MQ==;sn=48148691",
        "x-ms-date": "Fri, 29 May 2026 19:56:42 GMT"
      },
      "ResponseBody": {
        "etag": "WrapZ6Cr7sqd2POTX-Ciaxsx-p79hp50DNiKjyVyyOU",
        "key": "key-739580034",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "description": null,
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-05-29T19:56:42+00:00"
      }
    },
    {
      "RequestUri": "https://azure-sdk-for-net-test.azconfig.io/kv/key-739580034?api-version=2026-04-01&label=test_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NToxNyM0ODE0ODY5MQ=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"WrapZ6Cr7sqd2POTX-Ciaxsx-p79hp50DNiKjyVyyOU\"",
        "Last-Modified": "Fri, 29 May 2026 19:56:42 GMT",
        "Sync-Token": "zAJw6V16=NToxNyM0ODE0ODY5Mg==;sn=48148692",
        "x-ms-date": "Fri, 29 May 2026 19:56:42 GMT"
      },
      "ResponseBody": {
        "etag": "WrapZ6Cr7sqd2POTX-Ciaxsx-p79hp50DNiKjyVyyOU",
        "key": "key-739580034",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "description": null,
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-05-29T19:56:42+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_ENDPOINT_STRING": "https://azure-sdk-for-net-test.azconfig.io",
    "RandomSeed": "1581890328"
  }
}
