{
  "Entries": [
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv/key-1455189292?api-version=2026-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "description": "test_description"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"wJ5YqUY8nstxZxqZyIjw-tAFfU13F_jlW1ib9hFGoZE\"",
        "Last-Modified": "Wed, 10 Jun 2026 21:29:04 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDk0MTUx;sn=67094151",
        "x-ms-date": "Wed, 10 Jun 2026 21:29:04 GMT"
      },
      "ResponseBody": {
        "etag": "wJ5YqUY8nstxZxqZyIjw-tAFfU13F_jlW1ib9hFGoZE",
        "key": "key-1455189292",
        "label": null,
        "content_type": "test_content_type",
        "value": "test_value",
        "description": "test_description",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-06-10T21:29:04+00:00"
      }
    },
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv/key-1455189292?api-version=2026-04-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDk0MTUx"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"wJ5YqUY8nstxZxqZyIjw-tAFfU13F_jlW1ib9hFGoZE\"",
        "Last-Modified": "Wed, 10 Jun 2026 21:29:04 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDk0MTUy;sn=67094152",
        "x-ms-date": "Wed, 10 Jun 2026 21:29:04 GMT"
      },
      "ResponseBody": {
        "etag": "wJ5YqUY8nstxZxqZyIjw-tAFfU13F_jlW1ib9hFGoZE",
        "key": "key-1455189292",
        "label": null,
        "content_type": "test_content_type",
        "value": "test_value",
        "description": "test_description",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-06-10T21:29:04+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_ENDPOINT_STRING": "https://mrm90847047-azconfig-net.azconfig.io",
    "RandomSeed": "39886507"
  }
}
