{
  "Entries": [
    {
      "RequestUri": "https://appconfig-canary-2023-10-01.azconfig.io/kv/key-861262790?api-version=2023-10-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "b11OQu6GthUatwGXUIKHHSRVyik0TdrUk5kZm3yZd2A="
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022iO8RmNQ-L7n_c7YLV0lXHdyrZ6xegeWYvC4dg4znR70\u0022",
        "Last-Modified": "Fri, 03 Nov 2023 20:12:44 GMT",
        "Sync-Token": "zAJw6V16=NjoxNSM1MzM5NDcz;sn=5339473"
      },
      "ResponseBody": {
        "etag": "iO8RmNQ-L7n_c7YLV0lXHdyrZ6xegeWYvC4dg4znR70",
        "key": "key-861262790",
        "label": null,
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2023-11-03T20:12:44\u002B00:00"
      }
    },
    {
      "RequestUri": "https://appconfig-canary-2023-10-01.azconfig.io/kv/key-861262790?api-version=2023-10-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NjoxNSM1MzM5NDcz",
        "x-ms-content-sha256": "47DEQpj8HBSa\u002B/TImW\u002B5JCeuQeRkm5NMpJWZG3hSuFU="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022iO8RmNQ-L7n_c7YLV0lXHdyrZ6xegeWYvC4dg4znR70\u0022",
        "Last-Modified": "Fri, 03 Nov 2023 20:12:44 GMT",
        "Sync-Token": "zAJw6V16=NjoxNSM1MzM5NDc0;sn=5339474"
      },
      "ResponseBody": {
        "etag": "iO8RmNQ-L7n_c7YLV0lXHdyrZ6xegeWYvC4dg4znR70",
        "key": "key-861262790",
        "label": null,
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2023-11-03T20:12:44\u002B00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://appconfig-canary-2023-10-01.azconfig.io;Id=0VlC;Secret=Kg==",
    "RandomSeed": "1475038249"
  }
}
