{
  "Entries": [
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/kv/key-290154304?api-version=2023-11-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"ZZeRFAQ9vXbDDrjx3hykyv5rnGHNVHD2x9e7G28Bbxw\"",
        "Last-Modified": "Thu, 09 Oct 2025 16:30:20 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzU1NTMyNDIz;sn=55532423",
        "x-ms-date": "Thu, 09 Oct 2025 16:30:20 GMT"
      },
      "ResponseBody": {
        "etag": "ZZeRFAQ9vXbDDrjx3hykyv5rnGHNVHD2x9e7G28Bbxw",
        "key": "key-290154304",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2025-10-09T16:30:20+00:00"
      }
    },
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/kv/key-290154304?api-version=2023-11-01&label=test_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Njo1IzU1NTMyNDIz",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"ZZeRFAQ9vXbDDrjx3hykyv5rnGHNVHD2x9e7G28Bbxw\"",
        "Last-Modified": "Thu, 09 Oct 2025 16:30:20 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzU1NTMyNDI0;sn=55532424",
        "x-ms-date": "Thu, 09 Oct 2025 16:30:20 GMT"
      },
      "ResponseBody": {
        "etag": "ZZeRFAQ9vXbDDrjx3hykyv5rnGHNVHD2x9e7G28Bbxw",
        "key": "key-290154304",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2025-10-09T16:30:20+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t8cdd9157ca7d1363-azconfig-net.azconfig.io;Id=wNKY;Secret=Kg==",
    "RandomSeed": "1148237264"
  }
}
