{
  "Entries": [
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/kv/key-294581524?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"Y2F7meG5i_5GtXyS1a9wekYNcy7aA3zJqAnhUyBF0Q0\"",
        "Last-Modified": "Tue, 18 Nov 2025 04:26:12 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzU3ODA0Mjc5;sn=57804279",
        "x-ms-date": "Tue, 18 Nov 2025 04:26:12 GMT"
      },
      "ResponseBody": {
        "etag": "Y2F7meG5i_5GtXyS1a9wekYNcy7aA3zJqAnhUyBF0Q0",
        "key": "key-294581524",
        "label": null,
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2025-11-18T04:26:12+00:00"
      }
    },
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/kv/key-294581524?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Njo1IzU3ODA0Mjc5",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"Y2F7meG5i_5GtXyS1a9wekYNcy7aA3zJqAnhUyBF0Q0\"",
        "Last-Modified": "Tue, 18 Nov 2025 04:26:12 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzU3ODA0Mjgw;sn=57804280",
        "x-ms-date": "Tue, 18 Nov 2025 04:26:12 GMT"
      },
      "ResponseBody": {
        "etag": "Y2F7meG5i_5GtXyS1a9wekYNcy7aA3zJqAnhUyBF0Q0",
        "key": "key-294581524",
        "label": null,
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2025-11-18T04:26:12+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t8cdd9157ca7d1363-azconfig-net.azconfig.io;Id=wNKY;Secret=Kg==",
    "RandomSeed": "2054204504"
  }
}
