{
  "Entries": [
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv/key-1904028704?api-version=2026-04-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "description": "test_description"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"1g3RNv5cm_98YAmHM8Oo7yjoU5Eym22WtMkXypOX7XU\"",
        "Last-Modified": "Wed, 10 Jun 2026 18:21:36 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDY1MDkx;sn=67065091",
        "x-ms-date": "Wed, 10 Jun 2026 18:21:36 GMT"
      },
      "ResponseBody": {
        "etag": "1g3RNv5cm_98YAmHM8Oo7yjoU5Eym22WtMkXypOX7XU",
        "key": "key-1904028704",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "description": "test_description",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-06-10T18:21:36+00:00"
      }
    },
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv/key-1904028704?api-version=2026-04-01&label=test_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDY1MDkx"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"1g3RNv5cm_98YAmHM8Oo7yjoU5Eym22WtMkXypOX7XU\"",
        "Last-Modified": "Wed, 10 Jun 2026 18:21:36 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDY1MDky;sn=67065092",
        "x-ms-date": "Wed, 10 Jun 2026 18:21:36 GMT"
      },
      "ResponseBody": {
        "etag": "1g3RNv5cm_98YAmHM8Oo7yjoU5Eym22WtMkXypOX7XU",
        "key": "key-1904028704",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "description": "test_description",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-06-10T18:21:36+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_ENDPOINT_STRING": "https://mrm90847047-azconfig-net.azconfig.io",
    "RandomSeed": "781849811"
  }
}
