{
  "Entries": [
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-1051985894?api-version=2023-11-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"0XANt6XNa3AwQEs-Afd_jBDbW3th1q1m6YJ5ZMXIRSw\"",
        "Last-Modified": "Mon, 26 Jan 2026 05:43:52 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzg1MTQwMQ==;sn=103851401",
        "x-ms-date": "Mon, 26 Jan 2026 05:43:52 GMT"
      },
      "ResponseBody": {
        "etag": "0XANt6XNa3AwQEs-Afd_jBDbW3th1q1m6YJ5ZMXIRSw",
        "key": "key-1051985894",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-01-26T05:43:52+00:00"
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-1051985894?api-version=2023-11-01&label=test_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzg1MTQwMQ==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"0XANt6XNa3AwQEs-Afd_jBDbW3th1q1m6YJ5ZMXIRSw\"",
        "Last-Modified": "Mon, 26 Jan 2026 05:43:52 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzg1MTQwMg==;sn=103851402",
        "x-ms-date": "Mon, 26 Jan 2026 05:43:52 GMT"
      },
      "ResponseBody": {
        "etag": "0XANt6XNa3AwQEs-Afd_jBDbW3th1q1m6YJ5ZMXIRSw",
        "key": "key-1051985894",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-01-26T05:43:52+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t9c954b564de572f9-azconfig-net.azconfig.io;Id=MdvE;Secret=Kg==",
    "RandomSeed": "2088204467"
  }
}
