{
  "Entries": [
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/kv/key-1166689645?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"lVP5wsL9DJiXnNN-sh0CdGJw5llLH6bmd5aU_f_2ls4\"",
        "Last-Modified": "Thu, 09 Oct 2025 16:30:26 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzU1NTMyNDI3;sn=55532427",
        "x-ms-date": "Thu, 09 Oct 2025 16:30:26 GMT"
      },
      "ResponseBody": {
        "etag": "lVP5wsL9DJiXnNN-sh0CdGJw5llLH6bmd5aU_f_2ls4",
        "key": "key-1166689645",
        "label": null,
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2025-10-09T16:30:26+00:00"
      }
    },
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/kv/key-1166689645?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Njo1IzU1NTMyNDI3",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"lVP5wsL9DJiXnNN-sh0CdGJw5llLH6bmd5aU_f_2ls4\"",
        "Last-Modified": "Thu, 09 Oct 2025 16:30:26 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzU1NTMyNDI4;sn=55532428",
        "x-ms-date": "Thu, 09 Oct 2025 16:30:26 GMT"
      },
      "ResponseBody": {
        "etag": "lVP5wsL9DJiXnNN-sh0CdGJw5llLH6bmd5aU_f_2ls4",
        "key": "key-1166689645",
        "label": null,
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2025-10-09T16:30:26+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t8cdd9157ca7d1363-azconfig-net.azconfig.io;Id=wNKY;Secret=Kg==",
    "RandomSeed": "1408705673"
  }
}
