{
  "Entries": [
    {
      "RequestUri": "https://tdfcae3cf5eab7143-azconfig-net.azconfig.io/kv/key-218022183?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"TTxeBWV2CSET29bJ0YDuilYq19O5hHA3yzxLaFuO76Q\"",
        "Last-Modified": "Wed, 24 Jul 2024 15:42:16 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzMyMjcxMDU5;sn=32271059"
      },
      "ResponseBody": {
        "etag": "TTxeBWV2CSET29bJ0YDuilYq19O5hHA3yzxLaFuO76Q",
        "key": "key-218022183",
        "label": null,
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2024-07-24T15:42:16+00:00"
      }
    },
    {
      "RequestUri": "https://tdfcae3cf5eab7143-azconfig-net.azconfig.io/kv/key-218022183?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Njo1IzMyMjcxMDU5",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"TTxeBWV2CSET29bJ0YDuilYq19O5hHA3yzxLaFuO76Q\"",
        "Last-Modified": "Wed, 24 Jul 2024 15:42:16 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzMyMjcxMDYw;sn=32271060"
      },
      "ResponseBody": {
        "etag": "TTxeBWV2CSET29bJ0YDuilYq19O5hHA3yzxLaFuO76Q",
        "key": "key-218022183",
        "label": null,
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2024-07-24T15:42:16+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://tdfcae3cf5eab7143-azconfig-net.azconfig.io;Id=MEKF;Secret=Kg==",
    "RandomSeed": "1211054398"
  }
}
