{
  "Entries": [
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv/key-331925639?api-version=2026-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "description": "test_description"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"qg3hrAghLXZVzxQpJ3IXvDS4FLWeIhPKl5GBIiXCfc0\"",
        "Last-Modified": "Wed, 10 Jun 2026 18:30:59 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDY2Mjkz;sn=67066293",
        "x-ms-date": "Wed, 10 Jun 2026 18:30:59 GMT"
      },
      "ResponseBody": {
        "etag": "qg3hrAghLXZVzxQpJ3IXvDS4FLWeIhPKl5GBIiXCfc0",
        "key": "key-331925639",
        "label": null,
        "content_type": "test_content_type",
        "value": "test_value",
        "description": "test_description",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-06-10T18:30:59+00:00"
      }
    },
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv/key-331925639?api-version=2026-04-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDY2Mjkz"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"qg3hrAghLXZVzxQpJ3IXvDS4FLWeIhPKl5GBIiXCfc0\"",
        "Last-Modified": "Wed, 10 Jun 2026 18:30:59 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDY2Mjk0;sn=67066294",
        "x-ms-date": "Wed, 10 Jun 2026 18:30:59 GMT"
      },
      "ResponseBody": {
        "etag": "qg3hrAghLXZVzxQpJ3IXvDS4FLWeIhPKl5GBIiXCfc0",
        "key": "key-331925639",
        "label": null,
        "content_type": "test_content_type",
        "value": "test_value",
        "description": "test_description",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-06-10T18:30:59+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_ENDPOINT_STRING": "https://mrm90847047-azconfig-net.azconfig.io",
    "RandomSeed": "440138780"
  }
}
