{
  "Entries": [
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-1688541307?api-version=2023-11-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"NS_10JuDQxbuSG6QLM3yHgP-UNQnDn4ngZtHN6HfcYU\"",
        "Last-Modified": "Mon, 01 Dec 2025 08:32:54 GMT",
        "Sync-Token": "zAJw6V16=NTo1Izk4Nzc0Nzcy;sn=98774772",
        "x-ms-date": "Mon, 01 Dec 2025 08:32:54 GMT"
      },
      "ResponseBody": {
        "etag": "NS_10JuDQxbuSG6QLM3yHgP-UNQnDn4ngZtHN6HfcYU",
        "key": "key-1688541307",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2025-12-01T08:32:54+00:00"
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/snapshots/snapshot-963990610?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NTo1Izk4Nzc0Nzcy",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "filters": [
          {
            "key": "key-1688541307"
          }
        ]
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json; charset=utf-8",
        "ETag": "\"EXcXmyYH4u9Gy9C3MvmeSXBrd8XNeAgw7wZ8ILAf_AU\"",
        "Last-Modified": "Mon, 01 Dec 2025 08:32:54 GMT",
        "Link": "</kv?snapshot=snapshot-963990610&api-version=2023-11-01>; rel=\"items\"",
        "Operation-Location": "https://t9c954b564de572f9-azconfig-net.azconfig.io/operations?snapshot=snapshot-963990610&api-version=2023-11-01",
        "Sync-Token": "zAJw6V16=NTo1Izk4Nzc0Nzcz;sn=98774773",
        "x-ms-date": "Mon, 01 Dec 2025 08:32:54 GMT"
      },
      "ResponseBody": {
        "etag": "EXcXmyYH4u9Gy9C3MvmeSXBrd8XNeAgw7wZ8ILAf_AU",
        "name": "snapshot-963990610",
        "status": "provisioning",
        "filters": [
          {
            "key": "key-1688541307",
            "label": null,
            "tags": []
          }
        ],
        "composition_type": "key",
        "created": "2025-12-01T08:32:54.7752937+00:00",
        "size": 0,
        "items_count": 0,
        "tags": {},
        "retention_period": 2592000
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/operations?api-version=2023-11-01&snapshot=snapshot-963990610",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1Izk4Nzc0Nzcz",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "Sync-Token": "zAJw6V16=NTo1Izk4Nzc0Nzcz;sn=98774773",
        "x-ms-date": "Mon, 01 Dec 2025 08:32:54 GMT"
      },
      "ResponseBody": {
        "id": "slSBt8wpRL9GXqhq-sUUZTqZd4Zps_Hc5RRsymb6UJo",
        "status": "Running",
        "error": null
      }
    },
[...]
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/snapshots/snapshot-963990610?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NTo1Izk4Nzc0ODA0",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "status": "archived"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json; charset=utf-8",
        "ETag": "\"oES0bwf8vBc0SFwiNVr5WqSIrK9E8Aru9EplR946sxI\"",
        "Last-Modified": "Mon, 01 Dec 2025 08:32:56 GMT",
        "Link": "</kv?snapshot=snapshot-963990610&api-version=2023-11-01>; rel=\"items\"",
        "Sync-Token": "zAJw6V16=NTo1Izk4Nzc0ODA1;sn=98774805",
        "x-ms-date": "Mon, 01 Dec 2025 08:33:05 GMT"
      },
      "ResponseBody": {
        "etag": "oES0bwf8vBc0SFwiNVr5WqSIrK9E8Aru9EplR946sxI",
        "name": "snapshot-963990610",
        "status": "archived",
        "filters": [
          {
            "key": "key-1688541307",
            "label": null,
            "tags": []
          }
        ],
        "composition_type": "key",
        "created": "2025-12-01T08:32:54+00:00",
        "expires": "2025-12-31T08:33:05.558443+00:00",
        "size": 1000,
        "items_count": 0,
        "tags": {},
        "retention_period": 2592000
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-1688541307?api-version=2023-11-01&label=test_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1Izk4Nzc0ODA1",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"NS_10JuDQxbuSG6QLM3yHgP-UNQnDn4ngZtHN6HfcYU\"",
        "Last-Modified": "Mon, 01 Dec 2025 08:32:54 GMT",
        "Sync-Token": "zAJw6V16=NTo1Izk4Nzc0ODA2;sn=98774806",
        "x-ms-date": "Mon, 01 Dec 2025 08:33:05 GMT"
      },
      "ResponseBody": {
        "etag": "NS_10JuDQxbuSG6QLM3yHgP-UNQnDn4ngZtHN6HfcYU",
        "key": "key-1688541307",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2025-12-01T08:32:54+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t9c954b564de572f9-azconfig-net.azconfig.io;Id=MdvE;Secret=Kg==",
    "RandomSeed": "544778613"
  }
}
