{
  "Entries": [
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-2105342626?api-version=2023-11-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"o8pmVtPTP9LwQOxElMr84qBp-s5kvdv1VUPEh78MnbA\"",
        "Last-Modified": "Thu, 22 Jan 2026 02:04:48 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzQ3NDgxMw==;sn=103474813",
        "x-ms-date": "Thu, 22 Jan 2026 02:04:48 GMT"
      },
      "ResponseBody": {
        "etag": "o8pmVtPTP9LwQOxElMr84qBp-s5kvdv1VUPEh78MnbA",
        "key": "key-2105342626",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-01-22T02:04:48+00:00"
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/snapshots/snapshot-1146462381?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzQ3NDgxMw==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "filters": [
          {
            "key": "key-2105342626"
          }
        ]
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json; charset=utf-8",
        "ETag": "\"-yvOQ1qPoIDpz0eH3I48Xurxvf6wxOmqzon0i2ezheg\"",
        "Last-Modified": "Thu, 22 Jan 2026 02:04:48 GMT",
        "Link": "</kv?snapshot=snapshot-1146462381&api-version=2023-11-01>; rel=\"items\"",
        "Operation-Location": "https://t9c954b564de572f9-azconfig-net.azconfig.io/operations?snapshot=snapshot-1146462381&api-version=2023-11-01",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzQ3NDgxNA==;sn=103474814",
        "x-ms-date": "Thu, 22 Jan 2026 02:04:48 GMT"
      },
      "ResponseBody": {
        "etag": "-yvOQ1qPoIDpz0eH3I48Xurxvf6wxOmqzon0i2ezheg",
        "name": "snapshot-1146462381",
        "status": "provisioning",
        "filters": [
          {
            "key": "key-2105342626",
            "label": null,
            "tags": []
          }
        ],
        "composition_type": "key",
        "created": "2026-01-22T02:04:48.6476782+00:00",
        "size": 0,
        "items_count": 0,
        "tags": {},
        "retention_period": 2592000
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/operations?api-version=2023-11-01&snapshot=snapshot-1146462381",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzQ3NDgxNA==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzQ3NDgxNA==;sn=103474814",
        "x-ms-date": "Thu, 22 Jan 2026 02:04:48 GMT"
      },
      "ResponseBody": {
        "id": "GcRLXWiOaA0UkIYrzjFzR9jLBpHPVnZERm3TM7iICbA",
        "status": "Running",
        "error": null
      }
    },
[...]
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/snapshots/snapshot-1146462381?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzQ3NDgxNw==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "status": "archived"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json; charset=utf-8",
        "ETag": "\"9OxpqtMRgHpqBqicPo-DQIPMGqhlRmty6u6FH8BU2xA\"",
        "Last-Modified": "Thu, 22 Jan 2026 02:05:03 GMT",
        "Link": "</kv?snapshot=snapshot-1146462381&api-version=2023-11-01>; rel=\"items\"",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzQ3NDgxOA==;sn=103474818",
        "x-ms-date": "Thu, 22 Jan 2026 02:05:09 GMT"
      },
      "ResponseBody": {
        "etag": "9OxpqtMRgHpqBqicPo-DQIPMGqhlRmty6u6FH8BU2xA",
        "name": "snapshot-1146462381",
        "status": "archived",
        "filters": [
          {
            "key": "key-2105342626",
            "label": null,
            "tags": []
          }
        ],
        "composition_type": "key",
        "created": "2026-01-22T02:04:48+00:00",
        "expires": "2026-02-21T02:05:09.5074013+00:00",
        "size": 1000,
        "items_count": 0,
        "tags": {},
        "retention_period": 2592000
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-2105342626?api-version=2023-11-01&label=test_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzQ3NDgxOA==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"o8pmVtPTP9LwQOxElMr84qBp-s5kvdv1VUPEh78MnbA\"",
        "Last-Modified": "Thu, 22 Jan 2026 02:04:48 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzQ3NDgxOQ==;sn=103474819",
        "x-ms-date": "Thu, 22 Jan 2026 02:05:09 GMT"
      },
      "ResponseBody": {
        "etag": "o8pmVtPTP9LwQOxElMr84qBp-s5kvdv1VUPEh78MnbA",
        "key": "key-2105342626",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-01-22T02:04:48+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t9c954b564de572f9-azconfig-net.azconfig.io;Id=MdvE;Secret=Kg==",
    "RandomSeed": "1755626629"
  }
}
