{
  "Entries": [
    {
      "RequestUri": "https://azure-sdk-for-net-test.azconfig.io/kv/key-265744368?api-version=2026-04-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"pgsAzZDSvxOFtz5OeiRS4LSG1Yby8ZwZmnMo1sZ4Qgw\"",
        "Last-Modified": "Wed, 27 May 2026 23:54:21 GMT",
        "Sync-Token": "zAJw6V16=NToxNyM0ODA0MTcyMw==;sn=48041723",
        "x-ms-date": "Wed, 27 May 2026 23:54:21 GMT"
      },
      "ResponseBody": {
        "etag": "pgsAzZDSvxOFtz5OeiRS4LSG1Yby8ZwZmnMo1sZ4Qgw",
        "key": "key-265744368",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "description": null,
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-05-27T23:54:21+00:00"
      }
    },
    {
      "RequestUri": "https://azure-sdk-for-net-test.azconfig.io/snapshots/snapshot-428608893?api-version=2026-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NToxNyM0ODA0MTcyMw==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "filters": [
          {
            "key": "key-265744368"
          }
        ]
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json; charset=utf-8",
        "ETag": "\"xn7uVixBI_Pvde4cCJOI7c-BByWLTQZpHGdk3aCJiXs\"",
        "Last-Modified": "Wed, 27 May 2026 23:54:21 GMT",
        "Link": "</kv?snapshot=snapshot-428608893&api-version=2026-04-01>; rel=\"items\"",
        "Operation-Location": "https://azure-sdk-for-net-test.azconfig.io/operations?snapshot=snapshot-428608893&api-version=2026-04-01",
        "Sync-Token": "zAJw6V16=NToxNyM0ODA0MTcyNA==;sn=48041724",
        "x-ms-date": "Wed, 27 May 2026 23:54:21 GMT"
      },
      "ResponseBody": {
        "etag": "xn7uVixBI_Pvde4cCJOI7c-BByWLTQZpHGdk3aCJiXs",
        "name": "snapshot-428608893",
        "description": null,
        "status": "provisioning",
        "filters": [
          {
            "key": "key-265744368",
            "label": null,
            "tags": []
          }
        ],
        "composition_type": "key",
        "created": "2026-05-27T23:54:21.46272+00:00",
        "size": 0,
        "items_count": 0,
        "tags": {},
        "retention_period": 2592000
      }
    },
    {
      "RequestUri": "https://azure-sdk-for-net-test.azconfig.io/operations?api-version=2026-04-01&snapshot=snapshot-428608893",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NToxNyM0ODA0MTcyNA==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "Sync-Token": "zAJw6V16=NToxNyM0ODA0MTcyNA==;sn=48041724",
        "x-ms-date": "Wed, 27 May 2026 23:54:21 GMT"
      },
      "ResponseBody": {
        "id": "4_MzyKizsN-wwjlkqUE8ED1-4g2GPlW64JTXZmc7maA",
        "status": "Running",
        "error": null
      }
    },
[...]
    {
      "RequestUri": "https://azure-sdk-for-net-test.azconfig.io/snapshots/snapshot-428608893?api-version=2026-04-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NToxNyM0ODA0MTcyNw==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "status": "archived"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json; charset=utf-8",
        "ETag": "\"Q6ToVSgBEUGEbuh-nLDeVOeDyXyMvfkhFLqjfKcyH58\"",
        "Last-Modified": "Wed, 27 May 2026 23:54:33 GMT",
        "Link": "</kv?snapshot=snapshot-428608893&api-version=2026-04-01>; rel=\"items\"",
        "Sync-Token": "zAJw6V16=NToxNyM0ODA0MTcyOA==;sn=48041728",
        "x-ms-date": "Wed, 27 May 2026 23:54:41 GMT"
      },
      "ResponseBody": {
        "etag": "Q6ToVSgBEUGEbuh-nLDeVOeDyXyMvfkhFLqjfKcyH58",
        "name": "snapshot-428608893",
        "description": null,
        "status": "archived",
        "filters": [
          {
            "key": "key-265744368",
            "label": null,
            "tags": []
          }
        ],
        "composition_type": "key",
        "created": "2026-05-27T23:54:21+00:00",
        "expires": "2026-06-26T23:54:41.759948+00:00",
        "size": 1000,
        "items_count": 0,
        "tags": {},
        "retention_period": 2592000
      }
    },
    {
      "RequestUri": "https://azure-sdk-for-net-test.azconfig.io/kv/key-265744368?api-version=2026-04-01&label=test_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NToxNyM0ODA0MTcyOA==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"pgsAzZDSvxOFtz5OeiRS4LSG1Yby8ZwZmnMo1sZ4Qgw\"",
        "Last-Modified": "Wed, 27 May 2026 23:54:21 GMT",
        "Sync-Token": "zAJw6V16=NToxNyM0ODA0MTcyOQ==;sn=48041729",
        "x-ms-date": "Wed, 27 May 2026 23:54:41 GMT"
      },
      "ResponseBody": {
        "etag": "pgsAzZDSvxOFtz5OeiRS4LSG1Yby8ZwZmnMo1sZ4Qgw",
        "key": "key-265744368",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "description": null,
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-05-27T23:54:21+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://azure-sdk-for-net-test.azconfig.io;Id=8ePU;Secret=Kg==",
    "RandomSeed": "83447678"
  }
}
