{
  "Entries": [
    {
      "RequestUri": "https://azure-sdk-for-net-test.azconfig.io/kv/key-46939221?api-version=2026-04-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"SuT_RVsMgi_kV4ZC8L1i6q2UPLm0f-Rs7NYnCj3H8kc\"",
        "Last-Modified": "Wed, 27 May 2026 23:59:22 GMT",
        "Sync-Token": "zAJw6V16=NToxNyM0ODA0MjE5Ng==;sn=48042196",
        "x-ms-date": "Wed, 27 May 2026 23:59:22 GMT"
      },
      "ResponseBody": {
        "etag": "SuT_RVsMgi_kV4ZC8L1i6q2UPLm0f-Rs7NYnCj3H8kc",
        "key": "key-46939221",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "description": null,
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-05-27T23:59:22+00:00"
      }
    },
    {
      "RequestUri": "https://azure-sdk-for-net-test.azconfig.io/snapshots/snapshot-2034207294?api-version=2026-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NToxNyM0ODA0MjE5Ng==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "filters": [
          {
            "key": "key-46939221"
          }
        ]
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json; charset=utf-8",
        "ETag": "\"csW_-6KHr0yOayVqKdb61uGlvqIcATXKL0AmboUbB4Y\"",
        "Last-Modified": "Wed, 27 May 2026 23:59:22 GMT",
        "Link": "</kv?snapshot=snapshot-2034207294&api-version=2026-04-01>; rel=\"items\"",
        "Operation-Location": "https://azure-sdk-for-net-test.azconfig.io/operations?snapshot=snapshot-2034207294&api-version=2026-04-01",
        "Sync-Token": "zAJw6V16=NToxNyM0ODA0MjE5Nw==;sn=48042197",
        "x-ms-date": "Wed, 27 May 2026 23:59:22 GMT"
      },
      "ResponseBody": {
        "etag": "csW_-6KHr0yOayVqKdb61uGlvqIcATXKL0AmboUbB4Y",
        "name": "snapshot-2034207294",
        "description": null,
        "status": "provisioning",
        "filters": [
          {
            "key": "key-46939221",
            "label": null,
            "tags": []
          }
        ],
        "composition_type": "key",
        "created": "2026-05-27T23:59:22.206507+00:00",
        "size": 0,
        "items_count": 0,
        "tags": {},
        "retention_period": 2592000
      }
    },
    {
      "RequestUri": "https://azure-sdk-for-net-test.azconfig.io/operations?api-version=2026-04-01&snapshot=snapshot-2034207294",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NToxNyM0ODA0MjE5Nw==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "Sync-Token": "zAJw6V16=NToxNyM0ODA0MjE5Nw==;sn=48042197",
        "x-ms-date": "Wed, 27 May 2026 23:59:22 GMT"
      },
      "ResponseBody": {
        "id": "MAo1_ndwC7D2gUI0ynR3HALJHBd51-K4tdoJxgm23VY",
        "status": "Running",
        "error": null
      }
    },
[...]
    {
      "RequestUri": "https://azure-sdk-for-net-test.azconfig.io/snapshots/snapshot-2034207294?api-version=2026-04-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NToxNyM0ODA0MjIwMg==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "status": "archived"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json; charset=utf-8",
        "ETag": "\"v_Nb1OpJrB3RYgs0rABrxxa91GadSDDjYDRaZ228c30\"",
        "Last-Modified": "Wed, 27 May 2026 23:59:30 GMT",
        "Link": "</kv?snapshot=snapshot-2034207294&api-version=2026-04-01>; rel=\"items\"",
        "Sync-Token": "zAJw6V16=NToxNyM0ODA0MjIwMw==;sn=48042203",
        "x-ms-date": "Wed, 27 May 2026 23:59:32 GMT"
      },
      "ResponseBody": {
        "etag": "v_Nb1OpJrB3RYgs0rABrxxa91GadSDDjYDRaZ228c30",
        "name": "snapshot-2034207294",
        "description": null,
        "status": "archived",
        "filters": [
          {
            "key": "key-46939221",
            "label": null,
            "tags": []
          }
        ],
        "composition_type": "key",
        "created": "2026-05-27T23:59:22+00:00",
        "expires": "2026-06-26T23:59:32.2985593+00:00",
        "size": 1000,
        "items_count": 0,
        "tags": {},
        "retention_period": 2592000
      }
    },
    {
      "RequestUri": "https://azure-sdk-for-net-test.azconfig.io/kv/key-46939221?api-version=2026-04-01&label=test_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NToxNyM0ODA0MjIwMw==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"SuT_RVsMgi_kV4ZC8L1i6q2UPLm0f-Rs7NYnCj3H8kc\"",
        "Last-Modified": "Wed, 27 May 2026 23:59:22 GMT",
        "Sync-Token": "zAJw6V16=NToxNyM0ODA0MjIwNA==;sn=48042204",
        "x-ms-date": "Wed, 27 May 2026 23:59:32 GMT"
      },
      "ResponseBody": {
        "etag": "SuT_RVsMgi_kV4ZC8L1i6q2UPLm0f-Rs7NYnCj3H8kc",
        "key": "key-46939221",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "description": null,
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-05-27T23:59:22+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://azure-sdk-for-net-test.azconfig.io;Id=8ePU;Secret=Kg==",
    "RandomSeed": "619348727"
  }
}
