{
  "Entries": [
    {
      "RequestUri": "https://tdfcae3cf5eab7143-azconfig-net.azconfig.io/kv/key-1020724245?label=test_label&api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"MhpiB7zMPVCJ5nj6zvJOhGOdMtkt868U9YJEV88L6I8\"",
        "Last-Modified": "Wed, 24 Jul 2024 15:42:16 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzMyMjcxMDYx;sn=32271061"
      },
      "ResponseBody": {
        "etag": "MhpiB7zMPVCJ5nj6zvJOhGOdMtkt868U9YJEV88L6I8",
        "key": "key-1020724245",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2024-07-24T15:42:16+00:00"
      }
    },
    {
      "RequestUri": "https://tdfcae3cf5eab7143-azconfig-net.azconfig.io/snapshots/snapshot-1735306134?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=Njo1IzMyMjcxMDYx",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "filters": [
          {
            "key": "key-1020724245",
            "tags": []
          }
        ]
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json; charset=utf-8",
        "ETag": "\"5KLuGK4vDMH13yGo53vUPtD9RcPfaG4rJ0pYnF0YZqA\"",
        "Last-Modified": "Wed, 24 Jul 2024 15:42:16 GMT",
        "Link": "</kv?snapshot=snapshot-1735306134&api-version=2023-11-01>; rel=\"items\"",
        "Operation-Location": "https://tdfcae3cf5eab7143-azconfig-net.azconfig.io/operations?snapshot=snapshot-1735306134&api-version=2023-11-01",
        "Sync-Token": "zAJw6V16=Njo1IzMyMjcxMDYy;sn=32271062"
      },
      "ResponseBody": {
        "etag": "5KLuGK4vDMH13yGo53vUPtD9RcPfaG4rJ0pYnF0YZqA",
        "name": "snapshot-1735306134",
        "status": "provisioning",
        "filters": [
          {
            "key": "key-1020724245",
            "label": null,
            "tags": []
          }
        ],
        "composition_type": "key",
        "created": "2024-07-24T15:42:16+00:00",
        "size": 0,
        "items_count": 0,
        "tags": {},
        "retention_period": 2592000
      }
    },
    {
      "RequestUri": "https://tdfcae3cf5eab7143-azconfig-net.azconfig.io/operations?snapshot=snapshot-1735306134&api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Njo1IzMyMjcxMDYy",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "Sync-Token": "zAJw6V16=Njo1IzMyMjcxMDYy;sn=32271062"
      },
      "ResponseBody": {
        "id": "x3fa2PAM4jm73RRz_MbJSQlK6jxUmNT018i8qb13geY",
        "status": "Running",
        "error": null
      }
    },
[...]
    {
      "RequestUri": "https://tdfcae3cf5eab7143-azconfig-net.azconfig.io/snapshots/snapshot-1735306134?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=Njo1IzMyMjcxMDYz",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "status": "archived"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json; charset=utf-8",
        "ETag": "\"N7FTxJkTTZY7n5VbCXYkipIcwpg3DiI3bHZhmSX-mRo\"",
        "Last-Modified": "Wed, 24 Jul 2024 15:42:16 GMT",
        "Link": "</kv?snapshot=snapshot-1735306134&api-version=2023-11-01>; rel=\"items\"",
        "Sync-Token": "zAJw6V16=Njo1IzMyMjcxMDY0;sn=32271064"
      },
      "ResponseBody": {
        "etag": "N7FTxJkTTZY7n5VbCXYkipIcwpg3DiI3bHZhmSX-mRo",
        "name": "snapshot-1735306134",
        "status": "archived",
        "filters": [
          {
            "key": "key-1020724245",
            "label": null,
            "tags": []
          }
        ],
        "composition_type": "key",
        "created": "2024-07-24T15:42:16+00:00",
        "expires": "2024-08-23T15:42:26.9304544+00:00",
        "size": 1000,
        "items_count": 0,
        "tags": {},
        "retention_period": 2592000
      }
    },
    {
      "RequestUri": "https://tdfcae3cf5eab7143-azconfig-net.azconfig.io/kv/key-1020724245?label=test_label&api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Njo1IzMyMjcxMDY0",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"MhpiB7zMPVCJ5nj6zvJOhGOdMtkt868U9YJEV88L6I8\"",
        "Last-Modified": "Wed, 24 Jul 2024 15:42:16 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzMyMjcxMDY1;sn=32271065"
      },
      "ResponseBody": {
        "etag": "MhpiB7zMPVCJ5nj6zvJOhGOdMtkt868U9YJEV88L6I8",
        "key": "key-1020724245",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2024-07-24T15:42:16+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://tdfcae3cf5eab7143-azconfig-net.azconfig.io;Id=MEKF;Secret=Kg==",
    "RandomSeed": "552923145"
  }
}
