{
  "Entries": [
    {
      "RequestUri": "https://tdfcae3cf5eab7143-azconfig-net.azconfig.io/kv/key-435341489?label=test_label&api-version=2023-10-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"ZrI4qun9aC-IQyrLnO2OedQl0ile0ZY6FNu_M4wbjDE\"",
        "Last-Modified": "Wed, 12 Jun 2024 21:54:46 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzMwMzMxMjYw;sn=30331260"
      },
      "ResponseBody": {
        "etag": "ZrI4qun9aC-IQyrLnO2OedQl0ile0ZY6FNu_M4wbjDE",
        "key": "key-435341489",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2024-06-12T21:54:46+00:00"
      }
    },
    {
      "RequestUri": "https://tdfcae3cf5eab7143-azconfig-net.azconfig.io/snapshots/snapshot-237572568?api-version=2023-10-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=Njo1IzMwMzMxMjYw",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "filters": [
          {
            "key": "key-435341489",
            "tags": []
          }
        ]
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json; charset=utf-8",
        "ETag": "\"abPqlPS8NX0wDAwSJayf-Vcg3hyBLWXKyGgkAwich_0\"",
        "Last-Modified": "Wed, 12 Jun 2024 21:54:47 GMT",
        "Link": "</kv?snapshot=snapshot-237572568&api-version=2023-10-01>; rel=\"items\"",
        "Operation-Location": "https://tdfcae3cf5eab7143-azconfig-net.azconfig.io/operations?snapshot=snapshot-237572568&api-version=2023-10-01",
        "Sync-Token": "zAJw6V16=Njo1IzMwMzMxMjYx;sn=30331261"
      },
      "ResponseBody": {
        "etag": "abPqlPS8NX0wDAwSJayf-Vcg3hyBLWXKyGgkAwich_0",
        "name": "snapshot-237572568",
        "status": "provisioning",
        "filters": [
          {
            "key": "key-435341489",
            "label": null
          }
        ],
        "composition_type": "key",
        "created": "2024-06-12T21:54:47+00:00",
        "size": 0,
        "items_count": 0,
        "tags": {},
        "retention_period": 2592000
      }
    },
    {
      "RequestUri": "https://tdfcae3cf5eab7143-azconfig-net.azconfig.io/operations?snapshot=snapshot-237572568&api-version=2023-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Njo1IzMwMzMxMjYx",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "Sync-Token": "zAJw6V16=Njo1IzMwMzMxMjYx;sn=30331261"
      },
      "ResponseBody": {
        "id": "xR_S4eU_PjE2nBo91v97DAiQEXudCMMEtiroyyw1eDo",
        "status": "Running",
        "error": null
      }
    },
[...]
    {
      "RequestUri": "https://tdfcae3cf5eab7143-azconfig-net.azconfig.io/snapshots/snapshot-237572568?api-version=2023-10-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=Njo1IzMwMzMxMjY3",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "status": "archived"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json; charset=utf-8",
        "ETag": "\"mVzX9G23nGwXyI4fcMWo0_1e1JFQzIftWdEAGT3QRec\"",
        "Last-Modified": "Wed, 12 Jun 2024 21:54:47 GMT",
        "Link": "</kv?snapshot=snapshot-237572568&api-version=2023-10-01>; rel=\"items\"",
        "Sync-Token": "zAJw6V16=Njo1IzMwMzMxMjY4;sn=30331268"
      },
      "ResponseBody": {
        "etag": "mVzX9G23nGwXyI4fcMWo0_1e1JFQzIftWdEAGT3QRec",
        "name": "snapshot-237572568",
        "status": "archived",
        "filters": [
          {
            "key": "key-435341489",
            "label": null
          }
        ],
        "composition_type": "key",
        "created": "2024-06-12T21:54:47+00:00",
        "expires": "2024-07-12T21:54:57.5377238+00:00",
        "size": 1000,
        "items_count": 0,
        "tags": {},
        "retention_period": 2592000
      }
    },
    {
      "RequestUri": "https://tdfcae3cf5eab7143-azconfig-net.azconfig.io/kv/key-435341489?label=test_label&api-version=2023-10-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Njo1IzMwMzMxMjY4",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"ZrI4qun9aC-IQyrLnO2OedQl0ile0ZY6FNu_M4wbjDE\"",
        "Last-Modified": "Wed, 12 Jun 2024 21:54:46 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzMwMzMxMjY5;sn=30331269"
      },
      "ResponseBody": {
        "etag": "ZrI4qun9aC-IQyrLnO2OedQl0ile0ZY6FNu_M4wbjDE",
        "key": "key-435341489",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2024-06-12T21:54:46+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://tdfcae3cf5eab7143-azconfig-net.azconfig.io;Id=yt5R;Secret=Kg==",
    "RandomSeed": "336259970"
  }
}
