{
  "Entries": [
    {
      "RequestUri": "https://te0e57d80fe738c82-azconfig-net.azconfig.io/kv/key-673037262?api-version=2023-11-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"jOHLmHAuops0Qe9AEeNwUTqm1Ab1N_SdoUfcRkeXFJA\"",
        "Last-Modified": "Tue, 29 Jul 2025 17:41:43 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzUxNTQ5NTM3;sn=51549537"
      },
      "ResponseBody": {
        "etag": "jOHLmHAuops0Qe9AEeNwUTqm1Ab1N_SdoUfcRkeXFJA",
        "key": "key-673037262",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2025-07-29T17:41:43+00:00"
      }
    },
    {
      "RequestUri": "https://te0e57d80fe738c82-azconfig-net.azconfig.io/snapshots/snapshot-793302209?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=Njo1IzUxNTQ5NTM3",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "filters": [
          {
            "key": "key-673037262"
          }
        ]
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json; charset=utf-8",
        "ETag": "\"41LWtsLhKuBmdAzNIgSgBHtxk_bkPb_KOLjFX19kvGs\"",
        "Last-Modified": "Tue, 29 Jul 2025 17:41:43 GMT",
        "Link": "</kv?snapshot=snapshot-793302209&api-version=2023-11-01>; rel=\"items\"",
        "Operation-Location": "https://te0e57d80fe738c82-azconfig-net.azconfig.io/operations?snapshot=snapshot-793302209&api-version=2023-11-01",
        "Sync-Token": "zAJw6V16=Njo1IzUxNTQ5NTM4;sn=51549538"
      },
      "ResponseBody": {
        "etag": "41LWtsLhKuBmdAzNIgSgBHtxk_bkPb_KOLjFX19kvGs",
        "name": "snapshot-793302209",
        "status": "provisioning",
        "filters": [
          {
            "key": "key-673037262",
            "label": null,
            "tags": []
          }
        ],
        "composition_type": "key",
        "created": "2025-07-29T17:41:43.7119232+00:00",
        "size": 0,
        "items_count": 0,
        "tags": {},
        "retention_period": 2592000
      }
    },
    {
      "RequestUri": "https://te0e57d80fe738c82-azconfig-net.azconfig.io/operations?snapshot=snapshot-793302209&api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Njo1IzUxNTQ5NTM4",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "Sync-Token": "zAJw6V16=Njo1IzUxNTQ5NTM4;sn=51549538"
      },
      "ResponseBody": {
        "id": "3VWZc4q4rwMHZoFFkLJYbToI4ZGpvg1Zi-id6wigbZ8",
        "status": "Running",
        "error": null
      }
    },
[...]
    {
      "RequestUri": "https://te0e57d80fe738c82-azconfig-net.azconfig.io/snapshots/snapshot-793302209?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=Njo1IzUxNTQ5NTM5",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "status": "archived"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json; charset=utf-8",
        "ETag": "\"t6pF37m5rCj0ZRtSaRcrg0ann1gWpkqQN0Fu92qNIoM\"",
        "Last-Modified": "Tue, 29 Jul 2025 17:41:52 GMT",
        "Link": "</kv?snapshot=snapshot-793302209&api-version=2023-11-01>; rel=\"items\"",
        "Sync-Token": "zAJw6V16=Njo1IzUxNTQ5NTQw;sn=51549540"
      },
      "ResponseBody": {
        "etag": "t6pF37m5rCj0ZRtSaRcrg0ann1gWpkqQN0Fu92qNIoM",
        "name": "snapshot-793302209",
        "status": "archived",
        "filters": [
          {
            "key": "key-673037262",
            "label": null,
            "tags": []
          }
        ],
        "composition_type": "key",
        "created": "2025-07-29T17:41:43+00:00",
        "expires": "2025-08-28T17:41:54.2544651+00:00",
        "size": 1000,
        "items_count": 0,
        "tags": {},
        "retention_period": 2592000
      }
    },
    {
      "RequestUri": "https://te0e57d80fe738c82-azconfig-net.azconfig.io/kv/key-673037262?api-version=2023-11-01&label=test_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Njo1IzUxNTQ5NTQw",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"jOHLmHAuops0Qe9AEeNwUTqm1Ab1N_SdoUfcRkeXFJA\"",
        "Last-Modified": "Tue, 29 Jul 2025 17:41:43 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzUxNTQ5NTQx;sn=51549541"
      },
      "ResponseBody": {
        "etag": "jOHLmHAuops0Qe9AEeNwUTqm1Ab1N_SdoUfcRkeXFJA",
        "key": "key-673037262",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2025-07-29T17:41:43+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://te0e57d80fe738c82-azconfig-net.azconfig.io;Id=L29Y;Secret=Kg==",
    "RandomSeed": "435734880"
  }
}
