{
  "Entries": [
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-714639259?api-version=2023-11-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"lColn4VSnTSGRs7xXQSeo4ijuOnW755LhP5J-62UaRo\"",
        "Last-Modified": "Tue, 23 Dec 2025 05:46:05 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTA0OTY5NQ==;sn=101049695",
        "x-ms-date": "Tue, 23 Dec 2025 05:46:05 GMT"
      },
      "ResponseBody": {
        "etag": "lColn4VSnTSGRs7xXQSeo4ijuOnW755LhP5J-62UaRo",
        "key": "key-714639259",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2025-12-23T05:46:05+00:00"
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/snapshots/snapshot-1313084788?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTA0OTY5NQ==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "filters": [
          {
            "key": "key-714639259"
          }
        ]
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json; charset=utf-8",
        "ETag": "\"1GTK3T46Qo7a99ZnrOXdxoGOVeoKClxSqyhaPLlwXeA\"",
        "Last-Modified": "Tue, 23 Dec 2025 05:46:05 GMT",
        "Link": "</kv?snapshot=snapshot-1313084788&api-version=2023-11-01>; rel=\"items\"",
        "Operation-Location": "https://t9c954b564de572f9-azconfig-net.azconfig.io/operations?snapshot=snapshot-1313084788&api-version=2023-11-01",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTA0OTY5Ng==;sn=101049696",
        "x-ms-date": "Tue, 23 Dec 2025 05:46:05 GMT"
      },
      "ResponseBody": {
        "etag": "1GTK3T46Qo7a99ZnrOXdxoGOVeoKClxSqyhaPLlwXeA",
        "name": "snapshot-1313084788",
        "status": "provisioning",
        "filters": [
          {
            "key": "key-714639259",
            "label": null,
            "tags": []
          }
        ],
        "composition_type": "key",
        "created": "2025-12-23T05:46:05.5866846+00:00",
        "size": 0,
        "items_count": 0,
        "tags": {},
        "retention_period": 2592000
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/operations?api-version=2023-11-01&snapshot=snapshot-1313084788",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTA0OTY5Ng==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTA0OTY5Ng==;sn=101049696",
        "x-ms-date": "Tue, 23 Dec 2025 05:46:05 GMT"
      },
      "ResponseBody": {
        "id": "h_oFYv-fomfjT5AmwsRBjDvxGPGSrtCTAiWOqJmgN7k",
        "status": "Running",
        "error": null
      }
    },
[...]
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/snapshots/snapshot-1313084788?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTA0OTY5Nw==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "status": "archived"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json; charset=utf-8",
        "ETag": "\"4gQVh9p8e1lVKFygNzydeR4vg7XqV3unJKWSf7QXAXQ\"",
        "Last-Modified": "Tue, 23 Dec 2025 05:46:20 GMT",
        "Link": "</kv?snapshot=snapshot-1313084788&api-version=2023-11-01>; rel=\"items\"",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTA0OTY5OA==;sn=101049698",
        "x-ms-date": "Tue, 23 Dec 2025 05:46:26 GMT"
      },
      "ResponseBody": {
        "etag": "4gQVh9p8e1lVKFygNzydeR4vg7XqV3unJKWSf7QXAXQ",
        "name": "snapshot-1313084788",
        "status": "archived",
        "filters": [
          {
            "key": "key-714639259",
            "label": null,
            "tags": []
          }
        ],
        "composition_type": "key",
        "created": "2025-12-23T05:46:05+00:00",
        "expires": "2026-01-22T05:46:26.3401515+00:00",
        "size": 1000,
        "items_count": 0,
        "tags": {},
        "retention_period": 2592000
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-714639259?api-version=2023-11-01&label=test_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTA0OTY5OA==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"lColn4VSnTSGRs7xXQSeo4ijuOnW755LhP5J-62UaRo\"",
        "Last-Modified": "Tue, 23 Dec 2025 05:46:05 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTA0OTY5OQ==;sn=101049699",
        "x-ms-date": "Tue, 23 Dec 2025 05:46:26 GMT"
      },
      "ResponseBody": {
        "etag": "lColn4VSnTSGRs7xXQSeo4ijuOnW755LhP5J-62UaRo",
        "key": "key-714639259",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2025-12-23T05:46:05+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t9c954b564de572f9-azconfig-net.azconfig.io;Id=MdvE;Secret=Kg==",
    "RandomSeed": "2093874414"
  }
}
