{
  "Entries": [
    {
      "RequestUri": "https://t02f6e87f544544f3-azconfig-net.azconfig.io/kv/key-697032420?label=test_label\u0026api-version=2022-11-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "b11OQu6GthUatwGXUIKHHSRVyik0TdrUk5kZm3yZd2A="
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022xV_L_yRMIcETefph8EVOjgKqwIXX4fbkzXoBgSyihFo\u0022",
        "Last-Modified": "Fri, 30 Jun 2023 20:00:23 GMT",
        "Sync-Token": "zAJw6V16=ODo1IzI0ODcwNzEz;sn=24870713"
      },
      "ResponseBody": {
        "etag": "xV_L_yRMIcETefph8EVOjgKqwIXX4fbkzXoBgSyihFo",
        "key": "key-697032420",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2023-06-30T20:00:23\u002B00:00"
      }
    },
    {
      "RequestUri": "https://t02f6e87f544544f3-azconfig-net.azconfig.io/snapshots/some_snapshot-150f8376-bb5d-4d1d-8a0d-2b5415068845?api-version=2022-11-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=ODo1IzI0ODcwNzEz",
        "x-ms-content-sha256": "lskm5lHgob6mUwPkQXiaXERi4xPHEo0KzR\u002BQjfR0eJU="
      },
      "RequestBody": {
        "filters": [
          {
            "key": "key-697032420"
          }
        ]
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot\u002Bjson; charset=utf-8",
        "ETag": "\u00224zI1Us-H2GV9RQV6v027QsmqTzl84eVh32MhFGfkGzE\u0022",
        "Last-Modified": "Fri, 30 Jun 2023 20:00:23 GMT",
        "Link": "\u003C/kv?snapshot=some_snapshot-150f8376-bb5d-4d1d-8a0d-2b5415068845\u0026api-version=2022-11-01-preview\u003E; rel=\u0022items\u0022",
        "Operation-Location": "https://t02f6e87f544544f3-azconfig-net.azconfig.io/operations?snapshot=some_snapshot-150f8376-bb5d-4d1d-8a0d-2b5415068845\u0026api-version=2022-11-01-preview",
        "Sync-Token": "zAJw6V16=ODo1IzI0ODcwNzE0;sn=24870714"
      },
      "ResponseBody": {
        "etag": "4zI1Us-H2GV9RQV6v027QsmqTzl84eVh32MhFGfkGzE",
        "name": "some_snapshot-150f8376-bb5d-4d1d-8a0d-2b5415068845",
        "status": "provisioning",
        "filters": [
          {
            "key": "key-697032420",
            "label": null
          }
        ],
        "composition_type": "key",
        "created": "2023-06-30T20:00:23\u002B00:00",
        "size": 0,
        "items_count": 0,
        "tags": {},
        "retention_period": 2592000
      }
    },
    {
      "RequestUri": "https://t02f6e87f544544f3-azconfig-net.azconfig.io/operations?snapshot=some_snapshot-150f8376-bb5d-4d1d-8a0d-2b5415068845\u0026api-version=2022-11-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=ODo1IzI0ODcwNzE0",
        "x-ms-content-sha256": "47DEQpj8HBSa\u002B/TImW\u002B5JCeuQeRkm5NMpJWZG3hSuFU="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "Sync-Token": "zAJw6V16=ODo1IzI0ODcwNzE0;sn=24870714"
      },
      "ResponseBody": {
        "id": "u5WpSsaohPTxvrwzLCuYXRK9TOrItOvF_vxxed9_22E",
        "status": "Running",
        "error": null
      }
    },
[...]
    {
      "RequestUri": "https://t02f6e87f544544f3-azconfig-net.azconfig.io/snapshots/some_snapshot-150f8376-bb5d-4d1d-8a0d-2b5415068845?api-version=2022-11-01-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=ODo1IzI0ODcwNzE1",
        "x-ms-content-sha256": "tynngJHjE7uDMwpGVh1hcULF0zuJfLFECY9VxlHWIWo="
      },
      "RequestBody": {
        "status": "archived"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot\u002Bjson; charset=utf-8",
        "ETag": "\u0022quc8LQQY_Vu0e4tCd4PKPYo6I0-a2VUatI9l7Kq0vCs\u0022",
        "Last-Modified": "Fri, 30 Jun 2023 20:00:23 GMT",
        "Link": "\u003C/kv?snapshot=some_snapshot-150f8376-bb5d-4d1d-8a0d-2b5415068845\u0026api-version=2022-11-01-preview\u003E; rel=\u0022items\u0022",
        "Sync-Token": "zAJw6V16=ODo1IzI0ODcwNzE2;sn=24870716"
      },
      "ResponseBody": {
        "etag": "quc8LQQY_Vu0e4tCd4PKPYo6I0-a2VUatI9l7Kq0vCs",
        "name": "some_snapshot-150f8376-bb5d-4d1d-8a0d-2b5415068845",
        "status": "archived",
        "filters": [
          {
            "key": "key-697032420",
            "label": null
          }
        ],
        "composition_type": "key",
        "created": "2023-06-30T20:00:23\u002B00:00",
        "expires": "2023-07-30T20:00:34.1593254\u002B00:00",
        "size": 1000,
        "items_count": 0,
        "tags": {},
        "retention_period": 2592000
      }
    },
    {
      "RequestUri": "https://t02f6e87f544544f3-azconfig-net.azconfig.io/kv/key-697032420?label=test_label\u0026api-version=2022-11-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=ODo1IzI0ODcwNzE2",
        "x-ms-content-sha256": "47DEQpj8HBSa\u002B/TImW\u002B5JCeuQeRkm5NMpJWZG3hSuFU="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022xV_L_yRMIcETefph8EVOjgKqwIXX4fbkzXoBgSyihFo\u0022",
        "Last-Modified": "Fri, 30 Jun 2023 20:00:23 GMT",
        "Sync-Token": "zAJw6V16=ODo1IzI0ODcwNzE3;sn=24870717"
      },
      "ResponseBody": {
        "etag": "xV_L_yRMIcETefph8EVOjgKqwIXX4fbkzXoBgSyihFo",
        "key": "key-697032420",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2023-06-30T20:00:23\u002B00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t02f6e87f544544f3-azconfig-net.azconfig.io;Id=Ek\u002BM;Secret=Kg==",
    "RandomSeed": "101201106"
  }
}
