{
  "Entries": [
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-455084397?api-version=2023-11-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"ovNSoh0ZDtKvC63UouR9KTWVpa6MIjLdZXZUW64M2-E\"",
        "Last-Modified": "Tue, 06 Jan 2026 06:25:48 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTc3Mjk1Mg==;sn=101772952",
        "x-ms-date": "Tue, 06 Jan 2026 06:25:48 GMT"
      },
      "ResponseBody": {
        "etag": "ovNSoh0ZDtKvC63UouR9KTWVpa6MIjLdZXZUW64M2-E",
        "key": "key-455084397",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-01-06T06:25:48+00:00"
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/snapshots/snapshot-762517105?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTc3Mjk1Mg==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "filters": [
          {
            "key": "key-455084397"
          }
        ]
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json; charset=utf-8",
        "ETag": "\"IWEDzVjQpjsaNtI6Ih__UmPdZUEdLOsO6BpjfOU_DV0\"",
        "Last-Modified": "Tue, 06 Jan 2026 06:25:48 GMT",
        "Link": "</kv?snapshot=snapshot-762517105&api-version=2023-11-01>; rel=\"items\"",
        "Operation-Location": "https://t9c954b564de572f9-azconfig-net.azconfig.io/operations?snapshot=snapshot-762517105&api-version=2023-11-01",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTc3Mjk1Mw==;sn=101772953",
        "x-ms-date": "Tue, 06 Jan 2026 06:25:48 GMT"
      },
      "ResponseBody": {
        "etag": "IWEDzVjQpjsaNtI6Ih__UmPdZUEdLOsO6BpjfOU_DV0",
        "name": "snapshot-762517105",
        "status": "provisioning",
        "filters": [
          {
            "key": "key-455084397",
            "label": null,
            "tags": []
          }
        ],
        "composition_type": "key",
        "created": "2026-01-06T06:25:48.8363249+00:00",
        "size": 0,
        "items_count": 0,
        "tags": {},
        "retention_period": 2592000
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/operations?api-version=2023-11-01&snapshot=snapshot-762517105",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTc3Mjk1Mw==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTc3Mjk1Mw==;sn=101772953",
        "x-ms-date": "Tue, 06 Jan 2026 06:25:49 GMT"
      },
      "ResponseBody": {
        "id": "IoC2fk2p5Ud-MkJz7MNxTCpRPsjUyCJjQzHEZkIRMto",
        "status": "Running",
        "error": null
      }
    },
[...]
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/snapshots/snapshot-762517105?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTc3Mjk1NA==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "status": "archived"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json; charset=utf-8",
        "ETag": "\"Iqw0ojIaaoVa4X2S8VGSTqGkKIJAtJb1IpgiIqiHMP8\"",
        "Last-Modified": "Tue, 06 Jan 2026 06:25:50 GMT",
        "Link": "</kv?snapshot=snapshot-762517105&api-version=2023-11-01>; rel=\"items\"",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTc3Mjk1NQ==;sn=101772955",
        "x-ms-date": "Tue, 06 Jan 2026 06:25:59 GMT"
      },
      "ResponseBody": {
        "etag": "Iqw0ojIaaoVa4X2S8VGSTqGkKIJAtJb1IpgiIqiHMP8",
        "name": "snapshot-762517105",
        "status": "archived",
        "filters": [
          {
            "key": "key-455084397",
            "label": null,
            "tags": []
          }
        ],
        "composition_type": "key",
        "created": "2026-01-06T06:25:48+00:00",
        "expires": "2026-02-05T06:25:59.7172669+00:00",
        "size": 1000,
        "items_count": 0,
        "tags": {},
        "retention_period": 2592000
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-455084397?api-version=2023-11-01&label=test_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTc3Mjk1NQ==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"ovNSoh0ZDtKvC63UouR9KTWVpa6MIjLdZXZUW64M2-E\"",
        "Last-Modified": "Tue, 06 Jan 2026 06:25:48 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTc3Mjk1Ng==;sn=101772956",
        "x-ms-date": "Tue, 06 Jan 2026 06:25:59 GMT"
      },
      "ResponseBody": {
        "etag": "ovNSoh0ZDtKvC63UouR9KTWVpa6MIjLdZXZUW64M2-E",
        "key": "key-455084397",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-01-06T06:25:48+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t9c954b564de572f9-azconfig-net.azconfig.io;Id=MdvE;Secret=Kg==",
    "RandomSeed": "1070577040"
  }
}
