{
  "Entries": [
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv/key-2091670376?api-version=2026-04-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "description": "test_description"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"AxIuf8sFQi-a2LF4KLzYgR4JhMlCT51d5Jb_6QO0Gb8\"",
        "Last-Modified": "Wed, 10 Jun 2026 21:29:07 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDk0MTUz;sn=67094153",
        "x-ms-date": "Wed, 10 Jun 2026 21:29:07 GMT"
      },
      "ResponseBody": {
        "etag": "AxIuf8sFQi-a2LF4KLzYgR4JhMlCT51d5Jb_6QO0Gb8",
        "key": "key-2091670376",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "description": "test_description",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-06-10T21:29:07+00:00"
      }
    },
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/snapshots/snapshot-214769535?api-version=2026-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDk0MTUz"
      },
      "RequestBody": {
        "filters": [
          {
            "key": "key-2091670376"
          }
        ],
        "retention_period": 3600,
        "description": "Test snapshot description"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json; charset=utf-8",
        "ETag": "\"UmxqVFZUnXYVByFV7tJRnBwPEwv-GIPztU5Sh515QkE\"",
        "Last-Modified": "Wed, 10 Jun 2026 21:29:07 GMT",
        "Link": "</kv?snapshot=snapshot-214769535&api-version=2026-04-01>; rel=\"items\"",
        "Operation-Location": "https://mrm90847047-azconfig-net.azconfig.io/operations?snapshot=snapshot-214769535&api-version=2026-04-01",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDk0MTU0;sn=67094154",
        "x-ms-date": "Wed, 10 Jun 2026 21:29:07 GMT"
      },
      "ResponseBody": {
        "etag": "UmxqVFZUnXYVByFV7tJRnBwPEwv-GIPztU5Sh515QkE",
        "name": "snapshot-214769535",
        "description": "Test snapshot description",
        "status": "provisioning",
        "filters": [
          {
            "key": "key-2091670376",
            "label": null,
            "tags": []
          }
        ],
        "composition_type": "key",
        "created": "2026-06-10T21:29:07.1729328+00:00",
        "size": 0,
        "items_count": 0,
        "tags": {},
        "retention_period": 3600
      }
    },
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/operations?api-version=2026-04-01&snapshot=snapshot-214769535",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDk0MTU0"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDk0MTU0;sn=67094154",
        "x-ms-date": "Wed, 10 Jun 2026 21:29:07 GMT"
      },
      "ResponseBody": {
        "id": "i5vsWoNifdfL_qiShwp0mSg6Gu29TAEM4tPejApCcYg",
        "status": "Running",
        "error": null
      }
    },
[...]
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/snapshots/snapshot-214769535?api-version=2026-04-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDk0MTU1"
      },
      "RequestBody": {
        "status": "archived"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json; charset=utf-8",
        "ETag": "\"bv2ambWdnWfmaOY7V2AS7NoKVPvPyb2hWc4o11vlNng\"",
        "Last-Modified": "Wed, 10 Jun 2026 21:29:10 GMT",
        "Link": "</kv?snapshot=snapshot-214769535&api-version=2026-04-01>; rel=\"items\"",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDk0MTU2;sn=67094156",
        "x-ms-date": "Wed, 10 Jun 2026 21:29:17 GMT"
      },
      "ResponseBody": {
        "etag": "bv2ambWdnWfmaOY7V2AS7NoKVPvPyb2hWc4o11vlNng",
        "name": "snapshot-214769535",
        "description": "Test snapshot description",
        "status": "archived",
        "filters": [
          {
            "key": "key-2091670376",
            "label": null,
            "tags": []
          }
        ],
        "composition_type": "key",
        "created": "2026-06-10T21:29:07+00:00",
        "expires": "2026-06-10T22:29:17.520405+00:00",
        "size": 1000,
        "items_count": 0,
        "tags": {},
        "retention_period": 3600
      }
    },
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv/key-2091670376?api-version=2026-04-01&label=test_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDk0MTU2"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"AxIuf8sFQi-a2LF4KLzYgR4JhMlCT51d5Jb_6QO0Gb8\"",
        "Last-Modified": "Wed, 10 Jun 2026 21:29:07 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDk0MTU3;sn=67094157",
        "x-ms-date": "Wed, 10 Jun 2026 21:29:17 GMT"
      },
      "ResponseBody": {
        "etag": "AxIuf8sFQi-a2LF4KLzYgR4JhMlCT51d5Jb_6QO0Gb8",
        "key": "key-2091670376",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "description": "test_description",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-06-10T21:29:07+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_ENDPOINT_STRING": "https://mrm90847047-azconfig-net.azconfig.io",
    "RandomSeed": "1777461752"
  }
}
