{
  "Entries": [
    {
      "RequestUri": "https://azure-sdk-for-net-test.azconfig.io/kv/secret%201-1104807115?api-version=2026-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "{\"uri\":\"http://secret1.com/\"}",
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"nWcOX52wCn453BQdntUgGtx3frw53iMsitWh7ZjbfAM\"",
        "Last-Modified": "Wed, 27 May 2026 23:59:32 GMT",
        "Sync-Token": "zAJw6V16=NToxNyM0ODA0MjIxMw==;sn=48042213",
        "x-ms-date": "Wed, 27 May 2026 23:59:32 GMT"
      },
      "ResponseBody": {
        "etag": "nWcOX52wCn453BQdntUgGtx3frw53iMsitWh7ZjbfAM",
        "key": "secret 1-1104807115",
        "label": null,
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
        "value": "{\"uri\":\"http://secret1.com/\"}",
        "description": null,
        "tags": {},
        "locked": false,
        "last_modified": "2026-05-27T23:59:32+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://azure-sdk-for-net-test.azconfig.io/kv?api-version=2026-04-01&key=secret%201-%2A",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NToxNyM0ODA0MjIxNA==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"kf2x2iJiCYLans1XgFw9CSW8Jay6gtxCCVdJhEjYdNE\"",
        "Sync-Token": "zAJw6V16=NToxNyM0ODA0MjIxNA==;sn=48042214",
        "x-ms-date": "Wed, 27 May 2026 23:59:32 GMT"
      },
      "ResponseBody": {
        "etag": "kf2x2iJiCYLans1XgFw9CSW8Jay6gtxCCVdJhEjYdNE",
        "items": [
          {
            "etag": "nWcOX52wCn453BQdntUgGtx3frw53iMsitWh7ZjbfAM",
            "key": "secret 1-1104807115",
            "label": null,
            "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
            "value": "{\"uri\":\"http://secret1.com/\"}",
            "description": null,
            "tags": {},
            "locked": false,
            "last_modified": "2026-05-27T23:59:32+00:00"
          },
          {
            "etag": "iqlOYunmlxV4KfkDTC-lBtrWI0gCT1R2N5aXPAmc1H0",
            "key": "secret 1-2360109879",
            "label": null,
            "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
            "value": "{\"uri\":\"http://secret2.com/\"}",
            "description": null,
            "tags": {},
            "locked": false,
            "last_modified": "2026-05-27T23:59:32+00:00"
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://azure-sdk-for-net-test.azconfig.io/kv/secret%201-2360109879?api-version=2026-04-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NToxNyM0ODA0MjIxNQ==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"iqlOYunmlxV4KfkDTC-lBtrWI0gCT1R2N5aXPAmc1H0\"",
        "Last-Modified": "Wed, 27 May 2026 23:59:32 GMT",
        "Sync-Token": "zAJw6V16=NToxNyM0ODA0MjIxNg==;sn=48042216",
        "x-ms-date": "Wed, 27 May 2026 23:59:32 GMT"
      },
      "ResponseBody": {
        "etag": "iqlOYunmlxV4KfkDTC-lBtrWI0gCT1R2N5aXPAmc1H0",
        "key": "secret 1-2360109879",
        "label": null,
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
        "value": "{\"uri\":\"http://secret2.com/\"}",
        "description": null,
        "tags": {},
        "locked": false,
        "last_modified": "2026-05-27T23:59:32+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://azure-sdk-for-net-test.azconfig.io;Id=8ePU;Secret=Kg==",
    "RandomSeed": "1721933637"
  }
}
