{
  "Entries": [
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv/secret433799289?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "value": "{\"uri\":\"http://secret1.com/\"}",
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"S3XdygWvUuNZEOwE9SMdeCi5Lfsbzyoxeuj17nVJ_z4\"",
        "Last-Modified": "Tue, 09 Jun 2026 22:50:49 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY2OTk0NTMx;sn=66994531",
        "x-ms-date": "Tue, 09 Jun 2026 22:50:49 GMT"
      },
      "ResponseBody": {
        "etag": "S3XdygWvUuNZEOwE9SMdeCi5Lfsbzyoxeuj17nVJ_z4",
        "key": "secret433799289",
        "label": null,
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
        "value": "{\"uri\":\"http://secret1.com/\"}",
        "tags": {},
        "locked": false,
        "last_modified": "2026-06-09T22:50:49+00:00"
      }
    },
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv/secret433799289?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Mzo1IzY2OTk0NTMx"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"S3XdygWvUuNZEOwE9SMdeCi5Lfsbzyoxeuj17nVJ_z4\"",
        "Last-Modified": "Tue, 09 Jun 2026 22:50:49 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY2OTk0NTMy;sn=66994532",
        "x-ms-date": "Tue, 09 Jun 2026 22:50:49 GMT"
      },
      "ResponseBody": {
        "etag": "S3XdygWvUuNZEOwE9SMdeCi5Lfsbzyoxeuj17nVJ_z4",
        "key": "secret433799289",
        "label": null,
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
        "value": "{\"uri\":\"http://secret1.com/\"}",
        "tags": {},
        "locked": false,
        "last_modified": "2026-06-09T22:50:49+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_ENDPOINT_STRING": "https://mrm90847047-azconfig-net.azconfig.io",
    "RandomSeed": "332314518"
  }
}
