{
  "Entries": [
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/.appconfig.featureflag%2Ffeature%201633040816?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "{\"id\":\"feature 1633040816\",\"description\":\"Feature description\",\"display_name\":\"Feature display name\",\"enabled\":true,\"conditions\":{\"client_filters\":[{\"name\":\"FilterA\",\"parameters\":{}},{\"name\":\"Microsoft.TimeWindow\",\"parameters\":{\"Start\":\"Wed, 01 May 2019 13:59:59 GMT\",\"End\":\"Mon, 01 July 2019 00:00:00 GMT\"}}]}}",
        "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"ujlJDz2Kn1VKlZonKPhCpenz2d0QYR2jonr35fw6Dvk\"",
        "Last-Modified": "Tue, 06 Jan 2026 01:15:51 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTc2NTY4Mg==;sn=101765682",
        "x-ms-date": "Tue, 06 Jan 2026 01:15:51 GMT"
      },
      "ResponseBody": {
        "etag": "ujlJDz2Kn1VKlZonKPhCpenz2d0QYR2jonr35fw6Dvk",
        "key": ".appconfig.featureflag/feature 1633040816",
        "label": null,
        "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
        "value": "{\"id\":\"feature 1633040816\",\"description\":\"Feature description\",\"display_name\":\"Feature display name\",\"enabled\":true,\"conditions\":{\"client_filters\":[{\"name\":\"FilterA\",\"parameters\":{}},{\"name\":\"Microsoft.TimeWindow\",\"parameters\":{\"Start\":\"Wed, 01 May 2019 13:59:59 GMT\",\"End\":\"Mon, 01 July 2019 00:00:00 GMT\"}}]}}",
        "tags": {},
        "locked": false,
        "last_modified": "2026-01-06T01:15:51+00:00"
      }
    },
[...]
