{
  "Entries": [
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/.appconfig.featureflag%2Fminimal-feature1161660177?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "{\"id\":\"minimal-feature1161660177\"}",
        "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"KH1iIYgG6PZUEYtbVsMPbrvIswxb4JRKECL0FweA-KQ\"",
        "Last-Modified": "Mon, 26 Jan 2026 05:37:04 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzg1MDE4NA==;sn=103850184",
        "x-ms-date": "Mon, 26 Jan 2026 05:37:04 GMT"
      },
      "ResponseBody": {
        "etag": "KH1iIYgG6PZUEYtbVsMPbrvIswxb4JRKECL0FweA-KQ",
        "key": ".appconfig.featureflag/minimal-feature1161660177",
        "label": null,
        "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
        "value": "{\"id\":\"minimal-feature1161660177\"}",
        "tags": {},
        "locked": false,
        "last_modified": "2026-01-26T05:37:04+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/.appconfig.featureflag%2Fminimal-feature1161660177?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzg1MDE4NA==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"KH1iIYgG6PZUEYtbVsMPbrvIswxb4JRKECL0FweA-KQ\"",
        "Last-Modified": "Mon, 26 Jan 2026 05:37:04 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzg1MDE4NQ==;sn=103850185",
        "x-ms-date": "Mon, 26 Jan 2026 05:37:04 GMT"
      },
      "ResponseBody": {
        "etag": "KH1iIYgG6PZUEYtbVsMPbrvIswxb4JRKECL0FweA-KQ",
        "key": ".appconfig.featureflag/minimal-feature1161660177",
        "label": null,
        "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
        "value": "{\"id\":\"minimal-feature1161660177\"}",
        "tags": {},
        "locked": false,
        "last_modified": "2026-01-26T05:37:04+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t9c954b564de572f9-azconfig-net.azconfig.io;Id=MdvE;Secret=Kg==",
    "RandomSeed": "1113844609"
  }
}
