{
  "Entries": [
    {
      "RequestUri": "https://tdfcae3cf5eab7143-azconfig-net.azconfig.io/kv/.appconfig.featureflag%2Ffeature%201-21165727995?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "{\"id\":\"feature 1-21165727995\",\"description\":\"Feature description\",\"enabled\":true,\"conditions\":{}}",
        "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"S3HnXLwZEJsIyb7k1MSApqAhH7D4ggn16YIss5t-KoI\"",
        "Last-Modified": "Thu, 12 Jun 2025 16:18:02 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzQyMjIwNTE3;sn=42220517"
      },
      "ResponseBody": {
        "etag": "S3HnXLwZEJsIyb7k1MSApqAhH7D4ggn16YIss5t-KoI",
        "key": ".appconfig.featureflag/feature 1-21165727995",
        "label": null,
        "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
        "value": "{\"id\":\"feature 1-21165727995\",\"description\":\"Feature description\",\"enabled\":true,\"conditions\":{}}",
        "tags": {},
        "locked": false,
        "last_modified": "2025-06-12T16:18:02+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://tdfcae3cf5eab7143-azconfig-net.azconfig.io/kv?api-version=2023-11-01&key=.appconfig.featureflag%2Ffeature%201-%2A",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Mzo1IzQyMjIwNTE4",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"hRbhgF2tELuQwAGmMudA1IylKIYxWsagtrIf5lRyRpw\"",
        "Sync-Token": "zAJw6V16=Mzo1IzQyMjIwNTE4;sn=42220518"
      },
      "ResponseBody": {
        "etag": "hRbhgF2tELuQwAGmMudA1IylKIYxWsagtrIf5lRyRpw",
        "items": [
          {
            "etag": "LAMtx-lttfSj1YNOFAm-PumhSnMmXr4qU9FSnWsaSEQ",
            "key": ".appconfig.featureflag/feature 1-11096781140",
            "label": null,
            "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
            "value": "{\"id\":\"feature 1-11096781140\",\"description\":\"Feature description\",\"enabled\":true,\"conditions\":{}}",
            "tags": {},
            "locked": false,
            "last_modified": "2025-06-12T16:18:02+00:00"
          },
          {
            "etag": "S3HnXLwZEJsIyb7k1MSApqAhH7D4ggn16YIss5t-KoI",
            "key": ".appconfig.featureflag/feature 1-21165727995",
            "label": null,
            "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
            "value": "{\"id\":\"feature 1-21165727995\",\"description\":\"Feature description\",\"enabled\":true,\"conditions\":{}}",
            "tags": {},
            "locked": false,
            "last_modified": "2025-06-12T16:18:02+00:00"
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://tdfcae3cf5eab7143-azconfig-net.azconfig.io/kv/.appconfig.featureflag%2Ffeature%201-11096781140?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Mzo1IzQyMjIwNTE5",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"LAMtx-lttfSj1YNOFAm-PumhSnMmXr4qU9FSnWsaSEQ\"",
        "Last-Modified": "Thu, 12 Jun 2025 16:18:02 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzQyMjIwNTIw;sn=42220520"
      },
      "ResponseBody": {
        "etag": "LAMtx-lttfSj1YNOFAm-PumhSnMmXr4qU9FSnWsaSEQ",
        "key": ".appconfig.featureflag/feature 1-11096781140",
        "label": null,
        "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
        "value": "{\"id\":\"feature 1-11096781140\",\"description\":\"Feature description\",\"enabled\":true,\"conditions\":{}}",
        "tags": {},
        "locked": false,
        "last_modified": "2025-06-12T16:18:02+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://tdfcae3cf5eab7143-azconfig-net.azconfig.io;Id=GAEe;Secret=Kg==",
    "RandomSeed": "1512909475"
  }
}
