{
  "Entries": [
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/secret613294032?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "{\"uri\":\"http://secret1.com/\"}",
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"RRxm3cWl6uCG568Za5QfrRpiMgKW6dUGE0q5aH-ErXk\"",
        "Last-Modified": "Mon, 26 Jan 2026 05:44:19 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzg1MTQyOA==;sn=103851428",
        "x-ms-date": "Mon, 26 Jan 2026 05:44:19 GMT"
      },
      "ResponseBody": {
        "etag": "RRxm3cWl6uCG568Za5QfrRpiMgKW6dUGE0q5aH-ErXk",
        "key": "secret613294032",
        "label": null,
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
        "value": "{\"uri\":\"http://secret1.com/\"}",
        "tags": {},
        "locked": false,
        "last_modified": "2026-01-26T05:44:19+00:00"
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/secret613294032?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzg1MTQyOA==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"RRxm3cWl6uCG568Za5QfrRpiMgKW6dUGE0q5aH-ErXk\"",
        "Last-Modified": "Mon, 26 Jan 2026 05:44:19 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzg1MTQyOQ==;sn=103851429",
        "x-ms-date": "Mon, 26 Jan 2026 05:44:20 GMT"
      },
      "ResponseBody": {
        "etag": "RRxm3cWl6uCG568Za5QfrRpiMgKW6dUGE0q5aH-ErXk",
        "key": "secret613294032",
        "label": null,
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
        "value": "{\"uri\":\"http://secret1.com/\"}",
        "tags": {},
        "locked": false,
        "last_modified": "2026-01-26T05:44:19+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t9c954b564de572f9-azconfig-net.azconfig.io;Id=MdvE;Secret=Kg==",
    "RandomSeed": "2020540902"
  }
}
