{
  "Entries": [
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/secret324090230?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "{\"uri\":\"http://secret1.com/\"}",
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"T-PRmIO3ppX98sbWS--9OqcGhQeMA9xeiQgkIXmGaEI\"",
        "Last-Modified": "Tue, 23 Dec 2025 05:39:55 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTA0OTIyNg==;sn=101049226",
        "x-ms-date": "Tue, 23 Dec 2025 05:39:55 GMT"
      },
      "ResponseBody": {
        "etag": "T-PRmIO3ppX98sbWS--9OqcGhQeMA9xeiQgkIXmGaEI",
        "key": "secret324090230",
        "label": null,
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
        "value": "{\"uri\":\"http://secret1.com/\"}",
        "tags": {},
        "locked": false,
        "last_modified": "2025-12-23T05:39:55+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/secret324090230?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTA0OTIyOA==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"b9HbVTxRZqG-bYiTJ4kJMJnczGDuT4PTSBBHuHe8bUk\"",
        "Last-Modified": "Tue, 23 Dec 2025 05:39:56 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTA0OTIyOQ==;sn=101049229",
        "x-ms-date": "Tue, 23 Dec 2025 05:39:56 GMT"
      },
      "ResponseBody": {
        "etag": "b9HbVTxRZqG-bYiTJ4kJMJnczGDuT4PTSBBHuHe8bUk",
        "key": "secret324090230",
        "label": null,
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
        "value": "{\"uri\":\"http://secret2.com/\"}",
        "tags": {},
        "locked": false,
        "last_modified": "2025-12-23T05:39:56+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t9c954b564de572f9-azconfig-net.azconfig.io;Id=MdvE;Secret=Kg==",
    "RandomSeed": "460814945"
  }
}
