{
  "Entries": [
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/kv/secret1066814598?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "{\"uri\":\"http://secret1.com/\"}",
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"7Q3QQATB78gM-httztv84Zq96A1nm7rV9n1_MNpwuTI\"",
        "Last-Modified": "Tue, 18 Nov 2025 04:20:39 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzU3ODAzODMy;sn=57803832",
        "x-ms-date": "Tue, 18 Nov 2025 04:20:39 GMT"
      },
      "ResponseBody": {
        "etag": "7Q3QQATB78gM-httztv84Zq96A1nm7rV9n1_MNpwuTI",
        "key": "secret1066814598",
        "label": null,
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
        "value": "{\"uri\":\"http://secret1.com/\"}",
        "tags": {},
        "locked": false,
        "last_modified": "2025-11-18T04:20:39+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/kv/secret1066814598?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Njo1IzU3ODAzODM0",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"V19RINwjXde1FtlXfAiffiBHx0FfOrk7RauJQY7FlWI\"",
        "Last-Modified": "Tue, 18 Nov 2025 04:20:39 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzU3ODAzODM1;sn=57803835",
        "x-ms-date": "Tue, 18 Nov 2025 04:20:39 GMT"
      },
      "ResponseBody": {
        "etag": "V19RINwjXde1FtlXfAiffiBHx0FfOrk7RauJQY7FlWI",
        "key": "secret1066814598",
        "label": null,
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
        "value": "{\"uri\":\"http://secret2.com/\"}",
        "tags": {},
        "locked": false,
        "last_modified": "2025-11-18T04:20:39+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t8cdd9157ca7d1363-azconfig-net.azconfig.io;Id=wNKY;Secret=Kg==",
    "RandomSeed": "2104329325"
  }
}
