{
  "Entries": [
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/secret1616451143?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "{\"uri\":\"http://secret1.com/\"}",
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"AE5ImQrfkSxxr64NZGPKVDJVgnb83jutsB4P_3-mRDk\"",
        "Last-Modified": "Mon, 26 Jan 2026 05:37:06 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzg1MDE5OA==;sn=103850198",
        "x-ms-date": "Mon, 26 Jan 2026 05:37:06 GMT"
      },
      "ResponseBody": {
        "etag": "AE5ImQrfkSxxr64NZGPKVDJVgnb83jutsB4P_3-mRDk",
        "key": "secret1616451143",
        "label": null,
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
        "value": "{\"uri\":\"http://secret1.com/\"}",
        "tags": {},
        "locked": false,
        "last_modified": "2026-01-26T05:37:06+00:00"
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/secret1616451143?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzg1MDE5OA==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"AE5ImQrfkSxxr64NZGPKVDJVgnb83jutsB4P_3-mRDk\"",
        "Last-Modified": "Mon, 26 Jan 2026 05:37:06 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzg1MDE5OQ==;sn=103850199",
        "x-ms-date": "Mon, 26 Jan 2026 05:37:06 GMT"
      },
      "ResponseBody": {
        "etag": "AE5ImQrfkSxxr64NZGPKVDJVgnb83jutsB4P_3-mRDk",
        "key": "secret1616451143",
        "label": null,
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
        "value": "{\"uri\":\"http://secret1.com/\"}",
        "tags": {},
        "locked": false,
        "last_modified": "2026-01-26T05:37:06+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t9c954b564de572f9-azconfig-net.azconfig.io;Id=MdvE;Secret=Kg==",
    "RandomSeed": "1442060778"
  }
}
