{
  "Entries": [
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv/.appconfig.featureflag%2Ffeature%2011438566450?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "value": "{\"id\":\"feature 11438566450\",\"description\":\"Feature description\",\"display_name\":\"Feature display name\",\"enabled\":true,\"conditions\":{\"client_filters\":[{\"name\":\"FilterA\",\"parameters\":{}},{\"name\":\"Microsoft.TimeWindow\",\"parameters\":{\"Start\":\"Wed, 01 May 2019 13:59:59 GMT\",\"End\":\"Mon, 01 July 2019 00:00:00 GMT\"}}]}}",
        "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"Exc8-WimhLaNi3R-DWL96nLTMWPNCz04RukMngK5jbQ\"",
        "Last-Modified": "Tue, 09 Jun 2026 22:59:35 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY2OTk1NzMw;sn=66995730",
        "x-ms-date": "Tue, 09 Jun 2026 22:59:35 GMT"
      },
      "ResponseBody": {
        "etag": "Exc8-WimhLaNi3R-DWL96nLTMWPNCz04RukMngK5jbQ",
        "key": ".appconfig.featureflag/feature 11438566450",
        "label": null,
        "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
        "value": "{\"id\":\"feature 11438566450\",\"description\":\"Feature description\",\"display_name\":\"Feature display name\",\"enabled\":true,\"conditions\":{\"client_filters\":[{\"name\":\"FilterA\",\"parameters\":{}},{\"name\":\"Microsoft.TimeWindow\",\"parameters\":{\"Start\":\"Wed, 01 May 2019 13:59:59 GMT\",\"End\":\"Mon, 01 July 2019 00:00:00 GMT\"}}]}}",
        "tags": {},
        "locked": false,
        "last_modified": "2026-06-09T22:59:35+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv/.appconfig.featureflag%2Ffeature%2011438566450?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Mzo1IzY2OTk1NzMy"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"I6RbHVmC1fhnrDGXcNev3Lepp4fq4nc7Yt71ks65aoA\"",
        "Last-Modified": "Tue, 09 Jun 2026 22:59:35 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY2OTk1NzMz;sn=66995733",
        "x-ms-date": "Tue, 09 Jun 2026 22:59:35 GMT"
      },
      "ResponseBody": {
        "etag": "I6RbHVmC1fhnrDGXcNev3Lepp4fq4nc7Yt71ks65aoA",
        "key": ".appconfig.featureflag/feature 11438566450",
        "label": null,
        "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
        "value": "{\"id\":\"feature 11438566450\",\"description\":\"Feature description\",\"display_name\":\"Feature display name\",\"enabled\":false,\"conditions\":{\"client_filters\":[{\"name\":\"FilterA\",\"parameters\":{}},{\"name\":\"Microsoft.TimeWindow\",\"parameters\":{\"Start\":\"Wed, 01 May 2019 13:59:59 GMT\",\"End\":\"Mon, 01 July 2019 00:00:00 GMT\"}}]}}",
        "tags": {},
        "locked": false,
        "last_modified": "2026-06-09T22:59:35+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_ENDPOINT_STRING": "https://mrm90847047-azconfig-net.azconfig.io",
    "RandomSeed": "1490477844"
  }
}
