{
  "Entries": [
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/kv/secret%201-11677155621?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "{\"uri\":\"http://secret1.com/\"}",
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"u8dw5jt0KjVjtdcd_IZZyd3tRsqRSC_SXIapkgPv41E\"",
        "Last-Modified": "Mon, 17 Nov 2025 16:53:50 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzU3NzY0NjAy;sn=57764602",
        "x-ms-date": "Mon, 17 Nov 2025 16:53:50 GMT"
      },
      "ResponseBody": {
        "etag": "u8dw5jt0KjVjtdcd_IZZyd3tRsqRSC_SXIapkgPv41E",
        "key": "secret 1-11677155621",
        "label": null,
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
        "value": "{\"uri\":\"http://secret1.com/\"}",
        "tags": {},
        "locked": false,
        "last_modified": "2025-11-17T16:53:50+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/kv?api-version=2023-11-01&key=secret%201-%2A",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Njo1IzU3NzY0NjAz",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"buRdVGU11pw1IOeIpMQZuK-7BHYvdcXFMP4r3JgCzA8\"",
        "Sync-Token": "zAJw6V16=Njo1IzU3NzY0NjAz;sn=57764603",
        "x-ms-date": "Mon, 17 Nov 2025 16:53:50 GMT"
      },
      "ResponseBody": {
        "etag": "buRdVGU11pw1IOeIpMQZuK-7BHYvdcXFMP4r3JgCzA8",
        "items": [
          {
            "etag": "u8dw5jt0KjVjtdcd_IZZyd3tRsqRSC_SXIapkgPv41E",
            "key": "secret 1-11677155621",
            "label": null,
            "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
            "value": "{\"uri\":\"http://secret1.com/\"}",
            "tags": {},
            "locked": false,
            "last_modified": "2025-11-17T16:53:50+00:00"
          },
          {
            "etag": "1iaAw5H-IMkdrMONqx9i4AcXfEFg_vMiUYGeec71c6M",
            "key": "secret 1-2319697647",
            "label": null,
            "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
            "value": "{\"uri\":\"http://secret2.com/\"}",
            "tags": {},
            "locked": false,
            "last_modified": "2025-11-17T16:53:50+00:00"
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/kv/secret%201-2319697647?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Njo1IzU3NzY0NjA0",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"1iaAw5H-IMkdrMONqx9i4AcXfEFg_vMiUYGeec71c6M\"",
        "Last-Modified": "Mon, 17 Nov 2025 16:53:50 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzU3NzY0NjA1;sn=57764605",
        "x-ms-date": "Mon, 17 Nov 2025 16:53:50 GMT"
      },
      "ResponseBody": {
        "etag": "1iaAw5H-IMkdrMONqx9i4AcXfEFg_vMiUYGeec71c6M",
        "key": "secret 1-2319697647",
        "label": null,
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
        "value": "{\"uri\":\"http://secret2.com/\"}",
        "tags": {},
        "locked": false,
        "last_modified": "2025-11-17T16:53:50+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t8cdd9157ca7d1363-azconfig-net.azconfig.io;Id=wNKY;Secret=Kg==",
    "RandomSeed": "1183450601"
  }
}
