{
  "Entries": [
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/.appconfig.featureflag%2Ffeature%2011104083951?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "{\"id\":\"feature 11104083951\",\"description\":\"Feature description\",\"display_name\":\"Feature display name\",\"enabled\":true,\"conditions\":{\"client_filters\":[{\"name\":\"FilterA\",\"parameters\":{}},{\"name\":\"Microsoft.TimeWindow\",\"parameters\":{\"Start\":\"Wed, 01 May 2019 13:59:59 GMT\",\"End\":\"Mon, 01 July 2019 00:00:00 GMT\"}}]}}",
        "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"DbZwzEluY_kyx69umNzkzehA2TrOf3tucOFH0EWsucU\"",
        "Last-Modified": "Mon, 01 Dec 2025 08:33:08 GMT",
        "Sync-Token": "zAJw6V16=NTo1Izk4Nzc0ODMx;sn=98774831",
        "x-ms-date": "Mon, 01 Dec 2025 08:33:08 GMT"
      },
      "ResponseBody": {
        "etag": "DbZwzEluY_kyx69umNzkzehA2TrOf3tucOFH0EWsucU",
        "key": ".appconfig.featureflag/feature 11104083951",
        "label": null,
        "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
        "value": "{\"id\":\"feature 11104083951\",\"description\":\"Feature description\",\"display_name\":\"Feature display name\",\"enabled\":true,\"conditions\":{\"client_filters\":[{\"name\":\"FilterA\",\"parameters\":{}},{\"name\":\"Microsoft.TimeWindow\",\"parameters\":{\"Start\":\"Wed, 01 May 2019 13:59:59 GMT\",\"End\":\"Mon, 01 July 2019 00:00:00 GMT\"}}]}}",
        "tags": {},
        "locked": false,
        "last_modified": "2025-12-01T08:33:08+00:00"
      }
    },
[...]
