{
  "Entries": [
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv/secret1565324807?api-version=2026-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "value": "{\"uri\":\"http://secret1.com/\"}",
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"sa7bDD-HJHZdQNSbMYzmvQsk4M8Va-7gtTFy9GHJ7PY\"",
        "Last-Modified": "Wed, 10 Jun 2026 21:29:28 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDk0MTcw;sn=67094170",
        "x-ms-date": "Wed, 10 Jun 2026 21:29:28 GMT"
      },
      "ResponseBody": {
        "etag": "sa7bDD-HJHZdQNSbMYzmvQsk4M8Va-7gtTFy9GHJ7PY",
        "key": "secret1565324807",
        "label": null,
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
        "value": "{\"uri\":\"http://secret1.com/\"}",
        "description": null,
        "tags": {},
        "locked": false,
        "last_modified": "2026-06-10T21:29:28+00:00"
      }
    },
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv/secret1565324807?api-version=2026-04-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDk0MTcw"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"sa7bDD-HJHZdQNSbMYzmvQsk4M8Va-7gtTFy9GHJ7PY\"",
        "Last-Modified": "Wed, 10 Jun 2026 21:29:28 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDk0MTcx;sn=67094171",
        "x-ms-date": "Wed, 10 Jun 2026 21:29:29 GMT"
      },
      "ResponseBody": {
        "etag": "sa7bDD-HJHZdQNSbMYzmvQsk4M8Va-7gtTFy9GHJ7PY",
        "key": "secret1565324807",
        "label": null,
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
        "value": "{\"uri\":\"http://secret1.com/\"}",
        "description": null,
        "tags": {},
        "locked": false,
        "last_modified": "2026-06-10T21:29:28+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_ENDPOINT_STRING": "https://mrm90847047-azconfig-net.azconfig.io",
    "RandomSeed": "57996891"
  }
}
