{
  "Entries": [
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/.appconfig.featureflag%2Ffeature%201889468218?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "{\"id\":\"feature 1889468218\",\"enabled\":true,\"conditions\":{}}",
        "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"3Rg-zkN6jxJU2MoZHTfmIh6TYuutj9XSIAP4sWmMz_s\"",
        "Last-Modified": "Mon, 01 Dec 2025 08:33:05 GMT",
        "Sync-Token": "zAJw6V16=NTo1Izk4Nzc0ODA5;sn=98774809",
        "x-ms-date": "Mon, 01 Dec 2025 08:33:05 GMT"
      },
      "ResponseBody": {
        "etag": "3Rg-zkN6jxJU2MoZHTfmIh6TYuutj9XSIAP4sWmMz_s",
        "key": ".appconfig.featureflag/feature 1889468218",
        "label": null,
        "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
        "value": "{\"id\":\"feature 1889468218\",\"enabled\":true,\"conditions\":{}}",
        "tags": {},
        "locked": false,
        "last_modified": "2025-12-01T08:33:05+00:00"
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/.appconfig.featureflag%2Ffeature%201889468218?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1Izk4Nzc0ODA5",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"3Rg-zkN6jxJU2MoZHTfmIh6TYuutj9XSIAP4sWmMz_s\"",
        "Last-Modified": "Mon, 01 Dec 2025 08:33:05 GMT",
        "Sync-Token": "zAJw6V16=NTo1Izk4Nzc0ODEw;sn=98774810",
        "x-ms-date": "Mon, 01 Dec 2025 08:33:05 GMT"
      },
      "ResponseBody": {
        "etag": "3Rg-zkN6jxJU2MoZHTfmIh6TYuutj9XSIAP4sWmMz_s",
        "key": ".appconfig.featureflag/feature 1889468218",
        "label": null,
        "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
        "value": "{\"id\":\"feature 1889468218\",\"enabled\":true,\"conditions\":{}}",
        "tags": {},
        "locked": false,
        "last_modified": "2025-12-01T08:33:05+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t9c954b564de572f9-azconfig-net.azconfig.io;Id=MdvE;Secret=Kg==",
    "RandomSeed": "862865132"
  }
}
