{
  "Entries": [
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/kv/.appconfig.featureflag%2Ffeature%201-21754966197?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "{\"id\":\"feature 1-21754966197\",\"description\":\"Feature description\",\"enabled\":true,\"conditions\":{}}",
        "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"U4LTuCmzp1mnbxYjU_t_QAU5ZVE4Hy4yFikzYF_DbI8\"",
        "Last-Modified": "Tue, 18 Nov 2025 04:20:37 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzU3ODAzODE4;sn=57803818",
        "x-ms-date": "Tue, 18 Nov 2025 04:20:37 GMT"
      },
      "ResponseBody": {
        "etag": "U4LTuCmzp1mnbxYjU_t_QAU5ZVE4Hy4yFikzYF_DbI8",
        "key": ".appconfig.featureflag/feature 1-21754966197",
        "label": null,
        "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
        "value": "{\"id\":\"feature 1-21754966197\",\"description\":\"Feature description\",\"enabled\":true,\"conditions\":{}}",
        "tags": {},
        "locked": false,
        "last_modified": "2025-11-18T04:20:37+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/kv?api-version=2023-11-01&key=.appconfig.featureflag%2Ffeature%201-%2A",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Njo1IzU3ODAzODE5",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"LaYshAR2-7Ck_FTnBYunshF0QWQgYAyp13igQDpbxac\"",
        "Sync-Token": "zAJw6V16=Njo1IzU3ODAzODE5;sn=57803819",
        "x-ms-date": "Tue, 18 Nov 2025 04:20:37 GMT"
      },
      "ResponseBody": {
        "etag": "LaYshAR2-7Ck_FTnBYunshF0QWQgYAyp13igQDpbxac",
        "items": [
          {
            "etag": "3yoUDPBO4B53tI6W2CfCAb6Y0oOtmVzoilvWnMcpT9A",
            "key": ".appconfig.featureflag/feature 1-11039708725",
            "label": null,
            "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
            "value": "{\"id\":\"feature 1-11039708725\",\"description\":\"Feature description\",\"enabled\":true,\"conditions\":{}}",
            "tags": {},
            "locked": false,
            "last_modified": "2025-11-18T04:20:37+00:00"
          },
          {
            "etag": "U4LTuCmzp1mnbxYjU_t_QAU5ZVE4Hy4yFikzYF_DbI8",
            "key": ".appconfig.featureflag/feature 1-21754966197",
            "label": null,
            "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
            "value": "{\"id\":\"feature 1-21754966197\",\"description\":\"Feature description\",\"enabled\":true,\"conditions\":{}}",
            "tags": {},
            "locked": false,
            "last_modified": "2025-11-18T04:20:37+00:00"
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/kv/.appconfig.featureflag%2Ffeature%201-11039708725?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Njo1IzU3ODAzODIw",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"3yoUDPBO4B53tI6W2CfCAb6Y0oOtmVzoilvWnMcpT9A\"",
        "Last-Modified": "Tue, 18 Nov 2025 04:20:37 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzU3ODAzODIx;sn=57803821",
        "x-ms-date": "Tue, 18 Nov 2025 04:20:37 GMT"
      },
      "ResponseBody": {
        "etag": "3yoUDPBO4B53tI6W2CfCAb6Y0oOtmVzoilvWnMcpT9A",
        "key": ".appconfig.featureflag/feature 1-11039708725",
        "label": null,
        "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
        "value": "{\"id\":\"feature 1-11039708725\",\"description\":\"Feature description\",\"enabled\":true,\"conditions\":{}}",
        "tags": {},
        "locked": false,
        "last_modified": "2025-11-18T04:20:37+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t8cdd9157ca7d1363-azconfig-net.azconfig.io;Id=wNKY;Secret=Kg==",
    "RandomSeed": "1354643611"
  }
}
