{
  "Entries": [
    {
      "RequestUri": "https://tdfcae3cf5eab7143-azconfig-net.azconfig.io/kv/.appconfig.featureflag%2Ffeature%20174756678?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "{\"id\":\"feature 174756678\",\"description\":\"Feature description\",\"display_name\":\"Feature display name\",\"enabled\":true,\"conditions\":{\"client_filters\":[{\"name\":\"FilterA\",\"parameters\":{}},{\"name\":\"Microsoft.TimeWindow\",\"parameters\":{\"Start\":\"Wed, 01 May 2019 13:59:59 GMT\",\"End\":\"Mon, 01 July 2019 00:00:00 GMT\"}}]}}",
        "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"yCp-Jptg2UVwgRTWey8Lx652iaDCt1awJ-hAF6N3TcI\"",
        "Last-Modified": "Wed, 24 Jul 2024 15:47:52 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzMyMjcxODM5;sn=32271839"
      },
      "ResponseBody": {
        "etag": "yCp-Jptg2UVwgRTWey8Lx652iaDCt1awJ-hAF6N3TcI",
        "key": ".appconfig.featureflag/feature 174756678",
        "label": null,
        "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
        "value": "{\"id\":\"feature 174756678\",\"description\":\"Feature description\",\"display_name\":\"Feature display name\",\"enabled\":true,\"conditions\":{\"client_filters\":[{\"name\":\"FilterA\",\"parameters\":{}},{\"name\":\"Microsoft.TimeWindow\",\"parameters\":{\"Start\":\"Wed, 01 May 2019 13:59:59 GMT\",\"End\":\"Mon, 01 July 2019 00:00:00 GMT\"}}]}}",
        "tags": {},
        "locked": false,
        "last_modified": "2024-07-24T15:47:52+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://tdfcae3cf5eab7143-azconfig-net.azconfig.io/kv/.appconfig.featureflag%2Ffeature%20174756678?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Njo1IzMyMjcxODQx",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"ccF-FKDlWw0OAwQJfaQaZqrPa4CvJNKywN4yJxp1AOw\"",
        "Last-Modified": "Wed, 24 Jul 2024 15:47:52 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzMyMjcxODQy;sn=32271842"
      },
      "ResponseBody": {
        "etag": "ccF-FKDlWw0OAwQJfaQaZqrPa4CvJNKywN4yJxp1AOw",
        "key": ".appconfig.featureflag/feature 174756678",
        "label": null,
        "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
        "value": "{\"id\":\"feature 174756678\",\"description\":\"Feature description\",\"display_name\":\"Feature display name\",\"enabled\":false,\"conditions\":{\"client_filters\":[{\"name\":\"FilterA\",\"parameters\":{}},{\"name\":\"Microsoft.TimeWindow\",\"parameters\":{\"Start\":\"Wed, 01 May 2019 13:59:59 GMT\",\"End\":\"Mon, 01 July 2019 00:00:00 GMT\"}}]}}",
        "tags": {},
        "locked": false,
        "last_modified": "2024-07-24T15:47:52+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://tdfcae3cf5eab7143-azconfig-net.azconfig.io;Id=MEKF;Secret=Kg==",
    "RandomSeed": "1008262253"
  }
}
