{
  "Entries": [
    {
      "RequestUri": "https://t02f6e87f544544f3-azconfig-net.azconfig.io/kv/.appconfig.featureflag%2Ffeature%201454269098?api-version=2022-11-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "wOP25HaE1uPwzBvYAwMIXc8aKVzt/jjDr9igXOPQvFI="
      },
      "RequestBody": {
        "value": "{\u0022id\u0022:\u0022feature 1454269098\u0022,\u0022description\u0022:\u0022Feature description\u0022,\u0022display_name\u0022:\u0022Feature display name\u0022,\u0022enabled\u0022:true,\u0022conditions\u0022:{\u0022client_filters\u0022:[{\u0022name\u0022:\u0022FilterA\u0022,\u0022parameters\u0022:{}},{\u0022name\u0022:\u0022Microsoft.TimeWindow\u0022,\u0022parameters\u0022:{\u0022Start\u0022:\u0022Wed, 01 May 2019 13:59:59 GMT\u0022,\u0022End\u0022:\u0022Mon, 01 July 2019 00:00:00 GMT\u0022}}]}}",
        "content_type": "application/vnd.microsoft.appconfig.ff\u002Bjson;charset=utf-8",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022NibASj5oMOjW2TACGpSmO_LgUMgvhcBHBsxpLNWhP5I\u0022",
        "Last-Modified": "Fri, 30 Jun 2023 19:07:12 GMT",
        "Sync-Token": "zAJw6V16=ODo1IzI0ODY5Njgy;sn=24869682"
      },
      "ResponseBody": {
        "etag": "NibASj5oMOjW2TACGpSmO_LgUMgvhcBHBsxpLNWhP5I",
        "key": ".appconfig.featureflag/feature 1454269098",
        "label": null,
        "content_type": "application/vnd.microsoft.appconfig.ff\u002Bjson;charset=utf-8",
        "value": "{\u0022id\u0022:\u0022feature 1454269098\u0022,\u0022description\u0022:\u0022Feature description\u0022,\u0022display_name\u0022:\u0022Feature display name\u0022,\u0022enabled\u0022:true,\u0022conditions\u0022:{\u0022client_filters\u0022:[{\u0022name\u0022:\u0022FilterA\u0022,\u0022parameters\u0022:{}},{\u0022name\u0022:\u0022Microsoft.TimeWindow\u0022,\u0022parameters\u0022:{\u0022Start\u0022:\u0022Wed, 01 May 2019 13:59:59 GMT\u0022,\u0022End\u0022:\u0022Mon, 01 July 2019 00:00:00 GMT\u0022}}]}}",
        "tags": {},
        "locked": false,
        "last_modified": "2023-06-30T19:07:12\u002B00:00"
      }
    },
[...]
