{
  "Entries": [
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/snapshot-ref776519283?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "{\"snapshot_name\":\"my-snapshot\"}",
        "content_type": "application/json; profile=\"https://azconfig.io/mime-profiles/snapshot-ref\"; charset=utf-8",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"OrBdQG_KxSrukLxvvf2JCOiE2nGbXBj16i6h3wGf_U4\"",
        "Last-Modified": "Mon, 26 Jan 2026 05:44:20 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzg1MTQzMA==;sn=103851430",
        "x-ms-date": "Mon, 26 Jan 2026 05:44:20 GMT"
      },
      "ResponseBody": {
        "etag": "OrBdQG_KxSrukLxvvf2JCOiE2nGbXBj16i6h3wGf_U4",
        "key": "snapshot-ref776519283",
        "label": null,
        "content_type": "application/json; profile=\"https://azconfig.io/mime-profiles/snapshot-ref\"; charset=utf-8",
        "value": "{\"snapshot_name\":\"my-snapshot\"}",
        "tags": {},
        "locked": false,
        "last_modified": "2026-01-26T05:44:20+00:00"
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/snapshot-ref776519283?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzg1MTQzMA==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"OrBdQG_KxSrukLxvvf2JCOiE2nGbXBj16i6h3wGf_U4\"",
        "Last-Modified": "Mon, 26 Jan 2026 05:44:20 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzg1MTQzMQ==;sn=103851431",
        "x-ms-date": "Mon, 26 Jan 2026 05:44:20 GMT"
      },
      "ResponseBody": {
        "etag": "OrBdQG_KxSrukLxvvf2JCOiE2nGbXBj16i6h3wGf_U4",
        "key": "snapshot-ref776519283",
        "label": null,
        "content_type": "application/json; profile=\"https://azconfig.io/mime-profiles/snapshot-ref\"; charset=utf-8",
        "value": "{\"snapshot_name\":\"my-snapshot\"}",
        "tags": {},
        "locked": false,
        "last_modified": "2026-01-26T05:44:20+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t9c954b564de572f9-azconfig-net.azconfig.io;Id=MdvE;Secret=Kg==",
    "RandomSeed": "479856672"
  }
}
