{
  "Entries": [
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/.appconfig.featureflag%2Ffeature%201-2603084125?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "{\"id\":\"feature 1-2603084125\",\"description\":\"Feature description\",\"enabled\":true,\"conditions\":{}}",
        "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"C9F45rklIKLkArX1Y_3g8F4jzs94ym0SAV-xjRMDfWE\"",
        "Last-Modified": "Tue, 23 Dec 2025 05:46:26 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTA0OTcwMg==;sn=101049702",
        "x-ms-date": "Tue, 23 Dec 2025 05:46:26 GMT"
      },
      "ResponseBody": {
        "etag": "C9F45rklIKLkArX1Y_3g8F4jzs94ym0SAV-xjRMDfWE",
        "key": ".appconfig.featureflag/feature 1-2603084125",
        "label": null,
        "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
        "value": "{\"id\":\"feature 1-2603084125\",\"description\":\"Feature description\",\"enabled\":true,\"conditions\":{}}",
        "tags": {},
        "locked": false,
        "last_modified": "2025-12-23T05:46:26+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv?api-version=2023-11-01&key=.appconfig.featureflag%2Ffeature%201-%2A",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTA0OTcwMw==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"icr8HmUe3MI-wT4m3YVgqyry5KhVcWLJLuqmMnjydPI\"",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTA0OTcwMw==;sn=101049703",
        "x-ms-date": "Tue, 23 Dec 2025 05:46:27 GMT"
      },
      "ResponseBody": {
        "etag": "icr8HmUe3MI-wT4m3YVgqyry5KhVcWLJLuqmMnjydPI",
        "items": [
          {
            "etag": "NReshnboGvULHqOpxpykNBBUnzpwsW1gXqC9dvNDrIg",
            "key": ".appconfig.featureflag/feature 1-1439757791",
            "label": null,
            "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
            "value": "{\"id\":\"feature 1-1439757791\",\"description\":\"Feature description\",\"enabled\":true,\"conditions\":{}}",
            "tags": {},
            "locked": false,
            "last_modified": "2025-12-23T05:46:27+00:00"
          },
          {
            "etag": "C9F45rklIKLkArX1Y_3g8F4jzs94ym0SAV-xjRMDfWE",
            "key": ".appconfig.featureflag/feature 1-2603084125",
            "label": null,
            "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
            "value": "{\"id\":\"feature 1-2603084125\",\"description\":\"Feature description\",\"enabled\":true,\"conditions\":{}}",
            "tags": {},
            "locked": false,
            "last_modified": "2025-12-23T05:46:26+00:00"
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/.appconfig.featureflag%2Ffeature%201-1439757791?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTA0OTcwNA==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"NReshnboGvULHqOpxpykNBBUnzpwsW1gXqC9dvNDrIg\"",
        "Last-Modified": "Tue, 23 Dec 2025 05:46:27 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTA0OTcwNQ==;sn=101049705",
        "x-ms-date": "Tue, 23 Dec 2025 05:46:27 GMT"
      },
      "ResponseBody": {
        "etag": "NReshnboGvULHqOpxpykNBBUnzpwsW1gXqC9dvNDrIg",
        "key": ".appconfig.featureflag/feature 1-1439757791",
        "label": null,
        "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
        "value": "{\"id\":\"feature 1-1439757791\",\"description\":\"Feature description\",\"enabled\":true,\"conditions\":{}}",
        "tags": {},
        "locked": false,
        "last_modified": "2025-12-23T05:46:27+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t9c954b564de572f9-azconfig-net.azconfig.io;Id=MdvE;Secret=Kg==",
    "RandomSeed": "1174544728"
  }
}
