{
  "Entries": [
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/secret2025343024?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "{\"uri\":\"http://secret1.com/\"}",
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"KIXXuhdhB-YRzcRgySTYDAXgoRv-HwRAouWfVTJVRkk\"",
        "Last-Modified": "Thu, 22 Jan 2026 02:00:17 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzQ3NDM4Ng==;sn=103474386",
        "x-ms-date": "Thu, 22 Jan 2026 02:00:17 GMT"
      },
      "ResponseBody": {
        "etag": "KIXXuhdhB-YRzcRgySTYDAXgoRv-HwRAouWfVTJVRkk",
        "key": "secret2025343024",
        "label": null,
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
        "value": "{\"uri\":\"http://secret1.com/\"}",
        "tags": {},
        "locked": false,
        "last_modified": "2026-01-22T02:00:17+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/secret2025343024?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzQ3NDM4OA==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"ilbuxtnJaf4wbyCJg3lTpAUV4mjeva5DZkEinsjV0iM\"",
        "Last-Modified": "Thu, 22 Jan 2026 02:00:17 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzQ3NDM4OQ==;sn=103474389",
        "x-ms-date": "Thu, 22 Jan 2026 02:00:17 GMT"
      },
      "ResponseBody": {
        "etag": "ilbuxtnJaf4wbyCJg3lTpAUV4mjeva5DZkEinsjV0iM",
        "key": "secret2025343024",
        "label": null,
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
        "value": "{\"uri\":\"http://secret2.com/\"}",
        "tags": {},
        "locked": false,
        "last_modified": "2026-01-22T02:00:17+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t9c954b564de572f9-azconfig-net.azconfig.io;Id=MdvE;Secret=Kg==",
    "RandomSeed": "1649872167"
  }
}
