{
  "Entries": [
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/.appconfig.featureflag%2Ffeature%201-2831201361?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "{\"id\":\"feature 1-2831201361\",\"description\":\"Feature description\",\"enabled\":true,\"conditions\":{}}",
        "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"ALyWrPFanSBh8IIvuBhE_YF_3V48BbMI6L6EiWRunZM\"",
        "Last-Modified": "Tue, 06 Jan 2026 01:22:47 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTc2Njc3MA==;sn=101766770",
        "x-ms-date": "Tue, 06 Jan 2026 01:22:47 GMT"
      },
      "ResponseBody": {
        "etag": "ALyWrPFanSBh8IIvuBhE_YF_3V48BbMI6L6EiWRunZM",
        "key": ".appconfig.featureflag/feature 1-2831201361",
        "label": null,
        "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
        "value": "{\"id\":\"feature 1-2831201361\",\"description\":\"Feature description\",\"enabled\":true,\"conditions\":{}}",
        "tags": {},
        "locked": false,
        "last_modified": "2026-01-06T01:22:47+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv?api-version=2023-11-01&key=.appconfig.featureflag%2Ffeature%201-%2A",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTc2Njc3MQ==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"9IldH4NyL3we4Hv9_e4MDBN4A5wPc_TqbU0TiMxALtw\"",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTc2Njc3MQ==;sn=101766771",
        "x-ms-date": "Tue, 06 Jan 2026 01:22:47 GMT"
      },
      "ResponseBody": {
        "etag": "9IldH4NyL3we4Hv9_e4MDBN4A5wPc_TqbU0TiMxALtw",
        "items": [
          {
            "etag": "PhuYRljuhvxyGfEYTPd2M17yCaM3YpqQWz4cDxQg7gI",
            "key": ".appconfig.featureflag/feature 1-11035294733",
            "label": null,
            "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
            "value": "{\"id\":\"feature 1-11035294733\",\"description\":\"Feature description\",\"enabled\":true,\"conditions\":{}}",
            "tags": {},
            "locked": false,
            "last_modified": "2026-01-06T01:22:47+00:00"
          },
          {
            "etag": "ALyWrPFanSBh8IIvuBhE_YF_3V48BbMI6L6EiWRunZM",
            "key": ".appconfig.featureflag/feature 1-2831201361",
            "label": null,
            "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
            "value": "{\"id\":\"feature 1-2831201361\",\"description\":\"Feature description\",\"enabled\":true,\"conditions\":{}}",
            "tags": {},
            "locked": false,
            "last_modified": "2026-01-06T01:22:47+00:00"
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/.appconfig.featureflag%2Ffeature%201-11035294733?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTc2Njc3Mg==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"PhuYRljuhvxyGfEYTPd2M17yCaM3YpqQWz4cDxQg7gI\"",
        "Last-Modified": "Tue, 06 Jan 2026 01:22:47 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTc2Njc3Mw==;sn=101766773",
        "x-ms-date": "Tue, 06 Jan 2026 01:22:48 GMT"
      },
      "ResponseBody": {
        "etag": "PhuYRljuhvxyGfEYTPd2M17yCaM3YpqQWz4cDxQg7gI",
        "key": ".appconfig.featureflag/feature 1-11035294733",
        "label": null,
        "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
        "value": "{\"id\":\"feature 1-11035294733\",\"description\":\"Feature description\",\"enabled\":true,\"conditions\":{}}",
        "tags": {},
        "locked": false,
        "last_modified": "2026-01-06T01:22:47+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t9c954b564de572f9-azconfig-net.azconfig.io;Id=MdvE;Secret=Kg==",
    "RandomSeed": "1891576292"
  }
}
