{
  "Entries": [
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv/.appconfig.featureflag%2Ffeature%2011703792190?api-version=2026-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "value": "{\"id\":\"feature 11703792190\",\"description\":\"Feature description\",\"display_name\":\"Feature display name\",\"enabled\":true,\"conditions\":{\"client_filters\":[{\"name\":\"FilterA\",\"parameters\":{}},{\"name\":\"Microsoft.TimeWindow\",\"parameters\":{\"Start\":\"Wed, 01 May 2019 13:59:59 GMT\",\"End\":\"Mon, 01 July 2019 00:00:00 GMT\"}}]}}",
        "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"1HJDnTHiiF0UmVvDIkqUxcCYozjbPICSAqqTMFDwKhs\"",
        "Last-Modified": "Wed, 10 Jun 2026 18:22:15 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDY1MTE0;sn=67065114",
        "x-ms-date": "Wed, 10 Jun 2026 18:22:15 GMT"
      },
      "ResponseBody": {
        "etag": "1HJDnTHiiF0UmVvDIkqUxcCYozjbPICSAqqTMFDwKhs",
        "key": ".appconfig.featureflag/feature 11703792190",
        "label": null,
        "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
        "value": "{\"id\":\"feature 11703792190\",\"description\":\"Feature description\",\"display_name\":\"Feature display name\",\"enabled\":true,\"conditions\":{\"client_filters\":[{\"name\":\"FilterA\",\"parameters\":{}},{\"name\":\"Microsoft.TimeWindow\",\"parameters\":{\"Start\":\"Wed, 01 May 2019 13:59:59 GMT\",\"End\":\"Mon, 01 July 2019 00:00:00 GMT\"}}]}}",
        "description": null,
        "tags": {},
        "locked": false,
        "last_modified": "2026-06-10T18:22:15+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv/.appconfig.featureflag%2Ffeature%2011703792190?api-version=2026-04-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDY1MTE2"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"7JuSkvMZSGKxt0re6kuSXmrZGIb5tNRTt1p5_CfF2HA\"",
        "Last-Modified": "Wed, 10 Jun 2026 18:22:15 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDY1MTE3;sn=67065117",
        "x-ms-date": "Wed, 10 Jun 2026 18:22:15 GMT"
      },
      "ResponseBody": {
        "etag": "7JuSkvMZSGKxt0re6kuSXmrZGIb5tNRTt1p5_CfF2HA",
        "key": ".appconfig.featureflag/feature 11703792190",
        "label": null,
        "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
        "value": "{\"id\":\"feature 11703792190\",\"description\":\"Feature description\",\"display_name\":\"Feature display name\",\"enabled\":false,\"conditions\":{\"client_filters\":[{\"name\":\"FilterA\",\"parameters\":{}},{\"name\":\"Microsoft.TimeWindow\",\"parameters\":{\"Start\":\"Wed, 01 May 2019 13:59:59 GMT\",\"End\":\"Mon, 01 July 2019 00:00:00 GMT\"}}]}}",
        "description": null,
        "tags": {},
        "locked": false,
        "last_modified": "2026-06-10T18:22:15+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_ENDPOINT_STRING": "https://mrm90847047-azconfig-net.azconfig.io",
    "RandomSeed": "2084850503"
  }
}
