{
  "Entries": [
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/.appconfig.featureflag%2Ffeature%2011236374665?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "{\"id\":\"feature 11236374665\",\"enabled\":true,\"conditions\":{}}",
        "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"0m9Hy19FfSjonjLVG88EGqyK54Vp5yk2ia19oT2G_X8\"",
        "Last-Modified": "Thu, 22 Jan 2026 01:37:05 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzQ3MzgwMQ==;sn=103473801",
        "x-ms-date": "Thu, 22 Jan 2026 01:37:05 GMT"
      },
      "ResponseBody": {
        "etag": "0m9Hy19FfSjonjLVG88EGqyK54Vp5yk2ia19oT2G_X8",
        "key": ".appconfig.featureflag/feature 11236374665",
        "label": null,
        "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
        "value": "{\"id\":\"feature 11236374665\",\"enabled\":true,\"conditions\":{}}",
        "tags": {},
        "locked": false,
        "last_modified": "2026-01-22T01:37:05+00:00"
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/.appconfig.featureflag%2Ffeature%2011236374665?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzQ3MzgwMQ==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"0m9Hy19FfSjonjLVG88EGqyK54Vp5yk2ia19oT2G_X8\"",
        "Last-Modified": "Thu, 22 Jan 2026 01:37:05 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzQ3MzgwMg==;sn=103473802",
        "x-ms-date": "Thu, 22 Jan 2026 01:37:05 GMT"
      },
      "ResponseBody": {
        "etag": "0m9Hy19FfSjonjLVG88EGqyK54Vp5yk2ia19oT2G_X8",
        "key": ".appconfig.featureflag/feature 11236374665",
        "label": null,
        "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
        "value": "{\"id\":\"feature 11236374665\",\"enabled\":true,\"conditions\":{}}",
        "tags": {},
        "locked": false,
        "last_modified": "2026-01-22T01:37:05+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t9c954b564de572f9-azconfig-net.azconfig.io;Id=MdvE;Secret=Kg==",
    "RandomSeed": "1742773480"
  }
}
