{
  "Entries": [
    {
      "RequestUri": "https://azure-sdk-for-net-test.azconfig.io/kv/.appconfig.featureflag%2Ffeature%2011794220995?api-version=2026-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "{\"id\":\"feature 11794220995\",\"enabled\":true,\"conditions\":{}}",
        "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"4G1Qb5Xbp7AKfHUefVfgnpsE8AeldBD6VVDLnr9EruE\"",
        "Last-Modified": "Wed, 27 May 2026 23:59:32 GMT",
        "Sync-Token": "zAJw6V16=NToxNyM0ODA0MjIwNQ==;sn=48042205",
        "x-ms-date": "Wed, 27 May 2026 23:59:32 GMT"
      },
      "ResponseBody": {
        "etag": "4G1Qb5Xbp7AKfHUefVfgnpsE8AeldBD6VVDLnr9EruE",
        "key": ".appconfig.featureflag/feature 11794220995",
        "label": null,
        "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
        "value": "{\"id\":\"feature 11794220995\",\"enabled\":true,\"conditions\":{}}",
        "description": null,
        "tags": {},
        "locked": false,
        "last_modified": "2026-05-27T23:59:32+00:00"
      }
    },
    {
      "RequestUri": "https://azure-sdk-for-net-test.azconfig.io/kv/.appconfig.featureflag%2Ffeature%2011794220995?api-version=2026-04-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NToxNyM0ODA0MjIwNQ==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"4G1Qb5Xbp7AKfHUefVfgnpsE8AeldBD6VVDLnr9EruE\"",
        "Last-Modified": "Wed, 27 May 2026 23:59:32 GMT",
        "Sync-Token": "zAJw6V16=NToxNyM0ODA0MjIwNg==;sn=48042206",
        "x-ms-date": "Wed, 27 May 2026 23:59:32 GMT"
      },
      "ResponseBody": {
        "etag": "4G1Qb5Xbp7AKfHUefVfgnpsE8AeldBD6VVDLnr9EruE",
        "key": ".appconfig.featureflag/feature 11794220995",
        "label": null,
        "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
        "value": "{\"id\":\"feature 11794220995\",\"enabled\":true,\"conditions\":{}}",
        "description": null,
        "tags": {},
        "locked": false,
        "last_modified": "2026-05-27T23:59:32+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://azure-sdk-for-net-test.azconfig.io;Id=8ePU;Secret=Kg==",
    "RandomSeed": "1609958630"
  }
}
