{
  "Entries": [
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv/.appconfig.featureflag%2Ffeature%2012064077968?api-version=2026-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "value": "{\"id\":\"feature 12064077968\",\"enabled\":true,\"conditions\":{}}",
        "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"lrxtZ2HO_CeD3EWWchhPNLTjnz1AVquHh9-xPh7f1Fg\"",
        "Last-Modified": "Wed, 10 Jun 2026 21:38:05 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDk0NjQx;sn=67094641",
        "x-ms-date": "Wed, 10 Jun 2026 21:38:05 GMT"
      },
      "ResponseBody": {
        "etag": "lrxtZ2HO_CeD3EWWchhPNLTjnz1AVquHh9-xPh7f1Fg",
        "key": ".appconfig.featureflag/feature 12064077968",
        "label": null,
        "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
        "value": "{\"id\":\"feature 12064077968\",\"enabled\":true,\"conditions\":{}}",
        "description": null,
        "tags": {},
        "locked": false,
        "last_modified": "2026-06-10T21:38:05+00:00"
      }
    },
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv/.appconfig.featureflag%2Ffeature%2012064077968?api-version=2026-04-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDk0NjQx"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"lrxtZ2HO_CeD3EWWchhPNLTjnz1AVquHh9-xPh7f1Fg\"",
        "Last-Modified": "Wed, 10 Jun 2026 21:38:05 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDk0NjQy;sn=67094642",
        "x-ms-date": "Wed, 10 Jun 2026 21:38:05 GMT"
      },
      "ResponseBody": {
        "etag": "lrxtZ2HO_CeD3EWWchhPNLTjnz1AVquHh9-xPh7f1Fg",
        "key": ".appconfig.featureflag/feature 12064077968",
        "label": null,
        "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
        "value": "{\"id\":\"feature 12064077968\",\"enabled\":true,\"conditions\":{}}",
        "description": null,
        "tags": {},
        "locked": false,
        "last_modified": "2026-06-10T21:38:05+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_ENDPOINT_STRING": "https://mrm90847047-azconfig-net.azconfig.io",
    "RandomSeed": "512301194"
  }
}
