{
  "Entries": [
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv/.appconfig.featureflag%2Ffeature%2011458248318?api-version=2026-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "value": "{\"id\":\"feature 11458248318\",\"enabled\":true,\"conditions\":{}}",
        "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"ca_pJZ7-N_AQgSd-NnTyCG_97ac0gqXKZnilKMqhVok\"",
        "Last-Modified": "Wed, 10 Jun 2026 19:14:43 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDcxOTQ4;sn=67071948",
        "x-ms-date": "Wed, 10 Jun 2026 19:14:43 GMT"
      },
      "ResponseBody": {
        "etag": "ca_pJZ7-N_AQgSd-NnTyCG_97ac0gqXKZnilKMqhVok",
        "key": ".appconfig.featureflag/feature 11458248318",
        "label": null,
        "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
        "value": "{\"id\":\"feature 11458248318\",\"enabled\":true,\"conditions\":{}}",
        "description": null,
        "tags": {},
        "locked": false,
        "last_modified": "2026-06-10T19:14:43+00:00"
      }
    },
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv/.appconfig.featureflag%2Ffeature%2011458248318?api-version=2026-04-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDcxOTQ4"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"ca_pJZ7-N_AQgSd-NnTyCG_97ac0gqXKZnilKMqhVok\"",
        "Last-Modified": "Wed, 10 Jun 2026 19:14:43 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDcxOTQ5;sn=67071949",
        "x-ms-date": "Wed, 10 Jun 2026 19:14:43 GMT"
      },
      "ResponseBody": {
        "etag": "ca_pJZ7-N_AQgSd-NnTyCG_97ac0gqXKZnilKMqhVok",
        "key": ".appconfig.featureflag/feature 11458248318",
        "label": null,
        "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
        "value": "{\"id\":\"feature 11458248318\",\"enabled\":true,\"conditions\":{}}",
        "description": null,
        "tags": {},
        "locked": false,
        "last_modified": "2026-06-10T19:14:43+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_ENDPOINT_STRING": "https://mrm90847047-azconfig-net.azconfig.io",
    "RandomSeed": "1774087717"
  }
}
