{
  "Entries": [
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv/secret%201-1537705817?api-version=2026-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "value": "{\"uri\":\"http://secret1.com/\"}",
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"jy9o2x9oExB_BGZ7sHup5szpLVvqGiBzcqc3tcbFzxs\"",
        "Last-Modified": "Wed, 10 Jun 2026 21:38:11 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDk0NjQ5;sn=67094649",
        "x-ms-date": "Wed, 10 Jun 2026 21:38:11 GMT"
      },
      "ResponseBody": {
        "etag": "jy9o2x9oExB_BGZ7sHup5szpLVvqGiBzcqc3tcbFzxs",
        "key": "secret 1-1537705817",
        "label": null,
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
        "value": "{\"uri\":\"http://secret1.com/\"}",
        "description": null,
        "tags": {},
        "locked": false,
        "last_modified": "2026-06-10T21:38:11+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv?api-version=2026-04-01&key=secret%201-%2A",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDk0NjUw"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"dCBj8BN-2-Nv3yCscfy_QD4QKzhyWQaGBoR0VBELMKg\"",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDk0NjUw;sn=67094650",
        "x-ms-date": "Wed, 10 Jun 2026 21:38:12 GMT"
      },
      "ResponseBody": {
        "etag": "dCBj8BN-2-Nv3yCscfy_QD4QKzhyWQaGBoR0VBELMKg",
        "items": [
          {
            "etag": "jy9o2x9oExB_BGZ7sHup5szpLVvqGiBzcqc3tcbFzxs",
            "key": "secret 1-1537705817",
            "label": null,
            "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
            "value": "{\"uri\":\"http://secret1.com/\"}",
            "description": null,
            "tags": {},
            "locked": false,
            "last_modified": "2026-06-10T21:38:11+00:00"
          },
          {
            "etag": "K4qNAJhHhQtdhUJMr9KcoxOyPAWv7BnaahBxeCxjOm8",
            "key": "secret 1-21672613171",
            "label": null,
            "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
            "value": "{\"uri\":\"http://secret2.com/\"}",
            "description": null,
            "tags": {},
            "locked": false,
            "last_modified": "2026-06-10T21:38:12+00:00"
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv/secret%201-21672613171?api-version=2026-04-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDk0NjUx"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"K4qNAJhHhQtdhUJMr9KcoxOyPAWv7BnaahBxeCxjOm8\"",
        "Last-Modified": "Wed, 10 Jun 2026 21:38:12 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDk0NjUy;sn=67094652",
        "x-ms-date": "Wed, 10 Jun 2026 21:38:12 GMT"
      },
      "ResponseBody": {
        "etag": "K4qNAJhHhQtdhUJMr9KcoxOyPAWv7BnaahBxeCxjOm8",
        "key": "secret 1-21672613171",
        "label": null,
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
        "value": "{\"uri\":\"http://secret2.com/\"}",
        "description": null,
        "tags": {},
        "locked": false,
        "last_modified": "2026-06-10T21:38:12+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_ENDPOINT_STRING": "https://mrm90847047-azconfig-net.azconfig.io",
    "RandomSeed": "1309353674"
  }
}
