{
  "Entries": [
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/secret%201-11761800114?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "{\"uri\":\"http://secret1.com/\"}",
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"raWTQJLWYujHWdmzfJ5JYQjxrun1UxKUjBVMQ-Ri5Zc\"",
        "Last-Modified": "Mon, 01 Dec 2025 08:38:59 GMT",
        "Sync-Token": "zAJw6V16=NTo1Izk4Nzc2MjE0;sn=98776214",
        "x-ms-date": "Mon, 01 Dec 2025 08:38:59 GMT"
      },
      "ResponseBody": {
        "etag": "raWTQJLWYujHWdmzfJ5JYQjxrun1UxKUjBVMQ-Ri5Zc",
        "key": "secret 1-11761800114",
        "label": null,
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
        "value": "{\"uri\":\"http://secret1.com/\"}",
        "tags": {},
        "locked": false,
        "last_modified": "2025-12-01T08:38:59+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv?api-version=2023-11-01&key=secret%201-%2A",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1Izk4Nzc2MjE1",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"iGvTkBTkBfKmsxAbRyq3UW23Bf0iqLjwTZnD89GaFyI\"",
        "Sync-Token": "zAJw6V16=NTo1Izk4Nzc2MjE1;sn=98776215",
        "x-ms-date": "Mon, 01 Dec 2025 08:38:59 GMT"
      },
      "ResponseBody": {
        "etag": "iGvTkBTkBfKmsxAbRyq3UW23Bf0iqLjwTZnD89GaFyI",
        "items": [
          {
            "etag": "raWTQJLWYujHWdmzfJ5JYQjxrun1UxKUjBVMQ-Ri5Zc",
            "key": "secret 1-11761800114",
            "label": null,
            "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
            "value": "{\"uri\":\"http://secret1.com/\"}",
            "tags": {},
            "locked": false,
            "last_modified": "2025-12-01T08:38:59+00:00"
          },
          {
            "etag": "mxz1byw_sKxGzEowfTXc_E95VRHKhcr6x26rwA1dnME",
            "key": "secret 1-2673151697",
            "label": null,
            "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
            "value": "{\"uri\":\"http://secret2.com/\"}",
            "tags": {},
            "locked": false,
            "last_modified": "2025-12-01T08:38:59+00:00"
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/secret%201-2673151697?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1Izk4Nzc2MjE2",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"mxz1byw_sKxGzEowfTXc_E95VRHKhcr6x26rwA1dnME\"",
        "Last-Modified": "Mon, 01 Dec 2025 08:38:59 GMT",
        "Sync-Token": "zAJw6V16=NTo1Izk4Nzc2MjE3;sn=98776217",
        "x-ms-date": "Mon, 01 Dec 2025 08:39:00 GMT"
      },
      "ResponseBody": {
        "etag": "mxz1byw_sKxGzEowfTXc_E95VRHKhcr6x26rwA1dnME",
        "key": "secret 1-2673151697",
        "label": null,
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
        "value": "{\"uri\":\"http://secret2.com/\"}",
        "tags": {},
        "locked": false,
        "last_modified": "2025-12-01T08:38:59+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t9c954b564de572f9-azconfig-net.azconfig.io;Id=MdvE;Secret=Kg==",
    "RandomSeed": "1716108714"
  }
}
