{
  "Entries": [
    {
      "RequestUri": "https://azure-sdk-for-net-test.azconfig.io/kv/secret536045851?api-version=2026-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "{\"uri\":\"http://secret1.com/\"}",
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"eMQRarmSeuJooLelmsD3zzBMMqjRa65q8ogYt80toTY\"",
        "Last-Modified": "Wed, 27 May 2026 23:54:42 GMT",
        "Sync-Token": "zAJw6V16=NToxNyM0ODA0MTc0OA==;sn=48041748",
        "x-ms-date": "Wed, 27 May 2026 23:54:42 GMT"
      },
      "ResponseBody": {
        "etag": "eMQRarmSeuJooLelmsD3zzBMMqjRa65q8ogYt80toTY",
        "key": "secret536045851",
        "label": null,
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
        "value": "{\"uri\":\"http://secret1.com/\"}",
        "description": null,
        "tags": {},
        "locked": false,
        "last_modified": "2026-05-27T23:54:42+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://azure-sdk-for-net-test.azconfig.io/kv/secret536045851?api-version=2026-04-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NToxNyM0ODA0MTc1MA==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"keweUlSxe5jhuEsbvemvTK8opL09ZVdz8UcUx-Bz7Ag\"",
        "Last-Modified": "Wed, 27 May 2026 23:54:42 GMT",
        "Sync-Token": "zAJw6V16=NToxNyM0ODA0MTc1MQ==;sn=48041751",
        "x-ms-date": "Wed, 27 May 2026 23:54:42 GMT"
      },
      "ResponseBody": {
        "etag": "keweUlSxe5jhuEsbvemvTK8opL09ZVdz8UcUx-Bz7Ag",
        "key": "secret536045851",
        "label": null,
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
        "value": "{\"uri\":\"http://secret2.com/\"}",
        "description": null,
        "tags": {},
        "locked": false,
        "last_modified": "2026-05-27T23:54:42+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://azure-sdk-for-net-test.azconfig.io;Id=8ePU;Secret=Kg==",
    "RandomSeed": "1079881549"
  }
}
