{
  "Entries": [
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/kv/.appconfig.featureflag%2Ffeature%201-2892545251?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "{\"id\":\"feature 1-2892545251\",\"description\":\"Feature description\",\"enabled\":true,\"conditions\":{}}",
        "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"kWYbwYNmVCbY8r8PKyXNPK4rwgcRkGog4rHU2dveu-I\"",
        "Last-Modified": "Thu, 09 Oct 2025 16:25:11 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzU1NTMxOTU0;sn=55531954",
        "x-ms-date": "Thu, 09 Oct 2025 16:25:11 GMT"
      },
      "ResponseBody": {
        "etag": "kWYbwYNmVCbY8r8PKyXNPK4rwgcRkGog4rHU2dveu-I",
        "key": ".appconfig.featureflag/feature 1-2892545251",
        "label": null,
        "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
        "value": "{\"id\":\"feature 1-2892545251\",\"description\":\"Feature description\",\"enabled\":true,\"conditions\":{}}",
        "tags": {},
        "locked": false,
        "last_modified": "2025-10-09T16:25:11+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/kv?api-version=2023-11-01&key=.appconfig.featureflag%2Ffeature%201-%2A",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Njo1IzU1NTMxOTU1",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"nhbE0Y7ZE8M-QREH68UuoRfUgO2l7v_lBIbg_JlplMw\"",
        "Sync-Token": "zAJw6V16=Njo1IzU1NTMxOTU1;sn=55531955",
        "x-ms-date": "Thu, 09 Oct 2025 16:25:12 GMT"
      },
      "ResponseBody": {
        "etag": "nhbE0Y7ZE8M-QREH68UuoRfUgO2l7v_lBIbg_JlplMw",
        "items": [
          {
            "etag": "srkbhADRWERMQOlHNYisbb6MudEKQChCwCW1RpOR8kk",
            "key": ".appconfig.featureflag/feature 1-1571319334",
            "label": null,
            "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
            "value": "{\"id\":\"feature 1-1571319334\",\"description\":\"Feature description\",\"enabled\":true,\"conditions\":{}}",
            "tags": {},
            "locked": false,
            "last_modified": "2025-10-09T16:25:12+00:00"
          },
          {
            "etag": "kWYbwYNmVCbY8r8PKyXNPK4rwgcRkGog4rHU2dveu-I",
            "key": ".appconfig.featureflag/feature 1-2892545251",
            "label": null,
            "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
            "value": "{\"id\":\"feature 1-2892545251\",\"description\":\"Feature description\",\"enabled\":true,\"conditions\":{}}",
            "tags": {},
            "locked": false,
            "last_modified": "2025-10-09T16:25:11+00:00"
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/kv/.appconfig.featureflag%2Ffeature%201-1571319334?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Njo1IzU1NTMxOTU2",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"srkbhADRWERMQOlHNYisbb6MudEKQChCwCW1RpOR8kk\"",
        "Last-Modified": "Thu, 09 Oct 2025 16:25:12 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzU1NTMxOTU3;sn=55531957",
        "x-ms-date": "Thu, 09 Oct 2025 16:25:12 GMT"
      },
      "ResponseBody": {
        "etag": "srkbhADRWERMQOlHNYisbb6MudEKQChCwCW1RpOR8kk",
        "key": ".appconfig.featureflag/feature 1-1571319334",
        "label": null,
        "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
        "value": "{\"id\":\"feature 1-1571319334\",\"description\":\"Feature description\",\"enabled\":true,\"conditions\":{}}",
        "tags": {},
        "locked": false,
        "last_modified": "2025-10-09T16:25:12+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t8cdd9157ca7d1363-azconfig-net.azconfig.io;Id=wNKY;Secret=Kg==",
    "RandomSeed": "1704237112"
  }
}
