{
  "Entries": [
    {
      "RequestUri": "https://azure-sdk-for-net-test.azconfig.io/kv/.appconfig.featureflag%2Ffeature%2012141545660?api-version=2026-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "{\"id\":\"feature 12141545660\",\"enabled\":true,\"conditions\":{}}",
        "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"ZuyyGGeAjgh4eWPn1AaqoPACFR1hF3RCsiaPOdrdBus\"",
        "Last-Modified": "Fri, 29 May 2026 19:57:03 GMT",
        "Sync-Token": "zAJw6V16=NToxNyM0ODE0ODcwMg==;sn=48148702",
        "x-ms-date": "Fri, 29 May 2026 19:57:03 GMT"
      },
      "ResponseBody": {
        "etag": "ZuyyGGeAjgh4eWPn1AaqoPACFR1hF3RCsiaPOdrdBus",
        "key": ".appconfig.featureflag/feature 12141545660",
        "label": null,
        "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
        "value": "{\"id\":\"feature 12141545660\",\"enabled\":true,\"conditions\":{}}",
        "description": null,
        "tags": {},
        "locked": false,
        "last_modified": "2026-05-29T19:57:03+00:00"
      }
    },
    {
      "RequestUri": "https://azure-sdk-for-net-test.azconfig.io/kv/.appconfig.featureflag%2Ffeature%2012141545660?api-version=2026-04-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NToxNyM0ODE0ODcwMg==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"ZuyyGGeAjgh4eWPn1AaqoPACFR1hF3RCsiaPOdrdBus\"",
        "Last-Modified": "Fri, 29 May 2026 19:57:03 GMT",
        "Sync-Token": "zAJw6V16=NToxNyM0ODE0ODcwMw==;sn=48148703",
        "x-ms-date": "Fri, 29 May 2026 19:57:03 GMT"
      },
      "ResponseBody": {
        "etag": "ZuyyGGeAjgh4eWPn1AaqoPACFR1hF3RCsiaPOdrdBus",
        "key": ".appconfig.featureflag/feature 12141545660",
        "label": null,
        "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
        "value": "{\"id\":\"feature 12141545660\",\"enabled\":true,\"conditions\":{}}",
        "description": null,
        "tags": {},
        "locked": false,
        "last_modified": "2026-05-29T19:57:03+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://azure-sdk-for-net-test.azconfig.io;Id=8ePU;Secret=Kg==",
    "RandomSeed": "1916276865"
  }
}
