{
  "Entries": [
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/secret931245015?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "{\"uri\":\"http://secret1.com/\"}",
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"y5YRACc6lMFbuu_IpzGqAaEZ2YjQsfoKk_myY8uHRVw\"",
        "Last-Modified": "Tue, 06 Jan 2026 01:22:50 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTc2Njc4NQ==;sn=101766785",
        "x-ms-date": "Tue, 06 Jan 2026 01:22:50 GMT"
      },
      "ResponseBody": {
        "etag": "y5YRACc6lMFbuu_IpzGqAaEZ2YjQsfoKk_myY8uHRVw",
        "key": "secret931245015",
        "label": null,
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
        "value": "{\"uri\":\"http://secret1.com/\"}",
        "tags": {},
        "locked": false,
        "last_modified": "2026-01-06T01:22:50+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/secret931245015?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTc2Njc4Nw==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"1yZO7gaTiksVAa30oBmL5ft5lnrrW-weTWGo0s_HskI\"",
        "Last-Modified": "Tue, 06 Jan 2026 01:22:50 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTc2Njc4OA==;sn=101766788",
        "x-ms-date": "Tue, 06 Jan 2026 01:22:51 GMT"
      },
      "ResponseBody": {
        "etag": "1yZO7gaTiksVAa30oBmL5ft5lnrrW-weTWGo0s_HskI",
        "key": "secret931245015",
        "label": null,
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
        "value": "{\"uri\":\"http://secret2.com/\"}",
        "tags": {},
        "locked": false,
        "last_modified": "2026-01-06T01:22:50+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t9c954b564de572f9-azconfig-net.azconfig.io;Id=MdvE;Secret=Kg==",
    "RandomSeed": "1852782657"
  }
}
