{
  "Entries": [
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/.appconfig.featureflag%2Ffeature%201340992054?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "{\"id\":\"feature 1340992054\",\"enabled\":true,\"conditions\":{}}",
        "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"Ri9PDqQxrz7fNMVgzNt5CM-7Lt3R8jRh7KVDVz9obtQ\"",
        "Last-Modified": "Fri, 23 Jan 2026 07:14:14 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU3NTY1Mw==;sn=103575653",
        "x-ms-date": "Fri, 23 Jan 2026 07:14:14 GMT"
      },
      "ResponseBody": {
        "etag": "Ri9PDqQxrz7fNMVgzNt5CM-7Lt3R8jRh7KVDVz9obtQ",
        "key": ".appconfig.featureflag/feature 1340992054",
        "label": null,
        "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
        "value": "{\"id\":\"feature 1340992054\",\"enabled\":true,\"conditions\":{}}",
        "tags": {},
        "locked": false,
        "last_modified": "2026-01-23T07:14:14+00:00"
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/.appconfig.featureflag%2Ffeature%201340992054?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU3NTY1Mw==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"Ri9PDqQxrz7fNMVgzNt5CM-7Lt3R8jRh7KVDVz9obtQ\"",
        "Last-Modified": "Fri, 23 Jan 2026 07:14:14 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU3NTY1NA==;sn=103575654",
        "x-ms-date": "Fri, 23 Jan 2026 07:14:14 GMT"
      },
      "ResponseBody": {
        "etag": "Ri9PDqQxrz7fNMVgzNt5CM-7Lt3R8jRh7KVDVz9obtQ",
        "key": ".appconfig.featureflag/feature 1340992054",
        "label": null,
        "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
        "value": "{\"id\":\"feature 1340992054\",\"enabled\":true,\"conditions\":{}}",
        "tags": {},
        "locked": false,
        "last_modified": "2026-01-23T07:14:14+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t9c954b564de572f9-azconfig-net.azconfig.io;Id=MdvE;Secret=Kg==",
    "RandomSeed": "555042410"
  }
}
