{
  "Entries": [
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/secret%201-1574059127?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "{\"uri\":\"http://secret1.com/\"}",
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"lCD8bp2PyVmEWZyi3ycRpE5DA3fGXHvGz7uM5nyYCvw\"",
        "Last-Modified": "Thu, 22 Jan 2026 01:32:00 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzQ3MzM1OQ==;sn=103473359",
        "x-ms-date": "Thu, 22 Jan 2026 01:32:00 GMT"
      },
      "ResponseBody": {
        "etag": "lCD8bp2PyVmEWZyi3ycRpE5DA3fGXHvGz7uM5nyYCvw",
        "key": "secret 1-1574059127",
        "label": null,
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
        "value": "{\"uri\":\"http://secret1.com/\"}",
        "tags": {},
        "locked": false,
        "last_modified": "2026-01-22T01:32:00+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv?api-version=2023-11-01&key=secret%201-%2A",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzQ3MzM2MA==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"b6_0LK6Xcu0QGfryuIey9fo5bJ3TFuIkhsoX_uqE2NA\"",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzQ3MzM2MA==;sn=103473360",
        "x-ms-date": "Thu, 22 Jan 2026 01:32:00 GMT"
      },
      "ResponseBody": {
        "etag": "b6_0LK6Xcu0QGfryuIey9fo5bJ3TFuIkhsoX_uqE2NA",
        "items": [
          {
            "etag": "lCD8bp2PyVmEWZyi3ycRpE5DA3fGXHvGz7uM5nyYCvw",
            "key": "secret 1-1574059127",
            "label": null,
            "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
            "value": "{\"uri\":\"http://secret1.com/\"}",
            "tags": {},
            "locked": false,
            "last_modified": "2026-01-22T01:32:00+00:00"
          },
          {
            "etag": "0Rk9WQbylqjrhfqN3A9uM516UGbZbpPKzGPWwK5ER2I",
            "key": "secret 1-22042867536",
            "label": null,
            "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
            "value": "{\"uri\":\"http://secret2.com/\"}",
            "tags": {},
            "locked": false,
            "last_modified": "2026-01-22T01:32:00+00:00"
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/secret%201-22042867536?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzQ3MzM2MQ==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"0Rk9WQbylqjrhfqN3A9uM516UGbZbpPKzGPWwK5ER2I\"",
        "Last-Modified": "Thu, 22 Jan 2026 01:32:00 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzQ3MzM2Mg==;sn=103473362",
        "x-ms-date": "Thu, 22 Jan 2026 01:32:00 GMT"
      },
      "ResponseBody": {
        "etag": "0Rk9WQbylqjrhfqN3A9uM516UGbZbpPKzGPWwK5ER2I",
        "key": "secret 1-22042867536",
        "label": null,
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
        "value": "{\"uri\":\"http://secret2.com/\"}",
        "tags": {},
        "locked": false,
        "last_modified": "2026-01-22T01:32:00+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t9c954b564de572f9-azconfig-net.azconfig.io;Id=MdvE;Secret=Kg==",
    "RandomSeed": "710907143"
  }
}
