{
  "Entries": [
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/kv/secret272238089?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "{\"uri\":\"http://secret1.com/\"}",
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"bzpaRO9cRLMwTzT0CdPX3ow9ZXi7RQ-DKAP8u8BYni8\"",
        "Last-Modified": "Thu, 09 Oct 2025 16:30:59 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzU1NTMyNDQ0;sn=55532444",
        "x-ms-date": "Thu, 09 Oct 2025 16:30:59 GMT"
      },
      "ResponseBody": {
        "etag": "bzpaRO9cRLMwTzT0CdPX3ow9ZXi7RQ-DKAP8u8BYni8",
        "key": "secret272238089",
        "label": null,
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
        "value": "{\"uri\":\"http://secret1.com/\"}",
        "tags": {},
        "locked": false,
        "last_modified": "2025-10-09T16:30:59+00:00"
      }
    },
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/kv/secret272238089?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Njo1IzU1NTMyNDQ0",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"bzpaRO9cRLMwTzT0CdPX3ow9ZXi7RQ-DKAP8u8BYni8\"",
        "Last-Modified": "Thu, 09 Oct 2025 16:30:59 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzU1NTMyNDQ1;sn=55532445",
        "x-ms-date": "Thu, 09 Oct 2025 16:30:59 GMT"
      },
      "ResponseBody": {
        "etag": "bzpaRO9cRLMwTzT0CdPX3ow9ZXi7RQ-DKAP8u8BYni8",
        "key": "secret272238089",
        "label": null,
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
        "value": "{\"uri\":\"http://secret1.com/\"}",
        "tags": {},
        "locked": false,
        "last_modified": "2025-10-09T16:30:59+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t8cdd9157ca7d1363-azconfig-net.azconfig.io;Id=wNKY;Secret=Kg==",
    "RandomSeed": "1504466587"
  }
}
