{
  "Entries": [
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv/.appconfig.featureflag%2Ffeature%201553524167?api-version=2026-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "value": "{\"id\":\"feature 1553524167\",\"enabled\":true,\"conditions\":{}}",
        "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"2AmyPcyyMCP5rekkj7hPHVQk2hD4DzmhsyCZNV8nics\"",
        "Last-Modified": "Wed, 10 Jun 2026 18:22:03 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDY1MTAw;sn=67065100",
        "x-ms-date": "Wed, 10 Jun 2026 18:22:03 GMT"
      },
      "ResponseBody": {
        "etag": "2AmyPcyyMCP5rekkj7hPHVQk2hD4DzmhsyCZNV8nics",
        "key": ".appconfig.featureflag/feature 1553524167",
        "label": null,
        "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
        "value": "{\"id\":\"feature 1553524167\",\"enabled\":true,\"conditions\":{}}",
        "description": null,
        "tags": {},
        "locked": false,
        "last_modified": "2026-06-10T18:22:03+00:00"
      }
    },
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv/.appconfig.featureflag%2Ffeature%201553524167?api-version=2026-04-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDY1MTAw"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"2AmyPcyyMCP5rekkj7hPHVQk2hD4DzmhsyCZNV8nics\"",
        "Last-Modified": "Wed, 10 Jun 2026 18:22:03 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDY1MTAx;sn=67065101",
        "x-ms-date": "Wed, 10 Jun 2026 18:22:03 GMT"
      },
      "ResponseBody": {
        "etag": "2AmyPcyyMCP5rekkj7hPHVQk2hD4DzmhsyCZNV8nics",
        "key": ".appconfig.featureflag/feature 1553524167",
        "label": null,
        "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
        "value": "{\"id\":\"feature 1553524167\",\"enabled\":true,\"conditions\":{}}",
        "description": null,
        "tags": {},
        "locked": false,
        "last_modified": "2026-06-10T18:22:03+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_ENDPOINT_STRING": "https://mrm90847047-azconfig-net.azconfig.io",
    "RandomSeed": "998917065"
  }
}
