{
  "Entries": [
    {
      "RequestUri": "https://tdfcae3cf5eab7143-azconfig-net.azconfig.io/kv/.appconfig.featureflag%2Ffeature%201-22025838792?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "{\"id\":\"feature 1-22025838792\",\"description\":\"Feature description\",\"enabled\":true,\"conditions\":{}}",
        "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"KYIpbhU9EGWUjmL99g_JxCTEVv_HVg1s5EQFaBrSrlo\"",
        "Last-Modified": "Wed, 24 Jul 2024 15:42:27 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzMyMjcxMDY4;sn=32271068"
      },
      "ResponseBody": {
        "etag": "KYIpbhU9EGWUjmL99g_JxCTEVv_HVg1s5EQFaBrSrlo",
        "key": ".appconfig.featureflag/feature 1-22025838792",
        "label": null,
        "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
        "value": "{\"id\":\"feature 1-22025838792\",\"description\":\"Feature description\",\"enabled\":true,\"conditions\":{}}",
        "tags": {},
        "locked": false,
        "last_modified": "2024-07-24T15:42:27+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://tdfcae3cf5eab7143-azconfig-net.azconfig.io/kv?key=.appconfig.featureflag%2Ffeature%201-%2A&api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Njo1IzMyMjcxMDY5",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"j6N_Pu5H173Zm6UYfSrVtg3Vs7M3lpZw5OC9aWuvH90\"",
        "Sync-Token": "zAJw6V16=Njo1IzMyMjcxMDY5;sn=32271069"
      },
      "ResponseBody": {
        "etag": "j6N_Pu5H173Zm6UYfSrVtg3Vs7M3lpZw5OC9aWuvH90",
        "items": [
          {
            "etag": "0zx6Q-PBA0xiTzg12IzqySLY2QHsFM5Vu-0mAxCtNio",
            "key": ".appconfig.featureflag/feature 1-11287601790",
            "label": null,
            "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
            "value": "{\"id\":\"feature 1-11287601790\",\"description\":\"Feature description\",\"enabled\":true,\"conditions\":{}}",
            "tags": {},
            "locked": false,
            "last_modified": "2024-07-24T15:42:27+00:00"
          },
          {
            "etag": "KYIpbhU9EGWUjmL99g_JxCTEVv_HVg1s5EQFaBrSrlo",
            "key": ".appconfig.featureflag/feature 1-22025838792",
            "label": null,
            "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
            "value": "{\"id\":\"feature 1-22025838792\",\"description\":\"Feature description\",\"enabled\":true,\"conditions\":{}}",
            "tags": {},
            "locked": false,
            "last_modified": "2024-07-24T15:42:27+00:00"
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://tdfcae3cf5eab7143-azconfig-net.azconfig.io/kv/.appconfig.featureflag%2Ffeature%201-11287601790?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Njo1IzMyMjcxMDcw",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"0zx6Q-PBA0xiTzg12IzqySLY2QHsFM5Vu-0mAxCtNio\"",
        "Last-Modified": "Wed, 24 Jul 2024 15:42:27 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzMyMjcxMDcx;sn=32271071"
      },
      "ResponseBody": {
        "etag": "0zx6Q-PBA0xiTzg12IzqySLY2QHsFM5Vu-0mAxCtNio",
        "key": ".appconfig.featureflag/feature 1-11287601790",
        "label": null,
        "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
        "value": "{\"id\":\"feature 1-11287601790\",\"description\":\"Feature description\",\"enabled\":true,\"conditions\":{}}",
        "tags": {},
        "locked": false,
        "last_modified": "2024-07-24T15:42:27+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://tdfcae3cf5eab7143-azconfig-net.azconfig.io;Id=MEKF;Secret=Kg==",
    "RandomSeed": "1778012200"
  }
}
