{
  "Entries": [
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/.appconfig.featureflag%2Fminimal-feature2143864405?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "{\"id\":\"minimal-feature2143864405\"}",
        "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"zgWeKfNyuJgcocGCxnupBKoWpLjDh9UJEFOz_Tb6UIc\"",
        "Last-Modified": "Fri, 23 Jan 2026 07:14:14 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU3NTY1NQ==;sn=103575655",
        "x-ms-date": "Fri, 23 Jan 2026 07:14:14 GMT"
      },
      "ResponseBody": {
        "etag": "zgWeKfNyuJgcocGCxnupBKoWpLjDh9UJEFOz_Tb6UIc",
        "key": ".appconfig.featureflag/minimal-feature2143864405",
        "label": null,
        "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
        "value": "{\"id\":\"minimal-feature2143864405\"}",
        "tags": {},
        "locked": false,
        "last_modified": "2026-01-23T07:14:14+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/.appconfig.featureflag%2Fminimal-feature2143864405?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU3NTY1NQ==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"zgWeKfNyuJgcocGCxnupBKoWpLjDh9UJEFOz_Tb6UIc\"",
        "Last-Modified": "Fri, 23 Jan 2026 07:14:14 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU3NTY1Ng==;sn=103575656",
        "x-ms-date": "Fri, 23 Jan 2026 07:14:14 GMT"
      },
      "ResponseBody": {
        "etag": "zgWeKfNyuJgcocGCxnupBKoWpLjDh9UJEFOz_Tb6UIc",
        "key": ".appconfig.featureflag/minimal-feature2143864405",
        "label": null,
        "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
        "value": "{\"id\":\"minimal-feature2143864405\"}",
        "tags": {},
        "locked": false,
        "last_modified": "2026-01-23T07:14:14+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t9c954b564de572f9-azconfig-net.azconfig.io;Id=MdvE;Secret=Kg==",
    "RandomSeed": "993675031"
  }
}
