{
  "Entries": [
    {
      "RequestUri": "https://jsquire-08-azconfig-net.azconfig.io/kv/secret2000583187?api-version=1.0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "BmuolBVkkINubbicejqM2nGMxRfAI11qltN8GaA/nas="
      },
      "RequestBody": {
        "value": "{\u0022uri\u0022:\u0022http://secret1.com/\u0022}",
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref\u002Bjson;charset=utf-8",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022yw0PzlMQqnkEsNDACOpe2L-f61bT9syYT63jIUjuYaQ\u0022",
        "Last-Modified": "Fri, 08 Sep 2023 13:35:15 GMT",
        "Sync-Token": "zAJw6V16=NToxOSM1MzQ0ODkyMA==;sn=53448920",
        "x-ms-resource-group": "jsquire-appconfig",
        "x-ms-subscription-id": "faa080af-c1d8-40ad-9cce-e1a450ca5b57",
        "x-ms-tenant-name": "jsquire-08-azconfig-net"
      },
      "ResponseBody": {
        "etag": "yw0PzlMQqnkEsNDACOpe2L-f61bT9syYT63jIUjuYaQ",
        "key": "secret2000583187",
        "label": null,
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref\u002Bjson;charset=utf-8",
        "value": "{\u0022uri\u0022:\u0022http://secret1.com/\u0022}",
        "tags": {},
        "locked": false,
        "last_modified": "2023-09-08T13:35:15\u002B00:00"
      }
    },
    {
      "RequestUri": "https://jsquire-08-azconfig-net.azconfig.io/kv/secret2000583187?api-version=1.0",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NToxOSM1MzQ0ODkyMA==",
        "x-ms-content-sha256": "47DEQpj8HBSa\u002B/TImW\u002B5JCeuQeRkm5NMpJWZG3hSuFU="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022yw0PzlMQqnkEsNDACOpe2L-f61bT9syYT63jIUjuYaQ\u0022",
        "Last-Modified": "Fri, 08 Sep 2023 13:35:15 GMT",
        "Sync-Token": "zAJw6V16=NToxOSM1MzQ0ODkyMQ==;sn=53448921",
        "x-ms-resource-group": "jsquire-appconfig",
        "x-ms-subscription-id": "faa080af-c1d8-40ad-9cce-e1a450ca5b57",
        "x-ms-tenant-name": "jsquire-08-azconfig-net"
      },
      "ResponseBody": {
        "etag": "yw0PzlMQqnkEsNDACOpe2L-f61bT9syYT63jIUjuYaQ",
        "key": "secret2000583187",
        "label": null,
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref\u002Bjson;charset=utf-8",
        "value": "{\u0022uri\u0022:\u0022http://secret1.com/\u0022}",
        "tags": {},
        "locked": false,
        "last_modified": "2023-09-08T13:35:15\u002B00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://jsquire-08-azconfig-net.azconfig.io;Id=bAH8;Secret=Kg==",
    "RandomSeed": "134577700"
  }
}
