{
  "Entries": [
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/secret523923773?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "{\"uri\":\"http://secret1.com/\"}",
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"5dYa4cPJz2595YVoEX_-I_fSLqJa6DZxm2OPc1QwZeI\"",
        "Last-Modified": "Tue, 23 Dec 2025 05:39:55 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTA0OTIyMA==;sn=101049220",
        "x-ms-date": "Tue, 23 Dec 2025 05:39:55 GMT"
      },
      "ResponseBody": {
        "etag": "5dYa4cPJz2595YVoEX_-I_fSLqJa6DZxm2OPc1QwZeI",
        "key": "secret523923773",
        "label": null,
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
        "value": "{\"uri\":\"http://secret1.com/\"}",
        "tags": {},
        "locked": false,
        "last_modified": "2025-12-23T05:39:55+00:00"
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/secret523923773?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTA0OTIyMA==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"5dYa4cPJz2595YVoEX_-I_fSLqJa6DZxm2OPc1QwZeI\"",
        "Last-Modified": "Tue, 23 Dec 2025 05:39:55 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTA0OTIyMQ==;sn=101049221",
        "x-ms-date": "Tue, 23 Dec 2025 05:39:55 GMT"
      },
      "ResponseBody": {
        "etag": "5dYa4cPJz2595YVoEX_-I_fSLqJa6DZxm2OPc1QwZeI",
        "key": "secret523923773",
        "label": null,
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
        "value": "{\"uri\":\"http://secret1.com/\"}",
        "tags": {},
        "locked": false,
        "last_modified": "2025-12-23T05:39:55+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t9c954b564de572f9-azconfig-net.azconfig.io;Id=MdvE;Secret=Kg==",
    "RandomSeed": "646230746"
  }
}
