{
  "Entries": [
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/secret829060281?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "{\"uri\":\"http://secret1.com/\"}",
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"meEqIJsJkXiZjeDiHuMC8PhTvdH9FzZwp5E-MuRdvIU\"",
        "Last-Modified": "Fri, 23 Jan 2026 07:08:40 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU3NTA1Nw==;sn=103575057",
        "x-ms-date": "Fri, 23 Jan 2026 07:08:40 GMT"
      },
      "ResponseBody": {
        "etag": "meEqIJsJkXiZjeDiHuMC8PhTvdH9FzZwp5E-MuRdvIU",
        "key": "secret829060281",
        "label": null,
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
        "value": "{\"uri\":\"http://secret1.com/\"}",
        "tags": {},
        "locked": false,
        "last_modified": "2026-01-23T07:08:40+00:00"
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/secret829060281?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU3NTA1Nw==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"meEqIJsJkXiZjeDiHuMC8PhTvdH9FzZwp5E-MuRdvIU\"",
        "Last-Modified": "Fri, 23 Jan 2026 07:08:40 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU3NTA1OA==;sn=103575058",
        "x-ms-date": "Fri, 23 Jan 2026 07:08:40 GMT"
      },
      "ResponseBody": {
        "etag": "meEqIJsJkXiZjeDiHuMC8PhTvdH9FzZwp5E-MuRdvIU",
        "key": "secret829060281",
        "label": null,
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
        "value": "{\"uri\":\"http://secret1.com/\"}",
        "tags": {},
        "locked": false,
        "last_modified": "2026-01-23T07:08:40+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t9c954b564de572f9-azconfig-net.azconfig.io;Id=MdvE;Secret=Kg==",
    "RandomSeed": "12766651"
  }
}
