{
  "Entries": [
    {
      "RequestUri": "https://tdfcae3cf5eab7143-azconfig-net.azconfig.io/kv/secret2004662657?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "{\"uri\":\"http://secret1.com/\"}",
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"O93h0oK5W8cV05D4Z7FS6lUlQww-NfFjum-ijrHL9iM\"",
        "Last-Modified": "Wed, 24 Jul 2024 15:47:52 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzMyMjcxODQz;sn=32271843"
      },
      "ResponseBody": {
        "etag": "O93h0oK5W8cV05D4Z7FS6lUlQww-NfFjum-ijrHL9iM",
        "key": "secret2004662657",
        "label": null,
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
        "value": "{\"uri\":\"http://secret1.com/\"}",
        "tags": {},
        "locked": false,
        "last_modified": "2024-07-24T15:47:52+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://tdfcae3cf5eab7143-azconfig-net.azconfig.io/kv/secret2004662657?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Njo1IzMyMjcxODQ1",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"Uw04wIaA-CyVMvIGue5HXWgRs7tiljqXppO4p0mvO0M\"",
        "Last-Modified": "Wed, 24 Jul 2024 15:47:52 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzMyMjcxODQ2;sn=32271846"
      },
      "ResponseBody": {
        "etag": "Uw04wIaA-CyVMvIGue5HXWgRs7tiljqXppO4p0mvO0M",
        "key": "secret2004662657",
        "label": null,
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
        "value": "{\"uri\":\"http://secret2.com/\"}",
        "tags": {},
        "locked": false,
        "last_modified": "2024-07-24T15:47:52+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://tdfcae3cf5eab7143-azconfig-net.azconfig.io;Id=MEKF;Secret=Kg==",
    "RandomSeed": "1958971002"
  }
}
