{
  "Entries": [
    {
      "RequestUri": "https://t02f6e87f544544f3-azconfig-net.azconfig.io/kv/.appconfig.featureflag%2Ffeature%2011778075213?api-version=2022-11-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "kjzNi\u002B0RXK37PX1GogMox46VP7s0myNC47x\u002Bb3tXF4Y="
      },
      "RequestBody": {
        "value": "{\u0022id\u0022:\u0022feature 11778075213\u0022,\u0022enabled\u0022:true,\u0022conditions\u0022:{}}",
        "content_type": "application/vnd.microsoft.appconfig.ff\u002Bjson;charset=utf-8",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022gD_2Hk9ZXbQXkb4TBVbvEIPdWAq0yghrLINW7rA7Akg\u0022",
        "Last-Modified": "Fri, 30 Jun 2023 19:07:11 GMT",
        "Sync-Token": "zAJw6V16=ODo1IzI0ODY5Njcw;sn=24869670"
      },
      "ResponseBody": {
        "etag": "gD_2Hk9ZXbQXkb4TBVbvEIPdWAq0yghrLINW7rA7Akg",
        "key": ".appconfig.featureflag/feature 11778075213",
        "label": null,
        "content_type": "application/vnd.microsoft.appconfig.ff\u002Bjson;charset=utf-8",
        "value": "{\u0022id\u0022:\u0022feature 11778075213\u0022,\u0022enabled\u0022:true,\u0022conditions\u0022:{}}",
        "tags": {},
        "locked": false,
        "last_modified": "2023-06-30T19:07:11\u002B00:00"
      }
    },
    {
      "RequestUri": "https://t02f6e87f544544f3-azconfig-net.azconfig.io/kv/.appconfig.featureflag%2Ffeature%2011778075213?api-version=2022-11-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=ODo1IzI0ODY5Njcw",
        "x-ms-content-sha256": "47DEQpj8HBSa\u002B/TImW\u002B5JCeuQeRkm5NMpJWZG3hSuFU="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022gD_2Hk9ZXbQXkb4TBVbvEIPdWAq0yghrLINW7rA7Akg\u0022",
        "Last-Modified": "Fri, 30 Jun 2023 19:07:11 GMT",
        "Sync-Token": "zAJw6V16=ODo1IzI0ODY5Njcx;sn=24869671"
      },
      "ResponseBody": {
        "etag": "gD_2Hk9ZXbQXkb4TBVbvEIPdWAq0yghrLINW7rA7Akg",
        "key": ".appconfig.featureflag/feature 11778075213",
        "label": null,
        "content_type": "application/vnd.microsoft.appconfig.ff\u002Bjson;charset=utf-8",
        "value": "{\u0022id\u0022:\u0022feature 11778075213\u0022,\u0022enabled\u0022:true,\u0022conditions\u0022:{}}",
        "tags": {},
        "locked": false,
        "last_modified": "2023-06-30T19:07:11\u002B00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t02f6e87f544544f3-azconfig-net.azconfig.io;Id=Ek\u002BM;Secret=Kg==",
    "RandomSeed": "875910029"
  }
}
