{
  "Entries": [
    {
      "RequestUri": "https://jsquire-08-azconfig-net.azconfig.io/kv/.appconfig.featureflag%2Ffeature%201-2247554895?api-version=1.0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "KleduKZ/bX5FY55mKSK7/RXylOIu\u002BGBjBqoYigz8zNM="
      },
      "RequestBody": {
        "value": "{\u0022id\u0022:\u0022feature 1-2247554895\u0022,\u0022description\u0022:\u0022Feature description\u0022,\u0022enabled\u0022:true,\u0022conditions\u0022:{}}",
        "content_type": "application/vnd.microsoft.appconfig.ff\u002Bjson;charset=utf-8",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022CTsBJ3I5O_hjdj8BS5BUyRAw8vtVG9wQmNrxinazf-I\u0022",
        "Last-Modified": "Fri, 08 Sep 2023 13:35:27 GMT",
        "Sync-Token": "zAJw6V16=NToxOSM1MzQ0OTIyMQ==;sn=53449221",
        "x-ms-resource-group": "jsquire-appconfig",
        "x-ms-subscription-id": "faa080af-c1d8-40ad-9cce-e1a450ca5b57",
        "x-ms-tenant-name": "jsquire-08-azconfig-net"
      },
      "ResponseBody": {
        "etag": "CTsBJ3I5O_hjdj8BS5BUyRAw8vtVG9wQmNrxinazf-I",
        "key": ".appconfig.featureflag/feature 1-2247554895",
        "label": null,
        "content_type": "application/vnd.microsoft.appconfig.ff\u002Bjson;charset=utf-8",
        "value": "{\u0022id\u0022:\u0022feature 1-2247554895\u0022,\u0022description\u0022:\u0022Feature description\u0022,\u0022enabled\u0022:true,\u0022conditions\u0022:{}}",
        "tags": {},
        "locked": false,
        "last_modified": "2023-09-08T13:35:27\u002B00:00"
      }
    },
[...]
    {
      "RequestUri": "https://jsquire-08-azconfig-net.azconfig.io/kv?key=.appconfig.featureflag%2Ffeature%201-%2A\u0026api-version=1.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NToxOSM1MzQ0OTIyMg==",
        "x-ms-content-sha256": "47DEQpj8HBSa\u002B/TImW\u002B5JCeuQeRkm5NMpJWZG3hSuFU="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset\u002Bjson; charset=utf-8",
        "Sync-Token": "zAJw6V16=NToxOSM1MzQ0OTIyMg==;sn=53449222",
        "x-ms-resource-group": "jsquire-appconfig",
        "x-ms-subscription-id": "faa080af-c1d8-40ad-9cce-e1a450ca5b57",
        "x-ms-tenant-name": "jsquire-08-azconfig-net"
      },
      "ResponseBody": {
        "items": [
          {
            "etag": "xyduWAkiCrdXWlUPG4IbO492gofa9mjQlKh0_JYuJew",
            "key": ".appconfig.featureflag/feature 1-12114153677",
            "label": null,
            "content_type": "application/vnd.microsoft.appconfig.ff\u002Bjson;charset=utf-8",
            "value": "{\u0022id\u0022:\u0022feature 1-12114153677\u0022,\u0022description\u0022:\u0022Feature description\u0022,\u0022enabled\u0022:true,\u0022conditions\u0022:{}}",
            "tags": {},
            "locked": false,
            "last_modified": "2023-09-08T13:35:27\u002B00:00"
          },
          {
            "etag": "CTsBJ3I5O_hjdj8BS5BUyRAw8vtVG9wQmNrxinazf-I",
            "key": ".appconfig.featureflag/feature 1-2247554895",
            "label": null,
            "content_type": "application/vnd.microsoft.appconfig.ff\u002Bjson;charset=utf-8",
            "value": "{\u0022id\u0022:\u0022feature 1-2247554895\u0022,\u0022description\u0022:\u0022Feature description\u0022,\u0022enabled\u0022:true,\u0022conditions\u0022:{}}",
            "tags": {},
            "locked": false,
            "last_modified": "2023-09-08T13:35:27\u002B00:00"
          }
        ]
      }
    },
[...]
