{
  "Entries": [
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/secret%201-12104722086?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "{\"uri\":\"http://secret1.com/\"}",
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"_xkC_a_mn12CSA6tuS_E6FchKRrNdykk2xkyqJqsFWY\"",
        "Last-Modified": "Tue, 06 Jan 2026 06:32:35 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTc3MzQ2OQ==;sn=101773469",
        "x-ms-date": "Tue, 06 Jan 2026 06:32:35 GMT"
      },
      "ResponseBody": {
        "etag": "_xkC_a_mn12CSA6tuS_E6FchKRrNdykk2xkyqJqsFWY",
        "key": "secret 1-12104722086",
        "label": null,
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
        "value": "{\"uri\":\"http://secret1.com/\"}",
        "tags": {},
        "locked": false,
        "last_modified": "2026-01-06T06:32:35+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv?api-version=2023-11-01&key=secret%201-%2A",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTc3MzQ3MA==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"kFYVJX6CiBgLlI4MyIGB1xTbMv4iNBj0Uqk40XK82ZI\"",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTc3MzQ3MA==;sn=101773470",
        "x-ms-date": "Tue, 06 Jan 2026 06:32:35 GMT"
      },
      "ResponseBody": {
        "etag": "kFYVJX6CiBgLlI4MyIGB1xTbMv4iNBj0Uqk40XK82ZI",
        "items": [
          {
            "etag": "_xkC_a_mn12CSA6tuS_E6FchKRrNdykk2xkyqJqsFWY",
            "key": "secret 1-12104722086",
            "label": null,
            "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
            "value": "{\"uri\":\"http://secret1.com/\"}",
            "tags": {},
            "locked": false,
            "last_modified": "2026-01-06T06:32:35+00:00"
          },
          {
            "etag": "8t_GP3hDqfiW8UsPCP9anEBBvsTw9-sMG31Wn5iXSAY",
            "key": "secret 1-2199968470",
            "label": null,
            "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
            "value": "{\"uri\":\"http://secret2.com/\"}",
            "tags": {},
            "locked": false,
            "last_modified": "2026-01-06T06:32:35+00:00"
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/secret%201-2199968470?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTc3MzQ3Mg==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"8t_GP3hDqfiW8UsPCP9anEBBvsTw9-sMG31Wn5iXSAY\"",
        "Last-Modified": "Tue, 06 Jan 2026 06:32:35 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTc3MzQ3Mw==;sn=101773473",
        "x-ms-date": "Tue, 06 Jan 2026 06:32:35 GMT"
      },
      "ResponseBody": {
        "etag": "8t_GP3hDqfiW8UsPCP9anEBBvsTw9-sMG31Wn5iXSAY",
        "key": "secret 1-2199968470",
        "label": null,
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
        "value": "{\"uri\":\"http://secret2.com/\"}",
        "tags": {},
        "locked": false,
        "last_modified": "2026-01-06T06:32:35+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t9c954b564de572f9-azconfig-net.azconfig.io;Id=MdvE;Secret=Kg==",
    "RandomSeed": "154970014"
  }
}
