{
  "Entries": [
    {
      "RequestUri": "https://tdfcae3cf5eab7143-azconfig-net.azconfig.io/kv/.appconfig.featureflag%2Ffeature%2011335935740?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "{\"id\":\"feature 11335935740\",\"enabled\":true,\"conditions\":{}}",
        "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"4IoJmUM9mIXr9G8-awWRZxURXaojrcaz55125rzqrSw\"",
        "Last-Modified": "Thu, 12 Jun 2025 16:18:01 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzQyMjIwNTE1;sn=42220515"
      },
      "ResponseBody": {
        "etag": "4IoJmUM9mIXr9G8-awWRZxURXaojrcaz55125rzqrSw",
        "key": ".appconfig.featureflag/feature 11335935740",
        "label": null,
        "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
        "value": "{\"id\":\"feature 11335935740\",\"enabled\":true,\"conditions\":{}}",
        "tags": {},
        "locked": false,
        "last_modified": "2025-06-12T16:18:01+00:00"
      }
    },
    {
      "RequestUri": "https://tdfcae3cf5eab7143-azconfig-net.azconfig.io/kv/.appconfig.featureflag%2Ffeature%2011335935740?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Mzo1IzQyMjIwNTE1",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"4IoJmUM9mIXr9G8-awWRZxURXaojrcaz55125rzqrSw\"",
        "Last-Modified": "Thu, 12 Jun 2025 16:18:01 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzQyMjIwNTE2;sn=42220516"
      },
      "ResponseBody": {
        "etag": "4IoJmUM9mIXr9G8-awWRZxURXaojrcaz55125rzqrSw",
        "key": ".appconfig.featureflag/feature 11335935740",
        "label": null,
        "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
        "value": "{\"id\":\"feature 11335935740\",\"enabled\":true,\"conditions\":{}}",
        "tags": {},
        "locked": false,
        "last_modified": "2025-06-12T16:18:01+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://tdfcae3cf5eab7143-azconfig-net.azconfig.io;Id=GAEe;Secret=Kg==",
    "RandomSeed": "710691911"
  }
}
