{
  "Entries": [
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/secret633581652?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "{\"uri\":\"http://secret1.com/\"}",
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"nzBr-PUVg4bX1L0mmDI0JEqgACOu4yVKP3kUsx_qVlo\"",
        "Last-Modified": "Mon, 01 Dec 2025 08:39:00 GMT",
        "Sync-Token": "zAJw6V16=NTo1Izk4Nzc2MjE4;sn=98776218",
        "x-ms-date": "Mon, 01 Dec 2025 08:39:00 GMT"
      },
      "ResponseBody": {
        "etag": "nzBr-PUVg4bX1L0mmDI0JEqgACOu4yVKP3kUsx_qVlo",
        "key": "secret633581652",
        "label": null,
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
        "value": "{\"uri\":\"http://secret1.com/\"}",
        "tags": {},
        "locked": false,
        "last_modified": "2025-12-01T08:39:00+00:00"
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/secret633581652?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1Izk4Nzc2MjE4",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"nzBr-PUVg4bX1L0mmDI0JEqgACOu4yVKP3kUsx_qVlo\"",
        "Last-Modified": "Mon, 01 Dec 2025 08:39:00 GMT",
        "Sync-Token": "zAJw6V16=NTo1Izk4Nzc2MjE5;sn=98776219",
        "x-ms-date": "Mon, 01 Dec 2025 08:39:00 GMT"
      },
      "ResponseBody": {
        "etag": "nzBr-PUVg4bX1L0mmDI0JEqgACOu4yVKP3kUsx_qVlo",
        "key": "secret633581652",
        "label": null,
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
        "value": "{\"uri\":\"http://secret1.com/\"}",
        "tags": {},
        "locked": false,
        "last_modified": "2025-12-01T08:39:00+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t9c954b564de572f9-azconfig-net.azconfig.io;Id=MdvE;Secret=Kg==",
    "RandomSeed": "892009579"
  }
}
