{
  "Entries": [
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/kv/secret430284258?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "{\"uri\":\"http://secret1.com/\"}",
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"kaGEaxVpLB8vXIx9cAuTmzNGOBm_2vhJ3ObgW-6cW4s\"",
        "Last-Modified": "Tue, 18 Nov 2025 04:20:38 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzU3ODAzODI2;sn=57803826",
        "x-ms-date": "Tue, 18 Nov 2025 04:20:38 GMT"
      },
      "ResponseBody": {
        "etag": "kaGEaxVpLB8vXIx9cAuTmzNGOBm_2vhJ3ObgW-6cW4s",
        "key": "secret430284258",
        "label": null,
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
        "value": "{\"uri\":\"http://secret1.com/\"}",
        "tags": {},
        "locked": false,
        "last_modified": "2025-11-18T04:20:38+00:00"
      }
    },
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/kv/secret430284258?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Njo1IzU3ODAzODI2",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"kaGEaxVpLB8vXIx9cAuTmzNGOBm_2vhJ3ObgW-6cW4s\"",
        "Last-Modified": "Tue, 18 Nov 2025 04:20:38 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzU3ODAzODI3;sn=57803827",
        "x-ms-date": "Tue, 18 Nov 2025 04:20:38 GMT"
      },
      "ResponseBody": {
        "etag": "kaGEaxVpLB8vXIx9cAuTmzNGOBm_2vhJ3ObgW-6cW4s",
        "key": "secret430284258",
        "label": null,
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
        "value": "{\"uri\":\"http://secret1.com/\"}",
        "tags": {},
        "locked": false,
        "last_modified": "2025-11-18T04:20:38+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t8cdd9157ca7d1363-azconfig-net.azconfig.io;Id=wNKY;Secret=Kg==",
    "RandomSeed": "134495974"
  }
}
