{
  "Entries": [
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv/.appconfig.featureflag%2Fminimal-feature1428962193?api-version=2026-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "value": "{\"id\":\"minimal-feature1428962193\"}",
        "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"s_Ngf3zhkW9xqUUGilnYpcpODsx2o_kYo7JtE3cxVDU\"",
        "Last-Modified": "Wed, 10 Jun 2026 21:29:22 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDk0MTYw;sn=67094160",
        "x-ms-date": "Wed, 10 Jun 2026 21:29:22 GMT"
      },
      "ResponseBody": {
        "etag": "s_Ngf3zhkW9xqUUGilnYpcpODsx2o_kYo7JtE3cxVDU",
        "key": ".appconfig.featureflag/minimal-feature1428962193",
        "label": null,
        "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
        "value": "{\"id\":\"minimal-feature1428962193\"}",
        "description": null,
        "tags": {},
        "locked": false,
        "last_modified": "2026-06-10T21:29:22+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv/.appconfig.featureflag%2Fminimal-feature1428962193?api-version=2026-04-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDk0MTYw"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"s_Ngf3zhkW9xqUUGilnYpcpODsx2o_kYo7JtE3cxVDU\"",
        "Last-Modified": "Wed, 10 Jun 2026 21:29:22 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDk0MTYx;sn=67094161",
        "x-ms-date": "Wed, 10 Jun 2026 21:29:22 GMT"
      },
      "ResponseBody": {
        "etag": "s_Ngf3zhkW9xqUUGilnYpcpODsx2o_kYo7JtE3cxVDU",
        "key": ".appconfig.featureflag/minimal-feature1428962193",
        "label": null,
        "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
        "value": "{\"id\":\"minimal-feature1428962193\"}",
        "description": null,
        "tags": {},
        "locked": false,
        "last_modified": "2026-06-10T21:29:22+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_ENDPOINT_STRING": "https://mrm90847047-azconfig-net.azconfig.io",
    "RandomSeed": "652993524"
  }
}
