{
  "Entries": [
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/.appconfig.featureflag%2Ffeature%201-21286519391?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "{\"id\":\"feature 1-21286519391\",\"description\":\"Feature description\",\"enabled\":true,\"conditions\":{}}",
        "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"fVdbUrWbQJ1WiNdzagtsTp_Vp_ATRAETtvC2u2QqFtY\"",
        "Last-Modified": "Thu, 22 Jan 2026 02:00:15 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzQ3NDM3Mg==;sn=103474372",
        "x-ms-date": "Thu, 22 Jan 2026 02:00:15 GMT"
      },
      "ResponseBody": {
        "etag": "fVdbUrWbQJ1WiNdzagtsTp_Vp_ATRAETtvC2u2QqFtY",
        "key": ".appconfig.featureflag/feature 1-21286519391",
        "label": null,
        "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
        "value": "{\"id\":\"feature 1-21286519391\",\"description\":\"Feature description\",\"enabled\":true,\"conditions\":{}}",
        "tags": {},
        "locked": false,
        "last_modified": "2026-01-22T02:00:15+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv?api-version=2023-11-01&key=.appconfig.featureflag%2Ffeature%201-%2A",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzQ3NDM3Mw==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"qlYJir9nkY9MGMUtnf-NIaPK3Pfi5YaIBkvVQ777bos\"",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzQ3NDM3Mw==;sn=103474373",
        "x-ms-date": "Thu, 22 Jan 2026 02:00:15 GMT"
      },
      "ResponseBody": {
        "etag": "qlYJir9nkY9MGMUtnf-NIaPK3Pfi5YaIBkvVQ777bos",
        "items": [
          {
            "etag": "fM_d5V1KyeT45tG_OsIRN2HuCsaI0jUP4Xfry1PEJ6I",
            "key": ".appconfig.featureflag/feature 1-11136687735",
            "label": null,
            "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
            "value": "{\"id\":\"feature 1-11136687735\",\"description\":\"Feature description\",\"enabled\":true,\"conditions\":{}}",
            "tags": {},
            "locked": false,
            "last_modified": "2026-01-22T02:00:15+00:00"
          },
          {
            "etag": "fVdbUrWbQJ1WiNdzagtsTp_Vp_ATRAETtvC2u2QqFtY",
            "key": ".appconfig.featureflag/feature 1-21286519391",
            "label": null,
            "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
            "value": "{\"id\":\"feature 1-21286519391\",\"description\":\"Feature description\",\"enabled\":true,\"conditions\":{}}",
            "tags": {},
            "locked": false,
            "last_modified": "2026-01-22T02:00:15+00:00"
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/.appconfig.featureflag%2Ffeature%201-11136687735?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzQ3NDM3NA==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"fM_d5V1KyeT45tG_OsIRN2HuCsaI0jUP4Xfry1PEJ6I\"",
        "Last-Modified": "Thu, 22 Jan 2026 02:00:15 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzQ3NDM3NQ==;sn=103474375",
        "x-ms-date": "Thu, 22 Jan 2026 02:00:15 GMT"
      },
      "ResponseBody": {
        "etag": "fM_d5V1KyeT45tG_OsIRN2HuCsaI0jUP4Xfry1PEJ6I",
        "key": ".appconfig.featureflag/feature 1-11136687735",
        "label": null,
        "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
        "value": "{\"id\":\"feature 1-11136687735\",\"description\":\"Feature description\",\"enabled\":true,\"conditions\":{}}",
        "tags": {},
        "locked": false,
        "last_modified": "2026-01-22T02:00:15+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t9c954b564de572f9-azconfig-net.azconfig.io;Id=MdvE;Secret=Kg==",
    "RandomSeed": "2018362262"
  }
}
