{
  "Entries": [
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/secret1509536726?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "{\"uri\":\"http://secret1.com/\"}",
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"-Sir4s60CW7fD3g-LQtphASkWLU0yDObZEfBwqhLjwI\"",
        "Last-Modified": "Thu, 22 Jan 2026 01:37:08 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzQ3MzgxOQ==;sn=103473819",
        "x-ms-date": "Thu, 22 Jan 2026 01:37:08 GMT"
      },
      "ResponseBody": {
        "etag": "-Sir4s60CW7fD3g-LQtphASkWLU0yDObZEfBwqhLjwI",
        "key": "secret1509536726",
        "label": null,
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
        "value": "{\"uri\":\"http://secret1.com/\"}",
        "tags": {},
        "locked": false,
        "last_modified": "2026-01-22T01:37:08+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/secret1509536726?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzQ3MzgyMQ==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"db3CW7u5CGTuiq7satEWgvSLsvak_a4KlPjhlB8Bbx8\"",
        "Last-Modified": "Thu, 22 Jan 2026 01:37:08 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzQ3MzgyMg==;sn=103473822",
        "x-ms-date": "Thu, 22 Jan 2026 01:37:08 GMT"
      },
      "ResponseBody": {
        "etag": "db3CW7u5CGTuiq7satEWgvSLsvak_a4KlPjhlB8Bbx8",
        "key": "secret1509536726",
        "label": null,
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
        "value": "{\"uri\":\"http://secret2.com/\"}",
        "tags": {},
        "locked": false,
        "last_modified": "2026-01-22T01:37:08+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t9c954b564de572f9-azconfig-net.azconfig.io;Id=MdvE;Secret=Kg==",
    "RandomSeed": "555529763"
  }
}
