{
  "Entries": [
    {
      "RequestUri": "https://t02f6e87f544544f3-azconfig-net.azconfig.io/kv/.appconfig.featureflag%2Ffeature%201690323243?api-version=2022-11-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "jeAyG\u002BFNeG9YYlNz1QD37ei0ew3xoRwqesHfdRkm4XI="
      },
      "RequestBody": {
        "value": "{\u0022id\u0022:\u0022feature 1690323243\u0022,\u0022enabled\u0022:true,\u0022conditions\u0022:{}}",
        "content_type": "application/vnd.microsoft.appconfig.ff\u002Bjson;charset=utf-8",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022cAjtC4J7fVq6bsU0zhliSytaUrd6HbcTqoq48oOJBRA\u0022",
        "Last-Modified": "Fri, 30 Jun 2023 19:03:44 GMT",
        "Sync-Token": "zAJw6V16=ODo1IzI0ODY5MTMx;sn=24869131"
      },
      "ResponseBody": {
        "etag": "cAjtC4J7fVq6bsU0zhliSytaUrd6HbcTqoq48oOJBRA",
        "key": ".appconfig.featureflag/feature 1690323243",
        "label": null,
        "content_type": "application/vnd.microsoft.appconfig.ff\u002Bjson;charset=utf-8",
        "value": "{\u0022id\u0022:\u0022feature 1690323243\u0022,\u0022enabled\u0022:true,\u0022conditions\u0022:{}}",
        "tags": {},
        "locked": false,
        "last_modified": "2023-06-30T19:03:44\u002B00:00"
      }
    },
    {
      "RequestUri": "https://t02f6e87f544544f3-azconfig-net.azconfig.io/kv/.appconfig.featureflag%2Ffeature%201690323243?api-version=2022-11-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=ODo1IzI0ODY5MTMx",
        "x-ms-content-sha256": "47DEQpj8HBSa\u002B/TImW\u002B5JCeuQeRkm5NMpJWZG3hSuFU="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022cAjtC4J7fVq6bsU0zhliSytaUrd6HbcTqoq48oOJBRA\u0022",
        "Last-Modified": "Fri, 30 Jun 2023 19:03:44 GMT",
        "Sync-Token": "zAJw6V16=ODo1IzI0ODY5MTMy;sn=24869132"
      },
      "ResponseBody": {
        "etag": "cAjtC4J7fVq6bsU0zhliSytaUrd6HbcTqoq48oOJBRA",
        "key": ".appconfig.featureflag/feature 1690323243",
        "label": null,
        "content_type": "application/vnd.microsoft.appconfig.ff\u002Bjson;charset=utf-8",
        "value": "{\u0022id\u0022:\u0022feature 1690323243\u0022,\u0022enabled\u0022:true,\u0022conditions\u0022:{}}",
        "tags": {},
        "locked": false,
        "last_modified": "2023-06-30T19:03:44\u002B00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t02f6e87f544544f3-azconfig-net.azconfig.io;Id=Ek\u002BM;Secret=Kg==",
    "RandomSeed": "1700055182"
  }
}
