{
  "Entries": [
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv/.appconfig.featureflag%2Ffeature%201-2445358366?api-version=2026-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "value": "{\"id\":\"feature 1-2445358366\",\"description\":\"Feature description\",\"enabled\":true,\"conditions\":{}}",
        "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"Ke0ygyYNVmxvCT6LESGVXZROG65Go07Xefu6ndpZA-Q\"",
        "Last-Modified": "Wed, 10 Jun 2026 19:23:30 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDc0NTc3;sn=67074577",
        "x-ms-date": "Wed, 10 Jun 2026 19:23:30 GMT"
      },
      "ResponseBody": {
        "etag": "Ke0ygyYNVmxvCT6LESGVXZROG65Go07Xefu6ndpZA-Q",
        "key": ".appconfig.featureflag/feature 1-2445358366",
        "label": null,
        "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
        "value": "{\"id\":\"feature 1-2445358366\",\"description\":\"Feature description\",\"enabled\":true,\"conditions\":{}}",
        "description": null,
        "tags": {},
        "locked": false,
        "last_modified": "2026-06-10T19:23:30+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv?api-version=2026-04-01&key=.appconfig.featureflag%2Ffeature%201-%2A",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDc0NTc4"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"F374NYzPBdhJg_aDYO7AkIB_MypxV3-Rrl66wXApmmA\"",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDc0NTc4;sn=67074578",
        "x-ms-date": "Wed, 10 Jun 2026 19:23:30 GMT"
      },
      "ResponseBody": {
        "etag": "F374NYzPBdhJg_aDYO7AkIB_MypxV3-Rrl66wXApmmA",
        "items": [
          {
            "etag": "wG0yJuffp1czmWoWUUsK9h0uoxo2UWtlgzXd0IeQwlc",
            "key": ".appconfig.featureflag/feature 1-1232925453",
            "label": null,
            "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
            "value": "{\"id\":\"feature 1-1232925453\",\"description\":\"Feature description\",\"enabled\":true,\"conditions\":{}}",
            "description": null,
            "tags": {},
            "locked": false,
            "last_modified": "2026-06-10T19:23:30+00:00"
          },
          {
            "etag": "Ke0ygyYNVmxvCT6LESGVXZROG65Go07Xefu6ndpZA-Q",
            "key": ".appconfig.featureflag/feature 1-2445358366",
            "label": null,
            "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
            "value": "{\"id\":\"feature 1-2445358366\",\"description\":\"Feature description\",\"enabled\":true,\"conditions\":{}}",
            "description": null,
            "tags": {},
            "locked": false,
            "last_modified": "2026-06-10T19:23:30+00:00"
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv/.appconfig.featureflag%2Ffeature%201-1232925453?api-version=2026-04-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDc0NTc5"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"wG0yJuffp1czmWoWUUsK9h0uoxo2UWtlgzXd0IeQwlc\"",
        "Last-Modified": "Wed, 10 Jun 2026 19:23:30 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDc0NTgw;sn=67074580",
        "x-ms-date": "Wed, 10 Jun 2026 19:23:30 GMT"
      },
      "ResponseBody": {
        "etag": "wG0yJuffp1czmWoWUUsK9h0uoxo2UWtlgzXd0IeQwlc",
        "key": ".appconfig.featureflag/feature 1-1232925453",
        "label": null,
        "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
        "value": "{\"id\":\"feature 1-1232925453\",\"description\":\"Feature description\",\"enabled\":true,\"conditions\":{}}",
        "description": null,
        "tags": {},
        "locked": false,
        "last_modified": "2026-06-10T19:23:30+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_ENDPOINT_STRING": "https://mrm90847047-azconfig-net.azconfig.io",
    "RandomSeed": "1512170117"
  }
}
