{
  "Entries": [
    {
      "RequestUri": "https://azure-sdk-for-net-test.azconfig.io/kv/.appconfig.featureflag%2Fminimal-feature1671019251?api-version=2026-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "{\"id\":\"minimal-feature1671019251\"}",
        "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"8ac1TNXCSQs9EN83NBN5uT97SLlbWL43gJt7Bgw3oYg\"",
        "Last-Modified": "Fri, 29 May 2026 19:52:09 GMT",
        "Sync-Token": "zAJw6V16=NToxNyM0ODE0NzQ3Ng==;sn=48147476",
        "x-ms-date": "Fri, 29 May 2026 19:52:09 GMT"
      },
      "ResponseBody": {
        "etag": "8ac1TNXCSQs9EN83NBN5uT97SLlbWL43gJt7Bgw3oYg",
        "key": ".appconfig.featureflag/minimal-feature1671019251",
        "label": null,
        "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
        "value": "{\"id\":\"minimal-feature1671019251\"}",
        "description": null,
        "tags": {},
        "locked": false,
        "last_modified": "2026-05-29T19:52:09+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://azure-sdk-for-net-test.azconfig.io/kv/.appconfig.featureflag%2Fminimal-feature1671019251?api-version=2026-04-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NToxNyM0ODE0NzQ3Ng==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"8ac1TNXCSQs9EN83NBN5uT97SLlbWL43gJt7Bgw3oYg\"",
        "Last-Modified": "Fri, 29 May 2026 19:52:09 GMT",
        "Sync-Token": "zAJw6V16=NToxNyM0ODE0NzQ3Nw==;sn=48147477",
        "x-ms-date": "Fri, 29 May 2026 19:52:09 GMT"
      },
      "ResponseBody": {
        "etag": "8ac1TNXCSQs9EN83NBN5uT97SLlbWL43gJt7Bgw3oYg",
        "key": ".appconfig.featureflag/minimal-feature1671019251",
        "label": null,
        "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
        "value": "{\"id\":\"minimal-feature1671019251\"}",
        "description": null,
        "tags": {},
        "locked": false,
        "last_modified": "2026-05-29T19:52:09+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://azure-sdk-for-net-test.azconfig.io;Id=8ePU;Secret=Kg==",
    "RandomSeed": "328810022"
  }
}
