{
  "Entries": [
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/secret1837349806?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "{\"uri\":\"http://secret1.com/\"}",
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"XoA7bT01KeaLbhCKf2kQmutSoNeDnBL1cdPKAk_WOsc\"",
        "Last-Modified": "Tue, 06 Jan 2026 06:32:36 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTc3MzQ3NA==;sn=101773474",
        "x-ms-date": "Tue, 06 Jan 2026 06:32:36 GMT"
      },
      "ResponseBody": {
        "etag": "XoA7bT01KeaLbhCKf2kQmutSoNeDnBL1cdPKAk_WOsc",
        "key": "secret1837349806",
        "label": null,
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
        "value": "{\"uri\":\"http://secret1.com/\"}",
        "tags": {},
        "locked": false,
        "last_modified": "2026-01-06T06:32:36+00:00"
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/secret1837349806?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTc3MzQ3NA==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"XoA7bT01KeaLbhCKf2kQmutSoNeDnBL1cdPKAk_WOsc\"",
        "Last-Modified": "Tue, 06 Jan 2026 06:32:36 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTc3MzQ3NQ==;sn=101773475",
        "x-ms-date": "Tue, 06 Jan 2026 06:32:36 GMT"
      },
      "ResponseBody": {
        "etag": "XoA7bT01KeaLbhCKf2kQmutSoNeDnBL1cdPKAk_WOsc",
        "key": "secret1837349806",
        "label": null,
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
        "value": "{\"uri\":\"http://secret1.com/\"}",
        "tags": {},
        "locked": false,
        "last_modified": "2026-01-06T06:32:36+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t9c954b564de572f9-azconfig-net.azconfig.io;Id=MdvE;Secret=Kg==",
    "RandomSeed": "1724646344"
  }
}
