{
  "Entries": [
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/kv/.appconfig.featureflag%2F1324850420?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "{\"id\":\"my_feature\",\"enabled\":true,\"conditions\":{\"client_filters\":[{\"name\":\"Microsoft.Targeting\",\"parameters\":{\"Audience\":{\"Groups\":[{\"Name\":\"Group1\",\"RolloutPercentage\":100}]}}}]}}",
        "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"xLJT-nGy-fvsA2nPT7Ii8JB_owsarF7Ubw2S4qUD0pU\"",
        "Last-Modified": "Tue, 18 Nov 2025 04:20:39 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzU3ODAzODM2;sn=57803836",
        "x-ms-date": "Tue, 18 Nov 2025 04:20:39 GMT"
      },
      "ResponseBody": {
        "etag": "xLJT-nGy-fvsA2nPT7Ii8JB_owsarF7Ubw2S4qUD0pU",
        "key": ".appconfig.featureflag/1324850420",
        "label": null,
        "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
        "value": "{\"id\":\"my_feature\",\"enabled\":true,\"conditions\":{\"client_filters\":[{\"name\":\"Microsoft.Targeting\",\"parameters\":{\"Audience\":{\"Groups\":[{\"Name\":\"Group1\",\"RolloutPercentage\":100}]}}}]}}",
        "tags": {},
        "locked": false,
        "last_modified": "2025-11-18T04:20:39+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/kv/.appconfig.featureflag%2F1324850420?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Njo1IzU3ODAzODM3",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"ciBI2tyvW_8B4nZWHA628W-m3tbkpUjHri9hfLci6T4\"",
        "Last-Modified": "Tue, 18 Nov 2025 04:20:39 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzU3ODAzODM5;sn=57803839",
        "x-ms-date": "Tue, 18 Nov 2025 04:20:39 GMT"
      },
      "ResponseBody": {
        "etag": "ciBI2tyvW_8B4nZWHA628W-m3tbkpUjHri9hfLci6T4",
        "key": ".appconfig.featureflag/1324850420",
        "label": null,
        "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
        "value": "{\"id\":\"my_feature\",\"enabled\":true,\"conditions\":{\"client_filters\":[{\"name\":\"Microsoft.Targeting\",\"parameters\":{\"Audience\":{\"Groups\":[{\"Name\":\"Group1\",\"RolloutPercentage\":100},{\"Name\":\"Group2\",\"RolloutPercentage\":50}]}}}]}}",
        "tags": {},
        "locked": false,
        "last_modified": "2025-11-18T04:20:39+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t8cdd9157ca7d1363-azconfig-net.azconfig.io;Id=wNKY;Secret=Kg==",
    "RandomSeed": "653257041"
  }
}
