{
  "Entries": [
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv/.appconfig.featureflag%2F1331498976?api-version=2026-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "value": "{\"id\":\"my_feature\",\"enabled\":true,\"conditions\":{\"client_filters\":[{\"name\":\"Microsoft.Targeting\",\"parameters\":{\"Audience\":{\"Groups\":[{\"Name\":\"Group1\",\"RolloutPercentage\":100}]}}}]}}",
        "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"sxvMj3gOHa3ueyMCl4OXBMxTLSM2cFqhbVCLmIAyldo\"",
        "Last-Modified": "Wed, 10 Jun 2026 18:31:49 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDY2ODYx;sn=67066861",
        "x-ms-date": "Wed, 10 Jun 2026 18:31:49 GMT"
      },
      "ResponseBody": {
        "etag": "sxvMj3gOHa3ueyMCl4OXBMxTLSM2cFqhbVCLmIAyldo",
        "key": ".appconfig.featureflag/1331498976",
        "label": null,
        "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
        "value": "{\"id\":\"my_feature\",\"enabled\":true,\"conditions\":{\"client_filters\":[{\"name\":\"Microsoft.Targeting\",\"parameters\":{\"Audience\":{\"Groups\":[{\"Name\":\"Group1\",\"RolloutPercentage\":100}]}}}]}}",
        "description": null,
        "tags": {},
        "locked": false,
        "last_modified": "2026-06-10T18:31:49+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv/.appconfig.featureflag%2F1331498976?api-version=2026-04-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDY2ODYy"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"bciFMhtuCKIl-rtAkzam0nWVSJy3G2PkNEXuRyKUOjA\"",
        "Last-Modified": "Wed, 10 Jun 2026 18:31:49 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDY2ODY0;sn=67066864",
        "x-ms-date": "Wed, 10 Jun 2026 18:31:49 GMT"
      },
      "ResponseBody": {
        "etag": "bciFMhtuCKIl-rtAkzam0nWVSJy3G2PkNEXuRyKUOjA",
        "key": ".appconfig.featureflag/1331498976",
        "label": null,
        "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
        "value": "{\"id\":\"my_feature\",\"enabled\":true,\"conditions\":{\"client_filters\":[{\"name\":\"Microsoft.Targeting\",\"parameters\":{\"Audience\":{\"Groups\":[{\"Name\":\"Group1\",\"RolloutPercentage\":100},{\"Name\":\"Group2\",\"RolloutPercentage\":50}]}}}]}}",
        "description": null,
        "tags": {},
        "locked": false,
        "last_modified": "2026-06-10T18:31:49+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_ENDPOINT_STRING": "https://mrm90847047-azconfig-net.azconfig.io",
    "RandomSeed": "1947315789"
  }
}
