{
  "Entries": [
    {
      "RequestUri": "https://tdfcae3cf5eab7143-azconfig-net.azconfig.io/kv/.appconfig.featureflag%2F10489727?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "{\"id\":\"my_feature\",\"enabled\":true,\"conditions\":{\"client_filters\":[{\"name\":\"Microsoft.Targeting\",\"parameters\":{\"Audience\":{\"Groups\":[{\"Name\":\"Group1\",\"RolloutPercentage\":100}]}}}]}}",
        "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"jpDw4wHDXRbwQpS6ztwUwbo8DNlYZtSRSKOGiLiAyIY\"",
        "Last-Modified": "Wed, 24 Jul 2024 15:42:28 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzMyMjcxMDg2;sn=32271086"
      },
      "ResponseBody": {
        "etag": "jpDw4wHDXRbwQpS6ztwUwbo8DNlYZtSRSKOGiLiAyIY",
        "key": ".appconfig.featureflag/10489727",
        "label": null,
        "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
        "value": "{\"id\":\"my_feature\",\"enabled\":true,\"conditions\":{\"client_filters\":[{\"name\":\"Microsoft.Targeting\",\"parameters\":{\"Audience\":{\"Groups\":[{\"Name\":\"Group1\",\"RolloutPercentage\":100}]}}}]}}",
        "locked": false,
        "last_modified": "2024-07-24T15:42:28+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://tdfcae3cf5eab7143-azconfig-net.azconfig.io/kv/.appconfig.featureflag%2F10489727?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Njo1IzMyMjcxMDg3",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"XmZwEN35M9I-Lrjdn97hr4SCQ3Xa2F8z1dTXdzb7aIM\"",
        "Last-Modified": "Wed, 24 Jul 2024 15:42:28 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzMyMjcxMDg5;sn=32271089"
      },
      "ResponseBody": {
        "etag": "XmZwEN35M9I-Lrjdn97hr4SCQ3Xa2F8z1dTXdzb7aIM",
        "key": ".appconfig.featureflag/10489727",
        "label": null,
        "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
        "value": "{\"id\":\"my_feature\",\"enabled\":true,\"conditions\":{\"client_filters\":[{\"name\":\"Microsoft.Targeting\",\"parameters\":{\"Audience\":{\"Groups\":[{\"Name\":\"Group1\",\"RolloutPercentage\":100},{\"Name\":\"Group2\",\"RolloutPercentage\":50}]}}}]}}",
        "locked": false,
        "last_modified": "2024-07-24T15:42:28+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://tdfcae3cf5eab7143-azconfig-net.azconfig.io;Id=MEKF;Secret=Kg==",
    "RandomSeed": "162249378"
  }
}
