{
  "Entries": [
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/.appconfig.featureflag%2F1577215281?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "{\"id\":\"my_feature\",\"enabled\":true,\"conditions\":{\"client_filters\":[{\"name\":\"Microsoft.Targeting\",\"parameters\":{\"Audience\":{\"Groups\":[{\"Name\":\"Group1\",\"RolloutPercentage\":100}]}}}]}}",
        "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"fMSI3Gtfn68X2JCg6PcTE-O29RNHG3aD7I_tHCPvZOc\"",
        "Last-Modified": "Tue, 23 Dec 2025 05:46:29 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTA0OTcyMA==;sn=101049720",
        "x-ms-date": "Tue, 23 Dec 2025 05:46:29 GMT"
      },
      "ResponseBody": {
        "etag": "fMSI3Gtfn68X2JCg6PcTE-O29RNHG3aD7I_tHCPvZOc",
        "key": ".appconfig.featureflag/1577215281",
        "label": null,
        "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
        "value": "{\"id\":\"my_feature\",\"enabled\":true,\"conditions\":{\"client_filters\":[{\"name\":\"Microsoft.Targeting\",\"parameters\":{\"Audience\":{\"Groups\":[{\"Name\":\"Group1\",\"RolloutPercentage\":100}]}}}]}}",
        "tags": {},
        "locked": false,
        "last_modified": "2025-12-23T05:46:29+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/.appconfig.featureflag%2F1577215281?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTA0OTcyMQ==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"T13eXKhqI3OlBJn3jZ7eIf6OifiXJBH-hFqnW7H1nUM\"",
        "Last-Modified": "Tue, 23 Dec 2025 05:46:29 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTA0OTcyMw==;sn=101049723",
        "x-ms-date": "Tue, 23 Dec 2025 05:46:29 GMT"
      },
      "ResponseBody": {
        "etag": "T13eXKhqI3OlBJn3jZ7eIf6OifiXJBH-hFqnW7H1nUM",
        "key": ".appconfig.featureflag/1577215281",
        "label": null,
        "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
        "value": "{\"id\":\"my_feature\",\"enabled\":true,\"conditions\":{\"client_filters\":[{\"name\":\"Microsoft.Targeting\",\"parameters\":{\"Audience\":{\"Groups\":[{\"Name\":\"Group1\",\"RolloutPercentage\":100},{\"Name\":\"Group2\",\"RolloutPercentage\":50}]}}}]}}",
        "tags": {},
        "locked": false,
        "last_modified": "2025-12-23T05:46:29+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t9c954b564de572f9-azconfig-net.azconfig.io;Id=MdvE;Secret=Kg==",
    "RandomSeed": "829238594"
  }
}
