{
  "Entries": [
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/kv/.appconfig.featureflag%2F163661795?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "{\"id\":\"my_feature\",\"enabled\":true,\"conditions\":{\"client_filters\":[{\"name\":\"Microsoft.Targeting\",\"parameters\":{\"Audience\":{\"Groups\":[{\"Name\":\"Group1\",\"RolloutPercentage\":100}]}}}]}}",
        "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"t7f-LqIB0uN8k2K5utZApWrbHk64nWDDygc_G5kWCjU\"",
        "Last-Modified": "Thu, 09 Oct 2025 16:25:14 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzU1NTMxOTc2;sn=55531976",
        "x-ms-date": "Thu, 09 Oct 2025 16:25:14 GMT"
      },
      "ResponseBody": {
        "etag": "t7f-LqIB0uN8k2K5utZApWrbHk64nWDDygc_G5kWCjU",
        "key": ".appconfig.featureflag/163661795",
        "label": null,
        "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
        "value": "{\"id\":\"my_feature\",\"enabled\":true,\"conditions\":{\"client_filters\":[{\"name\":\"Microsoft.Targeting\",\"parameters\":{\"Audience\":{\"Groups\":[{\"Name\":\"Group1\",\"RolloutPercentage\":100}]}}}]}}",
        "tags": {},
        "locked": false,
        "last_modified": "2025-10-09T16:25:14+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/kv/.appconfig.featureflag%2F163661795?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Njo1IzU1NTMxOTc3",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"5jHNJDVyefvjdBptj6iSs8eKWC-adT5T2V2VFgI4ICE\"",
        "Last-Modified": "Thu, 09 Oct 2025 16:25:14 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzU1NTMxOTc5;sn=55531979",
        "x-ms-date": "Thu, 09 Oct 2025 16:25:14 GMT"
      },
      "ResponseBody": {
        "etag": "5jHNJDVyefvjdBptj6iSs8eKWC-adT5T2V2VFgI4ICE",
        "key": ".appconfig.featureflag/163661795",
        "label": null,
        "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
        "value": "{\"id\":\"my_feature\",\"enabled\":true,\"conditions\":{\"client_filters\":[{\"name\":\"Microsoft.Targeting\",\"parameters\":{\"Audience\":{\"Groups\":[{\"Name\":\"Group1\",\"RolloutPercentage\":100},{\"Name\":\"Group2\",\"RolloutPercentage\":50}]}}}]}}",
        "tags": {},
        "locked": false,
        "last_modified": "2025-10-09T16:25:14+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t8cdd9157ca7d1363-azconfig-net.azconfig.io;Id=wNKY;Secret=Kg==",
    "RandomSeed": "729722144"
  }
}
