{
  "Entries": [
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv/.appconfig.featureflag%2F1414909600?api-version=2026-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "value": "{\"id\":\"my_feature\",\"enabled\":true,\"conditions\":{\"client_filters\":[{\"name\":\"Microsoft.Targeting\",\"parameters\":{\"Audience\":{\"Groups\":[{\"Name\":\"Group1\",\"RolloutPercentage\":100}]}}}]}}",
        "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"D_lCNd2-S3G5L1HDwVdIvlQ3R-jOuY2Q6dvgxBUxC8U\"",
        "Last-Modified": "Wed, 10 Jun 2026 21:38:21 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDk0NjYz;sn=67094663",
        "x-ms-date": "Wed, 10 Jun 2026 21:38:21 GMT"
      },
      "ResponseBody": {
        "etag": "D_lCNd2-S3G5L1HDwVdIvlQ3R-jOuY2Q6dvgxBUxC8U",
        "key": ".appconfig.featureflag/1414909600",
        "label": null,
        "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
        "value": "{\"id\":\"my_feature\",\"enabled\":true,\"conditions\":{\"client_filters\":[{\"name\":\"Microsoft.Targeting\",\"parameters\":{\"Audience\":{\"Groups\":[{\"Name\":\"Group1\",\"RolloutPercentage\":100}]}}}]}}",
        "description": null,
        "tags": {},
        "locked": false,
        "last_modified": "2026-06-10T21:38:21+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv/.appconfig.featureflag%2F1414909600?api-version=2026-04-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDk0NjY0"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"A_7MxxvU6ycqHVOrqH4oPFrZp4BTF29oJ8XwQ5sYyv4\"",
        "Last-Modified": "Wed, 10 Jun 2026 21:38:21 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDk0NjY2;sn=67094666",
        "x-ms-date": "Wed, 10 Jun 2026 21:38:21 GMT"
      },
      "ResponseBody": {
        "etag": "A_7MxxvU6ycqHVOrqH4oPFrZp4BTF29oJ8XwQ5sYyv4",
        "key": ".appconfig.featureflag/1414909600",
        "label": null,
        "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
        "value": "{\"id\":\"my_feature\",\"enabled\":true,\"conditions\":{\"client_filters\":[{\"name\":\"Microsoft.Targeting\",\"parameters\":{\"Audience\":{\"Groups\":[{\"Name\":\"Group1\",\"RolloutPercentage\":100},{\"Name\":\"Group2\",\"RolloutPercentage\":50}]}}}]}}",
        "description": null,
        "tags": {},
        "locked": false,
        "last_modified": "2026-06-10T21:38:21+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_ENDPOINT_STRING": "https://mrm90847047-azconfig-net.azconfig.io",
    "RandomSeed": "1628523624"
  }
}
