{
  "Entries": [
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/.appconfig.featureflag%2F1825710639?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "{\"id\":\"my_feature\",\"enabled\":true,\"conditions\":{\"client_filters\":[{\"name\":\"Microsoft.Targeting\",\"parameters\":{\"Audience\":{\"Groups\":[{\"Name\":\"Group1\",\"RolloutPercentage\":100}]}}}]}}",
        "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"8sno0afxgLJr2Zs74Hby3hCEmMa7Y3sYYCLMWqg7e4g\"",
        "Last-Modified": "Thu, 22 Jan 2026 01:37:08 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzQ3MzgyMw==;sn=103473823",
        "x-ms-date": "Thu, 22 Jan 2026 01:37:08 GMT"
      },
      "ResponseBody": {
        "etag": "8sno0afxgLJr2Zs74Hby3hCEmMa7Y3sYYCLMWqg7e4g",
        "key": ".appconfig.featureflag/1825710639",
        "label": null,
        "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
        "value": "{\"id\":\"my_feature\",\"enabled\":true,\"conditions\":{\"client_filters\":[{\"name\":\"Microsoft.Targeting\",\"parameters\":{\"Audience\":{\"Groups\":[{\"Name\":\"Group1\",\"RolloutPercentage\":100}]}}}]}}",
        "tags": {},
        "locked": false,
        "last_modified": "2026-01-22T01:37:08+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/.appconfig.featureflag%2F1825710639?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzQ3MzgyNA==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"rH3yuG0bPGlG7AJYazvH1OumaNs2lMi7unLxvq99gOU\"",
        "Last-Modified": "Thu, 22 Jan 2026 01:37:09 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzQ3MzgyNg==;sn=103473826",
        "x-ms-date": "Thu, 22 Jan 2026 01:37:09 GMT"
      },
      "ResponseBody": {
        "etag": "rH3yuG0bPGlG7AJYazvH1OumaNs2lMi7unLxvq99gOU",
        "key": ".appconfig.featureflag/1825710639",
        "label": null,
        "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
        "value": "{\"id\":\"my_feature\",\"enabled\":true,\"conditions\":{\"client_filters\":[{\"name\":\"Microsoft.Targeting\",\"parameters\":{\"Audience\":{\"Groups\":[{\"Name\":\"Group1\",\"RolloutPercentage\":100},{\"Name\":\"Group2\",\"RolloutPercentage\":50}]}}}]}}",
        "tags": {},
        "locked": false,
        "last_modified": "2026-01-22T01:37:09+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t9c954b564de572f9-azconfig-net.azconfig.io;Id=MdvE;Secret=Kg==",
    "RandomSeed": "1786734281"
  }
}
