{
  "Entries": [
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/.appconfig.featureflag%2F54716689?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "{\"id\":\"my_feature\",\"enabled\":true,\"conditions\":{\"client_filters\":[{\"name\":\"Microsoft.Targeting\",\"parameters\":{\"Audience\":{\"Groups\":[{\"Name\":\"Group1\",\"RolloutPercentage\":100}]}}}]}}",
        "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"iDWPfotWM-ogY34MDhz-Me53Ef6DnkDjATMrpCXc-e0\"",
        "Last-Modified": "Mon, 26 Jan 2026 05:44:22 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzg1MTQ0NA==;sn=103851444",
        "x-ms-date": "Mon, 26 Jan 2026 05:44:22 GMT"
      },
      "ResponseBody": {
        "etag": "iDWPfotWM-ogY34MDhz-Me53Ef6DnkDjATMrpCXc-e0",
        "key": ".appconfig.featureflag/54716689",
        "label": null,
        "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
        "value": "{\"id\":\"my_feature\",\"enabled\":true,\"conditions\":{\"client_filters\":[{\"name\":\"Microsoft.Targeting\",\"parameters\":{\"Audience\":{\"Groups\":[{\"Name\":\"Group1\",\"RolloutPercentage\":100}]}}}]}}",
        "tags": {},
        "locked": false,
        "last_modified": "2026-01-26T05:44:22+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/.appconfig.featureflag%2F54716689?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzg1MTQ0NQ==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"gOPOA3IGZDaVLbBL7WkwHeYC3jaDVY_SOsB9hbkueSQ\"",
        "Last-Modified": "Mon, 26 Jan 2026 05:44:22 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzg1MTQ0Nw==;sn=103851447",
        "x-ms-date": "Mon, 26 Jan 2026 05:44:22 GMT"
      },
      "ResponseBody": {
        "etag": "gOPOA3IGZDaVLbBL7WkwHeYC3jaDVY_SOsB9hbkueSQ",
        "key": ".appconfig.featureflag/54716689",
        "label": null,
        "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
        "value": "{\"id\":\"my_feature\",\"enabled\":true,\"conditions\":{\"client_filters\":[{\"name\":\"Microsoft.Targeting\",\"parameters\":{\"Audience\":{\"Groups\":[{\"Name\":\"Group1\",\"RolloutPercentage\":100},{\"Name\":\"Group2\",\"RolloutPercentage\":50}]}}}]}}",
        "tags": {},
        "locked": false,
        "last_modified": "2026-01-26T05:44:22+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t9c954b564de572f9-azconfig-net.azconfig.io;Id=MdvE;Secret=Kg==",
    "RandomSeed": "1829694445"
  }
}
