{
  "Entries": [
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv/CheckBatchSettingIfChangedWithModifiedPageSync?api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Sync-Token": "zAJw6V16=Mzo1IzY2OTk0NTQ4;sn=66994548",
        "x-ms-date": "Tue, 09 Jun 2026 22:50:57 GMT"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv/key-294932860?api-version=2023-11-01&label=0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "Sync-Token": "zAJw6V16=Mzo1IzY2OTk0NTQ4"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": null,
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"TTQILxobYFJABk0g3f_tAMHBxjTKgd-MI7FIg7jvmQY\"",
        "Last-Modified": "Tue, 09 Jun 2026 22:50:58 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY2OTk0NTQ5;sn=66994549",
        "x-ms-date": "Tue, 09 Jun 2026 22:50:58 GMT"
      },
      "ResponseBody": {
        "etag": "TTQILxobYFJABk0g3f_tAMHBxjTKgd-MI7FIg7jvmQY",
        "key": "key-294932860",
        "label": "0",
        "content_type": null,
        "value": "test_value",
        "tags": {},
        "locked": false,
        "last_modified": "2026-06-09T22:50:58+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv?api-version=2023-11-01&key=key-294932860",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Mzo1IzY2OTk0NjU0"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"zxCGTi_qw9r1ORUwJRI4o5zS6Pd7m8H891bgROw5N3Y\"",
        "Link": "</kv?api-version=2023-11-01&key=key-294932860&after=a2V5LTI5NDkzMjg2MAo5NA%3D%3D>; rel=\"next\"",
        "Sync-Token": "zAJw6V16=Mzo1IzY2OTk0NjU0;sn=66994654",
        "x-ms-date": "Tue, 09 Jun 2026 22:51:13 GMT"
      },
      "ResponseBody": {
        "etag": "zxCGTi_qw9r1ORUwJRI4o5zS6Pd7m8H891bgROw5N3Y",
        "items": [
          {
            "etag": "TTQILxobYFJABk0g3f_tAMHBxjTKgd-MI7FIg7jvmQY",
            "key": "key-294932860",
            "label": "0",
            "content_type": null,
            "value": "test_value",
            "tags": {},
            "locked": false,
            "last_modified": "2026-06-09T22:50:58+00:00"
          },
          {
            "etag": "-8MfmSrZivqNWudCob5YHSsU2cYP25WJlX8R_KP_8T8",
            "key": "key-294932860",
            "label": "1",
            "content_ty[...]
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv?after=a2V5LTI5NDkzMjg2MAo5NA%3D%3D&api-version=2023-11-01&key=key-294932860",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Mzo1IzY2OTk0NjU0"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"0r6ceR_[...]
[...]
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv?after=a2V5LTI5NDkzMjg2MAo5NA%3D%3D&api-version=2023-11-01&key=key-294932860",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "\"0r6ceR_FPV2WDId1tUnfax0hPkNXQ4IA8ciG7BjXJNQ\"",
        "Sync-Token": "zAJw6V16=Mzo1IzY2OTk0NjU2"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"U8lzlIkYd8H3xxpKrxLOZ8e5Z6t54ivwheydHt_fGT4\"",
        "Sync-Token": "zAJw6V16=Mzo1IzY2OTk0NjU2;sn=66994656",
        "x-ms-date": "Tue, 09 Jun 2026 22:51:14 GMT"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "APPCONFIGURATION_ENDPOINT_STRING": "https://mrm90847047-azconfig-net.azconfig.io",
    "RandomSeed": "1634886098"
  }
}
