{
  "Entries": [
    {
      "RequestUri": "https://azure-sdk-for-net-test.azconfig.io/kv/CheckBatchSettingIfChangedWithModifiedPageSync?api-version=2026-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Sync-Token": "zAJw6V16=NToxNyM0ODE0NzQ5OQ==;sn=48147499",
        "x-ms-date": "Fri, 29 May 2026 19:52:10 GMT"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://azure-sdk-for-net-test.azconfig.io/kv/key-366542899?api-version=2026-04-01&label=0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "Sync-Token": "zAJw6V16=NToxNyM0ODE0NzQ5OQ==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": null,
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"wOGYUpGkRNxgVGE7ri1UjWUi-opadWvACQGR-7dgdak\"",
        "Last-Modified": "Fri, 29 May 2026 19:52:10 GMT",
        "Sync-Token": "zAJw6V16=NToxNyM0ODE0NzUwMA==;sn=48147500",
        "x-ms-date": "Fri, 29 May 2026 19:52:10 GMT"
      },
      "ResponseBody": {
        "etag": "wOGYUpGkRNxgVGE7ri1UjWUi-opadWvACQGR-7dgdak",
        "key": "key-366542899",
        "label": "0",
        "content_type": null,
        "value": "test_value",
        "description": null,
        "tags": {},
        "locked": false,
        "last_modified": "2026-05-29T19:52:10+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://azure-sdk-for-net-test.azconfig.io/kv/key-366542899?api-version=2026-04-01&label=72",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "Sync-Token": "zAJw6V16=NToxNyM0ODE0NzU3MQ==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": null,
        "tags": {}
      },
      "StatusCode": 429,
      "ResponseHeaders": {
        "Content-Type": "application/problem+json; charset=utf-8",
        "retry-after-ms": "40",
        "Sync-Token": "zAJw6V16=NToxNyM0ODE0NzU3MQ==;sn=48147571",
        "x-ms-date": "Fri, 29 May 2026 19:52:12 GMT"
      },
      "ResponseBody": {
        "type": "https://azconfig.io/errors/too-many-requests",
        "title": "Resource utilization has surpassed the assigned quota",
        "policy": "Write Action Short Term",
        "status": 429
      }
    },
[...]
    {
      "RequestUri": "https://azure-sdk-for-net-test.azconfig.io/kv?api-version=2026-04-01&key=key-366542899",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NToxNyM0ODE0NzYwNQ==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"4_ipiLys2Zsmx5pCwYCTz_lazulpYPXrnEH8hnqzSec\"",
        "Link": "</kv?api-version=2026-04-01&key=key-366542899&after=a2V5LTM2NjU0Mjg5OQo5NA%3D%3D>; rel=\"next\"",
        "Sync-Token": "zAJw6V16=NToxNyM0ODE0NzYwNg==;sn=48147606",
        "x-ms-date": "Fri, 29 May 2026 19:52:13 GMT"
      },
      "ResponseBody": {
        "etag": "4_ipiLys2Zsmx5pCwYCTz_lazulpYPXrnEH8hnqzSec",
        "items": [
          {
            "etag": "wOGYUpGkRNxgVGE7ri1UjWUi-opadWvACQGR-7dgdak",
            "key": "key-366542899",
            "label": "0",
            "content_type": null,
            "value": "test_value",
            "description": null,
            "tags": {},
            "locked": false,
            "last_modified": "2026-05-29T19:52:10+00:00"
          },
          {
            "etag": "Fd1Ka2r_RB2xZKAQ4JlwYfpu03KgI8mbT44o_r819DQ",
            "key": "key-366542899",
            "lab[...]
    {
      "RequestUri": "https://azure-sdk-for-net-test.azconfig.io/kv?after=a2V5LTM2NjU0Mjg5OQo5NA%3D%3D&api-version=2026-04-01&key=key-366542899",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NToxNyM0ODE0NzYwNg==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+js[...]
[...]
    {
      "RequestUri": "https://azure-sdk-for-net-test.azconfig.io/kv?after=a2V5LTM2NjU0Mjg5OQo5NA%3D%3D&api-version=2026-04-01&key=key-366542899",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "\"n3WFb4VKcYNyKLyxXS99q7sbVS2uHXU19Ua_G4pn8TA\"",
        "Sync-Token": "zAJw6V16=NToxNyM0ODE0NzYwOA==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"RyB82JJrh532FwdvaPy9IQ4lT3ULWkIKn-doE0s_68U\"",
        "Sync-Token": "zAJw6V16=NToxNyM0ODE0NzYwOA==;sn=48147608",
        "x-ms-date": "Fri, 29 May 2026 19:52:13 GMT"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://azure-sdk-for-net-test.azconfig.io;Id=8ePU;Secret=Kg==",
    "RandomSeed": "51135892"
  }
}
