{
  "Entries": [
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv/CheckBatchSettingIfChangedWithUnmodifiedPageDoesNotLogWarningSync?api-version=2026-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"LM_EIs68z0w2FFJZc_2mX1ICYoCOMuCva3cCeU6TsHc\"",
        "Last-Modified": "Tue, 09 Jun 2026 22:51:32 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDk0MTkx;sn=67094191",
        "x-ms-date": "Wed, 10 Jun 2026 21:29:40 GMT"
      },
      "ResponseBody": {
        "etag": "LM_EIs68z0w2FFJZc_2mX1ICYoCOMuCva3cCeU6TsHc",
        "key": "CheckBatchSettingIfChangedWithUnmodifiedPageDoesNotLogWarningSync",
        "label": null,
        "content_type": null,
        "value": "key-707168034",
        "description": null,
        "tags": {},
        "locked": false,
        "last_modified": "2026-06-09T22:51:32+00:00"
      }
    },
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv?api-version=2026-04-01&key=key-707168034",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDk0MTkx"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"TxCyp6BxLr2CHTzNVWxdanaxVabtEFa7mucZXXZitwQ\"",
        "Link": "</kv?api-version=2026-04-01&key=key-707168034&after=a2V5LTcwNzE2ODAzNAo5NA%3D%3D>; rel=\"next\"",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDk0MTkx;sn=67094191",
        "x-ms-date": "Wed, 10 Jun 2026 21:29:40 GMT"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv?api-version=2026-04-01&key=key-707168034",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "\"TxCyp6BxLr2CHTzNVWxdanaxVabtEFa7mucZXXZitwQ\"",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDk0MTkx"
      },
      "RequestBody": null,
      "StatusCode": 304,
      "ResponseHeaders": {
        "Link": "</kv?api-version=2026-04-01&key=key-707168034&after=a2V5LTcwNzE2ODAzNAo5NA%3D%3D>; rel=\"next\"",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDk0MTkx;sn=67094191",
        "x-ms-date": "Wed, 10 Jun 2026 21:29:40 GMT"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "APPCONFIGURATION_ENDPOINT_STRING": "https://mrm90847047-azconfig-net.azconfig.io",
    "RandomSeed": "88496357"
  }
}
