{
  "Entries": [
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv/CheckBatchSettingIfChangedWithUnmodifiedPageDoesNotLogWarningAsync?api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Sync-Token": "zAJw6V16=Mzo1IzY2OTk1OTU1;sn=66995955",
        "x-ms-date": "Tue, 09 Jun 2026 22:59:57 GMT"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv/key-1530223932?api-version=2023-11-01&label=0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "Sync-Token": "zAJw6V16=Mzo1IzY2OTk1OTU1"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": null,
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"Etoi-n2ZDS88W-7qMad77wA31hUaVgF45PyfHmKJ5EE\"",
        "Last-Modified": "Tue, 09 Jun 2026 22:59:58 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY2OTk1OTU2;sn=66995956",
        "x-ms-date": "Tue, 09 Jun 2026 22:59:58 GMT"
      },
      "ResponseBody": {
        "etag": "Etoi-n2ZDS88W-7qMad77wA31hUaVgF45PyfHmKJ5EE",
        "key": "key-1530223932",
        "label": "0",
        "content_type": null,
        "value": "test_value",
        "tags": {},
        "locked": false,
        "last_modified": "2026-06-09T22:59:58+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv?api-version=2023-11-01&key=key-1530223932",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Mzo1IzY2OTk2MDYz"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"egFQ3LQrxnIHA3SwYe8NW0J3iqQP_R2G3Ikwn32G6J8\"",
        "Link": "</kv?api-version=2023-11-01&key=key-1530223932&after=a2V5LTE1MzAyMjM5MzIKOTQ%3D>; rel=\"next\"",
        "Sync-Token": "zAJw6V16=Mzo1IzY2OTk2MDYz;sn=66996063",
        "x-ms-date": "Tue, 09 Jun 2026 23:00:02 GMT"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv?api-version=2023-11-01&key=key-1530223932",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "\"egFQ3LQrxnIHA3SwYe8NW0J3iqQP_R2G3Ikwn32G6J8\"",
        "Sync-Token": "zAJw6V16=Mzo1IzY2OTk2MDYz"
      },
      "RequestBody": null,
      "StatusCode": 304,
      "ResponseHeaders": {
        "Link": "</kv?api-version=2023-11-01&key=key-1530223932&after=a2V5LTE1MzAyMjM5MzIKOTQ%3D>; rel=\"next\"",
        "Sync-Token": "zAJw6V16=Mzo1IzY2OTk2MDYz;sn=66996063",
        "x-ms-date": "Tue, 09 Jun 2026 23:00:02 GMT"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "APPCONFIGURATION_ENDPOINT_STRING": "https://mrm90847047-azconfig-net.azconfig.io",
    "RandomSeed": "2092983585"
  }
}
