{
  "Entries": [
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv/CheckBatchSettingIfChangedWithUnmodifiedPageSync?api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Sync-Token": "zAJw6V16=Mzo1IzY2OTk0NzYy;sn=66994762",
        "x-ms-date": "Tue, 09 Jun 2026 22:51:34 GMT"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv/key-820693202?api-version=2023-11-01&label=0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "Sync-Token": "zAJw6V16=Mzo1IzY2OTk0NzYy"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": null,
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"wS5PJlvJ-RXp0uORY369g_kO7oMggEDVEq3wT733oiI\"",
        "Last-Modified": "Tue, 09 Jun 2026 22:51:34 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY2OTk0NzYz;sn=66994763",
        "x-ms-date": "Tue, 09 Jun 2026 22:51:34 GMT"
      },
      "ResponseBody": {
        "etag": "wS5PJlvJ-RXp0uORY369g_kO7oMggEDVEq3wT733oiI",
        "key": "key-820693202",
        "label": "0",
        "content_type": null,
        "value": "test_value",
        "tags": {},
        "locked": false,
        "last_modified": "2026-06-09T22:51:34+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv?api-version=2023-11-01&key=key-820693202",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Mzo1IzY2OTk0ODcz"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"qJNcDQcbIg9xQeblbucDO2-eOlCcLY6CJwxVKxc8lwI\"",
        "Link": "</kv?api-version=2023-11-01&key=key-820693202&after=a2V5LTgyMDY5MzIwMgo5NA%3D%3D>; rel=\"next\"",
        "Sync-Token": "zAJw6V16=Mzo1IzY2OTk0ODcz;sn=66994873",
        "x-ms-date": "Tue, 09 Jun 2026 22:51:48 GMT"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv?after=a2V5LTgyMDY5MzIwMgo5NA%3D%3D&api-version=2023-11-01&key=key-820693202",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Mzo1IzY2OTk0ODcz"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"qkfUQ0s5q9CxDQO2Rye5w0FAndcCeTOd7kVJFBA_pmE\"",
        "Sync-Token": "zAJw6V16=Mzo1IzY2OTk0ODcz;sn=66994873",
        "x-ms-date": "Tue, 09 Jun 2026 22:51:48 GMT"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv?after=a2V5LTgyMDY5MzIwMgo5NA%3D%3D&api-version=2023-11-01&key=key-820693202",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "\"qkfUQ0s5q9CxDQO2Rye5w0FAndcCeTOd7kVJFBA_pmE\"",
        "Sync-Token": "zAJw6V16=Mzo1IzY2OTk0ODcz"
      },
      "RequestBody": null,
      "StatusCode": 304,
      "ResponseHeaders": {
        "Sync-Token": "zAJw6V16=Mzo1IzY2OTk0ODcz;sn=66994873",
        "x-ms-date": "Tue, 09 Jun 2026 22:51:48 GMT"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "APPCONFIGURATION_ENDPOINT_STRING": "https://mrm90847047-azconfig-net.azconfig.io",
    "RandomSeed": "1057393977"
  }
}
