{
  "Entries": [
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/CheckBatchSettingIfChangedWithUnmodifiedPageDoesNotLogWarningSync?api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"xV2Ygsortj9OBdMe3Jvj9pWZYtiYp94uu0Jw3M_DAPA\"",
        "Last-Modified": "Mon, 22 Dec 2025 09:35:14 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTA0OTIzNQ==;sn=101049235",
        "x-ms-date": "Tue, 23 Dec 2025 05:39:57 GMT"
      },
      "ResponseBody": {
        "etag": "xV2Ygsortj9OBdMe3Jvj9pWZYtiYp94uu0Jw3M_DAPA",
        "key": "CheckBatchSettingIfChangedWithUnmodifiedPageDoesNotLogWarningSync",
        "label": null,
        "content_type": null,
        "value": "key-1618867709",
        "tags": {},
        "locked": false,
        "last_modified": "2025-12-22T09:35:14+00:00"
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv?api-version=2023-11-01&key=key-1618867709",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTA0OTIzNQ==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"Gty-xgR9lL_atUx5IbZf_Q87IrtZ6JYTErvCWY8MrV4\"",
        "Link": "</kv?api-version=2023-11-01&key=key-1618867709&after=a2V5LTE2MTg4Njc3MDkKOTQ%3D>; rel=\"next\"",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTA0OTIzNQ==;sn=101049235",
        "x-ms-date": "Tue, 23 Dec 2025 05:39:58 GMT"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv?api-version=2023-11-01&key=key-1618867709",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "\"Gty-xgR9lL_atUx5IbZf_Q87IrtZ6JYTErvCWY8MrV4\"",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTA0OTIzNQ==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 304,
      "ResponseHeaders": {
        "Link": "</kv?api-version=2023-11-01&key=key-1618867709&after=a2V5LTE2MTg4Njc3MDkKOTQ%3D>; rel=\"next\"",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTA0OTIzNQ==;sn=101049235",
        "x-ms-date": "Tue, 23 Dec 2025 05:39:58 GMT"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t9c954b564de572f9-azconfig-net.azconfig.io;Id=MdvE;Secret=Kg==",
    "RandomSeed": "67336825"
  }
}
