{
  "Entries": [
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/CheckBatchSettingIfChangedWithUnmodifiedPageDoesNotLogWarningSync?api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Sync-Token": "zAJw6V16=NTo1IzEwMzg1MDMyNg==;sn=103850326",
        "x-ms-date": "Mon, 26 Jan 2026 05:37:24 GMT"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-722258119?api-version=2023-11-01&label=0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzg1MDMyNg==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": null,
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"hsIwhevr7u7wU_IgFFFevLJ-7RFr8CP3m_eqTtuA9T4\"",
        "Last-Modified": "Mon, 26 Jan 2026 05:37:25 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzg1MDMyNw==;sn=103850327",
        "x-ms-date": "Mon, 26 Jan 2026 05:37:25 GMT"
      },
      "ResponseBody": {
        "etag": "hsIwhevr7u7wU_IgFFFevLJ-7RFr8CP3m_eqTtuA9T4",
        "key": "key-722258119",
        "label": "0",
        "content_type": null,
        "value": "test_value",
        "tags": {},
        "locked": false,
        "last_modified": "2026-01-26T05:37:25+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv?api-version=2023-11-01&key=key-722258119",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzg1MDQzMg==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"hDBsG4TkurQylgbx9OhrT1Xewnuvg1_VNC32VukN_78\"",
        "Link": "</kv?api-version=2023-11-01&key=key-722258119&after=a2V5LTcyMjI1ODExOQo5NA%3D%3D>; rel=\"next\"",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzg1MDQzMw==;sn=103850433",
        "x-ms-date": "Mon, 26 Jan 2026 05:37:38 GMT"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv?api-version=2023-11-01&key=key-722258119",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "\"hDBsG4TkurQylgbx9OhrT1Xewnuvg1_VNC32VukN_78\"",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzg1MDQzMw==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 304,
      "ResponseHeaders": {
        "Link": "</kv?api-version=2023-11-01&key=key-722258119&after=a2V5LTcyMjI1ODExOQo5NA%3D%3D>; rel=\"next\"",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzg1MDQzMw==;sn=103850433",
        "x-ms-date": "Mon, 26 Jan 2026 05:37:39 GMT"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t9c954b564de572f9-azconfig-net.azconfig.io;Id=MdvE;Secret=Kg==",
    "RandomSeed": "1957463817"
  }
}
