{
  "Entries": [
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/CheckBatchSettingIfChangedWithUnmodifiedPageDoesNotLogWarningAsync?api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"oBeTCCHnoBEAnz_gQ968HF7FDrU_XNwClCv4THRuL2w\"",
        "Last-Modified": "Wed, 21 Jan 2026 10:22:54 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzQ3MzgyOA==;sn=103473828",
        "x-ms-date": "Thu, 22 Jan 2026 01:37:10 GMT"
      },
      "ResponseBody": {
        "etag": "oBeTCCHnoBEAnz_gQ968HF7FDrU_XNwClCv4THRuL2w",
        "key": "CheckBatchSettingIfChangedWithUnmodifiedPageDoesNotLogWarningAsync",
        "label": null,
        "content_type": null,
        "value": "key-984266277",
        "tags": {},
        "locked": false,
        "last_modified": "2026-01-21T10:22:54+00:00"
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv?api-version=2023-11-01&key=key-984266277",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzQ3MzgyOA==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"1KupqPExOdSV23yvznBFuB0-Jgq1LSEPEjuaMj7KD_c\"",
        "Link": "</kv?api-version=2023-11-01&key=key-984266277&after=a2V5LTk4NDI2NjI3Nwo5NA%3D%3D>; rel=\"next\"",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzQ3MzgyOA==;sn=103473828",
        "x-ms-date": "Thu, 22 Jan 2026 01:37:10 GMT"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv?api-version=2023-11-01&key=key-984266277",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "\"1KupqPExOdSV23yvznBFuB0-Jgq1LSEPEjuaMj7KD_c\"",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzQ3MzgyOA==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 304,
      "ResponseHeaders": {
        "Link": "</kv?api-version=2023-11-01&key=key-984266277&after=a2V5LTk4NDI2NjI3Nwo5NA%3D%3D>; rel=\"next\"",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzQ3MzgyOA==;sn=103473828",
        "x-ms-date": "Thu, 22 Jan 2026 01:37:11 GMT"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t9c954b564de572f9-azconfig-net.azconfig.io;Id=MdvE;Secret=Kg==",
    "RandomSeed": "889987085"
  }
}
