{
  "Entries": [
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv/key-1459703268?api-version=2026-04-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "description": "test_description"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"uV16wa_Xsv0ORSopSscAt9cm34x6LVo48WMpWgMJpzQ\"",
        "Last-Modified": "Wed, 10 Jun 2026 19:15:22 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDcxOTgy;sn=67071982",
        "x-ms-date": "Wed, 10 Jun 2026 19:15:22 GMT"
      },
      "ResponseBody": {
        "etag": "uV16wa_Xsv0ORSopSscAt9cm34x6LVo48WMpWgMJpzQ",
        "key": "key-1459703268",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "description": "test_description",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-06-10T19:15:22+00:00"
      }
    },
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/locks/key-1459703268?api-version=2026-04-01&label=test_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDcxOTgy"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"uV16wa_Xsv0ORSopSscAt9cm34x6LVo48WMpWgMJpzQ\"",
        "Last-Modified": "Wed, 10 Jun 2026 19:15:22 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDcxOTgy;sn=67071982",
        "x-ms-date": "Wed, 10 Jun 2026 19:15:22 GMT"
      },
      "ResponseBody": {
        "etag": "uV16wa_Xsv0ORSopSscAt9cm34x6LVo48WMpWgMJpzQ",
        "key": "key-1459703268",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "description": "test_description",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-06-10T19:15:22+00:00"
      }
    },
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv/key-1459703268?api-version=2026-04-01&label=test_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDcxOTgy"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"uV16wa_Xsv0ORSopSscAt9cm34x6LVo48WMpWgMJpzQ\"",
        "Last-Modified": "Wed, 10 Jun 2026 19:15:22 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDcxOTgz;sn=67071983",
        "x-ms-date": "Wed, 10 Jun 2026 19:15:22 GMT"
      },
      "ResponseBody": {
        "etag": "uV16wa_Xsv0ORSopSscAt9cm34x6LVo48WMpWgMJpzQ",
        "key": "key-1459703268",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "description": "test_description",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-06-10T19:15:22+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_ENDPOINT_STRING": "https://mrm90847047-azconfig-net.azconfig.io",
    "RandomSeed": "2107270875"
  }
}
