{
  "Entries": [
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv/key-1571264398?api-version=2023-11-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"eFOPMO4xuIv33Mx6zHiNvcsSYnk2zDKzYevgFgUxMyM\"",
        "Last-Modified": "Tue, 09 Jun 2026 23:00:05 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY2OTk2MDg0;sn=66996084",
        "x-ms-date": "Tue, 09 Jun 2026 23:00:05 GMT"
      },
      "ResponseBody": {
        "etag": "eFOPMO4xuIv33Mx6zHiNvcsSYnk2zDKzYevgFgUxMyM",
        "key": "key-1571264398",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-06-09T23:00:05+00:00"
      }
    },
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/locks/key-1571264398?api-version=2023-11-01&label=test_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Mzo1IzY2OTk2MDg0"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"eFOPMO4xuIv33Mx6zHiNvcsSYnk2zDKzYevgFgUxMyM\"",
        "Last-Modified": "Tue, 09 Jun 2026 23:00:05 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY2OTk2MDg0;sn=66996084",
        "x-ms-date": "Tue, 09 Jun 2026 23:00:05 GMT"
      },
      "ResponseBody": {
        "etag": "eFOPMO4xuIv33Mx6zHiNvcsSYnk2zDKzYevgFgUxMyM",
        "key": "key-1571264398",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-06-09T23:00:05+00:00"
      }
    },
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv/key-1571264398?api-version=2023-11-01&label=test_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Mzo1IzY2OTk2MDg0"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"eFOPMO4xuIv33Mx6zHiNvcsSYnk2zDKzYevgFgUxMyM\"",
        "Last-Modified": "Tue, 09 Jun 2026 23:00:05 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY2OTk2MDg1;sn=66996085",
        "x-ms-date": "Tue, 09 Jun 2026 23:00:05 GMT"
      },
      "ResponseBody": {
        "etag": "eFOPMO4xuIv33Mx6zHiNvcsSYnk2zDKzYevgFgUxMyM",
        "key": "key-1571264398",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-06-09T23:00:05+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_ENDPOINT_STRING": "https://mrm90847047-azconfig-net.azconfig.io",
    "RandomSeed": "2087337578"
  }
}
