{
  "Entries": [
    {
      "RequestUri": "https://azure-sdk-for-net-test.azconfig.io/kv/key-729398095?api-version=2026-04-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"uMsxWMlLC4qDV6GXS8hYVwrStiGPPFu_qJR0MsXNLq0\"",
        "Last-Modified": "Fri, 29 May 2026 19:52:23 GMT",
        "Sync-Token": "zAJw6V16=NToxNyM0ODE0NzgyNA==;sn=48147824",
        "x-ms-date": "Fri, 29 May 2026 19:52:23 GMT"
      },
      "ResponseBody": {
        "etag": "uMsxWMlLC4qDV6GXS8hYVwrStiGPPFu_qJR0MsXNLq0",
        "key": "key-729398095",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "description": null,
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-05-29T19:52:23+00:00"
      }
    },
    {
      "RequestUri": "https://azure-sdk-for-net-test.azconfig.io/locks/key-729398095?api-version=2026-04-01&label=test_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NToxNyM0ODE0NzgyNA==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"uMsxWMlLC4qDV6GXS8hYVwrStiGPPFu_qJR0MsXNLq0\"",
        "Last-Modified": "Fri, 29 May 2026 19:52:23 GMT",
        "Sync-Token": "zAJw6V16=NToxNyM0ODE0NzgyNA==;sn=48147824",
        "x-ms-date": "Fri, 29 May 2026 19:52:23 GMT"
      },
      "ResponseBody": {
        "etag": "uMsxWMlLC4qDV6GXS8hYVwrStiGPPFu_qJR0MsXNLq0",
        "key": "key-729398095",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "description": null,
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-05-29T19:52:23+00:00"
      }
    },
    {
      "RequestUri": "https://azure-sdk-for-net-test.azconfig.io/kv/key-729398095?api-version=2026-04-01&label=test_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NToxNyM0ODE0NzgyNA==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"uMsxWMlLC4qDV6GXS8hYVwrStiGPPFu_qJR0MsXNLq0\"",
        "Last-Modified": "Fri, 29 May 2026 19:52:23 GMT",
        "Sync-Token": "zAJw6V16=NToxNyM0ODE0NzgyNQ==;sn=48147825",
        "x-ms-date": "Fri, 29 May 2026 19:52:23 GMT"
      },
      "ResponseBody": {
        "etag": "uMsxWMlLC4qDV6GXS8hYVwrStiGPPFu_qJR0MsXNLq0",
        "key": "key-729398095",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "description": null,
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-05-29T19:52:23+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://azure-sdk-for-net-test.azconfig.io;Id=8ePU;Secret=Kg==",
    "RandomSeed": "1745670129"
  }
}
