{
  "Entries": [
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-74173898?api-version=2023-11-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"_3n73P5WcEZmnVFdZf-VERCtSeUFmv_stdIm0yTEIXk\"",
        "Last-Modified": "Tue, 06 Jan 2026 01:15:58 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTc2NTcxNg==;sn=101765716",
        "x-ms-date": "Tue, 06 Jan 2026 01:15:58 GMT"
      },
      "ResponseBody": {
        "etag": "_3n73P5WcEZmnVFdZf-VERCtSeUFmv_stdIm0yTEIXk",
        "key": "key-74173898",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-01-06T01:15:58+00:00"
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/locks/key-74173898?api-version=2023-11-01&label=test_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTc2NTcxNg==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"_3n73P5WcEZmnVFdZf-VERCtSeUFmv_stdIm0yTEIXk\"",
        "Last-Modified": "Tue, 06 Jan 2026 01:15:58 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTc2NTcxNg==;sn=101765716",
        "x-ms-date": "Tue, 06 Jan 2026 01:15:59 GMT"
      },
      "ResponseBody": {
        "etag": "_3n73P5WcEZmnVFdZf-VERCtSeUFmv_stdIm0yTEIXk",
        "key": "key-74173898",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-01-06T01:15:58+00:00"
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-74173898?api-version=2023-11-01&label=test_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTc2NTcxNg==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"_3n73P5WcEZmnVFdZf-VERCtSeUFmv_stdIm0yTEIXk\"",
        "Last-Modified": "Tue, 06 Jan 2026 01:15:58 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTc2NTcxNw==;sn=101765717",
        "x-ms-date": "Tue, 06 Jan 2026 01:15:59 GMT"
      },
      "ResponseBody": {
        "etag": "_3n73P5WcEZmnVFdZf-VERCtSeUFmv_stdIm0yTEIXk",
        "key": "key-74173898",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-01-06T01:15:58+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t9c954b564de572f9-azconfig-net.azconfig.io;Id=MdvE;Secret=Kg==",
    "RandomSeed": "1473642221"
  }
}
