{
  "Entries": [
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv/key-768954863?api-version=2023-11-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"qpbN7aFHcdl1aPa4x6vWjOODjr1KssD0kD2mibzkMFY\"",
        "Last-Modified": "Tue, 09 Jun 2026 22:51:51 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY2OTk0ODc0;sn=66994874",
        "x-ms-date": "Tue, 09 Jun 2026 22:51:51 GMT"
      },
      "ResponseBody": {
        "etag": "qpbN7aFHcdl1aPa4x6vWjOODjr1KssD0kD2mibzkMFY",
        "key": "key-768954863",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-06-09T22:51:51+00:00"
      }
    },
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/locks/key-768954863?api-version=2023-11-01&label=test_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Mzo1IzY2OTk0ODc0"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"qpbN7aFHcdl1aPa4x6vWjOODjr1KssD0kD2mibzkMFY\"",
        "Last-Modified": "Tue, 09 Jun 2026 22:51:51 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY2OTk0ODc0;sn=66994874",
        "x-ms-date": "Tue, 09 Jun 2026 22:51:51 GMT"
      },
      "ResponseBody": {
        "etag": "qpbN7aFHcdl1aPa4x6vWjOODjr1KssD0kD2mibzkMFY",
        "key": "key-768954863",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-06-09T22:51:51+00:00"
      }
    },
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv/key-768954863?api-version=2023-11-01&label=test_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Mzo1IzY2OTk0ODc0"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"qpbN7aFHcdl1aPa4x6vWjOODjr1KssD0kD2mibzkMFY\"",
        "Last-Modified": "Tue, 09 Jun 2026 22:51:51 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY2OTk0ODc1;sn=66994875",
        "x-ms-date": "Tue, 09 Jun 2026 22:51:51 GMT"
      },
      "ResponseBody": {
        "etag": "qpbN7aFHcdl1aPa4x6vWjOODjr1KssD0kD2mibzkMFY",
        "key": "key-768954863",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-06-09T22:51:51+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_ENDPOINT_STRING": "https://mrm90847047-azconfig-net.azconfig.io",
    "RandomSeed": "1281399600"
  }
}
