{
  "Entries": [
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-1972763411?api-version=2023-11-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"mFJcZsTSLcLMFzGZ_Syg5px3HT3hHgcAzLGiDzJijmM\"",
        "Last-Modified": "Mon, 01 Dec 2025 08:33:09 GMT",
        "Sync-Token": "zAJw6V16=NTo1Izk4Nzc0ODQz;sn=98774843",
        "x-ms-date": "Mon, 01 Dec 2025 08:33:09 GMT"
      },
      "ResponseBody": {
        "etag": "mFJcZsTSLcLMFzGZ_Syg5px3HT3hHgcAzLGiDzJijmM",
        "key": "key-1972763411",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2025-12-01T08:33:09+00:00"
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/locks/key-1972763411?api-version=2023-11-01&label=test_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1Izk4Nzc0ODQz",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"mFJcZsTSLcLMFzGZ_Syg5px3HT3hHgcAzLGiDzJijmM\"",
        "Last-Modified": "Mon, 01 Dec 2025 08:33:09 GMT",
        "Sync-Token": "zAJw6V16=NTo1Izk4Nzc0ODQz;sn=98774843",
        "x-ms-date": "Mon, 01 Dec 2025 08:33:09 GMT"
      },
      "ResponseBody": {
        "etag": "mFJcZsTSLcLMFzGZ_Syg5px3HT3hHgcAzLGiDzJijmM",
        "key": "key-1972763411",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2025-12-01T08:33:09+00:00"
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-1972763411?api-version=2023-11-01&label=test_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1Izk4Nzc0ODQz",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"mFJcZsTSLcLMFzGZ_Syg5px3HT3hHgcAzLGiDzJijmM\"",
        "Last-Modified": "Mon, 01 Dec 2025 08:33:09 GMT",
        "Sync-Token": "zAJw6V16=NTo1Izk4Nzc0ODQ0;sn=98774844",
        "x-ms-date": "Mon, 01 Dec 2025 08:33:09 GMT"
      },
      "ResponseBody": {
        "etag": "mFJcZsTSLcLMFzGZ_Syg5px3HT3hHgcAzLGiDzJijmM",
        "key": "key-1972763411",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2025-12-01T08:33:09+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t9c954b564de572f9-azconfig-net.azconfig.io;Id=MdvE;Secret=Kg==",
    "RandomSeed": "1474567777"
  }
}
