{
  "Entries": [
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-1922348914?api-version=2023-11-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"f6EDuC_1ryJk7fWE89w8rMdYAcG-XvvPq38f9kDlZCw\"",
        "Last-Modified": "Tue, 06 Jan 2026 06:32:41 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTc3MzQ5MA==;sn=101773490",
        "x-ms-date": "Tue, 06 Jan 2026 06:32:41 GMT"
      },
      "ResponseBody": {
        "etag": "f6EDuC_1ryJk7fWE89w8rMdYAcG-XvvPq38f9kDlZCw",
        "key": "key-1922348914",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-01-06T06:32:41+00:00"
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/locks/key-1922348914?api-version=2023-11-01&label=test_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTc3MzQ5MA==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"f6EDuC_1ryJk7fWE89w8rMdYAcG-XvvPq38f9kDlZCw\"",
        "Last-Modified": "Tue, 06 Jan 2026 06:32:41 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTc3MzQ5MA==;sn=101773490",
        "x-ms-date": "Tue, 06 Jan 2026 06:32:41 GMT"
      },
      "ResponseBody": {
        "etag": "f6EDuC_1ryJk7fWE89w8rMdYAcG-XvvPq38f9kDlZCw",
        "key": "key-1922348914",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-01-06T06:32:41+00:00"
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-1922348914?api-version=2023-11-01&label=test_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTc3MzQ5MA==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"f6EDuC_1ryJk7fWE89w8rMdYAcG-XvvPq38f9kDlZCw\"",
        "Last-Modified": "Tue, 06 Jan 2026 06:32:41 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTc3MzQ5MQ==;sn=101773491",
        "x-ms-date": "Tue, 06 Jan 2026 06:32:41 GMT"
      },
      "ResponseBody": {
        "etag": "f6EDuC_1ryJk7fWE89w8rMdYAcG-XvvPq38f9kDlZCw",
        "key": "key-1922348914",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-01-06T06:32:41+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t9c954b564de572f9-azconfig-net.azconfig.io;Id=MdvE;Secret=Kg==",
    "RandomSeed": "507390067"
  }
}
