{
  "Entries": [
    {
      "RequestUri": "https://jsquire-azconfig-net.azconfig.io/locks/key-1749020346?api-version=1.0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "47DEQpj8HBSa\u002B/TImW\u002B5JCeuQeRkm5NMpJWZG3hSuFU="
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "WWW-Authenticate": [
          "HMAC-SHA256 error=\u0022invalid_token\u0022, error_description=\u0022Invalid Credential\u0022",
          "Bearer"
        ]
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://jsquire-azconfig-net.azconfig.io;Id=GO\u002BO;Secret=Kg==",
    "RandomSeed": "530840950"
  }
}
