{
  "Entries": [
    {
      "RequestUri": "https://tdfcae3cf5eab7143-azconfig-net.azconfig.io/kv/key-435588837?label=test_label&api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"wA0V3UrE8A2DyMiCtDYFpr0EKYyCKJ-OezGP1ggohZk\"",
        "Last-Modified": "Wed, 24 Jul 2024 15:47:28 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzMyMjcxODA0;sn=32271804"
      },
      "ResponseBody": {
        "etag": "wA0V3UrE8A2DyMiCtDYFpr0EKYyCKJ-OezGP1ggohZk",
        "key": "key-435588837",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2024-07-24T15:47:28+00:00"
      }
    },
    {
      "RequestUri": "https://tdfcae3cf5eab7143-azconfig-net.azconfig.io/locks/key-435588837?label=test_label&api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"wA0V3UrE8A2DyMiCtDYFpr0EKYyCKJ-OezGP1ggohZk\"",
        "Sync-Token": "zAJw6V16=Njo1IzMyMjcxODA0",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"P04V1s5AGqKt1sYi9jxyC5NPJrUU-TkbqeM8_sKzKXQ\"",
        "Last-Modified": "Wed, 24 Jul 2024 15:47:28 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzMyMjcxODA1;sn=32271805"
      },
      "ResponseBody": {
        "etag": "P04V1s5AGqKt1sYi9jxyC5NPJrUU-TkbqeM8_sKzKXQ",
        "key": "key-435588837",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": true,
        "last_modified": "2024-07-24T15:47:28+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://tdfcae3cf5eab7143-azconfig-net.azconfig.io/kv/key-435588837?label=test_label&api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Njo1IzMyMjcxODA4",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"rM5UKEGuNz1CytuLtpDxejYcyOPMfcpHjCJa11PBoSA\"",
        "Last-Modified": "Wed, 24 Jul 2024 15:47:28 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzMyMjcxODA5;sn=32271809"
      },
      "ResponseBody": {
        "etag": "rM5UKEGuNz1CytuLtpDxejYcyOPMfcpHjCJa11PBoSA",
        "key": "key-435588837",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2024-07-24T15:47:28+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://tdfcae3cf5eab7143-azconfig-net.azconfig.io;Id=MEKF;Secret=Kg==",
    "RandomSeed": "517959810"
  }
}
