{
  "Entries": [
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-1125702906?api-version=2023-11-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"Vd2zBfKNumau4aCGH1B2VRRlSEHZ0Gcb2Ce2R9EdwVY\"",
        "Last-Modified": "Thu, 22 Jan 2026 01:36:45 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzQ3Mzc2MA==;sn=103473760",
        "x-ms-date": "Thu, 22 Jan 2026 01:36:45 GMT"
      },
      "ResponseBody": {
        "etag": "Vd2zBfKNumau4aCGH1B2VRRlSEHZ0Gcb2Ce2R9EdwVY",
        "key": "key-1125702906",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-01-22T01:36:45+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/locks/key-1125702906?api-version=2023-11-01&label=test_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"Vd2zBfKNumau4aCGH1B2VRRlSEHZ0Gcb2Ce2R9EdwVY\"",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzQ3Mzc2MQ==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Sync-Token": "zAJw6V16=NTo1IzEwMzQ3Mzc2Mg==;sn=103473762",
        "x-ms-date": "Thu, 22 Jan 2026 01:36:45 GMT"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-1125702906?api-version=2023-11-01&label=test_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzQ3Mzc2Mg==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"k7KsOJutjk0rHCgqxxpYlSyWtAHeLU-NPooDIjDPd1U\"",
        "Last-Modified": "Thu, 22 Jan 2026 01:36:45 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzQ3Mzc2Mw==;sn=103473763",
        "x-ms-date": "Thu, 22 Jan 2026 01:36:45 GMT"
      },
      "ResponseBody": {
        "etag": "k7KsOJutjk0rHCgqxxpYlSyWtAHeLU-NPooDIjDPd1U",
        "key": "key-1125702906",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "new_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-01-22T01:36:45+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t9c954b564de572f9-azconfig-net.azconfig.io;Id=MdvE;Secret=Kg==",
    "RandomSeed": "935848975"
  }
}
