{
  "Entries": [
    {
      "RequestUri": "https://tdfcae3cf5eab7143-azconfig-net.azconfig.io/kv/key-1675856507?label=test_label&api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"Xxy_nwR_N8F8pSg69AhhsNNkcFk_eXYmuBLY4c1ZMQ8\"",
        "Last-Modified": "Wed, 24 Jul 2024 15:52:59 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzMyMjcyNDEy;sn=32272412"
      },
      "ResponseBody": {
        "etag": "Xxy_nwR_N8F8pSg69AhhsNNkcFk_eXYmuBLY4c1ZMQ8",
        "key": "key-1675856507",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2024-07-24T15:52:59+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://tdfcae3cf5eab7143-azconfig-net.azconfig.io/locks/key-1675856507?label=test_label&api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"Xxy_nwR_N8F8pSg69AhhsNNkcFk_eXYmuBLY4c1ZMQ8\"",
        "Sync-Token": "zAJw6V16=Njo1IzMyMjcyNDEz",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Sync-Token": "zAJw6V16=Njo1IzMyMjcyNDE0;sn=32272414"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://tdfcae3cf5eab7143-azconfig-net.azconfig.io/kv/key-1675856507?label=test_label&api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Njo1IzMyMjcyNDE0",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"YNdYgU0qkZ5s40ptBUzXQ2E6Bq_em3EfUD60_yqXA4E\"",
        "Last-Modified": "Wed, 24 Jul 2024 15:52:59 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzMyMjcyNDE1;sn=32272415"
      },
      "ResponseBody": {
        "etag": "YNdYgU0qkZ5s40ptBUzXQ2E6Bq_em3EfUD60_yqXA4E",
        "key": "key-1675856507",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "new_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2024-07-24T15:52:59+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://tdfcae3cf5eab7143-azconfig-net.azconfig.io;Id=MEKF;Secret=Kg==",
    "RandomSeed": "1771686239"
  }
}
