{
  "Entries": [
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/kv/key-579217078?api-version=2023-11-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"Iikhbt3ZgkazYM3gnc8bDx9bOvXuSTWaPLrRcNYncEc\"",
        "Last-Modified": "Mon, 17 Nov 2025 16:53:26 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzU3NzY0NTU5;sn=57764559",
        "x-ms-date": "Mon, 17 Nov 2025 16:53:26 GMT"
      },
      "ResponseBody": {
        "etag": "Iikhbt3ZgkazYM3gnc8bDx9bOvXuSTWaPLrRcNYncEc",
        "key": "key-579217078",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2025-11-17T16:53:26+00:00"
      }
    },
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/locks/key-579217078?api-version=2023-11-01&label=test_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"Iikhbt3ZgkazYM3gnc8bDx9bOvXuSTWaPLrRcNYncEc\"",
        "Sync-Token": "zAJw6V16=Njo1IzU3NzY0NTU5",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"Iikhbt3ZgkazYM3gnc8bDx9bOvXuSTWaPLrRcNYncEc\"",
        "Last-Modified": "Mon, 17 Nov 2025 16:53:26 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzU3NzY0NTU5;sn=57764559",
        "x-ms-date": "Mon, 17 Nov 2025 16:53:26 GMT"
      },
      "ResponseBody": {
        "etag": "Iikhbt3ZgkazYM3gnc8bDx9bOvXuSTWaPLrRcNYncEc",
        "key": "key-579217078",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2025-11-17T16:53:26+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/kv/key-579217078?api-version=2023-11-01&label=test_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Njo1IzU3NzY0NTYy",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"cmz_0Vdqnv86OPhSbqN0lsfSl5rywmVQ80yvhgBHKtI\"",
        "Last-Modified": "Mon, 17 Nov 2025 16:53:26 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzU3NzY0NTY0;sn=57764564",
        "x-ms-date": "Mon, 17 Nov 2025 16:53:26 GMT"
      },
      "ResponseBody": {
        "etag": "cmz_0Vdqnv86OPhSbqN0lsfSl5rywmVQ80yvhgBHKtI",
        "key": "key-579217078",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2025-11-17T16:53:26+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t8cdd9157ca7d1363-azconfig-net.azconfig.io;Id=wNKY;Secret=Kg==",
    "RandomSeed": "2078546510"
  }
}
