{
  "Entries": [
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-1193244868?api-version=2023-11-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"xsVKXvJALfYQ5H_Uqxys3WZrkv2R83Of1F6kdHuZIm4\"",
        "Last-Modified": "Tue, 23 Dec 2025 05:39:19 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTA0OTE3MQ==;sn=101049171",
        "x-ms-date": "Tue, 23 Dec 2025 05:39:19 GMT"
      },
      "ResponseBody": {
        "etag": "xsVKXvJALfYQ5H_Uqxys3WZrkv2R83Of1F6kdHuZIm4",
        "key": "key-1193244868",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2025-12-23T05:39:19+00:00"
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/locks/key-1193244868?api-version=2023-11-01&label=test_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"xsVKXvJALfYQ5H_Uqxys3WZrkv2R83Of1F6kdHuZIm4\"",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTA0OTE3MQ==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"xsVKXvJALfYQ5H_Uqxys3WZrkv2R83Of1F6kdHuZIm4\"",
        "Last-Modified": "Tue, 23 Dec 2025 05:39:19 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTA0OTE3MQ==;sn=101049171",
        "x-ms-date": "Tue, 23 Dec 2025 05:39:20 GMT"
      },
      "ResponseBody": {
        "etag": "xsVKXvJALfYQ5H_Uqxys3WZrkv2R83Of1F6kdHuZIm4",
        "key": "key-1193244868",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2025-12-23T05:39:19+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-1193244868?api-version=2023-11-01&label=test_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTA0OTE3NA==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"Q1FY2pDSW7qMpPXLWIMVpqS9la9MNsuyv1bxoOfolGc\"",
        "Last-Modified": "Tue, 23 Dec 2025 05:39:20 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTA0OTE3Ng==;sn=101049176",
        "x-ms-date": "Tue, 23 Dec 2025 05:39:20 GMT"
      },
      "ResponseBody": {
        "etag": "Q1FY2pDSW7qMpPXLWIMVpqS9la9MNsuyv1bxoOfolGc",
        "key": "key-1193244868",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2025-12-23T05:39:20+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t9c954b564de572f9-azconfig-net.azconfig.io;Id=MdvE;Secret=Kg==",
    "RandomSeed": "1760335485"
  }
}
