{
  "Entries": [
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv/key-567804079?api-version=2023-11-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"W1UVq240OaqQx0OSuQfGKELQiLZreqXGDDah1sUMbf4\"",
        "Last-Modified": "Tue, 09 Jun 2026 22:58:36 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY2OTk1Njc1;sn=66995675",
        "x-ms-date": "Tue, 09 Jun 2026 22:58:36 GMT"
      },
      "ResponseBody": {
        "etag": "W1UVq240OaqQx0OSuQfGKELQiLZreqXGDDah1sUMbf4",
        "key": "key-567804079",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-06-09T22:58:36+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/locks/key-567804079?api-version=2023-11-01&label=test_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"W1UVq240OaqQx0OSuQfGKELQiLZreqXGDDah1sUMbf4\"",
        "Sync-Token": "zAJw6V16=Mzo1IzY2OTk1Njc2"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Sync-Token": "zAJw6V16=Mzo1IzY2OTk1Njc3;sn=66995677",
        "x-ms-date": "Tue, 09 Jun 2026 22:58:36 GMT"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv/key-567804079?api-version=2023-11-01&label=test_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Mzo1IzY2OTk1Njc3"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"O1ho_nTzYNaoUQ7wMCCQfnHrsVm6n_Yh1P35hPsEcHY\"",
        "Last-Modified": "Tue, 09 Jun 2026 22:58:36 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY2OTk1Njc4;sn=66995678",
        "x-ms-date": "Tue, 09 Jun 2026 22:58:36 GMT"
      },
      "ResponseBody": {
        "etag": "O1ho_nTzYNaoUQ7wMCCQfnHrsVm6n_Yh1P35hPsEcHY",
        "key": "key-567804079",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "new_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-06-09T22:58:36+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_ENDPOINT_STRING": "https://mrm90847047-azconfig-net.azconfig.io",
    "RandomSeed": "1721953847"
  }
}
