{
  "Entries": [
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-801590420?api-version=2023-11-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"Lv2Mu9OxtQ-OuidumtOlT_xwKytSshMnvIuzXWW1Yh8\"",
        "Last-Modified": "Mon, 26 Jan 2026 05:36:32 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzg1MDE0MQ==;sn=103850141",
        "x-ms-date": "Mon, 26 Jan 2026 05:36:32 GMT"
      },
      "ResponseBody": {
        "etag": "Lv2Mu9OxtQ-OuidumtOlT_xwKytSshMnvIuzXWW1Yh8",
        "key": "key-801590420",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-01-26T05:36:32+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/locks/key-801590420?api-version=2023-11-01&label=test_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"Lv2Mu9OxtQ-OuidumtOlT_xwKytSshMnvIuzXWW1Yh8\"",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzg1MDE0Mg==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Sync-Token": "zAJw6V16=NTo1IzEwMzg1MDE0Mw==;sn=103850143",
        "x-ms-date": "Mon, 26 Jan 2026 05:36:32 GMT"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-801590420?api-version=2023-11-01&label=test_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzg1MDE0Mw==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"TIyUQQxV0Tn_cLQJLn2Bm0SY7SXzN-A4dGhlUcPrrvk\"",
        "Last-Modified": "Mon, 26 Jan 2026 05:36:32 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzg1MDE0NA==;sn=103850144",
        "x-ms-date": "Mon, 26 Jan 2026 05:36:32 GMT"
      },
      "ResponseBody": {
        "etag": "TIyUQQxV0Tn_cLQJLn2Bm0SY7SXzN-A4dGhlUcPrrvk",
        "key": "key-801590420",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "new_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-01-26T05:36:32+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t9c954b564de572f9-azconfig-net.azconfig.io;Id=MdvE;Secret=Kg==",
    "RandomSeed": "1187194789"
  }
}
