{
  "Entries": [
    {
      "RequestUri": "https://t02f6e87f544544f3-azconfig-net.azconfig.io/kv/key-1271720934?label=test_label\u0026api-version=2022-11-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "b11OQu6GthUatwGXUIKHHSRVyik0TdrUk5kZm3yZd2A="
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022y8Avd6Tc0MJ5kwuT7MijjpM-g32CSg9XXsoSO86oLxM\u0022",
        "Last-Modified": "Fri, 30 Jun 2023 19:06:48 GMT",
        "Sync-Token": "zAJw6V16=ODo1IzI0ODY5NjQx;sn=24869641"
      },
      "ResponseBody": {
        "etag": "y8Avd6Tc0MJ5kwuT7MijjpM-g32CSg9XXsoSO86oLxM",
        "key": "key-1271720934",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2023-06-30T19:06:48\u002B00:00"
      }
    },
    {
      "RequestUri": "https://t02f6e87f544544f3-azconfig-net.azconfig.io/locks/key-1271720934?label=test_label\u0026api-version=2022-11-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u0022y8Avd6Tc0MJ5kwuT7MijjpM-g32CSg9XXsoSO86oLxM\u0022",
        "Sync-Token": "zAJw6V16=ODo1IzI0ODY5NjQx",
        "x-ms-content-sha256": "47DEQpj8HBSa\u002B/TImW\u002B5JCeuQeRkm5NMpJWZG3hSuFU="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022y8Avd6Tc0MJ5kwuT7MijjpM-g32CSg9XXsoSO86oLxM\u0022",
        "Last-Modified": "Fri, 30 Jun 2023 19:06:48 GMT",
        "Sync-Token": "zAJw6V16=ODo1IzI0ODY5NjQx;sn=24869641"
      },
      "ResponseBody": {
        "etag": "y8Avd6Tc0MJ5kwuT7MijjpM-g32CSg9XXsoSO86oLxM",
        "key": "key-1271720934",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2023-06-30T19:06:48\u002B00:00"
      }
    },
[...]
    {
      "RequestUri": "https://t02f6e87f544544f3-azconfig-net.azconfig.io/kv/key-1271720934?label=test_label\u0026api-version=2022-11-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=ODo1IzI0ODY5NjQ0",
        "x-ms-content-sha256": "47DEQpj8HBSa\u002B/TImW\u002B5JCeuQeRkm5NMpJWZG3hSuFU="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022IGXBHcy9D689jHZMtINKXi0gX4D_3Np55278cFegQbg\u0022",
        "Last-Modified": "Fri, 30 Jun 2023 19:06:48 GMT",
        "Sync-Token": "zAJw6V16=ODo1IzI0ODY5NjQ2;sn=24869646"
      },
      "ResponseBody": {
        "etag": "IGXBHcy9D689jHZMtINKXi0gX4D_3Np55278cFegQbg",
        "key": "key-1271720934",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2023-06-30T19:06:48\u002B00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t02f6e87f544544f3-azconfig-net.azconfig.io;Id=Ek\u002BM;Secret=Kg==",
    "RandomSeed": "282250287"
  }
}
