{
  "Entries": [
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/kv/key-184106798?api-version=2023-11-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"QjkShnf2Df-DbzZ2Twyk_rxPZ8d-FflECV31k-pUwpA\"",
        "Last-Modified": "Thu, 09 Oct 2025 16:24:49 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzU1NTMxOTEx;sn=55531911",
        "x-ms-date": "Thu, 09 Oct 2025 16:24:49 GMT"
      },
      "ResponseBody": {
        "etag": "QjkShnf2Df-DbzZ2Twyk_rxPZ8d-FflECV31k-pUwpA",
        "key": "key-184106798",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2025-10-09T16:24:49+00:00"
      }
    },
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/locks/key-184106798?api-version=2023-11-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"QjkShnf2Df-DbzZ2Twyk_rxPZ8d-FflECV31k-pUwpA\"",
        "Sync-Token": "zAJw6V16=Njo1IzU1NTMxOTEx",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"M1fmlPzp37JbgHd7o0GymJ3nlTZonjXQNmDcJa73MWM\"",
        "Last-Modified": "Thu, 09 Oct 2025 16:24:49 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzU1NTMxOTEy;sn=55531912",
        "x-ms-date": "Thu, 09 Oct 2025 16:24:49 GMT"
      },
      "ResponseBody": {
        "etag": "M1fmlPzp37JbgHd7o0GymJ3nlTZonjXQNmDcJa73MWM",
        "key": "key-184106798",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": true,
        "last_modified": "2025-10-09T16:24:49+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/kv/key-184106798?api-version=2023-11-01&label=test_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Njo1IzU1NTMxOTE1",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"RVNWUJqLuPl2s0AoZD96Tx_MNqajfRIaOifhVJHh6Nk\"",
        "Last-Modified": "Thu, 09 Oct 2025 16:24:49 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzU1NTMxOTE2;sn=55531916",
        "x-ms-date": "Thu, 09 Oct 2025 16:24:50 GMT"
      },
      "ResponseBody": {
        "etag": "RVNWUJqLuPl2s0AoZD96Tx_MNqajfRIaOifhVJHh6Nk",
        "key": "key-184106798",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2025-10-09T16:24:49+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t8cdd9157ca7d1363-azconfig-net.azconfig.io;Id=wNKY;Secret=Kg==",
    "RandomSeed": "1166702711"
  }
}
