{
  "Entries": [
    {
      "RequestUri": "https://tdfcae3cf5eab7143-azconfig-net.azconfig.io/kv/key-1780122260?api-version=2023-11-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"1jhkUrR2LpfAbwmO7Zrg3reg5asWRb8YP7Q4wZcB4-8\"",
        "Last-Modified": "Wed, 11 Jun 2025 17:23:38 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzQyMTUwMzI4;sn=42150328"
      },
      "ResponseBody": {
        "etag": "1jhkUrR2LpfAbwmO7Zrg3reg5asWRb8YP7Q4wZcB4-8",
        "key": "key-1780122260",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2025-06-11T17:23:38+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://tdfcae3cf5eab7143-azconfig-net.azconfig.io/locks/key-1780122260?api-version=2023-11-01&label=test_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"1jhkUrR2LpfAbwmO7Zrg3reg5asWRb8YP7Q4wZcB4-8\"",
        "Sync-Token": "zAJw6V16=Mzo1IzQyMTUwMzI5",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Sync-Token": "zAJw6V16=Mzo1IzQyMTUwMzMw;sn=42150330"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://tdfcae3cf5eab7143-azconfig-net.azconfig.io/kv/key-1780122260?api-version=2023-11-01&label=test_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Mzo1IzQyMTUwMzMw",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"AShnO4YEOhr0Qipt89x9XrlQd0j5i4swmDjUSK73rHM\"",
        "Last-Modified": "Wed, 11 Jun 2025 17:23:38 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzQyMTUwMzMx;sn=42150331"
      },
      "ResponseBody": {
        "etag": "AShnO4YEOhr0Qipt89x9XrlQd0j5i4swmDjUSK73rHM",
        "key": "key-1780122260",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "new_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2025-06-11T17:23:38+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://tdfcae3cf5eab7143-azconfig-net.azconfig.io;Id=GAEe;Secret=Kg==",
    "RandomSeed": "920621086"
  }
}
