{
  "Entries": [
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-480099896?api-version=2023-11-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"v62ym8BuKbw3elN3JMpKnXX3hg0bAqWW1od9teToPOg\"",
        "Last-Modified": "Tue, 23 Dec 2025 05:45:53 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTA0OTY1Mg==;sn=101049652",
        "x-ms-date": "Tue, 23 Dec 2025 05:45:53 GMT"
      },
      "ResponseBody": {
        "etag": "v62ym8BuKbw3elN3JMpKnXX3hg0bAqWW1od9teToPOg",
        "key": "key-480099896",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2025-12-23T05:45:53+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/locks/key-480099896?api-version=2023-11-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"v62ym8BuKbw3elN3JMpKnXX3hg0bAqWW1od9teToPOg\"",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTA0OTY1Mw==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Sync-Token": "zAJw6V16=NTo1IzEwMTA0OTY1NA==;sn=101049654",
        "x-ms-date": "Tue, 23 Dec 2025 05:45:53 GMT"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-480099896?api-version=2023-11-01&label=test_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTA0OTY1NA==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"SuIcY8v5Ey44Har46hj4tEuIhbMyFSRmzZgo_bHwDCA\"",
        "Last-Modified": "Tue, 23 Dec 2025 05:45:53 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTA0OTY1NQ==;sn=101049655",
        "x-ms-date": "Tue, 23 Dec 2025 05:45:53 GMT"
      },
      "ResponseBody": {
        "etag": "SuIcY8v5Ey44Har46hj4tEuIhbMyFSRmzZgo_bHwDCA",
        "key": "key-480099896",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "new_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2025-12-23T05:45:53+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t9c954b564de572f9-azconfig-net.azconfig.io;Id=MdvE;Secret=Kg==",
    "RandomSeed": "450192912"
  }
}
