{
  "Entries": [
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/kv/key-497033839?api-version=2023-11-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"cWi09AIY7r7lj-n7aJTXgJkJE_pyeXebQ_e772L1TyM\"",
        "Last-Modified": "Tue, 18 Nov 2025 04:20:01 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzU3ODAzNzcz;sn=57803773",
        "x-ms-date": "Tue, 18 Nov 2025 04:20:01 GMT"
      },
      "ResponseBody": {
        "etag": "cWi09AIY7r7lj-n7aJTXgJkJE_pyeXebQ_e772L1TyM",
        "key": "key-497033839",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2025-11-18T04:20:01+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/locks/key-497033839?api-version=2023-11-01&label=test_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"cWi09AIY7r7lj-n7aJTXgJkJE_pyeXebQ_e772L1TyM\"",
        "Sync-Token": "zAJw6V16=Njo1IzU3ODAzNzc0",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Sync-Token": "zAJw6V16=Njo1IzU3ODAzNzc1;sn=57803775",
        "x-ms-date": "Tue, 18 Nov 2025 04:20:01 GMT"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/kv/key-497033839?api-version=2023-11-01&label=test_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Njo1IzU3ODAzNzc1",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"bgXop8ZMikFONFr5GRt9ykREhMe2Knx2uf1jxMqhlA0\"",
        "Last-Modified": "Tue, 18 Nov 2025 04:20:01 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzU3ODAzNzc2;sn=57803776",
        "x-ms-date": "Tue, 18 Nov 2025 04:20:01 GMT"
      },
      "ResponseBody": {
        "etag": "bgXop8ZMikFONFr5GRt9ykREhMe2Knx2uf1jxMqhlA0",
        "key": "key-497033839",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "new_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2025-11-18T04:20:01+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t8cdd9157ca7d1363-azconfig-net.azconfig.io;Id=wNKY;Secret=Kg==",
    "RandomSeed": "1426494217"
  }
}
