{
  "Entries": [
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-492931297?api-version=2023-11-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"4Iv0PBGUXsfzUIVeT_jHiBIHE8-eW7oa0yYOET7B0Sc\"",
        "Last-Modified": "Mon, 01 Dec 2025 08:32:46 GMT",
        "Sync-Token": "zAJw6V16=NTo1Izk4Nzc0NzA2;sn=98774706",
        "x-ms-date": "Mon, 01 Dec 2025 08:32:46 GMT"
      },
      "ResponseBody": {
        "etag": "4Iv0PBGUXsfzUIVeT_jHiBIHE8-eW7oa0yYOET7B0Sc",
        "key": "key-492931297",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2025-12-01T08:32:46+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/locks/key-492931297?api-version=2023-11-01&label=test_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"4Iv0PBGUXsfzUIVeT_jHiBIHE8-eW7oa0yYOET7B0Sc\"",
        "Sync-Token": "zAJw6V16=NTo1Izk4Nzc0NzA3",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Sync-Token": "zAJw6V16=NTo1Izk4Nzc0NzA4;sn=98774708",
        "x-ms-date": "Mon, 01 Dec 2025 08:32:46 GMT"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-492931297?api-version=2023-11-01&label=test_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1Izk4Nzc0NzA4",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"6XX4agkrAWE7CwCzmOGCLN2TvtffksQKjxyJqUQEtfg\"",
        "Last-Modified": "Mon, 01 Dec 2025 08:32:46 GMT",
        "Sync-Token": "zAJw6V16=NTo1Izk4Nzc0NzA5;sn=98774709",
        "x-ms-date": "Mon, 01 Dec 2025 08:32:46 GMT"
      },
      "ResponseBody": {
        "etag": "6XX4agkrAWE7CwCzmOGCLN2TvtffksQKjxyJqUQEtfg",
        "key": "key-492931297",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "new_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2025-12-01T08:32:46+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t9c954b564de572f9-azconfig-net.azconfig.io;Id=MdvE;Secret=Kg==",
    "RandomSeed": "1267938891"
  }
}
