{
  "Entries": [
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv/key-1505211810?api-version=2026-04-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "description": "test_description"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"-FVMjkxBlrr6uEwktiMvlLlySwOdtY4Qszj76O4KnaQ\"",
        "Last-Modified": "Wed, 10 Jun 2026 21:37:07 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDk0NjA0;sn=67094604",
        "x-ms-date": "Wed, 10 Jun 2026 21:37:07 GMT"
      },
      "ResponseBody": {
        "etag": "-FVMjkxBlrr6uEwktiMvlLlySwOdtY4Qszj76O4KnaQ",
        "key": "key-1505211810",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "description": "test_description",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-06-10T21:37:07+00:00"
      }
    },
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/locks/key-1505211810?api-version=2026-04-01&label=test_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"-FVMjkxBlrr6uEwktiMvlLlySwOdtY4Qszj76O4KnaQ\"",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDk0NjA0"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"-FVMjkxBlrr6uEwktiMvlLlySwOdtY4Qszj76O4KnaQ\"",
        "Last-Modified": "Wed, 10 Jun 2026 21:37:07 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDk0NjA0;sn=67094604",
        "x-ms-date": "Wed, 10 Jun 2026 21:37:07 GMT"
      },
      "ResponseBody": {
        "etag": "-FVMjkxBlrr6uEwktiMvlLlySwOdtY4Qszj76O4KnaQ",
        "key": "key-1505211810",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "description": "test_description",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-06-10T21:37:07+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv/key-1505211810?api-version=2026-04-01&label=test_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDk0NjA3"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"qlN63_PxMe8IO6n1e5YMumFC7r0NRhaG6a8yopx1lb0\"",
        "Last-Modified": "Wed, 10 Jun 2026 21:37:07 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDk0NjA5;sn=67094609",
        "x-ms-date": "Wed, 10 Jun 2026 21:37:07 GMT"
      },
      "ResponseBody": {
        "etag": "qlN63_PxMe8IO6n1e5YMumFC7r0NRhaG6a8yopx1lb0",
        "key": "key-1505211810",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "description": "test_description",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-06-10T21:37:07+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_ENDPOINT_STRING": "https://mrm90847047-azconfig-net.azconfig.io",
    "RandomSeed": "1365271283"
  }
}
