{
  "Entries": [
    {
      "RequestUri": "https://t02f6e87f544544f3-azconfig-net.azconfig.io/kv/key-1654854672?label=test_label\u0026api-version=2022-11-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "b11OQu6GthUatwGXUIKHHSRVyik0TdrUk5kZm3yZd2A="
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022VbKrmpnPKHaw4YWDkBHnZLudflGlSd3xdrwwE6x3upI\u0022",
        "Last-Modified": "Fri, 30 Jun 2023 19:03:29 GMT",
        "Sync-Token": "zAJw6V16=ODo1IzI0ODY5MDk0;sn=24869094"
      },
      "ResponseBody": {
        "etag": "VbKrmpnPKHaw4YWDkBHnZLudflGlSd3xdrwwE6x3upI",
        "key": "key-1654854672",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2023-06-30T19:03:29\u002B00:00"
      }
    },
[...]
    {
      "RequestUri": "https://t02f6e87f544544f3-azconfig-net.azconfig.io/locks/key-1654854672?label=test_label\u0026api-version=2022-11-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u0022VbKrmpnPKHaw4YWDkBHnZLudflGlSd3xdrwwE6x3upI\u0022",
        "Sync-Token": "zAJw6V16=ODo1IzI0ODY5MDk1",
        "x-ms-content-sha256": "47DEQpj8HBSa\u002B/TImW\u002B5JCeuQeRkm5NMpJWZG3hSuFU="
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Sync-Token": "zAJw6V16=ODo1IzI0ODY5MDk2;sn=24869096"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://t02f6e87f544544f3-azconfig-net.azconfig.io/kv/key-1654854672?label=test_label\u0026api-version=2022-11-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=ODo1IzI0ODY5MDk2",
        "x-ms-content-sha256": "47DEQpj8HBSa\u002B/TImW\u002B5JCeuQeRkm5NMpJWZG3hSuFU="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022krNRl17nizDlCIvhOhlvjaADQvNCp3UnxCRgDQMUGv4\u0022",
        "Last-Modified": "Fri, 30 Jun 2023 19:03:29 GMT",
        "Sync-Token": "zAJw6V16=ODo1IzI0ODY5MDk3;sn=24869097"
      },
      "ResponseBody": {
        "etag": "krNRl17nizDlCIvhOhlvjaADQvNCp3UnxCRgDQMUGv4",
        "key": "key-1654854672",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "new_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2023-06-30T19:03:29\u002B00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t02f6e87f544544f3-azconfig-net.azconfig.io;Id=Ek\u002BM;Secret=Kg==",
    "RandomSeed": "584839478"
  }
}
