{
  "Entries": [
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-2089246608?api-version=2023-11-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"Njc6lmgxPBoLoQo2zyVwW-Ilj7xzFA1fEyeXUMCEGss\"",
        "Last-Modified": "Fri, 23 Jan 2026 07:08:14 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU3NTAwMw==;sn=103575003",
        "x-ms-date": "Fri, 23 Jan 2026 07:08:14 GMT"
      },
      "ResponseBody": {
        "etag": "Njc6lmgxPBoLoQo2zyVwW-Ilj7xzFA1fEyeXUMCEGss",
        "key": "key-2089246608",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-01-23T07:08:14+00:00"
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/locks/key-2089246608?api-version=2023-11-01&label=test_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"Njc6lmgxPBoLoQo2zyVwW-Ilj7xzFA1fEyeXUMCEGss\"",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU3NTAwMw==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"Njc6lmgxPBoLoQo2zyVwW-Ilj7xzFA1fEyeXUMCEGss\"",
        "Last-Modified": "Fri, 23 Jan 2026 07:08:14 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU3NTAwMw==;sn=103575003",
        "x-ms-date": "Fri, 23 Jan 2026 07:08:14 GMT"
      },
      "ResponseBody": {
        "etag": "Njc6lmgxPBoLoQo2zyVwW-Ilj7xzFA1fEyeXUMCEGss",
        "key": "key-2089246608",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-01-23T07:08:14+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-2089246608?api-version=2023-11-01&label=test_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU3NTAwNg==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"iWYidrDSuI-6kx4nLsEpm1AB9FHLtOaMavl66i-Y4ZI\"",
        "Last-Modified": "Fri, 23 Jan 2026 07:08:14 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU3NTAwOA==;sn=103575008",
        "x-ms-date": "Fri, 23 Jan 2026 07:08:14 GMT"
      },
      "ResponseBody": {
        "etag": "iWYidrDSuI-6kx4nLsEpm1AB9FHLtOaMavl66i-Y4ZI",
        "key": "key-2089246608",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-01-23T07:08:14+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t9c954b564de572f9-azconfig-net.azconfig.io;Id=MdvE;Secret=Kg==",
    "RandomSeed": "1294598127"
  }
}
