{
  "Entries": [
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-1707473610?api-version=2023-11-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"AwQxa9QVRfWU8EUi08p9J4XkNzGZRt66PqVww5GoCwQ\"",
        "Last-Modified": "Mon, 26 Jan 2026 05:43:47 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzg1MTM3NQ==;sn=103851375",
        "x-ms-date": "Mon, 26 Jan 2026 05:43:47 GMT"
      },
      "ResponseBody": {
        "etag": "AwQxa9QVRfWU8EUi08p9J4XkNzGZRt66PqVww5GoCwQ",
        "key": "key-1707473610",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-01-26T05:43:47+00:00"
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/locks/key-1707473610?api-version=2023-11-01&label=test_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"AwQxa9QVRfWU8EUi08p9J4XkNzGZRt66PqVww5GoCwQ\"",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzg1MTM3NQ==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"AwQxa9QVRfWU8EUi08p9J4XkNzGZRt66PqVww5GoCwQ\"",
        "Last-Modified": "Mon, 26 Jan 2026 05:43:47 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzg1MTM3NQ==;sn=103851375",
        "x-ms-date": "Mon, 26 Jan 2026 05:43:47 GMT"
      },
      "ResponseBody": {
        "etag": "AwQxa9QVRfWU8EUi08p9J4XkNzGZRt66PqVww5GoCwQ",
        "key": "key-1707473610",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-01-26T05:43:47+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-1707473610?api-version=2023-11-01&label=test_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzg1MTM3OA==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"OInrkePPyLl-9hFv9v2g-ssxfVz0Cmc8AkeRPYMDDy0\"",
        "Last-Modified": "Mon, 26 Jan 2026 05:43:48 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzg1MTM4MA==;sn=103851380",
        "x-ms-date": "Mon, 26 Jan 2026 05:43:48 GMT"
      },
      "ResponseBody": {
        "etag": "OInrkePPyLl-9hFv9v2g-ssxfVz0Cmc8AkeRPYMDDy0",
        "key": "key-1707473610",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-01-26T05:43:48+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t9c954b564de572f9-azconfig-net.azconfig.io;Id=MdvE;Secret=Kg==",
    "RandomSeed": "1451054121"
  }
}
