{
  "Entries": [
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv/key-732655048?api-version=2026-04-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "description": "test_description"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"8XULbjjGqqRUDWMOVa13v-lMlS_RfEykbaoaUdUcZ2A\"",
        "Last-Modified": "Wed, 10 Jun 2026 18:21:13 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDY1MDU5;sn=67065059",
        "x-ms-date": "Wed, 10 Jun 2026 18:21:13 GMT"
      },
      "ResponseBody": {
        "etag": "8XULbjjGqqRUDWMOVa13v-lMlS_RfEykbaoaUdUcZ2A",
        "key": "key-732655048",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "description": "test_description",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-06-10T18:21:13+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/locks/key-732655048?api-version=2026-04-01&label=test_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"8XULbjjGqqRUDWMOVa13v-lMlS_RfEykbaoaUdUcZ2A\"",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDY1MDYw"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDY1MDYx;sn=67065061",
        "x-ms-date": "Wed, 10 Jun 2026 18:21:13 GMT"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv/key-732655048?api-version=2026-04-01&label=test_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDY1MDYx"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"3Mw0lJajXKaFIvZxPkBW_oXCjVv7N6EsAukmhS55fbA\"",
        "Last-Modified": "Wed, 10 Jun 2026 18:21:13 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDY1MDYy;sn=67065062",
        "x-ms-date": "Wed, 10 Jun 2026 18:21:13 GMT"
      },
      "ResponseBody": {
        "etag": "3Mw0lJajXKaFIvZxPkBW_oXCjVv7N6EsAukmhS55fbA",
        "key": "key-732655048",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "new_value",
        "description": "test_description",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-06-10T18:21:13+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_ENDPOINT_STRING": "https://mrm90847047-azconfig-net.azconfig.io",
    "RandomSeed": "1179815872"
  }
}
