{
  "Entries": [
    {
      "RequestUri": "https://azure-sdk-for-net-test.azconfig.io/kv/key-1783670483?api-version=2026-04-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"tAcEcjCk0b6whH_Gzd2UhJOiLeeTDDGiWP48EUpEPMc\"",
        "Last-Modified": "Wed, 27 May 2026 23:59:17 GMT",
        "Sync-Token": "zAJw6V16=NToxNyM0ODA0MjE1OA==;sn=48042158",
        "x-ms-date": "Wed, 27 May 2026 23:59:17 GMT"
      },
      "ResponseBody": {
        "etag": "tAcEcjCk0b6whH_Gzd2UhJOiLeeTDDGiWP48EUpEPMc",
        "key": "key-1783670483",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "description": null,
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-05-27T23:59:17+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://azure-sdk-for-net-test.azconfig.io/locks/key-1783670483?api-version=2026-04-01&label=test_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"tAcEcjCk0b6whH_Gzd2UhJOiLeeTDDGiWP48EUpEPMc\"",
        "Sync-Token": "zAJw6V16=NToxNyM0ODA0MjE1OQ==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Sync-Token": "zAJw6V16=NToxNyM0ODA0MjE2MA==;sn=48042160",
        "x-ms-date": "Wed, 27 May 2026 23:59:17 GMT"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://azure-sdk-for-net-test.azconfig.io/kv/key-1783670483?api-version=2026-04-01&label=test_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NToxNyM0ODA0MjE2MA==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"1f94YMS6AOwX8_KvD35KCwCdqqah-Ko-Gv0pJZQzvXE\"",
        "Last-Modified": "Wed, 27 May 2026 23:59:17 GMT",
        "Sync-Token": "zAJw6V16=NToxNyM0ODA0MjE2MQ==;sn=48042161",
        "x-ms-date": "Wed, 27 May 2026 23:59:17 GMT"
      },
      "ResponseBody": {
        "etag": "1f94YMS6AOwX8_KvD35KCwCdqqah-Ko-Gv0pJZQzvXE",
        "key": "key-1783670483",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "new_value",
        "description": null,
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-05-27T23:59:17+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://azure-sdk-for-net-test.azconfig.io;Id=8ePU;Secret=Kg==",
    "RandomSeed": "1414465672"
  }
}
