{
  "Entries": [
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-227793649?api-version=2023-11-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"orhjVxj3s8yF1BMrS48nOcgb9FglR38yj_Ch8UoXhE8\"",
        "Last-Modified": "Tue, 23 Dec 2025 05:45:54 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTA0OTY2Nw==;sn=101049667",
        "x-ms-date": "Tue, 23 Dec 2025 05:45:54 GMT"
      },
      "ResponseBody": {
        "etag": "orhjVxj3s8yF1BMrS48nOcgb9FglR38yj_Ch8UoXhE8",
        "key": "key-227793649",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2025-12-23T05:45:54+00:00"
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/locks/key-227793649?api-version=2023-11-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"orhjVxj3s8yF1BMrS48nOcgb9FglR38yj_Ch8UoXhE8\"",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTA0OTY2Nw==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"ge_JG800l0PzEq8_Pokqu5RvrGOeq1yObK2RgiXt_yQ\"",
        "Last-Modified": "Tue, 23 Dec 2025 05:45:55 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTA0OTY2OA==;sn=101049668",
        "x-ms-date": "Tue, 23 Dec 2025 05:45:55 GMT"
      },
      "ResponseBody": {
        "etag": "ge_JG800l0PzEq8_Pokqu5RvrGOeq1yObK2RgiXt_yQ",
        "key": "key-227793649",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": true,
        "last_modified": "2025-12-23T05:45:55+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-227793649?api-version=2023-11-01&label=test_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTA0OTY3MQ==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"ifS1zxEY3LSRS78QrpfrCNXHkIOlqocAqHH76KGrRuI\"",
        "Last-Modified": "Tue, 23 Dec 2025 05:45:55 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTA0OTY3Mg==;sn=101049672",
        "x-ms-date": "Tue, 23 Dec 2025 05:45:55 GMT"
      },
      "ResponseBody": {
        "etag": "ifS1zxEY3LSRS78QrpfrCNXHkIOlqocAqHH76KGrRuI",
        "key": "key-227793649",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2025-12-23T05:45:55+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t9c954b564de572f9-azconfig-net.azconfig.io;Id=MdvE;Secret=Kg==",
    "RandomSeed": "1333448670"
  }
}
