{
  "Entries": [
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/kv/key-44910028?api-version=2023-11-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"f7d2HpKsK4laREwu9WjoZznfp6RC9dVQCeUUqHFuiug\"",
        "Last-Modified": "Thu, 09 Oct 2025 16:30:13 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzU1NTMyMzkx;sn=55532391",
        "x-ms-date": "Thu, 09 Oct 2025 16:30:13 GMT"
      },
      "ResponseBody": {
        "etag": "f7d2HpKsK4laREwu9WjoZznfp6RC9dVQCeUUqHFuiug",
        "key": "key-44910028",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2025-10-09T16:30:13+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/locks/key-44910028?api-version=2023-11-01&label=test_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"f7d2HpKsK4laREwu9WjoZznfp6RC9dVQCeUUqHFuiug\"",
        "Sync-Token": "zAJw6V16=Njo1IzU1NTMyMzky",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Sync-Token": "zAJw6V16=Njo1IzU1NTMyMzkz;sn=55532393",
        "x-ms-date": "Thu, 09 Oct 2025 16:30:13 GMT"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/kv/key-44910028?api-version=2023-11-01&label=test_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Njo1IzU1NTMyMzkz",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"K2a673V3nateHYwQpxtVEy8iwhXCtL1Un6QnS7ub9LE\"",
        "Last-Modified": "Thu, 09 Oct 2025 16:30:13 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzU1NTMyMzk0;sn=55532394",
        "x-ms-date": "Thu, 09 Oct 2025 16:30:13 GMT"
      },
      "ResponseBody": {
        "etag": "K2a673V3nateHYwQpxtVEy8iwhXCtL1Un6QnS7ub9LE",
        "key": "key-44910028",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "new_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2025-10-09T16:30:13+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t8cdd9157ca7d1363-azconfig-net.azconfig.io;Id=wNKY;Secret=Kg==",
    "RandomSeed": "1812788015"
  }
}
