{
  "Entries": [
    {
      "RequestUri": "https://azure-sdk-for-net-test.azconfig.io/kv/key-740313648?api-version=2026-04-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"wZM3rABWPG8QAwrNUnFvl_He0rf4PyKsz0MwBqiEe20\"",
        "Last-Modified": "Wed, 27 May 2026 23:59:17 GMT",
        "Sync-Token": "zAJw6V16=NToxNyM0ODA0MjE1NA==;sn=48042154",
        "x-ms-date": "Wed, 27 May 2026 23:59:17 GMT"
      },
      "ResponseBody": {
        "etag": "wZM3rABWPG8QAwrNUnFvl_He0rf4PyKsz0MwBqiEe20",
        "key": "key-740313648",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "description": null,
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-05-27T23:59:17+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://azure-sdk-for-net-test.azconfig.io/locks/key-740313648?api-version=2026-04-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"wZM3rABWPG8QAwrNUnFvl_He0rf4PyKsz0MwBqiEe20\"",
        "Sync-Token": "zAJw6V16=NToxNyM0ODA0MjE1NQ==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Sync-Token": "zAJw6V16=NToxNyM0ODA0MjE1Ng==;sn=48042156",
        "x-ms-date": "Wed, 27 May 2026 23:59:17 GMT"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://azure-sdk-for-net-test.azconfig.io/kv/key-740313648?api-version=2026-04-01&label=test_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NToxNyM0ODA0MjE1Ng==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"AW8lm46aTMZLZpw7pWO6oQAL2VzB0KxzmWqyvW10BJI\"",
        "Last-Modified": "Wed, 27 May 2026 23:59:17 GMT",
        "Sync-Token": "zAJw6V16=NToxNyM0ODA0MjE1Nw==;sn=48042157",
        "x-ms-date": "Wed, 27 May 2026 23:59:17 GMT"
      },
      "ResponseBody": {
        "etag": "AW8lm46aTMZLZpw7pWO6oQAL2VzB0KxzmWqyvW10BJI",
        "key": "key-740313648",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "new_value",
        "description": null,
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-05-27T23:59:17+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://azure-sdk-for-net-test.azconfig.io;Id=8ePU;Secret=Kg==",
    "RandomSeed": "38637212"
  }
}
