{
  "Entries": [
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/kv/key-497885112?api-version=2023-11-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"VHUHSATZX8tlfsT6mXKeGhZnVBqhUkh3uUtDzCTClow\"",
        "Last-Modified": "Mon, 17 Nov 2025 16:47:56 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzU3NzY0MDc0;sn=57764074",
        "x-ms-date": "Mon, 17 Nov 2025 16:47:56 GMT"
      },
      "ResponseBody": {
        "etag": "VHUHSATZX8tlfsT6mXKeGhZnVBqhUkh3uUtDzCTClow",
        "key": "key-497885112",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2025-11-17T16:47:56+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/locks/key-497885112?api-version=2023-11-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"VHUHSATZX8tlfsT6mXKeGhZnVBqhUkh3uUtDzCTClow\"",
        "Sync-Token": "zAJw6V16=Njo1IzU3NzY0MDc1",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Sync-Token": "zAJw6V16=Njo1IzU3NzY0MDc2;sn=57764076",
        "x-ms-date": "Mon, 17 Nov 2025 16:47:57 GMT"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/kv/key-497885112?api-version=2023-11-01&label=test_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Njo1IzU3NzY0MDc2",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"BIgRHCkJibCC5MzhoaOBVLl5QYuiOpFnNViii-PP0ro\"",
        "Last-Modified": "Mon, 17 Nov 2025 16:47:56 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzU3NzY0MDc3;sn=57764077",
        "x-ms-date": "Mon, 17 Nov 2025 16:47:57 GMT"
      },
      "ResponseBody": {
        "etag": "BIgRHCkJibCC5MzhoaOBVLl5QYuiOpFnNViii-PP0ro",
        "key": "key-497885112",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "new_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2025-11-17T16:47:56+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t8cdd9157ca7d1363-azconfig-net.azconfig.io;Id=wNKY;Secret=Kg==",
    "RandomSeed": "1135877932"
  }
}
