{
  "Entries": [
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-960493622?api-version=2023-11-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"eAg3pJJVmodoZuFYgmUfRUK24oiuHmkyFBl0d0o5ycE\"",
        "Last-Modified": "Thu, 22 Jan 2026 02:04:39 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzQ3NDc3Nw==;sn=103474777",
        "x-ms-date": "Thu, 22 Jan 2026 02:04:39 GMT"
      },
      "ResponseBody": {
        "etag": "eAg3pJJVmodoZuFYgmUfRUK24oiuHmkyFBl0d0o5ycE",
        "key": "key-960493622",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-01-22T02:04:39+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/locks/key-960493622?api-version=2023-11-01&label=test_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"eAg3pJJVmodoZuFYgmUfRUK24oiuHmkyFBl0d0o5ycE\"",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzQ3NDc3OA==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Sync-Token": "zAJw6V16=NTo1IzEwMzQ3NDc3OQ==;sn=103474779",
        "x-ms-date": "Thu, 22 Jan 2026 02:04:39 GMT"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-960493622?api-version=2023-11-01&label=test_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzQ3NDc3OQ==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"anGYiFWwkJxyl9U8hPXSEHph37YmtjqE6UxXn9Y4jwg\"",
        "Last-Modified": "Thu, 22 Jan 2026 02:04:39 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzQ3NDc4MA==;sn=103474780",
        "x-ms-date": "Thu, 22 Jan 2026 02:04:39 GMT"
      },
      "ResponseBody": {
        "etag": "anGYiFWwkJxyl9U8hPXSEHph37YmtjqE6UxXn9Y4jwg",
        "key": "key-960493622",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "new_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-01-22T02:04:39+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t9c954b564de572f9-azconfig-net.azconfig.io;Id=MdvE;Secret=Kg==",
    "RandomSeed": "1916453605"
  }
}
