{
  "Entries": [
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-884762368?api-version=2023-11-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"yw1i6ORXyFz6W3zWZMBKjn4JGaeCV4zG_iJPGIcJMZ0\"",
        "Last-Modified": "Fri, 23 Jan 2026 07:13:33 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU3NTYxNw==;sn=103575617",
        "x-ms-date": "Fri, 23 Jan 2026 07:13:33 GMT"
      },
      "ResponseBody": {
        "etag": "yw1i6ORXyFz6W3zWZMBKjn4JGaeCV4zG_iJPGIcJMZ0",
        "key": "key-884762368",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-01-23T07:13:33+00:00"
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/locks/key-884762368?api-version=2023-11-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"yw1i6ORXyFz6W3zWZMBKjn4JGaeCV4zG_iJPGIcJMZ0\"",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU3NTYxNw==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"yyy6jfYsBTHn8Kt-SAY9-tanUjCIYv_VIX3g63zeriY\"",
        "Last-Modified": "Fri, 23 Jan 2026 07:13:33 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU3NTYxOA==;sn=103575618",
        "x-ms-date": "Fri, 23 Jan 2026 07:13:33 GMT"
      },
      "ResponseBody": {
        "etag": "yyy6jfYsBTHn8Kt-SAY9-tanUjCIYv_VIX3g63zeriY",
        "key": "key-884762368",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": true,
        "last_modified": "2026-01-23T07:13:33+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-884762368?api-version=2023-11-01&label=test_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU3NTYyMQ==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"2B8kUXDuoFzKyuVrNdE0Hqhg-dirt9kO87xBSQaYig0\"",
        "Last-Modified": "Fri, 23 Jan 2026 07:13:33 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU3NTYyMg==;sn=103575622",
        "x-ms-date": "Fri, 23 Jan 2026 07:13:33 GMT"
      },
      "ResponseBody": {
        "etag": "2B8kUXDuoFzKyuVrNdE0Hqhg-dirt9kO87xBSQaYig0",
        "key": "key-884762368",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-01-23T07:13:33+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t9c954b564de572f9-azconfig-net.azconfig.io;Id=MdvE;Secret=Kg==",
    "RandomSeed": "1636185111"
  }
}
