{
  "Entries": [
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv/key-429787699?api-version=2026-04-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "description": "test_description"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"vINO_8Acj1ZgAPJDDOvMOcEthvVWWbMo5oPKyr8GOf4\"",
        "Last-Modified": "Wed, 10 Jun 2026 18:30:39 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDY2MTI2;sn=67066126",
        "x-ms-date": "Wed, 10 Jun 2026 18:30:39 GMT"
      },
      "ResponseBody": {
        "etag": "vINO_8Acj1ZgAPJDDOvMOcEthvVWWbMo5oPKyr8GOf4",
        "key": "key-429787699",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "description": "test_description",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-06-10T18:30:39+00:00"
      }
    },
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/locks/key-429787699?api-version=2026-04-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"vINO_8Acj1ZgAPJDDOvMOcEthvVWWbMo5oPKyr8GOf4\"",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDY2MTI2"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"skR4sJzEqZbpkFkZc0ZmE-UtJokJAgtiOtTpM9YUIpc\"",
        "Last-Modified": "Wed, 10 Jun 2026 18:30:39 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDY2MTI3;sn=67066127",
        "x-ms-date": "Wed, 10 Jun 2026 18:30:39 GMT"
      },
      "ResponseBody": {
        "etag": "skR4sJzEqZbpkFkZc0ZmE-UtJokJAgtiOtTpM9YUIpc",
        "key": "key-429787699",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "description": "test_description",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": true,
        "last_modified": "2026-06-10T18:30:39+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv/key-429787699?api-version=2026-04-01&label=test_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDY2MTMw"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"dqgwAzCa1mwircnkFjm-nB4sCxLkDy1mXsjj4wdRSr0\"",
        "Last-Modified": "Wed, 10 Jun 2026 18:30:39 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDY2MTMx;sn=67066131",
        "x-ms-date": "Wed, 10 Jun 2026 18:30:39 GMT"
      },
      "ResponseBody": {
        "etag": "dqgwAzCa1mwircnkFjm-nB4sCxLkDy1mXsjj4wdRSr0",
        "key": "key-429787699",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "description": "test_description",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-06-10T18:30:39+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_ENDPOINT_STRING": "https://mrm90847047-azconfig-net.azconfig.io",
    "RandomSeed": "454392919"
  }
}
