{
  "Entries": [
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-1568839692?api-version=2023-11-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"73g7NqAX5x6O6YTInawg0I3Byd93rKHK0wmu8PY49eA\"",
        "Last-Modified": "Mon, 26 Jan 2026 05:43:47 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzg1MTM3MQ==;sn=103851371",
        "x-ms-date": "Mon, 26 Jan 2026 05:43:47 GMT"
      },
      "ResponseBody": {
        "etag": "73g7NqAX5x6O6YTInawg0I3Byd93rKHK0wmu8PY49eA",
        "key": "key-1568839692",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-01-26T05:43:47+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/locks/key-1568839692?api-version=2023-11-01&label=test_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"73g7NqAX5x6O6YTInawg0I3Byd93rKHK0wmu8PY49eA\"",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzg1MTM3Mg==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Sync-Token": "zAJw6V16=NTo1IzEwMzg1MTM3Mw==;sn=103851373",
        "x-ms-date": "Mon, 26 Jan 2026 05:43:47 GMT"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-1568839692?api-version=2023-11-01&label=test_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzg1MTM3Mw==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"Dr0JY76lrLStUqaN9mekyld0UoELq3iW8fHD471PW2M\"",
        "Last-Modified": "Mon, 26 Jan 2026 05:43:47 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzg1MTM3NA==;sn=103851374",
        "x-ms-date": "Mon, 26 Jan 2026 05:43:47 GMT"
      },
      "ResponseBody": {
        "etag": "Dr0JY76lrLStUqaN9mekyld0UoELq3iW8fHD471PW2M",
        "key": "key-1568839692",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "new_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-01-26T05:43:47+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t9c954b564de572f9-azconfig-net.azconfig.io;Id=MdvE;Secret=Kg==",
    "RandomSeed": "2078761600"
  }
}
