{
  "Entries": [
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv/key-1389770029?api-version=2026-04-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "description": "test_description"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"wqhKwa55Nzn7_AebM3KMh8PgsvCSeyuTUFARWOLIaz8\"",
        "Last-Modified": "Wed, 10 Jun 2026 19:13:21 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDcxNDMy;sn=67071432",
        "x-ms-date": "Wed, 10 Jun 2026 19:13:21 GMT"
      },
      "ResponseBody": {
        "etag": "wqhKwa55Nzn7_AebM3KMh8PgsvCSeyuTUFARWOLIaz8",
        "key": "key-1389770029",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "description": "test_description",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-06-10T19:13:21+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/locks/key-1389770029?api-version=2026-04-01&label=test_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"wqhKwa55Nzn7_AebM3KMh8PgsvCSeyuTUFARWOLIaz8\"",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDcxNDMz"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDcxNDM0;sn=67071434",
        "x-ms-date": "Wed, 10 Jun 2026 19:13:21 GMT"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv/key-1389770029?api-version=2026-04-01&label=test_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDcxNDM0"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"16V7Epc_vSRflqZm0Vefo5F3YACQhQlJmBZ1dE9F6TY\"",
        "Last-Modified": "Wed, 10 Jun 2026 19:13:21 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDcxNDM1;sn=67071435",
        "x-ms-date": "Wed, 10 Jun 2026 19:13:21 GMT"
      },
      "ResponseBody": {
        "etag": "16V7Epc_vSRflqZm0Vefo5F3YACQhQlJmBZ1dE9F6TY",
        "key": "key-1389770029",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "new_value",
        "description": "test_description",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-06-10T19:13:21+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_ENDPOINT_STRING": "https://mrm90847047-azconfig-net.azconfig.io",
    "RandomSeed": "37821228"
  }
}
