{
  "Entries": [
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv/key-1204878108?api-version=2026-04-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "description": "test_description"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"-OyESqpcCyvj5xD0UcnGLiRNe4coiWNqdemNbC_J7yg\"",
        "Last-Modified": "Wed, 10 Jun 2026 18:21:18 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDY1MDY5;sn=67065069",
        "x-ms-date": "Wed, 10 Jun 2026 18:21:18 GMT"
      },
      "ResponseBody": {
        "etag": "-OyESqpcCyvj5xD0UcnGLiRNe4coiWNqdemNbC_J7yg",
        "key": "key-1204878108",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "description": "test_description",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-06-10T18:21:18+00:00"
      }
    },
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/locks/key-1204878108?api-version=2026-04-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"-OyESqpcCyvj5xD0UcnGLiRNe4coiWNqdemNbC_J7yg\"",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDY1MDY5"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"7Kzo6HlJWfhcV4KPOh6mk-kBlgZbnm0U0AClDQiun2A\"",
        "Last-Modified": "Wed, 10 Jun 2026 18:21:18 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDY1MDcw;sn=67065070",
        "x-ms-date": "Wed, 10 Jun 2026 18:21:18 GMT"
      },
      "ResponseBody": {
        "etag": "7Kzo6HlJWfhcV4KPOh6mk-kBlgZbnm0U0AClDQiun2A",
        "key": "key-1204878108",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "description": "test_description",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": true,
        "last_modified": "2026-06-10T18:21:18+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv/key-1204878108?api-version=2026-04-01&label=test_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDY1MDcz"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"oN94Ri9tifXmdWtfmLfppFHLj92MF3l0_mP4btjEXfA\"",
        "Last-Modified": "Wed, 10 Jun 2026 18:21:18 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDY1MDc0;sn=67065074",
        "x-ms-date": "Wed, 10 Jun 2026 18:21:18 GMT"
      },
      "ResponseBody": {
        "etag": "oN94Ri9tifXmdWtfmLfppFHLj92MF3l0_mP4btjEXfA",
        "key": "key-1204878108",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "description": "test_description",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-06-10T18:21:18+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_ENDPOINT_STRING": "https://mrm90847047-azconfig-net.azconfig.io",
    "RandomSeed": "2055448229"
  }
}
