{
  "Entries": [
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv/key-452097355?api-version=2026-04-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "description": "test_description"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"PYL3Jr3o5d--x9jCMhfXi_0oh7S1UDfehCeZCuFrltM\"",
        "Last-Modified": "Wed, 10 Jun 2026 18:21:16 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDY1MDYz;sn=67065063",
        "x-ms-date": "Wed, 10 Jun 2026 18:21:16 GMT"
      },
      "ResponseBody": {
        "etag": "PYL3Jr3o5d--x9jCMhfXi_0oh7S1UDfehCeZCuFrltM",
        "key": "key-452097355",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "description": "test_description",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-06-10T18:21:16+00:00"
      }
    },
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/locks/key-452097355?api-version=2026-04-01&label=test_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"PYL3Jr3o5d--x9jCMhfXi_0oh7S1UDfehCeZCuFrltM\"",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDY1MDYz"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"PYL3Jr3o5d--x9jCMhfXi_0oh7S1UDfehCeZCuFrltM\"",
        "Last-Modified": "Wed, 10 Jun 2026 18:21:16 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDY1MDYz;sn=67065063",
        "x-ms-date": "Wed, 10 Jun 2026 18:21:16 GMT"
      },
      "ResponseBody": {
        "etag": "PYL3Jr3o5d--x9jCMhfXi_0oh7S1UDfehCeZCuFrltM",
        "key": "key-452097355",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "description": "test_description",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-06-10T18:21:16+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv/key-452097355?api-version=2026-04-01&label=test_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDY1MDY2"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"yATmg-39jeLthJC3_SQFzUunvX0YNPuRFknxQn0i6Q8\"",
        "Last-Modified": "Wed, 10 Jun 2026 18:21:16 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDY1MDY4;sn=67065068",
        "x-ms-date": "Wed, 10 Jun 2026 18:21:16 GMT"
      },
      "ResponseBody": {
        "etag": "yATmg-39jeLthJC3_SQFzUunvX0YNPuRFknxQn0i6Q8",
        "key": "key-452097355",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "description": "test_description",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-06-10T18:21:16+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_ENDPOINT_STRING": "https://mrm90847047-azconfig-net.azconfig.io",
    "RandomSeed": "462319319"
  }
}
