{
  "Entries": [
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/kv/key-623352209?api-version=2023-11-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"45pOhTqRsBH0SreawwaAvuyIdugnbfiv47sCpLpboOI\"",
        "Last-Modified": "Thu, 09 Oct 2025 16:30:13 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzU1NTMyMzk1;sn=55532395",
        "x-ms-date": "Thu, 09 Oct 2025 16:30:13 GMT"
      },
      "ResponseBody": {
        "etag": "45pOhTqRsBH0SreawwaAvuyIdugnbfiv47sCpLpboOI",
        "key": "key-623352209",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2025-10-09T16:30:13+00:00"
      }
    },
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/locks/key-623352209?api-version=2023-11-01&label=test_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"45pOhTqRsBH0SreawwaAvuyIdugnbfiv47sCpLpboOI\"",
        "Sync-Token": "zAJw6V16=Njo1IzU1NTMyMzk1",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"45pOhTqRsBH0SreawwaAvuyIdugnbfiv47sCpLpboOI\"",
        "Last-Modified": "Thu, 09 Oct 2025 16:30:13 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzU1NTMyMzk3;sn=55532397",
        "x-ms-date": "Thu, 09 Oct 2025 16:30:13 GMT"
      },
      "ResponseBody": {
        "etag": "45pOhTqRsBH0SreawwaAvuyIdugnbfiv47sCpLpboOI",
        "key": "key-623352209",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2025-10-09T16:30:13+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/kv/key-623352209?api-version=2023-11-01&label=test_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Njo1IzU1NTMyNDAw",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"8qGvxSCqblz9XpjcRmt8Xk5J4hdXUvnYFu48O34hPuk\"",
        "Last-Modified": "Thu, 09 Oct 2025 16:30:13 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzU1NTMyNDAy;sn=55532402",
        "x-ms-date": "Thu, 09 Oct 2025 16:30:14 GMT"
      },
      "ResponseBody": {
        "etag": "8qGvxSCqblz9XpjcRmt8Xk5J4hdXUvnYFu48O34hPuk",
        "key": "key-623352209",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2025-10-09T16:30:13+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t8cdd9157ca7d1363-azconfig-net.azconfig.io;Id=wNKY;Secret=Kg==",
    "RandomSeed": "423013764"
  }
}
