{
  "Entries": [
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv/key-1279441505?api-version=2023-11-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"GSxGm-VVFi4YhiaQ8XGGMqWuRFYwl9Un2n8yRKLw3CM\"",
        "Last-Modified": "Tue, 09 Jun 2026 22:50:05 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY2OTk0NDgy;sn=66994482",
        "x-ms-date": "Tue, 09 Jun 2026 22:50:05 GMT"
      },
      "ResponseBody": {
        "etag": "GSxGm-VVFi4YhiaQ8XGGMqWuRFYwl9Un2n8yRKLw3CM",
        "key": "key-1279441505",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-06-09T22:50:05+00:00"
      }
    },
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/locks/key-1279441505?api-version=2023-11-01&label=test_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"GSxGm-VVFi4YhiaQ8XGGMqWuRFYwl9Un2n8yRKLw3CM\"",
        "Sync-Token": "zAJw6V16=Mzo1IzY2OTk0NDgy"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"GSxGm-VVFi4YhiaQ8XGGMqWuRFYwl9Un2n8yRKLw3CM\"",
        "Last-Modified": "Tue, 09 Jun 2026 22:50:05 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY2OTk0NDgy;sn=66994482",
        "x-ms-date": "Tue, 09 Jun 2026 22:50:05 GMT"
      },
      "ResponseBody": {
        "etag": "GSxGm-VVFi4YhiaQ8XGGMqWuRFYwl9Un2n8yRKLw3CM",
        "key": "key-1279441505",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-06-09T22:50:05+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv/key-1279441505?api-version=2023-11-01&label=test_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Mzo1IzY2OTk0NDg1"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"SSOf9t7qj3ICNpovoDa4EykEU39-FRlCPcW081qeIbE\"",
        "Last-Modified": "Tue, 09 Jun 2026 22:50:05 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY2OTk0NDg3;sn=66994487",
        "x-ms-date": "Tue, 09 Jun 2026 22:50:05 GMT"
      },
      "ResponseBody": {
        "etag": "SSOf9t7qj3ICNpovoDa4EykEU39-FRlCPcW081qeIbE",
        "key": "key-1279441505",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-06-09T22:50:05+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_ENDPOINT_STRING": "https://mrm90847047-azconfig-net.azconfig.io",
    "RandomSeed": "1573008234"
  }
}
