{
  "Entries": [
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-106449109?api-version=2023-11-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"rADMl65pKX4LlKKJMva8DHP3AZIrYjRMhIewLA2h6nw\"",
        "Last-Modified": "Thu, 22 Jan 2026 01:31:38 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzQ3MzMxNA==;sn=103473314",
        "x-ms-date": "Thu, 22 Jan 2026 01:31:38 GMT"
      },
      "ResponseBody": {
        "etag": "rADMl65pKX4LlKKJMva8DHP3AZIrYjRMhIewLA2h6nw",
        "key": "key-106449109",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-01-22T01:31:38+00:00"
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/locks/key-106449109?api-version=2023-11-01&label=test_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"rADMl65pKX4LlKKJMva8DHP3AZIrYjRMhIewLA2h6nw\"",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzQ3MzMxNA==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"rADMl65pKX4LlKKJMva8DHP3AZIrYjRMhIewLA2h6nw\"",
        "Last-Modified": "Thu, 22 Jan 2026 01:31:38 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzQ3MzMxNA==;sn=103473314",
        "x-ms-date": "Thu, 22 Jan 2026 01:31:38 GMT"
      },
      "ResponseBody": {
        "etag": "rADMl65pKX4LlKKJMva8DHP3AZIrYjRMhIewLA2h6nw",
        "key": "key-106449109",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-01-22T01:31:38+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-106449109?api-version=2023-11-01&label=test_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzQ3MzMxNw==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"-VebGN8Zdln_g_e8d-jg4jJO8zftgaaOTlW1-z-Uq-Q\"",
        "Last-Modified": "Thu, 22 Jan 2026 01:31:38 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzQ3MzMxOQ==;sn=103473319",
        "x-ms-date": "Thu, 22 Jan 2026 01:31:38 GMT"
      },
      "ResponseBody": {
        "etag": "-VebGN8Zdln_g_e8d-jg4jJO8zftgaaOTlW1-z-Uq-Q",
        "key": "key-106449109",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-01-22T01:31:38+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t9c954b564de572f9-azconfig-net.azconfig.io;Id=MdvE;Secret=Kg==",
    "RandomSeed": "1304067942"
  }
}
