{
  "Entries": [
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv/key-1611142310?api-version=2026-04-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "description": "test_description"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"xq3crwZDHShfHZrW1oTar6JFro_9kxPxRtAKOCQAgpY\"",
        "Last-Modified": "Wed, 10 Jun 2026 19:22:35 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDc0NDkx;sn=67074491",
        "x-ms-date": "Wed, 10 Jun 2026 19:22:35 GMT"
      },
      "ResponseBody": {
        "etag": "xq3crwZDHShfHZrW1oTar6JFro_9kxPxRtAKOCQAgpY",
        "key": "key-1611142310",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "description": "test_description",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-06-10T19:22:35+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/locks/key-1611142310?api-version=2026-04-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"xq3crwZDHShfHZrW1oTar6JFro_9kxPxRtAKOCQAgpY\"",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDc0NDky"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDc0NDkz;sn=67074493",
        "x-ms-date": "Wed, 10 Jun 2026 19:22:35 GMT"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv/key-1611142310?api-version=2026-04-01&label=test_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDc0NDkz"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"FK-P06BdU-6pk6cBS40kZ4fGP_ogIK-unWfa9tJz5cU\"",
        "Last-Modified": "Wed, 10 Jun 2026 19:22:35 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDc0NDk2;sn=67074496",
        "x-ms-date": "Wed, 10 Jun 2026 19:22:35 GMT"
      },
      "ResponseBody": {
        "etag": "FK-P06BdU-6pk6cBS40kZ4fGP_ogIK-unWfa9tJz5cU",
        "key": "key-1611142310",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "new_value",
        "description": "test_description",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-06-10T19:22:35+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_ENDPOINT_STRING": "https://mrm90847047-azconfig-net.azconfig.io",
    "RandomSeed": "810256631"
  }
}
