{
  "Entries": [
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-968372217?api-version=2023-11-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"J7jcmkUbg0s9FNx6GkHvdDovzyDHt5NwZB4FjkHkKgY\"",
        "Last-Modified": "Tue, 06 Jan 2026 01:21:48 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTc2NjY2Nw==;sn=101766667",
        "x-ms-date": "Tue, 06 Jan 2026 01:21:48 GMT"
      },
      "ResponseBody": {
        "etag": "J7jcmkUbg0s9FNx6GkHvdDovzyDHt5NwZB4FjkHkKgY",
        "key": "key-968372217",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-01-06T01:21:48+00:00"
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/locks/key-968372217?api-version=2023-11-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"J7jcmkUbg0s9FNx6GkHvdDovzyDHt5NwZB4FjkHkKgY\"",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTc2NjY2Nw==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"QDftSWFwLJHLZbdOeO4Mzse2gm4Nw9P8V3DNkvHqNBQ\"",
        "Last-Modified": "Tue, 06 Jan 2026 01:21:48 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTc2NjY2OA==;sn=101766668",
        "x-ms-date": "Tue, 06 Jan 2026 01:21:48 GMT"
      },
      "ResponseBody": {
        "etag": "QDftSWFwLJHLZbdOeO4Mzse2gm4Nw9P8V3DNkvHqNBQ",
        "key": "key-968372217",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": true,
        "last_modified": "2026-01-06T01:21:48+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-968372217?api-version=2023-11-01&label=test_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTc2NjY3MQ==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"xaHZHQtCYHmZR9Tmtg98TlguZ5XNX8MWxNTq5-8W15M\"",
        "Last-Modified": "Tue, 06 Jan 2026 01:21:48 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTc2NjY3Mg==;sn=101766672",
        "x-ms-date": "Tue, 06 Jan 2026 01:21:48 GMT"
      },
      "ResponseBody": {
        "etag": "xaHZHQtCYHmZR9Tmtg98TlguZ5XNX8MWxNTq5-8W15M",
        "key": "key-968372217",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-01-06T01:21:48+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t9c954b564de572f9-azconfig-net.azconfig.io;Id=MdvE;Secret=Kg==",
    "RandomSeed": "1108334292"
  }
}
