{
  "Entries": [
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/kv/key-504276796?api-version=2023-11-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"OVhJngOt17guGAx89vej7RSjKc1NTqz-43w7dQs48U0\"",
        "Last-Modified": "Tue, 18 Nov 2025 04:20:02 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzU3ODAzNzgz;sn=57803783",
        "x-ms-date": "Tue, 18 Nov 2025 04:20:02 GMT"
      },
      "ResponseBody": {
        "etag": "OVhJngOt17guGAx89vej7RSjKc1NTqz-43w7dQs48U0",
        "key": "key-504276796",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2025-11-18T04:20:02+00:00"
      }
    },
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/locks/key-504276796?api-version=2023-11-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"OVhJngOt17guGAx89vej7RSjKc1NTqz-43w7dQs48U0\"",
        "Sync-Token": "zAJw6V16=Njo1IzU3ODAzNzgz",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"WePaeV2cVMJ4j0Y6zFgOuSdOXzvaovoPHudM2AVLrb0\"",
        "Last-Modified": "Tue, 18 Nov 2025 04:20:02 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzU3ODAzNzg0;sn=57803784",
        "x-ms-date": "Tue, 18 Nov 2025 04:20:02 GMT"
      },
      "ResponseBody": {
        "etag": "WePaeV2cVMJ4j0Y6zFgOuSdOXzvaovoPHudM2AVLrb0",
        "key": "key-504276796",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": true,
        "last_modified": "2025-11-18T04:20:02+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/kv/key-504276796?api-version=2023-11-01&label=test_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Njo1IzU3ODAzNzg5",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"_YSNHnutCnj2j0oJWBnLUFuoUwbga8WqjZ6sla1soMM\"",
        "Last-Modified": "Tue, 18 Nov 2025 04:20:02 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzU3ODAzNzkw;sn=57803790",
        "x-ms-date": "Tue, 18 Nov 2025 04:20:02 GMT"
      },
      "ResponseBody": {
        "etag": "_YSNHnutCnj2j0oJWBnLUFuoUwbga8WqjZ6sla1soMM",
        "key": "key-504276796",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2025-11-18T04:20:02+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t8cdd9157ca7d1363-azconfig-net.azconfig.io;Id=wNKY;Secret=Kg==",
    "RandomSeed": "1670032232"
  }
}
