{
  "Entries": [
    {
      "RequestUri": "https://azure-sdk-for-net-test.azconfig.io/kv/key-362327368?api-version=2026-04-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"qjT_EfokED8WvenHP9tLzAP77J-neKFp1ITyDWW6wf0\"",
        "Last-Modified": "Wed, 27 May 2026 23:59:17 GMT",
        "Sync-Token": "zAJw6V16=NToxNyM0ODA0MjE2OA==;sn=48042168",
        "x-ms-date": "Wed, 27 May 2026 23:59:17 GMT"
      },
      "ResponseBody": {
        "etag": "qjT_EfokED8WvenHP9tLzAP77J-neKFp1ITyDWW6wf0",
        "key": "key-362327368",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "description": null,
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-05-27T23:59:17+00:00"
      }
    },
    {
      "RequestUri": "https://azure-sdk-for-net-test.azconfig.io/locks/key-362327368?api-version=2026-04-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"qjT_EfokED8WvenHP9tLzAP77J-neKFp1ITyDWW6wf0\"",
        "Sync-Token": "zAJw6V16=NToxNyM0ODA0MjE2OA==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"PoP_Inruv3ymU_l4ABljWNBb9S0RTAzwJ7QgiPnvMPM\"",
        "Last-Modified": "Wed, 27 May 2026 23:59:17 GMT",
        "Sync-Token": "zAJw6V16=NToxNyM0ODA0MjE2OQ==;sn=48042169",
        "x-ms-date": "Wed, 27 May 2026 23:59:17 GMT"
      },
      "ResponseBody": {
        "etag": "PoP_Inruv3ymU_l4ABljWNBb9S0RTAzwJ7QgiPnvMPM",
        "key": "key-362327368",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "description": null,
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": true,
        "last_modified": "2026-05-27T23:59:17+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://azure-sdk-for-net-test.azconfig.io/kv/key-362327368?api-version=2026-04-01&label=test_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NToxNyM0ODA0MjE3Mg==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"i4esd_aPV5G30WGBwzY7iWe9xEXlkCG4TbEY1u1FLrU\"",
        "Last-Modified": "Wed, 27 May 2026 23:59:17 GMT",
        "Sync-Token": "zAJw6V16=NToxNyM0ODA0MjE3Mw==;sn=48042173",
        "x-ms-date": "Wed, 27 May 2026 23:59:17 GMT"
      },
      "ResponseBody": {
        "etag": "i4esd_aPV5G30WGBwzY7iWe9xEXlkCG4TbEY1u1FLrU",
        "key": "key-362327368",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "description": null,
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-05-27T23:59:17+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://azure-sdk-for-net-test.azconfig.io;Id=8ePU;Secret=Kg==",
    "RandomSeed": "1136784873"
  }
}
