{
  "Entries": [
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/KeyBar-170039961?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "value1",
        "content_type": null,
        "tags": {
          "foo": "bartemp1"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"omiujLvHlbwa1uXX6BBr12U89l2UMz5kl9a2kp57MIM\"",
        "Last-Modified": "Mon, 26 Jan 2026 05:45:32 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzg1MTc4NQ==;sn=103851785",
        "x-ms-date": "Mon, 26 Jan 2026 05:45:32 GMT"
      },
      "ResponseBody": {
        "etag": "omiujLvHlbwa1uXX6BBr12U89l2UMz5kl9a2kp57MIM",
        "key": "KeyBar-170039961",
        "label": null,
        "content_type": null,
        "value": "value1",
        "tags": {
          "foo": "bartemp1"
        },
        "locked": false,
        "last_modified": "2026-01-26T05:45:32+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/Key12143537005?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzg1MTc4Nw==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "value4",
        "content_type": null,
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"U3kRFQNa5_mctTY7BYX9wiRKR_xE0G2Kr4GM2nE_hqk\"",
        "Last-Modified": "Mon, 26 Jan 2026 05:45:32 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzg1MTc4OA==;sn=103851788",
        "x-ms-date": "Mon, 26 Jan 2026 05:45:32 GMT"
      },
      "ResponseBody": {
        "etag": "U3kRFQNa5_mctTY7BYX9wiRKR_xE0G2Kr4GM2nE_hqk",
        "key": "Key12143537005",
        "label": null,
        "content_type": null,
        "value": "value4",
        "tags": {},
        "locked": false,
        "last_modified": "2026-01-26T05:45:32+00:00"
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/snapshots/snapshot-519810950?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzg1MTc4OA==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "filters": [
          {
            "key": "KeyBar-*",
            "tags": [
              "foo=bartemp1"
            ]
          }
        ]
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json; charset=utf-8",
        "ETag": "\"sVT86-nyYZyJ8-VB6aL1FyfsM140FtPgHrxbGEX5s0A\"",
        "Last-Modified": "Mon, 26 Jan 2026 05:45:32 GMT",
        "Link": "</kv?snapshot=snapshot-519810950&api-version=2023-11-01>; rel=\"items\"",
        "Operation-Location": "https://t9c954b564de572f9-azconfig-net.azconfig.io/operations?snapshot=snapshot-519810950&api-version=2023-11-01",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzg1MTc5MQ==;sn=103851791",
        "x-ms-date": "Mon, 26 Jan 2026 05:45:32 GMT"
      },
      "ResponseBody": {
        "etag": "sVT86-nyYZyJ8-VB6aL1FyfsM140FtPgHrxbGEX5s0A",
        "name": "snapshot-519810950",
        "status": "provisioning",
        "filters": [
          {
            "key": "KeyBar-*",
            "label": null,
            "tags": [
              "foo=bartemp1"
            ]
          }
        ],
        "composition_type": "key",
        "created": "2026-01-26T05:45:32.897714+00:00",
        "size": 0,
        "items_count": 0,
        "tags": {},
        "retention_period": 2592000
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/operations?api-version=2023-11-01&snapshot=snapshot-519810950",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzg1MTc5MQ==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzg1MTc5MQ==;sn=103851791",
        "x-ms-date": "Mon, 26 Jan 2026 05:45:33 GMT"
      },
      "ResponseBody": {
        "id": "AZXFevk88B5KBee4eMFgRbnM1lvklw6BdPKegfly8MI",
        "status": "Running",
        "error": null
      }
    },
[...]
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv?api-version=2023-11-01&snapshot=snapshot-519810950",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzg1MTgwMA==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"fVqpcoY-z8p0PHM4SMbFaiSj9wv3idI_jQCGeChwFX4\"",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzg1MTgwMA==;sn=103851800",
        "x-ms-date": "Mon, 26 Jan 2026 05:45:43 GMT"
      },
      "ResponseBody": {
        "etag": "fVqpcoY-z8p0PHM4SMbFaiSj9wv3idI_jQCGeChwFX4",
        "items": [
          {
            "etag": "omiujLvHlbwa1uXX6BBr12U89l2UMz5kl9a2kp57MIM",
            "key": "KeyBar-170039961",
            "label": null,
            "content_type": null,
            "value": "value1",
            "tags": {
              "foo": "bartemp1"
            },
            "locked": false,
            "last_modified": "2026-01-26T05:45:32+00:00"
          },
          {
            "etag": "qExc6YrbABOvESwHokFqyl5ubgs-l1qYTIv5q16B2kI",
            "key": "KeyBar-2938938792",
            "label": null,
            "content_type": null,
            "value": "value2",
            "tags": {
              "foo": "bartemp1"
            },
            "locked": false,
            "last_modified": "2026-01-26T05:45:32+00:00"
          },
          {
            "etag": "mO1ifn9j0UHevkGKF5mBMX85TJIog5aGzbXeLE4jT_E",
            "key": "KeyBar-3702710279",
            "label": null,
            "content_type": null,
            "value": "value3",
            "tags": {
              "foo": "bartemp1"
            },
            "locked": false,
            "last_modified": "2026-01-26T05:45:32+00:00"
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/Key12143537005?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzg1MTgwMw==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"U3kRFQNa5_mctTY7BYX9wiRKR_xE0G2Kr4GM2nE_hqk\"",
        "Last-Modified": "Mon, 26 Jan 2026 05:45:32 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzg1MTgwNA==;sn=103851804",
        "x-ms-date": "Mon, 26 Jan 2026 05:45:43 GMT"
      },
      "ResponseBody": {
        "etag": "U3kRFQNa5_mctTY7BYX9wiRKR_xE0G2Kr4GM2nE_hqk",
        "key": "Key12143537005",
        "label": null,
        "content_type": null,
        "value": "value4",
        "tags": {},
        "locked": false,
        "last_modified": "2026-01-26T05:45:32+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t9c954b564de572f9-azconfig-net.azconfig.io;Id=MdvE;Secret=Kg==",
    "RandomSeed": "2012945724"
  }
}
