{
  "Entries": [
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-134313898?api-version=2023-11-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"iTV9h8oYf6R-qOcsanlPjxHv9CfaIic4nTBjPcSt5t8\"",
        "Last-Modified": "Mon, 26 Jan 2026 05:38:15 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzg1MDU0Nw==;sn=103850547",
        "x-ms-date": "Mon, 26 Jan 2026 05:38:15 GMT"
      },
      "ResponseBody": {
        "etag": "iTV9h8oYf6R-qOcsanlPjxHv9CfaIic4nTBjPcSt5t8",
        "key": "key-134313898",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-01-26T05:38:15+00:00"
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/snapshots/snapshot-100518620?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzg1MDU0Nw==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "filters": [
          {
            "key": "key-134313898"
          }
        ]
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json; charset=utf-8",
        "ETag": "\"ZD6NEKaLzBV7v_UW8utKhG4oDZFPPxjGrLt2LrT6OqY\"",
        "Last-Modified": "Mon, 26 Jan 2026 05:38:15 GMT",
        "Link": "</kv?snapshot=snapshot-100518620&api-version=2023-11-01>; rel=\"items\"",
        "Operation-Location": "https://t9c954b564de572f9-azconfig-net.azconfig.io/operations?snapshot=snapshot-100518620&api-version=2023-11-01",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzg1MDU0OA==;sn=103850548",
        "x-ms-date": "Mon, 26 Jan 2026 05:38:15 GMT"
      },
      "ResponseBody": {
        "etag": "ZD6NEKaLzBV7v_UW8utKhG4oDZFPPxjGrLt2LrT6OqY",
        "name": "snapshot-100518620",
        "status": "provisioning",
        "filters": [
          {
            "key": "key-134313898",
            "label": null,
            "tags": []
          }
        ],
        "composition_type": "key",
        "created": "2026-01-26T05:38:15.9490977+00:00",
        "size": 0,
        "items_count": 0,
        "tags": {},
        "retention_period": 2592000
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/operations?api-version=2023-11-01&snapshot=snapshot-100518620",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzg1MDU0OA==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzg1MDU0OA==;sn=103850548",
        "x-ms-date": "Mon, 26 Jan 2026 05:38:16 GMT"
      },
      "ResponseBody": {
        "id": "UTxKBXbNko7DvyuI1WVbnwTzxeJLwgwdF1vSuCUHWv0",
        "status": "Running",
        "error": null
      }
    },
[...]
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-134313898?api-version=2023-11-01&label=test_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzg1MDU0OQ==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"iTV9h8oYf6R-qOcsanlPjxHv9CfaIic4nTBjPcSt5t8\"",
        "Last-Modified": "Mon, 26 Jan 2026 05:38:15 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzg1MDU1MA==;sn=103850550",
        "x-ms-date": "Mon, 26 Jan 2026 05:38:18 GMT"
      },
      "ResponseBody": {
        "etag": "iTV9h8oYf6R-qOcsanlPjxHv9CfaIic4nTBjPcSt5t8",
        "key": "key-134313898",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-01-26T05:38:15+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t9c954b564de572f9-azconfig-net.azconfig.io;Id=MdvE;Secret=Kg==",
    "RandomSeed": "384293293"
  }
}
