{
  "Entries": [
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/Key-12001001263?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "value1",
        "content_type": null,
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"1lJlqstavUrtnb_ld7b5c126o4d8woU_EGWxcZx3nbA\"",
        "Last-Modified": "Fri, 23 Jan 2026 07:15:24 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU3NTc3MQ==;sn=103575771",
        "x-ms-date": "Fri, 23 Jan 2026 07:15:24 GMT"
      },
      "ResponseBody": {
        "etag": "1lJlqstavUrtnb_ld7b5c126o4d8woU_EGWxcZx3nbA",
        "key": "Key-12001001263",
        "label": null,
        "content_type": null,
        "value": "value1",
        "tags": {},
        "locked": false,
        "last_modified": "2026-01-23T07:15:24+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/snapshots/snapshot-199002379?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU3NTc3OA==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "filters": [
          {
            "key": "Key-*"
          }
        ]
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json; charset=utf-8",
        "ETag": "\"beIQmb1bigRFZ2j8O3bX0FXMNHhVGqfMHMJnNn0tE08\"",
        "Last-Modified": "Fri, 23 Jan 2026 07:15:25 GMT",
        "Link": "</kv?snapshot=snapshot-199002379&api-version=2023-11-01>; rel=\"items\"",
        "Operation-Location": "https://t9c954b564de572f9-azconfig-net.azconfig.io/operations?snapshot=snapshot-199002379&api-version=2023-11-01",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU3NTc3OQ==;sn=103575779",
        "x-ms-date": "Fri, 23 Jan 2026 07:15:25 GMT"
      },
      "ResponseBody": {
        "etag": "beIQmb1bigRFZ2j8O3bX0FXMNHhVGqfMHMJnNn0tE08",
        "name": "snapshot-199002379",
        "status": "provisioning",
        "filters": [
          {
            "key": "Key-*",
            "label": null,
            "tags": []
          }
        ],
        "composition_type": "key",
        "created": "2026-01-23T07:15:25.1362829+00:00",
        "size": 0,
        "items_count": 0,
        "tags": {},
        "retention_period": 2592000
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/operations?api-version=2023-11-01&snapshot=snapshot-199002379",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU3NTc3OQ==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU3NTc4Mg==;sn=103575782",
        "x-ms-date": "Fri, 23 Jan 2026 07:15:25 GMT"
      },
      "ResponseBody": {
        "id": "Zv1MbxLwctHkw4uDTtVtWld2gIFFMD8F6XB14iSy5nQ",
        "status": "Running",
        "error": null
      }
    },
[...]
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv?api-version=2023-11-01&snapshot=snapshot-199002379",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU3NTc5Mw==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"xYhRJ8FM7JBtR3yS8zGpBGWU8cCMOHxuVrRekOd-3js\"",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU3NTc5Mw==;sn=103575793",
        "x-ms-date": "Fri, 23 Jan 2026 07:15:35 GMT"
      },
      "ResponseBody": {
        "etag": "xYhRJ8FM7JBtR3yS8zGpBGWU8cCMOHxuVrRekOd-3js",
        "items": [
          {
            "etag": "1lJlqstavUrtnb_ld7b5c126o4d8woU_EGWxcZx3nbA",
            "key": "Key-12001001263",
            "label": null,
            "content_type": null,
            "value": "value1",
            "tags": {},
            "locked": false,
            "last_modified": "2026-01-23T07:15:24+00:00"
          },
          {
            "etag": "the8e0allQ9sDkxv3R9sTyPZaX5MCMpxNgrmXwQL5CM",
            "key": "Key-21786314271",
            "label": null,
            "content_type": null,
            "value": "value2",
            "tags": {},
            "locked": false,
            "last_modified": "2026-01-23T07:15:24+00:00"
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/Key2998135891?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU3NTc5Ng==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"FUEFZRs7OQBqXCe47QNYUh-kaw07DC6L8bQMgZNKTVM\"",
        "Last-Modified": "Fri, 23 Jan 2026 07:15:25 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU3NTc5Nw==;sn=103575797",
        "x-ms-date": "Fri, 23 Jan 2026 07:15:36 GMT"
      },
      "ResponseBody": {
        "etag": "FUEFZRs7OQBqXCe47QNYUh-kaw07DC6L8bQMgZNKTVM",
        "key": "Key2998135891",
        "label": null,
        "content_type": null,
        "value": "value4",
        "tags": {},
        "locked": false,
        "last_modified": "2026-01-23T07:15:25+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t9c954b564de572f9-azconfig-net.azconfig.io;Id=MdvE;Secret=Kg==",
    "RandomSeed": "2128264795"
  }
}
