{
  "Entries": [
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-2091256523?api-version=2023-11-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"dTq7Q_lzAFyIwyUu06vZ1E2q18FO_qucYmMH4AlMozg\"",
        "Last-Modified": "Mon, 01 Dec 2025 08:34:27 GMT",
        "Sync-Token": "zAJw6V16=NTo1Izk4Nzc1MDk1;sn=98775095",
        "x-ms-date": "Mon, 01 Dec 2025 08:34:27 GMT"
      },
      "ResponseBody": {
        "etag": "dTq7Q_lzAFyIwyUu06vZ1E2q18FO_qucYmMH4AlMozg",
        "key": "key-2091256523",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2025-12-01T08:34:27+00:00"
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/snapshots/snapshot-1847751223?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NTo1Izk4Nzc1MDk1",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "filters": [
          {
            "key": "key-2091256523"
          }
        ]
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json; charset=utf-8",
        "ETag": "\"TJt0hK06dP2Zf-15vKpKhBAphqEMmCiJJFS_STZOzMs\"",
        "Last-Modified": "Mon, 01 Dec 2025 08:34:27 GMT",
        "Link": "</kv?snapshot=snapshot-1847751223&api-version=2023-11-01>; rel=\"items\"",
        "Operation-Location": "https://t9c954b564de572f9-azconfig-net.azconfig.io/operations?snapshot=snapshot-1847751223&api-version=2023-11-01",
        "Sync-Token": "zAJw6V16=NTo1Izk4Nzc1MDk3;sn=98775097",
        "x-ms-date": "Mon, 01 Dec 2025 08:34:27 GMT"
      },
      "ResponseBody": {
        "etag": "TJt0hK06dP2Zf-15vKpKhBAphqEMmCiJJFS_STZOzMs",
        "name": "snapshot-1847751223",
        "status": "provisioning",
        "filters": [
          {
            "key": "key-2091256523",
            "label": null,
            "tags": []
          }
        ],
        "composition_type": "key",
        "created": "2025-12-01T08:34:27.4378624+00:00",
        "size": 0,
        "items_count": 0,
        "tags": {},
        "retention_period": 2592000
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/operations?api-version=2023-11-01&snapshot=snapshot-1847751223",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1Izk4Nzc1MDk3",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "Sync-Token": "zAJw6V16=NTo1Izk4Nzc1MDk5;sn=98775099",
        "x-ms-date": "Mon, 01 Dec 2025 08:34:27 GMT"
      },
      "ResponseBody": {
        "id": "4h0YiyIhbxi1AhPz971WKxbmLXN2-BD_KbkrQqKBlFY",
        "status": "Running",
        "error": null
      }
    },
[...]
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-2091256523?api-version=2023-11-01&label=test_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1Izk4Nzc1MTM1",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"dTq7Q_lzAFyIwyUu06vZ1E2q18FO_qucYmMH4AlMozg\"",
        "Last-Modified": "Mon, 01 Dec 2025 08:34:27 GMT",
        "Sync-Token": "zAJw6V16=NTo1Izk4Nzc1MTM2;sn=98775136",
        "x-ms-date": "Mon, 01 Dec 2025 08:34:38 GMT"
      },
      "ResponseBody": {
        "etag": "dTq7Q_lzAFyIwyUu06vZ1E2q18FO_qucYmMH4AlMozg",
        "key": "key-2091256523",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2025-12-01T08:34:27+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t9c954b564de572f9-azconfig-net.azconfig.io;Id=MdvE;Secret=Kg==",
    "RandomSeed": "169129414"
  }
}
