{
  "Entries": [
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-1685608023?api-version=2023-11-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"7tGUPiC5XWMdFXhCsBL7ZPcIYiQ0S-aT9Fck7nzXnWA\"",
        "Last-Modified": "Mon, 26 Jan 2026 05:39:35 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzg1MDU4NQ==;sn=103850585",
        "x-ms-date": "Mon, 26 Jan 2026 05:39:35 GMT"
      },
      "ResponseBody": {
        "etag": "7tGUPiC5XWMdFXhCsBL7ZPcIYiQ0S-aT9Fck7nzXnWA",
        "key": "key-1685608023",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-01-26T05:39:35+00:00"
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/snapshots/snapshot-736578117?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzg1MDU4NQ==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "filters": [
          {
            "key": "key-1685608023",
            "tags": [
              "tag1=value1",
              "tag2=value2"
            ]
          }
        ]
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json; charset=utf-8",
        "ETag": "\"_65eQQDC0fpcyaOmm8iOUgQCaplOq2huyinwudWhR18\"",
        "Last-Modified": "Mon, 26 Jan 2026 05:39:35 GMT",
        "Link": "</kv?snapshot=snapshot-736578117&api-version=2023-11-01>; rel=\"items\"",
        "Operation-Location": "https://t9c954b564de572f9-azconfig-net.azconfig.io/operations?snapshot=snapshot-736578117&api-version=2023-11-01",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzg1MDU4Ng==;sn=103850586",
        "x-ms-date": "Mon, 26 Jan 2026 05:39:35 GMT"
      },
      "ResponseBody": {
        "etag": "_65eQQDC0fpcyaOmm8iOUgQCaplOq2huyinwudWhR18",
        "name": "snapshot-736578117",
        "status": "provisioning",
        "filters": [
          {
            "key": "key-1685608023",
            "label": null,
            "tags": [
              "tag1=value1",
              "tag2=value2"
            ]
          }
        ],
        "composition_type": "key",
        "created": "2026-01-26T05:39:35.5351998+00:00",
        "size": 0,
        "items_count": 0,
        "tags": {},
        "retention_period": 2592000
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/operations?api-version=2023-11-01&snapshot=snapshot-736578117",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzg1MDU4Ng==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzg1MDU4Ng==;sn=103850586",
        "x-ms-date": "Mon, 26 Jan 2026 05:39:35 GMT"
      },
      "ResponseBody": {
        "id": "59w3CA-FD3WfiVht-d5s2KJ4jALf5-fDfEjqjQAiklE",
        "status": "Running",
        "error": null
      }
    },
[...]
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-1685608023?api-version=2023-11-01&label=test_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzg1MDU4Nw==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"7tGUPiC5XWMdFXhCsBL7ZPcIYiQ0S-aT9Fck7nzXnWA\"",
        "Last-Modified": "Mon, 26 Jan 2026 05:39:35 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzg1MDU4OA==;sn=103850588",
        "x-ms-date": "Mon, 26 Jan 2026 05:39:46 GMT"
      },
      "ResponseBody": {
        "etag": "7tGUPiC5XWMdFXhCsBL7ZPcIYiQ0S-aT9Fck7nzXnWA",
        "key": "key-1685608023",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-01-26T05:39:35+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t9c954b564de572f9-azconfig-net.azconfig.io;Id=MdvE;Secret=Kg==",
    "RandomSeed": "1468487388"
  }
}
