{
  "Entries": [
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/kv/KeyBar-11779327360?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "value1",
        "content_type": null,
        "tags": {
          "foo": "bartemp1"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"XK6lMf-kbwT6J3WplaUMqeWkw_76-49mPY3fYeD2W5U\"",
        "Last-Modified": "Mon, 17 Nov 2025 16:48:40 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzU3NzY0MTY0;sn=57764164",
        "x-ms-date": "Mon, 17 Nov 2025 16:48:40 GMT"
      },
      "ResponseBody": {
        "etag": "XK6lMf-kbwT6J3WplaUMqeWkw_76-49mPY3fYeD2W5U",
        "key": "KeyBar-11779327360",
        "label": null,
        "content_type": null,
        "value": "value1",
        "tags": {
          "foo": "bartemp1"
        },
        "locked": false,
        "last_modified": "2025-11-17T16:48:40+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/kv/Key163040743?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "Sync-Token": "zAJw6V16=Njo1IzU3NzY0MTY2",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "value4",
        "content_type": null,
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"0TJLnWHSN3pM8oi7247BYJ6MaXBL2CvpeZKWUFdpF7I\"",
        "Last-Modified": "Mon, 17 Nov 2025 16:48:40 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzU3NzY0MTY3;sn=57764167",
        "x-ms-date": "Mon, 17 Nov 2025 16:48:40 GMT"
      },
      "ResponseBody": {
        "etag": "0TJLnWHSN3pM8oi7247BYJ6MaXBL2CvpeZKWUFdpF7I",
        "key": "Key163040743",
        "label": null,
        "content_type": null,
        "value": "value4",
        "tags": {},
        "locked": false,
        "last_modified": "2025-11-17T16:48:40+00:00"
      }
    },
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/snapshots/snapshot-1015833933?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=Njo1IzU3NzY0MTY3",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "filters": [
          {
            "key": "KeyBar-*",
            "tags": [
              "foo=bartemp1"
            ]
          }
        ]
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json; charset=utf-8",
        "ETag": "\"sx_CnDxCMssiMoLhbbttw0hlwY3jG21TF3cJlIzJ7lY\"",
        "Last-Modified": "Mon, 17 Nov 2025 16:48:40 GMT",
        "Link": "</kv?snapshot=snapshot-1015833933&api-version=2023-11-01>; rel=\"items\"",
        "Operation-Location": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/operations?snapshot=snapshot-1015833933&api-version=2023-11-01",
        "Sync-Token": "zAJw6V16=Njo1IzU3NzY0MTY4;sn=57764168",
        "x-ms-date": "Mon, 17 Nov 2025 16:48:40 GMT"
      },
      "ResponseBody": {
        "etag": "sx_CnDxCMssiMoLhbbttw0hlwY3jG21TF3cJlIzJ7lY",
        "name": "snapshot-1015833933",
        "status": "provisioning",
        "filters": [
          {
            "key": "KeyBar-*",
            "label": null,
            "tags": [
              "foo=bartemp1"
            ]
          }
        ],
        "composition_type": "key",
        "created": "2025-11-17T16:48:40.9642154+00:00",
        "size": 0,
        "items_count": 0,
        "tags": {},
        "retention_period": 2592000
      }
    },
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/operations?api-version=2023-11-01&snapshot=snapshot-1015833933",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Njo1IzU3NzY0MTY4",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "Sync-Token": "zAJw6V16=Njo1IzU3NzY0MTY4;sn=57764168",
        "x-ms-date": "Mon, 17 Nov 2025 16:48:41 GMT"
      },
      "ResponseBody": {
        "id": "QYvYaOvkfuSPg4_l6FdEL2gQeXn9A_UIPi8zORZm3uk",
        "status": "Running",
        "error": null
      }
    },
[...]
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/kv?api-version=2023-11-01&snapshot=snapshot-1015833933",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Njo1IzU3NzY0MTg3",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"mIz1yxlCeQ1-l3403fuZLl_dige80I9FFjwB3Ek93Mk\"",
        "Sync-Token": "zAJw6V16=Njo1IzU3NzY0MTg3;sn=57764187",
        "x-ms-date": "Mon, 17 Nov 2025 16:49:01 GMT"
      },
      "ResponseBody": {
        "etag": "mIz1yxlCeQ1-l3403fuZLl_dige80I9FFjwB3Ek93Mk",
        "items": [
          {
            "etag": "XK6lMf-kbwT6J3WplaUMqeWkw_76-49mPY3fYeD2W5U",
            "key": "KeyBar-11779327360",
            "label": null,
            "content_type": null,
            "value": "value1",
            "tags": {
              "foo": "bartemp1"
            },
            "locked": false,
            "last_modified": "2025-11-17T16:48:40+00:00"
          },
          {
            "etag": "tVy6J5_LfJxwwb-tjbbkihIZkeMQQbBC1Jd7Nq6OQDA",
            "key": "KeyBar-2895636575",
            "label": null,
            "content_type": null,
            "value": "value2",
            "tags": {
              "foo": "bartemp1"
            },
            "locked": false,
            "last_modified": "2025-11-17T16:48:40+00:00"
          },
          {
            "etag": "BwN4CLTJGE0aJoNMN2p-crClQrQ0mWD4YlXI4wfVD2Q",
            "key": "KeyBar-31706360885",
            "label": null,
            "content_type": null,
            "value": "value3",
            "tags": {
              "foo": "bartemp1"
            },
            "locked": false,
            "last_modified": "2025-11-17T16:48:40+00:00"
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/kv/Key163040743?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Njo1IzU3NzY0MTkw",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"0TJLnWHSN3pM8oi7247BYJ6MaXBL2CvpeZKWUFdpF7I\"",
        "Last-Modified": "Mon, 17 Nov 2025 16:48:40 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzU3NzY0MTkx;sn=57764191",
        "x-ms-date": "Mon, 17 Nov 2025 16:49:02 GMT"
      },
      "ResponseBody": {
        "etag": "0TJLnWHSN3pM8oi7247BYJ6MaXBL2CvpeZKWUFdpF7I",
        "key": "Key163040743",
        "label": null,
        "content_type": null,
        "value": "value4",
        "tags": {},
        "locked": false,
        "last_modified": "2025-11-17T16:48:40+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t8cdd9157ca7d1363-azconfig-net.azconfig.io;Id=wNKY;Secret=Kg==",
    "RandomSeed": "260222624"
  }
}
