{
  "Entries": [
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/Key-11838970197?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "value1",
        "content_type": null,
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"L6jO1Lo9FwdoLWcnaI8XhWmAvr-n_MPY4GvqsYCSzVw\"",
        "Last-Modified": "Tue, 06 Jan 2026 06:33:53 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTc3MzUyNw==;sn=101773527",
        "x-ms-date": "Tue, 06 Jan 2026 06:33:53 GMT"
      },
      "ResponseBody": {
        "etag": "L6jO1Lo9FwdoLWcnaI8XhWmAvr-n_MPY4GvqsYCSzVw",
        "key": "Key-11838970197",
        "label": null,
        "content_type": null,
        "value": "value1",
        "tags": {},
        "locked": false,
        "last_modified": "2026-01-06T06:33:53+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/snapshots/snapshot-703967689?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTc3MzUzMA==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "filters": [
          {
            "key": "Key-*"
          }
        ]
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json; charset=utf-8",
        "ETag": "\"zthuM50FxCXsumenuaS7hAu3dVZtgcpa3eIkj3nmM8Q\"",
        "Last-Modified": "Tue, 06 Jan 2026 06:33:54 GMT",
        "Link": "</kv?snapshot=snapshot-703967689&api-version=2023-11-01>; rel=\"items\"",
        "Operation-Location": "https://t9c954b564de572f9-azconfig-net.azconfig.io/operations?snapshot=snapshot-703967689&api-version=2023-11-01",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTc3MzUzMQ==;sn=101773531",
        "x-ms-date": "Tue, 06 Jan 2026 06:33:54 GMT"
      },
      "ResponseBody": {
        "etag": "zthuM50FxCXsumenuaS7hAu3dVZtgcpa3eIkj3nmM8Q",
        "name": "snapshot-703967689",
        "status": "provisioning",
        "filters": [
          {
            "key": "Key-*",
            "label": null,
            "tags": []
          }
        ],
        "composition_type": "key",
        "created": "2026-01-06T06:33:54.4825543+00:00",
        "size": 0,
        "items_count": 0,
        "tags": {},
        "retention_period": 2592000
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/operations?api-version=2023-11-01&snapshot=snapshot-703967689",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTc3MzUzMQ==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTc3MzUzMQ==;sn=101773531",
        "x-ms-date": "Tue, 06 Jan 2026 06:33:54 GMT"
      },
      "ResponseBody": {
        "id": "qbjAL98pEiZxJEv8gkRHUk5W80E678Ds0i4XJMP5_kA",
        "status": "Running",
        "error": null
      }
    },
[...]
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv?api-version=2023-11-01&snapshot=snapshot-703967689",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTc3MzUzMg==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"uRohiM7bm9gozq3xeAc2QxID-hoVLR5YN1aTN0l86VA\"",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTc3MzUzMg==;sn=101773532",
        "x-ms-date": "Tue, 06 Jan 2026 06:34:15 GMT"
      },
      "ResponseBody": {
        "etag": "uRohiM7bm9gozq3xeAc2QxID-hoVLR5YN1aTN0l86VA",
        "items": [
          {
            "etag": "L6jO1Lo9FwdoLWcnaI8XhWmAvr-n_MPY4GvqsYCSzVw",
            "key": "Key-11838970197",
            "label": null,
            "content_type": null,
            "value": "value1",
            "tags": {},
            "locked": false,
            "last_modified": "2026-01-06T06:33:53+00:00"
          },
          {
            "etag": "X3TNnFjFsZV-dSDJZ38RkZ7Sk7N7m6D5GgHmNtc3xjI",
            "key": "Key-21358799998",
            "label": null,
            "content_type": null,
            "value": "value2",
            "tags": {},
            "locked": false,
            "last_modified": "2026-01-06T06:33:54+00:00"
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/Key2307611694?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTc3MzUzNQ==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"BNzXu8Hz1qhQTA55AEHf8cqh6M7pBX9Pqyzsve2MAKc\"",
        "Last-Modified": "Tue, 06 Jan 2026 06:33:54 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTc3MzUzNg==;sn=101773536",
        "x-ms-date": "Tue, 06 Jan 2026 06:34:15 GMT"
      },
      "ResponseBody": {
        "etag": "BNzXu8Hz1qhQTA55AEHf8cqh6M7pBX9Pqyzsve2MAKc",
        "key": "Key2307611694",
        "label": null,
        "content_type": null,
        "value": "value4",
        "tags": {},
        "locked": false,
        "last_modified": "2026-01-06T06:33:54+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t9c954b564de572f9-azconfig-net.azconfig.io;Id=MdvE;Secret=Kg==",
    "RandomSeed": "913416439"
  }
}
