{
  "Entries": [
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-1787804056?api-version=2023-11-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"iFtJ2uIWlCFsQpcJWweYTib1gSNUPFsHS79tGFprTpM\"",
        "Last-Modified": "Thu, 22 Jan 2026 02:00:20 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzQ3NDM5OA==;sn=103474398",
        "x-ms-date": "Thu, 22 Jan 2026 02:00:20 GMT"
      },
      "ResponseBody": {
        "etag": "iFtJ2uIWlCFsQpcJWweYTib1gSNUPFsHS79tGFprTpM",
        "key": "key-1787804056",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-01-22T02:00:20+00:00"
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/snapshots/snapshot-365886552?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzQ3NDM5OA==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "filters": [
          {
            "key": "key-1787804056"
          }
        ]
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json; charset=utf-8",
        "ETag": "\"Dm5dIvoLnWLeo5e52aktNGhwOnJ95fOmH-fg-u0K1Ds\"",
        "Last-Modified": "Thu, 22 Jan 2026 02:00:20 GMT",
        "Link": "</kv?snapshot=snapshot-365886552&api-version=2023-11-01>; rel=\"items\"",
        "Operation-Location": "https://t9c954b564de572f9-azconfig-net.azconfig.io/operations?snapshot=snapshot-365886552&api-version=2023-11-01",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzQ3NDM5OQ==;sn=103474399",
        "x-ms-date": "Thu, 22 Jan 2026 02:00:20 GMT"
      },
      "ResponseBody": {
        "etag": "Dm5dIvoLnWLeo5e52aktNGhwOnJ95fOmH-fg-u0K1Ds",
        "name": "snapshot-365886552",
        "status": "provisioning",
        "filters": [
          {
            "key": "key-1787804056",
            "label": null,
            "tags": []
          }
        ],
        "composition_type": "key",
        "created": "2026-01-22T02:00:20.9771071+00:00",
        "size": 0,
        "items_count": 0,
        "tags": {},
        "retention_period": 2592000
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/operations?api-version=2023-11-01&snapshot=snapshot-365886552",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzQ3NDM5OQ==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzQ3NDM5OQ==;sn=103474399",
        "x-ms-date": "Thu, 22 Jan 2026 02:00:21 GMT"
      },
      "ResponseBody": {
        "id": "cfd_hCzzQ2yQ80rRX0yrHgU96i-byaOBjOLRCgC2_1c",
        "status": "Running",
        "error": null
      }
    },
[...]
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-1787804056?api-version=2023-11-01&label=test_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzQ3NDQwMA==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"iFtJ2uIWlCFsQpcJWweYTib1gSNUPFsHS79tGFprTpM\"",
        "Last-Modified": "Thu, 22 Jan 2026 02:00:20 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzQ3NDQwMQ==;sn=103474401",
        "x-ms-date": "Thu, 22 Jan 2026 02:00:31 GMT"
      },
      "ResponseBody": {
        "etag": "iFtJ2uIWlCFsQpcJWweYTib1gSNUPFsHS79tGFprTpM",
        "key": "key-1787804056",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-01-22T02:00:20+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t9c954b564de572f9-azconfig-net.azconfig.io;Id=MdvE;Secret=Kg==",
    "RandomSeed": "1860513960"
  }
}
