{
  "Entries": [
    {
      "RequestUri": "https://t02f6e87f544544f3-azconfig-net.azconfig.io/kv/key-708604711?label=test_label\u0026api-version=2022-11-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "b11OQu6GthUatwGXUIKHHSRVyik0TdrUk5kZm3yZd2A="
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022SxyaPZLoawciq3M_GeYYCtKOb_uaalURQhbYnEy3SjU\u0022",
        "Last-Modified": "Fri, 30 Jun 2023 23:58:57 GMT",
        "Sync-Token": "zAJw6V16=ODo1IzI0ODc5NzMy;sn=24879732"
      },
      "ResponseBody": {
        "etag": "SxyaPZLoawciq3M_GeYYCtKOb_uaalURQhbYnEy3SjU",
        "key": "key-708604711",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2023-06-30T23:58:57\u002B00:00"
      }
    },
    {
      "RequestUri": "https://t02f6e87f544544f3-azconfig-net.azconfig.io/snapshots/snapshot-1344742864?api-version=2022-11-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=ODo1IzI0ODc5NzMy",
        "x-ms-content-sha256": "jwIBW\u002BTl/J\u002BSNz8B2WK\u002BtBJ1Ky36vdKLJYNQ0NqGX2w="
      },
      "RequestBody": {
        "filters": [
          {
            "key": "key-708604711"
          }
        ]
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot\u002Bjson; charset=utf-8",
        "ETag": "\u0022iLR48PAWFNFe91kD3ewWjDrSD7eJVZc4Jn1ygHWZkjI\u0022",
        "Last-Modified": "Fri, 30 Jun 2023 23:58:57 GMT",
        "Link": "\u003C/kv?snapshot=snapshot-1344742864\u0026api-version=2022-11-01-preview\u003E; rel=\u0022items\u0022",
        "Operation-Location": "https://t02f6e87f544544f3-azconfig-net.azconfig.io/operations?snapshot=snapshot-1344742864\u0026api-version=2022-11-01-preview",
        "Sync-Token": "zAJw6V16=ODo1IzI0ODc5NzMz;sn=24879733"
      },
      "ResponseBody": {
        "etag": "iLR48PAWFNFe91kD3ewWjDrSD7eJVZc4Jn1ygHWZkjI",
        "name": "snapshot-1344742864",
        "status": "provisioning",
        "filters": [
          {
            "key": "key-708604711",
            "label": null
          }
        ],
        "composition_type": "key",
        "created": "2023-06-30T23:58:57\u002B00:00",
        "size": 0,
        "items_count": 0,
        "tags": {},
        "retention_period": 2592000
      }
    },
    {
      "RequestUri": "https://t02f6e87f544544f3-azconfig-net.azconfig.io/operations?snapshot=snapshot-1344742864\u0026api-version=2022-11-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=ODo1IzI0ODc5NzMz",
        "x-ms-content-sha256": "47DEQpj8HBSa\u002B/TImW\u002B5JCeuQeRkm5NMpJWZG3hSuFU="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "Sync-Token": "zAJw6V16=ODo1IzI0ODc5NzMz;sn=24879733"
      },
      "ResponseBody": {
        "id": "E3I5VZO7fVbA6XPGKFP1-U-kr7Ie00XwA0A4lCKWOFg",
        "status": "Running",
        "error": null
      }
    },
[...]
    {
      "RequestUri": "https://t02f6e87f544544f3-azconfig-net.azconfig.io/kv/key-708604711?label=test_label\u0026api-version=2022-11-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=ODo1IzI0ODc5NzM0",
        "x-ms-content-sha256": "47DEQpj8HBSa\u002B/TImW\u002B5JCeuQeRkm5NMpJWZG3hSuFU="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022SxyaPZLoawciq3M_GeYYCtKOb_uaalURQhbYnEy3SjU\u0022",
        "Last-Modified": "Fri, 30 Jun 2023 23:58:57 GMT",
        "Sync-Token": "zAJw6V16=ODo1IzI0ODc5NzM1;sn=24879735"
      },
      "ResponseBody": {
        "etag": "SxyaPZLoawciq3M_GeYYCtKOb_uaalURQhbYnEy3SjU",
        "key": "key-708604711",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2023-06-30T23:58:57\u002B00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t02f6e87f544544f3-azconfig-net.azconfig.io;Id=Ek\u002BM;Secret=Kg==",
    "RandomSeed": "236139617"
  }
}
