{
  "Entries": [
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv/key-1862621160?api-version=2026-04-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "description": "test_description"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"lgptO-WE7eqTrd_Vr1Q-f8PHS2rKHX4FCbq1nFxfJuw\"",
        "Last-Modified": "Wed, 10 Jun 2026 19:25:03 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDc0Njc4;sn=67074678",
        "x-ms-date": "Wed, 10 Jun 2026 19:25:03 GMT"
      },
      "ResponseBody": {
        "etag": "lgptO-WE7eqTrd_Vr1Q-f8PHS2rKHX4FCbq1nFxfJuw",
        "key": "key-1862621160",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "description": "test_description",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-06-10T19:25:03+00:00"
      }
    },
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/snapshots/snapshot-627347131?api-version=2026-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDc0Njc4"
      },
      "RequestBody": {
        "filters": [
          {
            "key": "key-1862621160"
          }
        ],
        "retention_period": 3600,
        "description": "Test snapshot description"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json; charset=utf-8",
        "ETag": "\"RIP6szzsmrPqYb-F-Ds2LZ3Gv-X7oT0NN8-qKK-GPAM\"",
        "Last-Modified": "Wed, 10 Jun 2026 19:25:03 GMT",
        "Link": "</kv?snapshot=snapshot-627347131&api-version=2026-04-01>; rel=\"items\"",
        "Operation-Location": "https://mrm90847047-azconfig-net.azconfig.io/operations?snapshot=snapshot-627347131&api-version=2026-04-01",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDc0Njc5;sn=67074679",
        "x-ms-date": "Wed, 10 Jun 2026 19:25:03 GMT"
      },
      "ResponseBody": {
        "etag": "RIP6szzsmrPqYb-F-Ds2LZ3Gv-X7oT0NN8-qKK-GPAM",
        "name": "snapshot-627347131",
        "description": "Test snapshot description",
        "status": "provisioning",
        "filters": [
          {
            "key": "key-1862621160",
            "label": null,
            "tags": []
          }
        ],
        "composition_type": "key",
        "created": "2026-06-10T19:25:03.0595471+00:00",
        "size": 0,
        "items_count": 0,
        "tags": {},
        "retention_period": 3600
      }
    },
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/operations?api-version=2026-04-01&snapshot=snapshot-627347131",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDc0Njc5"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDc0Njc5;sn=67074679",
        "x-ms-date": "Wed, 10 Jun 2026 19:25:03 GMT"
      },
      "ResponseBody": {
        "id": "0Y92bkmfktLU36J6sPhMyU7X12somKsAeTFisDqwsYs",
        "status": "Running",
        "error": null
      }
    },
[...]
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv/key-1862621160?api-version=2026-04-01&label=test_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDc0Njgw"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"lgptO-WE7eqTrd_Vr1Q-f8PHS2rKHX4FCbq1nFxfJuw\"",
        "Last-Modified": "Wed, 10 Jun 2026 19:25:03 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDc0Njgx;sn=67074681",
        "x-ms-date": "Wed, 10 Jun 2026 19:25:23 GMT"
      },
      "ResponseBody": {
        "etag": "lgptO-WE7eqTrd_Vr1Q-f8PHS2rKHX4FCbq1nFxfJuw",
        "key": "key-1862621160",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "description": "test_description",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-06-10T19:25:03+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_ENDPOINT_STRING": "https://mrm90847047-azconfig-net.azconfig.io",
    "RandomSeed": "2133430829"
  }
}
