{
  "Entries": [
    {
      "RequestUri": "https://azure-sdk-for-net-test.azconfig.io/kv/KeyBar-1455682147?api-version=2026-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "value1",
        "content_type": null,
        "tags": {
          "foo": "bartemp1"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"liYWvxKOgu4VofWKxfRxmefmEe4Tvr-RiISHhO0-f10\"",
        "Last-Modified": "Wed, 27 May 2026 23:59:49 GMT",
        "Sync-Token": "zAJw6V16=NToxNyM0ODA0MjI0NA==;sn=48042244",
        "x-ms-date": "Wed, 27 May 2026 23:59:49 GMT"
      },
      "ResponseBody": {
        "etag": "liYWvxKOgu4VofWKxfRxmefmEe4Tvr-RiISHhO0-f10",
        "key": "KeyBar-1455682147",
        "label": null,
        "content_type": null,
        "value": "value1",
        "description": null,
        "tags": {
          "foo": "bartemp1"
        },
        "locked": false,
        "last_modified": "2026-05-27T23:59:49+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://azure-sdk-for-net-test.azconfig.io/kv/Key11641746949?api-version=2026-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "Sync-Token": "zAJw6V16=NToxNyM0ODA0MjI0Ng==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "value4",
        "content_type": null,
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"z1fvqOH5oEoKAnJJEcF8W8SaHoEtryyPFi5QbCOR6do\"",
        "Last-Modified": "Wed, 27 May 2026 23:59:49 GMT",
        "Sync-Token": "zAJw6V16=NToxNyM0ODA0MjI0Nw==;sn=48042247",
        "x-ms-date": "Wed, 27 May 2026 23:59:49 GMT"
      },
      "ResponseBody": {
        "etag": "z1fvqOH5oEoKAnJJEcF8W8SaHoEtryyPFi5QbCOR6do",
        "key": "Key11641746949",
        "label": null,
        "content_type": null,
        "value": "value4",
        "description": null,
        "tags": {},
        "locked": false,
        "last_modified": "2026-05-27T23:59:49+00:00"
      }
    },
    {
      "RequestUri": "https://azure-sdk-for-net-test.azconfig.io/snapshots/snapshot-892018271?api-version=2026-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NToxNyM0ODA0MjI0Nw==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "filters": [
          {
            "key": "KeyBar-*",
            "tags": [
              "foo=bartemp1"
            ]
          }
        ]
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json; charset=utf-8",
        "ETag": "\"mtCNasNmyyzJvFAxRPZsHQK0JayQOnQtp8eMMxEwJIU\"",
        "Last-Modified": "Wed, 27 May 2026 23:59:49 GMT",
        "Link": "</kv?snapshot=snapshot-892018271&api-version=2026-04-01>; rel=\"items\"",
        "Operation-Location": "https://azure-sdk-for-net-test.azconfig.io/operations?snapshot=snapshot-892018271&api-version=2026-04-01",
        "Sync-Token": "zAJw6V16=NToxNyM0ODA0MjI0OA==;sn=48042248",
        "x-ms-date": "Wed, 27 May 2026 23:59:49 GMT"
      },
      "ResponseBody": {
        "etag": "mtCNasNmyyzJvFAxRPZsHQK0JayQOnQtp8eMMxEwJIU",
        "name": "snapshot-892018271",
        "description": null,
        "status": "provisioning",
        "filters": [
          {
            "key": "KeyBar-*",
            "label": null,
            "tags": [
              "foo=bartemp1"
            ]
          }
        ],
        "composition_type": "key",
        "created": "2026-05-27T23:59:49.3514386+00:00",
        "size": 0,
        "items_count": 0,
        "tags": {},
        "retention_period": 2592000
      }
    },
    {
      "RequestUri": "https://azure-sdk-for-net-test.azconfig.io/operations?api-version=2026-04-01&snapshot=snapshot-892018271",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NToxNyM0ODA0MjI0OA==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "Sync-Token": "zAJw6V16=NToxNyM0ODA0MjI0OA==;sn=48042248",
        "x-ms-date": "Wed, 27 May 2026 23:59:49 GMT"
      },
      "ResponseBody": {
        "id": "PSLueAFu0wIE6pAjw87PJCTA377CKEOIM6agc17s4b0",
        "status": "Running",
        "error": null
      }
    },
[...]
    {
      "RequestUri": "https://azure-sdk-for-net-test.azconfig.io/kv?api-version=2026-04-01&snapshot=snapshot-892018271",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NToxNyM0ODA0MjI1Ng==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"OcwsR6ymKGU54nBiYnxbF_U4R3DViO1fgRjiWT9Ylz0\"",
        "Sync-Token": "zAJw6V16=NToxNyM0ODA0MjI1Ng==;sn=48042256",
        "x-ms-date": "Thu, 28 May 2026 00:00:09 GMT"
      },
      "ResponseBody": {
        "etag": "OcwsR6ymKGU54nBiYnxbF_U4R3DViO1fgRjiWT9Ylz0",
        "items": [
          {
            "etag": "liYWvxKOgu4VofWKxfRxmefmEe4Tvr-RiISHhO0-f10",
            "key": "KeyBar-1455682147",
            "label": null,
            "content_type": null,
            "value": "value1",
            "description": null,
            "tags": {
              "foo": "bartemp1"
            },
            "locked": false,
            "last_modified": "2026-05-27T23:59:49+00:00"
          },
          {
            "etag": "BEvNCFziIiBM_7nbDDR8pv2Ef6YdVuPQx2HhFUPkdiM",
            "key": "KeyBar-2338316264",
            "label": null,
            "content_type": null,
            "value": "value2",
            "description": null,
            "tags": {
              "foo": "bartemp1"
            },
            "locked": false,
            "last_modified": "2026-05-27T23:59:49+00:00"
          },
          {
            "etag": "wg-36EOdqVK9X5dEkQgPpZ_SkE6LdY6qPTzpzKleGP4",
            "key": "KeyBar-32023101975",
            "label": null,
            "content_type": null,
            "value": "value3",
            "description": null,
            "tags": {
              "foo": "bartemp1"
            },
            "locked": false,
            "last_modified": "2026-05-27T23:59:49+00:00"
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://azure-sdk-for-net-test.azconfig.io/kv/Key11641746949?api-version=2026-04-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NToxNyM0ODA0MjI1OQ==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"z1fvqOH5oEoKAnJJEcF8W8SaHoEtryyPFi5QbCOR6do\"",
        "Last-Modified": "Wed, 27 May 2026 23:59:49 GMT",
        "Sync-Token": "zAJw6V16=NToxNyM0ODA0MjI2MA==;sn=48042260",
        "x-ms-date": "Thu, 28 May 2026 00:00:09 GMT"
      },
      "ResponseBody": {
        "etag": "z1fvqOH5oEoKAnJJEcF8W8SaHoEtryyPFi5QbCOR6do",
        "key": "Key11641746949",
        "label": null,
        "content_type": null,
        "value": "value4",
        "description": null,
        "tags": {},
        "locked": false,
        "last_modified": "2026-05-27T23:59:49+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://azure-sdk-for-net-test.azconfig.io;Id=8ePU;Secret=Kg==",
    "RandomSeed": "2051577164"
  }
}
