{
  "Entries": [
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/Key-1200376777?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "value1",
        "content_type": null,
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"EGj1B_TVI1tJAmEL5w-lxARPIWoan6V5R27ZjW4PedQ\"",
        "Last-Modified": "Thu, 22 Jan 2026 01:33:04 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzQ3MzQxMw==;sn=103473413",
        "x-ms-date": "Thu, 22 Jan 2026 01:33:04 GMT"
      },
      "ResponseBody": {
        "etag": "EGj1B_TVI1tJAmEL5w-lxARPIWoan6V5R27ZjW4PedQ",
        "key": "Key-1200376777",
        "label": null,
        "content_type": null,
        "value": "value1",
        "tags": {},
        "locked": false,
        "last_modified": "2026-01-22T01:33:04+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/snapshots/snapshot-1878425395?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzQ3MzQxNg==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "filters": [
          {
            "key": "Key-*"
          }
        ]
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json; charset=utf-8",
        "ETag": "\"LiCwuSbQNeS0Ciogvxli4ogF7CEEePY757pTunvTGvM\"",
        "Last-Modified": "Thu, 22 Jan 2026 01:33:05 GMT",
        "Link": "</kv?snapshot=snapshot-1878425395&api-version=2023-11-01>; rel=\"items\"",
        "Operation-Location": "https://t9c954b564de572f9-azconfig-net.azconfig.io/operations?snapshot=snapshot-1878425395&api-version=2023-11-01",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzQ3MzQxNw==;sn=103473417",
        "x-ms-date": "Thu, 22 Jan 2026 01:33:05 GMT"
      },
      "ResponseBody": {
        "etag": "LiCwuSbQNeS0Ciogvxli4ogF7CEEePY757pTunvTGvM",
        "name": "snapshot-1878425395",
        "status": "provisioning",
        "filters": [
          {
            "key": "Key-*",
            "label": null,
            "tags": []
          }
        ],
        "composition_type": "key",
        "created": "2026-01-22T01:33:05.0498633+00:00",
        "size": 0,
        "items_count": 0,
        "tags": {},
        "retention_period": 2592000
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/operations?api-version=2023-11-01&snapshot=snapshot-1878425395",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzQ3MzQxNw==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzQ3MzQxNw==;sn=103473417",
        "x-ms-date": "Thu, 22 Jan 2026 01:33:05 GMT"
      },
      "ResponseBody": {
        "id": "0Z6yoEQNwTpD_fDHuhoXdVc7aWjmmFDypNa0ngnOgCY",
        "status": "Running",
        "error": null
      }
    },
[...]
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv?api-version=2023-11-01&snapshot=snapshot-1878425395",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzQ3MzQxOA==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"hdzWb427kv7JzxdMkFV6vKOkF7kMko-TxTSWtSS-h8c\"",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzQ3MzQxOA==;sn=103473418",
        "x-ms-date": "Thu, 22 Jan 2026 01:33:25 GMT"
      },
      "ResponseBody": {
        "etag": "hdzWb427kv7JzxdMkFV6vKOkF7kMko-TxTSWtSS-h8c",
        "items": [
          {
            "etag": "EGj1B_TVI1tJAmEL5w-lxARPIWoan6V5R27ZjW4PedQ",
            "key": "Key-1200376777",
            "label": null,
            "content_type": null,
            "value": "value1",
            "tags": {},
            "locked": false,
            "last_modified": "2026-01-22T01:33:04+00:00"
          },
          {
            "etag": "5CamV7098eJaGXzGsAEU2YqZfNyJIYPVf5gVdZme1rY",
            "key": "Key-21582273853",
            "label": null,
            "content_type": null,
            "value": "value2",
            "tags": {},
            "locked": false,
            "last_modified": "2026-01-22T01:33:04+00:00"
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/Key21835888605?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzQ3MzQyMQ==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"wl0JP7bE3HCn5a6OBmceRQAoxNQ9DHnT3vtPivJmtFg\"",
        "Last-Modified": "Thu, 22 Jan 2026 01:33:04 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzQ3MzQyMg==;sn=103473422",
        "x-ms-date": "Thu, 22 Jan 2026 01:33:26 GMT"
      },
      "ResponseBody": {
        "etag": "wl0JP7bE3HCn5a6OBmceRQAoxNQ9DHnT3vtPivJmtFg",
        "key": "Key21835888605",
        "label": null,
        "content_type": null,
        "value": "value4",
        "tags": {},
        "locked": false,
        "last_modified": "2026-01-22T01:33:04+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t9c954b564de572f9-azconfig-net.azconfig.io;Id=MdvE;Secret=Kg==",
    "RandomSeed": "1065508254"
  }
}
