{
  "Entries": [
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-1534902307?api-version=2023-11-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"WVZX44hPiW7qw1i3YynxxuXekfPPWXRQG7QIWMXBn_c\"",
        "Last-Modified": "Tue, 06 Jan 2026 06:32:42 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTc3MzQ5Mg==;sn=101773492",
        "x-ms-date": "Tue, 06 Jan 2026 06:32:42 GMT"
      },
      "ResponseBody": {
        "etag": "WVZX44hPiW7qw1i3YynxxuXekfPPWXRQG7QIWMXBn_c",
        "key": "key-1534902307",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-01-06T06:32:42+00:00"
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/snapshots/snapshot-614664039?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTc3MzQ5Mg==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "filters": [
          {
            "key": "key-1534902307"
          }
        ]
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json; charset=utf-8",
        "ETag": "\"MP249fj8o36FDwv6WgMIO9g_RSMV89wUxHowt1MDBZE\"",
        "Last-Modified": "Tue, 06 Jan 2026 06:32:42 GMT",
        "Link": "</kv?snapshot=snapshot-614664039&api-version=2023-11-01>; rel=\"items\"",
        "Operation-Location": "https://t9c954b564de572f9-azconfig-net.azconfig.io/operations?snapshot=snapshot-614664039&api-version=2023-11-01",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTc3MzQ5Mw==;sn=101773493",
        "x-ms-date": "Tue, 06 Jan 2026 06:32:42 GMT"
      },
      "ResponseBody": {
        "etag": "MP249fj8o36FDwv6WgMIO9g_RSMV89wUxHowt1MDBZE",
        "name": "snapshot-614664039",
        "status": "provisioning",
        "filters": [
          {
            "key": "key-1534902307",
            "label": null,
            "tags": []
          }
        ],
        "composition_type": "key",
        "created": "2026-01-06T06:32:42.172719+00:00",
        "size": 0,
        "items_count": 0,
        "tags": {},
        "retention_period": 2592000
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/operations?api-version=2023-11-01&snapshot=snapshot-614664039",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTc3MzQ5Mw==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTc3MzQ5Mw==;sn=101773493",
        "x-ms-date": "Tue, 06 Jan 2026 06:32:42 GMT"
      },
      "ResponseBody": {
        "id": "pyq5jS0PcrFZohrpvwp3DM3WvZLpX1KxHsmSNuYTOMM",
        "status": "Running",
        "error": null
      }
    },
[...]
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-1534902307?api-version=2023-11-01&label=test_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTc3MzQ5Nw==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"WVZX44hPiW7qw1i3YynxxuXekfPPWXRQG7QIWMXBn_c\"",
        "Last-Modified": "Tue, 06 Jan 2026 06:32:42 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTc3MzQ5OA==;sn=101773498",
        "x-ms-date": "Tue, 06 Jan 2026 06:33:03 GMT"
      },
      "ResponseBody": {
        "etag": "WVZX44hPiW7qw1i3YynxxuXekfPPWXRQG7QIWMXBn_c",
        "key": "key-1534902307",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-01-06T06:32:42+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t9c954b564de572f9-azconfig-net.azconfig.io;Id=MdvE;Secret=Kg==",
    "RandomSeed": "1317504595"
  }
}
