{
  "Entries": [
    {
      "RequestUri": "https://t02f6e87f544544f3-azconfig-net.azconfig.io/kv/key-579184275?label=test_label\u0026api-version=2022-11-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "b11OQu6GthUatwGXUIKHHSRVyik0TdrUk5kZm3yZd2A="
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022MV8o2Xo4IhvOCMrylZcm5RV3F5_BCeemA0Na7hUyZs0\u0022",
        "Last-Modified": "Fri, 30 Jun 2023 19:18:38 GMT",
        "Sync-Token": "zAJw6V16=ODo1IzI0ODcwMjY2;sn=24870266"
      },
      "ResponseBody": {
        "etag": "MV8o2Xo4IhvOCMrylZcm5RV3F5_BCeemA0Na7hUyZs0",
        "key": "key-579184275",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2023-06-30T19:18:38\u002B00:00"
      }
    },
    {
      "RequestUri": "https://t02f6e87f544544f3-azconfig-net.azconfig.io/snapshots/snapshot_wait_for_completion-1d865ec3-d069-428c-8f2b-c28f6ef63332?api-version=2022-11-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=ODo1IzI0ODcwMjY2",
        "x-ms-content-sha256": "aa63B5H9G0j2JXeU\u002BgvZhEi0F4dystUXTKXWOlq3H0U="
      },
      "RequestBody": {
        "filters": [
          {
            "key": "key-579184275"
          }
        ]
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot\u002Bjson; charset=utf-8",
        "ETag": "\u0022ttnbB5ttMHo1hlaSGNgBLJHmakbZop57f76UU-03lp4\u0022",
        "Last-Modified": "Fri, 30 Jun 2023 19:18:38 GMT",
        "Link": "\u003C/kv?snapshot=snapshot_wait_for_completion-1d865ec3-d069-428c-8f2b-c28f6ef63332\u0026api-version=2022-11-01-preview\u003E; rel=\u0022items\u0022",
        "Operation-Location": "https://t02f6e87f544544f3-azconfig-net.azconfig.io/operations?snapshot=snapshot_wait_for_completion-1d865ec3-d069-428c-8f2b-c28f6ef63332\u0026api-version=2022-11-01-preview",
        "Sync-Token": "zAJw6V16=ODo1IzI0ODcwMjY3;sn=24870267"
      },
      "ResponseBody": {
        "etag": "ttnbB5ttMHo1hlaSGNgBLJHmakbZop57f76UU-03lp4",
        "name": "snapshot_wait_for_completion-1d865ec3-d069-428c-8f2b-c28f6ef63332",
        "status": "provisioning",
        "filters": [
          {
            "key": "key-579184275",
            "label": null
          }
        ],
        "composition_type": "key",
        "created": "2023-06-30T19:18:38\u002B00:00",
        "size": 0,
        "items_count": 0,
        "tags": {},
        "retention_period": 2592000
      }
    },
    {
      "RequestUri": "https://t02f6e87f544544f3-azconfig-net.azconfig.io/operations?snapshot=snapshot_wait_for_completion-1d865ec3-d069-428c-8f2b-c28f6ef63332\u0026api-version=2022-11-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=ODo1IzI0ODcwMjY3",
        "x-ms-content-sha256": "47DEQpj8HBSa\u002B/TImW\u002B5JCeuQeRkm5NMpJWZG3hSuFU="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "Sync-Token": "zAJw6V16=ODo1IzI0ODcwMjY3;sn=24870267"
      },
      "ResponseBody": {
        "id": "5g_3duFndoq26XIqapVvRmyfTL8PzvlkUw5meNpIhME",
        "status": "Running",
        "error": null
      }
    },
[...]
    {
      "RequestUri": "https://t02f6e87f544544f3-azconfig-net.azconfig.io/kv/key-579184275?label=test_label\u0026api-version=2022-11-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=ODo1IzI0ODcwMjY4",
        "x-ms-content-sha256": "47DEQpj8HBSa\u002B/TImW\u002B5JCeuQeRkm5NMpJWZG3hSuFU="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022MV8o2Xo4IhvOCMrylZcm5RV3F5_BCeemA0Na7hUyZs0\u0022",
        "Last-Modified": "Fri, 30 Jun 2023 19:18:38 GMT",
        "Sync-Token": "zAJw6V16=ODo1IzI0ODcwMjY5;sn=24870269"
      },
      "ResponseBody": {
        "etag": "MV8o2Xo4IhvOCMrylZcm5RV3F5_BCeemA0Na7hUyZs0",
        "key": "key-579184275",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2023-06-30T19:18:38\u002B00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t02f6e87f544544f3-azconfig-net.azconfig.io;Id=Ek\u002BM;Secret=Kg==",
    "RandomSeed": "617399490"
  }
}
