{
  "Entries": [
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv/key-1275818605?api-version=2026-04-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "description": "test_description"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"rMCpJh6DL3YLza5CM8ypIkfwAfIGGXJkynj7H3Ppw3s\"",
        "Last-Modified": "Wed, 10 Jun 2026 21:40:11 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDk0NzE5;sn=67094719",
        "x-ms-date": "Wed, 10 Jun 2026 21:40:11 GMT"
      },
      "ResponseBody": {
        "etag": "rMCpJh6DL3YLza5CM8ypIkfwAfIGGXJkynj7H3Ppw3s",
        "key": "key-1275818605",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "description": "test_description",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-06-10T21:40:11+00:00"
      }
    },
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/snapshots/snapshot-805387860?api-version=2026-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDk0NzE5"
      },
      "RequestBody": {
        "filters": [
          {
            "key": "key-1275818605",
            "tags": [
              "tag1=value1",
              "tag2=value2"
            ]
          }
        ],
        "retention_period": 3600,
        "description": "Test snapshot description"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json; charset=utf-8",
        "ETag": "\"GizJ82FOy9zvMmpOJL6jj0xuexSc5baZXHbhZPpUO2k\"",
        "Last-Modified": "Wed, 10 Jun 2026 21:40:12 GMT",
        "Link": "</kv?snapshot=snapshot-805387860&api-version=2026-04-01>; rel=\"items\"",
        "Operation-Location": "https://mrm90847047-azconfig-net.azconfig.io/operations?snapshot=snapshot-805387860&api-version=2026-04-01",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDk0NzIw;sn=67094720",
        "x-ms-date": "Wed, 10 Jun 2026 21:40:12 GMT"
      },
      "ResponseBody": {
        "etag": "GizJ82FOy9zvMmpOJL6jj0xuexSc5baZXHbhZPpUO2k",
        "name": "snapshot-805387860",
        "description": "Test snapshot description",
        "status": "provisioning",
        "filters": [
          {
            "key": "key-1275818605",
            "label": null,
            "tags": [
              "tag1=value1",
              "tag2=value2"
            ]
          }
        ],
        "composition_type": "key",
        "created": "2026-06-10T21:40:12.0073697+00:00",
        "size": 0,
        "items_count": 0,
        "tags": {},
        "retention_period": 3600
      }
    },
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/operations?api-version=2026-04-01&snapshot=snapshot-805387860",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDk0NzIw"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDk0NzIw;sn=67094720",
        "x-ms-date": "Wed, 10 Jun 2026 21:40:12 GMT"
      },
      "ResponseBody": {
        "id": "aJzRFfhc-3Ko8R0OEnkuBwIcBnlM34LtojwDA3djxRk",
        "status": "Running",
        "error": null
      }
    },
[...]
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv/key-1275818605?api-version=2026-04-01&label=test_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDk0NzIz"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"rMCpJh6DL3YLza5CM8ypIkfwAfIGGXJkynj7H3Ppw3s\"",
        "Last-Modified": "Wed, 10 Jun 2026 21:40:11 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDk0NzI0;sn=67094724",
        "x-ms-date": "Wed, 10 Jun 2026 21:40:32 GMT"
      },
      "ResponseBody": {
        "etag": "rMCpJh6DL3YLza5CM8ypIkfwAfIGGXJkynj7H3Ppw3s",
        "key": "key-1275818605",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "description": "test_description",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-06-10T21:40:11+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_ENDPOINT_STRING": "https://mrm90847047-azconfig-net.azconfig.io",
    "RandomSeed": "1880389769"
  }
}
