{
  "Entries": [
    {
      "RequestUri": "https://te0e57d80fe738c82-azconfig-net.azconfig.io/kv/key-855535433?api-version=2023-11-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"Y5R56mqjL_pLfZKGKs10EvVCq_lkPK8UkS4ilGzZrrQ\"",
        "Last-Modified": "Tue, 29 Jul 2025 17:42:20 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzUxNTQ5NTQ2;sn=51549546"
      },
      "ResponseBody": {
        "etag": "Y5R56mqjL_pLfZKGKs10EvVCq_lkPK8UkS4ilGzZrrQ",
        "key": "key-855535433",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2025-07-29T17:42:20+00:00"
      }
    },
    {
      "RequestUri": "https://te0e57d80fe738c82-azconfig-net.azconfig.io/snapshots/snapshot-1679759765?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=Njo1IzUxNTQ5NTQ2",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "filters": [
          {
            "key": "key-855535433"
          }
        ]
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json; charset=utf-8",
        "ETag": "\"Iewn7ixCYX32Lqyc4aPAOkvSMOzDnGN-w4OcyytkGGQ\"",
        "Last-Modified": "Tue, 29 Jul 2025 17:42:20 GMT",
        "Link": "</kv?snapshot=snapshot-1679759765&api-version=2023-11-01>; rel=\"items\"",
        "Operation-Location": "https://te0e57d80fe738c82-azconfig-net.azconfig.io/operations?snapshot=snapshot-1679759765&api-version=2023-11-01",
        "Sync-Token": "zAJw6V16=Njo1IzUxNTQ5NTQ3;sn=51549547"
      },
      "ResponseBody": {
        "etag": "Iewn7ixCYX32Lqyc4aPAOkvSMOzDnGN-w4OcyytkGGQ",
        "name": "snapshot-1679759765",
        "status": "provisioning",
        "filters": [
          {
            "key": "key-855535433",
            "label": null,
            "tags": []
          }
        ],
        "composition_type": "key",
        "created": "2025-07-29T17:42:20.6717846+00:00",
        "size": 0,
        "items_count": 0,
        "tags": {},
        "retention_period": 2592000
      }
    },
    {
      "RequestUri": "https://te0e57d80fe738c82-azconfig-net.azconfig.io/operations?snapshot=snapshot-1679759765&api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Njo1IzUxNTQ5NTQ3",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "Sync-Token": "zAJw6V16=Njo1IzUxNTQ5NTQ3;sn=51549547"
      },
      "ResponseBody": {
        "id": "Obx4i18X13hpAicmASyEOvoWTojx9G7ppJl3W8eUdVE",
        "status": "Running",
        "error": null
      }
    },
[...]
    {
      "RequestUri": "https://te0e57d80fe738c82-azconfig-net.azconfig.io/kv/key-855535433?api-version=2023-11-01&label=test_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Njo1IzUxNTQ5NTQ4",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"Y5R56mqjL_pLfZKGKs10EvVCq_lkPK8UkS4ilGzZrrQ\"",
        "Last-Modified": "Tue, 29 Jul 2025 17:42:20 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzUxNTQ5NTQ5;sn=51549549"
      },
      "ResponseBody": {
        "etag": "Y5R56mqjL_pLfZKGKs10EvVCq_lkPK8UkS4ilGzZrrQ",
        "key": "key-855535433",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2025-07-29T17:42:20+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://te0e57d80fe738c82-azconfig-net.azconfig.io;Id=L29Y;Secret=Kg==",
    "RandomSeed": "1383816071"
  }
}
