{
  "Entries": [
    {
      "RequestUri": "https://appconfig-canary-2023-10-01.azconfig.io/kv/key-2035387879?label=test_label\u0026api-version=2023-10-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "b11OQu6GthUatwGXUIKHHSRVyik0TdrUk5kZm3yZd2A="
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022izJLb0VX7Noz2_CsWKJMc_7igo4g4eep0kpi7P7GPxI\u0022",
        "Last-Modified": "Fri, 03 Nov 2023 20:13:52 GMT",
        "Sync-Token": "zAJw6V16=NjoxNSM1MzM5NTE0;sn=5339514"
      },
      "ResponseBody": {
        "etag": "izJLb0VX7Noz2_CsWKJMc_7igo4g4eep0kpi7P7GPxI",
        "key": "key-2035387879",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2023-11-03T20:13:52\u002B00:00"
      }
    },
    {
      "RequestUri": "https://appconfig-canary-2023-10-01.azconfig.io/snapshots/snapshot-1002123843?api-version=2023-10-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NjoxNSM1MzM5NTE0",
        "x-ms-content-sha256": "PtCg1Z9TAqEBubLms3RCTxylS008wifC5hqv3q40LWs="
      },
      "RequestBody": {
        "filters": [
          {
            "key": "key-2035387879"
          }
        ]
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot\u002Bjson; charset=utf-8",
        "ETag": "\u0022IR_0M_vQDqEtx7kEYfNSZdSj4TV6ed2Dqm97FK72Q3Y\u0022",
        "Last-Modified": "Fri, 03 Nov 2023 20:13:52 GMT",
        "Link": "\u003C/kv?snapshot=snapshot-1002123843\u0026api-version=2023-10-01\u003E; rel=\u0022items\u0022",
        "Operation-Location": "https://appconfig-canary-2023-10-01.azconfig.io/operations?snapshot=snapshot-1002123843\u0026api-version=2023-10-01",
        "Sync-Token": "zAJw6V16=NjoxNSM1MzM5NTE1;sn=5339515"
      },
      "ResponseBody": {
        "etag": "IR_0M_vQDqEtx7kEYfNSZdSj4TV6ed2Dqm97FK72Q3Y",
        "name": "snapshot-1002123843",
        "status": "provisioning",
        "filters": [
          {
            "key": "key-2035387879",
            "label": null
          }
        ],
        "composition_type": "key",
        "created": "2023-11-03T20:13:52\u002B00:00",
        "size": 0,
        "items_count": 0,
        "tags": {},
        "retention_period": 2592000
      }
    },
    {
      "RequestUri": "https://appconfig-canary-2023-10-01.azconfig.io/operations?snapshot=snapshot-1002123843\u0026api-version=2023-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NjoxNSM1MzM5NTE1",
        "x-ms-content-sha256": "47DEQpj8HBSa\u002B/TImW\u002B5JCeuQeRkm5NMpJWZG3hSuFU="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "Sync-Token": "zAJw6V16=NjoxNSM1MzM5NTE1;sn=5339515"
      },
      "ResponseBody": {
        "id": "NGbzYcWQNRL5cisMSUwebHbq8czKyUydmynya1-eyMU",
        "status": "Running",
        "error": null
      }
    },
[...]
    {
      "RequestUri": "https://appconfig-canary-2023-10-01.azconfig.io/kv/key-2035387879?label=test_label\u0026api-version=2023-10-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NjoxNSM1MzM5NTE2",
        "x-ms-content-sha256": "47DEQpj8HBSa\u002B/TImW\u002B5JCeuQeRkm5NMpJWZG3hSuFU="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022izJLb0VX7Noz2_CsWKJMc_7igo4g4eep0kpi7P7GPxI\u0022",
        "Last-Modified": "Fri, 03 Nov 2023 20:13:52 GMT",
        "Sync-Token": "zAJw6V16=NjoxNSM1MzM5NTE3;sn=5339517"
      },
      "ResponseBody": {
        "etag": "izJLb0VX7Noz2_CsWKJMc_7igo4g4eep0kpi7P7GPxI",
        "key": "key-2035387879",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2023-11-03T20:13:52\u002B00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://appconfig-canary-2023-10-01.azconfig.io;Id=0VlC;Secret=Kg==",
    "RandomSeed": "327676779"
  }
}
