{
  "Entries": [
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-1205914192?api-version=2023-11-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"JTxqhz0Az-KNXx8c1G_MpCrNqAFxd2nuYRTq3wz-6Po\"",
        "Last-Modified": "Fri, 23 Jan 2026 07:09:33 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU3NTE2Nw==;sn=103575167",
        "x-ms-date": "Fri, 23 Jan 2026 07:09:33 GMT"
      },
      "ResponseBody": {
        "etag": "JTxqhz0Az-KNXx8c1G_MpCrNqAFxd2nuYRTq3wz-6Po",
        "key": "key-1205914192",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-01-23T07:09:33+00:00"
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/snapshots/snapshot-1194168343?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU3NTE2Nw==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "filters": [
          {
            "key": "key-1205914192"
          }
        ]
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json; charset=utf-8",
        "ETag": "\"5vRGvF-no4eBLTG_B9sUC4sbVR4-n7H7PvFk2NfhNWo\"",
        "Last-Modified": "Fri, 23 Jan 2026 07:09:33 GMT",
        "Link": "</kv?snapshot=snapshot-1194168343&api-version=2023-11-01>; rel=\"items\"",
        "Operation-Location": "https://t9c954b564de572f9-azconfig-net.azconfig.io/operations?snapshot=snapshot-1194168343&api-version=2023-11-01",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU3NTE2OA==;sn=103575168",
        "x-ms-date": "Fri, 23 Jan 2026 07:09:33 GMT"
      },
      "ResponseBody": {
        "etag": "5vRGvF-no4eBLTG_B9sUC4sbVR4-n7H7PvFk2NfhNWo",
        "name": "snapshot-1194168343",
        "status": "provisioning",
        "filters": [
          {
            "key": "key-1205914192",
            "label": null,
            "tags": []
          }
        ],
        "composition_type": "key",
        "created": "2026-01-23T07:09:33.3751496+00:00",
        "size": 0,
        "items_count": 0,
        "tags": {},
        "retention_period": 2592000
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/operations?api-version=2023-11-01&snapshot=snapshot-1194168343",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU3NTE2OA==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU3NTE2OA==;sn=103575168",
        "x-ms-date": "Fri, 23 Jan 2026 07:09:33 GMT"
      },
      "ResponseBody": {
        "id": "vtK-qVQrre-AE6mpfewfiz2rU1gOBzi4hNEkvsEclGk",
        "status": "Running",
        "error": null
      }
    },
[...]
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-1205914192?api-version=2023-11-01&label=test_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU3NTE3MQ==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"JTxqhz0Az-KNXx8c1G_MpCrNqAFxd2nuYRTq3wz-6Po\"",
        "Last-Modified": "Fri, 23 Jan 2026 07:09:33 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU3NTE3Mg==;sn=103575172",
        "x-ms-date": "Fri, 23 Jan 2026 07:09:54 GMT"
      },
      "ResponseBody": {
        "etag": "JTxqhz0Az-KNXx8c1G_MpCrNqAFxd2nuYRTq3wz-6Po",
        "key": "key-1205914192",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-01-23T07:09:33+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t9c954b564de572f9-azconfig-net.azconfig.io;Id=MdvE;Secret=Kg==",
    "RandomSeed": "492193119"
  }
}
