{
  "Entries": [
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv/key-439361809?api-version=2023-11-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"DEq7CytHoqqHy18b0PknL9kpB8ZAYhrlzNTj2XHvw1k\"",
        "Last-Modified": "Tue, 09 Jun 2026 23:01:31 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY2OTk2MTM0;sn=66996134",
        "x-ms-date": "Tue, 09 Jun 2026 23:01:31 GMT"
      },
      "ResponseBody": {
        "etag": "DEq7CytHoqqHy18b0PknL9kpB8ZAYhrlzNTj2XHvw1k",
        "key": "key-439361809",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-06-09T23:01:31+00:00"
      }
    },
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/snapshots/snapshot-72292083?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=Mzo1IzY2OTk2MTM0"
      },
      "RequestBody": {
        "filters": [
          {
            "key": "key-439361809",
            "tags": [
              "tag1=value1",
              "tag2=value2"
            ]
          }
        ]
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json; charset=utf-8",
        "ETag": "\"0WPCTbZAKQqn-MLluKlYwEWe4wbUSx36mKJ4Eop3R0Y\"",
        "Last-Modified": "Tue, 09 Jun 2026 23:01:31 GMT",
        "Link": "</kv?snapshot=snapshot-72292083&api-version=2023-11-01>; rel=\"items\"",
        "Operation-Location": "https://mrm90847047-azconfig-net.azconfig.io/operations?snapshot=snapshot-72292083&api-version=2023-11-01",
        "Sync-Token": "zAJw6V16=Mzo1IzY2OTk2MTM1;sn=66996135",
        "x-ms-date": "Tue, 09 Jun 2026 23:01:31 GMT"
      },
      "ResponseBody": {
        "etag": "0WPCTbZAKQqn-MLluKlYwEWe4wbUSx36mKJ4Eop3R0Y",
        "name": "snapshot-72292083",
        "status": "provisioning",
        "filters": [
          {
            "key": "key-439361809",
            "label": null,
            "tags": [
              "tag1=value1",
              "tag2=value2"
            ]
          }
        ],
        "composition_type": "key",
        "created": "2026-06-09T23:01:31.580136+00:00",
        "size": 0,
        "items_count": 0,
        "tags": {},
        "retention_period": 2592000
      }
    },
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/operations?api-version=2023-11-01&snapshot=snapshot-72292083",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Mzo1IzY2OTk2MTM1"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "Sync-Token": "zAJw6V16=Mzo1IzY2OTk2MTM1;sn=66996135",
        "x-ms-date": "Tue, 09 Jun 2026 23:01:31 GMT"
      },
      "ResponseBody": {
        "id": "m7jLm33VBbPhashuYG0qXSY7x8WORSBtR2_5emLx8kk",
        "status": "Running",
        "error": null
      }
    },
[...]
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv/key-439361809?api-version=2023-11-01&label=test_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Mzo1IzY2OTk2MTM2"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"DEq7CytHoqqHy18b0PknL9kpB8ZAYhrlzNTj2XHvw1k\"",
        "Last-Modified": "Tue, 09 Jun 2026 23:01:31 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY2OTk2MTM3;sn=66996137",
        "x-ms-date": "Tue, 09 Jun 2026 23:01:41 GMT"
      },
      "ResponseBody": {
        "etag": "DEq7CytHoqqHy18b0PknL9kpB8ZAYhrlzNTj2XHvw1k",
        "key": "key-439361809",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-06-09T23:01:31+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_ENDPOINT_STRING": "https://mrm90847047-azconfig-net.azconfig.io",
    "RandomSeed": "145303961"
  }
}
