{
  "Entries": [
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/KeyBar-1633511148?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "value1",
        "content_type": null,
        "tags": {
          "foo": "bar"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"0xHHjAhiXkftrM5IA8y1y1R6BICTbvXmeFQtXldTwks\"",
        "Last-Modified": "Thu, 22 Jan 2026 02:00:45 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzQ3NDQxNg==;sn=103474416",
        "x-ms-date": "Thu, 22 Jan 2026 02:00:45 GMT"
      },
      "ResponseBody": {
        "etag": "0xHHjAhiXkftrM5IA8y1y1R6BICTbvXmeFQtXldTwks",
        "key": "KeyBar-1633511148",
        "label": null,
        "content_type": null,
        "value": "value1",
        "tags": {
          "foo": "bar"
        },
        "locked": false,
        "last_modified": "2026-01-22T02:00:45+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/snapshots/snapshot-2128363290?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzQ3NDQxOQ==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "filters": [
          {
            "key": "KeyBar-*",
            "tags": [
              "uknown=tag"
            ]
          }
        ]
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json; charset=utf-8",
        "ETag": "\"eR8-e0I0Oj4_SNV64KoIqd9IxFSyqAkJJWG-809t9rI\"",
        "Last-Modified": "Thu, 22 Jan 2026 02:00:45 GMT",
        "Link": "</kv?snapshot=snapshot-2128363290&api-version=2023-11-01>; rel=\"items\"",
        "Operation-Location": "https://t9c954b564de572f9-azconfig-net.azconfig.io/operations?snapshot=snapshot-2128363290&api-version=2023-11-01",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzQ3NDQyMA==;sn=103474420",
        "x-ms-date": "Thu, 22 Jan 2026 02:00:45 GMT"
      },
      "ResponseBody": {
        "etag": "eR8-e0I0Oj4_SNV64KoIqd9IxFSyqAkJJWG-809t9rI",
        "name": "snapshot-2128363290",
        "status": "provisioning",
        "filters": [
          {
            "key": "KeyBar-*",
            "label": null,
            "tags": [
              "uknown=tag"
            ]
          }
        ],
        "composition_type": "key",
        "created": "2026-01-22T02:00:45.514647+00:00",
        "size": 0,
        "items_count": 0,
        "tags": {},
        "retention_period": 2592000
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/operations?api-version=2023-11-01&snapshot=snapshot-2128363290",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzQ3NDQyMA==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzQ3NDQyMA==;sn=103474420",
        "x-ms-date": "Thu, 22 Jan 2026 02:00:45 GMT"
      },
      "ResponseBody": {
        "id": "EM3nP0AZiXtLULZjuANcEf1H29CcWz2PQn9DcsUfxPs",
        "status": "Running",
        "error": null
      }
    },
[...]
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv?api-version=2023-11-01&snapshot=snapshot-2128363290",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzQ3NDQyMQ==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"00wWELzclWef22f82qcUDI7FbJweVOoKWZDA_JoUeD0\"",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzQ3NDQyMQ==;sn=103474421",
        "x-ms-date": "Thu, 22 Jan 2026 02:00:56 GMT"
      },
      "ResponseBody": {
        "etag": "00wWELzclWef22f82qcUDI7FbJweVOoKWZDA_JoUeD0",
        "items": []
      }
    },
[...]
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/KeyBar-4841098863?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzQ3NDQyNA==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"xQDN1kgsNcgaU0LGnscLzExvd4Q2OOmCUBO6zX2TYQ0\"",
        "Last-Modified": "Thu, 22 Jan 2026 02:00:45 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzQ3NDQyNQ==;sn=103474425",
        "x-ms-date": "Thu, 22 Jan 2026 02:00:56 GMT"
      },
      "ResponseBody": {
        "etag": "xQDN1kgsNcgaU0LGnscLzExvd4Q2OOmCUBO6zX2TYQ0",
        "key": "KeyBar-4841098863",
        "label": null,
        "content_type": null,
        "value": "value4",
        "tags": {},
        "locked": false,
        "last_modified": "2026-01-22T02:00:45+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t9c954b564de572f9-azconfig-net.azconfig.io;Id=MdvE;Secret=Kg==",
    "RandomSeed": "290645184"
  }
}
