{
  "Entries": [
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv/KeyBar-12052316719?api-version=2026-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "value": "value1",
        "content_type": null,
        "tags": {
          "foo": "bartemp1"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"-sbP9YJzlYIn-RLhTPrfuxtUA1E4eLn2g5FJ0UJYpFU\"",
        "Last-Modified": "Wed, 10 Jun 2026 19:15:51 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDcxOTky;sn=67071992",
        "x-ms-date": "Wed, 10 Jun 2026 19:15:51 GMT"
      },
      "ResponseBody": {
        "etag": "-sbP9YJzlYIn-RLhTPrfuxtUA1E4eLn2g5FJ0UJYpFU",
        "key": "KeyBar-12052316719",
        "label": null,
        "content_type": null,
        "value": "value1",
        "description": null,
        "tags": {
          "foo": "bartemp1"
        },
        "locked": false,
        "last_modified": "2026-06-10T19:15:51+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv/Key12096254611?api-version=2026-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDcxOTk0"
      },
      "RequestBody": {
        "value": "value4",
        "content_type": null,
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"RSl_RXaOaxaJFipzGGKhMFRev0BQJVAzncZeh1LqDaY\"",
        "Last-Modified": "Wed, 10 Jun 2026 19:15:51 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDcxOTk1;sn=67071995",
        "x-ms-date": "Wed, 10 Jun 2026 19:15:51 GMT"
      },
      "ResponseBody": {
        "etag": "RSl_RXaOaxaJFipzGGKhMFRev0BQJVAzncZeh1LqDaY",
        "key": "Key12096254611",
        "label": null,
        "content_type": null,
        "value": "value4",
        "description": null,
        "tags": {},
        "locked": false,
        "last_modified": "2026-06-10T19:15:51+00:00"
      }
    },
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/snapshots/snapshot-468441484?api-version=2026-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDcxOTk1"
      },
      "RequestBody": {
        "filters": [
          {
            "key": "KeyBar-*",
            "tags": [
              "foo=bartemp1"
            ]
          }
        ],
        "retention_period": 3600,
        "description": "Test snapshot description"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json; charset=utf-8",
        "ETag": "\"Nh6uBS4LzomigD-jYN5zxK93tCQdi12GnPIsWTo-iac\"",
        "Last-Modified": "Wed, 10 Jun 2026 19:15:51 GMT",
        "Link": "</kv?snapshot=snapshot-468441484&api-version=2026-04-01>; rel=\"items\"",
        "Operation-Location": "https://mrm90847047-azconfig-net.azconfig.io/operations?snapshot=snapshot-468441484&api-version=2026-04-01",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDcxOTk2;sn=67071996",
        "x-ms-date": "Wed, 10 Jun 2026 19:15:51 GMT"
      },
      "ResponseBody": {
        "etag": "Nh6uBS4LzomigD-jYN5zxK93tCQdi12GnPIsWTo-iac",
        "name": "snapshot-468441484",
        "description": "Test snapshot description",
        "status": "provisioning",
        "filters": [
          {
            "key": "KeyBar-*",
            "label": null,
            "tags": [
              "foo=bartemp1"
            ]
          }
        ],
        "composition_type": "key",
        "created": "2026-06-10T19:15:51.4181426+00:00",
        "size": 0,
        "items_count": 0,
        "tags": {},
        "retention_period": 3600
      }
    },
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/operations?api-version=2026-04-01&snapshot=snapshot-468441484",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDcxOTk2"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDcxOTk2;sn=67071996",
        "x-ms-date": "Wed, 10 Jun 2026 19:15:51 GMT"
      },
      "ResponseBody": {
        "id": "yg2_KGTG5BggNiqFW85SvePF1DdpiVw28sPMRsyd7xc",
        "status": "Running",
        "error": null
      }
    },
[...]
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv?api-version=2026-04-01&snapshot=snapshot-468441484",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDcxOTk3"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"2bQF5njcZcZxfgRa01DMVYekWYAKoqJ476x_hr-DsIg\"",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDcxOTk3;sn=67071997",
        "x-ms-date": "Wed, 10 Jun 2026 19:16:11 GMT"
      },
      "ResponseBody": {
        "etag": "2bQF5njcZcZxfgRa01DMVYekWYAKoqJ476x_hr-DsIg",
        "items": [
          {
            "etag": "-sbP9YJzlYIn-RLhTPrfuxtUA1E4eLn2g5FJ0UJYpFU",
            "key": "KeyBar-12052316719",
            "label": null,
            "content_type": null,
            "value": "value1",
            "description": null,
            "tags": {
              "foo": "bartemp1"
            },
            "locked": false,
            "last_modified": "2026-06-10T19:15:51+00:00"
          },
          {
            "etag": "Ee391uqgsweedmdaidL0ieB8AC4BHiaGMU4vWW3Nauc",
            "key": "KeyBar-21927637025",
            "label": null,
            "content_type": null,
            "value": "value2",
            "description": null,
            "tags": {
              "foo": "bartemp1"
            },
            "locked": false,
            "last_modified": "2026-06-10T19:15:51+00:00"
          },
          {
            "etag": "XSd7SewQ2IrBWzCEK1kSp5pyGZrQUOQC2UT8lI4OdR4",
            "key": "KeyBar-31825196381",
            "label": null,
            "content_type": null,
            "value": "value3",
            "description": null,
            "tags": {
              "foo": "bartemp1"
            },
            "locked": false,
            "last_modified": "2026-06-10T19:15:51+00:00"
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv/Key12096254611?api-version=2026-04-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDcyMDAw"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"RSl_RXaOaxaJFipzGGKhMFRev0BQJVAzncZeh1LqDaY\"",
        "Last-Modified": "Wed, 10 Jun 2026 19:15:51 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDcyMDAx;sn=67072001",
        "x-ms-date": "Wed, 10 Jun 2026 19:16:11 GMT"
      },
      "ResponseBody": {
        "etag": "RSl_RXaOaxaJFipzGGKhMFRev0BQJVAzncZeh1LqDaY",
        "key": "Key12096254611",
        "label": null,
        "content_type": null,
        "value": "value4",
        "description": null,
        "tags": {},
        "locked": false,
        "last_modified": "2026-06-10T19:15:51+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_ENDPOINT_STRING": "https://mrm90847047-azconfig-net.azconfig.io",
    "RandomSeed": "374551039"
  }
}
