{
  "Entries": [
    {
      "RequestUri": "https://tdfcae3cf5eab7143-azconfig-net.azconfig.io/kv/KeyBar-1772119391?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "value1",
        "content_type": null,
        "tags": {
          "foo": "bar"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"XT9y8YXmMdLnCyj60JM0eAId6YaKy8hWIK_qRjAFCAE\"",
        "Last-Modified": "Fri, 18 Jul 2025 16:32:24 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzUwOTcxODM4;sn=50971838"
      },
      "ResponseBody": {
        "etag": "XT9y8YXmMdLnCyj60JM0eAId6YaKy8hWIK_qRjAFCAE",
        "key": "KeyBar-1772119391",
        "label": null,
        "content_type": null,
        "value": "value1",
        "tags": {
          "foo": "bar"
        },
        "locked": false,
        "last_modified": "2025-07-18T16:32:24+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://tdfcae3cf5eab7143-azconfig-net.azconfig.io/snapshots/snapshot-1976490001?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=Njo1IzUwOTcxODQx",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "filters": [
          {
            "key": "KeyBar-*",
            "tags": [
              "uknown=tag"
            ]
          }
        ]
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json; charset=utf-8",
        "ETag": "\"WvbFAoUe_akV1lcTnRWONRwQRJbKPQZNEbSZNvlyVfU\"",
        "Last-Modified": "Fri, 18 Jul 2025 16:32:24 GMT",
        "Link": "</kv?snapshot=snapshot-1976490001&api-version=2023-11-01>; rel=\"items\"",
        "Operation-Location": "https://tdfcae3cf5eab7143-azconfig-net.azconfig.io/operations?snapshot=snapshot-1976490001&api-version=2023-11-01",
        "Sync-Token": "zAJw6V16=Njo1IzUwOTcxODQy;sn=50971842"
      },
      "ResponseBody": {
        "etag": "WvbFAoUe_akV1lcTnRWONRwQRJbKPQZNEbSZNvlyVfU",
        "name": "snapshot-1976490001",
        "status": "provisioning",
        "filters": [
          {
            "key": "KeyBar-*",
            "label": null,
            "tags": [
              "uknown=tag"
            ]
          }
        ],
        "composition_type": "key",
        "created": "2025-07-18T16:32:24.4130827+00:00",
        "size": 0,
        "items_count": 0,
        "tags": {},
        "retention_period": 2592000
      }
    },
    {
      "RequestUri": "https://tdfcae3cf5eab7143-azconfig-net.azconfig.io/operations?snapshot=snapshot-1976490001&api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Njo1IzUwOTcxODQy",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "Sync-Token": "zAJw6V16=Njo1IzUwOTcxODQy;sn=50971842"
      },
      "ResponseBody": {
        "id": "apCOaNyIdtZ5xLe2l2KaLXCJUjKlNtC27_nEBYsak1Y",
        "status": "Running",
        "error": null
      }
    },
[...]
    {
      "RequestUri": "https://tdfcae3cf5eab7143-azconfig-net.azconfig.io/kv?api-version=2023-11-01&snapshot=snapshot-1976490001",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Njo1IzUwOTcxODQ0",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"00wWELzclWef22f82qcUDI7FbJweVOoKWZDA_JoUeD0\"",
        "Sync-Token": "zAJw6V16=Njo1IzUwOTcxODQ0;sn=50971844"
      },
      "ResponseBody": {
        "etag": "00wWELzclWef22f82qcUDI7FbJweVOoKWZDA_JoUeD0",
        "items": []
      }
    },
[...]
    {
      "RequestUri": "https://tdfcae3cf5eab7143-azconfig-net.azconfig.io/kv/KeyBar-41131739388?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Njo1IzUwOTcxODQ3",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"KQZR87fgMjas0zhH3K0mZfq_1Gs5kJxI6C9O2eTvl4Q\"",
        "Last-Modified": "Fri, 18 Jul 2025 16:32:24 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzUwOTcxODQ4;sn=50971848"
      },
      "ResponseBody": {
        "etag": "KQZR87fgMjas0zhH3K0mZfq_1Gs5kJxI6C9O2eTvl4Q",
        "key": "KeyBar-41131739388",
        "label": null,
        "content_type": null,
        "value": "value4",
        "tags": {},
        "locked": false,
        "last_modified": "2025-07-18T16:32:24+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://tdfcae3cf5eab7143-azconfig-net.azconfig.io;Id=Msfr;Secret=Kg==",
    "RandomSeed": "1749782759"
  }
}
