{
  "Entries": [
    {
      "RequestUri": "https://te0e57d80fe738c82-azconfig-net.azconfig.io/kv/key-665907231?api-version=2023-11-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"vK04xvOdsSudOVgxAY3GkBIGD4sLCLOgfg1ZF8K_KJc\"",
        "Last-Modified": "Tue, 29 Jul 2025 17:41:59 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzUxNTQ5NTQy;sn=51549542"
      },
      "ResponseBody": {
        "etag": "vK04xvOdsSudOVgxAY3GkBIGD4sLCLOgfg1ZF8K_KJc",
        "key": "key-665907231",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2025-07-29T17:41:59+00:00"
      }
    },
    {
      "RequestUri": "https://te0e57d80fe738c82-azconfig-net.azconfig.io/snapshots/snapshot-196090669?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=Njo1IzUxNTQ5NTQy",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "filters": [
          {
            "key": "key-665907231"
          }
        ]
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json; charset=utf-8",
        "ETag": "\"hrV4HGJLTD09Gs_zQxBh74fQz7dP1ebt8FYxHtI1cv4\"",
        "Last-Modified": "Tue, 29 Jul 2025 17:42:00 GMT",
        "Link": "</kv?snapshot=snapshot-196090669&api-version=2023-11-01>; rel=\"items\"",
        "Operation-Location": "https://te0e57d80fe738c82-azconfig-net.azconfig.io/operations?snapshot=snapshot-196090669&api-version=2023-11-01",
        "Sync-Token": "zAJw6V16=Njo1IzUxNTQ5NTQz;sn=51549543"
      },
      "ResponseBody": {
        "etag": "hrV4HGJLTD09Gs_zQxBh74fQz7dP1ebt8FYxHtI1cv4",
        "name": "snapshot-196090669",
        "status": "provisioning",
        "filters": [
          {
            "key": "key-665907231",
            "label": null,
            "tags": []
          }
        ],
        "composition_type": "key",
        "created": "2025-07-29T17:42:00.0587956+00:00",
        "size": 0,
        "items_count": 0,
        "tags": {},
        "retention_period": 2592000
      }
    },
    {
      "RequestUri": "https://te0e57d80fe738c82-azconfig-net.azconfig.io/operations?snapshot=snapshot-196090669&api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Njo1IzUxNTQ5NTQz",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "Sync-Token": "zAJw6V16=Njo1IzUxNTQ5NTQz;sn=51549543"
      },
      "ResponseBody": {
        "id": "yKGPnnsruBJ1ZwBpcShbiGwN-22_l07F5SOo76aq2VA",
        "status": "Running",
        "error": null
      }
    },
[...]
    {
      "RequestUri": "https://te0e57d80fe738c82-azconfig-net.azconfig.io/kv/key-665907231?api-version=2023-11-01&label=test_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Njo1IzUxNTQ5NTQ0",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"vK04xvOdsSudOVgxAY3GkBIGD4sLCLOgfg1ZF8K_KJc\"",
        "Last-Modified": "Tue, 29 Jul 2025 17:41:59 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzUxNTQ5NTQ1;sn=51549545"
      },
      "ResponseBody": {
        "etag": "vK04xvOdsSudOVgxAY3GkBIGD4sLCLOgfg1ZF8K_KJc",
        "key": "key-665907231",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2025-07-29T17:41:59+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://te0e57d80fe738c82-azconfig-net.azconfig.io;Id=L29Y;Secret=Kg==",
    "RandomSeed": "1720293248"
  }
}
