{
  "Entries": [
    {
      "RequestUri": "https://tdfcae3cf5eab7143-azconfig-net.azconfig.io/kv/Key-12076546170?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "value1",
        "content_type": null,
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"AH0zkbQ3PCbBieHl2wKaDj3ieDUYzoye_-phKoAJU4I\"",
        "Last-Modified": "Wed, 24 Jul 2024 15:43:37 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzMyMjcxMTQ3;sn=32271147"
      },
      "ResponseBody": {
        "etag": "AH0zkbQ3PCbBieHl2wKaDj3ieDUYzoye_-phKoAJU4I",
        "key": "Key-12076546170",
        "label": null,
        "content_type": null,
        "value": "value1",
        "locked": false,
        "last_modified": "2024-07-24T15:43:37+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://tdfcae3cf5eab7143-azconfig-net.azconfig.io/snapshots/snapshot-1793883993?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=Njo1IzMyMjcxMTUw",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "filters": [
          {
            "key": "Key-*",
            "tags": []
          }
        ]
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json; charset=utf-8",
        "ETag": "\"B5LUTnaSGhXZnP-OmpY8eeW_9RmZ0Uw2L9brO78DGsY\"",
        "Last-Modified": "Wed, 24 Jul 2024 15:43:38 GMT",
        "Link": "</kv?snapshot=snapshot-1793883993&api-version=2023-11-01>; rel=\"items\"",
        "Operation-Location": "https://tdfcae3cf5eab7143-azconfig-net.azconfig.io/operations?snapshot=snapshot-1793883993&api-version=2023-11-01",
        "Sync-Token": "zAJw6V16=Njo1IzMyMjcxMTUx;sn=32271151"
      },
      "ResponseBody": {
        "etag": "B5LUTnaSGhXZnP-OmpY8eeW_9RmZ0Uw2L9brO78DGsY",
        "name": "snapshot-1793883993",
        "status": "provisioning",
        "filters": [
          {
            "key": "Key-*",
            "label": null,
            "tags": []
          }
        ],
        "composition_type": "key",
        "created": "2024-07-24T15:43:38+00:00",
        "size": 0,
        "items_count": 0,
        "retention_period": 2592000
      }
    },
    {
      "RequestUri": "https://tdfcae3cf5eab7143-azconfig-net.azconfig.io/operations?snapshot=snapshot-1793883993&api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Njo1IzMyMjcxMTUx",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "Sync-Token": "zAJw6V16=Njo1IzMyMjcxMTUx;sn=32271151"
      },
      "ResponseBody": {
        "id": "Ikjb2kNzl_5_0UFl96oAyS6lmYYHIVh_LVKC1DtqNKo",
        "status": "Running",
        "error": null
      }
    },
[...]
    {
      "RequestUri": "https://tdfcae3cf5eab7143-azconfig-net.azconfig.io/kv?api-version=2023-11-01&snapshot=snapshot-1793883993",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Njo1IzMyMjcxMTUy",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"a7E17JSMb0SQV-uh7ZQLhxSdp3sESyXOt525bEyQQRk\"",
        "Sync-Token": "zAJw6V16=Njo1IzMyMjcxMTUy;sn=32271152"
      },
      "ResponseBody": {
        "etag": "a7E17JSMb0SQV-uh7ZQLhxSdp3sESyXOt525bEyQQRk",
        "items": [
          {
            "etag": "AH0zkbQ3PCbBieHl2wKaDj3ieDUYzoye_-phKoAJU4I",
            "key": "Key-12076546170",
            "label": null,
            "content_type": null,
            "value": "value1",
                "locked": false,
            "last_modified": "2024-07-24T15:43:37+00:00"
          },
          {
            "etag": "OB1zIlKcmnhKXrGf1V6FPvQmA7mHREHf5_qw2-0ZdbU",
            "key": "Key-21525087571",
            "label": null,
            "content_type": null,
            "value": "value2",
                "locked": false,
            "last_modified": "2024-07-24T15:43:37+00:00"
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://tdfcae3cf5eab7143-azconfig-net.azconfig.io/kv/Key2862314866?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Njo1IzMyMjcxMTU1",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"YfCQ3_umnxfcnx46Madc3uguo_RQH3sp7uzaGzJNB1c\"",
        "Last-Modified": "Wed, 24 Jul 2024 15:43:37 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzMyMjcxMTU2;sn=32271156"
      },
      "ResponseBody": {
        "etag": "YfCQ3_umnxfcnx46Madc3uguo_RQH3sp7uzaGzJNB1c",
        "key": "Key2862314866",
        "label": null,
        "content_type": null,
        "value": "value4",
        "locked": false,
        "last_modified": "2024-07-24T15:43:37+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://tdfcae3cf5eab7143-azconfig-net.azconfig.io;Id=MEKF;Secret=Kg==",
    "RandomSeed": "1325893006"
  }
}
