{
  "Entries": [
    {
      "RequestUri": "https://tdfcae3cf5eab7143-azconfig-net.azconfig.io/kv/key-481668576?label=test_label&api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"k0Mmaz0d09XsImNafgpaJQJRcgdM4PDK3cYvv1sHBhk\"",
        "Last-Modified": "Wed, 24 Jul 2024 15:43:58 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzMyMjcxMTU3;sn=32271157"
      },
      "ResponseBody": {
        "etag": "k0Mmaz0d09XsImNafgpaJQJRcgdM4PDK3cYvv1sHBhk",
        "key": "key-481668576",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2024-07-24T15:43:58+00:00"
      }
    },
    {
      "RequestUri": "https://tdfcae3cf5eab7143-azconfig-net.azconfig.io/snapshots/snapshot-520790061?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=Njo1IzMyMjcxMTU3",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "filters": [
          {
            "key": "key-481668576",
            "tags": [
              "tag1=value1",
              "tag2=value2"
            ]
          }
        ]
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json; charset=utf-8",
        "ETag": "\"3Q02nKP3-L33eM7L46Lf3M5F3wayqQC3BNb2Ev8p4ns\"",
        "Last-Modified": "Wed, 24 Jul 2024 15:43:58 GMT",
        "Link": "</kv?snapshot=snapshot-520790061&api-version=2023-11-01>; rel=\"items\"",
        "Operation-Location": "https://tdfcae3cf5eab7143-azconfig-net.azconfig.io/operations?snapshot=snapshot-520790061&api-version=2023-11-01",
        "Sync-Token": "zAJw6V16=Njo1IzMyMjcxMTU4;sn=32271158"
      },
      "ResponseBody": {
        "etag": "3Q02nKP3-L33eM7L46Lf3M5F3wayqQC3BNb2Ev8p4ns",
        "name": "snapshot-520790061",
        "status": "provisioning",
        "filters": [
          {
            "key": "key-481668576",
            "label": null,
            "tags": [
              "tag1=value1",
              "tag2=value2"
            ]
          }
        ],
        "composition_type": "key",
        "created": "2024-07-24T15:43:58+00:00",
        "size": 0,
        "items_count": 0,
        "tags": {},
        "retention_period": 2592000
      }
    },
    {
      "RequestUri": "https://tdfcae3cf5eab7143-azconfig-net.azconfig.io/operations?snapshot=snapshot-520790061&api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Njo1IzMyMjcxMTU4",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "Sync-Token": "zAJw6V16=Njo1IzMyMjcxMTU4;sn=32271158"
      },
      "ResponseBody": {
        "id": "7ZQdKwNF-uvRlnKILVuT4hHs1irglYlWg0YMWXR6dYk",
        "status": "Running",
        "error": null
      }
    },
[...]
    {
      "RequestUri": "https://tdfcae3cf5eab7143-azconfig-net.azconfig.io/kv/key-481668576?label=test_label&api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Njo1IzMyMjcxMTY1",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"k0Mmaz0d09XsImNafgpaJQJRcgdM4PDK3cYvv1sHBhk\"",
        "Last-Modified": "Wed, 24 Jul 2024 15:43:58 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzMyMjcxMTY2;sn=32271166"
      },
      "ResponseBody": {
        "etag": "k0Mmaz0d09XsImNafgpaJQJRcgdM4PDK3cYvv1sHBhk",
        "key": "key-481668576",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2024-07-24T15:43:58+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://tdfcae3cf5eab7143-azconfig-net.azconfig.io;Id=MEKF;Secret=Kg==",
    "RandomSeed": "1598156806"
  }
}
