{
  "Entries": [
    {
      "RequestUri": "https://t02f6e87f544544f3-azconfig-net.azconfig.io/kv/key-806744199?label=test_label\u0026api-version=2022-11-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "b11OQu6GthUatwGXUIKHHSRVyik0TdrUk5kZm3yZd2A="
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022DpEVM74IJn_eeItUxsfyxT8Uy29qoQMyd-g34sIa838\u0022",
        "Last-Modified": "Fri, 30 Jun 2023 19:18:00 GMT",
        "Sync-Token": "zAJw6V16=ODo1IzI0ODcwMjU3;sn=24870257"
      },
      "ResponseBody": {
        "etag": "DpEVM74IJn_eeItUxsfyxT8Uy29qoQMyd-g34sIa838",
        "key": "key-806744199",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2023-06-30T19:18:00\u002B00:00"
      }
    },
    {
      "RequestUri": "https://t02f6e87f544544f3-azconfig-net.azconfig.io/snapshots/snapshot_wait_until_completed-4308bd4f-db94-4c41-995d-15c06f5fb3ad?api-version=2022-11-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=ODo1IzI0ODcwMjU3",
        "x-ms-content-sha256": "mCH4sJBfwxJXfSTOuO9xGags1dUdYD4AIt89DJPiHyY="
      },
      "RequestBody": {
        "filters": [
          {
            "key": "key-806744199"
          }
        ]
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot\u002Bjson; charset=utf-8",
        "ETag": "\u0022TtMgKHMp791VRqu6Vm3XpxhVAYm8ba6ItupiAPMHLGs\u0022",
        "Last-Modified": "Fri, 30 Jun 2023 19:18:00 GMT",
        "Link": "\u003C/kv?snapshot=snapshot_wait_until_completed-4308bd4f-db94-4c41-995d-15c06f5fb3ad\u0026api-version=2022-11-01-preview\u003E; rel=\u0022items\u0022",
        "Operation-Location": "https://t02f6e87f544544f3-azconfig-net.azconfig.io/operations?snapshot=snapshot_wait_until_completed-4308bd4f-db94-4c41-995d-15c06f5fb3ad\u0026api-version=2022-11-01-preview",
        "Sync-Token": "zAJw6V16=ODo1IzI0ODcwMjU4;sn=24870258"
      },
      "ResponseBody": {
        "etag": "TtMgKHMp791VRqu6Vm3XpxhVAYm8ba6ItupiAPMHLGs",
        "name": "snapshot_wait_until_completed-4308bd4f-db94-4c41-995d-15c06f5fb3ad",
        "status": "provisioning",
        "filters": [
          {
            "key": "key-806744199",
            "label": null
          }
        ],
        "composition_type": "key",
        "created": "2023-06-30T19:18:00\u002B00:00",
        "size": 0,
        "items_count": 0,
        "tags": {},
        "retention_period": 2592000
      }
    },
    {
      "RequestUri": "https://t02f6e87f544544f3-azconfig-net.azconfig.io/operations?snapshot=snapshot_wait_until_completed-4308bd4f-db94-4c41-995d-15c06f5fb3ad\u0026api-version=2022-11-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=ODo1IzI0ODcwMjU4",
        "x-ms-content-sha256": "47DEQpj8HBSa\u002B/TImW\u002B5JCeuQeRkm5NMpJWZG3hSuFU="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "Sync-Token": "zAJw6V16=ODo1IzI0ODcwMjU4;sn=24870258"
      },
      "ResponseBody": {
        "id": "yPf3zHNR-bSdTudKYxI_yTUAEEOD9w5Ai3HqHQoik2M",
        "status": "Running",
        "error": null
      }
    },
[...]
    {
      "RequestUri": "https://t02f6e87f544544f3-azconfig-net.azconfig.io/kv/key-806744199?label=test_label\u0026api-version=2022-11-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=ODo1IzI0ODcwMjU5",
        "x-ms-content-sha256": "47DEQpj8HBSa\u002B/TImW\u002B5JCeuQeRkm5NMpJWZG3hSuFU="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022DpEVM74IJn_eeItUxsfyxT8Uy29qoQMyd-g34sIa838\u0022",
        "Last-Modified": "Fri, 30 Jun 2023 19:18:00 GMT",
        "Sync-Token": "zAJw6V16=ODo1IzI0ODcwMjYw;sn=24870260"
      },
      "ResponseBody": {
        "etag": "DpEVM74IJn_eeItUxsfyxT8Uy29qoQMyd-g34sIa838",
        "key": "key-806744199",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2023-06-30T19:18:00\u002B00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t02f6e87f544544f3-azconfig-net.azconfig.io;Id=Ek\u002BM;Secret=Kg==",
    "RandomSeed": "1459152874"
  }
}
