{
  "Entries": [
    {
      "RequestUri": "https://tdfcae3cf5eab7143-azconfig-net.azconfig.io/kv/KeyBar-1684774704?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "value1",
        "content_type": null,
        "tags": {
          "foo": "bartemp1"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"z7AOf6mdq4Y4sKVWxNyWq295qJlJb19B9ptB_Z1oN3M\"",
        "Last-Modified": "Fri, 18 Jul 2025 16:32:03 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzUwOTcxODI4;sn=50971828"
      },
      "ResponseBody": {
        "etag": "z7AOf6mdq4Y4sKVWxNyWq295qJlJb19B9ptB_Z1oN3M",
        "key": "KeyBar-1684774704",
        "label": null,
        "content_type": null,
        "value": "value1",
        "tags": {
          "foo": "bartemp1"
        },
        "locked": false,
        "last_modified": "2025-07-18T16:32:03+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://tdfcae3cf5eab7143-azconfig-net.azconfig.io/kv/Key1342238344?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "Sync-Token": "zAJw6V16=Njo1IzUwOTcxODMw",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "value4",
        "content_type": null,
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"KRn1wDsbIf5v0HEsAQJqh-IbdVXXZsjIAO4W-41A-OM\"",
        "Last-Modified": "Fri, 18 Jul 2025 16:32:03 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzUwOTcxODMx;sn=50971831"
      },
      "ResponseBody": {
        "etag": "KRn1wDsbIf5v0HEsAQJqh-IbdVXXZsjIAO4W-41A-OM",
        "key": "Key1342238344",
        "label": null,
        "content_type": null,
        "value": "value4",
        "tags": {},
        "locked": false,
        "last_modified": "2025-07-18T16:32:03+00:00"
      }
    },
    {
      "RequestUri": "https://tdfcae3cf5eab7143-azconfig-net.azconfig.io/snapshots/snapshot-343875815?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=Njo1IzUwOTcxODMx",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "filters": [
          {
            "key": "KeyBar-*",
            "tags": [
              "foo=bartemp1"
            ]
          }
        ]
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json; charset=utf-8",
        "ETag": "\"N7eBvs4QCXTnRSxoCKf5sZdhHZ6x9H145rivDrBMsiQ\"",
        "Last-Modified": "Fri, 18 Jul 2025 16:32:03 GMT",
        "Link": "</kv?snapshot=snapshot-343875815&api-version=2023-11-01>; rel=\"items\"",
        "Operation-Location": "https://tdfcae3cf5eab7143-azconfig-net.azconfig.io/operations?snapshot=snapshot-343875815&api-version=2023-11-01",
        "Sync-Token": "zAJw6V16=Njo1IzUwOTcxODMy;sn=50971832"
      },
      "ResponseBody": {
        "etag": "N7eBvs4QCXTnRSxoCKf5sZdhHZ6x9H145rivDrBMsiQ",
        "name": "snapshot-343875815",
        "status": "provisioning",
        "filters": [
          {
            "key": "KeyBar-*",
            "label": null,
            "tags": [
              "foo=bartemp1"
            ]
          }
        ],
        "composition_type": "key",
        "created": "2025-07-18T16:32:03.3843302+00:00",
        "size": 0,
        "items_count": 0,
        "tags": {},
        "retention_period": 2592000
      }
    },
    {
      "RequestUri": "https://tdfcae3cf5eab7143-azconfig-net.azconfig.io/operations?snapshot=snapshot-343875815&api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Njo1IzUwOTcxODMy",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "Sync-Token": "zAJw6V16=Njo1IzUwOTcxODMy;sn=50971832"
      },
      "ResponseBody": {
        "id": "2xCAKeonzz5fagDQxLBmU1_xMLlHPWzmWZKxNTaQm_E",
        "status": "Running",
        "error": null
      }
    },
[...]
    {
      "RequestUri": "https://tdfcae3cf5eab7143-azconfig-net.azconfig.io/kv?api-version=2023-11-01&snapshot=snapshot-343875815",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Njo1IzUwOTcxODMz",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"GVXCeRfUrRT3vgzsKvyBT2n_Y1hE1k87lgBBvzZbY-U\"",
        "Sync-Token": "zAJw6V16=Njo1IzUwOTcxODMz;sn=50971833"
      },
      "ResponseBody": {
        "etag": "GVXCeRfUrRT3vgzsKvyBT2n_Y1hE1k87lgBBvzZbY-U",
        "items": [
          {
            "etag": "z7AOf6mdq4Y4sKVWxNyWq295qJlJb19B9ptB_Z1oN3M",
            "key": "KeyBar-1684774704",
            "label": null,
            "content_type": null,
            "value": "value1",
            "tags": {
              "foo": "bartemp1"
            },
            "locked": false,
            "last_modified": "2025-07-18T16:32:03+00:00"
          },
          {
            "etag": "HCnnGQHF9wTCNEpN2mZcsdQCwxHPX5VNlymqZhGHd5Y",
            "key": "KeyBar-2185815006",
            "label": null,
            "content_type": null,
            "value": "value2",
            "tags": {
              "foo": "bartemp1"
            },
            "locked": false,
            "last_modified": "2025-07-18T16:32:03+00:00"
          },
          {
            "etag": "KeXRhTqWnGcvAxOiwEiIuGbPUpJ9DHvk5a7s04MAu14",
            "key": "KeyBar-3262278102",
            "label": null,
            "content_type": null,
            "value": "value3",
            "tags": {
              "foo": "bartemp1"
            },
            "locked": false,
            "last_modified": "2025-07-18T16:32:03+00:00"
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://tdfcae3cf5eab7143-azconfig-net.azconfig.io/kv/Key1342238344?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Njo1IzUwOTcxODM2",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"KRn1wDsbIf5v0HEsAQJqh-IbdVXXZsjIAO4W-41A-OM\"",
        "Last-Modified": "Fri, 18 Jul 2025 16:32:03 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzUwOTcxODM3;sn=50971837"
      },
      "ResponseBody": {
        "etag": "KRn1wDsbIf5v0HEsAQJqh-IbdVXXZsjIAO4W-41A-OM",
        "key": "Key1342238344",
        "label": null,
        "content_type": null,
        "value": "value4",
        "tags": {},
        "locked": false,
        "last_modified": "2025-07-18T16:32:03+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://tdfcae3cf5eab7143-azconfig-net.azconfig.io;Id=Msfr;Secret=Kg==",
    "RandomSeed": "223092709"
  }
}
