{
  "Entries": [
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv/key-638395008?api-version=2026-04-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "description": "test_description"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"poEvP5trfEST9VjO_ckVgBhYlzni6nSGYXD6wPPAhns\"",
        "Last-Modified": "Wed, 10 Jun 2026 19:23:55 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDc0NjQ4;sn=67074648",
        "x-ms-date": "Wed, 10 Jun 2026 19:23:55 GMT"
      },
      "ResponseBody": {
        "etag": "poEvP5trfEST9VjO_ckVgBhYlzni6nSGYXD6wPPAhns",
        "key": "key-638395008",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "description": "test_description",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-06-10T19:23:55+00:00"
      }
    },
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/snapshots/snapshot-1909168485?api-version=2026-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDc0NjQ4"
      },
      "RequestBody": {
        "filters": [
          {
            "key": "key-638395008"
          }
        ],
        "retention_period": 3600,
        "description": "Test snapshot description"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json; charset=utf-8",
        "ETag": "\"Pdv5H7eKO31WAKF6aEUiPrRE_4vZyueIVne8Pzar_oo\"",
        "Last-Modified": "Wed, 10 Jun 2026 19:23:55 GMT",
        "Link": "</kv?snapshot=snapshot-1909168485&api-version=2026-04-01>; rel=\"items\"",
        "Operation-Location": "https://mrm90847047-azconfig-net.azconfig.io/operations?snapshot=snapshot-1909168485&api-version=2026-04-01",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDc0NjQ5;sn=67074649",
        "x-ms-date": "Wed, 10 Jun 2026 19:23:55 GMT"
      },
      "ResponseBody": {
        "etag": "Pdv5H7eKO31WAKF6aEUiPrRE_4vZyueIVne8Pzar_oo",
        "name": "snapshot-1909168485",
        "description": "Test snapshot description",
        "status": "provisioning",
        "filters": [
          {
            "key": "key-638395008",
            "label": null,
            "tags": []
          }
        ],
        "composition_type": "key",
        "created": "2026-06-10T19:23:55.5929626+00:00",
        "size": 0,
        "items_count": 0,
        "tags": {},
        "retention_period": 3600
      }
    },
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/operations?api-version=2026-04-01&snapshot=snapshot-1909168485",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDc0NjQ5"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDc0NjQ5;sn=67074649",
        "x-ms-date": "Wed, 10 Jun 2026 19:23:55 GMT"
      },
      "ResponseBody": {
        "id": "-21IBKWdkjKstXnq94WzIjrnxBRAGZlJ1HBcm1ATaS8",
        "status": "Running",
        "error": null
      }
    },
[...]
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv/key-638395008?api-version=2026-04-01&label=test_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDc0NjUw"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"poEvP5trfEST9VjO_ckVgBhYlzni6nSGYXD6wPPAhns\"",
        "Last-Modified": "Wed, 10 Jun 2026 19:23:55 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDc0NjUx;sn=67074651",
        "x-ms-date": "Wed, 10 Jun 2026 19:24:05 GMT"
      },
      "ResponseBody": {
        "etag": "poEvP5trfEST9VjO_ckVgBhYlzni6nSGYXD6wPPAhns",
        "key": "key-638395008",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "description": "test_description",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-06-10T19:23:55+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_ENDPOINT_STRING": "https://mrm90847047-azconfig-net.azconfig.io",
    "RandomSeed": "248053161"
  }
}
