{
  "Entries": [
    {
      "RequestUri": "https://tdfcae3cf5eab7143-azconfig-net.azconfig.io/kv/key-1369812576?api-version=2023-11-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"YYdeRn2qJPsrRov3NNM5RvpvucqYLN7b-88PsIti5Ro\"",
        "Last-Modified": "Fri, 18 Jul 2025 16:31:47 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzUwOTcxODI0;sn=50971824"
      },
      "ResponseBody": {
        "etag": "YYdeRn2qJPsrRov3NNM5RvpvucqYLN7b-88PsIti5Ro",
        "key": "key-1369812576",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2025-07-18T16:31:47+00:00"
      }
    },
    {
      "RequestUri": "https://tdfcae3cf5eab7143-azconfig-net.azconfig.io/snapshots/snapshot-559891802?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=Njo1IzUwOTcxODI0",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "filters": [
          {
            "key": "key-1369812576",
            "tags": []
          }
        ]
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json; charset=utf-8",
        "ETag": "\"0LOK2ljXwjh0qsbDKrwrJxl7aPnVdyUiOu-DYHzfIbQ\"",
        "Last-Modified": "Fri, 18 Jul 2025 16:31:47 GMT",
        "Link": "</kv?snapshot=snapshot-559891802&api-version=2023-11-01>; rel=\"items\"",
        "Operation-Location": "https://tdfcae3cf5eab7143-azconfig-net.azconfig.io/operations?snapshot=snapshot-559891802&api-version=2023-11-01",
        "Sync-Token": "zAJw6V16=Njo1IzUwOTcxODI1;sn=50971825"
      },
      "ResponseBody": {
        "etag": "0LOK2ljXwjh0qsbDKrwrJxl7aPnVdyUiOu-DYHzfIbQ",
        "name": "snapshot-559891802",
        "status": "provisioning",
        "filters": [
          {
            "key": "key-1369812576",
            "label": null,
            "tags": []
          }
        ],
        "composition_type": "key",
        "created": "2025-07-18T16:31:47.604462+00:00",
        "size": 0,
        "items_count": 0,
        "tags": {},
        "retention_period": 2592000
      }
    },
    {
      "RequestUri": "https://tdfcae3cf5eab7143-azconfig-net.azconfig.io/operations?snapshot=snapshot-559891802&api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Njo1IzUwOTcxODI1",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "Sync-Token": "zAJw6V16=Njo1IzUwOTcxODI1;sn=50971825"
      },
      "ResponseBody": {
        "id": "MffxgPp_BFmY3AeM8JRRKppQxDjhZxDYoUwJhxTI0i0",
        "status": "Running",
        "error": null
      }
    },
[...]
    {
      "RequestUri": "https://tdfcae3cf5eab7143-azconfig-net.azconfig.io/kv/key-1369812576?api-version=2023-11-01&label=test_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Njo1IzUwOTcxODI2",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"YYdeRn2qJPsrRov3NNM5RvpvucqYLN7b-88PsIti5Ro\"",
        "Last-Modified": "Fri, 18 Jul 2025 16:31:47 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzUwOTcxODI3;sn=50971827"
      },
      "ResponseBody": {
        "etag": "YYdeRn2qJPsrRov3NNM5RvpvucqYLN7b-88PsIti5Ro",
        "key": "key-1369812576",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2025-07-18T16:31:47+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://tdfcae3cf5eab7143-azconfig-net.azconfig.io;Id=Msfr;Secret=Kg==",
    "RandomSeed": "582951338"
  }
}
