{
  "Entries": [
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/kv/key-379058026?api-version=2023-11-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"15Ha2U_MWgPWv6HA9hV2d1AJbP36_kxBefw4WDrcZX0\"",
        "Last-Modified": "Mon, 17 Nov 2025 16:55:26 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzU3NzY0NjY2;sn=57764666",
        "x-ms-date": "Mon, 17 Nov 2025 16:55:26 GMT"
      },
      "ResponseBody": {
        "etag": "15Ha2U_MWgPWv6HA9hV2d1AJbP36_kxBefw4WDrcZX0",
        "key": "key-379058026",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2025-11-17T16:55:26+00:00"
      }
    },
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/snapshots/snapshot-189645918?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=Njo1IzU3NzY0NjY2",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "filters": [
          {
            "key": "key-379058026",
            "tags": [
              "tag1=value1",
              "tag2=value2"
            ]
          }
        ]
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json; charset=utf-8",
        "ETag": "\"ajWlSVFb2RI0567M-TBhWN0BrOXCGnPn0Y_7loAdv5Y\"",
        "Last-Modified": "Mon, 17 Nov 2025 16:55:26 GMT",
        "Link": "</kv?snapshot=snapshot-189645918&api-version=2023-11-01>; rel=\"items\"",
        "Operation-Location": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/operations?snapshot=snapshot-189645918&api-version=2023-11-01",
        "Sync-Token": "zAJw6V16=Njo1IzU3NzY0NjY3;sn=57764667",
        "x-ms-date": "Mon, 17 Nov 2025 16:55:26 GMT"
      },
      "ResponseBody": {
        "etag": "ajWlSVFb2RI0567M-TBhWN0BrOXCGnPn0Y_7loAdv5Y",
        "name": "snapshot-189645918",
        "status": "provisioning",
        "filters": [
          {
            "key": "key-379058026",
            "label": null,
            "tags": [
              "tag1=value1",
              "tag2=value2"
            ]
          }
        ],
        "composition_type": "key",
        "created": "2025-11-17T16:55:26.3726672+00:00",
        "size": 0,
        "items_count": 0,
        "tags": {},
        "retention_period": 2592000
      }
    },
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/operations?api-version=2023-11-01&snapshot=snapshot-189645918",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Njo1IzU3NzY0NjY3",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "Sync-Token": "zAJw6V16=Njo1IzU3NzY0NjY3;sn=57764667",
        "x-ms-date": "Mon, 17 Nov 2025 16:55:26 GMT"
      },
      "ResponseBody": {
        "id": "aFqNkdpF2wG50ecuwCjHFF1ztxouYVdrqT7c5t4BzIE",
        "status": "Running",
        "error": null
      }
    },
[...]
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/kv/key-379058026?api-version=2023-11-01&label=test_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Njo1IzU3NzY0NjY4",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"15Ha2U_MWgPWv6HA9hV2d1AJbP36_kxBefw4WDrcZX0\"",
        "Last-Modified": "Mon, 17 Nov 2025 16:55:26 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzU3NzY0NjY5;sn=57764669",
        "x-ms-date": "Mon, 17 Nov 2025 16:55:47 GMT"
      },
      "ResponseBody": {
        "etag": "15Ha2U_MWgPWv6HA9hV2d1AJbP36_kxBefw4WDrcZX0",
        "key": "key-379058026",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2025-11-17T16:55:26+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t8cdd9157ca7d1363-azconfig-net.azconfig.io;Id=wNKY;Secret=Kg==",
    "RandomSeed": "592896284"
  }
}
