{
  "Entries": [
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/kv/key-772657832?api-version=2023-11-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"UT_Jw0N8eDjaNAea-d90-3_Lv_XUTY4mphvQ2Ezi1os\"",
        "Last-Modified": "Mon, 17 Nov 2025 16:48:26 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzU3NzY0MTUx;sn=57764151",
        "x-ms-date": "Mon, 17 Nov 2025 16:48:26 GMT"
      },
      "ResponseBody": {
        "etag": "UT_Jw0N8eDjaNAea-d90-3_Lv_XUTY4mphvQ2Ezi1os",
        "key": "key-772657832",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2025-11-17T16:48:26+00:00"
      }
    },
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/snapshots/snapshot-11445554?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=Njo1IzU3NzY0MTUx",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "filters": [
          {
            "key": "key-772657832"
          }
        ]
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json; charset=utf-8",
        "ETag": "\"viH4_7Tdw36S5bsyziSAFPG07bgeQI7FhIgoTSynSKs\"",
        "Last-Modified": "Mon, 17 Nov 2025 16:48:26 GMT",
        "Link": "</kv?snapshot=snapshot-11445554&api-version=2023-11-01>; rel=\"items\"",
        "Operation-Location": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/operations?snapshot=snapshot-11445554&api-version=2023-11-01",
        "Sync-Token": "zAJw6V16=Njo1IzU3NzY0MTUy;sn=57764152",
        "x-ms-date": "Mon, 17 Nov 2025 16:48:26 GMT"
      },
      "ResponseBody": {
        "etag": "viH4_7Tdw36S5bsyziSAFPG07bgeQI7FhIgoTSynSKs",
        "name": "snapshot-11445554",
        "status": "provisioning",
        "filters": [
          {
            "key": "key-772657832",
            "label": null,
            "tags": []
          }
        ],
        "composition_type": "key",
        "created": "2025-11-17T16:48:26.4449652+00:00",
        "size": 0,
        "items_count": 0,
        "tags": {},
        "retention_period": 2592000
      }
    },
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/operations?api-version=2023-11-01&snapshot=snapshot-11445554",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Njo1IzU3NzY0MTUy",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "Sync-Token": "zAJw6V16=Njo1IzU3NzY0MTUy;sn=57764152",
        "x-ms-date": "Mon, 17 Nov 2025 16:48:26 GMT"
      },
      "ResponseBody": {
        "id": "aVx03lzHRMjE5y9BWYD0-1XKfnlyxX5FD_3lAcoLBFM",
        "status": "Running",
        "error": null
      }
    },
[...]
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/kv/key-772657832?api-version=2023-11-01&label=test_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Njo1IzU3NzY0MTU3",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"UT_Jw0N8eDjaNAea-d90-3_Lv_XUTY4mphvQ2Ezi1os\"",
        "Last-Modified": "Mon, 17 Nov 2025 16:48:26 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzU3NzY0MTU4;sn=57764158",
        "x-ms-date": "Mon, 17 Nov 2025 16:48:37 GMT"
      },
      "ResponseBody": {
        "etag": "UT_Jw0N8eDjaNAea-d90-3_Lv_XUTY4mphvQ2Ezi1os",
        "key": "key-772657832",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2025-11-17T16:48:26+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t8cdd9157ca7d1363-azconfig-net.azconfig.io;Id=wNKY;Secret=Kg==",
    "RandomSeed": "656174759"
  }
}
