{
  "Entries": [
    {
      "RequestUri": "https://tdfcae3cf5eab7143-azconfig-net.azconfig.io/kv/key-318746169?label=test_label&api-version=2023-10-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"YrEYDE6Ennq0rRUMpsRrUJvVPAYEpTkemnADcIAb50M\"",
        "Last-Modified": "Thu, 20 Jun 2024 22:49:17 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzMwNzQxODE0;sn=30741814"
      },
      "ResponseBody": {
        "etag": "YrEYDE6Ennq0rRUMpsRrUJvVPAYEpTkemnADcIAb50M",
        "key": "key-318746169",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2024-06-20T22:49:17+00:00"
      }
    },
    {
      "RequestUri": "https://tdfcae3cf5eab7143-azconfig-net.azconfig.io/snapshots/snapshot-661697041?api-version=2023-10-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=Njo1IzMwNzQxODE0",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "filters": [
          {
            "key": "key-318746169",
            "tags": []
          }
        ]
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json; charset=utf-8",
        "ETag": "\"CKSlBvQjnQUhB36MIQEs7fiPuKDgGvfegQYiF0x3TMs\"",
        "Last-Modified": "Thu, 20 Jun 2024 22:49:17 GMT",
        "Link": "</kv?snapshot=snapshot-661697041&api-version=2023-10-01>; rel=\"items\"",
        "Operation-Location": "https://tdfcae3cf5eab7143-azconfig-net.azconfig.io/operations?snapshot=snapshot-661697041&api-version=2023-10-01",
        "Sync-Token": "zAJw6V16=Njo1IzMwNzQxODE1;sn=30741815"
      },
      "ResponseBody": {
        "etag": "CKSlBvQjnQUhB36MIQEs7fiPuKDgGvfegQYiF0x3TMs",
        "name": "snapshot-661697041",
        "status": "provisioning",
        "filters": [
          {
            "key": "key-318746169",
            "label": null
          }
        ],
        "composition_type": "key",
        "created": "2024-06-20T22:49:17+00:00",
        "size": 0,
        "items_count": 0,
        "tags": {},
        "retention_period": 2592000
      }
    },
    {
      "RequestUri": "https://tdfcae3cf5eab7143-azconfig-net.azconfig.io/operations?snapshot=snapshot-661697041&api-version=2023-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Njo1IzMwNzQxODE1",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "Sync-Token": "zAJw6V16=Njo1IzMwNzQxODE1;sn=30741815"
      },
      "ResponseBody": {
        "id": "3BM-Ax7--dhvUKaPApDin_8LLJhCMBBtP9adCIgTFpU",
        "status": "Running",
        "error": null
      }
    },
[...]
    {
      "RequestUri": "https://tdfcae3cf5eab7143-azconfig-net.azconfig.io/kv/key-318746169?label=test_label&api-version=2023-10-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Njo1IzMwNzQxODE2",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"YrEYDE6Ennq0rRUMpsRrUJvVPAYEpTkemnADcIAb50M\"",
        "Last-Modified": "Thu, 20 Jun 2024 22:49:17 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzMwNzQxODE3;sn=30741817"
      },
      "ResponseBody": {
        "etag": "YrEYDE6Ennq0rRUMpsRrUJvVPAYEpTkemnADcIAb50M",
        "key": "key-318746169",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2024-06-20T22:49:17+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://tdfcae3cf5eab7143-azconfig-net.azconfig.io;Id=yt5R;Secret=Kg==",
    "RandomSeed": "773089388"
  }
}
