{
  "Entries": [
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv/key-1253039389?api-version=2026-04-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "description": "test_description"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"wpbJIEAw6kq4SE-vepyuIZ6oi4QtDaJ8UEJctAy7W1M\"",
        "Last-Modified": "Wed, 10 Jun 2026 21:38:34 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDk0Njcy;sn=67094672",
        "x-ms-date": "Wed, 10 Jun 2026 21:38:34 GMT"
      },
      "ResponseBody": {
        "etag": "wpbJIEAw6kq4SE-vepyuIZ6oi4QtDaJ8UEJctAy7W1M",
        "key": "key-1253039389",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "description": "test_description",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-06-10T21:38:34+00:00"
      }
    },
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/snapshots/snapshot-1284589035?api-version=2026-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDk0Njcy"
      },
      "RequestBody": {
        "filters": [
          {
            "key": "key-1253039389"
          }
        ],
        "retention_period": 3600,
        "description": "Test snapshot description"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json; charset=utf-8",
        "ETag": "\"TSYqVUxcfm7XDJL1wT-Q6hK9sqyYWE8agivcNJFCTbc\"",
        "Last-Modified": "Wed, 10 Jun 2026 21:38:34 GMT",
        "Link": "</kv?snapshot=snapshot-1284589035&api-version=2026-04-01>; rel=\"items\"",
        "Operation-Location": "https://mrm90847047-azconfig-net.azconfig.io/operations?snapshot=snapshot-1284589035&api-version=2026-04-01",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDk0Njcz;sn=67094673",
        "x-ms-date": "Wed, 10 Jun 2026 21:38:34 GMT"
      },
      "ResponseBody": {
        "etag": "TSYqVUxcfm7XDJL1wT-Q6hK9sqyYWE8agivcNJFCTbc",
        "name": "snapshot-1284589035",
        "description": "Test snapshot description",
        "status": "provisioning",
        "filters": [
          {
            "key": "key-1253039389",
            "label": null,
            "tags": []
          }
        ],
        "composition_type": "key",
        "created": "2026-06-10T21:38:34.7260296+00:00",
        "size": 0,
        "items_count": 0,
        "tags": {},
        "retention_period": 3600
      }
    },
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/operations?api-version=2026-04-01&snapshot=snapshot-1284589035",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDk0Njcz"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDk0Njcz;sn=67094673",
        "x-ms-date": "Wed, 10 Jun 2026 21:38:34 GMT"
      },
      "ResponseBody": {
        "id": "LdrmnYLmXf_L9Vx5MezmWbOkgD3SH1NN0V75qmxoja8",
        "status": "Running",
        "error": null
      }
    },
[...]
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv/key-1253039389?api-version=2026-04-01&label=test_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDk0Njc0"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"wpbJIEAw6kq4SE-vepyuIZ6oi4QtDaJ8UEJctAy7W1M\"",
        "Last-Modified": "Wed, 10 Jun 2026 21:38:34 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDk0Njc1;sn=67094675",
        "x-ms-date": "Wed, 10 Jun 2026 21:38:45 GMT"
      },
      "ResponseBody": {
        "etag": "wpbJIEAw6kq4SE-vepyuIZ6oi4QtDaJ8UEJctAy7W1M",
        "key": "key-1253039389",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "description": "test_description",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-06-10T21:38:34+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_ENDPOINT_STRING": "https://mrm90847047-azconfig-net.azconfig.io",
    "RandomSeed": "1665954735"
  }
}
