{
  "Entries": [
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv/key-1554251089?api-version=2026-04-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "description": "test_description"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"wEPFjXoe0e86d0e4PefGaoC2gWjOJPWXDMis9s27bJg\"",
        "Last-Modified": "Wed, 10 Jun 2026 19:25:39 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDc0Njk2;sn=67074696",
        "x-ms-date": "Wed, 10 Jun 2026 19:25:39 GMT"
      },
      "ResponseBody": {
        "etag": "wEPFjXoe0e86d0e4PefGaoC2gWjOJPWXDMis9s27bJg",
        "key": "key-1554251089",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "description": "test_description",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-06-10T19:25:39+00:00"
      }
    },
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/snapshots/snapshot-1543177198?api-version=2026-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDc0Njk2"
      },
      "RequestBody": {
        "filters": [
          {
            "key": "key-1554251089",
            "tags": [
              "tag1=value1",
              "tag2=value2"
            ]
          }
        ],
        "retention_period": 3600,
        "description": "Test snapshot description"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json; charset=utf-8",
        "ETag": "\"wK8EcTt2psKPCcMIr8_RmhLeRSAUdF5ahH7zwRgHBrA\"",
        "Last-Modified": "Wed, 10 Jun 2026 19:25:39 GMT",
        "Link": "</kv?snapshot=snapshot-1543177198&api-version=2026-04-01>; rel=\"items\"",
        "Operation-Location": "https://mrm90847047-azconfig-net.azconfig.io/operations?snapshot=snapshot-1543177198&api-version=2026-04-01",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDc0Njk3;sn=67074697",
        "x-ms-date": "Wed, 10 Jun 2026 19:25:39 GMT"
      },
      "ResponseBody": {
        "etag": "wK8EcTt2psKPCcMIr8_RmhLeRSAUdF5ahH7zwRgHBrA",
        "name": "snapshot-1543177198",
        "description": "Test snapshot description",
        "status": "provisioning",
        "filters": [
          {
            "key": "key-1554251089",
            "label": null,
            "tags": [
              "tag1=value1",
              "tag2=value2"
            ]
          }
        ],
        "composition_type": "key",
        "created": "2026-06-10T19:25:39.1510915+00:00",
        "size": 0,
        "items_count": 0,
        "tags": {},
        "retention_period": 3600
      }
    },
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/operations?api-version=2026-04-01&snapshot=snapshot-1543177198",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDc0Njk3"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDc0Njk3;sn=67074697",
        "x-ms-date": "Wed, 10 Jun 2026 19:25:39 GMT"
      },
      "ResponseBody": {
        "id": "Bj96LhPGhrBH2aOhIKtxP50u4BQhwIHzRzJ2CzNS3d8",
        "status": "Running",
        "error": null
      }
    },
[...]
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv/key-1554251089?api-version=2026-04-01&label=test_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDc0NzAy"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"wEPFjXoe0e86d0e4PefGaoC2gWjOJPWXDMis9s27bJg\"",
        "Last-Modified": "Wed, 10 Jun 2026 19:25:39 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDc0NzAz;sn=67074703",
        "x-ms-date": "Wed, 10 Jun 2026 19:25:59 GMT"
      },
      "ResponseBody": {
        "etag": "wEPFjXoe0e86d0e4PefGaoC2gWjOJPWXDMis9s27bJg",
        "key": "key-1554251089",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "description": "test_description",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-06-10T19:25:39+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_ENDPOINT_STRING": "https://mrm90847047-azconfig-net.azconfig.io",
    "RandomSeed": "1785428831"
  }
}
