{
  "Entries": [
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-1986156627?api-version=2023-11-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"VYt6ae7dCBD4wXpHlncSmZIXTSyDB43s8HSlKzHreQQ\"",
        "Last-Modified": "Tue, 23 Dec 2025 05:41:26 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTA0OTI5NQ==;sn=101049295",
        "x-ms-date": "Tue, 23 Dec 2025 05:41:26 GMT"
      },
      "ResponseBody": {
        "etag": "VYt6ae7dCBD4wXpHlncSmZIXTSyDB43s8HSlKzHreQQ",
        "key": "key-1986156627",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2025-12-23T05:41:26+00:00"
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/snapshots/snapshot-540552936?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTA0OTI5NQ==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "filters": [
          {
            "key": "key-1986156627"
          }
        ]
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json; charset=utf-8",
        "ETag": "\"xE_Q9HJoFPiWh4yDM5y8u-pPP16X4Wn1asI9ZQ1-DGI\"",
        "Last-Modified": "Tue, 23 Dec 2025 05:41:26 GMT",
        "Link": "</kv?snapshot=snapshot-540552936&api-version=2023-11-01>; rel=\"items\"",
        "Operation-Location": "https://t9c954b564de572f9-azconfig-net.azconfig.io/operations?snapshot=snapshot-540552936&api-version=2023-11-01",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTA0OTI5Ng==;sn=101049296",
        "x-ms-date": "Tue, 23 Dec 2025 05:41:26 GMT"
      },
      "ResponseBody": {
        "etag": "xE_Q9HJoFPiWh4yDM5y8u-pPP16X4Wn1asI9ZQ1-DGI",
        "name": "snapshot-540552936",
        "status": "provisioning",
        "filters": [
          {
            "key": "key-1986156627",
            "label": null,
            "tags": []
          }
        ],
        "composition_type": "key",
        "created": "2025-12-23T05:41:26.2960283+00:00",
        "size": 0,
        "items_count": 0,
        "tags": {},
        "retention_period": 2592000
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/operations?api-version=2023-11-01&snapshot=snapshot-540552936",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTA0OTI5Ng==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTA0OTI5Ng==;sn=101049296",
        "x-ms-date": "Tue, 23 Dec 2025 05:41:26 GMT"
      },
      "ResponseBody": {
        "id": "i88EzbSOPGV9P8plDOh1D3txWaZfrW9uU0KE8AHLXow",
        "status": "Running",
        "error": null
      }
    },
[...]
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-1986156627?api-version=2023-11-01&label=test_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTA0OTI5Nw==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"VYt6ae7dCBD4wXpHlncSmZIXTSyDB43s8HSlKzHreQQ\"",
        "Last-Modified": "Tue, 23 Dec 2025 05:41:26 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTA0OTI5OA==;sn=101049298",
        "x-ms-date": "Tue, 23 Dec 2025 05:41:47 GMT"
      },
      "ResponseBody": {
        "etag": "VYt6ae7dCBD4wXpHlncSmZIXTSyDB43s8HSlKzHreQQ",
        "key": "key-1986156627",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2025-12-23T05:41:26+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t9c954b564de572f9-azconfig-net.azconfig.io;Id=MdvE;Secret=Kg==",
    "RandomSeed": "969028528"
  }
}
