{
  "Entries": [
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-1150232656?api-version=2023-11-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"ON9ycxC7rglFZ3GBa95krZBq92J0wkc0vUkK3aql8HM\"",
        "Last-Modified": "Tue, 23 Dec 2025 05:42:19 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTA0OTMwOQ==;sn=101049309",
        "x-ms-date": "Tue, 23 Dec 2025 05:42:19 GMT"
      },
      "ResponseBody": {
        "etag": "ON9ycxC7rglFZ3GBa95krZBq92J0wkc0vUkK3aql8HM",
        "key": "key-1150232656",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2025-12-23T05:42:19+00:00"
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/snapshots/snapshot-2076208567?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTA0OTMwOQ==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "filters": [
          {
            "key": "key-1150232656",
            "tags": [
              "tag1=value1",
              "tag2=value2"
            ]
          }
        ]
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json; charset=utf-8",
        "ETag": "\"p5dVlQ0fyP5Vpdd01wbzaMsQ8qV1caohywgi0GRX3ro\"",
        "Last-Modified": "Tue, 23 Dec 2025 05:42:19 GMT",
        "Link": "</kv?snapshot=snapshot-2076208567&api-version=2023-11-01>; rel=\"items\"",
        "Operation-Location": "https://t9c954b564de572f9-azconfig-net.azconfig.io/operations?snapshot=snapshot-2076208567&api-version=2023-11-01",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTA0OTMxMA==;sn=101049310",
        "x-ms-date": "Tue, 23 Dec 2025 05:42:19 GMT"
      },
      "ResponseBody": {
        "etag": "p5dVlQ0fyP5Vpdd01wbzaMsQ8qV1caohywgi0GRX3ro",
        "name": "snapshot-2076208567",
        "status": "provisioning",
        "filters": [
          {
            "key": "key-1150232656",
            "label": null,
            "tags": [
              "tag1=value1",
              "tag2=value2"
            ]
          }
        ],
        "composition_type": "key",
        "created": "2025-12-23T05:42:19.4726313+00:00",
        "size": 0,
        "items_count": 0,
        "tags": {},
        "retention_period": 2592000
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/operations?api-version=2023-11-01&snapshot=snapshot-2076208567",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTA0OTMxMA==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTA0OTMxMA==;sn=101049310",
        "x-ms-date": "Tue, 23 Dec 2025 05:42:19 GMT"
      },
      "ResponseBody": {
        "id": "Tz_zPQHfNlLT9htUa0foJERIVDHbAoRFF-nqtnAiJIw",
        "status": "Running",
        "error": null
      }
    },
[...]
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-1150232656?api-version=2023-11-01&label=test_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTA0OTMxMg==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"ON9ycxC7rglFZ3GBa95krZBq92J0wkc0vUkK3aql8HM\"",
        "Last-Modified": "Tue, 23 Dec 2025 05:42:19 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTA0OTMxMw==;sn=101049313",
        "x-ms-date": "Tue, 23 Dec 2025 05:42:50 GMT"
      },
      "ResponseBody": {
        "etag": "ON9ycxC7rglFZ3GBa95krZBq92J0wkc0vUkK3aql8HM",
        "key": "key-1150232656",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2025-12-23T05:42:19+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t9c954b564de572f9-azconfig-net.azconfig.io;Id=MdvE;Secret=Kg==",
    "RandomSeed": "1071570084"
  }
}
