{
  "Entries": [
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/kv/Key-1207497816?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "value1",
        "content_type": null,
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"OuxMKJG2KkC9qRF8RmI6NXirx4zAXNjeyoLuvSUXH90\"",
        "Last-Modified": "Tue, 18 Nov 2025 04:22:10 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzU3ODAzODky;sn=57803892",
        "x-ms-date": "Tue, 18 Nov 2025 04:22:10 GMT"
      },
      "ResponseBody": {
        "etag": "OuxMKJG2KkC9qRF8RmI6NXirx4zAXNjeyoLuvSUXH90",
        "key": "Key-1207497816",
        "label": null,
        "content_type": null,
        "value": "value1",
        "tags": {},
        "locked": false,
        "last_modified": "2025-11-18T04:22:10+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/snapshots/snapshot-2087153216?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=Njo1IzU3ODAzODk1",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "filters": [
          {
            "key": "Key-*"
          }
        ]
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json; charset=utf-8",
        "ETag": "\"tt5xDoea7MmaO_7wEabGqLKbYphetvX_oF1vEyMDbgk\"",
        "Last-Modified": "Tue, 18 Nov 2025 04:22:10 GMT",
        "Link": "</kv?snapshot=snapshot-2087153216&api-version=2023-11-01>; rel=\"items\"",
        "Operation-Location": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/operations?snapshot=snapshot-2087153216&api-version=2023-11-01",
        "Sync-Token": "zAJw6V16=Njo1IzU3ODAzODk2;sn=57803896",
        "x-ms-date": "Tue, 18 Nov 2025 04:22:10 GMT"
      },
      "ResponseBody": {
        "etag": "tt5xDoea7MmaO_7wEabGqLKbYphetvX_oF1vEyMDbgk",
        "name": "snapshot-2087153216",
        "status": "provisioning",
        "filters": [
          {
            "key": "Key-*",
            "label": null,
            "tags": []
          }
        ],
        "composition_type": "key",
        "created": "2025-11-18T04:22:10.8305317+00:00",
        "size": 0,
        "items_count": 0,
        "tags": {},
        "retention_period": 2592000
      }
    },
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/operations?api-version=2023-11-01&snapshot=snapshot-2087153216",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Njo1IzU3ODAzODk2",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "Sync-Token": "zAJw6V16=Njo1IzU3ODAzODk2;sn=57803896",
        "x-ms-date": "Tue, 18 Nov 2025 04:22:10 GMT"
      },
      "ResponseBody": {
        "id": "NqLv0NDrm1tPE4dZU9HLRF1k3P16EUTNlERseBd3XJ0",
        "status": "Running",
        "error": null
      }
    },
[...]
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/kv?api-version=2023-11-01&snapshot=snapshot-2087153216",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Njo1IzU3ODAzODk3",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"xWU58X8RsK2KDK7IEjPJMNZ_g6xpMLGwfWYD3N81FfQ\"",
        "Sync-Token": "zAJw6V16=Njo1IzU3ODAzODk3;sn=57803897",
        "x-ms-date": "Tue, 18 Nov 2025 04:22:21 GMT"
      },
      "ResponseBody": {
        "etag": "xWU58X8RsK2KDK7IEjPJMNZ_g6xpMLGwfWYD3N81FfQ",
        "items": [
          {
            "etag": "OuxMKJG2KkC9qRF8RmI6NXirx4zAXNjeyoLuvSUXH90",
            "key": "Key-1207497816",
            "label": null,
            "content_type": null,
            "value": "value1",
            "tags": {},
            "locked": false,
            "last_modified": "2025-11-18T04:22:10+00:00"
          },
          {
            "etag": "FwjrPoWNPCWx7-g4DqlD3eUJm3psdyV6K7jAbmt1GFs",
            "key": "Key-2119781943",
            "label": null,
            "content_type": null,
            "value": "value2",
            "tags": {},
            "locked": false,
            "last_modified": "2025-11-18T04:22:10+00:00"
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/kv/Key2806738428?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Njo1IzU3ODAzOTAw",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"IAvvjn6WiYjI0xnDH89-ahhWYDv3BXlOYoFNarIYoMk\"",
        "Last-Modified": "Tue, 18 Nov 2025 04:22:10 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzU3ODAzOTAx;sn=57803901",
        "x-ms-date": "Tue, 18 Nov 2025 04:22:21 GMT"
      },
      "ResponseBody": {
        "etag": "IAvvjn6WiYjI0xnDH89-ahhWYDv3BXlOYoFNarIYoMk",
        "key": "Key2806738428",
        "label": null,
        "content_type": null,
        "value": "value4",
        "tags": {},
        "locked": false,
        "last_modified": "2025-11-18T04:22:10+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t8cdd9157ca7d1363-azconfig-net.azconfig.io;Id=wNKY;Secret=Kg==",
    "RandomSeed": "1562009882"
  }
}
