{
  "Entries": [
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv/Key-11386404678?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "value": "value1",
        "content_type": null,
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"mqWMP-o6blEfU75ctQZBqRNPsM1_185Av3efuwdVhAg\"",
        "Last-Modified": "Tue, 09 Jun 2026 23:01:18 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY2OTk2MTE4;sn=66996118",
        "x-ms-date": "Tue, 09 Jun 2026 23:01:18 GMT"
      },
      "ResponseBody": {
        "etag": "mqWMP-o6blEfU75ctQZBqRNPsM1_185Av3efuwdVhAg",
        "key": "Key-11386404678",
        "label": null,
        "content_type": null,
        "value": "value1",
        "tags": {},
        "locked": false,
        "last_modified": "2026-06-09T23:01:18+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/snapshots/snapshot-851563929?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=Mzo1IzY2OTk2MTIx"
      },
      "RequestBody": {
        "filters": [
          {
            "key": "Key-*"
          }
        ]
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json; charset=utf-8",
        "ETag": "\"MhbOjHPM-Afdl-EfBy5QQaZ6jc_sx4zdv3-RatT0mPg\"",
        "Last-Modified": "Tue, 09 Jun 2026 23:01:19 GMT",
        "Link": "</kv?snapshot=snapshot-851563929&api-version=2023-11-01>; rel=\"items\"",
        "Operation-Location": "https://mrm90847047-azconfig-net.azconfig.io/operations?snapshot=snapshot-851563929&api-version=2023-11-01",
        "Sync-Token": "zAJw6V16=Mzo1IzY2OTk2MTIy;sn=66996122",
        "x-ms-date": "Tue, 09 Jun 2026 23:01:19 GMT"
      },
      "ResponseBody": {
        "etag": "MhbOjHPM-Afdl-EfBy5QQaZ6jc_sx4zdv3-RatT0mPg",
        "name": "snapshot-851563929",
        "status": "provisioning",
        "filters": [
          {
            "key": "Key-*",
            "label": null,
            "tags": []
          }
        ],
        "composition_type": "key",
        "created": "2026-06-09T23:01:19.11624+00:00",
        "size": 0,
        "items_count": 0,
        "tags": {},
        "retention_period": 2592000
      }
    },
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/operations?api-version=2023-11-01&snapshot=snapshot-851563929",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Mzo1IzY2OTk2MTIy"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "Sync-Token": "zAJw6V16=Mzo1IzY2OTk2MTIy;sn=66996122",
        "x-ms-date": "Tue, 09 Jun 2026 23:01:19 GMT"
      },
      "ResponseBody": {
        "id": "zZSTmOelwc0TCyvRrdX6sIl6ZGC2Tqe9jF1brEGKjiQ",
        "status": "Running",
        "error": null
      }
    },
[...]
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv?api-version=2023-11-01&snapshot=snapshot-851563929",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Mzo1IzY2OTk2MTIz"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"sDugqAMRwHl1cAXLOgZnnARMYqkIgy2d4d9Sk7o20F8\"",
        "Sync-Token": "zAJw6V16=Mzo1IzY2OTk2MTIz;sn=66996123",
        "x-ms-date": "Tue, 09 Jun 2026 23:01:29 GMT"
      },
      "ResponseBody": {
        "etag": "sDugqAMRwHl1cAXLOgZnnARMYqkIgy2d4d9Sk7o20F8",
        "items": [
          {
            "etag": "mqWMP-o6blEfU75ctQZBqRNPsM1_185Av3efuwdVhAg",
            "key": "Key-11386404678",
            "label": null,
            "content_type": null,
            "value": "value1",
            "tags": {},
            "locked": false,
            "last_modified": "2026-06-09T23:01:18+00:00"
          },
          {
            "etag": "ICVnUlMGiFsITZI4bcMlQqHvszqTdvVsoY8lcjFlVio",
            "key": "Key-2538124787",
            "label": null,
            "content_type": null,
            "value": "value2",
            "tags": {},
            "locked": false,
            "last_modified": "2026-06-09T23:01:18+00:00"
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv/Key21280695690?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Mzo1IzY2OTk2MTI2"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"7GvGA-D1deOqMTbyJVz7JtKZz3ORDGHFX86kiFoP8T4\"",
        "Last-Modified": "Tue, 09 Jun 2026 23:01:19 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY2OTk2MTI3;sn=66996127",
        "x-ms-date": "Tue, 09 Jun 2026 23:01:29 GMT"
      },
      "ResponseBody": {
        "etag": "7GvGA-D1deOqMTbyJVz7JtKZz3ORDGHFX86kiFoP8T4",
        "key": "Key21280695690",
        "label": null,
        "content_type": null,
        "value": "value4",
        "tags": {},
        "locked": false,
        "last_modified": "2026-06-09T23:01:19+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_ENDPOINT_STRING": "https://mrm90847047-azconfig-net.azconfig.io",
    "RandomSeed": "1992213801"
  }
}
