{
  "Entries": [
    {
      "RequestUri": "https://azure-sdk-for-net-test.azconfig.io/kv/KeyBar-1284123563?api-version=2026-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "value1",
        "content_type": null,
        "tags": {
          "foo": "bar"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"j6-LuRT4dzT-mDB1QPvHeGOII54FPNlc1LCF7-H2Usc\"",
        "Last-Modified": "Fri, 29 May 2026 19:53:06 GMT",
        "Sync-Token": "zAJw6V16=NToxNyM0ODE0Nzg0Nw==;sn=48147847",
        "x-ms-date": "Fri, 29 May 2026 19:53:06 GMT"
      },
      "ResponseBody": {
        "etag": "j6-LuRT4dzT-mDB1QPvHeGOII54FPNlc1LCF7-H2Usc",
        "key": "KeyBar-1284123563",
        "label": null,
        "content_type": null,
        "value": "value1",
        "description": null,
        "tags": {
          "foo": "bar"
        },
        "locked": false,
        "last_modified": "2026-05-29T19:53:06+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://azure-sdk-for-net-test.azconfig.io/snapshots/snapshot-1445682104?api-version=2026-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NToxNyM0ODE0Nzg1MA==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "filters": [
          {
            "key": "KeyBar-*",
            "tags": [
              "uknown=tag"
            ]
          }
        ],
        "retention_period": 3600
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json; charset=utf-8",
        "ETag": "\"bYBoze0ksCHBFIrb9XYvyeqAZxn4mvOmUChdGnm_BJA\"",
        "Last-Modified": "Fri, 29 May 2026 19:53:07 GMT",
        "Link": "</kv?snapshot=snapshot-1445682104&api-version=2026-04-01>; rel=\"items\"",
        "Operation-Location": "https://azure-sdk-for-net-test.azconfig.io/operations?snapshot=snapshot-1445682104&api-version=2026-04-01",
        "Sync-Token": "zAJw6V16=NToxNyM0ODE0Nzg1MQ==;sn=48147851",
        "x-ms-date": "Fri, 29 May 2026 19:53:07 GMT"
      },
      "ResponseBody": {
        "etag": "bYBoze0ksCHBFIrb9XYvyeqAZxn4mvOmUChdGnm_BJA",
        "name": "snapshot-1445682104",
        "description": null,
        "status": "provisioning",
        "filters": [
          {
            "key": "KeyBar-*",
            "label": null,
            "tags": [
              "uknown=tag"
            ]
          }
        ],
        "composition_type": "key",
        "created": "2026-05-29T19:53:07.0163305+00:00",
        "size": 0,
        "items_count": 0,
        "tags": {},
        "retention_period": 3600
      }
    },
    {
      "RequestUri": "https://azure-sdk-for-net-test.azconfig.io/operations?api-version=2026-04-01&snapshot=snapshot-1445682104",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NToxNyM0ODE0Nzg1MQ==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "Sync-Token": "zAJw6V16=NToxNyM0ODE0Nzg1MQ==;sn=48147851",
        "x-ms-date": "Fri, 29 May 2026 19:53:07 GMT"
      },
      "ResponseBody": {
        "id": "xTs_SxXFDFY2xyhcSKgsDG8mn3dlBRo8N6_MFhiOenY",
        "status": "Running",
        "error": null
      }
    },
[...]
    {
      "RequestUri": "https://azure-sdk-for-net-test.azconfig.io/kv?api-version=2026-04-01&snapshot=snapshot-1445682104",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NToxNyM0ODE0Nzg1Mw==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"00wWELzclWef22f82qcUDI7FbJweVOoKWZDA_JoUeD0\"",
        "Sync-Token": "zAJw6V16=NToxNyM0ODE0Nzg1Mw==;sn=48147853",
        "x-ms-date": "Fri, 29 May 2026 19:53:17 GMT"
      },
      "ResponseBody": {
        "etag": "00wWELzclWef22f82qcUDI7FbJweVOoKWZDA_JoUeD0",
        "items": []
      }
    },
[...]
    {
      "RequestUri": "https://azure-sdk-for-net-test.azconfig.io/kv/KeyBar-41249711352?api-version=2026-04-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NToxNyM0ODE0Nzg1Ng==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"t6EWl5tXwnSfIjNpe5FJADTZWYHDJLIydru2i64D_Io\"",
        "Last-Modified": "Fri, 29 May 2026 19:53:06 GMT",
        "Sync-Token": "zAJw6V16=NToxNyM0ODE0Nzg1Nw==;sn=48147857",
        "x-ms-date": "Fri, 29 May 2026 19:53:17 GMT"
      },
      "ResponseBody": {
        "etag": "t6EWl5tXwnSfIjNpe5FJADTZWYHDJLIydru2i64D_Io",
        "key": "KeyBar-41249711352",
        "label": null,
        "content_type": null,
        "value": "value4",
        "description": null,
        "tags": {},
        "locked": false,
        "last_modified": "2026-05-29T19:53:06+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://azure-sdk-for-net-test.azconfig.io;Id=8ePU;Secret=Kg==",
    "RandomSeed": "1722323691"
  }
}
