{
  "Entries": [
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv/KeyBar-1314437123?api-version=2026-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "value": "value1",
        "content_type": null,
        "tags": {
          "foo": "bar"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"nU_VlbG-rTf--g9TKXe56zDBHb62tfXEOIpw9evBq4g\"",
        "Last-Modified": "Wed, 10 Jun 2026 21:31:02 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDk0MjI5;sn=67094229",
        "x-ms-date": "Wed, 10 Jun 2026 21:31:02 GMT"
      },
      "ResponseBody": {
        "etag": "nU_VlbG-rTf--g9TKXe56zDBHb62tfXEOIpw9evBq4g",
        "key": "KeyBar-1314437123",
        "label": null,
        "content_type": null,
        "value": "value1",
        "description": null,
        "tags": {
          "foo": "bar"
        },
        "locked": false,
        "last_modified": "2026-06-10T21:31:02+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/snapshots/snapshot-912839142?api-version=2026-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDk0MjMy"
      },
      "RequestBody": {
        "filters": [
          {
            "key": "KeyBar-*",
            "tags": [
              "uknown=tag"
            ]
          }
        ],
        "retention_period": 3600,
        "description": "Test snapshot description"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json; charset=utf-8",
        "ETag": "\"KgQc1v5P3j0Zh4lIt4ofXOVuzBtyX0FIBVA2W7BMn-w\"",
        "Last-Modified": "Wed, 10 Jun 2026 21:31:02 GMT",
        "Link": "</kv?snapshot=snapshot-912839142&api-version=2026-04-01>; rel=\"items\"",
        "Operation-Location": "https://mrm90847047-azconfig-net.azconfig.io/operations?snapshot=snapshot-912839142&api-version=2026-04-01",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDk0MjMz;sn=67094233",
        "x-ms-date": "Wed, 10 Jun 2026 21:31:02 GMT"
      },
      "ResponseBody": {
        "etag": "KgQc1v5P3j0Zh4lIt4ofXOVuzBtyX0FIBVA2W7BMn-w",
        "name": "snapshot-912839142",
        "description": "Test snapshot description",
        "status": "provisioning",
        "filters": [
          {
            "key": "KeyBar-*",
            "label": null,
            "tags": [
              "uknown=tag"
            ]
          }
        ],
        "composition_type": "key",
        "created": "2026-06-10T21:31:02.7281217+00:00",
        "size": 0,
        "items_count": 0,
        "tags": {},
        "retention_period": 3600
      }
    },
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/operations?api-version=2026-04-01&snapshot=snapshot-912839142",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDk0MjMz"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDk0MjMz;sn=67094233",
        "x-ms-date": "Wed, 10 Jun 2026 21:31:02 GMT"
      },
      "ResponseBody": {
        "id": "5YQgMUPg2cdNo6CjCe0Jltfqj96HB3nF3K2J3jzyC3I",
        "status": "Running",
        "error": null
      }
    },
[...]
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv?api-version=2026-04-01&snapshot=snapshot-912839142",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDk0MjM0"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"00wWELzclWef22f82qcUDI7FbJweVOoKWZDA_JoUeD0\"",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDk0MjM0;sn=67094234",
        "x-ms-date": "Wed, 10 Jun 2026 21:31:13 GMT"
      },
      "ResponseBody": {
        "etag": "00wWELzclWef22f82qcUDI7FbJweVOoKWZDA_JoUeD0",
        "items": []
      }
    },
[...]
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv/KeyBar-4169828849?api-version=2026-04-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDk0MjM3"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"BhD5On_DgpX0275C-jvH6MqLtYjac6DtFDgsumxnykU\"",
        "Last-Modified": "Wed, 10 Jun 2026 21:31:02 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDk0MjM4;sn=67094238",
        "x-ms-date": "Wed, 10 Jun 2026 21:31:13 GMT"
      },
      "ResponseBody": {
        "etag": "BhD5On_DgpX0275C-jvH6MqLtYjac6DtFDgsumxnykU",
        "key": "KeyBar-4169828849",
        "label": null,
        "content_type": null,
        "value": "value4",
        "description": null,
        "tags": {},
        "locked": false,
        "last_modified": "2026-06-10T21:31:02+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_ENDPOINT_STRING": "https://mrm90847047-azconfig-net.azconfig.io",
    "RandomSeed": "852487562"
  }
}
