{
  "Entries": [
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-824368064?api-version=2023-11-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"5GbWgv3I2vCYQu8h7lq87ZKsGOhr6Dk_fURH3ZqzTAc\"",
        "Last-Modified": "Thu, 22 Jan 2026 01:37:11 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzQ3MzgzMQ==;sn=103473831",
        "x-ms-date": "Thu, 22 Jan 2026 01:37:11 GMT"
      },
      "ResponseBody": {
        "etag": "5GbWgv3I2vCYQu8h7lq87ZKsGOhr6Dk_fURH3ZqzTAc",
        "key": "key-824368064",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-01-22T01:37:11+00:00"
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/snapshots/snapshot-342119050?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzQ3MzgzMQ==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "filters": [
          {
            "key": "key-824368064"
          }
        ]
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json; charset=utf-8",
        "ETag": "\"Q-VDlde27Fzq9eBzzDfCXwV8uyiErouiyoxZRpCfmbI\"",
        "Last-Modified": "Thu, 22 Jan 2026 01:37:11 GMT",
        "Link": "</kv?snapshot=snapshot-342119050&api-version=2023-11-01>; rel=\"items\"",
        "Operation-Location": "https://t9c954b564de572f9-azconfig-net.azconfig.io/operations?snapshot=snapshot-342119050&api-version=2023-11-01",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzQ3MzgzMg==;sn=103473832",
        "x-ms-date": "Thu, 22 Jan 2026 01:37:11 GMT"
      },
      "ResponseBody": {
        "etag": "Q-VDlde27Fzq9eBzzDfCXwV8uyiErouiyoxZRpCfmbI",
        "name": "snapshot-342119050",
        "status": "provisioning",
        "filters": [
          {
            "key": "key-824368064",
            "label": null,
            "tags": []
          }
        ],
        "composition_type": "key",
        "created": "2026-01-22T01:37:11.8442006+00:00",
        "size": 0,
        "items_count": 0,
        "tags": {},
        "retention_period": 2592000
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/operations?api-version=2023-11-01&snapshot=snapshot-342119050",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzQ3MzgzMg==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzQ3MzgzMg==;sn=103473832",
        "x-ms-date": "Thu, 22 Jan 2026 01:37:11 GMT"
      },
      "ResponseBody": {
        "id": "-EJLaueXewCiJkvkTw3k-uRaNaL_0dFK6AJqoGv4JuU",
        "status": "Running",
        "error": null
      }
    },
[...]
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-824368064?api-version=2023-11-01&label=test_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzQ3MzgzMw==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"5GbWgv3I2vCYQu8h7lq87ZKsGOhr6Dk_fURH3ZqzTAc\"",
        "Last-Modified": "Thu, 22 Jan 2026 01:37:11 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzQ3MzgzNA==;sn=103473834",
        "x-ms-date": "Thu, 22 Jan 2026 01:37:32 GMT"
      },
      "ResponseBody": {
        "etag": "5GbWgv3I2vCYQu8h7lq87ZKsGOhr6Dk_fURH3ZqzTAc",
        "key": "key-824368064",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-01-22T01:37:11+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t9c954b564de572f9-azconfig-net.azconfig.io;Id=MdvE;Secret=Kg==",
    "RandomSeed": "937305916"
  }
}
