{
  "Entries": [
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-1508020614?api-version=2023-11-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"z7oLWqipUrdCa4ftB5PnFi96SxTi9XwlTeUr9wz3vRM\"",
        "Last-Modified": "Tue, 06 Jan 2026 01:22:55 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTc2NjgxNw==;sn=101766817",
        "x-ms-date": "Tue, 06 Jan 2026 01:22:55 GMT"
      },
      "ResponseBody": {
        "etag": "z7oLWqipUrdCa4ftB5PnFi96SxTi9XwlTeUr9wz3vRM",
        "key": "key-1508020614",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-01-06T01:22:55+00:00"
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/snapshots/snapshot-1673474597?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTc2NjgxNw==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "filters": [
          {
            "key": "key-1508020614"
          }
        ]
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json; charset=utf-8",
        "ETag": "\"pE7Xz0hqGJGVq1Vj08c8NWd4XHzyDqkhe3G-r1TAj5c\"",
        "Last-Modified": "Tue, 06 Jan 2026 01:22:55 GMT",
        "Link": "</kv?snapshot=snapshot-1673474597&api-version=2023-11-01>; rel=\"items\"",
        "Operation-Location": "https://t9c954b564de572f9-azconfig-net.azconfig.io/operations?snapshot=snapshot-1673474597&api-version=2023-11-01",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTc2NjgxOA==;sn=101766818",
        "x-ms-date": "Tue, 06 Jan 2026 01:22:55 GMT"
      },
      "ResponseBody": {
        "etag": "pE7Xz0hqGJGVq1Vj08c8NWd4XHzyDqkhe3G-r1TAj5c",
        "name": "snapshot-1673474597",
        "status": "provisioning",
        "filters": [
          {
            "key": "key-1508020614",
            "label": null,
            "tags": []
          }
        ],
        "composition_type": "key",
        "created": "2026-01-06T01:22:55.718743+00:00",
        "size": 0,
        "items_count": 0,
        "tags": {},
        "retention_period": 2592000
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/operations?api-version=2023-11-01&snapshot=snapshot-1673474597",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTc2NjgxOA==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTc2NjgxOA==;sn=101766818",
        "x-ms-date": "Tue, 06 Jan 2026 01:22:55 GMT"
      },
      "ResponseBody": {
        "id": "-b_lDWrhJoGCcOak3jF8Yah65opwtzUQaHMEW24j18w",
        "status": "Running",
        "error": null
      }
    },
[...]
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-1508020614?api-version=2023-11-01&label=test_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTc2Njg2OQ==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"z7oLWqipUrdCa4ftB5PnFi96SxTi9XwlTeUr9wz3vRM\"",
        "Last-Modified": "Tue, 06 Jan 2026 01:22:55 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTc2Njg3MA==;sn=101766870",
        "x-ms-date": "Tue, 06 Jan 2026 01:23:16 GMT"
      },
      "ResponseBody": {
        "etag": "z7oLWqipUrdCa4ftB5PnFi96SxTi9XwlTeUr9wz3vRM",
        "key": "key-1508020614",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-01-06T01:22:55+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t9c954b564de572f9-azconfig-net.azconfig.io;Id=MdvE;Secret=Kg==",
    "RandomSeed": "1765604537"
  }
}
