{
  "Entries": [
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-2008479906?api-version=2023-11-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"Gj7p9hvT8U51Rby0tMfk-FzTSihiV56hks36covtja0\"",
        "Last-Modified": "Tue, 06 Jan 2026 06:34:16 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTc3MzUzNw==;sn=101773537",
        "x-ms-date": "Tue, 06 Jan 2026 06:34:16 GMT"
      },
      "ResponseBody": {
        "etag": "Gj7p9hvT8U51Rby0tMfk-FzTSihiV56hks36covtja0",
        "key": "key-2008479906",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-01-06T06:34:16+00:00"
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/snapshots/snapshot-131719554?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTc3MzUzNw==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "filters": [
          {
            "key": "key-2008479906",
            "tags": [
              "tag1=value1",
              "tag2=value2"
            ]
          }
        ]
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json; charset=utf-8",
        "ETag": "\"aEOjMeVksxYU0TspY_bpCtowHveOEoaSeyFZvuCtxtQ\"",
        "Last-Modified": "Tue, 06 Jan 2026 06:34:16 GMT",
        "Link": "</kv?snapshot=snapshot-131719554&api-version=2023-11-01>; rel=\"items\"",
        "Operation-Location": "https://t9c954b564de572f9-azconfig-net.azconfig.io/operations?snapshot=snapshot-131719554&api-version=2023-11-01",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTc3MzUzOA==;sn=101773538",
        "x-ms-date": "Tue, 06 Jan 2026 06:34:16 GMT"
      },
      "ResponseBody": {
        "etag": "aEOjMeVksxYU0TspY_bpCtowHveOEoaSeyFZvuCtxtQ",
        "name": "snapshot-131719554",
        "status": "provisioning",
        "filters": [
          {
            "key": "key-2008479906",
            "label": null,
            "tags": [
              "tag1=value1",
              "tag2=value2"
            ]
          }
        ],
        "composition_type": "key",
        "created": "2026-01-06T06:34:16.5349517+00:00",
        "size": 0,
        "items_count": 0,
        "tags": {},
        "retention_period": 2592000
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/operations?api-version=2023-11-01&snapshot=snapshot-131719554",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTc3MzUzOA==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTc3MzUzOA==;sn=101773538",
        "x-ms-date": "Tue, 06 Jan 2026 06:34:16 GMT"
      },
      "ResponseBody": {
        "id": "mpPjZw09L2ynr6JMPUkv7Ai_L5rr9WAt0kejZ1Qzvl8",
        "status": "Running",
        "error": null
      }
    },
[...]
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-2008479906?api-version=2023-11-01&label=test_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTc3MzUzOQ==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"Gj7p9hvT8U51Rby0tMfk-FzTSihiV56hks36covtja0\"",
        "Last-Modified": "Tue, 06 Jan 2026 06:34:16 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTc3MzU0MA==;sn=101773540",
        "x-ms-date": "Tue, 06 Jan 2026 06:34:27 GMT"
      },
      "ResponseBody": {
        "etag": "Gj7p9hvT8U51Rby0tMfk-FzTSihiV56hks36covtja0",
        "key": "key-2008479906",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-01-06T06:34:16+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t9c954b564de572f9-azconfig-net.azconfig.io;Id=MdvE;Secret=Kg==",
    "RandomSeed": "341088430"
  }
}
