{
  "Entries": [
    {
      "RequestUri": "https://tdfcae3cf5eab7143-azconfig-net.azconfig.io/kv/KeyBar-11139909186?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "value1",
        "content_type": null,
        "tags": {
          "foo": "bar"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"WkPY-RljQGVzLIE8u8rGEW61kLsGuCHivGMpEOKzfPI\"",
        "Last-Modified": "Wed, 24 Jul 2024 15:48:58 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzMyMjcxODcx;sn=32271871"
      },
      "ResponseBody": {
        "etag": "WkPY-RljQGVzLIE8u8rGEW61kLsGuCHivGMpEOKzfPI",
        "key": "KeyBar-11139909186",
        "label": null,
        "content_type": null,
        "value": "value1",
        "tags": {
          "foo": "bar"
        },
        "locked": false,
        "last_modified": "2024-07-24T15:48:58+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://tdfcae3cf5eab7143-azconfig-net.azconfig.io/snapshots/snapshot-1310314806?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=Njo1IzMyMjcxODc0",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "filters": [
          {
            "key": "KeyBar-*",
            "tags": [
              "uknown=tag"
            ]
          }
        ]
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json; charset=utf-8",
        "ETag": "\"JOpCMNj24n3inFmJ6r4bKYnp1pgCflpxFsMzE-jbGBk\"",
        "Last-Modified": "Wed, 24 Jul 2024 15:48:59 GMT",
        "Link": "</kv?snapshot=snapshot-1310314806&api-version=2023-11-01>; rel=\"items\"",
        "Operation-Location": "https://tdfcae3cf5eab7143-azconfig-net.azconfig.io/operations?snapshot=snapshot-1310314806&api-version=2023-11-01",
        "Sync-Token": "zAJw6V16=Njo1IzMyMjcxODc1;sn=32271875"
      },
      "ResponseBody": {
        "etag": "JOpCMNj24n3inFmJ6r4bKYnp1pgCflpxFsMzE-jbGBk",
        "name": "snapshot-1310314806",
        "status": "provisioning",
        "filters": [
          {
            "key": "KeyBar-*",
            "label": null,
            "tags": [
              "uknown=tag"
            ]
          }
        ],
        "composition_type": "key",
        "created": "2024-07-24T15:48:59+00:00",
        "size": 0,
        "items_count": 0,
        "tags": {},
        "retention_period": 2592000
      }
    },
    {
      "RequestUri": "https://tdfcae3cf5eab7143-azconfig-net.azconfig.io/operations?snapshot=snapshot-1310314806&api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Njo1IzMyMjcxODc1",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "Sync-Token": "zAJw6V16=Njo1IzMyMjcxODc1;sn=32271875"
      },
      "ResponseBody": {
        "id": "87gBzbGpUKJcdin4WItSojkbT72LbdhEIPLuJYxqt1A",
        "status": "Running",
        "error": null
      }
    },
[...]
    {
      "RequestUri": "https://tdfcae3cf5eab7143-azconfig-net.azconfig.io/kv?api-version=2023-11-01&snapshot=snapshot-1310314806",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Njo1IzMyMjcxODc3",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"00wWELzclWef22f82qcUDI7FbJweVOoKWZDA_JoUeD0\"",
        "Sync-Token": "zAJw6V16=Njo1IzMyMjcxODc3;sn=32271877"
      },
      "ResponseBody": {
        "etag": "00wWELzclWef22f82qcUDI7FbJweVOoKWZDA_JoUeD0",
        "items": []
      }
    },
[...]
    {
      "RequestUri": "https://tdfcae3cf5eab7143-azconfig-net.azconfig.io/kv/KeyBar-41917251423?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Njo1IzMyMjcxODgw",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"48s18RqJ-hiEaXoJ-vrdjlJgd1ZGYRQGhdzzbGnR63g\"",
        "Last-Modified": "Wed, 24 Jul 2024 15:48:59 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzMyMjcxODgx;sn=32271881"
      },
      "ResponseBody": {
        "etag": "48s18RqJ-hiEaXoJ-vrdjlJgd1ZGYRQGhdzzbGnR63g",
        "key": "KeyBar-41917251423",
        "label": null,
        "content_type": null,
        "value": "value4",
        "tags": {},
        "locked": false,
        "last_modified": "2024-07-24T15:48:59+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://tdfcae3cf5eab7143-azconfig-net.azconfig.io;Id=MEKF;Secret=Kg==",
    "RandomSeed": "958714073"
  }
}
