{
  "Entries": [
    {
      "RequestUri": "https://azure-sdk-for-net-test.azconfig.io/kv/key-1127710127?api-version=2026-04-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"mBZ2QgRM03Yy6dgGQPIX8T6XEx45gjMfv4su5wenouE\"",
        "Last-Modified": "Fri, 29 May 2026 19:58:45 GMT",
        "Sync-Token": "zAJw6V16=NToxNyM0ODE0OTEwNQ==;sn=48149105",
        "x-ms-date": "Fri, 29 May 2026 19:58:45 GMT"
      },
      "ResponseBody": {
        "etag": "mBZ2QgRM03Yy6dgGQPIX8T6XEx45gjMfv4su5wenouE",
        "key": "key-1127710127",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "description": null,
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-05-29T19:58:45+00:00"
      }
    },
    {
      "RequestUri": "https://azure-sdk-for-net-test.azconfig.io/snapshots/snapshot-1969550805?api-version=2026-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NToxNyM0ODE0OTEwNQ==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "filters": [
          {
            "key": "key-1127710127",
            "tags": [
              "tag1=value1",
              "tag2=value2"
            ]
          }
        ],
        "retention_period": 3600
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json; charset=utf-8",
        "ETag": "\"ZqLvQy06e1LUgaBHvTz2A0Vxp62j65sDIfwUVwDBuIk\"",
        "Last-Modified": "Fri, 29 May 2026 19:58:45 GMT",
        "Link": "</kv?snapshot=snapshot-1969550805&api-version=2026-04-01>; rel=\"items\"",
        "Operation-Location": "https://azure-sdk-for-net-test.azconfig.io/operations?snapshot=snapshot-1969550805&api-version=2026-04-01",
        "Sync-Token": "zAJw6V16=NToxNyM0ODE0OTEwNg==;sn=48149106",
        "x-ms-date": "Fri, 29 May 2026 19:58:45 GMT"
      },
      "ResponseBody": {
        "etag": "ZqLvQy06e1LUgaBHvTz2A0Vxp62j65sDIfwUVwDBuIk",
        "name": "snapshot-1969550805",
        "description": null,
        "status": "provisioning",
        "filters": [
          {
            "key": "key-1127710127",
            "label": null,
            "tags": [
              "tag1=value1",
              "tag2=value2"
            ]
          }
        ],
        "composition_type": "key",
        "created": "2026-05-29T19:58:45.2094067+00:00",
        "size": 0,
        "items_count": 0,
        "tags": {},
        "retention_period": 3600
      }
    },
    {
      "RequestUri": "https://azure-sdk-for-net-test.azconfig.io/operations?api-version=2026-04-01&snapshot=snapshot-1969550805",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NToxNyM0ODE0OTEwNg==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "Sync-Token": "zAJw6V16=NToxNyM0ODE0OTEwNg==;sn=48149106",
        "x-ms-date": "Fri, 29 May 2026 19:58:45 GMT"
      },
      "ResponseBody": {
        "id": "d_fsxfhTiJoKZ8efsK9TWKig4j0GSvW8PCHoh-pBeBY",
        "status": "Running",
        "error": null
      }
    },
[...]
    {
      "RequestUri": "https://azure-sdk-for-net-test.azconfig.io/kv/key-1127710127?api-version=2026-04-01&label=test_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NToxNyM0ODE0OTExMA==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"mBZ2QgRM03Yy6dgGQPIX8T6XEx45gjMfv4su5wenouE\"",
        "Last-Modified": "Fri, 29 May 2026 19:58:45 GMT",
        "Sync-Token": "zAJw6V16=NToxNyM0ODE0OTExMQ==;sn=48149111",
        "x-ms-date": "Fri, 29 May 2026 19:59:05 GMT"
      },
      "ResponseBody": {
        "etag": "mBZ2QgRM03Yy6dgGQPIX8T6XEx45gjMfv4su5wenouE",
        "key": "key-1127710127",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "description": null,
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-05-29T19:58:45+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://azure-sdk-for-net-test.azconfig.io;Id=8ePU;Secret=Kg==",
    "RandomSeed": "2088338023"
  }
}
