{
  "Entries": [
    {
      "RequestUri": "https://tdfcae3cf5eab7143-azconfig-net.azconfig.io/kv/Key-11032728462?api-version=2023-10-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "value1",
        "content_type": null,
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"C5DL3-PIwtMneF5W9o_CWofsV2o_AaSUgW1_RkahtfI\"",
        "Last-Modified": "Wed, 12 Jun 2024 21:55:25 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzMwMzMxMzA0;sn=30331304"
      },
      "ResponseBody": {
        "etag": "C5DL3-PIwtMneF5W9o_CWofsV2o_AaSUgW1_RkahtfI",
        "key": "Key-11032728462",
        "label": null,
        "content_type": null,
        "value": "value1",
        "tags": {},
        "locked": false,
        "last_modified": "2024-06-12T21:55:25+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://tdfcae3cf5eab7143-azconfig-net.azconfig.io/snapshots/snapshot-1681103803?api-version=2023-10-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=Njo1IzMwMzMxMzA3",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "filters": [
          {
            "key": "Key-*",
            "tags": []
          }
        ]
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json; charset=utf-8",
        "ETag": "\"3c69rV5_p6XFhbyEniDKwMnApcMVxCM_6pFBoFNGkKM\"",
        "Last-Modified": "Wed, 12 Jun 2024 21:55:25 GMT",
        "Link": "</kv?snapshot=snapshot-1681103803&api-version=2023-10-01>; rel=\"items\"",
        "Operation-Location": "https://tdfcae3cf5eab7143-azconfig-net.azconfig.io/operations?snapshot=snapshot-1681103803&api-version=2023-10-01",
        "Sync-Token": "zAJw6V16=Njo1IzMwMzMxMzA4;sn=30331308"
      },
      "ResponseBody": {
        "etag": "3c69rV5_p6XFhbyEniDKwMnApcMVxCM_6pFBoFNGkKM",
        "name": "snapshot-1681103803",
        "status": "provisioning",
        "filters": [
          {
            "key": "Key-*",
            "label": null
          }
        ],
        "composition_type": "key",
        "created": "2024-06-12T21:55:25+00:00",
        "size": 0,
        "items_count": 0,
        "tags": {},
        "retention_period": 2592000
      }
    },
    {
      "RequestUri": "https://tdfcae3cf5eab7143-azconfig-net.azconfig.io/operations?snapshot=snapshot-1681103803&api-version=2023-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Njo1IzMwMzMxMzA4",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "Sync-Token": "zAJw6V16=Njo1IzMwMzMxMzA4;sn=30331308"
      },
      "ResponseBody": {
        "id": "IX1LBN-bOFbHuX2xDsEjXWm4aRNDNt08sKabC11QXOs",
        "status": "Running",
        "error": null
      }
    },
[...]
    {
      "RequestUri": "https://tdfcae3cf5eab7143-azconfig-net.azconfig.io/kv?api-version=2023-10-01&snapshot=snapshot-1681103803",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Njo1IzMwMzMxMzIx",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"_zmS7fyliRNqXaNYKKFnVY2N02wnqOdgsaCYOxd58T8\"",
        "Sync-Token": "zAJw6V16=Njo1IzMwMzMxMzIx;sn=30331321"
      },
      "ResponseBody": {
        "etag": "_zmS7fyliRNqXaNYKKFnVY2N02wnqOdgsaCYOxd58T8",
        "items": [
          {
            "etag": "C5DL3-PIwtMneF5W9o_CWofsV2o_AaSUgW1_RkahtfI",
            "key": "Key-11032728462",
            "label": null,
            "content_type": null,
            "value": "value1",
            "tags": {},
            "locked": false,
            "last_modified": "2024-06-12T21:55:25+00:00"
          },
          {
            "etag": "DmTC3ItQEFcKlu84O96gW0g5sr5odg8XI7esKa8FJSg",
            "key": "Key-21805727657",
            "label": null,
            "content_type": null,
            "value": "value2",
            "tags": {},
            "locked": false,
            "last_modified": "2024-06-12T21:55:25+00:00"
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://tdfcae3cf5eab7143-azconfig-net.azconfig.io/kv/Key21796910597?api-version=2023-10-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Njo1IzMwMzMxMzI0",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"OlukC9ttLqsT4Fm4wBhDMWKUWZrFIq9LhGRdu26Hs2g\"",
        "Last-Modified": "Wed, 12 Jun 2024 21:55:25 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzMwMzMxMzI1;sn=30331325"
      },
      "ResponseBody": {
        "etag": "OlukC9ttLqsT4Fm4wBhDMWKUWZrFIq9LhGRdu26Hs2g",
        "key": "Key21796910597",
        "label": null,
        "content_type": null,
        "value": "value4",
        "tags": {},
        "locked": false,
        "last_modified": "2024-06-12T21:55:25+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://tdfcae3cf5eab7143-azconfig-net.azconfig.io;Id=yt5R;Secret=Kg==",
    "RandomSeed": "1873666915"
  }
}
