{
  "Entries": [
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/KeyBar-1554917534?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "value1",
        "content_type": null,
        "tags": {
          "foo": "bar"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"maZIkNbpAL9aYmaIzgHznHegB0F43NxxQDjpWM5wp-w\"",
        "Last-Modified": "Tue, 06 Jan 2026 01:16:34 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTc2NTc5Mg==;sn=101765792",
        "x-ms-date": "Tue, 06 Jan 2026 01:16:34 GMT"
      },
      "ResponseBody": {
        "etag": "maZIkNbpAL9aYmaIzgHznHegB0F43NxxQDjpWM5wp-w",
        "key": "KeyBar-1554917534",
        "label": null,
        "content_type": null,
        "value": "value1",
        "tags": {
          "foo": "bar"
        },
        "locked": false,
        "last_modified": "2026-01-06T01:16:34+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/snapshots/snapshot-1993798582?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTc2NTc5NQ==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "filters": [
          {
            "key": "KeyBar-*",
            "tags": [
              "uknown=tag"
            ]
          }
        ]
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json; charset=utf-8",
        "ETag": "\"hWviLbfM2YbcU7uRTCzEW1lf5Qx74KS69wuZ1Rvi-Ic\"",
        "Last-Modified": "Tue, 06 Jan 2026 01:16:35 GMT",
        "Link": "</kv?snapshot=snapshot-1993798582&api-version=2023-11-01>; rel=\"items\"",
        "Operation-Location": "https://t9c954b564de572f9-azconfig-net.azconfig.io/operations?snapshot=snapshot-1993798582&api-version=2023-11-01",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTc2NTc5Ng==;sn=101765796",
        "x-ms-date": "Tue, 06 Jan 2026 01:16:35 GMT"
      },
      "ResponseBody": {
        "etag": "hWviLbfM2YbcU7uRTCzEW1lf5Qx74KS69wuZ1Rvi-Ic",
        "name": "snapshot-1993798582",
        "status": "provisioning",
        "filters": [
          {
            "key": "KeyBar-*",
            "label": null,
            "tags": [
              "uknown=tag"
            ]
          }
        ],
        "composition_type": "key",
        "created": "2026-01-06T01:16:35.2321423+00:00",
        "size": 0,
        "items_count": 0,
        "tags": {},
        "retention_period": 2592000
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/operations?api-version=2023-11-01&snapshot=snapshot-1993798582",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTc2NTc5Ng==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTc2NTc5Ng==;sn=101765796",
        "x-ms-date": "Tue, 06 Jan 2026 01:16:35 GMT"
      },
      "ResponseBody": {
        "id": "jj3yyGv5VttCz4sSkuN9Codk9Y2KXFay420aIFOuXyw",
        "status": "Running",
        "error": null
      }
    },
[...]
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv?api-version=2023-11-01&snapshot=snapshot-1993798582",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTc2NTg2Mw==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"00wWELzclWef22f82qcUDI7FbJweVOoKWZDA_JoUeD0\"",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTc2NTg2Ng==;sn=101765866",
        "x-ms-date": "Tue, 06 Jan 2026 01:16:45 GMT"
      },
      "ResponseBody": {
        "etag": "00wWELzclWef22f82qcUDI7FbJweVOoKWZDA_JoUeD0",
        "items": []
      }
    },
[...]
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/KeyBar-41129343440?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTc2NTg3Ng==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"oNrGogAmyKqgetX73Enm2MSd3MGy-u1cmqgdmnrpRIc\"",
        "Last-Modified": "Tue, 06 Jan 2026 01:16:35 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTc2NTg3OA==;sn=101765878",
        "x-ms-date": "Tue, 06 Jan 2026 01:16:46 GMT"
      },
      "ResponseBody": {
        "etag": "oNrGogAmyKqgetX73Enm2MSd3MGy-u1cmqgdmnrpRIc",
        "key": "KeyBar-41129343440",
        "label": null,
        "content_type": null,
        "value": "value4",
        "tags": {},
        "locked": false,
        "last_modified": "2026-01-06T01:16:35+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t9c954b564de572f9-azconfig-net.azconfig.io;Id=MdvE;Secret=Kg==",
    "RandomSeed": "233314436"
  }
}
