{
  "Entries": [
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/KeyBar-1810976332?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "value1",
        "content_type": null,
        "tags": {
          "foo": "bar"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"d7BmrZ-XXt65bbMrO4cPl4ANlUPZo-3mnWlPOqHp12g\"",
        "Last-Modified": "Mon, 01 Dec 2025 08:39:47 GMT",
        "Sync-Token": "zAJw6V16=NTo1Izk4Nzc2MjUy;sn=98776252",
        "x-ms-date": "Mon, 01 Dec 2025 08:39:47 GMT"
      },
      "ResponseBody": {
        "etag": "d7BmrZ-XXt65bbMrO4cPl4ANlUPZo-3mnWlPOqHp12g",
        "key": "KeyBar-1810976332",
        "label": null,
        "content_type": null,
        "value": "value1",
        "tags": {
          "foo": "bar"
        },
        "locked": false,
        "last_modified": "2025-12-01T08:39:47+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/snapshots/snapshot-1763944066?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NTo1Izk4Nzc2MjU1",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "filters": [
          {
            "key": "KeyBar-*",
            "tags": [
              "uknown=tag"
            ]
          }
        ]
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json; charset=utf-8",
        "ETag": "\"TBo5msr2-jNXfeSBTzKhMM1fsIC4Kze5L0iA5NhgxWQ\"",
        "Last-Modified": "Mon, 01 Dec 2025 08:39:47 GMT",
        "Link": "</kv?snapshot=snapshot-1763944066&api-version=2023-11-01>; rel=\"items\"",
        "Operation-Location": "https://t9c954b564de572f9-azconfig-net.azconfig.io/operations?snapshot=snapshot-1763944066&api-version=2023-11-01",
        "Sync-Token": "zAJw6V16=NTo1Izk4Nzc2MjU2;sn=98776256",
        "x-ms-date": "Mon, 01 Dec 2025 08:39:47 GMT"
      },
      "ResponseBody": {
        "etag": "TBo5msr2-jNXfeSBTzKhMM1fsIC4Kze5L0iA5NhgxWQ",
        "name": "snapshot-1763944066",
        "status": "provisioning",
        "filters": [
          {
            "key": "KeyBar-*",
            "label": null,
            "tags": [
              "uknown=tag"
            ]
          }
        ],
        "composition_type": "key",
        "created": "2025-12-01T08:39:47.9773253+00:00",
        "size": 0,
        "items_count": 0,
        "tags": {},
        "retention_period": 2592000
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/operations?api-version=2023-11-01&snapshot=snapshot-1763944066",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1Izk4Nzc2MjU2",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "Sync-Token": "zAJw6V16=NTo1Izk4Nzc2MjU2;sn=98776256",
        "x-ms-date": "Mon, 01 Dec 2025 08:39:48 GMT"
      },
      "ResponseBody": {
        "id": "fd9tlTNJrQQU5B55q--5AdC2H2x5ha5nw_m9Q_NdJtY",
        "status": "Running",
        "error": null
      }
    },
[...]
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv?api-version=2023-11-01&snapshot=snapshot-1763944066",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1Izk4Nzc2Mjg3",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"00wWELzclWef22f82qcUDI7FbJweVOoKWZDA_JoUeD0\"",
        "Sync-Token": "zAJw6V16=NTo1Izk4Nzc2Mjg3;sn=98776287",
        "x-ms-date": "Mon, 01 Dec 2025 08:40:18 GMT"
      },
      "ResponseBody": {
        "etag": "00wWELzclWef22f82qcUDI7FbJweVOoKWZDA_JoUeD0",
        "items": []
      }
    },
[...]
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/KeyBar-4531846984?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1Izk4Nzc2Mjkw",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"V3CngTgMF4MocKBoEQPWhGa8dwrhMR4qtNoQY7pK-b8\"",
        "Last-Modified": "Mon, 01 Dec 2025 08:39:47 GMT",
        "Sync-Token": "zAJw6V16=NTo1Izk4Nzc2Mjkx;sn=98776291",
        "x-ms-date": "Mon, 01 Dec 2025 08:40:19 GMT"
      },
      "ResponseBody": {
        "etag": "V3CngTgMF4MocKBoEQPWhGa8dwrhMR4qtNoQY7pK-b8",
        "key": "KeyBar-4531846984",
        "label": null,
        "content_type": null,
        "value": "value4",
        "tags": {},
        "locked": false,
        "last_modified": "2025-12-01T08:39:47+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t9c954b564de572f9-azconfig-net.azconfig.io;Id=MdvE;Secret=Kg==",
    "RandomSeed": "564271655"
  }
}
