{
  "Entries": [
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv/key-1900353084?api-version=2026-04-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "description": "test_description"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"8IfKO7Zd_sLSwPqOJodDgjKlqIYRGtVPmTOno_0SxNc\"",
        "Last-Modified": "Wed, 10 Jun 2026 21:29:49 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDk0MTk0;sn=67094194",
        "x-ms-date": "Wed, 10 Jun 2026 21:29:49 GMT"
      },
      "ResponseBody": {
        "etag": "8IfKO7Zd_sLSwPqOJodDgjKlqIYRGtVPmTOno_0SxNc",
        "key": "key-1900353084",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "description": "test_description",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-06-10T21:29:49+00:00"
      }
    },
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/snapshots/snapshot-218157412?api-version=2026-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDk0MTk0"
      },
      "RequestBody": {
        "filters": [
          {
            "key": "key-1900353084"
          }
        ],
        "retention_period": 3600,
        "description": "Test snapshot description"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json; charset=utf-8",
        "ETag": "\"A12ilIBwXueeh7N9atiFq7zF4nUnnJGlAacYB09Vthg\"",
        "Last-Modified": "Wed, 10 Jun 2026 21:29:49 GMT",
        "Link": "</kv?snapshot=snapshot-218157412&api-version=2026-04-01>; rel=\"items\"",
        "Operation-Location": "https://mrm90847047-azconfig-net.azconfig.io/operations?snapshot=snapshot-218157412&api-version=2026-04-01",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDk0MTk1;sn=67094195",
        "x-ms-date": "Wed, 10 Jun 2026 21:29:49 GMT"
      },
      "ResponseBody": {
        "etag": "A12ilIBwXueeh7N9atiFq7zF4nUnnJGlAacYB09Vthg",
        "name": "snapshot-218157412",
        "description": "Test snapshot description",
        "status": "provisioning",
        "filters": [
          {
            "key": "key-1900353084",
            "label": null,
            "tags": []
          }
        ],
        "composition_type": "key",
        "created": "2026-06-10T21:29:49.8794123+00:00",
        "size": 0,
        "items_count": 0,
        "tags": {},
        "retention_period": 3600
      }
    },
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/operations?api-version=2026-04-01&snapshot=snapshot-218157412",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDk0MTk1"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDk0MTk1;sn=67094195",
        "x-ms-date": "Wed, 10 Jun 2026 21:29:49 GMT"
      },
      "ResponseBody": {
        "id": "dm8-k7MK0IMTkuz7RbSN_rQ_ePt0JgMnsX9wgMBvCpY",
        "status": "Running",
        "error": null
      }
    },
[...]
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv/key-1900353084?api-version=2026-04-01&label=test_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDk0MjA0"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"8IfKO7Zd_sLSwPqOJodDgjKlqIYRGtVPmTOno_0SxNc\"",
        "Last-Modified": "Wed, 10 Jun 2026 21:29:49 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDk0MjA1;sn=67094205",
        "x-ms-date": "Wed, 10 Jun 2026 21:30:10 GMT"
      },
      "ResponseBody": {
        "etag": "8IfKO7Zd_sLSwPqOJodDgjKlqIYRGtVPmTOno_0SxNc",
        "key": "key-1900353084",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "description": "test_description",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-06-10T21:29:49+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_ENDPOINT_STRING": "https://mrm90847047-azconfig-net.azconfig.io",
    "RandomSeed": "511384102"
  }
}
