{
  "Entries": [
    {
      "RequestUri": "https://azure-sdk-for-net-test.azconfig.io/kv/key-1826118148?api-version=2026-04-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"9j3HZwEPD6wXCBnavF2019A6M7qhOoxXhXKczL9hrDk\"",
        "Last-Modified": "Wed, 27 May 2026 23:55:03 GMT",
        "Sync-Token": "zAJw6V16=NToxNyM0ODA0MTc2NQ==;sn=48041765",
        "x-ms-date": "Wed, 27 May 2026 23:55:03 GMT"
      },
      "ResponseBody": {
        "etag": "9j3HZwEPD6wXCBnavF2019A6M7qhOoxXhXKczL9hrDk",
        "key": "key-1826118148",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "description": null,
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-05-27T23:55:03+00:00"
      }
    },
    {
      "RequestUri": "https://azure-sdk-for-net-test.azconfig.io/snapshots/snapshot-1848315671?api-version=2026-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NToxNyM0ODA0MTc2NQ==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "filters": [
          {
            "key": "key-1826118148"
          }
        ]
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json; charset=utf-8",
        "ETag": "\"J9hVAWUcm70sjjcuikY9luW3vS20j5HUpAqsl3O7NMY\"",
        "Last-Modified": "Wed, 27 May 2026 23:55:03 GMT",
        "Link": "</kv?snapshot=snapshot-1848315671&api-version=2026-04-01>; rel=\"items\"",
        "Operation-Location": "https://azure-sdk-for-net-test.azconfig.io/operations?snapshot=snapshot-1848315671&api-version=2026-04-01",
        "Sync-Token": "zAJw6V16=NToxNyM0ODA0MTc2Ng==;sn=48041766",
        "x-ms-date": "Wed, 27 May 2026 23:55:03 GMT"
      },
      "ResponseBody": {
        "etag": "J9hVAWUcm70sjjcuikY9luW3vS20j5HUpAqsl3O7NMY",
        "name": "snapshot-1848315671",
        "description": null,
        "status": "provisioning",
        "filters": [
          {
            "key": "key-1826118148",
            "label": null,
            "tags": []
          }
        ],
        "composition_type": "key",
        "created": "2026-05-27T23:55:03.489215+00:00",
        "size": 0,
        "items_count": 0,
        "tags": {},
        "retention_period": 2592000
      }
    },
    {
      "RequestUri": "https://azure-sdk-for-net-test.azconfig.io/operations?api-version=2026-04-01&snapshot=snapshot-1848315671",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NToxNyM0ODA0MTc2Ng==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "Sync-Token": "zAJw6V16=NToxNyM0ODA0MTc2Ng==;sn=48041766",
        "x-ms-date": "Wed, 27 May 2026 23:55:03 GMT"
      },
      "ResponseBody": {
        "id": "0B2X9uEbuU0MyrPMhZv0s6Ta9b1BDMjVehhNY0BmCbw",
        "status": "Running",
        "error": null
      }
    },
[...]
    {
      "RequestUri": "https://azure-sdk-for-net-test.azconfig.io/kv/key-1826118148?api-version=2026-04-01&label=test_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NToxNyM0ODA0MTc2OA==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"9j3HZwEPD6wXCBnavF2019A6M7qhOoxXhXKczL9hrDk\"",
        "Last-Modified": "Wed, 27 May 2026 23:55:03 GMT",
        "Sync-Token": "zAJw6V16=NToxNyM0ODA0MTc2OQ==;sn=48041769",
        "x-ms-date": "Wed, 27 May 2026 23:55:24 GMT"
      },
      "ResponseBody": {
        "etag": "9j3HZwEPD6wXCBnavF2019A6M7qhOoxXhXKczL9hrDk",
        "key": "key-1826118148",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "description": null,
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-05-27T23:55:03+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://azure-sdk-for-net-test.azconfig.io;Id=8ePU;Secret=Kg==",
    "RandomSeed": "1854554624"
  }
}
