{
  "Entries": [
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv/Key-188869371?api-version=2026-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "value": "value1",
        "content_type": null,
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"W6Io8LGh1m09W_xvLcObmST6Vw4GeYD_e5A09lPTtao\"",
        "Last-Modified": "Wed, 10 Jun 2026 21:31:38 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDk0MjQz;sn=67094243",
        "x-ms-date": "Wed, 10 Jun 2026 21:31:38 GMT"
      },
      "ResponseBody": {
        "etag": "W6Io8LGh1m09W_xvLcObmST6Vw4GeYD_e5A09lPTtao",
        "key": "Key-188869371",
        "label": null,
        "content_type": null,
        "value": "value1",
        "description": null,
        "tags": {},
        "locked": false,
        "last_modified": "2026-06-10T21:31:38+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/snapshots/snapshot-858679995?api-version=2026-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDk0MjQ2"
      },
      "RequestBody": {
        "filters": [
          {
            "key": "Key-*"
          }
        ],
        "retention_period": 3600,
        "description": "Test snapshot description"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json; charset=utf-8",
        "ETag": "\"avtVx8yl5wc8NoRyRmFkkANu4Nys1qxpxI0OtGZF-mI\"",
        "Last-Modified": "Wed, 10 Jun 2026 21:31:38 GMT",
        "Link": "</kv?snapshot=snapshot-858679995&api-version=2026-04-01>; rel=\"items\"",
        "Operation-Location": "https://mrm90847047-azconfig-net.azconfig.io/operations?snapshot=snapshot-858679995&api-version=2026-04-01",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDk0MjQ3;sn=67094247",
        "x-ms-date": "Wed, 10 Jun 2026 21:31:38 GMT"
      },
      "ResponseBody": {
        "etag": "avtVx8yl5wc8NoRyRmFkkANu4Nys1qxpxI0OtGZF-mI",
        "name": "snapshot-858679995",
        "description": "Test snapshot description",
        "status": "provisioning",
        "filters": [
          {
            "key": "Key-*",
            "label": null,
            "tags": []
          }
        ],
        "composition_type": "key",
        "created": "2026-06-10T21:31:38.1960465+00:00",
        "size": 0,
        "items_count": 0,
        "tags": {},
        "retention_period": 3600
      }
    },
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/operations?api-version=2026-04-01&snapshot=snapshot-858679995",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDk0MjQ3"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDk0MjQ3;sn=67094247",
        "x-ms-date": "Wed, 10 Jun 2026 21:31:38 GMT"
      },
      "ResponseBody": {
        "id": "6c8IG0BCpJSb8jHkNeiYdVM8YaWxhmdrDoGTRB9j7QM",
        "status": "Running",
        "error": null
      }
    },
[...]
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv?api-version=2026-04-01&snapshot=snapshot-858679995",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDk0MjQ4"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"ebjbBpqAizT0o_SMo3spvzv5kAPo0FQpLa5827HPlXo\"",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDk0MjQ4;sn=67094248",
        "x-ms-date": "Wed, 10 Jun 2026 21:31:58 GMT"
      },
      "ResponseBody": {
        "etag": "ebjbBpqAizT0o_SMo3spvzv5kAPo0FQpLa5827HPlXo",
        "items": [
          {
            "etag": "W6Io8LGh1m09W_xvLcObmST6Vw4GeYD_e5A09lPTtao",
            "key": "Key-188869371",
            "label": null,
            "content_type": null,
            "value": "value1",
            "description": null,
            "tags": {},
            "locked": false,
            "last_modified": "2026-06-10T21:31:38+00:00"
          },
          {
            "etag": "rz3mTx8BvUlS6utKJdofkRIHy1clRWsXJhSgLTjyqNI",
            "key": "Key-22088494501",
            "label": null,
            "content_type": null,
            "value": "value2",
            "description": null,
            "tags": {},
            "locked": false,
            "last_modified": "2026-06-10T21:31:38+00:00"
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv/Key2916586055?api-version=2026-04-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDk0MjUx"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"bMml3mWcT2ytx3SsPhTzX0JWPScjLFIiqsAmvRyx-c0\"",
        "Last-Modified": "Wed, 10 Jun 2026 21:31:38 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDk0MjUy;sn=67094252",
        "x-ms-date": "Wed, 10 Jun 2026 21:31:58 GMT"
      },
      "ResponseBody": {
        "etag": "bMml3mWcT2ytx3SsPhTzX0JWPScjLFIiqsAmvRyx-c0",
        "key": "Key2916586055",
        "label": null,
        "content_type": null,
        "value": "value4",
        "description": null,
        "tags": {},
        "locked": false,
        "last_modified": "2026-06-10T21:31:38+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_ENDPOINT_STRING": "https://mrm90847047-azconfig-net.azconfig.io",
    "RandomSeed": "1659303299"
  }
}
