{
  "Entries": [
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/KeyBar-1603548334?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "value1",
        "content_type": null,
        "tags": {
          "foo": "bartemp1"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"TIru1SkAoKG6lc2j81EZG3oVL6fLy9d7ZVLbiQs52cM\"",
        "Last-Modified": "Fri, 23 Jan 2026 07:09:09 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU3NTE0Nw==;sn=103575147",
        "x-ms-date": "Fri, 23 Jan 2026 07:09:09 GMT"
      },
      "ResponseBody": {
        "etag": "TIru1SkAoKG6lc2j81EZG3oVL6fLy9d7ZVLbiQs52cM",
        "key": "KeyBar-1603548334",
        "label": null,
        "content_type": null,
        "value": "value1",
        "tags": {
          "foo": "bartemp1"
        },
        "locked": false,
        "last_modified": "2026-01-23T07:09:09+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/Key1606454778?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU3NTE0OQ==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "value4",
        "content_type": null,
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"UChJEFsb29NZLw-JECa4TQROb_iAS6kh-33ie2xhjxA\"",
        "Last-Modified": "Fri, 23 Jan 2026 07:09:09 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU3NTE1MA==;sn=103575150",
        "x-ms-date": "Fri, 23 Jan 2026 07:09:09 GMT"
      },
      "ResponseBody": {
        "etag": "UChJEFsb29NZLw-JECa4TQROb_iAS6kh-33ie2xhjxA",
        "key": "Key1606454778",
        "label": null,
        "content_type": null,
        "value": "value4",
        "tags": {},
        "locked": false,
        "last_modified": "2026-01-23T07:09:09+00:00"
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/snapshots/snapshot-1942293000?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU3NTE1MA==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "filters": [
          {
            "key": "KeyBar-*",
            "tags": [
              "foo=bartemp1"
            ]
          }
        ]
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json; charset=utf-8",
        "ETag": "\"8nFPY4ybJ0UOoElCejNFAd-4A6P1dDqwAtTweUKiN6Y\"",
        "Last-Modified": "Fri, 23 Jan 2026 07:09:09 GMT",
        "Link": "</kv?snapshot=snapshot-1942293000&api-version=2023-11-01>; rel=\"items\"",
        "Operation-Location": "https://t9c954b564de572f9-azconfig-net.azconfig.io/operations?snapshot=snapshot-1942293000&api-version=2023-11-01",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU3NTE1MQ==;sn=103575151",
        "x-ms-date": "Fri, 23 Jan 2026 07:09:09 GMT"
      },
      "ResponseBody": {
        "etag": "8nFPY4ybJ0UOoElCejNFAd-4A6P1dDqwAtTweUKiN6Y",
        "name": "snapshot-1942293000",
        "status": "provisioning",
        "filters": [
          {
            "key": "KeyBar-*",
            "label": null,
            "tags": [
              "foo=bartemp1"
            ]
          }
        ],
        "composition_type": "key",
        "created": "2026-01-23T07:09:09.8571589+00:00",
        "size": 0,
        "items_count": 0,
        "tags": {},
        "retention_period": 2592000
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/operations?api-version=2023-11-01&snapshot=snapshot-1942293000",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU3NTE1MQ==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU3NTE1MQ==;sn=103575151",
        "x-ms-date": "Fri, 23 Jan 2026 07:09:09 GMT"
      },
      "ResponseBody": {
        "id": "HWYh6yn-8-LItcDcG7RCCmTSXMxFVjyVVnihZ4QT5f0",
        "status": "Running",
        "error": null
      }
    },
[...]
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv?api-version=2023-11-01&snapshot=snapshot-1942293000",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU3NTE1Mg==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"ZHMOJ2CVw694GAfvO1G-raipEQPOqsZr9KTzl3odxWo\"",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU3NTE1Mg==;sn=103575152",
        "x-ms-date": "Fri, 23 Jan 2026 07:09:20 GMT"
      },
      "ResponseBody": {
        "etag": "ZHMOJ2CVw694GAfvO1G-raipEQPOqsZr9KTzl3odxWo",
        "items": [
          {
            "etag": "TIru1SkAoKG6lc2j81EZG3oVL6fLy9d7ZVLbiQs52cM",
            "key": "KeyBar-1603548334",
            "label": null,
            "content_type": null,
            "value": "value1",
            "tags": {
              "foo": "bartemp1"
            },
            "locked": false,
            "last_modified": "2026-01-23T07:09:09+00:00"
          },
          {
            "etag": "s3x-nXuuYpNZIbohpq0zOdoYlPneYYm1fE1Gq1USZZc",
            "key": "KeyBar-2215303904",
            "label": null,
            "content_type": null,
            "value": "value2",
            "tags": {
              "foo": "bartemp1"
            },
            "locked": false,
            "last_modified": "2026-01-23T07:09:09+00:00"
          },
          {
            "etag": "HRX6eSMT5mp5SG065pdUrJvgO77bzUrrXStq86XQMZA",
            "key": "KeyBar-31593772551",
            "label": null,
            "content_type": null,
            "value": "value3",
            "tags": {
              "foo": "bartemp1"
            },
            "locked": false,
            "last_modified": "2026-01-23T07:09:09+00:00"
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/Key1606454778?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU3NTE1NQ==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"UChJEFsb29NZLw-JECa4TQROb_iAS6kh-33ie2xhjxA\"",
        "Last-Modified": "Fri, 23 Jan 2026 07:09:09 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU3NTE1Ng==;sn=103575156",
        "x-ms-date": "Fri, 23 Jan 2026 07:09:21 GMT"
      },
      "ResponseBody": {
        "etag": "UChJEFsb29NZLw-JECa4TQROb_iAS6kh-33ie2xhjxA",
        "key": "Key1606454778",
        "label": null,
        "content_type": null,
        "value": "value4",
        "tags": {},
        "locked": false,
        "last_modified": "2026-01-23T07:09:09+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t9c954b564de572f9-azconfig-net.azconfig.io;Id=MdvE;Secret=Kg==",
    "RandomSeed": "1547741885"
  }
}
