{
  "Entries": [
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/Key-1568872065?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "value1",
        "content_type": null,
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"0P-20AjQdcRE9Y5MtlDnsGD7xCfS9Dcu1jYGr7cHMDs\"",
        "Last-Modified": "Mon, 01 Dec 2025 08:34:38 GMT",
        "Sync-Token": "zAJw6V16=NTo1Izk4Nzc1MTM3;sn=98775137",
        "x-ms-date": "Mon, 01 Dec 2025 08:34:38 GMT"
      },
      "ResponseBody": {
        "etag": "0P-20AjQdcRE9Y5MtlDnsGD7xCfS9Dcu1jYGr7cHMDs",
        "key": "Key-1568872065",
        "label": null,
        "content_type": null,
        "value": "value1",
        "tags": {},
        "locked": false,
        "last_modified": "2025-12-01T08:34:38+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/snapshots/snapshot-113167221?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NTo1Izk4Nzc1MTQw",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "filters": [
          {
            "key": "Key-*"
          }
        ]
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json; charset=utf-8",
        "ETag": "\"cwmUk_s6sQ_PG3DDjWbFdRamHYNoGP6aFhv7DZx8j-8\"",
        "Last-Modified": "Mon, 01 Dec 2025 08:34:38 GMT",
        "Link": "</kv?snapshot=snapshot-113167221&api-version=2023-11-01>; rel=\"items\"",
        "Operation-Location": "https://t9c954b564de572f9-azconfig-net.azconfig.io/operations?snapshot=snapshot-113167221&api-version=2023-11-01",
        "Sync-Token": "zAJw6V16=NTo1Izk4Nzc1MTQx;sn=98775141",
        "x-ms-date": "Mon, 01 Dec 2025 08:34:38 GMT"
      },
      "ResponseBody": {
        "etag": "cwmUk_s6sQ_PG3DDjWbFdRamHYNoGP6aFhv7DZx8j-8",
        "name": "snapshot-113167221",
        "status": "provisioning",
        "filters": [
          {
            "key": "Key-*",
            "label": null,
            "tags": []
          }
        ],
        "composition_type": "key",
        "created": "2025-12-01T08:34:38.6690714+00:00",
        "size": 0,
        "items_count": 0,
        "tags": {},
        "retention_period": 2592000
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/operations?api-version=2023-11-01&snapshot=snapshot-113167221",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1Izk4Nzc1MTQx",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "Sync-Token": "zAJw6V16=NTo1Izk4Nzc1MTQx;sn=98775141",
        "x-ms-date": "Mon, 01 Dec 2025 08:34:38 GMT"
      },
      "ResponseBody": {
        "id": "NtU2vg9AyX8j2eFYO-e8z5Ga7BhcfMNbgNUCggApm3M",
        "status": "Running",
        "error": null
      }
    },
[...]
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv?api-version=2023-11-01&snapshot=snapshot-113167221",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1Izk4Nzc1MjA4",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"IXtMa7x-YBbFGKhxQGF2DtM5jpeSTPvAR1GQKXRt6bA\"",
        "Sync-Token": "zAJw6V16=NTo1Izk4Nzc1MjA4;sn=98775208",
        "x-ms-date": "Mon, 01 Dec 2025 08:34:59 GMT"
      },
      "ResponseBody": {
        "etag": "IXtMa7x-YBbFGKhxQGF2DtM5jpeSTPvAR1GQKXRt6bA",
        "items": [
          {
            "etag": "0P-20AjQdcRE9Y5MtlDnsGD7xCfS9Dcu1jYGr7cHMDs",
            "key": "Key-1568872065",
            "label": null,
            "content_type": null,
            "value": "value1",
            "tags": {},
            "locked": false,
            "last_modified": "2025-12-01T08:34:38+00:00"
          },
          {
            "etag": "udwSP_6n2JyTjx-h3JJzVQac8FtpMdsVJ7Blf4qL3iI",
            "key": "Key-22002796389",
            "label": null,
            "content_type": null,
            "value": "value2",
            "tags": {},
            "locked": false,
            "last_modified": "2025-12-01T08:34:38+00:00"
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/Key21446278687?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1Izk4Nzc1MjE0",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"-l8QgCnSntb1aaEhuDtL8AvbNGZYrS_-JneGHNiDbXE\"",
        "Last-Modified": "Mon, 01 Dec 2025 08:34:38 GMT",
        "Sync-Token": "zAJw6V16=NTo1Izk4Nzc1MjE2;sn=98775216",
        "x-ms-date": "Mon, 01 Dec 2025 08:35:00 GMT"
      },
      "ResponseBody": {
        "etag": "-l8QgCnSntb1aaEhuDtL8AvbNGZYrS_-JneGHNiDbXE",
        "key": "Key21446278687",
        "label": null,
        "content_type": null,
        "value": "value4",
        "tags": {},
        "locked": false,
        "last_modified": "2025-12-01T08:34:38+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t9c954b564de572f9-azconfig-net.azconfig.io;Id=MdvE;Secret=Kg==",
    "RandomSeed": "1999873699"
  }
}
