{
  "Entries": [
    {
      "RequestUri": "https://tdfcae3cf5eab7143-azconfig-net.azconfig.io/kv/key-971169385?label=test_label&api-version=2023-10-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"nQAEwrECeK77sNE8UAFBEWsKWQC54DxngiwHSdnz5i4\"",
        "Last-Modified": "Wed, 12 Jun 2024 21:59:21 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzMwMzMxNDA4;sn=30331408"
      },
      "ResponseBody": {
        "etag": "nQAEwrECeK77sNE8UAFBEWsKWQC54DxngiwHSdnz5i4",
        "key": "key-971169385",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2024-06-12T21:59:21+00:00"
      }
    },
    {
      "RequestUri": "https://tdfcae3cf5eab7143-azconfig-net.azconfig.io/snapshots/snapshot-375788020?api-version=2023-10-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=Njo1IzMwMzMxNDA4",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "filters": [
          {
            "key": "key-971169385",
            "tags": []
          }
        ]
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json; charset=utf-8",
        "ETag": "\"ky5x0tGxcGxQSeM3q492TlqJ4wXgTldW-3jGEJM9A2k\"",
        "Last-Modified": "Wed, 12 Jun 2024 21:59:21 GMT",
        "Link": "</kv?snapshot=snapshot-375788020&api-version=2023-10-01>; rel=\"items\"",
        "Operation-Location": "https://tdfcae3cf5eab7143-azconfig-net.azconfig.io/operations?snapshot=snapshot-375788020&api-version=2023-10-01",
        "Sync-Token": "zAJw6V16=Njo1IzMwMzMxNDA5;sn=30331409"
      },
      "ResponseBody": {
        "etag": "ky5x0tGxcGxQSeM3q492TlqJ4wXgTldW-3jGEJM9A2k",
        "name": "snapshot-375788020",
        "status": "provisioning",
        "filters": [
          {
            "key": "key-971169385",
            "label": null
          }
        ],
        "composition_type": "key",
        "created": "2024-06-12T21:59:21+00:00",
        "size": 0,
        "items_count": 0,
        "tags": {},
        "retention_period": 2592000
      }
    },
    {
      "RequestUri": "https://tdfcae3cf5eab7143-azconfig-net.azconfig.io/operations?snapshot=snapshot-375788020&api-version=2023-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Njo1IzMwMzMxNDA5",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "Sync-Token": "zAJw6V16=Njo1IzMwMzMxNDA5;sn=30331409"
      },
      "ResponseBody": {
        "id": "97EIlWeZ0AxtZfU6umGI0hIaYx3UyiMGx9tFlCSM6Rc",
        "status": "Running",
        "error": null
      }
    },
[...]
    {
      "RequestUri": "https://tdfcae3cf5eab7143-azconfig-net.azconfig.io/kv/key-971169385?label=test_label&api-version=2023-10-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Njo1IzMwMzMxNDEw",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"nQAEwrECeK77sNE8UAFBEWsKWQC54DxngiwHSdnz5i4\"",
        "Last-Modified": "Wed, 12 Jun 2024 21:59:21 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzMwMzMxNDEx;sn=30331411"
      },
      "ResponseBody": {
        "etag": "nQAEwrECeK77sNE8UAFBEWsKWQC54DxngiwHSdnz5i4",
        "key": "key-971169385",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2024-06-12T21:59:21+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://tdfcae3cf5eab7143-azconfig-net.azconfig.io;Id=yt5R;Secret=Kg==",
    "RandomSeed": "913179635"
  }
}
