{
  "Entries": [
    {
      "RequestUri": "https://azure-sdk-for-net-test.azconfig.io/kv/KeyBar-1397242826?api-version=2026-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "value1",
        "content_type": null,
        "tags": {
          "foo": "bar"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"9AV-V5wYaCR7b8N47qQOvEH_DoK56U8z-T9CQgUx2vw\"",
        "Last-Modified": "Wed, 27 May 2026 23:55:45 GMT",
        "Sync-Token": "zAJw6V16=NToxNyM0ODA0MTc4MQ==;sn=48041781",
        "x-ms-date": "Wed, 27 May 2026 23:55:45 GMT"
      },
      "ResponseBody": {
        "etag": "9AV-V5wYaCR7b8N47qQOvEH_DoK56U8z-T9CQgUx2vw",
        "key": "KeyBar-1397242826",
        "label": null,
        "content_type": null,
        "value": "value1",
        "description": null,
        "tags": {
          "foo": "bar"
        },
        "locked": false,
        "last_modified": "2026-05-27T23:55:45+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://azure-sdk-for-net-test.azconfig.io/snapshots/snapshot-125745818?api-version=2026-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NToxNyM0ODA0MTc4NA==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "filters": [
          {
            "key": "KeyBar-*",
            "tags": [
              "uknown=tag"
            ]
          }
        ]
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json; charset=utf-8",
        "ETag": "\"D5Gft2rgxV9_mgWmESMhWhmGvPD-SQdEYxGnbnalhyo\"",
        "Last-Modified": "Wed, 27 May 2026 23:55:45 GMT",
        "Link": "</kv?snapshot=snapshot-125745818&api-version=2026-04-01>; rel=\"items\"",
        "Operation-Location": "https://azure-sdk-for-net-test.azconfig.io/operations?snapshot=snapshot-125745818&api-version=2026-04-01",
        "Sync-Token": "zAJw6V16=NToxNyM0ODA0MTc4NQ==;sn=48041785",
        "x-ms-date": "Wed, 27 May 2026 23:55:45 GMT"
      },
      "ResponseBody": {
        "etag": "D5Gft2rgxV9_mgWmESMhWhmGvPD-SQdEYxGnbnalhyo",
        "name": "snapshot-125745818",
        "description": null,
        "status": "provisioning",
        "filters": [
          {
            "key": "KeyBar-*",
            "label": null,
            "tags": [
              "uknown=tag"
            ]
          }
        ],
        "composition_type": "key",
        "created": "2026-05-27T23:55:45.3491154+00:00",
        "size": 0,
        "items_count": 0,
        "tags": {},
        "retention_period": 2592000
      }
    },
    {
      "RequestUri": "https://azure-sdk-for-net-test.azconfig.io/operations?api-version=2026-04-01&snapshot=snapshot-125745818",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NToxNyM0ODA0MTc4NQ==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "Sync-Token": "zAJw6V16=NToxNyM0ODA0MTc4NQ==;sn=48041785",
        "x-ms-date": "Wed, 27 May 2026 23:55:45 GMT"
      },
      "ResponseBody": {
        "id": "HL8f3Y9XkDlxDdVVAgtqFIQqkJRd7wZieTKghmSQS80",
        "status": "Running",
        "error": null
      }
    },
[...]
    {
      "RequestUri": "https://azure-sdk-for-net-test.azconfig.io/kv?api-version=2026-04-01&snapshot=snapshot-125745818",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NToxNyM0ODA0MTc4Ng==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"00wWELzclWef22f82qcUDI7FbJweVOoKWZDA_JoUeD0\"",
        "Sync-Token": "zAJw6V16=NToxNyM0ODA0MTc4Ng==;sn=48041786",
        "x-ms-date": "Wed, 27 May 2026 23:55:55 GMT"
      },
      "ResponseBody": {
        "etag": "00wWELzclWef22f82qcUDI7FbJweVOoKWZDA_JoUeD0",
        "items": []
      }
    },
[...]
    {
      "RequestUri": "https://azure-sdk-for-net-test.azconfig.io/kv/KeyBar-4536708209?api-version=2026-04-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NToxNyM0ODA0MTc4OQ==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"xnId4fj8kKy6LPceGEW7RIbdQZESGKgtgYHH_BnPynQ\"",
        "Last-Modified": "Wed, 27 May 2026 23:55:45 GMT",
        "Sync-Token": "zAJw6V16=NToxNyM0ODA0MTc5MA==;sn=48041790",
        "x-ms-date": "Wed, 27 May 2026 23:55:55 GMT"
      },
      "ResponseBody": {
        "etag": "xnId4fj8kKy6LPceGEW7RIbdQZESGKgtgYHH_BnPynQ",
        "key": "KeyBar-4536708209",
        "label": null,
        "content_type": null,
        "value": "value4",
        "description": null,
        "tags": {},
        "locked": false,
        "last_modified": "2026-05-27T23:55:45+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://azure-sdk-for-net-test.azconfig.io;Id=8ePU;Secret=Kg==",
    "RandomSeed": "351175457"
  }
}
