{
  "Entries": [
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/KeyBar-1289294684?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "value1",
        "content_type": null,
        "tags": {
          "foo": "bar"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"P8cgplve7sPtYa_H_kY7vrkxubWnEO5o7TBWEamm0AQ\"",
        "Last-Modified": "Fri, 23 Jan 2026 07:14:51 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU3NTcxMA==;sn=103575710",
        "x-ms-date": "Fri, 23 Jan 2026 07:14:51 GMT"
      },
      "ResponseBody": {
        "etag": "P8cgplve7sPtYa_H_kY7vrkxubWnEO5o7TBWEamm0AQ",
        "key": "KeyBar-1289294684",
        "label": null,
        "content_type": null,
        "value": "value1",
        "tags": {
          "foo": "bar"
        },
        "locked": false,
        "last_modified": "2026-01-23T07:14:51+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/snapshots/snapshot-754533216?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU3NTcxMw==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "filters": [
          {
            "key": "KeyBar-*",
            "tags": [
              "uknown=tag"
            ]
          }
        ]
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json; charset=utf-8",
        "ETag": "\"lwqybfc3V3IIqUz0iH6SivKgQmfT2p-2QxnlNRuhYrw\"",
        "Last-Modified": "Fri, 23 Jan 2026 07:14:51 GMT",
        "Link": "</kv?snapshot=snapshot-754533216&api-version=2023-11-01>; rel=\"items\"",
        "Operation-Location": "https://t9c954b564de572f9-azconfig-net.azconfig.io/operations?snapshot=snapshot-754533216&api-version=2023-11-01",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU3NTcxNA==;sn=103575714",
        "x-ms-date": "Fri, 23 Jan 2026 07:14:51 GMT"
      },
      "ResponseBody": {
        "etag": "lwqybfc3V3IIqUz0iH6SivKgQmfT2p-2QxnlNRuhYrw",
        "name": "snapshot-754533216",
        "status": "provisioning",
        "filters": [
          {
            "key": "KeyBar-*",
            "label": null,
            "tags": [
              "uknown=tag"
            ]
          }
        ],
        "composition_type": "key",
        "created": "2026-01-23T07:14:51.8931832+00:00",
        "size": 0,
        "items_count": 0,
        "tags": {},
        "retention_period": 2592000
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/operations?api-version=2023-11-01&snapshot=snapshot-754533216",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU3NTcxNA==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU3NTcxNA==;sn=103575714",
        "x-ms-date": "Fri, 23 Jan 2026 07:14:52 GMT"
      },
      "ResponseBody": {
        "id": "rjmiqN1Ud1u-MMWR9sgVw-VAtQ_JXNt6T54-3rGYw9A",
        "status": "Running",
        "error": null
      }
    },
[...]
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv?api-version=2023-11-01&snapshot=snapshot-754533216",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU3NTcxOQ==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"00wWELzclWef22f82qcUDI7FbJweVOoKWZDA_JoUeD0\"",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU3NTcxOQ==;sn=103575719",
        "x-ms-date": "Fri, 23 Jan 2026 07:15:02 GMT"
      },
      "ResponseBody": {
        "etag": "00wWELzclWef22f82qcUDI7FbJweVOoKWZDA_JoUeD0",
        "items": []
      }
    },
[...]
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/KeyBar-42140748064?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU3NTcyMg==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"Nvk2t_1bIRPgxWbgBHOiQ682hk463kBWhvXa-ga90n0\"",
        "Last-Modified": "Fri, 23 Jan 2026 07:14:51 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU3NTcyMw==;sn=103575723",
        "x-ms-date": "Fri, 23 Jan 2026 07:15:02 GMT"
      },
      "ResponseBody": {
        "etag": "Nvk2t_1bIRPgxWbgBHOiQ682hk463kBWhvXa-ga90n0",
        "key": "KeyBar-42140748064",
        "label": null,
        "content_type": null,
        "value": "value4",
        "tags": {},
        "locked": false,
        "last_modified": "2026-01-23T07:14:51+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t9c954b564de572f9-azconfig-net.azconfig.io;Id=MdvE;Secret=Kg==",
    "RandomSeed": "299855438"
  }
}
