{
  "Entries": [
    {
      "RequestUri": "https://tdfcae3cf5eab7143-azconfig-net.azconfig.io/kv/KeyBar-11083776871?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "value1",
        "content_type": null,
        "tags": {
          "foo": "bartemp1"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"8-hcRtDDJg9hwLPMrQvcJHJnXd89SKVESNAUU89MKdw\"",
        "Last-Modified": "Wed, 24 Jul 2024 15:42:44 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzMyMjcxMTAw;sn=32271100"
      },
      "ResponseBody": {
        "etag": "8-hcRtDDJg9hwLPMrQvcJHJnXd89SKVESNAUU89MKdw",
        "key": "KeyBar-11083776871",
        "label": null,
        "content_type": null,
        "value": "value1",
        "tags": {
          "foo": "bartemp1"
        },
        "locked": false,
        "last_modified": "2024-07-24T15:42:44+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://tdfcae3cf5eab7143-azconfig-net.azconfig.io/kv/Key11320585432?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "Sync-Token": "zAJw6V16=Njo1IzMyMjcxMTAy",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "value4",
        "content_type": null,
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"Ytak4YdbbGg0U7KB3sUhrGknATVszqVzXV-uSUWIb9o\"",
        "Last-Modified": "Wed, 24 Jul 2024 15:42:44 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzMyMjcxMTAz;sn=32271103"
      },
      "ResponseBody": {
        "etag": "Ytak4YdbbGg0U7KB3sUhrGknATVszqVzXV-uSUWIb9o",
        "key": "Key11320585432",
        "label": null,
        "content_type": null,
        "value": "value4",
        "tags": {},
        "locked": false,
        "last_modified": "2024-07-24T15:42:44+00:00"
      }
    },
    {
      "RequestUri": "https://tdfcae3cf5eab7143-azconfig-net.azconfig.io/snapshots/snapshot-1129912198?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=Njo1IzMyMjcxMTAz",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "filters": [
          {
            "key": "KeyBar-*",
            "tags": [
              "foo=bartemp1"
            ]
          }
        ]
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json; charset=utf-8",
        "ETag": "\"hXscQ0tuyemCl4UzZWaZJIkCoUqdubGSk92-njeuv4Y\"",
        "Last-Modified": "Wed, 24 Jul 2024 15:42:44 GMT",
        "Link": "</kv?snapshot=snapshot-1129912198&api-version=2023-11-01>; rel=\"items\"",
        "Operation-Location": "https://tdfcae3cf5eab7143-azconfig-net.azconfig.io/operations?snapshot=snapshot-1129912198&api-version=2023-11-01",
        "Sync-Token": "zAJw6V16=Njo1IzMyMjcxMTA0;sn=32271104"
      },
      "ResponseBody": {
        "etag": "hXscQ0tuyemCl4UzZWaZJIkCoUqdubGSk92-njeuv4Y",
        "name": "snapshot-1129912198",
        "status": "provisioning",
        "filters": [
          {
            "key": "KeyBar-*",
            "label": null,
            "tags": [
              "foo=bartemp1"
            ]
          }
        ],
        "composition_type": "key",
        "created": "2024-07-24T15:42:44+00:00",
        "size": 0,
        "items_count": 0,
        "tags": {},
        "retention_period": 2592000
      }
    },
    {
      "RequestUri": "https://tdfcae3cf5eab7143-azconfig-net.azconfig.io/operations?snapshot=snapshot-1129912198&api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Njo1IzMyMjcxMTA0",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "Sync-Token": "zAJw6V16=Njo1IzMyMjcxMTA0;sn=32271104"
      },
      "ResponseBody": {
        "id": "FSFHYCL0kIq6a9mWzFeKkqc2vW-Vi0ByQc8sm35LKR4",
        "status": "Running",
        "error": null
      }
    },
[...]
    {
      "RequestUri": "https://tdfcae3cf5eab7143-azconfig-net.azconfig.io/kv?api-version=2023-11-01&snapshot=snapshot-1129912198",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Njo1IzMyMjcxMTA1",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"6kTUtk3A9bH6LcW-DhMOOTgc5wZzkhF3oNuA14WzmFU\"",
        "Sync-Token": "zAJw6V16=Njo1IzMyMjcxMTA1;sn=32271105"
      },
      "ResponseBody": {
        "etag": "6kTUtk3A9bH6LcW-DhMOOTgc5wZzkhF3oNuA14WzmFU",
        "items": [
          {
            "etag": "8-hcRtDDJg9hwLPMrQvcJHJnXd89SKVESNAUU89MKdw",
            "key": "KeyBar-11083776871",
            "label": null,
            "content_type": null,
            "value": "value1",
            "tags": {
              "foo": "bartemp1"
            },
            "locked": false,
            "last_modified": "2024-07-24T15:42:44+00:00"
          },
          {
            "etag": "YuhpNG4YUu36dQFgi4D1bPh8hWm26-R0kcIYabHjLO4",
            "key": "KeyBar-21179724392",
            "label": null,
            "content_type": null,
            "value": "value2",
            "tags": {
              "foo": "bartemp1"
            },
            "locked": false,
            "last_modified": "2024-07-24T15:42:44+00:00"
          },
          {
            "etag": "AliZT0szuJ1dgw5KxxlVAobSUH2irbA0uLVapjkhwQE",
            "key": "KeyBar-365068085",
            "label": null,
            "content_type": null,
            "value": "value3",
            "tags": {
              "foo": "bartemp1"
            },
            "locked": false,
            "last_modified": "2024-07-24T15:42:44+00:00"
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://tdfcae3cf5eab7143-azconfig-net.azconfig.io/kv/Key11320585432?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Njo1IzMyMjcxMTA4",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"Ytak4YdbbGg0U7KB3sUhrGknATVszqVzXV-uSUWIb9o\"",
        "Last-Modified": "Wed, 24 Jul 2024 15:42:44 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzMyMjcxMTA5;sn=32271109"
      },
      "ResponseBody": {
        "etag": "Ytak4YdbbGg0U7KB3sUhrGknATVszqVzXV-uSUWIb9o",
        "key": "Key11320585432",
        "label": null,
        "content_type": null,
        "value": "value4",
        "tags": {},
        "locked": false,
        "last_modified": "2024-07-24T15:42:44+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://tdfcae3cf5eab7143-azconfig-net.azconfig.io;Id=MEKF;Secret=Kg==",
    "RandomSeed": "1659147469"
  }
}
