{
  "Entries": [
    {
      "RequestUri": "https://tdfcae3cf5eab7143-azconfig-net.azconfig.io/kv/Key-1534454272?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "value1",
        "content_type": null,
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"jr4HkIYrYF69Wxt-nzbF7dbJyd1K72cISJkjab3w3LU\"",
        "Last-Modified": "Fri, 18 Jul 2025 16:33:05 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzUwOTcxODUz;sn=50971853"
      },
      "ResponseBody": {
        "etag": "jr4HkIYrYF69Wxt-nzbF7dbJyd1K72cISJkjab3w3LU",
        "key": "Key-1534454272",
        "label": null,
        "content_type": null,
        "value": "value1",
        "tags": {},
        "locked": false,
        "last_modified": "2025-07-18T16:33:05+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://tdfcae3cf5eab7143-azconfig-net.azconfig.io/snapshots/snapshot-1456659275?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=Njo1IzUwOTcxODU2",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "filters": [
          {
            "key": "Key-*",
            "tags": []
          }
        ]
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json; charset=utf-8",
        "ETag": "\"80RT_sSeGIssXo9jh2rF8FZFRcO4XL05AE7xl600x8A\"",
        "Last-Modified": "Fri, 18 Jul 2025 16:33:06 GMT",
        "Link": "</kv?snapshot=snapshot-1456659275&api-version=2023-11-01>; rel=\"items\"",
        "Operation-Location": "https://tdfcae3cf5eab7143-azconfig-net.azconfig.io/operations?snapshot=snapshot-1456659275&api-version=2023-11-01",
        "Sync-Token": "zAJw6V16=Njo1IzUwOTcxODU3;sn=50971857"
      },
      "ResponseBody": {
        "etag": "80RT_sSeGIssXo9jh2rF8FZFRcO4XL05AE7xl600x8A",
        "name": "snapshot-1456659275",
        "status": "provisioning",
        "filters": [
          {
            "key": "Key-*",
            "label": null,
            "tags": []
          }
        ],
        "composition_type": "key",
        "created": "2025-07-18T16:33:06.2494325+00:00",
        "size": 0,
        "items_count": 0,
        "tags": {},
        "retention_period": 2592000
      }
    },
    {
      "RequestUri": "https://tdfcae3cf5eab7143-azconfig-net.azconfig.io/operations?snapshot=snapshot-1456659275&api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Njo1IzUwOTcxODU3",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "Sync-Token": "zAJw6V16=Njo1IzUwOTcxODU3;sn=50971857"
      },
      "ResponseBody": {
        "id": "AnooYf3EpFLOeWaxTBKJ_6ocal2wIwKL981UkHmtxNE",
        "status": "Running",
        "error": null
      }
    },
[...]
    {
      "RequestUri": "https://tdfcae3cf5eab7143-azconfig-net.azconfig.io/kv?api-version=2023-11-01&snapshot=snapshot-1456659275",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Njo1IzUwOTcxODU4",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"bKEjgow_gxLL473Ma7Wu_gSE5i6h67BilEGxYgUEC_o\"",
        "Sync-Token": "zAJw6V16=Njo1IzUwOTcxODU4;sn=50971858"
      },
      "ResponseBody": {
        "etag": "bKEjgow_gxLL473Ma7Wu_gSE5i6h67BilEGxYgUEC_o",
        "items": [
          {
            "etag": "jr4HkIYrYF69Wxt-nzbF7dbJyd1K72cISJkjab3w3LU",
            "key": "Key-1534454272",
            "label": null,
            "content_type": null,
            "value": "value1",
            "tags": {},
            "locked": false,
            "last_modified": "2025-07-18T16:33:05+00:00"
          },
          {
            "etag": "JNfdm7jNAqXCPt5jvkt2Mk5kubPhr5XJhQEYT21en2o",
            "key": "Key-21363786825",
            "label": null,
            "content_type": null,
            "value": "value2",
            "tags": {},
            "locked": false,
            "last_modified": "2025-07-18T16:33:06+00:00"
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://tdfcae3cf5eab7143-azconfig-net.azconfig.io/kv/Key222929639?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Njo1IzUwOTcxODYx",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"lShOX8y5jn3qtZigk0swJXC5bQ5s8eMw5amqQLcEZus\"",
        "Last-Modified": "Fri, 18 Jul 2025 16:33:06 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzUwOTcxODYy;sn=50971862"
      },
      "ResponseBody": {
        "etag": "lShOX8y5jn3qtZigk0swJXC5bQ5s8eMw5amqQLcEZus",
        "key": "Key222929639",
        "label": null,
        "content_type": null,
        "value": "value4",
        "tags": {},
        "locked": false,
        "last_modified": "2025-07-18T16:33:06+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://tdfcae3cf5eab7143-azconfig-net.azconfig.io;Id=Msfr;Secret=Kg==",
    "RandomSeed": "1040947624"
  }
}
