{
  "Entries": [
    {
      "RequestUri": "https://azure-sdk-for-net-test.azconfig.io/kv/KeyBar-1659783941?api-version=2026-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "value1",
        "content_type": null,
        "tags": {
          "foo": "bartemp1"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"LYG9VjErxHFt2I8GcxgIQcUdV9a51nCF3xMcV8cY_xo\"",
        "Last-Modified": "Fri, 29 May 2026 19:57:33 GMT",
        "Sync-Token": "zAJw6V16=NToxNyM0ODE0OTA2Mg==;sn=48149062",
        "x-ms-date": "Fri, 29 May 2026 19:57:33 GMT"
      },
      "ResponseBody": {
        "etag": "LYG9VjErxHFt2I8GcxgIQcUdV9a51nCF3xMcV8cY_xo",
        "key": "KeyBar-1659783941",
        "label": null,
        "content_type": null,
        "value": "value1",
        "description": null,
        "tags": {
          "foo": "bartemp1"
        },
        "locked": false,
        "last_modified": "2026-05-29T19:57:33+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://azure-sdk-for-net-test.azconfig.io/kv/Key11728995294?api-version=2026-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "Sync-Token": "zAJw6V16=NToxNyM0ODE0OTA2NA==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "value4",
        "content_type": null,
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"arcsvdiqqgr42yHjUAQ-ICr3IYNGgd0M2I9RvhjyC3M\"",
        "Last-Modified": "Fri, 29 May 2026 19:57:33 GMT",
        "Sync-Token": "zAJw6V16=NToxNyM0ODE0OTA2NQ==;sn=48149065",
        "x-ms-date": "Fri, 29 May 2026 19:57:33 GMT"
      },
      "ResponseBody": {
        "etag": "arcsvdiqqgr42yHjUAQ-ICr3IYNGgd0M2I9RvhjyC3M",
        "key": "Key11728995294",
        "label": null,
        "content_type": null,
        "value": "value4",
        "description": null,
        "tags": {},
        "locked": false,
        "last_modified": "2026-05-29T19:57:33+00:00"
      }
    },
    {
      "RequestUri": "https://azure-sdk-for-net-test.azconfig.io/snapshots/snapshot-1862514542?api-version=2026-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NToxNyM0ODE0OTA2NQ==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "filters": [
          {
            "key": "KeyBar-*",
            "tags": [
              "foo=bartemp1"
            ]
          }
        ],
        "retention_period": 3600
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json; charset=utf-8",
        "ETag": "\"xfV6v-lHqkPfA5v_CTe1vKfNzljhp2GgRQGIKq1-3_o\"",
        "Last-Modified": "Fri, 29 May 2026 19:57:33 GMT",
        "Link": "</kv?snapshot=snapshot-1862514542&api-version=2026-04-01>; rel=\"items\"",
        "Operation-Location": "https://azure-sdk-for-net-test.azconfig.io/operations?snapshot=snapshot-1862514542&api-version=2026-04-01",
        "Sync-Token": "zAJw6V16=NToxNyM0ODE0OTA2Ng==;sn=48149066",
        "x-ms-date": "Fri, 29 May 2026 19:57:33 GMT"
      },
      "ResponseBody": {
        "etag": "xfV6v-lHqkPfA5v_CTe1vKfNzljhp2GgRQGIKq1-3_o",
        "name": "snapshot-1862514542",
        "description": null,
        "status": "provisioning",
        "filters": [
          {
            "key": "KeyBar-*",
            "label": null,
            "tags": [
              "foo=bartemp1"
            ]
          }
        ],
        "composition_type": "key",
        "created": "2026-05-29T19:57:33.8635018+00:00",
        "size": 0,
        "items_count": 0,
        "tags": {},
        "retention_period": 3600
      }
    },
    {
      "RequestUri": "https://azure-sdk-for-net-test.azconfig.io/operations?api-version=2026-04-01&snapshot=snapshot-1862514542",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NToxNyM0ODE0OTA2Ng==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "Sync-Token": "zAJw6V16=NToxNyM0ODE0OTA2Ng==;sn=48149066",
        "x-ms-date": "Fri, 29 May 2026 19:57:33 GMT"
      },
      "ResponseBody": {
        "id": "VMx1zZzGWlu41etEt3POwlBqKwPv_sEO3aHLzuIWWQo",
        "status": "Running",
        "error": null
      }
    },
[...]
    {
      "RequestUri": "https://azure-sdk-for-net-test.azconfig.io/kv?api-version=2026-04-01&snapshot=snapshot-1862514542",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NToxNyM0ODE0OTA3MA==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"QhjUu8VyEzuHTmzm4jlO30GL1C974_KYOaCtOfGhBcE\"",
        "Sync-Token": "zAJw6V16=NToxNyM0ODE0OTA3MA==;sn=48149070",
        "x-ms-date": "Fri, 29 May 2026 19:57:43 GMT"
      },
      "ResponseBody": {
        "etag": "QhjUu8VyEzuHTmzm4jlO30GL1C974_KYOaCtOfGhBcE",
        "items": [
          {
            "etag": "LYG9VjErxHFt2I8GcxgIQcUdV9a51nCF3xMcV8cY_xo",
            "key": "KeyBar-1659783941",
            "label": null,
            "content_type": null,
            "value": "value1",
            "description": null,
            "tags": {
              "foo": "bartemp1"
            },
            "locked": false,
            "last_modified": "2026-05-29T19:57:33+00:00"
          },
          {
            "etag": "UVoF9N4O1Ypu8WzOSYNTB88jYPlfRCaGgHwIpu-jdeA",
            "key": "KeyBar-21043555268",
            "label": null,
            "content_type": null,
            "value": "value2",
            "description": null,
            "tags": {
              "foo": "bartemp1"
            },
            "locked": false,
            "last_modified": "2026-05-29T19:57:33+00:00"
          },
          {
            "etag": "p7OBwRuY9XAeA0B0GVCIqtBjdBGR9u5J6V3ogoRDARs",
            "key": "KeyBar-3814338190",
            "label": null,
            "content_type": null,
            "value": "value3",
            "description": null,
            "tags": {
              "foo": "bartemp1"
            },
            "locked": false,
            "last_modified": "2026-05-29T19:57:33+00:00"
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://azure-sdk-for-net-test.azconfig.io/kv/Key11728995294?api-version=2026-04-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NToxNyM0ODE0OTA3Mw==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"arcsvdiqqgr42yHjUAQ-ICr3IYNGgd0M2I9RvhjyC3M\"",
        "Last-Modified": "Fri, 29 May 2026 19:57:33 GMT",
        "Sync-Token": "zAJw6V16=NToxNyM0ODE0OTA3NA==;sn=48149074",
        "x-ms-date": "Fri, 29 May 2026 19:57:44 GMT"
      },
      "ResponseBody": {
        "etag": "arcsvdiqqgr42yHjUAQ-ICr3IYNGgd0M2I9RvhjyC3M",
        "key": "Key11728995294",
        "label": null,
        "content_type": null,
        "value": "value4",
        "description": null,
        "tags": {},
        "locked": false,
        "last_modified": "2026-05-29T19:57:33+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://azure-sdk-for-net-test.azconfig.io;Id=8ePU;Secret=Kg==",
    "RandomSeed": "1729191228"
  }
}
