{
  "Entries": [
    {
      "RequestUri": "https://azure-sdk-for-net-test.azconfig.io/kv/key-2036749417?api-version=2026-04-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"stwfdinsGgFIrjAirHXdBUYResyUBU-KtcCrwNKTW90\"",
        "Last-Modified": "Wed, 27 May 2026 23:59:33 GMT",
        "Sync-Token": "zAJw6V16=NToxNyM0ODA0MjIzNQ==;sn=48042235",
        "x-ms-date": "Wed, 27 May 2026 23:59:33 GMT"
      },
      "ResponseBody": {
        "etag": "stwfdinsGgFIrjAirHXdBUYResyUBU-KtcCrwNKTW90",
        "key": "key-2036749417",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "description": null,
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-05-27T23:59:33+00:00"
      }
    },
    {
      "RequestUri": "https://azure-sdk-for-net-test.azconfig.io/snapshots/snapshot-1049044017?api-version=2026-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NToxNyM0ODA0MjIzNQ==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "filters": [
          {
            "key": "key-2036749417"
          }
        ]
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json; charset=utf-8",
        "ETag": "\"EVq9MzsMwUJUQo0rR8dl2wAetMpGOz95paHkO2KeeFc\"",
        "Last-Modified": "Wed, 27 May 2026 23:59:33 GMT",
        "Link": "</kv?snapshot=snapshot-1049044017&api-version=2026-04-01>; rel=\"items\"",
        "Operation-Location": "https://azure-sdk-for-net-test.azconfig.io/operations?snapshot=snapshot-1049044017&api-version=2026-04-01",
        "Sync-Token": "zAJw6V16=NToxNyM0ODA0MjIzNg==;sn=48042236",
        "x-ms-date": "Wed, 27 May 2026 23:59:33 GMT"
      },
      "ResponseBody": {
        "etag": "EVq9MzsMwUJUQo0rR8dl2wAetMpGOz95paHkO2KeeFc",
        "name": "snapshot-1049044017",
        "description": null,
        "status": "provisioning",
        "filters": [
          {
            "key": "key-2036749417",
            "label": null,
            "tags": []
          }
        ],
        "composition_type": "key",
        "created": "2026-05-27T23:59:33.5344527+00:00",
        "size": 0,
        "items_count": 0,
        "tags": {},
        "retention_period": 2592000
      }
    },
    {
      "RequestUri": "https://azure-sdk-for-net-test.azconfig.io/operations?api-version=2026-04-01&snapshot=snapshot-1049044017",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NToxNyM0ODA0MjIzNg==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "Sync-Token": "zAJw6V16=NToxNyM0ODA0MjIzNg==;sn=48042236",
        "x-ms-date": "Wed, 27 May 2026 23:59:33 GMT"
      },
      "ResponseBody": {
        "id": "lrbouMwyt26cH8wr-n9M1cEroUe7mWs4JFz2PVn71gc",
        "status": "Running",
        "error": null
      }
    },
[...]
    {
      "RequestUri": "https://azure-sdk-for-net-test.azconfig.io/kv/key-2036749417?api-version=2026-04-01&label=test_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NToxNyM0ODA0MjIzOA==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"stwfdinsGgFIrjAirHXdBUYResyUBU-KtcCrwNKTW90\"",
        "Last-Modified": "Wed, 27 May 2026 23:59:33 GMT",
        "Sync-Token": "zAJw6V16=NToxNyM0ODA0MjIzOQ==;sn=48042239",
        "x-ms-date": "Wed, 27 May 2026 23:59:43 GMT"
      },
      "ResponseBody": {
        "etag": "stwfdinsGgFIrjAirHXdBUYResyUBU-KtcCrwNKTW90",
        "key": "key-2036749417",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "description": null,
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-05-27T23:59:33+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://azure-sdk-for-net-test.azconfig.io;Id=8ePU;Secret=Kg==",
    "RandomSeed": "30651576"
  }
}
