{
  "Entries": [
    {
      "RequestUri": "https://t02f6e87f544544f3-azconfig-net.azconfig.io/kv/key-1305199728?label=test_label\u0026api-version=2022-11-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "b11OQu6GthUatwGXUIKHHSRVyik0TdrUk5kZm3yZd2A="
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022X77civPwdLJcfQyPQQ3xEV-srp1DAdRmjd2J8N6bUpo\u0022",
        "Last-Modified": "Fri, 30 Jun 2023 19:58:26 GMT",
        "Sync-Token": "zAJw6V16=ODo1IzI0ODcwNjY2;sn=24870666"
      },
      "ResponseBody": {
        "etag": "X77civPwdLJcfQyPQQ3xEV-srp1DAdRmjd2J8N6bUpo",
        "key": "key-1305199728",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2023-06-30T19:58:26\u002B00:00"
      }
    },
    {
      "RequestUri": "https://t02f6e87f544544f3-azconfig-net.azconfig.io/snapshots/snapshot_update_status-35bfe8e4-066b-4c91-ba90-1bd0abecfc7e?api-version=2022-11-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=ODo1IzI0ODcwNjY2",
        "x-ms-content-sha256": "QcNsTkMI/LVj8CFD7rZJ3kvWE7\u002BZUiOQK4lAhM0qE64="
      },
      "RequestBody": {
        "filters": [
          {
            "key": "key-1305199728"
          }
        ]
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot\u002Bjson; charset=utf-8",
        "ETag": "\u0022wQhHSKu0J5EQIPz09cfaQw7-vot4_AYjLH8KlJql8WI\u0022",
        "Last-Modified": "Fri, 30 Jun 2023 19:58:26 GMT",
        "Link": "\u003C/kv?snapshot=snapshot_update_status-35bfe8e4-066b-4c91-ba90-1bd0abecfc7e\u0026api-version=2022-11-01-preview\u003E; rel=\u0022items\u0022",
        "Operation-Location": "https://t02f6e87f544544f3-azconfig-net.azconfig.io/operations?snapshot=snapshot_update_status-35bfe8e4-066b-4c91-ba90-1bd0abecfc7e\u0026api-version=2022-11-01-preview",
        "Sync-Token": "zAJw6V16=ODo1IzI0ODcwNjY3;sn=24870667"
      },
      "ResponseBody": {
        "etag": "wQhHSKu0J5EQIPz09cfaQw7-vot4_AYjLH8KlJql8WI",
        "name": "snapshot_update_status-35bfe8e4-066b-4c91-ba90-1bd0abecfc7e",
        "status": "provisioning",
        "filters": [
          {
            "key": "key-1305199728",
            "label": null
          }
        ],
        "composition_type": "key",
        "created": "2023-06-30T19:58:26\u002B00:00",
        "size": 0,
        "items_count": 0,
        "tags": {},
        "retention_period": 2592000
      }
    },
    {
      "RequestUri": "https://t02f6e87f544544f3-azconfig-net.azconfig.io/operations?snapshot=snapshot_update_status-35bfe8e4-066b-4c91-ba90-1bd0abecfc7e\u0026api-version=2022-11-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=ODo1IzI0ODcwNjY3",
        "x-ms-content-sha256": "47DEQpj8HBSa\u002B/TImW\u002B5JCeuQeRkm5NMpJWZG3hSuFU="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "Sync-Token": "zAJw6V16=ODo1IzI0ODcwNjY3;sn=24870667"
      },
      "ResponseBody": {
        "id": "_5UroC-dUGm6Qz8acqp4BUWN6I9nF5AKX8544oV53lU",
        "status": "Running",
        "error": null
      }
    },
[...]
    {
      "RequestUri": "https://t02f6e87f544544f3-azconfig-net.azconfig.io/kv/key-1305199728?label=test_label\u0026api-version=2022-11-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=ODo1IzI0ODcwNjc5",
        "x-ms-content-sha256": "47DEQpj8HBSa\u002B/TImW\u002B5JCeuQeRkm5NMpJWZG3hSuFU="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022X77civPwdLJcfQyPQQ3xEV-srp1DAdRmjd2J8N6bUpo\u0022",
        "Last-Modified": "Fri, 30 Jun 2023 19:58:26 GMT",
        "Sync-Token": "zAJw6V16=ODo1IzI0ODcwNjgw;sn=24870680"
      },
      "ResponseBody": {
        "etag": "X77civPwdLJcfQyPQQ3xEV-srp1DAdRmjd2J8N6bUpo",
        "key": "key-1305199728",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2023-06-30T19:58:26\u002B00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t02f6e87f544544f3-azconfig-net.azconfig.io;Id=Ek\u002BM;Secret=Kg==",
    "RandomSeed": "1332465763"
  }
}
