{
  "Entries": [
    {
      "RequestUri": "https://azure-sdk-for-net-test.azconfig.io/kv/key-1282699553?api-version=2026-04-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"fuo0gzF0tvPXECs1akn_OBE4_JFK-KJ0Qv8nme3VkvU\"",
        "Last-Modified": "Fri, 29 May 2026 19:52:23 GMT",
        "Sync-Token": "zAJw6V16=NToxNyM0ODE0NzgyNg==;sn=48147826",
        "x-ms-date": "Fri, 29 May 2026 19:52:23 GMT"
      },
      "ResponseBody": {
        "etag": "fuo0gzF0tvPXECs1akn_OBE4_JFK-KJ0Qv8nme3VkvU",
        "key": "key-1282699553",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "description": null,
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-05-29T19:52:23+00:00"
      }
    },
    {
      "RequestUri": "https://azure-sdk-for-net-test.azconfig.io/snapshots/snapshot-653809878?api-version=2026-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NToxNyM0ODE0NzgyNg==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "filters": [
          {
            "key": "key-1282699553"
          }
        ],
        "retention_period": 3600
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json; charset=utf-8",
        "ETag": "\"hZTBfFvWOpMwLBWtc_fCYg3ej8EKmcqBzu2P51fIw7Q\"",
        "Last-Modified": "Fri, 29 May 2026 19:52:23 GMT",
        "Link": "</kv?snapshot=snapshot-653809878&api-version=2026-04-01>; rel=\"items\"",
        "Operation-Location": "https://azure-sdk-for-net-test.azconfig.io/operations?snapshot=snapshot-653809878&api-version=2026-04-01",
        "Sync-Token": "zAJw6V16=NToxNyM0ODE0NzgyNw==;sn=48147827",
        "x-ms-date": "Fri, 29 May 2026 19:52:23 GMT"
      },
      "ResponseBody": {
        "etag": "hZTBfFvWOpMwLBWtc_fCYg3ej8EKmcqBzu2P51fIw7Q",
        "name": "snapshot-653809878",
        "description": null,
        "status": "provisioning",
        "filters": [
          {
            "key": "key-1282699553",
            "label": null,
            "tags": []
          }
        ],
        "composition_type": "key",
        "created": "2026-05-29T19:52:23.1933192+00:00",
        "size": 0,
        "items_count": 0,
        "tags": {},
        "retention_period": 3600
      }
    },
    {
      "RequestUri": "https://azure-sdk-for-net-test.azconfig.io/operations?api-version=2026-04-01&snapshot=snapshot-653809878",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NToxNyM0ODE0NzgyNw==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "Sync-Token": "zAJw6V16=NToxNyM0ODE0NzgyNw==;sn=48147827",
        "x-ms-date": "Fri, 29 May 2026 19:52:23 GMT"
      },
      "ResponseBody": {
        "id": "H7EHOfnzU-o9v2hjGA-6wMpwOqhxgfjPK8V0u0SDahI",
        "status": "Running",
        "error": null
      }
    },
[...]
    {
      "RequestUri": "https://azure-sdk-for-net-test.azconfig.io/kv/key-1282699553?api-version=2026-04-01&label=test_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NToxNyM0ODE0NzgzMA==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"fuo0gzF0tvPXECs1akn_OBE4_JFK-KJ0Qv8nme3VkvU\"",
        "Last-Modified": "Fri, 29 May 2026 19:52:23 GMT",
        "Sync-Token": "zAJw6V16=NToxNyM0ODE0NzgzMQ==;sn=48147831",
        "x-ms-date": "Fri, 29 May 2026 19:52:43 GMT"
      },
      "ResponseBody": {
        "etag": "fuo0gzF0tvPXECs1akn_OBE4_JFK-KJ0Qv8nme3VkvU",
        "key": "key-1282699553",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "description": null,
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-05-29T19:52:23+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://azure-sdk-for-net-test.azconfig.io;Id=8ePU;Secret=Kg==",
    "RandomSeed": "1293701445"
  }
}
