{
  "Entries": [
    {
      "RequestUri": "https://t02f6e87f544544f3-azconfig-net.azconfig.io/kv/Key-168599784?api-version=2022-11-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "I\u002BH50/QRl4FG9fwLbwD3Yjunj1bognaHmrCTiG7SKG4="
      },
      "RequestBody": {
        "value": "value1",
        "content_type": null,
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022M2Nz0WHD91cRAxajyQtQ08D9QXqsaWAqE_J_jV4QC64\u0022",
        "Last-Modified": "Thu, 05 Oct 2023 20:37:06 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzIwNDcyMzQ5;sn=20472349"
      },
      "ResponseBody": {
        "etag": "M2Nz0WHD91cRAxajyQtQ08D9QXqsaWAqE_J_jV4QC64",
        "key": "Key-168599784",
        "label": null,
        "content_type": null,
        "value": "value1",
        "tags": {},
        "locked": false,
        "last_modified": "2023-10-05T20:37:06\u002B00:00"
      }
    },
[...]
    {
      "RequestUri": "https://t02f6e87f544544f3-azconfig-net.azconfig.io/snapshots/snapshot-261021102?api-version=2022-11-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=Njo1IzIwNDcyMzUy",
        "x-ms-content-sha256": "WQTLAMQhxUOfkeoVj0c34/J1h8TqSezIgeBjjEIeuFo="
      },
      "RequestBody": {
        "filters": [
          {
            "key": "Key-*"
          }
        ]
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot\u002Bjson; charset=utf-8",
        "ETag": "\u0022w783IVy7ZuiQSvj0n3U9bWM22ipoz8HqPz43Cho81U0\u0022",
        "Last-Modified": "Thu, 05 Oct 2023 20:37:07 GMT",
        "Link": "\u003C/kv?snapshot=snapshot-261021102\u0026api-version=2022-11-01-preview\u003E; rel=\u0022items\u0022",
        "Operation-Location": "https://t02f6e87f544544f3-azconfig-net.azconfig.io/operations?snapshot=snapshot-261021102\u0026api-version=2022-11-01-preview",
        "Sync-Token": "zAJw6V16=Njo1IzIwNDcyMzUz;sn=20472353"
      },
      "ResponseBody": {
        "etag": "w783IVy7ZuiQSvj0n3U9bWM22ipoz8HqPz43Cho81U0",
        "name": "snapshot-261021102",
        "status": "provisioning",
        "filters": [
          {
            "key": "Key-*",
            "label": null
          }
        ],
        "composition_type": "key",
        "created": "2023-10-05T20:37:07\u002B00:00",
        "size": 0,
        "items_count": 0,
        "tags": {},
        "retention_period": 2592000
      }
    },
    {
      "RequestUri": "https://t02f6e87f544544f3-azconfig-net.azconfig.io/operations?snapshot=snapshot-261021102\u0026api-version=2022-11-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Njo1IzIwNDcyMzUz",
        "x-ms-content-sha256": "47DEQpj8HBSa\u002B/TImW\u002B5JCeuQeRkm5NMpJWZG3hSuFU="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "Sync-Token": "zAJw6V16=Njo1IzIwNDcyMzUz;sn=20472353"
      },
      "ResponseBody": {
        "id": "LQ2tXh3jGyD_n3q9kNJEtGZ_70QO8pTghse6w6ajkZA",
        "status": "Running",
        "error": null
      }
    },
[...]
    {
      "RequestUri": "https://t02f6e87f544544f3-azconfig-net.azconfig.io/kv?api-version=2022-11-01-preview\u0026snapshot=snapshot-261021102",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Njo1IzIwNDcyMzU5",
        "x-ms-content-sha256": "47DEQpj8HBSa\u002B/TImW\u002B5JCeuQeRkm5NMpJWZG3hSuFU="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset\u002Bjson; charset=utf-8",
        "Sync-Token": "zAJw6V16=Njo1IzIwNDcyMzU5;sn=20472359"
      },
      "ResponseBody": {
        "items": [
          {
            "etag": "M2Nz0WHD91cRAxajyQtQ08D9QXqsaWAqE_J_jV4QC64",
            "key": "Key-168599784",
            "label": null,
            "content_type": null,
            "value": "value1",
            "tags": {},
            "locked": false,
            "last_modified": "2023-10-05T20:37:06\u002B00:00"
          },
          {
            "etag": "SLvEA7AYetYlEt-DDdsFYEy7QY1X-hPnUe-GyP1opyM",
            "key": "Key-21278724812",
            "label": null,
            "content_type": null,
            "value": "value2",
            "tags": {},
            "locked": false,
            "last_modified": "2023-10-05T20:37:06\u002B00:00"
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://t02f6e87f544544f3-azconfig-net.azconfig.io/kv/Key21794285216?api-version=2022-11-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Njo1IzIwNDcyMzYy",
        "x-ms-content-sha256": "47DEQpj8HBSa\u002B/TImW\u002B5JCeuQeRkm5NMpJWZG3hSuFU="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u00227fhM4DeZ6dz33MnFYrFo6_Ue-m2T08UB4WAV6eMkRa4\u0022",
        "Last-Modified": "Thu, 05 Oct 2023 20:37:07 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzIwNDcyMzYz;sn=20472363"
      },
      "ResponseBody": {
        "etag": "7fhM4DeZ6dz33MnFYrFo6_Ue-m2T08UB4WAV6eMkRa4",
        "key": "Key21794285216",
        "label": null,
        "content_type": null,
        "value": "value4",
        "tags": {},
        "locked": false,
        "last_modified": "2023-10-05T20:37:07\u002B00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t02f6e87f544544f3-azconfig-net.azconfig.io;Id=8HjX;Secret=Kg==",
    "RandomSeed": "1364448054"
  }
}
