{
  "Entries": [
    {
      "RequestUri": "https://tdfcae3cf5eab7143-azconfig-net.azconfig.io/kv/KeyBar-1804259855?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "value1",
        "content_type": null,
        "tags": {
          "foo": "bar"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"aU4ixcWQ_xcLihdTHbYeaW-yFIoKjBERF1noOgVH6j0\"",
        "Last-Modified": "Wed, 24 Jul 2024 15:42:55 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzMyMjcxMTEw;sn=32271110"
      },
      "ResponseBody": {
        "etag": "aU4ixcWQ_xcLihdTHbYeaW-yFIoKjBERF1noOgVH6j0",
        "key": "KeyBar-1804259855",
        "label": null,
        "content_type": null,
        "value": "value1",
        "tags": {
          "foo": "bar"
        },
        "locked": false,
        "last_modified": "2024-07-24T15:42:55+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://tdfcae3cf5eab7143-azconfig-net.azconfig.io/snapshots/snapshot-105225796?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=Njo1IzMyMjcxMTEz",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "filters": [
          {
            "key": "KeyBar-*",
            "tags": [
              "uknown=tag"
            ]
          }
        ]
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json; charset=utf-8",
        "ETag": "\"cKQLnID8oU9x0XgjWSKvCd3490qRUPyy7qXrjRPTe_M\"",
        "Last-Modified": "Wed, 24 Jul 2024 15:42:55 GMT",
        "Link": "</kv?snapshot=snapshot-105225796&api-version=2023-11-01>; rel=\"items\"",
        "Operation-Location": "https://tdfcae3cf5eab7143-azconfig-net.azconfig.io/operations?snapshot=snapshot-105225796&api-version=2023-11-01",
        "Sync-Token": "zAJw6V16=Njo1IzMyMjcxMTE0;sn=32271114"
      },
      "ResponseBody": {
        "etag": "cKQLnID8oU9x0XgjWSKvCd3490qRUPyy7qXrjRPTe_M",
        "name": "snapshot-105225796",
        "status": "provisioning",
        "filters": [
          {
            "key": "KeyBar-*",
            "label": null,
            "tags": [
              "uknown=tag"
            ]
          }
        ],
        "composition_type": "key",
        "created": "2024-07-24T15:42:55+00:00",
        "size": 0,
        "items_count": 0,
        "retention_period": 2592000
      }
    },
    {
      "RequestUri": "https://tdfcae3cf5eab7143-azconfig-net.azconfig.io/operations?snapshot=snapshot-105225796&api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Njo1IzMyMjcxMTE0",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "Sync-Token": "zAJw6V16=Njo1IzMyMjcxMTE0;sn=32271114"
      },
      "ResponseBody": {
        "id": "gQv3epx0QrLaDbWqAO8vxDiXbNbL1_PCHtjVWQCRQyc",
        "status": "Running",
        "error": null
      }
    },
[...]
    {
      "RequestUri": "https://tdfcae3cf5eab7143-azconfig-net.azconfig.io/kv?api-version=2023-11-01&snapshot=snapshot-105225796",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Njo1IzMyMjcxMTM1",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"00wWELzclWef22f82qcUDI7FbJweVOoKWZDA_JoUeD0\"",
        "Sync-Token": "zAJw6V16=Njo1IzMyMjcxMTM1;sn=32271135"
      },
      "ResponseBody": {
        "etag": "00wWELzclWef22f82qcUDI7FbJweVOoKWZDA_JoUeD0",
        "items": []
      }
    },
[...]
    {
      "RequestUri": "https://tdfcae3cf5eab7143-azconfig-net.azconfig.io/kv/KeyBar-41422759673?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Njo1IzMyMjcxMTM4",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"KTQDBHVOwbiLmepr5UewAjBXqTSJ2FWq1xwBmVAomM4\"",
        "Last-Modified": "Wed, 24 Jul 2024 15:42:55 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzMyMjcxMTM5;sn=32271139"
      },
      "ResponseBody": {
        "etag": "KTQDBHVOwbiLmepr5UewAjBXqTSJ2FWq1xwBmVAomM4",
        "key": "KeyBar-41422759673",
        "label": null,
        "content_type": null,
        "value": "value4",
        "locked": false,
        "last_modified": "2024-07-24T15:42:55+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://tdfcae3cf5eab7143-azconfig-net.azconfig.io;Id=MEKF;Secret=Kg==",
    "RandomSeed": "968637160"
  }
}
