{
  "Entries": [
    {
      "RequestUri": "https://t02f6e87f544544f3-azconfig-net.azconfig.io/kv/Key-11764146566?api-version=2022-11-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "I\u002BH50/QRl4FG9fwLbwD3Yjunj1bognaHmrCTiG7SKG4="
      },
      "RequestBody": {
        "value": "value1",
        "content_type": null,
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022n6Qf3zY7rUogqs8ExV0HqBXsCW83Uu3JyWR7qU50orQ\u0022",
        "Last-Modified": "Thu, 05 Oct 2023 20:36:44 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzIwNDcyMzM0;sn=20472334"
      },
      "ResponseBody": {
        "etag": "n6Qf3zY7rUogqs8ExV0HqBXsCW83Uu3JyWR7qU50orQ",
        "key": "Key-11764146566",
        "label": null,
        "content_type": null,
        "value": "value1",
        "tags": {},
        "locked": false,
        "last_modified": "2023-10-05T20:36:44\u002B00:00"
      }
    },
[...]
    {
      "RequestUri": "https://t02f6e87f544544f3-azconfig-net.azconfig.io/snapshots/snapshot-888847649?api-version=2022-11-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=Njo1IzIwNDcyMzM3",
        "x-ms-content-sha256": "WQTLAMQhxUOfkeoVj0c34/J1h8TqSezIgeBjjEIeuFo="
      },
      "RequestBody": {
        "filters": [
          {
            "key": "Key-*"
          }
        ]
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot\u002Bjson; charset=utf-8",
        "ETag": "\u0022BzKDH-fdEo0gwPDpl0IjNQUdYRRQyVV0yJRLdo2bB0c\u0022",
        "Last-Modified": "Thu, 05 Oct 2023 20:36:45 GMT",
        "Link": "\u003C/kv?snapshot=snapshot-888847649\u0026api-version=2022-11-01-preview\u003E; rel=\u0022items\u0022",
        "Operation-Location": "https://t02f6e87f544544f3-azconfig-net.azconfig.io/operations?snapshot=snapshot-888847649\u0026api-version=2022-11-01-preview",
        "Sync-Token": "zAJw6V16=Njo1IzIwNDcyMzM4;sn=20472338"
      },
      "ResponseBody": {
        "etag": "BzKDH-fdEo0gwPDpl0IjNQUdYRRQyVV0yJRLdo2bB0c",
        "name": "snapshot-888847649",
        "status": "provisioning",
        "filters": [
          {
            "key": "Key-*",
            "label": null
          }
        ],
        "composition_type": "key",
        "created": "2023-10-05T20:36:45\u002B00:00",
        "size": 0,
        "items_count": 0,
        "tags": {},
        "retention_period": 2592000
      }
    },
    {
      "RequestUri": "https://t02f6e87f544544f3-azconfig-net.azconfig.io/operations?snapshot=snapshot-888847649\u0026api-version=2022-11-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Njo1IzIwNDcyMzM4",
        "x-ms-content-sha256": "47DEQpj8HBSa\u002B/TImW\u002B5JCeuQeRkm5NMpJWZG3hSuFU="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "Sync-Token": "zAJw6V16=Njo1IzIwNDcyMzM4;sn=20472338"
      },
      "ResponseBody": {
        "id": "Iok2402b4q6oWAK3g7FtlyerptObQNKdye4sWMVlNTo",
        "status": "Running",
        "error": null
      }
    },
[...]
    {
      "RequestUri": "https://t02f6e87f544544f3-azconfig-net.azconfig.io/kv?api-version=2022-11-01-preview\u0026snapshot=snapshot-888847649",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Njo1IzIwNDcyMzQ0",
        "x-ms-content-sha256": "47DEQpj8HBSa\u002B/TImW\u002B5JCeuQeRkm5NMpJWZG3hSuFU="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset\u002Bjson; charset=utf-8",
        "Sync-Token": "zAJw6V16=Njo1IzIwNDcyMzQ0;sn=20472344"
      },
      "ResponseBody": {
        "items": [
          {
            "etag": "n6Qf3zY7rUogqs8ExV0HqBXsCW83Uu3JyWR7qU50orQ",
            "key": "Key-11764146566",
            "label": null,
            "content_type": null,
            "value": "value1",
            "tags": {},
            "locked": false,
            "last_modified": "2023-10-05T20:36:44\u002B00:00"
          },
          {
            "etag": "ry2b0yy7V6f-nE50l7CRJmjx3VYo0B9Jem2xnTKJMRc",
            "key": "Key-2581744514",
            "label": null,
            "content_type": null,
            "value": "value2",
            "tags": {},
            "locked": false,
            "last_modified": "2023-10-05T20:36:44\u002B00:00"
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://t02f6e87f544544f3-azconfig-net.azconfig.io/kv/Key2926137116?api-version=2022-11-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Njo1IzIwNDcyMzQ3",
        "x-ms-content-sha256": "47DEQpj8HBSa\u002B/TImW\u002B5JCeuQeRkm5NMpJWZG3hSuFU="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022_rPriXqPP8FaysnmF_7YJr_BNMoUaCQBAvRdvBnRbs8\u0022",
        "Last-Modified": "Thu, 05 Oct 2023 20:36:44 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzIwNDcyMzQ4;sn=20472348"
      },
      "ResponseBody": {
        "etag": "_rPriXqPP8FaysnmF_7YJr_BNMoUaCQBAvRdvBnRbs8",
        "key": "Key2926137116",
        "label": null,
        "content_type": null,
        "value": "value4",
        "tags": {},
        "locked": false,
        "last_modified": "2023-10-05T20:36:44\u002B00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t02f6e87f544544f3-azconfig-net.azconfig.io;Id=8HjX;Secret=Kg==",
    "RandomSeed": "1017193445"
  }
}
