{
  "Entries": [
    {
      "RequestUri": "https://azure-sdk-for-net-test.azconfig.io/kv/Key-1329699048?api-version=2026-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "value1",
        "content_type": null,
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"dY-NsIzcVXiCtgcHXMqqR9zkpCMQk5Xy-z87BMYfN-g\"",
        "Last-Modified": "Wed, 27 May 2026 23:56:05 GMT",
        "Sync-Token": "zAJw6V16=NToxNyM0ODA0MTc5Ng==;sn=48041796",
        "x-ms-date": "Wed, 27 May 2026 23:56:05 GMT"
      },
      "ResponseBody": {
        "etag": "dY-NsIzcVXiCtgcHXMqqR9zkpCMQk5Xy-z87BMYfN-g",
        "key": "Key-1329699048",
        "label": null,
        "content_type": null,
        "value": "value1",
        "description": null,
        "tags": {},
        "locked": false,
        "last_modified": "2026-05-27T23:56:05+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://azure-sdk-for-net-test.azconfig.io/snapshots/snapshot-1650408181?api-version=2026-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NToxNyM0ODA0MTc5OQ==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "filters": [
          {
            "key": "Key-*"
          }
        ]
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json; charset=utf-8",
        "ETag": "\"8kWUkiei0Jj9AhO_J4aFHehDA00ryBqixGlT8r-9Yvs\"",
        "Last-Modified": "Wed, 27 May 2026 23:56:05 GMT",
        "Link": "</kv?snapshot=snapshot-1650408181&api-version=2026-04-01>; rel=\"items\"",
        "Operation-Location": "https://azure-sdk-for-net-test.azconfig.io/operations?snapshot=snapshot-1650408181&api-version=2026-04-01",
        "Sync-Token": "zAJw6V16=NToxNyM0ODA0MTgwMA==;sn=48041800",
        "x-ms-date": "Wed, 27 May 2026 23:56:05 GMT"
      },
      "ResponseBody": {
        "etag": "8kWUkiei0Jj9AhO_J4aFHehDA00ryBqixGlT8r-9Yvs",
        "name": "snapshot-1650408181",
        "description": null,
        "status": "provisioning",
        "filters": [
          {
            "key": "Key-*",
            "label": null,
            "tags": []
          }
        ],
        "composition_type": "key",
        "created": "2026-05-27T23:56:05.9195145+00:00",
        "size": 0,
        "items_count": 0,
        "tags": {},
        "retention_period": 2592000
      }
    },
    {
      "RequestUri": "https://azure-sdk-for-net-test.azconfig.io/operations?api-version=2026-04-01&snapshot=snapshot-1650408181",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NToxNyM0ODA0MTgwMA==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "Sync-Token": "zAJw6V16=NToxNyM0ODA0MTgwMA==;sn=48041800",
        "x-ms-date": "Wed, 27 May 2026 23:56:05 GMT"
      },
      "ResponseBody": {
        "id": "X9QMxH7QJcJlLtrBLGAYEDsh8Flluclbrpd9_RArlNY",
        "status": "Running",
        "error": null
      }
    },
[...]
    {
      "RequestUri": "https://azure-sdk-for-net-test.azconfig.io/kv?api-version=2026-04-01&snapshot=snapshot-1650408181",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NToxNyM0ODA0MTgwMw==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"uRhQrzqxRV4lcKr0fP3kSzdcjWGF2rG3KuVkeqQR7A8\"",
        "Sync-Token": "zAJw6V16=NToxNyM0ODA0MTgwMw==;sn=48041803",
        "x-ms-date": "Wed, 27 May 2026 23:56:26 GMT"
      },
      "ResponseBody": {
        "etag": "uRhQrzqxRV4lcKr0fP3kSzdcjWGF2rG3KuVkeqQR7A8",
        "items": [
          {
            "etag": "dY-NsIzcVXiCtgcHXMqqR9zkpCMQk5Xy-z87BMYfN-g",
            "key": "Key-1329699048",
            "label": null,
            "content_type": null,
            "value": "value1",
            "description": null,
            "tags": {},
            "locked": false,
            "last_modified": "2026-05-27T23:56:05+00:00"
          },
          {
            "etag": "e1DcXauemESbTcHHuvmok5I9C_IxqPpapxROGrz21bo",
            "key": "Key-2854580168",
            "label": null,
            "content_type": null,
            "value": "value2",
            "description": null,
            "tags": {},
            "locked": false,
            "last_modified": "2026-05-27T23:56:05+00:00"
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://azure-sdk-for-net-test.azconfig.io/kv/Key2245426229?api-version=2026-04-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NToxNyM0ODA0MTgwNg==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"S5Dk5Gg70mIvQejZvdvaZgPV-Ngam-Tm__HumdBwJVg\"",
        "Last-Modified": "Wed, 27 May 2026 23:56:05 GMT",
        "Sync-Token": "zAJw6V16=NToxNyM0ODA0MTgwNw==;sn=48041807",
        "x-ms-date": "Wed, 27 May 2026 23:56:26 GMT"
      },
      "ResponseBody": {
        "etag": "S5Dk5Gg70mIvQejZvdvaZgPV-Ngam-Tm__HumdBwJVg",
        "key": "Key2245426229",
        "label": null,
        "content_type": null,
        "value": "value4",
        "description": null,
        "tags": {},
        "locked": false,
        "last_modified": "2026-05-27T23:56:05+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://azure-sdk-for-net-test.azconfig.io;Id=8ePU;Secret=Kg==",
    "RandomSeed": "902811651"
  }
}
