{
  "Entries": [
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/Key-11089174879?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "value1",
        "content_type": null,
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"5H4rfk2-L9YKhkdvMkVzWOBG-Xa_JZGfbOGRDcEsVCc\"",
        "Last-Modified": "Fri, 23 Jan 2026 07:09:54 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU3NTE3Mw==;sn=103575173",
        "x-ms-date": "Fri, 23 Jan 2026 07:09:54 GMT"
      },
      "ResponseBody": {
        "etag": "5H4rfk2-L9YKhkdvMkVzWOBG-Xa_JZGfbOGRDcEsVCc",
        "key": "Key-11089174879",
        "label": null,
        "content_type": null,
        "value": "value1",
        "tags": {},
        "locked": false,
        "last_modified": "2026-01-23T07:09:54+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/snapshots/snapshot-150051416?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU3NTE3Ng==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "filters": [
          {
            "key": "Key-*"
          }
        ]
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json; charset=utf-8",
        "ETag": "\"KuKbdN9KPeoeKXkH3q7sA8AbJ_016JSn6SbJrshEfBY\"",
        "Last-Modified": "Fri, 23 Jan 2026 07:09:54 GMT",
        "Link": "</kv?snapshot=snapshot-150051416&api-version=2023-11-01>; rel=\"items\"",
        "Operation-Location": "https://t9c954b564de572f9-azconfig-net.azconfig.io/operations?snapshot=snapshot-150051416&api-version=2023-11-01",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU3NTE3Nw==;sn=103575177",
        "x-ms-date": "Fri, 23 Jan 2026 07:09:54 GMT"
      },
      "ResponseBody": {
        "etag": "KuKbdN9KPeoeKXkH3q7sA8AbJ_016JSn6SbJrshEfBY",
        "name": "snapshot-150051416",
        "status": "provisioning",
        "filters": [
          {
            "key": "Key-*",
            "label": null,
            "tags": []
          }
        ],
        "composition_type": "key",
        "created": "2026-01-23T07:09:54.9571391+00:00",
        "size": 0,
        "items_count": 0,
        "tags": {},
        "retention_period": 2592000
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/operations?api-version=2023-11-01&snapshot=snapshot-150051416",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU3NTE3Nw==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU3NTE3Nw==;sn=103575177",
        "x-ms-date": "Fri, 23 Jan 2026 07:09:55 GMT"
      },
      "ResponseBody": {
        "id": "jvTXltPNjURndA83LL_yDvMAYvPrVcQdPaErc2NlZbA",
        "status": "Running",
        "error": null
      }
    },
[...]
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv?api-version=2023-11-01&snapshot=snapshot-150051416",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU3NTIwMQ==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"cwzob_OqfEumOrMejAgIRz2G5xo42HvCOtd-_c0SpTA\"",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU3NTIwMQ==;sn=103575201",
        "x-ms-date": "Fri, 23 Jan 2026 07:10:15 GMT"
      },
      "ResponseBody": {
        "etag": "cwzob_OqfEumOrMejAgIRz2G5xo42HvCOtd-_c0SpTA",
        "items": [
          {
            "etag": "5H4rfk2-L9YKhkdvMkVzWOBG-Xa_JZGfbOGRDcEsVCc",
            "key": "Key-11089174879",
            "label": null,
            "content_type": null,
            "value": "value1",
            "tags": {},
            "locked": false,
            "last_modified": "2026-01-23T07:09:54+00:00"
          },
          {
            "etag": "IOc51im2-Hi25zgWBQStBDWE7l3VUnJ-3338VnkWrsw",
            "key": "Key-21320459925",
            "label": null,
            "content_type": null,
            "value": "value2",
            "tags": {},
            "locked": false,
            "last_modified": "2026-01-23T07:09:54+00:00"
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/Key21301562316?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU3NTIwNA==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"nFZ30JYCCi8Vs_rsoi2ifJqWX6JcbG1QQeIh7j3siXY\"",
        "Last-Modified": "Fri, 23 Jan 2026 07:09:54 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU3NTIwNQ==;sn=103575205",
        "x-ms-date": "Fri, 23 Jan 2026 07:10:16 GMT"
      },
      "ResponseBody": {
        "etag": "nFZ30JYCCi8Vs_rsoi2ifJqWX6JcbG1QQeIh7j3siXY",
        "key": "Key21301562316",
        "label": null,
        "content_type": null,
        "value": "value4",
        "tags": {},
        "locked": false,
        "last_modified": "2026-01-23T07:09:54+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t9c954b564de572f9-azconfig-net.azconfig.io;Id=MdvE;Secret=Kg==",
    "RandomSeed": "1004388393"
  }
}
