{
  "Entries": [
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/kv/key-2028183395?api-version=2023-11-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"tdIE0bxySlXrR20-t3_Tt99hBjzr2RprMwYLXjdAJdI\"",
        "Last-Modified": "Tue, 18 Nov 2025 04:21:02 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzU3ODAzODQ2;sn=57803846",
        "x-ms-date": "Tue, 18 Nov 2025 04:21:02 GMT"
      },
      "ResponseBody": {
        "etag": "tdIE0bxySlXrR20-t3_Tt99hBjzr2RprMwYLXjdAJdI",
        "key": "key-2028183395",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2025-11-18T04:21:02+00:00"
      }
    },
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/snapshots/snapshot-1931958921?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=Njo1IzU3ODAzODQ2",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "filters": [
          {
            "key": "key-2028183395"
          }
        ]
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json; charset=utf-8",
        "ETag": "\"WHvq3sec_bOpzsOJFLcRdCWp7B4ZkYEMtaM4DtVk3G4\"",
        "Last-Modified": "Tue, 18 Nov 2025 04:21:02 GMT",
        "Link": "</kv?snapshot=snapshot-1931958921&api-version=2023-11-01>; rel=\"items\"",
        "Operation-Location": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/operations?snapshot=snapshot-1931958921&api-version=2023-11-01",
        "Sync-Token": "zAJw6V16=Njo1IzU3ODAzODQ3;sn=57803847",
        "x-ms-date": "Tue, 18 Nov 2025 04:21:02 GMT"
      },
      "ResponseBody": {
        "etag": "WHvq3sec_bOpzsOJFLcRdCWp7B4ZkYEMtaM4DtVk3G4",
        "name": "snapshot-1931958921",
        "status": "provisioning",
        "filters": [
          {
            "key": "key-2028183395",
            "label": null,
            "tags": []
          }
        ],
        "composition_type": "key",
        "created": "2025-11-18T04:21:02.2654052+00:00",
        "size": 0,
        "items_count": 0,
        "tags": {},
        "retention_period": 2592000
      }
    },
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/operations?api-version=2023-11-01&snapshot=snapshot-1931958921",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Njo1IzU3ODAzODQ3",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "Sync-Token": "zAJw6V16=Njo1IzU3ODAzODQ3;sn=57803847",
        "x-ms-date": "Tue, 18 Nov 2025 04:21:02 GMT"
      },
      "ResponseBody": {
        "id": "vKbAA9QfdpUsdLyVZxZxLG6UHk0YcjG-78BGeEZ6oP0",
        "status": "Running",
        "error": null
      }
    },
[...]
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/kv/key-2028183395?api-version=2023-11-01&label=test_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Njo1IzU3ODAzODQ4",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"tdIE0bxySlXrR20-t3_Tt99hBjzr2RprMwYLXjdAJdI\"",
        "Last-Modified": "Tue, 18 Nov 2025 04:21:02 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzU3ODAzODQ5;sn=57803849",
        "x-ms-date": "Tue, 18 Nov 2025 04:21:05 GMT"
      },
      "ResponseBody": {
        "etag": "tdIE0bxySlXrR20-t3_Tt99hBjzr2RprMwYLXjdAJdI",
        "key": "key-2028183395",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2025-11-18T04:21:02+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t8cdd9157ca7d1363-azconfig-net.azconfig.io;Id=wNKY;Secret=Kg==",
    "RandomSeed": "1146326736"
  }
}
