{
  "Entries": [
    {
      "RequestUri": "https://azure-sdk-for-net-test.azconfig.io/kv/Key-1868843401?api-version=2026-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "value1",
        "content_type": null,
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"9ojce6tZe1AjfK9ZS7D3FEOQHTSATNek51AKf0cfocw\"",
        "Last-Modified": "Thu, 28 May 2026 00:00:50 GMT",
        "Sync-Token": "zAJw6V16=NToxNyM0ODA0MjI4Mg==;sn=48042282",
        "x-ms-date": "Thu, 28 May 2026 00:00:50 GMT"
      },
      "ResponseBody": {
        "etag": "9ojce6tZe1AjfK9ZS7D3FEOQHTSATNek51AKf0cfocw",
        "key": "Key-1868843401",
        "label": null,
        "content_type": null,
        "value": "value1",
        "description": null,
        "tags": {},
        "locked": false,
        "last_modified": "2026-05-28T00:00:50+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://azure-sdk-for-net-test.azconfig.io/snapshots/snapshot-1386492211?api-version=2026-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NToxNyM0ODA0MjI4NQ==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "filters": [
          {
            "key": "Key-*"
          }
        ]
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json; charset=utf-8",
        "ETag": "\"9CQ78QHzg51rA0UYhELuh5QpynLoS1mRUUBzVqGez1s\"",
        "Last-Modified": "Thu, 28 May 2026 00:00:50 GMT",
        "Link": "</kv?snapshot=snapshot-1386492211&api-version=2026-04-01>; rel=\"items\"",
        "Operation-Location": "https://azure-sdk-for-net-test.azconfig.io/operations?snapshot=snapshot-1386492211&api-version=2026-04-01",
        "Sync-Token": "zAJw6V16=NToxNyM0ODA0MjI4Ng==;sn=48042286",
        "x-ms-date": "Thu, 28 May 2026 00:00:50 GMT"
      },
      "ResponseBody": {
        "etag": "9CQ78QHzg51rA0UYhELuh5QpynLoS1mRUUBzVqGez1s",
        "name": "snapshot-1386492211",
        "description": null,
        "status": "provisioning",
        "filters": [
          {
            "key": "Key-*",
            "label": null,
            "tags": []
          }
        ],
        "composition_type": "key",
        "created": "2026-05-28T00:00:50.5844243+00:00",
        "size": 0,
        "items_count": 0,
        "tags": {},
        "retention_period": 2592000
      }
    },
    {
      "RequestUri": "https://azure-sdk-for-net-test.azconfig.io/operations?api-version=2026-04-01&snapshot=snapshot-1386492211",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NToxNyM0ODA0MjI4Ng==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "Sync-Token": "zAJw6V16=NToxNyM0ODA0MjI4Ng==;sn=48042286",
        "x-ms-date": "Thu, 28 May 2026 00:00:50 GMT"
      },
      "ResponseBody": {
        "id": "jKIE2zaS-oh6wvLWnOjRlQgb_LjXs7mjiZvt0k-3Gy4",
        "status": "Running",
        "error": null
      }
    },
[...]
    {
      "RequestUri": "https://azure-sdk-for-net-test.azconfig.io/kv?api-version=2026-04-01&snapshot=snapshot-1386492211",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NToxNyM0ODA0MjI4OA==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"6kfQxpxxLubhL8z_6MEtejQG_mZV2qJQTG50p2Ms9cY\"",
        "Sync-Token": "zAJw6V16=NToxNyM0ODA0MjI4OA==;sn=48042288",
        "x-ms-date": "Thu, 28 May 2026 00:01:00 GMT"
      },
      "ResponseBody": {
        "etag": "6kfQxpxxLubhL8z_6MEtejQG_mZV2qJQTG50p2Ms9cY",
        "items": [
          {
            "etag": "9ojce6tZe1AjfK9ZS7D3FEOQHTSATNek51AKf0cfocw",
            "key": "Key-1868843401",
            "label": null,
            "content_type": null,
            "value": "value1",
            "description": null,
            "tags": {},
            "locked": false,
            "last_modified": "2026-05-28T00:00:50+00:00"
          },
          {
            "etag": "OVKcZDL_7gobUwa0W-q1zhx7XcQW1VmhsPpTqHvNios",
            "key": "Key-21911038086",
            "label": null,
            "content_type": null,
            "value": "value2",
            "description": null,
            "tags": {},
            "locked": false,
            "last_modified": "2026-05-28T00:00:50+00:00"
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://azure-sdk-for-net-test.azconfig.io/kv/Key267360439?api-version=2026-04-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NToxNyM0ODA0MjI5MQ==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"P-apRP67LMrsyoVaIXau7Y1pDIwqqLr3ynWBqIY-6cI\"",
        "Last-Modified": "Thu, 28 May 2026 00:00:50 GMT",
        "Sync-Token": "zAJw6V16=NToxNyM0ODA0MjI5Mg==;sn=48042292",
        "x-ms-date": "Thu, 28 May 2026 00:01:00 GMT"
      },
      "ResponseBody": {
        "etag": "P-apRP67LMrsyoVaIXau7Y1pDIwqqLr3ynWBqIY-6cI",
        "key": "Key267360439",
        "label": null,
        "content_type": null,
        "value": "value4",
        "description": null,
        "tags": {},
        "locked": false,
        "last_modified": "2026-05-28T00:00:50+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://azure-sdk-for-net-test.azconfig.io;Id=8ePU;Secret=Kg==",
    "RandomSeed": "1156788795"
  }
}
