{
  "Entries": [
    {
      "RequestUri": "https://te0e57d80fe738c82-azconfig-net.azconfig.io/kv/key-179838746?api-version=2023-11-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"Kf-IlEhWrthly2OvgAtmJ1YXccW3QwhEMU5pb58C_M8\"",
        "Last-Modified": "Tue, 29 Jul 2025 17:42:22 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzUxNTQ5NTUw;sn=51549550"
      },
      "ResponseBody": {
        "etag": "Kf-IlEhWrthly2OvgAtmJ1YXccW3QwhEMU5pb58C_M8",
        "key": "key-179838746",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2025-07-29T17:42:22+00:00"
      }
    },
    {
      "RequestUri": "https://te0e57d80fe738c82-azconfig-net.azconfig.io/snapshots/snapshot-1594681125?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=Njo1IzUxNTQ5NTUw",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "filters": [
          {
            "key": "key-179838746"
          }
        ]
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json; charset=utf-8",
        "ETag": "\"aSFfQf3j_j27Ai96p0cVQenTmKA-WbW6PE1JRVkP-tw\"",
        "Last-Modified": "Tue, 29 Jul 2025 17:42:22 GMT",
        "Link": "</kv?snapshot=snapshot-1594681125&api-version=2023-11-01>; rel=\"items\"",
        "Operation-Location": "https://te0e57d80fe738c82-azconfig-net.azconfig.io/operations?snapshot=snapshot-1594681125&api-version=2023-11-01",
        "Sync-Token": "zAJw6V16=Njo1IzUxNTQ5NTUx;sn=51549551"
      },
      "ResponseBody": {
        "etag": "aSFfQf3j_j27Ai96p0cVQenTmKA-WbW6PE1JRVkP-tw",
        "name": "snapshot-1594681125",
        "status": "provisioning",
        "filters": [
          {
            "key": "key-179838746",
            "label": null,
            "tags": []
          }
        ],
        "composition_type": "key",
        "created": "2025-07-29T17:42:22.8404098+00:00",
        "size": 0,
        "items_count": 0,
        "tags": {},
        "retention_period": 2592000
      }
    },
    {
      "RequestUri": "https://te0e57d80fe738c82-azconfig-net.azconfig.io/operations?snapshot=snapshot-1594681125&api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Njo1IzUxNTQ5NTUx",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "Sync-Token": "zAJw6V16=Njo1IzUxNTQ5NTUx;sn=51549551"
      },
      "ResponseBody": {
        "id": "dVYkkIBesPyIN_vZukiIhfcdNQ7xXw5up6BTpvbdR_I",
        "status": "Running",
        "error": null
      }
    },
[...]
    {
      "RequestUri": "https://te0e57d80fe738c82-azconfig-net.azconfig.io/kv/key-179838746?api-version=2023-11-01&label=test_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Njo1IzUxNTQ5NTUy",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"Kf-IlEhWrthly2OvgAtmJ1YXccW3QwhEMU5pb58C_M8\"",
        "Last-Modified": "Tue, 29 Jul 2025 17:42:22 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzUxNTQ5NTUz;sn=51549553"
      },
      "ResponseBody": {
        "etag": "Kf-IlEhWrthly2OvgAtmJ1YXccW3QwhEMU5pb58C_M8",
        "key": "key-179838746",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2025-07-29T17:42:22+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://te0e57d80fe738c82-azconfig-net.azconfig.io;Id=L29Y;Secret=Kg==",
    "RandomSeed": "587139103"
  }
}
