{
  "Entries": [
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/kv/KeyBar-1444706632?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "value1",
        "content_type": null,
        "tags": {
          "foo": "bar"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"9aAFYFpWiLF3BihMZceiBTg1GrSowadCJjwSvcoNbP0\"",
        "Last-Modified": "Tue, 18 Nov 2025 04:27:33 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzU3ODA0MzM2;sn=57804336",
        "x-ms-date": "Tue, 18 Nov 2025 04:27:33 GMT"
      },
      "ResponseBody": {
        "etag": "9aAFYFpWiLF3BihMZceiBTg1GrSowadCJjwSvcoNbP0",
        "key": "KeyBar-1444706632",
        "label": null,
        "content_type": null,
        "value": "value1",
        "tags": {
          "foo": "bar"
        },
        "locked": false,
        "last_modified": "2025-11-18T04:27:33+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/snapshots/snapshot-1907551945?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=Njo1IzU3ODA0MzM5",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "filters": [
          {
            "key": "KeyBar-*",
            "tags": [
              "uknown=tag"
            ]
          }
        ]
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json; charset=utf-8",
        "ETag": "\"8trj-MMUnj_xedGUTPbT64kQaD9RF8wUflSQz9gdBRo\"",
        "Last-Modified": "Tue, 18 Nov 2025 04:27:34 GMT",
        "Link": "</kv?snapshot=snapshot-1907551945&api-version=2023-11-01>; rel=\"items\"",
        "Operation-Location": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/operations?snapshot=snapshot-1907551945&api-version=2023-11-01",
        "Sync-Token": "zAJw6V16=Njo1IzU3ODA0MzQw;sn=57804340",
        "x-ms-date": "Tue, 18 Nov 2025 04:27:34 GMT"
      },
      "ResponseBody": {
        "etag": "8trj-MMUnj_xedGUTPbT64kQaD9RF8wUflSQz9gdBRo",
        "name": "snapshot-1907551945",
        "status": "provisioning",
        "filters": [
          {
            "key": "KeyBar-*",
            "label": null,
            "tags": [
              "uknown=tag"
            ]
          }
        ],
        "composition_type": "key",
        "created": "2025-11-18T04:27:34.6882795+00:00",
        "size": 0,
        "items_count": 0,
        "tags": {},
        "retention_period": 2592000
      }
    },
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/operations?api-version=2023-11-01&snapshot=snapshot-1907551945",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Njo1IzU3ODA0MzQw",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "Sync-Token": "zAJw6V16=Njo1IzU3ODA0MzQw;sn=57804340",
        "x-ms-date": "Tue, 18 Nov 2025 04:27:34 GMT"
      },
      "ResponseBody": {
        "id": "hKdPo4LPIeSYtw9I869O4JKtxJeytQlS2_BmSJujDqo",
        "status": "Running",
        "error": null
      }
    },
[...]
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/kv?api-version=2023-11-01&snapshot=snapshot-1907551945",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Njo1IzU3ODA0MzQx",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"00wWELzclWef22f82qcUDI7FbJweVOoKWZDA_JoUeD0\"",
        "Sync-Token": "zAJw6V16=Njo1IzU3ODA0MzQx;sn=57804341",
        "x-ms-date": "Tue, 18 Nov 2025 04:27:55 GMT"
      },
      "ResponseBody": {
        "etag": "00wWELzclWef22f82qcUDI7FbJweVOoKWZDA_JoUeD0",
        "items": []
      }
    },
[...]
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/kv/KeyBar-41980950487?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Njo1IzU3ODA0MzQ0",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"swvGiduVgGyc0lSnUmlXb9M0RXdE6cZNTGm7rNoWSyk\"",
        "Last-Modified": "Tue, 18 Nov 2025 04:27:34 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzU3ODA0MzQ1;sn=57804345",
        "x-ms-date": "Tue, 18 Nov 2025 04:27:55 GMT"
      },
      "ResponseBody": {
        "etag": "swvGiduVgGyc0lSnUmlXb9M0RXdE6cZNTGm7rNoWSyk",
        "key": "KeyBar-41980950487",
        "label": null,
        "content_type": null,
        "value": "value4",
        "tags": {},
        "locked": false,
        "last_modified": "2025-11-18T04:27:34+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t8cdd9157ca7d1363-azconfig-net.azconfig.io;Id=wNKY;Secret=Kg==",
    "RandomSeed": "967914331"
  }
}
