{
  "Entries": [
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/KeyBar-12115676046?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "value1",
        "content_type": null,
        "tags": {
          "foo": "bartemp1"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"5Q89oMYXsXZ11bcUIG7dqYSn_MAxFohIinoihp4KCmo\"",
        "Last-Modified": "Thu, 22 Jan 2026 02:00:32 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzQ3NDQwNg==;sn=103474406",
        "x-ms-date": "Thu, 22 Jan 2026 02:00:32 GMT"
      },
      "ResponseBody": {
        "etag": "5Q89oMYXsXZ11bcUIG7dqYSn_MAxFohIinoihp4KCmo",
        "key": "KeyBar-12115676046",
        "label": null,
        "content_type": null,
        "value": "value1",
        "tags": {
          "foo": "bartemp1"
        },
        "locked": false,
        "last_modified": "2026-01-22T02:00:32+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/Key1633721855?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzQ3NDQwOA==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "value4",
        "content_type": null,
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"RZN9qxlvBPwoOfsvWw7ivTCUGquq01c2sj2oNvq1maY\"",
        "Last-Modified": "Thu, 22 Jan 2026 02:00:33 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzQ3NDQwOQ==;sn=103474409",
        "x-ms-date": "Thu, 22 Jan 2026 02:00:33 GMT"
      },
      "ResponseBody": {
        "etag": "RZN9qxlvBPwoOfsvWw7ivTCUGquq01c2sj2oNvq1maY",
        "key": "Key1633721855",
        "label": null,
        "content_type": null,
        "value": "value4",
        "tags": {},
        "locked": false,
        "last_modified": "2026-01-22T02:00:33+00:00"
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/snapshots/snapshot-797003375?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzQ3NDQwOQ==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "filters": [
          {
            "key": "KeyBar-*",
            "tags": [
              "foo=bartemp1"
            ]
          }
        ]
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json; charset=utf-8",
        "ETag": "\"G3LMKt9JSCRfmEQlTa_kQPJLbS0pIqQm8GXFMJXktRw\"",
        "Last-Modified": "Thu, 22 Jan 2026 02:00:33 GMT",
        "Link": "</kv?snapshot=snapshot-797003375&api-version=2023-11-01>; rel=\"items\"",
        "Operation-Location": "https://t9c954b564de572f9-azconfig-net.azconfig.io/operations?snapshot=snapshot-797003375&api-version=2023-11-01",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzQ3NDQxMA==;sn=103474410",
        "x-ms-date": "Thu, 22 Jan 2026 02:00:33 GMT"
      },
      "ResponseBody": {
        "etag": "G3LMKt9JSCRfmEQlTa_kQPJLbS0pIqQm8GXFMJXktRw",
        "name": "snapshot-797003375",
        "status": "provisioning",
        "filters": [
          {
            "key": "KeyBar-*",
            "label": null,
            "tags": [
              "foo=bartemp1"
            ]
          }
        ],
        "composition_type": "key",
        "created": "2026-01-22T02:00:33.4684939+00:00",
        "size": 0,
        "items_count": 0,
        "tags": {},
        "retention_period": 2592000
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/operations?api-version=2023-11-01&snapshot=snapshot-797003375",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzQ3NDQxMA==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzQ3NDQxMA==;sn=103474410",
        "x-ms-date": "Thu, 22 Jan 2026 02:00:33 GMT"
      },
      "ResponseBody": {
        "id": "tQYeW9oyqEC2isCUk3qnX4VBWQYqcjweXLf_MORLhHY",
        "status": "Running",
        "error": null
      }
    },
[...]
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv?api-version=2023-11-01&snapshot=snapshot-797003375",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzQ3NDQxMQ==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"Gs01eYPjZq0-RjDJT6wzZ4DOLMgAUUwI24As5LNe3d8\"",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzQ3NDQxMQ==;sn=103474411",
        "x-ms-date": "Thu, 22 Jan 2026 02:00:44 GMT"
      },
      "ResponseBody": {
        "etag": "Gs01eYPjZq0-RjDJT6wzZ4DOLMgAUUwI24As5LNe3d8",
        "items": [
          {
            "etag": "5Q89oMYXsXZ11bcUIG7dqYSn_MAxFohIinoihp4KCmo",
            "key": "KeyBar-12115676046",
            "label": null,
            "content_type": null,
            "value": "value1",
            "tags": {
              "foo": "bartemp1"
            },
            "locked": false,
            "last_modified": "2026-01-22T02:00:32+00:00"
          },
          {
            "etag": "ZXOlqVdsswRa_e7GatUT_uGf1ci-JNLmWhIGUkB0aQQ",
            "key": "KeyBar-21664789142",
            "label": null,
            "content_type": null,
            "value": "value2",
            "tags": {
              "foo": "bartemp1"
            },
            "locked": false,
            "last_modified": "2026-01-22T02:00:33+00:00"
          },
          {
            "etag": "e3QSVhEAR-w9rznt8VlFWZd4jlQMOIENNbgUplaID0E",
            "key": "KeyBar-31542352397",
            "label": null,
            "content_type": null,
            "value": "value3",
            "tags": {
              "foo": "bartemp1"
            },
            "locked": false,
            "last_modified": "2026-01-22T02:00:33+00:00"
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/Key1633721855?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzQ3NDQxNA==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"RZN9qxlvBPwoOfsvWw7ivTCUGquq01c2sj2oNvq1maY\"",
        "Last-Modified": "Thu, 22 Jan 2026 02:00:33 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzQ3NDQxNQ==;sn=103474415",
        "x-ms-date": "Thu, 22 Jan 2026 02:00:44 GMT"
      },
      "ResponseBody": {
        "etag": "RZN9qxlvBPwoOfsvWw7ivTCUGquq01c2sj2oNvq1maY",
        "key": "Key1633721855",
        "label": null,
        "content_type": null,
        "value": "value4",
        "tags": {},
        "locked": false,
        "last_modified": "2026-01-22T02:00:33+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t9c954b564de572f9-azconfig-net.azconfig.io;Id=MdvE;Secret=Kg==",
    "RandomSeed": "1187306565"
  }
}
