{
  "Entries": [
    {
      "RequestUri": "https://tdfcae3cf5eab7143-azconfig-net.azconfig.io/kv/key-1927567315?label=test_label&api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"8vbW1tTlUYq1MSFfCxdNuXXazL94KvXb72fnbb4ZU84\"",
        "Last-Modified": "Wed, 24 Jul 2024 15:50:23 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzMyMjcxOTA2;sn=32271906"
      },
      "ResponseBody": {
        "etag": "8vbW1tTlUYq1MSFfCxdNuXXazL94KvXb72fnbb4ZU84",
        "key": "key-1927567315",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2024-07-24T15:50:23+00:00"
      }
    },
    {
      "RequestUri": "https://tdfcae3cf5eab7143-azconfig-net.azconfig.io/kv/key-1927567315?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=Njo1IzMyMjcxOTA2",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"J2-qa1mvrgH1vz1OneiFC4E64K7UjVkBPgcFuZdiSwc\"",
        "Last-Modified": "Wed, 24 Jul 2024 15:50:23 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzMyMjcxOTA3;sn=32271907"
      },
      "ResponseBody": {
        "etag": "J2-qa1mvrgH1vz1OneiFC4E64K7UjVkBPgcFuZdiSwc",
        "key": "key-1927567315",
        "label": null,
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2024-07-24T15:50:23+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://tdfcae3cf5eab7143-azconfig-net.azconfig.io/kv/key-1927567315?label=test_label&api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Njo1IzMyMjcxOTA4",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"8vbW1tTlUYq1MSFfCxdNuXXazL94KvXb72fnbb4ZU84\"",
        "Last-Modified": "Wed, 24 Jul 2024 15:50:23 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzMyMjcxOTA5;sn=32271909"
      },
      "ResponseBody": {
        "etag": "8vbW1tTlUYq1MSFfCxdNuXXazL94KvXb72fnbb4ZU84",
        "key": "key-1927567315",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2024-07-24T15:50:23+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://tdfcae3cf5eab7143-azconfig-net.azconfig.io;Id=MEKF;Secret=Kg==",
    "RandomSeed": "984831962"
  }
}
