{
  "Entries": [
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-234501272?api-version=2023-11-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"0jC7IvvBjgv2JWUJdsWSNsgpBTctHEHwLM2-_5JOp54\"",
        "Last-Modified": "Fri, 23 Jan 2026 07:10:29 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU3NTIyMA==;sn=103575220",
        "x-ms-date": "Fri, 23 Jan 2026 07:10:29 GMT"
      },
      "ResponseBody": {
        "etag": "0jC7IvvBjgv2JWUJdsWSNsgpBTctHEHwLM2-_5JOp54",
        "key": "key-234501272",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-01-23T07:10:29+00:00"
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/locks/key-234501272?api-version=2023-11-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU3NTIyMA==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"VcSz9qagUOB3fxQrdPdn5Ad6Mo8fFpuoiJ1d0Jd1nHw\"",
        "Last-Modified": "Fri, 23 Jan 2026 07:10:29 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU3NTIyMQ==;sn=103575221",
        "x-ms-date": "Fri, 23 Jan 2026 07:10:29 GMT"
      },
      "ResponseBody": {
        "etag": "VcSz9qagUOB3fxQrdPdn5Ad6Mo8fFpuoiJ1d0Jd1nHw",
        "key": "key-234501272",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": true,
        "last_modified": "2026-01-23T07:10:29+00:00"
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-234501272?api-version=2023-11-01&label=test_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU3NTIyMQ==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 409,
      "ResponseHeaders": {
        "Content-Type": "application/problem+json; charset=utf-8",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU3NTIyMg==;sn=103575222",
        "x-ms-date": "Fri, 23 Jan 2026 07:10:29 GMT"
      },
      "ResponseBody": {
        "type": "https://azconfig.io/errors/key-locked",
        "title": "Modifing key 'key-234501272' is not allowed",
        "name": "key-234501272",
        "detail": "The key is read-only. To allow modification unlock it first.",
        "status": 409
      }
    },
[...]
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-234501272?api-version=2023-11-01&label=test_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU3NTIyMw==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"2Ucx7eCaLRQjLfX3g1orRj4uI1V15FlPDJ5l1hm3FA8\"",
        "Last-Modified": "Fri, 23 Jan 2026 07:10:29 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU3NTIyNQ==;sn=103575225",
        "x-ms-date": "Fri, 23 Jan 2026 07:10:29 GMT"
      },
      "ResponseBody": {
        "etag": "2Ucx7eCaLRQjLfX3g1orRj4uI1V15FlPDJ5l1hm3FA8",
        "key": "key-234501272",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-01-23T07:10:29+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t9c954b564de572f9-azconfig-net.azconfig.io;Id=MdvE;Secret=Kg==",
    "RandomSeed": "1546018557"
  }
}
