{
  "Entries": [
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-200376351?api-version=2023-11-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"zjwrsym8iOAoBXLqJM4ggGT1uj6ZYEGkCKeIqSXj_ms\"",
        "Last-Modified": "Fri, 23 Jan 2026 07:10:27 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU3NTIxMA==;sn=103575210",
        "x-ms-date": "Fri, 23 Jan 2026 07:10:27 GMT"
      },
      "ResponseBody": {
        "etag": "zjwrsym8iOAoBXLqJM4ggGT1uj6ZYEGkCKeIqSXj_ms",
        "key": "key-200376351",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-01-23T07:10:27+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-200376351?api-version=2023-11-01&label=test_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"zjwrsym8iOAoBXLqJM4ggGT1uj6ZYEGkCKeIqSXj_ms\"",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU3NTIxMQ==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU3NTIxMg==;sn=103575212",
        "x-ms-date": "Fri, 23 Jan 2026 07:10:28 GMT"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-200376351?api-version=2023-11-01&label=test_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU3NTIxMg==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"77159VWYXEua6CkhNieC9_CmmtGfjDfTjzEFo4MrdtI\"",
        "Last-Modified": "Fri, 23 Jan 2026 07:10:27 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU3NTIxMw==;sn=103575213",
        "x-ms-date": "Fri, 23 Jan 2026 07:10:28 GMT"
      },
      "ResponseBody": {
        "etag": "77159VWYXEua6CkhNieC9_CmmtGfjDfTjzEFo4MrdtI",
        "key": "key-200376351",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "new_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-01-23T07:10:27+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t9c954b564de572f9-azconfig-net.azconfig.io;Id=MdvE;Secret=Kg==",
    "RandomSeed": "177405290"
  }
}
