{
  "Entries": [
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-31857204?api-version=2023-11-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"XkQnvrSjQoTovvm63czGCHcnbJV64l6yrAEd1jMrb9Q\"",
        "Last-Modified": "Mon, 26 Jan 2026 05:39:48 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzg1MDYwNQ==;sn=103850605",
        "x-ms-date": "Mon, 26 Jan 2026 05:39:48 GMT"
      },
      "ResponseBody": {
        "etag": "XkQnvrSjQoTovvm63czGCHcnbJV64l6yrAEd1jMrb9Q",
        "key": "key-31857204",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-01-26T05:39:48+00:00"
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-31857204?api-version=2023-11-01&label=test_label_diff",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzg1MDYwNQ==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"x-tK76ATNiBl6Vm-NEssimSmVhnNacX5S_WPRKK0vmQ\"",
        "Last-Modified": "Mon, 26 Jan 2026 05:39:49 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzg1MDYwNg==;sn=103850606",
        "x-ms-date": "Mon, 26 Jan 2026 05:39:49 GMT"
      },
      "ResponseBody": {
        "etag": "x-tK76ATNiBl6Vm-NEssimSmVhnNacX5S_WPRKK0vmQ",
        "key": "key-31857204",
        "label": "test_label_diff",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-01-26T05:39:49+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-31857204?api-version=2023-11-01&label=test_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzg1MDYwNw==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"XkQnvrSjQoTovvm63czGCHcnbJV64l6yrAEd1jMrb9Q\"",
        "Last-Modified": "Mon, 26 Jan 2026 05:39:48 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzg1MDYwOA==;sn=103850608",
        "x-ms-date": "Mon, 26 Jan 2026 05:39:49 GMT"
      },
      "ResponseBody": {
        "etag": "XkQnvrSjQoTovvm63czGCHcnbJV64l6yrAEd1jMrb9Q",
        "key": "key-31857204",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-01-26T05:39:48+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t9c954b564de572f9-azconfig-net.azconfig.io;Id=MdvE;Secret=Kg==",
    "RandomSeed": "1223772566"
  }
}
