{
  "Entries": [
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-1819897700?api-version=2023-11-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"o8h9wu2-4unuUHwiWhYfHKK_cmNB-8tsQ0EFL32KfBw\"",
        "Last-Modified": "Tue, 06 Jan 2026 01:17:46 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTc2NTk1NQ==;sn=101765955",
        "x-ms-date": "Tue, 06 Jan 2026 01:17:46 GMT"
      },
      "ResponseBody": {
        "etag": "o8h9wu2-4unuUHwiWhYfHKK_cmNB-8tsQ0EFL32KfBw",
        "key": "key-1819897700",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-01-06T01:17:46+00:00"
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-1819897700?api-version=2023-11-01&label=test_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"o8h9wu2-4unuUHwiWhYfHKK_cmNB-8tsQ0EFL32KfBw\"",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTc2NTk1NQ==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"o8h9wu2-4unuUHwiWhYfHKK_cmNB-8tsQ0EFL32KfBw\"",
        "Last-Modified": "Tue, 06 Jan 2026 01:17:46 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTc2NTk1Ng==;sn=101765956",
        "x-ms-date": "Tue, 06 Jan 2026 01:17:46 GMT"
      },
      "ResponseBody": {
        "etag": "o8h9wu2-4unuUHwiWhYfHKK_cmNB-8tsQ0EFL32KfBw",
        "key": "key-1819897700",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-01-06T01:17:46+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t9c954b564de572f9-azconfig-net.azconfig.io;Id=MdvE;Secret=Kg==",
    "RandomSeed": "1025665925"
  }
}
