{
  "Entries": [
    {
      "RequestUri": "https://t02f6e87f544544f3-azconfig-net.azconfig.io/kv/key-1336762300?label=test_label\u0026api-version=2022-11-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "b11OQu6GthUatwGXUIKHHSRVyik0TdrUk5kZm3yZd2A="
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022p9RuBnDcSTLcEj3zUfQqblRxcfPKpM5fEtjh9RopFWs\u0022",
        "Last-Modified": "Fri, 30 Jun 2023 19:04:54 GMT",
        "Sync-Token": "zAJw6V16=ODo1IzI0ODY5MzYw;sn=24869360"
      },
      "ResponseBody": {
        "etag": "p9RuBnDcSTLcEj3zUfQqblRxcfPKpM5fEtjh9RopFWs",
        "key": "key-1336762300",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2023-06-30T19:04:54\u002B00:00"
      }
    },
[...]
    {
      "RequestUri": "https://t02f6e87f544544f3-azconfig-net.azconfig.io/kv/key-1336762300?label=test_label\u0026api-version=2022-11-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u0022p9RuBnDcSTLcEj3zUfQqblRxcfPKpM5fEtjh9RopFWs\u0022",
        "Sync-Token": "zAJw6V16=ODo1IzI0ODY5MzYx",
        "x-ms-content-sha256": "47DEQpj8HBSa\u002B/TImW\u002B5JCeuQeRkm5NMpJWZG3hSuFU="
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Sync-Token": "zAJw6V16=ODo1IzI0ODY5MzYy;sn=24869362"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://t02f6e87f544544f3-azconfig-net.azconfig.io/kv/key-1336762300?label=test_label\u0026api-version=2022-11-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=ODo1IzI0ODY5MzYy",
        "x-ms-content-sha256": "47DEQpj8HBSa\u002B/TImW\u002B5JCeuQeRkm5NMpJWZG3hSuFU="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u00222nHzou9slt-Co5-pcEIipKXHGYnP3dOrGXckOAg4pyo\u0022",
        "Last-Modified": "Fri, 30 Jun 2023 19:04:54 GMT",
        "Sync-Token": "zAJw6V16=ODo1IzI0ODY5MzYz;sn=24869363"
      },
      "ResponseBody": {
        "etag": "2nHzou9slt-Co5-pcEIipKXHGYnP3dOrGXckOAg4pyo",
        "key": "key-1336762300",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "new_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2023-06-30T19:04:54\u002B00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t02f6e87f544544f3-azconfig-net.azconfig.io;Id=Ek\u002BM;Secret=Kg==",
    "RandomSeed": "56168350"
  }
}
