{
  "Entries": [
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/kv/key-330750942?api-version=2023-11-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"B9i-aFg-udJbi9zAyDzDEZ_2cUggH-uYRQw6CXwdfxs\"",
        "Last-Modified": "Tue, 18 Nov 2025 04:29:01 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzU3ODA0Mzc2;sn=57804376",
        "x-ms-date": "Tue, 18 Nov 2025 04:29:01 GMT"
      },
      "ResponseBody": {
        "etag": "B9i-aFg-udJbi9zAyDzDEZ_2cUggH-uYRQw6CXwdfxs",
        "key": "key-330750942",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2025-11-18T04:29:01+00:00"
      }
    },
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/kv/key-330750942?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=Njo1IzU3ODA0Mzc2",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"zZfA20IlOrdEuaPm6wTdxmqhyiLrPp_by2qngzKyUBM\"",
        "Last-Modified": "Tue, 18 Nov 2025 04:29:01 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzU3ODA0Mzc3;sn=57804377",
        "x-ms-date": "Tue, 18 Nov 2025 04:29:01 GMT"
      },
      "ResponseBody": {
        "etag": "zZfA20IlOrdEuaPm6wTdxmqhyiLrPp_by2qngzKyUBM",
        "key": "key-330750942",
        "label": null,
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2025-11-18T04:29:01+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/kv/key-330750942?api-version=2023-11-01&label=test_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Njo1IzU3ODA0Mzc4",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"B9i-aFg-udJbi9zAyDzDEZ_2cUggH-uYRQw6CXwdfxs\"",
        "Last-Modified": "Tue, 18 Nov 2025 04:29:01 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzU3ODA0Mzc5;sn=57804379",
        "x-ms-date": "Tue, 18 Nov 2025 04:29:01 GMT"
      },
      "ResponseBody": {
        "etag": "B9i-aFg-udJbi9zAyDzDEZ_2cUggH-uYRQw6CXwdfxs",
        "key": "key-330750942",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2025-11-18T04:29:01+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t8cdd9157ca7d1363-azconfig-net.azconfig.io;Id=wNKY;Secret=Kg==",
    "RandomSeed": "329149432"
  }
}
