{
  "Entries": [
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-912024346?api-version=2023-11-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"-fmbiM6YWgwT39kd2eeyhVHConv_O69KuQheqVY1H_Y\"",
        "Last-Modified": "Tue, 06 Jan 2026 01:17:49 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTc2NTk2Nw==;sn=101765967",
        "x-ms-date": "Tue, 06 Jan 2026 01:17:49 GMT"
      },
      "ResponseBody": {
        "etag": "-fmbiM6YWgwT39kd2eeyhVHConv_O69KuQheqVY1H_Y",
        "key": "key-912024346",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-01-06T01:17:49+00:00"
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-912024346?api-version=2023-11-01&label=test_label_diff",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTc2NTk2Nw==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"Jy9L3eQm-nCYajE-OyJOn7G7BjzUT2jHUSdCcY-ybNE\"",
        "Last-Modified": "Tue, 06 Jan 2026 01:17:50 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTc2NTk2OA==;sn=101765968",
        "x-ms-date": "Tue, 06 Jan 2026 01:17:50 GMT"
      },
      "ResponseBody": {
        "etag": "Jy9L3eQm-nCYajE-OyJOn7G7BjzUT2jHUSdCcY-ybNE",
        "key": "key-912024346",
        "label": "test_label_diff",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-01-06T01:17:50+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-912024346?api-version=2023-11-01&label=test_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTc2NTk2OQ==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"-fmbiM6YWgwT39kd2eeyhVHConv_O69KuQheqVY1H_Y\"",
        "Last-Modified": "Tue, 06 Jan 2026 01:17:49 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTc2NTk3MA==;sn=101765970",
        "x-ms-date": "Tue, 06 Jan 2026 01:17:50 GMT"
      },
      "ResponseBody": {
        "etag": "-fmbiM6YWgwT39kd2eeyhVHConv_O69KuQheqVY1H_Y",
        "key": "key-912024346",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-01-06T01:17:49+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t9c954b564de572f9-azconfig-net.azconfig.io;Id=MdvE;Secret=Kg==",
    "RandomSeed": "1252750127"
  }
}
