{
  "Entries": [
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-820779910?api-version=2023-11-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"OHcjd7k-5VmTLsiVrxpsWs7L_bMEW2CgvRDU5sxbKwk\"",
        "Last-Modified": "Thu, 22 Jan 2026 01:38:46 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzQ3Mzg3OA==;sn=103473878",
        "x-ms-date": "Thu, 22 Jan 2026 01:38:46 GMT"
      },
      "ResponseBody": {
        "etag": "OHcjd7k-5VmTLsiVrxpsWs7L_bMEW2CgvRDU5sxbKwk",
        "key": "key-820779910",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-01-22T01:38:46+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-820779910?api-version=2023-11-01&label=test_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"OHcjd7k-5VmTLsiVrxpsWs7L_bMEW2CgvRDU5sxbKwk\"",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzQ3Mzg3OQ==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Sync-Token": "zAJw6V16=NTo1IzEwMzQ3Mzg4MA==;sn=103473880",
        "x-ms-date": "Thu, 22 Jan 2026 01:38:46 GMT"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-820779910?api-version=2023-11-01&label=test_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzQ3Mzg4MA==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"1Qd79nb5gDtHydFAOIpTfzayKshuhJhsbQSpjMJY4lw\"",
        "Last-Modified": "Thu, 22 Jan 2026 01:38:46 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzQ3Mzg4MQ==;sn=103473881",
        "x-ms-date": "Thu, 22 Jan 2026 01:38:46 GMT"
      },
      "ResponseBody": {
        "etag": "1Qd79nb5gDtHydFAOIpTfzayKshuhJhsbQSpjMJY4lw",
        "key": "key-820779910",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "new_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-01-22T01:38:46+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t9c954b564de572f9-azconfig-net.azconfig.io;Id=MdvE;Secret=Kg==",
    "RandomSeed": "1876773177"
  }
}
