{
  "Entries": [
    {
      "RequestUri": "https://azure-sdk-for-net-test.azconfig.io/kv/key-864007521?api-version=2026-04-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"o6hZ1jj5Vd9EpsY33LyYd-AnX1z9Fw3fTcss7Uk2sbU\"",
        "Last-Modified": "Thu, 28 May 2026 00:01:31 GMT",
        "Sync-Token": "zAJw6V16=NToxNyM0ODA0MjMxNA==;sn=48042314",
        "x-ms-date": "Thu, 28 May 2026 00:01:31 GMT"
      },
      "ResponseBody": {
        "etag": "o6hZ1jj5Vd9EpsY33LyYd-AnX1z9Fw3fTcss7Uk2sbU",
        "key": "key-864007521",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "description": null,
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-05-28T00:01:31+00:00"
      }
    },
    {
      "RequestUri": "https://azure-sdk-for-net-test.azconfig.io/kv/key-864007521?api-version=2026-04-01&label=test_label_diff",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NToxNyM0ODA0MjMxNA==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"ooDhWlPtnHUIedyCR_aaujkBmGRxRdia1xlNJ2DZj_Q\"",
        "Last-Modified": "Thu, 28 May 2026 00:01:31 GMT",
        "Sync-Token": "zAJw6V16=NToxNyM0ODA0MjMxNQ==;sn=48042315",
        "x-ms-date": "Thu, 28 May 2026 00:01:31 GMT"
      },
      "ResponseBody": {
        "etag": "ooDhWlPtnHUIedyCR_aaujkBmGRxRdia1xlNJ2DZj_Q",
        "key": "key-864007521",
        "label": "test_label_diff",
        "content_type": "test_content_type",
        "value": "test_value",
        "description": null,
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-05-28T00:01:31+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://azure-sdk-for-net-test.azconfig.io/kv/key-864007521?api-version=2026-04-01&label=test_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NToxNyM0ODA0MjMxNg==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"o6hZ1jj5Vd9EpsY33LyYd-AnX1z9Fw3fTcss7Uk2sbU\"",
        "Last-Modified": "Thu, 28 May 2026 00:01:31 GMT",
        "Sync-Token": "zAJw6V16=NToxNyM0ODA0MjMxNw==;sn=48042317",
        "x-ms-date": "Thu, 28 May 2026 00:01:31 GMT"
      },
      "ResponseBody": {
        "etag": "o6hZ1jj5Vd9EpsY33LyYd-AnX1z9Fw3fTcss7Uk2sbU",
        "key": "key-864007521",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "description": null,
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-05-28T00:01:31+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://azure-sdk-for-net-test.azconfig.io;Id=8ePU;Secret=Kg==",
    "RandomSeed": "213237377"
  }
}
