{
  "Entries": [
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-371976743?api-version=2023-11-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"zapXoflTZh2ftp_l7lUas-9p7GFca1qdozOVkwGSKXs\"",
        "Last-Modified": "Tue, 23 Dec 2025 05:42:50 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTA0OTMxNA==;sn=101049314",
        "x-ms-date": "Tue, 23 Dec 2025 05:42:50 GMT"
      },
      "ResponseBody": {
        "etag": "zapXoflTZh2ftp_l7lUas-9p7GFca1qdozOVkwGSKXs",
        "key": "key-371976743",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2025-12-23T05:42:50+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-371976743?api-version=2023-11-01&label=test_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"zapXoflTZh2ftp_l7lUas-9p7GFca1qdozOVkwGSKXs\"",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTA0OTMxNQ==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Sync-Token": "zAJw6V16=NTo1IzEwMTA0OTMxNg==;sn=101049316",
        "x-ms-date": "Tue, 23 Dec 2025 05:42:51 GMT"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-371976743?api-version=2023-11-01&label=test_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTA0OTMxNg==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"ILrCHTPLOXA7MUOxpm_5xlmw6XdMPS5zfVYfyFESfYE\"",
        "Last-Modified": "Tue, 23 Dec 2025 05:42:50 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTA0OTMxNw==;sn=101049317",
        "x-ms-date": "Tue, 23 Dec 2025 05:42:51 GMT"
      },
      "ResponseBody": {
        "etag": "ILrCHTPLOXA7MUOxpm_5xlmw6XdMPS5zfVYfyFESfYE",
        "key": "key-371976743",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "new_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2025-12-23T05:42:50+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t9c954b564de572f9-azconfig-net.azconfig.io;Id=MdvE;Secret=Kg==",
    "RandomSeed": "2068950765"
  }
}
