{
  "Entries": [
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-1197352753?api-version=2023-11-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"KWmkG-_Zvd0CA4nHMTqurV7Ypcu1qhPnykWcqY50GH8\"",
        "Last-Modified": "Tue, 23 Dec 2025 05:48:35 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTA0OTc3NQ==;sn=101049775",
        "x-ms-date": "Tue, 23 Dec 2025 05:48:35 GMT"
      },
      "ResponseBody": {
        "etag": "KWmkG-_Zvd0CA4nHMTqurV7Ypcu1qhPnykWcqY50GH8",
        "key": "key-1197352753",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2025-12-23T05:48:35+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-1197352753?api-version=2023-11-01&label=test_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"KWmkG-_Zvd0CA4nHMTqurV7Ypcu1qhPnykWcqY50GH8\"",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTA0OTc3Ng==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Sync-Token": "zAJw6V16=NTo1IzEwMTA0OTc3Nw==;sn=101049777",
        "x-ms-date": "Tue, 23 Dec 2025 05:48:35 GMT"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-1197352753?api-version=2023-11-01&label=test_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTA0OTc3Nw==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"o_mMajF1th110c3PKH6rP_m0_4FZ90TydBXrBuk4bN4\"",
        "Last-Modified": "Tue, 23 Dec 2025 05:48:35 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTA0OTc3OA==;sn=101049778",
        "x-ms-date": "Tue, 23 Dec 2025 05:48:35 GMT"
      },
      "ResponseBody": {
        "etag": "o_mMajF1th110c3PKH6rP_m0_4FZ90TydBXrBuk4bN4",
        "key": "key-1197352753",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "new_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2025-12-23T05:48:35+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t9c954b564de572f9-azconfig-net.azconfig.io;Id=MdvE;Secret=Kg==",
    "RandomSeed": "263540202"
  }
}
