{
  "Entries": [
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv/key-1853999051?api-version=2026-04-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "description": "test_description"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"XWu1sEx7CIbxO7deo3ZP8rY3S9c-Yj-4nfVeZ-_5YLc\"",
        "Last-Modified": "Wed, 10 Jun 2026 21:32:18 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDk0MjYz;sn=67094263",
        "x-ms-date": "Wed, 10 Jun 2026 21:32:18 GMT"
      },
      "ResponseBody": {
        "etag": "XWu1sEx7CIbxO7deo3ZP8rY3S9c-Yj-4nfVeZ-_5YLc",
        "key": "key-1853999051",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "description": "test_description",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-06-10T21:32:18+00:00"
      }
    },
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv/key-1853999051?api-version=2026-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDk0MjYz"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "description": "test_description"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"tHDvGBpoJ7DigqBER9B0Y1Oa3OAmkcpy1e9SDCNo1Y4\"",
        "Last-Modified": "Wed, 10 Jun 2026 21:32:18 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDk0MjY0;sn=67094264",
        "x-ms-date": "Wed, 10 Jun 2026 21:32:18 GMT"
      },
      "ResponseBody": {
        "etag": "tHDvGBpoJ7DigqBER9B0Y1Oa3OAmkcpy1e9SDCNo1Y4",
        "key": "key-1853999051",
        "label": null,
        "content_type": "test_content_type",
        "value": "test_value",
        "description": "test_description",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-06-10T21:32:18+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv/key-1853999051?api-version=2026-04-01&label=test_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDk0MjY1"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"XWu1sEx7CIbxO7deo3ZP8rY3S9c-Yj-4nfVeZ-_5YLc\"",
        "Last-Modified": "Wed, 10 Jun 2026 21:32:18 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDk0MjY2;sn=67094266",
        "x-ms-date": "Wed, 10 Jun 2026 21:32:18 GMT"
      },
      "ResponseBody": {
        "etag": "XWu1sEx7CIbxO7deo3ZP8rY3S9c-Yj-4nfVeZ-_5YLc",
        "key": "key-1853999051",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "description": "test_description",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-06-10T21:32:18+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_ENDPOINT_STRING": "https://mrm90847047-azconfig-net.azconfig.io",
    "RandomSeed": "511473665"
  }
}
