{
  "Entries": [
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv/key-1118997085?api-version=2023-11-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"zCz3smMtOWnrIDLNaTWZFtUfU93EyujqilAyR3bDFSU\"",
        "Last-Modified": "Tue, 09 Jun 2026 23:01:52 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY2OTk2MTQ4;sn=66996148",
        "x-ms-date": "Tue, 09 Jun 2026 23:01:52 GMT"
      },
      "ResponseBody": {
        "etag": "zCz3smMtOWnrIDLNaTWZFtUfU93EyujqilAyR3bDFSU",
        "key": "key-1118997085",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-06-09T23:01:52+00:00"
      }
    },
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/locks/key-1118997085?api-version=2023-11-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Mzo1IzY2OTk2MTQ4"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"6i-LS5l4MCo0TGY8z-y5XusTSEnMy0So83hfRyxcPRQ\"",
        "Last-Modified": "Tue, 09 Jun 2026 23:01:52 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY2OTk2MTQ5;sn=66996149",
        "x-ms-date": "Tue, 09 Jun 2026 23:01:52 GMT"
      },
      "ResponseBody": {
        "etag": "6i-LS5l4MCo0TGY8z-y5XusTSEnMy0So83hfRyxcPRQ",
        "key": "key-1118997085",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": true,
        "last_modified": "2026-06-09T23:01:52+00:00"
      }
    },
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv/key-1118997085?api-version=2023-11-01&label=test_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Mzo1IzY2OTk2MTQ5"
      },
      "RequestBody": null,
      "StatusCode": 409,
      "ResponseHeaders": {
        "Content-Type": "application/problem+json; charset=utf-8",
        "Sync-Token": "zAJw6V16=Mzo1IzY2OTk2MTUw;sn=66996150",
        "x-ms-date": "Tue, 09 Jun 2026 23:01:52 GMT"
      },
      "ResponseBody": {
        "type": "https://azconfig.io/errors/key-locked",
        "title": "Modifing key 'key-1118997085' is not allowed",
        "name": "key-1118997085",
        "detail": "The key is read-only. To allow modification unlock it first.",
        "status": 409
      }
    },
[...]
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv/key-1118997085?api-version=2023-11-01&label=test_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Mzo1IzY2OTk2MTUx"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"usKdavJBi6UdW4RJGAaRvALLu4xm7P1VzHA-Ij47Vj0\"",
        "Last-Modified": "Tue, 09 Jun 2026 23:01:52 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY2OTk2MTUz;sn=66996153",
        "x-ms-date": "Tue, 09 Jun 2026 23:01:52 GMT"
      },
      "ResponseBody": {
        "etag": "usKdavJBi6UdW4RJGAaRvALLu4xm7P1VzHA-Ij47Vj0",
        "key": "key-1118997085",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-06-09T23:01:52+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_ENDPOINT_STRING": "https://mrm90847047-azconfig-net.azconfig.io",
    "RandomSeed": "2110706851"
  }
}
