{
  "Entries": [
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv/key-825967412?api-version=2026-04-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "description": "test_description"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"fpP5hXP0zrc79d0Fr2XpMeOY6q5HRJzNeXmzmzO4eWo\"",
        "Last-Modified": "Wed, 10 Jun 2026 19:26:14 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDc0NzIw;sn=67074720",
        "x-ms-date": "Wed, 10 Jun 2026 19:26:14 GMT"
      },
      "ResponseBody": {
        "etag": "fpP5hXP0zrc79d0Fr2XpMeOY6q5HRJzNeXmzmzO4eWo",
        "key": "key-825967412",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "description": "test_description",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-06-10T19:26:14+00:00"
      }
    },
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv/key-825967412?api-version=2026-04-01&label=test_label_diff",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDc0NzIw"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "description": "test_description"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"p3p3iQJgf8NSg1BSHMMyiKAsVm4C6b4nysvcyjvqch0\"",
        "Last-Modified": "Wed, 10 Jun 2026 19:26:14 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDc0NzIx;sn=67074721",
        "x-ms-date": "Wed, 10 Jun 2026 19:26:14 GMT"
      },
      "ResponseBody": {
        "etag": "p3p3iQJgf8NSg1BSHMMyiKAsVm4C6b4nysvcyjvqch0",
        "key": "key-825967412",
        "label": "test_label_diff",
        "content_type": "test_content_type",
        "value": "test_value",
        "description": "test_description",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-06-10T19:26:14+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv/key-825967412?api-version=2026-04-01&label=test_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDc0NzIy"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"fpP5hXP0zrc79d0Fr2XpMeOY6q5HRJzNeXmzmzO4eWo\"",
        "Last-Modified": "Wed, 10 Jun 2026 19:26:14 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDc0NzIz;sn=67074723",
        "x-ms-date": "Wed, 10 Jun 2026 19:26:14 GMT"
      },
      "ResponseBody": {
        "etag": "fpP5hXP0zrc79d0Fr2XpMeOY6q5HRJzNeXmzmzO4eWo",
        "key": "key-825967412",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "description": "test_description",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-06-10T19:26:14+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_ENDPOINT_STRING": "https://mrm90847047-azconfig-net.azconfig.io",
    "RandomSeed": "859842765"
  }
}
