{
  "Entries": [
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-871598175?api-version=2023-11-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"YLec3biee3sYalQRod_TWIhPAl95lN3ToKwDjcY-MSw\"",
        "Last-Modified": "Fri, 23 Jan 2026 07:15:57 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU3NTgwMg==;sn=103575802",
        "x-ms-date": "Fri, 23 Jan 2026 07:15:57 GMT"
      },
      "ResponseBody": {
        "etag": "YLec3biee3sYalQRod_TWIhPAl95lN3ToKwDjcY-MSw",
        "key": "key-871598175",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-01-23T07:15:57+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-871598175?api-version=2023-11-01&label=test_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"YLec3biee3sYalQRod_TWIhPAl95lN3ToKwDjcY-MSw\"",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU3NTgwMw==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU3NTgwNA==;sn=103575804",
        "x-ms-date": "Fri, 23 Jan 2026 07:15:57 GMT"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-871598175?api-version=2023-11-01&label=test_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU3NTgwNA==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"bf25qsXiPJuSUNV-X9JmWsqEIHraNxvbO4Ve0Uf1GvI\"",
        "Last-Modified": "Fri, 23 Jan 2026 07:15:57 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU3NTgwNQ==;sn=103575805",
        "x-ms-date": "Fri, 23 Jan 2026 07:15:57 GMT"
      },
      "ResponseBody": {
        "etag": "bf25qsXiPJuSUNV-X9JmWsqEIHraNxvbO4Ve0Uf1GvI",
        "key": "key-871598175",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "new_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-01-23T07:15:57+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t9c954b564de572f9-azconfig-net.azconfig.io;Id=MdvE;Secret=Kg==",
    "RandomSeed": "950252157"
  }
}
