{
  "Entries": [
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-1467335319?api-version=2023-11-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"tIXua858plwp_tH22DKZ-FSPaBz0DajImdFZGkuIDVg\"",
        "Last-Modified": "Thu, 22 Jan 2026 01:38:46 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzQ3Mzg4Mg==;sn=103473882",
        "x-ms-date": "Thu, 22 Jan 2026 01:38:46 GMT"
      },
      "ResponseBody": {
        "etag": "tIXua858plwp_tH22DKZ-FSPaBz0DajImdFZGkuIDVg",
        "key": "key-1467335319",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-01-22T01:38:46+00:00"
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-1467335319?api-version=2023-11-01&label=test_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"tIXua858plwp_tH22DKZ-FSPaBz0DajImdFZGkuIDVg\"",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzQ3Mzg4Mg==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"tIXua858plwp_tH22DKZ-FSPaBz0DajImdFZGkuIDVg\"",
        "Last-Modified": "Thu, 22 Jan 2026 01:38:46 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzQ3Mzg4Mw==;sn=103473883",
        "x-ms-date": "Thu, 22 Jan 2026 01:38:46 GMT"
      },
      "ResponseBody": {
        "etag": "tIXua858plwp_tH22DKZ-FSPaBz0DajImdFZGkuIDVg",
        "key": "key-1467335319",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-01-22T01:38:46+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t9c954b564de572f9-azconfig-net.azconfig.io;Id=MdvE;Secret=Kg==",
    "RandomSeed": "404136075"
  }
}
