{
  "Entries": [
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-1404629211?api-version=2023-11-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"N5tiU0qhaMLnn1AnqDrlnhlZi8Jewna_-hr-SlnhQhU\"",
        "Last-Modified": "Mon, 26 Jan 2026 05:46:41 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzg1MTg0NA==;sn=103851844",
        "x-ms-date": "Mon, 26 Jan 2026 05:46:41 GMT"
      },
      "ResponseBody": {
        "etag": "N5tiU0qhaMLnn1AnqDrlnhlZi8Jewna_-hr-SlnhQhU",
        "key": "key-1404629211",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-01-26T05:46:41+00:00"
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/locks/key-1404629211?api-version=2023-11-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzg1MTg0NA==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"qB2jn-eUvt8smIbSRXh7v1D0LwX3-wX5FkIGNPDAeOY\"",
        "Last-Modified": "Mon, 26 Jan 2026 05:46:41 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzg1MTg0NQ==;sn=103851845",
        "x-ms-date": "Mon, 26 Jan 2026 05:46:41 GMT"
      },
      "ResponseBody": {
        "etag": "qB2jn-eUvt8smIbSRXh7v1D0LwX3-wX5FkIGNPDAeOY",
        "key": "key-1404629211",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": true,
        "last_modified": "2026-01-26T05:46:41+00:00"
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-1404629211?api-version=2023-11-01&label=test_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzg1MTg0NQ==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 409,
      "ResponseHeaders": {
        "Content-Type": "application/problem+json; charset=utf-8",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzg1MTg0Ng==;sn=103851846",
        "x-ms-date": "Mon, 26 Jan 2026 05:46:42 GMT"
      },
      "ResponseBody": {
        "type": "https://azconfig.io/errors/key-locked",
        "title": "Modifing key 'key-1404629211' is not allowed",
        "name": "key-1404629211",
        "detail": "The key is read-only. To allow modification unlock it first.",
        "status": 409
      }
    },
[...]
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-1404629211?api-version=2023-11-01&label=test_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzg1MTg0Nw==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"lzazQCGjtMmJQYW_lulPA3_zTJQqgqBApXpkHBPS2NU\"",
        "Last-Modified": "Mon, 26 Jan 2026 05:46:42 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzg1MTg0OQ==;sn=103851849",
        "x-ms-date": "Mon, 26 Jan 2026 05:46:42 GMT"
      },
      "ResponseBody": {
        "etag": "lzazQCGjtMmJQYW_lulPA3_zTJQqgqBApXpkHBPS2NU",
        "key": "key-1404629211",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-01-26T05:46:42+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t9c954b564de572f9-azconfig-net.azconfig.io;Id=MdvE;Secret=Kg==",
    "RandomSeed": "1053758321"
  }
}
