{
  "Entries": [
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/kv/key-1879252189?api-version=2023-11-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"91GP2mao3pVGf4voRooOZZoa5k4tR3UXdsa8jswT5OU\"",
        "Last-Modified": "Thu, 09 Oct 2025 16:32:59 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzU1NTMyNzAy;sn=55532702",
        "x-ms-date": "Thu, 09 Oct 2025 16:32:59 GMT"
      },
      "ResponseBody": {
        "etag": "91GP2mao3pVGf4voRooOZZoa5k4tR3UXdsa8jswT5OU",
        "key": "key-1879252189",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2025-10-09T16:32:59+00:00"
      }
    },
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/locks/key-1879252189?api-version=2023-11-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Njo1IzU1NTMyNzAy",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"sNhrzXhO6Frn4FhmccIhYL6Ng1hQ1iB6dMBOrK_0zPg\"",
        "Last-Modified": "Thu, 09 Oct 2025 16:32:59 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzU1NTMyNzAz;sn=55532703",
        "x-ms-date": "Thu, 09 Oct 2025 16:32:59 GMT"
      },
      "ResponseBody": {
        "etag": "sNhrzXhO6Frn4FhmccIhYL6Ng1hQ1iB6dMBOrK_0zPg",
        "key": "key-1879252189",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": true,
        "last_modified": "2025-10-09T16:32:59+00:00"
      }
    },
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/kv/key-1879252189?api-version=2023-11-01&label=test_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Njo1IzU1NTMyNzAz",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 409,
      "ResponseHeaders": {
        "Content-Type": "application/problem+json; charset=utf-8",
        "Sync-Token": "zAJw6V16=Njo1IzU1NTMyNzA0;sn=55532704",
        "x-ms-date": "Thu, 09 Oct 2025 16:32:59 GMT"
      },
      "ResponseBody": {
        "type": "https://azconfig.io/errors/key-locked",
        "title": "Modifing key 'key-1879252189' is not allowed",
        "name": "key-1879252189",
        "detail": "The key is read-only. To allow modification unlock it first.",
        "status": 409
      }
    },
[...]
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/kv/key-1879252189?api-version=2023-11-01&label=test_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Njo1IzU1NTMyNzA1",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"bMKLk9dL5MzZl5W6JrFP4eQikMg-049et6vxx8kUY3s\"",
        "Last-Modified": "Thu, 09 Oct 2025 16:32:59 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzU1NTMyNzA3;sn=55532707",
        "x-ms-date": "Thu, 09 Oct 2025 16:33:00 GMT"
      },
      "ResponseBody": {
        "etag": "bMKLk9dL5MzZl5W6JrFP4eQikMg-049et6vxx8kUY3s",
        "key": "key-1879252189",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2025-10-09T16:32:59+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t8cdd9157ca7d1363-azconfig-net.azconfig.io;Id=wNKY;Secret=Kg==",
    "RandomSeed": "2113366941"
  }
}
