{
  "Entries": [
    {
      "RequestUri": "https://azure-sdk-for-net-test.azconfig.io/kv/key-73003754?api-version=2026-04-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"iKdIDM-PbPvkh4B4x1TtNvVgxepfHTKqdbYBNdHsWW4\"",
        "Last-Modified": "Fri, 29 May 2026 19:59:05 GMT",
        "Sync-Token": "zAJw6V16=NToxNyM0ODE0OTExMg==;sn=48149112",
        "x-ms-date": "Fri, 29 May 2026 19:59:05 GMT"
      },
      "ResponseBody": {
        "etag": "iKdIDM-PbPvkh4B4x1TtNvVgxepfHTKqdbYBNdHsWW4",
        "key": "key-73003754",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "description": null,
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-05-29T19:59:05+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://azure-sdk-for-net-test.azconfig.io/kv/key-73003754?api-version=2026-04-01&label=test_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"iKdIDM-PbPvkh4B4x1TtNvVgxepfHTKqdbYBNdHsWW4\"",
        "Sync-Token": "zAJw6V16=NToxNyM0ODE0OTExMw==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Sync-Token": "zAJw6V16=NToxNyM0ODE0OTExNA==;sn=48149114",
        "x-ms-date": "Fri, 29 May 2026 19:59:05 GMT"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://azure-sdk-for-net-test.azconfig.io/kv/key-73003754?api-version=2026-04-01&label=test_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NToxNyM0ODE0OTExNA==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"6BbZoikpytgcMS1ozDaYtTiFbyfUbP288VvZWlRS0xU\"",
        "Last-Modified": "Fri, 29 May 2026 19:59:05 GMT",
        "Sync-Token": "zAJw6V16=NToxNyM0ODE0OTExNQ==;sn=48149115",
        "x-ms-date": "Fri, 29 May 2026 19:59:05 GMT"
      },
      "ResponseBody": {
        "etag": "6BbZoikpytgcMS1ozDaYtTiFbyfUbP288VvZWlRS0xU",
        "key": "key-73003754",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "new_value",
        "description": null,
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-05-29T19:59:05+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://azure-sdk-for-net-test.azconfig.io;Id=8ePU;Secret=Kg==",
    "RandomSeed": "1952034738"
  }
}
