{
  "Entries": [
    {
      "RequestUri": "https://appconfig-canary-2023-10-01.azconfig.io/kv/key-284773085?label=test_label\u0026api-version=2023-10-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "b11OQu6GthUatwGXUIKHHSRVyik0TdrUk5kZm3yZd2A="
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022QwHEWk-Z5pXj_aImXmD1457a9RcZSBEHOlXfu5TeaaU\u0022",
        "Last-Modified": "Fri, 03 Nov 2023 20:09:39 GMT",
        "Sync-Token": "zAJw6V16=NjoxNSM1MzM5MTg2;sn=5339186"
      },
      "ResponseBody": {
        "etag": "QwHEWk-Z5pXj_aImXmD1457a9RcZSBEHOlXfu5TeaaU",
        "key": "key-284773085",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2023-11-03T20:09:39\u002B00:00"
      }
    },
    {
      "RequestUri": "https://appconfig-canary-2023-10-01.azconfig.io/kv/key-284773085?label=test_label_diff\u0026api-version=2023-10-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NjoxNSM1MzM5MTg2",
        "x-ms-content-sha256": "b11OQu6GthUatwGXUIKHHSRVyik0TdrUk5kZm3yZd2A="
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022sPJ8kv5vsnvvifkZHNy2h6elQZx4lwe1K0Jyjgq97S4\u0022",
        "Last-Modified": "Fri, 03 Nov 2023 20:09:39 GMT",
        "Sync-Token": "zAJw6V16=NjoxNSM1MzM5MTg3;sn=5339187"
      },
      "ResponseBody": {
        "etag": "sPJ8kv5vsnvvifkZHNy2h6elQZx4lwe1K0Jyjgq97S4",
        "key": "key-284773085",
        "label": "test_label_diff",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2023-11-03T20:09:39\u002B00:00"
      }
    },
[...]
    {
      "RequestUri": "https://appconfig-canary-2023-10-01.azconfig.io/kv/key-284773085?label=test_label\u0026api-version=2023-10-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NjoxNSM1MzM5MTg4",
        "x-ms-content-sha256": "47DEQpj8HBSa\u002B/TImW\u002B5JCeuQeRkm5NMpJWZG3hSuFU="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022QwHEWk-Z5pXj_aImXmD1457a9RcZSBEHOlXfu5TeaaU\u0022",
        "Last-Modified": "Fri, 03 Nov 2023 20:09:39 GMT",
        "Sync-Token": "zAJw6V16=NjoxNSM1MzM5MTg5;sn=5339189"
      },
      "ResponseBody": {
        "etag": "QwHEWk-Z5pXj_aImXmD1457a9RcZSBEHOlXfu5TeaaU",
        "key": "key-284773085",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2023-11-03T20:09:39\u002B00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://appconfig-canary-2023-10-01.azconfig.io;Id=0VlC;Secret=Kg==",
    "RandomSeed": "820889275"
  }
}
