{
  "Entries": [
    {
      "RequestUri": "https://tdfcae3cf5eab7143-azconfig-net.azconfig.io/kv/key-455067504?label=test_label&api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"1EbYULdwPnbxpphHeRwxVWQMi3RPEJ-i0ZYjgormsIM\"",
        "Last-Modified": "Wed, 24 Jul 2024 15:44:20 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzMyMjcxMTcz;sn=32271173"
      },
      "ResponseBody": {
        "etag": "1EbYULdwPnbxpphHeRwxVWQMi3RPEJ-i0ZYjgormsIM",
        "key": "key-455067504",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2024-07-24T15:44:20+00:00"
      }
    },
    {
      "RequestUri": "https://tdfcae3cf5eab7143-azconfig-net.azconfig.io/kv/key-455067504?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=Njo1IzMyMjcxMTcz",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"eMvDefb5jtIafYlBQW6hJ4eevMImPne_UqzWq9WJgS8\"",
        "Last-Modified": "Wed, 24 Jul 2024 15:44:20 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzMyMjcxMTc0;sn=32271174"
      },
      "ResponseBody": {
        "etag": "eMvDefb5jtIafYlBQW6hJ4eevMImPne_UqzWq9WJgS8",
        "key": "key-455067504",
        "label": null,
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2024-07-24T15:44:20+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://tdfcae3cf5eab7143-azconfig-net.azconfig.io/kv/key-455067504?label=test_label&api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Njo1IzMyMjcxMTc1",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"1EbYULdwPnbxpphHeRwxVWQMi3RPEJ-i0ZYjgormsIM\"",
        "Last-Modified": "Wed, 24 Jul 2024 15:44:20 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzMyMjcxMTc2;sn=32271176"
      },
      "ResponseBody": {
        "etag": "1EbYULdwPnbxpphHeRwxVWQMi3RPEJ-i0ZYjgormsIM",
        "key": "key-455067504",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2024-07-24T15:44:20+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://tdfcae3cf5eab7143-azconfig-net.azconfig.io;Id=MEKF;Secret=Kg==",
    "RandomSeed": "2027429810"
  }
}
