{
  "Entries": [
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-2125672929?api-version=2023-11-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"Fn_ECnbY0p4w73kGU1VYwy964PbchfoPHr7IOvBhEew\"",
        "Last-Modified": "Thu, 22 Jan 2026 02:07:13 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzQ3NDkwNg==;sn=103474906",
        "x-ms-date": "Thu, 22 Jan 2026 02:07:13 GMT"
      },
      "ResponseBody": {
        "etag": "Fn_ECnbY0p4w73kGU1VYwy964PbchfoPHr7IOvBhEew",
        "key": "key-2125672929",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-01-22T02:07:13+00:00"
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/locks/key-2125672929?api-version=2023-11-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzQ3NDkwNg==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"7PA6kHE8OfrYUppa5SwOdEfACw1kOMBeKY4QzFOzLBg\"",
        "Last-Modified": "Thu, 22 Jan 2026 02:07:13 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzQ3NDkwNw==;sn=103474907",
        "x-ms-date": "Thu, 22 Jan 2026 02:07:13 GMT"
      },
      "ResponseBody": {
        "etag": "7PA6kHE8OfrYUppa5SwOdEfACw1kOMBeKY4QzFOzLBg",
        "key": "key-2125672929",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": true,
        "last_modified": "2026-01-22T02:07:13+00:00"
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-2125672929?api-version=2023-11-01&label=test_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzQ3NDkwNw==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 409,
      "ResponseHeaders": {
        "Content-Type": "application/problem+json; charset=utf-8",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzQ3NDkwOA==;sn=103474908",
        "x-ms-date": "Thu, 22 Jan 2026 02:07:13 GMT"
      },
      "ResponseBody": {
        "type": "https://azconfig.io/errors/key-locked",
        "title": "Modifing key 'key-2125672929' is not allowed",
        "name": "key-2125672929",
        "detail": "The key is read-only. To allow modification unlock it first.",
        "status": 409
      }
    },
[...]
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-2125672929?api-version=2023-11-01&label=test_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzQ3NDkwOQ==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"D69B8nltcp8nMGavbLblI8dUdLpiWCk4ErX1T2YSk0s\"",
        "Last-Modified": "Thu, 22 Jan 2026 02:07:13 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzQ3NDkxMQ==;sn=103474911",
        "x-ms-date": "Thu, 22 Jan 2026 02:07:13 GMT"
      },
      "ResponseBody": {
        "etag": "D69B8nltcp8nMGavbLblI8dUdLpiWCk4ErX1T2YSk0s",
        "key": "key-2125672929",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-01-22T02:07:13+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t9c954b564de572f9-azconfig-net.azconfig.io;Id=MdvE;Secret=Kg==",
    "RandomSeed": "192433057"
  }
}
