{
  "Entries": [
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-157083532?api-version=2023-11-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"LHAmp8RHko6q44STsWDXveiFKGHQFD3S9mBfdO6H97U\"",
        "Last-Modified": "Tue, 06 Jan 2026 01:17:49 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTc2NTk2MQ==;sn=101765961",
        "x-ms-date": "Tue, 06 Jan 2026 01:17:49 GMT"
      },
      "ResponseBody": {
        "etag": "LHAmp8RHko6q44STsWDXveiFKGHQFD3S9mBfdO6H97U",
        "key": "key-157083532",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-01-06T01:17:49+00:00"
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/locks/key-157083532?api-version=2023-11-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTc2NTk2MQ==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"MjrGBNHFaHcBwHak2Wj6DkVH3CGoqm6qk_t4nJ2JfkI\"",
        "Last-Modified": "Tue, 06 Jan 2026 01:17:49 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTc2NTk2Mg==;sn=101765962",
        "x-ms-date": "Tue, 06 Jan 2026 01:17:49 GMT"
      },
      "ResponseBody": {
        "etag": "MjrGBNHFaHcBwHak2Wj6DkVH3CGoqm6qk_t4nJ2JfkI",
        "key": "key-157083532",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": true,
        "last_modified": "2026-01-06T01:17:49+00:00"
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-157083532?api-version=2023-11-01&label=test_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTc2NTk2Mg==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 409,
      "ResponseHeaders": {
        "Content-Type": "application/problem+json; charset=utf-8",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTc2NTk2Mw==;sn=101765963",
        "x-ms-date": "Tue, 06 Jan 2026 01:17:49 GMT"
      },
      "ResponseBody": {
        "type": "https://azconfig.io/errors/key-locked",
        "title": "Modifing key 'key-157083532' is not allowed",
        "name": "key-157083532",
        "detail": "The key is read-only. To allow modification unlock it first.",
        "status": 409
      }
    },
[...]
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-157083532?api-version=2023-11-01&label=test_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTc2NTk2NA==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"-F0l3L60Wi8I3O8DM-4rrGj0eZGxOFNMz81O5PV4qBU\"",
        "Last-Modified": "Tue, 06 Jan 2026 01:17:49 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTc2NTk2Ng==;sn=101765966",
        "x-ms-date": "Tue, 06 Jan 2026 01:17:49 GMT"
      },
      "ResponseBody": {
        "etag": "-F0l3L60Wi8I3O8DM-4rrGj0eZGxOFNMz81O5PV4qBU",
        "key": "key-157083532",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-01-06T01:17:49+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t9c954b564de572f9-azconfig-net.azconfig.io;Id=MdvE;Secret=Kg==",
    "RandomSeed": "1038883654"
  }
}
