{
  "Entries": [
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-1362988754?api-version=2023-11-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"0TFLbX1P4YMHuodh5O6aBar4e5QwGYak3E_wf_e3KQ0\"",
        "Last-Modified": "Thu, 22 Jan 2026 02:07:11 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzQ3NDg5Ng==;sn=103474896",
        "x-ms-date": "Thu, 22 Jan 2026 02:07:11 GMT"
      },
      "ResponseBody": {
        "etag": "0TFLbX1P4YMHuodh5O6aBar4e5QwGYak3E_wf_e3KQ0",
        "key": "key-1362988754",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-01-22T02:07:11+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-1362988754?api-version=2023-11-01&label=test_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"0TFLbX1P4YMHuodh5O6aBar4e5QwGYak3E_wf_e3KQ0\"",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzQ3NDg5Nw==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Sync-Token": "zAJw6V16=NTo1IzEwMzQ3NDg5OA==;sn=103474898",
        "x-ms-date": "Thu, 22 Jan 2026 02:07:12 GMT"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-1362988754?api-version=2023-11-01&label=test_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzQ3NDg5OA==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"qmlrF7QvOBDomOm0cAzSl64mLiR2-YGSWFo2L7HiRdo\"",
        "Last-Modified": "Thu, 22 Jan 2026 02:07:12 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzQ3NDg5OQ==;sn=103474899",
        "x-ms-date": "Thu, 22 Jan 2026 02:07:12 GMT"
      },
      "ResponseBody": {
        "etag": "qmlrF7QvOBDomOm0cAzSl64mLiR2-YGSWFo2L7HiRdo",
        "key": "key-1362988754",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "new_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-01-22T02:07:12+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t9c954b564de572f9-azconfig-net.azconfig.io;Id=MdvE;Secret=Kg==",
    "RandomSeed": "215635793"
  }
}
