{
  "Entries": [
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-672542825?api-version=2023-11-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"Rbdf_yjPE8HchAlzoArgEbkU1FixUG6I3Uu_0YUpEag\"",
        "Last-Modified": "Tue, 06 Jan 2026 01:25:12 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTc2NzQ1MQ==;sn=101767451",
        "x-ms-date": "Tue, 06 Jan 2026 01:25:12 GMT"
      },
      "ResponseBody": {
        "etag": "Rbdf_yjPE8HchAlzoArgEbkU1FixUG6I3Uu_0YUpEag",
        "key": "key-672542825",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-01-06T01:25:12+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-672542825?api-version=2023-11-01&label=test_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"Rbdf_yjPE8HchAlzoArgEbkU1FixUG6I3Uu_0YUpEag\"",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTc2NzQ1Mw==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Sync-Token": "zAJw6V16=NTo1IzEwMTc2NzQ1Ng==;sn=101767456",
        "x-ms-date": "Tue, 06 Jan 2026 01:25:13 GMT"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-672542825?api-version=2023-11-01&label=test_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTc2NzQ1Ng==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"nz2PNDFSlXR_-Q-oe7xi7X5ZSe4VpRtDIMl7SytBC6w\"",
        "Last-Modified": "Tue, 06 Jan 2026 01:25:13 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTc2NzQ1OA==;sn=101767458",
        "x-ms-date": "Tue, 06 Jan 2026 01:25:13 GMT"
      },
      "ResponseBody": {
        "etag": "nz2PNDFSlXR_-Q-oe7xi7X5ZSe4VpRtDIMl7SytBC6w",
        "key": "key-672542825",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "new_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-01-06T01:25:13+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t9c954b564de572f9-azconfig-net.azconfig.io;Id=MdvE;Secret=Kg==",
    "RandomSeed": "1560000912"
  }
}
