{
  "Entries": [
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv/key-438537212?api-version=2026-04-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "description": "test_description"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"v8lMIMW1GhYVabwMFIZj8TbGOzegMeilfXwoynNPw64\"",
        "Last-Modified": "Wed, 10 Jun 2026 19:26:05 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDc0NzA4;sn=67074708",
        "x-ms-date": "Wed, 10 Jun 2026 19:26:05 GMT"
      },
      "ResponseBody": {
        "etag": "v8lMIMW1GhYVabwMFIZj8TbGOzegMeilfXwoynNPw64",
        "key": "key-438537212",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "description": "test_description",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-06-10T19:26:05+00:00"
      }
    },
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv/key-438537212?api-version=2026-04-01&label=test_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"v8lMIMW1GhYVabwMFIZj8TbGOzegMeilfXwoynNPw64\"",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDc0NzA4"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"v8lMIMW1GhYVabwMFIZj8TbGOzegMeilfXwoynNPw64\"",
        "Last-Modified": "Wed, 10 Jun 2026 19:26:05 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDc0NzA5;sn=67074709",
        "x-ms-date": "Wed, 10 Jun 2026 19:26:05 GMT"
      },
      "ResponseBody": {
        "etag": "v8lMIMW1GhYVabwMFIZj8TbGOzegMeilfXwoynNPw64",
        "key": "key-438537212",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "description": "test_description",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-06-10T19:26:05+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_ENDPOINT_STRING": "https://mrm90847047-azconfig-net.azconfig.io",
    "RandomSeed": "1544937796"
  }
}
