{
  "Entries": [
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv/key-1938765093?api-version=2026-04-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "description": "test_description"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"8GnULdxb03K65XGTqPoqmmqSFg2H20OD6CcC8mcAl3E\"",
        "Last-Modified": "Wed, 10 Jun 2026 18:25:28 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDY1MjE5;sn=67065219",
        "x-ms-date": "Wed, 10 Jun 2026 18:25:28 GMT"
      },
      "ResponseBody": {
        "etag": "8GnULdxb03K65XGTqPoqmmqSFg2H20OD6CcC8mcAl3E",
        "key": "key-1938765093",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "description": "test_description",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-06-10T18:25:28+00:00"
      }
    },
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv/key-1938765093?api-version=2026-04-01&label=test_label_diff",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDY1MjE5"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "description": "test_description"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"ay-8w7iZ8SKXcbttHgZI0nUA6tJbd53WchDuOpaJs6Q\"",
        "Last-Modified": "Wed, 10 Jun 2026 18:25:28 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDY1MjIw;sn=67065220",
        "x-ms-date": "Wed, 10 Jun 2026 18:25:28 GMT"
      },
      "ResponseBody": {
        "etag": "ay-8w7iZ8SKXcbttHgZI0nUA6tJbd53WchDuOpaJs6Q",
        "key": "key-1938765093",
        "label": "test_label_diff",
        "content_type": "test_content_type",
        "value": "test_value",
        "description": "test_description",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-06-10T18:25:28+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv/key-1938765093?api-version=2026-04-01&label=test_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDY1MjIx"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"8GnULdxb03K65XGTqPoqmmqSFg2H20OD6CcC8mcAl3E\"",
        "Last-Modified": "Wed, 10 Jun 2026 18:25:28 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDY1MjIy;sn=67065222",
        "x-ms-date": "Wed, 10 Jun 2026 18:25:28 GMT"
      },
      "ResponseBody": {
        "etag": "8GnULdxb03K65XGTqPoqmmqSFg2H20OD6CcC8mcAl3E",
        "key": "key-1938765093",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "description": "test_description",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-06-10T18:25:28+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_ENDPOINT_STRING": "https://mrm90847047-azconfig-net.azconfig.io",
    "RandomSeed": "1382977064"
  }
}
