{
  "Entries": [
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/kv/key-1328810250?api-version=2023-11-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"s0ExjNY7JqwKLdpTFyuOjjxatGKTUcp8k637pAguzUA\"",
        "Last-Modified": "Thu, 09 Oct 2025 16:32:58 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzU1NTMyNjk2;sn=55532696",
        "x-ms-date": "Thu, 09 Oct 2025 16:32:58 GMT"
      },
      "ResponseBody": {
        "etag": "s0ExjNY7JqwKLdpTFyuOjjxatGKTUcp8k637pAguzUA",
        "key": "key-1328810250",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2025-10-09T16:32:58+00:00"
      }
    },
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/kv/key-1328810250?api-version=2023-11-01&label=test_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"s0ExjNY7JqwKLdpTFyuOjjxatGKTUcp8k637pAguzUA\"",
        "Sync-Token": "zAJw6V16=Njo1IzU1NTMyNjk2",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"s0ExjNY7JqwKLdpTFyuOjjxatGKTUcp8k637pAguzUA\"",
        "Last-Modified": "Thu, 09 Oct 2025 16:32:58 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzU1NTMyNjk3;sn=55532697",
        "x-ms-date": "Thu, 09 Oct 2025 16:32:58 GMT"
      },
      "ResponseBody": {
        "etag": "s0ExjNY7JqwKLdpTFyuOjjxatGKTUcp8k637pAguzUA",
        "key": "key-1328810250",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2025-10-09T16:32:58+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t8cdd9157ca7d1363-azconfig-net.azconfig.io;Id=wNKY;Secret=Kg==",
    "RandomSeed": "351639015"
  }
}
