{
  "Entries": [
    {
      "RequestUri": "https://tdfcae3cf5eab7143-azconfig-net.azconfig.io/kv/key-897641022?label=test_label&api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"ejEjZydf9X95oJ-so4ELW86ygSvyLFmafS6w5XOFoKA\"",
        "Last-Modified": "Wed, 24 Jul 2024 15:50:23 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzMyMjcxOTA0;sn=32271904"
      },
      "ResponseBody": {
        "etag": "ejEjZydf9X95oJ-so4ELW86ygSvyLFmafS6w5XOFoKA",
        "key": "key-897641022",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2024-07-24T15:50:23+00:00"
      }
    },
    {
      "RequestUri": "https://tdfcae3cf5eab7143-azconfig-net.azconfig.io/kv/key-897641022?label=test_label&api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"ejEjZydf9X95oJ-so4ELW86ygSvyLFmafS6w5XOFoKA\"",
        "Sync-Token": "zAJw6V16=Njo1IzMyMjcxOTA0",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"ejEjZydf9X95oJ-so4ELW86ygSvyLFmafS6w5XOFoKA\"",
        "Last-Modified": "Wed, 24 Jul 2024 15:50:23 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzMyMjcxOTA1;sn=32271905"
      },
      "ResponseBody": {
        "etag": "ejEjZydf9X95oJ-so4ELW86ygSvyLFmafS6w5XOFoKA",
        "key": "key-897641022",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2024-07-24T15:50:23+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://tdfcae3cf5eab7143-azconfig-net.azconfig.io;Id=MEKF;Secret=Kg==",
    "RandomSeed": "940219433"
  }
}
