{
  "Entries": [
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/kv/key-1229010309?api-version=2023-11-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"JR5wRriXWsAS4gxe1bMBR_iYSOqaWnqFmn1zxd_MLmY\"",
        "Last-Modified": "Tue, 18 Nov 2025 04:29:00 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzU3ODA0Mzcw;sn=57804370",
        "x-ms-date": "Tue, 18 Nov 2025 04:29:00 GMT"
      },
      "ResponseBody": {
        "etag": "JR5wRriXWsAS4gxe1bMBR_iYSOqaWnqFmn1zxd_MLmY",
        "key": "key-1229010309",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2025-11-18T04:29:00+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/kv/key-1229010309?api-version=2023-11-01&label=test_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"JR5wRriXWsAS4gxe1bMBR_iYSOqaWnqFmn1zxd_MLmY\"",
        "Sync-Token": "zAJw6V16=Njo1IzU3ODA0Mzcx",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Sync-Token": "zAJw6V16=Njo1IzU3ODA0Mzcy;sn=57804372",
        "x-ms-date": "Tue, 18 Nov 2025 04:29:00 GMT"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/kv/key-1229010309?api-version=2023-11-01&label=test_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Njo1IzU3ODA0Mzcy",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"2uU9VtASvWD-frw1nwbqDvv_8sbRsRB_8Ut-aiJn6_4\"",
        "Last-Modified": "Tue, 18 Nov 2025 04:29:00 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzU3ODA0Mzcz;sn=57804373",
        "x-ms-date": "Tue, 18 Nov 2025 04:29:00 GMT"
      },
      "ResponseBody": {
        "etag": "2uU9VtASvWD-frw1nwbqDvv_8sbRsRB_8Ut-aiJn6_4",
        "key": "key-1229010309",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "new_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2025-11-18T04:29:00+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t8cdd9157ca7d1363-azconfig-net.azconfig.io;Id=wNKY;Secret=Kg==",
    "RandomSeed": "81775057"
  }
}
