{
  "Entries": [
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-774368106?api-version=2023-11-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"Ysai8qqXVypmgH1sG15lzmE39JD6aZ_xV7TlK5EKKRI\"",
        "Last-Modified": "Tue, 23 Dec 2025 05:48:37 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTA0OTc5MQ==;sn=101049791",
        "x-ms-date": "Tue, 23 Dec 2025 05:48:37 GMT"
      },
      "ResponseBody": {
        "etag": "Ysai8qqXVypmgH1sG15lzmE39JD6aZ_xV7TlK5EKKRI",
        "key": "key-774368106",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2025-12-23T05:48:37+00:00"
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-774368106?api-version=2023-11-01&label=test_label_diff",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTA0OTc5MQ==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"EcXnQMFtbDjyQphogazqnK18VujAiCq35sc3YIShk6s\"",
        "Last-Modified": "Tue, 23 Dec 2025 05:48:37 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTA0OTc5Mg==;sn=101049792",
        "x-ms-date": "Tue, 23 Dec 2025 05:48:37 GMT"
      },
      "ResponseBody": {
        "etag": "EcXnQMFtbDjyQphogazqnK18VujAiCq35sc3YIShk6s",
        "key": "key-774368106",
        "label": "test_label_diff",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2025-12-23T05:48:37+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-774368106?api-version=2023-11-01&label=test_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTA0OTc5Mw==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"Ysai8qqXVypmgH1sG15lzmE39JD6aZ_xV7TlK5EKKRI\"",
        "Last-Modified": "Tue, 23 Dec 2025 05:48:37 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTA0OTc5NA==;sn=101049794",
        "x-ms-date": "Tue, 23 Dec 2025 05:48:38 GMT"
      },
      "ResponseBody": {
        "etag": "Ysai8qqXVypmgH1sG15lzmE39JD6aZ_xV7TlK5EKKRI",
        "key": "key-774368106",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2025-12-23T05:48:37+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t9c954b564de572f9-azconfig-net.azconfig.io;Id=MdvE;Secret=Kg==",
    "RandomSeed": "1455957422"
  }
}
