{
  "Entries": [
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-1404146898?api-version=2023-11-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"6DrYarVzmY5vdE0RxAbLOqo0mMZhV1EaqJ1jKqAGKnc\"",
        "Last-Modified": "Thu, 22 Jan 2026 01:38:47 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzQ3Mzg4OA==;sn=103473888",
        "x-ms-date": "Thu, 22 Jan 2026 01:38:47 GMT"
      },
      "ResponseBody": {
        "etag": "6DrYarVzmY5vdE0RxAbLOqo0mMZhV1EaqJ1jKqAGKnc",
        "key": "key-1404146898",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-01-22T01:38:47+00:00"
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/locks/key-1404146898?api-version=2023-11-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzQ3Mzg4OA==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"gs0ApfQtu9Byhe-LcILdIooSiHP4ayahQS6KHlqFKcw\"",
        "Last-Modified": "Thu, 22 Jan 2026 01:38:47 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzQ3Mzg4OQ==;sn=103473889",
        "x-ms-date": "Thu, 22 Jan 2026 01:38:47 GMT"
      },
      "ResponseBody": {
        "etag": "gs0ApfQtu9Byhe-LcILdIooSiHP4ayahQS6KHlqFKcw",
        "key": "key-1404146898",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": true,
        "last_modified": "2026-01-22T01:38:47+00:00"
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-1404146898?api-version=2023-11-01&label=test_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzQ3Mzg4OQ==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 409,
      "ResponseHeaders": {
        "Content-Type": "application/problem+json; charset=utf-8",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzQ3Mzg5MA==;sn=103473890",
        "x-ms-date": "Thu, 22 Jan 2026 01:38:48 GMT"
      },
      "ResponseBody": {
        "type": "https://azconfig.io/errors/key-locked",
        "title": "Modifing key 'key-1404146898' is not allowed",
        "name": "key-1404146898",
        "detail": "The key is read-only. To allow modification unlock it first.",
        "status": 409
      }
    },
[...]
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-1404146898?api-version=2023-11-01&label=test_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzQ3Mzg5MQ==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"2kBh7pKIpgM3ADFNGYqATZhzbij7fLo42KHyAfV_yEQ\"",
        "Last-Modified": "Thu, 22 Jan 2026 01:38:48 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzQ3Mzg5Mw==;sn=103473893",
        "x-ms-date": "Thu, 22 Jan 2026 01:38:48 GMT"
      },
      "ResponseBody": {
        "etag": "2kBh7pKIpgM3ADFNGYqATZhzbij7fLo42KHyAfV_yEQ",
        "key": "key-1404146898",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-01-22T01:38:48+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t9c954b564de572f9-azconfig-net.azconfig.io;Id=MdvE;Secret=Kg==",
    "RandomSeed": "1240102689"
  }
}
