{
  "Entries": [
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-425982136?api-version=2023-11-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"4du-cUFy39s5g6f3He0sr1TYVw0oELuNA9VvTE6Tgmg\"",
        "Last-Modified": "Tue, 23 Dec 2025 05:48:37 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTA0OTc4NQ==;sn=101049785",
        "x-ms-date": "Tue, 23 Dec 2025 05:48:37 GMT"
      },
      "ResponseBody": {
        "etag": "4du-cUFy39s5g6f3He0sr1TYVw0oELuNA9VvTE6Tgmg",
        "key": "key-425982136",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2025-12-23T05:48:37+00:00"
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/locks/key-425982136?api-version=2023-11-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTA0OTc4NQ==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"PIc9bGFtBiyEx5WT1H6_fCW-2lk6rC4DklH5p4uoRIA\"",
        "Last-Modified": "Tue, 23 Dec 2025 05:48:37 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTA0OTc4Ng==;sn=101049786",
        "x-ms-date": "Tue, 23 Dec 2025 05:48:37 GMT"
      },
      "ResponseBody": {
        "etag": "PIc9bGFtBiyEx5WT1H6_fCW-2lk6rC4DklH5p4uoRIA",
        "key": "key-425982136",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": true,
        "last_modified": "2025-12-23T05:48:37+00:00"
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-425982136?api-version=2023-11-01&label=test_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTA0OTc4Ng==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 409,
      "ResponseHeaders": {
        "Content-Type": "application/problem+json; charset=utf-8",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTA0OTc4Nw==;sn=101049787",
        "x-ms-date": "Tue, 23 Dec 2025 05:48:37 GMT"
      },
      "ResponseBody": {
        "type": "https://azconfig.io/errors/key-locked",
        "title": "Modifing key 'key-425982136' is not allowed",
        "name": "key-425982136",
        "detail": "The key is read-only. To allow modification unlock it first.",
        "status": 409
      }
    },
[...]
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-425982136?api-version=2023-11-01&label=test_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTA0OTc4OA==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"6IrR7Ecx98r-5nb5WJGMjWjqDWvhKG_9hr886DZg0xQ\"",
        "Last-Modified": "Tue, 23 Dec 2025 05:48:37 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTA0OTc5MA==;sn=101049790",
        "x-ms-date": "Tue, 23 Dec 2025 05:48:37 GMT"
      },
      "ResponseBody": {
        "etag": "6IrR7Ecx98r-5nb5WJGMjWjqDWvhKG_9hr886DZg0xQ",
        "key": "key-425982136",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2025-12-23T05:48:37+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t9c954b564de572f9-azconfig-net.azconfig.io;Id=MdvE;Secret=Kg==",
    "RandomSeed": "160741381"
  }
}
