{
  "Entries": [
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-415758363?api-version=2023-11-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"C64aN23ioY_tXkTtwajYruNL3eXldjRsuq3DUZkAdho\"",
        "Last-Modified": "Mon, 26 Jan 2026 05:39:47 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzg1MDU5Mw==;sn=103850593",
        "x-ms-date": "Mon, 26 Jan 2026 05:39:47 GMT"
      },
      "ResponseBody": {
        "etag": "C64aN23ioY_tXkTtwajYruNL3eXldjRsuq3DUZkAdho",
        "key": "key-415758363",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-01-26T05:39:47+00:00"
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-415758363?api-version=2023-11-01&label=test_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"C64aN23ioY_tXkTtwajYruNL3eXldjRsuq3DUZkAdho\"",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzg1MDU5Mw==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"C64aN23ioY_tXkTtwajYruNL3eXldjRsuq3DUZkAdho\"",
        "Last-Modified": "Mon, 26 Jan 2026 05:39:47 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzg1MDU5NA==;sn=103850594",
        "x-ms-date": "Mon, 26 Jan 2026 05:39:47 GMT"
      },
      "ResponseBody": {
        "etag": "C64aN23ioY_tXkTtwajYruNL3eXldjRsuq3DUZkAdho",
        "key": "key-415758363",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-01-26T05:39:47+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t9c954b564de572f9-azconfig-net.azconfig.io;Id=MdvE;Secret=Kg==",
    "RandomSeed": "1440270165"
  }
}
