{
  "Entries": [
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-12471748?api-version=2023-11-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"UZdougKPOeCWBg4DVfrhTemWdf46XhPR1dyc1I425rA\"",
        "Last-Modified": "Mon, 01 Dec 2025 08:41:05 GMT",
        "Sync-Token": "zAJw6V16=NTo1Izk4Nzc2MzI4;sn=98776328",
        "x-ms-date": "Mon, 01 Dec 2025 08:41:05 GMT"
      },
      "ResponseBody": {
        "etag": "UZdougKPOeCWBg4DVfrhTemWdf46XhPR1dyc1I425rA",
        "key": "key-12471748",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2025-12-01T08:41:05+00:00"
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-12471748?api-version=2023-11-01&label=test_label_diff",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NTo1Izk4Nzc2MzI4",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"q_Sa07lqk2-FGrzUliYs5qDlitLjM4u9MhVgWjFWlv8\"",
        "Last-Modified": "Mon, 01 Dec 2025 08:41:05 GMT",
        "Sync-Token": "zAJw6V16=NTo1Izk4Nzc2MzI5;sn=98776329",
        "x-ms-date": "Mon, 01 Dec 2025 08:41:05 GMT"
      },
      "ResponseBody": {
        "etag": "q_Sa07lqk2-FGrzUliYs5qDlitLjM4u9MhVgWjFWlv8",
        "key": "key-12471748",
        "label": "test_label_diff",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2025-12-01T08:41:05+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-12471748?api-version=2023-11-01&label=test_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1Izk4Nzc2MzMw",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"UZdougKPOeCWBg4DVfrhTemWdf46XhPR1dyc1I425rA\"",
        "Last-Modified": "Mon, 01 Dec 2025 08:41:05 GMT",
        "Sync-Token": "zAJw6V16=NTo1Izk4Nzc2MzMx;sn=98776331",
        "x-ms-date": "Mon, 01 Dec 2025 08:41:06 GMT"
      },
      "ResponseBody": {
        "etag": "UZdougKPOeCWBg4DVfrhTemWdf46XhPR1dyc1I425rA",
        "key": "key-12471748",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2025-12-01T08:41:05+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t9c954b564de572f9-azconfig-net.azconfig.io;Id=MdvE;Secret=Kg==",
    "RandomSeed": "2133452574"
  }
}
