{
  "Entries": [
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv/key-113886103?api-version=2026-04-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "description": "test_description"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"R8NZCt3aTcPY0gPwKf0lhvWJws7yHGoRPYHP7w2ShDI\"",
        "Last-Modified": "Wed, 10 Jun 2026 21:32:13 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDk0MjU3;sn=67094257",
        "x-ms-date": "Wed, 10 Jun 2026 21:32:13 GMT"
      },
      "ResponseBody": {
        "etag": "R8NZCt3aTcPY0gPwKf0lhvWJws7yHGoRPYHP7w2ShDI",
        "key": "key-113886103",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "description": "test_description",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-06-10T21:32:13+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv/key-113886103?api-version=2026-04-01&label=test_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"R8NZCt3aTcPY0gPwKf0lhvWJws7yHGoRPYHP7w2ShDI\"",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDk0MjU4"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDk0MjU5;sn=67094259",
        "x-ms-date": "Wed, 10 Jun 2026 21:32:13 GMT"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv/key-113886103?api-version=2026-04-01&label=test_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDk0MjU5"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"mQRktlDZ0nSnJhXfigz7Sb9oGdXtgrzS-6wEn9Qrhnc\"",
        "Last-Modified": "Wed, 10 Jun 2026 21:32:13 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDk0MjYw;sn=67094260",
        "x-ms-date": "Wed, 10 Jun 2026 21:32:13 GMT"
      },
      "ResponseBody": {
        "etag": "mQRktlDZ0nSnJhXfigz7Sb9oGdXtgrzS-6wEn9Qrhnc",
        "key": "key-113886103",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "new_value",
        "description": "test_description",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-06-10T21:32:13+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_ENDPOINT_STRING": "https://mrm90847047-azconfig-net.azconfig.io",
    "RandomSeed": "161342035"
  }
}
