{
  "Entries": [
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv/key-1676227023?api-version=2026-04-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "description": "test_description"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"W6-goQJxDUYRJb0dSO_U9uQB3Bb0WXNFRXs6GP4UMm4\"",
        "Last-Modified": "Wed, 10 Jun 2026 19:17:21 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDcyMDMw;sn=67072030",
        "x-ms-date": "Wed, 10 Jun 2026 19:17:21 GMT"
      },
      "ResponseBody": {
        "etag": "W6-goQJxDUYRJb0dSO_U9uQB3Bb0WXNFRXs6GP4UMm4",
        "key": "key-1676227023",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "description": "test_description",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-06-10T19:17:21+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv/key-1676227023?api-version=2026-04-01&label=test_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"W6-goQJxDUYRJb0dSO_U9uQB3Bb0WXNFRXs6GP4UMm4\"",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDcyMDMx"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDcyMDMy;sn=67072032",
        "x-ms-date": "Wed, 10 Jun 2026 19:17:21 GMT"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv/key-1676227023?api-version=2026-04-01&label=test_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDcyMDMy"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"Ix8YEg6l4tebCBlC_BK_dkEP0TL_nEWSe2Q-EN3C8Mw\"",
        "Last-Modified": "Wed, 10 Jun 2026 19:17:21 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDcyMDMz;sn=67072033",
        "x-ms-date": "Wed, 10 Jun 2026 19:17:21 GMT"
      },
      "ResponseBody": {
        "etag": "Ix8YEg6l4tebCBlC_BK_dkEP0TL_nEWSe2Q-EN3C8Mw",
        "key": "key-1676227023",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "new_value",
        "description": "test_description",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-06-10T19:17:21+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_ENDPOINT_STRING": "https://mrm90847047-azconfig-net.azconfig.io",
    "RandomSeed": "1301897704"
  }
}
