{
  "Entries": [
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-902418498?api-version=2023-11-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"bPvSK029QGwHNwAjFJYhahMgXf0G_ZPrH5ebYZxCZVM\"",
        "Last-Modified": "Thu, 22 Jan 2026 02:01:41 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzQ3NDQ0OA==;sn=103474448",
        "x-ms-date": "Thu, 22 Jan 2026 02:01:41 GMT"
      },
      "ResponseBody": {
        "etag": "bPvSK029QGwHNwAjFJYhahMgXf0G_ZPrH5ebYZxCZVM",
        "key": "key-902418498",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-01-22T02:01:41+00:00"
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-902418498?api-version=2023-11-01&label=test_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"bPvSK029QGwHNwAjFJYhahMgXf0G_ZPrH5ebYZxCZVM\"",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzQ3NDQ0OA==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"bPvSK029QGwHNwAjFJYhahMgXf0G_ZPrH5ebYZxCZVM\"",
        "Last-Modified": "Thu, 22 Jan 2026 02:01:41 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzQ3NDQ0OQ==;sn=103474449",
        "x-ms-date": "Thu, 22 Jan 2026 02:01:41 GMT"
      },
      "ResponseBody": {
        "etag": "bPvSK029QGwHNwAjFJYhahMgXf0G_ZPrH5ebYZxCZVM",
        "key": "key-902418498",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-01-22T02:01:41+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t9c954b564de572f9-azconfig-net.azconfig.io;Id=MdvE;Secret=Kg==",
    "RandomSeed": "173465828"
  }
}
