{
  "Entries": [
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv/key-1365047051?api-version=2026-04-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "description": "test_description"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"GobBNZku6TYy0KwU_MtxAxNxxe_bpGemp8t4xhiBbmY\"",
        "Last-Modified": "Wed, 10 Jun 2026 18:34:05 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDY3OTA4;sn=67067908",
        "x-ms-date": "Wed, 10 Jun 2026 18:34:05 GMT"
      },
      "ResponseBody": {
        "etag": "GobBNZku6TYy0KwU_MtxAxNxxe_bpGemp8t4xhiBbmY",
        "key": "key-1365047051",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "description": "test_description",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-06-10T18:34:05+00:00"
      }
    },
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv/key-1365047051?api-version=2026-04-01&label=test_label_diff",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDY3OTA4"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "description": "test_description"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"0VQ9WxUM0eK9KdIR8VfAnYmyucm9tb5xswXrshI8L6A\"",
        "Last-Modified": "Wed, 10 Jun 2026 18:34:05 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDY3OTA5;sn=67067909",
        "x-ms-date": "Wed, 10 Jun 2026 18:34:05 GMT"
      },
      "ResponseBody": {
        "etag": "0VQ9WxUM0eK9KdIR8VfAnYmyucm9tb5xswXrshI8L6A",
        "key": "key-1365047051",
        "label": "test_label_diff",
        "content_type": "test_content_type",
        "value": "test_value",
        "description": "test_description",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-06-10T18:34:05+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv/key-1365047051?api-version=2026-04-01&label=test_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDY3OTEw"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"GobBNZku6TYy0KwU_MtxAxNxxe_bpGemp8t4xhiBbmY\"",
        "Last-Modified": "Wed, 10 Jun 2026 18:34:05 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDY3OTEx;sn=67067911",
        "x-ms-date": "Wed, 10 Jun 2026 18:34:06 GMT"
      },
      "ResponseBody": {
        "etag": "GobBNZku6TYy0KwU_MtxAxNxxe_bpGemp8t4xhiBbmY",
        "key": "key-1365047051",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "description": "test_description",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-06-10T18:34:05+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_ENDPOINT_STRING": "https://mrm90847047-azconfig-net.azconfig.io",
    "RandomSeed": "968591286"
  }
}
