{
  "Entries": [
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv/key-618756698?api-version=2026-04-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "description": "test_description"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"r-rNX00IUETpFVDfbJdS_jtGMb8Vf1fwvC5lOT9m0Hg\"",
        "Last-Modified": "Wed, 10 Jun 2026 19:17:24 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDcyMDM0;sn=67072034",
        "x-ms-date": "Wed, 10 Jun 2026 19:17:24 GMT"
      },
      "ResponseBody": {
        "etag": "r-rNX00IUETpFVDfbJdS_jtGMb8Vf1fwvC5lOT9m0Hg",
        "key": "key-618756698",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "description": "test_description",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-06-10T19:17:24+00:00"
      }
    },
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv/key-618756698?api-version=2026-04-01&label=test_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"r-rNX00IUETpFVDfbJdS_jtGMb8Vf1fwvC5lOT9m0Hg\"",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDcyMDM0"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"r-rNX00IUETpFVDfbJdS_jtGMb8Vf1fwvC5lOT9m0Hg\"",
        "Last-Modified": "Wed, 10 Jun 2026 19:17:24 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDcyMDM1;sn=67072035",
        "x-ms-date": "Wed, 10 Jun 2026 19:17:24 GMT"
      },
      "ResponseBody": {
        "etag": "r-rNX00IUETpFVDfbJdS_jtGMb8Vf1fwvC5lOT9m0Hg",
        "key": "key-618756698",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "description": "test_description",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-06-10T19:17:24+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_ENDPOINT_STRING": "https://mrm90847047-azconfig-net.azconfig.io",
    "RandomSeed": "1827794082"
  }
}
