{
  "Entries": [
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-200074049?api-version=2023-11-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"LNyAmPTCIKVB9GmXEnMDiPjnsLyynbqgl6MrW3peUXA\"",
        "Last-Modified": "Fri, 23 Jan 2026 07:13:36 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU3NTYyOQ==;sn=103575629",
        "x-ms-date": "Fri, 23 Jan 2026 07:13:36 GMT"
      },
      "ResponseBody": {
        "etag": "LNyAmPTCIKVB9GmXEnMDiPjnsLyynbqgl6MrW3peUXA",
        "key": "key-200074049",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-01-23T07:13:36+00:00"
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-388185877?api-version=2023-11-01&label=test_label_update",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU3NTYyOQ==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"Dk2wZGcCVnZ7txNJkNbKvMLIehqLBnVcCIIvC91hEqE\"",
        "Last-Modified": "Fri, 23 Jan 2026 07:13:36 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU3NTYzMA==;sn=103575630",
        "x-ms-date": "Fri, 23 Jan 2026 07:13:36 GMT"
      },
      "ResponseBody": {
        "etag": "Dk2wZGcCVnZ7txNJkNbKvMLIehqLBnVcCIIvC91hEqE",
        "key": "key-388185877",
        "label": "test_label_update",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-01-23T07:13:36+00:00"
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/labels?api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU3NTYzMA==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.labelset+json; charset=utf-8",
        "Link": "</labels?api-version=2023-11-01&after=MTc%3D>; rel=\"next\"",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU3NTYzMA==;sn=103575630",
        "x-ms-date": "Fri, 23 Jan 2026 07:13:36 GMT"
      },
      "ResponseBody": {
        "items": [
          {
            "name": null
          },
          {
            "name": "0"
          },
          {
            "name": "1"
          },
          {
            "name": "10"
          },
          {
            "name": "100"
          },
          {
            "name": "101"
          },
          {
            "name": "102"
          },
          {
            "name": "103"
          },
          {
            "name": "104"
          },
          {
            "name": "11"
          },
          {
            "name": "12"
          },
          {
            "name": "13"
          },
          {
            "name": "14"
          },
          {
            "name": "15"
          },
          {
            "name": "16"
          },
          {
            "name": "17"
          }
        ],
        "@nextLink": "/labels?api-version=2023-11-01&after=MTc%3D"
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/labels?after=MTc%3D&api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU3NTYzMA==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.labelset+json; charset=utf-8",
     [...]
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/labels?after=MzE%3D&api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU3NTYzMA==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.labelset+json; charset=utf-8",
     [...]
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/labels?after=NDY%3D&api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU3NTYzMA==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.labelset+json; charset=utf-8",
     [...]
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/labels?after=NjA%3D&api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU3NTYzMA==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.labelset+json; charset=utf-8",
     [...]
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/labels?after=NzU%3D&api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU3NTYzMA==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.labelset+json; charset=utf-8",
     [...]
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/labels?after=OQ%3D%3D&api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU3NTYzMA==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.labelset+json; charset=utf-8",
   [...]
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/labels?after=a2V5LWwxMjc1NjYzNDIzXzY2&api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU3NTYzMA==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.labelset+json; cha[...]
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/labels?after=a2V5LWwxNjAzMzM0MzAwXzYw&api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU3NTYzMA==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.labelset+json; cha[...]
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/labels?after=a2V5LWwxNjExMDYxNzFfNTU%3D&api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU3NTYzMA==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.labelset+json; c[...]
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/labels?after=a2V5LWwxODQyNTMwMzA5XzU%3D&api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU3NTYzMA==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.labelset+json; c[...]
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/labels?after=a2V5LWwzODc3MDI4MDJfNDQ%3D&api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU3NTYzMA==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.labelset+json; c[...]
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/labels?after=a2V5LWw1ODUzMzQyMDdfMzk%3D&api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU3NTYzMA==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.labelset+json; c[...]
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/labels?after=a2V5LWw3MDU3OTQ5MTRfMzM%3D&api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU3NTYzMA==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.labelset+json; c[...]
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/labels?after=a2V5LWw5NTMzNTgwNTlfMjg%3D&api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU3NTYzMA==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.labelset+json; c[...]
[...]
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-388185877?api-version=2023-11-01&label=test_label_update",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU3NTYzMQ==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"Dk2wZGcCVnZ7txNJkNbKvMLIehqLBnVcCIIvC91hEqE\"",
        "Last-Modified": "Fri, 23 Jan 2026 07:13:36 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU3NTYzMg==;sn=103575632",
        "x-ms-date": "Fri, 23 Jan 2026 07:13:38 GMT"
      },
      "ResponseBody": {
        "etag": "Dk2wZGcCVnZ7txNJkNbKvMLIehqLBnVcCIIvC91hEqE",
        "key": "key-388185877",
        "label": "test_label_update",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-01-23T07:13:36+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t9c954b564de572f9-azconfig-net.azconfig.io;Id=MdvE;Secret=Kg==",
    "RandomSeed": "1394540032"
  }
}
