{
  "Entries": [
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv/key-1164031500?api-version=2026-04-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "description": "test_description"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"QrDYZCVSLce6IbeLp2Lv0-NBPmYPIS06w0W0BO8d__M\"",
        "Last-Modified": "Wed, 10 Jun 2026 18:21:21 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDY1MDc1;sn=67065075",
        "x-ms-date": "Wed, 10 Jun 2026 18:21:21 GMT"
      },
      "ResponseBody": {
        "etag": "QrDYZCVSLce6IbeLp2Lv0-NBPmYPIS06w0W0BO8d__M",
        "key": "key-1164031500",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "description": "test_description",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-06-10T18:21:21+00:00"
      }
    },
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv/key-722513665?api-version=2026-04-01&label=test_label_update",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDY1MDc1"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "description": "test_description"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"R3PR51AMlsiglR3IdQgvNb4588F3P37KXHGebedrApU\"",
        "Last-Modified": "Wed, 10 Jun 2026 18:21:21 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDY1MDc2;sn=67065076",
        "x-ms-date": "Wed, 10 Jun 2026 18:21:21 GMT"
      },
      "ResponseBody": {
        "etag": "R3PR51AMlsiglR3IdQgvNb4588F3P37KXHGebedrApU",
        "key": "key-722513665",
        "label": "test_label_update",
        "content_type": "test_content_type",
        "value": "test_value",
        "description": "test_description",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-06-10T18:21:21+00:00"
      }
    },
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/labels?api-version=2026-04-01&name=%2A",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDY1MDc2"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.labelset+json; charset=utf-8",
        "Link": "</labels?api-version=2026-04-01&name=*&after=MTc%3D>; rel=\"next\"",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDY1MDc2;sn=67065076",
        "x-ms-date": "Wed, 10 Jun 2026 18:21:21 GMT"
      },
      "ResponseBody": {
        "items": [
          {
            "name": null
          },
          {
            "name": "0"
          },
          {
            "name": "1"
          },
          {
            "name": "10"
          },
          {
            "name": "100"
          },
          {
            "name": "101"
          },
          {
            "name": "102"
          },
          {
            "name": "103"
          },
          {
            "name": "104"
          },
          {
            "name": "11"
          },
          {
            "name": "12"
          },
          {
            "name": "13"
          },
          {
            "name": "14"
          },
          {
            "name": "15"
          },
          {
            "name": "16"
          },
          {
            "name": "17"
          }
        ],
        "@nextLink": "/labels?api-version=2026-04-01&name=*&after=MTc%3D"
      }
    },
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/labels?after=MTc%3D&api-version=2026-04-01&name=*",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDY1MDc2"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.labelset+json; charset=utf-8",
        "Link": "</labels?api-version=2026-04-01&nam[...]
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/labels?after=MzE%3D&api-version=2026-04-01&name=*",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDY1MDc2"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.labelset+json; charset=utf-8",
        "Link": "</labels?api-version=2026-04-01&nam[...]
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/labels?after=NDY%3D&api-version=2026-04-01&name=*",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDY1MDc2"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.labelset+json; charset=utf-8",
        "Link": "</labels?api-version=2026-04-01&nam[...]
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/labels?after=NjA%3D&api-version=2026-04-01&name=*",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDY1MDc2"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.labelset+json; charset=utf-8",
        "Link": "</labels?api-version=2026-04-01&nam[...]
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/labels?after=NzU%3D&api-version=2026-04-01&name=*",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDY1MDc2"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.labelset+json; charset=utf-8",
        "Link": "</labels?api-version=2026-04-01&nam[...]
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/labels?after=OQ%3D%3D&api-version=2026-04-01&name=*",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDY1MDc2"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.labelset+json; charset=utf-8",
        "Link": "</labels?api-version=2026-04-01&n[...]
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/labels?after=a2V5LWwxMDQ0ODk3MDlfNjY%3D&api-version=2026-04-01&name=*",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDY1MDc2"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.labelset+json; charset=utf-8",
        "Link": "</labels?api-ve[...]
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/labels?after=a2V5LWwxMDg1OTE4OTAxXzYw&api-version=2026-04-01&name=*",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDY1MDc2"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.labelset+json; charset=utf-8",
        "Link": "</labels?api-vers[...]
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/labels?after=a2V5LWwyMDk4MTY3OTI2XzU1&api-version=2026-04-01&name=*",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDY1MDc2"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.labelset+json; charset=utf-8",
        "Link": "</labels?api-vers[...]
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/labels?after=a2V5LWwyNTE1NzQxNjZfNQ%3D%3D&api-version=2026-04-01&name=*",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDY1MDc2"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.labelset+json; charset=utf-8",
        "Link": "</labels?api-[...]
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/labels?after=a2V5LWwzNTg0NjUyNDJfNDQ%3D&api-version=2026-04-01&name=*",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDY1MDc2"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.labelset+json; charset=utf-8",
        "Link": "</labels?api-ve[...]
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/labels?after=a2V5LWwzODA0NTcyMzhfMzk%3D&api-version=2026-04-01&name=*",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDY1MDc2"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.labelset+json; charset=utf-8",
        "Sync-Token": "zAJw6V16=[...]
[...]
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv/key-722513665?api-version=2026-04-01&label=test_label_update",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDY1MDc3"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"R3PR51AMlsiglR3IdQgvNb4588F3P37KXHGebedrApU\"",
        "Last-Modified": "Wed, 10 Jun 2026 18:21:21 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDY1MDc4;sn=67065078",
        "x-ms-date": "Wed, 10 Jun 2026 18:21:22 GMT"
      },
      "ResponseBody": {
        "etag": "R3PR51AMlsiglR3IdQgvNb4588F3P37KXHGebedrApU",
        "key": "key-722513665",
        "label": "test_label_update",
        "content_type": "test_content_type",
        "value": "test_value",
        "description": "test_description",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-06-10T18:21:21+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_ENDPOINT_STRING": "https://mrm90847047-azconfig-net.azconfig.io",
    "RandomSeed": "1188883580"
  }
}
