{
  "Entries": [
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv/key-560091645?api-version=2026-04-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "description": "test_description"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"N4vPGE6TFAUEc5ja8jG4zhQUW7n8Pl_n50sCTkmbuLs\"",
        "Last-Modified": "Wed, 10 Jun 2026 18:21:24 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDY1MDc5;sn=67065079",
        "x-ms-date": "Wed, 10 Jun 2026 18:21:24 GMT"
      },
      "ResponseBody": {
        "etag": "N4vPGE6TFAUEc5ja8jG4zhQUW7n8Pl_n50sCTkmbuLs",
        "key": "key-560091645",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "description": "test_description",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-06-10T18:21:24+00:00"
      }
    },
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv/key-1902025685?api-version=2026-04-01&label=test_label_update",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDY1MDc5"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "description": "test_description"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"m_OaDE6uD9sUNITaf-VJVLE01ymNuRRYWeJXRqpVC7s\"",
        "Last-Modified": "Wed, 10 Jun 2026 18:21:24 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDY1MDgw;sn=67065080",
        "x-ms-date": "Wed, 10 Jun 2026 18:21:24 GMT"
      },
      "ResponseBody": {
        "etag": "m_OaDE6uD9sUNITaf-VJVLE01ymNuRRYWeJXRqpVC7s",
        "key": "key-1902025685",
        "label": "test_label_update",
        "content_type": "test_content_type",
        "value": "test_value",
        "description": "test_description",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-06-10T18:21:24+00:00"
      }
    },
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/labels?api-version=2026-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDY1MDgw"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.labelset+json; charset=utf-8",
        "Link": "</labels?api-version=2026-04-01&after=MTc%3D>; rel=\"next\"",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDY1MDgw;sn=67065080",
        "x-ms-date": "Wed, 10 Jun 2026 18:21:24 GMT"
      },
      "ResponseBody": {
        "items": [
          {
            "name": null
          },
          {
            "name": "0"
          },
          {
            "name": "1"
          },
          {
            "name": "10"
          },
          {
            "name": "100"
          },
          {
            "name": "101"
          },
          {
            "name": "102"
          },
          {
            "name": "103"
          },
          {
            "name": "104"
          },
          {
            "name": "11"
          },
          {
            "name": "12"
          },
          {
            "name": "13"
          },
          {
            "name": "14"
          },
          {
            "name": "15"
          },
          {
            "name": "16"
          },
          {
            "name": "17"
          }
        ],
        "@nextLink": "/labels?api-version=2026-04-01&after=MTc%3D"
      }
    },
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/labels?after=MTc%3D&api-version=2026-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDY1MDgw"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.labelset+json; charset=utf-8",
        "Link": "</labels?api-version=2026-04-01&after=MzE%[...]
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/labels?after=MzE%3D&api-version=2026-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDY1MDgw"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.labelset+json; charset=utf-8",
        "Link": "</labels?api-version=2026-04-01&after=NDY%[...]
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/labels?after=NDY%3D&api-version=2026-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDY1MDgw"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.labelset+json; charset=utf-8",
        "Link": "</labels?api-version=2026-04-01&after=NjA%[...]
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/labels?after=NjA%3D&api-version=2026-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDY1MDgw"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.labelset+json; charset=utf-8",
        "Link": "</labels?api-version=2026-04-01&after=NzU%[...]
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/labels?after=NzU%3D&api-version=2026-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDY1MDgw"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.labelset+json; charset=utf-8",
        "Link": "</labels?api-version=2026-04-01&after=OQ%3[...]
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/labels?after=OQ%3D%3D&api-version=2026-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDY1MDgw"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.labelset+json; charset=utf-8",
        "Link": "</labels?api-version=2026-04-01&after=a2[...]
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/labels?after=a2V5LWwxMDQ0ODk3MDlfNjY%3D&api-version=2026-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDY1MDgw"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.labelset+json; charset=utf-8",
        "Link": "</labels?api-version=2[...]
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/labels?after=a2V5LWwxMDg1OTE4OTAxXzYw&api-version=2026-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDY1MDgw"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.labelset+json; charset=utf-8",
        "Link": "</labels?api-version=202[...]
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/labels?after=a2V5LWwyMDk4MTY3OTI2XzU1&api-version=2026-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDY1MDgw"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.labelset+json; charset=utf-8",
        "Link": "</labels?api-version=202[...]
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/labels?after=a2V5LWwyNTE1NzQxNjZfNQ%3D%3D&api-version=2026-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDY1MDgw"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.labelset+json; charset=utf-8",
        "Link": "</labels?api-version[...]
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/labels?after=a2V5LWwzNTg0NjUyNDJfNDQ%3D&api-version=2026-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDY1MDgw"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.labelset+json; charset=utf-8",
        "Link": "</labels?api-version=2[...]
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/labels?after=a2V5LWwzODA0NTcyMzhfMzk%3D&api-version=2026-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDY1MDgw"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.labelset+json; charset=utf-8",
        "Sync-Token": "zAJw6V16=Mzo1IzY[...]
[...]
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv/key-1902025685?api-version=2026-04-01&label=test_label_update",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDY1MDgx"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"m_OaDE6uD9sUNITaf-VJVLE01ymNuRRYWeJXRqpVC7s\"",
        "Last-Modified": "Wed, 10 Jun 2026 18:21:24 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDY1MDgy;sn=67065082",
        "x-ms-date": "Wed, 10 Jun 2026 18:21:25 GMT"
      },
      "ResponseBody": {
        "etag": "m_OaDE6uD9sUNITaf-VJVLE01ymNuRRYWeJXRqpVC7s",
        "key": "key-1902025685",
        "label": "test_label_update",
        "content_type": "test_content_type",
        "value": "test_value",
        "description": "test_description",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-06-10T18:21:24+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_ENDPOINT_STRING": "https://mrm90847047-azconfig-net.azconfig.io",
    "RandomSeed": "73778076"
  }
}
