{
  "Entries": [
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-845894623?api-version=2023-11-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"h3g_1FM216vjniNJkYfXzBxJXI5wzrAU63QccIKlfpk\"",
        "Last-Modified": "Fri, 23 Jan 2026 07:08:18 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU3NTAxOQ==;sn=103575019",
        "x-ms-date": "Fri, 23 Jan 2026 07:08:18 GMT"
      },
      "ResponseBody": {
        "etag": "h3g_1FM216vjniNJkYfXzBxJXI5wzrAU63QccIKlfpk",
        "key": "key-845894623",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-01-23T07:08:18+00:00"
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-990869274?api-version=2023-11-01&label=test_label_update",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU3NTAxOQ==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"Ii5ZZak6TzDGqXH8wZ3Rq1sZJTKfC1ISWrv7TrZ-Yec\"",
        "Last-Modified": "Fri, 23 Jan 2026 07:08:18 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU3NTAyMA==;sn=103575020",
        "x-ms-date": "Fri, 23 Jan 2026 07:08:18 GMT"
      },
      "ResponseBody": {
        "etag": "Ii5ZZak6TzDGqXH8wZ3Rq1sZJTKfC1ISWrv7TrZ-Yec",
        "key": "key-990869274",
        "label": "test_label_update",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-01-23T07:08:18+00:00"
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/labels?api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU3NTAyMA==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.labelset+json; charset=utf-8",
        "Link": "</labels?api-version=2023-11-01&after=MTc%3D>; rel=\"next\"",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU3NTAyMA==;sn=103575020",
        "x-ms-date": "Fri, 23 Jan 2026 07:08:18 GMT"
      },
      "ResponseBody": {
        "items": [
          {
            "name": null
          },
          {
            "name": "0"
          },
          {
            "name": "1"
          },
          {
            "name": "10"
          },
          {
            "name": "100"
          },
          {
            "name": "101"
          },
          {
            "name": "102"
          },
          {
            "name": "103"
          },
          {
            "name": "104"
          },
          {
            "name": "11"
          },
          {
            "name": "12"
          },
          {
            "name": "13"
          },
          {
            "name": "14"
          },
          {
            "name": "15"
          },
          {
            "name": "16"
          },
          {
            "name": "17"
          }
        ],
        "@nextLink": "/labels?api-version=2023-11-01&after=MTc%3D"
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/labels?after=MTc%3D&api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU3NTAyMA==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.labelset+json; charset=utf-8",
     [...]
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/labels?after=MzE%3D&api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU3NTAyMA==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.labelset+json; charset=utf-8",
     [...]
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/labels?after=NDY%3D&api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU3NTAyMA==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.labelset+json; charset=utf-8",
     [...]
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/labels?after=NjA%3D&api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU3NTAyMA==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.labelset+json; charset=utf-8",
     [...]
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/labels?after=NzU%3D&api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU3NTAyMA==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.labelset+json; charset=utf-8",
     [...]
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/labels?after=OQ%3D%3D&api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU3NTAyMA==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.labelset+json; charset=utf-8",
   [...]
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/labels?after=a2V5LWwxMjc1NjYzNDIzXzY2&api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU3NTAyMA==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.labelset+json; cha[...]
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/labels?after=a2V5LWwxNjAzMzM0MzAwXzYw&api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU3NTAyMA==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.labelset+json; cha[...]
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/labels?after=a2V5LWwxNjExMDYxNzFfNTU%3D&api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU3NTAyMA==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.labelset+json; c[...]
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/labels?after=a2V5LWwzODc3MDI4MDJfNQ%3D%3D&api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU3NTAyMA==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.labelset+json;[...]
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/labels?after=a2V5LWw1ODUzMzQyMDdfNDQ%3D&api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU3NTAyMA==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.labelset+json; c[...]
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/labels?after=a2V5LWw3MDU3OTQ5MTRfMzk%3D&api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU3NTAyMA==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.labelset+json; c[...]
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/labels?after=a2V5LWw5NTMzNTgwNTlfMzM%3D&api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU3NTAyMA==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.labelset+json; c[...]
[...]
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-990869274?api-version=2023-11-01&label=test_label_update",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU3NTAyMQ==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"Ii5ZZak6TzDGqXH8wZ3Rq1sZJTKfC1ISWrv7TrZ-Yec\"",
        "Last-Modified": "Fri, 23 Jan 2026 07:08:18 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU3NTAyMg==;sn=103575022",
        "x-ms-date": "Fri, 23 Jan 2026 07:08:20 GMT"
      },
      "ResponseBody": {
        "etag": "Ii5ZZak6TzDGqXH8wZ3Rq1sZJTKfC1ISWrv7TrZ-Yec",
        "key": "key-990869274",
        "label": "test_label_update",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-01-23T07:08:18+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t9c954b564de572f9-azconfig-net.azconfig.io;Id=MdvE;Secret=Kg==",
    "RandomSeed": "280759017"
  }
}
