{
  "Entries": [
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv/key-70407780?api-version=2026-04-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "description": "test_description"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"K-VX7fVHNkUbTO9Nvv_ugYNlxx0psDt_7zWM7ZZYIj8\"",
        "Last-Modified": "Wed, 10 Jun 2026 21:28:50 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDk0MTM3;sn=67094137",
        "x-ms-date": "Wed, 10 Jun 2026 21:28:50 GMT"
      },
      "ResponseBody": {
        "etag": "K-VX7fVHNkUbTO9Nvv_ugYNlxx0psDt_7zWM7ZZYIj8",
        "key": "key-70407780",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "description": "test_description",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-06-10T21:28:50+00:00"
      }
    },
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv/key-213063363?api-version=2026-04-01&label=test_label_update",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDk0MTM3"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "description": "test_description"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"CouH3_-1jteWUfyxeHtVT5H70pH9OoZRjxCHCBztrXQ\"",
        "Last-Modified": "Wed, 10 Jun 2026 21:28:50 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDk0MTM4;sn=67094138",
        "x-ms-date": "Wed, 10 Jun 2026 21:28:50 GMT"
      },
      "ResponseBody": {
        "etag": "CouH3_-1jteWUfyxeHtVT5H70pH9OoZRjxCHCBztrXQ",
        "key": "key-213063363",
        "label": "test_label_update",
        "content_type": "test_content_type",
        "value": "test_value",
        "description": "test_description",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-06-10T21:28:50+00:00"
      }
    },
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/labels?api-version=2026-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDk0MTM4"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.labelset+json; charset=utf-8",
        "Link": "</labels?api-version=2026-04-01&after=MTc%3D>; rel=\"next\"",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDk0MTM4;sn=67094138",
        "x-ms-date": "Wed, 10 Jun 2026 21:28:50 GMT"
      },
      "ResponseBody": {
        "items": [
          {
            "name": null
          },
          {
            "name": "0"
          },
          {
            "name": "1"
          },
          {
            "name": "10"
          },
          {
            "name": "100"
          },
          {
            "name": "101"
          },
          {
            "name": "102"
          },
          {
            "name": "103"
          },
          {
            "name": "104"
          },
          {
            "name": "11"
          },
          {
            "name": "12"
          },
          {
            "name": "13"
          },
          {
            "name": "14"
          },
          {
            "name": "15"
          },
          {
            "name": "16"
          },
          {
            "name": "17"
          }
        ],
        "@nextLink": "/labels?api-version=2026-04-01&after=MTc%3D"
      }
    },
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/labels?after=MTc%3D&api-version=2026-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDk0MTM4"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.labelset+json; charset=utf-8",
        "Link": "</labels?api-version=2026-04-01&after=MzE%[...]
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/labels?after=MzE%3D&api-version=2026-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDk0MTM4"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.labelset+json; charset=utf-8",
        "Link": "</labels?api-version=2026-04-01&after=NDY%[...]
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/labels?after=NDY%3D&api-version=2026-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDk0MTM4"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.labelset+json; charset=utf-8",
        "Link": "</labels?api-version=2026-04-01&after=NjA%[...]
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/labels?after=NjA%3D&api-version=2026-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDk0MTM4"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.labelset+json; charset=utf-8",
        "Link": "</labels?api-version=2026-04-01&after=NzU%[...]
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/labels?after=NzU%3D&api-version=2026-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDk0MTM4"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.labelset+json; charset=utf-8",
        "Link": "</labels?api-version=2026-04-01&after=OQ%3[...]
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/labels?after=OQ%3D%3D&api-version=2026-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDk0MTM4"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.labelset+json; charset=utf-8",
        "Link": "</labels?api-version=2026-04-01&after=a2[...]
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/labels?after=a2V5LWwxMDQ0ODk3MDlfNjY%3D&api-version=2026-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDk0MTM4"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.labelset+json; charset=utf-8",
        "Link": "</labels?api-version=2[...]
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/labels?after=a2V5LWwxMDg1OTE4OTAxXzYw&api-version=2026-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDk0MTM4"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.labelset+json; charset=utf-8",
        "Link": "</labels?api-version=202[...]
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/labels?after=a2V5LWwyMDEzNTc5OTQwXzU1&api-version=2026-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDk0MTM4"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.labelset+json; charset=utf-8",
        "Link": "</labels?api-version=202[...]
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/labels?after=a2V5LWwyMDE0OTA1NzA5XzU%3D&api-version=2026-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDk0MTM4"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.labelset+json; charset=utf-8",
        "Link": "</labels?api-version=2[...]
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/labels?after=a2V5LWwyMDk4MTY3OTI2XzQ0&api-version=2026-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDk0MTM4"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.labelset+json; charset=utf-8",
        "Link": "</labels?api-version=202[...]
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/labels?after=a2V5LWwyMTI5OTQ2OTQ0XzM5&api-version=2026-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDk0MTM4"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.labelset+json; charset=utf-8",
        "Link": "</labels?api-version=202[...]
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/labels?after=a2V5LWwyNTE1NzQxNjZfMzM%3D&api-version=2026-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDk0MTM4"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.labelset+json; charset=utf-8",
        "Link": "</labels?api-version=2[...]
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/labels?after=a2V5LWwzNTg0NjUyNDJfMjg%3D&api-version=2026-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDk0MTM4"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.labelset+json; charset=utf-8",
        "Link": "</labels?api-version=2[...]
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/labels?after=a2V5LWwzODA0NTcyMzhfMjI%3D&api-version=2026-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDk0MTM4"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.labelset+json; charset=utf-8",
        "Link": "</labels?api-version=2[...]
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/labels?after=a2V5LWw0MDM5NjQ0NzZfMTc%3D&api-version=2026-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDk0MTM4"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.labelset+json; charset=utf-8",
        "Sync-Token": "zAJw6V16=Mzo1IzY[...]
[...]
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv/key-213063363?api-version=2026-04-01&label=test_label_update",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDk0MTM5"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"CouH3_-1jteWUfyxeHtVT5H70pH9OoZRjxCHCBztrXQ\"",
        "Last-Modified": "Wed, 10 Jun 2026 21:28:50 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDk0MTQw;sn=67094140",
        "x-ms-date": "Wed, 10 Jun 2026 21:28:51 GMT"
      },
      "ResponseBody": {
        "etag": "CouH3_-1jteWUfyxeHtVT5H70pH9OoZRjxCHCBztrXQ",
        "key": "key-213063363",
        "label": "test_label_update",
        "content_type": "test_content_type",
        "value": "test_value",
        "description": "test_description",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-06-10T21:28:50+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_ENDPOINT_STRING": "https://mrm90847047-azconfig-net.azconfig.io",
    "RandomSeed": "578512109"
  }
}
