{
  "Entries": [
    {
      "RequestUri": "https://tdfcae3cf5eab7143-azconfig-net.azconfig.io/kv/key-960251389?label=test_label&api-version=2023-10-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"nuFgH2AfDJrrIne3IImSSwol8m9cjk71Y9DI88Bjm8c\"",
        "Last-Modified": "Fri, 14 Jun 2024 14:55:47 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzMwNDE2NTg4;sn=30416588"
      },
      "ResponseBody": {
        "etag": "nuFgH2AfDJrrIne3IImSSwol8m9cjk71Y9DI88Bjm8c",
        "key": "key-960251389",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2024-06-14T14:55:47+00:00"
      }
    },
    {
      "RequestUri": "https://tdfcae3cf5eab7143-azconfig-net.azconfig.io/kv/key-207819005?label=test_label_update&api-version=2023-10-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=Njo1IzMwNDE2NTg4",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"Dt0rlN6wcSuB6Cy2qnPAcAAlN9WhzAwrRbYKhXK3LRk\"",
        "Last-Modified": "Fri, 14 Jun 2024 14:55:47 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzMwNDE2NTg5;sn=30416589"
      },
      "ResponseBody": {
        "etag": "Dt0rlN6wcSuB6Cy2qnPAcAAlN9WhzAwrRbYKhXK3LRk",
        "key": "key-207819005",
        "label": "test_label_update",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2024-06-14T14:55:47+00:00"
      }
    },
    {
      "RequestUri": "https://tdfcae3cf5eab7143-azconfig-net.azconfig.io/labels?api-version=2023-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Njo1IzMwNDE2NTg5",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.labelset+json; charset=utf-8",
        "Sync-Token": "zAJw6V16=Njo1IzMwNDE2NTg5;sn=30416589"
      },
      "ResponseBody": {
        "items": [
          {
            "name": "test_label"
          },
          {
            "name": "test_label_update"
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://tdfcae3cf5eab7143-azconfig-net.azconfig.io/kv/key-207819005?label=test_label_update&api-version=2023-10-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Njo1IzMwNDE2NTkw",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"Dt0rlN6wcSuB6Cy2qnPAcAAlN9WhzAwrRbYKhXK3LRk\"",
        "Last-Modified": "Fri, 14 Jun 2024 14:55:47 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzMwNDE2NTkx;sn=30416591"
      },
      "ResponseBody": {
        "etag": "Dt0rlN6wcSuB6Cy2qnPAcAAlN9WhzAwrRbYKhXK3LRk",
        "key": "key-207819005",
        "label": "test_label_update",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2024-06-14T14:55:47+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://tdfcae3cf5eab7143-azconfig-net.azconfig.io;Id=yt5R;Secret=Kg==",
    "RandomSeed": "602206645"
  }
}
