{
  "Entries": [
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-621456473?api-version=2023-11-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"dafUrjgRYKcIgEO6JvwXIAOTi3lpZ4BE31GYDKmKj8E\"",
        "Last-Modified": "Mon, 26 Jan 2026 05:36:34 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzg1MDE1Nw==;sn=103850157",
        "x-ms-date": "Mon, 26 Jan 2026 05:36:34 GMT"
      },
      "ResponseBody": {
        "etag": "dafUrjgRYKcIgEO6JvwXIAOTi3lpZ4BE31GYDKmKj8E",
        "key": "key-621456473",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-01-26T05:36:34+00:00"
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-179745356?api-version=2023-11-01&label=test_label_update",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzg1MDE1Nw==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"w1C7MfTjpwDYOmjVQFnBERT8LfDB4Qvw_m0yWrtfGn0\"",
        "Last-Modified": "Mon, 26 Jan 2026 05:36:34 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzg1MDE1OA==;sn=103850158",
        "x-ms-date": "Mon, 26 Jan 2026 05:36:34 GMT"
      },
      "ResponseBody": {
        "etag": "w1C7MfTjpwDYOmjVQFnBERT8LfDB4Qvw_m0yWrtfGn0",
        "key": "key-179745356",
        "label": "test_label_update",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-01-26T05:36:34+00:00"
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/labels?api-version=2023-11-01&name=%2A",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzg1MDE1OA==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.labelset+json; charset=utf-8",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzg1MDE1OA==;sn=103850158",
        "x-ms-date": "Mon, 26 Jan 2026 05:36:34 GMT"
      },
      "ResponseBody": {
        "items": [
          {
            "name": "label-1"
          },
          {
            "name": "test_label"
          },
          {
            "name": "test_label_update"
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-179745356?api-version=2023-11-01&label=test_label_update",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzg1MDE1OQ==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"w1C7MfTjpwDYOmjVQFnBERT8LfDB4Qvw_m0yWrtfGn0\"",
        "Last-Modified": "Mon, 26 Jan 2026 05:36:34 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzg1MDE2MA==;sn=103850160",
        "x-ms-date": "Mon, 26 Jan 2026 05:36:34 GMT"
      },
      "ResponseBody": {
        "etag": "w1C7MfTjpwDYOmjVQFnBERT8LfDB4Qvw_m0yWrtfGn0",
        "key": "key-179745356",
        "label": "test_label_update",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-01-26T05:36:34+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t9c954b564de572f9-azconfig-net.azconfig.io;Id=MdvE;Secret=Kg==",
    "RandomSeed": "1625689645"
  }
}
