{
  "Entries": [
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-922089099?api-version=2023-11-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"c67JgjLvKPgpEOMWA0RP3QVerUOqPXrK7jjK7Zv5img\"",
        "Last-Modified": "Thu, 22 Jan 2026 02:04:40 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzQ3NDc5Mw==;sn=103474793",
        "x-ms-date": "Thu, 22 Jan 2026 02:04:41 GMT"
      },
      "ResponseBody": {
        "etag": "c67JgjLvKPgpEOMWA0RP3QVerUOqPXrK7jjK7Zv5img",
        "key": "key-922089099",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-01-22T02:04:40+00:00"
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-1029643193?api-version=2023-11-01&label=test_label_update",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzQ3NDc5Mw==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"OW523xIRCYoVhdslTSrURAKALPTWqxvNTbw9TqnTQP4\"",
        "Last-Modified": "Thu, 22 Jan 2026 02:04:41 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzQ3NDc5NA==;sn=103474794",
        "x-ms-date": "Thu, 22 Jan 2026 02:04:41 GMT"
      },
      "ResponseBody": {
        "etag": "OW523xIRCYoVhdslTSrURAKALPTWqxvNTbw9TqnTQP4",
        "key": "key-1029643193",
        "label": "test_label_update",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-01-22T02:04:41+00:00"
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/labels?api-version=2023-11-01&name=%2A",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzQ3NDc5NA==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.labelset+json; charset=utf-8",
        "Link": "</labels?api-version=2023-11-01&name=*&after=MTc%3D>; rel=\"next\"",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzQ3NDc5NA==;sn=103474794",
        "x-ms-date": "Thu, 22 Jan 2026 02:04:41 GMT"
      },
      "ResponseBody": {
        "items": [
          {
            "name": null
          },
          {
            "name": "0"
          },
          {
            "name": "1"
          },
          {
            "name": "10"
          },
          {
            "name": "100"
          },
          {
            "name": "101"
          },
          {
            "name": "102"
          },
          {
            "name": "103"
          },
          {
            "name": "104"
          },
          {
            "name": "11"
          },
          {
            "name": "12"
          },
          {
            "name": "13"
          },
          {
            "name": "14"
          },
          {
            "name": "15"
          },
          {
            "name": "16"
          },
          {
            "name": "17"
          }
        ],
        "@nextLink": "/labels?api-version=2023-11-01&name=*&after=MTc%3D"
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/labels?after=MTc%3D&api-version=2023-11-01&name=*",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzQ3NDc5NA==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.labelset+json; charset=utf-8"[...]
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/labels?after=MzE%3D&api-version=2023-11-01&name=*",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzQ3NDc5NA==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.labelset+json; charset=utf-8"[...]
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/labels?after=NDY%3D&api-version=2023-11-01&name=*",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzQ3NDc5NA==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.labelset+json; charset=utf-8"[...]
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/labels?after=NjA%3D&api-version=2023-11-01&name=*",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzQ3NDc5NA==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.labelset+json; charset=utf-8"[...]
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/labels?after=NzU%3D&api-version=2023-11-01&name=*",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzQ3NDc5NA==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.labelset+json; charset=utf-8"[...]
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/labels?after=OQ%3D%3D&api-version=2023-11-01&name=*",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzQ3NDc5NA==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.labelset+json; charset=utf-[...]
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/labels?after=a2V5LWwxNjAzMzM0MzAwXzY2&api-version=2023-11-01&name=*",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzQ3NDc5NA==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.labelset+js[...]
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/labels?after=a2V5LWwxNjExMDYxNzFfNjA%3D&api-version=2023-11-01&name=*",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzQ3NDc5NA==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.labelset+[...]
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/labels?after=a2V5LWwzODc3MDI4MDJfNTU%3D&api-version=2023-11-01&name=*",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzQ3NDc5NA==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.labelset+[...]
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/labels?after=a2V5LWw1ODUzMzQyMDdfNQ%3D%3D&api-version=2023-11-01&name=*",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzQ3NDc5NA==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.labelse[...]
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/labels?after=a2V5LWw3MDU3OTQ5MTRfNDQ%3D&api-version=2023-11-01&name=*",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzQ3NDc5NA==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.labelset+[...]
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/labels?after=a2V5LWw5NTMzNTgwNTlfMzk%3D&api-version=2023-11-01&name=*",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzQ3NDc5NA==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.labelset+[...]
[...]
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-1029643193?api-version=2023-11-01&label=test_label_update",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzQ3NDc5NQ==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"OW523xIRCYoVhdslTSrURAKALPTWqxvNTbw9TqnTQP4\"",
        "Last-Modified": "Thu, 22 Jan 2026 02:04:41 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzQ3NDc5Ng==;sn=103474796",
        "x-ms-date": "Thu, 22 Jan 2026 02:04:42 GMT"
      },
      "ResponseBody": {
        "etag": "OW523xIRCYoVhdslTSrURAKALPTWqxvNTbw9TqnTQP4",
        "key": "key-1029643193",
        "label": "test_label_update",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-01-22T02:04:41+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t9c954b564de572f9-azconfig-net.azconfig.io;Id=MdvE;Secret=Kg==",
    "RandomSeed": "1417262538"
  }
}
