{
  "Entries": [
    {
      "RequestUri": "https://appconfig-canary-2023-10-01.azconfig.io/kv/keyFields-1003597176?label=my_label\u0026api-version=2023-10-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "EvztPjFq9O5ineHKH6U017hNcB1ScAKnt5HeCaAErk4="
      },
      "RequestBody": {
        "value": "my_value",
        "content_type": "content-type",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022TtDXOp-vdHP8UgUQmSZbg3LxyNhHm7kaFbqvcsduZpo\u0022",
        "Last-Modified": "Fri, 03 Nov 2023 20:09:53 GMT",
        "Sync-Token": "zAJw6V16=NjoxNSM1MzM5MzI2;sn=5339326"
      },
      "ResponseBody": {
        "etag": "TtDXOp-vdHP8UgUQmSZbg3LxyNhHm7kaFbqvcsduZpo",
        "key": "keyFields-1003597176",
        "label": "my_label",
        "content_type": "content-type",
        "value": "my_value",
        "tags": {},
        "locked": false,
        "last_modified": "2023-11-03T20:09:53\u002B00:00"
      }
    },
    {
      "RequestUri": "https://appconfig-canary-2023-10-01.azconfig.io/kv?key=keyFields-1003597176\u0026api-version=2023-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NjoxNSM1MzM5MzI2",
        "x-ms-content-sha256": "47DEQpj8HBSa\u002B/TImW\u002B5JCeuQeRkm5NMpJWZG3hSuFU="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset\u002Bjson; charset=utf-8",
        "ETag": "\u0022h4HZ86wC2whwnjKCJ6QVIMgHhehkIjeYE_URixkh5Wo\u0022",
        "Sync-Token": "zAJw6V16=NjoxNSM1MzM5MzI2;sn=5339326"
      },
      "ResponseBody": {
        "etag": "h4HZ86wC2whwnjKCJ6QVIMgHhehkIjeYE_URixkh5Wo",
        "items": [
          {
            "etag": "TtDXOp-vdHP8UgUQmSZbg3LxyNhHm7kaFbqvcsduZpo",
            "key": "keyFields-1003597176",
            "label": "my_label",
            "content_type": "content-type",
            "value": "my_value",
            "tags": {},
            "locked": false,
            "last_modified": "2023-11-03T20:09:53\u002B00:00"
          }
        ]
      }
    },
    {
      "RequestUri": "https://appconfig-canary-2023-10-01.azconfig.io/kv/keyFields-1003597176?label=my_label\u0026api-version=2023-10-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NjoxNSM1MzM5MzI2",
        "x-ms-content-sha256": "47DEQpj8HBSa\u002B/TImW\u002B5JCeuQeRkm5NMpJWZG3hSuFU="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022TtDXOp-vdHP8UgUQmSZbg3LxyNhHm7kaFbqvcsduZpo\u0022",
        "Last-Modified": "Fri, 03 Nov 2023 20:09:53 GMT",
        "Sync-Token": "zAJw6V16=NjoxNSM1MzM5MzI3;sn=5339327"
      },
      "ResponseBody": {
        "etag": "TtDXOp-vdHP8UgUQmSZbg3LxyNhHm7kaFbqvcsduZpo",
        "key": "keyFields-1003597176",
        "label": "my_label",
        "content_type": "content-type",
        "value": "my_value",
        "tags": {},
        "locked": false,
        "last_modified": "2023-11-03T20:09:53\u002B00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://appconfig-canary-2023-10-01.azconfig.io;Id=0VlC;Secret=Kg==",
    "RandomSeed": "1369943604"
  }
}
