{
  "Entries": [
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/keyFields-1127547919?api-version=2023-11-01&label=my_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "my_value",
        "content_type": "content-type",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"mu3sKdaZUKZgjeB4DQ0imPVbEyJQUIH8EtMFEx__c6w\"",
        "Last-Modified": "Mon, 26 Jan 2026 05:47:35 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzg1MjIyNQ==;sn=103852225",
        "x-ms-date": "Mon, 26 Jan 2026 05:47:35 GMT"
      },
      "ResponseBody": {
        "etag": "mu3sKdaZUKZgjeB4DQ0imPVbEyJQUIH8EtMFEx__c6w",
        "key": "keyFields-1127547919",
        "label": "my_label",
        "content_type": "content-type",
        "value": "my_value",
        "tags": {},
        "locked": false,
        "last_modified": "2026-01-26T05:47:35+00:00"
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv?api-version=2023-11-01&key=keyFields-1127547919",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzg1MjIyNQ==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"DiXEZdSpcpPsL6eFHPBU3ByZz3_Pn_EkO-kjDyGWKA0\"",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzg1MjIyNQ==;sn=103852225",
        "x-ms-date": "Mon, 26 Jan 2026 05:47:36 GMT"
      },
      "ResponseBody": {
        "etag": "DiXEZdSpcpPsL6eFHPBU3ByZz3_Pn_EkO-kjDyGWKA0",
        "items": [
          {
            "etag": "mu3sKdaZUKZgjeB4DQ0imPVbEyJQUIH8EtMFEx__c6w",
            "key": "keyFields-1127547919",
            "label": "my_label",
            "content_type": "content-type",
            "value": "my_value",
            "tags": {},
            "locked": false,
            "last_modified": "2026-01-26T05:47:35+00:00"
          }
        ]
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/keyFields-1127547919?api-version=2023-11-01&label=my_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzg1MjIyNQ==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"mu3sKdaZUKZgjeB4DQ0imPVbEyJQUIH8EtMFEx__c6w\"",
        "Last-Modified": "Mon, 26 Jan 2026 05:47:35 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzg1MjIyNg==;sn=103852226",
        "x-ms-date": "Mon, 26 Jan 2026 05:47:36 GMT"
      },
      "ResponseBody": {
        "etag": "mu3sKdaZUKZgjeB4DQ0imPVbEyJQUIH8EtMFEx__c6w",
        "key": "keyFields-1127547919",
        "label": "my_label",
        "content_type": "content-type",
        "value": "my_value",
        "tags": {},
        "locked": false,
        "last_modified": "2026-01-26T05:47:35+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t9c954b564de572f9-azconfig-net.azconfig.io;Id=MdvE;Secret=Kg==",
    "RandomSeed": "858540872"
  }
}
