{
  "Entries": [
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/keyFields-513088935?api-version=2023-11-01&label=my_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "my_value",
        "content_type": "content-type",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"s0PwRSG8wkLYv79kR49-XLugpKq0Fhrt5hof16mD8zs\"",
        "Last-Modified": "Fri, 23 Jan 2026 07:10:43 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU3NTI4MA==;sn=103575280",
        "x-ms-date": "Fri, 23 Jan 2026 07:10:43 GMT"
      },
      "ResponseBody": {
        "etag": "s0PwRSG8wkLYv79kR49-XLugpKq0Fhrt5hof16mD8zs",
        "key": "keyFields-513088935",
        "label": "my_label",
        "content_type": "content-type",
        "value": "my_value",
        "tags": {},
        "locked": false,
        "last_modified": "2026-01-23T07:10:43+00:00"
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv?api-version=2023-11-01&key=keyFields-513088935",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU3NTI4MA==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"ycGLF7PDmPu9XtDGlPKhmx2CRbCCqwk68Dnzfwp7icE\"",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU3NTI4MA==;sn=103575280",
        "x-ms-date": "Fri, 23 Jan 2026 07:10:43 GMT"
      },
      "ResponseBody": {
        "etag": "ycGLF7PDmPu9XtDGlPKhmx2CRbCCqwk68Dnzfwp7icE",
        "items": [
          {
            "etag": "s0PwRSG8wkLYv79kR49-XLugpKq0Fhrt5hof16mD8zs",
            "key": "keyFields-513088935",
            "label": "my_label",
            "content_type": "content-type",
            "value": "my_value",
            "tags": {},
            "locked": false,
            "last_modified": "2026-01-23T07:10:43+00:00"
          }
        ]
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/keyFields-513088935?api-version=2023-11-01&label=my_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU3NTI4MA==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"s0PwRSG8wkLYv79kR49-XLugpKq0Fhrt5hof16mD8zs\"",
        "Last-Modified": "Fri, 23 Jan 2026 07:10:43 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU3NTI4MQ==;sn=103575281",
        "x-ms-date": "Fri, 23 Jan 2026 07:10:43 GMT"
      },
      "ResponseBody": {
        "etag": "s0PwRSG8wkLYv79kR49-XLugpKq0Fhrt5hof16mD8zs",
        "key": "keyFields-513088935",
        "label": "my_label",
        "content_type": "content-type",
        "value": "my_value",
        "tags": {},
        "locked": false,
        "last_modified": "2026-01-23T07:10:43+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t9c954b564de572f9-azconfig-net.azconfig.io;Id=MdvE;Secret=Kg==",
    "RandomSeed": "912057746"
  }
}
