{
  "Entries": [
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-1180838324?api-version=2023-11-01&label=my_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "my_value",
        "content_type": null,
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"76usGRa-JD1z3KUew6CFsYbwXzmWh0cjtnvaoUcPdbc\"",
        "Last-Modified": "Tue, 06 Jan 2026 06:28:19 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTc3MzEyMg==;sn=101773122",
        "x-ms-date": "Tue, 06 Jan 2026 06:28:19 GMT"
      },
      "ResponseBody": {
        "etag": "76usGRa-JD1z3KUew6CFsYbwXzmWh0cjtnvaoUcPdbc",
        "key": "key-1180838324",
        "label": "my_label",
        "content_type": null,
        "value": "my_value",
        "tags": {},
        "locked": false,
        "last_modified": "2026-01-06T06:28:19+00:00"
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv?$select=key%2Clocked&api-version=2023-11-01&key=key-1180838324",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTc3MzEyMg==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"lrOvh9Z472VdTAIOmVduJg4rdDemlqWnSsOPRhZ8inE\"",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTc3MzEyMg==;sn=101773122",
        "x-ms-date": "Tue, 06 Jan 2026 06:28:19 GMT"
      },
      "ResponseBody": {
        "etag": "lrOvh9Z472VdTAIOmVduJg4rdDemlqWnSsOPRhZ8inE",
        "items": [
          {
            "key": "key-1180838324",
            "locked": false
          }
        ]
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-1180838324?api-version=2023-11-01&label=my_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTc3MzEyMg==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"76usGRa-JD1z3KUew6CFsYbwXzmWh0cjtnvaoUcPdbc\"",
        "Last-Modified": "Tue, 06 Jan 2026 06:28:19 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTc3MzEyMw==;sn=101773123",
        "x-ms-date": "Tue, 06 Jan 2026 06:28:19 GMT"
      },
      "ResponseBody": {
        "etag": "76usGRa-JD1z3KUew6CFsYbwXzmWh0cjtnvaoUcPdbc",
        "key": "key-1180838324",
        "label": "my_label",
        "content_type": null,
        "value": "my_value",
        "tags": {},
        "locked": false,
        "last_modified": "2026-01-06T06:28:19+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t9c954b564de572f9-azconfig-net.azconfig.io;Id=MdvE;Secret=Kg==",
    "RandomSeed": "1506221899"
  }
}
