{
  "Entries": [
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/kv/GetBatchSettingIfChangedWithUnmodifiedPage?api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"jWhg3RQmnAalTE55rgGtwrh0B-HRJu5V2rOHtBswJAw\"",
        "Last-Modified": "Mon, 17 Nov 2025 09:06:19 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzU3ODA0NDA1;sn=57804405",
        "x-ms-date": "Tue, 18 Nov 2025 04:29:07 GMT"
      },
      "ResponseBody": {
        "etag": "jWhg3RQmnAalTE55rgGtwrh0B-HRJu5V2rOHtBswJAw",
        "key": "GetBatchSettingIfChangedWithUnmodifiedPage",
        "label": null,
        "content_type": null,
        "value": "key-573735078",
        "tags": {},
        "locked": false,
        "last_modified": "2025-11-17T09:06:19+00:00"
      }
    },
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/kv?api-version=2023-11-01&key=key-573735078",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Njo1IzU3ODA0NDA1",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"qMbsHiVvOvrPXTagXu1PQ4q5WVGeux4VPMCL-UhX5qc\"",
        "Link": "</kv?api-version=2023-11-01&key=key-573735078&after=a2V5LTU3MzczNTA3OAo5NA%3D%3D>; rel=\"next\"",
        "Sync-Token": "zAJw6V16=Njo1IzU3ODA0NDA1;sn=57804405",
        "x-ms-date": "Tue, 18 Nov 2025 04:29:07 GMT"
      },
      "ResponseBody": {
        "etag": "qMbsHiVvOvrPXTagXu1PQ4q5WVGeux4VPMCL-UhX5qc",
        "items": [
          {
            "etag": "xJTlDQQOoWqkCB-YHTxsRf96r5entNT5QORfmdUvIzA",
            "key": "key-573735078",
            "label": "0",
            "content_type": null,
            "value": "test_value",
            "tags": {},
            "locked": false,
            "last_modified": "2025-11-17T09:06:06+00:00"
          },
          {
            "etag": "pR2GQmgZ80mDWnuUQThpODgb6I1pVV5UdTNkapuPr2g",
            "key": "key-573735078",
            "label": "1",
            "content_ty[...]
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/kv?after=a2V5LTU3MzczNTA3OAo5NA%3D%3D&api-version=2023-11-01&key=key-573735078",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Njo1IzU3ODA0NDA1",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvse[...]
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/kv?api-version=2023-11-01&key=key-573735078",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "\"qMbsHiVvOvrPXTagXu1PQ4q5WVGeux4VPMCL-UhX5qc\"",
        "Sync-Token": "zAJw6V16=Njo1IzU3ODA0NDA1",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 304,
      "ResponseHeaders": {
        "Link": "</kv?api-version=2023-11-01&key=key-573735078&after=a2V5LTU3MzczNTA3OAo5NA%3D%3D>; rel=\"next\"",
        "Sync-Token": "zAJw6V16=Njo1IzU3ODA0NDA1;sn=57804405",
        "x-ms-date": "Tue, 18 Nov 2025 04:29:08 GMT"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/kv?after=a2V5LTU3MzczNTA3OAo5NA%3D%3D&api-version=2023-11-01&key=key-573735078",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "\"2qqFG86_DymJDeINRXDDOdOE9peO-byuUDojznGyECE\"",
        "Sync-Token": "zAJw6V16=Njo1IzU3ODA0NDA1",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 304,
      "ResponseHeaders": {
        "Sync-Token": "zAJw6V16=Njo1IzU3ODA0NDA1;sn=57804405",
        "x-ms-date": "Tue, 18 Nov 2025 04:29:08 GMT"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t8cdd9157ca7d1363-azconfig-net.azconfig.io;Id=wNKY;Secret=Kg==",
    "RandomSeed": "7863302"
  }
}
