{
  "Entries": [
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/kv/key-541123503?api-version=2023-11-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"1XA6SXI_1s2WcuD5dAj0ui6oCLoF1mRzjZ1hkK4Y-14\"",
        "Last-Modified": "Mon, 17 Nov 2025 16:50:31 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzU3NzY0MjQ1;sn=57764245",
        "x-ms-date": "Mon, 17 Nov 2025 16:50:31 GMT"
      },
      "ResponseBody": {
        "etag": "1XA6SXI_1s2WcuD5dAj0ui6oCLoF1mRzjZ1hkK4Y-14",
        "key": "key-541123503",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2025-11-17T16:50:31+00:00"
      }
    },
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/kv?api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Njo1IzU3NzY0MjQ1",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"_AHLsu3umVJpBHi6nF6qMyjAqHjkgyJZ59yZU28hlEg\"",
        "Link": "</kv?api-version=2023-11-01&after=a2V5LTExMzM4MzQ5ODAKODM%3D>; rel=\"next\"",
        "Sync-Token": "zAJw6V16=Njo1IzU3NzY0MjQ1;sn=57764245",
        "x-ms-date": "Mon, 17 Nov 2025 16:50:31 GMT"
      },
      "ResponseBody": {
        "etag": "_AHLsu3umVJpBHi6nF6qMyjAqHjkgyJZ59yZU28hlEg",
        "items": [
          {
            "etag": "LGi0fNvNmGKroo1qJurnZ7CamobkGmW6l5y7BTOsvWM",
            "key": ".appconfig.featureflag/key40c43ad9",
            "label": null,
            "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
            "value": "hello world",
            "tags": {},
            "locked": false,
            "last_modified": "2025-10-13T08:31:40+00:00"
          },
          {
            "etag": "pSWRfBLIdx3CTrO-zm9iMrXRvRFnoVDQhySA8jaMQW4",
            "key": ".appconfig.featureflag/key924d35f1",
            "label": null,
            "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
            "value": "{\"conditions\": {\"client_filters\": [{\"name\": \"Microsoft.Targeting\", \"parameters\": {\"name\": \"Microsoft.Targeting\", \"parameters\": {\"Audience\": {\"DefaultRolloutPercentage\": 50, \"Groups\": [], \"Users\": []}}}}]}, \"description\": \"\", \"enabled\": false, \"id\": \"key924d35f1\", \"display_name\": null}",
            "tags": {},
            "locked": false,
            "last_modified": "2025-10-13T08:31:38+00:00"
          },
          {
            "etag": "rvzA88RDLIOiguSsDfGwp_pcwX4VCGEjnZTjjg4-5t8",
            "key": ".appconfig.featureflag/keya73d37e3",
            "label": null,
            "content_type": "application/vnd.microsoft.appconfig.ff+json;charset=utf-8",
            "value": "{\"id\": \"keya73d37e3\", \"enabled\": true, \"conditions\": {\"client_filters\": []}, \"displ[...]
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/kv?after=a2V5LTExMzM4MzQ5ODAKODM%3D&api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Njo1IzU3NzY0MjQ1",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-[...]
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/kv?after=a2V5LTE1MjI4ODExNTMKOTQ%3D&api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Njo1IzU3NzY0MjQ1",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-[...]
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/kv?after=a2V5LTIwNDk5NzAyNjcKOTQ%3D&api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Njo1IzU3NzY0MjQ1",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-[...]
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/kv?after=a2V5LTIxMjc4MzgxNDYKOTQ%3D&api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Njo1IzU3NzY0MjQ1",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-[...]
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/kv?after=a2V5LTIxNDE1MTU2Cjk0&api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Njo1IzU3NzY0MjQ1",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
  [...]
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/kv?after=a2V5LTU3MzczNTA3OAo5Mw%3D%3D&api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Njo1IzU3NzY0MjQ1",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=ut[...]
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/kv?after=a2V5LTYyMDM3NDI2OQo5NA%3D%3D&api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Njo1IzU3NzY0MjQ1",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=ut[...]
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/kv?after=a2V5LWwxNzI3Nzg4ODUyCmtleS1sMTcyNzc4ODg1Ml85Mw%3D%3D&api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Njo1IzU3NzY0MjQ1",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfi[...]
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/kv?after=a2V5LWwxNzc2NDMzMjUKa2V5LWwxNzc2NDMzMjVfOTM%3D&api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Njo1IzU3NzY0MjQ1",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvse[...]
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/kv/key-541123503?api-version=2023-11-01&label=test_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Njo1IzU3NzY0MjQ1",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"1XA6SXI_1s2WcuD5dAj0ui6oCLoF1mRzjZ1hkK4Y-14\"",
        "Last-Modified": "Mon, 17 Nov 2025 16:50:31 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzU3NzY0MjQ2;sn=57764246",
        "x-ms-date": "Mon, 17 Nov 2025 16:50:33 GMT"
      },
      "ResponseBody": {
        "etag": "1XA6SXI_1s2WcuD5dAj0ui6oCLoF1mRzjZ1hkK4Y-14",
        "key": "key-541123503",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2025-11-17T16:50:31+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t8cdd9157ca7d1363-azconfig-net.azconfig.io;Id=wNKY;Secret=Kg==",
    "RandomSeed": "1842260366"
  }
}
