{
  "Entries": [
    {
      "RequestUri": "https://jsquire-08-azconfig-net.azconfig.io/kv/key-abc?label=abc\u0026api-version=1.0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "rAtZS5jYy5MYxM4VT\u002BT/MN4FLSW1Bmj5GOiFWNbW4fc="
      },
      "RequestBody": {
        "value": "abc setting",
        "content_type": null,
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022KC5OazAeeRJDWnl7BxKCYMAFnHx_Xp7M2qBVR8gedVI\u0022",
        "Last-Modified": "Fri, 08 Sep 2023 13:35:31 GMT",
        "Sync-Token": "zAJw6V16=NToxOSM1MzQ0OTMwMQ==;sn=53449301",
        "x-ms-resource-group": "jsquire-appconfig",
        "x-ms-subscription-id": "faa080af-c1d8-40ad-9cce-e1a450ca5b57",
        "x-ms-tenant-name": "jsquire-08-azconfig-net"
      },
      "ResponseBody": {
        "etag": "KC5OazAeeRJDWnl7BxKCYMAFnHx_Xp7M2qBVR8gedVI",
        "key": "key-abc",
        "label": "abc",
        "content_type": null,
        "value": "abc setting",
        "tags": {},
        "locked": false,
        "last_modified": "2023-09-08T13:35:31\u002B00:00"
      }
    },
    {
      "RequestUri": "https://jsquire-08-azconfig-net.azconfig.io/kv/label-xyz?label=xyz\u0026api-version=1.0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NToxOSM1MzQ0OTMwMQ==",
        "x-ms-content-sha256": "scA3BRUvZMHMdOfosREYMLRH6CkQbPCSKsePkUSvt1A="
      },
      "RequestBody": {
        "value": "xyz setting",
        "content_type": null,
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022CU6sduXLtjb-BIZTUPO1F-zQp-zJmVdfNqUSYGub1VI\u0022",
        "Last-Modified": "Fri, 08 Sep 2023 13:35:31 GMT",
        "Sync-Token": "zAJw6V16=NToxOSM1MzQ0OTMwMw==;sn=53449303",
        "x-ms-resource-group": "jsquire-appconfig",
        "x-ms-subscription-id": "faa080af-c1d8-40ad-9cce-e1a450ca5b57",
        "x-ms-tenant-name": "jsquire-08-azconfig-net"
      },
      "ResponseBody": {
        "etag": "CU6sduXLtjb-BIZTUPO1F-zQp-zJmVdfNqUSYGub1VI",
        "key": "label-xyz",
        "label": "xyz",
        "content_type": null,
        "value": "xyz setting",
        "tags": {},
        "locked": false,
        "last_modified": "2023-09-08T13:35:31\u002B00:00"
      }
    },
    {
      "RequestUri": "https://jsquire-08-azconfig-net.azconfig.io/kv?label=abc%2Cxyz\u0026api-version=1.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NToxOSM1MzQ0OTMwMw==",
        "x-ms-content-sha256": "47DEQpj8HBSa\u002B/TImW\u002B5JCeuQeRkm5NMpJWZG3hSuFU="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset\u002Bjson; charset=utf-8",
        "Sync-Token": "zAJw6V16=NToxOSM1MzQ0OTMwNA==;sn=53449304",
        "x-ms-resource-group": "jsquire-appconfig",
        "x-ms-subscription-id": "faa080af-c1d8-40ad-9cce-e1a450ca5b57",
        "x-ms-tenant-name": "jsquire-08-azconfig-net"
      },
      "ResponseBody": {
        "items": [
          {
            "etag": "KC5OazAeeRJDWnl7BxKCYMAFnHx_Xp7M2qBVR8gedVI",
            "key": "key-abc",
            "label": "abc",
            "content_type": null,
            "value": "abc setting",
            "tags": {},
            "locked": false,
            "last_modified": "2023-09-08T13:35:31\u002B00:00"
          },
          {
            "etag": "CU6sduXLtjb-BIZTUPO1F-zQp-zJmVdfNqUSYGub1VI",
            "key": "label-xyz",
            "label": "xyz",
            "content_type": null,
            "value": "xyz setting",
            "tags": {},
            "locked": false,
            "last_modified": "2023-09-08T13:35:31\u002B00:00"
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://jsquire-08-azconfig-net.azconfig.io/kv/label-xyz?label=xyz\u0026api-version=1.0",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NToxOSM1MzQ0OTMwNQ==",
        "x-ms-content-sha256": "47DEQpj8HBSa\u002B/TImW\u002B5JCeuQeRkm5NMpJWZG3hSuFU="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022CU6sduXLtjb-BIZTUPO1F-zQp-zJmVdfNqUSYGub1VI\u0022",
        "Last-Modified": "Fri, 08 Sep 2023 13:35:31 GMT",
        "Sync-Token": "zAJw6V16=NToxOSM1MzQ0OTMwNg==;sn=53449306",
        "x-ms-resource-group": "jsquire-appconfig",
        "x-ms-subscription-id": "faa080af-c1d8-40ad-9cce-e1a450ca5b57",
        "x-ms-tenant-name": "jsquire-08-azconfig-net"
      },
      "ResponseBody": {
        "etag": "CU6sduXLtjb-BIZTUPO1F-zQp-zJmVdfNqUSYGub1VI",
        "key": "label-xyz",
        "label": "xyz",
        "content_type": null,
        "value": "xyz setting",
        "tags": {},
        "locked": false,
        "last_modified": "2023-09-08T13:35:31\u002B00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://jsquire-08-azconfig-net.azconfig.io;Id=bAH8;Secret=Kg==",
    "RandomSeed": "198815782"
  }
}
