{
  "Entries": [
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/keyFields-253261124?api-version=2023-11-01&label=my_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "my_value",
        "content_type": "content-type",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"0lsXxhtK4ZjQYqpnzBzu5l2PH1IDQsE73ObKcJ5dcY8\"",
        "Last-Modified": "Fri, 23 Jan 2026 07:16:12 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU3NTg3Mg==;sn=103575872",
        "x-ms-date": "Fri, 23 Jan 2026 07:16:12 GMT"
      },
      "ResponseBody": {
        "etag": "0lsXxhtK4ZjQYqpnzBzu5l2PH1IDQsE73ObKcJ5dcY8",
        "key": "keyFields-253261124",
        "label": "my_label",
        "content_type": "content-type",
        "value": "my_value",
        "tags": {},
        "locked": false,
        "last_modified": "2026-01-23T07:16:12+00:00"
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv?api-version=2023-11-01&key=keyFields-253261124",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU3NTg3Mg==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"LyjnzYXRntVnJqT2Scrgc8B_BUo-4TeLwoE_9bvkRfc\"",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU3NTg3Mg==;sn=103575872",
        "x-ms-date": "Fri, 23 Jan 2026 07:16:13 GMT"
      },
      "ResponseBody": {
        "etag": "LyjnzYXRntVnJqT2Scrgc8B_BUo-4TeLwoE_9bvkRfc",
        "items": [
          {
            "etag": "0lsXxhtK4ZjQYqpnzBzu5l2PH1IDQsE73ObKcJ5dcY8",
            "key": "keyFields-253261124",
            "label": "my_label",
            "content_type": "content-type",
            "value": "my_value",
            "tags": {},
            "locked": false,
            "last_modified": "2026-01-23T07:16:12+00:00"
          }
        ]
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/keyFields-253261124?api-version=2023-11-01&label=my_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU3NTg3Mg==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"0lsXxhtK4ZjQYqpnzBzu5l2PH1IDQsE73ObKcJ5dcY8\"",
        "Last-Modified": "Fri, 23 Jan 2026 07:16:12 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU3NTg3Mw==;sn=103575873",
        "x-ms-date": "Fri, 23 Jan 2026 07:16:13 GMT"
      },
      "ResponseBody": {
        "etag": "0lsXxhtK4ZjQYqpnzBzu5l2PH1IDQsE73ObKcJ5dcY8",
        "key": "keyFields-253261124",
        "label": "my_label",
        "content_type": "content-type",
        "value": "my_value",
        "tags": {},
        "locked": false,
        "last_modified": "2026-01-23T07:16:12+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t9c954b564de572f9-azconfig-net.azconfig.io;Id=MdvE;Secret=Kg==",
    "RandomSeed": "1605386176"
  }
}
