{
  "Entries": [
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/kv/~%60%21%40%23%24%5E%26%28%29_%2B%3D%5B%5D%7B%7D%7C%3B%22%27%3C%3E.%2F--969533781?api-version=2023-11-01&label=label-~%60%21%40%23%24%5E%26%28%29_%2B%3D%5B%5D%7B%7D%7C%3B%22%27%3C%3E.%2F-",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "value-~`!@#$^&()_+=[]{}|;\"'<>./-",
        "content_type": null,
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"hhmUUdUUW2ZyZCUliKvI_e1YUGe6h3K3g56aHjKFDsc\"",
        "Last-Modified": "Mon, 17 Nov 2025 16:50:38 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzU3NzY0MjY3;sn=57764267",
        "x-ms-date": "Mon, 17 Nov 2025 16:50:38 GMT"
      },
      "ResponseBody": {
        "etag": "hhmUUdUUW2ZyZCUliKvI_e1YUGe6h3K3g56aHjKFDsc",
        "key": "~`!@#$^&()_+=[]{}|;\"'<>./--969533781",
        "label": "label-~`!@#$^&()_+=[]{}|;\"'<>./-",
        "content_type": null,
        "value": "value-~`!@#$^&()_+=[]{}|;\"'<>./-",
        "tags": {},
        "locked": false,
        "last_modified": "2025-11-17T16:50:38+00:00"
      }
    },
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/kv?api-version=2023-11-01&key=~%60%21%40%23%24%5E%26%28%29_%2B%3D%5B%5D%7B%7D%7C%3B%22%27%3C%3E.%2F--969533781",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Njo1IzU3NzY0MjY3",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"VnS4tDtBwJpZhPmHW30BoSnrr1cuMO99es2D2fLusa8\"",
        "Sync-Token": "zAJw6V16=Njo1IzU3NzY0MjY3;sn=57764267",
        "x-ms-date": "Mon, 17 Nov 2025 16:50:38 GMT"
      },
      "ResponseBody": {
        "etag": "VnS4tDtBwJpZhPmHW30BoSnrr1cuMO99es2D2fLusa8",
        "items": [
          {
            "etag": "hhmUUdUUW2ZyZCUliKvI_e1YUGe6h3K3g56aHjKFDsc",
            "key": "~`!@#$^&()_+=[]{}|;\"'<>./--969533781",
            "label": "label-~`!@#$^&()_+=[]{}|;\"'<>./-",
            "content_type": null,
            "value": "value-~`!@#$^&()_+=[]{}|;\"'<>./-",
            "tags": {},
            "locked": false,
            "last_modified": "2025-11-17T16:50:38+00:00"
          }
        ]
      }
    },
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/kv/~%60%21%40%23%24%5E%26%28%29_%2B%3D%5B%5D%7B%7D%7C%3B%22%27%3C%3E.%2F--969533781?api-version=2023-11-01&label=label-~%60%21%40%23%24%5E%26%28%29_%2B%3D%5B%5D%7B%7D%7C%3B%22%27%3C%3E.%2F-",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Njo1IzU3NzY0MjY3",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"hhmUUdUUW2ZyZCUliKvI_e1YUGe6h3K3g56aHjKFDsc\"",
        "Last-Modified": "Mon, 17 Nov 2025 16:50:38 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzU3NzY0MjY4;sn=57764268",
        "x-ms-date": "Mon, 17 Nov 2025 16:50:38 GMT"
      },
      "ResponseBody": {
        "etag": "hhmUUdUUW2ZyZCUliKvI_e1YUGe6h3K3g56aHjKFDsc",
        "key": "~`!@#$^&()_+=[]{}|;\"'<>./--969533781",
        "label": "label-~`!@#$^&()_+=[]{}|;\"'<>./-",
        "content_type": null,
        "value": "value-~`!@#$^&()_+=[]{}|;\"'<>./-",
        "tags": {},
        "locked": false,
        "last_modified": "2025-11-17T16:50:38+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t8cdd9157ca7d1363-azconfig-net.azconfig.io;Id=wNKY;Secret=Kg==",
    "RandomSeed": "1767687908"
  }
}
