{
  "Entries": [
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-abc?api-version=2023-11-01&label=abc",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "abc setting",
        "content_type": null,
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"WVQw5zi2v2jFFuwgh5Rnt1eSzvugWEWnwUMhjx_mBDo\"",
        "Last-Modified": "Mon, 26 Jan 2026 05:40:54 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzg1MTEwNA==;sn=103851104",
        "x-ms-date": "Mon, 26 Jan 2026 05:40:54 GMT"
      },
      "ResponseBody": {
        "etag": "WVQw5zi2v2jFFuwgh5Rnt1eSzvugWEWnwUMhjx_mBDo",
        "key": "key-abc",
        "label": "abc",
        "content_type": null,
        "value": "abc setting",
        "tags": {},
        "locked": false,
        "last_modified": "2026-01-26T05:40:54+00:00"
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/label-xyz?api-version=2023-11-01&label=xyz",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzg1MTEwNA==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "xyz setting",
        "content_type": null,
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"QtOTEnK5qKsgcr72YJ4vFXqknePPEGZbPoNl9Ja1bLc\"",
        "Last-Modified": "Mon, 26 Jan 2026 05:40:54 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzg1MTEwNg==;sn=103851106",
        "x-ms-date": "Mon, 26 Jan 2026 05:40:54 GMT"
      },
      "ResponseBody": {
        "etag": "QtOTEnK5qKsgcr72YJ4vFXqknePPEGZbPoNl9Ja1bLc",
        "key": "label-xyz",
        "label": "xyz",
        "content_type": null,
        "value": "xyz setting",
        "tags": {},
        "locked": false,
        "last_modified": "2026-01-26T05:40:54+00:00"
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv?api-version=2023-11-01&label=abc%2Cxyz",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzg1MTEwNg==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"nz4ITrM1iA6MKM28woz02-MkTJLC_L1eM7FaRmapHx4\"",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzg1MTEwNw==;sn=103851107",
        "x-ms-date": "Mon, 26 Jan 2026 05:40:55 GMT"
      },
      "ResponseBody": {
        "etag": "nz4ITrM1iA6MKM28woz02-MkTJLC_L1eM7FaRmapHx4",
        "items": [
          {
            "etag": "WVQw5zi2v2jFFuwgh5Rnt1eSzvugWEWnwUMhjx_mBDo",
            "key": "key-abc",
            "label": "abc",
            "content_type": null,
            "value": "abc setting",
            "tags": {},
            "locked": false,
            "last_modified": "2026-01-26T05:40:54+00:00"
          },
          {
            "etag": "QtOTEnK5qKsgcr72YJ4vFXqknePPEGZbPoNl9Ja1bLc",
            "key": "label-xyz",
            "label": "xyz",
            "content_type": null,
            "value": "xyz setting",
            "tags": {},
            "locked": false,
            "last_modified": "2026-01-26T05:40:54+00:00"
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/label-xyz?api-version=2023-11-01&label=xyz",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzg1MTEwOA==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"QtOTEnK5qKsgcr72YJ4vFXqknePPEGZbPoNl9Ja1bLc\"",
        "Last-Modified": "Mon, 26 Jan 2026 05:40:54 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzg1MTEwOQ==;sn=103851109",
        "x-ms-date": "Mon, 26 Jan 2026 05:40:55 GMT"
      },
      "ResponseBody": {
        "etag": "QtOTEnK5qKsgcr72YJ4vFXqknePPEGZbPoNl9Ja1bLc",
        "key": "label-xyz",
        "label": "xyz",
        "content_type": null,
        "value": "xyz setting",
        "tags": {},
        "locked": false,
        "last_modified": "2026-01-26T05:40:54+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t9c954b564de572f9-azconfig-net.azconfig.io;Id=MdvE;Secret=Kg==",
    "RandomSeed": "479866733"
  }
}
