{
  "Entries": [
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv/keyFields-73686846?api-version=2026-04-01&label=my_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "value": "my_value",
        "content_type": "content-type",
        "tags": {
          "my_tag": "my_tag_value"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"T0YOMy2gTKwuZO3AZidakbzcJh2Nsia5P1YCYPMzxFQ\"",
        "Last-Modified": "Wed, 10 Jun 2026 21:33:07 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDk0MzM0;sn=67094334",
        "x-ms-date": "Wed, 10 Jun 2026 21:33:07 GMT"
      },
      "ResponseBody": {
        "etag": "T0YOMy2gTKwuZO3AZidakbzcJh2Nsia5P1YCYPMzxFQ",
        "key": "keyFields-73686846",
        "label": "my_label",
        "content_type": "content-type",
        "value": "my_value",
        "description": null,
        "tags": {
          "my_tag": "my_tag_value"
        },
        "locked": false,
        "last_modified": "2026-06-10T21:33:07+00:00"
      }
    },
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv?$select=key%2Clabel%2Cvalue%2Ccontent_type%2Cetag%2Clast_modified%2Clocked%2Ctags&api-version=2026-04-01&key=keyFields-73686846",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDk0MzM0"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"y6fhpPdu6-8nX-P9IlzmcspJSo52PZqToSaSLMFOAj8\"",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDk0MzM0;sn=67094334",
        "x-ms-date": "Wed, 10 Jun 2026 21:33:07 GMT"
      },
      "ResponseBody": {
        "etag": "y6fhpPdu6-8nX-P9IlzmcspJSo52PZqToSaSLMFOAj8",
        "items": [
          {
            "etag": "T0YOMy2gTKwuZO3AZidakbzcJh2Nsia5P1YCYPMzxFQ",
            "key": "keyFields-73686846",
            "label": "my_label",
            "content_type": "content-type",
            "value": "my_value",
            "tags": {
              "my_tag": "my_tag_value"
            },
            "locked": false,
            "last_modified": "2026-06-10T21:33:07+00:00"
          }
        ]
      }
    },
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv/keyFields-73686846?api-version=2026-04-01&label=my_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDk0MzM0"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"T0YOMy2gTKwuZO3AZidakbzcJh2Nsia5P1YCYPMzxFQ\"",
        "Last-Modified": "Wed, 10 Jun 2026 21:33:07 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDk0MzM1;sn=67094335",
        "x-ms-date": "Wed, 10 Jun 2026 21:33:07 GMT"
      },
      "ResponseBody": {
        "etag": "T0YOMy2gTKwuZO3AZidakbzcJh2Nsia5P1YCYPMzxFQ",
        "key": "keyFields-73686846",
        "label": "my_label",
        "content_type": "content-type",
        "value": "my_value",
        "description": null,
        "tags": {
          "my_tag": "my_tag_value"
        },
        "locked": false,
        "last_modified": "2026-06-10T21:33:07+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_ENDPOINT_STRING": "https://mrm90847047-azconfig-net.azconfig.io",
    "RandomSeed": "1892691400"
  }
}
