{
  "Entries": [
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-abc?api-version=2023-11-01&label=abc",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "abc setting",
        "content_type": null,
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"rYF1fO6ml6aSqe1pAoeooRfvTykzoahQ9dXIptOPpmw\"",
        "Last-Modified": "Fri, 23 Jan 2026 07:16:12 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU3NTg2Ng==;sn=103575866",
        "x-ms-date": "Fri, 23 Jan 2026 07:16:12 GMT"
      },
      "ResponseBody": {
        "etag": "rYF1fO6ml6aSqe1pAoeooRfvTykzoahQ9dXIptOPpmw",
        "key": "key-abc",
        "label": "abc",
        "content_type": null,
        "value": "abc setting",
        "tags": {},
        "locked": false,
        "last_modified": "2026-01-23T07:16:12+00:00"
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/label-xyz?api-version=2023-11-01&label=xyz",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU3NTg2Ng==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "xyz setting",
        "content_type": null,
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"aKL_F6yekV3IoCmFImHEyKmyqLiYaunTZWe-28nFR_k\"",
        "Last-Modified": "Fri, 23 Jan 2026 07:16:12 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU3NTg2OA==;sn=103575868",
        "x-ms-date": "Fri, 23 Jan 2026 07:16:12 GMT"
      },
      "ResponseBody": {
        "etag": "aKL_F6yekV3IoCmFImHEyKmyqLiYaunTZWe-28nFR_k",
        "key": "label-xyz",
        "label": "xyz",
        "content_type": null,
        "value": "xyz setting",
        "tags": {},
        "locked": false,
        "last_modified": "2026-01-23T07:16:12+00:00"
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv?api-version=2023-11-01&label=abc%2Cxyz",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU3NTg2OA==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"87tO6g1ydgc1e8GWBQMSHUh00WdIUAGQj4B2lcxgUfg\"",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU3NTg2OQ==;sn=103575869",
        "x-ms-date": "Fri, 23 Jan 2026 07:16:12 GMT"
      },
      "ResponseBody": {
        "etag": "87tO6g1ydgc1e8GWBQMSHUh00WdIUAGQj4B2lcxgUfg",
        "items": [
          {
            "etag": "rYF1fO6ml6aSqe1pAoeooRfvTykzoahQ9dXIptOPpmw",
            "key": "key-abc",
            "label": "abc",
            "content_type": null,
            "value": "abc setting",
            "tags": {},
            "locked": false,
            "last_modified": "2026-01-23T07:16:12+00:00"
          },
          {
            "etag": "aKL_F6yekV3IoCmFImHEyKmyqLiYaunTZWe-28nFR_k",
            "key": "label-xyz",
            "label": "xyz",
            "content_type": null,
            "value": "xyz setting",
            "tags": {},
            "locked": false,
            "last_modified": "2026-01-23T07:16:12+00:00"
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/label-xyz?api-version=2023-11-01&label=xyz",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU3NTg3MA==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"aKL_F6yekV3IoCmFImHEyKmyqLiYaunTZWe-28nFR_k\"",
        "Last-Modified": "Fri, 23 Jan 2026 07:16:12 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU3NTg3MQ==;sn=103575871",
        "x-ms-date": "Fri, 23 Jan 2026 07:16:12 GMT"
      },
      "ResponseBody": {
        "etag": "aKL_F6yekV3IoCmFImHEyKmyqLiYaunTZWe-28nFR_k",
        "key": "label-xyz",
        "label": "xyz",
        "content_type": null,
        "value": "xyz setting",
        "tags": {},
        "locked": false,
        "last_modified": "2026-01-23T07:16:12+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t9c954b564de572f9-azconfig-net.azconfig.io;Id=MdvE;Secret=Kg==",
    "RandomSeed": "728008020"
  }
}
