{
  "Entries": [
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/kv/abcde-740686650?api-version=2023-11-01&label=abcde",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "Starts with abc",
        "content_type": null,
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"7Gxw2w5TLMUi9PXwTNeG2nOEdCPHNp6heTtcBWRZmFo\"",
        "Last-Modified": "Mon, 17 Nov 2025 16:55:57 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzU3NzY0NzE0;sn=57764714",
        "x-ms-date": "Mon, 17 Nov 2025 16:55:57 GMT"
      },
      "ResponseBody": {
        "etag": "7Gxw2w5TLMUi9PXwTNeG2nOEdCPHNp6heTtcBWRZmFo",
        "key": "abcde-740686650",
        "label": "abcde",
        "content_type": null,
        "value": "Starts with abc",
        "tags": {},
        "locked": false,
        "last_modified": "2025-11-17T16:55:57+00:00"
      }
    },
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/kv?api-version=2023-11-01&key=abc%2A",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Njo1IzU3NzY0NzE0",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"e6JPj7BYcJ4ilD5s5q6qrfLjDjcpFfB_O2P4j4Fk6Fk\"",
        "Sync-Token": "zAJw6V16=Njo1IzU3NzY0NzE0;sn=57764714",
        "x-ms-date": "Mon, 17 Nov 2025 16:55:57 GMT"
      },
      "ResponseBody": {
        "etag": "e6JPj7BYcJ4ilD5s5q6qrfLjDjcpFfB_O2P4j4Fk6Fk",
        "items": [
          {
            "etag": "7Gxw2w5TLMUi9PXwTNeG2nOEdCPHNp6heTtcBWRZmFo",
            "key": "abcde-740686650",
            "label": "abcde",
            "content_type": null,
            "value": "Starts with abc",
            "tags": {},
            "locked": false,
            "last_modified": "2025-11-17T16:55:57+00:00"
          }
        ]
      }
    },
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/kv/abcde-740686650?api-version=2023-11-01&label=abcde",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Njo1IzU3NzY0NzE0",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"7Gxw2w5TLMUi9PXwTNeG2nOEdCPHNp6heTtcBWRZmFo\"",
        "Last-Modified": "Mon, 17 Nov 2025 16:55:57 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzU3NzY0NzE1;sn=57764715",
        "x-ms-date": "Mon, 17 Nov 2025 16:55:57 GMT"
      },
      "ResponseBody": {
        "etag": "7Gxw2w5TLMUi9PXwTNeG2nOEdCPHNp6heTtcBWRZmFo",
        "key": "abcde-740686650",
        "label": "abcde",
        "content_type": null,
        "value": "Starts with abc",
        "tags": {},
        "locked": false,
        "last_modified": "2025-11-17T16:55:57+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t8cdd9157ca7d1363-azconfig-net.azconfig.io;Id=wNKY;Secret=Kg==",
    "RandomSeed": "1535349620"
  }
}
