{
  "Entries": [
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv/ab%2Ccd?api-version=2026-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "value": "comma in key",
        "content_type": null,
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"2YxjMCm92Qz1MK6o6bR17pkAu21dzzBls7BGmK064BU\"",
        "Last-Modified": "Wed, 10 Jun 2026 21:32:55 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDk0MzA4;sn=67094308",
        "x-ms-date": "Wed, 10 Jun 2026 21:32:55 GMT"
      },
      "ResponseBody": {
        "etag": "2YxjMCm92Qz1MK6o6bR17pkAu21dzzBls7BGmK064BU",
        "key": "ab,cd",
        "label": null,
        "content_type": null,
        "value": "comma in key",
        "description": null,
        "tags": {},
        "locked": false,
        "last_modified": "2026-06-10T21:32:55+00:00"
      }
    },
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv/wx%2Cyz?api-version=2026-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDk0MzA4"
      },
      "RequestBody": {
        "value": "comma in key",
        "content_type": null,
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"vvlBOxrU4Ui5LAEKKgvLwHXkqPviiW8iNXryBLbOK3w\"",
        "Last-Modified": "Wed, 10 Jun 2026 21:32:55 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDk0MzEw;sn=67094310",
        "x-ms-date": "Wed, 10 Jun 2026 21:32:55 GMT"
      },
      "ResponseBody": {
        "etag": "vvlBOxrU4Ui5LAEKKgvLwHXkqPviiW8iNXryBLbOK3w",
        "key": "wx,yz",
        "label": null,
        "content_type": null,
        "value": "comma in key",
        "description": null,
        "tags": {},
        "locked": false,
        "last_modified": "2026-06-10T21:32:55+00:00"
      }
    },
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv?api-version=2026-04-01&key=ab%5C%2Ccd%2Cwx%5C%2Cyz",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDk0MzEw"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"mKqD9M2eMVNVkd28TU8NCjUxd07ma_rEXNyQsiQTU88\"",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDk0MzEx;sn=67094311",
        "x-ms-date": "Wed, 10 Jun 2026 21:32:55 GMT"
      },
      "ResponseBody": {
        "etag": "mKqD9M2eMVNVkd28TU8NCjUxd07ma_rEXNyQsiQTU88",
        "items": [
          {
            "etag": "2YxjMCm92Qz1MK6o6bR17pkAu21dzzBls7BGmK064BU",
            "key": "ab,cd",
            "label": null,
            "content_type": null,
            "value": "comma in key",
            "description": null,
            "tags": {},
            "locked": false,
            "last_modified": "2026-06-10T21:32:55+00:00"
          },
          {
            "etag": "vvlBOxrU4Ui5LAEKKgvLwHXkqPviiW8iNXryBLbOK3w",
            "key": "wx,yz",
            "label": null,
            "content_type": null,
            "value": "comma in key",
            "description": null,
            "tags": {},
            "locked": false,
            "last_modified": "2026-06-10T21:32:55+00:00"
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv/wx%2Cyz?api-version=2026-04-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDk0MzEy"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"vvlBOxrU4Ui5LAEKKgvLwHXkqPviiW8iNXryBLbOK3w\"",
        "Last-Modified": "Wed, 10 Jun 2026 21:32:55 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDk0MzEz;sn=67094313",
        "x-ms-date": "Wed, 10 Jun 2026 21:32:55 GMT"
      },
      "ResponseBody": {
        "etag": "vvlBOxrU4Ui5LAEKKgvLwHXkqPviiW8iNXryBLbOK3w",
        "key": "wx,yz",
        "label": null,
        "content_type": null,
        "value": "comma in key",
        "description": null,
        "tags": {},
        "locked": false,
        "last_modified": "2026-06-10T21:32:55+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_ENDPOINT_STRING": "https://mrm90847047-azconfig-net.azconfig.io",
    "RandomSeed": "397810868"
  }
}
