{
  "Entries": [
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/kv/key-1334227354?api-version=2023-11-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"PrSd3cKih2nZwcyIsAAL2o7QrGeIuvIQPRX9vBGHhlQ\"",
        "Last-Modified": "Tue, 18 Nov 2025 04:22:41 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzU3ODAzOTQy;sn=57803942",
        "x-ms-date": "Tue, 18 Nov 2025 04:22:41 GMT"
      },
      "ResponseBody": {
        "etag": "PrSd3cKih2nZwcyIsAAL2o7QrGeIuvIQPRX9vBGHhlQ",
        "key": "key-1334227354",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2025-11-18T04:22:41+00:00"
      }
    },
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/kv?api-version=2023-11-01&key=key-1334227354&label=test_label",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Njo1IzU3ODAzOTQy",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"PQKg8IVsraSySlULqmVLsXkoPj920alkIgu8v8KMboM\"",
        "Sync-Token": "zAJw6V16=Njo1IzU3ODAzOTQy;sn=57803942",
        "x-ms-date": "Tue, 18 Nov 2025 04:22:41 GMT"
      },
      "ResponseBody": {
        "etag": "PQKg8IVsraSySlULqmVLsXkoPj920alkIgu8v8KMboM",
        "items": [
          {
            "etag": "PrSd3cKih2nZwcyIsAAL2o7QrGeIuvIQPRX9vBGHhlQ",
            "key": "key-1334227354",
            "label": "test_label",
            "content_type": "test_content_type",
            "value": "test_value",
            "tags": {
              "tag1": "value1",
              "tag2": "value2"
            },
            "locked": false,
            "last_modified": "2025-11-18T04:22:41+00:00"
          }
        ]
      }
    },
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/kv/key-1334227354?api-version=2023-11-01&label=test_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Njo1IzU3ODAzOTQy",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"PrSd3cKih2nZwcyIsAAL2o7QrGeIuvIQPRX9vBGHhlQ\"",
        "Last-Modified": "Tue, 18 Nov 2025 04:22:41 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzU3ODAzOTQz;sn=57803943",
        "x-ms-date": "Tue, 18 Nov 2025 04:22:41 GMT"
      },
      "ResponseBody": {
        "etag": "PrSd3cKih2nZwcyIsAAL2o7QrGeIuvIQPRX9vBGHhlQ",
        "key": "key-1334227354",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2025-11-18T04:22:41+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t8cdd9157ca7d1363-azconfig-net.azconfig.io;Id=wNKY;Secret=Kg==",
    "RandomSeed": "1195327083"
  }
}
