{
  "Entries": [
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/abcd?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "foobar",
        "content_type": null,
        "tags": {
          "my_tag": "my_tag_value"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"CdnbL5KdTpLc7gwqTz0AietlAaLCQN3ceXEfkan-cdM\"",
        "Last-Modified": "Thu, 22 Jan 2026 02:01:47 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzQ3NDQ2Ng==;sn=103474466",
        "x-ms-date": "Thu, 22 Jan 2026 02:01:47 GMT"
      },
      "ResponseBody": {
        "etag": "CdnbL5KdTpLc7gwqTz0AietlAaLCQN3ceXEfkan-cdM",
        "key": "abcd",
        "label": null,
        "content_type": null,
        "value": "foobar",
        "tags": {
          "my_tag": "my_tag_value"
        },
        "locked": false,
        "last_modified": "2026-01-22T02:01:47+00:00"
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/wxyz?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzQ3NDQ2Ng==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "barfoo",
        "content_type": null,
        "tags": {
          "my_tag": "my_tag_value"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"73ZfmuT9iU4BxLovCKyqCA8sT9VWN8aFheUDF0lzKgo\"",
        "Last-Modified": "Thu, 22 Jan 2026 02:01:47 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzQ3NDQ2OA==;sn=103474468",
        "x-ms-date": "Thu, 22 Jan 2026 02:01:47 GMT"
      },
      "ResponseBody": {
        "etag": "73ZfmuT9iU4BxLovCKyqCA8sT9VWN8aFheUDF0lzKgo",
        "key": "wxyz",
        "label": null,
        "content_type": null,
        "value": "barfoo",
        "tags": {
          "my_tag": "my_tag_value"
        },
        "locked": false,
        "last_modified": "2026-01-22T02:01:47+00:00"
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv?api-version=2023-11-01&tags=my_tag%3Dmy_tag_value",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzQ3NDQ2OA==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"jZDmOxGAIdQLP3zF3Q7Y0Z03RlbU4oYU6tfAlDps-yw\"",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzQ3NDQ2OQ==;sn=103474469",
        "x-ms-date": "Thu, 22 Jan 2026 02:01:47 GMT"
      },
      "ResponseBody": {
        "etag": "jZDmOxGAIdQLP3zF3Q7Y0Z03RlbU4oYU6tfAlDps-yw",
        "items": [
          {
            "etag": "CdnbL5KdTpLc7gwqTz0AietlAaLCQN3ceXEfkan-cdM",
            "key": "abcd",
            "label": null,
            "content_type": null,
            "value": "foobar",
            "tags": {
              "my_tag": "my_tag_value"
            },
            "locked": false,
            "last_modified": "2026-01-22T02:01:47+00:00"
          },
          {
            "etag": "73ZfmuT9iU4BxLovCKyqCA8sT9VWN8aFheUDF0lzKgo",
            "key": "wxyz",
            "label": null,
            "content_type": null,
            "value": "barfoo",
            "tags": {
              "my_tag": "my_tag_value"
            },
            "locked": false,
            "last_modified": "2026-01-22T02:01:47+00:00"
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/wxyz?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzQ3NDQ3MA==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"73ZfmuT9iU4BxLovCKyqCA8sT9VWN8aFheUDF0lzKgo\"",
        "Last-Modified": "Thu, 22 Jan 2026 02:01:47 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzQ3NDQ3MQ==;sn=103474471",
        "x-ms-date": "Thu, 22 Jan 2026 02:01:47 GMT"
      },
      "ResponseBody": {
        "etag": "73ZfmuT9iU4BxLovCKyqCA8sT9VWN8aFheUDF0lzKgo",
        "key": "wxyz",
        "label": null,
        "content_type": null,
        "value": "barfoo",
        "tags": {
          "my_tag": "my_tag_value"
        },
        "locked": false,
        "last_modified": "2026-01-22T02:01:47+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t9c954b564de572f9-azconfig-net.azconfig.io;Id=MdvE;Secret=Kg==",
    "RandomSeed": "938401020"
  }
}
