{
  "Entries": [
    {
      "RequestUri": "https://tdfcae3cf5eab7143-azconfig-net.azconfig.io/kv/keyFields-874139719?api-version=2023-11-01&label=my_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "my_value",
        "content_type": "content-type",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"5Ts6cVZ0HdCID4iEFhWdv9Ymu92Fl4P6GPnEUF1fCVI\"",
        "Last-Modified": "Thu, 12 Jun 2025 16:19:39 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzQyMjIwOTc4;sn=42220978"
      },
      "ResponseBody": {
        "etag": "5Ts6cVZ0HdCID4iEFhWdv9Ymu92Fl4P6GPnEUF1fCVI",
        "key": "keyFields-874139719",
        "label": "my_label",
        "content_type": "content-type",
        "value": "my_value",
        "tags": {},
        "locked": false,
        "last_modified": "2025-06-12T16:19:39+00:00"
      }
    },
    {
      "RequestUri": "https://tdfcae3cf5eab7143-azconfig-net.azconfig.io/kv?api-version=2023-11-01&key=keyFields-874139719",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Mzo1IzQyMjIwOTc4",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"E4ZLc3msyGjJrIy_xShBJiSDKpHdoSsGmirELlaD9EY\"",
        "Sync-Token": "zAJw6V16=Mzo1IzQyMjIwOTc4;sn=42220978"
      },
      "ResponseBody": {
        "etag": "E4ZLc3msyGjJrIy_xShBJiSDKpHdoSsGmirELlaD9EY",
        "items": [
          {
            "etag": "5Ts6cVZ0HdCID4iEFhWdv9Ymu92Fl4P6GPnEUF1fCVI",
            "key": "keyFields-874139719",
            "label": "my_label",
            "content_type": "content-type",
            "value": "my_value",
            "tags": {},
            "locked": false,
            "last_modified": "2025-06-12T16:19:39+00:00"
          }
        ]
      }
    },
    {
      "RequestUri": "https://tdfcae3cf5eab7143-azconfig-net.azconfig.io/kv/keyFields-874139719?api-version=2023-11-01&label=my_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Mzo1IzQyMjIwOTc4",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"5Ts6cVZ0HdCID4iEFhWdv9Ymu92Fl4P6GPnEUF1fCVI\"",
        "Last-Modified": "Thu, 12 Jun 2025 16:19:39 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzQyMjIwOTc5;sn=42220979"
      },
      "ResponseBody": {
        "etag": "5Ts6cVZ0HdCID4iEFhWdv9Ymu92Fl4P6GPnEUF1fCVI",
        "key": "keyFields-874139719",
        "label": "my_label",
        "content_type": "content-type",
        "value": "my_value",
        "tags": {},
        "locked": false,
        "last_modified": "2025-06-12T16:19:39+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://tdfcae3cf5eab7143-azconfig-net.azconfig.io;Id=GAEe;Secret=Kg==",
    "RandomSeed": "298244592"
  }
}
