{
  "Entries": [
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv/key-760944657?api-version=2023-11-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"cQ4FE0rI4u1J90-vG972YAiBZUV25R9EoVPyrzo8pgI\"",
        "Last-Modified": "Tue, 09 Jun 2026 22:54:23 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY2OTk0OTQz;sn=66994943",
        "x-ms-date": "Tue, 09 Jun 2026 22:54:23 GMT"
      },
      "ResponseBody": {
        "etag": "cQ4FE0rI4u1J90-vG972YAiBZUV25R9EoVPyrzo8pgI",
        "key": "key-760944657",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-06-09T22:54:23+00:00"
      }
    },
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv?api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Mzo1IzY2OTk0OTQz"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"kKfca07mKaMNCFaiKf5B-CrxW8LlcUw7bFITihkdc4c\"",
        "Link": "</kv?api-version=2023-11-01&after=a2V5LTI5NDkzMjg2MAo5MQ%3D%3D>; rel=\"next\"",
        "Sync-Token": "zAJw6V16=Mzo1IzY2OTk0OTQz;sn=66994943",
        "x-ms-date": "Tue, 09 Jun 2026 22:54:23 GMT"
      },
      "ResponseBody": {
        "etag": "kKfca07mKaMNCFaiKf5B-CrxW8LlcUw7bFITihkdc4c",
        "items": [
          {
            "etag": "-wIHc_v7b04LP316XM6wkEJGnHZEXvYUjE4GkRfMZEA",
            "key": "CheckBatchSettingIfChangedWithModifiedPageSync",
            "label": null,
            "content_type": null,
            "value": "key-294932860",
            "tags": {},
            "locked": false,
            "last_modified": "2026-06-09T22:51:13+00:00"
          },
          {
            "etag": "LM_EIs68z0w2FFJZc_2mX1ICYoCOMuCva3cCeU6TsHc",
            "key": "CheckBatchSettingIfChangedWi[...]
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv?after=a2V5LTI5NDkzMjg2MAo5MQ%3D%3D&api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Mzo1IzY2OTk0OTQz"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"vaF0aeW2wZyz6iSF_sNiyfqx5[...]
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv?after=a2V5LTcwNzE2ODAzNAo5NA%3D%3D&api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Mzo1IzY2OTk0OTQz"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"87h1PV_z745ucBSK2uwmuX5h2[...]
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv?after=a2V5LTgyMDY5MzIwMgo5Mw%3D%3D&api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Mzo1IzY2OTk0OTQz"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"cXQlJkLp3d63oB64ZFA9iljUd[...]
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv/key-760944657?api-version=2023-11-01&label=test_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Mzo1IzY2OTk0OTQz"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"cQ4FE0rI4u1J90-vG972YAiBZUV25R9EoVPyrzo8pgI\"",
        "Last-Modified": "Tue, 09 Jun 2026 22:54:23 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY2OTk0OTQ0;sn=66994944",
        "x-ms-date": "Tue, 09 Jun 2026 22:54:24 GMT"
      },
      "ResponseBody": {
        "etag": "cQ4FE0rI4u1J90-vG972YAiBZUV25R9EoVPyrzo8pgI",
        "key": "key-760944657",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-06-09T22:54:23+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_ENDPOINT_STRING": "https://mrm90847047-azconfig-net.azconfig.io",
    "RandomSeed": "917933321"
  }
}
