{
  "Entries": [
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/kv/abc?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "abc setting",
        "content_type": null,
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"KKSn8ApOfzPdrvucjM7SZ7P5FrpG8MQrDBBmCV9zuH8\"",
        "Last-Modified": "Mon, 17 Nov 2025 16:55:58 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzU3NzY0NzIy;sn=57764722",
        "x-ms-date": "Mon, 17 Nov 2025 16:55:58 GMT"
      },
      "ResponseBody": {
        "etag": "KKSn8ApOfzPdrvucjM7SZ7P5FrpG8MQrDBBmCV9zuH8",
        "key": "abc",
        "label": null,
        "content_type": null,
        "value": "abc setting",
        "tags": {},
        "locked": false,
        "last_modified": "2025-11-17T16:55:58+00:00"
      }
    },
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/kv/xyz?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=Njo1IzU3NzY0NzIy",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "xyz setting",
        "content_type": null,
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"06KKSJDQzKOtzQCK7orYZuPDPBjfdpl44vuNHteB9lM\"",
        "Last-Modified": "Mon, 17 Nov 2025 16:55:58 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzU3NzY0NzI0;sn=57764724",
        "x-ms-date": "Mon, 17 Nov 2025 16:55:58 GMT"
      },
      "ResponseBody": {
        "etag": "06KKSJDQzKOtzQCK7orYZuPDPBjfdpl44vuNHteB9lM",
        "key": "xyz",
        "label": null,
        "content_type": null,
        "value": "xyz setting",
        "tags": {},
        "locked": false,
        "last_modified": "2025-11-17T16:55:58+00:00"
      }
    },
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/kv?api-version=2023-11-01&key=abc%5C%2Cxyz",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Njo1IzU3NzY0NzI0",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"00wWELzclWef22f82qcUDI7FbJweVOoKWZDA_JoUeD0\"",
        "Sync-Token": "zAJw6V16=Njo1IzU3NzY0NzI1;sn=57764725",
        "x-ms-date": "Mon, 17 Nov 2025 16:55:58 GMT"
      },
      "ResponseBody": {
        "etag": "00wWELzclWef22f82qcUDI7FbJweVOoKWZDA_JoUeD0",
        "items": []
      }
    },
[...]
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/kv/xyz?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Njo1IzU3NzY0NzI2",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"06KKSJDQzKOtzQCK7orYZuPDPBjfdpl44vuNHteB9lM\"",
        "Last-Modified": "Mon, 17 Nov 2025 16:55:58 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzU3NzY0NzI3;sn=57764727",
        "x-ms-date": "Mon, 17 Nov 2025 16:55:59 GMT"
      },
      "ResponseBody": {
        "etag": "06KKSJDQzKOtzQCK7orYZuPDPBjfdpl44vuNHteB9lM",
        "key": "xyz",
        "label": null,
        "content_type": null,
        "value": "xyz setting",
        "tags": {},
        "locked": false,
        "last_modified": "2025-11-17T16:55:58+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t8cdd9157ca7d1363-azconfig-net.azconfig.io;Id=wNKY;Secret=Kg==",
    "RandomSeed": "1564709363"
  }
}
