{
  "Entries": [
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/abcd?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "foobar",
        "content_type": null,
        "tags": {
          "my_tag": "my_tag_value"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"CsmOj8fYUbe7_uiErt9BVPk6uryS0tfOY39KAgz5wo0\"",
        "Last-Modified": "Mon, 26 Jan 2026 05:39:50 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzg1MDYxMQ==;sn=103850611",
        "x-ms-date": "Mon, 26 Jan 2026 05:39:50 GMT"
      },
      "ResponseBody": {
        "etag": "CsmOj8fYUbe7_uiErt9BVPk6uryS0tfOY39KAgz5wo0",
        "key": "abcd",
        "label": null,
        "content_type": null,
        "value": "foobar",
        "tags": {
          "my_tag": "my_tag_value"
        },
        "locked": false,
        "last_modified": "2026-01-26T05:39:50+00:00"
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/wxyz?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzg1MDYxMQ==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "barfoo",
        "content_type": null,
        "tags": {
          "my_tag": "my_tag_value"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"9F2y3HvAQJSqC7AvcEYdbOwW28MRxj5DHMZWIEBQzNc\"",
        "Last-Modified": "Mon, 26 Jan 2026 05:39:51 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzg1MDYxMw==;sn=103850613",
        "x-ms-date": "Mon, 26 Jan 2026 05:39:51 GMT"
      },
      "ResponseBody": {
        "etag": "9F2y3HvAQJSqC7AvcEYdbOwW28MRxj5DHMZWIEBQzNc",
        "key": "wxyz",
        "label": null,
        "content_type": null,
        "value": "barfoo",
        "tags": {
          "my_tag": "my_tag_value"
        },
        "locked": false,
        "last_modified": "2026-01-26T05:39:51+00:00"
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv?api-version=2023-11-01&tags=my_tag%3Dmy_tag_value",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzg1MDYxMw==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"HGZRU3wTTF3Wy5t3sPTW8NJFKhc7BFpuXNXzGpGMBSI\"",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzg1MDYxNA==;sn=103850614",
        "x-ms-date": "Mon, 26 Jan 2026 05:39:51 GMT"
      },
      "ResponseBody": {
        "etag": "HGZRU3wTTF3Wy5t3sPTW8NJFKhc7BFpuXNXzGpGMBSI",
        "items": [
          {
            "etag": "CsmOj8fYUbe7_uiErt9BVPk6uryS0tfOY39KAgz5wo0",
            "key": "abcd",
            "label": null,
            "content_type": null,
            "value": "foobar",
            "tags": {
              "my_tag": "my_tag_value"
            },
            "locked": false,
            "last_modified": "2026-01-26T05:39:50+00:00"
          },
          {
            "etag": "9F2y3HvAQJSqC7AvcEYdbOwW28MRxj5DHMZWIEBQzNc",
            "key": "wxyz",
            "label": null,
            "content_type": null,
            "value": "barfoo",
            "tags": {
              "my_tag": "my_tag_value"
            },
            "locked": false,
            "last_modified": "2026-01-26T05:39:51+00:00"
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/wxyz?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzg1MDYxNQ==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"9F2y3HvAQJSqC7AvcEYdbOwW28MRxj5DHMZWIEBQzNc\"",
        "Last-Modified": "Mon, 26 Jan 2026 05:39:51 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzg1MDYxNg==;sn=103850616",
        "x-ms-date": "Mon, 26 Jan 2026 05:39:51 GMT"
      },
      "ResponseBody": {
        "etag": "9F2y3HvAQJSqC7AvcEYdbOwW28MRxj5DHMZWIEBQzNc",
        "key": "wxyz",
        "label": null,
        "content_type": null,
        "value": "barfoo",
        "tags": {
          "my_tag": "my_tag_value"
        },
        "locked": false,
        "last_modified": "2026-01-26T05:39:51+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t9c954b564de572f9-azconfig-net.azconfig.io;Id=MdvE;Secret=Kg==",
    "RandomSeed": "1160012702"
  }
}
