{
  "Entries": [
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv/key-1556415226?api-version=2023-11-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"SbxS4p5QqPOtV2_lM9eGiHt2uYzGbQhroelYDaxe-Q0\"",
        "Last-Modified": "Tue, 09 Jun 2026 22:54:55 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY2OTk1Mjc5;sn=66995279",
        "x-ms-date": "Tue, 09 Jun 2026 22:54:55 GMT"
      },
      "ResponseBody": {
        "etag": "SbxS4p5QqPOtV2_lM9eGiHt2uYzGbQhroelYDaxe-Q0",
        "key": "key-1556415226",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-06-09T22:54:55+00:00"
      }
    },
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv?api-version=2023-11-01&label=test_label",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Mzo1IzY2OTk1Mjc5"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"N3AuIXoxouVX9e23HECyoyQKymlkNqG7V4LDlzOkFUs\"",
        "Sync-Token": "zAJw6V16=Mzo1IzY2OTk1Mjc5;sn=66995279",
        "x-ms-date": "Tue, 09 Jun 2026 22:54:56 GMT"
      },
      "ResponseBody": {
        "etag": "N3AuIXoxouVX9e23HECyoyQKymlkNqG7V4LDlzOkFUs",
        "items": [
          {
            "etag": "SbxS4p5QqPOtV2_lM9eGiHt2uYzGbQhroelYDaxe-Q0",
            "key": "key-1556415226",
            "label": "test_label",
            "content_type": "test_content_type",
            "value": "test_value",
            "tags": {
              "tag1": "value1",
              "tag2": "value2"
            },
            "locked": false,
            "last_modified": "2026-06-09T22:54:55+00:00"
          }
        ]
      }
    },
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv/key-1556415226?api-version=2023-11-01&label=test_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Mzo1IzY2OTk1Mjc5"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"SbxS4p5QqPOtV2_lM9eGiHt2uYzGbQhroelYDaxe-Q0\"",
        "Last-Modified": "Tue, 09 Jun 2026 22:54:55 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY2OTk1Mjgw;sn=66995280",
        "x-ms-date": "Tue, 09 Jun 2026 22:54:56 GMT"
      },
      "ResponseBody": {
        "etag": "SbxS4p5QqPOtV2_lM9eGiHt2uYzGbQhroelYDaxe-Q0",
        "key": "key-1556415226",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-06-09T22:54:55+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_ENDPOINT_STRING": "https://mrm90847047-azconfig-net.azconfig.io",
    "RandomSeed": "817771820"
  }
}
