{
  "Entries": [
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/keyFields-1984914489?api-version=2023-11-01&label=my_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "my_value",
        "content_type": "content-type",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"_MMLUsk-aSzaB66ezbjzOxuNOIygFZweHODNJptzdGQ\"",
        "Last-Modified": "Mon, 01 Dec 2025 08:41:55 GMT",
        "Sync-Token": "zAJw6V16=NTo1Izk4Nzc2NzEz;sn=98776713",
        "x-ms-date": "Mon, 01 Dec 2025 08:41:55 GMT"
      },
      "ResponseBody": {
        "etag": "_MMLUsk-aSzaB66ezbjzOxuNOIygFZweHODNJptzdGQ",
        "key": "keyFields-1984914489",
        "label": "my_label",
        "content_type": "content-type",
        "value": "my_value",
        "tags": {},
        "locked": false,
        "last_modified": "2025-12-01T08:41:55+00:00"
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv?api-version=2023-11-01&key=keyFields-1984914489",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1Izk4Nzc2NzEz",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"GjGk3ZOdeKWPbdEi-TRds05VqEAiD9B4FsqwcwKDQE4\"",
        "Sync-Token": "zAJw6V16=NTo1Izk4Nzc2NzEz;sn=98776713",
        "x-ms-date": "Mon, 01 Dec 2025 08:41:55 GMT"
      },
      "ResponseBody": {
        "etag": "GjGk3ZOdeKWPbdEi-TRds05VqEAiD9B4FsqwcwKDQE4",
        "items": [
          {
            "etag": "_MMLUsk-aSzaB66ezbjzOxuNOIygFZweHODNJptzdGQ",
            "key": "keyFields-1984914489",
            "label": "my_label",
            "content_type": "content-type",
            "value": "my_value",
            "tags": {},
            "locked": false,
            "last_modified": "2025-12-01T08:41:55+00:00"
          }
        ]
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/keyFields-1984914489?api-version=2023-11-01&label=my_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1Izk4Nzc2NzEz",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"_MMLUsk-aSzaB66ezbjzOxuNOIygFZweHODNJptzdGQ\"",
        "Last-Modified": "Mon, 01 Dec 2025 08:41:55 GMT",
        "Sync-Token": "zAJw6V16=NTo1Izk4Nzc2NzE1;sn=98776715",
        "x-ms-date": "Mon, 01 Dec 2025 08:41:56 GMT"
      },
      "ResponseBody": {
        "etag": "_MMLUsk-aSzaB66ezbjzOxuNOIygFZweHODNJptzdGQ",
        "key": "keyFields-1984914489",
        "label": "my_label",
        "content_type": "content-type",
        "value": "my_value",
        "tags": {},
        "locked": false,
        "last_modified": "2025-12-01T08:41:55+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t9c954b564de572f9-azconfig-net.azconfig.io;Id=MdvE;Secret=Kg==",
    "RandomSeed": "1681875419"
  }
}
