{
  "Entries": [
    {
      "RequestUri": "https://tdfcae3cf5eab7143-azconfig-net.azconfig.io/kv/key-1786738508?api-version=2023-11-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"uQK7Ij4yluXxx7QBBSXQrQ0S-Q5E1weaSv8PMJUw2P4\"",
        "Last-Modified": "Wed, 11 Jun 2025 17:24:15 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzQyMTUwODE0;sn=42150814"
      },
      "ResponseBody": {
        "etag": "uQK7Ij4yluXxx7QBBSXQrQ0S-Q5E1weaSv8PMJUw2P4",
        "key": "key-1786738508",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2025-06-11T17:24:15+00:00"
      }
    },
    {
      "RequestUri": "https://tdfcae3cf5eab7143-azconfig-net.azconfig.io/kv?api-version=2023-11-01&label=test_label",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Mzo1IzQyMTUwODE0",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"tz9KRCk2OkDh3ZBqcsP-Fu2C8NhOKKGjnZOSXdfpG4k\"",
        "Sync-Token": "zAJw6V16=Mzo1IzQyMTUwODE0;sn=42150814"
      },
      "ResponseBody": {
        "etag": "tz9KRCk2OkDh3ZBqcsP-Fu2C8NhOKKGjnZOSXdfpG4k",
        "items": [
          {
            "etag": "uQK7Ij4yluXxx7QBBSXQrQ0S-Q5E1weaSv8PMJUw2P4",
            "key": "key-1786738508",
            "label": "test_label",
            "content_type": "test_content_type",
            "value": "test_value",
            "tags": {
              "tag1": "value1",
              "tag2": "value2"
            },
            "locked": false,
            "last_modified": "2025-06-11T17:24:15+00:00"
          }
        ]
      }
    },
    {
      "RequestUri": "https://tdfcae3cf5eab7143-azconfig-net.azconfig.io/kv/key-1786738508?api-version=2023-11-01&label=test_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Mzo1IzQyMTUwODE0",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"uQK7Ij4yluXxx7QBBSXQrQ0S-Q5E1weaSv8PMJUw2P4\"",
        "Last-Modified": "Wed, 11 Jun 2025 17:24:15 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzQyMTUwODE1;sn=42150815"
      },
      "ResponseBody": {
        "etag": "uQK7Ij4yluXxx7QBBSXQrQ0S-Q5E1weaSv8PMJUw2P4",
        "key": "key-1786738508",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2025-06-11T17:24:15+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://tdfcae3cf5eab7143-azconfig-net.azconfig.io;Id=GAEe;Secret=Kg==",
    "RandomSeed": "1059573476"
  }
}
