{
  "Entries": [
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/keyFields-1975422009?api-version=2023-11-01&label=my_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "my_value",
        "content_type": null,
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"g4ke4ZxNifQ2UF90hkQP5EJM15G7RZxoBOvIS8Byf60\"",
        "Last-Modified": "Tue, 06 Jan 2026 01:25:42 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTc2NzU0NQ==;sn=101767545",
        "x-ms-date": "Tue, 06 Jan 2026 01:25:42 GMT"
      },
      "ResponseBody": {
        "etag": "g4ke4ZxNifQ2UF90hkQP5EJM15G7RZxoBOvIS8Byf60",
        "key": "keyFields-1975422009",
        "label": "my_label",
        "content_type": null,
        "value": "my_value",
        "tags": {},
        "locked": false,
        "last_modified": "2026-01-06T01:25:42+00:00"
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv?$select=key%2Clabel%2Cetag&api-version=2023-11-01&key=keyFields-1975422009",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTc2NzU0NQ==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"_Y3beKKluae1nq4RNzj0HUK38whbqfD7jLmbw-IQpOA\"",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTc2NzU0NQ==;sn=101767545",
        "x-ms-date": "Tue, 06 Jan 2026 01:25:42 GMT"
      },
      "ResponseBody": {
        "etag": "_Y3beKKluae1nq4RNzj0HUK38whbqfD7jLmbw-IQpOA",
        "items": [
          {
            "etag": "g4ke4ZxNifQ2UF90hkQP5EJM15G7RZxoBOvIS8Byf60",
            "key": "keyFields-1975422009",
            "label": "my_label"
          }
        ]
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/keyFields-1975422009?api-version=2023-11-01&label=my_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTc2NzU0NQ==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"g4ke4ZxNifQ2UF90hkQP5EJM15G7RZxoBOvIS8Byf60\"",
        "Last-Modified": "Tue, 06 Jan 2026 01:25:42 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTc2NzU0Ng==;sn=101767546",
        "x-ms-date": "Tue, 06 Jan 2026 01:25:42 GMT"
      },
      "ResponseBody": {
        "etag": "g4ke4ZxNifQ2UF90hkQP5EJM15G7RZxoBOvIS8Byf60",
        "key": "keyFields-1975422009",
        "label": "my_label",
        "content_type": null,
        "value": "my_value",
        "tags": {},
        "locked": false,
        "last_modified": "2026-01-06T01:25:42+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t9c954b564de572f9-azconfig-net.azconfig.io;Id=MdvE;Secret=Kg==",
    "RandomSeed": "1701147345"
  }
}
