{
  "Entries": [
    {
      "RequestUri": "https://tdfcae3cf5eab7143-azconfig-net.azconfig.io/kv/abcde-1842998509?api-version=2023-11-01&label=abcde",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "Starts with abc",
        "content_type": null,
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"psXfVfCYoLRttsjD_KvIaZGvDrh19EPFK2pRTPJxT1E\"",
        "Last-Modified": "Thu, 12 Jun 2025 16:19:37 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzQyMjIwOTUy;sn=42220952"
      },
      "ResponseBody": {
        "etag": "psXfVfCYoLRttsjD_KvIaZGvDrh19EPFK2pRTPJxT1E",
        "key": "abcde-1842998509",
        "label": "abcde",
        "content_type": null,
        "value": "Starts with abc",
        "tags": {},
        "locked": false,
        "last_modified": "2025-06-12T16:19:37+00:00"
      }
    },
    {
      "RequestUri": "https://tdfcae3cf5eab7143-azconfig-net.azconfig.io/kv?api-version=2023-11-01&key=abc%2A",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Mzo1IzQyMjIwOTUy",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"5fZ-zfKfYPevb2EuK1K00FzHhvJNOj90iJYCDDLkGxI\"",
        "Sync-Token": "zAJw6V16=Mzo1IzQyMjIwOTUy;sn=42220952"
      },
      "ResponseBody": {
        "etag": "5fZ-zfKfYPevb2EuK1K00FzHhvJNOj90iJYCDDLkGxI",
        "items": [
          {
            "etag": "psXfVfCYoLRttsjD_KvIaZGvDrh19EPFK2pRTPJxT1E",
            "key": "abcde-1842998509",
            "label": "abcde",
            "content_type": null,
            "value": "Starts with abc",
            "tags": {},
            "locked": false,
            "last_modified": "2025-06-12T16:19:37+00:00"
          }
        ]
      }
    },
    {
      "RequestUri": "https://tdfcae3cf5eab7143-azconfig-net.azconfig.io/kv/abcde-1842998509?api-version=2023-11-01&label=abcde",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Mzo1IzQyMjIwOTUy",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"psXfVfCYoLRttsjD_KvIaZGvDrh19EPFK2pRTPJxT1E\"",
        "Last-Modified": "Thu, 12 Jun 2025 16:19:37 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzQyMjIwOTUz;sn=42220953"
      },
      "ResponseBody": {
        "etag": "psXfVfCYoLRttsjD_KvIaZGvDrh19EPFK2pRTPJxT1E",
        "key": "abcde-1842998509",
        "label": "abcde",
        "content_type": null,
        "value": "Starts with abc",
        "tags": {},
        "locked": false,
        "last_modified": "2025-06-12T16:19:37+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://tdfcae3cf5eab7143-azconfig-net.azconfig.io;Id=GAEe;Secret=Kg==",
    "RandomSeed": "1837200620"
  }
}
