{
  "Entries": [
    {
      "RequestUri": "https://azure-sdk-for-net-test.azconfig.io/kv/abc?api-version=2026-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "abc setting",
        "content_type": null,
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"RrYrBRuYmw63gjT-NRJeTHrFdaTfAzmUhBMhQwx6JZY\"",
        "Last-Modified": "Thu, 28 May 2026 00:01:36 GMT",
        "Sync-Token": "zAJw6V16=NToxNyM0ODA0MjM1Ng==;sn=48042356",
        "x-ms-date": "Thu, 28 May 2026 00:01:36 GMT"
      },
      "ResponseBody": {
        "etag": "RrYrBRuYmw63gjT-NRJeTHrFdaTfAzmUhBMhQwx6JZY",
        "key": "abc",
        "label": null,
        "content_type": null,
        "value": "abc setting",
        "description": null,
        "tags": {},
        "locked": false,
        "last_modified": "2026-05-28T00:01:36+00:00"
      }
    },
    {
      "RequestUri": "https://azure-sdk-for-net-test.azconfig.io/kv/xyz?api-version=2026-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NToxNyM0ODA0MjM1Ng==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "xyz setting",
        "content_type": null,
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"lA3GLpHM34at9g4dOgdf4L5fcYCciNal4OmGQaMcGmU\"",
        "Last-Modified": "Thu, 28 May 2026 00:01:36 GMT",
        "Sync-Token": "zAJw6V16=NToxNyM0ODA0MjM1OA==;sn=48042358",
        "x-ms-date": "Thu, 28 May 2026 00:01:36 GMT"
      },
      "ResponseBody": {
        "etag": "lA3GLpHM34at9g4dOgdf4L5fcYCciNal4OmGQaMcGmU",
        "key": "xyz",
        "label": null,
        "content_type": null,
        "value": "xyz setting",
        "description": null,
        "tags": {},
        "locked": false,
        "last_modified": "2026-05-28T00:01:36+00:00"
      }
    },
    {
      "RequestUri": "https://azure-sdk-for-net-test.azconfig.io/kv?api-version=2026-04-01&key=abc%2Cxyz",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NToxNyM0ODA0MjM1OA==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"yt-4nh8YjJVUXR1x_LCaqmMCjVIPrkye9zQ5jiX1vgU\"",
        "Sync-Token": "zAJw6V16=NToxNyM0ODA0MjM1OQ==;sn=48042359",
        "x-ms-date": "Thu, 28 May 2026 00:01:36 GMT"
      },
      "ResponseBody": {
        "etag": "yt-4nh8YjJVUXR1x_LCaqmMCjVIPrkye9zQ5jiX1vgU",
        "items": [
          {
            "etag": "RrYrBRuYmw63gjT-NRJeTHrFdaTfAzmUhBMhQwx6JZY",
            "key": "abc",
            "label": null,
            "content_type": null,
            "value": "abc setting",
            "description": null,
            "tags": {},
            "locked": false,
            "last_modified": "2026-05-28T00:01:36+00:00"
          },
          {
            "etag": "lA3GLpHM34at9g4dOgdf4L5fcYCciNal4OmGQaMcGmU",
            "key": "xyz",
            "label": null,
            "content_type": null,
            "value": "xyz setting",
            "description": null,
            "tags": {},
            "locked": false,
            "last_modified": "2026-05-28T00:01:36+00:00"
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://azure-sdk-for-net-test.azconfig.io/kv/xyz?api-version=2026-04-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NToxNyM0ODA0MjM2MA==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"lA3GLpHM34at9g4dOgdf4L5fcYCciNal4OmGQaMcGmU\"",
        "Last-Modified": "Thu, 28 May 2026 00:01:36 GMT",
        "Sync-Token": "zAJw6V16=NToxNyM0ODA0MjM2MQ==;sn=48042361",
        "x-ms-date": "Thu, 28 May 2026 00:01:36 GMT"
      },
      "ResponseBody": {
        "etag": "lA3GLpHM34at9g4dOgdf4L5fcYCciNal4OmGQaMcGmU",
        "key": "xyz",
        "label": null,
        "content_type": null,
        "value": "xyz setting",
        "description": null,
        "tags": {},
        "locked": false,
        "last_modified": "2026-05-28T00:01:36+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://azure-sdk-for-net-test.azconfig.io;Id=8ePU;Secret=Kg==",
    "RandomSeed": "1651937946"
  }
}
