{
  "Entries": [
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/abc?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "abc setting",
        "content_type": null,
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"_C_S3JcHUlSSLp1pnFxoswaG8EV9sXJ2ySRLQ17RFsI\"",
        "Last-Modified": "Tue, 23 Dec 2025 05:43:04 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTA0OTM3Mg==;sn=101049372",
        "x-ms-date": "Tue, 23 Dec 2025 05:43:04 GMT"
      },
      "ResponseBody": {
        "etag": "_C_S3JcHUlSSLp1pnFxoswaG8EV9sXJ2ySRLQ17RFsI",
        "key": "abc",
        "label": null,
        "content_type": null,
        "value": "abc setting",
        "tags": {},
        "locked": false,
        "last_modified": "2025-12-23T05:43:04+00:00"
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/xyz?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTA0OTM3Mg==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "xyz setting",
        "content_type": null,
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"DcoRgN53Rf8RfVgXeolupVl7B08C037s_iuD-hNk_q0\"",
        "Last-Modified": "Tue, 23 Dec 2025 05:43:04 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTA0OTM3NA==;sn=101049374",
        "x-ms-date": "Tue, 23 Dec 2025 05:43:04 GMT"
      },
      "ResponseBody": {
        "etag": "DcoRgN53Rf8RfVgXeolupVl7B08C037s_iuD-hNk_q0",
        "key": "xyz",
        "label": null,
        "content_type": null,
        "value": "xyz setting",
        "tags": {},
        "locked": false,
        "last_modified": "2025-12-23T05:43:04+00:00"
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv?api-version=2023-11-01&key=abc%2Cxyz",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTA0OTM3NA==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"82BPf_MaB_kC2drkgDZJBBoduyv7mlrlgjVs0erdo44\"",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTA0OTM3NQ==;sn=101049375",
        "x-ms-date": "Tue, 23 Dec 2025 05:43:05 GMT"
      },
      "ResponseBody": {
        "etag": "82BPf_MaB_kC2drkgDZJBBoduyv7mlrlgjVs0erdo44",
        "items": [
          {
            "etag": "_C_S3JcHUlSSLp1pnFxoswaG8EV9sXJ2ySRLQ17RFsI",
            "key": "abc",
            "label": null,
            "content_type": null,
            "value": "abc setting",
            "tags": {},
            "locked": false,
            "last_modified": "2025-12-23T05:43:04+00:00"
          },
          {
            "etag": "DcoRgN53Rf8RfVgXeolupVl7B08C037s_iuD-hNk_q0",
            "key": "xyz",
            "label": null,
            "content_type": null,
            "value": "xyz setting",
            "tags": {},
            "locked": false,
            "last_modified": "2025-12-23T05:43:04+00:00"
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/xyz?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTA0OTM3Ng==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"DcoRgN53Rf8RfVgXeolupVl7B08C037s_iuD-hNk_q0\"",
        "Last-Modified": "Tue, 23 Dec 2025 05:43:04 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTA0OTM3Nw==;sn=101049377",
        "x-ms-date": "Tue, 23 Dec 2025 05:43:05 GMT"
      },
      "ResponseBody": {
        "etag": "DcoRgN53Rf8RfVgXeolupVl7B08C037s_iuD-hNk_q0",
        "key": "xyz",
        "label": null,
        "content_type": null,
        "value": "xyz setting",
        "tags": {},
        "locked": false,
        "last_modified": "2025-12-23T05:43:04+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t9c954b564de572f9-azconfig-net.azconfig.io;Id=MdvE;Secret=Kg==",
    "RandomSeed": "653860649"
  }
}
