{
  "Entries": [
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/kv/key-426580373?api-version=2023-11-01&label=my_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "my_value",
        "content_type": null,
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"cr1i_9Mu9vkPLhaUge2ESu5w50BkKi1YHhqLL6AGeyI\"",
        "Last-Modified": "Thu, 09 Oct 2025 16:33:13 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzU1NTMyNzc2;sn=55532776",
        "x-ms-date": "Thu, 09 Oct 2025 16:33:13 GMT"
      },
      "ResponseBody": {
        "etag": "cr1i_9Mu9vkPLhaUge2ESu5w50BkKi1YHhqLL6AGeyI",
        "key": "key-426580373",
        "label": "my_label",
        "content_type": null,
        "value": "my_value",
        "tags": {},
        "locked": false,
        "last_modified": "2025-10-09T16:33:13+00:00"
      }
    },
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/kv?$select=key%2Clocked&api-version=2023-11-01&key=key-426580373",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Njo1IzU1NTMyNzc2",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"idlFjnh4BIW3C8QJ4XvAjWuzZaNATSxNNaYj2supIgY\"",
        "Sync-Token": "zAJw6V16=Njo1IzU1NTMyNzc2;sn=55532776",
        "x-ms-date": "Thu, 09 Oct 2025 16:33:13 GMT"
      },
      "ResponseBody": {
        "etag": "idlFjnh4BIW3C8QJ4XvAjWuzZaNATSxNNaYj2supIgY",
        "items": [
          {
            "key": "key-426580373",
            "locked": false
          }
        ]
      }
    },
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/kv/key-426580373?api-version=2023-11-01&label=my_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Njo1IzU1NTMyNzc2",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"cr1i_9Mu9vkPLhaUge2ESu5w50BkKi1YHhqLL6AGeyI\"",
        "Last-Modified": "Thu, 09 Oct 2025 16:33:13 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzU1NTMyNzc3;sn=55532777",
        "x-ms-date": "Thu, 09 Oct 2025 16:33:13 GMT"
      },
      "ResponseBody": {
        "etag": "cr1i_9Mu9vkPLhaUge2ESu5w50BkKi1YHhqLL6AGeyI",
        "key": "key-426580373",
        "label": "my_label",
        "content_type": null,
        "value": "my_value",
        "tags": {},
        "locked": false,
        "last_modified": "2025-10-09T16:33:13+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t8cdd9157ca7d1363-azconfig-net.azconfig.io;Id=wNKY;Secret=Kg==",
    "RandomSeed": "2106603728"
  }
}
