{
  "Entries": [
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv/abcd?api-version=2026-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "value": "foobar",
        "content_type": null,
        "tags": {
          "my_tag": "my_tag_value"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"Bb5HKwJnetiAjcTr2KqDdTX3ArOYv1xXqhOnd5rywUM\"",
        "Last-Modified": "Wed, 10 Jun 2026 18:25:34 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDY1MjI1;sn=67065225",
        "x-ms-date": "Wed, 10 Jun 2026 18:25:34 GMT"
      },
      "ResponseBody": {
        "etag": "Bb5HKwJnetiAjcTr2KqDdTX3ArOYv1xXqhOnd5rywUM",
        "key": "abcd",
        "label": null,
        "content_type": null,
        "value": "foobar",
        "description": null,
        "tags": {
          "my_tag": "my_tag_value"
        },
        "locked": false,
        "last_modified": "2026-06-10T18:25:34+00:00"
      }
    },
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv/wxyz?api-version=2026-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDY1MjI1"
      },
      "RequestBody": {
        "value": "barfoo",
        "content_type": null,
        "tags": {
          "my_tag": "my_tag_value"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"1Avs0mvNhVjr5doziV2WDXRl5EcGGvOUK0UEVN1W-pM\"",
        "Last-Modified": "Wed, 10 Jun 2026 18:25:34 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDY1MjI3;sn=67065227",
        "x-ms-date": "Wed, 10 Jun 2026 18:25:34 GMT"
      },
      "ResponseBody": {
        "etag": "1Avs0mvNhVjr5doziV2WDXRl5EcGGvOUK0UEVN1W-pM",
        "key": "wxyz",
        "label": null,
        "content_type": null,
        "value": "barfoo",
        "description": null,
        "tags": {
          "my_tag": "my_tag_value"
        },
        "locked": false,
        "last_modified": "2026-06-10T18:25:34+00:00"
      }
    },
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv?api-version=2026-04-01&tags=my_tag%3Dmy_tag_value",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDY1MjI3"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"NlU-w59lRaNtFIehlV8NnC3WvtavFLt1RT45dVeaawE\"",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDY1MjI4;sn=67065228",
        "x-ms-date": "Wed, 10 Jun 2026 18:25:34 GMT"
      },
      "ResponseBody": {
        "etag": "NlU-w59lRaNtFIehlV8NnC3WvtavFLt1RT45dVeaawE",
        "items": [
          {
            "etag": "Bb5HKwJnetiAjcTr2KqDdTX3ArOYv1xXqhOnd5rywUM",
            "key": "abcd",
            "label": null,
            "content_type": null,
            "value": "foobar",
            "description": null,
            "tags": {
              "my_tag": "my_tag_value"
            },
            "locked": false,
            "last_modified": "2026-06-10T18:25:34+00:00"
          },
          {
            "etag": "1Avs0mvNhVjr5doziV2WDXRl5EcGGvOUK0UEVN1W-pM",
            "key": "wxyz",
            "label": null,
            "content_type": null,
            "value": "barfoo",
            "description": null,
            "tags": {
              "my_tag": "my_tag_value"
            },
            "locked": false,
            "last_modified": "2026-06-10T18:25:34+00:00"
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv/wxyz?api-version=2026-04-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDY1MjI5"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"1Avs0mvNhVjr5doziV2WDXRl5EcGGvOUK0UEVN1W-pM\"",
        "Last-Modified": "Wed, 10 Jun 2026 18:25:34 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDY1MjMw;sn=67065230",
        "x-ms-date": "Wed, 10 Jun 2026 18:25:34 GMT"
      },
      "ResponseBody": {
        "etag": "1Avs0mvNhVjr5doziV2WDXRl5EcGGvOUK0UEVN1W-pM",
        "key": "wxyz",
        "label": null,
        "content_type": null,
        "value": "barfoo",
        "description": null,
        "tags": {
          "my_tag": "my_tag_value"
        },
        "locked": false,
        "last_modified": "2026-06-10T18:25:34+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_ENDPOINT_STRING": "https://mrm90847047-azconfig-net.azconfig.io",
    "RandomSeed": "1412964799"
  }
}
