{
  "Entries": [
    {
      "RequestUri": "https://azure-sdk-for-net-test.azconfig.io/kv/key-2052253072?api-version=2026-04-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "description": "test_description"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"abQjZR2qb2BP4STyj5LckdcbaWCdPfg8ZH87lzp4eEY\"",
        "Last-Modified": "Thu, 28 May 2026 00:01:36 GMT",
        "Sync-Token": "zAJw6V16=NToxNyM0ODA0MjM3Mg==;sn=48042372",
        "x-ms-date": "Thu, 28 May 2026 00:01:36 GMT"
      },
      "ResponseBody": {
        "etag": "abQjZR2qb2BP4STyj5LckdcbaWCdPfg8ZH87lzp4eEY",
        "key": "key-2052253072",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "description": "test_description",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-05-28T00:01:36+00:00"
      }
    },
    {
      "RequestUri": "https://azure-sdk-for-net-test.azconfig.io/kv?$select=key%2Cdescription&api-version=2026-04-01&key=key-2052253072",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NToxNyM0ODA0MjM3Mg==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"FBhDxaP6qgCAVNMLcDYc46DBiOYFMP8pioIDwH49Auo\"",
        "Sync-Token": "zAJw6V16=NToxNyM0ODA0MjM3Mg==;sn=48042372",
        "x-ms-date": "Thu, 28 May 2026 00:01:36 GMT"
      },
      "ResponseBody": {
        "etag": "FBhDxaP6qgCAVNMLcDYc46DBiOYFMP8pioIDwH49Auo",
        "items": [
          {
            "key": "key-2052253072",
            "description": "test_description"
          }
        ]
      }
    },
    {
      "RequestUri": "https://azure-sdk-for-net-test.azconfig.io/kv/key-2052253072?api-version=2026-04-01&label=test_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NToxNyM0ODA0MjM3Mg==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"abQjZR2qb2BP4STyj5LckdcbaWCdPfg8ZH87lzp4eEY\"",
        "Last-Modified": "Thu, 28 May 2026 00:01:36 GMT",
        "Sync-Token": "zAJw6V16=NToxNyM0ODA0MjM3Mw==;sn=48042373",
        "x-ms-date": "Thu, 28 May 2026 00:01:36 GMT"
      },
      "ResponseBody": {
        "etag": "abQjZR2qb2BP4STyj5LckdcbaWCdPfg8ZH87lzp4eEY",
        "key": "key-2052253072",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "description": "test_description",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-05-28T00:01:36+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://azure-sdk-for-net-test.azconfig.io;Id=8ePU;Secret=Kg==",
    "RandomSeed": "1748003524"
  }
}
