{
  "Entries": [
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv/abcde-888297935?api-version=2026-04-01&label=abcde",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "value": "Starts with abc",
        "content_type": null,
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"Cb76scZjMs-0q-3LVKvcytHo9-Z4_gTXWPbluPn_ZCI\"",
        "Last-Modified": "Wed, 10 Jun 2026 21:32:53 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDk0MzA2;sn=67094306",
        "x-ms-date": "Wed, 10 Jun 2026 21:32:53 GMT"
      },
      "ResponseBody": {
        "etag": "Cb76scZjMs-0q-3LVKvcytHo9-Z4_gTXWPbluPn_ZCI",
        "key": "abcde-888297935",
        "label": "abcde",
        "content_type": null,
        "value": "Starts with abc",
        "description": null,
        "tags": {},
        "locked": false,
        "last_modified": "2026-06-10T21:32:53+00:00"
      }
    },
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv?api-version=2026-04-01&key=abc%2A",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDk0MzA2"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"MVIkOsldj0SxEC72cDgNLEF_s3jbRFVDFopCc9RD-KY\"",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDk0MzA2;sn=67094306",
        "x-ms-date": "Wed, 10 Jun 2026 21:32:53 GMT"
      },
      "ResponseBody": {
        "etag": "MVIkOsldj0SxEC72cDgNLEF_s3jbRFVDFopCc9RD-KY",
        "items": [
          {
            "etag": "Cb76scZjMs-0q-3LVKvcytHo9-Z4_gTXWPbluPn_ZCI",
            "key": "abcde-888297935",
            "label": "abcde",
            "content_type": null,
            "value": "Starts with abc",
            "description": null,
            "tags": {},
            "locked": false,
            "last_modified": "2026-06-10T21:32:53+00:00"
          }
        ]
      }
    },
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv/abcde-888297935?api-version=2026-04-01&label=abcde",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDk0MzA2"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"Cb76scZjMs-0q-3LVKvcytHo9-Z4_gTXWPbluPn_ZCI\"",
        "Last-Modified": "Wed, 10 Jun 2026 21:32:53 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDk0MzA3;sn=67094307",
        "x-ms-date": "Wed, 10 Jun 2026 21:32:53 GMT"
      },
      "ResponseBody": {
        "etag": "Cb76scZjMs-0q-3LVKvcytHo9-Z4_gTXWPbluPn_ZCI",
        "key": "abcde-888297935",
        "label": "abcde",
        "content_type": null,
        "value": "Starts with abc",
        "description": null,
        "tags": {},
        "locked": false,
        "last_modified": "2026-06-10T21:32:53+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_ENDPOINT_STRING": "https://mrm90847047-azconfig-net.azconfig.io",
    "RandomSeed": "708686757"
  }
}
