{
  "Entries": [
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/keyFields-2146229799?api-version=2023-11-01&label=my_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "my_value",
        "content_type": null,
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"JBERfOmW-oS_oao5KNag2DiSJtcEiuVdlMYWhTOzQSQ\"",
        "Last-Modified": "Tue, 23 Dec 2025 05:43:06 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTA0OTM4OA==;sn=101049388",
        "x-ms-date": "Tue, 23 Dec 2025 05:43:06 GMT"
      },
      "ResponseBody": {
        "etag": "JBERfOmW-oS_oao5KNag2DiSJtcEiuVdlMYWhTOzQSQ",
        "key": "keyFields-2146229799",
        "label": "my_label",
        "content_type": null,
        "value": "my_value",
        "tags": {},
        "locked": false,
        "last_modified": "2025-12-23T05:43:06+00:00"
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv?$select=key%2Clabel%2Cetag&api-version=2023-11-01&key=keyFields-2146229799",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTA0OTM4OA==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"bG1tzZVxJFTLcbcVj2fIH6KroydU7leKu3RWPLEeGys\"",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTA0OTM4OA==;sn=101049388",
        "x-ms-date": "Tue, 23 Dec 2025 05:43:07 GMT"
      },
      "ResponseBody": {
        "etag": "bG1tzZVxJFTLcbcVj2fIH6KroydU7leKu3RWPLEeGys",
        "items": [
          {
            "etag": "JBERfOmW-oS_oao5KNag2DiSJtcEiuVdlMYWhTOzQSQ",
            "key": "keyFields-2146229799",
            "label": "my_label"
          }
        ]
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/keyFields-2146229799?api-version=2023-11-01&label=my_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTA0OTM4OA==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"JBERfOmW-oS_oao5KNag2DiSJtcEiuVdlMYWhTOzQSQ\"",
        "Last-Modified": "Tue, 23 Dec 2025 05:43:06 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTA0OTM4OQ==;sn=101049389",
        "x-ms-date": "Tue, 23 Dec 2025 05:43:07 GMT"
      },
      "ResponseBody": {
        "etag": "JBERfOmW-oS_oao5KNag2DiSJtcEiuVdlMYWhTOzQSQ",
        "key": "keyFields-2146229799",
        "label": "my_label",
        "content_type": null,
        "value": "my_value",
        "tags": {},
        "locked": false,
        "last_modified": "2025-12-23T05:43:06+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t9c954b564de572f9-azconfig-net.azconfig.io;Id=MdvE;Secret=Kg==",
    "RandomSeed": "2127490985"
  }
}
