{
  "Entries": [
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-abc?api-version=2023-11-01&label=abc",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "abc setting",
        "content_type": null,
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"T-yUPsTGDs6bVuFaw69mDJZD0HCRASbUNtjwn5y1BJk\"",
        "Last-Modified": "Tue, 06 Jan 2026 01:18:15 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTc2NjA0Mw==;sn=101766043",
        "x-ms-date": "Tue, 06 Jan 2026 01:18:15 GMT"
      },
      "ResponseBody": {
        "etag": "T-yUPsTGDs6bVuFaw69mDJZD0HCRASbUNtjwn5y1BJk",
        "key": "key-abc",
        "label": "abc",
        "content_type": null,
        "value": "abc setting",
        "tags": {},
        "locked": false,
        "last_modified": "2026-01-06T01:18:15+00:00"
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/label-xyz?api-version=2023-11-01&label=xyz",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTc2NjA0Mw==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "xyz setting",
        "content_type": null,
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"dAXS06oitxNtfx7601XfB2Sox7BpS29Mk_X8aOdHw-c\"",
        "Last-Modified": "Tue, 06 Jan 2026 01:18:15 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTc2NjA0NQ==;sn=101766045",
        "x-ms-date": "Tue, 06 Jan 2026 01:18:15 GMT"
      },
      "ResponseBody": {
        "etag": "dAXS06oitxNtfx7601XfB2Sox7BpS29Mk_X8aOdHw-c",
        "key": "label-xyz",
        "label": "xyz",
        "content_type": null,
        "value": "xyz setting",
        "tags": {},
        "locked": false,
        "last_modified": "2026-01-06T01:18:15+00:00"
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv?api-version=2023-11-01&label=abc%2Cxyz",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTc2NjA0NQ==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"GeyiHGsxWkpFpnvkyxa-idVMmPW2NNJnuKO7iUPE2sU\"",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTc2NjA0Ng==;sn=101766046",
        "x-ms-date": "Tue, 06 Jan 2026 01:18:15 GMT"
      },
      "ResponseBody": {
        "etag": "GeyiHGsxWkpFpnvkyxa-idVMmPW2NNJnuKO7iUPE2sU",
        "items": [
          {
            "etag": "T-yUPsTGDs6bVuFaw69mDJZD0HCRASbUNtjwn5y1BJk",
            "key": "key-abc",
            "label": "abc",
            "content_type": null,
            "value": "abc setting",
            "tags": {},
            "locked": false,
            "last_modified": "2026-01-06T01:18:15+00:00"
          },
          {
            "etag": "dAXS06oitxNtfx7601XfB2Sox7BpS29Mk_X8aOdHw-c",
            "key": "label-xyz",
            "label": "xyz",
            "content_type": null,
            "value": "xyz setting",
            "tags": {},
            "locked": false,
            "last_modified": "2026-01-06T01:18:15+00:00"
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/label-xyz?api-version=2023-11-01&label=xyz",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTc2NjA0Nw==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"dAXS06oitxNtfx7601XfB2Sox7BpS29Mk_X8aOdHw-c\"",
        "Last-Modified": "Tue, 06 Jan 2026 01:18:15 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTc2NjA0OA==;sn=101766048",
        "x-ms-date": "Tue, 06 Jan 2026 01:18:15 GMT"
      },
      "ResponseBody": {
        "etag": "dAXS06oitxNtfx7601XfB2Sox7BpS29Mk_X8aOdHw-c",
        "key": "label-xyz",
        "label": "xyz",
        "content_type": null,
        "value": "xyz setting",
        "tags": {},
        "locked": false,
        "last_modified": "2026-01-06T01:18:15+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t9c954b564de572f9-azconfig-net.azconfig.io;Id=MdvE;Secret=Kg==",
    "RandomSeed": "307433868"
  }
}
