{
  "Entries": [
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv/key-1465333751?api-version=2026-04-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "description": "test_description"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"IVg5qG8o2l-sVfgDxH18ppsEJ-aghyprCiqO4tPt_wM\"",
        "Last-Modified": "Wed, 10 Jun 2026 18:34:25 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDY4MDI0;sn=67068024",
        "x-ms-date": "Wed, 10 Jun 2026 18:34:25 GMT"
      },
      "ResponseBody": {
        "etag": "IVg5qG8o2l-sVfgDxH18ppsEJ-aghyprCiqO4tPt_wM",
        "key": "key-1465333751",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "description": "test_description",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-06-10T18:34:25+00:00"
      }
    },
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv?api-version=2026-04-01&key=key-1465333751",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDY4MDI0"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"e7Dqmq3_UHT0uWzvDMszrC-mgI8bvyuV1qzcFhJL-yU\"",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDY4MDI0;sn=67068024",
        "x-ms-date": "Wed, 10 Jun 2026 18:34:25 GMT"
      },
      "ResponseBody": {
        "etag": "e7Dqmq3_UHT0uWzvDMszrC-mgI8bvyuV1qzcFhJL-yU",
        "items": [
          {
            "etag": "IVg5qG8o2l-sVfgDxH18ppsEJ-aghyprCiqO4tPt_wM",
            "key": "key-1465333751",
            "label": "test_label",
            "content_type": "test_content_type",
            "value": "test_value",
            "description": "test_description",
            "tags": {
              "tag1": "value1",
              "tag2": "value2"
            },
            "locked": false,
            "last_modified": "2026-06-10T18:34:25+00:00"
          }
        ]
      }
    },
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv/key-1465333751?api-version=2026-04-01&label=test_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDY4MDI0"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"IVg5qG8o2l-sVfgDxH18ppsEJ-aghyprCiqO4tPt_wM\"",
        "Last-Modified": "Wed, 10 Jun 2026 18:34:25 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDY4MDI1;sn=67068025",
        "x-ms-date": "Wed, 10 Jun 2026 18:34:25 GMT"
      },
      "ResponseBody": {
        "etag": "IVg5qG8o2l-sVfgDxH18ppsEJ-aghyprCiqO4tPt_wM",
        "key": "key-1465333751",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "description": "test_description",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-06-10T18:34:25+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_ENDPOINT_STRING": "https://mrm90847047-azconfig-net.azconfig.io",
    "RandomSeed": "521119252"
  }
}
