{
  "Entries": [
    {
      "RequestUri": "https://azure-sdk-for-net-test.azconfig.io/kv/abcde-1767534425?api-version=2026-04-01&label=abcde",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "Starts with abc",
        "content_type": null,
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"rDdkNWV0uZUUBy8ib1bh56EcKAUjoh0fY6XoBcXw3Ko\"",
        "Last-Modified": "Wed, 27 May 2026 23:56:41 GMT",
        "Sync-Token": "zAJw6V16=NToxNyM0ODA0MTg1Ng==;sn=48041856",
        "x-ms-date": "Wed, 27 May 2026 23:56:41 GMT"
      },
      "ResponseBody": {
        "etag": "rDdkNWV0uZUUBy8ib1bh56EcKAUjoh0fY6XoBcXw3Ko",
        "key": "abcde-1767534425",
        "label": "abcde",
        "content_type": null,
        "value": "Starts with abc",
        "description": null,
        "tags": {},
        "locked": false,
        "last_modified": "2026-05-27T23:56:41+00:00"
      }
    },
    {
      "RequestUri": "https://azure-sdk-for-net-test.azconfig.io/kv?api-version=2026-04-01&key=abc%2A",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NToxNyM0ODA0MTg1Ng==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"B-MQjPlQfus3pPFgT7YkgVuxyZdGuV9xvJ5fGdrOGaw\"",
        "Sync-Token": "zAJw6V16=NToxNyM0ODA0MTg1Ng==;sn=48041856",
        "x-ms-date": "Wed, 27 May 2026 23:56:41 GMT"
      },
      "ResponseBody": {
        "etag": "B-MQjPlQfus3pPFgT7YkgVuxyZdGuV9xvJ5fGdrOGaw",
        "items": [
          {
            "etag": "rDdkNWV0uZUUBy8ib1bh56EcKAUjoh0fY6XoBcXw3Ko",
            "key": "abcde-1767534425",
            "label": "abcde",
            "content_type": null,
            "value": "Starts with abc",
            "description": null,
            "tags": {},
            "locked": false,
            "last_modified": "2026-05-27T23:56:41+00:00"
          }
        ]
      }
    },
    {
      "RequestUri": "https://azure-sdk-for-net-test.azconfig.io/kv/abcde-1767534425?api-version=2026-04-01&label=abcde",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NToxNyM0ODA0MTg1Ng==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"rDdkNWV0uZUUBy8ib1bh56EcKAUjoh0fY6XoBcXw3Ko\"",
        "Last-Modified": "Wed, 27 May 2026 23:56:41 GMT",
        "Sync-Token": "zAJw6V16=NToxNyM0ODA0MTg1Nw==;sn=48041857",
        "x-ms-date": "Wed, 27 May 2026 23:56:41 GMT"
      },
      "ResponseBody": {
        "etag": "rDdkNWV0uZUUBy8ib1bh56EcKAUjoh0fY6XoBcXw3Ko",
        "key": "abcde-1767534425",
        "label": "abcde",
        "content_type": null,
        "value": "Starts with abc",
        "description": null,
        "tags": {},
        "locked": false,
        "last_modified": "2026-05-27T23:56:41+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://azure-sdk-for-net-test.azconfig.io;Id=8ePU;Secret=Kg==",
    "RandomSeed": "1967951830"
  }
}
