{
  "Entries": [
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/kv/key-1863378962?api-version=2023-11-01&label=my_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "my_value",
        "content_type": null,
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"JzAacGUQmsXMXmR2b_EnAGZJaP25UuOEZhnN44muRiU\"",
        "Last-Modified": "Tue, 18 Nov 2025 04:29:14 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzU3ODA0NDQ2;sn=57804446",
        "x-ms-date": "Tue, 18 Nov 2025 04:29:14 GMT"
      },
      "ResponseBody": {
        "etag": "JzAacGUQmsXMXmR2b_EnAGZJaP25UuOEZhnN44muRiU",
        "key": "key-1863378962",
        "label": "my_label",
        "content_type": null,
        "value": "my_value",
        "tags": {},
        "locked": false,
        "last_modified": "2025-11-18T04:29:14+00:00"
      }
    },
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/kv?$select=key%2Clocked&api-version=2023-11-01&key=key-1863378962",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Njo1IzU3ODA0NDQ2",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"xHk4nOza-5jhaiHCRNimT5V07YJYuZKIWV_FxeTrz0w\"",
        "Sync-Token": "zAJw6V16=Njo1IzU3ODA0NDQ2;sn=57804446",
        "x-ms-date": "Tue, 18 Nov 2025 04:29:14 GMT"
      },
      "ResponseBody": {
        "etag": "xHk4nOza-5jhaiHCRNimT5V07YJYuZKIWV_FxeTrz0w",
        "items": [
          {
            "key": "key-1863378962",
            "locked": false
          }
        ]
      }
    },
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/kv/key-1863378962?api-version=2023-11-01&label=my_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Njo1IzU3ODA0NDQ2",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"JzAacGUQmsXMXmR2b_EnAGZJaP25UuOEZhnN44muRiU\"",
        "Last-Modified": "Tue, 18 Nov 2025 04:29:14 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzU3ODA0NDQ3;sn=57804447",
        "x-ms-date": "Tue, 18 Nov 2025 04:29:15 GMT"
      },
      "ResponseBody": {
        "etag": "JzAacGUQmsXMXmR2b_EnAGZJaP25UuOEZhnN44muRiU",
        "key": "key-1863378962",
        "label": "my_label",
        "content_type": null,
        "value": "my_value",
        "tags": {},
        "locked": false,
        "last_modified": "2025-11-18T04:29:14+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t8cdd9157ca7d1363-azconfig-net.azconfig.io;Id=wNKY;Secret=Kg==",
    "RandomSeed": "434270622"
  }
}
