{
  "Entries": [
    {
      "RequestUri": "https://tdfcae3cf5eab7143-azconfig-net.azconfig.io/kv/GetBatchSettingIfChangedWithUnmodifiedPageDoesNotLogWarningAsync?api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Sync-Token": "zAJw6V16=Mzo1IzQyMTUwNzAz;sn=42150703"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://tdfcae3cf5eab7143-azconfig-net.azconfig.io/kv/key-1359064915?api-version=2023-11-01&label=0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "Sync-Token": "zAJw6V16=Mzo1IzQyMTUwNzAz",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": null,
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"Qvj8d-Vhdy49wl4xyqI2JTB9PM-ahhsHwnsEYJO2yUM\"",
        "Last-Modified": "Wed, 11 Jun 2025 17:24:07 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzQyMTUwNzA0;sn=42150704"
      },
      "ResponseBody": {
        "etag": "Qvj8d-Vhdy49wl4xyqI2JTB9PM-ahhsHwnsEYJO2yUM",
        "key": "key-1359064915",
        "label": "0",
        "content_type": null,
        "value": "test_value",
        "tags": {},
        "locked": false,
        "last_modified": "2025-06-11T17:24:07+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://tdfcae3cf5eab7143-azconfig-net.azconfig.io/kv?api-version=2023-11-01&key=key-1359064915",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Mzo1IzQyMTUwODA5",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"2Wuj9tlXXKaG6KQGzD56NOBwUhoKVk1jodpC_HFXDws\"",
        "Link": "</kv?api-version=2023-11-01&key=key-1359064915&after=a2V5LTEzNTkwNjQ5MTUKOTQ%3D>; rel=\"next\"",
        "Sync-Token": "zAJw6V16=Mzo1IzQyMTUwODA5;sn=42150809"
      },
      "ResponseBody": {
        "etag": "2Wuj9tlXXKaG6KQGzD56NOBwUhoKVk1jodpC_HFXDws",
        "items": [
          {
            "etag": "Qvj8d-Vhdy49wl4xyqI2JTB9PM-ahhsHwnsEYJO2yUM",
            "key": "key-1359064915",
            "label": "0",
            "content_type": null,
            "value": "test_value",
            "tags": {},
            "locked": false,
            "last_modified": "2025-06-11T17:24:07+00:00"
          },
          {
            "etag": "hN6G3-i-ZXGeLaBNf-aJF9a642AgESMFgtejfjNWW5w",
            "key": "key-1359064915",
            "label": "1",
            "content_[...]
    {
      "RequestUri": "https://tdfcae3cf5eab7143-azconfig-net.azconfig.io/kv?api-version=2023-11-01&key=key-1359064915",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "\"2Wuj9tlXXKaG6KQGzD56NOBwUhoKVk1jodpC_HFXDws\"",
        "Sync-Token": "zAJw6V16=Mzo1IzQyMTUwODA5",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 304,
      "ResponseHeaders": {
        "Link": "</kv?api-version=2023-11-01&key=key-1359064915&after=a2V5LTEzNTkwNjQ5MTUKOTQ%3D>; rel=\"next\"",
        "Sync-Token": "zAJw6V16=Mzo1IzQyMTUwODA5;sn=42150809"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://tdfcae3cf5eab7143-azconfig-net.azconfig.io;Id=GAEe;Secret=Kg==",
    "RandomSeed": "357271891"
  }
}
