{
  "Entries": [
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/keyFields-1992990820?api-version=2023-11-01&label=my_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "my_value",
        "content_type": "content-type",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"foXkmBc1yXwwnZDKrTHYLVg9TlKMGIncd8KzbZKhztw\"",
        "Last-Modified": "Tue, 06 Jan 2026 06:34:57 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTc3MzYxMQ==;sn=101773611",
        "x-ms-date": "Tue, 06 Jan 2026 06:34:57 GMT"
      },
      "ResponseBody": {
        "etag": "foXkmBc1yXwwnZDKrTHYLVg9TlKMGIncd8KzbZKhztw",
        "key": "keyFields-1992990820",
        "label": "my_label",
        "content_type": "content-type",
        "value": "my_value",
        "tags": {},
        "locked": false,
        "last_modified": "2026-01-06T06:34:57+00:00"
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv?api-version=2023-11-01&key=keyFields-1992990820",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTc3MzYxMQ==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"ktP3Qb0U5FpEeshZrY1qScPPDvPE_2iqtO_vqIPwELQ\"",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTc3MzYxMQ==;sn=101773611",
        "x-ms-date": "Tue, 06 Jan 2026 06:34:57 GMT"
      },
      "ResponseBody": {
        "etag": "ktP3Qb0U5FpEeshZrY1qScPPDvPE_2iqtO_vqIPwELQ",
        "items": [
          {
            "etag": "foXkmBc1yXwwnZDKrTHYLVg9TlKMGIncd8KzbZKhztw",
            "key": "keyFields-1992990820",
            "label": "my_label",
            "content_type": "content-type",
            "value": "my_value",
            "tags": {},
            "locked": false,
            "last_modified": "2026-01-06T06:34:57+00:00"
          }
        ]
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/keyFields-1992990820?api-version=2023-11-01&label=my_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTc3MzYxMQ==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"foXkmBc1yXwwnZDKrTHYLVg9TlKMGIncd8KzbZKhztw\"",
        "Last-Modified": "Tue, 06 Jan 2026 06:34:57 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTc3MzYxMg==;sn=101773612",
        "x-ms-date": "Tue, 06 Jan 2026 06:34:57 GMT"
      },
      "ResponseBody": {
        "etag": "foXkmBc1yXwwnZDKrTHYLVg9TlKMGIncd8KzbZKhztw",
        "key": "keyFields-1992990820",
        "label": "my_label",
        "content_type": "content-type",
        "value": "my_value",
        "tags": {},
        "locked": false,
        "last_modified": "2026-01-06T06:34:57+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t9c954b564de572f9-azconfig-net.azconfig.io;Id=MdvE;Secret=Kg==",
    "RandomSeed": "1149728070"
  }
}
