{
  "Entries": [
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/abcd?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "foobar",
        "content_type": null,
        "tags": {
          "my_tag": "my_tag_value"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"SWfRZctoKKwPkaxgGAPqbCCDliodowtb8wWj8PYPIgs\"",
        "Last-Modified": "Thu, 22 Jan 2026 01:33:53 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzQ3MzQ1MA==;sn=103473450",
        "x-ms-date": "Thu, 22 Jan 2026 01:33:53 GMT"
      },
      "ResponseBody": {
        "etag": "SWfRZctoKKwPkaxgGAPqbCCDliodowtb8wWj8PYPIgs",
        "key": "abcd",
        "label": null,
        "content_type": null,
        "value": "foobar",
        "tags": {
          "my_tag": "my_tag_value"
        },
        "locked": false,
        "last_modified": "2026-01-22T01:33:53+00:00"
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/wxyz?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzQ3MzQ1MA==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "barfoo",
        "content_type": null,
        "tags": {
          "my_tag": "my_tag_value"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"i3E7dhD3piAJywxSvnmDGx3HTPk870YY7dlzwn5SJSc\"",
        "Last-Modified": "Thu, 22 Jan 2026 01:33:53 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzQ3MzQ1Mg==;sn=103473452",
        "x-ms-date": "Thu, 22 Jan 2026 01:33:53 GMT"
      },
      "ResponseBody": {
        "etag": "i3E7dhD3piAJywxSvnmDGx3HTPk870YY7dlzwn5SJSc",
        "key": "wxyz",
        "label": null,
        "content_type": null,
        "value": "barfoo",
        "tags": {
          "my_tag": "my_tag_value"
        },
        "locked": false,
        "last_modified": "2026-01-22T01:33:53+00:00"
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv?api-version=2023-11-01&tags=my_tag%3Dmy_tag_value",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzQ3MzQ1Mg==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"DAU07B3LEXCOGAWkuD_ra7j6jaY80whOjRkhRYzYGeg\"",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzQ3MzQ1Mw==;sn=103473453",
        "x-ms-date": "Thu, 22 Jan 2026 01:33:53 GMT"
      },
      "ResponseBody": {
        "etag": "DAU07B3LEXCOGAWkuD_ra7j6jaY80whOjRkhRYzYGeg",
        "items": [
          {
            "etag": "SWfRZctoKKwPkaxgGAPqbCCDliodowtb8wWj8PYPIgs",
            "key": "abcd",
            "label": null,
            "content_type": null,
            "value": "foobar",
            "tags": {
              "my_tag": "my_tag_value"
            },
            "locked": false,
            "last_modified": "2026-01-22T01:33:53+00:00"
          },
          {
            "etag": "i3E7dhD3piAJywxSvnmDGx3HTPk870YY7dlzwn5SJSc",
            "key": "wxyz",
            "label": null,
            "content_type": null,
            "value": "barfoo",
            "tags": {
              "my_tag": "my_tag_value"
            },
            "locked": false,
            "last_modified": "2026-01-22T01:33:53+00:00"
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/wxyz?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzQ3MzQ1NA==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"i3E7dhD3piAJywxSvnmDGx3HTPk870YY7dlzwn5SJSc\"",
        "Last-Modified": "Thu, 22 Jan 2026 01:33:53 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzQ3MzQ1NQ==;sn=103473455",
        "x-ms-date": "Thu, 22 Jan 2026 01:33:54 GMT"
      },
      "ResponseBody": {
        "etag": "i3E7dhD3piAJywxSvnmDGx3HTPk870YY7dlzwn5SJSc",
        "key": "wxyz",
        "label": null,
        "content_type": null,
        "value": "barfoo",
        "tags": {
          "my_tag": "my_tag_value"
        },
        "locked": false,
        "last_modified": "2026-01-22T01:33:53+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t9c954b564de572f9-azconfig-net.azconfig.io;Id=MdvE;Secret=Kg==",
    "RandomSeed": "90093168"
  }
}
