{
  "Entries": [
    {
      "RequestUri": "https://azure-sdk-for-net-test.azconfig.io/kv/key-2108795696?api-version=2026-04-01&label=my_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "my_value",
        "content_type": null,
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"71A7pmXBTeUN-PZsj76I-m4pqU3ONoMPzNfevEYUNvI\"",
        "Last-Modified": "Wed, 27 May 2026 23:56:42 GMT",
        "Sync-Token": "zAJw6V16=NToxNyM0ODA0MTg5MA==;sn=48041890",
        "x-ms-date": "Wed, 27 May 2026 23:56:42 GMT"
      },
      "ResponseBody": {
        "etag": "71A7pmXBTeUN-PZsj76I-m4pqU3ONoMPzNfevEYUNvI",
        "key": "key-2108795696",
        "label": "my_label",
        "content_type": null,
        "value": "my_value",
        "description": null,
        "tags": {},
        "locked": false,
        "last_modified": "2026-05-27T23:56:42+00:00"
      }
    },
    {
      "RequestUri": "https://azure-sdk-for-net-test.azconfig.io/kv?$select=key%2Clocked&api-version=2026-04-01&key=key-2108795696",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NToxNyM0ODA0MTg5MA==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"jVrINRsviGhKw8xrYb1AxLoDPn_ZCcI-JO9TrVfZBBs\"",
        "Sync-Token": "zAJw6V16=NToxNyM0ODA0MTg5MA==;sn=48041890",
        "x-ms-date": "Wed, 27 May 2026 23:56:42 GMT"
      },
      "ResponseBody": {
        "etag": "jVrINRsviGhKw8xrYb1AxLoDPn_ZCcI-JO9TrVfZBBs",
        "items": [
          {
            "key": "key-2108795696",
            "locked": false
          }
        ]
      }
    },
    {
      "RequestUri": "https://azure-sdk-for-net-test.azconfig.io/kv/key-2108795696?api-version=2026-04-01&label=my_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NToxNyM0ODA0MTg5MA==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"71A7pmXBTeUN-PZsj76I-m4pqU3ONoMPzNfevEYUNvI\"",
        "Last-Modified": "Wed, 27 May 2026 23:56:42 GMT",
        "Sync-Token": "zAJw6V16=NToxNyM0ODA0MTg5MQ==;sn=48041891",
        "x-ms-date": "Wed, 27 May 2026 23:56:42 GMT"
      },
      "ResponseBody": {
        "etag": "71A7pmXBTeUN-PZsj76I-m4pqU3ONoMPzNfevEYUNvI",
        "key": "key-2108795696",
        "label": "my_label",
        "content_type": null,
        "value": "my_value",
        "description": null,
        "tags": {},
        "locked": false,
        "last_modified": "2026-05-27T23:56:42+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://azure-sdk-for-net-test.azconfig.io;Id=8ePU;Secret=Kg==",
    "RandomSeed": "308594350"
  }
}
