{
  "Entries": [
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv/abcd?api-version=2026-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "value": "foobar",
        "content_type": null,
        "tags": {
          "my_tag": "my_tag_value"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"qanTDDfymxsrWCbnjE9qg55S21tWke19C_iWXUWwEKk\"",
        "Last-Modified": "Wed, 10 Jun 2026 18:34:12 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDY3OTQ2;sn=67067946",
        "x-ms-date": "Wed, 10 Jun 2026 18:34:12 GMT"
      },
      "ResponseBody": {
        "etag": "qanTDDfymxsrWCbnjE9qg55S21tWke19C_iWXUWwEKk",
        "key": "abcd",
        "label": null,
        "content_type": null,
        "value": "foobar",
        "description": null,
        "tags": {
          "my_tag": "my_tag_value"
        },
        "locked": false,
        "last_modified": "2026-06-10T18:34:12+00:00"
      }
    },
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv/wxyz?api-version=2026-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDY3OTQ2"
      },
      "RequestBody": {
        "value": "barfoo",
        "content_type": null,
        "tags": {
          "my_tag": "my_tag_value"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"gKudGz6OiqLJpf1F-2gl8ktfPoFItAs83dW_O2a5eB4\"",
        "Last-Modified": "Wed, 10 Jun 2026 18:34:12 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDY3OTQ4;sn=67067948",
        "x-ms-date": "Wed, 10 Jun 2026 18:34:12 GMT"
      },
      "ResponseBody": {
        "etag": "gKudGz6OiqLJpf1F-2gl8ktfPoFItAs83dW_O2a5eB4",
        "key": "wxyz",
        "label": null,
        "content_type": null,
        "value": "barfoo",
        "description": null,
        "tags": {
          "my_tag": "my_tag_value"
        },
        "locked": false,
        "last_modified": "2026-06-10T18:34:12+00:00"
      }
    },
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv?api-version=2026-04-01&tags=my_tag%3Dmy_tag_value",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDY3OTQ4"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"4lJeQYb8TdPiTk506TsijYq8cTnMv4QG_MMkG6rsLhU\"",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDY3OTQ5;sn=67067949",
        "x-ms-date": "Wed, 10 Jun 2026 18:34:12 GMT"
      },
      "ResponseBody": {
        "etag": "4lJeQYb8TdPiTk506TsijYq8cTnMv4QG_MMkG6rsLhU",
        "items": [
          {
            "etag": "qanTDDfymxsrWCbnjE9qg55S21tWke19C_iWXUWwEKk",
            "key": "abcd",
            "label": null,
            "content_type": null,
            "value": "foobar",
            "description": null,
            "tags": {
              "my_tag": "my_tag_value"
            },
            "locked": false,
            "last_modified": "2026-06-10T18:34:12+00:00"
          },
          {
            "etag": "gKudGz6OiqLJpf1F-2gl8ktfPoFItAs83dW_O2a5eB4",
            "key": "wxyz",
            "label": null,
            "content_type": null,
            "value": "barfoo",
            "description": null,
            "tags": {
              "my_tag": "my_tag_value"
            },
            "locked": false,
            "last_modified": "2026-06-10T18:34:12+00:00"
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv/wxyz?api-version=2026-04-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDY3OTUw"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"gKudGz6OiqLJpf1F-2gl8ktfPoFItAs83dW_O2a5eB4\"",
        "Last-Modified": "Wed, 10 Jun 2026 18:34:12 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDY3OTUx;sn=67067951",
        "x-ms-date": "Wed, 10 Jun 2026 18:34:12 GMT"
      },
      "ResponseBody": {
        "etag": "gKudGz6OiqLJpf1F-2gl8ktfPoFItAs83dW_O2a5eB4",
        "key": "wxyz",
        "label": null,
        "content_type": null,
        "value": "barfoo",
        "description": null,
        "tags": {
          "my_tag": "my_tag_value"
        },
        "locked": false,
        "last_modified": "2026-06-10T18:34:12+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_ENDPOINT_STRING": "https://mrm90847047-azconfig-net.azconfig.io",
    "RandomSeed": "1606360933"
  }
}
