{
  "Entries": [
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv/abc?api-version=2026-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "value": "abc setting",
        "content_type": null,
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"DBo7GOnCVKdSZmpfAMgZqIxSLSWrcApoXqj2tTdlvOA\"",
        "Last-Modified": "Wed, 10 Jun 2026 18:34:40 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDY4MDU4;sn=67068058",
        "x-ms-date": "Wed, 10 Jun 2026 18:34:40 GMT"
      },
      "ResponseBody": {
        "etag": "DBo7GOnCVKdSZmpfAMgZqIxSLSWrcApoXqj2tTdlvOA",
        "key": "abc",
        "label": null,
        "content_type": null,
        "value": "abc setting",
        "description": null,
        "tags": {},
        "locked": false,
        "last_modified": "2026-06-10T18:34:40+00:00"
      }
    },
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv/xyz?api-version=2026-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDY4MDU4"
      },
      "RequestBody": {
        "value": "xyz setting",
        "content_type": null,
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"EsU2t8hYXZeM7C0LpF5aW3COPQnXMDrP4qHg6xA-4cU\"",
        "Last-Modified": "Wed, 10 Jun 2026 18:34:40 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDY4MDYy;sn=67068062",
        "x-ms-date": "Wed, 10 Jun 2026 18:34:40 GMT"
      },
      "ResponseBody": {
        "etag": "EsU2t8hYXZeM7C0LpF5aW3COPQnXMDrP4qHg6xA-4cU",
        "key": "xyz",
        "label": null,
        "content_type": null,
        "value": "xyz setting",
        "description": null,
        "tags": {},
        "locked": false,
        "last_modified": "2026-06-10T18:34:40+00:00"
      }
    },
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv?api-version=2026-04-01&key=abc%2Cxyz",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDY4MDYy"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"wGiQMEXK0mFdnsi5aZsRguGhhTFOKa-V348nr_EoE-I\"",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDY4MDYz;sn=67068063",
        "x-ms-date": "Wed, 10 Jun 2026 18:34:40 GMT"
      },
      "ResponseBody": {
        "etag": "wGiQMEXK0mFdnsi5aZsRguGhhTFOKa-V348nr_EoE-I",
        "items": [
          {
            "etag": "DBo7GOnCVKdSZmpfAMgZqIxSLSWrcApoXqj2tTdlvOA",
            "key": "abc",
            "label": null,
            "content_type": null,
            "value": "abc setting",
            "description": null,
            "tags": {},
            "locked": false,
            "last_modified": "2026-06-10T18:34:40+00:00"
          },
          {
            "etag": "EsU2t8hYXZeM7C0LpF5aW3COPQnXMDrP4qHg6xA-4cU",
            "key": "xyz",
            "label": null,
            "content_type": null,
            "value": "xyz setting",
            "description": null,
            "tags": {},
            "locked": false,
            "last_modified": "2026-06-10T18:34:40+00:00"
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv/xyz?api-version=2026-04-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDY4MDY0"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"EsU2t8hYXZeM7C0LpF5aW3COPQnXMDrP4qHg6xA-4cU\"",
        "Last-Modified": "Wed, 10 Jun 2026 18:34:40 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDY4MDY1;sn=67068065",
        "x-ms-date": "Wed, 10 Jun 2026 18:34:41 GMT"
      },
      "ResponseBody": {
        "etag": "EsU2t8hYXZeM7C0LpF5aW3COPQnXMDrP4qHg6xA-4cU",
        "key": "xyz",
        "label": null,
        "content_type": null,
        "value": "xyz setting",
        "description": null,
        "tags": {},
        "locked": false,
        "last_modified": "2026-06-10T18:34:40+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_ENDPOINT_STRING": "https://mrm90847047-azconfig-net.azconfig.io",
    "RandomSeed": "2093477102"
  }
}
