{
  "Entries": [
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv/abc?api-version=2026-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "value": "abc setting",
        "content_type": null,
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"GliPmvEm9iDhtkO_zIbEL7ii3gY-xHgO2oZTH-7Jg0Q\"",
        "Last-Modified": "Wed, 10 Jun 2026 19:18:26 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDcyMDg5;sn=67072089",
        "x-ms-date": "Wed, 10 Jun 2026 19:18:26 GMT"
      },
      "ResponseBody": {
        "etag": "GliPmvEm9iDhtkO_zIbEL7ii3gY-xHgO2oZTH-7Jg0Q",
        "key": "abc",
        "label": null,
        "content_type": null,
        "value": "abc setting",
        "description": null,
        "tags": {},
        "locked": false,
        "last_modified": "2026-06-10T19:18:26+00:00"
      }
    },
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv/xyz?api-version=2026-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDcyMDg5"
      },
      "RequestBody": {
        "value": "xyz setting",
        "content_type": null,
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"nKZRhTdfNnVzeYVNPHNjwrrU99SW4Qx70LhU4BCkPew\"",
        "Last-Modified": "Wed, 10 Jun 2026 19:18:27 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDcyMDkx;sn=67072091",
        "x-ms-date": "Wed, 10 Jun 2026 19:18:27 GMT"
      },
      "ResponseBody": {
        "etag": "nKZRhTdfNnVzeYVNPHNjwrrU99SW4Qx70LhU4BCkPew",
        "key": "xyz",
        "label": null,
        "content_type": null,
        "value": "xyz setting",
        "description": null,
        "tags": {},
        "locked": false,
        "last_modified": "2026-06-10T19:18:27+00:00"
      }
    },
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv?api-version=2026-04-01&key=abc%2Cxyz",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDcyMDkx"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"su_Maui_gJkdy8L4eTqAKhUyeUlvO7qgnZVm9hoZDrY\"",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDcyMDky;sn=67072092",
        "x-ms-date": "Wed, 10 Jun 2026 19:18:27 GMT"
      },
      "ResponseBody": {
        "etag": "su_Maui_gJkdy8L4eTqAKhUyeUlvO7qgnZVm9hoZDrY",
        "items": [
          {
            "etag": "GliPmvEm9iDhtkO_zIbEL7ii3gY-xHgO2oZTH-7Jg0Q",
            "key": "abc",
            "label": null,
            "content_type": null,
            "value": "abc setting",
            "description": null,
            "tags": {},
            "locked": false,
            "last_modified": "2026-06-10T19:18:26+00:00"
          },
          {
            "etag": "nKZRhTdfNnVzeYVNPHNjwrrU99SW4Qx70LhU4BCkPew",
            "key": "xyz",
            "label": null,
            "content_type": null,
            "value": "xyz setting",
            "description": null,
            "tags": {},
            "locked": false,
            "last_modified": "2026-06-10T19:18:27+00:00"
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv/xyz?api-version=2026-04-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDcyMDkz"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"nKZRhTdfNnVzeYVNPHNjwrrU99SW4Qx70LhU4BCkPew\"",
        "Last-Modified": "Wed, 10 Jun 2026 19:18:27 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDcyMDk0;sn=67072094",
        "x-ms-date": "Wed, 10 Jun 2026 19:18:27 GMT"
      },
      "ResponseBody": {
        "etag": "nKZRhTdfNnVzeYVNPHNjwrrU99SW4Qx70LhU4BCkPew",
        "key": "xyz",
        "label": null,
        "content_type": null,
        "value": "xyz setting",
        "description": null,
        "tags": {},
        "locked": false,
        "last_modified": "2026-06-10T19:18:27+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_ENDPOINT_STRING": "https://mrm90847047-azconfig-net.azconfig.io",
    "RandomSeed": "480315269"
  }
}
