{
  "Entries": [
    {
      "RequestUri": "https://azure-sdk-for-net-test.azconfig.io/kv/keyFields-1182884941?api-version=2026-04-01&label=my_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "my_value",
        "content_type": null,
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"4zFSFXzZTiUf36hoEs1fz50KFU1G6R7Kl83UObvXVhA\"",
        "Last-Modified": "Wed, 27 May 2026 23:56:41 GMT",
        "Sync-Token": "zAJw6V16=NToxNyM0ODA0MTg4OA==;sn=48041888",
        "x-ms-date": "Wed, 27 May 2026 23:56:41 GMT"
      },
      "ResponseBody": {
        "etag": "4zFSFXzZTiUf36hoEs1fz50KFU1G6R7Kl83UObvXVhA",
        "key": "keyFields-1182884941",
        "label": "my_label",
        "content_type": null,
        "value": "my_value",
        "description": null,
        "tags": {},
        "locked": false,
        "last_modified": "2026-05-27T23:56:41+00:00"
      }
    },
    {
      "RequestUri": "https://azure-sdk-for-net-test.azconfig.io/kv?$select=key%2Clabel%2Cetag&api-version=2026-04-01&key=keyFields-1182884941",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NToxNyM0ODA0MTg4OA==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"2cObP6lousostqVJUE3Yruy2M3SuOSB_BGuj3Bxo7_I\"",
        "Sync-Token": "zAJw6V16=NToxNyM0ODA0MTg4OA==;sn=48041888",
        "x-ms-date": "Wed, 27 May 2026 23:56:41 GMT"
      },
      "ResponseBody": {
        "etag": "2cObP6lousostqVJUE3Yruy2M3SuOSB_BGuj3Bxo7_I",
        "items": [
          {
            "etag": "4zFSFXzZTiUf36hoEs1fz50KFU1G6R7Kl83UObvXVhA",
            "key": "keyFields-1182884941",
            "label": "my_label"
          }
        ]
      }
    },
    {
      "RequestUri": "https://azure-sdk-for-net-test.azconfig.io/kv/keyFields-1182884941?api-version=2026-04-01&label=my_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NToxNyM0ODA0MTg4OA==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"4zFSFXzZTiUf36hoEs1fz50KFU1G6R7Kl83UObvXVhA\"",
        "Last-Modified": "Wed, 27 May 2026 23:56:41 GMT",
        "Sync-Token": "zAJw6V16=NToxNyM0ODA0MTg4OQ==;sn=48041889",
        "x-ms-date": "Wed, 27 May 2026 23:56:41 GMT"
      },
      "ResponseBody": {
        "etag": "4zFSFXzZTiUf36hoEs1fz50KFU1G6R7Kl83UObvXVhA",
        "key": "keyFields-1182884941",
        "label": "my_label",
        "content_type": null,
        "value": "my_value",
        "description": null,
        "tags": {},
        "locked": false,
        "last_modified": "2026-05-27T23:56:41+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://azure-sdk-for-net-test.azconfig.io;Id=8ePU;Secret=Kg==",
    "RandomSeed": "2065982596"
  }
}
