{
  "Entries": [
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/abcde-88538759?api-version=2023-11-01&label=abcde",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "Starts with abc",
        "content_type": null,
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"qcS5G3WhbczerNe14LlWZ5V2hZV_9pVTk0tGHT9wtBY\"",
        "Last-Modified": "Tue, 06 Jan 2026 06:28:14 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTc3MzA5MA==;sn=101773090",
        "x-ms-date": "Tue, 06 Jan 2026 06:28:14 GMT"
      },
      "ResponseBody": {
        "etag": "qcS5G3WhbczerNe14LlWZ5V2hZV_9pVTk0tGHT9wtBY",
        "key": "abcde-88538759",
        "label": "abcde",
        "content_type": null,
        "value": "Starts with abc",
        "tags": {},
        "locked": false,
        "last_modified": "2026-01-06T06:28:14+00:00"
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv?api-version=2023-11-01&key=abc%2A",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTc3MzA5MA==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"gLiveZTJ5o_QBYW8wpPvbsBaj3P_tAjmxkRaaHgZZZE\"",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTc3MzA5MA==;sn=101773090",
        "x-ms-date": "Tue, 06 Jan 2026 06:28:14 GMT"
      },
      "ResponseBody": {
        "etag": "gLiveZTJ5o_QBYW8wpPvbsBaj3P_tAjmxkRaaHgZZZE",
        "items": [
          {
            "etag": "qcS5G3WhbczerNe14LlWZ5V2hZV_9pVTk0tGHT9wtBY",
            "key": "abcde-88538759",
            "label": "abcde",
            "content_type": null,
            "value": "Starts with abc",
            "tags": {},
            "locked": false,
            "last_modified": "2026-01-06T06:28:14+00:00"
          }
        ]
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/abcde-88538759?api-version=2023-11-01&label=abcde",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTc3MzA5MA==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"qcS5G3WhbczerNe14LlWZ5V2hZV_9pVTk0tGHT9wtBY\"",
        "Last-Modified": "Tue, 06 Jan 2026 06:28:14 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTc3MzA5MQ==;sn=101773091",
        "x-ms-date": "Tue, 06 Jan 2026 06:28:14 GMT"
      },
      "ResponseBody": {
        "etag": "qcS5G3WhbczerNe14LlWZ5V2hZV_9pVTk0tGHT9wtBY",
        "key": "abcde-88538759",
        "label": "abcde",
        "content_type": null,
        "value": "Starts with abc",
        "tags": {},
        "locked": false,
        "last_modified": "2026-01-06T06:28:14+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t9c954b564de572f9-azconfig-net.azconfig.io;Id=MdvE;Secret=Kg==",
    "RandomSeed": "1577125476"
  }
}
