{
  "Entries": [
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/kv/key-2046594341?api-version=2023-11-01&label=my_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "my_value",
        "content_type": null,
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"qK19RObF6q7hQN0Lr8-_PjcZ95KTgKzNeXQeLgZ6qVg\"",
        "Last-Modified": "Tue, 18 Nov 2025 04:22:47 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzU3ODAzOTgy;sn=57803982",
        "x-ms-date": "Tue, 18 Nov 2025 04:22:47 GMT"
      },
      "ResponseBody": {
        "etag": "qK19RObF6q7hQN0Lr8-_PjcZ95KTgKzNeXQeLgZ6qVg",
        "key": "key-2046594341",
        "label": "my_label",
        "content_type": null,
        "value": "my_value",
        "tags": {},
        "locked": false,
        "last_modified": "2025-11-18T04:22:47+00:00"
      }
    },
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/kv?$select=key%2Clocked&api-version=2023-11-01&key=key-2046594341",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Njo1IzU3ODAzOTgy",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"mSujDin7c5td2IO2XPJ5qTbZHCXFfxD6OT3CrnbUvNw\"",
        "Sync-Token": "zAJw6V16=Njo1IzU3ODAzOTgy;sn=57803982",
        "x-ms-date": "Tue, 18 Nov 2025 04:22:47 GMT"
      },
      "ResponseBody": {
        "etag": "mSujDin7c5td2IO2XPJ5qTbZHCXFfxD6OT3CrnbUvNw",
        "items": [
          {
            "key": "key-2046594341",
            "locked": false
          }
        ]
      }
    },
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/kv/key-2046594341?api-version=2023-11-01&label=my_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Njo1IzU3ODAzOTgy",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"qK19RObF6q7hQN0Lr8-_PjcZ95KTgKzNeXQeLgZ6qVg\"",
        "Last-Modified": "Tue, 18 Nov 2025 04:22:47 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzU3ODAzOTgz;sn=57803983",
        "x-ms-date": "Tue, 18 Nov 2025 04:22:47 GMT"
      },
      "ResponseBody": {
        "etag": "qK19RObF6q7hQN0Lr8-_PjcZ95KTgKzNeXQeLgZ6qVg",
        "key": "key-2046594341",
        "label": "my_label",
        "content_type": null,
        "value": "my_value",
        "tags": {},
        "locked": false,
        "last_modified": "2025-11-18T04:22:47+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t8cdd9157ca7d1363-azconfig-net.azconfig.io;Id=wNKY;Secret=Kg==",
    "RandomSeed": "1760813690"
  }
}
