{
  "Entries": [
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv/abc?api-version=2026-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "value": "abc setting",
        "content_type": null,
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"TyXjZNuwWZ-NXRzbpoxZwadN-K-nmaWIDeygDERU44c\"",
        "Last-Modified": "Wed, 10 Jun 2026 21:41:20 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDk0Nzc3;sn=67094777",
        "x-ms-date": "Wed, 10 Jun 2026 21:41:20 GMT"
      },
      "ResponseBody": {
        "etag": "TyXjZNuwWZ-NXRzbpoxZwadN-K-nmaWIDeygDERU44c",
        "key": "abc",
        "label": null,
        "content_type": null,
        "value": "abc setting",
        "description": null,
        "tags": {},
        "locked": false,
        "last_modified": "2026-06-10T21:41:20+00:00"
      }
    },
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv/xyz?api-version=2026-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDk0Nzc3"
      },
      "RequestBody": {
        "value": "xyz setting",
        "content_type": null,
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"jqUUxFpHu9g5bjbYKmSElF4eiEVHgr4SkyhPKcJoHko\"",
        "Last-Modified": "Wed, 10 Jun 2026 21:41:20 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDk0Nzc5;sn=67094779",
        "x-ms-date": "Wed, 10 Jun 2026 21:41:20 GMT"
      },
      "ResponseBody": {
        "etag": "jqUUxFpHu9g5bjbYKmSElF4eiEVHgr4SkyhPKcJoHko",
        "key": "xyz",
        "label": null,
        "content_type": null,
        "value": "xyz setting",
        "description": null,
        "tags": {},
        "locked": false,
        "last_modified": "2026-06-10T21:41:20+00:00"
      }
    },
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv?api-version=2026-04-01&key=abc%5C%2Cxyz",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDk0Nzc5"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"00wWELzclWef22f82qcUDI7FbJweVOoKWZDA_JoUeD0\"",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDk0Nzgw;sn=67094780",
        "x-ms-date": "Wed, 10 Jun 2026 21:41:20 GMT"
      },
      "ResponseBody": {
        "etag": "00wWELzclWef22f82qcUDI7FbJweVOoKWZDA_JoUeD0",
        "items": []
      }
    },
[...]
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv/xyz?api-version=2026-04-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDk0Nzgx"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"jqUUxFpHu9g5bjbYKmSElF4eiEVHgr4SkyhPKcJoHko\"",
        "Last-Modified": "Wed, 10 Jun 2026 21:41:20 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDk0Nzgy;sn=67094782",
        "x-ms-date": "Wed, 10 Jun 2026 21:41:20 GMT"
      },
      "ResponseBody": {
        "etag": "jqUUxFpHu9g5bjbYKmSElF4eiEVHgr4SkyhPKcJoHko",
        "key": "xyz",
        "label": null,
        "content_type": null,
        "value": "xyz setting",
        "description": null,
        "tags": {},
        "locked": false,
        "last_modified": "2026-06-10T21:41:20+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_ENDPOINT_STRING": "https://mrm90847047-azconfig-net.azconfig.io",
    "RandomSeed": "1655894610"
  }
}
