{
  "Entries": [
    {
      "RequestUri": "https://tdfcae3cf5eab7143-azconfig-net.azconfig.io/kv/~%60%21%40%23%24%5E%26%28%29_%2B%3D%5B%5D%7B%7D%7C%3B%22%27%3C%3E.%2F--1386807655?api-version=2023-11-01&label=label-~%60%21%40%23%24%5E%26%28%29_%2B%3D%5B%5D%7B%7D%7C%3B%22%27%3C%3E.%2F-",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "value-~`!@#$^&()_+=[]{}|;\"'<>./-",
        "content_type": null,
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"N0mm20tEHTcBMjEFAqzfDvEdwa-4EF0TmBsCp-8EJPM\"",
        "Last-Modified": "Thu, 12 Jun 2025 16:19:37 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzQyMjIwOTUw;sn=42220950"
      },
      "ResponseBody": {
        "etag": "N0mm20tEHTcBMjEFAqzfDvEdwa-4EF0TmBsCp-8EJPM",
        "key": "~`!@#$^&()_+=[]{}|;\"'<>./--1386807655",
        "label": "label-~`!@#$^&()_+=[]{}|;\"'<>./-",
        "content_type": null,
        "value": "value-~`!@#$^&()_+=[]{}|;\"'<>./-",
        "tags": {},
        "locked": false,
        "last_modified": "2025-06-12T16:19:37+00:00"
      }
    },
    {
      "RequestUri": "https://tdfcae3cf5eab7143-azconfig-net.azconfig.io/kv?api-version=2023-11-01&key=~%60%21%40%23%24%5E%26%28%29_%2B%3D%5B%5D%7B%7D%7C%3B%22%27%3C%3E.%2F--1386807655",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Mzo1IzQyMjIwOTUw",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"7EgYuTeDO0EQapTkL9br1wNOXoq9sKDwP1LlMSxRXbI\"",
        "Sync-Token": "zAJw6V16=Mzo1IzQyMjIwOTUw;sn=42220950"
      },
      "ResponseBody": {
        "etag": "7EgYuTeDO0EQapTkL9br1wNOXoq9sKDwP1LlMSxRXbI",
        "items": [
          {
            "etag": "N0mm20tEHTcBMjEFAqzfDvEdwa-4EF0TmBsCp-8EJPM",
            "key": "~`!@#$^&()_+=[]{}|;\"'<>./--1386807655",
            "label": "label-~`!@#$^&()_+=[]{}|;\"'<>./-",
            "content_type": null,
            "value": "value-~`!@#$^&()_+=[]{}|;\"'<>./-",
            "tags": {},
            "locked": false,
            "last_modified": "2025-06-12T16:19:37+00:00"
          }
        ]
      }
    },
    {
      "RequestUri": "https://tdfcae3cf5eab7143-azconfig-net.azconfig.io/kv/~%60%21%40%23%24%5E%26%28%29_%2B%3D%5B%5D%7B%7D%7C%3B%22%27%3C%3E.%2F--1386807655?api-version=2023-11-01&label=label-~%60%21%40%23%24%5E%26%28%29_%2B%3D%5B%5D%7B%7D%7C%3B%22%27%3C%3E.%2F-",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Mzo1IzQyMjIwOTUw",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"N0mm20tEHTcBMjEFAqzfDvEdwa-4EF0TmBsCp-8EJPM\"",
        "Last-Modified": "Thu, 12 Jun 2025 16:19:37 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzQyMjIwOTUx;sn=42220951"
      },
      "ResponseBody": {
        "etag": "N0mm20tEHTcBMjEFAqzfDvEdwa-4EF0TmBsCp-8EJPM",
        "key": "~`!@#$^&()_+=[]{}|;\"'<>./--1386807655",
        "label": "label-~`!@#$^&()_+=[]{}|;\"'<>./-",
        "content_type": null,
        "value": "value-~`!@#$^&()_+=[]{}|;\"'<>./-",
        "tags": {},
        "locked": false,
        "last_modified": "2025-06-12T16:19:37+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://tdfcae3cf5eab7143-azconfig-net.azconfig.io;Id=GAEe;Secret=Kg==",
    "RandomSeed": "546552049"
  }
}
