{
  "Entries": [
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv/abcd?api-version=2026-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "value": "foobar",
        "content_type": null,
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"RRoCxZfx6G8aTqHlnN0XwE1zwHW4eg-eb6-kjrG5CgI\"",
        "Last-Modified": "Wed, 10 Jun 2026 21:32:33 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDk0Mjkw;sn=67094290",
        "x-ms-date": "Wed, 10 Jun 2026 21:32:33 GMT"
      },
      "ResponseBody": {
        "etag": "RRoCxZfx6G8aTqHlnN0XwE1zwHW4eg-eb6-kjrG5CgI",
        "key": "abcd",
        "label": null,
        "content_type": null,
        "value": "foobar",
        "description": null,
        "tags": {},
        "locked": false,
        "last_modified": "2026-06-10T21:32:33+00:00"
      }
    },
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv/wxyz?api-version=2026-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDk0Mjkw"
      },
      "RequestBody": {
        "value": "barfoo",
        "content_type": null,
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"N8ZY6ZtqJGUlIggNrvZVwOw9MDVoAHupDsEtwLoohq0\"",
        "Last-Modified": "Wed, 10 Jun 2026 21:32:33 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDk0Mjky;sn=67094292",
        "x-ms-date": "Wed, 10 Jun 2026 21:32:33 GMT"
      },
      "ResponseBody": {
        "etag": "N8ZY6ZtqJGUlIggNrvZVwOw9MDVoAHupDsEtwLoohq0",
        "key": "wxyz",
        "label": null,
        "content_type": null,
        "value": "barfoo",
        "description": null,
        "tags": {},
        "locked": false,
        "last_modified": "2026-06-10T21:32:33+00:00"
      }
    },
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv?api-version=2026-04-01&tags=my_tag%3Dmy_tag_value",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDk0Mjky"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"00wWELzclWef22f82qcUDI7FbJweVOoKWZDA_JoUeD0\"",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDk0Mjkz;sn=67094293",
        "x-ms-date": "Wed, 10 Jun 2026 21:32:33 GMT"
      },
      "ResponseBody": {
        "etag": "00wWELzclWef22f82qcUDI7FbJweVOoKWZDA_JoUeD0",
        "items": []
      }
    },
[...]
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv/wxyz?api-version=2026-04-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDk0Mjk0"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"N8ZY6ZtqJGUlIggNrvZVwOw9MDVoAHupDsEtwLoohq0\"",
        "Last-Modified": "Wed, 10 Jun 2026 21:32:33 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDk0Mjk1;sn=67094295",
        "x-ms-date": "Wed, 10 Jun 2026 21:32:33 GMT"
      },
      "ResponseBody": {
        "etag": "N8ZY6ZtqJGUlIggNrvZVwOw9MDVoAHupDsEtwLoohq0",
        "key": "wxyz",
        "label": null,
        "content_type": null,
        "value": "barfoo",
        "description": null,
        "tags": {},
        "locked": false,
        "last_modified": "2026-06-10T21:32:33+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_ENDPOINT_STRING": "https://mrm90847047-azconfig-net.azconfig.io",
    "RandomSeed": "1873704199"
  }
}
