{
  "Entries": [
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv/GetBatchSettingIfChangedWithUnmodifiedPageDoesNotLogWarningSync?api-version=2026-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"wyQJhv8w28BE5UEARS5naS_LN-Ey--mxJaecHKRbGOU\"",
        "Last-Modified": "Tue, 09 Jun 2026 22:54:42 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDcyMDY1;sn=67072065",
        "x-ms-date": "Wed, 10 Jun 2026 19:17:59 GMT"
      },
      "ResponseBody": {
        "etag": "wyQJhv8w28BE5UEARS5naS_LN-Ey--mxJaecHKRbGOU",
        "key": "GetBatchSettingIfChangedWithUnmodifiedPageDoesNotLogWarningSync",
        "label": null,
        "content_type": null,
        "value": "key-483127248",
        "description": null,
        "tags": {},
        "locked": false,
        "last_modified": "2026-06-09T22:54:42+00:00"
      }
    },
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv?api-version=2026-04-01&key=key-483127248",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDcyMDY1"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"NNf6f0ZOnDFjsJlsQ5V_HHzwFVANrVTkmDgh106vEdo\"",
        "Link": "</kv?api-version=2026-04-01&key=key-483127248&after=a2V5LTQ4MzEyNzI0OAo5NA%3D%3D>; rel=\"next\"",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDcyMDY1;sn=67072065",
        "x-ms-date": "Wed, 10 Jun 2026 19:17:59 GMT"
      },
      "ResponseBody": {
        "etag": "NNf6f0ZOnDFjsJlsQ5V_HHzwFVANrVTkmDgh106vEdo",
        "items": [
          {
            "etag": "u4xckRzmZe9HGfPi7eReC1jcYP8J7yHzHkgdMWTfKkk",
            "key": "key-483127248",
            "label": "0",
            "content_type": null,
            "value": "test_value",
            "description": null,
            "tags": {},
            "locked": false,
            "last_modified": "2026-06-09T22:54:38+00:00"
          },
          {
            "etag": "O0VlBSOizDh6tZrabw4ZVYk5U3XvUxG-C0sGr_L7gMo",
            "key": "key-483127248",
            "lab[...]
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv?api-version=2026-04-01&key=key-483127248",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "\"NNf6f0ZOnDFjsJlsQ5V_HHzwFVANrVTkmDgh106vEdo\"",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDcyMDY1"
      },
      "RequestBody": null,
      "StatusCode": 304,
      "ResponseHeaders": {
        "Link": "</kv?api-version=2026-04-01&key=key-483127248&after=a2V5LTQ4MzEyNzI0OAo5NA%3D%3D>; rel=\"next\"",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDcyMDY1;sn=67072065",
        "x-ms-date": "Wed, 10 Jun 2026 19:17:59 GMT"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "APPCONFIGURATION_ENDPOINT_STRING": "https://mrm90847047-azconfig-net.azconfig.io",
    "RandomSeed": "1078420280"
  }
}
