{
  "Entries": [
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/abcde-1300190106?api-version=2023-11-01&label=abcde",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "Starts with abc",
        "content_type": null,
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"v0l8xa99694mpogHFtd5eh_L6-SU76beK7l5kP0dOlU\"",
        "Last-Modified": "Fri, 23 Jan 2026 07:16:09 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU3NTg0Ng==;sn=103575846",
        "x-ms-date": "Fri, 23 Jan 2026 07:16:09 GMT"
      },
      "ResponseBody": {
        "etag": "v0l8xa99694mpogHFtd5eh_L6-SU76beK7l5kP0dOlU",
        "key": "abcde-1300190106",
        "label": "abcde",
        "content_type": null,
        "value": "Starts with abc",
        "tags": {},
        "locked": false,
        "last_modified": "2026-01-23T07:16:09+00:00"
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv?api-version=2023-11-01&key=abc%2A",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU3NTg0Ng==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"dbCp8ghrjMGN7r-vSmtafJUczjyXRMTNyaZUrpuV_Lw\"",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU3NTg0Ng==;sn=103575846",
        "x-ms-date": "Fri, 23 Jan 2026 07:16:10 GMT"
      },
      "ResponseBody": {
        "etag": "dbCp8ghrjMGN7r-vSmtafJUczjyXRMTNyaZUrpuV_Lw",
        "items": [
          {
            "etag": "v0l8xa99694mpogHFtd5eh_L6-SU76beK7l5kP0dOlU",
            "key": "abcde-1300190106",
            "label": "abcde",
            "content_type": null,
            "value": "Starts with abc",
            "tags": {},
            "locked": false,
            "last_modified": "2026-01-23T07:16:09+00:00"
          }
        ]
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/abcde-1300190106?api-version=2023-11-01&label=abcde",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU3NTg0Ng==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"v0l8xa99694mpogHFtd5eh_L6-SU76beK7l5kP0dOlU\"",
        "Last-Modified": "Fri, 23 Jan 2026 07:16:09 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU3NTg0Nw==;sn=103575847",
        "x-ms-date": "Fri, 23 Jan 2026 07:16:10 GMT"
      },
      "ResponseBody": {
        "etag": "v0l8xa99694mpogHFtd5eh_L6-SU76beK7l5kP0dOlU",
        "key": "abcde-1300190106",
        "label": "abcde",
        "content_type": null,
        "value": "Starts with abc",
        "tags": {},
        "locked": false,
        "last_modified": "2026-01-23T07:16:09+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t9c954b564de572f9-azconfig-net.azconfig.io;Id=MdvE;Secret=Kg==",
    "RandomSeed": "1437943527"
  }
}
