{
  "Entries": [
    {
      "RequestUri": "https://camaiaor.azconfig.io/kv/GetBatchSettingIfChangedWithUnmodifiedPageDoesNotLogWarningAsync?api-version=2023-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU="
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Sync-Token": "zAJw6V16=MzoxOSM1MjE1MzM4Mw==;sn=52153383"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://camaiaor.azconfig.io/kv/key-397116366?label=0&api-version=2023-10-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "Sync-Token": "zAJw6V16=MzoxOSM1MjE1MzM4Mw==",
        "x-ms-content-sha256": "H+sD+mOxfsHGuXJsxk26UpmBYSFYyMz+d4Xie1mhJgE="
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": null,
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"_sj8gz37RRcLGj5CbBDFUasLv-H8oOoOQ4_MfdSM5GM\"",
        "Last-Modified": "Tue, 16 Apr 2024 01:23:49 GMT",
        "Sync-Token": "zAJw6V16=MzoxOSM1MjE1MzM4NA==;sn=52153384"
      },
      "ResponseBody": {
        "etag": "_sj8gz37RRcLGj5CbBDFUasLv-H8oOoOQ4_MfdSM5GM",
        "key": "key-397116366",
        "label": "0",
        "content_type": null,
        "value": "test_value",
        "tags": {},
        "locked": false,
        "last_modified": "2024-04-16T01:23:49+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://camaiaor.azconfig.io/kv?key=key-397116366&api-version=2023-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=MzoxOSM1MjE1MzQ4OQ==",
        "x-ms-content-sha256": "47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"ZlVqNaPoXMomtw59rFrZBkI4DEXp_gGSxZvgCPb8Lvw\"",
        "Link": "</kv?key=key-397116366&api-version=2023-10-01&after=a2V5LTM5NzExNjM2Ngo5NA%3D%3D>; rel=\"next\"",
        "Sync-Token": "zAJw6V16=MzoxOSM1MjE1MzQ4OQ==;sn=52153489"
      },
      "ResponseBody": {
        "etag": "ZlVqNaPoXMomtw59rFrZBkI4DEXp_gGSxZvgCPb8Lvw",
        "items": [
          {
            "etag": "_sj8gz37RRcLGj5CbBDFUasLv-H8oOoOQ4_MfdSM5GM",
            "key": "key-397116366",
            "label": "0",
            "content_type": null,
            "value": "test_value",
            "tags": {},
            "locked": false,
            "last_modified": "2024-04-16T01:23:49+00:00"
          },
          {
            "etag": "JVyfug9O3sQ1_9yeX4eKIj3X04-hBh51rGwuEvz2JwU",
            "key": "key-397116366",
            "label": "1",
            "content_ty[...]
    {
      "RequestUri": "https://camaiaor.azconfig.io/kv?key=key-397116366&api-version=2023-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "\"ZlVqNaPoXMomtw59rFrZBkI4DEXp_gGSxZvgCPb8Lvw\"",
        "Sync-Token": "zAJw6V16=MzoxOSM1MjE1MzQ4OQ==",
        "x-ms-content-sha256": "47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU="
      },
      "RequestBody": null,
      "StatusCode": 304,
      "ResponseHeaders": {
        "Link": "</kv?key=key-397116366&api-version=2023-10-01&after=a2V5LTM5NzExNjM2Ngo5NA%3D%3D>; rel=\"next\"",
        "Sync-Token": "zAJw6V16=MzoxOSM1MjE1MzQ4OQ==;sn=52153489"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://camaiaor.azconfig.io;Id=E0wp;Secret=Kg==",
    "RandomSeed": "451054838"
  }
}
