{
  "Entries": [
    {
      "RequestUri": "https://tdfcae3cf5eab7143-azconfig-net.azconfig.io/kv/GetBatchSettingIfChangedWithModifiedPageSync?api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Sync-Token": "zAJw6V16=Njo1IzUwOTcxNjk4;sn=50971698"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://tdfcae3cf5eab7143-azconfig-net.azconfig.io/kv/key-1778674160?api-version=2023-11-01&label=0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "Sync-Token": "zAJw6V16=Njo1IzUwOTcxNjk4",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": null,
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"dHWa53POzPzF8iiJQyYcFCOZEn-iJVAILl5McXeVtaE\"",
        "Last-Modified": "Fri, 18 Jul 2025 16:30:55 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzUwOTcxNjk5;sn=50971699"
      },
      "ResponseBody": {
        "etag": "dHWa53POzPzF8iiJQyYcFCOZEn-iJVAILl5McXeVtaE",
        "key": "key-1778674160",
        "label": "0",
        "content_type": null,
        "value": "test_value",
        "tags": {},
        "locked": false,
        "last_modified": "2025-07-18T16:30:55+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://tdfcae3cf5eab7143-azconfig-net.azconfig.io/kv?api-version=2023-11-01&key=key-1778674160",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Njo1IzUwOTcxODA0",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"UYaQF0FkP2I2Vd7tX1wNKM-Au5wlZhA8825UGFj2ZZM\"",
        "Link": "</kv?api-version=2023-11-01&key=key-1778674160&after=a2V5LTE3Nzg2NzQxNjAKOTQ%3D>; rel=\"next\"",
        "Sync-Token": "zAJw6V16=Njo1IzUwOTcxODA0;sn=50971804"
      },
      "ResponseBody": {
        "etag": "UYaQF0FkP2I2Vd7tX1wNKM-Au5wlZhA8825UGFj2ZZM",
        "items": [
          {
            "etag": "dHWa53POzPzF8iiJQyYcFCOZEn-iJVAILl5McXeVtaE",
            "key": "key-1778674160",
            "label": "0",
            "content_type": null,
            "value": "test_value",
            "tags": {},
            "locked": false,
            "last_modified": "2025-07-18T16:30:55+00:00"
          },
          {
            "etag": "KMLsxZYoYP9me1fQgLImjuTtXa6foTvM-WO9Vsbr_Jo",
            "key": "key-1778674160",
            "label": "1",
            "content_[...]
    {
      "RequestUri": "https://tdfcae3cf5eab7143-azconfig-net.azconfig.io/kv?api-version=2023-11-01&key=key-1778674160&after=a2V5LTE3Nzg2NzQxNjAKOTQ%3D",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Njo1IzUwOTcxODA0",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset[...]
[...]
