{
  "Entries": [
    {
      "RequestUri": "https://tdfcae3cf5eab7143-azconfig-net.azconfig.io/kv/keyFields-1260414600?api-version=2023-11-01&label=my_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "my_value",
        "content_type": "content-type",
        "tags": {
          "my_tag": "my_tag_value"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"jqgSc8n1TxHJ1f2d2ZziEWd7_aSkyvqVgrLznVkhGhE\"",
        "Last-Modified": "Thu, 12 Jun 2025 16:19:39 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzQyMjIwOTgx;sn=42220981"
      },
      "ResponseBody": {
        "etag": "jqgSc8n1TxHJ1f2d2ZziEWd7_aSkyvqVgrLznVkhGhE",
        "key": "keyFields-1260414600",
        "label": "my_label",
        "content_type": "content-type",
        "value": "my_value",
        "tags": {
          "my_tag": "my_tag_value"
        },
        "locked": false,
        "last_modified": "2025-06-12T16:19:39+00:00"
      }
    },
    {
      "RequestUri": "https://tdfcae3cf5eab7143-azconfig-net.azconfig.io/kv?api-version=2023-11-01&key=keyFields-1260414600&$Select=key%2Clabel%2Cvalue%2Ccontent_type%2Cetag%2Clast_modified%2Clocked%2Ctags",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Mzo1IzQyMjIwOTgx",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"PYNnSqsx9wG3TU5000L4-mgBkKxJF6JILQVZBuAZxBY\"",
        "Sync-Token": "zAJw6V16=Mzo1IzQyMjIwOTgx;sn=42220981"
      },
      "ResponseBody": {
        "etag": "PYNnSqsx9wG3TU5000L4-mgBkKxJF6JILQVZBuAZxBY",
        "items": [
          {
            "etag": "jqgSc8n1TxHJ1f2d2ZziEWd7_aSkyvqVgrLznVkhGhE",
            "key": "keyFields-1260414600",
            "label": "my_label",
            "content_type": "content-type",
            "value": "my_value",
            "tags": {
              "my_tag": "my_tag_value"
            },
            "locked": false,
            "last_modified": "2025-06-12T16:19:39+00:00"
          }
        ]
      }
    },
    {
      "RequestUri": "https://tdfcae3cf5eab7143-azconfig-net.azconfig.io/kv/keyFields-1260414600?api-version=2023-11-01&label=my_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Mzo1IzQyMjIwOTgx",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"jqgSc8n1TxHJ1f2d2ZziEWd7_aSkyvqVgrLznVkhGhE\"",
        "Last-Modified": "Thu, 12 Jun 2025 16:19:39 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzQyMjIwOTgy;sn=42220982"
      },
      "ResponseBody": {
        "etag": "jqgSc8n1TxHJ1f2d2ZziEWd7_aSkyvqVgrLznVkhGhE",
        "key": "keyFields-1260414600",
        "label": "my_label",
        "content_type": "content-type",
        "value": "my_value",
        "tags": {
          "my_tag": "my_tag_value"
        },
        "locked": false,
        "last_modified": "2025-06-12T16:19:39+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://tdfcae3cf5eab7143-azconfig-net.azconfig.io;Id=GAEe;Secret=Kg==",
    "RandomSeed": "862596537"
  }
}
