{
  "Entries": [
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/abcde-1324785131?api-version=2023-11-01&label=abcde",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "Starts with abc",
        "content_type": null,
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"xcuCeVPUvI7t07NKTEKPKhWd1cAJyOoooZKlbqea8fg\"",
        "Last-Modified": "Tue, 06 Jan 2026 06:34:51 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTc3MzU4NQ==;sn=101773585",
        "x-ms-date": "Tue, 06 Jan 2026 06:34:51 GMT"
      },
      "ResponseBody": {
        "etag": "xcuCeVPUvI7t07NKTEKPKhWd1cAJyOoooZKlbqea8fg",
        "key": "abcde-1324785131",
        "label": "abcde",
        "content_type": null,
        "value": "Starts with abc",
        "tags": {},
        "locked": false,
        "last_modified": "2026-01-06T06:34:51+00:00"
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv?api-version=2023-11-01&key=abc%2A",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTc3MzU4NQ==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"n1QKEqWE0vWGjyGrc_K3HTfOIQBgcGD9mKQLPutz_lM\"",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTc3MzU4NQ==;sn=101773585",
        "x-ms-date": "Tue, 06 Jan 2026 06:34:52 GMT"
      },
      "ResponseBody": {
        "etag": "n1QKEqWE0vWGjyGrc_K3HTfOIQBgcGD9mKQLPutz_lM",
        "items": [
          {
            "etag": "xcuCeVPUvI7t07NKTEKPKhWd1cAJyOoooZKlbqea8fg",
            "key": "abcde-1324785131",
            "label": "abcde",
            "content_type": null,
            "value": "Starts with abc",
            "tags": {},
            "locked": false,
            "last_modified": "2026-01-06T06:34:51+00:00"
          }
        ]
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/abcde-1324785131?api-version=2023-11-01&label=abcde",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTc3MzU4NQ==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"xcuCeVPUvI7t07NKTEKPKhWd1cAJyOoooZKlbqea8fg\"",
        "Last-Modified": "Tue, 06 Jan 2026 06:34:51 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTc3MzU4Ng==;sn=101773586",
        "x-ms-date": "Tue, 06 Jan 2026 06:34:52 GMT"
      },
      "ResponseBody": {
        "etag": "xcuCeVPUvI7t07NKTEKPKhWd1cAJyOoooZKlbqea8fg",
        "key": "abcde-1324785131",
        "label": "abcde",
        "content_type": null,
        "value": "Starts with abc",
        "tags": {},
        "locked": false,
        "last_modified": "2026-01-06T06:34:51+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t9c954b564de572f9-azconfig-net.azconfig.io;Id=MdvE;Secret=Kg==",
    "RandomSeed": "347752425"
  }
}
