{
  "Entries": [
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv/abc?api-version=2026-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "value": "abc setting",
        "content_type": null,
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"m4xYg4c7LRaPs1Hms8t9cK6geT8Cg8vwAM7Jo851BKY\"",
        "Last-Modified": "Wed, 10 Jun 2026 18:34:38 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDY4MDQ4;sn=67068048",
        "x-ms-date": "Wed, 10 Jun 2026 18:34:38 GMT"
      },
      "ResponseBody": {
        "etag": "m4xYg4c7LRaPs1Hms8t9cK6geT8Cg8vwAM7Jo851BKY",
        "key": "abc",
        "label": null,
        "content_type": null,
        "value": "abc setting",
        "description": null,
        "tags": {},
        "locked": false,
        "last_modified": "2026-06-10T18:34:38+00:00"
      }
    },
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv/xyz?api-version=2026-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDY4MDQ4"
      },
      "RequestBody": {
        "value": "xyz setting",
        "content_type": null,
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"h48P4WRrqDx37LwTkZSlH45VWzg8b4jBLteTme5P35s\"",
        "Last-Modified": "Wed, 10 Jun 2026 18:34:38 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDY4MDUw;sn=67068050",
        "x-ms-date": "Wed, 10 Jun 2026 18:34:38 GMT"
      },
      "ResponseBody": {
        "etag": "h48P4WRrqDx37LwTkZSlH45VWzg8b4jBLteTme5P35s",
        "key": "xyz",
        "label": null,
        "content_type": null,
        "value": "xyz setting",
        "description": null,
        "tags": {},
        "locked": false,
        "last_modified": "2026-06-10T18:34:38+00:00"
      }
    },
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv?api-version=2026-04-01&key=abc%5C%2Cxyz",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDY4MDUw"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"00wWELzclWef22f82qcUDI7FbJweVOoKWZDA_JoUeD0\"",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDY4MDUx;sn=67068051",
        "x-ms-date": "Wed, 10 Jun 2026 18:34:38 GMT"
      },
      "ResponseBody": {
        "etag": "00wWELzclWef22f82qcUDI7FbJweVOoKWZDA_JoUeD0",
        "items": []
      }
    },
[...]
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv/xyz?api-version=2026-04-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDY4MDUy"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"h48P4WRrqDx37LwTkZSlH45VWzg8b4jBLteTme5P35s\"",
        "Last-Modified": "Wed, 10 Jun 2026 18:34:38 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDY4MDUz;sn=67068053",
        "x-ms-date": "Wed, 10 Jun 2026 18:34:38 GMT"
      },
      "ResponseBody": {
        "etag": "h48P4WRrqDx37LwTkZSlH45VWzg8b4jBLteTme5P35s",
        "key": "xyz",
        "label": null,
        "content_type": null,
        "value": "xyz setting",
        "description": null,
        "tags": {},
        "locked": false,
        "last_modified": "2026-06-10T18:34:38+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_ENDPOINT_STRING": "https://mrm90847047-azconfig-net.azconfig.io",
    "RandomSeed": "858943208"
  }
}
