{
  "Entries": [
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/kv/keyFields-1130837479?api-version=2023-11-01&label=my_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "my_value",
        "content_type": null,
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"xsRBUkAxEVwOxLFgPg7J9r1RLmZgiP9NqZHqD6XGx3w\"",
        "Last-Modified": "Mon, 17 Nov 2025 16:50:42 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzU3NzY0Mjk5;sn=57764299",
        "x-ms-date": "Mon, 17 Nov 2025 16:50:42 GMT"
      },
      "ResponseBody": {
        "etag": "xsRBUkAxEVwOxLFgPg7J9r1RLmZgiP9NqZHqD6XGx3w",
        "key": "keyFields-1130837479",
        "label": "my_label",
        "content_type": null,
        "value": "my_value",
        "tags": {},
        "locked": false,
        "last_modified": "2025-11-17T16:50:42+00:00"
      }
    },
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/kv?$select=key%2Clabel%2Cetag&api-version=2023-11-01&key=keyFields-1130837479",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Njo1IzU3NzY0Mjk5",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"2_zA4kYgCrH10w-OLzrxuARFOq2izBse2FoDyWc3cLw\"",
        "Sync-Token": "zAJw6V16=Njo1IzU3NzY0Mjk5;sn=57764299",
        "x-ms-date": "Mon, 17 Nov 2025 16:50:42 GMT"
      },
      "ResponseBody": {
        "etag": "2_zA4kYgCrH10w-OLzrxuARFOq2izBse2FoDyWc3cLw",
        "items": [
          {
            "etag": "xsRBUkAxEVwOxLFgPg7J9r1RLmZgiP9NqZHqD6XGx3w",
            "key": "keyFields-1130837479",
            "label": "my_label"
          }
        ]
      }
    },
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/kv/keyFields-1130837479?api-version=2023-11-01&label=my_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Njo1IzU3NzY0Mjk5",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"xsRBUkAxEVwOxLFgPg7J9r1RLmZgiP9NqZHqD6XGx3w\"",
        "Last-Modified": "Mon, 17 Nov 2025 16:50:42 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzU3NzY0MzAw;sn=57764300",
        "x-ms-date": "Mon, 17 Nov 2025 16:50:42 GMT"
      },
      "ResponseBody": {
        "etag": "xsRBUkAxEVwOxLFgPg7J9r1RLmZgiP9NqZHqD6XGx3w",
        "key": "keyFields-1130837479",
        "label": "my_label",
        "content_type": null,
        "value": "my_value",
        "tags": {},
        "locked": false,
        "last_modified": "2025-11-17T16:50:42+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t8cdd9157ca7d1363-azconfig-net.azconfig.io;Id=wNKY;Secret=Kg==",
    "RandomSeed": "1788834527"
  }
}
