{
  "Entries": [
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv/key-1248275802?api-version=2026-04-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "description": "test_description"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"5_iDSIFAX3AkAM5UD7BCv_o2FP2LUFdLhipQZ9ZidJ4\"",
        "Last-Modified": "Wed, 10 Jun 2026 21:41:04 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDk0NzYx;sn=67094761",
        "x-ms-date": "Wed, 10 Jun 2026 21:41:04 GMT"
      },
      "ResponseBody": {
        "etag": "5_iDSIFAX3AkAM5UD7BCv_o2FP2LUFdLhipQZ9ZidJ4",
        "key": "key-1248275802",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "description": "test_description",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-06-10T21:41:04+00:00"
      }
    },
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv?api-version=2026-04-01&key=key-1248275802&label=test_label",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDk0NzYx"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"43USqLt8ZGX4lPqe3g4rqr8aVa79DV_ZcQ52xdO5Rp8\"",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDk0NzYx;sn=67094761",
        "x-ms-date": "Wed, 10 Jun 2026 21:41:04 GMT"
      },
      "ResponseBody": {
        "etag": "43USqLt8ZGX4lPqe3g4rqr8aVa79DV_ZcQ52xdO5Rp8",
        "items": [
          {
            "etag": "5_iDSIFAX3AkAM5UD7BCv_o2FP2LUFdLhipQZ9ZidJ4",
            "key": "key-1248275802",
            "label": "test_label",
            "content_type": "test_content_type",
            "value": "test_value",
            "description": "test_description",
            "tags": {
              "tag1": "value1",
              "tag2": "value2"
            },
            "locked": false,
            "last_modified": "2026-06-10T21:41:04+00:00"
          }
        ]
      }
    },
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv/key-1248275802?api-version=2026-04-01&label=test_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDk0NzYx"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"5_iDSIFAX3AkAM5UD7BCv_o2FP2LUFdLhipQZ9ZidJ4\"",
        "Last-Modified": "Wed, 10 Jun 2026 21:41:04 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDk0NzYy;sn=67094762",
        "x-ms-date": "Wed, 10 Jun 2026 21:41:04 GMT"
      },
      "ResponseBody": {
        "etag": "5_iDSIFAX3AkAM5UD7BCv_o2FP2LUFdLhipQZ9ZidJ4",
        "key": "key-1248275802",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "description": "test_description",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-06-10T21:41:04+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_ENDPOINT_STRING": "https://mrm90847047-azconfig-net.azconfig.io",
    "RandomSeed": "828990497"
  }
}
