{
  "Entries": [
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/abcd?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "foobar",
        "content_type": null,
        "tags": {
          "my_tag": "my_tag_value"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"Z8aR4IpP_ycLQYvHPzPNtyDXWgYrlurdiEDfD2UYdeY\"",
        "Last-Modified": "Mon, 01 Dec 2025 08:35:14 GMT",
        "Sync-Token": "zAJw6V16=NTo1Izk4Nzc1Mjkw;sn=98775290",
        "x-ms-date": "Mon, 01 Dec 2025 08:35:14 GMT"
      },
      "ResponseBody": {
        "etag": "Z8aR4IpP_ycLQYvHPzPNtyDXWgYrlurdiEDfD2UYdeY",
        "key": "abcd",
        "label": null,
        "content_type": null,
        "value": "foobar",
        "tags": {
          "my_tag": "my_tag_value"
        },
        "locked": false,
        "last_modified": "2025-12-01T08:35:14+00:00"
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/wxyz?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NTo1Izk4Nzc1Mjkw",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "barfoo",
        "content_type": null,
        "tags": {
          "my_tag": "my_tag_value"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"LHklwznYAJhY9VXx_iHRnZdZ51Uzk9lONS_DXslONNg\"",
        "Last-Modified": "Mon, 01 Dec 2025 08:35:14 GMT",
        "Sync-Token": "zAJw6V16=NTo1Izk4Nzc1Mjkz;sn=98775293",
        "x-ms-date": "Mon, 01 Dec 2025 08:35:14 GMT"
      },
      "ResponseBody": {
        "etag": "LHklwznYAJhY9VXx_iHRnZdZ51Uzk9lONS_DXslONNg",
        "key": "wxyz",
        "label": null,
        "content_type": null,
        "value": "barfoo",
        "tags": {
          "my_tag": "my_tag_value"
        },
        "locked": false,
        "last_modified": "2025-12-01T08:35:14+00:00"
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv?api-version=2023-11-01&tags=my_tag%3Dmy_tag_value",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1Izk4Nzc1Mjkz",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"Da89XNa4iEn0VfsqQ8GzZp3LYHuO-7-zhX06kMpTBqk\"",
        "Sync-Token": "zAJw6V16=NTo1Izk4Nzc1Mjk2;sn=98775296",
        "x-ms-date": "Mon, 01 Dec 2025 08:35:14 GMT"
      },
      "ResponseBody": {
        "etag": "Da89XNa4iEn0VfsqQ8GzZp3LYHuO-7-zhX06kMpTBqk",
        "items": [
          {
            "etag": "Z8aR4IpP_ycLQYvHPzPNtyDXWgYrlurdiEDfD2UYdeY",
            "key": "abcd",
            "label": null,
            "content_type": null,
            "value": "foobar",
            "tags": {
              "my_tag": "my_tag_value"
            },
            "locked": false,
            "last_modified": "2025-12-01T08:35:14+00:00"
          },
          {
            "etag": "LHklwznYAJhY9VXx_iHRnZdZ51Uzk9lONS_DXslONNg",
            "key": "wxyz",
            "label": null,
            "content_type": null,
            "value": "barfoo",
            "tags": {
              "my_tag": "my_tag_value"
            },
            "locked": false,
            "last_modified": "2025-12-01T08:35:14+00:00"
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/wxyz?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1Izk4Nzc1Mjk4",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"LHklwznYAJhY9VXx_iHRnZdZ51Uzk9lONS_DXslONNg\"",
        "Last-Modified": "Mon, 01 Dec 2025 08:35:14 GMT",
        "Sync-Token": "zAJw6V16=NTo1Izk4Nzc1Mjk5;sn=98775299",
        "x-ms-date": "Mon, 01 Dec 2025 08:35:14 GMT"
      },
      "ResponseBody": {
        "etag": "LHklwznYAJhY9VXx_iHRnZdZ51Uzk9lONS_DXslONNg",
        "key": "wxyz",
        "label": null,
        "content_type": null,
        "value": "barfoo",
        "tags": {
          "my_tag": "my_tag_value"
        },
        "locked": false,
        "last_modified": "2025-12-01T08:35:14+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t9c954b564de572f9-azconfig-net.azconfig.io;Id=MdvE;Secret=Kg==",
    "RandomSeed": "258547354"
  }
}
