{
  "Entries": [
    {
      "RequestUri": "https://tdfcae3cf5eab7143-azconfig-net.azconfig.io/kv/GetBatchSettingIfChangedWithUnmodifiedPageSync?api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"oXutbpawvsIxbVfpCMqES9tizmNR0qD27tW59UDcUM0\"",
        "Last-Modified": "Thu, 12 Jun 2025 16:19:36 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzQyMjIxNDA5;sn=42221409"
      },
      "ResponseBody": {
        "etag": "oXutbpawvsIxbVfpCMqES9tizmNR0qD27tW59UDcUM0",
        "key": "GetBatchSettingIfChangedWithUnmodifiedPageSync",
        "label": null,
        "content_type": null,
        "value": "key-144237276",
        "tags": {},
        "locked": false,
        "last_modified": "2025-06-12T16:19:36+00:00"
      }
    },
    {
      "RequestUri": "https://tdfcae3cf5eab7143-azconfig-net.azconfig.io/kv?api-version=2023-11-01&key=key-144237276",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Mzo1IzQyMjIxNDA5",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"w8wxekXgeBnIvPKZsnrVqUnj9LBXBq6kgo8e9Y3Xki8\"",
        "Link": "</kv?api-version=2023-11-01&key=key-144237276&after=a2V5LTE0NDIzNzI3Ngo5NA%3D%3D>; rel=\"next\"",
        "Sync-Token": "zAJw6V16=Mzo1IzQyMjIxNDA5;sn=42221409"
      },
      "ResponseBody": {
        "etag": "w8wxekXgeBnIvPKZsnrVqUnj9LBXBq6kgo8e9Y3Xki8",
        "items": [
          {
            "etag": "1M_mWMpqRZAK9A7KPTYCcHqESlB1vYgj_JEn4Dnls0g",
            "key": "key-144237276",
            "label": "0",
            "content_type": null,
            "value": "test_value",
            "tags": {},
            "locked": false,
            "last_modified": "2025-06-12T16:19:29+00:00"
          },
          {
            "etag": "wNrdgMkAOACYPwauNlSKf8Rznesl9125RvE1MGGS-AY",
            "key": "key-144237276",
            "label": "1",
            "content_ty[...]
    {
      "RequestUri": "https://tdfcae3cf5eab7143-azconfig-net.azconfig.io/kv?api-version=2023-11-01&key=key-144237276&after=a2V5LTE0NDIzNzI3Ngo5NA%3D%3D",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Mzo1IzQyMjIxNDA5",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvse[...]
    {
      "RequestUri": "https://tdfcae3cf5eab7143-azconfig-net.azconfig.io/kv?api-version=2023-11-01&key=key-144237276",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "\"w8wxekXgeBnIvPKZsnrVqUnj9LBXBq6kgo8e9Y3Xki8\"",
        "Sync-Token": "zAJw6V16=Mzo1IzQyMjIxNDA5",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 304,
      "ResponseHeaders": {
        "Link": "</kv?api-version=2023-11-01&key=key-144237276&after=a2V5LTE0NDIzNzI3Ngo5NA%3D%3D>; rel=\"next\"",
        "Sync-Token": "zAJw6V16=Mzo1IzQyMjIxNDA5;sn=42221409"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://tdfcae3cf5eab7143-azconfig-net.azconfig.io/kv?api-version=2023-11-01&key=key-144237276&after=a2V5LTE0NDIzNzI3Ngo5NA%3D%3D",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "\"Sok0QXtF20sH3ocMv8cY4QUqeaOvJu2p78NIlDFRQVA\"",
        "Sync-Token": "zAJw6V16=Mzo1IzQyMjIxNDA5",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 304,
      "ResponseHeaders": {
        "Sync-Token": "zAJw6V16=Mzo1IzQyMjIxNDA5;sn=42221409"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://tdfcae3cf5eab7143-azconfig-net.azconfig.io;Id=GAEe;Secret=Kg==",
    "RandomSeed": "783134590"
  }
}
