{
  "Entries": [
    {
      "RequestUri": "https://tdfcae3cf5eab7143-azconfig-net.azconfig.io/kv/GetBatchSettingPagination?api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"s8-gM37JE3uky-Jk_tTZpt3m0eikOXddHUJ0uVGvfIg\"",
        "Last-Modified": "Wed, 11 Jun 2025 16:40:57 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzQyMTUwMjk5;sn=42150299"
      },
      "ResponseBody": {
        "etag": "s8-gM37JE3uky-Jk_tTZpt3m0eikOXddHUJ0uVGvfIg",
        "key": "GetBatchSettingPagination",
        "label": null,
        "content_type": null,
        "value": "key-25617012",
        "tags": {},
        "locked": false,
        "last_modified": "2025-06-11T16:40:57+00:00"
      }
    },
    {
      "RequestUri": "https://tdfcae3cf5eab7143-azconfig-net.azconfig.io/kv?api-version=2023-11-01&key=key-25617012",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Mzo1IzQyMTUwMjk5",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"5jqRm7FnKFpCfqlJqhDSpRdEG5mhBHGfDBHk3nhqQws\"",
        "Link": "</kv?api-version=2023-11-01&key=key-25617012&after=a2V5LTI1NjE3MDEyCjk0>; rel=\"next\"",
        "Sync-Token": "zAJw6V16=Mzo1IzQyMTUwMjk5;sn=42150299"
      },
      "ResponseBody": {
        "etag": "5jqRm7FnKFpCfqlJqhDSpRdEG5mhBHGfDBHk3nhqQws",
        "items": [
          {
            "etag": "t944PEV8CquLGLvaRycZHKl2OZWZlC0kAbp2ZYWKfqI",
            "key": "key-25617012",
            "label": "0",
            "content_type": null,
            "value": "test_value",
            "tags": {},
            "locked": false,
            "last_modified": "2025-06-11T16:40:42+00:00"
          },
          {
            "etag": "M2a2Jr6rY79zyWL_i24-tAgJMkIgicoSH753ehEqYiQ",
            "key": "key-25617012",
            "label": "1",
            "content_type[...]
    {
      "RequestUri": "https://tdfcae3cf5eab7143-azconfig-net.azconfig.io/kv?api-version=2023-11-01&key=key-25617012&after=a2V5LTI1NjE3MDEyCjk0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Mzo1IzQyMTUwMjk5",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; c[...]
