{
  "Entries": [
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv/~%60%21%40%23%24%5E%26%28%29_%2B%3D%5B%5D%7B%7D%7C%3B%22%27%3C%3E.%2F--668447509?api-version=2026-04-01&label=label-~%60%21%40%23%24%5E%26%28%29_%2B%3D%5B%5D%7B%7D%7C%3B%22%27%3C%3E.%2F-",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "value": "value-~`!@#$^&()_+=[]{}|;\"'<>./-",
        "content_type": null,
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"4JIU9FLaMtCPWN9s2-YSgnxp4kRgFtjI1rlj6l0DoRc\"",
        "Last-Modified": "Wed, 10 Jun 2026 19:26:41 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDc0NzUx;sn=67074751",
        "x-ms-date": "Wed, 10 Jun 2026 19:26:41 GMT"
      },
      "ResponseBody": {
        "etag": "4JIU9FLaMtCPWN9s2-YSgnxp4kRgFtjI1rlj6l0DoRc",
        "key": "~`!@#$^&()_+=[]{}|;\"'<>./--668447509",
        "label": "label-~`!@#$^&()_+=[]{}|;\"'<>./-",
        "content_type": null,
        "value": "value-~`!@#$^&()_+=[]{}|;\"'<>./-",
        "description": null,
        "tags": {},
        "locked": false,
        "last_modified": "2026-06-10T19:26:41+00:00"
      }
    },
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv?api-version=2026-04-01&key=~%60%21%40%23%24%5E%26%28%29_%2B%3D%5B%5D%7B%7D%7C%3B%22%27%3C%3E.%2F--668447509",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDc0NzUx"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"Aful-lckHyMroh1R1I3HoqOR7kANvCR--uyP-7cEqPY\"",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDc0NzUx;sn=67074751",
        "x-ms-date": "Wed, 10 Jun 2026 19:26:41 GMT"
      },
      "ResponseBody": {
        "etag": "Aful-lckHyMroh1R1I3HoqOR7kANvCR--uyP-7cEqPY",
        "items": [
          {
            "etag": "4JIU9FLaMtCPWN9s2-YSgnxp4kRgFtjI1rlj6l0DoRc",
            "key": "~`!@#$^&()_+=[]{}|;\"'<>./--668447509",
            "label": "label-~`!@#$^&()_+=[]{}|;\"'<>./-",
            "content_type": null,
            "value": "value-~`!@#$^&()_+=[]{}|;\"'<>./-",
            "description": null,
            "tags": {},
            "locked": false,
            "last_modified": "2026-06-10T19:26:41+00:00"
          }
        ]
      }
    },
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv/~%60%21%40%23%24%5E%26%28%29_%2B%3D%5B%5D%7B%7D%7C%3B%22%27%3C%3E.%2F--668447509?api-version=2026-04-01&label=label-~%60%21%40%23%24%5E%26%28%29_%2B%3D%5B%5D%7B%7D%7C%3B%22%27%3C%3E.%2F-",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDc0NzUx"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"4JIU9FLaMtCPWN9s2-YSgnxp4kRgFtjI1rlj6l0DoRc\"",
        "Last-Modified": "Wed, 10 Jun 2026 19:26:41 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDc0NzUy;sn=67074752",
        "x-ms-date": "Wed, 10 Jun 2026 19:26:41 GMT"
      },
      "ResponseBody": {
        "etag": "4JIU9FLaMtCPWN9s2-YSgnxp4kRgFtjI1rlj6l0DoRc",
        "key": "~`!@#$^&()_+=[]{}|;\"'<>./--668447509",
        "label": "label-~`!@#$^&()_+=[]{}|;\"'<>./-",
        "content_type": null,
        "value": "value-~`!@#$^&()_+=[]{}|;\"'<>./-",
        "description": null,
        "tags": {},
        "locked": false,
        "last_modified": "2026-06-10T19:26:41+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_ENDPOINT_STRING": "https://mrm90847047-azconfig-net.azconfig.io",
    "RandomSeed": "636969920"
  }
}
