{
  "Entries": [
    {
      "RequestUri": "https://azure-sdk-for-net-test.azconfig.io/kv/keyFields-1440260371?api-version=2026-04-01&label=my_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "my_value",
        "content_type": "content-type",
        "tags": {
          "my_tag": "my_tag_value"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"IPC_qe8CyYW6K0zzJiHFmzSsZofSyLFF_g_JfSY5ke4\"",
        "Last-Modified": "Fri, 29 May 2026 19:59:17 GMT",
        "Sync-Token": "zAJw6V16=NToxNyM0ODE0OTUwOA==;sn=48149508",
        "x-ms-date": "Fri, 29 May 2026 19:59:17 GMT"
      },
      "ResponseBody": {
        "etag": "IPC_qe8CyYW6K0zzJiHFmzSsZofSyLFF_g_JfSY5ke4",
        "key": "keyFields-1440260371",
        "label": "my_label",
        "content_type": "content-type",
        "value": "my_value",
        "description": null,
        "tags": {
          "my_tag": "my_tag_value"
        },
        "locked": false,
        "last_modified": "2026-05-29T19:59:17+00:00"
      }
    },
    {
      "RequestUri": "https://azure-sdk-for-net-test.azconfig.io/kv?$select=key%2Clabel%2Cvalue%2Ccontent_type%2Cetag%2Clast_modified%2Clocked%2Ctags&api-version=2026-04-01&key=keyFields-1440260371",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NToxNyM0ODE0OTUwOA==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"0zUPAML4bo8HHSPTqtEUXbVGBoUieneOZaiegU6L6ZI\"",
        "Sync-Token": "zAJw6V16=NToxNyM0ODE0OTUwOA==;sn=48149508",
        "x-ms-date": "Fri, 29 May 2026 19:59:17 GMT"
      },
      "ResponseBody": {
        "etag": "0zUPAML4bo8HHSPTqtEUXbVGBoUieneOZaiegU6L6ZI",
        "items": [
          {
            "etag": "IPC_qe8CyYW6K0zzJiHFmzSsZofSyLFF_g_JfSY5ke4",
            "key": "keyFields-1440260371",
            "label": "my_label",
            "content_type": "content-type",
            "value": "my_value",
            "tags": {
              "my_tag": "my_tag_value"
            },
            "locked": false,
            "last_modified": "2026-05-29T19:59:17+00:00"
          }
        ]
      }
    },
    {
      "RequestUri": "https://azure-sdk-for-net-test.azconfig.io/kv/keyFields-1440260371?api-version=2026-04-01&label=my_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NToxNyM0ODE0OTUwOA==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"IPC_qe8CyYW6K0zzJiHFmzSsZofSyLFF_g_JfSY5ke4\"",
        "Last-Modified": "Fri, 29 May 2026 19:59:17 GMT",
        "Sync-Token": "zAJw6V16=NToxNyM0ODE0OTUwOQ==;sn=48149509",
        "x-ms-date": "Fri, 29 May 2026 19:59:17 GMT"
      },
      "ResponseBody": {
        "etag": "IPC_qe8CyYW6K0zzJiHFmzSsZofSyLFF_g_JfSY5ke4",
        "key": "keyFields-1440260371",
        "label": "my_label",
        "content_type": "content-type",
        "value": "my_value",
        "description": null,
        "tags": {
          "my_tag": "my_tag_value"
        },
        "locked": false,
        "last_modified": "2026-05-29T19:59:17+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://azure-sdk-for-net-test.azconfig.io;Id=8ePU;Secret=Kg==",
    "RandomSeed": "652589026"
  }
}
