{
  "Entries": [
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-2072225067?api-version=2023-11-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"GDTPK6UvEfBa_TN86Lg4TGeCtGydTAfV3TQgp-4Rl18\"",
        "Last-Modified": "Mon, 01 Dec 2025 08:41:50 GMT",
        "Sync-Token": "zAJw6V16=NTo1Izk4Nzc2Njc4;sn=98776678",
        "x-ms-date": "Mon, 01 Dec 2025 08:41:50 GMT"
      },
      "ResponseBody": {
        "etag": "GDTPK6UvEfBa_TN86Lg4TGeCtGydTAfV3TQgp-4Rl18",
        "key": "key-2072225067",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2025-12-01T08:41:50+00:00"
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv?api-version=2023-11-01&key=key-2072225067&label=test_label",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1Izk4Nzc2Njc4",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"eCnq241A-J-QHwYL-Vp8G2LfgkXx05ZUQz_JpRm5BE0\"",
        "Sync-Token": "zAJw6V16=NTo1Izk4Nzc2Njc4;sn=98776678",
        "x-ms-date": "Mon, 01 Dec 2025 08:41:51 GMT"
      },
      "ResponseBody": {
        "etag": "eCnq241A-J-QHwYL-Vp8G2LfgkXx05ZUQz_JpRm5BE0",
        "items": [
          {
            "etag": "GDTPK6UvEfBa_TN86Lg4TGeCtGydTAfV3TQgp-4Rl18",
            "key": "key-2072225067",
            "label": "test_label",
            "content_type": "test_content_type",
            "value": "test_value",
            "tags": {
              "tag1": "value1",
              "tag2": "value2"
            },
            "locked": false,
            "last_modified": "2025-12-01T08:41:50+00:00"
          }
        ]
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-2072225067?api-version=2023-11-01&label=test_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1Izk4Nzc2Njc4",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"GDTPK6UvEfBa_TN86Lg4TGeCtGydTAfV3TQgp-4Rl18\"",
        "Last-Modified": "Mon, 01 Dec 2025 08:41:50 GMT",
        "Sync-Token": "zAJw6V16=NTo1Izk4Nzc2Njc5;sn=98776679",
        "x-ms-date": "Mon, 01 Dec 2025 08:41:51 GMT"
      },
      "ResponseBody": {
        "etag": "GDTPK6UvEfBa_TN86Lg4TGeCtGydTAfV3TQgp-4Rl18",
        "key": "key-2072225067",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2025-12-01T08:41:50+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t9c954b564de572f9-azconfig-net.azconfig.io;Id=MdvE;Secret=Kg==",
    "RandomSeed": "315243197"
  }
}
