{
  "Entries": [
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/GetBatchSettingPagination?api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"mR8YrVdgAono2_k4YQVos-0XOGgs9uKNfynKPaDZg5U\"",
        "Last-Modified": "Mon, 01 Dec 2025 08:36:11 GMT",
        "Sync-Token": "zAJw6V16=NTo1Izk4Nzc2Njgz;sn=98776683",
        "x-ms-date": "Mon, 01 Dec 2025 08:41:52 GMT"
      },
      "ResponseBody": {
        "etag": "mR8YrVdgAono2_k4YQVos-0XOGgs9uKNfynKPaDZg5U",
        "key": "GetBatchSettingPagination",
        "label": null,
        "content_type": null,
        "value": "key-189612546",
        "tags": {},
        "locked": false,
        "last_modified": "2025-12-01T08:36:11+00:00"
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv?api-version=2023-11-01&key=key-189612546",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1Izk4Nzc2Njgz",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"ZE37lBTzNlAovN2PWj9le5d8yDRFjBPnPOe3OwkSEUQ\"",
        "Link": "</kv?api-version=2023-11-01&key=key-189612546&after=a2V5LTE4OTYxMjU0Ngo5NA%3D%3D>; rel=\"next\"",
        "Sync-Token": "zAJw6V16=NTo1Izk4Nzc2Njgz;sn=98776683",
        "x-ms-date": "Mon, 01 Dec 2025 08:41:52 GMT"
      },
      "ResponseBody": {
        "etag": "ZE37lBTzNlAovN2PWj9le5d8yDRFjBPnPOe3OwkSEUQ",
        "items": [
          {
            "etag": "s8hOt1yD57Fr-JtIaIVsxQwYQg4XAjdSVZ8CYs2lVd8",
            "key": "key-189612546",
            "label": "0",
            "content_type": null,
            "value": "test_value",
            "tags": {},
            "locked": false,
            "last_modified": "2025-12-01T08:35:58+00:00"
          },
          {
            "etag": "k3aAjidHTKJmwDZxMViHc2xiYEMh07EmIs8GrM5Cn6U",
            "key": "key-189612546",
            "label": "1",
            "content_ty[...]
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv?after=a2V5LTE4OTYxMjU0Ngo5NA%3D%3D&api-version=2023-11-01&key=key-189612546",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1Izk4Nzc2Njgz",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvse[...]
