{
  "Entries": [
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/keyFields-686099939?api-version=2023-11-01&label=my_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "my_value",
        "content_type": "content-type",
        "tags": {
          "my_tag": "my_tag_value"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"0qLl9L4VAHrwl0xUGw0FlhBwPJDnwZuPvA9HNqc0Fto\"",
        "Last-Modified": "Thu, 22 Jan 2026 01:39:00 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzQ3Mzk1MA==;sn=103473950",
        "x-ms-date": "Thu, 22 Jan 2026 01:39:00 GMT"
      },
      "ResponseBody": {
        "etag": "0qLl9L4VAHrwl0xUGw0FlhBwPJDnwZuPvA9HNqc0Fto",
        "key": "keyFields-686099939",
        "label": "my_label",
        "content_type": "content-type",
        "value": "my_value",
        "tags": {
          "my_tag": "my_tag_value"
        },
        "locked": false,
        "last_modified": "2026-01-22T01:39:00+00:00"
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv?$select=key%2Clabel%2Cvalue%2Ccontent_type%2Cetag%2Clast_modified%2Clocked%2Ctags&api-version=2023-11-01&key=keyFields-686099939",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzQ3Mzk1MA==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"kURUzRpfJe7SFFzjA-5A4oFoszFbv7T1GK4l7_FJzOY\"",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzQ3Mzk1MA==;sn=103473950",
        "x-ms-date": "Thu, 22 Jan 2026 01:39:00 GMT"
      },
      "ResponseBody": {
        "etag": "kURUzRpfJe7SFFzjA-5A4oFoszFbv7T1GK4l7_FJzOY",
        "items": [
          {
            "etag": "0qLl9L4VAHrwl0xUGw0FlhBwPJDnwZuPvA9HNqc0Fto",
            "key": "keyFields-686099939",
            "label": "my_label",
            "content_type": "content-type",
            "value": "my_value",
            "tags": {
              "my_tag": "my_tag_value"
            },
            "locked": false,
            "last_modified": "2026-01-22T01:39:00+00:00"
          }
        ]
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/keyFields-686099939?api-version=2023-11-01&label=my_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzQ3Mzk1MA==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"0qLl9L4VAHrwl0xUGw0FlhBwPJDnwZuPvA9HNqc0Fto\"",
        "Last-Modified": "Thu, 22 Jan 2026 01:39:00 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzQ3Mzk1MQ==;sn=103473951",
        "x-ms-date": "Thu, 22 Jan 2026 01:39:01 GMT"
      },
      "ResponseBody": {
        "etag": "0qLl9L4VAHrwl0xUGw0FlhBwPJDnwZuPvA9HNqc0Fto",
        "key": "keyFields-686099939",
        "label": "my_label",
        "content_type": "content-type",
        "value": "my_value",
        "tags": {
          "my_tag": "my_tag_value"
        },
        "locked": false,
        "last_modified": "2026-01-22T01:39:00+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t9c954b564de572f9-azconfig-net.azconfig.io;Id=MdvE;Secret=Kg==",
    "RandomSeed": "10286549"
  }
}
