{
  "Entries": [
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/keyFields-1139372644?api-version=2023-11-01&label=my_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "my_value",
        "content_type": "content-type",
        "tags": {
          "my_tag": "my_tag_value"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"FfEOdTHX44iXSSgtNfODm912Frj7fDeC9V9Ts3dlZE8\"",
        "Last-Modified": "Fri, 23 Jan 2026 07:16:13 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU3NTg3NA==;sn=103575874",
        "x-ms-date": "Fri, 23 Jan 2026 07:16:13 GMT"
      },
      "ResponseBody": {
        "etag": "FfEOdTHX44iXSSgtNfODm912Frj7fDeC9V9Ts3dlZE8",
        "key": "keyFields-1139372644",
        "label": "my_label",
        "content_type": "content-type",
        "value": "my_value",
        "tags": {
          "my_tag": "my_tag_value"
        },
        "locked": false,
        "last_modified": "2026-01-23T07:16:13+00:00"
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv?$select=key%2Clabel%2Cvalue%2Ccontent_type%2Cetag%2Clast_modified%2Clocked%2Ctags&api-version=2023-11-01&key=keyFields-1139372644",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU3NTg3NA==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"0BRWb5HvStlZ8pUws5Gwma08yZKmux4-fY6TVMTGo0E\"",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU3NTg3NA==;sn=103575874",
        "x-ms-date": "Fri, 23 Jan 2026 07:16:13 GMT"
      },
      "ResponseBody": {
        "etag": "0BRWb5HvStlZ8pUws5Gwma08yZKmux4-fY6TVMTGo0E",
        "items": [
          {
            "etag": "FfEOdTHX44iXSSgtNfODm912Frj7fDeC9V9Ts3dlZE8",
            "key": "keyFields-1139372644",
            "label": "my_label",
            "content_type": "content-type",
            "value": "my_value",
            "tags": {
              "my_tag": "my_tag_value"
            },
            "locked": false,
            "last_modified": "2026-01-23T07:16:13+00:00"
          }
        ]
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/keyFields-1139372644?api-version=2023-11-01&label=my_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU3NTg3NA==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"FfEOdTHX44iXSSgtNfODm912Frj7fDeC9V9Ts3dlZE8\"",
        "Last-Modified": "Fri, 23 Jan 2026 07:16:13 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU3NTg3NQ==;sn=103575875",
        "x-ms-date": "Fri, 23 Jan 2026 07:16:13 GMT"
      },
      "ResponseBody": {
        "etag": "FfEOdTHX44iXSSgtNfODm912Frj7fDeC9V9Ts3dlZE8",
        "key": "keyFields-1139372644",
        "label": "my_label",
        "content_type": "content-type",
        "value": "my_value",
        "tags": {
          "my_tag": "my_tag_value"
        },
        "locked": false,
        "last_modified": "2026-01-23T07:16:13+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t9c954b564de572f9-azconfig-net.azconfig.io;Id=MdvE;Secret=Kg==",
    "RandomSeed": "1625553894"
  }
}
