{
  "Entries": [
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/abcd?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "foobar",
        "content_type": null,
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"hPSxwLlSsLikxhAztSnUDtEZYGzgEe8G0eU8ShZZBdg\"",
        "Last-Modified": "Tue, 06 Jan 2026 06:34:43 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTc3MzU2OQ==;sn=101773569",
        "x-ms-date": "Tue, 06 Jan 2026 06:34:43 GMT"
      },
      "ResponseBody": {
        "etag": "hPSxwLlSsLikxhAztSnUDtEZYGzgEe8G0eU8ShZZBdg",
        "key": "abcd",
        "label": null,
        "content_type": null,
        "value": "foobar",
        "tags": {},
        "locked": false,
        "last_modified": "2026-01-06T06:34:43+00:00"
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/wxyz?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTc3MzU2OQ==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "barfoo",
        "content_type": null,
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"BYcNWENSQJAAaFUMLYq1Jgvgq0C8hApzcPvFGrSBW_4\"",
        "Last-Modified": "Tue, 06 Jan 2026 06:34:43 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTc3MzU3MQ==;sn=101773571",
        "x-ms-date": "Tue, 06 Jan 2026 06:34:43 GMT"
      },
      "ResponseBody": {
        "etag": "BYcNWENSQJAAaFUMLYq1Jgvgq0C8hApzcPvFGrSBW_4",
        "key": "wxyz",
        "label": null,
        "content_type": null,
        "value": "barfoo",
        "tags": {},
        "locked": false,
        "last_modified": "2026-01-06T06:34:43+00:00"
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv?api-version=2023-11-01&tags=my_tag%3Dmy_tag_value",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTc3MzU3MQ==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"00wWELzclWef22f82qcUDI7FbJweVOoKWZDA_JoUeD0\"",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTc3MzU3Mg==;sn=101773572",
        "x-ms-date": "Tue, 06 Jan 2026 06:34:43 GMT"
      },
      "ResponseBody": {
        "etag": "00wWELzclWef22f82qcUDI7FbJweVOoKWZDA_JoUeD0",
        "items": []
      }
    },
[...]
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/wxyz?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTc3MzU3Mw==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"BYcNWENSQJAAaFUMLYq1Jgvgq0C8hApzcPvFGrSBW_4\"",
        "Last-Modified": "Tue, 06 Jan 2026 06:34:43 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTc3MzU3NA==;sn=101773574",
        "x-ms-date": "Tue, 06 Jan 2026 06:34:44 GMT"
      },
      "ResponseBody": {
        "etag": "BYcNWENSQJAAaFUMLYq1Jgvgq0C8hApzcPvFGrSBW_4",
        "key": "wxyz",
        "label": null,
        "content_type": null,
        "value": "barfoo",
        "tags": {},
        "locked": false,
        "last_modified": "2026-01-06T06:34:43+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t9c954b564de572f9-azconfig-net.azconfig.io;Id=MdvE;Secret=Kg==",
    "RandomSeed": "633663624"
  }
}
