{
  "Entries": [
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/abcd?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "foobar",
        "content_type": null,
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"kecDZp4ZjAJu0ZUK8B5NYUMCIqoy33WjCQwrGpV-oI0\"",
        "Last-Modified": "Tue, 23 Dec 2025 05:42:58 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTA0OTM0Mg==;sn=101049342",
        "x-ms-date": "Tue, 23 Dec 2025 05:42:58 GMT"
      },
      "ResponseBody": {
        "etag": "kecDZp4ZjAJu0ZUK8B5NYUMCIqoy33WjCQwrGpV-oI0",
        "key": "abcd",
        "label": null,
        "content_type": null,
        "value": "foobar",
        "tags": {},
        "locked": false,
        "last_modified": "2025-12-23T05:42:58+00:00"
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/wxyz?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTA0OTM0Mg==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "barfoo",
        "content_type": null,
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"mCe1E4AY6hAZu0uNZgJvzRhEO1wcT5QEgoMGIprnJ9U\"",
        "Last-Modified": "Tue, 23 Dec 2025 05:42:58 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTA0OTM0NA==;sn=101049344",
        "x-ms-date": "Tue, 23 Dec 2025 05:42:58 GMT"
      },
      "ResponseBody": {
        "etag": "mCe1E4AY6hAZu0uNZgJvzRhEO1wcT5QEgoMGIprnJ9U",
        "key": "wxyz",
        "label": null,
        "content_type": null,
        "value": "barfoo",
        "tags": {},
        "locked": false,
        "last_modified": "2025-12-23T05:42:58+00:00"
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv?api-version=2023-11-01&tags=my_tag%3Dmy_tag_value",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTA0OTM0NA==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"00wWELzclWef22f82qcUDI7FbJweVOoKWZDA_JoUeD0\"",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTA0OTM0NQ==;sn=101049345",
        "x-ms-date": "Tue, 23 Dec 2025 05:42:58 GMT"
      },
      "ResponseBody": {
        "etag": "00wWELzclWef22f82qcUDI7FbJweVOoKWZDA_JoUeD0",
        "items": []
      }
    },
[...]
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/wxyz?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTA0OTM0Ng==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"mCe1E4AY6hAZu0uNZgJvzRhEO1wcT5QEgoMGIprnJ9U\"",
        "Last-Modified": "Tue, 23 Dec 2025 05:42:58 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTA0OTM0Nw==;sn=101049347",
        "x-ms-date": "Tue, 23 Dec 2025 05:42:59 GMT"
      },
      "ResponseBody": {
        "etag": "mCe1E4AY6hAZu0uNZgJvzRhEO1wcT5QEgoMGIprnJ9U",
        "key": "wxyz",
        "label": null,
        "content_type": null,
        "value": "barfoo",
        "tags": {},
        "locked": false,
        "last_modified": "2025-12-23T05:42:58+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t9c954b564de572f9-azconfig-net.azconfig.io;Id=MdvE;Secret=Kg==",
    "RandomSeed": "1285608413"
  }
}
