{
  "Entries": [
    {
      "RequestUri": "https://azure-sdk-for-net-test.azconfig.io/kv/keyFields-863945289?api-version=2026-04-01&label=my_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "my_value",
        "content_type": null,
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"BCb2N8UuaBNYB0cPiG5TjU_kKfrW77YkRFIeBYsuqrw\"",
        "Last-Modified": "Fri, 29 May 2026 19:54:23 GMT",
        "Sync-Token": "zAJw6V16=NToxNyM0ODE0ODM5MA==;sn=48148390",
        "x-ms-date": "Fri, 29 May 2026 19:54:23 GMT"
      },
      "ResponseBody": {
        "etag": "BCb2N8UuaBNYB0cPiG5TjU_kKfrW77YkRFIeBYsuqrw",
        "key": "keyFields-863945289",
        "label": "my_label",
        "content_type": null,
        "value": "my_value",
        "description": null,
        "tags": {},
        "locked": false,
        "last_modified": "2026-05-29T19:54:23+00:00"
      }
    },
    {
      "RequestUri": "https://azure-sdk-for-net-test.azconfig.io/kv?$select=key%2Clabel%2Cetag&api-version=2026-04-01&key=keyFields-863945289",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NToxNyM0ODE0ODM5MA==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"4KIn-Q6fBpaXeKacTCtVMzOtDve_9z191B8rQ3eHhrM\"",
        "Sync-Token": "zAJw6V16=NToxNyM0ODE0ODM5MA==;sn=48148390",
        "x-ms-date": "Fri, 29 May 2026 19:54:23 GMT"
      },
      "ResponseBody": {
        "etag": "4KIn-Q6fBpaXeKacTCtVMzOtDve_9z191B8rQ3eHhrM",
        "items": [
          {
            "etag": "BCb2N8UuaBNYB0cPiG5TjU_kKfrW77YkRFIeBYsuqrw",
            "key": "keyFields-863945289",
            "label": "my_label"
          }
        ]
      }
    },
    {
      "RequestUri": "https://azure-sdk-for-net-test.azconfig.io/kv/keyFields-863945289?api-version=2026-04-01&label=my_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NToxNyM0ODE0ODM5MA==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"BCb2N8UuaBNYB0cPiG5TjU_kKfrW77YkRFIeBYsuqrw\"",
        "Last-Modified": "Fri, 29 May 2026 19:54:23 GMT",
        "Sync-Token": "zAJw6V16=NToxNyM0ODE0ODM5MQ==;sn=48148391",
        "x-ms-date": "Fri, 29 May 2026 19:54:23 GMT"
      },
      "ResponseBody": {
        "etag": "BCb2N8UuaBNYB0cPiG5TjU_kKfrW77YkRFIeBYsuqrw",
        "key": "keyFields-863945289",
        "label": "my_label",
        "content_type": null,
        "value": "my_value",
        "description": null,
        "tags": {},
        "locked": false,
        "last_modified": "2026-05-29T19:54:23+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://azure-sdk-for-net-test.azconfig.io;Id=8ePU;Secret=Kg==",
    "RandomSeed": "1290178654"
  }
}
