{
  "Entries": [
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/keyFields-1495602976?api-version=2023-11-01&label=my_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "my_value",
        "content_type": "content-type",
        "tags": {
          "my_tag": "my_tag_value"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"v4DGytWHZKEW8l4bjN28WJGOyusxWYWkwpnp59ZrJQg\"",
        "Last-Modified": "Fri, 23 Jan 2026 07:10:43 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU3NTI4Mg==;sn=103575282",
        "x-ms-date": "Fri, 23 Jan 2026 07:10:43 GMT"
      },
      "ResponseBody": {
        "etag": "v4DGytWHZKEW8l4bjN28WJGOyusxWYWkwpnp59ZrJQg",
        "key": "keyFields-1495602976",
        "label": "my_label",
        "content_type": "content-type",
        "value": "my_value",
        "tags": {
          "my_tag": "my_tag_value"
        },
        "locked": false,
        "last_modified": "2026-01-23T07:10:43+00:00"
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv?$select=key%2Clabel%2Cvalue%2Ccontent_type%2Cetag%2Clast_modified%2Clocked%2Ctags&api-version=2023-11-01&key=keyFields-1495602976",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU3NTI4Mg==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"2v9BZrdUIFD8FT6QzYfAM2Mmvw5471Rzp8lPLhsYZXU\"",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU3NTI4Mg==;sn=103575282",
        "x-ms-date": "Fri, 23 Jan 2026 07:10:44 GMT"
      },
      "ResponseBody": {
        "etag": "2v9BZrdUIFD8FT6QzYfAM2Mmvw5471Rzp8lPLhsYZXU",
        "items": [
          {
            "etag": "v4DGytWHZKEW8l4bjN28WJGOyusxWYWkwpnp59ZrJQg",
            "key": "keyFields-1495602976",
            "label": "my_label",
            "content_type": "content-type",
            "value": "my_value",
            "tags": {
              "my_tag": "my_tag_value"
            },
            "locked": false,
            "last_modified": "2026-01-23T07:10:43+00:00"
          }
        ]
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/keyFields-1495602976?api-version=2023-11-01&label=my_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU3NTI4Mg==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"v4DGytWHZKEW8l4bjN28WJGOyusxWYWkwpnp59ZrJQg\"",
        "Last-Modified": "Fri, 23 Jan 2026 07:10:43 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU3NTI4Mw==;sn=103575283",
        "x-ms-date": "Fri, 23 Jan 2026 07:10:44 GMT"
      },
      "ResponseBody": {
        "etag": "v4DGytWHZKEW8l4bjN28WJGOyusxWYWkwpnp59ZrJQg",
        "key": "keyFields-1495602976",
        "label": "my_label",
        "content_type": "content-type",
        "value": "my_value",
        "tags": {
          "my_tag": "my_tag_value"
        },
        "locked": false,
        "last_modified": "2026-01-23T07:10:43+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t9c954b564de572f9-azconfig-net.azconfig.io;Id=MdvE;Secret=Kg==",
    "RandomSeed": "1914869781"
  }
}
