{
  "Entries": [
    {
      "RequestUri": "https://tdfcae3cf5eab7143-azconfig-net.azconfig.io/kv/keyFields-687299645?label=my_label&api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "my_value",
        "content_type": "content-type",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"zL8U0lB47F9yqtsqRzc1SaBb14m1tE1nUKxU8s-RCmc\"",
        "Last-Modified": "Wed, 24 Jul 2024 15:44:52 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzMyMjcxNjY0;sn=32271664"
      },
      "ResponseBody": {
        "etag": "zL8U0lB47F9yqtsqRzc1SaBb14m1tE1nUKxU8s-RCmc",
        "key": "keyFields-687299645",
        "label": "my_label",
        "content_type": "content-type",
        "value": "my_value",
        "tags": {},
        "locked": false,
        "last_modified": "2024-07-24T15:44:52+00:00"
      }
    },
    {
      "RequestUri": "https://tdfcae3cf5eab7143-azconfig-net.azconfig.io/kv?key=keyFields-687299645&api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Njo1IzMyMjcxNjY0",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"TWgZXCOWuob-N95lfz6jCQugHEn5QoDIdhoprSsOHT8\"",
        "Sync-Token": "zAJw6V16=Njo1IzMyMjcxNjY0;sn=32271664"
      },
      "ResponseBody": {
        "etag": "TWgZXCOWuob-N95lfz6jCQugHEn5QoDIdhoprSsOHT8",
        "items": [
          {
            "etag": "zL8U0lB47F9yqtsqRzc1SaBb14m1tE1nUKxU8s-RCmc",
            "key": "keyFields-687299645",
            "label": "my_label",
            "content_type": "content-type",
            "value": "my_value",
            "tags": {},
            "locked": false,
            "last_modified": "2024-07-24T15:44:52+00:00"
          }
        ]
      }
    },
    {
      "RequestUri": "https://tdfcae3cf5eab7143-azconfig-net.azconfig.io/kv/keyFields-687299645?label=my_label&api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Njo1IzMyMjcxNjY0",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"zL8U0lB47F9yqtsqRzc1SaBb14m1tE1nUKxU8s-RCmc\"",
        "Last-Modified": "Wed, 24 Jul 2024 15:44:52 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzMyMjcxNjY1;sn=32271665"
      },
      "ResponseBody": {
        "etag": "zL8U0lB47F9yqtsqRzc1SaBb14m1tE1nUKxU8s-RCmc",
        "key": "keyFields-687299645",
        "label": "my_label",
        "content_type": "content-type",
        "value": "my_value",
        "tags": {},
        "locked": false,
        "last_modified": "2024-07-24T15:44:52+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://tdfcae3cf5eab7143-azconfig-net.azconfig.io;Id=MEKF;Secret=Kg==",
    "RandomSeed": "1878589180"
  }
}
