{
  "Entries": [
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/keyFields-1573479980?api-version=2023-11-01&label=my_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "my_value",
        "content_type": null,
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"sJSGr0OQNh6VM8pIwCwjQK_GOBFOIvMeENnwCmIU9aU\"",
        "Last-Modified": "Mon, 26 Jan 2026 05:47:36 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzg1MjIyOQ==;sn=103852229",
        "x-ms-date": "Mon, 26 Jan 2026 05:47:36 GMT"
      },
      "ResponseBody": {
        "etag": "sJSGr0OQNh6VM8pIwCwjQK_GOBFOIvMeENnwCmIU9aU",
        "key": "keyFields-1573479980",
        "label": "my_label",
        "content_type": null,
        "value": "my_value",
        "tags": {},
        "locked": false,
        "last_modified": "2026-01-26T05:47:36+00:00"
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv?$select=key%2Clabel%2Cetag&api-version=2023-11-01&key=keyFields-1573479980",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzg1MjIyOQ==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"h2bmCvw8qEscZtv23D7FsxCnZF_PZusfAwjDVbW_O-k\"",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzg1MjIyOQ==;sn=103852229",
        "x-ms-date": "Mon, 26 Jan 2026 05:47:36 GMT"
      },
      "ResponseBody": {
        "etag": "h2bmCvw8qEscZtv23D7FsxCnZF_PZusfAwjDVbW_O-k",
        "items": [
          {
            "etag": "sJSGr0OQNh6VM8pIwCwjQK_GOBFOIvMeENnwCmIU9aU",
            "key": "keyFields-1573479980",
            "label": "my_label"
          }
        ]
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/keyFields-1573479980?api-version=2023-11-01&label=my_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzg1MjIyOQ==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"sJSGr0OQNh6VM8pIwCwjQK_GOBFOIvMeENnwCmIU9aU\"",
        "Last-Modified": "Mon, 26 Jan 2026 05:47:36 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzg1MjIzMA==;sn=103852230",
        "x-ms-date": "Mon, 26 Jan 2026 05:47:37 GMT"
      },
      "ResponseBody": {
        "etag": "sJSGr0OQNh6VM8pIwCwjQK_GOBFOIvMeENnwCmIU9aU",
        "key": "keyFields-1573479980",
        "label": "my_label",
        "content_type": null,
        "value": "my_value",
        "tags": {},
        "locked": false,
        "last_modified": "2026-01-26T05:47:36+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t9c954b564de572f9-azconfig-net.azconfig.io;Id=MdvE;Secret=Kg==",
    "RandomSeed": "128338113"
  }
}
