{
  "Entries": [
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv/ab%2Ccd?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "value": "comma in key",
        "content_type": null,
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"NZAw10gTAFXkEO1p8emcIpNjP_9Oxjoq-DtL_Jgpfps\"",
        "Last-Modified": "Tue, 09 Jun 2026 23:02:37 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY2OTk2NTAy;sn=66996502",
        "x-ms-date": "Tue, 09 Jun 2026 23:02:37 GMT"
      },
      "ResponseBody": {
        "etag": "NZAw10gTAFXkEO1p8emcIpNjP_9Oxjoq-DtL_Jgpfps",
        "key": "ab,cd",
        "label": null,
        "content_type": null,
        "value": "comma in key",
        "tags": {},
        "locked": false,
        "last_modified": "2026-06-09T23:02:37+00:00"
      }
    },
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv/wx%2Cyz?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=Mzo1IzY2OTk2NTAy"
      },
      "RequestBody": {
        "value": "comma in key",
        "content_type": null,
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"l82tc8ds_gPIYNYkeMQKo_WkMlBVCDc6mqtnF8qKBIc\"",
        "Last-Modified": "Tue, 09 Jun 2026 23:02:37 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY2OTk2NTA0;sn=66996504",
        "x-ms-date": "Tue, 09 Jun 2026 23:02:37 GMT"
      },
      "ResponseBody": {
        "etag": "l82tc8ds_gPIYNYkeMQKo_WkMlBVCDc6mqtnF8qKBIc",
        "key": "wx,yz",
        "label": null,
        "content_type": null,
        "value": "comma in key",
        "tags": {},
        "locked": false,
        "last_modified": "2026-06-09T23:02:37+00:00"
      }
    },
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv?api-version=2023-11-01&key=ab%5C%2Ccd%2Cwx%5C%2Cyz",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Mzo1IzY2OTk2NTA0"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"dPPdUzVvFFBQaxsmX6CUTBBQ4RWheGsJEHx144OnyXY\"",
        "Sync-Token": "zAJw6V16=Mzo1IzY2OTk2NTA1;sn=66996505",
        "x-ms-date": "Tue, 09 Jun 2026 23:02:37 GMT"
      },
      "ResponseBody": {
        "etag": "dPPdUzVvFFBQaxsmX6CUTBBQ4RWheGsJEHx144OnyXY",
        "items": [
          {
            "etag": "NZAw10gTAFXkEO1p8emcIpNjP_9Oxjoq-DtL_Jgpfps",
            "key": "ab,cd",
            "label": null,
            "content_type": null,
            "value": "comma in key",
            "tags": {},
            "locked": false,
            "last_modified": "2026-06-09T23:02:37+00:00"
          },
          {
            "etag": "l82tc8ds_gPIYNYkeMQKo_WkMlBVCDc6mqtnF8qKBIc",
            "key": "wx,yz",
            "label": null,
            "content_type": null,
            "value": "comma in key",
            "tags": {},
            "locked": false,
            "last_modified": "2026-06-09T23:02:37+00:00"
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv/wx%2Cyz?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Mzo1IzY2OTk2NTA2"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"l82tc8ds_gPIYNYkeMQKo_WkMlBVCDc6mqtnF8qKBIc\"",
        "Last-Modified": "Tue, 09 Jun 2026 23:02:37 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY2OTk2NTA3;sn=66996507",
        "x-ms-date": "Tue, 09 Jun 2026 23:02:37 GMT"
      },
      "ResponseBody": {
        "etag": "l82tc8ds_gPIYNYkeMQKo_WkMlBVCDc6mqtnF8qKBIc",
        "key": "wx,yz",
        "label": null,
        "content_type": null,
        "value": "comma in key",
        "tags": {},
        "locked": false,
        "last_modified": "2026-06-09T23:02:37+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_ENDPOINT_STRING": "https://mrm90847047-azconfig-net.azconfig.io",
    "RandomSeed": "311608067"
  }
}
