{
  "Entries": [
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-1012491038?api-version=2023-11-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"mTZdhn23DJ1IZmELefNYjWfb7HxjaX_57X4CZfzu2mM\"",
        "Last-Modified": "Mon, 26 Jan 2026 05:47:31 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzg1MjE5Mw==;sn=103852193",
        "x-ms-date": "Mon, 26 Jan 2026 05:47:31 GMT"
      },
      "ResponseBody": {
        "etag": "mTZdhn23DJ1IZmELefNYjWfb7HxjaX_57X4CZfzu2mM",
        "key": "key-1012491038",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-01-26T05:47:31+00:00"
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv?api-version=2023-11-01&key=key-1012491038",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzg1MjE5Mw==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"700l6rqPDYl3ZfRlExDApdhd9PjOR7nsfvjaHMs9gqw\"",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzg1MjE5Mw==;sn=103852193",
        "x-ms-date": "Mon, 26 Jan 2026 05:47:31 GMT"
      },
      "ResponseBody": {
        "etag": "700l6rqPDYl3ZfRlExDApdhd9PjOR7nsfvjaHMs9gqw",
        "items": [
          {
            "etag": "mTZdhn23DJ1IZmELefNYjWfb7HxjaX_57X4CZfzu2mM",
            "key": "key-1012491038",
            "label": "test_label",
            "content_type": "test_content_type",
            "value": "test_value",
            "tags": {
              "tag1": "value1",
              "tag2": "value2"
            },
            "locked": false,
            "last_modified": "2026-01-26T05:47:31+00:00"
          }
        ]
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-1012491038?api-version=2023-11-01&label=test_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzg1MjE5Mw==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"mTZdhn23DJ1IZmELefNYjWfb7HxjaX_57X4CZfzu2mM\"",
        "Last-Modified": "Mon, 26 Jan 2026 05:47:31 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzg1MjE5NA==;sn=103852194",
        "x-ms-date": "Mon, 26 Jan 2026 05:47:31 GMT"
      },
      "ResponseBody": {
        "etag": "mTZdhn23DJ1IZmELefNYjWfb7HxjaX_57X4CZfzu2mM",
        "key": "key-1012491038",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-01-26T05:47:31+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t9c954b564de572f9-azconfig-net.azconfig.io;Id=MdvE;Secret=Kg==",
    "RandomSeed": "2058592395"
  }
}
