{
  "Entries": [
    {
      "RequestUri": "https://tdfcae3cf5eab7143-azconfig-net.azconfig.io/kv/abc?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "abc setting",
        "content_type": null,
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"kzlT8r81buvM_gCY66lil1JBgQLrFYPCTmK-OQMILrM\"",
        "Last-Modified": "Wed, 11 Jun 2025 17:24:17 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzQyMTUwODI4;sn=42150828"
      },
      "ResponseBody": {
        "etag": "kzlT8r81buvM_gCY66lil1JBgQLrFYPCTmK-OQMILrM",
        "key": "abc",
        "label": null,
        "content_type": null,
        "value": "abc setting",
        "tags": {},
        "locked": false,
        "last_modified": "2025-06-11T17:24:17+00:00"
      }
    },
    {
      "RequestUri": "https://tdfcae3cf5eab7143-azconfig-net.azconfig.io/kv/xyz?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=Mzo1IzQyMTUwODI4",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "xyz setting",
        "content_type": null,
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"bhQ437YZyQUhE_I-QFS7HEhWBH6CHva4lRK1ab4uoY4\"",
        "Last-Modified": "Wed, 11 Jun 2025 17:24:17 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzQyMTUwODMw;sn=42150830"
      },
      "ResponseBody": {
        "etag": "bhQ437YZyQUhE_I-QFS7HEhWBH6CHva4lRK1ab4uoY4",
        "key": "xyz",
        "label": null,
        "content_type": null,
        "value": "xyz setting",
        "tags": {},
        "locked": false,
        "last_modified": "2025-06-11T17:24:17+00:00"
      }
    },
    {
      "RequestUri": "https://tdfcae3cf5eab7143-azconfig-net.azconfig.io/kv?api-version=2023-11-01&key=abc%2Cxyz",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Mzo1IzQyMTUwODMw",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"XzrMyJgdd6oB6UXdpnIKeZT0GGfJFKBhi7KAERRmm0U\"",
        "Sync-Token": "zAJw6V16=Mzo1IzQyMTUwODMx;sn=42150831"
      },
      "ResponseBody": {
        "etag": "XzrMyJgdd6oB6UXdpnIKeZT0GGfJFKBhi7KAERRmm0U",
        "items": [
          {
            "etag": "kzlT8r81buvM_gCY66lil1JBgQLrFYPCTmK-OQMILrM",
            "key": "abc",
            "label": null,
            "content_type": null,
            "value": "abc setting",
            "tags": {},
            "locked": false,
            "last_modified": "2025-06-11T17:24:17+00:00"
          },
          {
            "etag": "bhQ437YZyQUhE_I-QFS7HEhWBH6CHva4lRK1ab4uoY4",
            "key": "xyz",
            "label": null,
            "content_type": null,
            "value": "xyz setting",
            "tags": {},
            "locked": false,
            "last_modified": "2025-06-11T17:24:17+00:00"
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://tdfcae3cf5eab7143-azconfig-net.azconfig.io/kv/xyz?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Mzo1IzQyMTUwODMy",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"bhQ437YZyQUhE_I-QFS7HEhWBH6CHva4lRK1ab4uoY4\"",
        "Last-Modified": "Wed, 11 Jun 2025 17:24:17 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzQyMTUwODMz;sn=42150833"
      },
      "ResponseBody": {
        "etag": "bhQ437YZyQUhE_I-QFS7HEhWBH6CHva4lRK1ab4uoY4",
        "key": "xyz",
        "label": null,
        "content_type": null,
        "value": "xyz setting",
        "tags": {},
        "locked": false,
        "last_modified": "2025-06-11T17:24:17+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://tdfcae3cf5eab7143-azconfig-net.azconfig.io;Id=GAEe;Secret=Kg==",
    "RandomSeed": "1031598571"
  }
}
