{
  "Entries": [
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv/key-1233021562?api-version=2023-11-01&label=my_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "value": "my_value",
        "content_type": null,
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"nV8g_IG6qYWNylEy3ygI6xvWFlboxKA0oNaOhzDCGe8\"",
        "Last-Modified": "Tue, 09 Jun 2026 22:55:25 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY2OTk1NDE3;sn=66995417",
        "x-ms-date": "Tue, 09 Jun 2026 22:55:25 GMT"
      },
      "ResponseBody": {
        "etag": "nV8g_IG6qYWNylEy3ygI6xvWFlboxKA0oNaOhzDCGe8",
        "key": "key-1233021562",
        "label": "my_label",
        "content_type": null,
        "value": "my_value",
        "tags": {},
        "locked": false,
        "last_modified": "2026-06-09T22:55:25+00:00"
      }
    },
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv?$select=key%2Clocked&api-version=2023-11-01&key=key-1233021562",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Mzo1IzY2OTk1NDE3"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"oVbL1aM2QCT3Ocm0Un4BUB1jxiXqV6kpiQ7cUfLCRDo\"",
        "Sync-Token": "zAJw6V16=Mzo1IzY2OTk1NDE3;sn=66995417",
        "x-ms-date": "Tue, 09 Jun 2026 22:55:25 GMT"
      },
      "ResponseBody": {
        "etag": "oVbL1aM2QCT3Ocm0Un4BUB1jxiXqV6kpiQ7cUfLCRDo",
        "items": [
          {
            "key": "key-1233021562",
            "locked": false
          }
        ]
      }
    },
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv/key-1233021562?api-version=2023-11-01&label=my_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Mzo1IzY2OTk1NDE3"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"nV8g_IG6qYWNylEy3ygI6xvWFlboxKA0oNaOhzDCGe8\"",
        "Last-Modified": "Tue, 09 Jun 2026 22:55:25 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY2OTk1NDE4;sn=66995418",
        "x-ms-date": "Tue, 09 Jun 2026 22:55:25 GMT"
      },
      "ResponseBody": {
        "etag": "nV8g_IG6qYWNylEy3ygI6xvWFlboxKA0oNaOhzDCGe8",
        "key": "key-1233021562",
        "label": "my_label",
        "content_type": null,
        "value": "my_value",
        "tags": {},
        "locked": false,
        "last_modified": "2026-06-09T22:55:25+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_ENDPOINT_STRING": "https://mrm90847047-azconfig-net.azconfig.io",
    "RandomSeed": "63702958"
  }
}
