{
  "Entries": [
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/kv/abc?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "abc setting",
        "content_type": null,
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"Qbe4e3SWQTyRpJBoU4qR2DkaPOw3n5AnOyvxB5PuWaU\"",
        "Last-Modified": "Mon, 17 Nov 2025 16:55:59 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzU3NzY0NzI4;sn=57764728",
        "x-ms-date": "Mon, 17 Nov 2025 16:55:59 GMT"
      },
      "ResponseBody": {
        "etag": "Qbe4e3SWQTyRpJBoU4qR2DkaPOw3n5AnOyvxB5PuWaU",
        "key": "abc",
        "label": null,
        "content_type": null,
        "value": "abc setting",
        "tags": {},
        "locked": false,
        "last_modified": "2025-11-17T16:55:59+00:00"
      }
    },
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/kv/xyz?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=Njo1IzU3NzY0NzI4",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "xyz setting",
        "content_type": null,
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"j8NixMgxOxwO9-081IQKzFKzXyosoafkgMDjsb_Rfwo\"",
        "Last-Modified": "Mon, 17 Nov 2025 16:55:59 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzU3NzY0NzMw;sn=57764730",
        "x-ms-date": "Mon, 17 Nov 2025 16:55:59 GMT"
      },
      "ResponseBody": {
        "etag": "j8NixMgxOxwO9-081IQKzFKzXyosoafkgMDjsb_Rfwo",
        "key": "xyz",
        "label": null,
        "content_type": null,
        "value": "xyz setting",
        "tags": {},
        "locked": false,
        "last_modified": "2025-11-17T16:55:59+00:00"
      }
    },
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/kv?api-version=2023-11-01&key=abc%2Cxyz",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Njo1IzU3NzY0NzMw",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"YZgSmvSuOpr8o57X7S-373xeMOSICpQcIDhFKrPUVGs\"",
        "Sync-Token": "zAJw6V16=Njo1IzU3NzY0NzMx;sn=57764731",
        "x-ms-date": "Mon, 17 Nov 2025 16:55:59 GMT"
      },
      "ResponseBody": {
        "etag": "YZgSmvSuOpr8o57X7S-373xeMOSICpQcIDhFKrPUVGs",
        "items": [
          {
            "etag": "Qbe4e3SWQTyRpJBoU4qR2DkaPOw3n5AnOyvxB5PuWaU",
            "key": "abc",
            "label": null,
            "content_type": null,
            "value": "abc setting",
            "tags": {},
            "locked": false,
            "last_modified": "2025-11-17T16:55:59+00:00"
          },
          {
            "etag": "j8NixMgxOxwO9-081IQKzFKzXyosoafkgMDjsb_Rfwo",
            "key": "xyz",
            "label": null,
            "content_type": null,
            "value": "xyz setting",
            "tags": {},
            "locked": false,
            "last_modified": "2025-11-17T16:55:59+00:00"
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/kv/xyz?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Njo1IzU3NzY0NzMy",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"j8NixMgxOxwO9-081IQKzFKzXyosoafkgMDjsb_Rfwo\"",
        "Last-Modified": "Mon, 17 Nov 2025 16:55:59 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzU3NzY0NzMz;sn=57764733",
        "x-ms-date": "Mon, 17 Nov 2025 16:55:59 GMT"
      },
      "ResponseBody": {
        "etag": "j8NixMgxOxwO9-081IQKzFKzXyosoafkgMDjsb_Rfwo",
        "key": "xyz",
        "label": null,
        "content_type": null,
        "value": "xyz setting",
        "tags": {},
        "locked": false,
        "last_modified": "2025-11-17T16:55:59+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t8cdd9157ca7d1363-azconfig-net.azconfig.io;Id=wNKY;Secret=Kg==",
    "RandomSeed": "215649533"
  }
}
