{
  "Entries": [
    {
      "RequestUri": "https://tdfcae3cf5eab7143-azconfig-net.azconfig.io/kv/key-709800341?label=test_label&api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"jEUl7yBRu-SfmCb_zynjLu7X6Mkwv4NasUei64VlzQ4\"",
        "Last-Modified": "Wed, 24 Jul 2024 15:50:48 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzMyMjcyMjU0;sn=32272254"
      },
      "ResponseBody": {
        "etag": "jEUl7yBRu-SfmCb_zynjLu7X6Mkwv4NasUei64VlzQ4",
        "key": "key-709800341",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2024-07-24T15:50:48+00:00"
      }
    },
    {
      "RequestUri": "https://tdfcae3cf5eab7143-azconfig-net.azconfig.io/kv?key=key-709800341&label=test_label&api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Njo1IzMyMjcyMjU0",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"M6TJnNLk9wT2ZC49VTCKM1h9Yz80dRDb3dY5TJ2zS6A\"",
        "Sync-Token": "zAJw6V16=Njo1IzMyMjcyMjU0;sn=32272254"
      },
      "ResponseBody": {
        "etag": "M6TJnNLk9wT2ZC49VTCKM1h9Yz80dRDb3dY5TJ2zS6A",
        "items": [
          {
            "etag": "jEUl7yBRu-SfmCb_zynjLu7X6Mkwv4NasUei64VlzQ4",
            "key": "key-709800341",
            "label": "test_label",
            "content_type": "test_content_type",
            "value": "test_value",
            "tags": {
              "tag1": "value1",
              "tag2": "value2"
            },
            "locked": false,
            "last_modified": "2024-07-24T15:50:48+00:00"
          }
        ]
      }
    },
    {
      "RequestUri": "https://tdfcae3cf5eab7143-azconfig-net.azconfig.io/kv/key-709800341?label=test_label&api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Njo1IzMyMjcyMjU0",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"jEUl7yBRu-SfmCb_zynjLu7X6Mkwv4NasUei64VlzQ4\"",
        "Last-Modified": "Wed, 24 Jul 2024 15:50:48 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzMyMjcyMjU1;sn=32272255"
      },
      "ResponseBody": {
        "etag": "jEUl7yBRu-SfmCb_zynjLu7X6Mkwv4NasUei64VlzQ4",
        "key": "key-709800341",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2024-07-24T15:50:48+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://tdfcae3cf5eab7143-azconfig-net.azconfig.io;Id=MEKF;Secret=Kg==",
    "RandomSeed": "1692836822"
  }
}
