{
  "Entries": [
    {
      "RequestUri": "https://tdfcae3cf5eab7143-azconfig-net.azconfig.io/kv/keyFields-1980973378?label=my_label&api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "my_value",
        "content_type": null,
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"W0Ep36Cytt0mTu2z1TqpVBASWbnMmIiiCyr7FF4ax1E\"",
        "Last-Modified": "Wed, 24 Jul 2024 15:50:51 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzMyMjcyMjky;sn=32272292"
      },
      "ResponseBody": {
        "etag": "W0Ep36Cytt0mTu2z1TqpVBASWbnMmIiiCyr7FF4ax1E",
        "key": "keyFields-1980973378",
        "label": "my_label",
        "content_type": null,
        "value": "my_value",
        "tags": {},
        "locked": false,
        "last_modified": "2024-07-24T15:50:51+00:00"
      }
    },
    {
      "RequestUri": "https://tdfcae3cf5eab7143-azconfig-net.azconfig.io/kv?key=keyFields-1980973378&api-version=2023-11-01&$Select=key%2Clabel%2Cetag",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Njo1IzMyMjcyMjky",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"woYkBxq0OMURMmNW4cDZICObpc6aEiGx_5g3EC8aeCU\"",
        "Sync-Token": "zAJw6V16=Njo1IzMyMjcyMjky;sn=32272292"
      },
      "ResponseBody": {
        "etag": "woYkBxq0OMURMmNW4cDZICObpc6aEiGx_5g3EC8aeCU",
        "items": [
          {
            "etag": "W0Ep36Cytt0mTu2z1TqpVBASWbnMmIiiCyr7FF4ax1E",
            "key": "keyFields-1980973378",
            "label": "my_label"
          }
        ]
      }
    },
    {
      "RequestUri": "https://tdfcae3cf5eab7143-azconfig-net.azconfig.io/kv/keyFields-1980973378?label=my_label&api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Njo1IzMyMjcyMjky",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"W0Ep36Cytt0mTu2z1TqpVBASWbnMmIiiCyr7FF4ax1E\"",
        "Last-Modified": "Wed, 24 Jul 2024 15:50:51 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzMyMjcyMjkz;sn=32272293"
      },
      "ResponseBody": {
        "etag": "W0Ep36Cytt0mTu2z1TqpVBASWbnMmIiiCyr7FF4ax1E",
        "key": "keyFields-1980973378",
        "label": "my_label",
        "content_type": null,
        "value": "my_value",
        "tags": {},
        "locked": false,
        "last_modified": "2024-07-24T15:50:51+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://tdfcae3cf5eab7143-azconfig-net.azconfig.io;Id=MEKF;Secret=Kg==",
    "RandomSeed": "437603755"
  }
}
