{
  "Entries": [
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv/keyFields-913669327?api-version=2026-04-01&label=my_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "value": "my_value",
        "content_type": null,
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"04vwzqTQe6W_SImCBj6OlbQeJQaHH9_O8XwUe9N4XMw\"",
        "Last-Modified": "Wed, 10 Jun 2026 21:33:09 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDk0MzM2;sn=67094336",
        "x-ms-date": "Wed, 10 Jun 2026 21:33:09 GMT"
      },
      "ResponseBody": {
        "etag": "04vwzqTQe6W_SImCBj6OlbQeJQaHH9_O8XwUe9N4XMw",
        "key": "keyFields-913669327",
        "label": "my_label",
        "content_type": null,
        "value": "my_value",
        "description": null,
        "tags": {},
        "locked": false,
        "last_modified": "2026-06-10T21:33:09+00:00"
      }
    },
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv?$select=key%2Clabel%2Cetag&api-version=2026-04-01&key=keyFields-913669327",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDk0MzM2"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"sn9cTwhbRp0nWeC7CCHSv6UpnPCg5xIKSFeudPv7BtY\"",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDk0MzM2;sn=67094336",
        "x-ms-date": "Wed, 10 Jun 2026 21:33:09 GMT"
      },
      "ResponseBody": {
        "etag": "sn9cTwhbRp0nWeC7CCHSv6UpnPCg5xIKSFeudPv7BtY",
        "items": [
          {
            "etag": "04vwzqTQe6W_SImCBj6OlbQeJQaHH9_O8XwUe9N4XMw",
            "key": "keyFields-913669327",
            "label": "my_label"
          }
        ]
      }
    },
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv/keyFields-913669327?api-version=2026-04-01&label=my_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDk0MzM2"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"04vwzqTQe6W_SImCBj6OlbQeJQaHH9_O8XwUe9N4XMw\"",
        "Last-Modified": "Wed, 10 Jun 2026 21:33:09 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDk0MzM3;sn=67094337",
        "x-ms-date": "Wed, 10 Jun 2026 21:33:09 GMT"
      },
      "ResponseBody": {
        "etag": "04vwzqTQe6W_SImCBj6OlbQeJQaHH9_O8XwUe9N4XMw",
        "key": "keyFields-913669327",
        "label": "my_label",
        "content_type": null,
        "value": "my_value",
        "description": null,
        "tags": {},
        "locked": false,
        "last_modified": "2026-06-10T21:33:09+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_ENDPOINT_STRING": "https://mrm90847047-azconfig-net.azconfig.io",
    "RandomSeed": "1002697131"
  }
}
