{
  "Entries": [
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/abcd?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "foobar",
        "content_type": null,
        "tags": {
          "my_tag": "my_tag_value"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"Ed1-tPmxbuqqEC9NN4QwxBiOVm1C7dIeOFnrxowN6tE\"",
        "Last-Modified": "Fri, 23 Jan 2026 07:16:04 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU3NTgyNA==;sn=103575824",
        "x-ms-date": "Fri, 23 Jan 2026 07:16:04 GMT"
      },
      "ResponseBody": {
        "etag": "Ed1-tPmxbuqqEC9NN4QwxBiOVm1C7dIeOFnrxowN6tE",
        "key": "abcd",
        "label": null,
        "content_type": null,
        "value": "foobar",
        "tags": {
          "my_tag": "my_tag_value"
        },
        "locked": false,
        "last_modified": "2026-01-23T07:16:04+00:00"
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/wxyz?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU3NTgyNA==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "barfoo",
        "content_type": null,
        "tags": {
          "my_tag": "my_tag_value"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"Uvg1PNPbOvNUud290miL76s7cIFRv5aZyQ1Ku3xWT2s\"",
        "Last-Modified": "Fri, 23 Jan 2026 07:16:04 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU3NTgyNg==;sn=103575826",
        "x-ms-date": "Fri, 23 Jan 2026 07:16:04 GMT"
      },
      "ResponseBody": {
        "etag": "Uvg1PNPbOvNUud290miL76s7cIFRv5aZyQ1Ku3xWT2s",
        "key": "wxyz",
        "label": null,
        "content_type": null,
        "value": "barfoo",
        "tags": {
          "my_tag": "my_tag_value"
        },
        "locked": false,
        "last_modified": "2026-01-23T07:16:04+00:00"
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv?api-version=2023-11-01&tags=my_tag%3Dmy_tag_value",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU3NTgyNg==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"zhRdlHZXZtNQJdSObow2w1ppCAWNQq4XA4llJnMjowY\"",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU3NTgyNw==;sn=103575827",
        "x-ms-date": "Fri, 23 Jan 2026 07:16:04 GMT"
      },
      "ResponseBody": {
        "etag": "zhRdlHZXZtNQJdSObow2w1ppCAWNQq4XA4llJnMjowY",
        "items": [
          {
            "etag": "Ed1-tPmxbuqqEC9NN4QwxBiOVm1C7dIeOFnrxowN6tE",
            "key": "abcd",
            "label": null,
            "content_type": null,
            "value": "foobar",
            "tags": {
              "my_tag": "my_tag_value"
            },
            "locked": false,
            "last_modified": "2026-01-23T07:16:04+00:00"
          },
          {
            "etag": "Uvg1PNPbOvNUud290miL76s7cIFRv5aZyQ1Ku3xWT2s",
            "key": "wxyz",
            "label": null,
            "content_type": null,
            "value": "barfoo",
            "tags": {
              "my_tag": "my_tag_value"
            },
            "locked": false,
            "last_modified": "2026-01-23T07:16:04+00:00"
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/wxyz?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU3NTgyOA==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"Uvg1PNPbOvNUud290miL76s7cIFRv5aZyQ1Ku3xWT2s\"",
        "Last-Modified": "Fri, 23 Jan 2026 07:16:04 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU3NTgyOQ==;sn=103575829",
        "x-ms-date": "Fri, 23 Jan 2026 07:16:05 GMT"
      },
      "ResponseBody": {
        "etag": "Uvg1PNPbOvNUud290miL76s7cIFRv5aZyQ1Ku3xWT2s",
        "key": "wxyz",
        "label": null,
        "content_type": null,
        "value": "barfoo",
        "tags": {
          "my_tag": "my_tag_value"
        },
        "locked": false,
        "last_modified": "2026-01-23T07:16:04+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t9c954b564de572f9-azconfig-net.azconfig.io;Id=MdvE;Secret=Kg==",
    "RandomSeed": "888208828"
  }
}
