{
  "Entries": [
    {
      "RequestUri": "https://tdfcae3cf5eab7143-azconfig-net.azconfig.io/kv/abc?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "abc setting",
        "content_type": null,
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"2DCizFeg0QC22PJ2ikOf05nH7NNOZAxu9kzpolkAPjI\"",
        "Last-Modified": "Wed, 24 Jul 2024 15:44:52 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzMyMjcxNjU0;sn=32271654"
      },
      "ResponseBody": {
        "etag": "2DCizFeg0QC22PJ2ikOf05nH7NNOZAxu9kzpolkAPjI",
        "key": "abc",
        "label": null,
        "content_type": null,
        "value": "abc setting",
        "tags": {},
        "locked": false,
        "last_modified": "2024-07-24T15:44:52+00:00"
      }
    },
    {
      "RequestUri": "https://tdfcae3cf5eab7143-azconfig-net.azconfig.io/kv/xyz?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=Njo1IzMyMjcxNjU0",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "xyz setting",
        "content_type": null,
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"0yJdbzB5ahRidmO12UlFK6hLv8wVdUlM717Rl4G7FaE\"",
        "Last-Modified": "Wed, 24 Jul 2024 15:44:52 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzMyMjcxNjU2;sn=32271656"
      },
      "ResponseBody": {
        "etag": "0yJdbzB5ahRidmO12UlFK6hLv8wVdUlM717Rl4G7FaE",
        "key": "xyz",
        "label": null,
        "content_type": null,
        "value": "xyz setting",
        "tags": {},
        "locked": false,
        "last_modified": "2024-07-24T15:44:52+00:00"
      }
    },
    {
      "RequestUri": "https://tdfcae3cf5eab7143-azconfig-net.azconfig.io/kv?key=abc%2Cxyz&api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Njo1IzMyMjcxNjU2",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"yWVmhNPARlO-TmhWX54yIZ8xo25Yiz5hFRViLYWZn5g\"",
        "Sync-Token": "zAJw6V16=Njo1IzMyMjcxNjU3;sn=32271657"
      },
      "ResponseBody": {
        "etag": "yWVmhNPARlO-TmhWX54yIZ8xo25Yiz5hFRViLYWZn5g",
        "items": [
          {
            "etag": "2DCizFeg0QC22PJ2ikOf05nH7NNOZAxu9kzpolkAPjI",
            "key": "abc",
            "label": null,
            "content_type": null,
            "value": "abc setting",
            "tags": {},
            "locked": false,
            "last_modified": "2024-07-24T15:44:52+00:00"
          },
          {
            "etag": "0yJdbzB5ahRidmO12UlFK6hLv8wVdUlM717Rl4G7FaE",
            "key": "xyz",
            "label": null,
            "content_type": null,
            "value": "xyz setting",
            "tags": {},
            "locked": false,
            "last_modified": "2024-07-24T15:44:52+00:00"
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://tdfcae3cf5eab7143-azconfig-net.azconfig.io/kv/xyz?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Njo1IzMyMjcxNjU4",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"0yJdbzB5ahRidmO12UlFK6hLv8wVdUlM717Rl4G7FaE\"",
        "Last-Modified": "Wed, 24 Jul 2024 15:44:52 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzMyMjcxNjU5;sn=32271659"
      },
      "ResponseBody": {
        "etag": "0yJdbzB5ahRidmO12UlFK6hLv8wVdUlM717Rl4G7FaE",
        "key": "xyz",
        "label": null,
        "content_type": null,
        "value": "xyz setting",
        "tags": {},
        "locked": false,
        "last_modified": "2024-07-24T15:44:52+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://tdfcae3cf5eab7143-azconfig-net.azconfig.io;Id=MEKF;Secret=Kg==",
    "RandomSeed": "1728670909"
  }
}
