{
  "Entries": [
    {
      "RequestUri": "https://tdfcae3cf5eab7143-azconfig-net.azconfig.io/kv/key-1165250586?api-version=2023-11-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"1B12bLnBO5bZq30faKggr1rybinyko1wd6ohYxgcx9I\"",
        "Last-Modified": "Wed, 11 Jun 2025 17:24:15 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzQyMTUwODEy;sn=42150812"
      },
      "ResponseBody": {
        "etag": "1B12bLnBO5bZq30faKggr1rybinyko1wd6ohYxgcx9I",
        "key": "key-1165250586",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2025-06-11T17:24:15+00:00"
      }
    },
    {
      "RequestUri": "https://tdfcae3cf5eab7143-azconfig-net.azconfig.io/kv?api-version=2023-11-01&key=key-1165250586",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Mzo1IzQyMTUwODEy",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"LokNnA9fwCC2BGvwKCirAGHvlPFnpB400MN2UULWIOM\"",
        "Sync-Token": "zAJw6V16=Mzo1IzQyMTUwODEy;sn=42150812"
      },
      "ResponseBody": {
        "etag": "LokNnA9fwCC2BGvwKCirAGHvlPFnpB400MN2UULWIOM",
        "items": [
          {
            "etag": "1B12bLnBO5bZq30faKggr1rybinyko1wd6ohYxgcx9I",
            "key": "key-1165250586",
            "label": "test_label",
            "content_type": "test_content_type",
            "value": "test_value",
            "tags": {
              "tag1": "value1",
              "tag2": "value2"
            },
            "locked": false,
            "last_modified": "2025-06-11T17:24:15+00:00"
          }
        ]
      }
    },
    {
      "RequestUri": "https://tdfcae3cf5eab7143-azconfig-net.azconfig.io/kv/key-1165250586?api-version=2023-11-01&label=test_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Mzo1IzQyMTUwODEy",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"1B12bLnBO5bZq30faKggr1rybinyko1wd6ohYxgcx9I\"",
        "Last-Modified": "Wed, 11 Jun 2025 17:24:15 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzQyMTUwODEz;sn=42150813"
      },
      "ResponseBody": {
        "etag": "1B12bLnBO5bZq30faKggr1rybinyko1wd6ohYxgcx9I",
        "key": "key-1165250586",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2025-06-11T17:24:15+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://tdfcae3cf5eab7143-azconfig-net.azconfig.io;Id=GAEe;Secret=Kg==",
    "RandomSeed": "1568562586"
  }
}
