{
  "Entries": [
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv/GetBatchSettingIfChangedWithUnmodifiedPageSync?api-version=2026-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"z9m_8EasXB2iRodnji4L7CwGzY03dMrR9Nhbu9tTYMQ\"",
        "Last-Modified": "Tue, 09 Jun 2026 22:54:49 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDY1MjM4;sn=67065238",
        "x-ms-date": "Wed, 10 Jun 2026 18:25:44 GMT"
      },
      "ResponseBody": {
        "etag": "z9m_8EasXB2iRodnji4L7CwGzY03dMrR9Nhbu9tTYMQ",
        "key": "GetBatchSettingIfChangedWithUnmodifiedPageSync",
        "label": null,
        "content_type": null,
        "value": "key-1985066091",
        "description": null,
        "tags": {},
        "locked": false,
        "last_modified": "2026-06-09T22:54:49+00:00"
      }
    },
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv?api-version=2026-04-01&key=key-1985066091",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDY1MjM4"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"qwy5Xq0e7vKVBsXrXY8oGWDxkObCVJwWo2Lfzhmltko\"",
        "Link": "</kv?api-version=2026-04-01&key=key-1985066091&after=a2V5LTE5ODUwNjYwOTEKOTQ%3D>; rel=\"next\"",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDY1MjM4;sn=67065238",
        "x-ms-date": "Wed, 10 Jun 2026 18:25:44 GMT"
      },
      "ResponseBody": {
        "etag": "qwy5Xq0e7vKVBsXrXY8oGWDxkObCVJwWo2Lfzhmltko",
        "items": [
          {
            "etag": "MDfWXEdBYcYOWnpSNj6byt_SAtt9p_Z2SXspFmdQGoU",
            "key": "key-1985066091",
            "label": "0",
            "content_type": null,
            "value": "test_value",
            "description": null,
            "tags": {},
            "locked": false,
            "last_modified": "2026-06-09T22:54:44+00:00"
          },
          {
            "etag": "MFUzsqNRhiz8l7BCPVoUmLj2WMZE-19KYYzDLSNzihM",
            "key": "key-1985066091",
            "l[...]
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv?after=a2V5LTE5ODUwNjYwOTEKOTQ%3D&api-version=2026-04-01&key=key-1985066091",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDY1MjM4"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"kty3AZpb[...]
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv?api-version=2026-04-01&key=key-1985066091",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "\"qwy5Xq0e7vKVBsXrXY8oGWDxkObCVJwWo2Lfzhmltko\"",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDY1MjM4"
      },
      "RequestBody": null,
      "StatusCode": 304,
      "ResponseHeaders": {
        "Link": "</kv?api-version=2026-04-01&key=key-1985066091&after=a2V5LTE5ODUwNjYwOTEKOTQ%3D>; rel=\"next\"",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDY1MjM4;sn=67065238",
        "x-ms-date": "Wed, 10 Jun 2026 18:25:44 GMT"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv?after=a2V5LTE5ODUwNjYwOTEKOTQ%3D&api-version=2026-04-01&key=key-1985066091",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "\"kty3AZpbMQcYTBnRsjT-QeMr9fsygr2O8bMsluG7G3g\"",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDY1MjM4"
      },
      "RequestBody": null,
      "StatusCode": 304,
      "ResponseHeaders": {
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDY1MjM4;sn=67065238",
        "x-ms-date": "Wed, 10 Jun 2026 18:25:44 GMT"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "APPCONFIGURATION_ENDPOINT_STRING": "https://mrm90847047-azconfig-net.azconfig.io",
    "RandomSeed": "335111561"
  }
}
