{
  "Entries": [
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-2050808856?api-version=2023-11-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"XzGqcYCIFGGEHBjk1jz7fbjQ3b6lHWo3BChtnAaKDGI\"",
        "Last-Modified": "Tue, 06 Jan 2026 06:28:11 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTc3MzA4NA==;sn=101773084",
        "x-ms-date": "Tue, 06 Jan 2026 06:28:11 GMT"
      },
      "ResponseBody": {
        "etag": "XzGqcYCIFGGEHBjk1jz7fbjQ3b6lHWo3BChtnAaKDGI",
        "key": "key-2050808856",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-01-06T06:28:11+00:00"
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv?api-version=2023-11-01&key=key-2050808856",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTc3MzA4NA==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"gmax8psNiRq3GYOgy-UDlgFpwviH3Z2DsdSU3J7Yg84\"",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTc3MzA4NA==;sn=101773084",
        "x-ms-date": "Tue, 06 Jan 2026 06:28:11 GMT"
      },
      "ResponseBody": {
        "etag": "gmax8psNiRq3GYOgy-UDlgFpwviH3Z2DsdSU3J7Yg84",
        "items": [
          {
            "etag": "XzGqcYCIFGGEHBjk1jz7fbjQ3b6lHWo3BChtnAaKDGI",
            "key": "key-2050808856",
            "label": "test_label",
            "content_type": "test_content_type",
            "value": "test_value",
            "tags": {
              "tag1": "value1",
              "tag2": "value2"
            },
            "locked": false,
            "last_modified": "2026-01-06T06:28:11+00:00"
          }
        ]
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-2050808856?api-version=2023-11-01&label=test_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTc3MzA4NA==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"XzGqcYCIFGGEHBjk1jz7fbjQ3b6lHWo3BChtnAaKDGI\"",
        "Last-Modified": "Tue, 06 Jan 2026 06:28:11 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTc3MzA4NQ==;sn=101773085",
        "x-ms-date": "Tue, 06 Jan 2026 06:28:12 GMT"
      },
      "ResponseBody": {
        "etag": "XzGqcYCIFGGEHBjk1jz7fbjQ3b6lHWo3BChtnAaKDGI",
        "key": "key-2050808856",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-01-06T06:28:11+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t9c954b564de572f9-azconfig-net.azconfig.io;Id=MdvE;Secret=Kg==",
    "RandomSeed": "593640723"
  }
}
