{
  "Entries": [
    {
      "RequestUri": "https://azure-sdk-for-net-test.azconfig.io/kv/~%60%21%40%23%24%5E%26%28%29_%2B%3D%5B%5D%7B%7D%7C%3B%22%27%3C%3E.%2F--176276502?api-version=2026-04-01&label=label-~%60%21%40%23%24%5E%26%28%29_%2B%3D%5B%5D%7B%7D%7C%3B%22%27%3C%3E.%2F-",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "value-~`!@#$^&()_+=[]{}|;\"'<>./-",
        "content_type": null,
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"foquduG5ILeFDHwHgKOCd_0cM6FyjhdJiw_m2Z_SxAk\"",
        "Last-Modified": "Fri, 29 May 2026 19:54:22 GMT",
        "Sync-Token": "zAJw6V16=NToxNyM0ODE0ODM1Ng==;sn=48148356",
        "x-ms-date": "Fri, 29 May 2026 19:54:22 GMT"
      },
      "ResponseBody": {
        "etag": "foquduG5ILeFDHwHgKOCd_0cM6FyjhdJiw_m2Z_SxAk",
        "key": "~`!@#$^&()_+=[]{}|;\"'<>./--176276502",
        "label": "label-~`!@#$^&()_+=[]{}|;\"'<>./-",
        "content_type": null,
        "value": "value-~`!@#$^&()_+=[]{}|;\"'<>./-",
        "description": null,
        "tags": {},
        "locked": false,
        "last_modified": "2026-05-29T19:54:22+00:00"
      }
    },
    {
      "RequestUri": "https://azure-sdk-for-net-test.azconfig.io/kv?api-version=2026-04-01&key=~%60%21%40%23%24%5E%26%28%29_%2B%3D%5B%5D%7B%7D%7C%3B%22%27%3C%3E.%2F--176276502",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NToxNyM0ODE0ODM1Ng==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"GXQZarpnFLOBGj-vMRGqEYqYzPnV8eYUbxpFatYG-fw\"",
        "Sync-Token": "zAJw6V16=NToxNyM0ODE0ODM1Ng==;sn=48148356",
        "x-ms-date": "Fri, 29 May 2026 19:54:22 GMT"
      },
      "ResponseBody": {
        "etag": "GXQZarpnFLOBGj-vMRGqEYqYzPnV8eYUbxpFatYG-fw",
        "items": [
          {
            "etag": "foquduG5ILeFDHwHgKOCd_0cM6FyjhdJiw_m2Z_SxAk",
            "key": "~`!@#$^&()_+=[]{}|;\"'<>./--176276502",
            "label": "label-~`!@#$^&()_+=[]{}|;\"'<>./-",
            "content_type": null,
            "value": "value-~`!@#$^&()_+=[]{}|;\"'<>./-",
            "description": null,
            "tags": {},
            "locked": false,
            "last_modified": "2026-05-29T19:54:22+00:00"
          }
        ]
      }
    },
    {
      "RequestUri": "https://azure-sdk-for-net-test.azconfig.io/kv/~%60%21%40%23%24%5E%26%28%29_%2B%3D%5B%5D%7B%7D%7C%3B%22%27%3C%3E.%2F--176276502?api-version=2026-04-01&label=label-~%60%21%40%23%24%5E%26%28%29_%2B%3D%5B%5D%7B%7D%7C%3B%22%27%3C%3E.%2F-",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NToxNyM0ODE0ODM1Ng==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"foquduG5ILeFDHwHgKOCd_0cM6FyjhdJiw_m2Z_SxAk\"",
        "Last-Modified": "Fri, 29 May 2026 19:54:22 GMT",
        "Sync-Token": "zAJw6V16=NToxNyM0ODE0ODM1Nw==;sn=48148357",
        "x-ms-date": "Fri, 29 May 2026 19:54:22 GMT"
      },
      "ResponseBody": {
        "etag": "foquduG5ILeFDHwHgKOCd_0cM6FyjhdJiw_m2Z_SxAk",
        "key": "~`!@#$^&()_+=[]{}|;\"'<>./--176276502",
        "label": "label-~`!@#$^&()_+=[]{}|;\"'<>./-",
        "content_type": null,
        "value": "value-~`!@#$^&()_+=[]{}|;\"'<>./-",
        "description": null,
        "tags": {},
        "locked": false,
        "last_modified": "2026-05-29T19:54:22+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://azure-sdk-for-net-test.azconfig.io;Id=8ePU;Secret=Kg==",
    "RandomSeed": "756408058"
  }
}
