{
  "Entries": [
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/abcd?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "foobar",
        "content_type": null,
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"sVf9tgn1jydw1flJtUD7ZyvEk7nFjc_vOxeQiq6H4rY\"",
        "Last-Modified": "Fri, 23 Jan 2026 07:10:35 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU3NTIzOA==;sn=103575238",
        "x-ms-date": "Fri, 23 Jan 2026 07:10:35 GMT"
      },
      "ResponseBody": {
        "etag": "sVf9tgn1jydw1flJtUD7ZyvEk7nFjc_vOxeQiq6H4rY",
        "key": "abcd",
        "label": null,
        "content_type": null,
        "value": "foobar",
        "tags": {},
        "locked": false,
        "last_modified": "2026-01-23T07:10:35+00:00"
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/wxyz?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU3NTIzOA==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "barfoo",
        "content_type": null,
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"BjoeTpT1d37PMKCdMkuoP2OBnyoD9dbiifZH6KvcWLs\"",
        "Last-Modified": "Fri, 23 Jan 2026 07:10:35 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU3NTI0MA==;sn=103575240",
        "x-ms-date": "Fri, 23 Jan 2026 07:10:35 GMT"
      },
      "ResponseBody": {
        "etag": "BjoeTpT1d37PMKCdMkuoP2OBnyoD9dbiifZH6KvcWLs",
        "key": "wxyz",
        "label": null,
        "content_type": null,
        "value": "barfoo",
        "tags": {},
        "locked": false,
        "last_modified": "2026-01-23T07:10:35+00:00"
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv?api-version=2023-11-01&tags=my_tag%3Dmy_tag_value",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU3NTI0MA==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"00wWELzclWef22f82qcUDI7FbJweVOoKWZDA_JoUeD0\"",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU3NTI0MQ==;sn=103575241",
        "x-ms-date": "Fri, 23 Jan 2026 07:10:35 GMT"
      },
      "ResponseBody": {
        "etag": "00wWELzclWef22f82qcUDI7FbJweVOoKWZDA_JoUeD0",
        "items": []
      }
    },
[...]
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/wxyz?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU3NTI0Mg==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"BjoeTpT1d37PMKCdMkuoP2OBnyoD9dbiifZH6KvcWLs\"",
        "Last-Modified": "Fri, 23 Jan 2026 07:10:35 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU3NTI0Mw==;sn=103575243",
        "x-ms-date": "Fri, 23 Jan 2026 07:10:36 GMT"
      },
      "ResponseBody": {
        "etag": "BjoeTpT1d37PMKCdMkuoP2OBnyoD9dbiifZH6KvcWLs",
        "key": "wxyz",
        "label": null,
        "content_type": null,
        "value": "barfoo",
        "tags": {},
        "locked": false,
        "last_modified": "2026-01-23T07:10:35+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t9c954b564de572f9-azconfig-net.azconfig.io;Id=MdvE;Secret=Kg==",
    "RandomSeed": "705649948"
  }
}
