{
  "Entries": [
    {
      "RequestUri": "https://t056d8ab495a0e169-azconfig-net.azconfig.io/kv/keyFields-1090520459?label=my_label\u0026api-version=2022-11-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "aDaoGrnXeLk4BtC\u002BbcUBHjAOl1G533H6XGiHrRY9PKA="
      },
      "RequestBody": {
        "value": "my_value",
        "content_type": null,
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022wBHb8hqjdaiSFJO1uInqFG0BHQJJ2oe24G8VXK1nY6o\u0022",
        "Last-Modified": "Fri, 22 Sep 2023 11:24:22 GMT",
        "Sync-Token": "zAJw6V16=ODo1IzI3Mjg2Nzc4;sn=27286778"
      },
      "ResponseBody": {
        "etag": "wBHb8hqjdaiSFJO1uInqFG0BHQJJ2oe24G8VXK1nY6o",
        "key": "keyFields-1090520459",
        "label": "my_label",
        "content_type": null,
        "value": "my_value",
        "tags": {},
        "locked": false,
        "last_modified": "2023-09-22T11:24:22\u002B00:00"
      }
    },
    {
      "RequestUri": "https://t056d8ab495a0e169-azconfig-net.azconfig.io/kv?key=keyFields-1090520459\u0026api-version=2022-11-01-preview\u0026$Select=key%2Clabel%2Cetag",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=ODo1IzI3Mjg2Nzc4",
        "x-ms-content-sha256": "47DEQpj8HBSa\u002B/TImW\u002B5JCeuQeRkm5NMpJWZG3hSuFU="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset\u002Bjson; charset=utf-8",
        "Sync-Token": "zAJw6V16=ODo1IzI3Mjg2Nzc4;sn=27286778"
      },
      "ResponseBody": {
        "items": [
          {
            "etag": "wBHb8hqjdaiSFJO1uInqFG0BHQJJ2oe24G8VXK1nY6o",
            "key": "keyFields-1090520459",
            "label": "my_label"
          }
        ]
      }
    },
    {
      "RequestUri": "https://t056d8ab495a0e169-azconfig-net.azconfig.io/kv/keyFields-1090520459?label=my_label\u0026api-version=2022-11-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=ODo1IzI3Mjg2Nzc4",
        "x-ms-content-sha256": "47DEQpj8HBSa\u002B/TImW\u002B5JCeuQeRkm5NMpJWZG3hSuFU="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022wBHb8hqjdaiSFJO1uInqFG0BHQJJ2oe24G8VXK1nY6o\u0022",
        "Last-Modified": "Fri, 22 Sep 2023 11:24:22 GMT",
        "Sync-Token": "zAJw6V16=ODo1IzI3Mjg2Nzc5;sn=27286779"
      },
      "ResponseBody": {
        "etag": "wBHb8hqjdaiSFJO1uInqFG0BHQJJ2oe24G8VXK1nY6o",
        "key": "keyFields-1090520459",
        "label": "my_label",
        "content_type": null,
        "value": "my_value",
        "tags": {},
        "locked": false,
        "last_modified": "2023-09-22T11:24:22\u002B00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t056d8ab495a0e169-azconfig-net.azconfig.io;Id=MbSI;Secret=Kg==",
    "RandomSeed": "94809119"
  }
}
