{
  "Entries": [
    {
      "RequestUri": "https://tdfcae3cf5eab7143-azconfig-net.azconfig.io/kv/GetBatchSettingIfChangedWithUnmodifiedPageDoesNotLogWarningAsync?api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Sync-Token": "zAJw6V16=Njo1IzMyMjcyMTQ3;sn=32272147"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://tdfcae3cf5eab7143-azconfig-net.azconfig.io/kv/key-1621133247?label=0&api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "Sync-Token": "zAJw6V16=Njo1IzMyMjcyMTQ3",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": null,
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"514UETzLqxvout8fXRGtoOzSajC_smW1Fe_jxauOtdA\"",
        "Last-Modified": "Wed, 24 Jul 2024 15:50:41 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzMyMjcyMTQ4;sn=32272148"
      },
      "ResponseBody": {
        "etag": "514UETzLqxvout8fXRGtoOzSajC_smW1Fe_jxauOtdA",
        "key": "key-1621133247",
        "label": "0",
        "content_type": null,
        "value": "test_value",
        "locked": false,
        "last_modified": "2024-07-24T15:50:41+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://tdfcae3cf5eab7143-azconfig-net.azconfig.io/kv?key=key-1621133247&api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Njo1IzMyMjcyMjUz",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"cLiQAbfHeUnJDVXPH4RESltQOG2_6vrl7On-kORPcgo\"",
        "Link": "</kv?key=key-1621133247&api-version=2023-11-01&after=a2V5LTE2MjExMzMyNDcKOTQ%3D>; rel=\"next\"",
        "Sync-Token": "zAJw6V16=Njo1IzMyMjcyMjUz;sn=32272253"
      },
      "ResponseBody": {
        "etag": "cLiQAbfHeUnJDVXPH4RESltQOG2_6vrl7On-kORPcgo",
        "items": [
          {
            "etag": "514UETzLqxvout8fXRGtoOzSajC_smW1Fe_jxauOtdA",
            "key": "key-1621133247",
            "label": "0",
            "content_type": null,
            "value": "test_value",
                "locked": false,
            "last_modified": "2024-07-24T15:50:41+00:00"
          },
          {
            "etag": "Kaf6wVPK4NlIFUrPJEm7LjZS9hMeewsV5EiBBaKv1Gk",
            "key": "key-1621133247",
            "label": "1",
            "content_type": null,
       [...]
    {
      "RequestUri": "https://tdfcae3cf5eab7143-azconfig-net.azconfig.io/kv?key=key-1621133247&api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "\"cLiQAbfHeUnJDVXPH4RESltQOG2_6vrl7On-kORPcgo\"",
        "Sync-Token": "zAJw6V16=Njo1IzMyMjcyMjUz",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 304,
      "ResponseHeaders": {
        "Link": "</kv?key=key-1621133247&api-version=2023-11-01&after=a2V5LTE2MjExMzMyNDcKOTQ%3D>; rel=\"next\"",
        "Sync-Token": "zAJw6V16=Njo1IzMyMjcyMjUz;sn=32272253"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://tdfcae3cf5eab7143-azconfig-net.azconfig.io;Id=MEKF;Secret=Kg==",
    "RandomSeed": "395107732"
  }
}
