{
  "Entries": [
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv/key-2014830744?api-version=2026-04-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "description": "test_description"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"rg6oByACBlI2D8wjGAe-t942f9KzwFw3NAtE8BDAURg\"",
        "Last-Modified": "Wed, 10 Jun 2026 21:32:44 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDk0MzAw;sn=67094300",
        "x-ms-date": "Wed, 10 Jun 2026 21:32:44 GMT"
      },
      "ResponseBody": {
        "etag": "rg6oByACBlI2D8wjGAe-t942f9KzwFw3NAtE8BDAURg",
        "key": "key-2014830744",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "description": "test_description",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-06-10T21:32:44+00:00"
      }
    },
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv?api-version=2026-04-01&key=key-2014830744",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDk0MzAw"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"aFkDs8NF2PtkdudTBqoZl2WtD1FnT_3ZkxjkOdBl7Sg\"",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDk0MzAw;sn=67094300",
        "x-ms-date": "Wed, 10 Jun 2026 21:32:44 GMT"
      },
      "ResponseBody": {
        "etag": "aFkDs8NF2PtkdudTBqoZl2WtD1FnT_3ZkxjkOdBl7Sg",
        "items": [
          {
            "etag": "rg6oByACBlI2D8wjGAe-t942f9KzwFw3NAtE8BDAURg",
            "key": "key-2014830744",
            "label": "test_label",
            "content_type": "test_content_type",
            "value": "test_value",
            "description": "test_description",
            "tags": {
              "tag1": "value1",
              "tag2": "value2"
            },
            "locked": false,
            "last_modified": "2026-06-10T21:32:44+00:00"
          }
        ]
      }
    },
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv/key-2014830744?api-version=2026-04-01&label=test_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDk0MzAw"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"rg6oByACBlI2D8wjGAe-t942f9KzwFw3NAtE8BDAURg\"",
        "Last-Modified": "Wed, 10 Jun 2026 21:32:44 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDk0MzAx;sn=67094301",
        "x-ms-date": "Wed, 10 Jun 2026 21:32:45 GMT"
      },
      "ResponseBody": {
        "etag": "rg6oByACBlI2D8wjGAe-t942f9KzwFw3NAtE8BDAURg",
        "key": "key-2014830744",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "description": "test_description",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-06-10T21:32:44+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_ENDPOINT_STRING": "https://mrm90847047-azconfig-net.azconfig.io",
    "RandomSeed": "1157165692"
  }
}
