{
  "Entries": [
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/kv/keyFields-956819186?api-version=2023-11-01&label=my_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "my_value",
        "content_type": null,
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"_XzqdKIQ9PiPXLTq6-SI5D1gHEmKF_OAow8CsQE1lKA\"",
        "Last-Modified": "Thu, 09 Oct 2025 16:27:36 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzU1NTMyMTAy;sn=55532102",
        "x-ms-date": "Thu, 09 Oct 2025 16:27:36 GMT"
      },
      "ResponseBody": {
        "etag": "_XzqdKIQ9PiPXLTq6-SI5D1gHEmKF_OAow8CsQE1lKA",
        "key": "keyFields-956819186",
        "label": "my_label",
        "content_type": null,
        "value": "my_value",
        "tags": {},
        "locked": false,
        "last_modified": "2025-10-09T16:27:36+00:00"
      }
    },
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/kv?$select=key%2Clabel%2Cetag&api-version=2023-11-01&key=keyFields-956819186",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Njo1IzU1NTMyMTAy",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"RJJKjSZjtzAKCR6TlJwDAjrHjoXsjXjVnOtJXRZPrlU\"",
        "Sync-Token": "zAJw6V16=Njo1IzU1NTMyMTAy;sn=55532102",
        "x-ms-date": "Thu, 09 Oct 2025 16:27:36 GMT"
      },
      "ResponseBody": {
        "etag": "RJJKjSZjtzAKCR6TlJwDAjrHjoXsjXjVnOtJXRZPrlU",
        "items": [
          {
            "etag": "_XzqdKIQ9PiPXLTq6-SI5D1gHEmKF_OAow8CsQE1lKA",
            "key": "keyFields-956819186",
            "label": "my_label"
          }
        ]
      }
    },
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/kv/keyFields-956819186?api-version=2023-11-01&label=my_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Njo1IzU1NTMyMTAy",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"_XzqdKIQ9PiPXLTq6-SI5D1gHEmKF_OAow8CsQE1lKA\"",
        "Last-Modified": "Thu, 09 Oct 2025 16:27:36 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzU1NTMyMTAz;sn=55532103",
        "x-ms-date": "Thu, 09 Oct 2025 16:27:36 GMT"
      },
      "ResponseBody": {
        "etag": "_XzqdKIQ9PiPXLTq6-SI5D1gHEmKF_OAow8CsQE1lKA",
        "key": "keyFields-956819186",
        "label": "my_label",
        "content_type": null,
        "value": "my_value",
        "tags": {},
        "locked": false,
        "last_modified": "2025-10-09T16:27:36+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t8cdd9157ca7d1363-azconfig-net.azconfig.io;Id=wNKY;Secret=Kg==",
    "RandomSeed": "777160983"
  }
}
