{
  "Entries": [
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/kv/keyFields-1463501036?api-version=2023-11-01&label=my_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "my_value",
        "content_type": "content-type",
        "tags": {
          "my_tag": "my_tag_value"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"W9V7a-nKpDIVSu9obDgm6o175vI5BvHhkZ9_AbGGiXQ\"",
        "Last-Modified": "Tue, 18 Nov 2025 04:29:14 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzU3ODA0NDQy;sn=57804442",
        "x-ms-date": "Tue, 18 Nov 2025 04:29:14 GMT"
      },
      "ResponseBody": {
        "etag": "W9V7a-nKpDIVSu9obDgm6o175vI5BvHhkZ9_AbGGiXQ",
        "key": "keyFields-1463501036",
        "label": "my_label",
        "content_type": "content-type",
        "value": "my_value",
        "tags": {
          "my_tag": "my_tag_value"
        },
        "locked": false,
        "last_modified": "2025-11-18T04:29:14+00:00"
      }
    },
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/kv?$select=key%2Clabel%2Cvalue%2Ccontent_type%2Cetag%2Clast_modified%2Clocked%2Ctags&api-version=2023-11-01&key=keyFields-1463501036",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Njo1IzU3ODA0NDQy",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"NaXYX0dcEDwoC6m_n_lnJABtVK4oRYHt7DZkjvvq5Z4\"",
        "Sync-Token": "zAJw6V16=Njo1IzU3ODA0NDQy;sn=57804442",
        "x-ms-date": "Tue, 18 Nov 2025 04:29:14 GMT"
      },
      "ResponseBody": {
        "etag": "NaXYX0dcEDwoC6m_n_lnJABtVK4oRYHt7DZkjvvq5Z4",
        "items": [
          {
            "etag": "W9V7a-nKpDIVSu9obDgm6o175vI5BvHhkZ9_AbGGiXQ",
            "key": "keyFields-1463501036",
            "label": "my_label",
            "content_type": "content-type",
            "value": "my_value",
            "tags": {
              "my_tag": "my_tag_value"
            },
            "locked": false,
            "last_modified": "2025-11-18T04:29:14+00:00"
          }
        ]
      }
    },
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/kv/keyFields-1463501036?api-version=2023-11-01&label=my_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Njo1IzU3ODA0NDQy",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"W9V7a-nKpDIVSu9obDgm6o175vI5BvHhkZ9_AbGGiXQ\"",
        "Last-Modified": "Tue, 18 Nov 2025 04:29:14 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzU3ODA0NDQz;sn=57804443",
        "x-ms-date": "Tue, 18 Nov 2025 04:29:14 GMT"
      },
      "ResponseBody": {
        "etag": "W9V7a-nKpDIVSu9obDgm6o175vI5BvHhkZ9_AbGGiXQ",
        "key": "keyFields-1463501036",
        "label": "my_label",
        "content_type": "content-type",
        "value": "my_value",
        "tags": {
          "my_tag": "my_tag_value"
        },
        "locked": false,
        "last_modified": "2025-11-18T04:29:14+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t8cdd9157ca7d1363-azconfig-net.azconfig.io;Id=wNKY;Secret=Kg==",
    "RandomSeed": "900393180"
  }
}
