{
  "Entries": [
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/kv/GetBatchSettingIfChangedWithUnmodifiedPageDoesNotLogWarningAsync?api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"NggK8__rrOwy104gZaxhtxe5AnkO3rMM5rdu3NSDzk0\"",
        "Last-Modified": "Thu, 09 Oct 2025 15:50:11 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzU1NTMyNzMx;sn=55532731",
        "x-ms-date": "Thu, 09 Oct 2025 16:33:06 GMT"
      },
      "ResponseBody": {
        "etag": "NggK8__rrOwy104gZaxhtxe5AnkO3rMM5rdu3NSDzk0",
        "key": "GetBatchSettingIfChangedWithUnmodifiedPageDoesNotLogWarningAsync",
        "label": null,
        "content_type": null,
        "value": "key-121160677",
        "tags": {},
        "locked": false,
        "last_modified": "2025-10-09T15:50:11+00:00"
      }
    },
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/kv?api-version=2023-11-01&key=key-121160677",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Njo1IzU1NTMyNzMx",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"DzCTVs47Q77hpUT1cvHhlHRcUcfrb3Ymc54IJDsDZ9M\"",
        "Link": "</kv?api-version=2023-11-01&key=key-121160677&after=a2V5LTEyMTE2MDY3Nwo5NA%3D%3D>; rel=\"next\"",
        "Sync-Token": "zAJw6V16=Njo1IzU1NTMyNzMx;sn=55532731",
        "x-ms-date": "Thu, 09 Oct 2025 16:33:06 GMT"
      },
      "ResponseBody": {
        "etag": "DzCTVs47Q77hpUT1cvHhlHRcUcfrb3Ymc54IJDsDZ9M",
        "items": [
          {
            "etag": "Sl3On8V2kuwID05-1H7tGc1HBN0i-WhWzmNCGhixr0Q",
            "key": "key-121160677",
            "label": "0",
            "content_type": null,
            "value": "test_value",
            "tags": {},
            "locked": false,
            "last_modified": "2025-10-09T15:49:59+00:00"
          },
          {
            "etag": "pBLT0DfqxEy2eGKvuJTVD8d_MB2RhfUGb2X1GOsGcow",
            "key": "key-121160677",
            "label": "1",
            "content_ty[...]
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/kv?api-version=2023-11-01&key=key-121160677",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "\"DzCTVs47Q77hpUT1cvHhlHRcUcfrb3Ymc54IJDsDZ9M\"",
        "Sync-Token": "zAJw6V16=Njo1IzU1NTMyNzMx",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 304,
      "ResponseHeaders": {
        "Link": "</kv?api-version=2023-11-01&key=key-121160677&after=a2V5LTEyMTE2MDY3Nwo5NA%3D%3D>; rel=\"next\"",
        "Sync-Token": "zAJw6V16=Njo1IzU1NTMyNzMx;sn=55532731",
        "x-ms-date": "Thu, 09 Oct 2025 16:33:06 GMT"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t8cdd9157ca7d1363-azconfig-net.azconfig.io;Id=wNKY;Secret=Kg==",
    "RandomSeed": "358214570"
  }
}
