{
  "Entries": [
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/kv/abcd?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "foobar",
        "content_type": null,
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"j7Xaz8hOxw6qTtTahsuhcWRpxWa3qO1aQKFjiplq9pA\"",
        "Last-Modified": "Thu, 09 Oct 2025 16:33:04 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzU1NTMyNzI0;sn=55532724",
        "x-ms-date": "Thu, 09 Oct 2025 16:33:04 GMT"
      },
      "ResponseBody": {
        "etag": "j7Xaz8hOxw6qTtTahsuhcWRpxWa3qO1aQKFjiplq9pA",
        "key": "abcd",
        "label": null,
        "content_type": null,
        "value": "foobar",
        "tags": {},
        "locked": false,
        "last_modified": "2025-10-09T16:33:04+00:00"
      }
    },
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/kv/wxyz?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=Njo1IzU1NTMyNzI0",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "barfoo",
        "content_type": null,
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"LLhAB2a5hp0tzWDbW2al-9irxSxlyLEQyavDchveczI\"",
        "Last-Modified": "Thu, 09 Oct 2025 16:33:04 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzU1NTMyNzI2;sn=55532726",
        "x-ms-date": "Thu, 09 Oct 2025 16:33:04 GMT"
      },
      "ResponseBody": {
        "etag": "LLhAB2a5hp0tzWDbW2al-9irxSxlyLEQyavDchveczI",
        "key": "wxyz",
        "label": null,
        "content_type": null,
        "value": "barfoo",
        "tags": {},
        "locked": false,
        "last_modified": "2025-10-09T16:33:04+00:00"
      }
    },
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/kv?api-version=2023-11-01&tags=my_tag%3Dmy_tag_value",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Njo1IzU1NTMyNzI2",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"00wWELzclWef22f82qcUDI7FbJweVOoKWZDA_JoUeD0\"",
        "Sync-Token": "zAJw6V16=Njo1IzU1NTMyNzI3;sn=55532727",
        "x-ms-date": "Thu, 09 Oct 2025 16:33:04 GMT"
      },
      "ResponseBody": {
        "etag": "00wWELzclWef22f82qcUDI7FbJweVOoKWZDA_JoUeD0",
        "items": []
      }
    },
[...]
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/kv/wxyz?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Njo1IzU1NTMyNzI4",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"LLhAB2a5hp0tzWDbW2al-9irxSxlyLEQyavDchveczI\"",
        "Last-Modified": "Thu, 09 Oct 2025 16:33:04 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzU1NTMyNzI5;sn=55532729",
        "x-ms-date": "Thu, 09 Oct 2025 16:33:05 GMT"
      },
      "ResponseBody": {
        "etag": "LLhAB2a5hp0tzWDbW2al-9irxSxlyLEQyavDchveczI",
        "key": "wxyz",
        "label": null,
        "content_type": null,
        "value": "barfoo",
        "tags": {},
        "locked": false,
        "last_modified": "2025-10-09T16:33:04+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t8cdd9157ca7d1363-azconfig-net.azconfig.io;Id=wNKY;Secret=Kg==",
    "RandomSeed": "1437514652"
  }
}
