{
  "Entries": [
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/abcd?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "foobar",
        "content_type": null,
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"N5yOM2mOgsIr8GTyGRdebHvqpE_-GUnrs6wojyofdS4\"",
        "Last-Modified": "Thu, 22 Jan 2026 01:33:54 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzQ3MzQ1Ng==;sn=103473456",
        "x-ms-date": "Thu, 22 Jan 2026 01:33:54 GMT"
      },
      "ResponseBody": {
        "etag": "N5yOM2mOgsIr8GTyGRdebHvqpE_-GUnrs6wojyofdS4",
        "key": "abcd",
        "label": null,
        "content_type": null,
        "value": "foobar",
        "tags": {},
        "locked": false,
        "last_modified": "2026-01-22T01:33:54+00:00"
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/wxyz?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzQ3MzQ1Ng==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "barfoo",
        "content_type": null,
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"L6eCI3ff3E1iKcW8N3qR629SXx9tBZvHf5W5cTqBAGc\"",
        "Last-Modified": "Thu, 22 Jan 2026 01:33:54 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzQ3MzQ1OA==;sn=103473458",
        "x-ms-date": "Thu, 22 Jan 2026 01:33:54 GMT"
      },
      "ResponseBody": {
        "etag": "L6eCI3ff3E1iKcW8N3qR629SXx9tBZvHf5W5cTqBAGc",
        "key": "wxyz",
        "label": null,
        "content_type": null,
        "value": "barfoo",
        "tags": {},
        "locked": false,
        "last_modified": "2026-01-22T01:33:54+00:00"
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv?api-version=2023-11-01&tags=my_tag%3Dmy_tag_value",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzQ3MzQ1OA==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"00wWELzclWef22f82qcUDI7FbJweVOoKWZDA_JoUeD0\"",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzQ3MzQ1OQ==;sn=103473459",
        "x-ms-date": "Thu, 22 Jan 2026 01:33:54 GMT"
      },
      "ResponseBody": {
        "etag": "00wWELzclWef22f82qcUDI7FbJweVOoKWZDA_JoUeD0",
        "items": []
      }
    },
[...]
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/wxyz?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzQ3MzQ2MA==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"L6eCI3ff3E1iKcW8N3qR629SXx9tBZvHf5W5cTqBAGc\"",
        "Last-Modified": "Thu, 22 Jan 2026 01:33:54 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzQ3MzQ2MQ==;sn=103473461",
        "x-ms-date": "Thu, 22 Jan 2026 01:33:54 GMT"
      },
      "ResponseBody": {
        "etag": "L6eCI3ff3E1iKcW8N3qR629SXx9tBZvHf5W5cTqBAGc",
        "key": "wxyz",
        "label": null,
        "content_type": null,
        "value": "barfoo",
        "tags": {},
        "locked": false,
        "last_modified": "2026-01-22T01:33:54+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t9c954b564de572f9-azconfig-net.azconfig.io;Id=MdvE;Secret=Kg==",
    "RandomSeed": "1985305421"
  }
}
