{
  "Entries": [
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-977345388?api-version=2023-11-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"oK0nONj5Y8VXKMYBdkMGcqfuco_P5eSlwuJVEhjBuYU\"",
        "Last-Modified": "Mon, 26 Jan 2026 05:47:31 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzg1MjE5NQ==;sn=103852195",
        "x-ms-date": "Mon, 26 Jan 2026 05:47:31 GMT"
      },
      "ResponseBody": {
        "etag": "oK0nONj5Y8VXKMYBdkMGcqfuco_P5eSlwuJVEhjBuYU",
        "key": "key-977345388",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-01-26T05:47:31+00:00"
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv?api-version=2023-11-01&label=test_label",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzg1MjE5NQ==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"AdsosNnlVCGbcQDqx-HjwZ1_PTTFGMHybL-Mt-hoI6I\"",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzg1MjE5NQ==;sn=103852195",
        "x-ms-date": "Mon, 26 Jan 2026 05:47:31 GMT"
      },
      "ResponseBody": {
        "etag": "AdsosNnlVCGbcQDqx-HjwZ1_PTTFGMHybL-Mt-hoI6I",
        "items": [
          {
            "etag": "oK0nONj5Y8VXKMYBdkMGcqfuco_P5eSlwuJVEhjBuYU",
            "key": "key-977345388",
            "label": "test_label",
            "content_type": "test_content_type",
            "value": "test_value",
            "tags": {
              "tag1": "value1",
              "tag2": "value2"
            },
            "locked": false,
            "last_modified": "2026-01-26T05:47:31+00:00"
          }
        ]
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-977345388?api-version=2023-11-01&label=test_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzg1MjE5NQ==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"oK0nONj5Y8VXKMYBdkMGcqfuco_P5eSlwuJVEhjBuYU\"",
        "Last-Modified": "Mon, 26 Jan 2026 05:47:31 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzg1MjE5Ng==;sn=103852196",
        "x-ms-date": "Mon, 26 Jan 2026 05:47:31 GMT"
      },
      "ResponseBody": {
        "etag": "oK0nONj5Y8VXKMYBdkMGcqfuco_P5eSlwuJVEhjBuYU",
        "key": "key-977345388",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-01-26T05:47:31+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t9c954b564de572f9-azconfig-net.azconfig.io;Id=MdvE;Secret=Kg==",
    "RandomSeed": "1790162309"
  }
}
