{
  "Entries": [
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/kv/~%60%21%40%23%24%5E%26%28%29_%2B%3D%5B%5D%7B%7D%7C%3B%22%27%3C%3E.%2F--503638708?api-version=2023-11-01&label=label-~%60%21%40%23%24%5E%26%28%29_%2B%3D%5B%5D%7B%7D%7C%3B%22%27%3C%3E.%2F-",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "value-~`!@#$^&()_+=[]{}|;\"'<>./-",
        "content_type": null,
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"zKx8RG7bDBykT3S2ew-Zp7YLsivQ4ES4NoN8yWEIY90\"",
        "Last-Modified": "Thu, 09 Oct 2025 16:33:08 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzU1NTMyNzQw;sn=55532740",
        "x-ms-date": "Thu, 09 Oct 2025 16:33:08 GMT"
      },
      "ResponseBody": {
        "etag": "zKx8RG7bDBykT3S2ew-Zp7YLsivQ4ES4NoN8yWEIY90",
        "key": "~`!@#$^&()_+=[]{}|;\"'<>./--503638708",
        "label": "label-~`!@#$^&()_+=[]{}|;\"'<>./-",
        "content_type": null,
        "value": "value-~`!@#$^&()_+=[]{}|;\"'<>./-",
        "tags": {},
        "locked": false,
        "last_modified": "2025-10-09T16:33:08+00:00"
      }
    },
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/kv?api-version=2023-11-01&key=~%60%21%40%23%24%5E%26%28%29_%2B%3D%5B%5D%7B%7D%7C%3B%22%27%3C%3E.%2F--503638708",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Njo1IzU1NTMyNzQw",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"izd-KvUulLL9LdAUoinB9URtSWrNP_fxYgcUBHEiCeo\"",
        "Sync-Token": "zAJw6V16=Njo1IzU1NTMyNzQw;sn=55532740",
        "x-ms-date": "Thu, 09 Oct 2025 16:33:08 GMT"
      },
      "ResponseBody": {
        "etag": "izd-KvUulLL9LdAUoinB9URtSWrNP_fxYgcUBHEiCeo",
        "items": [
          {
            "etag": "zKx8RG7bDBykT3S2ew-Zp7YLsivQ4ES4NoN8yWEIY90",
            "key": "~`!@#$^&()_+=[]{}|;\"'<>./--503638708",
            "label": "label-~`!@#$^&()_+=[]{}|;\"'<>./-",
            "content_type": null,
            "value": "value-~`!@#$^&()_+=[]{}|;\"'<>./-",
            "tags": {},
            "locked": false,
            "last_modified": "2025-10-09T16:33:08+00:00"
          }
        ]
      }
    },
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/kv/~%60%21%40%23%24%5E%26%28%29_%2B%3D%5B%5D%7B%7D%7C%3B%22%27%3C%3E.%2F--503638708?api-version=2023-11-01&label=label-~%60%21%40%23%24%5E%26%28%29_%2B%3D%5B%5D%7B%7D%7C%3B%22%27%3C%3E.%2F-",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Njo1IzU1NTMyNzQw",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"zKx8RG7bDBykT3S2ew-Zp7YLsivQ4ES4NoN8yWEIY90\"",
        "Last-Modified": "Thu, 09 Oct 2025 16:33:08 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzU1NTMyNzQx;sn=55532741",
        "x-ms-date": "Thu, 09 Oct 2025 16:33:08 GMT"
      },
      "ResponseBody": {
        "etag": "zKx8RG7bDBykT3S2ew-Zp7YLsivQ4ES4NoN8yWEIY90",
        "key": "~`!@#$^&()_+=[]{}|;\"'<>./--503638708",
        "label": "label-~`!@#$^&()_+=[]{}|;\"'<>./-",
        "content_type": null,
        "value": "value-~`!@#$^&()_+=[]{}|;\"'<>./-",
        "tags": {},
        "locked": false,
        "last_modified": "2025-10-09T16:33:08+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t8cdd9157ca7d1363-azconfig-net.azconfig.io;Id=wNKY;Secret=Kg==",
    "RandomSeed": "1011717063"
  }
}
