{
  "Entries": [
    {
      "RequestUri": "https://tdfcae3cf5eab7143-azconfig-net.azconfig.io/kv/abc?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "abc setting",
        "content_type": null,
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"Ods5ryDxJ1Z3dAobRodAt8GrimI9_rkElEmLTnFKFa0\"",
        "Last-Modified": "Wed, 24 Jul 2024 15:50:50 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzMyMjcyMjc2;sn=32272276"
      },
      "ResponseBody": {
        "etag": "Ods5ryDxJ1Z3dAobRodAt8GrimI9_rkElEmLTnFKFa0",
        "key": "abc",
        "label": null,
        "content_type": null,
        "value": "abc setting",
        "tags": {},
        "locked": false,
        "last_modified": "2024-07-24T15:50:50+00:00"
      }
    },
    {
      "RequestUri": "https://tdfcae3cf5eab7143-azconfig-net.azconfig.io/kv/xyz?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=Njo1IzMyMjcyMjc2",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "xyz setting",
        "content_type": null,
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"-yqHDkqzcYZRJ3p7HG96cLDPeAGmfqnGc6aIiqdgDms\"",
        "Last-Modified": "Wed, 24 Jul 2024 15:50:50 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzMyMjcyMjc4;sn=32272278"
      },
      "ResponseBody": {
        "etag": "-yqHDkqzcYZRJ3p7HG96cLDPeAGmfqnGc6aIiqdgDms",
        "key": "xyz",
        "label": null,
        "content_type": null,
        "value": "xyz setting",
        "tags": {},
        "locked": false,
        "last_modified": "2024-07-24T15:50:50+00:00"
      }
    },
    {
      "RequestUri": "https://tdfcae3cf5eab7143-azconfig-net.azconfig.io/kv?key=abc%2Cxyz&api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Njo1IzMyMjcyMjc4",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"vd4p5o4y9OT0JdbnQbH0icX-7pRV3rc6YrZi76Od2I8\"",
        "Sync-Token": "zAJw6V16=Njo1IzMyMjcyMjc5;sn=32272279"
      },
      "ResponseBody": {
        "etag": "vd4p5o4y9OT0JdbnQbH0icX-7pRV3rc6YrZi76Od2I8",
        "items": [
          {
            "etag": "Ods5ryDxJ1Z3dAobRodAt8GrimI9_rkElEmLTnFKFa0",
            "key": "abc",
            "label": null,
            "content_type": null,
            "value": "abc setting",
            "tags": {},
            "locked": false,
            "last_modified": "2024-07-24T15:50:50+00:00"
          },
          {
            "etag": "-yqHDkqzcYZRJ3p7HG96cLDPeAGmfqnGc6aIiqdgDms",
            "key": "xyz",
            "label": null,
            "content_type": null,
            "value": "xyz setting",
            "tags": {},
            "locked": false,
            "last_modified": "2024-07-24T15:50:50+00:00"
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://tdfcae3cf5eab7143-azconfig-net.azconfig.io/kv/xyz?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Njo1IzMyMjcyMjgw",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"-yqHDkqzcYZRJ3p7HG96cLDPeAGmfqnGc6aIiqdgDms\"",
        "Last-Modified": "Wed, 24 Jul 2024 15:50:50 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzMyMjcyMjgx;sn=32272281"
      },
      "ResponseBody": {
        "etag": "-yqHDkqzcYZRJ3p7HG96cLDPeAGmfqnGc6aIiqdgDms",
        "key": "xyz",
        "label": null,
        "content_type": null,
        "value": "xyz setting",
        "tags": {},
        "locked": false,
        "last_modified": "2024-07-24T15:50:50+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://tdfcae3cf5eab7143-azconfig-net.azconfig.io;Id=MEKF;Secret=Kg==",
    "RandomSeed": "1439847853"
  }
}
