{
  "Entries": [
    {
      "RequestUri": "https://tdfcae3cf5eab7143-azconfig-net.azconfig.io/kv/key-673442470?label=test_label&api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"yLP8wBCqHXCNbZZM4IGLqWFGYShgoxOj9wLUk-UdtKU\"",
        "Last-Modified": "Wed, 24 Jul 2024 15:44:43 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzMyMjcxNTMz;sn=32271533"
      },
      "ResponseBody": {
        "etag": "yLP8wBCqHXCNbZZM4IGLqWFGYShgoxOj9wLUk-UdtKU",
        "key": "key-673442470",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2024-07-24T15:44:43+00:00"
      }
    },
    {
      "RequestUri": "https://tdfcae3cf5eab7143-azconfig-net.azconfig.io/kv?label=test_label&api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Njo1IzMyMjcxNTMz",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"VlYU-zo4d7ZeqBz9wWaay7ZxFNHB0SYmOxLGAa4FwLs\"",
        "Sync-Token": "zAJw6V16=Njo1IzMyMjcxNTMz;sn=32271533"
      },
      "ResponseBody": {
        "etag": "VlYU-zo4d7ZeqBz9wWaay7ZxFNHB0SYmOxLGAa4FwLs",
        "items": [
          {
            "etag": "yLP8wBCqHXCNbZZM4IGLqWFGYShgoxOj9wLUk-UdtKU",
            "key": "key-673442470",
            "label": "test_label",
            "content_type": "test_content_type",
            "value": "test_value",
            "tags": {
              "tag1": "value1",
              "tag2": "value2"
            },
            "locked": false,
            "last_modified": "2024-07-24T15:44:43+00:00"
          }
        ]
      }
    },
    {
      "RequestUri": "https://tdfcae3cf5eab7143-azconfig-net.azconfig.io/kv/key-673442470?label=test_label&api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Njo1IzMyMjcxNTMz",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"yLP8wBCqHXCNbZZM4IGLqWFGYShgoxOj9wLUk-UdtKU\"",
        "Last-Modified": "Wed, 24 Jul 2024 15:44:43 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzMyMjcxNTM0;sn=32271534"
      },
      "ResponseBody": {
        "etag": "yLP8wBCqHXCNbZZM4IGLqWFGYShgoxOj9wLUk-UdtKU",
        "key": "key-673442470",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2024-07-24T15:44:43+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://tdfcae3cf5eab7143-azconfig-net.azconfig.io;Id=MEKF;Secret=Kg==",
    "RandomSeed": "213239402"
  }
}
