{
  "Entries": [
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv/abcd?api-version=2026-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "value": "foobar",
        "content_type": null,
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"S1dMbfLRkFob2Mxne_HzadaOJfarn5rEjp8cFG2KDzg\"",
        "Last-Modified": "Wed, 10 Jun 2026 18:25:37 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDY1MjMx;sn=67065231",
        "x-ms-date": "Wed, 10 Jun 2026 18:25:37 GMT"
      },
      "ResponseBody": {
        "etag": "S1dMbfLRkFob2Mxne_HzadaOJfarn5rEjp8cFG2KDzg",
        "key": "abcd",
        "label": null,
        "content_type": null,
        "value": "foobar",
        "description": null,
        "tags": {},
        "locked": false,
        "last_modified": "2026-06-10T18:25:37+00:00"
      }
    },
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv/wxyz?api-version=2026-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDY1MjMx"
      },
      "RequestBody": {
        "value": "barfoo",
        "content_type": null,
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"D3vk2C8Zq2KwXxdlhAKBfRjMo-tnkrIKszKdhxZ6bvA\"",
        "Last-Modified": "Wed, 10 Jun 2026 18:25:37 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDY1MjMz;sn=67065233",
        "x-ms-date": "Wed, 10 Jun 2026 18:25:37 GMT"
      },
      "ResponseBody": {
        "etag": "D3vk2C8Zq2KwXxdlhAKBfRjMo-tnkrIKszKdhxZ6bvA",
        "key": "wxyz",
        "label": null,
        "content_type": null,
        "value": "barfoo",
        "description": null,
        "tags": {},
        "locked": false,
        "last_modified": "2026-06-10T18:25:37+00:00"
      }
    },
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv?api-version=2026-04-01&tags=my_tag%3Dmy_tag_value",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDY1MjMz"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"00wWELzclWef22f82qcUDI7FbJweVOoKWZDA_JoUeD0\"",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDY1MjM0;sn=67065234",
        "x-ms-date": "Wed, 10 Jun 2026 18:25:37 GMT"
      },
      "ResponseBody": {
        "etag": "00wWELzclWef22f82qcUDI7FbJweVOoKWZDA_JoUeD0",
        "items": []
      }
    },
[...]
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv/wxyz?api-version=2026-04-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDY1MjM1"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"D3vk2C8Zq2KwXxdlhAKBfRjMo-tnkrIKszKdhxZ6bvA\"",
        "Last-Modified": "Wed, 10 Jun 2026 18:25:37 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDY1MjM2;sn=67065236",
        "x-ms-date": "Wed, 10 Jun 2026 18:25:37 GMT"
      },
      "ResponseBody": {
        "etag": "D3vk2C8Zq2KwXxdlhAKBfRjMo-tnkrIKszKdhxZ6bvA",
        "key": "wxyz",
        "label": null,
        "content_type": null,
        "value": "barfoo",
        "description": null,
        "tags": {},
        "locked": false,
        "last_modified": "2026-06-10T18:25:37+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_ENDPOINT_STRING": "https://mrm90847047-azconfig-net.azconfig.io",
    "RandomSeed": "55623977"
  }
}
