{
  "Entries": [
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/kv/key-453447288?api-version=2023-11-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"XDAyTI0IN4pCTSiaD0x-IaNzhax1KFS4gO4ZgJtldeE\"",
        "Last-Modified": "Mon, 17 Nov 2025 16:50:36 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzU3NzY0MjYx;sn=57764261",
        "x-ms-date": "Mon, 17 Nov 2025 16:50:36 GMT"
      },
      "ResponseBody": {
        "etag": "XDAyTI0IN4pCTSiaD0x-IaNzhax1KFS4gO4ZgJtldeE",
        "key": "key-453447288",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2025-11-17T16:50:36+00:00"
      }
    },
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/kv?api-version=2023-11-01&key=key-453447288&label=test_label",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Njo1IzU3NzY0MjYx",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"pXCXQt6mObHAV2Eohe4ClHavTVxBMxulBH8GvJLNaGk\"",
        "Sync-Token": "zAJw6V16=Njo1IzU3NzY0MjYx;sn=57764261",
        "x-ms-date": "Mon, 17 Nov 2025 16:50:36 GMT"
      },
      "ResponseBody": {
        "etag": "pXCXQt6mObHAV2Eohe4ClHavTVxBMxulBH8GvJLNaGk",
        "items": [
          {
            "etag": "XDAyTI0IN4pCTSiaD0x-IaNzhax1KFS4gO4ZgJtldeE",
            "key": "key-453447288",
            "label": "test_label",
            "content_type": "test_content_type",
            "value": "test_value",
            "tags": {
              "tag1": "value1",
              "tag2": "value2"
            },
            "locked": false,
            "last_modified": "2025-11-17T16:50:36+00:00"
          }
        ]
      }
    },
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/kv/key-453447288?api-version=2023-11-01&label=test_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Njo1IzU3NzY0MjYx",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"XDAyTI0IN4pCTSiaD0x-IaNzhax1KFS4gO4ZgJtldeE\"",
        "Last-Modified": "Mon, 17 Nov 2025 16:50:36 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzU3NzY0MjYy;sn=57764262",
        "x-ms-date": "Mon, 17 Nov 2025 16:50:36 GMT"
      },
      "ResponseBody": {
        "etag": "XDAyTI0IN4pCTSiaD0x-IaNzhax1KFS4gO4ZgJtldeE",
        "key": "key-453447288",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2025-11-17T16:50:36+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t8cdd9157ca7d1363-azconfig-net.azconfig.io;Id=wNKY;Secret=Kg==",
    "RandomSeed": "1580275406"
  }
}
