{
  "Entries": [
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/kv/key-876385332?api-version=2023-11-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"ErfBcg67NaCFbc0Kt4BlKsw5fbLKZfKfOSfl_AFsuHU\"",
        "Last-Modified": "Tue, 18 Nov 2025 04:29:09 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzU3ODA0NDEw;sn=57804410",
        "x-ms-date": "Tue, 18 Nov 2025 04:29:09 GMT"
      },
      "ResponseBody": {
        "etag": "ErfBcg67NaCFbc0Kt4BlKsw5fbLKZfKfOSfl_AFsuHU",
        "key": "key-876385332",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2025-11-18T04:29:09+00:00"
      }
    },
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/kv?api-version=2023-11-01&label=test_label",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Njo1IzU3ODA0NDEw",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"lcSzUmiN3mKLgQOaGkaxtN3iDM_B4eSy_C6gjEeQrFI\"",
        "Sync-Token": "zAJw6V16=Njo1IzU3ODA0NDEw;sn=57804410",
        "x-ms-date": "Tue, 18 Nov 2025 04:29:09 GMT"
      },
      "ResponseBody": {
        "etag": "lcSzUmiN3mKLgQOaGkaxtN3iDM_B4eSy_C6gjEeQrFI",
        "items": [
          {
            "etag": "ErfBcg67NaCFbc0Kt4BlKsw5fbLKZfKfOSfl_AFsuHU",
            "key": "key-876385332",
            "label": "test_label",
            "content_type": "test_content_type",
            "value": "test_value",
            "tags": {
              "tag1": "value1",
              "tag2": "value2"
            },
            "locked": false,
            "last_modified": "2025-11-18T04:29:09+00:00"
          }
        ]
      }
    },
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/kv/key-876385332?api-version=2023-11-01&label=test_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Njo1IzU3ODA0NDEw",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"ErfBcg67NaCFbc0Kt4BlKsw5fbLKZfKfOSfl_AFsuHU\"",
        "Last-Modified": "Tue, 18 Nov 2025 04:29:09 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzU3ODA0NDEx;sn=57804411",
        "x-ms-date": "Tue, 18 Nov 2025 04:29:09 GMT"
      },
      "ResponseBody": {
        "etag": "ErfBcg67NaCFbc0Kt4BlKsw5fbLKZfKfOSfl_AFsuHU",
        "key": "key-876385332",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2025-11-18T04:29:09+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t8cdd9157ca7d1363-azconfig-net.azconfig.io;Id=wNKY;Secret=Kg==",
    "RandomSeed": "1522538275"
  }
}
