{
  "Entries": [
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv/keyFields-1972625297?api-version=2026-04-01&label=my_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "value": "my_value",
        "content_type": null,
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"1tN_H3Or8-V6bnDIl751_EgFGP9hYYPsofb-6NGPZAY\"",
        "Last-Modified": "Wed, 10 Jun 2026 18:26:13 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDY1Mjgy;sn=67065282",
        "x-ms-date": "Wed, 10 Jun 2026 18:26:13 GMT"
      },
      "ResponseBody": {
        "etag": "1tN_H3Or8-V6bnDIl751_EgFGP9hYYPsofb-6NGPZAY",
        "key": "keyFields-1972625297",
        "label": "my_label",
        "content_type": null,
        "value": "my_value",
        "description": null,
        "tags": {},
        "locked": false,
        "last_modified": "2026-06-10T18:26:13+00:00"
      }
    },
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv?$select=key%2Clabel%2Cetag&api-version=2026-04-01&key=keyFields-1972625297",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDY1Mjgy"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"_OV980jcjMZmng-UbVBv_xCzYq3yof1NV2VDQyV9MXg\"",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDY1Mjgy;sn=67065282",
        "x-ms-date": "Wed, 10 Jun 2026 18:26:13 GMT"
      },
      "ResponseBody": {
        "etag": "_OV980jcjMZmng-UbVBv_xCzYq3yof1NV2VDQyV9MXg",
        "items": [
          {
            "etag": "1tN_H3Or8-V6bnDIl751_EgFGP9hYYPsofb-6NGPZAY",
            "key": "keyFields-1972625297",
            "label": "my_label"
          }
        ]
      }
    },
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv/keyFields-1972625297?api-version=2026-04-01&label=my_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDY1Mjgy"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"1tN_H3Or8-V6bnDIl751_EgFGP9hYYPsofb-6NGPZAY\"",
        "Last-Modified": "Wed, 10 Jun 2026 18:26:13 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDY1Mjgz;sn=67065283",
        "x-ms-date": "Wed, 10 Jun 2026 18:26:13 GMT"
      },
      "ResponseBody": {
        "etag": "1tN_H3Or8-V6bnDIl751_EgFGP9hYYPsofb-6NGPZAY",
        "key": "keyFields-1972625297",
        "label": "my_label",
        "content_type": null,
        "value": "my_value",
        "description": null,
        "tags": {},
        "locked": false,
        "last_modified": "2026-06-10T18:26:13+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_ENDPOINT_STRING": "https://mrm90847047-azconfig-net.azconfig.io",
    "RandomSeed": "850695024"
  }
}
