{
  "Entries": [
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/GetBatchSettingIfChangedWithUnmodifiedPageDoesNotLogWarningAsync?api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Sync-Token": "zAJw6V16=NTo1Izk4Nzc2NTY2;sn=98776566",
        "x-ms-date": "Mon, 01 Dec 2025 08:41:37 GMT"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-432369511?api-version=2023-11-01&label=0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "Sync-Token": "zAJw6V16=NTo1Izk4Nzc2NTY2",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": null,
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"y7KjhbCPA9KvPWXZjNwfD34zEnz3xPxku2ovaJOJp7U\"",
        "Last-Modified": "Mon, 01 Dec 2025 08:41:37 GMT",
        "Sync-Token": "zAJw6V16=NTo1Izk4Nzc2NTY3;sn=98776567",
        "x-ms-date": "Mon, 01 Dec 2025 08:41:37 GMT"
      },
      "ResponseBody": {
        "etag": "y7KjhbCPA9KvPWXZjNwfD34zEnz3xPxku2ovaJOJp7U",
        "key": "key-432369511",
        "label": "0",
        "content_type": null,
        "value": "test_value",
        "tags": {},
        "locked": false,
        "last_modified": "2025-12-01T08:41:37+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv?api-version=2023-11-01&key=key-432369511",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1Izk4Nzc2Njc2",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"fqCwhnGRnOZPmIIrBuOeM4q399gqEhXiB5DDNxXryEs\"",
        "Link": "</kv?api-version=2023-11-01&key=key-432369511&after=a2V5LTQzMjM2OTUxMQo5NA%3D%3D>; rel=\"next\"",
        "Sync-Token": "zAJw6V16=NTo1Izk4Nzc2Njc3;sn=98776677",
        "x-ms-date": "Mon, 01 Dec 2025 08:41:50 GMT"
      },
      "ResponseBody": {
        "etag": "fqCwhnGRnOZPmIIrBuOeM4q399gqEhXiB5DDNxXryEs",
        "items": [
          {
            "etag": "y7KjhbCPA9KvPWXZjNwfD34zEnz3xPxku2ovaJOJp7U",
            "key": "key-432369511",
            "label": "0",
            "content_type": null,
            "value": "test_value",
            "tags": {},
            "locked": false,
            "last_modified": "2025-12-01T08:41:37+00:00"
          },
          {
            "etag": "G4b4IXUTExUDgIJ3JZT0FghLxBJPnYK0r-W47obFKBY",
            "key": "key-432369511",
            "label": "1",
            "content_ty[...]
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv?api-version=2023-11-01&key=key-432369511",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "\"fqCwhnGRnOZPmIIrBuOeM4q399gqEhXiB5DDNxXryEs\"",
        "Sync-Token": "zAJw6V16=NTo1Izk4Nzc2Njc3",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 304,
      "ResponseHeaders": {
        "Link": "</kv?api-version=2023-11-01&key=key-432369511&after=a2V5LTQzMjM2OTUxMQo5NA%3D%3D>; rel=\"next\"",
        "Sync-Token": "zAJw6V16=NTo1Izk4Nzc2Njc3;sn=98776677",
        "x-ms-date": "Mon, 01 Dec 2025 08:41:50 GMT"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t9c954b564de572f9-azconfig-net.azconfig.io;Id=MdvE;Secret=Kg==",
    "RandomSeed": "412550852"
  }
}
