{
  "Entries": [
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/kv/ab%2Ccd?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "comma in key",
        "content_type": null,
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"BCcX_GwfLehQT3Y3_r3ybOPcW8Xh1kZ21N5XzHPbksc\"",
        "Last-Modified": "Thu, 09 Oct 2025 16:27:32 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzU1NTMyMDc0;sn=55532074",
        "x-ms-date": "Thu, 09 Oct 2025 16:27:32 GMT"
      },
      "ResponseBody": {
        "etag": "BCcX_GwfLehQT3Y3_r3ybOPcW8Xh1kZ21N5XzHPbksc",
        "key": "ab,cd",
        "label": null,
        "content_type": null,
        "value": "comma in key",
        "tags": {},
        "locked": false,
        "last_modified": "2025-10-09T16:27:32+00:00"
      }
    },
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/kv/wx%2Cyz?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=Njo1IzU1NTMyMDc0",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "comma in key",
        "content_type": null,
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"TIDHM1TeZAc5t9YLJ_smDQan5DH_UvoL4cc42oanAYU\"",
        "Last-Modified": "Thu, 09 Oct 2025 16:27:33 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzU1NTMyMDc2;sn=55532076",
        "x-ms-date": "Thu, 09 Oct 2025 16:27:33 GMT"
      },
      "ResponseBody": {
        "etag": "TIDHM1TeZAc5t9YLJ_smDQan5DH_UvoL4cc42oanAYU",
        "key": "wx,yz",
        "label": null,
        "content_type": null,
        "value": "comma in key",
        "tags": {},
        "locked": false,
        "last_modified": "2025-10-09T16:27:33+00:00"
      }
    },
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/kv?api-version=2023-11-01&key=ab%5C%2Ccd%2Cwx%5C%2Cyz",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Njo1IzU1NTMyMDc2",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"fp6SHOqQjuZYSRcIQMCT5_WyFN5WDb9oBgZglXG89FA\"",
        "Sync-Token": "zAJw6V16=Njo1IzU1NTMyMDc3;sn=55532077",
        "x-ms-date": "Thu, 09 Oct 2025 16:27:33 GMT"
      },
      "ResponseBody": {
        "etag": "fp6SHOqQjuZYSRcIQMCT5_WyFN5WDb9oBgZglXG89FA",
        "items": [
          {
            "etag": "BCcX_GwfLehQT3Y3_r3ybOPcW8Xh1kZ21N5XzHPbksc",
            "key": "ab,cd",
            "label": null,
            "content_type": null,
            "value": "comma in key",
            "tags": {},
            "locked": false,
            "last_modified": "2025-10-09T16:27:32+00:00"
          },
          {
            "etag": "TIDHM1TeZAc5t9YLJ_smDQan5DH_UvoL4cc42oanAYU",
            "key": "wx,yz",
            "label": null,
            "content_type": null,
            "value": "comma in key",
            "tags": {},
            "locked": false,
            "last_modified": "2025-10-09T16:27:33+00:00"
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/kv/wx%2Cyz?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Njo1IzU1NTMyMDc4",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"TIDHM1TeZAc5t9YLJ_smDQan5DH_UvoL4cc42oanAYU\"",
        "Last-Modified": "Thu, 09 Oct 2025 16:27:33 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzU1NTMyMDc5;sn=55532079",
        "x-ms-date": "Thu, 09 Oct 2025 16:27:33 GMT"
      },
      "ResponseBody": {
        "etag": "TIDHM1TeZAc5t9YLJ_smDQan5DH_UvoL4cc42oanAYU",
        "key": "wx,yz",
        "label": null,
        "content_type": null,
        "value": "comma in key",
        "tags": {},
        "locked": false,
        "last_modified": "2025-10-09T16:27:33+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t8cdd9157ca7d1363-azconfig-net.azconfig.io;Id=wNKY;Secret=Kg==",
    "RandomSeed": "137742878"
  }
}
