{
  "Entries": [
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/kv/key-1786702104?api-version=2023-11-01&label=my_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "my_value",
        "content_type": null,
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"cD1hYlxNCkLNXy_bU5XTaaWbQ8ENj8VXi8E5z5ELRj8\"",
        "Last-Modified": "Mon, 17 Nov 2025 16:50:42 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzU3NzY0MzAx;sn=57764301",
        "x-ms-date": "Mon, 17 Nov 2025 16:50:42 GMT"
      },
      "ResponseBody": {
        "etag": "cD1hYlxNCkLNXy_bU5XTaaWbQ8ENj8VXi8E5z5ELRj8",
        "key": "key-1786702104",
        "label": "my_label",
        "content_type": null,
        "value": "my_value",
        "tags": {},
        "locked": false,
        "last_modified": "2025-11-17T16:50:42+00:00"
      }
    },
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/kv?$select=key%2Clocked&api-version=2023-11-01&key=key-1786702104",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Njo1IzU3NzY0MzAx",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"Y2rj27Rd46QGsLcI1SllHcuPZaftWNxaNYAvzvurjss\"",
        "Sync-Token": "zAJw6V16=Njo1IzU3NzY0MzAx;sn=57764301",
        "x-ms-date": "Mon, 17 Nov 2025 16:50:42 GMT"
      },
      "ResponseBody": {
        "etag": "Y2rj27Rd46QGsLcI1SllHcuPZaftWNxaNYAvzvurjss",
        "items": [
          {
            "key": "key-1786702104",
            "locked": false
          }
        ]
      }
    },
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/kv/key-1786702104?api-version=2023-11-01&label=my_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Njo1IzU3NzY0MzAx",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"cD1hYlxNCkLNXy_bU5XTaaWbQ8ENj8VXi8E5z5ELRj8\"",
        "Last-Modified": "Mon, 17 Nov 2025 16:50:42 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzU3NzY0MzAy;sn=57764302",
        "x-ms-date": "Mon, 17 Nov 2025 16:50:42 GMT"
      },
      "ResponseBody": {
        "etag": "cD1hYlxNCkLNXy_bU5XTaaWbQ8ENj8VXi8E5z5ELRj8",
        "key": "key-1786702104",
        "label": "my_label",
        "content_type": null,
        "value": "my_value",
        "tags": {},
        "locked": false,
        "last_modified": "2025-11-17T16:50:42+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t8cdd9157ca7d1363-azconfig-net.azconfig.io;Id=wNKY;Secret=Kg==",
    "RandomSeed": "66173771"
  }
}
