{
  "Entries": [
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv/key-1443128603?api-version=2026-04-01&label=my_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "value": "my_value",
        "content_type": null,
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"kVFyTAcnHmJHAxhbzYN9EMXhCAO4pPn8eAdAL-jqbng\"",
        "Last-Modified": "Wed, 10 Jun 2026 21:33:11 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDk0MzM4;sn=67094338",
        "x-ms-date": "Wed, 10 Jun 2026 21:33:11 GMT"
      },
      "ResponseBody": {
        "etag": "kVFyTAcnHmJHAxhbzYN9EMXhCAO4pPn8eAdAL-jqbng",
        "key": "key-1443128603",
        "label": "my_label",
        "content_type": null,
        "value": "my_value",
        "description": null,
        "tags": {},
        "locked": false,
        "last_modified": "2026-06-10T21:33:11+00:00"
      }
    },
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv?$select=key%2Clocked&api-version=2026-04-01&key=key-1443128603",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDk0MzM4"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"sp6hAzLkuE29FEmokUdDilb3znQVfN02cxbSmmCOqWY\"",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDk0MzM4;sn=67094338",
        "x-ms-date": "Wed, 10 Jun 2026 21:33:11 GMT"
      },
      "ResponseBody": {
        "etag": "sp6hAzLkuE29FEmokUdDilb3znQVfN02cxbSmmCOqWY",
        "items": [
          {
            "key": "key-1443128603",
            "locked": false
          }
        ]
      }
    },
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv/key-1443128603?api-version=2026-04-01&label=my_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDk0MzM4"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"kVFyTAcnHmJHAxhbzYN9EMXhCAO4pPn8eAdAL-jqbng\"",
        "Last-Modified": "Wed, 10 Jun 2026 21:33:11 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDk0MzM5;sn=67094339",
        "x-ms-date": "Wed, 10 Jun 2026 21:33:11 GMT"
      },
      "ResponseBody": {
        "etag": "kVFyTAcnHmJHAxhbzYN9EMXhCAO4pPn8eAdAL-jqbng",
        "key": "key-1443128603",
        "label": "my_label",
        "content_type": null,
        "value": "my_value",
        "description": null,
        "tags": {},
        "locked": false,
        "last_modified": "2026-06-10T21:33:11+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_ENDPOINT_STRING": "https://mrm90847047-azconfig-net.azconfig.io",
    "RandomSeed": "38446081"
  }
}
