{
  "Entries": [
    {
      "RequestUri": "https://appconfig-canary-2023-10-01.azconfig.io/kv/key-1698725456?label=test_label\u0026api-version=2023-10-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "b11OQu6GthUatwGXUIKHHSRVyik0TdrUk5kZm3yZd2A="
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022oLoACXsGLZBewCActeEzrca71TJ7e1Nfq7tUpos_E-Q\u0022",
        "Last-Modified": "Fri, 03 Nov 2023 20:09:39 GMT",
        "Sync-Token": "zAJw6V16=NjoxNSM1MzM5MTkw;sn=5339190"
      },
      "ResponseBody": {
        "etag": "oLoACXsGLZBewCActeEzrca71TJ7e1Nfq7tUpos_E-Q",
        "key": "key-1698725456",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2023-11-03T20:09:39\u002B00:00"
      }
    },
    {
      "RequestUri": "https://appconfig-canary-2023-10-01.azconfig.io/kv?api-version=2023-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NjoxNSM1MzM5MTkw",
        "x-ms-content-sha256": "47DEQpj8HBSa\u002B/TImW\u002B5JCeuQeRkm5NMpJWZG3hSuFU="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset\u002Bjson; charset=utf-8",
        "ETag": "\u0022iAp65jbc4U23o2uh6TyH0g7qGfuvdwYGLYnG1N2YuOI\u0022",
        "Sync-Token": "zAJw6V16=NjoxNSM1MzM5MTkw;sn=5339190"
      },
      "ResponseBody": {
        "etag": "iAp65jbc4U23o2uh6TyH0g7qGfuvdwYGLYnG1N2YuOI",
        "items": [
          {
            "etag": "oLoACXsGLZBewCActeEzrca71TJ7e1Nfq7tUpos_E-Q",
            "key": "key-1698725456",
            "label": "test_label",
            "content_type": "test_content_type",
            "value": "test_value",
            "tags": {
              "tag1": "value1",
              "tag2": "value2"
            },
            "locked": false,
            "last_modified": "2023-11-03T20:09:39\u002B00:00"
          }
        ]
      }
    },
    {
      "RequestUri": "https://appconfig-canary-2023-10-01.azconfig.io/kv/key-1698725456?label=test_label\u0026api-version=2023-10-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NjoxNSM1MzM5MTkw",
        "x-ms-content-sha256": "47DEQpj8HBSa\u002B/TImW\u002B5JCeuQeRkm5NMpJWZG3hSuFU="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022oLoACXsGLZBewCActeEzrca71TJ7e1Nfq7tUpos_E-Q\u0022",
        "Last-Modified": "Fri, 03 Nov 2023 20:09:39 GMT",
        "Sync-Token": "zAJw6V16=NjoxNSM1MzM5MTkx;sn=5339191"
      },
      "ResponseBody": {
        "etag": "oLoACXsGLZBewCActeEzrca71TJ7e1Nfq7tUpos_E-Q",
        "key": "key-1698725456",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2023-11-03T20:09:39\u002B00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://appconfig-canary-2023-10-01.azconfig.io;Id=0VlC;Secret=Kg==",
    "RandomSeed": "380781669"
  }
}
