{
  "Entries": [
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-1920374214?api-version=2023-11-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"4WmI-Ekzntpayasfonviqwp2_0eEBcZ6RRv2KGUBmFU\"",
        "Last-Modified": "Mon, 01 Dec 2025 08:41:51 GMT",
        "Sync-Token": "zAJw6V16=NTo1Izk4Nzc2Njgy;sn=98776682",
        "x-ms-date": "Mon, 01 Dec 2025 08:41:51 GMT"
      },
      "ResponseBody": {
        "etag": "4WmI-Ekzntpayasfonviqwp2_0eEBcZ6RRv2KGUBmFU",
        "key": "key-1920374214",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2025-12-01T08:41:51+00:00"
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv?api-version=2023-11-01&label=test_label",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1Izk4Nzc2Njgy",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"gRjmH_Z6BQQORlCcFgzxdV9R71pW5XrvoEf_6-AIN34\"",
        "Sync-Token": "zAJw6V16=NTo1Izk4Nzc2Njgy;sn=98776682",
        "x-ms-date": "Mon, 01 Dec 2025 08:41:51 GMT"
      },
      "ResponseBody": {
        "etag": "gRjmH_Z6BQQORlCcFgzxdV9R71pW5XrvoEf_6-AIN34",
        "items": [
          {
            "etag": "4WmI-Ekzntpayasfonviqwp2_0eEBcZ6RRv2KGUBmFU",
            "key": "key-1920374214",
            "label": "test_label",
            "content_type": "test_content_type",
            "value": "test_value",
            "tags": {
              "tag1": "value1",
              "tag2": "value2"
            },
            "locked": false,
            "last_modified": "2025-12-01T08:41:51+00:00"
          }
        ]
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-1920374214?api-version=2023-11-01&label=test_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1Izk4Nzc2Njgy",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"4WmI-Ekzntpayasfonviqwp2_0eEBcZ6RRv2KGUBmFU\"",
        "Last-Modified": "Mon, 01 Dec 2025 08:41:51 GMT",
        "Sync-Token": "zAJw6V16=NTo1Izk4Nzc2Njgz;sn=98776683",
        "x-ms-date": "Mon, 01 Dec 2025 08:41:51 GMT"
      },
      "ResponseBody": {
        "etag": "4WmI-Ekzntpayasfonviqwp2_0eEBcZ6RRv2KGUBmFU",
        "key": "key-1920374214",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2025-12-01T08:41:51+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t9c954b564de572f9-azconfig-net.azconfig.io;Id=MdvE;Secret=Kg==",
    "RandomSeed": "954058859"
  }
}
