{
  "Entries": [
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/GetBatchSettingIfChangedWithUnmodifiedPageSync?api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"Y1Zk7St9SGHT-O2WhDBUFhuvLGASJKIz8_7PGv_K56c\"",
        "Last-Modified": "Wed, 21 Jan 2026 06:38:10 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzQ3NDQ3OQ==;sn=103474479",
        "x-ms-date": "Thu, 22 Jan 2026 02:01:49 GMT"
      },
      "ResponseBody": {
        "etag": "Y1Zk7St9SGHT-O2WhDBUFhuvLGASJKIz8_7PGv_K56c",
        "key": "GetBatchSettingIfChangedWithUnmodifiedPageSync",
        "label": null,
        "content_type": null,
        "value": "key-1166011438",
        "tags": {},
        "locked": false,
        "last_modified": "2026-01-21T06:38:10+00:00"
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv?api-version=2023-11-01&key=key-1166011438",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzQ3NDQ3OQ==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"mdQ5WBErb9aBDVR7rrk7UQGOHe18ixBHUQSUgP8rRgk\"",
        "Link": "</kv?api-version=2023-11-01&key=key-1166011438&after=a2V5LTExNjYwMTE0MzgKOTQ%3D>; rel=\"next\"",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzQ3NDQ3OQ==;sn=103474479",
        "x-ms-date": "Thu, 22 Jan 2026 02:01:49 GMT"
      },
      "ResponseBody": {
        "etag": "mdQ5WBErb9aBDVR7rrk7UQGOHe18ixBHUQSUgP8rRgk",
        "items": [
          {
            "etag": "eDDOfXT7iuvSn75TxNuAzP7SfkqLIrTnKbiKy7VpPzY",
            "key": "key-1166011438",
            "label": "0",
            "content_type": null,
            "value": "test_value",
            "tags": {},
            "locked": false,
            "last_modified": "2026-01-21T06:37:57+00:00"
          },
          {
            "etag": "m2KxafegPLvUyrKPKL7Q4_ywSUJoLGRwDrCARxinuY4",
            "key": "key-1166011438",
            "label": "1",
            "content_[...]
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv?after=a2V5LTExNjYwMTE0MzgKOTQ%3D&api-version=2023-11-01&key=key-1166011438",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzQ3NDQ3OQ==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.k[...]
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv?api-version=2023-11-01&key=key-1166011438",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "\"mdQ5WBErb9aBDVR7rrk7UQGOHe18ixBHUQSUgP8rRgk\"",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzQ3NDQ3OQ==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 304,
      "ResponseHeaders": {
        "Link": "</kv?api-version=2023-11-01&key=key-1166011438&after=a2V5LTExNjYwMTE0MzgKOTQ%3D>; rel=\"next\"",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzQ3NDQ3OQ==;sn=103474479",
        "x-ms-date": "Thu, 22 Jan 2026 02:01:50 GMT"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv?after=a2V5LTExNjYwMTE0MzgKOTQ%3D&api-version=2023-11-01&key=key-1166011438",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "\"s0FzI0BoQ0aFfmbrX98dmggtkz_BiYTwDRgD1t9HCoY\"",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzQ3NDQ3OQ==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 304,
      "ResponseHeaders": {
        "Sync-Token": "zAJw6V16=NTo1IzEwMzQ3NDQ3OQ==;sn=103474479",
        "x-ms-date": "Thu, 22 Jan 2026 02:01:50 GMT"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t9c954b564de572f9-azconfig-net.azconfig.io;Id=MdvE;Secret=Kg==",
    "RandomSeed": "1882876704"
  }
}
