{
  "Entries": [
    {
      "RequestUri": "https://jsquire-08-azconfig-net.azconfig.io/kv/key-1257483830?label=test_label\u0026api-version=1.0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "b11OQu6GthUatwGXUIKHHSRVyik0TdrUk5kZm3yZd2A="
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022VuJCK533i7hI1TXPuMjfjICgdH5JWS3vzIkOJSF94L4\u0022",
        "Last-Modified": "Fri, 08 Sep 2023 13:35:29 GMT",
        "Sync-Token": "zAJw6V16=NToxOSM1MzQ0OTI3MQ==;sn=53449271",
        "x-ms-resource-group": "jsquire-appconfig",
        "x-ms-subscription-id": "faa080af-c1d8-40ad-9cce-e1a450ca5b57",
        "x-ms-tenant-name": "jsquire-08-azconfig-net"
      },
      "ResponseBody": {
        "etag": "VuJCK533i7hI1TXPuMjfjICgdH5JWS3vzIkOJSF94L4",
        "key": "key-1257483830",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2023-09-08T13:35:29\u002B00:00"
      }
    },
    {
      "RequestUri": "https://jsquire-08-azconfig-net.azconfig.io/kv?api-version=1.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NToxOSM1MzQ0OTI3MQ==",
        "x-ms-content-sha256": "47DEQpj8HBSa\u002B/TImW\u002B5JCeuQeRkm5NMpJWZG3hSuFU="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset\u002Bjson; charset=utf-8",
        "Link": "\u003C/kv?api-version=1.0\u0026after=a2V5LTExNDAyNTU4MTcKOTM%3D\u003E; rel=\u0022next\u0022",
        "Sync-Token": "zAJw6V16=NToxOSM1MzQ0OTI3MQ==;sn=53449271",
        "x-ms-resource-group": "jsquire-appconfig",
        "x-ms-subscription-id": "faa080af-c1d8-40ad-9cce-e1a450ca5b57",
        "x-ms-tenant-name": "jsquire-08-azconfig-net"
      },
      "ResponseBody": {
        "items": [
          {
            "etag": "7GTPA-LEnLLkj8tK_NhOnjEdJ5M7KgGw3dE_P1ImFwc",
            "key": "BatchKey",
            "label": null,
            "content_type": null,
            "value": "key-1140255817",
            "tags": {},
            "locked": false,
            "last_modified": "2023-09-08T13:35:20\u002B00:00"
          },
          {
            "etag": "RVnQtokcS6o2b3G3NIbfp0MhcbcuYQk4VmTe9BCj-4Y",
            "key": "key-1140255817",
            "label": "0",
            "cont[...]
    {
      "RequestUri": "https://jsquire-08-azconfig-net.azconfig.io/kv?api-version=1.0\u0026after=a2V5LTExNDAyNTU4MTcKOTM%3D",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NToxOSM1MzQ0OTI3MQ==",
        "x-ms-content-sha256": "47DEQpj8HBSa\u002B/TImW\u002B5JCeuQeRkm5NMpJWZG3hSuFU="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.micr[...]
    {
      "RequestUri": "https://jsquire-08-azconfig-net.azconfig.io/kv/key-1257483830?label=test_label\u0026api-version=1.0",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NToxOSM1MzQ0OTI3MQ==",
        "x-ms-content-sha256": "47DEQpj8HBSa\u002B/TImW\u002B5JCeuQeRkm5NMpJWZG3hSuFU="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022VuJCK533i7hI1TXPuMjfjICgdH5JWS3vzIkOJSF94L4\u0022",
        "Last-Modified": "Fri, 08 Sep 2023 13:35:29 GMT",
        "Sync-Token": "zAJw6V16=NToxOSM1MzQ0OTI3Mg==;sn=53449272",
        "x-ms-resource-group": "jsquire-appconfig",
        "x-ms-subscription-id": "faa080af-c1d8-40ad-9cce-e1a450ca5b57",
        "x-ms-tenant-name": "jsquire-08-azconfig-net"
      },
      "ResponseBody": {
        "etag": "VuJCK533i7hI1TXPuMjfjICgdH5JWS3vzIkOJSF94L4",
        "key": "key-1257483830",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2023-09-08T13:35:29\u002B00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://jsquire-08-azconfig-net.azconfig.io;Id=bAH8;Secret=Kg==",
    "RandomSeed": "373188968"
  }
}
