{
  "Entries": [
    {
      "RequestUri": "https://azure-sdk-for-net-test.azconfig.io/kv/~%60%21%40%23%24%5E%26%28%29_%2B%3D%5B%5D%7B%7D%7C%3B%22%27%3C%3E.%2F--1847879797?api-version=2026-04-01&label=label-~%60%21%40%23%24%5E%26%28%29_%2B%3D%5B%5D%7B%7D%7C%3B%22%27%3C%3E.%2F-",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "value-~`!@#$^&()_+=[]{}|;\"'<>./-",
        "content_type": null,
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"7oHvQMfVtNciXb7JsbSG79ArvejCR7GmiogWojyS1YE\"",
        "Last-Modified": "Thu, 28 May 2026 00:01:36 GMT",
        "Sync-Token": "zAJw6V16=NToxNyM0ODA0MjM0MA==;sn=48042340",
        "x-ms-date": "Thu, 28 May 2026 00:01:36 GMT"
      },
      "ResponseBody": {
        "etag": "7oHvQMfVtNciXb7JsbSG79ArvejCR7GmiogWojyS1YE",
        "key": "~`!@#$^&()_+=[]{}|;\"'<>./--1847879797",
        "label": "label-~`!@#$^&()_+=[]{}|;\"'<>./-",
        "content_type": null,
        "value": "value-~`!@#$^&()_+=[]{}|;\"'<>./-",
        "description": null,
        "tags": {},
        "locked": false,
        "last_modified": "2026-05-28T00:01:36+00:00"
      }
    },
    {
      "RequestUri": "https://azure-sdk-for-net-test.azconfig.io/kv?api-version=2026-04-01&key=~%60%21%40%23%24%5E%26%28%29_%2B%3D%5B%5D%7B%7D%7C%3B%22%27%3C%3E.%2F--1847879797",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NToxNyM0ODA0MjM0MA==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"DOB-17IXgZXq7Nj8YpSniDTKtAeix4BFcImUiy67NpE\"",
        "Sync-Token": "zAJw6V16=NToxNyM0ODA0MjM0MA==;sn=48042340",
        "x-ms-date": "Thu, 28 May 2026 00:01:36 GMT"
      },
      "ResponseBody": {
        "etag": "DOB-17IXgZXq7Nj8YpSniDTKtAeix4BFcImUiy67NpE",
        "items": [
          {
            "etag": "7oHvQMfVtNciXb7JsbSG79ArvejCR7GmiogWojyS1YE",
            "key": "~`!@#$^&()_+=[]{}|;\"'<>./--1847879797",
            "label": "label-~`!@#$^&()_+=[]{}|;\"'<>./-",
            "content_type": null,
            "value": "value-~`!@#$^&()_+=[]{}|;\"'<>./-",
            "description": null,
            "tags": {},
            "locked": false,
            "last_modified": "2026-05-28T00:01:36+00:00"
          }
        ]
      }
    },
    {
      "RequestUri": "https://azure-sdk-for-net-test.azconfig.io/kv/~%60%21%40%23%24%5E%26%28%29_%2B%3D%5B%5D%7B%7D%7C%3B%22%27%3C%3E.%2F--1847879797?api-version=2026-04-01&label=label-~%60%21%40%23%24%5E%26%28%29_%2B%3D%5B%5D%7B%7D%7C%3B%22%27%3C%3E.%2F-",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NToxNyM0ODA0MjM0MA==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"7oHvQMfVtNciXb7JsbSG79ArvejCR7GmiogWojyS1YE\"",
        "Last-Modified": "Thu, 28 May 2026 00:01:36 GMT",
        "Sync-Token": "zAJw6V16=NToxNyM0ODA0MjM0MQ==;sn=48042341",
        "x-ms-date": "Thu, 28 May 2026 00:01:36 GMT"
      },
      "ResponseBody": {
        "etag": "7oHvQMfVtNciXb7JsbSG79ArvejCR7GmiogWojyS1YE",
        "key": "~`!@#$^&()_+=[]{}|;\"'<>./--1847879797",
        "label": "label-~`!@#$^&()_+=[]{}|;\"'<>./-",
        "content_type": null,
        "value": "value-~`!@#$^&()_+=[]{}|;\"'<>./-",
        "description": null,
        "tags": {},
        "locked": false,
        "last_modified": "2026-05-28T00:01:36+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://azure-sdk-for-net-test.azconfig.io;Id=8ePU;Secret=Kg==",
    "RandomSeed": "2078601229"
  }
}
