{
  "Entries": [
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/keyFields-566026989?api-version=2023-11-01&label=my_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "my_value",
        "content_type": null,
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"Pa8cf2KJ6D33U6j2_rtIsO2GgimdVjj-crwzBWswdKk\"",
        "Last-Modified": "Thu, 22 Jan 2026 01:39:01 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzQ3Mzk1Mg==;sn=103473952",
        "x-ms-date": "Thu, 22 Jan 2026 01:39:01 GMT"
      },
      "ResponseBody": {
        "etag": "Pa8cf2KJ6D33U6j2_rtIsO2GgimdVjj-crwzBWswdKk",
        "key": "keyFields-566026989",
        "label": "my_label",
        "content_type": null,
        "value": "my_value",
        "tags": {},
        "locked": false,
        "last_modified": "2026-01-22T01:39:01+00:00"
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv?$select=key%2Clabel%2Cetag&api-version=2023-11-01&key=keyFields-566026989",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzQ3Mzk1Mg==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"9YGfn8xWSlUXPvhCJeaKXvq0-DUUmR44370xQo2xF6Q\"",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzQ3Mzk1Mg==;sn=103473952",
        "x-ms-date": "Thu, 22 Jan 2026 01:39:01 GMT"
      },
      "ResponseBody": {
        "etag": "9YGfn8xWSlUXPvhCJeaKXvq0-DUUmR44370xQo2xF6Q",
        "items": [
          {
            "etag": "Pa8cf2KJ6D33U6j2_rtIsO2GgimdVjj-crwzBWswdKk",
            "key": "keyFields-566026989",
            "label": "my_label"
          }
        ]
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/keyFields-566026989?api-version=2023-11-01&label=my_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzQ3Mzk1Mg==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"Pa8cf2KJ6D33U6j2_rtIsO2GgimdVjj-crwzBWswdKk\"",
        "Last-Modified": "Thu, 22 Jan 2026 01:39:01 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzQ3Mzk1Mw==;sn=103473953",
        "x-ms-date": "Thu, 22 Jan 2026 01:39:01 GMT"
      },
      "ResponseBody": {
        "etag": "Pa8cf2KJ6D33U6j2_rtIsO2GgimdVjj-crwzBWswdKk",
        "key": "keyFields-566026989",
        "label": "my_label",
        "content_type": null,
        "value": "my_value",
        "tags": {},
        "locked": false,
        "last_modified": "2026-01-22T01:39:01+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t9c954b564de572f9-azconfig-net.azconfig.io;Id=MdvE;Secret=Kg==",
    "RandomSeed": "1546745042"
  }
}
