{
  "Entries": [
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-497877647?api-version=2023-11-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"het1e_b-NO56qjVT7wG8sjbneAagRsmqEIjojx7dI_0\"",
        "Last-Modified": "Tue, 06 Jan 2026 06:34:48 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTc3MzU3Nw==;sn=101773577",
        "x-ms-date": "Tue, 06 Jan 2026 06:34:48 GMT"
      },
      "ResponseBody": {
        "etag": "het1e_b-NO56qjVT7wG8sjbneAagRsmqEIjojx7dI_0",
        "key": "key-497877647",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-01-06T06:34:48+00:00"
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv?api-version=2023-11-01&key=key-497877647&label=test_label",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTc3MzU3Nw==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"Mdz_zfhxnWgsHyfVd57tzZy5Aqxtoi0RF6for2qwLHQ\"",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTc3MzU3Nw==;sn=101773577",
        "x-ms-date": "Tue, 06 Jan 2026 06:34:48 GMT"
      },
      "ResponseBody": {
        "etag": "Mdz_zfhxnWgsHyfVd57tzZy5Aqxtoi0RF6for2qwLHQ",
        "items": [
          {
            "etag": "het1e_b-NO56qjVT7wG8sjbneAagRsmqEIjojx7dI_0",
            "key": "key-497877647",
            "label": "test_label",
            "content_type": "test_content_type",
            "value": "test_value",
            "tags": {
              "tag1": "value1",
              "tag2": "value2"
            },
            "locked": false,
            "last_modified": "2026-01-06T06:34:48+00:00"
          }
        ]
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-497877647?api-version=2023-11-01&label=test_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTc3MzU3Nw==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"het1e_b-NO56qjVT7wG8sjbneAagRsmqEIjojx7dI_0\"",
        "Last-Modified": "Tue, 06 Jan 2026 06:34:48 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTc3MzU3OA==;sn=101773578",
        "x-ms-date": "Tue, 06 Jan 2026 06:34:48 GMT"
      },
      "ResponseBody": {
        "etag": "het1e_b-NO56qjVT7wG8sjbneAagRsmqEIjojx7dI_0",
        "key": "key-497877647",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-01-06T06:34:48+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t9c954b564de572f9-azconfig-net.azconfig.io;Id=MdvE;Secret=Kg==",
    "RandomSeed": "1986859454"
  }
}
