{
  "Entries": [
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/ab%2Ccd?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "comma in key",
        "content_type": null,
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"vO8LIwY6b__nNQ7SWOKSnmPrAetIMQUObuXTJVU3q1w\"",
        "Last-Modified": "Mon, 26 Jan 2026 05:47:33 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzg1MjIwMQ==;sn=103852201",
        "x-ms-date": "Mon, 26 Jan 2026 05:47:33 GMT"
      },
      "ResponseBody": {
        "etag": "vO8LIwY6b__nNQ7SWOKSnmPrAetIMQUObuXTJVU3q1w",
        "key": "ab,cd",
        "label": null,
        "content_type": null,
        "value": "comma in key",
        "tags": {},
        "locked": false,
        "last_modified": "2026-01-26T05:47:33+00:00"
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/wx%2Cyz?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzg1MjIwMQ==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "comma in key",
        "content_type": null,
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"c5zg4Co5TZfT89bmsqffggXkeXqJVe_PFjajk6zfiHw\"",
        "Last-Modified": "Mon, 26 Jan 2026 05:47:33 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzg1MjIwMw==;sn=103852203",
        "x-ms-date": "Mon, 26 Jan 2026 05:47:33 GMT"
      },
      "ResponseBody": {
        "etag": "c5zg4Co5TZfT89bmsqffggXkeXqJVe_PFjajk6zfiHw",
        "key": "wx,yz",
        "label": null,
        "content_type": null,
        "value": "comma in key",
        "tags": {},
        "locked": false,
        "last_modified": "2026-01-26T05:47:33+00:00"
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv?api-version=2023-11-01&key=ab%5C%2Ccd%2Cwx%5C%2Cyz",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzg1MjIwMw==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"UNYcrGo62SGlsr3zSaI9TMJwRqi3YbUz1vbuS1dQeCo\"",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzg1MjIwNA==;sn=103852204",
        "x-ms-date": "Mon, 26 Jan 2026 05:47:33 GMT"
      },
      "ResponseBody": {
        "etag": "UNYcrGo62SGlsr3zSaI9TMJwRqi3YbUz1vbuS1dQeCo",
        "items": [
          {
            "etag": "vO8LIwY6b__nNQ7SWOKSnmPrAetIMQUObuXTJVU3q1w",
            "key": "ab,cd",
            "label": null,
            "content_type": null,
            "value": "comma in key",
            "tags": {},
            "locked": false,
            "last_modified": "2026-01-26T05:47:33+00:00"
          },
          {
            "etag": "c5zg4Co5TZfT89bmsqffggXkeXqJVe_PFjajk6zfiHw",
            "key": "wx,yz",
            "label": null,
            "content_type": null,
            "value": "comma in key",
            "tags": {},
            "locked": false,
            "last_modified": "2026-01-26T05:47:33+00:00"
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/wx%2Cyz?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzg1MjIwNQ==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"c5zg4Co5TZfT89bmsqffggXkeXqJVe_PFjajk6zfiHw\"",
        "Last-Modified": "Mon, 26 Jan 2026 05:47:33 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzg1MjIwNg==;sn=103852206",
        "x-ms-date": "Mon, 26 Jan 2026 05:47:33 GMT"
      },
      "ResponseBody": {
        "etag": "c5zg4Co5TZfT89bmsqffggXkeXqJVe_PFjajk6zfiHw",
        "key": "wx,yz",
        "label": null,
        "content_type": null,
        "value": "comma in key",
        "tags": {},
        "locked": false,
        "last_modified": "2026-01-26T05:47:33+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t9c954b564de572f9-azconfig-net.azconfig.io;Id=MdvE;Secret=Kg==",
    "RandomSeed": "1520481096"
  }
}
