{
  "Entries": [
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/kv/abc?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "abc setting",
        "content_type": null,
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"TYYa1hZxdoA4DlIBjVq8UOYqTeOsZ46szRap_N7doDA\"",
        "Last-Modified": "Mon, 17 Nov 2025 16:50:40 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzU3NzY0Mjgz;sn=57764283",
        "x-ms-date": "Mon, 17 Nov 2025 16:50:40 GMT"
      },
      "ResponseBody": {
        "etag": "TYYa1hZxdoA4DlIBjVq8UOYqTeOsZ46szRap_N7doDA",
        "key": "abc",
        "label": null,
        "content_type": null,
        "value": "abc setting",
        "tags": {},
        "locked": false,
        "last_modified": "2025-11-17T16:50:40+00:00"
      }
    },
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/kv/xyz?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=Njo1IzU3NzY0Mjgz",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "xyz setting",
        "content_type": null,
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"eHdqqI6TJOYhIjib8XFWmcaOU-FXk9SeGSiU2cg0xdI\"",
        "Last-Modified": "Mon, 17 Nov 2025 16:50:40 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzU3NzY0Mjg1;sn=57764285",
        "x-ms-date": "Mon, 17 Nov 2025 16:50:40 GMT"
      },
      "ResponseBody": {
        "etag": "eHdqqI6TJOYhIjib8XFWmcaOU-FXk9SeGSiU2cg0xdI",
        "key": "xyz",
        "label": null,
        "content_type": null,
        "value": "xyz setting",
        "tags": {},
        "locked": false,
        "last_modified": "2025-11-17T16:50:40+00:00"
      }
    },
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/kv?api-version=2023-11-01&key=abc%2Cxyz",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Njo1IzU3NzY0Mjg1",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"S2KbC1CChGbB8xj8wOG1srERdH62nZDzafjOTJtObUk\"",
        "Sync-Token": "zAJw6V16=Njo1IzU3NzY0Mjg2;sn=57764286",
        "x-ms-date": "Mon, 17 Nov 2025 16:50:40 GMT"
      },
      "ResponseBody": {
        "etag": "S2KbC1CChGbB8xj8wOG1srERdH62nZDzafjOTJtObUk",
        "items": [
          {
            "etag": "TYYa1hZxdoA4DlIBjVq8UOYqTeOsZ46szRap_N7doDA",
            "key": "abc",
            "label": null,
            "content_type": null,
            "value": "abc setting",
            "tags": {},
            "locked": false,
            "last_modified": "2025-11-17T16:50:40+00:00"
          },
          {
            "etag": "eHdqqI6TJOYhIjib8XFWmcaOU-FXk9SeGSiU2cg0xdI",
            "key": "xyz",
            "label": null,
            "content_type": null,
            "value": "xyz setting",
            "tags": {},
            "locked": false,
            "last_modified": "2025-11-17T16:50:40+00:00"
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/kv/xyz?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Njo1IzU3NzY0Mjg3",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"eHdqqI6TJOYhIjib8XFWmcaOU-FXk9SeGSiU2cg0xdI\"",
        "Last-Modified": "Mon, 17 Nov 2025 16:50:40 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzU3NzY0Mjg4;sn=57764288",
        "x-ms-date": "Mon, 17 Nov 2025 16:50:40 GMT"
      },
      "ResponseBody": {
        "etag": "eHdqqI6TJOYhIjib8XFWmcaOU-FXk9SeGSiU2cg0xdI",
        "key": "xyz",
        "label": null,
        "content_type": null,
        "value": "xyz setting",
        "tags": {},
        "locked": false,
        "last_modified": "2025-11-17T16:50:40+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t8cdd9157ca7d1363-azconfig-net.azconfig.io;Id=wNKY;Secret=Kg==",
    "RandomSeed": "1975300895"
  }
}
