{
  "Entries": [
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-1964954818?api-version=2023-11-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"56NXLO4AJHzHkoVLVeK25Q9A9jOShPjHgpm0Zx9gysA\"",
        "Last-Modified": "Tue, 23 Dec 2025 05:43:01 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTA0OTM1MA==;sn=101049350",
        "x-ms-date": "Tue, 23 Dec 2025 05:43:01 GMT"
      },
      "ResponseBody": {
        "etag": "56NXLO4AJHzHkoVLVeK25Q9A9jOShPjHgpm0Zx9gysA",
        "key": "key-1964954818",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2025-12-23T05:43:01+00:00"
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv?api-version=2023-11-01&key=key-1964954818&label=test_label",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTA0OTM1MA==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"bnLwZnRA9dt9lHTnTcJYnykAUhzrilGa9R0MEIOc33k\"",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTA0OTM1MA==;sn=101049350",
        "x-ms-date": "Tue, 23 Dec 2025 05:43:01 GMT"
      },
      "ResponseBody": {
        "etag": "bnLwZnRA9dt9lHTnTcJYnykAUhzrilGa9R0MEIOc33k",
        "items": [
          {
            "etag": "56NXLO4AJHzHkoVLVeK25Q9A9jOShPjHgpm0Zx9gysA",
            "key": "key-1964954818",
            "label": "test_label",
            "content_type": "test_content_type",
            "value": "test_value",
            "tags": {
              "tag1": "value1",
              "tag2": "value2"
            },
            "locked": false,
            "last_modified": "2025-12-23T05:43:01+00:00"
          }
        ]
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-1964954818?api-version=2023-11-01&label=test_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTA0OTM1MA==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"56NXLO4AJHzHkoVLVeK25Q9A9jOShPjHgpm0Zx9gysA\"",
        "Last-Modified": "Tue, 23 Dec 2025 05:43:01 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTA0OTM1MQ==;sn=101049351",
        "x-ms-date": "Tue, 23 Dec 2025 05:43:01 GMT"
      },
      "ResponseBody": {
        "etag": "56NXLO4AJHzHkoVLVeK25Q9A9jOShPjHgpm0Zx9gysA",
        "key": "key-1964954818",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2025-12-23T05:43:01+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t9c954b564de572f9-azconfig-net.azconfig.io;Id=MdvE;Secret=Kg==",
    "RandomSeed": "738560586"
  }
}
