{
  "Entries": [
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/kv/key-1437065877?api-version=2023-11-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"LR2E1BloAFb0ICOAvREFIRvEi6t2HaERMc3_L6NXOWM\"",
        "Last-Modified": "Tue, 18 Nov 2025 04:22:41 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzU3ODAzOTQ2;sn=57803946",
        "x-ms-date": "Tue, 18 Nov 2025 04:22:41 GMT"
      },
      "ResponseBody": {
        "etag": "LR2E1BloAFb0ICOAvREFIRvEi6t2HaERMc3_L6NXOWM",
        "key": "key-1437065877",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2025-11-18T04:22:41+00:00"
      }
    },
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/kv?api-version=2023-11-01&label=test_label",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Njo1IzU3ODAzOTQ2",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"6tmlSxAkE1ozjJ7KMqXquvnm3drLvLgXi5qZfeEDm0Y\"",
        "Sync-Token": "zAJw6V16=Njo1IzU3ODAzOTQ2;sn=57803946",
        "x-ms-date": "Tue, 18 Nov 2025 04:22:42 GMT"
      },
      "ResponseBody": {
        "etag": "6tmlSxAkE1ozjJ7KMqXquvnm3drLvLgXi5qZfeEDm0Y",
        "items": [
          {
            "etag": "LR2E1BloAFb0ICOAvREFIRvEi6t2HaERMc3_L6NXOWM",
            "key": "key-1437065877",
            "label": "test_label",
            "content_type": "test_content_type",
            "value": "test_value",
            "tags": {
              "tag1": "value1",
              "tag2": "value2"
            },
            "locked": false,
            "last_modified": "2025-11-18T04:22:41+00:00"
          }
        ]
      }
    },
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/kv/key-1437065877?api-version=2023-11-01&label=test_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Njo1IzU3ODAzOTQ2",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"LR2E1BloAFb0ICOAvREFIRvEi6t2HaERMc3_L6NXOWM\"",
        "Last-Modified": "Tue, 18 Nov 2025 04:22:41 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzU3ODAzOTQ3;sn=57803947",
        "x-ms-date": "Tue, 18 Nov 2025 04:22:42 GMT"
      },
      "ResponseBody": {
        "etag": "LR2E1BloAFb0ICOAvREFIRvEi6t2HaERMc3_L6NXOWM",
        "key": "key-1437065877",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2025-11-18T04:22:41+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t8cdd9157ca7d1363-azconfig-net.azconfig.io;Id=wNKY;Secret=Kg==",
    "RandomSeed": "2116970315"
  }
}
