{
  "Entries": [
    {
      "RequestUri": "https://tdfcae3cf5eab7143-azconfig-net.azconfig.io/kv/key-232628108?api-version=2023-11-01&label=my_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "my_value",
        "content_type": null,
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"96jd22Fi39HaszYbRDi2bh-IP69yKDOsyFzj5PYRDa0\"",
        "Last-Modified": "Thu, 12 Jun 2025 16:19:40 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzQyMjIwOTg1;sn=42220985"
      },
      "ResponseBody": {
        "etag": "96jd22Fi39HaszYbRDi2bh-IP69yKDOsyFzj5PYRDa0",
        "key": "key-232628108",
        "label": "my_label",
        "content_type": null,
        "value": "my_value",
        "tags": {},
        "locked": false,
        "last_modified": "2025-06-12T16:19:40+00:00"
      }
    },
    {
      "RequestUri": "https://tdfcae3cf5eab7143-azconfig-net.azconfig.io/kv?api-version=2023-11-01&key=key-232628108&$Select=key%2Clocked",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Mzo1IzQyMjIwOTg1",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"CNWYpXP7VI1RWTg2Lzgs36no8JPIPgvkvHVBsgbyxkY\"",
        "Sync-Token": "zAJw6V16=Mzo1IzQyMjIwOTg1;sn=42220985"
      },
      "ResponseBody": {
        "etag": "CNWYpXP7VI1RWTg2Lzgs36no8JPIPgvkvHVBsgbyxkY",
        "items": [
          {
            "key": "key-232628108",
            "locked": false
          }
        ]
      }
    },
    {
      "RequestUri": "https://tdfcae3cf5eab7143-azconfig-net.azconfig.io/kv/key-232628108?api-version=2023-11-01&label=my_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Mzo1IzQyMjIwOTg1",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"96jd22Fi39HaszYbRDi2bh-IP69yKDOsyFzj5PYRDa0\"",
        "Last-Modified": "Thu, 12 Jun 2025 16:19:40 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzQyMjIwOTg2;sn=42220986"
      },
      "ResponseBody": {
        "etag": "96jd22Fi39HaszYbRDi2bh-IP69yKDOsyFzj5PYRDa0",
        "key": "key-232628108",
        "label": "my_label",
        "content_type": null,
        "value": "my_value",
        "tags": {},
        "locked": false,
        "last_modified": "2025-06-12T16:19:40+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://tdfcae3cf5eab7143-azconfig-net.azconfig.io;Id=GAEe;Secret=Kg==",
    "RandomSeed": "383272908"
  }
}
