{
  "Entries": [
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-884286748?api-version=2023-11-01&label=my_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "my_value",
        "content_type": null,
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"uImKuG5sHqEzRyyueURQFvjOcVLmfNgnoFyESA2E3-I\"",
        "Last-Modified": "Mon, 01 Dec 2025 08:36:16 GMT",
        "Sync-Token": "zAJw6V16=NTo1Izk4Nzc1OTAw;sn=98775900",
        "x-ms-date": "Mon, 01 Dec 2025 08:36:16 GMT"
      },
      "ResponseBody": {
        "etag": "uImKuG5sHqEzRyyueURQFvjOcVLmfNgnoFyESA2E3-I",
        "key": "key-884286748",
        "label": "my_label",
        "content_type": null,
        "value": "my_value",
        "tags": {},
        "locked": false,
        "last_modified": "2025-12-01T08:36:16+00:00"
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv?$select=key%2Clocked&api-version=2023-11-01&key=key-884286748",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1Izk4Nzc1OTAw",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"uXnQRa9o9fq6FSlC59NRtrUnshgoVfiNmVhXxfZqF-o\"",
        "Sync-Token": "zAJw6V16=NTo1Izk4Nzc1OTAw;sn=98775900",
        "x-ms-date": "Mon, 01 Dec 2025 08:36:17 GMT"
      },
      "ResponseBody": {
        "etag": "uXnQRa9o9fq6FSlC59NRtrUnshgoVfiNmVhXxfZqF-o",
        "items": [
          {
            "key": "key-884286748",
            "locked": false
          }
        ]
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-884286748?api-version=2023-11-01&label=my_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1Izk4Nzc1OTAw",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"uImKuG5sHqEzRyyueURQFvjOcVLmfNgnoFyESA2E3-I\"",
        "Last-Modified": "Mon, 01 Dec 2025 08:36:16 GMT",
        "Sync-Token": "zAJw6V16=NTo1Izk4Nzc1OTAx;sn=98775901",
        "x-ms-date": "Mon, 01 Dec 2025 08:36:17 GMT"
      },
      "ResponseBody": {
        "etag": "uImKuG5sHqEzRyyueURQFvjOcVLmfNgnoFyESA2E3-I",
        "key": "key-884286748",
        "label": "my_label",
        "content_type": null,
        "value": "my_value",
        "tags": {},
        "locked": false,
        "last_modified": "2025-12-01T08:36:16+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t9c954b564de572f9-azconfig-net.azconfig.io;Id=MdvE;Secret=Kg==",
    "RandomSeed": "1197061007"
  }
}
