{
  "Entries": [
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/keyFields-988354030?api-version=2023-11-01&label=my_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "my_value",
        "content_type": null,
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"SJwFGy-qcpMIhteTLAYSBV6BZ9G31F9L7yHo9aqXQGA\"",
        "Last-Modified": "Fri, 23 Jan 2026 07:16:13 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU3NTg3Ng==;sn=103575876",
        "x-ms-date": "Fri, 23 Jan 2026 07:16:13 GMT"
      },
      "ResponseBody": {
        "etag": "SJwFGy-qcpMIhteTLAYSBV6BZ9G31F9L7yHo9aqXQGA",
        "key": "keyFields-988354030",
        "label": "my_label",
        "content_type": null,
        "value": "my_value",
        "tags": {},
        "locked": false,
        "last_modified": "2026-01-23T07:16:13+00:00"
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv?$select=key%2Clabel%2Cetag&api-version=2023-11-01&key=keyFields-988354030",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU3NTg3Ng==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"IkTNva-oNF7e6EBO4FQhK7GuBHd-W1WC9HMMMoLaTN8\"",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU3NTg3Ng==;sn=103575876",
        "x-ms-date": "Fri, 23 Jan 2026 07:16:13 GMT"
      },
      "ResponseBody": {
        "etag": "IkTNva-oNF7e6EBO4FQhK7GuBHd-W1WC9HMMMoLaTN8",
        "items": [
          {
            "etag": "SJwFGy-qcpMIhteTLAYSBV6BZ9G31F9L7yHo9aqXQGA",
            "key": "keyFields-988354030",
            "label": "my_label"
          }
        ]
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/keyFields-988354030?api-version=2023-11-01&label=my_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU3NTg3Ng==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"SJwFGy-qcpMIhteTLAYSBV6BZ9G31F9L7yHo9aqXQGA\"",
        "Last-Modified": "Fri, 23 Jan 2026 07:16:13 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU3NTg3Nw==;sn=103575877",
        "x-ms-date": "Fri, 23 Jan 2026 07:16:13 GMT"
      },
      "ResponseBody": {
        "etag": "SJwFGy-qcpMIhteTLAYSBV6BZ9G31F9L7yHo9aqXQGA",
        "key": "keyFields-988354030",
        "label": "my_label",
        "content_type": null,
        "value": "my_value",
        "tags": {},
        "locked": false,
        "last_modified": "2026-01-23T07:16:13+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t9c954b564de572f9-azconfig-net.azconfig.io;Id=MdvE;Secret=Kg==",
    "RandomSeed": "201277235"
  }
}
