{
  "Entries": [
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/abcd?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "foobar",
        "content_type": null,
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"_xYwtaTv5ir-1Ap_b5xEsLRHW7Q22GUyumx99KXVMc0\"",
        "Last-Modified": "Tue, 06 Jan 2026 01:25:28 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTc2NzQ5NQ==;sn=101767495",
        "x-ms-date": "Tue, 06 Jan 2026 01:25:28 GMT"
      },
      "ResponseBody": {
        "etag": "_xYwtaTv5ir-1Ap_b5xEsLRHW7Q22GUyumx99KXVMc0",
        "key": "abcd",
        "label": null,
        "content_type": null,
        "value": "foobar",
        "tags": {},
        "locked": false,
        "last_modified": "2026-01-06T01:25:28+00:00"
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/wxyz?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTc2NzQ5NQ==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "barfoo",
        "content_type": null,
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"dUB6Lo0D_SGPusjwKwVCi7eA0rlNBiSJ7py4sBGF_ho\"",
        "Last-Modified": "Tue, 06 Jan 2026 01:25:29 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTc2NzQ5Nw==;sn=101767497",
        "x-ms-date": "Tue, 06 Jan 2026 01:25:29 GMT"
      },
      "ResponseBody": {
        "etag": "dUB6Lo0D_SGPusjwKwVCi7eA0rlNBiSJ7py4sBGF_ho",
        "key": "wxyz",
        "label": null,
        "content_type": null,
        "value": "barfoo",
        "tags": {},
        "locked": false,
        "last_modified": "2026-01-06T01:25:29+00:00"
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv?api-version=2023-11-01&tags=my_tag%3Dmy_tag_value",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTc2NzQ5Nw==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"00wWELzclWef22f82qcUDI7FbJweVOoKWZDA_JoUeD0\"",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTc2NzQ5OA==;sn=101767498",
        "x-ms-date": "Tue, 06 Jan 2026 01:25:29 GMT"
      },
      "ResponseBody": {
        "etag": "00wWELzclWef22f82qcUDI7FbJweVOoKWZDA_JoUeD0",
        "items": []
      }
    },
[...]
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/wxyz?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTc2NzQ5OQ==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"dUB6Lo0D_SGPusjwKwVCi7eA0rlNBiSJ7py4sBGF_ho\"",
        "Last-Modified": "Tue, 06 Jan 2026 01:25:29 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTc2NzUwMA==;sn=101767500",
        "x-ms-date": "Tue, 06 Jan 2026 01:25:29 GMT"
      },
      "ResponseBody": {
        "etag": "dUB6Lo0D_SGPusjwKwVCi7eA0rlNBiSJ7py4sBGF_ho",
        "key": "wxyz",
        "label": null,
        "content_type": null,
        "value": "barfoo",
        "tags": {},
        "locked": false,
        "last_modified": "2026-01-06T01:25:29+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t9c954b564de572f9-azconfig-net.azconfig.io;Id=MdvE;Secret=Kg==",
    "RandomSeed": "711733426"
  }
}
