{
  "Entries": [
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/keyFields-666755872?api-version=2023-11-01&label=my_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "my_value",
        "content_type": null,
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"vb0gNpjIU9Tlcb8EW3MB_1FgDTsgkgZMllB67JNdYQM\"",
        "Last-Modified": "Tue, 23 Dec 2025 05:48:51 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTA0OTg0OQ==;sn=101049849",
        "x-ms-date": "Tue, 23 Dec 2025 05:48:51 GMT"
      },
      "ResponseBody": {
        "etag": "vb0gNpjIU9Tlcb8EW3MB_1FgDTsgkgZMllB67JNdYQM",
        "key": "keyFields-666755872",
        "label": "my_label",
        "content_type": null,
        "value": "my_value",
        "tags": {},
        "locked": false,
        "last_modified": "2025-12-23T05:48:51+00:00"
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv?$select=key%2Clabel%2Cetag&api-version=2023-11-01&key=keyFields-666755872",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTA0OTg0OQ==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"XmElv3SbzUJ97lwQzlgi2jAmC11QxOLEssXiSnSB3YU\"",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTA0OTg0OQ==;sn=101049849",
        "x-ms-date": "Tue, 23 Dec 2025 05:48:52 GMT"
      },
      "ResponseBody": {
        "etag": "XmElv3SbzUJ97lwQzlgi2jAmC11QxOLEssXiSnSB3YU",
        "items": [
          {
            "etag": "vb0gNpjIU9Tlcb8EW3MB_1FgDTsgkgZMllB67JNdYQM",
            "key": "keyFields-666755872",
            "label": "my_label"
          }
        ]
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/keyFields-666755872?api-version=2023-11-01&label=my_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTA0OTg0OQ==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"vb0gNpjIU9Tlcb8EW3MB_1FgDTsgkgZMllB67JNdYQM\"",
        "Last-Modified": "Tue, 23 Dec 2025 05:48:51 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTA0OTg1MA==;sn=101049850",
        "x-ms-date": "Tue, 23 Dec 2025 05:48:52 GMT"
      },
      "ResponseBody": {
        "etag": "vb0gNpjIU9Tlcb8EW3MB_1FgDTsgkgZMllB67JNdYQM",
        "key": "keyFields-666755872",
        "label": "my_label",
        "content_type": null,
        "value": "my_value",
        "tags": {},
        "locked": false,
        "last_modified": "2025-12-23T05:48:51+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t9c954b564de572f9-azconfig-net.azconfig.io;Id=MdvE;Secret=Kg==",
    "RandomSeed": "1286122185"
  }
}
