{
  "Entries": [
    {
      "RequestUri": "https://azure-sdk-for-net-test.azconfig.io/kv/abcde-1857494740?api-version=2026-04-01&label=abcde",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "Starts with abc",
        "content_type": null,
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"fC3SFUc7Xyrpuve_gCiVYvXOZpyceqr3sijow0KUKjA\"",
        "Last-Modified": "Thu, 28 May 2026 00:01:36 GMT",
        "Sync-Token": "zAJw6V16=NToxNyM0ODA0MjM0Mg==;sn=48042342",
        "x-ms-date": "Thu, 28 May 2026 00:01:36 GMT"
      },
      "ResponseBody": {
        "etag": "fC3SFUc7Xyrpuve_gCiVYvXOZpyceqr3sijow0KUKjA",
        "key": "abcde-1857494740",
        "label": "abcde",
        "content_type": null,
        "value": "Starts with abc",
        "description": null,
        "tags": {},
        "locked": false,
        "last_modified": "2026-05-28T00:01:36+00:00"
      }
    },
    {
      "RequestUri": "https://azure-sdk-for-net-test.azconfig.io/kv?api-version=2026-04-01&key=abc%2A",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NToxNyM0ODA0MjM0Mg==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"jFFe_0rUzKV0EfzB9BhRRNnbcdkBnSZewkOkcCV3J20\"",
        "Sync-Token": "zAJw6V16=NToxNyM0ODA0MjM0Mg==;sn=48042342",
        "x-ms-date": "Thu, 28 May 2026 00:01:36 GMT"
      },
      "ResponseBody": {
        "etag": "jFFe_0rUzKV0EfzB9BhRRNnbcdkBnSZewkOkcCV3J20",
        "items": [
          {
            "etag": "fC3SFUc7Xyrpuve_gCiVYvXOZpyceqr3sijow0KUKjA",
            "key": "abcde-1857494740",
            "label": "abcde",
            "content_type": null,
            "value": "Starts with abc",
            "description": null,
            "tags": {},
            "locked": false,
            "last_modified": "2026-05-28T00:01:36+00:00"
          }
        ]
      }
    },
    {
      "RequestUri": "https://azure-sdk-for-net-test.azconfig.io/kv/abcde-1857494740?api-version=2026-04-01&label=abcde",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NToxNyM0ODA0MjM0Mg==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"fC3SFUc7Xyrpuve_gCiVYvXOZpyceqr3sijow0KUKjA\"",
        "Last-Modified": "Thu, 28 May 2026 00:01:36 GMT",
        "Sync-Token": "zAJw6V16=NToxNyM0ODA0MjM0Mw==;sn=48042343",
        "x-ms-date": "Thu, 28 May 2026 00:01:36 GMT"
      },
      "ResponseBody": {
        "etag": "fC3SFUc7Xyrpuve_gCiVYvXOZpyceqr3sijow0KUKjA",
        "key": "abcde-1857494740",
        "label": "abcde",
        "content_type": null,
        "value": "Starts with abc",
        "description": null,
        "tags": {},
        "locked": false,
        "last_modified": "2026-05-28T00:01:36+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://azure-sdk-for-net-test.azconfig.io;Id=8ePU;Secret=Kg==",
    "RandomSeed": "1752867978"
  }
}
