{
  "Entries": [
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/kv/key-409423622?api-version=2023-11-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"Q7IezFM_6-5yfBQtXTpr2YHpbdIdPBLkiRMET_OqU0I\"",
        "Last-Modified": "Thu, 09 Oct 2025 16:27:31 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzU1NTMyMDY4;sn=55532068",
        "x-ms-date": "Thu, 09 Oct 2025 16:27:31 GMT"
      },
      "ResponseBody": {
        "etag": "Q7IezFM_6-5yfBQtXTpr2YHpbdIdPBLkiRMET_OqU0I",
        "key": "key-409423622",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2025-10-09T16:27:31+00:00"
      }
    },
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/kv?api-version=2023-11-01&label=test_label",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Njo1IzU1NTMyMDY4",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"lgfbMg6Ob62eu7rVkxVwBPJo57NxfgNeJu8-zMvGwxw\"",
        "Sync-Token": "zAJw6V16=Njo1IzU1NTMyMDY4;sn=55532068",
        "x-ms-date": "Thu, 09 Oct 2025 16:27:31 GMT"
      },
      "ResponseBody": {
        "etag": "lgfbMg6Ob62eu7rVkxVwBPJo57NxfgNeJu8-zMvGwxw",
        "items": [
          {
            "etag": "Q7IezFM_6-5yfBQtXTpr2YHpbdIdPBLkiRMET_OqU0I",
            "key": "key-409423622",
            "label": "test_label",
            "content_type": "test_content_type",
            "value": "test_value",
            "tags": {
              "tag1": "value1",
              "tag2": "value2"
            },
            "locked": false,
            "last_modified": "2025-10-09T16:27:31+00:00"
          }
        ]
      }
    },
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/kv/key-409423622?api-version=2023-11-01&label=test_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Njo1IzU1NTMyMDY4",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"Q7IezFM_6-5yfBQtXTpr2YHpbdIdPBLkiRMET_OqU0I\"",
        "Last-Modified": "Thu, 09 Oct 2025 16:27:31 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzU1NTMyMDY5;sn=55532069",
        "x-ms-date": "Thu, 09 Oct 2025 16:27:31 GMT"
      },
      "ResponseBody": {
        "etag": "Q7IezFM_6-5yfBQtXTpr2YHpbdIdPBLkiRMET_OqU0I",
        "key": "key-409423622",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2025-10-09T16:27:31+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t8cdd9157ca7d1363-azconfig-net.azconfig.io;Id=wNKY;Secret=Kg==",
    "RandomSeed": "1869317866"
  }
}
