{
  "Entries": [
    {
      "RequestUri": "https://azure-sdk-for-net-test.azconfig.io/kv/~%60%21%40%23%24%5E%26%28%29_%2B%3D%5B%5D%7B%7D%7C%3B%22%27%3C%3E.%2F--968272605?api-version=2026-04-01&label=label-~%60%21%40%23%24%5E%26%28%29_%2B%3D%5B%5D%7B%7D%7C%3B%22%27%3C%3E.%2F-",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "value-~`!@#$^&()_+=[]{}|;\"'<>./-",
        "content_type": null,
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"c9_EkJ6wRL0plj_qBRk8wppP4ErmD8G7loRgssKFj7Q\"",
        "Last-Modified": "Fri, 29 May 2026 19:59:16 GMT",
        "Sync-Token": "zAJw6V16=NToxNyM0ODE0OTQ3OA==;sn=48149478",
        "x-ms-date": "Fri, 29 May 2026 19:59:16 GMT"
      },
      "ResponseBody": {
        "etag": "c9_EkJ6wRL0plj_qBRk8wppP4ErmD8G7loRgssKFj7Q",
        "key": "~`!@#$^&()_+=[]{}|;\"'<>./--968272605",
        "label": "label-~`!@#$^&()_+=[]{}|;\"'<>./-",
        "content_type": null,
        "value": "value-~`!@#$^&()_+=[]{}|;\"'<>./-",
        "description": null,
        "tags": {},
        "locked": false,
        "last_modified": "2026-05-29T19:59:16+00:00"
      }
    },
    {
      "RequestUri": "https://azure-sdk-for-net-test.azconfig.io/kv?api-version=2026-04-01&key=~%60%21%40%23%24%5E%26%28%29_%2B%3D%5B%5D%7B%7D%7C%3B%22%27%3C%3E.%2F--968272605",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NToxNyM0ODE0OTQ3OA==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"pqNnaMoabB_5djVrjrXjToej0wUNMRvisVPSran1GRw\"",
        "Sync-Token": "zAJw6V16=NToxNyM0ODE0OTQ3OA==;sn=48149478",
        "x-ms-date": "Fri, 29 May 2026 19:59:16 GMT"
      },
      "ResponseBody": {
        "etag": "pqNnaMoabB_5djVrjrXjToej0wUNMRvisVPSran1GRw",
        "items": [
          {
            "etag": "c9_EkJ6wRL0plj_qBRk8wppP4ErmD8G7loRgssKFj7Q",
            "key": "~`!@#$^&()_+=[]{}|;\"'<>./--968272605",
            "label": "label-~`!@#$^&()_+=[]{}|;\"'<>./-",
            "content_type": null,
            "value": "value-~`!@#$^&()_+=[]{}|;\"'<>./-",
            "description": null,
            "tags": {},
            "locked": false,
            "last_modified": "2026-05-29T19:59:16+00:00"
          }
        ]
      }
    },
    {
      "RequestUri": "https://azure-sdk-for-net-test.azconfig.io/kv/~%60%21%40%23%24%5E%26%28%29_%2B%3D%5B%5D%7B%7D%7C%3B%22%27%3C%3E.%2F--968272605?api-version=2026-04-01&label=label-~%60%21%40%23%24%5E%26%28%29_%2B%3D%5B%5D%7B%7D%7C%3B%22%27%3C%3E.%2F-",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NToxNyM0ODE0OTQ3OA==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"c9_EkJ6wRL0plj_qBRk8wppP4ErmD8G7loRgssKFj7Q\"",
        "Last-Modified": "Fri, 29 May 2026 19:59:16 GMT",
        "Sync-Token": "zAJw6V16=NToxNyM0ODE0OTQ3OQ==;sn=48149479",
        "x-ms-date": "Fri, 29 May 2026 19:59:16 GMT"
      },
      "ResponseBody": {
        "etag": "c9_EkJ6wRL0plj_qBRk8wppP4ErmD8G7loRgssKFj7Q",
        "key": "~`!@#$^&()_+=[]{}|;\"'<>./--968272605",
        "label": "label-~`!@#$^&()_+=[]{}|;\"'<>./-",
        "content_type": null,
        "value": "value-~`!@#$^&()_+=[]{}|;\"'<>./-",
        "description": null,
        "tags": {},
        "locked": false,
        "last_modified": "2026-05-29T19:59:16+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://azure-sdk-for-net-test.azconfig.io;Id=8ePU;Secret=Kg==",
    "RandomSeed": "2111211367"
  }
}
