{
  "Entries": [
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv/key-1575448931?api-version=2026-04-01&label=my_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "value": "my_value",
        "content_type": null,
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"6lKkq9_sD5EBg8WgIygJNT95Om2M96hflkDktNxsgwE\"",
        "Last-Modified": "Wed, 10 Jun 2026 18:34:51 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDY4MDky;sn=67068092",
        "x-ms-date": "Wed, 10 Jun 2026 18:34:51 GMT"
      },
      "ResponseBody": {
        "etag": "6lKkq9_sD5EBg8WgIygJNT95Om2M96hflkDktNxsgwE",
        "key": "key-1575448931",
        "label": "my_label",
        "content_type": null,
        "value": "my_value",
        "description": null,
        "tags": {},
        "locked": false,
        "last_modified": "2026-06-10T18:34:51+00:00"
      }
    },
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv?$select=key%2Clocked&api-version=2026-04-01&key=key-1575448931",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDY4MDky"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"CjEeZZgjmiX3QLBQj1hxNpX_O-7-Ug8Ynpn1tw54Y7w\"",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDY4MDky;sn=67068092",
        "x-ms-date": "Wed, 10 Jun 2026 18:34:51 GMT"
      },
      "ResponseBody": {
        "etag": "CjEeZZgjmiX3QLBQj1hxNpX_O-7-Ug8Ynpn1tw54Y7w",
        "items": [
          {
            "key": "key-1575448931",
            "locked": false
          }
        ]
      }
    },
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv/key-1575448931?api-version=2026-04-01&label=my_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDY4MDky"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"6lKkq9_sD5EBg8WgIygJNT95Om2M96hflkDktNxsgwE\"",
        "Last-Modified": "Wed, 10 Jun 2026 18:34:51 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDY4MDkz;sn=67068093",
        "x-ms-date": "Wed, 10 Jun 2026 18:34:51 GMT"
      },
      "ResponseBody": {
        "etag": "6lKkq9_sD5EBg8WgIygJNT95Om2M96hflkDktNxsgwE",
        "key": "key-1575448931",
        "label": "my_label",
        "content_type": null,
        "value": "my_value",
        "description": null,
        "tags": {},
        "locked": false,
        "last_modified": "2026-06-10T18:34:51+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_ENDPOINT_STRING": "https://mrm90847047-azconfig-net.azconfig.io",
    "RandomSeed": "2023088534"
  }
}
