{
  "Entries": [
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv/GetBatchSettingIfChangedWithModifiedPage?api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Sync-Token": "zAJw6V16=Mzo1IzY2OTk2MTcx;sn=66996171",
        "x-ms-date": "Tue, 09 Jun 2026 23:02:04 GMT"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv/key-1868173819?api-version=2023-11-01&label=0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "Sync-Token": "zAJw6V16=Mzo1IzY2OTk2MTcx"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": null,
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"AOivvErLF5eeTtyqXFquCgeUHyB2VbFpxLAp6AYzKow\"",
        "Last-Modified": "Tue, 09 Jun 2026 23:02:04 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY2OTk2MTcy;sn=66996172",
        "x-ms-date": "Tue, 09 Jun 2026 23:02:04 GMT"
      },
      "ResponseBody": {
        "etag": "AOivvErLF5eeTtyqXFquCgeUHyB2VbFpxLAp6AYzKow",
        "key": "key-1868173819",
        "label": "0",
        "content_type": null,
        "value": "test_value",
        "tags": {},
        "locked": false,
        "last_modified": "2026-06-09T23:02:04+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv?api-version=2023-11-01&key=key-1868173819",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Mzo1IzY2OTk2Mjc3"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"uMoS7M0GF9IECWvpUqoWDrTYXnQuAzV95yg9_OFXZ5k\"",
        "Link": "</kv?api-version=2023-11-01&key=key-1868173819&after=a2V5LTE4NjgxNzM4MTkKOTQ%3D>; rel=\"next\"",
        "Sync-Token": "zAJw6V16=Mzo1IzY2OTk2Mjc3;sn=66996277",
        "x-ms-date": "Tue, 09 Jun 2026 23:02:08 GMT"
      },
      "ResponseBody": {
        "etag": "uMoS7M0GF9IECWvpUqoWDrTYXnQuAzV95yg9_OFXZ5k",
        "items": [
          {
            "etag": "AOivvErLF5eeTtyqXFquCgeUHyB2VbFpxLAp6AYzKow",
            "key": "key-1868173819",
            "label": "0",
            "content_type": null,
            "value": "test_value",
            "tags": {},
            "locked": false,
            "last_modified": "2026-06-09T23:02:04+00:00"
          },
          {
            "etag": "4jNMk5cJkwz4jQSn1g9P8g7jIe-JnnbKCbornMTVlxM",
            "key": "key-1868173819",
            "label": "1",
            "content_[...]
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv?after=a2V5LTE4NjgxNzM4MTkKOTQ%3D&api-version=2023-11-01&key=key-1868173819",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Mzo1IzY2OTk2Mjc3"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"1opeJVtc[...]
[...]
