{
  "Entries": [
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/ab%2Ccd?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "comma in key",
        "content_type": null,
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"7XPUMHwXwbGTMhcuxDUirRks3peTXpVyRNih4MwKm6M\"",
        "Last-Modified": "Mon, 01 Dec 2025 08:41:53 GMT",
        "Sync-Token": "zAJw6V16=NTo1Izk4Nzc2Njg4;sn=98776688",
        "x-ms-date": "Mon, 01 Dec 2025 08:41:53 GMT"
      },
      "ResponseBody": {
        "etag": "7XPUMHwXwbGTMhcuxDUirRks3peTXpVyRNih4MwKm6M",
        "key": "ab,cd",
        "label": null,
        "content_type": null,
        "value": "comma in key",
        "tags": {},
        "locked": false,
        "last_modified": "2025-12-01T08:41:53+00:00"
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/wx%2Cyz?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NTo1Izk4Nzc2Njg4",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "comma in key",
        "content_type": null,
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"F_bvJs0W-ttA6imjnCwhiDrIogtKaavlVZimJd-tm4Q\"",
        "Last-Modified": "Mon, 01 Dec 2025 08:41:53 GMT",
        "Sync-Token": "zAJw6V16=NTo1Izk4Nzc2Njkw;sn=98776690",
        "x-ms-date": "Mon, 01 Dec 2025 08:41:53 GMT"
      },
      "ResponseBody": {
        "etag": "F_bvJs0W-ttA6imjnCwhiDrIogtKaavlVZimJd-tm4Q",
        "key": "wx,yz",
        "label": null,
        "content_type": null,
        "value": "comma in key",
        "tags": {},
        "locked": false,
        "last_modified": "2025-12-01T08:41:53+00:00"
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv?api-version=2023-11-01&key=ab%5C%2Ccd%2Cwx%5C%2Cyz",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1Izk4Nzc2Njkw",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"L1u0qovhFyoA5MgIwaVoXrZd7A2usBowIKTmeGUIEH4\"",
        "Sync-Token": "zAJw6V16=NTo1Izk4Nzc2Njky;sn=98776692",
        "x-ms-date": "Mon, 01 Dec 2025 08:41:53 GMT"
      },
      "ResponseBody": {
        "etag": "L1u0qovhFyoA5MgIwaVoXrZd7A2usBowIKTmeGUIEH4",
        "items": [
          {
            "etag": "7XPUMHwXwbGTMhcuxDUirRks3peTXpVyRNih4MwKm6M",
            "key": "ab,cd",
            "label": null,
            "content_type": null,
            "value": "comma in key",
            "tags": {},
            "locked": false,
            "last_modified": "2025-12-01T08:41:53+00:00"
          },
          {
            "etag": "F_bvJs0W-ttA6imjnCwhiDrIogtKaavlVZimJd-tm4Q",
            "key": "wx,yz",
            "label": null,
            "content_type": null,
            "value": "comma in key",
            "tags": {},
            "locked": false,
            "last_modified": "2025-12-01T08:41:53+00:00"
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/wx%2Cyz?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1Izk4Nzc2Njkz",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"F_bvJs0W-ttA6imjnCwhiDrIogtKaavlVZimJd-tm4Q\"",
        "Last-Modified": "Mon, 01 Dec 2025 08:41:53 GMT",
        "Sync-Token": "zAJw6V16=NTo1Izk4Nzc2Njk0;sn=98776694",
        "x-ms-date": "Mon, 01 Dec 2025 08:41:53 GMT"
      },
      "ResponseBody": {
        "etag": "F_bvJs0W-ttA6imjnCwhiDrIogtKaavlVZimJd-tm4Q",
        "key": "wx,yz",
        "label": null,
        "content_type": null,
        "value": "comma in key",
        "tags": {},
        "locked": false,
        "last_modified": "2025-12-01T08:41:53+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t9c954b564de572f9-azconfig-net.azconfig.io;Id=MdvE;Secret=Kg==",
    "RandomSeed": "202792957"
  }
}
