{
  "Entries": [
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/abcde-374767699?api-version=2023-11-01&label=abcde",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "Starts with abc",
        "content_type": null,
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"Eq4k_WcsMqhfxPCFHEOhU0BaeG2YFoNTFVH9wM2xfmI\"",
        "Last-Modified": "Thu, 22 Jan 2026 02:07:24 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzQ3NDk0MA==;sn=103474940",
        "x-ms-date": "Thu, 22 Jan 2026 02:07:24 GMT"
      },
      "ResponseBody": {
        "etag": "Eq4k_WcsMqhfxPCFHEOhU0BaeG2YFoNTFVH9wM2xfmI",
        "key": "abcde-374767699",
        "label": "abcde",
        "content_type": null,
        "value": "Starts with abc",
        "tags": {},
        "locked": false,
        "last_modified": "2026-01-22T02:07:24+00:00"
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv?api-version=2023-11-01&key=abc%2A",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzQ3NDk0MA==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"SDBeAVGg9v2qp_PwlovDd0cNf0iE2BI8RZ6gBZOWL20\"",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzQ3NDk0MA==;sn=103474940",
        "x-ms-date": "Thu, 22 Jan 2026 02:07:24 GMT"
      },
      "ResponseBody": {
        "etag": "SDBeAVGg9v2qp_PwlovDd0cNf0iE2BI8RZ6gBZOWL20",
        "items": [
          {
            "etag": "Eq4k_WcsMqhfxPCFHEOhU0BaeG2YFoNTFVH9wM2xfmI",
            "key": "abcde-374767699",
            "label": "abcde",
            "content_type": null,
            "value": "Starts with abc",
            "tags": {},
            "locked": false,
            "last_modified": "2026-01-22T02:07:24+00:00"
          }
        ]
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/abcde-374767699?api-version=2023-11-01&label=abcde",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzQ3NDk0MA==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"Eq4k_WcsMqhfxPCFHEOhU0BaeG2YFoNTFVH9wM2xfmI\"",
        "Last-Modified": "Thu, 22 Jan 2026 02:07:24 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzQ3NDk0MQ==;sn=103474941",
        "x-ms-date": "Thu, 22 Jan 2026 02:07:24 GMT"
      },
      "ResponseBody": {
        "etag": "Eq4k_WcsMqhfxPCFHEOhU0BaeG2YFoNTFVH9wM2xfmI",
        "key": "abcde-374767699",
        "label": "abcde",
        "content_type": null,
        "value": "Starts with abc",
        "tags": {},
        "locked": false,
        "last_modified": "2026-01-22T02:07:24+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t9c954b564de572f9-azconfig-net.azconfig.io;Id=MdvE;Secret=Kg==",
    "RandomSeed": "1273888415"
  }
}
