{
  "Entries": [
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/abc?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "abc setting",
        "content_type": null,
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"Dvdb6lLg1-RjSLmwf3_3qRJhv8vec5VKJQ1Crn6J1to\"",
        "Last-Modified": "Thu, 22 Jan 2026 02:07:25 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzQ3NDk0OA==;sn=103474948",
        "x-ms-date": "Thu, 22 Jan 2026 02:07:25 GMT"
      },
      "ResponseBody": {
        "etag": "Dvdb6lLg1-RjSLmwf3_3qRJhv8vec5VKJQ1Crn6J1to",
        "key": "abc",
        "label": null,
        "content_type": null,
        "value": "abc setting",
        "tags": {},
        "locked": false,
        "last_modified": "2026-01-22T02:07:25+00:00"
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/xyz?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzQ3NDk0OA==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "xyz setting",
        "content_type": null,
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"WU8FiPbQ-xbXEKbb2CZEZSAO3RJUVpL1iWz7VqaDgRs\"",
        "Last-Modified": "Thu, 22 Jan 2026 02:07:25 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzQ3NDk1MA==;sn=103474950",
        "x-ms-date": "Thu, 22 Jan 2026 02:07:25 GMT"
      },
      "ResponseBody": {
        "etag": "WU8FiPbQ-xbXEKbb2CZEZSAO3RJUVpL1iWz7VqaDgRs",
        "key": "xyz",
        "label": null,
        "content_type": null,
        "value": "xyz setting",
        "tags": {},
        "locked": false,
        "last_modified": "2026-01-22T02:07:25+00:00"
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv?api-version=2023-11-01&key=abc%5C%2Cxyz",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzQ3NDk1MA==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"00wWELzclWef22f82qcUDI7FbJweVOoKWZDA_JoUeD0\"",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzQ3NDk1MQ==;sn=103474951",
        "x-ms-date": "Thu, 22 Jan 2026 02:07:25 GMT"
      },
      "ResponseBody": {
        "etag": "00wWELzclWef22f82qcUDI7FbJweVOoKWZDA_JoUeD0",
        "items": []
      }
    },
[...]
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/xyz?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzQ3NDk1Mg==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"WU8FiPbQ-xbXEKbb2CZEZSAO3RJUVpL1iWz7VqaDgRs\"",
        "Last-Modified": "Thu, 22 Jan 2026 02:07:25 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzQ3NDk1Mw==;sn=103474953",
        "x-ms-date": "Thu, 22 Jan 2026 02:07:25 GMT"
      },
      "ResponseBody": {
        "etag": "WU8FiPbQ-xbXEKbb2CZEZSAO3RJUVpL1iWz7VqaDgRs",
        "key": "xyz",
        "label": null,
        "content_type": null,
        "value": "xyz setting",
        "tags": {},
        "locked": false,
        "last_modified": "2026-01-22T02:07:25+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t9c954b564de572f9-azconfig-net.azconfig.io;Id=MdvE;Secret=Kg==",
    "RandomSeed": "1953740229"
  }
}
