{
  "Entries": [
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv/abc?api-version=2026-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "value": "abc setting",
        "content_type": null,
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"m0qmRQEiSqem7bJ5s-5mz5XNT8Da9mnHWSrMueMKwio\"",
        "Last-Modified": "Wed, 10 Jun 2026 21:32:58 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDk0MzE0;sn=67094314",
        "x-ms-date": "Wed, 10 Jun 2026 21:32:58 GMT"
      },
      "ResponseBody": {
        "etag": "m0qmRQEiSqem7bJ5s-5mz5XNT8Da9mnHWSrMueMKwio",
        "key": "abc",
        "label": null,
        "content_type": null,
        "value": "abc setting",
        "description": null,
        "tags": {},
        "locked": false,
        "last_modified": "2026-06-10T21:32:58+00:00"
      }
    },
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv/xyz?api-version=2026-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDk0MzE0"
      },
      "RequestBody": {
        "value": "xyz setting",
        "content_type": null,
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"PA8sQRQ1h460aEYTNzVFWaIP7LBbFidrTjw0L9oKDZM\"",
        "Last-Modified": "Wed, 10 Jun 2026 21:32:58 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDk0MzE2;sn=67094316",
        "x-ms-date": "Wed, 10 Jun 2026 21:32:58 GMT"
      },
      "ResponseBody": {
        "etag": "PA8sQRQ1h460aEYTNzVFWaIP7LBbFidrTjw0L9oKDZM",
        "key": "xyz",
        "label": null,
        "content_type": null,
        "value": "xyz setting",
        "description": null,
        "tags": {},
        "locked": false,
        "last_modified": "2026-06-10T21:32:58+00:00"
      }
    },
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv?api-version=2026-04-01&key=abc%5C%2Cxyz",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDk0MzE2"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"00wWELzclWef22f82qcUDI7FbJweVOoKWZDA_JoUeD0\"",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDk0MzE3;sn=67094317",
        "x-ms-date": "Wed, 10 Jun 2026 21:32:58 GMT"
      },
      "ResponseBody": {
        "etag": "00wWELzclWef22f82qcUDI7FbJweVOoKWZDA_JoUeD0",
        "items": []
      }
    },
[...]
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv/xyz?api-version=2026-04-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDk0MzE4"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"PA8sQRQ1h460aEYTNzVFWaIP7LBbFidrTjw0L9oKDZM\"",
        "Last-Modified": "Wed, 10 Jun 2026 21:32:58 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDk0MzE5;sn=67094319",
        "x-ms-date": "Wed, 10 Jun 2026 21:32:58 GMT"
      },
      "ResponseBody": {
        "etag": "PA8sQRQ1h460aEYTNzVFWaIP7LBbFidrTjw0L9oKDZM",
        "key": "xyz",
        "label": null,
        "content_type": null,
        "value": "xyz setting",
        "description": null,
        "tags": {},
        "locked": false,
        "last_modified": "2026-06-10T21:32:58+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_ENDPOINT_STRING": "https://mrm90847047-azconfig-net.azconfig.io",
    "RandomSeed": "987546196"
  }
}
