{
  "Entries": [
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/abcd?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "foobar",
        "content_type": null,
        "tags": {
          "my_tag": "my_tag_value"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"0wWVQdUc8n3DNpr-U2DYfSkk7-lAXCkAcaOVYlnsh1Y\"",
        "Last-Modified": "Tue, 06 Jan 2026 01:25:28 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTc2NzQ4OQ==;sn=101767489",
        "x-ms-date": "Tue, 06 Jan 2026 01:25:28 GMT"
      },
      "ResponseBody": {
        "etag": "0wWVQdUc8n3DNpr-U2DYfSkk7-lAXCkAcaOVYlnsh1Y",
        "key": "abcd",
        "label": null,
        "content_type": null,
        "value": "foobar",
        "tags": {
          "my_tag": "my_tag_value"
        },
        "locked": false,
        "last_modified": "2026-01-06T01:25:28+00:00"
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/wxyz?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTc2NzQ4OQ==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "barfoo",
        "content_type": null,
        "tags": {
          "my_tag": "my_tag_value"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"6yJXKkrCeYMP1-GYpQebafzdvYvsd_KOpE-8SFAf5dI\"",
        "Last-Modified": "Tue, 06 Jan 2026 01:25:28 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTc2NzQ5MQ==;sn=101767491",
        "x-ms-date": "Tue, 06 Jan 2026 01:25:28 GMT"
      },
      "ResponseBody": {
        "etag": "6yJXKkrCeYMP1-GYpQebafzdvYvsd_KOpE-8SFAf5dI",
        "key": "wxyz",
        "label": null,
        "content_type": null,
        "value": "barfoo",
        "tags": {
          "my_tag": "my_tag_value"
        },
        "locked": false,
        "last_modified": "2026-01-06T01:25:28+00:00"
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv?api-version=2023-11-01&tags=my_tag%3Dmy_tag_value",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTc2NzQ5MQ==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"C3ZZr0cRYj9jgaH_ycQ044TWMq3GuP_XDzuPUQI9nQw\"",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTc2NzQ5Mg==;sn=101767492",
        "x-ms-date": "Tue, 06 Jan 2026 01:25:28 GMT"
      },
      "ResponseBody": {
        "etag": "C3ZZr0cRYj9jgaH_ycQ044TWMq3GuP_XDzuPUQI9nQw",
        "items": [
          {
            "etag": "0wWVQdUc8n3DNpr-U2DYfSkk7-lAXCkAcaOVYlnsh1Y",
            "key": "abcd",
            "label": null,
            "content_type": null,
            "value": "foobar",
            "tags": {
              "my_tag": "my_tag_value"
            },
            "locked": false,
            "last_modified": "2026-01-06T01:25:28+00:00"
          },
          {
            "etag": "6yJXKkrCeYMP1-GYpQebafzdvYvsd_KOpE-8SFAf5dI",
            "key": "wxyz",
            "label": null,
            "content_type": null,
            "value": "barfoo",
            "tags": {
              "my_tag": "my_tag_value"
            },
            "locked": false,
            "last_modified": "2026-01-06T01:25:28+00:00"
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/wxyz?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTc2NzQ5Mw==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"6yJXKkrCeYMP1-GYpQebafzdvYvsd_KOpE-8SFAf5dI\"",
        "Last-Modified": "Tue, 06 Jan 2026 01:25:28 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTc2NzQ5NA==;sn=101767494",
        "x-ms-date": "Tue, 06 Jan 2026 01:25:28 GMT"
      },
      "ResponseBody": {
        "etag": "6yJXKkrCeYMP1-GYpQebafzdvYvsd_KOpE-8SFAf5dI",
        "key": "wxyz",
        "label": null,
        "content_type": null,
        "value": "barfoo",
        "tags": {
          "my_tag": "my_tag_value"
        },
        "locked": false,
        "last_modified": "2026-01-06T01:25:28+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t9c954b564de572f9-azconfig-net.azconfig.io;Id=MdvE;Secret=Kg==",
    "RandomSeed": "1712014975"
  }
}
