{
  "Entries": [
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv/keyFields-748790792?api-version=2026-04-01&label=my_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "value": "my_value",
        "content_type": "content-type",
        "tags": {
          "my_tag": "my_tag_value"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"0vGr4EZBx04KzI97MLA6TiUEMKrVPlzhwRs8IM8WOlI\"",
        "Last-Modified": "Wed, 10 Jun 2026 21:41:29 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDk0Nzk3;sn=67094797",
        "x-ms-date": "Wed, 10 Jun 2026 21:41:29 GMT"
      },
      "ResponseBody": {
        "etag": "0vGr4EZBx04KzI97MLA6TiUEMKrVPlzhwRs8IM8WOlI",
        "key": "keyFields-748790792",
        "label": "my_label",
        "content_type": "content-type",
        "value": "my_value",
        "description": null,
        "tags": {
          "my_tag": "my_tag_value"
        },
        "locked": false,
        "last_modified": "2026-06-10T21:41:29+00:00"
      }
    },
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv?$select=key%2Clabel%2Cvalue%2Ccontent_type%2Cetag%2Clast_modified%2Clocked%2Ctags&api-version=2026-04-01&key=keyFields-748790792",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDk0Nzk3"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"snzD6e3G2UYix6KjIzuSKaeJkrAKcXQOsh4BbSQ-BGM\"",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDk0Nzk3;sn=67094797",
        "x-ms-date": "Wed, 10 Jun 2026 21:41:29 GMT"
      },
      "ResponseBody": {
        "etag": "snzD6e3G2UYix6KjIzuSKaeJkrAKcXQOsh4BbSQ-BGM",
        "items": [
          {
            "etag": "0vGr4EZBx04KzI97MLA6TiUEMKrVPlzhwRs8IM8WOlI",
            "key": "keyFields-748790792",
            "label": "my_label",
            "content_type": "content-type",
            "value": "my_value",
            "tags": {
              "my_tag": "my_tag_value"
            },
            "locked": false,
            "last_modified": "2026-06-10T21:41:29+00:00"
          }
        ]
      }
    },
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv/keyFields-748790792?api-version=2026-04-01&label=my_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDk0Nzk3"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"0vGr4EZBx04KzI97MLA6TiUEMKrVPlzhwRs8IM8WOlI\"",
        "Last-Modified": "Wed, 10 Jun 2026 21:41:29 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDk0Nzk4;sn=67094798",
        "x-ms-date": "Wed, 10 Jun 2026 21:41:29 GMT"
      },
      "ResponseBody": {
        "etag": "0vGr4EZBx04KzI97MLA6TiUEMKrVPlzhwRs8IM8WOlI",
        "key": "keyFields-748790792",
        "label": "my_label",
        "content_type": "content-type",
        "value": "my_value",
        "description": null,
        "tags": {
          "my_tag": "my_tag_value"
        },
        "locked": false,
        "last_modified": "2026-06-10T21:41:29+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_ENDPOINT_STRING": "https://mrm90847047-azconfig-net.azconfig.io",
    "RandomSeed": "1252143131"
  }
}
