{
  "Entries": [
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-1309453156?api-version=2023-11-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"GvASlAmIhXKFYCSElcLuQC0xVrKuXtMBpvVXQ67tdYc\"",
        "Last-Modified": "Thu, 22 Jan 2026 02:07:22 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzQ3NDkzNg==;sn=103474936",
        "x-ms-date": "Thu, 22 Jan 2026 02:07:22 GMT"
      },
      "ResponseBody": {
        "etag": "GvASlAmIhXKFYCSElcLuQC0xVrKuXtMBpvVXQ67tdYc",
        "key": "key-1309453156",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-01-22T02:07:22+00:00"
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv?api-version=2023-11-01&label=test_label",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzQ3NDkzNg==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"8p6LC3VNvH2nc2BUajnbOfK1ibJ1UtkX1Jdni2UZh1k\"",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzQ3NDkzNg==;sn=103474936",
        "x-ms-date": "Thu, 22 Jan 2026 02:07:22 GMT"
      },
      "ResponseBody": {
        "etag": "8p6LC3VNvH2nc2BUajnbOfK1ibJ1UtkX1Jdni2UZh1k",
        "items": [
          {
            "etag": "GvASlAmIhXKFYCSElcLuQC0xVrKuXtMBpvVXQ67tdYc",
            "key": "key-1309453156",
            "label": "test_label",
            "content_type": "test_content_type",
            "value": "test_value",
            "tags": {
              "tag1": "value1",
              "tag2": "value2"
            },
            "locked": false,
            "last_modified": "2026-01-22T02:07:22+00:00"
          }
        ]
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-1309453156?api-version=2023-11-01&label=test_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzQ3NDkzNg==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"GvASlAmIhXKFYCSElcLuQC0xVrKuXtMBpvVXQ67tdYc\"",
        "Last-Modified": "Thu, 22 Jan 2026 02:07:22 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzQ3NDkzNw==;sn=103474937",
        "x-ms-date": "Thu, 22 Jan 2026 02:07:23 GMT"
      },
      "ResponseBody": {
        "etag": "GvASlAmIhXKFYCSElcLuQC0xVrKuXtMBpvVXQ67tdYc",
        "key": "key-1309453156",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-01-22T02:07:22+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t9c954b564de572f9-azconfig-net.azconfig.io;Id=MdvE;Secret=Kg==",
    "RandomSeed": "1499516912"
  }
}
