{
  "Entries": [
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/kv/abcd?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "foobar",
        "content_type": null,
        "tags": {
          "my_tag": "my_tag_value"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"D6_m6OZ9nZtAg75llPtNtKNIVZMamWLczW2blvrShF0\"",
        "Last-Modified": "Tue, 18 Nov 2025 04:29:05 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzU3ODA0Mzky;sn=57804392",
        "x-ms-date": "Tue, 18 Nov 2025 04:29:05 GMT"
      },
      "ResponseBody": {
        "etag": "D6_m6OZ9nZtAg75llPtNtKNIVZMamWLczW2blvrShF0",
        "key": "abcd",
        "label": null,
        "content_type": null,
        "value": "foobar",
        "tags": {
          "my_tag": "my_tag_value"
        },
        "locked": false,
        "last_modified": "2025-11-18T04:29:05+00:00"
      }
    },
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/kv/wxyz?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=Njo1IzU3ODA0Mzky",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "barfoo",
        "content_type": null,
        "tags": {
          "my_tag": "my_tag_value"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"do-9XPoJhaupKwb5P11HWBgAlPIDDdKY_Rgwp1GqsVw\"",
        "Last-Modified": "Tue, 18 Nov 2025 04:29:05 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzU3ODA0Mzk0;sn=57804394",
        "x-ms-date": "Tue, 18 Nov 2025 04:29:05 GMT"
      },
      "ResponseBody": {
        "etag": "do-9XPoJhaupKwb5P11HWBgAlPIDDdKY_Rgwp1GqsVw",
        "key": "wxyz",
        "label": null,
        "content_type": null,
        "value": "barfoo",
        "tags": {
          "my_tag": "my_tag_value"
        },
        "locked": false,
        "last_modified": "2025-11-18T04:29:05+00:00"
      }
    },
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/kv?api-version=2023-11-01&tags=my_tag%3Dmy_tag_value",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Njo1IzU3ODA0Mzk0",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"6Z5oSihMi7TL2EKqvW-4T8IXKYkftZ1ofzhREjkrUlI\"",
        "Sync-Token": "zAJw6V16=Njo1IzU3ODA0Mzk1;sn=57804395",
        "x-ms-date": "Tue, 18 Nov 2025 04:29:05 GMT"
      },
      "ResponseBody": {
        "etag": "6Z5oSihMi7TL2EKqvW-4T8IXKYkftZ1ofzhREjkrUlI",
        "items": [
          {
            "etag": "D6_m6OZ9nZtAg75llPtNtKNIVZMamWLczW2blvrShF0",
            "key": "abcd",
            "label": null,
            "content_type": null,
            "value": "foobar",
            "tags": {
              "my_tag": "my_tag_value"
            },
            "locked": false,
            "last_modified": "2025-11-18T04:29:05+00:00"
          },
          {
            "etag": "do-9XPoJhaupKwb5P11HWBgAlPIDDdKY_Rgwp1GqsVw",
            "key": "wxyz",
            "label": null,
            "content_type": null,
            "value": "barfoo",
            "tags": {
              "my_tag": "my_tag_value"
            },
            "locked": false,
            "last_modified": "2025-11-18T04:29:05+00:00"
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/kv/wxyz?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Njo1IzU3ODA0Mzk2",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"do-9XPoJhaupKwb5P11HWBgAlPIDDdKY_Rgwp1GqsVw\"",
        "Last-Modified": "Tue, 18 Nov 2025 04:29:05 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzU3ODA0Mzk3;sn=57804397",
        "x-ms-date": "Tue, 18 Nov 2025 04:29:06 GMT"
      },
      "ResponseBody": {
        "etag": "do-9XPoJhaupKwb5P11HWBgAlPIDDdKY_Rgwp1GqsVw",
        "key": "wxyz",
        "label": null,
        "content_type": null,
        "value": "barfoo",
        "tags": {
          "my_tag": "my_tag_value"
        },
        "locked": false,
        "last_modified": "2025-11-18T04:29:05+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t8cdd9157ca7d1363-azconfig-net.azconfig.io;Id=wNKY;Secret=Kg==",
    "RandomSeed": "1121679237"
  }
}
