{
  "Entries": [
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv/keyFields-896899852?api-version=2026-04-01&label=my_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "value": "my_value",
        "content_type": "content-type",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"gnHab573bc9G4tr2R-0BO88ahjMspFPWht5Bs9kbUm4\"",
        "Last-Modified": "Wed, 10 Jun 2026 21:41:26 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDk0Nzk1;sn=67094795",
        "x-ms-date": "Wed, 10 Jun 2026 21:41:26 GMT"
      },
      "ResponseBody": {
        "etag": "gnHab573bc9G4tr2R-0BO88ahjMspFPWht5Bs9kbUm4",
        "key": "keyFields-896899852",
        "label": "my_label",
        "content_type": "content-type",
        "value": "my_value",
        "description": null,
        "tags": {},
        "locked": false,
        "last_modified": "2026-06-10T21:41:26+00:00"
      }
    },
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv?api-version=2026-04-01&key=keyFields-896899852",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDk0Nzk1"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"Ggw4wGdtVJbgw28__r2QO4dcZZwIkvb7kACB_lpvVVE\"",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDk0Nzk1;sn=67094795",
        "x-ms-date": "Wed, 10 Jun 2026 21:41:27 GMT"
      },
      "ResponseBody": {
        "etag": "Ggw4wGdtVJbgw28__r2QO4dcZZwIkvb7kACB_lpvVVE",
        "items": [
          {
            "etag": "gnHab573bc9G4tr2R-0BO88ahjMspFPWht5Bs9kbUm4",
            "key": "keyFields-896899852",
            "label": "my_label",
            "content_type": "content-type",
            "value": "my_value",
            "description": null,
            "tags": {},
            "locked": false,
            "last_modified": "2026-06-10T21:41:26+00:00"
          }
        ]
      }
    },
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv/keyFields-896899852?api-version=2026-04-01&label=my_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDk0Nzk1"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"gnHab573bc9G4tr2R-0BO88ahjMspFPWht5Bs9kbUm4\"",
        "Last-Modified": "Wed, 10 Jun 2026 21:41:26 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDk0Nzk2;sn=67094796",
        "x-ms-date": "Wed, 10 Jun 2026 21:41:27 GMT"
      },
      "ResponseBody": {
        "etag": "gnHab573bc9G4tr2R-0BO88ahjMspFPWht5Bs9kbUm4",
        "key": "keyFields-896899852",
        "label": "my_label",
        "content_type": "content-type",
        "value": "my_value",
        "description": null,
        "tags": {},
        "locked": false,
        "last_modified": "2026-06-10T21:41:26+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_ENDPOINT_STRING": "https://mrm90847047-azconfig-net.azconfig.io",
    "RandomSeed": "896437460"
  }
}
