{
  "Entries": [
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv/key-830617467?api-version=2026-04-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "description": "test_description"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"xx52id1ooWc4DxqUqfZ83Ufboc2j0er5D5kMFidxccQ\"",
        "Last-Modified": "Wed, 10 Jun 2026 19:26:32 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDc0NzQ1;sn=67074745",
        "x-ms-date": "Wed, 10 Jun 2026 19:26:32 GMT"
      },
      "ResponseBody": {
        "etag": "xx52id1ooWc4DxqUqfZ83Ufboc2j0er5D5kMFidxccQ",
        "key": "key-830617467",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "description": "test_description",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-06-10T19:26:32+00:00"
      }
    },
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv?api-version=2026-04-01&key=key-830617467&label=test_label",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDc0NzQ1"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"R5ea75GjbObJjdskQfGe7SkW2uPrKcEkCy04Fq8iPjc\"",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDc0NzQ1;sn=67074745",
        "x-ms-date": "Wed, 10 Jun 2026 19:26:32 GMT"
      },
      "ResponseBody": {
        "etag": "R5ea75GjbObJjdskQfGe7SkW2uPrKcEkCy04Fq8iPjc",
        "items": [
          {
            "etag": "xx52id1ooWc4DxqUqfZ83Ufboc2j0er5D5kMFidxccQ",
            "key": "key-830617467",
            "label": "test_label",
            "content_type": "test_content_type",
            "value": "test_value",
            "description": "test_description",
            "tags": {
              "tag1": "value1",
              "tag2": "value2"
            },
            "locked": false,
            "last_modified": "2026-06-10T19:26:32+00:00"
          }
        ]
      }
    },
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv/key-830617467?api-version=2026-04-01&label=test_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDc0NzQ1"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"xx52id1ooWc4DxqUqfZ83Ufboc2j0er5D5kMFidxccQ\"",
        "Last-Modified": "Wed, 10 Jun 2026 19:26:32 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDc0NzQ2;sn=67074746",
        "x-ms-date": "Wed, 10 Jun 2026 19:26:32 GMT"
      },
      "ResponseBody": {
        "etag": "xx52id1ooWc4DxqUqfZ83Ufboc2j0er5D5kMFidxccQ",
        "key": "key-830617467",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "description": "test_description",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-06-10T19:26:32+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_ENDPOINT_STRING": "https://mrm90847047-azconfig-net.azconfig.io",
    "RandomSeed": "145449073"
  }
}
