{
  "Entries": [
    {
      "RequestUri": "https://t02f6e87f544544f3-azconfig-net.azconfig.io/kv/ab%2Ccd?api-version=2022-11-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "c\u002BBFVvNJS72\u002B8PpnYY4/0u7GTtabNc5s43\u002BqPwc0PZE="
      },
      "RequestBody": {
        "value": "comma in key",
        "content_type": null,
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022zmOJ9M8pWlbMfX5ROzvu4e3B1JX4MW9kO2svIhS-axU\u0022",
        "Last-Modified": "Fri, 30 Jun 2023 19:05:03 GMT",
        "Sync-Token": "zAJw6V16=ODo1IzI0ODY5NDk4;sn=24869498"
      },
      "ResponseBody": {
        "etag": "zmOJ9M8pWlbMfX5ROzvu4e3B1JX4MW9kO2svIhS-axU",
        "key": "ab,cd",
        "label": null,
        "content_type": null,
        "value": "comma in key",
        "tags": {},
        "locked": false,
        "last_modified": "2023-06-30T19:05:03\u002B00:00"
      }
    },
    {
      "RequestUri": "https://t02f6e87f544544f3-azconfig-net.azconfig.io/kv/wx%2Cyz?api-version=2022-11-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=ODo1IzI0ODY5NDk4",
        "x-ms-content-sha256": "c\u002BBFVvNJS72\u002B8PpnYY4/0u7GTtabNc5s43\u002BqPwc0PZE="
      },
      "RequestBody": {
        "value": "comma in key",
        "content_type": null,
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u002276zPRhUQtpGeyoie03aNEQXII3MYI6eUoavs2qVetUQ\u0022",
        "Last-Modified": "Fri, 30 Jun 2023 19:05:03 GMT",
        "Sync-Token": "zAJw6V16=ODo1IzI0ODY5NDk5;sn=24869499"
      },
      "ResponseBody": {
        "etag": "76zPRhUQtpGeyoie03aNEQXII3MYI6eUoavs2qVetUQ",
        "key": "wx,yz",
        "label": null,
        "content_type": null,
        "value": "comma in key",
        "tags": {},
        "locked": false,
        "last_modified": "2023-06-30T19:05:03\u002B00:00"
      }
    },
    {
      "RequestUri": "https://t02f6e87f544544f3-azconfig-net.azconfig.io/kv?key=ab%5C%2Ccd%2Cwx%5C%2Cyz\u0026api-version=2022-11-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=ODo1IzI0ODY5NDk5",
        "x-ms-content-sha256": "47DEQpj8HBSa\u002B/TImW\u002B5JCeuQeRkm5NMpJWZG3hSuFU="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset\u002Bjson; charset=utf-8",
        "Sync-Token": "zAJw6V16=ODo1IzI0ODY5NDk5;sn=24869499"
      },
      "ResponseBody": {
        "items": [
          {
            "etag": "zmOJ9M8pWlbMfX5ROzvu4e3B1JX4MW9kO2svIhS-axU",
            "key": "ab,cd",
            "label": null,
            "content_type": null,
            "value": "comma in key",
            "tags": {},
            "locked": false,
            "last_modified": "2023-06-30T19:05:03\u002B00:00"
          },
          {
            "etag": "76zPRhUQtpGeyoie03aNEQXII3MYI6eUoavs2qVetUQ",
            "key": "wx,yz",
            "label": null,
            "content_type": null,
            "value": "comma in key",
            "tags": {},
            "locked": false,
            "last_modified": "2023-06-30T19:05:03\u002B00:00"
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://t02f6e87f544544f3-azconfig-net.azconfig.io/kv/wx%2Cyz?api-version=2022-11-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=ODo1IzI0ODY5NTAw",
        "x-ms-content-sha256": "47DEQpj8HBSa\u002B/TImW\u002B5JCeuQeRkm5NMpJWZG3hSuFU="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u002276zPRhUQtpGeyoie03aNEQXII3MYI6eUoavs2qVetUQ\u0022",
        "Last-Modified": "Fri, 30 Jun 2023 19:05:03 GMT",
        "Sync-Token": "zAJw6V16=ODo1IzI0ODY5NTAx;sn=24869501"
      },
      "ResponseBody": {
        "etag": "76zPRhUQtpGeyoie03aNEQXII3MYI6eUoavs2qVetUQ",
        "key": "wx,yz",
        "label": null,
        "content_type": null,
        "value": "comma in key",
        "tags": {},
        "locked": false,
        "last_modified": "2023-06-30T19:05:03\u002B00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t02f6e87f544544f3-azconfig-net.azconfig.io;Id=Ek\u002BM;Secret=Kg==",
    "RandomSeed": "247043665"
  }
}
