{
  "Entries": [
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/abc?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "abc setting",
        "content_type": null,
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"BD3zz5zyB9dZbtPU8nTSizjkNLMVkA1_VW6fWJJsWl0\"",
        "Last-Modified": "Tue, 06 Jan 2026 06:34:55 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTc3MzU5OQ==;sn=101773599",
        "x-ms-date": "Tue, 06 Jan 2026 06:34:55 GMT"
      },
      "ResponseBody": {
        "etag": "BD3zz5zyB9dZbtPU8nTSizjkNLMVkA1_VW6fWJJsWl0",
        "key": "abc",
        "label": null,
        "content_type": null,
        "value": "abc setting",
        "tags": {},
        "locked": false,
        "last_modified": "2026-01-06T06:34:55+00:00"
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/xyz?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTc3MzU5OQ==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "xyz setting",
        "content_type": null,
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"H7fpjnZm-kcwLktyoRIxQelyVYQVss5FTKxgoCbrZzc\"",
        "Last-Modified": "Tue, 06 Jan 2026 06:34:55 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTc3MzYwMQ==;sn=101773601",
        "x-ms-date": "Tue, 06 Jan 2026 06:34:55 GMT"
      },
      "ResponseBody": {
        "etag": "H7fpjnZm-kcwLktyoRIxQelyVYQVss5FTKxgoCbrZzc",
        "key": "xyz",
        "label": null,
        "content_type": null,
        "value": "xyz setting",
        "tags": {},
        "locked": false,
        "last_modified": "2026-01-06T06:34:55+00:00"
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv?api-version=2023-11-01&key=abc%2Cxyz",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTc3MzYwMQ==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"D4tRqPraAppdiF3JNGi1J-uktAgrBdSXrKXUnZv6e7I\"",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTc3MzYwMg==;sn=101773602",
        "x-ms-date": "Tue, 06 Jan 2026 06:34:55 GMT"
      },
      "ResponseBody": {
        "etag": "D4tRqPraAppdiF3JNGi1J-uktAgrBdSXrKXUnZv6e7I",
        "items": [
          {
            "etag": "BD3zz5zyB9dZbtPU8nTSizjkNLMVkA1_VW6fWJJsWl0",
            "key": "abc",
            "label": null,
            "content_type": null,
            "value": "abc setting",
            "tags": {},
            "locked": false,
            "last_modified": "2026-01-06T06:34:55+00:00"
          },
          {
            "etag": "H7fpjnZm-kcwLktyoRIxQelyVYQVss5FTKxgoCbrZzc",
            "key": "xyz",
            "label": null,
            "content_type": null,
            "value": "xyz setting",
            "tags": {},
            "locked": false,
            "last_modified": "2026-01-06T06:34:55+00:00"
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/xyz?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTc3MzYwMw==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"H7fpjnZm-kcwLktyoRIxQelyVYQVss5FTKxgoCbrZzc\"",
        "Last-Modified": "Tue, 06 Jan 2026 06:34:55 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTc3MzYwNA==;sn=101773604",
        "x-ms-date": "Tue, 06 Jan 2026 06:34:55 GMT"
      },
      "ResponseBody": {
        "etag": "H7fpjnZm-kcwLktyoRIxQelyVYQVss5FTKxgoCbrZzc",
        "key": "xyz",
        "label": null,
        "content_type": null,
        "value": "xyz setting",
        "tags": {},
        "locked": false,
        "last_modified": "2026-01-06T06:34:55+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t9c954b564de572f9-azconfig-net.azconfig.io;Id=MdvE;Secret=Kg==",
    "RandomSeed": "1905102364"
  }
}
