{
  "Entries": [
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/keyFields-2100416118?api-version=2023-11-01&label=my_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "my_value",
        "content_type": "content-type",
        "tags": {
          "my_tag": "my_tag_value"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"G5vxcljkw3bZ4U_nV6ZaxzNtz-zVMVV60Tj_VZddxTo\"",
        "Last-Modified": "Mon, 26 Jan 2026 05:40:55 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzg1MTExMg==;sn=103851112",
        "x-ms-date": "Mon, 26 Jan 2026 05:40:55 GMT"
      },
      "ResponseBody": {
        "etag": "G5vxcljkw3bZ4U_nV6ZaxzNtz-zVMVV60Tj_VZddxTo",
        "key": "keyFields-2100416118",
        "label": "my_label",
        "content_type": "content-type",
        "value": "my_value",
        "tags": {
          "my_tag": "my_tag_value"
        },
        "locked": false,
        "last_modified": "2026-01-26T05:40:55+00:00"
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv?$select=key%2Clabel%2Cvalue%2Ccontent_type%2Cetag%2Clast_modified%2Clocked%2Ctags&api-version=2023-11-01&key=keyFields-2100416118",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzg1MTExMg==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"Lh98Bpsqe3TG763QdH95Ez4acppVX_TlNT6xv-1I9ps\"",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzg1MTExMg==;sn=103851112",
        "x-ms-date": "Mon, 26 Jan 2026 05:40:56 GMT"
      },
      "ResponseBody": {
        "etag": "Lh98Bpsqe3TG763QdH95Ez4acppVX_TlNT6xv-1I9ps",
        "items": [
          {
            "etag": "G5vxcljkw3bZ4U_nV6ZaxzNtz-zVMVV60Tj_VZddxTo",
            "key": "keyFields-2100416118",
            "label": "my_label",
            "content_type": "content-type",
            "value": "my_value",
            "tags": {
              "my_tag": "my_tag_value"
            },
            "locked": false,
            "last_modified": "2026-01-26T05:40:55+00:00"
          }
        ]
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/keyFields-2100416118?api-version=2023-11-01&label=my_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzg1MTExMg==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"G5vxcljkw3bZ4U_nV6ZaxzNtz-zVMVV60Tj_VZddxTo\"",
        "Last-Modified": "Mon, 26 Jan 2026 05:40:55 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzg1MTExMw==;sn=103851113",
        "x-ms-date": "Mon, 26 Jan 2026 05:40:56 GMT"
      },
      "ResponseBody": {
        "etag": "G5vxcljkw3bZ4U_nV6ZaxzNtz-zVMVV60Tj_VZddxTo",
        "key": "keyFields-2100416118",
        "label": "my_label",
        "content_type": "content-type",
        "value": "my_value",
        "tags": {
          "my_tag": "my_tag_value"
        },
        "locked": false,
        "last_modified": "2026-01-26T05:40:55+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t9c954b564de572f9-azconfig-net.azconfig.io;Id=MdvE;Secret=Kg==",
    "RandomSeed": "692713851"
  }
}
