{
  "Entries": [
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv/keyFields-2018232709?api-version=2026-04-01&label=my_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "value": "my_value",
        "content_type": "content-type",
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"xaDf4LQxqCjT9zjInjXcUcPw9cyVS1LKmiz1MEdylTw\"",
        "Last-Modified": "Wed, 10 Jun 2026 19:18:31 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDcyMTAx;sn=67072101",
        "x-ms-date": "Wed, 10 Jun 2026 19:18:31 GMT"
      },
      "ResponseBody": {
        "etag": "xaDf4LQxqCjT9zjInjXcUcPw9cyVS1LKmiz1MEdylTw",
        "key": "keyFields-2018232709",
        "label": "my_label",
        "content_type": "content-type",
        "value": "my_value",
        "description": null,
        "tags": {},
        "locked": false,
        "last_modified": "2026-06-10T19:18:31+00:00"
      }
    },
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv?api-version=2026-04-01&key=keyFields-2018232709",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDcyMTAx"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"x8t5Amm4fcjvqOn5suuJm28sE2fsTvFYOQhiRzhK5d0\"",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDcyMTAx;sn=67072101",
        "x-ms-date": "Wed, 10 Jun 2026 19:18:31 GMT"
      },
      "ResponseBody": {
        "etag": "x8t5Amm4fcjvqOn5suuJm28sE2fsTvFYOQhiRzhK5d0",
        "items": [
          {
            "etag": "xaDf4LQxqCjT9zjInjXcUcPw9cyVS1LKmiz1MEdylTw",
            "key": "keyFields-2018232709",
            "label": "my_label",
            "content_type": "content-type",
            "value": "my_value",
            "description": null,
            "tags": {},
            "locked": false,
            "last_modified": "2026-06-10T19:18:31+00:00"
          }
        ]
      }
    },
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv/keyFields-2018232709?api-version=2026-04-01&label=my_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDcyMTAx"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"xaDf4LQxqCjT9zjInjXcUcPw9cyVS1LKmiz1MEdylTw\"",
        "Last-Modified": "Wed, 10 Jun 2026 19:18:31 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDcyMTAy;sn=67072102",
        "x-ms-date": "Wed, 10 Jun 2026 19:18:31 GMT"
      },
      "ResponseBody": {
        "etag": "xaDf4LQxqCjT9zjInjXcUcPw9cyVS1LKmiz1MEdylTw",
        "key": "keyFields-2018232709",
        "label": "my_label",
        "content_type": "content-type",
        "value": "my_value",
        "description": null,
        "tags": {},
        "locked": false,
        "last_modified": "2026-06-10T19:18:31+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_ENDPOINT_STRING": "https://mrm90847047-azconfig-net.azconfig.io",
    "RandomSeed": "1692588759"
  }
}
