{
  "Entries": [
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/abcd?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "foobar",
        "content_type": null,
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"uez-ZHY6judcekrT2hn8fiCDw4GQTcT1igV4S39_H50\"",
        "Last-Modified": "Fri, 23 Jan 2026 07:16:05 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU3NTgzMA==;sn=103575830",
        "x-ms-date": "Fri, 23 Jan 2026 07:16:05 GMT"
      },
      "ResponseBody": {
        "etag": "uez-ZHY6judcekrT2hn8fiCDw4GQTcT1igV4S39_H50",
        "key": "abcd",
        "label": null,
        "content_type": null,
        "value": "foobar",
        "tags": {},
        "locked": false,
        "last_modified": "2026-01-23T07:16:05+00:00"
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/wxyz?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU3NTgzMA==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "barfoo",
        "content_type": null,
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"GmMIiySGKP2Jo2sZlA93r-veGTXARderKhhPzjoilYY\"",
        "Last-Modified": "Fri, 23 Jan 2026 07:16:05 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU3NTgzMg==;sn=103575832",
        "x-ms-date": "Fri, 23 Jan 2026 07:16:05 GMT"
      },
      "ResponseBody": {
        "etag": "GmMIiySGKP2Jo2sZlA93r-veGTXARderKhhPzjoilYY",
        "key": "wxyz",
        "label": null,
        "content_type": null,
        "value": "barfoo",
        "tags": {},
        "locked": false,
        "last_modified": "2026-01-23T07:16:05+00:00"
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv?api-version=2023-11-01&tags=my_tag%3Dmy_tag_value",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU3NTgzMg==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"00wWELzclWef22f82qcUDI7FbJweVOoKWZDA_JoUeD0\"",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU3NTgzMw==;sn=103575833",
        "x-ms-date": "Fri, 23 Jan 2026 07:16:05 GMT"
      },
      "ResponseBody": {
        "etag": "00wWELzclWef22f82qcUDI7FbJweVOoKWZDA_JoUeD0",
        "items": []
      }
    },
[...]
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/wxyz?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU3NTgzNA==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"GmMIiySGKP2Jo2sZlA93r-veGTXARderKhhPzjoilYY\"",
        "Last-Modified": "Fri, 23 Jan 2026 07:16:05 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU3NTgzNQ==;sn=103575835",
        "x-ms-date": "Fri, 23 Jan 2026 07:16:05 GMT"
      },
      "ResponseBody": {
        "etag": "GmMIiySGKP2Jo2sZlA93r-veGTXARderKhhPzjoilYY",
        "key": "wxyz",
        "label": null,
        "content_type": null,
        "value": "barfoo",
        "tags": {},
        "locked": false,
        "last_modified": "2026-01-23T07:16:05+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t9c954b564de572f9-azconfig-net.azconfig.io;Id=MdvE;Secret=Kg==",
    "RandomSeed": "855574746"
  }
}
