{
  "Entries": [
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/keyFields-1189035796?api-version=2023-11-01&label=my_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "my_value",
        "content_type": null,
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"Jidhxw0RFcHjcppWxkmrTHjnUjGOeoF7N1Zs4XPAmLo\"",
        "Last-Modified": "Mon, 01 Dec 2025 08:36:16 GMT",
        "Sync-Token": "zAJw6V16=NTo1Izk4Nzc1ODk4;sn=98775898",
        "x-ms-date": "Mon, 01 Dec 2025 08:36:16 GMT"
      },
      "ResponseBody": {
        "etag": "Jidhxw0RFcHjcppWxkmrTHjnUjGOeoF7N1Zs4XPAmLo",
        "key": "keyFields-1189035796",
        "label": "my_label",
        "content_type": null,
        "value": "my_value",
        "tags": {},
        "locked": false,
        "last_modified": "2025-12-01T08:36:16+00:00"
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv?$select=key%2Clabel%2Cetag&api-version=2023-11-01&key=keyFields-1189035796",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1Izk4Nzc1ODk4",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"q4iRlzFX7Xj4Fs_g5pmS2UjXJk2WguHZY1O_RCi0lZo\"",
        "Sync-Token": "zAJw6V16=NTo1Izk4Nzc1ODk4;sn=98775898",
        "x-ms-date": "Mon, 01 Dec 2025 08:36:16 GMT"
      },
      "ResponseBody": {
        "etag": "q4iRlzFX7Xj4Fs_g5pmS2UjXJk2WguHZY1O_RCi0lZo",
        "items": [
          {
            "etag": "Jidhxw0RFcHjcppWxkmrTHjnUjGOeoF7N1Zs4XPAmLo",
            "key": "keyFields-1189035796",
            "label": "my_label"
          }
        ]
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/keyFields-1189035796?api-version=2023-11-01&label=my_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1Izk4Nzc1ODk4",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"Jidhxw0RFcHjcppWxkmrTHjnUjGOeoF7N1Zs4XPAmLo\"",
        "Last-Modified": "Mon, 01 Dec 2025 08:36:16 GMT",
        "Sync-Token": "zAJw6V16=NTo1Izk4Nzc1ODk5;sn=98775899",
        "x-ms-date": "Mon, 01 Dec 2025 08:36:16 GMT"
      },
      "ResponseBody": {
        "etag": "Jidhxw0RFcHjcppWxkmrTHjnUjGOeoF7N1Zs4XPAmLo",
        "key": "keyFields-1189035796",
        "label": "my_label",
        "content_type": null,
        "value": "my_value",
        "tags": {},
        "locked": false,
        "last_modified": "2025-12-01T08:36:16+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t9c954b564de572f9-azconfig-net.azconfig.io;Id=MdvE;Secret=Kg==",
    "RandomSeed": "553081095"
  }
}
