{
  "Entries": [
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/~%60%21%40%23%24%5E%26%28%29_%2B%3D%5B%5D%7B%7D%7C%3B%22%27%3C%3E.%2F--1918016292?api-version=2023-11-01&label=label-~%60%21%40%23%24%5E%26%28%29_%2B%3D%5B%5D%7B%7D%7C%3B%22%27%3C%3E.%2F-",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "value-~`!@#$^&()_+=[]{}|;\"'<>./-",
        "content_type": null,
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"sH9gNBkIINncmBfakvjek3P2p0QBRH2SgVby_Ap_B3I\"",
        "Last-Modified": "Tue, 23 Dec 2025 05:48:47 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTA0OTgxNw==;sn=101049817",
        "x-ms-date": "Tue, 23 Dec 2025 05:48:47 GMT"
      },
      "ResponseBody": {
        "etag": "sH9gNBkIINncmBfakvjek3P2p0QBRH2SgVby_Ap_B3I",
        "key": "~`!@#$^&()_+=[]{}|;\"'<>./--1918016292",
        "label": "label-~`!@#$^&()_+=[]{}|;\"'<>./-",
        "content_type": null,
        "value": "value-~`!@#$^&()_+=[]{}|;\"'<>./-",
        "tags": {},
        "locked": false,
        "last_modified": "2025-12-23T05:48:47+00:00"
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv?api-version=2023-11-01&key=~%60%21%40%23%24%5E%26%28%29_%2B%3D%5B%5D%7B%7D%7C%3B%22%27%3C%3E.%2F--1918016292",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTA0OTgxNw==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"oBZ6b4CzgV9o6fvS9I2ZJTwEMgG0xRjcEsqTfUWeb9U\"",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTA0OTgxNw==;sn=101049817",
        "x-ms-date": "Tue, 23 Dec 2025 05:48:47 GMT"
      },
      "ResponseBody": {
        "etag": "oBZ6b4CzgV9o6fvS9I2ZJTwEMgG0xRjcEsqTfUWeb9U",
        "items": [
          {
            "etag": "sH9gNBkIINncmBfakvjek3P2p0QBRH2SgVby_Ap_B3I",
            "key": "~`!@#$^&()_+=[]{}|;\"'<>./--1918016292",
            "label": "label-~`!@#$^&()_+=[]{}|;\"'<>./-",
            "content_type": null,
            "value": "value-~`!@#$^&()_+=[]{}|;\"'<>./-",
            "tags": {},
            "locked": false,
            "last_modified": "2025-12-23T05:48:47+00:00"
          }
        ]
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/~%60%21%40%23%24%5E%26%28%29_%2B%3D%5B%5D%7B%7D%7C%3B%22%27%3C%3E.%2F--1918016292?api-version=2023-11-01&label=label-~%60%21%40%23%24%5E%26%28%29_%2B%3D%5B%5D%7B%7D%7C%3B%22%27%3C%3E.%2F-",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTA0OTgxNw==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"sH9gNBkIINncmBfakvjek3P2p0QBRH2SgVby_Ap_B3I\"",
        "Last-Modified": "Tue, 23 Dec 2025 05:48:47 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTA0OTgxOA==;sn=101049818",
        "x-ms-date": "Tue, 23 Dec 2025 05:48:48 GMT"
      },
      "ResponseBody": {
        "etag": "sH9gNBkIINncmBfakvjek3P2p0QBRH2SgVby_Ap_B3I",
        "key": "~`!@#$^&()_+=[]{}|;\"'<>./--1918016292",
        "label": "label-~`!@#$^&()_+=[]{}|;\"'<>./-",
        "content_type": null,
        "value": "value-~`!@#$^&()_+=[]{}|;\"'<>./-",
        "tags": {},
        "locked": false,
        "last_modified": "2025-12-23T05:48:47+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t9c954b564de572f9-azconfig-net.azconfig.io;Id=MdvE;Secret=Kg==",
    "RandomSeed": "808711620"
  }
}
