{
  "Entries": [
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-1195076551?api-version=2023-11-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"jg5WzT-9Dft9uVMPfGCqgyjL4v9oyylR0_C3pDoqGcE\"",
        "Last-Modified": "Tue, 06 Jan 2026 01:18:08 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTc2NTk5OQ==;sn=101765999",
        "x-ms-date": "Tue, 06 Jan 2026 01:18:08 GMT"
      },
      "ResponseBody": {
        "etag": "jg5WzT-9Dft9uVMPfGCqgyjL4v9oyylR0_C3pDoqGcE",
        "key": "key-1195076551",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-01-06T01:18:08+00:00"
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv?api-version=2023-11-01&label=test_label",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTc2NTk5OQ==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"fCLamhIqVRxGoZ6gPQfzT2o3eIWPBYvJNgipoqyoxmY\"",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTc2NTk5OQ==;sn=101765999",
        "x-ms-date": "Tue, 06 Jan 2026 01:18:08 GMT"
      },
      "ResponseBody": {
        "etag": "fCLamhIqVRxGoZ6gPQfzT2o3eIWPBYvJNgipoqyoxmY",
        "items": [
          {
            "etag": "jg5WzT-9Dft9uVMPfGCqgyjL4v9oyylR0_C3pDoqGcE",
            "key": "key-1195076551",
            "label": "test_label",
            "content_type": "test_content_type",
            "value": "test_value",
            "tags": {
              "tag1": "value1",
              "tag2": "value2"
            },
            "locked": false,
            "last_modified": "2026-01-06T01:18:08+00:00"
          }
        ]
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-1195076551?api-version=2023-11-01&label=test_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTc2NTk5OQ==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"jg5WzT-9Dft9uVMPfGCqgyjL4v9oyylR0_C3pDoqGcE\"",
        "Last-Modified": "Tue, 06 Jan 2026 01:18:08 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTc2NjAwMA==;sn=101766000",
        "x-ms-date": "Tue, 06 Jan 2026 01:18:08 GMT"
      },
      "ResponseBody": {
        "etag": "jg5WzT-9Dft9uVMPfGCqgyjL4v9oyylR0_C3pDoqGcE",
        "key": "key-1195076551",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-01-06T01:18:08+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t9c954b564de572f9-azconfig-net.azconfig.io;Id=MdvE;Secret=Kg==",
    "RandomSeed": "469697046"
  }
}
