{
  "Entries": [
    {
      "RequestUri": "https://tdfcae3cf5eab7143-azconfig-net.azconfig.io/kv/ab%2Ccd?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "comma in key",
        "content_type": null,
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"C42hDLCYRKYDw-AxNviF0K5X6kEt2ZJiCx7YYinwvDo\"",
        "Last-Modified": "Wed, 24 Jul 2024 15:44:51 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzMyMjcxNjQ2;sn=32271646"
      },
      "ResponseBody": {
        "etag": "C42hDLCYRKYDw-AxNviF0K5X6kEt2ZJiCx7YYinwvDo",
        "key": "ab,cd",
        "label": null,
        "content_type": null,
        "value": "comma in key",
        "tags": {},
        "locked": false,
        "last_modified": "2024-07-24T15:44:51+00:00"
      }
    },
    {
      "RequestUri": "https://tdfcae3cf5eab7143-azconfig-net.azconfig.io/kv/wx%2Cyz?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=Njo1IzMyMjcxNjQ2",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "comma in key",
        "content_type": null,
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"s4Ci49kA2rMbWn28cH-qL4Ta6ltt-wLM0GdehGRpmHE\"",
        "Last-Modified": "Wed, 24 Jul 2024 15:44:51 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzMyMjcxNjQ3;sn=32271647"
      },
      "ResponseBody": {
        "etag": "s4Ci49kA2rMbWn28cH-qL4Ta6ltt-wLM0GdehGRpmHE",
        "key": "wx,yz",
        "label": null,
        "content_type": null,
        "value": "comma in key",
        "tags": {},
        "locked": false,
        "last_modified": "2024-07-24T15:44:51+00:00"
      }
    },
    {
      "RequestUri": "https://tdfcae3cf5eab7143-azconfig-net.azconfig.io/kv?key=ab%5C%2Ccd%2Cwx%5C%2Cyz&api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Njo1IzMyMjcxNjQ3",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"W3Ny9wpTqjlVS7xqnv1Oi-YNZPpBZhJi6G7yHTQKK3E\"",
        "Sync-Token": "zAJw6V16=Njo1IzMyMjcxNjQ3;sn=32271647"
      },
      "ResponseBody": {
        "etag": "W3Ny9wpTqjlVS7xqnv1Oi-YNZPpBZhJi6G7yHTQKK3E",
        "items": [
          {
            "etag": "C42hDLCYRKYDw-AxNviF0K5X6kEt2ZJiCx7YYinwvDo",
            "key": "ab,cd",
            "label": null,
            "content_type": null,
            "value": "comma in key",
            "tags": {},
            "locked": false,
            "last_modified": "2024-07-24T15:44:51+00:00"
          },
          {
            "etag": "s4Ci49kA2rMbWn28cH-qL4Ta6ltt-wLM0GdehGRpmHE",
            "key": "wx,yz",
            "label": null,
            "content_type": null,
            "value": "comma in key",
            "tags": {},
            "locked": false,
            "last_modified": "2024-07-24T15:44:51+00:00"
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://tdfcae3cf5eab7143-azconfig-net.azconfig.io/kv/wx%2Cyz?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Njo1IzMyMjcxNjQ4",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"s4Ci49kA2rMbWn28cH-qL4Ta6ltt-wLM0GdehGRpmHE\"",
        "Last-Modified": "Wed, 24 Jul 2024 15:44:51 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzMyMjcxNjQ5;sn=32271649"
      },
      "ResponseBody": {
        "etag": "s4Ci49kA2rMbWn28cH-qL4Ta6ltt-wLM0GdehGRpmHE",
        "key": "wx,yz",
        "label": null,
        "content_type": null,
        "value": "comma in key",
        "tags": {},
        "locked": false,
        "last_modified": "2024-07-24T15:44:51+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://tdfcae3cf5eab7143-azconfig-net.azconfig.io;Id=MEKF;Secret=Kg==",
    "RandomSeed": "1997908675"
  }
}
