{
  "Entries": [
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/kv/key-abc?api-version=2023-11-01&label=abc",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "abc setting",
        "content_type": null,
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"T5sKU5U440V3R5MFYQRw-3kGTJDqTnafoVGN-Cg0aQw\"",
        "Last-Modified": "Mon, 17 Nov 2025 16:55:59 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzU3NzY0NzM0;sn=57764734",
        "x-ms-date": "Mon, 17 Nov 2025 16:55:59 GMT"
      },
      "ResponseBody": {
        "etag": "T5sKU5U440V3R5MFYQRw-3kGTJDqTnafoVGN-Cg0aQw",
        "key": "key-abc",
        "label": "abc",
        "content_type": null,
        "value": "abc setting",
        "tags": {},
        "locked": false,
        "last_modified": "2025-11-17T16:55:59+00:00"
      }
    },
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/kv/label-xyz?api-version=2023-11-01&label=xyz",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=Njo1IzU3NzY0NzM0",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "xyz setting",
        "content_type": null,
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"9MUfYPlJ41-FKP-wKEkCeCjxw3kwqY_zyoSx_P3yXZI\"",
        "Last-Modified": "Mon, 17 Nov 2025 16:55:59 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzU3NzY0NzM2;sn=57764736",
        "x-ms-date": "Mon, 17 Nov 2025 16:55:59 GMT"
      },
      "ResponseBody": {
        "etag": "9MUfYPlJ41-FKP-wKEkCeCjxw3kwqY_zyoSx_P3yXZI",
        "key": "label-xyz",
        "label": "xyz",
        "content_type": null,
        "value": "xyz setting",
        "tags": {},
        "locked": false,
        "last_modified": "2025-11-17T16:55:59+00:00"
      }
    },
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/kv?api-version=2023-11-01&label=abc%2Cxyz",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Njo1IzU3NzY0NzM2",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"mAt3vB29D-qx7zi_SE5AL6Vr0gSHc1UEjAcppH72FCo\"",
        "Sync-Token": "zAJw6V16=Njo1IzU3NzY0NzM3;sn=57764737",
        "x-ms-date": "Mon, 17 Nov 2025 16:56:00 GMT"
      },
      "ResponseBody": {
        "etag": "mAt3vB29D-qx7zi_SE5AL6Vr0gSHc1UEjAcppH72FCo",
        "items": [
          {
            "etag": "T5sKU5U440V3R5MFYQRw-3kGTJDqTnafoVGN-Cg0aQw",
            "key": "key-abc",
            "label": "abc",
            "content_type": null,
            "value": "abc setting",
            "tags": {},
            "locked": false,
            "last_modified": "2025-11-17T16:55:59+00:00"
          },
          {
            "etag": "9MUfYPlJ41-FKP-wKEkCeCjxw3kwqY_zyoSx_P3yXZI",
            "key": "label-xyz",
            "label": "xyz",
            "content_type": null,
            "value": "xyz setting",
            "tags": {},
            "locked": false,
            "last_modified": "2025-11-17T16:55:59+00:00"
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/kv/label-xyz?api-version=2023-11-01&label=xyz",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Njo1IzU3NzY0NzM4",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"9MUfYPlJ41-FKP-wKEkCeCjxw3kwqY_zyoSx_P3yXZI\"",
        "Last-Modified": "Mon, 17 Nov 2025 16:55:59 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzU3NzY0NzM5;sn=57764739",
        "x-ms-date": "Mon, 17 Nov 2025 16:56:00 GMT"
      },
      "ResponseBody": {
        "etag": "9MUfYPlJ41-FKP-wKEkCeCjxw3kwqY_zyoSx_P3yXZI",
        "key": "label-xyz",
        "label": "xyz",
        "content_type": null,
        "value": "xyz setting",
        "tags": {},
        "locked": false,
        "last_modified": "2025-11-17T16:55:59+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t8cdd9157ca7d1363-azconfig-net.azconfig.io;Id=wNKY;Secret=Kg==",
    "RandomSeed": "2110352459"
  }
}
