{
  "Entries": [
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/kv/key-1751331867?api-version=2023-11-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"ga6daxAQtZ31MiXkLCV6c7-GXJx-miBEtvDbPvCtafY\"",
        "Last-Modified": "Mon, 17 Nov 2025 16:50:37 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzU3NzY0MjY1;sn=57764265",
        "x-ms-date": "Mon, 17 Nov 2025 16:50:37 GMT"
      },
      "ResponseBody": {
        "etag": "ga6daxAQtZ31MiXkLCV6c7-GXJx-miBEtvDbPvCtafY",
        "key": "key-1751331867",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2025-11-17T16:50:37+00:00"
      }
    },
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/kv?api-version=2023-11-01&label=test_label",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Njo1IzU3NzY0MjY1",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"sxVGXxXt0i0ZqC0i29gORyiocn03B-xA7pjUC8Je7Ac\"",
        "Sync-Token": "zAJw6V16=Njo1IzU3NzY0MjY1;sn=57764265",
        "x-ms-date": "Mon, 17 Nov 2025 16:50:37 GMT"
      },
      "ResponseBody": {
        "etag": "sxVGXxXt0i0ZqC0i29gORyiocn03B-xA7pjUC8Je7Ac",
        "items": [
          {
            "etag": "ga6daxAQtZ31MiXkLCV6c7-GXJx-miBEtvDbPvCtafY",
            "key": "key-1751331867",
            "label": "test_label",
            "content_type": "test_content_type",
            "value": "test_value",
            "tags": {
              "tag1": "value1",
              "tag2": "value2"
            },
            "locked": false,
            "last_modified": "2025-11-17T16:50:37+00:00"
          }
        ]
      }
    },
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/kv/key-1751331867?api-version=2023-11-01&label=test_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Njo1IzU3NzY0MjY1",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"ga6daxAQtZ31MiXkLCV6c7-GXJx-miBEtvDbPvCtafY\"",
        "Last-Modified": "Mon, 17 Nov 2025 16:50:37 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzU3NzY0MjY2;sn=57764266",
        "x-ms-date": "Mon, 17 Nov 2025 16:50:37 GMT"
      },
      "ResponseBody": {
        "etag": "ga6daxAQtZ31MiXkLCV6c7-GXJx-miBEtvDbPvCtafY",
        "key": "key-1751331867",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2025-11-17T16:50:37+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t8cdd9157ca7d1363-azconfig-net.azconfig.io;Id=wNKY;Secret=Kg==",
    "RandomSeed": "1818622127"
  }
}
