{
  "Entries": [
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-abc?api-version=2023-11-01&label=abc",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "abc setting",
        "content_type": null,
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"DxmGOyjEgh4ho7LCBCpYo2pkYxKoUCKOcPVWSiHhdUQ\"",
        "Last-Modified": "Tue, 06 Jan 2026 06:28:17 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTc3MzExMA==;sn=101773110",
        "x-ms-date": "Tue, 06 Jan 2026 06:28:17 GMT"
      },
      "ResponseBody": {
        "etag": "DxmGOyjEgh4ho7LCBCpYo2pkYxKoUCKOcPVWSiHhdUQ",
        "key": "key-abc",
        "label": "abc",
        "content_type": null,
        "value": "abc setting",
        "tags": {},
        "locked": false,
        "last_modified": "2026-01-06T06:28:17+00:00"
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/label-xyz?api-version=2023-11-01&label=xyz",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTc3MzExMA==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "xyz setting",
        "content_type": null,
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"EwN1sEvA4I8HFRhb6q6CWHMYbgdtoJr5GDYMnL6z1Dc\"",
        "Last-Modified": "Tue, 06 Jan 2026 06:28:17 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTc3MzExMg==;sn=101773112",
        "x-ms-date": "Tue, 06 Jan 2026 06:28:17 GMT"
      },
      "ResponseBody": {
        "etag": "EwN1sEvA4I8HFRhb6q6CWHMYbgdtoJr5GDYMnL6z1Dc",
        "key": "label-xyz",
        "label": "xyz",
        "content_type": null,
        "value": "xyz setting",
        "tags": {},
        "locked": false,
        "last_modified": "2026-01-06T06:28:17+00:00"
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv?api-version=2023-11-01&label=abc%2Cxyz",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTc3MzExMg==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"sGt-3254Cn5BH_UnSJKBjKBegxoG7-TmfJOuN5rsAF0\"",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTc3MzExMw==;sn=101773113",
        "x-ms-date": "Tue, 06 Jan 2026 06:28:17 GMT"
      },
      "ResponseBody": {
        "etag": "sGt-3254Cn5BH_UnSJKBjKBegxoG7-TmfJOuN5rsAF0",
        "items": [
          {
            "etag": "DxmGOyjEgh4ho7LCBCpYo2pkYxKoUCKOcPVWSiHhdUQ",
            "key": "key-abc",
            "label": "abc",
            "content_type": null,
            "value": "abc setting",
            "tags": {},
            "locked": false,
            "last_modified": "2026-01-06T06:28:17+00:00"
          },
          {
            "etag": "EwN1sEvA4I8HFRhb6q6CWHMYbgdtoJr5GDYMnL6z1Dc",
            "key": "label-xyz",
            "label": "xyz",
            "content_type": null,
            "value": "xyz setting",
            "tags": {},
            "locked": false,
            "last_modified": "2026-01-06T06:28:17+00:00"
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/label-xyz?api-version=2023-11-01&label=xyz",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTc3MzExNA==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"EwN1sEvA4I8HFRhb6q6CWHMYbgdtoJr5GDYMnL6z1Dc\"",
        "Last-Modified": "Tue, 06 Jan 2026 06:28:17 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTc3MzExNQ==;sn=101773115",
        "x-ms-date": "Tue, 06 Jan 2026 06:28:17 GMT"
      },
      "ResponseBody": {
        "etag": "EwN1sEvA4I8HFRhb6q6CWHMYbgdtoJr5GDYMnL6z1Dc",
        "key": "label-xyz",
        "label": "xyz",
        "content_type": null,
        "value": "xyz setting",
        "tags": {},
        "locked": false,
        "last_modified": "2026-01-06T06:28:17+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t9c954b564de572f9-azconfig-net.azconfig.io;Id=MdvE;Secret=Kg==",
    "RandomSeed": "2013544932"
  }
}
