{
  "Entries": [
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv/Test_Key?api-version=2026-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "value": "Test_Value",
        "content_type": null,
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"UxrHljzkR04yPkwW8X-MBEB7XUuhDH9vjDbm3aMlLH8\"",
        "Last-Modified": "Wed, 10 Jun 2026 19:27:03 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDc0Nzg3;sn=67074787",
        "x-ms-date": "Wed, 10 Jun 2026 19:27:03 GMT"
      },
      "ResponseBody": {
        "etag": "UxrHljzkR04yPkwW8X-MBEB7XUuhDH9vjDbm3aMlLH8",
        "key": "Test_Key",
        "label": null,
        "content_type": null,
        "value": "Test_Value",
        "description": null,
        "tags": {},
        "locked": false,
        "last_modified": "2026-06-10T19:27:03+00:00"
      }
    },
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/snapshots/snapshot-2079520851?api-version=2026-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDc0Nzg3"
      },
      "RequestBody": {
        "filters": [
          {
            "key": "Test_Key"
          }
        ],
        "retention_period": 3600,
        "description": "Test snapshot description"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json; charset=utf-8",
        "ETag": "\"CuW8dAayRtANtbE_YqDsVN9cGFiCUBGX2cfGWcYPtYA\"",
        "Last-Modified": "Wed, 10 Jun 2026 19:27:03 GMT",
        "Link": "</kv?snapshot=snapshot-2079520851&api-version=2026-04-01>; rel=\"items\"",
        "Operation-Location": "https://mrm90847047-azconfig-net.azconfig.io/operations?snapshot=snapshot-2079520851&api-version=2026-04-01",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDc0Nzg5;sn=67074789",
        "x-ms-date": "Wed, 10 Jun 2026 19:27:03 GMT"
      },
      "ResponseBody": {
        "etag": "CuW8dAayRtANtbE_YqDsVN9cGFiCUBGX2cfGWcYPtYA",
        "name": "snapshot-2079520851",
        "description": "Test snapshot description",
        "status": "provisioning",
        "filters": [
          {
            "key": "Test_Key",
            "label": null,
            "tags": []
          }
        ],
        "composition_type": "key",
        "created": "2026-06-10T19:27:03.8457595+00:00",
        "size": 0,
        "items_count": 0,
        "tags": {},
        "retention_period": 3600
      }
    },
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/operations?api-version=2026-04-01&snapshot=snapshot-2079520851",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDc0Nzg5"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDc0Nzg5;sn=67074789",
        "x-ms-date": "Wed, 10 Jun 2026 19:27:03 GMT"
      },
      "ResponseBody": {
        "id": "N4eNFVUZ0xfVIFbFs7FFTM96717dAkvRNbP6HSG-Lek",
        "status": "Running",
        "error": null
      }
    },
[...]
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv?api-version=2026-04-01&snapshot=snapshot-2079520851",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDc0Nzkw"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"TsnSH_he-AMWYfoGa1PbKDMYEPwJF9fIYrfyseU2QPA\"",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDc0Nzkw;sn=67074790",
        "x-ms-date": "Wed, 10 Jun 2026 19:27:24 GMT"
      },
      "ResponseBody": {
        "etag": "TsnSH_he-AMWYfoGa1PbKDMYEPwJF9fIYrfyseU2QPA",
        "items": [
          {
            "etag": "UxrHljzkR04yPkwW8X-MBEB7XUuhDH9vjDbm3aMlLH8",
            "key": "Test_Key",
            "label": null,
            "content_type": null,
            "value": "Test_Value",
            "description": null,
            "tags": {},
            "locked": false,
            "last_modified": "2026-06-10T19:27:03+00:00"
          }
        ]
      }
    },
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv/Test_Key?api-version=2026-04-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDc0Nzkw"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"UxrHljzkR04yPkwW8X-MBEB7XUuhDH9vjDbm3aMlLH8\"",
        "Last-Modified": "Wed, 10 Jun 2026 19:27:03 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDc0Nzkx;sn=67074791",
        "x-ms-date": "Wed, 10 Jun 2026 19:27:24 GMT"
      },
      "ResponseBody": {
        "etag": "UxrHljzkR04yPkwW8X-MBEB7XUuhDH9vjDbm3aMlLH8",
        "key": "Test_Key",
        "label": null,
        "content_type": null,
        "value": "Test_Value",
        "description": null,
        "tags": {},
        "locked": false,
        "last_modified": "2026-06-10T19:27:03+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_ENDPOINT_STRING": "https://mrm90847047-azconfig-net.azconfig.io",
    "RandomSeed": "1761346184"
  }
}
