{
  "Entries": [
    {
      "RequestUri": "https://te0e57d80fe738c82-azconfig-net.azconfig.io/kv/Test_Key?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "Test_Value",
        "content_type": null,
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"pQDIt8V5HbP7b-qtOMFNoa0ZnIMwOL4FmHauT46sd_8\"",
        "Last-Modified": "Tue, 29 Jul 2025 17:42:45 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzUxNTQ5NTcy;sn=51549572"
      },
      "ResponseBody": {
        "etag": "pQDIt8V5HbP7b-qtOMFNoa0ZnIMwOL4FmHauT46sd_8",
        "key": "Test_Key",
        "label": null,
        "content_type": null,
        "value": "Test_Value",
        "tags": {},
        "locked": false,
        "last_modified": "2025-07-29T17:42:45+00:00"
      }
    },
    {
      "RequestUri": "https://te0e57d80fe738c82-azconfig-net.azconfig.io/snapshots/snapshot-175383876?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=Njo1IzUxNTQ5NTcy",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "filters": [
          {
            "key": "Test_Key"
          }
        ]
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json; charset=utf-8",
        "ETag": "\"pVZpkoRaTCuO4Qi9aAVkSD9AX1vn3YgiUISQez9vooI\"",
        "Last-Modified": "Tue, 29 Jul 2025 17:42:45 GMT",
        "Link": "</kv?snapshot=snapshot-175383876&api-version=2023-11-01>; rel=\"items\"",
        "Operation-Location": "https://te0e57d80fe738c82-azconfig-net.azconfig.io/operations?snapshot=snapshot-175383876&api-version=2023-11-01",
        "Sync-Token": "zAJw6V16=Njo1IzUxNTQ5NTc0;sn=51549574"
      },
      "ResponseBody": {
        "etag": "pVZpkoRaTCuO4Qi9aAVkSD9AX1vn3YgiUISQez9vooI",
        "name": "snapshot-175383876",
        "status": "provisioning",
        "filters": [
          {
            "key": "Test_Key",
            "label": null,
            "tags": []
          }
        ],
        "composition_type": "key",
        "created": "2025-07-29T17:42:45.7518968+00:00",
        "size": 0,
        "items_count": 0,
        "tags": {},
        "retention_period": 2592000
      }
    },
    {
      "RequestUri": "https://te0e57d80fe738c82-azconfig-net.azconfig.io/operations?snapshot=snapshot-175383876&api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Njo1IzUxNTQ5NTc0",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "Sync-Token": "zAJw6V16=Njo1IzUxNTQ5NTc0;sn=51549574"
      },
      "ResponseBody": {
        "id": "YqGzhvm4fhJ9fRH-r4VICMVsl-HRU-nEPmkxi5O-Qjw",
        "status": "Running",
        "error": null
      }
    },
[...]
    {
      "RequestUri": "https://te0e57d80fe738c82-azconfig-net.azconfig.io/kv?api-version=2023-11-01&snapshot=snapshot-175383876",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Njo1IzUxNTQ5NTc1",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"OXUgyV3oxJ4cfp6IJnxiI7XW_QhvNaap2o9KfORNHLY\"",
        "Sync-Token": "zAJw6V16=Njo1IzUxNTQ5NTc1;sn=51549575"
      },
      "ResponseBody": {
        "etag": "OXUgyV3oxJ4cfp6IJnxiI7XW_QhvNaap2o9KfORNHLY",
        "items": [
          {
            "etag": "pQDIt8V5HbP7b-qtOMFNoa0ZnIMwOL4FmHauT46sd_8",
            "key": "Test_Key",
            "label": null,
            "content_type": null,
            "value": "Test_Value",
            "tags": {},
            "locked": false,
            "last_modified": "2025-07-29T17:42:45+00:00"
          }
        ]
      }
    },
    {
      "RequestUri": "https://te0e57d80fe738c82-azconfig-net.azconfig.io/kv/Test_Key?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Njo1IzUxNTQ5NTc1",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"pQDIt8V5HbP7b-qtOMFNoa0ZnIMwOL4FmHauT46sd_8\"",
        "Last-Modified": "Tue, 29 Jul 2025 17:42:45 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzUxNTQ5NTc2;sn=51549576"
      },
      "ResponseBody": {
        "etag": "pQDIt8V5HbP7b-qtOMFNoa0ZnIMwOL4FmHauT46sd_8",
        "key": "Test_Key",
        "label": null,
        "content_type": null,
        "value": "Test_Value",
        "tags": {},
        "locked": false,
        "last_modified": "2025-07-29T17:42:45+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://te0e57d80fe738c82-azconfig-net.azconfig.io;Id=L29Y;Secret=Kg==",
    "RandomSeed": "1899130498"
  }
}
