{
  "Entries": [
    {
      "RequestUri": "https://azure-sdk-for-net-test.azconfig.io/kv/Test_Key?api-version=2026-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "Test_Value",
        "content_type": null,
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"HDEN75EXP8PdJWimKTfaJBpItycwIRjcq0OFXTf3_eQ\"",
        "Last-Modified": "Wed, 27 May 2026 23:56:42 GMT",
        "Sync-Token": "zAJw6V16=NToxNyM0ODA0MTg5Mg==;sn=48041892",
        "x-ms-date": "Wed, 27 May 2026 23:56:42 GMT"
      },
      "ResponseBody": {
        "etag": "HDEN75EXP8PdJWimKTfaJBpItycwIRjcq0OFXTf3_eQ",
        "key": "Test_Key",
        "label": null,
        "content_type": null,
        "value": "Test_Value",
        "description": null,
        "tags": {},
        "locked": false,
        "last_modified": "2026-05-27T23:56:42+00:00"
      }
    },
    {
      "RequestUri": "https://azure-sdk-for-net-test.azconfig.io/snapshots/snapshot-40800788?api-version=2026-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NToxNyM0ODA0MTg5Mg==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "filters": [
          {
            "key": "Test_Key"
          }
        ]
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json; charset=utf-8",
        "ETag": "\"FLL1O4EZH27L4p7CcnYGAvVCbJO979dcVS4E0aS98Dc\"",
        "Last-Modified": "Wed, 27 May 2026 23:56:42 GMT",
        "Link": "</kv?snapshot=snapshot-40800788&api-version=2026-04-01>; rel=\"items\"",
        "Operation-Location": "https://azure-sdk-for-net-test.azconfig.io/operations?snapshot=snapshot-40800788&api-version=2026-04-01",
        "Sync-Token": "zAJw6V16=NToxNyM0ODA0MTg5NA==;sn=48041894",
        "x-ms-date": "Wed, 27 May 2026 23:56:42 GMT"
      },
      "ResponseBody": {
        "etag": "FLL1O4EZH27L4p7CcnYGAvVCbJO979dcVS4E0aS98Dc",
        "name": "snapshot-40800788",
        "description": null,
        "status": "provisioning",
        "filters": [
          {
            "key": "Test_Key",
            "label": null,
            "tags": []
          }
        ],
        "composition_type": "key",
        "created": "2026-05-27T23:56:42.163681+00:00",
        "size": 0,
        "items_count": 0,
        "tags": {},
        "retention_period": 2592000
      }
    },
    {
      "RequestUri": "https://azure-sdk-for-net-test.azconfig.io/operations?api-version=2026-04-01&snapshot=snapshot-40800788",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NToxNyM0ODA0MTg5NA==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "Sync-Token": "zAJw6V16=NToxNyM0ODA0MTg5NA==;sn=48041894",
        "x-ms-date": "Wed, 27 May 2026 23:56:42 GMT"
      },
      "ResponseBody": {
        "id": "rXb_hVqoqJFL36lwX4LpjCmh7zOVOTZCaHgS_N1AIkA",
        "status": "Running",
        "error": null
      }
    },
[...]
    {
      "RequestUri": "https://azure-sdk-for-net-test.azconfig.io/kv?api-version=2026-04-01&snapshot=snapshot-40800788",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NToxNyM0ODA0MTg5OA==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"ah_gdFRmOB--nOFRA11ZXtEqLW0kZXAdlWABbpItHmc\"",
        "Sync-Token": "zAJw6V16=NToxNyM0ODA0MTg5OA==;sn=48041898",
        "x-ms-date": "Wed, 27 May 2026 23:57:02 GMT"
      },
      "ResponseBody": {
        "etag": "ah_gdFRmOB--nOFRA11ZXtEqLW0kZXAdlWABbpItHmc",
        "items": [
          {
            "etag": "HDEN75EXP8PdJWimKTfaJBpItycwIRjcq0OFXTf3_eQ",
            "key": "Test_Key",
            "label": null,
            "content_type": null,
            "value": "Test_Value",
            "description": null,
            "tags": {},
            "locked": false,
            "last_modified": "2026-05-27T23:56:42+00:00"
          }
        ]
      }
    },
    {
      "RequestUri": "https://azure-sdk-for-net-test.azconfig.io/kv/Test_Key?api-version=2026-04-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NToxNyM0ODA0MTg5OA==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"HDEN75EXP8PdJWimKTfaJBpItycwIRjcq0OFXTf3_eQ\"",
        "Last-Modified": "Wed, 27 May 2026 23:56:42 GMT",
        "Sync-Token": "zAJw6V16=NToxNyM0ODA0MTg5OQ==;sn=48041899",
        "x-ms-date": "Wed, 27 May 2026 23:57:02 GMT"
      },
      "ResponseBody": {
        "etag": "HDEN75EXP8PdJWimKTfaJBpItycwIRjcq0OFXTf3_eQ",
        "key": "Test_Key",
        "label": null,
        "content_type": null,
        "value": "Test_Value",
        "description": null,
        "tags": {},
        "locked": false,
        "last_modified": "2026-05-27T23:56:42+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://azure-sdk-for-net-test.azconfig.io;Id=8ePU;Secret=Kg==",
    "RandomSeed": "2009090566"
  }
}
