{
  "Entries": [
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/kv/Test_Key?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "Test_Value",
        "content_type": null,
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"lY4hDbA7q-s-lEP5aDGuHfBvmXdZBShatTSUVp-Vrr8\"",
        "Last-Modified": "Mon, 17 Nov 2025 16:50:42 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzU3NzY0MzAz;sn=57764303",
        "x-ms-date": "Mon, 17 Nov 2025 16:50:43 GMT"
      },
      "ResponseBody": {
        "etag": "lY4hDbA7q-s-lEP5aDGuHfBvmXdZBShatTSUVp-Vrr8",
        "key": "Test_Key",
        "label": null,
        "content_type": null,
        "value": "Test_Value",
        "tags": {},
        "locked": false,
        "last_modified": "2025-11-17T16:50:42+00:00"
      }
    },
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/snapshots/snapshot-2109462323?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=Njo1IzU3NzY0MzAz",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "filters": [
          {
            "key": "Test_Key"
          }
        ]
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json; charset=utf-8",
        "ETag": "\"L636V0X5g0BaPNyzK7PDgkc9pNXqYTX3WV0IkuFFczQ\"",
        "Last-Modified": "Mon, 17 Nov 2025 16:50:43 GMT",
        "Link": "</kv?snapshot=snapshot-2109462323&api-version=2023-11-01>; rel=\"items\"",
        "Operation-Location": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/operations?snapshot=snapshot-2109462323&api-version=2023-11-01",
        "Sync-Token": "zAJw6V16=Njo1IzU3NzY0MzA1;sn=57764305",
        "x-ms-date": "Mon, 17 Nov 2025 16:50:43 GMT"
      },
      "ResponseBody": {
        "etag": "L636V0X5g0BaPNyzK7PDgkc9pNXqYTX3WV0IkuFFczQ",
        "name": "snapshot-2109462323",
        "status": "provisioning",
        "filters": [
          {
            "key": "Test_Key",
            "label": null,
            "tags": []
          }
        ],
        "composition_type": "key",
        "created": "2025-11-17T16:50:43.1200667+00:00",
        "size": 0,
        "items_count": 0,
        "tags": {},
        "retention_period": 2592000
      }
    },
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/operations?api-version=2023-11-01&snapshot=snapshot-2109462323",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Njo1IzU3NzY0MzA1",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "Sync-Token": "zAJw6V16=Njo1IzU3NzY0MzA1;sn=57764305",
        "x-ms-date": "Mon, 17 Nov 2025 16:50:43 GMT"
      },
      "ResponseBody": {
        "id": "51U2lo7jRjctTkn_3mIPLRbJNYsYjaIGyWdoVXL72AE",
        "status": "Running",
        "error": null
      }
    },
[...]
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/kv?api-version=2023-11-01&snapshot=snapshot-2109462323",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Njo1IzU3NzY0MzA2",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"fDRQBbA4bwKFN-uI1jdlfI7KO2wmzlWapjI0zuShMyw\"",
        "Sync-Token": "zAJw6V16=Njo1IzU3NzY0MzA2;sn=57764306",
        "x-ms-date": "Mon, 17 Nov 2025 16:51:03 GMT"
      },
      "ResponseBody": {
        "etag": "fDRQBbA4bwKFN-uI1jdlfI7KO2wmzlWapjI0zuShMyw",
        "items": [
          {
            "etag": "lY4hDbA7q-s-lEP5aDGuHfBvmXdZBShatTSUVp-Vrr8",
            "key": "Test_Key",
            "label": null,
            "content_type": null,
            "value": "Test_Value",
            "tags": {},
            "locked": false,
            "last_modified": "2025-11-17T16:50:42+00:00"
          }
        ]
      }
    },
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/kv/Test_Key?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Njo1IzU3NzY0MzA2",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"lY4hDbA7q-s-lEP5aDGuHfBvmXdZBShatTSUVp-Vrr8\"",
        "Last-Modified": "Mon, 17 Nov 2025 16:50:42 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzU3NzY0MzA3;sn=57764307",
        "x-ms-date": "Mon, 17 Nov 2025 16:51:03 GMT"
      },
      "ResponseBody": {
        "etag": "lY4hDbA7q-s-lEP5aDGuHfBvmXdZBShatTSUVp-Vrr8",
        "key": "Test_Key",
        "label": null,
        "content_type": null,
        "value": "Test_Value",
        "tags": {},
        "locked": false,
        "last_modified": "2025-11-17T16:50:42+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t8cdd9157ca7d1363-azconfig-net.azconfig.io;Id=wNKY;Secret=Kg==",
    "RandomSeed": "1122219009"
  }
}
