{
  "Entries": [
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/Test_Key?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "Test_Value",
        "content_type": null,
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"xgE-ps29yBiqAIj0nnuWtbbSV5Ur6p6Gza5OrKMHbF4\"",
        "Last-Modified": "Thu, 22 Jan 2026 01:39:01 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzQ3Mzk1Ng==;sn=103473956",
        "x-ms-date": "Thu, 22 Jan 2026 01:39:01 GMT"
      },
      "ResponseBody": {
        "etag": "xgE-ps29yBiqAIj0nnuWtbbSV5Ur6p6Gza5OrKMHbF4",
        "key": "Test_Key",
        "label": null,
        "content_type": null,
        "value": "Test_Value",
        "tags": {},
        "locked": false,
        "last_modified": "2026-01-22T01:39:01+00:00"
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/snapshots/snapshot-1372225469?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzQ3Mzk1Ng==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "filters": [
          {
            "key": "Test_Key"
          }
        ]
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json; charset=utf-8",
        "ETag": "\"EYLJ3ntqw8OZzvbdsJju_8d4oFgKCyl4K8dL8oB2zoo\"",
        "Last-Modified": "Thu, 22 Jan 2026 01:39:02 GMT",
        "Link": "</kv?snapshot=snapshot-1372225469&api-version=2023-11-01>; rel=\"items\"",
        "Operation-Location": "https://t9c954b564de572f9-azconfig-net.azconfig.io/operations?snapshot=snapshot-1372225469&api-version=2023-11-01",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzQ3Mzk1OA==;sn=103473958",
        "x-ms-date": "Thu, 22 Jan 2026 01:39:02 GMT"
      },
      "ResponseBody": {
        "etag": "EYLJ3ntqw8OZzvbdsJju_8d4oFgKCyl4K8dL8oB2zoo",
        "name": "snapshot-1372225469",
        "status": "provisioning",
        "filters": [
          {
            "key": "Test_Key",
            "label": null,
            "tags": []
          }
        ],
        "composition_type": "key",
        "created": "2026-01-22T01:39:02.10803+00:00",
        "size": 0,
        "items_count": 0,
        "tags": {},
        "retention_period": 2592000
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/operations?api-version=2023-11-01&snapshot=snapshot-1372225469",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzQ3Mzk1OA==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzQ3Mzk1OA==;sn=103473958",
        "x-ms-date": "Thu, 22 Jan 2026 01:39:02 GMT"
      },
      "ResponseBody": {
        "id": "2-FuQZJZwF7QI96Qpd-ct39H4L_iMfRb3affanMNBVE",
        "status": "Running",
        "error": null
      }
    },
[...]
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv?api-version=2023-11-01&snapshot=snapshot-1372225469",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzQ3Mzk1OQ==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"SVkvS1HtAE7S2x3cD07RxEMeYo7Bpf4Ar00eVmak2tc\"",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzQ3Mzk1OQ==;sn=103473959",
        "x-ms-date": "Thu, 22 Jan 2026 01:39:12 GMT"
      },
      "ResponseBody": {
        "etag": "SVkvS1HtAE7S2x3cD07RxEMeYo7Bpf4Ar00eVmak2tc",
        "items": [
          {
            "etag": "xgE-ps29yBiqAIj0nnuWtbbSV5Ur6p6Gza5OrKMHbF4",
            "key": "Test_Key",
            "label": null,
            "content_type": null,
            "value": "Test_Value",
            "tags": {},
            "locked": false,
            "last_modified": "2026-01-22T01:39:01+00:00"
          }
        ]
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/Test_Key?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzQ3Mzk1OQ==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"xgE-ps29yBiqAIj0nnuWtbbSV5Ur6p6Gza5OrKMHbF4\"",
        "Last-Modified": "Thu, 22 Jan 2026 01:39:01 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzQ3Mzk2MA==;sn=103473960",
        "x-ms-date": "Thu, 22 Jan 2026 01:39:13 GMT"
      },
      "ResponseBody": {
        "etag": "xgE-ps29yBiqAIj0nnuWtbbSV5Ur6p6Gza5OrKMHbF4",
        "key": "Test_Key",
        "label": null,
        "content_type": null,
        "value": "Test_Value",
        "tags": {},
        "locked": false,
        "last_modified": "2026-01-22T01:39:01+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t9c954b564de572f9-azconfig-net.azconfig.io;Id=MdvE;Secret=Kg==",
    "RandomSeed": "124516442"
  }
}
