{
  "Entries": [
    {
      "RequestUri": "https://appconfig-canary-2023-10-01.azconfig.io/kv/Test_Key?api-version=2023-10-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "7NuOhcU0AfXuPPfAzvvuSdcJxjbroXmGrZ4ddyQpxhc="
      },
      "RequestBody": {
        "value": "Test_Value",
        "content_type": null,
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022XNQfwQCOpoUmq01lS1FHI2oiV3IM-LKl7DYUWMZRgzE\u0022",
        "Last-Modified": "Fri, 03 Nov 2023 20:14:22 GMT",
        "Sync-Token": "zAJw6V16=NjoxNSM1MzM5NTky;sn=5339592"
      },
      "ResponseBody": {
        "etag": "XNQfwQCOpoUmq01lS1FHI2oiV3IM-LKl7DYUWMZRgzE",
        "key": "Test_Key",
        "label": null,
        "content_type": null,
        "value": "Test_Value",
        "tags": {},
        "locked": false,
        "last_modified": "2023-11-03T20:14:22\u002B00:00"
      }
    },
    {
      "RequestUri": "https://appconfig-canary-2023-10-01.azconfig.io/snapshots/snapshot-1677288159?api-version=2023-10-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NjoxNSM1MzM5NTky",
        "x-ms-content-sha256": "GgAT8a2Ss8RlbVLAdZrfwzwly717OtlZ8O1hyM\u002BQYsE="
      },
      "RequestBody": {
        "filters": [
          {
            "key": "Test_Key"
          }
        ]
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot\u002Bjson; charset=utf-8",
        "ETag": "\u0022bFd2ec1tV_VfnCPNQpjoctxuOc1ivcCOvBYu06YH54E\u0022",
        "Last-Modified": "Fri, 03 Nov 2023 20:14:22 GMT",
        "Link": "\u003C/kv?snapshot=snapshot-1677288159\u0026api-version=2023-10-01\u003E; rel=\u0022items\u0022",
        "Operation-Location": "https://appconfig-canary-2023-10-01.azconfig.io/operations?snapshot=snapshot-1677288159\u0026api-version=2023-10-01",
        "Sync-Token": "zAJw6V16=NjoxNSM1MzM5NTk0;sn=5339594"
      },
      "ResponseBody": {
        "etag": "bFd2ec1tV_VfnCPNQpjoctxuOc1ivcCOvBYu06YH54E",
        "name": "snapshot-1677288159",
        "status": "provisioning",
        "filters": [
          {
            "key": "Test_Key",
            "label": null
          }
        ],
        "composition_type": "key",
        "created": "2023-11-03T20:14:22\u002B00:00",
        "size": 0,
        "items_count": 0,
        "tags": {},
        "retention_period": 2592000
      }
    },
    {
      "RequestUri": "https://appconfig-canary-2023-10-01.azconfig.io/operations?snapshot=snapshot-1677288159\u0026api-version=2023-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NjoxNSM1MzM5NTk0",
        "x-ms-content-sha256": "47DEQpj8HBSa\u002B/TImW\u002B5JCeuQeRkm5NMpJWZG3hSuFU="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "Sync-Token": "zAJw6V16=NjoxNSM1MzM5NTk0;sn=5339594"
      },
      "ResponseBody": {
        "id": "trZ-_4ls9mxxa0iyM_K0ANfXlbu1o-_FY2CZ10ExuBs",
        "status": "Running",
        "error": null
      }
    },
[...]
    {
      "RequestUri": "https://appconfig-canary-2023-10-01.azconfig.io/kv?api-version=2023-10-01\u0026snapshot=snapshot-1677288159",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NjoxNSM1MzM5NTk1",
        "x-ms-content-sha256": "47DEQpj8HBSa\u002B/TImW\u002B5JCeuQeRkm5NMpJWZG3hSuFU="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset\u002Bjson; charset=utf-8",
        "ETag": "\u0022cFwFEqGeR-yUGBpeWDG1AWsA0rDRV1QEI6Byl94a6gA\u0022",
        "Sync-Token": "zAJw6V16=NjoxNSM1MzM5NTk1;sn=5339595"
      },
      "ResponseBody": {
        "etag": "cFwFEqGeR-yUGBpeWDG1AWsA0rDRV1QEI6Byl94a6gA",
        "items": [
          {
            "etag": "XNQfwQCOpoUmq01lS1FHI2oiV3IM-LKl7DYUWMZRgzE",
            "key": "Test_Key",
            "label": null,
            "content_type": null,
            "value": "Test_Value",
            "tags": {},
            "locked": false,
            "last_modified": "2023-11-03T20:14:22\u002B00:00"
          }
        ]
      }
    },
    {
      "RequestUri": "https://appconfig-canary-2023-10-01.azconfig.io/kv/Test_Key?api-version=2023-10-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NjoxNSM1MzM5NTk1",
        "x-ms-content-sha256": "47DEQpj8HBSa\u002B/TImW\u002B5JCeuQeRkm5NMpJWZG3hSuFU="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022XNQfwQCOpoUmq01lS1FHI2oiV3IM-LKl7DYUWMZRgzE\u0022",
        "Last-Modified": "Fri, 03 Nov 2023 20:14:22 GMT",
        "Sync-Token": "zAJw6V16=NjoxNSM1MzM5NTk2;sn=5339596"
      },
      "ResponseBody": {
        "etag": "XNQfwQCOpoUmq01lS1FHI2oiV3IM-LKl7DYUWMZRgzE",
        "key": "Test_Key",
        "label": null,
        "content_type": null,
        "value": "Test_Value",
        "tags": {},
        "locked": false,
        "last_modified": "2023-11-03T20:14:22\u002B00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://appconfig-canary-2023-10-01.azconfig.io;Id=0VlC;Secret=Kg==",
    "RandomSeed": "921834592"
  }
}
