{
  "Entries": [
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/Test_Key?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "Test_Value",
        "content_type": null,
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"dz4zUVWIIB82iq2rWsaurfE0jvFdkGlca8Zpj4cp_LQ\"",
        "Last-Modified": "Thu, 22 Jan 2026 02:01:56 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzQ3NDUyMg==;sn=103474522",
        "x-ms-date": "Thu, 22 Jan 2026 02:01:56 GMT"
      },
      "ResponseBody": {
        "etag": "dz4zUVWIIB82iq2rWsaurfE0jvFdkGlca8Zpj4cp_LQ",
        "key": "Test_Key",
        "label": null,
        "content_type": null,
        "value": "Test_Value",
        "tags": {},
        "locked": false,
        "last_modified": "2026-01-22T02:01:56+00:00"
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/snapshots/snapshot-428300980?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzQ3NDUyMg==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "filters": [
          {
            "key": "Test_Key"
          }
        ]
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json; charset=utf-8",
        "ETag": "\"sBpe5FEErfeOLEn_Aw5RP6-FoGKPrQXmpibhZg3ssEk\"",
        "Last-Modified": "Thu, 22 Jan 2026 02:01:57 GMT",
        "Link": "</kv?snapshot=snapshot-428300980&api-version=2023-11-01>; rel=\"items\"",
        "Operation-Location": "https://t9c954b564de572f9-azconfig-net.azconfig.io/operations?snapshot=snapshot-428300980&api-version=2023-11-01",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzQ3NDUyNA==;sn=103474524",
        "x-ms-date": "Thu, 22 Jan 2026 02:01:57 GMT"
      },
      "ResponseBody": {
        "etag": "sBpe5FEErfeOLEn_Aw5RP6-FoGKPrQXmpibhZg3ssEk",
        "name": "snapshot-428300980",
        "status": "provisioning",
        "filters": [
          {
            "key": "Test_Key",
            "label": null,
            "tags": []
          }
        ],
        "composition_type": "key",
        "created": "2026-01-22T02:01:57.0031203+00:00",
        "size": 0,
        "items_count": 0,
        "tags": {},
        "retention_period": 2592000
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/operations?api-version=2023-11-01&snapshot=snapshot-428300980",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzQ3NDUyNA==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzQ3NDUyNA==;sn=103474524",
        "x-ms-date": "Thu, 22 Jan 2026 02:01:57 GMT"
      },
      "ResponseBody": {
        "id": "vlCgEYHFpgpZuN7ITnMA4wKTuTculPDcnbqLvxswusk",
        "status": "Running",
        "error": null
      }
    },
[...]
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv?api-version=2023-11-01&snapshot=snapshot-428300980",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzQ3NDUyNQ==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"LqJ0tu8qteaoa5B78lYtWrRRqvV34_aW9RtgMvHgjqo\"",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzQ3NDUyNQ==;sn=103474525",
        "x-ms-date": "Thu, 22 Jan 2026 02:02:07 GMT"
      },
      "ResponseBody": {
        "etag": "LqJ0tu8qteaoa5B78lYtWrRRqvV34_aW9RtgMvHgjqo",
        "items": [
          {
            "etag": "dz4zUVWIIB82iq2rWsaurfE0jvFdkGlca8Zpj4cp_LQ",
            "key": "Test_Key",
            "label": null,
            "content_type": null,
            "value": "Test_Value",
            "tags": {},
            "locked": false,
            "last_modified": "2026-01-22T02:01:56+00:00"
          }
        ]
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/Test_Key?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzQ3NDUyNQ==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"dz4zUVWIIB82iq2rWsaurfE0jvFdkGlca8Zpj4cp_LQ\"",
        "Last-Modified": "Thu, 22 Jan 2026 02:01:56 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzQ3NDUyNg==;sn=103474526",
        "x-ms-date": "Thu, 22 Jan 2026 02:02:07 GMT"
      },
      "ResponseBody": {
        "etag": "dz4zUVWIIB82iq2rWsaurfE0jvFdkGlca8Zpj4cp_LQ",
        "key": "Test_Key",
        "label": null,
        "content_type": null,
        "value": "Test_Value",
        "tags": {},
        "locked": false,
        "last_modified": "2026-01-22T02:01:56+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t9c954b564de572f9-azconfig-net.azconfig.io;Id=MdvE;Secret=Kg==",
    "RandomSeed": "501049727"
  }
}
