{
  "Entries": [
    {
      "RequestUri": "https://azure-sdk-for-net-test.azconfig.io/kv/Test_Key-1291386180?api-version=2026-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "Test_Value",
        "content_type": null,
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"jleqAjx4Y9tKzWnMagY--kTo8n7uork52IKMGCcoFac\"",
        "Last-Modified": "Fri, 29 May 2026 19:59:17 GMT",
        "Sync-Token": "zAJw6V16=NToxNyM0ODE0OTUxNg==;sn=48149516",
        "x-ms-date": "Fri, 29 May 2026 19:59:17 GMT"
      },
      "ResponseBody": {
        "etag": "jleqAjx4Y9tKzWnMagY--kTo8n7uork52IKMGCcoFac",
        "key": "Test_Key-1291386180",
        "label": null,
        "content_type": null,
        "value": "Test_Value",
        "description": null,
        "tags": {},
        "locked": false,
        "last_modified": "2026-05-29T19:59:17+00:00"
      }
    },
    {
      "RequestUri": "https://azure-sdk-for-net-test.azconfig.io/snapshots/snapshot-1096466726?api-version=2026-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NToxNyM0ODE0OTUxNg==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "filters": [
          {
            "key": "Test_Key-1291386180"
          }
        ],
        "retention_period": 3600
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json; charset=utf-8",
        "ETag": "\"Z2xubQ02lH63uJAVU3TGeEguZS2-sVPSThueYS57S8k\"",
        "Last-Modified": "Fri, 29 May 2026 19:59:17 GMT",
        "Link": "</kv?snapshot=snapshot-1096466726&api-version=2026-04-01>; rel=\"items\"",
        "Operation-Location": "https://azure-sdk-for-net-test.azconfig.io/operations?snapshot=snapshot-1096466726&api-version=2026-04-01",
        "Sync-Token": "zAJw6V16=NToxNyM0ODE0OTUxNw==;sn=48149517",
        "x-ms-date": "Fri, 29 May 2026 19:59:17 GMT"
      },
      "ResponseBody": {
        "etag": "Z2xubQ02lH63uJAVU3TGeEguZS2-sVPSThueYS57S8k",
        "name": "snapshot-1096466726",
        "description": null,
        "status": "provisioning",
        "filters": [
          {
            "key": "Test_Key-1291386180",
            "label": null,
            "tags": []
          }
        ],
        "composition_type": "key",
        "created": "2026-05-29T19:59:17.558361+00:00",
        "size": 0,
        "items_count": 0,
        "tags": {},
        "retention_period": 3600
      }
    },
    {
      "RequestUri": "https://azure-sdk-for-net-test.azconfig.io/operations?api-version=2026-04-01&snapshot=snapshot-1096466726",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NToxNyM0ODE0OTUxNw==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "Sync-Token": "zAJw6V16=NToxNyM0ODE0OTUxNw==;sn=48149517",
        "x-ms-date": "Fri, 29 May 2026 19:59:17 GMT"
      },
      "ResponseBody": {
        "id": "nsw0Th20szpXliWfSqi9diUT0PZId8HXdpzQ2oPR30U",
        "status": "Running",
        "error": null
      }
    },
[...]
    {
      "RequestUri": "https://azure-sdk-for-net-test.azconfig.io/kv?api-version=2026-04-01&snapshot=snapshot-1096466726",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NToxNyM0ODE0OTUxOA==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"DED-xgdXvw_5np7c2sRGesdv3Za6w2i2_WVNZsutNr4\"",
        "Sync-Token": "zAJw6V16=NToxNyM0ODE0OTUxOA==;sn=48149518",
        "x-ms-date": "Fri, 29 May 2026 19:59:27 GMT"
      },
      "ResponseBody": {
        "etag": "DED-xgdXvw_5np7c2sRGesdv3Za6w2i2_WVNZsutNr4",
        "items": [
          {
            "etag": "jleqAjx4Y9tKzWnMagY--kTo8n7uork52IKMGCcoFac",
            "key": "Test_Key-1291386180",
            "label": null,
            "content_type": null,
            "value": "Test_Value",
            "description": null,
            "tags": {},
            "locked": false,
            "last_modified": "2026-05-29T19:59:17+00:00"
          }
        ]
      }
    },
    {
      "RequestUri": "https://azure-sdk-for-net-test.azconfig.io/kv/Test_Key-1291386180?api-version=2026-04-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NToxNyM0ODE0OTUxOA==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"jleqAjx4Y9tKzWnMagY--kTo8n7uork52IKMGCcoFac\"",
        "Last-Modified": "Fri, 29 May 2026 19:59:17 GMT",
        "Sync-Token": "zAJw6V16=NToxNyM0ODE0OTUxOQ==;sn=48149519",
        "x-ms-date": "Fri, 29 May 2026 19:59:27 GMT"
      },
      "ResponseBody": {
        "etag": "jleqAjx4Y9tKzWnMagY--kTo8n7uork52IKMGCcoFac",
        "key": "Test_Key-1291386180",
        "label": null,
        "content_type": null,
        "value": "Test_Value",
        "description": null,
        "tags": {},
        "locked": false,
        "last_modified": "2026-05-29T19:59:17+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://azure-sdk-for-net-test.azconfig.io;Id=8ePU;Secret=Kg==",
    "RandomSeed": "948404477"
  }
}
