{
  "Entries": [
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-49774761?api-version=2023-11-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"aCdDOZSwlCMlmW14-BkrVZ53pjXtUI7z4t3PCFhnC2A\"",
        "Last-Modified": "Mon, 26 Jan 2026 05:47:48 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzg1MjIzOA==;sn=103852238",
        "x-ms-date": "Mon, 26 Jan 2026 05:47:48 GMT"
      },
      "ResponseBody": {
        "etag": "aCdDOZSwlCMlmW14-BkrVZ53pjXtUI7z4t3PCFhnC2A",
        "key": "key-49774761",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-01-26T05:47:48+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-49774761?api-version=2023-11-01&label=test_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzg1MjI0MA==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"3bKgnfUM2f1vK8lFE6OzoufoVfzyHBhrYfZkGYkHP9Y\"",
        "Last-Modified": "Mon, 26 Jan 2026 05:47:48 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzg1MjI0MQ==;sn=103852241",
        "x-ms-date": "Mon, 26 Jan 2026 05:47:48 GMT"
      },
      "ResponseBody": {
        "etag": "3bKgnfUM2f1vK8lFE6OzoufoVfzyHBhrYfZkGYkHP9Y",
        "key": "key-49774761",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "new_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-01-26T05:47:48+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t9c954b564de572f9-azconfig-net.azconfig.io;Id=MdvE;Secret=Kg==",
    "RandomSeed": "408763294"
  }
}
