{
  "Entries": [
    {
      "RequestUri": "https://azure-sdk-for-net-test.azconfig.io/kv/key-400619410?api-version=2026-04-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"GHSXWOmyoAInYM6t8oG5pIKsSGIPhze3lP8hTF76ZzM\"",
        "Last-Modified": "Thu, 28 May 2026 00:01:47 GMT",
        "Sync-Token": "zAJw6V16=NToxNyM0ODA0MjM5NA==;sn=48042394",
        "x-ms-date": "Thu, 28 May 2026 00:01:47 GMT"
      },
      "ResponseBody": {
        "etag": "GHSXWOmyoAInYM6t8oG5pIKsSGIPhze3lP8hTF76ZzM",
        "key": "key-400619410",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "description": null,
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-05-28T00:01:47+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://azure-sdk-for-net-test.azconfig.io/kv/key-400619410?api-version=2026-04-01&label=test_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NToxNyM0ODA0MjM5NA==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"GHSXWOmyoAInYM6t8oG5pIKsSGIPhze3lP8hTF76ZzM\"",
        "Last-Modified": "Thu, 28 May 2026 00:01:47 GMT",
        "Sync-Token": "zAJw6V16=NToxNyM0ODA0MjM5NQ==;sn=48042395",
        "x-ms-date": "Thu, 28 May 2026 00:01:47 GMT"
      },
      "ResponseBody": {
        "etag": "GHSXWOmyoAInYM6t8oG5pIKsSGIPhze3lP8hTF76ZzM",
        "key": "key-400619410",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "description": null,
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-05-28T00:01:47+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://azure-sdk-for-net-test.azconfig.io;Id=8ePU;Secret=Kg==",
    "RandomSeed": "773458593"
  }
}
