{
  "Entries": [
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-2056764225?api-version=2023-11-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"5LYAPUkg0Yvq_GbB1V12wtuf6vUedwW8QbT6ACrAYdI\"",
        "Last-Modified": "Tue, 06 Jan 2026 06:35:10 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTc3MzYyNg==;sn=101773626",
        "x-ms-date": "Tue, 06 Jan 2026 06:35:10 GMT"
      },
      "ResponseBody": {
        "etag": "5LYAPUkg0Yvq_GbB1V12wtuf6vUedwW8QbT6ACrAYdI",
        "key": "key-2056764225",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-01-06T06:35:10+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-2056764225?api-version=2023-11-01&label=test_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTc3MzYyOA==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"cfYmt_ii6tkLJ0qKKznwlBU-vvvz7yFEqQlvG1M4fzE\"",
        "Last-Modified": "Tue, 06 Jan 2026 06:35:11 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTc3MzYyOQ==;sn=101773629",
        "x-ms-date": "Tue, 06 Jan 2026 06:35:11 GMT"
      },
      "ResponseBody": {
        "etag": "cfYmt_ii6tkLJ0qKKznwlBU-vvvz7yFEqQlvG1M4fzE",
        "key": "key-2056764225",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "new_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-01-06T06:35:11+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t9c954b564de572f9-azconfig-net.azconfig.io;Id=MdvE;Secret=Kg==",
    "RandomSeed": "1952893251"
  }
}
