{
  "Entries": [
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-1055562238?api-version=2023-11-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"PG6FDl2gHXXe1qjromLIe_a1CMUHun53QgYoYPSk9mE\"",
        "Last-Modified": "Tue, 06 Jan 2026 06:35:11 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTc3MzYzMA==;sn=101773630",
        "x-ms-date": "Tue, 06 Jan 2026 06:35:11 GMT"
      },
      "ResponseBody": {
        "etag": "PG6FDl2gHXXe1qjromLIe_a1CMUHun53QgYoYPSk9mE",
        "key": "key-1055562238",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-01-06T06:35:11+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-1055562238?api-version=2023-11-01&label=test_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTc3MzYzMA==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"PG6FDl2gHXXe1qjromLIe_a1CMUHun53QgYoYPSk9mE\"",
        "Last-Modified": "Tue, 06 Jan 2026 06:35:11 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTc3MzYzMQ==;sn=101773631",
        "x-ms-date": "Tue, 06 Jan 2026 06:35:12 GMT"
      },
      "ResponseBody": {
        "etag": "PG6FDl2gHXXe1qjromLIe_a1CMUHun53QgYoYPSk9mE",
        "key": "key-1055562238",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-01-06T06:35:11+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t9c954b564de572f9-azconfig-net.azconfig.io;Id=MdvE;Secret=Kg==",
    "RandomSeed": "1460845453"
  }
}
