{
  "Entries": [
    {
      "RequestUri": "https://azure-sdk-for-net-test.azconfig.io/kv/key-1791616478?api-version=2026-04-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"lQqR1vEH0Od9QfQWW4Fn5PMpTJEruWTuW9RXsqksC9A\"",
        "Last-Modified": "Fri, 29 May 2026 19:59:27 GMT",
        "Sync-Token": "zAJw6V16=NToxNyM0ODE0OTUyNw==;sn=48149527",
        "x-ms-date": "Fri, 29 May 2026 19:59:27 GMT"
      },
      "ResponseBody": {
        "etag": "lQqR1vEH0Od9QfQWW4Fn5PMpTJEruWTuW9RXsqksC9A",
        "key": "key-1791616478",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "description": null,
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-05-29T19:59:27+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://azure-sdk-for-net-test.azconfig.io/kv/key-1791616478?api-version=2026-04-01&label=test_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NToxNyM0ODE0OTUyNw==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"lQqR1vEH0Od9QfQWW4Fn5PMpTJEruWTuW9RXsqksC9A\"",
        "Last-Modified": "Fri, 29 May 2026 19:59:27 GMT",
        "Sync-Token": "zAJw6V16=NToxNyM0ODE0OTUyOA==;sn=48149528",
        "x-ms-date": "Fri, 29 May 2026 19:59:27 GMT"
      },
      "ResponseBody": {
        "etag": "lQqR1vEH0Od9QfQWW4Fn5PMpTJEruWTuW9RXsqksC9A",
        "key": "key-1791616478",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "description": null,
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-05-29T19:59:27+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://azure-sdk-for-net-test.azconfig.io;Id=8ePU;Secret=Kg==",
    "RandomSeed": "1279922429"
  }
}
