{
  "Entries": [
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/kv/key-701875951?api-version=2023-11-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"1xRcYd0atd7vCl3Ik-B6wE_FKf8s9By6qvWe7Oei1OM\"",
        "Last-Modified": "Mon, 17 Nov 2025 16:51:04 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzU3NzY0MzEy;sn=57764312",
        "x-ms-date": "Mon, 17 Nov 2025 16:51:04 GMT"
      },
      "ResponseBody": {
        "etag": "1xRcYd0atd7vCl3Ik-B6wE_FKf8s9By6qvWe7Oei1OM",
        "key": "key-701875951",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2025-11-17T16:51:04+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/kv/key-701875951?api-version=2023-11-01&label=test_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Njo1IzU3NzY0MzEy",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"1xRcYd0atd7vCl3Ik-B6wE_FKf8s9By6qvWe7Oei1OM\"",
        "Last-Modified": "Mon, 17 Nov 2025 16:51:04 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzU3NzY0MzEz;sn=57764313",
        "x-ms-date": "Mon, 17 Nov 2025 16:51:04 GMT"
      },
      "ResponseBody": {
        "etag": "1xRcYd0atd7vCl3Ik-B6wE_FKf8s9By6qvWe7Oei1OM",
        "key": "key-701875951",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2025-11-17T16:51:04+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t8cdd9157ca7d1363-azconfig-net.azconfig.io;Id=wNKY;Secret=Kg==",
    "RandomSeed": "1519167973"
  }
}
