{
  "Entries": [
    {
      "RequestUri": "https://tdfcae3cf5eab7143-azconfig-net.azconfig.io/kv/key-1199048802?label=test_label&api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"uElSRmzzy7xt-o8jcJH1wNkA0oK-mL1Q6aQhkmICVJ8\"",
        "Last-Modified": "Wed, 24 Jul 2024 15:45:14 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzMyMjcxNjc2;sn=32271676"
      },
      "ResponseBody": {
        "etag": "uElSRmzzy7xt-o8jcJH1wNkA0oK-mL1Q6aQhkmICVJ8",
        "key": "key-1199048802",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2024-07-24T15:45:14+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://tdfcae3cf5eab7143-azconfig-net.azconfig.io/kv/key-1199048802?label=test_label&api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Njo1IzMyMjcxNjc4",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"MbQ12cVm6KHjVqjIk5c138gMclMObKTsE7pScuGuRmg\"",
        "Last-Modified": "Wed, 24 Jul 2024 15:45:14 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzMyMjcxNjc5;sn=32271679"
      },
      "ResponseBody": {
        "etag": "MbQ12cVm6KHjVqjIk5c138gMclMObKTsE7pScuGuRmg",
        "key": "key-1199048802",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "new_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2024-07-24T15:45:14+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://tdfcae3cf5eab7143-azconfig-net.azconfig.io;Id=MEKF;Secret=Kg==",
    "RandomSeed": "272775212"
  }
}
