{
  "Entries": [
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv/key-2086384367?api-version=2023-11-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"cLbBD_bjVBpkqAwm1VOV4ApWGAwEXlunPP4s4P0lNiM\"",
        "Last-Modified": "Tue, 09 Jun 2026 22:55:44 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY2OTk1NDI5;sn=66995429",
        "x-ms-date": "Tue, 09 Jun 2026 22:55:44 GMT"
      },
      "ResponseBody": {
        "etag": "cLbBD_bjVBpkqAwm1VOV4ApWGAwEXlunPP4s4P0lNiM",
        "key": "key-2086384367",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-06-09T22:55:44+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv/key-2086384367?api-version=2023-11-01&label=test_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Mzo1IzY2OTk1NDI5"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"cLbBD_bjVBpkqAwm1VOV4ApWGAwEXlunPP4s4P0lNiM\"",
        "Last-Modified": "Tue, 09 Jun 2026 22:55:44 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY2OTk1NDMw;sn=66995430",
        "x-ms-date": "Tue, 09 Jun 2026 22:55:44 GMT"
      },
      "ResponseBody": {
        "etag": "cLbBD_bjVBpkqAwm1VOV4ApWGAwEXlunPP4s4P0lNiM",
        "key": "key-2086384367",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-06-09T22:55:44+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_ENDPOINT_STRING": "https://mrm90847047-azconfig-net.azconfig.io",
    "RandomSeed": "575935197"
  }
}
