{
  "Entries": [
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv/key-42115744?api-version=2026-04-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "description": "test_description"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"HY_XMBNsXWTHEo_H2cqeWDz_CeWQlycJrvZwgEk85CE\"",
        "Last-Modified": "Wed, 10 Jun 2026 18:35:18 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDY4MTM1;sn=67068135",
        "x-ms-date": "Wed, 10 Jun 2026 18:35:18 GMT"
      },
      "ResponseBody": {
        "etag": "HY_XMBNsXWTHEo_H2cqeWDz_CeWQlycJrvZwgEk85CE",
        "key": "key-42115744",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "description": "test_description",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-06-10T18:35:18+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv/key-42115744?api-version=2026-04-01&label=test_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDY4MTM1"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"HY_XMBNsXWTHEo_H2cqeWDz_CeWQlycJrvZwgEk85CE\"",
        "Last-Modified": "Wed, 10 Jun 2026 18:35:18 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDY4MTM2;sn=67068136",
        "x-ms-date": "Wed, 10 Jun 2026 18:35:18 GMT"
      },
      "ResponseBody": {
        "etag": "HY_XMBNsXWTHEo_H2cqeWDz_CeWQlycJrvZwgEk85CE",
        "key": "key-42115744",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "description": "test_description",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-06-10T18:35:18+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_ENDPOINT_STRING": "https://mrm90847047-azconfig-net.azconfig.io",
    "RandomSeed": "1799712925"
  }
}
