{
  "Entries": [
    {
      "RequestUri": "https://azure-sdk-for-net-test.azconfig.io/kv/key-1194773773?api-version=2026-04-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"nPf6x1BysH8iwrSEV950VwbopESUuw_2qGYpnUtezJ4\"",
        "Last-Modified": "Thu, 28 May 2026 00:01:47 GMT",
        "Sync-Token": "zAJw6V16=NToxNyM0ODA0MjM5MA==;sn=48042390",
        "x-ms-date": "Thu, 28 May 2026 00:01:47 GMT"
      },
      "ResponseBody": {
        "etag": "nPf6x1BysH8iwrSEV950VwbopESUuw_2qGYpnUtezJ4",
        "key": "key-1194773773",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "description": null,
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-05-28T00:01:47+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://azure-sdk-for-net-test.azconfig.io/kv/key-1194773773?api-version=2026-04-01&label=test_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NToxNyM0ODA0MjM5MA==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"nPf6x1BysH8iwrSEV950VwbopESUuw_2qGYpnUtezJ4\"",
        "Last-Modified": "Thu, 28 May 2026 00:01:47 GMT",
        "Sync-Token": "zAJw6V16=NToxNyM0ODA0MjM5MQ==;sn=48042391",
        "x-ms-date": "Thu, 28 May 2026 00:01:47 GMT"
      },
      "ResponseBody": {
        "etag": "nPf6x1BysH8iwrSEV950VwbopESUuw_2qGYpnUtezJ4",
        "key": "key-1194773773",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "description": null,
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-05-28T00:01:47+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://azure-sdk-for-net-test.azconfig.io;Id=8ePU;Secret=Kg==",
    "RandomSeed": "1158267198"
  }
}
