{
  "Entries": [
    {
      "RequestUri": "https://tdfcae3cf5eab7143-azconfig-net.azconfig.io/kv/key-1960893968?label=test_label&api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"XJiHi4htawboKHb2nHT4RbAUJvwUkCjJpuNWE6O5MaM\"",
        "Last-Modified": "Wed, 24 Jul 2024 15:45:15 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzMyMjcxNjg0;sn=32271684"
      },
      "ResponseBody": {
        "etag": "XJiHi4htawboKHb2nHT4RbAUJvwUkCjJpuNWE6O5MaM",
        "key": "key-1960893968",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2024-07-24T15:45:15+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://tdfcae3cf5eab7143-azconfig-net.azconfig.io/kv/key-1960893968?label=test_label&api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Njo1IzMyMjcxNjg0",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"XJiHi4htawboKHb2nHT4RbAUJvwUkCjJpuNWE6O5MaM\"",
        "Last-Modified": "Wed, 24 Jul 2024 15:45:15 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzMyMjcxNjg1;sn=32271685"
      },
      "ResponseBody": {
        "etag": "XJiHi4htawboKHb2nHT4RbAUJvwUkCjJpuNWE6O5MaM",
        "key": "key-1960893968",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2024-07-24T15:45:15+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://tdfcae3cf5eab7143-azconfig-net.azconfig.io;Id=MEKF;Secret=Kg==",
    "RandomSeed": "2031533485"
  }
}
