{
  "Entries": [
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-524446520?api-version=2023-11-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"lR41yCS-T_6E8pjLTsa3mw0Yrj3rW5eTp82LU-YgoLU\"",
        "Last-Modified": "Tue, 06 Jan 2026 01:18:43 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTc2NjEyNg==;sn=101766126",
        "x-ms-date": "Tue, 06 Jan 2026 01:18:43 GMT"
      },
      "ResponseBody": {
        "etag": "lR41yCS-T_6E8pjLTsa3mw0Yrj3rW5eTp82LU-YgoLU",
        "key": "key-524446520",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-01-06T01:18:43+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-524446520?api-version=2023-11-01&label=test_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTc2NjEyNg==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"lR41yCS-T_6E8pjLTsa3mw0Yrj3rW5eTp82LU-YgoLU\"",
        "Last-Modified": "Tue, 06 Jan 2026 01:18:43 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTc2NjEyNw==;sn=101766127",
        "x-ms-date": "Tue, 06 Jan 2026 01:18:44 GMT"
      },
      "ResponseBody": {
        "etag": "lR41yCS-T_6E8pjLTsa3mw0Yrj3rW5eTp82LU-YgoLU",
        "key": "key-524446520",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-01-06T01:18:43+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t9c954b564de572f9-azconfig-net.azconfig.io;Id=MdvE;Secret=Kg==",
    "RandomSeed": "821277279"
  }
}
