{
  "Entries": [
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-2038159749?api-version=2023-11-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"wsCi_9VNG6hqWuUg6Tz5gIoXHJgU1A5MpsfwuVvuHZI\"",
        "Last-Modified": "Fri, 23 Jan 2026 07:16:37 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU3NTg5Mw==;sn=103575893",
        "x-ms-date": "Fri, 23 Jan 2026 07:16:37 GMT"
      },
      "ResponseBody": {
        "etag": "wsCi_9VNG6hqWuUg6Tz5gIoXHJgU1A5MpsfwuVvuHZI",
        "key": "key-2038159749",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-01-23T07:16:37+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-2038159749?api-version=2023-11-01&label=test_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU3NTg5Mw==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"wsCi_9VNG6hqWuUg6Tz5gIoXHJgU1A5MpsfwuVvuHZI\"",
        "Last-Modified": "Fri, 23 Jan 2026 07:16:37 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU3NTg5NA==;sn=103575894",
        "x-ms-date": "Fri, 23 Jan 2026 07:16:37 GMT"
      },
      "ResponseBody": {
        "etag": "wsCi_9VNG6hqWuUg6Tz5gIoXHJgU1A5MpsfwuVvuHZI",
        "key": "key-2038159749",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-01-23T07:16:37+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t9c954b564de572f9-azconfig-net.azconfig.io;Id=MdvE;Secret=Kg==",
    "RandomSeed": "968736716"
  }
}
