{
  "Entries": [
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-621592193?api-version=2023-11-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"S8JvVRDNEh9BxWs2QuWAKijXX3UzrNyo_cj4m68G0Xo\"",
        "Last-Modified": "Tue, 06 Jan 2026 06:28:42 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTc3MzEzMw==;sn=101773133",
        "x-ms-date": "Tue, 06 Jan 2026 06:28:42 GMT"
      },
      "ResponseBody": {
        "etag": "S8JvVRDNEh9BxWs2QuWAKijXX3UzrNyo_cj4m68G0Xo",
        "key": "key-621592193",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-01-06T06:28:42+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-621592193?api-version=2023-11-01&label=test_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTc3MzEzMw==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"S8JvVRDNEh9BxWs2QuWAKijXX3UzrNyo_cj4m68G0Xo\"",
        "Last-Modified": "Tue, 06 Jan 2026 06:28:42 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTc3MzEzNA==;sn=101773134",
        "x-ms-date": "Tue, 06 Jan 2026 06:28:42 GMT"
      },
      "ResponseBody": {
        "etag": "S8JvVRDNEh9BxWs2QuWAKijXX3UzrNyo_cj4m68G0Xo",
        "key": "key-621592193",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-01-06T06:28:42+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t9c954b564de572f9-azconfig-net.azconfig.io;Id=MdvE;Secret=Kg==",
    "RandomSeed": "222806268"
  }
}
