{
  "Entries": [
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-1059731731?api-version=2023-11-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"tZ86BV-Oh8FKNd1QFXCj227UkxWuZeN58cmdYVAGxi0\"",
        "Last-Modified": "Tue, 06 Jan 2026 06:28:41 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTc3MzEyOQ==;sn=101773129",
        "x-ms-date": "Tue, 06 Jan 2026 06:28:41 GMT"
      },
      "ResponseBody": {
        "etag": "tZ86BV-Oh8FKNd1QFXCj227UkxWuZeN58cmdYVAGxi0",
        "key": "key-1059731731",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-01-06T06:28:41+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-1059731731?api-version=2023-11-01&label=test_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTc3MzEzMQ==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"pqPQdOKRAYt1tL8ohvaT6q6uqkOj_kKEm0v3Lsq2Xig\"",
        "Last-Modified": "Tue, 06 Jan 2026 06:28:41 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTc3MzEzMg==;sn=101773132",
        "x-ms-date": "Tue, 06 Jan 2026 06:28:41 GMT"
      },
      "ResponseBody": {
        "etag": "pqPQdOKRAYt1tL8ohvaT6q6uqkOj_kKEm0v3Lsq2Xig",
        "key": "key-1059731731",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "new_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-01-06T06:28:41+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t9c954b564de572f9-azconfig-net.azconfig.io;Id=MdvE;Secret=Kg==",
    "RandomSeed": "883066770"
  }
}
