{
  "Entries": [
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-255715713?api-version=2023-11-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"PovAZSiyMwpBJ4qTZQeV_yGkP4TAIEJCs_q01mbHgUY\"",
        "Last-Modified": "Tue, 06 Jan 2026 01:18:42 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTc2NjExOA==;sn=101766118",
        "x-ms-date": "Tue, 06 Jan 2026 01:18:42 GMT"
      },
      "ResponseBody": {
        "etag": "PovAZSiyMwpBJ4qTZQeV_yGkP4TAIEJCs_q01mbHgUY",
        "key": "key-255715713",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-01-06T01:18:42+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-255715713?api-version=2023-11-01&label=test_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTc2NjExOQ==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"PovAZSiyMwpBJ4qTZQeV_yGkP4TAIEJCs_q01mbHgUY\"",
        "Last-Modified": "Tue, 06 Jan 2026 01:18:42 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTc2NjEyMA==;sn=101766120",
        "x-ms-date": "Tue, 06 Jan 2026 01:18:42 GMT"
      },
      "ResponseBody": {
        "etag": "PovAZSiyMwpBJ4qTZQeV_yGkP4TAIEJCs_q01mbHgUY",
        "key": "key-255715713",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-01-06T01:18:42+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t9c954b564de572f9-azconfig-net.azconfig.io;Id=MdvE;Secret=Kg==",
    "RandomSeed": "879326828"
  }
}
