{
  "Entries": [
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-1864960108?api-version=2023-11-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"ZUtPueHD8a5jxWQNY3RKvV3jORgIh70nhYo6FCHuxKQ\"",
        "Last-Modified": "Tue, 23 Dec 2025 05:43:30 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTA0OTQwNQ==;sn=101049405",
        "x-ms-date": "Tue, 23 Dec 2025 05:43:30 GMT"
      },
      "ResponseBody": {
        "etag": "ZUtPueHD8a5jxWQNY3RKvV3jORgIh70nhYo6FCHuxKQ",
        "key": "key-1864960108",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2025-12-23T05:43:30+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-1864960108?api-version=2023-11-01&label=test_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTA0OTQwNQ==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"ZUtPueHD8a5jxWQNY3RKvV3jORgIh70nhYo6FCHuxKQ\"",
        "Last-Modified": "Tue, 23 Dec 2025 05:43:30 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTA0OTQwNg==;sn=101049406",
        "x-ms-date": "Tue, 23 Dec 2025 05:43:30 GMT"
      },
      "ResponseBody": {
        "etag": "ZUtPueHD8a5jxWQNY3RKvV3jORgIh70nhYo6FCHuxKQ",
        "key": "key-1864960108",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2025-12-23T05:43:30+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t9c954b564de572f9-azconfig-net.azconfig.io;Id=MdvE;Secret=Kg==",
    "RandomSeed": "933849442"
  }
}
