{
  "Entries": [
    {
      "RequestUri": "https://camaiaor.azconfig.io/kv/key-289285129?label=test_label&api-version=2023-10-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "b11OQu6GthUatwGXUIKHHSRVyik0TdrUk5kZm3yZd2A="
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"LnBDwn7-MattYwxxLWIf0G3E9eJVuj8eVNQNxFkNTCM\"",
        "Last-Modified": "Tue, 16 Apr 2024 01:05:47 GMT",
        "Sync-Token": "zAJw6V16=MzoxOSM1MjE1Mjg0Mg==;sn=52152842"
      },
      "ResponseBody": {
        "etag": "LnBDwn7-MattYwxxLWIf0G3E9eJVuj8eVNQNxFkNTCM",
        "key": "key-289285129",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2024-04-16T01:05:47+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://camaiaor.azconfig.io/kv/key-289285129?label=test_label&api-version=2023-10-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=MzoxOSM1MjE1Mjg0Mg==",
        "x-ms-content-sha256": "47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"LnBDwn7-MattYwxxLWIf0G3E9eJVuj8eVNQNxFkNTCM\"",
        "Last-Modified": "Tue, 16 Apr 2024 01:05:47 GMT",
        "Sync-Token": "zAJw6V16=MzoxOSM1MjE1Mjg0Mw==;sn=52152843"
      },
      "ResponseBody": {
        "etag": "LnBDwn7-MattYwxxLWIf0G3E9eJVuj8eVNQNxFkNTCM",
        "key": "key-289285129",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2024-04-16T01:05:47+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://camaiaor.azconfig.io;Id=E0wp;Secret=Kg==",
    "RandomSeed": "2006148923"
  }
}
