{
  "Entries": [
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv/key-394046319?api-version=2026-04-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "description": "test_description"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"0A6kM7RwDwkqdpzP5THVcq0RuLyK812n-C-cpv5Qk4I\"",
        "Last-Modified": "Wed, 10 Jun 2026 19:27:26 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDc0Nzky;sn=67074792",
        "x-ms-date": "Wed, 10 Jun 2026 19:27:26 GMT"
      },
      "ResponseBody": {
        "etag": "0A6kM7RwDwkqdpzP5THVcq0RuLyK812n-C-cpv5Qk4I",
        "key": "key-394046319",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "description": "test_description",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-06-10T19:27:26+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv/key-394046319?api-version=2026-04-01&label=test_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDc0Nzk0"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"5AT_iSZfwA1uTy4q0yJKgvHHrDaX-GlZEtX-6DD4YGI\"",
        "Last-Modified": "Wed, 10 Jun 2026 19:27:26 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDc0Nzk1;sn=67074795",
        "x-ms-date": "Wed, 10 Jun 2026 19:27:26 GMT"
      },
      "ResponseBody": {
        "etag": "5AT_iSZfwA1uTy4q0yJKgvHHrDaX-GlZEtX-6DD4YGI",
        "key": "key-394046319",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "new_value",
        "description": "test_description",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-06-10T19:27:26+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_ENDPOINT_STRING": "https://mrm90847047-azconfig-net.azconfig.io",
    "RandomSeed": "1429984846"
  }
}
