{
  "Entries": [
    {
      "RequestUri": "https://azure-sdk-for-net-test.azconfig.io/kv/key-1500263193?api-version=2026-04-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"jXR6YhaGyBNlkf4ZahzpsHYYaQgoaIsn2SUllkguV0o\"",
        "Last-Modified": "Fri, 29 May 2026 19:54:34 GMT",
        "Sync-Token": "zAJw6V16=NToxNyM0ODE0ODQwOA==;sn=48148408",
        "x-ms-date": "Fri, 29 May 2026 19:54:34 GMT"
      },
      "ResponseBody": {
        "etag": "jXR6YhaGyBNlkf4ZahzpsHYYaQgoaIsn2SUllkguV0o",
        "key": "key-1500263193",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "description": null,
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-05-29T19:54:34+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://azure-sdk-for-net-test.azconfig.io/kv/key-1500263193?api-version=2026-04-01&label=test_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NToxNyM0ODE0ODQwOA==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"jXR6YhaGyBNlkf4ZahzpsHYYaQgoaIsn2SUllkguV0o\"",
        "Last-Modified": "Fri, 29 May 2026 19:54:34 GMT",
        "Sync-Token": "zAJw6V16=NToxNyM0ODE0ODQwOQ==;sn=48148409",
        "x-ms-date": "Fri, 29 May 2026 19:54:34 GMT"
      },
      "ResponseBody": {
        "etag": "jXR6YhaGyBNlkf4ZahzpsHYYaQgoaIsn2SUllkguV0o",
        "key": "key-1500263193",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "description": null,
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-05-29T19:54:34+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://azure-sdk-for-net-test.azconfig.io;Id=8ePU;Secret=Kg==",
    "RandomSeed": "1314139647"
  }
}
