{
  "Entries": [
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv/key-1086867310?api-version=2026-04-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "description": "test_description"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"MzD7V_DXrIaluXeh87ynQt-NKz6aD0wtJ0PMX8W1JrE\"",
        "Last-Modified": "Wed, 10 Jun 2026 21:42:00 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDk0ODE0;sn=67094814",
        "x-ms-date": "Wed, 10 Jun 2026 21:42:00 GMT"
      },
      "ResponseBody": {
        "etag": "MzD7V_DXrIaluXeh87ynQt-NKz6aD0wtJ0PMX8W1JrE",
        "key": "key-1086867310",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "description": "test_description",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-06-10T21:42:00+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv/key-1086867310?api-version=2026-04-01&label=test_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDk0ODE0"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"MzD7V_DXrIaluXeh87ynQt-NKz6aD0wtJ0PMX8W1JrE\"",
        "Last-Modified": "Wed, 10 Jun 2026 21:42:00 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDk0ODE1;sn=67094815",
        "x-ms-date": "Wed, 10 Jun 2026 21:42:00 GMT"
      },
      "ResponseBody": {
        "etag": "MzD7V_DXrIaluXeh87ynQt-NKz6aD0wtJ0PMX8W1JrE",
        "key": "key-1086867310",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "description": "test_description",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-06-10T21:42:00+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_ENDPOINT_STRING": "https://mrm90847047-azconfig-net.azconfig.io",
    "RandomSeed": "676270426"
  }
}
