{
  "Entries": [
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-691448331?api-version=2023-11-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"4NegqJbG9os5F8qm5ThHPDkTj4Bs61eT88v2BPIYxV4\"",
        "Last-Modified": "Mon, 26 Jan 2026 05:47:49 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzg1MjI0NA==;sn=103852244",
        "x-ms-date": "Mon, 26 Jan 2026 05:47:49 GMT"
      },
      "ResponseBody": {
        "etag": "4NegqJbG9os5F8qm5ThHPDkTj4Bs61eT88v2BPIYxV4",
        "key": "key-691448331",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-01-26T05:47:49+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-691448331?api-version=2023-11-01&label=test_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzg1MjI0NA==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"4NegqJbG9os5F8qm5ThHPDkTj4Bs61eT88v2BPIYxV4\"",
        "Last-Modified": "Mon, 26 Jan 2026 05:47:49 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzg1MjI0NQ==;sn=103852245",
        "x-ms-date": "Mon, 26 Jan 2026 05:47:49 GMT"
      },
      "ResponseBody": {
        "etag": "4NegqJbG9os5F8qm5ThHPDkTj4Bs61eT88v2BPIYxV4",
        "key": "key-691448331",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-01-26T05:47:49+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t9c954b564de572f9-azconfig-net.azconfig.io;Id=MdvE;Secret=Kg==",
    "RandomSeed": "852952201"
  }
}
