{
  "Entries": [
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-1863391123?api-version=2023-11-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"8cOwnGNgY3Kb-XVawvfh87HVej5YrXPp3kKTxVlfheY\"",
        "Last-Modified": "Mon, 26 Jan 2026 05:41:18 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzg1MTEyNA==;sn=103851124",
        "x-ms-date": "Mon, 26 Jan 2026 05:41:18 GMT"
      },
      "ResponseBody": {
        "etag": "8cOwnGNgY3Kb-XVawvfh87HVej5YrXPp3kKTxVlfheY",
        "key": "key-1863391123",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-01-26T05:41:18+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-1863391123?api-version=2023-11-01&label=test_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzg1MTEyNg==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"UvOScQxhpVnYtk9vZCI0EsjlWW_UrPNhHE4XPhh6gWg\"",
        "Last-Modified": "Mon, 26 Jan 2026 05:41:18 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzg1MTEyNw==;sn=103851127",
        "x-ms-date": "Mon, 26 Jan 2026 05:41:18 GMT"
      },
      "ResponseBody": {
        "etag": "UvOScQxhpVnYtk9vZCI0EsjlWW_UrPNhHE4XPhh6gWg",
        "key": "key-1863391123",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "new_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-01-26T05:41:18+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t9c954b564de572f9-azconfig-net.azconfig.io;Id=MdvE;Secret=Kg==",
    "RandomSeed": "1549572900"
  }
}
