{
  "Entries": [
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-1681171219?api-version=2023-11-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"qztvBbREUaKYiB9C9mANP6Pz7OyqD3fhj0nshadulY0\"",
        "Last-Modified": "Mon, 26 Jan 2026 05:41:20 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzg1MTEzMg==;sn=103851132",
        "x-ms-date": "Mon, 26 Jan 2026 05:41:20 GMT"
      },
      "ResponseBody": {
        "etag": "qztvBbREUaKYiB9C9mANP6Pz7OyqD3fhj0nshadulY0",
        "key": "key-1681171219",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-01-26T05:41:20+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-1681171219?api-version=2023-11-01&label=test_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzg1MTEzMg==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"qztvBbREUaKYiB9C9mANP6Pz7OyqD3fhj0nshadulY0\"",
        "Last-Modified": "Mon, 26 Jan 2026 05:41:20 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzg1MTEzMw==;sn=103851133",
        "x-ms-date": "Mon, 26 Jan 2026 05:41:20 GMT"
      },
      "ResponseBody": {
        "etag": "qztvBbREUaKYiB9C9mANP6Pz7OyqD3fhj0nshadulY0",
        "key": "key-1681171219",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-01-26T05:41:20+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t9c954b564de572f9-azconfig-net.azconfig.io;Id=MdvE;Secret=Kg==",
    "RandomSeed": "1704251777"
  }
}
