{
  "Entries": [
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/kv/key-1150540487?api-version=2023-11-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"3nZz0cSOUZGSOEKjtLdSd_PGNpmAUyeyJxRnzFV94Co\"",
        "Last-Modified": "Thu, 09 Oct 2025 16:27:59 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzU1NTMyMTI3;sn=55532127",
        "x-ms-date": "Thu, 09 Oct 2025 16:27:59 GMT"
      },
      "ResponseBody": {
        "etag": "3nZz0cSOUZGSOEKjtLdSd_PGNpmAUyeyJxRnzFV94Co",
        "key": "key-1150540487",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2025-10-09T16:27:59+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/kv/key-1150540487?api-version=2023-11-01&label=test_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Njo1IzU1NTMyMTI3",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"3nZz0cSOUZGSOEKjtLdSd_PGNpmAUyeyJxRnzFV94Co\"",
        "Last-Modified": "Thu, 09 Oct 2025 16:27:59 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzU1NTMyMTI4;sn=55532128",
        "x-ms-date": "Thu, 09 Oct 2025 16:27:59 GMT"
      },
      "ResponseBody": {
        "etag": "3nZz0cSOUZGSOEKjtLdSd_PGNpmAUyeyJxRnzFV94Co",
        "key": "key-1150540487",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2025-10-09T16:27:59+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t8cdd9157ca7d1363-azconfig-net.azconfig.io;Id=wNKY;Secret=Kg==",
    "RandomSeed": "1671965351"
  }
}
