{
  "Entries": [
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-1550713659?api-version=2023-11-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"Kd8Bz5s4j9Q5WbZ0UCTg6H17MjD_MzZZ6x_xxDuHhUI\"",
        "Last-Modified": "Mon, 01 Dec 2025 08:36:28 GMT",
        "Sync-Token": "zAJw6V16=NTo1Izk4Nzc1OTEx;sn=98775911",
        "x-ms-date": "Mon, 01 Dec 2025 08:36:28 GMT"
      },
      "ResponseBody": {
        "etag": "Kd8Bz5s4j9Q5WbZ0UCTg6H17MjD_MzZZ6x_xxDuHhUI",
        "key": "key-1550713659",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2025-12-01T08:36:28+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-1550713659?api-version=2023-11-01&label=test_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1Izk4Nzc1OTEz",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"ACd4MXQXKY4NWpz2wrzzdpaa0v9zOSTcb9UF9IQOzTw\"",
        "Last-Modified": "Mon, 01 Dec 2025 08:36:28 GMT",
        "Sync-Token": "zAJw6V16=NTo1Izk4Nzc1OTE0;sn=98775914",
        "x-ms-date": "Mon, 01 Dec 2025 08:36:28 GMT"
      },
      "ResponseBody": {
        "etag": "ACd4MXQXKY4NWpz2wrzzdpaa0v9zOSTcb9UF9IQOzTw",
        "key": "key-1550713659",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "new_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2025-12-01T08:36:28+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t9c954b564de572f9-azconfig-net.azconfig.io;Id=MdvE;Secret=Kg==",
    "RandomSeed": "1248740163"
  }
}
