{
  "Entries": [
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv/key-1860801829?api-version=2026-04-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "description": "test_description"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"P4gJZ36gZgZNC9Bi3lfvSbajr3sm-Qyjiq8P0h1V8o0\"",
        "Last-Modified": "Wed, 10 Jun 2026 21:42:02 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDk0ODE2;sn=67094816",
        "x-ms-date": "Wed, 10 Jun 2026 21:42:02 GMT"
      },
      "ResponseBody": {
        "etag": "P4gJZ36gZgZNC9Bi3lfvSbajr3sm-Qyjiq8P0h1V8o0",
        "key": "key-1860801829",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "description": "test_description",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-06-10T21:42:02+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv/key-1860801829?api-version=2026-04-01&label=test_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDk0ODE2"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"P4gJZ36gZgZNC9Bi3lfvSbajr3sm-Qyjiq8P0h1V8o0\"",
        "Last-Modified": "Wed, 10 Jun 2026 21:42:02 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDk0ODE3;sn=67094817",
        "x-ms-date": "Wed, 10 Jun 2026 21:42:03 GMT"
      },
      "ResponseBody": {
        "etag": "P4gJZ36gZgZNC9Bi3lfvSbajr3sm-Qyjiq8P0h1V8o0",
        "key": "key-1860801829",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "description": "test_description",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-06-10T21:42:02+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_ENDPOINT_STRING": "https://mrm90847047-azconfig-net.azconfig.io",
    "RandomSeed": "1963344115"
  }
}
