{
  "Entries": [
    {
      "RequestUri": "https://tdfcae3cf5eab7143-azconfig-net.azconfig.io/kv/key-726643949?api-version=2023-11-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"6At4C1ajKHsJYQ-P3znKJE3RBadRx_VElmU_p09I8Rs\"",
        "Last-Modified": "Wed, 11 Jun 2025 17:24:19 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzQyMTUwODU2;sn=42150856"
      },
      "ResponseBody": {
        "etag": "6At4C1ajKHsJYQ-P3znKJE3RBadRx_VElmU_p09I8Rs",
        "key": "key-726643949",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2025-06-11T17:24:19+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://tdfcae3cf5eab7143-azconfig-net.azconfig.io/kv/key-726643949?api-version=2023-11-01&label=test_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Mzo1IzQyMTUwODU2",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"6At4C1ajKHsJYQ-P3znKJE3RBadRx_VElmU_p09I8Rs\"",
        "Last-Modified": "Wed, 11 Jun 2025 17:24:19 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzQyMTUwODU3;sn=42150857"
      },
      "ResponseBody": {
        "etag": "6At4C1ajKHsJYQ-P3znKJE3RBadRx_VElmU_p09I8Rs",
        "key": "key-726643949",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2025-06-11T17:24:19+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://tdfcae3cf5eab7143-azconfig-net.azconfig.io;Id=GAEe;Secret=Kg==",
    "RandomSeed": "700579933"
  }
}
