{
  "Entries": [
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/kv/key-1896227106?api-version=2023-11-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"GZFvYJXBsPWyxUyZmdsmV5lpChtj9Qk804zKuW4JpTg\"",
        "Last-Modified": "Tue, 18 Nov 2025 04:29:48 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzU3ODA0NDYx;sn=57804461",
        "x-ms-date": "Tue, 18 Nov 2025 04:29:48 GMT"
      },
      "ResponseBody": {
        "etag": "GZFvYJXBsPWyxUyZmdsmV5lpChtj9Qk804zKuW4JpTg",
        "key": "key-1896227106",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2025-11-18T04:29:48+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/kv/key-1896227106?api-version=2023-11-01&label=test_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Njo1IzU3ODA0NDYx",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"GZFvYJXBsPWyxUyZmdsmV5lpChtj9Qk804zKuW4JpTg\"",
        "Last-Modified": "Tue, 18 Nov 2025 04:29:48 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzU3ODA0NDYy;sn=57804462",
        "x-ms-date": "Tue, 18 Nov 2025 04:29:48 GMT"
      },
      "ResponseBody": {
        "etag": "GZFvYJXBsPWyxUyZmdsmV5lpChtj9Qk804zKuW4JpTg",
        "key": "key-1896227106",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2025-11-18T04:29:48+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t8cdd9157ca7d1363-azconfig-net.azconfig.io;Id=wNKY;Secret=Kg==",
    "RandomSeed": "856534896"
  }
}
