{
  "Entries": [
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/keyFields-581666905?api-version=2023-11-01&label=my_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "my_value",
        "content_type": null,
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"7DK29m00XTjMwRW8rj0MuUUNu04-AKkS05e-q0G9VOM\"",
        "Last-Modified": "Thu, 22 Jan 2026 01:34:32 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzQ3MzY0OQ==;sn=103473649",
        "x-ms-date": "Thu, 22 Jan 2026 01:34:32 GMT"
      },
      "ResponseBody": {
        "etag": "7DK29m00XTjMwRW8rj0MuUUNu04-AKkS05e-q0G9VOM",
        "key": "keyFields-581666905",
        "label": "my_label",
        "content_type": null,
        "value": "my_value",
        "tags": {},
        "locked": false,
        "last_modified": "2026-01-22T01:34:32+00:00"
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/labels?$select=name&api-version=2023-11-01&name=my_label",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzQ3MzY0OQ==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.labelset+json; charset=utf-8",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzQ3MzY0OQ==;sn=103473649",
        "x-ms-date": "Thu, 22 Jan 2026 01:34:32 GMT"
      },
      "ResponseBody": {
        "items": [
          {
            "name": "my_label"
          }
        ]
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/keyFields-581666905?api-version=2023-11-01&label=my_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzQ3MzY0OQ==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"7DK29m00XTjMwRW8rj0MuUUNu04-AKkS05e-q0G9VOM\"",
        "Last-Modified": "Thu, 22 Jan 2026 01:34:32 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzQ3MzY1MA==;sn=103473650",
        "x-ms-date": "Thu, 22 Jan 2026 01:34:32 GMT"
      },
      "ResponseBody": {
        "etag": "7DK29m00XTjMwRW8rj0MuUUNu04-AKkS05e-q0G9VOM",
        "key": "keyFields-581666905",
        "label": "my_label",
        "content_type": null,
        "value": "my_value",
        "tags": {},
        "locked": false,
        "last_modified": "2026-01-22T01:34:32+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t9c954b564de572f9-azconfig-net.azconfig.io;Id=MdvE;Secret=Kg==",
    "RandomSeed": "1063384858"
  }
}
