{
  "Entries": [
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/kv/abcde-2097928494?api-version=2023-11-01&label=abcde",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "sample value",
        "content_type": null,
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"MyWfXYftwiJSvVcca8SJ46Uxfjo73zFFtKH1BAo2kIo\"",
        "Last-Modified": "Tue, 18 Nov 2025 04:30:02 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzU3ODA0NTgx;sn=57804581",
        "x-ms-date": "Tue, 18 Nov 2025 04:30:02 GMT"
      },
      "ResponseBody": {
        "etag": "MyWfXYftwiJSvVcca8SJ46Uxfjo73zFFtKH1BAo2kIo",
        "key": "abcde-2097928494",
        "label": "abcde",
        "content_type": null,
        "value": "sample value",
        "tags": {},
        "locked": false,
        "last_modified": "2025-11-18T04:30:02+00:00"
      }
    },
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/kv/abcdef-396660391?api-version=2023-11-01&label=abcdef",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=Njo1IzU3ODA0NTgx",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "sample value",
        "content_type": null,
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"SNQSChm9tP5DxrNgFlv8FnMXtJlctr3b-AtYhYd87aM\"",
        "Last-Modified": "Tue, 18 Nov 2025 04:30:02 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzU3ODA0NTgy;sn=57804582",
        "x-ms-date": "Tue, 18 Nov 2025 04:30:02 GMT"
      },
      "ResponseBody": {
        "etag": "SNQSChm9tP5DxrNgFlv8FnMXtJlctr3b-AtYhYd87aM",
        "key": "abcdef-396660391",
        "label": "abcdef",
        "content_type": null,
        "value": "sample value",
        "tags": {},
        "locked": false,
        "last_modified": "2025-11-18T04:30:02+00:00"
      }
    },
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/labels?api-version=2023-11-01&name=abc%2A",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Njo1IzU3ODA0NTgy",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.labelset+json; charset=utf-8",
        "Sync-Token": "zAJw6V16=Njo1IzU3ODA0NTgy;sn=57804582",
        "x-ms-date": "Tue, 18 Nov 2025 04:30:03 GMT"
      },
      "ResponseBody": {
        "items": [
          {
            "name": "abcde"
          },
          {
            "name": "abcdef"
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/kv/abcdef-396660391?api-version=2023-11-01&label=abcdef",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Njo1IzU3ODA0NTgz",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"SNQSChm9tP5DxrNgFlv8FnMXtJlctr3b-AtYhYd87aM\"",
        "Last-Modified": "Tue, 18 Nov 2025 04:30:02 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzU3ODA0NTg0;sn=57804584",
        "x-ms-date": "Tue, 18 Nov 2025 04:30:03 GMT"
      },
      "ResponseBody": {
        "etag": "SNQSChm9tP5DxrNgFlv8FnMXtJlctr3b-AtYhYd87aM",
        "key": "abcdef-396660391",
        "label": "abcdef",
        "content_type": null,
        "value": "sample value",
        "tags": {},
        "locked": false,
        "last_modified": "2025-11-18T04:30:02+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t8cdd9157ca7d1363-azconfig-net.azconfig.io;Id=wNKY;Secret=Kg==",
    "RandomSeed": "1883582272"
  }
}
