{
  "Entries": [
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/kv/abcd?api-version=2023-11-01&label=ab%2Ccd",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "comma in label",
        "content_type": null,
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"hNQSAsyF0Tq75E7DBVxIAoCYpsK4AycEgh3-rrMUGz8\"",
        "Last-Modified": "Mon, 17 Nov 2025 16:51:21 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzU3NzY0NDQw;sn=57764440",
        "x-ms-date": "Mon, 17 Nov 2025 16:51:21 GMT"
      },
      "ResponseBody": {
        "etag": "hNQSAsyF0Tq75E7DBVxIAoCYpsK4AycEgh3-rrMUGz8",
        "key": "abcd",
        "label": "ab,cd",
        "content_type": null,
        "value": "comma in label",
        "tags": {},
        "locked": false,
        "last_modified": "2025-11-17T16:51:21+00:00"
      }
    },
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/kv/wxyz?api-version=2023-11-01&label=wx%2Cyz",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=Njo1IzU3NzY0NDQw",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "comma in label",
        "content_type": null,
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"92ankCxQj1Gi4wh2FJZdCZgZMbgTYeFwFlgFm3PIAsc\"",
        "Last-Modified": "Mon, 17 Nov 2025 16:51:21 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzU3NzY0NDQy;sn=57764442",
        "x-ms-date": "Mon, 17 Nov 2025 16:51:21 GMT"
      },
      "ResponseBody": {
        "etag": "92ankCxQj1Gi4wh2FJZdCZgZMbgTYeFwFlgFm3PIAsc",
        "key": "wxyz",
        "label": "wx,yz",
        "content_type": null,
        "value": "comma in label",
        "tags": {},
        "locked": false,
        "last_modified": "2025-11-17T16:51:21+00:00"
      }
    },
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/labels?api-version=2023-11-01&name=ab%5C%2Ccd%2Cwx%5C%2Cyz",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Njo1IzU3NzY0NDQy",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.labelset+json; charset=utf-8",
        "Sync-Token": "zAJw6V16=Njo1IzU3NzY0NDQz;sn=57764443",
        "x-ms-date": "Mon, 17 Nov 2025 16:51:21 GMT"
      },
      "ResponseBody": {
        "items": [
          {
            "name": "ab,cd"
          },
          {
            "name": "wx,yz"
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/kv/wxyz?api-version=2023-11-01&label=wx%2Cyz",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Njo1IzU3NzY0NDQ0",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"92ankCxQj1Gi4wh2FJZdCZgZMbgTYeFwFlgFm3PIAsc\"",
        "Last-Modified": "Mon, 17 Nov 2025 16:51:21 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzU3NzY0NDQ1;sn=57764445",
        "x-ms-date": "Mon, 17 Nov 2025 16:51:22 GMT"
      },
      "ResponseBody": {
        "etag": "92ankCxQj1Gi4wh2FJZdCZgZMbgTYeFwFlgFm3PIAsc",
        "key": "wxyz",
        "label": "wx,yz",
        "content_type": null,
        "value": "comma in label",
        "tags": {},
        "locked": false,
        "last_modified": "2025-11-17T16:51:21+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t8cdd9157ca7d1363-azconfig-net.azconfig.io;Id=wNKY;Secret=Kg==",
    "RandomSeed": "316281163"
  }
}
