{
  "Entries": [
    {
      "RequestUri": "https://tdfcae3cf5eab7143-azconfig-net.azconfig.io/kv/abcde-2022429767?label=abcde&api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "sample value",
        "content_type": null,
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"8nEiTnaH1ytHbWRngd6tFX381z9X9wakQFDgJb3zYr8\"",
        "Last-Modified": "Thu, 25 Jul 2024 16:35:29 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzMyMzQwNDg0;sn=32340484"
      },
      "ResponseBody": {
        "etag": "8nEiTnaH1ytHbWRngd6tFX381z9X9wakQFDgJb3zYr8",
        "key": "abcde-2022429767",
        "label": "abcde",
        "content_type": null,
        "value": "sample value",
        "locked": false,
        "last_modified": "2024-07-25T16:35:29+00:00"
      }
    },
    {
      "RequestUri": "https://tdfcae3cf5eab7143-azconfig-net.azconfig.io/kv/abcdef-451642403?label=abcdef&api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=Njo1IzMyMzQwNDg0",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "sample value",
        "content_type": null,
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"2i0gZT0ziFzgfo_vSjkQoAfSB4loVg3g6MS9_qe63ZE\"",
        "Last-Modified": "Thu, 25 Jul 2024 16:35:29 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzMyMzQwNDg1;sn=32340485"
      },
      "ResponseBody": {
        "etag": "2i0gZT0ziFzgfo_vSjkQoAfSB4loVg3g6MS9_qe63ZE",
        "key": "abcdef-451642403",
        "label": "abcdef",
        "content_type": null,
        "value": "sample value",
        "locked": false,
        "last_modified": "2024-07-25T16:35:29+00:00"
      }
    },
    {
      "RequestUri": "https://tdfcae3cf5eab7143-azconfig-net.azconfig.io/labels?name=abc%2A&api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Njo1IzMyMzQwNDg1",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.labelset+json; charset=utf-8",
        "Sync-Token": "zAJw6V16=Njo1IzMyMzQwNDg1;sn=32340485"
      },
      "ResponseBody": {
        "items": [
          {
            "name": "abcde"
          },
          {
            "name": "abcdef"
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://tdfcae3cf5eab7143-azconfig-net.azconfig.io/kv/abcdef-451642403?label=abcdef&api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Njo1IzMyMzQwNDg2",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"2i0gZT0ziFzgfo_vSjkQoAfSB4loVg3g6MS9_qe63ZE\"",
        "Last-Modified": "Thu, 25 Jul 2024 16:35:29 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzMyMzQwNDg3;sn=32340487"
      },
      "ResponseBody": {
        "etag": "2i0gZT0ziFzgfo_vSjkQoAfSB4loVg3g6MS9_qe63ZE",
        "key": "abcdef-451642403",
        "label": "abcdef",
        "content_type": null,
        "value": "sample value",
        "locked": false,
        "last_modified": "2024-07-25T16:35:29+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://tdfcae3cf5eab7143-azconfig-net.azconfig.io;Id=MEKF;Secret=Kg==",
    "RandomSeed": "1758290202"
  }
}
