{
  "Entries": [
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-34448570?api-version=2023-11-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"DUrX4TlDsLgoJsCw3ae4mQ2KgjyY_gsyuK0fQLjlf9Q\"",
        "Last-Modified": "Mon, 01 Dec 2025 08:42:25 GMT",
        "Sync-Token": "zAJw6V16=NTo1Izk4Nzc2ODU4;sn=98776858",
        "x-ms-date": "Mon, 01 Dec 2025 08:42:25 GMT"
      },
      "ResponseBody": {
        "etag": "DUrX4TlDsLgoJsCw3ae4mQ2KgjyY_gsyuK0fQLjlf9Q",
        "key": "key-34448570",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2025-12-01T08:42:25+00:00"
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/labels?api-version=2023-11-01&name=test_label",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Accept-Datetime": "Fri, 31 Dec 9999 23:59:59 GMT",
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1Izk4Nzc2ODU4",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.labelset+json; charset=utf-8",
        "Sync-Token": "zAJw6V16=NTo1Izk4Nzc2ODU4;sn=98776858",
        "x-ms-date": "Mon, 01 Dec 2025 08:42:25 GMT"
      },
      "ResponseBody": {
        "items": [
          {
            "name": "test_label"
          }
        ]
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-34448570?api-version=2023-11-01&label=test_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1Izk4Nzc2ODU4",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"DUrX4TlDsLgoJsCw3ae4mQ2KgjyY_gsyuK0fQLjlf9Q\"",
        "Last-Modified": "Mon, 01 Dec 2025 08:42:25 GMT",
        "Sync-Token": "zAJw6V16=NTo1Izk4Nzc2ODU5;sn=98776859",
        "x-ms-date": "Mon, 01 Dec 2025 08:42:25 GMT"
      },
      "ResponseBody": {
        "etag": "DUrX4TlDsLgoJsCw3ae4mQ2KgjyY_gsyuK0fQLjlf9Q",
        "key": "key-34448570",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2025-12-01T08:42:25+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t9c954b564de572f9-azconfig-net.azconfig.io;Id=MdvE;Secret=Kg==",
    "RandomSeed": "1973908812"
  }
}
