{
  "Entries": [
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv/keyFields-2141080379?api-version=2026-04-01&label=my_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "value": "my_value",
        "content_type": null,
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"VW_G063x0uAhopFQTf4KWLoLtknxDBr6HSzuYMU5Nhw\"",
        "Last-Modified": "Wed, 10 Jun 2026 19:27:55 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDc0OTMy;sn=67074932",
        "x-ms-date": "Wed, 10 Jun 2026 19:27:55 GMT"
      },
      "ResponseBody": {
        "etag": "VW_G063x0uAhopFQTf4KWLoLtknxDBr6HSzuYMU5Nhw",
        "key": "keyFields-2141080379",
        "label": "my_label",
        "content_type": null,
        "value": "my_value",
        "description": null,
        "tags": {},
        "locked": false,
        "last_modified": "2026-06-10T19:27:55+00:00"
      }
    },
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/labels?$select=uknown_field%2Cunknown_field2&api-version=2026-04-01&name=my_label",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDc0OTMy"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.labelset+json; charset=utf-8",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDc0OTMy;sn=67074932",
        "x-ms-date": "Wed, 10 Jun 2026 19:27:55 GMT"
      },
      "ResponseBody": {
        "items": [
          {}
        ]
      }
    },
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv/keyFields-2141080379?api-version=2026-04-01&label=my_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDc0OTMy"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"VW_G063x0uAhopFQTf4KWLoLtknxDBr6HSzuYMU5Nhw\"",
        "Last-Modified": "Wed, 10 Jun 2026 19:27:55 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDc0OTMz;sn=67074933",
        "x-ms-date": "Wed, 10 Jun 2026 19:27:55 GMT"
      },
      "ResponseBody": {
        "etag": "VW_G063x0uAhopFQTf4KWLoLtknxDBr6HSzuYMU5Nhw",
        "key": "keyFields-2141080379",
        "label": "my_label",
        "content_type": null,
        "value": "my_value",
        "description": null,
        "tags": {},
        "locked": false,
        "last_modified": "2026-06-10T19:27:55+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_ENDPOINT_STRING": "https://mrm90847047-azconfig-net.azconfig.io",
    "RandomSeed": "1778339355"
  }
}
