{
  "Entries": [
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-abc?api-version=2023-11-01&label=abc",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "abc setting",
        "content_type": null,
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"er3TldYrmKe2B3omRJuuuJvOJLQfZ0Q1BgOjZRJ6zcg\"",
        "Last-Modified": "Mon, 26 Jan 2026 05:47:50 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzg1MjI1MA==;sn=103852250",
        "x-ms-date": "Mon, 26 Jan 2026 05:47:50 GMT"
      },
      "ResponseBody": {
        "etag": "er3TldYrmKe2B3omRJuuuJvOJLQfZ0Q1BgOjZRJ6zcg",
        "key": "key-abc",
        "label": "abc",
        "content_type": null,
        "value": "abc setting",
        "tags": {},
        "locked": false,
        "last_modified": "2026-01-26T05:47:50+00:00"
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/label-xyz?api-version=2023-11-01&label=xyz",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzg1MjI1MA==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "xyz setting",
        "content_type": null,
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"xZtjlabLxFBUAmlRYc614Upo84BTkpjOzG4NfUz6itc\"",
        "Last-Modified": "Mon, 26 Jan 2026 05:47:50 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzg1MjI1Mg==;sn=103852252",
        "x-ms-date": "Mon, 26 Jan 2026 05:47:50 GMT"
      },
      "ResponseBody": {
        "etag": "xZtjlabLxFBUAmlRYc614Upo84BTkpjOzG4NfUz6itc",
        "key": "label-xyz",
        "label": "xyz",
        "content_type": null,
        "value": "xyz setting",
        "tags": {},
        "locked": false,
        "last_modified": "2026-01-26T05:47:50+00:00"
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/labels?api-version=2023-11-01&name=abc%2Cxyz",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzg1MjI1Mg==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.labelset+json; charset=utf-8",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzg1MjI1Mw==;sn=103852253",
        "x-ms-date": "Mon, 26 Jan 2026 05:47:50 GMT"
      },
      "ResponseBody": {
        "items": [
          {
            "name": "abc"
          },
          {
            "name": "xyz"
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/label-xyz?api-version=2023-11-01&label=xyz",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzg1MjI1NA==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"xZtjlabLxFBUAmlRYc614Upo84BTkpjOzG4NfUz6itc\"",
        "Last-Modified": "Mon, 26 Jan 2026 05:47:50 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzg1MjI1NQ==;sn=103852255",
        "x-ms-date": "Mon, 26 Jan 2026 05:47:51 GMT"
      },
      "ResponseBody": {
        "etag": "xZtjlabLxFBUAmlRYc614Upo84BTkpjOzG4NfUz6itc",
        "key": "label-xyz",
        "label": "xyz",
        "content_type": null,
        "value": "xyz setting",
        "tags": {},
        "locked": false,
        "last_modified": "2026-01-26T05:47:50+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t9c954b564de572f9-azconfig-net.azconfig.io;Id=MdvE;Secret=Kg==",
    "RandomSeed": "1478328040"
  }
}
