{
  "Entries": [
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/keyFields-583114617?api-version=2023-11-01&label=my_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "my_value",
        "content_type": null,
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"wls9zyCL88eG00KaPZnDQVSf_BoA5IUIKbL9qHsaLHE\"",
        "Last-Modified": "Thu, 22 Jan 2026 01:39:31 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzQ3NDA5OQ==;sn=103474099",
        "x-ms-date": "Thu, 22 Jan 2026 01:39:31 GMT"
      },
      "ResponseBody": {
        "etag": "wls9zyCL88eG00KaPZnDQVSf_BoA5IUIKbL9qHsaLHE",
        "key": "keyFields-583114617",
        "label": "my_label",
        "content_type": null,
        "value": "my_value",
        "tags": {},
        "locked": false,
        "last_modified": "2026-01-22T01:39:31+00:00"
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/labels?$select=name&api-version=2023-11-01&name=my_label",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzQ3NDA5OQ==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.labelset+json; charset=utf-8",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzQ3NDA5OQ==;sn=103474099",
        "x-ms-date": "Thu, 22 Jan 2026 01:39:31 GMT"
      },
      "ResponseBody": {
        "items": [
          {
            "name": "my_label"
          }
        ]
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/keyFields-583114617?api-version=2023-11-01&label=my_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzQ3NDA5OQ==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"wls9zyCL88eG00KaPZnDQVSf_BoA5IUIKbL9qHsaLHE\"",
        "Last-Modified": "Thu, 22 Jan 2026 01:39:31 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzQ3NDEwMA==;sn=103474100",
        "x-ms-date": "Thu, 22 Jan 2026 01:39:31 GMT"
      },
      "ResponseBody": {
        "etag": "wls9zyCL88eG00KaPZnDQVSf_BoA5IUIKbL9qHsaLHE",
        "key": "keyFields-583114617",
        "label": "my_label",
        "content_type": null,
        "value": "my_value",
        "tags": {},
        "locked": false,
        "last_modified": "2026-01-22T01:39:31+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t9c954b564de572f9-azconfig-net.azconfig.io;Id=MdvE;Secret=Kg==",
    "RandomSeed": "2075534200"
  }
}
