{
  "Entries": [
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/keyFields-489208134?api-version=2023-11-01&label=my_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "my_value",
        "content_type": null,
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"z9Os6yyJP4qRlxIcCt2vlQLV6vqBQWbVFxRYqZIH1TE\"",
        "Last-Modified": "Thu, 22 Jan 2026 01:39:31 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzQ3NDEwMQ==;sn=103474101",
        "x-ms-date": "Thu, 22 Jan 2026 01:39:31 GMT"
      },
      "ResponseBody": {
        "etag": "z9Os6yyJP4qRlxIcCt2vlQLV6vqBQWbVFxRYqZIH1TE",
        "key": "keyFields-489208134",
        "label": "my_label",
        "content_type": null,
        "value": "my_value",
        "tags": {},
        "locked": false,
        "last_modified": "2026-01-22T01:39:31+00:00"
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/labels?$select=uknown_field%2Cunknown_field2&api-version=2023-11-01&name=my_label",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzQ3NDEwMQ==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.labelset+json; charset=utf-8",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzQ3NDEwMQ==;sn=103474101",
        "x-ms-date": "Thu, 22 Jan 2026 01:39:31 GMT"
      },
      "ResponseBody": {
        "items": [
          {}
        ]
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/keyFields-489208134?api-version=2023-11-01&label=my_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzQ3NDEwMQ==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"z9Os6yyJP4qRlxIcCt2vlQLV6vqBQWbVFxRYqZIH1TE\"",
        "Last-Modified": "Thu, 22 Jan 2026 01:39:31 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzQ3NDEwMg==;sn=103474102",
        "x-ms-date": "Thu, 22 Jan 2026 01:39:31 GMT"
      },
      "ResponseBody": {
        "etag": "z9Os6yyJP4qRlxIcCt2vlQLV6vqBQWbVFxRYqZIH1TE",
        "key": "keyFields-489208134",
        "label": "my_label",
        "content_type": null,
        "value": "my_value",
        "tags": {},
        "locked": false,
        "last_modified": "2026-01-22T01:39:31+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t9c954b564de572f9-azconfig-net.azconfig.io;Id=MdvE;Secret=Kg==",
    "RandomSeed": "1160533573"
  }
}
