{
  "Entries": [
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv/abcd?api-version=2026-04-01&label=ab%2Ccd",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "value": "comma in label",
        "content_type": null,
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"I7g2i7ARnq_RVBZ0J78YxQP8oFBADkOaGB-FbyWO324\"",
        "Last-Modified": "Wed, 10 Jun 2026 21:33:51 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDk0NDgz;sn=67094483",
        "x-ms-date": "Wed, 10 Jun 2026 21:33:51 GMT"
      },
      "ResponseBody": {
        "etag": "I7g2i7ARnq_RVBZ0J78YxQP8oFBADkOaGB-FbyWO324",
        "key": "abcd",
        "label": "ab,cd",
        "content_type": null,
        "value": "comma in label",
        "description": null,
        "tags": {},
        "locked": false,
        "last_modified": "2026-06-10T21:33:51+00:00"
      }
    },
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv/wxyz?api-version=2026-04-01&label=wx%2Cyz",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDk0NDgz"
      },
      "RequestBody": {
        "value": "comma in label",
        "content_type": null,
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"ujIRve13-0Y3O5hnx3C7xBnbcy1sebmCjeBpOXDU-xc\"",
        "Last-Modified": "Wed, 10 Jun 2026 21:33:51 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDk0NDg1;sn=67094485",
        "x-ms-date": "Wed, 10 Jun 2026 21:33:51 GMT"
      },
      "ResponseBody": {
        "etag": "ujIRve13-0Y3O5hnx3C7xBnbcy1sebmCjeBpOXDU-xc",
        "key": "wxyz",
        "label": "wx,yz",
        "content_type": null,
        "value": "comma in label",
        "description": null,
        "tags": {},
        "locked": false,
        "last_modified": "2026-06-10T21:33:51+00:00"
      }
    },
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/labels?api-version=2026-04-01&name=ab%5C%2Ccd%2Cwx%5C%2Cyz",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDk0NDg1"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.labelset+json; charset=utf-8",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDk0NDg2;sn=67094486",
        "x-ms-date": "Wed, 10 Jun 2026 21:33:51 GMT"
      },
      "ResponseBody": {
        "items": [
          {
            "name": "ab,cd"
          },
          {
            "name": "wx,yz"
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv/wxyz?api-version=2026-04-01&label=wx%2Cyz",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDk0NDg3"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"ujIRve13-0Y3O5hnx3C7xBnbcy1sebmCjeBpOXDU-xc\"",
        "Last-Modified": "Wed, 10 Jun 2026 21:33:51 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDk0NDg4;sn=67094488",
        "x-ms-date": "Wed, 10 Jun 2026 21:33:51 GMT"
      },
      "ResponseBody": {
        "etag": "ujIRve13-0Y3O5hnx3C7xBnbcy1sebmCjeBpOXDU-xc",
        "key": "wxyz",
        "label": "wx,yz",
        "content_type": null,
        "value": "comma in label",
        "description": null,
        "tags": {},
        "locked": false,
        "last_modified": "2026-06-10T21:33:51+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_ENDPOINT_STRING": "https://mrm90847047-azconfig-net.azconfig.io",
    "RandomSeed": "35146890"
  }
}
