{
  "Entries": [
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/kv/GetLabelsPagination?api-version=2023-11-01&label=key-l1785154906",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Sync-Token": "zAJw6V16=Njo1IzU1NTMyMTM2;sn=55532136",
        "x-ms-date": "Thu, 09 Oct 2025 16:28:00 GMT"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/kv/key-l1785154906?api-version=2023-11-01&label=key-l1785154906_0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "Sync-Token": "zAJw6V16=Njo1IzU1NTMyMTM2",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": null,
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"bBRbfr_m2lzI3vdi3eeg87QAM5rcRWuWZ-D7eBBfulQ\"",
        "Last-Modified": "Thu, 09 Oct 2025 16:28:01 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzU1NTMyMTM3;sn=55532137",
        "x-ms-date": "Thu, 09 Oct 2025 16:28:01 GMT"
      },
      "ResponseBody": {
        "etag": "bBRbfr_m2lzI3vdi3eeg87QAM5rcRWuWZ-D7eBBfulQ",
        "key": "key-l1785154906",
        "label": "key-l1785154906_0",
        "content_type": null,
        "value": "test_value",
        "tags": {},
        "locked": false,
        "last_modified": "2025-10-09T16:28:01+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/kv/GetLabelsPagination?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=Njo1IzU1NTMyMjQy",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "key-l1785154906",
        "content_type": null,
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"wtVTx71WLtLruEMrvZXZnTDnHCs6BGtvCCIHECWUigA\"",
        "Last-Modified": "Thu, 09 Oct 2025 16:28:13 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzU1NTMyMjQz;sn=55532243",
        "x-ms-date": "Thu, 09 Oct 2025 16:28:13 GMT"
      },
      "ResponseBody": {
        "etag": "wtVTx71WLtLruEMrvZXZnTDnHCs6BGtvCCIHECWUigA",
        "key": "GetLabelsPagination",
        "label": null,
        "content_type": null,
        "value": "key-l1785154906",
        "tags": {},
        "locked": false,
        "last_modified": "2025-10-09T16:28:13+00:00"
      }
    },
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/labels?api-version=2023-11-01&name=key-l1785154906%2A",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Njo1IzU1NTMyMjQz",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.labelset+json; charset=utf-8",
        "Link": "</labels?api-version=2023-11-01&name=key-l1785154906*&after=a2V5LWwxNzg1MTU0OTA2Xzkz>; rel=\"next\"",
        "Sync-Token": "zAJw6V16=Njo1IzU1NTMyMjQ0;sn=55532244",
        "x-ms-date": "Thu, 09 Oct 2025 16:28:13 GMT"
      },
      "ResponseBody": {
        "items": [
          {
            "name": "key-l1785154906_0"
          },
          {
            "name": "key-l1785154906_1"
          },
          {
            "name": "key-l1785154906_10"
          },
          {
            "name": "key-l1785154906_100"
          },
          {
            "name": "key-l1785154906_101"
          },
          {
            "name": "key-l1785154906_102"
          },
          {
            "name": "key-l1785154906_103"
          },
          {
            "name": "key-l1785154906_104"
          },
[...]
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/labels?after=a2V5LWwxNzg1MTU0OTA2Xzkz&api-version=2023-11-01&name=key-l1785154906*",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Njo1IzU1NTMyMjQ0",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.labelset+json; charset=utf-8",
        "Sync-Token": "zAJw6V16=Njo1IzU1NTMyMjQ0;sn=55532244",
        "x-ms-date": "Thu, 09 Oct 2025 16:28:14 GMT"
      },
      "ResponseBody": {
        "items": [
          {
            "name": "key-l1785154906_94"
          },
          {
            "name": "key-l1785154906_95"
          },
          {
            "name": "key-l1785154906_96"
          },
          {
            "name": "key-l1785154906_97"
          },
          {
            "name": "key-l1785154906_98"
          },
          {
            "name": "key-l1785154906_99"
          }
        ]
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t8cdd9157ca7d1363-azconfig-net.azconfig.io;Id=wNKY;Secret=Kg==",
    "RandomSeed": "954751065"
  }
}
