{
  "Entries": [
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/abcd?api-version=2023-11-01&label=ab%2Ccd",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "comma in label",
        "content_type": null,
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"K4JU4TSxJI1Iv_rg3jXjdxhj_EdN8nPZWJdamOzt_dQ\"",
        "Last-Modified": "Mon, 01 Dec 2025 08:42:25 GMT",
        "Sync-Token": "zAJw6V16=NTo1Izk4Nzc2ODYw;sn=98776860",
        "x-ms-date": "Mon, 01 Dec 2025 08:42:25 GMT"
      },
      "ResponseBody": {
        "etag": "K4JU4TSxJI1Iv_rg3jXjdxhj_EdN8nPZWJdamOzt_dQ",
        "key": "abcd",
        "label": "ab,cd",
        "content_type": null,
        "value": "comma in label",
        "tags": {},
        "locked": false,
        "last_modified": "2025-12-01T08:42:25+00:00"
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/wxyz?api-version=2023-11-01&label=wx%2Cyz",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NTo1Izk4Nzc2ODYw",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "comma in label",
        "content_type": null,
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"JEjAuVPNSoc-t3hM3A0GTdjMh0axdNd2eFb0YQywEnE\"",
        "Last-Modified": "Mon, 01 Dec 2025 08:42:25 GMT",
        "Sync-Token": "zAJw6V16=NTo1Izk4Nzc2ODYy;sn=98776862",
        "x-ms-date": "Mon, 01 Dec 2025 08:42:25 GMT"
      },
      "ResponseBody": {
        "etag": "JEjAuVPNSoc-t3hM3A0GTdjMh0axdNd2eFb0YQywEnE",
        "key": "wxyz",
        "label": "wx,yz",
        "content_type": null,
        "value": "comma in label",
        "tags": {},
        "locked": false,
        "last_modified": "2025-12-01T08:42:25+00:00"
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/labels?api-version=2023-11-01&name=ab%5C%2Ccd%2Cwx%5C%2Cyz",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1Izk4Nzc2ODYy",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.labelset+json; charset=utf-8",
        "Sync-Token": "zAJw6V16=NTo1Izk4Nzc2ODYz;sn=98776863",
        "x-ms-date": "Mon, 01 Dec 2025 08:42:25 GMT"
      },
      "ResponseBody": {
        "items": [
          {
            "name": "ab,cd"
          },
          {
            "name": "wx,yz"
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/wxyz?api-version=2023-11-01&label=wx%2Cyz",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1Izk4Nzc2ODY0",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"JEjAuVPNSoc-t3hM3A0GTdjMh0axdNd2eFb0YQywEnE\"",
        "Last-Modified": "Mon, 01 Dec 2025 08:42:25 GMT",
        "Sync-Token": "zAJw6V16=NTo1Izk4Nzc2ODY1;sn=98776865",
        "x-ms-date": "Mon, 01 Dec 2025 08:42:26 GMT"
      },
      "ResponseBody": {
        "etag": "JEjAuVPNSoc-t3hM3A0GTdjMh0axdNd2eFb0YQywEnE",
        "key": "wxyz",
        "label": "wx,yz",
        "content_type": null,
        "value": "comma in label",
        "tags": {},
        "locked": false,
        "last_modified": "2025-12-01T08:42:25+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t9c954b564de572f9-azconfig-net.azconfig.io;Id=MdvE;Secret=Kg==",
    "RandomSeed": "1733232008"
  }
}
