{
  "Entries": [
    {
      "RequestUri": "https://azure-sdk-for-net-test.azconfig.io/kv/key-908527554?api-version=2026-04-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"78I1xlrqWgFo7LKH_v8QP71H05oZH_C2gmaKGCPjYyc\"",
        "Last-Modified": "Fri, 29 May 2026 19:59:31 GMT",
        "Sync-Token": "zAJw6V16=NToxNyM0ODE0OTY1MQ==;sn=48149651",
        "x-ms-date": "Fri, 29 May 2026 19:59:31 GMT"
      },
      "ResponseBody": {
        "etag": "78I1xlrqWgFo7LKH_v8QP71H05oZH_C2gmaKGCPjYyc",
        "key": "key-908527554",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "description": null,
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-05-29T19:59:31+00:00"
      }
    },
    {
      "RequestUri": "https://azure-sdk-for-net-test.azconfig.io/labels?api-version=2026-04-01&name=test_label",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Accept-Datetime": "Fri, 31 Dec 9999 23:59:59 GMT",
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NToxNyM0ODE0OTY1MQ==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.labelset+json; charset=utf-8",
        "Sync-Token": "zAJw6V16=NToxNyM0ODE0OTY1MQ==;sn=48149651",
        "x-ms-date": "Fri, 29 May 2026 19:59:31 GMT"
      },
      "ResponseBody": {
        "items": [
          {
            "name": "test_label"
          }
        ]
      }
    },
    {
      "RequestUri": "https://azure-sdk-for-net-test.azconfig.io/kv/key-908527554?api-version=2026-04-01&label=test_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NToxNyM0ODE0OTY1MQ==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"78I1xlrqWgFo7LKH_v8QP71H05oZH_C2gmaKGCPjYyc\"",
        "Last-Modified": "Fri, 29 May 2026 19:59:31 GMT",
        "Sync-Token": "zAJw6V16=NToxNyM0ODE0OTY1Mg==;sn=48149652",
        "x-ms-date": "Fri, 29 May 2026 19:59:31 GMT"
      },
      "ResponseBody": {
        "etag": "78I1xlrqWgFo7LKH_v8QP71H05oZH_C2gmaKGCPjYyc",
        "key": "key-908527554",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "description": null,
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-05-29T19:59:31+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://azure-sdk-for-net-test.azconfig.io;Id=8ePU;Secret=Kg==",
    "RandomSeed": "383629907"
  }
}
