{
  "Entries": [
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv/abcde-1734777877?api-version=2026-04-01&label=abcde",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "value": "sample value",
        "content_type": null,
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"LNHywV_gHHQdIdnwb6TJrhOXlKJBSFxKAUuckFLKn7c\"",
        "Last-Modified": "Wed, 10 Jun 2026 21:33:46 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDk0NDc3;sn=67094477",
        "x-ms-date": "Wed, 10 Jun 2026 21:33:46 GMT"
      },
      "ResponseBody": {
        "etag": "LNHywV_gHHQdIdnwb6TJrhOXlKJBSFxKAUuckFLKn7c",
        "key": "abcde-1734777877",
        "label": "abcde",
        "content_type": null,
        "value": "sample value",
        "description": null,
        "tags": {},
        "locked": false,
        "last_modified": "2026-06-10T21:33:46+00:00"
      }
    },
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv/abcdef-526769069?api-version=2026-04-01&label=abcdef",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDk0NDc3"
      },
      "RequestBody": {
        "value": "sample value",
        "content_type": null,
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"M8-pD1h8PZSp22_NtuK4S16_SDneWANG-Y8kQiH_v14\"",
        "Last-Modified": "Wed, 10 Jun 2026 21:33:46 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDk0NDc4;sn=67094478",
        "x-ms-date": "Wed, 10 Jun 2026 21:33:46 GMT"
      },
      "ResponseBody": {
        "etag": "M8-pD1h8PZSp22_NtuK4S16_SDneWANG-Y8kQiH_v14",
        "key": "abcdef-526769069",
        "label": "abcdef",
        "content_type": null,
        "value": "sample value",
        "description": null,
        "tags": {},
        "locked": false,
        "last_modified": "2026-06-10T21:33:46+00:00"
      }
    },
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/labels?api-version=2026-04-01&name=abc%2A",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDk0NDc4"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.labelset+json; charset=utf-8",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDk0NDc4;sn=67094478",
        "x-ms-date": "Wed, 10 Jun 2026 21:33:46 GMT"
      },
      "ResponseBody": {
        "items": [
          {
            "name": "abcde"
          },
          {
            "name": "abcdef"
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv/abcdef-526769069?api-version=2026-04-01&label=abcdef",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDk0NDc5"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"M8-pD1h8PZSp22_NtuK4S16_SDneWANG-Y8kQiH_v14\"",
        "Last-Modified": "Wed, 10 Jun 2026 21:33:46 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDk0NDgw;sn=67094480",
        "x-ms-date": "Wed, 10 Jun 2026 21:33:46 GMT"
      },
      "ResponseBody": {
        "etag": "M8-pD1h8PZSp22_NtuK4S16_SDneWANG-Y8kQiH_v14",
        "key": "abcdef-526769069",
        "label": "abcdef",
        "content_type": null,
        "value": "sample value",
        "description": null,
        "tags": {},
        "locked": false,
        "last_modified": "2026-06-10T21:33:46+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_ENDPOINT_STRING": "https://mrm90847047-azconfig-net.azconfig.io",
    "RandomSeed": "1404534974"
  }
}
