{
  "Entries": [
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/kv/abcd?api-version=2023-11-01&label=ab%2Ccd",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "comma in label",
        "content_type": null,
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"X_cq_qCPQTJfnmYVVsyRBKDB9wKrzUjJ2oC7Q-dlyfc\"",
        "Last-Modified": "Thu, 09 Oct 2025 16:33:41 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzU1NTMzMDEy;sn=55533012",
        "x-ms-date": "Thu, 09 Oct 2025 16:33:41 GMT"
      },
      "ResponseBody": {
        "etag": "X_cq_qCPQTJfnmYVVsyRBKDB9wKrzUjJ2oC7Q-dlyfc",
        "key": "abcd",
        "label": "ab,cd",
        "content_type": null,
        "value": "comma in label",
        "tags": {},
        "locked": false,
        "last_modified": "2025-10-09T16:33:41+00:00"
      }
    },
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/kv/wxyz?api-version=2023-11-01&label=wx%2Cyz",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=Njo1IzU1NTMzMDEy",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "comma in label",
        "content_type": null,
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"8qZK0q5WIxQOMv2JDriaeckG-_xenSOv7wQtj8tAlrY\"",
        "Last-Modified": "Thu, 09 Oct 2025 16:33:41 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzU1NTMzMDE4;sn=55533018",
        "x-ms-date": "Thu, 09 Oct 2025 16:33:41 GMT"
      },
      "ResponseBody": {
        "etag": "8qZK0q5WIxQOMv2JDriaeckG-_xenSOv7wQtj8tAlrY",
        "key": "wxyz",
        "label": "wx,yz",
        "content_type": null,
        "value": "comma in label",
        "tags": {},
        "locked": false,
        "last_modified": "2025-10-09T16:33:41+00:00"
      }
    },
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/labels?api-version=2023-11-01&name=ab%5C%2Ccd%2Cwx%5C%2Cyz",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Njo1IzU1NTMzMDE4",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.labelset+json; charset=utf-8",
        "Sync-Token": "zAJw6V16=Njo1IzU1NTMzMDE5;sn=55533019",
        "x-ms-date": "Thu, 09 Oct 2025 16:33:41 GMT"
      },
      "ResponseBody": {
        "items": [
          {
            "name": "ab,cd"
          },
          {
            "name": "wx,yz"
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/kv/wxyz?api-version=2023-11-01&label=wx%2Cyz",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Njo1IzU1NTMzMDIw",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"8qZK0q5WIxQOMv2JDriaeckG-_xenSOv7wQtj8tAlrY\"",
        "Last-Modified": "Thu, 09 Oct 2025 16:33:41 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzU1NTMzMDIx;sn=55533021",
        "x-ms-date": "Thu, 09 Oct 2025 16:33:41 GMT"
      },
      "ResponseBody": {
        "etag": "8qZK0q5WIxQOMv2JDriaeckG-_xenSOv7wQtj8tAlrY",
        "key": "wxyz",
        "label": "wx,yz",
        "content_type": null,
        "value": "comma in label",
        "tags": {},
        "locked": false,
        "last_modified": "2025-10-09T16:33:41+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t8cdd9157ca7d1363-azconfig-net.azconfig.io;Id=wNKY;Secret=Kg==",
    "RandomSeed": "299766680"
  }
}
