{
  "Entries": [
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv/keyFields-1679352102?api-version=2026-04-01&label=my_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "value": "my_value",
        "content_type": null,
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"I6omCAy9zgr2i4IavsHWwGMjWKLhDBOIRpm6OJ4FVKY\"",
        "Last-Modified": "Wed, 10 Jun 2026 21:42:25 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDk0OTQ5;sn=67094949",
        "x-ms-date": "Wed, 10 Jun 2026 21:42:25 GMT"
      },
      "ResponseBody": {
        "etag": "I6omCAy9zgr2i4IavsHWwGMjWKLhDBOIRpm6OJ4FVKY",
        "key": "keyFields-1679352102",
        "label": "my_label",
        "content_type": null,
        "value": "my_value",
        "description": null,
        "tags": {},
        "locked": false,
        "last_modified": "2026-06-10T21:42:25+00:00"
      }
    },
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/labels?$select=name&api-version=2026-04-01&name=my_label",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDk0OTQ5"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.labelset+json; charset=utf-8",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDk0OTQ5;sn=67094949",
        "x-ms-date": "Wed, 10 Jun 2026 21:42:25 GMT"
      },
      "ResponseBody": {
        "items": [
          {
            "name": "my_label"
          }
        ]
      }
    },
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv/keyFields-1679352102?api-version=2026-04-01&label=my_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDk0OTQ5"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"I6omCAy9zgr2i4IavsHWwGMjWKLhDBOIRpm6OJ4FVKY\"",
        "Last-Modified": "Wed, 10 Jun 2026 21:42:25 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDk0OTUw;sn=67094950",
        "x-ms-date": "Wed, 10 Jun 2026 21:42:25 GMT"
      },
      "ResponseBody": {
        "etag": "I6omCAy9zgr2i4IavsHWwGMjWKLhDBOIRpm6OJ4FVKY",
        "key": "keyFields-1679352102",
        "label": "my_label",
        "content_type": null,
        "value": "my_value",
        "description": null,
        "tags": {},
        "locked": false,
        "last_modified": "2026-06-10T21:42:25+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_ENDPOINT_STRING": "https://mrm90847047-azconfig-net.azconfig.io",
    "RandomSeed": "1627428394"
  }
}
