{
  "Entries": [
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv/keyFields-1124806361?api-version=2026-04-01&label=my_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "value": "my_value",
        "content_type": null,
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"3uoIGv1lwZe25EARfoz08EyxMOPPnGVgbj9lbXmClGc\"",
        "Last-Modified": "Wed, 10 Jun 2026 18:27:09 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDY1NDUy;sn=67065452",
        "x-ms-date": "Wed, 10 Jun 2026 18:27:09 GMT"
      },
      "ResponseBody": {
        "etag": "3uoIGv1lwZe25EARfoz08EyxMOPPnGVgbj9lbXmClGc",
        "key": "keyFields-1124806361",
        "label": "my_label",
        "content_type": null,
        "value": "my_value",
        "description": null,
        "tags": {},
        "locked": false,
        "last_modified": "2026-06-10T18:27:09+00:00"
      }
    },
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/labels?$select=name&api-version=2026-04-01&name=my_label",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDY1NDUy"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.labelset+json; charset=utf-8",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDY1NDUy;sn=67065452",
        "x-ms-date": "Wed, 10 Jun 2026 18:27:09 GMT"
      },
      "ResponseBody": {
        "items": [
          {
            "name": "my_label"
          }
        ]
      }
    },
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv/keyFields-1124806361?api-version=2026-04-01&label=my_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDY1NDUy"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"3uoIGv1lwZe25EARfoz08EyxMOPPnGVgbj9lbXmClGc\"",
        "Last-Modified": "Wed, 10 Jun 2026 18:27:09 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDY1NDUz;sn=67065453",
        "x-ms-date": "Wed, 10 Jun 2026 18:27:09 GMT"
      },
      "ResponseBody": {
        "etag": "3uoIGv1lwZe25EARfoz08EyxMOPPnGVgbj9lbXmClGc",
        "key": "keyFields-1124806361",
        "label": "my_label",
        "content_type": null,
        "value": "my_value",
        "description": null,
        "tags": {},
        "locked": false,
        "last_modified": "2026-06-10T18:27:09+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_ENDPOINT_STRING": "https://mrm90847047-azconfig-net.azconfig.io",
    "RandomSeed": "1466067767"
  }
}
