{
  "Entries": [
    {
      "RequestUri": "https://tdfcae3cf5eab7143-azconfig-net.azconfig.io/kv/keyFields-1223156787?label=my_label&api-version=2023-10-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "my_value",
        "content_type": null,
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"aFe_KeSLfWHfkycGLNnVe67h3-IOnl5d6pBWJMi00ZQ\"",
        "Last-Modified": "Fri, 14 Jun 2024 16:22:07 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzMwNDI0MTMy;sn=30424132"
      },
      "ResponseBody": {
        "etag": "aFe_KeSLfWHfkycGLNnVe67h3-IOnl5d6pBWJMi00ZQ",
        "key": "keyFields-1223156787",
        "label": "my_label",
        "content_type": null,
        "value": "my_value",
        "tags": {},
        "locked": false,
        "last_modified": "2024-06-14T16:22:07+00:00"
      }
    },
    {
      "RequestUri": "https://tdfcae3cf5eab7143-azconfig-net.azconfig.io/labels?name=my_label&api-version=2023-10-01&$Select=uknown_field%2Cunknown_field2",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Njo1IzMwNDI0MTMy",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.labelset+json; charset=utf-8",
        "Sync-Token": "zAJw6V16=Njo1IzMwNDI0MTMy;sn=30424132"
      },
      "ResponseBody": {
        "items": [
          {}
        ]
      }
    },
    {
      "RequestUri": "https://tdfcae3cf5eab7143-azconfig-net.azconfig.io/kv/keyFields-1223156787?label=my_label&api-version=2023-10-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Njo1IzMwNDI0MTMy",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"aFe_KeSLfWHfkycGLNnVe67h3-IOnl5d6pBWJMi00ZQ\"",
        "Last-Modified": "Fri, 14 Jun 2024 16:22:07 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzMwNDI0MTMz;sn=30424133"
      },
      "ResponseBody": {
        "etag": "aFe_KeSLfWHfkycGLNnVe67h3-IOnl5d6pBWJMi00ZQ",
        "key": "keyFields-1223156787",
        "label": "my_label",
        "content_type": null,
        "value": "my_value",
        "tags": {},
        "locked": false,
        "last_modified": "2024-06-14T16:22:07+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://tdfcae3cf5eab7143-azconfig-net.azconfig.io;Id=yt5R;Secret=Kg==",
    "RandomSeed": "1834626418"
  }
}
