{
  "Entries": [
    {
      "RequestUri": "https://azure-sdk-for-net-test.azconfig.io/kv/keyFields-497317649?api-version=2026-04-01&label=my_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "my_value",
        "content_type": null,
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"WejsCe0XZY1xBQZXzD0kjGdBkDUQMB_4tUfP61lL1u8\"",
        "Last-Modified": "Thu, 28 May 2026 00:01:51 GMT",
        "Sync-Token": "zAJw6V16=NToxNyM0ODA0MjUyNQ==;sn=48042525",
        "x-ms-date": "Thu, 28 May 2026 00:01:51 GMT"
      },
      "ResponseBody": {
        "etag": "WejsCe0XZY1xBQZXzD0kjGdBkDUQMB_4tUfP61lL1u8",
        "key": "keyFields-497317649",
        "label": "my_label",
        "content_type": null,
        "value": "my_value",
        "description": null,
        "tags": {},
        "locked": false,
        "last_modified": "2026-05-28T00:01:51+00:00"
      }
    },
    {
      "RequestUri": "https://azure-sdk-for-net-test.azconfig.io/labels?$select=name&api-version=2026-04-01&name=my_label",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NToxNyM0ODA0MjUyNQ==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.labelset+json; charset=utf-8",
        "Sync-Token": "zAJw6V16=NToxNyM0ODA0MjUyNQ==;sn=48042525",
        "x-ms-date": "Thu, 28 May 2026 00:01:51 GMT"
      },
      "ResponseBody": {
        "items": [
          {
            "name": "my_label"
          }
        ]
      }
    },
    {
      "RequestUri": "https://azure-sdk-for-net-test.azconfig.io/kv/keyFields-497317649?api-version=2026-04-01&label=my_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NToxNyM0ODA0MjUyNQ==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"WejsCe0XZY1xBQZXzD0kjGdBkDUQMB_4tUfP61lL1u8\"",
        "Last-Modified": "Thu, 28 May 2026 00:01:51 GMT",
        "Sync-Token": "zAJw6V16=NToxNyM0ODA0MjUyNg==;sn=48042526",
        "x-ms-date": "Thu, 28 May 2026 00:01:51 GMT"
      },
      "ResponseBody": {
        "etag": "WejsCe0XZY1xBQZXzD0kjGdBkDUQMB_4tUfP61lL1u8",
        "key": "keyFields-497317649",
        "label": "my_label",
        "content_type": null,
        "value": "my_value",
        "description": null,
        "tags": {},
        "locked": false,
        "last_modified": "2026-05-28T00:01:51+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://azure-sdk-for-net-test.azconfig.io;Id=8ePU;Secret=Kg==",
    "RandomSeed": "1583233827"
  }
}
