{
  "Entries": [
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-abc?api-version=2023-11-01&label=abc",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "abc setting",
        "content_type": null,
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"v8pcQwqusej7Hj4DvpPtdf8vP4uuImOQFkQorOKMwHI\"",
        "Last-Modified": "Tue, 06 Jan 2026 01:18:45 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTc2NjEzMA==;sn=101766130",
        "x-ms-date": "Tue, 06 Jan 2026 01:18:45 GMT"
      },
      "ResponseBody": {
        "etag": "v8pcQwqusej7Hj4DvpPtdf8vP4uuImOQFkQorOKMwHI",
        "key": "key-abc",
        "label": "abc",
        "content_type": null,
        "value": "abc setting",
        "tags": {},
        "locked": false,
        "last_modified": "2026-01-06T01:18:45+00:00"
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/label-xyz?api-version=2023-11-01&label=xyz",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTc2NjEzMA==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "xyz setting",
        "content_type": null,
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"tLdrs8gHmhK6QlOfiDsqjgAUy3HtbXPPsG1COayKdTc\"",
        "Last-Modified": "Tue, 06 Jan 2026 01:18:45 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTc2NjEzMg==;sn=101766132",
        "x-ms-date": "Tue, 06 Jan 2026 01:18:45 GMT"
      },
      "ResponseBody": {
        "etag": "tLdrs8gHmhK6QlOfiDsqjgAUy3HtbXPPsG1COayKdTc",
        "key": "label-xyz",
        "label": "xyz",
        "content_type": null,
        "value": "xyz setting",
        "tags": {},
        "locked": false,
        "last_modified": "2026-01-06T01:18:45+00:00"
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/labels?api-version=2023-11-01&name=abc%2Cxyz",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTc2NjEzMg==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.labelset+json; charset=utf-8",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTc2NjEzMw==;sn=101766133",
        "x-ms-date": "Tue, 06 Jan 2026 01:18:45 GMT"
      },
      "ResponseBody": {
        "items": [
          {
            "name": "abc"
          },
          {
            "name": "xyz"
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/label-xyz?api-version=2023-11-01&label=xyz",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTc2NjEzNA==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"tLdrs8gHmhK6QlOfiDsqjgAUy3HtbXPPsG1COayKdTc\"",
        "Last-Modified": "Tue, 06 Jan 2026 01:18:45 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTc2NjEzNQ==;sn=101766135",
        "x-ms-date": "Tue, 06 Jan 2026 01:18:45 GMT"
      },
      "ResponseBody": {
        "etag": "tLdrs8gHmhK6QlOfiDsqjgAUy3HtbXPPsG1COayKdTc",
        "key": "label-xyz",
        "label": "xyz",
        "content_type": null,
        "value": "xyz setting",
        "tags": {},
        "locked": false,
        "last_modified": "2026-01-06T01:18:45+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t9c954b564de572f9-azconfig-net.azconfig.io;Id=MdvE;Secret=Kg==",
    "RandomSeed": "1631916973"
  }
}
