{
  "Entries": [
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/GetLabelsPagination?api-version=2023-11-01&label=key-l16410630",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Sync-Token": "zAJw6V16=NTo1IzEwMTA0OTQxNA==;sn=101049414",
        "x-ms-date": "Tue, 23 Dec 2025 05:43:31 GMT"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-l16410630?api-version=2023-11-01&label=key-l16410630_0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTA0OTQxNA==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": null,
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"7Vq9yF3dOrkXaW197ODQpmakqRE961-kHBRA97Hs1Tg\"",
        "Last-Modified": "Tue, 23 Dec 2025 05:43:31 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTA0OTQxNQ==;sn=101049415",
        "x-ms-date": "Tue, 23 Dec 2025 05:43:31 GMT"
      },
      "ResponseBody": {
        "etag": "7Vq9yF3dOrkXaW197ODQpmakqRE961-kHBRA97Hs1Tg",
        "key": "key-l16410630",
        "label": "key-l16410630_0",
        "content_type": null,
        "value": "test_value",
        "tags": {},
        "locked": false,
        "last_modified": "2025-12-23T05:43:31+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/GetLabelsPagination?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTA0OTUyMA==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "key-l16410630",
        "content_type": null,
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"BfImtaKfAJwRcuEAOUv4rkfYxxkdOQw66Jo6Alzseh0\"",
        "Last-Modified": "Tue, 23 Dec 2025 05:43:44 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTA0OTUyMQ==;sn=101049521",
        "x-ms-date": "Tue, 23 Dec 2025 05:43:44 GMT"
      },
      "ResponseBody": {
        "etag": "BfImtaKfAJwRcuEAOUv4rkfYxxkdOQw66Jo6Alzseh0",
        "key": "GetLabelsPagination",
        "label": null,
        "content_type": null,
        "value": "key-l16410630",
        "tags": {},
        "locked": false,
        "last_modified": "2025-12-23T05:43:44+00:00"
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/labels?api-version=2023-11-01&name=key-l16410630%2A",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTA0OTUyMQ==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.labelset+json; charset=utf-8",
        "Link": "</labels?api-version=2023-11-01&name=key-l16410630*&after=a2V5LWwxNjQxMDYzMF85Mw%3D%3D>; rel=\"next\"",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTA0OTUyMg==;sn=101049522",
        "x-ms-date": "Tue, 23 Dec 2025 05:43:44 GMT"
      },
      "ResponseBody": {
        "items": [
          {
            "name": "key-l16410630_0"
          },
          {
            "name": "key-l16410630_1"
          },
          {
            "name": "key-l16410630_10"
          },
          {
            "name": "key-l16410630_100"
          },
          {
            "name": "key-l16410630_101"
          },
          {
            "name": "key-l16410630_102"
          },
          {
            "name": "key-l16410630_103"
          },
          {
            "name": "key-l16410630_104"
          },
          {
    [...]
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/labels?after=a2V5LWwxNjQxMDYzMF85Mw%3D%3D&api-version=2023-11-01&name=key-l16410630*",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTA0OTUyMg==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.labelset+json; charset=utf-8",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTA0OTUyMg==;sn=101049522",
        "x-ms-date": "Tue, 23 Dec 2025 05:43:44 GMT"
      },
      "ResponseBody": {
        "items": [
          {
            "name": "key-l16410630_94"
          },
          {
            "name": "key-l16410630_95"
          },
          {
            "name": "key-l16410630_96"
          },
          {
            "name": "key-l16410630_97"
          },
          {
            "name": "key-l16410630_98"
          },
          {
            "name": "key-l16410630_99"
          }
        ]
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t9c954b564de572f9-azconfig-net.azconfig.io;Id=MdvE;Secret=Kg==",
    "RandomSeed": "1452981662"
  }
}
