{
  "Entries": [
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/GetLabelsPagination?api-version=2023-11-01&label=key-l1842530309",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU3NTMxMA==;sn=103575310",
        "x-ms-date": "Fri, 23 Jan 2026 07:11:08 GMT"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-l1842530309?api-version=2023-11-01&label=key-l1842530309_0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU3NTMxMA==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": null,
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"8KV8sMOgyROwOGD_a4VvSMMhBjnf9J87lmT1b3c23yw\"",
        "Last-Modified": "Fri, 23 Jan 2026 07:11:09 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU3NTMxMQ==;sn=103575311",
        "x-ms-date": "Fri, 23 Jan 2026 07:11:09 GMT"
      },
      "ResponseBody": {
        "etag": "8KV8sMOgyROwOGD_a4VvSMMhBjnf9J87lmT1b3c23yw",
        "key": "key-l1842530309",
        "label": "key-l1842530309_0",
        "content_type": null,
        "value": "test_value",
        "tags": {},
        "locked": false,
        "last_modified": "2026-01-23T07:11:09+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/GetLabelsPagination?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU3NTQxNg==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "key-l1842530309",
        "content_type": null,
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"clrEotorwEiw6V0s1AdqwqeTG-CirX3rqMAOJroZl0k\"",
        "Last-Modified": "Fri, 23 Jan 2026 07:11:22 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU3NTQxNw==;sn=103575417",
        "x-ms-date": "Fri, 23 Jan 2026 07:11:22 GMT"
      },
      "ResponseBody": {
        "etag": "clrEotorwEiw6V0s1AdqwqeTG-CirX3rqMAOJroZl0k",
        "key": "GetLabelsPagination",
        "label": null,
        "content_type": null,
        "value": "key-l1842530309",
        "tags": {},
        "locked": false,
        "last_modified": "2026-01-23T07:11:22+00:00"
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/labels?api-version=2023-11-01&name=key-l1842530309%2A",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU3NTQxNw==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.labelset+json; charset=utf-8",
        "Link": "</labels?api-version=2023-11-01&name=key-l1842530309*&after=a2V5LWwxODQyNTMwMzA5Xzkz>; rel=\"next\"",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU3NTQxOA==;sn=103575418",
        "x-ms-date": "Fri, 23 Jan 2026 07:11:22 GMT"
      },
      "ResponseBody": {
        "items": [
          {
            "name": "key-l1842530309_0"
          },
          {
            "name": "key-l1842530309_1"
          },
          {
            "name": "key-l1842530309_10"
          },
          {
            "name": "key-l1842530309_100"
          },
          {
            "name": "key-l1842530309_101"
          },
          {
            "name": "key-l1842530309_102"
          },
          {
            "name": "key-l1842530309_103"
          },
          {
            "name": "key-l1842530309_104"
          },
[...]
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/labels?after=a2V5LWwxODQyNTMwMzA5Xzkz&api-version=2023-11-01&name=key-l1842530309*",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU3NTQxOA==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.labelset+json; charset=utf-8",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU3NTQxOA==;sn=103575418",
        "x-ms-date": "Fri, 23 Jan 2026 07:11:22 GMT"
      },
      "ResponseBody": {
        "items": [
          {
            "name": "key-l1842530309_94"
          },
          {
            "name": "key-l1842530309_95"
          },
          {
            "name": "key-l1842530309_96"
          },
          {
            "name": "key-l1842530309_97"
          },
          {
            "name": "key-l1842530309_98"
          },
          {
            "name": "key-l1842530309_99"
          }
        ]
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t9c954b564de572f9-azconfig-net.azconfig.io;Id=MdvE;Secret=Kg==",
    "RandomSeed": "1300176260"
  }
}
