{
  "Entries": [
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/kv/abcde-1238660534?api-version=2023-11-01&label=abcde",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "sample value",
        "content_type": null,
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"_qvCPgHPYB-mXvLkx9bFIeCFuTLNh-UDZ2ntz_PboPs\"",
        "Last-Modified": "Thu, 09 Oct 2025 16:33:40 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzU1NTMzMDAw;sn=55533000",
        "x-ms-date": "Thu, 09 Oct 2025 16:33:40 GMT"
      },
      "ResponseBody": {
        "etag": "_qvCPgHPYB-mXvLkx9bFIeCFuTLNh-UDZ2ntz_PboPs",
        "key": "abcde-1238660534",
        "label": "abcde",
        "content_type": null,
        "value": "sample value",
        "tags": {},
        "locked": false,
        "last_modified": "2025-10-09T16:33:40+00:00"
      }
    },
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/kv/abcdef-14333018?api-version=2023-11-01&label=abcdef",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=Njo1IzU1NTMzMDAw",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "sample value",
        "content_type": null,
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"qa9nNRCXoZEprZADV4wkwG8ogL2tnLpMy7wnUrc-0VE\"",
        "Last-Modified": "Thu, 09 Oct 2025 16:33:40 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzU1NTMzMDAy;sn=55533002",
        "x-ms-date": "Thu, 09 Oct 2025 16:33:40 GMT"
      },
      "ResponseBody": {
        "etag": "qa9nNRCXoZEprZADV4wkwG8ogL2tnLpMy7wnUrc-0VE",
        "key": "abcdef-14333018",
        "label": "abcdef",
        "content_type": null,
        "value": "sample value",
        "tags": {},
        "locked": false,
        "last_modified": "2025-10-09T16:33:40+00:00"
      }
    },
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/labels?api-version=2023-11-01&name=abc%2A",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Njo1IzU1NTMzMDAy",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.labelset+json; charset=utf-8",
        "Sync-Token": "zAJw6V16=Njo1IzU1NTMzMDAy;sn=55533002",
        "x-ms-date": "Thu, 09 Oct 2025 16:33:40 GMT"
      },
      "ResponseBody": {
        "items": [
          {
            "name": "abcde"
          },
          {
            "name": "abcdef"
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/kv/abcdef-14333018?api-version=2023-11-01&label=abcdef",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Njo1IzU1NTMzMDAz",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"qa9nNRCXoZEprZADV4wkwG8ogL2tnLpMy7wnUrc-0VE\"",
        "Last-Modified": "Thu, 09 Oct 2025 16:33:40 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzU1NTMzMDA2;sn=55533006",
        "x-ms-date": "Thu, 09 Oct 2025 16:33:40 GMT"
      },
      "ResponseBody": {
        "etag": "qa9nNRCXoZEprZADV4wkwG8ogL2tnLpMy7wnUrc-0VE",
        "key": "abcdef-14333018",
        "label": "abcdef",
        "content_type": null,
        "value": "sample value",
        "tags": {},
        "locked": false,
        "last_modified": "2025-10-09T16:33:40+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t8cdd9157ca7d1363-azconfig-net.azconfig.io;Id=wNKY;Secret=Kg==",
    "RandomSeed": "1344239532"
  }
}
