{
  "Entries": [
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/GetLabelsPagination?api-version=2023-11-01&label=key-l380323282",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Sync-Token": "zAJw6V16=NTo1IzEwMzg1MTE0MQ==;sn=103851141",
        "x-ms-date": "Mon, 26 Jan 2026 05:41:21 GMT"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-l380323282?api-version=2023-11-01&label=key-l380323282_0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzg1MTE0MQ==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": null,
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"jEpaeANLJ8r0iVTeqSsSoSwKjNlJTEk0K3AwB20v2yM\"",
        "Last-Modified": "Mon, 26 Jan 2026 05:41:21 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzg1MTE0Mg==;sn=103851142",
        "x-ms-date": "Mon, 26 Jan 2026 05:41:21 GMT"
      },
      "ResponseBody": {
        "etag": "jEpaeANLJ8r0iVTeqSsSoSwKjNlJTEk0K3AwB20v2yM",
        "key": "key-l380323282",
        "label": "key-l380323282_0",
        "content_type": null,
        "value": "test_value",
        "tags": {},
        "locked": false,
        "last_modified": "2026-01-26T05:41:21+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/GetLabelsPagination?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzg1MTI0Nw==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "key-l380323282",
        "content_type": null,
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"yBUc5gHDRrGmoX6qcRdgzGk1Ir0R2LkLM-TFbT3ZG2E\"",
        "Last-Modified": "Mon, 26 Jan 2026 05:41:34 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzg1MTI0OA==;sn=103851248",
        "x-ms-date": "Mon, 26 Jan 2026 05:41:34 GMT"
      },
      "ResponseBody": {
        "etag": "yBUc5gHDRrGmoX6qcRdgzGk1Ir0R2LkLM-TFbT3ZG2E",
        "key": "GetLabelsPagination",
        "label": null,
        "content_type": null,
        "value": "key-l380323282",
        "tags": {},
        "locked": false,
        "last_modified": "2026-01-26T05:41:34+00:00"
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/labels?api-version=2023-11-01&name=key-l380323282%2A",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzg1MTI0OA==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.labelset+json; charset=utf-8",
        "Link": "</labels?api-version=2023-11-01&name=key-l380323282*&after=a2V5LWwzODAzMjMyODJfOTM%3D>; rel=\"next\"",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzg1MTI0OQ==;sn=103851249",
        "x-ms-date": "Mon, 26 Jan 2026 05:41:35 GMT"
      },
      "ResponseBody": {
        "items": [
          {
            "name": "key-l380323282_0"
          },
          {
            "name": "key-l380323282_1"
          },
          {
            "name": "key-l380323282_10"
          },
          {
            "name": "key-l380323282_100"
          },
          {
            "name": "key-l380323282_101"
          },
          {
            "name": "key-l380323282_102"
          },
          {
            "name": "key-l380323282_103"
          },
          {
            "name": "key-l380323282_104"
          },
        [...]
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/labels?after=a2V5LWwzODAzMjMyODJfOTM%3D&api-version=2023-11-01&name=key-l380323282*",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzg1MTI0OQ==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.labelset+json; charset=utf-8",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzg1MTI0OQ==;sn=103851249",
        "x-ms-date": "Mon, 26 Jan 2026 05:41:35 GMT"
      },
      "ResponseBody": {
        "items": [
          {
            "name": "key-l380323282_94"
          },
          {
            "name": "key-l380323282_95"
          },
          {
            "name": "key-l380323282_96"
          },
          {
            "name": "key-l380323282_97"
          },
          {
            "name": "key-l380323282_98"
          },
          {
            "name": "key-l380323282_99"
          }
        ]
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t9c954b564de572f9-azconfig-net.azconfig.io;Id=MdvE;Secret=Kg==",
    "RandomSeed": "1405309294"
  }
}
