{
  "Entries": [
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/GetLabelsPagination?api-version=2023-11-01&label=key-l692170761",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Sync-Token": "zAJw6V16=NTo1Izk4Nzc2NzQ1;sn=98776745",
        "x-ms-date": "Mon, 01 Dec 2025 08:42:10 GMT"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-l692170761?api-version=2023-11-01&label=key-l692170761_0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "Sync-Token": "zAJw6V16=NTo1Izk4Nzc2NzQ1",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": null,
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"X2LpmD-dMhSISfCcooUczpl1IzZONJUfGt4wCb908nA\"",
        "Last-Modified": "Mon, 01 Dec 2025 08:42:11 GMT",
        "Sync-Token": "zAJw6V16=NTo1Izk4Nzc2NzQ2;sn=98776746",
        "x-ms-date": "Mon, 01 Dec 2025 08:42:11 GMT"
      },
      "ResponseBody": {
        "etag": "X2LpmD-dMhSISfCcooUczpl1IzZONJUfGt4wCb908nA",
        "key": "key-l692170761",
        "label": "key-l692170761_0",
        "content_type": null,
        "value": "test_value",
        "tags": {},
        "locked": false,
        "last_modified": "2025-12-01T08:42:11+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/GetLabelsPagination?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NTo1Izk4Nzc2ODUx",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "key-l692170761",
        "content_type": null,
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"YgWJPkO7RvDTrebTWKv2XCsFs8WZaK2LfgRGHYVRpSw\"",
        "Last-Modified": "Mon, 01 Dec 2025 08:42:24 GMT",
        "Sync-Token": "zAJw6V16=NTo1Izk4Nzc2ODUy;sn=98776852",
        "x-ms-date": "Mon, 01 Dec 2025 08:42:24 GMT"
      },
      "ResponseBody": {
        "etag": "YgWJPkO7RvDTrebTWKv2XCsFs8WZaK2LfgRGHYVRpSw",
        "key": "GetLabelsPagination",
        "label": null,
        "content_type": null,
        "value": "key-l692170761",
        "tags": {},
        "locked": false,
        "last_modified": "2025-12-01T08:42:24+00:00"
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/labels?api-version=2023-11-01&name=key-l692170761%2A",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1Izk4Nzc2ODUy",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.labelset+json; charset=utf-8",
        "Link": "</labels?api-version=2023-11-01&name=key-l692170761*&after=a2V5LWw2OTIxNzA3NjFfOTM%3D>; rel=\"next\"",
        "Sync-Token": "zAJw6V16=NTo1Izk4Nzc2ODUz;sn=98776853",
        "x-ms-date": "Mon, 01 Dec 2025 08:42:24 GMT"
      },
      "ResponseBody": {
        "items": [
          {
            "name": "key-l692170761_0"
          },
          {
            "name": "key-l692170761_1"
          },
          {
            "name": "key-l692170761_10"
          },
          {
            "name": "key-l692170761_100"
          },
          {
            "name": "key-l692170761_101"
          },
          {
            "name": "key-l692170761_102"
          },
          {
            "name": "key-l692170761_103"
          },
          {
            "name": "key-l692170761_104"
          },
        [...]
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/labels?after=a2V5LWw2OTIxNzA3NjFfOTM%3D&api-version=2023-11-01&name=key-l692170761*",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1Izk4Nzc2ODUz",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.labelset+json; charset=utf-8",
        "Sync-Token": "zAJw6V16=NTo1Izk4Nzc2ODUz;sn=98776853",
        "x-ms-date": "Mon, 01 Dec 2025 08:42:24 GMT"
      },
      "ResponseBody": {
        "items": [
          {
            "name": "key-l692170761_94"
          },
          {
            "name": "key-l692170761_95"
          },
          {
            "name": "key-l692170761_96"
          },
          {
            "name": "key-l692170761_97"
          },
          {
            "name": "key-l692170761_98"
          },
          {
            "name": "key-l692170761_99"
          }
        ]
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t9c954b564de572f9-azconfig-net.azconfig.io;Id=MdvE;Secret=Kg==",
    "RandomSeed": "1219240447"
  }
}
