{
  "Entries": [
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-1633194580?api-version=2023-11-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"i9X-HEh3tOYNxdlF-C_GItci7KZjlUY6URrMCti6Zvg\"",
        "Last-Modified": "Mon, 01 Dec 2025 08:42:09 GMT",
        "Sync-Token": "zAJw6V16=NTo1Izk4Nzc2NzM4;sn=98776738",
        "x-ms-date": "Mon, 01 Dec 2025 08:42:09 GMT"
      },
      "ResponseBody": {
        "etag": "i9X-HEh3tOYNxdlF-C_GItci7KZjlUY6URrMCti6Zvg",
        "key": "key-1633194580",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2025-12-01T08:42:09+00:00"
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/labels?api-version=2023-11-01&name=test_label",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1Izk4Nzc2NzM4",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.labelset+json; charset=utf-8",
        "Sync-Token": "zAJw6V16=NTo1Izk4Nzc2NzM4;sn=98776738",
        "x-ms-date": "Mon, 01 Dec 2025 08:42:10 GMT"
      },
      "ResponseBody": {
        "items": [
          {
            "name": "test_label"
          }
        ]
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-1633194580?api-version=2023-11-01&label=test_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1Izk4Nzc2NzM4",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"i9X-HEh3tOYNxdlF-C_GItci7KZjlUY6URrMCti6Zvg\"",
        "Last-Modified": "Mon, 01 Dec 2025 08:42:09 GMT",
        "Sync-Token": "zAJw6V16=NTo1Izk4Nzc2NzM5;sn=98776739",
        "x-ms-date": "Mon, 01 Dec 2025 08:42:10 GMT"
      },
      "ResponseBody": {
        "etag": "i9X-HEh3tOYNxdlF-C_GItci7KZjlUY6URrMCti6Zvg",
        "key": "key-1633194580",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2025-12-01T08:42:09+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t9c954b564de572f9-azconfig-net.azconfig.io;Id=MdvE;Secret=Kg==",
    "RandomSeed": "2122245496"
  }
}
