{
  "Entries": [
    {
      "RequestUri": "https://tdfcae3cf5eab7143-azconfig-net.azconfig.io/kv/keyFields-1870656698?api-version=2023-11-01&label=my_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "my_value",
        "content_type": null,
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"O4NPVhZ4svbFgtzCYUezlcftN2uNrc2nIFDDcWeOeCA\"",
        "Last-Modified": "Wed, 11 Jun 2025 17:24:27 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzQyMTUwOTgz;sn=42150983"
      },
      "ResponseBody": {
        "etag": "O4NPVhZ4svbFgtzCYUezlcftN2uNrc2nIFDDcWeOeCA",
        "key": "keyFields-1870656698",
        "label": "my_label",
        "content_type": null,
        "value": "my_value",
        "tags": {},
        "locked": false,
        "last_modified": "2025-06-11T17:24:27+00:00"
      }
    },
    {
      "RequestUri": "https://tdfcae3cf5eab7143-azconfig-net.azconfig.io/labels?api-version=2023-11-01&name=my_label&$Select=name",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Mzo1IzQyMTUwOTgz",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.labelset+json; charset=utf-8",
        "Sync-Token": "zAJw6V16=Mzo1IzQyMTUwOTgz;sn=42150983"
      },
      "ResponseBody": {
        "items": [
          {
            "name": "my_label"
          }
        ]
      }
    },
    {
      "RequestUri": "https://tdfcae3cf5eab7143-azconfig-net.azconfig.io/kv/keyFields-1870656698?api-version=2023-11-01&label=my_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Mzo1IzQyMTUwOTgz",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"O4NPVhZ4svbFgtzCYUezlcftN2uNrc2nIFDDcWeOeCA\"",
        "Last-Modified": "Wed, 11 Jun 2025 17:24:27 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzQyMTUwOTg0;sn=42150984"
      },
      "ResponseBody": {
        "etag": "O4NPVhZ4svbFgtzCYUezlcftN2uNrc2nIFDDcWeOeCA",
        "key": "keyFields-1870656698",
        "label": "my_label",
        "content_type": null,
        "value": "my_value",
        "tags": {},
        "locked": false,
        "last_modified": "2025-06-11T17:24:27+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://tdfcae3cf5eab7143-azconfig-net.azconfig.io;Id=GAEe;Secret=Kg==",
    "RandomSeed": "471303615"
  }
}
