{
  "Entries": [
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv/key-abc?api-version=2023-11-01&label=abc",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "value": "abc setting",
        "content_type": null,
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"T0W3BVYvBdq6OSiasGnAF5BlJwvhBVGEp6TXBzbFhus\"",
        "Last-Modified": "Tue, 09 Jun 2026 23:03:28 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY2OTk2NTUy;sn=66996552",
        "x-ms-date": "Tue, 09 Jun 2026 23:03:28 GMT"
      },
      "ResponseBody": {
        "etag": "T0W3BVYvBdq6OSiasGnAF5BlJwvhBVGEp6TXBzbFhus",
        "key": "key-abc",
        "label": "abc",
        "content_type": null,
        "value": "abc setting",
        "tags": {},
        "locked": false,
        "last_modified": "2026-06-09T23:03:28+00:00"
      }
    },
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv/label-xyz?api-version=2023-11-01&label=xyz",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=Mzo1IzY2OTk2NTUy"
      },
      "RequestBody": {
        "value": "xyz setting",
        "content_type": null,
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"927g0R4-fzA24ocP8iYZqADNsLx0mXwVZpjIYVf-f7I\"",
        "Last-Modified": "Tue, 09 Jun 2026 23:03:28 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY2OTk2NTU0;sn=66996554",
        "x-ms-date": "Tue, 09 Jun 2026 23:03:28 GMT"
      },
      "ResponseBody": {
        "etag": "927g0R4-fzA24ocP8iYZqADNsLx0mXwVZpjIYVf-f7I",
        "key": "label-xyz",
        "label": "xyz",
        "content_type": null,
        "value": "xyz setting",
        "tags": {},
        "locked": false,
        "last_modified": "2026-06-09T23:03:28+00:00"
      }
    },
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/labels?api-version=2023-11-01&name=abc%2Cxyz",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Mzo1IzY2OTk2NTU0"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.labelset+json; charset=utf-8",
        "Sync-Token": "zAJw6V16=Mzo1IzY2OTk2NTU1;sn=66996555",
        "x-ms-date": "Tue, 09 Jun 2026 23:03:28 GMT"
      },
      "ResponseBody": {
        "items": [
          {
            "name": "abc"
          },
          {
            "name": "xyz"
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv/label-xyz?api-version=2023-11-01&label=xyz",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Mzo1IzY2OTk2NTU2"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"927g0R4-fzA24ocP8iYZqADNsLx0mXwVZpjIYVf-f7I\"",
        "Last-Modified": "Tue, 09 Jun 2026 23:03:28 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY2OTk2NTU3;sn=66996557",
        "x-ms-date": "Tue, 09 Jun 2026 23:03:28 GMT"
      },
      "ResponseBody": {
        "etag": "927g0R4-fzA24ocP8iYZqADNsLx0mXwVZpjIYVf-f7I",
        "key": "label-xyz",
        "label": "xyz",
        "content_type": null,
        "value": "xyz setting",
        "tags": {},
        "locked": false,
        "last_modified": "2026-06-09T23:03:28+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_ENDPOINT_STRING": "https://mrm90847047-azconfig-net.azconfig.io",
    "RandomSeed": "221913883"
  }
}
