{
  "Entries": [
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/kv/key-1659273314?api-version=2023-11-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"WtAmN1elBknD4XcF20c8c1ttzC9Roe44u4raQB96hbY\"",
        "Last-Modified": "Thu, 09 Oct 2025 16:27:59 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzU1NTMyMTI5;sn=55532129",
        "x-ms-date": "Thu, 09 Oct 2025 16:27:59 GMT"
      },
      "ResponseBody": {
        "etag": "WtAmN1elBknD4XcF20c8c1ttzC9Roe44u4raQB96hbY",
        "key": "key-1659273314",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2025-10-09T16:27:59+00:00"
      }
    },
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/labels?api-version=2023-11-01&name=test_label",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Njo1IzU1NTMyMTI5",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.labelset+json; charset=utf-8",
        "Sync-Token": "zAJw6V16=Njo1IzU1NTMyMTI5;sn=55532129",
        "x-ms-date": "Thu, 09 Oct 2025 16:28:00 GMT"
      },
      "ResponseBody": {
        "items": [
          {
            "name": "test_label"
          }
        ]
      }
    },
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/kv/key-1659273314?api-version=2023-11-01&label=test_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Njo1IzU1NTMyMTI5",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"WtAmN1elBknD4XcF20c8c1ttzC9Roe44u4raQB96hbY\"",
        "Last-Modified": "Thu, 09 Oct 2025 16:27:59 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzU1NTMyMTMw;sn=55532130",
        "x-ms-date": "Thu, 09 Oct 2025 16:28:00 GMT"
      },
      "ResponseBody": {
        "etag": "WtAmN1elBknD4XcF20c8c1ttzC9Roe44u4raQB96hbY",
        "key": "key-1659273314",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2025-10-09T16:27:59+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t8cdd9157ca7d1363-azconfig-net.azconfig.io;Id=wNKY;Secret=Kg==",
    "RandomSeed": "1926976549"
  }
}
