{
  "Entries": [
    {
      "RequestUri": "https://azure-sdk-for-net-test.azconfig.io/kv/abcde-1868732472?api-version=2026-04-01&label=abcde",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "sample value",
        "content_type": null,
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"osRd9tbirHeU6wIWv34X5Tt3JULQYFYGwEkfLswlUYM\"",
        "Last-Modified": "Wed, 27 May 2026 23:57:06 GMT",
        "Sync-Token": "zAJw6V16=NToxNyM0ODA0MjAyNg==;sn=48042026",
        "x-ms-date": "Wed, 27 May 2026 23:57:06 GMT"
      },
      "ResponseBody": {
        "etag": "osRd9tbirHeU6wIWv34X5Tt3JULQYFYGwEkfLswlUYM",
        "key": "abcde-1868732472",
        "label": "abcde",
        "content_type": null,
        "value": "sample value",
        "description": null,
        "tags": {},
        "locked": false,
        "last_modified": "2026-05-27T23:57:06+00:00"
      }
    },
    {
      "RequestUri": "https://azure-sdk-for-net-test.azconfig.io/kv/abcdef-1672512106?api-version=2026-04-01&label=abcdef",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NToxNyM0ODA0MjAyNg==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "sample value",
        "content_type": null,
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"MBLkCJPWZ_K2pgrPUPt7fY7bI41xJNZa6jb4x_FZMUE\"",
        "Last-Modified": "Wed, 27 May 2026 23:57:06 GMT",
        "Sync-Token": "zAJw6V16=NToxNyM0ODA0MjAyNw==;sn=48042027",
        "x-ms-date": "Wed, 27 May 2026 23:57:06 GMT"
      },
      "ResponseBody": {
        "etag": "MBLkCJPWZ_K2pgrPUPt7fY7bI41xJNZa6jb4x_FZMUE",
        "key": "abcdef-1672512106",
        "label": "abcdef",
        "content_type": null,
        "value": "sample value",
        "description": null,
        "tags": {},
        "locked": false,
        "last_modified": "2026-05-27T23:57:06+00:00"
      }
    },
    {
      "RequestUri": "https://azure-sdk-for-net-test.azconfig.io/labels?api-version=2026-04-01&name=abc%2A",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NToxNyM0ODA0MjAyNw==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.labelset+json; charset=utf-8",
        "Sync-Token": "zAJw6V16=NToxNyM0ODA0MjAyNw==;sn=48042027",
        "x-ms-date": "Wed, 27 May 2026 23:57:06 GMT"
      },
      "ResponseBody": {
        "items": [
          {
            "name": "abcde"
          },
          {
            "name": "abcdef"
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://azure-sdk-for-net-test.azconfig.io/kv/abcdef-1672512106?api-version=2026-04-01&label=abcdef",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NToxNyM0ODA0MjAyOA==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"MBLkCJPWZ_K2pgrPUPt7fY7bI41xJNZa6jb4x_FZMUE\"",
        "Last-Modified": "Wed, 27 May 2026 23:57:06 GMT",
        "Sync-Token": "zAJw6V16=NToxNyM0ODA0MjAyOQ==;sn=48042029",
        "x-ms-date": "Wed, 27 May 2026 23:57:06 GMT"
      },
      "ResponseBody": {
        "etag": "MBLkCJPWZ_K2pgrPUPt7fY7bI41xJNZa6jb4x_FZMUE",
        "key": "abcdef-1672512106",
        "label": "abcdef",
        "content_type": null,
        "value": "sample value",
        "description": null,
        "tags": {},
        "locked": false,
        "last_modified": "2026-05-27T23:57:06+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://azure-sdk-for-net-test.azconfig.io;Id=8ePU;Secret=Kg==",
    "RandomSeed": "1239508348"
  }
}
