{
  "Entries": [
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/kv/keyFields-1864313736?api-version=2023-11-01&label=my_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "my_value",
        "content_type": null,
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"jlWNlJqjYxf3N7bdZm6hfHvDLwlmLxt8Nl0YVw6Dpas\"",
        "Last-Modified": "Thu, 09 Oct 2025 16:33:41 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzU1NTMzMDI0;sn=55533024",
        "x-ms-date": "Thu, 09 Oct 2025 16:33:41 GMT"
      },
      "ResponseBody": {
        "etag": "jlWNlJqjYxf3N7bdZm6hfHvDLwlmLxt8Nl0YVw6Dpas",
        "key": "keyFields-1864313736",
        "label": "my_label",
        "content_type": null,
        "value": "my_value",
        "tags": {},
        "locked": false,
        "last_modified": "2025-10-09T16:33:41+00:00"
      }
    },
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/labels?$select=name&api-version=2023-11-01&name=my_label",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Njo1IzU1NTMzMDI0",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.labelset+json; charset=utf-8",
        "Sync-Token": "zAJw6V16=Njo1IzU1NTMzMDI2;sn=55533026",
        "x-ms-date": "Thu, 09 Oct 2025 16:33:42 GMT"
      },
      "ResponseBody": {
        "items": [
          {
            "name": "my_label"
          }
        ]
      }
    },
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/kv/keyFields-1864313736?api-version=2023-11-01&label=my_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Njo1IzU1NTMzMDI2",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"jlWNlJqjYxf3N7bdZm6hfHvDLwlmLxt8Nl0YVw6Dpas\"",
        "Last-Modified": "Thu, 09 Oct 2025 16:33:41 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzU1NTMzMDI3;sn=55533027",
        "x-ms-date": "Thu, 09 Oct 2025 16:33:42 GMT"
      },
      "ResponseBody": {
        "etag": "jlWNlJqjYxf3N7bdZm6hfHvDLwlmLxt8Nl0YVw6Dpas",
        "key": "keyFields-1864313736",
        "label": "my_label",
        "content_type": null,
        "value": "my_value",
        "tags": {},
        "locked": false,
        "last_modified": "2025-10-09T16:33:41+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t8cdd9157ca7d1363-azconfig-net.azconfig.io;Id=wNKY;Secret=Kg==",
    "RandomSeed": "659202766"
  }
}
