{
  "Entries": [
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/keyFields-2106659110?api-version=2023-11-01&label=my_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "my_value",
        "content_type": null,
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"cE15FK85bqUL-adAD-RZkwLuXz8sB2V_nAsZTN6lH7g\"",
        "Last-Modified": "Fri, 23 Jan 2026 07:16:54 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU3NjAyNQ==;sn=103576025",
        "x-ms-date": "Fri, 23 Jan 2026 07:16:54 GMT"
      },
      "ResponseBody": {
        "etag": "cE15FK85bqUL-adAD-RZkwLuXz8sB2V_nAsZTN6lH7g",
        "key": "keyFields-2106659110",
        "label": "my_label",
        "content_type": null,
        "value": "my_value",
        "tags": {},
        "locked": false,
        "last_modified": "2026-01-23T07:16:54+00:00"
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/labels?$select=uknown_field%2Cunknown_field2&api-version=2023-11-01&name=my_label",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU3NjAyNQ==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.labelset+json; charset=utf-8",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU3NjAyNQ==;sn=103576025",
        "x-ms-date": "Fri, 23 Jan 2026 07:16:54 GMT"
      },
      "ResponseBody": {
        "items": [
          {}
        ]
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/keyFields-2106659110?api-version=2023-11-01&label=my_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU3NjAyNQ==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"cE15FK85bqUL-adAD-RZkwLuXz8sB2V_nAsZTN6lH7g\"",
        "Last-Modified": "Fri, 23 Jan 2026 07:16:54 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU3NjAyNg==;sn=103576026",
        "x-ms-date": "Fri, 23 Jan 2026 07:16:54 GMT"
      },
      "ResponseBody": {
        "etag": "cE15FK85bqUL-adAD-RZkwLuXz8sB2V_nAsZTN6lH7g",
        "key": "keyFields-2106659110",
        "label": "my_label",
        "content_type": null,
        "value": "my_value",
        "tags": {},
        "locked": false,
        "last_modified": "2026-01-23T07:16:54+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t9c954b564de572f9-azconfig-net.azconfig.io;Id=MdvE;Secret=Kg==",
    "RandomSeed": "388314660"
  }
}
