{
  "Entries": [
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/kv/key-abc?api-version=2023-11-01&label=abc",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "abc setting",
        "content_type": null,
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"jTaxGzr1atgfZAkOFh76HyDYkW-LOf5JXfX-JNs3f94\"",
        "Last-Modified": "Tue, 18 Nov 2025 04:29:48 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzU3ODA0NDY1;sn=57804465",
        "x-ms-date": "Tue, 18 Nov 2025 04:29:48 GMT"
      },
      "ResponseBody": {
        "etag": "jTaxGzr1atgfZAkOFh76HyDYkW-LOf5JXfX-JNs3f94",
        "key": "key-abc",
        "label": "abc",
        "content_type": null,
        "value": "abc setting",
        "tags": {},
        "locked": false,
        "last_modified": "2025-11-18T04:29:48+00:00"
      }
    },
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/kv/label-xyz?api-version=2023-11-01&label=xyz",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=Njo1IzU3ODA0NDY1",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "xyz setting",
        "content_type": null,
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"eTjUr-yRBloSkpdzfbaJJwJt8VbqUnhPepvzpLpApvA\"",
        "Last-Modified": "Tue, 18 Nov 2025 04:29:48 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzU3ODA0NDY3;sn=57804467",
        "x-ms-date": "Tue, 18 Nov 2025 04:29:48 GMT"
      },
      "ResponseBody": {
        "etag": "eTjUr-yRBloSkpdzfbaJJwJt8VbqUnhPepvzpLpApvA",
        "key": "label-xyz",
        "label": "xyz",
        "content_type": null,
        "value": "xyz setting",
        "tags": {},
        "locked": false,
        "last_modified": "2025-11-18T04:29:48+00:00"
      }
    },
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/labels?api-version=2023-11-01&name=abc%2Cxyz",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Njo1IzU3ODA0NDY3",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.labelset+json; charset=utf-8",
        "Sync-Token": "zAJw6V16=Njo1IzU3ODA0NDY4;sn=57804468",
        "x-ms-date": "Tue, 18 Nov 2025 04:29:49 GMT"
      },
      "ResponseBody": {
        "items": [
          {
            "name": "abc"
          },
          {
            "name": "xyz"
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/kv/label-xyz?api-version=2023-11-01&label=xyz",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Njo1IzU3ODA0NDY5",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"eTjUr-yRBloSkpdzfbaJJwJt8VbqUnhPepvzpLpApvA\"",
        "Last-Modified": "Tue, 18 Nov 2025 04:29:48 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzU3ODA0NDcw;sn=57804470",
        "x-ms-date": "Tue, 18 Nov 2025 04:29:49 GMT"
      },
      "ResponseBody": {
        "etag": "eTjUr-yRBloSkpdzfbaJJwJt8VbqUnhPepvzpLpApvA",
        "key": "label-xyz",
        "label": "xyz",
        "content_type": null,
        "value": "xyz setting",
        "tags": {},
        "locked": false,
        "last_modified": "2025-11-18T04:29:48+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t8cdd9157ca7d1363-azconfig-net.azconfig.io;Id=wNKY;Secret=Kg==",
    "RandomSeed": "1446091278"
  }
}
