{
  "Entries": [
    {
      "RequestUri": "https://tdfcae3cf5eab7143-azconfig-net.azconfig.io/kv/key-530290738?label=test_label&api-version=2023-10-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"159TduS8m1h6JF_mXXbFuAx75irpixF9NOhnmu3QpEk\"",
        "Last-Modified": "Thu, 13 Jun 2024 22:06:24 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzMwMzgzMjYw;sn=30383260"
      },
      "ResponseBody": {
        "etag": "159TduS8m1h6JF_mXXbFuAx75irpixF9NOhnmu3QpEk",
        "key": "key-530290738",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2024-06-13T22:06:24+00:00"
      }
    },
    {
      "RequestUri": "https://tdfcae3cf5eab7143-azconfig-net.azconfig.io/kv/key-824846577?label=test_label_update&api-version=2023-10-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=Njo1IzMwMzgzMjYw",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"gSuD-O-3BAH1djXzl5Te1BVpvCGBkjy5r_qonAgXcCA\"",
        "Last-Modified": "Thu, 13 Jun 2024 22:06:24 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzMwMzgzMjYx;sn=30383261"
      },
      "ResponseBody": {
        "etag": "gSuD-O-3BAH1djXzl5Te1BVpvCGBkjy5r_qonAgXcCA",
        "key": "key-824846577",
        "label": "test_label_update",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2024-06-13T22:06:24+00:00"
      }
    },
    {
      "RequestUri": "https://tdfcae3cf5eab7143-azconfig-net.azconfig.io/labels?name=test_label%2A&api-version=2023-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Njo1IzMwMzgzMjYx",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.labelset+json; charset=utf-8",
        "Sync-Token": "zAJw6V16=Njo1IzMwMzgzMjYx;sn=30383261"
      },
      "ResponseBody": {
        "items": [
          {
            "name": "test_label"
          },
          {
            "name": "test_label_update"
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://tdfcae3cf5eab7143-azconfig-net.azconfig.io/kv/key-824846577?label=test_label_update&api-version=2023-10-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Njo1IzMwMzgzMjYy",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"gSuD-O-3BAH1djXzl5Te1BVpvCGBkjy5r_qonAgXcCA\"",
        "Last-Modified": "Thu, 13 Jun 2024 22:06:24 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzMwMzgzMjYz;sn=30383263"
      },
      "ResponseBody": {
        "etag": "gSuD-O-3BAH1djXzl5Te1BVpvCGBkjy5r_qonAgXcCA",
        "key": "key-824846577",
        "label": "test_label_update",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2024-06-13T22:06:24+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://tdfcae3cf5eab7143-azconfig-net.azconfig.io;Id=yt5R;Secret=Kg==",
    "RandomSeed": "773723029"
  }
}
