{
  "Entries": [
    {
      "RequestUri": "https://azure-sdk-for-net-test.azconfig.io/kv/key-abc?api-version=2026-04-01&label=abc",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "abc setting",
        "content_type": null,
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"QXi7ejc-LL049xXfm7EVfL75tWXQFqWgSlxRSzIJpEE\"",
        "Last-Modified": "Wed, 27 May 2026 23:57:02 GMT",
        "Sync-Token": "zAJw6V16=NToxNyM0ODA0MTkxMg==;sn=48041912",
        "x-ms-date": "Wed, 27 May 2026 23:57:02 GMT"
      },
      "ResponseBody": {
        "etag": "QXi7ejc-LL049xXfm7EVfL75tWXQFqWgSlxRSzIJpEE",
        "key": "key-abc",
        "label": "abc",
        "content_type": null,
        "value": "abc setting",
        "description": null,
        "tags": {},
        "locked": false,
        "last_modified": "2026-05-27T23:57:02+00:00"
      }
    },
    {
      "RequestUri": "https://azure-sdk-for-net-test.azconfig.io/kv/label-xyz?api-version=2026-04-01&label=xyz",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NToxNyM0ODA0MTkxMg==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "xyz setting",
        "content_type": null,
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"odO2u3maZ7TLsTHknQqIPBpQhGolyzYtJvpf7sYK8Rk\"",
        "Last-Modified": "Wed, 27 May 2026 23:57:02 GMT",
        "Sync-Token": "zAJw6V16=NToxNyM0ODA0MTkxNA==;sn=48041914",
        "x-ms-date": "Wed, 27 May 2026 23:57:02 GMT"
      },
      "ResponseBody": {
        "etag": "odO2u3maZ7TLsTHknQqIPBpQhGolyzYtJvpf7sYK8Rk",
        "key": "label-xyz",
        "label": "xyz",
        "content_type": null,
        "value": "xyz setting",
        "description": null,
        "tags": {},
        "locked": false,
        "last_modified": "2026-05-27T23:57:02+00:00"
      }
    },
    {
      "RequestUri": "https://azure-sdk-for-net-test.azconfig.io/labels?api-version=2026-04-01&name=abc%2Cxyz",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NToxNyM0ODA0MTkxNA==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.labelset+json; charset=utf-8",
        "Sync-Token": "zAJw6V16=NToxNyM0ODA0MTkxNQ==;sn=48041915",
        "x-ms-date": "Wed, 27 May 2026 23:57:02 GMT"
      },
      "ResponseBody": {
        "items": [
          {
            "name": "abc"
          },
          {
            "name": "xyz"
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://azure-sdk-for-net-test.azconfig.io/kv/label-xyz?api-version=2026-04-01&label=xyz",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NToxNyM0ODA0MTkxNg==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"odO2u3maZ7TLsTHknQqIPBpQhGolyzYtJvpf7sYK8Rk\"",
        "Last-Modified": "Wed, 27 May 2026 23:57:02 GMT",
        "Sync-Token": "zAJw6V16=NToxNyM0ODA0MTkxNw==;sn=48041917",
        "x-ms-date": "Wed, 27 May 2026 23:57:02 GMT"
      },
      "ResponseBody": {
        "etag": "odO2u3maZ7TLsTHknQqIPBpQhGolyzYtJvpf7sYK8Rk",
        "key": "label-xyz",
        "label": "xyz",
        "content_type": null,
        "value": "xyz setting",
        "description": null,
        "tags": {},
        "locked": false,
        "last_modified": "2026-05-27T23:57:02+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://azure-sdk-for-net-test.azconfig.io;Id=8ePU;Secret=Kg==",
    "RandomSeed": "1565128812"
  }
}
