{
  "Entries": [
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv/key-abc?api-version=2026-04-01&label=abc",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "value": "abc setting",
        "content_type": null,
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"HXfEJGH_y-ZNaCj4eCn6UBIub3xrCeBj79YAr3vMMaU\"",
        "Last-Modified": "Wed, 10 Jun 2026 18:35:27 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDY4MTUz;sn=67068153",
        "x-ms-date": "Wed, 10 Jun 2026 18:35:27 GMT"
      },
      "ResponseBody": {
        "etag": "HXfEJGH_y-ZNaCj4eCn6UBIub3xrCeBj79YAr3vMMaU",
        "key": "key-abc",
        "label": "abc",
        "content_type": null,
        "value": "abc setting",
        "description": null,
        "tags": {},
        "locked": false,
        "last_modified": "2026-06-10T18:35:27+00:00"
      }
    },
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv/label-xyz?api-version=2026-04-01&label=xyz",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDY4MTUz"
      },
      "RequestBody": {
        "value": "xyz setting",
        "content_type": null,
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"QgYuTa4yCPG8zZiirMprZguBMN4QeWb6xN6WXGaYGrY\"",
        "Last-Modified": "Wed, 10 Jun 2026 18:35:27 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDY4MTU1;sn=67068155",
        "x-ms-date": "Wed, 10 Jun 2026 18:35:27 GMT"
      },
      "ResponseBody": {
        "etag": "QgYuTa4yCPG8zZiirMprZguBMN4QeWb6xN6WXGaYGrY",
        "key": "label-xyz",
        "label": "xyz",
        "content_type": null,
        "value": "xyz setting",
        "description": null,
        "tags": {},
        "locked": false,
        "last_modified": "2026-06-10T18:35:27+00:00"
      }
    },
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/labels?api-version=2026-04-01&name=abc%2Cxyz",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDY4MTU1"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.labelset+json; charset=utf-8",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDY4MTU2;sn=67068156",
        "x-ms-date": "Wed, 10 Jun 2026 18:35:27 GMT"
      },
      "ResponseBody": {
        "items": [
          {
            "name": "abc"
          },
          {
            "name": "xyz"
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv/label-xyz?api-version=2026-04-01&label=xyz",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDY4MTU3"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"QgYuTa4yCPG8zZiirMprZguBMN4QeWb6xN6WXGaYGrY\"",
        "Last-Modified": "Wed, 10 Jun 2026 18:35:27 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDY4MTU4;sn=67068158",
        "x-ms-date": "Wed, 10 Jun 2026 18:35:27 GMT"
      },
      "ResponseBody": {
        "etag": "QgYuTa4yCPG8zZiirMprZguBMN4QeWb6xN6WXGaYGrY",
        "key": "label-xyz",
        "label": "xyz",
        "content_type": null,
        "value": "xyz setting",
        "description": null,
        "tags": {},
        "locked": false,
        "last_modified": "2026-06-10T18:35:27+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_ENDPOINT_STRING": "https://mrm90847047-azconfig-net.azconfig.io",
    "RandomSeed": "776609385"
  }
}
