{
  "Entries": [
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv/key-361941356?api-version=2023-11-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"VtCt6Ys4t9Vjgx59jZ9Q-Bc2z0jxcBuFaRgbNIH5yZQ\"",
        "Last-Modified": "Tue, 09 Jun 2026 22:55:48 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY2OTk1NDMz;sn=66995433",
        "x-ms-date": "Tue, 09 Jun 2026 22:55:48 GMT"
      },
      "ResponseBody": {
        "etag": "VtCt6Ys4t9Vjgx59jZ9Q-Bc2z0jxcBuFaRgbNIH5yZQ",
        "key": "key-361941356",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-06-09T22:55:48+00:00"
      }
    },
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/labels?api-version=2023-11-01&name=test_label",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Mzo1IzY2OTk1NDMz"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.labelset+json; charset=utf-8",
        "Sync-Token": "zAJw6V16=Mzo1IzY2OTk1NDMz;sn=66995433",
        "x-ms-date": "Tue, 09 Jun 2026 22:55:48 GMT"
      },
      "ResponseBody": {
        "items": [
          {
            "name": "test_label"
          }
        ]
      }
    },
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv/key-361941356?api-version=2023-11-01&label=test_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Mzo1IzY2OTk1NDMz"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"VtCt6Ys4t9Vjgx59jZ9Q-Bc2z0jxcBuFaRgbNIH5yZQ\"",
        "Last-Modified": "Tue, 09 Jun 2026 22:55:48 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY2OTk1NDM0;sn=66995434",
        "x-ms-date": "Tue, 09 Jun 2026 22:55:48 GMT"
      },
      "ResponseBody": {
        "etag": "VtCt6Ys4t9Vjgx59jZ9Q-Bc2z0jxcBuFaRgbNIH5yZQ",
        "key": "key-361941356",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-06-09T22:55:48+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_ENDPOINT_STRING": "https://mrm90847047-azconfig-net.azconfig.io",
    "RandomSeed": "2138650747"
  }
}
