{
  "Entries": [
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-1353879687?api-version=2023-11-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"A440KTy4oQdCyNHCRRlVq0qP6OLrUDj-b-pA2oSlZt0\"",
        "Last-Modified": "Thu, 22 Jan 2026 02:02:24 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzQ3NDY1Nw==;sn=103474657",
        "x-ms-date": "Thu, 22 Jan 2026 02:02:24 GMT"
      },
      "ResponseBody": {
        "etag": "A440KTy4oQdCyNHCRRlVq0qP6OLrUDj-b-pA2oSlZt0",
        "key": "key-1353879687",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-01-22T02:02:24+00:00"
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/labels?api-version=2023-11-01&name=test_label",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Accept-Datetime": "Fri, 31 Dec 9999 23:59:59 GMT",
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzQ3NDY1Nw==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.labelset+json; charset=utf-8",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzQ3NDY1Nw==;sn=103474657",
        "x-ms-date": "Thu, 22 Jan 2026 02:02:24 GMT"
      },
      "ResponseBody": {
        "items": [
          {
            "name": "test_label"
          }
        ]
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-1353879687?api-version=2023-11-01&label=test_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzQ3NDY1Nw==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"A440KTy4oQdCyNHCRRlVq0qP6OLrUDj-b-pA2oSlZt0\"",
        "Last-Modified": "Thu, 22 Jan 2026 02:02:24 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzQ3NDY1OA==;sn=103474658",
        "x-ms-date": "Thu, 22 Jan 2026 02:02:24 GMT"
      },
      "ResponseBody": {
        "etag": "A440KTy4oQdCyNHCRRlVq0qP6OLrUDj-b-pA2oSlZt0",
        "key": "key-1353879687",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-01-22T02:02:24+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t9c954b564de572f9-azconfig-net.azconfig.io;Id=MdvE;Secret=Kg==",
    "RandomSeed": "398379966"
  }
}
