{
  "Entries": [
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-abc?api-version=2023-11-01&label=abc",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "abc setting",
        "content_type": null,
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"QTxwHu2IF8L3K-z6uXQuTj-DHNlBfOvf1BE6Y0WWxsQ\"",
        "Last-Modified": "Tue, 23 Dec 2025 05:49:15 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTA0OTg3OA==;sn=101049878",
        "x-ms-date": "Tue, 23 Dec 2025 05:49:15 GMT"
      },
      "ResponseBody": {
        "etag": "QTxwHu2IF8L3K-z6uXQuTj-DHNlBfOvf1BE6Y0WWxsQ",
        "key": "key-abc",
        "label": "abc",
        "content_type": null,
        "value": "abc setting",
        "tags": {},
        "locked": false,
        "last_modified": "2025-12-23T05:49:15+00:00"
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/label-xyz?api-version=2023-11-01&label=xyz",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTA0OTg3OA==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "xyz setting",
        "content_type": null,
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"0lJ7H2d9h2ZM-cqtb4jgHNVW_UhyOTW36kB1vWKtBrk\"",
        "Last-Modified": "Tue, 23 Dec 2025 05:49:16 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTA0OTg4MA==;sn=101049880",
        "x-ms-date": "Tue, 23 Dec 2025 05:49:16 GMT"
      },
      "ResponseBody": {
        "etag": "0lJ7H2d9h2ZM-cqtb4jgHNVW_UhyOTW36kB1vWKtBrk",
        "key": "label-xyz",
        "label": "xyz",
        "content_type": null,
        "value": "xyz setting",
        "tags": {},
        "locked": false,
        "last_modified": "2025-12-23T05:49:16+00:00"
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/labels?api-version=2023-11-01&name=abc%2Cxyz",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTA0OTg4MA==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.labelset+json; charset=utf-8",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTA0OTg4MQ==;sn=101049881",
        "x-ms-date": "Tue, 23 Dec 2025 05:49:16 GMT"
      },
      "ResponseBody": {
        "items": [
          {
            "name": "abc"
          },
          {
            "name": "xyz"
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/label-xyz?api-version=2023-11-01&label=xyz",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTA0OTg4Mg==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"0lJ7H2d9h2ZM-cqtb4jgHNVW_UhyOTW36kB1vWKtBrk\"",
        "Last-Modified": "Tue, 23 Dec 2025 05:49:16 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTA0OTg4Mw==;sn=101049883",
        "x-ms-date": "Tue, 23 Dec 2025 05:49:16 GMT"
      },
      "ResponseBody": {
        "etag": "0lJ7H2d9h2ZM-cqtb4jgHNVW_UhyOTW36kB1vWKtBrk",
        "key": "label-xyz",
        "label": "xyz",
        "content_type": null,
        "value": "xyz setting",
        "tags": {},
        "locked": false,
        "last_modified": "2025-12-23T05:49:16+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t9c954b564de572f9-azconfig-net.azconfig.io;Id=MdvE;Secret=Kg==",
    "RandomSeed": "329400552"
  }
}
