{
  "Entries": [
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-2021102704?api-version=2023-11-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"zHIWsuqOWTcYMKA_XFcJjYzRy11AZdTijOmWFV9aMek\"",
        "Last-Modified": "Thu, 22 Jan 2026 01:34:31 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzQ3MzY0MQ==;sn=103473641",
        "x-ms-date": "Thu, 22 Jan 2026 01:34:31 GMT"
      },
      "ResponseBody": {
        "etag": "zHIWsuqOWTcYMKA_XFcJjYzRy11AZdTijOmWFV9aMek",
        "key": "key-2021102704",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-01-22T01:34:31+00:00"
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/labels?api-version=2023-11-01&name=test_label",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Accept-Datetime": "Fri, 31 Dec 9999 23:59:59 GMT",
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzQ3MzY0MQ==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.labelset+json; charset=utf-8",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzQ3MzY0MQ==;sn=103473641",
        "x-ms-date": "Thu, 22 Jan 2026 01:34:31 GMT"
      },
      "ResponseBody": {
        "items": [
          {
            "name": "test_label"
          }
        ]
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-2021102704?api-version=2023-11-01&label=test_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzQ3MzY0MQ==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"zHIWsuqOWTcYMKA_XFcJjYzRy11AZdTijOmWFV9aMek\"",
        "Last-Modified": "Thu, 22 Jan 2026 01:34:31 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzQ3MzY0Mg==;sn=103473642",
        "x-ms-date": "Thu, 22 Jan 2026 01:34:31 GMT"
      },
      "ResponseBody": {
        "etag": "zHIWsuqOWTcYMKA_XFcJjYzRy11AZdTijOmWFV9aMek",
        "key": "key-2021102704",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-01-22T01:34:31+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t9c954b564de572f9-azconfig-net.azconfig.io;Id=MdvE;Secret=Kg==",
    "RandomSeed": "1114225937"
  }
}
