{
  "Entries": [
    {
      "RequestUri": "https://azure-sdk-for-net-test.azconfig.io/kv/key-727602829?api-version=2026-04-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"4ixWxGHPH8GiDOGlBVMdDLKFFfevQ3ZkHl70SN1oC4E\"",
        "Last-Modified": "Wed, 27 May 2026 23:57:06 GMT",
        "Sync-Token": "zAJw6V16=NToxNyM0ODA0MjAzMA==;sn=48042030",
        "x-ms-date": "Wed, 27 May 2026 23:57:06 GMT"
      },
      "ResponseBody": {
        "etag": "4ixWxGHPH8GiDOGlBVMdDLKFFfevQ3ZkHl70SN1oC4E",
        "key": "key-727602829",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "description": null,
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-05-27T23:57:06+00:00"
      }
    },
    {
      "RequestUri": "https://azure-sdk-for-net-test.azconfig.io/labels?api-version=2026-04-01&name=test_label",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Accept-Datetime": "Fri, 31 Dec 9999 23:59:59 GMT",
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NToxNyM0ODA0MjAzMA==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.labelset+json; charset=utf-8",
        "Sync-Token": "zAJw6V16=NToxNyM0ODA0MjAzMA==;sn=48042030",
        "x-ms-date": "Wed, 27 May 2026 23:57:06 GMT"
      },
      "ResponseBody": {
        "items": [
          {
            "name": "test_label"
          }
        ]
      }
    },
    {
      "RequestUri": "https://azure-sdk-for-net-test.azconfig.io/kv/key-727602829?api-version=2026-04-01&label=test_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NToxNyM0ODA0MjAzMA==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"4ixWxGHPH8GiDOGlBVMdDLKFFfevQ3ZkHl70SN1oC4E\"",
        "Last-Modified": "Wed, 27 May 2026 23:57:06 GMT",
        "Sync-Token": "zAJw6V16=NToxNyM0ODA0MjAzMQ==;sn=48042031",
        "x-ms-date": "Wed, 27 May 2026 23:57:06 GMT"
      },
      "ResponseBody": {
        "etag": "4ixWxGHPH8GiDOGlBVMdDLKFFfevQ3ZkHl70SN1oC4E",
        "key": "key-727602829",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "description": null,
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-05-27T23:57:06+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://azure-sdk-for-net-test.azconfig.io;Id=8ePU;Secret=Kg==",
    "RandomSeed": "1616945957"
  }
}
