{
  "Entries": [
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv/key-abc?api-version=2026-04-01&label=abc",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "value": "abc setting",
        "content_type": null,
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"WKWID4xWm5zxprY1knTcGrlo8Ibk30eb9C0WCfP36EA\"",
        "Last-Modified": "Wed, 10 Jun 2026 18:26:52 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDY1MzIw;sn=67065320",
        "x-ms-date": "Wed, 10 Jun 2026 18:26:52 GMT"
      },
      "ResponseBody": {
        "etag": "WKWID4xWm5zxprY1knTcGrlo8Ibk30eb9C0WCfP36EA",
        "key": "key-abc",
        "label": "abc",
        "content_type": null,
        "value": "abc setting",
        "description": null,
        "tags": {},
        "locked": false,
        "last_modified": "2026-06-10T18:26:52+00:00"
      }
    },
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv/label-xyz?api-version=2026-04-01&label=xyz",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDY1MzIw"
      },
      "RequestBody": {
        "value": "xyz setting",
        "content_type": null,
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"h5WokXIzSh04jGjsXTCcJ2xrO-kclNrKWYhQp_ZPanw\"",
        "Last-Modified": "Wed, 10 Jun 2026 18:26:52 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDY1MzIy;sn=67065322",
        "x-ms-date": "Wed, 10 Jun 2026 18:26:52 GMT"
      },
      "ResponseBody": {
        "etag": "h5WokXIzSh04jGjsXTCcJ2xrO-kclNrKWYhQp_ZPanw",
        "key": "label-xyz",
        "label": "xyz",
        "content_type": null,
        "value": "xyz setting",
        "description": null,
        "tags": {},
        "locked": false,
        "last_modified": "2026-06-10T18:26:52+00:00"
      }
    },
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/labels?api-version=2026-04-01&name=abc%2Cxyz",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDY1MzIy"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.labelset+json; charset=utf-8",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDY1MzIz;sn=67065323",
        "x-ms-date": "Wed, 10 Jun 2026 18:26:52 GMT"
      },
      "ResponseBody": {
        "items": [
          {
            "name": "abc"
          },
          {
            "name": "xyz"
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv/label-xyz?api-version=2026-04-01&label=xyz",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDY1MzI0"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"h5WokXIzSh04jGjsXTCcJ2xrO-kclNrKWYhQp_ZPanw\"",
        "Last-Modified": "Wed, 10 Jun 2026 18:26:52 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDY1MzI2;sn=67065326",
        "x-ms-date": "Wed, 10 Jun 2026 18:26:52 GMT"
      },
      "ResponseBody": {
        "etag": "h5WokXIzSh04jGjsXTCcJ2xrO-kclNrKWYhQp_ZPanw",
        "key": "label-xyz",
        "label": "xyz",
        "content_type": null,
        "value": "xyz setting",
        "description": null,
        "tags": {},
        "locked": false,
        "last_modified": "2026-06-10T18:26:52+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_ENDPOINT_STRING": "https://mrm90847047-azconfig-net.azconfig.io",
    "RandomSeed": "118667844"
  }
}
