{
  "Entries": [
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-1643348578?api-version=2023-11-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"2AHUeSZQBJ4hUcz2PzAJ0uaAKRJ3sK7v5vNknm7UQKk\"",
        "Last-Modified": "Tue, 23 Dec 2025 05:49:15 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTA0OTg3Ng==;sn=101049876",
        "x-ms-date": "Tue, 23 Dec 2025 05:49:15 GMT"
      },
      "ResponseBody": {
        "etag": "2AHUeSZQBJ4hUcz2PzAJ0uaAKRJ3sK7v5vNknm7UQKk",
        "key": "key-1643348578",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2025-12-23T05:49:15+00:00"
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/labels?api-version=2023-11-01&name=test_label",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTA0OTg3Ng==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.labelset+json; charset=utf-8",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTA0OTg3Ng==;sn=101049876",
        "x-ms-date": "Tue, 23 Dec 2025 05:49:15 GMT"
      },
      "ResponseBody": {
        "items": [
          {
            "name": "test_label"
          }
        ]
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-1643348578?api-version=2023-11-01&label=test_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTA0OTg3Ng==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"2AHUeSZQBJ4hUcz2PzAJ0uaAKRJ3sK7v5vNknm7UQKk\"",
        "Last-Modified": "Tue, 23 Dec 2025 05:49:15 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTA0OTg3Nw==;sn=101049877",
        "x-ms-date": "Tue, 23 Dec 2025 05:49:15 GMT"
      },
      "ResponseBody": {
        "etag": "2AHUeSZQBJ4hUcz2PzAJ0uaAKRJ3sK7v5vNknm7UQKk",
        "key": "key-1643348578",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2025-12-23T05:49:15+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t9c954b564de572f9-azconfig-net.azconfig.io;Id=MdvE;Secret=Kg==",
    "RandomSeed": "67344231"
  }
}
