{
  "Entries": [
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/kv/key-1393460507?api-version=2023-11-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"qsOM10e7V5VkJXj8nf-q7QqQCe3Q_xCqJHxvi5gASTY\"",
        "Last-Modified": "Mon, 17 Nov 2025 16:56:39 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzU3NzY0ODgz;sn=57764883",
        "x-ms-date": "Mon, 17 Nov 2025 16:56:39 GMT"
      },
      "ResponseBody": {
        "etag": "qsOM10e7V5VkJXj8nf-q7QqQCe3Q_xCqJHxvi5gASTY",
        "key": "key-1393460507",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2025-11-17T16:56:39+00:00"
      }
    },
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/labels?api-version=2023-11-01&name=test_label",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Accept-Datetime": "Fri, 31 Dec 9999 23:59:59 GMT",
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Njo1IzU3NzY0ODgz",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.labelset+json; charset=utf-8",
        "Sync-Token": "zAJw6V16=Njo1IzU3NzY0ODgz;sn=57764883",
        "x-ms-date": "Mon, 17 Nov 2025 16:56:39 GMT"
      },
      "ResponseBody": {
        "items": [
          {
            "name": "test_label"
          }
        ]
      }
    },
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/kv/key-1393460507?api-version=2023-11-01&label=test_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Njo1IzU3NzY0ODgz",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"qsOM10e7V5VkJXj8nf-q7QqQCe3Q_xCqJHxvi5gASTY\"",
        "Last-Modified": "Mon, 17 Nov 2025 16:56:39 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzU3NzY0ODg0;sn=57764884",
        "x-ms-date": "Mon, 17 Nov 2025 16:56:39 GMT"
      },
      "ResponseBody": {
        "etag": "qsOM10e7V5VkJXj8nf-q7QqQCe3Q_xCqJHxvi5gASTY",
        "key": "key-1393460507",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2025-11-17T16:56:39+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t8cdd9157ca7d1363-azconfig-net.azconfig.io;Id=wNKY;Secret=Kg==",
    "RandomSeed": "240750648"
  }
}
