{
  "Entries": [
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv/key-1942141801?api-version=2023-11-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"6UMMhVChQc7S504bc1PouhvgXjbmWuJzXiG9aJhYbG8\"",
        "Last-Modified": "Tue, 09 Jun 2026 23:03:39 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY2OTk2Njcy;sn=66996672",
        "x-ms-date": "Tue, 09 Jun 2026 23:03:39 GMT"
      },
      "ResponseBody": {
        "etag": "6UMMhVChQc7S504bc1PouhvgXjbmWuJzXiG9aJhYbG8",
        "key": "key-1942141801",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-06-09T23:03:39+00:00"
      }
    },
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/labels?api-version=2023-11-01&name=test_label",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Accept-Datetime": "Fri, 31 Dec 9999 23:59:59 GMT",
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Mzo1IzY2OTk2Njcy"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.labelset+json; charset=utf-8",
        "Sync-Token": "zAJw6V16=Mzo1IzY2OTk2Njcy;sn=66996672",
        "x-ms-date": "Tue, 09 Jun 2026 23:03:39 GMT"
      },
      "ResponseBody": {
        "items": [
          {
            "name": "test_label"
          }
        ]
      }
    },
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv/key-1942141801?api-version=2023-11-01&label=test_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Mzo1IzY2OTk2Njcy"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"6UMMhVChQc7S504bc1PouhvgXjbmWuJzXiG9aJhYbG8\"",
        "Last-Modified": "Tue, 09 Jun 2026 23:03:39 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY2OTk2Njcz;sn=66996673",
        "x-ms-date": "Tue, 09 Jun 2026 23:03:39 GMT"
      },
      "ResponseBody": {
        "etag": "6UMMhVChQc7S504bc1PouhvgXjbmWuJzXiG9aJhYbG8",
        "key": "key-1942141801",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-06-09T23:03:39+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_ENDPOINT_STRING": "https://mrm90847047-azconfig-net.azconfig.io",
    "RandomSeed": "1257202416"
  }
}
