{
  "Entries": [
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/abcde-1649523263?api-version=2023-11-01&label=abcde",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "sample value",
        "content_type": null,
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"obc59Em12kuomNbCZIe9K8szGUkfhtdMsEMcNGWbxC8\"",
        "Last-Modified": "Tue, 23 Dec 2025 05:43:45 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTA0OTUyMw==;sn=101049523",
        "x-ms-date": "Tue, 23 Dec 2025 05:43:45 GMT"
      },
      "ResponseBody": {
        "etag": "obc59Em12kuomNbCZIe9K8szGUkfhtdMsEMcNGWbxC8",
        "key": "abcde-1649523263",
        "label": "abcde",
        "content_type": null,
        "value": "sample value",
        "tags": {},
        "locked": false,
        "last_modified": "2025-12-23T05:43:45+00:00"
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/abcdef-531947704?api-version=2023-11-01&label=abcdef",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTA0OTUyMw==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "sample value",
        "content_type": null,
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"64PigVSBIlEwgykrxAwa5yDMY7jqaWhHtACoeE-2PSc\"",
        "Last-Modified": "Tue, 23 Dec 2025 05:43:45 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTA0OTUyNA==;sn=101049524",
        "x-ms-date": "Tue, 23 Dec 2025 05:43:45 GMT"
      },
      "ResponseBody": {
        "etag": "64PigVSBIlEwgykrxAwa5yDMY7jqaWhHtACoeE-2PSc",
        "key": "abcdef-531947704",
        "label": "abcdef",
        "content_type": null,
        "value": "sample value",
        "tags": {},
        "locked": false,
        "last_modified": "2025-12-23T05:43:45+00:00"
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/labels?api-version=2023-11-01&name=abc%2A",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTA0OTUyNA==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.labelset+json; charset=utf-8",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTA0OTUyNA==;sn=101049524",
        "x-ms-date": "Tue, 23 Dec 2025 05:43:45 GMT"
      },
      "ResponseBody": {
        "items": [
          {
            "name": "abcde"
          },
          {
            "name": "abcdef"
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/abcdef-531947704?api-version=2023-11-01&label=abcdef",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTA0OTUyNQ==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"64PigVSBIlEwgykrxAwa5yDMY7jqaWhHtACoeE-2PSc\"",
        "Last-Modified": "Tue, 23 Dec 2025 05:43:45 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTA0OTUyNg==;sn=101049526",
        "x-ms-date": "Tue, 23 Dec 2025 05:43:45 GMT"
      },
      "ResponseBody": {
        "etag": "64PigVSBIlEwgykrxAwa5yDMY7jqaWhHtACoeE-2PSc",
        "key": "abcdef-531947704",
        "label": "abcdef",
        "content_type": null,
        "value": "sample value",
        "tags": {},
        "locked": false,
        "last_modified": "2025-12-23T05:43:45+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t9c954b564de572f9-azconfig-net.azconfig.io;Id=MdvE;Secret=Kg==",
    "RandomSeed": "1574125818"
  }
}
