{
  "Entries": [
    {
      "RequestUri": "https://tdfcae3cf5eab7143-azconfig-net.azconfig.io/kv/abcde-60498621?label=abcde&api-version=2023-10-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "sample value",
        "content_type": null,
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"RkuwzyYgRjJeXF27cBeufR6x7nm1oHx_SWiuCoUOfk8\"",
        "Last-Modified": "Fri, 14 Jun 2024 14:37:35 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzMwNDE1Njk5;sn=30415699"
      },
      "ResponseBody": {
        "etag": "RkuwzyYgRjJeXF27cBeufR6x7nm1oHx_SWiuCoUOfk8",
        "key": "abcde-60498621",
        "label": "abcde",
        "content_type": null,
        "value": "sample value",
        "tags": {},
        "locked": false,
        "last_modified": "2024-06-14T14:37:35+00:00"
      }
    },
    {
      "RequestUri": "https://tdfcae3cf5eab7143-azconfig-net.azconfig.io/kv/abcdef-1958825493?label=abcdef&api-version=2023-10-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=Njo1IzMwNDE1Njk5",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "sample value",
        "content_type": null,
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"umItShRq6ZOfPU7RTmU-Tpxg3btJN-NjeIhLcqXuWik\"",
        "Last-Modified": "Fri, 14 Jun 2024 14:37:35 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzMwNDE1NzAw;sn=30415700"
      },
      "ResponseBody": {
        "etag": "umItShRq6ZOfPU7RTmU-Tpxg3btJN-NjeIhLcqXuWik",
        "key": "abcdef-1958825493",
        "label": "abcdef",
        "content_type": null,
        "value": "sample value",
        "tags": {},
        "locked": false,
        "last_modified": "2024-06-14T14:37:35+00:00"
      }
    },
    {
      "RequestUri": "https://tdfcae3cf5eab7143-azconfig-net.azconfig.io/labels?name=abc%2A&api-version=2023-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Njo1IzMwNDE1NzAw",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.labelset+json; charset=utf-8",
        "Sync-Token": "zAJw6V16=Njo1IzMwNDE1NzAw;sn=30415700"
      },
      "ResponseBody": {
        "items": [
          {
            "name": "abcde"
          },
          {
            "name": "abcdef"
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://tdfcae3cf5eab7143-azconfig-net.azconfig.io/kv/abcdef-1958825493?label=abcdef&api-version=2023-10-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Njo1IzMwNDE1NzAx",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"umItShRq6ZOfPU7RTmU-Tpxg3btJN-NjeIhLcqXuWik\"",
        "Last-Modified": "Fri, 14 Jun 2024 14:37:35 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzMwNDE1NzAy;sn=30415702"
      },
      "ResponseBody": {
        "etag": "umItShRq6ZOfPU7RTmU-Tpxg3btJN-NjeIhLcqXuWik",
        "key": "abcdef-1958825493",
        "label": "abcdef",
        "content_type": null,
        "value": "sample value",
        "tags": {},
        "locked": false,
        "last_modified": "2024-06-14T14:37:35+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://tdfcae3cf5eab7143-azconfig-net.azconfig.io;Id=yt5R;Secret=Kg==",
    "RandomSeed": "326805156"
  }
}
