{
  "Entries": [
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/abcde-1478583838?api-version=2023-11-01&label=abcde",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "sample value",
        "content_type": null,
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"Q4_0Hres01PzGn6LkG7A49Igl_VuL44mNuhtN-DW08w\"",
        "Last-Modified": "Mon, 26 Jan 2026 05:41:35 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzg1MTI1MA==;sn=103851250",
        "x-ms-date": "Mon, 26 Jan 2026 05:41:35 GMT"
      },
      "ResponseBody": {
        "etag": "Q4_0Hres01PzGn6LkG7A49Igl_VuL44mNuhtN-DW08w",
        "key": "abcde-1478583838",
        "label": "abcde",
        "content_type": null,
        "value": "sample value",
        "tags": {},
        "locked": false,
        "last_modified": "2026-01-26T05:41:35+00:00"
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/abcdef-2123769581?api-version=2023-11-01&label=abcdef",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzg1MTI1MA==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "sample value",
        "content_type": null,
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"Rmlex5ouZYsIMkMDGJfLyAXUxGWXxIUdeZT7VC3JSFo\"",
        "Last-Modified": "Mon, 26 Jan 2026 05:41:35 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzg1MTI1MQ==;sn=103851251",
        "x-ms-date": "Mon, 26 Jan 2026 05:41:35 GMT"
      },
      "ResponseBody": {
        "etag": "Rmlex5ouZYsIMkMDGJfLyAXUxGWXxIUdeZT7VC3JSFo",
        "key": "abcdef-2123769581",
        "label": "abcdef",
        "content_type": null,
        "value": "sample value",
        "tags": {},
        "locked": false,
        "last_modified": "2026-01-26T05:41:35+00:00"
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/labels?api-version=2023-11-01&name=abc%2A",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzg1MTI1MQ==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.labelset+json; charset=utf-8",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzg1MTI1MQ==;sn=103851251",
        "x-ms-date": "Mon, 26 Jan 2026 05:41:35 GMT"
      },
      "ResponseBody": {
        "items": [
          {
            "name": "abcde"
          },
          {
            "name": "abcdef"
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/abcdef-2123769581?api-version=2023-11-01&label=abcdef",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzg1MTI1Mg==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"Rmlex5ouZYsIMkMDGJfLyAXUxGWXxIUdeZT7VC3JSFo\"",
        "Last-Modified": "Mon, 26 Jan 2026 05:41:35 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzg1MTI1Mw==;sn=103851253",
        "x-ms-date": "Mon, 26 Jan 2026 05:41:36 GMT"
      },
      "ResponseBody": {
        "etag": "Rmlex5ouZYsIMkMDGJfLyAXUxGWXxIUdeZT7VC3JSFo",
        "key": "abcdef-2123769581",
        "label": "abcdef",
        "content_type": null,
        "value": "sample value",
        "tags": {},
        "locked": false,
        "last_modified": "2026-01-26T05:41:35+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t9c954b564de572f9-azconfig-net.azconfig.io;Id=MdvE;Secret=Kg==",
    "RandomSeed": "1952661269"
  }
}
