{
  "Entries": [
    {
      "RequestUri": "https://azure-sdk-for-net-test.azconfig.io/kv/keyFields-330656661?api-version=2026-04-01&label=my_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "my_value",
        "content_type": null,
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"x0X4AsbFzx2HvQs9WR60TpRwDg4LlXNgRetyhzfxVCU\"",
        "Last-Modified": "Fri, 29 May 2026 19:54:37 GMT",
        "Sync-Token": "zAJw6V16=NToxNyM0ODE0ODU0MA==;sn=48148540",
        "x-ms-date": "Fri, 29 May 2026 19:54:37 GMT"
      },
      "ResponseBody": {
        "etag": "x0X4AsbFzx2HvQs9WR60TpRwDg4LlXNgRetyhzfxVCU",
        "key": "keyFields-330656661",
        "label": "my_label",
        "content_type": null,
        "value": "my_value",
        "description": null,
        "tags": {},
        "locked": false,
        "last_modified": "2026-05-29T19:54:37+00:00"
      }
    },
    {
      "RequestUri": "https://azure-sdk-for-net-test.azconfig.io/labels?$select=uknown_field%2Cunknown_field2&api-version=2026-04-01&name=my_label",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NToxNyM0ODE0ODU0MA==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.labelset+json; charset=utf-8",
        "Sync-Token": "zAJw6V16=NToxNyM0ODE0ODU0MA==;sn=48148540",
        "x-ms-date": "Fri, 29 May 2026 19:54:37 GMT"
      },
      "ResponseBody": {
        "items": [
          {}
        ]
      }
    },
    {
      "RequestUri": "https://azure-sdk-for-net-test.azconfig.io/kv/keyFields-330656661?api-version=2026-04-01&label=my_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NToxNyM0ODE0ODU0MA==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"x0X4AsbFzx2HvQs9WR60TpRwDg4LlXNgRetyhzfxVCU\"",
        "Last-Modified": "Fri, 29 May 2026 19:54:37 GMT",
        "Sync-Token": "zAJw6V16=NToxNyM0ODE0ODU0MQ==;sn=48148541",
        "x-ms-date": "Fri, 29 May 2026 19:54:37 GMT"
      },
      "ResponseBody": {
        "etag": "x0X4AsbFzx2HvQs9WR60TpRwDg4LlXNgRetyhzfxVCU",
        "key": "keyFields-330656661",
        "label": "my_label",
        "content_type": null,
        "value": "my_value",
        "description": null,
        "tags": {},
        "locked": false,
        "last_modified": "2026-05-29T19:54:37+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://azure-sdk-for-net-test.azconfig.io;Id=8ePU;Secret=Kg==",
    "RandomSeed": "1738650063"
  }
}
