{
  "Entries": [
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/kv/keyFields-637455137?api-version=2023-11-01&label=my_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "my_value",
        "content_type": null,
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"PBYlF_FuCsxuTFom-CdaYRHRwfhbgpaETsIOgq4Tt3M\"",
        "Last-Modified": "Thu, 09 Oct 2025 16:33:42 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzU1NTMzMDI4;sn=55533028",
        "x-ms-date": "Thu, 09 Oct 2025 16:33:42 GMT"
      },
      "ResponseBody": {
        "etag": "PBYlF_FuCsxuTFom-CdaYRHRwfhbgpaETsIOgq4Tt3M",
        "key": "keyFields-637455137",
        "label": "my_label",
        "content_type": null,
        "value": "my_value",
        "tags": {},
        "locked": false,
        "last_modified": "2025-10-09T16:33:42+00:00"
      }
    },
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/labels?$select=uknown_field%2Cunknown_field2&api-version=2023-11-01&name=my_label",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Njo1IzU1NTMzMDI4",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.labelset+json; charset=utf-8",
        "Sync-Token": "zAJw6V16=Njo1IzU1NTMzMDI4;sn=55533028",
        "x-ms-date": "Thu, 09 Oct 2025 16:33:42 GMT"
      },
      "ResponseBody": {
        "items": [
          {}
        ]
      }
    },
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/kv/keyFields-637455137?api-version=2023-11-01&label=my_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Njo1IzU1NTMzMDI4",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"PBYlF_FuCsxuTFom-CdaYRHRwfhbgpaETsIOgq4Tt3M\"",
        "Last-Modified": "Thu, 09 Oct 2025 16:33:42 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzU1NTMzMDMz;sn=55533033",
        "x-ms-date": "Thu, 09 Oct 2025 16:33:42 GMT"
      },
      "ResponseBody": {
        "etag": "PBYlF_FuCsxuTFom-CdaYRHRwfhbgpaETsIOgq4Tt3M",
        "key": "keyFields-637455137",
        "label": "my_label",
        "content_type": null,
        "value": "my_value",
        "tags": {},
        "locked": false,
        "last_modified": "2025-10-09T16:33:42+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t8cdd9157ca7d1363-azconfig-net.azconfig.io;Id=wNKY;Secret=Kg==",
    "RandomSeed": "1283932360"
  }
}
