{
  "Entries": [
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv/key-1485323900?api-version=2023-11-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"8Uklkqk8oAEaYM-LxW6tV9HKGjF2hdxwxq4qohCJyg4\"",
        "Last-Modified": "Tue, 09 Jun 2026 22:56:10 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY2OTk1NTYy;sn=66995562",
        "x-ms-date": "Tue, 09 Jun 2026 22:56:10 GMT"
      },
      "ResponseBody": {
        "etag": "8Uklkqk8oAEaYM-LxW6tV9HKGjF2hdxwxq4qohCJyg4",
        "key": "key-1485323900",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-06-09T22:56:10+00:00"
      }
    },
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv/key-1485323900?api-version=2023-11-01&label=test_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Mzo1IzY2OTk1NTYy"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"8Uklkqk8oAEaYM-LxW6tV9HKGjF2hdxwxq4qohCJyg4\"",
        "Last-Modified": "Tue, 09 Jun 2026 22:56:10 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY2OTk1NTYz;sn=66995563",
        "x-ms-date": "Tue, 09 Jun 2026 22:56:10 GMT"
      },
      "ResponseBody": {
        "etag": "8Uklkqk8oAEaYM-LxW6tV9HKGjF2hdxwxq4qohCJyg4",
        "key": "key-1485323900",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-06-09T22:56:10+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_ENDPOINT_STRING": "https://mrm90847047-azconfig-net.azconfig.io",
    "RandomSeed": "316762673"
  }
}
