{
  "Entries": [
    {
      "RequestUri": "https://appconfig-canary-2023-10-01.azconfig.io/kv/key-2059371581?label=test_label\u0026api-version=2023-10-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "b11OQu6GthUatwGXUIKHHSRVyik0TdrUk5kZm3yZd2A="
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022cZ6dpXZiWY9u7CpX85-YOvXd6bRvqOAuqpNIlLualPk\u0022",
        "Last-Modified": "Fri, 03 Nov 2023 20:14:45 GMT",
        "Sync-Token": "zAJw6V16=NjoxNSM1MzM5NjEx;sn=5339611"
      },
      "ResponseBody": {
        "etag": "cZ6dpXZiWY9u7CpX85-YOvXd6bRvqOAuqpNIlLualPk",
        "key": "key-2059371581",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2023-11-03T20:14:45\u002B00:00"
      }
    },
    {
      "RequestUri": "https://appconfig-canary-2023-10-01.azconfig.io/kv/key-2059371581?label=test_label_update\u0026api-version=2023-10-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NjoxNSM1MzM5NjEx",
        "x-ms-content-sha256": "b11OQu6GthUatwGXUIKHHSRVyik0TdrUk5kZm3yZd2A="
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022J6ty8OeOEddU2piXc-Rw7LH6a5rDLEusIyEOPdkZ8jw\u0022",
        "Last-Modified": "Fri, 03 Nov 2023 20:14:45 GMT",
        "Sync-Token": "zAJw6V16=NjoxNSM1MzM5NjEy;sn=5339612"
      },
      "ResponseBody": {
        "etag": "J6ty8OeOEddU2piXc-Rw7LH6a5rDLEusIyEOPdkZ8jw",
        "key": "key-2059371581",
        "label": "test_label_update",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2023-11-03T20:14:45\u002B00:00"
      }
    },
    {
      "RequestUri": "https://appconfig-canary-2023-10-01.azconfig.io/revisions?key=key-2059371581\u0026label=test_label_update\u0026api-version=2023-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NjoxNSM1MzM5NjEy",
        "x-ms-content-sha256": "47DEQpj8HBSa\u002B/TImW\u002B5JCeuQeRkm5NMpJWZG3hSuFU="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset\u002Bjson; charset=utf-8",
        "ETag": "\u0022bJ3HGYvm_fT_nrfvehDCcgEAfwaWysDcZ49IBXC1ZSk\u0022",
        "Sync-Token": "zAJw6V16=NjoxNSM1MzM5NjEy;sn=5339612"
      },
      "ResponseBody": {
        "etag": "bJ3HGYvm_fT_nrfvehDCcgEAfwaWysDcZ49IBXC1ZSk",
        "items": [
          {
            "etag": "J6ty8OeOEddU2piXc-Rw7LH6a5rDLEusIyEOPdkZ8jw",
            "key": "key-2059371581",
            "label": "test_label_update",
            "content_type": "test_content_type",
            "value": "test_value",
            "tags": {
              "tag1": "value1",
              "tag2": "value2"
            },
            "locked": false,
            "last_modified": "2023-11-03T20:14:45\u002B00:00"
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://appconfig-canary-2023-10-01.azconfig.io/kv/key-2059371581?label=test_label_update\u0026api-version=2023-10-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NjoxNSM1MzM5NjEz",
        "x-ms-content-sha256": "47DEQpj8HBSa\u002B/TImW\u002B5JCeuQeRkm5NMpJWZG3hSuFU="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022J6ty8OeOEddU2piXc-Rw7LH6a5rDLEusIyEOPdkZ8jw\u0022",
        "Last-Modified": "Fri, 03 Nov 2023 20:14:45 GMT",
        "Sync-Token": "zAJw6V16=NjoxNSM1MzM5NjE0;sn=5339614"
      },
      "ResponseBody": {
        "etag": "J6ty8OeOEddU2piXc-Rw7LH6a5rDLEusIyEOPdkZ8jw",
        "key": "key-2059371581",
        "label": "test_label_update",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2023-11-03T20:14:45\u002B00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://appconfig-canary-2023-10-01.azconfig.io;Id=0VlC;Secret=Kg==",
    "RandomSeed": "439604171"
  }
}
