{
  "Entries": [
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-1285855017?api-version=2023-11-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"mtAs0z5UlIWivdFhoCotOPIaWmxLdTQdE2psK4OJiAo\"",
        "Last-Modified": "Mon, 26 Jan 2026 05:48:08 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzg1MjM4Ng==;sn=103852386",
        "x-ms-date": "Mon, 26 Jan 2026 05:48:08 GMT"
      },
      "ResponseBody": {
        "etag": "mtAs0z5UlIWivdFhoCotOPIaWmxLdTQdE2psK4OJiAo",
        "key": "key-1285855017",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-01-26T05:48:08+00:00"
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-1285855017?api-version=2023-11-01&label=test_label_update",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzg1MjM4Ng==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"syxbk0RAfjm0ErxUytpB4PQICxcoC9a0g-aTFwMlZ6Q\"",
        "Last-Modified": "Mon, 26 Jan 2026 05:48:08 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzg1MjM4Nw==;sn=103852387",
        "x-ms-date": "Mon, 26 Jan 2026 05:48:08 GMT"
      },
      "ResponseBody": {
        "etag": "syxbk0RAfjm0ErxUytpB4PQICxcoC9a0g-aTFwMlZ6Q",
        "key": "key-1285855017",
        "label": "test_label_update",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-01-26T05:48:08+00:00"
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/revisions?api-version=2023-11-01&key=key-1285855017&label=test_label_update",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzg1MjM4Nw==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"-lLsAGRKEYSGiK_pf371VfCDRFSURZzwyPq36UrOB8g\"",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzg1MjM4Nw==;sn=103852387",
        "x-ms-date": "Mon, 26 Jan 2026 05:48:09 GMT"
      },
      "ResponseBody": {
        "etag": "-lLsAGRKEYSGiK_pf371VfCDRFSURZzwyPq36UrOB8g",
        "items": [
          {
            "etag": "syxbk0RAfjm0ErxUytpB4PQICxcoC9a0g-aTFwMlZ6Q",
            "key": "key-1285855017",
            "label": "test_label_update",
            "content_type": "test_content_type",
            "value": "test_value",
            "tags": {
              "tag1": "value1",
              "tag2": "value2"
            },
            "locked": false,
            "last_modified": "2026-01-26T05:48:08+00:00"
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-1285855017?api-version=2023-11-01&label=test_label_update",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzg1MjM4OA==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"syxbk0RAfjm0ErxUytpB4PQICxcoC9a0g-aTFwMlZ6Q\"",
        "Last-Modified": "Mon, 26 Jan 2026 05:48:08 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzg1MjM4OQ==;sn=103852389",
        "x-ms-date": "Mon, 26 Jan 2026 05:48:09 GMT"
      },
      "ResponseBody": {
        "etag": "syxbk0RAfjm0ErxUytpB4PQICxcoC9a0g-aTFwMlZ6Q",
        "key": "key-1285855017",
        "label": "test_label_update",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-01-26T05:48:08+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t9c954b564de572f9-azconfig-net.azconfig.io;Id=MdvE;Secret=Kg==",
    "RandomSeed": "1148768427"
  }
}
