{
  "Entries": [
    {
      "RequestUri": "https://appconfig-canary-2023-10-01.azconfig.io/kv/key-1767833176?label=test_label\u0026api-version=2023-10-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "b11OQu6GthUatwGXUIKHHSRVyik0TdrUk5kZm3yZd2A="
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022HUlITOgNtbOs7NGp2oNIK7JL-3S2Fh6mxZCZXZ3T3MM\u0022",
        "Last-Modified": "Fri, 03 Nov 2023 20:10:27 GMT",
        "Sync-Token": "zAJw6V16=NjoxNSM1MzM5MzUy;sn=5339352"
      },
      "ResponseBody": {
        "etag": "HUlITOgNtbOs7NGp2oNIK7JL-3S2Fh6mxZCZXZ3T3MM",
        "key": "key-1767833176",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2023-11-03T20:10:27\u002B00:00"
      }
    },
    {
      "RequestUri": "https://appconfig-canary-2023-10-01.azconfig.io/kv/key-1767833176?label=test_label_update\u0026api-version=2023-10-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NjoxNSM1MzM5MzUy",
        "x-ms-content-sha256": "b11OQu6GthUatwGXUIKHHSRVyik0TdrUk5kZm3yZd2A="
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022pxQ_1gs4UPikrD2y9hQEDKn1BpFtU8Ed20CMsEH_YvY\u0022",
        "Last-Modified": "Fri, 03 Nov 2023 20:10:27 GMT",
        "Sync-Token": "zAJw6V16=NjoxNSM1MzM5MzUz;sn=5339353"
      },
      "ResponseBody": {
        "etag": "pxQ_1gs4UPikrD2y9hQEDKn1BpFtU8Ed20CMsEH_YvY",
        "key": "key-1767833176",
        "label": "test_label_update",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2023-11-03T20:10:27\u002B00:00"
      }
    },
    {
      "RequestUri": "https://appconfig-canary-2023-10-01.azconfig.io/revisions?key=key-1767833176\u0026label=test_label_update\u0026api-version=2023-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NjoxNSM1MzM5MzUz",
        "x-ms-content-sha256": "47DEQpj8HBSa\u002B/TImW\u002B5JCeuQeRkm5NMpJWZG3hSuFU="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset\u002Bjson; charset=utf-8",
        "ETag": "\u0022CiF8hWJHPtumXXPy7CQgYlHrQwYDYkjliQyZa-SAl58\u0022",
        "Sync-Token": "zAJw6V16=NjoxNSM1MzM5MzUz;sn=5339353"
      },
      "ResponseBody": {
        "etag": "CiF8hWJHPtumXXPy7CQgYlHrQwYDYkjliQyZa-SAl58",
        "items": [
          {
            "etag": "pxQ_1gs4UPikrD2y9hQEDKn1BpFtU8Ed20CMsEH_YvY",
            "key": "key-1767833176",
            "label": "test_label_update",
            "content_type": "test_content_type",
            "value": "test_value",
            "tags": {
              "tag1": "value1",
              "tag2": "value2"
            },
            "locked": false,
            "last_modified": "2023-11-03T20:10:27\u002B00:00"
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://appconfig-canary-2023-10-01.azconfig.io/kv/key-1767833176?label=test_label_update\u0026api-version=2023-10-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NjoxNSM1MzM5MzU0",
        "x-ms-content-sha256": "47DEQpj8HBSa\u002B/TImW\u002B5JCeuQeRkm5NMpJWZG3hSuFU="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022pxQ_1gs4UPikrD2y9hQEDKn1BpFtU8Ed20CMsEH_YvY\u0022",
        "Last-Modified": "Fri, 03 Nov 2023 20:10:27 GMT",
        "Sync-Token": "zAJw6V16=NjoxNSM1MzM5MzU1;sn=5339355"
      },
      "ResponseBody": {
        "etag": "pxQ_1gs4UPikrD2y9hQEDKn1BpFtU8Ed20CMsEH_YvY",
        "key": "key-1767833176",
        "label": "test_label_update",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2023-11-03T20:10:27\u002B00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://appconfig-canary-2023-10-01.azconfig.io;Id=0VlC;Secret=Kg==",
    "RandomSeed": "2121911040"
  }
}
