{
  "Entries": [
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-1373715417?api-version=2023-11-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"zP5TZXtsp_ixvFCZXuRt5J3csZ9zfSPTeM6EWHHbRb4\"",
        "Last-Modified": "Thu, 22 Jan 2026 02:02:27 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzQ3NDY3OQ==;sn=103474679",
        "x-ms-date": "Thu, 22 Jan 2026 02:02:27 GMT"
      },
      "ResponseBody": {
        "etag": "zP5TZXtsp_ixvFCZXuRt5J3csZ9zfSPTeM6EWHHbRb4",
        "key": "key-1373715417",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-01-22T02:02:27+00:00"
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-1373715417?api-version=2023-11-01&label=test_label_update",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzQ3NDY3OQ==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "foo": "bar",
          "foo2": "bar2",
          "foo3": "bar3",
          "foo4": "bar4",
          "foo5": "bar5"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"qqv0B-Qj2OOrFGIXY2XY1_Q5GaaADn5wZT1FH35XQSs\"",
        "Last-Modified": "Thu, 22 Jan 2026 02:02:28 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzQ3NDY4MA==;sn=103474680",
        "x-ms-date": "Thu, 22 Jan 2026 02:02:28 GMT"
      },
      "ResponseBody": {
        "etag": "qqv0B-Qj2OOrFGIXY2XY1_Q5GaaADn5wZT1FH35XQSs",
        "key": "key-1373715417",
        "label": "test_label_update",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "foo": "bar",
          "foo2": "bar2",
          "foo3": "bar3",
          "foo4": "bar4",
          "foo5": "bar5"
        },
        "locked": false,
        "last_modified": "2026-01-22T02:02:28+00:00"
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/revisions?api-version=2023-11-01&key=key-1373715417&tags=foo%3Dbar&tags=foo2%3Dbar2&tags=foo3%3Dbar3&tags=foo4%3Dbar4&tags=foo5%3Dbar5",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Accept-Datetime": "Fri, 31 Dec 9999 23:59:59 GMT",
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzQ3NDY4MA==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"U6xyBgFZLhpngytrvY60ew50PfWVzfFaeZsKywlZEkU\"",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzQ3NDY4MA==;sn=103474680",
        "x-ms-date": "Thu, 22 Jan 2026 02:02:28 GMT"
      },
      "ResponseBody": {
        "etag": "U6xyBgFZLhpngytrvY60ew50PfWVzfFaeZsKywlZEkU",
        "items": [
          {
            "etag": "qqv0B-Qj2OOrFGIXY2XY1_Q5GaaADn5wZT1FH35XQSs",
            "key": "key-1373715417",
            "label": "test_label_update",
            "content_type": "test_content_type",
            "value": "test_value",
            "tags": {
              "foo": "bar",
              "foo2": "bar2",
              "foo3": "bar3",
              "foo4": "bar4",
              "foo5": "bar5"
            },
            "locked": false,
            "last_modified": "2026-01-22T02:02:28+00:00"
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-1373715417?api-version=2023-11-01&label=test_label_update",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzQ3NDY4MQ==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"qqv0B-Qj2OOrFGIXY2XY1_Q5GaaADn5wZT1FH35XQSs\"",
        "Last-Modified": "Thu, 22 Jan 2026 02:02:28 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzQ3NDY4Mg==;sn=103474682",
        "x-ms-date": "Thu, 22 Jan 2026 02:02:28 GMT"
      },
      "ResponseBody": {
        "etag": "qqv0B-Qj2OOrFGIXY2XY1_Q5GaaADn5wZT1FH35XQSs",
        "key": "key-1373715417",
        "label": "test_label_update",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "foo": "bar",
          "foo2": "bar2",
          "foo3": "bar3",
          "foo4": "bar4",
          "foo5": "bar5"
        },
        "locked": false,
        "last_modified": "2026-01-22T02:02:28+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t9c954b564de572f9-azconfig-net.azconfig.io;Id=MdvE;Secret=Kg==",
    "RandomSeed": "1632913909"
  }
}
