{
  "Entries": [
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-1313318785?api-version=2023-11-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"bljrV2YFRY7r7OAQXNwwSGIOqXOcQoMbFbX2f0ANIkY\"",
        "Last-Modified": "Mon, 26 Jan 2026 05:41:38 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzg1MTI2Ng==;sn=103851266",
        "x-ms-date": "Mon, 26 Jan 2026 05:41:38 GMT"
      },
      "ResponseBody": {
        "etag": "bljrV2YFRY7r7OAQXNwwSGIOqXOcQoMbFbX2f0ANIkY",
        "key": "key-1313318785",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-01-26T05:41:38+00:00"
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-1313318785?api-version=2023-11-01&label=test_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzg1MTI2Ng==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"bljrV2YFRY7r7OAQXNwwSGIOqXOcQoMbFbX2f0ANIkY\"",
        "Last-Modified": "Mon, 26 Jan 2026 05:41:38 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzg1MTI2Nw==;sn=103851267",
        "x-ms-date": "Mon, 26 Jan 2026 05:41:38 GMT"
      },
      "ResponseBody": {
        "etag": "bljrV2YFRY7r7OAQXNwwSGIOqXOcQoMbFbX2f0ANIkY",
        "key": "key-1313318785",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-01-26T05:41:38+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t9c954b564de572f9-azconfig-net.azconfig.io;Id=MdvE;Secret=Kg==",
    "RandomSeed": "314151201"
  }
}
