{
  "Entries": [
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/kv/key-447660268?api-version=2023-11-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"2TQv5DiJexoRULVlgwlFyfjsKsSAFnIlnvO-Lf32zxA\"",
        "Last-Modified": "Mon, 17 Nov 2025 16:51:24 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzU3NzY0NDYw;sn=57764460",
        "x-ms-date": "Mon, 17 Nov 2025 16:51:24 GMT"
      },
      "ResponseBody": {
        "etag": "2TQv5DiJexoRULVlgwlFyfjsKsSAFnIlnvO-Lf32zxA",
        "key": "key-447660268",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2025-11-17T16:51:24+00:00"
      }
    },
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/kv/key-447660268?api-version=2023-11-01&label=test_label_update",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=Njo1IzU3NzY0NDYw",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "foo": "bar",
          "foo2": "bar2",
          "foo3": "bar3",
          "foo4": "bar4",
          "foo5": "bar5"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"ZVnVm1Glc-AJJBICwRp1fBrgmmkKwEs9UrUjqm0i6lc\"",
        "Last-Modified": "Mon, 17 Nov 2025 16:51:24 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzU3NzY0NDYx;sn=57764461",
        "x-ms-date": "Mon, 17 Nov 2025 16:51:24 GMT"
      },
      "ResponseBody": {
        "etag": "ZVnVm1Glc-AJJBICwRp1fBrgmmkKwEs9UrUjqm0i6lc",
        "key": "key-447660268",
        "label": "test_label_update",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "foo": "bar",
          "foo2": "bar2",
          "foo3": "bar3",
          "foo4": "bar4",
          "foo5": "bar5"
        },
        "locked": false,
        "last_modified": "2025-11-17T16:51:24+00:00"
      }
    },
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/revisions?api-version=2023-11-01&key=key-447660268&tags=foo%3Dbar&tags=foo2%3Dbar2&tags=foo3%3Dbar3&tags=foo4%3Dbar4&tags=foo5%3Dbar5",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Accept-Datetime": "Fri, 31 Dec 9999 23:59:59 GMT",
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Njo1IzU3NzY0NDYx",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"Zbg66La8jPDx_QNSa4IisXZWSS7MlNSAJaGj2NQ21i0\"",
        "Sync-Token": "zAJw6V16=Njo1IzU3NzY0NDYx;sn=57764461",
        "x-ms-date": "Mon, 17 Nov 2025 16:51:24 GMT"
      },
      "ResponseBody": {
        "etag": "Zbg66La8jPDx_QNSa4IisXZWSS7MlNSAJaGj2NQ21i0",
        "items": [
          {
            "etag": "ZVnVm1Glc-AJJBICwRp1fBrgmmkKwEs9UrUjqm0i6lc",
            "key": "key-447660268",
            "label": "test_label_update",
            "content_type": "test_content_type",
            "value": "test_value",
            "tags": {
              "foo": "bar",
              "foo2": "bar2",
              "foo3": "bar3",
              "foo4": "bar4",
              "foo5": "bar5"
            },
            "locked": false,
            "last_modified": "2025-11-17T16:51:24+00:00"
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/kv/key-447660268?api-version=2023-11-01&label=test_label_update",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Njo1IzU3NzY0NDYy",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"ZVnVm1Glc-AJJBICwRp1fBrgmmkKwEs9UrUjqm0i6lc\"",
        "Last-Modified": "Mon, 17 Nov 2025 16:51:24 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzU3NzY0NDYz;sn=57764463",
        "x-ms-date": "Mon, 17 Nov 2025 16:51:25 GMT"
      },
      "ResponseBody": {
        "etag": "ZVnVm1Glc-AJJBICwRp1fBrgmmkKwEs9UrUjqm0i6lc",
        "key": "key-447660268",
        "label": "test_label_update",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "foo": "bar",
          "foo2": "bar2",
          "foo3": "bar3",
          "foo4": "bar4",
          "foo5": "bar5"
        },
        "locked": false,
        "last_modified": "2025-11-17T16:51:24+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t8cdd9157ca7d1363-azconfig-net.azconfig.io;Id=wNKY;Secret=Kg==",
    "RandomSeed": "975047537"
  }
}
