{
  "Entries": [
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv/key-963809053?api-version=2026-04-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "description": "test_description"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"Z5Cmau3SyAiqR3cFdUibYNMmDC9u5dbt4cl9IeLgW8M\"",
        "Last-Modified": "Wed, 10 Jun 2026 19:19:40 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDczMDgx;sn=67073081",
        "x-ms-date": "Wed, 10 Jun 2026 19:19:40 GMT"
      },
      "ResponseBody": {
        "etag": "Z5Cmau3SyAiqR3cFdUibYNMmDC9u5dbt4cl9IeLgW8M",
        "key": "key-963809053",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "description": "test_description",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-06-10T19:19:40+00:00"
      }
    },
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv/key-963809053?api-version=2026-04-01&label=test_label_update",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDczMDgx"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "foo": "bar",
          "foo2": "bar2",
          "foo3": "bar3",
          "foo4": "bar4",
          "foo5": "bar5"
        },
        "description": "test_description"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"hj-yJZX3-5ESs6IP__teWzYBIJV1RBK6apj7qsMA--8\"",
        "Last-Modified": "Wed, 10 Jun 2026 19:19:40 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDczMDgy;sn=67073082",
        "x-ms-date": "Wed, 10 Jun 2026 19:19:41 GMT"
      },
      "ResponseBody": {
        "etag": "hj-yJZX3-5ESs6IP__teWzYBIJV1RBK6apj7qsMA--8",
        "key": "key-963809053",
        "label": "test_label_update",
        "content_type": "test_content_type",
        "value": "test_value",
        "description": "test_description",
        "tags": {
          "foo": "bar",
          "foo2": "bar2",
          "foo3": "bar3",
          "foo4": "bar4",
          "foo5": "bar5"
        },
        "locked": false,
        "last_modified": "2026-06-10T19:19:40+00:00"
      }
    },
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/revisions?api-version=2026-04-01&key=key-963809053&tags=foo%3Dbar&tags=foo2%3Dbar2&tags=foo3%3Dbar3&tags=foo4%3Dbar4&tags=foo5%3Dbar5",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Accept-Datetime": "Fri, 31 Dec 9999 23:59:59 GMT",
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDczMDgy"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"9uoYC508V3Voc8ZBxzoxX98zAsW64ardozJ5Gi90g60\"",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDczMDgy;sn=67073082",
        "x-ms-date": "Wed, 10 Jun 2026 19:19:41 GMT"
      },
      "ResponseBody": {
        "etag": "9uoYC508V3Voc8ZBxzoxX98zAsW64ardozJ5Gi90g60",
        "items": [
          {
            "etag": "hj-yJZX3-5ESs6IP__teWzYBIJV1RBK6apj7qsMA--8",
            "key": "key-963809053",
            "label": "test_label_update",
            "content_type": "test_content_type",
            "value": "test_value",
            "description": "test_description",
            "tags": {
              "foo": "bar",
              "foo2": "bar2",
              "foo3": "bar3",
              "foo4": "bar4",
              "foo5": "bar5"
            },
            "locked": false,
            "last_modified": "2026-06-10T19:19:40+00:00"
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv/key-963809053?api-version=2026-04-01&label=test_label_update",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDczMDgz"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"hj-yJZX3-5ESs6IP__teWzYBIJV1RBK6apj7qsMA--8\"",
        "Last-Modified": "Wed, 10 Jun 2026 19:19:40 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDczMDg0;sn=67073084",
        "x-ms-date": "Wed, 10 Jun 2026 19:19:41 GMT"
      },
      "ResponseBody": {
        "etag": "hj-yJZX3-5ESs6IP__teWzYBIJV1RBK6apj7qsMA--8",
        "key": "key-963809053",
        "label": "test_label_update",
        "content_type": "test_content_type",
        "value": "test_value",
        "description": "test_description",
        "tags": {
          "foo": "bar",
          "foo2": "bar2",
          "foo3": "bar3",
          "foo4": "bar4",
          "foo5": "bar5"
        },
        "locked": false,
        "last_modified": "2026-06-10T19:19:40+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_ENDPOINT_STRING": "https://mrm90847047-azconfig-net.azconfig.io",
    "RandomSeed": "384966457"
  }
}
