{
  "Entries": [
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/kv/key-775787387?api-version=2023-11-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"tslK5_4t09tAdVym4uQvKgxcMNYoJx5dyZn7FQ4biNg\"",
        "Last-Modified": "Thu, 09 Oct 2025 16:28:16 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzU1NTMyMjYx;sn=55532261",
        "x-ms-date": "Thu, 09 Oct 2025 16:28:16 GMT"
      },
      "ResponseBody": {
        "etag": "tslK5_4t09tAdVym4uQvKgxcMNYoJx5dyZn7FQ4biNg",
        "key": "key-775787387",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2025-10-09T16:28:16+00:00"
      }
    },
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/kv/key-775787387?api-version=2023-11-01&label=test_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Njo1IzU1NTMyMjYx",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"tslK5_4t09tAdVym4uQvKgxcMNYoJx5dyZn7FQ4biNg\"",
        "Last-Modified": "Thu, 09 Oct 2025 16:28:16 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzU1NTMyMjYy;sn=55532262",
        "x-ms-date": "Thu, 09 Oct 2025 16:28:16 GMT"
      },
      "ResponseBody": {
        "etag": "tslK5_4t09tAdVym4uQvKgxcMNYoJx5dyZn7FQ4biNg",
        "key": "key-775787387",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2025-10-09T16:28:16+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t8cdd9157ca7d1363-azconfig-net.azconfig.io;Id=wNKY;Secret=Kg==",
    "RandomSeed": "664487530"
  }
}
