{
  "Entries": [
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-1988888070?api-version=2023-11-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"4-_-2uKYTY3cje4U6ji9Zmvo3WRVUpmP__wqYH7SM58\"",
        "Last-Modified": "Fri, 23 Jan 2026 07:11:26 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU3NTQ0MQ==;sn=103575441",
        "x-ms-date": "Fri, 23 Jan 2026 07:11:26 GMT"
      },
      "ResponseBody": {
        "etag": "4-_-2uKYTY3cje4U6ji9Zmvo3WRVUpmP__wqYH7SM58",
        "key": "key-1988888070",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-01-23T07:11:26+00:00"
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-1988888070?api-version=2023-11-01&label=test_label_update",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU3NTQ0MQ==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"iQzu-am0Zrxoj7DFLvDB3RMgkld2OIy1Aq0Cbv4-Lc0\"",
        "Last-Modified": "Fri, 23 Jan 2026 07:11:26 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU3NTQ0Mg==;sn=103575442",
        "x-ms-date": "Fri, 23 Jan 2026 07:11:26 GMT"
      },
      "ResponseBody": {
        "etag": "iQzu-am0Zrxoj7DFLvDB3RMgkld2OIy1Aq0Cbv4-Lc0",
        "key": "key-1988888070",
        "label": "test_label_update",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-01-23T07:11:26+00:00"
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/revisions?api-version=2023-11-01&key=key-1988888070&label=test_label_update",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU3NTQ0Mg==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"oJSaYnTLwq9UOlxCfLcqy9Eo2mt19awQ1cQBPPzkJjw\"",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU3NTQ0Mg==;sn=103575442",
        "x-ms-date": "Fri, 23 Jan 2026 07:11:26 GMT"
      },
      "ResponseBody": {
        "etag": "oJSaYnTLwq9UOlxCfLcqy9Eo2mt19awQ1cQBPPzkJjw",
        "items": [
          {
            "etag": "iQzu-am0Zrxoj7DFLvDB3RMgkld2OIy1Aq0Cbv4-Lc0",
            "key": "key-1988888070",
            "label": "test_label_update",
            "content_type": "test_content_type",
            "value": "test_value",
            "tags": {
              "tag1": "value1",
              "tag2": "value2"
            },
            "locked": false,
            "last_modified": "2026-01-23T07:11:26+00:00"
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-1988888070?api-version=2023-11-01&label=test_label_update",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU3NTQ0Mw==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"iQzu-am0Zrxoj7DFLvDB3RMgkld2OIy1Aq0Cbv4-Lc0\"",
        "Last-Modified": "Fri, 23 Jan 2026 07:11:26 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU3NTQ0NA==;sn=103575444",
        "x-ms-date": "Fri, 23 Jan 2026 07:11:26 GMT"
      },
      "ResponseBody": {
        "etag": "iQzu-am0Zrxoj7DFLvDB3RMgkld2OIy1Aq0Cbv4-Lc0",
        "key": "key-1988888070",
        "label": "test_label_update",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-01-23T07:11:26+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t9c954b564de572f9-azconfig-net.azconfig.io;Id=MdvE;Secret=Kg==",
    "RandomSeed": "1267843558"
  }
}
