{
  "Entries": [
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-1999933285?api-version=2023-11-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"oum6KKrxkYEIySUCbOuMB0wYlq2dVfV1hvJZxyWX9WY\"",
        "Last-Modified": "Mon, 01 Dec 2025 08:42:27 GMT",
        "Sync-Token": "zAJw6V16=NTo1Izk4Nzc2ODc2;sn=98776876",
        "x-ms-date": "Mon, 01 Dec 2025 08:42:27 GMT"
      },
      "ResponseBody": {
        "etag": "oum6KKrxkYEIySUCbOuMB0wYlq2dVfV1hvJZxyWX9WY",
        "key": "key-1999933285",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2025-12-01T08:42:27+00:00"
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-1999933285?api-version=2023-11-01&label=test_label_update",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NTo1Izk4Nzc2ODc2",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"YiYmaLXGr4uYrvfJ1ByydGJ5GJhIxARhJwpcTn6Wjlw\"",
        "Last-Modified": "Mon, 01 Dec 2025 08:42:28 GMT",
        "Sync-Token": "zAJw6V16=NTo1Izk4Nzc2ODc3;sn=98776877",
        "x-ms-date": "Mon, 01 Dec 2025 08:42:28 GMT"
      },
      "ResponseBody": {
        "etag": "YiYmaLXGr4uYrvfJ1ByydGJ5GJhIxARhJwpcTn6Wjlw",
        "key": "key-1999933285",
        "label": "test_label_update",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2025-12-01T08:42:28+00:00"
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/revisions?api-version=2023-11-01&key=key-1999933285&label=test_label_update",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1Izk4Nzc2ODc3",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"18J5p2W0GKJkW7wAzbWUO2O6aT-PQpgcYKzTKRwg8OE\"",
        "Sync-Token": "zAJw6V16=NTo1Izk4Nzc2ODc3;sn=98776877",
        "x-ms-date": "Mon, 01 Dec 2025 08:42:28 GMT"
      },
      "ResponseBody": {
        "etag": "18J5p2W0GKJkW7wAzbWUO2O6aT-PQpgcYKzTKRwg8OE",
        "items": [
          {
            "etag": "YiYmaLXGr4uYrvfJ1ByydGJ5GJhIxARhJwpcTn6Wjlw",
            "key": "key-1999933285",
            "label": "test_label_update",
            "content_type": "test_content_type",
            "value": "test_value",
            "tags": {
              "tag1": "value1",
              "tag2": "value2"
            },
            "locked": false,
            "last_modified": "2025-12-01T08:42:28+00:00"
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-1999933285?api-version=2023-11-01&label=test_label_update",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1Izk4Nzc2ODc4",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"YiYmaLXGr4uYrvfJ1ByydGJ5GJhIxARhJwpcTn6Wjlw\"",
        "Last-Modified": "Mon, 01 Dec 2025 08:42:28 GMT",
        "Sync-Token": "zAJw6V16=NTo1Izk4Nzc2ODc5;sn=98776879",
        "x-ms-date": "Mon, 01 Dec 2025 08:42:28 GMT"
      },
      "ResponseBody": {
        "etag": "YiYmaLXGr4uYrvfJ1ByydGJ5GJhIxARhJwpcTn6Wjlw",
        "key": "key-1999933285",
        "label": "test_label_update",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2025-12-01T08:42:28+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t9c954b564de572f9-azconfig-net.azconfig.io;Id=MdvE;Secret=Kg==",
    "RandomSeed": "1866467897"
  }
}
