{
  "Entries": [
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-1278633689?api-version=2023-11-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"M1NVNu7g0DYERhHQiFwE59r-qyfC_Cbe-pB9FuxrR0k\"",
        "Last-Modified": "Tue, 06 Jan 2026 06:35:36 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTc3Mzc3OA==;sn=101773778",
        "x-ms-date": "Tue, 06 Jan 2026 06:35:36 GMT"
      },
      "ResponseBody": {
        "etag": "M1NVNu7g0DYERhHQiFwE59r-qyfC_Cbe-pB9FuxrR0k",
        "key": "key-1278633689",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-01-06T06:35:36+00:00"
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-1278633689?api-version=2023-11-01&label=test_label_update",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTc3Mzc3OA==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"T5IoKZtVGGUntzr31--ggvUgXzuOPLSQFUrGe5UU9r0\"",
        "Last-Modified": "Tue, 06 Jan 2026 06:35:36 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTc3Mzc3OQ==;sn=101773779",
        "x-ms-date": "Tue, 06 Jan 2026 06:35:36 GMT"
      },
      "ResponseBody": {
        "etag": "T5IoKZtVGGUntzr31--ggvUgXzuOPLSQFUrGe5UU9r0",
        "key": "key-1278633689",
        "label": "test_label_update",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-01-06T06:35:36+00:00"
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/revisions?api-version=2023-11-01&key=key-1278633689",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Accept-Datetime": "Fri, 31 Dec 9999 23:59:59 GMT",
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTc3Mzc3OQ==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"uijJtZkLbEXBTDYQEglIPibgXIPceM3pZZi_0zZMi14\"",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTc3Mzc3OQ==;sn=101773779",
        "x-ms-date": "Tue, 06 Jan 2026 06:35:36 GMT"
      },
      "ResponseBody": {
        "etag": "uijJtZkLbEXBTDYQEglIPibgXIPceM3pZZi_0zZMi14",
        "items": [
          {
            "etag": "M1NVNu7g0DYERhHQiFwE59r-qyfC_Cbe-pB9FuxrR0k",
            "key": "key-1278633689",
            "label": "test_label",
            "content_type": "test_content_type",
            "value": "test_value",
            "tags": {
              "tag1": "value1",
              "tag2": "value2"
            },
            "locked": false,
            "last_modified": "2026-01-06T06:35:36+00:00"
          },
          {
            "etag": "T5IoKZtVGGUntzr31--ggvUgXzuOPLSQFUrGe5UU9r0",
            "key": "key-1278633689",
            "label": "test_label_update",
            "content_type": "test_content_type",
            "value": "test_value",
            "tags": {
              "tag1": "value1",
              "tag2": "value2"
            },
            "locked": false,
            "last_modified": "2026-01-06T06:35:36+00:00"
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-1278633689?api-version=2023-11-01&label=test_label_update",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTc3Mzc4MA==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"T5IoKZtVGGUntzr31--ggvUgXzuOPLSQFUrGe5UU9r0\"",
        "Last-Modified": "Tue, 06 Jan 2026 06:35:36 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTc3Mzc4MQ==;sn=101773781",
        "x-ms-date": "Tue, 06 Jan 2026 06:35:36 GMT"
      },
      "ResponseBody": {
        "etag": "T5IoKZtVGGUntzr31--ggvUgXzuOPLSQFUrGe5UU9r0",
        "key": "key-1278633689",
        "label": "test_label_update",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-01-06T06:35:36+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t9c954b564de572f9-azconfig-net.azconfig.io;Id=MdvE;Secret=Kg==",
    "RandomSeed": "1915003906"
  }
}
