{
  "Entries": [
    {
      "RequestUri": "https://tdfcae3cf5eab7143-azconfig-net.azconfig.io/kv/key-351760550?label=test_label&api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"ACqOdqqwMHTrEVlivZacYhRUSU9HBobQuUMI1yLH5_E\"",
        "Last-Modified": "Wed, 24 Jul 2024 15:45:15 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzMyMjcxNjg2;sn=32271686"
      },
      "ResponseBody": {
        "etag": "ACqOdqqwMHTrEVlivZacYhRUSU9HBobQuUMI1yLH5_E",
        "key": "key-351760550",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2024-07-24T15:45:15+00:00"
      }
    },
    {
      "RequestUri": "https://tdfcae3cf5eab7143-azconfig-net.azconfig.io/kv/key-351760550?label=test_label&api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Njo1IzMyMjcxNjg2",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"ACqOdqqwMHTrEVlivZacYhRUSU9HBobQuUMI1yLH5_E\"",
        "Last-Modified": "Wed, 24 Jul 2024 15:45:15 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzMyMjcxNjg3;sn=32271687"
      },
      "ResponseBody": {
        "etag": "ACqOdqqwMHTrEVlivZacYhRUSU9HBobQuUMI1yLH5_E",
        "key": "key-351760550",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2024-07-24T15:45:15+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://tdfcae3cf5eab7143-azconfig-net.azconfig.io;Id=MEKF;Secret=Kg==",
    "RandomSeed": "2143930160"
  }
}
