{
  "Entries": [
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/kv/key-399270407?api-version=2023-11-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"oh4soGHhUME7XKnAn9AaSGJcxRerxjgqAyS0U7jG_HQ\"",
        "Last-Modified": "Mon, 17 Nov 2025 16:56:42 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzU3NzY0OTA1;sn=57764905",
        "x-ms-date": "Mon, 17 Nov 2025 16:56:42 GMT"
      },
      "ResponseBody": {
        "etag": "oh4soGHhUME7XKnAn9AaSGJcxRerxjgqAyS0U7jG_HQ",
        "key": "key-399270407",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2025-11-17T16:56:42+00:00"
      }
    },
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/kv/key-399270407?api-version=2023-11-01&label=test_label_update",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=Njo1IzU3NzY0OTA1",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "foo": "bar",
          "foo2": "bar2",
          "foo3": "bar3",
          "foo4": "bar4",
          "foo5": "bar5"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"KNH9r7_RjSVSuGdLwmCj2u0fDhPqAF_OA6V6ET7GhQY\"",
        "Last-Modified": "Mon, 17 Nov 2025 16:56:43 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzU3NzY0OTA2;sn=57764906",
        "x-ms-date": "Mon, 17 Nov 2025 16:56:43 GMT"
      },
      "ResponseBody": {
        "etag": "KNH9r7_RjSVSuGdLwmCj2u0fDhPqAF_OA6V6ET7GhQY",
        "key": "key-399270407",
        "label": "test_label_update",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "foo": "bar",
          "foo2": "bar2",
          "foo3": "bar3",
          "foo4": "bar4",
          "foo5": "bar5"
        },
        "locked": false,
        "last_modified": "2025-11-17T16:56:43+00:00"
      }
    },
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/revisions?api-version=2023-11-01&key=key-399270407&tags=foo%3Dbar&tags=foo2%3Dbar2&tags=foo3%3Dbar3&tags=foo4%3Dbar4&tags=foo5%3Dbar5",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Accept-Datetime": "Fri, 31 Dec 9999 23:59:59 GMT",
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Njo1IzU3NzY0OTA2",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"x1Y9XjGbMm8NiVvUxkYJEBnIWC6lWYwXe9OENjB5D9M\"",
        "Sync-Token": "zAJw6V16=Njo1IzU3NzY0OTA2;sn=57764906",
        "x-ms-date": "Mon, 17 Nov 2025 16:56:43 GMT"
      },
      "ResponseBody": {
        "etag": "x1Y9XjGbMm8NiVvUxkYJEBnIWC6lWYwXe9OENjB5D9M",
        "items": [
          {
            "etag": "KNH9r7_RjSVSuGdLwmCj2u0fDhPqAF_OA6V6ET7GhQY",
            "key": "key-399270407",
            "label": "test_label_update",
            "content_type": "test_content_type",
            "value": "test_value",
            "tags": {
              "foo": "bar",
              "foo2": "bar2",
              "foo3": "bar3",
              "foo4": "bar4",
              "foo5": "bar5"
            },
            "locked": false,
            "last_modified": "2025-11-17T16:56:43+00:00"
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/kv/key-399270407?api-version=2023-11-01&label=test_label_update",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Njo1IzU3NzY0OTA3",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"KNH9r7_RjSVSuGdLwmCj2u0fDhPqAF_OA6V6ET7GhQY\"",
        "Last-Modified": "Mon, 17 Nov 2025 16:56:43 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzU3NzY0OTA4;sn=57764908",
        "x-ms-date": "Mon, 17 Nov 2025 16:56:43 GMT"
      },
      "ResponseBody": {
        "etag": "KNH9r7_RjSVSuGdLwmCj2u0fDhPqAF_OA6V6ET7GhQY",
        "key": "key-399270407",
        "label": "test_label_update",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "foo": "bar",
          "foo2": "bar2",
          "foo3": "bar3",
          "foo4": "bar4",
          "foo5": "bar5"
        },
        "locked": false,
        "last_modified": "2025-11-17T16:56:43+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t8cdd9157ca7d1363-azconfig-net.azconfig.io;Id=wNKY;Secret=Kg==",
    "RandomSeed": "40077056"
  }
}
