{
  "Entries": [
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/kv/key-1904986893?api-version=2023-11-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"6keRCHdt-UAByHbVQL96efqs5rGgOa7uettgwnPELAc\"",
        "Last-Modified": "Thu, 09 Oct 2025 16:33:44 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzU1NTMzMDU2;sn=55533056",
        "x-ms-date": "Thu, 09 Oct 2025 16:33:44 GMT"
      },
      "ResponseBody": {
        "etag": "6keRCHdt-UAByHbVQL96efqs5rGgOa7uettgwnPELAc",
        "key": "key-1904986893",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2025-10-09T16:33:44+00:00"
      }
    },
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/kv/key-1904986893?api-version=2023-11-01&label=test_label_update",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=Njo1IzU1NTMzMDU2",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "foo": "bar",
          "foo2": "bar2",
          "foo3": "bar3",
          "foo4": "bar4",
          "foo5": "bar5"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"alIIxk-wcjPsk5VQQUdCeqxTbve8Ayz-OD9R7-aiqHM\"",
        "Last-Modified": "Thu, 09 Oct 2025 16:33:44 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzU1NTMzMDU3;sn=55533057",
        "x-ms-date": "Thu, 09 Oct 2025 16:33:44 GMT"
      },
      "ResponseBody": {
        "etag": "alIIxk-wcjPsk5VQQUdCeqxTbve8Ayz-OD9R7-aiqHM",
        "key": "key-1904986893",
        "label": "test_label_update",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "foo": "bar",
          "foo2": "bar2",
          "foo3": "bar3",
          "foo4": "bar4",
          "foo5": "bar5"
        },
        "locked": false,
        "last_modified": "2025-10-09T16:33:44+00:00"
      }
    },
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/revisions?api-version=2023-11-01&key=key-1904986893&tags=foo%3Dbar&tags=foo2%3Dbar2&tags=foo3%3Dbar3&tags=foo4%3Dbar4&tags=foo5%3Dbar5",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Accept-Datetime": "Fri, 31 Dec 9999 23:59:59 GMT",
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Njo1IzU1NTMzMDU3",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"9fbhm-1SDNSEKbA2F09EN90aXEWI8iWVfKc60D0nE1U\"",
        "Sync-Token": "zAJw6V16=Njo1IzU1NTMzMDU3;sn=55533057",
        "x-ms-date": "Thu, 09 Oct 2025 16:33:44 GMT"
      },
      "ResponseBody": {
        "etag": "9fbhm-1SDNSEKbA2F09EN90aXEWI8iWVfKc60D0nE1U",
        "items": [
          {
            "etag": "alIIxk-wcjPsk5VQQUdCeqxTbve8Ayz-OD9R7-aiqHM",
            "key": "key-1904986893",
            "label": "test_label_update",
            "content_type": "test_content_type",
            "value": "test_value",
            "tags": {
              "foo": "bar",
              "foo2": "bar2",
              "foo3": "bar3",
              "foo4": "bar4",
              "foo5": "bar5"
            },
            "locked": false,
            "last_modified": "2025-10-09T16:33:44+00:00"
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/kv/key-1904986893?api-version=2023-11-01&label=test_label_update",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Njo1IzU1NTMzMDU4",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"alIIxk-wcjPsk5VQQUdCeqxTbve8Ayz-OD9R7-aiqHM\"",
        "Last-Modified": "Thu, 09 Oct 2025 16:33:44 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzU1NTMzMDYx;sn=55533061",
        "x-ms-date": "Thu, 09 Oct 2025 16:33:44 GMT"
      },
      "ResponseBody": {
        "etag": "alIIxk-wcjPsk5VQQUdCeqxTbve8Ayz-OD9R7-aiqHM",
        "key": "key-1904986893",
        "label": "test_label_update",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "foo": "bar",
          "foo2": "bar2",
          "foo3": "bar3",
          "foo4": "bar4",
          "foo5": "bar5"
        },
        "locked": false,
        "last_modified": "2025-10-09T16:33:44+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t8cdd9157ca7d1363-azconfig-net.azconfig.io;Id=wNKY;Secret=Kg==",
    "RandomSeed": "1440104045"
  }
}
