{
  "Entries": [
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv/key-258670300?api-version=2026-04-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "description": "test_description"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"m4zG4Dyya7z5pEPxTCZmw-rfMM2gNEWPi1ZC8YPqS0o\"",
        "Last-Modified": "Wed, 10 Jun 2026 19:27:57 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDc0OTM0;sn=67074934",
        "x-ms-date": "Wed, 10 Jun 2026 19:27:57 GMT"
      },
      "ResponseBody": {
        "etag": "m4zG4Dyya7z5pEPxTCZmw-rfMM2gNEWPi1ZC8YPqS0o",
        "key": "key-258670300",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "description": "test_description",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-06-10T19:27:57+00:00"
      }
    },
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv/key-258670300?api-version=2026-04-01&label=test_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDc0OTM0"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"m4zG4Dyya7z5pEPxTCZmw-rfMM2gNEWPi1ZC8YPqS0o\"",
        "Last-Modified": "Wed, 10 Jun 2026 19:27:57 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDc0OTM1;sn=67074935",
        "x-ms-date": "Wed, 10 Jun 2026 19:27:58 GMT"
      },
      "ResponseBody": {
        "etag": "m4zG4Dyya7z5pEPxTCZmw-rfMM2gNEWPi1ZC8YPqS0o",
        "key": "key-258670300",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "description": "test_description",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-06-10T19:27:57+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_ENDPOINT_STRING": "https://mrm90847047-azconfig-net.azconfig.io",
    "RandomSeed": "358728860"
  }
}
