{
  "Entries": [
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-1054722501?api-version=2023-11-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"dfAoMJqubNOOxn_miXl-M5oIbPbw9h6UYyWT45xRSNQ\"",
        "Last-Modified": "Fri, 23 Jan 2026 07:11:27 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU3NTQ0NQ==;sn=103575445",
        "x-ms-date": "Fri, 23 Jan 2026 07:11:27 GMT"
      },
      "ResponseBody": {
        "etag": "dfAoMJqubNOOxn_miXl-M5oIbPbw9h6UYyWT45xRSNQ",
        "key": "key-1054722501",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-01-23T07:11:27+00:00"
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-1054722501?api-version=2023-11-01&label=test_label_update",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU3NTQ0NQ==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "foo": "bar",
          "foo2": "bar2",
          "foo3": "bar3",
          "foo4": "bar4",
          "foo5": "bar5"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"L8VrWCWB8PTn8iXA81xu_Z5pXpoNjHtmNb6DMSE5Yu0\"",
        "Last-Modified": "Fri, 23 Jan 2026 07:11:27 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU3NTQ0Ng==;sn=103575446",
        "x-ms-date": "Fri, 23 Jan 2026 07:11:27 GMT"
      },
      "ResponseBody": {
        "etag": "L8VrWCWB8PTn8iXA81xu_Z5pXpoNjHtmNb6DMSE5Yu0",
        "key": "key-1054722501",
        "label": "test_label_update",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "foo": "bar",
          "foo2": "bar2",
          "foo3": "bar3",
          "foo4": "bar4",
          "foo5": "bar5"
        },
        "locked": false,
        "last_modified": "2026-01-23T07:11:27+00:00"
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/revisions?api-version=2023-11-01&key=key-1054722501&tags=foo%3Dbar&tags=foo2%3Dbar2&tags=foo3%3Dbar3&tags=foo4%3Dbar4&tags=foo5%3Dbar5",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Accept-Datetime": "Fri, 31 Dec 9999 23:59:59 GMT",
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU3NTQ0Ng==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"QKwDQCn2soDMWPThCpG3Z9IU7ayRMZ14P61_euWaVIc\"",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU3NTQ0Ng==;sn=103575446",
        "x-ms-date": "Fri, 23 Jan 2026 07:11:27 GMT"
      },
      "ResponseBody": {
        "etag": "QKwDQCn2soDMWPThCpG3Z9IU7ayRMZ14P61_euWaVIc",
        "items": [
          {
            "etag": "L8VrWCWB8PTn8iXA81xu_Z5pXpoNjHtmNb6DMSE5Yu0",
            "key": "key-1054722501",
            "label": "test_label_update",
            "content_type": "test_content_type",
            "value": "test_value",
            "tags": {
              "foo": "bar",
              "foo2": "bar2",
              "foo3": "bar3",
              "foo4": "bar4",
              "foo5": "bar5"
            },
            "locked": false,
            "last_modified": "2026-01-23T07:11:27+00:00"
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-1054722501?api-version=2023-11-01&label=test_label_update",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU3NTQ0Nw==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"L8VrWCWB8PTn8iXA81xu_Z5pXpoNjHtmNb6DMSE5Yu0\"",
        "Last-Modified": "Fri, 23 Jan 2026 07:11:27 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU3NTQ0OA==;sn=103575448",
        "x-ms-date": "Fri, 23 Jan 2026 07:11:28 GMT"
      },
      "ResponseBody": {
        "etag": "L8VrWCWB8PTn8iXA81xu_Z5pXpoNjHtmNb6DMSE5Yu0",
        "key": "key-1054722501",
        "label": "test_label_update",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "foo": "bar",
          "foo2": "bar2",
          "foo3": "bar3",
          "foo4": "bar4",
          "foo5": "bar5"
        },
        "locked": false,
        "last_modified": "2026-01-23T07:11:27+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t9c954b564de572f9-azconfig-net.azconfig.io;Id=MdvE;Secret=Kg==",
    "RandomSeed": "896291806"
  }
}
