{
  "Entries": [
    {
      "RequestUri": "https://azure-sdk-for-net-test.azconfig.io/kv/key-2054440902?api-version=2026-04-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"ZeNfuDCVGmWQ3qa-4pZTLf1aSJlmPRNgIVAdXAoB-As\"",
        "Last-Modified": "Wed, 27 May 2026 23:57:07 GMT",
        "Sync-Token": "zAJw6V16=NToxNyM0ODA0MjA0NA==;sn=48042044",
        "x-ms-date": "Wed, 27 May 2026 23:57:07 GMT"
      },
      "ResponseBody": {
        "etag": "ZeNfuDCVGmWQ3qa-4pZTLf1aSJlmPRNgIVAdXAoB-As",
        "key": "key-2054440902",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "description": null,
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-05-27T23:57:07+00:00"
      }
    },
    {
      "RequestUri": "https://azure-sdk-for-net-test.azconfig.io/kv/key-2054440902?api-version=2026-04-01&label=test_label_update",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NToxNyM0ODA0MjA0NA==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"p2X-hF02mHvCSXGrpjokJPWpSoiq6xmpfi3CLZ_-c0A\"",
        "Last-Modified": "Wed, 27 May 2026 23:57:07 GMT",
        "Sync-Token": "zAJw6V16=NToxNyM0ODA0MjA0NQ==;sn=48042045",
        "x-ms-date": "Wed, 27 May 2026 23:57:07 GMT"
      },
      "ResponseBody": {
        "etag": "p2X-hF02mHvCSXGrpjokJPWpSoiq6xmpfi3CLZ_-c0A",
        "key": "key-2054440902",
        "label": "test_label_update",
        "content_type": "test_content_type",
        "value": "test_value",
        "description": null,
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-05-27T23:57:07+00:00"
      }
    },
    {
      "RequestUri": "https://azure-sdk-for-net-test.azconfig.io/revisions?api-version=2026-04-01&key=key-2054440902",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Accept-Datetime": "Fri, 31 Dec 9999 23:59:59 GMT",
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NToxNyM0ODA0MjA0NQ==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"0XAPrxPqGM9wtNSVSxs94u-BzU_Gu11ed1LEuP2VPHo\"",
        "Sync-Token": "zAJw6V16=NToxNyM0ODA0MjA0NQ==;sn=48042045",
        "x-ms-date": "Wed, 27 May 2026 23:57:07 GMT"
      },
      "ResponseBody": {
        "etag": "0XAPrxPqGM9wtNSVSxs94u-BzU_Gu11ed1LEuP2VPHo",
        "items": [
          {
            "etag": "ZeNfuDCVGmWQ3qa-4pZTLf1aSJlmPRNgIVAdXAoB-As",
            "key": "key-2054440902",
            "label": "test_label",
            "content_type": "test_content_type",
            "value": "test_value",
            "description": null,
            "tags": {
              "tag1": "value1",
              "tag2": "value2"
            },
            "locked": false,
            "last_modified": "2026-05-27T23:57:07+00:00"
          },
          {
            "etag": "p2X-hF02mHvCSXGrpjokJPWpSoiq6xmpfi3CLZ_-c0A",
            "key": "key-2054440902",
            "label": "test_label_update",
            "content_type": "test_content_type",
            "value": "test_value",
            "description": null,
            "tags": {
              "tag1": "value1",
              "tag2": "value2"
            },
            "locked": false,
            "last_modified": "2026-05-27T23:57:07+00:00"
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://azure-sdk-for-net-test.azconfig.io/kv/key-2054440902?api-version=2026-04-01&label=test_label_update",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NToxNyM0ODA0MjA0Ng==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"p2X-hF02mHvCSXGrpjokJPWpSoiq6xmpfi3CLZ_-c0A\"",
        "Last-Modified": "Wed, 27 May 2026 23:57:07 GMT",
        "Sync-Token": "zAJw6V16=NToxNyM0ODA0MjA0Nw==;sn=48042047",
        "x-ms-date": "Wed, 27 May 2026 23:57:07 GMT"
      },
      "ResponseBody": {
        "etag": "p2X-hF02mHvCSXGrpjokJPWpSoiq6xmpfi3CLZ_-c0A",
        "key": "key-2054440902",
        "label": "test_label_update",
        "content_type": "test_content_type",
        "value": "test_value",
        "description": null,
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-05-27T23:57:07+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://azure-sdk-for-net-test.azconfig.io;Id=8ePU;Secret=Kg==",
    "RandomSeed": "152011401"
  }
}
