{
  "Entries": [
    {
      "RequestUri": "https://tdfcae3cf5eab7143-azconfig-net.azconfig.io/kv/key-1258708541?api-version=2023-11-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"nDQxDCohgF_GDWtdepTzbP4YNF-g8U6LVByVP1EOY04\"",
        "Last-Modified": "Thu, 12 Jun 2025 16:20:10 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzQyMjIxMTY1;sn=42221165"
      },
      "ResponseBody": {
        "etag": "nDQxDCohgF_GDWtdepTzbP4YNF-g8U6LVByVP1EOY04",
        "key": "key-1258708541",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2025-06-12T16:20:10+00:00"
      }
    },
    {
      "RequestUri": "https://tdfcae3cf5eab7143-azconfig-net.azconfig.io/kv/key-1258708541?api-version=2023-11-01&label=test_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Mzo1IzQyMjIxMTY1",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"nDQxDCohgF_GDWtdepTzbP4YNF-g8U6LVByVP1EOY04\"",
        "Last-Modified": "Thu, 12 Jun 2025 16:20:10 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzQyMjIxMTY3;sn=42221167"
      },
      "ResponseBody": {
        "etag": "nDQxDCohgF_GDWtdepTzbP4YNF-g8U6LVByVP1EOY04",
        "key": "key-1258708541",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2025-06-12T16:20:10+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://tdfcae3cf5eab7143-azconfig-net.azconfig.io;Id=GAEe;Secret=Kg==",
    "RandomSeed": "1106990192"
  }
}
