{
  "Entries": [
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-1520568466?api-version=2023-11-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"e4i7JdssWUShcIATULBCv4JG-4kUU2aDT6cweCuYgfQ\"",
        "Last-Modified": "Thu, 22 Jan 2026 01:34:33 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzQ3MzY1OQ==;sn=103473659",
        "x-ms-date": "Thu, 22 Jan 2026 01:34:33 GMT"
      },
      "ResponseBody": {
        "etag": "e4i7JdssWUShcIATULBCv4JG-4kUU2aDT6cweCuYgfQ",
        "key": "key-1520568466",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-01-22T01:34:33+00:00"
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-1520568466?api-version=2023-11-01&label=test_label_update",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzQ3MzY1OQ==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"i02mtIIGxZ4wZoQMJsittKmZPA411IzdBOc1pk2_Xj0\"",
        "Last-Modified": "Thu, 22 Jan 2026 01:34:33 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzQ3MzY2MA==;sn=103473660",
        "x-ms-date": "Thu, 22 Jan 2026 01:34:33 GMT"
      },
      "ResponseBody": {
        "etag": "i02mtIIGxZ4wZoQMJsittKmZPA411IzdBOc1pk2_Xj0",
        "key": "key-1520568466",
        "label": "test_label_update",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-01-22T01:34:33+00:00"
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/revisions?api-version=2023-11-01&key=key-1520568466&label=test_label_update",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzQ3MzY2MA==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"ilTnjFp1OvgYllQvZi0lUYoeJqvCG_TETk-izYUi18U\"",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzQ3MzY2MA==;sn=103473660",
        "x-ms-date": "Thu, 22 Jan 2026 01:34:34 GMT"
      },
      "ResponseBody": {
        "etag": "ilTnjFp1OvgYllQvZi0lUYoeJqvCG_TETk-izYUi18U",
        "items": [
          {
            "etag": "i02mtIIGxZ4wZoQMJsittKmZPA411IzdBOc1pk2_Xj0",
            "key": "key-1520568466",
            "label": "test_label_update",
            "content_type": "test_content_type",
            "value": "test_value",
            "tags": {
              "tag1": "value1",
              "tag2": "value2"
            },
            "locked": false,
            "last_modified": "2026-01-22T01:34:33+00:00"
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-1520568466?api-version=2023-11-01&label=test_label_update",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzQ3MzY2MQ==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"i02mtIIGxZ4wZoQMJsittKmZPA411IzdBOc1pk2_Xj0\"",
        "Last-Modified": "Thu, 22 Jan 2026 01:34:33 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzQ3MzY2Mg==;sn=103473662",
        "x-ms-date": "Thu, 22 Jan 2026 01:34:34 GMT"
      },
      "ResponseBody": {
        "etag": "i02mtIIGxZ4wZoQMJsittKmZPA411IzdBOc1pk2_Xj0",
        "key": "key-1520568466",
        "label": "test_label_update",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-01-22T01:34:33+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t9c954b564de572f9-azconfig-net.azconfig.io;Id=MdvE;Secret=Kg==",
    "RandomSeed": "1710585787"
  }
}
