{
  "Entries": [
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-1957698890?api-version=2023-11-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"0URaf1KGhaRGzDHsX-C0mINrHRLrnDEdCsE6BPE3C1k\"",
        "Last-Modified": "Tue, 06 Jan 2026 06:29:04 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTc3MzI3Mw==;sn=101773273",
        "x-ms-date": "Tue, 06 Jan 2026 06:29:04 GMT"
      },
      "ResponseBody": {
        "etag": "0URaf1KGhaRGzDHsX-C0mINrHRLrnDEdCsE6BPE3C1k",
        "key": "key-1957698890",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-01-06T06:29:04+00:00"
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-1957698890?api-version=2023-11-01&label=test_label_update",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTc3MzI3Mw==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"7jAUNjDjbLbh_w-RGc9ZfmORcnx1SsVUrXfkDCFdImI\"",
        "Last-Modified": "Tue, 06 Jan 2026 06:29:05 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTc3MzI3NA==;sn=101773274",
        "x-ms-date": "Tue, 06 Jan 2026 06:29:05 GMT"
      },
      "ResponseBody": {
        "etag": "7jAUNjDjbLbh_w-RGc9ZfmORcnx1SsVUrXfkDCFdImI",
        "key": "key-1957698890",
        "label": "test_label_update",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-01-06T06:29:05+00:00"
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/revisions?api-version=2023-11-01&key=key-1957698890",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Accept-Datetime": "Fri, 31 Dec 9999 23:59:59 GMT",
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTc3MzI3NA==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"FmXnASqdYc-KtCl8ZuiMSdxDdNLrXaScfs9r-_ujq5Y\"",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTc3MzI3NA==;sn=101773274",
        "x-ms-date": "Tue, 06 Jan 2026 06:29:05 GMT"
      },
      "ResponseBody": {
        "etag": "FmXnASqdYc-KtCl8ZuiMSdxDdNLrXaScfs9r-_ujq5Y",
        "items": [
          {
            "etag": "7jAUNjDjbLbh_w-RGc9ZfmORcnx1SsVUrXfkDCFdImI",
            "key": "key-1957698890",
            "label": "test_label_update",
            "content_type": "test_content_type",
            "value": "test_value",
            "tags": {
              "tag1": "value1",
              "tag2": "value2"
            },
            "locked": false,
            "last_modified": "2026-01-06T06:29:05+00:00"
          },
          {
            "etag": "0URaf1KGhaRGzDHsX-C0mINrHRLrnDEdCsE6BPE3C1k",
            "key": "key-1957698890",
            "label": "test_label",
            "content_type": "test_content_type",
            "value": "test_value",
            "tags": {
              "tag1": "value1",
              "tag2": "value2"
            },
            "locked": false,
            "last_modified": "2026-01-06T06:29:04+00:00"
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-1957698890?api-version=2023-11-01&label=test_label_update",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTc3MzI3NQ==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"7jAUNjDjbLbh_w-RGc9ZfmORcnx1SsVUrXfkDCFdImI\"",
        "Last-Modified": "Tue, 06 Jan 2026 06:29:05 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTc3MzI3Ng==;sn=101773276",
        "x-ms-date": "Tue, 06 Jan 2026 06:29:05 GMT"
      },
      "ResponseBody": {
        "etag": "7jAUNjDjbLbh_w-RGc9ZfmORcnx1SsVUrXfkDCFdImI",
        "key": "key-1957698890",
        "label": "test_label_update",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-01-06T06:29:05+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t9c954b564de572f9-azconfig-net.azconfig.io;Id=MdvE;Secret=Kg==",
    "RandomSeed": "825764766"
  }
}
