{
  "Entries": [
    {
      "RequestUri": "https://azure-sdk-for-net-test.azconfig.io/kv/key-1242055461?api-version=2026-04-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"EoDBxW2hd9EZ_m9c_kbtWq5g4nk459_0SZi6MNhDxWI\"",
        "Last-Modified": "Thu, 28 May 2026 00:01:51 GMT",
        "Sync-Token": "zAJw6V16=NToxNyM0ODA0MjUzOQ==;sn=48042539",
        "x-ms-date": "Thu, 28 May 2026 00:01:51 GMT"
      },
      "ResponseBody": {
        "etag": "EoDBxW2hd9EZ_m9c_kbtWq5g4nk459_0SZi6MNhDxWI",
        "key": "key-1242055461",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "description": null,
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-05-28T00:01:51+00:00"
      }
    },
    {
      "RequestUri": "https://azure-sdk-for-net-test.azconfig.io/kv/key-1242055461?api-version=2026-04-01&label=test_label_update",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NToxNyM0ODA0MjUzOQ==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "foo": "bar",
          "foo2": "bar2",
          "foo3": "bar3",
          "foo4": "bar4",
          "foo5": "bar5"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"9xRqc-O2UyZLn4uQeJcTikapG-Dd5bmEAyDNOqo_4WY\"",
        "Last-Modified": "Thu, 28 May 2026 00:01:51 GMT",
        "Sync-Token": "zAJw6V16=NToxNyM0ODA0MjU0MA==;sn=48042540",
        "x-ms-date": "Thu, 28 May 2026 00:01:51 GMT"
      },
      "ResponseBody": {
        "etag": "9xRqc-O2UyZLn4uQeJcTikapG-Dd5bmEAyDNOqo_4WY",
        "key": "key-1242055461",
        "label": "test_label_update",
        "content_type": "test_content_type",
        "value": "test_value",
        "description": null,
        "tags": {
          "foo": "bar",
          "foo2": "bar2",
          "foo3": "bar3",
          "foo4": "bar4",
          "foo5": "bar5"
        },
        "locked": false,
        "last_modified": "2026-05-28T00:01:51+00:00"
      }
    },
    {
      "RequestUri": "https://azure-sdk-for-net-test.azconfig.io/revisions?api-version=2026-04-01&key=key-1242055461&tags=foo%3Dbar&tags=foo2%3Dbar2&tags=foo3%3Dbar3&tags=foo4%3Dbar4&tags=foo5%3Dbar5",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Accept-Datetime": "Fri, 31 Dec 9999 23:59:59 GMT",
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NToxNyM0ODA0MjU0MA==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"O3l8lk8iwbUF_xq3LSai1DT4aKVEF8ET3BSFYUcHsZ8\"",
        "Sync-Token": "zAJw6V16=NToxNyM0ODA0MjU0MA==;sn=48042540",
        "x-ms-date": "Thu, 28 May 2026 00:01:51 GMT"
      },
      "ResponseBody": {
        "etag": "O3l8lk8iwbUF_xq3LSai1DT4aKVEF8ET3BSFYUcHsZ8",
        "items": [
          {
            "etag": "9xRqc-O2UyZLn4uQeJcTikapG-Dd5bmEAyDNOqo_4WY",
            "key": "key-1242055461",
            "label": "test_label_update",
            "content_type": "test_content_type",
            "value": "test_value",
            "description": null,
            "tags": {
              "foo": "bar",
              "foo2": "bar2",
              "foo3": "bar3",
              "foo4": "bar4",
              "foo5": "bar5"
            },
            "locked": false,
            "last_modified": "2026-05-28T00:01:51+00:00"
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://azure-sdk-for-net-test.azconfig.io/kv/key-1242055461?api-version=2026-04-01&label=test_label_update",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NToxNyM0ODA0MjU0MQ==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"9xRqc-O2UyZLn4uQeJcTikapG-Dd5bmEAyDNOqo_4WY\"",
        "Last-Modified": "Thu, 28 May 2026 00:01:51 GMT",
        "Sync-Token": "zAJw6V16=NToxNyM0ODA0MjU0Mg==;sn=48042542",
        "x-ms-date": "Thu, 28 May 2026 00:01:51 GMT"
      },
      "ResponseBody": {
        "etag": "9xRqc-O2UyZLn4uQeJcTikapG-Dd5bmEAyDNOqo_4WY",
        "key": "key-1242055461",
        "label": "test_label_update",
        "content_type": "test_content_type",
        "value": "test_value",
        "description": null,
        "tags": {
          "foo": "bar",
          "foo2": "bar2",
          "foo3": "bar3",
          "foo4": "bar4",
          "foo5": "bar5"
        },
        "locked": false,
        "last_modified": "2026-05-28T00:01:51+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://azure-sdk-for-net-test.azconfig.io;Id=8ePU;Secret=Kg==",
    "RandomSeed": "1566932431"
  }
}
