{
  "Entries": [
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-929457354?api-version=2023-11-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"Cg3mXqTkJYvTxa65BNHmCu_ZokgeVJKzA-2Tg6jk8qQ\"",
        "Last-Modified": "Thu, 22 Jan 2026 01:34:32 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzQ3MzY1Mw==;sn=103473653",
        "x-ms-date": "Thu, 22 Jan 2026 01:34:32 GMT"
      },
      "ResponseBody": {
        "etag": "Cg3mXqTkJYvTxa65BNHmCu_ZokgeVJKzA-2Tg6jk8qQ",
        "key": "key-929457354",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-01-22T01:34:32+00:00"
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-929457354?api-version=2023-11-01&label=test_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzQ3MzY1Mw==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"Cg3mXqTkJYvTxa65BNHmCu_ZokgeVJKzA-2Tg6jk8qQ\"",
        "Last-Modified": "Thu, 22 Jan 2026 01:34:32 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzQ3MzY1NA==;sn=103473654",
        "x-ms-date": "Thu, 22 Jan 2026 01:34:33 GMT"
      },
      "ResponseBody": {
        "etag": "Cg3mXqTkJYvTxa65BNHmCu_ZokgeVJKzA-2Tg6jk8qQ",
        "key": "key-929457354",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-01-22T01:34:32+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t9c954b564de572f9-azconfig-net.azconfig.io;Id=MdvE;Secret=Kg==",
    "RandomSeed": "1154859704"
  }
}
