{
  "Entries": [
    {
      "RequestUri": "https://azure-sdk-for-net-test.azconfig.io/kv/key-59813607?api-version=2026-04-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"DSqDUPBppNqpw6D97A8v74M-6De6OxZ54rqsGHS4s70\"",
        "Last-Modified": "Fri, 29 May 2026 19:54:38 GMT",
        "Sync-Token": "zAJw6V16=NToxNyM0ODE0ODU1NA==;sn=48148554",
        "x-ms-date": "Fri, 29 May 2026 19:54:38 GMT"
      },
      "ResponseBody": {
        "etag": "DSqDUPBppNqpw6D97A8v74M-6De6OxZ54rqsGHS4s70",
        "key": "key-59813607",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "description": null,
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-05-29T19:54:38+00:00"
      }
    },
    {
      "RequestUri": "https://azure-sdk-for-net-test.azconfig.io/kv/key-59813607?api-version=2026-04-01&label=test_label_update",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NToxNyM0ODE0ODU1NA==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "foo": "bar",
          "foo2": "bar2",
          "foo3": "bar3",
          "foo4": "bar4",
          "foo5": "bar5"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"EWM9M6ZV1YGfmtImsBJf1zBA9jFe6gFn2CnVtpGWDbs\"",
        "Last-Modified": "Fri, 29 May 2026 19:54:38 GMT",
        "Sync-Token": "zAJw6V16=NToxNyM0ODE0ODU1NQ==;sn=48148555",
        "x-ms-date": "Fri, 29 May 2026 19:54:38 GMT"
      },
      "ResponseBody": {
        "etag": "EWM9M6ZV1YGfmtImsBJf1zBA9jFe6gFn2CnVtpGWDbs",
        "key": "key-59813607",
        "label": "test_label_update",
        "content_type": "test_content_type",
        "value": "test_value",
        "description": null,
        "tags": {
          "foo": "bar",
          "foo2": "bar2",
          "foo3": "bar3",
          "foo4": "bar4",
          "foo5": "bar5"
        },
        "locked": false,
        "last_modified": "2026-05-29T19:54:38+00:00"
      }
    },
    {
      "RequestUri": "https://azure-sdk-for-net-test.azconfig.io/revisions?api-version=2026-04-01&key=key-59813607&tags=foo%3Dbar&tags=foo2%3Dbar2&tags=foo3%3Dbar3&tags=foo4%3Dbar4&tags=foo5%3Dbar5",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Accept-Datetime": "Fri, 31 Dec 9999 23:59:59 GMT",
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NToxNyM0ODE0ODU1NQ==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"aIyWOI6jBdLKl5AJK7k6CS9qLuWS4SvRRPls8aXpIYk\"",
        "Sync-Token": "zAJw6V16=NToxNyM0ODE0ODU1NQ==;sn=48148555",
        "x-ms-date": "Fri, 29 May 2026 19:54:38 GMT"
      },
      "ResponseBody": {
        "etag": "aIyWOI6jBdLKl5AJK7k6CS9qLuWS4SvRRPls8aXpIYk",
        "items": [
          {
            "etag": "EWM9M6ZV1YGfmtImsBJf1zBA9jFe6gFn2CnVtpGWDbs",
            "key": "key-59813607",
            "label": "test_label_update",
            "content_type": "test_content_type",
            "value": "test_value",
            "description": null,
            "tags": {
              "foo": "bar",
              "foo2": "bar2",
              "foo3": "bar3",
              "foo4": "bar4",
              "foo5": "bar5"
            },
            "locked": false,
            "last_modified": "2026-05-29T19:54:38+00:00"
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://azure-sdk-for-net-test.azconfig.io/kv/key-59813607?api-version=2026-04-01&label=test_label_update",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NToxNyM0ODE0ODU1Ng==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"EWM9M6ZV1YGfmtImsBJf1zBA9jFe6gFn2CnVtpGWDbs\"",
        "Last-Modified": "Fri, 29 May 2026 19:54:38 GMT",
        "Sync-Token": "zAJw6V16=NToxNyM0ODE0ODU1Nw==;sn=48148557",
        "x-ms-date": "Fri, 29 May 2026 19:54:38 GMT"
      },
      "ResponseBody": {
        "etag": "EWM9M6ZV1YGfmtImsBJf1zBA9jFe6gFn2CnVtpGWDbs",
        "key": "key-59813607",
        "label": "test_label_update",
        "content_type": "test_content_type",
        "value": "test_value",
        "description": null,
        "tags": {
          "foo": "bar",
          "foo2": "bar2",
          "foo3": "bar3",
          "foo4": "bar4",
          "foo5": "bar5"
        },
        "locked": false,
        "last_modified": "2026-05-29T19:54:38+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://azure-sdk-for-net-test.azconfig.io;Id=8ePU;Secret=Kg==",
    "RandomSeed": "1800248132"
  }
}
