{
  "Entries": [
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-1499787581?api-version=2023-11-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"V4x5kclCbbxPc-5Ndze6SLNw0nU1XCiO2IDHo-gZ9QY\"",
        "Last-Modified": "Tue, 06 Jan 2026 01:19:12 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTc2NjMwMg==;sn=101766302",
        "x-ms-date": "Tue, 06 Jan 2026 01:19:12 GMT"
      },
      "ResponseBody": {
        "etag": "V4x5kclCbbxPc-5Ndze6SLNw0nU1XCiO2IDHo-gZ9QY",
        "key": "key-1499787581",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-01-06T01:19:12+00:00"
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-1499787581?api-version=2023-11-01&label=test_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTc2NjMwMg==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"V4x5kclCbbxPc-5Ndze6SLNw0nU1XCiO2IDHo-gZ9QY\"",
        "Last-Modified": "Tue, 06 Jan 2026 01:19:12 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTc2NjMwMw==;sn=101766303",
        "x-ms-date": "Tue, 06 Jan 2026 01:19:12 GMT"
      },
      "ResponseBody": {
        "etag": "V4x5kclCbbxPc-5Ndze6SLNw0nU1XCiO2IDHo-gZ9QY",
        "key": "key-1499787581",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-01-06T01:19:12+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t9c954b564de572f9-azconfig-net.azconfig.io;Id=MdvE;Secret=Kg==",
    "RandomSeed": "216193982"
  }
}
