{
  "Entries": [
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-1905633175?api-version=2023-11-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"9vzmbMcc0hXNbJgPkBhUni5Aa1EIM6yqbcSD8Houo5E\"",
        "Last-Modified": "Tue, 06 Jan 2026 06:35:35 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTc3Mzc3Ng==;sn=101773776",
        "x-ms-date": "Tue, 06 Jan 2026 06:35:35 GMT"
      },
      "ResponseBody": {
        "etag": "9vzmbMcc0hXNbJgPkBhUni5Aa1EIM6yqbcSD8Houo5E",
        "key": "key-1905633175",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-01-06T06:35:35+00:00"
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-1905633175?api-version=2023-11-01&label=test_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTc3Mzc3Ng==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"9vzmbMcc0hXNbJgPkBhUni5Aa1EIM6yqbcSD8Houo5E\"",
        "Last-Modified": "Tue, 06 Jan 2026 06:35:35 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTc3Mzc3Nw==;sn=101773777",
        "x-ms-date": "Tue, 06 Jan 2026 06:35:36 GMT"
      },
      "ResponseBody": {
        "etag": "9vzmbMcc0hXNbJgPkBhUni5Aa1EIM6yqbcSD8Houo5E",
        "key": "key-1905633175",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-01-06T06:35:35+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t9c954b564de572f9-azconfig-net.azconfig.io;Id=MdvE;Secret=Kg==",
    "RandomSeed": "1060501626"
  }
}
