{
  "Entries": [
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/kv/key-300757778?api-version=2023-11-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"GT5ztGZnl777MV1AmNLFimIhkDy77jFjQfNyLPFFOyo\"",
        "Last-Modified": "Tue, 18 Nov 2025 04:30:06 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzU3ODA0NjAz;sn=57804603",
        "x-ms-date": "Tue, 18 Nov 2025 04:30:06 GMT"
      },
      "ResponseBody": {
        "etag": "GT5ztGZnl777MV1AmNLFimIhkDy77jFjQfNyLPFFOyo",
        "key": "key-300757778",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2025-11-18T04:30:06+00:00"
      }
    },
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/kv/key-300757778?api-version=2023-11-01&label=test_label_update",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=Njo1IzU3ODA0NjAz",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"PoSqiJQKTscCyum2AGYsMH1P8nitvHuczPqmTo1A98o\"",
        "Last-Modified": "Tue, 18 Nov 2025 04:30:06 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzU3ODA0NjA0;sn=57804604",
        "x-ms-date": "Tue, 18 Nov 2025 04:30:06 GMT"
      },
      "ResponseBody": {
        "etag": "PoSqiJQKTscCyum2AGYsMH1P8nitvHuczPqmTo1A98o",
        "key": "key-300757778",
        "label": "test_label_update",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2025-11-18T04:30:06+00:00"
      }
    },
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/revisions?api-version=2023-11-01&key=key-300757778&label=test_label_update",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Njo1IzU3ODA0NjA0",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"yL6NgtzWNYBIs4Jtqu-0YGVPRqSzb66qWL8gKfShkxM\"",
        "Sync-Token": "zAJw6V16=Njo1IzU3ODA0NjA0;sn=57804604",
        "x-ms-date": "Tue, 18 Nov 2025 04:30:06 GMT"
      },
      "ResponseBody": {
        "etag": "yL6NgtzWNYBIs4Jtqu-0YGVPRqSzb66qWL8gKfShkxM",
        "items": [
          {
            "etag": "PoSqiJQKTscCyum2AGYsMH1P8nitvHuczPqmTo1A98o",
            "key": "key-300757778",
            "label": "test_label_update",
            "content_type": "test_content_type",
            "value": "test_value",
            "tags": {
              "tag1": "value1",
              "tag2": "value2"
            },
            "locked": false,
            "last_modified": "2025-11-18T04:30:06+00:00"
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/kv/key-300757778?api-version=2023-11-01&label=test_label_update",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Njo1IzU3ODA0NjA1",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"PoSqiJQKTscCyum2AGYsMH1P8nitvHuczPqmTo1A98o\"",
        "Last-Modified": "Tue, 18 Nov 2025 04:30:06 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzU3ODA0NjA2;sn=57804606",
        "x-ms-date": "Tue, 18 Nov 2025 04:30:06 GMT"
      },
      "ResponseBody": {
        "etag": "PoSqiJQKTscCyum2AGYsMH1P8nitvHuczPqmTo1A98o",
        "key": "key-300757778",
        "label": "test_label_update",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2025-11-18T04:30:06+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t8cdd9157ca7d1363-azconfig-net.azconfig.io;Id=wNKY;Secret=Kg==",
    "RandomSeed": "2031090802"
  }
}
