{
  "Entries": [
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv/key-756878747?api-version=2023-11-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"LvV3DvvBShlpfAwjj-_tV360C1CsSAtR9SeTiVoeTtA\"",
        "Last-Modified": "Tue, 09 Jun 2026 23:03:48 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY2OTk2Njg4;sn=66996688",
        "x-ms-date": "Tue, 09 Jun 2026 23:03:48 GMT"
      },
      "ResponseBody": {
        "etag": "LvV3DvvBShlpfAwjj-_tV360C1CsSAtR9SeTiVoeTtA",
        "key": "key-756878747",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-06-09T23:03:48+00:00"
      }
    },
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv/key-756878747?api-version=2023-11-01&label=test_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Mzo1IzY2OTk2Njg4"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"LvV3DvvBShlpfAwjj-_tV360C1CsSAtR9SeTiVoeTtA\"",
        "Last-Modified": "Tue, 09 Jun 2026 23:03:48 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY2OTk2Njg5;sn=66996689",
        "x-ms-date": "Tue, 09 Jun 2026 23:03:48 GMT"
      },
      "ResponseBody": {
        "etag": "LvV3DvvBShlpfAwjj-_tV360C1CsSAtR9SeTiVoeTtA",
        "key": "key-756878747",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-06-09T23:03:48+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_ENDPOINT_STRING": "https://mrm90847047-azconfig-net.azconfig.io",
    "RandomSeed": "1229974211"
  }
}
