{
  "Entries": [
    {
      "RequestUri": "https://t02f6e87f544544f3-azconfig-net.azconfig.io/kv/key-1133690328?label=test_label\u0026api-version=2022-11-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "b11OQu6GthUatwGXUIKHHSRVyik0TdrUk5kZm3yZd2A="
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022ZAU2AOxoby2GdoLB1XDE5TrhXgZ_vQBiKTJKVCoce7Q\u0022",
        "Last-Modified": "Fri, 30 Jun 2023 19:05:27 GMT",
        "Sync-Token": "zAJw6V16=ODo1IzI0ODY5NTM3;sn=24869537"
      },
      "ResponseBody": {
        "etag": "ZAU2AOxoby2GdoLB1XDE5TrhXgZ_vQBiKTJKVCoce7Q",
        "key": "key-1133690328",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2023-06-30T19:05:27\u002B00:00"
      }
    },
    {
      "RequestUri": "https://t02f6e87f544544f3-azconfig-net.azconfig.io/kv/key-1133690328?label=test_label_update\u0026api-version=2022-11-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=ODo1IzI0ODY5NTM3",
        "x-ms-content-sha256": "b11OQu6GthUatwGXUIKHHSRVyik0TdrUk5kZm3yZd2A="
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022MGv6g7LkXAsnFYfZwHYGEZn5yLCMUH9wo-TwN4GYskM\u0022",
        "Last-Modified": "Fri, 30 Jun 2023 19:05:27 GMT",
        "Sync-Token": "zAJw6V16=ODo1IzI0ODY5NTM4;sn=24869538"
      },
      "ResponseBody": {
        "etag": "MGv6g7LkXAsnFYfZwHYGEZn5yLCMUH9wo-TwN4GYskM",
        "key": "key-1133690328",
        "label": "test_label_update",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2023-06-30T19:05:27\u002B00:00"
      }
    },
    {
      "RequestUri": "https://t02f6e87f544544f3-azconfig-net.azconfig.io/revisions?key=key-1133690328\u0026api-version=2022-11-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Accept-Datetime": "Fri, 31 Dec 9999 23:59:59 GMT",
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=ODo1IzI0ODY5NTM4",
        "x-ms-content-sha256": "47DEQpj8HBSa\u002B/TImW\u002B5JCeuQeRkm5NMpJWZG3hSuFU="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset\u002Bjson; charset=utf-8",
        "Sync-Token": "zAJw6V16=ODo1IzI0ODY5NTM4;sn=24869538"
      },
      "ResponseBody": {
        "items": [
          {
            "etag": "MGv6g7LkXAsnFYfZwHYGEZn5yLCMUH9wo-TwN4GYskM",
            "key": "key-1133690328",
            "label": "test_label_update",
            "content_type": "test_content_type",
            "value": "test_value",
            "tags": {
              "tag1": "value1",
              "tag2": "value2"
            },
            "locked": false,
            "last_modified": "2023-06-30T19:05:27\u002B00:00"
          },
          {
            "etag": "ZAU2AOxoby2GdoLB1XDE5TrhXgZ_vQBiKTJKVCoce7Q",
            "key": "key-1133690328",
            "label": "test_label",
            "content_type": "test_content_type",
            "value": "test_value",
            "tags": {
              "tag1": "value1",
              "tag2": "value2"
            },
            "locked": false,
            "last_modified": "2023-06-30T19:05:27\u002B00:00"
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://t02f6e87f544544f3-azconfig-net.azconfig.io/kv/key-1133690328?label=test_label_update\u0026api-version=2022-11-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=ODo1IzI0ODY5NTM5",
        "x-ms-content-sha256": "47DEQpj8HBSa\u002B/TImW\u002B5JCeuQeRkm5NMpJWZG3hSuFU="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022MGv6g7LkXAsnFYfZwHYGEZn5yLCMUH9wo-TwN4GYskM\u0022",
        "Last-Modified": "Fri, 30 Jun 2023 19:05:27 GMT",
        "Sync-Token": "zAJw6V16=ODo1IzI0ODY5NTQw;sn=24869540"
      },
      "ResponseBody": {
        "etag": "MGv6g7LkXAsnFYfZwHYGEZn5yLCMUH9wo-TwN4GYskM",
        "key": "key-1133690328",
        "label": "test_label_update",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2023-06-30T19:05:27\u002B00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t02f6e87f544544f3-azconfig-net.azconfig.io;Id=Ek\u002BM;Secret=Kg==",
    "RandomSeed": "465891738"
  }
}
