{
  "Entries": [
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv/first_key?api-version=2026-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "value": "first_value",
        "content_type": null,
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"ONof8e0FCAXw119kbb-tKQtWt99pH77mp16Z6GHDbow\"",
        "Last-Modified": "Wed, 10 Jun 2026 21:42:59 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDk0OTg1;sn=67094985",
        "x-ms-date": "Wed, 10 Jun 2026 21:42:59 GMT"
      },
      "ResponseBody": {
        "etag": "ONof8e0FCAXw119kbb-tKQtWt99pH77mp16Z6GHDbow",
        "key": "first_key",
        "label": null,
        "content_type": null,
        "value": "first_value",
        "description": null,
        "tags": {},
        "locked": false,
        "last_modified": "2026-06-10T21:42:59+00:00"
      }
    },
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv/second_key?api-version=2026-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDk0OTg1"
      },
      "RequestBody": {
        "value": "second_value",
        "content_type": null,
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"2C6ektYRUNMRxB0LkQ8DEf11BFPkx248OA4jioiRiKI\"",
        "Last-Modified": "Wed, 10 Jun 2026 21:42:59 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDk0OTg3;sn=67094987",
        "x-ms-date": "Wed, 10 Jun 2026 21:42:59 GMT"
      },
      "ResponseBody": {
        "etag": "2C6ektYRUNMRxB0LkQ8DEf11BFPkx248OA4jioiRiKI",
        "key": "second_key",
        "label": null,
        "content_type": null,
        "value": "second_value",
        "description": null,
        "tags": {},
        "locked": false,
        "last_modified": "2026-06-10T21:42:59+00:00"
      }
    },
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/snapshots/first_snapshot312376571?api-version=2026-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDk0OTg3"
      },
      "RequestBody": {
        "filters": [
          {
            "key": "first_key"
          }
        ],
        "retention_period": 3600,
        "description": "Test snapshot description"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json; charset=utf-8",
        "ETag": "\"x1_rgUynaz5jHdrYED8a6k58KlZPmQYuOG9H5Ckrbgw\"",
        "Last-Modified": "Wed, 10 Jun 2026 21:42:59 GMT",
        "Link": "</kv?snapshot=first_snapshot312376571&api-version=2026-04-01>; rel=\"items\"",
        "Operation-Location": "https://mrm90847047-azconfig-net.azconfig.io/operations?snapshot=first_snapshot312376571&api-version=2026-04-01",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDk0OTg5;sn=67094989",
        "x-ms-date": "Wed, 10 Jun 2026 21:42:59 GMT"
      },
      "ResponseBody": {
        "etag": "x1_rgUynaz5jHdrYED8a6k58KlZPmQYuOG9H5Ckrbgw",
        "name": "first_snapshot312376571",
        "description": "Test snapshot description",
        "status": "provisioning",
        "filters": [
          {
            "key": "first_key",
            "label": null,
            "tags": []
          }
        ],
        "composition_type": "key",
        "created": "2026-06-10T21:42:59.1939919+00:00",
        "size": 0,
        "items_count": 0,
        "tags": {},
        "retention_period": 3600
      }
    },
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/operations?api-version=2026-04-01&snapshot=first_snapshot312376571",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDk0OTg5"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDk0OTg5;sn=67094989",
        "x-ms-date": "Wed, 10 Jun 2026 21:42:59 GMT"
      },
      "ResponseBody": {
        "id": "BAJoQAtYkUtG7W6sf3N8pe4QojzvikidlnwzV45klVM",
        "status": "Running",
        "error": null
      }
    },
[...]
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/snapshots/second_snapshot1469583634?api-version=2026-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDk0OTkw"
      },
      "RequestBody": {
        "filters": [
          {
            "key": "second_key"
          }
        ],
        "retention_period": 3600,
        "description": "T[...]
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/operations?api-version=2026-04-01&snapshot=second_snapshot1469583634",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDk0OTkx"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDk0OTkx;sn=67094991",
        "x-ms-date": "Wed, 10 Jun 2026 21:43:19 GMT"
      },
      "ResponseBody": {
        "id": "Q4oa3Hk6fesIWrwn3yPiKrW8M1icxhYIhQ_Vx6YFJbM",
        "status": "Running",
        "error": null
      }
    },
[...]
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/snapshots?api-version=2026-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDk0OTkz"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshotset+json; charset=utf-8",
        "Link": "</snapshots?api-version=2026-04-01&after=Zmlyc3Rfc25hcHNob3QxMzc5MjQ0NjM4>; rel=\"next\"",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDk0OTkz;sn=67094993",
        "x-ms-date": "Wed, 10 Jun 2026 21:43:40 GMT"
      },
      "ResponseBody": {
        "items": [
          {
            "etag": "OjfnEc7chZSpxw2i5ViY3phTmcjZvQ7_k6xFPdspMxM",
            "name": "first_snapshot1146318249",
            "description": null,
            "status": "ready",
            "filters": [
              {
                "key": "first_key",
                "label": null,
                "tags": []
              }
            ],
            "composition_type": "key",
            "created": "2026-06-09T23:57:47+00:00",
            "size": 1000,
            "items_coun[...]
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/snapshots?after=Zmlyc3Rfc25hcHNob3QxMzc5MjQ0NjM4&api-version=2026-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDk0OTkz"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshotset+json; charset=utf-8",
        "Link": "</snapshot[...]
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/snapshots?after=Zmlyc3Rfc25hcHNob3QxODczOTgyNjg%3D&api-version=2026-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDk0OTkz"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshotset+json; charset=utf-8",
        "Link": "</snapsh[...]
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/snapshots?after=Zmlyc3Rfc25hcHNob3QyNjgyOTE0OTY%3D&api-version=2026-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDk0OTkz"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshotset+json; charset=utf-8",
        "Link": "</snapsh[...]
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/snapshots?after=Zmlyc3Rfc25hcHNob3Q0NTI1MjEwNDE%3D&api-version=2026-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDk0OTkz"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshotset+json; charset=utf-8",
        "Link": "</snapsh[...]
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/snapshots?after=c2Vjb25kX3NuYXBzaG90MTAyNjg1OTg3Ng%3D%3D&api-version=2026-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDk0OTkz"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshotset+json; charset=utf-8",
        "Link": "</[...]
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/snapshots?after=c2Vjb25kX3NuYXBzaG90MTQyNzk1MjkyMw%3D%3D&api-version=2026-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDk0OTkz"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshotset+json; charset=utf-8",
        "Link": "</[...]
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/snapshots?after=c2Vjb25kX3NuYXBzaG90MTg2MzIxNDk5OQ%3D%3D&api-version=2026-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDk0OTkz"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshotset+json; charset=utf-8",
        "Link": "</[...]
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/snapshots?after=c2Vjb25kX3NuYXBzaG90MzgxMjU3NTQ3&api-version=2026-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDk0OTkz"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshotset+json; charset=utf-8",
        "Link": "</snapshot[...]
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/snapshots?after=c2Vjb25kX3NuYXBzaG90OTQxMDQxNjI1&api-version=2026-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDk0OTkz"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshotset+json; charset=utf-8",
        "Link": "</snapshot[...]
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/snapshots?after=c25hcHNob3QtMTA3ODIwNTUzMw%3D%3D&api-version=2026-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDk0OTkz"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshotset+json; charset=utf-8",
        "Link": "</snapshot[...]
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/snapshots?after=c25hcHNob3QtMTEzNTE4ODQ2NQ%3D%3D&api-version=2026-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDk0OTkz"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshotset+json; charset=utf-8",
        "Link": "</snapshot[...]
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/snapshots?after=c25hcHNob3QtMTIwMTg4MTkwNw%3D%3D&api-version=2026-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDk0OTkz"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshotset+json; charset=utf-8",
        "Link": "</snapshot[...]
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/snapshots?after=c25hcHNob3QtMTI3MDQ5NTk4Mg%3D%3D&api-version=2026-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDk0OTkz"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshotset+json; charset=utf-8",
        "Link": "</snapshot[...]
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/snapshots?after=c25hcHNob3QtMTM0NjY3MDQ5Mg%3D%3D&api-version=2026-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDk0OTkz"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshotset+json; charset=utf-8",
        "Link": "</snapshot[...]
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/snapshots?after=c25hcHNob3QtMTQzMTA5MDM3NA%3D%3D&api-version=2026-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDk0OTkz"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshotset+json; charset=utf-8",
        "Link": "</snapshot[...]
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/snapshots?after=c25hcHNob3QtMTUyOTA5NzI1NA%3D%3D&api-version=2026-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDk0OTkz"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshotset+json; charset=utf-8",
        "Link": "</snapshot[...]
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/snapshots?after=c25hcHNob3QtMTU4NTAzNjYxNA%3D%3D&api-version=2026-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDk0OTkz"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshotset+json; charset=utf-8",
        "Link": "</snapshot[...]
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/snapshots?after=c25hcHNob3QtMTY3MTg2NDMxNg%3D%3D&api-version=2026-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDk0OTkz"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshotset+json; charset=utf-8",
        "Link": "</snapshot[...]
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/snapshots?after=c25hcHNob3QtMTcyOTI4ODkyMg%3D%3D&api-version=2026-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDk0OTkz"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshotset+json; charset=utf-8",
        "Link": "</snapshot[...]
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/snapshots?after=c25hcHNob3QtMTc5ODIyNTc2Mg%3D%3D&api-version=2026-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDk0OTkz"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshotset+json; charset=utf-8",
        "Link": "</snapshot[...]
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/snapshots?after=c25hcHNob3QtMTkwOTE2ODQ4NQ%3D%3D&api-version=2026-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDk0OTkz"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshotset+json; charset=utf-8",
        "Link": "</snapshot[...]
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/snapshots?after=c25hcHNob3QtMjA1MDAwODczNg%3D%3D&api-version=2026-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDk0OTkz"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshotset+json; charset=utf-8",
        "Link": "</snapshot[...]
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/snapshots?after=c25hcHNob3QtMjA3ODM4MzUwMg%3D%3D&api-version=2026-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDk0OTkz"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshotset+json; charset=utf-8",
        "Link": "</snapshot[...]
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/snapshots?after=c25hcHNob3QtMjYyMjI0Nzkz&api-version=2026-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDk0OTkz"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshotset+json; charset=utf-8",
        "Link": "</snapshots?api-ve[...]
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/snapshots?after=c25hcHNob3QtMzY5MTc1MTg2&api-version=2026-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDk0OTkz"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshotset+json; charset=utf-8",
        "Link": "</snapshots?api-ve[...]
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/snapshots?after=c25hcHNob3QtNTAyNjQ1NTk1&api-version=2026-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDk0OTkz"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshotset+json; charset=utf-8",
        "Link": "</snapshots?api-ve[...]
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/snapshots?after=c25hcHNob3QtNTk5MzAyNjM5&api-version=2026-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDk0OTkz"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshotset+json; charset=utf-8",
        "Link": "</snapshots?api-ve[...]
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/snapshots?after=c25hcHNob3QtNjU5MTEyMjg0&api-version=2026-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDk0OTkz"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshotset+json; charset=utf-8",
        "Link": "</snapshots?api-ve[...]
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/snapshots?after=c25hcHNob3QtNzI3MTcwMzI5&api-version=2026-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDk0OTkz"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshotset+json; charset=utf-8",
        "Link": "</snapshots?api-ve[...]
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/snapshots?after=c25hcHNob3QtNzk4NTYwNzQx&api-version=2026-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDk0OTkz"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshotset+json; charset=utf-8",
        "Link": "</snapshots?api-ve[...]
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/snapshots?after=c25hcHNob3QtODUxNTYzOTI5&api-version=2026-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDk0OTkz"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshotset+json; charset=utf-8",
        "Link": "</snapshots?api-ve[...]
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/snapshots?after=c25hcHNob3QtOTI5NzIwNTk4&api-version=2026-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDk0OTkz"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshotset+json; charset=utf-8",
        "Sync-Token": "zAJw6V16=Mzo[...]
[...]
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv/second_key?api-version=2026-04-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDk0OTk0"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"2C6ektYRUNMRxB0LkQ8DEf11BFPkx248OA4jioiRiKI\"",
        "Last-Modified": "Wed, 10 Jun 2026 21:42:59 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDk0OTk1;sn=67094995",
        "x-ms-date": "Wed, 10 Jun 2026 21:43:42 GMT"
      },
      "ResponseBody": {
        "etag": "2C6ektYRUNMRxB0LkQ8DEf11BFPkx248OA4jioiRiKI",
        "key": "second_key",
        "label": null,
        "content_type": null,
        "value": "second_value",
        "description": null,
        "tags": {},
        "locked": false,
        "last_modified": "2026-06-10T21:42:59+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_ENDPOINT_STRING": "https://mrm90847047-azconfig-net.azconfig.io",
    "RandomSeed": "1975953276"
  }
}
