{
  "Entries": [
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-1814555862?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"uBN83cK1-15jE1UzvomKuB4kG2vp8VIMTdoVO56ZIS8\"",
        "Last-Modified": "Thu, 22 Jan 2026 02:02:31 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzQ3NDY5Nw==;sn=103474697",
        "x-ms-date": "Thu, 22 Jan 2026 02:02:31 GMT"
      },
      "ResponseBody": {
        "etag": "uBN83cK1-15jE1UzvomKuB4kG2vp8VIMTdoVO56ZIS8",
        "key": "key-1814555862",
        "label": null,
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-01-22T02:02:31+00:00"
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-1814555862?api-version=2023-11-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzQ3NDY5Nw==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"f0rt9IycsLWPZ6K8TAVMrLbjWK57Sll_o85X1XbCEbU\"",
        "Last-Modified": "Thu, 22 Jan 2026 02:02:31 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzQ3NDY5OA==;sn=103474698",
        "x-ms-date": "Thu, 22 Jan 2026 02:02:31 GMT"
      },
      "ResponseBody": {
        "etag": "f0rt9IycsLWPZ6K8TAVMrLbjWK57Sll_o85X1XbCEbU",
        "key": "key-1814555862",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-01-22T02:02:31+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-1814555862?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzQ3NDY5OQ==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"uBN83cK1-15jE1UzvomKuB4kG2vp8VIMTdoVO56ZIS8\"",
        "Last-Modified": "Thu, 22 Jan 2026 02:02:31 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzQ3NDcwMA==;sn=103474700",
        "x-ms-date": "Thu, 22 Jan 2026 02:02:31 GMT"
      },
      "ResponseBody": {
        "etag": "uBN83cK1-15jE1UzvomKuB4kG2vp8VIMTdoVO56ZIS8",
        "key": "key-1814555862",
        "label": null,
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-01-22T02:02:31+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t9c954b564de572f9-azconfig-net.azconfig.io;Id=MdvE;Secret=Kg==",
    "RandomSeed": "1072444556"
  }
}
