{
  "Entries": [
    {
      "RequestUri": "https://azure-sdk-for-net-test.azconfig.io/kv/key-1763450918?api-version=2026-04-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"k8li4ok0BbSrfpjasBJIAFSRVvbd531BDc8BcQ_llIE\"",
        "Last-Modified": "Fri, 29 May 2026 19:54:38 GMT",
        "Sync-Token": "zAJw6V16=NToxNyM0ODE0ODU3MA==;sn=48148570",
        "x-ms-date": "Fri, 29 May 2026 19:54:38 GMT"
      },
      "ResponseBody": {
        "etag": "k8li4ok0BbSrfpjasBJIAFSRVvbd531BDc8BcQ_llIE",
        "key": "key-1763450918",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "description": null,
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-05-29T19:54:38+00:00"
      }
    },
    {
      "RequestUri": "https://azure-sdk-for-net-test.azconfig.io/kv/key-1763450918?api-version=2026-04-01&label=test_label",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "\"this won't match\"",
        "Sync-Token": "zAJw6V16=NToxNyM0ODE0ODU3MA==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"k8li4ok0BbSrfpjasBJIAFSRVvbd531BDc8BcQ_llIE\"",
        "Last-Modified": "Fri, 29 May 2026 19:54:38 GMT",
        "Sync-Token": "zAJw6V16=NToxNyM0ODE0ODU3MA==;sn=48148570",
        "x-ms-date": "Fri, 29 May 2026 19:54:38 GMT"
      },
      "ResponseBody": {
        "etag": "k8li4ok0BbSrfpjasBJIAFSRVvbd531BDc8BcQ_llIE",
        "key": "key-1763450918",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "description": null,
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-05-29T19:54:38+00:00"
      }
    },
    {
      "RequestUri": "https://azure-sdk-for-net-test.azconfig.io/kv/key-1763450918?api-version=2026-04-01&label=test_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NToxNyM0ODE0ODU3MA==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"k8li4ok0BbSrfpjasBJIAFSRVvbd531BDc8BcQ_llIE\"",
        "Last-Modified": "Fri, 29 May 2026 19:54:38 GMT",
        "Sync-Token": "zAJw6V16=NToxNyM0ODE0ODU3MQ==;sn=48148571",
        "x-ms-date": "Fri, 29 May 2026 19:54:38 GMT"
      },
      "ResponseBody": {
        "etag": "k8li4ok0BbSrfpjasBJIAFSRVvbd531BDc8BcQ_llIE",
        "key": "key-1763450918",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "description": null,
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-05-29T19:54:38+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://azure-sdk-for-net-test.azconfig.io;Id=8ePU;Secret=Kg==",
    "RandomSeed": "1083600742"
  }
}
