{
  "Entries": [
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv/~%60%21%40%23%24%5E%26%28%29_%2B%3D%5B%5D%7B%7D%7C%3B%22%27%3C%3E.%2F--806824346?api-version=2026-04-01&label=label-~%60%21%40%23%24%5E%26%28%29_%2B%3D%5B%5D%7B%7D%7C%3B%22%27%3C%3E.%2F-",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "value": "value-~`!@#$^&()_+=[]{}|;\"'<>./-",
        "content_type": null,
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"04OGLc_lEb7y8WBZQ_3qUTwV1_VKGaS7r5oPbJht980\"",
        "Last-Modified": "Wed, 10 Jun 2026 21:42:45 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDk0OTcx;sn=67094971",
        "x-ms-date": "Wed, 10 Jun 2026 21:42:45 GMT"
      },
      "ResponseBody": {
        "etag": "04OGLc_lEb7y8WBZQ_3qUTwV1_VKGaS7r5oPbJht980",
        "key": "~`!@#$^&()_+=[]{}|;\"'<>./--806824346",
        "label": "label-~`!@#$^&()_+=[]{}|;\"'<>./-",
        "content_type": null,
        "value": "value-~`!@#$^&()_+=[]{}|;\"'<>./-",
        "description": null,
        "tags": {},
        "locked": false,
        "last_modified": "2026-06-10T21:42:45+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv/~%60%21%40%23%24%5E%26%28%29_%2B%3D%5B%5D%7B%7D%7C%3B%22%27%3C%3E.%2F--806824346?api-version=2026-04-01&label=label-~%60%21%40%23%24%5E%26%28%29_%2B%3D%5B%5D%7B%7D%7C%3B%22%27%3C%3E.%2F-",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDk0OTcx"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"04OGLc_lEb7y8WBZQ_3qUTwV1_VKGaS7r5oPbJht980\"",
        "Last-Modified": "Wed, 10 Jun 2026 21:42:45 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDk0OTcy;sn=67094972",
        "x-ms-date": "Wed, 10 Jun 2026 21:42:45 GMT"
      },
      "ResponseBody": {
        "etag": "04OGLc_lEb7y8WBZQ_3qUTwV1_VKGaS7r5oPbJht980",
        "key": "~`!@#$^&()_+=[]{}|;\"'<>./--806824346",
        "label": "label-~`!@#$^&()_+=[]{}|;\"'<>./-",
        "content_type": null,
        "value": "value-~`!@#$^&()_+=[]{}|;\"'<>./-",
        "description": null,
        "tags": {},
        "locked": false,
        "last_modified": "2026-06-10T21:42:45+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_ENDPOINT_STRING": "https://mrm90847047-azconfig-net.azconfig.io",
    "RandomSeed": "1697121201"
  }
}
