{
  "Entries": [
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv/~%60%21%40%23%24%5E%26%28%29_%2B%3D%5B%5D%7B%7D%7C%3B%22%27%3C%3E.%2F--225081872?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "value": "value-~`!@#$^&()_+=[]{}|;\"'<>./-",
        "content_type": null,
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"ofzXCn7tBihE__DjncOJN7vuaAKNq-m_N9O6NAmYsdU\"",
        "Last-Modified": "Tue, 09 Jun 2026 23:04:01 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY2OTk2NzA0;sn=66996704",
        "x-ms-date": "Tue, 09 Jun 2026 23:04:01 GMT"
      },
      "ResponseBody": {
        "etag": "ofzXCn7tBihE__DjncOJN7vuaAKNq-m_N9O6NAmYsdU",
        "key": "~`!@#$^&()_+=[]{}|;\"'<>./--225081872",
        "label": null,
        "content_type": null,
        "value": "value-~`!@#$^&()_+=[]{}|;\"'<>./-",
        "tags": {},
        "locked": false,
        "last_modified": "2026-06-09T23:04:01+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv/~%60%21%40%23%24%5E%26%28%29_%2B%3D%5B%5D%7B%7D%7C%3B%22%27%3C%3E.%2F--225081872?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Mzo1IzY2OTk2NzA0"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"ofzXCn7tBihE__DjncOJN7vuaAKNq-m_N9O6NAmYsdU\"",
        "Last-Modified": "Tue, 09 Jun 2026 23:04:01 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY2OTk2NzA1;sn=66996705",
        "x-ms-date": "Tue, 09 Jun 2026 23:04:01 GMT"
      },
      "ResponseBody": {
        "etag": "ofzXCn7tBihE__DjncOJN7vuaAKNq-m_N9O6NAmYsdU",
        "key": "~`!@#$^&()_+=[]{}|;\"'<>./--225081872",
        "label": null,
        "content_type": null,
        "value": "value-~`!@#$^&()_+=[]{}|;\"'<>./-",
        "tags": {},
        "locked": false,
        "last_modified": "2026-06-09T23:04:01+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_ENDPOINT_STRING": "https://mrm90847047-azconfig-net.azconfig.io",
    "RandomSeed": "479509642"
  }
}
