{
  "Entries": [
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/kv/~%60%21%40%23%24%5E%26%28%29_%2B%3D%5B%5D%7B%7D%7C%3B%22%27%3C%3E.%2F--672575081?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "value-~`!@#$^&()_+=[]{}|;\"'<>./-",
        "content_type": null,
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"ocvYLKB7edwmC-bKpk7FuZ2clpGxhDrhRvGyP2W4FE0\"",
        "Last-Modified": "Thu, 09 Oct 2025 16:33:45 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzU1NTMzMDcw;sn=55533070",
        "x-ms-date": "Thu, 09 Oct 2025 16:33:45 GMT"
      },
      "ResponseBody": {
        "etag": "ocvYLKB7edwmC-bKpk7FuZ2clpGxhDrhRvGyP2W4FE0",
        "key": "~`!@#$^&()_+=[]{}|;\"'<>./--672575081",
        "label": null,
        "content_type": null,
        "value": "value-~`!@#$^&()_+=[]{}|;\"'<>./-",
        "tags": {},
        "locked": false,
        "last_modified": "2025-10-09T16:33:45+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/kv/~%60%21%40%23%24%5E%26%28%29_%2B%3D%5B%5D%7B%7D%7C%3B%22%27%3C%3E.%2F--672575081?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Njo1IzU1NTMzMDcw",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"ocvYLKB7edwmC-bKpk7FuZ2clpGxhDrhRvGyP2W4FE0\"",
        "Last-Modified": "Thu, 09 Oct 2025 16:33:45 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzU1NTMzMDcx;sn=55533071",
        "x-ms-date": "Thu, 09 Oct 2025 16:33:45 GMT"
      },
      "ResponseBody": {
        "etag": "ocvYLKB7edwmC-bKpk7FuZ2clpGxhDrhRvGyP2W4FE0",
        "key": "~`!@#$^&()_+=[]{}|;\"'<>./--672575081",
        "label": null,
        "content_type": null,
        "value": "value-~`!@#$^&()_+=[]{}|;\"'<>./-",
        "tags": {},
        "locked": false,
        "last_modified": "2025-10-09T16:33:45+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t8cdd9157ca7d1363-azconfig-net.azconfig.io;Id=wNKY;Secret=Kg==",
    "RandomSeed": "1628738299"
  }
}
