{
  "Entries": [
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/kv/key-549399770?api-version=2023-11-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"y2nkp2E5ea2TbqzkLr3OLv5uSq6tT0Gqmix_d6LEwm0\"",
        "Last-Modified": "Thu, 09 Oct 2025 16:33:45 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzU1NTMzMDc4;sn=55533078",
        "x-ms-date": "Thu, 09 Oct 2025 16:33:45 GMT"
      },
      "ResponseBody": {
        "etag": "y2nkp2E5ea2TbqzkLr3OLv5uSq6tT0Gqmix_d6LEwm0",
        "key": "key-549399770",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2025-10-09T16:33:45+00:00"
      }
    },
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/kv/key-549399770?api-version=2023-11-01&label=test_label",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"y2nkp2E5ea2TbqzkLr3OLv5uSq6tT0Gqmix_d6LEwm0\"",
        "Sync-Token": "zAJw6V16=Njo1IzU1NTMzMDc4",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"y2nkp2E5ea2TbqzkLr3OLv5uSq6tT0Gqmix_d6LEwm0\"",
        "Last-Modified": "Thu, 09 Oct 2025 16:33:45 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzU1NTMzMDc4;sn=55533078",
        "x-ms-date": "Thu, 09 Oct 2025 16:33:46 GMT"
      },
      "ResponseBody": {
        "etag": "y2nkp2E5ea2TbqzkLr3OLv5uSq6tT0Gqmix_d6LEwm0",
        "key": "key-549399770",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2025-10-09T16:33:45+00:00"
      }
    },
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/kv/key-549399770?api-version=2023-11-01&label=test_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Njo1IzU1NTMzMDc4",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"y2nkp2E5ea2TbqzkLr3OLv5uSq6tT0Gqmix_d6LEwm0\"",
        "Last-Modified": "Thu, 09 Oct 2025 16:33:45 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzU1NTMzMDgx;sn=55533081",
        "x-ms-date": "Thu, 09 Oct 2025 16:33:46 GMT"
      },
      "ResponseBody": {
        "etag": "y2nkp2E5ea2TbqzkLr3OLv5uSq6tT0Gqmix_d6LEwm0",
        "key": "key-549399770",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2025-10-09T16:33:45+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t8cdd9157ca7d1363-azconfig-net.azconfig.io;Id=wNKY;Secret=Kg==",
    "RandomSeed": "798782054"
  }
}
