{
  "Entries": [
    {
      "RequestUri": "https://azure-sdk-for-net-test.azconfig.io/kv/key-692651998?api-version=2026-04-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"6gydjwKZveHW4SsAdgnKEjdO7UAmPp2_ayng84O6-ew\"",
        "Last-Modified": "Wed, 27 May 2026 23:57:07 GMT",
        "Sync-Token": "zAJw6V16=NToxNyM0ODA0MjA2NA==;sn=48042064",
        "x-ms-date": "Wed, 27 May 2026 23:57:07 GMT"
      },
      "ResponseBody": {
        "etag": "6gydjwKZveHW4SsAdgnKEjdO7UAmPp2_ayng84O6-ew",
        "key": "key-692651998",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "description": null,
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-05-27T23:57:07+00:00"
      }
    },
    {
      "RequestUri": "https://azure-sdk-for-net-test.azconfig.io/kv/key-692651998?api-version=2026-04-01&label=test_label",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"this won't match\"",
        "Sync-Token": "zAJw6V16=NToxNyM0ODA0MjA2NA==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Sync-Token": "zAJw6V16=NToxNyM0ODA0MjA2NA==;sn=48042064",
        "x-ms-date": "Wed, 27 May 2026 23:57:07 GMT"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://azure-sdk-for-net-test.azconfig.io/kv/key-692651998?api-version=2026-04-01&label=test_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NToxNyM0ODA0MjA2NA==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"6gydjwKZveHW4SsAdgnKEjdO7UAmPp2_ayng84O6-ew\"",
        "Last-Modified": "Wed, 27 May 2026 23:57:07 GMT",
        "Sync-Token": "zAJw6V16=NToxNyM0ODA0MjA2NQ==;sn=48042065",
        "x-ms-date": "Wed, 27 May 2026 23:57:07 GMT"
      },
      "ResponseBody": {
        "etag": "6gydjwKZveHW4SsAdgnKEjdO7UAmPp2_ayng84O6-ew",
        "key": "key-692651998",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "description": null,
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-05-27T23:57:07+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://azure-sdk-for-net-test.azconfig.io;Id=8ePU;Secret=Kg==",
    "RandomSeed": "523824683"
  }
}
