{
  "Entries": [
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-1925418849?api-version=2023-11-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"OQMo7xa9fpScuSXfg7EJeWmVBBaMvu_joKzwNyTxcqU\"",
        "Last-Modified": "Fri, 23 Jan 2026 07:16:59 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU3NjA1Mw==;sn=103576053",
        "x-ms-date": "Fri, 23 Jan 2026 07:16:59 GMT"
      },
      "ResponseBody": {
        "etag": "OQMo7xa9fpScuSXfg7EJeWmVBBaMvu_joKzwNyTxcqU",
        "key": "key-1925418849",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-01-23T07:16:59+00:00"
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-1925418849?api-version=2023-11-01&label=test_label",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "\"this won't match\"",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU3NjA1Mw==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"OQMo7xa9fpScuSXfg7EJeWmVBBaMvu_joKzwNyTxcqU\"",
        "Last-Modified": "Fri, 23 Jan 2026 07:16:59 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU3NjA1Mw==;sn=103576053",
        "x-ms-date": "Fri, 23 Jan 2026 07:16:59 GMT"
      },
      "ResponseBody": {
        "etag": "OQMo7xa9fpScuSXfg7EJeWmVBBaMvu_joKzwNyTxcqU",
        "key": "key-1925418849",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-01-23T07:16:59+00:00"
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-1925418849?api-version=2023-11-01&label=test_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU3NjA1Mw==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"OQMo7xa9fpScuSXfg7EJeWmVBBaMvu_joKzwNyTxcqU\"",
        "Last-Modified": "Fri, 23 Jan 2026 07:16:59 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU3NjA1NA==;sn=103576054",
        "x-ms-date": "Fri, 23 Jan 2026 07:17:00 GMT"
      },
      "ResponseBody": {
        "etag": "OQMo7xa9fpScuSXfg7EJeWmVBBaMvu_joKzwNyTxcqU",
        "key": "key-1925418849",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-01-23T07:16:59+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t9c954b564de572f9-azconfig-net.azconfig.io;Id=MdvE;Secret=Kg==",
    "RandomSeed": "162027325"
  }
}
