{
  "Entries": [
    {
      "RequestUri": "https://tdfcae3cf5eab7143-azconfig-net.azconfig.io/kv/first_key?api-version=2023-10-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "first_value",
        "content_type": null,
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"rPv4gH47OnS0kV6O1jV4QVEksU3ZZlhXkaPisQ_5hxM\"",
        "Last-Modified": "Wed, 12 Jun 2024 22:00:16 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzMwMzMxNDQ5;sn=30331449"
      },
      "ResponseBody": {
        "etag": "rPv4gH47OnS0kV6O1jV4QVEksU3ZZlhXkaPisQ_5hxM",
        "key": "first_key",
        "label": null,
        "content_type": null,
        "value": "first_value",
        "tags": {},
        "locked": false,
        "last_modified": "2024-06-12T22:00:16+00:00"
      }
    },
    {
      "RequestUri": "https://tdfcae3cf5eab7143-azconfig-net.azconfig.io/kv/second_key?api-version=2023-10-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "Sync-Token": "zAJw6V16=Njo1IzMwMzMxNDQ5",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "second_value",
        "content_type": null,
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"D0BN8lNaiRsxruod1FD-SSzuv-jXrbPM6y9kelt9oJY\"",
        "Last-Modified": "Wed, 12 Jun 2024 22:00:16 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzMwMzMxNDUx;sn=30331451"
      },
      "ResponseBody": {
        "etag": "D0BN8lNaiRsxruod1FD-SSzuv-jXrbPM6y9kelt9oJY",
        "key": "second_key",
        "label": null,
        "content_type": null,
        "value": "second_value",
        "tags": {},
        "locked": false,
        "last_modified": "2024-06-12T22:00:16+00:00"
      }
    },
    {
      "RequestUri": "https://tdfcae3cf5eab7143-azconfig-net.azconfig.io/snapshots/first_snapshot43114626?api-version=2023-10-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=Njo1IzMwMzMxNDUx",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "filters": [
          {
            "key": "first_key",
            "tags": []
          }
        ]
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json; charset=utf-8",
        "ETag": "\"Hjk-2apTnDE0wMJDNz0WwTJzAdN6kieghVIUiJFziS0\"",
        "Last-Modified": "Wed, 12 Jun 2024 22:00:16 GMT",
        "Link": "</kv?snapshot=first_snapshot43114626&api-version=2023-10-01>; rel=\"items\"",
        "Operation-Location": "https://tdfcae3cf5eab7143-azconfig-net.azconfig.io/operations?snapshot=first_snapshot43114626&api-version=2023-10-01",
        "Sync-Token": "zAJw6V16=Njo1IzMwMzMxNDUz;sn=30331453"
      },
      "ResponseBody": {
        "etag": "Hjk-2apTnDE0wMJDNz0WwTJzAdN6kieghVIUiJFziS0",
        "name": "first_snapshot43114626",
        "status": "provisioning",
        "filters": [
          {
            "key": "first_key",
            "label": null
          }
        ],
        "composition_type": "key",
        "created": "2024-06-12T22:00:16+00:00",
        "size": 0,
        "items_count": 0,
        "tags": {},
        "retention_period": 2592000
      }
    },
    {
      "RequestUri": "https://tdfcae3cf5eab7143-azconfig-net.azconfig.io/operations?snapshot=first_snapshot43114626&api-version=2023-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Njo1IzMwMzMxNDUz",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "Sync-Token": "zAJw6V16=Njo1IzMwMzMxNDUz;sn=30331453"
      },
      "ResponseBody": {
        "id": "rFBv8VTxRa6xH34e12-vzYVoakh02xhK_9MYwydVYxE",
        "status": "Running",
        "error": null
      }
    },
[...]
    {
      "RequestUri": "https://tdfcae3cf5eab7143-azconfig-net.azconfig.io/snapshots/second_snapshot2099809762?api-version=2023-10-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=Njo1IzMwMzMxNDc3",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "filters": [
          {
            "key": "second_key",
            "tags": []
        [...]
    {
      "RequestUri": "https://tdfcae3cf5eab7143-azconfig-net.azconfig.io/operations?snapshot=second_snapshot2099809762&api-version=2023-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Njo1IzMwMzMxNDc4",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "Sync-Token": "zAJw6V16=Njo1IzMwMzMxNDc4;sn=30331478"
      },
      "ResponseBody": {
        "id": "IO7qT0SMe2pxK5Jq2FSZY3JdEXSNRWsr-pSqEO6izMs",
        "status": "Running",
        "error": null
      }
    },
[...]
    {
      "RequestUri": "https://tdfcae3cf5eab7143-azconfig-net.azconfig.io/snapshots?api-version=2023-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Njo1IzMwMzMxNTUy",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshotset+json; charset=utf-8",
        "Link": "</snapshots?api-version=2023-10-01&after=Zmlyc3Rfc25hcHNob3QyNDc3NDAyNTY%3D>; rel=\"next\"",
        "Sync-Token": "zAJw6V16=Njo1IzMwMzMxNTUy;sn=30331552"
      },
      "ResponseBody": {
        "items": [
          {
            "etag": "zeQZDUCCV16zY--NbXFWT1F-TmH_r28RGm7Aq6iUFDg",
            "name": "first_snapshot1253539602",
            "status": "ready",
            "filters": [
              {
                "key": "first_key",
                "label": null
              }
            ],
            "composition_type": "key",
            "created": "2024-06-12T21:56:55+00:00",
            "size": 1000,
            "items_count": 1,
            "tags": {},
            "retention_period"[...]
    {
      "RequestUri": "https://tdfcae3cf5eab7143-azconfig-net.azconfig.io/snapshots?api-version=2023-10-01&after=Zmlyc3Rfc25hcHNob3QyNDc3NDAyNTY%3D",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Njo1IzMwMzMxNTUy",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshots[...]
    {
      "RequestUri": "https://tdfcae3cf5eab7143-azconfig-net.azconfig.io/snapshots?api-version=2023-10-01&after=c2Vjb25kX3NuYXBzaG90MTk5ODg4NzcyNA%3D%3D",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Njo1IzMwMzMxNTUy",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.sna[...]
    {
      "RequestUri": "https://tdfcae3cf5eab7143-azconfig-net.azconfig.io/snapshots?api-version=2023-10-01&after=c25hcHNob3QtMTE4MDIwNjY3MA%3D%3D",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Njo1IzMwMzMxNTUy",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshotset[...]
    {
      "RequestUri": "https://tdfcae3cf5eab7143-azconfig-net.azconfig.io/snapshots?api-version=2023-10-01&after=c25hcHNob3QtMTQ0MDU3NTA2Nw%3D%3D",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Njo1IzMwMzMxNTUy",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshotset[...]
    {
      "RequestUri": "https://tdfcae3cf5eab7143-azconfig-net.azconfig.io/snapshots?api-version=2023-10-01&after=c25hcHNob3QtMTgwMjc3MDM5Ng%3D%3D",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Njo1IzMwMzMxNTU0",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshotset[...]
    {
      "RequestUri": "https://tdfcae3cf5eab7143-azconfig-net.azconfig.io/snapshots?api-version=2023-10-01&after=c25hcHNob3QtMjM3NTcyNTY4",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Njo1IzMwMzMxNTU0",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshotset+json; c[...]
    {
      "RequestUri": "https://tdfcae3cf5eab7143-azconfig-net.azconfig.io/snapshots?api-version=2023-10-01&after=c25hcHNob3QtNTUzNDI3ODk4",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Njo1IzMwMzMxNTU0",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshotset+json; c[...]
[...]
    {
      "RequestUri": "https://tdfcae3cf5eab7143-azconfig-net.azconfig.io/kv/second_key?api-version=2023-10-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Njo1IzMwMzMxNTU1",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"D0BN8lNaiRsxruod1FD-SSzuv-jXrbPM6y9kelt9oJY\"",
        "Last-Modified": "Wed, 12 Jun 2024 22:00:16 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzMwMzMxNTU2;sn=30331556"
      },
      "ResponseBody": {
        "etag": "D0BN8lNaiRsxruod1FD-SSzuv-jXrbPM6y9kelt9oJY",
        "key": "second_key",
        "label": null,
        "content_type": null,
        "value": "second_value",
        "tags": {},
        "locked": false,
        "last_modified": "2024-06-12T22:00:16+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://tdfcae3cf5eab7143-azconfig-net.azconfig.io;Id=yt5R;Secret=Kg==",
    "RandomSeed": "1103606760"
  }
}
