{
  "Entries": [
    {
      "RequestUri": "https://tdfcae3cf5eab7143-azconfig-net.azconfig.io/kv/key-121035057?api-version=2023-11-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"lJ-EfhW37-G__s61oZkWH0yxYBa8Yl-5mgAlBtBtYtQ\"",
        "Last-Modified": "Wed, 11 Jun 2025 17:24:31 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzQyMTUxMDEx;sn=42151011"
      },
      "ResponseBody": {
        "etag": "lJ-EfhW37-G__s61oZkWH0yxYBa8Yl-5mgAlBtBtYtQ",
        "key": "key-121035057",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2025-06-11T17:24:31+00:00"
      }
    },
    {
      "RequestUri": "https://tdfcae3cf5eab7143-azconfig-net.azconfig.io/kv/key-121035057?api-version=2023-11-01&label=test_label",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "\"lJ-EfhW37-G__s61oZkWH0yxYBa8Yl-5mgAlBtBtYtQ\"",
        "Sync-Token": "zAJw6V16=Mzo1IzQyMTUxMDEx",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 304,
      "ResponseHeaders": {
        "Sync-Token": "zAJw6V16=Mzo1IzQyMTUxMDEx;sn=42151011"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://tdfcae3cf5eab7143-azconfig-net.azconfig.io/kv/key-121035057?api-version=2023-11-01&label=test_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Mzo1IzQyMTUxMDEx",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"lJ-EfhW37-G__s61oZkWH0yxYBa8Yl-5mgAlBtBtYtQ\"",
        "Last-Modified": "Wed, 11 Jun 2025 17:24:31 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzQyMTUxMDEy;sn=42151012"
      },
      "ResponseBody": {
        "etag": "lJ-EfhW37-G__s61oZkWH0yxYBa8Yl-5mgAlBtBtYtQ",
        "key": "key-121035057",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2025-06-11T17:24:31+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://tdfcae3cf5eab7143-azconfig-net.azconfig.io;Id=GAEe;Secret=Kg==",
    "RandomSeed": "932038818"
  }
}
