{
  "Entries": [
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv/key-1326337874?api-version=2026-04-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "description": "test_description"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"XGUkXuSJsqy-tu9-coSVUPsF0l_VpOyYVIO3gmXWGUE\"",
        "Last-Modified": "Wed, 10 Jun 2026 18:27:34 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDY1NDgz;sn=67065483",
        "x-ms-date": "Wed, 10 Jun 2026 18:27:34 GMT"
      },
      "ResponseBody": {
        "etag": "XGUkXuSJsqy-tu9-coSVUPsF0l_VpOyYVIO3gmXWGUE",
        "key": "key-1326337874",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "description": "test_description",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-06-10T18:27:34+00:00"
      }
    },
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv/key-1326337874?api-version=2026-04-01&label=test_label",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"this won't match\"",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDY1NDgz"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDY1NDgz;sn=67065483",
        "x-ms-date": "Wed, 10 Jun 2026 18:27:34 GMT"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv/key-1326337874?api-version=2026-04-01&label=test_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDY1NDgz"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"XGUkXuSJsqy-tu9-coSVUPsF0l_VpOyYVIO3gmXWGUE\"",
        "Last-Modified": "Wed, 10 Jun 2026 18:27:34 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDY1NDg0;sn=67065484",
        "x-ms-date": "Wed, 10 Jun 2026 18:27:34 GMT"
      },
      "ResponseBody": {
        "etag": "XGUkXuSJsqy-tu9-coSVUPsF0l_VpOyYVIO3gmXWGUE",
        "key": "key-1326337874",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "description": "test_description",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-06-10T18:27:34+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_ENDPOINT_STRING": "https://mrm90847047-azconfig-net.azconfig.io",
    "RandomSeed": "2106545665"
  }
}
