{
  "Entries": [
    {
      "RequestUri": "https://azure-sdk-for-net-test.azconfig.io/kv/key-683769619?api-version=2026-04-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"ZfMqaP-qqykDdPqYLy-6deU4B4GYSD5D6viHcA_5IgQ\"",
        "Last-Modified": "Thu, 28 May 2026 00:01:51 GMT",
        "Sync-Token": "zAJw6V16=NToxNyM0ODA0MjU0OQ==;sn=48042549",
        "x-ms-date": "Thu, 28 May 2026 00:01:51 GMT"
      },
      "ResponseBody": {
        "etag": "ZfMqaP-qqykDdPqYLy-6deU4B4GYSD5D6viHcA_5IgQ",
        "key": "key-683769619",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "description": null,
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-05-28T00:01:51+00:00"
      }
    },
    {
      "RequestUri": "https://azure-sdk-for-net-test.azconfig.io/kv/key-683769619?api-version=2026-04-01&label=test_label",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"ZfMqaP-qqykDdPqYLy-6deU4B4GYSD5D6viHcA_5IgQ\"",
        "Sync-Token": "zAJw6V16=NToxNyM0ODA0MjU0OQ==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"ZfMqaP-qqykDdPqYLy-6deU4B4GYSD5D6viHcA_5IgQ\"",
        "Last-Modified": "Thu, 28 May 2026 00:01:51 GMT",
        "Sync-Token": "zAJw6V16=NToxNyM0ODA0MjU0OQ==;sn=48042549",
        "x-ms-date": "Thu, 28 May 2026 00:01:51 GMT"
      },
      "ResponseBody": {
        "etag": "ZfMqaP-qqykDdPqYLy-6deU4B4GYSD5D6viHcA_5IgQ",
        "key": "key-683769619",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "description": null,
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-05-28T00:01:51+00:00"
      }
    },
    {
      "RequestUri": "https://azure-sdk-for-net-test.azconfig.io/kv/key-683769619?api-version=2026-04-01&label=test_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NToxNyM0ODA0MjU0OQ==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"ZfMqaP-qqykDdPqYLy-6deU4B4GYSD5D6viHcA_5IgQ\"",
        "Last-Modified": "Thu, 28 May 2026 00:01:51 GMT",
        "Sync-Token": "zAJw6V16=NToxNyM0ODA0MjU1MA==;sn=48042550",
        "x-ms-date": "Thu, 28 May 2026 00:01:51 GMT"
      },
      "ResponseBody": {
        "etag": "ZfMqaP-qqykDdPqYLy-6deU4B4GYSD5D6viHcA_5IgQ",
        "key": "key-683769619",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "description": null,
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-05-28T00:01:51+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://azure-sdk-for-net-test.azconfig.io;Id=8ePU;Secret=Kg==",
    "RandomSeed": "414159731"
  }
}
