{
  "Entries": [
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv/~%60%21%40%23%24%5E%26%28%29_%2B%3D%5B%5D%7B%7D%7C%3B%22%27%3C%3E.%2F--311978411?api-version=2026-04-01&label=label-~%60%21%40%23%24%5E%26%28%29_%2B%3D%5B%5D%7B%7D%7C%3B%22%27%3C%3E.%2F-",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "value": "value-~`!@#$^&()_+=[]{}|;\"'<>./-",
        "content_type": null,
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"HZH6VgeWNX2UfVXKN2alp42IOFyHkTwu1_hNAMi_DdE\"",
        "Last-Modified": "Wed, 10 Jun 2026 19:19:49 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDczNzEx;sn=67073711",
        "x-ms-date": "Wed, 10 Jun 2026 19:19:49 GMT"
      },
      "ResponseBody": {
        "etag": "HZH6VgeWNX2UfVXKN2alp42IOFyHkTwu1_hNAMi_DdE",
        "key": "~`!@#$^&()_+=[]{}|;\"'<>./--311978411",
        "label": "label-~`!@#$^&()_+=[]{}|;\"'<>./-",
        "content_type": null,
        "value": "value-~`!@#$^&()_+=[]{}|;\"'<>./-",
        "description": null,
        "tags": {},
        "locked": false,
        "last_modified": "2026-06-10T19:19:49+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv/~%60%21%40%23%24%5E%26%28%29_%2B%3D%5B%5D%7B%7D%7C%3B%22%27%3C%3E.%2F--311978411?api-version=2026-04-01&label=label-~%60%21%40%23%24%5E%26%28%29_%2B%3D%5B%5D%7B%7D%7C%3B%22%27%3C%3E.%2F-",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDczNzEx"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"HZH6VgeWNX2UfVXKN2alp42IOFyHkTwu1_hNAMi_DdE\"",
        "Last-Modified": "Wed, 10 Jun 2026 19:19:49 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDczNzE0;sn=67073714",
        "x-ms-date": "Wed, 10 Jun 2026 19:19:49 GMT"
      },
      "ResponseBody": {
        "etag": "HZH6VgeWNX2UfVXKN2alp42IOFyHkTwu1_hNAMi_DdE",
        "key": "~`!@#$^&()_+=[]{}|;\"'<>./--311978411",
        "label": "label-~`!@#$^&()_+=[]{}|;\"'<>./-",
        "content_type": null,
        "value": "value-~`!@#$^&()_+=[]{}|;\"'<>./-",
        "description": null,
        "tags": {},
        "locked": false,
        "last_modified": "2026-06-10T19:19:49+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_ENDPOINT_STRING": "https://mrm90847047-azconfig-net.azconfig.io",
    "RandomSeed": "474115405"
  }
}
