{
  "Entries": [
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-1475321790?api-version=2023-11-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"2AhgzEEaL3BrHlKy4ERn01vmIFvh95ymLLSvp_pMaPU\"",
        "Last-Modified": "Fri, 23 Jan 2026 07:11:29 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU3NTQ1NQ==;sn=103575455",
        "x-ms-date": "Fri, 23 Jan 2026 07:11:29 GMT"
      },
      "ResponseBody": {
        "etag": "2AhgzEEaL3BrHlKy4ERn01vmIFvh95ymLLSvp_pMaPU",
        "key": "key-1475321790",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-01-23T07:11:29+00:00"
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-1475321790?api-version=2023-11-01&label=test_label",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"2AhgzEEaL3BrHlKy4ERn01vmIFvh95ymLLSvp_pMaPU\"",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU3NTQ1NQ==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"2AhgzEEaL3BrHlKy4ERn01vmIFvh95ymLLSvp_pMaPU\"",
        "Last-Modified": "Fri, 23 Jan 2026 07:11:29 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU3NTQ1NQ==;sn=103575455",
        "x-ms-date": "Fri, 23 Jan 2026 07:11:29 GMT"
      },
      "ResponseBody": {
        "etag": "2AhgzEEaL3BrHlKy4ERn01vmIFvh95ymLLSvp_pMaPU",
        "key": "key-1475321790",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-01-23T07:11:29+00:00"
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-1475321790?api-version=2023-11-01&label=test_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU3NTQ1NQ==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"2AhgzEEaL3BrHlKy4ERn01vmIFvh95ymLLSvp_pMaPU\"",
        "Last-Modified": "Fri, 23 Jan 2026 07:11:29 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU3NTQ1Ng==;sn=103575456",
        "x-ms-date": "Fri, 23 Jan 2026 07:11:29 GMT"
      },
      "ResponseBody": {
        "etag": "2AhgzEEaL3BrHlKy4ERn01vmIFvh95ymLLSvp_pMaPU",
        "key": "key-1475321790",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-01-23T07:11:29+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t9c954b564de572f9-azconfig-net.azconfig.io;Id=MdvE;Secret=Kg==",
    "RandomSeed": "930266920"
  }
}
