{
  "Entries": [
    {
      "RequestUri": "https://t02f6e87f544544f3-azconfig-net.azconfig.io/kv/~%60%21%40%23%24%5E%26%28%29_%2B%3D%5B%5D%7B%7D%7C%3B%22%27%3C%3E.%2F--674580004?label=label-~%60%21%40%23%24%5E%26%28%29_%2B%3D%5B%5D%7B%7D%7C%3B%22%27%3C%3E.%2F-\u0026api-version=2022-11-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "IYqatbqQIAqCRjWZPzXr7bolkCXMwIR9XGVBbyQCXwI="
      },
      "RequestBody": {
        "value": "value-~\u0060!@#$^\u0026()_\u002B=[]{}|;\u0022\u0027\u003C\u003E./-",
        "content_type": null,
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022Qjsi09CPFQTg0VCl0ztyuOhknjp_Uo2s_MDcqaaUJLU\u0022",
        "Last-Modified": "Fri, 30 Jun 2023 19:05:28 GMT",
        "Sync-Token": "zAJw6V16=ODo1IzI0ODY5NTQ5;sn=24869549"
      },
      "ResponseBody": {
        "etag": "Qjsi09CPFQTg0VCl0ztyuOhknjp_Uo2s_MDcqaaUJLU",
        "key": "~\u0060!@#$^\u0026()_\u002B=[]{}|;\u0022\u0027\u003C\u003E./--674580004",
        "label": "label-~\u0060!@#$^\u0026()_\u002B=[]{}|;\u0022\u0027\u003C\u003E./-",
        "content_type": null,
        "value": "value-~\u0060!@#$^\u0026()_\u002B=[]{}|;\u0022\u0027\u003C\u003E./-",
        "tags": {},
        "locked": false,
        "last_modified": "2023-06-30T19:05:28\u002B00:00"
      }
    },
[...]
    {
      "RequestUri": "https://t02f6e87f544544f3-azconfig-net.azconfig.io/kv/~%60%21%40%23%24%5E%26%28%29_%2B%3D%5B%5D%7B%7D%7C%3B%22%27%3C%3E.%2F--674580004?label=label-~%60%21%40%23%24%5E%26%28%29_%2B%3D%5B%5D%7B%7D%7C%3B%22%27%3C%3E.%2F-\u0026api-version=2022-11-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=ODo1IzI0ODY5NTQ5",
        "x-ms-content-sha256": "47DEQpj8HBSa\u002B/TImW\u002B5JCeuQeRkm5NMpJWZG3hSuFU="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022Qjsi09CPFQTg0VCl0ztyuOhknjp_Uo2s_MDcqaaUJLU\u0022",
        "Last-Modified": "Fri, 30 Jun 2023 19:05:28 GMT",
        "Sync-Token": "zAJw6V16=ODo1IzI0ODY5NTUw;sn=24869550"
      },
      "ResponseBody": {
        "etag": "Qjsi09CPFQTg0VCl0ztyuOhknjp_Uo2s_MDcqaaUJLU",
        "key": "~\u0060!@#$^\u0026()_\u002B=[]{}|;\u0022\u0027\u003C\u003E./--674580004",
        "label": "label-~\u0060!@#$^\u0026()_\u002B=[]{}|;\u0022\u0027\u003C\u003E./-",
        "content_type": null,
        "value": "value-~\u0060!@#$^\u0026()_\u002B=[]{}|;\u0022\u0027\u003C\u003E./-",
        "tags": {},
        "locked": false,
        "last_modified": "2023-06-30T19:05:28\u002B00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t02f6e87f544544f3-azconfig-net.azconfig.io;Id=Ek\u002BM;Secret=Kg==",
    "RandomSeed": "1438547073"
  }
}
