{
  "Entries": [
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/kv/key-2087172787?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"MEPMX5mC7ufNW6VxiSHV8BNf8mqdI3ax-1aw6vuglQY\"",
        "Last-Modified": "Mon, 17 Nov 2025 16:56:43 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzU3NzY0OTA5;sn=57764909",
        "x-ms-date": "Mon, 17 Nov 2025 16:56:43 GMT"
      },
      "ResponseBody": {
        "etag": "MEPMX5mC7ufNW6VxiSHV8BNf8mqdI3ax-1aw6vuglQY",
        "key": "key-2087172787",
        "label": null,
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2025-11-17T16:56:43+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/kv/key-2087172787?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Njo1IzU3NzY0OTA5",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"MEPMX5mC7ufNW6VxiSHV8BNf8mqdI3ax-1aw6vuglQY\"",
        "Last-Modified": "Mon, 17 Nov 2025 16:56:43 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzU3NzY0OTEw;sn=57764910",
        "x-ms-date": "Mon, 17 Nov 2025 16:56:43 GMT"
      },
      "ResponseBody": {
        "etag": "MEPMX5mC7ufNW6VxiSHV8BNf8mqdI3ax-1aw6vuglQY",
        "key": "key-2087172787",
        "label": null,
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2025-11-17T16:56:43+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t8cdd9157ca7d1363-azconfig-net.azconfig.io;Id=wNKY;Secret=Kg==",
    "RandomSeed": "158369966"
  }
}
