{
  "Entries": [
    {
      "RequestUri": "https://te0e57d80fe738c82-azconfig-net.azconfig.io/kv/first_key?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "first_value",
        "content_type": null,
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"XugfEM0BOrqr8fUcfmEl7wLFBaSKaZDdN4r6KHq-wuU\"",
        "Last-Modified": "Tue, 29 Jul 2025 17:45:47 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzUxNTQ5NjEw;sn=51549610"
      },
      "ResponseBody": {
        "etag": "XugfEM0BOrqr8fUcfmEl7wLFBaSKaZDdN4r6KHq-wuU",
        "key": "first_key",
        "label": null,
        "content_type": null,
        "value": "first_value",
        "tags": {},
        "locked": false,
        "last_modified": "2025-07-29T17:45:47+00:00"
      }
    },
    {
      "RequestUri": "https://te0e57d80fe738c82-azconfig-net.azconfig.io/kv/second_key?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "Sync-Token": "zAJw6V16=Njo1IzUxNTQ5NjEw",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "second_value",
        "content_type": null,
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"rFlpguICeHj2e19loArDDJpDYwAv_wK8vV-Z5pe2ZIk\"",
        "Last-Modified": "Tue, 29 Jul 2025 17:45:47 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzUxNTQ5NjEy;sn=51549612"
      },
      "ResponseBody": {
        "etag": "rFlpguICeHj2e19loArDDJpDYwAv_wK8vV-Z5pe2ZIk",
        "key": "second_key",
        "label": null,
        "content_type": null,
        "value": "second_value",
        "tags": {},
        "locked": false,
        "last_modified": "2025-07-29T17:45:47+00:00"
      }
    },
    {
      "RequestUri": "https://te0e57d80fe738c82-azconfig-net.azconfig.io/snapshots/first_snapshot17738307?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=Njo1IzUxNTQ5NjEy",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "filters": [
          {
            "key": "first_key"
          }
        ]
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json; charset=utf-8",
        "ETag": "\"H0wtr2UZoPEIP5InjoFAU_ce1YJCJdcsLDDdq7UVpww\"",
        "Last-Modified": "Tue, 29 Jul 2025 17:45:47 GMT",
        "Link": "</kv?snapshot=first_snapshot17738307&api-version=2023-11-01>; rel=\"items\"",
        "Operation-Location": "https://te0e57d80fe738c82-azconfig-net.azconfig.io/operations?snapshot=first_snapshot17738307&api-version=2023-11-01",
        "Sync-Token": "zAJw6V16=Njo1IzUxNTQ5NjE0;sn=51549614"
      },
      "ResponseBody": {
        "etag": "H0wtr2UZoPEIP5InjoFAU_ce1YJCJdcsLDDdq7UVpww",
        "name": "first_snapshot17738307",
        "status": "provisioning",
        "filters": [
          {
            "key": "first_key",
            "label": null,
            "tags": []
          }
        ],
        "composition_type": "key",
        "created": "2025-07-29T17:45:47.7596471+00:00",
        "size": 0,
        "items_count": 0,
        "tags": {},
        "retention_period": 2592000
      }
    },
    {
      "RequestUri": "https://te0e57d80fe738c82-azconfig-net.azconfig.io/operations?snapshot=first_snapshot17738307&api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Njo1IzUxNTQ5NjE0",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "Sync-Token": "zAJw6V16=Njo1IzUxNTQ5NjE0;sn=51549614"
      },
      "ResponseBody": {
        "id": "T0pcsK3B3LAJn0TtXlrZzw5oVecLQc2Hoo1ba2L7mwE",
        "status": "Running",
        "error": null
      }
    },
[...]
    {
      "RequestUri": "https://te0e57d80fe738c82-azconfig-net.azconfig.io/snapshots/second_snapshot740759199?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=Njo1IzUxNTQ5NjE1",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "filters": [
          {
            "key": "second_key"
          }
        ]
      },
  [...]
    {
      "RequestUri": "https://te0e57d80fe738c82-azconfig-net.azconfig.io/operations?snapshot=second_snapshot740759199&api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Njo1IzUxNTQ5NjE2",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "Sync-Token": "zAJw6V16=Njo1IzUxNTQ5NjE2;sn=51549616"
      },
      "ResponseBody": {
        "id": "bEy9rRsyEiLaav0x3Zp_M_I2kNtK7dlMP-sIp7uMr4M",
        "status": "Running",
        "error": null
      }
    },
[...]
    {
      "RequestUri": "https://te0e57d80fe738c82-azconfig-net.azconfig.io/snapshots?api-version=2023-11-01&name=first_snapshot17738307",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Njo1IzUxNTQ5NjE4",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshotset+json; charset=utf-8",
        "Sync-Token": "zAJw6V16=Njo1IzUxNTQ5NjE4;sn=51549618"
      },
      "ResponseBody": {
        "items": [
          {
            "etag": "H0wtr2UZoPEIP5InjoFAU_ce1YJCJdcsLDDdq7UVpww",
            "name": "first_snapshot17738307",
            "status": "ready",
            "filters": [
              {
                "key": "first_key",
                "label": null,
                "tags": []
              }
            ],
            "composition_type": "key",
            "created": "2025-07-29T17:45:47+00:00",
            "size": 1000,
            "items_count": 1,
            "tags": {},
            "retention_period": 2592000
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://te0e57d80fe738c82-azconfig-net.azconfig.io/kv/second_key?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Njo1IzUxNTQ5NjE5",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"rFlpguICeHj2e19loArDDJpDYwAv_wK8vV-Z5pe2ZIk\"",
        "Last-Modified": "Tue, 29 Jul 2025 17:45:47 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzUxNTQ5NjIw;sn=51549620"
      },
      "ResponseBody": {
        "etag": "rFlpguICeHj2e19loArDDJpDYwAv_wK8vV-Z5pe2ZIk",
        "key": "second_key",
        "label": null,
        "content_type": null,
        "value": "second_value",
        "tags": {},
        "locked": false,
        "last_modified": "2025-07-29T17:45:47+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://te0e57d80fe738c82-azconfig-net.azconfig.io;Id=L29Y;Secret=Kg==",
    "RandomSeed": "2074816167"
  }
}
