{
  "Entries": [
    {
      "RequestUri": "https://tdfcae3cf5eab7143-azconfig-net.azconfig.io/kv/first_key?api-version=2023-10-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "first_value",
        "content_type": null,
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"HmQojgPYKn_DPP4DH62znSqdlWkUbTZd_shZNY_MDBc\"",
        "Last-Modified": "Wed, 12 Jun 2024 22:01:10 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzMwMzMxNTU3;sn=30331557"
      },
      "ResponseBody": {
        "etag": "HmQojgPYKn_DPP4DH62znSqdlWkUbTZd_shZNY_MDBc",
        "key": "first_key",
        "label": null,
        "content_type": null,
        "value": "first_value",
        "tags": {},
        "locked": false,
        "last_modified": "2024-06-12T22:01:10+00:00"
      }
    },
    {
      "RequestUri": "https://tdfcae3cf5eab7143-azconfig-net.azconfig.io/kv/second_key?api-version=2023-10-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "Sync-Token": "zAJw6V16=Njo1IzMwMzMxNTU3",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "second_value",
        "content_type": null,
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"ZO5EM7CmNVK0kKg4d0Efa7Vkrd90iblOZx0mBns8Qlk\"",
        "Last-Modified": "Wed, 12 Jun 2024 22:01:10 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzMwMzMxNTU5;sn=30331559"
      },
      "ResponseBody": {
        "etag": "ZO5EM7CmNVK0kKg4d0Efa7Vkrd90iblOZx0mBns8Qlk",
        "key": "second_key",
        "label": null,
        "content_type": null,
        "value": "second_value",
        "tags": {},
        "locked": false,
        "last_modified": "2024-06-12T22:01:10+00:00"
      }
    },
    {
      "RequestUri": "https://tdfcae3cf5eab7143-azconfig-net.azconfig.io/snapshots/first_snapshot367333011?api-version=2023-10-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=Njo1IzMwMzMxNTU5",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "filters": [
          {
            "key": "first_key",
            "tags": []
          }
        ]
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json; charset=utf-8",
        "ETag": "\"P9QK0bq5s73ROinB-UAHcNGlrFITQ2tzfbq13UqFpgw\"",
        "Last-Modified": "Wed, 12 Jun 2024 22:01:10 GMT",
        "Link": "</kv?snapshot=first_snapshot367333011&api-version=2023-10-01>; rel=\"items\"",
        "Operation-Location": "https://tdfcae3cf5eab7143-azconfig-net.azconfig.io/operations?snapshot=first_snapshot367333011&api-version=2023-10-01",
        "Sync-Token": "zAJw6V16=Njo1IzMwMzMxNTYx;sn=30331561"
      },
      "ResponseBody": {
        "etag": "P9QK0bq5s73ROinB-UAHcNGlrFITQ2tzfbq13UqFpgw",
        "name": "first_snapshot367333011",
        "status": "provisioning",
        "filters": [
          {
            "key": "first_key",
            "label": null
          }
        ],
        "composition_type": "key",
        "created": "2024-06-12T22:01:10+00:00",
        "size": 0,
        "items_count": 0,
        "tags": {},
        "retention_period": 2592000
      }
    },
    {
      "RequestUri": "https://tdfcae3cf5eab7143-azconfig-net.azconfig.io/operations?snapshot=first_snapshot367333011&api-version=2023-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Njo1IzMwMzMxNTYx",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "Sync-Token": "zAJw6V16=Njo1IzMwMzMxNTYx;sn=30331561"
      },
      "ResponseBody": {
        "id": "CbQNLTdOIkTuRI_bURgwXwyoOcm7mxDMx9EcMmnVnQQ",
        "status": "Running",
        "error": null
      }
    },
[...]
    {
      "RequestUri": "https://tdfcae3cf5eab7143-azconfig-net.azconfig.io/snapshots/second_snapshot914296882?api-version=2023-10-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=Njo1IzMwMzMxNTYy",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "filters": [
          {
            "key": "second_key",
            "tags": []
         [...]
    {
      "RequestUri": "https://tdfcae3cf5eab7143-azconfig-net.azconfig.io/operations?snapshot=second_snapshot914296882&api-version=2023-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Njo1IzMwMzMxNTYz",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "Sync-Token": "zAJw6V16=Njo1IzMwMzMxNTYz;sn=30331563"
      },
      "ResponseBody": {
        "id": "Q2fzoZoh0vilzAGpmVHDNmj7sPi567R6WSixe0FaLvk",
        "status": "Running",
        "error": null
      }
    },
[...]
    {
      "RequestUri": "https://tdfcae3cf5eab7143-azconfig-net.azconfig.io/snapshots?name=first_snapshot367333011&api-version=2023-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Njo1IzMwMzMxNTY0",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshotset+json; charset=utf-8",
        "Sync-Token": "zAJw6V16=Njo1IzMwMzMxNTY0;sn=30331564"
      },
      "ResponseBody": {
        "items": [
          {
            "etag": "P9QK0bq5s73ROinB-UAHcNGlrFITQ2tzfbq13UqFpgw",
            "name": "first_snapshot367333011",
            "status": "ready",
            "filters": [
              {
                "key": "first_key",
                "label": null
              }
            ],
            "composition_type": "key",
            "created": "2024-06-12T22:01:10+00:00",
            "size": 1000,
            "items_count": 1,
            "tags": {},
            "retention_period": 2592000
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://tdfcae3cf5eab7143-azconfig-net.azconfig.io/kv/second_key?api-version=2023-10-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Njo1IzMwMzMxNTY1",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"ZO5EM7CmNVK0kKg4d0Efa7Vkrd90iblOZx0mBns8Qlk\"",
        "Last-Modified": "Wed, 12 Jun 2024 22:01:10 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzMwMzMxNTY2;sn=30331566"
      },
      "ResponseBody": {
        "etag": "ZO5EM7CmNVK0kKg4d0Efa7Vkrd90iblOZx0mBns8Qlk",
        "key": "second_key",
        "label": null,
        "content_type": null,
        "value": "second_value",
        "tags": {},
        "locked": false,
        "last_modified": "2024-06-12T22:01:10+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://tdfcae3cf5eab7143-azconfig-net.azconfig.io;Id=yt5R;Secret=Kg==",
    "RandomSeed": "485984361"
  }
}
