{
  "Entries": [
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-167548003?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"iz4pvpthFHGDGxrxXVKEmhxB3ypnRvrC4YWx8hWvqJs\"",
        "Last-Modified": "Fri, 23 Jan 2026 07:17:00 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU3NjA1NQ==;sn=103576055",
        "x-ms-date": "Fri, 23 Jan 2026 07:17:00 GMT"
      },
      "ResponseBody": {
        "etag": "iz4pvpthFHGDGxrxXVKEmhxB3ypnRvrC4YWx8hWvqJs",
        "key": "key-167548003",
        "label": null,
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-01-23T07:17:00+00:00"
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-167548003?api-version=2023-11-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU3NjA1NQ==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"loM-Npyq4LNaUM-ZHXlEiZZRRwsAQOyBOOGh81sARAk\"",
        "Last-Modified": "Fri, 23 Jan 2026 07:17:00 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU3NjA1Ng==;sn=103576056",
        "x-ms-date": "Fri, 23 Jan 2026 07:17:00 GMT"
      },
      "ResponseBody": {
        "etag": "loM-Npyq4LNaUM-ZHXlEiZZRRwsAQOyBOOGh81sARAk",
        "key": "key-167548003",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-01-23T07:17:00+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-167548003?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU3NjA1Nw==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"iz4pvpthFHGDGxrxXVKEmhxB3ypnRvrC4YWx8hWvqJs\"",
        "Last-Modified": "Fri, 23 Jan 2026 07:17:00 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU3NjA1OA==;sn=103576058",
        "x-ms-date": "Fri, 23 Jan 2026 07:17:00 GMT"
      },
      "ResponseBody": {
        "etag": "iz4pvpthFHGDGxrxXVKEmhxB3ypnRvrC4YWx8hWvqJs",
        "key": "key-167548003",
        "label": null,
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-01-23T07:17:00+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t9c954b564de572f9-azconfig-net.azconfig.io;Id=MdvE;Secret=Kg==",
    "RandomSeed": "515018218"
  }
}
