{
  "Entries": [
    {
      "RequestUri": "https://azure-sdk-for-net-test.azconfig.io/kv/first_key-652244500?api-version=2026-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "first_value",
        "content_type": null,
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"PPmltvgc6RducCGNkIAbXZdkEtdoPkBo70y_1m7IPg4\"",
        "Last-Modified": "Fri, 29 May 2026 19:59:32 GMT",
        "Sync-Token": "zAJw6V16=NToxNyM0ODE0OTY5NQ==;sn=48149695",
        "x-ms-date": "Fri, 29 May 2026 19:59:32 GMT"
      },
      "ResponseBody": {
        "etag": "PPmltvgc6RducCGNkIAbXZdkEtdoPkBo70y_1m7IPg4",
        "key": "first_key-652244500",
        "label": null,
        "content_type": null,
        "value": "first_value",
        "description": null,
        "tags": {},
        "locked": false,
        "last_modified": "2026-05-29T19:59:32+00:00"
      }
    },
    {
      "RequestUri": "https://azure-sdk-for-net-test.azconfig.io/kv/second_key-1140520917?api-version=2026-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "Sync-Token": "zAJw6V16=NToxNyM0ODE0OTY5NQ==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "second_value",
        "content_type": null,
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"DWjD7rdRGdgLTzRlc-47K-6HYRvXZlG3VLZOL9Ifjds\"",
        "Last-Modified": "Fri, 29 May 2026 19:59:32 GMT",
        "Sync-Token": "zAJw6V16=NToxNyM0ODE0OTY5Ng==;sn=48149696",
        "x-ms-date": "Fri, 29 May 2026 19:59:32 GMT"
      },
      "ResponseBody": {
        "etag": "DWjD7rdRGdgLTzRlc-47K-6HYRvXZlG3VLZOL9Ifjds",
        "key": "second_key-1140520917",
        "label": null,
        "content_type": null,
        "value": "second_value",
        "description": null,
        "tags": {},
        "locked": false,
        "last_modified": "2026-05-29T19:59:32+00:00"
      }
    },
    {
      "RequestUri": "https://azure-sdk-for-net-test.azconfig.io/snapshots/first_snapshot281287304?api-version=2026-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NToxNyM0ODE0OTY5Ng==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "filters": [
          {
            "key": "first_key-652244500"
          }
        ],
        "retention_period": 3600
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json; charset=utf-8",
        "ETag": "\"UJGsnKFikRUzihvbxkxYFiFA11zYWe4QcYlbBfgos6Q\"",
        "Last-Modified": "Fri, 29 May 2026 19:59:32 GMT",
        "Link": "</kv?snapshot=first_snapshot281287304&api-version=2026-04-01>; rel=\"items\"",
        "Operation-Location": "https://azure-sdk-for-net-test.azconfig.io/operations?snapshot=first_snapshot281287304&api-version=2026-04-01",
        "Sync-Token": "zAJw6V16=NToxNyM0ODE0OTY5Nw==;sn=48149697",
        "x-ms-date": "Fri, 29 May 2026 19:59:32 GMT"
      },
      "ResponseBody": {
        "etag": "UJGsnKFikRUzihvbxkxYFiFA11zYWe4QcYlbBfgos6Q",
        "name": "first_snapshot281287304",
        "description": null,
        "status": "provisioning",
        "filters": [
          {
            "key": "first_key-652244500",
            "label": null,
            "tags": []
          }
        ],
        "composition_type": "key",
        "created": "2026-05-29T19:59:32.9173735+00:00",
        "size": 0,
        "items_count": 0,
        "tags": {},
        "retention_period": 3600
      }
    },
    {
      "RequestUri": "https://azure-sdk-for-net-test.azconfig.io/operations?api-version=2026-04-01&snapshot=first_snapshot281287304",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NToxNyM0ODE0OTY5Nw==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "Sync-Token": "zAJw6V16=NToxNyM0ODE0OTY5Nw==;sn=48149697",
        "x-ms-date": "Fri, 29 May 2026 19:59:32 GMT"
      },
      "ResponseBody": {
        "id": "LKLUX0FXXimWjgbOb-jAG19Mmr-UQ1aQo2Mp-DKWPa4",
        "status": "Running",
        "error": null
      }
    },
[...]
    {
      "RequestUri": "https://azure-sdk-for-net-test.azconfig.io/snapshots/second_snapshot546136294?api-version=2026-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NToxNyM0ODE0OTY5OQ==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "filters": [
          {
            "key": "second_key-1140520917"
          }
        ],
   [...]
    {
      "RequestUri": "https://azure-sdk-for-net-test.azconfig.io/operations?api-version=2026-04-01&snapshot=second_snapshot546136294",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NToxNyM0ODE0OTcwMA==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "Sync-Token": "zAJw6V16=NToxNyM0ODE0OTcwMA==;sn=48149700",
        "x-ms-date": "Fri, 29 May 2026 19:59:53 GMT"
      },
      "ResponseBody": {
        "id": "6NZEILV2bc8Z6ipbPEFVt4fBZzUYrVas94m2MuGaLkE",
        "status": "Running",
        "error": null
      }
    },
[...]
    {
      "RequestUri": "https://azure-sdk-for-net-test.azconfig.io/snapshots?api-version=2026-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NToxNyM0ODE0OTcwMw==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshotset+json; charset=utf-8",
        "Sync-Token": "zAJw6V16=NToxNyM0ODE0OTcwMw==;sn=48149703",
        "x-ms-date": "Fri, 29 May 2026 20:00:03 GMT"
      },
      "ResponseBody": {
        "items": [
          {
            "etag": "m5m9vybTH_r4c-uJfbLDF4jrEFw40SjaDwj0FrqcP9I",
            "name": "first_snapshot1044416892",
            "description": null,
            "status": "archived",
            "filters": [
              {
                "key": "first_key",
                "label": null,
                "tags": []
              }
            ],
            "composition_type": "key",
            "created": "2026-05-27T23:31:35+00:00",
            "expires": "2026-06-28T16:49:17+00:00",
            "size": 1000,
            "items_count": 1,
            "tags": {},
            "retention_period": 2592000
          },
          {
            "etag": "zpMFolt_dJnT8VOKi3bKtJPtuVRr82EF8A1TVdJoTfA",
            "name": "first_snapshot1178468584",
            "description": null,
            "status": "archived",
            "filters": [
              {
                "key": "first_key",
                "label": null,
                "tags": []
        [...]
[...]
    {
      "RequestUri": "https://azure-sdk-for-net-test.azconfig.io/kv/second_key-1140520917?api-version=2026-04-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NToxNyM0ODE0OTcwNA==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"DWjD7rdRGdgLTzRlc-47K-6HYRvXZlG3VLZOL9Ifjds\"",
        "Last-Modified": "Fri, 29 May 2026 19:59:32 GMT",
        "Sync-Token": "zAJw6V16=NToxNyM0ODE0OTcwNQ==;sn=48149705",
        "x-ms-date": "Fri, 29 May 2026 20:00:03 GMT"
      },
      "ResponseBody": {
        "etag": "DWjD7rdRGdgLTzRlc-47K-6HYRvXZlG3VLZOL9Ifjds",
        "key": "second_key-1140520917",
        "label": null,
        "content_type": null,
        "value": "second_value",
        "description": null,
        "tags": {},
        "locked": false,
        "last_modified": "2026-05-29T19:59:32+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://azure-sdk-for-net-test.azconfig.io;Id=8ePU;Secret=Kg==",
    "RandomSeed": "1926790087"
  }
}
