{
  "Entries": [
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/kv/key-1987625860?api-version=2023-11-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"k80rSZqDtzjFi8nYSVYuR1dOU8m3-pW6JGWBMMytjnk\"",
        "Last-Modified": "Thu, 09 Oct 2025 16:28:20 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzU1NTMyMjgx;sn=55532281",
        "x-ms-date": "Thu, 09 Oct 2025 16:28:20 GMT"
      },
      "ResponseBody": {
        "etag": "k80rSZqDtzjFi8nYSVYuR1dOU8m3-pW6JGWBMMytjnk",
        "key": "key-1987625860",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2025-10-09T16:28:20+00:00"
      }
    },
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/kv/key-1987625860?api-version=2023-11-01&label=test_label",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"k80rSZqDtzjFi8nYSVYuR1dOU8m3-pW6JGWBMMytjnk\"",
        "Sync-Token": "zAJw6V16=Njo1IzU1NTMyMjgx",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"k80rSZqDtzjFi8nYSVYuR1dOU8m3-pW6JGWBMMytjnk\"",
        "Last-Modified": "Thu, 09 Oct 2025 16:28:20 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzU1NTMyMjgx;sn=55532281",
        "x-ms-date": "Thu, 09 Oct 2025 16:28:20 GMT"
      },
      "ResponseBody": {
        "etag": "k80rSZqDtzjFi8nYSVYuR1dOU8m3-pW6JGWBMMytjnk",
        "key": "key-1987625860",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2025-10-09T16:28:20+00:00"
      }
    },
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/kv/key-1987625860?api-version=2023-11-01&label=test_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Njo1IzU1NTMyMjgx",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"k80rSZqDtzjFi8nYSVYuR1dOU8m3-pW6JGWBMMytjnk\"",
        "Last-Modified": "Thu, 09 Oct 2025 16:28:20 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzU1NTMyMjgy;sn=55532282",
        "x-ms-date": "Thu, 09 Oct 2025 16:28:20 GMT"
      },
      "ResponseBody": {
        "etag": "k80rSZqDtzjFi8nYSVYuR1dOU8m3-pW6JGWBMMytjnk",
        "key": "key-1987625860",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2025-10-09T16:28:20+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t8cdd9157ca7d1363-azconfig-net.azconfig.io;Id=wNKY;Secret=Kg==",
    "RandomSeed": "1074399404"
  }
}
