{
  "Entries": [
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv/~%60%21%40%23%24%5E%26%28%29_%2B%3D%5B%5D%7B%7D%7C%3B%22%27%3C%3E.%2F--853393875?api-version=2026-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "value": "value-~`!@#$^&()_+=[]{}|;\"'<>./-",
        "content_type": null,
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"8XumsRRYMEFNgF7hiVDss5S2e7z_Y6JC_eSIWL2493o\"",
        "Last-Modified": "Wed, 10 Jun 2026 21:34:12 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDk0NTA5;sn=67094509",
        "x-ms-date": "Wed, 10 Jun 2026 21:34:12 GMT"
      },
      "ResponseBody": {
        "etag": "8XumsRRYMEFNgF7hiVDss5S2e7z_Y6JC_eSIWL2493o",
        "key": "~`!@#$^&()_+=[]{}|;\"'<>./--853393875",
        "label": null,
        "content_type": null,
        "value": "value-~`!@#$^&()_+=[]{}|;\"'<>./-",
        "description": null,
        "tags": {},
        "locked": false,
        "last_modified": "2026-06-10T21:34:12+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv/~%60%21%40%23%24%5E%26%28%29_%2B%3D%5B%5D%7B%7D%7C%3B%22%27%3C%3E.%2F--853393875?api-version=2026-04-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDk0NTA5"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"8XumsRRYMEFNgF7hiVDss5S2e7z_Y6JC_eSIWL2493o\"",
        "Last-Modified": "Wed, 10 Jun 2026 21:34:12 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDk0NTEw;sn=67094510",
        "x-ms-date": "Wed, 10 Jun 2026 21:34:12 GMT"
      },
      "ResponseBody": {
        "etag": "8XumsRRYMEFNgF7hiVDss5S2e7z_Y6JC_eSIWL2493o",
        "key": "~`!@#$^&()_+=[]{}|;\"'<>./--853393875",
        "label": null,
        "content_type": null,
        "value": "value-~`!@#$^&()_+=[]{}|;\"'<>./-",
        "description": null,
        "tags": {},
        "locked": false,
        "last_modified": "2026-06-10T21:34:12+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_ENDPOINT_STRING": "https://mrm90847047-azconfig-net.azconfig.io",
    "RandomSeed": "1825501789"
  }
}
