{
  "Entries": [
    {
      "RequestUri": "https://tdfcae3cf5eab7143-azconfig-net.azconfig.io/kv/key-647240047?label=test_label&api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"ngl1Unh-SGQ3Lnq7a4mZpfuFOf5R-b6kEIy6v4bCXU4\"",
        "Last-Modified": "Wed, 24 Jul 2024 15:45:17 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzMyMjcxNzA4;sn=32271708"
      },
      "ResponseBody": {
        "etag": "ngl1Unh-SGQ3Lnq7a4mZpfuFOf5R-b6kEIy6v4bCXU4",
        "key": "key-647240047",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2024-07-24T15:45:17+00:00"
      }
    },
    {
      "RequestUri": "https://tdfcae3cf5eab7143-azconfig-net.azconfig.io/kv/key-647240047?label=test_label&api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"this won't match\"",
        "Sync-Token": "zAJw6V16=Njo1IzMyMjcxNzA4",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Sync-Token": "zAJw6V16=Njo1IzMyMjcxNzA4;sn=32271708"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://tdfcae3cf5eab7143-azconfig-net.azconfig.io/kv/key-647240047?label=test_label&api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Njo1IzMyMjcxNzA4",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"ngl1Unh-SGQ3Lnq7a4mZpfuFOf5R-b6kEIy6v4bCXU4\"",
        "Last-Modified": "Wed, 24 Jul 2024 15:45:17 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzMyMjcxNzA5;sn=32271709"
      },
      "ResponseBody": {
        "etag": "ngl1Unh-SGQ3Lnq7a4mZpfuFOf5R-b6kEIy6v4bCXU4",
        "key": "key-647240047",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2024-07-24T15:45:17+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://tdfcae3cf5eab7143-azconfig-net.azconfig.io;Id=MEKF;Secret=Kg==",
    "RandomSeed": "1284513400"
  }
}
