{
  "Entries": [
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv/key-193556529?api-version=2026-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "description": "test_description"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"dwXTVJyUpYlFT7798H5c4m3xBRtbQ4_ysdaoB8Wje74\"",
        "Last-Modified": "Wed, 10 Jun 2026 21:34:26 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDk0NTIx;sn=67094521",
        "x-ms-date": "Wed, 10 Jun 2026 21:34:26 GMT"
      },
      "ResponseBody": {
        "etag": "dwXTVJyUpYlFT7798H5c4m3xBRtbQ4_ysdaoB8Wje74",
        "key": "key-193556529",
        "label": null,
        "content_type": "test_content_type",
        "value": "test_value",
        "description": "test_description",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-06-10T21:34:26+00:00"
      }
    },
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv/key-193556529?api-version=2026-04-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDk0NTIx"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "description": "test_description"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"NognpIi_TPcqT0AmvMD24V0SYEcODpXaVoZeVomfxsg\"",
        "Last-Modified": "Wed, 10 Jun 2026 21:34:26 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDk0NTIy;sn=67094522",
        "x-ms-date": "Wed, 10 Jun 2026 21:34:26 GMT"
      },
      "ResponseBody": {
        "etag": "NognpIi_TPcqT0AmvMD24V0SYEcODpXaVoZeVomfxsg",
        "key": "key-193556529",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "description": "test_description",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-06-10T21:34:26+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv/key-193556529?api-version=2026-04-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDk0NTIz"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"dwXTVJyUpYlFT7798H5c4m3xBRtbQ4_ysdaoB8Wje74\"",
        "Last-Modified": "Wed, 10 Jun 2026 21:34:26 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDk0NTI0;sn=67094524",
        "x-ms-date": "Wed, 10 Jun 2026 21:34:26 GMT"
      },
      "ResponseBody": {
        "etag": "dwXTVJyUpYlFT7798H5c4m3xBRtbQ4_ysdaoB8Wje74",
        "key": "key-193556529",
        "label": null,
        "content_type": "test_content_type",
        "value": "test_value",
        "description": "test_description",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-06-10T21:34:26+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_ENDPOINT_STRING": "https://mrm90847047-azconfig-net.azconfig.io",
    "RandomSeed": "1111790883"
  }
}
