{
  "Entries": [
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/first_key?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "first_value",
        "content_type": null,
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"5fg4rmquKrSqz01nnN0D114oL2o2nYakwkBSPabQ_Mo\"",
        "Last-Modified": "Thu, 22 Jan 2026 01:40:32 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzQ3NDE2Ng==;sn=103474166",
        "x-ms-date": "Thu, 22 Jan 2026 01:40:32 GMT"
      },
      "ResponseBody": {
        "etag": "5fg4rmquKrSqz01nnN0D114oL2o2nYakwkBSPabQ_Mo",
        "key": "first_key",
        "label": null,
        "content_type": null,
        "value": "first_value",
        "tags": {},
        "locked": false,
        "last_modified": "2026-01-22T01:40:32+00:00"
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/second_key?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzQ3NDE2Ng==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "second_value",
        "content_type": null,
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"RPEv5e7FjSzTyLY7MGzOJR1lDlH4vGqc72g3Zl5Z_Gs\"",
        "Last-Modified": "Thu, 22 Jan 2026 01:40:32 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzQ3NDE2OA==;sn=103474168",
        "x-ms-date": "Thu, 22 Jan 2026 01:40:32 GMT"
      },
      "ResponseBody": {
        "etag": "RPEv5e7FjSzTyLY7MGzOJR1lDlH4vGqc72g3Zl5Z_Gs",
        "key": "second_key",
        "label": null,
        "content_type": null,
        "value": "second_value",
        "tags": {},
        "locked": false,
        "last_modified": "2026-01-22T01:40:32+00:00"
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/snapshots/first_snapshot1408044599?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzQ3NDE2OA==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "filters": [
          {
            "key": "first_key"
          }
        ]
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json; charset=utf-8",
        "ETag": "\"NhvdzaicG5eck-UpxXpeyRDgvGXeWyKF_1jFmSLCmIg\"",
        "Last-Modified": "Thu, 22 Jan 2026 01:40:32 GMT",
        "Link": "</kv?snapshot=first_snapshot1408044599&api-version=2023-11-01>; rel=\"items\"",
        "Operation-Location": "https://t9c954b564de572f9-azconfig-net.azconfig.io/operations?snapshot=first_snapshot1408044599&api-version=2023-11-01",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzQ3NDE3MA==;sn=103474170",
        "x-ms-date": "Thu, 22 Jan 2026 01:40:32 GMT"
      },
      "ResponseBody": {
        "etag": "NhvdzaicG5eck-UpxXpeyRDgvGXeWyKF_1jFmSLCmIg",
        "name": "first_snapshot1408044599",
        "status": "provisioning",
        "filters": [
          {
            "key": "first_key",
            "label": null,
            "tags": []
          }
        ],
        "composition_type": "key",
        "created": "2026-01-22T01:40:32.8091333+00:00",
        "size": 0,
        "items_count": 0,
        "tags": {},
        "retention_period": 2592000
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/operations?api-version=2023-11-01&snapshot=first_snapshot1408044599",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzQ3NDE3MA==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzQ3NDE3MA==;sn=103474170",
        "x-ms-date": "Thu, 22 Jan 2026 01:40:32 GMT"
      },
      "ResponseBody": {
        "id": "VvMdz5hOlBt90y6oqwfXhxwIobFRLFTvkTyNYFYoIbs",
        "status": "Running",
        "error": null
      }
    },
[...]
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/snapshots/second_snapshot1261399717?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzQ3NDE3MQ==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "filters": [
          {
            "key": "second_key"
          }
        ]
      [...]
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/operations?api-version=2023-11-01&snapshot=second_snapshot1261399717",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzQ3NDE3Mg==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzQ3NDE3Mg==;sn=103474172",
        "x-ms-date": "Thu, 22 Jan 2026 01:40:53 GMT"
      },
      "ResponseBody": {
        "id": "YyeqEDRGcYfa0-BTPQrMosKaNaiYWJUvH1WA7E4t1go",
        "status": "Running",
        "error": null
      }
    },
[...]
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/snapshots?api-version=2023-11-01&name=first_snapshot1408044599",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzQ3NDE3Mw==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshotset+json; charset=utf-8",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzQ3NDE3Mw==;sn=103474173",
        "x-ms-date": "Thu, 22 Jan 2026 01:41:14 GMT"
      },
      "ResponseBody": {
        "items": [
          {
            "etag": "NhvdzaicG5eck-UpxXpeyRDgvGXeWyKF_1jFmSLCmIg",
            "name": "first_snapshot1408044599",
            "status": "ready",
            "filters": [
              {
                "key": "first_key",
                "label": null,
                "tags": []
              }
            ],
            "composition_type": "key",
            "created": "2026-01-22T01:40:32+00:00",
            "size": 1000,
            "items_count": 1,
            "tags": {},
            "retention_period": 2592000
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/second_key?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzQ3NDE3NA==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"RPEv5e7FjSzTyLY7MGzOJR1lDlH4vGqc72g3Zl5Z_Gs\"",
        "Last-Modified": "Thu, 22 Jan 2026 01:40:32 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzQ3NDE3NQ==;sn=103474175",
        "x-ms-date": "Thu, 22 Jan 2026 01:41:14 GMT"
      },
      "ResponseBody": {
        "etag": "RPEv5e7FjSzTyLY7MGzOJR1lDlH4vGqc72g3Zl5Z_Gs",
        "key": "second_key",
        "label": null,
        "content_type": null,
        "value": "second_value",
        "tags": {},
        "locked": false,
        "last_modified": "2026-01-22T01:40:32+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t9c954b564de572f9-azconfig-net.azconfig.io;Id=MdvE;Secret=Kg==",
    "RandomSeed": "1917801185"
  }
}
