{
  "Entries": [
    {
      "RequestUri": "https://azure-sdk-for-net-test.azconfig.io/kv/~%60%21%40%23%24%5E%26%28%29_%2B%3D%5B%5D%7B%7D%7C%3B%22%27%3C%3E.%2F--1771782529?api-version=2026-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "value-~`!@#$^&()_+=[]{}|;\"'<>./-",
        "content_type": null,
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"VLw4Izyran0L572tis1rsZDVODxnDjB8nORFisQOn78\"",
        "Last-Modified": "Fri, 29 May 2026 19:59:32 GMT",
        "Sync-Token": "zAJw6V16=NToxNyM0ODE0OTY3OQ==;sn=48149679",
        "x-ms-date": "Fri, 29 May 2026 19:59:32 GMT"
      },
      "ResponseBody": {
        "etag": "VLw4Izyran0L572tis1rsZDVODxnDjB8nORFisQOn78",
        "key": "~`!@#$^&()_+=[]{}|;\"'<>./--1771782529",
        "label": null,
        "content_type": null,
        "value": "value-~`!@#$^&()_+=[]{}|;\"'<>./-",
        "description": null,
        "tags": {},
        "locked": false,
        "last_modified": "2026-05-29T19:59:32+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://azure-sdk-for-net-test.azconfig.io/kv/~%60%21%40%23%24%5E%26%28%29_%2B%3D%5B%5D%7B%7D%7C%3B%22%27%3C%3E.%2F--1771782529?api-version=2026-04-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NToxNyM0ODE0OTY3OQ==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"VLw4Izyran0L572tis1rsZDVODxnDjB8nORFisQOn78\"",
        "Last-Modified": "Fri, 29 May 2026 19:59:32 GMT",
        "Sync-Token": "zAJw6V16=NToxNyM0ODE0OTY4MA==;sn=48149680",
        "x-ms-date": "Fri, 29 May 2026 19:59:32 GMT"
      },
      "ResponseBody": {
        "etag": "VLw4Izyran0L572tis1rsZDVODxnDjB8nORFisQOn78",
        "key": "~`!@#$^&()_+=[]{}|;\"'<>./--1771782529",
        "label": null,
        "content_type": null,
        "value": "value-~`!@#$^&()_+=[]{}|;\"'<>./-",
        "description": null,
        "tags": {},
        "locked": false,
        "last_modified": "2026-05-29T19:59:32+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://azure-sdk-for-net-test.azconfig.io;Id=8ePU;Secret=Kg==",
    "RandomSeed": "1420346013"
  }
}
