{
  "Entries": [
    {
      "RequestUri": "https://t02f6e87f544544f3-azconfig-net.azconfig.io/kv/first_key?api-version=2022-11-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "PZ1M/faDWjDII3Waa9RPufWMAO\u002B7aa6JujJ/kYuqq80="
      },
      "RequestBody": {
        "value": "first_value",
        "content_type": null,
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022rkuuZRkF5_GeIguLTmhY6hJoJfr4akhmet9gNsLeKpQ\u0022",
        "Last-Modified": "Fri, 30 Jun 2023 19:16:31 GMT",
        "Sync-Token": "zAJw6V16=ODo1IzI0ODcwMjA0;sn=24870204"
      },
      "ResponseBody": {
        "etag": "rkuuZRkF5_GeIguLTmhY6hJoJfr4akhmet9gNsLeKpQ",
        "key": "first_key",
        "label": null,
        "content_type": null,
        "value": "first_value",
        "tags": {},
        "locked": false,
        "last_modified": "2023-06-30T19:16:31\u002B00:00"
      }
    },
    {
      "RequestUri": "https://t02f6e87f544544f3-azconfig-net.azconfig.io/kv/second_key?api-version=2022-11-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=ODo1IzI0ODcwMjA0",
        "x-ms-content-sha256": "28EkksuufKh7f7YIo/6/zNK0Nh0Ht6dhA\u002BrageqSvsY="
      },
      "RequestBody": {
        "value": "second_value",
        "content_type": null,
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022N95laz2Y6wGWdOdjbPZFE7-18GaoAQ88PbgPLQbIGK4\u0022",
        "Last-Modified": "Fri, 30 Jun 2023 19:16:31 GMT",
        "Sync-Token": "zAJw6V16=ODo1IzI0ODcwMjA2;sn=24870206"
      },
      "ResponseBody": {
        "etag": "N95laz2Y6wGWdOdjbPZFE7-18GaoAQ88PbgPLQbIGK4",
        "key": "second_key",
        "label": null,
        "content_type": null,
        "value": "second_value",
        "tags": {},
        "locked": false,
        "last_modified": "2023-06-30T19:16:31\u002B00:00"
      }
    },
    {
      "RequestUri": "https://t02f6e87f544544f3-azconfig-net.azconfig.io/snapshots/first_snapshot-2b9017b4-f387-4b62-adf8-ea33a3c20663?api-version=2022-11-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=ODo1IzI0ODcwMjA2",
        "x-ms-content-sha256": "q1EVPDr86Up3//1TYdi/JCfPFILOgcx5AnVDcLDQI/E="
      },
      "RequestBody": {
        "filters": [
          {
            "key": "first_key"
          }
        ]
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot\u002Bjson; charset=utf-8",
        "ETag": "\u0022T1AqQ7HqXWonku-UvpYUMu8VlM5321J_xq1UcE-6BOY\u0022",
        "Last-Modified": "Fri, 30 Jun 2023 19:16:31 GMT",
        "Link": "\u003C/kv?snapshot=first_snapshot-2b9017b4-f387-4b62-adf8-ea33a3c20663\u0026api-version=2022-11-01-preview\u003E; rel=\u0022items\u0022",
        "Operation-Location": "https://t02f6e87f544544f3-azconfig-net.azconfig.io/operations?snapshot=first_snapshot-2b9017b4-f387-4b62-adf8-ea33a3c20663\u0026api-version=2022-11-01-preview",
        "Sync-Token": "zAJw6V16=ODo1IzI0ODcwMjA4;sn=24870208"
      },
      "ResponseBody": {
        "etag": "T1AqQ7HqXWonku-UvpYUMu8VlM5321J_xq1UcE-6BOY",
        "name": "first_snapshot-2b9017b4-f387-4b62-adf8-ea33a3c20663",
        "status": "provisioning",
        "filters": [
          {
            "key": "first_key",
            "label": null
          }
        ],
        "composition_type": "key",
        "created": "2023-06-30T19:16:31\u002B00:00",
        "size": 0,
        "items_count": 0,
        "tags": {},
        "retention_period": 2592000
      }
    },
    {
      "RequestUri": "https://t02f6e87f544544f3-azconfig-net.azconfig.io/operations?snapshot=first_snapshot-2b9017b4-f387-4b62-adf8-ea33a3c20663\u0026api-version=2022-11-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=ODo1IzI0ODcwMjA4",
        "x-ms-content-sha256": "47DEQpj8HBSa\u002B/TImW\u002B5JCeuQeRkm5NMpJWZG3hSuFU="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "Sync-Token": "zAJw6V16=ODo1IzI0ODcwMjA4;sn=24870208"
      },
      "ResponseBody": {
        "id": "XzQ4n7LRWbKJIVX0sxeieGa5vKlT4Nw79LHsvQbtirs",
        "status": "Running",
        "error": null
      }
    },
[...]
    {
      "RequestUri": "https://t02f6e87f544544f3-azconfig-net.azconfig.io/snapshots/second_snapshot-142bcd78-4754-4087-9722-790c1c5b33a4?api-version=2022-11-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=ODo1IzI0ODcwMjIy",
        "x-ms-content-sha256": "eN2odJpcahJHz0PlXxOWvEILqR/xE6h3dd1kGG84OFQ="
      },
      "RequestBody": {
        "filters": [
      [...]
    {
      "RequestUri": "https://t02f6e87f544544f3-azconfig-net.azconfig.io/operations?snapshot=second_snapshot-142bcd78-4754-4087-9722-790c1c5b33a4\u0026api-version=2022-11-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=ODo1IzI0ODcwMjI0",
        "x-ms-content-sha256": "47DEQpj8HBSa\u002B/TImW\u002B5JCeuQeRkm5NMpJWZG3hSuFU="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "Sync-Token": "zAJw6V16=ODo1IzI0ODcwMjI0;sn=24870224"
      },
      "ResponseBody": {
        "id": "5pfTjNPNH9gglQWG-MrwNR0p96AVHq1gHH8O41xeEdQ",
        "status": "Running",
        "error": null
      }
    },
[...]
    {
      "RequestUri": "https://t02f6e87f544544f3-azconfig-net.azconfig.io/snapshots?api-version=2022-11-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=ODo1IzI0ODcwMjI2",
        "x-ms-content-sha256": "47DEQpj8HBSa\u002B/TImW\u002B5JCeuQeRkm5NMpJWZG3hSuFU="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshotset\u002Bjson; charset=utf-8",
        "Link": "\u003C/snapshots?api-version=2022-11-01-preview\u0026after=VGVzdF9TbmFwc2hvdC04NGRjNDc0Ni1kYzRkLTQwN2ItYjQ3MC03OWY1NmY2ZDVkOTQ%3D\u003E; rel=\u0022next\u0022",
        "Sync-Token": "zAJw6V16=ODo1IzI0ODcwMjI2;sn=24870226"
      },
      "ResponseBody": {
        "items": [
          {
            "etag": "bJwpLSyr9_pn7VSOrqVN8aUg_zUupjKCVlLyq7XOrkI",
            "name": "Test_Snapshot-219dd142-6218-42d5-aad0-f414496b4123",
            "status": "ready",
            "filters": [
              {
                "key": "Test_Key",
                "label": null
              }
            ],
            "composition_type": "key",
            "created": "2023-06-30T19:05:06\u002B00:00",
            "size": 1000,
            "items_count": 1,
            "tags": {},
[...]
    {
      "RequestUri": "https://t02f6e87f544544f3-azconfig-net.azconfig.io/snapshots?api-version=2022-11-01-preview\u0026after=VGVzdF9TbmFwc2hvdC04NGRjNDc0Ni1kYzRkLTQwN2ItYjQ3MC03OWY1NmY2ZDVkOTQ%3D",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=ODo1IzI0ODcwMjI2",
        "x-ms-content-sha256": "47DEQpj8HBSa\u002B/TImW\u002B5JCeuQeRkm5NMpJWZG3hSuFU="
      },
      "RequestBody": null,
      "StatusCode": 200,
   [...]
    {
      "RequestUri": "https://t02f6e87f544544f3-azconfig-net.azconfig.io/snapshots?api-version=2022-11-01-preview\u0026after=VGVzdF9TbmFwc2hvdC1kNTcwZjc5Yy02OTc4LTQxM2YtOWRmZS03OGUzYjU2YTQwOTg%3D",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=ODo1IzI0ODcwMjI2",
        "x-ms-content-sha256": "47DEQpj8HBSa\u002B/TImW\u002B5JCeuQeRkm5NMpJWZG3hSuFU="
      },
      "RequestBody": null,
      "StatusCode": 200,
   [...]
    {
      "RequestUri": "https://t02f6e87f544544f3-azconfig-net.azconfig.io/snapshots?api-version=2022-11-01-preview\u0026after=Zmlyc3Rfc25hcHNob3QtZWQ0OTc5NzAtNGE3Mi00NjZmLTg2MmYtMWUzOGM3NjE4M2Y4",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=ODo1IzI0ODcwMjI2",
        "x-ms-content-sha256": "47DEQpj8HBSa\u002B/TImW\u002B5JCeuQeRkm5NMpJWZG3hSuFU="
      },
      "RequestBody": null,
      "StatusCode": 200,
     [...]
    {
      "RequestUri": "https://t02f6e87f544544f3-azconfig-net.azconfig.io/snapshots?api-version=2022-11-01-preview\u0026after=c25hcHNob3RfdXBkYXRlX3N0YXR1cy00MDc4ZDg2NC0wNzMzLTQ3ZjEtOTQ0My02ZWNlOTg3YWY5ZDM%3D",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=ODo1IzI0ODcwMjI2",
        "x-ms-content-sha256": "47DEQpj8HBSa\u002B/TImW\u002B5JCeuQeRkm5NMpJWZG3hSuFU="
      },
      "RequestBody": null,
      "StatusCod[...]
    {
      "RequestUri": "https://t02f6e87f544544f3-azconfig-net.azconfig.io/snapshots?api-version=2022-11-01-preview\u0026after=c25hcHNob3Rfd2FpdF9mb3JfY29tcGxldGlvbi1hODA5ZTBmMy0wM2RlLTRmZDAtOGUzNy02ZmE1Mjc4ZjY1ODg%3D",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=ODo1IzI0ODcwMjI3",
        "x-ms-content-sha256": "47DEQpj8HBSa\u002B/TImW\u002B5JCeuQeRkm5NMpJWZG3hSuFU="
      },
      "RequestBody": null,
      "S[...]
    {
      "RequestUri": "https://t02f6e87f544544f3-azconfig-net.azconfig.io/snapshots?api-version=2022-11-01-preview\u0026after=c25hcHNob3Rfd2FpdF91bnRpbF9jb21wbGV0ZWQtNWM1NTNjMGItYjQ3MS00ZDY5LTljNWItYTExZGY0NjRkNzJh",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=ODo1IzI0ODcwMjI3",
        "x-ms-content-sha256": "47DEQpj8HBSa\u002B/TImW\u002B5JCeuQeRkm5NMpJWZG3hSuFU="
      },
      "RequestBody": null,
      "Sta[...]
    {
      "RequestUri": "https://t02f6e87f544544f3-azconfig-net.azconfig.io/snapshots?api-version=2022-11-01-preview\u0026after=c29tZV9zbmFwc2hvdC0yY2EzNGUxNC0xODZlLTQyMzEtOTcxMi0wMmQ3OWE3YTg1MDk%3D",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=ODo1IzI0ODcwMjI3",
        "x-ms-content-sha256": "47DEQpj8HBSa\u002B/TImW\u002B5JCeuQeRkm5NMpJWZG3hSuFU="
      },
      "RequestBody": null,
      "StatusCode": 200,
   [...]
    {
      "RequestUri": "https://t02f6e87f544544f3-azconfig-net.azconfig.io/snapshots?api-version=2022-11-01-preview\u0026after=c29tZV9zbmFwc2hvdC00YWFiMTU1Ny01MDNjLTRiYjYtYjY3YS00YTk5MmQzNjJjNTI%3D",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=ODo1IzI0ODcwMjI3",
        "x-ms-content-sha256": "47DEQpj8HBSa\u002B/TImW\u002B5JCeuQeRkm5NMpJWZG3hSuFU="
      },
      "RequestBody": null,
      "StatusCode": 200,
   [...]
    {
      "RequestUri": "https://t02f6e87f544544f3-azconfig-net.azconfig.io/snapshots?api-version=2022-11-01-preview\u0026after=c29tZV9zbmFwc2hvdC02OGUzNDNkMi04NDUyLTQ2NTEtOGM4Ny1mYzFmYzM1YmRkODg%3D",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=ODo1IzI0ODcwMjI3",
        "x-ms-content-sha256": "47DEQpj8HBSa\u002B/TImW\u002B5JCeuQeRkm5NMpJWZG3hSuFU="
      },
      "RequestBody": null,
      "StatusCode": 200,
   [...]
    {
      "RequestUri": "https://t02f6e87f544544f3-azconfig-net.azconfig.io/snapshots?api-version=2022-11-01-preview\u0026after=c29tZV9zbmFwc2hvdC1hZmZjMDdhZi1hMDU5LTQ5NTktYWYxNS0wOGE3ZGMxMzdhNzU%3D",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=ODo1IzI0ODcwMjI3",
        "x-ms-content-sha256": "47DEQpj8HBSa\u002B/TImW\u002B5JCeuQeRkm5NMpJWZG3hSuFU="
      },
      "RequestBody": null,
      "StatusCode": 200,
   [...]
    {
      "RequestUri": "https://t02f6e87f544544f3-azconfig-net.azconfig.io/snapshots?api-version=2022-11-01-preview\u0026after=c29tZV9zbmFwc2hvdC1jZDZkNTdlNy0xNGEwLTQ4MjctOTVhMi0zMjlhMWI1MDU2ZjQ%3D",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=ODo1IzI0ODcwMjI3",
        "x-ms-content-sha256": "47DEQpj8HBSa\u002B/TImW\u002B5JCeuQeRkm5NMpJWZG3hSuFU="
      },
      "RequestBody": null,
      "StatusCode": 200,
   [...]
    {
      "RequestUri": "https://t02f6e87f544544f3-azconfig-net.azconfig.io/snapshots?api-version=2022-11-01-preview\u0026after=c29tZV9zbmFwc2hvdC1mYzgyYWIxNy1kOTNkLTQ1MmYtYWJhMS04NTlkY2JlZDhlYTg%3D",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=ODo1IzI0ODcwMjI3",
        "x-ms-content-sha256": "47DEQpj8HBSa\u002B/TImW\u002B5JCeuQeRkm5NMpJWZG3hSuFU="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshotset\u002Bjson; charset=utf-8",
        "Sync-Token": "zAJw6V16=ODo1IzI0ODcwMjI3;sn=24870227"
      },
      "ResponseBody": {
        "items": [
          {
            "etag": "ze5TFJgRvRfA3CTYY4TiH4LTDEWtCjfO0j8qYRD_xVY",
            "name": "some_snapshot-fc8418d6-fc87-4d12-b209-efb744fc5855",
            "status": "ready",
            "filters": [
              {
                "key": "some_key1",
                "label": null
              }
            ],
            "composition_type": "key",
            "created": "2023-06-29T19:22:49\u002B00:00",
            "size": 1000,
            "items_count": 0,
            "tags": {},
            "retention_period": 2592000
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://t02f6e87f544544f3-azconfig-net.azconfig.io/kv/second_key?api-version=2022-11-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=ODo1IzI0ODcwMjI4",
        "x-ms-content-sha256": "47DEQpj8HBSa\u002B/TImW\u002B5JCeuQeRkm5NMpJWZG3hSuFU="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022N95laz2Y6wGWdOdjbPZFE7-18GaoAQ88PbgPLQbIGK4\u0022",
        "Last-Modified": "Fri, 30 Jun 2023 19:16:31 GMT",
        "Sync-Token": "zAJw6V16=ODo1IzI0ODcwMjI5;sn=24870229"
      },
      "ResponseBody": {
        "etag": "N95laz2Y6wGWdOdjbPZFE7-18GaoAQ88PbgPLQbIGK4",
        "key": "second_key",
        "label": null,
        "content_type": null,
        "value": "second_value",
        "tags": {},
        "locked": false,
        "last_modified": "2023-06-30T19:16:31\u002B00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t02f6e87f544544f3-azconfig-net.azconfig.io;Id=Ek\u002BM;Secret=Kg==",
    "RandomSeed": "176565057"
  }
}
