{
  "Entries": [
    {
      "RequestUri": "https://azure-sdk-for-net-test.azconfig.io/kv/first_key-454885960?api-version=2026-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "first_value",
        "content_type": null,
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"W20IsoEZ8cpndfaGUrYcKlwi_kpBtEAHnq3nc_3qYtA\"",
        "Last-Modified": "Fri, 29 May 2026 20:00:03 GMT",
        "Sync-Token": "zAJw6V16=NToxNyM0ODE0OTcwNg==;sn=48149706",
        "x-ms-date": "Fri, 29 May 2026 20:00:03 GMT"
      },
      "ResponseBody": {
        "etag": "W20IsoEZ8cpndfaGUrYcKlwi_kpBtEAHnq3nc_3qYtA",
        "key": "first_key-454885960",
        "label": null,
        "content_type": null,
        "value": "first_value",
        "description": null,
        "tags": {},
        "locked": false,
        "last_modified": "2026-05-29T20:00:03+00:00"
      }
    },
    {
      "RequestUri": "https://azure-sdk-for-net-test.azconfig.io/kv/second_key-979024028?api-version=2026-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "Sync-Token": "zAJw6V16=NToxNyM0ODE0OTcwNg==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "second_value",
        "content_type": null,
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"Ts-sqXLTsS_h8kbdUSTHCrhUL6flaRj7gYlO2TjN_00\"",
        "Last-Modified": "Fri, 29 May 2026 20:00:03 GMT",
        "Sync-Token": "zAJw6V16=NToxNyM0ODE0OTcwNw==;sn=48149707",
        "x-ms-date": "Fri, 29 May 2026 20:00:03 GMT"
      },
      "ResponseBody": {
        "etag": "Ts-sqXLTsS_h8kbdUSTHCrhUL6flaRj7gYlO2TjN_00",
        "key": "second_key-979024028",
        "label": null,
        "content_type": null,
        "value": "second_value",
        "description": null,
        "tags": {},
        "locked": false,
        "last_modified": "2026-05-29T20:00:03+00:00"
      }
    },
    {
      "RequestUri": "https://azure-sdk-for-net-test.azconfig.io/snapshots/first_snapshot1829592307?api-version=2026-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NToxNyM0ODE0OTcwNw==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "filters": [
          {
            "key": "first_key-454885960"
          }
        ],
        "retention_period": 3600
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json; charset=utf-8",
        "ETag": "\"IFZncT172xqki1hcvkc9HogV0AGsIA6Dh7jwlRRHmV4\"",
        "Last-Modified": "Fri, 29 May 2026 20:00:03 GMT",
        "Link": "</kv?snapshot=first_snapshot1829592307&api-version=2026-04-01>; rel=\"items\"",
        "Operation-Location": "https://azure-sdk-for-net-test.azconfig.io/operations?snapshot=first_snapshot1829592307&api-version=2026-04-01",
        "Sync-Token": "zAJw6V16=NToxNyM0ODE0OTcwOA==;sn=48149708",
        "x-ms-date": "Fri, 29 May 2026 20:00:03 GMT"
      },
      "ResponseBody": {
        "etag": "IFZncT172xqki1hcvkc9HogV0AGsIA6Dh7jwlRRHmV4",
        "name": "first_snapshot1829592307",
        "description": null,
        "status": "provisioning",
        "filters": [
          {
            "key": "first_key-454885960",
            "label": null,
            "tags": []
          }
        ],
        "composition_type": "key",
        "created": "2026-05-29T20:00:03.5311723+00:00",
        "size": 0,
        "items_count": 0,
        "tags": {},
        "retention_period": 3600
      }
    },
    {
      "RequestUri": "https://azure-sdk-for-net-test.azconfig.io/operations?api-version=2026-04-01&snapshot=first_snapshot1829592307",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NToxNyM0ODE0OTcwOA==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "Sync-Token": "zAJw6V16=NToxNyM0ODE0OTcwOA==;sn=48149708",
        "x-ms-date": "Fri, 29 May 2026 20:00:03 GMT"
      },
      "ResponseBody": {
        "id": "eJ9Vdz1QjR7hVzWR0-eXk0xJ8W0qYj-3NjAz2Gka1dc",
        "status": "Running",
        "error": null
      }
    },
[...]
    {
      "RequestUri": "https://azure-sdk-for-net-test.azconfig.io/snapshots/second_snapshot1632160593?api-version=2026-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NToxNyM0ODE0OTcxMA==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "filters": [
          {
            "key": "second_key-979024028"
          }
        ],
   [...]
    {
      "RequestUri": "https://azure-sdk-for-net-test.azconfig.io/operations?api-version=2026-04-01&snapshot=second_snapshot1632160593",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NToxNyM0ODE0OTcxMQ==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "Sync-Token": "zAJw6V16=NToxNyM0ODE0OTcxMQ==;sn=48149711",
        "x-ms-date": "Fri, 29 May 2026 20:00:23 GMT"
      },
      "ResponseBody": {
        "id": "ApdHaCxUe9LWG6QZkFC85S9-_C87KaykPyLzlUHtvOU",
        "status": "Running",
        "error": null
      }
    },
[...]
    {
      "RequestUri": "https://azure-sdk-for-net-test.azconfig.io/snapshots?api-version=2026-04-01&name=first_snapshot1829592307",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NToxNyM0ODE0OTcxMw==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshotset+json; charset=utf-8",
        "Sync-Token": "zAJw6V16=NToxNyM0ODE0OTcxMw==;sn=48149713",
        "x-ms-date": "Fri, 29 May 2026 20:00:43 GMT"
      },
      "ResponseBody": {
        "items": [
          {
            "etag": "IFZncT172xqki1hcvkc9HogV0AGsIA6Dh7jwlRRHmV4",
            "name": "first_snapshot1829592307",
            "description": null,
            "status": "ready",
            "filters": [
              {
                "key": "first_key-454885960",
                "label": null,
                "tags": []
              }
            ],
            "composition_type": "key",
            "created": "2026-05-29T20:00:03+00:00",
            "size": 1000,
            "items_count": 1,
            "tags": {},
            "retention_period": 3600
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://azure-sdk-for-net-test.azconfig.io/kv/second_key-979024028?api-version=2026-04-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NToxNyM0ODE0OTcxNA==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"Ts-sqXLTsS_h8kbdUSTHCrhUL6flaRj7gYlO2TjN_00\"",
        "Last-Modified": "Fri, 29 May 2026 20:00:03 GMT",
        "Sync-Token": "zAJw6V16=NToxNyM0ODE0OTcxNQ==;sn=48149715",
        "x-ms-date": "Fri, 29 May 2026 20:00:43 GMT"
      },
      "ResponseBody": {
        "etag": "Ts-sqXLTsS_h8kbdUSTHCrhUL6flaRj7gYlO2TjN_00",
        "key": "second_key-979024028",
        "label": null,
        "content_type": null,
        "value": "second_value",
        "description": null,
        "tags": {},
        "locked": false,
        "last_modified": "2026-05-29T20:00:03+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://azure-sdk-for-net-test.azconfig.io;Id=8ePU;Secret=Kg==",
    "RandomSeed": "1883963169"
  }
}
