{
  "Entries": [
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv/~%60%21%40%23%24%5E%26%28%29_%2B%3D%5B%5D%7B%7D%7C%3B%22%27%3C%3E.%2F--501899572?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "value": "value-~`!@#$^&()_+=[]{}|;\"'<>./-",
        "content_type": null,
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"b60DPsaNIIhtZ_kSA8Wtb-58523ImPznGp-MplVJ4TU\"",
        "Last-Modified": "Tue, 09 Jun 2026 22:56:23 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY2OTk1NTc4;sn=66995578",
        "x-ms-date": "Tue, 09 Jun 2026 22:56:23 GMT"
      },
      "ResponseBody": {
        "etag": "b60DPsaNIIhtZ_kSA8Wtb-58523ImPznGp-MplVJ4TU",
        "key": "~`!@#$^&()_+=[]{}|;\"'<>./--501899572",
        "label": null,
        "content_type": null,
        "value": "value-~`!@#$^&()_+=[]{}|;\"'<>./-",
        "tags": {},
        "locked": false,
        "last_modified": "2026-06-09T22:56:23+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv/~%60%21%40%23%24%5E%26%28%29_%2B%3D%5B%5D%7B%7D%7C%3B%22%27%3C%3E.%2F--501899572?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Mzo1IzY2OTk1NTc4"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"b60DPsaNIIhtZ_kSA8Wtb-58523ImPznGp-MplVJ4TU\"",
        "Last-Modified": "Tue, 09 Jun 2026 22:56:23 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY2OTk1NTc5;sn=66995579",
        "x-ms-date": "Tue, 09 Jun 2026 22:56:23 GMT"
      },
      "ResponseBody": {
        "etag": "b60DPsaNIIhtZ_kSA8Wtb-58523ImPznGp-MplVJ4TU",
        "key": "~`!@#$^&()_+=[]{}|;\"'<>./--501899572",
        "label": null,
        "content_type": null,
        "value": "value-~`!@#$^&()_+=[]{}|;\"'<>./-",
        "tags": {},
        "locked": false,
        "last_modified": "2026-06-09T22:56:23+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_ENDPOINT_STRING": "https://mrm90847047-azconfig-net.azconfig.io",
    "RandomSeed": "1421636604"
  }
}
