{
  "Entries": [
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/kv/key-549029143?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"_a6d8iamrXV3zXopqOkHxNxvj6Suq_QOxhaqCTW8o9k\"",
        "Last-Modified": "Tue, 18 Nov 2025 04:30:07 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzU3ODA0NjEx;sn=57804611",
        "x-ms-date": "Tue, 18 Nov 2025 04:30:07 GMT"
      },
      "ResponseBody": {
        "etag": "_a6d8iamrXV3zXopqOkHxNxvj6Suq_QOxhaqCTW8o9k",
        "key": "key-549029143",
        "label": null,
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2025-11-18T04:30:07+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/kv/key-549029143?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Njo1IzU3ODA0NjEx",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"_a6d8iamrXV3zXopqOkHxNxvj6Suq_QOxhaqCTW8o9k\"",
        "Last-Modified": "Tue, 18 Nov 2025 04:30:07 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzU3ODA0NjEy;sn=57804612",
        "x-ms-date": "Tue, 18 Nov 2025 04:30:07 GMT"
      },
      "ResponseBody": {
        "etag": "_a6d8iamrXV3zXopqOkHxNxvj6Suq_QOxhaqCTW8o9k",
        "key": "key-549029143",
        "label": null,
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2025-11-18T04:30:07+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t8cdd9157ca7d1363-azconfig-net.azconfig.io;Id=wNKY;Secret=Kg==",
    "RandomSeed": "1551349704"
  }
}
