{
  "Entries": [
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-1658681725?api-version=2023-11-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"FiwUWvmYxm7dztggh-Kb2zkwN-3coPfeg_Bx0MdChHQ\"",
        "Last-Modified": "Mon, 26 Jan 2026 05:41:42 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzg1MTI4OA==;sn=103851288",
        "x-ms-date": "Mon, 26 Jan 2026 05:41:42 GMT"
      },
      "ResponseBody": {
        "etag": "FiwUWvmYxm7dztggh-Kb2zkwN-3coPfeg_Bx0MdChHQ",
        "key": "key-1658681725",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-01-26T05:41:42+00:00"
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-1658681725?api-version=2023-11-01&label=test_label",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"this won't match\"",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzg1MTI4OA==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Sync-Token": "zAJw6V16=NTo1IzEwMzg1MTI4OA==;sn=103851288",
        "x-ms-date": "Mon, 26 Jan 2026 05:41:42 GMT"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-1658681725?api-version=2023-11-01&label=test_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzg1MTI4OA==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"FiwUWvmYxm7dztggh-Kb2zkwN-3coPfeg_Bx0MdChHQ\"",
        "Last-Modified": "Mon, 26 Jan 2026 05:41:42 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzg1MTI4OQ==;sn=103851289",
        "x-ms-date": "Mon, 26 Jan 2026 05:41:42 GMT"
      },
      "ResponseBody": {
        "etag": "FiwUWvmYxm7dztggh-Kb2zkwN-3coPfeg_Bx0MdChHQ",
        "key": "key-1658681725",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-01-26T05:41:42+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t9c954b564de572f9-azconfig-net.azconfig.io;Id=MdvE;Secret=Kg==",
    "RandomSeed": "108726996"
  }
}
