{
  "Entries": [
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv/key-1214812124?api-version=2026-04-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "description": "test_description"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"mOR7yQktXji5lhWa5896PBIvVYFktpCNzJHw2Rd_8b8\"",
        "Last-Modified": "Wed, 10 Jun 2026 18:36:09 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDY4MzUx;sn=67068351",
        "x-ms-date": "Wed, 10 Jun 2026 18:36:09 GMT"
      },
      "ResponseBody": {
        "etag": "mOR7yQktXji5lhWa5896PBIvVYFktpCNzJHw2Rd_8b8",
        "key": "key-1214812124",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "description": "test_description",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-06-10T18:36:09+00:00"
      }
    },
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv/key-1214812124?api-version=2026-04-01&label=test_label",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "\"mOR7yQktXji5lhWa5896PBIvVYFktpCNzJHw2Rd_8b8\"",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDY4MzUx"
      },
      "RequestBody": null,
      "StatusCode": 304,
      "ResponseHeaders": {
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDY4MzUx;sn=67068351",
        "x-ms-date": "Wed, 10 Jun 2026 18:36:09 GMT"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv/key-1214812124?api-version=2026-04-01&label=test_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDY4MzUx"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"mOR7yQktXji5lhWa5896PBIvVYFktpCNzJHw2Rd_8b8\"",
        "Last-Modified": "Wed, 10 Jun 2026 18:36:09 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDY4MzUy;sn=67068352",
        "x-ms-date": "Wed, 10 Jun 2026 18:36:09 GMT"
      },
      "ResponseBody": {
        "etag": "mOR7yQktXji5lhWa5896PBIvVYFktpCNzJHw2Rd_8b8",
        "key": "key-1214812124",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "description": "test_description",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-06-10T18:36:09+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_ENDPOINT_STRING": "https://mrm90847047-azconfig-net.azconfig.io",
    "RandomSeed": "1549692595"
  }
}
