{
  "Entries": [
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/kv/key-447371984?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"8drqJShq06TCMHhyitzBRG8kfTvAMqZYJLrY9-JbWuY\"",
        "Last-Modified": "Thu, 09 Oct 2025 16:28:18 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzU1NTMyMjc1;sn=55532275",
        "x-ms-date": "Thu, 09 Oct 2025 16:28:18 GMT"
      },
      "ResponseBody": {
        "etag": "8drqJShq06TCMHhyitzBRG8kfTvAMqZYJLrY9-JbWuY",
        "key": "key-447371984",
        "label": null,
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2025-10-09T16:28:18+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/kv/key-447371984?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Njo1IzU1NTMyMjc1",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"8drqJShq06TCMHhyitzBRG8kfTvAMqZYJLrY9-JbWuY\"",
        "Last-Modified": "Thu, 09 Oct 2025 16:28:18 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzU1NTMyMjc2;sn=55532276",
        "x-ms-date": "Thu, 09 Oct 2025 16:28:19 GMT"
      },
      "ResponseBody": {
        "etag": "8drqJShq06TCMHhyitzBRG8kfTvAMqZYJLrY9-JbWuY",
        "key": "key-447371984",
        "label": null,
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2025-10-09T16:28:18+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t8cdd9157ca7d1363-azconfig-net.azconfig.io;Id=wNKY;Secret=Kg==",
    "RandomSeed": "645784686"
  }
}
