{
  "Entries": [
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv/key-71864555?api-version=2026-04-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "description": "test_description"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"4t_dr1vWcd_ffRWRB9PlhnbOXng316aelhMe-_SOiYw\"",
        "Last-Modified": "Wed, 10 Jun 2026 21:42:52 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDk0OTc3;sn=67094977",
        "x-ms-date": "Wed, 10 Jun 2026 21:42:52 GMT"
      },
      "ResponseBody": {
        "etag": "4t_dr1vWcd_ffRWRB9PlhnbOXng316aelhMe-_SOiYw",
        "key": "key-71864555",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "description": "test_description",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-06-10T21:42:52+00:00"
      }
    },
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv/key-71864555?api-version=2026-04-01&label=test_label",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "\"4t_dr1vWcd_ffRWRB9PlhnbOXng316aelhMe-_SOiYw\"",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDk0OTc3"
      },
      "RequestBody": null,
      "StatusCode": 304,
      "ResponseHeaders": {
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDk0OTc3;sn=67094977",
        "x-ms-date": "Wed, 10 Jun 2026 21:42:52 GMT"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv/key-71864555?api-version=2026-04-01&label=test_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDk0OTc3"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"4t_dr1vWcd_ffRWRB9PlhnbOXng316aelhMe-_SOiYw\"",
        "Last-Modified": "Wed, 10 Jun 2026 21:42:52 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDk0OTc4;sn=67094978",
        "x-ms-date": "Wed, 10 Jun 2026 21:42:52 GMT"
      },
      "ResponseBody": {
        "etag": "4t_dr1vWcd_ffRWRB9PlhnbOXng316aelhMe-_SOiYw",
        "key": "key-71864555",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "description": "test_description",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-06-10T21:42:52+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_ENDPOINT_STRING": "https://mrm90847047-azconfig-net.azconfig.io",
    "RandomSeed": "673446498"
  }
}
