{
  "Entries": [
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/first_key?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "first_value",
        "content_type": null,
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"l_ClKdXf6Z7RvdY6xxlO-Xm8H3GrI8C1S3UCcnC1q9o\"",
        "Last-Modified": "Tue, 06 Jan 2026 01:27:01 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTc2NzkxOA==;sn=101767918",
        "x-ms-date": "Tue, 06 Jan 2026 01:27:01 GMT"
      },
      "ResponseBody": {
        "etag": "l_ClKdXf6Z7RvdY6xxlO-Xm8H3GrI8C1S3UCcnC1q9o",
        "key": "first_key",
        "label": null,
        "content_type": null,
        "value": "first_value",
        "tags": {},
        "locked": false,
        "last_modified": "2026-01-06T01:27:01+00:00"
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/second_key?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTc2NzkxOA==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "second_value",
        "content_type": null,
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"am8ys5iRV7Rsy1P3xBVj1yD46QmPOS4DtbJrQ8c6tTY\"",
        "Last-Modified": "Tue, 06 Jan 2026 01:27:01 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTc2NzkyMA==;sn=101767920",
        "x-ms-date": "Tue, 06 Jan 2026 01:27:01 GMT"
      },
      "ResponseBody": {
        "etag": "am8ys5iRV7Rsy1P3xBVj1yD46QmPOS4DtbJrQ8c6tTY",
        "key": "second_key",
        "label": null,
        "content_type": null,
        "value": "second_value",
        "tags": {},
        "locked": false,
        "last_modified": "2026-01-06T01:27:01+00:00"
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/snapshots/first_snapshot1831794586?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTc2NzkyMA==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "filters": [
          {
            "key": "first_key"
          }
        ]
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json; charset=utf-8",
        "ETag": "\"jVoK13fBvA-3-ONXSA6zxlCroJOLLH0ZrWFCIu9TXkA\"",
        "Last-Modified": "Tue, 06 Jan 2026 01:27:01 GMT",
        "Link": "</kv?snapshot=first_snapshot1831794586&api-version=2023-11-01>; rel=\"items\"",
        "Operation-Location": "https://t9c954b564de572f9-azconfig-net.azconfig.io/operations?snapshot=first_snapshot1831794586&api-version=2023-11-01",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTc2NzkyMg==;sn=101767922",
        "x-ms-date": "Tue, 06 Jan 2026 01:27:01 GMT"
      },
      "ResponseBody": {
        "etag": "jVoK13fBvA-3-ONXSA6zxlCroJOLLH0ZrWFCIu9TXkA",
        "name": "first_snapshot1831794586",
        "status": "provisioning",
        "filters": [
          {
            "key": "first_key",
            "label": null,
            "tags": []
          }
        ],
        "composition_type": "key",
        "created": "2026-01-06T01:27:01.6057698+00:00",
        "size": 0,
        "items_count": 0,
        "tags": {},
        "retention_period": 2592000
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/operations?api-version=2023-11-01&snapshot=first_snapshot1831794586",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTc2NzkyMg==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTc2NzkyMg==;sn=101767922",
        "x-ms-date": "Tue, 06 Jan 2026 01:27:01 GMT"
      },
      "ResponseBody": {
        "id": "acN2EXDla7K0A91bjpso_payDCQwW-u2bwsuU3g31HM",
        "status": "Running",
        "error": null
      }
    },
[...]
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/snapshots/second_snapshot1075833498?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTc2NzkzMQ==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "filters": [
          {
            "key": "second_key"
          }
        ]
      [...]
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/operations?api-version=2023-11-01&snapshot=second_snapshot1075833498",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTc2NzkzNA==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTc2NzkzNA==;sn=101767934",
        "x-ms-date": "Tue, 06 Jan 2026 01:27:22 GMT"
      },
      "ResponseBody": {
        "id": "BtajqW_zwJaAyeYIGhmwodukAT55uzeHAQyxTarhbiE",
        "status": "Running",
        "error": null
      }
    },
[...]
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/snapshots?api-version=2023-11-01&name=first_snapshot1831794586",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTc2Nzk0NQ==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshotset+json; charset=utf-8",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTc2Nzk0NQ==;sn=101767945",
        "x-ms-date": "Tue, 06 Jan 2026 01:27:43 GMT"
      },
      "ResponseBody": {
        "items": [
          {
            "etag": "jVoK13fBvA-3-ONXSA6zxlCroJOLLH0ZrWFCIu9TXkA",
            "name": "first_snapshot1831794586",
            "status": "ready",
            "filters": [
              {
                "key": "first_key",
                "label": null,
                "tags": []
              }
            ],
            "composition_type": "key",
            "created": "2026-01-06T01:27:01+00:00",
            "size": 1000,
            "items_count": 1,
            "tags": {},
            "retention_period": 2592000
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/second_key?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTc2Nzk0Ng==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"am8ys5iRV7Rsy1P3xBVj1yD46QmPOS4DtbJrQ8c6tTY\"",
        "Last-Modified": "Tue, 06 Jan 2026 01:27:01 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTc2Nzk0Nw==;sn=101767947",
        "x-ms-date": "Tue, 06 Jan 2026 01:27:43 GMT"
      },
      "ResponseBody": {
        "etag": "am8ys5iRV7Rsy1P3xBVj1yD46QmPOS4DtbJrQ8c6tTY",
        "key": "second_key",
        "label": null,
        "content_type": null,
        "value": "second_value",
        "tags": {},
        "locked": false,
        "last_modified": "2026-01-06T01:27:01+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t9c954b564de572f9-azconfig-net.azconfig.io;Id=MdvE;Secret=Kg==",
    "RandomSeed": "1822441485"
  }
}
