{
  "Entries": [
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/kv/key-2136003250?api-version=2023-11-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"8dRcFvKTYxmfud3smY079yS85o7l7ZcOAYlJQQqh51Y\"",
        "Last-Modified": "Thu, 09 Oct 2025 16:33:46 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzU1NTMzMDg3;sn=55533087",
        "x-ms-date": "Thu, 09 Oct 2025 16:33:46 GMT"
      },
      "ResponseBody": {
        "etag": "8dRcFvKTYxmfud3smY079yS85o7l7ZcOAYlJQQqh51Y",
        "key": "key-2136003250",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2025-10-09T16:33:46+00:00"
      }
    },
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/kv/key-2136003250?api-version=2023-11-01&label=test_label",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "\"8dRcFvKTYxmfud3smY079yS85o7l7ZcOAYlJQQqh51Y\"",
        "Sync-Token": "zAJw6V16=Njo1IzU1NTMzMDg3",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 304,
      "ResponseHeaders": {
        "Sync-Token": "zAJw6V16=Njo1IzU1NTMzMDkw;sn=55533090",
        "x-ms-date": "Thu, 09 Oct 2025 16:33:46 GMT"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/kv/key-2136003250?api-version=2023-11-01&label=test_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Njo1IzU1NTMzMDkw",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"8dRcFvKTYxmfud3smY079yS85o7l7ZcOAYlJQQqh51Y\"",
        "Last-Modified": "Thu, 09 Oct 2025 16:33:46 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzU1NTMzMDkx;sn=55533091",
        "x-ms-date": "Thu, 09 Oct 2025 16:33:46 GMT"
      },
      "ResponseBody": {
        "etag": "8dRcFvKTYxmfud3smY079yS85o7l7ZcOAYlJQQqh51Y",
        "key": "key-2136003250",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2025-10-09T16:33:46+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t8cdd9157ca7d1363-azconfig-net.azconfig.io;Id=wNKY;Secret=Kg==",
    "RandomSeed": "89867560"
  }
}
