{
  "Entries": [
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/kv/first_key?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "first_value",
        "content_type": null,
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"TTzajy9WHelAFcKIGseFXjga9KD5RcJYjb65vF6nveo\"",
        "Last-Modified": "Tue, 18 Nov 2025 04:30:10 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzU3ODA0NjI5;sn=57804629",
        "x-ms-date": "Tue, 18 Nov 2025 04:30:10 GMT"
      },
      "ResponseBody": {
        "etag": "TTzajy9WHelAFcKIGseFXjga9KD5RcJYjb65vF6nveo",
        "key": "first_key",
        "label": null,
        "content_type": null,
        "value": "first_value",
        "tags": {},
        "locked": false,
        "last_modified": "2025-11-18T04:30:10+00:00"
      }
    },
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/kv/second_key?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "Sync-Token": "zAJw6V16=Njo1IzU3ODA0NjI5",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "second_value",
        "content_type": null,
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"TFUs1C7X4ngGTpmK_0375y0nhSlOUwCiNOQuw7JSdx0\"",
        "Last-Modified": "Tue, 18 Nov 2025 04:30:10 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzU3ODA0NjMx;sn=57804631",
        "x-ms-date": "Tue, 18 Nov 2025 04:30:10 GMT"
      },
      "ResponseBody": {
        "etag": "TFUs1C7X4ngGTpmK_0375y0nhSlOUwCiNOQuw7JSdx0",
        "key": "second_key",
        "label": null,
        "content_type": null,
        "value": "second_value",
        "tags": {},
        "locked": false,
        "last_modified": "2025-11-18T04:30:10+00:00"
      }
    },
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/snapshots/first_snapshot573960361?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=Njo1IzU3ODA0NjMx",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "filters": [
          {
            "key": "first_key"
          }
        ]
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json; charset=utf-8",
        "ETag": "\"2WOAsFcbkJWEaes2OcAq8MsEBT7p4etqZRsqL68SSyM\"",
        "Last-Modified": "Tue, 18 Nov 2025 04:30:10 GMT",
        "Link": "</kv?snapshot=first_snapshot573960361&api-version=2023-11-01>; rel=\"items\"",
        "Operation-Location": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/operations?snapshot=first_snapshot573960361&api-version=2023-11-01",
        "Sync-Token": "zAJw6V16=Njo1IzU3ODA0NjMz;sn=57804633",
        "x-ms-date": "Tue, 18 Nov 2025 04:30:10 GMT"
      },
      "ResponseBody": {
        "etag": "2WOAsFcbkJWEaes2OcAq8MsEBT7p4etqZRsqL68SSyM",
        "name": "first_snapshot573960361",
        "status": "provisioning",
        "filters": [
          {
            "key": "first_key",
            "label": null,
            "tags": []
          }
        ],
        "composition_type": "key",
        "created": "2025-11-18T04:30:10.8967137+00:00",
        "size": 0,
        "items_count": 0,
        "tags": {},
        "retention_period": 2592000
      }
    },
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/operations?api-version=2023-11-01&snapshot=first_snapshot573960361",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Njo1IzU3ODA0NjMz",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "Sync-Token": "zAJw6V16=Njo1IzU3ODA0NjMz;sn=57804633",
        "x-ms-date": "Tue, 18 Nov 2025 04:30:11 GMT"
      },
      "ResponseBody": {
        "id": "uiZ0zAOl9vgiSuSjFKkje0079Q8WeXCy2VkN1UAiL30",
        "status": "Running",
        "error": null
      }
    },
[...]
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/snapshots/second_snapshot2080572850?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=Njo1IzU3ODA0NjM0",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "filters": [
          {
            "key": "second_key"
          }
        ]
      },
 [...]
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/operations?api-version=2023-11-01&snapshot=second_snapshot2080572850",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Njo1IzU3ODA0NjM1",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "Sync-Token": "zAJw6V16=Njo1IzU3ODA0NjM1;sn=57804635",
        "x-ms-date": "Tue, 18 Nov 2025 04:30:21 GMT"
      },
      "ResponseBody": {
        "id": "Mb97QM_kuUtFianLiqpKxwkR0QlJcmVzUvUMwIodpb8",
        "status": "Running",
        "error": null
      }
    },
[...]
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/snapshots?api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Njo1IzU3ODA0NjM2",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshotset+json; charset=utf-8",
        "Link": "</snapshots?api-version=2023-11-01&after=Zmlyc3Rfc25hcHNob3QxNTAzMDc0MzIw>; rel=\"next\"",
        "Sync-Token": "zAJw6V16=Njo1IzU3ODA0NjM2;sn=57804636",
        "x-ms-date": "Tue, 18 Nov 2025 04:30:31 GMT"
      },
      "ResponseBody": {
        "items": [
          {
            "etag": "jwXQ8bRgvsJsH0jug0MLIYum5touuLPDB3mnCNx636A",
            "name": "first_snapshot1024650078",
            "status": "ready",
            "filters": [
              {
                "key": "first_key",
                "label": null,
                "tags": []
              }
            ],
            "composition_type": "key",
            "created": "2025-10-09T15:45:48+00:00",
            "size": 1000,
            "items_count": 1,
            "tags": {},
  [...]
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/snapshots?after=Zmlyc3Rfc25hcHNob3QxNTAzMDc0MzIw&api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Njo1IzU3ODA0NjM2",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshotset[...]
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/snapshots?after=Zmlyc3Rfc25hcHNob3Q3MTIwNzcyNQ%3D%3D&api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Njo1IzU3ODA0NjM2",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapsho[...]
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/snapshots?after=c2Vjb25kX3NuYXBzaG90MjA2NDM2Nzk3Nw%3D%3D&api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Njo1IzU3ODA0NjM2",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.sna[...]
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/snapshots?after=c2Vjb25kX3NuYXBzaG90NTMxNDY5NzMw&api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Njo1IzU3ODA0NjM2",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshotset[...]
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/snapshots?after=c25hcHNob3QtMTA3Mzc2NjQ2OA%3D%3D&api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Njo1IzU3ODA0NjM2",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshotset[...]
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/snapshots?after=c25hcHNob3QtMTUzNjg5MTc2&api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Njo1IzU3ODA0NjM2",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshotset+json; c[...]
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/snapshots?after=c25hcHNob3QtMTc0MDMxMDU3OA%3D%3D&api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Njo1IzU3ODA0NjM2",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshotset[...]
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/snapshots?after=c25hcHNob3QtMTgzNzI5NTMzMg%3D%3D&api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Njo1IzU3ODA0NjM2",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshotset[...]
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/snapshots?after=c25hcHNob3QtMTkwNzU1MTk0NQ%3D%3D&api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Njo1IzU3ODA0NjM2",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshotset[...]
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/snapshots?after=c25hcHNob3QtMjA3MDE1NDM4Nw%3D%3D&api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Njo1IzU3ODA0NjM2",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshotset[...]
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/snapshots?after=c25hcHNob3QtMjExMjM2NDYzMA%3D%3D&api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Njo1IzU3ODA0NjM2",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshotset[...]
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/snapshots?after=c25hcHNob3QtMjkzMzY1Mjg2&api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Njo1IzU3ODA0NjM2",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshotset+json; c[...]
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/snapshots?after=c25hcHNob3QtNDQwMDUzMzY3&api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Njo1IzU3ODA0NjM2",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshotset+json; c[...]
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/snapshots?after=c25hcHNob3QtNzQ5OTUwMzc3&api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Njo1IzU3ODA0NjM2",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshotset+json; c[...]
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/snapshots?after=c25hcHNob3QtODYwNjk4OTYy&api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Njo1IzU3ODA0NjM2",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshotset+json; c[...]
[...]
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/kv/second_key?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Njo1IzU3ODA0NjM3",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"TFUs1C7X4ngGTpmK_0375y0nhSlOUwCiNOQuw7JSdx0\"",
        "Last-Modified": "Tue, 18 Nov 2025 04:30:10 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzU3ODA0NjM4;sn=57804638",
        "x-ms-date": "Tue, 18 Nov 2025 04:30:34 GMT"
      },
      "ResponseBody": {
        "etag": "TFUs1C7X4ngGTpmK_0375y0nhSlOUwCiNOQuw7JSdx0",
        "key": "second_key",
        "label": null,
        "content_type": null,
        "value": "second_value",
        "tags": {},
        "locked": false,
        "last_modified": "2025-11-18T04:30:10+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t8cdd9157ca7d1363-azconfig-net.azconfig.io;Id=wNKY;Secret=Kg==",
    "RandomSeed": "626453104"
  }
}
