{
  "Entries": [
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/kv/key-1160163657?api-version=2023-11-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"JmKoe8GbvGXvV_Eo1r7oK7XfAlcyOGPc_fVbLc3Bynw\"",
        "Last-Modified": "Mon, 17 Nov 2025 16:56:45 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzU3NzY0OTIx;sn=57764921",
        "x-ms-date": "Mon, 17 Nov 2025 16:56:45 GMT"
      },
      "ResponseBody": {
        "etag": "JmKoe8GbvGXvV_Eo1r7oK7XfAlcyOGPc_fVbLc3Bynw",
        "key": "key-1160163657",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2025-11-17T16:56:45+00:00"
      }
    },
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/kv/key-1160163657?api-version=2023-11-01&label=test_label",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "\"this won't match\"",
        "Sync-Token": "zAJw6V16=Njo1IzU3NzY0OTIx",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"JmKoe8GbvGXvV_Eo1r7oK7XfAlcyOGPc_fVbLc3Bynw\"",
        "Last-Modified": "Mon, 17 Nov 2025 16:56:45 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzU3NzY0OTIx;sn=57764921",
        "x-ms-date": "Mon, 17 Nov 2025 16:56:46 GMT"
      },
      "ResponseBody": {
        "etag": "JmKoe8GbvGXvV_Eo1r7oK7XfAlcyOGPc_fVbLc3Bynw",
        "key": "key-1160163657",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2025-11-17T16:56:45+00:00"
      }
    },
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/kv/key-1160163657?api-version=2023-11-01&label=test_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Njo1IzU3NzY0OTIx",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"JmKoe8GbvGXvV_Eo1r7oK7XfAlcyOGPc_fVbLc3Bynw\"",
        "Last-Modified": "Mon, 17 Nov 2025 16:56:45 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzU3NzY0OTIy;sn=57764922",
        "x-ms-date": "Mon, 17 Nov 2025 16:56:46 GMT"
      },
      "ResponseBody": {
        "etag": "JmKoe8GbvGXvV_Eo1r7oK7XfAlcyOGPc_fVbLc3Bynw",
        "key": "key-1160163657",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2025-11-17T16:56:45+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t8cdd9157ca7d1363-azconfig-net.azconfig.io;Id=wNKY;Secret=Kg==",
    "RandomSeed": "1630135391"
  }
}
