{
  "Entries": [
    {
      "RequestUri": "https://tdfcae3cf5eab7143-azconfig-net.azconfig.io/kv/first_key?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "first_value",
        "content_type": null,
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"j1rWUMk8lNF2tWEtsiWMru3HPcEeQzeIuK-tZIUKotI\"",
        "Last-Modified": "Fri, 18 Jul 2025 16:34:47 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzUwOTcyMDkz;sn=50972093"
      },
      "ResponseBody": {
        "etag": "j1rWUMk8lNF2tWEtsiWMru3HPcEeQzeIuK-tZIUKotI",
        "key": "first_key",
        "label": null,
        "content_type": null,
        "value": "first_value",
        "tags": {},
        "locked": false,
        "last_modified": "2025-07-18T16:34:47+00:00"
      }
    },
    {
      "RequestUri": "https://tdfcae3cf5eab7143-azconfig-net.azconfig.io/kv/second_key?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "Sync-Token": "zAJw6V16=Njo1IzUwOTcyMDkz",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "second_value",
        "content_type": null,
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"pmFXsrem1_XuGSf6SM1hMm1CTeYLUI2UKlu-fbDDdcw\"",
        "Last-Modified": "Fri, 18 Jul 2025 16:34:47 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzUwOTcyMDk1;sn=50972095"
      },
      "ResponseBody": {
        "etag": "pmFXsrem1_XuGSf6SM1hMm1CTeYLUI2UKlu-fbDDdcw",
        "key": "second_key",
        "label": null,
        "content_type": null,
        "value": "second_value",
        "tags": {},
        "locked": false,
        "last_modified": "2025-07-18T16:34:47+00:00"
      }
    },
    {
      "RequestUri": "https://tdfcae3cf5eab7143-azconfig-net.azconfig.io/snapshots/first_snapshot129030000?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=Njo1IzUwOTcyMDk1",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "filters": [
          {
            "key": "first_key",
            "tags": []
          }
        ]
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json; charset=utf-8",
        "ETag": "\"v708XlSpJ8da5_nv-Te86aiNTwRncnz_aFKNYrVuShc\"",
        "Last-Modified": "Fri, 18 Jul 2025 16:34:47 GMT",
        "Link": "</kv?snapshot=first_snapshot129030000&api-version=2023-11-01>; rel=\"items\"",
        "Operation-Location": "https://tdfcae3cf5eab7143-azconfig-net.azconfig.io/operations?snapshot=first_snapshot129030000&api-version=2023-11-01",
        "Sync-Token": "zAJw6V16=Njo1IzUwOTcyMDk3;sn=50972097"
      },
      "ResponseBody": {
        "etag": "v708XlSpJ8da5_nv-Te86aiNTwRncnz_aFKNYrVuShc",
        "name": "first_snapshot129030000",
        "status": "provisioning",
        "filters": [
          {
            "key": "first_key",
            "label": null,
            "tags": []
          }
        ],
        "composition_type": "key",
        "created": "2025-07-18T16:34:47.9634942+00:00",
        "size": 0,
        "items_count": 0,
        "tags": {},
        "retention_period": 2592000
      }
    },
    {
      "RequestUri": "https://tdfcae3cf5eab7143-azconfig-net.azconfig.io/operations?snapshot=first_snapshot129030000&api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Njo1IzUwOTcyMDk3",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "Sync-Token": "zAJw6V16=Njo1IzUwOTcyMDk3;sn=50972097"
      },
      "ResponseBody": {
        "id": "Tvi1C6uaC4wDrQnp1oPW7eF0PG75tdOz0WT81NKPkPI",
        "status": "Running",
        "error": null
      }
    },
[...]
    {
      "RequestUri": "https://tdfcae3cf5eab7143-azconfig-net.azconfig.io/snapshots/second_snapshot799114647?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=Njo1IzUwOTcyMDk4",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "filters": [
          {
            "key": "second_key",
            "tags": []
         [...]
    {
      "RequestUri": "https://tdfcae3cf5eab7143-azconfig-net.azconfig.io/operations?snapshot=second_snapshot799114647&api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Njo1IzUwOTcyMDk5",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "Sync-Token": "zAJw6V16=Njo1IzUwOTcyMDk5;sn=50972099"
      },
      "ResponseBody": {
        "id": "5jnn_L6M5NYdc8OfSgiLl6zFkuF0lU7askebm8w7XnQ",
        "status": "Running",
        "error": null
      }
    },
[...]
    {
      "RequestUri": "https://tdfcae3cf5eab7143-azconfig-net.azconfig.io/snapshots?api-version=2023-11-01&name=first_snapshot129030000",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Njo1IzUwOTcyMTAw",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshotset+json; charset=utf-8",
        "Sync-Token": "zAJw6V16=Njo1IzUwOTcyMTAw;sn=50972100"
      },
      "ResponseBody": {
        "items": [
          {
            "etag": "v708XlSpJ8da5_nv-Te86aiNTwRncnz_aFKNYrVuShc",
            "name": "first_snapshot129030000",
            "status": "ready",
            "filters": [
              {
                "key": "first_key",
                "label": null,
                "tags": []
              }
            ],
            "composition_type": "key",
            "created": "2025-07-18T16:34:47+00:00",
            "size": 1000,
            "items_count": 1,
            "tags": {},
            "retention_period": 2592000
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://tdfcae3cf5eab7143-azconfig-net.azconfig.io/kv/second_key?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Njo1IzUwOTcyMTAx",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"pmFXsrem1_XuGSf6SM1hMm1CTeYLUI2UKlu-fbDDdcw\"",
        "Last-Modified": "Fri, 18 Jul 2025 16:34:47 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzUwOTcyMTAy;sn=50972102"
      },
      "ResponseBody": {
        "etag": "pmFXsrem1_XuGSf6SM1hMm1CTeYLUI2UKlu-fbDDdcw",
        "key": "second_key",
        "label": null,
        "content_type": null,
        "value": "second_value",
        "tags": {},
        "locked": false,
        "last_modified": "2025-07-18T16:34:47+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://tdfcae3cf5eab7143-azconfig-net.azconfig.io;Id=Msfr;Secret=Kg==",
    "RandomSeed": "1010150500"
  }
}
