{
  "Entries": [
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv/key-1258466272?api-version=2026-04-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "description": "test_description"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"GxhEMOUua_Pocg-gPBWcPxFfANlROOaAcr3_A8BE4dc\"",
        "Last-Modified": "Wed, 10 Jun 2026 19:19:51 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDczOTQ1;sn=67073945",
        "x-ms-date": "Wed, 10 Jun 2026 19:19:51 GMT"
      },
      "ResponseBody": {
        "etag": "GxhEMOUua_Pocg-gPBWcPxFfANlROOaAcr3_A8BE4dc",
        "key": "key-1258466272",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "description": "test_description",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-06-10T19:19:51+00:00"
      }
    },
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv/key-1258466272?api-version=2026-04-01&label=test_label",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"GxhEMOUua_Pocg-gPBWcPxFfANlROOaAcr3_A8BE4dc\"",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDczOTQ1"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"GxhEMOUua_Pocg-gPBWcPxFfANlROOaAcr3_A8BE4dc\"",
        "Last-Modified": "Wed, 10 Jun 2026 19:19:51 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDczOTQ1;sn=67073945",
        "x-ms-date": "Wed, 10 Jun 2026 19:19:51 GMT"
      },
      "ResponseBody": {
        "etag": "GxhEMOUua_Pocg-gPBWcPxFfANlROOaAcr3_A8BE4dc",
        "key": "key-1258466272",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "description": "test_description",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-06-10T19:19:51+00:00"
      }
    },
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv/key-1258466272?api-version=2026-04-01&label=test_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDczOTQ1"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"GxhEMOUua_Pocg-gPBWcPxFfANlROOaAcr3_A8BE4dc\"",
        "Last-Modified": "Wed, 10 Jun 2026 19:19:51 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDczOTQ2;sn=67073946",
        "x-ms-date": "Wed, 10 Jun 2026 19:19:52 GMT"
      },
      "ResponseBody": {
        "etag": "GxhEMOUua_Pocg-gPBWcPxFfANlROOaAcr3_A8BE4dc",
        "key": "key-1258466272",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "description": "test_description",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-06-10T19:19:51+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_ENDPOINT_STRING": "https://mrm90847047-azconfig-net.azconfig.io",
    "RandomSeed": "1683698433"
  }
}
