{
  "Entries": [
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-96552480?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"PhxFMjQxT03BM42ZIR-K2TQsud8mWjid6yztwehdknY\"",
        "Last-Modified": "Mon, 26 Jan 2026 05:48:10 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzg1MjM5NA==;sn=103852394",
        "x-ms-date": "Mon, 26 Jan 2026 05:48:10 GMT"
      },
      "ResponseBody": {
        "etag": "PhxFMjQxT03BM42ZIR-K2TQsud8mWjid6yztwehdknY",
        "key": "key-96552480",
        "label": null,
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-01-26T05:48:10+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-96552480?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzg1MjM5NA==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"PhxFMjQxT03BM42ZIR-K2TQsud8mWjid6yztwehdknY\"",
        "Last-Modified": "Mon, 26 Jan 2026 05:48:10 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzg1MjM5NQ==;sn=103852395",
        "x-ms-date": "Mon, 26 Jan 2026 05:48:10 GMT"
      },
      "ResponseBody": {
        "etag": "PhxFMjQxT03BM42ZIR-K2TQsud8mWjid6yztwehdknY",
        "key": "key-96552480",
        "label": null,
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-01-26T05:48:10+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t9c954b564de572f9-azconfig-net.azconfig.io;Id=MdvE;Secret=Kg==",
    "RandomSeed": "1575854368"
  }
}
