{
  "Entries": [
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/kv/key-310160214?api-version=2023-11-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"0J2IhvQgdwqDUVCmHJMvu_Vr_85mLyZ2_mJzFHjDND4\"",
        "Last-Modified": "Mon, 17 Nov 2025 16:56:45 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzU3NzY0OTE5;sn=57764919",
        "x-ms-date": "Mon, 17 Nov 2025 16:56:45 GMT"
      },
      "ResponseBody": {
        "etag": "0J2IhvQgdwqDUVCmHJMvu_Vr_85mLyZ2_mJzFHjDND4",
        "key": "key-310160214",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2025-11-17T16:56:45+00:00"
      }
    },
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/kv/key-310160214?api-version=2023-11-01&label=test_label",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "\"0J2IhvQgdwqDUVCmHJMvu_Vr_85mLyZ2_mJzFHjDND4\"",
        "Sync-Token": "zAJw6V16=Njo1IzU3NzY0OTE5",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 304,
      "ResponseHeaders": {
        "Sync-Token": "zAJw6V16=Njo1IzU3NzY0OTE5;sn=57764919",
        "x-ms-date": "Mon, 17 Nov 2025 16:56:45 GMT"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/kv/key-310160214?api-version=2023-11-01&label=test_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Njo1IzU3NzY0OTE5",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"0J2IhvQgdwqDUVCmHJMvu_Vr_85mLyZ2_mJzFHjDND4\"",
        "Last-Modified": "Mon, 17 Nov 2025 16:56:45 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzU3NzY0OTIw;sn=57764920",
        "x-ms-date": "Mon, 17 Nov 2025 16:56:45 GMT"
      },
      "ResponseBody": {
        "etag": "0J2IhvQgdwqDUVCmHJMvu_Vr_85mLyZ2_mJzFHjDND4",
        "key": "key-310160214",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2025-11-17T16:56:45+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t8cdd9157ca7d1363-azconfig-net.azconfig.io;Id=wNKY;Secret=Kg==",
    "RandomSeed": "1942223799"
  }
}
