{
  "Entries": [
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-796582041?api-version=2023-11-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"dSlUhuqgX_k8TRHPkVRlFEp9sKtzGyu9qTxJrKeomDY\"",
        "Last-Modified": "Tue, 23 Dec 2025 05:49:35 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTA1MDAyOA==;sn=101050028",
        "x-ms-date": "Tue, 23 Dec 2025 05:49:35 GMT"
      },
      "ResponseBody": {
        "etag": "dSlUhuqgX_k8TRHPkVRlFEp9sKtzGyu9qTxJrKeomDY",
        "key": "key-796582041",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2025-12-23T05:49:35+00:00"
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-796582041?api-version=2023-11-01&label=test_label",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"dSlUhuqgX_k8TRHPkVRlFEp9sKtzGyu9qTxJrKeomDY\"",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTA1MDAyOA==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"dSlUhuqgX_k8TRHPkVRlFEp9sKtzGyu9qTxJrKeomDY\"",
        "Last-Modified": "Tue, 23 Dec 2025 05:49:35 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTA1MDAyOA==;sn=101050028",
        "x-ms-date": "Tue, 23 Dec 2025 05:49:35 GMT"
      },
      "ResponseBody": {
        "etag": "dSlUhuqgX_k8TRHPkVRlFEp9sKtzGyu9qTxJrKeomDY",
        "key": "key-796582041",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2025-12-23T05:49:35+00:00"
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-796582041?api-version=2023-11-01&label=test_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTA1MDAyOA==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"dSlUhuqgX_k8TRHPkVRlFEp9sKtzGyu9qTxJrKeomDY\"",
        "Last-Modified": "Tue, 23 Dec 2025 05:49:35 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTA1MDAyOQ==;sn=101050029",
        "x-ms-date": "Tue, 23 Dec 2025 05:49:36 GMT"
      },
      "ResponseBody": {
        "etag": "dSlUhuqgX_k8TRHPkVRlFEp9sKtzGyu9qTxJrKeomDY",
        "key": "key-796582041",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2025-12-23T05:49:35+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t9c954b564de572f9-azconfig-net.azconfig.io;Id=MdvE;Secret=Kg==",
    "RandomSeed": "1202181201"
  }
}
