{
  "Entries": [
    {
      "RequestUri": "https://appconfig-canary-2023-10-01.azconfig.io/kv/~%60%21%40%23%24%5E%26%28%29_%2B%3D%5B%5D%7B%7D%7C%3B%22%27%3C%3E.%2F--1541991916?label=label-~%60%21%40%23%24%5E%26%28%29_%2B%3D%5B%5D%7B%7D%7C%3B%22%27%3C%3E.%2F-\u0026api-version=2023-10-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "IYqatbqQIAqCRjWZPzXr7bolkCXMwIR9XGVBbyQCXwI="
      },
      "RequestBody": {
        "value": "value-~\u0060!@#$^\u0026()_\u002B=[]{}|;\u0022\u0027\u003C\u003E./-",
        "content_type": null,
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022IWuKUgaaxnUg7elqce4ofrUdTP5ZwIGmJwbtntjLplM\u0022",
        "Last-Modified": "Fri, 03 Nov 2023 20:10:28 GMT",
        "Sync-Token": "zAJw6V16=NjoxNSM1MzM5MzYw;sn=5339360"
      },
      "ResponseBody": {
        "etag": "IWuKUgaaxnUg7elqce4ofrUdTP5ZwIGmJwbtntjLplM",
        "key": "~\u0060!@#$^\u0026()_\u002B=[]{}|;\u0022\u0027\u003C\u003E./--1541991916",
        "label": "label-~\u0060!@#$^\u0026()_\u002B=[]{}|;\u0022\u0027\u003C\u003E./-",
        "content_type": null,
        "value": "value-~\u0060!@#$^\u0026()_\u002B=[]{}|;\u0022\u0027\u003C\u003E./-",
        "tags": {},
        "locked": false,
        "last_modified": "2023-11-03T20:10:28\u002B00:00"
      }
    },
[...]
    {
      "RequestUri": "https://appconfig-canary-2023-10-01.azconfig.io/kv/~%60%21%40%23%24%5E%26%28%29_%2B%3D%5B%5D%7B%7D%7C%3B%22%27%3C%3E.%2F--1541991916?label=label-~%60%21%40%23%24%5E%26%28%29_%2B%3D%5B%5D%7B%7D%7C%3B%22%27%3C%3E.%2F-\u0026api-version=2023-10-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NjoxNSM1MzM5MzYw",
        "x-ms-content-sha256": "47DEQpj8HBSa\u002B/TImW\u002B5JCeuQeRkm5NMpJWZG3hSuFU="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022IWuKUgaaxnUg7elqce4ofrUdTP5ZwIGmJwbtntjLplM\u0022",
        "Last-Modified": "Fri, 03 Nov 2023 20:10:28 GMT",
        "Sync-Token": "zAJw6V16=NjoxNSM1MzM5MzYx;sn=5339361"
      },
      "ResponseBody": {
        "etag": "IWuKUgaaxnUg7elqce4ofrUdTP5ZwIGmJwbtntjLplM",
        "key": "~\u0060!@#$^\u0026()_\u002B=[]{}|;\u0022\u0027\u003C\u003E./--1541991916",
        "label": "label-~\u0060!@#$^\u0026()_\u002B=[]{}|;\u0022\u0027\u003C\u003E./-",
        "content_type": null,
        "value": "value-~\u0060!@#$^\u0026()_\u002B=[]{}|;\u0022\u0027\u003C\u003E./-",
        "tags": {},
        "locked": false,
        "last_modified": "2023-11-03T20:10:28\u002B00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://appconfig-canary-2023-10-01.azconfig.io;Id=0VlC;Secret=Kg==",
    "RandomSeed": "1904548455"
  }
}
