{
  "Entries": [
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-816358843?api-version=2023-11-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"tdJlE8oTh2YdCozYsYWTkndgMMFrc6h4KUGDvNq_QEQ\"",
        "Last-Modified": "Thu, 22 Jan 2026 01:34:37 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzQ3MzY3Nw==;sn=103473677",
        "x-ms-date": "Thu, 22 Jan 2026 01:34:37 GMT"
      },
      "ResponseBody": {
        "etag": "tdJlE8oTh2YdCozYsYWTkndgMMFrc6h4KUGDvNq_QEQ",
        "key": "key-816358843",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-01-22T01:34:37+00:00"
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-816358843?api-version=2023-11-01&label=test_label",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "\"tdJlE8oTh2YdCozYsYWTkndgMMFrc6h4KUGDvNq_QEQ\"",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzQ3MzY3Nw==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 304,
      "ResponseHeaders": {
        "Sync-Token": "zAJw6V16=NTo1IzEwMzQ3MzY3Nw==;sn=103473677",
        "x-ms-date": "Thu, 22 Jan 2026 01:34:37 GMT"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-816358843?api-version=2023-11-01&label=test_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzQ3MzY3Nw==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"tdJlE8oTh2YdCozYsYWTkndgMMFrc6h4KUGDvNq_QEQ\"",
        "Last-Modified": "Thu, 22 Jan 2026 01:34:37 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzQ3MzY3OA==;sn=103473678",
        "x-ms-date": "Thu, 22 Jan 2026 01:34:37 GMT"
      },
      "ResponseBody": {
        "etag": "tdJlE8oTh2YdCozYsYWTkndgMMFrc6h4KUGDvNq_QEQ",
        "key": "key-816358843",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-01-22T01:34:37+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t9c954b564de572f9-azconfig-net.azconfig.io;Id=MdvE;Secret=Kg==",
    "RandomSeed": "792378069"
  }
}
