{
  "Entries": [
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/first_key?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "first_value",
        "content_type": null,
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"hlmVJCVFPxAmWiyGcvOttVQRxFkw4ynfK7NUjkFS5o8\"",
        "Last-Modified": "Mon, 26 Jan 2026 05:48:13 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzg1MjQxMg==;sn=103852412",
        "x-ms-date": "Mon, 26 Jan 2026 05:48:13 GMT"
      },
      "ResponseBody": {
        "etag": "hlmVJCVFPxAmWiyGcvOttVQRxFkw4ynfK7NUjkFS5o8",
        "key": "first_key",
        "label": null,
        "content_type": null,
        "value": "first_value",
        "tags": {},
        "locked": false,
        "last_modified": "2026-01-26T05:48:13+00:00"
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/second_key?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzg1MjQxMg==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "second_value",
        "content_type": null,
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"HoNJtYmDm4WDZu7adrQEIUSpBzgeNdIdOvE1FaujvEc\"",
        "Last-Modified": "Mon, 26 Jan 2026 05:48:14 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzg1MjQxNA==;sn=103852414",
        "x-ms-date": "Mon, 26 Jan 2026 05:48:14 GMT"
      },
      "ResponseBody": {
        "etag": "HoNJtYmDm4WDZu7adrQEIUSpBzgeNdIdOvE1FaujvEc",
        "key": "second_key",
        "label": null,
        "content_type": null,
        "value": "second_value",
        "tags": {},
        "locked": false,
        "last_modified": "2026-01-26T05:48:14+00:00"
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/snapshots/first_snapshot419734718?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzg1MjQxNA==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "filters": [
          {
            "key": "first_key"
          }
        ]
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json; charset=utf-8",
        "ETag": "\"oEPIYMnO-nDmQ42kgeI9rnPRgKRxOiq3lw21spYzaIM\"",
        "Last-Modified": "Mon, 26 Jan 2026 05:48:14 GMT",
        "Link": "</kv?snapshot=first_snapshot419734718&api-version=2023-11-01>; rel=\"items\"",
        "Operation-Location": "https://t9c954b564de572f9-azconfig-net.azconfig.io/operations?snapshot=first_snapshot419734718&api-version=2023-11-01",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzg1MjQxNg==;sn=103852416",
        "x-ms-date": "Mon, 26 Jan 2026 05:48:14 GMT"
      },
      "ResponseBody": {
        "etag": "oEPIYMnO-nDmQ42kgeI9rnPRgKRxOiq3lw21spYzaIM",
        "name": "first_snapshot419734718",
        "status": "provisioning",
        "filters": [
          {
            "key": "first_key",
            "label": null,
            "tags": []
          }
        ],
        "composition_type": "key",
        "created": "2026-01-26T05:48:14.2195306+00:00",
        "size": 0,
        "items_count": 0,
        "tags": {},
        "retention_period": 2592000
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/operations?api-version=2023-11-01&snapshot=first_snapshot419734718",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzg1MjQxNg==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzg1MjQxNg==;sn=103852416",
        "x-ms-date": "Mon, 26 Jan 2026 05:48:14 GMT"
      },
      "ResponseBody": {
        "id": "ibQ47ogpr--LH1Dp0cS3x9E_Hjte_Gd8j05cGd-DTT0",
        "status": "Running",
        "error": null
      }
    },
[...]
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/snapshots/second_snapshot650659330?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzg1MjQxNw==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "filters": [
          {
            "key": "second_key"
          }
        ]
      }[...]
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/operations?api-version=2023-11-01&snapshot=second_snapshot650659330",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzg1MjQxOA==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzg1MjQxOA==;sn=103852418",
        "x-ms-date": "Mon, 26 Jan 2026 05:48:35 GMT"
      },
      "ResponseBody": {
        "id": "-QAhzMqtUFegaVskqy7D9mgNrk6ky2BvkGFY1DDws-M",
        "status": "Running",
        "error": null
      }
    },
[...]
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/snapshots?api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzg1MjQxOQ==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshotset+json; charset=utf-8",
        "Link": "</snapshots?api-version=2023-11-01&after=c2Vjb25kX3NuYXBzaG90NTYwNDM2MDU0>; rel=\"next\"",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzg1MjQxOQ==;sn=103852419",
        "x-ms-date": "Mon, 26 Jan 2026 05:48:56 GMT"
      },
      "ResponseBody": {
        "items": [
          {
            "etag": "xZreqEIX1DXrw4bQwH2DRkw5zRGm8l3wIombSuZ_u1U",
            "name": "first_snapshot1068772765",
            "status": "archived",
            "filters": [
              {
                "key": "first_key",
                "label": null,
                "tags": []
              }
            ],
            "composition_type": "key",
            "created": "2026-01-22T02:08:59+00:00",
            "expires": "2026-02-22T08:39:36+00:00",
            "size": 1000,
            "items_count": 1,
            "tags": {},
            "retention_period": 2592000
          },
          {
            "etag": "c7AJ8JHqR2l2Q9jzHMn7l75UBvy6i8eiP6NVlnJSaC0",
            "name": "first_snapshot1075416414",
            "status": "archived",
            "filters": [
              {
                "key": "first_key",
                "label": null,
                "tags": []
              }
            ],
          [...]
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/snapshots?after=c2Vjb25kX3NuYXBzaG90NTYwNDM2MDU0&api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzg1MjQxOQ==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapsho[...]
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/snapshots?after=c25hcHNob3QtMTU1NTQ4MTI5NQ%3D%3D&api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzg1MjQxOQ==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapsho[...]
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/snapshots?after=c25hcHNob3QtMTc2OTE1ODc5ODI2Mw%3D%3D&api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzg1MjQxOQ==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.sna[...]
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/snapshots?after=c25hcHNob3QtMjc4NDQzNDI2&api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzg1MjQxOQ==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshotset+jso[...]
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/snapshots?after=c25hcHNob3QtODIzMjQ2MjM3&api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzg1MjQxOQ==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshotset+jso[...]
[...]
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/second_key?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzg1MjQyMA==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"HoNJtYmDm4WDZu7adrQEIUSpBzgeNdIdOvE1FaujvEc\"",
        "Last-Modified": "Mon, 26 Jan 2026 05:48:14 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzg1MjQyMQ==;sn=103852421",
        "x-ms-date": "Mon, 26 Jan 2026 05:48:57 GMT"
      },
      "ResponseBody": {
        "etag": "HoNJtYmDm4WDZu7adrQEIUSpBzgeNdIdOvE1FaujvEc",
        "key": "second_key",
        "label": null,
        "content_type": null,
        "value": "second_value",
        "tags": {},
        "locked": false,
        "last_modified": "2026-01-26T05:48:14+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t9c954b564de572f9-azconfig-net.azconfig.io;Id=MdvE;Secret=Kg==",
    "RandomSeed": "1046936644"
  }
}
