{
  "Entries": [
    {
      "RequestUri": "https://t02f6e87f544544f3-azconfig-net.azconfig.io/kv/key-2084794460?api-version=2022-11-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "b11OQu6GthUatwGXUIKHHSRVyik0TdrUk5kZm3yZd2A="
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022pJctjNiOeO3m2Q7Aa37NeTYxR5mf2ieapO_PzwnVH5c\u0022",
        "Last-Modified": "Fri, 30 Jun 2023 19:08:40 GMT",
        "Sync-Token": "zAJw6V16=ODo1IzI0ODY5ODA3;sn=24869807"
      },
      "ResponseBody": {
        "etag": "pJctjNiOeO3m2Q7Aa37NeTYxR5mf2ieapO_PzwnVH5c",
        "key": "key-2084794460",
        "label": null,
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2023-06-30T19:08:40\u002B00:00"
      }
    },
    {
      "RequestUri": "https://t02f6e87f544544f3-azconfig-net.azconfig.io/kv/key-2084794460?label=test_label\u0026api-version=2022-11-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=ODo1IzI0ODY5ODA3",
        "x-ms-content-sha256": "b11OQu6GthUatwGXUIKHHSRVyik0TdrUk5kZm3yZd2A="
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022NeN9x4msOumAKmNt2Kopysrl4Al_JHv-e2X_IikzQTo\u0022",
        "Last-Modified": "Fri, 30 Jun 2023 19:08:40 GMT",
        "Sync-Token": "zAJw6V16=ODo1IzI0ODY5ODA4;sn=24869808"
      },
      "ResponseBody": {
        "etag": "NeN9x4msOumAKmNt2Kopysrl4Al_JHv-e2X_IikzQTo",
        "key": "key-2084794460",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2023-06-30T19:08:40\u002B00:00"
      }
    },
[...]
    {
      "RequestUri": "https://t02f6e87f544544f3-azconfig-net.azconfig.io/kv/key-2084794460?api-version=2022-11-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=ODo1IzI0ODY5ODA5",
        "x-ms-content-sha256": "47DEQpj8HBSa\u002B/TImW\u002B5JCeuQeRkm5NMpJWZG3hSuFU="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022pJctjNiOeO3m2Q7Aa37NeTYxR5mf2ieapO_PzwnVH5c\u0022",
        "Last-Modified": "Fri, 30 Jun 2023 19:08:40 GMT",
        "Sync-Token": "zAJw6V16=ODo1IzI0ODY5ODEw;sn=24869810"
      },
      "ResponseBody": {
        "etag": "pJctjNiOeO3m2Q7Aa37NeTYxR5mf2ieapO_PzwnVH5c",
        "key": "key-2084794460",
        "label": null,
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2023-06-30T19:08:40\u002B00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t02f6e87f544544f3-azconfig-net.azconfig.io;Id=Ek\u002BM;Secret=Kg==",
    "RandomSeed": "282248431"
  }
}
