{
  "Entries": [
    {
      "RequestUri": "https://tdfcae3cf5eab7143-azconfig-net.azconfig.io/kv/key-810584962?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"jALMRbzuKr4NZh-NfVX9B-zElJX6Z8Nm2JxEMW6Hhjc\"",
        "Last-Modified": "Wed, 24 Jul 2024 15:45:18 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzMyMjcxNzE0;sn=32271714"
      },
      "ResponseBody": {
        "etag": "jALMRbzuKr4NZh-NfVX9B-zElJX6Z8Nm2JxEMW6Hhjc",
        "key": "key-810584962",
        "label": null,
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2024-07-24T15:45:18+00:00"
      }
    },
    {
      "RequestUri": "https://tdfcae3cf5eab7143-azconfig-net.azconfig.io/kv/key-810584962?label=test_label&api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=Njo1IzMyMjcxNzE0",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"duHedILoz8BkVadmgg14GgD9Z0cJD1j2jyNrVW1VQvs\"",
        "Last-Modified": "Wed, 24 Jul 2024 15:45:18 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzMyMjcxNzE1;sn=32271715"
      },
      "ResponseBody": {
        "etag": "duHedILoz8BkVadmgg14GgD9Z0cJD1j2jyNrVW1VQvs",
        "key": "key-810584962",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2024-07-24T15:45:18+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://tdfcae3cf5eab7143-azconfig-net.azconfig.io/kv/key-810584962?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Njo1IzMyMjcxNzE2",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"jALMRbzuKr4NZh-NfVX9B-zElJX6Z8Nm2JxEMW6Hhjc\"",
        "Last-Modified": "Wed, 24 Jul 2024 15:45:18 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzMyMjcxNzE3;sn=32271717"
      },
      "ResponseBody": {
        "etag": "jALMRbzuKr4NZh-NfVX9B-zElJX6Z8Nm2JxEMW6Hhjc",
        "key": "key-810584962",
        "label": null,
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2024-07-24T15:45:18+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://tdfcae3cf5eab7143-azconfig-net.azconfig.io;Id=MEKF;Secret=Kg==",
    "RandomSeed": "2040859462"
  }
}
