{
  "Entries": [
    {
      "RequestUri": "https://appconfig-canary-2023-10-01.azconfig.io/kv/first_key?api-version=2023-10-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "PZ1M/faDWjDII3Waa9RPufWMAO\u002B7aa6JujJ/kYuqq80="
      },
      "RequestBody": {
        "value": "first_value",
        "content_type": null,
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022igcdAlwoEs0ybYsJ_BoGNd3bokhTIaPgkIlciNDdQy4\u0022",
        "Last-Modified": "Fri, 03 Nov 2023 20:11:03 GMT",
        "Sync-Token": "zAJw6V16=NjoxNSM1MzM5Mzg0;sn=5339384"
      },
      "ResponseBody": {
        "etag": "igcdAlwoEs0ybYsJ_BoGNd3bokhTIaPgkIlciNDdQy4",
        "key": "first_key",
        "label": null,
        "content_type": null,
        "value": "first_value",
        "tags": {},
        "locked": false,
        "last_modified": "2023-11-03T20:11:03\u002B00:00"
      }
    },
    {
      "RequestUri": "https://appconfig-canary-2023-10-01.azconfig.io/kv/second_key?api-version=2023-10-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "Sync-Token": "zAJw6V16=NjoxNSM1MzM5Mzg0",
        "x-ms-content-sha256": "28EkksuufKh7f7YIo/6/zNK0Nh0Ht6dhA\u002BrageqSvsY="
      },
      "RequestBody": {
        "value": "second_value",
        "content_type": null,
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022WszkcvLZTCo2CD5EKth1QL6g3-MwmNnoHF7me1Fi-Fo\u0022",
        "Last-Modified": "Fri, 03 Nov 2023 20:11:03 GMT",
        "Sync-Token": "zAJw6V16=NjoxNSM1MzM5Mzg2;sn=5339386"
      },
      "ResponseBody": {
        "etag": "WszkcvLZTCo2CD5EKth1QL6g3-MwmNnoHF7me1Fi-Fo",
        "key": "second_key",
        "label": null,
        "content_type": null,
        "value": "second_value",
        "tags": {},
        "locked": false,
        "last_modified": "2023-11-03T20:11:03\u002B00:00"
      }
    },
    {
      "RequestUri": "https://appconfig-canary-2023-10-01.azconfig.io/snapshots/first_snapshot703262347?api-version=2023-10-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NjoxNSM1MzM5Mzg2",
        "x-ms-content-sha256": "q1EVPDr86Up3//1TYdi/JCfPFILOgcx5AnVDcLDQI/E="
      },
      "RequestBody": {
        "filters": [
          {
            "key": "first_key"
          }
        ]
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot\u002Bjson; charset=utf-8",
        "ETag": "\u00223cpxlx5ZGTle331izHopbDJLdbyjtpl2kUur7YQ8ddc\u0022",
        "Last-Modified": "Fri, 03 Nov 2023 20:11:03 GMT",
        "Link": "\u003C/kv?snapshot=first_snapshot703262347\u0026api-version=2023-10-01\u003E; rel=\u0022items\u0022",
        "Operation-Location": "https://appconfig-canary-2023-10-01.azconfig.io/operations?snapshot=first_snapshot703262347\u0026api-version=2023-10-01",
        "Sync-Token": "zAJw6V16=NjoxNSM1MzM5Mzg4;sn=5339388"
      },
      "ResponseBody": {
        "etag": "3cpxlx5ZGTle331izHopbDJLdbyjtpl2kUur7YQ8ddc",
        "name": "first_snapshot703262347",
        "status": "provisioning",
        "filters": [
          {
            "key": "first_key",
            "label": null
          }
        ],
        "composition_type": "key",
        "created": "2023-11-03T20:11:03\u002B00:00",
        "size": 0,
        "items_count": 0,
        "tags": {},
        "retention_period": 2592000
      }
    },
    {
      "RequestUri": "https://appconfig-canary-2023-10-01.azconfig.io/operations?snapshot=first_snapshot703262347\u0026api-version=2023-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NjoxNSM1MzM5Mzg4",
        "x-ms-content-sha256": "47DEQpj8HBSa\u002B/TImW\u002B5JCeuQeRkm5NMpJWZG3hSuFU="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "Sync-Token": "zAJw6V16=NjoxNSM1MzM5Mzg4;sn=5339388"
      },
      "ResponseBody": {
        "id": "EwaZDcX9VOOudLnaausOS4na6hUaJU8XqeH-RM_fANc",
        "status": "Running",
        "error": null
      }
    },
[...]
    {
      "RequestUri": "https://appconfig-canary-2023-10-01.azconfig.io/snapshots/second_snapshot1488301672?api-version=2023-10-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NjoxNSM1MzM5Mzg5",
        "x-ms-content-sha256": "eN2odJpcahJHz0PlXxOWvEILqR/xE6h3dd1kGG84OFQ="
      },
      "RequestBody": {
        "filters": [
          {
            "key": "second_key"
[...]
    {
      "RequestUri": "https://appconfig-canary-2023-10-01.azconfig.io/operations?snapshot=second_snapshot1488301672\u0026api-version=2023-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NjoxNSM1MzM5Mzkw",
        "x-ms-content-sha256": "47DEQpj8HBSa\u002B/TImW\u002B5JCeuQeRkm5NMpJWZG3hSuFU="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "Sync-Token": "zAJw6V16=NjoxNSM1MzM5Mzkw;sn=5339390"
      },
      "ResponseBody": {
        "id": "oenZ9OmbDIBue0U39XE03-O2L9Up66cObQrG60rbF8M",
        "status": "Running",
        "error": null
      }
    },
[...]
    {
      "RequestUri": "https://appconfig-canary-2023-10-01.azconfig.io/snapshots?name=first_snapshot703262347\u0026api-version=2023-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NjoxNSM1MzM5Mzk3",
        "x-ms-content-sha256": "47DEQpj8HBSa\u002B/TImW\u002B5JCeuQeRkm5NMpJWZG3hSuFU="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshotset\u002Bjson; charset=utf-8",
        "Sync-Token": "zAJw6V16=NjoxNSM1MzM5Mzk3;sn=5339397"
      },
      "ResponseBody": {
        "items": [
          {
            "etag": "3cpxlx5ZGTle331izHopbDJLdbyjtpl2kUur7YQ8ddc",
            "name": "first_snapshot703262347",
            "status": "ready",
            "filters": [
              {
                "key": "first_key",
                "label": null
              }
            ],
            "composition_type": "key",
            "created": "2023-11-03T20:11:03\u002B00:00",
            "size": 1000,
            "items_count": 1,
            "tags": {},
            "retention_period": 2592000
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://appconfig-canary-2023-10-01.azconfig.io/kv/second_key?api-version=2023-10-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NjoxNSM1MzM5Mzk4",
        "x-ms-content-sha256": "47DEQpj8HBSa\u002B/TImW\u002B5JCeuQeRkm5NMpJWZG3hSuFU="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022WszkcvLZTCo2CD5EKth1QL6g3-MwmNnoHF7me1Fi-Fo\u0022",
        "Last-Modified": "Fri, 03 Nov 2023 20:11:03 GMT",
        "Sync-Token": "zAJw6V16=NjoxNSM1MzM5Mzk5;sn=5339399"
      },
      "ResponseBody": {
        "etag": "WszkcvLZTCo2CD5EKth1QL6g3-MwmNnoHF7me1Fi-Fo",
        "key": "second_key",
        "label": null,
        "content_type": null,
        "value": "second_value",
        "tags": {},
        "locked": false,
        "last_modified": "2023-11-03T20:11:03\u002B00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://appconfig-canary-2023-10-01.azconfig.io;Id=0VlC;Secret=Kg==",
    "RandomSeed": "1814899593"
  }
}
