{
  "Entries": [
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/kv/key-677739877?api-version=2023-11-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"Ag0HX6aD1UqppanCDUWoexp96K2GMrKS2AknVbCLy2E\"",
        "Last-Modified": "Mon, 17 Nov 2025 16:51:27 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzU3NzY0NDc0;sn=57764474",
        "x-ms-date": "Mon, 17 Nov 2025 16:51:27 GMT"
      },
      "ResponseBody": {
        "etag": "Ag0HX6aD1UqppanCDUWoexp96K2GMrKS2AknVbCLy2E",
        "key": "key-677739877",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2025-11-17T16:51:27+00:00"
      }
    },
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/kv/key-677739877?api-version=2023-11-01&label=test_label",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "\"Ag0HX6aD1UqppanCDUWoexp96K2GMrKS2AknVbCLy2E\"",
        "Sync-Token": "zAJw6V16=Njo1IzU3NzY0NDc0",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 304,
      "ResponseHeaders": {
        "Sync-Token": "zAJw6V16=Njo1IzU3NzY0NDc0;sn=57764474",
        "x-ms-date": "Mon, 17 Nov 2025 16:51:27 GMT"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/kv/key-677739877?api-version=2023-11-01&label=test_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Njo1IzU3NzY0NDc0",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"Ag0HX6aD1UqppanCDUWoexp96K2GMrKS2AknVbCLy2E\"",
        "Last-Modified": "Mon, 17 Nov 2025 16:51:27 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzU3NzY0NDc1;sn=57764475",
        "x-ms-date": "Mon, 17 Nov 2025 16:51:27 GMT"
      },
      "ResponseBody": {
        "etag": "Ag0HX6aD1UqppanCDUWoexp96K2GMrKS2AknVbCLy2E",
        "key": "key-677739877",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2025-11-17T16:51:27+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t8cdd9157ca7d1363-azconfig-net.azconfig.io;Id=wNKY;Secret=Kg==",
    "RandomSeed": "590717770"
  }
}
