{
  "Entries": [
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-1516830241?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"_b-I-FG-fmK8BllbU0BgGjQ2j-uQfa8sM-lEyGVFemA\"",
        "Last-Modified": "Mon, 26 Jan 2026 05:48:13 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzg1MjQwOA==;sn=103852408",
        "x-ms-date": "Mon, 26 Jan 2026 05:48:13 GMT"
      },
      "ResponseBody": {
        "etag": "_b-I-FG-fmK8BllbU0BgGjQ2j-uQfa8sM-lEyGVFemA",
        "key": "key-1516830241",
        "label": null,
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-01-26T05:48:13+00:00"
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-1516830241?api-version=2023-11-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzg1MjQwOA==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"vIDNwMTAq5wiklv0SpmAjALlRr-Nj1-EcdyR2171YV8\"",
        "Last-Modified": "Mon, 26 Jan 2026 05:48:13 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzg1MjQwOQ==;sn=103852409",
        "x-ms-date": "Mon, 26 Jan 2026 05:48:13 GMT"
      },
      "ResponseBody": {
        "etag": "vIDNwMTAq5wiklv0SpmAjALlRr-Nj1-EcdyR2171YV8",
        "key": "key-1516830241",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-01-26T05:48:13+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-1516830241?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzg1MjQxMA==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"_b-I-FG-fmK8BllbU0BgGjQ2j-uQfa8sM-lEyGVFemA\"",
        "Last-Modified": "Mon, 26 Jan 2026 05:48:13 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzg1MjQxMQ==;sn=103852411",
        "x-ms-date": "Mon, 26 Jan 2026 05:48:13 GMT"
      },
      "ResponseBody": {
        "etag": "_b-I-FG-fmK8BllbU0BgGjQ2j-uQfa8sM-lEyGVFemA",
        "key": "key-1516830241",
        "label": null,
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-01-26T05:48:13+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t9c954b564de572f9-azconfig-net.azconfig.io;Id=MdvE;Secret=Kg==",
    "RandomSeed": "1719170093"
  }
}
