{
  "Entries": [
    {
      "RequestUri": "https://t02f6e87f544544f3-azconfig-net.azconfig.io/kv/key-2113514144?api-version=2022-11-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "b11OQu6GthUatwGXUIKHHSRVyik0TdrUk5kZm3yZd2A="
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022QrVvPBh6oXo0TJ-711u6YPoBNFuWQ_IC5-1UkabKsIU\u0022",
        "Last-Modified": "Fri, 30 Jun 2023 19:08:39 GMT",
        "Sync-Token": "zAJw6V16=ODo1IzI0ODY5Nzkz;sn=24869793"
      },
      "ResponseBody": {
        "etag": "QrVvPBh6oXo0TJ-711u6YPoBNFuWQ_IC5-1UkabKsIU",
        "key": "key-2113514144",
        "label": null,
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2023-06-30T19:08:39\u002B00:00"
      }
    },
[...]
    {
      "RequestUri": "https://t02f6e87f544544f3-azconfig-net.azconfig.io/kv/key-2113514144?api-version=2022-11-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=ODo1IzI0ODY5Nzkz",
        "x-ms-content-sha256": "47DEQpj8HBSa\u002B/TImW\u002B5JCeuQeRkm5NMpJWZG3hSuFU="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022QrVvPBh6oXo0TJ-711u6YPoBNFuWQ_IC5-1UkabKsIU\u0022",
        "Last-Modified": "Fri, 30 Jun 2023 19:08:39 GMT",
        "Sync-Token": "zAJw6V16=ODo1IzI0ODY5Nzk0;sn=24869794"
      },
      "ResponseBody": {
        "etag": "QrVvPBh6oXo0TJ-711u6YPoBNFuWQ_IC5-1UkabKsIU",
        "key": "key-2113514144",
        "label": null,
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2023-06-30T19:08:39\u002B00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t02f6e87f544544f3-azconfig-net.azconfig.io;Id=Ek\u002BM;Secret=Kg==",
    "RandomSeed": "1974977246"
  }
}
