{
  "Entries": [
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv/first_key?api-version=2026-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "value": "first_value",
        "content_type": null,
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"3uV4VTm0q8wWXvxnkDHjXiYNQ9W1gM5ZgxVEMMmLDc0\"",
        "Last-Modified": "Wed, 10 Jun 2026 19:29:02 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDc0OTc3;sn=67074977",
        "x-ms-date": "Wed, 10 Jun 2026 19:29:02 GMT"
      },
      "ResponseBody": {
        "etag": "3uV4VTm0q8wWXvxnkDHjXiYNQ9W1gM5ZgxVEMMmLDc0",
        "key": "first_key",
        "label": null,
        "content_type": null,
        "value": "first_value",
        "description": null,
        "tags": {},
        "locked": false,
        "last_modified": "2026-06-10T19:29:02+00:00"
      }
    },
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv/second_key?api-version=2026-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDc0OTc3"
      },
      "RequestBody": {
        "value": "second_value",
        "content_type": null,
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"o_newZoLUHmFTRVNJxiQIeEroJFT0q5yJfbUfw1GOqQ\"",
        "Last-Modified": "Wed, 10 Jun 2026 19:29:02 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDc0OTc5;sn=67074979",
        "x-ms-date": "Wed, 10 Jun 2026 19:29:02 GMT"
      },
      "ResponseBody": {
        "etag": "o_newZoLUHmFTRVNJxiQIeEroJFT0q5yJfbUfw1GOqQ",
        "key": "second_key",
        "label": null,
        "content_type": null,
        "value": "second_value",
        "description": null,
        "tags": {},
        "locked": false,
        "last_modified": "2026-06-10T19:29:02+00:00"
      }
    },
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/snapshots/first_snapshot1821044656?api-version=2026-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDc0OTc5"
      },
      "RequestBody": {
        "filters": [
          {
            "key": "first_key"
          }
        ],
        "retention_period": 3600,
        "description": "Test snapshot description"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json; charset=utf-8",
        "ETag": "\"o7B2sEi9BDuCAtZRLKmre9GfsEyvTdsio69Dt-9ROp8\"",
        "Last-Modified": "Wed, 10 Jun 2026 19:29:02 GMT",
        "Link": "</kv?snapshot=first_snapshot1821044656&api-version=2026-04-01>; rel=\"items\"",
        "Operation-Location": "https://mrm90847047-azconfig-net.azconfig.io/operations?snapshot=first_snapshot1821044656&api-version=2026-04-01",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDc0OTgx;sn=67074981",
        "x-ms-date": "Wed, 10 Jun 2026 19:29:02 GMT"
      },
      "ResponseBody": {
        "etag": "o7B2sEi9BDuCAtZRLKmre9GfsEyvTdsio69Dt-9ROp8",
        "name": "first_snapshot1821044656",
        "description": "Test snapshot description",
        "status": "provisioning",
        "filters": [
          {
            "key": "first_key",
            "label": null,
            "tags": []
          }
        ],
        "composition_type": "key",
        "created": "2026-06-10T19:29:02.8772227+00:00",
        "size": 0,
        "items_count": 0,
        "tags": {},
        "retention_period": 3600
      }
    },
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/operations?api-version=2026-04-01&snapshot=first_snapshot1821044656",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDc0OTgx"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDc0OTgx;sn=67074981",
        "x-ms-date": "Wed, 10 Jun 2026 19:29:02 GMT"
      },
      "ResponseBody": {
        "id": "hNxv29dSrQDNBGHMhzHopCJBjLEXdcvtCpqJ0m9yo08",
        "status": "Running",
        "error": null
      }
    },
[...]
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/snapshots/second_snapshot2076071548?api-version=2026-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDc0OTgy"
      },
      "RequestBody": {
        "filters": [
          {
            "key": "second_key"
          }
        ],
        "retention_period": 3600,
        "description": "T[...]
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/operations?api-version=2026-04-01&snapshot=second_snapshot2076071548",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDc0OTgz"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDc0OTgz;sn=67074983",
        "x-ms-date": "Wed, 10 Jun 2026 19:29:13 GMT"
      },
      "ResponseBody": {
        "id": "pBVgvkXW0vg8oQwm7Twgwbi3cyCIUfbubfO1NkE1p-Y",
        "status": "Running",
        "error": null
      }
    },
[...]
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/snapshots?api-version=2026-04-01&name=first_snapshot1821044656",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDc0OTg0"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshotset+json; charset=utf-8",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDc0OTg0;sn=67074984",
        "x-ms-date": "Wed, 10 Jun 2026 19:29:23 GMT"
      },
      "ResponseBody": {
        "items": [
          {
            "etag": "o7B2sEi9BDuCAtZRLKmre9GfsEyvTdsio69Dt-9ROp8",
            "name": "first_snapshot1821044656",
            "description": "Test snapshot description",
            "status": "ready",
            "filters": [
              {
                "key": "first_key",
                "label": null,
                "tags": []
              }
            ],
            "composition_type": "key",
            "created": "2026-06-10T19:29:02+00:00",
            "size": 1000,
            "items_count": 1,
            "tags": {},
            "retention_period": 3600
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv/second_key?api-version=2026-04-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDc0OTg1"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"o_newZoLUHmFTRVNJxiQIeEroJFT0q5yJfbUfw1GOqQ\"",
        "Last-Modified": "Wed, 10 Jun 2026 19:29:02 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDc0OTg2;sn=67074986",
        "x-ms-date": "Wed, 10 Jun 2026 19:29:23 GMT"
      },
      "ResponseBody": {
        "etag": "o_newZoLUHmFTRVNJxiQIeEroJFT0q5yJfbUfw1GOqQ",
        "key": "second_key",
        "label": null,
        "content_type": null,
        "value": "second_value",
        "description": null,
        "tags": {},
        "locked": false,
        "last_modified": "2026-06-10T19:29:02+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_ENDPOINT_STRING": "https://mrm90847047-azconfig-net.azconfig.io",
    "RandomSeed": "73812160"
  }
}
