{
  "Entries": [
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv/key-687823680?api-version=2026-04-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "description": "test_description"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"Oh_R3Is4d4vKA9Hm1WTKtQVYaZ-DZOQiswy8GWC0-u8\"",
        "Last-Modified": "Wed, 10 Jun 2026 18:36:07 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDY4MzQ3;sn=67068347",
        "x-ms-date": "Wed, 10 Jun 2026 18:36:07 GMT"
      },
      "ResponseBody": {
        "etag": "Oh_R3Is4d4vKA9Hm1WTKtQVYaZ-DZOQiswy8GWC0-u8",
        "key": "key-687823680",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "description": "test_description",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-06-10T18:36:07+00:00"
      }
    },
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv/key-687823680?api-version=2026-04-01&label=test_label",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"this won't match\"",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDY4MzQ3"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDY4MzQ3;sn=67068347",
        "x-ms-date": "Wed, 10 Jun 2026 18:36:07 GMT"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv/key-687823680?api-version=2026-04-01&label=test_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDY4MzQ3"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"Oh_R3Is4d4vKA9Hm1WTKtQVYaZ-DZOQiswy8GWC0-u8\"",
        "Last-Modified": "Wed, 10 Jun 2026 18:36:07 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDY4MzQ4;sn=67068348",
        "x-ms-date": "Wed, 10 Jun 2026 18:36:07 GMT"
      },
      "ResponseBody": {
        "etag": "Oh_R3Is4d4vKA9Hm1WTKtQVYaZ-DZOQiswy8GWC0-u8",
        "key": "key-687823680",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "description": "test_description",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-06-10T18:36:07+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_ENDPOINT_STRING": "https://mrm90847047-azconfig-net.azconfig.io",
    "RandomSeed": "1210063095"
  }
}
