{
  "Entries": [
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/kv/key-505639959?api-version=2023-11-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"swS20gMLogZwZdWvVF1e1o37sEcqw8qx6k8m6evXMaQ\"",
        "Last-Modified": "Tue, 18 Nov 2025 04:23:21 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzU3ODA0MTU1;sn=57804155",
        "x-ms-date": "Tue, 18 Nov 2025 04:23:21 GMT"
      },
      "ResponseBody": {
        "etag": "swS20gMLogZwZdWvVF1e1o37sEcqw8qx6k8m6evXMaQ",
        "key": "key-505639959",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2025-11-18T04:23:21+00:00"
      }
    },
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/kv/key-505639959?api-version=2023-11-01&label=test_label",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "\"swS20gMLogZwZdWvVF1e1o37sEcqw8qx6k8m6evXMaQ\"",
        "Sync-Token": "zAJw6V16=Njo1IzU3ODA0MTU1",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 304,
      "ResponseHeaders": {
        "Sync-Token": "zAJw6V16=Njo1IzU3ODA0MTU1;sn=57804155",
        "x-ms-date": "Tue, 18 Nov 2025 04:23:21 GMT"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/kv/key-505639959?api-version=2023-11-01&label=test_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Njo1IzU3ODA0MTU1",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"swS20gMLogZwZdWvVF1e1o37sEcqw8qx6k8m6evXMaQ\"",
        "Last-Modified": "Tue, 18 Nov 2025 04:23:21 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzU3ODA0MTU2;sn=57804156",
        "x-ms-date": "Tue, 18 Nov 2025 04:23:21 GMT"
      },
      "ResponseBody": {
        "etag": "swS20gMLogZwZdWvVF1e1o37sEcqw8qx6k8m6evXMaQ",
        "key": "key-505639959",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2025-11-18T04:23:21+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t8cdd9157ca7d1363-azconfig-net.azconfig.io;Id=wNKY;Secret=Kg==",
    "RandomSeed": "425428109"
  }
}
