{
  "Entries": [
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv/key-1535768744?api-version=2026-04-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "description": "test_description"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"hV1iFMvAd1H-t_F2DaKf2BjEcz1aVWY55nlR6Iz3ZuE\"",
        "Last-Modified": "Wed, 10 Jun 2026 19:28:23 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDc0OTYw;sn=67074960",
        "x-ms-date": "Wed, 10 Jun 2026 19:28:23 GMT"
      },
      "ResponseBody": {
        "etag": "hV1iFMvAd1H-t_F2DaKf2BjEcz1aVWY55nlR6Iz3ZuE",
        "key": "key-1535768744",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "description": "test_description",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-06-10T19:28:23+00:00"
      }
    },
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv/key-1535768744?api-version=2026-04-01&label=test_label",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "\"this won't match\"",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDc0OTYw"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"hV1iFMvAd1H-t_F2DaKf2BjEcz1aVWY55nlR6Iz3ZuE\"",
        "Last-Modified": "Wed, 10 Jun 2026 19:28:23 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDc0OTYw;sn=67074960",
        "x-ms-date": "Wed, 10 Jun 2026 19:28:23 GMT"
      },
      "ResponseBody": {
        "etag": "hV1iFMvAd1H-t_F2DaKf2BjEcz1aVWY55nlR6Iz3ZuE",
        "key": "key-1535768744",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "description": "test_description",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-06-10T19:28:23+00:00"
      }
    },
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv/key-1535768744?api-version=2026-04-01&label=test_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDc0OTYw"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"hV1iFMvAd1H-t_F2DaKf2BjEcz1aVWY55nlR6Iz3ZuE\"",
        "Last-Modified": "Wed, 10 Jun 2026 19:28:23 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDc0OTYx;sn=67074961",
        "x-ms-date": "Wed, 10 Jun 2026 19:28:23 GMT"
      },
      "ResponseBody": {
        "etag": "hV1iFMvAd1H-t_F2DaKf2BjEcz1aVWY55nlR6Iz3ZuE",
        "key": "key-1535768744",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "description": "test_description",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-06-10T19:28:23+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_ENDPOINT_STRING": "https://mrm90847047-azconfig-net.azconfig.io",
    "RandomSeed": "992360165"
  }
}
