{
  "Entries": [
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-641451231?api-version=2023-11-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"enBwJM3vXgLvBD3cyOJhm3vPBAhNLYVUSidxG7oqJCY\"",
        "Last-Modified": "Mon, 01 Dec 2025 08:42:30 GMT",
        "Sync-Token": "zAJw6V16=NTo1Izk4Nzc2ODkw;sn=98776890",
        "x-ms-date": "Mon, 01 Dec 2025 08:42:30 GMT"
      },
      "ResponseBody": {
        "etag": "enBwJM3vXgLvBD3cyOJhm3vPBAhNLYVUSidxG7oqJCY",
        "key": "key-641451231",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2025-12-01T08:42:30+00:00"
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-641451231?api-version=2023-11-01&label=test_label",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"enBwJM3vXgLvBD3cyOJhm3vPBAhNLYVUSidxG7oqJCY\"",
        "Sync-Token": "zAJw6V16=NTo1Izk4Nzc2ODkw",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"enBwJM3vXgLvBD3cyOJhm3vPBAhNLYVUSidxG7oqJCY\"",
        "Last-Modified": "Mon, 01 Dec 2025 08:42:30 GMT",
        "Sync-Token": "zAJw6V16=NTo1Izk4Nzc2ODkw;sn=98776890",
        "x-ms-date": "Mon, 01 Dec 2025 08:42:30 GMT"
      },
      "ResponseBody": {
        "etag": "enBwJM3vXgLvBD3cyOJhm3vPBAhNLYVUSidxG7oqJCY",
        "key": "key-641451231",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2025-12-01T08:42:30+00:00"
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-641451231?api-version=2023-11-01&label=test_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1Izk4Nzc2ODkw",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"enBwJM3vXgLvBD3cyOJhm3vPBAhNLYVUSidxG7oqJCY\"",
        "Last-Modified": "Mon, 01 Dec 2025 08:42:30 GMT",
        "Sync-Token": "zAJw6V16=NTo1Izk4Nzc2ODkx;sn=98776891",
        "x-ms-date": "Mon, 01 Dec 2025 08:42:30 GMT"
      },
      "ResponseBody": {
        "etag": "enBwJM3vXgLvBD3cyOJhm3vPBAhNLYVUSidxG7oqJCY",
        "key": "key-641451231",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2025-12-01T08:42:30+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t9c954b564de572f9-azconfig-net.azconfig.io;Id=MdvE;Secret=Kg==",
    "RandomSeed": "1693931298"
  }
}
