{
  "Entries": [
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/~%60%21%40%23%24%5E%26%28%29_%2B%3D%5B%5D%7B%7D%7C%3B%22%27%3C%3E.%2F--829058808?api-version=2023-11-01&label=label-~%60%21%40%23%24%5E%26%28%29_%2B%3D%5B%5D%7B%7D%7C%3B%22%27%3C%3E.%2F-",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "value-~`!@#$^&()_+=[]{}|;\"'<>./-",
        "content_type": null,
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"gsLQPMrRJFlTIF-fVeyBRAV6kGaJa87XT7QoOJzo_cI\"",
        "Last-Modified": "Thu, 22 Jan 2026 02:02:29 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzQ3NDY4Nw==;sn=103474687",
        "x-ms-date": "Thu, 22 Jan 2026 02:02:29 GMT"
      },
      "ResponseBody": {
        "etag": "gsLQPMrRJFlTIF-fVeyBRAV6kGaJa87XT7QoOJzo_cI",
        "key": "~`!@#$^&()_+=[]{}|;\"'<>./--829058808",
        "label": "label-~`!@#$^&()_+=[]{}|;\"'<>./-",
        "content_type": null,
        "value": "value-~`!@#$^&()_+=[]{}|;\"'<>./-",
        "tags": {},
        "locked": false,
        "last_modified": "2026-01-22T02:02:29+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/~%60%21%40%23%24%5E%26%28%29_%2B%3D%5B%5D%7B%7D%7C%3B%22%27%3C%3E.%2F--829058808?api-version=2023-11-01&label=label-~%60%21%40%23%24%5E%26%28%29_%2B%3D%5B%5D%7B%7D%7C%3B%22%27%3C%3E.%2F-",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzQ3NDY4Nw==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"gsLQPMrRJFlTIF-fVeyBRAV6kGaJa87XT7QoOJzo_cI\"",
        "Last-Modified": "Thu, 22 Jan 2026 02:02:29 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzQ3NDY4OA==;sn=103474688",
        "x-ms-date": "Thu, 22 Jan 2026 02:02:29 GMT"
      },
      "ResponseBody": {
        "etag": "gsLQPMrRJFlTIF-fVeyBRAV6kGaJa87XT7QoOJzo_cI",
        "key": "~`!@#$^&()_+=[]{}|;\"'<>./--829058808",
        "label": "label-~`!@#$^&()_+=[]{}|;\"'<>./-",
        "content_type": null,
        "value": "value-~`!@#$^&()_+=[]{}|;\"'<>./-",
        "tags": {},
        "locked": false,
        "last_modified": "2026-01-22T02:02:29+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t9c954b564de572f9-azconfig-net.azconfig.io;Id=MdvE;Secret=Kg==",
    "RandomSeed": "1327637794"
  }
}
