{
  "Entries": [
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-792937651?api-version=2023-11-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"YafCMrQ_142CRsWHVY5IB1qh4Nnxn0nhnZhV2KDhk00\"",
        "Last-Modified": "Tue, 06 Jan 2026 01:19:20 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTc2NjMyOA==;sn=101766328",
        "x-ms-date": "Tue, 06 Jan 2026 01:19:20 GMT"
      },
      "ResponseBody": {
        "etag": "YafCMrQ_142CRsWHVY5IB1qh4Nnxn0nhnZhV2KDhk00",
        "key": "key-792937651",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-01-06T01:19:20+00:00"
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-792937651?api-version=2023-11-01&label=test_label",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "\"this won't match\"",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTc2NjMyOA==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"YafCMrQ_142CRsWHVY5IB1qh4Nnxn0nhnZhV2KDhk00\"",
        "Last-Modified": "Tue, 06 Jan 2026 01:19:20 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTc2NjMyOA==;sn=101766328",
        "x-ms-date": "Tue, 06 Jan 2026 01:19:20 GMT"
      },
      "ResponseBody": {
        "etag": "YafCMrQ_142CRsWHVY5IB1qh4Nnxn0nhnZhV2KDhk00",
        "key": "key-792937651",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-01-06T01:19:20+00:00"
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-792937651?api-version=2023-11-01&label=test_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTc2NjMyOA==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"YafCMrQ_142CRsWHVY5IB1qh4Nnxn0nhnZhV2KDhk00\"",
        "Last-Modified": "Tue, 06 Jan 2026 01:19:20 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTc2NjMyOQ==;sn=101766329",
        "x-ms-date": "Tue, 06 Jan 2026 01:19:20 GMT"
      },
      "ResponseBody": {
        "etag": "YafCMrQ_142CRsWHVY5IB1qh4Nnxn0nhnZhV2KDhk00",
        "key": "key-792937651",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-01-06T01:19:20+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t9c954b564de572f9-azconfig-net.azconfig.io;Id=MdvE;Secret=Kg==",
    "RandomSeed": "131843109"
  }
}
