{
  "Entries": [
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv/key-913798755?api-version=2023-11-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"cmbKLDzLUr_Q6-Qxvdh2ig-d-tRaI-kGcEEB_mUpVVU\"",
        "Last-Modified": "Tue, 09 Jun 2026 22:56:31 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY2OTk1NTg2;sn=66995586",
        "x-ms-date": "Tue, 09 Jun 2026 22:56:31 GMT"
      },
      "ResponseBody": {
        "etag": "cmbKLDzLUr_Q6-Qxvdh2ig-d-tRaI-kGcEEB_mUpVVU",
        "key": "key-913798755",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-06-09T22:56:31+00:00"
      }
    },
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv/key-913798755?api-version=2023-11-01&label=test_label",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "\"cmbKLDzLUr_Q6-Qxvdh2ig-d-tRaI-kGcEEB_mUpVVU\"",
        "Sync-Token": "zAJw6V16=Mzo1IzY2OTk1NTg2"
      },
      "RequestBody": null,
      "StatusCode": 304,
      "ResponseHeaders": {
        "Sync-Token": "zAJw6V16=Mzo1IzY2OTk1NTg2;sn=66995586",
        "x-ms-date": "Tue, 09 Jun 2026 22:56:31 GMT"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv/key-913798755?api-version=2023-11-01&label=test_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Mzo1IzY2OTk1NTg2"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"cmbKLDzLUr_Q6-Qxvdh2ig-d-tRaI-kGcEEB_mUpVVU\"",
        "Last-Modified": "Tue, 09 Jun 2026 22:56:31 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY2OTk1NTg3;sn=66995587",
        "x-ms-date": "Tue, 09 Jun 2026 22:56:31 GMT"
      },
      "ResponseBody": {
        "etag": "cmbKLDzLUr_Q6-Qxvdh2ig-d-tRaI-kGcEEB_mUpVVU",
        "key": "key-913798755",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-06-09T22:56:31+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_ENDPOINT_STRING": "https://mrm90847047-azconfig-net.azconfig.io",
    "RandomSeed": "1293154377"
  }
}
