{
  "Entries": [
    {
      "RequestUri": "https://azure-sdk-for-net-test.azconfig.io/kv/key-1675094963?api-version=2026-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"vO4pYnGb6FM-BmeZSKosi70DSlTNZ0ekKZHEAX46_HM\"",
        "Last-Modified": "Wed, 27 May 2026 23:57:07 GMT",
        "Sync-Token": "zAJw6V16=NToxNyM0ODA0MjA3MA==;sn=48042070",
        "x-ms-date": "Wed, 27 May 2026 23:57:07 GMT"
      },
      "ResponseBody": {
        "etag": "vO4pYnGb6FM-BmeZSKosi70DSlTNZ0ekKZHEAX46_HM",
        "key": "key-1675094963",
        "label": null,
        "content_type": "test_content_type",
        "value": "test_value",
        "description": null,
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-05-27T23:57:07+00:00"
      }
    },
    {
      "RequestUri": "https://azure-sdk-for-net-test.azconfig.io/kv/key-1675094963?api-version=2026-04-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NToxNyM0ODA0MjA3MA==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"cs1IM04Qu-4XhGvNiDtVWF8QeA18Y8aO32ii3K2QFiw\"",
        "Last-Modified": "Wed, 27 May 2026 23:57:07 GMT",
        "Sync-Token": "zAJw6V16=NToxNyM0ODA0MjA3MQ==;sn=48042071",
        "x-ms-date": "Wed, 27 May 2026 23:57:07 GMT"
      },
      "ResponseBody": {
        "etag": "cs1IM04Qu-4XhGvNiDtVWF8QeA18Y8aO32ii3K2QFiw",
        "key": "key-1675094963",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "description": null,
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-05-27T23:57:07+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://azure-sdk-for-net-test.azconfig.io/kv/key-1675094963?api-version=2026-04-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NToxNyM0ODA0MjA3Mg==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"vO4pYnGb6FM-BmeZSKosi70DSlTNZ0ekKZHEAX46_HM\"",
        "Last-Modified": "Wed, 27 May 2026 23:57:07 GMT",
        "Sync-Token": "zAJw6V16=NToxNyM0ODA0MjA3Mw==;sn=48042073",
        "x-ms-date": "Wed, 27 May 2026 23:57:07 GMT"
      },
      "ResponseBody": {
        "etag": "vO4pYnGb6FM-BmeZSKosi70DSlTNZ0ekKZHEAX46_HM",
        "key": "key-1675094963",
        "label": null,
        "content_type": "test_content_type",
        "value": "test_value",
        "description": null,
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-05-27T23:57:07+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://azure-sdk-for-net-test.azconfig.io;Id=8ePU;Secret=Kg==",
    "RandomSeed": "1860115524"
  }
}
