{
  "Entries": [
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/kv/~%60%21%40%23%24%5E%26%28%29_%2B%3D%5B%5D%7B%7D%7C%3B%22%27%3C%3E.%2F--1180202873?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "value-~`!@#$^&()_+=[]{}|;\"'<>./-",
        "content_type": null,
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"wamjOjiXkcOQJOmR86IpF9c83j3lU-f0eI7jOOI-JLc\"",
        "Last-Modified": "Mon, 17 Nov 2025 16:51:25 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzU3NzY0NDY2;sn=57764466",
        "x-ms-date": "Mon, 17 Nov 2025 16:51:25 GMT"
      },
      "ResponseBody": {
        "etag": "wamjOjiXkcOQJOmR86IpF9c83j3lU-f0eI7jOOI-JLc",
        "key": "~`!@#$^&()_+=[]{}|;\"'<>./--1180202873",
        "label": null,
        "content_type": null,
        "value": "value-~`!@#$^&()_+=[]{}|;\"'<>./-",
        "tags": {},
        "locked": false,
        "last_modified": "2025-11-17T16:51:25+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/kv/~%60%21%40%23%24%5E%26%28%29_%2B%3D%5B%5D%7B%7D%7C%3B%22%27%3C%3E.%2F--1180202873?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Njo1IzU3NzY0NDY2",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"wamjOjiXkcOQJOmR86IpF9c83j3lU-f0eI7jOOI-JLc\"",
        "Last-Modified": "Mon, 17 Nov 2025 16:51:25 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzU3NzY0NDY3;sn=57764467",
        "x-ms-date": "Mon, 17 Nov 2025 16:51:25 GMT"
      },
      "ResponseBody": {
        "etag": "wamjOjiXkcOQJOmR86IpF9c83j3lU-f0eI7jOOI-JLc",
        "key": "~`!@#$^&()_+=[]{}|;\"'<>./--1180202873",
        "label": null,
        "content_type": null,
        "value": "value-~`!@#$^&()_+=[]{}|;\"'<>./-",
        "tags": {},
        "locked": false,
        "last_modified": "2025-11-17T16:51:25+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t8cdd9157ca7d1363-azconfig-net.azconfig.io;Id=wNKY;Secret=Kg==",
    "RandomSeed": "1385004400"
  }
}
