{
  "Entries": [
    {
      "RequestUri": "https://tdfcae3cf5eab7143-azconfig-net.azconfig.io/kv/first_key?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "first_value",
        "content_type": null,
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"Gfkfewp4ZDs8LIFOnwlZ-Ks-RGLTfvYJLVqhQDvpu_I\"",
        "Last-Modified": "Wed, 24 Jul 2024 15:46:21 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzMyMjcxNzM1;sn=32271735"
      },
      "ResponseBody": {
        "etag": "Gfkfewp4ZDs8LIFOnwlZ-Ks-RGLTfvYJLVqhQDvpu_I",
        "key": "first_key",
        "label": null,
        "content_type": null,
        "value": "first_value",
        "tags": {},
        "locked": false,
        "last_modified": "2024-07-24T15:46:21+00:00"
      }
    },
    {
      "RequestUri": "https://tdfcae3cf5eab7143-azconfig-net.azconfig.io/kv/second_key?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "Sync-Token": "zAJw6V16=Njo1IzMyMjcxNzM1",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "second_value",
        "content_type": null,
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"Y6vaOTy3q3fAWzHMRuj4p9gVvsSqwf_DW2Se6Rqs8YQ\"",
        "Last-Modified": "Wed, 24 Jul 2024 15:46:21 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzMyMjcxNzM3;sn=32271737"
      },
      "ResponseBody": {
        "etag": "Y6vaOTy3q3fAWzHMRuj4p9gVvsSqwf_DW2Se6Rqs8YQ",
        "key": "second_key",
        "label": null,
        "content_type": null,
        "value": "second_value",
        "tags": {},
        "locked": false,
        "last_modified": "2024-07-24T15:46:21+00:00"
      }
    },
    {
      "RequestUri": "https://tdfcae3cf5eab7143-azconfig-net.azconfig.io/snapshots/first_snapshot110995660?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=Njo1IzMyMjcxNzM3",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "filters": [
          {
            "key": "first_key",
            "tags": []
          }
        ]
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json; charset=utf-8",
        "ETag": "\"cd6XOmmDgoVAZ9Q3ngGzHkgRRM6RmtAVNnUpmN9akl8\"",
        "Last-Modified": "Wed, 24 Jul 2024 15:46:21 GMT",
        "Link": "</kv?snapshot=first_snapshot110995660&api-version=2023-11-01>; rel=\"items\"",
        "Operation-Location": "https://tdfcae3cf5eab7143-azconfig-net.azconfig.io/operations?snapshot=first_snapshot110995660&api-version=2023-11-01",
        "Sync-Token": "zAJw6V16=Njo1IzMyMjcxNzM5;sn=32271739"
      },
      "ResponseBody": {
        "etag": "cd6XOmmDgoVAZ9Q3ngGzHkgRRM6RmtAVNnUpmN9akl8",
        "name": "first_snapshot110995660",
        "status": "provisioning",
        "filters": [
          {
            "key": "first_key",
            "label": null,
            "tags": []
          }
        ],
        "composition_type": "key",
        "created": "2024-07-24T15:46:21+00:00",
        "size": 0,
        "items_count": 0,
        "tags": {},
        "retention_period": 2592000
      }
    },
    {
      "RequestUri": "https://tdfcae3cf5eab7143-azconfig-net.azconfig.io/operations?snapshot=first_snapshot110995660&api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Njo1IzMyMjcxNzM5",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "Sync-Token": "zAJw6V16=Njo1IzMyMjcxNzM5;sn=32271739"
      },
      "ResponseBody": {
        "id": "GytsGYNN4HUdhN7SYW2pTyZL9rDIvaxRK9K0KrvVPgk",
        "status": "Running",
        "error": null
      }
    },
[...]
    {
      "RequestUri": "https://tdfcae3cf5eab7143-azconfig-net.azconfig.io/snapshots/second_snapshot1230231943?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=Njo1IzMyMjcxNzQw",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "filters": [
          {
            "key": "second_key",
            "tags": []
        [...]
    {
      "RequestUri": "https://tdfcae3cf5eab7143-azconfig-net.azconfig.io/operations?snapshot=second_snapshot1230231943&api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Njo1IzMyMjcxNzQx",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "Sync-Token": "zAJw6V16=Njo1IzMyMjcxNzQx;sn=32271741"
      },
      "ResponseBody": {
        "id": "wO8nsx2ZgEPveoqOmhpw6ppY9NZU2zzrG2lMu9DWHPw",
        "status": "Running",
        "error": null
      }
    },
[...]
    {
      "RequestUri": "https://tdfcae3cf5eab7143-azconfig-net.azconfig.io/snapshots?name=first_snapshot110995660&api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Njo1IzMyMjcxNzQy",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshotset+json; charset=utf-8",
        "Sync-Token": "zAJw6V16=Njo1IzMyMjcxNzQy;sn=32271742"
      },
      "ResponseBody": {
        "items": [
          {
            "etag": "cd6XOmmDgoVAZ9Q3ngGzHkgRRM6RmtAVNnUpmN9akl8",
            "name": "first_snapshot110995660",
            "status": "ready",
            "filters": [
              {
                "key": "first_key",
                "label": null,
                "tags": []
              }
            ],
            "composition_type": "key",
            "created": "2024-07-24T15:46:21+00:00",
            "size": 1000,
            "items_count": 1,
            "tags": {},
            "retention_period": 2592000
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://tdfcae3cf5eab7143-azconfig-net.azconfig.io/kv/second_key?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Njo1IzMyMjcxNzQz",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"Y6vaOTy3q3fAWzHMRuj4p9gVvsSqwf_DW2Se6Rqs8YQ\"",
        "Last-Modified": "Wed, 24 Jul 2024 15:46:21 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzMyMjcxNzQ0;sn=32271744"
      },
      "ResponseBody": {
        "etag": "Y6vaOTy3q3fAWzHMRuj4p9gVvsSqwf_DW2Se6Rqs8YQ",
        "key": "second_key",
        "label": null,
        "content_type": null,
        "value": "second_value",
        "tags": {},
        "locked": false,
        "last_modified": "2024-07-24T15:46:21+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://tdfcae3cf5eab7143-azconfig-net.azconfig.io;Id=MEKF;Secret=Kg==",
    "RandomSeed": "1794713551"
  }
}
