{
  "Entries": [
    {
      "RequestUri": "https://jsquire-08-azconfig-net.azconfig.io/kv/key-977685757?label=test_label\u0026api-version=1.0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "b11OQu6GthUatwGXUIKHHSRVyik0TdrUk5kZm3yZd2A="
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022B1K73lzytmMLf5dSmLp9YF-NyCWPx1wqhJaJ3CJpRLE\u0022",
        "Last-Modified": "Fri, 08 Sep 2023 13:35:23 GMT",
        "Sync-Token": "zAJw6V16=NToxOSM1MzQ0OTEzNA==;sn=53449134",
        "x-ms-resource-group": "jsquire-appconfig",
        "x-ms-subscription-id": "faa080af-c1d8-40ad-9cce-e1a450ca5b57",
        "x-ms-tenant-name": "jsquire-08-azconfig-net"
      },
      "ResponseBody": {
        "etag": "B1K73lzytmMLf5dSmLp9YF-NyCWPx1wqhJaJ3CJpRLE",
        "key": "key-977685757",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2023-09-08T13:35:23\u002B00:00"
      }
    },
    {
      "RequestUri": "https://jsquire-08-azconfig-net.azconfig.io/kv/key-977685757?label=test_label\u0026api-version=1.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\u0022B1K73lzytmMLf5dSmLp9YF-NyCWPx1wqhJaJ3CJpRLE\u0022",
        "Sync-Token": "zAJw6V16=NToxOSM1MzQ0OTEzNA==",
        "x-ms-content-sha256": "47DEQpj8HBSa\u002B/TImW\u002B5JCeuQeRkm5NMpJWZG3hSuFU="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022B1K73lzytmMLf5dSmLp9YF-NyCWPx1wqhJaJ3CJpRLE\u0022",
        "Last-Modified": "Fri, 08 Sep 2023 13:35:23 GMT",
        "Sync-Token": "zAJw6V16=NToxOSM1MzQ0OTEzNA==;sn=53449134",
        "x-ms-resource-group": "jsquire-appconfig",
        "x-ms-subscription-id": "faa080af-c1d8-40ad-9cce-e1a450ca5b57",
        "x-ms-tenant-name": "jsquire-08-azconfig-net"
      },
      "ResponseBody": {
        "etag": "B1K73lzytmMLf5dSmLp9YF-NyCWPx1wqhJaJ3CJpRLE",
        "key": "key-977685757",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2023-09-08T13:35:23\u002B00:00"
      }
    },
    {
      "RequestUri": "https://jsquire-08-azconfig-net.azconfig.io/kv/key-977685757?label=test_label\u0026api-version=1.0",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NToxOSM1MzQ0OTEzNA==",
        "x-ms-content-sha256": "47DEQpj8HBSa\u002B/TImW\u002B5JCeuQeRkm5NMpJWZG3hSuFU="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022B1K73lzytmMLf5dSmLp9YF-NyCWPx1wqhJaJ3CJpRLE\u0022",
        "Last-Modified": "Fri, 08 Sep 2023 13:35:23 GMT",
        "Sync-Token": "zAJw6V16=NToxOSM1MzQ0OTEzNQ==;sn=53449135",
        "x-ms-resource-group": "jsquire-appconfig",
        "x-ms-subscription-id": "faa080af-c1d8-40ad-9cce-e1a450ca5b57",
        "x-ms-tenant-name": "jsquire-08-azconfig-net"
      },
      "ResponseBody": {
        "etag": "B1K73lzytmMLf5dSmLp9YF-NyCWPx1wqhJaJ3CJpRLE",
        "key": "key-977685757",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2023-09-08T13:35:23\u002B00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://jsquire-08-azconfig-net.azconfig.io;Id=bAH8;Secret=Kg==",
    "RandomSeed": "173800496"
  }
}
