{
  "Entries": [
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/~%60%21%40%23%24%5E%26%28%29_%2B%3D%5B%5D%7B%7D%7C%3B%22%27%3C%3E.%2F--1474187979?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "value-~`!@#$^&()_+=[]{}|;\"'<>./-",
        "content_type": null,
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"d5rFmBC_N47mF2EirIUFYV0thFJ-R48vpLQYIBIhgmE\"",
        "Last-Modified": "Tue, 06 Jan 2026 06:29:08 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTc3MzI4Nw==;sn=101773287",
        "x-ms-date": "Tue, 06 Jan 2026 06:29:08 GMT"
      },
      "ResponseBody": {
        "etag": "d5rFmBC_N47mF2EirIUFYV0thFJ-R48vpLQYIBIhgmE",
        "key": "~`!@#$^&()_+=[]{}|;\"'<>./--1474187979",
        "label": null,
        "content_type": null,
        "value": "value-~`!@#$^&()_+=[]{}|;\"'<>./-",
        "tags": {},
        "locked": false,
        "last_modified": "2026-01-06T06:29:08+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/~%60%21%40%23%24%5E%26%28%29_%2B%3D%5B%5D%7B%7D%7C%3B%22%27%3C%3E.%2F--1474187979?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTc3MzI4Nw==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"d5rFmBC_N47mF2EirIUFYV0thFJ-R48vpLQYIBIhgmE\"",
        "Last-Modified": "Tue, 06 Jan 2026 06:29:08 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTc3MzI4OA==;sn=101773288",
        "x-ms-date": "Tue, 06 Jan 2026 06:29:08 GMT"
      },
      "ResponseBody": {
        "etag": "d5rFmBC_N47mF2EirIUFYV0thFJ-R48vpLQYIBIhgmE",
        "key": "~`!@#$^&()_+=[]{}|;\"'<>./--1474187979",
        "label": null,
        "content_type": null,
        "value": "value-~`!@#$^&()_+=[]{}|;\"'<>./-",
        "tags": {},
        "locked": false,
        "last_modified": "2026-01-06T06:29:08+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t9c954b564de572f9-azconfig-net.azconfig.io;Id=MdvE;Secret=Kg==",
    "RandomSeed": "1538214099"
  }
}
