{
  "Entries": [
    {
      "RequestUri": "https://appconfig-canary-2023-10-01.azconfig.io/kv/key-1139265076?api-version=2023-10-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "b11OQu6GthUatwGXUIKHHSRVyik0TdrUk5kZm3yZd2A="
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022ZpYDUmlffXci1cnfTZ5tBzGZWIgHdN6sC6miLJcfgnM\u0022",
        "Last-Modified": "Fri, 03 Nov 2023 20:10:30 GMT",
        "Sync-Token": "zAJw6V16=NjoxNSM1MzM5Mzcw;sn=5339370"
      },
      "ResponseBody": {
        "etag": "ZpYDUmlffXci1cnfTZ5tBzGZWIgHdN6sC6miLJcfgnM",
        "key": "key-1139265076",
        "label": null,
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2023-11-03T20:10:30\u002B00:00"
      }
    },
    {
      "RequestUri": "https://appconfig-canary-2023-10-01.azconfig.io/kv/key-1139265076?label=test_label\u0026api-version=2023-10-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NjoxNSM1MzM5Mzcw",
        "x-ms-content-sha256": "b11OQu6GthUatwGXUIKHHSRVyik0TdrUk5kZm3yZd2A="
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022XvqULUw2njrZnpqQQRwztpfRvLkuLW_BmMKMenuKT6M\u0022",
        "Last-Modified": "Fri, 03 Nov 2023 20:10:30 GMT",
        "Sync-Token": "zAJw6V16=NjoxNSM1MzM5Mzcx;sn=5339371"
      },
      "ResponseBody": {
        "etag": "XvqULUw2njrZnpqQQRwztpfRvLkuLW_BmMKMenuKT6M",
        "key": "key-1139265076",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2023-11-03T20:10:30\u002B00:00"
      }
    },
[...]
    {
      "RequestUri": "https://appconfig-canary-2023-10-01.azconfig.io/kv/key-1139265076?api-version=2023-10-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NjoxNSM1MzM5Mzcy",
        "x-ms-content-sha256": "47DEQpj8HBSa\u002B/TImW\u002B5JCeuQeRkm5NMpJWZG3hSuFU="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022ZpYDUmlffXci1cnfTZ5tBzGZWIgHdN6sC6miLJcfgnM\u0022",
        "Last-Modified": "Fri, 03 Nov 2023 20:10:30 GMT",
        "Sync-Token": "zAJw6V16=NjoxNSM1MzM5Mzcz;sn=5339373"
      },
      "ResponseBody": {
        "etag": "ZpYDUmlffXci1cnfTZ5tBzGZWIgHdN6sC6miLJcfgnM",
        "key": "key-1139265076",
        "label": null,
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2023-11-03T20:10:30\u002B00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://appconfig-canary-2023-10-01.azconfig.io;Id=0VlC;Secret=Kg==",
    "RandomSeed": "1770219225"
  }
}
