{
  "Entries": [
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-867305573?api-version=2023-11-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"b7etc1_X0jUiU0ADbgzqe4yx-jLQTRIxFTeatRY8V5o\"",
        "Last-Modified": "Thu, 22 Jan 2026 02:08:12 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzQ3NTE0Nw==;sn=103475147",
        "x-ms-date": "Thu, 22 Jan 2026 02:08:12 GMT"
      },
      "ResponseBody": {
        "etag": "b7etc1_X0jUiU0ADbgzqe4yx-jLQTRIxFTeatRY8V5o",
        "key": "key-867305573",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-01-22T02:08:12+00:00"
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-867305573?api-version=2023-11-01&label=test_label",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "\"this won't match\"",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzQ3NTE0Nw==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"b7etc1_X0jUiU0ADbgzqe4yx-jLQTRIxFTeatRY8V5o\"",
        "Last-Modified": "Thu, 22 Jan 2026 02:08:12 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzQ3NTE0Nw==;sn=103475147",
        "x-ms-date": "Thu, 22 Jan 2026 02:08:12 GMT"
      },
      "ResponseBody": {
        "etag": "b7etc1_X0jUiU0ADbgzqe4yx-jLQTRIxFTeatRY8V5o",
        "key": "key-867305573",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-01-22T02:08:12+00:00"
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-867305573?api-version=2023-11-01&label=test_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzQ3NTE0Nw==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"b7etc1_X0jUiU0ADbgzqe4yx-jLQTRIxFTeatRY8V5o\"",
        "Last-Modified": "Thu, 22 Jan 2026 02:08:12 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzQ3NTE0OA==;sn=103475148",
        "x-ms-date": "Thu, 22 Jan 2026 02:08:13 GMT"
      },
      "ResponseBody": {
        "etag": "b7etc1_X0jUiU0ADbgzqe4yx-jLQTRIxFTeatRY8V5o",
        "key": "key-867305573",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-01-22T02:08:12+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t9c954b564de572f9-azconfig-net.azconfig.io;Id=MdvE;Secret=Kg==",
    "RandomSeed": "810371129"
  }
}
