{
  "Entries": [
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/kv/key-1638594422?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"nRKu-GK3PQ8SVMu-oT-HqGer2-NnS3LJ2mAtjOeo44U\"",
        "Last-Modified": "Mon, 17 Nov 2025 16:56:46 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzU3NzY0OTIz;sn=57764923",
        "x-ms-date": "Mon, 17 Nov 2025 16:56:46 GMT"
      },
      "ResponseBody": {
        "etag": "nRKu-GK3PQ8SVMu-oT-HqGer2-NnS3LJ2mAtjOeo44U",
        "key": "key-1638594422",
        "label": null,
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2025-11-17T16:56:46+00:00"
      }
    },
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/kv/key-1638594422?api-version=2023-11-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=Njo1IzU3NzY0OTIz",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"TDC-pbmKVpfqpMgeYvSEKY41_N3Ny6luAssca9-bsVc\"",
        "Last-Modified": "Mon, 17 Nov 2025 16:56:46 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzU3NzY0OTI0;sn=57764924",
        "x-ms-date": "Mon, 17 Nov 2025 16:56:46 GMT"
      },
      "ResponseBody": {
        "etag": "TDC-pbmKVpfqpMgeYvSEKY41_N3Ny6luAssca9-bsVc",
        "key": "key-1638594422",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2025-11-17T16:56:46+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/kv/key-1638594422?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Njo1IzU3NzY0OTI1",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"nRKu-GK3PQ8SVMu-oT-HqGer2-NnS3LJ2mAtjOeo44U\"",
        "Last-Modified": "Mon, 17 Nov 2025 16:56:46 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzU3NzY0OTI2;sn=57764926",
        "x-ms-date": "Mon, 17 Nov 2025 16:56:46 GMT"
      },
      "ResponseBody": {
        "etag": "nRKu-GK3PQ8SVMu-oT-HqGer2-NnS3LJ2mAtjOeo44U",
        "key": "key-1638594422",
        "label": null,
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2025-11-17T16:56:46+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t8cdd9157ca7d1363-azconfig-net.azconfig.io;Id=wNKY;Secret=Kg==",
    "RandomSeed": "219627939"
  }
}
