{
  "Entries": [
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/~%60%21%40%23%24%5E%26%28%29_%2B%3D%5B%5D%7B%7D%7C%3B%22%27%3C%3E.%2F--508391877?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "value-~`!@#$^&()_+=[]{}|;\"'<>./-",
        "content_type": null,
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"O7_E58Qtv0yuKE08CFB_SkU0JgqT3ItvcmQYtTkFpDQ\"",
        "Last-Modified": "Thu, 22 Jan 2026 01:39:34 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzQ3NDExOQ==;sn=103474119",
        "x-ms-date": "Thu, 22 Jan 2026 01:39:34 GMT"
      },
      "ResponseBody": {
        "etag": "O7_E58Qtv0yuKE08CFB_SkU0JgqT3ItvcmQYtTkFpDQ",
        "key": "~`!@#$^&()_+=[]{}|;\"'<>./--508391877",
        "label": null,
        "content_type": null,
        "value": "value-~`!@#$^&()_+=[]{}|;\"'<>./-",
        "tags": {},
        "locked": false,
        "last_modified": "2026-01-22T01:39:34+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/~%60%21%40%23%24%5E%26%28%29_%2B%3D%5B%5D%7B%7D%7C%3B%22%27%3C%3E.%2F--508391877?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzQ3NDExOQ==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"O7_E58Qtv0yuKE08CFB_SkU0JgqT3ItvcmQYtTkFpDQ\"",
        "Last-Modified": "Thu, 22 Jan 2026 01:39:34 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzQ3NDEyMA==;sn=103474120",
        "x-ms-date": "Thu, 22 Jan 2026 01:39:35 GMT"
      },
      "ResponseBody": {
        "etag": "O7_E58Qtv0yuKE08CFB_SkU0JgqT3ItvcmQYtTkFpDQ",
        "key": "~`!@#$^&()_+=[]{}|;\"'<>./--508391877",
        "label": null,
        "content_type": null,
        "value": "value-~`!@#$^&()_+=[]{}|;\"'<>./-",
        "tags": {},
        "locked": false,
        "last_modified": "2026-01-22T01:39:34+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t9c954b564de572f9-azconfig-net.azconfig.io;Id=MdvE;Secret=Kg==",
    "RandomSeed": "1342471225"
  }
}
