{
  "Entries": [
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv/key-921698561?api-version=2023-11-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"2sSEYpIV1Hg3YEN2xq-wQaiOetrjVPAyunn2gbTM-QM\"",
        "Last-Modified": "Tue, 09 Jun 2026 22:56:27 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY2OTk1NTgy;sn=66995582",
        "x-ms-date": "Tue, 09 Jun 2026 22:56:27 GMT"
      },
      "ResponseBody": {
        "etag": "2sSEYpIV1Hg3YEN2xq-wQaiOetrjVPAyunn2gbTM-QM",
        "key": "key-921698561",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-06-09T22:56:27+00:00"
      }
    },
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv/key-921698561?api-version=2023-11-01&label=test_label",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"2sSEYpIV1Hg3YEN2xq-wQaiOetrjVPAyunn2gbTM-QM\"",
        "Sync-Token": "zAJw6V16=Mzo1IzY2OTk1NTgy"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"2sSEYpIV1Hg3YEN2xq-wQaiOetrjVPAyunn2gbTM-QM\"",
        "Last-Modified": "Tue, 09 Jun 2026 22:56:27 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY2OTk1NTgy;sn=66995582",
        "x-ms-date": "Tue, 09 Jun 2026 22:56:27 GMT"
      },
      "ResponseBody": {
        "etag": "2sSEYpIV1Hg3YEN2xq-wQaiOetrjVPAyunn2gbTM-QM",
        "key": "key-921698561",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-06-09T22:56:27+00:00"
      }
    },
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv/key-921698561?api-version=2023-11-01&label=test_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Mzo1IzY2OTk1NTgy"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"2sSEYpIV1Hg3YEN2xq-wQaiOetrjVPAyunn2gbTM-QM\"",
        "Last-Modified": "Tue, 09 Jun 2026 22:56:27 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY2OTk1NTgz;sn=66995583",
        "x-ms-date": "Tue, 09 Jun 2026 22:56:27 GMT"
      },
      "ResponseBody": {
        "etag": "2sSEYpIV1Hg3YEN2xq-wQaiOetrjVPAyunn2gbTM-QM",
        "key": "key-921698561",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-06-09T22:56:27+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_ENDPOINT_STRING": "https://mrm90847047-azconfig-net.azconfig.io",
    "RandomSeed": "948401058"
  }
}
