{
  "Entries": [
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-939551613?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"OOIjJsdoxIfVsnuQckmc_g3uqR-FDEN7y_5i1kNCJUw\"",
        "Last-Modified": "Thu, 22 Jan 2026 02:02:28 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzQ3NDY4Mw==;sn=103474683",
        "x-ms-date": "Thu, 22 Jan 2026 02:02:28 GMT"
      },
      "ResponseBody": {
        "etag": "OOIjJsdoxIfVsnuQckmc_g3uqR-FDEN7y_5i1kNCJUw",
        "key": "key-939551613",
        "label": null,
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-01-22T02:02:28+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-939551613?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzQ3NDY4Mw==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"OOIjJsdoxIfVsnuQckmc_g3uqR-FDEN7y_5i1kNCJUw\"",
        "Last-Modified": "Thu, 22 Jan 2026 02:02:28 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzQ3NDY4NA==;sn=103474684",
        "x-ms-date": "Thu, 22 Jan 2026 02:02:28 GMT"
      },
      "ResponseBody": {
        "etag": "OOIjJsdoxIfVsnuQckmc_g3uqR-FDEN7y_5i1kNCJUw",
        "key": "key-939551613",
        "label": null,
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-01-22T02:02:28+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t9c954b564de572f9-azconfig-net.azconfig.io;Id=MdvE;Secret=Kg==",
    "RandomSeed": "1835367249"
  }
}
