{
  "Entries": [
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-1768838688?api-version=2023-11-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"ROnOXUxCPejTgzai36hIW7fL_RUT5EysZKBjHV2UdOk\"",
        "Last-Modified": "Mon, 01 Dec 2025 08:37:57 GMT",
        "Sync-Token": "zAJw6V16=NTo1Izk4Nzc2MTEy;sn=98776112",
        "x-ms-date": "Mon, 01 Dec 2025 08:37:57 GMT"
      },
      "ResponseBody": {
        "etag": "ROnOXUxCPejTgzai36hIW7fL_RUT5EysZKBjHV2UdOk",
        "key": "key-1768838688",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2025-12-01T08:37:57+00:00"
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-1768838688?api-version=2023-11-01&label=test_label",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Accept-Datetime": "Fri, 31 Dec 9999 23:59:59 GMT",
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1Izk4Nzc2MTEy",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"ROnOXUxCPejTgzai36hIW7fL_RUT5EysZKBjHV2UdOk\"",
        "Last-Modified": "Mon, 01 Dec 2025 08:37:57 GMT",
        "Sync-Token": "zAJw6V16=NTo1Izk4Nzc2MTEy;sn=98776112",
        "x-ms-date": "Mon, 01 Dec 2025 08:37:57 GMT"
      },
      "ResponseBody": {
        "etag": "ROnOXUxCPejTgzai36hIW7fL_RUT5EysZKBjHV2UdOk",
        "key": "key-1768838688",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2025-12-01T08:37:57+00:00"
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-1768838688?api-version=2023-11-01&label=test_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1Izk4Nzc2MTEy",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"ROnOXUxCPejTgzai36hIW7fL_RUT5EysZKBjHV2UdOk\"",
        "Last-Modified": "Mon, 01 Dec 2025 08:37:57 GMT",
        "Sync-Token": "zAJw6V16=NTo1Izk4Nzc2MTEz;sn=98776113",
        "x-ms-date": "Mon, 01 Dec 2025 08:37:57 GMT"
      },
      "ResponseBody": {
        "etag": "ROnOXUxCPejTgzai36hIW7fL_RUT5EysZKBjHV2UdOk",
        "key": "key-1768838688",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2025-12-01T08:37:57+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t9c954b564de572f9-azconfig-net.azconfig.io;Id=MdvE;Secret=Kg==",
    "RandomSeed": "1205273820"
  }
}
