{
  "Entries": [
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-1525458752?api-version=2023-11-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"KcUd4bJtZ0El53SXRc-8Dg7hpqh3zk27DQAZPpYD58s\"",
        "Last-Modified": "Tue, 23 Dec 2025 05:45:02 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTA0OTU5MQ==;sn=101049591",
        "x-ms-date": "Tue, 23 Dec 2025 05:45:02 GMT"
      },
      "ResponseBody": {
        "etag": "KcUd4bJtZ0El53SXRc-8Dg7hpqh3zk27DQAZPpYD58s",
        "key": "key-1525458752",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2025-12-23T05:45:02+00:00"
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-1525458752?api-version=2023-11-01&label=test_label",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Accept-Datetime": "Fri, 31 Dec 9999 23:59:59 GMT",
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTA0OTU5MQ==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"KcUd4bJtZ0El53SXRc-8Dg7hpqh3zk27DQAZPpYD58s\"",
        "Last-Modified": "Tue, 23 Dec 2025 05:45:02 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTA0OTU5MQ==;sn=101049591",
        "x-ms-date": "Tue, 23 Dec 2025 05:45:02 GMT"
      },
      "ResponseBody": {
        "etag": "KcUd4bJtZ0El53SXRc-8Dg7hpqh3zk27DQAZPpYD58s",
        "key": "key-1525458752",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2025-12-23T05:45:02+00:00"
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-1525458752?api-version=2023-11-01&label=test_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTA0OTU5MQ==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"KcUd4bJtZ0El53SXRc-8Dg7hpqh3zk27DQAZPpYD58s\"",
        "Last-Modified": "Tue, 23 Dec 2025 05:45:02 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTA0OTU5Mg==;sn=101049592",
        "x-ms-date": "Tue, 23 Dec 2025 05:45:02 GMT"
      },
      "ResponseBody": {
        "etag": "KcUd4bJtZ0El53SXRc-8Dg7hpqh3zk27DQAZPpYD58s",
        "key": "key-1525458752",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2025-12-23T05:45:02+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t9c954b564de572f9-azconfig-net.azconfig.io;Id=MdvE;Secret=Kg==",
    "RandomSeed": "1715795670"
  }
}
