{
  "Entries": [
    {
      "RequestUri": "https://azure-sdk-for-net-test.azconfig.io/kv/key-1407787877?api-version=2026-04-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"nlJS1G2wRsSRi2CTqRUZLWpWowzkt9FST5OBzpFfAEM\"",
        "Last-Modified": "Fri, 29 May 2026 19:56:10 GMT",
        "Sync-Token": "zAJw6V16=NToxNyM0ODE0ODYwMQ==;sn=48148601",
        "x-ms-date": "Fri, 29 May 2026 19:56:10 GMT"
      },
      "ResponseBody": {
        "etag": "nlJS1G2wRsSRi2CTqRUZLWpWowzkt9FST5OBzpFfAEM",
        "key": "key-1407787877",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "description": null,
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-05-29T19:56:10+00:00"
      }
    },
    {
      "RequestUri": "https://azure-sdk-for-net-test.azconfig.io/kv/key-1407787877?api-version=2026-04-01&label=test_label",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Accept-Datetime": "Fri, 31 Dec 9999 23:59:59 GMT",
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NToxNyM0ODE0ODYwMQ==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"nlJS1G2wRsSRi2CTqRUZLWpWowzkt9FST5OBzpFfAEM\"",
        "Last-Modified": "Fri, 29 May 2026 19:56:10 GMT",
        "Sync-Token": "zAJw6V16=NToxNyM0ODE0ODYwMQ==;sn=48148601",
        "x-ms-date": "Fri, 29 May 2026 19:56:10 GMT"
      },
      "ResponseBody": {
        "etag": "nlJS1G2wRsSRi2CTqRUZLWpWowzkt9FST5OBzpFfAEM",
        "key": "key-1407787877",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "description": null,
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-05-29T19:56:10+00:00"
      }
    },
    {
      "RequestUri": "https://azure-sdk-for-net-test.azconfig.io/kv/key-1407787877?api-version=2026-04-01&label=test_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NToxNyM0ODE0ODYwMQ==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"nlJS1G2wRsSRi2CTqRUZLWpWowzkt9FST5OBzpFfAEM\"",
        "Last-Modified": "Fri, 29 May 2026 19:56:10 GMT",
        "Sync-Token": "zAJw6V16=NToxNyM0ODE0ODYwMg==;sn=48148602",
        "x-ms-date": "Fri, 29 May 2026 19:56:10 GMT"
      },
      "ResponseBody": {
        "etag": "nlJS1G2wRsSRi2CTqRUZLWpWowzkt9FST5OBzpFfAEM",
        "key": "key-1407787877",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "description": null,
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-05-29T19:56:10+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://azure-sdk-for-net-test.azconfig.io;Id=8ePU;Secret=Kg==",
    "RandomSeed": "552948816"
  }
}
