{
  "Entries": [
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv/key-202681427?api-version=2026-04-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "description": "test_description"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"linBTMUUqT9m9ZF0Feo05v6aIDkbsfhAAFeJmBPVN-w\"",
        "Last-Modified": "Wed, 10 Jun 2026 18:41:24 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDY4NTI1;sn=67068525",
        "x-ms-date": "Wed, 10 Jun 2026 18:41:24 GMT"
      },
      "ResponseBody": {
        "etag": "linBTMUUqT9m9ZF0Feo05v6aIDkbsfhAAFeJmBPVN-w",
        "key": "key-202681427",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "description": "test_description",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-06-10T18:41:24+00:00"
      }
    },
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv/key-202681427?api-version=2026-04-01&label=test_label",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Accept-Datetime": "Fri, 31 Dec 9999 23:59:59 GMT",
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDY4NTI1"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"linBTMUUqT9m9ZF0Feo05v6aIDkbsfhAAFeJmBPVN-w\"",
        "Last-Modified": "Wed, 10 Jun 2026 18:41:24 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDY4NTI1;sn=67068525",
        "x-ms-date": "Wed, 10 Jun 2026 18:41:24 GMT"
      },
      "ResponseBody": {
        "etag": "linBTMUUqT9m9ZF0Feo05v6aIDkbsfhAAFeJmBPVN-w",
        "key": "key-202681427",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "description": "test_description",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-06-10T18:41:24+00:00"
      }
    },
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv/key-202681427?api-version=2026-04-01&label=test_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDY4NTI1"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"linBTMUUqT9m9ZF0Feo05v6aIDkbsfhAAFeJmBPVN-w\"",
        "Last-Modified": "Wed, 10 Jun 2026 18:41:24 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDY4NTI2;sn=67068526",
        "x-ms-date": "Wed, 10 Jun 2026 18:41:24 GMT"
      },
      "ResponseBody": {
        "etag": "linBTMUUqT9m9ZF0Feo05v6aIDkbsfhAAFeJmBPVN-w",
        "key": "key-202681427",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "description": "test_description",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-06-10T18:41:24+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_ENDPOINT_STRING": "https://mrm90847047-azconfig-net.azconfig.io",
    "RandomSeed": "994539371"
  }
}
