{
  "Entries": [
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/kv/key-1617803460?api-version=2023-11-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"Dq6l4OuCx-c7txjJRfw9a0kKt3rMsS6Z6DgZ9tws49U\"",
        "Last-Modified": "Tue, 18 Nov 2025 04:31:16 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzU3ODA0NjQ5;sn=57804649",
        "x-ms-date": "Tue, 18 Nov 2025 04:31:16 GMT"
      },
      "ResponseBody": {
        "etag": "Dq6l4OuCx-c7txjJRfw9a0kKt3rMsS6Z6DgZ9tws49U",
        "key": "key-1617803460",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2025-11-18T04:31:16+00:00"
      }
    },
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/kv/key-1617803460?api-version=2023-11-01&label=test_label",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Accept-Datetime": "Fri, 31 Dec 9999 23:59:59 GMT",
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Njo1IzU3ODA0NjQ5",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"Dq6l4OuCx-c7txjJRfw9a0kKt3rMsS6Z6DgZ9tws49U\"",
        "Last-Modified": "Tue, 18 Nov 2025 04:31:16 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzU3ODA0NjQ5;sn=57804649",
        "x-ms-date": "Tue, 18 Nov 2025 04:31:17 GMT"
      },
      "ResponseBody": {
        "etag": "Dq6l4OuCx-c7txjJRfw9a0kKt3rMsS6Z6DgZ9tws49U",
        "key": "key-1617803460",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2025-11-18T04:31:16+00:00"
      }
    },
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/kv/key-1617803460?api-version=2023-11-01&label=test_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Njo1IzU3ODA0NjQ5",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"Dq6l4OuCx-c7txjJRfw9a0kKt3rMsS6Z6DgZ9tws49U\"",
        "Last-Modified": "Tue, 18 Nov 2025 04:31:16 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzU3ODA0NjUw;sn=57804650",
        "x-ms-date": "Tue, 18 Nov 2025 04:31:17 GMT"
      },
      "ResponseBody": {
        "etag": "Dq6l4OuCx-c7txjJRfw9a0kKt3rMsS6Z6DgZ9tws49U",
        "key": "key-1617803460",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2025-11-18T04:31:16+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t8cdd9157ca7d1363-azconfig-net.azconfig.io;Id=wNKY;Secret=Kg==",
    "RandomSeed": "1652203564"
  }
}
