{
  "Entries": [
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-1156427589?api-version=2023-11-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"G-r9s4Ued0_4aXKSocG77BYwFY0ZQJ96GfsE9KM5B4E\"",
        "Last-Modified": "Thu, 22 Jan 2026 01:36:05 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzQ3MzcwOQ==;sn=103473709",
        "x-ms-date": "Thu, 22 Jan 2026 01:36:05 GMT"
      },
      "ResponseBody": {
        "etag": "G-r9s4Ued0_4aXKSocG77BYwFY0ZQJ96GfsE9KM5B4E",
        "key": "key-1156427589",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-01-22T01:36:05+00:00"
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/snapshots/snapshot-686322323?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzQ3MzcwOQ==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "filters": [
          {
            "key": "key-1156427589"
          }
        ]
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json; charset=utf-8",
        "ETag": "\"nl6JRhmaVr4YsiWZyR5l3StTBh0wyneaR3xn1hWvE5A\"",
        "Last-Modified": "Thu, 22 Jan 2026 01:36:05 GMT",
        "Link": "</kv?snapshot=snapshot-686322323&api-version=2023-11-01>; rel=\"items\"",
        "Operation-Location": "https://t9c954b564de572f9-azconfig-net.azconfig.io/operations?snapshot=snapshot-686322323&api-version=2023-11-01",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzQ3MzcxMA==;sn=103473710",
        "x-ms-date": "Thu, 22 Jan 2026 01:36:05 GMT"
      },
      "ResponseBody": {
        "etag": "nl6JRhmaVr4YsiWZyR5l3StTBh0wyneaR3xn1hWvE5A",
        "name": "snapshot-686322323",
        "status": "provisioning",
        "filters": [
          {
            "key": "key-1156427589",
            "label": null,
            "tags": []
          }
        ],
        "composition_type": "key",
        "created": "2026-01-22T01:36:05.5380764+00:00",
        "size": 0,
        "items_count": 0,
        "tags": {},
        "retention_period": 2592000
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/operations?api-version=2023-11-01&snapshot=snapshot-686322323",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzQ3MzcxMA==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzQ3MzcxMA==;sn=103473710",
        "x-ms-date": "Thu, 22 Jan 2026 01:36:05 GMT"
      },
      "ResponseBody": {
        "id": "JEVNZv8IyUUeQUPcC9JSObt-5gqgNuJcG0RGWITRm1o",
        "status": "Running",
        "error": null
      }
    },
[...]
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/snapshots/snapshot-686322323?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzQ3MzcxMQ==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "status": "archived"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json; charset=utf-8",
        "ETag": "\"MbznZ858mwkoSBFXloDq3o5ya3hMbwmdFH5wkZdTLyc\"",
        "Last-Modified": "Thu, 22 Jan 2026 01:36:07 GMT",
        "Link": "</kv?snapshot=snapshot-686322323&api-version=2023-11-01>; rel=\"items\"",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzQ3MzcxMg==;sn=103473712",
        "x-ms-date": "Thu, 22 Jan 2026 01:36:16 GMT"
      },
      "ResponseBody": {
        "etag": "MbznZ858mwkoSBFXloDq3o5ya3hMbwmdFH5wkZdTLyc",
        "name": "snapshot-686322323",
        "status": "archived",
        "filters": [
          {
            "key": "key-1156427589",
            "label": null,
            "tags": []
          }
        ],
        "composition_type": "key",
        "created": "2026-01-22T01:36:05+00:00",
        "expires": "2026-02-21T01:36:16.1652807+00:00",
        "size": 1000,
        "items_count": 0,
        "tags": {},
        "retention_period": 2592000
      }
    },
[...]
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-1156427589?api-version=2023-11-01&label=test_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzQ3MzcxMw==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"G-r9s4Ued0_4aXKSocG77BYwFY0ZQJ96GfsE9KM5B4E\"",
        "Last-Modified": "Thu, 22 Jan 2026 01:36:05 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzQ3MzcxNA==;sn=103473714",
        "x-ms-date": "Thu, 22 Jan 2026 01:36:16 GMT"
      },
      "ResponseBody": {
        "etag": "G-r9s4Ued0_4aXKSocG77BYwFY0ZQJ96GfsE9KM5B4E",
        "key": "key-1156427589",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-01-22T01:36:05+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t9c954b564de572f9-azconfig-net.azconfig.io;Id=MdvE;Secret=Kg==",
    "RandomSeed": "1548290852"
  }
}
