{
  "Entries": [
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/kv/key-2136552560?api-version=2023-11-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"qB2R6bhxrvEk2mVCToCWxE8s197iiveoKNleRLEIgOg\"",
        "Last-Modified": "Mon, 17 Nov 2025 16:52:34 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzU3NzY0NTA0;sn=57764504",
        "x-ms-date": "Mon, 17 Nov 2025 16:52:34 GMT"
      },
      "ResponseBody": {
        "etag": "qB2R6bhxrvEk2mVCToCWxE8s197iiveoKNleRLEIgOg",
        "key": "key-2136552560",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2025-11-17T16:52:34+00:00"
      }
    },
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/snapshots/snapshot-421090563?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=Njo1IzU3NzY0NTA0",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "filters": [
          {
            "key": "key-2136552560"
          }
        ]
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json; charset=utf-8",
        "ETag": "\"TUPPaV07DqhaAXL_Oef9LRmhlVcCZnARUeScKFHhmSw\"",
        "Last-Modified": "Mon, 17 Nov 2025 16:52:34 GMT",
        "Link": "</kv?snapshot=snapshot-421090563&api-version=2023-11-01>; rel=\"items\"",
        "Operation-Location": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/operations?snapshot=snapshot-421090563&api-version=2023-11-01",
        "Sync-Token": "zAJw6V16=Njo1IzU3NzY0NTA1;sn=57764505",
        "x-ms-date": "Mon, 17 Nov 2025 16:52:34 GMT"
      },
      "ResponseBody": {
        "etag": "TUPPaV07DqhaAXL_Oef9LRmhlVcCZnARUeScKFHhmSw",
        "name": "snapshot-421090563",
        "status": "provisioning",
        "filters": [
          {
            "key": "key-2136552560",
            "label": null,
            "tags": []
          }
        ],
        "composition_type": "key",
        "created": "2025-11-17T16:52:34.5471081+00:00",
        "size": 0,
        "items_count": 0,
        "tags": {},
        "retention_period": 2592000
      }
    },
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/operations?api-version=2023-11-01&snapshot=snapshot-421090563",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Njo1IzU3NzY0NTA1",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "Sync-Token": "zAJw6V16=Njo1IzU3NzY0NTA1;sn=57764505",
        "x-ms-date": "Mon, 17 Nov 2025 16:52:34 GMT"
      },
      "ResponseBody": {
        "id": "so6Gp32KbCbdHwNjGkkFwC617cbKCgq11NWGTmnxa5k",
        "status": "Running",
        "error": null
      }
    },
[...]
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/snapshots/snapshot-421090563?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=Njo1IzU3NzY0NTA2",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "status": "archived"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json; charset=utf-8",
        "ETag": "\"l04nSqs0al8QiKyYm3SEz-HaQ_0M5RaarxkQhH_IiSM\"",
        "Last-Modified": "Mon, 17 Nov 2025 16:52:44 GMT",
        "Link": "</kv?snapshot=snapshot-421090563&api-version=2023-11-01>; rel=\"items\"",
        "Sync-Token": "zAJw6V16=Njo1IzU3NzY0NTA3;sn=57764507",
        "x-ms-date": "Mon, 17 Nov 2025 16:52:45 GMT"
      },
      "ResponseBody": {
        "etag": "l04nSqs0al8QiKyYm3SEz-HaQ_0M5RaarxkQhH_IiSM",
        "name": "snapshot-421090563",
        "status": "archived",
        "filters": [
          {
            "key": "key-2136552560",
            "label": null,
            "tags": []
          }
        ],
        "composition_type": "key",
        "created": "2025-11-17T16:52:34+00:00",
        "expires": "2025-12-17T16:52:45.1587142+00:00",
        "size": 1000,
        "items_count": 0,
        "tags": {},
        "retention_period": 2592000
      }
    },
[...]
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/kv/key-2136552560?api-version=2023-11-01&label=test_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Njo1IzU3NzY0NTA4",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"qB2R6bhxrvEk2mVCToCWxE8s197iiveoKNleRLEIgOg\"",
        "Last-Modified": "Mon, 17 Nov 2025 16:52:34 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzU3NzY0NTA5;sn=57764509",
        "x-ms-date": "Mon, 17 Nov 2025 16:52:45 GMT"
      },
      "ResponseBody": {
        "etag": "qB2R6bhxrvEk2mVCToCWxE8s197iiveoKNleRLEIgOg",
        "key": "key-2136552560",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2025-11-17T16:52:34+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t8cdd9157ca7d1363-azconfig-net.azconfig.io;Id=wNKY;Secret=Kg==",
    "RandomSeed": "210803413"
  }
}
