{
  "Entries": [
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-309540706?api-version=2023-11-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"VJxQTz38a5tQ0OLgkcaHKmxis3i1bfEgamGKaB8ikRc\"",
        "Last-Modified": "Fri, 23 Jan 2026 07:12:47 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU3NTU0OQ==;sn=103575549",
        "x-ms-date": "Fri, 23 Jan 2026 07:12:47 GMT"
      },
      "ResponseBody": {
        "etag": "VJxQTz38a5tQ0OLgkcaHKmxis3i1bfEgamGKaB8ikRc",
        "key": "key-309540706",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-01-23T07:12:47+00:00"
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/snapshots/snapshot-1589747924?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU3NTU0OQ==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "filters": [
          {
            "key": "key-309540706"
          }
        ]
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json; charset=utf-8",
        "ETag": "\"Rwpzd0jWTzrNlojO_rbwDjnsnHU0IsRCHQ8bbZP0mM4\"",
        "Last-Modified": "Fri, 23 Jan 2026 07:12:47 GMT",
        "Link": "</kv?snapshot=snapshot-1589747924&api-version=2023-11-01>; rel=\"items\"",
        "Operation-Location": "https://t9c954b564de572f9-azconfig-net.azconfig.io/operations?snapshot=snapshot-1589747924&api-version=2023-11-01",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU3NTU1MA==;sn=103575550",
        "x-ms-date": "Fri, 23 Jan 2026 07:12:47 GMT"
      },
      "ResponseBody": {
        "etag": "Rwpzd0jWTzrNlojO_rbwDjnsnHU0IsRCHQ8bbZP0mM4",
        "name": "snapshot-1589747924",
        "status": "provisioning",
        "filters": [
          {
            "key": "key-309540706",
            "label": null,
            "tags": []
          }
        ],
        "composition_type": "key",
        "created": "2026-01-23T07:12:47.4406429+00:00",
        "size": 0,
        "items_count": 0,
        "tags": {},
        "retention_period": 2592000
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/operations?api-version=2023-11-01&snapshot=snapshot-1589747924",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU3NTU1MA==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU3NTU1MA==;sn=103575550",
        "x-ms-date": "Fri, 23 Jan 2026 07:12:47 GMT"
      },
      "ResponseBody": {
        "id": "1BQZEqZB8JZZXU58ClucS1pACEJ_kNqocoEq-dbV0js",
        "status": "Running",
        "error": null
      }
    },
[...]
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/snapshots/snapshot-1589747924?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU3NTU1MQ==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "status": "archived"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json; charset=utf-8",
        "ETag": "\"X3jc-FlBXM1u_kRuiwWGgevpONOscai-6e1Ry53iCAM\"",
        "Last-Modified": "Fri, 23 Jan 2026 07:12:50 GMT",
        "Link": "</kv?snapshot=snapshot-1589747924&api-version=2023-11-01>; rel=\"items\"",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU3NTU1Mg==;sn=103575552",
        "x-ms-date": "Fri, 23 Jan 2026 07:12:58 GMT"
      },
      "ResponseBody": {
        "etag": "X3jc-FlBXM1u_kRuiwWGgevpONOscai-6e1Ry53iCAM",
        "name": "snapshot-1589747924",
        "status": "archived",
        "filters": [
          {
            "key": "key-309540706",
            "label": null,
            "tags": []
          }
        ],
        "composition_type": "key",
        "created": "2026-01-23T07:12:47+00:00",
        "expires": "2026-02-22T07:12:58.0702657+00:00",
        "size": 1000,
        "items_count": 0,
        "tags": {},
        "retention_period": 2592000
      }
    },
[...]
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-309540706?api-version=2023-11-01&label=test_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU3NTU1Mw==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"VJxQTz38a5tQ0OLgkcaHKmxis3i1bfEgamGKaB8ikRc\"",
        "Last-Modified": "Fri, 23 Jan 2026 07:12:47 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU3NTU1NA==;sn=103575554",
        "x-ms-date": "Fri, 23 Jan 2026 07:12:58 GMT"
      },
      "ResponseBody": {
        "etag": "VJxQTz38a5tQ0OLgkcaHKmxis3i1bfEgamGKaB8ikRc",
        "key": "key-309540706",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-01-23T07:12:47+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t9c954b564de572f9-azconfig-net.azconfig.io;Id=MdvE;Secret=Kg==",
    "RandomSeed": "1252931695"
  }
}
