{
  "Entries": [
    {
      "RequestUri": "https://azure-sdk-for-net-test.azconfig.io/kv/key-2031761091?api-version=2026-04-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"n2sJNwDzyD3bYA4p_B143VcJuaMbyUllzXTdRetiBCc\"",
        "Last-Modified": "Fri, 29 May 2026 20:00:44 GMT",
        "Sync-Token": "zAJw6V16=NToxNyM0ODE0OTcxOA==;sn=48149718",
        "x-ms-date": "Fri, 29 May 2026 20:00:44 GMT"
      },
      "ResponseBody": {
        "etag": "n2sJNwDzyD3bYA4p_B143VcJuaMbyUllzXTdRetiBCc",
        "key": "key-2031761091",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "description": null,
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-05-29T20:00:44+00:00"
      }
    },
    {
      "RequestUri": "https://azure-sdk-for-net-test.azconfig.io/snapshots/snapshot-356923000?api-version=2026-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NToxNyM0ODE0OTcxOA==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "filters": [
          {
            "key": "key-2031761091"
          }
        ],
        "retention_period": 3600
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json; charset=utf-8",
        "ETag": "\"1wGofeQJ1kgltkI6m_MjdoTMVROs4HFdCDZfMdSOsWw\"",
        "Last-Modified": "Fri, 29 May 2026 20:00:44 GMT",
        "Link": "</kv?snapshot=snapshot-356923000&api-version=2026-04-01>; rel=\"items\"",
        "Operation-Location": "https://azure-sdk-for-net-test.azconfig.io/operations?snapshot=snapshot-356923000&api-version=2026-04-01",
        "Sync-Token": "zAJw6V16=NToxNyM0ODE0OTcxOQ==;sn=48149719",
        "x-ms-date": "Fri, 29 May 2026 20:00:44 GMT"
      },
      "ResponseBody": {
        "etag": "1wGofeQJ1kgltkI6m_MjdoTMVROs4HFdCDZfMdSOsWw",
        "name": "snapshot-356923000",
        "description": null,
        "status": "provisioning",
        "filters": [
          {
            "key": "key-2031761091",
            "label": null,
            "tags": []
          }
        ],
        "composition_type": "key",
        "created": "2026-05-29T20:00:44.0482569+00:00",
        "size": 0,
        "items_count": 0,
        "tags": {},
        "retention_period": 3600
      }
    },
    {
      "RequestUri": "https://azure-sdk-for-net-test.azconfig.io/operations?api-version=2026-04-01&snapshot=snapshot-356923000",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NToxNyM0ODE0OTcxOQ==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "Sync-Token": "zAJw6V16=NToxNyM0ODE0OTcxOQ==;sn=48149719",
        "x-ms-date": "Fri, 29 May 2026 20:00:44 GMT"
      },
      "ResponseBody": {
        "id": "gyRTgRsm8Qar8vUKrOUT-QuEdOyCVwXNckyHxMtM8cs",
        "status": "Running",
        "error": null
      }
    },
[...]
    {
      "RequestUri": "https://azure-sdk-for-net-test.azconfig.io/snapshots/snapshot-356923000?api-version=2026-04-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NToxNyM0ODE0OTcyMQ==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "status": "archived"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json; charset=utf-8",
        "ETag": "\"Fio10SKI-TQcG7GlhJQHhHVxK-pgRiGl5wdWeMe3Ig0\"",
        "Last-Modified": "Fri, 29 May 2026 20:00:54 GMT",
        "Link": "</kv?snapshot=snapshot-356923000&api-version=2026-04-01>; rel=\"items\"",
        "Sync-Token": "zAJw6V16=NToxNyM0ODE0OTcyMg==;sn=48149722",
        "x-ms-date": "Fri, 29 May 2026 20:00:54 GMT"
      },
      "ResponseBody": {
        "etag": "Fio10SKI-TQcG7GlhJQHhHVxK-pgRiGl5wdWeMe3Ig0",
        "name": "snapshot-356923000",
        "description": null,
        "status": "archived",
        "filters": [
          {
            "key": "key-2031761091",
            "label": null,
            "tags": []
          }
        ],
        "composition_type": "key",
        "created": "2026-05-29T20:00:44+00:00",
        "expires": "2026-05-29T21:00:54.1523425+00:00",
        "size": 1000,
        "items_count": 0,
        "tags": {},
        "retention_period": 3600
      }
    },
[...]
    {
      "RequestUri": "https://azure-sdk-for-net-test.azconfig.io/kv/key-2031761091?api-version=2026-04-01&label=test_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NToxNyM0ODE0OTcyMw==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"n2sJNwDzyD3bYA4p_B143VcJuaMbyUllzXTdRetiBCc\"",
        "Last-Modified": "Fri, 29 May 2026 20:00:44 GMT",
        "Sync-Token": "zAJw6V16=NToxNyM0ODE0OTcyNA==;sn=48149724",
        "x-ms-date": "Fri, 29 May 2026 20:00:54 GMT"
      },
      "ResponseBody": {
        "etag": "n2sJNwDzyD3bYA4p_B143VcJuaMbyUllzXTdRetiBCc",
        "key": "key-2031761091",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "description": null,
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-05-29T20:00:44+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://azure-sdk-for-net-test.azconfig.io;Id=8ePU;Secret=Kg==",
    "RandomSeed": "847273557"
  }
}
