{
  "Entries": [
    {
      "RequestUri": "https://azure-sdk-for-net-test.azconfig.io/kv/key-500247065?api-version=2026-04-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"dmfnSF_9sXsZLSx3Fd7s35M_fjrOP06yCEDQtz58vZQ\"",
        "Last-Modified": "Thu, 28 May 2026 00:02:54 GMT",
        "Sync-Token": "zAJw6V16=NToxNyM0ODA0MjU4Nw==;sn=48042587",
        "x-ms-date": "Thu, 28 May 2026 00:02:54 GMT"
      },
      "ResponseBody": {
        "etag": "dmfnSF_9sXsZLSx3Fd7s35M_fjrOP06yCEDQtz58vZQ",
        "key": "key-500247065",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "description": null,
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-05-28T00:02:54+00:00"
      }
    },
    {
      "RequestUri": "https://azure-sdk-for-net-test.azconfig.io/snapshots/snapshot-191870218?api-version=2026-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NToxNyM0ODA0MjU4Nw==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "filters": [
          {
            "key": "key-500247065"
          }
        ]
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json; charset=utf-8",
        "ETag": "\"GcLLMfp3f8bRIYvZ6zhSjcB3KuYHcWAgPBGrzhneGK0\"",
        "Last-Modified": "Thu, 28 May 2026 00:02:54 GMT",
        "Link": "</kv?snapshot=snapshot-191870218&api-version=2026-04-01>; rel=\"items\"",
        "Operation-Location": "https://azure-sdk-for-net-test.azconfig.io/operations?snapshot=snapshot-191870218&api-version=2026-04-01",
        "Sync-Token": "zAJw6V16=NToxNyM0ODA0MjU4OA==;sn=48042588",
        "x-ms-date": "Thu, 28 May 2026 00:02:54 GMT"
      },
      "ResponseBody": {
        "etag": "GcLLMfp3f8bRIYvZ6zhSjcB3KuYHcWAgPBGrzhneGK0",
        "name": "snapshot-191870218",
        "description": null,
        "status": "provisioning",
        "filters": [
          {
            "key": "key-500247065",
            "label": null,
            "tags": []
          }
        ],
        "composition_type": "key",
        "created": "2026-05-28T00:02:54.4183381+00:00",
        "size": 0,
        "items_count": 0,
        "tags": {},
        "retention_period": 2592000
      }
    },
    {
      "RequestUri": "https://azure-sdk-for-net-test.azconfig.io/operations?api-version=2026-04-01&snapshot=snapshot-191870218",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NToxNyM0ODA0MjU4OA==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "Sync-Token": "zAJw6V16=NToxNyM0ODA0MjU4OA==;sn=48042588",
        "x-ms-date": "Thu, 28 May 2026 00:02:54 GMT"
      },
      "ResponseBody": {
        "id": "MOP9JPHdlj3NWq-MpsExJy_ArvLs9kOz6TTzcG5AjL4",
        "status": "Running",
        "error": null
      }
    },
[...]
    {
      "RequestUri": "https://azure-sdk-for-net-test.azconfig.io/snapshots/snapshot-191870218?api-version=2026-04-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NToxNyM0ODA0MjU4OQ==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "status": "archived"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json; charset=utf-8",
        "ETag": "\"ejDPWtzhxdAlKIxZQp1AFY19Mqe6bAU0DPl5f1UYXxo\"",
        "Last-Modified": "Thu, 28 May 2026 00:02:57 GMT",
        "Link": "</kv?snapshot=snapshot-191870218&api-version=2026-04-01>; rel=\"items\"",
        "Sync-Token": "zAJw6V16=NToxNyM0ODA0MjU5MA==;sn=48042590",
        "x-ms-date": "Thu, 28 May 2026 00:03:04 GMT"
      },
      "ResponseBody": {
        "etag": "ejDPWtzhxdAlKIxZQp1AFY19Mqe6bAU0DPl5f1UYXxo",
        "name": "snapshot-191870218",
        "description": null,
        "status": "archived",
        "filters": [
          {
            "key": "key-500247065",
            "label": null,
            "tags": []
          }
        ],
        "composition_type": "key",
        "created": "2026-05-28T00:02:54+00:00",
        "expires": "2026-06-27T00:03:04.5238113+00:00",
        "size": 1000,
        "items_count": 0,
        "tags": {},
        "retention_period": 2592000
      }
    },
[...]
    {
      "RequestUri": "https://azure-sdk-for-net-test.azconfig.io/kv/key-500247065?api-version=2026-04-01&label=test_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NToxNyM0ODA0MjU5MQ==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"dmfnSF_9sXsZLSx3Fd7s35M_fjrOP06yCEDQtz58vZQ\"",
        "Last-Modified": "Thu, 28 May 2026 00:02:54 GMT",
        "Sync-Token": "zAJw6V16=NToxNyM0ODA0MjU5Mg==;sn=48042592",
        "x-ms-date": "Thu, 28 May 2026 00:03:04 GMT"
      },
      "ResponseBody": {
        "etag": "dmfnSF_9sXsZLSx3Fd7s35M_fjrOP06yCEDQtz58vZQ",
        "key": "key-500247065",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "description": null,
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-05-28T00:02:54+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://azure-sdk-for-net-test.azconfig.io;Id=8ePU;Secret=Kg==",
    "RandomSeed": "298428216"
  }
}
