{
  "Entries": [
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv/key-1617298545?api-version=2026-04-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "description": "test_description"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"6WVNdkAbyWS9nPGL0yPVXBpYDnsBx7PpyHaw_Rf0h-g\"",
        "Last-Modified": "Wed, 10 Jun 2026 18:29:23 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDY1NzU3;sn=67065757",
        "x-ms-date": "Wed, 10 Jun 2026 18:29:23 GMT"
      },
      "ResponseBody": {
        "etag": "6WVNdkAbyWS9nPGL0yPVXBpYDnsBx7PpyHaw_Rf0h-g",
        "key": "key-1617298545",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "description": "test_description",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-06-10T18:29:23+00:00"
      }
    },
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/snapshots/snapshot-322248297?api-version=2026-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDY1NzU3"
      },
      "RequestBody": {
        "filters": [
          {
            "key": "key-1617298545"
          }
        ],
        "retention_period": 3600,
        "description": "Test snapshot description"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json; charset=utf-8",
        "ETag": "\"lfqveaPWAo_TZe6SiWQbfhvWOq37B38JuQ5qGRo1VrQ\"",
        "Last-Modified": "Wed, 10 Jun 2026 18:29:23 GMT",
        "Link": "</kv?snapshot=snapshot-322248297&api-version=2026-04-01>; rel=\"items\"",
        "Operation-Location": "https://mrm90847047-azconfig-net.azconfig.io/operations?snapshot=snapshot-322248297&api-version=2026-04-01",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDY1NzYw;sn=67065760",
        "x-ms-date": "Wed, 10 Jun 2026 18:29:23 GMT"
      },
      "ResponseBody": {
        "etag": "lfqveaPWAo_TZe6SiWQbfhvWOq37B38JuQ5qGRo1VrQ",
        "name": "snapshot-322248297",
        "description": "Test snapshot description",
        "status": "provisioning",
        "filters": [
          {
            "key": "key-1617298545",
            "label": null,
            "tags": []
          }
        ],
        "composition_type": "key",
        "created": "2026-06-10T18:29:23.6981481+00:00",
        "size": 0,
        "items_count": 0,
        "tags": {},
        "retention_period": 3600
      }
    },
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/operations?api-version=2026-04-01&snapshot=snapshot-322248297",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDY1NzYw"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDY1NzYw;sn=67065760",
        "x-ms-date": "Wed, 10 Jun 2026 18:29:23 GMT"
      },
      "ResponseBody": {
        "id": "s8CHjcSb35BLtIYcAS1srJyQZq9kLZKK-dzpIx88WQQ",
        "status": "Running",
        "error": null
      }
    },
[...]
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/snapshots/snapshot-322248297?api-version=2026-04-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDY1ODMx"
      },
      "RequestBody": {
        "status": "archived"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json; charset=utf-8",
        "ETag": "\"fSw-Q_3IAwvpsWM9xHYhh6kSnbyPhu8xinnoA8AZgGI\"",
        "Last-Modified": "Wed, 10 Jun 2026 18:29:34 GMT",
        "Link": "</kv?snapshot=snapshot-322248297&api-version=2026-04-01>; rel=\"items\"",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDY1ODMy;sn=67065832",
        "x-ms-date": "Wed, 10 Jun 2026 18:29:43 GMT"
      },
      "ResponseBody": {
        "etag": "fSw-Q_3IAwvpsWM9xHYhh6kSnbyPhu8xinnoA8AZgGI",
        "name": "snapshot-322248297",
        "description": "Test snapshot description",
        "status": "archived",
        "filters": [
          {
            "key": "key-1617298545",
            "label": null,
            "tags": []
          }
        ],
        "composition_type": "key",
        "created": "2026-06-10T18:29:23+00:00",
        "expires": "2026-06-10T19:29:43.9595266+00:00",
        "size": 1000,
        "items_count": 0,
        "tags": {},
        "retention_period": 3600
      }
    },
[...]
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv/key-1617298545?api-version=2026-04-01&label=test_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDY1ODMz"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"6WVNdkAbyWS9nPGL0yPVXBpYDnsBx7PpyHaw_Rf0h-g\"",
        "Last-Modified": "Wed, 10 Jun 2026 18:29:23 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDY1ODM0;sn=67065834",
        "x-ms-date": "Wed, 10 Jun 2026 18:29:44 GMT"
      },
      "ResponseBody": {
        "etag": "6WVNdkAbyWS9nPGL0yPVXBpYDnsBx7PpyHaw_Rf0h-g",
        "key": "key-1617298545",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "description": "test_description",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-06-10T18:29:23+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_ENDPOINT_STRING": "https://mrm90847047-azconfig-net.azconfig.io",
    "RandomSeed": "1842712110"
  }
}
