{
  "Entries": [
    {
      "RequestUri": "https://tdfcae3cf5eab7143-azconfig-net.azconfig.io/kv/key-448468654?label=test_label&api-version=2023-10-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"8O8n9RvxLcjon1V7osuK6AGeOhmGktEA71lJgBbe7NY\"",
        "Last-Modified": "Thu, 20 Jun 2024 22:51:08 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzMwNzQxODU5;sn=30741859"
      },
      "ResponseBody": {
        "etag": "8O8n9RvxLcjon1V7osuK6AGeOhmGktEA71lJgBbe7NY",
        "key": "key-448468654",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2024-06-20T22:51:08+00:00"
      }
    },
    {
      "RequestUri": "https://tdfcae3cf5eab7143-azconfig-net.azconfig.io/snapshots/snapshot-2078111417?api-version=2023-10-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=Njo1IzMwNzQxODU5",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "filters": [
          {
            "key": "key-448468654",
            "tags": []
          }
        ]
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json; charset=utf-8",
        "ETag": "\"MuSfSdUbxB91VPFnI854P6M8qGkETbE02HgJPown2QI\"",
        "Last-Modified": "Thu, 20 Jun 2024 22:51:08 GMT",
        "Link": "</kv?snapshot=snapshot-2078111417&api-version=2023-10-01>; rel=\"items\"",
        "Operation-Location": "https://tdfcae3cf5eab7143-azconfig-net.azconfig.io/operations?snapshot=snapshot-2078111417&api-version=2023-10-01",
        "Sync-Token": "zAJw6V16=Njo1IzMwNzQxODYw;sn=30741860"
      },
      "ResponseBody": {
        "etag": "MuSfSdUbxB91VPFnI854P6M8qGkETbE02HgJPown2QI",
        "name": "snapshot-2078111417",
        "status": "provisioning",
        "filters": [
          {
            "key": "key-448468654",
            "label": null
          }
        ],
        "composition_type": "key",
        "created": "2024-06-20T22:51:08+00:00",
        "size": 0,
        "items_count": 0,
        "tags": {},
        "retention_period": 2592000
      }
    },
    {
      "RequestUri": "https://tdfcae3cf5eab7143-azconfig-net.azconfig.io/operations?snapshot=snapshot-2078111417&api-version=2023-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Njo1IzMwNzQxODYw",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "Sync-Token": "zAJw6V16=Njo1IzMwNzQxODYw;sn=30741860"
      },
      "ResponseBody": {
        "id": "VkqhHH0nuSX368uOnqxZiHhObeuNv_lCNtVTIQRzE_Y",
        "status": "Running",
        "error": null
      }
    },
[...]
    {
      "RequestUri": "https://tdfcae3cf5eab7143-azconfig-net.azconfig.io/snapshots/snapshot-2078111417?api-version=2023-10-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=Njo1IzMwNzQxODYx",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "status": "archived"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json; charset=utf-8",
        "ETag": "\"2Q4xT4TRyRyFxUtslruVShQhrlAH608bNnSj91f46Gc\"",
        "Last-Modified": "Thu, 20 Jun 2024 22:51:08 GMT",
        "Link": "</kv?snapshot=snapshot-2078111417&api-version=2023-10-01>; rel=\"items\"",
        "Sync-Token": "zAJw6V16=Njo1IzMwNzQxODYy;sn=30741862"
      },
      "ResponseBody": {
        "etag": "2Q4xT4TRyRyFxUtslruVShQhrlAH608bNnSj91f46Gc",
        "name": "snapshot-2078111417",
        "status": "archived",
        "filters": [
          {
            "key": "key-448468654",
            "label": null
          }
        ],
        "composition_type": "key",
        "created": "2024-06-20T22:51:08+00:00",
        "expires": "2024-07-20T22:51:29.4119546+00:00",
        "size": 1000,
        "items_count": 0,
        "tags": {},
        "retention_period": 2592000
      }
    },
[...]
    {
      "RequestUri": "https://tdfcae3cf5eab7143-azconfig-net.azconfig.io/kv/key-448468654?label=test_label&api-version=2023-10-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Njo1IzMwNzQxODYz",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"8O8n9RvxLcjon1V7osuK6AGeOhmGktEA71lJgBbe7NY\"",
        "Last-Modified": "Thu, 20 Jun 2024 22:51:08 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzMwNzQxODY0;sn=30741864"
      },
      "ResponseBody": {
        "etag": "8O8n9RvxLcjon1V7osuK6AGeOhmGktEA71lJgBbe7NY",
        "key": "key-448468654",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2024-06-20T22:51:08+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://tdfcae3cf5eab7143-azconfig-net.azconfig.io;Id=yt5R;Secret=Kg==",
    "RandomSeed": "2024751096"
  }
}
