{
  "Entries": [
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv/key-289623577?api-version=2026-04-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "description": "test_description"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"hZsF8rwJZd5v2i4nNEpilcX0mQBTVFotRo3CaY05QXM\"",
        "Last-Modified": "Wed, 10 Jun 2026 21:44:09 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDk1MDA5;sn=67095009",
        "x-ms-date": "Wed, 10 Jun 2026 21:44:09 GMT"
      },
      "ResponseBody": {
        "etag": "hZsF8rwJZd5v2i4nNEpilcX0mQBTVFotRo3CaY05QXM",
        "key": "key-289623577",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "description": "test_description",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-06-10T21:44:09+00:00"
      }
    },
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/snapshots/snapshot-2077071104?api-version=2026-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDk1MDA5"
      },
      "RequestBody": {
        "filters": [
          {
            "key": "key-289623577"
          }
        ],
        "retention_period": 3600,
        "description": "Test snapshot description"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json; charset=utf-8",
        "ETag": "\"jnkiIKEUewO9rM8HdGPebqfSbfzuiGTYP4RuUUnapJ8\"",
        "Last-Modified": "Wed, 10 Jun 2026 21:44:09 GMT",
        "Link": "</kv?snapshot=snapshot-2077071104&api-version=2026-04-01>; rel=\"items\"",
        "Operation-Location": "https://mrm90847047-azconfig-net.azconfig.io/operations?snapshot=snapshot-2077071104&api-version=2026-04-01",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDk1MDEw;sn=67095010",
        "x-ms-date": "Wed, 10 Jun 2026 21:44:09 GMT"
      },
      "ResponseBody": {
        "etag": "jnkiIKEUewO9rM8HdGPebqfSbfzuiGTYP4RuUUnapJ8",
        "name": "snapshot-2077071104",
        "description": "Test snapshot description",
        "status": "provisioning",
        "filters": [
          {
            "key": "key-289623577",
            "label": null,
            "tags": []
          }
        ],
        "composition_type": "key",
        "created": "2026-06-10T21:44:09.8576633+00:00",
        "size": 0,
        "items_count": 0,
        "tags": {},
        "retention_period": 3600
      }
    },
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/operations?api-version=2026-04-01&snapshot=snapshot-2077071104",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDk1MDEw"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDk1MDEw;sn=67095010",
        "x-ms-date": "Wed, 10 Jun 2026 21:44:09 GMT"
      },
      "ResponseBody": {
        "id": "0Cilw19qFW8M9p3x221ISRZ8n8Mrvev8_gFdzroaVfM",
        "status": "Running",
        "error": null
      }
    },
[...]
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/snapshots/snapshot-2077071104?api-version=2026-04-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDk1MTE4"
      },
      "RequestBody": {
        "status": "archived"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json; charset=utf-8",
        "ETag": "\"gFUIQaFeNFaNuNeUHCChjMglF4cGBBz8MvJZWchpR2w\"",
        "Last-Modified": "Wed, 10 Jun 2026 21:44:32 GMT",
        "Link": "</kv?snapshot=snapshot-2077071104&api-version=2026-04-01>; rel=\"items\"",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDk1MTE5;sn=67095119",
        "x-ms-date": "Wed, 10 Jun 2026 21:44:40 GMT"
      },
      "ResponseBody": {
        "etag": "gFUIQaFeNFaNuNeUHCChjMglF4cGBBz8MvJZWchpR2w",
        "name": "snapshot-2077071104",
        "description": "Test snapshot description",
        "status": "archived",
        "filters": [
          {
            "key": "key-289623577",
            "label": null,
            "tags": []
          }
        ],
        "composition_type": "key",
        "created": "2026-06-10T21:44:09+00:00",
        "expires": "2026-06-10T22:44:40.9498348+00:00",
        "size": 1000,
        "items_count": 0,
        "tags": {},
        "retention_period": 3600
      }
    },
[...]
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv/key-289623577?api-version=2026-04-01&label=test_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDk1MTIw"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"hZsF8rwJZd5v2i4nNEpilcX0mQBTVFotRo3CaY05QXM\"",
        "Last-Modified": "Wed, 10 Jun 2026 21:44:09 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDk1MTIx;sn=67095121",
        "x-ms-date": "Wed, 10 Jun 2026 21:44:41 GMT"
      },
      "ResponseBody": {
        "etag": "hZsF8rwJZd5v2i4nNEpilcX0mQBTVFotRo3CaY05QXM",
        "key": "key-289623577",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "description": "test_description",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-06-10T21:44:09+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_ENDPOINT_STRING": "https://mrm90847047-azconfig-net.azconfig.io",
    "RandomSeed": "2091443670"
  }
}
