{
  "Entries": [
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-1154251160?api-version=2023-11-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"qvPmkkFWhbNhk1usydfAoEgb9KO2n2SUp8L9mdT6IQk\"",
        "Last-Modified": "Mon, 26 Jan 2026 05:49:30 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzg1MjQzNA==;sn=103852434",
        "x-ms-date": "Mon, 26 Jan 2026 05:49:30 GMT"
      },
      "ResponseBody": {
        "etag": "qvPmkkFWhbNhk1usydfAoEgb9KO2n2SUp8L9mdT6IQk",
        "key": "key-1154251160",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-01-26T05:49:30+00:00"
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/snapshots/snapshot-674129249?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzg1MjQzNA==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "filters": [
          {
            "key": "key-1154251160"
          }
        ]
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json; charset=utf-8",
        "ETag": "\"h_Mb5_QzevDtMCWo6q3Y-4XKzkXCdxlD7Mv8miKYchI\"",
        "Last-Modified": "Mon, 26 Jan 2026 05:49:30 GMT",
        "Link": "</kv?snapshot=snapshot-674129249&api-version=2023-11-01>; rel=\"items\"",
        "Operation-Location": "https://t9c954b564de572f9-azconfig-net.azconfig.io/operations?snapshot=snapshot-674129249&api-version=2023-11-01",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzg1MjQzNQ==;sn=103852435",
        "x-ms-date": "Mon, 26 Jan 2026 05:49:30 GMT"
      },
      "ResponseBody": {
        "etag": "h_Mb5_QzevDtMCWo6q3Y-4XKzkXCdxlD7Mv8miKYchI",
        "name": "snapshot-674129249",
        "status": "provisioning",
        "filters": [
          {
            "key": "key-1154251160",
            "label": null,
            "tags": []
          }
        ],
        "composition_type": "key",
        "created": "2026-01-26T05:49:30.5527444+00:00",
        "size": 0,
        "items_count": 0,
        "tags": {},
        "retention_period": 2592000
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/operations?api-version=2023-11-01&snapshot=snapshot-674129249",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzg1MjQzNQ==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzg1MjQzNQ==;sn=103852435",
        "x-ms-date": "Mon, 26 Jan 2026 05:49:30 GMT"
      },
      "ResponseBody": {
        "id": "zFn-PzG6dLgstA24R7Jnnyt2AHvWOqN8Krk_nPppl7U",
        "status": "Running",
        "error": null
      }
    },
[...]
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/snapshots/snapshot-674129249?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzg1MjQzNg==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "status": "archived"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json; charset=utf-8",
        "ETag": "\"Djxs4LpGDI9w4BoMN8whnJQDoVgLPkCTgBQqmNdbuDs\"",
        "Last-Modified": "Mon, 26 Jan 2026 05:49:39 GMT",
        "Link": "</kv?snapshot=snapshot-674129249&api-version=2023-11-01>; rel=\"items\"",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzg1MjQzNw==;sn=103852437",
        "x-ms-date": "Mon, 26 Jan 2026 05:49:41 GMT"
      },
      "ResponseBody": {
        "etag": "Djxs4LpGDI9w4BoMN8whnJQDoVgLPkCTgBQqmNdbuDs",
        "name": "snapshot-674129249",
        "status": "archived",
        "filters": [
          {
            "key": "key-1154251160",
            "label": null,
            "tags": []
          }
        ],
        "composition_type": "key",
        "created": "2026-01-26T05:49:30+00:00",
        "expires": "2026-02-25T05:49:41.483082+00:00",
        "size": 1000,
        "items_count": 0,
        "tags": {},
        "retention_period": 2592000
      }
    },
[...]
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-1154251160?api-version=2023-11-01&label=test_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzg1MjQzOA==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"qvPmkkFWhbNhk1usydfAoEgb9KO2n2SUp8L9mdT6IQk\"",
        "Last-Modified": "Mon, 26 Jan 2026 05:49:30 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzg1MjQzOQ==;sn=103852439",
        "x-ms-date": "Mon, 26 Jan 2026 05:49:41 GMT"
      },
      "ResponseBody": {
        "etag": "qvPmkkFWhbNhk1usydfAoEgb9KO2n2SUp8L9mdT6IQk",
        "key": "key-1154251160",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-01-26T05:49:30+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t9c954b564de572f9-azconfig-net.azconfig.io;Id=MdvE;Secret=Kg==",
    "RandomSeed": "109253132"
  }
}
