{
  "Entries": [
    {
      "RequestUri": "https://t02f6e87f544544f3-azconfig-net.azconfig.io/kv/key-486135071?label=test_label\u0026api-version=2022-11-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "b11OQu6GthUatwGXUIKHHSRVyik0TdrUk5kZm3yZd2A="
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022xi0jL9dAuIWdbXxuPDlZpi7zhBVjfLMTsFHBh7pjeDk\u0022",
        "Last-Modified": "Fri, 30 Jun 2023 23:55:43 GMT",
        "Sync-Token": "zAJw6V16=ODo1IzI0ODc5Njk5;sn=24879699"
      },
      "ResponseBody": {
        "etag": "xi0jL9dAuIWdbXxuPDlZpi7zhBVjfLMTsFHBh7pjeDk",
        "key": "key-486135071",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2023-06-30T23:55:43\u002B00:00"
      }
    },
    {
      "RequestUri": "https://t02f6e87f544544f3-azconfig-net.azconfig.io/snapshots/snapshot-474084646?api-version=2022-11-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=ODo1IzI0ODc5Njk5",
        "x-ms-content-sha256": "hHI/chTrwIEirj9HG869dn08Lw8Smm/QGvf\u002Bg0G6Yow="
      },
      "RequestBody": {
        "filters": [
          {
            "key": "key-486135071"
          }
        ]
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot\u002Bjson; charset=utf-8",
        "ETag": "\u0022sfvhXMeNKyb6wvwtfnJt9TmXcCMO2TZ1rBDIzF8vQzw\u0022",
        "Last-Modified": "Fri, 30 Jun 2023 23:55:43 GMT",
        "Link": "\u003C/kv?snapshot=snapshot-474084646\u0026api-version=2022-11-01-preview\u003E; rel=\u0022items\u0022",
        "Operation-Location": "https://t02f6e87f544544f3-azconfig-net.azconfig.io/operations?snapshot=snapshot-474084646\u0026api-version=2022-11-01-preview",
        "Sync-Token": "zAJw6V16=ODo1IzI0ODc5NzAw;sn=24879700"
      },
      "ResponseBody": {
        "etag": "sfvhXMeNKyb6wvwtfnJt9TmXcCMO2TZ1rBDIzF8vQzw",
        "name": "snapshot-474084646",
        "status": "provisioning",
        "filters": [
          {
            "key": "key-486135071",
            "label": null
          }
        ],
        "composition_type": "key",
        "created": "2023-06-30T23:55:43\u002B00:00",
        "size": 0,
        "items_count": 0,
        "tags": {},
        "retention_period": 2592000
      }
    },
    {
      "RequestUri": "https://t02f6e87f544544f3-azconfig-net.azconfig.io/operations?snapshot=snapshot-474084646\u0026api-version=2022-11-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=ODo1IzI0ODc5NzAw",
        "x-ms-content-sha256": "47DEQpj8HBSa\u002B/TImW\u002B5JCeuQeRkm5NMpJWZG3hSuFU="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "Sync-Token": "zAJw6V16=ODo1IzI0ODc5NzAw;sn=24879700"
      },
      "ResponseBody": {
        "id": "FtOi0mwU8_33vfeldOiYSibYpJasJgjpQS6xJFbiIgs",
        "status": "Running",
        "error": null
      }
    },
[...]
    {
      "RequestUri": "https://t02f6e87f544544f3-azconfig-net.azconfig.io/snapshots/snapshot-474084646?api-version=2022-11-01-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=ODo1IzI0ODc5NzAy",
        "x-ms-content-sha256": "tynngJHjE7uDMwpGVh1hcULF0zuJfLFECY9VxlHWIWo="
      },
      "RequestBody": {
        "status": "archived"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot\u002Bjson; charset=utf-8",
        "ETag": "\u0022ZTNoBwm6gwkEFj1uYBgH73dcIcr5TlkC5YpGeNjOnN0\u0022",
        "Last-Modified": "Fri, 30 Jun 2023 23:55:43 GMT",
        "Link": "\u003C/kv?snapshot=snapshot-474084646\u0026api-version=2022-11-01-preview\u003E; rel=\u0022items\u0022",
        "Sync-Token": "zAJw6V16=ODo1IzI0ODc5NzAz;sn=24879703"
      },
      "ResponseBody": {
        "etag": "ZTNoBwm6gwkEFj1uYBgH73dcIcr5TlkC5YpGeNjOnN0",
        "name": "snapshot-474084646",
        "status": "archived",
        "filters": [
          {
            "key": "key-486135071",
            "label": null
          }
        ],
        "composition_type": "key",
        "created": "2023-06-30T23:55:43\u002B00:00",
        "expires": "2023-07-30T23:56:04.731298\u002B00:00",
        "size": 1000,
        "items_count": 0,
        "tags": {},
        "retention_period": 2592000
      }
    },
[...]
    {
      "RequestUri": "https://t02f6e87f544544f3-azconfig-net.azconfig.io/kv/key-486135071?label=test_label\u0026api-version=2022-11-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=ODo1IzI0ODc5NzA0",
        "x-ms-content-sha256": "47DEQpj8HBSa\u002B/TImW\u002B5JCeuQeRkm5NMpJWZG3hSuFU="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022xi0jL9dAuIWdbXxuPDlZpi7zhBVjfLMTsFHBh7pjeDk\u0022",
        "Last-Modified": "Fri, 30 Jun 2023 23:55:43 GMT",
        "Sync-Token": "zAJw6V16=ODo1IzI0ODc5NzA1;sn=24879705"
      },
      "ResponseBody": {
        "etag": "xi0jL9dAuIWdbXxuPDlZpi7zhBVjfLMTsFHBh7pjeDk",
        "key": "key-486135071",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2023-06-30T23:55:43\u002B00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t02f6e87f544544f3-azconfig-net.azconfig.io;Id=Ek\u002BM;Secret=Kg==",
    "RandomSeed": "1407089026"
  }
}
