{
  "Entries": [
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv/key-772016471?api-version=2026-04-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "description": "test_description"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"wL_yaQ9Qi-RFBDLV2P5nBEGDBRJ6rfZpxhgCmce2K3U\"",
        "Last-Modified": "Wed, 10 Jun 2026 19:29:29 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDc0OTg5;sn=67074989",
        "x-ms-date": "Wed, 10 Jun 2026 19:29:29 GMT"
      },
      "ResponseBody": {
        "etag": "wL_yaQ9Qi-RFBDLV2P5nBEGDBRJ6rfZpxhgCmce2K3U",
        "key": "key-772016471",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "description": "test_description",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-06-10T19:29:29+00:00"
      }
    },
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/snapshots/snapshot-1170784589?api-version=2026-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDc0OTg5"
      },
      "RequestBody": {
        "filters": [
          {
            "key": "key-772016471"
          }
        ],
        "retention_period": 3600,
        "description": "Test snapshot description"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json; charset=utf-8",
        "ETag": "\"C8Vi8Om7oQKL6eKPO-Yo-Gom-a5iMpTwRqpASnUJtjQ\"",
        "Last-Modified": "Wed, 10 Jun 2026 19:29:29 GMT",
        "Link": "</kv?snapshot=snapshot-1170784589&api-version=2026-04-01>; rel=\"items\"",
        "Operation-Location": "https://mrm90847047-azconfig-net.azconfig.io/operations?snapshot=snapshot-1170784589&api-version=2026-04-01",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDc0OTkw;sn=67074990",
        "x-ms-date": "Wed, 10 Jun 2026 19:29:29 GMT"
      },
      "ResponseBody": {
        "etag": "C8Vi8Om7oQKL6eKPO-Yo-Gom-a5iMpTwRqpASnUJtjQ",
        "name": "snapshot-1170784589",
        "description": "Test snapshot description",
        "status": "provisioning",
        "filters": [
          {
            "key": "key-772016471",
            "label": null,
            "tags": []
          }
        ],
        "composition_type": "key",
        "created": "2026-06-10T19:29:29.9581525+00:00",
        "size": 0,
        "items_count": 0,
        "tags": {},
        "retention_period": 3600
      }
    },
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/operations?api-version=2026-04-01&snapshot=snapshot-1170784589",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDc0OTkw"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDc0OTkw;sn=67074990",
        "x-ms-date": "Wed, 10 Jun 2026 19:29:30 GMT"
      },
      "ResponseBody": {
        "id": "3n7H1ZbgSaIgSvSidKZNpaI_huF7MkLSbMZYZEMOpWQ",
        "status": "Running",
        "error": null
      }
    },
[...]
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/snapshots/snapshot-1170784589?api-version=2026-04-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDc0OTkx"
      },
      "RequestBody": {
        "status": "archived"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json; charset=utf-8",
        "ETag": "\"SpoNGNl5ad6rxUvrW3Yh6EFHnyeOgojm6-IQXYXH0Aw\"",
        "Last-Modified": "Wed, 10 Jun 2026 19:29:39 GMT",
        "Link": "</kv?snapshot=snapshot-1170784589&api-version=2026-04-01>; rel=\"items\"",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDc0OTky;sn=67074992",
        "x-ms-date": "Wed, 10 Jun 2026 19:29:40 GMT"
      },
      "ResponseBody": {
        "etag": "SpoNGNl5ad6rxUvrW3Yh6EFHnyeOgojm6-IQXYXH0Aw",
        "name": "snapshot-1170784589",
        "description": "Test snapshot description",
        "status": "archived",
        "filters": [
          {
            "key": "key-772016471",
            "label": null,
            "tags": []
          }
        ],
        "composition_type": "key",
        "created": "2026-06-10T19:29:29+00:00",
        "expires": "2026-06-10T20:29:40.3263155+00:00",
        "size": 1000,
        "items_count": 0,
        "tags": {},
        "retention_period": 3600
      }
    },
[...]
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv/key-772016471?api-version=2026-04-01&label=test_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDc0OTkz"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"wL_yaQ9Qi-RFBDLV2P5nBEGDBRJ6rfZpxhgCmce2K3U\"",
        "Last-Modified": "Wed, 10 Jun 2026 19:29:29 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDc0OTk0;sn=67074994",
        "x-ms-date": "Wed, 10 Jun 2026 19:29:40 GMT"
      },
      "ResponseBody": {
        "etag": "wL_yaQ9Qi-RFBDLV2P5nBEGDBRJ6rfZpxhgCmce2K3U",
        "key": "key-772016471",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "description": "test_description",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-06-10T19:29:29+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_ENDPOINT_STRING": "https://mrm90847047-azconfig-net.azconfig.io",
    "RandomSeed": "1371210315"
  }
}
