{
  "Entries": [
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/kv/key-1583844215?api-version=2023-11-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"o6buDa9pq_b-nkqLIdtOaKqG0IUz7fQtkjOqiv5DbQw\"",
        "Last-Modified": "Thu, 09 Oct 2025 16:34:55 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzU1NTMzMjcx;sn=55533271",
        "x-ms-date": "Thu, 09 Oct 2025 16:34:55 GMT"
      },
      "ResponseBody": {
        "etag": "o6buDa9pq_b-nkqLIdtOaKqG0IUz7fQtkjOqiv5DbQw",
        "key": "key-1583844215",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2025-10-09T16:34:55+00:00"
      }
    },
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/snapshots/snapshot-194420831?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=Njo1IzU1NTMzMjcx",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "filters": [
          {
            "key": "key-1583844215"
          }
        ]
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json; charset=utf-8",
        "ETag": "\"KY_UqJaePX0Z4Dz3oonoHFCEpQv2G3BbabM0czbTJQY\"",
        "Last-Modified": "Thu, 09 Oct 2025 16:34:55 GMT",
        "Link": "</kv?snapshot=snapshot-194420831&api-version=2023-11-01>; rel=\"items\"",
        "Operation-Location": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/operations?snapshot=snapshot-194420831&api-version=2023-11-01",
        "Sync-Token": "zAJw6V16=Njo1IzU1NTMzMjcy;sn=55533272",
        "x-ms-date": "Thu, 09 Oct 2025 16:34:55 GMT"
      },
      "ResponseBody": {
        "etag": "KY_UqJaePX0Z4Dz3oonoHFCEpQv2G3BbabM0czbTJQY",
        "name": "snapshot-194420831",
        "status": "provisioning",
        "filters": [
          {
            "key": "key-1583844215",
            "label": null,
            "tags": []
          }
        ],
        "composition_type": "key",
        "created": "2025-10-09T16:34:55.5068476+00:00",
        "size": 0,
        "items_count": 0,
        "tags": {},
        "retention_period": 2592000
      }
    },
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/operations?api-version=2023-11-01&snapshot=snapshot-194420831",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Njo1IzU1NTMzMjcy",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "Sync-Token": "zAJw6V16=Njo1IzU1NTMzMjcy;sn=55533272",
        "x-ms-date": "Thu, 09 Oct 2025 16:34:55 GMT"
      },
      "ResponseBody": {
        "id": "MO0Hf2hHn8KtJ41ba6Xxp5E09pU-yna4KXzHF8Ndz9w",
        "status": "Running",
        "error": null
      }
    },
[...]
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/snapshots/snapshot-194420831?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=Njo1IzU1NTMzMjkx",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "status": "archived"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json; charset=utf-8",
        "ETag": "\"YJ83y1kmCrgB52pFfSzdKuBLlzfwJQfKYaVvmMFfpYs\"",
        "Last-Modified": "Thu, 09 Oct 2025 16:35:07 GMT",
        "Link": "</kv?snapshot=snapshot-194420831&api-version=2023-11-01>; rel=\"items\"",
        "Sync-Token": "zAJw6V16=Njo1IzU1NTMzMjky;sn=55533292",
        "x-ms-date": "Thu, 09 Oct 2025 16:35:16 GMT"
      },
      "ResponseBody": {
        "etag": "YJ83y1kmCrgB52pFfSzdKuBLlzfwJQfKYaVvmMFfpYs",
        "name": "snapshot-194420831",
        "status": "archived",
        "filters": [
          {
            "key": "key-1583844215",
            "label": null,
            "tags": []
          }
        ],
        "composition_type": "key",
        "created": "2025-10-09T16:34:55+00:00",
        "expires": "2025-11-08T16:35:16.2259353+00:00",
        "size": 1000,
        "items_count": 0,
        "tags": {},
        "retention_period": 2592000
      }
    },
[...]
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/kv/key-1583844215?api-version=2023-11-01&label=test_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Njo1IzU1NTMzMjkz",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"o6buDa9pq_b-nkqLIdtOaKqG0IUz7fQtkjOqiv5DbQw\"",
        "Last-Modified": "Thu, 09 Oct 2025 16:34:55 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzU1NTMzMjk0;sn=55533294",
        "x-ms-date": "Thu, 09 Oct 2025 16:35:16 GMT"
      },
      "ResponseBody": {
        "etag": "o6buDa9pq_b-nkqLIdtOaKqG0IUz7fQtkjOqiv5DbQw",
        "key": "key-1583844215",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2025-10-09T16:34:55+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t8cdd9157ca7d1363-azconfig-net.azconfig.io;Id=wNKY;Secret=Kg==",
    "RandomSeed": "455823982"
  }
}
