{
  "Entries": [
    {
      "RequestUri": "https://te0e57d80fe738c82-azconfig-net.azconfig.io/kv/key-1321764556?api-version=2023-11-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"_g6PrqMt6uybkV61N1y6QVNZ1KuQUuw3_oyvfRqLeiE\"",
        "Last-Modified": "Tue, 29 Jul 2025 17:49:21 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzUxNTQ5NzA0;sn=51549704"
      },
      "ResponseBody": {
        "etag": "_g6PrqMt6uybkV61N1y6QVNZ1KuQUuw3_oyvfRqLeiE",
        "key": "key-1321764556",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2025-07-29T17:49:21+00:00"
      }
    },
    {
      "RequestUri": "https://te0e57d80fe738c82-azconfig-net.azconfig.io/snapshots/snapshot-933215777?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=Njo1IzUxNTQ5NzA0",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "filters": [
          {
            "key": "key-1321764556"
          }
        ]
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json; charset=utf-8",
        "ETag": "\"fkxb5jGdGcRfma4WDXXl3TdUaXryPVhxIhoy8w0Qqww\"",
        "Last-Modified": "Tue, 29 Jul 2025 17:49:21 GMT",
        "Link": "</kv?snapshot=snapshot-933215777&api-version=2023-11-01>; rel=\"items\"",
        "Operation-Location": "https://te0e57d80fe738c82-azconfig-net.azconfig.io/operations?snapshot=snapshot-933215777&api-version=2023-11-01",
        "Sync-Token": "zAJw6V16=Njo1IzUxNTQ5NzA1;sn=51549705"
      },
      "ResponseBody": {
        "etag": "fkxb5jGdGcRfma4WDXXl3TdUaXryPVhxIhoy8w0Qqww",
        "name": "snapshot-933215777",
        "status": "provisioning",
        "filters": [
          {
            "key": "key-1321764556",
            "label": null,
            "tags": []
          }
        ],
        "composition_type": "key",
        "created": "2025-07-29T17:49:21.1571107+00:00",
        "size": 0,
        "items_count": 0,
        "tags": {},
        "retention_period": 2592000
      }
    },
    {
      "RequestUri": "https://te0e57d80fe738c82-azconfig-net.azconfig.io/operations?snapshot=snapshot-933215777&api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Njo1IzUxNTQ5NzA1",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "Sync-Token": "zAJw6V16=Njo1IzUxNTQ5NzA1;sn=51549705"
      },
      "ResponseBody": {
        "id": "hoYNkhG3NEtXKoikg8eMIdgWcXfFx-IYhKI0TST0Yvo",
        "status": "Running",
        "error": null
      }
    },
[...]
    {
      "RequestUri": "https://te0e57d80fe738c82-azconfig-net.azconfig.io/snapshots/snapshot-933215777?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=Njo1IzUxNTQ5NzA2",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "status": "archived"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json; charset=utf-8",
        "ETag": "\"CshrOdh0d5eS5adTeKavzq9g2tO8KMuC3ElkVrVyBGU\"",
        "Last-Modified": "Tue, 29 Jul 2025 17:49:27 GMT",
        "Link": "</kv?snapshot=snapshot-933215777&api-version=2023-11-01>; rel=\"items\"",
        "Sync-Token": "zAJw6V16=Njo1IzUxNTQ5NzA3;sn=51549707"
      },
      "ResponseBody": {
        "etag": "CshrOdh0d5eS5adTeKavzq9g2tO8KMuC3ElkVrVyBGU",
        "name": "snapshot-933215777",
        "status": "archived",
        "filters": [
          {
            "key": "key-1321764556",
            "label": null,
            "tags": []
          }
        ],
        "composition_type": "key",
        "created": "2025-07-29T17:49:21+00:00",
        "expires": "2025-08-28T17:49:31.4541325+00:00",
        "size": 1000,
        "items_count": 0,
        "tags": {},
        "retention_period": 2592000
      }
    },
[...]
    {
      "RequestUri": "https://te0e57d80fe738c82-azconfig-net.azconfig.io/kv/key-1321764556?api-version=2023-11-01&label=test_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Njo1IzUxNTQ5NzA4",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"_g6PrqMt6uybkV61N1y6QVNZ1KuQUuw3_oyvfRqLeiE\"",
        "Last-Modified": "Tue, 29 Jul 2025 17:49:21 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzUxNTQ5NzA5;sn=51549709"
      },
      "ResponseBody": {
        "etag": "_g6PrqMt6uybkV61N1y6QVNZ1KuQUuw3_oyvfRqLeiE",
        "key": "key-1321764556",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2025-07-29T17:49:21+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://te0e57d80fe738c82-azconfig-net.azconfig.io;Id=L29Y;Secret=Kg==",
    "RandomSeed": "950627568"
  }
}
