{
  "Entries": [
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv/key-623771592?api-version=2026-04-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "description": "test_description"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"8-3EizIGT3pO1DAis5DQYJ2QmgZegOq0TYQG0AC1O08\"",
        "Last-Modified": "Wed, 10 Jun 2026 21:35:49 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDk0NTQ5;sn=67094549",
        "x-ms-date": "Wed, 10 Jun 2026 21:35:49 GMT"
      },
      "ResponseBody": {
        "etag": "8-3EizIGT3pO1DAis5DQYJ2QmgZegOq0TYQG0AC1O08",
        "key": "key-623771592",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "description": "test_description",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-06-10T21:35:49+00:00"
      }
    },
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/snapshots/snapshot-369175186?api-version=2026-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDk0NTQ5"
      },
      "RequestBody": {
        "filters": [
          {
            "key": "key-623771592"
          }
        ],
        "retention_period": 3600,
        "description": "Test snapshot description"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json; charset=utf-8",
        "ETag": "\"UDHiFSyLyLQYCfix59Lez3dZ30dj9P3-USCg3_vAS98\"",
        "Last-Modified": "Wed, 10 Jun 2026 21:35:49 GMT",
        "Link": "</kv?snapshot=snapshot-369175186&api-version=2026-04-01>; rel=\"items\"",
        "Operation-Location": "https://mrm90847047-azconfig-net.azconfig.io/operations?snapshot=snapshot-369175186&api-version=2026-04-01",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDk0NTUw;sn=67094550",
        "x-ms-date": "Wed, 10 Jun 2026 21:35:49 GMT"
      },
      "ResponseBody": {
        "etag": "UDHiFSyLyLQYCfix59Lez3dZ30dj9P3-USCg3_vAS98",
        "name": "snapshot-369175186",
        "description": "Test snapshot description",
        "status": "provisioning",
        "filters": [
          {
            "key": "key-623771592",
            "label": null,
            "tags": []
          }
        ],
        "composition_type": "key",
        "created": "2026-06-10T21:35:49.8238733+00:00",
        "size": 0,
        "items_count": 0,
        "tags": {},
        "retention_period": 3600
      }
    },
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/operations?api-version=2026-04-01&snapshot=snapshot-369175186",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDk0NTUw"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDk0NTUw;sn=67094550",
        "x-ms-date": "Wed, 10 Jun 2026 21:35:49 GMT"
      },
      "ResponseBody": {
        "id": "NuYpP5UKMZNFRTHVzSt3BTww23BK7iLcBwUMEopNuEk",
        "status": "Running",
        "error": null
      }
    },
[...]
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/snapshots/snapshot-369175186?api-version=2026-04-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDk0NTUx"
      },
      "RequestBody": {
        "status": "archived"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json; charset=utf-8",
        "ETag": "\"dIYfejHJ8DnBB2920HRVhgh7BBjEKaocw8O1tVk4sj0\"",
        "Last-Modified": "Wed, 10 Jun 2026 21:36:05 GMT",
        "Link": "</kv?snapshot=snapshot-369175186&api-version=2026-04-01>; rel=\"items\"",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDk0NTUy;sn=67094552",
        "x-ms-date": "Wed, 10 Jun 2026 21:36:10 GMT"
      },
      "ResponseBody": {
        "etag": "dIYfejHJ8DnBB2920HRVhgh7BBjEKaocw8O1tVk4sj0",
        "name": "snapshot-369175186",
        "description": "Test snapshot description",
        "status": "archived",
        "filters": [
          {
            "key": "key-623771592",
            "label": null,
            "tags": []
          }
        ],
        "composition_type": "key",
        "created": "2026-06-10T21:35:49+00:00",
        "expires": "2026-06-10T22:36:10.3317895+00:00",
        "size": 1000,
        "items_count": 0,
        "tags": {},
        "retention_period": 3600
      }
    },
[...]
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv/key-623771592?api-version=2026-04-01&label=test_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDk0NTUz"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"8-3EizIGT3pO1DAis5DQYJ2QmgZegOq0TYQG0AC1O08\"",
        "Last-Modified": "Wed, 10 Jun 2026 21:35:49 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDk0NTU0;sn=67094554",
        "x-ms-date": "Wed, 10 Jun 2026 21:36:10 GMT"
      },
      "ResponseBody": {
        "etag": "8-3EizIGT3pO1DAis5DQYJ2QmgZegOq0TYQG0AC1O08",
        "key": "key-623771592",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "description": "test_description",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-06-10T21:35:49+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_ENDPOINT_STRING": "https://mrm90847047-azconfig-net.azconfig.io",
    "RandomSeed": "1350604313"
  }
}
