{
  "Entries": [
    {
      "RequestUri": "https://azure-sdk-for-net-test.azconfig.io/kv/key-53822082?api-version=2026-04-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"FdTZQkTQD6aMKFDvuJR5xHLcNCekMpyKlae7DB16Ybo\"",
        "Last-Modified": "Fri, 29 May 2026 19:56:10 GMT",
        "Sync-Token": "zAJw6V16=NToxNyM0ODE0ODYwMw==;sn=48148603",
        "x-ms-date": "Fri, 29 May 2026 19:56:10 GMT"
      },
      "ResponseBody": {
        "etag": "FdTZQkTQD6aMKFDvuJR5xHLcNCekMpyKlae7DB16Ybo",
        "key": "key-53822082",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "description": null,
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-05-29T19:56:10+00:00"
      }
    },
    {
      "RequestUri": "https://azure-sdk-for-net-test.azconfig.io/snapshots/snapshot-575635787?api-version=2026-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NToxNyM0ODE0ODYwMw==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "filters": [
          {
            "key": "key-53822082"
          }
        ],
        "retention_period": 3600
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json; charset=utf-8",
        "ETag": "\"-pqebPBUJuzOwGTTmqJAkN0VizGkoQQgSt6To2EKIzY\"",
        "Last-Modified": "Fri, 29 May 2026 19:56:10 GMT",
        "Link": "</kv?snapshot=snapshot-575635787&api-version=2026-04-01>; rel=\"items\"",
        "Operation-Location": "https://azure-sdk-for-net-test.azconfig.io/operations?snapshot=snapshot-575635787&api-version=2026-04-01",
        "Sync-Token": "zAJw6V16=NToxNyM0ODE0ODYwNA==;sn=48148604",
        "x-ms-date": "Fri, 29 May 2026 19:56:10 GMT"
      },
      "ResponseBody": {
        "etag": "-pqebPBUJuzOwGTTmqJAkN0VizGkoQQgSt6To2EKIzY",
        "name": "snapshot-575635787",
        "description": null,
        "status": "provisioning",
        "filters": [
          {
            "key": "key-53822082",
            "label": null,
            "tags": []
          }
        ],
        "composition_type": "key",
        "created": "2026-05-29T19:56:10.2262004+00:00",
        "size": 0,
        "items_count": 0,
        "tags": {},
        "retention_period": 3600
      }
    },
    {
      "RequestUri": "https://azure-sdk-for-net-test.azconfig.io/operations?api-version=2026-04-01&snapshot=snapshot-575635787",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NToxNyM0ODE0ODYwNA==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "Sync-Token": "zAJw6V16=NToxNyM0ODE0ODYwNA==;sn=48148604",
        "x-ms-date": "Fri, 29 May 2026 19:56:10 GMT"
      },
      "ResponseBody": {
        "id": "NiDaRAj-AdyDHWUA-lGaqpjKMTF6o-Lt6_5xF-lhRs8",
        "status": "Running",
        "error": null
      }
    },
[...]
    {
      "RequestUri": "https://azure-sdk-for-net-test.azconfig.io/snapshots/snapshot-575635787?api-version=2026-04-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NToxNyM0ODE0ODYwNw==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "status": "archived"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json; charset=utf-8",
        "ETag": "\"4hSyuY9thLj6nu6Hx4xueuDRkuto1HYNkuG6yCU4rtM\"",
        "Last-Modified": "Fri, 29 May 2026 19:56:20 GMT",
        "Link": "</kv?snapshot=snapshot-575635787&api-version=2026-04-01>; rel=\"items\"",
        "Sync-Token": "zAJw6V16=NToxNyM0ODE0ODYwOA==;sn=48148608",
        "x-ms-date": "Fri, 29 May 2026 19:56:20 GMT"
      },
      "ResponseBody": {
        "etag": "4hSyuY9thLj6nu6Hx4xueuDRkuto1HYNkuG6yCU4rtM",
        "name": "snapshot-575635787",
        "description": null,
        "status": "archived",
        "filters": [
          {
            "key": "key-53822082",
            "label": null,
            "tags": []
          }
        ],
        "composition_type": "key",
        "created": "2026-05-29T19:56:10+00:00",
        "expires": "2026-05-29T20:56:20.4777547+00:00",
        "size": 1000,
        "items_count": 0,
        "tags": {},
        "retention_period": 3600
      }
    },
[...]
    {
      "RequestUri": "https://azure-sdk-for-net-test.azconfig.io/kv/key-53822082?api-version=2026-04-01&label=test_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NToxNyM0ODE0ODYwOQ==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"FdTZQkTQD6aMKFDvuJR5xHLcNCekMpyKlae7DB16Ybo\"",
        "Last-Modified": "Fri, 29 May 2026 19:56:10 GMT",
        "Sync-Token": "zAJw6V16=NToxNyM0ODE0ODYxMA==;sn=48148610",
        "x-ms-date": "Fri, 29 May 2026 19:56:20 GMT"
      },
      "ResponseBody": {
        "etag": "FdTZQkTQD6aMKFDvuJR5xHLcNCekMpyKlae7DB16Ybo",
        "key": "key-53822082",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "description": null,
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-05-29T19:56:10+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://azure-sdk-for-net-test.azconfig.io;Id=8ePU;Secret=Kg==",
    "RandomSeed": "1137309051"
  }
}
