{
  "Entries": [
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-787997012?api-version=2023-11-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"5xx61deITCMetTBFeUpPMRCVtVTjCmDhJ0QTmrBNypY\"",
        "Last-Modified": "Thu, 22 Jan 2026 02:09:31 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzQ3NTE3Ng==;sn=103475176",
        "x-ms-date": "Thu, 22 Jan 2026 02:09:31 GMT"
      },
      "ResponseBody": {
        "etag": "5xx61deITCMetTBFeUpPMRCVtVTjCmDhJ0QTmrBNypY",
        "key": "key-787997012",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-01-22T02:09:31+00:00"
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/snapshots/snapshot-862595581?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzQ3NTE3Ng==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "filters": [
          {
            "key": "key-787997012"
          }
        ]
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json; charset=utf-8",
        "ETag": "\"8H4019Pw6Za4CjMXDKccZ2loLJHhq3xoaGn7p5stDIk\"",
        "Last-Modified": "Thu, 22 Jan 2026 02:09:31 GMT",
        "Link": "</kv?snapshot=snapshot-862595581&api-version=2023-11-01>; rel=\"items\"",
        "Operation-Location": "https://t9c954b564de572f9-azconfig-net.azconfig.io/operations?snapshot=snapshot-862595581&api-version=2023-11-01",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzQ3NTE3Nw==;sn=103475177",
        "x-ms-date": "Thu, 22 Jan 2026 02:09:31 GMT"
      },
      "ResponseBody": {
        "etag": "8H4019Pw6Za4CjMXDKccZ2loLJHhq3xoaGn7p5stDIk",
        "name": "snapshot-862595581",
        "status": "provisioning",
        "filters": [
          {
            "key": "key-787997012",
            "label": null,
            "tags": []
          }
        ],
        "composition_type": "key",
        "created": "2026-01-22T02:09:31.6673777+00:00",
        "size": 0,
        "items_count": 0,
        "tags": {},
        "retention_period": 2592000
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/operations?api-version=2023-11-01&snapshot=snapshot-862595581",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzQ3NTE3Nw==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzQ3NTE3Nw==;sn=103475177",
        "x-ms-date": "Thu, 22 Jan 2026 02:09:31 GMT"
      },
      "ResponseBody": {
        "id": "yCylid7OBs9s5MdBOUuplff-zOoLh2_zDAj8MNy9uA4",
        "status": "Running",
        "error": null
      }
    },
[...]
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/snapshots/snapshot-862595581?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzQ3NTE3OA==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "status": "archived"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json; charset=utf-8",
        "ETag": "\"3ypu8ClazdtkQF7zKitaL4MKs3DHKfFtDwa_1oqUxrM\"",
        "Last-Modified": "Thu, 22 Jan 2026 02:09:46 GMT",
        "Link": "</kv?snapshot=snapshot-862595581&api-version=2023-11-01>; rel=\"items\"",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzQ3NTE3OQ==;sn=103475179",
        "x-ms-date": "Thu, 22 Jan 2026 02:09:52 GMT"
      },
      "ResponseBody": {
        "etag": "3ypu8ClazdtkQF7zKitaL4MKs3DHKfFtDwa_1oqUxrM",
        "name": "snapshot-862595581",
        "status": "archived",
        "filters": [
          {
            "key": "key-787997012",
            "label": null,
            "tags": []
          }
        ],
        "composition_type": "key",
        "created": "2026-01-22T02:09:31+00:00",
        "expires": "2026-02-21T02:09:52.7049742+00:00",
        "size": 1000,
        "items_count": 0,
        "tags": {},
        "retention_period": 2592000
      }
    },
[...]
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-787997012?api-version=2023-11-01&label=test_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzQ3NTE4MA==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"5xx61deITCMetTBFeUpPMRCVtVTjCmDhJ0QTmrBNypY\"",
        "Last-Modified": "Thu, 22 Jan 2026 02:09:31 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzQ3NTE4MQ==;sn=103475181",
        "x-ms-date": "Thu, 22 Jan 2026 02:09:52 GMT"
      },
      "ResponseBody": {
        "etag": "5xx61deITCMetTBFeUpPMRCVtVTjCmDhJ0QTmrBNypY",
        "key": "key-787997012",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-01-22T02:09:31+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t9c954b564de572f9-azconfig-net.azconfig.io;Id=MdvE;Secret=Kg==",
    "RandomSeed": "1811518483"
  }
}
