{
  "Entries": [
    {
      "RequestUri": "https://te0e57d80fe738c82-azconfig-net.azconfig.io/kv/key-60948296?api-version=2023-11-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"nIVP-CY4DGkLfYf6Wq0Dl_dJIQqFIK_hIdTcJq05loQ\"",
        "Last-Modified": "Tue, 29 Jul 2025 17:46:12 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzUxNTQ5NjIx;sn=51549621"
      },
      "ResponseBody": {
        "etag": "nIVP-CY4DGkLfYf6Wq0Dl_dJIQqFIK_hIdTcJq05loQ",
        "key": "key-60948296",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2025-07-29T17:46:12+00:00"
      }
    },
    {
      "RequestUri": "https://te0e57d80fe738c82-azconfig-net.azconfig.io/snapshots/snapshot-1580440812?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=Njo1IzUxNTQ5NjIx",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "filters": [
          {
            "key": "key-60948296"
          }
        ]
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json; charset=utf-8",
        "ETag": "\"7MpD-edSVsuQiYH810SeyU9Vh5qGlIig1JbmMMBVgsQ\"",
        "Last-Modified": "Tue, 29 Jul 2025 17:46:13 GMT",
        "Link": "</kv?snapshot=snapshot-1580440812&api-version=2023-11-01>; rel=\"items\"",
        "Operation-Location": "https://te0e57d80fe738c82-azconfig-net.azconfig.io/operations?snapshot=snapshot-1580440812&api-version=2023-11-01",
        "Sync-Token": "zAJw6V16=Njo1IzUxNTQ5NjIy;sn=51549622"
      },
      "ResponseBody": {
        "etag": "7MpD-edSVsuQiYH810SeyU9Vh5qGlIig1JbmMMBVgsQ",
        "name": "snapshot-1580440812",
        "status": "provisioning",
        "filters": [
          {
            "key": "key-60948296",
            "label": null,
            "tags": []
          }
        ],
        "composition_type": "key",
        "created": "2025-07-29T17:46:13.0418084+00:00",
        "size": 0,
        "items_count": 0,
        "tags": {},
        "retention_period": 2592000
      }
    },
    {
      "RequestUri": "https://te0e57d80fe738c82-azconfig-net.azconfig.io/operations?snapshot=snapshot-1580440812&api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Njo1IzUxNTQ5NjIy",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "Sync-Token": "zAJw6V16=Njo1IzUxNTQ5NjIy;sn=51549622"
      },
      "ResponseBody": {
        "id": "qTjJVcWmX_NeQmEyRrT_A8hW5mklcTzaUz2BamGIH4E",
        "status": "Running",
        "error": null
      }
    },
[...]
    {
      "RequestUri": "https://te0e57d80fe738c82-azconfig-net.azconfig.io/snapshots/snapshot-1580440812?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=Njo1IzUxNTQ5NjIz",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "status": "archived"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json; charset=utf-8",
        "ETag": "\"5FoSvIoVRw1DH4B3v9V-Mim49wOSFwAhACYuSVSIr-c\"",
        "Last-Modified": "Tue, 29 Jul 2025 17:46:17 GMT",
        "Link": "</kv?snapshot=snapshot-1580440812&api-version=2023-11-01>; rel=\"items\"",
        "Sync-Token": "zAJw6V16=Njo1IzUxNTQ5NjI0;sn=51549624"
      },
      "ResponseBody": {
        "etag": "5FoSvIoVRw1DH4B3v9V-Mim49wOSFwAhACYuSVSIr-c",
        "name": "snapshot-1580440812",
        "status": "archived",
        "filters": [
          {
            "key": "key-60948296",
            "label": null,
            "tags": []
          }
        ],
        "composition_type": "key",
        "created": "2025-07-29T17:46:13+00:00",
        "expires": "2025-08-28T17:46:23.3920243+00:00",
        "size": 1000,
        "items_count": 0,
        "tags": {},
        "retention_period": 2592000
      }
    },
[...]
    {
      "RequestUri": "https://te0e57d80fe738c82-azconfig-net.azconfig.io/kv/key-60948296?api-version=2023-11-01&label=test_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Njo1IzUxNTQ5NjI1",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"nIVP-CY4DGkLfYf6Wq0Dl_dJIQqFIK_hIdTcJq05loQ\"",
        "Last-Modified": "Tue, 29 Jul 2025 17:46:12 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzUxNTQ5NjI2;sn=51549626"
      },
      "ResponseBody": {
        "etag": "nIVP-CY4DGkLfYf6Wq0Dl_dJIQqFIK_hIdTcJq05loQ",
        "key": "key-60948296",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2025-07-29T17:46:12+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://te0e57d80fe738c82-azconfig-net.azconfig.io;Id=L29Y;Secret=Kg==",
    "RandomSeed": "928810969"
  }
}
