{
  "Entries": [
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/kv/key-2019277614?api-version=2023-11-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"JDPQDx63P5jg8w3C4C6Cf6pQQTkYH4z9qZPyrj9srQc\"",
        "Last-Modified": "Mon, 17 Nov 2025 16:52:45 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzU3NzY0NTEw;sn=57764510",
        "x-ms-date": "Mon, 17 Nov 2025 16:52:45 GMT"
      },
      "ResponseBody": {
        "etag": "JDPQDx63P5jg8w3C4C6Cf6pQQTkYH4z9qZPyrj9srQc",
        "key": "key-2019277614",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2025-11-17T16:52:45+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/kv/key-2019277614?api-version=2023-11-01&label=test_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Njo1IzU3NzY0NTEx",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"Ijh13EaTHAj1UqySkhkUoNABTVJIcIOKVHKTqxaATi0\"",
        "Last-Modified": "Mon, 17 Nov 2025 16:52:45 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzU3NzY0NTEz;sn=57764513",
        "x-ms-date": "Mon, 17 Nov 2025 16:52:45 GMT"
      },
      "ResponseBody": {
        "etag": "Ijh13EaTHAj1UqySkhkUoNABTVJIcIOKVHKTqxaATi0",
        "key": "key-2019277614",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2025-11-17T16:52:45+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t8cdd9157ca7d1363-azconfig-net.azconfig.io;Id=wNKY;Secret=Kg==",
    "RandomSeed": "350989005"
  }
}
