{
  "Entries": [
    {
      "RequestUri": "https://tdfcae3cf5eab7143-azconfig-net.azconfig.io/kv/key-226860434?label=test_label&api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"Nlh-svpZuKX1AJnFAFr1JxfGRXoOGNfJYtQRy5S4zUI\"",
        "Last-Modified": "Wed, 24 Jul 2024 15:47:04 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzMyMjcxNzUz;sn=32271753"
      },
      "ResponseBody": {
        "etag": "Nlh-svpZuKX1AJnFAFr1JxfGRXoOGNfJYtQRy5S4zUI",
        "key": "key-226860434",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2024-07-24T15:47:04+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://tdfcae3cf5eab7143-azconfig-net.azconfig.io/kv/key-226860434?label=test_label&api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Njo1IzMyMjcxNzU0",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"D2fHei12h0wi5jw7WDedfPXNTwufA9MnmmxfVblMpig\"",
        "Last-Modified": "Wed, 24 Jul 2024 15:47:04 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzMyMjcxNzU2;sn=32271756"
      },
      "ResponseBody": {
        "etag": "D2fHei12h0wi5jw7WDedfPXNTwufA9MnmmxfVblMpig",
        "key": "key-226860434",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2024-07-24T15:47:04+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://tdfcae3cf5eab7143-azconfig-net.azconfig.io;Id=MEKF;Secret=Kg==",
    "RandomSeed": "1838119102"
  }
}
