{
  "Entries": [
    {
      "RequestUri": "https://azure-sdk-for-net-test.azconfig.io/kv/key-1717136569?api-version=2026-04-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"rwJFl4gQ71Rv9vCke_D8S2dtriZ2Xu6oAU8OHw5f6HY\"",
        "Last-Modified": "Fri, 29 May 2026 20:00:54 GMT",
        "Sync-Token": "zAJw6V16=NToxNyM0ODE0OTcyNw==;sn=48149727",
        "x-ms-date": "Fri, 29 May 2026 20:00:54 GMT"
      },
      "ResponseBody": {
        "etag": "rwJFl4gQ71Rv9vCke_D8S2dtriZ2Xu6oAU8OHw5f6HY",
        "key": "key-1717136569",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "description": null,
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-05-29T20:00:54+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://azure-sdk-for-net-test.azconfig.io/kv/key-1717136569?api-version=2026-04-01&label=test_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NToxNyM0ODE0OTcyOA==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"pMtZ3TfGgLU_edkZnXu3ipuJSVB0zl4KB8yQI13FREw\"",
        "Last-Modified": "Fri, 29 May 2026 20:00:54 GMT",
        "Sync-Token": "zAJw6V16=NToxNyM0ODE0OTczMA==;sn=48149730",
        "x-ms-date": "Fri, 29 May 2026 20:00:54 GMT"
      },
      "ResponseBody": {
        "etag": "pMtZ3TfGgLU_edkZnXu3ipuJSVB0zl4KB8yQI13FREw",
        "key": "key-1717136569",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "description": null,
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-05-29T20:00:54+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://azure-sdk-for-net-test.azconfig.io;Id=8ePU;Secret=Kg==",
    "RandomSeed": "395705875"
  }
}
