{
  "Entries": [
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv/key-344941070?api-version=2023-11-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"oIgmZ88iSXJJdEnvgmCYAKBvXXGJBo4QnCwlSYPm_to\"",
        "Last-Modified": "Tue, 09 Jun 2026 23:06:07 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY2OTk2NzUw;sn=66996750",
        "x-ms-date": "Tue, 09 Jun 2026 23:06:07 GMT"
      },
      "ResponseBody": {
        "etag": "oIgmZ88iSXJJdEnvgmCYAKBvXXGJBo4QnCwlSYPm_to",
        "key": "key-344941070",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-06-09T23:06:07+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv/key-344941070?api-version=2023-11-01&label=test_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Mzo1IzY2OTk2NzUx"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"QyFzLwr5nUsGhZIy2qN5WES-UHC_eQbjmpq-ywYGp0I\"",
        "Last-Modified": "Tue, 09 Jun 2026 23:06:07 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY2OTk2NzUz;sn=66996753",
        "x-ms-date": "Tue, 09 Jun 2026 23:06:07 GMT"
      },
      "ResponseBody": {
        "etag": "QyFzLwr5nUsGhZIy2qN5WES-UHC_eQbjmpq-ywYGp0I",
        "key": "key-344941070",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-06-09T23:06:07+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_ENDPOINT_STRING": "https://mrm90847047-azconfig-net.azconfig.io",
    "RandomSeed": "1220368696"
  }
}
