{
  "Entries": [
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-1949001687?api-version=2023-11-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"FhV0cEE6ks5jPihhG7M-jIpwFal4ZpCwwKPy1xMUCbM\"",
        "Last-Modified": "Tue, 06 Jan 2026 06:30:31 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTc3MzM2OQ==;sn=101773369",
        "x-ms-date": "Tue, 06 Jan 2026 06:30:31 GMT"
      },
      "ResponseBody": {
        "etag": "FhV0cEE6ks5jPihhG7M-jIpwFal4ZpCwwKPy1xMUCbM",
        "key": "key-1949001687",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-01-06T06:30:31+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-1949001687?api-version=2023-11-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-Match": "\"FhV0cEE6ks5jPihhG7M-jIpwFal4ZpCwwKPy1xMUCbM\"",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTc3MzM3MA==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "etag": "FhV0cEE6ks5jPihhG7M-jIpwFal4ZpCwwKPy1xMUCbM"
      },
      "StatusCode": 412,
      "ResponseHeaders": {
        "Sync-Token": "zAJw6V16=NTo1IzEwMTc3MzM3MQ==;sn=101773371",
        "x-ms-date": "Tue, 06 Jan 2026 06:30:32 GMT"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-1949001687?api-version=2023-11-01&label=test_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTc3MzM3MQ==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"9a5wxWWj9kspBWX0hnhmKLIhUotcq6l7PiKLzwZ5l-E\"",
        "Last-Modified": "Tue, 06 Jan 2026 06:30:31 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTc3MzM3Mg==;sn=101773372",
        "x-ms-date": "Tue, 06 Jan 2026 06:30:32 GMT"
      },
      "ResponseBody": {
        "etag": "9a5wxWWj9kspBWX0hnhmKLIhUotcq6l7PiKLzwZ5l-E",
        "key": "key-1949001687",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "new_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-01-06T06:30:31+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t9c954b564de572f9-azconfig-net.azconfig.io;Id=MdvE;Secret=Kg==",
    "RandomSeed": "1626804774"
  }
}
