{
  "Entries": [
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-1412344873?api-version=2023-11-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"au3OZGZvx6FwBrl-4Ff5HcxR01GsV7Y-iVfW2PzW-tc\"",
        "Last-Modified": "Tue, 06 Jan 2026 06:30:32 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTc3MzM3Mw==;sn=101773373",
        "x-ms-date": "Tue, 06 Jan 2026 06:30:32 GMT"
      },
      "ResponseBody": {
        "etag": "au3OZGZvx6FwBrl-4Ff5HcxR01GsV7Y-iVfW2PzW-tc",
        "key": "key-1412344873",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-01-06T06:30:32+00:00"
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-1412344873?api-version=2023-11-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-Match": "\"au3OZGZvx6FwBrl-4Ff5HcxR01GsV7Y-iVfW2PzW-tc\"",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTc3MzM3Mw==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "new_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "etag": "au3OZGZvx6FwBrl-4Ff5HcxR01GsV7Y-iVfW2PzW-tc"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"jfj1AkP0eMMV72IB966veTakLweOqyJiWNSSf-h4cyk\"",
        "Last-Modified": "Tue, 06 Jan 2026 06:30:32 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTc3MzM3NA==;sn=101773374",
        "x-ms-date": "Tue, 06 Jan 2026 06:30:32 GMT"
      },
      "ResponseBody": {
        "etag": "jfj1AkP0eMMV72IB966veTakLweOqyJiWNSSf-h4cyk",
        "key": "key-1412344873",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "new_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-01-06T06:30:32+00:00"
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-1412344873?api-version=2023-11-01&label=test_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTc3MzM3NA==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"jfj1AkP0eMMV72IB966veTakLweOqyJiWNSSf-h4cyk\"",
        "Last-Modified": "Tue, 06 Jan 2026 06:30:32 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTc3MzM3Ng==;sn=101773376",
        "x-ms-date": "Tue, 06 Jan 2026 06:30:32 GMT"
      },
      "ResponseBody": {
        "etag": "jfj1AkP0eMMV72IB966veTakLweOqyJiWNSSf-h4cyk",
        "key": "key-1412344873",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "new_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-01-06T06:30:32+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t9c954b564de572f9-azconfig-net.azconfig.io;Id=MdvE;Secret=Kg==",
    "RandomSeed": "2081664633"
  }
}
