{
  "Entries": [
    {
      "RequestUri": "https://azure-sdk-for-net-test.azconfig.io/kv/key-126282988?api-version=2026-04-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"8oVLnyGTZecVSUSkWiHEBWWtM4JLGDPpTVXZIXOouuA\"",
        "Last-Modified": "Thu, 28 May 2026 00:03:04 GMT",
        "Sync-Token": "zAJw6V16=NToxNyM0ODA0MjU5OQ==;sn=48042599",
        "x-ms-date": "Thu, 28 May 2026 00:03:04 GMT"
      },
      "ResponseBody": {
        "etag": "8oVLnyGTZecVSUSkWiHEBWWtM4JLGDPpTVXZIXOouuA",
        "key": "key-126282988",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "description": null,
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-05-28T00:03:04+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://azure-sdk-for-net-test.azconfig.io/kv/key-126282988?api-version=2026-04-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-Match": "\"8oVLnyGTZecVSUSkWiHEBWWtM4JLGDPpTVXZIXOouuA\"",
        "Sync-Token": "zAJw6V16=NToxNyM0ODA0MjYwMA==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "etag": "8oVLnyGTZecVSUSkWiHEBWWtM4JLGDPpTVXZIXOouuA"
      },
      "StatusCode": 412,
      "ResponseHeaders": {
        "Sync-Token": "zAJw6V16=NToxNyM0ODA0MjYwMQ==;sn=48042601",
        "x-ms-date": "Thu, 28 May 2026 00:03:04 GMT"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://azure-sdk-for-net-test.azconfig.io/kv/key-126282988?api-version=2026-04-01&label=test_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NToxNyM0ODA0MjYwMQ==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"BQodvXsMdXxyXN8oEwP9x4P2LrIXwncwAvR48mFcnVg\"",
        "Last-Modified": "Thu, 28 May 2026 00:03:04 GMT",
        "Sync-Token": "zAJw6V16=NToxNyM0ODA0MjYwMg==;sn=48042602",
        "x-ms-date": "Thu, 28 May 2026 00:03:04 GMT"
      },
      "ResponseBody": {
        "etag": "BQodvXsMdXxyXN8oEwP9x4P2LrIXwncwAvR48mFcnVg",
        "key": "key-126282988",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "new_value",
        "description": null,
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-05-28T00:03:04+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://azure-sdk-for-net-test.azconfig.io;Id=8ePU;Secret=Kg==",
    "RandomSeed": "2096494811"
  }
}
