{
  "Entries": [
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/kv/key-977849462?api-version=2023-11-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"Wgr1cYp_UB9KAfcQsvo1IbJEqlt1xI8Dt5tXDlnSgxI\"",
        "Last-Modified": "Thu, 09 Oct 2025 16:29:51 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzU1NTMyMzMw;sn=55532330",
        "x-ms-date": "Thu, 09 Oct 2025 16:29:51 GMT"
      },
      "ResponseBody": {
        "etag": "Wgr1cYp_UB9KAfcQsvo1IbJEqlt1xI8Dt5tXDlnSgxI",
        "key": "key-977849462",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2025-10-09T16:29:51+00:00"
      }
    },
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/kv/key-977849462?api-version=2023-11-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-Match": "\"Wgr1cYp_UB9KAfcQsvo1IbJEqlt1xI8Dt5tXDlnSgxI\"",
        "Sync-Token": "zAJw6V16=Njo1IzU1NTMyMzMw",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "new_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "etag": "Wgr1cYp_UB9KAfcQsvo1IbJEqlt1xI8Dt5tXDlnSgxI"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"Z0M4KvKXn-tvAKG85kRPreeWzMJ5z6ic3EZplnUW8fo\"",
        "Last-Modified": "Thu, 09 Oct 2025 16:29:51 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzU1NTMyMzMx;sn=55532331",
        "x-ms-date": "Thu, 09 Oct 2025 16:29:51 GMT"
      },
      "ResponseBody": {
        "etag": "Z0M4KvKXn-tvAKG85kRPreeWzMJ5z6ic3EZplnUW8fo",
        "key": "key-977849462",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "new_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2025-10-09T16:29:51+00:00"
      }
    },
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/kv/key-977849462?api-version=2023-11-01&label=test_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Njo1IzU1NTMyMzMx",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"Z0M4KvKXn-tvAKG85kRPreeWzMJ5z6ic3EZplnUW8fo\"",
        "Last-Modified": "Thu, 09 Oct 2025 16:29:51 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzU1NTMyMzMz;sn=55532333",
        "x-ms-date": "Thu, 09 Oct 2025 16:29:51 GMT"
      },
      "ResponseBody": {
        "etag": "Z0M4KvKXn-tvAKG85kRPreeWzMJ5z6ic3EZplnUW8fo",
        "key": "key-977849462",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "new_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2025-10-09T16:29:51+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t8cdd9157ca7d1363-azconfig-net.azconfig.io;Id=wNKY;Secret=Kg==",
    "RandomSeed": "259745468"
  }
}
