{
  "Entries": [
    {
      "RequestUri": "https://t02f6e87f544544f3-azconfig-net.azconfig.io/kv/key-1549161280?label=test_label\u0026api-version=2022-11-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "b11OQu6GthUatwGXUIKHHSRVyik0TdrUk5kZm3yZd2A="
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022wJ5AVZnFNilArH30uIDnnBUZN4bFTfDBN9A_CaUFyY0\u0022",
        "Last-Modified": "Fri, 30 Jun 2023 19:06:24 GMT",
        "Sync-Token": "zAJw6V16=ODo1IzI0ODY5NTk4;sn=24869598"
      },
      "ResponseBody": {
        "etag": "wJ5AVZnFNilArH30uIDnnBUZN4bFTfDBN9A_CaUFyY0",
        "key": "key-1549161280",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2023-06-30T19:06:24\u002B00:00"
      }
    },
[...]
    {
      "RequestUri": "https://t02f6e87f544544f3-azconfig-net.azconfig.io/kv/key-1549161280?label=test_label\u0026api-version=2022-11-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-Match": "\u0022wJ5AVZnFNilArH30uIDnnBUZN4bFTfDBN9A_CaUFyY0\u0022",
        "Sync-Token": "zAJw6V16=ODo1IzI0ODY5NTk5",
        "x-ms-content-sha256": "Eh9Fm2vX2ziOtGbhCMOP1N/Pb4TOR\u002BYov22P\u002BRE\u002BssM="
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "etag": "wJ5AVZnFNilArH30uIDnnBUZN4bFTfDBN9A_CaUFyY0"
      },
      "StatusCode": 412,
      "ResponseHeaders": {
        "Sync-Token": "zAJw6V16=ODo1IzI0ODY5NjAw;sn=24869600"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://t02f6e87f544544f3-azconfig-net.azconfig.io/kv/key-1549161280?label=test_label\u0026api-version=2022-11-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=ODo1IzI0ODY5NjAw",
        "x-ms-content-sha256": "47DEQpj8HBSa\u002B/TImW\u002B5JCeuQeRkm5NMpJWZG3hSuFU="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u00226G-BuJgxeoZAt_udSwP_-x4qB4AysvMmKMrzUpUjw_E\u0022",
        "Last-Modified": "Fri, 30 Jun 2023 19:06:25 GMT",
        "Sync-Token": "zAJw6V16=ODo1IzI0ODY5NjAx;sn=24869601"
      },
      "ResponseBody": {
        "etag": "6G-BuJgxeoZAt_udSwP_-x4qB4AysvMmKMrzUpUjw_E",
        "key": "key-1549161280",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "new_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2023-06-30T19:06:25\u002B00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t02f6e87f544544f3-azconfig-net.azconfig.io;Id=Ek\u002BM;Secret=Kg==",
    "RandomSeed": "652078779"
  }
}
