{
  "Entries": [
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv/key-1786104104?api-version=2026-04-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "description": "test_description"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"edUCvtdBX5unZkXuQbvfeZyWeMnxr5U_6r1xGFAvsWU\"",
        "Last-Modified": "Wed, 10 Jun 2026 19:29:44 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDc1MDAx;sn=67075001",
        "x-ms-date": "Wed, 10 Jun 2026 19:29:44 GMT"
      },
      "ResponseBody": {
        "etag": "edUCvtdBX5unZkXuQbvfeZyWeMnxr5U_6r1xGFAvsWU",
        "key": "key-1786104104",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "description": "test_description",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-06-10T19:29:44+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv/key-1786104104?api-version=2026-04-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-Match": "\"edUCvtdBX5unZkXuQbvfeZyWeMnxr5U_6r1xGFAvsWU\"",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDc1MDAy"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "etag": "edUCvtdBX5unZkXuQbvfeZyWeMnxr5U_6r1xGFAvsWU",
        "description": "test_description"
      },
      "StatusCode": 412,
      "ResponseHeaders": {
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDc1MDAz;sn=67075003",
        "x-ms-date": "Wed, 10 Jun 2026 19:29:44 GMT"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv/key-1786104104?api-version=2026-04-01&label=test_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDc1MDAz"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"uC3jUXjC2SflWbJPzL5aekve3n9cR7ff1JJpARFvjCk\"",
        "Last-Modified": "Wed, 10 Jun 2026 19:29:44 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDc1MDA0;sn=67075004",
        "x-ms-date": "Wed, 10 Jun 2026 19:29:44 GMT"
      },
      "ResponseBody": {
        "etag": "uC3jUXjC2SflWbJPzL5aekve3n9cR7ff1JJpARFvjCk",
        "key": "key-1786104104",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "new_value",
        "description": "test_description",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-06-10T19:29:44+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_ENDPOINT_STRING": "https://mrm90847047-azconfig-net.azconfig.io",
    "RandomSeed": "882865517"
  }
}
