{
  "Entries": [
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/kv/key-1233388661?api-version=2023-11-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"jIsqPwZhrMQntg9P445NF79pchN5n409oaLiguCdu9E\"",
        "Last-Modified": "Tue, 18 Nov 2025 04:31:29 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzU3ODA0NjY5;sn=57804669",
        "x-ms-date": "Tue, 18 Nov 2025 04:31:29 GMT"
      },
      "ResponseBody": {
        "etag": "jIsqPwZhrMQntg9P445NF79pchN5n409oaLiguCdu9E",
        "key": "key-1233388661",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2025-11-18T04:31:29+00:00"
      }
    },
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/kv/key-1233388661?api-version=2023-11-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-Match": "\"jIsqPwZhrMQntg9P445NF79pchN5n409oaLiguCdu9E\"",
        "Sync-Token": "zAJw6V16=Njo1IzU3ODA0NjY5",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "new_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "etag": "jIsqPwZhrMQntg9P445NF79pchN5n409oaLiguCdu9E"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"muy4wWe4ukJURP1qoEOCPQWi2cZyCn23eIKmbPmk1RA\"",
        "Last-Modified": "Tue, 18 Nov 2025 04:31:29 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzU3ODA0Njcw;sn=57804670",
        "x-ms-date": "Tue, 18 Nov 2025 04:31:29 GMT"
      },
      "ResponseBody": {
        "etag": "muy4wWe4ukJURP1qoEOCPQWi2cZyCn23eIKmbPmk1RA",
        "key": "key-1233388661",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "new_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2025-11-18T04:31:29+00:00"
      }
    },
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/kv/key-1233388661?api-version=2023-11-01&label=test_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Njo1IzU3ODA0Njcw",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"muy4wWe4ukJURP1qoEOCPQWi2cZyCn23eIKmbPmk1RA\"",
        "Last-Modified": "Tue, 18 Nov 2025 04:31:29 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzU3ODA0Njcy;sn=57804672",
        "x-ms-date": "Tue, 18 Nov 2025 04:31:29 GMT"
      },
      "ResponseBody": {
        "etag": "muy4wWe4ukJURP1qoEOCPQWi2cZyCn23eIKmbPmk1RA",
        "key": "key-1233388661",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "new_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2025-11-18T04:31:29+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t8cdd9157ca7d1363-azconfig-net.azconfig.io;Id=wNKY;Secret=Kg==",
    "RandomSeed": "2088635011"
  }
}
