{
  "Entries": [
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-409549433?api-version=2023-11-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"AJak74UUtdGo6wwswfVnCq4ee7UwDnG4l7fRwdg1W-4\"",
        "Last-Modified": "Tue, 23 Dec 2025 05:45:24 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTA0OTYwNQ==;sn=101049605",
        "x-ms-date": "Tue, 23 Dec 2025 05:45:24 GMT"
      },
      "ResponseBody": {
        "etag": "AJak74UUtdGo6wwswfVnCq4ee7UwDnG4l7fRwdg1W-4",
        "key": "key-409549433",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2025-12-23T05:45:24+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-409549433?api-version=2023-11-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-Match": "\"AJak74UUtdGo6wwswfVnCq4ee7UwDnG4l7fRwdg1W-4\"",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTA0OTYwNg==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "etag": "AJak74UUtdGo6wwswfVnCq4ee7UwDnG4l7fRwdg1W-4"
      },
      "StatusCode": 412,
      "ResponseHeaders": {
        "Sync-Token": "zAJw6V16=NTo1IzEwMTA0OTYwNw==;sn=101049607",
        "x-ms-date": "Tue, 23 Dec 2025 05:45:24 GMT"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-409549433?api-version=2023-11-01&label=test_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTA0OTYwNw==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"6GT6mNCVeJ6sY-MT_i2ketDQkQ-imlkwvXsUYn_haGc\"",
        "Last-Modified": "Tue, 23 Dec 2025 05:45:24 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTA0OTYwOA==;sn=101049608",
        "x-ms-date": "Tue, 23 Dec 2025 05:45:24 GMT"
      },
      "ResponseBody": {
        "etag": "6GT6mNCVeJ6sY-MT_i2ketDQkQ-imlkwvXsUYn_haGc",
        "key": "key-409549433",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "new_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2025-12-23T05:45:24+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t9c954b564de572f9-azconfig-net.azconfig.io;Id=MdvE;Secret=Kg==",
    "RandomSeed": "1797681902"
  }
}
