{
  "Entries": [
    {
      "RequestUri": "https://jsquire-08-azconfig-net.azconfig.io/kv/key-1241060995?label=test_label\u0026api-version=1.0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "b11OQu6GthUatwGXUIKHHSRVyik0TdrUk5kZm3yZd2A="
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022kIqUN5hFMJ6g2WU6KtFxtMOmkgx0Dd5PXpY25paT4hw\u0022",
        "Last-Modified": "Fri, 08 Sep 2023 13:35:25 GMT",
        "Sync-Token": "zAJw6V16=NToxOSM1MzQ0OTE2Mg==;sn=53449162",
        "x-ms-resource-group": "jsquire-appconfig",
        "x-ms-subscription-id": "faa080af-c1d8-40ad-9cce-e1a450ca5b57",
        "x-ms-tenant-name": "jsquire-08-azconfig-net"
      },
      "ResponseBody": {
        "etag": "kIqUN5hFMJ6g2WU6KtFxtMOmkgx0Dd5PXpY25paT4hw",
        "key": "key-1241060995",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2023-09-08T13:35:25\u002B00:00"
      }
    },
    {
      "RequestUri": "https://jsquire-08-azconfig-net.azconfig.io/kv/key-1241060995?label=test_label\u0026api-version=1.0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-Match": "\u0022kIqUN5hFMJ6g2WU6KtFxtMOmkgx0Dd5PXpY25paT4hw\u0022",
        "Sync-Token": "zAJw6V16=NToxOSM1MzQ0OTE2Mg==",
        "x-ms-content-sha256": "2\u002BU19jnA7PqA6dc1bNs6WstWz7q8/S8FK7AW65NbhgE="
      },
      "RequestBody": {
        "value": "new_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "etag": "kIqUN5hFMJ6g2WU6KtFxtMOmkgx0Dd5PXpY25paT4hw"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022G8QqxEQg3mvzRn7XQFyIkfachs1wkdQLRmbUdy8Cljg\u0022",
        "Last-Modified": "Fri, 08 Sep 2023 13:35:25 GMT",
        "Sync-Token": "zAJw6V16=NToxOSM1MzQ0OTE2Mw==;sn=53449163",
        "x-ms-resource-group": "jsquire-appconfig",
        "x-ms-subscription-id": "faa080af-c1d8-40ad-9cce-e1a450ca5b57",
        "x-ms-tenant-name": "jsquire-08-azconfig-net"
      },
      "ResponseBody": {
        "etag": "G8QqxEQg3mvzRn7XQFyIkfachs1wkdQLRmbUdy8Cljg",
        "key": "key-1241060995",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "new_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2023-09-08T13:35:25\u002B00:00"
      }
    },
    {
      "RequestUri": "https://jsquire-08-azconfig-net.azconfig.io/kv/key-1241060995?label=test_label\u0026api-version=1.0",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NToxOSM1MzQ0OTE2Mw==",
        "x-ms-content-sha256": "47DEQpj8HBSa\u002B/TImW\u002B5JCeuQeRkm5NMpJWZG3hSuFU="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022G8QqxEQg3mvzRn7XQFyIkfachs1wkdQLRmbUdy8Cljg\u0022",
        "Last-Modified": "Fri, 08 Sep 2023 13:35:25 GMT",
        "Sync-Token": "zAJw6V16=NToxOSM1MzQ0OTE2NQ==;sn=53449165",
        "x-ms-resource-group": "jsquire-appconfig",
        "x-ms-subscription-id": "faa080af-c1d8-40ad-9cce-e1a450ca5b57",
        "x-ms-tenant-name": "jsquire-08-azconfig-net"
      },
      "ResponseBody": {
        "etag": "G8QqxEQg3mvzRn7XQFyIkfachs1wkdQLRmbUdy8Cljg",
        "key": "key-1241060995",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "new_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2023-09-08T13:35:25\u002B00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://jsquire-08-azconfig-net.azconfig.io;Id=bAH8;Secret=Kg==",
    "RandomSeed": "28810738"
  }
}
