{
  "Entries": [
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/kv/key-962890973?api-version=2023-11-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"DprCs23rbB3hWM8nnkDyz1y17sO_Ki10L1gCH0uSvps\"",
        "Last-Modified": "Thu, 09 Oct 2025 16:35:17 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzU1NTMzMjk5;sn=55533299",
        "x-ms-date": "Thu, 09 Oct 2025 16:35:17 GMT"
      },
      "ResponseBody": {
        "etag": "DprCs23rbB3hWM8nnkDyz1y17sO_Ki10L1gCH0uSvps",
        "key": "key-962890973",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2025-10-09T16:35:17+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/kv/key-962890973?api-version=2023-11-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-Match": "\"DprCs23rbB3hWM8nnkDyz1y17sO_Ki10L1gCH0uSvps\"",
        "Sync-Token": "zAJw6V16=Njo1IzU1NTMzMzAw",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "etag": "DprCs23rbB3hWM8nnkDyz1y17sO_Ki10L1gCH0uSvps"
      },
      "StatusCode": 412,
      "ResponseHeaders": {
        "Sync-Token": "zAJw6V16=Njo1IzU1NTMzMzAx;sn=55533301",
        "x-ms-date": "Thu, 09 Oct 2025 16:35:17 GMT"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/kv/key-962890973?api-version=2023-11-01&label=test_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Njo1IzU1NTMzMzAx",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"lHfrb8omAtkOAwaRMbs987ySmWh8pVlRXEmnYjkdHkQ\"",
        "Last-Modified": "Thu, 09 Oct 2025 16:35:17 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzU1NTMzMzAy;sn=55533302",
        "x-ms-date": "Thu, 09 Oct 2025 16:35:17 GMT"
      },
      "ResponseBody": {
        "etag": "lHfrb8omAtkOAwaRMbs987ySmWh8pVlRXEmnYjkdHkQ",
        "key": "key-962890973",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "new_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2025-10-09T16:35:17+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t8cdd9157ca7d1363-azconfig-net.azconfig.io;Id=wNKY;Secret=Kg==",
    "RandomSeed": "630481745"
  }
}
