{
  "Entries": [
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-1964227647?api-version=2023-11-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"lOhrMmM90Hp8QjiX-DjEojZHyR6S8FXoQ9RKAZikYNo\"",
        "Last-Modified": "Fri, 23 Jan 2026 07:12:58 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU3NTU1OQ==;sn=103575559",
        "x-ms-date": "Fri, 23 Jan 2026 07:12:58 GMT"
      },
      "ResponseBody": {
        "etag": "lOhrMmM90Hp8QjiX-DjEojZHyR6S8FXoQ9RKAZikYNo",
        "key": "key-1964227647",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-01-23T07:12:58+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-1964227647?api-version=2023-11-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-Match": "\"lOhrMmM90Hp8QjiX-DjEojZHyR6S8FXoQ9RKAZikYNo\"",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU3NTU2MA==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "etag": "lOhrMmM90Hp8QjiX-DjEojZHyR6S8FXoQ9RKAZikYNo"
      },
      "StatusCode": 412,
      "ResponseHeaders": {
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU3NTU2MQ==;sn=103575561",
        "x-ms-date": "Fri, 23 Jan 2026 07:12:59 GMT"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-1964227647?api-version=2023-11-01&label=test_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU3NTU2MQ==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"57epnZh5rahaPVhY3vBQ3mINArqQ-MXF130J3MFxkLk\"",
        "Last-Modified": "Fri, 23 Jan 2026 07:12:59 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU3NTU2Mg==;sn=103575562",
        "x-ms-date": "Fri, 23 Jan 2026 07:12:59 GMT"
      },
      "ResponseBody": {
        "etag": "57epnZh5rahaPVhY3vBQ3mINArqQ-MXF130J3MFxkLk",
        "key": "key-1964227647",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "new_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-01-23T07:12:59+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t9c954b564de572f9-azconfig-net.azconfig.io;Id=MdvE;Secret=Kg==",
    "RandomSeed": "1306553453"
  }
}
