{
  "Entries": [
    {
      "RequestUri": "https://t02f6e87f544544f3-azconfig-net.azconfig.io/kv/key-889473079?label=test_label\u0026api-version=2022-11-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "b11OQu6GthUatwGXUIKHHSRVyik0TdrUk5kZm3yZd2A="
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022yGhiqXVnMFSzsxfZKm-aQjsSO2_s2mTHYX8Pbo2CSsg\u0022",
        "Last-Modified": "Fri, 30 Jun 2023 19:06:25 GMT",
        "Sync-Token": "zAJw6V16=ODo1IzI0ODY5NjAy;sn=24869602"
      },
      "ResponseBody": {
        "etag": "yGhiqXVnMFSzsxfZKm-aQjsSO2_s2mTHYX8Pbo2CSsg",
        "key": "key-889473079",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2023-06-30T19:06:25\u002B00:00"
      }
    },
    {
      "RequestUri": "https://t02f6e87f544544f3-azconfig-net.azconfig.io/kv/key-889473079?label=test_label\u0026api-version=2022-11-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-Match": "\u0022yGhiqXVnMFSzsxfZKm-aQjsSO2_s2mTHYX8Pbo2CSsg\u0022",
        "Sync-Token": "zAJw6V16=ODo1IzI0ODY5NjAy",
        "x-ms-content-sha256": "keZsuHVThpSEQ46fKkKw74DqV52m3GqKJjaj6Fuqb\u002BI="
      },
      "RequestBody": {
        "value": "new_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "etag": "yGhiqXVnMFSzsxfZKm-aQjsSO2_s2mTHYX8Pbo2CSsg"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022EkKQoe-gO4n8Hk6nAwYU-0Ni_SelrAJmtZepOEAsY2I\u0022",
        "Last-Modified": "Fri, 30 Jun 2023 19:06:25 GMT",
        "Sync-Token": "zAJw6V16=ODo1IzI0ODY5NjAz;sn=24869603"
      },
      "ResponseBody": {
        "etag": "EkKQoe-gO4n8Hk6nAwYU-0Ni_SelrAJmtZepOEAsY2I",
        "key": "key-889473079",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "new_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2023-06-30T19:06:25\u002B00:00"
      }
    },
    {
      "RequestUri": "https://t02f6e87f544544f3-azconfig-net.azconfig.io/kv/key-889473079?label=test_label\u0026api-version=2022-11-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=ODo1IzI0ODY5NjAz",
        "x-ms-content-sha256": "47DEQpj8HBSa\u002B/TImW\u002B5JCeuQeRkm5NMpJWZG3hSuFU="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022EkKQoe-gO4n8Hk6nAwYU-0Ni_SelrAJmtZepOEAsY2I\u0022",
        "Last-Modified": "Fri, 30 Jun 2023 19:06:25 GMT",
        "Sync-Token": "zAJw6V16=ODo1IzI0ODY5NjA1;sn=24869605"
      },
      "ResponseBody": {
        "etag": "EkKQoe-gO4n8Hk6nAwYU-0Ni_SelrAJmtZepOEAsY2I",
        "key": "key-889473079",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "new_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2023-06-30T19:06:25\u002B00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t02f6e87f544544f3-azconfig-net.azconfig.io;Id=Ek\u002BM;Secret=Kg==",
    "RandomSeed": "783678839"
  }
}
