{
  "Entries": [
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv/key-1867177290?api-version=2026-04-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "description": "test_description"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"5vjLwe9vA6c-Z3cPdJTlCKDGXxsCUlaIq02IBhtm8mY\"",
        "Last-Modified": "Wed, 10 Jun 2026 21:44:48 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDk1MTMw;sn=67095130",
        "x-ms-date": "Wed, 10 Jun 2026 21:44:48 GMT"
      },
      "ResponseBody": {
        "etag": "5vjLwe9vA6c-Z3cPdJTlCKDGXxsCUlaIq02IBhtm8mY",
        "key": "key-1867177290",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "description": "test_description",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-06-10T21:44:48+00:00"
      }
    },
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv/key-1867177290?api-version=2026-04-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-Match": "\"5vjLwe9vA6c-Z3cPdJTlCKDGXxsCUlaIq02IBhtm8mY\"",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDk1MTMw"
      },
      "RequestBody": {
        "value": "new_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "etag": "5vjLwe9vA6c-Z3cPdJTlCKDGXxsCUlaIq02IBhtm8mY",
        "description": "test_description"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"p_TXLrwlJelgk-dhckMKI0MLcKLrMLbYmzrk7OF0q7g\"",
        "Last-Modified": "Wed, 10 Jun 2026 21:44:48 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDk1MTMx;sn=67095131",
        "x-ms-date": "Wed, 10 Jun 2026 21:44:48 GMT"
      },
      "ResponseBody": {
        "etag": "p_TXLrwlJelgk-dhckMKI0MLcKLrMLbYmzrk7OF0q7g",
        "key": "key-1867177290",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "new_value",
        "description": "test_description",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-06-10T21:44:48+00:00"
      }
    },
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv/key-1867177290?api-version=2026-04-01&label=test_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDk1MTMx"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"p_TXLrwlJelgk-dhckMKI0MLcKLrMLbYmzrk7OF0q7g\"",
        "Last-Modified": "Wed, 10 Jun 2026 21:44:48 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDk1MTMz;sn=67095133",
        "x-ms-date": "Wed, 10 Jun 2026 21:44:48 GMT"
      },
      "ResponseBody": {
        "etag": "p_TXLrwlJelgk-dhckMKI0MLcKLrMLbYmzrk7OF0q7g",
        "key": "key-1867177290",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "new_value",
        "description": "test_description",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-06-10T21:44:48+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_ENDPOINT_STRING": "https://mrm90847047-azconfig-net.azconfig.io",
    "RandomSeed": "354523891"
  }
}
