{
  "Entries": [
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/kv/key-1038391289?api-version=2023-11-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"I6f2iTe8jPNnybGIVyEtWSduDs1rmHk7JJfJowD1Xb0\"",
        "Last-Modified": "Tue, 18 Nov 2025 04:25:21 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzU3ODA0MTk5;sn=57804199",
        "x-ms-date": "Tue, 18 Nov 2025 04:25:21 GMT"
      },
      "ResponseBody": {
        "etag": "I6f2iTe8jPNnybGIVyEtWSduDs1rmHk7JJfJowD1Xb0",
        "key": "key-1038391289",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2025-11-18T04:25:21+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/kv/key-1038391289?api-version=2023-11-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-Match": "\"I6f2iTe8jPNnybGIVyEtWSduDs1rmHk7JJfJowD1Xb0\"",
        "Sync-Token": "zAJw6V16=Njo1IzU3ODA0MjAw",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "etag": "I6f2iTe8jPNnybGIVyEtWSduDs1rmHk7JJfJowD1Xb0"
      },
      "StatusCode": 412,
      "ResponseHeaders": {
        "Sync-Token": "zAJw6V16=Njo1IzU3ODA0MjAx;sn=57804201",
        "x-ms-date": "Tue, 18 Nov 2025 04:25:21 GMT"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/kv/key-1038391289?api-version=2023-11-01&label=test_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Njo1IzU3ODA0MjAx",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"aqKMUvgFe4Hnhmpq-0grHBuIWgnlVAUhyOr6aHt8bXM\"",
        "Last-Modified": "Tue, 18 Nov 2025 04:25:21 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzU3ODA0MjAy;sn=57804202",
        "x-ms-date": "Tue, 18 Nov 2025 04:25:21 GMT"
      },
      "ResponseBody": {
        "etag": "aqKMUvgFe4Hnhmpq-0grHBuIWgnlVAUhyOr6aHt8bXM",
        "key": "key-1038391289",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "new_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2025-11-18T04:25:21+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t8cdd9157ca7d1363-azconfig-net.azconfig.io;Id=wNKY;Secret=Kg==",
    "RandomSeed": "1699150096"
  }
}
