{
  "Entries": [
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-427327446?api-version=2023-11-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"BM7VSP8WqzK0QOBiDpiv7-1fMq1VwDryKRHko-ETYWM\"",
        "Last-Modified": "Mon, 26 Jan 2026 05:43:12 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzg1MTMzMA==;sn=103851330",
        "x-ms-date": "Mon, 26 Jan 2026 05:43:12 GMT"
      },
      "ResponseBody": {
        "etag": "BM7VSP8WqzK0QOBiDpiv7-1fMq1VwDryKRHko-ETYWM",
        "key": "key-427327446",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-01-26T05:43:12+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-427327446?api-version=2023-11-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-Match": "\"BM7VSP8WqzK0QOBiDpiv7-1fMq1VwDryKRHko-ETYWM\"",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzg1MTMzMQ==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "etag": "BM7VSP8WqzK0QOBiDpiv7-1fMq1VwDryKRHko-ETYWM"
      },
      "StatusCode": 412,
      "ResponseHeaders": {
        "Sync-Token": "zAJw6V16=NTo1IzEwMzg1MTMzMg==;sn=103851332",
        "x-ms-date": "Mon, 26 Jan 2026 05:43:12 GMT"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-427327446?api-version=2023-11-01&label=test_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzg1MTMzMg==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"_KVpwm2YBecdAGcGdkJDAg2SPnucxeoaiZGxUf8_5rI\"",
        "Last-Modified": "Mon, 26 Jan 2026 05:43:12 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzg1MTMzMw==;sn=103851333",
        "x-ms-date": "Mon, 26 Jan 2026 05:43:12 GMT"
      },
      "ResponseBody": {
        "etag": "_KVpwm2YBecdAGcGdkJDAg2SPnucxeoaiZGxUf8_5rI",
        "key": "key-427327446",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "new_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-01-26T05:43:12+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t9c954b564de572f9-azconfig-net.azconfig.io;Id=MdvE;Secret=Kg==",
    "RandomSeed": "1622166056"
  }
}
