{
  "Entries": [
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv/key-1765659093?api-version=2023-11-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"RgzB1Irbv2aizo_r1C2uNNaIbewk4ZKkwGOGZFHs_sY\"",
        "Last-Modified": "Tue, 09 Jun 2026 22:58:02 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY2OTk1NjI5;sn=66995629",
        "x-ms-date": "Tue, 09 Jun 2026 22:58:02 GMT"
      },
      "ResponseBody": {
        "etag": "RgzB1Irbv2aizo_r1C2uNNaIbewk4ZKkwGOGZFHs_sY",
        "key": "key-1765659093",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-06-09T22:58:02+00:00"
      }
    },
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv/key-1765659093?api-version=2023-11-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-Match": "\"RgzB1Irbv2aizo_r1C2uNNaIbewk4ZKkwGOGZFHs_sY\"",
        "Sync-Token": "zAJw6V16=Mzo1IzY2OTk1NjI5"
      },
      "RequestBody": {
        "value": "new_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "etag": "RgzB1Irbv2aizo_r1C2uNNaIbewk4ZKkwGOGZFHs_sY"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"1KQporzbwjH7ld8A1UbntBsYHqf-ITy8-4o6Bk-OfAA\"",
        "Last-Modified": "Tue, 09 Jun 2026 22:58:02 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY2OTk1NjMw;sn=66995630",
        "x-ms-date": "Tue, 09 Jun 2026 22:58:02 GMT"
      },
      "ResponseBody": {
        "etag": "1KQporzbwjH7ld8A1UbntBsYHqf-ITy8-4o6Bk-OfAA",
        "key": "key-1765659093",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "new_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-06-09T22:58:02+00:00"
      }
    },
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv/key-1765659093?api-version=2023-11-01&label=test_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Mzo1IzY2OTk1NjMw"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"1KQporzbwjH7ld8A1UbntBsYHqf-ITy8-4o6Bk-OfAA\"",
        "Last-Modified": "Tue, 09 Jun 2026 22:58:02 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY2OTk1NjMy;sn=66995632",
        "x-ms-date": "Tue, 09 Jun 2026 22:58:02 GMT"
      },
      "ResponseBody": {
        "etag": "1KQporzbwjH7ld8A1UbntBsYHqf-ITy8-4o6Bk-OfAA",
        "key": "key-1765659093",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "new_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-06-09T22:58:02+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_ENDPOINT_STRING": "https://mrm90847047-azconfig-net.azconfig.io",
    "RandomSeed": "1104706511"
  }
}
