{
  "Entries": [
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-476999879?api-version=2023-11-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"vs3TYktuDs-0bhopjtylbZ510KS8ZEy3AWwPidJOC8E\"",
        "Last-Modified": "Thu, 22 Jan 2026 02:04:11 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzQ3NDc0MA==;sn=103474740",
        "x-ms-date": "Thu, 22 Jan 2026 02:04:11 GMT"
      },
      "ResponseBody": {
        "etag": "vs3TYktuDs-0bhopjtylbZ510KS8ZEy3AWwPidJOC8E",
        "key": "key-476999879",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-01-22T02:04:11+00:00"
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-476999879?api-version=2023-11-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-Match": "\"vs3TYktuDs-0bhopjtylbZ510KS8ZEy3AWwPidJOC8E\"",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzQ3NDc0MA==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "new_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "etag": "vs3TYktuDs-0bhopjtylbZ510KS8ZEy3AWwPidJOC8E"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"DVPcSZyiqvH2vEjToH0yMckHC8LtKz80awFsS5A5Y6c\"",
        "Last-Modified": "Thu, 22 Jan 2026 02:04:11 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzQ3NDc0MQ==;sn=103474741",
        "x-ms-date": "Thu, 22 Jan 2026 02:04:11 GMT"
      },
      "ResponseBody": {
        "etag": "DVPcSZyiqvH2vEjToH0yMckHC8LtKz80awFsS5A5Y6c",
        "key": "key-476999879",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "new_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-01-22T02:04:11+00:00"
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-476999879?api-version=2023-11-01&label=test_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzQ3NDc0MQ==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"DVPcSZyiqvH2vEjToH0yMckHC8LtKz80awFsS5A5Y6c\"",
        "Last-Modified": "Thu, 22 Jan 2026 02:04:11 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzQ3NDc0Mw==;sn=103474743",
        "x-ms-date": "Thu, 22 Jan 2026 02:04:11 GMT"
      },
      "ResponseBody": {
        "etag": "DVPcSZyiqvH2vEjToH0yMckHC8LtKz80awFsS5A5Y6c",
        "key": "key-476999879",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "new_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-01-22T02:04:11+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t9c954b564de572f9-azconfig-net.azconfig.io;Id=MdvE;Secret=Kg==",
    "RandomSeed": "470072678"
  }
}
