{
  "Entries": [
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-684954848?api-version=2023-11-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"4wkPCfUI7fMg09BancqQ6bbD231aD5tvWNBIH_9-0VA\"",
        "Last-Modified": "Tue, 06 Jan 2026 01:20:32 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTc2NjUxNA==;sn=101766514",
        "x-ms-date": "Tue, 06 Jan 2026 01:20:32 GMT"
      },
      "ResponseBody": {
        "etag": "4wkPCfUI7fMg09BancqQ6bbD231aD5tvWNBIH_9-0VA",
        "key": "key-684954848",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-01-06T01:20:32+00:00"
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-684954848?api-version=2023-11-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-Match": "\"4wkPCfUI7fMg09BancqQ6bbD231aD5tvWNBIH_9-0VA\"",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTc2NjUxNA==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "new_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "etag": "4wkPCfUI7fMg09BancqQ6bbD231aD5tvWNBIH_9-0VA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"49_GTn6AWgDX1KGwPjG7xYs31ZVRjBrW_IKEHZiPo3M\"",
        "Last-Modified": "Tue, 06 Jan 2026 01:20:32 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTc2NjUxNQ==;sn=101766515",
        "x-ms-date": "Tue, 06 Jan 2026 01:20:32 GMT"
      },
      "ResponseBody": {
        "etag": "49_GTn6AWgDX1KGwPjG7xYs31ZVRjBrW_IKEHZiPo3M",
        "key": "key-684954848",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "new_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-01-06T01:20:32+00:00"
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-684954848?api-version=2023-11-01&label=test_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTc2NjUxNQ==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"49_GTn6AWgDX1KGwPjG7xYs31ZVRjBrW_IKEHZiPo3M\"",
        "Last-Modified": "Tue, 06 Jan 2026 01:20:32 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTc2NjUxNw==;sn=101766517",
        "x-ms-date": "Tue, 06 Jan 2026 01:20:32 GMT"
      },
      "ResponseBody": {
        "etag": "49_GTn6AWgDX1KGwPjG7xYs31ZVRjBrW_IKEHZiPo3M",
        "key": "key-684954848",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "new_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-01-06T01:20:32+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t9c954b564de572f9-azconfig-net.azconfig.io;Id=MdvE;Secret=Kg==",
    "RandomSeed": "1843699234"
  }
}
