{
  "Entries": [
    {
      "RequestUri": "https://azure-sdk-for-net-test.azconfig.io/kv/key-1287807806?api-version=2026-04-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"5uuPoknhf6Mk8ski-1P0WAd0BsHaVKyRdC9PCf_juqw\"",
        "Last-Modified": "Thu, 28 May 2026 00:03:04 GMT",
        "Sync-Token": "zAJw6V16=NToxNyM0ODA0MjYwMw==;sn=48042603",
        "x-ms-date": "Thu, 28 May 2026 00:03:04 GMT"
      },
      "ResponseBody": {
        "etag": "5uuPoknhf6Mk8ski-1P0WAd0BsHaVKyRdC9PCf_juqw",
        "key": "key-1287807806",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "description": null,
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-05-28T00:03:04+00:00"
      }
    },
    {
      "RequestUri": "https://azure-sdk-for-net-test.azconfig.io/kv/key-1287807806?api-version=2026-04-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-Match": "\"5uuPoknhf6Mk8ski-1P0WAd0BsHaVKyRdC9PCf_juqw\"",
        "Sync-Token": "zAJw6V16=NToxNyM0ODA0MjYwMw==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "new_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "etag": "5uuPoknhf6Mk8ski-1P0WAd0BsHaVKyRdC9PCf_juqw"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"DbFDTtYJuu-xRlZq0Bd9WslPGzRYnmKSpAvVWEhW7-8\"",
        "Last-Modified": "Thu, 28 May 2026 00:03:04 GMT",
        "Sync-Token": "zAJw6V16=NToxNyM0ODA0MjYwNA==;sn=48042604",
        "x-ms-date": "Thu, 28 May 2026 00:03:04 GMT"
      },
      "ResponseBody": {
        "etag": "DbFDTtYJuu-xRlZq0Bd9WslPGzRYnmKSpAvVWEhW7-8",
        "key": "key-1287807806",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "new_value",
        "description": null,
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-05-28T00:03:04+00:00"
      }
    },
    {
      "RequestUri": "https://azure-sdk-for-net-test.azconfig.io/kv/key-1287807806?api-version=2026-04-01&label=test_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NToxNyM0ODA0MjYwNA==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"DbFDTtYJuu-xRlZq0Bd9WslPGzRYnmKSpAvVWEhW7-8\"",
        "Last-Modified": "Thu, 28 May 2026 00:03:04 GMT",
        "Sync-Token": "zAJw6V16=NToxNyM0ODA0MjYwNg==;sn=48042606",
        "x-ms-date": "Thu, 28 May 2026 00:03:04 GMT"
      },
      "ResponseBody": {
        "etag": "DbFDTtYJuu-xRlZq0Bd9WslPGzRYnmKSpAvVWEhW7-8",
        "key": "key-1287807806",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "new_value",
        "description": null,
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-05-28T00:03:04+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://azure-sdk-for-net-test.azconfig.io;Id=8ePU;Secret=Kg==",
    "RandomSeed": "711139217"
  }
}
