{
  "Entries": [
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-1114163408?api-version=2023-11-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"e_Y09gUG0aQKX3LQ_flTaduluOT2sANj-aP_PyudyNo\"",
        "Last-Modified": "Thu, 22 Jan 2026 01:41:36 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzQ3NDE4OA==;sn=103474188",
        "x-ms-date": "Thu, 22 Jan 2026 01:41:36 GMT"
      },
      "ResponseBody": {
        "etag": "e_Y09gUG0aQKX3LQ_flTaduluOT2sANj-aP_PyudyNo",
        "key": "key-1114163408",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-01-22T01:41:36+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-1114163408?api-version=2023-11-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-Match": "\"e_Y09gUG0aQKX3LQ_flTaduluOT2sANj-aP_PyudyNo\"",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzQ3NDE4OQ==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "etag": "e_Y09gUG0aQKX3LQ_flTaduluOT2sANj-aP_PyudyNo"
      },
      "StatusCode": 412,
      "ResponseHeaders": {
        "Sync-Token": "zAJw6V16=NTo1IzEwMzQ3NDE5MA==;sn=103474190",
        "x-ms-date": "Thu, 22 Jan 2026 01:41:37 GMT"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-1114163408?api-version=2023-11-01&label=test_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzQ3NDE5MA==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"Wn83r5KTv-R5hBcyx1JArgHna8h8Y4ShYqrP8rrRPHk\"",
        "Last-Modified": "Thu, 22 Jan 2026 01:41:36 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzQ3NDE5MQ==;sn=103474191",
        "x-ms-date": "Thu, 22 Jan 2026 01:41:37 GMT"
      },
      "ResponseBody": {
        "etag": "Wn83r5KTv-R5hBcyx1JArgHna8h8Y4ShYqrP8rrRPHk",
        "key": "key-1114163408",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "new_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-01-22T01:41:36+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t9c954b564de572f9-azconfig-net.azconfig.io;Id=MdvE;Secret=Kg==",
    "RandomSeed": "1474971700"
  }
}
