{
  "Entries": [
    {
      "RequestUri": "https://azure-sdk-for-net-test.azconfig.io/kv/key-1367513051?api-version=2026-04-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"wedxaMLszT_jzWQ1ZXIfSb7nf4GIH5xqql3UwvwDb-Y\"",
        "Last-Modified": "Fri, 29 May 2026 19:56:20 GMT",
        "Sync-Token": "zAJw6V16=NToxNyM0ODE0ODYxNw==;sn=48148617",
        "x-ms-date": "Fri, 29 May 2026 19:56:20 GMT"
      },
      "ResponseBody": {
        "etag": "wedxaMLszT_jzWQ1ZXIfSb7nf4GIH5xqql3UwvwDb-Y",
        "key": "key-1367513051",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "description": null,
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-05-29T19:56:20+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://azure-sdk-for-net-test.azconfig.io/kv/key-1367513051?api-version=2026-04-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-Match": "\"wedxaMLszT_jzWQ1ZXIfSb7nf4GIH5xqql3UwvwDb-Y\"",
        "Sync-Token": "zAJw6V16=NToxNyM0ODE0ODYxOA==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "etag": "wedxaMLszT_jzWQ1ZXIfSb7nf4GIH5xqql3UwvwDb-Y"
      },
      "StatusCode": 412,
      "ResponseHeaders": {
        "Sync-Token": "zAJw6V16=NToxNyM0ODE0ODYxOQ==;sn=48148619",
        "x-ms-date": "Fri, 29 May 2026 19:56:20 GMT"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://azure-sdk-for-net-test.azconfig.io/kv/key-1367513051?api-version=2026-04-01&label=test_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NToxNyM0ODE0ODYxOQ==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"pICApsJv0utoM1U84nCSs5FTcuvJLXxVuEP7-eyO_Xc\"",
        "Last-Modified": "Fri, 29 May 2026 19:56:20 GMT",
        "Sync-Token": "zAJw6V16=NToxNyM0ODE0ODYyMA==;sn=48148620",
        "x-ms-date": "Fri, 29 May 2026 19:56:20 GMT"
      },
      "ResponseBody": {
        "etag": "pICApsJv0utoM1U84nCSs5FTcuvJLXxVuEP7-eyO_Xc",
        "key": "key-1367513051",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "new_value",
        "description": null,
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-05-29T19:56:20+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://azure-sdk-for-net-test.azconfig.io;Id=8ePU;Secret=Kg==",
    "RandomSeed": "308458885"
  }
}
