{
  "Entries": [
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/kv/key-1926966728?api-version=2023-11-01&label=my_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "my_value",
        "content_type": null,
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"coTYcoD-1ORA_5-90dxHKj9xJL65c1BxNcoiLFja-lI\"",
        "Last-Modified": "Tue, 18 Nov 2025 04:25:22 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzU3ODA0MjA5;sn=57804209",
        "x-ms-date": "Tue, 18 Nov 2025 04:25:22 GMT"
      },
      "ResponseBody": {
        "etag": "coTYcoD-1ORA_5-90dxHKj9xJL65c1BxNcoiLFja-lI",
        "key": "key-1926966728",
        "label": "my_label",
        "content_type": null,
        "value": "my_value",
        "tags": {},
        "locked": false,
        "last_modified": "2025-11-18T04:25:22+00:00"
      }
    },
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/kv/key-1926966728?api-version=2023-11-01&label=my_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Njo1IzU3ODA0MjA5",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"coTYcoD-1ORA_5-90dxHKj9xJL65c1BxNcoiLFja-lI\"",
        "Last-Modified": "Tue, 18 Nov 2025 04:25:22 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzU3ODA0MjEw;sn=57804210",
        "x-ms-date": "Tue, 18 Nov 2025 04:25:22 GMT"
      },
      "ResponseBody": {
        "etag": "coTYcoD-1ORA_5-90dxHKj9xJL65c1BxNcoiLFja-lI",
        "key": "key-1926966728",
        "label": "my_label",
        "content_type": null,
        "value": "my_value",
        "tags": {},
        "locked": false,
        "last_modified": "2025-11-18T04:25:22+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t8cdd9157ca7d1363-azconfig-net.azconfig.io;Id=wNKY;Secret=Kg==",
    "RandomSeed": "904887664"
  }
}
