{
  "Entries": [
    {
      "RequestUri": "https://appconfig-canary-2023-10-01.azconfig.io/kv/key-1088271906?api-version=2023-10-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "aDaoGrnXeLk4BtC\u002BbcUBHjAOl1G533H6XGiHrRY9PKA="
      },
      "RequestBody": {
        "value": "my_value",
        "content_type": null,
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022J2Q64VrjRaP5pARrO0_GgmNWs2UCxrh3l5ePEGyGJLM\u0022",
        "Last-Modified": "Fri, 03 Nov 2023 20:12:08 GMT",
        "Sync-Token": "zAJw6V16=NjoxNSM1MzM5NDIw;sn=5339420"
      },
      "ResponseBody": {
        "etag": "J2Q64VrjRaP5pARrO0_GgmNWs2UCxrh3l5ePEGyGJLM",
        "key": "key-1088271906",
        "label": null,
        "content_type": null,
        "value": "my_value",
        "tags": {},
        "locked": false,
        "last_modified": "2023-11-03T20:12:08\u002B00:00"
      }
    },
    {
      "RequestUri": "https://appconfig-canary-2023-10-01.azconfig.io/kv/key-1088271906?api-version=2023-10-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NjoxNSM1MzM5NDIw",
        "x-ms-content-sha256": "47DEQpj8HBSa\u002B/TImW\u002B5JCeuQeRkm5NMpJWZG3hSuFU="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022J2Q64VrjRaP5pARrO0_GgmNWs2UCxrh3l5ePEGyGJLM\u0022",
        "Last-Modified": "Fri, 03 Nov 2023 20:12:08 GMT",
        "Sync-Token": "zAJw6V16=NjoxNSM1MzM5NDIx;sn=5339421"
      },
      "ResponseBody": {
        "etag": "J2Q64VrjRaP5pARrO0_GgmNWs2UCxrh3l5ePEGyGJLM",
        "key": "key-1088271906",
        "label": null,
        "content_type": null,
        "value": "my_value",
        "tags": {},
        "locked": false,
        "last_modified": "2023-11-03T20:12:08\u002B00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://appconfig-canary-2023-10-01.azconfig.io;Id=0VlC;Secret=Kg==",
    "RandomSeed": "1543012463"
  }
}
