{
  "Entries": [
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/kv/key-1163195837?api-version=2023-11-01&label=my_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "my_value",
        "content_type": null,
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"hltYya_mkpcxRhFinjqzCcreThRD3YSpVgZMVW7Iqxc\"",
        "Last-Modified": "Thu, 09 Oct 2025 16:29:51 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzU1NTMyMzM2;sn=55532336",
        "x-ms-date": "Thu, 09 Oct 2025 16:29:51 GMT"
      },
      "ResponseBody": {
        "etag": "hltYya_mkpcxRhFinjqzCcreThRD3YSpVgZMVW7Iqxc",
        "key": "key-1163195837",
        "label": "my_label",
        "content_type": null,
        "value": "my_value",
        "tags": {},
        "locked": false,
        "last_modified": "2025-10-09T16:29:51+00:00"
      }
    },
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/kv/key-1163195837?api-version=2023-11-01&label=my_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Njo1IzU1NTMyMzM2",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"hltYya_mkpcxRhFinjqzCcreThRD3YSpVgZMVW7Iqxc\"",
        "Last-Modified": "Thu, 09 Oct 2025 16:29:51 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzU1NTMyMzM3;sn=55532337",
        "x-ms-date": "Thu, 09 Oct 2025 16:29:51 GMT"
      },
      "ResponseBody": {
        "etag": "hltYya_mkpcxRhFinjqzCcreThRD3YSpVgZMVW7Iqxc",
        "key": "key-1163195837",
        "label": "my_label",
        "content_type": null,
        "value": "my_value",
        "tags": {},
        "locked": false,
        "last_modified": "2025-10-09T16:29:51+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t8cdd9157ca7d1363-azconfig-net.azconfig.io;Id=wNKY;Secret=Kg==",
    "RandomSeed": "1759762605"
  }
}
