{
  "Entries": [
    {
      "RequestUri": "https://azure-sdk-for-net-test.azconfig.io/kv/key-1236457346?api-version=2026-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "my_value",
        "content_type": null,
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"K-dmMJPONHeB950WnSwQmCm4XsX6SPNyKSQbWmilVs8\"",
        "Last-Modified": "Fri, 29 May 2026 20:00:54 GMT",
        "Sync-Token": "zAJw6V16=NToxNyM0ODE0OTczOQ==;sn=48149739",
        "x-ms-date": "Fri, 29 May 2026 20:00:54 GMT"
      },
      "ResponseBody": {
        "etag": "K-dmMJPONHeB950WnSwQmCm4XsX6SPNyKSQbWmilVs8",
        "key": "key-1236457346",
        "label": null,
        "content_type": null,
        "value": "my_value",
        "description": null,
        "tags": {},
        "locked": false,
        "last_modified": "2026-05-29T20:00:54+00:00"
      }
    },
    {
      "RequestUri": "https://azure-sdk-for-net-test.azconfig.io/kv/key-1236457346?api-version=2026-04-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NToxNyM0ODE0OTczOQ==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"K-dmMJPONHeB950WnSwQmCm4XsX6SPNyKSQbWmilVs8\"",
        "Last-Modified": "Fri, 29 May 2026 20:00:54 GMT",
        "Sync-Token": "zAJw6V16=NToxNyM0ODE0OTc0MA==;sn=48149740",
        "x-ms-date": "Fri, 29 May 2026 20:00:54 GMT"
      },
      "ResponseBody": {
        "etag": "K-dmMJPONHeB950WnSwQmCm4XsX6SPNyKSQbWmilVs8",
        "key": "key-1236457346",
        "label": null,
        "content_type": null,
        "value": "my_value",
        "description": null,
        "tags": {},
        "locked": false,
        "last_modified": "2026-05-29T20:00:54+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://azure-sdk-for-net-test.azconfig.io;Id=8ePU;Secret=Kg==",
    "RandomSeed": "2141797031"
  }
}
