{
  "Entries": [
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-934833782?api-version=2023-11-01&label=my_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "my_value",
        "content_type": null,
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"ivRoCctZEeGTI3MsrxdRoSfiA-9q8NSIHWIwVM3R7GQ\"",
        "Last-Modified": "Mon, 01 Dec 2025 08:44:21 GMT",
        "Sync-Token": "zAJw6V16=NTo1Izk4Nzc2OTQ0;sn=98776944",
        "x-ms-date": "Mon, 01 Dec 2025 08:44:21 GMT"
      },
      "ResponseBody": {
        "etag": "ivRoCctZEeGTI3MsrxdRoSfiA-9q8NSIHWIwVM3R7GQ",
        "key": "key-934833782",
        "label": "my_label",
        "content_type": null,
        "value": "my_value",
        "tags": {},
        "locked": false,
        "last_modified": "2025-12-01T08:44:21+00:00"
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-934833782?api-version=2023-11-01&label=my_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1Izk4Nzc2OTQ0",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"ivRoCctZEeGTI3MsrxdRoSfiA-9q8NSIHWIwVM3R7GQ\"",
        "Last-Modified": "Mon, 01 Dec 2025 08:44:21 GMT",
        "Sync-Token": "zAJw6V16=NTo1Izk4Nzc2OTQ1;sn=98776945",
        "x-ms-date": "Mon, 01 Dec 2025 08:44:21 GMT"
      },
      "ResponseBody": {
        "etag": "ivRoCctZEeGTI3MsrxdRoSfiA-9q8NSIHWIwVM3R7GQ",
        "key": "key-934833782",
        "label": "my_label",
        "content_type": null,
        "value": "my_value",
        "tags": {},
        "locked": false,
        "last_modified": "2025-12-01T08:44:21+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t9c954b564de572f9-azconfig-net.azconfig.io;Id=MdvE;Secret=Kg==",
    "RandomSeed": "628543533"
  }
}
