{
  "Entries": [
    {
      "RequestUri": "https://azure-sdk-for-net-test.azconfig.io/kv/key-1602699955?api-version=2026-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "my_value",
        "content_type": null,
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"b_BD_3HEoRc_r2aBhIMp9Tr_fVuJ7b2wcBhQoaVvWdk\"",
        "Last-Modified": "Fri, 29 May 2026 19:56:20 GMT",
        "Sync-Token": "zAJw6V16=NToxNyM0ODE0ODYyNQ==;sn=48148625",
        "x-ms-date": "Fri, 29 May 2026 19:56:20 GMT"
      },
      "ResponseBody": {
        "etag": "b_BD_3HEoRc_r2aBhIMp9Tr_fVuJ7b2wcBhQoaVvWdk",
        "key": "key-1602699955",
        "label": null,
        "content_type": null,
        "value": "my_value",
        "description": null,
        "tags": {},
        "locked": false,
        "last_modified": "2026-05-29T19:56:20+00:00"
      }
    },
    {
      "RequestUri": "https://azure-sdk-for-net-test.azconfig.io/kv/key-1602699955?api-version=2026-04-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NToxNyM0ODE0ODYyNQ==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"b_BD_3HEoRc_r2aBhIMp9Tr_fVuJ7b2wcBhQoaVvWdk\"",
        "Last-Modified": "Fri, 29 May 2026 19:56:20 GMT",
        "Sync-Token": "zAJw6V16=NToxNyM0ODE0ODYyNg==;sn=48148626",
        "x-ms-date": "Fri, 29 May 2026 19:56:20 GMT"
      },
      "ResponseBody": {
        "etag": "b_BD_3HEoRc_r2aBhIMp9Tr_fVuJ7b2wcBhQoaVvWdk",
        "key": "key-1602699955",
        "label": null,
        "content_type": null,
        "value": "my_value",
        "description": null,
        "tags": {},
        "locked": false,
        "last_modified": "2026-05-29T19:56:20+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://azure-sdk-for-net-test.azconfig.io;Id=8ePU;Secret=Kg==",
    "RandomSeed": "177331474"
  }
}
