{
  "Entries": [
    {
      "RequestUri": "https://tdfcae3cf5eab7143-azconfig-net.azconfig.io/kv/key-185447424?api-version=2023-11-01&label=my_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "my_value",
        "content_type": null,
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"e6DHNgKMp18LHDHuXAVPVfOzH-ha7vBXAnzRlmnk9dg\"",
        "Last-Modified": "Wed, 11 Jun 2025 17:24:34 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzQyMTUxMDQ3;sn=42151047"
      },
      "ResponseBody": {
        "etag": "e6DHNgKMp18LHDHuXAVPVfOzH-ha7vBXAnzRlmnk9dg",
        "key": "key-185447424",
        "label": "my_label",
        "content_type": null,
        "value": "my_value",
        "tags": {},
        "locked": false,
        "last_modified": "2025-06-11T17:24:34+00:00"
      }
    },
    {
      "RequestUri": "https://tdfcae3cf5eab7143-azconfig-net.azconfig.io/kv/key-185447424?api-version=2023-11-01&label=my_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Mzo1IzQyMTUxMDQ3",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"e6DHNgKMp18LHDHuXAVPVfOzH-ha7vBXAnzRlmnk9dg\"",
        "Last-Modified": "Wed, 11 Jun 2025 17:24:34 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzQyMTUxMDQ4;sn=42151048"
      },
      "ResponseBody": {
        "etag": "e6DHNgKMp18LHDHuXAVPVfOzH-ha7vBXAnzRlmnk9dg",
        "key": "key-185447424",
        "label": "my_label",
        "content_type": null,
        "value": "my_value",
        "tags": {},
        "locked": false,
        "last_modified": "2025-06-11T17:24:34+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://tdfcae3cf5eab7143-azconfig-net.azconfig.io;Id=GAEe;Secret=Kg==",
    "RandomSeed": "747353068"
  }
}
