{
  "Entries": [
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv/key-176266010?api-version=2026-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "value": "my_value",
        "content_type": null,
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"OaF6NBfUCqZ6d0dV_Y6s5LsJ-KV9o9q5d8P7FI8Sk7A\"",
        "Last-Modified": "Wed, 10 Jun 2026 21:36:19 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDk0NTY3;sn=67094567",
        "x-ms-date": "Wed, 10 Jun 2026 21:36:19 GMT"
      },
      "ResponseBody": {
        "etag": "OaF6NBfUCqZ6d0dV_Y6s5LsJ-KV9o9q5d8P7FI8Sk7A",
        "key": "key-176266010",
        "label": null,
        "content_type": null,
        "value": "my_value",
        "description": null,
        "tags": {},
        "locked": false,
        "last_modified": "2026-06-10T21:36:19+00:00"
      }
    },
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv/key-176266010?api-version=2026-04-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDk0NTY3"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"OaF6NBfUCqZ6d0dV_Y6s5LsJ-KV9o9q5d8P7FI8Sk7A\"",
        "Last-Modified": "Wed, 10 Jun 2026 21:36:19 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDk0NTY4;sn=67094568",
        "x-ms-date": "Wed, 10 Jun 2026 21:36:19 GMT"
      },
      "ResponseBody": {
        "etag": "OaF6NBfUCqZ6d0dV_Y6s5LsJ-KV9o9q5d8P7FI8Sk7A",
        "key": "key-176266010",
        "label": null,
        "content_type": null,
        "value": "my_value",
        "description": null,
        "tags": {},
        "locked": false,
        "last_modified": "2026-06-10T21:36:19+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_ENDPOINT_STRING": "https://mrm90847047-azconfig-net.azconfig.io",
    "RandomSeed": "438717392"
  }
}
