{
  "Entries": [
    {
      "RequestUri": "https://tdfcae3cf5eab7143-azconfig-net.azconfig.io/kv/key-372999354?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "my_value",
        "content_type": null,
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"lBBUgzOUh7qrFVvfXI-jLk1mhDkbk_9TCLlEMd8FGLg\"",
        "Last-Modified": "Wed, 11 Jun 2025 17:24:34 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzQyMTUxMDQ1;sn=42151045"
      },
      "ResponseBody": {
        "etag": "lBBUgzOUh7qrFVvfXI-jLk1mhDkbk_9TCLlEMd8FGLg",
        "key": "key-372999354",
        "label": null,
        "content_type": null,
        "value": "my_value",
        "tags": {},
        "locked": false,
        "last_modified": "2025-06-11T17:24:34+00:00"
      }
    },
    {
      "RequestUri": "https://tdfcae3cf5eab7143-azconfig-net.azconfig.io/kv/key-372999354?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Mzo1IzQyMTUxMDQ1",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"lBBUgzOUh7qrFVvfXI-jLk1mhDkbk_9TCLlEMd8FGLg\"",
        "Last-Modified": "Wed, 11 Jun 2025 17:24:34 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzQyMTUxMDQ2;sn=42151046"
      },
      "ResponseBody": {
        "etag": "lBBUgzOUh7qrFVvfXI-jLk1mhDkbk_9TCLlEMd8FGLg",
        "key": "key-372999354",
        "label": null,
        "content_type": null,
        "value": "my_value",
        "tags": {},
        "locked": false,
        "last_modified": "2025-06-11T17:24:34+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://tdfcae3cf5eab7143-azconfig-net.azconfig.io;Id=GAEe;Secret=Kg==",
    "RandomSeed": "62947031"
  }
}
