{
  "Entries": [
    {
      "RequestUri": "https://azure-sdk-for-net-test.azconfig.io/kv/key-2133836437?api-version=2026-04-01&label=my_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "my_value",
        "content_type": null,
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"pCHgJ29TNODTJn6ZsrgTxc4ftqFci1szJpRe1PSJrHU\"",
        "Last-Modified": "Fri, 29 May 2026 19:56:21 GMT",
        "Sync-Token": "zAJw6V16=NToxNyM0ODE0ODYyNw==;sn=48148627",
        "x-ms-date": "Fri, 29 May 2026 19:56:21 GMT"
      },
      "ResponseBody": {
        "etag": "pCHgJ29TNODTJn6ZsrgTxc4ftqFci1szJpRe1PSJrHU",
        "key": "key-2133836437",
        "label": "my_label",
        "content_type": null,
        "value": "my_value",
        "description": null,
        "tags": {},
        "locked": false,
        "last_modified": "2026-05-29T19:56:21+00:00"
      }
    },
    {
      "RequestUri": "https://azure-sdk-for-net-test.azconfig.io/kv/key-2133836437?api-version=2026-04-01&label=my_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NToxNyM0ODE0ODYyNw==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"pCHgJ29TNODTJn6ZsrgTxc4ftqFci1szJpRe1PSJrHU\"",
        "Last-Modified": "Fri, 29 May 2026 19:56:21 GMT",
        "Sync-Token": "zAJw6V16=NToxNyM0ODE0ODYyOA==;sn=48148628",
        "x-ms-date": "Fri, 29 May 2026 19:56:21 GMT"
      },
      "ResponseBody": {
        "etag": "pCHgJ29TNODTJn6ZsrgTxc4ftqFci1szJpRe1PSJrHU",
        "key": "key-2133836437",
        "label": "my_label",
        "content_type": null,
        "value": "my_value",
        "description": null,
        "tags": {},
        "locked": false,
        "last_modified": "2026-05-29T19:56:21+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://azure-sdk-for-net-test.azconfig.io;Id=8ePU;Secret=Kg==",
    "RandomSeed": "1316262908"
  }
}
