{
  "Entries": [
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-258962705?api-version=2023-11-01&label=my_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "my_value",
        "content_type": null,
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"gVdEFYRRnjgFldbcSEosS52hQ1gFkGP1ZojoPJH_wxs\"",
        "Last-Modified": "Tue, 06 Jan 2026 06:37:25 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTc3Mzg1OA==;sn=101773858",
        "x-ms-date": "Tue, 06 Jan 2026 06:37:25 GMT"
      },
      "ResponseBody": {
        "etag": "gVdEFYRRnjgFldbcSEosS52hQ1gFkGP1ZojoPJH_wxs",
        "key": "key-258962705",
        "label": "my_label",
        "content_type": null,
        "value": "my_value",
        "tags": {},
        "locked": false,
        "last_modified": "2026-01-06T06:37:25+00:00"
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-258962705?api-version=2023-11-01&label=my_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTc3Mzg1OA==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"gVdEFYRRnjgFldbcSEosS52hQ1gFkGP1ZojoPJH_wxs\"",
        "Last-Modified": "Tue, 06 Jan 2026 06:37:25 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTc3Mzg1OQ==;sn=101773859",
        "x-ms-date": "Tue, 06 Jan 2026 06:37:25 GMT"
      },
      "ResponseBody": {
        "etag": "gVdEFYRRnjgFldbcSEosS52hQ1gFkGP1ZojoPJH_wxs",
        "key": "key-258962705",
        "label": "my_label",
        "content_type": null,
        "value": "my_value",
        "tags": {},
        "locked": false,
        "last_modified": "2026-01-06T06:37:25+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t9c954b564de572f9-azconfig-net.azconfig.io;Id=MdvE;Secret=Kg==",
    "RandomSeed": "558351013"
  }
}
