{
  "Entries": [
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv/key-108840475?api-version=2026-04-01&label=my_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "value": "my_value",
        "content_type": null,
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"MjXXw-VjbEgXvUXRs_3fmo-O_MEM3razj9Q19Bb4OZE\"",
        "Last-Modified": "Wed, 10 Jun 2026 19:22:06 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDc0NDYy;sn=67074462",
        "x-ms-date": "Wed, 10 Jun 2026 19:22:06 GMT"
      },
      "ResponseBody": {
        "etag": "MjXXw-VjbEgXvUXRs_3fmo-O_MEM3razj9Q19Bb4OZE",
        "key": "key-108840475",
        "label": "my_label",
        "content_type": null,
        "value": "my_value",
        "description": null,
        "tags": {},
        "locked": false,
        "last_modified": "2026-06-10T19:22:06+00:00"
      }
    },
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv/key-108840475?api-version=2026-04-01&label=my_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDc0NDYy"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"MjXXw-VjbEgXvUXRs_3fmo-O_MEM3razj9Q19Bb4OZE\"",
        "Last-Modified": "Wed, 10 Jun 2026 19:22:06 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDc0NDYz;sn=67074463",
        "x-ms-date": "Wed, 10 Jun 2026 19:22:07 GMT"
      },
      "ResponseBody": {
        "etag": "MjXXw-VjbEgXvUXRs_3fmo-O_MEM3razj9Q19Bb4OZE",
        "key": "key-108840475",
        "label": "my_label",
        "content_type": null,
        "value": "my_value",
        "description": null,
        "tags": {},
        "locked": false,
        "last_modified": "2026-06-10T19:22:06+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_ENDPOINT_STRING": "https://mrm90847047-azconfig-net.azconfig.io",
    "RandomSeed": "1393656698"
  }
}
