{
  "Entries": [
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-1580287065?api-version=2023-11-01&label=my_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "my_value",
        "content_type": null,
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"YeFgsEPk-_pGaX9aUEEZhcDSx54cyceo69wAuioQed0\"",
        "Last-Modified": "Mon, 26 Jan 2026 05:43:13 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzg1MTM0MA==;sn=103851340",
        "x-ms-date": "Mon, 26 Jan 2026 05:43:13 GMT"
      },
      "ResponseBody": {
        "etag": "YeFgsEPk-_pGaX9aUEEZhcDSx54cyceo69wAuioQed0",
        "key": "key-1580287065",
        "label": "my_label",
        "content_type": null,
        "value": "my_value",
        "tags": {},
        "locked": false,
        "last_modified": "2026-01-26T05:43:13+00:00"
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-1580287065?api-version=2023-11-01&label=my_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzg1MTM0MA==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"YeFgsEPk-_pGaX9aUEEZhcDSx54cyceo69wAuioQed0\"",
        "Last-Modified": "Mon, 26 Jan 2026 05:43:13 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzg1MTM0MQ==;sn=103851341",
        "x-ms-date": "Mon, 26 Jan 2026 05:43:13 GMT"
      },
      "ResponseBody": {
        "etag": "YeFgsEPk-_pGaX9aUEEZhcDSx54cyceo69wAuioQed0",
        "key": "key-1580287065",
        "label": "my_label",
        "content_type": null,
        "value": "my_value",
        "tags": {},
        "locked": false,
        "last_modified": "2026-01-26T05:43:13+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t9c954b564de572f9-azconfig-net.azconfig.io;Id=MdvE;Secret=Kg==",
    "RandomSeed": "416646047"
  }
}
