{
  "Entries": [
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/kv/key-193531603?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "my_value",
        "content_type": null,
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"nCiK_gvCv44fTfTbn3iFWcTa0Jg4UX35xwSNe9QaHnY\"",
        "Last-Modified": "Thu, 09 Oct 2025 16:35:17 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzU1NTMzMzA3;sn=55533307",
        "x-ms-date": "Thu, 09 Oct 2025 16:35:17 GMT"
      },
      "ResponseBody": {
        "etag": "nCiK_gvCv44fTfTbn3iFWcTa0Jg4UX35xwSNe9QaHnY",
        "key": "key-193531603",
        "label": null,
        "content_type": null,
        "value": "my_value",
        "tags": {},
        "locked": false,
        "last_modified": "2025-10-09T16:35:17+00:00"
      }
    },
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/kv/key-193531603?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Njo1IzU1NTMzMzA3",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"nCiK_gvCv44fTfTbn3iFWcTa0Jg4UX35xwSNe9QaHnY\"",
        "Last-Modified": "Thu, 09 Oct 2025 16:35:17 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzU1NTMzMzA4;sn=55533308",
        "x-ms-date": "Thu, 09 Oct 2025 16:35:18 GMT"
      },
      "ResponseBody": {
        "etag": "nCiK_gvCv44fTfTbn3iFWcTa0Jg4UX35xwSNe9QaHnY",
        "key": "key-193531603",
        "label": null,
        "content_type": null,
        "value": "my_value",
        "tags": {},
        "locked": false,
        "last_modified": "2025-10-09T16:35:17+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t8cdd9157ca7d1363-azconfig-net.azconfig.io;Id=wNKY;Secret=Kg==",
    "RandomSeed": "303832125"
  }
}
