{
  "Entries": [
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/kv/key-1579617560?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "my_value",
        "content_type": null,
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"_34HUn7VHUntZLpxDZTDotqmxCCI5RwGW0YeWcdUfpc\"",
        "Last-Modified": "Tue, 18 Nov 2025 04:25:22 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzU3ODA0MjA3;sn=57804207",
        "x-ms-date": "Tue, 18 Nov 2025 04:25:22 GMT"
      },
      "ResponseBody": {
        "etag": "_34HUn7VHUntZLpxDZTDotqmxCCI5RwGW0YeWcdUfpc",
        "key": "key-1579617560",
        "label": null,
        "content_type": null,
        "value": "my_value",
        "tags": {},
        "locked": false,
        "last_modified": "2025-11-18T04:25:22+00:00"
      }
    },
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/kv/key-1579617560?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Njo1IzU3ODA0MjA3",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"_34HUn7VHUntZLpxDZTDotqmxCCI5RwGW0YeWcdUfpc\"",
        "Last-Modified": "Tue, 18 Nov 2025 04:25:22 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzU3ODA0MjA4;sn=57804208",
        "x-ms-date": "Tue, 18 Nov 2025 04:25:22 GMT"
      },
      "ResponseBody": {
        "etag": "_34HUn7VHUntZLpxDZTDotqmxCCI5RwGW0YeWcdUfpc",
        "key": "key-1579617560",
        "label": null,
        "content_type": null,
        "value": "my_value",
        "tags": {},
        "locked": false,
        "last_modified": "2025-11-18T04:25:22+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t8cdd9157ca7d1363-azconfig-net.azconfig.io;Id=wNKY;Secret=Kg==",
    "RandomSeed": "1731078088"
  }
}
