{
  "Entries": [
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-2126285870?api-version=2023-11-01&label=my_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "my_value",
        "content_type": null,
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"q3hmqPaP1FKcU2PYdueUQRsqloVw4XH7ptAiCvSFKlg\"",
        "Last-Modified": "Tue, 23 Dec 2025 05:50:59 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTA1MDExMQ==;sn=101050111",
        "x-ms-date": "Tue, 23 Dec 2025 05:50:59 GMT"
      },
      "ResponseBody": {
        "etag": "q3hmqPaP1FKcU2PYdueUQRsqloVw4XH7ptAiCvSFKlg",
        "key": "key-2126285870",
        "label": "my_label",
        "content_type": null,
        "value": "my_value",
        "tags": {},
        "locked": false,
        "last_modified": "2025-12-23T05:50:59+00:00"
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-2126285870?api-version=2023-11-01&label=my_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTA1MDExMQ==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"q3hmqPaP1FKcU2PYdueUQRsqloVw4XH7ptAiCvSFKlg\"",
        "Last-Modified": "Tue, 23 Dec 2025 05:50:59 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTA1MDExMg==;sn=101050112",
        "x-ms-date": "Tue, 23 Dec 2025 05:50:59 GMT"
      },
      "ResponseBody": {
        "etag": "q3hmqPaP1FKcU2PYdueUQRsqloVw4XH7ptAiCvSFKlg",
        "key": "key-2126285870",
        "label": "my_label",
        "content_type": null,
        "value": "my_value",
        "tags": {},
        "locked": false,
        "last_modified": "2025-12-23T05:50:59+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t9c954b564de572f9-azconfig-net.azconfig.io;Id=MdvE;Secret=Kg==",
    "RandomSeed": "257559547"
  }
}
