{
  "Entries": [
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/kv/key-28088274?api-version=2023-11-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"lFEywlOh8aQH6uYUS_rmz_V7OQYdOwPrhpmHs3637oY\"",
        "Last-Modified": "Tue, 18 Nov 2025 04:31:30 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzU3ODA0Njc3;sn=57804677",
        "x-ms-date": "Tue, 18 Nov 2025 04:31:30 GMT"
      },
      "ResponseBody": {
        "etag": "lFEywlOh8aQH6uYUS_rmz_V7OQYdOwPrhpmHs3637oY",
        "key": "key-28088274",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2025-11-18T04:31:30+00:00"
      }
    },
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/locks/key-28088274?api-version=2023-11-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Njo1IzU3ODA0Njc3",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"U0EOmHxaVM3aopKq-cOMIjKZuob5AFBCqmZK6XM4cYo\"",
        "Last-Modified": "Tue, 18 Nov 2025 04:31:30 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzU3ODA0Njc4;sn=57804678",
        "x-ms-date": "Tue, 18 Nov 2025 04:31:30 GMT"
      },
      "ResponseBody": {
        "etag": "U0EOmHxaVM3aopKq-cOMIjKZuob5AFBCqmZK6XM4cYo",
        "key": "key-28088274",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": true,
        "last_modified": "2025-11-18T04:31:30+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/kv/key-28088274?api-version=2023-11-01&label=test_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Njo1IzU3ODA0Njgw",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"qsP2FkdEaNjcdwFqXExIR-W-oxz6MtgjSmxArjBcOwM\"",
        "Last-Modified": "Tue, 18 Nov 2025 04:31:30 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzU3ODA0Njgy;sn=57804682",
        "x-ms-date": "Tue, 18 Nov 2025 04:31:30 GMT"
      },
      "ResponseBody": {
        "etag": "qsP2FkdEaNjcdwFqXExIR-W-oxz6MtgjSmxArjBcOwM",
        "key": "key-28088274",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2025-11-18T04:31:30+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t8cdd9157ca7d1363-azconfig-net.azconfig.io;Id=wNKY;Secret=Kg==",
    "RandomSeed": "1049929093"
  }
}
