{
  "Entries": [
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/kv/key-875201486?api-version=2023-11-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"-CVVAFQyeh-KVWvPRuF08Yuw8riwFCSGnzLBAgTrMc0\"",
        "Last-Modified": "Mon, 17 Nov 2025 16:52:47 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzU3NzY0NTI2;sn=57764526",
        "x-ms-date": "Mon, 17 Nov 2025 16:52:47 GMT"
      },
      "ResponseBody": {
        "etag": "-CVVAFQyeh-KVWvPRuF08Yuw8riwFCSGnzLBAgTrMc0",
        "key": "key-875201486",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2025-11-17T16:52:47+00:00"
      }
    },
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/locks/key-875201486?api-version=2023-11-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Njo1IzU3NzY0NTI2",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"R8_6UsRpFPv0KmG79axA2foXGBcu-_S9jVaQYH08Ups\"",
        "Last-Modified": "Mon, 17 Nov 2025 16:52:47 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzU3NzY0NTI3;sn=57764527",
        "x-ms-date": "Mon, 17 Nov 2025 16:52:47 GMT"
      },
      "ResponseBody": {
        "etag": "R8_6UsRpFPv0KmG79axA2foXGBcu-_S9jVaQYH08Ups",
        "key": "key-875201486",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": true,
        "last_modified": "2025-11-17T16:52:47+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/kv/key-875201486?api-version=2023-11-01&label=test_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Njo1IzU3NzY0NTI5",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"_sHPdnz45yH_FfSeUEgXuSB1UGpg_Hk26WslvFpvo4s\"",
        "Last-Modified": "Mon, 17 Nov 2025 16:52:47 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzU3NzY0NTMx;sn=57764531",
        "x-ms-date": "Mon, 17 Nov 2025 16:52:47 GMT"
      },
      "ResponseBody": {
        "etag": "_sHPdnz45yH_FfSeUEgXuSB1UGpg_Hk26WslvFpvo4s",
        "key": "key-875201486",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2025-11-17T16:52:47+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t8cdd9157ca7d1363-azconfig-net.azconfig.io;Id=wNKY;Secret=Kg==",
    "RandomSeed": "284290161"
  }
}
