{
  "Entries": [
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv/key-1461699657?api-version=2026-04-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "description": "test_description"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"_vghWDR237gjPcxjiLsLnBYXW7qHy6ZRfeIDtmj6Fvg\"",
        "Last-Modified": "Wed, 10 Jun 2026 19:29:53 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDc1MDE1;sn=67075015",
        "x-ms-date": "Wed, 10 Jun 2026 19:29:53 GMT"
      },
      "ResponseBody": {
        "etag": "_vghWDR237gjPcxjiLsLnBYXW7qHy6ZRfeIDtmj6Fvg",
        "key": "key-1461699657",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "description": "test_description",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-06-10T19:29:53+00:00"
      }
    },
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/locks/key-1461699657?api-version=2026-04-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDc1MDE1"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"5WgkjQfUl_XTgoqghKT-fdFMN2a7xcYp4Ek9gTg-PgE\"",
        "Last-Modified": "Wed, 10 Jun 2026 19:29:53 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDc1MDE2;sn=67075016",
        "x-ms-date": "Wed, 10 Jun 2026 19:29:53 GMT"
      },
      "ResponseBody": {
        "etag": "5WgkjQfUl_XTgoqghKT-fdFMN2a7xcYp4Ek9gTg-PgE",
        "key": "key-1461699657",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "description": "test_description",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": true,
        "last_modified": "2026-06-10T19:29:53+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv/key-1461699657?api-version=2026-04-01&label=test_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDc1MDE4"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"DVlbqtaDrii7GYDhqiDd5INIcu_RgSyGCymEDe0u_Hg\"",
        "Last-Modified": "Wed, 10 Jun 2026 19:29:53 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDc1MDIw;sn=67075020",
        "x-ms-date": "Wed, 10 Jun 2026 19:29:53 GMT"
      },
      "ResponseBody": {
        "etag": "DVlbqtaDrii7GYDhqiDd5INIcu_RgSyGCymEDe0u_Hg",
        "key": "key-1461699657",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "description": "test_description",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-06-10T19:29:53+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_ENDPOINT_STRING": "https://mrm90847047-azconfig-net.azconfig.io",
    "RandomSeed": "1950956365"
  }
}
