{
  "Entries": [
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-527755488?api-version=2023-11-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"mZdo5aeZ6ScUkmZx8-Kp7YVcuKqiLndycNml5JnAB-c\"",
        "Last-Modified": "Tue, 06 Jan 2026 06:37:25 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTc3Mzg2MA==;sn=101773860",
        "x-ms-date": "Tue, 06 Jan 2026 06:37:25 GMT"
      },
      "ResponseBody": {
        "etag": "mZdo5aeZ6ScUkmZx8-Kp7YVcuKqiLndycNml5JnAB-c",
        "key": "key-527755488",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-01-06T06:37:25+00:00"
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/locks/key-527755488?api-version=2023-11-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTc3Mzg2MA==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"MKBOhjm6tRV5awyu6kMHcoEaWmt91nh9_rLUU6ltuuo\"",
        "Last-Modified": "Tue, 06 Jan 2026 06:37:25 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTc3Mzg2MQ==;sn=101773861",
        "x-ms-date": "Tue, 06 Jan 2026 06:37:25 GMT"
      },
      "ResponseBody": {
        "etag": "MKBOhjm6tRV5awyu6kMHcoEaWmt91nh9_rLUU6ltuuo",
        "key": "key-527755488",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": true,
        "last_modified": "2026-01-06T06:37:25+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-527755488?api-version=2023-11-01&label=test_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTc3Mzg2Mw==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"q340hof1LP2CAPtGQFqXF92-Tn4jSFVDAQgQKUbP9c4\"",
        "Last-Modified": "Tue, 06 Jan 2026 06:37:25 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTc3Mzg2NQ==;sn=101773865",
        "x-ms-date": "Tue, 06 Jan 2026 06:37:25 GMT"
      },
      "ResponseBody": {
        "etag": "q340hof1LP2CAPtGQFqXF92-Tn4jSFVDAQgQKUbP9c4",
        "key": "key-527755488",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-01-06T06:37:25+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t9c954b564de572f9-azconfig-net.azconfig.io;Id=MdvE;Secret=Kg==",
    "RandomSeed": "1178297316"
  }
}
