{
  "Entries": [
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv/key-1573142954?api-version=2023-11-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"YNy3EoyRx_aWS-ujpKQB-LMhIZUk8_t8uT8GcfWp13U\"",
        "Last-Modified": "Tue, 09 Jun 2026 23:06:19 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY2OTk2NzY2;sn=66996766",
        "x-ms-date": "Tue, 09 Jun 2026 23:06:19 GMT"
      },
      "ResponseBody": {
        "etag": "YNy3EoyRx_aWS-ujpKQB-LMhIZUk8_t8uT8GcfWp13U",
        "key": "key-1573142954",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-06-09T23:06:19+00:00"
      }
    },
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/locks/key-1573142954?api-version=2023-11-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Mzo1IzY2OTk2NzY2"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"ZiwoRhSzHe4lZuUqZhapDtNNaUGQfHz638wCl5J8XJw\"",
        "Last-Modified": "Tue, 09 Jun 2026 23:06:19 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY2OTk2NzY3;sn=66996767",
        "x-ms-date": "Tue, 09 Jun 2026 23:06:19 GMT"
      },
      "ResponseBody": {
        "etag": "ZiwoRhSzHe4lZuUqZhapDtNNaUGQfHz638wCl5J8XJw",
        "key": "key-1573142954",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": true,
        "last_modified": "2026-06-09T23:06:19+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv/key-1573142954?api-version=2023-11-01&label=test_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Mzo1IzY2OTk2NzY5"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"BW76AiOvn4mAjO4-HNBy04mWU7iqOmzm7hziyQrnlB8\"",
        "Last-Modified": "Tue, 09 Jun 2026 23:06:19 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY2OTk2Nzcx;sn=66996771",
        "x-ms-date": "Tue, 09 Jun 2026 23:06:19 GMT"
      },
      "ResponseBody": {
        "etag": "BW76AiOvn4mAjO4-HNBy04mWU7iqOmzm7hziyQrnlB8",
        "key": "key-1573142954",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-06-09T23:06:19+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_ENDPOINT_STRING": "https://mrm90847047-azconfig-net.azconfig.io",
    "RandomSeed": "1585982395"
  }
}
