{
  "Entries": [
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-13651667?api-version=2023-11-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"H6cmFipLMvrLAjbemd-JtJP3bnQMHnd77eEmtkJ4fDg\"",
        "Last-Modified": "Thu, 22 Jan 2026 02:04:12 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzQ3NDc0OA==;sn=103474748",
        "x-ms-date": "Thu, 22 Jan 2026 02:04:12 GMT"
      },
      "ResponseBody": {
        "etag": "H6cmFipLMvrLAjbemd-JtJP3bnQMHnd77eEmtkJ4fDg",
        "key": "key-13651667",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-01-22T02:04:12+00:00"
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/locks/key-13651667?api-version=2023-11-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzQ3NDc0OA==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"-pFBkGQwLHTWWdldzKQmGg-j5H6hmFVcFUZY0xTHlw4\"",
        "Last-Modified": "Thu, 22 Jan 2026 02:04:12 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzQ3NDc0OQ==;sn=103474749",
        "x-ms-date": "Thu, 22 Jan 2026 02:04:12 GMT"
      },
      "ResponseBody": {
        "etag": "-pFBkGQwLHTWWdldzKQmGg-j5H6hmFVcFUZY0xTHlw4",
        "key": "key-13651667",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": true,
        "last_modified": "2026-01-22T02:04:12+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-13651667?api-version=2023-11-01&label=test_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzQ3NDc1MQ==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"kw0Y6FRdRkNWehOr_-saKDFzsgbjR0IPL7RlJPeY3SU\"",
        "Last-Modified": "Thu, 22 Jan 2026 02:04:12 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzQ3NDc1Mw==;sn=103474753",
        "x-ms-date": "Thu, 22 Jan 2026 02:04:12 GMT"
      },
      "ResponseBody": {
        "etag": "kw0Y6FRdRkNWehOr_-saKDFzsgbjR0IPL7RlJPeY3SU",
        "key": "key-13651667",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-01-22T02:04:12+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t9c954b564de572f9-azconfig-net.azconfig.io;Id=MdvE;Secret=Kg==",
    "RandomSeed": "84784644"
  }
}
