{
  "Entries": [
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv/key-1828521506?api-version=2026-04-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "description": "test_description"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"TZwkvDrrO9YF1eB_IR-bBkKkK--mtFi6qQyfuXZct_s\"",
        "Last-Modified": "Wed, 10 Jun 2026 21:44:55 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDk1MTM4;sn=67095138",
        "x-ms-date": "Wed, 10 Jun 2026 21:44:55 GMT"
      },
      "ResponseBody": {
        "etag": "TZwkvDrrO9YF1eB_IR-bBkKkK--mtFi6qQyfuXZct_s",
        "key": "key-1828521506",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "description": "test_description",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-06-10T21:44:55+00:00"
      }
    },
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/locks/key-1828521506?api-version=2026-04-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDk1MTM4"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"cv1he5W9_NI5uViZ55XCZf5iXpxZtoH9t-chIcN5d2U\"",
        "Last-Modified": "Wed, 10 Jun 2026 21:44:55 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDk1MTM5;sn=67095139",
        "x-ms-date": "Wed, 10 Jun 2026 21:44:55 GMT"
      },
      "ResponseBody": {
        "etag": "cv1he5W9_NI5uViZ55XCZf5iXpxZtoH9t-chIcN5d2U",
        "key": "key-1828521506",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "description": "test_description",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": true,
        "last_modified": "2026-06-10T21:44:55+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv/key-1828521506?api-version=2026-04-01&label=test_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDk1MTQx"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"oSTUu40jep34qJQH6NKImzUbr5KWnAU3bEgxJql6MGU\"",
        "Last-Modified": "Wed, 10 Jun 2026 21:44:55 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDk1MTQz;sn=67095143",
        "x-ms-date": "Wed, 10 Jun 2026 21:44:55 GMT"
      },
      "ResponseBody": {
        "etag": "oSTUu40jep34qJQH6NKImzUbr5KWnAU3bEgxJql6MGU",
        "key": "key-1828521506",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "description": "test_description",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-06-10T21:44:55+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_ENDPOINT_STRING": "https://mrm90847047-azconfig-net.azconfig.io",
    "RandomSeed": "65617414"
  }
}
