{
  "Entries": [
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-494306728?api-version=2023-11-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"csIOLkz9yFjMdtevA3vsgVdd6fhFKMp22B0UGZKn5JQ\"",
        "Last-Modified": "Tue, 23 Dec 2025 05:50:59 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTA1MDExMw==;sn=101050113",
        "x-ms-date": "Tue, 23 Dec 2025 05:50:59 GMT"
      },
      "ResponseBody": {
        "etag": "csIOLkz9yFjMdtevA3vsgVdd6fhFKMp22B0UGZKn5JQ",
        "key": "key-494306728",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2025-12-23T05:50:59+00:00"
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/locks/key-494306728?api-version=2023-11-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTA1MDExMw==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"GUzOqkJ8R7WVAQiUoEruMY1d8Bp0AFtx_FySH_6jYx0\"",
        "Last-Modified": "Tue, 23 Dec 2025 05:50:59 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTA1MDExNA==;sn=101050114",
        "x-ms-date": "Tue, 23 Dec 2025 05:50:59 GMT"
      },
      "ResponseBody": {
        "etag": "GUzOqkJ8R7WVAQiUoEruMY1d8Bp0AFtx_FySH_6jYx0",
        "key": "key-494306728",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": true,
        "last_modified": "2025-12-23T05:50:59+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-494306728?api-version=2023-11-01&label=test_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTA1MDExNg==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"XhMd18z-S_jiYoaut2yz7eBcMlYBiWBT0bPZpzsU_O0\"",
        "Last-Modified": "Tue, 23 Dec 2025 05:51:00 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTA1MDExOA==;sn=101050118",
        "x-ms-date": "Tue, 23 Dec 2025 05:51:00 GMT"
      },
      "ResponseBody": {
        "etag": "XhMd18z-S_jiYoaut2yz7eBcMlYBiWBT0bPZpzsU_O0",
        "key": "key-494306728",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2025-12-23T05:51:00+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t9c954b564de572f9-azconfig-net.azconfig.io;Id=MdvE;Secret=Kg==",
    "RandomSeed": "111526888"
  }
}
