{
  "Entries": [
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv/key-462363736?api-version=2026-04-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "description": "test_description"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"g5EnLCEvZvAnwkWQqDkB5C79tSPDCziJAodcZtzjvjs\"",
        "Last-Modified": "Wed, 10 Jun 2026 18:29:57 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDY1ODU3;sn=67065857",
        "x-ms-date": "Wed, 10 Jun 2026 18:29:57 GMT"
      },
      "ResponseBody": {
        "etag": "g5EnLCEvZvAnwkWQqDkB5C79tSPDCziJAodcZtzjvjs",
        "key": "key-462363736",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "description": "test_description",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-06-10T18:29:57+00:00"
      }
    },
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/locks/key-462363736?api-version=2026-04-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDY1ODU3"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"3WHfG_eMaqoOh4LOxwfntiTVA7znfDgc3MSLAJEsrgc\"",
        "Last-Modified": "Wed, 10 Jun 2026 18:29:57 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDY1ODU4;sn=67065858",
        "x-ms-date": "Wed, 10 Jun 2026 18:29:57 GMT"
      },
      "ResponseBody": {
        "etag": "3WHfG_eMaqoOh4LOxwfntiTVA7znfDgc3MSLAJEsrgc",
        "key": "key-462363736",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "description": "test_description",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": true,
        "last_modified": "2026-06-10T18:29:57+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv/key-462363736?api-version=2026-04-01&label=test_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDY1ODYw"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"xGB6cA5QO8wvd0o0nwaVkw66L5rtWwb0PfW89rPrwDU\"",
        "Last-Modified": "Wed, 10 Jun 2026 18:29:57 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDY1ODYy;sn=67065862",
        "x-ms-date": "Wed, 10 Jun 2026 18:29:57 GMT"
      },
      "ResponseBody": {
        "etag": "xGB6cA5QO8wvd0o0nwaVkw66L5rtWwb0PfW89rPrwDU",
        "key": "key-462363736",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "description": "test_description",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-06-10T18:29:57+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_ENDPOINT_STRING": "https://mrm90847047-azconfig-net.azconfig.io",
    "RandomSeed": "1434919494"
  }
}
