{
  "Entries": [
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/kv/key-241611147?api-version=2023-11-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"NOZh9durjj8D7EwxZsnVvjogwtPJFQunLadl3rM-Ew0\"",
        "Last-Modified": "Thu, 09 Oct 2025 16:35:19 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzU1NTMzMzE3;sn=55533317",
        "x-ms-date": "Thu, 09 Oct 2025 16:35:19 GMT"
      },
      "ResponseBody": {
        "etag": "NOZh9durjj8D7EwxZsnVvjogwtPJFQunLadl3rM-Ew0",
        "key": "key-241611147",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2025-10-09T16:35:19+00:00"
      }
    },
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/kv/key-241611147?api-version=2023-11-01&label=test_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Njo1IzU1NTMzMzE3",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"NOZh9durjj8D7EwxZsnVvjogwtPJFQunLadl3rM-Ew0\"",
        "Last-Modified": "Thu, 09 Oct 2025 16:35:19 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzU1NTMzMzE4;sn=55533318",
        "x-ms-date": "Thu, 09 Oct 2025 16:35:19 GMT"
      },
      "ResponseBody": {
        "etag": "NOZh9durjj8D7EwxZsnVvjogwtPJFQunLadl3rM-Ew0",
        "key": "key-241611147",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2025-10-09T16:35:19+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t8cdd9157ca7d1363-azconfig-net.azconfig.io;Id=wNKY;Secret=Kg==",
    "RandomSeed": "1231265821"
  }
}
