{
  "Entries": [
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-1570990371?api-version=2023-11-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"ybDf86zBlhn57vQ5WEys_KvKlAZYcRcEaUr6c_tNksM\"",
        "Last-Modified": "Tue, 06 Jan 2026 01:20:35 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTc2NjUzMA==;sn=101766530",
        "x-ms-date": "Tue, 06 Jan 2026 01:20:35 GMT"
      },
      "ResponseBody": {
        "etag": "ybDf86zBlhn57vQ5WEys_KvKlAZYcRcEaUr6c_tNksM",
        "key": "key-1570990371",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-01-06T01:20:35+00:00"
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/locks/key-1570990371?api-version=2023-11-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTc2NjUzMA==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"rYDN_fNhRUwxIwyGCibf9oamU-6c-VUvWlQKFwDwvcc\"",
        "Last-Modified": "Tue, 06 Jan 2026 01:20:35 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTc2NjUzMQ==;sn=101766531",
        "x-ms-date": "Tue, 06 Jan 2026 01:20:35 GMT"
      },
      "ResponseBody": {
        "etag": "rYDN_fNhRUwxIwyGCibf9oamU-6c-VUvWlQKFwDwvcc",
        "key": "key-1570990371",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": true,
        "last_modified": "2026-01-06T01:20:35+00:00"
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-1570990371?api-version=2023-11-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTc2NjUzMQ==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "new_value",
        "content_type": null,
        "tags": {}
      },
      "StatusCode": 409,
      "ResponseHeaders": {
        "Content-Type": "application/problem+json; charset=utf-8",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTc2NjUzMg==;sn=101766532",
        "x-ms-date": "Tue, 06 Jan 2026 01:20:35 GMT"
      },
      "ResponseBody": {
        "type": "https://azconfig.io/errors/key-locked",
        "title": "Modifing key 'key-1570990371' is not allowed",
        "name": "key-1570990371",
        "detail": "The key is read-only. To allow modification unlock it first.",
        "status": 409
      }
    },
[...]
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-1570990371?api-version=2023-11-01&label=test_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTc2NjUzMw==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"fSNR65uxVFX9WFbnXb5xy4zRHeGBpMmJpWsW3g6dmlI\"",
        "Last-Modified": "Tue, 06 Jan 2026 01:20:35 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTc2NjUzNQ==;sn=101766535",
        "x-ms-date": "Tue, 06 Jan 2026 01:20:35 GMT"
      },
      "ResponseBody": {
        "etag": "fSNR65uxVFX9WFbnXb5xy4zRHeGBpMmJpWsW3g6dmlI",
        "key": "key-1570990371",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-01-06T01:20:35+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t9c954b564de572f9-azconfig-net.azconfig.io;Id=MdvE;Secret=Kg==",
    "RandomSeed": "1848984641"
  }
}
