{
  "Entries": [
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-366737947?api-version=2023-11-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"d1t-QamxQ-UVe6Cs_sEkGHPgpvPPkiOnvecvvBJqPfE\"",
        "Last-Modified": "Mon, 26 Jan 2026 05:43:14 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzg1MTM1MA==;sn=103851350",
        "x-ms-date": "Mon, 26 Jan 2026 05:43:14 GMT"
      },
      "ResponseBody": {
        "etag": "d1t-QamxQ-UVe6Cs_sEkGHPgpvPPkiOnvecvvBJqPfE",
        "key": "key-366737947",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-01-26T05:43:14+00:00"
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/locks/key-366737947?api-version=2023-11-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzg1MTM1MA==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"0KV2K93_uEf6NJN5XgfZfXHrqYVtrtGQ9YHVsd_NWMI\"",
        "Last-Modified": "Mon, 26 Jan 2026 05:43:14 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzg1MTM1MQ==;sn=103851351",
        "x-ms-date": "Mon, 26 Jan 2026 05:43:14 GMT"
      },
      "ResponseBody": {
        "etag": "0KV2K93_uEf6NJN5XgfZfXHrqYVtrtGQ9YHVsd_NWMI",
        "key": "key-366737947",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": true,
        "last_modified": "2026-01-26T05:43:14+00:00"
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-366737947?api-version=2023-11-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzg1MTM1MQ==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "new_value",
        "content_type": null,
        "tags": {}
      },
      "StatusCode": 409,
      "ResponseHeaders": {
        "Content-Type": "application/problem+json; charset=utf-8",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzg1MTM1Mg==;sn=103851352",
        "x-ms-date": "Mon, 26 Jan 2026 05:43:15 GMT"
      },
      "ResponseBody": {
        "type": "https://azconfig.io/errors/key-locked",
        "title": "Modifing key 'key-366737947' is not allowed",
        "name": "key-366737947",
        "detail": "The key is read-only. To allow modification unlock it first.",
        "status": 409
      }
    },
[...]
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-366737947?api-version=2023-11-01&label=test_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzg1MTM1Mw==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"pQtXKUbYvRT70aMAI8n5ewNfIbaS8bcjW06wqKK8UDE\"",
        "Last-Modified": "Mon, 26 Jan 2026 05:43:15 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzg1MTM1NQ==;sn=103851355",
        "x-ms-date": "Mon, 26 Jan 2026 05:43:15 GMT"
      },
      "ResponseBody": {
        "etag": "pQtXKUbYvRT70aMAI8n5ewNfIbaS8bcjW06wqKK8UDE",
        "key": "key-366737947",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-01-26T05:43:15+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t9c954b564de572f9-azconfig-net.azconfig.io;Id=MdvE;Secret=Kg==",
    "RandomSeed": "500336711"
  }
}
