{
  "Entries": [
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-1250977177?api-version=2023-11-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"e_qx_cBVWSXqsKRSKAXn945QIwx1GPl2qL6_rrOwILA\"",
        "Last-Modified": "Mon, 01 Dec 2025 08:44:21 GMT",
        "Sync-Token": "zAJw6V16=NTo1Izk4Nzc2OTUy;sn=98776952",
        "x-ms-date": "Mon, 01 Dec 2025 08:44:21 GMT"
      },
      "ResponseBody": {
        "etag": "e_qx_cBVWSXqsKRSKAXn945QIwx1GPl2qL6_rrOwILA",
        "key": "key-1250977177",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2025-12-01T08:44:21+00:00"
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-1250977177?api-version=2023-11-01&label=test_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1Izk4Nzc2OTUy",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"e_qx_cBVWSXqsKRSKAXn945QIwx1GPl2qL6_rrOwILA\"",
        "Last-Modified": "Mon, 01 Dec 2025 08:44:21 GMT",
        "Sync-Token": "zAJw6V16=NTo1Izk4Nzc2OTUz;sn=98776953",
        "x-ms-date": "Mon, 01 Dec 2025 08:44:22 GMT"
      },
      "ResponseBody": {
        "etag": "e_qx_cBVWSXqsKRSKAXn945QIwx1GPl2qL6_rrOwILA",
        "key": "key-1250977177",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2025-12-01T08:44:21+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t9c954b564de572f9-azconfig-net.azconfig.io;Id=MdvE;Secret=Kg==",
    "RandomSeed": "2006559974"
  }
}
