{
  "Entries": [
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-183346489?api-version=2023-11-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"bRg4hWkBl_ozrIIecnqgAzuGFx-TFuvcwCICyhYL4rw\"",
        "Last-Modified": "Mon, 01 Dec 2025 08:44:22 GMT",
        "Sync-Token": "zAJw6V16=NTo1Izk4Nzc2OTU0;sn=98776954",
        "x-ms-date": "Mon, 01 Dec 2025 08:44:22 GMT"
      },
      "ResponseBody": {
        "etag": "bRg4hWkBl_ozrIIecnqgAzuGFx-TFuvcwCICyhYL4rw",
        "key": "key-183346489",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2025-12-01T08:44:22+00:00"
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/locks/key-183346489?api-version=2023-11-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1Izk4Nzc2OTU0",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"C7PJsE0tx_zHGfucSO9r7Eshso6ur_tOTvpWp-zPdh4\"",
        "Last-Modified": "Mon, 01 Dec 2025 08:44:22 GMT",
        "Sync-Token": "zAJw6V16=NTo1Izk4Nzc2OTU1;sn=98776955",
        "x-ms-date": "Mon, 01 Dec 2025 08:44:22 GMT"
      },
      "ResponseBody": {
        "etag": "C7PJsE0tx_zHGfucSO9r7Eshso6ur_tOTvpWp-zPdh4",
        "key": "key-183346489",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": true,
        "last_modified": "2025-12-01T08:44:22+00:00"
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-183346489?api-version=2023-11-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NTo1Izk4Nzc2OTU1",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "new_value",
        "content_type": null,
        "tags": {}
      },
      "StatusCode": 409,
      "ResponseHeaders": {
        "Content-Type": "application/problem+json; charset=utf-8",
        "Sync-Token": "zAJw6V16=NTo1Izk4Nzc2OTU2;sn=98776956",
        "x-ms-date": "Mon, 01 Dec 2025 08:44:22 GMT"
      },
      "ResponseBody": {
        "type": "https://azconfig.io/errors/key-locked",
        "title": "Modifing key 'key-183346489' is not allowed",
        "name": "key-183346489",
        "detail": "The key is read-only. To allow modification unlock it first.",
        "status": 409
      }
    },
[...]
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-183346489?api-version=2023-11-01&label=test_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1Izk4Nzc2OTU3",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"1oPKIjZiKkQuaQe1rPLP97fajQLSFJvA8EvRHSpvMKg\"",
        "Last-Modified": "Mon, 01 Dec 2025 08:44:22 GMT",
        "Sync-Token": "zAJw6V16=NTo1Izk4Nzc2OTU5;sn=98776959",
        "x-ms-date": "Mon, 01 Dec 2025 08:44:22 GMT"
      },
      "ResponseBody": {
        "etag": "1oPKIjZiKkQuaQe1rPLP97fajQLSFJvA8EvRHSpvMKg",
        "key": "key-183346489",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2025-12-01T08:44:22+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t9c954b564de572f9-azconfig-net.azconfig.io;Id=MdvE;Secret=Kg==",
    "RandomSeed": "1823462205"
  }
}
