{
  "Entries": [
    {
      "RequestUri": "https://azure-sdk-for-net-test.azconfig.io/kv/key-979161878?api-version=2026-04-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"Ig21WIhCgLRYHtOpqERev7Swi3Dyl6hGgQmUDJ5ZQyY\"",
        "Last-Modified": "Wed, 27 May 2026 23:59:00 GMT",
        "Sync-Token": "zAJw6V16=NToxNyM0ODA0MjEzMw==;sn=48042133",
        "x-ms-date": "Wed, 27 May 2026 23:59:00 GMT"
      },
      "ResponseBody": {
        "etag": "Ig21WIhCgLRYHtOpqERev7Swi3Dyl6hGgQmUDJ5ZQyY",
        "key": "key-979161878",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "description": null,
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-05-27T23:59:00+00:00"
      }
    },
    {
      "RequestUri": "https://azure-sdk-for-net-test.azconfig.io/kv/key-979161878?api-version=2026-04-01&label=test_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NToxNyM0ODA0MjEzMw==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"Ig21WIhCgLRYHtOpqERev7Swi3Dyl6hGgQmUDJ5ZQyY\"",
        "Last-Modified": "Wed, 27 May 2026 23:59:00 GMT",
        "Sync-Token": "zAJw6V16=NToxNyM0ODA0MjEzNA==;sn=48042134",
        "x-ms-date": "Wed, 27 May 2026 23:59:00 GMT"
      },
      "ResponseBody": {
        "etag": "Ig21WIhCgLRYHtOpqERev7Swi3Dyl6hGgQmUDJ5ZQyY",
        "key": "key-979161878",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "description": null,
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-05-27T23:59:00+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://azure-sdk-for-net-test.azconfig.io;Id=8ePU;Secret=Kg==",
    "RandomSeed": "2116973806"
  }
}
