{
  "Entries": [
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/kv/key-196102851?api-version=2023-11-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"w7Cay7eYwMimu5PcuAdZqm94Jb_4KFTi-PePJMwx3NA\"",
        "Last-Modified": "Mon, 17 Nov 2025 16:58:26 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzU3NzY0OTg3;sn=57764987",
        "x-ms-date": "Mon, 17 Nov 2025 16:58:26 GMT"
      },
      "ResponseBody": {
        "etag": "w7Cay7eYwMimu5PcuAdZqm94Jb_4KFTi-PePJMwx3NA",
        "key": "key-196102851",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2025-11-17T16:58:26+00:00"
      }
    },
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/kv/key-196102851?api-version=2023-11-01&label=test_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Njo1IzU3NzY0OTg3",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"w7Cay7eYwMimu5PcuAdZqm94Jb_4KFTi-PePJMwx3NA\"",
        "Last-Modified": "Mon, 17 Nov 2025 16:58:26 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzU3NzY0OTg4;sn=57764988",
        "x-ms-date": "Mon, 17 Nov 2025 16:58:27 GMT"
      },
      "ResponseBody": {
        "etag": "w7Cay7eYwMimu5PcuAdZqm94Jb_4KFTi-PePJMwx3NA",
        "key": "key-196102851",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2025-11-17T16:58:26+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t8cdd9157ca7d1363-azconfig-net.azconfig.io;Id=wNKY;Secret=Kg==",
    "RandomSeed": "1578726147"
  }
}
