{
  "Entries": [
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-1940337730?api-version=2023-11-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"vAUdYfxhqCn0IY7913NjmtWrggXtpegWAoxLtx2osn4\"",
        "Last-Modified": "Fri, 23 Jan 2026 07:18:40 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU3NjE3MQ==;sn=103576171",
        "x-ms-date": "Fri, 23 Jan 2026 07:18:40 GMT"
      },
      "ResponseBody": {
        "etag": "vAUdYfxhqCn0IY7913NjmtWrggXtpegWAoxLtx2osn4",
        "key": "key-1940337730",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-01-23T07:18:40+00:00"
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/locks/key-1940337730?api-version=2023-11-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU3NjE3MQ==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"Vq4TzztAnGIJ7bhNgM-3k4ilgDdxuabVLvkyZpa3W_8\"",
        "Last-Modified": "Fri, 23 Jan 2026 07:18:40 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU3NjE3Mg==;sn=103576172",
        "x-ms-date": "Fri, 23 Jan 2026 07:18:40 GMT"
      },
      "ResponseBody": {
        "etag": "Vq4TzztAnGIJ7bhNgM-3k4ilgDdxuabVLvkyZpa3W_8",
        "key": "key-1940337730",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": true,
        "last_modified": "2026-01-23T07:18:40+00:00"
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-1940337730?api-version=2023-11-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU3NjE3Mg==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "new_value",
        "content_type": null,
        "tags": {}
      },
      "StatusCode": 409,
      "ResponseHeaders": {
        "Content-Type": "application/problem+json; charset=utf-8",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU3NjE3Mw==;sn=103576173",
        "x-ms-date": "Fri, 23 Jan 2026 07:18:40 GMT"
      },
      "ResponseBody": {
        "type": "https://azconfig.io/errors/key-locked",
        "title": "Modifing key 'key-1940337730' is not allowed",
        "name": "key-1940337730",
        "detail": "The key is read-only. To allow modification unlock it first.",
        "status": 409
      }
    },
[...]
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-1940337730?api-version=2023-11-01&label=test_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU3NjE3NA==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"PoSbvyHUWNUFwKqd8bzOHabd1aDbQI7kTIetI1e4vjY\"",
        "Last-Modified": "Fri, 23 Jan 2026 07:18:41 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU3NjE3Ng==;sn=103576176",
        "x-ms-date": "Fri, 23 Jan 2026 07:18:41 GMT"
      },
      "ResponseBody": {
        "etag": "PoSbvyHUWNUFwKqd8bzOHabd1aDbQI7kTIetI1e4vjY",
        "key": "key-1940337730",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-01-23T07:18:41+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t9c954b564de572f9-azconfig-net.azconfig.io;Id=MdvE;Secret=Kg==",
    "RandomSeed": "1736663413"
  }
}
