{
  "Entries": [
    {
      "RequestUri": "https://tdfcae3cf5eab7143-azconfig-net.azconfig.io/kv/key-2014902599?label=test_label&api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"PJ3hOJEUV3UBy5VsmT0krQtq4yTRVkZm0HuRSk6NUCw\"",
        "Last-Modified": "Wed, 24 Jul 2024 15:47:05 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzMyMjcxNzc3;sn=32271777"
      },
      "ResponseBody": {
        "etag": "PJ3hOJEUV3UBy5VsmT0krQtq4yTRVkZm0HuRSk6NUCw",
        "key": "key-2014902599",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2024-07-24T15:47:05+00:00"
      }
    },
    {
      "RequestUri": "https://tdfcae3cf5eab7143-azconfig-net.azconfig.io/locks/key-2014902599?label=test_label&api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Njo1IzMyMjcxNzc3",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"ozHr45nzCTu2V1BGtHQoDH2M0jz7wnNNtonupisL8tw\"",
        "Last-Modified": "Wed, 24 Jul 2024 15:47:06 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzMyMjcxNzc4;sn=32271778"
      },
      "ResponseBody": {
        "etag": "ozHr45nzCTu2V1BGtHQoDH2M0jz7wnNNtonupisL8tw",
        "key": "key-2014902599",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": true,
        "last_modified": "2024-07-24T15:47:06+00:00"
      }
    },
    {
      "RequestUri": "https://tdfcae3cf5eab7143-azconfig-net.azconfig.io/kv/key-2014902599?label=test_label&api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=Njo1IzMyMjcxNzc4",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "new_value",
        "content_type": null,
        "tags": {}
      },
      "StatusCode": 409,
      "ResponseHeaders": {
        "Content-Type": "application/problem+json; charset=utf-8",
        "Sync-Token": "zAJw6V16=Njo1IzMyMjcxNzc5;sn=32271779"
      },
      "ResponseBody": {
        "type": "https://azconfig.io/errors/key-locked",
        "title": "Modifing key 'key-2014902599' is not allowed",
        "name": "key-2014902599",
        "detail": "The key is read-only. To allow modification unlock it first.",
        "status": 409
      }
    },
[...]
    {
      "RequestUri": "https://tdfcae3cf5eab7143-azconfig-net.azconfig.io/kv/key-2014902599?label=test_label&api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Njo1IzMyMjcxNzgw",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"r39tB8jTPMJW5hhbt2IheVQhP4r6U-1O9R1YGGBB8zU\"",
        "Last-Modified": "Wed, 24 Jul 2024 15:47:06 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzMyMjcxNzgy;sn=32271782"
      },
      "ResponseBody": {
        "etag": "r39tB8jTPMJW5hhbt2IheVQhP4r6U-1O9R1YGGBB8zU",
        "key": "key-2014902599",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2024-07-24T15:47:06+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://tdfcae3cf5eab7143-azconfig-net.azconfig.io;Id=MEKF;Secret=Kg==",
    "RandomSeed": "290140426"
  }
}
