{
  "Entries": [
    {
      "RequestUri": "https://appconfig-canary-2023-10-01.azconfig.io/kv/key-244918527?label=test_label\u0026api-version=2023-10-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "b11OQu6GthUatwGXUIKHHSRVyik0TdrUk5kZm3yZd2A="
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022bLq8aaVyRDqWypFf5YpkICCIgdXEQhlZCS-L_uWTup0\u0022",
        "Last-Modified": "Fri, 03 Nov 2023 20:12:09 GMT",
        "Sync-Token": "zAJw6V16=NjoxNSM1MzM5NDMw;sn=5339430"
      },
      "ResponseBody": {
        "etag": "bLq8aaVyRDqWypFf5YpkICCIgdXEQhlZCS-L_uWTup0",
        "key": "key-244918527",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2023-11-03T20:12:09\u002B00:00"
      }
    },
    {
      "RequestUri": "https://appconfig-canary-2023-10-01.azconfig.io/kv/key-244918527?label=test_label\u0026api-version=2023-10-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NjoxNSM1MzM5NDMw",
        "x-ms-content-sha256": "47DEQpj8HBSa\u002B/TImW\u002B5JCeuQeRkm5NMpJWZG3hSuFU="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022bLq8aaVyRDqWypFf5YpkICCIgdXEQhlZCS-L_uWTup0\u0022",
        "Last-Modified": "Fri, 03 Nov 2023 20:12:09 GMT",
        "Sync-Token": "zAJw6V16=NjoxNSM1MzM5NDMx;sn=5339431"
      },
      "ResponseBody": {
        "etag": "bLq8aaVyRDqWypFf5YpkICCIgdXEQhlZCS-L_uWTup0",
        "key": "key-244918527",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2023-11-03T20:12:09\u002B00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://appconfig-canary-2023-10-01.azconfig.io;Id=0VlC;Secret=Kg==",
    "RandomSeed": "294121426"
  }
}
