{
  "Entries": [
    {
      "RequestUri": "https://azure-sdk-for-net-test.azconfig.io/kv/key-281424491?api-version=2026-04-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"DJZ2vnmUhsQFJVNzVQ-wOo-MOaqIY6QylXASfBh_-e0\"",
        "Last-Modified": "Wed, 27 May 2026 23:59:00 GMT",
        "Sync-Token": "zAJw6V16=NToxNyM0ODA0MjEzNQ==;sn=48042135",
        "x-ms-date": "Wed, 27 May 2026 23:59:00 GMT"
      },
      "ResponseBody": {
        "etag": "DJZ2vnmUhsQFJVNzVQ-wOo-MOaqIY6QylXASfBh_-e0",
        "key": "key-281424491",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "description": null,
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-05-27T23:59:00+00:00"
      }
    },
    {
      "RequestUri": "https://azure-sdk-for-net-test.azconfig.io/locks/key-281424491?api-version=2026-04-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NToxNyM0ODA0MjEzNQ==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"YG3ABCYUFKLXX04jCmeziMZaqh7FsJBHn0a8Zbr4Ta8\"",
        "Last-Modified": "Wed, 27 May 2026 23:59:00 GMT",
        "Sync-Token": "zAJw6V16=NToxNyM0ODA0MjEzNg==;sn=48042136",
        "x-ms-date": "Wed, 27 May 2026 23:59:00 GMT"
      },
      "ResponseBody": {
        "etag": "YG3ABCYUFKLXX04jCmeziMZaqh7FsJBHn0a8Zbr4Ta8",
        "key": "key-281424491",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "description": null,
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": true,
        "last_modified": "2026-05-27T23:59:00+00:00"
      }
    },
    {
      "RequestUri": "https://azure-sdk-for-net-test.azconfig.io/kv/key-281424491?api-version=2026-04-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NToxNyM0ODA0MjEzNg==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "new_value",
        "content_type": null,
        "tags": {}
      },
      "StatusCode": 409,
      "ResponseHeaders": {
        "Content-Type": "application/problem+json; charset=utf-8",
        "Sync-Token": "zAJw6V16=NToxNyM0ODA0MjEzNw==;sn=48042137",
        "x-ms-date": "Wed, 27 May 2026 23:59:00 GMT"
      },
      "ResponseBody": {
        "type": "https://azconfig.io/errors/key-locked",
        "title": "Modifing key 'key-281424491' is not allowed",
        "name": "key-281424491",
        "detail": "The key is read-only. To allow modification unlock it first.",
        "status": 409
      }
    },
[...]
    {
      "RequestUri": "https://azure-sdk-for-net-test.azconfig.io/kv/key-281424491?api-version=2026-04-01&label=test_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NToxNyM0ODA0MjEzOA==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"PWmmCJvgDTEqRKtQZ2SpShOoGIGQWpd2BVBmTUfM9-A\"",
        "Last-Modified": "Wed, 27 May 2026 23:59:00 GMT",
        "Sync-Token": "zAJw6V16=NToxNyM0ODA0MjE0MA==;sn=48042140",
        "x-ms-date": "Wed, 27 May 2026 23:59:00 GMT"
      },
      "ResponseBody": {
        "etag": "PWmmCJvgDTEqRKtQZ2SpShOoGIGQWpd2BVBmTUfM9-A",
        "key": "key-281424491",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "description": null,
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-05-27T23:59:00+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://azure-sdk-for-net-test.azconfig.io;Id=8ePU;Secret=Kg==",
    "RandomSeed": "133493733"
  }
}
