{
  "Entries": [
    {
      "RequestUri": "https://tdfcae3cf5eab7143-azconfig-net.azconfig.io/kv/key-1907978412?label=test_label&api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"C6WLaS2EJ9n_y_jfKVYfDjCJ29vvsvEioekBPohLEc8\"",
        "Last-Modified": "Wed, 24 Jul 2024 15:47:05 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzMyMjcxNzc1;sn=32271775"
      },
      "ResponseBody": {
        "etag": "C6WLaS2EJ9n_y_jfKVYfDjCJ29vvsvEioekBPohLEc8",
        "key": "key-1907978412",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2024-07-24T15:47:05+00:00"
      }
    },
    {
      "RequestUri": "https://tdfcae3cf5eab7143-azconfig-net.azconfig.io/kv/key-1907978412?label=test_label&api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Njo1IzMyMjcxNzc1",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"C6WLaS2EJ9n_y_jfKVYfDjCJ29vvsvEioekBPohLEc8\"",
        "Last-Modified": "Wed, 24 Jul 2024 15:47:05 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzMyMjcxNzc2;sn=32271776"
      },
      "ResponseBody": {
        "etag": "C6WLaS2EJ9n_y_jfKVYfDjCJ29vvsvEioekBPohLEc8",
        "key": "key-1907978412",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2024-07-24T15:47:05+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://tdfcae3cf5eab7143-azconfig-net.azconfig.io;Id=MEKF;Secret=Kg==",
    "RandomSeed": "1367427716"
  }
}
