{
  "Entries": [
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-1656410388?api-version=2023-11-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"szIG5vPvLAxNH5d8ZQuKNWlBc2m3J72EziN_gtkpr9s\"",
        "Last-Modified": "Tue, 06 Jan 2026 01:28:00 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTc2Nzk5MA==;sn=101767990",
        "x-ms-date": "Tue, 06 Jan 2026 01:28:00 GMT"
      },
      "ResponseBody": {
        "etag": "szIG5vPvLAxNH5d8ZQuKNWlBc2m3J72EziN_gtkpr9s",
        "key": "key-1656410388",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-01-06T01:28:00+00:00"
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/locks/key-1656410388?api-version=2023-11-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTc2Nzk5MA==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"28qcclWTNEkxBW91lTHCKt0gFOkFxK49FI7UWX00pG4\"",
        "Last-Modified": "Tue, 06 Jan 2026 01:28:00 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTc2Nzk5Mw==;sn=101767993",
        "x-ms-date": "Tue, 06 Jan 2026 01:28:00 GMT"
      },
      "ResponseBody": {
        "etag": "28qcclWTNEkxBW91lTHCKt0gFOkFxK49FI7UWX00pG4",
        "key": "key-1656410388",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": true,
        "last_modified": "2026-01-06T01:28:00+00:00"
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-1656410388?api-version=2023-11-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTc2Nzk5Mw==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "new_value",
        "content_type": null,
        "tags": {}
      },
      "StatusCode": 409,
      "ResponseHeaders": {
        "Content-Type": "application/problem+json; charset=utf-8",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTc2Nzk5NA==;sn=101767994",
        "x-ms-date": "Tue, 06 Jan 2026 01:28:00 GMT"
      },
      "ResponseBody": {
        "type": "https://azconfig.io/errors/key-locked",
        "title": "Modifing key 'key-1656410388' is not allowed",
        "name": "key-1656410388",
        "detail": "The key is read-only. To allow modification unlock it first.",
        "status": 409
      }
    },
[...]
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-1656410388?api-version=2023-11-01&label=test_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTc2Nzk5NQ==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"dv14vOSyjvRH_5zgYugv7vVR2ryzagmla8OQLhIPVS4\"",
        "Last-Modified": "Tue, 06 Jan 2026 01:28:00 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTc2Nzk5Nw==;sn=101767997",
        "x-ms-date": "Tue, 06 Jan 2026 01:28:00 GMT"
      },
      "ResponseBody": {
        "etag": "dv14vOSyjvRH_5zgYugv7vVR2ryzagmla8OQLhIPVS4",
        "key": "key-1656410388",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-01-06T01:28:00+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t9c954b564de572f9-azconfig-net.azconfig.io;Id=MdvE;Secret=Kg==",
    "RandomSeed": "980028590"
  }
}
