{
  "Entries": [
    {
      "RequestUri": "https://tdfcae3cf5eab7143-azconfig-net.azconfig.io/kv/key-1507810828?label=test_label&api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"23HZeB0OlVLp9n9kewNFWClerpPYejCPqqz3onYClEc\"",
        "Last-Modified": "Wed, 26 Feb 2025 21:36:03 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzQzMzQ4Nzg2;sn=43348786"
      },
      "ResponseBody": {
        "etag": "23HZeB0OlVLp9n9kewNFWClerpPYejCPqqz3onYClEc",
        "key": "key-1507810828",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2025-02-26T21:36:03+00:00"
      }
    },
    {
      "RequestUri": "https://tdfcae3cf5eab7143-azconfig-net.azconfig.io/kv/key-1507810828?label=test_label&api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Njo1IzQzMzQ4Nzg2"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"23HZeB0OlVLp9n9kewNFWClerpPYejCPqqz3onYClEc\"",
        "Last-Modified": "Wed, 26 Feb 2025 21:36:03 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzQzMzQ4Nzg3;sn=43348787"
      },
      "ResponseBody": {
        "etag": "23HZeB0OlVLp9n9kewNFWClerpPYejCPqqz3onYClEc",
        "key": "key-1507810828",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2025-02-26T21:36:03+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_ENDPOINT_STRING": "https://tdfcae3cf5eab7143-azconfig-net.azconfig.io",
    "RandomSeed": "91551180"
  }
}
