{
  "Entries": [
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-422430379?api-version=2023-11-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"oYBsQ5dSdK_ay526Gvxyem51IrZSp-xL0ZkkMDs60zQ\"",
        "Last-Modified": "Thu, 22 Jan 2026 01:36:23 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzQ3Mzc0Nw==;sn=103473747",
        "x-ms-date": "Thu, 22 Jan 2026 01:36:23 GMT"
      },
      "ResponseBody": {
        "etag": "oYBsQ5dSdK_ay526Gvxyem51IrZSp-xL0ZkkMDs60zQ",
        "key": "key-422430379",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-01-22T01:36:23+00:00"
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-422430379?api-version=2023-11-01&label=test_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzQ3Mzc0Nw=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"oYBsQ5dSdK_ay526Gvxyem51IrZSp-xL0ZkkMDs60zQ\"",
        "Last-Modified": "Thu, 22 Jan 2026 01:36:23 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzQ3Mzc0OA==;sn=103473748",
        "x-ms-date": "Thu, 22 Jan 2026 01:36:23 GMT"
      },
      "ResponseBody": {
        "etag": "oYBsQ5dSdK_ay526Gvxyem51IrZSp-xL0ZkkMDs60zQ",
        "key": "key-422430379",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-01-22T01:36:23+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_ENDPOINT_STRING": "https://t9c954b564de572f9-azconfig-net.azconfig.io",
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com/",
    "RandomSeed": "254158110"
  }
}
