{
  "Entries": [
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/kv/key-436758389?api-version=2023-11-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"RMvgUyXCKHiG2XiYvFAcZchIKlw260iYxlyDPy7sxgQ\"",
        "Last-Modified": "Mon, 17 Nov 2025 16:52:55 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzU3NzY0NTQw;sn=57764540",
        "x-ms-date": "Mon, 17 Nov 2025 16:52:55 GMT"
      },
      "ResponseBody": {
        "etag": "RMvgUyXCKHiG2XiYvFAcZchIKlw260iYxlyDPy7sxgQ",
        "key": "key-436758389",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2025-11-17T16:52:55+00:00"
      }
    },
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/kv/key-436758389?api-version=2023-11-01&label=test_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Njo1IzU3NzY0NTQw"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"RMvgUyXCKHiG2XiYvFAcZchIKlw260iYxlyDPy7sxgQ\"",
        "Last-Modified": "Mon, 17 Nov 2025 16:52:55 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzU3NzY0NTQx;sn=57764541",
        "x-ms-date": "Mon, 17 Nov 2025 16:52:55 GMT"
      },
      "ResponseBody": {
        "etag": "RMvgUyXCKHiG2XiYvFAcZchIKlw260iYxlyDPy7sxgQ",
        "key": "key-436758389",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2025-11-17T16:52:55+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_ENDPOINT_STRING": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io",
    "RandomSeed": "1547722573"
  }
}
