{
  "Entries": [
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv/key-1091069843?api-version=2023-11-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"_wKhOEy1qrOZSgrzJPvy7DZSglFgFN_k9jPIHuh6I5M\"",
        "Last-Modified": "Tue, 09 Jun 2026 22:58:18 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY2OTk1NjU2;sn=66995656",
        "x-ms-date": "Tue, 09 Jun 2026 22:58:18 GMT"
      },
      "ResponseBody": {
        "etag": "_wKhOEy1qrOZSgrzJPvy7DZSglFgFN_k9jPIHuh6I5M",
        "key": "key-1091069843",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-06-09T22:58:18+00:00"
      }
    },
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv/key-1091069843?api-version=2023-11-01&label=test_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Mzo1IzY2OTk1NjU2"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"_wKhOEy1qrOZSgrzJPvy7DZSglFgFN_k9jPIHuh6I5M\"",
        "Last-Modified": "Tue, 09 Jun 2026 22:58:18 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY2OTk1NjU3;sn=66995657",
        "x-ms-date": "Tue, 09 Jun 2026 22:58:18 GMT"
      },
      "ResponseBody": {
        "etag": "_wKhOEy1qrOZSgrzJPvy7DZSglFgFN_k9jPIHuh6I5M",
        "key": "key-1091069843",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-06-09T22:58:18+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_ENDPOINT_STRING": "https://mrm90847047-azconfig-net.azconfig.io",
    "RandomSeed": "27225562"
  }
}
