{
  "Entries": [
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/kv/key-955207644?api-version=2023-11-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"-9ddRg4W7NwX_m14kiJgKkj7PnRqjS09a5qlgdB_JuU\"",
        "Last-Modified": "Tue, 18 Nov 2025 04:31:44 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzU3ODA0Njk0;sn=57804694",
        "x-ms-date": "Tue, 18 Nov 2025 04:31:44 GMT"
      },
      "ResponseBody": {
        "etag": "-9ddRg4W7NwX_m14kiJgKkj7PnRqjS09a5qlgdB_JuU",
        "key": "key-955207644",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2025-11-18T04:31:44+00:00"
      }
    },
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/kv/key-955207644?api-version=2023-11-01&label=test_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Njo1IzU3ODA0Njk0"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"-9ddRg4W7NwX_m14kiJgKkj7PnRqjS09a5qlgdB_JuU\"",
        "Last-Modified": "Tue, 18 Nov 2025 04:31:44 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzU3ODA0Njk1;sn=57804695",
        "x-ms-date": "Tue, 18 Nov 2025 04:31:44 GMT"
      },
      "ResponseBody": {
        "etag": "-9ddRg4W7NwX_m14kiJgKkj7PnRqjS09a5qlgdB_JuU",
        "key": "key-955207644",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2025-11-18T04:31:44+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_ENDPOINT_STRING": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io",
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "RandomSeed": "577912604"
  }
}
