{
  "Entries": [
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-875907088?api-version=2023-11-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"3yGzTq_ruYLi-QhcfueUeXIdjo5uMX51YY6yRstL0WI\"",
        "Last-Modified": "Thu, 22 Jan 2026 02:09:58 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzQ3NTIxMg==;sn=103475212",
        "x-ms-date": "Thu, 22 Jan 2026 02:09:58 GMT"
      },
      "ResponseBody": {
        "etag": "3yGzTq_ruYLi-QhcfueUeXIdjo5uMX51YY6yRstL0WI",
        "key": "key-875907088",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-01-22T02:09:58+00:00"
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-875907088?api-version=2023-11-01&label=test_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzQ3NTIxMg=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"3yGzTq_ruYLi-QhcfueUeXIdjo5uMX51YY6yRstL0WI\"",
        "Last-Modified": "Thu, 22 Jan 2026 02:09:58 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzQ3NTIxMw==;sn=103475213",
        "x-ms-date": "Thu, 22 Jan 2026 02:09:58 GMT"
      },
      "ResponseBody": {
        "etag": "3yGzTq_ruYLi-QhcfueUeXIdjo5uMX51YY6yRstL0WI",
        "key": "key-875907088",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-01-22T02:09:58+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_ENDPOINT_STRING": "https://t9c954b564de572f9-azconfig-net.azconfig.io",
    "RandomSeed": "281037832"
  }
}
