{
  "Entries": [
    {
      "RequestUri": "https://tdfcae3cf5eab7143-azconfig-net.azconfig.io/kv/key-1215509479?api-version=2023-11-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"28J5EGvX98fZiKYZKnGKe4FVPKFDlSSL4kjA8v71Gvo\"",
        "Last-Modified": "Fri, 18 Jul 2025 16:31:08 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzUwOTcxODA3;sn=50971807"
      },
      "ResponseBody": {
        "etag": "28J5EGvX98fZiKYZKnGKe4FVPKFDlSSL4kjA8v71Gvo",
        "key": "key-1215509479",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2025-07-18T16:31:08+00:00"
      }
    },
    {
      "RequestUri": "https://tdfcae3cf5eab7143-azconfig-net.azconfig.io/kv/key-1215509479?api-version=2023-11-01&label=test_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Njo1IzUwOTcxODA3"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"28J5EGvX98fZiKYZKnGKe4FVPKFDlSSL4kjA8v71Gvo\"",
        "Last-Modified": "Fri, 18 Jul 2025 16:31:08 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzUwOTcxODA4;sn=50971808"
      },
      "ResponseBody": {
        "etag": "28J5EGvX98fZiKYZKnGKe4FVPKFDlSSL4kjA8v71Gvo",
        "key": "key-1215509479",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2025-07-18T16:31:08+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_ENDPOINT_STRING": "https://tdfcae3cf5eab7143-azconfig-net.azconfig.io",
    "RandomSeed": "1835849054"
  }
}
