{
  "Entries": [
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-713370990?api-version=2023-11-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"EVXV3YPaSGa0K12LxNFmheIZLUg5bTKxe3-3wlzIosM\"",
        "Last-Modified": "Tue, 06 Jan 2026 01:21:01 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTc2NjU3OA==;sn=101766578",
        "x-ms-date": "Tue, 06 Jan 2026 01:21:01 GMT"
      },
      "ResponseBody": {
        "etag": "EVXV3YPaSGa0K12LxNFmheIZLUg5bTKxe3-3wlzIosM",
        "key": "key-713370990",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-01-06T01:21:01+00:00"
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-713370990?api-version=2023-11-01&label=test_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTc2NjU3OA=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"EVXV3YPaSGa0K12LxNFmheIZLUg5bTKxe3-3wlzIosM\"",
        "Last-Modified": "Tue, 06 Jan 2026 01:21:01 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTc2NjU3OQ==;sn=101766579",
        "x-ms-date": "Tue, 06 Jan 2026 01:21:01 GMT"
      },
      "ResponseBody": {
        "etag": "EVXV3YPaSGa0K12LxNFmheIZLUg5bTKxe3-3wlzIosM",
        "key": "key-713370990",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-01-06T01:21:01+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_ENDPOINT_STRING": "https://t9c954b564de572f9-azconfig-net.azconfig.io",
    "RandomSeed": "1644206043"
  }
}
