{
  "Entries": [
    {
      "RequestUri": "https://tdfcae3cf5eab7143-azconfig-net.azconfig.io/kv/key-1142432608?label=test_label&api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"hy1SOD5lTSHnZrBYM6bBU3GDRiYfiHWM1v-4nGPAKh8\"",
        "Last-Modified": "Wed, 26 Feb 2025 22:50:49 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzQzMzUwNDM1;sn=43350435"
      },
      "ResponseBody": {
        "etag": "hy1SOD5lTSHnZrBYM6bBU3GDRiYfiHWM1v-4nGPAKh8",
        "key": "key-1142432608",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2025-02-26T22:50:49+00:00"
      }
    },
    {
      "RequestUri": "https://tdfcae3cf5eab7143-azconfig-net.azconfig.io/kv/key-1142432608?label=test_label&api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Njo1IzQzMzUwNDM1"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"hy1SOD5lTSHnZrBYM6bBU3GDRiYfiHWM1v-4nGPAKh8\"",
        "Last-Modified": "Wed, 26 Feb 2025 22:50:49 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzQzMzUwNDM2;sn=43350436"
      },
      "ResponseBody": {
        "etag": "hy1SOD5lTSHnZrBYM6bBU3GDRiYfiHWM1v-4nGPAKh8",
        "key": "key-1142432608",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2025-02-26T22:50:49+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_ENDPOINT_STRING": "https://tdfcae3cf5eab7143-azconfig-net.azconfig.io",
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com/",
    "RandomSeed": "737983810"
  }
}
