{
  "Entries": [
    {
      "RequestUri": "https://azure-sdk-for-net-test.azconfig.io/kv/key-644313844?api-version=2026-04-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"WnMZfshz-kqQMp_cmBGDpgddjq1tOVhb5qlcpqmzz-g\"",
        "Last-Modified": "Wed, 27 May 2026 23:59:03 GMT",
        "Sync-Token": "zAJw6V16=NToxNyM0ODA0MjE0MQ==;sn=48042141",
        "x-ms-date": "Wed, 27 May 2026 23:59:03 GMT"
      },
      "ResponseBody": {
        "etag": "WnMZfshz-kqQMp_cmBGDpgddjq1tOVhb5qlcpqmzz-g",
        "key": "key-644313844",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "description": null,
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-05-27T23:59:03+00:00"
      }
    },
    {
      "RequestUri": "https://azure-sdk-for-net-test.azconfig.io/kv/key-644313844?api-version=2026-04-01&label=test_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NToxNyM0ODA0MjE0MQ=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"WnMZfshz-kqQMp_cmBGDpgddjq1tOVhb5qlcpqmzz-g\"",
        "Last-Modified": "Wed, 27 May 2026 23:59:03 GMT",
        "Sync-Token": "zAJw6V16=NToxNyM0ODA0MjE0Mg==;sn=48042142",
        "x-ms-date": "Wed, 27 May 2026 23:59:03 GMT"
      },
      "ResponseBody": {
        "etag": "WnMZfshz-kqQMp_cmBGDpgddjq1tOVhb5qlcpqmzz-g",
        "key": "key-644313844",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "description": null,
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-05-27T23:59:03+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_ENDPOINT_STRING": "https://azure-sdk-for-net-test.azconfig.io",
    "RandomSeed": "768420876"
  }
}
