{
  "Entries": [
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-220742971?api-version=2023-11-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"GMpUDZt97ng1nfiXVdiYzAKbTtbX_jLw7_E7NFlFrlA\"",
        "Last-Modified": "Thu, 22 Jan 2026 02:04:15 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzQ3NDc2Mg==;sn=103474762",
        "x-ms-date": "Thu, 22 Jan 2026 02:04:15 GMT"
      },
      "ResponseBody": {
        "etag": "GMpUDZt97ng1nfiXVdiYzAKbTtbX_jLw7_E7NFlFrlA",
        "key": "key-220742971",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-01-22T02:04:15+00:00"
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-220742971?api-version=2023-11-01&label=test_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzQ3NDc2Mg=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"GMpUDZt97ng1nfiXVdiYzAKbTtbX_jLw7_E7NFlFrlA\"",
        "Last-Modified": "Thu, 22 Jan 2026 02:04:15 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzQ3NDc2Mw==;sn=103474763",
        "x-ms-date": "Thu, 22 Jan 2026 02:04:15 GMT"
      },
      "ResponseBody": {
        "etag": "GMpUDZt97ng1nfiXVdiYzAKbTtbX_jLw7_E7NFlFrlA",
        "key": "key-220742971",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-01-22T02:04:15+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_ENDPOINT_STRING": "https://t9c954b564de572f9-azconfig-net.azconfig.io",
    "RandomSeed": "61409502"
  }
}
