{
  "Entries": [
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv/key-1849581031?api-version=2026-04-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "description": "test_description"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"2JGd5_ZVyzjTdqr7LM_DyUkc6lPQog7wxOcp_zmm-OE\"",
        "Last-Modified": "Wed, 10 Jun 2026 19:22:18 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDc0NDc4;sn=67074478",
        "x-ms-date": "Wed, 10 Jun 2026 19:22:18 GMT"
      },
      "ResponseBody": {
        "etag": "2JGd5_ZVyzjTdqr7LM_DyUkc6lPQog7wxOcp_zmm-OE",
        "key": "key-1849581031",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "description": "test_description",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-06-10T19:22:18+00:00"
      }
    },
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv/key-1849581031?api-version=2026-04-01&label=test_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDc0NDc4"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"2JGd5_ZVyzjTdqr7LM_DyUkc6lPQog7wxOcp_zmm-OE\"",
        "Last-Modified": "Wed, 10 Jun 2026 19:22:18 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDc0NDc5;sn=67074479",
        "x-ms-date": "Wed, 10 Jun 2026 19:22:18 GMT"
      },
      "ResponseBody": {
        "etag": "2JGd5_ZVyzjTdqr7LM_DyUkc6lPQog7wxOcp_zmm-OE",
        "key": "key-1849581031",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "description": "test_description",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-06-10T19:22:18+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_ENDPOINT_STRING": "https://mrm90847047-azconfig-net.azconfig.io",
    "RandomSeed": "22438666"
  }
}
