{
  "Entries": [
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv/key-1971548648?api-version=2026-04-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "description": "test_description"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"D-VlMgOUjE5LPAxVxZSNF0acK3NvRoVUCWU3ButKRF8\"",
        "Last-Modified": "Wed, 10 Jun 2026 21:45:06 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDk1MTU2;sn=67095156",
        "x-ms-date": "Wed, 10 Jun 2026 21:45:06 GMT"
      },
      "ResponseBody": {
        "etag": "D-VlMgOUjE5LPAxVxZSNF0acK3NvRoVUCWU3ButKRF8",
        "key": "key-1971548648",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "description": "test_description",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-06-10T21:45:06+00:00"
      }
    },
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv/key-1971548648?api-version=2026-04-01&label=test_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDk1MTU2"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"D-VlMgOUjE5LPAxVxZSNF0acK3NvRoVUCWU3ButKRF8\"",
        "Last-Modified": "Wed, 10 Jun 2026 21:45:06 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDk1MTU3;sn=67095157",
        "x-ms-date": "Wed, 10 Jun 2026 21:45:06 GMT"
      },
      "ResponseBody": {
        "etag": "D-VlMgOUjE5LPAxVxZSNF0acK3NvRoVUCWU3ButKRF8",
        "key": "key-1971548648",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "description": "test_description",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-06-10T21:45:06+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_ENDPOINT_STRING": "https://mrm90847047-azconfig-net.azconfig.io",
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "RandomSeed": "761166780"
  }
}
