{
  "Entries": [
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-1863647021?api-version=2023-11-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"o2ycpYKK8Xn828BZmuIY0IOhTm3_WRC9chGfJiyPvEY\"",
        "Last-Modified": "Mon, 01 Dec 2025 08:38:27 GMT",
        "Sync-Token": "zAJw6V16=NTo1Izk4Nzc2MTUy;sn=98776152",
        "x-ms-date": "Mon, 01 Dec 2025 08:38:27 GMT"
      },
      "ResponseBody": {
        "etag": "o2ycpYKK8Xn828BZmuIY0IOhTm3_WRC9chGfJiyPvEY",
        "key": "key-1863647021",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2025-12-01T08:38:27+00:00"
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/key-1863647021?api-version=2023-11-01&label=test_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1Izk4Nzc2MTUy"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"o2ycpYKK8Xn828BZmuIY0IOhTm3_WRC9chGfJiyPvEY\"",
        "Last-Modified": "Mon, 01 Dec 2025 08:38:27 GMT",
        "Sync-Token": "zAJw6V16=NTo1Izk4Nzc2MTUz;sn=98776153",
        "x-ms-date": "Mon, 01 Dec 2025 08:38:27 GMT"
      },
      "ResponseBody": {
        "etag": "o2ycpYKK8Xn828BZmuIY0IOhTm3_WRC9chGfJiyPvEY",
        "key": "key-1863647021",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2025-12-01T08:38:27+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_ENDPOINT_STRING": "https://t9c954b564de572f9-azconfig-net.azconfig.io",
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com/",
    "RandomSeed": "379752902"
  }
}
