{
  "Entries": [
    {
      "RequestUri": "https://azure-sdk-for-net-test.azconfig.io/kv/key-477213110?api-version=2026-04-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"11X5Wwea32VdB7mGI0uXPY4BSEtNavpaDjibZlqkQC8\"",
        "Last-Modified": "Fri, 29 May 2026 20:00:57 GMT",
        "Sync-Token": "zAJw6V16=NToxNyM0ODE0OTc1Nw==;sn=48149757",
        "x-ms-date": "Fri, 29 May 2026 20:00:57 GMT"
      },
      "ResponseBody": {
        "etag": "11X5Wwea32VdB7mGI0uXPY4BSEtNavpaDjibZlqkQC8",
        "key": "key-477213110",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "description": null,
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-05-29T20:00:57+00:00"
      }
    },
    {
      "RequestUri": "https://azure-sdk-for-net-test.azconfig.io/kv/key-477213110?api-version=2026-04-01&label=test_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NToxNyM0ODE0OTc1Nw=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"11X5Wwea32VdB7mGI0uXPY4BSEtNavpaDjibZlqkQC8\"",
        "Last-Modified": "Fri, 29 May 2026 20:00:57 GMT",
        "Sync-Token": "zAJw6V16=NToxNyM0ODE0OTc1OA==;sn=48149758",
        "x-ms-date": "Fri, 29 May 2026 20:00:57 GMT"
      },
      "ResponseBody": {
        "etag": "11X5Wwea32VdB7mGI0uXPY4BSEtNavpaDjibZlqkQC8",
        "key": "key-477213110",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "description": null,
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-05-29T20:00:57+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_ENDPOINT_STRING": "https://azure-sdk-for-net-test.azconfig.io",
    "RandomSeed": "564755454"
  }
}
