{
  "Entries": [
    {
      "RequestUri": "https://azure-sdk-for-net-test.azconfig.io/kv/key-1923061820?api-version=2026-04-01&label=test_label",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "value": "test_value",
        "content_type": "test_content_type",
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"AvRM-3TYMt2_XwBtRY2Ohyv6cvLxJRUd9pKkSs1MtTo\"",
        "Last-Modified": "Thu, 28 May 2026 00:03:11 GMT",
        "Sync-Token": "zAJw6V16=NToxNyM0ODA0MjYyOQ==;sn=48042629",
        "x-ms-date": "Thu, 28 May 2026 00:03:11 GMT"
      },
      "ResponseBody": {
        "etag": "AvRM-3TYMt2_XwBtRY2Ohyv6cvLxJRUd9pKkSs1MtTo",
        "key": "key-1923061820",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "description": null,
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-05-28T00:03:11+00:00"
      }
    },
    {
      "RequestUri": "https://azure-sdk-for-net-test.azconfig.io/kv/key-1923061820?api-version=2026-04-01&label=test_label",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NToxNyM0ODA0MjYyOQ=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"AvRM-3TYMt2_XwBtRY2Ohyv6cvLxJRUd9pKkSs1MtTo\"",
        "Last-Modified": "Thu, 28 May 2026 00:03:11 GMT",
        "Sync-Token": "zAJw6V16=NToxNyM0ODA0MjYzMA==;sn=48042630",
        "x-ms-date": "Thu, 28 May 2026 00:03:11 GMT"
      },
      "ResponseBody": {
        "etag": "AvRM-3TYMt2_XwBtRY2Ohyv6cvLxJRUd9pKkSs1MtTo",
        "key": "key-1923061820",
        "label": "test_label",
        "content_type": "test_content_type",
        "value": "test_value",
        "description": null,
        "tags": {
          "tag1": "value1",
          "tag2": "value2"
        },
        "locked": false,
        "last_modified": "2026-05-28T00:03:11+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_ENDPOINT_STRING": "https://azure-sdk-for-net-test.azconfig.io",
    "AZURE_AUTHORITY_HOST": null,
    "RandomSeed": "295473705"
  }
}
