{
  "Entries": [
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/Test_Key?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "Test_Value",
        "content_type": null,
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"7ngLTaqQvf-IsbvsZKLsvekVOy33TSblCd0wTfj2Tqs\"",
        "Last-Modified": "Tue, 23 Dec 2025 05:45:31 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTA0OTY0MQ==;sn=101049641",
        "x-ms-date": "Tue, 23 Dec 2025 05:45:31 GMT"
      },
      "ResponseBody": {
        "etag": "7ngLTaqQvf-IsbvsZKLsvekVOy33TSblCd0wTfj2Tqs",
        "key": "Test_Key",
        "label": null,
        "content_type": null,
        "value": "Test_Value",
        "tags": {},
        "locked": false,
        "last_modified": "2025-12-23T05:45:31+00:00"
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/snapshots/snapshot-877192426?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTA0OTY0MQ==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "filters": [
          {
            "key": "Test_Key"
          }
        ]
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json; charset=utf-8",
        "ETag": "\"bsx3H_DnItFV0G3GCXS92BdT6g5MTxMUJVDfTb-VMIk\"",
        "Last-Modified": "Tue, 23 Dec 2025 05:45:31 GMT",
        "Link": "</kv?snapshot=snapshot-877192426&api-version=2023-11-01>; rel=\"items\"",
        "Operation-Location": "https://t9c954b564de572f9-azconfig-net.azconfig.io/operations?snapshot=snapshot-877192426&api-version=2023-11-01",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTA0OTY0Mw==;sn=101049643",
        "x-ms-date": "Tue, 23 Dec 2025 05:45:31 GMT"
      },
      "ResponseBody": {
        "etag": "bsx3H_DnItFV0G3GCXS92BdT6g5MTxMUJVDfTb-VMIk",
        "name": "snapshot-877192426",
        "status": "provisioning",
        "filters": [
          {
            "key": "Test_Key",
            "label": null,
            "tags": []
          }
        ],
        "composition_type": "key",
        "created": "2025-12-23T05:45:31.8423968+00:00",
        "size": 0,
        "items_count": 0,
        "tags": {},
        "retention_period": 2592000
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/operations?api-version=2023-11-01&snapshot=snapshot-877192426",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTA0OTY0Mw==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTA0OTY0Mw==;sn=101049643",
        "x-ms-date": "Tue, 23 Dec 2025 05:45:31 GMT"
      },
      "ResponseBody": {
        "id": "iglh4CHv3LSNOFUQ0izLYBW-VSl3BX8n7GBjr3eDRoY",
        "status": "Running",
        "error": null
      }
    },
[...]
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv?api-version=2023-11-01&snapshot=snapshot-877192426",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTA0OTY0OQ==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"5joIgwWpKNvbih8VPDT9goLmnm_4DbtgMLrRF6F1qcw\"",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTA0OTY1MA==;sn=101049650",
        "x-ms-date": "Tue, 23 Dec 2025 05:45:52 GMT"
      },
      "ResponseBody": {
        "etag": "5joIgwWpKNvbih8VPDT9goLmnm_4DbtgMLrRF6F1qcw",
        "items": [
          {
            "etag": "7ngLTaqQvf-IsbvsZKLsvekVOy33TSblCd0wTfj2Tqs",
            "key": "Test_Key",
            "label": null,
            "content_type": null,
            "value": "Test_Value",
            "tags": {},
            "locked": false,
            "last_modified": "2025-12-23T05:45:31+00:00"
          }
        ]
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/Test_Key?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTA0OTY1MA==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"8dKhfIJ5p0JufEjYOwps2o5OFp8qk5Rd3qKks-gQrx4\"",
        "Last-Modified": "Tue, 23 Dec 2025 05:45:52 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTA0OTY1MQ==;sn=101049651",
        "x-ms-date": "Tue, 23 Dec 2025 05:45:53 GMT"
      },
      "ResponseBody": {
        "etag": "8dKhfIJ5p0JufEjYOwps2o5OFp8qk5Rd3qKks-gQrx4",
        "key": "Test_Key",
        "label": null,
        "content_type": null,
        "value": "Updated_Value",
        "tags": {},
        "locked": false,
        "last_modified": "2025-12-23T05:45:52+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t9c954b564de572f9-azconfig-net.azconfig.io;Id=MdvE;Secret=Kg==",
    "RandomSeed": "1347713464"
  }
}
