{
  "Entries": [
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/Test_Key?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "Test_Value",
        "content_type": null,
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"dgRCqcryqnAZpMSZ1OZtgzEHt4E-Anho9G67fvcHuZ0\"",
        "Last-Modified": "Tue, 06 Jan 2026 06:38:10 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTc3Mzg3OA==;sn=101773878",
        "x-ms-date": "Tue, 06 Jan 2026 06:38:10 GMT"
      },
      "ResponseBody": {
        "etag": "dgRCqcryqnAZpMSZ1OZtgzEHt4E-Anho9G67fvcHuZ0",
        "key": "Test_Key",
        "label": null,
        "content_type": null,
        "value": "Test_Value",
        "tags": {},
        "locked": false,
        "last_modified": "2026-01-06T06:38:10+00:00"
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/snapshots/snapshot-706911965?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTc3Mzg3OA==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "filters": [
          {
            "key": "Test_Key"
          }
        ]
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json; charset=utf-8",
        "ETag": "\"P1-otA1BnqmVK85M5jUxd0WrK23qsVjfOHI7Vi6oxiA\"",
        "Last-Modified": "Tue, 06 Jan 2026 06:38:11 GMT",
        "Link": "</kv?snapshot=snapshot-706911965&api-version=2023-11-01>; rel=\"items\"",
        "Operation-Location": "https://t9c954b564de572f9-azconfig-net.azconfig.io/operations?snapshot=snapshot-706911965&api-version=2023-11-01",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTc3Mzg4MA==;sn=101773880",
        "x-ms-date": "Tue, 06 Jan 2026 06:38:11 GMT"
      },
      "ResponseBody": {
        "etag": "P1-otA1BnqmVK85M5jUxd0WrK23qsVjfOHI7Vi6oxiA",
        "name": "snapshot-706911965",
        "status": "provisioning",
        "filters": [
          {
            "key": "Test_Key",
            "label": null,
            "tags": []
          }
        ],
        "composition_type": "key",
        "created": "2026-01-06T06:38:11.0426574+00:00",
        "size": 0,
        "items_count": 0,
        "tags": {},
        "retention_period": 2592000
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/operations?api-version=2023-11-01&snapshot=snapshot-706911965",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTc3Mzg4MA==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTc3Mzg4MA==;sn=101773880",
        "x-ms-date": "Tue, 06 Jan 2026 06:38:11 GMT"
      },
      "ResponseBody": {
        "id": "8C-UDW6z7G3S-kHbMxZaswYw36zAW-FCJivZNLG5sWs",
        "status": "Running",
        "error": null
      }
    },
[...]
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv?api-version=2023-11-01&snapshot=snapshot-706911965",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTc3Mzg4Mg==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"R5qN6Ti9vZJ4JfpvT9igTYJQ79AusmBr1i41l9YmObA\"",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTc3Mzg4Mw==;sn=101773883",
        "x-ms-date": "Tue, 06 Jan 2026 06:38:21 GMT"
      },
      "ResponseBody": {
        "etag": "R5qN6Ti9vZJ4JfpvT9igTYJQ79AusmBr1i41l9YmObA",
        "items": [
          {
            "etag": "dgRCqcryqnAZpMSZ1OZtgzEHt4E-Anho9G67fvcHuZ0",
            "key": "Test_Key",
            "label": null,
            "content_type": null,
            "value": "Test_Value",
            "tags": {},
            "locked": false,
            "last_modified": "2026-01-06T06:38:10+00:00"
          }
        ]
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/Test_Key?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTc3Mzg4Mw==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"H9qCmYDTCqsE9Ha5BdWHoK_QVrHYA2LIbG9E5BRQ4g8\"",
        "Last-Modified": "Tue, 06 Jan 2026 06:38:21 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMTc3Mzg4NA==;sn=101773884",
        "x-ms-date": "Tue, 06 Jan 2026 06:38:21 GMT"
      },
      "ResponseBody": {
        "etag": "H9qCmYDTCqsE9Ha5BdWHoK_QVrHYA2LIbG9E5BRQ4g8",
        "key": "Test_Key",
        "label": null,
        "content_type": null,
        "value": "Updated_Value",
        "tags": {},
        "locked": false,
        "last_modified": "2026-01-06T06:38:21+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t9c954b564de572f9-azconfig-net.azconfig.io;Id=MdvE;Secret=Kg==",
    "RandomSeed": "145639140"
  }
}
