{
  "Entries": [
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/Test_Key?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "Test_Value",
        "content_type": null,
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"GO3nOeo1u0M8lTDCVmApBwuO1XCNc5KbQs9IaQtO8U8\"",
        "Last-Modified": "Fri, 23 Jan 2026 07:13:09 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU3NTU4OQ==;sn=103575589",
        "x-ms-date": "Fri, 23 Jan 2026 07:13:10 GMT"
      },
      "ResponseBody": {
        "etag": "GO3nOeo1u0M8lTDCVmApBwuO1XCNc5KbQs9IaQtO8U8",
        "key": "Test_Key",
        "label": null,
        "content_type": null,
        "value": "Test_Value",
        "tags": {},
        "locked": false,
        "last_modified": "2026-01-23T07:13:09+00:00"
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/snapshots/snapshot-939595737?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU3NTU4OQ==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "filters": [
          {
            "key": "Test_Key"
          }
        ]
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json; charset=utf-8",
        "ETag": "\"OCs1DuWqETxO6jBdfARqB9t5zZnquuwN_ZAE85ABVso\"",
        "Last-Modified": "Fri, 23 Jan 2026 07:13:10 GMT",
        "Link": "</kv?snapshot=snapshot-939595737&api-version=2023-11-01>; rel=\"items\"",
        "Operation-Location": "https://t9c954b564de572f9-azconfig-net.azconfig.io/operations?snapshot=snapshot-939595737&api-version=2023-11-01",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU3NTU5MQ==;sn=103575591",
        "x-ms-date": "Fri, 23 Jan 2026 07:13:10 GMT"
      },
      "ResponseBody": {
        "etag": "OCs1DuWqETxO6jBdfARqB9t5zZnquuwN_ZAE85ABVso",
        "name": "snapshot-939595737",
        "status": "provisioning",
        "filters": [
          {
            "key": "Test_Key",
            "label": null,
            "tags": []
          }
        ],
        "composition_type": "key",
        "created": "2026-01-23T07:13:10.1272008+00:00",
        "size": 0,
        "items_count": 0,
        "tags": {},
        "retention_period": 2592000
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/operations?api-version=2023-11-01&snapshot=snapshot-939595737",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU3NTU5MQ==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU3NTU5MQ==;sn=103575591",
        "x-ms-date": "Fri, 23 Jan 2026 07:13:10 GMT"
      },
      "ResponseBody": {
        "id": "gevMr-ENIYnPR0_491jmYYcvVw-609SwwBecWyQxBvQ",
        "status": "Running",
        "error": null
      }
    },
[...]
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv?api-version=2023-11-01&snapshot=snapshot-939595737",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU3NTU5OA==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"fORDtAPaNJFGTAGMi_M0WOMoSurPtcrYa4M9kSrzQGI\"",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU3NTYwMA==;sn=103575600",
        "x-ms-date": "Fri, 23 Jan 2026 07:13:31 GMT"
      },
      "ResponseBody": {
        "etag": "fORDtAPaNJFGTAGMi_M0WOMoSurPtcrYa4M9kSrzQGI",
        "items": [
          {
            "etag": "GO3nOeo1u0M8lTDCVmApBwuO1XCNc5KbQs9IaQtO8U8",
            "key": "Test_Key",
            "label": null,
            "content_type": null,
            "value": "Test_Value",
            "tags": {},
            "locked": false,
            "last_modified": "2026-01-23T07:13:09+00:00"
          }
        ]
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/Test_Key?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU3NTYwMA==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"qnp_g7MYxv8jP5zRXC1j1y0rYMtDrywI4N6gEMJVlxc\"",
        "Last-Modified": "Fri, 23 Jan 2026 07:13:30 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU3NTYwMQ==;sn=103575601",
        "x-ms-date": "Fri, 23 Jan 2026 07:13:31 GMT"
      },
      "ResponseBody": {
        "etag": "qnp_g7MYxv8jP5zRXC1j1y0rYMtDrywI4N6gEMJVlxc",
        "key": "Test_Key",
        "label": null,
        "content_type": null,
        "value": "Updated_Value",
        "tags": {},
        "locked": false,
        "last_modified": "2026-01-23T07:13:30+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t9c954b564de572f9-azconfig-net.azconfig.io;Id=MdvE;Secret=Kg==",
    "RandomSeed": "1166501987"
  }
}
