{
  "Entries": [
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv/Test_Key?api-version=2026-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "value": "Test_Value",
        "content_type": null,
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"Ky5y-IqF7a3mt8dexCBFpLNN3GXhjQOxaB61Q9Kdd6A\"",
        "Last-Modified": "Wed, 10 Jun 2026 19:30:05 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDc1MDYz;sn=67075063",
        "x-ms-date": "Wed, 10 Jun 2026 19:30:05 GMT"
      },
      "ResponseBody": {
        "etag": "Ky5y-IqF7a3mt8dexCBFpLNN3GXhjQOxaB61Q9Kdd6A",
        "key": "Test_Key",
        "label": null,
        "content_type": null,
        "value": "Test_Value",
        "description": null,
        "tags": {},
        "locked": false,
        "last_modified": "2026-06-10T19:30:05+00:00"
      }
    },
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/snapshots/snapshot-426039664?api-version=2026-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDc1MDYz"
      },
      "RequestBody": {
        "filters": [
          {
            "key": "Test_Key"
          }
        ],
        "retention_period": 3600,
        "description": "Test snapshot description"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json; charset=utf-8",
        "ETag": "\"daI_58oiwP2kNul3NWHFjmcqQ55aaxC-plVkiG0BpbQ\"",
        "Last-Modified": "Wed, 10 Jun 2026 19:30:05 GMT",
        "Link": "</kv?snapshot=snapshot-426039664&api-version=2026-04-01>; rel=\"items\"",
        "Operation-Location": "https://mrm90847047-azconfig-net.azconfig.io/operations?snapshot=snapshot-426039664&api-version=2026-04-01",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDc1MDY1;sn=67075065",
        "x-ms-date": "Wed, 10 Jun 2026 19:30:05 GMT"
      },
      "ResponseBody": {
        "etag": "daI_58oiwP2kNul3NWHFjmcqQ55aaxC-plVkiG0BpbQ",
        "name": "snapshot-426039664",
        "description": "Test snapshot description",
        "status": "provisioning",
        "filters": [
          {
            "key": "Test_Key",
            "label": null,
            "tags": []
          }
        ],
        "composition_type": "key",
        "created": "2026-06-10T19:30:05.9534813+00:00",
        "size": 0,
        "items_count": 0,
        "tags": {},
        "retention_period": 3600
      }
    },
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/operations?api-version=2026-04-01&snapshot=snapshot-426039664",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDc1MDY1"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDc1MDY1;sn=67075065",
        "x-ms-date": "Wed, 10 Jun 2026 19:30:05 GMT"
      },
      "ResponseBody": {
        "id": "3rixUJPEnM_PDKsyXAF-y_lkocM3z8Xxs7Y2Xde1qwA",
        "status": "Running",
        "error": null
      }
    },
[...]
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv?api-version=2026-04-01&snapshot=snapshot-426039664",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDc1MDgx"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"Dls4Cu-WK9ATx87buXNFN9FDegsAXWrv1gSrQXQ3Jd4\"",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDc1MDgy;sn=67075082",
        "x-ms-date": "Wed, 10 Jun 2026 19:30:26 GMT"
      },
      "ResponseBody": {
        "etag": "Dls4Cu-WK9ATx87buXNFN9FDegsAXWrv1gSrQXQ3Jd4",
        "items": [
          {
            "etag": "Ky5y-IqF7a3mt8dexCBFpLNN3GXhjQOxaB61Q9Kdd6A",
            "key": "Test_Key",
            "label": null,
            "content_type": null,
            "value": "Test_Value",
            "description": null,
            "tags": {},
            "locked": false,
            "last_modified": "2026-06-10T19:30:05+00:00"
          }
        ]
      }
    },
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv/Test_Key?api-version=2026-04-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDc1MDgy"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"Rjw34UPbPitKvWood2ySZKdPNtr-d4TeUJJl3YjGiZ8\"",
        "Last-Modified": "Wed, 10 Jun 2026 19:30:26 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDc1MDgz;sn=67075083",
        "x-ms-date": "Wed, 10 Jun 2026 19:30:26 GMT"
      },
      "ResponseBody": {
        "etag": "Rjw34UPbPitKvWood2ySZKdPNtr-d4TeUJJl3YjGiZ8",
        "key": "Test_Key",
        "label": null,
        "content_type": null,
        "value": "Updated_Value",
        "description": null,
        "tags": {},
        "locked": false,
        "last_modified": "2026-06-10T19:30:26+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_ENDPOINT_STRING": "https://mrm90847047-azconfig-net.azconfig.io",
    "RandomSeed": "415899453"
  }
}
