{
  "Entries": [
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv/Test_Key?api-version=2026-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "value": "Test_Value",
        "content_type": null,
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"S9Xp99_uG7fiBas_t7qmvKmDaQnqTX7iQg_FCxs9too\"",
        "Last-Modified": "Wed, 10 Jun 2026 18:38:22 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDY4NTAw;sn=67068500",
        "x-ms-date": "Wed, 10 Jun 2026 18:38:22 GMT"
      },
      "ResponseBody": {
        "etag": "S9Xp99_uG7fiBas_t7qmvKmDaQnqTX7iQg_FCxs9too",
        "key": "Test_Key",
        "label": null,
        "content_type": null,
        "value": "Test_Value",
        "description": null,
        "tags": {},
        "locked": false,
        "last_modified": "2026-06-10T18:38:22+00:00"
      }
    },
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/snapshots/snapshot-1291110032?api-version=2026-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDY4NTAw"
      },
      "RequestBody": {
        "filters": [
          {
            "key": "Test_Key"
          }
        ],
        "retention_period": 3600,
        "description": "Test snapshot description"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json; charset=utf-8",
        "ETag": "\"PkWSNi_e32WYZSrJhVNFa662brFPOEOP2znHvGVVGgM\"",
        "Last-Modified": "Wed, 10 Jun 2026 18:38:22 GMT",
        "Link": "</kv?snapshot=snapshot-1291110032&api-version=2026-04-01>; rel=\"items\"",
        "Operation-Location": "https://mrm90847047-azconfig-net.azconfig.io/operations?snapshot=snapshot-1291110032&api-version=2026-04-01",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDY4NTAy;sn=67068502",
        "x-ms-date": "Wed, 10 Jun 2026 18:38:22 GMT"
      },
      "ResponseBody": {
        "etag": "PkWSNi_e32WYZSrJhVNFa662brFPOEOP2znHvGVVGgM",
        "name": "snapshot-1291110032",
        "description": "Test snapshot description",
        "status": "provisioning",
        "filters": [
          {
            "key": "Test_Key",
            "label": null,
            "tags": []
          }
        ],
        "composition_type": "key",
        "created": "2026-06-10T18:38:22.7845809+00:00",
        "size": 0,
        "items_count": 0,
        "tags": {},
        "retention_period": 3600
      }
    },
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/operations?api-version=2026-04-01&snapshot=snapshot-1291110032",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDY4NTAy"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDY4NTAz;sn=67068503",
        "x-ms-date": "Wed, 10 Jun 2026 18:38:22 GMT"
      },
      "ResponseBody": {
        "id": "Dm4tWXY7V1GMJHRDXch10Y-IDfbeixp2uacUCRb9nG4",
        "status": "Running",
        "error": null
      }
    },
[...]
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv?api-version=2026-04-01&snapshot=snapshot-1291110032",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDY4NTA2"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"ZaDxPdaoGOMyN23O8ePZa2GSkD1x0rNJVdf9ArtNbjA\"",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDY4NTA3;sn=67068507",
        "x-ms-date": "Wed, 10 Jun 2026 18:38:33 GMT"
      },
      "ResponseBody": {
        "etag": "ZaDxPdaoGOMyN23O8ePZa2GSkD1x0rNJVdf9ArtNbjA",
        "items": [
          {
            "etag": "S9Xp99_uG7fiBas_t7qmvKmDaQnqTX7iQg_FCxs9too",
            "key": "Test_Key",
            "label": null,
            "content_type": null,
            "value": "Test_Value",
            "description": null,
            "tags": {},
            "locked": false,
            "last_modified": "2026-06-10T18:38:22+00:00"
          }
        ]
      }
    },
    {
      "RequestUri": "https://mrm90847047-azconfig-net.azconfig.io/kv/Test_Key?api-version=2026-04-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDY4NTA3"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"x8nNN4OWDObrlCQP-0S9K4-oNujxtUV5vol_I20cu0o\"",
        "Last-Modified": "Wed, 10 Jun 2026 18:38:33 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY3MDY4NTA4;sn=67068508",
        "x-ms-date": "Wed, 10 Jun 2026 18:38:33 GMT"
      },
      "ResponseBody": {
        "etag": "x8nNN4OWDObrlCQP-0S9K4-oNujxtUV5vol_I20cu0o",
        "key": "Test_Key",
        "label": null,
        "content_type": null,
        "value": "Updated_Value",
        "description": null,
        "tags": {},
        "locked": false,
        "last_modified": "2026-06-10T18:38:33+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_ENDPOINT_STRING": "https://mrm90847047-azconfig-net.azconfig.io",
    "RandomSeed": "399324315"
  }
}
