{
  "Entries": [
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/Test_Key?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "Test_Value",
        "content_type": null,
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"t26ri3SKSbYpYm4L1U53ectBBU7--SS7RDzU1QzqiIc\"",
        "Last-Modified": "Fri, 23 Jan 2026 07:18:46 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU3NjE4MQ==;sn=103576181",
        "x-ms-date": "Fri, 23 Jan 2026 07:18:46 GMT"
      },
      "ResponseBody": {
        "etag": "t26ri3SKSbYpYm4L1U53ectBBU7--SS7RDzU1QzqiIc",
        "key": "Test_Key",
        "label": null,
        "content_type": null,
        "value": "Test_Value",
        "tags": {},
        "locked": false,
        "last_modified": "2026-01-23T07:18:46+00:00"
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/snapshots/snapshot-1758920449?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU3NjE4MQ==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "filters": [
          {
            "key": "Test_Key"
          }
        ]
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json; charset=utf-8",
        "ETag": "\"RLp-_7AWFd5nOKHWXTPYo8aj7YwGImdmH4v1CEvWMlo\"",
        "Last-Modified": "Fri, 23 Jan 2026 07:18:47 GMT",
        "Link": "</kv?snapshot=snapshot-1758920449&api-version=2023-11-01>; rel=\"items\"",
        "Operation-Location": "https://t9c954b564de572f9-azconfig-net.azconfig.io/operations?snapshot=snapshot-1758920449&api-version=2023-11-01",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU3NjE4Mw==;sn=103576183",
        "x-ms-date": "Fri, 23 Jan 2026 07:18:47 GMT"
      },
      "ResponseBody": {
        "etag": "RLp-_7AWFd5nOKHWXTPYo8aj7YwGImdmH4v1CEvWMlo",
        "name": "snapshot-1758920449",
        "status": "provisioning",
        "filters": [
          {
            "key": "Test_Key",
            "label": null,
            "tags": []
          }
        ],
        "composition_type": "key",
        "created": "2026-01-23T07:18:47.0991879+00:00",
        "size": 0,
        "items_count": 0,
        "tags": {},
        "retention_period": 2592000
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/operations?api-version=2023-11-01&snapshot=snapshot-1758920449",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU3NjE4Mw==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU3NjE4Mw==;sn=103576183",
        "x-ms-date": "Fri, 23 Jan 2026 07:18:47 GMT"
      },
      "ResponseBody": {
        "id": "ESEZJlyGfpHxYlUGeZicECQRXH6qW5FY_PgfOoHlwag",
        "status": "Running",
        "error": null
      }
    },
[...]
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv?api-version=2023-11-01&snapshot=snapshot-1758920449",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU3NjE4NQ==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"iUh-oBtbThgPjXMgoud34QNp5Nk325SAyDpHIjkIIkA\"",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU3NjE4Ng==;sn=103576186",
        "x-ms-date": "Fri, 23 Jan 2026 07:19:07 GMT"
      },
      "ResponseBody": {
        "etag": "iUh-oBtbThgPjXMgoud34QNp5Nk325SAyDpHIjkIIkA",
        "items": [
          {
            "etag": "t26ri3SKSbYpYm4L1U53ectBBU7--SS7RDzU1QzqiIc",
            "key": "Test_Key",
            "label": null,
            "content_type": null,
            "value": "Test_Value",
            "tags": {},
            "locked": false,
            "last_modified": "2026-01-23T07:18:46+00:00"
          }
        ]
      }
    },
    {
      "RequestUri": "https://t9c954b564de572f9-azconfig-net.azconfig.io/kv/Test_Key?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU3NjE4Ng==",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"_EahuMRMKGvwIpC0usSoL6kMLGi4kGivw54oUOmSsJs\"",
        "Last-Modified": "Fri, 23 Jan 2026 07:19:07 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU3NjE4Nw==;sn=103576187",
        "x-ms-date": "Fri, 23 Jan 2026 07:19:08 GMT"
      },
      "ResponseBody": {
        "etag": "_EahuMRMKGvwIpC0usSoL6kMLGi4kGivw54oUOmSsJs",
        "key": "Test_Key",
        "label": null,
        "content_type": null,
        "value": "Updated_Value",
        "tags": {},
        "locked": false,
        "last_modified": "2026-01-23T07:19:07+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t9c954b564de572f9-azconfig-net.azconfig.io;Id=MdvE;Secret=Kg==",
    "RandomSeed": "966352128"
  }
}
