{
  "Entries": [
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/kv/Test_Key?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "value": "Test_Value",
        "content_type": null,
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"w3-WwLW8UWgTmSdy92ikEOlcGqPi7lfH1Q-8BmsBUQE\"",
        "Last-Modified": "Thu, 09 Oct 2025 16:30:01 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzU1NTMyMzY4;sn=55532368",
        "x-ms-date": "Thu, 09 Oct 2025 16:30:01 GMT"
      },
      "ResponseBody": {
        "etag": "w3-WwLW8UWgTmSdy92ikEOlcGqPi7lfH1Q-8BmsBUQE",
        "key": "Test_Key",
        "label": null,
        "content_type": null,
        "value": "Test_Value",
        "tags": {},
        "locked": false,
        "last_modified": "2025-10-09T16:30:01+00:00"
      }
    },
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/snapshots/snapshot-1691492604?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=Njo1IzU1NTMyMzY4",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": {
        "filters": [
          {
            "key": "Test_Key"
          }
        ]
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json; charset=utf-8",
        "ETag": "\"0D3XZ_r2jBKCfYAptmwgZcsGd2-dX9BC3yWQsrVpA2A\"",
        "Last-Modified": "Thu, 09 Oct 2025 16:30:01 GMT",
        "Link": "</kv?snapshot=snapshot-1691492604&api-version=2023-11-01>; rel=\"items\"",
        "Operation-Location": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/operations?snapshot=snapshot-1691492604&api-version=2023-11-01",
        "Sync-Token": "zAJw6V16=Njo1IzU1NTMyMzcw;sn=55532370",
        "x-ms-date": "Thu, 09 Oct 2025 16:30:01 GMT"
      },
      "ResponseBody": {
        "etag": "0D3XZ_r2jBKCfYAptmwgZcsGd2-dX9BC3yWQsrVpA2A",
        "name": "snapshot-1691492604",
        "status": "provisioning",
        "filters": [
          {
            "key": "Test_Key",
            "label": null,
            "tags": []
          }
        ],
        "composition_type": "key",
        "created": "2025-10-09T16:30:01.6968791+00:00",
        "size": 0,
        "items_count": 0,
        "tags": {},
        "retention_period": 2592000
      }
    },
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/operations?api-version=2023-11-01&snapshot=snapshot-1691492604",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Njo1IzU1NTMyMzcw",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "Sync-Token": "zAJw6V16=Njo1IzU1NTMyMzcw;sn=55532370",
        "x-ms-date": "Thu, 09 Oct 2025 16:30:01 GMT"
      },
      "ResponseBody": {
        "id": "7ENgpD2JwF-RaMLPD87X7IQ7LOi9xEUtLW3D_BcLVBE",
        "status": "Running",
        "error": null
      }
    },
[...]
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/kv?api-version=2023-11-01&snapshot=snapshot-1691492604",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Njo1IzU1NTMyMzgy",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"lFxezWMbeQ3Gf_I2XdTU5yfcim34ZeYIOwF3qtROtrE\"",
        "Sync-Token": "zAJw6V16=Njo1IzU1NTMyMzg1;sn=55532385",
        "x-ms-date": "Thu, 09 Oct 2025 16:30:12 GMT"
      },
      "ResponseBody": {
        "etag": "lFxezWMbeQ3Gf_I2XdTU5yfcim34ZeYIOwF3qtROtrE",
        "items": [
          {
            "etag": "w3-WwLW8UWgTmSdy92ikEOlcGqPi7lfH1Q-8BmsBUQE",
            "key": "Test_Key",
            "label": null,
            "content_type": null,
            "value": "Test_Value",
            "tags": {},
            "locked": false,
            "last_modified": "2025-10-09T16:30:01+00:00"
          }
        ]
      }
    },
    {
      "RequestUri": "https://t8cdd9157ca7d1363-azconfig-net.azconfig.io/kv/Test_Key?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=Njo1IzU1NTMyMzg1",
        "x-ms-content-sha256": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"mJnJJ3tz5VXGk4WUh2fhMdasrH5o35AWoq4-KgfT0U4\"",
        "Last-Modified": "Thu, 09 Oct 2025 16:30:12 GMT",
        "Sync-Token": "zAJw6V16=Njo1IzU1NTMyMzg2;sn=55532386",
        "x-ms-date": "Thu, 09 Oct 2025 16:30:12 GMT"
      },
      "ResponseBody": {
        "etag": "mJnJJ3tz5VXGk4WUh2fhMdasrH5o35AWoq4-KgfT0U4",
        "key": "Test_Key",
        "label": null,
        "content_type": null,
        "value": "Updated_Value",
        "tags": {},
        "locked": false,
        "last_modified": "2025-10-09T16:30:12+00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t8cdd9157ca7d1363-azconfig-net.azconfig.io;Id=wNKY;Secret=Kg==",
    "RandomSeed": "774725693"
  }
}
