{
  "Entries": [
    {
      "RequestUri": "https://t02f6e87f544544f3-azconfig-net.azconfig.io/kv/Test_Key?api-version=2022-11-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*",
        "x-ms-content-sha256": "7NuOhcU0AfXuPPfAzvvuSdcJxjbroXmGrZ4ddyQpxhc="
      },
      "RequestBody": {
        "value": "Test_Value",
        "content_type": null,
        "tags": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022JWJWdRkzpXKBtA2ALxqZ2j3ukbATtKBraJdi92BklxE\u0022",
        "Last-Modified": "Fri, 30 Jun 2023 23:47:35 GMT",
        "Sync-Token": "zAJw6V16=ODo1IzI0ODc5MDIz;sn=24879023"
      },
      "ResponseBody": {
        "etag": "JWJWdRkzpXKBtA2ALxqZ2j3ukbATtKBraJdi92BklxE",
        "key": "Test_Key",
        "label": null,
        "content_type": null,
        "value": "Test_Value",
        "tags": {},
        "locked": false,
        "last_modified": "2023-06-30T23:47:35\u002B00:00"
      }
    },
    {
      "RequestUri": "https://t02f6e87f544544f3-azconfig-net.azconfig.io/snapshots/snapshot-545229370?api-version=2022-11-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Sync-Token": "zAJw6V16=ODo1IzI0ODc5MDIz",
        "x-ms-content-sha256": "GgAT8a2Ss8RlbVLAdZrfwzwly717OtlZ8O1hyM\u002BQYsE="
      },
      "RequestBody": {
        "filters": [
          {
            "key": "Test_Key"
          }
        ]
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot\u002Bjson; charset=utf-8",
        "ETag": "\u00226Sb02NfCmhUlfeStlmg-B6g1s5XpeGhz2ovUrAt_IcI\u0022",
        "Last-Modified": "Fri, 30 Jun 2023 23:47:35 GMT",
        "Link": "\u003C/kv?snapshot=snapshot-545229370\u0026api-version=2022-11-01-preview\u003E; rel=\u0022items\u0022",
        "Operation-Location": "https://t02f6e87f544544f3-azconfig-net.azconfig.io/operations?snapshot=snapshot-545229370\u0026api-version=2022-11-01-preview",
        "Sync-Token": "zAJw6V16=ODo1IzI0ODc5MDI1;sn=24879025"
      },
      "ResponseBody": {
        "etag": "6Sb02NfCmhUlfeStlmg-B6g1s5XpeGhz2ovUrAt_IcI",
        "name": "snapshot-545229370",
        "status": "provisioning",
        "filters": [
          {
            "key": "Test_Key",
            "label": null
          }
        ],
        "composition_type": "key",
        "created": "2023-06-30T23:47:35\u002B00:00",
        "size": 0,
        "items_count": 0,
        "tags": {},
        "retention_period": 2592000
      }
    },
    {
      "RequestUri": "https://t02f6e87f544544f3-azconfig-net.azconfig.io/operations?snapshot=snapshot-545229370\u0026api-version=2022-11-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=ODo1IzI0ODc5MDI1",
        "x-ms-content-sha256": "47DEQpj8HBSa\u002B/TImW\u002B5JCeuQeRkm5NMpJWZG3hSuFU="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "Sync-Token": "zAJw6V16=ODo1IzI0ODc5MDI1;sn=24879025"
      },
      "ResponseBody": {
        "id": "rNaDfRL6_XP9KOPH9KyQVxfLgWBWrh2sEHyk0MOaSEo",
        "status": "Running",
        "error": null
      }
    },
[...]
    {
      "RequestUri": "https://t02f6e87f544544f3-azconfig-net.azconfig.io/kv?api-version=2022-11-01-preview\u0026snapshot=snapshot-545229370",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=ODo1IzI0ODc5MDI3",
        "x-ms-content-sha256": "47DEQpj8HBSa\u002B/TImW\u002B5JCeuQeRkm5NMpJWZG3hSuFU="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset\u002Bjson; charset=utf-8",
        "Sync-Token": "zAJw6V16=ODo1IzI0ODc5MDI4;sn=24879028"
      },
      "ResponseBody": {
        "items": [
          {
            "etag": "JWJWdRkzpXKBtA2ALxqZ2j3ukbATtKBraJdi92BklxE",
            "key": "Test_Key",
            "label": null,
            "content_type": null,
            "value": "Test_Value",
            "tags": {},
            "locked": false,
            "last_modified": "2023-06-30T23:47:35\u002B00:00"
          }
        ]
      }
    },
    {
      "RequestUri": "https://t02f6e87f544544f3-azconfig-net.azconfig.io/kv/Test_Key?api-version=2022-11-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Sync-Token": "zAJw6V16=ODo1IzI0ODc5MDI4",
        "x-ms-content-sha256": "47DEQpj8HBSa\u002B/TImW\u002B5JCeuQeRkm5NMpJWZG3hSuFU="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv\u002Bjson; charset=utf-8",
        "ETag": "\u0022Gzs7Hhd7z4wY_2xh5sRPdwypR6HnOAWnWSA_Z_pRc_o\u0022",
        "Last-Modified": "Fri, 30 Jun 2023 23:47:46 GMT",
        "Sync-Token": "zAJw6V16=ODo1IzI0ODc5MDI5;sn=24879029"
      },
      "ResponseBody": {
        "etag": "Gzs7Hhd7z4wY_2xh5sRPdwypR6HnOAWnWSA_Z_pRc_o",
        "key": "Test_Key",
        "label": null,
        "content_type": null,
        "value": "Updated_Value",
        "tags": {},
        "locked": false,
        "last_modified": "2023-06-30T23:47:46\u002B00:00"
      }
    }
  ],
  "Variables": {
    "APPCONFIGURATION_CONNECTION_STRING": "Endpoint=https://t02f6e87f544544f3-azconfig-net.azconfig.io;Id=Ek\u002BM;Secret=Kg==",
    "RandomSeed": "1053587047"
  }
}
