{
  "Entries": [
    {
      "RequestUri": "https://camaiaor-formrec-eastus.cognitiveservices.azure.com/formrecognizer/v2.1/prebuilt/receipt/analyze?includeTextDetails=true\u0026locale=en-US",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "image/jpeg",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Operation-Location": "https://camaiaor-formrec-eastus.cognitiveservices.azure.com/formrecognizer/v2.1/prebuilt/receipt/analyzeResults/16d1ddc5-fc13-4090-88ad-6b9c1da46bb2",
        "x-ms-region": "East US"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://camaiaor-formrec-eastus.cognitiveservices.azure.com/formrecognizer/v2.1/prebuilt/receipt/analyzeResults/16d1ddc5-fc13-4090-88ad-6b9c1da46bb2",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "status": "running",
        "createdDateTime": "2023-04-28T20:22:53Z",
        "lastUpdatedDateTime": "2023-04-28T20:22:53Z"
      }
    },
[...]
    {
      "RequestUri": "https://camaiaor-formrec-eastus.cognitiveservices.azure.com/formrecognizer/v2.1/prebuilt/receipt/analyzeResults/16d1ddc5-fc13-4090-88ad-6b9c1da46bb2",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "status": "succeeded",
        "createdDateTime": "2023-04-28T20:22:53Z",
        "lastUpdatedDateTime": "2023-04-28T20:22:55Z",
        "analyzeResult": {
          "version": "2.1.0",
          "readResults": [
            {
              "page": 1,
              "angle": 0,
              "width": 1688,
              "height": 3000,
              "unit": "pixel",
              "lines": [
                {
                  "boundingBox": [
                    612,
                    287,
                    1052,
                    277,
                    1055,
                    384,
                    614,
                    397
                  ],
                  "text": "Contoso",
                  "appearance": {
                    "style": {
                      "name": "other",
                      "confidence": 0.878
                    }
                  },
                  "words": [
                    {
                      "boundingBox": [
                        613,
                        288,
                        1040,
                        278,
                        1044,
                        385,
                        614,
                        398
                      ],
                      "text": "Contoso",
                      "confidence": 0.994
                    }
                  ]
                },
                {
                [...]
