{
  "Entries": [
    {
      "RequestUri": "https://camaiaor-localtests.cognitiveservices.azure.com/formrecognizer/v2.1/prebuilt/receipt/analyze?includeTextDetails=false&locale=not-locale",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "image/jpeg"
      },
      "RequestBody": null,
      "StatusCode": 400,
      "ResponseHeaders": {
        "azure-deprecating": "API version 2.1 will retire on 2027-09-30. (https://aka.ms/Azure-Docuement-Intelligence-V2-retirement)",
        "Content-Type": "application/json; charset=utf-8",
        "ms-azure-ai-errorcode": "UnsupportedLocale",
        "x-ms-error-code": "UnsupportedLocale",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "error": {
          "code": "UnsupportedLocale",
          "message": "Locale unsupported. Supported locales include en-AU, en-CA, en-GB, en-IN and en-US."
        }
      }
    }
  ],
  "Variables": {
    "ENDPOINT": "https://camaiaor-localtests.cognitiveservices.azure.com/",
    "RandomSeed": "379639466"
  }
}
