{
  "Entries": [
    {
      "RequestUri": "https://camaiaor-localtests.cognitiveservices.azure.com/formrecognizer/v2.1/prebuilt/receipt/analyze?includeTextDetails=false",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "image/jpeg",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "azure-deprecating": "API version 2.1 will retire on 2027-09-30. (https://aka.ms/Azure-Docuement-Intelligence-V2-retirement)",
        "Operation-Location": "https://camaiaor-localtests.cognitiveservices.azure.com/formrecognizer/v2.1/prebuilt/receipt/analyzeResults/8558fca2-ba56-411f-a9df-0bdbbdcff4c4",
        "x-ms-region": "East US"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://camaiaor-localtests.cognitiveservices.azure.com/formrecognizer/v2.1/prebuilt/receipt/analyzeResults/8558fca2-ba56-411f-a9df-0bdbbdcff4c4",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azure-deprecating": "API version 2.1 will retire on 2027-09-30. (https://aka.ms/Azure-Docuement-Intelligence-V2-retirement)",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "status": "running",
        "createdDateTime": "2024-10-07T21:05:14Z",
        "lastUpdatedDateTime": "2024-10-07T21:05:14Z"
      }
    },
[...]
    {
      "RequestUri": "https://camaiaor-localtests.cognitiveservices.azure.com/formrecognizer/v2.1/prebuilt/receipt/analyzeResults/8558fca2-ba56-411f-a9df-0bdbbdcff4c4",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azure-deprecating": "API version 2.1 will retire on 2027-09-30. (https://aka.ms/Azure-Docuement-Intelligence-V2-retirement)",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "status": "succeeded",
        "createdDateTime": "2024-10-07T21:05:14Z",
        "lastUpdatedDateTime": "2024-10-07T21:05:16Z",
        "analyzeResult": {
          "version": "2.1.0",
          "readResults": [
            {
              "page": 1,
              "angle": 0,
              "width": 1688,
              "height": 3000,
              "unit": "pixel"
            }
          ],
          "documentResults": [
            {
              "docType": "prebuilt:receipt",
              "pageRange": [
                1,
                1
              ],
              "fields": {
                "Items": {
                  "type": "array",
                  "valueArray": [
                    {
                      "type": "object",
                      "valueObject": {
                        "Name": {
                          "type": "string",
                          "valueString": "Surface Pro 6",
                          "text": "Surface Pro 6",
                          "boundingBox": [
                            364,
                            1559,
                            675,
                            1561.7,
                            674.5,
                            1625.7,
                            363.4,
                            1623
                          ],
                          "page": 1,
                          "confidence": 0.907
                        },
                        "Quantity": {
                          "type": "number",
                          "valueNumber": 1,
                          "text": "1",
                          "boundingBox": [
                            327,
                            1558,
                            352,
                            1559,
                            351,
                            1623,
                            327,
                            1623
                          ],
                          "page": 1,
                          "confidence": 0.971
                        },
                        "TotalPrice": {
                          "type": "number",
                          "valueNumber": 999,
                          "text": "999.00",
                          "boundingBox": [
                            971,
                            1786,
                            1135,
                            1789,
                            1133,
                            1863,
                            969,
                            1860
                          ],
                      [...]
