{
  "Entries": [
    {
      "RequestUri": "https://camaiaor-localtests.cognitiveservices.azure.com/formrecognizer/v2.1/prebuilt/receipt/analyze?includeTextDetails=false",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "source": "Sanitized"
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "azure-deprecating": "API version 2.1 will retire on 2027-09-30. (https://aka.ms/Azure-Docuement-Intelligence-V2-retirement)",
        "Operation-Location": "https://camaiaor-localtests.cognitiveservices.azure.com/formrecognizer/v2.1/prebuilt/receipt/analyzeResults/9fed2e3e-ba2a-4135-a088-32463cb92298",
        "x-ms-region": "East US"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://camaiaor-localtests.cognitiveservices.azure.com/formrecognizer/v2.1/prebuilt/receipt/analyzeResults/9fed2e3e-ba2a-4135-a088-32463cb92298",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azure-deprecating": "API version 2.1 will retire on 2027-09-30. (https://aka.ms/Azure-Docuement-Intelligence-V2-retirement)",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "status": "running",
        "createdDateTime": "2024-10-07T21:05:11Z",
        "lastUpdatedDateTime": "2024-10-07T21:05:11Z"
      }
    },
[...]
    {
      "RequestUri": "https://camaiaor-localtests.cognitiveservices.azure.com/formrecognizer/v2.1/prebuilt/receipt/analyzeResults/9fed2e3e-ba2a-4135-a088-32463cb92298",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azure-deprecating": "API version 2.1 will retire on 2027-09-30. (https://aka.ms/Azure-Docuement-Intelligence-V2-retirement)",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "status": "succeeded",
        "createdDateTime": "2024-10-07T21:05:11Z",
        "lastUpdatedDateTime": "2024-10-07T21:05:13Z",
        "analyzeResult": {
          "version": "2.1.0",
          "readResults": [
            {
              "page": 1,
              "angle": 1.3367,
              "width": 1688,
              "height": 3000,
              "unit": "pixel"
            }
          ],
          "documentResults": [
            {
              "docType": "prebuilt:receipt",
              "pageRange": [
                1,
                1
              ],
              "fields": {
                "Items": {
                  "type": "array",
                  "valueArray": [
                    {
                      "type": "object",
                      "valueObject": {
                        "Name": {
                          "type": "string",
                          "valueString": "Cappuccino",
                          "text": "Cappuccino",
                          "boundingBox": [
                            304,
                            1585,
                            657,
                            1598,
                            657,
                            1688,
                            302,
                            1679
                          ],
                          "page": 1,
                          "confidence": 0.871
                        },
                        "Quantity": {
                          "type": "number",
                          "valueNumber": 1,
                          "text": "1",
                          "boundingBox": [
                            244,
                            1581,
                            286,
                            1584,
                            283,
                            1678,
                            242,
                            1675
                          ],
                          "page": 1,
                          "confidence": 0.963
                        },
                        "TotalPrice": {
                          "type": "number",
                          "valueNumber": 2.2,
                          "text": "$2.20",
                          "boundingBox": [
                            1106,
                            1579,
                            1260,
                            1574,
                            1263,
                            1656,
                            1108,
                            1662
                          ],
                     [...]
