{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/2cac2a14-ba6b-46a6-bce8-2d9781a41ba2/resourceGroups/NotificationHubRG-6060/providers/Microsoft.NotificationHubs/namespaces/azNotificationHubNamespace2732?api-version=2023-10-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2014-09-01, 2016-03-01, 2017-04-01, 2020-01-01-preview, 2023-01-01-preview, 2023-09-01, 2023-10-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "TrackingId": "e7eddbf9-1d69-4495-9e4c-bb52ab8cf8f5",
        "x-ms-ratelimit-remaining-subscription-reads": "11998"
      },
      "ResponseBody": {
        "sku": {
          "name": "Standard"
        },
        "properties": {
          "name": "azNotificationHubNamespace2732",
          "provisioningState": "Succeeded",
          "status": "Created",
          "enabled": true,
          "critical": false,
          "subscriptionId": "2cac2a14-ba6b-46a6-bce8-2d9781a41ba2",
          "createdAt": "2024-05-30T21:28:52.237\u002B00:00",
          "updatedAt": "2024-05-30T21:28:52.243\u002B00:00",
          "namespaceType": "NotificationHub",
          "zoneRedundancy": "Disabled",
          "networkAcls": {},
          "serviceBusEndpoint": "https://azNotificationHubNamespace2732.servicebus.windows.net:443/",
          "privateEndpointConnections": [],
          "publicNetworkAccess": "Enabled"
        },
        "location": "East US",
        "id": "/subscriptions/2cac2a14-ba6b-46a6-bce8-2d9781a41ba2/resourceGroups/NotificationHubRG-6060/providers/Microsoft.NotificationHubs/namespaces/azNotificationHubNamespace2732",
        "name": "azNotificationHubNamespace2732",
        "type": "Microsoft.NotificationHubs/namespaces"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/2cac2a14-ba6b-46a6-bce8-2d9781a41ba2/resourceGroups/NotificationHubRG-6060/providers/Microsoft.NotificationHubs/namespaces/azNotificationHubNamespace2732/notificationHubs/azNotificationHub3618?api-version=2023-10-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus",
        "properties": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2014-09-01, 2016-03-01, 2017-04-01, 2020-01-01-preview, 2023-01-01-preview, 2023-09-01, 2023-10-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "TrackingId": "e4be7fcd-111c-4c32-8bbc-f76b1f4ccdbd",
        "x-ms-ratelimit-remaining-subscription-writes": "1197"
      },
      "ResponseBody": {
        "properties": {
          "name": "azNotificationHub3618",
          "registrationTtl": "10675199.02:48:05.4775807",
          "dailyMaxActiveDevices": 0
        },
        "location": "East US",
        "id": "/subscriptions/2cac2a14-ba6b-46a6-bce8-2d9781a41ba2/resourceGroups/NotificationHubRG-6060/providers/Microsoft.NotificationHubs/namespaces/azNotificationHubNamespace2732/notificationHubs/azNotificationHub3618",
        "name": "azNotificationHub3618",
        "type": "Microsoft.NotificationHubs/namespaces/notificationHubs"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/2cac2a14-ba6b-46a6-bce8-2d9781a41ba2/resourceGroups/NotificationHubRG-6060/providers/Microsoft.NotificationHubs/namespaces/azNotificationHubNamespace2732/notificationHubs/azNotificationHub3618?api-version=2023-10-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2014-09-01, 2016-03-01, 2017-04-01, 2020-01-01-preview, 2023-01-01-preview, 2023-09-01, 2023-10-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "TrackingId": "7e3b0a76-1c08-4001-b1ae-d482f40cc07e",
        "x-ms-ratelimit-remaining-subscription-reads": "11997"
      },
      "ResponseBody": {
        "properties": {
          "name": "azNotificationHub3618",
          "registrationTtl": "10675199.02:48:05.4775807",
          "dailyMaxActiveDevices": 0
        },
        "location": "East US",
        "id": "/subscriptions/2cac2a14-ba6b-46a6-bce8-2d9781a41ba2/resourceGroups/NotificationHubRG-6060/providers/Microsoft.NotificationHubs/namespaces/azNotificationHubNamespace2732/notificationHubs/azNotificationHub3618",
        "name": "azNotificationHub3618",
        "type": "Microsoft.NotificationHubs/namespaces/notificationHubs"
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "CLIENT_ID": "52e51775-1124-4468-82ef-6d407d7c0a85",
    "RandomSeed": "1460369206",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "2cac2a14-ba6b-46a6-bce8-2d9781a41ba2",
    "TENANT_ID": "72f988bf-86f1-41af-91ab-2d7cd011db47"
  }
}
