{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.com/operatorInformation/:search?api-version=2025-06-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 14 Aug 2025 22:56:47 GMT"
      },
      "RequestBody": {
        "phoneNumbers": [
          "+14155550100",
          "+14155550100"
        ],
        "options": {
          "includeAdditionalOperatorDetails": false
        }
      },
      "StatusCode": 400,
      "ResponseHeaders": {
        "api-supported-versions": "2023-04-30-preview, 2023-05-01-preview, 2023-10-01-preview, 2024-03-01-preview, 2024-04-30-preview, 2024-05-01-preview, 2024-08-31-preview, 2025-02-11, 2025-04-01-preview, 2025-04-01, 2025-04-15-preview, 2025-06-01",
        "Content-Type": "application/json",
        "MS-CV": "Sanitized",
        "X-Processing-Time": "34ms"
      },
      "ResponseBody": {
        "error": {
          "code": "BadRequest",
          "message": "Can only accept one phoneNumber"
        }
      }
    }
  ],
  "Variables": {}
}
