{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.sanitized_label.sanitized_location.geocatalog.spatio.azure.com/data/mosaic/register?api-version=2026-04-15",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "filter": {
          "op": "and",
          "args": [
            {
              "op": "=",
              "args": [
                {
                  "property": "collection"
                },
                "naip"
              ]
            },
            {
              "op": ">=",
              "args": [
                {
                  "property": "datetime"
                },
                "2021-01-01T00:00:00Z"
              ]
            },
            {
              "op": "<=",
              "args": [
                {
                  "property": "datetime"
                },
                "2022-12-31T23:59:59Z"
              ]
            }
          ]
        },
        "filter-lang": "cql2-json"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json"
      },
      "ResponseBody": {
        "searchid": "bd805e561a269b6293e2635ac4f79ef6",
        "links": [
          {
            "href": "https://Sanitized.sanitized_label.sanitized_location.geocatalog.spatio.azure.com/data/mosaic/bd805e561a269b6293e2635ac4f79ef6/info",
            "rel": "metadata",
            "type": "application/json",
            "title": "Mosaic metadata"
          },
          {
            "href": "https://Sanitized.sanitized_label.sanitized_location.geocatalog.spatio.azure.com/data/mosaic/bd805e561a269b6293e2635ac4f79ef6/tilejson.json",
            "rel": "tilejson",
            "type": "application/json",
            "title": "Link for TileJSON"
          },
          {
            "href": "https://Sanitized.sanitized_label.sanitized_location.geocatalog.spatio.azure.com/data/mosaic/bd805e561a269b6293e2635ac4f79ef6/WMTSCapabilities.xml",
            "rel": "wmts",
            "type": "application/json",
            "title": "Link for WMTS"
          }
        ]
      }
    },
    {
      "RequestUri": "https://Sanitized.sanitized_label.sanitized_location.geocatalog.spatio.azure.com/data/mosaic/searches/bd805e561a269b6293e2635ac4f79ef6/info?api-version=2026-04-15",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json"
      },
      "ResponseBody": {
        "search": {
          "hash": "bd805e561a269b6293e2635ac4f79ef6",
          "search": {
            "filter": {
              "op": "and",
              "args": [
                {
                  "op": "=",
                  "args": [
                    {
                      "property": "collection"
                    },
                    "naip"
                  ]
                },
                {
                  "op": ">=",
                  "args": [
                    {
                      "property": "datetime"
                    },
                    "2021-01-01T00:00:00Z"
                  ]
                },
                {
                  "op": "<=",
                  "args": [
                    {
                      "property": "datetime"
                    },
                    "2022-12-31T23:59:59Z"
                  ]
                }
              ]
            },
            "filter-lang": "cql2-json"
          },
          "lastused": "2026-06-26T08:19:17.637005Z",
          "usecount": 1,
          "metadata": {
            "type": "mosaic"
          }
        },
        "links": [
          {
            "href": "https://Sanitized.sanitized_label.sanitized_location.geocatalog.spatio.azure.com/data/mosaic/searches/bd805e561a269b6293e2635ac4f79ef6/info",
            "rel": "self",
            "type": "application/json",
            "title": "Mosaic metadata"
          },
          {
            "href": "https://Sanitized.sanitized_label.sanitized_location.geocatalog.spatio.azure.com/data/mosaic/searches/bd805e561a269b6293e2635ac4f79ef6/tilejson.json",
            "rel": "tilejson",
            "type": "application/json",
            "title": "Link for TileJSON"
          },
          {
            "href": "https://Sanitized.sanitized_label.sanitized_location.geocatalog.spatio.azure.com/data/mosaic/searches/bd805e561a269b6293e2635ac4f79ef6/WMTSCapabilities.xml",
            "rel": "wmts",
            "type": "application/json",
            "title": "Link for WMTS"
          }
        ]
      }
    }
  ],
  "Variables": {
    "PLANETARYCOMPUTER_COLLECTION_ID": "naip",
    "PLANETARYCOMPUTER_ENDPOINT": "https://Sanitized.sanitized_label.sanitized_location.geocatalog.spatio.azure.com",
    "RandomSeed": "1068975085"
  }
}
