{
  "Entries": [
    {
      "RequestUri": "https://sanitized-host.services.ai.azure.com/api/projects/sanitized-project/toolboxes/test-toolbox/versions?api-version=v1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Foundry-Features": "MemoryStores=V1Preview,ContainerAgents=V1Preview,WorkflowAgents=V1Preview,Evaluations=V1Preview,Schedules=V1Preview,RedTeams=V1Preview,AgentEndpoints=V1Preview,Skills=V1Preview,Insights=V1Preview,DataGenerationJobs=V1Preview,Models=V1Preview,AgentsOptimization=V1Preview,Routines=V1Preview,ExternalAgents=V1Preview"
      },
      "RequestBody": {
        "description": "BrowserAutomation",
        "tools": [
          {
            "type": "browser_automation_preview",
            "name": "browser-automation",
            "description": "Test browser automation",
            "browser_automation_preview": {
              "connection": {
                "project_connection_id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sanitized-rg/providers/Microsoft.CognitiveServices/accounts/sanitized-account/projects/sanitized-project/connections/sanitizedconnection"
              }
            }
          }
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "1.0",
        "azureml-served-by-cluster": "hyena-westus2-01",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "West Central US",
        "x-ms-response-type": "standard"
      },
      "ResponseBody": {
        "metadata": {},
        "id": "toolbox_7679907b6698ecba3a3c3dd137d998bf86c12d42:1",
        "name": "test-toolbox",
        "version": "1",
        "description": "BrowserAutomation",
        "created_at": 1782237257,
        "tools": [
          {
            "type": "browser_automation_preview",
            "name": "browser-automation",
            "description": "Test browser automation",
            "browser_automation_preview": {
              "connection": {
                "project_connection_id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sanitized-rg/providers/Microsoft.CognitiveServices/accounts/sanitized-account/projects/sanitized-project/connections/sanitizedconnection"
              }
            }
          }
        ],
        "skills": [],
        "object": "toolbox.version"
      }
    },
    {
      "RequestUri": "https://sanitized-host.services.ai.azure.com/api/projects/sanitized-project/toolboxes/test-toolbox/versions/1?api-version=v1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Foundry-Features": "MemoryStores=V1Preview,ContainerAgents=V1Preview,WorkflowAgents=V1Preview,Evaluations=V1Preview,Schedules=V1Preview,RedTeams=V1Preview,AgentEndpoints=V1Preview,Skills=V1Preview,Insights=V1Preview,DataGenerationJobs=V1Previe[...]
    {
      "RequestUri": "https://sanitized-host.services.ai.azure.com/api/projects/sanitized-project/agents/cs-e2e-tests-client/versions?api-version=v1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Foundry-Features": "MemoryStores=V1Preview,ContainerAgents=V1Preview,WorkflowAgents=V1Preview,Evaluations=V1Preview,Schedules=V1Preview,RedTeams=V1Preview,AgentEndpoints=V1Preview,Skills=V1Preview,Insights=V1Preview,DataGenerationJobs=V1Preview,Models=V1Preview,AgentsOptimization=V1Preview,Routines=V1Preview,ExternalAgents=V1Preview"
      },
      "RequestBody": {
        "definition": {
          "kind": "prompt",
          "model": "gpt-4.1",
          "tools": [
            {
              "type": "browser_automation_preview",
              "browser_automation_preview": {
                "connection": {
                  "project_connection_id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sanitized-rg/providers/Microsoft.CognitiveServices/accounts/sanitized-account/projects/sanitized-project/connections/sanitizedconnection"
                }
              }
            }
          ]
        }
    [...]
