{
  "Entries": [
    {
      "RequestUri": "https://sanitized-host.services.ai.azure.com/api/projects/sanitized-project/toolboxes/test-toolbox/versions?api-version=v1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Foundry-Features": "MemoryStores=V1Preview,ContainerAgents=V1Preview,WorkflowAgents=V1Preview,Evaluations=V1Preview,Schedules=V1Preview,RedTeams=V1Preview,AgentEndpoints=V1Preview,Skills=V1Preview,Insights=V1Preview,DataGenerationJobs=V1Preview,Models=V1Preview,AgentsOptimization=V1Preview,Routines=V1Preview,ExternalAgents=V1Preview"
      },
      "RequestBody": {
        "description": "CodeInterpreter",
        "tools": [
          {
            "type": "code_interpreter",
            "name": "code-interpreter-file",
            "description": "Test code interpreter with file ID",
            "container": {
              "type": "auto",
              "file_ids": [
                "assistant-JQvvVgFt5DtYFSKhrZWL5R"
              ]
            }
          }
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "1.0",
        "azureml-served-by-cluster": "hyena-westus2-02",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "West Central US",
        "x-ms-response-type": "standard"
      },
      "ResponseBody": {
        "metadata": {},
        "id": "toolbox_7679907b6698ecba3a3c3dd137d998bf86c12d42:1",
        "name": "test-toolbox",
        "version": "1",
        "description": "CodeInterpreter",
        "created_at": 1782237017,
        "tools": [
          {
            "type": "code_interpreter",
            "name": "code-interpreter-file",
            "description": "Test code interpreter with file ID",
            "container": {
              "type": "auto",
              "file_ids": [
                "assistant-JQvvVgFt5DtYFSKhrZWL5R"
              ]
            }
          }
        ],
        "skills": [],
        "object": "toolbox.version"
      }
    },
    {
      "RequestUri": "https://sanitized-host.services.ai.azure.com/api/projects/sanitized-project/toolboxes/test-toolbox/versions/1?api-version=v1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Foundry-Features": "MemoryStores=V1Preview,ContainerAgents=V1Preview,WorkflowAgents=V1Preview,Evaluations=V1Preview,Schedules=V1Preview,RedTeams=V1Preview,AgentEndpoints=V1Preview,Skills=V1Preview,Insights=V1Preview,DataGenerationJobs=V1Previe[...]
    {
      "RequestUri": "https://sanitized-host.services.ai.azure.com/api/projects/sanitized-project/agents/cs-e2e-tests-client/versions?api-version=v1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Foundry-Features": "MemoryStores=V1Preview,ContainerAgents=V1Preview,WorkflowAgents=V1Preview,Evaluations=V1Preview,Schedules=V1Preview,RedTeams=V1Preview,AgentEndpoints=V1Preview,Skills=V1Preview,Insights=V1Preview,DataGenerationJobs=V1Preview,Models=V1Preview,AgentsOptimization=V1Preview,Routines=V1Preview,ExternalAgents=V1Preview"
      },
      "RequestBody": {
        "definition": {
          "kind": "prompt",
          "model": "gpt-4.1",
          "tools": [
            {
              "type": "code_interpreter",
              "container": {
                "type": "auto",
                "file_ids": [
                  "assistant-JQvvVgFt5DtYFSKhrZWL5R"
                ]
              }
            }
          ]
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "1.0,2025-05-15-preview,2025-11-15-preview",
        "azureml-served-by-cluster": "hyena-westus2-02",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "West Central US",
        "x-ms-response-type": "standard"
      },
      "ResponseBody": {
        "metadata": {},
        "object": "agent.version",
        "id": "cs-e2e-tests-client:1",
        "name": "cs-e2e-tests-client",
        "version": "1",
        "description": "",
        "created_at": 1782237024,
        "definition": {
          "kind": "prompt",
          "model": "gpt-4.1",
          "tools": [
            {
              "type": "code_interpreter",
              "container": {
                "type": "auto",
                "file_ids": [
                  "assistant-JQvvVgFt5DtYFSKhrZWL5R"
                ]
              }
            }
          ]
        },
        "status": "active",
        "instance_identity": {
          "principal_id": "7e72266c-6f2f-4dbe-b97d-936725275481",
          "client_id": "7e72266c-6f2f-4dbe-b97d-936725275481"
        },
        "blueprint": {
          "principal_id": "b6e07c46-68e3-4186-8e2d-4da4756b939e",
          "client_id": "660b8a75-ee73-4870-9107-d1798688777e"
        },
        "blueprint_reference": {
          "type": "ManagedAgentIdentityBlueprint",
          "blueprint_id": "cs-e2e-tests-client-51435"
        },
        "agent_guid": "51435b4b-d032-44b0-97ba-6f11c09c6bf3"
      }
    }
  ],
  "Variables": {
    "FOUNDRY_MODEL_NAME": "gpt-4.1",
    "FOUNDRY_PROJECT_ENDPOINT": "https://sanitized-host.services.ai.azure.com/api/projects/sanitized-project",
    "OPENAI_FILE_ID": "assistant-JQvvVgFt5DtYFSKhrZWL5R"
  }
}
