{
  "Entries": [
    {
      "RequestUri": "https://sanitized-host.services.ai.azure.com/api/projects/sanitized-project/agents/cs-e2e-hosted2-01/versions?api-version=v1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Foundry-Features": "MemoryStores=V1Preview,ContainerAgents=V1Preview,HostedAgents=V1Preview,WorkflowAgents=V1Preview,Evaluations=V1Preview,Schedules=V1Preview,RedTeams=V1Preview,Toolboxes=V1Preview,AgentEndpoints=V1Preview,Skills=V1Preview,Insights=V1Preview,DataGenerationJobs=V1Preview,CodeAgents=V1Preview,Models=V1Preview,AgentsOptimization=V1Preview,Routines=V1Preview,ExternalAgents=V1Preview,AgentsOptimization=V1Preview"
      },
      "RequestBody": {
        "metadata": {
          "enableVnextExperience": "true"
        },
        "definition": {
          "kind": "hosted",
          "cpu": "0.5",
          "memory": "1Gi",
          "environment_variables": {
            "AZURE_OPENAI_ENDPOINT": "https://sanitized.cognitiveservices.azure.com/",
            "AZURE_OPENAI_CHAT_DEPLOYMENT_NAME": "gpt-4.1"
          },
          "container_configuration": {
            "image": "balapvregistry.azurecr.io/balapvregistry/sample-agent:latest"
          },
          "protocol_versions": [
            {
              "protocol": "responses",
              "version": "1.0.0"
            }
          ]
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "1.0,2025-05-15-preview,2025-11-15-preview",
        "azureml-served-by-cluster": "hyena-westus2-01",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "West Central US",
        "x-ms-response-type": "standard"
      },
      "ResponseBody": {
        "metadata": {
          "enableVnextExperience": "true"
        },
        "object": "agent.version",
        "id": "cs-e2e-hosted2-01:2",
        "name": "cs-e2e-hosted2-01",
        "version": "2",
        "description": "",
        "created_at": 1779929644,
        "definition": {
          "kind": "hosted",
          "container_protocol_versions": [],
          "cpu": "0.5",
          "memory": "1Gi",
          "environment_variables": {
            "AZURE_OPENAI_ENDPOINT": "https://sanitized.cognitiveservices.azure.com/",
            "AZURE_OPENAI_CHAT_DEPLOYMENT_NAME": "gpt-4.1"
          },
          "container_configuration": {
            "image": "balapvregistry.azurecr.io/balapvregistry/sample-agent:latest"
          },
          "protocol_versions": [
            {
              "protocol": "responses",
              "version": "1.0.0"
            }
          ]
        },
        "status": "creating",
        "instance_identity": {
          "principal_id": "feb62c57-9798-49b8-945a-7b8edf9eeb98",
          "client_id": "feb62c57-9798-49b8-945a-7b8edf9eeb98"
        },
        "blueprint": {
          "principal_id": "7ee94af6-f49b-413c-bdbc-da8842c40ac2",
          "client_id": "4090fdb7-36d5-4a34-9165-ac127cc27a2b"
        },
        "blueprint_reference": {
          "type": "ManagedAgentIdentityBlueprint",
          "blueprint_id": "cs-e2e-hosted2-01-dfcf2"
        },
        "agent_guid": "dfcf2aa9-47c7-484a-a2df-447300516c5f"
      }
    },
    {
      "RequestUri": "https://sanitized-host.services.ai.azure.com/api/projects/sanitized-project/agents/cs-e2e-hosted2-01/versions/2?api-version=v1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Foundry-Features": "MemoryStores=V1Preview,ContainerAgents=V1Preview,HostedAgents=V1Preview,WorkflowAgents=V1Preview,Evaluations=V1Preview,Schedules=V1Preview,RedTeams=V1Preview,Toolboxes=V1Preview,AgentEndpoints=V1Preview,Skills=V1Preview,I[...]
[...]
    {
      "RequestUri": "https://sanitized-host.services.ai.azure.com/api/projects/sanitized-project/agents/cs-e2e-hosted2-01/endpoint/sessions?api-version=v1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Foundry-Features": "MemoryStores=V1Preview,ContainerAgents=V1Preview,HostedAgents=V1Preview,WorkflowAgents=V1Preview,Evaluations=V1Preview,Schedules=V1Preview,RedTeams=V1Preview,Toolboxes=V1Preview,AgentEndpoints=V1Preview,Skills=V1Preview,Insights=V1Preview,DataGenerationJobs=V1Preview,CodeAgents=V1Preview,Models=V1Preview,AgentsOptimization=V1Preview,Routines=V1Preview,ExternalAgents=V1Preview,AgentsOptimization=V1Preview"
      },
      "RequestBody": {
        "agent_session_id": "session_async_12345679",
        "version_indicator": {
          "type": "version_ref",
          "agent_version": "2"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "1.0,2025-05-15-preview,2025-11-15-preview",
        "azureml-served-by-cluster": "hyena-westus2-01",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "West Central US",
        "x-ms-response-type": "standard"
      },
      "ResponseBody": {
        "agent_session_id": "session_async_12345679",
        "version_indicator": {
          "type": "version_ref",
          "agent_version": "2"
        },
        "status": "active",
        "created_at": 1779929674,
        "last_accessed_at": 1779929674,
        "expires_at": 1782521674
      }
    },
    {
      "RequestUri": "https://sanitized-host.services.ai.azure.com/api/projects/sanitized-project/agents/cs-e2e-hosted2-01/versions/2/sessions/session_async_12345679:logstream?api-version=v1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Foundry-Features": "MemoryStores=V1Preview,ContainerAgents=V1Preview,HostedAgents=V1Preview,WorkflowAgents=V1Preview,Evaluations=V1Preview,Schedules=V1Preview,RedTeams=V1Preview,Toolboxes=V1Preview,AgentEndpoints=V1Preview,Skills=V1Preview,Insights=V1Preview,DataGenerationJobs=V1Preview,CodeAgents=V1Preview,Models=V1Preview,AgentsOptimization=V1Preview,Routines=V1Preview,ExternalAgents=V1Preview,AgentsOptimization=V1Preview"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "1.0,2025-05-15-preview,2025-11-15-preview",
        "azureml-served-by-cluster": "hyena-westus2-01",
        "Content-Type": "text/event-stream; charset=utf-8",
        "x-ms-region": "West Central US",
        "x-ms-response-type": "standard"
      },
      "ResponseBody": [
        "event: log\n",
        "data: {\"timestamp\":\"2026-05-28T00:54:34.198+00:00\",\"session_id\":\"session_async_12345679\",\"session_state\":\"Running\",\"agent\":\"cs-e2e-hosted2-01\",\"generated_at\":\"2026-05-28T00:54:38.4138692+00:00\",\"last_accessed\":\"2026-05-28T00:54:34.198+00:00\"}\n\n",
        "event: log\n",
        "data: {\"timestamp\":\"2026-05-28T00:54:38.68339352Z\",\"stream\":\"status\",\"message\":\"Connecting to the container...\"}\n\n",
        "event: log\n",
        "data: {\"timestamp\":\"2026-05-28T00:54:35.022914023\\u002B00:00\",\"stream\":\"stderr\",\"message\":\"2026-05-28 00:54:35,022 INFO azure.ai.agentserver: Application Insights trace exporter configured.\"}\n\n",
        "event: log\n",
        "data: {\"timestamp\":\"2026-05-28T00:54:35.023751761\\u002B00:00\",\"stream\":\"stderr\",\"message\":\"2026-05-28 00:54:35,023 INFO azure.ai.agentserver: Application Insights log ex[...]
