{
  "Entries": [
    {
      "RequestUri": "https://sanitized-host.services.ai.azure.com/api/projects/sanitized-project/toolboxes?order=asc&api-version=v1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Foundry-Features": "MemoryStores=V1Preview,ContainerAgents=V1Preview,HostedAgents=V1Preview,WorkflowAgents=V1Preview,Evaluations=V1Preview,Schedules=V1Preview,RedTeams=V1Preview,Toolboxes=V1Preview"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "1.0",
        "azureml-served-by-cluster": "hyena-westus2-02",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "West Central US",
        "x-ms-response-type": "standard"
      },
      "ResponseBody": {
        "data": [
          {
            "object": "toolbox",
            "id": "toolbox_7679907b6698ecba3a3c3dd137d998bf86c12d42",
            "name": "test-toolbox",
            "default_version": "1"
          },
          {
            "object": "toolbox",
            "id": "toolbox_3eb130a453df51a33474b4854d1a39b9342ed97d",
            "name": "mcp1",
            "default_version": "1"
          },
          {
            "object": "toolbox",
            "id": "toolbox_a007876b4120945d6aefd6014805ff5ccf044627",
            "name": "TOOLBOX_0",
            "default_version": "1"
          },
          {
            "object": "toolbox",
            "id": "toolbox_5be7812d52e10857e366599c0eaad80909c8162a",
            "name": "TOOLBOX_1",
            "default_version": "1"
          }
        ],
        "first_id": "toolbox_7679907b6698ecba3a3c3dd137d998bf86c12d42",
        "last_id": "toolbox_5be7812d52e10857e366599c0eaad80909c8162a",
        "has_more": false,
        "object": "list"
      }
    },
    {
      "RequestUri": "https://sanitized-host.services.ai.azure.com/api/projects/sanitized-project/toolboxes?limit=3&order=asc&api-version=v1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Foundry-Features": "MemoryStores=V1Preview,ContainerAgents=V1Preview,HostedAgents=V1Preview,WorkflowAgents=V1Preview,Evaluations=V1Preview,Schedules=V1Preview,RedTeams=V1Preview,Toolboxes=V1Preview"
      },
      "RequestBody": null,
      "StatusC[...]
    {
      "RequestUri": "https://sanitized-host.services.ai.azure.com/api/projects/sanitized-project/toolboxes?limit=3&order=asc&after=toolbox_a007876b4120945d6aefd6014805ff5ccf044627&api-version=v1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Foundry-Features": "MemoryStores=V1Preview,ContainerAgents=V1Preview,HostedAgents=V1Preview,WorkflowAgents=V1Preview,Evaluations=V1Preview,Schedules=V1Preview,RedTeams=V1Preview,Toolboxes=V1Preview"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "1.0",
        "azureml-served-by-cluster": "hyena-westus2-02",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "West Central US",
        "x-ms-response-type": "standard"
      },
      "ResponseBody": {
        "data": [
          {
            "object": "toolbox",
            "id": "toolbox_5be7812d52e10857e366599c0eaad80909c8162a",
            "name": "TOOLBOX_1",
            "default_version": "1"
          }
        ],
        "first_id": "toolbox_5be7812d52e10857e366599c0eaad80909c8162a",
        "last_id": "toolbox_5be7812d52e10857e366599c0eaad80909c8162a",
        "has_more": false,
        "object": "list"
      }
    },
[...]
    {
      "RequestUri": "https://sanitized-host.services.ai.azure.com/api/projects/sanitized-project/toolboxes?limit=3&order=asc&after=toolbox_7679907b6698ecba3a3c3dd137d998bf86c12d42&before=toolbox_5be7812d52e10857e366599c0eaad80909c8162a&api-version=v1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Foundry-Features": "MemoryStores=V1Preview,ContainerAgents=V1Preview,HostedAgents=V1Preview,WorkflowAgents=V1Preview,Evaluations=V1Preview[...]
    {
      "RequestUri": "https://sanitized-host.services.ai.azure.com/api/projects/sanitized-project/toolboxes?limit=3&order=desc&before=toolbox_7679907b6698ecba3a3c3dd137d998bf86c12d42&api-version=v1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Foundry-Features": "MemoryStores=V1Preview,ContainerAgents=V1Preview,HostedAgents=V1Preview,WorkflowAgents=V1Preview,Evaluations=V1Preview,Schedules=V1Preview,RedTeams=V1Preview,Toolboxes=V1Pr[...]
    {
      "RequestUri": "https://sanitized-host.services.ai.azure.com/api/projects/sanitized-project/toolboxes?limit=3&order=desc&after=toolbox_5be7812d52e10857e366599c0eaad80909c8162a&before=toolbox_7679907b6698ecba3a3c3dd137d998bf86c12d42&api-version=v1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Foundry-Features": "MemoryStores=V1Preview,ContainerAgents=V1Preview,HostedAgents=V1Preview,WorkflowAgents=V1Preview,Evaluations=V1Previe[...]
