{
  "Entries": [
    {
      "RequestUri": "https://sanitized-host.services.ai.azure.com/api/projects/sanitized-project/agents/cs-e2e-hosted2/versions?api-version=v1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Foundry-Features": "MemoryStores=V1Preview,ContainerAgents=V1Preview,HostedAgents=V1Preview,WorkflowAgents=V1Preview,Evaluations=V1Preview,Schedules=V1Preview,RedTeams=V1Preview,Toolboxes=V1Preview,AgentEndpoints=V1Preview,Skills=V1Preview"
      },
      "RequestBody": {
        "metadata": {
          "enableVnextExperience": "true"
        },
        "definition": {
          "kind": "hosted",
          "container_protocol_versions": [
            {
              "protocol": "responses",
              "version": "1.0.0"
            }
          ],
          "cpu": "0.5",
          "memory": "1Gi",
          "environment_variables": {
            "AZURE_OPENAI_ENDPOINT": "https://sanitized.cognitiveservices.azure.com/",
            "AZURE_OPENAI_CHAT_DEPLOYMENT_NAME": "gpt-4.1"
          },
          "image": "Sanitized"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "1.0,2025-05-15-preview,2025-11-15-preview",
        "azureml-served-by-cluster": "hyena-northcentralus-02",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "North Central US",
        "x-ms-response-type": "standard"
      },
      "ResponseBody": {
        "metadata": {
          "enableVnextExperience": "true"
        },
        "object": "agent.version",
        "id": "cs-e2e-hosted2:1",
        "name": "cs-e2e-hosted2",
        "version": "1",
        "description": "",
        "created_at": 1776456665,
        "definition": {
          "kind": "hosted",
          "container_protocol_versions": [
            {
              "protocol": "responses",
              "version": "1.0.0"
            }
          ],
          "cpu": "0.5",
          "memory": "1Gi",
          "environment_variables": {
            "AZURE_OPENAI_ENDPOINT": "https://sanitized.cognitiveservices.azure.com/",
            "AZURE_OPENAI_CHAT_DEPLOYMENT_NAME": "gpt-4.1"
          },
          "image": "Sanitized"
        },
        "status": "active",
        "instance_identity": {
          "principal_id": "1386a24e-4017-4b3a-b25c-c008f5f3dd1c",
          "client_id": "1386a24e-4017-4b3a-b25c-c008f5f3dd1c"
        },
        "blueprint": {
          "principal_id": "390b5903-6ae4-47cc-9609-b1de3fa16617",
          "client_id": "390b5903-6ae4-47cc-9609-b1de3fa16617"
        },
        "blueprint_reference": {
          "type": "ManagedAgentIdentityBlueprint",
          "blueprint_id": "cs-e2e-hosted2-7ba31"
        }
      }
    },
    {
      "RequestUri": "https://sanitized-host.services.ai.azure.com/api/projects/sanitized-project/agents/cs-e2e-hosted2/endpoint/sessions?api-version=v1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Foundry-Features": "MemoryStores=V1Preview,ContainerAgents=V1Preview,HostedAgents=V1Preview,WorkflowAgents=V1Preview,Evaluations=V1Preview,Schedules=V1Preview,RedTeams=V1Preview,Toolboxes=V1Preview,AgentEndpoints=V1Preview,Skills=V1Preview",
        "x-session-isolation-key": "sample_session_key1"
      },
      "RequestBody": {
        "version_indicator": {
          "type": "version_ref",
          "agent_version": "1"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "1.0,2025-05-15-preview,2025-11-15-preview",
        "azureml-served-by-cluster": "hyena-northcentralus-02",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "North Central US",
        "x-ms-response-type": "standard"
      },
      "ResponseBody": {
        "agent_session_id": "b9d39d85e2cc238100UDV2lBcsObVrADwlQXDnaZ9TjaVE2X9g",
        "version_indicator": {
          "type": "version_ref",
          "agent_version": "1"
        },
        "status": "active",
        "created_at": 1776456680,
        "last_accessed_at": 1776456680,
        "expires_at": 1779048680
      }
    },
[...]
    {
      "RequestUri": "https://sanitized-host.services.ai.azure.com/api/projects/sanitized-project/agents/cs-e2e-hosted2/endpoint/sessions/b9d39d85e2cc238100UDV2lBcsObVrADwlQXDnaZ9TjaVE2X9g?api-version=v1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Foundry-Features": "MemoryStores=V1Preview,ContainerAgents=V1Preview,HostedAgents=V1Preview,WorkflowAgents=V1Preview,Evaluations=V1Preview,Schedules=V1Preview,RedTeams=V1Preview,Toolboxes=V1Preview,AgentEndpoints=V1Preview,Skills=V1Preview"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "1.0,2025-05-15-preview,2025-11-15-preview",
        "azureml-served-by-cluster": "hyena-northcentralus-02",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "North Central US",
        "x-ms-response-type": "standard"
      },
      "ResponseBody": {
        "agent_session_id": "b9d39d85e2cc238100UDV2lBcsObVrADwlQXDnaZ9TjaVE2X9g",
        "version_indicator": {
          "type": "version_ref",
          "agent_version": "1"
        },
        "status": "active",
        "created_at": 1776456680,
        "last_accessed_at": 1776456680,
        "expires_at": 1779048680
      }
    },
    {
      "RequestUri": "https://sanitized-host.services.ai.azure.com/api/projects/sanitized-project/agents/cs-e2e-hosted2/endpoint/sessions?api-version=v1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Foundry-Features": "MemoryStores=V1Preview,ContainerAgents=V1Preview,HostedAgents=V1Preview,WorkflowAgents=V1Preview,Evaluations=V1Preview,Schedules=V1Preview,RedTeams=V1Preview,Toolboxes=V1Preview,AgentEndpoints=V1Preview,Skills=V1Preview"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "1.0,2025-05-15-preview,2025-11-15-preview",
        "azureml-served-by-cluster": "hyena-northcentralus-02",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "North Central US",
        "x-ms-response-type": "standard"
      },
      "ResponseBody": {
        "data": [
          {
            "agent_session_id": "b9d39d85e2cc238100UDV2lBcsObVrADwlQXDnaZ9TjaVE2X9g",
            "version_indicator": {
              "type": "version_ref",
              "agent_version": "1"
            },
            "status": "active",
            "created_at": 1776456680,
            "last_accessed_at": 1776456680,
            "expires_at": 1779048680
          },
          {
            "agent_session_id": "eab888449f124fa500qG4rLkYKwnt57tZS8seezPJzEdmpiXdb",
            "version_indicator": {
              "type": "version_ref",
              "agent_version": "1"
            },
            "status": "active",
            "created_at": 1776456686,
            "last_accessed_at": 1776456686,
            "expires_at": 1779048686
          }
        ],
        "first_id": "b9d39d85e2cc238100UDV2lBcsObVrADwlQXDnaZ9TjaVE2X9g",
        "last_id": "eab888449f124fa500qG4rLkYKwnt57tZS8seezPJzEdmpiXdb",
        "has_more": false
      }
    },
[...]
    {
      "RequestUri": "https://sanitized-host.services.ai.azure.com/api/projects/sanitized-project/agents/cs-e2e-hosted2/endpoint/sessions/eab888449f124fa500qG4rLkYKwnt57tZS8seezPJzEdmpiXdb?api-version=v1",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Foundry-Features": "MemoryStores=V1Preview,ContainerAgents=V1Preview,HostedAgents=V1Preview,WorkflowAgents=V1Preview,Evaluations=V1Preview,Schedules=V1Preview,RedTeams=V1Preview,Toolboxes=V1Preview,AgentEndpoints=V1Preview,Skills=V1Preview",
        "x-session-isolation-key": "sample_session_key2"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "1.0,2025-05-15-preview,2025-11-15-preview",
        "azureml-served-by-cluster": "hyena-northcentralus-02",
        "x-ms-region": "North Central US",
        "x-ms-response-type": "standard"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://sanitized-host.services.ai.azure.com/api/projects/sanitized-project/agents/cs-e2e-hosted2/endpoint/sessions?api-version=v1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Foundry-Features": "MemoryStores=V1Preview,ContainerAgents=V1Preview,HostedAgents=V1Preview,WorkflowAgents=V1Preview,Evaluations=V1Preview,Schedules=V1Preview,RedTeams=V1Preview,Toolboxes=V1Preview,AgentEndpoints=V1Preview,Skills=V1Preview"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "1.0,2025-05-15-preview,2025-11-15-preview",
        "azureml-served-by-cluster": "hyena-northcentralus-02",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "North Central US",
        "x-ms-response-type": "standard"
      },
      "ResponseBody": {
        "data": [],
        "has_more": false
      }
    }
  ],
  "Variables": {
    "AGENT_DOCKER_IMAGE": "nirvinsregistry.azurecr.io/nirvinsregistry/sample-agent:latest",
    "FOUNDRY_MODEL_NAME": "gpt-4.1",
    "FOUNDRY_PROJECT_ENDPOINT": "https://sanitized-host.services.ai.azure.com/api/projects/sanitized-project"
  }
}
