{
  "Entries": [
    {
      "RequestUri": "https://sanitized-host.services.ai.azure.com/api/projects/sanitized-project/skills?limit=3&order=asc&api-version=v1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Foundry-Features": "MemoryStores=V1Preview,ContainerAgents=V1Preview,WorkflowAgents=V1Preview,Evaluations=V1Preview,Schedules=V1Preview,RedTeams=V1Preview,AgentEndpoints=V1Preview,Skills=V1Preview,Insights=V1Preview,DataGenerationJobs=V1Preview,Models=V1Preview,AgentsOptimization=V1Preview,Routines=V1Preview,ExternalAgents=V1Preview"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "1.0",
        "azureml-served-by-cluster": "hyena-westus2-02",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "West Central US",
        "x-ms-response-type": "standard"
      },
      "ResponseBody": {
        "object": "list",
        "data": [],
        "first_id": null,
        "last_id": null,
        "has_more": false
      }
    },
    {
      "RequestUri": "https://sanitized-host.services.ai.azure.com/api/projects/sanitized-project/skills/test-skill-0/versions?api-version=v1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Foundry-Features": "MemoryStores=V1Preview,ContainerAgents=V1Preview,WorkflowAgents=V1Preview,Evaluations=V1Preview,Schedules=V1Preview,RedTeams=V1Preview,AgentEndpoints=V1Preview,Skills=V1Preview,Insights=V1Preview,DataGenerationJobs=V1Preview,Models=V1Preview,AgentsOptimization=V1Preview,Routines=V1Preview,ExternalAgents=V1Preview"
      },
      "RequestBody": {
        "inline_content": {
          "description": "Calculates the sum of two numbers.",
          "instructions": "To calculate the sum  run\n```bash\necho $((<first> + <second>))\n```\n```powershell\n(<first> + <second>)\n```\nReplace <first> and <second> by the actual summation arguments."
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "1.0",
        "azureml-served-by-cluster": "hyena-westus2-01",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "West Central US",
        "x-ms-response-type": "standard"
      },
      "ResponseBody": {
        "id": "skill_4fbeba5f01268f4e5dee199a98bd4700827f4943:1",
        "skill_id": "skill_4fbeba5f01268f4e5dee199a98bd4700827f4943",
        "name": "test-skill-0",
        "version": "1",
        "description": "Calculates the sum of two numbers.",
        "created_at": 1779930373,
        "object": "skill.version"
      }
    },
[...]
    {
      "RequestUri": "https://sanitized-host.services.ai.azure.com/api/projects/sanitized-project/skills?limit=3&order=asc&api-version=v1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Foundry-Features": "MemoryStores=V1Preview,ContainerAgents=V1Preview,WorkflowAgents=V1Preview,Evaluations=V1Preview,Schedules=V1Preview,RedTeams=V1Preview,AgentEndpoints=V1Preview,Skills=V1Preview,Insights=V1Preview,DataGenerationJobs=V1Preview,Models=V1Preview,AgentsOptimization=V1Preview,Routines=V1Preview,ExternalAgents=V1Preview"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "1.0",
        "azureml-served-by-cluster": "hyena-westus2-01",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "West Central US",
        "x-ms-response-type": "standard"
      },
      "ResponseBody": {
        "object": "list",
        "data": [
          {
            "id": "skill_4fbeba5f01268f4e5dee199a98bd4700827f4943",
            "name": "test-skill-0",
            "description": "Calculates the sum of two numbers.",
            "created_at": 1779930371,
            "default_version": "1",
            "latest_version": "1",
            "object": "skill"
          },
          {
            "id": "skill_050b09df02adac6f5fe1ce2914088da3d2e7b3ca",
            "name": "test-skill-1",
            "description": "Calculates the sum of two numbers.",
            "created_at": 1779930375,
            "default_version": "1",
            "latest_version": "1",
            "object": "skill"
          },
          {
            "id": "skill_2f848867f67bbd2e190e27e5e53444c2da69cb63",
            "name": "test-skill-2",
            "description": "Calculates the sum of two numbers.",
            "created_at": 1779930379,
            "default_version": "1",
            "latest_version": "1",
            "object": "skill"
          }
        ],
        "first_id": "skill_4fbeba5f01268f4e5dee199a98bd4700827f4943",
        "last_id": "skill_2f848867f67bbd2e190e27e5e53444c2da69cb63",
        "has_more": true
      }
    },
    {
      "RequestUri": "https://sanitized-host.services.ai.azure.com/api/projects/sanitized-project/skills?limit=3&order=asc&after=skill_2f848867f67bbd2e190e27e5e53444c2da69cb63&api-version=v1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Foundry-Features": "MemoryStores=V1Preview,ContainerAgents=V1Preview,WorkflowAgents=V1Preview,Evaluations=V1Preview,Schedules=V1Preview,RedTeams=V1Preview,AgentEndpoints=V1Preview,Skills=V1Preview,In[...]
[...]
    {
      "RequestUri": "https://sanitized-host.services.ai.azure.com/api/projects/sanitized-project/skills?limit=3&order=asc&after=skill_4fbeba5f01268f4e5dee199a98bd4700827f4943&before=skill_953684ff1b578fdc50f679ab24532b1dc197b4de&api-version=v1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Foundry-Features": "MemoryStores=V1Preview,ContainerAgents=V1Preview,WorkflowAgents=V1Preview,Evaluations=V1Preview,Schedules=V1Preview,RedTeams=[...]
