{
  "Entries": [
    {
      "RequestUri": "https://sanitized-host.services.ai.azure.com/api/projects/sanitized-project/agents/cs-e2e-hosted2/versions?api-version=v1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Foundry-Features": "MemoryStores=V1Preview,ContainerAgents=V1Preview,HostedAgents=V1Preview,WorkflowAgents=V1Preview,Evaluations=V1Preview,Schedules=V1Preview,RedTeams=V1Preview,Toolboxes=V1Preview,AgentEndpoints=V1Preview,Skills=V1Preview"
      },
      "RequestBody": {
        "metadata": {
          "enableVnextExperience": "true"
        },
        "definition": {
          "kind": "hosted",
          "container_protocol_versions": [
            {
              "protocol": "responses",
              "version": "1.0.0"
            }
          ],
          "cpu": "0.5",
          "memory": "1Gi",
          "environment_variables": {
            "AZURE_OPENAI_ENDPOINT": "https://sanitized.cognitiveservices.azure.com/",
            "AZURE_OPENAI_CHAT_DEPLOYMENT_NAME": "gpt-4.1"
          },
          "image": "Sanitized"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "1.0,2025-05-15-preview,2025-11-15-preview",
        "azureml-served-by-cluster": "hyena-northcentralus-02",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "North Central US",
        "x-ms-response-type": "standard"
      },
      "ResponseBody": {
        "metadata": {
          "enableVnextExperience": "true"
        },
        "object": "agent.version",
        "id": "cs-e2e-hosted2:1",
        "name": "cs-e2e-hosted2",
        "version": "1",
        "description": "",
        "created_at": 1776454988,
        "definition": {
          "kind": "hosted",
          "container_protocol_versions": [
            {
              "protocol": "responses",
              "version": "1.0.0"
            }
          ],
          "cpu": "0.5",
          "memory": "1Gi",
          "environment_variables": {
            "AZURE_OPENAI_ENDPOINT": "https://sanitized.cognitiveservices.azure.com/",
            "AZURE_OPENAI_CHAT_DEPLOYMENT_NAME": "gpt-4.1"
          },
          "image": "Sanitized"
        },
        "status": "active",
        "instance_identity": {
          "principal_id": "e6e0698a-b1f7-4f46-b56f-d1090b5141f0",
          "client_id": "e6e0698a-b1f7-4f46-b56f-d1090b5141f0"
        },
        "blueprint": {
          "principal_id": "af402dac-6d91-4b99-aa3c-ddbe85305c2d",
          "client_id": "af402dac-6d91-4b99-aa3c-ddbe85305c2d"
        },
        "blueprint_reference": {
          "type": "ManagedAgentIdentityBlueprint",
          "blueprint_id": "cs-e2e-hosted2-37c16"
        }
      }
    },
    {
      "RequestUri": "https://sanitized-host.services.ai.azure.com/api/projects/sanitized-project/agents/cs-e2e-hosted2/endpoint/sessions?api-version=v1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Foundry-Features": "MemoryStores=V1Preview,ContainerAgents=V1Preview,HostedAgents=V1Preview,WorkflowAgents=V1Preview,Evaluations=V1Preview,Schedules=V1Preview,RedTeams=V1Preview,Toolboxes=V1Preview,AgentEndpoints=V1Preview,Skills=V1Preview",
        "x-session-isolation-key": "key_1"
      },
      "RequestBody": {
        "agent_session_id": "e2e64a56-9a4f-4563-b84e-615bd29d32b7",
        "version_indicator": {
          "type": "version_ref",
          "agent_version": "1"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "1.0,2025-05-15-preview,2025-11-15-preview",
        "azureml-served-by-cluster": "hyena-northcentralus-02",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "North Central US",
        "x-ms-response-type": "standard"
      },
      "ResponseBody": {
        "agent_session_id": "e2e64a56-9a4f-4563-b84e-615bd29d32b7",
        "version_indicator": {
          "type": "version_ref",
          "agent_version": "1"
        },
        "status": "active",
        "created_at": 1776455065,
        "last_accessed_at": 1776455065,
        "expires_at": 1779047065
      }
    },
    {
      "RequestUri": "https://sanitized-host.services.ai.azure.com/api/projects/sanitized-project/agents/cs-e2e-hosted2/versions/1/sessions/e2e64a56-9a4f-4563-b84e-615bd29d32b7:logstream?api-version=v1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Foundry-Features": "MemoryStores=V1Preview,ContainerAgents=V1Preview,HostedAgents=V1Preview,WorkflowAgents=V1Preview,Evaluations=V1Preview,Schedules=V1Preview,RedTeams=V1Preview,Toolboxes=V1Preview,AgentEndpoints=V1Preview,Skills=V1Preview"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "1.0,2025-05-15-preview,2025-11-15-preview",
        "azureml-served-by-cluster": "hyena-northcentralus-02",
        "Content-Type": "text/event-stream; charset=utf-8",
        "x-ms-region": "North Central US",
        "x-ms-response-type": "standard"
      },
      "ResponseBody": [
        "event: log\n",
        "data: {\"timestamp\":\"2026-04-17T19:44:27.9419878+00:00\",\"session_id\":\"e2e64a56-9a4f-4563-b84e-615bd29d32b7\",\"session_state\":\"Running\",\"agent\":\"cs-e2e-hosted2\",\"last_accessed\":\"2026-04-17T19:44:25.26+00:00\"}\n\n",
        "event: log\n",
        "data: {\"timestamp\":\"2026-04-17T19:44:32.684746153Z\",\"stream\":\"status\",\"message\":\"Connecting to the container...\"}\n\n",
        "event: log\n",
        "data: {\"timestamp\":\"2026-04-17T19:44:20.397719516\\u002B00:00\",\"stream\":\"stderr\",\"message\":\"2026-04-17 19:44:20,396 INFO azure.ai.agentserver: AgentServerHost starting on 0.0.0.0:8088\"}\n\n",
        "event: log\n",
        "data: {\"timestamp\":\"2026-04-17T19:44:20.397719516\\u002B00:00\",\"stream\":\"stderr\",\"message\":\"2026-04-17 19:44:20,396 INFO azure.ai.agentserver: AgentServerHost started\"}\n\n",
 [...]
