{
  "Entries": [
    {
      "RequestUri": "https://sanitized-host.services.ai.azure.com/api/projects/sanitized-project/toolboxes/test-toolbox/versions?api-version=v1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Foundry-Features": "MemoryStores=V1Preview,ContainerAgents=V1Preview,HostedAgents=V1Preview,WorkflowAgents=V1Preview,Evaluations=V1Preview,Schedules=V1Preview,RedTeams=V1Preview,Toolboxes=V1Preview,AgentEndpoints=V1Preview,Skills=V1Preview,Insights=V1Preview,DataGenerationJobs=V1Preview,CodeAgents=V1Preview,Models=V1Preview,AgentsOptimization=V1Preview,Routines=V1Preview,ExternalAgents=V1Preview"
      },
      "RequestBody": {
        "description": "MCP",
        "tools": [
          {
            "type": "mcp",
            "server_label": "api-specs",
            "server_url": "https://gitmcp.io/Azure/azure-rest-api-specs",
            "require_approval": "always"
          }
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "1.0",
        "azureml-served-by-cluster": "hyena-westus2-02",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "West Central US",
        "x-ms-response-type": "standard"
      },
      "ResponseBody": {
        "metadata": {},
        "object": "toolbox.version",
        "id": "toolbox_7679907b6698ecba3a3c3dd137d998bf86c12d42:22",
        "name": "test-toolbox",
        "version": "22",
        "description": "MCP",
        "created_at": 1775602265,
        "tools": [
          {
            "type": "mcp",
            "server_label": "api-specs",
            "server_url": "https://gitmcp.io/Azure/azure-rest-api-specs",
            "require_approval": "always"
          }
        ]
      }
    },
    {
      "RequestUri": "https://sanitized-host.services.ai.azure.com/api/projects/sanitized-project/toolboxes/test-toolbox/versions/22?api-version=v1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Foundry-Features": "MemoryStores=V1Preview,ContainerAgents=V1Preview,HostedAgents=V1Preview,WorkflowAgents=V1Preview,Evaluations=V1Preview,Schedules=V1Preview,RedTeams=V1Preview,Toolboxes=V1Preview,AgentEndpoints=V1Preview,Skills=V1Preview,In[...]
    {
      "RequestUri": "https://sanitized-host.services.ai.azure.com/api/projects/sanitized-project/agents/cs-e2e-tests-client/versions?api-version=v1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Foundry-Features": "MemoryStores=V1Preview,ContainerAgents=V1Preview,HostedAgents=V1Preview,WorkflowAgents=V1Preview,Evaluations=V1Preview,Schedules=V1Preview,RedTeams=V1Preview,Toolboxes=V1Preview,AgentEndpoints=V1Preview,Skills=V1Preview,Insights=V1Preview,DataGenerationJobs=V1Preview,CodeAgents=V1Preview,Models=V1Preview,AgentsOptimization=V1Preview,Routines=V1Preview,ExternalAgents=V1Preview"
      },
      "RequestBody": {
        "definition": {
          "kind": "prompt",
          "model": "gpt-4.1",
          "tools": [
            {
              "type": "mcp",
              "server_label": "api-specs",
              "server_url": "https://gitmcp.io/Azure/azure-rest-api-specs",
              "require_approval": "always"
            }
          ]
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "1.0,2025-05-15-preview,2025-11-15-preview",
        "azureml-served-by-cluster": "hyena-westus2-02",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "West Central US",
        "x-ms-response-type": "standard"
      },
      "ResponseBody": {
        "metadata": {},
        "object": "agent.version",
        "id": "cs-e2e-tests-client:1",
        "name": "cs-e2e-tests-client",
        "version": "1",
        "description": "",
        "created_at": 1775602268,
        "definition": {
          "kind": "prompt",
          "model": "gpt-4.1",
          "tools": [
            {
              "type": "mcp",
              "server_label": "api-specs",
              "server_url": "https://gitmcp.io/Azure/azure-rest-api-specs",
              "require_approval": "always"
            }
          ]
        },
        "status": "active"
      }
    }
  ],
  "Variables": {
    "FOUNDRY_MODEL_NAME": "gpt-4.1",
    "FOUNDRY_PROJECT_ENDPOINT": "https://sanitized-host.services.ai.azure.com/api/projects/sanitized-project"
  }
}
