{
  "Entries": [
    {
      "RequestUri": "https://sanitized-host.services.ai.azure.com/api/projects/sanitized-project/toolboxes/test-toolbox/versions?api-version=v1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Foundry-Features": "MemoryStores=V1Preview,ContainerAgents=V1Preview,WorkflowAgents=V1Preview,Evaluations=V1Preview,Schedules=V1Preview,RedTeams=V1Preview,AgentEndpoints=V1Preview,Skills=V1Preview,Insights=V1Preview,DataGenerationJobs=V1Preview,Models=V1Preview,AgentsOptimization=V1Preview,Routines=V1Preview,ExternalAgents=V1Preview"
      },
      "RequestBody": {
        "description": "WebSearch",
        "tools": [
          {
            "type": "web_search",
            "name": "web-search",
            "description": "Test web search",
            "user_location": {
              "type": "approximate",
              "country": "US",
              "region": "Pennsylvania",
              "city": "Centralia"
            }
          }
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "1.0",
        "azureml-served-by-cluster": "hyena-westus2-01",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "West Central US",
        "x-ms-response-type": "standard"
      },
      "ResponseBody": {
        "metadata": {},
        "id": "toolbox_7679907b6698ecba3a3c3dd137d998bf86c12d42:1",
        "name": "test-toolbox",
        "version": "1",
        "description": "WebSearch",
        "created_at": 1782525551,
        "tools": [
          {
            "type": "web_search",
            "user_location": {
              "type": "approximate",
              "country": "US",
              "region": "Pennsylvania",
              "city": "Centralia"
            },
            "name": "web-search",
            "description": "Test web search"
          }
        ],
        "skills": [],
        "object": "toolbox.version"
      }
    },
    {
      "RequestUri": "https://sanitized-host.services.ai.azure.com/api/projects/sanitized-project/toolboxes/test-toolbox/versions/1?api-version=v1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Foundry-Features": "MemoryStores=V1Preview,ContainerAgents=V1Preview,WorkflowAgents=V1Preview,Evaluations=V1Preview,Schedules=V1Preview,RedTeams=V1Preview,AgentEndpoints=V1Preview,Skills=V1Preview,Insights=V1Preview,DataGenerationJobs=V1Previe[...]
    {
      "RequestUri": "https://sanitized-host.services.ai.azure.com/api/projects/sanitized-project/agents/cs-e2e-tests-client/versions?api-version=v1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Foundry-Features": "MemoryStores=V1Preview,ContainerAgents=V1Preview,WorkflowAgents=V1Preview,Evaluations=V1Preview,Schedules=V1Preview,RedTeams=V1Preview,AgentEndpoints=V1Preview,Skills=V1Preview,Insights=V1Preview,DataGenerationJobs=V1Preview,Models=V1Preview,AgentsOptimization=V1Preview,Routines=V1Preview,ExternalAgents=V1Preview"
      },
      "RequestBody": {
        "definition": {
          "kind": "prompt",
          "model": "gpt-4.1",
          "tools": [
            {
              "type": "web_search",
              "user_location": {
                "type": "approximate",
                "country": "US",
                "region": "Pennsylvania",
                "city": "Centralia"
              },
              "name": "web-search",
              "description": "Test web search"
            }
          ]
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "1.0,2025-05-15-preview,2025-11-15-preview",
        "azureml-served-by-cluster": "hyena-westus2-01",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "West Central US",
        "x-ms-response-type": "standard"
      },
      "ResponseBody": {
        "metadata": {},
        "object": "agent.version",
        "id": "cs-e2e-tests-client:1",
        "name": "cs-e2e-tests-client",
        "version": "1",
        "description": "",
        "created_at": 1782525561,
        "definition": {
          "kind": "prompt",
          "model": "gpt-4.1",
          "tools": [
            {
              "type": "web_search",
              "user_location": {
                "type": "approximate",
                "country": "US",
                "region": "Pennsylvania",
                "city": "Centralia"
              },
              "name": "web-search",
              "description": "Test web search"
            }
          ]
        },
        "status": "active",
        "instance_identity": {
          "principal_id": "cb22b605-b442-4eeb-ac80-0f4d1e8e9767",
          "client_id": "cb22b605-b442-4eeb-ac80-0f4d1e8e9767"
        },
        "blueprint": {
          "principal_id": "def98391-17da-44c5-b972-31d4d470fdf2",
          "client_id": "3a15d384-c52b-43a5-9202-4558cb6264d4"
        },
        "blueprint_reference": {
          "type": "ManagedAgentIdentityBlueprint",
          "blueprint_id": "cs-e2e-tests-client-5a05d"
        },
        "agent_guid": "5a05d3ed-e772-46e5-b6e1-e61c8bf9e50b"
      }
    }
  ],
  "Variables": {
    "FOUNDRY_MODEL_NAME": "gpt-4.1",
    "FOUNDRY_PROJECT_ENDPOINT": "https://sanitized-host.services.ai.azure.com/api/projects/sanitized-project"
  }
}
