{
  "Entries": [
    {
      "RequestUri": "https://sanitized-host.services.ai.azure.com/api/projects/sanitized-project/agents/cs-e2e-tests-client2/versions?api-version=v1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Foundry-Features": "MemoryStores=V1Preview,ContainerAgents=V1Preview,HostedAgents=V1Preview,WorkflowAgents=V1Preview,Evaluations=V1Preview,Schedules=V1Preview,RedTeams=V1Preview,Toolboxes=V1Preview,AgentEndpoints=V1Preview,Skills=V1Preview,Insights=V1Preview,DataGenerationJobs=V1Preview,CodeAgents=V1Preview,Models=V1Preview,AgentsOptimization=V1Preview,Routines=V1Preview,ExternalAgents=V1Preview"
      },
      "RequestBody": {
        "metadata": {
          "delete_me": "please "
        },
        "definition": {
          "kind": "external",
          "otel_agent_id": "foo"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "1.0,2025-05-15-preview,2025-11-15-preview",
        "azureml-served-by-cluster": "hyena-westus2-01",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "West Central US",
        "x-ms-response-type": "standard"
      },
      "ResponseBody": {
        "metadata": {
          "delete_me": "please "
        },
        "object": "agent.version",
        "id": "cs-e2e-tests-client2:1",
        "name": "cs-e2e-tests-client2",
        "version": "1",
        "description": "",
        "created_at": 1780721738,
        "definition": {
          "kind": "external",
          "otel_agent_id": "foo"
        },
        "status": "active",
        "instance_identity": {
          "principal_id": "e33dc463-3e52-4de3-b4ff-971c8bf80697",
          "client_id": "e33dc463-3e52-4de3-b4ff-971c8bf80697"
        },
        "blueprint": {
          "principal_id": "0cab29ec-9d1a-49a5-9e1c-967f2dc71b86",
          "client_id": "d8cfc4bc-cac0-4de9-bfdd-0b1003436996"
        },
        "blueprint_reference": {
          "type": "ManagedAgentIdentityBlueprint",
          "blueprint_id": "cs-e2e-tests-client2-fe721"
        },
        "agent_guid": "fe721e34-808d-4e8d-9955-31aca2ef6de1"
      }
    },
    {
      "RequestUri": "https://sanitized-host.services.ai.azure.com/api/projects/sanitized-project/agents/cs-e2e-tests-client2?api-version=v1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Foundry-Features": "MemoryStores=V1Preview,ContainerAgents=V1Preview,HostedAgents=V1Preview,WorkflowAgents=V1Preview,Evaluations=V1Preview,Schedules=V1Preview,RedTeams=V1Preview,Toolboxes=V1Preview,AgentEndpoints=V1Preview,Skills=V1Preview,Insights=V1Preview,DataGenerationJobs=V1Preview,CodeAgents=V1Preview,Models=V1Preview,AgentsOptimization=V1Preview,Routines=V1Preview,ExternalAgents=V1Preview"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "1.0,2025-05-15-preview,2025-11-15-preview",
        "azureml-served-by-cluster": "hyena-westus2-01",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "West Central US",
        "x-ms-response-type": "standard"
      },
      "ResponseBody": {
        "object": "agent",
        "id": "cs-e2e-tests-client2",
        "name": "cs-e2e-tests-client2",
        "versions": {
          "latest": {
            "metadata": {
              "delete_me": "please "
            },
            "object": "agent.version",
            "id": "cs-e2e-tests-client2:1",
            "name": "cs-e2e-tests-client2",
            "version": "1",
            "description": "",
            "created_at": 1780721738,
            "definition": {
              "kind": "external",
              "otel_agent_id": "foo"
            },
            "status": "active",
            "instance_identity": {
              "principal_id": "e33dc463-3e52-4de3-b4ff-971c8bf80697",
              "client_id": "e33dc463-3e52-4de3-b4ff-971c8bf80697"
            },
            "blueprint": {
              "principal_id": "0cab29ec-9d1a-49a5-9e1c-967f2dc71b86",
              "client_id": "d8cfc4bc-cac0-4de9-bfdd-0b1003436996"
            },
            "blueprint_reference": {
              "type": "ManagedAgentIdentityBlueprint",
              "blueprint_id": "cs-e2e-tests-client2-fe721"
            },
            "agent_guid": "fe721e34-808d-4e8d-9955-31aca2ef6de1"
          }
        },
        "agent_endpoint": {
          "version_selector": {
            "version_selection_rules": [
              {
                "type": "FixedRatio",
                "agent_version": "@latest",
                "traffic_percentage": 100
              }
            ]
          },
          "protocols": [
            "responses"
          ],
          "authorization_schemes": [
            {
              "type": "Entra",
              "isolation_key_source": {
                "kind": "Entra"
              }
            }
          ]
        },
        "instance_identity": {
          "principal_id": "e33dc463-3e52-4de3-b4ff-971c8bf80697",
          "client_id": "e33dc463-3e52-4de3-b4ff-971c8bf80697"
        },
        "blueprint": {
          "principal_id": "0cab29ec-9d1a-49a5-9e1c-967f2dc71b86",
          "client_id": "d8cfc4bc-cac0-4de9-bfdd-0b1003436996"
        },
        "blueprint_reference": {
          "type": "ManagedAgentIdentityBlueprint",
          "blueprint_id": "cs-e2e-tests-client2-fe721"
        }
      }
    },
    {
      "RequestUri": "https://sanitized-host.services.ai.azure.com/api/projects/sanitized-project/agents/cs-e2e-tests-client/versions?api-version=v1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Foundry-Features": "MemoryStores=V1Preview,ContainerAgents=V1Preview,HostedAgents=V1Preview,WorkflowAgents=V1Preview,Evaluations=V1Preview,Schedules=V1Preview,RedTeams=V1Preview,Toolboxes=V1Previe[...]
    {
      "RequestUri": "https://sanitized-host.services.ai.azure.com/api/projects/sanitized-project/agents/cs-e2e-tests-client/versions?api-version=v1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Foundry-Features": "MemoryStores=V1Preview,ContainerAgents=V1Preview,HostedAgents=V1Preview,WorkflowAgents=V1Preview,Evaluations=V1Preview,Schedules=V1Preview,RedTeams=V1Preview,Toolboxes=V1Preview,AgentEndpoints=V1Preview,Skills=V1Preview,Insights=V1Preview,DataGenerationJobs=V1Preview,CodeAgents=V1Preview,Models=V1Preview,AgentsOptimization=V1Preview,Routines=V1Preview,ExternalAgents=V1Preview"
      },
      "RequestBody": {
        "metadata": {
          "foo": "bar"
        },
        "definition": {
          "kind": "external",
          "otel_agent_id": "foo"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "1.0,2025-05-15-preview,2025-11-15-preview",
        "azureml-served-by-cluster": "hyena-westus2-01",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "West Central US",
        "x-ms-response-type": "standard"
      },
      "ResponseBody": {
        "metadata": {
          "foo": "bar"
        },
        "object": "agent.version",
        "id": "cs-e2e-tests-client:2",
        "name": "cs-e2e-tests-client",
        "version": "2",
        "description": "",
        "created_at": 1780721755,
        "definition": {
          "kind": "external",
          "otel_agent_id": "foo"
        },
        "status": "active",
        "instance_identity": {
          "principal_id": "b7eb01be-43b4-4a61-a550-ff62de06c6ab",
          "client_id": "b7eb01be-43b4-4a61-a550-ff62de06c6ab"
        },
        "blueprint": {
          "principal_id": "f2ea3b18-f434-47ca-8bc8-c230624d69bb",
          "client_id": "bcb6ba53-9a04-442f-8588-63b5eeff05c8"
        },
        "blueprint_reference": {
          "type": "ManagedAgentIdentityBlueprint",
          "blueprint_id": "cs-e2e-tests-client-46e82"
        },
        "agent_guid": "46e824f3-594d-40af-a545-191f4c9facc6"
      }
    },
    {
      "RequestUri": "https://sanitized-host.services.ai.azure.com/api/projects/sanitized-project/agents/cs-e2e-tests-client/versions/2?api-version=v1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Foundry-Features": "MemoryStores=V1Preview,ContainerAgents=V1Preview,HostedAgents=V1Preview,WorkflowAgents=V1Preview,Evaluations=V1Preview,Schedules=V1Preview,RedTeams=V1Preview,Toolboxes=V1Preview,AgentEndpoints=V1Preview,Skills=V1Preview[...]
    {
      "RequestUri": "https://sanitized-host.services.ai.azure.com/api/projects/sanitized-project/agents/cs-e2e-tests-client?api-version=v1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Foundry-Features": "MemoryStores=V1Preview,ContainerAgents=V1Preview,HostedAgents=V1Preview,WorkflowAgents=V1Preview,Evaluations=V1Preview,Schedules=V1Preview,RedTeams=V1Preview,Toolboxes=V1Preview,AgentEndpoints=V1Preview,Skills=V1Preview,Insights=V[...]
    {
      "RequestUri": "https://sanitized-host.services.ai.azure.com/api/projects/sanitized-project/agents?kind=workflow&api-version=v1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Foundry-Features": "MemoryStores=V1Preview,ContainerAgents=V1Preview,HostedAgents=V1Preview,WorkflowAgents=V1Preview,Evaluations=V1Preview,Schedules=V1Preview,RedTeams=V1Preview,Toolboxes=V1Preview,AgentEndpoints=V1Preview,Skills=V1Preview,Insights=V1Preview,DataGenerationJobs=V1Preview,CodeAgents=V1Preview,Models=V1Preview,AgentsOptimization=V1Preview,Routines=V1Preview,ExternalAgents=V1Preview"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "1.0,2025-05-15-preview,2025-11-15-preview",
        "azureml-served-by-cluster": "hyena-westus2-01",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "West Central US",
        "x-ms-response-type": "standard"
      },
      "ResponseBody": {
        "data": [
          {
            "object": "agent",
            "id": "student-teacher-workflow3",
            "name": "student-teacher-workflow3",
            "versions": {
              "latest": {
                "metadata": {},
                "object": "agent.version",
                "id": "student-teacher-workflow3:1",
                "name": "student-teacher-workflow3",
                "version": "1",
                "description": "",
                "created_at": 1773768933,
                "definition": {
                  "kind": "workflow",
                  "workflow": "\nkind: workflow\ntrigger:\n  kind: OnConversationStart\n  id: my_workflow\n  actions:\n    - kind: SetVariable\n      id: set_variable_input_task\n      variable: Local.LatestMessage\n      value: \"=UserMessage(System.LastMessageText)\"\n\n    - kind: CreateConversation\n      id: create_student_conversation\n      conversationId: Local.StudentConversationId\n\n    - kind: CreateConversation\n      id: create_teacher_conversation\n      conversationId: Local.TeacherConversationId\n\n    - ki[...]
    {
      "RequestUri": "https://sanitized-host.services.ai.azure.com/api/projects/sanitized-project/agents?kind=external&api-version=v1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Foundry-Features": "MemoryStores=V1Preview,ContainerAgents=V1Preview,HostedAgents=V1Preview,WorkflowAgents=V1Preview,Evaluations=V1Preview,Schedules=V1Preview,RedTeams=V1Preview,Toolboxes=V1Preview,AgentEndpoints=V1Preview,Skills=V1Preview,Insights=V1Previ[...]
[...]
    {
      "RequestUri": "https://sanitized-host.services.ai.azure.com/api/projects/sanitized-project/agents/cs-e2e-tests-client/versions/2?api-version=v1",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Foundry-Features": "MemoryStores=V1Preview,ContainerAgents=V1Preview,HostedAgents=V1Preview,WorkflowAgents=V1Preview,Evaluations=V1Preview,Schedules=V1Preview,RedTeams=V1Preview,Toolboxes=V1Preview,AgentEndpoints=V1Preview,Skills=V1Preview,Insights=V1Preview,DataGenerationJobs=V1Preview,CodeAgents=V1Preview,Models=V1Preview,AgentsOptimization=V1Preview,Routines=V1Preview,ExternalAgents=V1Preview"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "1.0,2025-05-15-preview,2025-11-15-preview",
        "azureml-served-by-cluster": "hyena-westus2-01",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "West Central US",
        "x-ms-response-type": "standard"
      },
      "ResponseBody": {
        "object": "agent.version.deleted",
        "name": "cs-e2e-tests-client",
        "version": "2",
        "deleted": true
      }
    },
[...]
