{
  "Entries": [
    {
      "RequestUri": "https://sanitized-host.services.ai.azure.com/api/projects/sanitized-project/agents/cs-e2e-hosted/versions?api-version=v1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Foundry-Features": "MemoryStores=V1Preview,ContainerAgents=V1Preview,HostedAgents=V1Preview,WorkflowAgents=V1Preview,Evaluations=V1Preview,Schedules=V1Preview,RedTeams=V1Preview,Toolboxes=V1Preview,AgentEndpoints=V1Preview,Skills=V1Preview"
      },
      "RequestBody": {
        "metadata": {
          "enableVnextExperience": "true"
        },
        "definition": {
          "kind": "hosted",
          "container_protocol_versions": [
            {
              "protocol": "responses",
              "version": "1.0.0"
            }
          ],
          "cpu": "0.5",
          "memory": "1Gi",
          "environment_variables": {
            "AZURE_OPENAI_ENDPOINT": "https://sanitized.cognitiveservices.azure.com/",
            "AZURE_OPENAI_CHAT_DEPLOYMENT_NAME": "gpt-4.1"
          },
          "image": "Sanitized"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "1.0,2025-05-15-preview,2025-11-15-preview",
        "azureml-served-by-cluster": "hyena-westus2-01",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "West Central US",
        "x-ms-response-type": "standard"
      },
      "ResponseBody": {
        "metadata": {
          "enableVnextExperience": "true"
        },
        "object": "agent.version",
        "id": "cs-e2e-hosted:1",
        "name": "cs-e2e-hosted",
        "version": "1",
        "description": "",
        "created_at": 1776280958,
        "definition": {
          "kind": "hosted",
          "container_protocol_versions": [
            {
              "protocol": "responses",
              "version": "1.0.0"
            }
          ],
          "cpu": "0.5",
          "memory": "1Gi",
          "environment_variables": {
            "AZURE_OPENAI_ENDPOINT": "https://sanitized.cognitiveservices.azure.com/",
            "AZURE_OPENAI_CHAT_DEPLOYMENT_NAME": "gpt-4.1"
          },
          "image": "Sanitized"
        },
        "status": "active",
        "instance_identity": {
          "principal_id": "d156294d-3519-4138-b7e5-09d73790e713",
          "client_id": "d156294d-3519-4138-b7e5-09d73790e713"
        },
        "blueprint": {
          "principal_id": "6c576726-b591-4fec-98ba-2e70ee228cb9",
          "client_id": "6c576726-b591-4fec-98ba-2e70ee228cb9"
        },
        "blueprint_reference": {
          "type": "ManagedAgentIdentityBlueprint",
          "blueprint_id": "cs-e2e-hosted-bfff3"
        }
      }
    },
    {
      "RequestUri": "https://sanitized-host.services.ai.azure.com/api/projects/sanitized-project/skills?api-version=v1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Foundry-Features": "MemoryStores=V1Preview,ContainerAgents=V1Preview,HostedAgents=V1Preview,WorkflowAgents=V1Preview,Evaluations=V1Preview,Schedules=V1Preview,RedTeams=V1Preview,Toolboxes=V1Preview,AgentEndpoints=V1Preview,Skills=V1Preview"
      },
      "RequestBody": {
        "name": "test-skill",
        "description": "Calculates the sum of two numbers.",
        "instructions": "To calculate the sum  run\n```bash\necho $((<first> + <second>))\n```\n```powershell\n(<first> + <second>)\n```\nReplace <first> and <second> by the actual summation arguments."
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "1.0",
        "azureml-served-by-cluster": "hyena-westus2-01",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://agents.westus2.hyena.infra.ai.azure.com/agents/v2.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sanitized-rg/providers/Microsoft.MachineLearningServices/workspaces/agentsv2-ga-bugbash-tip@project2@AML/skills/test-skill",
        "x-ms-region": "West Central US",
        "x-ms-response-type": "standard"
      },
      "ResponseBody": {
        "object": "skill",
        "skill_id": "skill_52265065dd368bb8001EJ72eMsdqRxlSSKUyxHdd8WPisu906h",
        "has_blob": false,
        "name": "test-skill",
        "description": "Calculates the sum of two numbers.",
        "metadata": {}
      }
    },
    {
      "RequestUri": "https://sanitized-host.services.ai.azure.com/api/projects/sanitized-project/agents/cs-e2e-hosted?api-version=v1",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch+json",
        "Foundry-Features": "MemoryStores=V1Preview,ContainerAgents=V1Preview,HostedAgents=V1Preview,WorkflowAgents=V1Preview,Evaluations=V1Preview,Schedules=V1Preview,RedTeams=V1Preview,Toolboxes=V1Preview,AgentEndpoints=V1Preview,Skills=V1Preview"
      },
      "RequestBody": {
        "agent_endpoint": {
          "version_selector": {
            "version_selection_rules": [
              {
                "type": "FixedRatio",
                "agent_version": "1",
                "traffic_percentage": 74
              }
            ]
          },
          "protocols": [
            "responses"
          ]
        },
        "agent_card": {
          "version": "42",
          "skills": [
            {
              "id": "skill_52265065dd368bb8001EJ72eMsdqRxlSSKUyxHdd8WPisu906h",
              "name": "test-skill"
            }
          ]
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "1.0,2025-05-15-preview,2025-11-15-preview",
        "azureml-served-by-cluster": "hyena-westus2-01",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "West Central US",
        "x-ms-response-type": "standard"
      },
      "ResponseBody": {
        "object": "agent",
        "id": "cs-e2e-hosted",
        "name": "cs-e2e-hosted",
        "versions": {
          "latest": {
            "metadata": {
              "enableVnextExperience": "true"
            },
            "object": "agent.version",
            "id": "cs-e2e-hosted:1",
            "name": "cs-e2e-hosted",
            "version": "1",
            "description": "",
            "created_at": 1776280958,
            "definition": {
              "kind": "hosted",
              "container_protocol_versions": [
                {
                  "protocol": "responses",
                  "version": "1.[...]
