{
  "Entries": [
    {
      "RequestUri": "https://sanitized-host.services.ai.azure.com/api/projects/sanitized-project/toolboxes/mcp1?api-version=v1",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Foundry-Features": "MemoryStores=V1Preview,ContainerAgents=V1Preview,HostedAgents=V1Preview,WorkflowAgents=V1Preview,Evaluations=V1Preview,Schedules=V1Preview,RedTeams=V1Preview,Toolboxes=V1Preview"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "api-supported-versions": "1.0",
        "azureml-served-by-cluster": "hyena-westus2-02",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "West Central US",
        "x-ms-response-type": "standard"
      },
      "ResponseBody": {
        "error": {
          "code": "not_found",
          "message": "Toolbox 'mcp1' not found",
          "type": "error",
          "details": [],
          "additionalInfo": {
            "request_id": "a533883692f9584f077e45751af7c331"
          }
        }
      }
    },
[...]
    {
      "RequestUri": "https://sanitized-host.services.ai.azure.com/api/projects/sanitized-project/toolboxes/mcp1/versions?api-version=v1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Foundry-Features": "MemoryStores=V1Preview,ContainerAgents=V1Preview,HostedAgents=V1Preview,WorkflowAgents=V1Preview,Evaluations=V1Preview,Schedules=V1Preview,RedTeams=V1Preview,Toolboxes=V1Preview"
      },
      "RequestBody": {
        "description": "Example toolbox created by the azure-ai-projects sample.",
        "metadata": {
          "team": "Engineers"
        },
        "tools": [
          {
            "type": "mcp",
            "server_label": "api-specs",
            "server_url": "https://gitmcp.io/Azure/azure-rest-api-specs",
            "require_approval": "always"
          }
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "1.0",
        "azureml-served-by-cluster": "hyena-westus2-02",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "West Central US",
        "x-ms-response-type": "standard"
      },
      "ResponseBody": {
        "metadata": {
          "team": "Engineers"
        },
        "object": "toolbox.version",
        "id": "toolbox_3eb130a453df51a33474b4854d1a39b9342ed97d:1",
        "name": "mcp1",
        "version": "1",
        "description": "Example toolbox created by the azure-ai-projects sample.",
        "created_at": 1776118647,
        "tools": [
          {
            "type": "mcp",
            "server_label": "api-specs",
            "server_url": "https://gitmcp.io/Azure/azure-rest-api-specs",
            "require_approval": "always"
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://sanitized-host.services.ai.azure.com/api/projects/sanitized-project/toolboxes/mcp2?api-version=v1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Foundry-Features": "MemoryStores=V1Preview,ContainerAgents=V1Preview,HostedAgents=V1Preview,WorkflowAgents=V1Preview,Evaluations=V1Preview,Schedules=V1Preview,RedTeams=V1Preview,Toolboxes=V1Preview"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "1.0",
        "azureml-served-by-cluster": "hyena-westus2-02",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "West Central US",
        "x-ms-response-type": "standard"
      },
      "ResponseBody": {
        "object": "toolbox",
        "id": "toolbox_2aa3f2b9fdb428cad06ac0d80d840f058d2f4f7a",
        "name": "mcp2",
        "default_version": "1"
      }
    },
[...]
    {
      "RequestUri": "https://sanitized-host.services.ai.azure.com/api/projects/sanitized-project/toolboxes?order=asc&api-version=v1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Foundry-Features": "MemoryStores=V1Preview,ContainerAgents=V1Preview,HostedAgents=V1Preview,WorkflowAgents=V1Preview,Evaluations=V1Preview,Schedules=V1Preview,RedTeams=V1Preview,Toolboxes=V1Preview"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "1.0",
        "azureml-served-by-cluster": "hyena-westus2-02",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "West Central US",
        "x-ms-response-type": "standard"
      },
      "ResponseBody": {
        "data": [
          {
            "object": "toolbox",
            "id": "toolbox_7679907b6698ecba3a3c3dd137d998bf86c12d42",
            "name": "test-toolbox",
            "default_version": "1"
          },
          {
            "object": "toolbox",
            "id": "toolbox_a007876b4120945d6aefd6014805ff5ccf044627",
            "name": "TOOLBOX_0",
            "default_version": "1"
          },
          {
            "object": "toolbox",
            "id": "toolbox_5be7812d52e10857e366599c0eaad80909c8162a",
            "name": "TOOLBOX_1",
            "default_version": "1"
          },
          {
            "object": "toolbox",
            "id": "toolbox_3eb130a453df51a33474b4854d1a39b9342ed97d",
            "name": "mcp1",
            "default_version": "1"
          },
          {
            "object": "toolbox",
            "id": "toolbox_2aa3f2b9fdb428cad06ac0d80d840f058d2f4f7a",
            "name": "mcp2",
            "default_version": "2"
          }
        ],
        "first_id": "toolbox_7679907b6698ecba3a3c3dd137d998bf86c12d42",
        "last_id": "toolbox_2aa3f2b9fdb428cad06ac0d80d840f058d2f4f7a",
        "has_more": false,
        "object": "list"
      }
    },
[...]
