{
  "Entries": [
    {
      "RequestUri": "https://sanitized-host.services.ai.azure.com/api/projects/sanitized-project/agents/cs-e2e-hosted2-01/versions?api-version=v1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Foundry-Features": "MemoryStores=V1Preview,ContainerAgents=V1Preview,HostedAgents=V1Preview,WorkflowAgents=V1Preview,Evaluations=V1Preview,Schedules=V1Preview,RedTeams=V1Preview,Toolboxes=V1Preview,AgentEndpoints=V1Preview,Skills=V1Preview,Insights=V1Preview,DataGenerationJobs=V1Preview,CodeAgents=V1Preview"
      },
      "RequestBody": {
        "metadata": {
          "enableVnextExperience": "true"
        },
        "definition": {
          "kind": "hosted",
          "container_protocol_versions": [
            {
              "protocol": "responses",
              "version": "1.0.0"
            }
          ],
          "cpu": "0.5",
          "memory": "1Gi",
          "environment_variables": {
            "AZURE_OPENAI_ENDPOINT": "https://sanitized.cognitiveservices.azure.com/",
            "AZURE_OPENAI_CHAT_DEPLOYMENT_NAME": "gpt-4.1"
          },
          "image": "Sanitized"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "1.0,2025-05-15-preview,2025-11-15-preview",
        "azureml-served-by-cluster": "hyena-northcentralus-01",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "North Central US",
        "x-ms-response-type": "standard"
      },
      "ResponseBody": {
        "metadata": {
          "enableVnextExperience": "true"
        },
        "object": "agent.version",
        "id": "cs-e2e-hosted2-01:1",
        "name": "cs-e2e-hosted2-01",
        "version": "1",
        "description": "",
        "created_at": 1778001879,
        "definition": {
          "kind": "hosted",
          "container_protocol_versions": [
            {
              "protocol": "responses",
              "version": "1.0.0"
            }
          ],
          "cpu": "0.5",
          "memory": "1Gi",
          "environment_variables": {
            "AZURE_OPENAI_ENDPOINT": "https://sanitized.cognitiveservices.azure.com/",
            "AZURE_OPENAI_CHAT_DEPLOYMENT_NAME": "gpt-4.1"
          },
          "image": "Sanitized"
        },
        "status": "creating",
        "instance_identity": {
          "principal_id": "d3e849a5-7061-48ef-9ea0-f4f97e366e7a",
          "client_id": "d3e849a5-7061-48ef-9ea0-f4f97e366e7a"
        },
        "blueprint": {
          "principal_id": "cd8fdc69-ddf0-4354-8582-085f9780aab5",
          "client_id": "4d2a6e19-47a6-4ffa-93b8-66633b7b23ce"
        },
        "blueprint_reference": {
          "type": "ManagedAgentIdentityBlueprint",
          "blueprint_id": "cs-e2e-hosted2-01-51433"
        },
        "agent_guid": "51433e08-21be-4227-89e4-4d0e02ec04d6"
      }
    },
    {
      "RequestUri": "https://sanitized-host.services.ai.azure.com/api/projects/sanitized-project/agents/cs-e2e-hosted2-01/versions/1?api-version=v1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Foundry-Features": "MemoryStores=V1Preview,ContainerAgents=V1Preview,HostedAgents=V1Preview,WorkflowAgents=V1Preview,Evaluations=V1Preview,Schedules=V1Preview,RedTeams=V1Preview,Toolboxes=V1Preview,AgentEndpoints=V1Preview,Skills=V1Preview,I[...]
[...]
    {
      "RequestUri": "https://sanitized-host.services.ai.azure.com/api/projects/sanitized-project/agents/cs-e2e-hosted2-01/endpoint/sessions?api-version=v1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Foundry-Features": "MemoryStores=V1Preview,ContainerAgents=V1Preview,HostedAgents=V1Preview,WorkflowAgents=V1Preview,Evaluations=V1Preview,Schedules=V1Preview,RedTeams=V1Preview,Toolboxes=V1Preview,AgentEndpoints=V1Preview,Skills=V1Preview,Insights=V1Preview,DataGenerationJobs=V1Preview,CodeAgents=V1Preview"
      },
      "RequestBody": {
        "version_indicator": {
          "type": "version_ref",
          "agent_version": "1"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "1.0,2025-05-15-preview,2025-11-15-preview",
        "azureml-served-by-cluster": "hyena-northcentralus-01",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "North Central US",
        "x-ms-response-type": "standard"
      },
      "ResponseBody": {
        "agent_session_id": "61365cd2ee721a3300xIZnf0SXsvJ7Y3FA2wbxIKYIs9o0vz6C",
        "version_indicator": {
          "type": "version_ref",
          "agent_version": "1"
        },
        "status": "active",
        "created_at": 1778001908,
        "last_accessed_at": 1778001908,
        "expires_at": 1780593908
      }
    },
    {
      "RequestUri": "https://sanitized-host.services.ai.azure.com/api/projects/sanitized-project/agents/cs-e2e-hosted2-01/endpoint/sessions/61365cd2ee721a3300xIZnf0SXsvJ7Y3FA2wbxIKYIs9o0vz6C/files/content?path=storage%2Ffile1.json&api-version=v1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "Foundry-Features": "MemoryStores=V1Preview,ContainerAgents=V1Preview,HostedAgents=V1Preview[...]
    {
      "RequestUri": "https://sanitized-host.services.ai.azure.com/api/projects/sanitized-project/agents/cs-e2e-hosted2-01/endpoint/sessions/61365cd2ee721a3300xIZnf0SXsvJ7Y3FA2wbxIKYIs9o0vz6C/files/content?path=storage%2Ffile2.json&api-version=v1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "Foundry-Features": "MemoryStores=V1Preview,ContainerAgents=V1Preview,HostedAgents=V1Preview,WorkflowAgents=V1Preview,Evaluations=V1Preview,Schedules=V1Preview,RedTeams=V1Preview,Toolboxes=V1Preview,AgentEndpoints=V1Preview,Skills=V1Preview,Insights=V1Preview,DataGenerationJobs=V1Preview,CodeAgents=V1Preview"
      },
      "RequestBody": "VGhlIHRlc3QgZmlsZQo=",
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "1.0,2025-05-15-preview,2025-11-15-preview",
        "azureml-served-by-cluster": "hyena-northcentralus-01",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "North Central US",
        "x-ms-response-type": "standard"
      },
      "ResponseBody": {
        "path": "storage/file2.json",
        "bytes_written": 14,
        "success": true,
        "source_type": "stream"
      }
    },
    {
      "RequestUri": "https://sanitized-host.services.ai.azure.com/api/projects/sanitized-project/agents/cs-e2e-hosted2-01/endpoint/sessions/61365cd2ee721a3300xIZnf0SXsvJ7Y3FA2wbxIKYIs9o0vz6C/files?path=storage&api-version=v1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Foundry-Features": "MemoryStores=V1Preview,ContainerAgents=V1Preview,HostedAgents=V1Preview,WorkflowAgents=V1Preview,Evaluations=V1Preview,Schedules=V1Preview,RedTeams=V1Preview,Toolboxes=V1Preview,AgentEndpoints=V1Preview,Skills=V1Preview,Insights=V1Preview,DataGenerationJobs=V1Preview,CodeAgents=V1Preview"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "1.0,2025-05-15-preview,2025-11-15-preview",
        "azureml-served-by-cluster": "hyena-northcentralus-01",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "North Central US",
        "x-ms-response-type": "standard"
      },
      "ResponseBody": {
        "path": "storage",
        "entries": [
          {
            "name": "file2.json",
            "size": 14,
            "is_directory": false,
            "modified_time": 0
          },
          {
            "name": "file1.json",
            "size": 1439,
            "is_directory": false,
            "modified_time": 0
          }
        ]
      }
    },
    {
      "RequestUri": "https://sanitized-host.services.ai.azure.com/api/projects/sanitized-project/agents/cs-e2e-hosted2-01/endpoint/sessions/61365cd2ee721a3300xIZnf0SXsvJ7Y3FA2wbxIKYIs9o0vz6C/files/content?path=storage%2Ffile2.json&api-version=v1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Foundry-Features": "MemoryStores=V1Preview,ContainerAgents=V1Preview,HostedAgents=V1Preview,WorkflowAgents=V1Preview,Evaluations=V1Preview,Schedules=V1Preview,RedTeams=V1Preview,Toolboxes=V1Preview,AgentEndpoints=V1Preview,Skills=V1Preview,Insights=V1Preview,DataGenerationJobs=V1Preview,CodeAgents=V1Preview"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "1.0,2025-05-15-preview,2025-11-15-preview",
        "azureml-served-by-cluster": "hyena-northcentralus-01",
        "Content-Disposition": "attachment; filename=file2.json; filename*=UTF-8''file2.json",
        "Content-Type": "application/octet-stream",
        "x-ms-region": "North Central US",
        "x-ms-response-type": "standard"
      },
      "ResponseBody": "VGhlIHRlc3QgZmlsZQo="
    },
    {
      "RequestUri": "https://sanitized-host.services.ai.azure.com/api/projects/sanitized-project/agents/cs-e2e-hosted2-01/endpoint/sessions/61365cd2ee721a3300xIZnf0SXsvJ7Y3FA2wbxIKYIs9o0vz6C/files?path=storage%2Ffile2.json&api-version=v1",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Foundry-Features": "MemoryStores=V1Preview,ContainerAgents=V1Preview,HostedAgents=V1Preview,WorkflowAgents=V1Preview,Evaluations=V1Preview,Schedules=V1Preview,RedTeams=V1Preview,Toolboxes=V1Preview,AgentEndpoints=V1Preview,Skills=V1Preview,Insights=V1Preview,DataGenerationJobs=V1Preview,CodeAgents=V1Preview"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "1.0,2025-05-15-preview,2025-11-15-preview",
        "azureml-served-by-cluster": "hyena-northcentralus-01",
        "x-ms-region": "North Central US",
        "x-ms-response-type": "standard"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://sanitized-host.services.ai.azure.com/api/projects/sanitized-project/agents/cs-e2e-hosted2-01/endpoint/sessions/61365cd2ee721a3300xIZnf0SXsvJ7Y3FA2wbxIKYIs9o0vz6C?api-version=v1",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Foundry-Features": "MemoryStores=V1Preview,ContainerAgents=V1Preview,HostedAgents=V1Preview,WorkflowAgents=V1Preview,Evaluations=V1Preview,Schedules=V1Preview,RedTeams=V1Preview,Toolboxes=V1Preview,AgentEndpoints=V1Preview,Skills=V1Preview,Insights=V1Preview,DataGenerationJobs=V1Preview,CodeAgents=V1Preview"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "1.0,2025-05-15-preview,2025-11-15-preview",
        "azureml-served-by-cluster": "hyena-northcentralus-01",
        "x-ms-region": "North Central US",
        "x-ms-response-type": "standard"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "AGENT_DOCKER_IMAGE": "nirvinsregistry.azurecr.io/nirvinsregistry/sample-agent:latest",
    "FOUNDRY_MODEL_NAME": "gpt-4.1",
    "FOUNDRY_PROJECT_ENDPOINT": "https://sanitized-host.services.ai.azure.com/api/projects/sanitized-project"
  }
}
