{
  "Entries": [
    {
      "RequestUri": "https://sanitized-host.services.ai.azure.com/api/projects/sanitized-project/skills?api-version=v1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Foundry-Features": "MemoryStores=V1Preview,ContainerAgents=V1Preview,HostedAgents=V1Preview,WorkflowAgents=V1Preview,Evaluations=V1Preview,Schedules=V1Preview,RedTeams=V1Preview,Toolboxes=V1Preview,AgentEndpoints=V1Preview,Skills=V1Preview"
      },
      "RequestBody": {
        "name": "test-skill_code",
        "description": "Calculates the sum of two numbers.",
        "instructions": "To calculate the sum  run\n```bash\necho $((<first> + <second>))\n```\n```powershell\n(<first> + <second>)\n```\nReplace <first> and <second> by the actual summation arguments."
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "1.0",
        "azureml-served-by-cluster": "hyena-northcentralus-01",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://agents.northcentralus.hyena.infra.ai.azure.com/agents/v2.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sanitized-rg/providers/Microsoft.MachineLearningServices/workspaces/nirovins-north@nirovinsNorth@AML/skills/test-skill_code",
        "x-ms-region": "North Central US",
        "x-ms-response-type": "standard"
      },
      "ResponseBody": {
        "object": "skill",
        "skill_id": "skill_91632a338eb6d4ba00k44M1PkeG2YdW8hFnkF8FAgOLQpWtlGC",
        "has_blob": false,
        "name": "test-skill_code",
        "description": "Calculates the sum of two numbers.",
        "metadata": {}
      }
    },
    {
      "RequestUri": "https://sanitized-host.services.ai.azure.com/api/projects/sanitized-project/skills:import?api-version=v1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/zip",
        "Foundry-Features": "MemoryStores=V1Preview,ContainerAgents=V1Preview,HostedAgents=V1Preview,WorkflowAgents=V1Preview,Evaluations=V1Preview,Schedules=V1Preview,RedTeams=V1Preview,Toolboxes=V1Preview,AgentEndpoints=V1Prev[...]
    {
      "RequestUri": "https://sanitized-host.services.ai.azure.com/api/projects/sanitized-project/skills/test-skill_file:download?api-version=v1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Foundry-Features": "MemoryStores=V1Preview,ContainerAgents=V1Preview,HostedAgents=V1Preview,WorkflowAgents=V1Preview,Evaluations=V1Preview,Schedules=V1Preview,RedTeams=V1Preview,Toolboxes=V1Preview,AgentEndpoints=V1Preview,Skills=V1Preview"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "1.0",
        "azureml-served-by-cluster": "hyena-northcentralus-01",
        "Content-Type": "application/gzip",
        "x-ms-region": "North Central US",
        "x-ms-response-type": "standard"
      },
      "ResponseBody": "UEsDBBQAAAAIAG1LkVxV1Y/WAAEAAJMBAAAIAAAAU0tJTEwubWRlkEFLAzEQhe/5Fe+gsMVmaXvwUEQQBE+rsHh3p5vZ3WCSKUnW9edL0xZEb8Ob9715jNZaBfK8R+aUdfq0zn0M1rEynPpoj9lK2KMV52Bsz5iTDSMIkYIRjzD7A0eMHDhSllgrrbVS74J4QgjG8hpzYuSJMYhzspwCevGegkGeKF9pTv9yhygeW5Wl4KP94nBdyYBkDae9Ul3XHShNivtJcFNV7dPr81uDWzwUxyPusF2tTrbiPcrCMU3snHrhrNvzRd3YYP3ssYVu6LuM1e+AM9/y0VHP6C6rDovNU6n3pxgkFNlYRsX1WK9xj0EiCClTMBSNKt/ZbS6y2W1WtfoBUEsBAhQAFAAAAAgAbUuRXFXVj9YAAQAAkwEAAAgAAAAAAAAAAAAAAAAAAAAAAFNLSUxMLm1kUEsFBgAAAAABAAEANgAAACYBAAAAAA=="
    },
    {
      "RequestUri": "https://sanitized-host.services.ai.azure.com/api/projects/sanitized-project/skills/test-skill_code?api-version=v1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Foundry-Features": "MemoryStores=V1Preview,ContainerAgents=V1Preview,HostedAgents=V1Preview,WorkflowAgents=V1Preview,Evaluations=V1Preview,Schedules=V1Preview,RedTeams=V1Preview,Toolboxes=V1Preview,AgentEndpoints=V1Preview,Skills=V1Preview"
      },
      "RequestBody": {
        "description": "Calculates the product of two numbers.",
        "instructions": "To calculate the sum  run\n```bash\necho $((<first> * <second>))\n```\n```powershell\n(<first> * <second>)\n```\nReplace <first> and <second> by the actual summation arguments."
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "1.0",
        "azureml-served-by-cluster": "hyena-northcentralus-01",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "North Central US",
        "x-ms-response-type": "standard"
      },
      "ResponseBody": {
        "object": "skill",
        "skill_id": "skill_91632a338eb6d4ba00k44M1PkeG2YdW8hFnkF8FAgOLQpWtlGC",
        "has_blob": false,
        "name": "test-skill_code",
        "description": "Calculates the product of two numbers.",
        "metadata": {}
      }
    },
[...]
    {
      "RequestUri": "https://sanitized-host.services.ai.azure.com/api/projects/sanitized-project/skills?api-version=v1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Foundry-Features": "MemoryStores=V1Preview,ContainerAgents=V1Preview,HostedAgents=V1Preview,WorkflowAgents=V1Preview,Evaluations=V1Preview,Schedules=V1Preview,RedTeams=V1Preview,Toolboxes=V1Preview,AgentEndpoints=V1Preview,Skills=V1Preview"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "1.0",
        "azureml-served-by-cluster": "hyena-northcentralus-01",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "North Central US",
        "x-ms-response-type": "standard"
      },
      "ResponseBody": {
        "data": [
          {
            "object": "skill",
            "skill_id": "skill_802d1bfcbd8230fb00yzHIJ0fA4kcKzhUNgB4SbsAguv2wM0gi",
            "has_blob": true,
            "name": "test-skill_file",
            "description": "Roll dice using a random number generator.",
            "metadata": {}
          },
          {
            "object": "skill",
            "skill_id": "skill_91632a338eb6d4ba00k44M1PkeG2YdW8hFnkF8FAgOLQpWtlGC",
            "has_blob": false,
            "name": "test-skill_code",
            "description": "Calculates the product of two numbers.",
            "metadata": {}
          }
        ],
        "first_id": "skill_802d1bfcbd8230fb00yzHIJ0fA4kcKzhUNgB4SbsAguv2wM0gi",
        "last_id": "skill_91632a338eb6d4ba00k44M1PkeG2YdW8hFnkF8FAgOLQpWtlGC",
        "has_more": false,
        "object": "list"
      }
    },
    {
      "RequestUri": "https://sanitized-host.services.ai.azure.com/api/projects/sanitized-project/skills/test-skill_code?api-version=v1",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Foundry-Features": "MemoryStores=V1Preview,ContainerAgents=V1Preview,HostedAgents=V1Preview,WorkflowAgents=V1Preview,Evaluations=V1Preview,Schedules=V1Preview,RedTeams=V1Preview,Toolboxes=V1Preview,AgentEndpoints=V1Preview,Skills=V1Preview"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "1.0",
        "azureml-served-by-cluster": "hyena-northcentralus-01",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "North Central US",
        "x-ms-response-type": "standard"
      },
      "ResponseBody": {
        "object": "skill.deleted",
        "name": "test-skill_code",
        "deleted": true
      }
    },
[...]
    {
      "RequestUri": "https://sanitized-host.services.ai.azure.com/api/projects/sanitized-project/skills/test-skill_file?api-version=v1",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Foundry-Features": "MemoryStores=V1Preview,ContainerAgents=V1Preview,HostedAgents=V1Preview,WorkflowAgents=V1Preview,Evaluations=V1Preview,Schedules=V1Preview,RedTeams=V1Preview,Toolboxes=V1Preview,AgentEndpoints=V1Preview,Skills=V1Preview"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "1.0",
        "azureml-served-by-cluster": "hyena-northcentralus-01",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "North Central US",
        "x-ms-response-type": "standard"
      },
      "ResponseBody": {
        "object": "skill.deleted",
        "name": "test-skill_file",
        "deleted": true
      }
    },
    {
      "RequestUri": "https://sanitized-host.services.ai.azure.com/api/projects/sanitized-project/skills?api-version=v1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Foundry-Features": "MemoryStores=V1Preview,ContainerAgents=V1Preview,HostedAgents=V1Preview,WorkflowAgents=V1Preview,Evaluations=V1Preview,Schedules=V1Preview,RedTeams=V1Preview,Toolboxes=V1Preview,AgentEndpoints=V1Preview,Skills=V1Preview"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "1.0",
        "azureml-served-by-cluster": "hyena-northcentralus-01",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "North Central US",
        "x-ms-response-type": "standard"
      },
      "ResponseBody": {
        "data": [],
        "first_id": "",
        "last_id": "",
        "has_more": false,
        "object": "list"
      }
    }
  ],
  "Variables": {
    "FOUNDRY_PROJECT_ENDPOINT": "https://sanitized-host.services.ai.azure.com/api/projects/sanitized-project"
  }
}
