{
  "Entries": [
    {
      "RequestUri": "https://sanitized-host.services.ai.azure.com/api/projects/sanitized-project/toolboxes/test-toolbox/versions?api-version=v1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Foundry-Features": "MemoryStores=V1Preview,ContainerAgents=V1Preview,HostedAgents=V1Preview,WorkflowAgents=V1Preview,Evaluations=V1Preview,Schedules=V1Preview,RedTeams=V1Preview,Toolboxes=V1Preview,AgentEndpoints=V1Preview,Skills=V1Preview,Insights=V1Preview,DataGenerationJobs=V1Preview,CodeAgents=V1Preview,Models=V1Preview,AgentsOptimization=V1Preview"
      },
      "RequestBody": {
        "description": "CodeInterpreterGen",
        "tools": [
          {
            "type": "code_interpreter",
            "container": {
              "type": "auto",
              "file_ids": []
            }
          }
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "1.0",
        "azureml-served-by-cluster": "hyena-northcentralus-01",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "North Central US",
        "x-ms-response-type": "standard"
      },
      "ResponseBody": {
        "metadata": {},
        "object": "toolbox.version",
        "id": "toolbox_62f0c9463ea0fb6928e7192f9be461e0db29d951:1",
        "name": "test-toolbox",
        "version": "1",
        "description": "CodeInterpreterGen",
        "created_at": 1777322958,
        "tools": [
          {
            "type": "code_interpreter",
            "container": {
              "type": "auto",
              "file_ids": []
            }
          }
        ]
      }
    },
    {
      "RequestUri": "https://sanitized-host.services.ai.azure.com/api/projects/sanitized-project/toolboxes/test-toolbox/versions/1?api-version=v1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Foundry-Features": "MemoryStores=V1Preview,ContainerAgents=V1Preview,HostedAgents=V1Preview,WorkflowAgents=V1Preview,Evaluations=V1Preview,Schedules=V1Preview,RedTeams=V1Preview,Toolboxes=V1Preview,AgentEndpoints=V1Preview,Skills=V1Preview,Insights=V1Preview,DataGenerationJobs=V1Preview,CodeAgents=V1Preview,Models=V1Preview,AgentsOptimization=V1Preview"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "1.0",
        "azureml-served-by-cluster": "hyena-northcentralus-01",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "North Central US",
        "x-ms-response-type": "standard"
      },
      "ResponseBody": {
        "metadata": {},
        "object": "toolbox.version",
        "id": "toolbox_62f0c9463ea0fb6928e7192f9be461e0db29d951:1",
        "name": "test-toolbox",
        "version": "1",
        "description": "CodeInterpreterGen",
        "created_at": 1777322958,
        "tools": [
          {
            "type": "code_interpreter",
            "container": {
              "type": "auto",
              "file_ids": []
            }
          }
        ]
      }
    },
    {
      "RequestUri": "https://sanitized-host.services.ai.azure.com/api/projects/sanitized-project/agents/cs-e2e-tests-client/versions?api-version=v1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Foundry-Features": "MemoryStores=V1Preview,ContainerAgents=V1Preview,HostedAgents=V1Preview,WorkflowAgents=V1Preview,Evaluations=V1Preview,Schedules=V1Preview,RedTeams=V1Preview,Toolboxes=V1Preview,AgentEndpoints=V1Preview,Skills=V1Preview,Insights=V1Preview,DataGenerationJobs=V1Preview,CodeAgents=V1Preview,Models=V1Preview,AgentsOptimization=V1Preview"
      },
      "RequestBody": {
        "definition": {
          "kind": "prompt",
          "model": "gpt-4.1",
          "tools": [
            {
              "type": "code_interpreter",
              "container": {
                "type": "auto",
                "file_ids": []
              }
            }
          ]
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "1.0,2025-05-15-preview,2025-11-15-preview",
        "azureml-served-by-cluster": "hyena-northcentralus-02",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "North Central US",
        "x-ms-response-type": "standard"
      },
      "ResponseBody": {
        "metadata": {},
        "object": "agent.version",
        "id": "cs-e2e-tests-client:1",
        "name": "cs-e2e-tests-client",
        "version": "1",
        "description": "",
        "created_at": 1777322965,
        "definition": {
          "kind": "prompt",
          "model": "gpt-4.1",
          "tools": [
            {
              "type": "code_interpreter",
              "container": {
                "type": "auto",
                "file_ids": []
              }
            }
          ]
        },
        "status": "active",
        "instance_identity": {
          "principal_id": "e1c18095-667a-4b66-89f1-dcdf955a8b37",
          "client_id": "e1c18095-667a-4b66-89f1-dcdf955a8b37"
        },
        "blueprint": {
          "principal_id": "8ace8172-ab24-4ec6-9f73-c88d4f3d4e81",
          "client_id": "8ace8172-ab24-4ec6-9f73-c88d4f3d4e81"
        },
        "blueprint_reference": {
          "type": "ManagedAgentIdentityBlueprint",
          "blueprint_id": "cs-e2e-tests-client-16e8a"
        }
      }
    }
  ],
  "Variables": {
    "FOUNDRY_MODEL_NAME": "gpt-4.1",
    "FOUNDRY_PROJECT_ENDPOINT": "https://sanitized-host.services.ai.azure.com/api/projects/sanitized-project"
  }
}
