{
  "Entries": [
    {
      "RequestUri": "https://sanitized-host.services.ai.azure.com/api/projects/sanitized-project/agents/cs-e2e-hosted2-01/versions?api-version=v1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Foundry-Features": "MemoryStores=V1Preview,ContainerAgents=V1Preview,HostedAgents=V1Preview,WorkflowAgents=V1Preview,Evaluations=V1Preview,Schedules=V1Preview,RedTeams=V1Preview,Toolboxes=V1Preview,AgentEndpoints=V1Preview,Skills=V1Preview,Insights=V1Preview,DataGenerationJobs=V1Preview,CodeAgents=V1Preview,Models=V1Preview,AgentsOptimization=V1Preview,Routines=V1Preview,ExternalAgents=V1Preview"
      },
      "RequestBody": {
        "metadata": {
          "enableVnextExperience": "true"
        },
        "definition": {
          "kind": "hosted",
          "container_protocol_versions": [
            {
              "protocol": "responses",
              "version": "1.0.0"
            }
          ],
          "cpu": "0.5",
          "memory": "1Gi",
          "environment_variables": {
            "AZURE_OPENAI_ENDPOINT": "https://sanitized.cognitiveservices.azure.com/",
            "AZURE_OPENAI_CHAT_DEPLOYMENT_NAME": "gpt-4.1"
          },
          "image": "Sanitized"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "1.0,2025-05-15-preview,2025-11-15-preview",
        "azureml-served-by-cluster": "hyena-westus2-01",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "West Central US",
        "x-ms-response-type": "standard"
      },
      "ResponseBody": {
        "metadata": {
          "enableVnextExperience": "true"
        },
        "object": "agent.version",
        "id": "cs-e2e-hosted2-01:2",
        "name": "cs-e2e-hosted2-01",
        "version": "2",
        "description": "",
        "created_at": 1779234136,
        "definition": {
          "kind": "hosted",
          "container_protocol_versions": [
            {
              "protocol": "responses",
              "version": "1.0.0"
            }
          ],
          "cpu": "0.5",
          "memory": "1Gi",
          "environment_variables": {
            "AZURE_OPENAI_ENDPOINT": "https://sanitized.cognitiveservices.azure.com/",
            "AZURE_OPENAI_CHAT_DEPLOYMENT_NAME": "gpt-4.1"
          },
          "image": "Sanitized"
        },
        "status": "creating",
        "instance_identity": {
          "principal_id": "94a1f5bc-1e0f-4b9e-b4b1-7501c62516ab",
          "client_id": "94a1f5bc-1e0f-4b9e-b4b1-7501c62516ab"
        },
        "blueprint": {
          "principal_id": "9a6a0c65-cdc2-44e9-a14d-543ed12e4941",
          "client_id": "a94b31da-211e-4b53-af6a-4184331f25b2"
        },
        "blueprint_reference": {
          "type": "ManagedAgentIdentityBlueprint",
          "blueprint_id": "cs-e2e-hosted2-01-960f1"
        },
        "agent_guid": "960f105c-ed04-4b15-a511-20aa53515bfe"
      }
    },
    {
      "RequestUri": "https://sanitized-host.services.ai.azure.com/api/projects/sanitized-project/agents/cs-e2e-hosted2-01/versions/2?api-version=v1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Foundry-Features": "MemoryStores=V1Preview,ContainerAgents=V1Preview,HostedAgents=V1Preview,WorkflowAgents=V1Preview,Evaluations=V1Preview,Schedules=V1Preview,RedTeams=V1Preview,Toolboxes=V1Preview,AgentEndpoints=V1Preview,Skills=V1Preview,I[...]
[...]
    {
      "RequestUri": "https://sanitized-host.services.ai.azure.com/api/projects/sanitized-project/agents/cs-e2e-hosted2-01/endpoint/sessions?api-version=v1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Foundry-Features": "MemoryStores=V1Preview,ContainerAgents=V1Preview,HostedAgents=V1Preview,WorkflowAgents=V1Preview,Evaluations=V1Preview,Schedules=V1Preview,RedTeams=V1Preview,Toolboxes=V1Preview,AgentEndpoints=V1Preview,Skills=V1Preview,Insights=V1Preview,DataGenerationJobs=V1Preview,CodeAgents=V1Preview,Models=V1Preview,AgentsOptimization=V1Preview,Routines=V1Preview,ExternalAgents=V1Preview"
      },
      "RequestBody": {
        "version_indicator": {
          "type": "version_ref",
          "agent_version": "2"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "1.0,2025-05-15-preview,2025-11-15-preview",
        "azureml-served-by-cluster": "hyena-westus2-01",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "West Central US",
        "x-ms-response-type": "standard"
      },
      "ResponseBody": {
        "agent_session_id": "627caba303cb41b500bJr3R3UplEKq3fLGRwDrmokmaNr8QnlT",
        "version_indicator": {
          "type": "version_ref",
          "agent_version": "2"
        },
        "status": "active",
        "created_at": 1779234160,
        "last_accessed_at": 1779234160,
        "expires_at": 1781826160
      }
    },
[...]
    {
      "RequestUri": "https://sanitized-host.services.ai.azure.com/api/projects/sanitized-project/agents/cs-e2e-hosted2-01/endpoint/sessions/627caba303cb41b500bJr3R3UplEKq3fLGRwDrmokmaNr8QnlT?api-version=v1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Foundry-Features": "MemoryStores=V1Preview,ContainerAgents=V1Preview,HostedAgents=V1Preview,WorkflowAgents=V1Preview,Evaluations=V1Preview,Schedules=V1Preview,RedTeams=V1Preview,Toolboxes=V1Preview,AgentEndpoints=V1Preview,Skills=V1Preview,Insights=V1Preview,DataGenerationJobs=V1Preview,CodeAgents=V1Preview,Models=V1Preview,AgentsOptimization=V1Preview,Routines=V1Preview,ExternalAgents=V1Preview"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "1.0,2025-05-15-preview,2025-11-15-preview",
        "azureml-served-by-cluster": "hyena-westus2-01",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "West Central US",
        "x-ms-response-type": "standard"
      },
      "ResponseBody": {
        "agent_session_id": "627caba303cb41b500bJr3R3UplEKq3fLGRwDrmokmaNr8QnlT",
        "version_indicator": {
          "type": "version_ref",
          "agent_version": "2"
        },
        "status": "active",
        "created_at": 1779234160,
        "last_accessed_at": 1779234160,
        "expires_at": 1781826160
      }
    },
    {
      "RequestUri": "https://sanitized-host.services.ai.azure.com/api/projects/sanitized-project/agents/cs-e2e-hosted2-01/endpoint/sessions?api-version=v1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Foundry-Features": "MemoryStores=V1Preview,ContainerAgents=V1Preview,HostedAgents=V1Preview,WorkflowAgents=V1Preview,Evaluations=V1Preview,Schedules=V1Preview,RedTeams=V1Preview,Toolboxes=V1Preview,AgentEndpoints=V1Preview,Skills=V1Preview,Insights=V1Preview,DataGenerationJobs=V1Preview,CodeAgents=V1Preview,Models=V1Preview,AgentsOptimization=V1Preview,Routines=V1Preview,ExternalAgents=V1Preview"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "1.0,2025-05-15-preview,2025-11-15-preview",
        "azureml-served-by-cluster": "hyena-westus2-01",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "West Central US",
        "x-ms-response-type": "standard"
      },
      "ResponseBody": {
        "data": [
          {
            "agent_session_id": "627caba303cb41b500bJr3R3UplEKq3fLGRwDrmokmaNr8QnlT",
            "version_indicator": {
              "type": "version_ref",
              "agent_version": "2"
            },
            "status": "active",
            "created_at": 1779234160,
            "last_accessed_at": 1779234160,
            "expires_at": 1781826160
          },
          {
            "agent_session_id": "9d4d2379e30bad9c003PfKgR1Ez9PKXBoV3o2Y8W3h9BicErzX",
            "version_indicator": {
              "type": "version_ref",
              "agent_version": "2"
            },
            "status": "active",
            "created_at": 1779234165,
            "last_accessed_at": 1779234165,
            "expires_at": 1781826165
          }
        ],
        "first_id": "627caba303cb41b500bJr3R3UplEKq3fLGRwDrmokmaNr8QnlT",
        "last_id": "9d4d2379e30bad9c003PfKgR1Ez9PKXBoV3o2Y8W3h9BicErzX",
        "has_more": false
      }
    },
[...]
    {
      "RequestUri": "https://sanitized-host.services.ai.azure.com/api/projects/sanitized-project/agents/cs-e2e-hosted2-01/endpoint/sessions/627caba303cb41b500bJr3R3UplEKq3fLGRwDrmokmaNr8QnlT?api-version=v1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Foundry-Features": "MemoryStores=V1Preview,ContainerAgents=V1Preview,HostedAgents=V1Preview,WorkflowAgents=V1Preview,Evaluations=V1Preview,Schedules=V1Preview,RedTeams=V1Preview,Toolboxes=V1Preview,AgentEndpoints=V1Preview,Skills=V1Preview,Insights=V1Preview,DataGenerationJobs=V1Preview,CodeAgents=V1Preview,Models=V1Preview,AgentsOptimization=V1Preview,Routines=V1Preview,ExternalAgents=V1Preview"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "api-supported-versions": "1.0,2025-05-15-preview,2025-11-15-preview",
        "azureml-served-by-cluster": "hyena-westus2-02",
        "Content-Type": "application/json; charset=utf-8",
        "x-agent-session-id": "627caba303cb41b500bJr3R3UplEKq3fLGRwDrmokmaNr8QnlT",
        "x-ms-region": "West Central US",
        "x-ms-response-type": "standard"
      },
      "ResponseBody": {
        "error": {
          "code": "session_not_found",
          "message": "Session '627caba303cb41b500bJr3R3UplEKq3fLGRwDrmokmaNr8QnlT' was not found or has been deleted. [Request ID: 029a62ff3b279a7de6607fbc6a9e3652]",
          "type": "invalid_request_error",
          "details": [],
          "additionalInfo": {
            "request_id": "029a62ff3b279a7de6607fbc6a9e3652"
          }
        }
      }
    },
[...]
    {
      "RequestUri": "https://sanitized-host.services.ai.azure.com/api/projects/sanitized-project/agents/cs-e2e-hosted2-01/endpoint/sessions/9d4d2379e30bad9c003PfKgR1Ez9PKXBoV3o2Y8W3h9BicErzX?api-version=v1",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Foundry-Features": "MemoryStores=V1Preview,ContainerAgents=V1Preview,HostedAgents=V1Preview,WorkflowAgents=V1Preview,Evaluations=V1Preview,Schedules=V1Preview,RedTeams=V1Preview,Toolboxes=V1Preview,AgentEndpoints=V1Preview,Skills=V1Preview,Insights=V1Preview,DataGenerationJobs=V1Preview,CodeAgents=V1Preview,Models=V1Preview,AgentsOptimization=V1Preview,Routines=V1Preview,ExternalAgents=V1Preview"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "1.0,2025-05-15-preview,2025-11-15-preview",
        "azureml-served-by-cluster": "hyena-westus2-02",
        "x-ms-region": "West Central US",
        "x-ms-response-type": "standard"
      },
      "ResponseBody": null
    },
[...]
