{
  "Entries": [
    {
      "RequestUri": "https://sanitized-host.services.ai.azure.com/api/projects/sanitized-project/skills?api-version=v1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Foundry-Features": "MemoryStores=V1Preview,ContainerAgents=V1Preview,HostedAgents=V1Preview,WorkflowAgents=V1Preview,Evaluations=V1Preview,Schedules=V1Preview,RedTeams=V1Preview,Toolboxes=V1Preview,AgentEndpoints=V1Preview,Skills=V1Preview,Insights=V1Preview,DataGenerationJobs=V1Preview,CodeAgents=V1Preview"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "1.0",
        "azureml-served-by-cluster": "hyena-northcentralus-02",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "North Central US",
        "x-ms-response-type": "standard"
      },
      "ResponseBody": {
        "data": [],
        "first_id": "",
        "last_id": "",
        "has_more": false,
        "object": "list"
      }
    },
    {
      "RequestUri": "https://sanitized-host.services.ai.azure.com/api/projects/sanitized-project/skills?api-version=v1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Foundry-Features": "MemoryStores=V1Preview,ContainerAgents=V1Preview,HostedAgents=V1Preview,WorkflowAgents=V1Preview,Evaluations=V1Preview,Schedules=V1Preview,RedTeams=V1Preview,Toolboxes=V1Preview,AgentEndpoints=V1Preview,Skills=V1Preview,Insights=V1Preview,DataGenerationJobs=V1Preview,CodeAgents=V1Preview"
      },
      "RequestBody": {
        "name": "test-skill_code",
        "description": "Calculates the sum of two numbers.",
        "instructions": "To calculate the sum run\n```bash\necho $((<first> + <second>))\n```\n```powershell\n(<first> + <second>)\n```\nReplace <first> and <second> by the actual summation arguments."
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "1.0",
        "azureml-served-by-cluster": "hyena-northcentralus-02",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://agents.northcentralus.hyena.infra.ai.azure.com/agents/v2.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sanitized-rg/providers/Microsoft.MachineLearningServices/workspaces/nirovins-north@nirovinsNorth@AML/skills/test-skill_code",
        "x-ms-region": "North Central US",
        "x-ms-response-type": "standard"
      },
      "ResponseBody": {
        "object": "skill",
        "skill_id": "skill_f7bc0d938f153ed000aBATFaAOi9Mx2LUx9IBBwnSYuCTRRIE1",
        "has_blob": false,
        "name": "test-skill_code",
        "description": "Calculates the sum of two numbers.",
        "metadata": {}
      }
    },
[...]
    {
      "RequestUri": "https://sanitized-host.services.ai.azure.com/api/projects/sanitized-project/skills/test-skill_code?api-version=v1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Foundry-Features": "MemoryStores=V1Preview,ContainerAgents=V1Preview,HostedAgents=V1Preview,WorkflowAgents=V1Preview,Evaluations=V1Preview,Schedules=V1Preview,RedTeams=V1Preview,Toolboxes=V1Preview,AgentEndpoi[...]
[...]
    {
      "RequestUri": "https://sanitized-host.services.ai.azure.com/api/projects/sanitized-project/skills?after=skill_f7bc0d938f153ed000aBATFaAOi9Mx2LUx9IBBwnSYuCTRRIE1&api-version=v1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Foundry-Features": "MemoryStores=V1Preview,ContainerAgents=V1Preview,HostedAgents=V1Preview,WorkflowAgents=V1Preview,Evaluations=V1Preview,Schedules=V1Preview,RedTeams=V1Preview,Toolboxes=V1Preview,AgentEndpoints=V1Preview,Skills=V1Preview,Insights=V1Preview,DataGenerationJobs=V1Preview,CodeAgents=V1Preview"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "1.0",
        "azureml-served-by-cluster": "hyena-northcentralus-02",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "North Central US",
        "x-ms-response-type": "standard"
      },
      "ResponseBody": {
        "data": [],
        "first_id": "",
        "last_id": "",
        "has_more": false,
        "object": "list"
      }
    },
    {
      "RequestUri": "https://sanitized-host.services.ai.azure.com/api/projects/sanitized-project/skills/test-skill_code?api-version=v1",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Foundry-Features": "MemoryStores=V1Preview,ContainerAgents=V1Preview,HostedAgents=V1Preview,WorkflowAgents=V1Preview,Evaluations=V1Preview,Schedules=V1Preview,RedTeams=V1Preview,Toolboxes=V1Preview,AgentEndpoints=V1Preview,Skills=V1Preview,Insights=V1Preview,DataGenerationJobs=V1Preview,CodeAgents=V1Preview"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "1.0",
        "azureml-served-by-cluster": "hyena-northcentralus-02",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "North Central US",
        "x-ms-response-type": "standard"
      },
      "ResponseBody": {
        "object": "skill.deleted",
        "name": "test-skill_code",
        "deleted": true
      }
    },
[...]
    {
      "RequestUri": "https://sanitized-host.services.ai.azure.com/api/projects/sanitized-project/skills?after=skill_fcd889efdb3e35ce001iVVzyhM0s3fjtyobL45BpMsghoXzgAr&api-version=v1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Foundry-Features": "MemoryStores=V1Preview,ContainerAgents=V1Preview,HostedAgents=V1Preview,WorkflowAgents=V1Preview,Evaluations=V1Preview,Schedules=V1Preview,RedTeams=V1Preview,Toolboxes=V1Preview,AgentEndpoints=V1Preview,Skills=V1Preview,Insights=V1Preview,DataGenerationJobs=V1Preview,CodeAgents=V1Preview"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "1.0",
        "azureml-served-by-cluster": "hyena-northcentralus-02",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "North Central US",
        "x-ms-response-type": "standard"
      },
      "ResponseBody": {
        "data": [],
        "first_id": "",
        "last_id": "",
        "has_more": false,
        "object": "list"
      }
    },
    {
      "RequestUri": "https://sanitized-host.services.ai.azure.com/api/projects/sanitized-project/skills/test-skill_code2?api-version=v1",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Foundry-Features": "MemoryStores=V1Preview,ContainerAgents=V1Preview,HostedAgents=V1Preview,WorkflowAgents=V1Preview,Evaluations=V1Preview,Schedules=V1Preview,RedTeams=V1Preview,Toolboxes=V1Preview,AgentEndpoints=V1Preview,Skills=V1Preview,Insights=V1Preview,DataGenerationJobs=V1Preview,CodeAgents=V1Preview"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "1.0",
        "azureml-served-by-cluster": "hyena-northcentralus-02",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "North Central US",
        "x-ms-response-type": "standard"
      },
      "ResponseBody": {
        "object": "skill.deleted",
        "name": "test-skill_code2",
        "deleted": true
      }
    },
    {
      "RequestUri": "https://sanitized-host.services.ai.azure.com/api/projects/sanitized-project/skills?api-version=v1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Foundry-Features": "MemoryStores=V1Preview,ContainerAgents=V1Preview,HostedAgents=V1Preview,WorkflowAgents=V1Preview,Evaluations=V1Preview,Schedules=V1Preview,RedTeams=V1Preview,Toolboxes=V1Preview,AgentEndpoints=V1Preview,Skills=V1Preview,Insights=V1Preview,DataGenerationJobs=V1Preview,CodeAgents=V1Preview"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "1.0",
        "azureml-served-by-cluster": "hyena-northcentralus-02",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "North Central US",
        "x-ms-response-type": "standard"
      },
      "ResponseBody": {
        "data": [],
        "first_id": "",
        "last_id": "",
        "has_more": false,
        "object": "list"
      }
    }
  ],
  "Variables": {
    "FOUNDRY_PROJECT_ENDPOINT": "https://sanitized-host.services.ai.azure.com/api/projects/sanitized-project"
  }
}
