{
  "Entries": [
    {
      "RequestUri": "https://fakeaccountname.blob.core.windows.net/container176764715263704605?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE4C9E3BCE5A87\"",
        "Last-Modified": "Mon, 05 Jan 2026 21:06:02 GMT",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeaccountname.blob.core.windows.net/container176764715263704605/blockblob0176764716249809506?comp=block&blockid=MQ%3D%3D",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": "SGVsbG8=",
      "StatusCode": 201,
      "ResponseHeaders": {
        "x-ms-content-crc64": "7YooR2vuA24=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakeaccountname.blob.core.windows.net/container176764715263704605?comp=list&restype=container&include=uncommittedblobs&delimiter=%2F",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://fakeaccountname.blob.core.windows.net/\" ContainerName=\"container176764715263704605\"><Delimiter>/</Delimiter><Blobs><Blob><Name>blockblob0176764716249809506</Name><Properties><Content-Length>0</Content-Length><BlobType>BlockBlob</BlobType><AccessTier>Hot</AccessTier><AccessTierInferred>true</AccessTierInferred><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>false</ServerEncrypted></Properties><OrMetadata /></Blob><Blob><Name>blockblob1176764716257906421</Name><Properties><Content-Length>0</Content-Length><BlobType>BlockBlob</BlobType><AccessTier>Hot</AccessTier><AccessTierInferred>true</AccessTierInferred><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>false</ServerEncrypted></Properties><OrMetadata /></Blob><Blob><Name>blockblob2176764716266404827</Name><Properties><Content-Length>0</Content-Length><BlobType>BlockBlob</BlobType><AccessTier>Hot</AccessTier><AccessTierInferred>true</AccessTierInferred><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>false</ServerEncrypted></Properties><OrMetadata /></Blob></Blobs><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://fakeaccountname.blob.core.windows.net/container176764715263704605/blockblob0176764716249809506",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-delete-type-permanent": "false",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakeaccountname.blob.core.windows.net/container176764715263704605?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "blockblob0": "blockblob0176764716249809506",
    "blockblob1": "blockblob1176764716257906421",
    "blockblob2": "blockblob2176764716266404827",
    "container": "container176764715263704605"
  }
}
