{
  "Entries": [
    {
      "RequestUri": "https://fakeaccountname.blob.core.windows.net/container177361829178001908?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE82ECDD012B20\"",
        "Last-Modified": "Sun, 15 Mar 2026 23:44:56 GMT",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeaccountname.blob.core.windows.net/container177361829178001908/prefix177361829625606633/blockblob1773618296256051940",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-meta-keya": "a",
        "x-ms-meta-keyb": "c",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "1B2M2Y8AsgTpgAmY7PhCfg==",
        "ETag": "\"0x8DE82ECDD0C4115\"",
        "Last-Modified": "Sun, 15 Mar 2026 23:44:56 GMT",
        "x-ms-content-crc64": "AAAAAAAAAAA=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06",
        "x-ms-version-id": "2026-03-15T23:44:56.5659647Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakeaccountname.blob.core.windows.net/container177361829178001908?comp=list&restype=container&include=metadata&delimiter=%2F",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://fakeaccountname.blob.core.windows.net/\" ContainerName=\"container177361829178001908\"><Delimiter>/</Delimiter><Blobs><BlobPrefix><Name>prefix177361829625606633/</Name></BlobPrefix></Blobs><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://fakeaccountname.blob.core.windows.net/container177361829178001908/prefix177361829625606633/blockblob1773618296256051940",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-delete-type-permanent": "false",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakeaccountname.blob.core.windows.net/container177361829178001908?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "blockblob": "blockblob177361829625605194",
    "container": "container177361829178001908",
    "prefix": "prefix177361829625606633"
  }
}
