{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/checkpoint-recording?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 17 May 2024 17:41:18 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 409,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ContainerAlreadyExists",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ContainerAlreadyExists</Code><Message>The specified container already exists.\n",
        "RequestId:9d7847f1-501e-0032-1281-a8e195000000\n",
        "Time:2024-05-17T17:41:19.2796920Z</Message></Error>"
      ]
    },
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/checkpoint-recording?comp=list&include=metadata&prefix=fully-qualified-namespace/event-hub-name/consumer-group/ownership/&restype=container",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 17 May 2024 17:41:19 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://blbt7d71a09db13a76aa.blob.core.windows.net/\" ContainerName=\"checkpoint-recording\"><Prefix>fully-qualified-namespace/event-hub-name/consumer-group/ownership/</Prefix><Blobs /><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/checkpoint-recording/ns.servicebus.windows.net/event-hub-name/$default/ownership/partition-id?comp=metadata",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 17 May 2024 17:41:19 GMT",
        "x-ms-meta-ownerid": "owner-id",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DC76988F7D9F56\"",
        "Last-Modified": "Fri, 17 May 2024 17:41:19 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/checkpoint-recording/ns.servicebus.windows.net/event-hub-name/$default/ownership/partition-id?comp=metadata",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "randomETAG",
        "x-ms-date": "Fri, 17 May 2024 17:41:19 GMT",
        "x-ms-meta-ownerid": "owner-id",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ConditionNotMet",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ConditionNotMet</Code><Message>The condition specified using HTTP conditional header(s) is not met.\n",
        "RequestId:9d784929-501e-0032-2d81-a8e195000000\n",
        "Time:2024-05-17T17:41:19.5465632Z</Message></Error>"
      ]
    },
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/checkpoint-recording/ns.servicebus.windows.net/event-hub-name/$default/ownership/partition-id?comp=metadata",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"0x8DC76988F7D9F56\"",
        "x-ms-date": "Fri, 17 May 2024 17:41:19 GMT",
        "x-ms-meta-ownerid": "owner-id",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DC76988FA4F84C\"",
        "Last-Modified": "Fri, 17 May 2024 17:41:19 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
