{
  "Entries": [
    {
      "RequestUri": "https://fakeaccountname.blob.core.windows.net/container177355563886805323?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE825AFC5987F3\"",
        "Last-Modified": "Sun, 15 Mar 2026 06:20:42 GMT",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeaccountname.blob.core.windows.net/container177355563886805323/blob177355564259404098",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-structured-content-length": "10",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": "ATEAAAAAAAAAAQABAAEACgAAAAAAAABIZWxsb1dvcmxk8R2aIe9T07HxHZoh71PTsQ==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "aOEJ8PQMpyoV4FzCJ4b45g==",
        "ETag": "\"0x8DE825AFC6526CA\"",
        "Last-Modified": "Sun, 15 Mar 2026 06:20:42 GMT",
        "x-ms-content-crc64": "8R2aIe9T07E=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-structured-body": "XSM/1.0; properties=crc64",
        "x-ms-version": "2026-04-06",
        "x-ms-version-id": "2026-03-15T06:20:42.6344138Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeaccountname.blob.core.windows.net/container177355563886805323/blob177355564259404098",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "aOEJ8PQMpyoV4FzCJ4b45g==",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DE825AFC6526CA\"",
        "Last-Modified": "Sun, 15 Mar 2026 06:20:42 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Sun, 15 Mar 2026 06:20:42 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Sun, 15 Mar 2026 06:20:42 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2026-04-06",
        "x-ms-version-id": "2026-03-15T06:20:42.6344138Z"
      },
      "ResponseBody": "SGVsbG9Xb3JsZA=="
    },
    {
      "RequestUri": "https://fakeaccountname.blob.core.windows.net/container177355563886805323?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "blob": "blob177355564259404098",
    "container": "container177355563886805323"
  }
}
