{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.geocatalogs.azure.com/data/tile-matrix-sets?api-version=2026-04-15",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json"
      },
      "ResponseBody": "[\"CDB1GlobalGrid\",\"CanadianNAD83_LCC\",\"EuropeanETRS89_LAEAQuad\",\"GNOSISGlobalGrid\",\"LINZAntarticaMapTilegrid\",\"NZTM2000Quad\",\"UPSAntarcticWGS84Quad\",\"UPSArcticWGS84Quad\",\"UTM31WGS84Quad\",\"WGS1984Quad\",\"WebMercatorQuad\",\"WorldCRS84Quad\",\"WorldMercatorWGS84Quad\"]"
    }
  ],
  "Variables": {}
}
