{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/providers/Microsoft.CodeSigning/operations?api-version=2024-02-05-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-tenant-reads": "11997"
      },
      "ResponseBody": {
        "value": [
          {
            "name": "Microsoft.CodeSigning/codeSigningAccounts/Read",
            "isDataAction": false,
            "display": {
              "provider": "Microsoft.CodeSigning",
              "resource": "CodeSigningAccounts",
              "operation": "Reads Trusted Signing Accounts",
              "description": "Reads trusted signing accounts."
            }
          },
          {
            "name": "Microsoft.CodeSigning/codeSigningAccounts/Write",
            "isDataAction": false,
            "display": {
              "provider": "Microsoft.CodeSigning",
              "resource": "CodeSigningAccounts",
              "operation": "Creates/Updates Trusted Signing Accounts",
              "description": "Creates or updates trusted signing account."
            }
          },
          {
          [...]
