{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.CodeSigning/codeSigningAccounts?api-version=2024-02-05-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-reads": "11999"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.CodeSigning/codeSigningAccounts/resourcetest",
            "name": "resourcetest",
            "type": "microsoft.codesigning/codesigningaccounts",
            "location": "eastus",
            "systemData": {
              "createdBy": "Sanitized",
              "createdByType": "User",
              "createdAt": "2024-09-29T06:53:55.975516Z",
              "lastModifiedBy": "Sanitized",
              "lastModifiedByType": "User",
              "lastModifiedAt": "2024-09-29T06:53:55.975516Z"
            },
            "properties": {
              "sku": {
                "name": "Basic"
              },
              "provisioningState": "Succeeded",
              "accountUri": "https://eus.codesigning.azure.net/"
            }
          }
        ]
      }
    }
  ],
  "Variables": {}
}
