{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.servicebus.windows.net/$schemaGroups/fakegroup/schemas/test-schema:get-id?api-version=2023-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json; serialization=Avro"
      },
      "RequestBody": null,
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-error-code": "InvalidRequest"
      },
      "ResponseBody": {
        "error": {
          "code": "InvalidRequest",
          "message": "Error when consuming request body: The body of the message cannot be read because it is empty. TrackingId:f2f137b9-9ce3-4a06-bfad-5b59bea69a53_G29, SystemTracker:fake_resource_avro.servicebus.windows.net:$schemaGroups/fakegroup/schemas/test-schema:get-id, Timestamp:2025-01-13T23:39:48"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.servicebus.windows.net/$schemaGroups/fakegroup/schemas/test-schema:get-id?api-version=2023-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json; serialization=Invalid-format"
      },
      "RequestBody": {
        "namespace": "example.avro",
        "type": "record",
        "name": "User",
        "fields": [
          {
            "name": "name",
            "type": "string"
          },
          {
            "name": "favorite_number",
            "type": [
              "int",
              "null"
            ]
          },
          {
            "name": "favorite_color",
            "type": [
              "string",
              "null"
            ]
          }
        ]
      },
      "StatusCode": 415,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-error-code": "InvalidSchemaType"
      },
      "ResponseBody": {
        "error": {
          "code": "InvalidSchemaType",
          "message": "Invalid schema type for POST request. 'invalid-format' is not supported. TrackingId:98802278-3ddc-453d-ae87-7cb17677a86e_G29, SystemTracker:fake_resource_avro.servicebus.windows.net:$schemaGroups/fakegroup/schemas/test-schema:get-id, Timestamp:2025-01-13T23:39:48"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.servicebus.windows.net/$schemaGroups/fakegroup/schemas/never-registered:get-id?api-version=2023-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json; serialization=Avro"
      },
      "RequestBody": {
        "namespace": "example.avro",
        "type": "record",
        "name": "User",
        "fields": [
          {
            "name": "name",
            "type": "string"
          },
          {
            "name": "favorite_number",
            "type": [
              "int",
              "null"
            ]
          },
          {
            "name": "favorite_color",
            "type": [
              "string",
              "null"
            ]
          }
        ]
      },
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-error-code": "ItemNotFound"
      },
      "ResponseBody": {
        "error": {
          "code": "ItemNotFound",
          "message": "Schema fakegroup/never-registered does not exist. TrackingId:6da0e671-159c-4f66-8e48-94b9e750e69f_G29, SystemTracker:fake_resource_avro.servicebus.windows.net:$schemaGroups/fakegroup/schemas/never-registered:get-id, Timestamp:2025-01-13T23:39:49"
        }
      }
    }
  ],
  "Variables": {}
}
