{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.servicebus.windows.net/$schemaGroups/fakegroup/schemas/test-schema-negative-version-custom49b638fe?api-version=2022-10",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "text/plain; charset=utf-8"
      },
      "RequestBody": "My favorite color is yellow.",
      "StatusCode": 204,
      "ResponseHeaders": {
        "Location": "https://example.com",
        "Schema-Group-Name": "fakegroup",
        "Schema-Id": "9cee572964ff4ba0acf6b1ac3ded88d9",
        "Schema-Id-Location": "https://fake_resource_custom.servicebus.windows.net:443/$schemagroups/$schemas/9cee572964ff4ba0acf6b1ac3ded88d9?api-version=2022-10",
        "Schema-Name": "test-schema-negative-version-custom49b638fe",
        "Schema-Version": "1",
        "Schema-Versions-Location": "https://fake_resource_custom.servicebus.windows.net:443/$schemagroups/fakegroup/schemas/test-schema-negative-version-custom49b638fe/versions?api-version=2022-10"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.servicebus.windows.net/$schemaGroups/fakegroup/schemas/test-schema-negative-version-custom49b638fe/versions/2?api-version=2022-10",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-error-code": "ItemNotFound"
      },
      "ResponseBody": {
        "error": {
          "code": "ItemNotFound",
          "message": "Schema fakegroup/test-schema-negative-version-custom49b638fe/ver.2 does not exist. TrackingId:d8ef6fd5-359b-4367-a121-2002b8f506f0_G25, SystemTracker:fake_resource_custom.servicebus.windows.net:$schemaGroups/fakegroup/schemas/test-schema-negative-version-custom49b638fe/versions/2, Timestamp:2024-07-11T12:48:40"
        }
      }
    }
  ],
  "Variables": {}
}
