{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.servicebus.windows.net/$schemaGroups/fakegroup/schemas/test-schema-basic-customdf06303c?api-version=2022-10",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "text/plain; charset=utf-8"
      },
      "RequestBody": "My favorite color is yellow.",
      "StatusCode": 204,
      "ResponseHeaders": {
        "Location": "https://example.com",
        "Schema-Group-Name": "fakegroup",
        "Schema-Id": "2e67a52d610e41168967e9b6823fd29e",
        "Schema-Id-Location": "https://fake_resource_custom.servicebus.windows.net:443/$schemagroups/$schemas/2e67a52d610e41168967e9b6823fd29e?api-version=2022-10",
        "Schema-Name": "test-schema-basic-customdf06303c",
        "Schema-Version": "1",
        "Schema-Versions-Location": "https://fake_resource_custom.servicebus.windows.net:443/$schemagroups/fakegroup/schemas/test-schema-basic-customdf06303c/versions?api-version=2022-10"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.servicebus.windows.net/$schemaGroups/$schemas/2e67a52d610e41168967e9b6823fd29e?api-version=2022-10",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "text/plain; charset=utf-8",
        "Location": "https://example.com",
        "Schema-Group-Name": "fakegroup",
        "Schema-Id": "2e67a52d610e41168967e9b6823fd29e",
        "Schema-Id-Location": "https://fake_resource_custom.servicebus.windows.net:443/$schemagroups/$schemas/2e67a52d610e41168967e9b6823fd29e?api-version=2022-10",
        "Schema-Name": "test-schema-basic-customdf06303c",
        "Schema-Version": "1",
        "Schema-Versions-Location": "https://fake_resource_custom.servicebus.windows.net:443/$schemagroups/fakegroup/schemas/test-schema-basic-customdf06303c/versions?api-version=2022-10"
      },
      "ResponseBody": "My favorite color is yellow."
    },
    {
      "RequestUri": "https://Sanitized.servicebus.windows.net/$schemaGroups/fakegroup/schemas/test-schema-basic-customdf06303c/versions/1?api-version=2022-10",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "text/plain; charset=utf-8",
        "Location": "https://example.com",
        "Schema-Group-Name": "fakegroup",
        "Schema-Id": "2e67a52d610e41168967e9b6823fd29e",
        "Schema-Id-Location": "https://fake_resource_custom.servicebus.windows.net:443/$schemagroups/$schemas/2e67a52d610e41168967e9b6823fd29e?api-version=2022-10",
        "Schema-Name": "test-schema-basic-customdf06303c",
        "Schema-Version": "1",
        "Schema-Versions-Location": "https://fake_resource_custom.servicebus.windows.net:443/$schemagroups/fakegroup/schemas/test-schema-basic-customdf06303c/versions?api-version=2022-10"
      },
      "ResponseBody": "My favorite color is yellow."
    },
    {
      "RequestUri": "https://Sanitized.servicebus.windows.net/$schemaGroups/fakegroup/schemas/test-schema-basic-customdf06303c:get-id?api-version=2022-10",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "text/plain; charset=utf-8"
      },
      "RequestBody": "My favorite color is yellow.",
      "StatusCode": 204,
      "ResponseHeaders": {
        "Location": "https://example.com",
        "Schema-Group-Name": "fakegroup",
        "Schema-Id": "2e67a52d610e41168967e9b6823fd29e",
        "Schema-Id-Location": "https://fake_resource_custom.servicebus.windows.net:443/$schemagroups/$schemas/2e67a52d610e41168967e9b6823fd29e?api-version=2022-10",
        "Schema-Name": "test-schema-basic-customdf06303c",
        "Schema-Version": "1",
        "Schema-Versions-Location": "https://fake_resource_custom.servicebus.windows.net:443/$schemagroups/fakegroup/schemas/test-schema-basic-customdf06303c/versions?api-version=2022-10"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
