{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.microsoftonline.com/fake/v2.0/.well-known/openid-configuration",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-srs": "1.P"
      },
      "ResponseBody": {
        "error": "invalid_tenant",
        "error_description": "AADSTS90002: Tenant 'fake' not found. Check to make sure you have the correct tenant ID and are signing into the correct cloud. Check with your subscription administrator, this may happen if there are no active subscriptions for the tenant. Trace ID: 96c7e17f-9d45-484d-ac6f-699deb632400 Correlation ID: 3d12d7f6-041e-40fe-8c3b-9a7055b9a32e Timestamp: 2024-07-11 12:47:56Z",
        "error_codes": [
          90002
        ],
        "timestamp": "2024-07-11 12:47:56Z",
        "trace_id": "96c7e17f-9d45-484d-ac6f-699deb632400",
        "correlation_id": "3d12d7f6-041e-40fe-8c3b-9a7055b9a32e",
        "error_uri": "https://login.microsoftonline.com/error?code=90002"
      }
    }
  ],
  "Variables": {}
}
