{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.servicebus.windows.net/$schemaGroups/fakegroup/schemas/test-schema-twice-json7629317a?api-version=2023-07-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json; serialization=Json"
      },
      "RequestBody": {
        "$id": "https://example.com/person.schema.json",
        "$schema": "https://json-schema.org/draft/2020-12/schema",
        "title": "User",
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Name"
          },
          "favoriteNumber": {
            "type": "integer",
            "description": "Favorite positive number",
            "minimum": 0
          },
          "favoriteColor": {
            "description": "Favorite color",
            "type": "string"
          }
        }
      },
      "StatusCode": 204,
      "ResponseHeaders": {
        "Location": "https://example.com",
        "Schema-Group-Name": "fakegroup",
        "Schema-Id": "d163b8c3dc4f4a7e9678bb8577cf8e6a",
        "Schema-Id-Location": "https://fake_resource_json.servicebus.windows.net:443/$schemagroups/$schemas/d163b8c3dc4f4a7e9678bb8577cf8e6a?api-version=2023-07-01",
        "Schema-Name": "test-schema-twice-json7629317a",
        "Schema-Version": "1",
        "Schema-Versions-Location": "https://fake_resource_json.servicebus.windows.net:443/$schemagroups/fakegroup/schemas/test-schema-twice-json7629317a/versions?api-version=2023-07-01"
      },
      "ResponseBody": null
    },
[...]
