{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.servicebus.windows.net/$schemaGroups/fakegroup/schemas/test-schema-update-custom129030bd?api-version=2022-10",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "text/plain; charset=utf-8"
      },
      "RequestBody": "My favorite color is yellow.",
      "StatusCode": 204,
      "ResponseHeaders": {
        "Location": "https://example.com",
        "Schema-Group-Name": "fakegroup",
        "Schema-Id": "dc48fafa9d284908bed97ac1fcedd7d4",
        "Schema-Id-Location": "https://fake_resource_custom.servicebus.windows.net:443/$schemagroups/$schemas/dc48fafa9d284908bed97ac1fcedd7d4?api-version=2022-10",
        "Schema-Name": "test-schema-update-custom129030bd",
        "Schema-Version": "1",
        "Schema-Versions-Location": "https://fake_resource_custom.servicebus.windows.net:443/$schemagroups/fakegroup/schemas/test-schema-update-custom129030bd/versions?api-version=2022-10"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://Sanitized.servicebus.windows.net/$schemaGroups/$schemas/1634d26bfa684912b5830022ca412136?api-version=2022-10",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "text/plain; charset=utf-8",
        "Location": "https://example.com",
        "Schema-Group-Name": "fakegroup",
        "Schema-Id": "1634d26bfa684912b5830022ca412136",
        "Schema-Id-Location": "https://fake_resource_custom.servicebus.windows.net:443/$schemagroups/$schemas/1634d26bfa684912b5830022ca412136?api-version=2022-10",
        "Schema-Name": "test-schema-update-custom129030bd",
        "Schema-Version": "2",
        "Schema-Versions-Location": "https://fake_resource_custom.servicebus.windows.net:443/$schemagroups/fakegroup/schemas/test-schema-update-custom129030bd/versions?api-version=2022-10"
      },
      "ResponseBody": "My favorite food is yellow."
    },
    {
      "RequestUri": "https://Sanitized.servicebus.windows.net/$schemaGroups/fakegroup/schemas/test-schema-update-custom129030bd/versions/1?api-version=2022-10",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "text/plain; charset=utf-8",
        "Location": "https://example.com",
        "Schema-Group-Name": "fakegroup",
        "Schema-Id": "dc48fafa9d284908bed97ac1fcedd7d4",
        "Schema-Id-Location": "https://fake_resource_custom.servicebus.windows.net:443/$schemagroups/$schemas/dc48fafa9d284908bed97ac1fcedd7d4?api-version=2022-10",
        "Schema-Name": "test-schema-update-custom129030bd",
        "Schema-Version": "1",
        "Schema-Versions-Location": "https://fake_resource_custom.servicebus.windows.net:443/$schemagroups/fakegroup/schemas/test-schema-update-custom129030bd/versions?api-version=2022-10"
      },
      "ResponseBody": "My favorite color is yellow."
    }
  ],
  "Variables": {}
}
