{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.microsoftonline.com/fake/v2.0/.well-known/openid-configuration",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-srs": "1.P"
      },
      "ResponseBody": {
        "error": "invalid_tenant",
        "error_description": "AADSTS90002: Tenant 'fake' not found. Check to make sure you have the correct tenant ID and are signing into the correct cloud. Check with your subscription administrator, this may happen if there are no active subscriptions for the tenant. Trace ID: 7a672b93-5af8-443a-9ac8-76d758fb2201 Correlation ID: f3f510e2-f4b0-4f6d-b7f7-ac2f840adf05 Timestamp: 2024-07-26 21:59:06Z",
        "error_codes": [
          90002
        ],
        "timestamp": "2024-07-26 21:59:06Z",
        "trace_id": "7a672b93-5af8-443a-9ac8-76d758fb2201",
        "correlation_id": "f3f510e2-f4b0-4f6d-b7f7-ac2f840adf05",
        "error_uri": "https://login.microsoftonline.com/error?code=90002"
      }
    }
  ],
  "Variables": {}
}
