{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.microsoftonline.com/fake/v2.0/.well-known/openid-configuration",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-srs": "1.P"
      },
      "ResponseBody": {
        "error": "invalid_tenant",
        "error_description": "AADSTS90002: Tenant 'fake' not found. Check to make sure you have the correct tenant ID and are signing into the correct cloud. Check with your subscription administrator, this may happen if there are no active subscriptions for the tenant. Trace ID: 307f2d82-9d53-42c9-818c-2e3c7f3d9500 Correlation ID: ae8cb150-9230-409e-a9dd-c70d875b0f56 Timestamp: 2025-01-13 23:39:08Z",
        "error_codes": [
          90002
        ],
        "timestamp": "2025-01-13 23:39:08Z",
        "trace_id": "307f2d82-9d53-42c9-818c-2e3c7f3d9500",
        "correlation_id": "ae8cb150-9230-409e-a9dd-c70d875b0f56",
        "error_uri": "https://login.microsoftonline.com/error?code=90002"
      }
    }
  ],
  "Variables": {}
}
