{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.servicebus.windows.net/$schemaGroups/$schemas/fakeschemaid?api-version=2022-10",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-error-code": "InvalidRequest"
      },
      "ResponseBody": {
        "error": {
          "code": "InvalidRequest",
          "message": "SubCode=40000, UnknownType:The request is invalid. [MGResponseHttpError=BadRequest]. TrackingId:a18e64a4-cfba-4a30-a075-4e7b8b8d44c6_G21, SystemTracker:fake_resource_json.servicebus.windows.net:$schemaGroups/$schemas/fakeschemaid, Timestamp:2024-07-26T22:00:09"
        }
      }
    }
  ],
  "Variables": {}
}
