{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.servicebus.windows.net/$schemaGroups/fakegroup/schemas/test-schema-update-jsonaf482fdc?api-version=2022-10",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json; serialization=Json"
      },
      "RequestBody": {
        "$id": "https://example.com/person.schema.json",
        "$schema": "https://json-schema.org/draft/2020-12/schema",
        "title": "User",
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Name"
          },
          "favoriteNumber": {
            "type": "integer",
            "description": "Favorite positive number",
            "minimum": 0
          },
          "favoriteColor": {
            "description": "Favorite color",
            "type": "string"
          }
        }
      },
      "StatusCode": 204,
      "ResponseHeaders": {
        "Location": "https://example.com",
        "Schema-Group-Name": "fakegroup",
        "Schema-Id": "81dd5e84c8584673b8bb370591d13007",
        "Schema-Id-Location": "https://fake_resource_json.servicebus.windows.net:443/$schemagroups/$schemas/81dd5e84c8584673b8bb370591d13007?api-version=2022-10",
        "Schema-Name": "test-schema-update-jsonaf482fdc",
        "Schema-Version": "1",
        "Schema-Versions-Location": "https://fake_resource_json.servicebus.windows.net:443/$schemagroups/fakegroup/schemas/test-schema-update-jsonaf482fdc/versions?api-version=2022-10"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.servicebus.windows.net/$schemaGroups/fakegroup/schemas/test-schema-update-jsonaf482fdc?api-version=2022-10",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json; serialization=Json"
      },
      "RequestBody": {
        "$id": "https://example.com/person.schema.json",
        "$schema": "https://json-schema.org/draft/2020-12/schema",
        "title": "User",
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Name"
          },
          "favoriteNumber": {
            "type": "integer",
            "description": "Favorite positive number",
            "minimum": 0
          },
          "favoriteFood": {
            "description": "Favorite food",
            "type": "string"
          }
        }
      },
      "StatusCode": 204,
      "ResponseHeaders": {
        "Location": "https://example.com",
        "Schema-Group-Name": "fakegroup",
        "Schema-Id": "6a4af3e4c0034c52acbfe4669bfa6966",
        "Schema-Id-Location": "https://fake_resource_json.servicebus.windows.net:443/$schemagroups/$schemas/6a4af3e4c0034c52acbfe4669bfa6966?api-version=2022-10",
        "Schema-Name": "test-schema-update-jsonaf482fdc",
        "Schema-Version": "2",
        "Schema-Versions-Location": "https://fake_resource_json.servicebus.windows.net:443/$schemagroups/fakegroup/schemas/test-schema-update-jsonaf482fdc/versions?api-version=2022-10"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.servicebus.windows.net/$schemaGroups/$schemas/6a4af3e4c0034c52acbfe4669bfa6966?api-version=2022-10",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; serialization=Json",
        "Location": "https://example.com",
        "Schema-Group-Name": "fakegroup",
        "Schema-Id": "6a4af3e4c0034c52acbfe4669bfa6966",
    [...]
    {
      "RequestUri": "https://Sanitized.servicebus.windows.net/$schemaGroups/fakegroup/schemas/test-schema-update-jsonaf482fdc/versions/1?api-version=2022-10",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; serialization=Json",
        "Location": "https://example.com",
        "Schema-Group-Name": "fakegroup",
        "Schema-Id": "81dd5e84c8584673b8bb[...]
