{
  "Entries": [
    {
      "RequestUri": "https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47/v2.0/.well-known/openid-configuration",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "token_endpoint": "https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47/oauth2/v2.0/token",
        "token_endpoint_auth_methods_supported": [
          "client_secret_post",
          "private_key_jwt",
          "client_secret_basic"
        ],
        "jwks_uri": "https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47/discovery/v2.0/keys",
        "response_modes_supported": [
          "query",
          "fragment",
          "form_post"
        ],
        "subject_types_supported": [
          "pairwise"
        ],
        "id_token_signing_alg_values_supported": [
          "RS256"
        ],
        "response_types_supported": [
          "code",
          "id_token",
          "code id_token",
          "id_token token"
        ],
        "scopes_supported": [
          "openid",
          "profile",
          "email",
          "offline_access"
        ],
        "issuer": "https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47/v2.0",
        "request_uri_parameter_supported": false,
        "userinfo_endpoint": "https://graph.microsoft.com/oidc/userinfo",
        "authorization_endpoint": "https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47/oauth2/v2.0/authorize",
        "device_authorization_endpoint": "https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47/oauth2/v2.0/devicecode",
        "http_logout_supported": true,
        "frontchannel_logout_supported": true,
        "end_session_endpoint": "https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47/oauth2/v2.0/logout",
        "claims_supported": [
          "sub",
          "iss",
          "cloud_instance_name",
          "cloud_instance_host_name",
          "cloud_graph_host_name",
          "msgraph_host",
          "aud",
          "exp",
          "iat",
          "auth_time",
          "acr",
          "nonce",
          "preferred_username",
          "name",
          "tid",
          "ver",
          "at_hash",
          "c_hash",
          "email"
        ],
        "kerberos_endpoint": "https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47/kerberos",
        "tenant_region_scope": "WW",
        "cloud_instance_name": "microsoftonline.com",
        "cloud_graph_host_name": "graph.windows.net",
        "msgraph_host": "graph.microsoft.com",
        "rbac_url": "https://pas.windows.net"
      }
    },
    {
      "RequestUri": "https://fake_resource_protobuf.servicebus.windows.net/$schemaGroups/fakegroup/schemas/test-schema-twice-protobuf44a93331?api-version=2023-07-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "text/vnd.ms.protobuf"
      },
      "RequestBody": [
        "syntax = \u0022proto3\u0022;\n\n",
        "package person.example;\n\n",
        "message Person {\n",
        "    string name = 1;\n",
        "    int64 favorite_number = 2;\n",
        "    string favorite_color = 3;\n",
        "}\n"
      ],
      "StatusCode": 204,
      "ResponseHeaders": {
        "Location": "https://fake_resource_protobuf.servicebus.windows.net/$schemagroups/fakegroup/schemas/test-schema-twice-protobuf44a93331/versions/1?api-version=2023-07-01",
        "Schema-Group-Name": "fakegroup",
        "Schema-Id": "b3f4d2833efb4c12bc4e63d9fde9e07c",
        "Schema-Id-Location": "https://fake_resource_protobuf.servicebus.windows.net:443/$schemagroups/$schemas/b3f4d2833efb4c12bc4e63d9fde9e07c?api-version=2023-07-01",
        "Schema-Name": "test-schema-twice-protobuf44a93331",
        "Schema-Version": "1",
        "Schema-Versions-Location": "https://fake_resource_protobuf.servicebus.windows.net:443/$schemagroups/fakegroup/schemas/test-schema-twice-protobuf44a93331/versions?api-version=2023-07-01"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fake_resource_protobuf.servicebus.windows.net/$schemaGroups/fakegroup/schemas/test-schema-twice-protobuf44a93331?api-version=2023-07-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "text/vnd.ms.protobuf"
      },
      "RequestBody": [
        "syntax = \u0022proto3\u0022;\n\n",
        "package person.example;\n\n",
        "message Person {\n",
        "    string name = 1;\n",
        "    int64 favorite_number = 2;\n",
        "    string favorite_color = 3;\n",
        "}\n"
      ],
      "StatusCode": 204,
      "ResponseHeaders": {
        "Location": "https://fake_resource_protobuf.servicebus.windows.net/$schemagroups/fakegroup/schemas/test-schema-twice-protobuf44a93331/versions/1?api-version=2023-07-01",
        "Schema-Group-Name": "fakegroup",
        "Schema-Id": "b3f4d2833efb4c12bc4e63d9fde9e07c",
        "Schema-Id-Location": "https://fake_resource_protobuf.servicebus.windows.net:443/$schemagroups/$schemas/b3f4d2833efb4c12bc4e63d9fde9e07c?api-version=2023-07-01",
        "Schema-Name": "test-schema-twice-protobuf44a93331",
        "Schema-Version": "1",
        "Schema-Versions-Location": "https://fake_resource_protobuf.servicebus.windows.net:443/$schemagroups/fakegroup/schemas/test-schema-twice-protobuf44a93331/versions?api-version=2023-07-01"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
