{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.servicebus.windows.net/$schemaGroups/fakegroup/schemas/test-schema-twice-customdc9e325b?api-version=2023-07-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "text/plain; charset=utf-8"
      },
      "RequestBody": "My favorite color is yellow.",
      "StatusCode": 204,
      "ResponseHeaders": {
        "Location": "https://example.com",
        "Schema-Group-Name": "fakegroup",
        "Schema-Id": "2443cf8a68fb464e8ca1a78621aa4058",
        "Schema-Id-Location": "https://fake_resource_custom.servicebus.windows.net:443/$schemagroups/$schemas/2443cf8a68fb464e8ca1a78621aa4058?api-version=2023-07-01",
        "Schema-Name": "test-schema-twice-customdc9e325b",
        "Schema-Version": "1",
        "Schema-Versions-Location": "https://fake_resource_custom.servicebus.windows.net:443/$schemagroups/fakegroup/schemas/test-schema-twice-customdc9e325b/versions?api-version=2023-07-01"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.servicebus.windows.net/$schemaGroups/fakegroup/schemas/test-schema-twice-customdc9e325b?api-version=2023-07-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "text/plain; charset=utf-8"
      },
      "RequestBody": "My favorite color is yellow.",
      "StatusCode": 204,
      "ResponseHeaders": {
        "Location": "https://example.com",
        "Schema-Group-Name": "fakegroup",
        "Schema-Id": "2443cf8a68fb464e8ca1a78621aa4058",
        "Schema-Id-Location": "https://fake_resource_custom.servicebus.windows.net:443/$schemagroups/$schemas/2443cf8a68fb464e8ca1a78621aa4058?api-version=2023-07-01",
        "Schema-Name": "test-schema-twice-customdc9e325b",
        "Schema-Version": "1",
        "Schema-Versions-Location": "https://fake_resource_custom.servicebus.windows.net:443/$schemagroups/fakegroup/schemas/test-schema-twice-customdc9e325b/versions?api-version=2023-07-01"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
