{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/prebackup?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/prebackup?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "storageResourceUri": "https://uri.blob.core.windows.net/uri",
        "useManagedIdentity": true
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "api-supported-versions": "20180927, 20211111",
        "azure-asyncoperation": "https://azure_managedhsm.managedhsm.azure.net/backup/0ad9b1edd1ce4a86a1de694fb78d65ad/pending",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "aa814d10-c3a5-49be-85f8-d0b540559a2e",
        "Retry-After": "10",
        "x-ms-server-latency": "183"
      },
      "ResponseBody": {
        "status": "InProgress",
        "statusDetails": null,
        "error": null,
        "startTime": 1778675930,
        "endTime": null,
        "jobId": "0ad9b1edd1ce4a86a1de694fb78d65ad",
        "azureStorageBlobContainerUri": null
      }
    },
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/backup/0ad9b1edd1ce4a86a1de694fb78d65ad/pending?api-version=7.6",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "20180927, 20211111",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "1bc71d52-8ce5-4b06-8680-c75c7a6d526c",
        "x-ms-build-version": "1.0.20260320-2-76f00f12-develop",
        "x-ms-server-latency": "86"
      },
      "ResponseBody": {
        "azureStorageBlobContainerUri": null,
        "endTime": 1778675930,
        "error": null,
        "jobId": "0ad9b1edd1ce4a86a1de694fb78d65ad",
        "startTime": 1778675930,
        "status": "Succeeded",
        "statusDetails": null
      }
    }
  ],
  "Variables": {
    "suffix": "suffix-696163"
  }
}
