{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.api.azureml.ms/agents/v1.0/subscriptions/azure_subscription_id/resourceGroups/resource_group/providers/Microsoft.MachineLearningServices/workspaces/project/threads?api-version=2024-07-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json; charset=UTF-8"
      },
      "RequestBody": {},
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-aml-cluster": "vienna-eastus2euap-01",
        "x-ms-middleware-request-id": "fa17a85c-fabc-49b3-9b4b-cc1877436c29",
        "x-ms-region": "West US 2",
        "x-ms-response-type": "standard",
        "x-request-time": "0.819"
      },
      "ResponseBody": {
        "id": "Sanitized",
        "object": "thread",
        "created_at": 1731955176,
        "metadata": {},
        "tool_resources": {}
      }
    },
    {
      "RequestUri": "https://Sanitized.api.azureml.ms/agents/v1.0/subscriptions/azure_subscription_id/resourceGroups/resource_group/providers/Microsoft.MachineLearningServices/workspaces/project/threads/thread_Nj9QdJ4WKvrG4htFhsrArT4g/messages?api-version=2024-07-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json; charset=UTF-8"
      },
      "RequestBody": {
        "role": "user",
        "content": "hello, world!"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-aml-cluster": "vienna-eastus2euap-01",
        "x-ms-middleware-request-id": "b7aac750-79de-4a11-83c9-781747632ccd",
        "x-ms-region": "West US 2",
        "x-ms-response-type": "standard",
        "x-request-time": "0.317"
      },
      "ResponseBody": {
        "id": "Sanitized",
        "object": "thread.message",
        "created_at": 1731955177,
        "assistant_id": null,
        "thread_id": "thread_Nj9QdJ4WKvrG4htFhsrArT4g",
        "run_id": null,
        "role": "user",
        "content": [
          {
            "type": "text",
            "text": {
              "value": "hello, world!",
              "annotations": []
            }
          }
        ],
        "attachments": [],
        "metadata": {}
      }
    },
    {
      "RequestUri": "https://Sanitized.api.azureml.ms/agents/v1.0/subscriptions/azure_subscription_id/resourceGroups/resource_group/providers/Microsoft.MachineLearningServices/workspaces/project/threads/thread_Nj9QdJ4WKvrG4htFhsrArT4g?api-version=2024-07-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-aml-cluster": "vienna-eastus2euap-01",
        "x-ms-middleware-request-id": "a9143507-a1a7-4a1b-b387-63e3f76e7aa9",
        "x-ms-region": "West US 2",
        "x-ms-response-type": "standard",
        "x-request-time": "0.234"
      },
      "ResponseBody": {
        "id": "Sanitized",
        "object": "thread.deleted",
        "deleted": true
      }
    }
  ],
  "Variables": {}
}
