{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.api.azureml.ms/agents/v1.0/subscriptions/azure_subscription_id/resourceGroups/resource_group/providers/Microsoft.MachineLearningServices/workspaces/project/threads?api-version=2024-07-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json; charset=UTF-8"
      },
      "RequestBody": {},
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-aml-cluster": "vienna-eastus2euap-01",
        "x-ms-middleware-request-id": "630c1911-02e7-4e67-bb28-c2715b47b171",
        "x-ms-region": "West US 2",
        "x-ms-response-type": "standard",
        "x-request-time": "1.272"
      },
      "ResponseBody": {
        "id": "Sanitized",
        "object": "thread",
        "created_at": 1731954992,
        "metadata": {},
        "tool_resources": {}
      }
    },
    {
      "RequestUri": "https://Sanitized.api.azureml.ms/agents/v1.0/subscriptions/azure_subscription_id/resourceGroups/resource_group/providers/Microsoft.MachineLearningServices/workspaces/project/threads/thread_CrAkWAw9v9RycT5lQMyYS0j9/messages?api-version=2024-07-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json; charset=UTF-8"
      },
      "RequestBody": {
        "role": "user",
        "content": "hello, world!"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-aml-cluster": "vienna-eastus2euap-01",
        "x-ms-middleware-request-id": "88c4c02e-c47d-4916-9487-1d06306218ef",
        "x-ms-region": "West US 2",
        "x-ms-response-type": "standard",
        "x-request-time": "0.244"
      },
      "ResponseBody": {
        "id": "Sanitized",
        "object": "thread.message",
        "created_at": 1731954993,
        "assistant_id": null,
        "thread_id": "thread_CrAkWAw9v9RycT5lQMyYS0j9",
        "run_id": null,
        "role": "user",
        "content": [
          {
            "type": "text",
            "text": {
              "value": "hello, world!",
              "annotations": []
            }
          }
        ],
        "attachments": [],
        "metadata": {}
      }
    },
    {
      "RequestUri": "https://Sanitized.api.azureml.ms/agents/v1.0/subscriptions/azure_subscription_id/resourceGroups/resource_group/providers/Microsoft.MachineLearningServices/workspaces/project/threads/thread_CrAkWAw9v9RycT5lQMyYS0j9?api-version=2024-07-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-aml-cluster": "vienna-eastus2euap-01",
        "x-ms-middleware-request-id": "08fe0556-3243-4a74-b313-064ab03e464a",
        "x-ms-region": "West US 2",
        "x-ms-response-type": "standard",
        "x-request-time": "0.292"
      },
      "ResponseBody": {
        "id": "Sanitized",
        "object": "thread.deleted",
        "deleted": true
      }
    }
  ],
  "Variables": {}
}
