{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azurecr.io/oauth2/token?api-version=2021-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/x-www-form-urlencoded"
      },
      "RequestBody": "grant_type=refresh_token&refresh_token=Sanitized&scope=registry%3Acatalog%3A%2A&service=Sanitized.azurecr.io",
      "StatusCode": 401,
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-calls-per-second": "166.583333"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
