{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/project/assistants?api-version=v1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "model": "gpt-4o",
        "name": "my-agent",
        "instructions": "You are a helpful agent"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-02",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "71",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "9690864f-1a28-4cf7-8a38-af64ec70ca2d",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.337"
      },
      "ResponseBody": {
        "id": "asst_w0Qai819uKMAJl3UYAfp4Frt",
        "object": "assistant",
        "created_at": 1748985807,
        "name": "my-agent",
        "description": null,
        "model": "gpt-4o",
        "instructions": "You are a helpful agent",
        "tools": [],
        "top_p": 1.0,
        "temperature": 1.0,
        "tool_resources": {},
        "metadata": {},
        "response_format": "auto"
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/project/assistants/asst_w0Qai819uKMAJl3UYAfp4Frt?api-version=v1",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-02",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "321",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "49b47bb6-4df2-40ec-a2ab-53107a78a307",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.579"
      },
      "ResponseBody": {
        "id": "asst_w0Qai819uKMAJl3UYAfp4Frt",
        "object": "assistant.deleted",
        "deleted": true
      }
    }
  ],
  "Variables": {}
}
