{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/project/assistants?api-version=v1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "model": "gpt-4o",
        "name": "my-agent",
        "instructions": "You are a helpful agent"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-02",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "70",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "2b5836c4-0c98-4dd1-810e-5c3abb517435",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.332"
      },
      "ResponseBody": {
        "id": "asst_QuRFNnmLIAFmJp5kTVrDsLBj",
        "object": "assistant",
        "created_at": 1748988606,
        "name": "my-agent",
        "description": null,
        "model": "gpt-4o",
        "instructions": "You are a helpful agent",
        "tools": [],
        "top_p": 1.0,
        "temperature": 1.0,
        "tool_resources": {},
        "metadata": {},
        "response_format": "auto"
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/project/assistants/asst_QuRFNnmLIAFmJp5kTVrDsLBj?api-version=v1",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-02",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "87",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "c858d9f3-1429-4e0a-bc86-227b7eb387c6",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.287"
      },
      "ResponseBody": {
        "id": "asst_QuRFNnmLIAFmJp5kTVrDsLBj",
        "object": "assistant.deleted",
        "deleted": true
      }
    }
  ],
  "Variables": {}
}
