{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/project1/assistants?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "model": "gpt-4o",
        "name": "my-agent",
        "instructions": "You are a helpful agent"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-organization": "70518679dd1e46ed9a5578d62d7c196e",
        "openai-processing-ms": "80",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "884d69e9-d24b-4bbb-9d62-1736d6f44790",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.545"
      },
      "ResponseBody": {
        "id": "asst_G9lK1v1KnEkhrJrAdUQnZunF",
        "object": "assistant",
        "created_at": 1748300422,
        "name": "my-agent",
        "description": null,
        "model": "gpt-4o",
        "instructions": "You are a helpful agent",
        "tools": [],
        "top_p": 1.0,
        "temperature": 1.0,
        "tool_resources": {},
        "metadata": {},
        "response_format": "auto"
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/project1/assistants/asst_G9lK1v1KnEkhrJrAdUQnZunF?api-version=2025-05-15-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-organization": "70518679dd1e46ed9a5578d62d7c196e",
        "openai-processing-ms": "79",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "bc897dbe-4461-46e1-9297-5b18a38124a4",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.436"
      },
      "ResponseBody": {
        "id": "asst_G9lK1v1KnEkhrJrAdUQnZunF",
        "object": "assistant.deleted",
        "deleted": true
      }
    }
  ],
  "Variables": {}
}
