{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.com/sip?api-version=2023-03-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Fri, 10 Nov 2023 12:59:10 GMT"
      },
      "RequestBody": {
        "routes": []
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2023-03-01, 2023-04-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "pV1hBJ76LUmhnSA8ktmIow.0",
        "X-Processing-Time": "631ms"
      },
      "ResponseBody": {
        "trunks": {},
        "routes": []
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.com/sip?api-version=2023-03-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Fri, 10 Nov 2023 12:59:13 GMT"
      },
      "RequestBody": {
        "trunks": {
          "newsbs-c413b814-71c9-7772-86ac-f98173fcf50e.testdomain.com": {
            "sipSignalingPort": 3333
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2023-03-01, 2023-04-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "AhyKNNOpEkaSYGmD71r/UA.0",
        "X-Processing-Time": "1404ms"
      },
      "ResponseBody": {
        "trunks": {
          "newsbs-c413b814-71c9-7772-86ac-f98173fcf50e.testdomain.com": {
            "sipSignalingPort": 3333
          }
        },
        "routes": []
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.com/sip?api-version=2023-03-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Fri, 10 Nov 2023 12:59:14 GMT"
      },
      "RequestBody": {
        "routes": [
          {
            "description": "Handle all numbers\u0027",
            "name": "Alternative rule",
            "numberPattern": "\\\u002B[1-9][0-9]{3,23}",
            "trunks": [
              "newsbs-c413b814-71c9-7772-86ac-f98173fcf50e.testdomain.com"
            ]
          }
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2023-03-01, 2023-04-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "McLEeyFKBUSZs0l92Dm2Cg.0",
        "X-Processing-Time": "337ms"
      },
      "ResponseBody": {
        "trunks": {
          "newsbs-c413b814-71c9-7772-86ac-f98173fcf50e.testdomain.com": {
            "sipSignalingPort": 3333
          }
        },
        "routes": [
          {
            "description": "Handle all numbers\u0027",
            "name": "Alternative rule",
            "numberPattern": "\\\u002B[1-9][0-9]{3,23}",
            "trunks": [
              "newsbs-c413b814-71c9-7772-86ac-f98173fcf50e.testdomain.com"
            ]
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.com/sip?api-version=2023-03-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Fri, 10 Nov 2023 12:59:19 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2023-03-01, 2023-04-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "xiq8vgM\u002B/kGwAd1hLC4Jbg.0",
        "X-Processing-Time": "195ms"
      },
      "ResponseBody": {
        "trunks": {
          "newsbs-c413b814-71c9-7772-86ac-f98173fcf50e.testdomain.com": {
            "sipSignalingPort": 9999
          }
        },
        "routes": [
          {
            "description": "Handle all numbers\u0027",
            "name": "Alternative rule",
            "numberPattern": "\\\u002B[1-9][0-9]{3,23}",
            "trunks": [
              "newsbs-c413b814-71c9-7772-86ac-f98173fcf50e.testdomain.com"
            ]
          }
        ]
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://sanitized.communication.azure.com/;accesskey=Kg==",
    "RandomSeed": "1775276813"
  }
}
