{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.com/sip?api-version=2023-03-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 22:25:05 GMT"
      },
      "RequestBody": {
        "routes": []
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2023-03-01, 2023-04-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "kMEPNbNDj0i/DWXiNsPtTw.0",
        "X-Processing-Time": "122ms"
      },
      "ResponseBody": {
        "trunks": {
          "newsbs-3c541848-7401-fd55-105f-2492a3f1684d.testdomain.com": {
            "sipSignalingPort": 9999
          }
        },
        "routes": []
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.com/sip?api-version=2023-03-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 22:25:06 GMT"
      },
      "RequestBody": {
        "routes": [
          {
            "description": "Handle all numbers\u0027",
            "name": "Alternative rule",
            "numberPattern": "\\\u002B[1-9][0-9]{3,23}",
            "trunks": [
              "newsbs-2852c39e-fc49-f3b2-bd92-f9551cf0c616.testdomain.com"
            ]
          }
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2023-03-01, 2023-04-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "1sPBLmDaq064lZ4ipukKlg.0",
        "X-Processing-Time": "127ms"
      },
      "ResponseBody": {
        "trunks": {
          "newsbs-2852c39e-fc49-f3b2-bd92-f9551cf0c616.testdomain.com": {
            "sipSignalingPort": 3333
          }
        },
        "routes": [
          {
            "description": "Handle all numbers\u0027",
            "name": "Alternative rule",
            "numberPattern": "\\\u002B[1-9][0-9]{3,23}",
            "trunks": [
              "newsbs-2852c39e-fc49-f3b2-bd92-f9551cf0c616.testdomain.com"
            ]
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.com/sip?api-version=2023-03-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 14 Mar 2024 22:25:08 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2023-03-01, 2023-04-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "eb1pVsM\u002BGU2VFrda3HfBIw.0",
        "X-Processing-Time": "126ms"
      },
      "ResponseBody": {
        "trunks": {
          "newsbs-2852c39e-fc49-f3b2-bd92-f9551cf0c616.testdomain.com": {
            "sipSignalingPort": 9999
          }
        },
        "routes": [
          {
            "description": "Handle all numbers\u0027",
            "name": "Alternative rule",
            "numberPattern": "\\\u002B[1-9][0-9]{3,23}",
            "trunks": [
              "newsbs-2852c39e-fc49-f3b2-bd92-f9551cf0c616.testdomain.com"
            ]
          }
        ]
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_LIVETEST_DYNAMIC_CONNECTION_STRING": "endpoint=https://sanitized.communication.azure.com/;accesskey=Kg==",
    "RandomSeed": "1721149862"
  }
}
