{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/88888888-8888-8888-8888-888888888888/resourceGroups/myjstest/providers/Microsoft.Cache/redis/myrediscachexxx111?api-version=2023-08-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11705",
        "x-rp-server-mvid": "f0f34774-afd8-40e5-aba1-70068478f4a2"
      },
      "ResponseBody": {
        "id": "/subscriptions/88888888-8888-8888-8888-888888888888/resourceGroups/myjstest/providers/Microsoft.Cache/Redis/myrediscachexxx111",
        "location": "East US",
        "name": "myrediscachexxx111",
        "type": "Microsoft.Cache/Redis",
        "tags": {},
        "properties": {
          "provisioningState": "Succeeded",
          "redisVersion": "6.0",
          "sku": {
            "name": "Premium",
            "family": "P",
            "capacity": 1
          },
          "enableNonSslPort": true,
          "instances": [
            {
              "sslPort": 15000,
              "nonSslPort": 13000,
              "zone": "1",
              "shardId": 0,
              "isMaster": true,
              "isPrimary": true
            },
            {
              "sslPort": 15001,
              "nonSslPort": 13001,
              "zone": "1",
              "shardId": 0,
              "isMaster": false,
              "isPrimary": false
            },
            {
              "sslPort": 15002,
              "nonSslPort": 13002,
              "zone": "1",
              "shardId": 1,
              "isMaster": true,
              "isPrimary": true
            },
            {
              "sslPort": 15003,
              "nonSslPort": 13003,
              "zone": "1",
              "shardId": 1,
              "isMaster": false,
              "isPrimary": false
            }
          ],
          "minimumTlsVersion": "1.2",
          "publicNetworkAccess": "Enabled",
          "redisConfiguration": {
            "maxmemory-policy": "allkeys-lru",
            "maxclients": "7500",
            "maxmemory-reserved": "642",
            "maxfragmentationmemory-reserved": "642",
            "maxmemory-delta": "642"
          },
          "accessKeys": null,
          "hostName": "myrediscachexxx111.redis.cache.windows.net",
          "port": 6379,
          "sslPort": 6380,
          "subnetId": "/subscriptions/88888888-8888-8888-8888-888888888888/resourceGroups/myjstest/providers/Microsoft.Network/virtualNetworks/networknamex/subnets/subnetworknamex",
          "staticIP": "10.0.0.5",
          "shardCount": 2,
          "linkedServers": [],
          "updateChannel": "Stable"
        },
        "zones": [
          "1"
        ]
      }
    }
  ],
  "Variables": {}
}
