{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/88888888-8888-8888-8888-888888888888/resourceGroups/myjstest/providers/Microsoft.Cache/redis/myrediscachexxx111/patchSchedules/default?api-version=2024-03-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "scheduleEntries": [
            {
              "dayOfWeek": "Monday",
              "startHourUtc": 12,
              "maintenanceWindow": "PT5H"
            },
            {
              "dayOfWeek": "Tuesday",
              "startHourUtc": 12
            }
          ]
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1199",
        "x-rp-server-mvid": "f6b9d78f-d145-4435-ac67-f08493b24777"
      },
      "ResponseBody": {
        "id": "/subscriptions/88888888-8888-8888-8888-888888888888/resourceGroups/myjstest/providers/Microsoft.Cache/Redis/myrediscachexxx111/patchSchedules/default",
        "location": "East US",
        "name": "myrediscachexxx111/default",
        "type": "Microsoft.Cache/Redis/PatchSchedules",
        "properties": {
          "scheduleEntries": [
            {
              "dayOfWeek": "Monday",
              "startHourUtc": 12,
              "maintenanceWindow": "PT5H"
            },
            {
              "dayOfWeek": "Tuesday",
              "startHourUtc": 12,
              "maintenanceWindow": "PT5H"
            }
          ]
        }
      }
    }
  ],
  "Variables": {}
}
