{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/88888888-8888-8888-8888-888888888888/resourceGroups/myjstest/providers/Microsoft.ContainerRegistry/registries/myregistryxxx/tasks?api-version=2025-03-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-original-request-ids": "40e697e9-c80b-400e-9046-1252e7007a29",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "value": [
          {
            "type": "Microsoft.ContainerRegistry/registries/tasks",
            "properties": {
              "provisioningState": "Succeeded",
              "creationDate": "2026-02-13T19:12:09.1034069+00:00",
              "status": "Enabled",
              "platform": {
                "os": "Linux",
                "architecture": "amd64"
              },
              "agentConfiguration": {
                "cpu": 2
              },
              "timeout": 3600,
              "step": {
                "type": "Docker",
                "imageNames": [
                  "testtask:v1"
                ],
                "isPushEnabled": true,
                "noCache": false,
                "dockerFilePath": "DockerFile",
                "contextPath": "https://github.com/SteveLasker/node-helloworld"
              },
              "trigger": {
                "baseImageTrigger": {
                  "baseImageTriggerType": "Runtime",
                  "updateTriggerPayloadType": "Default",
                  "status": "Enabled",
                  "name": "myBaseImageTrigger"
                }
              }
            },
            "id": "/subscriptions/88888888-8888-8888-8888-888888888888/resourceGroups/myjstest/providers/Microsoft.ContainerRegistry/registries/myregistryxxx/tasks/mytaskxxx",
            "name": "mytaskxxx",
            "tags": {
              "testkey": "value"
            },
            "location": "eastus",
            "systemData": {
              "createdBy": "Sanitized",
              "createdByType": "User",
              "createdAt": "2026-02-13T19:12:09.0593366+00:00",
              "lastModifiedBy": "Sanitized",
              "lastModifiedByType": "User",
              "lastModifiedAt": "2026-02-13T19:12:09.0593366+00:00"
            }
          }
        ]
      }
    }
  ],
  "Variables": {}
}
