{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11999"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "tags": {
          "TagKey-9823": "TagValue-1254",
          "TagKey-3481": "TagValue-320",
          "TagKey-4926": "TagValue-1187",
          "TagKey-751": "TagValue-3921",
          "TagKey-1866": "TagValue-8559",
          "TagKey-3094": "TagValue-9190",
          "TagKey-2449": "TagValue-9",
          "TagKey-8379": "TagValue-164",
          "TagKey-7470": "TagValue-2205",
          "TagKey-4236": "TagValue-3698",
          "TagKey-5316": "TagValue-2725"
        },
        "subscriptionId": "db1ab6f0-4769-4b27-930e-01e2ef9c123c",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": ".NET Mgmt SDK Test with TTL = 1 Day",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.Network/networkWatchers?api-version=2023-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11998"
      },
      "ResponseBody": {
        "value": []
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourcegroups/networkRG8036?api-version=2022-09-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus2"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/networkRG8036",
        "name": "networkRG8036",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "eastus2",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/networkRG8036/providers/Microsoft.Network/networkWatchers/azsmnet9186?api-version=2023-05-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus2",
        "properties": {}
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncNotification": "Enabled",
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.Network/locations/eastus2/operations/8df337cd-99df-4411-9581-edfdab036d46?api-version=2023-05-01",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1198"
      },
      "ResponseBody": {
        "name": "azsmnet9186",
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/networkRG8036/providers/Microsoft.Network/networkWatchers/azsmnet9186",
        "etag": "W/\u00228bf7d545-5137-455a-b3d6-bbb367a8714c\u0022",
        "type": "Microsoft.Network/networkWatchers",
        "location": "eastus2",
        "properties": {
          "provisioningState": "Succeeded",
          "runningOperationIds": []
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/networkRG8036/providers/Microsoft.Network/virtualNetworks/vnet_5587?api-version=2023-05-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus2",
        "properties": {
          "addressSpace": {
            "addressPrefixes": [
              "10.0.0.0/16"
            ]
          },
          "dhcpOptions": {
            "dnsServers": [
              "10.1.1.1",
              "10.1.2.4"
            ]
          },
          "subnets": [
            {
              "name": "subnet_4841",
              "properties": {
                "addressPrefix": "10.0.0.0/24"
              }
            }
          ]
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncNotification": "Enabled",
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.Network/locations/eastus2/operations/1e3cad0e-2f02-45b8-987e-a4f5116ab400?api-version=2023-05-01",
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "3",
        "x-ms-ratelimit-remaining-subscription-writes": "1197"
      },
      "ResponseBody": {
        "name": "vnet_5587",
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/networkRG8036/providers/Microsoft.Network/virtualNetworks/vnet_5587",
        "etag": "W/\u00229f823292-2655-426d-88d1-85f3d73c5e19\u0022",
        "type": "Microsoft.Network/virtualNetworks",
        "location": "eastus2",
        "properties": {
          "provisioningState": "Updating",
          "resourceGuid": "18fbaef7-da39-4492-bbf6-63ca6d14bf35",
          "addressSpace": {
            "addressPrefixes": [
              "10.0.0.0/16"
            ]
          },
          "dhcpOptions": {
            "dnsServers": [
              "10.1.1.1",
              "10.1.2.4"
            ]
          },
          "subnets": [
            {
              "name": "subnet_4841",
              "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/networkRG8036/providers/Microsoft.Network/virtualNetworks/vnet_5587/subnets/subnet_4841",
              "etag": "W/\u00229f823292-2655-426d-88d1-85f3d73c5e19\u0022",
              "properties": {
                "provisioningState": "Updating",
                "addressPrefix": "10.0.0.0/24",
                "delegations": [],
                "privateEndpointNetworkPolicies": "Disabled",
                "privateLinkServiceNetworkPolicies": "Enabled"
              },
              "type": "Microsoft.Network/virtualNetworks/subnets"
            }
          ],
          "virtualNetworkPeerings": [],
          "enableDdosProtection": false
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.Network/locations/eastus2/operations/1e3cad0e-2f02-45b8-987e-a4f5116ab400?api-version=2023-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "x-ms-ratelimit-remaining-subscription-reads": "11997"
      },
      "ResponseBody": {
        "status": "InProgress"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/networkRG8036/providers/Microsoft.Network/virtualNetworks/vnet_5587?api-version=2023-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\u00223c5e4b1a-af97-42cd-ae1c-ed6b7de9b623\u0022",
        "x-ms-ratelimit-remaining-subscription-reads": "11995"
      },
      "ResponseBody": {
        "name": "vnet_5587",
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/networkRG8036/providers/Microsoft.Network/virtualNetworks/vnet_5587",
        "etag": "W/\u00223c5e4b1a-af97-42cd-ae1c-ed6b7de9b623\u0022",
        "type": "Microsoft.Network/virtualNetworks",
        "location": "eastus2",
        "prope[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/networkRG8036/providers/Microsoft.Network/networkInterfaces/nic9044?api-version=2023-05-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus2",
        "tags": {
          "key": "value"
        },
        "properties": {
          "ipConfigurations": [
            {
              "name": "ipconfig_4772",
              "properties": {
                "privateIPAllocationMethod": "Dynamic",
                "subnet": {
                  "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/networkRG8036/providers/Microsoft.Network/virtualNetworks/vnet_5587/subnets/subnet_4841",
                  "properties": {}
                }
              }
            }
          ]
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncNotification": "Enabled",
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.Compute?api-version=2022-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11990"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.Compute",
        "namespace": "Microsoft.Compute",
        "authorizations": [
          {
            "applicationId": "60e6cd67-9c8c-4951-9b3c-23c25a2169af",
            "roleDefinitionId": "e4770acb-272e-4dc8-87f3-12f44a612224"
          },
          {
            "applicationId": "a303894e-f1d8-4a37-bf10-67aa654a0596",
            "roleDefinitionId": "903ac751-8ad5-4e5a-bfc2-5e49f450a241"
          },
          {
            "applicationId": "a8b6bf88-1d1a-4626-b040-9a729ea93c65",
            "roleDefinitionId": "45c8267c-80ba-4b96-9a43-115b8f49fccd"
          },
          {
            "applicationId": "184909ca-69f1-4368-a6a7-c558ee6eb0bd",
            "roleDefinitionId": "45c8267c-80ba-4b96-9a43-115b8f49fccd"
          },
          {
            "applicationId": "5e5e43d4-54da-4211-86a4-c6e7f3715801",
            "roleDefinitionId": "ffcd6e5b-8772-457d-bb17-89703c03428f"
          },
          {
            "applicationId": "ce6ff14a-7fdc-4685-bbe0-f6afdfcfa8e0",
            "roleDefinitionId": "cb17cddc-dbac-4ae0-ae79-8db34eddfca0"
          },
          {
            "applicationId": "372140e0-b3b7-4226-8ef9-d57986796201",
            "roleDefinitionId": "cb17cddc-dbac-4ae0-ae79-8db34eddfca0"
          },
          {
            "applicationId": "579d9c9d-4c83-4efc-8124-7eba65ed3356",
            "roleDefinitionId": "8c99c4ce-d744-4597-a2f0-0a0044d67560"
          },
          {
            "applicationId": "b9a92e36-2cf8-4f4e-bcb3-9d99e00e14ab",
            "roleDefinitionId": "6efa92ca-56b6-40af-a468-5e3d2b5232f0"
          }
        ],
        "resourceTypes": [
          {
            "resourceType": "availabilitySets",
            "locations": [
              "East US",
              "East US 2",
              "West US",
              "Central US",
              "North Central US",
              "South Central US",
              "North Europe",
              "West Europe",
              "East Asia",
              "Southeast Asia",
              "Japan East",
              "Japan West",
              "Australia East",
              "Australia Southeast",
              "Australia Central",
              "Brazil South",
              "South India",
              "Central India",
              "West India",
              "Canada Central",
              "Canada East",
              "West US 2",
              "West Central US",
              "UK South",
              "UK West",
              "Korea Central",
              "Korea South",
              "France Central",
              "South Africa North",
              "UAE North",
              "Switzerland North",
              "Germany West Central",
              "Norway East",
              "Jio India West",
              "West US 3",
              "Sweden Central",
              "Qatar Central",
              "Poland Central",
              "Italy North",
              "Israel Central"
            ],
            "apiVersions": [
              "2023-07-01",
              "2023-03-01",
              "2022-11-01",
              "2022-08-01",
              "2022-03-01",
              "2021-11-01",
              "2021-07-01",
              "2021-04-01",
              "2021-03-01",
              "2020-12-01",
              "2020-06-01",
              "2019-12-01",
              "2019-07-01",
              "2019-03-01",
              "2018-10-01",
              "2018-06-01",
              "2018-04-01",
              "2017-12-01",
              "2017-03-30",
              "2016-08-30",
              "2016-04-30-preview",
              "2016-03-30",
              "2015-06-15",
              "2015-05-01-preview"
            ],
            "defaultApiVersion": "2022-03-01",
            "apiProfiles": [
              {
                "profileVersion": "2017-03-09-profile",
                "apiVersion": "2016-03-30"
              },
              {
                "profileVersion": "2018-03-01-hybrid",
                "apiVersion": "2017-03-30"
              },
              {
                "profileVersion": "2018-06-01-profile",
                "apiVersion": "2017-12-01"
              },
              {
                "profileVersion": "2019-03-01-hybrid",
                "apiVersion": "2017-12-01"
              },
              {
                "profileVersion": "2020-09-01-hybrid",
                "apiVersion": "2020-06-01"
              }
            ],
            "capabilities": "CrossResourceGroupResourceMove, CrossSubscriptionResourceMove, SupportsTags, SupportsLocation"
          },
          {
            "resourceType": "virtualMachines",
            "locations": [
              "East US",
              "East US 2",
              "West US",
              "Central US",
              "North Central US",
              "South Central US",
              "North Europe",
              "West Europe",
              "East Asia",
              "Southeast Asia",
             [...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/networkRG8036/providers/Microsoft.Compute/virtualMachines/vm2249?api-version=2023-07-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "hardwareProfile": {
            "vmSize": "Standard_D1_v2"
          },
          "storageProfile": {
            "imageReference": {
              "sku": "2016-Datacenter",
              "publisher": "MicrosoftWindowsServer",
              "version": "latest",
              "offer": "WindowsServer"
            },
            "osDisk": {
              "name": "vm2249_os_disk",
              "osType": "Windows",
              "caching": "ReadWrite",
              "createOption": "FromImage",
              "managedDisk": {
                "storageAccountType": "Standard_LRS"
              }
            }
          },
          "osProfile": {
            "adminUsername": "admin4813",
            "adminPassword": "adminPass!UkxvzkmN",
            "computerName": "vm2249"
          },
          "networkProfile": {
            "networkInterfaces": [
              {
                "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/networkRG8036/providers/Microsoft.Network/networkInterfaces/nic9044",
                "properties": {
                  "primary": true
                }
              }
            ]
          }
        },
        "location": "eastus2"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncNotification": "Enabled",
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.Compute/locations/eastus2/operations/1ba0869f-cda4-47df-9787-89f93d46b178?p=b3c8e1df-dad5-44b2-897a-982f8fb27b38\u0026api-version=2023-07-01",
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "x-ms-ratelimit-remaining-resource": "Microsoft.Compute/PutVM3Min;239,Microsoft.Compute/PutVM30Min;1191",
        "x-ms-ratelimit-remaining-subscription-writes": "1195"
      },
      "ResponseBody": {
        "name": "vm2249",
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/networkRG8036/providers/Microsoft.Compute/virtualMachines/vm2249",
        "type": "Microsoft.Compute/virtualMachines",
        "location": "eastus2",
        "tags": {
          "azsecpack": "nonprod",
          "platformsettings.host_environment.service.platform_optedin_for_rootcerts": "true"
        },
        "properties": {
          "hardwareProfile": {
            "vmSize": "Standard_D1_v2"
          },
          "provisioningState": "Creating",
          "vmId": "6ea82118-9c35-4394-a6de-91dd117170df",
          "storageProfile": {
            "imageReference": {
              "publisher": "MicrosoftWindowsServer",
              "offer": "WindowsServer",
              "sku": "2016-Datacenter",
              "version": "latest",
              "exactVersion": "14393.6252.230905"
            },
            "osDisk": {
              "osType": "Windows",
              "name": "vm2249_os_disk",
              "createOption": "FromImage",
              "caching": "ReadWrite",
              "managedDisk": {
                "storageAccountType": "Standard_LRS"
              },
              "deleteOption": "Detach",
              "diskSizeGB": 127
            },
            "dataDisks": []
          },
          "osProfile": {
            "computerName": "vm2249",
            "adminUsername": "admin4813",
            "windowsConfiguration": {
              "provisionVMAgent": true,
              "enableAutomaticUpdates": true,
              "patchSettings": {
                "patchMode": "AutomaticByOS",
                "assessmentMode": "ImageDefault"
              },
              "enableVMAgentPlatformUpdates": false
            },
            "secrets": [],
            "allowExtensionOperations": true,
            "requireGuestProvisionSignal": true
          },
          "networkProfile": {
            "networkInterfaces": [
              {
                "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/networkRG8036/providers/Microsoft.Network/networkInterfaces/nic9044",
                "properties": {
                  "primary": true
                }
              }
            ]
          },
          "timeCreated": "2023-09-21T06:33:39.0112913\u002B00:00"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.Compute/locations/eastus2/operations/1ba0869f-cda4-47df-9787-89f93d46b178?p=b3c8e1df-dad5-44b2-897a-982f8fb27b38\u0026api-version=2023-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "50",
        "x-ms-ratelimit-remaining-resource": "Microsoft.Compute/GetOperation3Min;14995,Microsoft.Compute/GetOperation30Min;29915",
        "x-ms-ratelimit-remaining-subscription-reads": "11989"
      },
      "ResponseBody": {
        "startTime": "2023-09-21T06:33:39.0112913\u002B00:00",
        "status": "InProgress",
        "name": "1ba0869f-cda4-47df-9787-89f93d46b178"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.Compute/locations/eastus2/operations/1ba0869f-cda4-47df-9787-89f93d46b178?p=b3c8e1df-dad5-44b2-897a-982f8fb27b38\u0026api-version=2023-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-resource": "Microsoft.Compute/GetOperation3Min;14990,Microsoft.Compute/GetOperation30Min;29910",
        "x-ms-ratelimit-remaining-subscription-reads": "11987"
      },
      "ResponseBody": {
        "startTime": "2023-09-21T06:33:39.0112913\u002B00:00",
        "endTime": "2023-09-21T06:34:33.308848\u002B00:00",
        "status": "Succeeded",
        "name": "1ba0869f-cda4-47df-9787-89f93d46b178"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/networkRG8036/providers/Microsoft.Compute/virtualMachines/vm2249/extensions/NetworkWatcherAgent?api-version=2023-07-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "publisher": "Microsoft.Azure.NetworkWatcher",
          "typeHandlerVersion": "1.4",
          "type": "NetworkWatcherAgentWindows"
        },
        "location": "eastus2"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncNotification": "Enabled",
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.Compute/locations/eastus2/operations/9afe5992-e6c0-4c46-aad7-5fccefc3e607?p=b3c8e1df-dad5-44b2-897a-982f8fb27b38\u0026api-version=2023-07-01",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-resource": "Microsoft.Compute/UpdateVM3Min;239,Microsoft.Compute/UpdateVM30Min;1195",
        "x-ms-ratelimit-remaining-subscription-writes": "1191"
      },
      "ResponseBody": {
        "name": "NetworkWatcherAgent",
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/networkRG8036/providers/Microsoft.Compute/virtualMachines/vm2249/extensions/NetworkWatcherAgent",
        "type": "Microsoft.Compute/virtualMachines/extensions",
        "location": "eastus2",
        "properties": {
          "autoUpgradeMinorVersion": false,
          "provisioningState": "Creating",
          "publisher": "Microsoft.Azure.NetworkWatcher",
          "type": "NetworkWatcherAgentWindows",
          "typeHandlerVersion": "1.4"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/networkRG8036/providers/Microsoft.Network/networkWatchers/azsmnet9186/connectivityCheck?api-version=2023-05-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "source": {
          "resourceId": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/networkRG8036/providers/Microsoft.Compute/virtualMachines/vm2249"
        },
        "destination": {
          "resourceId": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/networkRG8036/providers/Microsoft.Compute/virtualMachines/vm6715",
          "port": 22
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Azure-AsyncNotification": "Enabled",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.Network/locations/eastus2/operationResults/f1dc2552-f2c5-4090-9f33-3bba31c65e49?api-version=2023-05-01",
        "Retry-After": "10",
        "x-ms-ratelimit-remaining-subscription-reads": "11951"
      },
      "ResponseBody": "null"
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.Network/locations/eastus2/operationResults/f1dc2552-f2c5-4090-9f33-3bba31c65e49?api-version=2023-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Azure-AsyncNotification": "Enabled",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.Network/locations/eastus2/operationResults/f1dc2552-f2c5-4090-9f33-3bba31c65e49?api-version=2023-05-01",
        "Retry-After": "10",
        "x-ms-ratelimit-remaining-subscription-reads": "11950"
      },
      "ResponseBody": "null"
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.Network/locations/eastus2/operationResults/f1dc2552-f2c5-4090-9f33-3bba31c65e49?api-version=2023-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Azure-AsyncNotification": "Enabled",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.Network/locations/eastus2/operationResults/f1dc2552-f2c5-4090-9f33-3bba31c65e49?api-version=2023-05-01",
        "x-ms-ratelimit-remaining-subscription-reads": "11948"
      },
      "ResponseBody": {
        "hops": [
          {
            "type": "Source",
            "id": "16ea15cc-990d-4f31-8b62-682f1d7b53ca",
            "address": "10.0.0.4",
            "resourceId": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/networkRG8036/providers/Microsoft.Compute/virtualMachines/vm2249",
            "nextHopIds": [
              "6e5fc2fd-68e6-48a0-beb6-2571b36d8990"
            ],
            "links": [
              {
                "nextHopId": "6e5fc2fd-68e6-48a0-beb6-2571b36d8990",
                "linkType": "VirtualNetwork",
                "properties": {
                  "roundTripTimeMin": 1,
                  "roundTripTimeAvg": 1,
                  "roundTripTimeMax": 1
                },
                "context": {},
                "issues": [],
                "resourceId": ""
              }
            ],
            "previousHopIds": [],
            "previousLinks": [],
            "issues": []
          },
          {
            "type": "VirtualMachine",
            "id": "6e5fc2fd-68e6-48a0-beb6-2571b36d8990",
            "address": "10.0.0.4",
            "resourceId": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/networkRG8036/providers/Microsoft.Compute/virtualMachines/vm6715",
            "nextHopIds": [],
            "links": [],
            "previousHopIds": [
              "16ea15cc-990d-4f31-8b62-682f1d7b53ca"
            ],
            "previousLinks": [
              {
                "nextHopId": "16ea15cc-990d-4f31-8b62-682f1d7b53ca",
                "linkType": "VirtualNetwork",
                "properties": {},
                "context": {},
                "issues": [],
                "resourceId": ""
              }
            ],
            "issues": [
              {
                "origin": "Local",
                "severity": "Error",
                "type": "NoListenerOnDestination",
                "context": []
              }
            ]
          }
        ],
        "connectionStatus": "Unreachable",
        "probesSent": 30,
        "probesFailed": 30,
        "errors": {}
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "RandomSeed": "1973392811",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "db1ab6f0-4769-4b27-930e-01e2ef9c123c"
  }
}
