{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/e29c162a-d1d4-4cc3-8295-80057c1f4bd9?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11915"
      },
      "ResponseBody": {
        "id": "/subscriptions/e29c162a-d1d4-4cc3-8295-80057c1f4bd9",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "tags": {
          "NRMS12882909": "20220707"
        },
        "subscriptionId": "e29c162a-d1d4-4cc3-8295-80057c1f4bd9",
        "tenantId": "0483643a-cb2f-462a-bc27-1a270e5bdc0a",
        "displayName": "KAILANI-INT-02",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/e29c162a-d1d4-4cc3-8295-80057c1f4bd9/resourcegroups/afs-sdk-rg9441?api-version=2022-09-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {
          "test": "env"
        },
        "location": "eastus2"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1182"
      },
      "ResponseBody": {
        "id": "/subscriptions/e29c162a-d1d4-4cc3-8295-80057c1f4bd9/resourceGroups/afs-sdk-rg9441",
        "name": "afs-sdk-rg9441",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "eastus2",
        "tags": {
          "test": "env"
        },
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/e29c162a-d1d4-4cc3-8295-80057c1f4bd9/resourceGroups/afs-sdk-rg9441/providers/Microsoft.StorageSync/storageSyncServices/afs-sdk-sss-create8582?api-version=2022-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "centraluseuap",
        "tags": {
          "key1": "value1",
          "key2": "value2"
        },
        "properties": {}
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/e29c162a-d1d4-4cc3-8295-80057c1f4bd9/providers/Microsoft.StorageSync/locations/centraluseuap/operations/eyJwYXJ0aXRpb25JZCI6IjExZTk5ZjhkLWE1NmUtNGNmZS04ODdlLWFiYmM3ODk5NTA0NiIsIndvcmtmbG93SWQiOiI3YjJmYTBiOC05NjRjLTQwNzMtYjg3Mi1iNmIyMGU1ODAxOTgiLCJ3b3JrZmxvd09wZXJhdGlvbklkIjoiYzczODQ4NDMtZmFhMS00NmU4LWFhMTgtZjRlZjMyNTE1Yjg1In0=?api-version=2022-06-01\u0026t=638349969722109644\u0026c=MIIHADCCBeigAwIBAgITfAQMTI1h2_N6jbL4IQAABAxMjTANBgkqhkiG9w0BAQsFADBEMR[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/e29c162a-d1d4-4cc3-8295-80057c1f4bd9/providers/Microsoft.StorageSync/locations/centraluseuap/operations/eyJwYXJ0aXRpb25JZCI6IjExZTk5ZjhkLWE1NmUtNGNmZS04ODdlLWFiYmM3ODk5NTA0NiIsIndvcmtmbG93SWQiOiI3YjJmYTBiOC05NjRjLTQwNzMtYjg3Mi1iNmIyMGU1ODAxOTgiLCJ3b3JrZmxvd09wZXJhdGlvbklkIjoiYzczODQ4NDMtZmFhMS00NmU4LWFhMTgtZjRlZjMyNTE1Yjg1In0=?api-version=2022-06-01\u0026t=638349969722109644\u0026c=MIIHADCCBeigAwIBAgITfAQMTI1h2_N6jbL4IQAABAxMj[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/e29c162a-d1d4-4cc3-8295-80057c1f4bd9/resourceGroups/afs-sdk-rg9441/providers/Microsoft.StorageSync/storageSyncServices/afs-sdk-sss-create8582?api-version=2022-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "ce565692-06d2-451c-83e6-0c00b835c643",
        "x-ms-ratelimit-remaining-subscription-reads": "11907",
        "X-ServiceFabricRequestId": "c4e45aeb-4119-44f7-895a-316acfc9c1ed"
      },
      "ResponseBody": {
        "properties": {
          "storageSyncServiceStatus": 0,
          "incomingTrafficPolicy": "AllowAllTraffic",
          "privateEndpointConnections": [],
          "provisioningState": "Succeeded",
          "lastWorkflowId": "storageSyncServices/afs-sdk-sss-create8582/workflows/7b2fa0b8-964c-4073-b872-b6b20e580198",
          "lastOperationName": "ICreateStorageSyncServiceWorkflow2"
        },
        "location": "centraluseuap",
        "tags": {
          "key1": "value1",
          "key2": "value2"
        },
        "id": "/subscriptions/e29c162a-d1d4-4cc3-8295-80057c1f4bd9/resourceGroups/afs-sdk-rg9441/providers/Microsoft.StorageSync/storageSyncServices/afs-sdk-sss-create8582",
        "name": "afs-sdk-sss-create8582",
        "type": "Microsoft.StorageSync/storageSyncServices",
        "systemData": {
          "createdBy": "c8b36958-2a0a-423d-bba9-98ff3af75f58",
          "createdByType": "Application",
          "createdAt": "2023-11-07T23:36:11.85162Z",
          "lastModifiedBy": "c8b36958-2a0a-423d-bba9-98ff3af75f58",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2023-11-07T23:36:11.85162Z"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/e29c162a-d1d4-4cc3-8295-80057c1f4bd9/resourceGroups/afs-sdk-rg9441/providers/Microsoft.StorageSync/storageSyncServices?api-version=2022-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "f07ef1ab-8e85-44e2-ba8b-55f60969f221",
        "x-ms-ratelimit-remaining-subscription-reads": "11906",
        "X-ServiceFabricRequestId": "d17cd488-9e49-4a5d-a7d7-5150da751a30"
      },
      "ResponseBody": {
        "value": [
          {
            "properties": {
              "storageSyncServiceStatus": 0,
              "incomingTrafficPolicy": "AllowAllTraffic",
              "privateEndpointConnections": [],
              "provisioningState": "Succeeded",
              "lastWorkflowId": "storageSyncServices/afs-sdk-sss-create8582/workflows/7b2fa0b8-964c-4073-b872-b6b20e580198",
              "lastOperationName": "ICreateStorageSyncServiceWorkflow2"
            },
            "location": "centraluseuap",
            "tags": {
              "key1": "value1",
              "key2": "value2"
            },
            "id": "/subscriptions/e29c162a-d1d4-4cc3-8295-80057c1f4bd9/resourceGroups/afs-sdk-rg9441/providers/Microsoft.StorageSync/storageSyncServices/afs-sdk-sss-create8582",
            "name": "afs-sdk-sss-create8582",
            "type": "Microsoft.StorageSync/storageSyncServices",
            "systemData": {
              "createdBy": "c8b36958-2a0a-423d-bba9-98ff3af75f58",
              "createdByType": "Application",
              "createdAt": "2023-11-07T23:36:11.85162Z",
              "lastModifiedBy": "c8b36958-2a0a-423d-bba9-98ff3af75f58",
              "lastModifiedByType": "Application",
              "lastModifiedAt": "2023-11-07T23:36:11.85162Z"
            }
          }
        ]
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/e29c162a-d1d4-4cc3-8295-80057c1f4bd9/providers/Microsoft.StorageSync/storageSyncServices?api-version=2022-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-original-request-ids": [
          "9c860f05-27d4-4210-95d8-a97c9ea44754",
          "d7f02036-e665-4937-bd0d-f1b8786f1df9",
          "7bf8cc6f-3bc8-4461-939c-e5b5ce045d6d"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": "11905"
      },
      "ResponseBody": {
        "value": [
          {
            "properties": {
              "storageSyncServiceStatus": 0,
              "incomingTrafficPolicy": "AllowAllTraffic",
              "privateEndpointConnections": [],
              "provisioningStat[...]
