{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/e29c162a-d1d4-4cc3-8295-80057c1f4bd9?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11995"
      },
      "ResponseBody": {
        "id": "/subscriptions/e29c162a-d1d4-4cc3-8295-80057c1f4bd9",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "tags": {
          "NRMS12882909": "20220707"
        },
        "subscriptionId": "e29c162a-d1d4-4cc3-8295-80057c1f4bd9",
        "tenantId": "0483643a-cb2f-462a-bc27-1a270e5bdc0a",
        "displayName": "KAILANI-INT-02",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/e29c162a-d1d4-4cc3-8295-80057c1f4bd9/resourcegroups/afs-sdk-rg4576?api-version=2022-09-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {
          "test": "env"
        },
        "location": "eastus2"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": {
        "id": "/subscriptions/e29c162a-d1d4-4cc3-8295-80057c1f4bd9/resourceGroups/afs-sdk-rg4576",
        "name": "afs-sdk-rg4576",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "eastus2",
        "tags": {
          "test": "env"
        },
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/e29c162a-d1d4-4cc3-8295-80057c1f4bd9/resourceGroups/afs-sdk-rg4576/providers/Microsoft.StorageSync/storageSyncServices/afs-sdk-sss-create6267?api-version=2022-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "centraluseuap",
        "tags": {
          "key1": "value1",
          "key2": "value2"
        },
        "properties": {}
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/e29c162a-d1d4-4cc3-8295-80057c1f4bd9/providers/Microsoft.StorageSync/locations/centraluseuap/operations/eyJwYXJ0aXRpb25JZCI6Ijc1MjVmYTZhLTk2MGUtNDQ3NS04NjAxLWFmYjRhMDU5YmI3YyIsIndvcmtmbG93SWQiOiIyNzg2ZWFmNi01NzBlLTQzOTEtOTFkYi0zY2M1NzQwYzYxODgiLCJ3b3JrZmxvd09wZXJhdGlvbklkIjoiZGEwMDM3ZjYtNWRlNS00MGE5LWEwNjAtNzVlMjJjYTRkMGE3In0=?api-version=2022-06-01\u0026t=638358579993060803\u0026c=MIIHHjCCBgagAwIBAgITfwI8ooo2761TEgO3SgAEAjyiijANBgkqhkiG9w0BAQsFADBEMR[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/e29c162a-d1d4-4cc3-8295-80057c1f4bd9/providers/Microsoft.StorageSync/locations/centraluseuap/operations/eyJwYXJ0aXRpb25JZCI6Ijc1MjVmYTZhLTk2MGUtNDQ3NS04NjAxLWFmYjRhMDU5YmI3YyIsIndvcmtmbG93SWQiOiIyNzg2ZWFmNi01NzBlLTQzOTEtOTFkYi0zY2M1NzQwYzYxODgiLCJ3b3JrZmxvd09wZXJhdGlvbklkIjoiZGEwMDM3ZjYtNWRlNS00MGE5LWEwNjAtNzVlMjJjYTRkMGE3In0=?api-version=2022-06-01\u0026t=638358579993060803\u0026c=MIIHHjCCBgagAwIBAgITfwI8ooo2761TEgO3SgAEAjyii[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/e29c162a-d1d4-4cc3-8295-80057c1f4bd9/resourceGroups/afs-sdk-rg4576/providers/Microsoft.StorageSync/storageSyncServices/afs-sdk-sss-create6267?api-version=2022-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "1e2ede60-38c8-46aa-8186-25bfdc8b8895",
        "x-ms-ratelimit-remaining-subscription-reads": "11995",
        "X-ServiceFabricRequestId": "bc0a55f8-e9c0-459d-b42f-aa5f8dd9468f"
      },
      "ResponseBody": {
        "properties": {
          "storageSyncServiceStatus": 0,
          "incomingTrafficPolicy": "AllowAllTraffic",
          "privateEndpointConnections": [],
          "provisioningState": "Succeeded",
          "lastWorkflowId": "storageSyncServices/afs-sdk-sss-create6267/workflows/2786eaf6-570e-4391-91db-3cc5740c6188",
          "lastOperationName": "ICreateStorageSyncServiceWorkflow2"
        },
        "location": "centraluseuap",
        "tags": {
          "key1": "value1",
          "key2": "value2"
        },
        "id": "/subscriptions/e29c162a-d1d4-4cc3-8295-80057c1f4bd9/resourceGroups/afs-sdk-rg4576/providers/Microsoft.StorageSync/storageSyncServices/afs-sdk-sss-create6267",
        "name": "afs-sdk-sss-create6267",
        "type": "Microsoft.StorageSync/storageSyncServices",
        "systemData": {
          "createdBy": "c8b36958-2a0a-423d-bba9-98ff3af75f58",
          "createdByType": "Application",
          "createdAt": "2023-11-17T22:46:38.9623677Z",
          "lastModifiedBy": "c8b36958-2a0a-423d-bba9-98ff3af75f58",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2023-11-17T22:46:38.9623677Z"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/e29c162a-d1d4-4cc3-8295-80057c1f4bd9/resourceGroups/afs-sdk-rg4576/providers/Microsoft.StorageSync/storageSyncServices?api-version=2022-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "dc7e817b-0567-445d-91ab-eacfa953e544",
        "x-ms-ratelimit-remaining-subscription-reads": "11996",
        "X-ServiceFabricRequestId": "e5cb80bd-8449-40a2-adb0-da8bb9299f03"
      },
      "ResponseBody": {
        "value": [
          {
            "properties": {
              "storageSyncServiceStatus": 0,
              "incomingTrafficPolicy": "AllowAllTraffic",
              "privateEndpointConnections": [],
              "provisioningState": "Succeeded",
              "lastWorkflowId": "storageSyncServices/afs-sdk-sss-create6267/workflows/2786eaf6-570e-4391-91db-3cc5740c6188",
              "lastOperationName": "ICreateStorageSyncServiceWorkflow2"
            },
            "location": "centraluseuap",
            "tags": {
              "key1": "value1",
              "key2": "value2"
            },
            "id": "/subscriptions/e29c162a-d1d4-4cc3-8295-80057c1f4bd9/resourceGroups/afs-sdk-rg4576/providers/Microsoft.StorageSync/storageSyncServices/afs-sdk-sss-create6267",
            "name": "afs-sdk-sss-create6267",
            "type": "Microsoft.StorageSync/storageSyncServices",
            "systemData": {
              "createdBy": "c8b36958-2a0a-423d-bba9-98ff3af75f58",
              "createdByType": "Application",
              "createdAt": "2023-11-17T22:46:38.9623677Z",
              "lastModifiedBy": "c8b36958-2a0a-423d-bba9-98ff3af75f58",
              "lastModifiedByType": "Application",
              "lastModifiedAt": "2023-11-17T22:46:38.9623677Z"
            }
          }
        ]
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/e29c162a-d1d4-4cc3-8295-80057c1f4bd9/providers/Microsoft.StorageSync/storageSyncServices?api-version=2022-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-original-request-ids": [
          "b6d52b3b-766f-4e84-8c6f-26ac543f42fe",
          "aff27a3b-2760-4966-be5d-77d7379209f7",
          "5fedb300-ae98-451b-9fb2-63732d07a0e0"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": "11996"
      },
      "ResponseBody": {
        "value": [
          {
            "properties": {
              "storageSyncServiceStatus": 0,
              "incomingTrafficPolicy": "AllowAllTraffic",
              "privateEndpointConnections": [],
              "provisioningStat[...]
