{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/e29c162a-d1d4-4cc3-8295-80057c1f4bd9?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11894"
      },
      "ResponseBody": {
        "id": "/subscriptions/e29c162a-d1d4-4cc3-8295-80057c1f4bd9",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "tags": {
          "NRMS12882909": "20220707"
        },
        "subscriptionId": "e29c162a-d1d4-4cc3-8295-80057c1f4bd9",
        "tenantId": "0483643a-cb2f-462a-bc27-1a270e5bdc0a",
        "displayName": "KAILANI-INT-02",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/e29c162a-d1d4-4cc3-8295-80057c1f4bd9/resourcegroups/afs-sdk-rg8269?api-version=2022-09-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {
          "test": "env"
        },
        "location": "eastus2"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1179"
      },
      "ResponseBody": {
        "id": "/subscriptions/e29c162a-d1d4-4cc3-8295-80057c1f4bd9/resourceGroups/afs-sdk-rg8269",
        "name": "afs-sdk-rg8269",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "eastus2",
        "tags": {
          "test": "env"
        },
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/e29c162a-d1d4-4cc3-8295-80057c1f4bd9/resourceGroups/afs-sdk-rg8269/providers/Microsoft.StorageSync/storageSyncServices/afs-sdk-sss-create6834?api-version=2022-09-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {
          "key1": "value1",
          "key2": "value2"
        },
        "location": "centraluseuap",
        "properties": {}
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/e29c162a-d1d4-4cc3-8295-80057c1f4bd9/providers/Microsoft.StorageSync/locations/centraluseuap/operations/eyJwYXJ0aXRpb25JZCI6IjdjNTdhNmM0LWViODItNDAyOC1iYTkxLTljZmMwMmVjZjdmNyIsIndvcmtmbG93SWQiOiI1OWQ1YTFlNS02NDBmLTRhYjMtODZhOC1lM2M1ZTk4ODYxYmYiLCJ3b3JrZmxvd09wZXJhdGlvbklkIjoiODdjMTRlNTUtMzVlNS00MzJiLWE0ZDQtYjMxMmU5MzVhYzU4In0=?api-version=2022-09-01\u0026t=638362337223495947\u0026c=MIIHHjCCBgagAwIBAgITfwI8ooo2761TEgO3SgAEAjyiijANBgkqhkiG9w0BAQsFADBEMR[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/e29c162a-d1d4-4cc3-8295-80057c1f4bd9/providers/Microsoft.StorageSync/locations/centraluseuap/operations/eyJwYXJ0aXRpb25JZCI6IjdjNTdhNmM0LWViODItNDAyOC1iYTkxLTljZmMwMmVjZjdmNyIsIndvcmtmbG93SWQiOiI1OWQ1YTFlNS02NDBmLTRhYjMtODZhOC1lM2M1ZTk4ODYxYmYiLCJ3b3JrZmxvd09wZXJhdGlvbklkIjoiODdjMTRlNTUtMzVlNS00MzJiLWE0ZDQtYjMxMmU5MzVhYzU4In0=?api-version=2022-09-01\u0026t=638362337223495947\u0026c=MIIHHjCCBgagAwIBAgITfwI8ooo2761TEgO3SgAEAjyii[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/e29c162a-d1d4-4cc3-8295-80057c1f4bd9/resourceGroups/afs-sdk-rg8269/providers/Microsoft.StorageSync/storageSyncServices/afs-sdk-sss-create6834?api-version=2022-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "db70b06e-fb9b-4f33-9511-22d3b91c9b1d",
        "x-ms-ratelimit-remaining-subscription-reads": "11887",
        "X-ServiceFabricRequestId": "aeaefae2-6c58-47db-9e41-4dae8a002cce"
      },
      "ResponseBody": {
        "properties": {
          "storageSyncServiceStatus": 0,
          "incomingTrafficPolicy": "AllowAllTraffic",
          "privateEndpointConnections": [],
          "provisioningState": "Succeeded",
          "lastWorkflowId": "storageSyncServices/afs-sdk-sss-create6834/workflows/59d5a1e5-640f-4ab3-86a8-e3c5e98861bf",
          "lastOperationName": "ICreateStorageSyncServiceWorkflow2"
        },
        "location": "centraluseuap",
        "tags": {
          "key1": "value1",
          "key2": "value2"
        },
        "id": "/subscriptions/e29c162a-d1d4-4cc3-8295-80057c1f4bd9/resourceGroups/afs-sdk-rg8269/providers/Microsoft.StorageSync/storageSyncServices/afs-sdk-sss-create6834",
        "name": "afs-sdk-sss-create6834",
        "type": "Microsoft.StorageSync/storageSyncServices",
        "systemData": {
          "createdBy": "c8b36958-2a0a-423d-bba9-98ff3af75f58",
          "createdByType": "Application",
          "createdAt": "2023-11-22T07:08:42.1620949Z",
          "lastModifiedBy": "c8b36958-2a0a-423d-bba9-98ff3af75f58",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2023-11-22T07:08:42.1620949Z"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/e29c162a-d1d4-4cc3-8295-80057c1f4bd9/resourceGroups/afs-sdk-rg8269/providers/Microsoft.StorageSync/storageSyncServices?api-version=2022-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "0a536105-6554-438c-98ed-8331c874e1d9",
        "x-ms-ratelimit-remaining-subscription-reads": "11886",
        "X-ServiceFabricRequestId": "9f69a0d3-a5cf-4ff3-900a-093a26c69ba8"
      },
      "ResponseBody": {
        "value": [
          {
            "properties": {
              "storageSyncServiceStatus": 0,
              "incomingTrafficPolicy": "AllowAllTraffic",
              "privateEndpointConnections": [],
              "provisioningState": "Succeeded",
              "lastWorkflowId": "storageSyncServices/afs-sdk-sss-create6834/workflows/59d5a1e5-640f-4ab3-86a8-e3c5e98861bf",
              "lastOperationName": "ICreateStorageSyncServiceWorkflow2"
            },
            "location": "centraluseuap",
            "tags": {
              "key1": "value1",
              "key2": "value2"
            },
            "id": "/subscriptions/e29c162a-d1d4-4cc3-8295-80057c1f4bd9/resourceGroups/afs-sdk-rg8269/providers/Microsoft.StorageSync/storageSyncServices/afs-sdk-sss-create6834",
            "name": "afs-sdk-sss-create6834",
            "type": "Microsoft.StorageSync/storageSyncServices",
            "systemData": {
              "createdBy": "c8b36958-2a0a-423d-bba9-98ff3af75f58",
              "createdByType": "Application",
              "createdAt": "2023-11-22T07:08:42.1620949Z",
              "lastModifiedBy": "c8b36958-2a0a-423d-bba9-98ff3af75f58",
              "lastModifiedByType": "Application",
              "lastModifiedAt": "2023-11-22T07:08:42.1620949Z"
            }
          }
        ]
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/e29c162a-d1d4-4cc3-8295-80057c1f4bd9/providers/Microsoft.StorageSync/storageSyncServices?api-version=2022-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "6d778e23-2943-45da-905a-df9f1b8094de",
     [...]
