{
  "Entries": [
    {
      "RequestUri": "https://zhojie-test-acs-1122-canary-contentsafety.cognitiveservices.azure.com/contentsafety/text/blocklists/TestBlocklist?api-version=2023-10-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Content-Type": "application/merge-patch\u002Bjson",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "description": "Test blocklist management"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2023-04-30-preview,2023-10-01,2023-10-15-preview,2023-10-30",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "Central US EUAP"
      },
      "ResponseBody": {
        "blocklistName": "TestBlocklist",
        "description": "Test blocklist management"
      }
    },
    {
      "RequestUri": "https://zhojie-test-acs-1122-canary-contentsafety.cognitiveservices.azure.com/contentsafety/text/blocklists/TestBlocklist:addOrUpdateBlocklistItems?api-version=2023-10-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "blocklistItems": [
          {
            "text": "k*ll"
          },
          {
            "text": "h*te"
          }
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2023-04-30-preview,2023-10-01,2023-10-15-preview,2023-10-30",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "Central US EUAP"
      },
      "ResponseBody": {
        "blocklistItems": [
          {
            "blocklistItemId": "fbc19859-0069-4dc5-953c-afa7ce57b771",
            "text": "k*ll"
          },
          {
            "blocklistItemId": "ec23014f-71ad-4c53-9b62-8f1c0d142bc9",
            "text": "h*te"
          }
        ]
      }
    },
    {
      "RequestUri": "https://zhojie-test-acs-1122-canary-contentsafety.cognitiveservices.azure.com/contentsafety/text/blocklists/TestBlocklist:removeBlocklistItems?api-version=2023-10-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "blocklistItemIds": [
          "fbc19859-0069-4dc5-953c-afa7ce57b771"
        ]
      },
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2023-04-30-preview,2023-10-01,2023-10-15-preview,2023-10-30",
        "x-ms-region": "Central US EUAP"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "CONTENT_SAFETY_ENDPOINT": "https://zhojie-test-acs-1122-canary-contentsafety.cognitiveservices.azure.com",
    "CONTENT_SAFETY_KEY": "Sanitized",
    "RandomSeed": "99101707"
  }
}
