{
  "Entries": [
    {
      "RequestUri": "https://zhojie-test-acs-1122-canary-contentsafety.cognitiveservices.azure.com/contentsafety/text/blocklists/TestBlocklist?api-version=2023-10-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Content-Type": "application/merge-patch\u002Bjson",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "description": "Test blocklist management"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2023-04-30-preview,2023-10-01,2023-10-15-preview,2023-10-30",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://zhojie-test-acs-1122-canary-contentsafety.cognitiveservices.azure.com/contentsafety/text/blocklists/TestBlocklist?api-version=2023-10-01",
        "x-ms-region": "Central US EUAP"
      },
      "ResponseBody": {
        "blocklistName": "TestBlocklist",
        "description": "Test blocklist management"
      }
    },
    {
      "RequestUri": "https://zhojie-test-acs-1122-canary-contentsafety.cognitiveservices.azure.com/contentsafety/text/blocklists/TestBlocklist?api-version=2023-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2023-04-30-preview,2023-10-01,2023-10-15-preview,2023-10-30",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "Central US EUAP"
      },
      "ResponseBody": {
        "blocklistName": "TestBlocklist",
        "description": "Test blocklist management"
      }
    }
  ],
  "Variables": {
    "CONTENT_SAFETY_ENDPOINT": "https://zhojie-test-acs-1122-canary-contentsafety.cognitiveservices.azure.com",
    "CONTENT_SAFETY_KEY": "Sanitized",
    "RandomSeed": "663562471"
  }
}
