{
  "Entries": [
    {
      "RequestUri": "https://zhojie-test-acs-1122-canary-contentsafety.cognitiveservices.azure.com/contentsafety/text/blocklists/TestBlocklist?api-version=2023-10-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Content-Type": "application/merge-patch\u002Bjson",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "description": "Test blocklist management"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2023-04-30-preview,2023-10-01,2023-10-15-preview,2023-10-30-preview",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "Central US EUAP"
      },
      "ResponseBody": {
        "blocklistName": "TestBlocklist",
        "description": "Test blocklist management"
      }
    },
    {
      "RequestUri": "https://zhojie-test-acs-1122-canary-contentsafety.cognitiveservices.azure.com/contentsafety/text/blocklists/TestBlocklist:addOrUpdateBlocklistItems?api-version=2023-10-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "blocklistItems": [
          {
            "text": "k*ll"
          },
          {
            "text": "h*te"
          }
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2023-04-30-preview,2023-10-01,2023-10-15-preview,2023-10-30-preview",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "Central US EUAP"
      },
      "ResponseBody": {
        "blocklistItems": [
          {
            "blocklistItemId": "98e7c6d3-9f93-43e5-bf9c-5b624b427e96",
            "text": "k*ll"
          },
          {
            "blocklistItemId": "740b8728-d20d-4ea9-890d-c9f79c0bcdd3",
            "text": "h*te"
          }
        ]
      }
    }
  ],
  "Variables": {
    "CONTENT_SAFETY_ENDPOINT": "https://zhojie-test-acs-1122-canary-contentsafety.cognitiveservices.azure.com",
    "CONTENT_SAFETY_KEY": "Sanitized",
    "RandomSeed": "24112602"
  }
}
