{
  "Entries": [
    {
      "RequestUri": "https://zhojie-test-acs-1122-canary-contentsafety.cognitiveservices.azure.com/contentsafety/text/blocklists/TestBlocklist?api-version=2023-10-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Content-Type": "application/merge-patch\u002Bjson",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "description": "Test blocklist management"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2023-04-30-preview,2023-10-01,2023-10-15-preview,2023-10-30",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "Central US EUAP"
      },
      "ResponseBody": {
        "blocklistName": "TestBlocklist",
        "description": "Test blocklist management"
      }
    },
    {
      "RequestUri": "https://zhojie-test-acs-1122-canary-contentsafety.cognitiveservices.azure.com/contentsafety/text/blocklists/TestBlocklist:addOrUpdateBlocklistItems?api-version=2023-10-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "blocklistItems": [
          {
            "text": "This is a test."
          },
          {
            "text": "This is a test 2."
          },
          {
            "text": "This is a test 3."
          },
          {
            "text": "This is a test 4."
          },
          {
            "text": "This is a test 5."
          }
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2023-04-30-preview,2023-10-01,2023-10-15-preview,2023-10-30",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "Central US EUAP"
      },
      "ResponseBody": {
        "blocklistItems": [
          {
            "blocklistItemId": "02e95fe0-bd44-4bed-8eae-a436957874db",
            "text": "This is a test."
          },
          {
            "blocklistItemId": "6a0194bb-4f0e-4e2c-bb83-509456f47593",
            "text": "This is a test 2."
          },
          {
            "blocklistItemId": "894d6006-71c2-45ad-8c11-1723a19d800f",
            "text": "This is a test 3."
          },
          {
            "blocklistItemId": "410b19de-87d1-4d12-be46-d39050d53d8d",
            "text": "This is a test 4."
          },
          {
            "blocklistItemId": "2d129fd8-1936-45e8-bd03-b0ba605172cd",
            "text": "This is a test 5."
          }
        ]
      }
    },
    {
      "RequestUri": "https://zhojie-test-acs-1122-canary-contentsafety.cognitiveservices.azure.com/contentsafety/text/blocklists/TestBlocklist/blocklistItems?api-version=2023-10-01\u0026top=2",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2023-04-30-preview,2023-10-01,2023-10-15-preview,2023-10-30",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "Central US EUAP"
      },
      "ResponseBody": {
        "value": [
          {
            "blocklistItemId": "2d129fd8-1936-45e8-bd03-b0ba605172cd",
            "text": "This is a test 5."
          },
          {
            "blocklistItemId": "410b19de-87d1-4d12-be46-d39050d53d8d",
            "text": "This is a test 4."
          }
        ]
      }
    },
    {
      "RequestUri": "https://zhojie-test-acs-1122-canary-contentsafety.cognitiveservices.azure.com/contentsafety/text/blocklists/TestBlocklist/blocklistItems?api-version=2023-10-01\u0026skip=2",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2023-04-30-preview,2023-10-01,2023-10-15-preview,2023-10-30",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "Central US EUAP"
      },
      "ResponseBody": {
        "value": [
          {
            "blocklistItemId": "894d6006-71c2-45ad-8c11-1723a19d800f",
            "text": "This is a test 3."
          },
          {
            "blocklistItemId": "6a0194bb-4f0e-4e2c-bb83-509456f47593",
            "text": "This is a test 2."
          },
          {
            "blocklistItemId": "02e95fe0-bd44-4bed-8eae-a436957874db",
            "text": "This is a test."
          },
          {
            "blocklistItemId": "98e7c6d3-9f93-43e5-bf9c-5b624b427e96",
            "text": "k*ll"
          },
          {
            "blocklistItemId": "740b8728-d20d-4ea9-890d-c9f79c0bcdd3",
            "text": "h*te"
          }
        ]
      }
    },
    {
      "RequestUri": "https://zhojie-test-acs-1122-canary-contentsafety.cognitiveservices.azure.com/contentsafety/text/blocklists/TestBlocklist/blocklistItems?api-version=2023-10-01\u0026maxpagesize=2",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2023-04-30-preview,2023-10-01,2023-10-15-preview,2023-10-30",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "Central US EUAP"
      },
      "ResponseBody": {
        "value": [
          {
            "blocklistItemId": "2d129fd8-1936-45e8-bd03-b0ba605172cd",
            "text": "This is a test 5."
          },
          {
            "blocklistItemId": "410b19de-87d1-4d12-be46-d39050d53d8d",
            "text": "This is a test 4."
          }
        ],
        "nextLink": "https://zhojie-test-acs-1122-canary-contentsafety.cognitiveservices.azure.com:443/contentsafety/text/blocklists/TestBlocklist/blocklistItems?api-version=2023-10-01\u0026maxpagesize=2\u0026skip=2\u0026top=9998"
      }
    },
    {
      "RequestUri": "https://zhojie-test-acs-1122-canary-contentsafety.cognitiveservices.azure.com/contentsafety/text/blocklists/TestBlocklist/blocklistItems?api-version=2023-10-01\u0026maxpagesize=2\u0026skip=2\u0026top=9998",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2023-04-30-preview,2023-10-01,2023-10-15-preview,2023-10-30",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "Central US EUAP"
      },
      "ResponseBody": {
        "value": [
          {
            "blocklistItemId": "894d6006-71c2-45ad-8c11-1723a19d800f",
            "text": "This is a test 3."
          },
          {
            "blocklistItemId": "6a0194bb-4f0e-4e2c-bb83-509456f47593",
            "text": "This is a test 2."
          }
        ],
        "nextLink": "https://zhojie-test-acs-1122-canary-contentsafety.cognitiveservices.azure.com:443/contentsafety/text/blocklists/TestBlocklist/blocklistItems?api-version=2023-10-01\u0026maxpagesize=2\u0026skip=4\u0026top=9996"
      }
    },
[...]
    {
      "RequestUri": "https://zhojie-test-acs-1122-canary-contentsafety.cognitiveservices.azure.com/contentsafety/text/blocklists/TestBlocklist/blocklistItems?api-version=2023-10-01\u0026maxpagesize=2\u0026skip=6\u0026top=9994",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2023-04-30-preview,2023-10-01,2023-10-15-preview,2023-10-30",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "Central US EUAP"
      },
      "ResponseBody": {
        "value": [
          {
            "blocklistItemId": "740b8728-d20d-4ea9-890d-c9f79c0bcdd3",
            "text": "h*te"
          }
        ]
      }
    }
  ],
  "Variables": {
    "CONTENT_SAFETY_ENDPOINT": "https://zhojie-test-acs-1122-canary-contentsafety.cognitiveservices.azure.com",
    "CONTENT_SAFETY_KEY": "Sanitized",
    "RandomSeed": "778089744"
  }
}
