{
  "Entries": [
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-2e193558-5f40-6e15-27cc-eac7b2b4166a?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:31:52 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8680D98C0A5C\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:31:54 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-2e193558-5f40-6e15-27cc-eac7b2b4166a/test-blob-4cd6f065-a8fa-9e3b-2eeb-dedf26410c19",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Thu, 06 Jun 2024 23:31:52 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8680D99709AE\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:31:54 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-2e193558-5f40-6e15-27cc-eac7b2b4166a/test-blob-4cd6f065-a8fa-9e3b-2eeb-dedf26410c19?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Modified-Since": "Fri, 07 Jun 2024 23:31:52 GMT",
        "x-ms-date": "Thu, 06 Jun 2024 23:31:52 GMT",
        "x-ms-page-write": "clear",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ConditionNotMet",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ConditionNotMet</Code><Message>The condition specified using HTTP conditional header(s) is not met.\n",
        "RequestId:c56764b1-a01e-0089-4869-b84cf4000000\n",
        "Time:2024-06-06T23:31:54.5146709Z</Message></Error>"
      ]
    },
[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-8e067e2d-d1db-16ba-47a0-ad81e9cf45e0/test-blob-55279ce5-a284-9523-f7ae-111cc2d38b33?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Unmodified-Since": "Wed, 05 Jun 2024 23:31:52 GMT",
        "x-ms-date": "Thu, 06 Jun 2024 23:31:53 GMT",
        "x-ms-page-write": "clear",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ConditionNotMet",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ConditionNotMet</Code><Message>The condition specified using HTTP conditional header(s) is not met.\n",
        "RequestId:c56764cc-a01e-0089-6269-b84cf4000000\n",
        "Time:2024-06-06T23:31:54.8435606Z</Message></Error>"
      ]
    },
[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-77c73cc6-7b71-3f05-3e18-1bd3ccca2d4f/test-blob-916c9448-6f88-f8fd-a43b-7a4e816b2bd7?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"garbage\"",
        "x-ms-date": "Thu, 06 Jun 2024 23:31:53 GMT",
        "x-ms-page-write": "clear",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ConditionNotMet",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ConditionNotMet</Code><Message>The condition specified using HTTP conditional header(s) is not met.\n",
        "RequestId:c56764f2-a01e-0089-0669-b84cf4000000\n",
        "Time:2024-06-06T23:31:55.1894455Z</Message></Error>"
      ]
    },
[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-b9732244-60de-4e24-fd24-f3d6f40d3ca7/test-blob-ddd40a7d-15fd-a048-44e6-9b39e19a94b7",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:31:53 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC8680DA2EA8E2\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:31:55 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Thu, 06 Jun 2024 23:31:55 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-51e1658f-9cd5-4220-c778-08bf7cf5e901/test-blob-95898b61-b700-bba6-b085-3d7d82ed6615?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:31:54 GMT",
        "x-ms-lease-action": "acquire",
        "x-ms-lease-duration": "-1",
        "x-ms-proposed-lease-id": "fa04ac40-2c09-eeb5-eef4-ce7e5b72a970",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8680DA676748\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:31:55 GMT",
        "x-ms-lease-id": "fa04ac40-2c09-eeb5-eef4-ce7e5b72a970",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-1393dbb3-ea47-2969-1939-74b39c0116e5/test-blob-76a331a9-f2b6-41b7-bfc2-11ceb565a270?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:31:55 GMT",
        "x-ms-if-sequence-number-lt": "-1",
        "x-ms-page-write": "clear",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "InvalidInput",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>InvalidInput</Code><Message>One of the request inputs is not valid.\n",
        "RequestId:c567657f-a01e-0089-0369-b84cf4000000\n",
        "Time:2024-06-06T23:31:56.5629877Z</Message></Error>"
      ]
    },
[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-e4f297b0-4742-5b47-2946-288d429f7617/test-blob-f205d7e5-e0ba-d052-5971-e72ae4f2c4ef?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:31:55 GMT",
        "x-ms-if-sequence-number-le": "-1",
        "x-ms-page-write": "clear",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "InvalidInput",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>InvalidInput</Code><Message>One of the request inputs is not valid.\n",
        "RequestId:c56765e5-a01e-0089-5169-b84cf4000000\n",
        "Time:2024-06-06T23:31:57.4786825Z</Message></Error>"
      ]
    },
[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-5fb01f56-a3f1-0c1f-a456-862e680401be/test-blob-cc81c6ee-4033-db61-cc91-1e16abee751f?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:31:56 GMT",
        "x-ms-if-sequence-number-eq": "100",
        "x-ms-page-write": "clear",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "SequenceNumberConditionNotMet",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>SequenceNumberConditionNotMet</Code><Message>The sequence number condition specified was not met.\n",
        "RequestId:c567660f-a01e-0089-7a69-b84cf4000000\n",
        "Time:2024-06-06T23:31:57.8485600Z</Message></Error>"
      ]
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-5fb01f56-a3f1-0c1f-a456-862e680401be?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:31:56 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-06-06T18:31:52.7919207-05:00",
    "RandomSeed": "340658913",
    "Storage_TestConfigDefault": "ProductionTenant\nseancanary\nU2FuaXRpemVk\nhttps://seancanary.blob.core.windows.net\nhttps://seancanary.file.core.windows.net\nhttps://seancanary.queue.core.windows.net\nhttps://seancanary.table.core.windows.net\n\n\n\n\nhttps://seancanary-secondary.blob.core.windows.net\nhttps://seancanary-secondary.file.core.windows.net\nhttps://seancanary-secondary.queue.core.windows.net\nhttps://seancanary-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seancanary.blob.core.windows.net/;QueueEndpoint=https://seancanary.queue.core.windows.net/;FileEndpoint=https://seancanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seancanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seancanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seancanary-secondary.file.core.windows.net/;AccountName=seancanary;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
