{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-bb453fe8-be34-3a23-0682-0d480722d062?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 13 Feb 2025 01:25:29 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD4BCD4D863B36\"",
        "Last-Modified": "Thu, 13 Feb 2025 01:25:29 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-bb453fe8-be34-3a23-0682-0d480722d062/test-blob-a837c803-dd00-85c3-5a8e-c34655fb7db7",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-content-length": "4096",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Thu, 13 Feb 2025 01:25:29 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD4BCD4D8E8C5D\"",
        "Last-Modified": "Thu, 13 Feb 2025 01:25:29 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-bb453fe8-be34-3a23-0682-0d480722d062/test-blob-a837c803-dd00-85c3-5a8e-c34655fb7db7?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 13 Feb 2025 01:25:29 GMT",
        "x-ms-page-write": "clear",
        "x-ms-range": "bytes=5120-6143",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 416,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "InvalidPageRange",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>InvalidPageRange</Code><Message>The page range specified is invalid.\n",
        "RequestId:0912e004-901e-0048-79b6-7dbd83000000\n",
        "Time:2025-02-13T01:25:29.8835889Z</Message></Error>"
      ]
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-bb453fe8-be34-3a23-0682-0d480722d062?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 13 Feb 2025 01:25:30 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "169782890",
    "Storage_TestConfigDefault": "ProductionTenant\namandapreprod\nU2FuaXRpemVk\nhttps://amandapreprod.blob.core.windows.net\nhttps://amandapreprod.file.core.windows.net\nhttps://amandapreprod.queue.core.windows.net\nhttps://amandapreprod.table.core.windows.net\n\n\n\n\nhttps://amandapreprod-secondary.blob.core.windows.net\nhttps://amandapreprod-secondary.file.core.windows.net\nhttps://amandapreprod-secondary.queue.core.windows.net\nhttps://amandapreprod-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandapreprod.blob.core.windows.net/;QueueEndpoint=https://amandapreprod.queue.core.windows.net/;FileEndpoint=https://amandapreprod.file.core.windows.net/;BlobSecondaryEndpoint=https://amandapreprod-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandapreprod-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandapreprod-secondary.file.core.windows.net/;AccountName=amandapreprod;AccountKey=U2FuaXRpemVk\nEncryptionScope\n\n"
  }
}
