{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-18fcc947-3844-e777-c092-2b473c5061c1?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 13 Feb 2025 01:25:26 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD4BCD4BA637B0\"",
        "Last-Modified": "Thu, 13 Feb 2025 01:25:26 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-18fcc947-3844-e777-c092-2b473c5061c1/test-blob-c8f8dd3b-90e4-3beb-48c7-b75533c510da",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Thu, 13 Feb 2025 01:25:26 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD4BCD4BC102E4\"",
        "Last-Modified": "Thu, 13 Feb 2025 01:25:26 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-18fcc947-3844-e777-c092-2b473c5061c1/test-blob-c8f8dd3b-90e4-3beb-48c7-b75533c510da?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 13 Feb 2025 01:25:26 GMT",
        "x-ms-page-write": "clear",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD4BCD4BCBF307\"",
        "Last-Modified": "Thu, 13 Feb 2025 01:25:26 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-db27945c-a471-8ad1-2e45-6ea944bdded0/test-blob-2964f822-4588-574d-9ad4-694a4fefabd8?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Modified-Since": "Wed, 12 Feb 2025 01:25:26 GMT",
        "x-ms-date": "Thu, 13 Feb 2025 01:25:27 GMT",
        "x-ms-page-write": "clear",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD4BCD4C0890E3\"",
        "Last-Modified": "Thu, 13 Feb 2025 01:25:27 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-2fb5190e-f369-ca50-f91f-80ed2f2e7da1/test-blob-0f4c495e-9727-c526-3b78-c67ad4f4a529?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Unmodified-Since": "Fri, 14 Feb 2025 01:25:26 GMT",
        "x-ms-date": "Thu, 13 Feb 2025 01:25:27 GMT",
        "x-ms-page-write": "clear",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD4BCD4C2FE9EA\"",
        "Last-Modified": "Thu, 13 Feb 2025 01:25:27 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-34a1b7f0-bdda-3f3f-14b3-c4443ae2f825/test-blob-699ec998-cbf5-65fa-5dc3-c9f830398da2",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 13 Feb 2025 01:25:27 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD4BCD4C4FD133\"",
        "Last-Modified": "Thu, 13 Feb 2025 01:25:27 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Thu, 13 Feb 2025 01:25:27 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-34a1b7f0-bdda-3f3f-14b3-c4443ae2f825/test-blob-699ec998-cbf5-65fa-5dc3-c9f830398da2?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "0x8DD4BCD4C4FD133",
        "x-ms-date": "Thu, 13 Feb 2025 01:25:27 GMT",
        "x-ms-page-write": "clear",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD4BCD4C636A43\"",
        "Last-Modified": "Thu, 13 Feb 2025 01:25:27 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-3a413983-714d-3330-e848-ef39067ae142/test-blob-32995013-b3c9-1971-a71a-0dd68cdc8b33?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 13 Feb 2025 01:25:28 GMT",
        "x-ms-lease-action": "acquire",
        "x-ms-lease-duration": "-1",
        "x-ms-proposed-lease-id": "4e1a660b-160f-d17c-7641-143b406d48ea",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD4BCD4CA86331\"",
        "Last-Modified": "Thu, 13 Feb 2025 01:25:28 GMT",
        "x-ms-lease-id": "4e1a660b-160f-d17c-7641-143b406d48ea",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-a0f6b29f-481f-8aac-aabd-0e51c26262e2/test-blob-919b50ac-230b-9e45-ab30-a5a5cd7ae8ab?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 13 Feb 2025 01:25:28 GMT",
        "x-ms-if-sequence-number-lt": "5",
        "x-ms-page-write": "clear",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD4BCD4CE4B33E\"",
        "Last-Modified": "Thu, 13 Feb 2025 01:25:28 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-c3957230-3c97-98b0-153e-dfe2b2efeff0/test-blob-435e55c3-5bfc-55d0-4ce2-5130eaf8399b?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 13 Feb 2025 01:25:29 GMT",
        "x-ms-if-sequence-number-le": "3",
        "x-ms-page-write": "clear",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD4BCD4D0DB80C\"",
        "Last-Modified": "Thu, 13 Feb 2025 01:25:28 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-c784528c-c770-61ce-cb73-23f40baca959/test-blob-41b830b3-d341-5576-34d4-902df852dbae?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 13 Feb 2025 01:25:29 GMT",
        "x-ms-if-sequence-number-eq": "0",
        "x-ms-page-write": "clear",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD4BCD4D35ACA5\"",
        "Last-Modified": "Thu, 13 Feb 2025 01:25:29 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-c784528c-c770-61ce-cb73-23f40baca959?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 13 Feb 2025 01:25:29 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2025-02-12T20:25:26.7133069-05:00",
    "RandomSeed": "349858749",
    "Storage_TestConfigDefault": "ProductionTenant\namandapreprod\nU2FuaXRpemVk\nhttps://amandapreprod.blob.core.windows.net\nhttps://amandapreprod.file.core.windows.net\nhttps://amandapreprod.queue.core.windows.net\nhttps://amandapreprod.table.core.windows.net\n\n\n\n\nhttps://amandapreprod-secondary.blob.core.windows.net\nhttps://amandapreprod-secondary.file.core.windows.net\nhttps://amandapreprod-secondary.queue.core.windows.net\nhttps://amandapreprod-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandapreprod.blob.core.windows.net/;QueueEndpoint=https://amandapreprod.queue.core.windows.net/;FileEndpoint=https://amandapreprod.file.core.windows.net/;BlobSecondaryEndpoint=https://amandapreprod-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandapreprod-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandapreprod-secondary.file.core.windows.net/;AccountName=amandapreprod;AccountKey=U2FuaXRpemVk\nEncryptionScope\n\n"
  }
}
