{
  "Entries": [
    {
      "RequestUri": "https://amandacanarypremium.blob.core.windows.net/test-container-3510aadb-dd45-226a-01c1-473828ee803d?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 21 Apr 2025 23:22:27 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD812B61E2F488\"",
        "Last-Modified": "Mon, 21 Apr 2025 23:22:28 GMT",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandacanarypremium.blob.core.windows.net/test-container-3510aadb-dd45-226a-01c1-473828ee803d/test-blob-8d3e035c-1cc2-d2f7-e96f-cac10ca801f8",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Mon, 21 Apr 2025 23:22:28 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD812B6212BAB0\"",
        "Last-Modified": "Mon, 21 Apr 2025 23:22:28 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandacanarypremium.blob.core.windows.net/test-container-3510aadb-dd45-226a-01c1-473828ee803d/test-blob-8d3e035c-1cc2-d2f7-e96f-cac10ca801f8",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-access-tier": "P60",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Mon, 21 Apr 2025 23:22:28 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD812B6223979C\"",
        "Last-Modified": "Mon, 21 Apr 2025 23:22:28 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandacanarypremium.blob.core.windows.net/test-container-3510aadb-dd45-226a-01c1-473828ee803d/test-blob-8d3e035c-1cc2-d2f7-e96f-cac10ca801f8",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 21 Apr 2025 23:22:28 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD812B6223979C\"",
        "Last-Modified": "Mon, 21 Apr 2025 23:22:28 GMT",
        "x-ms-access-tier": "P60",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Mon, 21 Apr 2025 23:22:28 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandacanarypremium.blob.core.windows.net/test-container-3510aadb-dd45-226a-01c1-473828ee803d?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 21 Apr 2025 23:22:28 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1293571233",
    "Storage_TestConfigPremiumBlob": "PremiumTenant\namandacanarypremium\nU2FuaXRpemVk\nhttps://amandacanarypremium.blob.core.windows.net\n\n\n\n\n\n\n\nhttps://amandacanarypremium-secondary.blob.core.windows.net\n\n\n\nCloud\nBlobEndpoint=https://amandacanarypremium.blob.core.windows.net/;BlobSecondaryEndpoint=https://amandacanarypremium-secondary.blob.core.windows.net/;AccountName=amandacanarypremium;AccountKey=U2FuaXRpemVk\n\n\n"
  }
}
