{
  "Entries": [
    {
      "RequestUri": "https://seanpremiumpageblob.blob.core.windows.net/test-container-a84ed42b-e4b6-a8ac-fa7a-0ccb493bd088?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 05 Jun 2025 20:45:30 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDA471E90EF544\"",
        "Last-Modified": "Thu, 05 Jun 2025 20:45:30 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanpremiumpageblob.blob.core.windows.net/test-container-a84ed42b-e4b6-a8ac-fa7a-0ccb493bd088/test-blob-9e952ad2-a820-ff95-2940-5bc87599ae59",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Thu, 05 Jun 2025 20:45:30 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDA471E92CEB1E\"",
        "Last-Modified": "Thu, 05 Jun 2025 20:45:30 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanpremiumpageblob.blob.core.windows.net/test-container-a84ed42b-e4b6-a8ac-fa7a-0ccb493bd088/test-blob-9e952ad2-a820-ff95-2940-5bc87599ae59",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-access-tier": "P60",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Thu, 05 Jun 2025 20:45:30 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDA471E9380231\"",
        "Last-Modified": "Thu, 05 Jun 2025 20:45:30 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanpremiumpageblob.blob.core.windows.net/test-container-a84ed42b-e4b6-a8ac-fa7a-0ccb493bd088/test-blob-9e952ad2-a820-ff95-2940-5bc87599ae59",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 05 Jun 2025 20:45:30 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DDA471E9380231\"",
        "Last-Modified": "Thu, 05 Jun 2025 20:45:30 GMT",
        "x-ms-access-tier": "P60",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Thu, 05 Jun 2025 20:45:30 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanpremiumpageblob.blob.core.windows.net/test-container-a84ed42b-e4b6-a8ac-fa7a-0ccb493bd088?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 05 Jun 2025 20:45:30 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1843497047",
    "Storage_TestConfigPremiumBlob": "PremiumBlobTenant\nseanpremiumpageblob\nU2FuaXRpemVk\nhttps://seanpremiumpageblob.blob.core.windows.net\nhttp://seanpremiumpageblob.file.core.windows.net\nhttp://seanpremiumpageblob.queue.core.windows.net\nhttp://seanpremiumpageblob.table.core.windows.net\n\n\n\n\nhttp://seanpremiumpageblob-secondary.blob.core.windows.net\nhttp://seanpremiumpageblob-secondary.file.core.windows.net\nhttp://seanpremiumpageblob-secondary.queue.core.windows.net\nhttp://seanpremiumpageblob-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seanpremiumpageblob.blob.core.windows.net/;QueueEndpoint=http://seanpremiumpageblob.queue.core.windows.net/;FileEndpoint=http://seanpremiumpageblob.file.core.windows.net/;BlobSecondaryEndpoint=http://seanpremiumpageblob-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanpremiumpageblob-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanpremiumpageblob-secondary.file.core.windows.net/;AccountName=seanpremiumpageblob;AccountKey=U2FuaXRpemVk\n\n\n"
  }
}
