{
  "Entries": [
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-abe881fe-9fbf-1612-dbe6-10bcdad7fc8d?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:30:41 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8680AECC71AD\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:30:42 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-abe881fe-9fbf-1612-dbe6-10bcdad7fc8d/test-blob-30d9b012-f6d2-6474-2aa7-2177b181555e",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-content-length": "4096",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Thu, 06 Jun 2024 23:30:41 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8680AEDFA615\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:30:42 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-abe881fe-9fbf-1612-dbe6-10bcdad7fc8d/test-blob-30d9b012-f6d2-6474-2aa7-2177b181555e?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 06 Jun 2024 23:30:41 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "Irmq0MyPLrcj9RGzpwDje36b+qUCRLtGT6gQ9eQ0JqVVOFHHBFm57d3H7a2nQ+cq2/vaIX8kE97+ZIAkfjnT785rXm6uG3cl4gzHO1YNnwzB5RnoWgUlMCVzyJ/YlW+k9P7fO+R4fL+EtD5yXNeH8cVzYpkf6pXJRi1JO1LXTE2dI0dYLmMnSWlZY6XGstRN7NfaZDLWhAlpFfS3LkFtrGfx1DmQLsNhTBgvxofvApNZ/E57/ecax58+7xhucBso7Lc+1N6avL0TeBgapr6CeRJhXTHy8a9/1w2aUj6r8tz9B9nPsS61vj+QZ4TP/yHgvHUFDRLpNfoIvv3RAGp+aIY8HJ7kssjkrJ7xYYkqsNfruZXJpeXJE9Hfx/Mw5L7VEf/+k+KC/AmtIWFz+NNw3Q0l5UfUtcK[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-abe881fe-9fbf-1612-dbe6-10bcdad7fc8d/test-blob-30d9b012-f6d2-6474-2aa7-2177b181555e?comp=snapshot",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:30:41 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8680AEEBB2FE\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:30:42 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-snapshot": "2024-06-06T23:30:42.9165789Z",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-abe881fe-9fbf-1612-dbe6-10bcdad7fc8d/test-blob-30d9b012-f6d2-6474-2aa7-2177b181555e?comp=tags",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/xml",
        "x-ms-date": "Thu, 06 Jun 2024 23:30:41 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "\uFEFF<Tags><TagSet><Tag><Key>coolTag</Key><Value>true</Value></Tag></TagSet></Tags>",
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-abe881fe-9fbf-1612-dbe6-10bcdad7fc8d/test-blob-30d9b012-f6d2-6474-2aa7-2177b181555e?comp=pagelist&snapshot=2024-06-06T23%3A30%3A43.1415036Z&prevsnapshot=2024-06-06T23%3A30%3A42.9165789Z",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:30:41 GMT",
        "x-ms-if-tags": "\"coolTag\" = 'true'",
        "x-ms-range": "bytes=0-4095",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "ETag": "\"0x8DC8680AF030998\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:30:42 GMT",
        "x-ms-blob-content-length": "4096",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?>\n",
        "<PageList><PageRange><Start>2048</Start><End>3071</End></PageRange></PageList>"
      ]
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-abe881fe-9fbf-1612-dbe6-10bcdad7fc8d?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:30:41 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "447942042",
    "Storage_TestConfigDefault": "ProductionTenant\nseancanary\nU2FuaXRpemVk\nhttps://seancanary.blob.core.windows.net\nhttps://seancanary.file.core.windows.net\nhttps://seancanary.queue.core.windows.net\nhttps://seancanary.table.core.windows.net\n\n\n\n\nhttps://seancanary-secondary.blob.core.windows.net\nhttps://seancanary-secondary.file.core.windows.net\nhttps://seancanary-secondary.queue.core.windows.net\nhttps://seancanary-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seancanary.blob.core.windows.net/;QueueEndpoint=https://seancanary.queue.core.windows.net/;FileEndpoint=https://seancanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seancanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seancanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seancanary-secondary.file.core.windows.net/;AccountName=seancanary;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
