{
  "Entries": [
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-c89a420b-c05f-b766-80b6-afe5fae0e09e?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:30:51 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8680B4CFFEAA\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:30:52 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-c89a420b-c05f-b766-80b6-afe5fae0e09e/test-blob-5faa7e24-baed-e03f-7858-6ec181159cee",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-content-length": "4096",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Thu, 06 Jun 2024 23:30:51 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8680B4DB9451\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:30:52 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-c89a420b-c05f-b766-80b6-afe5fae0e09e/test-blob-5faa7e24-baed-e03f-7858-6ec181159cee?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 06 Jun 2024 23:30:51 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-4095",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "rV7lhkzwb+1bV5GoYGwCHMUHk7/pAAa6jx5FHAYBgatPECV/dgsaPVI/QJA88CXO7xRcyo82XqxXKvcuqlLmWdbmWE9HgqW67FZsqsB2fp/4dy3ypLYcGLJ4J0wU7JIAWOa5VpfWhmxuod04yrTs4axXNTMk87UfykCdzltYpv/Ea1HZvCcIIvDBgwLY4079i0agvLde3GUxmoxXObgRFvvedF9iEySETxJDY2+yRubyn0IUuOlIZY7spyKasOk4sG0H+m7um3ghG2ykG3n1f1OlZZl1/F4Rlg/QdmsB6p4pC7MCq0t3AwTK85x9o0oV9ijP9EtQwrMO9WRfHiQMHzHOew/G89MHLmGUqwnClPLEun9DMvVS2Ej/87bnGOTgvtNqryc6TwNUx8bquxeqTGBxmmOkyOw[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-c89a420b-c05f-b766-80b6-afe5fae0e09e/test-blob-5faa7e24-baed-e03f-7858-6ec181159cee?comp=snapshot",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:30:51 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8680B4FDBF69\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:30:53 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-snapshot": "2024-06-06T23:30:53.1111879Z",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-c89a420b-c05f-b766-80b6-afe5fae0e09e/test-blob-5faa7e24-baed-e03f-7858-6ec181159cee?comp=pagelist&snapshot=2024-06-06T23%3A30%3A53.5210518Z&prevsnapshot=2024-06-06T23%3A30%3A53.1111879Z&maxresults=1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:30:52 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "ETag": "\"0x8DC8680B53AEA47\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:30:53 GMT",
        "x-ms-blob-content-length": "4096",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?>\n",
        "<PageList><PageRange><Start>0</Start><End>1023</End></PageRange><NextMarker>2!16!MDAwMDA0ITEwMjQh</NextMarker></PageList>"
      ]
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-c89a420b-c05f-b766-80b6-afe5fae0e09e/test-blob-5faa7e24-baed-e03f-7858-6ec181159cee?comp=pagelist&snapshot=2024-06-06T23%3A30%3A53.5210518Z&prevsnapshot=2024-06-06T23%3A30%3A53.1111879Z&marker=2%2116%21MDAwMDA0ITEwMjQh&maxresults=1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:30:53 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "ETag": "\"0x8DC8680B53AEA47\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:30:53 GMT",
        "x-ms-blob-content-length": "4096",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?>\n",
        "<PageList><ClearRange><Start>1024</Start><End>2047</End></ClearRange><NextMarker>2!16!MDAwMDA0ITIwNDgh</NextMarker></PageList>"
      ]
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-c89a420b-c05f-b766-80b6-afe5fae0e09e/test-blob-5faa7e24-baed-e03f-7858-6ec181159cee?comp=pagelist&snapshot=2024-06-06T23%3A30%3A53.5210518Z&prevsnapshot=2024-06-06T23%3A30%3A53.1111879Z&marker=2%2116%21MDAwMDA0ITIwNDgh&maxresults=1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:30:54 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "ETag": "\"0x8DC8680B53AEA47\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:30:53 GMT",
        "x-ms-blob-content-length": "4096",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?>\n",
        "<PageList><PageRange><Start>2048</Start><End>3071</End></PageRange><NextMarker>2!16!MDAwMDA0ITMwNzIh</NextMarker></PageList>"
      ]
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-c89a420b-c05f-b766-80b6-afe5fae0e09e/test-blob-5faa7e24-baed-e03f-7858-6ec181159cee?comp=pagelist&snapshot=2024-06-06T23%3A30%3A53.5210518Z&prevsnapshot=2024-06-06T23%3A30%3A53.1111879Z&marker=2%2116%21MDAwMDA0ITMwNzIh&maxresults=1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:30:54 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "ETag": "\"0x8DC8680B53AEA47\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:30:53 GMT",
        "x-ms-blob-content-length": "4096",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?>\n",
        "<PageList><ClearRange><Start>3072</Start><End>4095</End></ClearRange><NextMarker/></PageList>"
      ]
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-c89a420b-c05f-b766-80b6-afe5fae0e09e?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:30:54 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "549420140",
    "Storage_TestConfigDefault": "ProductionTenant\nseancanary\nU2FuaXRpemVk\nhttps://seancanary.blob.core.windows.net\nhttps://seancanary.file.core.windows.net\nhttps://seancanary.queue.core.windows.net\nhttps://seancanary.table.core.windows.net\n\n\n\n\nhttps://seancanary-secondary.blob.core.windows.net\nhttps://seancanary-secondary.file.core.windows.net\nhttps://seancanary-secondary.queue.core.windows.net\nhttps://seancanary-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seancanary.blob.core.windows.net/;QueueEndpoint=https://seancanary.queue.core.windows.net/;FileEndpoint=https://seancanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seancanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seancanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seancanary-secondary.file.core.windows.net/;AccountName=seancanary;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
