{
  "Entries": [
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-70ca378c-102e-2463-af65-7449814a3048?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:31:04 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8680BCB58FF5\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:31:05 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-70ca378c-102e-2463-af65-7449814a3048/test-blob-84452696-3936-62a5-d399-3481d6e3a2a5",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-content-length": "4096",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Thu, 06 Jun 2024 23:31:04 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8680BCC40D75\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:31:06 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-70ca378c-102e-2463-af65-7449814a3048/test-blob-84452696-3936-62a5-d399-3481d6e3a2a5?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 06 Jun 2024 23:31:04 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "ce7MBE1oJtbtNCtFJjbN/vwV5S35SOGh4Yx27yLD0unONf2nCJjRMoETbZD0aRv8rp55KIr14ykMKyPA8jazKmJBdvA4JvVjRLOs5dtQrHhxeUGESqlf2FLUmt11ED9KYEMusvIqw4ipFeTWSf1Nu36qT3n1Lt+44p6eZIsY7jNzYYWYIvmGR7a52zTFiI5Uht5eysHGVTFjddBTjF78kCexY+h4tZmFIwjCPFOr8lkQSd6tuiNxrAxUNawoM7pXvEoNFCWm3NBF2Ka5Axjdt4N3Q0KAT9YDP7bcJIDsXPBNa4AInt40aW0NZ+F8uKjzdn0psfB41mx0CtRuyrhPWXy2a5eY1BmkQ9nVc+j1hoYN6K0DwqsA1ZUTlJMJxZ+0vQ5kxkwRWqFkhW0WomOEfoNOYOEKTJf[...]
[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-70ca378c-102e-2463-af65-7449814a3048/test-blob-84452696-3936-62a5-d399-3481d6e3a2a5?comp=pagelist&maxresults=1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:31:04 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "ETag": "\"0x8DC8680BCDA79BD\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:31:06 GMT",
        "x-ms-blob-content-length": "4096",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?>\n",
        "<PageList><PageRange><Start>0</Start><End>1023</End></PageRange><NextMarker>2!16!MDAwMDA0ITIwNDgh</NextMarker></PageList>"
      ]
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-70ca378c-102e-2463-af65-7449814a3048/test-blob-84452696-3936-62a5-d399-3481d6e3a2a5?comp=pagelist&marker=2%2116%21MDAwMDA0ITIwNDgh&maxresults=1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:31:04 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "ETag": "\"0x8DC8680BCDA79BD\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:31:06 GMT",
        "x-ms-blob-content-length": "4096",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?>\n",
        "<PageList><PageRange><Start>2048</Start><End>3071</End></PageRange><NextMarker/></PageList>"
      ]
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-70ca378c-102e-2463-af65-7449814a3048?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:31:04 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1329307322",
    "Storage_TestConfigDefault": "ProductionTenant\nseancanary\nU2FuaXRpemVk\nhttps://seancanary.blob.core.windows.net\nhttps://seancanary.file.core.windows.net\nhttps://seancanary.queue.core.windows.net\nhttps://seancanary.table.core.windows.net\n\n\n\n\nhttps://seancanary-secondary.blob.core.windows.net\nhttps://seancanary-secondary.file.core.windows.net\nhttps://seancanary-secondary.queue.core.windows.net\nhttps://seancanary-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seancanary.blob.core.windows.net/;QueueEndpoint=https://seancanary.queue.core.windows.net/;FileEndpoint=https://seancanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seancanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seancanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seancanary-secondary.file.core.windows.net/;AccountName=seancanary;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
