{
  "Entries": [
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-c7952423-201c-3f76-3704-e3afdc8b6635?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:32:37 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8680F414AC68\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:32:38 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-c7952423-201c-3f76-3704-e3afdc8b6635/test-blob-fa58b995-666f-df7f-9a30-f39ce4917816",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-content-length": "4096",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Thu, 06 Jun 2024 23:32:37 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8680F422DF8F\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:32:38 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-c7952423-201c-3f76-3704-e3afdc8b6635/test-blob-fa58b995-666f-df7f-9a30-f39ce4917816?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 06 Jun 2024 23:32:37 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "S9F3hj3PDbyX0FoKPF2COJKazOZCak1UDDRksuc9DHtq69eL6xcbAPCSdfj/KM0e+7lR4FcT/OCDInoJalvUWsPfoFGG9kx6f8v1r/VVVeNmRrYu7CwjV+72B8mdEZWVvRs0IIh8mARs12CLHk3rLsyXoySkpm2Wu0hjj++D3G02X/HZITRa6a2ywRTMmDihC9n8Bm5x8BatnWQ/GQkV6fryVb5bEQyYPLl38uVZyiMQwYMVhtb/xW7aK4PQGtCkndga2UJ5RfrMZMm1+v4xVNNAL1eF/2Ij8pBPgOWJxyLo0lQNPvDhlnuJSSINSstwqdevkOt4H5119uayKcUUQpynzCepJBbjXpjb/LZAFqjF39cO2jc3b7O2l0cJL2y2dAaFZX6jxoXBzDFSnSLnNd8+7EruBmh[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-c7952423-201c-3f76-3704-e3afdc8b6635/test-blob-fa58b995-666f-df7f-9a30-f39ce4917816?comp=snapshot",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:32:37 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8680F4326E97\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:32:39 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-snapshot": "2024-06-06T23:32:39.1479216Z",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-c7952423-201c-3f76-3704-e3afdc8b6635/test-blob-fa58b995-666f-df7f-9a30-f39ce4917816?comp=pagelist&snapshot=2024-06-06T23%3A32%3A39.3108682Z&prevsnapshot=2024-06-06T23%3A32%3A39.1479216Z",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:32:37 GMT",
        "x-ms-if-tags": "\"coolTag\" = 'true'",
        "x-ms-range": "bytes=0-4095",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ConditionNotMet",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?>\n",
        "<Error><Code>ConditionNotMet</Code><Message>The condition specified using HTTP conditional header(s) is not met.\n",
        "RequestId:c5677950-a01e-0089-5769-b84cf4000000\n",
        "Time:2024-06-06T23:32:39.3947503Z</Message></Error>"
      ]
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-c7952423-201c-3f76-3704-e3afdc8b6635?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:32:37 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1958510002",
    "Storage_TestConfigDefault": "ProductionTenant\nseancanary\nU2FuaXRpemVk\nhttps://seancanary.blob.core.windows.net\nhttps://seancanary.file.core.windows.net\nhttps://seancanary.queue.core.windows.net\nhttps://seancanary.table.core.windows.net\n\n\n\n\nhttps://seancanary-secondary.blob.core.windows.net\nhttps://seancanary-secondary.file.core.windows.net\nhttps://seancanary-secondary.queue.core.windows.net\nhttps://seancanary-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seancanary.blob.core.windows.net/;QueueEndpoint=https://seancanary.queue.core.windows.net/;FileEndpoint=https://seancanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seancanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seancanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seancanary-secondary.file.core.windows.net/;AccountName=seancanary;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
