{
  "Entries": [
    {
      "RequestUri": "https://seanpremiumpageblob.blob.core.windows.net/test-container-ace40476-d68d-c867-1039-543776bd09a3?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 20:18:20 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC872EFA1A99CC\"",
        "Last-Modified": "Fri, 07 Jun 2024 20:18:21 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanpremiumpageblob.blob.core.windows.net/test-container-ace40476-d68d-c867-1039-543776bd09a3/test-blob-b5671973-e873-3753-f6b7-81b5ae4b8c6a",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-content-length": "4096",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Fri, 07 Jun 2024 20:18:20 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC872EFA2423D6\"",
        "Last-Modified": "Fri, 07 Jun 2024 20:18:21 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanpremiumpageblob.blob.core.windows.net/test-container-ace40476-d68d-c867-1039-543776bd09a3/test-blob-b5671973-e873-3753-f6b7-81b5ae4b8c6a?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Fri, 07 Jun 2024 20:18:20 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=1024-2047",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "Ugjj8CTp76CaTNQAORlzjDmcJn579nMWSTim2KaEA5IrqvtMoA+TJweheeKm5wsO36Kr9x/idlyVzabrQhb5FUlB1Y4eJuwqCP522XyRb2IsmPkE2AtySDOet9JoqOXxqGOYZBJ977i2ge4ha53fA11Evqkc9D09z4xbf28ZwWAZhTEY+ApPr6hBTlcdUd2Wv7N1JOo71LMmW5WFInBJnL+OB+VsxwtS9A4B26bmIH6vxMC7pJ113rF98px1yY0497GXjkn3KfeoIi/bOvgMQDsX1l2vjvghGSk07tRu3SqByOT0TpI0t5vIEoFumaO5cLJhXfMwiWm5dXQgwzojOkQEWnEUF/Gp4x/C5nt2s3+Fe34iDIA3UT96O9gdE/Rgpdg9aT8xpFjAuHrUbaLuQ8L1mke8[...]
    {
      "RequestUri": "https://seanpremiumpageblob.blob.core.windows.net/test-container-ace40476-d68d-c867-1039-543776bd09a3/test-blob-b5671973-e873-3753-f6b7-81b5ae4b8c6a?comp=snapshot",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 20:18:20 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC872EFA2D6845\"",
        "Last-Modified": "Fri, 07 Jun 2024 20:18:21 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-snapshot": "2024-06-07T20:18:21.5900314Z",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanpremiumpageblob.blob.core.windows.net/test-container-ace40476-d68d-c867-1039-543776bd09a3/test-blob-499d99bf-7dac-f343-ca51-e57ed9679d3d",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-access-tier": "Cool",
        "x-ms-copy-source": "https://seanpremiumpageblob.blob.core.windows.net/test-container-ace40476-d68d-c867-1039-543776bd09a3/test-blob-b5671973-e873-3753-f6b7-81b5ae4b8c6a",
        "x-ms-date": "Fri, 07 Jun 2024 20:18:20 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "InvalidBlobTier",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?>\n",
        "<Error><Code>InvalidBlobTier</Code><Message>The specified blob tier is invalid.\n",
        "RequestId:9370ecc5-801c-0017-4617-b9888e000000\n",
        "Time:2024-06-07T20:18:21.6559518Z</Message></Error>"
      ]
    },
    {
      "RequestUri": "https://seanpremiumpageblob.blob.core.windows.net/test-container-ace40476-d68d-c867-1039-543776bd09a3?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 20:18:20 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "407246695",
    "Storage_TestConfigPremiumBlob": "PremiumBlobTenant\nseanpremiumpageblob\nU2FuaXRpemVk\nhttps://seanpremiumpageblob.blob.core.windows.net\nhttp://seanpremiumpageblob.file.core.windows.net\nhttp://seanpremiumpageblob.queue.core.windows.net\nhttp://seanpremiumpageblob.table.core.windows.net\n\n\n\n\nhttp://seanpremiumpageblob-secondary.blob.core.windows.net\nhttp://seanpremiumpageblob-secondary.file.core.windows.net\nhttp://seanpremiumpageblob-secondary.queue.core.windows.net\nhttp://seanpremiumpageblob-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seanpremiumpageblob.blob.core.windows.net/;QueueEndpoint=http://seanpremiumpageblob.queue.core.windows.net/;FileEndpoint=http://seanpremiumpageblob.file.core.windows.net/;BlobSecondaryEndpoint=http://seanpremiumpageblob-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=http://seanpremiumpageblob-secondary.queue.core.windows.net/;FileSecondaryEndpoint=http://seanpremiumpageblob-secondary.file.core.windows.net/;AccountName=seanpremiumpageblob;AccountKey=Sanitized\n\n\n"
  }
}
