{
  "Entries": [
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-24ccfb6c-fa68-8b31-e648-da56c094c439?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:33:17 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC86810BF91E8B\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:33:18 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-24ccfb6c-fa68-8b31-e648-da56c094c439/test-blob-83f97446-b443-53a3-57a5-fffb4264744f",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-content-length": "4096",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Thu, 06 Jun 2024 23:33:17 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC86810C088750\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:33:19 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-24ccfb6c-fa68-8b31-e648-da56c094c439/test-blob-83f97446-b443-53a3-57a5-fffb4264744f?comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-sequence-number": "5",
        "x-ms-date": "Thu, 06 Jun 2024 23:33:17 GMT",
        "x-ms-sequence-number-action": "update",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DC86810C14BB4B\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:33:19 GMT",
        "x-ms-blob-sequence-number": "5",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-719fd348-4853-b50f-d10f-c74c6df605e6/test-blob-83d0214d-6806-fa5c-3a84-7020542fdfa7?comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Modified-Since": "Wed, 05 Jun 2024 23:33:17 GMT",
        "x-ms-blob-sequence-number": "5",
        "x-ms-date": "Thu, 06 Jun 2024 23:33:17 GMT",
        "x-ms-sequence-number-action": "update",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DC86810C4BF331\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:33:19 GMT",
        "x-ms-blob-sequence-number": "5",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-e988baa6-27a5-e37f-7019-790956b8226f/test-blob-bb0ea126-26ea-d86d-8115-f7f1ad9080df?comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Unmodified-Since": "Fri, 07 Jun 2024 23:33:17 GMT",
        "x-ms-blob-sequence-number": "5",
        "x-ms-date": "Thu, 06 Jun 2024 23:33:18 GMT",
        "x-ms-sequence-number-action": "update",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DC86810C7F5ADF\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:33:19 GMT",
        "x-ms-blob-sequence-number": "5",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-5a464ef0-02f3-bf93-5362-542edf02fb4e/test-blob-d65c0c35-05c1-65b1-98ae-3d8fbe385b94",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:33:18 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC86810CAB2217\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:33:20 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Thu, 06 Jun 2024 23:33:20 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-5a464ef0-02f3-bf93-5362-542edf02fb4e/test-blob-d65c0c35-05c1-65b1-98ae-3d8fbe385b94?comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "0x8DC86810CAB2217",
        "x-ms-blob-sequence-number": "5",
        "x-ms-date": "Thu, 06 Jun 2024 23:33:18 GMT",
        "x-ms-sequence-number-action": "update",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DC86810CC007E1\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:33:20 GMT",
        "x-ms-blob-sequence-number": "5",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-e7cead09-ca87-f792-943a-9a9c15c7cb2c/test-blob-dd5c5472-ab0f-d93b-c577-7aeafc821c3d?comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:33:19 GMT",
        "x-ms-lease-action": "acquire",
        "x-ms-lease-duration": "-1",
        "x-ms-proposed-lease-id": "0e4b179d-1287-b55b-7f7c-74bc16b8fe37",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC86810D20963D\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:33:20 GMT",
        "x-ms-lease-id": "0e4b179d-1287-b55b-7f7c-74bc16b8fe37",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-e7cead09-ca87-f792-943a-9a9c15c7cb2c?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:33:19 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-06-06T18:33:17.3958666-05:00",
    "RandomSeed": "534876140",
    "Storage_TestConfigDefault": "ProductionTenant\nseancanary\nU2FuaXRpemVk\nhttps://seancanary.blob.core.windows.net\nhttps://seancanary.file.core.windows.net\nhttps://seancanary.queue.core.windows.net\nhttps://seancanary.table.core.windows.net\n\n\n\n\nhttps://seancanary-secondary.blob.core.windows.net\nhttps://seancanary-secondary.file.core.windows.net\nhttps://seancanary-secondary.queue.core.windows.net\nhttps://seancanary-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seancanary.blob.core.windows.net/;QueueEndpoint=https://seancanary.queue.core.windows.net/;FileEndpoint=https://seancanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seancanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seancanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seancanary-secondary.file.core.windows.net/;AccountName=seancanary;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
