{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-51980219-43f1-6a3c-25e2-43eac94863c1?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 20:13:00 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC872E3B493B01\"",
        "Last-Modified": "Fri, 07 Jun 2024 20:13:01 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-51980219-43f1-6a3c-25e2-43eac94863c1/test-blob-a6c36993-a3af-2c8f-d493-e20911756616",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Fri, 07 Jun 2024 20:13:00 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC872E3B534876\"",
        "Last-Modified": "Fri, 07 Jun 2024 20:13:01 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-06-07T20:13:01.3336961Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-51980219-43f1-6a3c-25e2-43eac94863c1/test-blob-a6c36993-a3af-2c8f-d493-e20911756616?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Fri, 07 Jun 2024 20:13:00 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "GwDKBEaX3OVJi3JkbzCP4/4pW3vniaqsISIS7EShio34LvDbdt/T93F7kYvLgx/nxAsZWfYavZJVHuMjhO+hqAHkbEA/s20fVWQJa/cf4Z0DKyc4iDGW3XBdhVj7sHOC2umJ5hfepxGe+QOSEFKaNT1FIFjHaR/QTo7P4i0UJKXwh5EOlvqGJIQWmY4tBMwew1AbtY8aunDJuZiIDsXjitVdoYnBjJ9CvvvUsM+RoknBsR7d+G4V1swgRNxh/ha/Mw+5z2JCXTaw2PaURQmgOBdOxlymBZFmSMq8oEfC4cDlFX3A19LnflToLCB3gZDDfwzFEje5GC19UoeXhrzv7fc2rjCM4GFFZ0cIvdlx78Y6+SA7/c6JLPxPQoRKT/iX+T4oQdJgNp+rf6rvsFpUDGPAXYycs/A[...]
[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-51980219-43f1-6a3c-25e2-43eac94863c1/test-blob-2495b1a5-b41a-294c-5434-44d55bdfa4d4?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://seanmcccanada.blob.core.windows.net/test-container-51980219-43f1-6a3c-25e2-43eac94863c1/test-blob-a6c36993-a3af-2c8f-d493-e20911756616?sv=Sanitized&se=2024-06-07T21%3A13%3A00Z&sr=b&sp=r&sig=Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 20:13:00 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-content-md5": "teQ1VADQtOD7VtsVozf3ZQ==",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "Md5Mismatch",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?>\n",
        "<Error><Code>Md5Mismatch</Code><Message>The MD5 value specified in the request did not match with the MD5 value calculated by the server.\n",
        "RequestId:d10aaf82-a01e-006a-5217-b949aa000000\n",
        "Time:2024-06-07T20:13:01.5479701Z</Message></Error>"
      ]
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-51980219-43f1-6a3c-25e2-43eac94863c1?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 20:13:00 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-06-07T15:13:00.6152422-05:00",
    "RandomSeed": "1934013214",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanada\nU2FuaXRpemVk\nhttps://seanmcccanada.blob.core.windows.net\nhttps://seanmcccanada.file.core.windows.net\nhttps://seanmcccanada.queue.core.windows.net\nhttps://seanmcccanada.table.core.windows.net\n\n\n\n\nhttps://seanmcccanada-secondary.blob.core.windows.net\nhttps://seanmcccanada-secondary.file.core.windows.net\nhttps://seanmcccanada-secondary.queue.core.windows.net\nhttps://seanmcccanada-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seanmcccanada.blob.core.windows.net/;QueueEndpoint=https://seanmcccanada.queue.core.windows.net/;FileEndpoint=https://seanmcccanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanada-secondary.file.core.windows.net/;AccountName=seanmcccanada;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
