{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-617d9fa3-f6f8-7dac-dcb3-55ecd0c3bb62?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD3C9B0AB38A10\"",
        "Last-Modified": "Fri, 24 Jan 2025 17:17:55 GMT",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-container-4b6e315d-0a8e-5d60-3322-0e6a24a5ed05?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 24 Jan 2025 17:17:54 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD3C9B0ABAB13D\"",
        "Last-Modified": "Fri, 24 Jan 2025 17:17:55 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-container-4b6e315d-0a8e-5d60-3322-0e6a24a5ed05/test-blob-ae6dd53a-22c4-7ba1-e4e0-5eb38b000eee?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 24 Jan 2025 17:17:54 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD3C9B0AC1B8AF\"",
        "Last-Modified": "Fri, 24 Jan 2025 17:17:55 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-01-24T17:17:55.4543791Z",
        "x-ms-file-creation-time": "2025-01-24T17:17:55.4543791Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-01-24T17:17:55.4543791Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "17860367565182308406*11459378189709739967",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-container-4b6e315d-0a8e-5d60-3322-0e6a24a5ed05/test-blob-ae6dd53a-22c4-7ba1-e4e0-5eb38b000eee/test-blob-7a89bd4b-b7b2-50e7-2801-9ebd77444676",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Fri, 24 Jan 2025 17:17:54 GMT",
        "x-ms-type": "file",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD3C9B0AC7AB39\"",
        "Last-Modified": "Fri, 24 Jan 2025 17:17:55 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-01-24T17:17:55.4933561Z",
        "x-ms-file-creation-time": "2025-01-24T17:17:55.4933561Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2025-01-24T17:17:55.4933561Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "4010187179898695473*11459378189709739967",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-container-4b6e315d-0a8e-5d60-3322-0e6a24a5ed05/test-blob-ae6dd53a-22c4-7ba1-e4e0-5eb38b000eee/test-blob-7a89bd4b-b7b2-50e7-2801-9ebd77444676?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Fri, 24 Jan 2025 17:17:54 GMT",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05",
        "x-ms-write": "update"
      },
      "RequestBody": "Xu6NJoVWDMk4fmaRYzKaTN1z6e2wyE2i2//tKZGY5p4Lphv0Aq5brNZJupUF4s0mtPzvpHNuPJag6kuGaOM3n5jHhrwXpUovFzwXZg24nPgxx3SVqUErnWqEVBdj1UTzEhv9PlwRDg6xwIw3VtWI501SVaBuofZWnOhRklEzy0L3JFTyu16cH7ll5Om19EaU/GzJEX+khHAkpqFzv3u8ffRKPzKBlizvtTXnCL0NoaihvZblarrCU5/jzRS8KF89qWb0arQTEmU/2VtKvHuzFwX50QLl1xM5iOuTnsgYMozWqV9WGDbzjqoxpZBfeJYkMLYOw1ZdWNFSu+LIgHScJ6fOcxIbXP7PBkNXtDGD2g9Vbm0SCW82eFGOBF1TKg01lH7okQSDCdS3P7wSBaSgz+DTcxIHih03mPvBjVehe9s2IR+ymkkL0WWZW8myI3Ot7jR8gLb7LglgsfgJwnt8FsTg3OOE7TSXx6Ksbi9ThHWHE58jJPolO/MVUulQAQ7pHEQF0UaPKQD/5LgUTsDaDCyDga7cWfHJu6HwbptLR8aTw1HqTrIu+OqeIz9BEewyO0W9zYBfDcNTOxalnrpltJ3ygItv8L55VIjDPjWyh6q0vjNVjnpGM7WNlxKciVowOG6hT5Bhw0qGQ3j3nM+NoLNr8OCHDyYjrEzV4Vir3csukwXHEDgZUvroz0oBTpfm//ZeMJh5qChIfqJEjOHy2matyQjJxpB7UZ7ln0DbIV607uJiTawytOvdf5GW1cYZ9fTkVIWPHThm4976lAnnbFxEkJ3/kI25exQc7Ef+5HzXzKlM9s3YJNGp/GnNOCDi9RI1UUUpGmVmKthxczHxZ/5hIshfm3WOa2vLVZQj7EL0OfY1yZI3rbFD5cz0Z7Ggt5RqaxVYglmcpubZXcTRQj6WfTk6vJ5sKnQWG7apmQS5K57/uYEtm7acmCKsXlDtcqKNXup3Zfv2/kGgQWej8w3hHzIm0Ym9aOGCnSN7v8wkKKkTGzoaQcaiCbo/jVpP+aQVyj4dx6AY0PYJ9cfXej91exm9j9fSx91sg8jPfdqHMqR+ZvSNB2EJ+0tEEEz+yo57yhFAkmnNQwNgsUPXSVMbgsIiWBNK53S3tJSMjbaRbbk5U7LJRqA7sSPxLVYdMbH3KI6J3HF7MOOdid3UQLVMz0OJnfWgUjwi56fwWbodmYLjlGUoB5FIviLPK73CZnFupF0SlJS7V9ZSZ/TKitcof+9b8atQJMexQd7T0Cd+X4A1gbRcCwXuJz2O1aCcfTRLp6vNZnXFHn+WYFK16Iav0wd0lAgiy3TpbcltwU4nFcOqiCl7sfgKb2M0xqqzOD+23wKYJ+krKNs35PmsWA==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "F4ghRpCuqIxo5mPtM3xdIQ==",
        "ETag": "\"0x8DD3C9B0ACFE761\"",
        "Last-Modified": "Fri, 24 Jan 2025 17:17:55 GMT",
        "x-ms-file-last-write-time": "2025-01-24T17:17:55.5473249Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-617d9fa3-f6f8-7dac-dcb3-55ecd0c3bb62/test-blob-20ce630a-9999-53ca-c75d-d293e49a3c3d",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-content-length": "1048576",
        "x-ms-blob-type": "PageBlob",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD3C9B0AD5BD58\"",
        "Last-Modified": "Fri, 24 Jan 2025 17:17:55 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05",
        "x-ms-version-id": "2025-01-24T17:17:55.5855704Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-617d9fa3-f6f8-7dac-dcb3-55ecd0c3bb62/test-blob-20ce630a-9999-53ca-c75d-d293e49a3c3d?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://seanmcccanary3.file.core.windows.net/test-container-4b6e315d-0a8e-5d60-3322-0e6a24a5ed05/test-blob-ae6dd53a-22c4-7ba1-e4e0-5eb38b000eee/test-blob-7a89bd4b-b7b2-50e7-2801-9ebd77444676",
        "x-ms-copy-source-authorization": "Sanitized",
        "x-ms-file-request-intent": "backup",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD3C9B0B98F0D6\"",
        "Last-Modified": "Fri, 24 Jan 2025 17:17:56 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-content-crc64": "9JwIpdIliGg=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.file.core.windows.net/test-container-4b6e315d-0a8e-5d60-3322-0e6a24a5ed05?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 24 Jan 2025 17:17:56 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanary3.blob.core.windows.net/test-container-617d9fa3-f6f8-7dac-dcb3-55ecd0c3bb62?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "42656773",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Sanitized\nseanscope1\n\n",
    "Storage_TestConfigOAuth": "OAuthTenant\nseanmcccanary3\nU2FuaXRpemVk\nhttps://seanmcccanary3.blob.core.windows.net\nhttps://seanmcccanary3.file.core.windows.net\nhttps://seanmcccanary3.queue.core.windows.net\nhttps://seanmcccanary3.table.core.windows.net\n\n\n\n\nhttps://seanmcccanary3-secondary.blob.core.windows.net\nhttps://seanmcccanary3-secondary.file.core.windows.net\nhttps://seanmcccanary3-secondary.queue.core.windows.net\nhttps://seanmcccanary3-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seanmcccanary3.blob.core.windows.net/;QueueEndpoint=https://seanmcccanary3.queue.core.windows.net/;FileEndpoint=https://seanmcccanary3.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanary3-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanary3-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanary3-secondary.file.core.windows.net/;AccountName=seanmcccanary3;AccountKey=Sanitized\n\nXClient\nba45b233-e2ef-4169-8808-49eb0d8eba0d"
  }
}
