{
  "Entries": [
    {
      "RequestUri": "https://xmfxscnbn9pe18ex.blob.preprod.core.windows.net/test-container-57e9ef73-1d87-7dd8-f006-f0ff9c4b40a2?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 13 May 2025 18:44:27 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD924E28108C50\"",
        "Last-Modified": "Tue, 13 May 2025 18:44:13 GMT",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://xmfxscnbn9pe18ex.blob.preprod.core.windows.net/test-container-57e9ef73-1d87-7dd8-f006-f0ff9c4b40a2/test-blob-3c87bea1-202a-86e3-a52f-d15952a6ecfb",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Tue, 13 May 2025 18:44:27 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD924E28293EFB\"",
        "Last-Modified": "Tue, 13 May 2025 18:44:13 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://xmfxscnbn9pe18ex.blob.preprod.core.windows.net/test-container-57e9ef73-1d87-7dd8-f006-f0ff9c4b40a2/test-blob-3c87bea1-202a-86e3-a52f-d15952a6ecfb?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://xmfxscnbn9pe18ex.blob.preprod.core.windows.net/test-container-57e9ef73-1d87-7dd8-f006-f0ff9c4b40a2/test-blob-04a3134c-128a-ea1e-88f6-1ef8a12dd889",
        "x-ms-date": "Tue, 13 May 2025 18:44:27 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-copy-source-error-code": "NoAuthenticationInformation",
        "x-ms-copy-source-status-code": "401",
        "x-ms-error-code": "CannotVerifyCopySource",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?>\n",
        "<Error><Code>CannotVerifyCopySource</Code><Message>Could not verify the copy source within the specified time.\n",
        "RequestId:23b2b9c3-701e-0012-1237-c4f4fa000000\n",
        "Time:2025-05-13T18:44:13.5900044Z</Message><CopySourceStatusCode>401</CopySourceStatusCode><CopySourceErrorCode>NoAuthenticationInformation</CopySourceErrorCode><CopySourceErrorMessage>Server failed to authenticate the request. Please refer to the information in the www-authenticate header.</CopySourceErrorMessage></Error>"
      ]
    },
    {
      "RequestUri": "https://xmfxscnbn9pe18ex.blob.preprod.core.windows.net/test-container-57e9ef73-1d87-7dd8-f006-f0ff9c4b40a2?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 13 May 2025 18:44:27 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1506404952",
    "Storage_TestConfigDefault": "ProductionTenant\nxmfxscnbn9pe18ex\nU2FuaXRpemVk\nhttps://xmfxscnbn9pe18ex.blob.preprod.core.windows.net\nhttps://xmfxscnbn9pe18ex.file.preprod.core.windows.net\nhttps://xmfxscnbn9pe18ex.queue.core.windows.net\nhttps://xmfxscnbn9pe18ex.table.core.windows.net\n\n\n\n\nhttps://xmfxscnbn9pe18ex-secondary.blob.core.windows.net\nhttps://xmfxscnbn9pe18ex-secondary.file.core.windows.net\nhttps://xmfxscnbn9pe18ex-secondary.queue.core.windows.net\nhttps://xmfxscnbn9pe18ex-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://xmfxscnbn9pe18ex.blob.preprod.core.windows.net/;QueueEndpoint=https://xmfxscnbn9pe18ex.queue.core.windows.net/;FileEndpoint=https://xmfxscnbn9pe18ex.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://xmfxscnbn9pe18ex-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://xmfxscnbn9pe18ex-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://xmfxscnbn9pe18ex-secondary.file.core.windows.net/;AccountName=xmfxscnbn9pe18ex;AccountKey=U2FuaXRpemVk\nEncryptionScope\n\n"
  }
}
