{
  "Entries": [
    {
      "RequestUri": "https://0s3xscnby3pev24ax.blob.preprod.core.windows.net/test-container-19758f09-040b-8486-50b2-b59dc67226c5?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 02 May 2024 00:00:42 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC6A3AE945CFDE\"",
        "Last-Modified": "Thu, 02 May 2024 00:00:43 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://0s3xscnby3pev24ax.blob.preprod.core.windows.net/test-container-19758f09-040b-8486-50b2-b59dc67226c5/test-blob-2d4b01f5-536f-04c7-d266-86364eadfe81",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Thu, 02 May 2024 00:00:42 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC6A3AE9621500\"",
        "Last-Modified": "Thu, 02 May 2024 00:00:43 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://0s3xscnby3pev24ax.blob.preprod.core.windows.net/test-container-19758f09-040b-8486-50b2-b59dc67226c5/test-blob-2d4b01f5-536f-04c7-d266-86364eadfe81?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://0s3xscnby3pev24ax.blob.preprod.core.windows.net/test-container-19758f09-040b-8486-50b2-b59dc67226c5/test-blob-7f865765-0a79-2897-5a53-379ba8213e4b",
        "x-ms-date": "Thu, 02 May 2024 00:00:42 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 409,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-copy-source-error-code": "PublicAccessNotPermitted",
        "x-ms-copy-source-status-code": "409",
        "x-ms-error-code": "CannotVerifyCopySource",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?>\n",
        "<Error><Code>CannotVerifyCopySource</Code><Message>Could not verify the copy source within the specified time.\n",
        "RequestId:4397fbb9-a01e-0003-6f23-9c1608000000\n",
        "Time:2024-05-02T00:00:43.7241796Z</Message><CopySourceStatusCode>409</CopySourceStatusCode><CopySourceErrorCode>PublicAccessNotPermitted</CopySourceErrorCode><CopySourceErrorMessage>Public access is not permitted on this storage account.</CopySourceErrorMessage></Error>"
      ]
    },
    {
      "RequestUri": "https://0s3xscnby3pev24ax.blob.preprod.core.windows.net/test-container-19758f09-040b-8486-50b2-b59dc67226c5?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 02 May 2024 00:00:42 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "20348695",
    "Storage_TestConfigDefault": "ProductionTenant\n0s3xscnby3pev24ax\nU2FuaXRpemVk\nhttps://0s3xscnby3pev24ax.blob.preprod.core.windows.net\nhttps://0s3xscnby3pev24ax.file.preprod.core.windows.net\nhttps://seanmcccanada.queue.core.windows.net\nhttps://seanmcccanada.table.core.windows.net\n\n\n\n\nhttps://seanmcccanada-secondary.blob.core.windows.net\nhttps://seanmcccanada-secondary.file.preprod.core.windows.net\nhttps://seanmcccanada-secondary.queue.core.windows.net\nhttps://seanmcccanada-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://0s3xscnby3pev24ax.blob.preprod.core.windows.net/;QueueEndpoint=https://seanmcccanada.queue.core.windows.net/;FileEndpoint=https://0s3xscnby3pev24ax.file.preprod.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanada-secondary.file.preprod.core.windows.net/;AccountName=0s3xscnby3pev24ax;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
