{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-67ec61f7-0bc3-0e5c-db77-d1cedc81192f?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 20:12:59 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC872E3ACEB5B0\"",
        "Last-Modified": "Fri, 07 Jun 2024 20:13:00 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-67ec61f7-0bc3-0e5c-db77-d1cedc81192f/test-blob-310a99d9-a85d-bfa6-b68a-33d2fa658dc7",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Fri, 07 Jun 2024 20:12:59 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC872E3AD7E8BB\"",
        "Last-Modified": "Fri, 07 Jun 2024 20:13:00 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-06-07T20:13:00.5251519Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-67ec61f7-0bc3-0e5c-db77-d1cedc81192f/test-blob-310a99d9-a85d-bfa6-b68a-33d2fa658dc7?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Fri, 07 Jun 2024 20:12:59 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "GJOoAKer8eb8jwVV+HshklvsMg09Xxh8b29/81HHOeuegshZoRo+8d1dvYeUsYLPuy1BNkTBUrh7LJE3K/2UNFYatnayyPBBrUEv4KKQ577srzgkhgKn3S8Q3XWIBsXgyIkxevoLHfI8AIkCkXEW60TTS3vEcK5TctlHoet7uKd7TxgYXm3D4JJG54V5pEu9+vIwtbtJHFfb3gcgxHsHwUfhh0JZ/YzXD2rpfoko2c6Niaf4SgPsMjPAPYBmohwXPiU+mB0JZPxmWaVQYJ3OsgU5kjvTD3ZE9VQPmb8McGxO0j9j6kGwhCWrkvFdm9KV8Yt6LA/hQy+v+qLJ+ss8Weg5Ao1da8jEiA4WKHyE5lqCeac0kUNcbY4Qs++e54lZbjgIJJhEN4bCtqQByhqyKhNHRoAjCMi[...]
[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-67ec61f7-0bc3-0e5c-db77-d1cedc81192f/test-blob-a5993685-f3e4-e0c5-29bd-db0c727c6770?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://seanmcccanada.blob.core.windows.net/test-container-67ec61f7-0bc3-0e5c-db77-d1cedc81192f/test-blob-310a99d9-a85d-bfa6-b68a-33d2fa658dc7?sv=Sanitized&se=2024-06-07T21%3A12%3A59Z&sr=b&sp=r&sig=Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 20:12:59 GMT",
        "x-ms-if-tags": "\"coolTag\" = 'true'",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ConditionNotMet",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?>\n",
        "<Error><Code>ConditionNotMet</Code><Message>The condition specified using HTTP conditional header(s) is not met.\n",
        "RequestId:d10aac14-a01e-006a-2917-b949aa000000\n",
        "Time:2024-06-07T20:13:00.7084505Z</Message></Error>"
      ]
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-67ec61f7-0bc3-0e5c-db77-d1cedc81192f?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 20:12:59 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-06-07T15:12:59.7707269-05:00",
    "RandomSeed": "807148659",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanada\nU2FuaXRpemVk\nhttps://seanmcccanada.blob.core.windows.net\nhttps://seanmcccanada.file.core.windows.net\nhttps://seanmcccanada.queue.core.windows.net\nhttps://seanmcccanada.table.core.windows.net\n\n\n\n\nhttps://seanmcccanada-secondary.blob.core.windows.net\nhttps://seanmcccanada-secondary.file.core.windows.net\nhttps://seanmcccanada-secondary.queue.core.windows.net\nhttps://seanmcccanada-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seanmcccanada.blob.core.windows.net/;QueueEndpoint=https://seanmcccanada.queue.core.windows.net/;FileEndpoint=https://seanmcccanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanada-secondary.file.core.windows.net/;AccountName=seanmcccanada;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
