{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-0fb6d9d4-8bc4-db7d-c796-03594a81140d?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 20:11:37 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC872E0A06C8FC\"",
        "Last-Modified": "Fri, 07 Jun 2024 20:11:38 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-0fb6d9d4-8bc4-db7d-c796-03594a81140d/test-blob-85152533-1875-f54e-0924-c9f382427de5",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Fri, 07 Jun 2024 20:11:37 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC872E0A1A5CE8\"",
        "Last-Modified": "Fri, 07 Jun 2024 20:11:38 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-06-07T20:11:38.7513064Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-0fb6d9d4-8bc4-db7d-c796-03594a81140d/test-blob-85152533-1875-f54e-0924-c9f382427de5?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Fri, 07 Jun 2024 20:11:37 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "SWPTa1J0Jx2chKHVu1BoBb/1rs2TcNQZaCMQKmuc+Ob2TeMP7mu7NlXQBrTFc6SbKEfgQ9gq79iOugIvY/yyAIu63m1sWBZTOnd4wmkgVPV+dQIju7UNzF4KgDRpi9NYHgYoCpQ2LtAxjAhhsSxvbmUMsO76jkTWrRIPYdfh6q6jIKRj90lgR0Yy8i6tqxoymxLOXdvlXo/CUlyCJ8z4T6JZvpGHDHccq2ioyJwVKQH43cbFEo3TvsEUoKTs3iB5OaKMU+2Iqo+asrFyPZbzrClbikkGMj0Vhf/Qc2vSL81HLo76idUUbzI2K2DbYIArIfR7kVTWcgdlds3tuDckyIPkKw4I+CNTRhoWzwbdOSV+pVF3Vp14cLuGlRIHJrf7EmPc9zVyIyjQKEo5v6MAhzyobhPlrHH[...]
[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-0fb6d9d4-8bc4-db7d-c796-03594a81140d/test-blob-7d4db2ce-cdc8-20e2-3ad7-3199824760c2?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://seanmcccanada.blob.core.windows.net/test-container-0fb6d9d4-8bc4-db7d-c796-03594a81140d/test-blob-85152533-1875-f54e-0924-c9f382427de5?sv=Sanitized&se=2024-06-07T21%3A11%3A38Z&sr=b&sp=r&sig=Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 20:11:38 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC872E0A407D07\"",
        "Last-Modified": "Fri, 07 Jun 2024 20:11:39 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-content-crc64": "fOPxQ2dIwlY=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-0fb6d9d4-8bc4-db7d-c796-03594a81140d?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 20:11:38 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-06-07T15:11:38.0168285-05:00",
    "RandomSeed": "1848143639",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanada\nU2FuaXRpemVk\nhttps://seanmcccanada.blob.core.windows.net\nhttps://seanmcccanada.file.core.windows.net\nhttps://seanmcccanada.queue.core.windows.net\nhttps://seanmcccanada.table.core.windows.net\n\n\n\n\nhttps://seanmcccanada-secondary.blob.core.windows.net\nhttps://seanmcccanada-secondary.file.core.windows.net\nhttps://seanmcccanada-secondary.queue.core.windows.net\nhttps://seanmcccanada-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seanmcccanada.blob.core.windows.net/;QueueEndpoint=https://seanmcccanada.queue.core.windows.net/;FileEndpoint=https://seanmcccanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanada-secondary.file.core.windows.net/;AccountName=seanmcccanada;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
