{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/be97033d-a8d6-4d02-a9b7-8c2d253ea34b?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "id": "/subscriptions/be97033d-a8d6-4d02-a9b7-8c2d253ea34b",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "subscriptionId": "be97033d-a8d6-4d02-a9b7-8c2d253ea34b",
        "tenantId": "00000000-0000-0000-0000-000000000000",
        "displayName": "CloudFit-Test",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/tenants?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-tenant-reads": "2199"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/tenants/72f988bf-86f1-41af-91ab-2d7cd011db47",
            "tenantId": "00000000-0000-0000-0000-000000000000",
            "countryCode": "US",
            "displayName": "Microsoft",
            "domains": [
              "drawbridge.com",
              "expresslogic.com",
              "euevents.microsoft.com",
              "nonprofits.microsoft.com",
              "benefits.microsoft.com",
              "forzaesports.com",
              "bons.ai",
              "azmosa.io",
              "fslogix.com",
              "Howdy.ai",
              "Xoxco.com",
              "Botkit.ai",
              "glintinc.com",
              "maquette.ms",
              "tibazdev.microsoft.com",[...]
