{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/487bb485-b5b0-471e-9c0d-10717612f869?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11918"
      },
      "ResponseBody": {
        "id": "/subscriptions/487bb485-b5b0-471e-9c0d-10717612f869",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "tags": {
          "IsHostedOnBehalfOf": "False",
          "Env": "NonProd"
        },
        "subscriptionId": "487bb485-b5b0-471e-9c0d-10717612f869",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": "ASC SDK samples",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/487bb485-b5b0-471e-9c0d-10717612f869/resourcegroups/dfdtest-sdk?api-version=2022-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11917"
      },
      "ResponseBody": {
        "id": "/subscriptions/487bb485-b5b0-471e-9c0d-10717612f869/resourceGroups/dfdtest-sdk",
        "name": "dfdtest-sdk",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "centralus",
        "tags": {},
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/487bb485-b5b0-471e-9c0d-10717612f869/resourceGroups/dfdtest-sdk/providers/Microsoft.Security/securityConnectors/dfdsdktests-azdo-01/devops/default/azureDevOpsOrgs/dfdsdktests/projects/ContosoSDKDfd/repos/TestApp0?api-version=2023-09-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "673217f4-0c76-4d69-a3f3-9cf9bf49cc79",
        "x-ms-ratelimit-remaining-subscription-reads": "11916"
      },
      "ResponseBody": {
        "properties": {
          "parentOrgName": "dfdsdktests",
          "parentProjectName": "ContosoSDKDfd",
          "repoId": "35cd4811-63c7-4043-8587-f0a9cf37709e",
          "repoUrl": "https://dev.azure.com/dfdsdktests/ContosoSDKDfd/_git/TestApp0",
          "onboardingState": "Onboarded",
          "actionableRemediation": {
            "state": "None",
            "categoryConfigurations": [],
            "inheritFromParentState": "Enabled"
          },
          "provisioningStatusMessage": "OK",
          "provisioningStatusUpdateTimeUtc": "2023-12-14T18:47:34Z",
          "provisioningState": "Succeeded"
        },
        "id": "/subscriptions/487bb485-b5b0-471e-9c0d-10717612f869/resourceGroups/dfdtest-sdk/providers/Microsoft.Security/securityConnectors/dfdsdktests-azdo-01/devops/default/azureDevOpsOrgs/dfdsdktests/projects/ContosoSDKDfd/repos/TestApp0",
        "name": "TestApp0",
        "type": "Microsoft.Security/securityConnectors/devops/azureDevOpsOrgs/projects/repos"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/487bb485-b5b0-471e-9c0d-10717612f869/resourceGroups/dfdtest-sdk/providers/Microsoft.Security/securityConnectors/dfdsdktests-azdo-01/devops/default/azureDevOpsOrgs/dfdsdktests/projects/ContosoSDKDfd/repos/TestApp0?api-version=2023-09-01-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "actionableRemediation": {
            "inheritFromParentState": "Enabled"
          }
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/487bb485-b5b0-471e-9c0d-10717612f869/resourceGroups/dfdtest-sdk/providers/Microsoft.Security/securityConnectors/dfdsdktests-azdo-01/devops/default/operationResults/16779fd3-5083-4792-91fc-fef9adc67a5f?api-version=2023-09-01-preview\u0026t=638381770003222129\u0026c=MIIHHjCCBgagAwIBAgITfwI8ooo2761TEgO3SgAEAjyiijANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDIwHhcNMjMxMTAxMTc1NTI2WhcNMjQxMD[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/487bb485-b5b0-471e-9c0d-10717612f869/resourceGroups/dfdtest-sdk/providers/Microsoft.Security/securityConnectors/dfdsdktests-azdo-01/devops/default/operationResults/16779fd3-5083-4792-91fc-fef9adc67a5f?api-version=2023-09-01-preview\u0026t=638381770003222129\u0026c=MIIHHjCCBgagAwIBAgITfwI8ooo2761TEgO3SgAEAjyiijANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDIwHhcNM[...]
[...]
