{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/487bb485-b5b0-471e-9c0d-10717612f869?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11928"
      },
      "ResponseBody": {
        "id": "/subscriptions/487bb485-b5b0-471e-9c0d-10717612f869",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "tags": {
          "IsHostedOnBehalfOf": "False",
          "Env": "NonProd"
        },
        "subscriptionId": "487bb485-b5b0-471e-9c0d-10717612f869",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": "ASC SDK samples",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/487bb485-b5b0-471e-9c0d-10717612f869/resourcegroups/dfdtest-sdk?api-version=2022-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11927"
      },
      "ResponseBody": {
        "id": "/subscriptions/487bb485-b5b0-471e-9c0d-10717612f869/resourceGroups/dfdtest-sdk",
        "name": "dfdtest-sdk",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "centralus",
        "tags": {},
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/487bb485-b5b0-471e-9c0d-10717612f869/resourceGroups/dfdtest-sdk/providers/Microsoft.Security/securityConnectors/dfdsdktests-azdo-01?api-version=2023-10-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "88"
      },
      "ResponseBody": {
        "properties": {
          "offerings": [
            {
              "offeringType": "CspmMonitorAzureDevOps"
            },
            {
              "offeringType": "DefenderForDevOpsAzureDevOps"
            }
          ],
          "environmentName": "AzureDevOps",
          "hierarchyIdentifier": "4a8eb7f1-f533-48c5-b102-9b09e90906b7",
          "environmentData": {
            "environmentType": "AzureDevOpsScope"
          }
        },
        "id": "/subscriptions/487bb485-b5b0-471e-9c0d-10717612f869/resourcegroups/dfdtest-sdk/providers/Microsoft.Security/securityConnectors/dfdsdktests-azdo-01",
        "name": "dfdsdktests-azdo-01",
        "type": "Microsoft.Security/securityconnectors",
        "location": "centralus",
        "tags": {},
        "systemData": {
          "createdBy": "c3d82ccb-fee1-430c-949e-6c0a217c00a8",
          "createdByType": "Application",
          "createdAt": "2023-12-07T06:38:36.3536844Z",
          "lastModifiedBy": "c3d82ccb-fee1-430c-949e-6c0a217c00a8",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2023-12-07T06:38:36.3536844Z"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/487bb485-b5b0-471e-9c0d-10717612f869/resourceGroups/dfdtest-sdk/providers/Microsoft.Security/securityConnectors/dfdsdktests-azdo-01/devops/default?api-version=2023-09-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "994fca55-7e8c-4665-903c-f037f77a45c6",
        "x-ms-ratelimit-remaining-subscription-reads": "11926"
      },
      "ResponseBody": {
        "location": "centralus",
        "tags": {},
        "properties": {
          "autoDiscovery": "Disabled",
          "provisioningStatusMessage": "Resource creation successful.",
          "provisioningState": "Succeeded"
        },
        "id": "/subscriptions/487bb485-b5b0-471e-9c0d-10717612f869/resourceGroups/dfdtest-sdk/providers/Microsoft.Security/securityConnectors/dfdsdktests-azdo-01/devops/default",
        "name": "default",
        "type": "Microsoft.Security/securityConnectors/devops"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/487bb485-b5b0-471e-9c0d-10717612f869/resourceGroups/dfdtest-sdk/providers/Microsoft.Security/securityConnectors/dfdsdktests-azdo-01/devops/default/azureDevOpsOrgs?api-version=2023-09-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "aaba1389-3601-48a9-b9a4-229c32a825a6",
        "x-ms-ratelimit-remaining-subscription-reads": "11925"
      },
      "ResponseBody": {
        "value": [
          {
            "properties": {
              "onboardingState": "Onboarded",
              "provisioningStatusMessage": "OK",
              "provisioningStatusUpdateTimeUtc": "2023-12-14T18:56:17Z",
              "provisioningState": "Succeeded"
            },
            "id": "/subscriptions/487bb485-b5b0-471e-9c0d-10717612f869/resourceGroups/dfdtest-sdk/providers/Microsoft.Security/securityConnectors/dfdsdktests-azdo-01/devops/default/azureDevOpsOrgs/dfdsdktests",
            "name": "dfdsdktests",
            "type": "Microsoft.Security/securityConnectors/devops/azureDevOpsOrgs"
          }
        ]
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/487bb485-b5b0-471e-9c0d-10717612f869/resourceGroups/dfdtest-sdk/providers/Microsoft.Security/securityConnectors/dfdsdktests-azdo-01/devops/default/azureDevOpsOrgs/dfdsdktests/projects?api-version=2023-09-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "fa9dc6c7-712a-4c09-808a-ba361a00d1e0",
        "x-ms-ratelimit-remaining-subscription-reads": "11924"
      },
      "ResponseBody": {
        "value": [
          {
            "properties": {
              "parentOrgName": "dfdsdktests",
              "projectId": "161fb6f6-f2fe-4616-a627-293b788ff583",
              "onboardingState": "Onboarded",
              "actionableRemediation": {
                "state": "None",
                "categoryConfigurations": [],
                "inheritFromParentState": "Enabled"
              },
              "provisioningStatusMessage": "OK",
              "provisioningStatusUpdateTimeUtc": "2023-12-14T18:47:33Z",
              "provisioningState": "Succeeded"
            },
            "id": "/subscriptions/487bb485-b5b0-471e-9c0d-10717612f869/resourceGroups/dfdtest-sdk/providers/Microsoft.Security/securityConnectors/dfdsdktests-azdo-01/devops/default/azureDevOpsOrgs/dfdsdktests/projects/ContosoSDKDfd",
            "name": "ContosoSDKDfd",
            "type[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/487bb485-b5b0-471e-9c0d-10717612f869/resourceGroups/dfdtest-sdk/providers/Microsoft.Security/securityConnectors/dfdsdktests-azdo-01/devops/default/azureDevOpsOrgs/dfdsdktests/projects/ContosoSDKDfd/repos?api-version=2023-09-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "2913d9d0-b5ec-4a84-8056-aec31fe73f63",
        "x-ms-ratelimit-remaining-subscription-reads": "11923"
      },
      "ResponseBody": {
        "value": [
          {
            "properties": {
              "parentOrgName": "dfdsdktests",
              "parentProjectName": "ContosoSDKDfd",
              "repoId": "22a344e3-8ad3-4a97-88a6-768a4e710777",
              "repoUrl": "https://dev.azure.com/dfdsdktests/ContosoSDKDfd/_git/ContosoSDKDfd",
              "onboardingState": "Onboarded",
              "actionableRemediation": {
                "state": "None",
                "categoryConfigurations": [],
                "inheritFromParentState": "Enabled"
              },
              "provisioningStatusMessage": "OK",
              "provisioningStatusUpdateTimeUtc": "2023-12-14T18:47:34Z",
              "provisioningState": "Succeeded"
            },
          [...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/487bb485-b5b0-471e-9c0d-10717612f869/resourceGroups/dfdtest-sdk/providers/Microsoft.Security/securityConnectors/dfdsdktests-azdo-01/devops/default/azureDevOpsOrgs/dfdsdktests/projects/ContosoSDKDfd/repos?api-version=2023-09-01-preview\u0026continuation-token=eyJPcHRpbWlzdGljRGlyZWN0RXhlY3V0aW9uVG9rZW4iOnsidG9rZW4iOiIrUklEOn42RElDQUxFR1p5aXZTUVFBQUFBQURBPT0jUlQ6MSNUUkM6MTAjSVNWOjIjSUVPOjY1NTY3I1FDRjo4I0ZQQzpBYTlKQkFBQUFBQU1zVWt[...]
