{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/487bb485-b5b0-471e-9c0d-10717612f869?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11898"
      },
      "ResponseBody": {
        "id": "/subscriptions/487bb485-b5b0-471e-9c0d-10717612f869",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "tags": {
          "IsHostedOnBehalfOf": "False",
          "Env": "NonProd"
        },
        "subscriptionId": "487bb485-b5b0-471e-9c0d-10717612f869",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": "ASC SDK samples",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/487bb485-b5b0-471e-9c0d-10717612f869/resourcegroups/dfdtest-sdk?api-version=2022-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11897"
      },
      "ResponseBody": {
        "id": "/subscriptions/487bb485-b5b0-471e-9c0d-10717612f869/resourceGroups/dfdtest-sdk",
        "name": "dfdtest-sdk",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "centralus",
        "tags": {},
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/487bb485-b5b0-471e-9c0d-10717612f869/resourceGroups/dfdtest-sdk/providers/Microsoft.Security/securityConnectors/dfdsdktests-gh-01?api-version=2023-10-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "86"
      },
      "ResponseBody": {
        "properties": {
          "offerings": [
            {
              "offeringType": "CspmMonitorGithub"
            },
            {
              "offeringType": "DefenderForDevOpsGithub"
            }
          ],
          "environmentName": "Github",
          "hierarchyIdentifier": "bc12ba4d-b89c-486e-85e1-d803e7d80525",
          "environmentData": {
            "environmentType": "GithubScope"
          }
        },
        "id": "/subscriptions/487bb485-b5b0-471e-9c0d-10717612f869/resourcegroups/dfdtest-sdk/providers/Microsoft.Security/securityConnectors/dfdsdktests-gh-01",
        "name": "dfdsdktests-gh-01",
        "type": "Microsoft.Security/securityconnectors",
        "location": "centralus",
        "tags": {},
        "systemData": {
          "createdBy": "c3d82ccb-fee1-430c-949e-6c0a217c00a8",
          "createdByType": "Application",
          "createdAt": "2023-12-11T19:31:38.6578077Z",
          "lastModifiedBy": "c3d82ccb-fee1-430c-949e-6c0a217c00a8",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2023-12-11T19:31:38.6578077Z"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/487bb485-b5b0-471e-9c0d-10717612f869/resourceGroups/dfdtest-sdk/providers/Microsoft.Security/securityConnectors/dfdsdktests-gh-01/devops/default?api-version=2023-09-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "04e3f12b-c45e-4a24-b159-3e9fda4bbec0",
        "x-ms-ratelimit-remaining-subscription-reads": "11896"
      },
      "ResponseBody": {
        "location": "centralus",
        "tags": {},
        "properties": {
          "autoDiscovery": "Enabled",
          "provisioningStatusMessage": "Resource creation successful.",
          "provisioningState": "Succeeded"
        },
        "id": "/subscriptions/487bb485-b5b0-471e-9c0d-10717612f869/resourceGroups/dfdtest-sdk/providers/Microsoft.Security/securityConnectors/dfdsdktests-gh-01/devops/default",
        "name": "default",
        "type": "Microsoft.Security/securityConnectors/devops"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/487bb485-b5b0-471e-9c0d-10717612f869/resourceGroups/dfdtest-sdk/providers/Microsoft.Security/securityConnectors/dfdsdktests-gh-01/devops/default/gitHubOwners/dfdsdktests?api-version=2023-09-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "0c24333e-c44f-4ff5-834e-f3041f848806",
        "x-ms-ratelimit-remaining-subscription-reads": "11895"
      },
      "ResponseBody": {
        "properties": {
          "ownerUrl": "https://github.com/dfdsdktests",
          "gitHubInternalId": "45003365",
          "onboardingState": "Onboarded",
          "provisioningStatusMessage": "Beginning provisioning of GitHub connector.",
          "provisioningStatusUpdateTimeUtc": "2023-12-14T16:41:13Z",
          "provisioningState": "Pending"
        },
        "id": "/subscriptions/487bb485-b5b0-471e-9c0d-10717612f869/resourceGroups/dfdtest-sdk/providers/Microsoft.Security/securityConnectors/dfdsdktests-gh-01/devops/default/gitHubOwners/dfdsdktests",
        "name": "dfdsdktests",
        "type": "Microsoft.Security/securityConnectors/devops/gitHubOwners"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/487bb485-b5b0-471e-9c0d-10717612f869/resourceGroups/dfdtest-sdk/providers/Microsoft.Security/securityConnectors/dfdsdktests-gh-01/devops/default/gitHubOwners/dfdsdktests/repos/TestApp0?api-version=2023-09-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "1c2e5abf-c591-43d5-b9e7-15a9e0a5181f",
        "x-ms-ratelimit-remaining-subscription-reads": "11894"
      },
      "ResponseBody": {
        "properties": {
          "repoId": "728418798",
          "repoName": "TestApp0",
          "onboardingState": "Onboarded",
          "repoUrl": "https://github.com/dfdsdktests/TestApp0",
          "parentOwnerName": "dfdsdktests",
          "provisioningStatusUpdateTimeUtc": "2023-12-14T16:41:14Z"
        },
        "id": "/subscriptions/487bb485-b5b0-471e-9c0d-10717612f869/resourceGroups/dfdtest-sdk/providers/Microsoft.Security/securityConnectors/dfdsdktests-gh-01/devops/default/gitHubOwners/dfdsdktests/repos/TestApp0",
        "name": "TestApp0",
        "type": "Microsoft.Security/securityConnectors/devops/gitHubOwners/repos"
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": null,
    "RandomSeed": "916511052",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "487bb485-b5b0-471e-9c0d-10717612f869"
  }
}
