{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/487bb485-b5b0-471e-9c0d-10717612f869?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11993"
      },
      "ResponseBody": {
        "id": "/subscriptions/487bb485-b5b0-471e-9c0d-10717612f869",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "tags": {
          "IsHostedOnBehalfOf": "False",
          "Env": "NonProd"
        },
        "subscriptionId": "487bb485-b5b0-471e-9c0d-10717612f869",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": "ASC SDK samples",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/487bb485-b5b0-471e-9c0d-10717612f869/resourcegroups/dfdtest-sdk?api-version=2022-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11992"
      },
      "ResponseBody": {
        "id": "/subscriptions/487bb485-b5b0-471e-9c0d-10717612f869/resourceGroups/dfdtest-sdk",
        "name": "dfdtest-sdk",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "centralus",
        "tags": {},
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/487bb485-b5b0-471e-9c0d-10717612f869/resourceGroups/dfdtest-sdk/providers/Microsoft.Security/securityConnectors/dfdsdktests-gl-01?api-version=2023-10-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "97"
      },
      "ResponseBody": {
        "properties": {
          "offerings": [
            {
              "offeringType": "CspmMonitorGitLab"
            },
            {
              "offeringType": "DefenderForDevOpsGitLab"
            }
          ],
          "environmentName": "GitLab",
          "hierarchyIdentifier": "7a1f4efe-f8c6-48e7-b7ef-1b45994ed602",
          "environmentData": {
            "environmentType": "GitlabScope"
          }
        },
        "id": "/subscriptions/487bb485-b5b0-471e-9c0d-10717612f869/resourcegroups/dfdtest-sdk/providers/Microsoft.Security/securityConnectors/dfdsdktests-gl-01",
        "name": "dfdsdktests-gl-01",
        "type": "Microsoft.Security/securityconnectors",
        "location": "centralus",
        "tags": {},
        "systemData": {
          "createdBy": "c3d82ccb-fee1-430c-949e-6c0a217c00a8",
          "createdByType": "Application",
          "createdAt": "2023-12-11T18:52:24.9825323Z",
          "lastModifiedBy": "c3d82ccb-fee1-430c-949e-6c0a217c00a8",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2023-12-11T19:22:09.7886218Z"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/487bb485-b5b0-471e-9c0d-10717612f869/resourceGroups/dfdtest-sdk/providers/Microsoft.Security/securityConnectors/dfdsdktests-gl-01/devops/default?api-version=2023-09-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "abdb274e-4816-44b7-ad24-23b6a1114a17",
        "x-ms-ratelimit-remaining-subscription-reads": "11991"
      },
      "ResponseBody": {
        "location": "centralus",
        "tags": {},
        "properties": {
          "autoDiscovery": "Disabled",
          "provisioningStatusMessage": "Resource modification successful.",
          "provisioningState": "Succeeded"
        },
        "id": "/subscriptions/487bb485-b5b0-471e-9c0d-10717612f869/resourceGroups/dfdtest-sdk/providers/Microsoft.Security/securityConnectors/dfdsdktests-gl-01/devops/default",
        "name": "default",
        "type": "Microsoft.Security/securityConnectors/devops"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/487bb485-b5b0-471e-9c0d-10717612f869/resourceGroups/dfdtest-sdk/providers/Microsoft.Security/securityConnectors/dfdsdktests-gl-01/devops/default/gitLabGroups/dfdsdktests?api-version=2023-09-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "6ffa3a29-5ce3-43fe-8dc5-f0350e2c57a3",
        "x-ms-ratelimit-remaining-subscription-reads": "11990"
      },
      "ResponseBody": {
        "properties": {
          "fullyQualifiedName": "dfdsdktests",
          "fullyQualifiedFriendlyName": "Defender for DevOps SDK Tests",
          "url": "https://gitlab.com/groups/dfdsdktests",
          "onboardingState": "Onboarded",
          "provisioningStatusMessage": "Resource modification successful.",
          "provisioningStatusUpdateTimeUtc": "2023-12-14T18:37:20Z",
          "provisioningState": "Succeeded"
        },
        "id": "/subscriptions/487bb485-b5b0-471e-9c0d-10717612f869/resourceGroups/dfdtest-sdk/providers/Microsoft.Security/securityConnectors/dfdsdktests-gl-01/devops/default/gitLabGroups/dfdsdktests",
        "name": "dfdsdktests",
        "type": "Microsoft.Security/securityConnectors/devops/gitLabGroups"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/487bb485-b5b0-471e-9c0d-10717612f869/resourceGroups/dfdtest-sdk/providers/Microsoft.Security/securityConnectors/dfdsdktests-gl-01/devops/default/gitLabGroups/dfdsdktests/projects/testapp0?api-version=2023-09-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "d7fc49b2-ee64-4025-b60a-99d9cac87bcb",
        "x-ms-ratelimit-remaining-subscription-reads": "11989"
      },
      "ResponseBody": {
        "properties": {
          "fullyQualifiedName": "dfdsdktests$testapp0",
          "fullyQualifiedFriendlyName": "Defender for DevOps SDK Tests / TestApp0",
          "fullyQualifiedParentGroupName": "dfdsdktests",
          "url": "https://gitlab.com/dfdsdktests/testapp0",
          "onboardingState": "Onboarded",
          "provisioningStatusMessage": "Resource modification successful.",
          "provisioningStatusUpdateTimeUtc": "1970-01-01T00:00:00Z",
          "provisioningState": "Succeeded"
        },
        "id": "/subscriptions/487bb485-b5b0-471e-9c0d-10717612f869/resourceGroups/dfdtest-sdk/providers/Microsoft.Security/securityConnectors/dfdsdktests-gl-01/devops/default/gitLabGroups/dfdsdktests/projects/testapp0",
        "name": "testapp0",
        "type": "Microsoft.Security/securityConnectors/devops/gitLabGroups/projects"
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": null,
    "RandomSeed": "1851583517",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "487bb485-b5b0-471e-9c0d-10717612f869"
  }
}
