{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.com/emails:send?api-version=2025-09-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Operation-Id": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 06 Oct 2025 15:27:02 GMT"
      },
      "RequestBody": {
        "senderAddress": "DoNotReply@c9d0862a-c699-4a7b-b840-5e091ce5d628.azurecomm.net",
        "content": {
          "subject": "subject",
          "plainText": "Test"
        },
        "recipients": {
          "to": [],
          "cc": [
            {
              "address": "ACSFunctionalTest@outlook.com",
              "displayName": "CcAddress"
            }
          ],
          "bcc": [
            {
              "address": "ACSFunctionalTest@outlook.com",
              "displayName": "BccAddress"
            }
          ]
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "api-supported-versions": "2021-10-01-preview, 2023-01-15-preview, 2023-03-31, 2024-07-01-preview, 2025-01-15-preview, 2025-09-01",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "cbd7d2e8-abf4-41a3-b67b-b144654a570c",
        "MS-CV": "Sanitized",
        "Operation-Location": "https://sanitized.communication.azure.com/emails/operations/sanitizedId?api-version=2023-03-31",
        "Retry-After": "3"
      },
      "ResponseBody": {
        "id": "15223224-c50b-4ffc-87ef-97e954f98361",
        "status": "Running",
        "error": null
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.com/emails/operations/sanitizedId?api-version=2025-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Mon, 06 Oct 2025 15:27:02 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-10-01-preview, 2023-01-[...]
