{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.com/emails:send?api-version=2024-07-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Operation-Id": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Sat, 10 Aug 2024 01:49:58 GMT"
      },
      "RequestBody": {
        "senderAddress": "DoNotReply@cyberworld.party",
        "content": {
          "subject": "subject",
          "plainText": "Test"
        },
        "recipients": {
          "to": [],
          "cc": [
            {
              "address": "acseaastesting@gmail.com",
              "displayName": "CcAddress"
            }
          ]
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "api-supported-versions": "2021-10-01-preview, 2023-01-15-preview, 2023-03-31, 2024-07-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "55c97fc6-90b2-4183-bb8a-2c4496b890a7",
        "Operation-Location": "https://sanitized.communication.azure.com/emails/operations/sanitizedId?api-version=2023-03-31",
        "Retry-After": "3"
      },
      "ResponseBody": {
        "id": "0172dd4a-788b-47c9-99f4-d58025d090b7",
        "status": "Running",
        "error": null
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.com/emails/operations/sanitizedId?api-version=2024-07-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Sat, 10 Aug 2024 01:49:58 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-10-01-preview, 2023-01-15-preview, 2023-03-31, 2024-07-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "b721f634-c26d-4f96-9b2b-b2300f324828",
        "Retry-After": "3"
      },
      "ResponseBody": {
        "id": "0172dd4a-788b-47c9-99f4-d58025d090b7",
        "status": "Running",
        "error": null
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.com/emails/operations/sanitizedId?api-version=2024-07-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Sat, 10 Aug 2024 01:50:04 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-10-01-preview, 2023-01-15-preview, 2023-03-31, 2024-07-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "069a4091-6a15-4625-9512-56230ef282c2"
      },
      "ResponseBody": {
        "id": "0172dd4a-788b-47c9-99f4-d58025d090b7",
        "status": "Succeeded",
        "error": null
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_CONNECTION_STRING_EMAIL": "endpoint=https://natekimball-acs-aus.australia.communication.azure.com/;accesskey=Kg==",
    "RandomSeed": "2083072979",
    "RECIPIENT_ADDRESS": "acseaastesting@gmail.com",
    "SENDER_ADDRESS": "DoNotReply@cyberworld.party"
  }
}
