{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.com/emails:send?api-version=2024-07-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Operation-Id": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Sat, 10 Aug 2024 01:50:54 GMT"
      },
      "RequestBody": {
        "senderAddress": "DoNotReply@cyberworld.party",
        "content": {
          "subject": "subject",
          "plainText": "Test"
        },
        "recipients": {
          "to": [],
          "bcc": [
            {
              "address": "acseaastesting@gmail.com",
              "displayName": "BccAddress"
            }
          ]
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "api-supported-versions": "2021-10-01-preview, 2023-01-15-preview, 2023-03-31, 2024-07-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "a56603cb-cc2c-4bb9-9b64-68b3046387ef",
        "Operation-Location": "https://sanitized.communication.azure.com/emails/operations/sanitizedId?api-version=2023-03-31",
        "Retry-After": "3"
      },
      "ResponseBody": {
        "id": "5d6eca4b-38ce-4453-9ffc-22361e6b38dc",
        "status": "Running",
        "error": null
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.com/emails/operations/sanitizedId?api-version=2024-07-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Sat, 10 Aug 2024 01:50:55 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-10-01-preview, 2023-01-15-preview, 2023-03-31, 2024-07-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "7504b979-5793-4b50-8e43-1ed3597c02fa",
        "Retry-After": "3"
      },
      "ResponseBody": {
        "id": "5d6eca4b-38ce-4453-9ffc-22361e6b38dc",
        "status": "Running",
        "error": null
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.com/emails/operations/sanitizedId?api-version=2024-07-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Sat, 10 Aug 2024 01:51:00 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-10-01-preview, 2023-01-15-preview, 2023-03-31, 2024-07-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "ba3765f4-7fe6-493a-961e-3df668b270f9"
      },
      "ResponseBody": {
        "id": "5d6eca4b-38ce-4453-9ffc-22361e6b38dc",
        "status": "Succeeded",
        "error": null
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_CONNECTION_STRING_EMAIL": "endpoint=https://natekimball-acs-aus.australia.communication.azure.com/;accesskey=Kg==",
    "RandomSeed": "1841278618",
    "RECIPIENT_ADDRESS": "acseaastesting@gmail.com",
    "SENDER_ADDRESS": "DoNotReply@cyberworld.party"
  }
}
