{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.com/emails:send?api-version=2024-07-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Operation-Id": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Sat, 10 Aug 2024 01:49:45 GMT"
      },
      "RequestBody": {
        "senderAddress": "DoNotReply@cyberworld.party",
        "content": {
          "subject": "subject",
          "plainText": "Test"
        },
        "recipients": {
          "to": [
            {
              "address": "acseaastesting@gmail.com",
              "displayName": "ToAddress"
            }
          ],
          "cc": [
            {
              "address": "acseaastesting@gmail.com",
              "displayName": "CcAddress"
            }
          ],
          "bcc": [
            {
              "address": "acseaastesting@gmail.com",
              "displayName": "BccAddress"
            }
          ]
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "api-supported-versions": "2021-10-01-preview, 2023-01-15-preview, 2023-03-31, 2024-07-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "4627534f-9b46-4fe6-856f-8bd73ab4f873",
        "Operation-Location": "https://sanitized.communication.azure.com/emails/operations/sanitizedId?api-version=2023-03-31",
        "Retry-After": "3"
      },
      "ResponseBody": {
        "id": "4805b95c-46c4-442e-be2c-79ba202aac2f",
        "status": "Running",
        "error": null
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.com/emails/operations/sanitizedId?api-version=2024-07-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Sat, 10 Aug 2024 01:49:46 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-10-01-preview, 2023-01-15-preview, 2023-03-31, 2024-07-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "e22656d8-7dd7-4524-a654-ef69087f48e2",
        "Retry-After": "3"
      },
      "ResponseBody": {
        "id": "4805b95c-46c4-442e-be2c-79ba202aac2f",
        "status": "Running",
        "error": null
      }
    },
    {
      "RequestUri": "https://sanitized.communication.azure.com/emails/operations/sanitizedId?api-version=2024-07-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Sat, 10 Aug 2024 01:49:51 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-10-01-preview, 2023-01-15-preview, 2023-03-31, 2024-07-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "60df883a-40b7-4609-a086-db06dbe5e299"
      },
      "ResponseBody": {
        "id": "4805b95c-46c4-442e-be2c-79ba202aac2f",
        "status": "Succeeded",
        "error": null
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_CONNECTION_STRING_EMAIL": "endpoint=https://natekimball-acs-aus.australia.communication.azure.com/;accesskey=Kg==",
    "RandomSeed": "2024160046",
    "RECIPIENT_ADDRESS": "acseaastesting@gmail.com",
    "SENDER_ADDRESS": "DoNotReply@cyberworld.party"
  }
}
