{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/providers/Microsoft.Authorization/roleDefinitions/foobar?api-version=7.6",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/providers/Microsoft.Authorization/roleDefinitions/foobar?api-version=7.6",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": {
        "error": {
          "code": "RoleDefinitionNotFound",
          "message": "Requested role definition not found (Activity ID: 19e8ebd6-e7df-11ef-aaed-6045bdc27ed8)"
        }
      }
    }
  ],
  "Variables": {
    "suffix": "suffix-178641"
  }
}
