{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/8cf6c1b6-c80f-437c-87ad-45fbaff54f73?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "id": "/subscriptions/8cf6c1b6-c80f-437c-87ad-45fbaff54f73",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "tags": {
          "Az.Sec.AnonymousBlobEnforcement::OptIn": "all_regions"
        },
        "subscriptionId": "8cf6c1b6-c80f-437c-87ad-45fbaff54f73",
        "tenantId": "00000000-0000-0000-0000-000000000000",
        "displayName": "AzBlitz-test",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/8cf6c1b6-c80f-437c-87ad-45fbaff54f73/resourcegroups/standbyPoolRG-5961?api-version=2022-09-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastasia"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-writes": "11999",
        "x-ms-ratelimit-remaining-subscription-writes": "799"
      },
      "ResponseBody": {
        "id": "/subscriptions/8cf6c1b6-c80f-437c-87ad-45fbaff54f73/resourceGroups/standbyPoolRG-5961",
        "name": "standbyPoolRG-5961",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "eastasia",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/8cf6c1b6-c80f-437c-87ad-45fbaff54f73/providers/Microsoft.Network?api-version=2022-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "id": "/subscriptions/8cf6c1b6-c80f-437c-87ad-45fbaff54f73/providers/Microsoft.Network",
        "namespace": "Microsoft.Network",
        "authorizations": [
          {
            "applicationId": "00000000-0000-0000-0000-000000000000",
            "roleDefinitionId": "18363e25-ff21-4159-ae8d-7dfecb5bd001"
          },
          {
            "applicationId": "00000000-0000-0000-0000-000000000000",
            "roleDefinitionId": "d4d2d679-cce0-429d-9a3b-17118c035f66"
          },
          {
            "applicationId": "00000000-0000-0000-0000-000000000000",
            "roleDefinitionId": "d4d2d679-cce0-429d-9a3b-17118c035f66"
          },
          {
            "applicationId": "00000000-0000-0000-0000-000000000000",
            "roleDefinitionId": "13b[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/8cf6c1b6-c80f-437c-87ad-45fbaff54f73/resourceGroups/standbyPoolRG-5961/providers/Microsoft.Network/virtualNetworks/testVNet-5186?api-version=**",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastasia",
        "properties": {
          "addressSpace": {
            "addressPrefixes": [
              "10.0.0.0/16"
            ]
          },
          "subnets": [
            {
              "name": "testSubnet-7301",
              "properties": {
                "addressPrefix": "10.0.2.0/24"
              }
            }
          ]
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncNotification": "Enabled",
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/8cf6c1b6-c80f-437c-87ad-45fbaff54f73/providers/Microsoft.Network/locations/eastasia/operations/fd155baf-f5e0-4b75-9ee8-667607aa7c85?api-version=2025-07-01&t=639088464214691355&c=MIIHkTCCBnmgAwIBAgIRAP3XwgmMzTECUfmSl92xlr4wDQYJKoZIhvcNAQELBQAwNjE0MDIGA1UEAxMrQ0NNRSBHMSBUTFMgUlNBIDIwNDggU0hBMjU2IDIwNDkgV1VTMiBDQSAwMTAeFw0yNjAyMTgxOTI2MTVaFw0yNjA4MTQwMTI2MTVaMEAxPjA8BgNVBAMTNWFzeW5jb3BlcmF0aW9uc2lnbmluZ2NlcnRpZmljYXRlLm1hbmFnZW1lbnQuYXp1cmUuY29tMIIBIjANB[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/8cf6c1b6-c80f-437c-87ad-45fbaff54f73/providers/Microsoft.Network/locations/eastasia/operations/fd155baf-f5e0-4b75-9ee8-667607aa7c85?api-version=**&t=639088464214691355&c=MIIHkTCCBnmgAwIBAgIRAP3XwgmMzTECUfmSl92xlr4wDQYJKoZIhvcNAQELBQAwNjE0MDIGA1UEAxMrQ0NNRSBHMSBUTFMgUlNBIDIwNDggU0hBMjU2IDIwNDkgV1VTMiBDQSAwMTAeFw0yNjAyMTgxOTI2MTVaFw0yNjA4MTQwMTI2MTVaMEAxPjA8BgNVBAMTNWFzeW5jb3BlcmF0aW9uc2lnbmluZ2NlcnRpZmljYXRlLm1hbmFnZW1lbnQuYXp1[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/8cf6c1b6-c80f-437c-87ad-45fbaff54f73/resourceGroups/standbyPoolRG-5961/providers/Microsoft.Network/virtualNetworks/testVNet-5186?api-version=**",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "name": "testVNet-5186",
        "id": "/subscriptions/8cf6c1b6-c80f-437c-87ad-45fbaff54f73/resourceGroups/standbyPoolRG-5961/providers/Microsoft.Network/virtualNetworks/testVNet-5186",
        "etag": "W/\"6d785613-b58a-426a-b105-267f1d295b01\"",
        "type": "Microsoft.Network/virtualNetworks",
        "location": "eastasia",
        "properties": {
          "provisioningState": "Succeeded",
          "resourceGuid": "06793d50-786d-405a-b68b-1a9d2bcdac79",
          "addressSpace": {
            "addressPrefixes": [
              "10.0.0.0/16"
            ]
          },
          "privateEndpointVNetPolicies": "Disabled",
          "subnets": [
            {
              "name": "testSubnet-7301",
              "id": "/subscriptions/8cf6c1b6-c80f-437c-87ad-45fbaff54f73/resourceGroups/standbyPoolRG-5961/providers/Microsoft.Network/virtualNetworks/testVNet-5186/subnets/testSubnet-7301",
              "etag": "W/\"6d785613-b58a-426a-b105-267f1d295b01\"",
              "properties": {
                "provisioningState": "Succeeded",
                "addressPrefix": "10.0.2.0/24",
                "delegations": [],
                "privateEndpointNetworkPolicies": "Disabled",
                "privateLinkServiceNetworkPolicies": "Enabled"
              },
              "type": "Microsoft.Network/virtualNetworks/subnets"
            }
          ],
          "virtualNetworkPeerings": [],
          "enableDdosProtection": false
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/8cf6c1b6-c80f-437c-87ad-45fbaff54f73/resourceGroups/standbyPoolRG-5961/providers/Microsoft.Network/networkSecurityGroups/testVNetSecurityGroups-3920?api-version=**",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastasia"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
   [...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/8cf6c1b6-c80f-437c-87ad-45fbaff54f73/providers/Microsoft.Network/locations/eastasia/operations/c74be6f2-85df-4e6f-9293-f31fb1cd23ce?api-version=**&t=639088464346256955&c=MIIHkTCCBnmgAwIBAgIRAP3XwgmMzTECUfmSl92xlr4wDQYJKoZIhvcNAQELBQAwNjE0MDIGA1UEAxMrQ0NNRSBHMSBUTFMgUlNBIDIwNDggU0hBMjU2IDIwNDkgV1VTMiBDQSAwMTAeFw0yNjAyMTgxOTI2MTVaFw0yNjA4MTQwMTI2MTVaMEAxPjA8BgNVBAMTNWFzeW5jb3BlcmF0aW9uc2lnbmluZ2NlcnRpZmljYXRlLm1hbmFnZW1lbnQuYXp1[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/8cf6c1b6-c80f-437c-87ad-45fbaff54f73/resourceGroups/standbyPoolRG-5961/providers/Microsoft.Network/networkSecurityGroups/testVNetSecurityGroups-3920?api-version=**",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\"139ff2fa-a39e-40c4-bc12-cee0e046ea15\"",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "name": "testVNetSecurityGroups-3920",
        "id": "/subscriptions/8cf6c1b6-c80f-437c-87ad-45fbaff54f73/resourceGroups/standbyPoolRG-5961/providers/Microsoft.Network/networkSecurityGroups/testVNetSecurityGroups-3920",
        "etag": "W/\"139ff2fa-a39e-40c4-bc12-cee0e046ea15\"",
        "type": "Microsoft.Network/networkSecurityGroups",
        "location": "eastasia",
        "properties": {
          "provisioningState": "Succeeded",
          "resourceGuid": "218801fa-0886-4b18-8119-17e58b40f667",
          "securityRules": [],
          "defaultSecurityRules": [
            {
              "name": "AllowVnetInBound",
              "id": "/subscriptions/8cf6c1b6-c80f-437c-87ad-45fbaff54f73/resourceGroups/standbyPoolRG-5961/providers/Microsoft.Network/networkSecurityGroups/testVNetSecurityGroups-3920/defaultSecurityRules/AllowVnetInBound",
              "etag": "W/\"139ff2fa-a39e-40c4-bc12-cee0e046ea15\"",
              "type": "Microsoft.Network/networkSecurityGroups/defaultSecurityRules",
              "properties": {
                "provisioningState": "Succeeded",
                "description": "Allow inbound traffic from all VMs in VNET",
                "protocol": "*",
                "sourcePortRange": "*",
                "destinationPortRange": "*",
                "sourceAddressPrefix": "VirtualNetwork",
                "destinationAddressPrefix": "VirtualNetwork",
                "access": "Allow",
                "priority": 65000,
                "direction": "Inbound",
                "sourcePortRanges": [],
                "destinationPortRanges": [],
                "sourceAddressPrefixes": [],
                "destinationAddressPrefixes": []
              }
            },
            {
              "name": "AllowAzureLoadBalancerInBound",
              "id": "/subscriptions/8cf6c1b6-c80f-437c-87ad-45fbaff54f73/resourceGroups/standbyPoolRG-5961/providers/Microsoft.Network/networkSecurityGroups/testVNetSecurityGroups-3920/defaultSecurityRules/AllowAzureLoadBalancerInBound",
              "etag": "W/\"139ff2fa-a39e-40c4-bc12-cee0e046ea15\"",
              "type": "Microsoft.Network/networkSecurityGroups/defaultSecurityRules",
    [...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/8cf6c1b6-c80f-437c-87ad-45fbaff54f73/resourceGroups/standbyPoolRG-5961/providers/Microsoft.Compute/virtualMachineScaleSets/testVMSS-6538?api-version=2025-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastasia",
        "sku": {
          "name": "Standard_DS1_v2",
          "capacity": 0
        },
        "properties": {
          "virtualMachineProfile": {
            "osProfile": {
              "computerNamePrefix": "testVMSS",
              "adminUsername": "dummyAdmin",
              "adminPassword": "Sanitized",
              "linuxConfiguration": {
                "disablePasswordAuthentication": false,
                "ssh": {
                  "publicKeys": [
                    {
                      "path": "/home/dummyAdmin/.ssh/authorized_keys",
                      "keyData": "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQC+wWK73dCr+jgQOAxNsHAnNNNMEMWOHYEccp6wJm2gotpr9katuF/ZAdou5AaW1C61slRkHRkpRRX9FA9CYBiitZgvCCz+3nWNN7l/Up54Zps/pHWGZLHNJZRYyAB6j5yVLMVHIHriY49d/GZTZVNB8GoJv9Gakwc/fuEZYYl4YDFiGMBP///TzlI4jhiJzjKnEvqPFki5p2ZRJqcbCiF4pJrxUQR/RXqVFQdbRLZgYfJ8xGB878RENq3yQ39d8dVOkq4edbkzwcUmwwwkYVPIoDGsYLaRHnG+To7FvMeyO7xDVQkMKzopTQV8AuKpyvpqu0a9pWOMaiCyDytO7GGN you@me.com"
                    }
                  ]
                }
              }
            },
            "storageProfile": {
              "imageReference": {
                "publisher": "canonical",
                "offer": "0001-com-ubuntu-server-focal",
                "sku": "20_04-lts-gen2",
                "version": "latest"
              },
              "osDisk": {
                "caching": "ReadWrite",
                "createOption": "FromImage",
                "managedDisk": {
                  "storageAccountType": "Premium_LRS"
                }
              }
            },
            "networkProfile": {
              "networkInterfaceConfigurations": [
                {
                  "name": "testVMSS-6538",
                  "properties": {
                    "primary": true,
                    "enableAcceleratedNetworking": false,
                    "networkSecurityGroup": {
                      "id": "/subscriptions/8cf6c1b6-c80f-437c-87ad-45fbaff54f73/resourceGroups/standbyPoolRG-5961/providers/Microsoft.Network/networkSecurityGroups/testVNetSecurityGroups-3920"
                    },
                    "ipConfigurations": [
                      {
                        "name": "testVMSS-6538",
                        "properties": {
                          "subnet": {
                            "id": "/subscriptions/8cf6c1b6-c80f-437c-87ad-45fbaff54f73/resourceGroups/standbyPoolRG-5961/providers/Microsoft.Network/virtualNetworks/testVNet-5186/subnets/testSubnet-7301"
                          },
                          "publicIPAddressConfiguration": {
                            "name": "testVMSS-6538",
                            "properties": {
                              "idleTimeoutInMinutes": 15
                            }
                          }
                        }
                      }
                    ]
                  }
                }
              ],
              "networkApiVersion": "2020-11-01"
            },
            "diagnosticsProfile": {
              "bootDiagnostics": {
                "enabled": true
              }
            }
          },
          "platformFaultDomainCount": 1,
          "additionalCapabilities": {
            "hibernationEnabled": true
          },
          "orchestrationMode": "Flexible"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "azure-asyncnotification": "Enabled",
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/8cf6c1b6-c80f-437c-87ad-45fbaff54f73/providers/Microsoft.Compute/locations/eastasia/operations/3e3faaa4-ce2f-477e-b36d-b1d54f07c3b3?p=9be8508c-ebc0-4dc6-b9f3-806ddbd3b039&api-version=2025-04-01&t=639088464378154778&c=MIIHkTCCBnmgAwIBAgIRAP3XwgmMzTECUfmSl92xlr4wDQYJKoZIhvcNAQELBQAwNjE0MDIGA1UEAxMrQ0NNRSBHMSBUTFMgUlNBIDIwNDggU0hBMjU2IDIwNDkgV1VTMiBDQSAwMTAeFw0yNjAyMTgxOTI2MTVaFw0yNjA4MTQwMTI2MTVaMEAxPjA8BgNVBAM[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/8cf6c1b6-c80f-437c-87ad-45fbaff54f73/providers/Microsoft.Compute/locations/eastasia/operations/3e3faaa4-ce2f-477e-b36d-b1d54f07c3b3?p=9be8508c-ebc0-4dc6-b9f3-806ddbd3b039&api-version=2025-04-01&t=639088464378154778&c=MIIHkTCCBnmgAwIBAgIRAP3XwgmMzTECUfmSl92xlr4wDQYJKoZIhvcNAQELBQAwNjE0MDIGA1UEAxMrQ0NNRSBHMSBUTFMgUlNBIDIwNDggU0hBMjU2IDIwNDkgV1VTMiBDQSAwMTAeFw0yNjAyMTgxOTI2MTVaFw0yNjA4MTQwMTI2MTVaMEAxPjA8BgNVBAMTNWFzeW5jb3BlcmF0a[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/8cf6c1b6-c80f-437c-87ad-45fbaff54f73/resourceGroups/standbyPoolRG-5961/providers/Microsoft.Compute/virtualMachineScaleSets/testVMSS-6538?api-version=2025-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\"1\"",
        "x-ms-need-to-refresh-epl-cache": "False",
        "x-ms-ratelimit-remaining-resource": "Microsoft.Compute/GetVMScaleSetSubscriptionMaximum;2397,Microsoft.Compute/GetVMScaleSetResource;35",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "name": "testVMSS-6538",
        "id": "/subscriptions/8cf6c1b6-c80f-437c-87ad-45fbaff54f73/resourceGroups/standbyPoolRG-5961/providers/Microsoft.Compute/virtualMachineScaleSets/testVMSS-6538",
        "type": "Microsoft.Compute/virtualMachineScaleSets",
        "location": "eastasia",
        "tags": {
          "azsecpack": "nonprod",
          "platformsettings.host_environment.service.platform_optedin_for_rootcerts": "true"
        },
        "sku": {
          "name": "Standard_DS1_v2",
          "tier": "Standard",
          "capacity": 0
        },
        "etag": "\"1\"",
        "properties": {
          "singlePlacementGroup": false,
          "highSpeedInterconnectPlacement": "None",
          "orchestrationMode": "Flexible",
          "upgradePolicy": {
            "mode": "Manual"
          },
          "virtualMachineProfile": {
            "osProfile": {
              "computerNamePrefix": "testVMSS",
              "adminUsername": "dummyAdmin",
              "linuxConfiguration": {
                "disablePasswordAuthentication": false,
                "ssh": {
                  "publicKeys": [
                    {
                      "path": "/home/dummyAdmin/.ssh/authorized_keys",
                      "keyData": "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQC+wWK73dCr+jgQOAxNsHAnNNNMEMWOHYEccp6wJm2gotpr9katuF/ZAdou5AaW1C61slRkHRkpRRX9FA9CYBiitZgvCCz+3nWNN7l/Up54Zps/pHWGZLHNJZRYyAB6j5yVLMVHIHriY49d/GZTZVNB8GoJv9Gakwc/fuEZYYl4YDFiGMBP///TzlI4jhiJzjKnEvqPFki5p2ZRJqcbCiF4pJrxUQR/RXqVFQdbRLZgYfJ8xGB878RENq3yQ39d8dVOkq4edbkzwcUmwwwkYVPIoDGsYLaRHnG+To7FvMeyO7xDVQkMKzopTQV8AuKpyvpqu0a9pWOMaiCyDytO7GGN you@me.com"
                    }
                  ]
                },
                "provisionVMAgent": true,
                "patchSettings": {
                  "patchMode": "ImageDefault",
                  "assessmentMode": "ImageDefault"
                },
                "enableVMAgentPlatformUpdates": true
              },
              "secrets": [],
              "allowExtensionOperations": true,
              "requireGuestProvisionSignal": true
            },
            "storageProfile": {
              "osDisk": {
                "osType": "Linux",
                "createOption": "FromImage",
                "caching": "ReadWrite",
                "managedDisk": {
                  "storageAccountType": "Premium_LRS"
                },
                "deleteOption": "Delete",
                "diskSizeGB": 30
              },
              "imageReference": {
                "publisher": "canonical",
                "offer": "0001-com-ubuntu-server-focal",
                "sku": "20_04-lts-gen2",
                "version": "latest"
              },
              "diskControllerType": "SCSI"
            },
            "networkProfile": {
              "networkApiVersion": "2020-11-01",
              "networkInterfaceConfigurations": [
                {
                  "name": "testVMSS-6538",
                  "properties": {
                    "primary": true,
                    "enableAcceleratedNetworking": false,
                    "disableTcpStateTracking": false,
                    "effectiveEnableAcceleratedNetworking": false,
                    "enableIPForwarding": false,
                    "delegateIpAllocation": false,
                    "auxiliaryMode": "None",
                    "auxiliarySku": "None",
                    "nicAuxiliarySkuBillingNotificationType": "NoOp",
                    "deleteOption": "Delete",
                    "ipConfigurations": [
                      {
                        "name": "testVMSS-6538",
                        "properties": {
                          "privateIPAddressVersion": "IPv4",
                          "subnet": {
                            "id": "/subscriptions/8cf6c1b6-c80f-437c-87ad-45fbaff54f73/resourceGroups/standbyPoolRG-5961/providers/Microsoft.Network/virtualNetworks/testVNet-5186/subnets/testSubnet-7301"
                          },
                          "publicIPAddressConfiguration": {
                            "name": "testVMSS-6538",
                            "properties": {
                              "idleTimeoutInMinutes": 15,
                              "ipTags": [],
                              "publicIPAddressVersion": "IPv4"
                            }
                          },
                          "applicationSecurityGroups": [],
                          "loadBalancerBackendAddressPools": [],
                          "applicationGatewayBackendAddressPools": []
                        }
                      }
                    ],
                    "networkSecurityGroup": {
                      "id": "/subscriptions/8cf6c1b6-c80f-437c-87ad-45fbaff54f73/resourceGroups/standbyPoolRG-5961/providers/Microsoft.Network/networkSecurityGroups/testVNetSecurityGroups-3920"
                    },
                    "dnsSettings": {
                      "dnsServers": []
                    }
                  }
                }
              ]
            },
            "diagnosticsProfile": {
              "bootDiagnostics": {
                "enabled": true
              }
            },
            "extensionProfile": {
              "extensions": [
                {
                  "name": "Microsoft.Azure.Security.Monitoring.AzureSecurityLinuxAgent",
                  "properties": {
                    "autoUpgradeMinorVersion": true,
                    "enableAutomaticUpgrade": true,
                    "suppressFailures": true,
                    "publisher": "Microsoft.Azure.Security.Monitoring",
                    "type": "AzureSecurityLinuxAgent",
                    "typeHandlerVersion": "2.0",
                    "settings": {
                      "enableGenevaUpload": true,
                      "enableAutoConfig": true,
                      "reportSuccessOnUnsupportedDistro": true
                    }
                  }
                },
                {
                  "name": "Microsoft.Azure.Monitor.AzureMonitorLinuxAgent",
                  "properties": {
                    "autoUpgradeMinorVersion": true,
                    "enableAutomaticUpgrade": true,
                    "suppressFailures": true,
                    "publisher": "Microsoft.Azure.Monitor",
                    "type": "AzureMonitorLinuxAgent",
                    "typeHandlerVersion": "1.0",
                    "settings": {
                      "GCS_AUTO_CONFIG": true
                    }
                  }
                }
              ]
            },
            "timeCreated": "2026-03-11T17:20:37.3053202+00:00"
          },
          "additionalCapabilities": {
            "hibernationEnabled": true
          },
          "provisioningState": "Succeeded",
          "uniqueId": "4ccbf291-f324-402a-b4f4-71f4c236bf61",
          "platformFaultDomainCount": 1,
          "constrainedMaximumCapacity": false,
          "timeCreated": "2026-03-11T17:20:37.3053202+00:00"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/8cf6c1b6-c80f-437c-87ad-45fbaff54f73/resourceGroups/standbyPoolRG-5961/providers/Microsoft.StandbyPool/standbyVirtualMachinePools/standbyVM-8866?api-version=2025-10-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastasia",
        "properties": {
          "elasticityProfile": {
            "maxReadyCapacity": 11,
            "minReadyCapacity": 1,
            "dynamicSizing": {}
          },
          "virtualMachineState": "Running",
          "attachedVirtualMachineScaleSetId": "/subscriptions/8cf6c1b6-c80f-437c-87ad-45fbaff54f73/resourceGroups/standbyPoolRG-5961/providers/Microsoft.Compute/virtualMachineScaleSets/testVMSS-6538"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\"3d0028ab-0000-1900-0000-69b1a46d0000\"",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-global-writes": "11999",
        "x-ms-ratelimit-remaining-subscription-writes": "799"
      },
      "ResponseBody": {
        "id": "/subscriptions/8cf6c1b6-c80f-437c-87ad-45fbaff54f73/resourceGroups/standbyPoolRG-5961/providers/Microsoft.StandbyPool/standbyVirtualMachinePools/standbyVM-8866",
        "name": "standbyVM-8866",
        "type": "microsoft.standbypool/standbyvirtualmachinepools",
        "location": "eastasia",
        "tags": {},
        "systemData": {
          "createdBy": "Sanitized",
          "createdByType": "User",
          "createdAt": "2026-03-11T17:20:43.5164072Z",
          "lastModifiedBy": "Sanitized",
          "lastModifiedByType": "User",
          "lastModifiedAt": "2026-03-11T17:20:43.5164072Z"
        },
        "properties": {
          "elasticityProfile": {
            "maxReadyCapacity": 11,
            "minReadyCapacity": 1,
            "dynamicSizing": {
              "enabled": false
            }
          },
          "virtualMachineState": "Running",
          "attachedVirtualMachineScaleSetId": "/subscriptions/8cf6c1b6-c80f-437c-87ad-45fbaff54f73/resourceGroups/standbyPoolRG-5961/providers/Microsoft.Compute/virtualMachineScaleSets/testVMSS-6538",
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/8cf6c1b6-c80f-437c-87ad-45fbaff54f73/providers/Microsoft.StandbyPool/standbyVirtualMachinePools?api-version=2025-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-original-request-ids": [
          "98884573-f8de-415a-9f65-34771303849b",
          "b955253e-b66b-46a4-b80b-5ad57447ba85",
          "5eff03a4-8a1b-4599-ab35-c70c47a4fb3a",
          "523d5eac-722b-410b-875d-e061bbbbdef6",
          "55f5014f-1a51-48cd-8801-3920d68c68a3",
          "4a4d044f-2444-4485-a3ea-30562035acb2"
        ],
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/8cf6c1b6-c80f-437c-87ad-45fbaff54f73/resourceGroups/standbyPoolRG-5961/providers/Microsoft.StandbyPool/standbyVirtualMachinePools/standbyVM-8866",
            "name": "standbyVM-8866",
            "type": "microsoft.standbypool/standbyvirtualmachinepools",
            "location": "eastasia",
            "tags": {},
            "systemData": {
              "createdBy": "Sanitized",
              "createdByType": "User",
              "createdAt": [...]
