{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.sanitized_label.sanitized_location.geocatalog.spatio.azure.com/stac/collections/naip-atl-00000000/configurations/render-options?api-version=2025-04-30-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "id": "test-render-opt-delete",
        "name": "Test Render Option To Be Deleted",
        "type": "raster-tile",
        "options": "assets=image&asset_bidx=image|1,2,3",
        "minZoom": 6
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json"
      },
      "ResponseBody": {
        "id": "test-render-opt-delete",
        "name": "Test Render Option To Be Deleted",
        "type": "raster-tile",
        "options": "assets=image&asset_bidx=image|1,2,3",
        "minZoom": 6
      }
    },
    {
      "RequestUri": "https://Sanitized.sanitized_label.sanitized_location.geocatalog.spatio.azure.com/stac/collections/naip-atl-00000000/configurations/render-options/test-render-opt-delete?api-version=2025-04-30-preview",
      "RequestMethod": "GET",
      "Req[...]
