{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/threads?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {},
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "102",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "7a36ce28-3ca1-492f-91ef-691887d45938",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.223"
      },
      "ResponseBody": {
        "id": "thread_DvmER6SYRNCo7lG5TCXGXqaa",
        "object": "thread",
        "created_at": 1746747021,
        "metadata": {},
        "tool_resources": {}
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/threads/thread_DvmER6SYRNCo7lG5TCXGXqaa/messages?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "role": "user",
        "content": "hello, world!"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "99",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "f42ae3df-dff2-4e97-b683-21bc34bcaf2c",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.206"
      },
      "ResponseBody": {
        "id": "msg_DPo1JoqZ8DA23vH73gInO6NC",
        "object": "thread.message",
        "created_at": 1746747022,
        "assistant_id": null,
        "thread_id": "thread_DvmER6SYRNCo7lG5TCXGXqaa",
        "run_id": null,
        "role": "user",
        "content": [
          {
            "type": "text",
            "text": {
              "value": "hello, world!",
              "annotations": []
            }
          }
        ],
        "attachments": [],
        "metadata": {}
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/threads/thread_DvmER6SYRNCo7lG5TCXGXqaa/messages/msg_DPo1JoqZ8DA23vH73gInO6NC?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "metadata": {
          "key": "value"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "114",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "a1717cdf-8c81-4d34-b4af-2bcb34dde59f",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.257"
      },
      "ResponseBody": {
        "id": "msg_DPo1JoqZ8DA23vH73gInO6NC",
        "object": "thread.message",
        "created_at": 1746747022,
        "assistant_id": null,
        "thread_id": "thread_DvmER6SYRNCo7lG5TCXGXqaa",
        "run_id": null,
        "role": "user",
        "content": [
          {
            "type": "text",
            "text": {
              "value": "hello, world!",
              "annotations": []
            }
          }
        ],
        "file_ids": [],
        "metadata": {
          "key": "value"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/threads/thread_DvmER6SYRNCo7lG5TCXGXqaa?api-version=2025-05-15-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "129",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "f091f967-390f-4b57-8e3e-9c90baa7c785",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.341"
      },
      "ResponseBody": {
        "id": "thread_DvmER6SYRNCo7lG5TCXGXqaa",
        "object": "thread.deleted",
        "deleted": true
      }
    }
  ],
  "Variables": {}
}
