{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/threads?api-version=v1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {},
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-02",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "74",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "0959d79a-0416-478b-84c5-2c90ba4cd790",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.186"
      },
      "ResponseBody": {
        "id": "thread_lAKo61bvWYK3b1ZRi7LJzXsK",
        "object": "thread",
        "created_at": 1749159664,
        "metadata": {},
        "tool_resources": {}
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/threads/thread_lAKo61bvWYK3b1ZRi7LJzXsK/messages?api-version=v1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "role": "user",
        "content": "hello, world!"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-02",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "104",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "60a6f8ce-d997-4fb5-a887-21b7b0632b0a",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.249"
      },
      "ResponseBody": {
        "id": "msg_YO8pgdYsqevF7PTetcjtGjBw",
        "object": "thread.message",
        "created_at": 1749159664,
        "assistant_id": null,
        "thread_id": "thread_lAKo61bvWYK3b1ZRi7LJzXsK",
        "run_id": null,
        "role": "user",
        "content": [
          {
            "type": "text",
            "text": {
              "value": "hello, world!",
              "annotations": []
            }
          }
        ],
        "attachments": [],
        "metadata": {}
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/threads/thread_lAKo61bvWYK3b1ZRi7LJzXsK/messages/msg_YO8pgdYsqevF7PTetcjtGjBw?api-version=v1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "metadata": {
          "key": "value"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-02",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "85",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "04282691-71c0-4519-a7dd-6845afe617e6",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.238"
      },
      "ResponseBody": {
        "id": "msg_YO8pgdYsqevF7PTetcjtGjBw",
        "object": "thread.message",
        "created_at": 1749159664,
        "assistant_id": null,
        "thread_id": "thread_lAKo61bvWYK3b1ZRi7LJzXsK",
        "run_id": null,
        "role": "user",
        "content": [
          {
            "type": "text",
            "text": {
              "value": "hello, world!",
              "annotations": []
            }
          }
        ],
        "file_ids": [],
        "metadata": {
          "key": "value"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/threads/thread_lAKo61bvWYK3b1ZRi7LJzXsK?api-version=v1",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-02",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "86",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "88528653-4128-4240-84c4-aa9bc0c81f7a",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.192"
      },
      "ResponseBody": {
        "id": "thread_lAKo61bvWYK3b1ZRi7LJzXsK",
        "object": "thread.deleted",
        "deleted": true
      }
    }
  ],
  "Variables": {}
}
