{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/agents/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/threads?api-version=2024-07-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {},
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus2-02",
        "Content-Type": "application/json",
        "openai-organization": "b07780a9e940420e8b1a96b7bd930716",
        "openai-processing-ms": "388",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "88ad6b68-17fc-4a5d-8599-5ef7a4fcb6d4",
        "x-ms-region": "East US 2",
        "x-ms-response-type": "standard",
        "x-request-time": "0.544"
      },
      "ResponseBody": {
        "id": "thread_TFcYuZ94gXVt6Vlxp512DXgc",
        "object": "thread",
        "created_at": 1746174673,
        "metadata": {},
        "tool_resources": {}
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/agents/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/threads/thread_TFcYuZ94gXVt6Vlxp512DXgc/messages?api-version=2024-07-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "role": "user",
        "content": "hello, world!"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus2-02",
        "Content-Type": "application/json",
        "openai-organization": "b07780a9e940420e8b1a96b7bd930716",
        "openai-processing-ms": "121",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "2830fa0d-2b65-4a6f-9411-50b8a69d74b8",
        "x-ms-region": "East US 2",
        "x-ms-response-type": "standard",
        "x-request-time": "0.289"
      },
      "ResponseBody": {
        "id": "msg_yjlrsgmEVFaShYz3Cc83603P",
        "object": "thread.message",
        "created_at": 1746174674,
        "assistant_id": null,
        "thread_id": "thread_TFcYuZ94gXVt6Vlxp512DXgc",
        "run_id": null,
        "role": "user",
        "content": [
          {
            "type": "text",
            "text": {
              "value": "hello, world!",
              "annotations": []
            }
          }
        ],
        "attachments": [],
        "metadata": {}
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/agents/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/threads/thread_TFcYuZ94gXVt6Vlxp512DXgc/messages/msg_yjlrsgmEVFaShYz3Cc83603P?api-version=2024-07-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "metadata": {
          "key": "value"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus2-02",
        "Content-Type": "application/json",
        "openai-organization": "b07780a9e940420e8b1a96b7bd930716",
        "openai-processing-ms": "477",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "5f78b75c-d6fd-44d3-bb7c-a3eff8398f00",
        "x-ms-region": "East US 2",
        "x-ms-response-type": "standard",
        "x-request-time": "0.637"
      },
      "ResponseBody": {
        "id": "msg_yjlrsgmEVFaShYz3Cc83603P",
        "object": "thread.message",
        "created_at": 1746174674,
        "assistant_id": null,
        "thread_id": "thread_TFcYuZ94gXVt6Vlxp512DXgc",
        "run_id": null,
        "role": "user",
        "content": [
          {
            "type": "text",
            "text": {
              "value": "hello, world!",
              "annotations": []
            }
          }
        ],
        "file_ids": [],
        "metadata": {
          "key": "value"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/agents/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/threads/thread_TFcYuZ94gXVt6Vlxp512DXgc?api-version=2024-07-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus2-02",
        "Content-Type": "application/json",
        "openai-organization": "b07780a9e940420e8b1a96b7bd930716",
        "openai-processing-ms": "708",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "b14887b7-861d-4839-ad38-164129df6123",
        "x-ms-region": "East US 2",
        "x-ms-response-type": "standard",
        "x-request-time": "0.878"
      },
      "ResponseBody": {
        "id": "thread_TFcYuZ94gXVt6Vlxp512DXgc",
        "object": "thread.deleted",
        "deleted": true
      }
    }
  ],
  "Variables": {}
}
