{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/project/threads?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {},
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-02",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "29",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "3f8a15d5-131d-4c3f-a5ef-d08677e8f24e",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.529"
      },
      "ResponseBody": {
        "id": "thread_o9JM8k76rcn1O9ALM4QVMrx9",
        "object": "thread",
        "created_at": 1746666746,
        "metadata": {},
        "tool_resources": {}
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/project/threads/thread_o9JM8k76rcn1O9ALM4QVMrx9/messages?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "role": "user",
        "content": "hello, world!"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-02",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "109",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "8f8f8115-2acd-4fff-abe0-a5e0ac89615e",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.233"
      },
      "ResponseBody": {
        "id": "msg_eK5fVqMyM32XtcY49B5s86gs",
        "object": "thread.message",
        "created_at": 1746666746,
        "assistant_id": null,
        "thread_id": "thread_o9JM8k76rcn1O9ALM4QVMrx9",
        "run_id": null,
        "role": "user",
        "content": [
          {
            "type": "text",
            "text": {
              "value": "hello, world!",
              "annotations": []
            }
          }
        ],
        "attachments": [],
        "metadata": {}
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/project/threads/thread_o9JM8k76rcn1O9ALM4QVMrx9/messages/msg_eK5fVqMyM32XtcY49B5s86gs?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "metadata": {
          "key": "value"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-02",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "83",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "4995e853-958a-47fa-94aa-c7331ec2e209",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.231"
      },
      "ResponseBody": {
        "id": "msg_eK5fVqMyM32XtcY49B5s86gs",
        "object": "thread.message",
        "created_at": 1746666746,
        "assistant_id": null,
        "thread_id": "thread_o9JM8k76rcn1O9ALM4QVMrx9",
        "run_id": null,
        "role": "user",
        "content": [
          {
            "type": "text",
            "text": {
              "value": "hello, world!",
              "annotations": []
            }
          }
        ],
        "file_ids": [],
        "metadata": {
          "key": "value"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/project/threads/thread_o9JM8k76rcn1O9ALM4QVMrx9?api-version=2025-05-15-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-02",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "87",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "0be712a8-b190-431d-92e6-0562eeb9a810",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.300"
      },
      "ResponseBody": {
        "id": "thread_o9JM8k76rcn1O9ALM4QVMrx9",
        "object": "thread.deleted",
        "deleted": true
      }
    }
  ],
  "Variables": {}
}
