{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/project/threads?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {},
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-02",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "81",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "7343c9fe-e9f2-43fc-804a-8116a10c2747",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.213"
      },
      "ResponseBody": {
        "id": "thread_EdzQ6uND18NqCKZPMq5g2jvi",
        "object": "thread",
        "created_at": 1746663583,
        "metadata": {},
        "tool_resources": {}
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/project/threads/thread_EdzQ6uND18NqCKZPMq5g2jvi/messages?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "role": "user",
        "content": "hello, world!"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-02",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "125",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "7923cd1f-4c39-4a54-9d06-aa47965d1cc8",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.283"
      },
      "ResponseBody": {
        "id": "msg_3mdfkYbg6WdODUOZTzV4n74K",
        "object": "thread.message",
        "created_at": 1746663583,
        "assistant_id": null,
        "thread_id": "thread_EdzQ6uND18NqCKZPMq5g2jvi",
        "run_id": null,
        "role": "user",
        "content": [
          {
            "type": "text",
            "text": {
              "value": "hello, world!",
              "annotations": []
            }
          }
        ],
        "attachments": [],
        "metadata": {}
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/project/threads/thread_EdzQ6uND18NqCKZPMq5g2jvi/messages/msg_3mdfkYbg6WdODUOZTzV4n74K?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "metadata": {
          "key": "value"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-02",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "82",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "6b9c7713-4ff7-4eb0-8c23-1af4012e3e92",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.252"
      },
      "ResponseBody": {
        "id": "msg_3mdfkYbg6WdODUOZTzV4n74K",
        "object": "thread.message",
        "created_at": 1746663583,
        "assistant_id": null,
        "thread_id": "thread_EdzQ6uND18NqCKZPMq5g2jvi",
        "run_id": null,
        "role": "user",
        "content": [
          {
            "type": "text",
            "text": {
              "value": "hello, world!",
              "annotations": []
            }
          }
        ],
        "file_ids": [],
        "metadata": {
          "key": "value"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/project/threads/thread_EdzQ6uND18NqCKZPMq5g2jvi?api-version=2025-05-15-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-02",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "89",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "64580132-585d-48b2-aca2-873801579556",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.209"
      },
      "ResponseBody": {
        "id": "thread_EdzQ6uND18NqCKZPMq5g2jvi",
        "object": "thread.deleted",
        "deleted": true
      }
    }
  ],
  "Variables": {}
}
