{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/threads?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {},
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "109",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "0f09234d-c232-4621-a505-4f8e6ba71f35",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.454"
      },
      "ResponseBody": {
        "id": "thread_GhzUDDq9T0mdOQHdvyU9WQlh",
        "object": "thread",
        "created_at": 1747727686,
        "metadata": {},
        "tool_resources": {}
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/threads/thread_GhzUDDq9T0mdOQHdvyU9WQlh/messages?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "role": "user",
        "content": "hello, world!"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-02",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "95",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "daab05a3-6172-4e49-ba6c-2e4a2c258cb1",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.248"
      },
      "ResponseBody": {
        "id": "msg_pWSywasjMOZeamXr8pL9HDPV",
        "object": "thread.message",
        "created_at": 1747727686,
        "assistant_id": null,
        "thread_id": "thread_GhzUDDq9T0mdOQHdvyU9WQlh",
        "run_id": null,
        "role": "user",
        "content": [
          {
            "type": "text",
            "text": {
              "value": "hello, world!",
              "annotations": []
            }
          }
        ],
        "attachments": [],
        "metadata": {}
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/threads/thread_GhzUDDq9T0mdOQHdvyU9WQlh?api-version=2025-05-15-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-02",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "40",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "f9656cd8-a224-4809-ada3-a8b1d842c99b",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.249"
      },
      "ResponseBody": {
        "id": "thread_GhzUDDq9T0mdOQHdvyU9WQlh",
        "object": "thread.deleted",
        "deleted": true
      }
    }
  ],
  "Variables": {}
}
