{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/threads?api-version=v1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {},
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-02",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "82",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "3bfa24d0-1321-451a-962b-260f571ef2ea",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.367"
      },
      "ResponseBody": {
        "id": "thread_gauD0kG7ezNKnymVgl68OBbS",
        "object": "thread",
        "created_at": 1748886928,
        "metadata": {},
        "tool_resources": {}
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/threads/thread_gauD0kG7ezNKnymVgl68OBbS/messages?api-version=v1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "role": "user",
        "content": "hello, world!"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "101",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "e4d0c7ae-6b4c-44be-98c0-4702f06c4903",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.378"
      },
      "ResponseBody": {
        "id": "msg_2gt5kNuinh7dTNsacAuTeSMd",
        "object": "thread.message",
        "created_at": 1748886928,
        "assistant_id": null,
        "thread_id": "thread_gauD0kG7ezNKnymVgl68OBbS",
        "run_id": null,
        "role": "user",
        "content": [
          {
            "type": "text",
            "text": {
              "value": "hello, world!",
              "annotations": []
            }
          }
        ],
        "attachments": [],
        "metadata": {}
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/threads/thread_gauD0kG7ezNKnymVgl68OBbS?api-version=v1",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "97",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "ab8a2249-33b8-473e-bdb0-0e9b94f9364f",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.410"
      },
      "ResponseBody": {
        "id": "thread_gauD0kG7ezNKnymVgl68OBbS",
        "object": "thread.deleted",
        "deleted": true
      }
    }
  ],
  "Variables": {}
}
