{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/project/threads?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {},
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "56",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "d214dac0-50c3-48ae-ad6e-f4e46cd2aeeb",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.193"
      },
      "ResponseBody": {
        "id": "thread_pbpiw1rMqN8FnouhvXXSVRsF",
        "object": "thread",
        "created_at": 1746666724,
        "metadata": {},
        "tool_resources": {}
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/project/threads/thread_pbpiw1rMqN8FnouhvXXSVRsF/messages?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "role": "user",
        "content": "hello, world!"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "98",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "9dbc3d55-07c0-4196-9ebf-45ff35dbb7b7",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.208"
      },
      "ResponseBody": {
        "id": "msg_Nu5K99UEj7RDeYlds4S6GLT9",
        "object": "thread.message",
        "created_at": 1746666725,
        "assistant_id": null,
        "thread_id": "thread_pbpiw1rMqN8FnouhvXXSVRsF",
        "run_id": null,
        "role": "user",
        "content": [
          {
            "type": "text",
            "text": {
              "value": "hello, world!",
              "annotations": []
            }
          }
        ],
        "attachments": [],
        "metadata": {}
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/project/threads/thread_pbpiw1rMqN8FnouhvXXSVRsF?api-version=2025-05-15-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 429,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "policy-id": "ResourceRateLimitBy1s",
        "Retry-After": "1"
      },
      "ResponseBody": {
        "error": {
          "code": "429",
          "message": "Rate limit is exceeded. Try again in 1 seconds."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/project/threads/thread_pbpiw1rMqN8FnouhvXXSVRsF?api-version=2025-05-15-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-02",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "140",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "900fd170-dc44-422c-b136-38644a750517",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.259"
      },
      "ResponseBody": {
        "id": "thread_pbpiw1rMqN8FnouhvXXSVRsF",
        "object": "thread.deleted",
        "deleted": true
      }
    }
  ],
  "Variables": {}
}
