{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/project/threads?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {},
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "98",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "525471c8-4ce1-4151-a820-1f51733a3fbe",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.234"
      },
      "ResponseBody": {
        "id": "thread_omyuI0vD6t8HnPt0qxRAiNUA",
        "object": "thread",
        "created_at": 1746596002,
        "metadata": {},
        "tool_resources": {}
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/project/threads/thread_omyuI0vD6t8HnPt0qxRAiNUA/messages?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "role": "user",
        "content": "hello, world!"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "109",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "b9ccec4f-4c2d-4168-9984-9c462e5ffc23",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.240"
      },
      "ResponseBody": {
        "id": "msg_kcIGcX5jOHCNjV4esMetGltK",
        "object": "thread.message",
        "created_at": 1746596003,
        "assistant_id": null,
        "thread_id": "thread_omyuI0vD6t8HnPt0qxRAiNUA",
        "run_id": null,
        "role": "user",
        "content": [
          {
            "type": "text",
            "text": {
              "value": "hello, world!",
              "annotations": []
            }
          }
        ],
        "attachments": [],
        "metadata": {}
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/project/threads/thread_omyuI0vD6t8HnPt0qxRAiNUA/messages/msg_kcIGcX5jOHCNjV4esMetGltK?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "metadata": {
          "key": "value"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "104",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "a7485fb4-e37f-45b9-9a9d-1f74f4f185ae",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.272"
      },
      "ResponseBody": {
        "id": "msg_kcIGcX5jOHCNjV4esMetGltK",
        "object": "thread.message",
        "created_at": 1746596003,
        "assistant_id": null,
        "thread_id": "thread_omyuI0vD6t8HnPt0qxRAiNUA",
        "run_id": null,
        "role": "user",
        "content": [
          {
            "type": "text",
            "text": {
              "value": "hello, world!",
              "annotations": []
            }
          }
        ],
        "file_ids": [],
        "metadata": {
          "key": "value"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/project/threads/thread_omyuI0vD6t8HnPt0qxRAiNUA?api-version=2025-05-15-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "37",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "9b9993f4-fc6d-46da-8c4b-fe6092585c78",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.179"
      },
      "ResponseBody": {
        "id": "thread_omyuI0vD6t8HnPt0qxRAiNUA",
        "object": "thread.deleted",
        "deleted": true
      }
    }
  ],
  "Variables": {}
}
