{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.services.ai.azure.com/api/projects/Sanitized-ai-projects/assistants?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "model": "gpt-4o",
        "name": "test-agent-Sanitized",
        "instructions": "You politely help with general knowledge questions. Use the bing search tool to help ground your responses.",
        "tools": [
          {
            "type": "bing_grounding",
            "bing_grounding": {
              "search_configurations": [
                {
                  "connection_id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.CognitiveServices/accounts/Sanitized/projects/Sanitized-ai-projects/connections/Sanitized-bing-connection"
                }
              ]
            }
          }
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-westus-01",
        "Content-Type": "application/json",
        "openai-organization": "8c657d1e3ed246589982a4af74b9c71a",
        "openai-processing-ms": "97",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "e659eda2-2e64-4931-a0f7-e4d9978eaa62",
        "x-ms-region": "West US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.285"
      },
      "ResponseBody": {
        "id": "asst_2khCp3hqCzqsDtv9ltoE8Ive",
        "object": "assistant",
        "created_at": 1766525990,
        "name": "test-agent-Sanitized",
        "description": null,
        "model": "gpt-4o",
        "instructions": "You politely help with general knowledge questions. Use the bing search tool to help ground your responses.",
        "tools": [
          {
            "type": "bing_grounding",
            "bing_grounding": {
              "search_configurations": [
                {
                  "connection_id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.CognitiveServices/accounts/Sanitized/projects/Sanitized-ai-projects/connections/Sanitized-bing-connection"
                }
              ]
            }
          }
        ],
        "top_p": 1.0,
        "temperature": 1.0,
        "tool_resources": {},
        "metadata": {},
        "response_format": "auto"
      }
    }
  ],
  "Variables": {}
}
