{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.services.ai.azure.com/api/projects/Sanitized-ai-projects/deployments?api-version=2025-05-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-region": "West US"
      },
      "ResponseBody": {
        "value": [
          {
            "name": "Sanitized",
            "type": "ModelDeployment",
            "modelName": "gpt-4o",
            "modelVersion": "2024-08-06",
            "modelPublisher": "OpenAI",
            "capabilities": {
              "chat_completion": "true"
            },
            "sku": {
              "name": "Sanitized",
              "capacity": 30
            }
          },
          {
            "name": "Sanitized",
            "type": "ModelDeployment",
            "modelName": "gpt-4o",
            "modelVersion": "2024-08-06",
            "modelPublisher": "OpenAI",
            "capabilities": {
              "chat_completion": "true"
            },
            "sku": {
              "name": "Sanitized",
              "capacity": 1
            }
          }
        ]
      }
    }
  ],
  "Variables": {
    "subscriptionId": "00000000-0000-0000-0000-000000000000"
  }
}
