{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.services.ai.azure.com/api/projects/Sanitized-ai-projects/deployments/gpt-4o?api-version=2025-05-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-region": "West US"
      },
      "ResponseBody": {
        "name": "gpt-4o",
        "type": "ModelDeployment",
        "modelName": "gpt-4o",
        "modelVersion": "2024-08-06",
        "modelPublisher": "OpenAI",
        "capabilities": {
          "chat_completion": "true"
        },
        "sku": {
          "name": "Standard",
          "capacity": 30
        }
      }
    }
  ],
  "Variables": {}
}
