{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "3749",
        "x-ms-ratelimit-remaining-subscription-reads": "249"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "tags": {
          "owners": "bebroder,wesh",
          "DoNotDelete": ""
        },
        "subscriptionId": "00000000-0000-0000-0000-000000000000",
        "tenantId": "00000000-0000-0000-0000-000000000000",
        "displayName": "Azure SDK Test Resources - TME",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.CognitiveServices/accounts?api-version=2025-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-original-request-ids": [
          "652201d1-5c95-4a79-8816-bd4e0d22fbe1",
          "c21b0a48-c41e-4de1-a673-efffa0b71ba8",
          "6350f16a-4ab5-4a9a-a7e0-3690f8048a20",
          "c6779b98-dd4e-4a97-bf06-3f450181a11c",
          "502fee81-91c0-44a4-b510-9fcdc2d863d7",
          "de10392b-b834-4262-81cb-2e66875b0522"
        ],
        "x-ms-ratelimit-remaining-subscription-global-reads": "3749",
        "x-ms-ratelimit-remaining-subscription-reads": "249"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/static-test-resources/providers/Microsoft.CognitiveServices/accounts/azmcp-test",
            "name": "azmcp-test",
            "type": "Microsoft.CognitiveServices/accounts",
            "etag": "Sanitized",
            "location": "westus",
            "sku": {
              "name": "S0"
            },
            "kind": "OpenAI",
            "properties": {
              "endpoint": "https://azmcp-test.openai.azure.com/",
              "provisioningState": "Succeeded",
              "internalId": "40d3e1fdccd742299be06967686f9612",
              "dateCreated": "2025-05-29T23:20:53.4357378Z",
              "apiProperties": {},
              "callRateLimit": {
                "rules": [
                  {
                    "key": "openai.dalle.post",
                    "renewalPeriod": 1,
                    "count": 30,
                    "matchPatterns": [
                      {
                        "path": "dalle/*",
                        "method": "POST"
                      },
                      {
                        "path": "openai/images/*",
                        "method": "POST"
                      }
                    ]
                  },
                  {
                    "key": "openai.dalle.other",
                    "renewalPeriod": 1,
                    "count": 30,
                    "matchPatterns": [
                      {
                        "path": "dalle/*",
                        "method": "*[...]
