{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.services.ai.azure.com/api/projects/Sanitized-ai-projects/indexes?api-version=2025-05-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-westus-02",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "09df7538-8b38-4f31-b5fb-3887dedc27a0",
        "x-ms-region": "West US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.256"
      },
      "ResponseBody": {
        "value": []
      }
    }
  ],
  "Variables": {}
}
