{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "3749",
        "x-ms-ratelimit-remaining-subscription-reads": "249"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "tags": {
          "owners": "bebroder,wesh",
          "DoNotDelete": ""
        },
        "subscriptionId": "00000000-0000-0000-0000-000000000000",
        "tenantId": "00000000-0000-0000-0000-000000000000",
        "displayName": "Azure SDK Test Resources - TME",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/static-test-resources?api-version=2022-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "3749",
        "x-ms-ratelimit-remaining-subscription-reads": "249"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/static-test-resources",
        "name": "static-test-resources",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "westus",
        "tags": {
          "owners": "bebroder,wesh",
          "DoNotDelete": "",
          "purpose": "static data for live testing, e.g. trained models"
        },
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/static-test-resources/providers/Microsoft.CognitiveServices/accounts/azmcp-test?api-version=2025-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\"810016b1-0000-0700-0000-68dc54080000\"",
        "x-ms-ratelimit-remaining-subscription-global-reads": "3749",
        "x-ms-ratelimit-remaining-subscription-reads": "249"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/static-test-resources/providers/Microsoft.CognitiveServices/accounts/azmcp-test",
        "name": "azmcp-test",
        "type": "Microsoft.CognitiveServices/accounts",
        "etag": "Sanitized",
        "location": "westus",
        "sku": {
          "name": "S0"
        },
        "kind": "OpenAI",
        "properties": {
          "endpoint": "https://azmcp-test.openai.azure.com/",
          "provisioningState": "Succeeded",
          "internalId": "40d3e1fdccd742299be06967686f9612",
          "dateCreated": "2025-05-29T23:20:53.4357378Z",
          "apiProperties": {},
          "callRateLimit": {
            "rules": [
              {
                "key": "openai.dalle.post",
                "renewalPeriod": 1,
                "count": 30,
                "matchPatterns": [
                  {
                    "path": "dalle/*",
                    "method": "POST"
                  },
                  {
                    "path": "openai/images/*",
                    "method": "POST"
                  }
                ]
              },
              {
                "key": "openai.dalle.other",
                "renewalPeriod": 1,
                "count": 30,
                "matchPatterns": [
                  {
                    "path": "dalle/*",
                    "method": "*"
                  },
                  {
                 [...]
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/static-test-resources/providers/Microsoft.CognitiveServices/accounts/azmcp-test/deployments?api-version=2025-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "3749",
        "x-ms-ratelimit-remaining-subscription-reads": "249"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/static-test-resources/providers/Microsoft.CognitiveServices/accounts/azmcp-test/deployments/embedding-model",
            "type": "Microsoft.CognitiveServices/accounts/deployments",
            "name": "embedding-model",
            "sku": {
              "name": "Standard",
              "capacity": 100
            },
            "properties": {
              "model": {
                "format": "OpenAI",
                "name": "text-embedding-3-small",
                "version": "1"
              },
              "versionUpgradeOption": "OnceNewDefaultVersionAvailable",
              "currentCapacity": 100,
              "capabilities": {
                "embeddings": "true",
                "embeddingsMaxInputs": "2048"
              },
              "provisioningState": "Succeeded",
              "rateLimits": [
                {
                  "key": "request",
                  "renewalPeriod": 10,
                  "count": 100
                },
                {
                  "key": "token",
                  "renewalPeriod": 60,
                  "count": 100000
                }
              ]
            },
            "systemData": {
              "createdBy": "Sanitized",
              "createdByType": "User",
              "createdAt": "2025-05-29T23:21:12.3084338Z",
              "lastModifiedBy": "Sanitized",
              "lastModifiedByType": "User",
              "lastModifiedAt": "2025-05-29T23:26:47.7968483Z"
            },
            "etag": "Sanitized"
          },
          {
            "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/static-test-resources/providers/Microsoft.CognitiveServices/accounts/azmcp-test/deployments/Tool-Description-Evaluator-Embeddings",
            "type": "Microsoft.CognitiveServices/accounts/deployments",
            "name": "Tool-Description-Evaluator-Embeddings",
            "sku": {
              "name": "GlobalStandard",
              "capacity": 130
            },
            "properties": {
              "model": {
                "format": "OpenAI",
                "name": "text-embedding-3-large",
                "version": "1"
              },
              "versionUpgradeOption": "NoAutoUpgrade",
              "currentCapacity": 130,
              "capabilities": {
                "embeddings": "true",
                "embeddingsMaxInputs": "2048"
              },
              "raiPolicyName": "Microsoft.DefaultV2",
              "provisioningState": "Succeeded",
              "rateLimits": [
                {
                  "key": "request",
                  "renewalPeriod": 10,
                  "count": 130
                },
                {
                  "key": "token",
                  "renewalPeriod": 60,
                  "count": 130000
                }
              ]
            },
            "systemData": {
              "createdBy": "Sanitized",
             [...]
