{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/4bd2aa0f-2bd2-4d67-91a8-5a4533d58600?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "id": "/subscriptions/4bd2aa0f-2bd2-4d67-91a8-5a4533d58600",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "tags": {
          "NRMSV2OptIn": "11162022"
        },
        "subscriptionId": "4bd2aa0f-2bd2-4d67-91a8-5a4533d58600",
        "tenantId": "00000000-0000-0000-0000-000000000000",
        "displayName": "Azure Migrate Test2 (Canary Enabled)",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/4bd2aa0f-2bd2-4d67-91a8-5a4533d58600/resourcegroups/sakanwar?api-version=2022-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16498",
        "x-ms-ratelimit-remaining-subscription-reads": "1098"
      },
      "ResponseBody": {
        "id": "/subscriptions/4bd2aa0f-2bd2-4d67-91a8-5a4533d58600/resourceGroups/sakanwar",
        "name": "sakanwar",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "eastus",
        "tags": {
          "Created": "20201231",
          "SkipCleanup": "true"
        },
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/4bd2aa0f-2bd2-4d67-91a8-5a4533d58600/resourceGroups/sakanwar/providers/Microsoft.Migrate/assessmentProjects/assessmentProj-1043?api-version=2023-03-15",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "brazilsouth",
        "properties": {}
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\"aa00a298-0000-0b00-0000-67d86ed00000\"",
        "x-ms-ratelimit-remaining-subscription-global-writes": "11999",
        "x-ms-ratelimit-remaining-subscription-writes": "799"
      },
      "ResponseBody": {
        "id": "/subscriptions/4bd2aa0f-2bd2-4d67-91a8-5a4533d58600/resourceGroups/sakanwar/providers/Microsoft.Migrate/assessmentProjects/assessmentProj-1043",
        "name": "assessmentProj-1043",
        "type": "Microsoft.Migrate/assessmentProjects",
        "etag": "\"aa00a298-0000-0b00-0000-67d86ed00000\"",
        "location": "brazilsouth",
        "properties": {
          "privateEndpointConnections": [],
          "publicNetworkAccess": "Enabled",
          "customerStorageAccountArmId": null,
          "createdTimestamp": "2025-03-17T18:49:51.8247893Z",
          "updatedTimestamp": "2025-03-17T18:49:51.8247893Z",
          "serviceEndpoint": "https://asmsrv.brs.prod.migration.windowsazure.com/",
          "assessmentSolutionId": null,
          "projectStatus": "Active",
          "customerWorkspaceId": null,
          "customerWorkspaceLocation": null,
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/4bd2aa0f-2bd2-4d67-91a8-5a4533d58600/resourceGroups/sakanwar/providers/Microsoft.Migrate/assessmentProjects/assessmentProj-1043/hypervcollectors/hyperVCollector-7565?api-version=2023-03-15",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "provisioningState": "Succeeded",
          "agentProperties": {
            "id": "agentId-8195",
            "version": "2.0.1993.19",
            "lastHeartbeatUtc": "2022-07-07T14:25:35.7083250Z",
            "spnDetails": {
              "authority": "https://login.windows.net/50d65f49-5a31-4b70-b34a-a73bb29b77c5",
              "applicationId": "00000000-0000-0000-0000-000000000000",
              "audience": "audience-7422",
              "objectId": "2354347c-7ed1-44c3-8f39-b3a972e3ce0e",
              "tenantId": "00000000-0000-0000-0000-000000000000"
            }
          },
          "discoverySiteId": "/subscriptions/4bd2aa0f-2bd2-4d67-91a8-5a4533d58600/resourceGroups/sakanwar/providers/Microsoft.OffAzure/HyperVSites/site-8975"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-writes": "11999",
        "x-ms-ratelimit-remaining-subscription-writes": "799"
      },
      "ResponseBody": {
        "id": "/subscriptions/4bd2aa0f-2bd2-4d67-91a8-5a4533d58600/resourceGroups/sakanwar/providers/Microsoft.Migrate/assessmentprojects/assessmentProj-1043/hypervcollectors/hyperVCollector-7565",
        "name": "hyperVCollector-7565",
        "systemData": {
          "createdAt": "0001-01-01T00:00:00",
          "createdBy": null,
          "createdByType": null,
          "lastModifiedAt": "0001-01-01T00:00:00",
          "lastModifiedBy": null,
          "lastModifiedByType": null
        },
        "eTag": "\"fa009641-0000-0b00-0000-67d86ed30000\"",
        "type": "Microsoft.Migrate/assessmentprojects/hypervcollectors",
        "properties": {
          "agentProperties": {
            "id": "agentid-8195",
            "version": null,
            "lastHeartbeatUtc": null,
            "spnDetails": {
              "authority": "https://login.windows.net/50d65f49-5a31-4b70-b34a-a73bb29b77c5",
              "applicationId": "00000000-0000-0000-0000-000000000000",
              "audience": "audience-3793",
              "objectId": "2354347c-7ed1-44c3-8f39-b3a972e3ce0e",
              "tenantId": "00000000-0000-0000-0000-000000000000"
            }
          },
          "discoverySiteId": "/subscriptions/4bd2aa0f-2bd2-4d67-91a8-5a4533d58600/resourceGroups/sakanwar/providers/Microsoft.OffAzure/HyperVSites/site-8975",
          "createdTimestamp": "2025-03-17T18:49:55.0703692Z",
          "updatedTimestamp": "2025-03-17T18:49:55.4297909Z"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/4bd2aa0f-2bd2-4d67-91a8-5a4533d58600/resourceGroups/sakanwar/providers/Microsoft.Migrate/assessmentProjects/assessmentProj-1043/hypervcollectors?api-version=2023-03-15",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/4bd2aa0f-2bd2-4d67-91a8-5a4533d58600/resourceGroups/sakanwar/providers/Microsoft.Migrate/assessmentprojects/assessmentProj-1043/hypervcollectors/hyperVCollector-7565",
            "name": "hyperVCollector-7565",
            "systemData": {
              "createdAt": "0001-01-01T00:00:00",
              "createdBy": null,
              "createdByType": null,
              "lastModifiedAt": "0001-01-01T00:00:00",
              "lastModifiedBy": null[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/4bd2aa0f-2bd2-4d67-91a8-5a4533d58600/resourceGroups/sakanwar/providers/Microsoft.Migrate/assessmentProjects/assessmentProj-1043/hypervcollectors/hyperVCollector-7565?api-version=2023-03-15",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-deletes": "799",
        "x-ms-ratelimit-remaining-subscription-global-deletes": "11999"
      },
      "ResponseBody": {}
    }
  ],
  "Variables": {
    "RandomSeed": "1088378593",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "4bd2aa0f-2bd2-4d67-91a8-5a4533d58600"
  }
}
