{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/88888888-8888-8888-8888-888888888888/resourceGroups/czwjstest/providers/Microsoft.DocumentDB/databaseAccounts?api-version=2024-05-15",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-gatewayversion": "version=2.14.0",
        "x-ms-ratelimit-remaining-subscription-reads": "11983"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/88888888-8888-8888-8888-888888888888/resourceGroups/czwjstest/providers/Microsoft.DocumentDB/databaseAccounts/myaccountxxyz2",
            "name": "myaccountxxyz2",
            "location": "East Asia",
            "type": "Microsoft.DocumentDB/databaseAccounts",
            "kind": "GlobalDocumentDB",
            "tags": {},
            "systemData": {
              "createdAt": "2024-06-24T09:37:35.3240722Z"
            },
            "properties": {
              "provisioningState": "Succeeded",
              "documentEndpoint": "https://myaccountxxyz2.documents.azure.com:443/",
              "sqlEndpoint": "https://myaccountxxyz2.documents.azure.com:443/",
              "publicNetworkAccess": "Enabled",
              "enableAutomaticFailover": false,
              "enableMultipleWriteLocations": false,
              "enablePartitionKeyMonitor": false,
              "isVirtualNetworkFilterEnabled": false,
              "virtualNetworkRules": [],
              "EnabledApiTypes": "Sql",
              "disableKeyBasedMetadataWriteAccess": false,
              "enableFreeTier": false,
              "enableAnalyticalStorage": false,
              "analyticalStorageConfiguration": {
                "schemaType": "WellDefined"
              },
              "instanceId": "588e5b72-b8a6-4c91-a763-1aa7f3446100",
              "databaseAccountOfferType": "Standard",
              "defaultIdentity": "FirstPartyIdentity",
              "networkAclBypass": "None",
              "disableLocalAuth": false,
              "enablePartitionMerge": false,
              "enableBurstCapacity": false,
              "minimalTlsVersion": "Tls12",
              "consistencyPolicy": {
                "defaultConsistencyLevel": "Session",
                "maxIntervalInSeconds": 5,
                "maxStalenessPrefix": 100
              },
              "configurationOverrides": {
                "EnablePerRegionPerPartitionAutoscaleOptIn": "True"
              },
              "writeLocations": [
                {
                  "id": "myaccountxxyz2-westus",
                  "locationName": "West US",
                  "documentEndpoint": "https://myaccountxxyz2-westus.documents.azure.com:443/",
                  "provisioningState": "Succeeded",
                  "failoverPriority": 0,
                  "isZoneRedundant": false
                }
              ],
              "readLocations": [
                {
                  "id": "myaccountxxyz2-westus",
                  "locationName": "West US",
                  "documentEndpoint": "https://myaccountxxyz2-westus.documents.azure.com:443/",
                  "provisioningState": "Succeeded",
                  "failoverPriority": 0,
                  "isZoneRedundant": false
                },
                {
                  "id": "myaccountxxyz2-eastasia",
                  "locationName": "East Asia",
                  "documentEndpoint": "https://myaccountxxyz2-eastasia.documents.azure.com:443/",
                  "provisioningState": "Succeeded",
                  "failoverPriority": 1,
                  "isZoneRedundant": false
                }
              ],
              "locations": [
                {
                  "id": "myaccountxxyz2-westus",
                  "locationName": "West US",
                  "documentEndpoint": "https://myaccountxxyz2-westus.documents.azure.com:443/",
                  "provisioningState": "Succeeded",
                  "failoverPriority": 0,
                  "isZoneRedundant": false
                },
                {
                  "id": "myaccountxxyz2-eastasia",
                  "locationName": "East Asia",
                  "documentEndpoint": "https://myaccountxxyz2-eastasia.documents.azure.com:443/",
                  "provisioningState": "Succeeded",
                  "failoverPriority": 1,
                  "isZoneRedundant": false
                }
              ],
              "failoverPolicies": [
                {
                  "id": "myaccountxxyz2-westus",
                  "locationName": "West US",
                  "failoverPriority": 0
                },
                {
                  "id": "myaccountxxyz2-eastasia",
                  "locationName": "East Asia",
                  "failoverPriority": 1
                }
              ],
              "cors": [],
              "capabilities": [],
              "ipRules": [],
              "backupPolicy": {
                "type": "Periodic",
                "periodicModeProperties": {
                  "backupIntervalInMinutes": 240,
                  "backupRetentionIntervalInHours": 8,
                  "backupStorageRedundancy": "Geo"
                }
              },
              "networkAclBypassResourceIds": [],
              "keysMetadata": {
                "primaryMasterKey": {
                  "generationTime": "2024-06-24T09:37:35.3240722Z"
                },
                "secondaryMasterKey": {
                  "generationTime": "2024-06-24T09:37:35.3240722Z"
                },
                "primaryReadonlyMasterKey": {
                  "generationTime": "2024-06-24T09:37:35.3240722Z"
                },
                "secondaryReadonlyMasterKey": {
                  "generationTime": "2024-06-24T09:37:35.3240722Z"
                }
              }
            },
            "identity": {
              "type": "None"
            }
          }
        ]
      }
    }
  ],
  "Variables": {}
}
