{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/88888888-8888-8888-8888-888888888888/resourceGroups/SSS3PT_myjstest/providers/Microsoft.DocumentDB/databaseAccounts/myaccountxxyz3/mongodbDatabases/mydatabasexxxx?api-version=2025-10-15",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-gatewayversion": "version=2.14.0",
        "x-ms-ratelimit-remaining-subscription-global-reads": "3749",
        "x-ms-ratelimit-remaining-subscription-reads": "249"
      },
      "ResponseBody": {
        "id": "/subscriptions/88888888-8888-8888-8888-888888888888/resourceGroups/SSS3PT_myjstest/providers/Microsoft.DocumentDB/databaseAccounts/myaccountxxyz3/mongodbDatabases/mydatabasexxxx",
        "type": "Microsoft.DocumentDB/databaseAccounts/mongodbDatabases",
        "name": "mydatabasexxxx",
        "properties": {
          "resource": {
            "id": "mydatabasexxxx"
          }
        }
      }
    }
  ],
  "Variables": {}
}
