{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/88888888-8888-8888-8888-888888888888/resourceGroups/myjstest/providers/Microsoft.DocumentDB/databaseAccounts/myaccountxxyz2?api-version=2024-09-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-gatewayversion": "version=2.14.0",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "id": "/subscriptions/88888888-8888-8888-8888-888888888888/resourceGroups/myjstest/providers/Microsoft.DocumentDB/databaseAccounts/myaccountxxyz2",
        "name": "myaccountxxyz2",
        "location": "East Asia",
        "type": "Microsoft.DocumentDB/databaseAccounts",
        "kind": "GlobalDocumentDB",
        "tags": {},
        "systemData": {
          "createdAt": "2024-10-28T03:00:53.2940626Z"
        },
        "properties": {
          "provisioningState": "Succeeded",
          "documentEndpoint": "https://myaccountxxyz2.documents.azure.com:443/",
          "sqlEndpoint": "https://myaccountxxyz2.documents.azure.com:443/",
          "publicNetworkAccess": "Enabled",
          "enableAutomaticFailover": false,
          "enableMultipleWriteLocations": false,
          "enablePartitionKeyMonitor": false,
          "isVirtualNetworkFilterEnabled": false,
          "virtualNetworkRules": [],
          "EnabledApiTypes": "Sql",
          "disableKeyBasedMetadataWriteAccess": false,
          "enableFreeTier": false,
          "enableAnalyticalStorage": false,
          "analyticalStorageConfiguration": {
            "schemaType": "WellDefined"
          },
          "instanceId": "89bd3c70-a675-4797-8aa1-3648e4239121",
          "databaseAccountOfferType": "Standard",
          "enableMaterializedViews": false,
          "capacityMode": "Provisioned",
          "defaultIdentity": "FirstPartyIdentity",
          "networkAclBypass": "None",
          "disableLocalAuth": false,
          "enablePartitionMerge": false,
          "enablePerRegionPerPartitionAutoscale": false,
          "enableBurstCapacity": false,
          "enablePriorityBasedExecution": false,
          "defaultPriorityLevel": "High",
          "minMaxThresholdsForPriorityBasedExecution": {
            "minPercentForLowPriorityRequests": 0,
            "maxPercentForLowPriorityRequests": 100,
            "minPercentForHighPriorityRequests": 0,
            "maxPercentForHighPriorityRequests": 100
          },
          "minimalTlsVersion": "Tls12",
          "consistencyPolicy": {
            "defaultConsistencyLevel": "Session",
            "maxIntervalInSeconds": 5,
            "maxStalenessPrefix": 100
          },
          "configurationOverrides": {
            "EnablePerRegionPerPartitionAutoscaleOptIn": "True"
          },
          "writeLocations": [
            {
              "id": "myaccountxxyz2-westus",
              "locationName": "West US",
              "documentEndpoint": "https://myaccountxxyz2-westus.documents.azure.com:443/",
              "provisioningState": "Succeeded",
              "failoverPriority": 0,
              "isZoneRedundant": false
            }
          ],
          "readLocations": [
            {
              "id": "myaccountxxyz2-westus",
              "locationName": "West US",
              "documentEndpoint": "https://myaccountxxyz2-westus.documents.azure.com:443/",
              "provisioningState": "Succeeded",
              "failoverPriority": 0,
              "isZoneRedundant": false
            },
            {
              "id": "myaccountxxyz2-eastasia",
              "locationName": "East Asia",
              "documentEndpoint": "https://myaccountxxyz2-eastasia.documents.azure.com:443/",
              "provisioningState": "Succeeded",
              "failoverPriority": 1,
              "isZoneRedundant": false
            }
          ],
          "locations": [
            {
              "id": "myaccountxxyz2-westus",
              "locationName": "West US",
              "documentEndpoint": "https://myaccountxxyz2-westus.documents.azure.com:443/",
              "provisioningState": "Succeeded",
              "failoverPriority": 0,
              "isZoneRedundant": false
            },
            {
              "id": "myaccountxxyz2-eastasia",
              "locationName": "East Asia",
              "documentEndpoint": "https://myaccountxxyz2-eastasia.documents.azure.com:443/",
              "provisioningState": "Succeeded",
              "failoverPriority": 1,
              "isZoneRedundant": false
            }
          ],
          "failoverPolicies": [
            {
              "id": "myaccountxxyz2-westus",
              "locationName": "West US",
              "failoverPriority": 0
            },
            {
              "id": "myaccountxxyz2-eastasia",
              "locationName": "East Asia",
              "failoverPriority": 1
            }
          ],
          "cors": [],
          "capabilities": [],
          "ipRules": [],
          "backupPolicy": {
            "type": "Periodic",
            "periodicModeProperties": {
              "backupIntervalInMinutes": 240,
              "backupRetentionIntervalInHours": 8,
              "backupStorageRedundancy": "Geo"
            }
          },
          "networkAclBypassResourceIds": [],
          "diagnosticLogSettings": {
            "enableFullTextQuery": "None"
          },
          "keysMetadata": {
            "primaryMasterKey": {
              "generationTime": "2024-10-28T03:00:53.2940626Z"
            },
            "secondaryMasterKey": {
              "generationTime": "2024-10-28T03:00:53.2940626Z"
            },
            "primaryReadonlyMasterKey": {
              "generationTime": "2024-10-28T03:00:53.2940626Z"
            },
            "secondaryReadonlyMasterKey": {
              "generationTime": "2024-10-28T03:00:53.2940626Z"
            }
          }
        },
        "identity": {
          "type": "None"
        }
      }
    }
  ],
  "Variables": {}
}
