{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/88888888-8888-8888-8888-888888888888/resourceGroups/myjstest/providers/Microsoft.DocumentDB/databaseAccounts/myaccountxxyy2?api-version=2023-09-15",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-gatewayversion": "version=2.14.0",
        "x-ms-ratelimit-remaining-subscription-reads": "11615"
      },
      "ResponseBody": {
        "id": "/subscriptions/88888888-8888-8888-8888-888888888888/resourceGroups/myjstest/providers/Microsoft.DocumentDB/databaseAccounts/myaccountxxyy2",
        "name": "myaccountxxyy2",
        "location": "East US",
        "type": "Microsoft.DocumentDB/databaseAccounts",
        "kind": "GlobalDocumentDB",
        "tags": {},
        "systemData": {
          "createdAt": "2023-10-17T03:14:24.0258091Z"
        },
        "properties": {
          "provisioningState": "Succeeded",
          "documentEndpoint": "https://myaccountxxyy2.documents.azure.com:443/",
          "sqlEndpoint": "https://myaccountxxyy2.documents.azure.com:443/",
          "publicNetworkAccess": "Enabled",
          "enableAutomaticFailover": false,
          "enableMultipleWriteLocations": false,
          "enablePartitionKeyMonitor": false,
          "isVirtualNetworkFilterEnabled": false,
          "virtualNetworkRules": [],
          "EnabledApiTypes": "Sql",
          "disableKeyBasedMetadataWriteAccess": false,
          "enableFreeTier": false,
          "enableAnalyticalStorage": false,
          "analyticalStorageConfiguration": {
            "schemaType": "WellDefined"
          },
          "instanceId": "2f328535-d47f-47d4-a69e-790e30324768",
          "databaseAccountOfferType": "Standard",
          "defaultIdentity": "FirstPartyIdentity",
          "networkAclBypass": "None",
          "disableLocalAuth": false,
          "enablePartitionMerge": false,
          "enableBurstCapacity": false,
          "minimalTlsVersion": "Tls12",
          "consistencyPolicy": {
            "defaultConsistencyLevel": "Session",
            "maxIntervalInSeconds": 5,
            "maxStalenessPrefix": 100
          },
          "configurationOverrides": {},
          "writeLocations": [
            {
              "id": "myaccountxxyy2-westus",
              "locationName": "West US",
              "documentEndpoint": "https://myaccountxxyy2-westus.documents.azure.com:443/",
              "provisioningState": "Succeeded",
              "failoverPriority": 0,
              "isZoneRedundant": false
            }
          ],
          "readLocations": [
            {
              "id": "myaccountxxyy2-westus",
              "locationName": "West US",
              "documentEndpoint": "https://myaccountxxyy2-westus.documents.azure.com:443/",
              "provisioningState": "Succeeded",
              "failoverPriority": 0,
              "isZoneRedundant": false
            },
            {
              "id": "myaccountxxyy2-southcentralus",
              "locationName": "South Central US",
              "documentEndpoint": "https://myaccountxxyy2-southcentralus.documents.azure.com:443/",
              "provisioningState": "Succeeded",
              "failoverPriority": 2,
              "isZoneRedundant": false
            },
            {
              "id": "myaccountxxyy2-eastus",
              "locationName": "East US",
              "documentEndpoint": "https://myaccountxxyy2-eastus.documents.azure.com:443/",
              "provisioningState": "Succeeded",
              "failoverPriority": 1,
              "isZoneRedundant": false
            }
          ],
          "locations": [
            {
              "id": "myaccountxxyy2-westus",
              "locationName": "West US",
              "documentEndpoint": "https://myaccountxxyy2-westus.documents.azure.com:443/",
              "provisioningState": "Succeeded",
              "failoverPriority": 0,
              "isZoneRedundant": false
            },
            {
              "id": "myaccountxxyy2-southcentralus",
              "locationName": "South Central US",
              "documentEndpoint": "https://myaccountxxyy2-southcentralus.documents.azure.com:443/",
              "provisioningState": "Succeeded",
              "failoverPriority": 2,
              "isZoneRedundant": false
            },
            {
              "id": "myaccountxxyy2-eastus",
              "locationName": "East US",
              "documentEndpoint": "https://myaccountxxyy2-eastus.documents.azure.com:443/",
              "provisioningState": "Succeeded",
              "failoverPriority": 1,
              "isZoneRedundant": false
            }
          ],
          "failoverPolicies": [
            {
              "id": "myaccountxxyy2-westus",
              "locationName": "West US",
              "failoverPriority": 0
            },
            {
              "id": "myaccountxxyy2-southcentralus",
              "locationName": "South Central US",
              "failoverPriority": 2
            },
            {
              "id": "myaccountxxyy2-eastus",
              "locationName": "East US",
              "failoverPriority": 1
            }
          ],
          "cors": [],
          "capabilities": [],
          "ipRules": [],
          "backupPolicy": {
            "type": "Periodic",
            "periodicModeProperties": {
              "backupIntervalInMinutes": 240,
              "backupRetentionIntervalInHours": 8,
              "backupStorageRedundancy": "Geo"
            }
          },
          "networkAclBypassResourceIds": [],
          "keysMetadata": {
            "primaryMasterKey": {
              "generationTime": "2023-10-17T03:14:24.0258091Z"
            },
            "secondaryMasterKey": {
              "generationTime": "2023-10-17T03:14:24.0258091Z"
            },
            "primaryReadonlyMasterKey": {
              "generationTime": "2023-10-17T03:14:24.0258091Z"
            },
            "secondaryReadonlyMasterKey": {
              "generationTime": "2023-10-17T03:14:24.0258091Z"
            }
          }
        },
        "identity": {
          "type": "None"
        }
      }
    }
  ],
  "Variables": {}
}
