{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/88888888-8888-8888-8888-888888888888/resourceGroups/SSS3PT_myjstest/providers/Microsoft.DocumentDB/databaseAccounts/myaccountxxyz1/cassandraKeyspaces?api-version=2025-10-15",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-gatewayversion": "version=2.14.0",
        "x-ms-ratelimit-remaining-subscription-global-reads": "3749",
        "x-ms-ratelimit-remaining-subscription-reads": "249"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/88888888-8888-8888-8888-888888888888/resourceGroups/SSS3PT_myjstest/providers/Microsoft.DocumentDB/databaseAccounts/myaccountxxyz1/cassandraKeyspaces/mykeyspacexxx",
            "type": "Microsoft.DocumentDB/databaseAccounts/cassandraKeyspaces",
            "name": "mykeyspacexxx",
            "properties": {
              "resource": {
                "id": "mykeyspacexxx",
                "_rid": "8EdjAA==",
                "_etag": "\"0000811f-0000-1100-0000-691543be0000\"",
                "_ts": 1763001278
              }
            }
          }
        ]
      }
    }
  ],
  "Variables": {}
}
