{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/Sanitized?api-version=2021-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized",
        "name": "Sanitized",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "westus",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.KeyVault/vaults/vaultnameqOLSx8?api-version=2022-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westus",
        "properties": {
          "accessPolicies": [
            {
              "objectId": "00000000-0000-0000-0000-000000000000",
              "permissions": {
                "certificates": [
                  "get",
                  "list",
                  "delete",
                  "create",
                  "import",
                  "update",
                  "managecontacts",
                  "getissuers",
                  "listissuers",
                  "setissuers",
                  "deleteissuers",
                  "manageissuers",
                  "recover",
                  "purge"
                ],
                "keys": [
                  "encrypt",
                  "decrypt",
                  "wrapKey",
                  "unwrapKey",
                  "sign",
                  "verify",
                  "get",
                  "list",
                  "create",
                  "update",
                  "import",
                  "delete",
                  "backup",
                  "restore",
                  "recover",
                  "purge"
                ],
                "secrets": [
                  "get",
                  "list",
                  "set",
                  "delete",
                  "backup",
                  "restore",
                  "recover",
                  "purge"
                ]
              },
              "tenantId": "00000000-0000-0000-0000-000000000000"
            }
          ],
          "enabledForDeployment": true,
          "enabledForDiskEncryption": true,
          "enabledForTemplateDeployment": true,
          "publicNetworkAccess": "Enabled",
          "sku": {
            "family": "A",
            "name": "standard"
          },
          "tenantId": "00000000-0000-0000-0000-000000000000"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1198"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.KeyVault/vaults/vaultnameqOLSx8",
        "name": "vaultnameqOLSx8",
        "type": "Microsoft.KeyVault/vaults",
        "location": "westus",
        "tags": {},
        "systemData": {
          "createdBy": "00000000-0000-0000-0000-000000000000",
          "createdByType": "Application",
          "createdAt": "2023-03-08T06:52:46.55Z",
          "lastModifiedBy": "00000000-0000-0000-0000-000000000000",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2023-03-08T06:52:46.55Z"
        },
        "properties": {
          "sku": {
            "family": "A",
            "name": "standard"
          },
          "tenantId": "00000000-0000-0000-0000-000000000000",
          "accessPolicies": [
            {
              "tenantId": "00000000-0000-0000-0000-000000000000",
              "objectId": "00000000-0000-0000-0000-000000000000",
              "permissions": {
                "certificates": [
                  "get",
                  "l[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.KeyVault/vaults/vaultnameqOLSx8/keys/keynamewRgktW?api-version=2022-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "kty": "RSA"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1197"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.KeyVault/vaults/vaultnameqOLSx8/keys/keynamewRgktW",
        "name": "keynamewRgktW",
        "type": "Microsoft.KeyVault/vaults/keys",
        "location": "westus",
        "properties": {
          "attributes": {
            "enabled": true,
            "created": 1678258401,
            "updated": 1678258401,
            "recoveryLevel": "Recoverable\u002BPurgeable",
            "exportable": false
          },
          "kty": "RSA",
          "keyOps": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "keySize": 2048,
          "keyUri": "https://vaultnameqolsx8.vault.azure.net/keys/keynamewRgktW",
          "keyUriWithVersion": "https://vaultnameqolsx8.vault.azure.net/keys/keynamewRgktW/ea9dbd509c8840c6a1ac202bdfb103bf"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.KeyVault/vaults/vaultnameqOLSx8/keys?api-version=2022-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11997"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.KeyVault/vaults/vaultnameqOLSx8/keys/keynamewRgktW",
            "name": "keynamewRgktW",
            "type": "Microsoft.KeyVault/vaults/keys",
            "location": "westus",
            "properties": {
              "attributes": {
                "enabled": true,
                "created": 1678258401,
                "updated": 1678258401,
                "recoveryLevel": "Recoverable\u002BPurgeable",
                "exportable": false
              },
              "keyUri": "https://vaultnameqolsx8.vault.azure.net/keys/keynamewRgktW"
            }
          }
        ]
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.KeyVault/vaults/vaultnameqOLSx8/keys/keynamewRgktW?api-version=2022-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11996"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.KeyVault/vaults/vaultnameqOLSx8/keys/keynamewRgktW",
        "name": "keynamewRgktW",
        "type": "Microsoft.KeyVault/vaults/keys",
        "location": "westus",
        "properties": {
          "attributes": {
            "enabled": true,
            "created": 1678258401,
            "updated": 1678258401,
            "recoveryLevel": "Recoverable\u002BPurgeable",
            "exportable": false
          },
          "rotationPolicy": {
            "lifetimeActions": [
              {
                "trigger": {
                  "timeBeforeExpiry": "P30D"
                },
                "action": {
                  "type": "Notify"
                }
              }
            ]
          },
          "kty": "RSA",
          "keyOps": [
            "encrypt",
            "decrypt",
            "sign",
            "verify",
            "wrapKey",
            "unwrapKey"
          ],
          "keySize": 2048,
          "keyUri": "https://vaultnameqolsx8.vault.azure.net/keys/keynamewRgktW",
          "keyUriWithVersion": "https://vaultnameqolsx8.vault.azure.net/keys/keynamewRgktW/ea9dbd509c8840c6a1ac202bdfb103bf"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.KeyVault/vaults/vaultnameqOLSx8/keys/keynamewRgktW/versions?api-version=2022-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.KeyVault/vaults/vaultnameqOLSx8/keys/keynamewRgktW/versions/ea9dbd509c8840c6a1ac202bdfb103bf?api-version=2022-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charse[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/locations/westus/deletedVaults/vaultnameqOLSx8/purge?api-version=2022-11-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Location": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/locations/westus/operationResults/VVR8MDYzODEzODU1MjIwMTc5MjAxMnxBMUU5OTAzMUY5NzE0M0IyODVBOTkwREI5NkRERkJEMA?api-version=2022-11-01",
        "Retry-After": "5",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/locations/westus/operationResults/VVR8MDYzODEzODU1MjIwMTc5MjAxMnxBMUU5OTAzMUY5NzE0M0IyODVBOTkwREI5NkRERkJEMA?api-version=2022-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11993"
      },
      "ResponseBody": {
        "createdDateTime": "2023-03-08 06:53:39Z",
        "lastActionDateTime": "2023-03-08 06:53:42Z",
        "status": "Succeeded"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/Sanitized?api-version=2021-04-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Location": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1HTzoyRFNESzoyRFRFU1Q6MkQxNjYtV0VTVFVTIiwiam9iTG9jYXRpb24iOiJ3ZXN0dXMifQ?api-version=2021-04-01",
        "Retry-After": "15",
        "x-ms-ratelimit-remaining-subscription-deletes": "14998"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "recordingRandomSeed": "1678258357"
  }
}
