{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/Sanitized?api-version=2021-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus2"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-writes": "11999",
        "x-ms-ratelimit-remaining-subscription-writes": "799"
      },
      "ResponseBody": {
        "id": "Sanitized",
        "name": "Sanitized",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "eastus2",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.KeyVault/vaults/go-test-vault-31?api-version=2024-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus2",
        "properties": {
          "accessPolicies": [
            {
              "objectId": "00000000-0000-0000-0000-000000000000",
              "permissions": {
                "certificates": [
                  "get",
                  "list",
                  "create"
                ],
                "keys": [
                  "get",
                  "list",
                  "create"
                ],
                "secrets": [
                  "get",
                  "list"
                ]
              },
              "tenantId": "00000000-0000-0000-0000-000000000000"
            }
          ],
          "sku": {
            "family": "A",
            "name": "Sanitized"
          },
          "tenantId": "00000000-0000-0000-0000-000000000000"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-writes": "11999",
        "x-ms-ratelimit-remaining-subscription-writes": "799"
      },
      "ResponseBody": {
        "id": "Sanitized",
        "name": "Sanitized",
        "type": "Microsoft.KeyVault/vaults",
        "location": "eastus2",
        "tags": {},
        "systemData": {
          "createdBy": "Sanitized",
          "createdByType": "User",
          "createdAt": "2025-03-11T03:07:25.569Z",
          "lastModifiedBy": "Sanitized",
          "lastModifiedByType": "User",
          "lastModifiedAt": "2025-03-11T03:07:25.569Z"
        },
        "properties": {
          "sku": {
            "family": "A",
            "name": "Sanitized"
          },
          "tenantId": "00000000-0000-0000-0000-000000000000",
          "accessPolicies": [
            {
              "tenantId": "00000000-0000-0000-0000-000000000000",
              "objectId": "00000000-0000-0000-0000-000000000000",
              "permissions": {
                "certificates": [
                  "get",
                  "list",
                  "create"
                ],
                "keys": [
                  "get",
                  "list",
                  "create"
                ],
                "secrets": [
                  "get",
                  "list"
                ]
              }
            }
          ],
          "enabledForDeployment": false,
          "enabledForDiskEncryption": false,
          "enabledForTemplateDeployment": false,
          "enableSoftDelete": true,
          "softDeleteRetentionInDays": 90,
          "vaultUri": "https://go-test-vault-31.vault.azure.net",
          "provisioningState": "RegisteringDns",
          "publicNetworkAccess": "Enabled"
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.KeyVault/vaults/go-test-vault-31/keys/go-test-key?api-version=2024-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "attributes": {
            "enabled": true
          },
          "keyOps": [
            "encrypt",
            "decrypt"
          ],
          "keySize": 2048,
          "kty": "RSA"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-writes": "11999",
        "x-ms-ratelimit-remaining-subscription-writes": "799"
      },
      "ResponseBody": {
        "id": "Sanitized",
        "name": "Sanitized",
        "type": "Microsoft.KeyVault/vaults/keys",
        "location": "eastus2",
        "properties": {
          "attributes": {
            "enabled": true,
            "created": 1741662484,
            "updated": 1741662484,
            "recoveryLevel": "Recoverable+Purgeable",
            "exportable": false
          },
          "kty": "RSA",
          "keyOps": [
            "encrypt",
            "decrypt"
          ],
          "keySize": 2048,
          "keyUri": "https://go-test-vault-31.vault.azure.net/keys/go-test-key",
          "keyUriWithVersion": "https://go-test-vault-31.vault.azure.net/keys/go-test-key/b208f29ca8424837a61859d5df3f0d86"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.KeyVault/vaults/go-test-vault-31/keys/go-test-key?api-version=2024-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "id": "Sanitized",
        "name": "Sanitized",
        "type": "Microsoft.KeyVault/vaults/keys",
        "location": "eastus2",
        "properties": {
          "attributes": {
            "enabled": true,
            "created": 1741662484,
            "updated": 1741662484,
            "recoveryLevel": "Recoverable+Purgeable",
            "exportable": false
          },
          "rotationPolicy": {
            "lifetimeActions": [
              {
                "trigger": {
                  "timeBeforeExpiry": "P30D"
                },
                "action": {
                  "type": "Notify"
                }
              }
            ]
          },
          "kty": "RSA",
          "keyOps": [
            "encrypt",
            "decrypt"
          ],
          "keySize": 2048,
          "keyUri": "https://go-test-vault-31.vault.azure.net/keys/go-test-key",
          "keyUriWithVersion": "https://go-test-vault-31.vault.azure.net/keys/go-test-key/b208f29ca8424837a61859d5df3f0d86"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/Sanitized?api-version=2021-04-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Location": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1HTzoyRFNESzoyRFRFU1Q6MkQ3NDctRUFTVFVTMiIsImpvYkxvY2F0aW9uIjoiZWFzdHVzMiJ9?api-version=2021-04-01&t=638772592918104234&c=MIIHpTCCBo2gAwIBAgITfwTbn828Ducmmj24MgAEBNufzTANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDIwHhcNMjUwMTI1MTI1MTUzWhcNMjUwNzI0MTI1MTUzWjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdG[...]
