{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/Sanitized?api-version=2021-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1195"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized",
        "name": "Sanitized",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "westus",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/checkNameAvailability?api-version=2022-11-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "name": "vaultname8ot3A0",
        "type": "Microsoft.KeyVault/vaults"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11986"
      },
      "ResponseBody": {
        "nameAvailable": true
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.KeyVault/vaults/vaultname8ot3A0?api-version=2022-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westus",
        "properties": {
          "accessPolicies": [
            {
              "objectId": "00000000-0000-0000-0000-000000000000",
              "permissions": {
                "certificates": [
                  "get",
                  "list",
                  "delete",
                  "create",
                  "import",
                  "update",
                  "managecontacts",
                  "getissuers",
                  "listissuers",
                  "setissuers",
                  "deleteissuers",
                  "manageissuers",
                  "recover",
                  "purge"
                ],
                "keys": [
                  "encrypt",
                  "decrypt",
                  "wrapKey",
                  "unwrapKey",
                  "sign",
                  "verify",
                  "get",
                  "list",
                  "create",
                  "update",
                  "import",
                  "delete",
                  "backup",
                  "restore",
                  "recover",
                  "purge"
                ],
                "secrets": [
                  "get",
                  "list",
                  "set",
                  "delete",
                  "backup",
                  "restore",
                  "recover",
                  "purge"
                ]
              },
              "tenantId": "00000000-0000-0000-0000-000000000000"
            }
          ],
          "enabledForDeployment": true,
          "enabledForDiskEncryption": true,
          "enabledForTemplateDeployment": true,
          "publicNetworkAccess": "Enabled",
          "sku": {
            "family": "A",
            "name": "standard"
          },
          "tenantId": "00000000-0000-0000-0000-000000000000"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1194"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.KeyVault/vaults/vaultname8ot3A0",
        "name": "vaultname8ot3A0",
        "type": "Microsoft.KeyVault/vaults",
        "location": "westus",
        "tags": {},
        "systemData": {
          "createdBy": "00000000-0000-0000-0000-000000000000",
          "createdByType": "Application",
          "createdAt": "2023-03-08T08:06:38.198Z",
          "lastModifiedBy": "00000000-0000-0000-0000-000000000000",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2023-03-08T08:06:38.198Z"
        },
        "properties": {
          "sku": {
            "family": "A",
            "name": "standard"
          },
          "tenantId": "00000000-0000-0000-0000-000000000000",
          "accessPolicies": [
            {
              "tenantId": "00000000-0000-0000-0000-000000000000",
              "objectId": "00000000-0000-0000-0000-000000000000",
              "permissions": {
                "certificates": [
                  "get",
                  "[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/Sanitized/providers/Microsoft.Resources/deployments/Create_PrivateEndpoint?api-version=2021-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "mode": "Incremental",
          "template": {
            "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
            "contentVersion": "1.0.0.0",
            "parameters": {
              "location": {
                "defaultValue": "westus",
                "type": "string"
              },
              "networkInterfaceName": {
                "defaultValue": "keyvaultge-nic",
                "type": "string"
              },
              "privateEndpointName": {
                "defaultValue": "keyvaultge",
                "type": "string"
              },
              "vaultId": {
                "defaultValue": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.KeyVault/vaults/vaultname8ot3A0",
                "type": "string"
              },
              "virtualNetworksName": {
                "defaultValue": "keyvaultvnet",
                "type": "string"
              }
            },
            "resources": [
              {
                "apiVersion": "2020-11-01",
                "location": "[parameters(\u0027location\u0027)]",
                "name": "[parameters(\u0027virtualNetworksName\u0027)]",
                "properties": {
                  "addressSpace": {
                    "addressPrefixes": [
                      "10.0.0.0/16"
                    ]
                  },
                  "enableDdosProtection": false,
                  "subnets": [
                    {
                      "name": "default",
                      "properties": {
                        "addressPrefix": "10.0.0.0/24",
                        "delegations": [],
                        "privateEndpointNetworkPolicies": "Disabled",
                        "privateLinkServiceNetworkPolicies": "Enabled"
                      }
                    }
                  ],
                  "virtualNetworkPeerings": []
                },
                "type": "Microsoft.Network/virtualNetworks"
              },
              {
                "apiVersion": "2020-11-01",
                "dependsOn": [
                  "[resourceId(\u0027Microsoft.Network/virtualNetworks\u0027, parameters(\u0027virtualNetworksName\u0027))]"
                ],
                "location": "[parameters(\u0027location\u0027)]",
                "name": "[parameters(\u0027networkInterfaceName\u0027)]",
                "properties": {
                  "dnsSettings": {
                    "dnsServers": []
                  },
                  "enableIPForwarding": false,
                  "ipConfigurations": [
                    {
                      "name": "privateEndpointIpConfig.00000000-0000-0000-0000-000000000000",
                      "properties": {
                        "primary": true,
                        "privateIPAddress": "10.0.0.4",
                        "privateIPAddressVersion": "IPv4",
                        "privateIPAllocationMethod": "Dynamic",
                        "subnet": {
                          "id": "[resourceId(\u0027Microsoft.Network/virtualNetworks/subnets\u0027, parameters(\u0027virtualNetworksName\u0027), \u0027default\u0027)]"
                        }
                      }
                    }
                  ]
                },
                "type": "Microsoft.Network/networkInterfaces"
              },
              {
                "apiVersion": "2020-11-01",
                "dependsOn": [
                  "[resourceId(\u0027Microsoft.Network/virtualNetworks\u0027, parameters(\u0027virtualNetworksName\u0027))]"
                ],
                "location": "[parameters(\u0027location\u0027)]",
                "name": "[parameters(\u0027privateEndpointName\u0027)]",
                "properties": {
                  "customDnsConfigs": [],
                  "manualPrivateLinkServiceConnections": [],
                  "privateLinkServiceConnections": [
                    {
                      "name": "[parameters(\u0027privateEndpointName\u0027)]",
                      "properties": {
                        "groupIds": [
                          "vault"
                        ],
                        "privateLinkServiceConnectionState": {
                          "actionsRequired": "None",
                          "description": "Auto-Approved",
                          "status": "Approved"
                        },
                        "privateLinkServiceId": "[parameters(\u0027vaultId\u0027)]"
                      }
                    }
                  ],
                  "subnet": {
                    "id": "[resourceId(\u0027Microsoft.Network/virtualNetworks/subnets\u0027, parameters(\u0027virtualNetworksName\u0027), \u0027default\u0027)]"
                  }
                },
                "type": "Microsoft.Network/privateEndpoints"
              }
            ],
            "variables": {}
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/Sanitized/providers/Microsoft.Resources/deployments/Create_PrivateEndpoint/operationStatuses/08585233440529791571?api-version=2021-04-01",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1193"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.Resources/deployments/Create_PrivateEndpoint",
        "name": "Create_PrivateEndpoint",
        "type": "Microsoft.Resources/deployments",
        "properties": {
          "templateHash": "1748032601110932607",
          "parameters": {
            "location": {
              "type": "String",
              "value": "westus"
            },
            "networkInterfaceName": {
              "type": "String",
              "value": "keyvaultge-nic"
            },
            "privateEndpointName": {
              "type": "String",
              "value": "keyvaultge"
            },
            "vaultId": {
              "type": "String",
              "value": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.KeyVault/vaults/vaultname8ot3A0"
            },
            "virtualNetworksName": {
              "type": "String",
              "value": "keyvaultvnet"
            }
          },
          "mode": "Incremental",
          "provisioningState": "Accepted",
          "timestamp": "2023-03-08T08:07:14.8125576Z",
          "duration": "PT0.0009504S",
          "correlationId": "00000000-0000-0000-0000-000000000000",
          "providers": [
            {
              "namespace": "Microsoft.Network",
              "resourceTypes": [
                {
                  "resourceType": "virtualNetworks",
                  "locations": [
                    "westus"
                  ]
                },
                {
                  "resourceType": "networkInterfaces",
                  "locations": [
                    "westus"
                  ]
                },
                {
                  "resourceType": "privateEndpoints",
                  "locations": [
                    "westus"
                  ]
                }
              ]
            }
          ],
          "dependencies": [
            {
              "dependsOn": [
                {
                  "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.Network/virtualNetworks/keyvaultvnet",
                  "resourceType": "Microsoft.Network/virtualNetworks",
                  "resourceName": "keyvaultvnet"
                }
              ],
              "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.Network/networkInterfaces/keyvaultge-nic",
              "resourceType": "Microsoft.Network/networkInterfaces",
              "resourceName": "keyvaultge-nic"
            },
            {
              "dependsOn": [
                {
                  "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.Network/virtualNetworks/keyvaultvnet",
                  "resourceType": "Microsoft.Network/virtualNetworks",
                  "resourceName": "keyvaultvnet"
                }
              ],
              "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.Network/privateEndpoints/keyvaultge",
              "resourceType": "Microsoft.Network/privateEndpoints",
              "resourceName": "keyvaultge"
            }
          ]
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/Sanitized/providers/Microsoft.Resources/deployments/Create_PrivateEndpoint/operationStatuses/08585233440529791571?api-version=2021-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11983"
      },
      "ResponseBody": {
        "status": "Accepted"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.KeyVault/vaults/vaultname8ot3A0/privateEndpointConnections?api-version=2022-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11979"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.KeyVault/vaults/vaultname8ot3A0/privateEndpointConnections/keyvaultge",
            "name": "keyvaultge",
            "type": "Microsoft.KeyVault/vaults/privateEndpointConnections",
            "location": "westus",
            "properties": {
              "provisioningState": "Succeeded",
              "privateEndpoint": {
                "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.Network/privateEndpoints/keyvaultge"
              },
              "privateLinkServiceConnectionState": {
                "status": "Approved",
                "actionsRequired": "None"
              }
            }
          }
        ]
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.KeyVault/vaults/vaultname8ot3A0/privateEndpointConnections/keyvaultge?api-version=2022-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "privateLinkServiceConnectionState": {
           [...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.KeyVault/vaults/vaultname8ot3A0/privateEndpointConnections/keyvaultge?api-version=2022-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11978"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.KeyVault/vaults/vaultname8ot3A0/privateEndpointConnections/keyvaultge",
        "name": "keyvaultge",
        "type": "Microsoft.KeyVault/vaults/privateEndpointConnections",
        "location": "westus",
        "etag": "03ddc0dcce0c4e37b88669e75d7d5179",
        "properties": {
          "provisioningState": "Updating",
          "privateEndpoint": {
            "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.Network/privateEndpoints/keyvaultge"
          },
          "privateLinkServiceConnectionState": {
            "status": "Rejected",
            "description": "My name is Joe and I\u0027m approving this.",
            "actionsRequired": "None"
          }
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.KeyVault/vaults/vaultname8ot3A0/privateLinkResources?api-version=2022-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11977"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.KeyVault/vaults/vaultname8ot3A0/privateLinkResources/vault",
            "name": "vault",
            "type": "Microsoft.KeyVault/vaults/privateLinkResources",
            "properties": {
              "groupId": "vault",
              "requiredMembers": [
                "default"
              ],
              "requiredZoneNames": [
                "privatelink.vaultcore.azure.net"
              ]
            }
          }
        ]
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.KeyVault/vaults/vaultname8ot3A0/privateEndpointConnections/keyvaultge?api-version=2022-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 409,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-deletes": "14997"
      },
      "ResponseBody": {
        "error": {
          "code": "ConflictError",
          "message": "Unexpected state of private endpoint connection /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.KeyVault/vaults/vaultname8ot3A0/privateEndpointConnections/keyvaultge: approval status is \u0027Rejected\u0027 and provisioning state is \u0027Updating\u0027."
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/deletedVaults?api-version=2022-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-original-request-ids": [
          "00000000-0000-0000-0000-000000000000",
          "05567409-eb8c-44a0-8ca9-849a5cb19ac9",
          "558974d3-b493-4ed2-b460-a9582063d5dd",
          "de13a008-2266-42c4-a4a1-35b95aff9d78",
          "ebad7d48-e4b5-4843-9712-f8750ae66625",
          "b5904029-6b0b-4155-a291-0048e6e66a6e",
          "90d632ea-71d7-45cf-8e02-45c415a16464",
          "93c66a73-c2ec-48a4-af85-3b3525f88d71",
          "1bf94a79-f8aa-4432-a2fc-47f8fa9c4ab2",
          "984287da-2adc-47fe-aff7-6af6497aaef4[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/locations/westus/deletedVaults/vaultname8ot3A0?api-version=2022-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11975"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/locations/westus/deletedVaults/vaultname8ot3A0",
        "name": "vaultname8ot3A0",
        "type": "Microsoft.KeyVault/deletedVaults",
        "properties": {
          "vaultId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.KeyVault/vaults/vaultname8ot3A0",
          "location": "westus",
          "tags": {},
          "deletionDate": "2023-03-08T08:08:31Z",
          "scheduledPurgeDate": "2023-06-06T08:08:31Z"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/locations/westus/deletedVaults/vaultname8ot3A0/purge?api-version=2022-11-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Location": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/locations/westus/operationResults/VVR8MDYzODEzODU5NzI3ODQ2NTMwNHw2RjI0ODc2NjZFN0Y0MUY3QURDOTE2N0VFOTYwNDI2Qg?api-version=2022-11-01",
        "Retry-After": "5",
        "x-ms-ratelimit-remaining-subscription-writes": "1198"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.KeyVault/locations/westus/operationResults/VVR8MDYzODEzODU5NzI3ODQ2NTMwNHw2RjI0ODc2NjZFN0Y0MUY3QURDOTE2N0VFOTYwNDI2Qg?api-version=2022-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11974"
      },
      "ResponseBody": {
        "createdDateTime": "2023-03-08 08:08:46Z",
        "lastActionDateTime": "2023-03-08 08:08:47Z",
        "status": "Succeeded"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/Sanitized?api-version=2021-04-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Location": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1HTzoyRFNESzoyRFRFU1Q6MkQzNzgtV0VTVFVTIiwiam9iTG9jYXRpb24iOiJ3ZXN0dXMifQ?api-version=2021-04-01",
        "Retry-After": "15",
        "x-ms-ratelimit-remaining-subscription-deletes": "14995"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "recordingRandomSeed": "1678262793"
  }
}
