{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.api.azureml.ms/agents/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/assistants?api-version=2024-07-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json; charset=UTF-8"
      },
      "RequestBody": {
        "name": "my-agent",
        "instructions": "You are a helpful agent",
        "model": "gpt-4o"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-aml-cluster": "vienna-eastus2euap-02",
        "x-ms-middleware-request-id": "6e1f1746-1eab-45c2-9218-4f28f56cca81",
        "x-ms-region": "West US 2",
        "x-ms-response-type": "standard",
        "x-request-time": "0.189"
      },
      "ResponseBody": {
        "id": "asst_rta4SMS6s4ITMN1MaxSX9HyC",
        "object": "assistant",
        "created_at": 1732570390,
        "name": "my-agent",
        "description": null,
        "model": "gpt-4o",
        "instructions": "You are a helpful agent",
        "tools": [],
        "top_p": 1.0,
        "temperature": 1.0,
        "tool_resources": {},
        "metadata": {},
        "response_format": "auto"
      }
    },
    {
      "RequestUri": "https://Sanitized.api.azureml.ms/agents/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/assistants?api-version=2024-07-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-aml-cluster": "vienna-eastus2euap-02",
        "x-ms-middleware-request-id": "8b28eae3-56a6-4629-9ceb-e149da4b5b93",
        "x-ms-region": "West US 2",
        "x-ms-response-type": "standard",
        "x-request-time": "0.496"
      },
      "ResponseBody": {
        "object": "list",
        "data": [
          {
            "id": "asst_rta4SMS6s4ITMN1MaxSX9HyC",
            "object": "assistant",
            "created_at": 1732570390,
            "name": "my-agent",
            "description": null,
            "model": "gpt-4o",
            "instructions": "You are a helpful agent",
            "tools": [],
            "top_p": 1.0,
            "temperature": 1.0,
            "tool_resources": {},
            "metadata": {},
            "response_format": "auto"
          },
          {
            "id": "asst_vbk6fBpTYkYAR5VZ5ji4hEk4",
            "object": "assistant",
            "created_at": 1732570390,
            "name": "my-agent",
            "description": null,
            "model": "gpt-4o",
            "instructions": "You are a helpful agent",
            "tools": [
              {
                "type": "function",
                "function": {
                  "name": "getCurrentDateTime",
                  "description": "Get current date time",
                  "parameters": {
                    "type": "object",
                    "properties": {}
                  },
                  "strict": false
                }
              }
            ],
            "top_p": 1.0,
            "temperature": 1.0,
            "tool_resources": {},
            "metadata": {},
            "response_format": "auto"
          },
          {
            "id": "asst_fVXrH2NFQ6QNO6s6hL7HFbF7",
            "object": "assistant",
            "created_at": 1732564699,
            "name": "my-agent",
            "description": null,
            "model": "gpt-4o",
            "instructions": "You are help[...]
    {
      "RequestUri": "https://Sanitized.api.azureml.ms/agents/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/assistants/asst_rta4SMS6s4ITMN1MaxSX9HyC?api-version=2024-07-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-aml-cluster": "vienna-eastus2euap-02",
        "x-ms-middleware-request-id": "bf3459c3-2c22-428e-9a07-f55c522e0d10",
        "x-ms-region": "West US 2",
        "x-ms-response-type": "standard",
        "x-request-time": "0.790"
      },
      "ResponseBody": {
        "id": "asst_rta4SMS6s4ITMN1MaxSX9HyC",
        "object": "assistant.deleted",
        "deleted": true
      }
    }
  ],
  "Variables": {}
}
