{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/602a6b57-fb02-4c3d-bc44-5f8852be10ee?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11995"
      },
      "ResponseBody": {
        "id": "/subscriptions/602a6b57-fb02-4c3d-bc44-5f8852be10ee",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "subscriptionId": "602a6b57-fb02-4c3d-bc44-5f8852be10ee",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": "AIOpsOrchestration - UK",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/602a6b57-fb02-4c3d-bc44-5f8852be10ee/resourcegroups/PublisherUTRG926?api-version=2022-09-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus2euap"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1197"
      },
      "ResponseBody": {
        "id": "/subscriptions/602a6b57-fb02-4c3d-bc44-5f8852be10ee/resourceGroups/PublisherUTRG926",
        "name": "PublisherUTRG926",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "eastus2euap",
        "tags": {
          "autoDelete": "true",
          "expiresOn": "2023-10-29T10:47:35.5747751Z"
        },
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": null,
    "RandomSeed": "805622486",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "602a6b57-fb02-4c3d-bc44-5f8852be10ee"
  }
}
