{
  "Entries": [
    {
      "RequestUri": "https://fake.eastus-1.eventgrid.azure.net/topics/topic:publish?api-version=2023-10-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Ce-Id": "00000000-0000-0000-0000-000000000000",
        "Ce-Source": "source",
        "Ce-Specversion": "1.0",
        "Ce-Time": "2006-01-02T15:04:05Z",
        "Ce-Type": "eventType"
      },
      "RequestBody": "AQID",
      "StatusCode": 400,
      "ResponseHeaders": {
        "broker-errorcode": "BadRequest",
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "BadRequest",
          "message": "CONTENT-TYPE is not provided",
          "timestamp_utc": "2024-03-13T22:36:04.667529896\u002B00:00",
          "tracking_id": "886945A0-7490-45C2-9905-6364C80E5DFB"
        }
      }
    }
  ],
  "Variables": {}
}
