{
  "Entries": [
    {
      "RequestUri": "https://fake.eastus-1.eventgrid.azure.net/topics/topic:publish?api-version=2023-10-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/cloudevents-batch\u002Bjson; charset=utf-8"
      },
      "RequestBody": "[{\u0022id\u0022:\u0022\u0022,\u0022source\u0022:\u0022\u0022,\u0022specversion\u0022:\u0022\u0022,\u0022type\u0022:\u0022\u0022}]",
      "StatusCode": 400,
      "ResponseHeaders": {
        "broker-errorcode": "BadRequest",
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "BadRequest",
          "message": "\u0027data\u0027 attribute is required",
          "timestamp_utc": "2024-03-13T21:58:25.577443478\u002B00:00",
          "tracking_id": "5D04E67F-FE90-4B34-A876-F3B606D3E9DA"
        }
      }
    }
  ],
  "Variables": {}
}
