{
  "Entries": [
    {
      "RequestUri": "https://fake.region.eventgrid.azure.net/topics/topic:publish?api-version=2024-06-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/cloudevents+json; charset=utf-8"
      },
      "RequestBody": {
        "data": "hello world",
        "id": "00000000-0000-0000-0000-000000000000",
        "source": "Sanitized",
        "specversion": "1.0",
        "time": "2023-06-17T00:33:32Z",
        "type": "eventType"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json"
      },
      "ResponseBody": {}
    },
    {
      "RequestUri": "https://fake.region.eventgrid.azure.net/topics/topic/eventsubscriptions/subscription:receive?api-version=2024-06-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [
          {
            "brokerProperties": {
              "lockToken": "fake-lock-token",
              "deliveryCount": 1
            },
            "event": {
              "type": "eventType",
              "source": "Sanitized",
              "time": "2023-06-17T00:33:32Z",
              "id": "00000000-0000-0000-0000-000000000000",
              "specversion": "1.0",
              "data": "hello world"
            }
          }
        ]
      }
    },
    {
      "RequestUri": "https://fake.region.eventgrid.azure.net/topics/topic/eventsubscriptions/subscription:renewLock?api-version=2024-06-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "lockTokens": [
          "fake-lock-token"
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json"
      },
      "ResponseBody": {
        "succeededLockTokens": [
          "fake-lock-token"
        ],
        "failedLockTokens": []
      }
    },
    {
      "RequestUri": "https://fake.region.eventgrid.azure.net/topics/topic/eventsubscriptions/subscription:acknowledge?api-version=2024-06-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "lockTokens": [
          "fake-lock-token"
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json"
      },
      "ResponseBody": {
        "succeededLockTokens": [
          "fake-lock-token"
        ],
        "failedLockTokens": []
      }
    }
  ],
  "Variables": {}
}
