{
  "Entries": [
    {
      "RequestUri": "https://t1e4564477a3bf4db-avro.servicebus.windows.net/$schemaGroups/azsdk_net_test_group/schemas/TestSchema.EmployeeV2?api-version=2021-10",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json; serialization=Avro"
      },
      "RequestBody": {
        "type": "record",
        "name": "EmployeeV2",
        "namespace": "TestSchema",
        "aliases": [
          "TestSchema.Employee"
        ],
        "fields": [
          {
            "name": "Name",
            "type": "string"
          },
          {
            "name": "Age",
            "type": "int"
          },
          {
            "name": "City",
            "type": "string"
          }
        ]
      },
      "StatusCode": 204,
      "ResponseHeaders": {
        "Location": "https://t1e4564477a3bf4db-avro.servicebus.windows.net/$schemagroups/azsdk_net_test_group/schemas/TestSchema.EmployeeV2/versions/1?api-version=2021-10",
        "Schema-Group-Name": "azsdk_net_test_group",
        "Schema-Id": "731fc63c2474476ca74e657b3cb9fc0d",
        "Schema-Id-Location": "https://t1e4564477a3bf4db-avro.servicebus.windows.net:443/$schemagroups/$schemas/731fc63c2474476ca74e657b3cb9fc0d?api-version=2021-10",
        "Schema-Name": "TestSchema.EmployeeV2",
        "Schema-Version": "1",
        "Schema-Versions-Location": "https://t1e4564477a3bf4db-avro.servicebus.windows.net:443/$schemagroups/azsdk_net_test_group/schemas/TestSchema.EmployeeV2/versions?api-version=2021-10"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com/",
    "RandomSeed": "1215690726",
    "SCHEMAREGISTRY_ENDPOINT_AVRO": "t1e4564477a3bf4db-avro.servicebus.windows.net",
    "SCHEMAREGISTRY_GROUP": "azsdk_net_test_group"
  }
}
