{
  "Entries": [
    {
      "RequestUri": "https://t0ce205f464c4d5d5-avro.servicebus.windows.net/$schemaGroups/azsdk_net_test_group/schemas/TestSchema.EmployeeV2?api-version=2023-07-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json; serialization=Avro"
      },
      "RequestBody": {
        "type": "record",
        "name": "EmployeeV2",
        "namespace": "TestSchema",
        "aliases": [
          "TestSchema.Employee"
        ],
        "fields": [
          {
            "name": "Name",
            "type": "string"
          },
          {
            "name": "Age",
            "type": "int"
          },
          {
            "name": "City",
            "type": "string"
          }
        ]
      },
      "StatusCode": 204,
      "ResponseHeaders": {
        "Location": "https://t0ce205f464c4d5d5-avro.servicebus.windows.net/$schemagroups/azsdk_net_test_group/schemas/TestSchema.EmployeeV2/versions/1?api-version=2023-07-01",
        "Schema-Group-Name": "azsdk_net_test_group",
        "Schema-Id": "1131182908064dc2a64ad6ac0a6d6a53",
        "Schema-Id-Location": "https://t0ce205f464c4d5d5-avro.servicebus.windows.net:443/$schemagroups/$schemas/1131182908064dc2a64ad6ac0a6d6a53?api-version=2023-07-01",
        "Schema-Name": "TestSchema.EmployeeV2",
        "Schema-Version": "1",
        "Schema-Versions-Location": "https://t0ce205f464c4d5d5-avro.servicebus.windows.net:443/$schemagroups/azsdk_net_test_group/schemas/TestSchema.EmployeeV2/versions?api-version=2023-07-01"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1670910953",
    "SCHEMAREGISTRY_ENDPOINT_AVRO": "t0ce205f464c4d5d5-avro.servicebus.windows.net",
    "SCHEMAREGISTRY_GROUP": "azsdk_net_test_group"
  }
}
