{
  "Entries": [
    {
      "RequestUri": "https://t1e4564477a3bf4db-avro.servicebus.windows.net/$schemaGroups/azsdk_net_test_group/schemas/TestSchema.Employee?api-version=2023-07-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json; serialization=Avro"
      },
      "RequestBody": {
        "type": "record",
        "name": "Employee",
        "namespace": "TestSchema",
        "aliases": [
          "TestSchema.EmployeeV2"
        ],
        "fields": [
          {
            "name": "Name",
            "type": "string"
          },
          {
            "name": "Age",
            "type": "int"
          }
        ]
      },
      "StatusCode": 204,
      "ResponseHeaders": {
        "Location": "https://t1e4564477a3bf4db-avro.servicebus.windows.net/$schemagroups/azsdk_net_test_group/schemas/TestSchema.Employee/versions/1?api-version=2023-07-01",
        "Schema-Group-Name": "azsdk_net_test_group",
        "Schema-Id": "22b0ccb4973c49e4af0d250dd3732ecc",
        "Schema-Id-Location": "https://t1e4564477a3bf4db-avro.servicebus.windows.net:443/$schemagroups/$schemas/22b0ccb4973c49e4af0d250dd3732ecc?api-version=2023-07-01",
        "Schema-Name": "TestSchema.Employee",
        "Schema-Version": "1",
        "Schema-Versions-Location": "https://t1e4564477a3bf4db-avro.servicebus.windows.net:443/$schemagroups/azsdk_net_test_group/schemas/TestSchema.Employee/versions?api-version=2023-07-01"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://t1e4564477a3bf4db-avro.servicebus.windows.net/$schemaGroups/$schemas/22b0ccb4973c49e4af0d250dd3732ecc?api-version=2023-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; serialization=Avro",
        "Location": "https://t1e4564477a3bf4db-avro.servicebus.windows.net/$schemagroups/azsd[...]
