{
  "Entries": [
    {
      "RequestUri": "https://t1e4564477a3bf4db-avro.servicebus.windows.net/$schemaGroups/azsdk_net_test_group/schemas/TestSchema.Employee_Unregistered:get-id?api-version=2021-10",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json; serialization=Avro"
      },
      "RequestBody": {
        "type": "record",
        "name": "Employee_Unregistered",
        "namespace": "TestSchema",
        "aliases": [
          "TestSchema.EmployeeV2"
        ],
        "fields": [
          {
            "name": "Name",
            "type": "string"
          },
          {
            "name": "Age",
            "type": "int"
          }
        ]
      },
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-error-code": "ItemNotFound"
      },
      "ResponseBody": {
        "error": {
          "code": "ItemNotFound",
          "message": "Schema azsdk_net_test_group/TestSchema.Employee_Unregistered does not exist. TrackingId:da303109-76e8-4ac7-99f9-fcd540cdff16_G12, SystemTracker:t1e4564477a3bf4db-avro.servicebus.windows.net:$schemaGroups/azsdk_net_test_group/schemas/TestSchema.Employee_Unregistered:get-id, Timestamp:2024-07-05T21:46:46"
        }
      }
    }
  ],
  "Variables": {
    "RandomSeed": "1961276500",
    "SCHEMAREGISTRY_ENDPOINT_AVRO": "t1e4564477a3bf4db-avro.servicebus.windows.net",
    "SCHEMAREGISTRY_GROUP": "azsdk_net_test_group"
  }
}
