{
  "Entries": [
    {
      "RequestUri": "https://t1e4564477a3bf4db-avro.servicebus.windows.net/$schemaGroups/azsdk_net_test_group/schemas/TestSchema.Employee?api-version=2021-10",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json; serialization=Avro"
      },
      "RequestBody": {
        "type": "record",
        "name": "Employee",
        "namespace": "TestSchema",
        "aliases": [
          "TestSchema.EmployeeV2"
        ],
        "fields": [
          {
            "name": "Name",
            "type": "string"
          },
          {
            "name": "Age",
            "type": "int"
          }
        ]
      },
      "StatusCode": 204,
      "ResponseHeaders": {
        "Location": "https://t1e4564477a3bf4db-avro.servicebus.windows.net/$schemagroups/azsdk_net_test_group/schemas/TestSchema.Employee/versions/1?api-version=2021-10",
        "Schema-Group-Name": "azsdk_net_test_group",
        "Schema-Id": "783346f5cecf40fb827232b0d71d5c2d",
        "Schema-Id-Location": "https://t1e4564477a3bf4db-avro.servicebus.windows.net:443/$schemagroups/$schemas/783346f5cecf40fb827232b0d71d5c2d?api-version=2021-10",
        "Schema-Name": "TestSchema.Employee",
        "Schema-Version": "1",
        "Schema-Versions-Location": "https://t1e4564477a3bf4db-avro.servicebus.windows.net:443/$schemagroups/azsdk_net_test_group/schemas/TestSchema.Employee/versions?api-version=2021-10"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com/",
    "RandomSeed": "1094585380",
    "SCHEMAREGISTRY_ENDPOINT_AVRO": "t1e4564477a3bf4db-avro.servicebus.windows.net",
    "SCHEMAREGISTRY_GROUP": "azsdk_net_test_group"
  }
}
