{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.documents.azure.com/",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-cosmos-sdk-supportedcapabilities": "1",
        "x-ms-version": "2020-07-15"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Location": "https://Sanitized.documents.azure.com/",
        "Content-Type": "application/json",
        "x-ms-aad-applied-role-assignment": "ae882bfd-75be-535a-a967-d069795336d9",
        "x-ms-databaseaccount-consumed-mb": "0",
        "x-ms-databaseaccount-provisioned-mb": "0",
        "x-ms-databaseaccount-reserved-mb": "0",
        "x-ms-gatewayversion": "version=2.14.0",
        "x-ms-max-media-storage-usage-mb": "2048",
        "x-ms-media-storage-usage-mb": "0"
      },
      "ResponseBody": {
        "_self": "",
        "id": "Sanitized",
        "_rid": "Sanitized.documents.azure.com",
        "media": "//media/",
        "addresses": "//addresses/",
        "_dbs": "//dbs/",
        "writableLocations": [
          {
            "name": "West US 2",
            "databaseAccountEndpoint": "https://Sanitized-westus2.documents.azure.com:443/"
          }
        ],
        "readableLocations": [
          {
            "name": "West US 2",
            "databaseAccountEndpoint": "https://Sanitized-westus2.documents.azure.com:443/"
          }
        ],
        "enableMultipleWriteLocations": false,
        "continuousBackupEnabled": false,
        "enableNRegionSynchronousCommit": false,
        "enablePerPartitionFailoverBehavior": false,
        "disableCrossRegionalHedging": false,
        "userReplicationPolicy": {
          "asyncReplication": false,
          "minReplicaSetSize": 3,
          "maxReplicasetSize": 4
        },
        "userConsistencyPolicy": {
          "defaultConsistencyLevel": "Session"
        },
        "systemReplicationPolicy": {
          "minReplicaSetSize": 3,
          "maxReplicasetSize": 4
        },
        "readPolicy": {
          "primaryReadCoefficient": 1,
          "secondaryReadCoefficient": 1
        },
        "queryEngineConfiguration": "{\"allowNewKeywords\":true,\"maxJoinsPerSqlQuery\":10,\"maxQueryRequestTimeoutFraction\":0.9,\"maxSqlQueryInputLength\":524288,\"maxUdfRefPerSqlQuery\":10,\"queryMaxInMemorySortDocumentCount\":-1000,\"spatialMaxGeometryPointCount\":256,\"sqlAllowNonFiniteNumbers\":false,\"sqlDisableOptimizationFlags\":0,\"sqlQueryILDisableOptimizationFlags\":0,\"clientDisableOptimisticDirectExecution\":false,\"queryEnableFullText\":true,\"queryEnableFullTextPreviewFeatures\":false,\"queryMaxFullTextScoreSearchTerms\":30,\"queryMaxRrfArgumentCount\":100,\"enableSpatialIndexing\":true,\"maxInExpressionItemsCount\":2147483647,\"maxLogicalAndPerSqlQuery\":2147483647,\"maxLogicalOrPerSqlQuery\":2147483647,\"maxSpatialQueryCells\":2147483647,\"sqlAllowAggregateFunctions\":true,\"sqlAllowGroupByClause\":true,\"sqlAllowLike\":true,\"sqlAllowSubQuery\":true,\"sqlAllowScalarSubQuery\":true,\"sqlAllowTop\":true}"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.documents.azure.com/dbs",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-cosmos-sdk-supportedcapabilities": "1",
        "x-ms-version": "2020-07-15"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Location": "https://Sanitized.documents.azure.com/dbs",
        "Content-Type": "application/json",
        "lsn": "19",
        "x-ms-aad-applied-role-assignment": [
          "ae882bfd-75be-535a-a967-d069795336d9",
          "ae882bfd-75be-535a-a967-d069795336d9"
        ],
        "x-ms-cosmos-internal-partition-id": "12af94b2-6e63-4ab6-89ac-865af6439c77",
        "x-ms-cosmos-llsn": "19",
        "x-ms-gatewayversion": "version=2.14.0",
        "x-ms-global-Committed-lsn": "19",
        "x-ms-item-count": "1",
        "x-ms-last-state-change-utc": "Fri, 15 May 2026 07:05:14.912 GMT",
        "x-ms-number-of-read-regions": "0",
        "x-ms-request-charge": "2",
        "x-ms-request-duration-ms": "0.713",
        "x-ms-resource-quota": "databases=1000;collections=5000;users=500000;permissions=2000000;clientEncryptionKeys=20;interopUsers=2000;authPolicyElements=200000;roleDefinitions=100;roleAssignments=2000;azureRbac=200000;",
        "x-ms-resource-usage": "databases=1;collections=3;users=0;permissions=0;clientEncryptionKeys=0;interopUsers=0;authPolicyElements=0;roleDefinitions=0;roleAssignments=1;azureRbac=0;",
        "x-ms-schemaversion": "1.21",
        "x-ms-serviceversion": "version=2.14.0.0",
        "x-ms-session-token": "0:-1#19",
        "x-ms-transport-request-id": "856871",
        "x-ms-xp-role": "2"
      },
      "ResponseBody": {
        "_rid": "",
        "Databases": [
          {
            "id": "ToDoList",
            "_rid": "4AIhAA==",
            "_self": "dbs/4AIhAA==/",
            "_etag": "\"00009431-0000-0800-0000-6a10e4040000\"",
            "_colls": "colls/",
            "_users": "users/",
            "_ts": 1779491844
          }
        ],
        "_count": 1
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.documents.azure.com/dbs/ToDoList/colls",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-cosmos-sdk-supportedcapabilities": "1",
        "x-ms-version": "2020-07-15"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Location": "https://Sanitized.documents.azure.com/dbs/ToDoList/colls",
        "Content-Type": "application/json",
        "lsn": "19",
        "x-ms-aad-applied-role-assignment": [
          "ae882bfd-75be-535a-a967-d069795336d9",
          "ae882bfd-75be-535a-a967-d069795336d9"
        ],
        "x-ms-alt-content-path": "dbs/ToDoList",
        "x-ms-content-path": "4AIhAA==",
        "x-ms-cosmos-internal-partition-id": "12af94b2-6e63-4ab6-89ac-865af6439c77",
        "x-ms-cosmos-llsn": "19",
        "x-ms-gatewayversion": "version=2.14.0",
        "x-ms-global-Committed-lsn": "19",
        "x-ms-item-count": "3",
        "x-ms-last-state-change-utc": "Fri, 15 May 2026 07:05:16.180 GMT",
        "x-ms-number-of-read-regions": "0",
        "x-ms-request-charge": "2",
        "x-ms-request-duration-ms": "1.613",
        "x-ms-resource-quota": "collections=5000;",
        "x-ms-resource-usage": "collections=3;",
        "x-ms-schemaversion": "1.21",
        "x-ms-serviceversion": "version=2.14.0.0",
        "x-ms-session-token": "0:-1#19",
        "x-ms-transport-request-id": "731360",
        "x-ms-xp-role": "1"
      },
      "ResponseBody": {
        "_rid": "4AIhAA==",
        "DocumentCollections": [
          {
            "id": "VectorItems",
            "indexingPolicy": {
              "indexingMode": "consistent",
              "automatic": true,
              "includedPaths": [
                {
                  "path": "/*"
                }
              ],
              "excludedPaths": [
                {
                  "path": "/\"_etag\"/?"
                },
                {
                  "path": "/vector/*"
                }
              ],
              "fullTextIndexes": [],
              "vectorIndexes": [
                {
                  "path": "/vector",
                  "type": "quantizedFlat",
                  "quantizerType": "product",
                  "quantizationByteSize": 96
                }
              ]
            },
            "partitionKey": {
              "paths": [
                "/id"
              ],
              "kind": "Hash"
            },
            "uniqueKeyPolicy": {
              "uniqueKeys": []
            },
            "conflictResolutionPolicy": {
              "mode": "LastWriterWins",
              "conflictResolutionPath": "/_ts",
              "conflictResolutionProcedure": ""
            },
            "geospatialConfig": {
              "type": "Geography"
            },
            "vectorEmbeddingPolicy": {
              "vectorEmbeddings": [
                {
                  "path": "/vector",
                  "dataType": "float32",
                  "dimensions": 1536,
                  "distanceFunction": "cosine"
                }
              ]
            },
            "_rid": "4AIhAOM69Xg=",
            "_ts": 1779495093,
            "_self": "dbs/4AIhAA==/colls/4AIhAOM69Xg=/",
            "_etag": "\"00006b36-0000-0800-0000-6a10f0b50000\"",
            "_docs": "docs/",
            "_sprocs": "sprocs/",
            "_triggers": "triggers/",
            "_udfs": "udfs/",
            "_conflicts": "conflicts/",
            "computedProperties": []
          },
          {
            "id": "TextItems",
            "indexingPolicy": {
              "indexingMode": "consistent",
              "automatic": true,
              "includedPaths": [
                {
                  "path": "/*"
                }
              ],
              "excludedPaths": [
                {
                  "path": "/\"_etag\"/?"
                }
              ],
              "fullTextIndexes": [
                {
                  "path": "/description"
                }
              ]
            },
            "partitionKey": {
              "paths": [
                "/id"
              ],
              "kind": "Hash"
            },
            "uniqueKeyPolicy": {
              "uniqueKeys": []
            },
            "conflictResolutionPolicy": {
              "mode": "LastWriterWins",
              "conflictResolutionPath": "/_ts",
              "conflictResolutionProcedure": ""
            },
            "geospatialConfig": {
              "type": "Geography"
            },
            "fullTextPolicy": {
              "defaultLanguage": "en-US",
              "defaultSpec": {
                "language": "en-US",
                "stopWordListKind": "extended"
              },
              "fullTextPaths": [
                {
                  "path": "/description",
                  "language": "en-US"
                }
              ]
            },
            "_rid": "4AIhAOdzy90=",
            "_ts": 1779491861,
            "_self": "dbs/4AIhAA==/colls/4AIhAOdzy90=/",
            "_etag": "\"00009831-0000-0800-0000-6a10e4150000\"",
            "_docs": "docs/",
            "_sprocs": "sprocs/",
            "_triggers": "triggers/",
            "_udfs": "udfs/",
            "_conflicts": "co[...]
[...]
    {
      "RequestUri": "https://Sanitized.documents.azure.com/dbs/ToDoList/colls/VectorItems",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-cosmos-sdk-supportedcapabilities": "1",
        "x-ms-date": "Wed, 27 May 2026 05:50:11 GMT",
        "x-ms-version": "2020-07-15"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "collection-partition-index": "0",
        "collection-service-index": "0",
        "Content-Location": "https://Sanitized.documents.azure.com/dbs/ToDoList/colls/VectorItems",
        "Content-Type": "application/json",
        "ETag": "\"00006b36-0000-0800-0000-6a10f0b50000\"",
        "lsn": "17",
        "x-ms-aad-applied-role-assignment": "ae882bfd-75be-535a-a967-d069795336d9",
        "x-ms-alt-content-path": "dbs/ToDoList",
        "x-ms-content-path": "4AIhAA==",
        "x-ms-cosmos-internal-partition-id": "538b0092-727c-46c9-bf96-796768482610",
        "x-ms-cosmos-item-llsn": "1",
        "x-ms-cosmos-llsn": "17",
        "x-ms-cosmos-max-content-length": "2097152",
        "x-ms-cosmos-physical-partition-id": "0",
        "x-ms-documentdb-partitionkeyrangeid": "0",
        "x-ms-gatewayversion": "version=2.14.0",
        "x-ms-global-Committed-lsn": "17",
        "x-ms-item-lsn": "1",
        "x-ms-last-state-change-utc": "Sun, 24 May 2026 20:49:55.300 GMT",
        "x-ms-number-of-read-regions": "0",
        "x-ms-request-charge": "2",
        "x-ms-request-duration-ms": "0.422",
        "x-ms-schemaversion": "1.21",
        "x-ms-serviceversion": "version=2.14.0.0",
        "x-ms-session-token": "0:-1#17",
        "x-ms-transport-request-id": "1",
        "x-ms-xp-role": "1"
      },
      "ResponseBody": {
        "id": "VectorItems",
        "indexingPolicy": {
    [...]
    {
      "RequestUri": "https://Sanitized.documents.azure.com/dbs/ToDoList/colls/VectorItems/docs",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/query+json",
        "x-ms-cosmos-correlated-activityid": "c39a3e19-74e5-4f93-b1b9-b0a31afca9c9",
        "x-ms-cosmos-is-query-plan-request": "True",
        "x-ms-cosmos-query-version": "1.0",
        "x-ms-cosmos-sdk-supportedcapabilities": "1",
        "x-ms-cosmos-supported-query-features": "Aggregate, Distinct, GroupBy, MultipleAggregates, MultipleOrderBy, OffsetAndLimit, OrderBy, Top, NonValueAggregate, DCount, NonStreamingOrderBy, CountIf, HybridSearch",
        "x-ms-version": "2020-07-15"
      },
      "RequestBody": {
        "query": "SELECT * FROM c",
        "parameters": []
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-aad-applied-role-assignment": "ae882bfd-75be-535a-a967-d069795336d9",
        "x-ms-gatewayversion": "version=2.14.0"
      },
      "ResponseBody": {
        "partitionedQueryExecutionInfoVersion": 2,
        "queryInfo": {
          "distinctType": "None",
          "top": null,
          "offset": null,
          "limit": null,
          "orderBy": [],
          "orderByExpressions": [],
          "groupByExpressions": [],
          "groupByAliases": [],
          "aggregates": [],
          "groupByAliasToAggregateType": {},
          "rewrittenQuery": "",
          "hasSelectValue": false,
          "dCountInfo": null,
          "hasNonStreamingOrderBy": false
        },
        "queryRanges": [
          {
            "min": "",
            "max": "FF",
            "isMinInclusive": true,
            "isMaxInclusive": false
          }
        ],
        "hybridSearchQueryInfo": null
      }
    },
    {
      "RequestUri": "https://Sanitized.documents.azure.com/dbs/4AIhAA==/colls/4AIhAOM69Xg=/pkranges",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "A-IM": "Incremental Feed",
        "Authorization": "Sanitized",
        "x-ms-cosmos-sdk-supportedcapabilities": "1",
        "x-ms-max-item-count": "-1",
        "x-ms-version": "2020-07-15"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Location": "https://Sanitized.documents.azure.com/dbs/4AIhAA==/colls/4AIhAOM69Xg=/pkranges",
        "Content-Type": "application/json",
        "ETag": "\"19\"",
        "lsn": "19",
        "x-ms-aad-applied-role-assignment": "ae882bfd-75be-535a-a967-d069795336d9",
        "x-ms-alt-content-path": "dbs/ToDoList/colls/VectorItems",
        "x-ms-cosmos-internal-partition-id": "12af94b2-6e63-4ab6-89ac-865af6439c77",
        "x-ms-cosmos-llsn": "19",
        "x-ms-gatewayversion": "version=2.14.0",
        "x-ms-global-Committed-lsn": "19",
        "x-ms-item-count": "1",
        "x-ms-last-state-change-utc": "Fri, 15 May 2026 07:05:14.912 GMT",
        "x-ms-number-of-read-regions": "0",
        "x-ms-request-duration-ms": "0.553",
        "x-ms-schemaversion": "1.21",
        "x-ms-serviceversion": "version=2.14.0.0",
        "x-ms-session-token": "0:-1#19",
        "x-ms-transport-request-id": "856875",
        "x-ms-xp-role": "2"
      },
      "ResponseBody": {
        "_rid": "4AIhAOM69Xg=",
        "PartitionKeyRanges": [
          {
            "_rid": "4AIhAOM69XgCAAAAAAAAUA==",
            "id": "0",
            "_etag": "\"00006d36-0000-0800-0000-6a10f0b50000\"",
            "minInclusive": "",
            "maxExclusive": "FF",
            "ridPrefix": 0,
            "_self": "dbs/4AIhAA==/colls/4AIhAOM69Xg=/pkranges/4AIhAOM69XgCAAAAAAAAUA==/",
            "throughputFraction": 1,
            "status": "online",
            "parents": [],
            "ownedArchivalPKRangeIds": [],
            "_ts": 1779495093,
            "lsn": 19,
            "_lsn": 19
          }
        ],
        "_count": 1
      }
    },
    {
      "RequestUri": "https://Sanitized.documents.azure.com/dbs/4AIhAA==/colls/4AIhAOM69Xg=/pkranges",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "A-IM": "Incremental Feed",
        "Authorization": "Sanitized",
        "If-None-Match": "\"19\"",
        "x-ms-cosmos-sdk-supportedcapabilities": "1",
        "x-ms-max-item-count": "-1",
        "x-ms-version": "2020-07-15"
      },
      "RequestBody": null,
      "StatusCode": 304,
      "ResponseHeaders": {
        "Content-Location": "https://Sanitized.documents.azure.com/dbs/4AIhAA==/colls/4AIhAOM69Xg=/pkranges",
        "Content-Type": "application/json",
        "ETag": "\"19\"",
        "lsn": "19",
        "x-ms-aad-applied-role-assignment": "ae882bfd-75be-535a-a967-d069795336d9",
        "x-ms-alt-content-path": "dbs/ToDoList/colls/VectorItems",
        "x-ms-cosmos-internal-partition-id": "12af94b2-6e63-4ab6-89ac-865af6439c77",
        "x-ms-cosmos-llsn": "19",
        "x-ms-gatewayversion": "version=2.14.0",
        "x-ms-global-Committed-lsn": "19",
        "x-ms-item-count": "0",
        "x-ms-last-state-change-utc": "Fri, 15 May 2026 07:05:16.180 GMT",
        "x-ms-number-of-read-regions": "0",
        "x-ms-request-duration-ms": "0.655",
        "x-ms-schemaversion": "1.21",
        "x-ms-serviceversion": "version=2.14.0.0",
        "x-ms-session-token": "0:-1#19",
        "x-ms-transport-request-id": "731361",
        "x-ms-xp-role": "1"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.documents.azure.com/dbs/ToDoList/colls/VectorItems/docs",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/query+json",
        "x-ms-cosmos-correlated-activityid": "c39a3e19-74e5-4f93-b1b9-b0a31afca9c9",
        "x-ms-cosmos-query-optimisticdirectexecute": "False",
        "x-ms-cosmos-sdk-supportedcapabilities": "1",
        "x-ms-documentdb-isquery": "True",
        "x-ms-documentdb-partitionkeyrangeid": "0",
        "x-ms-documentdb-populatequerymetrics": "True",
        "x-ms-documentdb-query-enablecrosspartition": "True",
        "x-ms-documentdb-query-iscontinuationexpected": "False",
        "x-ms-max-item-count": "2147483647",
        "x-ms-version": "2020-07-15"
      },
      "RequestBody": {
        "query": "SELECT * FROM c",
        "parameters": []
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "lsn": "17",
        "x-ms-aad-applied-role-assignment": [
          "",
          "ae882bfd-75be-535a-a967-d069795336d9"
        ],
        "x-ms-alt-content-path": "dbs/ToDoList/colls/VectorItems",
        "x-ms-content-path": "4AIhAOM69Xg=",
        "x-ms-cosmos-internal-partition-id": "538b0092-727c-46c9-bf96-796768482610",
        "x-ms-cosmos-is-partition-key-delete-pending": "false",
        "x-ms-cosmos-llsn": "17",
        "x-ms-cosmos-physical-partition-id": "0",
        "x-ms-cosmos-query-execution-info": "{\"reverseRidEnabled\":false,\"reverseIndexScan\":false}",
        "x-ms-documentdb-partitionkeyrangeid": "0",
        "x-ms-documentdb-query-metrics": "totalExecutionTimeInMs=5.70;queryCompileTimeInMs=0.02;queryLogicalPlanBuildTimeInMs=0.00;queryPhysicalPlanBuildTimeInMs=0.03;queryOptimizationTimeInMs=0.00;VMExecutionTimeInMs=5.54;indexLookupTimeInMs=0.00;instructionCount=25;documentLoadTimeInMs=0.04;systemFunctionExecuteTimeInMs=0.00;userFunctionExecuteTimeInMs=0.00;retrievedDocumentCount=5;retrievedDocumentSize=31737;outputDocumentCount=5;outputDocumentSize=148971;writeOutputTimeInMs=5.49;indexUtilizationRatio=1.00",
        "x-ms-gatewayversion": "version=2.14.0",
        "x-ms-global-Committed-lsn": "17",
        "x-ms-item-count": "5",
        "x-ms-last-state-change-utc": "Fri, 22 May 2026 18:30:56.544 GMT",
        "x-ms-number-of-read-regions": "0",
        "x-ms-request-charge": "4.35",
        "x-ms-request-duration-ms": "6.227",
        "x-ms-resource-quota": "documentSize=51200;documentsSize=52428800;documentsCount=-1;collectionSize=52428800;",
        "x-ms-resource-usage": "documentSize=0;documentsSize=191;documentsCount=5;collectionSize=192;",
        "x-ms-schemaversion": "1.21",
        "x-ms-serviceversion": "version=2.14.0.0",
        "x-ms-session-token": "0:-1#17",
        "x-ms-transport-request-id": "2",
        "x-ms-xp-role": "1"
      },
      "ResponseBody": {
        "_rid": "4AIhAOM69Xg=",
        "Documents": [
          {
            "vector": [
              0.016082763671875,
              -0.039398193359375,
              0.0153045654296875,
              0.045166015625,
              -0.0214691162109375,
              -0.0278167724609375,
              -0.0355224609375,
              0.03948974609375,
              -0.031280517578125,
              -0.024017333984375,
              0.00409698486328125,
              -0.05462646484375,
              -0.027069091796875,
              -0.050506591796875,
              0.033660888671[...]
[...]
    {
      "RequestUri": "https://Sanitized.documents.azure.com/dbs/ToDoList/colls/TextItems",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-cosmos-sdk-supportedcapabilities": "1",
        "x-ms-date": "Wed, 27 May 2026 05:50:13 GMT",
        "x-ms-version": "2020-07-15"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "collection-partition-index": "0",
        "collection-service-index"[...]
    {
      "RequestUri": "https://Sanitized.documents.azure.com/dbs/ToDoList/colls/TextItems/docs",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/query+json",
        "x-ms-cosmos-correlated-activityid": "5ce64583-50ea-4389-a1e9-70387461e586",
        "x-ms-cosmos-is-query-plan-request": "True",
        "x-ms-cosmos-query-version": "1.0",
        "x-ms-cosmos-sdk-supportedcapabilities": "1",
        "x-ms-cosm[...]
    {
      "RequestUri": "https://Sanitized.documents.azure.com/dbs/4AIhAA==/colls/4AIhAOdzy90=/pkranges",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "A-IM": "Incremental Feed",
        "Authorization": "Sanitized",
        "x-ms-cosmos-sdk-supportedcapabilities": "1",
        "x-ms-max-item-count": "-1",
        "x-ms-version": "2020-07-15"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Location": "https://Sanitized[...]
[...]
    {
      "RequestUri": "https://Sanitized.documents.azure.com/dbs/ToDoList/colls/Items",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-cosmos-sdk-supportedcapabilities": "1",
        "x-ms-date": "Wed, 27 May 2026 05:50:16 GMT",
        "x-ms-version": "2020-07-15"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "collection-partition-index": "0",
        "collection-service-index": "0[...]
    {
      "RequestUri": "https://Sanitized.documents.azure.com/dbs/ToDoList/colls/Items/docs",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/query+json",
        "x-ms-cosmos-correlated-activityid": "4df1b65b-f861-47a7-a258-bbb57803c6ab",
        "x-ms-cosmos-is-query-plan-request": "True",
        "x-ms-cosmos-query-version": "1.0",
        "x-ms-cosmos-sdk-supportedcapabilities": "1",
        "x-ms-cosmos-s[...]
    {
      "RequestUri": "https://Sanitized.documents.azure.com/dbs/4AIhAA==/colls/4AIhALzrtP4=/pkranges",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "A-IM": "Incremental Feed",
        "Authorization": "Sanitized",
        "x-ms-cosmos-sdk-supportedcapabilities": "1",
        "x-ms-max-item-count": "-1",
        "x-ms-version": "2020-07-15"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Location": "https://Sanitized[...]
[...]
