{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.documents.azure.com/",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-cosmos-sdk-supportedcapabilities": "1",
        "x-ms-version": "2020-07-15"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Location": "https://Sanitized.documents.azure.com/",
        "Content-Type": "application/json",
        "x-ms-aad-applied-role-assignment": "ae882bfd-75be-535a-a967-d069795336d9",
        "x-ms-databaseaccount-consumed-mb": "0",
        "x-ms-databaseaccount-provisioned-mb": "0",
        "x-ms-databaseaccount-reserved-mb": "0",
        "x-ms-gatewayversion": "version=2.14.0",
        "x-ms-max-media-storage-usage-mb": "2048",
        "x-ms-media-storage-usage-mb": "0"
      },
      "ResponseBody": {
        "_self": "",
        "id": "Sanitized",
        "_rid": "Sanitized.documents.azure.com",
        "media": "//media/",
        "addresses": "//addresses/",
        "_dbs": "//dbs/",
        "writableLocations": [
          {
            "name": "West US 2",
            "databaseAccountEndpoint": "https://Sanitized-westus2.documents.azure.com:443/"
          }
        ],
        "readableLocations": [
          {
            "name": "West US 2",
            "databaseAccountEndpoint": "https://Sanitized-westus2.documents.azure.com:443/"
          }
        ],
        "enableMultipleWriteLocations": false,
        "continuousBackupEnabled": false,
        "enableNRegionSynchronousCommit": false,
        "enablePerPartitionFailoverBehavior": false,
        "disableCrossRegionalHedging": false,
        "userReplicationPolicy": {
          "asyncReplication": false,
          "minReplicaSetSize": 3,
          "maxReplicasetSize": 4
        },
        "userConsistencyPolicy": {
          "defaultConsistencyLevel": "Session"
        },
        "systemReplicationPolicy": {
          "minReplicaSetSize": 3,
          "maxReplicasetSize": 4
        },
        "readPolicy": {
          "primaryReadCoefficient": 1,
          "secondaryReadCoefficient": 1
        },
        "queryEngineConfiguration": "{\"allowNewKeywords\":true,\"maxJoinsPerSqlQuery\":10,\"maxQueryRequestTimeoutFraction\":0.9,\"maxSqlQueryInputLength\":524288,\"maxUdfRefPerSqlQuery\":10,\"queryMaxInMemorySortDocumentCount\":-1000,\"spatialMaxGeometryPointCount\":256,\"sqlAllowNonFiniteNumbers\":false,\"sqlDisableOptimizationFlags\":0,\"sqlQueryILDisableOptimizationFlags\":0,\"clientDisableOptimisticDirectExecution\":false,\"queryEnableFullText\":true,\"queryEnableFullTextPreviewFeatures\":false,\"queryMaxFullTextScoreSearchTerms\":30,\"queryMaxRrfArgumentCount\":100,\"enableSpatialIndexing\":true,\"maxInExpressionItemsCount\":2147483647,\"maxLogicalAndPerSqlQuery\":2147483647,\"maxLogicalOrPerSqlQuery\":2147483647,\"maxSpatialQueryCells\":2147483647,\"sqlAllowAggregateFunctions\":true,\"sqlAllowGroupByClause\":true,\"sqlAllowLike\":true,\"sqlAllowSubQuery\":true,\"sqlAllowScalarSubQuery\":true,\"sqlAllowTop\":true}"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.documents.azure.com/dbs/ToDoList/colls/Items",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-cosmos-sdk-supportedcapabilities": "1",
        "x-ms-date": "Wed, 27 May 2026 05:50:44 GMT",
        "x-ms-version": "2020-07-15"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "collection-partition-index": "0",
        "collection-service-index": "0",
        "Content-Location": "https://Sanitized.documents.azure.com/dbs/ToDoList/colls/Items",
        "Content-Type": "application/json",
        "ETag": "\"00009c31-0000-0800-0000-6a10e4150000\"",
        "lsn": "12",
        "x-ms-aad-applied-role-assignment": "ae882bfd-75be-535a-a967-d069795336d9",
        "x-ms-alt-content-path": "dbs/ToDoList",
        "x-ms-content-path": "4AIhAA==",
        "x-ms-cosmos-internal-partition-id": "ebd80816-2bd5-4a36-ac04-e6b868f7323b",
        "x-ms-cosmos-item-llsn": "1",
        "x-ms-cosmos-llsn": "12",
        "x-ms-cosmos-max-content-length": "2097152",
        "x-ms-cosmos-physical-partition-id": "0",
        "x-ms-documentdb-partitionkeyrangeid": "0",
        "x-ms-gatewayversion": "version=2.14.0",
        "x-ms-global-Committed-lsn": "12",
        "x-ms-item-lsn": "1",
        "x-ms-last-state-change-utc": "Fri, 22 May 2026 17:03:43.972 GMT",
        "x-ms-number-of-read-regions": "0",
        "x-ms-request-charge": "2",
        "x-ms-request-duration-ms": "0.588",
        "x-ms-schemaversion": "1.21",
        "x-ms-serviceversion": "version=2.14.0.0",
        "x-ms-session-token": "0:-1#12",
        "x-ms-transport-request-id": "1",
        "x-ms-xp-role": "1"
      },
      "ResponseBody": {
        "id": "Items",
        "indexingPolicy": {
          "indexingMode": "consistent",
          "automatic": true,
          "includedPaths": [
            {
              "path": "/*"
            }
          ],
          "excludedPaths": [
            {
              "path": "/\"_etag\"/?"
            }
          ],
          "fullTextIndexes": []
        },
        "partitionKey": {
          "paths": [
            "/id"
          ],
          "kind": "Hash"
        },
        "uniqueKeyPolicy": {
          "uniqueKeys": []
        },
        "conflictResolutionPolicy": {
          "mode": "LastWriterWins",
          "conflictResolutionPath": "/_ts",
          "conflictResolutionProcedure": ""
        },
        "geospatialConfig": {
          "type": "Geography"
        },
        "_rid": "4AIhALzrtP4=",
        "_ts": 1779491861,
        "_self": "dbs/4AIhAA==/colls/4AIhALzrtP4=/",
        "_etag": "\"00009c31-0000-0800-0000-6a10e4150000\"",
        "_docs": "docs/",
        "_sprocs": "sprocs/",
        "_triggers": "triggers/",
        "_udfs": "udfs/",
        "_conflicts": "conflicts/",
        "computedProperties": []
      }
    },
    {
      "RequestUri": "https://Sanitized.documents.azure.com/dbs/ToDoList/colls/Items/docs",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/query+json",
        "x-ms-cosmos-correlated-activityid": "33c28bc0-acfc-4d87-b65c-5931167ebd2c",
        "x-ms-cosmos-is-query-plan-request": "True",
        "x-ms-cosmos-query-version": "1.0",
        "x-ms-cosmos-sdk-supportedcapabilities": "1",
        "x-ms-cosmos-supported-query-features": "Aggregate, Distinct, GroupBy, MultipleAggregates, MultipleOrderBy, OffsetAndLimit, OrderBy, Top, NonValueAggregate, DCount, NonStreamingOrderBy, CountIf, HybridSearch",
        "x-ms-version": "2020-07-15"
      },
      "RequestBody": {
        "query": "SELECT * FROM c",
        "parameters": []
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-aad-applied-role-assignment": "ae882bfd-75be-535a-a967-d069795336d9",
        "x-ms-gatewayversion": "version=2.14.0"
      },
      "ResponseBody": {
        "partitionedQueryExecutionInfoVersion": 2,
        "queryInfo": {
          "distinctType": "None",
          "top": null,
          "offset": null,
          "limit": null,
          "orderBy": [],
          "orderByExpressions": [],
          "groupByExpressions": [],
          "groupByAliases": [],
          "aggregates": [],
          "groupByAliasToAggregateType": {},
          "rewrittenQuery": "",
          "hasSelectValue": false,
          "dCountInfo": null,
          "hasNonStreamingOrderBy": false
        },
        "queryRanges": [
          {
            "min": "",
            "max": "FF",
            "isMinInclusive": true,
            "isMaxInclusive": false
          }
        ],
        "hybridSearchQueryInfo": null
      }
    },
    {
      "RequestUri": "https://Sanitized.documents.azure.com/dbs/4AIhAA==/colls/4AIhALzrtP4=/pkranges",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "A-IM": "Incremental Feed",
        "Authorization": "Sanitized",
        "x-ms-cosmos-sdk-supportedcapabilities": "1",
        "x-ms-max-item-count": "-1",
        "x-ms-version": "2020-07-15"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Location": "https://Sanitized.documents.azure.com/dbs/4AIhAA==/colls/4AIhALzrtP4=/pkranges",
        "Content-Type": "application/json",
        "ETag": "\"12\"",
        "lsn": "19",
        "x-ms-aad-applied-role-assignment": "ae882bfd-75be-535a-a967-d069795336d9",
        "x-ms-alt-content-path": "dbs/ToDoList/colls/Items",
        "x-ms-cosmos-internal-partition-id": "12af94b2-6e63-4ab6-89ac-865af6439c77",
        "x-ms-cosmos-llsn": "19",
        "x-ms-gatewayversion": "version=2.14.0",
        "x-ms-global-Committed-lsn": "19",
        "x-ms-item-count": "1",
        "x-ms-last-state-change-utc": "Fri, 15 May 2026 07:05:14.911 GMT",
        "x-ms-number-of-read-regions": "0",
        "x-ms-request-duration-ms": "0.745",
        "x-ms-schemaversion": "1.21",
        "x-ms-serviceversion": "version=2.14.0.0",
        "x-ms-session-token": "0:-1#19",
        "x-ms-transport-request-id": "505605",
        "x-ms-xp-role": "1"
      },
      "ResponseBody": {
        "_rid": "4AIhALzrtP4=",
        "PartitionKeyRanges": [
          {
            "_rid": "4AIhALzrtP4CAAAAAAAAUA==",
            "id": "0",
            "_etag": "\"00009e31-0000-0800-0000-6a10e4150000\"",
            "minInclusive": "",
            "maxExclusive": "FF",
            "ridPrefix": 0,
            "_self": "dbs/4AIhAA==/colls/4AIhALzrtP4=/pkranges/4AIhALzrtP4CAAAAAAAAUA==/",
            "throughputFraction": 1,
            "status": "online",
            "parents": [],
            "ownedArchivalPKRangeIds": [],
            "_ts": 1779491861,
            "lsn": 12,
            "_lsn": 12
          }
        ],
        "_count": 1
      }
    },
    {
      "RequestUri": "https://Sanitized.documents.azure.com/dbs/4AIhAA==/colls/4AIhALzrtP4=/pkranges",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "A-IM": "Incremental Feed",
        "Authorization": "Sanitized",
        "If-None-Match": "\"12\"",
        "x-ms-cosmos-sdk-supportedcapabilities": "1",
        "x-ms-max-item-count": "-1",
        "x-ms-version": "2020-07-15"
      },
      "RequestBody": null,
      "StatusCode": 304,
      "ResponseHeaders": {
        "Content-Location": "https://Sanitized.documents.azure.com/dbs/4AIhAA==/colls/4AIhALzrtP4=/pkranges",
        "Content-Type": "application/json",
        "ETag": "\"19\"",
        "lsn": "19",
        "x-ms-aad-applied-role-assignment": "ae882bfd-75be-535a-a967-d069795336d9",
        "x-ms-alt-content-path": "dbs/ToDoList/colls/Items",
        "x-ms-cosmos-internal-partition-id": "12af94b2-6e63-4ab6-89ac-865af6439c77",
        "x-ms-cosmos-llsn": "19",
        "x-ms-gatewayversion": "version=2.14.0",
        "x-ms-global-Committed-lsn": "19",
        "x-ms-item-count": "0",
        "x-ms-last-state-change-utc": "Fri, 15 May 2026 07:05:14.912 GMT",
        "x-ms-number-of-read-regions": "0",
        "x-ms-request-duration-ms": "0.586",
        "x-ms-schemaversion": "1.21",
        "x-ms-serviceversion": "version=2.14.0.0",
        "x-ms-session-token": "0:-1#19",
        "x-ms-transport-request-id": "856947",
        "x-ms-xp-role": "2"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.documents.azure.com/dbs/ToDoList/colls/Items/docs",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/query+json",
        "x-ms-cosmos-correlated-activityid": "33c28bc0-acfc-4d87-b65c-5931167ebd2c",
        "x-ms-cosmos-query-optimisticdirectexecute": "False",
        "x-ms-cosmos-sdk-supportedcapabilities": "1",
        "x-ms-documentdb-isquery": "True",
        "x-ms-documentdb-partitionkeyrangeid": "0",
        "x-ms-documentdb-populatequerymetrics": "True",
        "x-ms-documentdb-query-enablecrosspartition": "True",
        "x-ms-documentdb-query-iscontinuationexpected": "False",
        "x-ms-max-item-count": "2147483647",
        "x-ms-version": "2020-07-15"
      },
      "RequestBody": {
        "query": "SELECT * FROM c",
        "parameters": []
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "lsn": "12",
        "x-ms-aad-applied-role-assignment": [
          "",
          "ae882bfd-75be-535a-a967-d069795336d9"
        ],
        "x-ms-alt-content-path": "dbs/ToDoList/colls/Items",
        "x-ms-content-path": "4AIhALzrtP4=",
        "x-ms-cosmos-internal-partition-id": "ebd80816-2bd5-4a36-ac04-e6b868f7323b",
        "x-ms-cosmos-is-partition-key-delete-pending": "false",
        "x-ms-cosmos-llsn": "12",
        "x-ms-cosmos-physical-partition-id": "0",
        "x-ms-cosmos-query-execution-info": "{\"reverseRidEnabled\":false,\"reverseIndexScan\":false}",
        "x-ms-documentdb-partitionkeyrangeid": "0",
        "x-ms-documentdb-query-metrics": "totalExecutionTimeInMs=0.20;queryCompileTimeInMs=0.03;queryLogicalPlanBuildTimeInMs=0.00;queryPhysicalPlanBuildTimeInMs=0.03;queryOptimizationTimeInMs=0.00;VMExecutionTimeInMs=0.02;indexLookupTimeInMs=0.00;instructionCount=17;documentLoadTimeInMs=0.01;systemFunctionExecuteTimeInMs=0.00;userFunctionExecuteTimeInMs=0.00;retrievedDocumentCount=3;retrievedDocumentSize=463;outputDocumentCount=3;outputDocumentSize=870;writeOutputTimeInMs=0.01;indexUtilizationRatio=1.00",
        "x-ms-gatewayversion": "version=2.14.0",
        "x-ms-global-Committed-lsn": "12",
        "x-ms-item-count": "3",
        "x-ms-last-state-change-utc": "Fri, 22 May 2026 17:03:43.972 GMT",
        "x-ms-number-of-read-regions": "0",
        "x-ms-request-charge": "2.29",
        "x-ms-request-duration-ms": "0.668",
        "x-ms-resource-quota": "documentSize=51200;documentsSize=52428800;documentsCount=-1;collectionSize=52428800;",
        "x-ms-resource-usage": "documentSize=0;documentsSize=0;documentsCount=3;collectionSize=0;",
        "x-ms-schemaversion": "1.21",
        "x-ms-serviceversion": "version=2.14.0.0",
        "x-ms-session-token": "0:-1#12",
        "x-ms-transport-request-id": "2",
        "x-ms-xp-role": "1"
      },
      "ResponseBody": {
        "_rid": "4AIhALzrtP4=",
        "Documents": [
          {
            "completed": false,
            "priority": 1,
            "id": "todo-1",
            "title": "Buy milk",
            "_rid": "4AIhALzrtP4BAAAAAAAAAA==",
            "_self": "dbs/4AIhAA==/colls/4AIhALzrtP4=/docs/4AIhALzrtP4BAAAAAAAAAA==/",
            "_etag": "\"7d00cd36-0000-0800-0000-6a15edf30000\"",
            "_attachments": "attachments/",
            "_ts": 1779822067
          },
          {
            "completed": true,
            "priority": 2,
            "id": "todo-2",
            "title": "Write tests",
            "_rid": "4AIhALzrtP4CAAAAAAAAAA==",
            "_self": "dbs/4AIhAA==/colls/4AIhALzrtP4=/docs/4AIhALzrtP4CAAAAAAAAAA==/",
            "_etag": "\"7d00cf36-0000-0800-0000-6a15edf30000\"",
            "_attachments": "attachments/",
            "_ts": 1779822067
          },
          {
            "completed": false,
            "priority": 1,
            "id": "todo-3",
            "title": "Push recordings",
            "_rid": "4AIhALzrtP4DAAAAAAAAAA==",
            "_self": "dbs/4AIhAA==/colls/4AIhALzrtP4=/docs/4AIhALzrtP4DAAAAAAAAAA==/",
            "_etag": "\"7d00d036-0000-0800-0000-6a15edf30000\"",
            "_attachments": "attachments/",
            "_ts": 1779822067
          }
        ],
        "_count": 3
      }
    }
  ],
  "Variables": {}
}
