{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/vector_stores?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {},
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-02",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "83",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "77a8fafa-bd24-4dfb-a463-5b27904dc41c",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.397"
      },
      "ResponseBody": {
        "id": "vs_nycF1m5c5NpNYsHMwQtXA4Yl",
        "object": "vector_store",
        "name": null,
        "status": "completed",
        "usage_bytes": 0,
        "created_at": 1747439274,
        "file_counts": {
          "in_progress": 0,
          "completed": 0,
          "failed": 0,
          "cancelled": 0,
          "total": 0
        },
        "metadata": {},
        "expires_after": null,
        "expires_at": null,
        "last_active_at": 1747439274
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/vector_stores?api-version=2025-05-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-02",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "186",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "dd97e961-f3b7-4c33-9b21-1deefad0a28a",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.485"
      },
      "ResponseBody": {
        "object": "list",
        "data": [
          {
            "id": "vs_nycF1m5c5NpNYsHMwQtXA4Yl",
            "object": "vector_store",
            "name": null,
            "status": "completed",
            "usage_bytes": 0,
            "created_at": 1747439274,
            "file_counts": {
              "in_progress": 0,
              "completed": 0,
              "failed": 0,
              "cancelled": 0,
              "total": 0
            },
            "metadata": {},
            "expires_after": null,
            "expir[...]
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/vector_stores/vs_nycF1m5c5NpNYsHMwQtXA4Yl?api-version=2025-05-15-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-02",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "2255",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "8935cafc-2ec3-4be5-be8b-bb53effa5afc",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "2.607"
      },
      "ResponseBody": {
        "id": "vs_nycF1m5c5NpNYsHMwQtXA4Yl",
        "object": "vector_store.deleted",
        "deleted": true
      }
    }
  ],
  "Variables": {}
}
