{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/project/vector_stores?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {},
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "52",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "98c0bbe2-0a35-4155-83bb-7336c997c964",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.219"
      },
      "ResponseBody": {
        "id": "vs_2lI358kqIAr1UEHUwPc6MPzi",
        "object": "vector_store",
        "name": null,
        "status": "completed",
        "usage_bytes": 0,
        "created_at": 1746661385,
        "file_counts": {
          "in_progress": 0,
          "completed": 0,
          "failed": 0,
          "cancelled": 0,
          "total": 0
        },
        "metadata": {},
        "expires_after": null,
        "expires_at": null,
        "last_active_at": 1746661385
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/project/vector_stores/vs_2lI358kqIAr1UEHUwPc6MPzi?api-version=2025-05-15-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "628",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "65032efb-f8f0-4de1-b2fe-eb42effb3dfb",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.763"
      },
      "ResponseBody": {
        "id": "vs_2lI358kqIAr1UEHUwPc6MPzi",
        "object": "vector_store.deleted",
        "deleted": true
      }
    }
  ],
  "Variables": {}
}
