{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/vector_stores?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {},
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-02",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "128",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "3c6cbef4-19c7-4a5b-9113-386e7ed80793",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.324"
      },
      "ResponseBody": {
        "id": "vs_jPClVRXHCU7cegHdS1aWmDxb",
        "object": "vector_store",
        "name": null,
        "status": "completed",
        "usage_bytes": 0,
        "created_at": 1747677698,
        "file_counts": {
          "in_progress": 0,
          "completed": 0,
          "failed": 0,
          "cancelled": 0,
          "total": 0
        },
        "metadata": {},
        "expires_after": null,
        "expires_at": null,
        "last_active_at": 1747677698
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/vector_stores/vs_jPClVRXHCU7cegHdS1aWmDxb?api-version=2025-05-15-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-02",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "2835",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "55576b5f-a8f0-4623-a54c-8bc0d28db68b",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "3.046"
      },
      "ResponseBody": {
        "id": "vs_jPClVRXHCU7cegHdS1aWmDxb",
        "object": "vector_store.deleted",
        "deleted": true
      }
    }
  ],
  "Variables": {}
}
