{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/project/vector_stores?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {},
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "94",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "c2215867-4b57-4b1f-8504-b7f09f541e1b",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.215"
      },
      "ResponseBody": {
        "id": "vs_smcfWB93lYU2C9qh6dcAKta2",
        "object": "vector_store",
        "name": null,
        "status": "completed",
        "usage_bytes": 0,
        "created_at": 1746661397,
        "file_counts": {
          "in_progress": 0,
          "completed": 0,
          "failed": 0,
          "cancelled": 0,
          "total": 0
        },
        "metadata": {},
        "expires_after": null,
        "expires_at": null,
        "last_active_at": 1746661397
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/project/vector_stores/vs_smcfWB93lYU2C9qh6dcAKta2?api-version=2025-05-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "103",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "69d9d27b-81a6-4ba4-8438-e4b50df8f414",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.468"
      },
      "ResponseBody": {
        "id": "vs_smcfWB93lYU2C9qh6dcAKta2",
        "object": "vector_store",
        "name": null,
        "status": "completed",
        "usage_bytes": 0,
        "created_at": 1746661397,
        "file_counts": {
          "in_progress": 0,
          "completed": 0,
          "failed": 0,
          "cancelled": 0,
          "total": 0
        },
        "metadata": {},
        "expires_after": null,
        "expires_at": null,
        "last_active_at": 1746661397
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/project/vector_stores/vs_smcfWB93lYU2C9qh6dcAKta2?api-version=2025-05-15-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "674",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "924461e1-46f2-4515-ae0b-fe41b4566099",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.785"
      },
      "ResponseBody": {
        "id": "vs_smcfWB93lYU2C9qh6dcAKta2",
        "object": "vector_store.deleted",
        "deleted": true
      }
    }
  ],
  "Variables": {}
}
