{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/vector_stores?api-version=v1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {},
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "111",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "320f4984-be6e-451d-8a55-8d56e2685c9f",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.390"
      },
      "ResponseBody": {
        "id": "vs_IifFABhq4rk8p5zGU7YTejCx",
        "object": "vector_store",
        "name": null,
        "status": "completed",
        "usage_bytes": 0,
        "created_at": 1748886928,
        "file_counts": {
          "in_progress": 0,
          "completed": 0,
          "failed": 0,
          "cancelled": 0,
          "total": 0
        },
        "metadata": {},
        "expires_after": null,
        "expires_at": null,
        "last_active_at": 1748886928
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/vector_stores/vs_IifFABhq4rk8p5zGU7YTejCx?api-version=v1",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-02",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "2255",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "92d2da0c-dfe8-41f8-bc6e-682d5ce85d88",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "2.524"
      },
      "ResponseBody": {
        "id": "vs_IifFABhq4rk8p5zGU7YTejCx",
        "object": "vector_store.deleted",
        "deleted": true
      }
    }
  ],
  "Variables": {}
}
