{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/project/vector_stores?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {},
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-02",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "80",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "010b444d-f337-4489-b47d-30cb3b4af09a",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.235"
      },
      "ResponseBody": {
        "id": "vs_Cf2Nl7EDk5gBihiAd0t4Hf4a",
        "object": "vector_store",
        "name": null,
        "status": "completed",
        "usage_bytes": 0,
        "created_at": 1746663594,
        "file_counts": {
          "in_progress": 0,
          "completed": 0,
          "failed": 0,
          "cancelled": 0,
          "total": 0
        },
        "metadata": {},
        "expires_after": null,
        "expires_at": null,
        "last_active_at": 1746663594
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/project/vector_stores/vs_Cf2Nl7EDk5gBihiAd0t4Hf4a?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "name": "updated"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-02",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "126",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "a9e42ecd-3780-43f4-82b6-d2db446acd24",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.288"
      },
      "ResponseBody": {
        "id": "vs_Cf2Nl7EDk5gBihiAd0t4Hf4a",
        "object": "vector_store",
        "name": "updated",
        "status": "completed",
        "usage_bytes": 0,
        "created_at": 1746663594,
        "file_counts": {
          "in_progress": 0,
          "completed": 0,
          "failed": 0,
          "cancelled": 0,
          "total": 0
        },
        "metadata": {},
        "expires_after": null,
        "expires_at": null,
        "last_active_at": 1746663594
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/project/vector_stores/vs_Cf2Nl7EDk5gBihiAd0t4Hf4a?api-version=2025-05-15-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-02",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "577",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "478b523a-b27b-4271-9dbe-e10e278c28b5",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.701"
      },
      "ResponseBody": {
        "id": "vs_Cf2Nl7EDk5gBihiAd0t4Hf4a",
        "object": "vector_store.deleted",
        "deleted": true
      }
    }
  ],
  "Variables": {}
}
