{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/vector_stores?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {},
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "109",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "92c0d213-7810-4538-a98c-a6e9a42f46a7",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.368"
      },
      "ResponseBody": {
        "id": "vs_DdoCHdHWIy9zAkyY8Z00bsJu",
        "object": "vector_store",
        "name": null,
        "status": "completed",
        "usage_bytes": 0,
        "created_at": 1747436251,
        "file_counts": {
          "in_progress": 0,
          "completed": 0,
          "failed": 0,
          "cancelled": 0,
          "total": 0
        },
        "metadata": {},
        "expires_after": null,
        "expires_at": null,
        "last_active_at": 1747436251
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/vector_stores/vs_DdoCHdHWIy9zAkyY8Z00bsJu?api-version=2025-05-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "178",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "f728ea88-d1b0-484a-a162-ce5f0c2e98b0",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.424"
      },
      "ResponseBody": {
        "id": "vs_DdoCHdHWIy9zAkyY8Z00bsJu",
        "object": "vector_store",
        "name": null,
        "status": "completed",
        "usage_bytes": 0,
        "created_at": 1747436251,
        "file_counts": {
          "in_progress": 0,
          "completed": 0,
          "failed": 0,
          "cancelled": 0,
          "total": 0
        },
        "metadata": {},
        "expires_after": null,
        "expires_at": null,
        "last_active_at": 1747436251
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/vector_stores/vs_DdoCHdHWIy9zAkyY8Z00bsJu?api-version=2025-05-15-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "2559",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "e6851ecd-f6a1-4ad1-a187-5c492ce01e1a",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "2.851"
      },
      "ResponseBody": {
        "id": "vs_DdoCHdHWIy9zAkyY8Z00bsJu",
        "object": "vector_store.deleted",
        "deleted": true
      }
    }
  ],
  "Variables": {}
}
