{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/vector_stores?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {},
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "86",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "7632bdb1-adf3-4a50-a54c-4f6cd04aca40",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.382"
      },
      "ResponseBody": {
        "id": "vs_NebZn6yaSUIUnPzX5tBvdYnU",
        "object": "vector_store",
        "name": null,
        "status": "completed",
        "usage_bytes": 0,
        "created_at": 1747428538,
        "file_counts": {
          "in_progress": 0,
          "completed": 0,
          "failed": 0,
          "cancelled": 0,
          "total": 0
        },
        "metadata": {},
        "expires_after": null,
        "expires_at": null,
        "last_active_at": 1747428538
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/vector_stores/vs_NebZn6yaSUIUnPzX5tBvdYnU?api-version=2025-05-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "98",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "26cc45c1-347b-42d7-a3f7-6424c87ffa2b",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.468"
      },
      "ResponseBody": {
        "id": "vs_NebZn6yaSUIUnPzX5tBvdYnU",
        "object": "vector_store",
        "name": null,
        "status": "completed",
        "usage_bytes": 0,
        "created_at": 1747428538,
        "file_counts": {
          "in_progress": 0,
          "completed": 0,
          "failed": 0,
          "cancelled": 0,
          "total": 0
        },
        "metadata": {},
        "expires_after": null,
        "expires_at": null,
        "last_active_at": 1747428538
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/vector_stores/vs_NebZn6yaSUIUnPzX5tBvdYnU?api-version=2025-05-15-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "579",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "5f5abd72-47d9-4adc-80b5-ff893669e30f",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.831"
      },
      "ResponseBody": {
        "id": "vs_NebZn6yaSUIUnPzX5tBvdYnU",
        "object": "vector_store.deleted",
        "deleted": true
      }
    }
  ],
  "Variables": {}
}
