{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/project/vector_stores?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {},
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-02",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "35",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "6272e6b5-7930-4e61-9db8-2d45b1a3a2d4",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.194"
      },
      "ResponseBody": {
        "id": "vs_8woYvUF88dyoiZqz2EKHFpc0",
        "object": "vector_store",
        "name": null,
        "status": "completed",
        "usage_bytes": 0,
        "created_at": 1746666751,
        "file_counts": {
          "in_progress": 0,
          "completed": 0,
          "failed": 0,
          "cancelled": 0,
          "total": 0
        },
        "metadata": {},
        "expires_after": null,
        "expires_at": null,
        "last_active_at": 1746666751
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/project/vector_stores?api-version=2025-05-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-02",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "178",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "b4cb600b-46a9-47a0-b420-a81b9e7b2363",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.431"
      },
      "ResponseBody": {
        "object": "list",
        "data": [
          {
            "id": "vs_8woYvUF88dyoiZqz2EKHFpc0",
            "object": "vector_store",
            "name": null,
            "status": "completed",
            "usage_bytes": 0,
            "created_at": 1746666751,
            "file_counts": {
              "in_progress": 0,
              "completed": 0,
              "failed": 0,
              "cancelled": 0,
              "total": 0
            },
            "metadata": {},
            "expires_after": null,
            "expir[...]
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/project/vector_stores/vs_8woYvUF88dyoiZqz2EKHFpc0?api-version=2025-05-15-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-02",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "635",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "d632e8d8-bfd1-4f78-ae18-f0fd074ce442",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.791"
      },
      "ResponseBody": {
        "id": "vs_8woYvUF88dyoiZqz2EKHFpc0",
        "object": "vector_store.deleted",
        "deleted": true
      }
    }
  ],
  "Variables": {}
}
