{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/project/vector_stores?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {},
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "302",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "8aa954c0-7332-4c8f-ace4-fc1ac682364d",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.609"
      },
      "ResponseBody": {
        "id": "vs_Fx3gdIiZrHEBZYVg54BqTJjH",
        "object": "vector_store",
        "name": null,
        "status": "completed",
        "usage_bytes": 0,
        "created_at": 1746740479,
        "file_counts": {
          "in_progress": 0,
          "completed": 0,
          "failed": 0,
          "cancelled": 0,
          "total": 0
        },
        "metadata": {},
        "expires_after": null,
        "expires_at": null,
        "last_active_at": 1746740479
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/project/vector_stores/vs_Fx3gdIiZrHEBZYVg54BqTJjH?api-version=2025-05-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "201",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "54352ea4-2256-4392-958c-43d0781b8f88",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.386"
      },
      "ResponseBody": {
        "id": "vs_Fx3gdIiZrHEBZYVg54BqTJjH",
        "object": "vector_store",
        "name": null,
        "status": "completed",
        "usage_bytes": 0,
        "created_at": 1746740479,
        "file_counts": {
          "in_progress": 0,
          "completed": 0,
          "failed": 0,
          "cancelled": 0,
          "total": 0
        },
        "metadata": {},
        "expires_after": null,
        "expires_at": null,
        "last_active_at": 1746740479
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/project/vector_stores/vs_Fx3gdIiZrHEBZYVg54BqTJjH?api-version=2025-05-15-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "1213",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "4ec4972e-76fe-4403-9d24-0d5e4b34a3d5",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "1.420"
      },
      "ResponseBody": {
        "id": "vs_Fx3gdIiZrHEBZYVg54BqTJjH",
        "object": "vector_store.deleted",
        "deleted": true
      }
    }
  ],
  "Variables": {}
}
