{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/vector_stores?api-version=v1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {},
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-02",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "92",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "287f61a7-4514-4e42-a2ce-2ec870f38766",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.248"
      },
      "ResponseBody": {
        "id": "vs_JTznZo4jIDdoNjIvWmYNDeAS",
        "object": "vector_store",
        "name": null,
        "status": "completed",
        "usage_bytes": 0,
        "created_at": 1747977619,
        "file_counts": {
          "in_progress": 0,
          "completed": 0,
          "failed": 0,
          "cancelled": 0,
          "total": 0
        },
        "metadata": {},
        "expires_after": null,
        "expires_at": null,
        "last_active_at": 1747977619
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/vector_stores/vs_JTznZo4jIDdoNjIvWmYNDeAS?api-version=v1",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-02",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "2246",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "fecb5569-43da-4be6-994f-778d39fe69bf",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "2.435"
      },
      "ResponseBody": {
        "id": "vs_JTznZo4jIDdoNjIvWmYNDeAS",
        "object": "vector_store.deleted",
        "deleted": true
      }
    }
  ],
  "Variables": {}
}
