{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/vector_stores?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {},
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "82",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "8382c6eb-ae83-4af1-816b-7ea1c581b9d8",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.280"
      },
      "ResponseBody": {
        "id": "vs_jS34xp3hqgjRjjHXGcSORcHe",
        "object": "vector_store",
        "name": null,
        "status": "completed",
        "usage_bytes": 0,
        "created_at": 1747727720,
        "file_counts": {
          "in_progress": 0,
          "completed": 0,
          "failed": 0,
          "cancelled": 0,
          "total": 0
        },
        "metadata": {},
        "expires_after": null,
        "expires_at": null,
        "last_active_at": 1747727720
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/vector_stores/vs_jS34xp3hqgjRjjHXGcSORcHe?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "name": "updated"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "81",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "93f1d1d4-df5e-426a-9339-e7b996c24b19",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.240"
      },
      "ResponseBody": {
        "id": "vs_jS34xp3hqgjRjjHXGcSORcHe",
        "object": "vector_store",
        "name": "updated",
        "status": "completed",
        "usage_bytes": 0,
        "created_at": 1747727720,
        "file_counts": {
          "in_progress": 0,
          "completed": 0,
          "failed": 0,
          "cancelled": 0,
          "total": 0
        },
        "metadata": {},
        "expires_after": null,
        "expires_at": null,
        "last_active_at": 1747727720
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/vector_stores/vs_jS34xp3hqgjRjjHXGcSORcHe?api-version=2025-05-15-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "2244",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "b7376f34-5f09-4e47-b5f7-37c5f775a56b",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "2.428"
      },
      "ResponseBody": {
        "id": "vs_jS34xp3hqgjRjjHXGcSORcHe",
        "object": "vector_store.deleted",
        "deleted": true
      }
    }
  ],
  "Variables": {}
}
