{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azurecr.io/acr/v1/repo8725450a/_tags/test?api-version=2021-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Docker-Distribution-Api-Version": "registry/2.0",
        "WWW-Authenticate": "Bearer realm=\"https://fake_url.azurecr.io/oauth2/token\",service=\"t9c51221edfd4c215.azurecr.io\",scope=\"repository:repo8725450a:metadata_read\""
      },
      "ResponseBody": {
        "errors": [
          {
            "code": "UNAUTHORIZED",
            "message": "authentication required, visit https://aka.ms/acr/authorization for more information.",
            "detail": [
              {
                "Type": "repository",
                "Name": "repo8725450a",
                "Action": "metadata_read"
              }
            ]
          }
        ]
      }
    },
    {
      "RequestUri": "http://Sanitized.254.169.254/metadata/identity/oauth2/token?api-version=2018-02-01&resource=https://Sanitized.azure.com",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": "invalid_request",
        "error_description": "Required metadata header not specified"
      }
    },
    {
      "RequestUri": "http://Sanitized.254.169.254/metadata/identity/oauth2/token?api-version=2018-02-01&resource=https://Sanitized.azure.com",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Metadata": "true"
      },
      "RequestBody": null,
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": "invalid_request",
        "error_description": "Identity not found"
      }
    },
    {
      "RequestUri": "https://Sanitized.azurecr.io/oauth2/exchange?api-version=2021-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/x-www-form-urlencoded"
      },
      "RequestBody": "grant_type=access_token&service=t9c51221edfd4c215.azurecr.io&access_token=access_token",
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-calls-per-second": "166.05"
      },
      "ResponseBody": {
        "refresh_token": "refresh_token"
      }
    },
    {
      "RequestUri": "https://Sanitized.azurecr.io/oauth2/token?api-version=2021-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/x-www-form-urlencoded"
      },
      "RequestBody": "service=t9c51221edfd4c215.azurecr.io&scope=repository%3Arepo8725450a%3Ametadata_read&refresh_token=refresh_token&grant_type=refresh_token",
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-calls-per-second": "166.033333"
      },
      "ResponseBody": {
        "access_token": "access_token"
      }
    },
    {
      "RequestUri": "https://Sanitized.azurecr.io/acr/v1/repo8725450a/_tags/test?api-version=2021-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Docker-Distribution-Api-Version": "registry/2.0"
      },
      "ResponseBody": {
        "registry": "t9c51221edfd4c215.azurecr.io",
        "imageName": "repo8725450a",
        "tag": {
          "name": "test",
          "digest": "sha256:a40a15d7a9909805f4e4d0144374026e4641268cfd12001c6ad3ed70749ccd9f",
          "createdTime": "2026-01-08T22:59:10.9803275Z",
          "lastUpdateTime": "2026-01-08T22:59:10.9803275Z",
          "signed": false,
          "changeableAttributes": {
            "deleteEnabled": true,
            "writeEnabled": true,
            "readEnabled": true,
            "listEnabled": true
          }
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.azurecr.io/acr/v1/repo8725450a/_manifests/sha256:a40a15d7a9909805f4e4d0144374026e4641268cfd12001c6ad3ed70749ccd9f?api-version=2021-07-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "deleteEnabled": false,
        "readEnabled": false,
        "writeEnabled": false,
        "listEnabled": false
      },
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Docker-Distribution-Api-Version": "registry/2.0",
        "WWW-Authenticate": "Bearer realm=\"https://fake_url.azurecr.io/oauth2/token\",service=\"t9c51221edfd4c215.azurecr.io\",scope=\"repository:repo8725450a:metadata_write\""
      },
      "ResponseBody": {
        "errors": [
          {
            "code": "UNAUTHORIZED",
            "message": "authentication required, visit https://aka.ms/acr/authorization for more information.",
            "detail": [
              {
                "Type": "repository",
                "Name": "repo8725450a",
                "Action": "metadata_write"
              }
            ]
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azurecr.io/acr/v1/repo8725450a/_manifests/sha256:a40a15d7a9909805f4e4d0144374026e4641268cfd12001c6ad3ed70749ccd9f?api-version=2021-07-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "deleteEnabled": false,
        "readEnabled": false,
        "writeEnabled": false,
        "listEnabled": false
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Docker-Distribution-Api-Version": "registry/2.0"
      },
      "ResponseBody": {
        "registry": "t9c51221edfd4c215.azurecr.io",
        "imageName": "repo8725450a",
        "manifest": {
          "digest": "sha256:a40a15d7a9909805f4e4d0144374026e4641268cfd12001c6ad3ed70749ccd9f",
          "imageSize": 12,
          "createdTime": "2026-01-08T22:59:10.8728812Z",
          "lastUpdateTime": "2026-01-08T22:59:10.8728812Z",
          "mediaType": "application/vnd.oci.image.manifest.v1+json",
          "configMediaType": "application/vnd.oci.image.config.v1+json",
          "tags": [
            "test"
          ],
          "changeableAttributes": {
            "deleteEnabled": false,
            "writeEnabled": false,
            "readEnabled": false,
            "listEnabled": false
          }
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azurecr.io/acr/v1/repo8725450a?api-version=2021-07-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Docker-Distribution-Api-Version": "registry/2.0",
        "WWW-Authenticate": "Bearer realm=\"https://fake_url.azurecr.io/oauth2/token\",service=\"t9c51221edfd4c215.azurecr.io\",scope=\"repository:repo8725450a:delete\""
      },
      "ResponseBody": {
        "errors": [
          {
            "code": "UNAUTHORIZED",
            "message": "authentication required, visit https://aka.ms/acr/authorization for more information.",
            "detail": [
              {
                "Type": "repository",
                "Name": "repo8725450a",
                "Action": "delete"
              }
            ]
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azurecr.io/acr/v1/repo8725450a?api-version=2021-07-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Docker-Distribution-Api-Version": "registry/2.0",
        "X-Ms-Ratelimit-Remaining-Calls-Per-Second": "8.000000"
      },
      "ResponseBody": {
        "manifestsDeleted": [
          "sha256:a40a15d7a9909805f4e4d0144374026e4641268cfd12001c6ad3ed70749ccd9f"
        ],
        "tagsDeleted": [
          "test"
        ]
      }
    }
  ],
  "Variables": {}
}
