{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azurecr.io/v2/repod8bd3da1/blobs/uploads/?api-version=2021-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Docker-Distribution-Api-Version": "registry/2.0",
        "WWW-Authenticate": "Bearer realm=\"https://fake_url.azurecr.io/oauth2/token\",service=\"t9c51221edfd4c215.azurecr.io\",scope=\"repository:repod8bd3da1:pull,push\""
      },
      "ResponseBody": {
        "errors": [
          {
            "code": "UNAUTHORIZED",
            "message": "authentication required, visit https://aka.ms/acr/authorization for more information.",
            "detail": [
              {
                "Type": "repository",
                "Name": "repod8bd3da1",
                "Action": "pull"
              },
              {
                "Type": "repository",
                "Name": "repod8bd3da1",
                "Action": "push"
              }
            ]
          }
        ]
      }
    },
    {
      "RequestUri": "http://Sanitized.254.169.254/metadata/identity/oauth2/token?api-version=2018-02-01&resource=https://Sanitized.azure.net",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": "invalid_request",
        "error_description": "Required metadata header not specified"
      }
    },
    {
      "RequestUri": "http://Sanitized.254.169.254/metadata/identity/oauth2/token?api-version=2018-02-01&resource=https://Sanitized.azure.net",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Metadata": "true"
      },
      "RequestBody": null,
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": "invalid_request",
        "error_description": "Identity not found"
      }
    },
    {
      "RequestUri": "https://Sanitized.azurecr.io/oauth2/exchange?api-version=2021-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/x-www-form-urlencoded"
      },
      "RequestBody": "grant_type=access_token&service=t9c51221edfd4c215.azurecr.io&access_token=access_token",
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-calls-per-second": "165.516667"
      },
      "ResponseBody": {
        "refresh_token": "refresh_token"
      }
    },
    {
      "RequestUri": "https://Sanitized.azurecr.io/oauth2/token?api-version=2021-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/x-www-form-urlencoded"
      },
      "RequestBody": "service=t9c51221edfd4c215.azurecr.io&scope=repository%3Arepod8bd3da1%3Apull%2Cpush&refresh_token=refresh_token&grant_type=refresh_token",
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-calls-per-second": "165.5"
      },
      "ResponseBody": {
        "access_token": "access_token"
      }
    },
    {
      "RequestUri": "https://Sanitized.azurecr.io/v2/repod8bd3da1/blobs/uploads/?api-version=2021-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Docker-Distribution-Api-Version": "registry/2.0",
        "Docker-Upload-Uuid": "5385cfa1-8c2c-46b6-bdf1-e904a54aba86",
        "Location": "/v2/repod8bd3da1/blobs/uploads/5385cfa1-8c2c-46b6-bdf1-e904a54aba86?_nouploadcache=false&_state=12xJ69v2RsTnyBCKLXtOaij-tH2M2TwXRmPUvLnH8Hh7Ik5hbWUiOiJyZXBvZDhiZDNkYTEiLCJVVUlEIjoiNTM4NWNmYTEtOGMyYy00NmI2LWJkZjEtZTkwNGE1NGFiYTg2IiwiT2Zmc2V0IjowLCJTdGFydGVkQXQiOiIyMDI2LTAxLTA4VDIyOjUzOjQzLjQzOTQwNDU1NFoifQ%3D%3D",
        "Range": "0-0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.azurecr.io/v2/repod8bd3da1/blobs/uploads/5385cfa1-8c2c-46b6-bdf1-e904a54aba86?api-version=2021-07-01&_nouploadcache=false&_state=12xJ69v2RsTnyBCKLXtOaij-tH2M2TwXRmPUvLnH8Hh7Ik5hbWUiOiJyZXBvZDhiZDNkYTEiLCJVVUlEIjoiNTM4NWNmYTEtOGMyYy00NmI2LWJkZjEtZTkwNGE1NGFiYTg2IiwiT2Zmc2V0IjowLCJTdGFydGVkQXQiOiIyMDI2LTAxLTA4VDIyOjUzOjQzLjQzOTQwNDU1NFoifQ%3D%3D",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream"
      },
      "RequestBody": "U2FtcGxlIGxheWVy",
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Docker-Distribution-Api-Version": "registry/2.0",
        "WWW-Authenticate": "Bearer realm=\"https://fake_url.azurecr.io/oauth2/token\",service=\"t9c51221edfd4c215.azurecr.io\",scope=\"repository:repod8bd3da1:pull,push\""
      },
      "ResponseBody": {
        "errors": [
          {
            "code": "UNAUTHORIZED",
            "message": "authentication required, visit https://aka.ms/acr/authorization for more information.",
            "detail": [
              {
                "Type": "repository",
                "Name": "repod8bd3da1",
                "Action": "pull"
              },
              {
                "Type": "repository",
                "Name": "repod8bd3da1",
                "Action": "push"
              }
            ]
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azurecr.io/v2/repod8bd3da1/blobs/uploads/5385cfa1-8c2c-46b6-bdf1-e904a54aba86?api-version=2021-07-01&digest=sha256_encoded_stream",
      "RequestMethod": "PUT",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Docker-Distribution-Api-Version": "registry/2.0",
        "WWW-Authenticate": "Bearer realm=\"https://fake_url.azurecr.io/oauth2/token\",service=\"t9c51221edfd4c215.azurecr.io\",scope=\"repository:repod8bd3da1:pull,push\""
      },
      "ResponseBody": {
        "errors": [
          {
            "code": "UNAUTHORIZED",
            "message": "authentication required, visit https://aka.ms/acr/authorization for more information.",
            "detail": [
              {
                "Type": "repository",
                "Name": "repod8bd3da1",
                "Action": "pull"
              },
              {
                "Type": "repository",
                "Name": "repod8bd3da1",
                "Action": "push"
              }
            ]
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azurecr.io/v2/repod8bd3da1/blobs/uploads/5385cfa1-8c2c-46b6-bdf1-e904a54aba86?api-version=2021-07-01&digest=sha256_encoded_stream",
      "RequestMethod": "PUT",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "Docker-Content-Digest": "sha256:828dee73d26c173f8b8a6a266607b10b8e562d7920c6436997dd032461584c4b",
        "Docker-Distribution-Api-Version": "registry/2.0",
        "Location": "/v2/repod8bd3da1/blobs/sha256:828dee73d26c173f8b8a6a266607b10b8e562d7920c6436997dd032461584c4b"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://Sanitized.azurecr.io/v2/repod8bd3da1/blobs/uploads/b3447201-edd8-40fb-8e46-01ac2ec28cb0?api-version=2021-07-01&_nouploadcache=false&_state=JjDIKYLV1DCDZtalFTI32VSZXWkCnoPUgTvqmPDjSex7Ik5hbWUiOiJyZXBvZDhiZDNkYTEiLCJVVUlEIjoiYjM0NDcyMDEtZWRkOC00MGZiLThlNDYtMDFhYzJlYzI4Y2IwIiwiT2Zmc2V0IjowLCJTdGFydGVkQXQiOiIyMDI2LTAxLTA4VDIyOjUzOjQ2LjQwMzY1MjEyMloifQ%3D%3D",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream"
      },
      "RequestBody": "eyJzYW1wbGUgY29uZmlnIjogImNvbnRlbnQifQ==",
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Docker-Distribution-Api-Version": "registry/2.0",
        "WWW-Authenticate": "Bearer realm=\"https://fake_url.azurecr.io/oauth2/token\",service=\"t9c51221edfd4c215.azurecr.io\",scope=\"repository:repod8bd3da1:pull,push\""
      },
      "ResponseBody": {
        "errors": [
          {
            "code": "UNAUTHORIZED",
            "message": "authentication required, visit https://aka.ms/acr/authorization for more information.",
            "detail": [
              {
                "Type": "repository",
                "Name": "repod8bd3da1",
                "Action": "pull"
              },
              {
                "Type": "repository",
                "Name": "repod8bd3da1",
                "Action": "push"
              }
            ]
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azurecr.io/v2/repod8bd3da1/manifests/test?api-version=2021-07-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/vnd.oci.image.manifest.v1+json"
      },
      "RequestBody": {
        "config": {
          "mediaType": "application/vnd.oci.image.config.v1+json",
          "digest": "sha256:0bbfcc0f049d3b33f7fd724f0008fa48344d4b3e5e68db9c2ed4f839ce5eec6d",
          "sizeInBytes": 28
        },
        "schemaVersion": 2,
        "layers": [
          {
            "mediaType": "application/vnd.oci.image.layer.v1.tar",
            "digest": "sha256:828dee73d26c173f8b8a6a266607b10b8e562d7920c6436997dd032461584c4b",
            "size": 12,
            "annotations": {
              "org.opencontainers.image.ref.name": "artifact.txt"
            }
          }
        ]
      },
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Docker-Distribution-Api-Version": "registry/2.0",
        "WWW-Authenticate": "Bearer realm=\"https://fake_url.azurecr.io/oauth2/token\",service=\"t9c51221edfd4c215.azurecr.io\",scope=\"repository:repod8bd3da1:pull,push\""
      },
      "ResponseBody": {
        "errors": [
          {
            "code": "UNAUTHORIZED",
            "message": "authentication required, visit https://aka.ms/acr/authorization for more information.",
            "detail": [
              {
                "Type": "repository",
                "Name": "repod8bd3da1",
                "Action": "pull"
              },
              {
                "Type": "repository",
                "Name": "repod8bd3da1",
                "Action": "push"
              }
            ]
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azurecr.io/acr/v1/repod8bd3da1/_tags/test?api-version=2021-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Docker-Distribution-Api-Version": "registry/2.0",
        "WWW-Authenticate": "Bearer realm=\"https://fake_url.azurecr.io/oauth2/token\",service=\"t9c51221edfd4c215.azurecr.io\",scope=\"repository:repod8bd3da1:metadata_read\""
      },
      "ResponseBody": {
        "errors": [
          {
            "code": "UNAUTHORIZED",
            "message": "authentication required, visit https://aka.ms/acr/authorization for more information.",
            "detail": [
              {
                "Type": "repository",
                "Name": "repod8bd3da1",
                "Action": "metadata_read"
              }
            ]
          }
        ]
      }
    },
    {
      "RequestUri": "http://Sanitized.254.169.254/metadata/identity/oauth2/token?api-version=2018-02-01&resource=https://Sanitized.azure.com",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": "invalid_request",
        "error_description": "Required metadata header not specified"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azurecr.io/acr/v1/repod8bd3da1/_tags/test?api-version=2021-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Docker-Distribution-Api-Version": "registry/2.0"
      },
      "ResponseBody": {
        "registry": "t9c51221edfd4c215.azurecr.io",
        "imageName": "repod8bd3da1",
        "tag": {
          "name": "test",
          "digest": "sha256:a40a15d7a9909805f4e4d0144374026e4641268cfd12001c6ad3ed70749ccd9f",
          "createdTime": "2026-01-08T22:53:49.7267746Z",
          "lastUpdateTime": "2026-01-08T22:53:49.7267746Z",
          "signed": false,
          "changeableAttributes": {
            "deleteEnabled": true,
            "writeEnabled": true,
            "readEnabled": true,
            "listEnabled": true
          }
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.azurecr.io/acr/v1/repod8bd3da1/_manifests/sha256_encoded_stream",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "deleteEnabled": false,
        "readEnabled": false,
        "writeEnabled": false,
        "listEnabled": false
      },
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Docker-Distribution-Api-Version": "registry/2.0",
        "WWW-Authenticate": "Bearer realm=\"https://fake_url.azurecr.io/oauth2/token\",service=\"t9c51221edfd4c215.azurecr.io\",scope=\"repository:repod8bd3da1:metadata_write\""
      },
      "ResponseBody": {
        "errors": [
          {
            "code": "UNAUTHORIZED",
            "message": "authentication required, visit https://aka.ms/acr/authorization for more information.",
            "detail": [
              {
                "Type": "repository",
                "Name": "repod8bd3da1",
                "Action": "metadata_write"
              }
            ]
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azurecr.io/acr/v1/repod8bd3da1/_manifests/sha256_encoded_stream",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "deleteEnabled": false,
        "readEnabled": false,
        "writeEnabled": false,
        "listEnabled": false
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Docker-Distribution-Api-Version": "registry/2.0"
      },
      "ResponseBody": {
        "registry": "t9c51221edfd4c215.azurecr.io",
        "imageName": "repod8bd3da1",
        "manifest": {
          "digest": "sha256:a40a15d7a9909805f4e4d0144374026e4641268cfd12001c6ad3ed70749ccd9f",
          "imageSize": 12,
          "createdTime": "2026-01-08T22:53:49.6232375Z",
          "lastUpdateTime": "2026-01-08T22:53:49.6232375Z",
          "mediaType": "application/vnd.oci.image.manifest.v1+json",
          "configMediaType": "application/vnd.oci.image.config.v1+json",
          "tags": [
            "test"
          ],
          "changeableAttributes": {
            "deleteEnabled": false,
            "writeEnabled": false,
            "readEnabled": false,
            "listEnabled": false
          }
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azurecr.io/acr/v1/repod8bd3da1?api-version=2021-07-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Docker-Distribution-Api-Version": "registry/2.0",
        "WWW-Authenticate": "Bearer realm=\"https://fake_url.azurecr.io/oauth2/token\",service=\"t9c51221edfd4c215.azurecr.io\",scope=\"repository:repod8bd3da1:delete\""
      },
      "ResponseBody": {
        "errors": [
          {
            "code": "UNAUTHORIZED",
            "message": "authentication required, visit https://aka.ms/acr/authorization for more information.",
            "detail": [
              {
                "Type": "repository",
                "Name": "repod8bd3da1",
                "Action": "delete"
              }
            ]
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azurecr.io/acr/v1/repod8bd3da1?api-version=2021-07-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Docker-Distribution-Api-Version": "registry/2.0",
        "X-Ms-Ratelimit-Remaining-Calls-Per-Second": "8.000000"
      },
      "ResponseBody": {
        "manifestsDeleted": [
          "sha256:a40a15d7a9909805f4e4d0144374026e4641268cfd12001c6ad3ed70749ccd9f"
        ],
        "tagsDeleted": [
          "test"
        ]
      }
    }
  ],
  "Variables": {}
}
