{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azurecr.io/acr/v1/library%2Fhello-world/_tags/latest?api-version=2021-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Docker-Distribution-Api-Version": "registry/2.0",
        "WWW-Authenticate": "Bearer realm=\"https://fake_url.azurecr.io/oauth2/token\",service=\"t9c51221edfd4c215anon.azurecr.io\",scope=\"repository:library/hello-world:metadata_read\""
      },
      "ResponseBody": {
        "errors": [
          {
            "code": "UNAUTHORIZED",
            "message": "authentication required, visit https://aka.ms/acr/authorization for more information.",
            "detail": [
              {
                "Type": "repository",
                "Name": "library/hello-world",
                "Action": "metadata_read"
              }
            ]
          }
        ]
      }
    },
    {
      "RequestUri": "https://Sanitized.azurecr.io/oauth2/token?api-version=2021-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/x-www-form-urlencoded"
      },
      "RequestBody": "service=t9c51221edfd4c215anon.azurecr.io&scope=repository%3Alibrary%2Fhello-world%3Ametadata_read&grant_type=password",
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-calls-per-second": "166.083333"
      },
      "ResponseBody": {
        "access_token": "access_token"
      }
    },
    {
      "RequestUri": "https://Sanitized.azurecr.io/acr/v1/library%2Fhello-world/_tags/latest?api-version=2021-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Docker-Distribution-Api-Version": "registry/2.0"
      },
      "ResponseBody": {
        "registry": "t9c51221edfd4c215anon.azurecr.io",
        "imageName": "library/hello-world",
        "tag": {
          "name": "latest",
          "digest": "sha256:a40a15d7a9909805f4e4d0144374026e4641268cfd12001c6ad3ed70749ccd9f",
          "createdTime": "2026-01-05T20:23:09.6209354Z",
          "lastUpdateTime": "2026-01-05T20:23:09.6209354Z",
          "signed": false,
          "changeableAttributes": {
            "deleteEnabled": true,
            "writeEnabled": true,
            "readEnabled": true,
            "listEnabled": true
          }
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.azurecr.io/acr/v1/library%2Fhello-world/_manifests/sha256:a40a15d7a9909805f4e4d0144374026e4641268cfd12001c6ad3ed70749ccd9f?api-version=2021-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Docker-Distribution-Api-Version": "registry/2.0",
        "WWW-Authenticate": "Bearer realm=\"https://fake_url.azurecr.io/oauth2/token\",service=\"t9c51221edfd4c215anon.azurecr.io\",scope=\"repository:library/hello-world:metadata_read\""
      },
      "ResponseBody": {
        "errors": [
          {
            "code": "UNAUTHORIZED",
            "message": "authentication required, visit https://aka.ms/acr/authorization for more information.",
            "detail": [
              {
                "Type": "repository",
                "Name": "library/hello-world",
                "Action": "metadata_read"
              }
            ]
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azurecr.io/acr/v1/library%2Fhello-world/_manifests/sha256:a40a15d7a9909805f4e4d0144374026e4641268cfd12001c6ad3ed70749ccd9f?api-version=2021-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Docker-Distribution-Api-Version": "registry/2.0"
      },
      "ResponseBody": {
        "registry": "t9c51221edfd4c215anon.azurecr.io",
        "imageName": "library/hello-world",
        "manifest": {
          "digest": "sha256:a40a15d7a9909805f4e4d0144374026e4641268cfd12001c6ad3ed70749ccd9f",
          "imageSize": 12,
          "createdTime": "2026-01-05T20:23:09.5282972Z",
          "lastUpdateTime": "2026-01-05T20:23:09.5282972Z",
          "mediaType": "application/vnd.oci.image.manifest.v1+json",
          "configMediaType": "application/vnd.oci.image.config.v1+json",
          "tags": [
            "latest",
            "v1"
          ],
          "changeableAttributes": {
            "deleteEnabled": true,
            "writeEnabled": true,
            "readEnabled": true,
            "listEnabled": true
          }
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azurecr.io/acr/v1/library%2Fhello-world/_manifests/sha256:a40a15d7a9909805f4e4d0144374026e4641268cfd12001c6ad3ed70749ccd9f?api-version=2021-07-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "deleteEnabled": true,
        "readEnabled": true,
        "writeEnabled": true,
        "listEnabled": true
      },
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Docker-Distribution-Api-Version": "registry/2.0",
        "WWW-Authenticate": "Bearer realm=\"https://fake_url.azurecr.io/oauth2/token\",service=\"t9c51221edfd4c215anon.azurecr.io\",scope=\"repository:library/hello-world:metadata_write\",error=\"insufficient_scope\""
      },
      "ResponseBody": {
        "errors": [
          {
            "code": "UNAUTHORIZED",
            "message": "authentication required, visit https://aka.ms/acr/authorization for more information.",
            "detail": [
              {
                "Type": "repository",
                "Name": "library/hello-world",
                "Action": "metadata_write"
              }
            ]
          }
        ]
      }
    }
  ],
  "Variables": {}
}
