{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azurecr.io/v2/repob5d639ee/blobs/uploads/?api-version=2021-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Docker-Distribution-Api-Version": "registry/2.0",
        "WWW-Authenticate": "Bearer realm=\"https://fake_url.azurecr.io/oauth2/token\",service=\"t9c51221edfd4c215.azurecr.io\",scope=\"repository:repob5d639ee:pull,push\""
      },
      "ResponseBody": {
        "errors": [
          {
            "code": "UNAUTHORIZED",
            "message": "authentication required, visit https://aka.ms/acr/authorization for more information.",
            "detail": [
              {
                "Type": "repository",
                "Name": "repob5d639ee",
                "Action": "pull"
              },
              {
                "Type": "repository",
                "Name": "repob5d639ee",
                "Action": "push"
              }
            ]
          }
        ]
      }
    },
    {
      "RequestUri": "http://Sanitized.254.169.254/metadata/identity/oauth2/token?api-version=2018-02-01&resource=https://Sanitized.azure.net",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": "invalid_request",
        "error_description": "Required metadata header not specified"
      }
    },
    {
      "RequestUri": "http://Sanitized.254.169.254/metadata/identity/oauth2/token?api-version=2018-02-01&resource=https://Sanitized.azure.net",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Metadata": "true"
      },
      "RequestBody": null,
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": "invalid_request",
        "error_description": "Identity not found"
      }
    },
    {
      "RequestUri": "https://Sanitized.azurecr.io/oauth2/exchange?api-version=2021-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/x-www-form-urlencoded"
      },
      "RequestBody": "grant_type=access_token&service=t9c51221edfd4c215.azurecr.io&access_token=access_token",
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-calls-per-second": "166.316667"
      },
      "ResponseBody": {
        "refresh_token": "refresh_token"
      }
    },
    {
      "RequestUri": "https://Sanitized.azurecr.io/oauth2/token?api-version=2021-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/x-www-form-urlencoded"
      },
      "RequestBody": "service=t9c51221edfd4c215.azurecr.io&scope=repository%3Arepob5d639ee%3Apull%2Cpush&refresh_token=refresh_token&grant_type=refresh_token",
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-calls-per-second": "166.3"
      },
      "ResponseBody": {
        "access_token": "access_token"
      }
    },
    {
      "RequestUri": "https://Sanitized.azurecr.io/v2/repob5d639ee/blobs/uploads/?api-version=2021-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Docker-Distribution-Api-Version": "registry/2.0",
        "Docker-Upload-Uuid": "811d636f-677a-4f2e-a629-e052c44ab3e7",
        "Location": "/v2/repob5d639ee/blobs/uploads/811d636f-677a-4f2e-a629-e052c44ab3e7?_nouploadcache=false&_state=VrqEI3H1o23drt-jWkydQ0p_PstJ6hax7amsQCuhvah7Ik5hbWUiOiJyZXBvYjVkNjM5ZWUiLCJVVUlEIjoiODExZDYzNmYtNjc3YS00ZjJlLWE2MjktZTA1MmM0NGFiM2U3IiwiT2Zmc2V0IjowLCJTdGFydGVkQXQiOiIyMDI2LTAxLTA4VDIyOjUyOjM1LjQwNDQ3OTIxM1oifQ%3D%3D",
        "Range": "0-0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.azurecr.io/v2/repob5d639ee/blobs/uploads/811d636f-677a-4f2e-a629-e052c44ab3e7?api-version=2021-07-01&_nouploadcache=false&_state=VrqEI3H1o23drt-jWkydQ0p_PstJ6hax7amsQCuhvah7Ik5hbWUiOiJyZXBvYjVkNjM5ZWUiLCJVVUlEIjoiODExZDYzNmYtNjc3YS00ZjJlLWE2MjktZTA1MmM0NGFiM2U3IiwiT2Zmc2V0IjowLCJTdGFydGVkQXQiOiIyMDI2LTAxLTA4VDIyOjUyOjM1LjQwNDQ3OTIxM1oifQ%3D%3D",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream"
      },
      "RequestBody": "U2FtcGxlIGxheWVy",
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Docker-Distribution-Api-Version": "registry/2.0",
        "WWW-Authenticate": "Bearer realm=\"https://fake_url.azurecr.io/oauth2/token\",service=\"t9c51221edfd4c215.azurecr.io\",scope=\"repository:repob5d639ee:pull,push\""
      },
      "ResponseBody": {
        "errors": [
          {
            "code": "UNAUTHORIZED",
            "message": "authentication required, visit https://aka.ms/acr/authorization for more information.",
            "detail": [
              {
                "Type": "repository",
                "Name": "repob5d639ee",
                "Action": "pull"
              },
              {
                "Type": "repository",
                "Name": "repob5d639ee",
                "Action": "push"
              }
            ]
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azurecr.io/v2/repob5d639ee/blobs/uploads/811d636f-677a-4f2e-a629-e052c44ab3e7?api-version=2021-07-01&digest=sha256_encoded_stream",
      "RequestMethod": "PUT",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Docker-Distribution-Api-Version": "registry/2.0",
        "WWW-Authenticate": "Bearer realm=\"https://fake_url.azurecr.io/oauth2/token\",service=\"t9c51221edfd4c215.azurecr.io\",scope=\"repository:repob5d639ee:pull,push\""
      },
      "ResponseBody": {
        "errors": [
          {
            "code": "UNAUTHORIZED",
            "message": "authentication required, visit https://aka.ms/acr/authorization for more information.",
            "detail": [
              {
                "Type": "repository",
                "Name": "repob5d639ee",
                "Action": "pull"
              },
              {
                "Type": "repository",
                "Name": "repob5d639ee",
                "Action": "push"
              }
            ]
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azurecr.io/v2/repob5d639ee/blobs/uploads/811d636f-677a-4f2e-a629-e052c44ab3e7?api-version=2021-07-01&digest=sha256_encoded_stream",
      "RequestMethod": "PUT",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "Docker-Content-Digest": "sha256:828dee73d26c173f8b8a6a266607b10b8e562d7920c6436997dd032461584c4b",
        "Docker-Distribution-Api-Version": "registry/2.0",
        "Location": "/v2/repob5d639ee/blobs/sha256:828dee73d26c173f8b8a6a266607b10b8e562d7920c6436997dd032461584c4b"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://Sanitized.azurecr.io/v2/repob5d639ee/blobs/uploads/e9a75021-c51a-40d3-976f-6b333d27feb4?api-version=2021-07-01&_nouploadcache=false&_state=6_wmpATrAfrNRAG07fO9m11REP751nNyN8FeCqlWlr97Ik5hbWUiOiJyZXBvYjVkNjM5ZWUiLCJVVUlEIjoiZTlhNzUwMjEtYzUxYS00MGQzLTk3NmYtNmIzMzNkMjdmZWI0IiwiT2Zmc2V0IjowLCJTdGFydGVkQXQiOiIyMDI2LTAxLTA4VDIyOjUyOjM4LjY0NjQxMDkxOFoifQ%3D%3D",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream"
      },
      "RequestBody": "eyJzYW1wbGUgY29uZmlnIjogImNvbnRlbnQifQ==",
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Docker-Distribution-Api-Version": "registry/2.0",
        "WWW-Authenticate": "Bearer realm=\"https://fake_url.azurecr.io/oauth2/token\",service=\"t9c51221edfd4c215.azurecr.io\",scope=\"repository:repob5d639ee:pull,push\""
      },
      "ResponseBody": {
        "errors": [
          {
            "code": "UNAUTHORIZED",
            "message": "authentication required, visit https://aka.ms/acr/authorization for more information.",
            "detail": [
              {
                "Type": "repository",
                "Name": "repob5d639ee",
                "Action": "pull"
              },
              {
                "Type": "repository",
                "Name": "repob5d639ee",
                "Action": "push"
              }
            ]
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azurecr.io/v2/repob5d639ee/manifests/test?api-version=2021-07-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/vnd.oci.image.manifest.v1+json"
      },
      "RequestBody": {
        "config": {
          "mediaType": "application/vnd.oci.image.config.v1+json",
          "digest": "sha256:0bbfcc0f049d3b33f7fd724f0008fa48344d4b3e5e68db9c2ed4f839ce5eec6d",
          "sizeInBytes": 28
        },
        "schemaVersion": 2,
        "layers": [
          {
            "mediaType": "application/vnd.oci.image.layer.v1.tar",
            "digest": "sha256:828dee73d26c173f8b8a6a266607b10b8e562d7920c6436997dd032461584c4b",
            "size": 12,
            "annotations": {
              "org.opencontainers.image.ref.name": "artifact.txt"
            }
          }
        ]
      },
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Docker-Distribution-Api-Version": "registry/2.0",
        "WWW-Authenticate": "Bearer realm=\"https://fake_url.azurecr.io/oauth2/token\",service=\"t9c51221edfd4c215.azurecr.io\",scope=\"repository:repob5d639ee:pull,push\""
      },
      "ResponseBody": {
        "errors": [
          {
            "code": "UNAUTHORIZED",
            "message": "authentication required, visit https://aka.ms/acr/authorization for more information.",
            "detail": [
              {
                "Type": "repository",
                "Name": "repob5d639ee",
                "Action": "pull"
              },
              {
                "Type": "repository",
                "Name": "repob5d639ee",
                "Action": "push"
              }
            ]
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azurecr.io/acr/v1/repob5d639ee?api-version=2021-07-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Docker-Distribution-Api-Version": "registry/2.0",
        "WWW-Authenticate": "Bearer realm=\"https://fake_url.azurecr.io/oauth2/token\",service=\"t9c51221edfd4c215.azurecr.io\",scope=\"repository:repob5d639ee:delete\""
      },
      "ResponseBody": {
        "errors": [
          {
            "code": "UNAUTHORIZED",
            "message": "authentication required, visit https://aka.ms/acr/authorization for more information.",
            "detail": [
              {
                "Type": "repository",
                "Name": "repob5d639ee",
                "Action": "delete"
              }
            ]
          }
        ]
      }
    },
    {
      "RequestUri": "http://Sanitized.254.169.254/metadata/identity/oauth2/token?api-version=2018-02-01&resource=https://Sanitized.azure.com",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": "invalid_request",
        "error_description": "Required metadata header not specified"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azurecr.io/acr/v1/repob5d639ee?api-version=2021-07-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Docker-Distribution-Api-Version": "registry/2.0",
        "X-Ms-Ratelimit-Remaining-Calls-Per-Second": "8.000000"
      },
      "ResponseBody": {
        "manifestsDeleted": [
          "sha256:a40a15d7a9909805f4e4d0144374026e4641268cfd12001c6ad3ed70749ccd9f"
        ],
        "tagsDeleted": [
          "test"
        ]
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azurecr.io/acr/v1/repob5d639ee?api-version=2021-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Docker-Distribution-Api-Version": "registry/2.0"
      },
      "ResponseBody": {
        "errors": [
          {
            "code": "NAME_UNKNOWN",
            "message": "repository \"repob5d639ee\" is not found"
          }
        ]
      }
    }
  ],
  "Variables": {}
}
