{
  "Entries": [
    {
      "RequestUri": "https://dummyaccount.eastus.batch.azure.com/jobs/jssdkJob-Filesb3ad/tasks/jssdkJob-Filesb3ad-task1/files/stdout.txt?api-version=2025-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "ocp-date": "Wed, 04 Feb 2026 23:33:15 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "text/plain",
        "DataServiceVersion": "3.0",
        "Last-Modified": "Wed, 04 Feb 2026 23:33:06 GMT",
        "ocp-batch-file-isdirectory": "False",
        "ocp-batch-file-mode": "0o100644",
        "ocp-batch-file-url": "https%3A%2F%2Fjssdkhobobatchacct.eastasia.batch.azure.com%2Fjobs%2FjssdkJob-Filesb3ad%2Ftasks%2FjssdkJob-Filesb3ad-task1%2Ffiles%2Fstdout.txt"
      },
      "ResponseBody": [
        "Hello World\n"
      ]
    }
  ],
  "Variables": {
    "JOB_NAME": "jssdkJob-Filesb3ad",
    "TASK_NAME": "jssdkJob-Filesb3ad-task1"
  }
}
