{
  "Entries": [
    {
      "RequestUri": "https://dummyaccount.eastus.batch.azure.com/jobs/jssdkJob-Filesb3ad/tasks/jssdkJob-Filesb3ad-task1/files?api-version=2025-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "ocp-date": "Wed, 04 Feb 2026 23:33:14 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": {
        "odata.metadata": "https://dummyaccount.eastus.batch.azure.com/$metadata#files",
        "value": [
          {
            "name": "stderr.txt",
            "url": "https://dummyaccount.eastus.batch.azure.com/jobs/jssdkJob-Filesb3ad/tasks/jssdkJob-Filesb3ad-task1/files/stderr.txt",
            "isDirectory": false,
            "properties": {
              "lastModified": "2026-02-04T23:33:06.66116Z",
              "contentLength": "0",
              "contentType": "text/plain",
              "fileMode": "0o100644"
            }
          },
          {
            "name": "wd",
            "url": "https://dummyaccount.eastus.batch.azure.com/jobs/jssdkJob-Filesb3ad/tasks/jssdkJob-Filesb3ad-task1/files/wd",
            "isDirectory": true
          },
          {
            "name": "certs",
            "url": "https://dummyaccount.eastus.batch.azure.com/jobs/jssdkJob-Filesb3ad/tasks/jssdkJob-Filesb3ad-task1/files/certs",
            "isDirectory": true
          },
          {
            "name": "stdout.txt",
            "url": "https://dummyaccount.eastus.batch.azure.com/jobs/jssdkJob-Filesb3ad/tasks/jssdkJob-Filesb3ad-task1/files/stdout.txt",
            "isDirectory": false,
            "properties": {
              "lastModified": "2026-02-04T23:33:06.681161Z",
              "contentLength": "12",
              "contentType": "text/plain",
              "fileMode": "0o100644"
            }
          }
        ]
      }
    }
  ],
  "Variables": {
    "JOB_NAME": "jssdkJob-Filesb3ad",
    "TASK_NAME": "jssdkJob-Filesb3ad-task1"
  }
}
