{
  "Entries": [
    {
      "RequestUri": "https://dummyaccount.eastus.batch.azure.com/jobs/jssdkJob-Files2323/tasks/jssdkJob-Files2323-task1/files/stderr.txt?api-version=2025-06-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "ocp-date": "Wed, 21 Jan 2026 20:18:16 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://dummyaccount.eastus.batch.azure.com/jobs/jssdkJob-Files2323/tasks/jssdkJob-Files2323-task1/files/stderr.txt?api-version=2025-06-01",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "ocp-date": "Wed, 21 Jan 2026 20:18:17 GMT"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "JOB_NAME": "jssdkJob-Files2323",
    "TASK_NAME": "jssdkJob-Files2323-task1"
  }
}
