{
  "Entries": [
    {
      "RequestUri": "https://dummyaccount.eastus.batch.azure.com/jobs/jssdkJob-Files1d67/tasks/jssdkJob-Files1d67-task1/files/stdout.txt?api-version=2025-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "ocp-date": "Thu, 22 Jan 2026 02:11:01 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "text/plain",
        "DataServiceVersion": "3.0",
        "Last-Modified": "Thu, 22 Jan 2026 02:10:45 GMT",
        "ocp-batch-file-isdirectory": "False",
        "ocp-batch-file-mode": "0o100644",
        "ocp-batch-file-url": "https%3A%2F%2Fjssdkhobobatchacct.eastasia.batch.azure.com%2Fjobs%2FjssdkJob-Files1d67%2Ftasks%2FjssdkJob-Files1d67-task1%2Ffiles%2Fstdout.txt"
      },
      "ResponseBody": [
        "Hello World\n"
      ]
    }
  ],
  "Variables": {
    "JOB_NAME": "jssdkJob-Files1d67",
    "TASK_NAME": "jssdkJob-Files1d67-task1"
  }
}
