{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.westcentralus.cnt-prod.loadtesting.azure.com/tests/sample-sdk-test-20250318/files/sample.jmx?api-version=2024-12-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream"
      },
      "RequestBody": "PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4KPGptZXRlclRlc3RQbGFuIHZlcnNpb249IjEuMiIgcHJvcGVydGllcz0iNS4wIiBqbWV0ZXI9IjUuNSI+CiAgPGhhc2hUcmVlPgogICAgPFRlc3RQbGFuIGd1aWNsYXNzPSJUZXN0UGxhbkd1aSIgdGVzdGNsYXNzPSJUZXN0UGxhbiIgdGVzdG5hbWU9IkF6dXJlIExvYWQgVGVzdGluZyBRdWlja3N0YXJ0IiBlbmFibGVkPSJ0cnVlIj4KICAgICAgPHN0cmluZ1Byb3AgbmFtZT0iVGVzdFBsYW4uY29tbWVudHMiPjwvc3RyaW5nUHJvcD4KICAgICAgPGJvb2xQcm9wIG5hbWU9IlRlc3RQbGFuLmZ1bmN0aW9uYWxfbW9kZSI+ZmFsc2U8L2Jvb2xQcm9wPgogICAgICA8Ym9vbFByb3AgbmFtZT0iVG[...]
    {
      "RequestUri": "https://Sanitized.westcentralus.cnt-prod.loadtesting.azure.com/tests/sample-sdk-test-20250318/files/sample.jmx?api-version=2024-12-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2022-11-01, 2023-04-01-preview, 2024-03-01-preview, 2024-05-01-preview, 2024-07-01-preview, 2024-12-01-preview, 2025-03-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "285bd3c2-172f-4202-a2ad-ec884d636ff9"
      },
      "ResponseBody": {
        "url": "https://maltccstorageaccountwcus.blob.core.windows.net/00fde0d0-b476-471e-9fb9-03f76563061d/2db75bff-47a0-4201-b7a3-69f487ce9d5a?skoid=5adc1310-fa4a-4a07-a41c-ab2d83581384&sktid=33e01921-4d64-4f8c-a055-5bdaffd5e33d&skt=2025-03-18T09%3A10%3A05Z&ske=2025-03-19T17%3A10%3A05Z&sks=b&skv=2024-05-04&sv=Sanitized&se=2025-03-18T10%3A28%3A05Z&sr=b&sp=r&sig=Sanitized",
        "fileName": "sample.jmx",
        "fileType": "TEST_SCRIPT",
        "expireDateTime": "2025-03-18T10:28:05.3640135Z",
        "validationStatus": "VALIDATION_INITIATED"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.westcentralus.cnt-prod.loadtesting.azure.com/tests/sample-sdk-test-20250318/files/sample.jmx?api-version=2024-12-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2022-11-01, 2023-04-01-preview, 2024-03-01-preview, 2024-05-01-preview, 2024-07-01-preview, 2024-12-01-preview, 2025-03-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "b665a374-c46c-4d6d-bdb8-b8b6a5eff2a9"
      },
      "ResponseBody": {
        "url": "https://maltccstorageaccountwcus.blob.core.windows.net/00fde0d0-b476-471e-9fb9-03f76563061d/2db75bff-47a0-4201-b7a3-69f487ce9d5a?skoid=5adc1310-fa4a-4a07-a41c-ab2d83581384&sktid=33e01921-4d64-4f8c-a055-5bdaffd5e33d&skt=2025-03-18T08%3A56%3A46Z&ske=2025-03-19T16%3A56%3A45Z&sks=b&skv=2024-05-04&sv=Sanitized&se=2025-03-18T10%3A28%3A37Z&sr=b&sp=r&sig=Sanitized",
        "fileName": "sample.jmx",
        "fileType": "TEST_SCRIPT",
        "expireDateTime": "2025-03-18T10:28:37.2178251Z",
        "validationStatus": "VALIDATION_SUCCESS"
      }
    }
  ],
  "Variables": {}
}
