{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.eastus.cnt-prod.loadtesting.azure.com/tests/sample-sdk-test-20250318/files/sample.jmx?api-version=2024-12-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2022-11-01, 2023-04-01-preview, 2024-03-01-preview, 2024-05-01-preview, 2024-07-01-preview, 2024-12-01-preview, 2025-03-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "0f4982a9-a187-48d7-8370-260c0043c595"
      },
      "ResponseBody": {
        "url": "https://tdi1fi15qoabj2yanfcf566z.z25.blob.storage.azure.net/5c68ab9b-9286-4705-82c4-7b6eeab3f433/21c36d38-d151-4bc9-8c84-8e95b843cbb8?skoid=713ccf3d-dc33-4787-a1ee-6b0cc537c37a&sktid=33e01921-4d64-4f8c-a055-5bdaffd5e33d&skt=2025-03-20T04%3A50%3A35Z&ske=2025-03-20T11%3A50%3A35Z&sks=b&skv=2024-05-04&sv=Sanitized&se=2025-03-20T05%3A01%3A08Z&sr=b&sp=r&sig=Sanitized",
        "fileName": "sample.jmx",
        "fileType": "TEST_SCRIPT",
        "expireDateTime": "2025-03-20T05:01:08.8896257Z",
        "validationStatus": "VALIDATION_SUCCESS"
      }
    }
  ],
  "Variables": {}
}
