{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.eastus2euap.cnt-canary.loadtesting.azure.com/tests/bb2899bf-e78c-4f72-ac34-0051d8d8d7db:generateTestPlanRecommendations?api-version=2025-11-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "api-supported-versions": "2022-11-01, 2023-04-01-preview, 2024-03-01-preview, 2024-05-01-preview, 2024-07-01-preview, 2024-12-01-preview, 2025-03-01-preview, 2025-11-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://00000000-0000-0000-0000-000000000000.eastus2euap.cnt-canary.loadtesting.azure.com/tests/bb2899bf-e78c-4f72-ac34-0051d8d8d7db?api-version=2025-11-01-preview",
        "mise-correlation-id": "164a336d-39e0-4fcb-b7b2-5f5050e36d95",
        "Operation-Location": "https://00000000-0000-0000-0000-000000000000.eastus2euap.cnt-canary.loadtesting.azure.com/operations/MjQ1MWQ3MGYtMjcxYy00NzI5LWI5MTktMjNlMzk3MGJmZTdlfDI0NTFkNzBmOjJEMjcxYzoyRDQ3Mjk6MkRiOTE5OjJEMjNlMzk3MGJmZTdlOjJEMHxjMWIyMWU1NDoyRGRkMDM6MkQ0MGI1OjJEYmVlZToyRGQ4MzkwYzU4Zjc0ZToyRHRwcg?api-version=2025-11-01-preview"
      },
      "ResponseBody": {
        "id": "Sanitized",
        "kind": "TestPlanRecommendations",
        "status": "Running",
        "error": {}
      }
    },
    {
      "RequestUri": "https://Sanitized.eastus2euap.cnt-canary.loadtesting.azure.com/operations/MjQ1MWQ3MGYtMjcxYy00NzI5LWI5MTktMjNlMzk3MGJmZTdlfDI0NTFkNzBmOjJEMjcxYzoyRDQ3Mjk6MkRiOTE5OjJEMjNlMzk3MGJmZTdlOjJEMHxjMWIyMWU1NDoyRGRkMDM6MkQ0MGI1OjJEYmVlZToyRGQ4MzkwYzU4Zjc0ZToyRHRwcg?api-version=2025-11-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2025-03-01-preview, 2025-11-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "fbaa6d10-a16d-4dac-96f1-266db5b031ee"
      },
      "ResponseBody": {
        "id": "Sanitized",
        "kind": "TestPlanRecommendations",
        "status": "Running",
        "error": {}
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.eastus2euap.cnt-canary.loadtesting.azure.com/tests/bb2899bf-e78c-4f72-ac34-0051d8d8d7db?api-version=2025-11-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2022-11-01, 2023-04-01-preview, 2024-03-01-preview, 2024-05-01-preview, 2024-07-01-preview, 2024-12-01-preview, 2025-03-01-preview, 2025-11-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "9b96649a-699c-47e2-a31d-e859c46c8b7c"
      },
      "ResponseBody": {
        "autoStopCriteria": {
          "autoStopDisabled": false,
          "errorRate": 90.0,
          "errorRateTimeWindowInSeconds": 60,
          "maximumVirtualUsersPerEngine": 5000
        },
        "loadTestConfiguration": {
          "engineInstances": 1,
          "splitAllCSVs": false,
          "quickStartTest": false
        },
        "inputArtifacts": {
          "additionalFileInfo": [
            {
              "url": "https://maltccstorageaccnteus2e.blob.core.windows.net/c1b21e54-dd03-40b5-beee-d8390c58f74e/52a8debb-2b87-4ffd-9fa6-158db3edd262?skoid=a51e1559-cfcb-49dd-8c7a-390ec798bb91&sktid=33e01921-4d64-4f8c-a055-5bdaffd5e33d&skt=2026-03-11T16%3A07%3A53Z&ske=2026-03-13T01%3A07%3A53Z&sks=b&skv=2025-11-05&sv=Sanitized&se=2026-03-11T22%3A04%3A22Z&sr=b&sp=r&sig=Sanitized",
              "fileName": "recording.json",
              "fileType": "BROWSER_RECORDING",
              "expireDateTime": "2026-03-11T22:04:22.4586793Z",
              "validationStatus": "VALIDATION_NOT_REQUIRED"
            },
            {
              "url": "https://maltccstorageaccnteus2e.blob.core.windows.net/c1b21e54-dd03-40b5-beee-d8390c58f74e/84850513-b1d1-4761-9b41-3b24a9299f4b?skoid=a51e1559-cfcb-49dd-8c7a-390ec798bb91&sktid=33e01921-4d64-4f8c-a055-5bdaffd5e33d&skt=2026-03-11T16%3A07%3A53Z&ske=2026-03-13T01%3A07%3A53Z&sks=b&skv=2025-11-05&sv=Sanitized&se=2026-03-11T22%3A04%3A22Z&sr=b&sp=r&sig=Sanitized",
              "fileName": "recommendations-52a8debb-2b87-4ffd-9fa6-158db3edd262.json",
              "fileType": "TEST_PLAN_RECOMMENDATIONS",
              "expireDateTime": "2026-03-11T22:04:22.4587983Z",
              "validationStatus": "VALIDATION_NOT_REQUIRED"
            }
          ]
        },
        "kind": "URL",
        "publicIPDisabled": false,
        "metricsReferenceIdentityType": "SystemAssigned",
        "preferences": {
          "enableAIErrorInsights": true
        },
        "testId": "bb2899bf-e78c-4f72-ac34-0051d8d8d7db",
        "description": "Test generated from browser recording",
        "displayName": "Recorded Test - 12/16/2025, 2:43:59 PM",
        "createdDateTime": "2025-12-16T09:14:00.431Z",
        "createdBy": "Sanitized",
        "lastModifiedDateTime": "2026-03-11T21:04:20.125Z",
        "lastModifiedBy": "Sanitized"
      }
    }
  ],
  "Variables": {}
}
