{
  "Entries": [
    {
      "RequestUri": "https://fakestorageaccount.file.core.windows.net/share169830083333408199?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 26 Oct 2023 06:13:53 GMT",
        "x-ms-version": "2023-01-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBD5EABB2FE8F1\u0022",
        "Last-Modified": "Thu, 26 Oct 2023 06:13:54 GMT",
        "x-ms-version": "2023-01-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorageaccount.file.core.windows.net/share169830083333408199/dir169830083344208247.?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-allow-trailing-dot": "false",
        "x-ms-date": "Thu, 26 Oct 2023 06:13:53 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-creation-time": "now",
        "x-ms-file-last-write-time": "now",
        "x-ms-file-permission": "inherit",
        "x-ms-version": "2023-01-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBD5EABB417E34\u0022",
        "Last-Modified": "Thu, 26 Oct 2023 06:13:54 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2023-10-26T06:13:54.3752244Z",
        "x-ms-file-creation-time": "2023-10-26T06:13:54.3752244Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2023-10-26T06:13:54.3752244Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "9255856626508002348*16764736045797335973",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-01-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorageaccount.file.core.windows.net/share169830083333408199/dir169830083344208247./subdir169830083355203799.?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-allow-trailing-dot": "false",
        "x-ms-date": "Thu, 26 Oct 2023 06:13:53 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-creation-time": "now",
        "x-ms-file-last-write-time": "now",
        "x-ms-file-permission": "inherit",
        "x-ms-version": "2023-01-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBD5EABB51CF7A\u0022",
        "Last-Modified": "Thu, 26 Oct 2023 06:13:54 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2023-10-26T06:13:54.4821626Z",
        "x-ms-file-creation-time": "2023-10-26T06:13:54.4821626Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2023-10-26T06:13:54.4821626Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "9255856626508002348*16764736045797335973",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-01-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorageaccount.file.core.windows.net/share169830083333408199/dir169830083344208247.?comp=list\u0026restype=directory",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-allow-trailing-dot": "false",
        "x-ms-date": "Thu, 26 Oct 2023 06:13:53 GMT",
        "x-ms-version": "2023-01-03"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2023-01-03"
      },
      "ResponseBody": "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CEnumerationResults ServiceEndpoint=\u0022https://fakestorageaccount.file.core.windows.net/\u0022 ShareName=\u0022share169830083333408199\u0022 DirectoryPath=\u0022dir169830083344208247\u0022\u003E\u003CDirectoryId\u003E13835128424026341376\u003C/DirectoryId\u003E\u003CEntries\u003E\u003CDirectory\u003E\u003CName\u003Esubdir169830083355203799\u003C/Name\u003E\u003CFileId\u003E11529285414812647424\u003C/FileId\u003E\u003CProperties /\u003E\u003C/Directory\u003E\u003C/Entries\u003E\u003CNextMarker /\u003E\u003C/EnumerationResults\u003E"
    },
    {
      "RequestUri": "https://fakestorageaccount.file.core.windows.net/share169830083333408199/dir169830083344208247./subdir169830083355203799.?restype=directory",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-allow-trailing-dot": "false",
        "x-ms-date": "Thu, 26 Oct 2023 06:13:53 GMT",
        "x-ms-version": "2023-01-03"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\u00220x8DBD5EABB51CF7A\u0022",
        "Last-Modified": "Thu, 26 Oct 2023 06:13:54 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2023-10-26T06:13:54.4821626Z",
        "x-ms-file-creation-time": "2023-10-26T06:13:54.4821626Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2023-10-26T06:13:54.4821626Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "9255856626508002348*16764736045797335973",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2023-01-03"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakestorageaccount.file.core.windows.net/share169830083333408199/dir169830083344208247./subdir169830083355203799.?restype=directory",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-allow-trailing-dot": "false",
        "x-ms-date": "Thu, 26 Oct 2023 06:13:53 GMT",
        "x-ms-version": "2023-01-03"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2023-01-03"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003EResourceNotFound\u003C/Code\u003E\u003CMessage\u003EThe specified resource does not exist.\n",
        "RequestId:52ccf208-901a-0042-16d3-072aa1000000\n",
        "Time:2023-10-26T06:13:54.8986273Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    },
    {
      "RequestUri": "https://fakestorageaccount.file.core.windows.net/share169830083333408199?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 26 Oct 2023 06:13:54 GMT",
        "x-ms-version": "2023-01-03"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2023-01-03"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "dir": "dir169830083344208247",
    "share": "share169830083333408199",
    "subdir": "subdir169830083355203799"
  }
}
