{
  "Entries": [
    {
      "RequestUri": "https://fakestorageaccount.file.core.windows.net/share171438188210708073?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 29 Apr 2024 09:11:22 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC682C56F1F197\"",
        "Last-Modified": "Mon, 29 Apr 2024 09:11:22 GMT",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorageaccount.file.core.windows.net/share171438188210708073/dir171438188221706491.?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-allow-trailing-dot": "false",
        "x-ms-date": "Mon, 29 Apr 2024 09:11:22 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-creation-time": "now",
        "x-ms-file-last-write-time": "now",
        "x-ms-file-permission": "inherit",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC682C57034D74\"",
        "Last-Modified": "Mon, 29 Apr 2024 09:11:22 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2024-04-29T09:11:22.7451764Z",
        "x-ms-file-creation-time": "2024-04-29T09:11:22.7451764Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-04-29T09:11:22.7451764Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "9255856626508002348*16764736045797335973",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorageaccount.file.core.windows.net/share171438188210708073/dir171438188221706491./subdir171438188233006305.?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-allow-trailing-dot": "false",
        "x-ms-date": "Mon, 29 Apr 2024 09:11:22 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-creation-time": "now",
        "x-ms-file-last-write-time": "now",
        "x-ms-file-permission": "inherit",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC682C5713C5D7\"",
        "Last-Modified": "Mon, 29 Apr 2024 09:11:22 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2024-04-29T09:11:22.8531159Z",
        "x-ms-file-creation-time": "2024-04-29T09:11:22.8531159Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2024-04-29T09:11:22.8531159Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "9255856626508002348*16764736045797335973",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakestorageaccount.file.core.windows.net/share171438188210708073/dir171438188221706491.?comp=list&restype=directory",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-allow-trailing-dot": "false",
        "x-ms-date": "Mon, 29 Apr 2024 09:11:22 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://fakestorageaccount.file.core.windows.net/\" ShareName=\"share171438188210708073\" DirectoryPath=\"dir171438188221706491\"><DirectoryId>13835128424026341376</DirectoryId><Entries><Directory><Name>subdir171438188233006305</Name><FileId>11529285414812647424</FileId><Properties /></Directory></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://fakestorageaccount.file.core.windows.net/share171438188210708073/dir171438188221706491./subdir171438188233006305.?restype=directory",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-allow-trailing-dot": "false",
        "x-ms-date": "Mon, 29 Apr 2024 09:11:22 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DC682C5713C5D7\"",
        "Last-Modified": "Mon, 29 Apr 2024 09:11:22 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2024-04-29T09:11:22.8531159Z",
        "x-ms-file-creation-time": "2024-04-29T09:11:22.8531159Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2024-04-29T09:11:22.8531159Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "9255856626508002348*16764736045797335973",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakestorageaccount.file.core.windows.net/share171438188210708073/dir171438188221706491./subdir171438188233006305.?restype=directory",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-allow-trailing-dot": "false",
        "x-ms-date": "Mon, 29 Apr 2024 09:11:22 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ResourceNotFound</Code><Message>The specified resource does not exist.\n",
        "RequestId:886d09bf-d01a-0043-7c15-9a757d000000\n",
        "Time:2024-04-29T09:11:23.2740456Z</Message></Error>"
      ]
    },
    {
      "RequestUri": "https://fakestorageaccount.file.core.windows.net/share171438188210708073?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 29 Apr 2024 09:11:22 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "dir": "dir171438188221706491",
    "share": "share171438188210708073",
    "subdir": "subdir171438188233006305"
  }
}
