{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/go-sdk-test-rg?api-version=2021-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1192"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg",
        "name": "go-sdk-test-rg",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "westus",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.EventHub/namespaces/namespac1zmzpF?api-version=2022-10-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westus",
        "sku": {
          "name": "Premium",
          "tier": "Premium"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Server-SB": "Service-Bus-Resource-Provider/SN1",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "47"
      },
      "ResponseBody": {
        "sku": {
          "name": "Premium",
          "tier": "Premium",
          "capacity": 1
        },
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.EventHub/namespaces/namespac1zmzpF",
        "name": "namespac1zmzpF",
        "type": "Microsoft.EventHub/Namespaces",
        "location": "West US",
        "tags": {},
        "properties": {
          "disableLocalAuth": false,
          "zoneRedundant": false,
          "isAutoInflateEnabled": false,
          "maximumThroughputUnits": 0,
          "kafkaEnabled": true,
          "provisioningState": "Created",
          "metricId": "00000000-0000-0000-0000-000000000000:namespac1zmzpf",
          "createdAt": "2023-04-24T04:41:10.623Z",
          "updatedAt": "2023-04-24T04:41:10.623Z",
          "serviceBusEndpoint": "https://namespac1zmzpF.servicebus.windows.net:443/",
          "status": "Activating"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/go-sdk-test-rg/providers/Microsoft.Resources/deployments/Create_PrivateEndpoint?api-version=2021-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "mode": "Incremental",
          "template": {
            "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
            "contentVersion": "1.0.0.0",
            "parameters": {
              "location": {
                "defaultValue": "westus",
                "type": "string"
              },
              "namespaceId": {
                "defaultValue": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.EventHub/namespaces/namespac1zmzpF",
                "type": "string"
              },
              "networkInterfaceName": {
                "defaultValue": "peeventhub-nic",
                "type": "string"
              },
              "privateEndpointName": {
                "defaultValue": "peeventhub",
                "type": "string"
              },
              "virtualNetworksName": {
                "defaultValue": "peeventhubvnet",
                "type": "string"
              }
            },
            "resources": [
              {
                "apiVersion": "2020-11-01",
                "location": "[parameters(\u0027location\u0027)]",
                "name": "[parameters(\u0027virtualNetworksName\u0027)]",
                "properties": {
                  "addressSpace": {
                    "addressPrefixes": [
                      "10.0.0.0/16"
                    ]
                  },
                  "enableDdosProtection": false,
                  "subnets": [
                    {
                      "name": "default",
                      "properties": {
                        "addressPrefix": "10.0.0.0/24",
                        "delegations": [],
                        "privateEndpointNetworkPolicies": "Enabled",
                        "privateLinkServiceNetworkPolicies": "Enabled"
                      }
                    }
                  ],
                  "virtualNetworkPeerings": []
                },
                "type": "Microsoft.Network/virtualNetworks"
              },
              {
                "apiVersion": "2020-11-01",
                "dependsOn": [
                  "[resourceId(\u0027Microsoft.Network/virtualNetworks\u0027, parameters(\u0027virtualNetworksName\u0027))]"
                ],
                "location": "[parameters(\u0027location\u0027)]",
                "name": "[parameters(\u0027networkInterfaceName\u0027)]",
                "properties": {
                  "dnsSettings": {
                    "dnsServers": []
                  },
                  "enableIPForwarding": false,
                  "ipConfigurations": [
                    {
                      "name": "privateEndpointIpConfig",
                      "properties": {
                        "primary": true,
                        "privateIPAddress": "10.0.0.4",
                        "privateIPAddressVersion": "IPv4",
                        "privateIPAllocationMethod": "Dynamic",
                        "subnet": {
                          "id": "[resourceId(\u0027Microsoft.Network/virtualNetworks/subnets\u0027, parameters(\u0027virtualNetworksName\u0027), \u0027default\u0027)]"
                        }
                      }
                    }
                  ]
                },
                "type": "Microsoft.Network/networkInterfaces"
              },
              {
                "apiVersion": "2020-11-01",
                "dependsOn": [
                  "[resourceId(\u0027Microsoft.Network/virtualNetworks\u0027, parameters(\u0027virtualNetworksName\u0027))]"
                ],
                "location": "[parameters(\u0027location\u0027)]",
                "name": "[parameters(\u0027privateEndpointName\u0027)]",
                "properties": {
                  "customDnsConfigs": [],
                  "manualPrivateLinkServiceConnections": [],
                  "privateLinkServiceConnections": [
                    {
                      "name": "[parameters(\u0027privateEndpointName\u0027)]",
                      "properties": {
                        "groupIds": [
                          "namespace"
                        ],
                        "privateLinkServiceConnectionState": {
                          "actionsRequired": "None",
                          "description": "Auto-Approved",
                          "status": "Approved"
                        },
                        "privateLinkServiceId": "[parameters(\u0027namespaceId\u0027)]"
                      }
                    }
                  ],
                  "subnet": {
                    "id": "[resourceId(\u0027Microsoft.Network/virtualNetworks/subnets\u0027, parameters(\u0027virtualNetworksName\u0027), \u0027default\u0027)]"
                  }
                },
                "type": "Microsoft.Network/privateEndpoints"
              }
            ],
            "variables": {}
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/go-sdk-test-rg/providers/Microsoft.Resources/deployments/Create_PrivateEndpoint/operationStatuses/08585192955196555781?api-version=2021-04-01",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1191"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.Resources/deployments/Create_PrivateEndpoint",
        "name": "Create_PrivateEndpoint",
        "type": "Microsoft.Resources/deployments",
        "properties": {
          "templateHash": "5540024929821208800",
          "parameters": {
            "location": {
              "type": "String",
              "value": "westus"
            },
            "namespaceId": {
              "type": "String",
              "value": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.EventHub/namespaces/namespac1zmzpF"
            },
            "networkInterfaceName": {
              "type": "String",
              "value": "peeventhub-nic"
            },
            "privateEndpointName": {
              "type": "String",
              "value": "peeventhub"
            },
            "virtualNetworksName": {
              "type": "String",
              "value": "peeventhubvnet"
            }
          },
          "mode": "Incremental",
          "provisioningState": "Accepted",
          "timestamp": "2023-04-24T04:42:47.721346Z",
          "duration": "PT0.0005233S",
          "correlationId": "00000000-0000-0000-0000-000000000000",
          "providers": [
            {
              "namespace": "Microsoft.Network",
              "resourceTypes": [
                {
                  "resourceType": "virtualNetworks",
                  "locations": [
                    "westus"
                  ]
                },
                {
                  "resourceType": "networkInterfaces",
                  "locations": [
                    "westus"
                  ]
                },
                {
                  "resourceType": "privateEndpoints",
                  "locations": [
                    "westus"
                  ]
                }
              ]
            }
          ],
          "dependencies": [
            {
              "dependsOn": [
                {
                  "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.Network/virtualNetworks/peeventhubvnet",
                  "resourceType": "Microsoft.Network/virtualNetworks",
                  "resourceName": "peeventhubvnet"
                }
              ],
              "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.Network/networkInterfaces/peeventhub-nic",
              "resourceType": "Microsoft.Network/networkInterfaces",
              "resourceName": "peeventhub-nic"
            },
            {
              "dependsOn": [
                {
                  "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.Network/virtualNetworks/peeventhubvnet",
                  "resourceType": "Microsoft.Network/virtualNetworks",
                  "resourceName": "peeventhubvnet"
                }
              ],
              "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.Network/privateEndpoints/peeventhub",
              "resourceType": "Microsoft.Network/privateEndpoints",
              "resourceName": "peeventhub"
            }
          ]
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/go-sdk-test-rg/providers/Microsoft.Resources/deployments/Create_PrivateEndpoint/operationStatuses/08585192955196555781?api-version=2021-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11967"
      },
      "ResponseBody": {
        "status": "Accepted"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.EventHub/namespaces/namespac1zmzpF/privateEndpointConnections?api-version=2022-10-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Server-SB": "Service-Bus-Resource-Provider/SN1",
        "x-ms-ratelimit-remaining-subscription-reads": "11962"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.EventHub/namespaces/namespac1zmzpF/privateEndpointConnections/00000000-0000-0000-0000-000000000000",
            "name": "00000000-0000-0000-0000-000000000000",
            "type": "Microsoft.EventHub/Namespaces/PrivateEndpointConnections",
            "location": "West US",
            "properties": {
              "provisioningState": "Succeeded",
              "privateEndpoint": {
                "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.Network/privateEndpoints/peeventhub"
              },
              "privateLinkServiceConnectionState": {
                "status": "Approved",
                "description": "Auto-Approved"
              },
              "groupIds": [
                "namespace"
              ]
            }
          }
        ]
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.EventHub/namespaces/namespac1zmzpF/privateEndpointConnections/00000000-0000-0000-0000-000000000000?api-version=2022-10-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "appli[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.EventHub/namespaces/namespac1zmzpF/privateLinkResources?api-version=2022-10-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Server-SB": "Service-Bus-Resource-Provider/SN1",
        "x-ms-ratelimit-remaining-subscription-reads": "11960"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.EventHub/namespaces/namespac1zmzpF/privateLinkResources/namespace",
            "name": "namespace",
            "type": "Microsoft.EventHub/namespaces/privateLinkResources",
            "properties": {
              "groupId": "namespace",
              "requiredMembers": [
                "namespace"
              ],
              "requiredZoneNames": [
                "privatelink.servicebus.windows.net"
              ]
            }
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.EventHub/namespaces/namespac1zmzpF/privateEndpointConnections/00000000-0000-0000-0000-000000000000/operationStatus/00000000-0000-0000-0000-000000000000?api-version=2022-10-01-preview\u0026operationType=Delete",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
   [...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.EventHub/namespaces/namespac1zmzpF/privateEndpointConnections/00000000-0000-0000-0000-000000000000/operationStatus/00000000-0000-0000-0000-000000000000?api-version=2022-10-01-preview\u0026operationType=Delete",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Server-SB": "Service-Bus-Resource-Provider/SN1",
        "x-ms-ratelimit-remaining-subscription-reads": "11957"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.EventHub/namespaces/namespac1zmzpF/privateEndpointConnections/00000000-0000-0000-0000-000000000000/operationStatus/00000000-0000-0000-0000-000000000000/operationStatus/00000000-0000-0000-0000-000000000000",
        "name": "00000000-0000-0000-0000-000000000000",
        "status": "Succeeded",
        "startTime": "0001-01-01T00:00:00Z",
        "endTime": "0001-01-01T00:00:00Z"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/go-sdk-test-rg?api-version=2021-04-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Location": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1HTzoyRFNESzoyRFRFU1Q6MkQ3Ni1XRVNUVVMiLCJqb2JMb2NhdGlvbiI6Indlc3R1cyJ9?api-version=2021-04-01",
        "Retry-After": "15",
        "x-ms-ratelimit-remaining-subscription-deletes": "14990"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "randSeed": "1682311265",
    "recordingRandomSeed": "0"
  }
}
