{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/go-sdk-test-rg?api-version=2021-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg",
        "name": "go-sdk-test-rg",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "westus",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.EventHub/namespaces/namespacenDefO0A?api-version=2022-10-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westus",
        "sku": {
          "name": "Premium",
          "tier": "Premium"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Server-SB": "Service-Bus-Resource-Provider/CH3",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "49"
      },
      "ResponseBody": {
        "sku": {
          "name": "Premium",
          "tier": "Premium",
          "capacity": 1
        },
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.EventHub/namespaces/namespacenDefO0A",
        "name": "namespacenDefO0A",
        "type": "Microsoft.EventHub/Namespaces",
        "location": "West US",
        "tags": {},
        "properties": {
          "disableLocalAuth": false,
          "zoneRedundant": false,
          "isAutoInflateEnabled": false,
          "maximumThroughputUnits": 0,
          "kafkaEnabled": true,
          "provisioningState": "Created",
          "metricId": "00000000-0000-0000-0000-000000000000:namespacendefo0a",
          "createdAt": "2023-04-24T04:35:09.177Z",
          "updatedAt": "2023-04-24T04:35:09.177Z",
          "serviceBusEndpoint": "https://namespacenDefO0A.servicebus.windows.net:443/",
          "status": "Activating"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/go-sdk-test-rg/providers/Microsoft.Resources/deployments/StorageAccount_Create?api-version=2021-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "mode": "Incremental",
          "parameters": {
            "storageAccountName": {
              "value": "storageeventhub2"
            }
          },
          "template": {
            "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
            "contentVersion": "1.0.0.0",
            "outputs": {
              "storageAccountId": {
                "type": "string",
                "value": "[resourceId(\u0027Microsoft.Storage/storageAccounts\u0027, parameters(\u0027storageAccountName\u0027))]"
              }
            },
            "parameters": {
              "storageAccountName": {
                "defaultValue": "$(storageAccountName)",
                "type": "string"
              }
            },
            "resources": [
              {
                "apiVersion": "2022-05-01",
                "kind": "StorageV2",
                "location": "eastus",
                "name": "[parameters(\u0027storageAccountName\u0027)]",
                "properties": {
                  "accessTier": "Hot",
                  "allowBlobPublicAccess": true,
                  "allowCrossTenantReplication": true,
                  "allowSharedKeyAccess": true,
                  "defaultToOAuthAuthentication": false,
                  "dnsEndpointType": "Standard",
                  "encryption": {
                    "keySource": "Microsoft.Storage",
                    "requireInfrastructureEncryption": false,
                    "services": {
                      "blob": {
                        "enabled": true,
                        "keyType": "Account"
                      },
                      "file": {
                        "enabled": true,
                        "keyType": "Account"
                      }
                    }
                  },
                  "minimumTlsVersion": "TLS1_2",
                  "networkAcls": {
                    "bypass": "AzureServices",
                    "defaultAction": "Allow",
                    "ipRules": [],
                    "virtualNetworkRules": []
                  },
                  "publicNetworkAccess": "Enabled",
                  "supportsHttpsTrafficOnly": true
                },
                "sku": {
                  "name": "Standard_RAGRS",
                  "tier": "Standard"
                },
                "type": "Microsoft.Storage/storageAccounts"
              }
            ],
            "variables": {}
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/go-sdk-test-rg/providers/Microsoft.Resources/deployments/StorageAccount_Create/operationStatuses/08585192957264414397?api-version=2021-04-01",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1198"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.Resources/deployments/StorageAccount_Create",
        "name": "StorageAccount_Create",
        "type": "Microsoft.Resources/deployments",
        "properties": {
          "templateHash": "18010810814539768480",
          "parameters": {
            "storageAccountName": {
              "type": "String",
              "value": "storageeventhub2"
            }
          },
          "mode": "Incremental",
          "provisioningState": "Accepted",
          "timestamp": "2023-04-24T04:39:20.8786181Z",
          "duration": "PT0.0008502S",
          "correlationId": "00000000-0000-0000-0000-000000000000",
          "providers": [
            {
              "namespace": "Microsoft.Storage",
              "resourceTypes": [
                {
                  "resourceType": "storageAccounts",
                  "locations": [
                    "eastus"
                  ]
                }
              ]
            }
          ],
          "dependencies": []
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/go-sdk-test-rg/providers/Microsoft.Resources/deployments/StorageAccount_Create/operationStatuses/08585192957264414397?api-version=2021-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11990"
      },
      "ResponseBody": {
        "status": "Running"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.EventHub/namespaces/namespacenDefO0A/eventhubs/eventhubnarpFVXS?api-version=2022-10-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "captureDescription": {
            "destination": {
              "name": "EventHubArchive.AzureBlockBlob",
              "properties": {
                "archiveNameFormat": "{Namespace}/{EventHub}/{PartitionId}/{Year}/{Month}/{Day}/{Hour}/{Minute}/{Second}",
                "blobContainer": "container",
                "storageAccountResourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.Storage/storageAccounts/storageeventhub2"
              }
            },
            "enabled": true,
            "encoding": "Avro",
            "intervalInSeconds": 120,
            "sizeLimitInBytes": 10485763
          },
          "messageRetentionInDays": 4,
          "partitionCount": 4,
          "status": "Active"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1197"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.EventHub/namespaces/namespacenDefO0A/eventhubs/eventhubnarpFVXS",
        "name": "eventhubnarpFVXS",
        "type": "Microsoft.EventHub/namespaces/eventhubs",
        "location": "westus",
        "properties": {
          "messageRetentionInDays": 4,
          "partitionCount": 4,
          "status": "Active",
          "createdAt": "2023-04-24T04:39:57.933Z",
          "updatedAt": "2023-04-24T04:40:00.61Z",
          "partitionIds": [
            "0",
            "1",
            "2",
            "3"
          ],
          "captureDescription": {
            "enabled": true,
            "encoding": "Avro",
            "destination": {
              "name": "EventHubArchive.AzureBlockBlob",
              "properties": {
                "archiveNameFormat": "{Namespace}/{EventHub}/{PartitionId}/{Year}/{Month}/{Day}/{Hour}/{Minute}/{Second}",
                "blobContainer": "container",
                "storageAccountResourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.Storage/storageAccounts/storageeventhub2"
              }
            },
            "intervalInSeconds": 120,
            "sizeLimitInBytes": 10485763
          }
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.EventHub/namespaces/namespacenDefO0A/eventhubs/eventhubnarpFVXS/consumergroups/consumergrb8x7Pm?api-version=2022-10-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "userMetadata": "New consumergroup"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1196"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.EventHub/namespaces/namespacenDefO0A/eventhubs/eventhubnarpFVXS/consumergroups/consumergrb8x7Pm",
        "name": "consumergrb8x7Pm",
        "type": "Microsoft.EventHub/namespaces/eventhubs/consumergroups",
        "location": "westus",
        "properties": {
          "createdAt": "2023-04-24T04:40:02.7637589Z",
          "updatedAt": "2023-04-24T04:40:02.7637589Z",
          "userMetadata": "New consumergroup"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.EventHub/namespaces/namespacenDefO0A/eventhubs/eventhubnarpFVXS/consumergroups?api-version=2022-10-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-inline-count": "",
        "x-ms-ratelimit-remaining-subscription-reads": "11987"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.EventHub/namespaces/namespacenDefO0A/eventhubs/eventhubnarpFVXS/consumergroups/$Default",
            "name": "$Default",
            "type": "Microsoft.EventHub/namespaces/eventhubs/consumergroups",
            "location": "westus",
            "properties": {
              "createdAt": "2023-04-24T04:39:58.49Z",
              "updatedAt": "2023-04-24T04:39:58.49Z"
            }
          },
          {
            "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.EventHub/namespaces/namespacenDefO0A/eventhubs/eventhubnarpFVXS/consumergroups/consumergrb8x7pm",
            "name": "consumergrb8x7pm",
            "type": "Microsoft.EventHub/namespaces/eventhubs/consumergroups",
            "location": "westus",
            "properties": {
              "createdAt": "2023-04-24T04:40:02.771Z",
              "updatedAt": "2023-04-24T04:40:02.771Z",
              "userMetadata": "New consumergroup"
            }
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.EventHub/namespaces/namespacenDefO0A/eventhubs?api-version=2022-10-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-inline-co[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.EventHub/namespaces/namespacenDefO0A/eventhubs/eventhubnarpFVXS/authorizationRules?api-version=2022-10-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11984"
      },
      "ResponseBody": {
        "value": []
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.EventHub/namespaces/namespacenDefO0A/eventhubs/eventhubnarpFVXS/authorizationRules/authorizat5cE5Ca?api-version=2022-10-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "rights": [
            "Listen",
            "Send"
          ]
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1195"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.EventHub/namespaces/namespacenDefO0A/eventhubs/eventhubnarpFVXS/authorizationRules/authorizat5cE5Ca",
        "name": "authorizat5cE5Ca",
        "type": "Microsoft.EventHub/namespaces/eventhubs/authorizationrules",
        "properties": {
          "rights": [
            "Listen",
            "Send"
          ]
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.EventHub/namespaces/namespacenDefO0A/eventhubs/eventhubnarpFVXS/authorizationRules/authorizat5cE5Ca/listKeys?api-version=2022-10-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": {
        "primaryConnectionString": "Endpoint=sb://namespacendefo0a.servicebus.windows.net/;SharedAccessKeyName=authorizat5cE5Ca;SharedAccessKey=;EntityPath=eventhubnarpFVXS",
        "secondaryConnectionString": "Endpoint=sb://namespacendefo0a.servicebus.windows.net/;SharedAccessKeyName=authorizat5cE5Ca;SharedAccessKey=;EntityPath=eventhubnarpFVXS",
        "primaryKey": "",
        "secondaryKey": "",
        "keyName": "authorizat5cE5Ca"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.EventHub/namespaces/namespacenDefO0A/eventhubs/eventhubnarpFVXS/authorizationRules/authorizat5cE5Ca/regenerateKeys?api-version=2022-10-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "keyType": "PrimaryKey"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1198"
      },
      "ResponseBody": {
        "primaryConnectionString": "Endpoint=sb://namespacendefo0a.servicebus.windows.net/;SharedAccessKeyName=authorizat5cE5Ca;SharedAccessKey=;EntityPath=eventhubnarpFVXS",
        "secondaryConnectionString": "Endpoint=sb://namespacendefo0a.servicebus.windows.net/;SharedAccessKeyName=authorizat5cE5Ca;SharedAccessKey=;EntityPath=eventhubnarpFVXS",
        "primaryKey": "",
        "secondaryKey": "",
        "keyName": "authorizat5cE5Ca"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.EventHub/checkNameAvailability?api-version=2022-10-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "name": "sdk-Namespace-8458"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Server-SB": "Service-Bus-Resource-Provider/SN1",
        "x-ms-ratelimit-remaining-subscription-writes": "1197"
      },
      "ResponseBody": {
        "nameAvailable": true,
        "reason": "None",
        "message": null
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.EventHub/namespaces?api-version=2022-10-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Server-SB": "Service-Bus-Resource-Provider/SN1",
        "x-ms-inline-count": "",
        "x-ms-ratelimit-remaining-subscription-reads": "11981"
      },
      "ResponseBody": {
        "value": [
          {
            "sku": {
              "name": "Standard",
              "tier": "Standard",
              "capacity": 1
            },
            "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_cli_mgmt_servicebus_namespace_test_migration_configsa9a51771/providers/Microsoft.EventHub/namespaces/myNamespacexxyyzzy",
            "name": "myNamespacexxyyzzy",
            "type": "Microsoft.EventHub/Namespaces",
            "location": "East US",
            "tags": {
              "tag1": "value1",
              "tag2": "value2"
            },
            "properties": {
              "disableLocalAuth": false,
              "zoneRedundant": false,
              "isAutoInflateEnabled": false,
              "maximumThroughputUnits": 0,
              "kafkaEnabled": true,
              "provisioningState": "Succeeded",
              "metricId": "00000000-0000-0000-0000-000000000000:mynamespacexxyyzzy",
              "createdAt": "2020-08-17T08:07:13.307Z",
              "updatedAt": "2020-08-17T08:27:01.143Z",
              "serviceBusEndpoint": "https://myNamespacexxyyzzy.servicebus.windows.net:443/",
              "status": "Active",
              "alternateName": "postmigrationxxy"
            }
          },
          {
            "sku": {
              "name": "Standard",
              "tier": "Standard",
              "capacity": 1
            },
            "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/7vx5onejribdkm3bpke5mddlz57worfeu7edc4sdd5xec2dng2m4hhit6yy7d5u6asotq6vmh6a/providers/Microsoft.EventHub/namespaces/myNamespacexxyyzzykk",
            "name": "myNamespacexxyyzzykk",
            "type": "Microsoft.EventHub/[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.EventHub/namespaces/namespacenDefO0A/authorizationRules?api-version=2022-10-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11980"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/go-sdk-test-rg/providers/Microsoft.EventHub/namespaces/namespacenDefO0A/authorizationrules/RootManageSharedAccessKey",
            "name": "RootManageSharedAccessKey",
            "type": "Microsoft.EventHub/Namespaces/AuthorizationRules",
            "location": "westus",
            "properties": {
              "rights": [
                "Listen",
                "Manage",
                "Send"
              ]
            }
          }
        ]
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.EventHub/namespaces/namespacenDefO0A/networkRuleSets?api-version=2022-10-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Server-SB": "Service-Bus-Resource-Provider/SN1",
        "x-ms-ratelimit-remaining-subscription-reads": "11979"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.EventHub/namespaces/namespacenDefO0A/networkRuleSets/default",
            "name": "default",
            "type": "Microsoft.EventHub/Namespaces/NetworkRuleSets",
            "location": "West US",
            "properties": {
              "publicNetworkAccess": "Enabled",
              "defaultAction": "Allow",
              "virtualNetworkRules": [],
              "ipRules": []
            }
          }
        ]
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.EventHub/namespaces/namespacenDefO0A/networkRuleSets/default?api-version=2022-10-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Server-SB": "Service-Bus-Resource-Provider/SN1",
        "x-ms-ratelimit-remaining-subscription-reads": "11978"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.EventHub/namespaces/namespacenDefO0A/networkRuleSets/default",
        "name": "default",
        "type": "Microsoft.EventHub/Namespaces/NetworkRuleSets",
        "location": "West US",
        "properties": {
          "publicNetworkAccess": "Enabled",
          "defaultAction": "Allow",
          "virtualNetworkRules": [],
          "ipRules": []
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.EventHub/namespaces?api-version=2022-10-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Server-SB": "Service-Bus-Resource-Provide[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.EventHub/namespaces/namespacenDefO0A/authorizationRules/authorizat5cE5Ca?api-version=2022-10-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "rights": [
            "Listen",
            "Send"
          ]
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1194"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.EventHub/namespaces/namespacenDefO0A/authorizationRules/authorizat5cE5Ca",
        "name": "authorizat5cE5Ca",
        "type": "Microsoft.EventHub/Namespaces/AuthorizationRules",
        "location": "westus",
        "properties": {
          "rights": [
            "Listen",
            "Send"
          ]
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.EventHub/namespaces/namespacenDefO0A/authorizationRules/authorizat5cE5Ca/listKeys?api-version=2022-10-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1196"
      },
      "ResponseBody": {
        "primaryConnectionString": "Endpoint=sb://namespacendefo0a.servicebus.windows.net/;SharedAccessKeyName=authorizat5cE5Ca;SharedAccessKey=",
        "secondaryConnectionString": "Endpoint=sb://namespacendefo0a.servicebus.windows.net/;SharedAccessKeyName=authorizat5cE5Ca;SharedAccessKey=",
        "primaryKey": "",
        "secondaryKey": "",
        "keyName": "authorizat5cE5Ca"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.EventHub/namespaces/namespacenDefO0A/authorizationRules/authorizat5cE5Ca/regenerateKeys?api-version=2022-10-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "keyType": "PrimaryKey"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1195"
      },
      "ResponseBody": {
        "primaryConnectionString": "Endpoint=sb://namespacendefo0a.servicebus.windows.net/;SharedAccessKeyName=authorizat5cE5Ca;SharedAccessKey=",
        "secondaryConnectionString": "Endpoint=sb://namespacendefo0a.servicebus.windows.net/;SharedAccessKeyName=authorizat5cE5Ca;SharedAccessKey=",
        "primaryKey": "",
        "secondaryKey": "",
        "keyName": "authorizat5cE5Ca"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/providers/Microsoft.EventHub/operations?api-version=2022-10-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Server-SB": "Service-Bus-Resource-Provider/SN1",
        "x-ms-ratelimit-remaining-tenant-reads": "11999"
      },
      "ResponseBody": {
        "value": [
          {
            "name": "Microsoft.EventHub/checkNamespaceAvailability/action",
            "display": {
              "provider": "Microsoft Azure EventHub",
              "resource": "Non Resource Operation",
              "operation": "Get namespace availability.",
              "description": "Checks availability of namespace under given subscription. This API is deprecated please use CheckNameAvailabiltiy instead."
            },
[...]
