{
  "Entries": [
    {
      "RequestUri": "https://fakeaccountname.blob.core.windows.net/container175761353897105898?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDF15CE5D460AE\"",
        "Last-Modified": "Thu, 11 Sep 2025 17:59:05 GMT",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeaccountname.blob.core.windows.net/container175761353897105898/blob175761354474301849",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDF15CE5E52333\"",
        "Last-Modified": "Thu, 11 Sep 2025 17:59:05 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05",
        "x-ms-version-id": "2025-09-11T17:59:05.2772935Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeaccountname.blob.core.windows.net/container175761353897105898/blockblob175761354486405860",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": "SGVsbG8gV29ybGQh",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "7Qdih1MuhjZehB6Sv8UNjA==",
        "ETag": "\"0x8DDF15CE5F80C3A\"",
        "Last-Modified": "Thu, 11 Sep 2025 17:59:05 GMT",
        "x-ms-content-crc64": "peH8Xsgc5QI=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05",
        "x-ms-version-id": "2025-09-11T17:59:05.4002234Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeaccountname.blob.core.windows.net/container175761353897105898/blob175761354474301849?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": "SGVsbG8gV29ybGQh",
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDF15CE6085D7B\"",
        "Last-Modified": "Thu, 11 Sep 2025 17:59:05 GMT",
        "x-ms-blob-append-offset": "0",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-content-crc64": "peH8Xsgc5QI=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeaccountname.blob.core.windows.net/container175761353897105898/blob175761354474301849?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://fakeaccountname.blob.core.windows.net/container175761353897105898/blockblob175761354486405860",
        "x-ms-source-range": "bytes=0-11",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDF15CE6272B9C\"",
        "Last-Modified": "Thu, 11 Sep 2025 17:59:05 GMT",
        "x-ms-blob-append-offset": "12",
        "x-ms-blob-committed-block-count": "2",
        "x-ms-content-crc64": "peH8Xsgc5QI=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeaccountname.blob.core.windows.net/container175761353897105898/blob175761354474301849",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DDF15CE6272B9C\"",
        "Last-Modified": "Thu, 11 Sep 2025 17:59:05 GMT",
        "x-ms-blob-committed-block-count": "2",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Thu, 11 Sep 2025 17:59:05 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-11-05",
        "x-ms-version-id": "2025-09-11T17:59:05.2772935Z"
      },
      "ResponseBody": "SGVsbG8gV29ybGQhSGVsbG8gV29ybGQh"
    },
    {
      "RequestUri": "https://fakeaccountname.blob.core.windows.net/container175761353897105898?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "blob": "blob175761354474301849",
    "blockblob": "blockblob175761354486405860",
    "container": "container175761353897105898"
  }
}
