{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.servicebus.windows.net/$Resources/topics?$skip=0&$top=100&api-version=2021-05",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/atom+xml; type=feed; charset=utf-8"
      },
      "ResponseBody": "<feed xmlns=\"http://www.w3.org/2005/Atom\"><title type=\"text\">Topics</title><id>https://fakeresource.servicebus.windows.net/$Resources/topics?$skip=0&amp;$top=100&amp;api-version=2021-05</id><updated>2024-09-04T18:14:44Z</updated><link rel=\"self\" href=\"https://fakeresource.servicebus.windows.net/$Resources/topics?$skip=0&amp;$top=100&amp;api-version=2021-05\"/></feed>"
    },
    {
      "RequestUri": "https://Sanitized.servicebus.windows.net/topic_testaddf?api-version=2021-05",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/atom+xml"
      },
      "RequestBody": [
        "<?xml version='1.0' encoding='utf-8'?>\n",
        "<ns0:entry xmlns:ns0=\"http://www.w3.org/2005/Atom\" xmlns=\"http://schemas.microsoft.com/netservices/2010/10/servicebus/connect\"><ns0:content type=\"application/xml\"><TopicDescription /></ns0:content></ns0:entry>"
      ],
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/atom+xml; type=entry; charset=utf-8"
      },
      "ResponseBody": "<entry xmlns=\"http://www.w3.org/2005/Atom\"><id>https://fakeresource.servicebus.windows.net/topic_testaddf?api-version=2021-05</id><title type=\"text\">topic_testaddf</title><published>2024-09-04T18:14:44Z</published><updated>2024-09-04T18:14:44Z</updated><author><name>sb-te9c6b9643d59d62d</name></author><link rel=\"self\" href=\"https://fakeresource.servicebus.windows.net/topic_testaddf?api-version=2021-05\"/><content type=\"application/xml\"><TopicDescription xmlns=\"http://schemas.microsoft.com/netservices/2010/10/servicebus/connect\" xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\"><DefaultMessageTimeToLive>P10675199DT2H48M5.4775807S</DefaultMessageTimeToLive><MaxSizeInMegabytes>1024</MaxSizeInMegabytes><RequiresDuplicateDetection>false</RequiresDuplicateDetection><DuplicateDetectionHistoryTimeWindow>PT10M</DuplicateDetectionHistoryTimeWindow><EnableBatchedOperations>true</EnableBatchedOperations><SizeInBytes>0</SizeInBytes><FilteringMessagesBeforePublishing>false</FilteringMessagesBeforePublishing><IsAnonymousAccessible>false</IsAnonymousAccessible><AuthorizationRules></AuthorizationRules><Status>Active</Status><CreatedAt>2024-09-04T18:14:44.64Z</CreatedAt><UpdatedAt>2024-09-04T18:14:44.697Z</UpdatedAt><SupportOrdering>true</SupportOrdering><AutoDeleteOnIdle>P10675199DT2H48M5.4775807S</AutoDeleteOnIdle><EnablePartitioning>false</EnablePartitioning><EntityAvailabilityStatus>Available</EntityAvailabilityStatus><EnableSubscriptionPartitioning>false</EnableSubscriptionPartitioning><EnableExpress>false</EnableExpress><MaxMessageSizeInKilobytes>256</MaxMessageSizeInKilobytes></TopicDescription></content></entry>"
    },
    {
      "RequestUri": "https://Sanitized.servicebus.windows.net/topic_testaddf/subscriptions/sub_testkkk?api-version=2021-05",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/atom+xml"
      },
      "RequestBody": [
        "<?xml version='1.0' encoding='utf-8'?>\n",
        "<ns0:entry xmlns:ns0=\"http://www.w3.org/2005/Atom\" xmlns=\"http://schemas.microsoft.com/netservices/2010/10/servicebus/connect\"><ns0:content type=\"application/xml\"><SubscriptionDescription /></ns0:content></ns0:entry>"
      ],
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/atom+xml; type=entry; charset=utf-8",
        "ETag": "638610704846970000"
      },
      "ResponseBody": "<entry xmlns=\"http://www.w3.org/2005/Atom\"><id>https://fakeresource.servicebus.windows.net/topic_testaddf/subscriptions/sub_testkkk?api-version=2021-05</id><title type=\"text\">sub_testkkk</title><published>2024-09-04T18:14:45Z</published><updated>2024-09-04T18:14:45Z</updated><link rel=\"self\" href=\"https://fakeresource.servicebus.windows.net/topic_testaddf/subscriptions/sub_testkkk?api-version=2021-05\"/><content type=\"application/xml\"><SubscriptionDescription xmlns=\"http://schemas.microsoft.com/netservices/2010/10/servicebus/connect\" xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\"><LockDuration>PT1M</LockDuration><RequiresSession>false</RequiresSession><DefaultMessageTimeToLive>P10675199DT2H48M5.4775807S</DefaultMessageTimeToLive><DeadLetteringOnMessageExpiration>false</DeadLetteringOnMessageExpiration><DeadLetteringOnFilterEvaluationExceptions>true</DeadLetteringOnFilterEvaluationExceptions><MessageCount>0</MessageCount><MaxDeliveryCount>10</MaxDeliveryCount><EnableBatchedOperations>true</EnableBatchedOperations><Status>Active</Status><CreatedAt>2024-09-04T18:14:45.1930152Z</CreatedAt><UpdatedAt>2024-09-04T18:14:45.1930152Z</UpdatedAt><AccessedAt>0001-01-01T00:00:00</AccessedAt><AutoDeleteOnIdle>P10675199DT2H48M5.4775807S</AutoDeleteOnIdle><EntityAvailabilityStatus>Available</EntityAvailabilityStatus><IsClientAffine>false</IsClientAffine></SubscriptionDescription></content></entry>"
    },
    {
      "RequestUri": "https://Sanitized.servicebus.windows.net/topic_testaddf/subscriptions/sub_testkkk/rules?$skip=0&$top=100&api-version=2021-05",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/atom+xml; type=feed; charset=utf-8",
        "ETag": "638610704846970000"
      },
      "ResponseBody": "<feed xmlns=\"http://www.w3.org/2005/Atom\"><title type=\"text\">Rules</title><id>https://fakeresource.servicebus.windows.net/topic_testaddf/subscriptions/sub_testkkk/rules?$skip=0&amp;$top=100&amp;api-version=2021-05</id><updated>2024-09-04T18:14:45Z</updated><link rel=\"self\" href=\"https://fakeresource.servicebus.windows.net/topic_testaddf/subscriptions/sub_testkkk/rules?$skip=0&amp;$top=100&amp;api-version=2021-05\"/><entry xml:base=\"https://fakeresource.servicebus.windows.net/topic_testaddf/subscriptions/sub_testkkk/rules?$skip=0&amp;$top=100&amp;api-version=2021-05\"><id>https://fakeresource.servicebus.windows.net/topic_testaddf/subscriptions/sub_testkkk/rules/$Default?api-version=2021-05</id><title type=\"text\">$Default</title><published>2024-09-04T18:14:45Z</published><updated>2024-09-04T18:14:45Z</updated><link rel=\"self\" href=\"rules/$Default?api-version=2021-05\"/><content type=\"application/xml\"><RuleDescription xmlns=\"http://schemas.microsoft.com/netservices/2010/10/servicebus/connect\" xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\"><Filter i:type=\"TrueFilter\"><SqlExpression>1=1</SqlExpression><CompatibilityLevel>20</CompatibilityLevel></Filter><Action i:type=\"EmptyRuleAction\"/><CreatedAt>2024-09-04T18:14:45.1910037Z</CreatedAt><Name>$Default</Name></RuleDescription></content></entry></feed>"
    },
    {
      "RequestUri": "https://Sanitized.servicebus.windows.net/topic_testaddf/subscriptions/sub_testkkk/rules/test_rule_1?api-version=2021-05",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/atom+xml"
      },
      "RequestBody": [
        "<?xml version='1.0' encoding='utf-8'?>\n",
        "<ns0:entry xmlns:ns0=\"http://www.w3.org/2005/Atom\" xmlns=\"http://schemas.microsoft.com/netservices/2010/10/servicebus/connect\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\"><ns0:content type=\"application/xml\"><RuleDescription><Filter xsi:type=\"SqlFilter\"><SqlExpression>Priority = 'low'</SqlExpression><CompatibilityLevel>20</CompatibilityLevel><RequiresPreprocessing>true</RequiresPreprocessing></Filter><Action xsi:type=\"EmptyRuleAction\" /><Name>test_rule_1</Name></RuleDescription></ns0:content></ns0:entry>"
      ],
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/atom+xml; type=entry; charset=utf-8",
        "ETag": "638610704846970000"
      },
      "ResponseBody": "<entry xmlns=\"http://www.w3.org/2005/Atom\"><id>https://fakeresource.servicebus.windows.net/topic_testaddf/subscriptions/sub_testkkk/rules/test_rule_1?api-version=2021-05</id><title type=\"text\">test_rule_1</title><published>2024-09-04T18:14:45Z</published><updated>2024-09-04T18:14:45Z</updated><link rel=\"self\" href=\"https://fakeresource.servicebus.windows.net/topic_testaddf/subscriptions/sub_testkkk/rules/test_rule_1?api-version=2021-05\"/><content type=\"application/xml\"><RuleDescription xmlns=\"http://schemas.microsoft.com/netservices/2010/10/servicebus/connect\" xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\"><Filter i:type=\"SqlFilter\"><SqlExpression>Priority = 'low'</SqlExpression><CompatibilityLevel>20</CompatibilityLevel><RequiresPreprocessing>true</RequiresPreprocessing></Filter><Action i:type=\"EmptyRuleAction\"/><CreatedAt>2024-09-04T18:14:45.5992733Z</CreatedAt><Name>test_rule_1</Name></RuleDescription></content></entry>"
    },
[...]
    {
      "RequestUri": "https://Sanitized.servicebus.windows.net/topic_testaddf?api-version=2021-05",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "638610704846970000"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
