{
  "Entries": [
    {
      "RequestUri": "https://fakeresource.servicebus.windows.net/$Resources/queues?$skip=0\u0026$top=100\u0026api-version=2021-05",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/xml; charset=utf-8"
      },
      "ResponseBody": "\u003CError\u003E\u003CCode\u003E401\u003C/Code\u003E\u003CDetail\u003Eclaim is empty or token is invalid. TrackingId:c34cb93c-49fd-4363-9074-7af70b2ee43c_G5, SystemTracker:fakeresource.servicebus.windows.net:$Resources/queues, Timestamp:2023-12-15T20:53:16\u003C/Detail\u003E\u003C/Error\u003E"
    },
    {
      "RequestUri": "https://fakeresource.servicebus.windows.net/$Resources/queues?$skip=0\u0026$top=100\u0026api-version=2021-05",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/xml; charset=utf-8"
      },
      "ResponseBody": "\u003CError\u003E\u003CCode\u003E401\u003C/Code\u003E\u003CDetail\u003Eclaim is empty or token is invalid. TrackingId:b082fe86-9ee4-46c9-a2b8-f100909e8b80_G5, SystemTracker:fakeresource.servicebus.windows.net:$Resources/queues, Timestamp:2023-12-15T20:53:17\u003C/Detail\u003E\u003C/Error\u003E"
    }
  ],
  "Variables": {}
}
