{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.CodeSigning/codeSigningAccounts/resourcetest?api-version=2024-02-05-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\"7e01f260-0000-0800-0000-66f8f8880000\"",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-reads": "11998"
      },
      "ResponseBody": {
        "id": "/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.CodeSigning/codeSigningAccounts/resourcetest",
        "name": "resourcetest",
        "type": "microsoft.codesigning/codesigningaccounts",
        "location": "eastus",
        "systemData": {
          "createdBy": "Sanitized",
          "createdByType": "User",
          "createdAt": "2024-09-29T06:49:29.5662292Z",
          "lastModifiedBy": "Sanitized",
          "lastModifiedByType": "User",
          "lastModifiedAt": "2024-09-29T06:49:29.5662292Z"
        },
        "properties": {
          "sku": {
            "name": "Basic"
          },
          "provisioningState": "Succeeded",
          "accountUri": "https://eus.codesigning.azure.net/"
        }
      }
    }
  ],
  "Variables": {}
}
