{
  "Entries": [
    {
      "RequestUri": "https://azs-net-shrejasearchtest.search.windows.net/indexes(\u0027xfqfdses\u0027)/docs/search.index?api-version=2023-11-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "api-key": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "value": [
          {
            "@search.action": "upload",
            "hotelId": "11"
          },
          {
            "@search.action": "upload",
            "hotelId": "12"
          },
          {
            "@search.action": "upload",
            "hotelId": "13"
          },
          {
            "@search.action": "upload",
            "hotelId": "14"
          },
          {
            "@search.action": "upload",
            "hotelId": "15"
          },
          {
            "@search.action": "upload",
            "hotelId": "16"
          },
          {
    [...]
    {
      "RequestUri": "https://azs-net-shrejasearchtest.search.windows.net/indexes(\u0027xfqfdses\u0027)/docs/search.post.search?api-version=2023-11-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "api-key": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "queryType": "semantic",
        "search": "*",
        "select": "hotelId",
        "semanticConfiguration": "my-semantic-config",
        "answers": "extractive",
        "captions": "extractive|highlight-True"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=none; odata.streaming=true; charset=utf-8",
        "elapsed-time": "17",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\u0022*\u0022"
      },
      "ResponseBody": {
        "@search.nextPageParameters": {
          "queryType": "semantic",
          "search": "*",
          "select": "hotelId",
          "semanticConfiguration": "my-semantic-config",
          "answers": "extractive",
          "captions": "extractive|highlight-True",
          "top": null,
          "skip": 50
        },
        "value": [
          {
            "@search.score": 1.0,
            "hotelId": "20"
          },
          {
            "@search.score": 1.0,
            "hotelId": "31"
          },
          {
            "@search.score": 1.0,
            "hotelId": "45"
          },
          {
            "@search.score": 1.0,
            "hotelId": "126"
          },
          {
            "@search.score": 1.0,
            "hotelId": "136"
          },
          {
            "@sea[...]
[...]
    {
      "RequestUri": "https://azs-net-shrejasearchtest.search.windows.net/indexes(\u0027xfqfdses\u0027)?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "elapsed-time": "259",
        "Preference-Applied": "odata.include-annotations=\u0022*\u0022"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "54415660",
    "SearchIndexName": "xfqfdses",
    "SEARCH_ADMIN_API_KEY": "Sanitized",
    "SEARCH_ENDPOINT_SUFFIX": "search.windows.net",
    "SEARCH_QUERY_API_KEY": "Sanitized",
    "SEARCH_SERVICE_NAME": "azs-net-shrejasearchtest"
  }
}
