{
  "Entries": [
    {
      "RequestUri": "https://azs-net-shrejasearchtest.search.windows.net/indexes(\u0027rvvfotjt\u0027)/docs/search.post.search?api-version=2023-11-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "api-key": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "queryType": "semantic",
        "search": "Is there any hotel located on the main commercial artery of the city in the heart of New York?",
        "semanticConfiguration": "my-semantic-config",
        "answers": "extractive",
        "captions": "extractive|highlight-True"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata.metadata=none; odata.streaming=true; charset=utf-8",
        "elapsed-time": "204",
        "OData-Version": "4.0",
        "Preference-Applied": "odata.include-annotations=\u0022*\u0022"
      },
      "ResponseBody": {
        "@search.answers": [
          {
            "key": "9",
            "text": "Secret Point Motel. Boutique. The hotel is ideally located on the main commercial artery of the city in the heart of New York. A few minutes away is Time\u0027s Square and the historic centre of the city, as well as other places of interest that make New York one of America\u0027s most attractive and cosmopolitan cities..",
            "highlights": "\u003Cem\u003ESecret Point Motel. Boutique.\u003C/em\u003E The hotel is ideally located on the main commercial artery of the city in the heart of New York. A few minutes away is Time\u0027s Square and the historic centre of the city, as well as other places of interest that make New York one of America\u0027s most attractive and cosmopolitan cities..",
            "score": 0.95361328125
          }
        ],
        "value": [
          {
            "@search.score": 7.080782,
            "@search.captions": [
              {
                "text": "Secret Point Motel. Boutique. The hotel is ideally located on the main commercial artery of the city in the heart of New York. A few minutes away is Time\u0027s Square and the historic centre of the city, as well as other places of interest that make New York one of America\u0027s most attractive and cosmopolitan cities..",
                "highlights": "Secret Point Motel. Boutique. The hotel is ideally located on the main commercial artery of the city in the heart of New York. A few minutes away is Time\u0027s Square and the historic centre of the city, as well as other places of interest that make\u003Cem\u003E New York\u003C/em\u003E one of America\u0027s most attractive and cosmopolitan cities.."
              }
            ],
            "@search.rerankerScore": 3.3481924533843994,
            "hotelId": "9",
            "hotelName": "Secret Point Motel",
            "description": "The hotel is ideally located on the main commercial artery of the city in the heart of New York. A few minutes away is Time\u0027s Square and the historic centre of the city, as well as other places of interest that make New York one of America\u0027s most attractive and cosmopolitan cities.",
            "descriptionFr": "L\u0027h\u00F4tel est id\u00E9alement situ\u00E9 sur la principale art\u00E8re commerciale de la ville en plein c\u0153ur de New York. A quelques minutes se trouve la place du temps et le centre historique de la ville, ainsi que d\u0027autres lieux d\u0027int\u00E9r\u00EAt qui font de New York l\u0027une des villes les plus attractives et cosmopolites de l\u0027Am\u00E9rique.",
            "descriptionVector": [
              -0.02881642,
              -0.030480592,
              0.033476096,
              0.021984564,
              -0.005583729,
              -0.028028129,
              -0.013856406,
              0.019304374,
              0.032057174,
              -0.006647922,
              -0.009301836,
              0.016028587,
              -0.0077077355,
              0.0014747613,
              -0.0016422732,
              0.0109484885,
              -0.031881995,
              0.019654727[...]
    {
      "RequestUri": "https://azs-net-shrejasearchtest.search.windows.net/indexes(\u0027rvvfotjt\u0027)?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "elapsed-time": "169",
        "Preference-Applied": "odata.include-annotations=\u0022*\u0022"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1283765905",
    "SearchIndexName": "rvvfotjt",
    "SEARCH_ADMIN_API_KEY": "Sanitized",
    "SEARCH_ENDPOINT_SUFFIX": "search.windows.net",
    "SEARCH_SERVICE_NAME": "azs-net-shrejasearchtest"
  }
}
