{
  "Entries": [
    {
      "RequestUri": "https://azs-net-azsearchsdktest.search.windows.net/indexes('dekfvefe')/docs/search.post.search?api-version=2026-04-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "api-key": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "queryType": "semantic",
        "search": "Is there any luxury hotel in New York?",
        "semanticConfiguration": "my-semantic-config",
        "semanticMaxWaitInMilliseconds": 700,
        "answers": "extractive",
        "captions": "extractive|highlight-True"
      },
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Language": "en",
        "Content-Type": "application/json; charset=utf-8",
        "elapsed-time": "186"
      },
      "ResponseBody": {
        "error": {
          "code": "InvalidRequestParameter",
          "message": "The 'semanticMaxWaitInMilliseconds' parameter needs to be larger than 750.\r\nParameter name: semanticMaxWaitInMilliseconds",
          "details": [
            {
              "code": "ParameterValueOutOfRange",
              "message": "The 'semanticMaxWaitInMilliseconds' parameter needs to be larger than 750."
            }
          ]
        }
      }
    },
    {
      "RequestUri": "https://azs-net-azsearchsdktest.search.windows.net/indexes('dekfvefe')?api-version=2026-04-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "elapsed-time": "718",
        "Preference-Applied": "odata.include-annotations=\"*\""
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1070189701",
    "SearchIndexName": "dekfvefe",
    "SEARCH_ADMIN_API_KEY": "Sanitized",
    "SEARCH_ENDPOINT_SUFFIX": "search.windows.net",
    "SEARCH_SERVICE_NAME": "azs-net-azsearchsdktest"
  }
}
