{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.prod.apcgatewayapi.azure.com/number-verification/number:verify?api-version=2024-02-09-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "apc-gateway-id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/dev-testing-eastus/providers/Microsoft.programmableconnectivity/gateways/apcg-eastus",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "apcCode": "apc_1231231231232"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "6a3f9bad-d83f-4faf-b779-d48760e0c73b",
        "x-ms-response-id": "d95b5a63-8b0f-43bd-9a6c-719c18d7ca77"
      },
      "ResponseBody": {
        "verificationResult": false
      }
    }
  ],
  "Variables": {}
}