{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.prod.apcgatewayapi.azure.com/sim-swap/sim-swap:retrieve?api-version=2024-02-09-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "apc-gateway-id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/dev-testing-eastus/providers/Microsoft.programmableconnectivity/gateways/non-existent",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "phoneNumber": "+34000000000",
        "networkIdentifier": {
          "identifierType": "NetworkCode",
          "identifier": "Orange_Spain"
        }
      },
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "f921b32c-1017-49b2-ac49-47e26744a3a9",
        "x-ms-error-code": "INVALID_TENANT",
        "x-ms-response-id": "61ed7561-1570-4c56-8e97-bf157b17d81b"
      },
      "ResponseBody": {
        "error": {
          "message": "No configuration for APC Gateway ID '/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/dev-testing-eastus/providers/Microsoft.programmableconnectivity/gateways/non-existent'.",
          "code": "INVALID_TENANT",
          "innerError": null,
          "consentUrl": null
        }
      }
    }
  ],
  "Variables": {}
}