{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.prod.apcgatewayapi.azure.com/sim-swap/sim-swap:verify?api-version=2024-02-09-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "apc-gateway-id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/dev-testing-eastus/providers/Microsoft.programmableconnectivity/gateways/apcg-eastus",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "phoneNumber": "+34000000000",
        "maxAgeHours": -10,
        "networkIdentifier": {
          "identifierType": "NetworkCode",
          "identifier": "Orange_Spain"
        }
      },
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "297597bf-7837-4cff-bedd-71427688e27c",
        "x-ms-error-code": "CAMARA_ERROR",
        "x-ms-response-id": "5dfe84fc-55a9-4245-ba83-acf84b9d4932"
      },
      "ResponseBody": {
        "error": {
          "message": "APC encountered an error while communicating with Operator: Orange_Spain",
          "code": "CAMARA_ERROR",
          "innerError": {
            "message": "Client specified an invalid argument, request body or query param",
            "code": "INVALID_ARGUMENT",
            "innerError": null,
            "consentUrl": null
          },
          "consentUrl": null
        }
      }
    }
  ],
  "Variables": {}
}