{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/go-sdk-test-rg?api-version=2021-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg",
        "name": "go-sdk-test-rg",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "westus",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.RecoveryServices/vaults/vaultnam3mGQ3n?api-version=2023-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "identity": {
          "type": "SystemAssigned"
        },
        "location": "westus",
        "properties": {
          "publicNetworkAccess": "Enabled"
        },
        "sku": {
          "name": "Standard"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.RecoveryServices/vaults/vaultnam3mGQ3n/operationStatus/MjA0Nzs0NDM0OTJkMy0zZmIwLTQ5MGMtOGM4My1iNjliNjNhY2QzZDY=?api-version=2023-01-01",
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "60",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "209"
      },
      "ResponseBody": {
        "location": "westus",
        "name": "vaultnam3mGQ3n",
        "etag": "W/\u0022datetime\u00272023-05-06T06%3A45%3A14.711366Z\u0027\u0022",
        "identity": {
          "tenantId": "00000000-0000-0000-0000-000000000000",
          "principalId": "00000000-0000-0000-0000-000000000000",
          "type": "SystemAssigned"
        },
        "properties": {
          "provisioningState": "Provisioning",
          "privateEndpointStateForBackup": "None",
          "privateEndpointStateForSiteRecovery": "None",
          "publicNetworkAccess": "Enabled"
        },
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.RecoveryServices/vaults/vaultnam3mGQ3n",
        "type": "Microsoft.RecoveryServices/vaults",
        "sku": {
          "name": "Standard"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.RecoveryServices/vaults/vaultnam3mGQ3n/operationStatus/MjA0Nzs0NDM0OTJkMy0zZmIwLTQ5MGMtOGM4My1iNjliNjNhY2QzZDY=?api-version=2023-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11999"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.RecoveryServices/vaults/vaultnam3mGQ3n/operationStatus/MjA0Nzs0NDM0OTJkMy0zZmIwLTQ5MGMtOGM4My1iNjliNjNhY2QzZDY=",
        "name": "MjA0Nzs0NDM0OTJkMy0zZmIwLTQ5MGMtOGM4My1iNjliNjNhY2QzZDY=",
        "status": "Succeeded",
        "percentComplete": 0.0
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.RecoveryServices/vaults?api-version=2023-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11997"
      },
      "ResponseBody": {
        "value": [
          {
            "location": "westus",
            "name": "vaultnam3mGQ3n",
            "etag": "W/\u0022datetime\u00272023-05-06T06%3A46%3A15.4155241Z\u0027\u0022",
            "identity": {
              "tenantId": "00000000-0000-0000-0000-000000000000",
              "principalId": "00000000-0000-0000-0000-000000000000",
              "type": "SystemAssigned"
            },
            "properties": {
              "provisioningState": "Succeeded",
              "publicNetworkAccess": "Enabled"
            },
            "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.RecoveryServices/vaults/vaultnam3mGQ3n",
            "type": "Microsoft.RecoveryServices/vaults",
            "sku": {
              "name": "Standard"
            }
          }
        ]
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.RecoveryServices/vaults?api-version=2023-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11996"
      },
      "ResponseBody": {
        "value": [
          {
            "location": "westus",
            "name": "vaultnam3mGQ3n",
            "etag": "W/\u0022datetime\u00272023-05-06T06%3A46%3A15.4155241Z\u0027\u0022",
            "identity": {
              "tenantId": "00000000-0000-0000-0000-000000000000",
              "principalId": "00000000-0000-0000-0000-000000000000",
              "type": "SystemAssigned"
            },
            "properties": {
              "provisioningState": "Succeeded",
              "publicNetworkAccess": "Enabled"
            },
            "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.RecoveryServices/vaults/vaultnam3mGQ3n",
            "type": "Microsoft.RecoveryServices/vaults",
            "sku": {
              "name": "Standard"
            }
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.RecoveryServices/vaults/vaultnam3mGQ3n?api-version=2023-01-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {
          "PatchKey": "PatchKeyUpdated"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "208"
      },
      "ResponseBody": {
        "location": "westus",
        "name": "vaultnam3mGQ3n",
        "etag": "W/\u0022datetime\u00272023-05-06T06%3A46%3A20.8884655Z\u0027\u0022",
        "tags": {
          "PatchKey": "PatchKeyUpdated"
        },
        "identity": {
          "tenantId": "00000000-0000-0000-0000-000000000000",
          "principalId": "00000000-0000-0000-0000-000000000000",
          "type": "SystemAssigned"
        },
        "properties": {
          "provisioningState": "Succeeded",
          "privateEndpointStateForBackup": "None",
          "privateEndpointStateForSiteRecovery": "None",
          "publicNetworkAccess": "Enabled"
        },
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.RecoveryServices/vaults/vaultnam3mGQ3n",
        "type": "Microsoft.RecoveryServices/vaults",
        "sku": {
          "name": "Standard"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.RecoveryServices/vaults/vaultnam3mGQ3n/extendedInformation/vaultExtendedInfo?api-version=2023-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "algorithm": "None",
          "integrityKey": "myIntegrityKey"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1198"
      },
      "ResponseBody": {
        "location": null,
        "name": "vaultExtendedInfo",
        "etag": "00000000-0000-0000-0000-000000000000",
        "tags": null,
        "identity": null,
        "properties": {
          "algorithm": "None",
          "integrityKey": "myIntegrityKey"
        },
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.RecoveryServices/vaults/vaultnam3mGQ3nextendedInformation/vaultExtendedInfo",
        "type": "Microsoft.RecoveryServices/vaults/extendedInformation",
        "sku": null
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/Subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.RecoveryServices/vaults/vaultnam3mGQ3n/replicationUsages?api-version=2023-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11993"
      },
      "ResponseBody": {
        "monitoringSummary": {
          "unHealthyVmCount": 0,
          "unHealthyProviderCount": 0,
          "eventsCount": 0,
          "deprecatedProviderCount": 0,
          "supportedProviderCount": 0,
          "unsupportedProviderCount": 0
        },
        "jobsSummary": {
          "failedJobs": 0,
          "suspendedJobs": 0,
          "inProgressJobs": 0
        },
        "protectedItemsSummary": {
          "irInProgressProtectedItemsCount": 0,
          "testFailoverInProgressProtectedItemsCount": 0,
          "testFailoverWaitingProtectedItemsCount": 0,
          "failoverInProgressProtectedItemsCount": 0,
          "failedOverProtectedItemsCount": 0,
          "changePitInProgressProtectedItemsCount": 0,
          "failoverCommitInProgressProtectedItemsCount": 0,
          "failoverCommittedProtectedItemsCount": 0,
          "testFailoverApplicableProtectedItemsCount": 0,
          "replicatingProtectedItemsCount": 0,
          "hyperVToAzureProtectedItemsCount": 0,
          "vmmToAzureProtectedItemsCount": 0,
          "vmwareToAzureProtectedItemsCount": 0,
          "azureToAzureProtectedItemsCount": 0
        },
        "storageAccountsCountSummary": {
          "hyperVToAzureTotalStorageAccountsCount": 0,
          "hyperVToAzureLogStorageAccountsCount": 0,
          "hyperVToAzureRecoveryStorageAccountsCount": 0,
          "vmwareToAzureStorageAccountsCount": 0,
          "vmwareToAzureLogStorageAccountsCount": 0,
          "vmwareToAzureRecoveryStorageAccountsCount": 0,
          "azureToAzureRecoveryStorageAccountsCount": 0,
          "azureToAzureStagingStorageAccountsCount": 0
        },
        "protectedItemCount": 0,
        "registeredServersCount": 0,
        "recoveryPlanCount": 0
      }
    },
    {
      "RequestUri": "https://management.azure.com/Subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.RecoveryServices/vaults/vaultnam3mGQ3n/usages?api-version=2023-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "149"
      },
      "ResponseBody": {
        "value": [
          {
            "unit": "Count",
            "currentValue": 0,
            "limit": -1,
            "name": {
              "value": "MABContainersCount",
              "localizedValue": "Backup management servers"
            }
          },
          {
            "unit": "Count",
            "currentValue": 0,
            "limit": -1,
            "name": {
              "value": "ProtectedItemCount",
              "localizedValue": "Backup items/Azure virtual machine backup"
            }
          },
          {
            "unit": "Count",
            "currentValue": 0,
            "limit": -1,
            "name": {
              "value": "ProtectedItemCriticalCount",
     [...]
    {
      "RequestUri": "https://management.azure.com/providers/Microsoft.RecoveryServices/operations?api-version=2023-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-tenant-reads": "11999"
      },
      "ResponseBody": {
        "value": [
          {
            "name": "MICROSOFT.RECOVERYSERVICES/Locations/backupAadProperties/read",
            "display": {
              "provider": "MICROSOFT.RECOVERYSERVICES",
              "resource": "Recovery Points",
              "operation": "Get Aad Properties for CRR",
              "description": "Get AAD Properties for authentication in the third region for Cross Region Restore."
            },
            "origin": "user",
            "properties": null
          },
          {
            "name": "MICROSOFT.RECOVERYSERVICES/Locations/backupCrossRegionRestore/action",
            "display": {
              "provider": "MICROSOFT.RECOVERYSERVICES",
              "resource": "Recovery Points",
              "operation": "Cross Region Restore",
              "description": "Trigger Cross region restore."
            },
            "origin": "user",
            "properties": null
          },
          {
    [...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.RecoveryServices/locations/westus/capabilities?api-version=2023-01-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "dnsZones": [
            {
              "subResource": "AzureBackup"
            },
            {
              "subResource": "AzureSiteRecovery"
            }
          ]
        },
        "type": "Microsoft.RecoveryServices/Vaults"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": {
        "type": "Microsoft.RecoveryServices/Vaults",
        "properties": {
          "dnsZones": [
            {
              "requiredZoneNames": [
                "privatelink.wus.backup.windowsazure.com",
                "privatelink.queue.core.windows.net",
                "privatelink.blob.core.windows.net"
              ],
              "subResource": "AzureBackup"
            },
            {
              "requiredZoneNames": [
                "privatelink.siterecovery.windowsazure.com"
              ],
              "subResource": "AzureSiteRecovery"
            }
          ]
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.RecoveryServices/vaults/vaultnam3mGQ3n/privateLinkResources?api-version=2023-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11999"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.RecoveryServices/vaults/vaultnam3mGQ3n/privateLinkResources/backupResource",
            "name": "backupResource",
            "type": "Microsoft.RecoveryServices/vaults/privateLinkResources",
            "properties": {
              "groupId": "AzureBackup",
              "requiredMembers": [
                "backup-prot1b",
                "backup-tel1",
                "backup-id1",
                "backup-prot1c",
                "backup-fc1",
                "backup-rec2",
                "backup-ecs1",
                "backup-wbcm1",
                "backup-fab1",
                "backup-prot1"
              ],
              "requiredZoneNames": [
                "privatelink.wus.backup.windowsazure.com",
                "privatelink.queue.core.windows.net",
                "privatelink.blob.core.windows.net"
              ]
            }
          },
          {
            "id": "538211973194865598",
            "name": "siteRecoveryResource",
            "type": "Microsoft.RecoveryServices/vaults/privateLinkResources",
            "properties": {
              "groupId": "AzureSiteRecovery",
              "requiredMembers": [
                "SiteRecovery-srs1",
                "SiteRecovery-rcm1",
                "SiteRecovery-prot2",
                "SiteRecovery-tel1",
                "SiteRecovery-id1"
              ],
              "requiredZoneNames": [
                "privatelink.siterecovery.windowsazure.com"
              ]
            }
          }
        ]
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.RecoveryServices/vaults/vaultnam3mGQ3n/privateLinkResources/backupResource?api-version=2023-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11998"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.RecoveryServices/vaults/vaultnam3mGQ3n/privateLinkResources/backupResource",
        "name": "backupResource",
        "type": "Microsoft.RecoveryServices/vaults/privateLinkResources",
        "properties": {
          "groupId": "AzureBackup",
          "requiredMembers": [
            "backup-prot1b",
            "backup-tel1",
            "backup-id1",
            "backup-prot1c",
            "backup-fc1",
            "backup-rec2",
            "backup-ecs1",
            "backup-wbcm1",
            "backup-fab1",
            "backup-prot1"
          ],
          "requiredZoneNames": [
            "privatelink.wus.backup.windowsazure.com",
            "privatelink.queue.core.windows.net",
            "privatelink.blob.core.windows.net"
          ]
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/go-sdk-test-rg?api-version=2021-04-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Location": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1HTzoyRFNESzoyRFRFU1Q6MkQ4NTUtV0VTVFVTIiwiam9iTG9jYXRpb24iOiJ3ZXN0dXMifQ?api-version=2021-04-01",
        "Retry-After": "15",
        "x-ms-ratelimit-remaining-subscription-deletes": "14999"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "randSeed": "1683355499",
    "recordingRandomSeed": "0"
  }
}
