{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/go-sdk-test-rg?api-version=2021-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": {
        "id": "Sanitized",
        "name": "go-sdk-test-rg",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "westus",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.RecoveryServices/vaults/vaultnamBmsLqZ?api-version=2024-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "identity": {
          "type": "SystemAssigned"
        },
        "location": "westus",
        "properties": {
          "publicNetworkAccess": "Enabled"
        },
        "sku": {
          "name": "Standard"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.RecoveryServices/vaults/vaultnamBmsLqZ/operationStatus/MjA0NztkZTM5ODcxZC02YjNiLTRiMGMtYTcyNC1jMThmNTk1Yjk3ZDU=?api-version=2024-04-01\u0026t=638507569455503972\u0026c=MIIHSDCCBjCgAwIBAgITOgL9GKuxwuoAvl6gDgAEAv0YqzANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNMjQwNTAyMTUxMzA5WhcNMjUwNDI3MTUxMzA5[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.RecoveryServices/vaults/vaultnamBmsLqZ/operationStatus/MjA0NztkZTM5ODcxZC02YjNiLTRiMGMtYTcyNC1jMThmNTk1Yjk3ZDU=?api-version=2024-04-01\u0026t=638507569455503972\u0026c=MIIHSDCCBjCgAwIBAgITOgL9GKuxwuoAvl6gDgAEAv0YqzANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNMjQwNTAyMTU[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.RecoveryServices/vaults/vaultnamBmsLqZ?api-version=2024-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11999"
      },
      "ResponseBody": {
        "location": "westus",
        "name": "vaultnamBmsLqZ",
        "etag": "W/\u0022datetime\u00272024-05-08T09%3A23%3A26.0033973Z\u0027\u0022",
        "identity": {
          "tenantId": "Sanitized",
          "principalId": "Sanitized",
          "type": "SystemAssigned"
        },
        "properties": {
          "provisioningState": "Succeeded",
          "privateEndpointStateForBackup": "None",
          "privateEndpointStateForSiteRecovery": "None",
          "backupStorageVersion": "Unassigned",
          "securitySettings": {
            "immutabilitySettings": null,
            "softDeleteSettings": {
              "softDeleteRetentionPeriodInDays": 14,
              "softDeleteState": "Enabled",
              "enhancedSecurityState": "Enabled"
            },
            "multiUserAuthorization": "Disabled"
          },
          "redundancySettings": {
            "standardTierStorageRedundancy": "GeoRedundant",
            "crossRegionRestore": "Disabled"
          },
          "secureScore": "None",
          "bcdrSecurityLevel": "Poor",
          "publicNetworkAccess": "Enabled",
          "restoreSettings": {
            "crossSubscriptionRestoreSettings": {
              "crossSubscriptionRestoreState": "Enabled"
            }
          }
        },
        "id": "Sanitized",
        "type": "Microsoft.RecoveryServices/vaults",
        "sku": {
          "name": "Standard"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.RecoveryServices/vaults?api-version=2024-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-original-request-ids": [
          "00000000-0000-0000-0000-000000000000",
          "84864005-8a1f-433e-b8a3-f75b441619a0"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": "11999"
      },
      "ResponseBody": {
        "value": [
          {
            "location": "westus",
            "name": "vaultnamBmsLqZ",
            "etag": "W/\u0022datetime\u00272024-05-08T09%3A23%3A26.0033973Z\u0027\u0022",
            "identity": {
              "tenantId": "Sanitized",
              "principalId": "Sanitized",
              "type": "SystemAssigned"
            },
            "properties": {
              "provisioningState": "Succeeded",
              "privateEndpointStateForBackup": "None",
              "privateEndpointS[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.RecoveryServices/vaults?api-version=2024-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads":[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.RecoveryServices/vaults/vaultnamBmsLqZ?api-version=2024-04-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {
          "PatchKey": "PatchKeyUpdated"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "209"
      },
      "ResponseBody": {
        "location": "westus",
        "name": "vaultnamBmsLqZ",
        "etag": "W/\u0022datetime\u00272024-05-08T09%3A23%3A30.6547371Z\u0027\u0022",
        "tags": {
          "PatchKey": "PatchKeyUpdated"
        },
        "identity": {
    [...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.RecoveryServices/vaults/vaultnamBmsLqZ/extendedInformation/vaultExtendedInfo?api-version=2024-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "algorithm": "None",
          "integrityKey": "myIntegrityKey"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": {
        "name": "vaultExtendedInfo",
        "etag": "00000000-0000-0000-0000-000000000000",
        "properties": {
          "algorithm": "None",
          "integrityKey": "myIntegrityKey"
        },
        "id": "Sanitized",
        "type": "Microsoft.RecoveryServices/vaults/extendedInformation"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/Subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.RecoveryServices/vaults/vaultnamBmsLqZ/replicationUsages?api-version=2024-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11999"
      },
      "ResponseBody": {
        "monitoringSummary": {
          "unHealthyVmCount": 0,
          "unHealthyProviderCount": 0,
          "eventsCount": 0,
          "deprecatedProviderCount": 0,
          "supportedProviderCount": 0,
          "unsupportedProviderCount": 0
        },
        "jobsSummary": {
          "failedJobs": 0,
          "suspendedJobs": 0,
          "inProgressJobs": 0
        },
        "protectedItemsSummary": {
          "irInProgressProtectedItemsCount": 0,
          "testFailoverInProgressProtectedItemsCount": 0,
          "testFailoverWaitingProtectedItemsCount": 0,
          "failoverInProgressProtectedItemsCount": 0,
          "failedOverProtectedItemsCount": 0,
          "changePitInProgressProtectedItemsCount": 0,
          "failoverCommitInProgressProtectedItemsCount": 0,
          "failoverCommittedProtectedItemsCount": 0,
          "testFailoverApplicableProtectedItemsCount": 0,
          "replicatingProtectedItemsCount": 0,
          "hyperVToAzureProtectedItemsCount": 0,
          "vmmToAzureProtectedItemsCount": 0,
          "vmwareToAzureProtectedItemsCount": 0,
          "azureToAzureProtectedItemsCount": 0
        },
        "storageAccountsCountSummary": {
          "hyperVToAzureTotalStorageAccountsCount": 0,
          "hyperVToAzureLogStorageAccountsCount": 0,
          "hyperVToAzureRecoveryStorageAccountsCount": 0,
          "vmwareToAzureStorageAccountsCount": 0,
          "vmwareToAzureLogStorageAccountsCount": 0,
          "vmwareToAzureRecoveryStorageAccountsCount": 0,
          "azureToAzureRecoveryStorageAccountsCount": 0,
          "azureToAzureStagingStorageAccountsCount": 0
        },
        "protectedItemCount": 0,
        "registeredServersCount": 0,
        "recoveryPlanCount": 0
      }
    },
    {
      "RequestUri": "https://management.azure.com/Subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.RecoveryServices/vaults/vaultnamBmsLqZ/usages?api-version=2024-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "149"
      },
      "ResponseBody": {
        "value": [
          {
            "unit": "Count",
            "currentValue": 0,
            "limit": -1,
            "name": {
              "value": "MABContainersCount",
              "localizedValue": "Backup management servers"
            }
          },
          {
            "unit": "Count",
            "currentValue": 0,
            "limit": -1,
            "name": {
              "value": "ProtectedItemCount",
              "localizedValue": "Backup items/Azure virtual machine backup"
            }
          },
          {
            "unit": "Count",
            "currentValue": 0,
            "limit": -1,
            "name": {
              "value": "ProtectedItemCriticalCount",
     [...]
    {
      "RequestUri": "https://management.azure.com/providers/Microsoft.RecoveryServices/operations?api-version=2024-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-tenant-reads": "11999"
      },
      "ResponseBody": {
        "value": [
          {
            "name": "Microsoft.RecoveryServices/Vaults/vaultTokens/read",
            "display": {
              "provider": "Microsoft.RecoveryServices",
              "resource": "Vaults",
              "operation": "Vault Token",
              "description": "The Vault Token operation can be used to get Vault Token for vault level backend operations."
            },
            "origin": "user",
            "properties": null
          },
          {
            "name": "Microsoft.RecoveryServices/Vaults/registeredIdentities/write",
            "display": {
              "provider": "Microsoft.RecoveryServices",
              "resource": "Vaults",
              "operation": "Register Service Container",
              "description": "The Register Service Container operation can be used to register a container with Recovery Service."
            },
            "origin": "user,sys[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.RecoveryServices/locations/westus/capabilities?api-version=2024-04-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "dnsZones": [
            {
              "subResource": "AzureBackup"
            },
            {
              "subResource": "AzureSiteRecovery"
            }
          ]
        },
        "type": "Microsoft.RecoveryServices/Vaults"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": {
        "type": "Microsoft.RecoveryServices/Vaults",
        "properties": {
          "dnsZones": [
            {
              "requiredZoneNames": [
                "privatelink.wus.backup.windowsazure.com",
                "privatelink.queue.core.windows.net",
                "privatelink.blob.core.windows.net"
              ],
              "subResource": "AzureBackup"
            },
            {
              "requiredZoneNames": [
                "privatelink.siterecovery.windowsazure.com"
              ],
              "subResource": "AzureSiteRecovery"
            }
          ]
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.RecoveryServices/vaults/vaultnamBmsLqZ/privateLinkResources?api-version=2024-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11999"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "Sanitized",
            "name": "backupResource",
            "type": "Microsoft.RecoveryServices/vaults/privateLinkResources",
            "properties": {
              "groupId": "AzureBackup",
              "requiredMembers": [
                "backup-prot1b",
                "backup-tel1",
                "backup-ecs1",
                "backup-prot1c",
                "backup-fc1",
                "backup-prot1",
                "backup-id1",
                "backup-fab1",
                "backup-wbcm1",
                "backup-rec2"
              ],
              "requiredZoneNames": [
                "privatelink.wus.backup.windowsazure.com",
                "privatelink.queue.core.windows.net",
                "privatelink.blob.core.windows.net"
              ]
            }
          },
          {
            "id": "Sanitized",
            "name": "siteRecoveryResource",
            "type": "Microsoft.RecoveryServices/vaults/privateLinkResources",
            "properties": {
              "groupId": "AzureSiteRecovery",
              "requiredMembers": [
                "SiteRecovery-srs1",
                "SiteRecovery-rcm1",
                "SiteRecovery-prot2",
                "SiteRecovery-tel1",
                "SiteRecovery-id1"
              ],
              "requiredZoneNames": [
                "privatelink.siterecovery.windowsazure.com"
              ]
            }
          }
        ]
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.RecoveryServices/vaults/vaultnamBmsLqZ/privateLinkResources/backupResource?api-version=2024-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11999"
      },
      "ResponseBody": {
        "id": "Sanitized",
        "name": "backupResource",
        "type": "Microsoft.RecoveryServices/vaults/privateLinkResources",
        "properties": {
          "groupId": "AzureBackup",
          "requiredMembers": [
            "backup-prot1b",
            "backup-tel1",
            "backup-ecs1",
            "backup-prot1c",
            "backup-fc1",
            "backup-prot1",
            "backup-id1",
            "backup-fab1",
            "backup-wbcm1",
            "backup-rec2"
          ],
          "requiredZoneNames": [
            "privatelink.wus.backup.windowsazure.com",
            "privatelink.queue.core.windows.net",
            "privatelink.blob.core.windows.net"
          ]
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.RecoveryServices/vaults/vaultnamBmsLqZ/operationStatus/MTAyMzs5NGQ1ZWE5YS1jZDA0LTRlZGQtYTkyOC1jMTNhNThjOGZkMTA=?api-version=2024-04-01\u0026t=638507570253613369\u0026c=MIIHSDCCBjCgAwIBAgITOgL9GKuxwuoAvl6gDgAEAv0YqzANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNMjQwNTAyMTU[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/go-sdk-test-rg?api-version=2021-04-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Location": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1HTzoyRFNESzoyRFRFU1Q6MkQ4NTUtV0VTVFVTIiwiam9iTG9jYXRpb24iOiJ3ZXN0dXMifQ?api-version=2021-04-01",
        "Retry-After": "15",
        "x-ms-ratelimit-remaining-subscription-deletes": "14999"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "randSeed": "1715160135",
    "recordingRandomSeed": "0"
  }
}
