{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/32095390-2348-4416-a0a9-1902ae08882c?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11999"
      },
      "ResponseBody": {
        "id": "/subscriptions/32095390-2348-4416-a0a9-1902ae08882c",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "subscriptionId": "32095390-2348-4416-a0a9-1902ae08882c",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": "Azure VMware Solution - Testing Subscription (BL22ROW2 - Stage)",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/32095390-2348-4416-a0a9-1902ae08882c/resourceGroups/avs-sdk-test/providers/Microsoft.AVS/privateClouds/avs-sdk-test/clusters/Cluster-1?api-version=2023-03-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11998"
      },
      "ResponseBody": {
        "id": "/subscriptions/32095390-2348-4416-a0a9-1902ae08882c/resourceGroups/avs-sdk-test/providers/Microsoft.AVS/privateClouds/avs-sdk-test/clusters/Cluster-1",
        "name": "Cluster-1",
        "properties": {
          "clusterId": 1,
          "clusterSize": 3,
          "hosts": [
            "esx05-r20.p04.eastus.avs.azure.com",
            "esx19-r22.p04.eastus.avs.azure.com",
            "esx08-r08.p04.eastus.avs.azure.com"
          ],
          "provisioningState": "Succeeded"
        },
        "sku": {
          "name": "av36"
        },
        "type": "Microsoft.AVS/privateClouds/clusters"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/32095390-2348-4416-a0a9-1902ae08882c/resourceGroups/avs-sdk-test/providers/Microsoft.AVS/privateClouds/avs-sdk-test/clusters/Cluster-1/placementPolicies?api-version=2023-03-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11997"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/32095390-2348-4416-a0a9-1902ae08882c/resourceGroups/avs-sdk-test/providers/Microsoft.AVS/privateClouds/avs-sdk-test/clusters/Cluster-1/placementPolicies/policy-1",
            "name": "policy-1",
            "properties": {
              "affinityStrength": "Should",
              "affinityType": "Affinity",
              "displayName": "policy-1",
              "hostMembers": [
                "esx05-r20.p04.eastus.avs.azure.com"
              ],
              "provisioningState": "Succeeded",
              "state": "Enabled",
              "type": "VmHost",
              "vmMembers": [
                "/subscriptions/32095390-2348-4416-a0a9-1902ae08882c/resourceGroups/avs-sdk-test/providers/Microsoft.AVS/privateClouds/avs-sdk-test/clusters/Cluster-1/virtualMachines/vm-1818"
              ]
            },
            "type": "Microsoft.AVS/privateClouds/clusters/placementPolicies"
          }
        ]
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com/",
    "RandomSeed": "1458476249",
    "RESOURCE_MANAGER_URL": "https://management.azure.com/",
    "SUBSCRIPTION_ID": "32095390-2348-4416-a0a9-1902ae08882c"
  }
}
