{
  "Entries": [
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-bd605e31-14cc-a5d8-4154-adebdc2218d0?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 07 May 2025 22:13:01 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD8DB4550013A6\"",
        "Last-Modified": "Wed, 07 May 2025 22:13:01 GMT",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-bd605e31-14cc-a5d8-4154-adebdc2218d0/sourceFolder/test-file-b8a706bd-ada4-fa19-e039-d4f59a8bec03?sv=Sanitized&se=2025-05-08T22%3A13%3A01Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": "O4QdxocLEAoVkSqGOy+AbuU3v/8QagjnI2D4MS1TigC4AroVbiV8LRIq74mrXQqQ8RHgOCCCwtB8NaMmE97dwgcqzTl1awC/upHs5Xt+O8VWaEAcclLfNkDpmDiCVRo0TSyCgY/QGoUQIX2PldxV/vrd0KuewVC1Spf5i9PHPGR3uJhO+7o2hU26C1HUUKBklJo+pIVulYvczTb41o+ySeQYF91DBgI/p0pe5Lb/4Pr2lfc5iZffCSIMci6EPa6+B8JsuzjDII2Y//06D7HV3Ow7AkGXecBMOQ66NpTTu2mcoNzzkiXBMnVpoYmapflxN5VCSDttJo4CIIIqCOr4xEOTnm/V4krHec/MLdg2sZQVSf/+kXItLnpO8XKjlymKcNxFBgaJm1VLes5sofi1zG7uFb/r+jLRZXD1h/DXJOKlQbz78KuNi62qsxajwYyBmCUEtYFqn3apdKCWlBRkdFbsx2A7udvCYIkRQEYcLaTjc+7L025gOqFFUnsK9veYRT+/t/osRt5JQVT4WF4vjUb8syAlmaDoi4y+9WdfuGmSePsHXHWqti0QgZIaaOJCFsQ1DkPWcqye1yxublB26YjqZd9jKDHQUvzyFRgOzSKpe9+jKqomvAVOaYRJPEjdmZcJLwMC3+2SZLxG412UkAkJxPNx07/exKnZFb+shxY=",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "ShtIDZYlC77/cWBcYLHHuQ==",
        "ETag": "\"0x8DD8DB4551311C8\"",
        "Last-Modified": "Wed, 07 May 2025 22:13:01 GMT",
        "x-ms-content-crc64": "8uPI+amg6kE=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05",
        "x-ms-version-id": "2025-05-07T22:13:01.7421256Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-bd605e31-14cc-a5d8-4154-adebdc2218d0/sourceFolder/bar/test-file-57e37f04-4a80-3b96-a601-2b9cc5cdf4e3?sv=Sanitized&se=2025-05-08T22%3A13%3A01Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "in[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-bd605e31-14cc-a5d8-4154-adebdc2218d0/sourceFolder/pik/test-file-d3a113e9-7c03-9ded-6152-88326c0c4e6b?sv=Sanitized&se=2025-05-08T22%3A13%3A01Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "in[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-bd605e31-14cc-a5d8-4154-adebdc2218d0?sv=Sanitized&se=2025-05-08T22%3A13%3A01Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container&comp=list&prefix=sourceFolder%2F&delimiter=%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://jalauzonnettest.blob.core.windows.net/\" ContainerName=\"test-container-bd605e31-14cc-a5d8-4154-adebdc2218d0\"><Prefix>sourceFolder/</Prefix><Delimiter>/</Delimiter><Blobs><BlobPrefix><Name>sourceFolder/bar/</Name></BlobPrefix><BlobPrefix><Name>sourceFolder/pik/</Name></BlobPrefix><Blob><Name>sourceFolder/test-file-05352239-d61b-46e3-c072-80c66fe081d2</Name><VersionId>2025-05-07T22:13:01.7880998Z</VersionId><IsCurrentVersion>true</IsCurrentVersion><Properties><Creation-Time>Wed, 07 May 2025 22:13:01 GMT</Creation-Time><Last-Modified>Wed, 07 May 2025 22:13:01 GMT</Last-Modified><Etag>0x8DD8DB4551A15A6</Etag><Content-Length>512</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64 /><Content-MD5>gljRfR+8XerLQ1DryIYtag==</Content-MD5><Cache-Control>no-cache</Cache-Control><Content-Disposition>inline</Content-Disposition><LastAccessTime>Wed, 07 May 2025 22:13:01 GMT</LastAccessTime><BlobType>BlockBlob</BlobType><AccessTier>Cold</AccessTier><AccessTierChangeTime>Wed, 07 May 2025 22:13:01 GMT</AccessTierChangeTime><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><Metadata><foo>bar</foo><meta>data</meta><Capital>letter</Capital><UPPER>case</UPPER></Metadata><OrMetadata /></Blob><Blob><Name>sourceFolder/test-file-b8a706bd-ada4-fa19-e039-d4f59a8bec03</Name><VersionId>2025-05-07T22:13:01.7421256Z</VersionId><IsCurrentVersion>true</IsCurrentVersion><Properties><Creation-Time>Wed, 07 May 2025 22:13:01 GMT</Creation-Time><Last-Modified>Wed, 07 May 2025 22:13:01 GMT</Last-Modified><Etag>0x8DD8DB4551311C8</Etag><Content-Length>512</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64 /><Content-MD5>ShtIDZYlC77/cWBcYLHHuQ==</Content-MD5><Cache-Control>no-cache</Cache-Control><Content-Disposition>inline</Content-Disposition><LastAccessTime>Wed, 07 May 2025 22:13:01 GMT</LastAccessTime><BlobType>BlockBlob</BlobType><AccessTier>Cold</AccessTier><AccessTierChangeTime>Wed, 07 May 2025 22:13:01 GMT</AccessTierChangeTime><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><Metadata><foo>bar</foo><meta>data</meta><Capital>letter</Capital><UPPER>case</UPPER></Metadata><OrMetadata /></Blob></Blobs><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-bd605e31-14cc-a5d8-4154-adebdc2218d0?sv=Sanitized&se=2025-05-08T22%3A13%3A01Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container&comp=list&prefix=sourceFolder%2Fbar%2F&delimiter=%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "appli[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-ecddb9a4-43a1-b966-32fd-d7ec34a7e1a4/destinationFolder/test-file-05352239-d61b-46e3-c072-80c66fe081d2",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-encoding": "",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Wed, 07 May 2025 22:13:02 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD8DB455431B85\"",
        "Last-Modified": "Wed, 07 May 2025 22:13:02 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05",
        "x-ms-version-id": "2025-05-07T22:13:02.0569477Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-bd605e31-14cc-a5d8-4154-adebdc2218d0?sv=Sanitized&se=2025-05-08T22%3A13%3A01Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container&comp=list&prefix=sourceFolder%2Fpik%2F&delimiter=%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "appli[...]
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-ecddb9a4-43a1-b966-32fd-d7ec34a7e1a4/destinationFolder/bar/test-file-57e37f04-4a80-3b96-a601-2b9cc5cdf4e3",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-encoding": "",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Wed, 07 May 2025 22:13:02 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD8DB4554A1F60\"",
        "Last-Modified": "Wed, 07 May 2025 22:13:02 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05",
        "x-ms-version-id": "2025-05-07T22:13:02.1029216Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-ecddb9a4-43a1-b966-32fd-d7ec34a7e1a4/destinationFolder/test-file-05352239-d61b-46e3-c072-80c66fe081d2?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-copy-source": "https://jalauzonnettest.blob.core.windows.net/test-container-bd605e31-14cc-a5d8-4154-adebdc2218d0/sourceFolder/test-file-05352239-d61b-46e3-c072-80c66fe081d2?sv=sanitized-value&se=2025-05-08T22%3A13%3A01Z&sr=c&sp=racwdxltfi&sig=Sanitized",
        "x-ms-date": "Wed, 07 May 2025 22:13:02 GMT",
        "x-ms-source-range": "bytes=0-511",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD8DB4554DC85C\"",
        "Last-Modified": "Wed, 07 May 2025 22:13:02 GMT",
        "x-ms-blob-append-offset": "0",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-content-crc64": "SPPEvrJvaxU=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-ecddb9a4-43a1-b966-32fd-d7ec34a7e1a4/destinationFolder/pik/test-file-d3a113e9-7c03-9ded-6152-88326c0c4e6b",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-encoding": "",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Wed, 07 May 2025 22:13:02 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD8DB4555011F8\"",
        "Last-Modified": "Wed, 07 May 2025 22:13:02 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05",
        "x-ms-version-id": "2025-05-07T22:13:02.1419000Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-ecddb9a4-43a1-b966-32fd-d7ec34a7e1a4/destinationFolder/bar/test-file-57e37f04-4a80-3b96-a601-2b9cc5cdf4e3?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-copy-source": "https://jalauzonnettest.blob.core.windows.net/test-container-bd605e31-14cc-a5d8-4154-adebdc2218d0/sourceFolder/bar/test-file-57e37f04-4a80-3b96-a601-2b9cc5cdf4e3?sv=sanitized-value&se=2025-05-08T22%3A13%3A01Z&sr=c&sp=racwdxltfi&sig=Sanitized",
        "x-ms-date": "Wed, 07 May 2025 22:13:02 GMT",
        "x-ms-source-range": "bytes=0-511",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD8DB455558F6B\"",
        "Last-Modified": "Wed, 07 May 2025 22:13:02 GMT",
        "x-ms-blob-append-offset": "0",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-content-crc64": "/E510TF9Lb0=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-ecddb9a4-43a1-b966-32fd-d7ec34a7e1a4/destinationFolder/pik/test-file-d3a113e9-7c03-9ded-6152-88326c0c4e6b?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-copy-source": "https://jalauzonnettest.blob.core.windows.net/test-container-bd605e31-14cc-a5d8-4154-adebdc2218d0/sourceFolder/pik/test-file-d3a113e9-7c03-9ded-6152-88326c0c4e6b?sv=sanitized-value&se=2025-05-08T22%3A13%3A01Z&sr=c&sp=racwdxltfi&sig=Sanitized",
        "x-ms-date": "Wed, 07 May 2025 22:13:02 GMT",
        "x-ms-source-range": "bytes=0-511",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD8DB4555AE5D3\"",
        "Last-Modified": "Wed, 07 May 2025 22:13:02 GMT",
        "x-ms-blob-append-offset": "0",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-content-crc64": "dh2CIWLxvSM=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-bd605e31-14cc-a5d8-4154-adebdc2218d0?sv=Sanitized&se=2025-05-08T22%3A13%3A01Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container&comp=list&prefix=sourceFolder",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "20[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-ecddb9a4-43a1-b966-32fd-d7ec34a7e1a4?restype=container&comp=list&prefix=destinationFolder",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 07 May 2025 22:13:02 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
    [...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-bd605e31-14cc-a5d8-4154-adebdc2218d0/sourceFolder/bar/test-file-57e37f04-4a80-3b96-a601-2b9cc5cdf4e3?sv=Sanitized&se=2025-05-08T22%3A13%3A01Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-MD5": "9JWAEhM0bVQyemsJSzKnqQ==",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD8DB45522EDFD\"",
        "Last-Modified": "Wed, 07 May 2025 22:13:01 GMT",
        "x-ms-access-tier": "Cold",
        "x-ms-access-tier-change-time": "Wed, 07 May 2025 22:13:01 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 07 May 2025 22:13:01 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Wed, 07 May 2025 22:13:02 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-07-05",
        "x-ms-version-id": "2025-05-07T22:13:01.8460669Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-bd605e31-14cc-a5d8-4154-adebdc2218d0/sourceFolder/bar/test-file-57e37f04-4a80-3b96-a601-2b9cc5cdf4e3?sv=Sanitized&se=2025-05-08T22%3A13%3A01Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DD8DB45522EDFD\"",
        "x-ms-range": "bytes=0-511",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-511/512",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD8DB45522EDFD\"",
        "Last-Modified": "Wed, 07 May 2025 22:13:01 GMT",
        "x-ms-blob-content-md5": "9JWAEhM0bVQyemsJSzKnqQ==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 07 May 2025 22:13:01 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Wed, 07 May 2025 22:13:02 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-07-05",
        "x-ms-version-id": "2025-05-07T22:13:01.8460669Z"
      },
      "ResponseBody": "0Cg174+PRbBaDcTEu/+Ttd6Q1KAe+ke/CYhd7lqVZG2LUiocp6kndDky/XOF0n+mbnW+NfhUxdXhdeUGMlZVxKhXOWnVdg40aWBm6/3UOTcItn/k1y50NoxUOzLDIUHi3TjKLpkW0fdnicyX7trYDTut/XvXcOx54gLcgDvbcUcegw7FCQue8uWIfU5i3EiyfC72FiTGC2xLUEuWOlG7ixiEeWrMEgMwDwuWT/OeFwW6KgMN5VojV3ihebm/CLiTzPI23WPe5WkqxgYZMLx5rTlF3A9Orqa9YCHyKphKcAZSAoIBZzmi3ESZ4h5UCie7KMx/eiuoRR1LeX1C67vR4Fb/xi05d0UAowDLtMuHaFb5NgHLyvXaqr1lte68YPCIyAHIVET5grCHf9cr3ZBSxBAmSLW6BRZgJRtw1MJXREIQQuzKvxQS/7RQREoer80sE/HdlRg6zsPrZy8oia3uMDuUG5ukhwT7FEgAacDLQXVORMHRea4q1XMp3lfl6XYHYhQPipMyh4vs4YDPOWUCHyW52kTsHLaMaUYne6msFSvR+QesvLbiG7w25ZctWpsOJr8xLA4yGkVegyFNCgziP8xV/kBdVmJv176HtTceXg6qGVTpeukcn97BTTmVlBCwVKXL2FxbsM9cwlVPqmUOPyQTovG3+MTiOF9hnAgp2UI="
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-bd605e31-14cc-a5d8-4154-adebdc2218d0?sv=Sanitized&se=2025-05-08T22%3A13%3A01Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 403,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "AuthorizationFailure",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>AuthorizationFailure</Code><Message>This request is not authorized to perform this operation.\n",
        "RequestId:116ba686-a01e-0094-069d-bf6dab000000\n",
        "Time:2025-05-07T22:13:03.6706597Z</Message></Error>"
      ]
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2025-05-07T15:13:01.6523806-07:00",
    "RandomSeed": "2078182639",
    "Storage_TestConfigDefault": "ProductionTenant\njalauzonnettest\nU2FuaXRpemVk\nhttps://jalauzonnettest.blob.core.windows.net\nhttps://jalauzonnettest.file.core.windows.net\nhttps://jalauzonnettest.queue.core.windows.net\nhttps://jalauzonnettest.table.core.windows.net\n\n\n\n\nhttps://jalauzonnettest-secondary.blob.core.windows.net\nhttps://jalauzonnettest-secondary.file.core.windows.net\nhttps://jalauzonnettest-secondary.queue.core.windows.net\nhttps://jalauzonnettest-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://jalauzonnettest.blob.core.windows.net/;QueueEndpoint=https://jalauzonnettest.queue.core.windows.net/;FileEndpoint=https://jalauzonnettest.file.core.windows.net/;BlobSecondaryEndpoint=https://jalauzonnettest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jalauzonnettest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jalauzonnettest-secondary.file.core.windows.net/;AccountName=jalauzonnettest;AccountKey=U2FuaXRpemVk\ntestscope1\n\n"
  }
}
