{
  "Entries": [
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-d84702ad-4e9e-dd50-5047-b3e32bbfff82?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 22 Feb 2025 00:14:00 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD52D5CE89FD18\"",
        "Last-Modified": "Sat, 22 Feb 2025 00:14:00 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-d84702ad-4e9e-dd50-5047-b3e32bbfff82/sourceFolder/item1?sv=Sanitized&se=2025-02-23T00%3A14%3A00Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": "m4aZj2Orga5wjhOs1+QfR2KnekGZnLxFFabKBS/FZiKEjXcEYJE0UH6bRqbRTyDRZ/45jIY0Tv7JVHq84Xt+qyjwKEltG+bRcynC/lYWdMaG+Z0xjNmcTz94OgwXd28CHJp94SbWZEwXZxlcck+ns+C0NujdTR5PVNkK9ODauvu6v+G8mZKfr5VQGSS/P93w0YcsYkGHJc97LYxNzHBsPa0eorJt6hlNFIdTjDP6kBT8GiJZrVe6M5oSQGwGUuMk5Nt2oZ0qguZt3025M5ibgZ13UbJNEpBWZG4XW6qtRsKkLqdXg+930Zc7684JAP8Cdr/PjgEw19JLIDwvEyc8wJiLFQXwQ/2tAH8aESbBTGNuFeTq3rjBc1bVDGOySL1w/ys1fur5EjLCIY6BFcWridPYwP5CUeHfyaKvGje[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-3729d224-4da6-aaf6-4284-3f7640e254f1/destPrefix/item1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Sat, 22 Feb 2025 00:14:00 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD52D5CEA43699\"",
        "Last-Modified": "Sat, 22 Feb 2025 00:14:00 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05",
        "x-ms-version-id": "2025-02-22T00:14:00.4858521Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-3729d224-4da6-aaf6-4284-3f7640e254f1/destPrefix/item1?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Sat, 22 Feb 2025 00:14:00 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": "HDbW/3kAh0JfZiLkT9F59Bj9aOiTBp5Jz8I+0aOZnljYJSgp7tEaqdIGar8CgDL7AcXWkTt[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-d84702ad-4e9e-dd50-5047-b3e32bbfff82/sourceFolder/test-file-4f4e1dee-2573-9364-1dac-b2b5b8461d02?sv=Sanitized&se=2025-02-23T00%3A14%3A00Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-d84702ad-4e9e-dd50-5047-b3e32bbfff82/sourceFolder/bar/test-file-cf8f4650-9d10-f2d6-505a-c71307a509ab?sv=Sanitized&se=2025-02-23T00%3A14%3A00Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "in[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-d84702ad-4e9e-dd50-5047-b3e32bbfff82/sourceFolder/pik/test-file-3caf38e8-83b0-faf2-0801-940624ec744f?sv=Sanitized&se=2025-02-23T00%3A14%3A00Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "in[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-d84702ad-4e9e-dd50-5047-b3e32bbfff82?sv=Sanitized&se=2025-02-23T00%3A14%3A00Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container&comp=list&prefix=sourceFolder%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://jalauzonnettest.blob.core.windows.net/\" ContainerName=\"test-container-d84702ad-4e9e-dd50-5047-b3e32bbfff82\"><Prefix>sourceFolder/</Prefix><Blobs><Blob><Name>sourceFolder/bar/test-file-cf8f4650-9d10-f2d6-505a-c71307a509ab</Name><VersionId>2025-02-22T00:14:00.6247728Z</VersionId><IsCurrentVersion>true</IsCurrentVersion><Properties><Creation-Time>Sat, 22 Feb 2025 00:14:00 GMT</Creation-Time><Last-Modified>Sat, 22 Feb 2025 00:14:00 GMT</Last-Modified><Etag>0x8DD52D5CEB96930</Etag><Content-Length>1024</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64 /><Content-MD5>dXeuDteselegNTQnwBwisA==</Content-MD5><Cache-Control>no-cache</Cache-Control><Content-Disposition>inline</Content-Disposition><LastAccessTime>Sat, 22 Feb 2025 00:14:00 GMT</LastAccessTime><BlobType>BlockBlob</BlobType><AccessTier>Cold</AccessTier><AccessTierChangeTime>Sat, 22 Feb 2025 00:14:00 GMT</AccessTierChangeTime><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><Metadata><foo>bar</foo><meta>data</meta><Capital>letter</Capital><UPPER>case</UPPER></Metadata><OrMetadata /></Blob><Blob><Name>sourceFolder/item1</Name><VersionId>2025-02-22T00:14:00.4378797Z</VersionId><IsCurrentVersion>true</IsCurrentVersion><Properties><Creation-Time>Sat, 22 Feb 2025 00:14:00 GMT</Creation-Time><Last-Modified>Sat, 22 Feb 2025 00:14:00 GMT</Last-Modified><Etag>0x8DD52D5CE9CE4AD</Etag><Content-Length>1024</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64 /><Content-MD5>iabAFlaFDRjEYmItYKf1jg==</Conten[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-3729d224-4da6-aaf6-4284-3f7640e254f1/destPrefix/item1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-encoding": "",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Sat, 22 Feb 2025 00:14:00 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD52D5CED48E5F\"",
        "Last-Modified": "Sat, 22 Feb 2025 00:14:00 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05",
        "x-ms-version-id": "2025-02-22T00:14:00.8036719Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-3729d224-4da6-aaf6-4284-3f7640e254f1/destPrefix/test-file-4f4e1dee-2573-9364-1dac-b2b5b8461d02",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-encoding": "",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Sat, 22 Feb 2025 00:14:00 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD52D5CED48E5F\"",
        "Last-Modified": "Sat, 22 Feb 2025 00:14:00 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05",
        "x-ms-version-id": "2025-02-22T00:14:00.8026719Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-3729d224-4da6-aaf6-4284-3f7640e254f1/destPrefix/bar/test-file-cf8f4650-9d10-f2d6-505a-c71307a509ab",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-encoding": "",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Sat, 22 Feb 2025 00:14:00 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD52D5CED3CB2A\"",
        "Last-Modified": "Sat, 22 Feb 2025 00:14:00 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05",
        "x-ms-version-id": "2025-02-22T00:14:00.7976746Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-3729d224-4da6-aaf6-4284-3f7640e254f1/destPrefix/pik/test-file-3caf38e8-83b0-faf2-0801-940624ec744f",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-encoding": "",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Sat, 22 Feb 2025 00:14:00 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD52D5CED48E5F\"",
        "Last-Modified": "Sat, 22 Feb 2025 00:14:00 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05",
        "x-ms-version-id": "2025-02-22T00:14:00.8026719Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-3729d224-4da6-aaf6-4284-3f7640e254f1/destPrefix/test-file-4f4e1dee-2573-9364-1dac-b2b5b8461d02?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://jalauzonnettest.blob.core.windows.net/test-container-d84702ad-4e9e-dd50-5047-b3e32bbfff82/sourceFolder/test-file-4f4e1dee-2573-9364-1dac-b2b5b8461d02?sv=sanitized-value&se=2025-02-23T00%3A14%3A00Z&sr=c&sp=racwdxltfi&sig=Sanitized",
        "x-ms-date": "Sat, 22 Feb 2025 00:14:00 GMT",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD52D5CEDC7C76\"",
        "Last-Modified": "Sat, 22 Feb 2025 00:14:00 GMT",
        "x-ms-blob-append-offset": "0",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-content-crc64": "f/zLriummMQ=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-3729d224-4da6-aaf6-4284-3f7640e254f1/destPrefix/bar/test-file-cf8f4650-9d10-f2d6-505a-c71307a509ab?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://jalauzonnettest.blob.core.windows.net/test-container-d84702ad-4e9e-dd50-5047-b3e32bbfff82/sourceFolder/bar/test-file-cf8f4650-9d10-f2d6-505a-c71307a509ab?sv=sanitized-value&se=2025-02-23T00%3A14%3A00Z&sr=c&sp=racwdxltfi&sig=Sanitized",
        "x-ms-date": "Sat, 22 Feb 2025 00:14:00 GMT",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD52D5CEDD18A0\"",
        "Last-Modified": "Sat, 22 Feb 2025 00:14:00 GMT",
        "x-ms-blob-append-offset": "0",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-content-crc64": "t3Kuh4SWvOo=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-3729d224-4da6-aaf6-4284-3f7640e254f1/destPrefix/pik/test-file-3caf38e8-83b0-faf2-0801-940624ec744f?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://jalauzonnettest.blob.core.windows.net/test-container-d84702ad-4e9e-dd50-5047-b3e32bbfff82/sourceFolder/pik/test-file-3caf38e8-83b0-faf2-0801-940624ec744f?sv=sanitized-value&se=2025-02-23T00%3A14%3A00Z&sr=c&sp=racwdxltfi&sig=Sanitized",
        "x-ms-date": "Sat, 22 Feb 2025 00:14:00 GMT",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD52D5CEDF623A\"",
        "Last-Modified": "Sat, 22 Feb 2025 00:14:00 GMT",
        "x-ms-blob-append-offset": "0",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-content-crc64": "VlNjhJYvctA=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-d84702ad-4e9e-dd50-5047-b3e32bbfff82?sv=Sanitized&se=2025-02-23T00%3A14%3A00Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container&comp=list&prefix=sourceFolder",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "20[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-3729d224-4da6-aaf6-4284-3f7640e254f1?restype=container&comp=list&prefix=destPrefix",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 22 Feb 2025 00:14:01 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-d84702ad-4e9e-dd50-5047-b3e32bbfff82/sourceFolder/bar/test-file-cf8f4650-9d10-f2d6-505a-c71307a509ab?sv=Sanitized&se=2025-02-23T00%3A14%3A00Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-MD5": "dXeuDteselegNTQnwBwisA==",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD52D5CEB96930\"",
        "Last-Modified": "Sat, 22 Feb 2025 00:14:00 GMT",
        "x-ms-access-tier": "Cold",
        "x-ms-access-tier-change-time": "Sat, 22 Feb 2025 00:14:00 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Sat, 22 Feb 2025 00:14:00 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Sat, 22 Feb 2025 00:14:00 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05",
        "x-ms-version-id": "2025-02-22T00:14:00.6247728Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-d84702ad-4e9e-dd50-5047-b3e32bbfff82/sourceFolder/bar/test-file-cf8f4650-9d10-f2d6-505a-c71307a509ab?sv=Sanitized&se=2025-02-23T00%3A14%3A00Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DD52D5CEB96930\"",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD52D5CEB96930\"",
        "Last-Modified": "Sat, 22 Feb 2025 00:14:00 GMT",
        "x-ms-blob-content-md5": "dXeuDteselegNTQnwBwisA==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Sat, 22 Feb 2025 00:14:00 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Sat, 22 Feb 2025 00:14:00 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true[...]
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-d84702ad-4e9e-dd50-5047-b3e32bbfff82?sv=Sanitized&se=2025-02-23T00%3A14%3A00Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 403,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "AuthorizationFailure",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>AuthorizationFailure</Code><Message>This request is not authorized to perform this operation.\n",
        "RequestId:97bdb78b-101e-0075-18be-84b1ee000000\n",
        "Time:2025-02-22T00:14:02.3302199Z</Message></Error>"
      ]
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2025-02-21T16:14:00.3491398-08:00",
    "RandomSeed": "1181743911",
    "Storage_TestConfigDefault": "ProductionTenant\njalauzonnettest\nU2FuaXRpemVk\nhttps://jalauzonnettest.blob.core.windows.net\nhttps://jalauzonnettest.file.core.windows.net\nhttps://jalauzonnettest.queue.core.windows.net\nhttps://jalauzonnettest.table.core.windows.net\n\n\n\n\nhttps://jalauzonnettest-secondary.blob.core.windows.net\nhttps://jalauzonnettest-secondary.file.core.windows.net\nhttps://jalauzonnettest-secondary.queue.core.windows.net\nhttps://jalauzonnettest-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://jalauzonnettest.blob.core.windows.net/;QueueEndpoint=https://jalauzonnettest.queue.core.windows.net/;FileEndpoint=https://jalauzonnettest.file.core.windows.net/;BlobSecondaryEndpoint=https://jalauzonnettest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jalauzonnettest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jalauzonnettest-secondary.file.core.windows.net/;AccountName=jalauzonnettest;AccountKey=U2FuaXRpemVk\ntestscope1\n\n"
  }
}
