{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-98fa7530-5930-889d-69d8-7bb4bf3d8c92?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 00:40:21 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D10A45B5425\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:40:21 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-98fa7530-5930-889d-69d8-7bb4bf3d8c92/sourceFolder/test-file-387579da-3490-2797-d944-4143e49a723b?sv=Sanitized&se=2025-03-08T00%3A40%3A21Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": "FqH4AUR+aU3XRi+Xrpma7HSwvl7sPdLJBhWJIfETaNHNASxDonD3Sbvdoqjh2rEV1FcPDkkYUtnPLvou9Ehcw95dya1tV0kDuHSiD5op6Cxjc0yZBFmHta9Sc3N2yFRzgN7KgxAEp30NDFbUdUI/pkbOy4D7wr+F1RT9G+PWjfAgL4+8XmQbX8vOjPcDs0BsE8wtp/3Td70fRa38BoyaNn9ltEWzg0jhs2u1LTXHgiLTkAcXqeXyTLjRnRm3Hlg/NFV4nf76uY+ES/SRHkqHV8OLKXWFg42ZcmiM4eYuKpQTdfjgTuQk2dd3kl7wYC1uSUVWLPXiurHI3yqWbdepVSBgfqhRpwjeZ0+eDfAvqBI6Hpeg2P6fMLtHF2+6jWv/zjw9kOKEHKE8d8WlRKzAmTYYW08/CX0iwE7sCpCZJNnknj+08hcvtQH2Y2A5+esPhn44oTIbv8S/Gs+TmBIRo1PrwKVtDKce6KZNSaUc6Mdi3YQRYIKnyd569NdHmx3v5L8NTThGoXnXGrmMzXYfojEIMbqO/0PRRPfG8xfP1kyIXmXlD5uOHDwKOkbJG/toWlKlP2pjYeR8OwlBf61iB0NsA28QOZKWehV+g8T8CCn8XpnFKZfiJf2BaNOSTJ2OqDMCXBeMWCC/D8RV5N0ffzPfRCEUnN2rit5xj9G/BC0=",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "oAUl1wm1t/3e1Q1f9x/y4g==",
        "ETag": "\"0x8DD5D10A46FB59D\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:40:21 GMT",
        "x-ms-content-crc64": "k7ByOTVltoc=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-98fa7530-5930-889d-69d8-7bb4bf3d8c92/sourceFolder/bar/test-file-a6798607-4902-0f56-9541-b2a2f719ed5b?sv=Sanitized&se=2025-03-08T00%3A40%3A21Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inli[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-98fa7530-5930-889d-69d8-7bb4bf3d8c92/sourceFolder/pik/test-file-909cf429-d232-d234-31f5-f475ce7e01c6?sv=Sanitized&se=2025-03-08T00%3A40%3A21Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inli[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-98fa7530-5930-889d-69d8-7bb4bf3d8c92?sv=Sanitized&se=2025-03-08T00%3A40%3A21Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container&comp=list&prefix=sourceFolder%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.blob.core.windows.net/\" ContainerName=\"test-container-98fa7530-5930-889d-69d8-7bb4bf3d8c92\"><Prefix>sourceFolder/</Prefix><Blobs><Blob><Name>sourceFolder/bar/test-file-a6798607-4902-0f56-9541-b2a2f719ed5b</Name><Properties><Creation-Time>Fri, 07 Mar 2025 00:40:21 GMT</Creation-Time><Last-Modified>Fri, 07 Mar 2025 00:40:21 GMT</Last-Modified><Etag>0x8DD5D10A484ACB3</Etag><Content-Length>512</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64 /><Content-MD5>KkrdMyxHatUkS4xLwtUz+w==</Content-MD5><Cache-Control>no-cache</Cache-Control><Content-Disposition>inline</Content-Disposition><BlobType>BlockBlob</BlobType><AccessTier>Cold</AccessTier><AccessTierChangeTime>Fri, 07 Mar 2025 00:40:21 GMT</AccessTierChangeTime><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><Metadata><foo>bar</foo><meta>data</meta><Capital>letter</Capital><UPPER>case</UPPER></Metadata><OrMetadata /></Blob><Blob><Name>sourceFolder/pik/test-file-909cf429-d232-d234-31f5-f475ce7e01c6</Name><Properties><Creation-Time>Fri, 07 Mar 2025 00:40:21 GMT</Creation-Time><Last-Modified>Fri, 07 Mar 2025 00:40:21 GMT</Last-Modified><Etag>0x8DD5D10A48D2EA2</Etag><Content-Length>512</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64 /><Content-MD5>0a8/aXT9xzujgoJWiRBo9w==</Content-MD5><Cache-Control>no-cache</Cache-Control><Co[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-983f66d2-4711-ed6d-f57e-1fade85d184e/destinationFolder/pik/test-file-909cf429-d232-d234-31f5-f475ce7e01c6",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-encoding": "",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Fri, 07 Mar 2025 00:40:21 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D10A4AA59DF\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:40:21 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-983f66d2-4711-ed6d-f57e-1fade85d184e/destinationFolder/bar/test-file-a6798607-4902-0f56-9541-b2a2f719ed5b",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-encoding": "",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Fri, 07 Mar 2025 00:40:21 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D10A4AAA7A7\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:40:21 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-983f66d2-4711-ed6d-f57e-1fade85d184e/destinationFolder/test-file-792a25c7-10ef-6072-af6e-4383bf07763f",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-encoding": "",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Fri, 07 Mar 2025 00:40:21 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D10A4AAA7A7\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:40:21 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-983f66d2-4711-ed6d-f57e-1fade85d184e/destinationFolder/pik/test-file-909cf429-d232-d234-31f5-f475ce7e01c6?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-98fa7530-5930-889d-69d8-7bb4bf3d8c92/sourceFolder/pik/test-file-909cf429-d232-d234-31f5-f475ce7e01c6?sv=sanitized-value&se=2025-03-08T00%3A40%3A21Z&sr=c&sp=racwdxltfi&sig=Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 00:40:22 GMT",
        "x-ms-source-range": "bytes=0-511",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D10A4B39E3D\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:40:22 GMT",
        "x-ms-blob-append-offset": "0",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-content-crc64": "TBtqzW0St6s=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-983f66d2-4711-ed6d-f57e-1fade85d184e/destinationFolder/test-file-387579da-3490-2797-d944-4143e49a723b?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-98fa7530-5930-889d-69d8-7bb4bf3d8c92/sourceFolder/test-file-387579da-3490-2797-d944-4143e49a723b?sv=sanitized-value&se=2025-03-08T00%3A40%3A21Z&sr=c&sp=racwdxltfi&sig=Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 00:40:22 GMT",
        "x-ms-source-range": "bytes=0-511",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D10A4B3C52B\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:40:22 GMT",
        "x-ms-blob-append-offset": "0",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-content-crc64": "k7ByOTVltoc=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-983f66d2-4711-ed6d-f57e-1fade85d184e/destinationFolder/bar/test-file-a6798607-4902-0f56-9541-b2a2f719ed5b?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-98fa7530-5930-889d-69d8-7bb4bf3d8c92/sourceFolder/bar/test-file-a6798607-4902-0f56-9541-b2a2f719ed5b?sv=sanitized-value&se=2025-03-08T00%3A40%3A21Z&sr=c&sp=racwdxltfi&sig=Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 00:40:22 GMT",
        "x-ms-source-range": "bytes=0-511",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D10A4B412E5\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:40:22 GMT",
        "x-ms-blob-append-offset": "0",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-content-crc64": "qKyA5s7FA1c=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-98fa7530-5930-889d-69d8-7bb4bf3d8c92?sv=Sanitized&se=2025-03-08T00%3A40%3A21Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container&comp=list&prefix=sourceFolder",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-983f66d2-4711-ed6d-f57e-1fade85d184e?restype=container&comp=list&prefix=destinationFolder",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 00:40:22 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
      [...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-98fa7530-5930-889d-69d8-7bb4bf3d8c92/sourceFolder/bar/test-file-a6798607-4902-0f56-9541-b2a2f719ed5b?sv=Sanitized&se=2025-03-08T00%3A40%3A21Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-MD5": "KkrdMyxHatUkS4xLwtUz+w==",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD5D10A484ACB3\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:40:21 GMT",
        "x-ms-access-tier": "Cold",
        "x-ms-access-tier-change-time": "Fri, 07 Mar 2025 00:40:21 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 07 Mar 2025 00:40:21 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-98fa7530-5930-889d-69d8-7bb4bf3d8c92/sourceFolder/bar/test-file-a6798607-4902-0f56-9541-b2a2f719ed5b?sv=Sanitized&se=2025-03-08T00%3A40%3A21Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DD5D10A484ACB3\"",
        "x-ms-range": "bytes=0-511",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-511/512",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD5D10A484ACB3\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:40:21 GMT",
        "x-ms-blob-content-md5": "KkrdMyxHatUkS4xLwtUz+w==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 07 Mar 2025 00:40:21 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "uQUEJIw4ITW583cXPNzttdOU1LnUNJdnNdfT8Lrk2rkAwUvgcuqVzmRD7A/SPtO5VPzPY0U0hoRtne+1ZTF71Ri+F3qRDELo/gZUkUiIlPYDGZu9FXdzyzrGc9T74GgzyBf2EydYJ0i65mQ/3/U85Qn4sUuVvb+hSktAyplt7R2dIMkwkYDPq/JTAy8SNOxEio3LAy8cngpXVcnbGF2vTPlGob8sC1OIKAZZQbmQjhZf+z8LounugIG+2Dy39JKUpLc1y5IsF386Q9oow1xQx8ayexweo6kPWCA9bjIW0DRzxZ0CWsKDM+PA0V4Oxb0lbhF2BXh1dgANJnNx76lMI3Omtf2/Tm0DL0g5XtJKAJJjGAAhoMu7/U+d9DRPEUQ5c63raBC/ZR+kctUwPBctwiXhDtapKoOo6reuIVo4tB0E/+olX5iBo7LgfS31i8E3cDEObgNtkEkpQ31ZEUTFa763KzwtB2OMX2skyKxWsl/2d7EpKUUalm6h+xwaKJJuGxJuPV+ECWjNgg6XScec05AeY5mTnEF4nJXNiwxHcjfZtq2a53X/cW1IW6c3g02mBSeL/MX42n/Q9aDKtn5chg/XvpMaAewbHvErSkCZQRlHJ4bku3Vy4NsuyfHUNbrv7NWXX8S6jAM7cN3TzJA+NrSGgo/3d8qZZd247Dj7Ruk="
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-98fa7530-5930-889d-69d8-7bb4bf3d8c92?sv=Sanitized&se=2025-03-08T00%3A40%3A21Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 403,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "AuthorizationFailure",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>AuthorizationFailure</Code><Message>This request is not authorized to perform this operation.\n",
        "RequestId:ac6f1b3b-101e-0056-74f9-8e515b000000\n",
        "Time:2025-03-07T00:40:23.8744672Z</Message></Error>"
      ]
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2025-03-06T16:40:21.5323672-08:00",
    "RandomSeed": "124020289",
    "Storage_TestConfigDefault": "ProductionTenant\namandapreprod\nU2FuaXRpemVk\nhttps://amandapreprod.blob.core.windows.net\nhttps://amandapreprod.file.core.windows.net\nhttps://amandapreprod.queue.core.windows.net\nhttps://amandapreprod.table.core.windows.net\n\n\n\n\nhttps://amandapreprod-secondary.blob.core.windows.net\nhttps://amandapreprod-secondary.file.core.windows.net\nhttps://amandapreprod-secondary.queue.core.windows.net\nhttps://amandapreprod-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandapreprod.blob.core.windows.net/;QueueEndpoint=https://amandapreprod.queue.core.windows.net/;FileEndpoint=https://amandapreprod.file.core.windows.net/;BlobSecondaryEndpoint=https://amandapreprod-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandapreprod-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandapreprod-secondary.file.core.windows.net/;AccountName=amandapreprod;AccountKey=U2FuaXRpemVk\nencryptionScope\n\n"
  }
}
