{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-8045a297-0c0a-f2af-1ac5-9967f7a58543?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 30 Sep 2025 20:30:34 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE006035589071\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:30:34 GMT",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-8045a297-0c0a-f2af-1ac5-9967f7a58543/sourceFolder/folder0/test-file-0280d1cd-02e2-c6e8-1760-f83c333ef1e8?sv=Sanitized&se=2025-10-01T20%3A30%3A34Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": "G7KSqwTt69yHT+Oo4GLlM5aE/8kODVsEozBAUkZE7ETGLr/QrJMa3+ajepMeQOW0e8Slrj8o2Q1WjgfUrZmWQ2Ke4bGiFIcCah/ia5PI5WNKi9aBnj4FnVWyeh2MRjJNDTcwf140EWc9o0QgRW56jaikiiLCFKUkmUNc8JlpdiPslV1cmGYEFXlvRPr55FfmN+x157wQivmRDOUa2CHN0y0hM7ARHvVCn3SoU8+qKrXsdbmt9I5m3ApjyouA6j1YoXDN2LCn1Rn3M0dIZzcp5uIwLmJnIN+eulelrVNqwbU2ULFf3VEERKCftcFGHnTTOuOoT7vb8ICRLh5YAijFjHGSEReFygiQLOnCyGoeV5vj0XJvwXL6W2Awza8zq0J32ilPtAxdTW/bGCPRGCgWctaDdTC1Vcv/mLa2Vfx[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-8045a297-0c0a-f2af-1ac5-9967f7a58543?sv=Sanitized&se=2025-10-01T20%3A30%3A34Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container&comp=list&prefix=sourceFolder%2F&delimiter=%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.blob.core.windows.net/\" ContainerName=\"test-container-8045a297-0c0a-f2af-1ac5-9967f7a58543\"><Prefix>sourceFolder/</Prefix><Delimiter>/</Delimiter><Blobs><BlobPrefix><Name>sourceFolder/folder0/</Name></BlobPrefix></Blobs><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-8045a297-0c0a-f2af-1ac5-9967f7a58543?sv=Sanitized&se=2025-10-01T20%3A30%3A34Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container&comp=list&prefix=sourceFolder%2Ffolder0%2F&delimiter=%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.blob.core.windows.net/\" ContainerName=\"test-container-8045a297-0c0a-f2af-1ac5-9967f7a58543\"><Prefix>sourceFolder/folder0/</Prefix><Delimiter>/</Delimiter><Blobs><Blob><Name>sourceFolder/folder0/test-file-0280d1cd-02e2-c6e8-1760-f83c333ef1e8</Name><Properties><Creation-Time>Tue, 30 Sep 2025 20:30:34 GMT</Creation-Time><Last-Modified>Tue, 30 Sep 2025 20:30:34 GMT</Last-Modified><Etag>0x8DE00603572EB93</Etag><Content-Length>1024</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64 /><Content-MD5>5MdwhCzr6LXIdu0slz1Xxg==</Content-MD5><Cache-Control>no-cache</Cache-Control><Content-Disposition>inline</Content-Disposition><BlobType>BlockBlob</BlobType><AccessTier>Cold</AccessTier><AccessTierChangeTime>Tue, 30 Sep 2025 20:30:34 GMT</AccessTierChangeTime><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><Metadata><foo>bar</foo><meta>data</meta><Capital>letter</Capital><UPPER>case</UPPER></Metadata><OrMetadata /></Blob></Blobs><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-6ac854bd-d711-8c0b-772b-f09937fa459e/destFolder/folder0/test-file-0280d1cd-02e2-c6e8-1760-f83c333ef1e8",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-encoding": "",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Tue, 30 Sep 2025 20:30:35 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE0060359D00A4\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:30:34 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-6ac854bd-d711-8c0b-772b-f09937fa459e/destFolder/folder0/test-file-0280d1cd-02e2-c6e8-1760-f83c333ef1e8?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-8045a297-0c0a-f2af-1ac5-9967f7a58543/sourceFolder/folder0/test-file-0280d1cd-02e2-c6e8-1760-f83c333ef1e8?sv=sanitized-value&se=2025-10-01T20%3A30%3A34Z&sr=c&sp=racwdxltfi&sig=Sanitized",
        "x-ms-date": "Tue, 30 Sep 2025 20:30:35 GMT",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE006035A7553E\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:30:35 GMT",
        "x-ms-blob-append-offset": "0",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-content-crc64": "md1fApOUiok=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-8045a297-0c0a-f2af-1ac5-9967f7a58543?sv=Sanitized&se=2025-10-01T20%3A30%3A34Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container&comp=list&prefix=sourceFolder%2F",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-6ac854bd-d711-8c0b-772b-f09937fa459e?restype=container&comp=list&prefix=destFolder%2F",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 30 Sep 2025 20:30:35 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-8045a297-0c0a-f2af-1ac5-9967f7a58543/sourceFolder/folder0/test-file-0280d1cd-02e2-c6e8-1760-f83c333ef1e8?sv=Sanitized&se=2025-10-01T20%3A30%3A34Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-MD5": "5MdwhCzr6LXIdu0slz1Xxg==",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DE00603572EB93\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:30:34 GMT",
        "x-ms-access-tier": "Cold",
        "x-ms-access-tier-change-time": "Tue, 30 Sep 2025 20:30:34 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 30 Sep 2025 20:30:34 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-8045a297-0c0a-f2af-1ac5-9967f7a58543/sourceFolder/folder0/test-file-0280d1cd-02e2-c6e8-1760-f83c333ef1e8?sv=Sanitized&se=2025-10-01T20%3A30%3A34Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DE00603572EB93\"",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DE00603572EB93\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:30:34 GMT",
        "x-ms-blob-content-md5": "5MdwhCzr6LXIdu0slz1Xxg==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 30 Sep 2025 20:30:34 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": "G7KSqwTt69yHT+Oo4GLlM5aE/8kODVsEozBAU[...]
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-8045a297-0c0a-f2af-1ac5-9967f7a58543?sv=Sanitized&se=2025-10-01T20%3A30%3A34Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 403,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "AuthorizationFailure",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>AuthorizationFailure</Code><Message>This request is not authorized to perform this operation.\n",
        "RequestId:584390b7-601e-005c-2249-32f5ec000000\n",
        "Time:2025-09-30T20:30:35.7884465Z</Message></Error>"
      ]
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2025-09-30T13:30:34.6265130-07:00",
    "RandomSeed": "1269529683",
    "Storage_TestConfigDefault": "ProductionTenant\namandapreprod\nU2FuaXRpemVk\nhttps://amandapreprod.blob.core.windows.net\nhttps://amandapreprod.file.core.windows.net\nhttps://amandapreprod.queue.core.windows.net\nhttps://amandapreprod.table.core.windows.net\n\n\n\n\nhttps://amandapreprod-secondary.blob.core.windows.net\nhttps://amandapreprod-secondary.file.core.windows.net\nhttps://amandapreprod-secondary.queue.core.windows.net\nhttps://amandapreprod-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandapreprod.blob.core.windows.net/;QueueEndpoint=https://amandapreprod.queue.core.windows.net/;FileEndpoint=https://amandapreprod.file.core.windows.net/;BlobSecondaryEndpoint=https://amandapreprod-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandapreprod-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandapreprod-secondary.file.core.windows.net/;AccountName=amandapreprod;AccountKey=U2FuaXRpemVk\nencryptionScope\n\n"
  }
}
