{
  "Entries": [
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-75baf6e7-96e4-c4e7-3b98-f429d6288a2b?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 09 Oct 2024 20:57:36 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCE8A501196830\"",
        "Last-Modified": "Wed, 09 Oct 2024 20:57:36 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-75baf6e7-96e4-c4e7-3b98-f429d6288a2b/sourceFolder/item1?sv=Sanitized&se=2024-10-10T20%3A57%3A36Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "text/plain",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "1B2M2Y8AsgTpgAmY7PhCfg==",
        "ETag": "\"0x8DCE8A501292B30\"",
        "Last-Modified": "Wed, 09 Oct 2024 20:57:36 GMT",
        "x-ms-content-crc64": "AAAAAAAAAAA=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05",
        "x-ms-version-id": "2024-10-09T20:57:36.6490928Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-75baf6e7-96e4-c4e7-3b98-f429d6288a2b/sourceFolder/bar/item3?sv=Sanitized&se=2024-10-10T20%3A57%3A36Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "text/plain",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "1B2M2Y8AsgTpgAmY7PhCfg==",
        "ETag": "\"0x8DCE8A5013780FF\"",
        "Last-Modified": "Wed, 09 Oct 2024 20:57:36 GMT",
        "x-ms-content-crc64": "AAAAAAAAAAA=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05",
        "x-ms-version-id": "2024-10-09T20:57:36.7430399Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-75baf6e7-96e4-c4e7-3b98-f429d6288a2b/sourceFolder/pik/item4?sv=Sanitized&se=2024-10-10T20%3A57%3A36Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "text/plain",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "1B2M2Y8AsgTpgAmY7PhCfg==",
        "ETag": "\"0x8DCE8A5013EABE3\"",
        "Last-Modified": "Wed, 09 Oct 2024 20:57:36 GMT",
        "x-ms-content-crc64": "AAAAAAAAAAA=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05",
        "x-ms-version-id": "2024-10-09T20:57:36.7900131Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-2f54ad59-ff55-d68f-2bad-c40cb070e6c8/destFolder/item1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "text/plain",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Wed, 09 Oct 2024 20:57:36 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCE8A50145AFBF\"",
        "Last-Modified": "Wed, 09 Oct 2024 20:57:36 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05",
        "x-ms-version-id": "2024-10-09T20:57:36.8359871Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-75baf6e7-96e4-c4e7-3b98-f429d6288a2b?sv=Sanitized&se=2024-10-10T20%3A57%3A36Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container&comp=list&prefix=sourceFolder%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://jalauzonnettest.blob.core.windows.net/\" ContainerName=\"test-container-75baf6e7-96e4-c4e7-3b98-f429d6288a2b\"><Prefix>sourceFolder/</Prefix><Blobs><Blob><Name>sourceFolder/bar/item3</Name><VersionId>2024-10-09T20:57:36.7430399Z</VersionId><IsCurrentVersion>true</IsCurrentVersion><Properties><Creation-Time>Wed, 09 Oct 2024 20:57:36 GMT</Creation-Time><Last-Modified>Wed, 09 Oct 2024 20:57:36 GMT</Last-Modified><Etag>0x8DCE8A5013780FF</Etag><Content-Length>0</Content-Length><Content-Type>text/plain</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64 /><Content-MD5>1B2M2Y8AsgTpgAmY7PhCfg==</Content-MD5><Cache-Control>no-cache</Cache-Control><Content-Disposition>inline</Content-Disposition><LastAccessTime>Wed, 09 Oct 2024 20:57:36 GMT</LastAccessTime><BlobType>BlockBlob</BlobType><AccessTier>Cold</AccessTier><AccessTierChangeTime>Wed, 09 Oct 2024 20:57:36 GMT</AccessTierChangeTime><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><Metadata><foo>bar</foo><meta>data</meta><Capital>letter</Capital><UPPER>case</UPPER></Metadata><OrMetadata /></Blob><Blob><Name>sourceFolder/item1</Name><VersionId>2024-10-09T20:57:36.6490928Z</VersionId><IsCurrentVersion>true</IsCurrentVersion><Properties><Creation-Time>Wed, 09 Oct 2024 20:57:36 GMT</Creation-Time><Last-Modified>Wed, 09 Oct 2024 20:57:36 GMT</Last-Modified><Etag>0x8DCE8A501292B30</Etag><Content-Length>0</Content-Length><Content-Type>text/plain</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64 /><Content-MD5>1B2M2Y8AsgTpgAmY7PhCfg==</Content-M[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-2f54ad59-ff55-d68f-2bad-c40cb070e6c8/destFolder/bar/item3",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-encoding": "",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "text/plain",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Wed, 09 Oct 2024 20:57:36 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCE8A50159AA0A\"",
        "Last-Modified": "Wed, 09 Oct 2024 20:57:36 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05",
        "x-ms-version-id": "2024-10-09T20:57:36.9669130Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-2f54ad59-ff55-d68f-2bad-c40cb070e6c8/destFolder/item1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-encoding": "",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "text/plain",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Wed, 09 Oct 2024 20:57:36 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 409,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "BlobAlreadyExists",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>BlobAlreadyExists</Code><Message>The specified blob already exists.\n",
        "RequestId:ebf1764b-501e-0029-238d-1ae4b6000000\n",
        "Time:2024-10-09T20:57:37.0159137Z</Message></Error>"
      ]
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-75baf6e7-96e4-c4e7-3b98-f429d6288a2b?sv=Sanitized&se=2024-10-10T20%3A57%3A36Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 403,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "AuthorizationFailure",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>AuthorizationFailure</Code><Message>This request is not authorized to perform this operation.\n",
        "RequestId:ebf17654-501e-0029-298d-1ae4b6000000\n",
        "Time:2024-10-09T20:57:37.2205374Z</Message></Error>"
      ]
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-10-09T13:57:36.5658946-07:00",
    "RandomSeed": "1780437942",
    "Storage_TestConfigDefault": "ProductionTenant\njalauzonnettest\nU2FuaXRpemVk\nhttps://jalauzonnettest.blob.core.windows.net\nhttps://jalauzonnettest.file.core.windows.net\nhttps://jalauzonnettest.queue.core.windows.net\nhttps://jalauzonnettest.table.core.windows.net\n\n\n\n\nhttps://jalauzonnettest-secondary.blob.core.windows.net\nhttps://jalauzonnettest-secondary.file.core.windows.net\nhttps://jalauzonnettest-secondary.queue.core.windows.net\nhttps://jalauzonnettest-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://jalauzonnettest.blob.core.windows.net/;QueueEndpoint=https://jalauzonnettest.queue.core.windows.net/;FileEndpoint=https://jalauzonnettest.file.core.windows.net/;BlobSecondaryEndpoint=https://jalauzonnettest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jalauzonnettest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jalauzonnettest-secondary.file.core.windows.net/;AccountName=jalauzonnettest;AccountKey=Sanitized\ntestscope1\n\n"
  }
}
