{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/name-3330?api-version=2023-11-01&label=label-s",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "label": "label-s",
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
        "value": "{\"uri\":\"https://vault_name.vault.azure.net/secrets/name-2705\"}"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"0J2MqU_cTtAN0nRVtRPhGjG0mf8LhptiJxFZ_K_kL4w\"",
        "Last-Modified": "Thu, 07 May 2026 20:26:12 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzExMzE1MzIwNg==;sn=113153206",
        "x-ms-date": "Thu, 07 May 2026 20:26:12 GMT"
      },
      "ResponseBody": {
        "etag": "0J2MqU_cTtAN0nRVtRPhGjG0mf8LhptiJxFZ_K_kL4w",
        "key": "name-3330",
        "label": "label-s",
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
        "value": "{\"uri\":\"https://vault_name.vault.azure.net/secrets/name-2705\"}",
        "tags": {},
        "locked": false,
        "last_modified": "2026-05-07T20:26:12+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/name-3330?api-version=2023-11-01&label=label-s",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NTo1IzExMzE1MzIwNg=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"0J2MqU_cTtAN0nRVtRPhGjG0mf8LhptiJxFZ_K_kL4w\"",
        "Last-Modified": "Thu, 07 May 2026 20:26:12 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzExMzE1MzIwNg==;sn=113153206",
        "x-ms-date": "Thu, 07 May 2026 20:26:12 GMT"
      },
      "ResponseBody": {
        "etag": "0J2MqU_cTtAN0nRVtRPhGjG0mf8LhptiJxFZ_K_kL4w",
        "key": "name-3330",
        "label": "label-s",
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
        "value": "{\"uri\":\"https://vault_name.vault.azure.net/secrets/name-2705\"}",
        "tags": {},
        "locked": false,
        "last_modified": "2026-05-07T20:26:12+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/locks/name-3330?api-version=2023-11-01&label=label-s",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NTo1IzExMzE1MzIwOA=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"XMsy-h6d4gqfD07xRe-IBj9VmqEcQGkoZnIv7MW2ybQ\"",
        "Last-Modified": "Thu, 07 May 2026 20:26:12 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzExMzE1MzIwOA==;sn=113153208",
        "x-ms-date": "Thu, 07 May 2026 20:26:13 GMT"
      },
      "ResponseBody": {
        "etag": "XMsy-h6d4gqfD07xRe-IBj9VmqEcQGkoZnIv7MW2ybQ",
        "key": "name-3330",
        "label": "label-s",
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
        "value": "{\"uri\":\"https://vault_name.vault.azure.net/secrets/name-4750\"}",
        "tags": {},
        "locked": false,
        "last_modified": "2026-05-07T20:26:12+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/name-3330?api-version=2023-11-01&label=label-s",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NTo1IzExMzE1MzIwOA=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"XMsy-h6d4gqfD07xRe-IBj9VmqEcQGkoZnIv7MW2ybQ\"",
        "Last-Modified": "Thu, 07 May 2026 20:26:12 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzExMzE1MzIwOQ==;sn=113153209",
        "x-ms-date": "Thu, 07 May 2026 20:26:13 GMT"
      },
      "ResponseBody": {
        "etag": "XMsy-h6d4gqfD07xRe-IBj9VmqEcQGkoZnIv7MW2ybQ",
        "key": "name-3330",
        "label": "label-s",
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
        "value": "{\"uri\":\"https://vault_name.vault.azure.net/secrets/name-4750\"}",
        "tags": {},
        "locked": false,
        "last_modified": "2026-05-07T20:26:12+00:00"
      }
    }
  ],
  "Variables": {
    "name-2": "name-2705",
    "name-3": "name-3330",
    "name-4": "name-4750"
  }
}
