{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/name-3964?api-version=2023-11-01&label=label-s",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "name-3964",
        "label": "label-s",
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
        "value": "{\"uri\":\"https://vault_name.vault.azure.net/secrets/name-228\"}"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"4lRCdOxnQ45mZJ0RsMr5imftyCwc7k7idiqsepZEQZo\"",
        "Last-Modified": "Thu, 02 Oct 2025 15:43:48 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQyMzE5Mjg=;sn=74231928"
      },
      "ResponseBody": {
        "etag": "4lRCdOxnQ45mZJ0RsMr5imftyCwc7k7idiqsepZEQZo",
        "key": "name-3964",
        "label": "label-s",
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
        "value": "{\"uri\":\"https://vault_name.vault.azure.net/secrets/name-228\"}",
        "tags": {},
        "locked": false,
        "last_modified": "2025-10-02T15:43:48+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/name-3964-2?api-version=2023-11-01&label=label-s",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*",
        "sync-token": "zAJw6V16=MTI6MTkjNzQyMzE5Mjg="
      },
      "RequestBody": {
        "key": "name-3964-2",
        "label": "label-s",
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
        "value": "{\"uri\":\"https://vault_name.vault.azure.net/secrets/name-228\"}"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"Hy9bpGWmel2ZugZ4eTeIn55Hw0wDRtwSkEsH6Ozu8Os\"",
        "Last-Modified": "Thu, 02 Oct 2025 15:43:49 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQyMzE5Mjk=;sn=74231929"
      },
      "ResponseBody": {
        "etag": "Hy9bpGWmel2ZugZ4eTeIn55Hw0wDRtwSkEsH6Ozu8Os",
        "key": "name-3964-2",
        "label": "label-s",
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
        "value": "{\"uri\":\"https://vault_name.vault.azure.net/secrets/name-228\"}",
        "tags": {},
        "locked": false,
        "last_modified": "2025-10-02T15:43:49+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2023-11-01&key=name-3964*",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzQyMzE5Mjk="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"hbQ2svISV4Lf2Ip5T1GydrW2H1C-C9u27WFbZM4E1o0\"",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQyMzE5Mjk=;sn=74231929"
      },
      "ResponseBody": {
        "etag": "hbQ2svISV4Lf2Ip5T1GydrW2H1C-C9u27WFbZM4E1o0",
        "items": [
          {
            "etag": "4lRCdOxnQ45mZJ0RsMr5imftyCwc7k7idiqsepZEQZo",
            "key": "name-3964",
            "label": "label-s",
            "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
            "value": "{\"uri\":\"https://vault_name.vault.azure.net/secrets/name-228\"}",
            "tags": {},
            "locked": false,
            "last_modified": "2025-10-02T15:43:48+00:00"
          },
          {
            "etag": "Hy9bpGWmel2ZugZ4eTeIn55Hw0wDRtwSkEsH6Ozu8Os",
            "key": "name-3964-2",
            "label": "label-s",
            "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
            "value": "{\"uri\":\"https://vault_name.vault.azure.net/secrets/name-228\"}",
            "tags": {},
            "locked": false,
            "last_modified": "2025-10-02T15:43:49+00:00"
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/locks/name-3964-2?api-version=2023-11-01&label=label-s",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzQyMzE5MzA="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"2TBC6n2PiP9aidC6vmpYO-K9PDkA_0_o8WqU2LcQ8w8\"",
        "Last-Modified": "Thu, 02 Oct 2025 15:43:49 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQyMzE5MzI=;sn=74231932"
      },
      "ResponseBody": {
        "etag": "2TBC6n2PiP9aidC6vmpYO-K9PDkA_0_o8WqU2LcQ8w8",
        "key": "name-3964-2",
        "label": "label-s",
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
        "value": "{\"uri\":\"https://vault_name.vault.azure.net/secrets/name-228\"}",
        "tags": {},
        "locked": true,
        "last_modified": "2025-10-02T15:43:49+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/name-3964?api-version=2023-11-01&label=label-s",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzQyMzE5MzY="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"_LoAeskVBcOPxJK-QfZdrJ_Ydf1hi_yApkmupeGL_CE\"",
        "Last-Modified": "Thu, 02 Oct 2025 15:43:49 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQyMzE5Mzc=;sn=74231937"
      },
      "ResponseBody": {
        "etag": "_LoAeskVBcOPxJK-QfZdrJ_Ydf1hi_yApkmupeGL_CE",
        "key": "name-3964",
        "label": "label-s",
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
        "value": "{\"uri\":\"https://vault_name.vault.azure.net/secrets/name-597\"}",
        "tags": {},
        "locked": false,
        "last_modified": "2025-10-02T15:43:49+00:00"
      }
    }
  ],
  "Variables": {
    "name-2": "name-228",
    "name-3": "name-3964",
    "name-5": "name-597"
  }
}
