{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/name-3368?api-version=2023-11-01&label=label-s",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "name-3368",
        "label": "label-s",
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
        "value": "{\"uri\":\"https://vault_name.vault.azure.net/secrets/name-2407\"}"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"kl4XljbAlDr71V-_4KsIP-LdBL39xlDQ-UFMXWExn1w\"",
        "Last-Modified": "Tue, 04 Nov 2025 19:11:35 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzUwNjQ0NDE=;sn=75064441",
        "x-ms-date": "Tue, 04 Nov 2025 19:11:35 GMT"
      },
      "ResponseBody": {
        "etag": "kl4XljbAlDr71V-_4KsIP-LdBL39xlDQ-UFMXWExn1w",
        "key": "name-3368",
        "label": "label-s",
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
        "value": "{\"uri\":\"https://vault_name.vault.azure.net/secrets/name-2407\"}",
        "tags": {},
        "locked": false,
        "last_modified": "2025-11-04T19:11:35+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/name-3368?api-version=2023-11-01&label=label-s",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzUwNjQ0NDE="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"kl4XljbAlDr71V-_4KsIP-LdBL39xlDQ-UFMXWExn1w\"",
        "Last-Modified": "Tue, 04 Nov 2025 19:11:35 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzUwNjQ0NDE=;sn=75064441",
        "x-ms-date": "Tue, 04 Nov 2025 19:11:35 GMT"
      },
      "ResponseBody": {
        "etag": "kl4XljbAlDr71V-_4KsIP-LdBL39xlDQ-UFMXWExn1w",
        "key": "name-3368",
        "label": "label-s",
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
        "value": "{\"uri\":\"https://vault_name.vault.azure.net/secrets/name-2407\"}",
        "tags": {},
        "locked": false,
        "last_modified": "2025-11-04T19:11:35+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/locks/name-3368?api-version=2023-11-01&label=label-s",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzUwNjQ0NDM="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"L6-qxzdaPxL576wIbnBm5w_dzB-mo-TmBzTEOI1bh9M\"",
        "Last-Modified": "Tue, 04 Nov 2025 19:11:35 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzUwNjQ0NDM=;sn=75064443",
        "x-ms-date": "Tue, 04 Nov 2025 19:11:36 GMT"
      },
      "ResponseBody": {
        "etag": "L6-qxzdaPxL576wIbnBm5w_dzB-mo-TmBzTEOI1bh9M",
        "key": "name-3368",
        "label": "label-s",
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
        "value": "{\"uri\":\"https://vault_name.vault.azure.net/secrets/name-4585\"}",
        "tags": {},
        "locked": false,
        "last_modified": "2025-11-04T19:11:35+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/name-3368?api-version=2023-11-01&label=label-s",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzUwNjQ0NDM="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"L6-qxzdaPxL576wIbnBm5w_dzB-mo-TmBzTEOI1bh9M\"",
        "Last-Modified": "Tue, 04 Nov 2025 19:11:35 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzUwNjQ0NDQ=;sn=75064444",
        "x-ms-date": "Tue, 04 Nov 2025 19:11:36 GMT"
      },
      "ResponseBody": {
        "etag": "L6-qxzdaPxL576wIbnBm5w_dzB-mo-TmBzTEOI1bh9M",
        "key": "name-3368",
        "label": "label-s",
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
        "value": "{\"uri\":\"https://vault_name.vault.azure.net/secrets/name-4585\"}",
        "tags": {},
        "locked": false,
        "last_modified": "2025-11-04T19:11:35+00:00"
      }
    }
  ],
  "Variables": {
    "name-2": "name-2407",
    "name-3": "name-3368",
    "name-4": "name-4585"
  }
}
