{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/name-3414?api-version=2023-11-01&label=label-s",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "name-3414",
        "label": "label-s",
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
        "value": "{\"uri\":\"https://vault_name.vault.azure.net/secrets/name-2250\"}"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"1ZN4tQQmSxwlqBC0XssvF8Qp0i4Z4bgjhSwmyV-tEVc\"",
        "Last-Modified": "Sun, 26 Oct 2025 08:09:46 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQ4NTgwMjY=;sn=74858026",
        "x-ms-date": "Sun, 26 Oct 2025 08:09:46 GMT"
      },
      "ResponseBody": {
        "etag": "1ZN4tQQmSxwlqBC0XssvF8Qp0i4Z4bgjhSwmyV-tEVc",
        "key": "name-3414",
        "label": "label-s",
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
        "value": "{\"uri\":\"https://vault_name.vault.azure.net/secrets/name-2250\"}",
        "tags": {},
        "locked": false,
        "last_modified": "2025-10-26T08:09:46+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/name-3414?api-version=2023-11-01&label=label-s",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzQ4NTgwMjY="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"1ZN4tQQmSxwlqBC0XssvF8Qp0i4Z4bgjhSwmyV-tEVc\"",
        "Last-Modified": "Sun, 26 Oct 2025 08:09:46 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQ4NTgwMjY=;sn=74858026",
        "x-ms-date": "Sun, 26 Oct 2025 08:09:47 GMT"
      },
      "ResponseBody": {
        "etag": "1ZN4tQQmSxwlqBC0XssvF8Qp0i4Z4bgjhSwmyV-tEVc",
        "key": "name-3414",
        "label": "label-s",
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
        "value": "{\"uri\":\"https://vault_name.vault.azure.net/secrets/name-2250\"}",
        "tags": {},
        "locked": false,
        "last_modified": "2025-10-26T08:09:46+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/locks/name-3414?api-version=2023-11-01&label=label-s",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzQ4NTgwMjY="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"1ZN4tQQmSxwlqBC0XssvF8Qp0i4Z4bgjhSwmyV-tEVc\"",
        "Last-Modified": "Sun, 26 Oct 2025 08:09:46 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQ4NTgwMjY=;sn=74858026",
        "x-ms-date": "Sun, 26 Oct 2025 08:09:47 GMT"
      },
      "ResponseBody": {
        "etag": "1ZN4tQQmSxwlqBC0XssvF8Qp0i4Z4bgjhSwmyV-tEVc",
        "key": "name-3414",
        "label": "label-s",
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
        "value": "{\"uri\":\"https://vault_name.vault.azure.net/secrets/name-2250\"}",
        "tags": {},
        "locked": false,
        "last_modified": "2025-10-26T08:09:46+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/name-3414?api-version=2023-11-01&label=label-s",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzQ4NTgwMjY="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"1ZN4tQQmSxwlqBC0XssvF8Qp0i4Z4bgjhSwmyV-tEVc\"",
        "Last-Modified": "Sun, 26 Oct 2025 08:09:46 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQ4NTgwMjc=;sn=74858027",
        "x-ms-date": "Sun, 26 Oct 2025 08:09:47 GMT"
      },
      "ResponseBody": {
        "etag": "1ZN4tQQmSxwlqBC0XssvF8Qp0i4Z4bgjhSwmyV-tEVc",
        "key": "name-3414",
        "label": "label-s",
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
        "value": "{\"uri\":\"https://vault_name.vault.azure.net/secrets/name-2250\"}",
        "tags": {},
        "locked": false,
        "last_modified": "2025-10-26T08:09:46+00:00"
      }
    }
  ],
  "Variables": {
    "name-2": "name-2250",
    "name-3": "name-3414"
  }
}
