{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/name-3920?api-version=2023-11-01&label=label-s",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "name-3920",
        "label": "label-s",
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
        "value": "{\"uri\":\"https://vault_name.vault.azure.net/secrets/name-2361\"}"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"0jEv7RGTZtA0PrWIufeaJUGBYJfX-T6kf1UKEkpVDBc\"",
        "Last-Modified": "Tue, 04 Nov 2025 18:40:59 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzUwNjA3NTA=;sn=75060750",
        "x-ms-date": "Tue, 04 Nov 2025 18:40:59 GMT"
      },
      "ResponseBody": {
        "etag": "0jEv7RGTZtA0PrWIufeaJUGBYJfX-T6kf1UKEkpVDBc",
        "key": "name-3920",
        "label": "label-s",
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
        "value": "{\"uri\":\"https://vault_name.vault.azure.net/secrets/name-2361\"}",
        "tags": {},
        "locked": false,
        "last_modified": "2025-11-04T18:40:59+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/name-3920?api-version=2023-11-01&label=label-s",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzUwNjA3NTA="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"0jEv7RGTZtA0PrWIufeaJUGBYJfX-T6kf1UKEkpVDBc\"",
        "Last-Modified": "Tue, 04 Nov 2025 18:40:59 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzUwNjA3NTA=;sn=75060750",
        "x-ms-date": "Tue, 04 Nov 2025 18:40:59 GMT"
      },
      "ResponseBody": {
        "etag": "0jEv7RGTZtA0PrWIufeaJUGBYJfX-T6kf1UKEkpVDBc",
        "key": "name-3920",
        "label": "label-s",
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
        "value": "{\"uri\":\"https://vault_name.vault.azure.net/secrets/name-2361\"}",
        "tags": {},
        "locked": false,
        "last_modified": "2025-11-04T18:40:59+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/locks/name-3920?api-version=2023-11-01&label=label-s",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzUwNjA3NTQ="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"c9i84S-u_yT5nHUktnHTGqgKGNkmIpUz8Gp_wvTbRPA\"",
        "Last-Modified": "Tue, 04 Nov 2025 18:40:59 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzUwNjA3NTQ=;sn=75060754",
        "x-ms-date": "Tue, 04 Nov 2025 18:41:00 GMT"
      },
      "ResponseBody": {
        "etag": "c9i84S-u_yT5nHUktnHTGqgKGNkmIpUz8Gp_wvTbRPA",
        "key": "name-3920",
        "label": "label-s",
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
        "value": "{\"uri\":\"https://vault_name.vault.azure.net/secrets/name-4591\"}",
        "tags": {},
        "locked": false,
        "last_modified": "2025-11-04T18:40:59+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/name-3920?api-version=2023-11-01&label=label-s",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzUwNjA3NTQ="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"c9i84S-u_yT5nHUktnHTGqgKGNkmIpUz8Gp_wvTbRPA\"",
        "Last-Modified": "Tue, 04 Nov 2025 18:40:59 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzUwNjA3NTU=;sn=75060755",
        "x-ms-date": "Tue, 04 Nov 2025 18:41:00 GMT"
      },
      "ResponseBody": {
        "etag": "c9i84S-u_yT5nHUktnHTGqgKGNkmIpUz8Gp_wvTbRPA",
        "key": "name-3920",
        "label": "label-s",
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
        "value": "{\"uri\":\"https://vault_name.vault.azure.net/secrets/name-4591\"}",
        "tags": {},
        "locked": false,
        "last_modified": "2025-11-04T18:40:59+00:00"
      }
    }
  ],
  "Variables": {
    "name-2": "name-2361",
    "name-3": "name-3920",
    "name-4": "name-4591"
  }
}
