{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/name-3891?api-version=2023-11-01&label=label-s",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "name-3891",
        "label": "label-s",
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
        "value": "{\"uri\":\"https://vault_name.vault.azure.net/secrets/name-2832\"}"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"bfs2qJs39bdQwcIiB4ZCmsexvBJwH4nNNBYWI7eEbD8\"",
        "Last-Modified": "Mon, 29 Sep 2025 09:43:53 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQxMDU1OTE=;sn=74105591"
      },
      "ResponseBody": {
        "etag": "bfs2qJs39bdQwcIiB4ZCmsexvBJwH4nNNBYWI7eEbD8",
        "key": "name-3891",
        "label": "label-s",
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
        "value": "{\"uri\":\"https://vault_name.vault.azure.net/secrets/name-2832\"}",
        "tags": {},
        "locked": false,
        "last_modified": "2025-09-29T09:43:53+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/name-3891?api-version=2023-11-01&label=label-s",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzQxMDU1OTE="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"bfs2qJs39bdQwcIiB4ZCmsexvBJwH4nNNBYWI7eEbD8\"",
        "Last-Modified": "Mon, 29 Sep 2025 09:43:53 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQxMDU1OTE=;sn=74105591"
      },
      "ResponseBody": {
        "etag": "bfs2qJs39bdQwcIiB4ZCmsexvBJwH4nNNBYWI7eEbD8",
        "key": "name-3891",
        "label": "label-s",
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
        "value": "{\"uri\":\"https://vault_name.vault.azure.net/secrets/name-2832\"}",
        "tags": {},
        "locked": false,
        "last_modified": "2025-09-29T09:43:53+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/locks/name-3891?api-version=2023-11-01&label=label-s",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzQxMDU1OTM="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"rAZSl8txicgQ0VozrsOq9u5lQlfmHHYUpxYkhWMliKI\"",
        "Last-Modified": "Mon, 29 Sep 2025 09:43:53 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQxMDU1OTM=;sn=74105593"
      },
      "ResponseBody": {
        "etag": "rAZSl8txicgQ0VozrsOq9u5lQlfmHHYUpxYkhWMliKI",
        "key": "name-3891",
        "label": "label-s",
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
        "value": "{\"uri\":\"https://vault_name.vault.azure.net/secrets/name-4863\"}",
        "tags": {},
        "locked": false,
        "last_modified": "2025-09-29T09:43:53+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/name-3891?api-version=2023-11-01&label=label-s",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzQxMDU1OTM="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"rAZSl8txicgQ0VozrsOq9u5lQlfmHHYUpxYkhWMliKI\"",
        "Last-Modified": "Mon, 29 Sep 2025 09:43:53 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQxMDU1OTQ=;sn=74105594"
      },
      "ResponseBody": {
        "etag": "rAZSl8txicgQ0VozrsOq9u5lQlfmHHYUpxYkhWMliKI",
        "key": "name-3891",
        "label": "label-s",
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
        "value": "{\"uri\":\"https://vault_name.vault.azure.net/secrets/name-4863\"}",
        "tags": {},
        "locked": false,
        "last_modified": "2025-09-29T09:43:53+00:00"
      }
    }
  ],
  "Variables": {
    "name-2": "name-2832",
    "name-3": "name-3891",
    "name-4": "name-4863"
  }
}
