{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/name-3394?api-version=2023-11-01&label=label-s",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "name-3394",
        "label": "label-s",
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
        "value": "{\"uri\":\"https://vault_name.vault.azure.net/secrets/name-2297\"}"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"Rdm1GTtp1tsj1o4LlNd0y-s0vOVrI9tsZzdvE6cUbmQ\"",
        "Last-Modified": "Sun, 26 Oct 2025 08:09:49 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQ4NTgwMjg=;sn=74858028",
        "x-ms-date": "Sun, 26 Oct 2025 08:09:49 GMT"
      },
      "ResponseBody": {
        "etag": "Rdm1GTtp1tsj1o4LlNd0y-s0vOVrI9tsZzdvE6cUbmQ",
        "key": "name-3394",
        "label": "label-s",
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
        "value": "{\"uri\":\"https://vault_name.vault.azure.net/secrets/name-2297\"}",
        "tags": {},
        "locked": false,
        "last_modified": "2025-10-26T08:09:49+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/name-3394?api-version=2023-11-01&label=label-s",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzQ4NTgwMjg="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"Rdm1GTtp1tsj1o4LlNd0y-s0vOVrI9tsZzdvE6cUbmQ\"",
        "Last-Modified": "Sun, 26 Oct 2025 08:09:49 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQ4NTgwMjg=;sn=74858028",
        "x-ms-date": "Sun, 26 Oct 2025 08:09:50 GMT"
      },
      "ResponseBody": {
        "etag": "Rdm1GTtp1tsj1o4LlNd0y-s0vOVrI9tsZzdvE6cUbmQ",
        "key": "name-3394",
        "label": "label-s",
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
        "value": "{\"uri\":\"https://vault_name.vault.azure.net/secrets/name-2297\"}",
        "tags": {},
        "locked": false,
        "last_modified": "2025-10-26T08:09:49+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/locks/name-3394?api-version=2023-11-01&label=label-s",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzQ4NTgwMzA="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"8Wz_BM905RgviMeuMeMH9ExV-dAzliVcfsmSfdxcaMU\"",
        "Last-Modified": "Sun, 26 Oct 2025 08:09:50 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQ4NTgwMzA=;sn=74858030",
        "x-ms-date": "Sun, 26 Oct 2025 08:09:50 GMT"
      },
      "ResponseBody": {
        "etag": "8Wz_BM905RgviMeuMeMH9ExV-dAzliVcfsmSfdxcaMU",
        "key": "name-3394",
        "label": "label-s",
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
        "value": "{\"uri\":\"https://vault_name.vault.azure.net/secrets/name-4447\"}",
        "tags": {},
        "locked": false,
        "last_modified": "2025-10-26T08:09:50+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/name-3394?api-version=2023-11-01&label=label-s",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzQ4NTgwMzA="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"8Wz_BM905RgviMeuMeMH9ExV-dAzliVcfsmSfdxcaMU\"",
        "Last-Modified": "Sun, 26 Oct 2025 08:09:50 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQ4NTgwMzE=;sn=74858031",
        "x-ms-date": "Sun, 26 Oct 2025 08:09:50 GMT"
      },
      "ResponseBody": {
        "etag": "8Wz_BM905RgviMeuMeMH9ExV-dAzliVcfsmSfdxcaMU",
        "key": "name-3394",
        "label": "label-s",
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
        "value": "{\"uri\":\"https://vault_name.vault.azure.net/secrets/name-4447\"}",
        "tags": {},
        "locked": false,
        "last_modified": "2025-10-26T08:09:50+00:00"
      }
    }
  ],
  "Variables": {
    "name-2": "name-2297",
    "name-3": "name-3394",
    "name-4": "name-4447"
  }
}
