{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/name-3342?api-version=2023-11-01&label=label-s",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "name-3342",
        "label": "label-s",
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
        "value": "{\"uri\":\"https://vault_name.vault.azure.net/secrets/name-20\"}"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"vOGHKoDn7Nu6OxhJX7gj8ReUQE0eBINSToWqQu4dFsQ\"",
        "Last-Modified": "Tue, 16 Sep 2025 11:37:33 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzM3NDEzOTI=;sn=73741392"
      },
      "ResponseBody": {
        "etag": "vOGHKoDn7Nu6OxhJX7gj8ReUQE0eBINSToWqQu4dFsQ",
        "key": "name-3342",
        "label": "label-s",
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
        "value": "{\"uri\":\"https://vault_name.vault.azure.net/secrets/name-20\"}",
        "tags": {},
        "locked": false,
        "last_modified": "2025-09-16T11:37:33+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/name-3342?api-version=2023-11-01&label=label-s",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzM3NDEzOTI="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"vOGHKoDn7Nu6OxhJX7gj8ReUQE0eBINSToWqQu4dFsQ\"",
        "Last-Modified": "Tue, 16 Sep 2025 11:37:33 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzM3NDEzOTI=;sn=73741392"
      },
      "ResponseBody": {
        "etag": "vOGHKoDn7Nu6OxhJX7gj8ReUQE0eBINSToWqQu4dFsQ",
        "key": "name-3342",
        "label": "label-s",
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
        "value": "{\"uri\":\"https://vault_name.vault.azure.net/secrets/name-20\"}",
        "tags": {},
        "locked": false,
        "last_modified": "2025-09-16T11:37:33+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/locks/name-3342?api-version=2023-11-01&label=label-s",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzM3NDEzOTI="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"vOGHKoDn7Nu6OxhJX7gj8ReUQE0eBINSToWqQu4dFsQ\"",
        "Last-Modified": "Tue, 16 Sep 2025 11:37:33 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzM3NDEzOTI=;sn=73741392"
      },
      "ResponseBody": {
        "etag": "vOGHKoDn7Nu6OxhJX7gj8ReUQE0eBINSToWqQu4dFsQ",
        "key": "name-3342",
        "label": "label-s",
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
        "value": "{\"uri\":\"https://vault_name.vault.azure.net/secrets/name-20\"}",
        "tags": {},
        "locked": false,
        "last_modified": "2025-09-16T11:37:33+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/name-3342?api-version=2023-11-01&label=label-s",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzM3NDEzOTI="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"vOGHKoDn7Nu6OxhJX7gj8ReUQE0eBINSToWqQu4dFsQ\"",
        "Last-Modified": "Tue, 16 Sep 2025 11:37:33 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzM3NDEzOTM=;sn=73741393"
      },
      "ResponseBody": {
        "etag": "vOGHKoDn7Nu6OxhJX7gj8ReUQE0eBINSToWqQu4dFsQ",
        "key": "name-3342",
        "label": "label-s",
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
        "value": "{\"uri\":\"https://vault_name.vault.azure.net/secrets/name-20\"}",
        "tags": {},
        "locked": false,
        "last_modified": "2025-09-16T11:37:33+00:00"
      }
    }
  ],
  "Variables": {
    "name-2": "name-20",
    "name-3": "name-3342"
  }
}
