{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/name-3113?api-version=2023-11-01&label=label-s",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "name-3113",
        "label": "label-s",
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
        "value": "{\"uri\":\"https://vault_name.vault.azure.net/secrets/name-215\"}"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"Gnp6A9RKVFKVqoVHwMtJjTPWl1tMEXqJ2uYbzQk3ON4\"",
        "Last-Modified": "Thu, 02 Oct 2025 17:07:39 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQyMzUzNjA=;sn=74235360"
      },
      "ResponseBody": {
        "etag": "Gnp6A9RKVFKVqoVHwMtJjTPWl1tMEXqJ2uYbzQk3ON4",
        "key": "name-3113",
        "label": "label-s",
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
        "value": "{\"uri\":\"https://vault_name.vault.azure.net/secrets/name-215\"}",
        "tags": {},
        "locked": false,
        "last_modified": "2025-10-02T17:07:39+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/name-3113-2?api-version=2023-11-01&label=label-s",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*",
        "sync-token": "zAJw6V16=MTI6MTkjNzQyMzUzNjA="
      },
      "RequestBody": {
        "key": "name-3113-2",
        "label": "label-s",
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
        "value": "{\"uri\":\"https://vault_name.vault.azure.net/secrets/name-215\"}"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"9SeevAhNqZmItoxGl5lVCAiPUwL2CYeOJJs4-nuztXo\"",
        "Last-Modified": "Thu, 02 Oct 2025 17:07:40 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQyMzUzNjE=;sn=74235361"
      },
      "ResponseBody": {
        "etag": "9SeevAhNqZmItoxGl5lVCAiPUwL2CYeOJJs4-nuztXo",
        "key": "name-3113-2",
        "label": "label-s",
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
        "value": "{\"uri\":\"https://vault_name.vault.azure.net/secrets/name-215\"}",
        "tags": {},
        "locked": false,
        "last_modified": "2025-10-02T17:07:40+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2023-11-01&key=name-3113*",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzQyMzUzNjE="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"rvkGxAuRDGk-6-6oT5yka5wxGu050YD_WVGha3f4KEc\"",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQyMzUzNjE=;sn=74235361"
      },
      "ResponseBody": {
        "etag": "rvkGxAuRDGk-6-6oT5yka5wxGu050YD_WVGha3f4KEc",
        "items": [
          {
            "etag": "Gnp6A9RKVFKVqoVHwMtJjTPWl1tMEXqJ2uYbzQk3ON4",
            "key": "name-3113",
            "label": "label-s",
            "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
            "value": "{\"uri\":\"https://vault_name.vault.azure.net/secrets/name-215\"}",
            "tags": {},
            "locked": false,
            "last_modified": "2025-10-02T17:07:39+00:00"
          },
          {
            "etag": "9SeevAhNqZmItoxGl5lVCAiPUwL2CYeOJJs4-nuztXo",
            "key": "name-3113-2",
            "label": "label-s",
            "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
            "value": "{\"uri\":\"https://vault_name.vault.azure.net/secrets/name-215\"}",
            "tags": {},
            "locked": false,
            "last_modified": "2025-10-02T17:07:40+00:00"
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/locks/name-3113-2?api-version=2023-11-01&label=label-s",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzQyMzUzNjI="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"NvELLEN6lSj5NnhAm8rImKEjkRv1BpFsOPU7UJMVeDw\"",
        "Last-Modified": "Thu, 02 Oct 2025 17:07:40 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQyMzUzNjQ=;sn=74235364"
      },
      "ResponseBody": {
        "etag": "NvELLEN6lSj5NnhAm8rImKEjkRv1BpFsOPU7UJMVeDw",
        "key": "name-3113-2",
        "label": "label-s",
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
        "value": "{\"uri\":\"https://vault_name.vault.azure.net/secrets/name-215\"}",
        "tags": {},
        "locked": true,
        "last_modified": "2025-10-02T17:07:40+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/name-3113?api-version=2023-11-01&label=label-s",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzQyMzUzNjg="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"PjHzeM1hT-87jH-LufRiI36scW_WkzucnNprGTJWAFQ\"",
        "Last-Modified": "Thu, 02 Oct 2025 17:07:40 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQyMzUzNjk=;sn=74235369"
      },
      "ResponseBody": {
        "etag": "PjHzeM1hT-87jH-LufRiI36scW_WkzucnNprGTJWAFQ",
        "key": "name-3113",
        "label": "label-s",
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
        "value": "{\"uri\":\"https://vault_name.vault.azure.net/secrets/name-563\"}",
        "tags": {},
        "locked": false,
        "last_modified": "2025-10-02T17:07:40+00:00"
      }
    }
  ],
  "Variables": {
    "name-2": "name-215",
    "name-3": "name-3113",
    "name-5": "name-563"
  }
}
