{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/name-3360?api-version=2023-11-01&label=label-s",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "name-3360",
        "label": "label-s",
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
        "value": "{\"uri\":\"https://vault_name.vault.azure.net/secrets/name-2394\"}"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"Dz-4GE5Um5uUMvagiiVohslUNm1l07WRVdKPI_10Glc\"",
        "Last-Modified": "Fri, 23 Jan 2026 09:01:44 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU4NDgzNQ==;sn=103584835",
        "x-ms-date": "Fri, 23 Jan 2026 09:01:44 GMT"
      },
      "ResponseBody": {
        "etag": "Dz-4GE5Um5uUMvagiiVohslUNm1l07WRVdKPI_10Glc",
        "key": "name-3360",
        "label": "label-s",
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
        "value": "{\"uri\":\"https://vault_name.vault.azure.net/secrets/name-2394\"}",
        "tags": {},
        "locked": false,
        "last_modified": "2026-01-23T09:01:44+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/name-3360?api-version=2023-11-01&label=label-s",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NTo1IzEwMzU4NDgzNQ=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"Dz-4GE5Um5uUMvagiiVohslUNm1l07WRVdKPI_10Glc\"",
        "Last-Modified": "Fri, 23 Jan 2026 09:01:44 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU4NDgzNQ==;sn=103584835",
        "x-ms-date": "Fri, 23 Jan 2026 09:01:44 GMT"
      },
      "ResponseBody": {
        "etag": "Dz-4GE5Um5uUMvagiiVohslUNm1l07WRVdKPI_10Glc",
        "key": "name-3360",
        "label": "label-s",
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
        "value": "{\"uri\":\"https://vault_name.vault.azure.net/secrets/name-2394\"}",
        "tags": {},
        "locked": false,
        "last_modified": "2026-01-23T09:01:44+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/locks/name-3360?api-version=2023-11-01&label=label-s",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NTo1IzEwMzU4NDgzNw=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"MoHDuFq_gTirZZRosvqYWOH-WbnGuRtbrkj5pMGlzvY\"",
        "Last-Modified": "Fri, 23 Jan 2026 09:01:44 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU4NDgzNw==;sn=103584837",
        "x-ms-date": "Fri, 23 Jan 2026 09:01:44 GMT"
      },
      "ResponseBody": {
        "etag": "MoHDuFq_gTirZZRosvqYWOH-WbnGuRtbrkj5pMGlzvY",
        "key": "name-3360",
        "label": "label-s",
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
        "value": "{\"uri\":\"https://vault_name.vault.azure.net/secrets/name-4285\"}",
        "tags": {},
        "locked": false,
        "last_modified": "2026-01-23T09:01:44+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/name-3360?api-version=2023-11-01&label=label-s",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NTo1IzEwMzU4NDgzNw=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"MoHDuFq_gTirZZRosvqYWOH-WbnGuRtbrkj5pMGlzvY\"",
        "Last-Modified": "Fri, 23 Jan 2026 09:01:44 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU4NDgzOA==;sn=103584838",
        "x-ms-date": "Fri, 23 Jan 2026 09:01:44 GMT"
      },
      "ResponseBody": {
        "etag": "MoHDuFq_gTirZZRosvqYWOH-WbnGuRtbrkj5pMGlzvY",
        "key": "name-3360",
        "label": "label-s",
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
        "value": "{\"uri\":\"https://vault_name.vault.azure.net/secrets/name-4285\"}",
        "tags": {},
        "locked": false,
        "last_modified": "2026-01-23T09:01:44+00:00"
      }
    }
  ],
  "Variables": {
    "name-2": "name-2394",
    "name-3": "name-3360",
    "name-4": "name-4285"
  }
}
