{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/name-3884?api-version=2023-11-01&label=label-s",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "name-3884",
        "label": "label-s",
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
        "value": "{\"uri\":\"https://vault_name.vault.azure.net/secrets/name-2519\"}"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"BBnNCOE3H2Vjj4mLO09WMrHytZBBBxCw1Gqh_mL0AAk\"",
        "Last-Modified": "Thu, 18 Sep 2025 02:51:07 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzM4MDIxNzg=;sn=73802178"
      },
      "ResponseBody": {
        "etag": "BBnNCOE3H2Vjj4mLO09WMrHytZBBBxCw1Gqh_mL0AAk",
        "key": "name-3884",
        "label": "label-s",
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
        "value": "{\"uri\":\"https://vault_name.vault.azure.net/secrets/name-2519\"}",
        "tags": {},
        "locked": false,
        "last_modified": "2025-09-18T02:51:07+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/name-3884-2?api-version=2023-11-01&label=label-s",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*",
        "sync-token": "zAJw6V16=MTI6MTkjNzM4MDIxNzg="
      },
      "RequestBody": {
        "key": "name-3884-2",
        "label": "label-s",
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
        "value": "{\"uri\":\"https://vault_name.vault.azure.net/secrets/name-2519\"}"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"bVqD3CELPeS-hCOKfWxH4KnHHtNAJpIZ9dkaxSql-_A\"",
        "Last-Modified": "Thu, 18 Sep 2025 02:51:07 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzM4MDIxNzk=;sn=73802179"
      },
      "ResponseBody": {
        "etag": "bVqD3CELPeS-hCOKfWxH4KnHHtNAJpIZ9dkaxSql-_A",
        "key": "name-3884-2",
        "label": "label-s",
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
        "value": "{\"uri\":\"https://vault_name.vault.azure.net/secrets/name-2519\"}",
        "tags": {},
        "locked": false,
        "last_modified": "2025-09-18T02:51:07+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2023-11-01&key=name-3884*",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzM4MDIxNzk="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"GFJxRxjqows-X2kh7FmEwFxF2SpO-bdE-uV5tjP7Zbw\"",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzM4MDIxNzk=;sn=73802179"
      },
      "ResponseBody": {
        "etag": "GFJxRxjqows-X2kh7FmEwFxF2SpO-bdE-uV5tjP7Zbw",
        "items": [
          {
            "etag": "BBnNCOE3H2Vjj4mLO09WMrHytZBBBxCw1Gqh_mL0AAk",
            "key": "name-3884",
            "label": "label-s",
            "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
            "value": "{\"uri\":\"https://vault_name.vault.azure.net/secrets/name-2519\"}",
            "tags": {},
            "locked": false,
            "last_modified": "2025-09-18T02:51:07+00:00"
          },
          {
            "etag": "bVqD3CELPeS-hCOKfWxH4KnHHtNAJpIZ9dkaxSql-_A",
            "key": "name-3884-2",
            "label": "label-s",
            "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
            "value": "{\"uri\":\"https://vault_name.vault.azure.net/secrets/name-2519\"}",
            "tags": {},
            "locked": false,
            "last_modified": "2025-09-18T02:51:07+00:00"
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/locks/name-3884-2?api-version=2023-11-01&label=label-s",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzM4MDIxODA="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"0qars2B3uPEK1SEfjELOij1J1M9BRwOx-arZtUXVe2w\"",
        "Last-Modified": "Thu, 18 Sep 2025 02:51:07 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzM4MDIxODI=;sn=73802182"
      },
      "ResponseBody": {
        "etag": "0qars2B3uPEK1SEfjELOij1J1M9BRwOx-arZtUXVe2w",
        "key": "name-3884-2",
        "label": "label-s",
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
        "value": "{\"uri\":\"https://vault_name.vault.azure.net/secrets/name-2519\"}",
        "tags": {},
        "locked": true,
        "last_modified": "2025-09-18T02:51:07+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/name-3884?api-version=2023-11-01&label=label-s",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzM4MDIxODY="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"lto7F_qLUheFT0iEl0aH8Z5z9zmRQVm9A2SkJqLziNg\"",
        "Last-Modified": "Thu, 18 Sep 2025 02:51:07 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzM4MDIxODc=;sn=73802187"
      },
      "ResponseBody": {
        "etag": "lto7F_qLUheFT0iEl0aH8Z5z9zmRQVm9A2SkJqLziNg",
        "key": "name-3884",
        "label": "label-s",
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
        "value": "{\"uri\":\"https://vault_name.vault.azure.net/secrets/name-5663\"}",
        "tags": {},
        "locked": false,
        "last_modified": "2025-09-18T02:51:07+00:00"
      }
    }
  ],
  "Variables": {
    "name-2": "name-2519",
    "name-3": "name-3884",
    "name-5": "name-5663"
  }
}
