{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/name-3765?api-version=2023-11-01&label=label-s",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "name-3765",
        "label": "label-s",
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
        "value": "{\"uri\":\"https://vault_name.vault.azure.net/secrets/name-2356\"}"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"W3TBkkFBPKCRO3l7eQiUcgePUtIRk2o2-v91zriwpEY\"",
        "Last-Modified": "Thu, 18 Sep 2025 02:51:01 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzM4MDIxNzI=;sn=73802172"
      },
      "ResponseBody": {
        "etag": "W3TBkkFBPKCRO3l7eQiUcgePUtIRk2o2-v91zriwpEY",
        "key": "name-3765",
        "label": "label-s",
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
        "value": "{\"uri\":\"https://vault_name.vault.azure.net/secrets/name-2356\"}",
        "tags": {},
        "locked": false,
        "last_modified": "2025-09-18T02:51:01+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/name-3765?api-version=2023-11-01&label=label-s",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzM4MDIxNzI="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"W3TBkkFBPKCRO3l7eQiUcgePUtIRk2o2-v91zriwpEY\"",
        "Last-Modified": "Thu, 18 Sep 2025 02:51:01 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzM4MDIxNzI=;sn=73802172"
      },
      "ResponseBody": {
        "etag": "W3TBkkFBPKCRO3l7eQiUcgePUtIRk2o2-v91zriwpEY",
        "key": "name-3765",
        "label": "label-s",
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
        "value": "{\"uri\":\"https://vault_name.vault.azure.net/secrets/name-2356\"}",
        "tags": {},
        "locked": false,
        "last_modified": "2025-09-18T02:51:01+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/locks/name-3765?api-version=2023-11-01&label=label-s",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzM4MDIxNzI="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"W3TBkkFBPKCRO3l7eQiUcgePUtIRk2o2-v91zriwpEY\"",
        "Last-Modified": "Thu, 18 Sep 2025 02:51:01 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzM4MDIxNzI=;sn=73802172"
      },
      "ResponseBody": {
        "etag": "W3TBkkFBPKCRO3l7eQiUcgePUtIRk2o2-v91zriwpEY",
        "key": "name-3765",
        "label": "label-s",
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
        "value": "{\"uri\":\"https://vault_name.vault.azure.net/secrets/name-2356\"}",
        "tags": {},
        "locked": false,
        "last_modified": "2025-09-18T02:51:01+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/name-3765?api-version=2023-11-01&label=label-s",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzM4MDIxNzI="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"W3TBkkFBPKCRO3l7eQiUcgePUtIRk2o2-v91zriwpEY\"",
        "Last-Modified": "Thu, 18 Sep 2025 02:51:01 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzM4MDIxNzM=;sn=73802173"
      },
      "ResponseBody": {
        "etag": "W3TBkkFBPKCRO3l7eQiUcgePUtIRk2o2-v91zriwpEY",
        "key": "name-3765",
        "label": "label-s",
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
        "value": "{\"uri\":\"https://vault_name.vault.azure.net/secrets/name-2356\"}",
        "tags": {},
        "locked": false,
        "last_modified": "2025-09-18T02:51:01+00:00"
      }
    }
  ],
  "Variables": {
    "name-2": "name-2356",
    "name-3": "name-3765"
  }
}
