{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/name-3221?api-version=2023-11-01&label=label-s",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "name-3221",
        "label": "label-s",
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
        "value": "{\"uri\":\"https://vault_name.vault.azure.net/secrets/name-2804\"}"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"4IUue6W4A_oUBOtLIDjiP7A1sdAfYpbiGkImnndsZz8\"",
        "Last-Modified": "Tue, 08 Oct 2024 17:21:03 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzU5Nzg0OTE0;sn=59784914"
      },
      "ResponseBody": {
        "etag": "4IUue6W4A_oUBOtLIDjiP7A1sdAfYpbiGkImnndsZz8",
        "key": "name-3221",
        "label": "label-s",
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
        "value": "{\"uri\":\"https://vault_name.vault.azure.net/secrets/name-2804\"}",
        "tags": {},
        "locked": false,
        "last_modified": "2024-10-08T17:21:03+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/name-3221?api-version=2023-11-01&label=label-s",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NTo1IzU5Nzg0OTE0"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"4IUue6W4A_oUBOtLIDjiP7A1sdAfYpbiGkImnndsZz8\"",
        "Last-Modified": "Tue, 08 Oct 2024 17:21:03 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzU5Nzg0OTE0;sn=59784914"
      },
      "ResponseBody": {
        "etag": "4IUue6W4A_oUBOtLIDjiP7A1sdAfYpbiGkImnndsZz8",
        "key": "name-3221",
        "label": "label-s",
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
        "value": "{\"uri\":\"https://vault_name.vault.azure.net/secrets/name-2804\"}",
        "tags": {},
        "locked": false,
        "last_modified": "2024-10-08T17:21:03+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/locks/name-3221?api-version=2023-11-01&label=label-s",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NTo1IzU5Nzg0OTE2"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"pJb87t1_qe6-Dj8RFAq8XmAXXKsIB02wOc5VccN4SuQ\"",
        "Last-Modified": "Tue, 08 Oct 2024 17:21:03 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzU5Nzg0OTE2;sn=59784916"
      },
      "ResponseBody": {
        "etag": "pJb87t1_qe6-Dj8RFAq8XmAXXKsIB02wOc5VccN4SuQ",
        "key": "name-3221",
        "label": "label-s",
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
        "value": "{\"uri\":\"https://vault_name.vault.azure.net/secrets/name-412\"}",
        "tags": {},
        "locked": false,
        "last_modified": "2024-10-08T17:21:03+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/name-3221?api-version=2023-11-01&label=label-s",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NTo1IzU5Nzg0OTE2"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"pJb87t1_qe6-Dj8RFAq8XmAXXKsIB02wOc5VccN4SuQ\"",
        "Last-Modified": "Tue, 08 Oct 2024 17:21:03 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzU5Nzg0OTE3;sn=59784917"
      },
      "ResponseBody": {
        "etag": "pJb87t1_qe6-Dj8RFAq8XmAXXKsIB02wOc5VccN4SuQ",
        "key": "name-3221",
        "label": "label-s",
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
        "value": "{\"uri\":\"https://vault_name.vault.azure.net/secrets/name-412\"}",
        "tags": {},
        "locked": false,
        "last_modified": "2024-10-08T17:21:03+00:00"
      }
    }
  ],
  "Variables": {
    "name-2": "name-2804",
    "name-3": "name-3221",
    "name-4": "name-412"
  }
}
