{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/name-3249?api-version=2023-11-01&label=label-s",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "name-3249",
        "label": "label-s",
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
        "value": "{\"uri\":\"https://vault_name.vault.azure.net/secrets/name-2267\"}"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"gxLymF6I7MGRLezSx4_Yt6vLW5XlikbOEGqmAnpzx88\"",
        "Last-Modified": "Tue, 04 Nov 2025 18:41:02 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzUwNjA3NzI=;sn=75060772",
        "x-ms-date": "Tue, 04 Nov 2025 18:41:02 GMT"
      },
      "ResponseBody": {
        "etag": "gxLymF6I7MGRLezSx4_Yt6vLW5XlikbOEGqmAnpzx88",
        "key": "name-3249",
        "label": "label-s",
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
        "value": "{\"uri\":\"https://vault_name.vault.azure.net/secrets/name-2267\"}",
        "tags": {},
        "locked": false,
        "last_modified": "2025-11-04T18:41:02+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/name-3249-2?api-version=2023-11-01&label=label-s",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*",
        "sync-token": "zAJw6V16=MTI6MTkjNzUwNjA3NzI="
      },
      "RequestBody": {
        "key": "name-3249-2",
        "label": "label-s",
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
        "value": "{\"uri\":\"https://vault_name.vault.azure.net/secrets/name-2267\"}"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"X_np3yQOeVI_XaGWhzAPdSpgyei96bqWvWsnJxJ8dBY\"",
        "Last-Modified": "Tue, 04 Nov 2025 18:41:03 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzUwNjA3NzM=;sn=75060773",
        "x-ms-date": "Tue, 04 Nov 2025 18:41:03 GMT"
      },
      "ResponseBody": {
        "etag": "X_np3yQOeVI_XaGWhzAPdSpgyei96bqWvWsnJxJ8dBY",
        "key": "name-3249-2",
        "label": "label-s",
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
        "value": "{\"uri\":\"https://vault_name.vault.azure.net/secrets/name-2267\"}",
        "tags": {},
        "locked": false,
        "last_modified": "2025-11-04T18:41:03+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2023-11-01&key=name-3249*",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzUwNjA3NzM="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"2M4Q006P_y8Q0c2lJtCKlPP5jg-5DIri2D-VNZHRhHo\"",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzUwNjA3NzM=;sn=75060773",
        "x-ms-date": "Tue, 04 Nov 2025 18:41:03 GMT"
      },
      "ResponseBody": {
        "etag": "2M4Q006P_y8Q0c2lJtCKlPP5jg-5DIri2D-VNZHRhHo",
        "items": [
          {
            "etag": "gxLymF6I7MGRLezSx4_Yt6vLW5XlikbOEGqmAnpzx88",
            "key": "name-3249",
            "label": "label-s",
            "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
            "value": "{\"uri\":\"https://vault_name.vault.azure.net/secrets/name-2267\"}",
            "tags": {},
            "locked": false,
            "last_modified": "2025-11-04T18:41:02+00:00"
          },
          {
            "etag": "X_np3yQOeVI_XaGWhzAPdSpgyei96bqWvWsnJxJ8dBY",
            "key": "name-3249-2",
            "label": "label-s",
            "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
            "value": "{\"uri\":\"https://vault_name.vault.azure.net/secrets/name-2267\"}",
            "tags": {},
            "locked": false,
            "last_modified": "2025-11-04T18:41:03+00:00"
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/locks/name-3249-2?api-version=2023-11-01&label=label-s",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzUwNjA3NzQ="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"u7joFPAncZzAOSJgm6qUjoCkJzblnj2PX0uwI0LdsxQ\"",
        "Last-Modified": "Tue, 04 Nov 2025 18:41:03 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzUwNjA3Nzg=;sn=75060778",
        "x-ms-date": "Tue, 04 Nov 2025 18:41:03 GMT"
      },
      "ResponseBody": {
        "etag": "u7joFPAncZzAOSJgm6qUjoCkJzblnj2PX0uwI0LdsxQ",
        "key": "name-3249-2",
        "label": "label-s",
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
        "value": "{\"uri\":\"https://vault_name.vault.azure.net/secrets/name-2267\"}",
        "tags": {},
        "locked": true,
        "last_modified": "2025-11-04T18:41:03+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/name-3249?api-version=2023-11-01&label=label-s",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzUwNjA3ODI="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"AwutxbyqcDhRWNWm6ixCT_8WSlNrRtIUItYHolD8yb8\"",
        "Last-Modified": "Tue, 04 Nov 2025 18:41:03 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzUwNjA3ODM=;sn=75060783",
        "x-ms-date": "Tue, 04 Nov 2025 18:41:04 GMT"
      },
      "ResponseBody": {
        "etag": "AwutxbyqcDhRWNWm6ixCT_8WSlNrRtIUItYHolD8yb8",
        "key": "name-3249",
        "label": "label-s",
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
        "value": "{\"uri\":\"https://vault_name.vault.azure.net/secrets/name-5379\"}",
        "tags": {},
        "locked": false,
        "last_modified": "2025-11-04T18:41:03+00:00"
      }
    }
  ],
  "Variables": {
    "name-2": "name-2267",
    "name-3": "name-3249",
    "name-5": "name-5379"
  }
}
