{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/name-3426?api-version=2023-11-01&label=label-s",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "name-3426",
        "label": "label-s",
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
        "value": "{\"uri\":\"https://vault_name.vault.azure.net/secrets/name-2995\"}"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"840pUx4UhPv8iD09ioCQ7P2EvAEMk1FtoM258reTHNQ\"",
        "Last-Modified": "Tue, 16 Sep 2025 11:37:36 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzM3NDEzOTQ=;sn=73741394"
      },
      "ResponseBody": {
        "etag": "840pUx4UhPv8iD09ioCQ7P2EvAEMk1FtoM258reTHNQ",
        "key": "name-3426",
        "label": "label-s",
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
        "value": "{\"uri\":\"https://vault_name.vault.azure.net/secrets/name-2995\"}",
        "tags": {},
        "locked": false,
        "last_modified": "2025-09-16T11:37:36+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/name-3426?api-version=2023-11-01&label=label-s",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzM3NDEzOTQ="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"840pUx4UhPv8iD09ioCQ7P2EvAEMk1FtoM258reTHNQ\"",
        "Last-Modified": "Tue, 16 Sep 2025 11:37:36 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzM3NDEzOTQ=;sn=73741394"
      },
      "ResponseBody": {
        "etag": "840pUx4UhPv8iD09ioCQ7P2EvAEMk1FtoM258reTHNQ",
        "key": "name-3426",
        "label": "label-s",
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
        "value": "{\"uri\":\"https://vault_name.vault.azure.net/secrets/name-2995\"}",
        "tags": {},
        "locked": false,
        "last_modified": "2025-09-16T11:37:36+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/locks/name-3426?api-version=2023-11-01&label=label-s",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzM3NDEzOTY="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"_tT69E1HQVR4MGh3EWHUUtJIbGLWY-2nVI6usLXEyik\"",
        "Last-Modified": "Tue, 16 Sep 2025 11:37:37 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzM3NDEzOTY=;sn=73741396"
      },
      "ResponseBody": {
        "etag": "_tT69E1HQVR4MGh3EWHUUtJIbGLWY-2nVI6usLXEyik",
        "key": "name-3426",
        "label": "label-s",
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
        "value": "{\"uri\":\"https://vault_name.vault.azure.net/secrets/name-4865\"}",
        "tags": {},
        "locked": false,
        "last_modified": "2025-09-16T11:37:37+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/name-3426?api-version=2023-11-01&label=label-s",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzM3NDEzOTY="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"_tT69E1HQVR4MGh3EWHUUtJIbGLWY-2nVI6usLXEyik\"",
        "Last-Modified": "Tue, 16 Sep 2025 11:37:37 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzM3NDEzOTc=;sn=73741397"
      },
      "ResponseBody": {
        "etag": "_tT69E1HQVR4MGh3EWHUUtJIbGLWY-2nVI6usLXEyik",
        "key": "name-3426",
        "label": "label-s",
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
        "value": "{\"uri\":\"https://vault_name.vault.azure.net/secrets/name-4865\"}",
        "tags": {},
        "locked": false,
        "last_modified": "2025-09-16T11:37:37+00:00"
      }
    }
  ],
  "Variables": {
    "name-2": "name-2995",
    "name-3": "name-3426",
    "name-4": "name-4865"
  }
}
