{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/name-3437?api-version=2023-11-01&label=label-s",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "label": "label-s",
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
        "value": "{\"uri\":\"https://vault_name.vault.azure.net/secrets/name-2869\"}"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"RW0ZE_QrsRGrdHBAmBNLJdh_0X6PwzZYVnPjvyyCyo8\"",
        "Last-Modified": "Thu, 28 May 2026 21:54:00 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzExNTI5MjEzNA==;sn=115292134",
        "x-ms-date": "Thu, 28 May 2026 21:54:00 GMT"
      },
      "ResponseBody": {
        "etag": "RW0ZE_QrsRGrdHBAmBNLJdh_0X6PwzZYVnPjvyyCyo8",
        "key": "name-3437",
        "label": "label-s",
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
        "value": "{\"uri\":\"https://vault_name.vault.azure.net/secrets/name-2869\"}",
        "tags": {},
        "locked": false,
        "last_modified": "2026-05-28T21:54:00+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/name-3437?api-version=2023-11-01&label=label-s",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NTo1IzExNTI5MjEzNA=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"RW0ZE_QrsRGrdHBAmBNLJdh_0X6PwzZYVnPjvyyCyo8\"",
        "Last-Modified": "Thu, 28 May 2026 21:54:00 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzExNTI5MjEzNA==;sn=115292134",
        "x-ms-date": "Thu, 28 May 2026 21:54:00 GMT"
      },
      "ResponseBody": {
        "etag": "RW0ZE_QrsRGrdHBAmBNLJdh_0X6PwzZYVnPjvyyCyo8",
        "key": "name-3437",
        "label": "label-s",
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
        "value": "{\"uri\":\"https://vault_name.vault.azure.net/secrets/name-2869\"}",
        "tags": {},
        "locked": false,
        "last_modified": "2026-05-28T21:54:00+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/locks/name-3437?api-version=2023-11-01&label=label-s",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NTo1IzExNTI5MjEzNA=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"RW0ZE_QrsRGrdHBAmBNLJdh_0X6PwzZYVnPjvyyCyo8\"",
        "Last-Modified": "Thu, 28 May 2026 21:54:00 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzExNTI5MjEzNA==;sn=115292134",
        "x-ms-date": "Thu, 28 May 2026 21:54:00 GMT"
      },
      "ResponseBody": {
        "etag": "RW0ZE_QrsRGrdHBAmBNLJdh_0X6PwzZYVnPjvyyCyo8",
        "key": "name-3437",
        "label": "label-s",
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
        "value": "{\"uri\":\"https://vault_name.vault.azure.net/secrets/name-2869\"}",
        "tags": {},
        "locked": false,
        "last_modified": "2026-05-28T21:54:00+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/name-3437?api-version=2023-11-01&label=label-s",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NTo1IzExNTI5MjEzNA=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"RW0ZE_QrsRGrdHBAmBNLJdh_0X6PwzZYVnPjvyyCyo8\"",
        "Last-Modified": "Thu, 28 May 2026 21:54:00 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzExNTI5MjEzNQ==;sn=115292135",
        "x-ms-date": "Thu, 28 May 2026 21:54:00 GMT"
      },
      "ResponseBody": {
        "etag": "RW0ZE_QrsRGrdHBAmBNLJdh_0X6PwzZYVnPjvyyCyo8",
        "key": "name-3437",
        "label": "label-s",
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
        "value": "{\"uri\":\"https://vault_name.vault.azure.net/secrets/name-2869\"}",
        "tags": {},
        "locked": false,
        "last_modified": "2026-05-28T21:54:00+00:00"
      }
    }
  ],
  "Variables": {
    "name-2": "name-2869",
    "name-3": "name-3437"
  }
}
