{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/name-3530?api-version=2023-11-01&label=label-s",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "name-3530",
        "label": "label-s",
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
        "value": "{\"uri\":\"https://vault_name.vault.azure.net/secrets/name-278\"}"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"S_vLWLatmVCKQmnY1IHFk_Zhk1ig5DiTJWQEK2uffNM\"",
        "Last-Modified": "Thu, 25 Sep 2025 08:59:54 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQwMTYyODQ=;sn=74016284"
      },
      "ResponseBody": {
        "etag": "S_vLWLatmVCKQmnY1IHFk_Zhk1ig5DiTJWQEK2uffNM",
        "key": "name-3530",
        "label": "label-s",
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
        "value": "{\"uri\":\"https://vault_name.vault.azure.net/secrets/name-278\"}",
        "tags": {},
        "locked": false,
        "last_modified": "2025-09-25T08:59:54+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/name-3530-2?api-version=2023-11-01&label=label-s",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*",
        "sync-token": "zAJw6V16=MTI6MTkjNzQwMTYyODQ="
      },
      "RequestBody": {
        "key": "name-3530-2",
        "label": "label-s",
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
        "value": "{\"uri\":\"https://vault_name.vault.azure.net/secrets/name-278\"}"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"PAAiJJqaWCTvVUabM4AOVCjujDO23MlaxOPvRTgn-_g\"",
        "Last-Modified": "Thu, 25 Sep 2025 08:59:54 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQwMTYyODU=;sn=74016285"
      },
      "ResponseBody": {
        "etag": "PAAiJJqaWCTvVUabM4AOVCjujDO23MlaxOPvRTgn-_g",
        "key": "name-3530-2",
        "label": "label-s",
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
        "value": "{\"uri\":\"https://vault_name.vault.azure.net/secrets/name-278\"}",
        "tags": {},
        "locked": false,
        "last_modified": "2025-09-25T08:59:54+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2023-11-01&key=name-3530*",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzQwMTYyODU="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"zboJKMEisTjcSzZU1kGRrKWs4tOOEOsDwyBRSktsgKc\"",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQwMTYyODU=;sn=74016285"
      },
      "ResponseBody": {
        "etag": "zboJKMEisTjcSzZU1kGRrKWs4tOOEOsDwyBRSktsgKc",
        "items": [
          {
            "etag": "S_vLWLatmVCKQmnY1IHFk_Zhk1ig5DiTJWQEK2uffNM",
            "key": "name-3530",
            "label": "label-s",
            "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
            "value": "{\"uri\":\"https://vault_name.vault.azure.net/secrets/name-278\"}",
            "tags": {},
            "locked": false,
            "last_modified": "2025-09-25T08:59:54+00:00"
          },
          {
            "etag": "PAAiJJqaWCTvVUabM4AOVCjujDO23MlaxOPvRTgn-_g",
            "key": "name-3530-2",
            "label": "label-s",
            "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
            "value": "{\"uri\":\"https://vault_name.vault.azure.net/secrets/name-278\"}",
            "tags": {},
            "locked": false,
            "last_modified": "2025-09-25T08:59:54+00:00"
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/locks/name-3530-2?api-version=2023-11-01&label=label-s",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzQwMTYyODY="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"hKShh1OlRvKlLZCE7LSJL1T0bM6dKdUZ5dgN00xV_pQ\"",
        "Last-Modified": "Thu, 25 Sep 2025 08:59:55 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQwMTYyODg=;sn=74016288"
      },
      "ResponseBody": {
        "etag": "hKShh1OlRvKlLZCE7LSJL1T0bM6dKdUZ5dgN00xV_pQ",
        "key": "name-3530-2",
        "label": "label-s",
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
        "value": "{\"uri\":\"https://vault_name.vault.azure.net/secrets/name-278\"}",
        "tags": {},
        "locked": true,
        "last_modified": "2025-09-25T08:59:55+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/name-3530?api-version=2023-11-01&label=label-s",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzQwMTYyOTI="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"tg-WQD2ey-2Sy_IbqF5dSWoRL2xD2KZ9TB_hbTje0_I\"",
        "Last-Modified": "Thu, 25 Sep 2025 08:59:55 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQwMTYyOTM=;sn=74016293"
      },
      "ResponseBody": {
        "etag": "tg-WQD2ey-2Sy_IbqF5dSWoRL2xD2KZ9TB_hbTje0_I",
        "key": "name-3530",
        "label": "label-s",
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
        "value": "{\"uri\":\"https://vault_name.vault.azure.net/secrets/name-5643\"}",
        "tags": {},
        "locked": false,
        "last_modified": "2025-09-25T08:59:55+00:00"
      }
    }
  ],
  "Variables": {
    "name-2": "name-278",
    "name-3": "name-3530",
    "name-5": "name-5643"
  }
}
