{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/name-3197?api-version=2023-11-01&label=label-s",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "name-3197",
        "label": "label-s",
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
        "value": "{\"uri\":\"https://vault_name.vault.azure.net/secrets/name-2267\"}"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"4j_rErq9F0fGT_QlkS0OB3dFuEoD_A5XI1Upn0gGDEk\"",
        "Last-Modified": "Mon, 29 Sep 2025 09:43:50 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQxMDU1ODk=;sn=74105589"
      },
      "ResponseBody": {
        "etag": "4j_rErq9F0fGT_QlkS0OB3dFuEoD_A5XI1Upn0gGDEk",
        "key": "name-3197",
        "label": "label-s",
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
        "value": "{\"uri\":\"https://vault_name.vault.azure.net/secrets/name-2267\"}",
        "tags": {},
        "locked": false,
        "last_modified": "2025-09-29T09:43:50+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/name-3197?api-version=2023-11-01&label=label-s",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzQxMDU1ODk="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"4j_rErq9F0fGT_QlkS0OB3dFuEoD_A5XI1Upn0gGDEk\"",
        "Last-Modified": "Mon, 29 Sep 2025 09:43:50 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQxMDU1ODk=;sn=74105589"
      },
      "ResponseBody": {
        "etag": "4j_rErq9F0fGT_QlkS0OB3dFuEoD_A5XI1Upn0gGDEk",
        "key": "name-3197",
        "label": "label-s",
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
        "value": "{\"uri\":\"https://vault_name.vault.azure.net/secrets/name-2267\"}",
        "tags": {},
        "locked": false,
        "last_modified": "2025-09-29T09:43:50+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/locks/name-3197?api-version=2023-11-01&label=label-s",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzQxMDU1ODk="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"4j_rErq9F0fGT_QlkS0OB3dFuEoD_A5XI1Upn0gGDEk\"",
        "Last-Modified": "Mon, 29 Sep 2025 09:43:50 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQxMDU1ODk=;sn=74105589"
      },
      "ResponseBody": {
        "etag": "4j_rErq9F0fGT_QlkS0OB3dFuEoD_A5XI1Upn0gGDEk",
        "key": "name-3197",
        "label": "label-s",
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
        "value": "{\"uri\":\"https://vault_name.vault.azure.net/secrets/name-2267\"}",
        "tags": {},
        "locked": false,
        "last_modified": "2025-09-29T09:43:50+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/name-3197?api-version=2023-11-01&label=label-s",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzQxMDU1ODk="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"4j_rErq9F0fGT_QlkS0OB3dFuEoD_A5XI1Upn0gGDEk\"",
        "Last-Modified": "Mon, 29 Sep 2025 09:43:50 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQxMDU1OTA=;sn=74105590"
      },
      "ResponseBody": {
        "etag": "4j_rErq9F0fGT_QlkS0OB3dFuEoD_A5XI1Upn0gGDEk",
        "key": "name-3197",
        "label": "label-s",
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
        "value": "{\"uri\":\"https://vault_name.vault.azure.net/secrets/name-2267\"}",
        "tags": {},
        "locked": false,
        "last_modified": "2025-09-29T09:43:50+00:00"
      }
    }
  ],
  "Variables": {
    "name-2": "name-2267",
    "name-3": "name-3197"
  }
}
