{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/name-3820?api-version=2023-11-01&label=label-s",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "name-3820",
        "label": "label-s",
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
        "value": "{\"uri\":\"https://vault_name.vault.azure.net/secrets/name-2593\"}"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"rR8hiEra3qclP4YfG-TDKWcknHou6j6uANt_aE_BIhA\"",
        "Last-Modified": "Tue, 04 Nov 2025 19:11:32 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzUwNjQ0Mzk=;sn=75064439",
        "x-ms-date": "Tue, 04 Nov 2025 19:11:32 GMT"
      },
      "ResponseBody": {
        "etag": "rR8hiEra3qclP4YfG-TDKWcknHou6j6uANt_aE_BIhA",
        "key": "name-3820",
        "label": "label-s",
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
        "value": "{\"uri\":\"https://vault_name.vault.azure.net/secrets/name-2593\"}",
        "tags": {},
        "locked": false,
        "last_modified": "2025-11-04T19:11:32+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/name-3820?api-version=2023-11-01&label=label-s",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzUwNjQ0Mzk="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"rR8hiEra3qclP4YfG-TDKWcknHou6j6uANt_aE_BIhA\"",
        "Last-Modified": "Tue, 04 Nov 2025 19:11:32 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzUwNjQ0Mzk=;sn=75064439",
        "x-ms-date": "Tue, 04 Nov 2025 19:11:32 GMT"
      },
      "ResponseBody": {
        "etag": "rR8hiEra3qclP4YfG-TDKWcknHou6j6uANt_aE_BIhA",
        "key": "name-3820",
        "label": "label-s",
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
        "value": "{\"uri\":\"https://vault_name.vault.azure.net/secrets/name-2593\"}",
        "tags": {},
        "locked": false,
        "last_modified": "2025-11-04T19:11:32+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/locks/name-3820?api-version=2023-11-01&label=label-s",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzUwNjQ0Mzk="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"rR8hiEra3qclP4YfG-TDKWcknHou6j6uANt_aE_BIhA\"",
        "Last-Modified": "Tue, 04 Nov 2025 19:11:32 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzUwNjQ0Mzk=;sn=75064439",
        "x-ms-date": "Tue, 04 Nov 2025 19:11:32 GMT"
      },
      "ResponseBody": {
        "etag": "rR8hiEra3qclP4YfG-TDKWcknHou6j6uANt_aE_BIhA",
        "key": "name-3820",
        "label": "label-s",
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
        "value": "{\"uri\":\"https://vault_name.vault.azure.net/secrets/name-2593\"}",
        "tags": {},
        "locked": false,
        "last_modified": "2025-11-04T19:11:32+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/name-3820?api-version=2023-11-01&label=label-s",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzUwNjQ0Mzk="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"rR8hiEra3qclP4YfG-TDKWcknHou6j6uANt_aE_BIhA\"",
        "Last-Modified": "Tue, 04 Nov 2025 19:11:32 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzUwNjQ0NDA=;sn=75064440",
        "x-ms-date": "Tue, 04 Nov 2025 19:11:33 GMT"
      },
      "ResponseBody": {
        "etag": "rR8hiEra3qclP4YfG-TDKWcknHou6j6uANt_aE_BIhA",
        "key": "name-3820",
        "label": "label-s",
        "content_type": "application/vnd.microsoft.appconfig.keyvaultref+json;charset=utf-8",
        "value": "{\"uri\":\"https://vault_name.vault.azure.net/secrets/name-2593\"}",
        "tags": {},
        "locked": false,
        "last_modified": "2025-11-04T19:11:32+00:00"
      }
    }
  ],
  "Variables": {
    "name-2": "name-2593",
    "name-3": "name-3820"
  }
}
