{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/project/vector_stores?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {},
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "36",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "f183c973-4ba2-475a-b76f-d3cbe12ef41b",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.146"
      },
      "ResponseBody": {
        "id": "vs_joc5RbwueJ0peyViJYPLuZ5f",
        "object": "vector_store",
        "name": null,
        "status": "completed",
        "usage_bytes": 0,
        "created_at": 1746663519,
        "file_counts": {
          "in_progress": 0,
          "completed": 0,
          "failed": 0,
          "cancelled": 0,
          "total": 0
        },
        "metadata": {},
        "expires_after": null,
        "expires_at": null,
        "last_active_at": 1746663519
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/project/files?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "multipart/form-data; boundary=--RecordedTestMultipartBoundary"
      },
      "RequestBody": "LS0tLVJlY29yZGVkVGVzdE11bHRpcGFydEJvdW5kYXJ5DQpjb250ZW50LXR5cGU6IGFwcGxpY2F0aW9uL29jdGV0LXN0cmVhbQ0KY29udGVudC1kaXNwb3NpdGlvbjogZm9ybS1kYXRhOyBuYW1lPSJmaWxlIjsgZmlsZW5hbWU9ImZpbGVuYW1lLnR4dCINCg0KZmlsZUNvbnRlbnQNCi0tLS1SZWNvcmRlZFRlc3RNdWx0aXBhcnRCb3VuZGFyeQ0KY29udGVudC10eXBlOiB0ZXh0L3BsYWluOyBjaGFyc2V0PVVURi04DQpjb250ZW50LWRpc3Bvc2l0aW9uOiBmb3JtLWRhdGE7IG5hbWU9InB1cnBvc2UiDQoNCmFzc2lzdGFudHMNCi0tLS1SZWNvcmRlZFRlc3RNdWx0aXBhcnRCb3VuZGFyeS0tDQoNCg==",
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-processing-ms": "437",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "4c3a5cd7-8863-4175-a828-2fa0601a11f4",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.590"
      },
      "ResponseBody": {
        "object": "file",
        "id": "assistant-5JGza62TE8iDUR69cXDSWS",
        "purpose": "assistants",
        "filename": "filename.txt",
        "bytes": 11,
        "created_at": 1746663519,
        "expires_at": null,
        "status": "processed",
        "status_details": null
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/project/vector_stores/vs_joc5RbwueJ0peyViJYPLuZ5f/files?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "file_id": "assistant-5JGza62TE8iDUR69cXDSWS"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "346",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "9845dcf9-e4cc-4f1e-98f2-773730a9a9d0",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.480"
      },
      "ResponseBody": {
        "id": "assistant-5JGza62TE8iDUR69cXDSWS",
        "object": "vector_store.file",
        "usage_bytes": 0,
        "created_at": 1746663520,
        "vector_store_id": "vs_joc5RbwueJ0peyViJYPLuZ5f",
        "status": "in_progress",
        "last_error": null,
        "chunking_strategy": {
          "type": "static",
          "static": {
            "max_chunk_size_tokens": 800,
            "chunk_overlap_tokens": 400
          }
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/project/vector_stores/vs_joc5RbwueJ0peyViJYPLuZ5f/files/assistant-5JGza62TE8iDUR69cXDSWS?api-version=2025-05-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "80",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "78ed64c3-ac6f-4e6e-8225-14e54ba07dcf",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.199"
      },
      "ResponseBody": {
        "id": "assistant-5JGza62TE8iDUR69cXDSWS",
        "object": "vector_store.file",
        "usage_bytes": 0,
        "created_at": 1746663520,
        "vector_store_id": "vs_joc5RbwueJ0peyViJYPLuZ5f",
        "status": "in_progress",
        "last_error": null,
        "chunking_strategy": {
          "type": "static",
          "static": {
            "max_chunk_size_tokens": 800,
            "chunk_overlap_tokens": 400
          }
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/project/vector_stores/vs_joc5RbwueJ0peyViJYPLuZ5f/files/assistant-5JGza62TE8iDUR69cXDSWS?api-version=2025-05-15-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "120",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "ee9c0380-0291-4bbf-977d-90e7cd0646f5",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.238"
      },
      "ResponseBody": {
        "id": "assistant-5JGza62TE8iDUR69cXDSWS",
        "object": "vector_store.file.deleted",
        "deleted": true
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/project/files/assistant-5JGza62TE8iDUR69cXDSWS?api-version=2025-05-15-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-processing-ms": "942",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "58fb72b7-cb07-489a-8e4d-d0f0057f07ef",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "1.075"
      },
      "ResponseBody": {
        "object": "file",
        "deleted": true,
        "id": "assistant-5JGza62TE8iDUR69cXDSWS"
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/project/vector_stores/vs_joc5RbwueJ0peyViJYPLuZ5f?api-version=2025-05-15-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "662",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "1672490e-e9bc-4217-a30b-c5c39ff1d600",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.804"
      },
      "ResponseBody": {
        "id": "vs_joc5RbwueJ0peyViJYPLuZ5f",
        "object": "vector_store.deleted",
        "deleted": true
      }
    }
  ],
  "Variables": {}
}
