{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/project/vector_stores?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {},
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-02",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "550",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "f34e849e-c1be-49f2-bd76-d1c29deddd40",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.646"
      },
      "ResponseBody": {
        "id": "vs_3zdmdnxh1yAJCxDiO8TIhqBq",
        "object": "vector_store",
        "name": null,
        "status": "completed",
        "usage_bytes": 0,
        "created_at": 1746647359,
        "file_counts": {
          "in_progress": 0,
          "completed": 0,
          "failed": 0,
          "cancelled": 0,
          "total": 0
        },
        "metadata": {},
        "expires_after": null,
        "expires_at": null,
        "last_active_at": 1746647359
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/project/files?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "multipart/form-data; boundary=--RecordedTestMultipartBoundary"
      },
      "RequestBody": "LS0tLVJlY29yZGVkVGVzdE11bHRpcGFydEJvdW5kYXJ5DQpjb250ZW50LXR5cGU6IGFwcGxpY2F0aW9uL29jdGV0LXN0cmVhbQ0KY29udGVudC1kaXNwb3NpdGlvbjogZm9ybS1kYXRhOyBuYW1lPSJmaWxlIjsgZmlsZW5hbWU9ImZpbGVuYW1lLnR4dCINCg0KZmlsZUNvbnRlbnQNCi0tLS1SZWNvcmRlZFRlc3RNdWx0aXBhcnRCb3VuZGFyeQ0KY29udGVudC10eXBlOiB0ZXh0L3BsYWluOyBjaGFyc2V0PVVURi04DQpjb250ZW50LWRpc3Bvc2l0aW9uOiBmb3JtLWRhdGE7IG5hbWU9InB1cnBvc2UiDQoNCmFzc2lzdGFudHMNCi0tLS1SZWNvcmRlZFRlc3RNdWx0aXBhcnRCb3VuZGFyeS0tDQoNCg==",
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-02",
        "Content-Type": "application/json",
        "openai-processing-ms": "655",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "5a5e15d8-000f-4210-affe-c202d306c574",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "1.320"
      },
      "ResponseBody": {
        "object": "file",
        "id": "assistant-1Jo5xATGU1oTT74sMZF4fh",
        "purpose": "assistants",
        "filename": "filename.txt",
        "bytes": 11,
        "created_at": 1746647360,
        "expires_at": null,
        "status": "processed",
        "status_details": null
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/project/vector_stores/vs_3zdmdnxh1yAJCxDiO8TIhqBq/files?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "file_id": "assistant-1Jo5xATGU1oTT74sMZF4fh"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-02",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "260",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "8042b2bf-ecfb-4af5-8ee4-dbeda1cfbdbd",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.404"
      },
      "ResponseBody": {
        "id": "assistant-1Jo5xATGU1oTT74sMZF4fh",
        "object": "vector_store.file",
        "usage_bytes": 0,
        "created_at": 1746647361,
        "vector_store_id": "vs_3zdmdnxh1yAJCxDiO8TIhqBq",
        "status": "in_progress",
        "last_error": null,
        "chunking_strategy": {
          "type": "static",
          "static": {
            "max_chunk_size_tokens": 800,
            "chunk_overlap_tokens": 400
          }
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/project/vector_stores/vs_3zdmdnxh1yAJCxDiO8TIhqBq/files/assistant-1Jo5xATGU1oTT74sMZF4fh?api-version=2025-05-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-02",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "74",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "917f1c72-efce-4d8c-ae1a-7c0a2d85ca54",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.212"
      },
      "ResponseBody": {
        "id": "assistant-1Jo5xATGU1oTT74sMZF4fh",
        "object": "vector_store.file",
        "usage_bytes": 0,
        "created_at": 1746647361,
        "vector_store_id": "vs_3zdmdnxh1yAJCxDiO8TIhqBq",
        "status": "in_progress",
        "last_error": null,
        "chunking_strategy": {
          "type": "static",
          "static": {
            "max_chunk_size_tokens": 800,
            "chunk_overlap_tokens": 400
          }
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/project/vector_stores/vs_3zdmdnxh1yAJCxDiO8TIhqBq/files/assistant-1Jo5xATGU1oTT74sMZF4fh?api-version=2025-05-15-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-02",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "119",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "dfad3974-ae08-4a72-9848-c7eae8128d6d",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.238"
      },
      "ResponseBody": {
        "id": "assistant-1Jo5xATGU1oTT74sMZF4fh",
        "object": "vector_store.file.deleted",
        "deleted": true
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/project/files/assistant-1Jo5xATGU1oTT74sMZF4fh?api-version=2025-05-15-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-02",
        "Content-Type": "application/json",
        "openai-processing-ms": "261",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "44e694b8-86cc-4a2d-be66-91c1b37e6822",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.420"
      },
      "ResponseBody": {
        "object": "file",
        "deleted": true,
        "id": "assistant-1Jo5xATGU1oTT74sMZF4fh"
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/project/vector_stores/vs_3zdmdnxh1yAJCxDiO8TIhqBq?api-version=2025-05-15-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-02",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "582",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "940f7975-1ed4-486b-b598-8865fb4b3e01",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.712"
      },
      "ResponseBody": {
        "id": "vs_3zdmdnxh1yAJCxDiO8TIhqBq",
        "object": "vector_store.deleted",
        "deleted": true
      }
    }
  ],
  "Variables": {}
}
