{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/vector_stores?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {},
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "85",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "fb5be3c9-da6c-4e1e-933f-18b702819c3a",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.196"
      },
      "ResponseBody": {
        "id": "vs_qVoyaTy2wo81HeBfpBvhcwO9",
        "object": "vector_store",
        "name": null,
        "status": "completed",
        "usage_bytes": 0,
        "created_at": 1746746942,
        "file_counts": {
          "in_progress": 0,
          "completed": 0,
          "failed": 0,
          "cancelled": 0,
          "total": 0
        },
        "metadata": {},
        "expires_after": null,
        "expires_at": null,
        "last_active_at": 1746746942
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/files?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "multipart/form-data; boundary=--RecordedTestMultipartBoundary"
      },
      "RequestBody": "LS0tLVJlY29yZGVkVGVzdE11bHRpcGFydEJvdW5kYXJ5DQpjb250ZW50LXR5cGU6IGFwcGxpY2F0aW9uL29jdGV0LXN0cmVhbQ0KY29udGVudC1kaXNwb3NpdGlvbjogZm9ybS1kYXRhOyBuYW1lPSJmaWxlIjsgZmlsZW5hbWU9ImZpbGVuYW1lLnR4dCINCg0KZmlsZUNvbnRlbnQNCi0tLS1SZWNvcmRlZFRlc3RNdWx0aXBhcnRCb3VuZGFyeQ0KY29udGVudC10eXBlOiB0ZXh0L3BsYWluOyBjaGFyc2V0PVVURi04DQpjb250ZW50LWRpc3Bvc2l0aW9uOiBmb3JtLWRhdGE7IG5hbWU9InB1cnBvc2UiDQoNCmFzc2lzdGFudHMNCi0tLS1SZWNvcmRlZFRlc3RNdWx0aXBhcnRCb3VuZGFyeS0tDQoNCg==",
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-processing-ms": "606",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "0e66ba68-98c6-4a82-b384-b3ee071c311d",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.756"
      },
      "ResponseBody": {
        "object": "file",
        "id": "assistant-G1kdtcz16YYhMr3bfchMgv",
        "purpose": "assistants",
        "filename": "filename.txt",
        "bytes": 11,
        "created_at": 1746746943,
        "expires_at": null,
        "status": "processed",
        "status_details": null
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/vector_stores/vs_qVoyaTy2wo81HeBfpBvhcwO9/files?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "file_id": "assistant-G1kdtcz16YYhMr3bfchMgv"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "307",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "0e5fbbee-6e2f-41dd-8331-084d0540b42b",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.434"
      },
      "ResponseBody": {
        "id": "assistant-G1kdtcz16YYhMr3bfchMgv",
        "object": "vector_store.file",
        "usage_bytes": 0,
        "created_at": 1746746944,
        "vector_store_id": "vs_qVoyaTy2wo81HeBfpBvhcwO9",
        "status": "in_progress",
        "last_error": null,
        "chunking_strategy": {
          "type": "static",
          "static": {
            "max_chunk_size_tokens": 800,
            "chunk_overlap_tokens": 400
          }
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/vector_stores/vs_qVoyaTy2wo81HeBfpBvhcwO9/files/assistant-G1kdtcz16YYhMr3bfchMgv?api-version=2025-05-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "100",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "41b887a6-3b4b-47ac-9b75-dea4e1a91235",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.211"
      },
      "ResponseBody": {
        "id": "assistant-G1kdtcz16YYhMr3bfchMgv",
        "object": "vector_store.file",
        "usage_bytes": 1035,
        "created_at": 1746746944,
        "vector_store_id": "vs_qVoyaTy2wo81HeBfpBvhcwO9",
        "status": "completed",
        "last_error": null,
        "chunking_strategy": {
          "type": "static",
          "static": {
            "max_chunk_size_tokens": 800,
            "chunk_overlap_tokens": 400
          }
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/vector_stores/vs_qVoyaTy2wo81HeBfpBvhcwO9/files/assistant-G1kdtcz16YYhMr3bfchMgv?api-version=2025-05-15-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "118",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "6c936934-0be9-494c-839d-efaee1b2eceb",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.267"
      },
      "ResponseBody": {
        "id": "assistant-G1kdtcz16YYhMr3bfchMgv",
        "object": "vector_store.file.deleted",
        "deleted": true
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/files/assistant-G1kdtcz16YYhMr3bfchMgv?api-version=2025-05-15-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-processing-ms": "246",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "ea9fb524-6255-42b8-812e-0f12e0083678",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.409"
      },
      "ResponseBody": {
        "object": "file",
        "deleted": true,
        "id": "assistant-G1kdtcz16YYhMr3bfchMgv"
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/vector_stores/vs_qVoyaTy2wo81HeBfpBvhcwO9?api-version=2025-05-15-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "616",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "a8fe52c3-05b1-4fa9-a7c3-d8ca4fcb4f69",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.738"
      },
      "ResponseBody": {
        "id": "vs_qVoyaTy2wo81HeBfpBvhcwO9",
        "object": "vector_store.deleted",
        "deleted": true
      }
    }
  ],
  "Variables": {}
}
