{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/vector_stores?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {},
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-02",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "84",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "84aadce0-f56d-4b0e-9782-d4a2ce5cb218",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.344"
      },
      "ResponseBody": {
        "id": "vs_NQgBlhhJIktmQzIS2K5hZ06c",
        "object": "vector_store",
        "name": null,
        "status": "completed",
        "usage_bytes": 0,
        "created_at": 1747727597,
        "file_counts": {
          "in_progress": 0,
          "completed": 0,
          "failed": 0,
          "cancelled": 0,
          "total": 0
        },
        "metadata": {},
        "expires_after": null,
        "expires_at": null,
        "last_active_at": 1747727597
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/files?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "multipart/form-data; boundary=--RecordedTestMultipartBoundary"
      },
      "RequestBody": "LS0tLVJlY29yZGVkVGVzdE11bHRpcGFydEJvdW5kYXJ5DQpjb250ZW50LXR5cGU6IGFwcGxpY2F0aW9uL29jdGV0LXN0cmVhbQ0KY29udGVudC1kaXNwb3NpdGlvbjogZm9ybS1kYXRhOyBuYW1lPSJmaWxlIjsgZmlsZW5hbWU9ImZpbGVuYW1lLnR4dCINCg0KZmlsZUNvbnRlbnQNCi0tLS1SZWNvcmRlZFRlc3RNdWx0aXBhcnRCb3VuZGFyeQ0KY29udGVudC10eXBlOiB0ZXh0L3BsYWluOyBjaGFyc2V0PVVURi04DQpjb250ZW50LWRpc3Bvc2l0aW9uOiBmb3JtLWRhdGE7IG5hbWU9InB1cnBvc2UiDQoNCmFzc2lzdGFudHMNCi0tLS1SZWNvcmRlZFRlc3RNdWx0aXBhcnRCb3VuZGFyeS0tDQoNCg==",
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-02",
        "Content-Type": "application/json",
        "openai-processing-ms": "309",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "afef6641-767b-495e-a179-cc0b199cfff4",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.601"
      },
      "ResponseBody": {
        "object": "file",
        "id": "assistant-HcWRd3Csen3o66Gbqe4kdK",
        "purpose": "assistants",
        "filename": "filename.txt",
        "bytes": 11,
        "created_at": 1747727598,
        "expires_at": null,
        "status": "processed",
        "status_details": null
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/vector_stores/vs_NQgBlhhJIktmQzIS2K5hZ06c/files?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "file_id": "assistant-HcWRd3Csen3o66Gbqe4kdK"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-02",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "400",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "b1388800-0d84-4150-8f4b-bc997fc397a6",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.741"
      },
      "ResponseBody": {
        "id": "assistant-HcWRd3Csen3o66Gbqe4kdK",
        "object": "vector_store.file",
        "usage_bytes": 0,
        "created_at": 1747727598,
        "vector_store_id": "vs_NQgBlhhJIktmQzIS2K5hZ06c",
        "status": "in_progress",
        "last_error": null,
        "chunking_strategy": {
          "type": "static",
          "static": {
            "max_chunk_size_tokens": 800,
            "chunk_overlap_tokens": 400
          }
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/vector_stores/vs_NQgBlhhJIktmQzIS2K5hZ06c/files/assistant-HcWRd3Csen3o66Gbqe4kdK?api-version=2025-05-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-02",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "112",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "458c6a12-3e97-4646-845c-3ef21c8cebba",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.492"
      },
      "ResponseBody": {
        "id": "assistant-HcWRd3Csen3o66Gbqe4kdK",
        "object": "vector_store.file",
        "usage_bytes": 1035,
        "created_at": 1747727598,
        "vector_store_id": "vs_NQgBlhhJIktmQzIS2K5hZ06c",
        "status": "completed",
        "last_error": null,
        "chunking_strategy": {
          "type": "static",
          "static": {
            "max_chunk_size_tokens": 800,
            "chunk_overlap_tokens": 400
          }
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/vector_stores/vs_NQgBlhhJIktmQzIS2K5hZ06c/files/assistant-HcWRd3Csen3o66Gbqe4kdK?api-version=2025-05-15-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-02",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "190",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "ff9f4bb7-4a7a-402c-9e37-164577b43a83",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.525"
      },
      "ResponseBody": {
        "id": "assistant-HcWRd3Csen3o66Gbqe4kdK",
        "object": "vector_store.file.deleted",
        "deleted": true
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/files/assistant-HcWRd3Csen3o66Gbqe4kdK?api-version=2025-05-15-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-02",
        "Content-Type": "application/json",
        "openai-processing-ms": "326",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "1e254ebd-b753-4207-8bfb-6fbbefe28c0a",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.720"
      },
      "ResponseBody": {
        "object": "file",
        "deleted": true,
        "id": "assistant-HcWRd3Csen3o66Gbqe4kdK"
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/vector_stores/vs_NQgBlhhJIktmQzIS2K5hZ06c?api-version=2025-05-15-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-02",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "2301",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "d5b13261-c580-4656-90f8-64651c20efb1",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "2.651"
      },
      "ResponseBody": {
        "id": "vs_NQgBlhhJIktmQzIS2K5hZ06c",
        "object": "vector_store.deleted",
        "deleted": true
      }
    }
  ],
  "Variables": {}
}
