{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/vector_stores?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {},
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "95",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "0e9a3e90-259f-4829-b7ea-90f58b98f9e6",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.488"
      },
      "ResponseBody": {
        "id": "vs_0vJo03ywVDfgfjHmbcrehbF0",
        "object": "vector_store",
        "name": null,
        "status": "completed",
        "usage_bytes": 0,
        "created_at": 1747768368,
        "file_counts": {
          "in_progress": 0,
          "completed": 0,
          "failed": 0,
          "cancelled": 0,
          "total": 0
        },
        "metadata": {},
        "expires_after": null,
        "expires_at": null,
        "last_active_at": 1747768368
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/files?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "multipart/form-data; boundary=--RecordedTestMultipartBoundary"
      },
      "RequestBody": "LS0tLVJlY29yZGVkVGVzdE11bHRpcGFydEJvdW5kYXJ5DQpjb250ZW50LXR5cGU6IGFwcGxpY2F0aW9uL29jdGV0LXN0cmVhbQ0KY29udGVudC1kaXNwb3NpdGlvbjogZm9ybS1kYXRhOyBuYW1lPSJmaWxlIjsgZmlsZW5hbWU9ImZpbGVuYW1lLnR4dCINCg0KZmlsZUNvbnRlbnQNCi0tLS1SZWNvcmRlZFRlc3RNdWx0aXBhcnRCb3VuZGFyeQ0KY29udGVudC10eXBlOiB0ZXh0L3BsYWluOyBjaGFyc2V0PVVURi04DQpjb250ZW50LWRpc3Bvc2l0aW9uOiBmb3JtLWRhdGE7IG5hbWU9InB1cnBvc2UiDQoNCmFzc2lzdGFudHMNCi0tLS1SZWNvcmRlZFRlc3RNdWx0aXBhcnRCb3VuZGFyeS0tDQoNCg==",
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-processing-ms": "862",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "670d1f44-b08d-4662-a868-56ca00921b18",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "1.308"
      },
      "ResponseBody": {
        "object": "file",
        "id": "assistant-AcFTZfoacpJq82DVM7Ntka",
        "purpose": "assistants",
        "filename": "filename.txt",
        "bytes": 11,
        "created_at": 1747768369,
        "expires_at": null,
        "status": "processed",
        "status_details": null
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/vector_stores/vs_0vJo03ywVDfgfjHmbcrehbF0/files?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "file_id": "assistant-AcFTZfoacpJq82DVM7Ntka"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "346",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "d51096cc-d914-4a2a-82bf-eabe7b606fa6",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.665"
      },
      "ResponseBody": {
        "id": "assistant-AcFTZfoacpJq82DVM7Ntka",
        "object": "vector_store.file",
        "usage_bytes": 0,
        "created_at": 1747768370,
        "vector_store_id": "vs_0vJo03ywVDfgfjHmbcrehbF0",
        "status": "in_progress",
        "last_error": null,
        "chunking_strategy": {
          "type": "static",
          "static": {
            "max_chunk_size_tokens": 800,
            "chunk_overlap_tokens": 400
          }
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/vector_stores/vs_0vJo03ywVDfgfjHmbcrehbF0/files/assistant-AcFTZfoacpJq82DVM7Ntka?api-version=2025-05-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "185",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "817f3595-51aa-4f42-8e7f-dc5ee249a8c9",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.586"
      },
      "ResponseBody": {
        "id": "assistant-AcFTZfoacpJq82DVM7Ntka",
        "object": "vector_store.file",
        "usage_bytes": 1035,
        "created_at": 1747768370,
        "vector_store_id": "vs_0vJo03ywVDfgfjHmbcrehbF0",
        "status": "completed",
        "last_error": null,
        "chunking_strategy": {
          "type": "static",
          "static": {
            "max_chunk_size_tokens": 800,
            "chunk_overlap_tokens": 400
          }
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/vector_stores/vs_0vJo03ywVDfgfjHmbcrehbF0/files/assistant-AcFTZfoacpJq82DVM7Ntka?api-version=2025-05-15-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-02",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "198",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "8508de23-1a35-4ca9-9655-4be071b961a8",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.429"
      },
      "ResponseBody": {
        "id": "assistant-AcFTZfoacpJq82DVM7Ntka",
        "object": "vector_store.file.deleted",
        "deleted": true
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/files/assistant-AcFTZfoacpJq82DVM7Ntka?api-version=2025-05-15-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-02",
        "Content-Type": "application/json",
        "openai-processing-ms": "855",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "512b3fbf-5da1-48a0-921f-b85f9c3dca5d",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "1.095"
      },
      "ResponseBody": {
        "object": "file",
        "deleted": true,
        "id": "assistant-AcFTZfoacpJq82DVM7Ntka"
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/vector_stores/vs_0vJo03ywVDfgfjHmbcrehbF0?api-version=2025-05-15-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-02",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "2232",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "fd81d64c-1fb3-4cb9-9a80-b018826b3022",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "2.413"
      },
      "ResponseBody": {
        "id": "vs_0vJo03ywVDfgfjHmbcrehbF0",
        "object": "vector_store.deleted",
        "deleted": true
      }
    }
  ],
  "Variables": {}
}
