{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/project/vector_stores?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {},
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "81",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "352bad99-7d54-42ee-ae45-8f2641ecfe4a",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.196"
      },
      "ResponseBody": {
        "id": "vs_Xp60IxUNxC5KRm5BhgjhKqOG",
        "object": "vector_store",
        "name": null,
        "status": "completed",
        "usage_bytes": 0,
        "created_at": 1746740418,
        "file_counts": {
          "in_progress": 0,
          "completed": 0,
          "failed": 0,
          "cancelled": 0,
          "total": 0
        },
        "metadata": {},
        "expires_after": null,
        "expires_at": null,
        "last_active_at": 1746740418
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/project/files?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "multipart/form-data; boundary=--RecordedTestMultipartBoundary"
      },
      "RequestBody": "LS0tLVJlY29yZGVkVGVzdE11bHRpcGFydEJvdW5kYXJ5DQpjb250ZW50LXR5cGU6IGFwcGxpY2F0aW9uL29jdGV0LXN0cmVhbQ0KY29udGVudC1kaXNwb3NpdGlvbjogZm9ybS1kYXRhOyBuYW1lPSJmaWxlIjsgZmlsZW5hbWU9ImZpbGVuYW1lLnR4dCINCg0KZmlsZUNvbnRlbnQNCi0tLS1SZWNvcmRlZFRlc3RNdWx0aXBhcnRCb3VuZGFyeQ0KY29udGVudC10eXBlOiB0ZXh0L3BsYWluOyBjaGFyc2V0PVVURi04DQpjb250ZW50LWRpc3Bvc2l0aW9uOiBmb3JtLWRhdGE7IG5hbWU9InB1cnBvc2UiDQoNCmFzc2lzdGFudHMNCi0tLS1SZWNvcmRlZFRlc3RNdWx0aXBhcnRCb3VuZGFyeS0tDQoNCg==",
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-processing-ms": "392",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "0e888a3f-38df-4637-a517-afd84db1afa3",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.665"
      },
      "ResponseBody": {
        "object": "file",
        "id": "assistant-NkgiGvA9MY1qC974rQQ266",
        "purpose": "assistants",
        "filename": "filename.txt",
        "bytes": 11,
        "created_at": 1746740418,
        "expires_at": null,
        "status": "processed",
        "status_details": null
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/project/vector_stores/vs_Xp60IxUNxC5KRm5BhgjhKqOG/files?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "file_id": "assistant-NkgiGvA9MY1qC974rQQ266"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "310",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "501f54a8-67d8-4552-a3e5-78581c34b6d9",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.435"
      },
      "ResponseBody": {
        "id": "assistant-NkgiGvA9MY1qC974rQQ266",
        "object": "vector_store.file",
        "usage_bytes": 0,
        "created_at": 1746740419,
        "vector_store_id": "vs_Xp60IxUNxC5KRm5BhgjhKqOG",
        "status": "in_progress",
        "last_error": null,
        "chunking_strategy": {
          "type": "static",
          "static": {
            "max_chunk_size_tokens": 800,
            "chunk_overlap_tokens": 400
          }
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/project/vector_stores/vs_Xp60IxUNxC5KRm5BhgjhKqOG/files/assistant-NkgiGvA9MY1qC974rQQ266?api-version=2025-05-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-02",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "37",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "c80f5b7e-f629-4212-a56c-00436d11d5c1",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.169"
      },
      "ResponseBody": {
        "id": "assistant-NkgiGvA9MY1qC974rQQ266",
        "object": "vector_store.file",
        "usage_bytes": 0,
        "created_at": 1746740419,
        "vector_store_id": "vs_Xp60IxUNxC5KRm5BhgjhKqOG",
        "status": "in_progress",
        "last_error": null,
        "chunking_strategy": {
          "type": "static",
          "static": {
            "max_chunk_size_tokens": 800,
            "chunk_overlap_tokens": 400
          }
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/project/vector_stores/vs_Xp60IxUNxC5KRm5BhgjhKqOG/files/assistant-NkgiGvA9MY1qC974rQQ266?api-version=2025-05-15-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "313",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "b1bea958-5a4f-453b-a11c-86786211eccc",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.490"
      },
      "ResponseBody": {
        "id": "assistant-NkgiGvA9MY1qC974rQQ266",
        "object": "vector_store.file.deleted",
        "deleted": true
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/project/files/assistant-NkgiGvA9MY1qC974rQQ266?api-version=2025-05-15-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-processing-ms": "235",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "bafd879d-9dff-4b1a-837f-ef8ea62031d7",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.413"
      },
      "ResponseBody": {
        "object": "file",
        "deleted": true,
        "id": "assistant-NkgiGvA9MY1qC974rQQ266"
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/project/vector_stores/vs_Xp60IxUNxC5KRm5BhgjhKqOG?api-version=2025-05-15-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "1532",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "d45ac721-e46c-419f-b2bf-f09c91f18a5b",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "1.667"
      },
      "ResponseBody": {
        "id": "vs_Xp60IxUNxC5KRm5BhgjhKqOG",
        "object": "vector_store.deleted",
        "deleted": true
      }
    }
  ],
  "Variables": {}
}
