{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/vector_stores?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {},
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-02",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "2388",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "ef12d9a6-97ad-4932-b409-80c86f67c6ed",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "2.674"
      },
      "ResponseBody": {
        "id": "vs_lQb8LMb47SUfYsiUzrTXIXmy",
        "object": "vector_store",
        "name": null,
        "status": "completed",
        "usage_bytes": 0,
        "created_at": 1747677614,
        "file_counts": {
          "in_progress": 0,
          "completed": 0,
          "failed": 0,
          "cancelled": 0,
          "total": 0
        },
        "metadata": {},
        "expires_after": null,
        "expires_at": null,
        "last_active_at": 1747677614
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/files?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "multipart/form-data; boundary=--RecordedTestMultipartBoundary"
      },
      "RequestBody": "LS0tLVJlY29yZGVkVGVzdE11bHRpcGFydEJvdW5kYXJ5DQpjb250ZW50LXR5cGU6IGFwcGxpY2F0aW9uL29jdGV0LXN0cmVhbQ0KY29udGVudC1kaXNwb3NpdGlvbjogZm9ybS1kYXRhOyBuYW1lPSJmaWxlIjsgZmlsZW5hbWU9ImZpbGVuYW1lLnR4dCINCg0KZmlsZUNvbnRlbnQNCi0tLS1SZWNvcmRlZFRlc3RNdWx0aXBhcnRCb3VuZGFyeQ0KY29udGVudC10eXBlOiB0ZXh0L3BsYWluOyBjaGFyc2V0PVVURi04DQpjb250ZW50LWRpc3Bvc2l0aW9uOiBmb3JtLWRhdGE7IG5hbWU9InB1cnBvc2UiDQoNCmFzc2lzdGFudHMNCi0tLS1SZWNvcmRlZFRlc3RNdWx0aXBhcnRCb3VuZGFyeS0tDQoNCg==",
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-02",
        "Content-Type": "application/json",
        "openai-processing-ms": "474",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "662f08a2-74cd-46cf-8b55-fcf807beee79",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.696"
      },
      "ResponseBody": {
        "object": "file",
        "id": "assistant-BXVt29u4T2JpusBNneUyiG",
        "purpose": "assistants",
        "filename": "filename.txt",
        "bytes": 11,
        "created_at": 1747677615,
        "expires_at": null,
        "status": "processed",
        "status_details": null
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/vector_stores/vs_lQb8LMb47SUfYsiUzrTXIXmy/files?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "file_id": "assistant-BXVt29u4T2JpusBNneUyiG"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-02",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "2304",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "affbb4ff-8e48-482b-981c-06528727d22b",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "2.753"
      },
      "ResponseBody": {
        "id": "assistant-BXVt29u4T2JpusBNneUyiG",
        "object": "vector_store.file",
        "usage_bytes": 0,
        "created_at": 1747677618,
        "vector_store_id": "vs_lQb8LMb47SUfYsiUzrTXIXmy",
        "status": "in_progress",
        "last_error": null,
        "chunking_strategy": {
          "type": "static",
          "static": {
            "max_chunk_size_tokens": 800,
            "chunk_overlap_tokens": 400
          }
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/vector_stores/vs_lQb8LMb47SUfYsiUzrTXIXmy/files/assistant-BXVt29u4T2JpusBNneUyiG?api-version=2025-05-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-02",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "140",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "dad7be92-ac0d-4fae-9cea-9fe277a181c4",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.301"
      },
      "ResponseBody": {
        "id": "assistant-BXVt29u4T2JpusBNneUyiG",
        "object": "vector_store.file",
        "usage_bytes": 1035,
        "created_at": 1747677618,
        "vector_store_id": "vs_lQb8LMb47SUfYsiUzrTXIXmy",
        "status": "completed",
        "last_error": null,
        "chunking_strategy": {
          "type": "static",
          "static": {
            "max_chunk_size_tokens": 800,
            "chunk_overlap_tokens": 400
          }
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/vector_stores/vs_lQb8LMb47SUfYsiUzrTXIXmy/files/assistant-BXVt29u4T2JpusBNneUyiG?api-version=2025-05-15-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-02",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "119",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "3fe0c1a5-1c63-4190-8b2d-f7274aed70bc",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.385"
      },
      "ResponseBody": {
        "id": "assistant-BXVt29u4T2JpusBNneUyiG",
        "object": "vector_store.file.deleted",
        "deleted": true
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/files/assistant-BXVt29u4T2JpusBNneUyiG?api-version=2025-05-15-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-02",
        "Content-Type": "application/json",
        "openai-processing-ms": "431",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "94c0b8dc-71c9-44ad-b7ef-8c581560fe31",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.738"
      },
      "ResponseBody": {
        "object": "file",
        "deleted": true,
        "id": "assistant-BXVt29u4T2JpusBNneUyiG"
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/vector_stores/vs_lQb8LMb47SUfYsiUzrTXIXmy?api-version=2025-05-15-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-02",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "615",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "45aca213-284f-477b-ac11-7054e01b6387",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.744"
      },
      "ResponseBody": {
        "id": "vs_lQb8LMb47SUfYsiUzrTXIXmy",
        "object": "vector_store.deleted",
        "deleted": true
      }
    }
  ],
  "Variables": {}
}
