{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/vector_stores?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {},
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "36",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "25765c92-5c2d-43d7-b31e-74dac0c30760",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.329"
      },
      "ResponseBody": {
        "id": "vs_Ob4V0xpcoRLs5H06VIuxSnaq",
        "object": "vector_store",
        "name": null,
        "status": "completed",
        "usage_bytes": 0,
        "created_at": 1747428424,
        "file_counts": {
          "in_progress": 0,
          "completed": 0,
          "failed": 0,
          "cancelled": 0,
          "total": 0
        },
        "metadata": {},
        "expires_after": null,
        "expires_at": null,
        "last_active_at": 1747428424
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/files?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "multipart/form-data; boundary=--RecordedTestMultipartBoundary"
      },
      "RequestBody": "LS0tLVJlY29yZGVkVGVzdE11bHRpcGFydEJvdW5kYXJ5DQpjb250ZW50LXR5cGU6IGFwcGxpY2F0aW9uL29jdGV0LXN0cmVhbQ0KY29udGVudC1kaXNwb3NpdGlvbjogZm9ybS1kYXRhOyBuYW1lPSJmaWxlIjsgZmlsZW5hbWU9ImZpbGVuYW1lLnR4dCINCg0KZmlsZUNvbnRlbnQNCi0tLS1SZWNvcmRlZFRlc3RNdWx0aXBhcnRCb3VuZGFyeQ0KY29udGVudC10eXBlOiB0ZXh0L3BsYWluOyBjaGFyc2V0PVVURi04DQpjb250ZW50LWRpc3Bvc2l0aW9uOiBmb3JtLWRhdGE7IG5hbWU9InB1cnBvc2UiDQoNCmFzc2lzdGFudHMNCi0tLS1SZWNvcmRlZFRlc3RNdWx0aXBhcnRCb3VuZGFyeS0tDQoNCg==",
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-processing-ms": "241",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "bb8638d7-9e93-4356-b738-c6968226fda8",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.584"
      },
      "ResponseBody": {
        "object": "file",
        "id": "assistant-ET3ZdxV3u7b7grFw5roxKK",
        "purpose": "assistants",
        "filename": "filename.txt",
        "bytes": 11,
        "created_at": 1747428425,
        "expires_at": null,
        "status": "processed",
        "status_details": null
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/vector_stores/vs_Ob4V0xpcoRLs5H06VIuxSnaq/files?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "file_id": "assistant-ET3ZdxV3u7b7grFw5roxKK"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "283",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "f17ff05f-f09b-4275-9206-93f9f4cf9c20",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.724"
      },
      "ResponseBody": {
        "id": "assistant-ET3ZdxV3u7b7grFw5roxKK",
        "object": "vector_store.file",
        "usage_bytes": 0,
        "created_at": 1747428426,
        "vector_store_id": "vs_Ob4V0xpcoRLs5H06VIuxSnaq",
        "status": "in_progress",
        "last_error": null,
        "chunking_strategy": {
          "type": "static",
          "static": {
            "max_chunk_size_tokens": 800,
            "chunk_overlap_tokens": 400
          }
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/vector_stores/vs_Ob4V0xpcoRLs5H06VIuxSnaq/files/assistant-ET3ZdxV3u7b7grFw5roxKK?api-version=2025-05-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "71",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "0b90c65d-5d77-4830-9ee3-08f24aff02ca",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.392"
      },
      "ResponseBody": {
        "id": "assistant-ET3ZdxV3u7b7grFw5roxKK",
        "object": "vector_store.file",
        "usage_bytes": 1035,
        "created_at": 1747428426,
        "vector_store_id": "vs_Ob4V0xpcoRLs5H06VIuxSnaq",
        "status": "completed",
        "last_error": null,
        "chunking_strategy": {
          "type": "static",
          "static": {
            "max_chunk_size_tokens": 800,
            "chunk_overlap_tokens": 400
          }
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/vector_stores/vs_Ob4V0xpcoRLs5H06VIuxSnaq/files/assistant-ET3ZdxV3u7b7grFw5roxKK?api-version=2025-05-15-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "195",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "b5dee708-aba6-4575-ac8f-4378dfe1abb5",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.578"
      },
      "ResponseBody": {
        "id": "assistant-ET3ZdxV3u7b7grFw5roxKK",
        "object": "vector_store.file.deleted",
        "deleted": true
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/files/assistant-ET3ZdxV3u7b7grFw5roxKK?api-version=2025-05-15-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-processing-ms": "389",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "2132f448-0a40-4258-9f8b-6033c2c9f9cb",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.712"
      },
      "ResponseBody": {
        "object": "file",
        "deleted": true,
        "id": "assistant-ET3ZdxV3u7b7grFw5roxKK"
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/vector_stores/vs_Ob4V0xpcoRLs5H06VIuxSnaq?api-version=2025-05-15-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "2216",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "3a08d75c-4d18-4923-b88b-e4a502b14e1d",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "2.608"
      },
      "ResponseBody": {
        "id": "vs_Ob4V0xpcoRLs5H06VIuxSnaq",
        "object": "vector_store.deleted",
        "deleted": true
      }
    }
  ],
  "Variables": {}
}
