{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/vector_stores?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {},
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "222",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "90b1d156-e0e6-4b27-ab0a-bd223cd00947",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.536"
      },
      "ResponseBody": {
        "id": "vs_oICHoEGKNyDiwzP9vxtRxPKS",
        "object": "vector_store",
        "name": null,
        "status": "completed",
        "usage_bytes": 0,
        "created_at": 1747768391,
        "file_counts": {
          "in_progress": 0,
          "completed": 0,
          "failed": 0,
          "cancelled": 0,
          "total": 0
        },
        "metadata": {},
        "expires_after": null,
        "expires_at": null,
        "last_active_at": 1747768391
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/files?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "multipart/form-data; boundary=--RecordedTestMultipartBoundary"
      },
      "RequestBody": "LS0tLVJlY29yZGVkVGVzdE11bHRpcGFydEJvdW5kYXJ5DQpjb250ZW50LXR5cGU6IGFwcGxpY2F0aW9uL29jdGV0LXN0cmVhbQ0KY29udGVudC1kaXNwb3NpdGlvbjogZm9ybS1kYXRhOyBuYW1lPSJmaWxlIjsgZmlsZW5hbWU9ImZpbGVuYW1lLnR4dCINCg0KZmlsZUNvbnRlbnQNCi0tLS1SZWNvcmRlZFRlc3RNdWx0aXBhcnRCb3VuZGFyeQ0KY29udGVudC10eXBlOiB0ZXh0L3BsYWluOyBjaGFyc2V0PVVURi04DQpjb250ZW50LWRpc3Bvc2l0aW9uOiBmb3JtLWRhdGE7IG5hbWU9InB1cnBvc2UiDQoNCmFzc2lzdGFudHMNCi0tLS1SZWNvcmRlZFRlc3RNdWx0aXBhcnRCb3VuZGFyeS0tDQoNCg==",
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-processing-ms": "475",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "7a2d3368-6216-4136-86b1-8417661bb6c8",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.784"
      },
      "ResponseBody": {
        "object": "file",
        "id": "assistant-X96hGBNh8bon4jkiBBZgcE",
        "purpose": "assistants",
        "filename": "filename.txt",
        "bytes": 11,
        "created_at": 1747768392,
        "expires_at": null,
        "status": "processed",
        "status_details": null
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/vector_stores/vs_oICHoEGKNyDiwzP9vxtRxPKS/files?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "file_id": "assistant-X96hGBNh8bon4jkiBBZgcE"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "314",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "8f8a50b6-966b-4129-8237-b72da252e2f4",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.802"
      },
      "ResponseBody": {
        "id": "assistant-X96hGBNh8bon4jkiBBZgcE",
        "object": "vector_store.file",
        "usage_bytes": 0,
        "created_at": 1747768393,
        "vector_store_id": "vs_oICHoEGKNyDiwzP9vxtRxPKS",
        "status": "in_progress",
        "last_error": null,
        "chunking_strategy": {
          "type": "static",
          "static": {
            "max_chunk_size_tokens": 800,
            "chunk_overlap_tokens": 400
          }
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/vector_stores/vs_oICHoEGKNyDiwzP9vxtRxPKS/files/assistant-X96hGBNh8bon4jkiBBZgcE?api-version=2025-05-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "91",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "12a524f5-c7ba-4380-b152-52cfdf2e42d5",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.413"
      },
      "ResponseBody": {
        "id": "assistant-X96hGBNh8bon4jkiBBZgcE",
        "object": "vector_store.file",
        "usage_bytes": 1035,
        "created_at": 1747768393,
        "vector_store_id": "vs_oICHoEGKNyDiwzP9vxtRxPKS",
        "status": "completed",
        "last_error": null,
        "chunking_strategy": {
          "type": "static",
          "static": {
            "max_chunk_size_tokens": 800,
            "chunk_overlap_tokens": 400
          }
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/vector_stores/vs_oICHoEGKNyDiwzP9vxtRxPKS/files/assistant-X96hGBNh8bon4jkiBBZgcE?api-version=2025-05-15-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "123",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "1331a02d-122b-4a36-bf3c-137880ca2b7b",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.397"
      },
      "ResponseBody": {
        "id": "assistant-X96hGBNh8bon4jkiBBZgcE",
        "object": "vector_store.file.deleted",
        "deleted": true
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/files/assistant-X96hGBNh8bon4jkiBBZgcE?api-version=2025-05-15-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-processing-ms": "256",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "a436556e-f8a2-4d44-874a-0bf00b0dde73",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.567"
      },
      "ResponseBody": {
        "object": "file",
        "deleted": true,
        "id": "assistant-X96hGBNh8bon4jkiBBZgcE"
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/vector_stores/vs_oICHoEGKNyDiwzP9vxtRxPKS?api-version=2025-05-15-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "665",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "11f4d538-07e3-4bea-b0ac-8dd55352bef6",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.906"
      },
      "ResponseBody": {
        "id": "vs_oICHoEGKNyDiwzP9vxtRxPKS",
        "object": "vector_store.deleted",
        "deleted": true
      }
    }
  ],
  "Variables": {}
}
