{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/vector_stores?api-version=v1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {},
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "151",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "4eb8402b-79f2-47a1-bfca-ba402f6bcb6a",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.264"
      },
      "ResponseBody": {
        "id": "vs_jNrrZTrJLnPVwGQ9DusWzgjA",
        "object": "vector_store",
        "name": null,
        "status": "completed",
        "usage_bytes": 0,
        "created_at": 1749159549,
        "file_counts": {
          "in_progress": 0,
          "completed": 0,
          "failed": 0,
          "cancelled": 0,
          "total": 0
        },
        "metadata": {},
        "expires_after": null,
        "expires_at": null,
        "last_active_at": 1749159549
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/files?api-version=v1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "multipart/form-data; boundary=--RecordedTestMultipartBoundary"
      },
      "RequestBody": "LS0tLVJlY29yZGVkVGVzdE11bHRpcGFydEJvdW5kYXJ5DQpjb250ZW50LXR5cGU6IGFwcGxpY2F0aW9uL29jdGV0LXN0cmVhbQ0KY29udGVudC1kaXNwb3NpdGlvbjogZm9ybS1kYXRhOyBuYW1lPSJmaWxlIjsgZmlsZW5hbWU9ImZpbGVuYW1lLnR4dCINCg0KZmlsZUNvbnRlbnQNCi0tLS1SZWNvcmRlZFRlc3RNdWx0aXBhcnRCb3VuZGFyeQ0KY29udGVudC10eXBlOiB0ZXh0L3BsYWluOyBjaGFyc2V0PVVURi04DQpjb250ZW50LWRpc3Bvc2l0aW9uOiBmb3JtLWRhdGE7IG5hbWU9InB1cnBvc2UiDQoNCmFzc2lzdGFudHMNCi0tLS1SZWNvcmRlZFRlc3RNdWx0aXBhcnRCb3VuZGFyeS0tDQoNCg==",
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-processing-ms": "353",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "ef35c69c-b7f3-4c33-9318-05259b8cbded",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.468"
      },
      "ResponseBody": {
        "object": "file",
        "id": "assistant-4NQJ2DJitUEAW7TmBBqNzh",
        "purpose": "assistants",
        "filename": "filename.txt",
        "bytes": 11,
        "created_at": 1749159549,
        "expires_at": null,
        "status": "processed",
        "status_details": null
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/vector_stores/vs_jNrrZTrJLnPVwGQ9DusWzgjA/files?api-version=v1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "file_id": "assistant-4NQJ2DJitUEAW7TmBBqNzh"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "1049",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "5428b14d-4add-41f0-9d46-b3b34f0cd87d",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "1.187"
      },
      "ResponseBody": {
        "id": "assistant-4NQJ2DJitUEAW7TmBBqNzh",
        "object": "vector_store.file",
        "usage_bytes": 0,
        "created_at": 1749159550,
        "vector_store_id": "vs_jNrrZTrJLnPVwGQ9DusWzgjA",
        "status": "in_progress",
        "last_error": null,
        "chunking_strategy": {
          "type": "static",
          "static": {
            "max_chunk_size_tokens": 800,
            "chunk_overlap_tokens": 400
          }
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/vector_stores/vs_jNrrZTrJLnPVwGQ9DusWzgjA/files/assistant-4NQJ2DJitUEAW7TmBBqNzh?api-version=v1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "30",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "deefd138-6470-4983-a3b5-d2dd8f4544a1",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.143"
      },
      "ResponseBody": {
        "id": "assistant-4NQJ2DJitUEAW7TmBBqNzh",
        "object": "vector_store.file",
        "usage_bytes": 0,
        "created_at": 1749159550,
        "vector_store_id": "vs_jNrrZTrJLnPVwGQ9DusWzgjA",
        "status": "in_progress",
        "last_error": null,
        "chunking_strategy": {
          "type": "static",
          "static": {
            "max_chunk_size_tokens": 800,
            "chunk_overlap_tokens": 400
          }
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/vector_stores/vs_jNrrZTrJLnPVwGQ9DusWzgjA/files/assistant-4NQJ2DJitUEAW7TmBBqNzh?api-version=v1",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-02",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "167",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "5aa344e8-a4a0-405c-b6b9-da480c82a8f9",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.368"
      },
      "ResponseBody": {
        "id": "assistant-4NQJ2DJitUEAW7TmBBqNzh",
        "object": "vector_store.file.deleted",
        "deleted": true
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/files/assistant-4NQJ2DJitUEAW7TmBBqNzh?api-version=v1",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-02",
        "Content-Type": "application/json",
        "openai-processing-ms": "307",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "ec4979e0-aeea-41b8-b62d-67a6865aa1a5",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.434"
      },
      "ResponseBody": {
        "object": "file",
        "deleted": true,
        "id": "assistant-4NQJ2DJitUEAW7TmBBqNzh"
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/vector_stores/vs_jNrrZTrJLnPVwGQ9DusWzgjA?api-version=v1",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-02",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "621",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "01398cfa-0646-4694-90e4-05fa5a37cdc9",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.736"
      },
      "ResponseBody": {
        "id": "vs_jNrrZTrJLnPVwGQ9DusWzgjA",
        "object": "vector_store.deleted",
        "deleted": true
      }
    }
  ],
  "Variables": {}
}
