{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/vector_stores?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {},
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "49",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "fae47f35-d6be-4988-a16e-fc1c6c4edde6",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.571"
      },
      "ResponseBody": {
        "id": "vs_0C5rC8l6KTpg9XC3ApIeAJjj",
        "object": "vector_store",
        "name": null,
        "status": "completed",
        "usage_bytes": 0,
        "created_at": 1747727587,
        "file_counts": {
          "in_progress": 0,
          "completed": 0,
          "failed": 0,
          "cancelled": 0,
          "total": 0
        },
        "metadata": {},
        "expires_after": null,
        "expires_at": null,
        "last_active_at": 1747727587
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/files?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "multipart/form-data; boundary=--RecordedTestMultipartBoundary"
      },
      "RequestBody": "LS0tLVJlY29yZGVkVGVzdE11bHRpcGFydEJvdW5kYXJ5DQpjb250ZW50LXR5cGU6IGFwcGxpY2F0aW9uL29jdGV0LXN0cmVhbQ0KY29udGVudC1kaXNwb3NpdGlvbjogZm9ybS1kYXRhOyBuYW1lPSJmaWxlIjsgZmlsZW5hbWU9ImZpbGVuYW1lLnR4dCINCg0KZmlsZUNvbnRlbnQNCi0tLS1SZWNvcmRlZFRlc3RNdWx0aXBhcnRCb3VuZGFyeQ0KY29udGVudC10eXBlOiB0ZXh0L3BsYWluOyBjaGFyc2V0PVVURi04DQpjb250ZW50LWRpc3Bvc2l0aW9uOiBmb3JtLWRhdGE7IG5hbWU9InB1cnBvc2UiDQoNCmFzc2lzdGFudHMNCi0tLS1SZWNvcmRlZFRlc3RNdWx0aXBhcnRCb3VuZGFyeS0tDQoNCg==",
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-processing-ms": "323",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "5f2f9345-aa6c-4b79-aa3d-6eacbf3129b2",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.629"
      },
      "ResponseBody": {
        "object": "file",
        "id": "assistant-Ks7vyKPtUsvrQZ4DsTmLCp",
        "purpose": "assistants",
        "filename": "filename.txt",
        "bytes": 11,
        "created_at": 1747727587,
        "expires_at": null,
        "status": "processed",
        "status_details": null
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/vector_stores/vs_0C5rC8l6KTpg9XC3ApIeAJjj/files?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "file_id": "assistant-Ks7vyKPtUsvrQZ4DsTmLCp"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "276",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "7dba8da5-f540-4358-9ce6-868a6772b50d",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.563"
      },
      "ResponseBody": {
        "id": "assistant-Ks7vyKPtUsvrQZ4DsTmLCp",
        "object": "vector_store.file",
        "usage_bytes": 0,
        "created_at": 1747727588,
        "vector_store_id": "vs_0C5rC8l6KTpg9XC3ApIeAJjj",
        "status": "in_progress",
        "last_error": null,
        "chunking_strategy": {
          "type": "static",
          "static": {
            "max_chunk_size_tokens": 800,
            "chunk_overlap_tokens": 400
          }
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/vector_stores/vs_0C5rC8l6KTpg9XC3ApIeAJjj/files/assistant-Ks7vyKPtUsvrQZ4DsTmLCp?api-version=2025-05-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "26",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "8044c55a-cfde-4ee1-b42e-f0f00cc1eefb",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.460"
      },
      "ResponseBody": {
        "id": "assistant-Ks7vyKPtUsvrQZ4DsTmLCp",
        "object": "vector_store.file",
        "usage_bytes": 1035,
        "created_at": 1747727588,
        "vector_store_id": "vs_0C5rC8l6KTpg9XC3ApIeAJjj",
        "status": "completed",
        "last_error": null,
        "chunking_strategy": {
          "type": "static",
          "static": {
            "max_chunk_size_tokens": 800,
            "chunk_overlap_tokens": 400
          }
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/vector_stores/vs_0C5rC8l6KTpg9XC3ApIeAJjj/files/assistant-Ks7vyKPtUsvrQZ4DsTmLCp?api-version=2025-05-15-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "235",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "bd1f9d85-0811-4c4f-8185-5e2492817c52",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.612"
      },
      "ResponseBody": {
        "id": "assistant-Ks7vyKPtUsvrQZ4DsTmLCp",
        "object": "vector_store.file.deleted",
        "deleted": true
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/files/assistant-Ks7vyKPtUsvrQZ4DsTmLCp?api-version=2025-05-15-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-processing-ms": "380",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "df2ab12f-c47f-4f07-a1af-359396836217",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.650"
      },
      "ResponseBody": {
        "object": "file",
        "deleted": true,
        "id": "assistant-Ks7vyKPtUsvrQZ4DsTmLCp"
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/vector_stores/vs_0C5rC8l6KTpg9XC3ApIeAJjj?api-version=2025-05-15-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "628",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "d856e24f-39e5-4bbc-a276-90835664b7be",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.904"
      },
      "ResponseBody": {
        "id": "vs_0C5rC8l6KTpg9XC3ApIeAJjj",
        "object": "vector_store.deleted",
        "deleted": true
      }
    }
  ],
  "Variables": {}
}
