{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/vector_stores?api-version=v1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {},
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-02",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "89",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "b2f1088f-6060-4c8d-8feb-0f01ab4e61bc",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.214"
      },
      "ResponseBody": {
        "id": "vs_nh7lZemfH0SDMfdpvGp1Xy0R",
        "object": "vector_store",
        "name": null,
        "status": "completed",
        "usage_bytes": 0,
        "created_at": 1749159565,
        "file_counts": {
          "in_progress": 0,
          "completed": 0,
          "failed": 0,
          "cancelled": 0,
          "total": 0
        },
        "metadata": {},
        "expires_after": null,
        "expires_at": null,
        "last_active_at": 1749159565
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/files?api-version=v1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "multipart/form-data; boundary=--RecordedTestMultipartBoundary"
      },
      "RequestBody": "LS0tLVJlY29yZGVkVGVzdE11bHRpcGFydEJvdW5kYXJ5DQpjb250ZW50LXR5cGU6IGFwcGxpY2F0aW9uL29jdGV0LXN0cmVhbQ0KY29udGVudC1kaXNwb3NpdGlvbjogZm9ybS1kYXRhOyBuYW1lPSJmaWxlIjsgZmlsZW5hbWU9ImZpbGVuYW1lLnR4dCINCg0KZmlsZUNvbnRlbnQNCi0tLS1SZWNvcmRlZFRlc3RNdWx0aXBhcnRCb3VuZGFyeQ0KY29udGVudC10eXBlOiB0ZXh0L3BsYWluOyBjaGFyc2V0PVVURi04DQpjb250ZW50LWRpc3Bvc2l0aW9uOiBmb3JtLWRhdGE7IG5hbWU9InB1cnBvc2UiDQoNCmFzc2lzdGFudHMNCi0tLS1SZWNvcmRlZFRlc3RNdWx0aXBhcnRCb3VuZGFyeS0tDQoNCg==",
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-02",
        "Content-Type": "application/json",
        "openai-processing-ms": "479",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "c0b43214-0363-4f7c-93c5-0341ddffad96",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.595"
      },
      "ResponseBody": {
        "object": "file",
        "id": "assistant-YTLp767bTCXv9if2Ymbuaz",
        "purpose": "assistants",
        "filename": "filename.txt",
        "bytes": 11,
        "created_at": 1749159565,
        "expires_at": null,
        "status": "processed",
        "status_details": null
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/vector_stores/vs_nh7lZemfH0SDMfdpvGp1Xy0R/files?api-version=v1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "file_id": "assistant-YTLp767bTCXv9if2Ymbuaz"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-02",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "289",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "35a552e3-e08f-45ad-91b3-ca8a00313a84",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.410"
      },
      "ResponseBody": {
        "id": "assistant-YTLp767bTCXv9if2Ymbuaz",
        "object": "vector_store.file",
        "usage_bytes": 0,
        "created_at": 1749159566,
        "vector_store_id": "vs_nh7lZemfH0SDMfdpvGp1Xy0R",
        "status": "in_progress",
        "last_error": null,
        "chunking_strategy": {
          "type": "static",
          "static": {
            "max_chunk_size_tokens": 800,
            "chunk_overlap_tokens": 400
          }
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/vector_stores/vs_nh7lZemfH0SDMfdpvGp1Xy0R/files/assistant-YTLp767bTCXv9if2Ymbuaz?api-version=v1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-02",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "82",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "a998ac65-1c68-4292-9c4e-f2ba2cfc98c1",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.316"
      },
      "ResponseBody": {
        "id": "assistant-YTLp767bTCXv9if2Ymbuaz",
        "object": "vector_store.file",
        "usage_bytes": 1035,
        "created_at": 1749159566,
        "vector_store_id": "vs_nh7lZemfH0SDMfdpvGp1Xy0R",
        "status": "completed",
        "last_error": null,
        "chunking_strategy": {
          "type": "static",
          "static": {
            "max_chunk_size_tokens": 800,
            "chunk_overlap_tokens": 400
          }
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/vector_stores/vs_nh7lZemfH0SDMfdpvGp1Xy0R/files/assistant-YTLp767bTCXv9if2Ymbuaz?api-version=v1",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-02",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "141",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "d056c2fd-9dfa-40a7-9af7-be7b99095f43",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.269"
      },
      "ResponseBody": {
        "id": "assistant-YTLp767bTCXv9if2Ymbuaz",
        "object": "vector_store.file.deleted",
        "deleted": true
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/files/assistant-YTLp767bTCXv9if2Ymbuaz?api-version=v1",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-02",
        "Content-Type": "application/json",
        "openai-processing-ms": "272",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "03fd1ccd-1bf2-436a-a665-0266303285b8",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.438"
      },
      "ResponseBody": {
        "object": "file",
        "deleted": true,
        "id": "assistant-YTLp767bTCXv9if2Ymbuaz"
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/vector_stores/vs_nh7lZemfH0SDMfdpvGp1Xy0R?api-version=v1",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-02",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "2221",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "22d69d78-6c17-4a77-94b4-d8121cffc518",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "2.341"
      },
      "ResponseBody": {
        "id": "vs_nh7lZemfH0SDMfdpvGp1Xy0R",
        "object": "vector_store.deleted",
        "deleted": true
      }
    }
  ],
  "Variables": {}
}
