{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/vector_stores?api-version=v1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {},
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "81",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "de4b734f-49b4-4397-bea7-ef3643fec8b9",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.328"
      },
      "ResponseBody": {
        "id": "vs_FztcFmJlTxIbvmlbCCTJ1mY1",
        "object": "vector_store",
        "name": null,
        "status": "completed",
        "usage_bytes": 0,
        "created_at": 1748886790,
        "file_counts": {
          "in_progress": 0,
          "completed": 0,
          "failed": 0,
          "cancelled": 0,
          "total": 0
        },
        "metadata": {},
        "expires_after": null,
        "expires_at": null,
        "last_active_at": 1748886790
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/files?api-version=v1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "multipart/form-data; boundary=--RecordedTestMultipartBoundary"
      },
      "RequestBody": "LS0tLVJlY29yZGVkVGVzdE11bHRpcGFydEJvdW5kYXJ5DQpjb250ZW50LXR5cGU6IGFwcGxpY2F0aW9uL29jdGV0LXN0cmVhbQ0KY29udGVudC1kaXNwb3NpdGlvbjogZm9ybS1kYXRhOyBuYW1lPSJmaWxlIjsgZmlsZW5hbWU9ImZpbGVuYW1lLnR4dCINCg0KZmlsZUNvbnRlbnQNCi0tLS1SZWNvcmRlZFRlc3RNdWx0aXBhcnRCb3VuZGFyeQ0KY29udGVudC10eXBlOiB0ZXh0L3BsYWluOyBjaGFyc2V0PVVURi04DQpjb250ZW50LWRpc3Bvc2l0aW9uOiBmb3JtLWRhdGE7IG5hbWU9InB1cnBvc2UiDQoNCmFzc2lzdGFudHMNCi0tLS1SZWNvcmRlZFRlc3RNdWx0aXBhcnRCb3VuZGFyeS0tDQoNCg==",
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-processing-ms": "389",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "3f2c13e3-57c2-4006-8ecc-e68abfa1fe48",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.804"
      },
      "ResponseBody": {
        "object": "file",
        "id": "assistant-FCae73N3eokBxCERyoj9Rq",
        "purpose": "assistants",
        "filename": "filename.txt",
        "bytes": 11,
        "created_at": 1748886791,
        "expires_at": null,
        "status": "processed",
        "status_details": null
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/vector_stores/vs_FztcFmJlTxIbvmlbCCTJ1mY1/files?api-version=v1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "file_id": "assistant-FCae73N3eokBxCERyoj9Rq"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "292",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "f63084ba-a8c7-4720-9afb-63321c8a2b2f",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.536"
      },
      "ResponseBody": {
        "id": "assistant-FCae73N3eokBxCERyoj9Rq",
        "object": "vector_store.file",
        "usage_bytes": 0,
        "created_at": 1748886792,
        "vector_store_id": "vs_FztcFmJlTxIbvmlbCCTJ1mY1",
        "status": "in_progress",
        "last_error": null,
        "chunking_strategy": {
          "type": "static",
          "static": {
            "max_chunk_size_tokens": 800,
            "chunk_overlap_tokens": 400
          }
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/vector_stores/vs_FztcFmJlTxIbvmlbCCTJ1mY1/files/assistant-FCae73N3eokBxCERyoj9Rq?api-version=v1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "73",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "884d3284-f315-470c-8336-6d9aa7d8ff86",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.432"
      },
      "ResponseBody": {
        "id": "assistant-FCae73N3eokBxCERyoj9Rq",
        "object": "vector_store.file",
        "usage_bytes": 1035,
        "created_at": 1748886792,
        "vector_store_id": "vs_FztcFmJlTxIbvmlbCCTJ1mY1",
        "status": "completed",
        "last_error": null,
        "chunking_strategy": {
          "type": "static",
          "static": {
            "max_chunk_size_tokens": 800,
            "chunk_overlap_tokens": 400
          }
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/vector_stores/vs_FztcFmJlTxIbvmlbCCTJ1mY1/files/assistant-FCae73N3eokBxCERyoj9Rq?api-version=v1",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "133",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "c8e8484c-9c05-45d2-839f-177238759aba",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.460"
      },
      "ResponseBody": {
        "id": "assistant-FCae73N3eokBxCERyoj9Rq",
        "object": "vector_store.file.deleted",
        "deleted": true
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/files/assistant-FCae73N3eokBxCERyoj9Rq?api-version=v1",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-processing-ms": "291",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "8b555b8f-ab8b-4536-b43f-fa935699a5e6",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.530"
      },
      "ResponseBody": {
        "object": "file",
        "deleted": true,
        "id": "assistant-FCae73N3eokBxCERyoj9Rq"
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/vector_stores/vs_FztcFmJlTxIbvmlbCCTJ1mY1?api-version=v1",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "654",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "993d2fd2-3bc2-499e-abf9-32baa2bd75ba",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.984"
      },
      "ResponseBody": {
        "id": "vs_FztcFmJlTxIbvmlbCCTJ1mY1",
        "object": "vector_store.deleted",
        "deleted": true
      }
    }
  ],
  "Variables": {}
}
