{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/project/vector_stores?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {},
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "36",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "f3cb7a74-d539-4f33-947e-f68a227ca393",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.170"
      },
      "ResponseBody": {
        "id": "vs_WQNrCpOBbWThryIOr2eRO1jC",
        "object": "vector_store",
        "name": null,
        "status": "completed",
        "usage_bytes": 0,
        "created_at": 1746663496,
        "file_counts": {
          "in_progress": 0,
          "completed": 0,
          "failed": 0,
          "cancelled": 0,
          "total": 0
        },
        "metadata": {},
        "expires_after": null,
        "expires_at": null,
        "last_active_at": 1746663496
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/project/files?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "multipart/form-data; boundary=--RecordedTestMultipartBoundary"
      },
      "RequestBody": "LS0tLVJlY29yZGVkVGVzdE11bHRpcGFydEJvdW5kYXJ5DQpjb250ZW50LXR5cGU6IGFwcGxpY2F0aW9uL29jdGV0LXN0cmVhbQ0KY29udGVudC1kaXNwb3NpdGlvbjogZm9ybS1kYXRhOyBuYW1lPSJmaWxlIjsgZmlsZW5hbWU9ImZpbGVuYW1lLnR4dCINCg0KZmlsZUNvbnRlbnQNCi0tLS1SZWNvcmRlZFRlc3RNdWx0aXBhcnRCb3VuZGFyeQ0KY29udGVudC10eXBlOiB0ZXh0L3BsYWluOyBjaGFyc2V0PVVURi04DQpjb250ZW50LWRpc3Bvc2l0aW9uOiBmb3JtLWRhdGE7IG5hbWU9InB1cnBvc2UiDQoNCmFzc2lzdGFudHMNCi0tLS1SZWNvcmRlZFRlc3RNdWx0aXBhcnRCb3VuZGFyeS0tDQoNCg==",
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-processing-ms": "421",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "ae33dfd0-23a2-423b-9c37-63e0804cce59",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.608"
      },
      "ResponseBody": {
        "object": "file",
        "id": "assistant-V4aYCwaZJqxwVdF75N9mDc",
        "purpose": "assistants",
        "filename": "filename.txt",
        "bytes": 11,
        "created_at": 1746663497,
        "expires_at": null,
        "status": "processed",
        "status_details": null
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/project/vector_stores/vs_WQNrCpOBbWThryIOr2eRO1jC/files?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "file_id": "assistant-V4aYCwaZJqxwVdF75N9mDc"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "302",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "0f5a7c65-6413-4c63-ad29-2c169554339c",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.448"
      },
      "ResponseBody": {
        "id": "assistant-V4aYCwaZJqxwVdF75N9mDc",
        "object": "vector_store.file",
        "usage_bytes": 0,
        "created_at": 1746663498,
        "vector_store_id": "vs_WQNrCpOBbWThryIOr2eRO1jC",
        "status": "in_progress",
        "last_error": null,
        "chunking_strategy": {
          "type": "static",
          "static": {
            "max_chunk_size_tokens": 800,
            "chunk_overlap_tokens": 400
          }
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/project/vector_stores/vs_WQNrCpOBbWThryIOr2eRO1jC/files/assistant-V4aYCwaZJqxwVdF75N9mDc?api-version=2025-05-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "26",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "0b9a2dfe-afaa-44ce-82fa-95f0d2cb026c",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.156"
      },
      "ResponseBody": {
        "id": "assistant-V4aYCwaZJqxwVdF75N9mDc",
        "object": "vector_store.file",
        "usage_bytes": 1035,
        "created_at": 1746663498,
        "vector_store_id": "vs_WQNrCpOBbWThryIOr2eRO1jC",
        "status": "completed",
        "last_error": null,
        "chunking_strategy": {
          "type": "static",
          "static": {
            "max_chunk_size_tokens": 800,
            "chunk_overlap_tokens": 400
          }
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/project/vector_stores/vs_WQNrCpOBbWThryIOr2eRO1jC/files/assistant-V4aYCwaZJqxwVdF75N9mDc?api-version=2025-05-15-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "124",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "8636e3b2-e5dd-4c24-a0c6-a318d1b5f736",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.244"
      },
      "ResponseBody": {
        "id": "assistant-V4aYCwaZJqxwVdF75N9mDc",
        "object": "vector_store.file.deleted",
        "deleted": true
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/project/files/assistant-V4aYCwaZJqxwVdF75N9mDc?api-version=2025-05-15-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-processing-ms": "232",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "e4399797-84ac-45e4-83b2-1fbd89c94e4a",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.352"
      },
      "ResponseBody": {
        "object": "file",
        "deleted": true,
        "id": "assistant-V4aYCwaZJqxwVdF75N9mDc"
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/project/vector_stores/vs_WQNrCpOBbWThryIOr2eRO1jC?api-version=2025-05-15-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "863",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "cd519557-4db4-4a05-b451-317251c9a592",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "1.007"
      },
      "ResponseBody": {
        "id": "vs_WQNrCpOBbWThryIOr2eRO1jC",
        "object": "vector_store.deleted",
        "deleted": true
      }
    }
  ],
  "Variables": {}
}
