{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/vector_stores?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {},
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "92",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "4eda2f26-36b0-4f6b-9eca-7b0c283e3519",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.439"
      },
      "ResponseBody": {
        "id": "vs_ayI7Uwe0TeqyiR0CV0IRDIIg",
        "object": "vector_store",
        "name": null,
        "status": "completed",
        "usage_bytes": 0,
        "created_at": 1747768419,
        "file_counts": {
          "in_progress": 0,
          "completed": 0,
          "failed": 0,
          "cancelled": 0,
          "total": 0
        },
        "metadata": {},
        "expires_after": null,
        "expires_at": null,
        "last_active_at": 1747768419
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/files?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "multipart/form-data; boundary=--RecordedTestMultipartBoundary"
      },
      "RequestBody": "LS0tLVJlY29yZGVkVGVzdE11bHRpcGFydEJvdW5kYXJ5DQpjb250ZW50LXR5cGU6IGFwcGxpY2F0aW9uL29jdGV0LXN0cmVhbQ0KY29udGVudC1kaXNwb3NpdGlvbjogZm9ybS1kYXRhOyBuYW1lPSJmaWxlIjsgZmlsZW5hbWU9ImZpbGVuYW1lLnR4dCINCg0KZmlsZUNvbnRlbnQNCi0tLS1SZWNvcmRlZFRlc3RNdWx0aXBhcnRCb3VuZGFyeQ0KY29udGVudC10eXBlOiB0ZXh0L3BsYWluOyBjaGFyc2V0PVVURi04DQpjb250ZW50LWRpc3Bvc2l0aW9uOiBmb3JtLWRhdGE7IG5hbWU9InB1cnBvc2UiDQoNCmFzc2lzdGFudHMNCi0tLS1SZWNvcmRlZFRlc3RNdWx0aXBhcnRCb3VuZGFyeS0tDQoNCg==",
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-processing-ms": "524",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "6e7372ec-d4a4-43f6-a635-c4a211b43c2c",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.848"
      },
      "ResponseBody": {
        "object": "file",
        "id": "assistant-6e4Vi9DmQfQBzRLS3eaj1V",
        "purpose": "assistants",
        "filename": "filename.txt",
        "bytes": 11,
        "created_at": 1747768419,
        "expires_at": null,
        "status": "processed",
        "status_details": null
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/vector_stores/vs_ayI7Uwe0TeqyiR0CV0IRDIIg/files?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "file_id": "assistant-6e4Vi9DmQfQBzRLS3eaj1V"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "375",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "e390f72d-7e5e-4b9f-8c52-63b35d758e33",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.750"
      },
      "ResponseBody": {
        "id": "assistant-6e4Vi9DmQfQBzRLS3eaj1V",
        "object": "vector_store.file",
        "usage_bytes": 0,
        "created_at": 1747768421,
        "vector_store_id": "vs_ayI7Uwe0TeqyiR0CV0IRDIIg",
        "status": "in_progress",
        "last_error": null,
        "chunking_strategy": {
          "type": "static",
          "static": {
            "max_chunk_size_tokens": 800,
            "chunk_overlap_tokens": 400
          }
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/vector_stores/vs_ayI7Uwe0TeqyiR0CV0IRDIIg/files/assistant-6e4Vi9DmQfQBzRLS3eaj1V?api-version=2025-05-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "74",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "29dde9d3-cc6d-4a99-bea7-bfff1d4e73e1",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.420"
      },
      "ResponseBody": {
        "id": "assistant-6e4Vi9DmQfQBzRLS3eaj1V",
        "object": "vector_store.file",
        "usage_bytes": 1035,
        "created_at": 1747768421,
        "vector_store_id": "vs_ayI7Uwe0TeqyiR0CV0IRDIIg",
        "status": "completed",
        "last_error": null,
        "chunking_strategy": {
          "type": "static",
          "static": {
            "max_chunk_size_tokens": 800,
            "chunk_overlap_tokens": 400
          }
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/vector_stores/vs_ayI7Uwe0TeqyiR0CV0IRDIIg/files/assistant-6e4Vi9DmQfQBzRLS3eaj1V?api-version=2025-05-15-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-02",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "119",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "6d77fe13-6d64-4ed5-b069-2501b65e3033",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.384"
      },
      "ResponseBody": {
        "id": "assistant-6e4Vi9DmQfQBzRLS3eaj1V",
        "object": "vector_store.file.deleted",
        "deleted": true
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/files/assistant-6e4Vi9DmQfQBzRLS3eaj1V?api-version=2025-05-15-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-02",
        "Content-Type": "application/json",
        "openai-processing-ms": "288",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "bff041f2-49b3-4fbb-8d9c-61b41a77d0a3",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.544"
      },
      "ResponseBody": {
        "object": "file",
        "deleted": true,
        "id": "assistant-6e4Vi9DmQfQBzRLS3eaj1V"
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/vector_stores/vs_ayI7Uwe0TeqyiR0CV0IRDIIg?api-version=2025-05-15-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-02",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "677",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "d2a10d3a-fbc6-4839-b02e-a069f7448bec",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.860"
      },
      "ResponseBody": {
        "id": "vs_ayI7Uwe0TeqyiR0CV0IRDIIg",
        "object": "vector_store.deleted",
        "deleted": true
      }
    }
  ],
  "Variables": {}
}
