{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/project/vector_stores?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {},
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "80",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "c0c9f984-44fb-485c-9a3d-58cb01f9086d",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.210"
      },
      "ResponseBody": {
        "id": "vs_2JyqglP0EzwSqupIK8JXGug1",
        "object": "vector_store",
        "name": null,
        "status": "completed",
        "usage_bytes": 0,
        "created_at": 1746595909,
        "file_counts": {
          "in_progress": 0,
          "completed": 0,
          "failed": 0,
          "cancelled": 0,
          "total": 0
        },
        "metadata": {},
        "expires_after": null,
        "expires_at": null,
        "last_active_at": 1746595909
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/project/files?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "multipart/form-data; boundary=--RecordedTestMultipartBoundary"
      },
      "RequestBody": "LS0tLVJlY29yZGVkVGVzdE11bHRpcGFydEJvdW5kYXJ5DQpjb250ZW50LXR5cGU6IGFwcGxpY2F0aW9uL29jdGV0LXN0cmVhbQ0KY29udGVudC1kaXNwb3NpdGlvbjogZm9ybS1kYXRhOyBuYW1lPSJmaWxlIjsgZmlsZW5hbWU9ImZpbGVuYW1lLnR4dCINCg0KZmlsZUNvbnRlbnQNCi0tLS1SZWNvcmRlZFRlc3RNdWx0aXBhcnRCb3VuZGFyeQ0KY29udGVudC10eXBlOiB0ZXh0L3BsYWluOyBjaGFyc2V0PVVURi04DQpjb250ZW50LWRpc3Bvc2l0aW9uOiBmb3JtLWRhdGE7IG5hbWU9InB1cnBvc2UiDQoNCmFzc2lzdGFudHMNCi0tLS1SZWNvcmRlZFRlc3RNdWx0aXBhcnRCb3VuZGFyeS0tDQoNCg==",
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-processing-ms": "572",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "32629610-d6ac-4df2-9e59-e48a7276ece1",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.718"
      },
      "ResponseBody": {
        "object": "file",
        "id": "assistant-EkxbrJV5V6FySqTHeTjNh6",
        "purpose": "assistants",
        "filename": "filename.txt",
        "bytes": 11,
        "created_at": 1746595909,
        "expires_at": null,
        "status": "processed",
        "status_details": null
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/project/vector_stores/vs_2JyqglP0EzwSqupIK8JXGug1/files?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "file_id": "assistant-EkxbrJV5V6FySqTHeTjNh6"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "397",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "5f7ed8ac-b1de-41d1-9944-878a1cd7a1f9",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.601"
      },
      "ResponseBody": {
        "id": "assistant-EkxbrJV5V6FySqTHeTjNh6",
        "object": "vector_store.file",
        "usage_bytes": 0,
        "created_at": 1746595910,
        "vector_store_id": "vs_2JyqglP0EzwSqupIK8JXGug1",
        "status": "in_progress",
        "last_error": null,
        "chunking_strategy": {
          "type": "static",
          "static": {
            "max_chunk_size_tokens": 800,
            "chunk_overlap_tokens": 400
          }
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/project/vector_stores/vs_2JyqglP0EzwSqupIK8JXGug1/files/assistant-EkxbrJV5V6FySqTHeTjNh6?api-version=2025-05-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "108",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "8bae4eb9-1aec-47d5-8f77-4aff2dcffaf7",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.215"
      },
      "ResponseBody": {
        "id": "assistant-EkxbrJV5V6FySqTHeTjNh6",
        "object": "vector_store.file",
        "usage_bytes": 1035,
        "created_at": 1746595910,
        "vector_store_id": "vs_2JyqglP0EzwSqupIK8JXGug1",
        "status": "completed",
        "last_error": null,
        "chunking_strategy": {
          "type": "static",
          "static": {
            "max_chunk_size_tokens": 800,
            "chunk_overlap_tokens": 400
          }
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/project/vector_stores/vs_2JyqglP0EzwSqupIK8JXGug1/files/assistant-EkxbrJV5V6FySqTHeTjNh6?api-version=2025-05-15-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "123",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "c2a85d4b-c6f1-49b7-b1dd-3c8f67d6e6d6",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.268"
      },
      "ResponseBody": {
        "id": "assistant-EkxbrJV5V6FySqTHeTjNh6",
        "object": "vector_store.file.deleted",
        "deleted": true
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/project/files/assistant-EkxbrJV5V6FySqTHeTjNh6?api-version=2025-05-15-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-processing-ms": "401",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "cda4462c-8fef-4620-a7ee-4dded0d61a60",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.567"
      },
      "ResponseBody": {
        "object": "file",
        "deleted": true,
        "id": "assistant-EkxbrJV5V6FySqTHeTjNh6"
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/project/vector_stores/vs_2JyqglP0EzwSqupIK8JXGug1?api-version=2025-05-15-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "622",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "06fab19c-d9f8-4bf4-af2f-2cf2fe1b8d2a",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.846"
      },
      "ResponseBody": {
        "id": "vs_2JyqglP0EzwSqupIK8JXGug1",
        "object": "vector_store.deleted",
        "deleted": true
      }
    }
  ],
  "Variables": {}
}
