{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/vector_stores?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {},
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-02",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "87",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "b5afcb50-c9d4-4c21-9cfb-0b9bcdbd0b40",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.274"
      },
      "ResponseBody": {
        "id": "vs_U2ZdkzoCWbPTyHjfpk2NMLcu",
        "object": "vector_store",
        "name": null,
        "status": "completed",
        "usage_bytes": 0,
        "created_at": 1747677579,
        "file_counts": {
          "in_progress": 0,
          "completed": 0,
          "failed": 0,
          "cancelled": 0,
          "total": 0
        },
        "metadata": {},
        "expires_after": null,
        "expires_at": null,
        "last_active_at": 1747677579
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/files?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "multipart/form-data; boundary=--RecordedTestMultipartBoundary"
      },
      "RequestBody": "LS0tLVJlY29yZGVkVGVzdE11bHRpcGFydEJvdW5kYXJ5DQpjb250ZW50LXR5cGU6IGFwcGxpY2F0aW9uL29jdGV0LXN0cmVhbQ0KY29udGVudC1kaXNwb3NpdGlvbjogZm9ybS1kYXRhOyBuYW1lPSJmaWxlIjsgZmlsZW5hbWU9ImZpbGVuYW1lLnR4dCINCg0KZmlsZUNvbnRlbnQNCi0tLS1SZWNvcmRlZFRlc3RNdWx0aXBhcnRCb3VuZGFyeQ0KY29udGVudC10eXBlOiB0ZXh0L3BsYWluOyBjaGFyc2V0PVVURi04DQpjb250ZW50LWRpc3Bvc2l0aW9uOiBmb3JtLWRhdGE7IG5hbWU9InB1cnBvc2UiDQoNCmFzc2lzdGFudHMNCi0tLS1SZWNvcmRlZFRlc3RNdWx0aXBhcnRCb3VuZGFyeS0tDQoNCg==",
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-02",
        "Content-Type": "application/json",
        "openai-processing-ms": "419",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "0da266ea-b83c-4123-8b8f-f6d9699d2158",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.626"
      },
      "ResponseBody": {
        "object": "file",
        "id": "assistant-Rvvo6WDbACB5Wuc4KcS8xP",
        "purpose": "assistants",
        "filename": "filename.txt",
        "bytes": 11,
        "created_at": 1747677579,
        "expires_at": null,
        "status": "processed",
        "status_details": null
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/vector_stores/vs_U2ZdkzoCWbPTyHjfpk2NMLcu/files?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "file_id": "assistant-Rvvo6WDbACB5Wuc4KcS8xP"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-02",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "275",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "6ea38eeb-1fc0-4309-a20e-be4830765b4d",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.545"
      },
      "ResponseBody": {
        "id": "assistant-Rvvo6WDbACB5Wuc4KcS8xP",
        "object": "vector_store.file",
        "usage_bytes": 0,
        "created_at": 1747677580,
        "vector_store_id": "vs_U2ZdkzoCWbPTyHjfpk2NMLcu",
        "status": "in_progress",
        "last_error": null,
        "chunking_strategy": {
          "type": "static",
          "static": {
            "max_chunk_size_tokens": 800,
            "chunk_overlap_tokens": 400
          }
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/vector_stores/vs_U2ZdkzoCWbPTyHjfpk2NMLcu/files/assistant-Rvvo6WDbACB5Wuc4KcS8xP?api-version=2025-05-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-02",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "162",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "f078a6a3-cafc-4c49-9100-f253bec829d0",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.411"
      },
      "ResponseBody": {
        "id": "assistant-Rvvo6WDbACB5Wuc4KcS8xP",
        "object": "vector_store.file",
        "usage_bytes": 1035,
        "created_at": 1747677580,
        "vector_store_id": "vs_U2ZdkzoCWbPTyHjfpk2NMLcu",
        "status": "completed",
        "last_error": null,
        "chunking_strategy": {
          "type": "static",
          "static": {
            "max_chunk_size_tokens": 800,
            "chunk_overlap_tokens": 400
          }
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/vector_stores/vs_U2ZdkzoCWbPTyHjfpk2NMLcu/files/assistant-Rvvo6WDbACB5Wuc4KcS8xP?api-version=2025-05-15-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-02",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "128",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "6b25a1ed-7d25-4bdf-ad91-a0cf2d1e74c8",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.338"
      },
      "ResponseBody": {
        "id": "assistant-Rvvo6WDbACB5Wuc4KcS8xP",
        "object": "vector_store.file.deleted",
        "deleted": true
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/files/assistant-Rvvo6WDbACB5Wuc4KcS8xP?api-version=2025-05-15-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-02",
        "Content-Type": "application/json",
        "openai-processing-ms": "282",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "b22084fd-46b0-4658-b722-acb15e3b492a",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.504"
      },
      "ResponseBody": {
        "object": "file",
        "deleted": true,
        "id": "assistant-Rvvo6WDbACB5Wuc4KcS8xP"
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/vector_stores/vs_U2ZdkzoCWbPTyHjfpk2NMLcu?api-version=2025-05-15-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-02",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "645",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "47f6f1a1-613f-414d-ad8f-683b8ec8a132",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.851"
      },
      "ResponseBody": {
        "id": "vs_U2ZdkzoCWbPTyHjfpk2NMLcu",
        "object": "vector_store.deleted",
        "deleted": true
      }
    }
  ],
  "Variables": {}
}
