{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/vector_stores?api-version=v1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {},
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "88",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "85efa464-d322-44c9-ba3e-374c057223e9",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.310"
      },
      "ResponseBody": {
        "id": "vs_kbfO1s2U5rkkANwrGjKw32iU",
        "object": "vector_store",
        "name": null,
        "status": "completed",
        "usage_bytes": 0,
        "created_at": 1748886816,
        "file_counts": {
          "in_progress": 0,
          "completed": 0,
          "failed": 0,
          "cancelled": 0,
          "total": 0
        },
        "metadata": {},
        "expires_after": null,
        "expires_at": null,
        "last_active_at": 1748886816
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/files?api-version=v1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "multipart/form-data; boundary=--RecordedTestMultipartBoundary"
      },
      "RequestBody": "LS0tLVJlY29yZGVkVGVzdE11bHRpcGFydEJvdW5kYXJ5DQpjb250ZW50LXR5cGU6IGFwcGxpY2F0aW9uL29jdGV0LXN0cmVhbQ0KY29udGVudC1kaXNwb3NpdGlvbjogZm9ybS1kYXRhOyBuYW1lPSJmaWxlIjsgZmlsZW5hbWU9ImZpbGVuYW1lLnR4dCINCg0KZmlsZUNvbnRlbnQNCi0tLS1SZWNvcmRlZFRlc3RNdWx0aXBhcnRCb3VuZGFyeQ0KY29udGVudC10eXBlOiB0ZXh0L3BsYWluOyBjaGFyc2V0PVVURi04DQpjb250ZW50LWRpc3Bvc2l0aW9uOiBmb3JtLWRhdGE7IG5hbWU9InB1cnBvc2UiDQoNCmFzc2lzdGFudHMNCi0tLS1SZWNvcmRlZFRlc3RNdWx0aXBhcnRCb3VuZGFyeS0tDQoNCg==",
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-processing-ms": "631",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "24b7d497-5082-45b7-bbe5-b9f8457884a9",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.851"
      },
      "ResponseBody": {
        "object": "file",
        "id": "assistant-Reo8PEHnZEHfY8D5cuTMnF",
        "purpose": "assistants",
        "filename": "filename.txt",
        "bytes": 11,
        "created_at": 1748886817,
        "expires_at": null,
        "status": "processed",
        "status_details": null
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/vector_stores/vs_kbfO1s2U5rkkANwrGjKw32iU/files?api-version=v1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "file_id": "assistant-Reo8PEHnZEHfY8D5cuTMnF"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "251",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "74340bf9-5efa-49c8-ae41-910f31eb1d3c",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.435"
      },
      "ResponseBody": {
        "id": "assistant-Reo8PEHnZEHfY8D5cuTMnF",
        "object": "vector_store.file",
        "usage_bytes": 0,
        "created_at": 1748886818,
        "vector_store_id": "vs_kbfO1s2U5rkkANwrGjKw32iU",
        "status": "in_progress",
        "last_error": null,
        "chunking_strategy": {
          "type": "static",
          "static": {
            "max_chunk_size_tokens": 800,
            "chunk_overlap_tokens": 400
          }
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/vector_stores/vs_kbfO1s2U5rkkANwrGjKw32iU/files/assistant-Reo8PEHnZEHfY8D5cuTMnF?api-version=v1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "83",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "b05c5b15-aa0a-4540-a59b-a58ca1aa46c4",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.270"
      },
      "ResponseBody": {
        "id": "assistant-Reo8PEHnZEHfY8D5cuTMnF",
        "object": "vector_store.file",
        "usage_bytes": 1035,
        "created_at": 1748886818,
        "vector_store_id": "vs_kbfO1s2U5rkkANwrGjKw32iU",
        "status": "completed",
        "last_error": null,
        "chunking_strategy": {
          "type": "static",
          "static": {
            "max_chunk_size_tokens": 800,
            "chunk_overlap_tokens": 400
          }
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/vector_stores/vs_kbfO1s2U5rkkANwrGjKw32iU/files/assistant-Reo8PEHnZEHfY8D5cuTMnF?api-version=v1",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "133",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "51c65a72-65da-42ee-94a7-ea98d8430e80",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.294"
      },
      "ResponseBody": {
        "id": "assistant-Reo8PEHnZEHfY8D5cuTMnF",
        "object": "vector_store.file.deleted",
        "deleted": true
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/files/assistant-Reo8PEHnZEHfY8D5cuTMnF?api-version=v1",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-processing-ms": "276",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "65ae7a3c-7202-442b-bb69-d7a2149f5813",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.427"
      },
      "ResponseBody": {
        "object": "file",
        "deleted": true,
        "id": "assistant-Reo8PEHnZEHfY8D5cuTMnF"
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/vector_stores/vs_kbfO1s2U5rkkANwrGjKw32iU?api-version=v1",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "593",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "d4eae1eb-7c82-4ac2-b387-3a2aa6000c55",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.741"
      },
      "ResponseBody": {
        "id": "vs_kbfO1s2U5rkkANwrGjKw32iU",
        "object": "vector_store.deleted",
        "deleted": true
      }
    }
  ],
  "Variables": {}
}
