{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/project/vector_stores?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {},
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "104",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "299d9306-28b0-4f3e-9ae5-e25959ce7676",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.223"
      },
      "ResponseBody": {
        "id": "vs_7BZ9xogp4JSKBLfwjWdYHuaa",
        "object": "vector_store",
        "name": null,
        "status": "completed",
        "usage_bytes": 0,
        "created_at": 1746661339,
        "file_counts": {
          "in_progress": 0,
          "completed": 0,
          "failed": 0,
          "cancelled": 0,
          "total": 0
        },
        "metadata": {},
        "expires_after": null,
        "expires_at": null,
        "last_active_at": 1746661339
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/project/files?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "multipart/form-data; boundary=--RecordedTestMultipartBoundary"
      },
      "RequestBody": "LS0tLVJlY29yZGVkVGVzdE11bHRpcGFydEJvdW5kYXJ5DQpjb250ZW50LXR5cGU6IGFwcGxpY2F0aW9uL29jdGV0LXN0cmVhbQ0KY29udGVudC1kaXNwb3NpdGlvbjogZm9ybS1kYXRhOyBuYW1lPSJmaWxlIjsgZmlsZW5hbWU9ImZpbGVuYW1lLnR4dCINCg0KZmlsZUNvbnRlbnQNCi0tLS1SZWNvcmRlZFRlc3RNdWx0aXBhcnRCb3VuZGFyeQ0KY29udGVudC10eXBlOiB0ZXh0L3BsYWluOyBjaGFyc2V0PVVURi04DQpjb250ZW50LWRpc3Bvc2l0aW9uOiBmb3JtLWRhdGE7IG5hbWU9InB1cnBvc2UiDQoNCmFzc2lzdGFudHMNCi0tLS1SZWNvcmRlZFRlc3RNdWx0aXBhcnRCb3VuZGFyeS0tDQoNCg==",
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-processing-ms": "595",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "2e907877-a64c-40b2-b69b-87c39bdcc2ea",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.738"
      },
      "ResponseBody": {
        "object": "file",
        "id": "assistant-65VF59s9AKxk98knysvyx9",
        "purpose": "assistants",
        "filename": "filename.txt",
        "bytes": 11,
        "created_at": 1746661339,
        "expires_at": null,
        "status": "processed",
        "status_details": null
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/project/vector_stores/vs_7BZ9xogp4JSKBLfwjWdYHuaa/files?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "file_id": "assistant-65VF59s9AKxk98knysvyx9"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "303",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "5888f79d-566b-423f-bfd6-95652189db66",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.447"
      },
      "ResponseBody": {
        "id": "assistant-65VF59s9AKxk98knysvyx9",
        "object": "vector_store.file",
        "usage_bytes": 0,
        "created_at": 1746661340,
        "vector_store_id": "vs_7BZ9xogp4JSKBLfwjWdYHuaa",
        "status": "in_progress",
        "last_error": null,
        "chunking_strategy": {
          "type": "static",
          "static": {
            "max_chunk_size_tokens": 800,
            "chunk_overlap_tokens": 400
          }
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/project/vector_stores/vs_7BZ9xogp4JSKBLfwjWdYHuaa/files/assistant-65VF59s9AKxk98knysvyx9?api-version=2025-05-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-02",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "26",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "2751a234-f023-4725-a2dc-d5876af3c084",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.180"
      },
      "ResponseBody": {
        "id": "assistant-65VF59s9AKxk98knysvyx9",
        "object": "vector_store.file",
        "usage_bytes": 0,
        "created_at": 1746661340,
        "vector_store_id": "vs_7BZ9xogp4JSKBLfwjWdYHuaa",
        "status": "in_progress",
        "last_error": null,
        "chunking_strategy": {
          "type": "static",
          "static": {
            "max_chunk_size_tokens": 800,
            "chunk_overlap_tokens": 400
          }
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/project/vector_stores/vs_7BZ9xogp4JSKBLfwjWdYHuaa/files/assistant-65VF59s9AKxk98knysvyx9?api-version=2025-05-15-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-02",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "191",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "7f0b06fd-ab9f-491a-a717-3888d053fa04",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.302"
      },
      "ResponseBody": {
        "id": "assistant-65VF59s9AKxk98knysvyx9",
        "object": "vector_store.file.deleted",
        "deleted": true
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/project/files/assistant-65VF59s9AKxk98knysvyx9?api-version=2025-05-15-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-02",
        "Content-Type": "application/json",
        "openai-processing-ms": "234",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "ac176503-eb19-4e5d-8db4-cf14372396c6",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.367"
      },
      "ResponseBody": {
        "object": "file",
        "deleted": true,
        "id": "assistant-65VF59s9AKxk98knysvyx9"
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/project/vector_stores/vs_7BZ9xogp4JSKBLfwjWdYHuaa?api-version=2025-05-15-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-02",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "628",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "cadfeb3f-26fb-4f2b-91a0-b45f243ad094",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.757"
      },
      "ResponseBody": {
        "id": "vs_7BZ9xogp4JSKBLfwjWdYHuaa",
        "object": "vector_store.deleted",
        "deleted": true
      }
    }
  ],
  "Variables": {}
}
