{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/vector_stores?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {},
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "32",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "d32de667-e90e-439e-8693-162054dc89ba",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.197"
      },
      "ResponseBody": {
        "id": "vs_0zVoASCkzUWtDEuf8eoydcaV",
        "object": "vector_store",
        "name": null,
        "status": "completed",
        "usage_bytes": 0,
        "created_at": 1747439146,
        "file_counts": {
          "in_progress": 0,
          "completed": 0,
          "failed": 0,
          "cancelled": 0,
          "total": 0
        },
        "metadata": {},
        "expires_after": null,
        "expires_at": null,
        "last_active_at": 1747439146
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/files?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "multipart/form-data; boundary=--RecordedTestMultipartBoundary"
      },
      "RequestBody": "LS0tLVJlY29yZGVkVGVzdE11bHRpcGFydEJvdW5kYXJ5DQpjb250ZW50LXR5cGU6IGFwcGxpY2F0aW9uL29jdGV0LXN0cmVhbQ0KY29udGVudC1kaXNwb3NpdGlvbjogZm9ybS1kYXRhOyBuYW1lPSJmaWxlIjsgZmlsZW5hbWU9ImZpbGVuYW1lLnR4dCINCg0KZmlsZUNvbnRlbnQNCi0tLS1SZWNvcmRlZFRlc3RNdWx0aXBhcnRCb3VuZGFyeQ0KY29udGVudC10eXBlOiB0ZXh0L3BsYWluOyBjaGFyc2V0PVVURi04DQpjb250ZW50LWRpc3Bvc2l0aW9uOiBmb3JtLWRhdGE7IG5hbWU9InB1cnBvc2UiDQoNCmFzc2lzdGFudHMNCi0tLS1SZWNvcmRlZFRlc3RNdWx0aXBhcnRCb3VuZGFyeS0tDQoNCg==",
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-processing-ms": "414",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "df3b83ed-35ef-4443-ac66-41132289f8c5",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.635"
      },
      "ResponseBody": {
        "object": "file",
        "id": "assistant-VS8ByM8bdoCBi9NfyKDUgw",
        "purpose": "assistants",
        "filename": "filename.txt",
        "bytes": 11,
        "created_at": 1747439146,
        "expires_at": null,
        "status": "processed",
        "status_details": null
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/vector_stores/vs_0zVoASCkzUWtDEuf8eoydcaV/files?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "file_id": "assistant-VS8ByM8bdoCBi9NfyKDUgw"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "211",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "59d101f7-0505-4f39-ac41-bcbae22634ba",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.374"
      },
      "ResponseBody": {
        "id": "assistant-VS8ByM8bdoCBi9NfyKDUgw",
        "object": "vector_store.file",
        "usage_bytes": 0,
        "created_at": 1747439147,
        "vector_store_id": "vs_0zVoASCkzUWtDEuf8eoydcaV",
        "status": "in_progress",
        "last_error": null,
        "chunking_strategy": {
          "type": "static",
          "static": {
            "max_chunk_size_tokens": 800,
            "chunk_overlap_tokens": 400
          }
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/vector_stores/vs_0zVoASCkzUWtDEuf8eoydcaV/files/assistant-VS8ByM8bdoCBi9NfyKDUgw?api-version=2025-05-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "244",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "ffaff317-d759-4902-a3c3-392d3d7da395",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.430"
      },
      "ResponseBody": {
        "id": "assistant-VS8ByM8bdoCBi9NfyKDUgw",
        "object": "vector_store.file",
        "usage_bytes": 1035,
        "created_at": 1747439147,
        "vector_store_id": "vs_0zVoASCkzUWtDEuf8eoydcaV",
        "status": "completed",
        "last_error": null,
        "chunking_strategy": {
          "type": "static",
          "static": {
            "max_chunk_size_tokens": 800,
            "chunk_overlap_tokens": 400
          }
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/vector_stores/vs_0zVoASCkzUWtDEuf8eoydcaV/files/assistant-VS8ByM8bdoCBi9NfyKDUgw?api-version=2025-05-15-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "126",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "5f16b6d1-c319-4c20-9504-32e450acdcb5",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.338"
      },
      "ResponseBody": {
        "id": "assistant-VS8ByM8bdoCBi9NfyKDUgw",
        "object": "vector_store.file.deleted",
        "deleted": true
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/files/assistant-VS8ByM8bdoCBi9NfyKDUgw?api-version=2025-05-15-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-processing-ms": "419",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "87b8cd7c-0334-4125-a45f-418f1a78ca43",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.559"
      },
      "ResponseBody": {
        "object": "file",
        "deleted": true,
        "id": "assistant-VS8ByM8bdoCBi9NfyKDUgw"
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/00000/vector_stores/vs_0zVoASCkzUWtDEuf8eoydcaV?api-version=2025-05-15-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "801",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "a537ee29-b3c6-40e9-b488-87ef6f1325b8",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "1.039"
      },
      "ResponseBody": {
        "id": "vs_0zVoASCkzUWtDEuf8eoydcaV",
        "object": "vector_store.deleted",
        "deleted": true
      }
    }
  ],
  "Variables": {}
}
