{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/project/vector_stores?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {},
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "35",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "5e9a848b-ccd6-4f3b-b4ba-5cad3465edda",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.153"
      },
      "ResponseBody": {
        "id": "vs_Gj3WUtdhMkvgdYp40R9VSLDV",
        "object": "vector_store",
        "name": null,
        "status": "completed",
        "usage_bytes": 0,
        "created_at": 1746740369,
        "file_counts": {
          "in_progress": 0,
          "completed": 0,
          "failed": 0,
          "cancelled": 0,
          "total": 0
        },
        "metadata": {},
        "expires_after": null,
        "expires_at": null,
        "last_active_at": 1746740369
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/project/files?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "multipart/form-data; boundary=--RecordedTestMultipartBoundary"
      },
      "RequestBody": "LS0tLVJlY29yZGVkVGVzdE11bHRpcGFydEJvdW5kYXJ5DQpjb250ZW50LXR5cGU6IGFwcGxpY2F0aW9uL29jdGV0LXN0cmVhbQ0KY29udGVudC1kaXNwb3NpdGlvbjogZm9ybS1kYXRhOyBuYW1lPSJmaWxlIjsgZmlsZW5hbWU9ImZpbGVuYW1lLnR4dCINCg0KZmlsZUNvbnRlbnQNCi0tLS1SZWNvcmRlZFRlc3RNdWx0aXBhcnRCb3VuZGFyeQ0KY29udGVudC10eXBlOiB0ZXh0L3BsYWluOyBjaGFyc2V0PVVURi04DQpjb250ZW50LWRpc3Bvc2l0aW9uOiBmb3JtLWRhdGE7IG5hbWU9InB1cnBvc2UiDQoNCmFzc2lzdGFudHMNCi0tLS1SZWNvcmRlZFRlc3RNdWx0aXBhcnRCb3VuZGFyeS0tDQoNCg==",
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-processing-ms": "469",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "4d4a3808-3054-499d-8f9f-4661d969361b",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.637"
      },
      "ResponseBody": {
        "object": "file",
        "id": "assistant-A8do1M3ybKmX7tsyh7x57X",
        "purpose": "assistants",
        "filename": "filename.txt",
        "bytes": 11,
        "created_at": 1746740370,
        "expires_at": null,
        "status": "processed",
        "status_details": null
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/project/vector_stores/vs_Gj3WUtdhMkvgdYp40R9VSLDV/files?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "file_id": "assistant-A8do1M3ybKmX7tsyh7x57X"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "337",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "f68e63e1-7c17-4151-9936-0c11d8eb1bd8",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.460"
      },
      "ResponseBody": {
        "id": "assistant-A8do1M3ybKmX7tsyh7x57X",
        "object": "vector_store.file",
        "usage_bytes": 0,
        "created_at": 1746740371,
        "vector_store_id": "vs_Gj3WUtdhMkvgdYp40R9VSLDV",
        "status": "in_progress",
        "last_error": null,
        "chunking_strategy": {
          "type": "static",
          "static": {
            "max_chunk_size_tokens": 800,
            "chunk_overlap_tokens": 400
          }
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/project/vector_stores/vs_Gj3WUtdhMkvgdYp40R9VSLDV/files/assistant-A8do1M3ybKmX7tsyh7x57X?api-version=2025-05-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "25",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "c065a15c-98b3-452e-a0c0-8d3951659dc5",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.150"
      },
      "ResponseBody": {
        "id": "assistant-A8do1M3ybKmX7tsyh7x57X",
        "object": "vector_store.file",
        "usage_bytes": 1035,
        "created_at": 1746740371,
        "vector_store_id": "vs_Gj3WUtdhMkvgdYp40R9VSLDV",
        "status": "completed",
        "last_error": null,
        "chunking_strategy": {
          "type": "static",
          "static": {
            "max_chunk_size_tokens": 800,
            "chunk_overlap_tokens": 400
          }
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/project/vector_stores/vs_Gj3WUtdhMkvgdYp40R9VSLDV/files/assistant-A8do1M3ybKmX7tsyh7x57X?api-version=2025-05-15-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "126",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "82cacaa5-ec2e-4fcb-bf50-f7b514fe106b",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.248"
      },
      "ResponseBody": {
        "id": "assistant-A8do1M3ybKmX7tsyh7x57X",
        "object": "vector_store.file.deleted",
        "deleted": true
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/project/files/assistant-A8do1M3ybKmX7tsyh7x57X?api-version=2025-05-15-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-processing-ms": "237",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "fe6f5c20-6d51-48fb-bd6a-122ef1419849",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.363"
      },
      "ResponseBody": {
        "object": "file",
        "deleted": true,
        "id": "assistant-A8do1M3ybKmX7tsyh7x57X"
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/project/vector_stores/vs_Gj3WUtdhMkvgdYp40R9VSLDV?api-version=2025-05-15-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus-01",
        "Content-Type": "application/json",
        "openai-organization": "1fa34553a93e4e53b531c64321ca4ae2",
        "openai-processing-ms": "573",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "6a8c44e4-afd8-4bb1-bcb0-946acadb433e",
        "x-ms-region": "East US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.675"
      },
      "ResponseBody": {
        "id": "vs_Gj3WUtdhMkvgdYp40R9VSLDV",
        "object": "vector_store.deleted",
        "deleted": true
      }
    }
  ],
  "Variables": {}
}
