{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.vault.azure.net/secrets/ContentType-updateSecretPropertiesround-tripscontentType-?api-version=2026-03-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/12345678-1234-1234-1234-123456789012\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer, PoP, or MTLS_POP token."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/secrets/ContentType-updateSecretPropertiesround-tripscontentType-?api-version=2026-03-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "value": "SECRET_VALUE",
        "contentType": "application/x-roundtrip-initial",
        "attributes": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": "SECRET_VALUE",
        "contentType": "application/x-roundtrip-initial",
        "id": "https://keyvault_name.vault.azure.net/secrets/ContentType-updateSecretPropertiesround-tripscontentType-/7b66126909134d4dbe359f3815f4d342",
        "attributes": {
          "enabled": true,
          "created": 1780550910,
          "updated": 1780550910,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/secrets/ContentType-updateSecretPropertiesround-tripscontentType-/7b66126909134d4dbe359f3815f4d342?api-version=2026-03-01-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "contentType": "application/x-roundtrip-updated",
        "attributes": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "contentType": "application/x-roundtrip-updated",
        "id": "https://keyvault_name.vault.azure.net/secrets/ContentType-updateSecretPropertiesround-tripscontentType-/7b66126909134d4dbe359f3815f4d342",
        "attributes": {
          "enabled": true,
          "created": 1780550910,
          "updated": 1780550911,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/secrets/ContentType-updateSecretPropertiesround-tripscontentType-/?api-version=2026-03-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": "SECRET_VALUE",
        "contentType": "application/x-roundtrip-updated",
        "id": "https://keyvault_name.vault.azure.net/secrets/ContentType-updateSecretPropertiesround-tripscontentType-/7b66126909134d4dbe359f3815f4d342",
        "attributes": {
          "enabled": true,
          "created": 1780550910,
          "updated": 1780550911,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/secrets/ContentType-updateSecretPropertiesround-tripscontentType-?api-version=2026-03-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://keyvault_name.vault.azure.net/deletedsecrets/ContentType-updateSecretPropertiesround-tripscontentType-",
        "deletedDate": 1780550911,
        "scheduledPurgeDate": 1781155711,
        "contentType": "application/x-roundtrip-updated",
        "id": "https://keyvault_name.vault.azure.net/secrets/ContentType-updateSecretPropertiesround-tripscontentType-/7b66126909134d4dbe359f3815f4d342",
        "attributes": {
          "enabled": true,
          "created": 1780550910,
          "updated": 1780550911,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedsecrets/ContentType-updateSecretPropertiesround-tripscontentType-?api-version=2026-03-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "SecretNotFound",
          "message": "Deleted Secret not found: ContentType-updateSecretPropertiesround-tripscontentType-"
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedsecrets/ContentType-updateSecretPropertiesround-tripscontentType-?api-version=2026-03-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
