{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.vault.azure.net/secrets/ContentType-getSecretacceptsoutContentTypeparameter-?api-version=2025-07-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/12345678-1234-1234-1234-123456789012\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer, PoP, or MTLS_POP token."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/secrets/ContentType-getSecretacceptsoutContentTypeparameter-?api-version=2025-07-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "value": "SECRET_VALUE",
        "attributes": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": "SECRET_VALUE",
        "id": "https://keyvault_name.vault.azure.net/secrets/ContentType-getSecretacceptsoutContentTypeparameter-/68435c0a55954a7bba8be0b36110ae5c",
        "attributes": {
          "enabled": true,
          "created": 1777137795,
          "updated": 1777137795,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/secrets/ContentType-getSecretacceptsoutContentTypeparameter-/?api-version=2025-07-01&outContentType=application%2Fx-pem-file",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "BadParameter",
          "message": "The 'Unsupported' to 'PEM' transformation is not supported. Only PFX to PEM transformation is supported."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/secrets/ContentType-getSecretacceptsoutContentTypeparameter-?api-version=2025-07-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://keyvault_name.vault.azure.net/deletedsecrets/ContentType-getSecretacceptsoutContentTypeparameter-",
        "deletedDate": 1777137795,
        "scheduledPurgeDate": 1777742595,
        "id": "https://keyvault_name.vault.azure.net/secrets/ContentType-getSecretacceptsoutContentTypeparameter-/68435c0a55954a7bba8be0b36110ae5c",
        "attributes": {
          "enabled": true,
          "created": 1777137795,
          "updated": 1777137795,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedsecrets/ContentType-getSecretacceptsoutContentTypeparameter-?api-version=2025-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "SecretNotFound",
          "message": "Deleted Secret not found: ContentType-getSecretacceptsoutContentTypeparameter-"
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedsecrets/ContentType-getSecretacceptsoutContentTypeparameter-?api-version=2025-07-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
