{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/etags968?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "etags968",
        "value": "some value"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"Wx0EKDIUrrMC2dvbbzJPHV6762a4CiZWPjSYTlLKK4k\"",
        "Last-Modified": "Sun, 26 Oct 2025 07:55:05 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQ4NTUyMTQ=;sn=74855214",
        "x-ms-date": "Sun, 26 Oct 2025 07:55:05 GMT"
      },
      "ResponseBody": {
        "etag": "Wx0EKDIUrrMC2dvbbzJPHV6762a4CiZWPjSYTlLKK4k",
        "key": "etags968",
        "label": null,
        "content_type": null,
        "value": "some value",
        "tags": {},
        "locked": false,
        "last_modified": "2025-10-26T07:55:05+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/etags968?api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzQ4NTUyMTQ="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"Wx0EKDIUrrMC2dvbbzJPHV6762a4CiZWPjSYTlLKK4k\"",
        "Last-Modified": "Sun, 26 Oct 2025 07:55:05 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQ4NTUyMTY=;sn=74855216",
        "x-ms-date": "Sun, 26 Oct 2025 07:55:05 GMT"
      },
      "ResponseBody": {
        "etag": "Wx0EKDIUrrMC2dvbbzJPHV6762a4CiZWPjSYTlLKK4k",
        "key": "etags968",
        "label": null,
        "content_type": null,
        "value": "some value",
        "tags": {},
        "locked": false,
        "last_modified": "2025-10-26T07:55:05+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/etags968?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-Match": "\"Wx0EKDIUrrMC2dvbbzJPHV6762a4CiZWPjSYTlLKK4k\"",
        "sync-token": "zAJw6V16=MTI6MTkjNzQ4NTUyMjA="
      },
      "RequestBody": {
        "key": "etags968",
        "value": "some new value!",
        "last_modified": "2025-10-26T07:55:05.000Z",
        "tags": {},
        "etag": "Wx0EKDIUrrMC2dvbbzJPHV6762a4CiZWPjSYTlLKK4k"
      },
      "StatusCode": 412,
      "ResponseHeaders": {
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQ4NTUyMjU=;sn=74855225",
        "x-ms-date": "Sun, 26 Oct 2025 07:55:05 GMT"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2023-11-01&key=etags968",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzQ4NTUyMjU="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"LPu7oV1kqgWq8j_SnrfsHQYxsVUTtjyij-UDZ_YrYos\"",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQ4NTUyMjY=;sn=74855226",
        "x-ms-date": "Sun, 26 Oct 2025 07:55:05 GMT"
      },
      "ResponseBody": {
        "etag": "LPu7oV1kqgWq8j_SnrfsHQYxsVUTtjyij-UDZ_YrYos",
        "items": [
          {
            "etag": "AdZlYDgXgAaRd6UPOqp-JUdPP-ir1iYvq25EuHA0u48",
            "key": "etags968",
            "label": null,
            "content_type": null,
            "value": "sneaky user updated the field",
            "tags": {},
            "locked": false,
            "last_modified": "2025-10-26T07:55:05+00:00"
          }
        ]
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/etags968?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzQ4NTUyMjY="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"AdZlYDgXgAaRd6UPOqp-JUdPP-ir1iYvq25EuHA0u48\"",
        "Last-Modified": "Sun, 26 Oct 2025 07:55:05 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQ4NTUyMjg=;sn=74855228",
        "x-ms-date": "Sun, 26 Oct 2025 07:55:06 GMT"
      },
      "ResponseBody": {
        "etag": "AdZlYDgXgAaRd6UPOqp-JUdPP-ir1iYvq25EuHA0u48",
        "key": "etags968",
        "label": null,
        "content_type": null,
        "value": "sneaky user updated the field",
        "tags": {},
        "locked": false,
        "last_modified": "2025-10-26T07:55:05+00:00"
      }
    }
  ],
  "Variables": {
    "etags": "etags968"
  }
}
