{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/etags503?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "etags503",
        "value": "some value"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"6xnhUgNaz-Fs69Ju1S3iGg6BdVwv43c11_CHUKOBd-w\"",
        "Last-Modified": "Tue, 13 Jan 2026 06:08:36 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMjQ3NzA4Ng==;sn=102477086",
        "x-ms-date": "Tue, 13 Jan 2026 06:08:36 GMT"
      },
      "ResponseBody": {
        "etag": "6xnhUgNaz-Fs69Ju1S3iGg6BdVwv43c11_CHUKOBd-w",
        "key": "etags503",
        "label": null,
        "content_type": null,
        "value": "some value",
        "tags": {},
        "locked": false,
        "last_modified": "2026-01-13T06:08:36+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/etags503?api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NTo1IzEwMjQ3NzA4Ng=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"6xnhUgNaz-Fs69Ju1S3iGg6BdVwv43c11_CHUKOBd-w\"",
        "Last-Modified": "Tue, 13 Jan 2026 06:08:36 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMjQ3NzA4OQ==;sn=102477089",
        "x-ms-date": "Tue, 13 Jan 2026 06:08:36 GMT"
      },
      "ResponseBody": {
        "etag": "6xnhUgNaz-Fs69Ju1S3iGg6BdVwv43c11_CHUKOBd-w",
        "key": "etags503",
        "label": null,
        "content_type": null,
        "value": "some value",
        "tags": {},
        "locked": false,
        "last_modified": "2026-01-13T06:08:36+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/etags503?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-Match": "\"6xnhUgNaz-Fs69Ju1S3iGg6BdVwv43c11_CHUKOBd-w\"",
        "sync-token": "zAJw6V16=NTo1IzEwMjQ3NzA5NQ=="
      },
      "RequestBody": {
        "key": "etags503",
        "value": "some new value!",
        "last_modified": "2026-01-13T06:08:36.000Z",
        "tags": {},
        "etag": "6xnhUgNaz-Fs69Ju1S3iGg6BdVwv43c11_CHUKOBd-w"
      },
      "StatusCode": 412,
      "ResponseHeaders": {
        "Sync-Token": "zAJw6V16=NTo1IzEwMjQ3NzEwMg==;sn=102477102",
        "x-ms-date": "Tue, 13 Jan 2026 06:08:36 GMT"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2023-11-01&key=etags503",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NTo1IzEwMjQ3NzEwMg=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"rARSkau0y7L385lNGNi-IFsN-y9-dVPf5b9JoPZ3WHU\"",
        "Sync-Token": "zAJw6V16=NTo1IzEwMjQ3NzEwMw==;sn=102477103",
        "x-ms-date": "Tue, 13 Jan 2026 06:08:36 GMT"
      },
      "ResponseBody": {
        "etag": "rARSkau0y7L385lNGNi-IFsN-y9-dVPf5b9JoPZ3WHU",
        "items": [
          {
            "etag": "_pxHvy0wQnA87Dt-Vgr5jg4bzDbEPM-Qa47Be1hU-is",
            "key": "etags503",
            "label": null,
            "content_type": null,
            "value": "sneaky user updated the field",
            "tags": {},
            "locked": false,
            "last_modified": "2026-01-13T06:08:36+00:00"
          }
        ]
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/etags503?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NTo1IzEwMjQ3NzEwMw=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"_pxHvy0wQnA87Dt-Vgr5jg4bzDbEPM-Qa47Be1hU-is\"",
        "Last-Modified": "Tue, 13 Jan 2026 06:08:36 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMjQ3NzEwOA==;sn=102477108",
        "x-ms-date": "Tue, 13 Jan 2026 06:08:37 GMT"
      },
      "ResponseBody": {
        "etag": "_pxHvy0wQnA87Dt-Vgr5jg4bzDbEPM-Qa47Be1hU-is",
        "key": "etags503",
        "label": null,
        "content_type": null,
        "value": "sneaky user updated the field",
        "tags": {},
        "locked": false,
        "last_modified": "2026-01-13T06:08:36+00:00"
      }
    }
  ],
  "Variables": {
    "etags": "etags503"
  }
}
