{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/etags653?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "value": "some value"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"ePScbQnqCiOY-ewhtA4JzqPAQA9zTT6wO4j4U8RNNpg\"",
        "Last-Modified": "Thu, 28 May 2026 21:22:04 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzExNTI4ODA3MA==;sn=115288070",
        "x-ms-date": "Thu, 28 May 2026 21:22:04 GMT"
      },
      "ResponseBody": {
        "etag": "ePScbQnqCiOY-ewhtA4JzqPAQA9zTT6wO4j4U8RNNpg",
        "key": "etags653",
        "label": null,
        "content_type": null,
        "value": "some value",
        "tags": {},
        "locked": false,
        "last_modified": "2026-05-28T21:22:04+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/snapshots/snapshot216?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json",
        "sync-token": "zAJw6V16=NTo1IzExNTI4ODA3MA=="
      },
      "RequestBody": {
        "filters": [
          {
            "key": "etags653"
          }
        ],
        "retention_period": 2592000
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json; charset=utf-8",
        "ETag": "\"OHTmVllwou3_9_towF2-E4tjO25H8_1eDykfgBr5UAA\"",
        "Last-Modified": "Thu, 28 May 2026 21:22:04 GMT",
        "Link": "</kv?snapshot=snapshot216&api-version=2023-11-01>; rel=\"items\"",
        "Operation-Location": "https://myappconfig.azconfig.io/operations?snapshot=snapshot216&api-version=2023-11-01",
        "Sync-Token": "zAJw6V16=NTo1IzExNTI4ODA3MQ==;sn=115288071",
        "x-ms-date": "Thu, 28 May 2026 21:22:04 GMT"
      },
      "ResponseBody": {
        "etag": "OHTmVllwou3_9_towF2-E4tjO25H8_1eDykfgBr5UAA",
        "name": "snapshot216",
        "status": "provisioning",
        "filters": [
          {
            "key": "etags653",
            "label": null,
            "tags": []
          }
        ],
        "composition_type": "key",
        "created": "2026-05-28T21:22:04.3888456+00:00",
        "size": 0,
        "items_count": 0,
        "tags": {},
        "retention_period": 2592000
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/operations?api-version=2023-11-01&snapshot=snapshot216",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NTo1IzExNTI4ODA3MQ=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "Sync-Token": "zAJw6V16=NTo1IzExNTI4ODA3MQ==;sn=115288071",
        "x-ms-date": "Thu, 28 May 2026 21:22:04 GMT"
      },
      "ResponseBody": {
        "id": "Sanitized",
        "status": "Running",
        "error": null
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/snapshots/snapshot216?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch+json",
        "If-Match": "\"badEtag\"",
        "sync-token": "zAJw6V16=NTo1IzExNTI4ODEyNw=="
      },
      "RequestBody": {
        "status": "archived"
      },
      "StatusCode": 412,
      "ResponseHeaders": {
        "Sync-Token": "zAJw6V16=NTo1IzExNTI4ODEyNw==;sn=115288127",
        "x-ms-date": "Thu, 28 May 2026 21:22:23 GMT"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/snapshots/snapshot216?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch+json",
        "If-Match": "\"OHTmVllwou3_9_towF2-E4tjO25H8_1eDykfgBr5UAA\"",
        "sync-token": "zAJw6V16=NTo1IzExNTI4ODEyNw=="
      },
      "RequestBody": {
        "status": "archived"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json; charset=utf-8",
        "ETag": "\"7a1aUx_nXCYQ0g2-m4UaBBrny0wBIBDOnrvq6S20AhE\"",
        "Last-Modified": "Thu, 28 May 2026 21:22:15 GMT",
        "Link": "</kv?snapshot=snapshot216&api-version=2023-11-01>; rel=\"items\"",
        "Sync-Token": "zAJw6V16=NTo1IzExNTI4ODEyOA==;sn=115288128",
        "x-ms-date": "Thu, 28 May 2026 21:22:23 GMT"
      },
      "ResponseBody": {
        "etag": "7a1aUx_nXCYQ0g2-m4UaBBrny0wBIBDOnrvq6S20AhE",
        "name": "snapshot216",
        "status": "archived",
        "filters": [
          {
            "key": "etags653",
            "label": null,
            "tags": []
          }
        ],
        "composition_type": "key",
        "created": "2026-05-28T21:22:04+00:00",
        "expires": "2026-06-27T21:22:23.0612336+00:00",
        "size": 1000,
        "items_count": 1,
        "tags": {},
        "retention_period": 2592000
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2023-11-01&key=etags653",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NTo1IzExNTI4ODEyOA=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"00wWELzclWef22f82qcUDI7FbJweVOoKWZDA_JoUeD0\"",
        "Sync-Token": "zAJw6V16=NTo1IzExNTI4ODEyOA==;sn=115288128",
        "x-ms-date": "Thu, 28 May 2026 21:22:23 GMT"
      },
      "ResponseBody": {
        "etag": "00wWELzclWef22f82qcUDI7FbJweVOoKWZDA_JoUeD0",
        "items": []
      }
    }
  ],
  "Variables": {
    "etags": "etags653",
    "snapshot": "snapshot216"
  }
}
