{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/etags438?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "etags438",
        "value": "some value"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"KqugQfUU6EGCuNfnZIygDdJKtBLqqex1N8sd98iXImA\"",
        "Last-Modified": "Tue, 04 Nov 2025 18:27:01 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzUwNTc5NDY=;sn=75057946",
        "x-ms-date": "Tue, 04 Nov 2025 18:27:01 GMT"
      },
      "ResponseBody": {
        "etag": "KqugQfUU6EGCuNfnZIygDdJKtBLqqex1N8sd98iXImA",
        "key": "etags438",
        "label": null,
        "content_type": null,
        "value": "some value",
        "tags": {},
        "locked": false,
        "last_modified": "2025-11-04T18:27:01+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/etags438?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "sync-token": "zAJw6V16=MTI6MTkjNzUwNTc5NDY="
      },
      "RequestBody": {
        "key": "etags438",
        "value": "world"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"U09RhMqDIvRg2bRsU7Y97JB_boQoCGfWzkHavb18pXA\"",
        "Last-Modified": "Tue, 04 Nov 2025 18:27:01 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzUwNTc5NDk=;sn=75057949",
        "x-ms-date": "Tue, 04 Nov 2025 18:27:01 GMT"
      },
      "ResponseBody": {
        "etag": "U09RhMqDIvRg2bRsU7Y97JB_boQoCGfWzkHavb18pXA",
        "key": "etags438",
        "label": null,
        "content_type": null,
        "value": "world",
        "tags": {},
        "locked": false,
        "last_modified": "2025-11-04T18:27:01+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2023-11-01&key=etags438",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzUwNTc5NjM="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"vrxEdS9BU32tHEnxBg-HjDi_rIj7O9f4iXekyM3zbN4\"",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzUwNTc5NjU=;sn=75057965",
        "x-ms-date": "Tue, 04 Nov 2025 18:27:02 GMT"
      },
      "ResponseBody": {
        "etag": "vrxEdS9BU32tHEnxBg-HjDi_rIj7O9f4iXekyM3zbN4",
        "items": [
          {
            "etag": "lNQ6v4afmvRWCLxyTFYFO8xSqEe8ZtXKYkYpNP9fFas",
            "key": "etags438",
            "label": null,
            "content_type": null,
            "value": "new world",
            "tags": {},
            "locked": false,
            "last_modified": "2025-11-04T18:27:02+00:00"
          }
        ]
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/etags438?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzUwNTc5NjU="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"lNQ6v4afmvRWCLxyTFYFO8xSqEe8ZtXKYkYpNP9fFas\"",
        "Last-Modified": "Tue, 04 Nov 2025 18:27:02 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzUwNTc5Njg=;sn=75057968",
        "x-ms-date": "Tue, 04 Nov 2025 18:27:02 GMT"
      },
      "ResponseBody": {
        "etag": "lNQ6v4afmvRWCLxyTFYFO8xSqEe8ZtXKYkYpNP9fFas",
        "key": "etags438",
        "label": null,
        "content_type": null,
        "value": "new world",
        "tags": {},
        "locked": false,
        "last_modified": "2025-11-04T18:27:02+00:00"
      }
    }
  ],
  "Variables": {
    "etags": "etags438"
  }
}
