{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/etags72?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "etags72",
        "value": "some value"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"Z5PFUUt-0KkiIjLiPbiGK1_J5dsYzOJQcvahpcZOecY\"",
        "Last-Modified": "Tue, 04 Nov 2025 18:57:45 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzUwNjE0MTg=;sn=75061418",
        "x-ms-date": "Tue, 04 Nov 2025 18:57:45 GMT"
      },
      "ResponseBody": {
        "etag": "Z5PFUUt-0KkiIjLiPbiGK1_J5dsYzOJQcvahpcZOecY",
        "key": "etags72",
        "label": null,
        "content_type": null,
        "value": "some value",
        "tags": {},
        "locked": false,
        "last_modified": "2025-11-04T18:57:45+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/etags72?api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzUwNjE0MTg="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"Z5PFUUt-0KkiIjLiPbiGK1_J5dsYzOJQcvahpcZOecY\"",
        "Last-Modified": "Tue, 04 Nov 2025 18:57:45 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzUwNjE0MjI=;sn=75061422",
        "x-ms-date": "Tue, 04 Nov 2025 18:57:45 GMT"
      },
      "ResponseBody": {
        "etag": "Z5PFUUt-0KkiIjLiPbiGK1_J5dsYzOJQcvahpcZOecY",
        "key": "etags72",
        "label": null,
        "content_type": null,
        "value": "some value",
        "tags": {},
        "locked": false,
        "last_modified": "2025-11-04T18:57:45+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/etags72?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-Match": "\"Z5PFUUt-0KkiIjLiPbiGK1_J5dsYzOJQcvahpcZOecY\"",
        "sync-token": "zAJw6V16=MTI6MTkjNzUwNjE0MjI="
      },
      "RequestBody": {
        "key": "etags72",
        "value": "some new value!",
        "last_modified": "2025-11-04T18:57:45.000Z",
        "tags": {},
        "etag": "Z5PFUUt-0KkiIjLiPbiGK1_J5dsYzOJQcvahpcZOecY"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"Yj7JIgQe8xdkpwF3QNEXl3LgDwj4o9moCKBKuoqyahM\"",
        "Last-Modified": "Tue, 04 Nov 2025 18:57:45 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzUwNjE0MjM=;sn=75061423",
        "x-ms-date": "Tue, 04 Nov 2025 18:57:45 GMT"
      },
      "ResponseBody": {
        "etag": "Yj7JIgQe8xdkpwF3QNEXl3LgDwj4o9moCKBKuoqyahM",
        "key": "etags72",
        "label": null,
        "content_type": null,
        "value": "some new value!",
        "tags": {},
        "locked": false,
        "last_modified": "2025-11-04T18:57:45+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2023-11-01&key=etags72",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzUwNjE0MjY="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"Q_uIv8z_0Stf4FyzWwMIe6YRxjKUEiVhJ4sdJeELHO4\"",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzUwNjE0MzI=;sn=75061432",
        "x-ms-date": "Tue, 04 Nov 2025 18:57:46 GMT"
      },
      "ResponseBody": {
        "etag": "Q_uIv8z_0Stf4FyzWwMIe6YRxjKUEiVhJ4sdJeELHO4",
        "items": [
          {
            "etag": "Yj7JIgQe8xdkpwF3QNEXl3LgDwj4o9moCKBKuoqyahM",
            "key": "etags72",
            "label": null,
            "content_type": null,
            "value": "some new value!",
            "tags": {},
            "locked": false,
            "last_modified": "2025-11-04T18:57:45+00:00"
          }
        ]
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/etags72?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzUwNjE0MzI="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"Yj7JIgQe8xdkpwF3QNEXl3LgDwj4o9moCKBKuoqyahM\"",
        "Last-Modified": "Tue, 04 Nov 2025 18:57:45 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzUwNjE0MzY=;sn=75061436",
        "x-ms-date": "Tue, 04 Nov 2025 18:57:46 GMT"
      },
      "ResponseBody": {
        "etag": "Yj7JIgQe8xdkpwF3QNEXl3LgDwj4o9moCKBKuoqyahM",
        "key": "etags72",
        "label": null,
        "content_type": null,
        "value": "some new value!",
        "tags": {},
        "locked": false,
        "last_modified": "2025-11-04T18:57:45+00:00"
      }
    }
  ],
  "Variables": {
    "etags": "etags72"
  }
}
