{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/etags946?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "etags946",
        "value": "some value"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"tIMwEYuPWYvz2tvcjQK3h2n4c38vMf0nHU2RuNqrog8\"",
        "Last-Modified": "Mon, 29 Sep 2025 09:29:20 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQxMDI3Nzk=;sn=74102779"
      },
      "ResponseBody": {
        "etag": "tIMwEYuPWYvz2tvcjQK3h2n4c38vMf0nHU2RuNqrog8",
        "key": "etags946",
        "label": null,
        "content_type": null,
        "value": "some value",
        "tags": {},
        "locked": false,
        "last_modified": "2025-09-29T09:29:20+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/etags946?api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzQxMDI3Nzk="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"tIMwEYuPWYvz2tvcjQK3h2n4c38vMf0nHU2RuNqrog8\"",
        "Last-Modified": "Mon, 29 Sep 2025 09:29:20 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQxMDI3ODA=;sn=74102780"
      },
      "ResponseBody": {
        "etag": "tIMwEYuPWYvz2tvcjQK3h2n4c38vMf0nHU2RuNqrog8",
        "key": "etags946",
        "label": null,
        "content_type": null,
        "value": "some value",
        "tags": {},
        "locked": false,
        "last_modified": "2025-09-29T09:29:20+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/locks/etags946?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"bogus\"",
        "sync-token": "zAJw6V16=MTI6MTkjNzQxMDI3ODA="
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQxMDI3ODE=;sn=74102781"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2023-11-01&key=etags946",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzQxMDI3OTQ="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"rkYht-9d-OOAZ0GrVDhS_fuR47eiKfq176CP9OgIsco\"",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQxMDI3OTU=;sn=74102795"
      },
      "ResponseBody": {
        "etag": "rkYht-9d-OOAZ0GrVDhS_fuR47eiKfq176CP9OgIsco",
        "items": [
          {
            "etag": "5oBI2fHWJ02GyimWLVQNSfkCrBzYqlpZ1ZhK1THVBdI",
            "key": "etags946",
            "label": null,
            "content_type": null,
            "value": "some value",
            "tags": {},
            "locked": false,
            "last_modified": "2025-09-29T09:29:21+00:00"
          }
        ]
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/etags946?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzQxMDI3OTU="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"5oBI2fHWJ02GyimWLVQNSfkCrBzYqlpZ1ZhK1THVBdI\"",
        "Last-Modified": "Mon, 29 Sep 2025 09:29:21 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQxMDI3OTc=;sn=74102797"
      },
      "ResponseBody": {
        "etag": "5oBI2fHWJ02GyimWLVQNSfkCrBzYqlpZ1ZhK1THVBdI",
        "key": "etags946",
        "label": null,
        "content_type": null,
        "value": "some value",
        "tags": {},
        "locked": false,
        "last_modified": "2025-09-29T09:29:21+00:00"
      }
    }
  ],
  "Variables": {
    "etags": "etags946"
  }
}
