{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/etags28?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "etags28",
        "value": "some value"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"hl71kksraC4Z68SV8tE2uGlCd-s0-b2JNA5NBPKIvgo\"",
        "Last-Modified": "Thu, 23 Oct 2025 05:18:09 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQ3NzMxMTA=;sn=74773110",
        "x-ms-date": "Thu, 23 Oct 2025 05:18:09 GMT"
      },
      "ResponseBody": {
        "etag": "hl71kksraC4Z68SV8tE2uGlCd-s0-b2JNA5NBPKIvgo",
        "key": "etags28",
        "label": null,
        "content_type": null,
        "value": "some value",
        "tags": {},
        "locked": false,
        "last_modified": "2025-10-23T05:18:09+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/etags28?api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzQ3NzMxMTA="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"hl71kksraC4Z68SV8tE2uGlCd-s0-b2JNA5NBPKIvgo\"",
        "Last-Modified": "Thu, 23 Oct 2025 05:18:09 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQ3NzMxMTE=;sn=74773111",
        "x-ms-date": "Thu, 23 Oct 2025 05:18:09 GMT"
      },
      "ResponseBody": {
        "etag": "hl71kksraC4Z68SV8tE2uGlCd-s0-b2JNA5NBPKIvgo",
        "key": "etags28",
        "label": null,
        "content_type": null,
        "value": "some value",
        "tags": {},
        "locked": false,
        "last_modified": "2025-10-23T05:18:09+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/etags28?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"bogus\"",
        "sync-token": "zAJw6V16=MTI6MTkjNzQ3NzMxMTE="
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQ3NzMxMTI=;sn=74773112",
        "x-ms-date": "Thu, 23 Oct 2025 05:18:10 GMT"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2023-11-01&key=etags28",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzQ3NzMxMTY="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"00wWELzclWef22f82qcUDI7FbJweVOoKWZDA_JoUeD0\"",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQ3NzMxMTc=;sn=74773117",
        "x-ms-date": "Thu, 23 Oct 2025 05:18:10 GMT"
      },
      "ResponseBody": {
        "etag": "00wWELzclWef22f82qcUDI7FbJweVOoKWZDA_JoUeD0",
        "items": []
      }
    }
  ],
  "Variables": {
    "etags": "etags28"
  }
}
