{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/etags735?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "etags735",
        "value": "some value"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"4khtZpmLAWNzkooQ6ORgPnavFLM6o__f7FIgg6eIfJ4\"",
        "Last-Modified": "Thu, 02 Oct 2025 15:29:49 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQyMjk0MzY=;sn=74229436"
      },
      "ResponseBody": {
        "etag": "4khtZpmLAWNzkooQ6ORgPnavFLM6o__f7FIgg6eIfJ4",
        "key": "etags735",
        "label": null,
        "content_type": null,
        "value": "some value",
        "tags": {},
        "locked": false,
        "last_modified": "2025-10-02T15:29:49+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/etags735?api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzQyMjk0MzY="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"4khtZpmLAWNzkooQ6ORgPnavFLM6o__f7FIgg6eIfJ4\"",
        "Last-Modified": "Thu, 02 Oct 2025 15:29:49 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQyMjk0Mzg=;sn=74229438"
      },
      "ResponseBody": {
        "etag": "4khtZpmLAWNzkooQ6ORgPnavFLM6o__f7FIgg6eIfJ4",
        "key": "etags735",
        "label": null,
        "content_type": null,
        "value": "some value",
        "tags": {},
        "locked": false,
        "last_modified": "2025-10-02T15:29:49+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/locks/etags735?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"bogus\"",
        "sync-token": "zAJw6V16=MTI6MTkjNzQyMjk0Mzg="
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQyMjk0Mzg=;sn=74229438"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2023-11-01&key=etags735",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzQyMjk0NDI="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"BGHebkhCTGlKGFQUGyOEqlYyg713sRcMaujW2l_z2Gc\"",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQyMjk0NDI=;sn=74229442"
      },
      "ResponseBody": {
        "etag": "BGHebkhCTGlKGFQUGyOEqlYyg713sRcMaujW2l_z2Gc",
        "items": [
          {
            "etag": "7sVHJHkSsD18kYc1sav1Mei554uSYEfMZ5jCkoh7_pk",
            "key": "etags735",
            "label": null,
            "content_type": null,
            "value": "some value",
            "tags": {},
            "locked": false,
            "last_modified": "2025-10-02T15:29:51+00:00"
          }
        ]
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/etags735?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzQyMjk0NDI="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"7sVHJHkSsD18kYc1sav1Mei554uSYEfMZ5jCkoh7_pk\"",
        "Last-Modified": "Thu, 02 Oct 2025 15:29:51 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQyMjk0NDM=;sn=74229443"
      },
      "ResponseBody": {
        "etag": "7sVHJHkSsD18kYc1sav1Mei554uSYEfMZ5jCkoh7_pk",
        "key": "etags735",
        "label": null,
        "content_type": null,
        "value": "some value",
        "tags": {},
        "locked": false,
        "last_modified": "2025-10-02T15:29:51+00:00"
      }
    }
  ],
  "Variables": {
    "etags": "etags735"
  }
}
