{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/etags404?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "etags404",
        "value": "some value"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"HxQ7vS04Z9Ip0bOx0UZwA7sCjBGYKUM5JFGp0Y6UHNM\"",
        "Last-Modified": "Thu, 23 Oct 2025 05:18:13 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQ3NzMxNDI=;sn=74773142",
        "x-ms-date": "Thu, 23 Oct 2025 05:18:13 GMT"
      },
      "ResponseBody": {
        "etag": "HxQ7vS04Z9Ip0bOx0UZwA7sCjBGYKUM5JFGp0Y6UHNM",
        "key": "etags404",
        "label": null,
        "content_type": null,
        "value": "some value",
        "tags": {},
        "locked": false,
        "last_modified": "2025-10-23T05:18:13+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/snapshots/snapshot809?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json",
        "sync-token": "zAJw6V16=MTI6MTkjNzQ3NzMxNDI="
      },
      "RequestBody": {
        "filters": [
          {
            "key": "etags404"
          }
        ],
        "retention_period": 2592000
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json; charset=utf-8",
        "ETag": "\"xM87jOj6mK4MdHsAfdwm9e5FrBR4V076Ft3WDMNjzlY\"",
        "Last-Modified": "Thu, 23 Oct 2025 05:18:13 GMT",
        "Link": "</kv?snapshot=snapshot809&api-version=2023-11-01>; rel=\"items\"",
        "Operation-Location": "https://myappconfig.azconfig.io/operations?snapshot=snapshot809&api-version=2023-11-01",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQ3NzMxNDQ=;sn=74773144",
        "x-ms-date": "Thu, 23 Oct 2025 05:18:13 GMT"
      },
      "ResponseBody": {
        "etag": "xM87jOj6mK4MdHsAfdwm9e5FrBR4V076Ft3WDMNjzlY",
        "name": "snapshot809",
        "status": "provisioning",
        "filters": [
          {
            "key": "etags404",
            "label": null,
            "tags": []
          }
        ],
        "composition_type": "key",
        "created": "2025-10-23T05:18:13.767251+00:00",
        "size": 0,
        "items_count": 0,
        "tags": {},
        "retention_period": 2592000
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/operations?api-version=2023-11-01&snapshot=snapshot809",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json",
        "sync-token": "zAJw6V16=MTI6MTkjNzQ3NzMxNDQ="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQ3NzMxNDU=;sn=74773145",
        "x-ms-date": "Thu, 23 Oct 2025 05:18:13 GMT"
      },
      "ResponseBody": {
        "id": "Sanitized",
        "status": "Running",
        "error": null
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/snapshots/snapshot809?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-Match": "\"badEtag\"",
        "sync-token": "zAJw6V16=MTI6MTkjNzQ3NzMyMjc="
      },
      "RequestBody": {
        "status": "archived"
      },
      "StatusCode": 412,
      "ResponseHeaders": {
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQ3NzMyMjc=;sn=74773227",
        "x-ms-date": "Thu, 23 Oct 2025 05:18:45 GMT"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/snapshots/snapshot809?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-Match": "\"xM87jOj6mK4MdHsAfdwm9e5FrBR4V076Ft3WDMNjzlY\"",
        "sync-token": "zAJw6V16=MTI6MTkjNzQ3NzMyMjc="
      },
      "RequestBody": {
        "status": "archived"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json; charset=utf-8",
        "ETag": "\"EDT5CRuZdCQlf9wWqJ-0ZUH3k49y3SfQ4IJ8YbPz3To\"",
        "Last-Modified": "Thu, 23 Oct 2025 05:18:35 GMT",
        "Link": "</kv?snapshot=snapshot809&api-version=2023-11-01>; rel=\"items\"",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQ3NzMyMjk=;sn=74773229",
        "x-ms-date": "Thu, 23 Oct 2025 05:18:45 GMT"
      },
      "ResponseBody": {
        "etag": "EDT5CRuZdCQlf9wWqJ-0ZUH3k49y3SfQ4IJ8YbPz3To",
        "name": "snapshot809",
        "status": "archived",
        "filters": [
          {
            "key": "etags404",
            "label": null,
            "tags": []
          }
        ],
        "composition_type": "key",
        "created": "2025-10-23T05:18:13+00:00",
        "expires": "2025-11-22T05:18:45.1924096+00:00",
        "size": 1000,
        "items_count": 1,
        "tags": {},
        "retention_period": 2592000
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2023-11-01&key=etags404",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzQ3NzMyMzE="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"00wWELzclWef22f82qcUDI7FbJweVOoKWZDA_JoUeD0\"",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQ3NzMyMzI=;sn=74773232",
        "x-ms-date": "Thu, 23 Oct 2025 05:18:45 GMT"
      },
      "ResponseBody": {
        "etag": "00wWELzclWef22f82qcUDI7FbJweVOoKWZDA_JoUeD0",
        "items": []
      }
    }
  ],
  "Variables": {
    "etags": "etags404",
    "snapshot": "snapshot809"
  }
}
