{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/etags154?api-version=2026-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "value": "some value"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"1TCmdVIfH2hna1SQ6mBva_AUucQ8mmOoWKaGWTmEmvw\"",
        "Last-Modified": "Tue, 09 Jun 2026 23:31:36 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyM1MzEyNTYzNQ==;sn=53125635",
        "x-ms-date": "Tue, 09 Jun 2026 23:31:36 GMT"
      },
      "ResponseBody": {
        "etag": "1TCmdVIfH2hna1SQ6mBva_AUucQ8mmOoWKaGWTmEmvw",
        "key": "etags154",
        "label": null,
        "content_type": null,
        "value": "some value",
        "description": null,
        "tags": {},
        "locked": false,
        "last_modified": "2026-06-09T23:31:36+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/etags154?api-version=2026-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NzoxNyM1MzEyNTYzNQ=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"1TCmdVIfH2hna1SQ6mBva_AUucQ8mmOoWKaGWTmEmvw\"",
        "Last-Modified": "Tue, 09 Jun 2026 23:31:36 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyM1MzEyNTYzNw==;sn=53125637",
        "x-ms-date": "Tue, 09 Jun 2026 23:31:36 GMT"
      },
      "ResponseBody": {
        "etag": "1TCmdVIfH2hna1SQ6mBva_AUucQ8mmOoWKaGWTmEmvw",
        "key": "etags154",
        "label": null,
        "content_type": null,
        "value": "some value",
        "description": null,
        "tags": {},
        "locked": false,
        "last_modified": "2026-06-09T23:31:36+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2026-04-01&key=etags154",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NzoxNyM1MzEyNTYzOQ=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"HzCy6UpxG666Tisv0ekgCKMBO3MHh2lgZEwlvR_w6mA\"",
        "Sync-Token": "zAJw6V16=NzoxNyM1MzEyNTY0MQ==;sn=53125641",
        "x-ms-date": "Tue, 09 Jun 2026 23:31:36 GMT"
      },
      "ResponseBody": {
        "etag": "HzCy6UpxG666Tisv0ekgCKMBO3MHh2lgZEwlvR_w6mA",
        "items": [
          {
            "etag": "jOaoGVYq_M_awk0ZMGHY8pbkfZQJ3krR4cDtNLwwDk0",
            "key": "etags154",
            "label": null,
            "content_type": null,
            "value": "some new value!",
            "description": null,
            "tags": {},
            "locked": false,
            "last_modified": "2026-06-09T23:31:36+00:00"
          }
        ]
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/etags154?api-version=2026-04-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NzoxNyM1MzEyNTY0MQ=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"jOaoGVYq_M_awk0ZMGHY8pbkfZQJ3krR4cDtNLwwDk0\"",
        "Last-Modified": "Tue, 09 Jun 2026 23:31:36 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyM1MzEyNTY0Mg==;sn=53125642",
        "x-ms-date": "Tue, 09 Jun 2026 23:31:36 GMT"
      },
      "ResponseBody": {
        "etag": "jOaoGVYq_M_awk0ZMGHY8pbkfZQJ3krR4cDtNLwwDk0",
        "key": "etags154",
        "label": null,
        "content_type": null,
        "value": "some new value!",
        "description": null,
        "tags": {},
        "locked": false,
        "last_modified": "2026-06-09T23:31:36+00:00"
      }
    }
  ],
  "Variables": {
    "etags": "etags154"
  }
}
