{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/etags935?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "etags935",
        "value": "some value"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"SRQ9f_7_RFMIB_f61kuLwHj-4x9pwRXh8vwYwwXxwhw\"",
        "Last-Modified": "Thu, 18 Sep 2025 02:37:50 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzM3OTk0Mzg=;sn=73799438"
      },
      "ResponseBody": {
        "etag": "SRQ9f_7_RFMIB_f61kuLwHj-4x9pwRXh8vwYwwXxwhw",
        "key": "etags935",
        "label": null,
        "content_type": null,
        "value": "some value",
        "tags": {},
        "locked": false,
        "last_modified": "2025-09-18T02:37:50+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/etags935?api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzM3OTk0Mzg="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"SRQ9f_7_RFMIB_f61kuLwHj-4x9pwRXh8vwYwwXxwhw\"",
        "Last-Modified": "Thu, 18 Sep 2025 02:37:50 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzM3OTk0NDE=;sn=73799441"
      },
      "ResponseBody": {
        "etag": "SRQ9f_7_RFMIB_f61kuLwHj-4x9pwRXh8vwYwwXxwhw",
        "key": "etags935",
        "label": null,
        "content_type": null,
        "value": "some value",
        "tags": {},
        "locked": false,
        "last_modified": "2025-09-18T02:37:50+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/etags935?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-Match": "\"SRQ9f_7_RFMIB_f61kuLwHj-4x9pwRXh8vwYwwXxwhw\"",
        "sync-token": "zAJw6V16=MTI6MTkjNzM3OTk0NDE="
      },
      "RequestBody": {
        "key": "etags935",
        "value": "some new value!",
        "last_modified": "2025-09-18T02:37:50.000Z",
        "tags": {},
        "etag": "SRQ9f_7_RFMIB_f61kuLwHj-4x9pwRXh8vwYwwXxwhw"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"uWg5W7bp6IBW7_PbKzbNuBbMSlWQGdVgkDf92HpERDA\"",
        "Last-Modified": "Thu, 18 Sep 2025 02:37:50 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzM3OTk0NDM=;sn=73799443"
      },
      "ResponseBody": {
        "etag": "uWg5W7bp6IBW7_PbKzbNuBbMSlWQGdVgkDf92HpERDA",
        "key": "etags935",
        "label": null,
        "content_type": null,
        "value": "some new value!",
        "tags": {},
        "locked": false,
        "last_modified": "2025-09-18T02:37:50+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2023-11-01&key=etags935",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzM3OTk0NTE="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"cO55AAWJj9rmcVwhz6OzE41rjO_AU9b48eKWQehChxI\"",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzM3OTk0NTM=;sn=73799453"
      },
      "ResponseBody": {
        "etag": "cO55AAWJj9rmcVwhz6OzE41rjO_AU9b48eKWQehChxI",
        "items": [
          {
            "etag": "uWg5W7bp6IBW7_PbKzbNuBbMSlWQGdVgkDf92HpERDA",
            "key": "etags935",
            "label": null,
            "content_type": null,
            "value": "some new value!",
            "tags": {},
            "locked": false,
            "last_modified": "2025-09-18T02:37:50+00:00"
          }
        ]
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/etags935?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzM3OTk0NTM="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"uWg5W7bp6IBW7_PbKzbNuBbMSlWQGdVgkDf92HpERDA\"",
        "Last-Modified": "Thu, 18 Sep 2025 02:37:50 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzM3OTk0NTY=;sn=73799456"
      },
      "ResponseBody": {
        "etag": "uWg5W7bp6IBW7_PbKzbNuBbMSlWQGdVgkDf92HpERDA",
        "key": "etags935",
        "label": null,
        "content_type": null,
        "value": "some new value!",
        "tags": {},
        "locked": false,
        "last_modified": "2025-09-18T02:37:50+00:00"
      }
    }
  ],
  "Variables": {
    "etags": "etags935"
  }
}
