{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/etags819?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "etags819",
        "value": "some value"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"qGIRH21PqDvksGwexQAE-QAyrsIGe5FD-qYHSeGcBfY\"",
        "Last-Modified": "Tue, 04 Nov 2025 18:57:55 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzUwNjE1NDk=;sn=75061549",
        "x-ms-date": "Tue, 04 Nov 2025 18:57:55 GMT"
      },
      "ResponseBody": {
        "etag": "qGIRH21PqDvksGwexQAE-QAyrsIGe5FD-qYHSeGcBfY",
        "key": "etags819",
        "label": null,
        "content_type": null,
        "value": "some value",
        "tags": {},
        "locked": false,
        "last_modified": "2025-11-04T18:57:55+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/etags819?api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzUwNjE1NDk="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"qGIRH21PqDvksGwexQAE-QAyrsIGe5FD-qYHSeGcBfY\"",
        "Last-Modified": "Tue, 04 Nov 2025 18:57:55 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzUwNjE1NTE=;sn=75061551",
        "x-ms-date": "Tue, 04 Nov 2025 18:57:55 GMT"
      },
      "ResponseBody": {
        "etag": "qGIRH21PqDvksGwexQAE-QAyrsIGe5FD-qYHSeGcBfY",
        "key": "etags819",
        "label": null,
        "content_type": null,
        "value": "some value",
        "tags": {},
        "locked": false,
        "last_modified": "2025-11-04T18:57:55+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/etags819?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-Match": "\"qGIRH21PqDvksGwexQAE-QAyrsIGe5FD-qYHSeGcBfY\"",
        "sync-token": "zAJw6V16=MTI6MTkjNzUwNjE1NTU="
      },
      "RequestBody": {
        "key": "etags819",
        "value": "some new value!",
        "last_modified": "2025-11-04T18:57:55.000Z",
        "tags": {},
        "etag": "qGIRH21PqDvksGwexQAE-QAyrsIGe5FD-qYHSeGcBfY"
      },
      "StatusCode": 412,
      "ResponseHeaders": {
        "Sync-Token": "zAJw6V16=MTI6MTkjNzUwNjE1NTk=;sn=75061559",
        "x-ms-date": "Tue, 04 Nov 2025 18:57:56 GMT"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2023-11-01&key=etags819",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzUwNjE1NTk="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"iYBa3WNKJ_Is3yNDIcWv_wEsad6RgkSaXjVZQMwaDto\"",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzUwNjE1NjE=;sn=75061561",
        "x-ms-date": "Tue, 04 Nov 2025 18:57:56 GMT"
      },
      "ResponseBody": {
        "etag": "iYBa3WNKJ_Is3yNDIcWv_wEsad6RgkSaXjVZQMwaDto",
        "items": [
          {
            "etag": "zGgZIcm--ZGora8LjjJMmlW6oFbVlHw1p8tR-tkq1Uk",
            "key": "etags819",
            "label": null,
            "content_type": null,
            "value": "sneaky user updated the field",
            "tags": {},
            "locked": false,
            "last_modified": "2025-11-04T18:57:55+00:00"
          }
        ]
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/etags819?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzUwNjE1NjE="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"zGgZIcm--ZGora8LjjJMmlW6oFbVlHw1p8tR-tkq1Uk\"",
        "Last-Modified": "Tue, 04 Nov 2025 18:57:55 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzUwNjE1NjY=;sn=75061566",
        "x-ms-date": "Tue, 04 Nov 2025 18:57:56 GMT"
      },
      "ResponseBody": {
        "etag": "zGgZIcm--ZGora8LjjJMmlW6oFbVlHw1p8tR-tkq1Uk",
        "key": "etags819",
        "label": null,
        "content_type": null,
        "value": "sneaky user updated the field",
        "tags": {},
        "locked": false,
        "last_modified": "2025-11-04T18:57:55+00:00"
      }
    }
  ],
  "Variables": {
    "etags": "etags819"
  }
}
