{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/etags348?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "etags348",
        "value": "some value"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"mqmiqB1_ZHO5CshMkiG3n8wSrKRZlOSFc4KKP4E4mAM\"",
        "Last-Modified": "Thu, 18 Sep 2025 02:38:11 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzM3OTk2OTE=;sn=73799691"
      },
      "ResponseBody": {
        "etag": "mqmiqB1_ZHO5CshMkiG3n8wSrKRZlOSFc4KKP4E4mAM",
        "key": "etags348",
        "label": null,
        "content_type": null,
        "value": "some value",
        "tags": {},
        "locked": false,
        "last_modified": "2025-09-18T02:38:11+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/snapshots/snapshot384?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json",
        "sync-token": "zAJw6V16=MTI6MTkjNzM3OTk2OTE="
      },
      "RequestBody": {
        "filters": [
          {
            "key": "etags348"
          }
        ],
        "retention_period": 2592000
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json; charset=utf-8",
        "ETag": "\"qWVseEBmaJ6Qt2rjBrwEjXKP34fbWj5pT5g-dQXb_5s\"",
        "Last-Modified": "Thu, 18 Sep 2025 02:38:11 GMT",
        "Link": "</kv?snapshot=snapshot384&api-version=2023-11-01>; rel=\"items\"",
        "Operation-Location": "https://myappconfig.azconfig.io/operations?snapshot=snapshot384&api-version=2023-11-01",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzM3OTk2OTM=;sn=73799693"
      },
      "ResponseBody": {
        "etag": "qWVseEBmaJ6Qt2rjBrwEjXKP34fbWj5pT5g-dQXb_5s",
        "name": "snapshot384",
        "status": "provisioning",
        "filters": [
          {
            "key": "etags348",
            "label": null,
            "tags": []
          }
        ],
        "composition_type": "key",
        "created": "2025-09-18T02:38:11.2162649+00:00",
        "size": 0,
        "items_count": 0,
        "tags": {},
        "retention_period": 2592000
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/operations?api-version=2023-11-01&snapshot=snapshot384",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json",
        "sync-token": "zAJw6V16=MTI6MTkjNzM3OTk2OTM="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzM3OTk2OTQ=;sn=73799694"
      },
      "ResponseBody": {
        "id": "Sanitized",
        "status": "Running",
        "error": null
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/snapshots/snapshot384?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-Match": "\"badEtag\"",
        "sync-token": "zAJw6V16=MTI6MTkjNzM3OTk3NDc="
      },
      "RequestBody": {
        "status": "archived"
      },
      "StatusCode": 412,
      "ResponseHeaders": {
        "Sync-Token": "zAJw6V16=MTI6MTkjNzM3OTk3NDk=;sn=73799749"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/snapshots/snapshot384?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-Match": "\"qWVseEBmaJ6Qt2rjBrwEjXKP34fbWj5pT5g-dQXb_5s\"",
        "sync-token": "zAJw6V16=MTI6MTkjNzM3OTk3NDk="
      },
      "RequestBody": {
        "status": "archived"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json; charset=utf-8",
        "ETag": "\"4jNeG-SYzBnL6tBWoEJW-kL8yCKgm10ovFLFqcx5G3o\"",
        "Last-Modified": "Thu, 18 Sep 2025 02:38:14 GMT",
        "Link": "</kv?snapshot=snapshot384&api-version=2023-11-01>; rel=\"items\"",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzM3OTk3NTA=;sn=73799750"
      },
      "ResponseBody": {
        "etag": "4jNeG-SYzBnL6tBWoEJW-kL8yCKgm10ovFLFqcx5G3o",
        "name": "snapshot384",
        "status": "archived",
        "filters": [
          {
            "key": "etags348",
            "label": null,
            "tags": []
          }
        ],
        "composition_type": "key",
        "created": "2025-09-18T02:38:11+00:00",
        "expires": "2025-10-18T02:38:22.3618901+00:00",
        "size": 1000,
        "items_count": 1,
        "tags": {},
        "retention_period": 2592000
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2023-11-01&key=etags348",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzM3OTk3NTA="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"kIkiRfxAeQ3qME8GFyM0UkrZfIFmplsrBFN2KHjjFeQ\"",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzM3OTk3NTA=;sn=73799750"
      },
      "ResponseBody": {
        "etag": "kIkiRfxAeQ3qME8GFyM0UkrZfIFmplsrBFN2KHjjFeQ",
        "items": [
          {
            "etag": "mqmiqB1_ZHO5CshMkiG3n8wSrKRZlOSFc4KKP4E4mAM",
            "key": "etags348",
            "label": null,
            "content_type": null,
            "value": "some value",
            "tags": {},
            "locked": false,
            "last_modified": "2025-09-18T02:38:11+00:00"
          }
        ]
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/etags348?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzM3OTk3NTA="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"mqmiqB1_ZHO5CshMkiG3n8wSrKRZlOSFc4KKP4E4mAM\"",
        "Last-Modified": "Thu, 18 Sep 2025 02:38:11 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzM3OTk3NTE=;sn=73799751"
      },
      "ResponseBody": {
        "etag": "mqmiqB1_ZHO5CshMkiG3n8wSrKRZlOSFc4KKP4E4mAM",
        "key": "etags348",
        "label": null,
        "content_type": null,
        "value": "some value",
        "tags": {},
        "locked": false,
        "last_modified": "2025-09-18T02:38:11+00:00"
      }
    }
  ],
  "Variables": {
    "etags": "etags348",
    "snapshot": "snapshot384"
  }
}
