{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/etags99?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "etags99",
        "value": "some value"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"xXL5e-cnmAvsIxKf-jzxInG-jxU0qFBSv49PXoCyMOI\"",
        "Last-Modified": "Thu, 02 Oct 2025 16:52:32 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQyMzI3Mjc=;sn=74232727"
      },
      "ResponseBody": {
        "etag": "xXL5e-cnmAvsIxKf-jzxInG-jxU0qFBSv49PXoCyMOI",
        "key": "etags99",
        "label": null,
        "content_type": null,
        "value": "some value",
        "tags": {},
        "locked": false,
        "last_modified": "2025-10-02T16:52:32+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/etags99?api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzQyMzI3Mjc="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"xXL5e-cnmAvsIxKf-jzxInG-jxU0qFBSv49PXoCyMOI\"",
        "Last-Modified": "Thu, 02 Oct 2025 16:52:32 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQyMzI3MzQ=;sn=74232734"
      },
      "ResponseBody": {
        "etag": "xXL5e-cnmAvsIxKf-jzxInG-jxU0qFBSv49PXoCyMOI",
        "key": "etags99",
        "label": null,
        "content_type": null,
        "value": "some value",
        "tags": {},
        "locked": false,
        "last_modified": "2025-10-02T16:52:32+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/etags99?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-Match": "\"xXL5e-cnmAvsIxKf-jzxInG-jxU0qFBSv49PXoCyMOI\"",
        "sync-token": "zAJw6V16=MTI6MTkjNzQyMzI3Mzg="
      },
      "RequestBody": {
        "key": "etags99",
        "value": "some new value!",
        "last_modified": "2025-10-02T16:52:32.000Z",
        "tags": {},
        "etag": "xXL5e-cnmAvsIxKf-jzxInG-jxU0qFBSv49PXoCyMOI"
      },
      "StatusCode": 412,
      "ResponseHeaders": {
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQyMzI3NDE=;sn=74232741"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2023-11-01&key=etags99",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzQyMzI3NDE="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"nbrwwXHIdrvWgE-Fzp71Sy8rZ-u0jDLiqDjtRJA46xU\"",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQyMzI3NDk=;sn=74232749"
      },
      "ResponseBody": {
        "etag": "nbrwwXHIdrvWgE-Fzp71Sy8rZ-u0jDLiqDjtRJA46xU",
        "items": [
          {
            "etag": "49_w3Bh_Q97GxxljsQXIK0B3OHH_gd0WgVRGq5WVrb0",
            "key": "etags99",
            "label": null,
            "content_type": null,
            "value": "sneaky user updated the field",
            "tags": {},
            "locked": false,
            "last_modified": "2025-10-02T16:52:32+00:00"
          }
        ]
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/etags99?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzQyMzI3NDk="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"49_w3Bh_Q97GxxljsQXIK0B3OHH_gd0WgVRGq5WVrb0\"",
        "Last-Modified": "Thu, 02 Oct 2025 16:52:32 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQyMzI3NTU=;sn=74232755"
      },
      "ResponseBody": {
        "etag": "49_w3Bh_Q97GxxljsQXIK0B3OHH_gd0WgVRGq5WVrb0",
        "key": "etags99",
        "label": null,
        "content_type": null,
        "value": "sneaky user updated the field",
        "tags": {},
        "locked": false,
        "last_modified": "2025-10-02T16:52:32+00:00"
      }
    }
  ],
  "Variables": {
    "etags": "etags99"
  }
}
