{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/etags601?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "etags601",
        "value": "some value"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"k4k6DJF5TSw5XPqkhjEGs3la0Wha9pu1W8itGPtWmpg\"",
        "Last-Modified": "Thu, 11 Jul 2024 17:51:16 GMT",
        "Sync-Token": "zAJw6V16=ODoxNSMyNzk4NzI1;sn=2798725"
      },
      "ResponseBody": {
        "etag": "k4k6DJF5TSw5XPqkhjEGs3la0Wha9pu1W8itGPtWmpg",
        "key": "etags601",
        "label": null,
        "content_type": null,
        "value": "some value",
        "tags": {},
        "locked": false,
        "last_modified": "2024-07-11T17:51:16+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/etags601?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "sync-token": "zAJw6V16=ODoxNSMyNzk4NzI1"
      },
      "RequestBody": {
        "key": "etags601",
        "value": "world"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"vDCS8ifigWljxLj0hpqFpdXCpxznT1lCeUkpDb4J4jQ\"",
        "Last-Modified": "Thu, 11 Jul 2024 17:51:16 GMT",
        "Sync-Token": "zAJw6V16=ODoxNSMyNzk4NzI2;sn=2798726"
      },
      "ResponseBody": {
        "etag": "vDCS8ifigWljxLj0hpqFpdXCpxznT1lCeUkpDb4J4jQ",
        "key": "etags601",
        "label": null,
        "content_type": null,
        "value": "world",
        "tags": {},
        "locked": false,
        "last_modified": "2024-07-11T17:51:16+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2023-11-01&key=etags601",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=ODoxNSMyNzk4NzI5"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"x6gVh_FmzS2GTrrOrqyu-BuEdE-Q6OZd1n7prE2W6uA\"",
        "Sync-Token": "zAJw6V16=ODoxNSMyNzk4NzI5;sn=2798729"
      },
      "ResponseBody": {
        "etag": "x6gVh_FmzS2GTrrOrqyu-BuEdE-Q6OZd1n7prE2W6uA",
        "items": [
          {
            "etag": "1f-tHenqE0Ps2pOJcUxkyO21Z3JcuSWBYAoTkKXhJQM",
            "key": "etags601",
            "label": null,
            "content_type": null,
            "value": "new world",
            "tags": {},
            "locked": false,
            "last_modified": "2024-07-11T17:51:16+00:00"
          }
        ]
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/etags601?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=ODoxNSMyNzk4NzI5"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"1f-tHenqE0Ps2pOJcUxkyO21Z3JcuSWBYAoTkKXhJQM\"",
        "Last-Modified": "Thu, 11 Jul 2024 17:51:16 GMT",
        "Sync-Token": "zAJw6V16=ODoxNSMyNzk4NzMw;sn=2798730"
      },
      "ResponseBody": {
        "etag": "1f-tHenqE0Ps2pOJcUxkyO21Z3JcuSWBYAoTkKXhJQM",
        "key": "etags601",
        "label": null,
        "content_type": null,
        "value": "new world",
        "tags": {},
        "locked": false,
        "last_modified": "2024-07-11T17:51:16+00:00"
      }
    }
  ],
  "Variables": {
    "etags": "etags601"
  }
}
