{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/etags327?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "etags327",
        "value": "some value"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"v-RUDh46Xbcx_cBrhAPyBWtNiby7XRR3kkoWlwe4S24\"",
        "Last-Modified": "Wed, 05 Nov 2025 07:23:16 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzUwODA2MTM=;sn=75080613",
        "x-ms-date": "Wed, 05 Nov 2025 07:23:16 GMT"
      },
      "ResponseBody": {
        "etag": "v-RUDh46Xbcx_cBrhAPyBWtNiby7XRR3kkoWlwe4S24",
        "key": "etags327",
        "label": null,
        "content_type": null,
        "value": "some value",
        "tags": {},
        "locked": false,
        "last_modified": "2025-11-05T07:23:16+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/etags327?api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzUwODA2MTM="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"v-RUDh46Xbcx_cBrhAPyBWtNiby7XRR3kkoWlwe4S24\"",
        "Last-Modified": "Wed, 05 Nov 2025 07:23:16 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzUwODA2MTY=;sn=75080616",
        "x-ms-date": "Wed, 05 Nov 2025 07:23:16 GMT"
      },
      "ResponseBody": {
        "etag": "v-RUDh46Xbcx_cBrhAPyBWtNiby7XRR3kkoWlwe4S24",
        "key": "etags327",
        "label": null,
        "content_type": null,
        "value": "some value",
        "tags": {},
        "locked": false,
        "last_modified": "2025-11-05T07:23:16+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/etags327?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-Match": "\"v-RUDh46Xbcx_cBrhAPyBWtNiby7XRR3kkoWlwe4S24\"",
        "sync-token": "zAJw6V16=MTI6MTkjNzUwODA2MTY="
      },
      "RequestBody": {
        "key": "etags327",
        "value": "some new value!",
        "last_modified": "2025-11-05T07:23:16.000Z",
        "tags": {},
        "etag": "v-RUDh46Xbcx_cBrhAPyBWtNiby7XRR3kkoWlwe4S24"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"NHAc34eUhqEI0OHMLI-SnuEA9x5cVKPiLspaFywXeJ4\"",
        "Last-Modified": "Wed, 05 Nov 2025 07:23:16 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzUwODA2MjQ=;sn=75080624",
        "x-ms-date": "Wed, 05 Nov 2025 07:23:16 GMT"
      },
      "ResponseBody": {
        "etag": "NHAc34eUhqEI0OHMLI-SnuEA9x5cVKPiLspaFywXeJ4",
        "key": "etags327",
        "label": null,
        "content_type": null,
        "value": "some new value!",
        "tags": {},
        "locked": false,
        "last_modified": "2025-11-05T07:23:16+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2023-11-01&key=etags327",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzUwODA2Mjc="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"TrUCoRn44ygL3UfgAPpGUvTLJXylJ3h_pd8WuK6Y94k\"",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzUwODA2MzI=;sn=75080632",
        "x-ms-date": "Wed, 05 Nov 2025 07:23:17 GMT"
      },
      "ResponseBody": {
        "etag": "TrUCoRn44ygL3UfgAPpGUvTLJXylJ3h_pd8WuK6Y94k",
        "items": [
          {
            "etag": "NHAc34eUhqEI0OHMLI-SnuEA9x5cVKPiLspaFywXeJ4",
            "key": "etags327",
            "label": null,
            "content_type": null,
            "value": "some new value!",
            "tags": {},
            "locked": false,
            "last_modified": "2025-11-05T07:23:16+00:00"
          }
        ]
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/etags327?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzUwODA2MzI="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"NHAc34eUhqEI0OHMLI-SnuEA9x5cVKPiLspaFywXeJ4\"",
        "Last-Modified": "Wed, 05 Nov 2025 07:23:16 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzUwODA2MzY=;sn=75080636",
        "x-ms-date": "Wed, 05 Nov 2025 07:23:17 GMT"
      },
      "ResponseBody": {
        "etag": "NHAc34eUhqEI0OHMLI-SnuEA9x5cVKPiLspaFywXeJ4",
        "key": "etags327",
        "label": null,
        "content_type": null,
        "value": "some new value!",
        "tags": {},
        "locked": false,
        "last_modified": "2025-11-05T07:23:16+00:00"
      }
    }
  ],
  "Variables": {
    "etags": "etags327"
  }
}
