{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/etags42?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "etags42",
        "value": "some value"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"FQy_K90Od6wOLzNgh5zd0QmJ5iMB8Ori6M-uadTiozI\"",
        "Last-Modified": "Tue, 16 Sep 2025 11:23:29 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzM3Mzg0NjU=;sn=73738465"
      },
      "ResponseBody": {
        "etag": "FQy_K90Od6wOLzNgh5zd0QmJ5iMB8Ori6M-uadTiozI",
        "key": "etags42",
        "label": null,
        "content_type": null,
        "value": "some value",
        "tags": {},
        "locked": false,
        "last_modified": "2025-09-16T11:23:29+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/etags42?api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzM3Mzg0NjU="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"FQy_K90Od6wOLzNgh5zd0QmJ5iMB8Ori6M-uadTiozI\"",
        "Last-Modified": "Tue, 16 Sep 2025 11:23:29 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzM3Mzg0Njc=;sn=73738467"
      },
      "ResponseBody": {
        "etag": "FQy_K90Od6wOLzNgh5zd0QmJ5iMB8Ori6M-uadTiozI",
        "key": "etags42",
        "label": null,
        "content_type": null,
        "value": "some value",
        "tags": {},
        "locked": false,
        "last_modified": "2025-09-16T11:23:29+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/locks/etags42?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"bogus\"",
        "sync-token": "zAJw6V16=MTI6MTkjNzM3Mzg0Njc="
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Sync-Token": "zAJw6V16=MTI6MTkjNzM3Mzg0Njc=;sn=73738467"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2023-11-01&key=etags42",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzM3Mzg0NzE="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"DV-k5bgBmgI3VP6uKp3BJJoqOBRVSRCzUX_ce8lWQyw\"",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzM3Mzg0NzE=;sn=73738471"
      },
      "ResponseBody": {
        "etag": "DV-k5bgBmgI3VP6uKp3BJJoqOBRVSRCzUX_ce8lWQyw",
        "items": [
          {
            "etag": "wAwMl26Zw5sjsMZPqeg6pOt-tMpi5Me5vKAHEjOxB7M",
            "key": "etags42",
            "label": null,
            "content_type": null,
            "value": "some value",
            "tags": {},
            "locked": false,
            "last_modified": "2025-09-16T11:23:30+00:00"
          }
        ]
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/etags42?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzM3Mzg0NzE="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"wAwMl26Zw5sjsMZPqeg6pOt-tMpi5Me5vKAHEjOxB7M\"",
        "Last-Modified": "Tue, 16 Sep 2025 11:23:30 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzM3Mzg0NzI=;sn=73738472"
      },
      "ResponseBody": {
        "etag": "wAwMl26Zw5sjsMZPqeg6pOt-tMpi5Me5vKAHEjOxB7M",
        "key": "etags42",
        "label": null,
        "content_type": null,
        "value": "some value",
        "tags": {},
        "locked": false,
        "last_modified": "2025-09-16T11:23:30+00:00"
      }
    }
  ],
  "Variables": {
    "etags": "etags42"
  }
}
