{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/etags620?api-version=2026-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "value": "some value"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"6OMpz8Ch7XxvuioVtCwdgsOynI3XVp7hc5acSYTl8Xg\"",
        "Last-Modified": "Mon, 15 Jun 2026 18:27:27 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyM1MzM2NTU5Mg==;sn=53365592",
        "x-ms-date": "Mon, 15 Jun 2026 18:27:27 GMT"
      },
      "ResponseBody": {
        "etag": "6OMpz8Ch7XxvuioVtCwdgsOynI3XVp7hc5acSYTl8Xg",
        "key": "etags620",
        "label": null,
        "content_type": null,
        "value": "some value",
        "description": null,
        "tags": {},
        "locked": false,
        "last_modified": "2026-06-15T18:27:27+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/etags620?api-version=2026-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NzoxNyM1MzM2NTU5Mg=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"6OMpz8Ch7XxvuioVtCwdgsOynI3XVp7hc5acSYTl8Xg\"",
        "Last-Modified": "Mon, 15 Jun 2026 18:27:27 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyM1MzM2NTU5Mg==;sn=53365592",
        "x-ms-date": "Mon, 15 Jun 2026 18:27:27 GMT"
      },
      "ResponseBody": {
        "etag": "6OMpz8Ch7XxvuioVtCwdgsOynI3XVp7hc5acSYTl8Xg",
        "key": "etags620",
        "label": null,
        "content_type": null,
        "value": "some value",
        "description": null,
        "tags": {},
        "locked": false,
        "last_modified": "2026-06-15T18:27:27+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/etags620?api-version=2026-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-Match": "\"6OMpz8Ch7XxvuioVtCwdgsOynI3XVp7hc5acSYTl8Xg\"",
        "sync-token": "zAJw6V16=NzoxNyM1MzM2NTU5Mw=="
      },
      "RequestBody": {
        "value": "some new value!",
        "last_modified": "2026-06-15T18:27:27.000Z",
        "tags": {},
        "description": null,
        "etag": "6OMpz8Ch7XxvuioVtCwdgsOynI3XVp7hc5acSYTl8Xg"
      },
      "StatusCode": 412,
      "ResponseHeaders": {
        "Sync-Token": "zAJw6V16=NzoxNyM1MzM2NTU5NA==;sn=53365594",
        "x-ms-date": "Mon, 15 Jun 2026 18:27:27 GMT"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2026-04-01&key=etags620",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NzoxNyM1MzM2NTU5NA=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"pG76EOeQtjvmzWMAP9qtt-ix7v5gbHt3h5BK6kmAUx4\"",
        "Sync-Token": "zAJw6V16=NzoxNyM1MzM2NTU5NA==;sn=53365594",
        "x-ms-date": "Mon, 15 Jun 2026 18:27:27 GMT"
      },
      "ResponseBody": {
        "etag": "pG76EOeQtjvmzWMAP9qtt-ix7v5gbHt3h5BK6kmAUx4",
        "items": [
          {
            "etag": "pNC4pservVmK_y9BKg-53dO7H-yBeskcwVRieJ9lf84",
            "key": "etags620",
            "label": null,
            "content_type": null,
            "value": "sneaky user updated the field",
            "description": null,
            "tags": {},
            "locked": false,
            "last_modified": "2026-06-15T18:27:27+00:00"
          }
        ]
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/etags620?api-version=2026-04-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NzoxNyM1MzM2NTU5NA=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"pNC4pservVmK_y9BKg-53dO7H-yBeskcwVRieJ9lf84\"",
        "Last-Modified": "Mon, 15 Jun 2026 18:27:27 GMT",
        "Sync-Token": "zAJw6V16=NzoxNyM1MzM2NTU5NQ==;sn=53365595",
        "x-ms-date": "Mon, 15 Jun 2026 18:27:27 GMT"
      },
      "ResponseBody": {
        "etag": "pNC4pservVmK_y9BKg-53dO7H-yBeskcwVRieJ9lf84",
        "key": "etags620",
        "label": null,
        "content_type": null,
        "value": "sneaky user updated the field",
        "description": null,
        "tags": {},
        "locked": false,
        "last_modified": "2026-06-15T18:27:27+00:00"
      }
    }
  ],
  "Variables": {
    "etags": "etags620"
  }
}
