{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/etags114?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "etags114",
        "value": "some value"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"YbVEviVQicvF_CAkT61Rt4XlPJeTD2XPHjgLiuw2vNA\"",
        "Last-Modified": "Fri, 23 Jan 2026 08:37:11 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU3OTE2MA==;sn=103579160",
        "x-ms-date": "Fri, 23 Jan 2026 08:37:11 GMT"
      },
      "ResponseBody": {
        "etag": "YbVEviVQicvF_CAkT61Rt4XlPJeTD2XPHjgLiuw2vNA",
        "key": "etags114",
        "label": null,
        "content_type": null,
        "value": "some value",
        "tags": {},
        "locked": false,
        "last_modified": "2026-01-23T08:37:11+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/etags114?api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NTo1IzEwMzU3OTE2MA=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"YbVEviVQicvF_CAkT61Rt4XlPJeTD2XPHjgLiuw2vNA\"",
        "Last-Modified": "Fri, 23 Jan 2026 08:37:11 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU3OTE2MQ==;sn=103579161",
        "x-ms-date": "Fri, 23 Jan 2026 08:37:11 GMT"
      },
      "ResponseBody": {
        "etag": "YbVEviVQicvF_CAkT61Rt4XlPJeTD2XPHjgLiuw2vNA",
        "key": "etags114",
        "label": null,
        "content_type": null,
        "value": "some value",
        "tags": {},
        "locked": false,
        "last_modified": "2026-01-23T08:37:11+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/locks/etags114?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"bogus\"",
        "sync-token": "zAJw6V16=NTo1IzEwMzU3OTE2MQ=="
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU3OTE2Mw==;sn=103579163",
        "x-ms-date": "Fri, 23 Jan 2026 08:37:11 GMT"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2023-11-01&key=etags114",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NTo1IzEwMzU3OTE3NA=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"aOTc-ET0-J-RFGcG87Xt73Bonou41aQBGv8Kqr5_Kpg\"",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU3OTE3NQ==;sn=103579175",
        "x-ms-date": "Fri, 23 Jan 2026 08:37:12 GMT"
      },
      "ResponseBody": {
        "etag": "aOTc-ET0-J-RFGcG87Xt73Bonou41aQBGv8Kqr5_Kpg",
        "items": [
          {
            "etag": "M3rP5JPelJcFPZW-aE4Nn20LxE8N7I8Cs2mYAEvLqy0",
            "key": "etags114",
            "label": null,
            "content_type": null,
            "value": "some value",
            "tags": {},
            "locked": false,
            "last_modified": "2026-01-23T08:37:12+00:00"
          }
        ]
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/etags114?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NTo1IzEwMzU3OTE3NQ=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"M3rP5JPelJcFPZW-aE4Nn20LxE8N7I8Cs2mYAEvLqy0\"",
        "Last-Modified": "Fri, 23 Jan 2026 08:37:12 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzU3OTE3Nw==;sn=103579177",
        "x-ms-date": "Fri, 23 Jan 2026 08:37:12 GMT"
      },
      "ResponseBody": {
        "etag": "M3rP5JPelJcFPZW-aE4Nn20LxE8N7I8Cs2mYAEvLqy0",
        "key": "etags114",
        "label": null,
        "content_type": null,
        "value": "some value",
        "tags": {},
        "locked": false,
        "last_modified": "2026-01-23T08:37:12+00:00"
      }
    }
  ],
  "Variables": {
    "etags": "etags114"
  }
}
