{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/etags74?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "etags74",
        "value": "some value"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"zv9uRohjvJeN0pmIIFLJBiTZoV-RJZ3j6JvPv290jFk\"",
        "Last-Modified": "Wed, 05 Nov 2025 07:23:41 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzUwODA4OTc=;sn=75080897",
        "x-ms-date": "Wed, 05 Nov 2025 07:23:41 GMT"
      },
      "ResponseBody": {
        "etag": "zv9uRohjvJeN0pmIIFLJBiTZoV-RJZ3j6JvPv290jFk",
        "key": "etags74",
        "label": null,
        "content_type": null,
        "value": "some value",
        "tags": {},
        "locked": false,
        "last_modified": "2025-11-05T07:23:41+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/etags74?api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzUwODA4OTc="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"zv9uRohjvJeN0pmIIFLJBiTZoV-RJZ3j6JvPv290jFk\"",
        "Last-Modified": "Wed, 05 Nov 2025 07:23:41 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzUwODA4OTg=;sn=75080898",
        "x-ms-date": "Wed, 05 Nov 2025 07:23:41 GMT"
      },
      "ResponseBody": {
        "etag": "zv9uRohjvJeN0pmIIFLJBiTZoV-RJZ3j6JvPv290jFk",
        "key": "etags74",
        "label": null,
        "content_type": null,
        "value": "some value",
        "tags": {},
        "locked": false,
        "last_modified": "2025-11-05T07:23:41+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/etags74?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"bogus\"",
        "sync-token": "zAJw6V16=MTI6MTkjNzUwODA4OTg="
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Sync-Token": "zAJw6V16=MTI6MTkjNzUwODA4OTk=;sn=75080899",
        "x-ms-date": "Wed, 05 Nov 2025 07:23:41 GMT"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2023-11-01&key=etags74",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzUwODA5MDM="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"00wWELzclWef22f82qcUDI7FbJweVOoKWZDA_JoUeD0\"",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzUwODA5MDU=;sn=75080905",
        "x-ms-date": "Wed, 05 Nov 2025 07:23:42 GMT"
      },
      "ResponseBody": {
        "etag": "00wWELzclWef22f82qcUDI7FbJweVOoKWZDA_JoUeD0",
        "items": []
      }
    }
  ],
  "Variables": {
    "etags": "etags74"
  }
}
