{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/etags182?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "etags182",
        "value": "some value"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"cOk8-W37ildkkFHcfiImbxjp4V9CA1B-zYirIKmJXlE\"",
        "Last-Modified": "Thu, 25 Sep 2025 08:45:32 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQwMTM0NTI=;sn=74013452"
      },
      "ResponseBody": {
        "etag": "cOk8-W37ildkkFHcfiImbxjp4V9CA1B-zYirIKmJXlE",
        "key": "etags182",
        "label": null,
        "content_type": null,
        "value": "some value",
        "tags": {},
        "locked": false,
        "last_modified": "2025-09-25T08:45:32+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/etags182?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "sync-token": "zAJw6V16=MTI6MTkjNzQwMTM0NTI="
      },
      "RequestBody": {
        "key": "etags182",
        "value": "world"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"LVZ5ebbYB-1oM6cHhxD4xHnRDBQDtrX9UxKSvpuWfds\"",
        "Last-Modified": "Thu, 25 Sep 2025 08:45:32 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQwMTM0NTY=;sn=74013456"
      },
      "ResponseBody": {
        "etag": "LVZ5ebbYB-1oM6cHhxD4xHnRDBQDtrX9UxKSvpuWfds",
        "key": "etags182",
        "label": null,
        "content_type": null,
        "value": "world",
        "tags": {},
        "locked": false,
        "last_modified": "2025-09-25T08:45:32+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2023-11-01&key=etags182",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzQwMTM0NjY="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"UjsZkclixd1_qDkSn89AIAatFdf3TkYkgEjHbEHPRbQ\"",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQwMTM0Njc=;sn=74013467"
      },
      "ResponseBody": {
        "etag": "UjsZkclixd1_qDkSn89AIAatFdf3TkYkgEjHbEHPRbQ",
        "items": [
          {
            "etag": "7Kj_62FqU1sJQz2-qmXJdTqcwYHRpAvb9fQSBKm-dk0",
            "key": "etags182",
            "label": null,
            "content_type": null,
            "value": "new world",
            "tags": {},
            "locked": false,
            "last_modified": "2025-09-25T08:45:32+00:00"
          }
        ]
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/etags182?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzQwMTM0Njc="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"7Kj_62FqU1sJQz2-qmXJdTqcwYHRpAvb9fQSBKm-dk0\"",
        "Last-Modified": "Thu, 25 Sep 2025 08:45:32 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQwMTM0Njk=;sn=74013469"
      },
      "ResponseBody": {
        "etag": "7Kj_62FqU1sJQz2-qmXJdTqcwYHRpAvb9fQSBKm-dk0",
        "key": "etags182",
        "label": null,
        "content_type": null,
        "value": "new world",
        "tags": {},
        "locked": false,
        "last_modified": "2025-09-25T08:45:32+00:00"
      }
    }
  ],
  "Variables": {
    "etags": "etags182"
  }
}
