{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/etags331?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "value": "some value"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"6V-jsEgQuK7brgqRMzD_TAU9X2VjlixJEyT1z0mXPDU\"",
        "Last-Modified": "Wed, 06 May 2026 17:09:07 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY1MTc0OTE2;sn=65174916",
        "x-ms-date": "Wed, 06 May 2026 17:09:07 GMT"
      },
      "ResponseBody": {
        "etag": "6V-jsEgQuK7brgqRMzD_TAU9X2VjlixJEyT1z0mXPDU",
        "key": "etags331",
        "label": null,
        "content_type": null,
        "value": "some value",
        "tags": {},
        "locked": false,
        "last_modified": "2026-05-06T17:09:07+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/snapshots/snapshot542?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json",
        "sync-token": "zAJw6V16=Mzo1IzY1MTc0OTE2"
      },
      "RequestBody": {
        "filters": [
          {
            "key": "etags331"
          }
        ],
        "retention_period": 2592000
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json; charset=utf-8",
        "ETag": "\"V2vZ_lNAHGFRT-zeS_Abt6DcTzu8O-55UgKWZWljK0A\"",
        "Last-Modified": "Wed, 06 May 2026 17:09:07 GMT",
        "Link": "</kv?snapshot=snapshot542&api-version=2023-11-01>; rel=\"items\"",
        "Operation-Location": "https://myappconfig.azconfig.io/operations?snapshot=snapshot542&api-version=2023-11-01",
        "Sync-Token": "zAJw6V16=Mzo1IzY1MTc0OTE3;sn=65174917",
        "x-ms-date": "Wed, 06 May 2026 17:09:07 GMT"
      },
      "ResponseBody": {
        "etag": "V2vZ_lNAHGFRT-zeS_Abt6DcTzu8O-55UgKWZWljK0A",
        "name": "snapshot542",
        "status": "provisioning",
        "filters": [
          {
            "key": "etags331",
            "label": null,
            "tags": []
          }
        ],
        "composition_type": "key",
        "created": "2026-05-06T17:09:07.9288944+00:00",
        "size": 0,
        "items_count": 0,
        "tags": {},
        "retention_period": 2592000
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/operations?api-version=2023-11-01&snapshot=snapshot542",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=Mzo1IzY1MTc0OTE3"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "Sync-Token": "zAJw6V16=Mzo1IzY1MTc0OTE3;sn=65174917",
        "x-ms-date": "Wed, 06 May 2026 17:09:07 GMT"
      },
      "ResponseBody": {
        "id": "Sanitized",
        "status": "Running",
        "error": null
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/snapshots/snapshot542?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch+json",
        "If-Match": "\"badEtag\"",
        "sync-token": "zAJw6V16=Mzo1IzY1MTc0OTM4"
      },
      "RequestBody": {
        "status": "archived"
      },
      "StatusCode": 412,
      "ResponseHeaders": {
        "Sync-Token": "zAJw6V16=Mzo1IzY1MTc0OTM4;sn=65174938",
        "x-ms-date": "Wed, 06 May 2026 17:09:18 GMT"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/snapshots/snapshot542?api-version=2023-11-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch+json",
        "If-Match": "\"V2vZ_lNAHGFRT-zeS_Abt6DcTzu8O-55UgKWZWljK0A\"",
        "sync-token": "zAJw6V16=Mzo1IzY1MTc0OTM4"
      },
      "RequestBody": {
        "status": "archived"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.snapshot+json; charset=utf-8",
        "ETag": "\"-NQNGs2-j04jeBfpXk8KRQZiZ26II_WSoeyKKOyPigI\"",
        "Last-Modified": "Wed, 06 May 2026 17:09:09 GMT",
        "Link": "</kv?snapshot=snapshot542&api-version=2023-11-01>; rel=\"items\"",
        "Sync-Token": "zAJw6V16=Mzo1IzY1MTc0OTM5;sn=65174939",
        "x-ms-date": "Wed, 06 May 2026 17:09:18 GMT"
      },
      "ResponseBody": {
        "etag": "-NQNGs2-j04jeBfpXk8KRQZiZ26II_WSoeyKKOyPigI",
        "name": "snapshot542",
        "status": "archived",
        "filters": [
          {
            "key": "etags331",
            "label": null,
            "tags": []
          }
        ],
        "composition_type": "key",
        "created": "2026-05-06T17:09:07+00:00",
        "expires": "2026-06-05T17:09:18.2365599+00:00",
        "size": 1000,
        "items_count": 1,
        "tags": {},
        "retention_period": 2592000
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2023-11-01&key=etags331",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=Mzo1IzY1MTc0OTQw"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"00wWELzclWef22f82qcUDI7FbJweVOoKWZDA_JoUeD0\"",
        "Sync-Token": "zAJw6V16=Mzo1IzY1MTc0OTQw;sn=65174940",
        "x-ms-date": "Wed, 06 May 2026 17:09:18 GMT"
      },
      "ResponseBody": {
        "etag": "00wWELzclWef22f82qcUDI7FbJweVOoKWZDA_JoUeD0",
        "items": []
      }
    }
  ],
  "Variables": {
    "etags": "etags331",
    "snapshot": "snapshot542"
  }
}
