{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/etags833?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "etags833",
        "value": "some value"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"fOb8rlWMXWI6lAPygAPXH6JLvF3hjbY485XufCXBaUw\"",
        "Last-Modified": "Thu, 11 Jul 2024 17:51:06 GMT",
        "Sync-Token": "zAJw6V16=ODoxNSMyNzk4NzEz;sn=2798713"
      },
      "ResponseBody": {
        "etag": "fOb8rlWMXWI6lAPygAPXH6JLvF3hjbY485XufCXBaUw",
        "key": "etags833",
        "label": null,
        "content_type": null,
        "value": "some value",
        "tags": {},
        "locked": false,
        "last_modified": "2024-07-11T17:51:06+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/etags833?api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=ODoxNSMyNzk4NzEz"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"fOb8rlWMXWI6lAPygAPXH6JLvF3hjbY485XufCXBaUw\"",
        "Last-Modified": "Thu, 11 Jul 2024 17:51:06 GMT",
        "Sync-Token": "zAJw6V16=ODoxNSMyNzk4NzEz;sn=2798713"
      },
      "ResponseBody": {
        "etag": "fOb8rlWMXWI6lAPygAPXH6JLvF3hjbY485XufCXBaUw",
        "key": "etags833",
        "label": null,
        "content_type": null,
        "value": "some value",
        "tags": {},
        "locked": false,
        "last_modified": "2024-07-11T17:51:06+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2023-11-01&key=etags833",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=ODoxNSMyNzk4NzE0"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"K3HBOC8IqoWWb8tLMHfSMQiTx-F_w4HysgOCs4Vs2Mw\"",
        "Sync-Token": "zAJw6V16=ODoxNSMyNzk4NzE1;sn=2798715"
      },
      "ResponseBody": {
        "etag": "K3HBOC8IqoWWb8tLMHfSMQiTx-F_w4HysgOCs4Vs2Mw",
        "items": [
          {
            "etag": "kDtF_dhs9WTunTnuMVko85Vt-iy9db_dNEHrvmHlvoo",
            "key": "etags833",
            "label": null,
            "content_type": null,
            "value": "some new value!",
            "tags": {},
            "locked": false,
            "last_modified": "2024-07-11T17:51:06+00:00"
          }
        ]
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/etags833?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=ODoxNSMyNzk4NzE1"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"kDtF_dhs9WTunTnuMVko85Vt-iy9db_dNEHrvmHlvoo\"",
        "Last-Modified": "Thu, 11 Jul 2024 17:51:06 GMT",
        "Sync-Token": "zAJw6V16=ODoxNSMyNzk4NzE2;sn=2798716"
      },
      "ResponseBody": {
        "etag": "kDtF_dhs9WTunTnuMVko85Vt-iy9db_dNEHrvmHlvoo",
        "key": "etags833",
        "label": null,
        "content_type": null,
        "value": "some new value!",
        "tags": {},
        "locked": false,
        "last_modified": "2024-07-11T17:51:06+00:00"
      }
    }
  ],
  "Variables": {
    "etags": "etags833"
  }
}
