{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/etags648?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "value": "some value"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"-1uDzbtmXc-86PsbDF3EcWecOaB03U9UsQ6tZKckEEs\"",
        "Last-Modified": "Wed, 06 May 2026 17:09:00 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY1MTc0Njc0;sn=65174674",
        "x-ms-date": "Wed, 06 May 2026 17:09:00 GMT"
      },
      "ResponseBody": {
        "etag": "-1uDzbtmXc-86PsbDF3EcWecOaB03U9UsQ6tZKckEEs",
        "key": "etags648",
        "label": null,
        "content_type": null,
        "value": "some value",
        "tags": {},
        "locked": false,
        "last_modified": "2026-05-06T17:09:00+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/etags648?api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=Mzo1IzY1MTc0Njc0"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"-1uDzbtmXc-86PsbDF3EcWecOaB03U9UsQ6tZKckEEs\"",
        "Last-Modified": "Wed, 06 May 2026 17:09:00 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY1MTc0Njc3;sn=65174677",
        "x-ms-date": "Wed, 06 May 2026 17:09:00 GMT"
      },
      "ResponseBody": {
        "etag": "-1uDzbtmXc-86PsbDF3EcWecOaB03U9UsQ6tZKckEEs",
        "key": "etags648",
        "label": null,
        "content_type": null,
        "value": "some value",
        "tags": {},
        "locked": false,
        "last_modified": "2026-05-06T17:09:00+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/etags648?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-Match": "\"-1uDzbtmXc-86PsbDF3EcWecOaB03U9UsQ6tZKckEEs\"",
        "sync-token": "zAJw6V16=Mzo1IzY1MTc0Njgz"
      },
      "RequestBody": {
        "value": "some new value!",
        "last_modified": "2026-05-06T17:09:00.000Z",
        "tags": {},
        "etag": "-1uDzbtmXc-86PsbDF3EcWecOaB03U9UsQ6tZKckEEs"
      },
      "StatusCode": 412,
      "ResponseHeaders": {
        "Sync-Token": "zAJw6V16=Mzo1IzY1MTc0Njg3;sn=65174687",
        "x-ms-date": "Wed, 06 May 2026 17:09:00 GMT"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2023-11-01&key=etags648",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=Mzo1IzY1MTc0Njg3"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"1cgiTdCTJTC_hgge69QHlSwshpeWlyYZ1D6_YpiL7ro\"",
        "Sync-Token": "zAJw6V16=Mzo1IzY1MTc0Njg5;sn=65174689",
        "x-ms-date": "Wed, 06 May 2026 17:09:00 GMT"
      },
      "ResponseBody": {
        "etag": "1cgiTdCTJTC_hgge69QHlSwshpeWlyYZ1D6_YpiL7ro",
        "items": [
          {
            "etag": "8v66xxTSL-nkufRZ79mEC-n7Bjwu9U35xLS6drGgcZ4",
            "key": "etags648",
            "label": null,
            "content_type": null,
            "value": "sneaky user updated the field",
            "tags": {},
            "locked": false,
            "last_modified": "2026-05-06T17:09:00+00:00"
          }
        ]
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/etags648?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=Mzo1IzY1MTc0Njg5"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"8v66xxTSL-nkufRZ79mEC-n7Bjwu9U35xLS6drGgcZ4\"",
        "Last-Modified": "Wed, 06 May 2026 17:09:00 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY1MTc0Njk1;sn=65174695",
        "x-ms-date": "Wed, 06 May 2026 17:09:00 GMT"
      },
      "ResponseBody": {
        "etag": "8v66xxTSL-nkufRZ79mEC-n7Bjwu9U35xLS6drGgcZ4",
        "key": "etags648",
        "label": null,
        "content_type": null,
        "value": "sneaky user updated the field",
        "tags": {},
        "locked": false,
        "last_modified": "2026-05-06T17:09:00+00:00"
      }
    }
  ],
  "Variables": {
    "etags": "etags648"
  }
}
