{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/etags383?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "etags383",
        "value": "some value"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"W0wpUv43TrCmdI0iXkiyaxcY2PgFT4jaP56aEoECZT8\"",
        "Last-Modified": "Mon, 26 Jan 2026 02:56:50 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzg0NTk0MA==;sn=103845940",
        "x-ms-date": "Mon, 26 Jan 2026 02:56:50 GMT"
      },
      "ResponseBody": {
        "etag": "W0wpUv43TrCmdI0iXkiyaxcY2PgFT4jaP56aEoECZT8",
        "key": "etags383",
        "label": null,
        "content_type": null,
        "value": "some value",
        "tags": {},
        "locked": false,
        "last_modified": "2026-01-26T02:56:50+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/etags383?api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NTo1IzEwMzg0NTk0MA=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"W0wpUv43TrCmdI0iXkiyaxcY2PgFT4jaP56aEoECZT8\"",
        "Last-Modified": "Mon, 26 Jan 2026 02:56:50 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzg0NTk0NQ==;sn=103845945",
        "x-ms-date": "Mon, 26 Jan 2026 02:56:50 GMT"
      },
      "ResponseBody": {
        "etag": "W0wpUv43TrCmdI0iXkiyaxcY2PgFT4jaP56aEoECZT8",
        "key": "etags383",
        "label": null,
        "content_type": null,
        "value": "some value",
        "tags": {},
        "locked": false,
        "last_modified": "2026-01-26T02:56:50+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2023-11-01&key=etags383",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NTo1IzEwMzg0NTk0OQ=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"vkiEWvH2Ylsn0Adk3gufp0aq_q0YS1-E41t6qhNeT4o\"",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzg0NTk1NQ==;sn=103845955",
        "x-ms-date": "Mon, 26 Jan 2026 02:56:51 GMT"
      },
      "ResponseBody": {
        "etag": "vkiEWvH2Ylsn0Adk3gufp0aq_q0YS1-E41t6qhNeT4o",
        "items": [
          {
            "etag": "fD8NPjyAr5hO82d8kianV7BHQ-tu5YWNolWQI3t0ap0",
            "key": "etags383",
            "label": null,
            "content_type": null,
            "value": "some new value!",
            "tags": {},
            "locked": false,
            "last_modified": "2026-01-26T02:56:51+00:00"
          }
        ]
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/etags383?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=NTo1IzEwMzg0NTk1NQ=="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"fD8NPjyAr5hO82d8kianV7BHQ-tu5YWNolWQI3t0ap0\"",
        "Last-Modified": "Mon, 26 Jan 2026 02:56:51 GMT",
        "Sync-Token": "zAJw6V16=NTo1IzEwMzg0NTk2MQ==;sn=103845961",
        "x-ms-date": "Mon, 26 Jan 2026 02:56:51 GMT"
      },
      "ResponseBody": {
        "etag": "fD8NPjyAr5hO82d8kianV7BHQ-tu5YWNolWQI3t0ap0",
        "key": "etags383",
        "label": null,
        "content_type": null,
        "value": "some new value!",
        "tags": {},
        "locked": false,
        "last_modified": "2026-01-26T02:56:51+00:00"
      }
    }
  ],
  "Variables": {
    "etags": "etags383"
  }
}
