{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/etags686?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "value": "some value"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"TdHTfb8Pj2Yd44btoT5ukHgYq4TlzO5Fum3ODiwf19o\"",
        "Last-Modified": "Wed, 06 May 2026 17:08:56 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY1MTc0NTg2;sn=65174586",
        "x-ms-date": "Wed, 06 May 2026 17:08:56 GMT"
      },
      "ResponseBody": {
        "etag": "TdHTfb8Pj2Yd44btoT5ukHgYq4TlzO5Fum3ODiwf19o",
        "key": "etags686",
        "label": null,
        "content_type": null,
        "value": "some value",
        "tags": {},
        "locked": false,
        "last_modified": "2026-05-06T17:08:56+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/etags686?api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=Mzo1IzY1MTc0NTg2"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"TdHTfb8Pj2Yd44btoT5ukHgYq4TlzO5Fum3ODiwf19o\"",
        "Last-Modified": "Wed, 06 May 2026 17:08:56 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY1MTc0NTg5;sn=65174589",
        "x-ms-date": "Wed, 06 May 2026 17:08:56 GMT"
      },
      "ResponseBody": {
        "etag": "TdHTfb8Pj2Yd44btoT5ukHgYq4TlzO5Fum3ODiwf19o",
        "key": "etags686",
        "label": null,
        "content_type": null,
        "value": "some value",
        "tags": {},
        "locked": false,
        "last_modified": "2026-05-06T17:08:56+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2023-11-01&key=etags686",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=Mzo1IzY1MTc0NTky"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"xDVMInMGKbe6yQVyuFlVY6pougXBa6R06K-dmOKYydI\"",
        "Sync-Token": "zAJw6V16=Mzo1IzY1MTc0NTk1;sn=65174595",
        "x-ms-date": "Wed, 06 May 2026 17:08:56 GMT"
      },
      "ResponseBody": {
        "etag": "xDVMInMGKbe6yQVyuFlVY6pougXBa6R06K-dmOKYydI",
        "items": [
          {
            "etag": "A6CPM5WiO-qL3_YMI8ELyHcP4m01H7kLvo5hMP4jNU4",
            "key": "etags686",
            "label": null,
            "content_type": null,
            "value": "some new value!",
            "tags": {},
            "locked": false,
            "last_modified": "2026-05-06T17:08:56+00:00"
          }
        ]
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/etags686?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=Mzo1IzY1MTc0NTk1"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"A6CPM5WiO-qL3_YMI8ELyHcP4m01H7kLvo5hMP4jNU4\"",
        "Last-Modified": "Wed, 06 May 2026 17:08:56 GMT",
        "Sync-Token": "zAJw6V16=Mzo1IzY1MTc0NjAy;sn=65174602",
        "x-ms-date": "Wed, 06 May 2026 17:08:56 GMT"
      },
      "ResponseBody": {
        "etag": "A6CPM5WiO-qL3_YMI8ELyHcP4m01H7kLvo5hMP4jNU4",
        "key": "etags686",
        "label": null,
        "content_type": null,
        "value": "some new value!",
        "tags": {},
        "locked": false,
        "last_modified": "2026-05-06T17:08:56+00:00"
      }
    }
  ],
  "Variables": {
    "etags": "etags686"
  }
}
