{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/etags612?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "etags612",
        "value": "some value"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"w1wkrDQ43WJ8WGx09LiJnH6snuibazeRDdivlvIH8yI\"",
        "Last-Modified": "Wed, 05 Nov 2025 07:23:32 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzUwODA4MTM=;sn=75080813",
        "x-ms-date": "Wed, 05 Nov 2025 07:23:32 GMT"
      },
      "ResponseBody": {
        "etag": "w1wkrDQ43WJ8WGx09LiJnH6snuibazeRDdivlvIH8yI",
        "key": "etags612",
        "label": null,
        "content_type": null,
        "value": "some value",
        "tags": {},
        "locked": false,
        "last_modified": "2025-11-05T07:23:32+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/etags612?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "sync-token": "zAJw6V16=MTI6MTkjNzUwODA4MTM="
      },
      "RequestBody": {
        "key": "etags612",
        "value": "world"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"vwP6TVKX3EsWClGTTCFxY2MF1pMQW4XNhkJC6yzsKlY\"",
        "Last-Modified": "Wed, 05 Nov 2025 07:23:32 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzUwODA4MTU=;sn=75080815",
        "x-ms-date": "Wed, 05 Nov 2025 07:23:32 GMT"
      },
      "ResponseBody": {
        "etag": "vwP6TVKX3EsWClGTTCFxY2MF1pMQW4XNhkJC6yzsKlY",
        "key": "etags612",
        "label": null,
        "content_type": null,
        "value": "world",
        "tags": {},
        "locked": false,
        "last_modified": "2025-11-05T07:23:32+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2023-11-01&key=etags612",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzUwODA4Mjc="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"9GXkyWuOGGimhqQ-jf-b6trnDYVIn4-JKUDu57tI-Fo\"",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzUwODA4Mjg=;sn=75080828",
        "x-ms-date": "Wed, 05 Nov 2025 07:23:33 GMT"
      },
      "ResponseBody": {
        "etag": "9GXkyWuOGGimhqQ-jf-b6trnDYVIn4-JKUDu57tI-Fo",
        "items": [
          {
            "etag": "aTY5mMrRugeTzRvGcRmXrZU4icC5IXKG600xpFj7zc0",
            "key": "etags612",
            "label": null,
            "content_type": null,
            "value": "new world",
            "tags": {},
            "locked": false,
            "last_modified": "2025-11-05T07:23:33+00:00"
          }
        ]
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/etags612?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzUwODA4Mjg="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"aTY5mMrRugeTzRvGcRmXrZU4icC5IXKG600xpFj7zc0\"",
        "Last-Modified": "Wed, 05 Nov 2025 07:23:33 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzUwODA4MzA=;sn=75080830",
        "x-ms-date": "Wed, 05 Nov 2025 07:23:33 GMT"
      },
      "ResponseBody": {
        "etag": "aTY5mMrRugeTzRvGcRmXrZU4icC5IXKG600xpFj7zc0",
        "key": "etags612",
        "label": null,
        "content_type": null,
        "value": "new world",
        "tags": {},
        "locked": false,
        "last_modified": "2025-11-05T07:23:33+00:00"
      }
    }
  ],
  "Variables": {
    "etags": "etags612"
  }
}
