{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/etags528?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "etags528",
        "value": "some value"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"Yx9anDHKPX4OyDQaCXKPuTxMNZ4GEkuu--iB80ah4U4\"",
        "Last-Modified": "Wed, 05 Nov 2025 07:23:36 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzUwODA4NTE=;sn=75080851",
        "x-ms-date": "Wed, 05 Nov 2025 07:23:36 GMT"
      },
      "ResponseBody": {
        "etag": "Yx9anDHKPX4OyDQaCXKPuTxMNZ4GEkuu--iB80ah4U4",
        "key": "etags528",
        "label": null,
        "content_type": null,
        "value": "some value",
        "tags": {},
        "locked": false,
        "last_modified": "2025-11-05T07:23:36+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/etags528?api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzUwODA4NTE="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"Yx9anDHKPX4OyDQaCXKPuTxMNZ4GEkuu--iB80ah4U4\"",
        "Last-Modified": "Wed, 05 Nov 2025 07:23:36 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzUwODA4NTQ=;sn=75080854",
        "x-ms-date": "Wed, 05 Nov 2025 07:23:36 GMT"
      },
      "ResponseBody": {
        "etag": "Yx9anDHKPX4OyDQaCXKPuTxMNZ4GEkuu--iB80ah4U4",
        "key": "etags528",
        "label": null,
        "content_type": null,
        "value": "some value",
        "tags": {},
        "locked": false,
        "last_modified": "2025-11-05T07:23:36+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/locks/etags528?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"bogus\"",
        "sync-token": "zAJw6V16=MTI6MTkjNzUwODA4NTQ="
      },
      "RequestBody": null,
      "StatusCode": 412,
      "ResponseHeaders": {
        "Sync-Token": "zAJw6V16=MTI6MTkjNzUwODA4NTU=;sn=75080855",
        "x-ms-date": "Wed, 05 Nov 2025 07:23:36 GMT"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2023-11-01&key=etags528",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzUwODA4NzA="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"T4AXBLu1oChWwJgUtBIMImrUphJZTXstWj6YB2CDGdk\"",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzUwODA4NzE=;sn=75080871",
        "x-ms-date": "Wed, 05 Nov 2025 07:23:38 GMT"
      },
      "ResponseBody": {
        "etag": "T4AXBLu1oChWwJgUtBIMImrUphJZTXstWj6YB2CDGdk",
        "items": [
          {
            "etag": "C6DNtCD0RduSZOLq4oauZVeM4CdL67EzrG7v1beEeFM",
            "key": "etags528",
            "label": null,
            "content_type": null,
            "value": "some value",
            "tags": {},
            "locked": false,
            "last_modified": "2025-11-05T07:23:37+00:00"
          }
        ]
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/etags528?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzUwODA4NzE="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"C6DNtCD0RduSZOLq4oauZVeM4CdL67EzrG7v1beEeFM\"",
        "Last-Modified": "Wed, 05 Nov 2025 07:23:37 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzUwODA4NzM=;sn=75080873",
        "x-ms-date": "Wed, 05 Nov 2025 07:23:38 GMT"
      },
      "ResponseBody": {
        "etag": "C6DNtCD0RduSZOLq4oauZVeM4CdL67EzrG7v1beEeFM",
        "key": "etags528",
        "label": null,
        "content_type": null,
        "value": "some value",
        "tags": {},
        "locked": false,
        "last_modified": "2025-11-05T07:23:37+00:00"
      }
    }
  ],
  "Variables": {
    "etags": "etags528"
  }
}
