{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/etags720?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-None-Match": "*"
      },
      "RequestBody": {
        "key": "etags720",
        "value": "some value"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"kMglNVympf3ytxtqdc4KQZvSTbxoJbIgluYwM8pP5c0\"",
        "Last-Modified": "Thu, 02 Oct 2025 15:29:41 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQyMjkzOTA=;sn=74229390"
      },
      "ResponseBody": {
        "etag": "kMglNVympf3ytxtqdc4KQZvSTbxoJbIgluYwM8pP5c0",
        "key": "etags720",
        "label": null,
        "content_type": null,
        "value": "some value",
        "tags": {},
        "locked": false,
        "last_modified": "2025-10-02T15:29:41+00:00"
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/etags720?api-version=2023-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzQyMjkzOTA="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"kMglNVympf3ytxtqdc4KQZvSTbxoJbIgluYwM8pP5c0\"",
        "Last-Modified": "Thu, 02 Oct 2025 15:29:41 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQyMjkzOTM=;sn=74229393"
      },
      "ResponseBody": {
        "etag": "kMglNVympf3ytxtqdc4KQZvSTbxoJbIgluYwM8pP5c0",
        "key": "etags720",
        "label": null,
        "content_type": null,
        "value": "some value",
        "tags": {},
        "locked": false,
        "last_modified": "2025-10-02T15:29:41+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/etags720?api-version=2023-11-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json",
        "If-Match": "\"kMglNVympf3ytxtqdc4KQZvSTbxoJbIgluYwM8pP5c0\"",
        "sync-token": "zAJw6V16=MTI6MTkjNzQyMjkzOTU="
      },
      "RequestBody": {
        "key": "etags720",
        "value": "some new value!",
        "last_modified": "2025-10-02T15:29:41.000Z",
        "tags": {},
        "etag": "kMglNVympf3ytxtqdc4KQZvSTbxoJbIgluYwM8pP5c0"
      },
      "StatusCode": 412,
      "ResponseHeaders": {
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQyMjk0MDA=;sn=74229400"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv?api-version=2023-11-01&key=etags720",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzQyMjk0MDA="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kvset+json; charset=utf-8",
        "ETag": "\"CxvDE50thKgZnMQ0r8QYo0XAr54E51Lex0gA_gDZqlk\"",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQyMjk0MDM=;sn=74229403"
      },
      "ResponseBody": {
        "etag": "CxvDE50thKgZnMQ0r8QYo0XAr54E51Lex0gA_gDZqlk",
        "items": [
          {
            "etag": "j62SdgpPydFMzbFZQaEooB_y_tLJf4qRYnKIFeG9QSI",
            "key": "etags720",
            "label": null,
            "content_type": null,
            "value": "sneaky user updated the field",
            "tags": {},
            "locked": false,
            "last_modified": "2025-10-02T15:29:42+00:00"
          }
        ]
      }
    },
    {
      "RequestUri": "https://Sanitized.azconfig.io/kv/etags720?api-version=2023-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "sync-token": "zAJw6V16=MTI6MTkjNzQyMjk0MDM="
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/vnd.microsoft.appconfig.kv+json; charset=utf-8",
        "ETag": "\"j62SdgpPydFMzbFZQaEooB_y_tLJf4qRYnKIFeG9QSI\"",
        "Last-Modified": "Thu, 02 Oct 2025 15:29:42 GMT",
        "Sync-Token": "zAJw6V16=MTI6MTkjNzQyMjk0MDQ=;sn=74229404"
      },
      "ResponseBody": {
        "etag": "j62SdgpPydFMzbFZQaEooB_y_tLJf4qRYnKIFeG9QSI",
        "key": "etags720",
        "label": null,
        "content_type": null,
        "value": "sneaky user updated the field",
        "tags": {},
        "locked": false,
        "last_modified": "2025-10-02T15:29:42+00:00"
      }
    }
  ],
  "Variables": {
    "etags": "etags720"
  }
}
