{
  "Entries": [
    {
      "RequestUri": "https://tb0f745ebb7bfae58hsm.managedhsm.azure.net/keys/2051757908/create?api-version=7.3",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://tb0f745ebb7bfae58hsm.managedhsm.azure.net/keys/2051757908/create?api-version=7.3",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "oct"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "68"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1724279178,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1724279178
        },
        "key": {
          "key_ops": [
            "deriveKey",
            "wrapKey",
            "verify",
            "sign",
            "unwrapKey",
            "encrypt",
            "decrypt"
          ],
          "kid": "https://tb0f745ebb7bfae58hsm.managedhsm.azure.net/keys/2051757908/887d6a30fd6b0c7db3e797c844887013",
          "kty": "oct-HSM"
        }
      }
    },
    {
      "RequestUri": "https://tb0f745ebb7bfae58hsm.managedhsm.azure.net/backup?api-version=7.6-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://tb0f745ebb7bfae58hsm.managedhsm.azure.net/backup?api-version=7.6-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "storageResourceUri": "https://tb0f745ebb7bfae58prim.blob.core.windows.net/backup",
        "token": "Sanitized",
        "useManagedIdentity": false
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "api-supported-versions": "20180927, 20211111",
        "azure-asyncoperation": "https://tb0f745ebb7bfae58hsm.managedhsm.azure.net/backup/d01318304d064abc8e14dff25cb09aee/pending",
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "x-ms-server-latency": "1213"
      },
      "ResponseBody": {
        "status": "InProgress",
        "statusDetails": null,
        "error": null,
        "startTime": 1724279182,
        "endTime": null,
        "jobId": "d01318304d064abc8e14dff25cb09aee",
        "azureStorageBlobContainerUri": null
      }
    },
    {
      "RequestUri": "https://tb0f745ebb7bfae58hsm.managedhsm.azure.net/backup/d01318304d064abc8e14dff25cb09aee/pending?api-version=7.6-preview.1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "20180927, 20211111",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20240802-2-f8ce6e35-develop",
        "x-ms-server-latency": "273"
      },
      "ResponseBody": {
        "azureStorageBlobContainerUri": null,
        "endTime": null,
        "error": null,
        "jobId": "d01318304d064abc8e14dff25cb09aee",
        "startTime": 1724279182,
        "status": "InProgress",
        "statusDetails": null
      }
    },
[...]
    {
      "RequestUri": "https://tb0f745ebb7bfae58hsm.managedhsm.azure.net/keys/2051757908/restore?api-version=7.6-preview.1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "sasTokenParameters": {
          "storageResourceUri": "https://tb0f745ebb7bfae58prim.blob.core.windows.net/backup",
          "token": "Sanitized",
          "useManagedIdentity": false
        },
        "folder": "mhsm-tb0f745ebb7bfae58hsm-2024082122262238"
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "api-supported-versions": "20180927, 20211111",
        "azure-asyncoperation": "https://tb0f745ebb7bfae58hsm.managedhsm.azure.net/restore/71845ea9a7c743179b022911fbba10f2/pending",
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "x-ms-server-latency": "555"
      },
      "ResponseBody": {
        "endTime": null,
        "error": null,
        "jobId": "71845ea9a7c743179b022911fbba10f2",
        "startTime": 1724279210,
        "status": "InProgress",
        "statusDetails": null
      }
    },
    {
      "RequestUri": "https://tb0f745ebb7bfae58hsm.managedhsm.azure.net/restore/71845ea9a7c743179b022911fbba10f2/pending?api-version=7.6-preview.1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "20180927, 20211111",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20240802-2-f8ce6e35-develop",
        "x-ms-server-latency": "244"
      },
      "ResponseBody": {
        "endTime": null,
        "error": null,
        "jobId": "71845ea9a7c743179b022911fbba10f2",
        "startTime": 1724279210,
        "status": "InProgress",
        "statusDetails": null
      }
    },
    {
      "RequestUri": "https://tb0f745ebb7bfae58hsm.managedhsm.azure.net/restore/71845ea9a7c743179b022911fbba10f2/pending?api-version=7.6-preview.1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "20180927, 20211111",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20240802-2-f8ce6e35-develop",
        "x-ms-server-latency": "233"
      },
      "ResponseBody": {
        "endTime": 1724279219,
        "error": null,
        "jobId": "71845ea9a7c743179b022911fbba10f2",
        "startTime": 1724279210,
        "status": "Succeeded",
        "statusDetails": "Number of successful key versions restored: 0, Number of key versions could not overwrite: 2"
      }
    }
  ],
  "Variables": {
    "AZURE_MANAGEDHSM_URL": "https://tb0f745ebb7bfae58hsm.managedhsm.azure.net/",
    "BLOB_PRIMARY_STORAGE_ACCOUNT_KEY": "Sanitized",
    "BLOB_STORAGE_ACCOUNT_NAME": "tb0f745ebb7bfae58prim",
    "RandomSeed": "197217693"
  }
}
