{
  "Entries": [
    {
      "RequestUri": "https://rgjoncardekv76hsm.managedhsm.azure.net/keys/1189134515/create?api-version=7.3",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "oct"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "49"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1749812477,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1749812477
        },
        "key": {
          "key_ops": [
            "deriveKey",
            "wrapKey",
            "verify",
            "sign",
            "unwrapKey",
            "encrypt",
            "decrypt"
          ],
          "kid": "https://rgjoncardekv76hsm.managedhsm.azure.net/keys/1189134515/cdd31b62046b0abeacc5447e588efa81",
          "kty": "oct-HSM"
        }
      }
    },
    {
      "RequestUri": "https://rgjoncardekv76hsm.managedhsm.azure.net/backup?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://rgjoncardekv76hsm.managedhsm.azure.net/backup?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "storageResourceUri": "https://rgjoncardekv76prim.blob.core.windows.net/backup",
        "token": "Sanitized",
        "useManagedIdentity": false
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "api-supported-versions": "20180927, 20211111",
        "azure-asyncoperation": "https://rgjoncardekv76hsm.managedhsm.azure.net/backup/845962118f1643b79f7f230cfc2feeae/pending",
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "x-ms-server-latency": "158"
      },
      "ResponseBody": {
        "status": "InProgress",
        "statusDetails": null,
        "error": null,
        "startTime": 1749812479,
        "endTime": null,
        "jobId": "845962118f1643b79f7f230cfc2feeae",
        "azureStorageBlobContainerUri": null
      }
    },
    {
      "RequestUri": "https://rgjoncardekv76hsm.managedhsm.azure.net/backup/845962118f1643b79f7f230cfc2feeae/pending?api-version=7.6",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "20180927, 20211111",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20250601-1-938c6570-develop",
        "x-ms-server-latency": "95"
      },
      "ResponseBody": {
        "azureStorageBlobContainerUri": null,
        "endTime": null,
        "error": null,
        "jobId": "845962118f1643b79f7f230cfc2feeae",
        "startTime": 1749812479,
        "status": "InProgress",
        "statusDetails": null
      }
    },
[...]
    {
      "RequestUri": "https://rgjoncardekv76hsm.managedhsm.azure.net/keys/1189134515/restore?api-version=7.6",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "sasTokenParameters": {
          "storageResourceUri": "https://rgjoncardekv76prim.blob.core.windows.net/backup",
          "token": "Sanitized",
          "useManagedIdentity": false
        },
        "folder": "mhsm-rgjoncardekv76hsm-2025061311011956"
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "api-supported-versions": "20180927, 20211111",
        "azure-asyncoperation": "https://rgjoncardekv76hsm.managedhsm.azure.net/restore/2136943721c647bfaaf0d7d846aaf04a/pending",
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "x-ms-server-latency": "151"
      },
      "ResponseBody": {
        "endTime": null,
        "error": null,
        "jobId": "2136943721c647bfaaf0d7d846aaf04a",
        "startTime": 1749812495,
        "status": "InProgress",
        "statusDetails": null
      }
    },
    {
      "RequestUri": "https://rgjoncardekv76hsm.managedhsm.azure.net/restore/2136943721c647bfaaf0d7d846aaf04a/pending?api-version=7.6",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "20180927, 20211111",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20250601-1-938c6570-develop",
        "x-ms-server-latency": "110"
      },
      "ResponseBody": {
        "endTime": null,
        "error": null,
        "jobId": "2136943721c647bfaaf0d7d846aaf04a",
        "startTime": 1749812495,
        "status": "InProgress",
        "statusDetails": null
      }
    },
    {
      "RequestUri": "https://rgjoncardekv76hsm.managedhsm.azure.net/restore/2136943721c647bfaaf0d7d846aaf04a/pending?api-version=7.6",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "20180927, 20211111",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20250601-1-938c6570-develop",
        "x-ms-server-latency": "101"
      },
      "ResponseBody": {
        "endTime": 1749812500,
        "error": null,
        "jobId": "2136943721c647bfaaf0d7d846aaf04a",
        "startTime": 1749812495,
        "status": "Succeeded",
        "statusDetails": "Number of successful key versions restored: 0, Number of key versions could not overwrite: 2"
      }
    }
  ],
  "Variables": {
    "AZURE_MANAGEDHSM_URL": "https://rgjoncardekv76hsm.managedhsm.azure.net/",
    "BLOB_PRIMARY_STORAGE_ACCOUNT_KEY": "Sanitized",
    "BLOB_STORAGE_ACCOUNT_NAME": "rgjoncardekv76prim",
    "RandomSeed": "1418894048"
  }
}
