{
  "Entries": [
    {
      "RequestUri": "https://joncarde-kv-tests.managedhsm.azure.net/keys/1813982152/create?api-version=7.3",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://joncarde-kv-tests.managedhsm.azure.net/keys/1813982152/create?api-version=7.3",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-tokenboundauth": "true"
      },
      "RequestBody": {
        "kty": "oct"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "55"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1781293533,
          "enabled": true,
          "exportable": false,
          "key_size": 256,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1781293533
        },
        "key": {
          "key_ops": [
            "deriveKey",
            "wrapKey",
            "verify",
            "sign",
            "unwrapKey",
            "encrypt",
            "decrypt"
          ],
          "kid": "https://joncarde-kv-tests.managedhsm.azure.net/keys/1813982152/19d4ed22b283064f3b2cd4da359c8174",
          "kty": "oct-HSM"
        }
      }
    },
    {
      "RequestUri": "https://joncarde-kv-tests.managedhsm.azure.net/backup?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://joncarde-kv-tests.managedhsm.azure.net/backup?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-tokenboundauth": "true"
      },
      "RequestBody": {
        "storageResourceUri": "https://joncardekvstorage.blob.core.windows.net/backup",
        "token": "Sanitized",
        "useManagedIdentity": false
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "api-supported-versions": "20180927, 20211111",
        "azure-asyncoperation": "https://joncarde-kv-tests.managedhsm.azure.net/backup/3be4caf7304f4d3f81b9d22fa3991eed/pending",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "6dc5dfb4-6331-47a1-860a-edc8c52fc4c1",
        "Retry-After": "10",
        "x-ms-server-latency": "439"
      },
      "ResponseBody": {
        "status": "InProgress",
        "statusDetails": null,
        "error": null,
        "startTime": 1781293535,
        "endTime": null,
        "jobId": "3be4caf7304f4d3f81b9d22fa3991eed",
        "azureStorageBlobContainerUri": null
      }
    },
    {
      "RequestUri": "https://joncarde-kv-tests.managedhsm.azure.net/backup/3be4caf7304f4d3f81b9d22fa3991eed/pending?api-version=2026-01-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-tokenboundauth": "true"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "20180927, 20211111",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "d5b094db-63d5-45b9-b2a5-5186c2c835c1",
        "x-ms-build-version": "1.0.20260505-1-b95d5630-develop",
        "x-ms-server-latency": "220"
      },
      "ResponseBody": {
        "azureStorageBlobContainerUri": null,
        "endTime": null,
        "error": null,
        "jobId": "3be4caf7304f4d3f81b9d22fa3991eed",
        "startTime": 1781293535,
        "status": "InProgress",
        "statusDetails": null
      }
    },
    {
      "RequestUri": "https://joncarde-kv-tests.managedhsm.azure.net/backup/3be4caf7304f4d3f81b9d22fa3991eed/pending?a[...]
