{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.unitedstates.communication.azure.com/chat/threads/19%3A2sVgix0HdZTn_tXhW1Zi1vSaRzYPEq1e7VkRqyW8pfg1%40thread.v2/messages?api-version=2024-06-05-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "content": "content",
        "metadata": {
          "tags": "sometag"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07, 2021-04-05-preview6, 2021-09-07, 2023-04-01-preview, 2023-07-01-preview, 2023-11-07, 2023-11-15-preview, 2024-03-01-preview, 2024-03-07, 2024-03-15-preview, 2024-06-05-preview",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://endpoint/chat/threads/19%3A2sVgix0HdZTn_tXhW1Zi1vSaRzYPEq1e7VkRqyW8pfg1@thread.v2/messages/1717626369776",
        "mise-correlation-id": "797a0f45-21ff-42e0-900b-ea37903c909b",
        "MS-CV": "Sanitized",
        "X-Processing-Time": "126ms"
      },
      "ResponseBody": {
        "id": "1717626369776"
      }
    }
  ],
  "Variables": {}
}
