{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.unitedstates.communication.azure.com/chat/threads/19%3A2sVgix0HdZTn_tXhW1Zi1vSaRzYPEq1e7VkRqyW8pfg1%40thread.v2/participants/:remove?api-version=2024-06-05-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "rawId": "8:acs:b6aada1f-0b1d-47ac-866f-91aae00a1d01_00000020-8a64-0be4-570c-113a0d00173e",
        "communicationUser": {
          "id": "8:acs:b6aada1f-0b1d-47ac-866f-91aae00a1d01_00000020-8a64-0be4-570c-113a0d00173e"
        }
      },
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07, 2021-04-05-preview6, 2021-09-07, 2023-04-01-preview, 2023-07-01-preview, 2023-11-07, 2023-11-15-preview, 2024-03-01-preview, 2024-03-07, 2024-03-15-preview, 2024-06-05-preview",
        "mise-correlation-id": "86403d01-d537-4051-8e17-27c09ef6b319",
        "MS-CV": "Sanitized",
        "X-Processing-Time": "317ms"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
