{
  "Entries": [
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-6ca7e9ae-db1a-699c-e967-7737d2036d28?sv=Sanitized&ss=f&srt=sco&se=2026-04-30T22%3A57%3A57Z&sp=rwdxylacuptfi&sig=Sanitized&restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA642C1193657\"",
        "Last-Modified": "Wed, 29 Apr 2026 22:57:57 GMT",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-d2a1cd0a-af72-0c50-469d-23e16b34c3fa?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 29 Apr 2026 22:57:57 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA642C120DB0C\"",
        "Last-Modified": "Wed, 29 Apr 2026 22:57:57 GMT",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-6ca7e9ae-db1a-699c-e967-7737d2036d28/sourceFolder?sv=Sanitized&ss=f&srt=sco&se=2026-04-30T22%3A57%3A57Z&sp=rwdxylacuptfi&sig=Sanitized&restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA642C1289CF0\"",
        "Last-Modified": "Wed, 29 Apr 2026 22:57:57 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2026-04-29T22:57:57.1905776Z",
        "x-ms-file-creation-time": "2026-04-29T22:57:57.1905776Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2026-04-29T22:57:57.1905776Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "11118135984870558254*17478659090621734311",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-6ca7e9ae-db1a-699c-e967-7737d2036d28/sourceFolder/test-file-4511e983-f22a-f08c-2fb1-8d8c65a886f7?sv=Sanitized&ss=f&srt=sco&se=2026-04-30T22%3A57%3A57Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-language": "en-US,en-CA",
        "x-ms-content-length": "1024",
        "x-ms-file-attributes": "None",
        "x-ms-file-change-time": "2024-04-01T13:30:03.0000000Z",
        "x-ms-file-creation-time": "2024-04-01T09:05:55.0000000Z",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-type": "file",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA642C130FDEC\"",
        "Last-Modified": "Wed, 29 Apr 2026 22:57:57 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-04-01T13:30:03.0000000Z",
        "x-ms-file-creation-time": "2024-04-01T09:05:55.0000000Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "6498768581512459561*17478659090621734311",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-6ca7e9ae-db1a-699c-e967-7737d2036d28/sourceFolder/bar?sv=Sanitized&ss=f&srt=sco&se=2026-04-30T22%3A57%3A57Z&sp=rwdxylacuptfi&sig=Sanitized&restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA642C13F9DEA\"",
        "Last-Modified": "Wed, 29 Apr 2026 22:57:57 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2026-04-29T22:57:57.3413354Z",
        "x-ms-file-creation-time": "2026-04-29T22:57:57.3413354Z",
        "x-ms-file-id": "10376363910205800448",
        "x-ms-file-last-write-time": "2026-04-29T22:57:57.3413354Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "11118135984870558254*17478659090621734311",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-6ca7e9ae-db1a-699c-e967-7737d2036d28/sourceFolder/bar/test-file-a668899d-172e-92ea-f54c-02eef205059a?sv=Sanitized&ss=f&srt=sco&se=2026-04-30T22%3A57%3A57Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-language": "en-US,en-CA",
        "x-ms-content-length": "1024",
   [...]
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-6ca7e9ae-db1a-699c-e967-7737d2036d28/sourceFolder/pik?sv=Sanitized&ss=f&srt=sco&se=2026-04-30T22%3A57%3A57Z&sp=rwdxylacuptfi&sig=Sanitized&restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA642C14E7B05\"",
        "Last-Modified": "Wed, 29 Apr 2026 22:57:57 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2026-04-29T22:57:57.4387461Z",
        "x-ms-file-creation-time": "2026-04-29T22:57:57.4387461Z",
        "x-ms-file-id": "12682206919419494400",
        "x-ms-file-last-write-time": "2026-04-29T22:57:57.4387461Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "11118135984870558254*17478659090621734311",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-6ca7e9ae-db1a-699c-e967-7737d2036d28/sourceFolder/pik/test-file-4c68f498-c1b7-c416-7422-b174da8ddf38?sv=Sanitized&ss=f&srt=sco&se=2026-04-30T22%3A57%3A57Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-language": "en-US,en-CA",
        "x-ms-content-length": "1024",
   [...]
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-d2a1cd0a-af72-0c50-469d-23e16b34c3fa/destFolder?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 29 Apr 2026 22:57:57 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA642C15D0AAB\"",
        "Last-Modified": "Wed, 29 Apr 2026 22:57:57 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2026-04-29T22:57:57.5341739Z",
        "x-ms-file-creation-time": "2026-04-29T22:57:57.5341739Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2026-04-29T22:57:57.5341739Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "11118135984870558254*17478659090621734311",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-6ca7e9ae-db1a-699c-e967-7737d2036d28?sv=Sanitized&ss=f&srt=sco&se=2026-04-30T22%3A57%3A57Z&sp=rwdxylacuptfi&sig=Sanitized&restype=share",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA642C1193657\"",
        "Last-Modified": "Wed, 29 Apr 2026 22:57:57 GMT",
        "x-ms-access-tier": "TransactionOptimized",
        "x-ms-access-tier-change-time": "Wed, 29 Apr 2026 22:57:57 GMT",
        "x-ms-enable-smb-directory-lease": "true",
        "x-ms-has-immutability-policy": "false",
        "x-ms-has-legal-hold": "false",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-share-quota": "102400",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-6ca7e9ae-db1a-699c-e967-7737d2036d28/sourceFolder?sv=Sanitized&ss=f&srt=sco&se=2026-04-30T22%3A57%3A57Z&sp=rwdxylacuptfi&sig=Sanitized&restype=directory&comp=list&include=Attributes",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amnguyesa.file.core.windows.net/\" ShareName=\"test-share-6ca7e9ae-db1a-699c-e967-7737d2036d28\" DirectoryPath=\"sourceFolder\"><DirectoryId>13835128424026341376</DirectoryId><Entries><Directory><Name>bar</Name><FileId>10376363910205800448</FileId><Properties /><Attributes>Directory</Attributes></Directory><Directory><Name>pik</Name><FileId>12682206919419494400</FileId><Properties /><Attributes>Directory</Attributes></Directory><File><Name>test-file-4511e983-f22a-f08c-2fb1-8d8c65a886f7</Name><FileId>11529285414812647424</FileId><Properties><Content-Length>1024</Content-Length></Properties><Attributes>Archive</Attributes></File><File><Name>test-file-d49029a0-84e9-12dd-0318-da906ef415d0</Name><FileId>16140971433240035328</FileId><Properties><Content-Length>1024</Content-Length></Properties><Attributes>Archive</Attributes></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-6ca7e9ae-db1a-699c-e967-7737d2036d28/sourceFolder/bar?sv=Sanitized&ss=f&srt=sco&se=2026-04-30T22%3A57%3A57Z&sp=rwdxylacuptfi&sig=Sanitized&restype=directory",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA642C13F9DEA\"",
        "Last-Modified": "Wed, 29 Apr 2026 22:57:57 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2026-04-29T22:57:57.3413354Z",
        "x-ms-file-creation-time": "2026-04-29T22:57:57.3413354Z",
        "x-ms-file-id": "10376363910205800448",
        "x-ms-file-last-write-time": "2026-04-29T22:57:57.3413354Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "11118135984870558254*17478659090621734311",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-d2a1cd0a-af72-0c50-469d-23e16b34c3fa/destFolder/bar?restype=directory",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 29 Apr 2026 22:57:58 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ResourceNotFound</Code><Message>The specified resource does not exist.\n",
        "RequestId:5b9639bf-101a-00a5-612b-d839d8000000\n",
        "Time:2026-04-29T22:57:57.7701842Z</Message></Error>"
      ]
    },
[...]
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-d2a1cd0a-af72-0c50-469d-23e16b34c3fa/destFolder/pik?restype=directory",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 29 Apr 2026 22:57:58 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ResourceNotFound</Code><Message>The specified resource does not exist.\n",
        "RequestId:5b9639c2-101a-00a5-642b-d839d8000000\n",
        "Time:2026-04-29T22:57:57.9004687Z</Message></Error>"
      ]
    },
[...]
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-6ca7e9ae-db1a-699c-e967-7737d2036d28/sourceFolder/test-file-4511e983-f22a-f08c-2fb1-8d8c65a886f7?sv=Sanitized&ss=f&srt=sco&se=2026-04-30T22%3A57%3A57Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": [
          "en-US",
          "en-CA"
        ],
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DEA642C130FDEC\"",
        "Last-Modified": "Wed, 29 Apr 2026 22:57:57 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-04-01T13:30:03.0000000Z",
        "x-ms-file-creation-time": "2024-04-01T09:05:55.0000000Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "6498768581512459561*17478659090621734311",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-6ca7e9ae-db1a-699c-e967-7737d2036d28/sourceFolder/bar?sv=Sanitized&ss=f&srt=sco&se=2026-04-30T22%3A57%3A57Z&sp=rwdxylacuptfi&sig=Sanitized&restype=directory&comp=list&include=Attributes",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amnguyesa.file.core.windows.net/\" ShareName=\"test-share-6ca7e9ae-db1a-699c-e967-7737d2036d28\" DirectoryPath=\"sourceFolder/bar\"><DirectoryId>10376363910205800448</DirectoryId><Entries><File><Name>test-file-a668899d-172e-92ea-f54c-02eef205059a</Name><FileId>14988049928633188352</FileId><Properties><Content-Length>1024</Content-Length></Properties><Attributes>Archive</Attributes></File></Entries><NextMarker /></EnumerationResults>"
    },
[...]
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-d2a1cd0a-af72-0c50-469d-23e16b34c3fa/destFolder/test-file-4511e983-f22a-f08c-2fb1-8d8c65a886f7",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 29 Apr 2026 22:57:58 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-6ca7e9ae-db1a-699c-e967-7737d2036d28/sourceFolder/pik?sv=Sanitized&ss=f&srt=sco&se=2026-04-30T22%3A57%3A57Z&sp=rwdxylacuptfi&sig=Sanitized&restype=directory&comp=list&include=Attributes",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amnguyesa.file.core.windows.net/\" ShareName=\"test-share-6ca7e9ae-db1a-699c-e967-7737d2036d28\" DirectoryPath=\"sourceFolder/pik\"><DirectoryId>12682206919419494400</DirectoryId><Entries><File><Name>test-file-4c68f498-c1b7-c416-7422-b174da8ddf38</Name><FileId>17293892937846882304</FileId><Properties><Content-Length>1024</Content-Length></Properties><Attributes>Archive</Attributes></File></Entries><NextMarker /></EnumerationResults>"
    },
[...]
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-d2a1cd0a-af72-0c50-469d-23e16b34c3fa/destFolder/bar/test-file-a668899d-172e-92ea-f54c-02eef205059a",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 29 Apr 2026 22:57:58 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-d2a1cd0a-af72-0c50-469d-23e16b34c3fa/destFolder/pik/test-file-4c68f498-c1b7-c416-7422-b174da8ddf38",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 29 Apr 2026 22:57:58 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-d2a1cd0a-af72-0c50-469d-23e16b34c3fa/destFolder/test-file-4511e983-f22a-f08c-2fb1-8d8c65a886f7?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://amnguyesa.file.core.windows.net/test-share-6ca7e9ae-db1a-699c-e967-7737d2036d28/sourceFolder/test-file-4511e983-f22a-f08c-2fb1-8d8c65a886f7?sv=sanitized-value&ss=f&srt=sco&se=2026-04-30T22%3A57%3A57Z&sp=rwdxylacuptfi&sig=Sanitized",
        "x-ms-date": "Wed, 29 Apr 2026 22:57:58 GMT",
        "x-ms-file-last-write-time": "Now",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2026-06-06",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA642C1BBE090\"",
        "Last-Modified": "Wed, 29 Apr 2026 22:57:58 GMT",
        "x-ms-content-crc64": "iknlm7CyG2k=",
        "x-ms-file-last-write-time": "2026-04-29T22:57:58.1556880Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-d2a1cd0a-af72-0c50-469d-23e16b34c3fa/destFolder/test-file-4511e983-f22a-f08c-2fb1-8d8c65a886f7?comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 29 Apr 2026 22:57:58 GMT",
        "x-ms-file-change-time": "2024-04-01T13:30:03.0000000Z",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA642C1C26D8F\"",
        "Last-Modified": "Wed, 29 Apr 2026 22:57:58 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-04-01T13:30:03.0000000Z",
        "x-ms-file-creation-time": "2026-04-29T22:57:58.0917903Z",
        "x-ms-file-id": "13835093239654252544",
        "x-ms-file-last-write-time": "2026-04-29T22:57:58.1556880Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "6498768581512459561*17478659090621734311",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-d2a1cd0a-af72-0c50-469d-23e16b34c3fa/destFolder/bar/test-file-a668899d-172e-92ea-f54c-02eef205059a?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://amnguyesa.file.core.windows.net/test-share-6ca7e9ae-db1a-699c-e967-7737d2036d28/sourceFolder/bar/test-file-a668899d-172e-92ea-f54c-02eef205059a?sv=sanitized-value&ss=f&srt=sco&se=2026-04-30T22%3A57%3A57Z&sp=rwdxylacuptfi&sig=Sanitized",
        "x-ms-date": "Wed, 29 Apr 2026 22:57:58 GMT",
        "x-ms-file-last-write-time": "Now",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2026-06-06",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA642C1C26D8F\"",
        "Last-Modified": "Wed, 29 Apr 2026 22:57:58 GMT",
        "x-ms-content-crc64": "iknlm7CyG2k=",
        "x-ms-file-last-write-time": "2026-04-29T22:57:58.1986191Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-d2a1cd0a-af72-0c50-469d-23e16b34c3fa/destFolder/bar/test-file-a668899d-172e-92ea-f54c-02eef205059a?comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 29 Apr 2026 22:57:58 GMT",
        "x-ms-file-change-time": "2024-04-01T13:30:03.0000000Z",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA642C1C8D38E\"",
        "Last-Modified": "Wed, 29 Apr 2026 22:57:58 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-04-01T13:30:03.0000000Z",
        "x-ms-file-creation-time": "2026-04-29T22:57:58.1457040Z",
        "x-ms-file-id": "11529250230440558592",
        "x-ms-file-last-write-time": "2026-04-29T22:57:58.1986191Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "6498768581512459561*17478659090621734311",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-d2a1cd0a-af72-0c50-469d-23e16b34c3fa/destFolder/pik/test-file-4c68f498-c1b7-c416-7422-b174da8ddf38?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://amnguyesa.file.core.windows.net/test-share-6ca7e9ae-db1a-699c-e967-7737d2036d28/sourceFolder/pik/test-file-4c68f498-c1b7-c416-7422-b174da8ddf38?sv=sanitized-value&ss=f&srt=sco&se=2026-04-30T22%3A57%3A57Z&sp=rwdxylacuptfi&sig=Sanitized",
        "x-ms-date": "Wed, 29 Apr 2026 22:57:58 GMT",
        "x-ms-file-last-write-time": "Now",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2026-06-06",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA642C1CD8C8D\"",
        "Last-Modified": "Wed, 29 Apr 2026 22:57:58 GMT",
        "x-ms-content-crc64": "iknlm7CyG2k=",
        "x-ms-file-last-write-time": "2026-04-29T22:57:58.2715021Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-d2a1cd0a-af72-0c50-469d-23e16b34c3fa/destFolder/pik/test-file-4c68f498-c1b7-c416-7422-b174da8ddf38?comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 29 Apr 2026 22:57:58 GMT",
        "x-ms-file-change-time": "2024-04-01T13:30:03.0000000Z",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA642C1D4408A\"",
        "Last-Modified": "Wed, 29 Apr 2026 22:57:58 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-04-01T13:30:03.0000000Z",
        "x-ms-file-creation-time": "2026-04-29T22:57:58.1886351Z",
        "x-ms-file-id": "16140936248867946496",
        "x-ms-file-last-write-time": "2026-04-29T22:57:58.2715021Z",
        "x-ms-file-parent-id": "16140971433240035328",
        "x-ms-file-permission-key": "6498768581512459561*17478659090621734311",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-6ca7e9ae-db1a-699c-e967-7737d2036d28/sourceFolder?sv=Sanitized&ss=f&srt=sco&se=2026-04-30T22%3A57%3A57Z&sp=rwdxylacuptfi&sig=Sanitized&restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amnguyesa.file.core.windows.net/\" ShareName=\"test-share-6ca7e9ae-db1a-699c-e967-7737d2036d28\" DirectoryPath=\"sourceFolder\"><DirectoryId>13835128424026341376</DirectoryId><Entries><Directory><Name>bar</Name><FileId>10376363910205800448</FileId><Properties /></Directory><Directory><Name>pik</Name><FileId>12682206919419494400</FileId><Properties /></Directory><File><Name>test-file-4511e983-f22a-f08c-2fb1-8d8c65a886f7</Name><FileId>11529285414812647424</FileId><Properties><Content-Length>1024</Content-Length></Properties></File><File><Name>test-file-d49029a0-84e9-12dd-0318-da906ef415d0</Name><FileId>16140971433240035328</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-d2a1cd0a-af72-0c50-469d-23e16b34c3fa/destFolder?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 29 Apr 2026 22:57:58 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amnguyesa.file.core.windows.net/\" ShareName=\"test-share-d2a1cd0a-af72-0c50-469d-23e16b34c3fa\" DirectoryPath=\"destFolder\"><DirectoryId>13835128424026341376</DirectoryId><Entries><Directory><Name>bar</Name><FileId>11529285414812647424</FileId><Properties /></Directory><Directory><Name>pik</Name><FileId>16140971433240035328</FileId><Properties /></Directory><File><Name>test-file-4511e983-f22a-f08c-2fb1-8d8c65a886f7</Name><FileId>13835093239654252544</FileId><Properties><Content-Length>1024</Content-Length></Properties></File><File><Name>test-file-d49029a0-84e9-12dd-0318-da906ef415d0</Name><FileId>13835163608398430208</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
[...]
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-6ca7e9ae-db1a-699c-e967-7737d2036d28/sourceFolder/test-file-4511e983-f22a-f08c-2fb1-8d8c65a886f7?sv=Sanitized&ss=f&srt=sco&se=2026-04-30T22%3A57%3A57Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": [
          "en-US",
          "en-CA"
        ],
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DEA642C130FDEC\"",
        "Last-Modified": "Wed, 29 Apr 2026 22:57:57 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-04-01T13:30:03.0000000Z",
        "x-ms-file-creation-time": "2024-04-01T09:05:55.0000000Z",
[...]
