{
  "Entries": [
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-87d9c93c-e439-25d2-b357-fef86e235196?sv=Sanitized&ss=f&srt=sco&se=2025-04-15T17%3A53%3A30Z&sp=rwdxylacuptfi&sig=Sanitized&restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD7B7D3FC400A4\"",
        "Last-Modified": "Mon, 14 Apr 2025 17:53:22 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-738b5458-fe4a-68b5-2c9a-d933e7684f71?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 14 Apr 2025 17:53:30 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD7B7D3FCA973A\"",
        "Last-Modified": "Mon, 14 Apr 2025 17:53:22 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-87d9c93c-e439-25d2-b357-fef86e235196/sourceFolder?sv=Sanitized&ss=f&srt=sco&se=2025-04-15T17%3A53%3A30Z&sp=rwdxylacuptfi&sig=Sanitized&restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD7B7D3FD09CC0\"",
        "Last-Modified": "Mon, 14 Apr 2025 17:53:22 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-04-14T17:53:22.8243136Z",
        "x-ms-file-creation-time": "2025-04-14T17:53:22.8243136Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-04-14T17:53:22.8243136Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "13252330444922611895*16083086822043778878",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-87d9c93c-e439-25d2-b357-fef86e235196/sourceFolder/test-file-86d631d8-f55d-95cc-81e5-1a0aa2dbfa38?sv=Sanitized&ss=f&srt=sco&se=2025-04-15T17%3A53%3A30Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-language": "en-US,en-CA",
        "x-ms-content-length": "1024",
        "x-ms-file-attributes": "None",
        "x-ms-file-change-time": "2024-04-01T13:30:03.0000000Z",
        "x-ms-file-creation-time": "2024-04-01T09:05:55.0000000Z",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-type": "file",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD7B7D3FD5A032\"",
        "Last-Modified": "Mon, 14 Apr 2025 17:53:22 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-04-01T13:30:03.0000000Z",
        "x-ms-file-creation-time": "2024-04-01T09:05:55.0000000Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "8616074386732128176*16083086822043778878",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-87d9c93c-e439-25d2-b357-fef86e235196/sourceFolder/bar?sv=Sanitized&ss=f&srt=sco&se=2025-04-15T17%3A53%3A30Z&sp=rwdxylacuptfi&sig=Sanitized&restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD7B7D3FE042A3\"",
        "Last-Modified": "Mon, 14 Apr 2025 17:53:22 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-04-14T17:53:22.9268643Z",
        "x-ms-file-creation-time": "2025-04-14T17:53:22.9268643Z",
        "x-ms-file-id": "10376363910205800448",
        "x-ms-file-last-write-time": "2025-04-14T17:53:22.9268643Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "13252330444922611895*16083086822043778878",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-87d9c93c-e439-25d2-b357-fef86e235196/sourceFolder/bar/test-file-17c34bd5-5136-eba2-769e-b4d68465a8b5?sv=Sanitized&ss=f&srt=sco&se=2025-04-15T17%3A53%3A30Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-language": "en-US,en-CA",
        "x-ms-content-length": [...]
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-87d9c93c-e439-25d2-b357-fef86e235196/sourceFolder/pik?sv=Sanitized&ss=f&srt=sco&se=2025-04-15T17%3A53%3A30Z&sp=rwdxylacuptfi&sig=Sanitized&restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD7B7D3FF4C50A\"",
        "Last-Modified": "Mon, 14 Apr 2025 17:53:23 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-04-14T17:53:23.0612746Z",
        "x-ms-file-creation-time": "2025-04-14T17:53:23.0612746Z",
        "x-ms-file-id": "12682206919419494400",
        "x-ms-file-last-write-time": "2025-04-14T17:53:23.0612746Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "13252330444922611895*16083086822043778878",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-87d9c93c-e439-25d2-b357-fef86e235196/sourceFolder/pik/test-file-e0887f85-c3d4-e0b5-e37f-1df4a1a13ce9?sv=Sanitized&ss=f&srt=sco&se=2025-04-15T17%3A53%3A30Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-language": "en-US,en-CA",
        "x-ms-content-length": [...]
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-738b5458-fe4a-68b5-2c9a-d933e7684f71/destFolder?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 14 Apr 2025 17:53:31 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD7B7D400029EF\"",
        "Last-Modified": "Mon, 14 Apr 2025 17:53:23 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-04-14T17:53:23.1359471Z",
        "x-ms-file-creation-time": "2025-04-14T17:53:23.1359471Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-04-14T17:53:23.1359471Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "13252330444922611895*16083086822043778878",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-87d9c93c-e439-25d2-b357-fef86e235196/sourceFolder?sv=Sanitized&ss=f&srt=sco&se=2025-04-15T17%3A53%3A30Z&sp=rwdxylacuptfi&sig=Sanitized&restype=directory&comp=list&include=Attributes%2CPermissionKey",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://nickliuproductionacc.file.core.windows.net/\" ShareName=\"test-share-87d9c93c-e439-25d2-b357-fef86e235196\" DirectoryPath=\"sourceFolder\"><DirectoryId>13835128424026341376</DirectoryId><Entries><Directory><Name>bar</Name><FileId>10376363910205800448</FileId><Properties /><Attributes>Directory</Attributes><PermissionKey>13252330444922611895*16083086822043778878</PermissionKey></Directory><Directory><Name>pik</Name><FileId>12682206919419494400</FileId><Properties /><Attributes>Directory</Attributes><PermissionKey>13252330444922611895*16083086822043778878</PermissionKey></Directory><File><Name>test-file-7a6e639e-9d63-232b-347d-39a7ff92f985</Name><FileId>16140971433240035328</FileId><Properties><Content-Length>1024</Content-Length></Properties><Attributes>Archive</Attributes><PermissionKey>8616074386732128176*16083086822043778878</PermissionKey></File><File><Name>test-file-86d631d8-f55d-95cc-81e5-1a0aa2dbfa38</Name><FileId>11529285414812647424</FileId><Properties><Content-Length>1024</Content-Length></Properties><Attributes>Archive</Attributes><PermissionKey>8616074386732128176*16083086822043778878</PermissionKey></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-87d9c93c-e439-25d2-b357-fef86e235196?sv=Sanitized&ss=f&srt=sco&se=2025-04-15T17%3A53%3A30Z&sp=rwdxylacuptfi&sig=Sanitized&restype=share&comp=filepermission",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-file-permission-key": "13252330444922611895*16083086822043778878",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "eyJwZXJtaXNzaW9uIjoiTzpTWUc6U1lEOihBO09JQ0k7RkE7OztCQSkoQTtPSUNJO0ZBOzs7U1kpKEE7OzB4MTIwMGE5Ozs7QlUpKEE7T0lDSUlPO0dYR1I7OztCVSkoQTtPSUNJOzB4MTMwMWJmOzs7QVUpKEE7O0ZBOzs7U1kpKEE7T0lDSUlPO0dBOzs7Q08pIiwiZm9ybWF0Ijoic2RkbCJ9"
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-738b5458-fe4a-68b5-2c9a-d933e7684f71?restype=share&comp=filepermission",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-date": "Mon, 14 Apr 2025 17:53:31 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": {
        "permission": "O:SYG:SYD:(A;OICI;FA;;;BA)(A;OICI;FA;;;SY)(A;;0x1200a9;;;BU)(A;OICIIO;GXGR;;;BU)(A;OICI;0x1301bf;;;AU)(A;;FA;;;SY)(A;OICIIO;GA;;;CO)"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "x-ms-file-permission-key": "1993229784115675527*16083086822043778878",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-87d9c93c-e439-25d2-b357-fef86e235196/sourceFolder/bar?sv=Sanitized&ss=f&srt=sco&se=2025-04-15T17%3A53%3A30Z&sp=rwdxylacuptfi&sig=Sanitized&restype=directory",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD7B7D3FE042A3\"",
        "Last-Modified": "Mon, 14 Apr 2025 17:53:22 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-04-14T17:53:22.9268643Z",
        "x-ms-file-creation-time": "2025-04-14T17:53:22.9268643Z",
        "x-ms-file-id": "10376363910205800448",
        "x-ms-file-last-write-time": "2025-04-14T17:53:22.9268643Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "13252330444922611895*16083086822043778878",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-738b5458-fe4a-68b5-2c9a-d933e7684f71/destFolder/bar?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 14 Apr 2025 17:53:31 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-04-14T17:53:22.9268643Z",
        "x-ms-file-creation-time": "2025-04-14T17:53:22.9268643Z",
        "x-ms-file-last-write-time": "2025-04-14T17:53:22.9268643Z",
        "x-ms-file-permission-key": "1993229784115675527*16083086822043778878",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD7B7D4020ACCD\"",
        "Last-Modified": "Mon, 14 Apr 2025 17:53:23 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-04-14T17:53:22.9268643Z",
        "x-ms-file-creation-time": "2025-04-14T17:53:22.9268643Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2025-04-14T17:53:22.9268643Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "13252330444922611895*16083086822043778878",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-738b5458-fe4a-68b5-2c9a-d933e7684f71/destFolder/pik?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 14 Apr 2025 17:53:31 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-04-14T17:53:23.0612746Z",
        "x-ms-file-creation-time": "2025-04-14T17:53:23.0612746Z",
        "x-ms-file-last-write-time": "2025-04-14T17:53:23.0612746Z",
        "x-ms-file-permission-key": "1993229784115675527*16083086822043778878",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD7B7D402955AD\"",
        "Last-Modified": "Mon, 14 Apr 2025 17:53:23 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-04-14T17:53:23.0612746Z",
        "x-ms-file-creation-time": "2025-04-14T17:53:23.0612746Z",
        "x-ms-file-id": "16140971433240035328",
        "x-ms-file-last-write-time": "2025-04-14T17:53:23.0612746Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "13252330444922611895*16083086822043778878",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-87d9c93c-e439-25d2-b357-fef86e235196/sourceFolder/bar?sv=Sanitized&ss=f&srt=sco&se=2025-04-15T17%3A53%3A30Z&sp=rwdxylacuptfi&sig=Sanitized&restype=directory&comp=list&include=Attributes%2CPermissionKey",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://nickliuproductionacc.file.core.windows.net/\" ShareName=\"test-share-87d9c93c-e439-25d2-b357-fef86e235196\" DirectoryPath=\"sourceFolder/bar\"><DirectoryId>10376363910205800448</DirectoryId><Entries><File><Name>test-file-17c34bd5-5136-eba2-769e-b4d68465a8b5</Name><FileId>14988049928633188352</FileId><Properties><Content-Length>1024</Content-Length></Properties><Attributes>Archive</Attributes><PermissionKey>8616074386732128176*16083086822043778878</PermissionKey></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-87d9c93c-e439-25d2-b357-fef86e235196/sourceFolder/test-file-86d631d8-f55d-95cc-81e5-1a0aa2dbfa38?sv=Sanitized&ss=f&srt=sco&se=2025-04-15T17%3A53%3A30Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": [
          "en-US",
          "en-CA"
        ],
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD7B7D3FD5A032\"",
        "Last-Modified": "Mon, 14 Apr 2025 17:53:22 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-04-01T13:30:03.0000000Z",
        "x-ms-file-creation-time": "2024-04-01T09:05:55.0000000Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "8616074386732128176*16083086822043778878",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-87d9c93c-e439-25d2-b357-fef86e235196/sourceFolder/pik?sv=Sanitized&ss=f&srt=sco&se=2025-04-15T17%3A53%3A30Z&sp=rwdxylacuptfi&sig=Sanitized&restype=directory&comp=list&include=Attributes%2CPermissionKey",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://nickliuproductionacc.file.core.windows.net/\" ShareName=\"test-share-87d9c93c-e439-25d2-b357-fef86e235196\" DirectoryPath=\"sourceFolder/pik\"><DirectoryId>12682206919419494400</DirectoryId><Entries><File><Name>test-file-e0887f85-c3d4-e0b5-e37f-1df4a1a13ce9</Name><FileId>17293892937846882304</FileId><Properties><Content-Length>1024</Content-Length></Properties><Attributes>Archive</Attributes><PermissionKey>8616074386732128176*16083086822043778878</PermissionKey></File></Entries><NextMarker /></EnumerationResults>"
    },
[...]
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-738b5458-fe4a-68b5-2c9a-d933e7684f71/destFolder/test-file-7a6e639e-9d63-232b-347d-39a7ff92f985",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 14 Apr 2025 17:53:31 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-738b5458-fe4a-68b5-2c9a-d933e7684f71/destFolder/test-file-86d631d8-f55d-95cc-81e5-1a0aa2dbfa38",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-language": "en-US,en-CA",
        "x-ms-content-length": "1024",
        "x-ms-content-type": "application/octet-stream",
        "x-ms-date": "Mon, 14 Apr 2025 17:53:31 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-04-01T13:30:03.0000000Z",
        "x-ms-file-creation-time": "2024-04-01T09:05:55.0000000Z",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-file-permission-key": "10059648276569620288*16083086822043778878",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-type": "file",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD7B7D40491612\"",
        "Last-Modified": "Mon, 14 Apr 2025 17:53:23 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-04-01T13:30:03.0000000Z",
        "x-ms-file-creation-time": "2024-04-01T09:05:55.0000000Z",
        "x-ms-file-id": "13835163608398430208",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "8616074386732128176*16083086822043778878",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-738b5458-fe4a-68b5-2c9a-d933e7684f71/destFolder/bar/test-file-17c34bd5-5136-eba2-769e-b4d68465a8b5",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 14 Apr 2025 17:53:31 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-738b5458-fe4a-68b5-2c9a-d933e7684f71/destFolder/pik/test-file-e0887f85-c3d4-e0b5-e37f-1df4a1a13ce9",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 14 Apr 2025 17:53:31 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-738b5458-fe4a-68b5-2c9a-d933e7684f71/destFolder/test-file-7a6e639e-9d63-232b-347d-39a7ff92f985?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://nickliuproductionacc.file.core.windows.net/test-share-87d9c93c-e439-25d2-b357-fef86e235196/sourceFolder/test-file-7a6e639e-9d63-232b-347d-39a7ff92f985?sv=sanitized-value&ss=f&srt=sco&se=2025-04-15T17%3A53%3A30Z&sp=rwdxylacuptfi&sig=Sanitized",
        "x-ms-date": "Mon, 14 Apr 2025 17:53:31 GMT",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD7B7D40501315\"",
        "Last-Modified": "Mon, 14 Apr 2025 17:53:23 GMT",
        "x-ms-content-crc64": "iknlm7CyG2k=",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-738b5458-fe4a-68b5-2c9a-d933e7684f71/destFolder/test-file-7a6e639e-9d63-232b-347d-39a7ff92f985?comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-language": "en-US,en-CA",
        "x-ms-content-type": "application/octet-stream",
        "x-[...]
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-738b5458-fe4a-68b5-2c9a-d933e7684f71/destFolder/bar/test-file-17c34bd5-5136-eba2-769e-b4d68465a8b5?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://nickliuproductionacc.file.core.windows.net/test-share-87d9c93c-e439-25d2-b357-fef86e235196/sourceFolder/bar/test-file-17c34bd5-5136-eba2-769e-b4d68465a8b5?sv=sanitized-value&ss=f&srt=sco&se=2025-04-15T17%3A53%3A30Z&sp=rwdxylacuptfi&sig=Sanitized",
        "x-ms-date": "Mon, 14 Apr 2025 17:53:31 GMT",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD7B7D4056748B\"",
        "Last-Modified": "Mon, 14 Apr 2025 17:53:23 GMT",
        "x-ms-content-crc64": "iknlm7CyG2k=",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-738b5458-fe4a-68b5-2c9a-d933e7684f71/destFolder/pik/test-file-e0887f85-c3d4-e0b5-e37f-1df4a1a13ce9?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://nickliuproductionacc.file.core.windows.net/test-share-87d9c93c-e439-25d2-b357-fef86e235196/sourceFolder/pik/test-file-e0887f85-c3d4-e0b5-e37f-1df4a1a13ce9?sv=sanitized-value&ss=f&srt=sco&se=2025-04-15T17%3A53%3A30Z&sp=rwdxylacuptfi&sig=Sanitized",
        "x-ms-date": "Mon, 14 Apr 2025 17:53:31 GMT",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD7B7D4058E2D5\"",
        "Last-Modified": "Mon, 14 Apr 2025 17:53:23 GMT",
        "x-ms-content-crc64": "iknlm7CyG2k=",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-738b5458-fe4a-68b5-2c9a-d933e7684f71/destFolder/pik/test-file-e0887f85-c3d4-e0b5-e37f-1df4a1a13ce9?comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-language": "en-US,en-CA",
        "x-ms-content-type": "application/octet-stream",
       [...]
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-738b5458-fe4a-68b5-2c9a-d933e7684f71/destFolder/bar/test-file-17c34bd5-5136-eba2-769e-b4d68465a8b5?comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-language": "en-US,en-CA",
        "x-ms-content-type": "application/octet-stream",
       [...]
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-87d9c93c-e439-25d2-b357-fef86e235196/sourceFolder?sv=Sanitized&ss=f&srt=sco&se=2025-04-15T17%3A53%3A30Z&sp=rwdxylacuptfi&sig=Sanitized&restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://nickliuproductionacc.file.core.windows.net/\" ShareName=\"test-share-87d9c93c-e439-25d2-b357-fef86e235196\" DirectoryPath=\"sourceFolder\"><DirectoryId>13835128424026341376</DirectoryId><Entries><Directory><Name>bar</Name><FileId>10376363910205800448</FileId><Properties /></Directory><Directory><Name>pik</Name><FileId>12682206919419494400</FileId><Properties /></Directory><File><Name>test-file-7a6e639e-9d63-232b-347d-39a7ff92f985</Name><FileId>16140971433240035328</FileId><Properties><Content-Length>1024</Content-Length></Properties></File><File><Name>test-file-86d631d8-f55d-95cc-81e5-1a0aa2dbfa38</Name><FileId>11529285414812647424</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
[...]
