{
  "Entries": [
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-1646a425-6e87-3b01-e10c-49cbf79b0d1d?sv=Sanitized&ss=f&srt=sco&se=2025-01-31T01%3A06%3A48Z&sp=rwdxylacuptfi&sig=Sanitized&restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD40CA5FBA230C\"",
        "Last-Modified": "Thu, 30 Jan 2025 01:06:49 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-c6b76af0-aa90-4aa7-ee38-4b500223ee8c?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 30 Jan 2025 01:06:49 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD40CA5FC5154B\"",
        "Last-Modified": "Thu, 30 Jan 2025 01:06:49 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-1646a425-6e87-3b01-e10c-49cbf79b0d1d/sourceFolder?sv=Sanitized&ss=f&srt=sco&se=2025-01-31T01%3A06%3A48Z&sp=rwdxylacuptfi&sig=Sanitized&restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD40CA5FD42E2B\"",
        "Last-Modified": "Thu, 30 Jan 2025 01:06:49 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-01-30T01:06:49.1790891Z",
        "x-ms-file-creation-time": "2025-01-30T01:06:49.1790891Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-01-30T01:06:49.1790891Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "1597566016123626978*9146977694084461163",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-1646a425-6e87-3b01-e10c-49cbf79b0d1d/sourceFolder/test-file-c32bb241-9642-ccf3-b24a-f0f490b05fdb?sv=Sanitized&ss=f&srt=sco&se=2025-01-31T01%3A06%3A48Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-language": "en-US,en-CA",
        "x-ms-content-length": "1024",
        "x-ms-file-attributes": "None",
        "x-ms-file-change-time": "2024-04-01T13:30:03.0000000Z",
        "x-ms-file-creation-time": "2024-04-01T09:05:55.0000000Z",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-type": "file",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD40CA5FDCB86F\"",
        "Last-Modified": "Thu, 30 Jan 2025 01:06:49 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-04-01T13:30:03.0000000Z",
        "x-ms-file-creation-time": "2024-04-01T09:05:55.0000000Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "15442983316638046949*9146977694084461163",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-1646a425-6e87-3b01-e10c-49cbf79b0d1d/sourceFolder/bar?sv=Sanitized&ss=f&srt=sco&se=2025-01-31T01%3A06%3A48Z&sp=rwdxylacuptfi&sig=Sanitized&restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD40CA5FFCBEE9\"",
        "Last-Modified": "Thu, 30 Jan 2025 01:06:49 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-01-30T01:06:49.4449385Z",
        "x-ms-file-creation-time": "2025-01-30T01:06:49.4449385Z",
        "x-ms-file-id": "10376363910205800448",
        "x-ms-file-last-write-time": "2025-01-30T01:06:49.4449385Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "1597566016123626978*9146977694084461163",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-1646a425-6e87-3b01-e10c-49cbf79b0d1d/sourceFolder/bar/test-file-86c662d6-78c2-e3dc-bf4b-bc291e7516a2?sv=Sanitized&ss=f&srt=sco&se=2025-01-31T01%3A06%3A48Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-language": "en-US,en-CA",
        "x-ms-content-length": "1024[...]
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-1646a425-6e87-3b01-e10c-49cbf79b0d1d/sourceFolder/pik?sv=Sanitized&ss=f&srt=sco&se=2025-01-31T01%3A06%3A48Z&sp=rwdxylacuptfi&sig=Sanitized&restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD40CA60115563\"",
        "Last-Modified": "Thu, 30 Jan 2025 01:06:49 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-01-30T01:06:49.5798627Z",
        "x-ms-file-creation-time": "2025-01-30T01:06:49.5798627Z",
        "x-ms-file-id": "12682206919419494400",
        "x-ms-file-last-write-time": "2025-01-30T01:06:49.5798627Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "1597566016123626978*9146977694084461163",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-1646a425-6e87-3b01-e10c-49cbf79b0d1d/sourceFolder/pik/test-file-3b306abc-78b2-d3c4-457f-abc8ffdb0be3?sv=Sanitized&ss=f&srt=sco&se=2025-01-31T01%3A06%3A48Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-language": "en-US,en-CA",
        "x-ms-content-length": "1024[...]
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-c6b76af0-aa90-4aa7-ee38-4b500223ee8c/destFolder?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 30 Jan 2025 01:06:49 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD40CA6030E6C3\"",
        "Last-Modified": "Thu, 30 Jan 2025 01:06:49 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-01-30T01:06:49.7867459Z",
        "x-ms-file-creation-time": "2025-01-30T01:06:49.7867459Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-01-30T01:06:49.7867459Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "1597566016123626978*9146977694084461163",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-1646a425-6e87-3b01-e10c-49cbf79b0d1d/sourceFolder?sv=Sanitized&ss=f&srt=sco&se=2025-01-31T01%3A06%3A48Z&sp=rwdxylacuptfi&sig=Sanitized&restype=directory&comp=list&include=Attributes",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://jalauzonnettest.file.core.windows.net/\" ShareName=\"test-share-1646a425-6e87-3b01-e10c-49cbf79b0d1d\" DirectoryPath=\"sourceFolder\"><DirectoryId>13835128424026341376</DirectoryId><Entries><Directory><Name>bar</Name><FileId>10376363910205800448</FileId><Properties /><Attributes>Directory</Attributes></Directory><Directory><Name>pik</Name><FileId>12682206919419494400</FileId><Properties /><Attributes>Directory</Attributes></Directory><File><Name>test-file-381f5eae-3282-a778-d779-6f61d6fb28e6</Name><FileId>16140971433240035328</FileId><Properties><Content-Length>1024</Content-Length></Properties><Attributes>Archive</Attributes></File><File><Name>test-file-c32bb241-9642-ccf3-b24a-f0f490b05fdb</Name><FileId>11529285414812647424</FileId><Properties><Content-Length>1024</Content-Length></Properties><Attributes>Archive</Attributes></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-c6b76af0-aa90-4aa7-ee38-4b500223ee8c/destFolder/bar?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 30 Jan 2025 01:06:49 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD40CA6041D43E\"",
        "Last-Modified": "Thu, 30 Jan 2025 01:06:49 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-01-30T01:06:49.8976830Z",
        "x-ms-file-creation-time": "2025-01-30T01:06:49.8976830Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2025-01-30T01:06:49.8976830Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "1597566016123626978*9146977694084461163",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-c6b76af0-aa90-4aa7-ee38-4b500223ee8c/destFolder/pik?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 30 Jan 2025 01:06:49 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD40CA60599E8C\"",
        "Last-Modified": "Thu, 30 Jan 2025 01:06:50 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-01-30T01:06:50.0535948Z",
        "x-ms-file-creation-time": "2025-01-30T01:06:50.0535948Z",
        "x-ms-file-id": "16140971433240035328",
        "x-ms-file-last-write-time": "2025-01-30T01:06:50.0535948Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "1597566016123626978*9146977694084461163",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-1646a425-6e87-3b01-e10c-49cbf79b0d1d/sourceFolder/bar?sv=Sanitized&ss=f&srt=sco&se=2025-01-31T01%3A06%3A48Z&sp=rwdxylacuptfi&sig=Sanitized&restype=directory&comp=list&include=Attributes",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://jalauzonnettest.file.core.windows.net/\" ShareName=\"test-share-1646a425-6e87-3b01-e10c-49cbf79b0d1d\" DirectoryPath=\"sourceFolder/bar\"><DirectoryId>10376363910205800448</DirectoryId><Entries><File><Name>test-file-86c662d6-78c2-e3dc-bf4b-bc291e7516a2</Name><FileId>14988049928633188352</FileId><Properties><Content-Length>1024</Content-Length></Properties><Attributes>Archive</Attributes></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-1646a425-6e87-3b01-e10c-49cbf79b0d1d/sourceFolder/test-file-c32bb241-9642-ccf3-b24a-f0f490b05fdb?sv=Sanitized&ss=f&srt=sco&se=2025-01-31T01%3A06%3A48Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": [
          "en-US",
          "en-CA"
        ],
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD40CA5FDCB86F\"",
        "Last-Modified": "Thu, 30 Jan 2025 01:06:49 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-04-01T13:30:03.0000000Z",
        "x-ms-file-creation-time": "2024-04-01T09:05:55.0000000Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "15442983316638046949*9146977694084461163",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-1646a425-6e87-3b01-e10c-49cbf79b0d1d/sourceFolder/pik?sv=Sanitized&ss=f&srt=sco&se=2025-01-31T01%3A06%3A48Z&sp=rwdxylacuptfi&sig=Sanitized&restype=directory&comp=list&include=Attributes",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://jalauzonnettest.file.core.windows.net/\" ShareName=\"test-share-1646a425-6e87-3b01-e10c-49cbf79b0d1d\" DirectoryPath=\"sourceFolder/pik\"><DirectoryId>12682206919419494400</DirectoryId><Entries><File><Name>test-file-3b306abc-78b2-d3c4-457f-abc8ffdb0be3</Name><FileId>17293892937846882304</FileId><Properties><Content-Length>1024</Content-Length></Properties><Attributes>Archive</Attributes></File></Entries><NextMarker /></EnumerationResults>"
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-c6b76af0-aa90-4aa7-ee38-4b500223ee8c/destFolder/test-file-381f5eae-3282-a778-d779-6f61d6fb28e6",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 30 Jan 2025 01:06:50 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-c6b76af0-aa90-4aa7-ee38-4b500223ee8c/destFolder/bar/test-file-86c662d6-78c2-e3dc-bf4b-bc291e7516a2",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 30 Jan 2025 01:06:50 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-c6b76af0-aa90-4aa7-ee38-4b500223ee8c/destFolder/test-file-381f5eae-3282-a778-d779-6f61d6fb28e6",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-language": "en-US,en-CA",
        "x-ms-content-length": "1024",
        "x-ms-content-type": "application/octet-stream",
        "x-ms-date": "Thu, 30 Jan 2025 01:06:50 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-04-01T13:30:03.0000000Z",
        "x-ms-file-creation-time": "2024-04-01T09:05:55.0000000Z",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-file-permission-key": "",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-type": "file",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD40CA60764A26\"",
        "Last-Modified": "Thu, 30 Jan 2025 01:06:50 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-04-01T13:30:03.0000000Z",
        "x-ms-file-creation-time": "2024-04-01T09:05:55.0000000Z",
        "x-ms-file-id": "13835093239654252544",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "15442983316638046949*9146977694084461163",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-c6b76af0-aa90-4aa7-ee38-4b500223ee8c/destFolder/pik/test-file-3b306abc-78b2-d3c4-457f-abc8ffdb0be3",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 30 Jan 2025 01:06:50 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-c6b76af0-aa90-4aa7-ee38-4b500223ee8c/destFolder/test-file-381f5eae-3282-a778-d779-6f61d6fb28e6?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://jalauzonnettest.file.core.windows.net/test-share-1646a425-6e87-3b01-e10c-49cbf79b0d1d/sourceFolder/test-file-381f5eae-3282-a778-d779-6f61d6fb28e6?sv=sanitized-value&ss=f&srt=sco&se=2025-01-31T01%3A06%3A48Z&sp=rwdxylacuptfi&sig=Sanitized",
        "x-ms-date": "Thu, 30 Jan 2025 01:06:50 GMT",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD40CA608081DC\"",
        "Last-Modified": "Thu, 30 Jan 2025 01:06:50 GMT",
        "x-ms-content-crc64": "iknlm7CyG2k=",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-c6b76af0-aa90-4aa7-ee38-4b500223ee8c/destFolder/bar/test-file-86c662d6-78c2-e3dc-bf4b-bc291e7516a2?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://jalauzonnettest.file.core.windows.net/test-share-1646a425-6e87-3b01-e10c-49cbf79b0d1d/sourceFolder/bar/test-file-86c662d6-78c2-e3dc-bf4b-bc291e7516a2?sv=sanitized-value&ss=f&srt=sco&se=2025-01-31T01%3A06%3A48Z&sp=rwdxylacuptfi&sig=Sanitized",
        "x-ms-date": "Thu, 30 Jan 2025 01:06:50 GMT",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD40CA60864D65\"",
        "Last-Modified": "Thu, 30 Jan 2025 01:06:50 GMT",
        "x-ms-content-crc64": "iknlm7CyG2k=",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-c6b76af0-aa90-4aa7-ee38-4b500223ee8c/destFolder/test-file-381f5eae-3282-a778-d779-6f61d6fb28e6?comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-language": "en-US,en-CA",
        "x-ms-content-type": "application/octet-stream",
        "x-ms-da[...]
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-c6b76af0-aa90-4aa7-ee38-4b500223ee8c/destFolder/pik/test-file-3b306abc-78b2-d3c4-457f-abc8ffdb0be3?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://jalauzonnettest.file.core.windows.net/test-share-1646a425-6e87-3b01-e10c-49cbf79b0d1d/sourceFolder/pik/test-file-3b306abc-78b2-d3c4-457f-abc8ffdb0be3?sv=sanitized-value&ss=f&srt=sco&se=2025-01-31T01%3A06%3A48Z&sp=rwdxylacuptfi&sig=Sanitized",
        "x-ms-date": "Thu, 30 Jan 2025 01:06:50 GMT",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD40CA6089813E\"",
        "Last-Modified": "Thu, 30 Jan 2025 01:06:50 GMT",
        "x-ms-content-crc64": "iknlm7CyG2k=",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-c6b76af0-aa90-4aa7-ee38-4b500223ee8c/destFolder/bar/test-file-86c662d6-78c2-e3dc-bf4b-bc291e7516a2?comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-language": "en-US,en-CA",
        "x-ms-content-type": "application/octet-stream",
        "x-m[...]
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-c6b76af0-aa90-4aa7-ee38-4b500223ee8c/destFolder/pik/test-file-3b306abc-78b2-d3c4-457f-abc8ffdb0be3?comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-language": "en-US,en-CA",
        "x-ms-content-type": "application/octet-stream",
        "x-m[...]
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-1646a425-6e87-3b01-e10c-49cbf79b0d1d/sourceFolder?sv=Sanitized&ss=f&srt=sco&se=2025-01-31T01%3A06%3A48Z&sp=rwdxylacuptfi&sig=Sanitized&restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://jalauzonnettest.file.core.windows.net/\" ShareName=\"test-share-1646a425-6e87-3b01-e10c-49cbf79b0d1d\" DirectoryPath=\"sourceFolder\"><DirectoryId>13835128424026341376</DirectoryId><Entries><Directory><Name>bar</Name><FileId>10376363910205800448</FileId><Properties /></Directory><Directory><Name>pik</Name><FileId>12682206919419494400</FileId><Properties /></Directory><File><Name>test-file-381f5eae-3282-a778-d779-6f61d6fb28e6</Name><FileId>16140971433240035328</FileId><Properties><Content-Length>1024</Content-Length></Properties></File><File><Name>test-file-c32bb241-9642-ccf3-b24a-f0f490b05fdb</Name><FileId>11529285414812647424</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-c6b76af0-aa90-4aa7-ee38-4b500223ee8c/destFolder?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 30 Jan 2025 01:06:50 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://jalauzonnettest.file.core.windows.net/\" ShareName=\"test-share-c6b76af0-aa90-4aa7-ee38-4b500223ee8c\" DirectoryPath=\"destFolder\"><DirectoryId>13835128424026341376</DirectoryId><Entries><Directory><Name>bar</Name><FileId>11529285414812647424</FileId><Properties /></Directory><Directory><Name>pik</Name><FileId>16140971433240035328</FileId><Properties /></Directory><File><Name>test-file-381f5eae-3282-a778-d779-6f61d6fb28e6</Name><FileId>13835093239654252544</FileId><Properties><Content-Length>1024</Content-Length></Properties></File><File><Name>test-file-c32bb241-9642-ccf3-b24a-f0f490b05fdb</Name><FileId>13835163608398430208</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-1646a425-6e87-3b01-e10c-49cbf79b0d1d/sourceFolder/test-file-381f5eae-3282-a778-d779-6f61d6fb28e6?sv=Sanitized&ss=f&srt=sco&se=2025-01-31T01%3A06%3A48Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": [
          "en-US",
          "en-CA"
        ],
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD40CA5FEB3547\"",
        "Last-Modified": "Thu, 30 Jan 2025 01:06:49 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-04-01T13:30:03.0000000Z",
        "x-ms-file-creation-time": "2024-04-01T09:05:55.0000000Z",
        "x-ms-file-id": "16140971433240035328",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-file-parent-id": "138[...]
[...]
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-1646a425-6e87-3b01-e10c-49cbf79b0d1d?sv=Sanitized&ss=f&srt=sco&se=2025-01-31T01%3A06%3A48Z&sp=rwdxylacuptfi&sig=Sanitized&restype=share&comp=filepermission",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-file-permission-key": "15442983316638046949*9146977694084461163",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "eyJwZXJtaXNzaW9uIjoiTzpTWUc6U1lEOihBOztGQTs7O0JBKShBOztGQTs7O1NZKShBOzsweDEyMDBhOTs7O0JVKShBOzsweDEzMDFiZjs7O0FVKShBOztGQTs7O1NZKSIsImZvcm1hdCI6InNkZGwifQ=="
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-c6b76af0-aa90-4aa7-ee38-4b500223ee8c?restype=share&comp=filepermission",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 30 Jan 2025 01:06:51 GMT",
        "x-ms-file-permission-key": "15442983316638046949*9146977694084461163",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "eyJwZXJtaXNzaW9uIjoiTzpTWUc6U1lEOihBOztGQTs7O0JBKShBOztGQTs7O1NZKShBOzsweDEyMDBhOTs7O0JVKShBOzsweDEzMDFiZjs7O0FVKShBOztGQTs7O1NZKSIsImZvcm1hdCI6InNkZGwifQ=="
    },
[...]
    {
[...]
