{
  "Entries": [
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-497fadce-d492-fa65-1927-ed4c627a422e?sv=Sanitized&ss=f&srt=sco&se=2025-05-28T17%3A54%3A56Z&sp=rwdxylacuptfi&sig=Sanitized&restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD9D4795006474\"",
        "Last-Modified": "Tue, 27 May 2025 17:54:52 GMT",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-585bdce8-8e5a-4936-5791-b5a70b22522a?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 27 May 2025 17:54:56 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD9D4795066806\"",
        "Last-Modified": "Tue, 27 May 2025 17:54:52 GMT",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-497fadce-d492-fa65-1927-ed4c627a422e/sourceFolder?sv=Sanitized&ss=f&srt=sco&se=2025-05-28T17%3A54%3A56Z&sp=rwdxylacuptfi&sig=Sanitized&restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD9D4795095117\"",
        "Last-Modified": "Tue, 27 May 2025 17:54:52 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-05-27T17:54:52.5133079Z",
        "x-ms-file-creation-time": "2025-05-27T17:54:52.5133079Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-05-27T17:54:52.5133079Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "13252330444922611895*16083086822043778878",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-497fadce-d492-fa65-1927-ed4c627a422e/sourceFolder/test-file-84d7f1a1-6463-bc2e-a165-d2b20efa734c?sv=Sanitized&ss=f&srt=sco&se=2025-05-28T17%3A54%3A56Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-language": "en-US,en-CA",
        "x-ms-content-length": "1024",
        "x-ms-file-attributes": "None",
        "x-ms-file-change-time": "2024-04-01T13:30:03.0000000Z",
        "x-ms-file-creation-time": "2024-04-01T09:05:55.0000000Z",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-type": "file",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD9D47950F16F9\"",
        "Last-Modified": "Tue, 27 May 2025 17:54:52 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-04-01T13:30:03.0000000Z",
        "x-ms-file-creation-time": "2024-04-01T09:05:55.0000000Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "8616074386732128176*16083086822043778878",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-497fadce-d492-fa65-1927-ed4c627a422e/sourceFolder/bar?sv=Sanitized&ss=f&srt=sco&se=2025-05-28T17%3A54%3A56Z&sp=rwdxylacuptfi&sig=Sanitized&restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD9D47951A54EF\"",
        "Last-Modified": "Tue, 27 May 2025 17:54:52 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-05-27T17:54:52.6248175Z",
        "x-ms-file-creation-time": "2025-05-27T17:54:52.6248175Z",
        "x-ms-file-id": "10376363910205800448",
        "x-ms-file-last-write-time": "2025-05-27T17:54:52.6248175Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "13252330444922611895*16083086822043778878",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-497fadce-d492-fa65-1927-ed4c627a422e/sourceFolder/bar/test-file-cf3fdf76-af57-aec0-5515-bdaae34596ff?sv=Sanitized&ss=f&srt=sco&se=2025-05-28T17%3A54%3A56Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-language": "en-US,en-CA",
        "x-ms-content-length": [...]
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-497fadce-d492-fa65-1927-ed4c627a422e/sourceFolder/pik?sv=Sanitized&ss=f&srt=sco&se=2025-05-28T17%3A54%3A56Z&sp=rwdxylacuptfi&sig=Sanitized&restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD9D479524D071\"",
        "Last-Modified": "Tue, 27 May 2025 17:54:52 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-05-27T17:54:52.6935153Z",
        "x-ms-file-creation-time": "2025-05-27T17:54:52.6935153Z",
        "x-ms-file-id": "12682206919419494400",
        "x-ms-file-last-write-time": "2025-05-27T17:54:52.6935153Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "13252330444922611895*16083086822043778878",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-497fadce-d492-fa65-1927-ed4c627a422e/sourceFolder/pik/test-file-0e83e2b2-383e-f4ba-770b-6108fba5210a?sv=Sanitized&ss=f&srt=sco&se=2025-05-28T17%3A54%3A56Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-language": "en-US,en-CA",
        "x-ms-content-length": [...]
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-585bdce8-8e5a-4936-5791-b5a70b22522a/destFolder?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 27 May 2025 17:54:56 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD9D47952FE77C\"",
        "Last-Modified": "Tue, 27 May 2025 17:54:52 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-05-27T17:54:52.7661948Z",
        "x-ms-file-creation-time": "2025-05-27T17:54:52.7661948Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-05-27T17:54:52.7661948Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "13252330444922611895*16083086822043778878",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-497fadce-d492-fa65-1927-ed4c627a422e?sv=Sanitized&ss=f&srt=sco&se=2025-05-28T17%3A54%3A56Z&sp=rwdxylacuptfi&sig=Sanitized&restype=share",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD9D4795006474\"",
        "Last-Modified": "Tue, 27 May 2025 17:54:52 GMT",
        "x-ms-access-tier": "TransactionOptimized",
        "x-ms-access-tier-change-time": "Tue, 27 May 2025 17:54:52 GMT",
        "x-ms-has-immutability-policy": "false",
        "x-ms-has-legal-hold": "false",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-share-quota": "102400",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-497fadce-d492-fa65-1927-ed4c627a422e/sourceFolder?sv=Sanitized&ss=f&srt=sco&se=2025-05-28T17%3A54%3A56Z&sp=rwdxylacuptfi&sig=Sanitized&restype=directory&comp=list&include=Attributes%2CPermissionKey",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://nickliuproductionacc.file.core.windows.net/\" ShareName=\"test-share-497fadce-d492-fa65-1927-ed4c627a422e\" DirectoryPath=\"sourceFolder\"><DirectoryId>13835128424026341376</DirectoryId><Entries><Directory><Name>bar</Name><FileId>10376363910205800448</FileId><Properties /><Attributes>Directory</Attributes><PermissionKey>13252330444922611895*16083086822043778878</PermissionKey></Directory><Directory><Name>pik</Name><FileId>12682206919419494400</FileId><Properties /><Attributes>Directory</Attributes><PermissionKey>13252330444922611895*16083086822043778878</PermissionKey></Directory><File><Name>test-file-30c5dd60-eac0-1ab0-552b-8f0dee59f8d3</Name><FileId>16140971433240035328</FileId><Properties><Content-Length>1024</Content-Length></Properties><Attributes>Archive</Attributes><PermissionKey>8616074386732128176*16083086822043778878</PermissionKey></File><File><Name>test-file-84d7f1a1-6463-bc2e-a165-d2b20efa734c</Name><FileId>11529285414812647424</FileId><Properties><Content-Length>1024</Content-Length></Properties><Attributes>Archive</Attributes><PermissionKey>8616074386732128176*16083086822043778878</PermissionKey></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-497fadce-d492-fa65-1927-ed4c627a422e?sv=Sanitized&ss=f&srt=sco&se=2025-05-28T17%3A54%3A56Z&sp=rwdxylacuptfi&sig=Sanitized&restype=share&comp=filepermission",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-file-permission-key": "13252330444922611895*16083086822043778878",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": "eyJwZXJtaXNzaW9uIjoiTzpTWUc6U1lEOihBO09JQ0k7RkE7OztCQSkoQTtPSUNJO0ZBOzs7U1kpKEE7OzB4MTIwMGE5Ozs7QlUpKEE7T0lDSUlPO0dYR1I7OztCVSkoQTtPSUNJOzB4MTMwMWJmOzs7QVUpKEE7O0ZBOzs7U1kpKEE7T0lDSUlPO0dBOzs7Q08pIiwiZm9ybWF0Ijoic2RkbCJ9"
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-585bdce8-8e5a-4936-5791-b5a70b22522a?restype=share&comp=filepermission",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-date": "Tue, 27 May 2025 17:54:57 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": {
        "permission": "O:SYG:SYD:(A;OICI;FA;;;BA)(A;OICI;FA;;;SY)(A;;0x1200a9;;;BU)(A;OICIIO;GXGR;;;BU)(A;OICI;0x1301bf;;;AU)(A;;FA;;;SY)(A;OICIIO;GA;;;CO)"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "x-ms-file-permission-key": "1993229784115675527*16083086822043778878",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-497fadce-d492-fa65-1927-ed4c627a422e/sourceFolder/bar?sv=Sanitized&ss=f&srt=sco&se=2025-05-28T17%3A54%3A56Z&sp=rwdxylacuptfi&sig=Sanitized&restype=directory",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD9D47951A54EF\"",
        "Last-Modified": "Tue, 27 May 2025 17:54:52 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-05-27T17:54:52.6248175Z",
        "x-ms-file-creation-time": "2025-05-27T17:54:52.6248175Z",
        "x-ms-file-id": "10376363910205800448",
        "x-ms-file-last-write-time": "2025-05-27T17:54:52.6248175Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "13252330444922611895*16083086822043778878",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-585bdce8-8e5a-4936-5791-b5a70b22522a/destFolder/bar?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 27 May 2025 17:54:57 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-05-27T17:54:52.6248175Z",
        "x-ms-file-creation-time": "2025-05-27T17:54:52.6248175Z",
        "x-ms-file-last-write-time": "2025-05-27T17:54:52.6248175Z",
        "x-ms-file-permission-key": "1993229784115675527*16083086822043778878",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD9D47955546BD\"",
        "Last-Modified": "Tue, 27 May 2025 17:54:53 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-05-27T17:54:52.6248175Z",
        "x-ms-file-creation-time": "2025-05-27T17:54:52.6248175Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2025-05-27T17:54:52.6248175Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "13252330444922611895*16083086822043778878",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-585bdce8-8e5a-4936-5791-b5a70b22522a/destFolder/pik?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 27 May 2025 17:54:57 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-05-27T17:54:52.6935153Z",
        "x-ms-file-creation-time": "2025-05-27T17:54:52.6935153Z",
        "x-ms-file-last-write-time": "2025-05-27T17:54:52.6935153Z",
        "x-ms-file-permission-key": "1993229784115675527*16083086822043778878",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD9D47955E643E\"",
        "Last-Modified": "Tue, 27 May 2025 17:54:53 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-05-27T17:54:52.6935153Z",
        "x-ms-file-creation-time": "2025-05-27T17:54:52.6935153Z",
        "x-ms-file-id": "16140971433240035328",
        "x-ms-file-last-write-time": "2025-05-27T17:54:52.6935153Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "13252330444922611895*16083086822043778878",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-497fadce-d492-fa65-1927-ed4c627a422e/sourceFolder/bar?sv=Sanitized&ss=f&srt=sco&se=2025-05-28T17%3A54%3A56Z&sp=rwdxylacuptfi&sig=Sanitized&restype=directory&comp=list&include=Attributes%2CPermissionKey",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://nickliuproductionacc.file.core.windows.net/\" ShareName=\"test-share-497fadce-d492-fa65-1927-ed4c627a422e\" DirectoryPath=\"sourceFolder/bar\"><DirectoryId>10376363910205800448</DirectoryId><Entries><File><Name>test-file-cf3fdf76-af57-aec0-5515-bdaae34596ff</Name><FileId>14988049928633188352</FileId><Properties><Content-Length>1024</Content-Length></Properties><Attributes>Archive</Attributes><PermissionKey>8616074386732128176*16083086822043778878</PermissionKey></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-497fadce-d492-fa65-1927-ed4c627a422e/sourceFolder/pik?sv=Sanitized&ss=f&srt=sco&se=2025-05-28T17%3A54%3A56Z&sp=rwdxylacuptfi&sig=Sanitized&restype=directory&comp=list&include=Attributes%2CPermissionKey",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://nickliuproductionacc.file.core.windows.net/\" ShareName=\"test-share-497fadce-d492-fa65-1927-ed4c627a422e\" DirectoryPath=\"sourceFolder/pik\"><DirectoryId>12682206919419494400</DirectoryId><Entries><File><Name>test-file-0e83e2b2-383e-f4ba-770b-6108fba5210a</Name><FileId>17293892937846882304</FileId><Properties><Content-Length>1024</Content-Length></Properties><Attributes>Archive</Attributes><PermissionKey>8616074386732128176*16083086822043778878</PermissionKey></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-497fadce-d492-fa65-1927-ed4c627a422e/sourceFolder/test-file-30c5dd60-eac0-1ab0-552b-8f0dee59f8d3?sv=Sanitized&ss=f&srt=sco&se=2025-05-28T17%3A54%3A56Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": [
          "en-US",
          "en-CA"
        ],
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD9D4795148F15\"",
        "Last-Modified": "Tue, 27 May 2025 17:54:52 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-04-01T13:30:03.0000000Z",
        "x-ms-file-creation-time": "2024-04-01T09:05:55.0000000Z",
        "x-ms-file-id": "16140971433240035328",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "8616074386732128176*16083086822043778878",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-585bdce8-8e5a-4936-5791-b5a70b22522a/destFolder/test-file-30c5dd60-eac0-1ab0-552b-8f0dee59f8d3",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 27 May 2025 17:54:57 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-585bdce8-8e5a-4936-5791-b5a70b22522a/destFolder/bar/test-file-cf3fdf76-af57-aec0-5515-bdaae34596ff",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 27 May 2025 17:54:57 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-585bdce8-8e5a-4936-5791-b5a70b22522a/destFolder/test-file-30c5dd60-eac0-1ab0-552b-8f0dee59f8d3",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-language": "en-US,en-CA",
        "x-ms-content-length": "1024",
        "x-ms-content-type": "application/octet-stream",
        "x-ms-date": "Tue, 27 May 2025 17:54:57 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-04-01T13:30:03.0000000Z",
        "x-ms-file-creation-time": "2024-04-01T09:05:55.0000000Z",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-file-permission-key": "10059648276569620288*16083086822043778878",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-type": "file",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD9D47957A7F25\"",
        "Last-Modified": "Tue, 27 May 2025 17:54:53 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-04-01T13:30:03.0000000Z",
        "x-ms-file-creation-time": "2024-04-01T09:05:55.0000000Z",
        "x-ms-file-id": "10376363910205800448",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "8616074386732128176*16083086822043778878",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-585bdce8-8e5a-4936-5791-b5a70b22522a/destFolder/pik/test-file-0e83e2b2-383e-f4ba-770b-6108fba5210a",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 27 May 2025 17:54:57 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-585bdce8-8e5a-4936-5791-b5a70b22522a/destFolder/test-file-30c5dd60-eac0-1ab0-552b-8f0dee59f8d3?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://nickliuproductionacc.file.core.windows.net/test-share-497fadce-d492-fa65-1927-ed4c627a422e/sourceFolder/test-file-30c5dd60-eac0-1ab0-552b-8f0dee59f8d3?sv=sanitized-value&ss=f&srt=sco&se=2025-05-28T17%3A54%3A56Z&sp=rwdxylacuptfi&sig=Sanitized",
        "x-ms-date": "Tue, 27 May 2025 17:54:57 GMT",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2025-07-05",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD9D479582657A\"",
        "Last-Modified": "Tue, 27 May 2025 17:54:53 GMT",
        "x-ms-content-crc64": "iknlm7CyG2k=",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-585bdce8-8e5a-4936-5791-b5a70b22522a/destFolder/test-file-30c5dd60-eac0-1ab0-552b-8f0dee59f8d3?comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-language": "en-US,en-CA",
        "x-ms-content-type": "application/octet-stream",
        "x-[...]
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-585bdce8-8e5a-4936-5791-b5a70b22522a/destFolder/pik/test-file-0e83e2b2-383e-f4ba-770b-6108fba5210a?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://nickliuproductionacc.file.core.windows.net/test-share-497fadce-d492-fa65-1927-ed4c627a422e/sourceFolder/pik/test-file-0e83e2b2-383e-f4ba-770b-6108fba5210a?sv=sanitized-value&ss=f&srt=sco&se=2025-05-28T17%3A54%3A56Z&sp=rwdxylacuptfi&sig=Sanitized",
        "x-ms-date": "Tue, 27 May 2025 17:54:57 GMT",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2025-07-05",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD9D47958768E9\"",
        "Last-Modified": "Tue, 27 May 2025 17:54:53 GMT",
        "x-ms-content-crc64": "iknlm7CyG2k=",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-585bdce8-8e5a-4936-5791-b5a70b22522a/destFolder/bar/test-file-cf3fdf76-af57-aec0-5515-bdaae34596ff?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://nickliuproductionacc.file.core.windows.net/test-share-497fadce-d492-fa65-1927-ed4c627a422e/sourceFolder/bar/test-file-cf3fdf76-af57-aec0-5515-bdaae34596ff?sv=sanitized-value&ss=f&srt=sco&se=2025-05-28T17%3A54%3A56Z&sp=rwdxylacuptfi&sig=Sanitized",
        "x-ms-date": "Tue, 27 May 2025 17:54:57 GMT",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2025-07-05",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD9D47958768E9\"",
        "Last-Modified": "Tue, 27 May 2025 17:54:53 GMT",
        "x-ms-content-crc64": "iknlm7CyG2k=",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-585bdce8-8e5a-4936-5791-b5a70b22522a/destFolder/pik/test-file-0e83e2b2-383e-f4ba-770b-6108fba5210a?comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-language": "en-US,en-CA",
        "x-ms-content-type": "application/octet-stream",
       [...]
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-585bdce8-8e5a-4936-5791-b5a70b22522a/destFolder/bar/test-file-cf3fdf76-af57-aec0-5515-bdaae34596ff?comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-language": "en-US,en-CA",
        "x-ms-content-type": "application/octet-stream",
       [...]
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-497fadce-d492-fa65-1927-ed4c627a422e/sourceFolder?sv=Sanitized&ss=f&srt=sco&se=2025-05-28T17%3A54%3A56Z&sp=rwdxylacuptfi&sig=Sanitized&restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-07-05"
      },
[...]
