{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-1304a52b-5414-aebb-d883-337d38945f3d?sv=Sanitized&ss=f&srt=sco&se=2025-02-26T23%3A21%3A16Z&sp=rwdxylacuptfi&sig=Sanitized&restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD55F31C721470\"",
        "Last-Modified": "Tue, 25 Feb 2025 23:21:19 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-fb11b6ba-3b8b-b51c-1dc5-6e0f13643e0b?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 25 Feb 2025 23:21:16 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD55F31C7C2249\"",
        "Last-Modified": "Tue, 25 Feb 2025 23:21:19 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-1304a52b-5414-aebb-d883-337d38945f3d/sourceFolder?sv=Sanitized&ss=f&srt=sco&se=2025-02-26T23%3A21%3A16Z&sp=rwdxylacuptfi&sig=Sanitized&restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD55F31C8615D5\"",
        "Last-Modified": "Tue, 25 Feb 2025 23:21:20 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-02-25T23:21:20.0441813Z",
        "x-ms-file-creation-time": "2025-02-25T23:21:20.0441813Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-02-25T23:21:20.0441813Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "8016861625448480706*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-1304a52b-5414-aebb-d883-337d38945f3d/sourceFolder/test-file-27a9054c-a33c-1d02-bf58-9b4961af657e?sv=Sanitized&ss=f&srt=sco&se=2025-02-26T23%3A21%3A16Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-language": "en-US,en-CA",
        "x-ms-content-length": "1024",
        "x-ms-file-attributes": "None",
        "x-ms-file-change-time": "2024-04-01T13:30:03.0000000Z",
        "x-ms-file-creation-time": "2024-04-01T09:05:55.0000000Z",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-type": "file",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD55F31C8EE592\"",
        "Last-Modified": "Tue, 25 Feb 2025 23:21:20 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-04-01T13:30:03.0000000Z",
        "x-ms-file-creation-time": "2024-04-01T09:05:55.0000000Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-1304a52b-5414-aebb-d883-337d38945f3d/sourceFolder/bar?sv=Sanitized&ss=f&srt=sco&se=2025-02-26T23%3A21%3A16Z&sp=rwdxylacuptfi&sig=Sanitized&restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD55F31CA1476E\"",
        "Last-Modified": "Tue, 25 Feb 2025 23:21:20 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-02-25T23:21:20.2223982Z",
        "x-ms-file-creation-time": "2025-02-25T23:21:20.2223982Z",
        "x-ms-file-id": "10376363910205800448",
        "x-ms-file-last-write-time": "2025-02-25T23:21:20.2223982Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "8016861625448480706*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-1304a52b-5414-aebb-d883-337d38945f3d/sourceFolder/bar/test-file-cef43a6d-514c-5704-a837-e939c2bbc64c?sv=Sanitized&ss=f&srt=sco&se=2025-02-26T23%3A21%3A16Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-language": "en-US,en-CA",
        "x-ms-content-length": "1024",[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-1304a52b-5414-aebb-d883-337d38945f3d/sourceFolder/pik?sv=Sanitized&ss=f&srt=sco&se=2025-02-26T23%3A21%3A16Z&sp=rwdxylacuptfi&sig=Sanitized&restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD55F31CB3F71A\"",
        "Last-Modified": "Tue, 25 Feb 2025 23:21:20 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-02-25T23:21:20.3448602Z",
        "x-ms-file-creation-time": "2025-02-25T23:21:20.3448602Z",
        "x-ms-file-id": "12682206919419494400",
        "x-ms-file-last-write-time": "2025-02-25T23:21:20.3448602Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "8016861625448480706*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-1304a52b-5414-aebb-d883-337d38945f3d/sourceFolder/pik/test-file-c9b06853-5e86-aa44-86eb-519ec823c3db?sv=Sanitized&ss=f&srt=sco&se=2025-02-26T23%3A21%3A16Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-language": "en-US,en-CA",
        "x-ms-content-length": "1024",[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-fb11b6ba-3b8b-b51c-1dc5-6e0f13643e0b/destFolder?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 25 Feb 2025 23:21:17 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD55F31CC9FE66\"",
        "Last-Modified": "Tue, 25 Feb 2025 23:21:20 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-02-25T23:21:20.4892262Z",
        "x-ms-file-creation-time": "2025-02-25T23:21:20.4892262Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-02-25T23:21:20.4892262Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "8016861625448480706*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-1304a52b-5414-aebb-d883-337d38945f3d/sourceFolder?sv=Sanitized&ss=f&srt=sco&se=2025-02-26T23%3A21%3A16Z&sp=rwdxylacuptfi&sig=Sanitized&restype=directory&comp=list&include=Attributes",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.file.core.windows.net/\" ShareName=\"test-share-1304a52b-5414-aebb-d883-337d38945f3d\" DirectoryPath=\"sourceFolder\"><DirectoryId>13835128424026341376</DirectoryId><Entries><Directory><Name>bar</Name><FileId>10376363910205800448</FileId><Properties /><Attributes>Directory</Attributes></Directory><Directory><Name>pik</Name><FileId>12682206919419494400</FileId><Properties /><Attributes>Directory</Attributes></Directory><File><Name>test-file-27a9054c-a33c-1d02-bf58-9b4961af657e</Name><FileId>11529285414812647424</FileId><Properties><Content-Length>1024</Content-Length></Properties><Attributes>Archive</Attributes></File><File><Name>test-file-307f43e6-8338-ee6c-d1ae-3bee043f9867</Name><FileId>16140971433240035328</FileId><Properties><Content-Length>1024</Content-Length></Properties><Attributes>Archive</Attributes></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-fb11b6ba-3b8b-b51c-1dc5-6e0f13643e0b/destFolder/bar?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 25 Feb 2025 23:21:17 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD55F31CDE32FD\"",
        "Last-Modified": "Tue, 25 Feb 2025 23:21:20 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-02-25T23:21:20.6216445Z",
        "x-ms-file-creation-time": "2025-02-25T23:21:20.6216445Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2025-02-25T23:21:20.6216445Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "8016861625448480706*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-fb11b6ba-3b8b-b51c-1dc5-6e0f13643e0b/destFolder/pik?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 25 Feb 2025 23:21:17 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD55F31CE7507F\"",
        "Last-Modified": "Tue, 25 Feb 2025 23:21:20 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-02-25T23:21:20.6813823Z",
        "x-ms-file-creation-time": "2025-02-25T23:21:20.6813823Z",
        "x-ms-file-id": "16140971433240035328",
        "x-ms-file-last-write-time": "2025-02-25T23:21:20.6813823Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "8016861625448480706*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-1304a52b-5414-aebb-d883-337d38945f3d/sourceFolder/bar?sv=Sanitized&ss=f&srt=sco&se=2025-02-26T23%3A21%3A16Z&sp=rwdxylacuptfi&sig=Sanitized&restype=directory&comp=list&include=Attributes",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.file.core.windows.net/\" ShareName=\"test-share-1304a52b-5414-aebb-d883-337d38945f3d\" DirectoryPath=\"sourceFolder/bar\"><DirectoryId>10376363910205800448</DirectoryId><Entries><File><Name>test-file-cef43a6d-514c-5704-a837-e939c2bbc64c</Name><FileId>14988049928633188352</FileId><Properties><Content-Length>1024</Content-Length></Properties><Attributes>Archive</Attributes></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-1304a52b-5414-aebb-d883-337d38945f3d/sourceFolder/test-file-27a9054c-a33c-1d02-bf58-9b4961af657e?sv=Sanitized&ss=f&srt=sco&se=2025-02-26T23%3A21%3A16Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": [
          "en-US",
          "en-CA"
        ],
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD55F31C8EE592\"",
        "Last-Modified": "Tue, 25 Feb 2025 23:21:20 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-04-01T13:30:03.0000000Z",
        "x-ms-file-creation-time": "2024-04-01T09:05:55.0000000Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-1304a52b-5414-aebb-d883-337d38945f3d/sourceFolder/pik?sv=Sanitized&ss=f&srt=sco&se=2025-02-26T23%3A21%3A16Z&sp=rwdxylacuptfi&sig=Sanitized&restype=directory&comp=list&include=Attributes",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.file.core.windows.net/\" ShareName=\"test-share-1304a52b-5414-aebb-d883-337d38945f3d\" DirectoryPath=\"sourceFolder/pik\"><DirectoryId>12682206919419494400</DirectoryId><Entries><File><Name>test-file-c9b06853-5e86-aa44-86eb-519ec823c3db</Name><FileId>17293892937846882304</FileId><Properties><Content-Length>1024</Content-Length></Properties><Attributes>Archive</Attributes></File></Entries><NextMarker /></EnumerationResults>"
    },
[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-fb11b6ba-3b8b-b51c-1dc5-6e0f13643e0b/destFolder/test-file-307f43e6-8338-ee6c-d1ae-3bee043f9867",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 25 Feb 2025 23:21:17 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-fb11b6ba-3b8b-b51c-1dc5-6e0f13643e0b/destFolder/bar/test-file-cef43a6d-514c-5704-a837-e939c2bbc64c",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 25 Feb 2025 23:21:17 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-fb11b6ba-3b8b-b51c-1dc5-6e0f13643e0b/destFolder/pik/test-file-c9b06853-5e86-aa44-86eb-519ec823c3db",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 25 Feb 2025 23:21:17 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-fb11b6ba-3b8b-b51c-1dc5-6e0f13643e0b/destFolder/test-file-307f43e6-8338-ee6c-d1ae-3bee043f9867?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://amandapreprod.file.core.windows.net/test-share-1304a52b-5414-aebb-d883-337d38945f3d/sourceFolder/test-file-307f43e6-8338-ee6c-d1ae-3bee043f9867?sv=sanitized-value&ss=f&srt=sco&se=2025-02-26T23%3A21%3A16Z&sp=rwdxylacuptfi&sig=Sanitized",
        "x-ms-date": "Tue, 25 Feb 2025 23:21:17 GMT",
        "x-ms-file-last-write-time": "Now",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD55F31D19C085\"",
        "Last-Modified": "Tue, 25 Feb 2025 23:21:21 GMT",
        "x-ms-content-crc64": "iknlm7CyG2k=",
        "x-ms-file-last-write-time": "2025-02-25T23:21:21.0119301Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-fb11b6ba-3b8b-b51c-1dc5-6e0f13643e0b/destFolder/bar/test-file-cef43a6d-514c-5704-a837-e939c2bbc64c?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://amandapreprod.file.core.windows.net/test-share-1304a52b-5414-aebb-d883-337d38945f3d/sourceFolder/bar/test-file-cef43a6d-514c-5704-a837-e939c2bbc64c?sv=sanitized-value&ss=f&srt=sco&se=2025-02-26T23%3A21%3A16Z&sp=rwdxylacuptfi&sig=Sanitized",
        "x-ms-date": "Tue, 25 Feb 2025 23:21:17 GMT",
        "x-ms-file-last-write-time": "Now",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD55F31D21CDC5\"",
        "Last-Modified": "Tue, 25 Feb 2025 23:21:21 GMT",
        "x-ms-content-crc64": "iknlm7CyG2k=",
        "x-ms-file-last-write-time": "2025-02-25T23:21:21.0646981Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-fb11b6ba-3b8b-b51c-1dc5-6e0f13643e0b/destFolder/test-file-307f43e6-8338-ee6c-d1ae-3bee043f9867?comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 25 Feb 2025 23:21:17 GMT",
        "x-ms-file-change-time": "2024-04-01T13:30:03.0000000Z",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD55F31D2304E9\"",
        "Last-Modified": "Tue, 25 Feb 2025 23:21:21 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-04-01T13:30:03.0000000Z",
        "x-ms-file-creation-time": "2025-02-25T23:21:20.9402453Z",
        "x-ms-file-id": "13835093239654252544",
        "x-ms-file-last-write-time": "2025-02-25T23:21:21.0119301Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-fb11b6ba-3b8b-b51c-1dc5-6e0f13643e0b/destFolder/pik/test-file-c9b06853-5e86-aa44-86eb-519ec823c3db?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://amandapreprod.file.core.windows.net/test-share-1304a52b-5414-aebb-d883-337d38945f3d/sourceFolder/pik/test-file-c9b06853-5e86-aa44-86eb-519ec823c3db?sv=sanitized-value&ss=f&srt=sco&se=2025-02-26T23%3A21%3A16Z&sp=rwdxylacuptfi&sig=Sanitized",
        "x-ms-date": "Tue, 25 Feb 2025 23:21:17 GMT",
        "x-ms-file-last-write-time": "Now",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD55F31D29B423\"",
        "Last-Modified": "Tue, 25 Feb 2025 23:21:21 GMT",
        "x-ms-content-crc64": "iknlm7CyG2k=",
        "x-ms-file-last-write-time": "2025-02-25T23:21:21.1164707Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-fb11b6ba-3b8b-b51c-1dc5-6e0f13643e0b/destFolder/bar/test-file-cef43a6d-514c-5704-a837-e939c2bbc64c?comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 25 Feb 2025 23:21:17 GMT",
        "x-ms-file-change-time": "2024-04-01T13:30:03.0000000Z",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD55F31D2A4FB3\"",
        "Last-Modified": "Tue, 25 Feb 2025 23:21:21 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-04-01T13:30:03.0000000Z",
        "x-ms-file-creation-time": "2025-02-25T23:21:20.9930131Z",
        "x-ms-file-id": "13835075647468208128",
        "x-ms-file-last-write-time": "2025-02-25T23:21:21.0646981Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-fb11b6ba-3b8b-b51c-1dc5-6e0f13643e0b/destFolder/pik/test-file-c9b06853-5e86-aa44-86eb-519ec823c3db?comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 25 Feb 2025 23:21:17 GMT",
        "x-ms-file-change-time": "2024-04-01T13:30:03.0000000Z",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD55F31D320F33\"",
        "Last-Modified": "Tue, 25 Feb 2025 23:21:21 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-04-01T13:30:03.0000000Z",
        "x-ms-file-creation-time": "2025-02-25T23:21:21.0338336Z",
        "x-ms-file-id": "10376363910205800448",
        "x-ms-file-last-write-time": "2025-02-25T23:21:21.1164707Z",
        "x-ms-file-parent-id": "16140971433240035328",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-1304a52b-5414-aebb-d883-337d38945f3d/sourceFolder?sv=Sanitized&ss=f&srt=sco&se=2025-02-26T23%3A21%3A16Z&sp=rwdxylacuptfi&sig=Sanitized&restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.file.core.windows.net/\" ShareName=\"test-share-1304a52b-5414-aebb-d883-337d38945f3d\" DirectoryPath=\"sourceFolder\"><DirectoryId>13835128424026341376</DirectoryId><Entries><Directory><Name>bar</Name><FileId>10376363910205800448</FileId><Properties /></Directory><Directory><Name>pik</Name><FileId>12682206919419494400</FileId><Properties /></Directory><File><Name>test-file-27a9054c-a33c-1d02-bf58-9b4961af657e</Name><FileId>11529285414812647424</FileId><Properties><Content-Length>1024</Content-Length></Properties></File><File><Name>test-file-307f43e6-8338-ee6c-d1ae-3bee043f9867</Name><FileId>16140971433240035328</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-fb11b6ba-3b8b-b51c-1dc5-6e0f13643e0b/destFolder?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 25 Feb 2025 23:21:18 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.file.core.windows.net/\" ShareName=\"test-share-fb11b6ba-3b8b-b51c-1dc5-6e0f13643e0b\" DirectoryPath=\"destFolder\"><DirectoryId>13835128424026341376</DirectoryId><Entries><Directory><Name>bar</Name><FileId>11529285414812647424</FileId><Properties /></Directory><Directory><Name>pik</Name><FileId>16140971433240035328</FileId><Properties /></Directory><File><Name>test-file-27a9054c-a33c-1d02-bf58-9b4961af657e</Name><FileId>13835163608398430208</FileId><Properties><Content-Length>1024</Content-Length></Properties></File><File><Name>test-file-307f43e6-8338-ee6c-d1ae-3bee043f9867</Name><FileId>13835093239654252544</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-1304a52b-5414-aebb-d883-337d38945f3d/sourceFolder/test-file-27a9054c-a33c-1d02-bf58-9b4961af657e?sv=Sanitized&ss=f&srt=sco&se=2025-02-26T23%3A21%3A16Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": [
          "en-US",
          "en-CA"
        ],
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD55F31C8EE592\"",
        "Last-Modified": "Tue, 25 Feb 2025 23:21:20 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-04-01T13:30:03.0000000Z",
        "x-ms-file-creation-time": "2024-04-01T09:05:55.0000000Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-file-parent-id": "138[...]
[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-fb11b6ba-3b8b-b51c-1dc5-6e0f13643e0b?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 25 Feb 2025 23:21:18 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-1304a52b-5414-aebb-d883-337d38945f3d?sv=Sanitized&ss=f&srt=sco&se=2025-02-26T23%3A21%3A16Z&sp=rwdxylacuptfi&sig=Sanitized&restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2025-02-25T15:21:16.5978180-08:00",
    "RandomSeed": "722999785",
[...]
