{
  "Entries": [
    {
      "RequestUri": "https://xmfxscnbn9pe18ex.file.preprod.core.windows.net/test-share-dfbc376d-5642-f661-bccf-a7692515a14f?sv=Sanitized&ss=f&srt=sco&se=2025-05-15T20%3A07%3A56Z&sp=rwdxylacuptfi&sig=Sanitized&restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD932303192831\"",
        "Last-Modified": "Wed, 14 May 2025 20:07:54 GMT",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://xmfxscnbn9pe18ex.file.preprod.core.windows.net/test-share-c42e3054-3114-0c9b-9b06-e5bc7b6d398e?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 14 May 2025 20:07:56 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD9323031E6194\"",
        "Last-Modified": "Wed, 14 May 2025 20:07:54 GMT",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://xmfxscnbn9pe18ex.file.preprod.core.windows.net/test-share-dfbc376d-5642-f661-bccf-a7692515a14f/sourceFolder?sv=Sanitized&ss=f&srt=sco&se=2025-05-15T20%3A07%3A56Z&sp=rwdxylacuptfi&sig=Sanitized&restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD9323032FA697\"",
        "Last-Modified": "Wed, 14 May 2025 20:07:54 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-05-14T20:07:54.3071383Z",
        "x-ms-file-creation-time": "2025-05-14T20:07:54.3071383Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-05-14T20:07:54.3071383Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "1926199100249633588*8241620249767961789",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://xmfxscnbn9pe18ex.file.preprod.core.windows.net/test-share-dfbc376d-5642-f661-bccf-a7692515a14f/sourceFolder/test-file-edc7614d-30ec-dbdf-04d5-547abfe43dca?sv=Sanitized&ss=f&srt=sco&se=2025-05-15T20%3A07%3A56Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-language": "en-US,en-CA",
        "x-ms-content-length": "1024",
        "x-ms-file-attributes": "None",
        "x-ms-file-change-time": "2024-04-01T13:30:03.0000000Z",
        "x-ms-file-creation-time": "2024-04-01T09:05:55.0000000Z",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-type": "file",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD93230334D0F4\"",
        "Last-Modified": "Wed, 14 May 2025 20:07:54 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-04-01T13:30:03.0000000Z",
        "x-ms-file-creation-time": "2024-04-01T09:05:55.0000000Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "15762868840871496755*8241620249767961789",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://xmfxscnbn9pe18ex.file.preprod.core.windows.net/test-share-dfbc376d-5642-f661-bccf-a7692515a14f/sourceFolder/bar?sv=Sanitized&ss=f&srt=sco&se=2025-05-15T20%3A07%3A56Z&sp=rwdxylacuptfi&sig=Sanitized&restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD9323033D79C2\"",
        "Last-Modified": "Wed, 14 May 2025 20:07:54 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-05-14T20:07:54.3977410Z",
        "x-ms-file-creation-time": "2025-05-14T20:07:54.3977410Z",
        "x-ms-file-id": "10376363910205800448",
        "x-ms-file-last-write-time": "2025-05-14T20:07:54.3977410Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "1926199100249633588*8241620249767961789",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://xmfxscnbn9pe18ex.file.preprod.core.windows.net/test-share-dfbc376d-5642-f661-bccf-a7692515a14f/sourceFolder/bar/test-file-b00f36c5-1751-4e35-eb29-724635442bda?sv=Sanitized&ss=f&srt=sco&se=2025-05-15T20%3A07%3A56Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-language": "en-US,en-CA",
        "x-ms-content-lengt[...]
    {
      "RequestUri": "https://xmfxscnbn9pe18ex.file.preprod.core.windows.net/test-share-dfbc376d-5642-f661-bccf-a7692515a14f/sourceFolder/pik?sv=Sanitized&ss=f&srt=sco&se=2025-05-15T20%3A07%3A56Z&sp=rwdxylacuptfi&sig=Sanitized&restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD93230345FBB9\"",
        "Last-Modified": "Wed, 14 May 2025 20:07:54 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-05-14T20:07:54.4534969Z",
        "x-ms-file-creation-time": "2025-05-14T20:07:54.4534969Z",
        "x-ms-file-id": "12682206919419494400",
        "x-ms-file-last-write-time": "2025-05-14T20:07:54.4534969Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "1926199100249633588*8241620249767961789",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://xmfxscnbn9pe18ex.file.preprod.core.windows.net/test-share-dfbc376d-5642-f661-bccf-a7692515a14f/sourceFolder/pik/test-file-c6863cc9-3083-5451-4ebd-087556a22c09?sv=Sanitized&ss=f&srt=sco&se=2025-05-15T20%3A07%3A56Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-language": "en-US,en-CA",
        "x-ms-content-lengt[...]
    {
      "RequestUri": "https://xmfxscnbn9pe18ex.file.preprod.core.windows.net/test-share-c42e3054-3114-0c9b-9b06-e5bc7b6d398e/destFolder?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 14 May 2025 20:07:57 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD9323034EA48A\"",
        "Last-Modified": "Wed, 14 May 2025 20:07:54 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-05-14T20:07:54.5102474Z",
        "x-ms-file-creation-time": "2025-05-14T20:07:54.5102474Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-05-14T20:07:54.5102474Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "1926199100249633588*8241620249767961789",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://xmfxscnbn9pe18ex.file.preprod.core.windows.net/test-share-dfbc376d-5642-f661-bccf-a7692515a14f?sv=Sanitized&ss=f&srt=sco&se=2025-05-15T20%3A07%3A56Z&sp=rwdxylacuptfi&sig=Sanitized&restype=share",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD932303192831\"",
        "Last-Modified": "Wed, 14 May 2025 20:07:54 GMT",
        "x-ms-access-tier": "TransactionOptimized",
        "x-ms-access-tier-change-time": "Wed, 14 May 2025 20:07:54 GMT",
        "x-ms-enabled-protocols": "SMB",
        "x-ms-has-immutability-policy": "false",
        "x-ms-has-legal-hold": "false",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-share-quota": "102400",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://xmfxscnbn9pe18ex.file.preprod.core.windows.net/test-share-dfbc376d-5642-f661-bccf-a7692515a14f/sourceFolder?sv=Sanitized&ss=f&srt=sco&se=2025-05-15T20%3A07%3A56Z&sp=rwdxylacuptfi&sig=Sanitized&restype=directory&comp=list&include=Attributes",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://xmfxscnbn9pe18ex.file.preprod.core.windows.net/\" ShareName=\"test-share-dfbc376d-5642-f661-bccf-a7692515a14f\" DirectoryPath=\"sourceFolder\"><DirectoryId>13835128424026341376</DirectoryId><Entries><Directory><Name>bar</Name><FileId>10376363910205800448</FileId><Properties /><Attributes>Directory</Attributes></Directory><Directory><Name>pik</Name><FileId>12682206919419494400</FileId><Properties /><Attributes>Directory</Attributes></Directory><File><Name>test-file-9e87c92a-2309-0526-639d-c2f7d3b8bb92</Name><FileId>16140971433240035328</FileId><Properties><Content-Length>1024</Content-Length></Properties><Attributes>Archive</Attributes></File><File><Name>test-file-edc7614d-30ec-dbdf-04d5-547abfe43dca</Name><FileId>11529285414812647424</FileId><Properties><Content-Length>1024</Content-Length></Properties><Attributes>Archive</Attributes></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://xmfxscnbn9pe18ex.file.preprod.core.windows.net/test-share-dfbc376d-5642-f661-bccf-a7692515a14f/sourceFolder/bar?sv=Sanitized&ss=f&srt=sco&se=2025-05-15T20%3A07%3A56Z&sp=rwdxylacuptfi&sig=Sanitized&restype=directory",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD9323033D79C2\"",
        "Last-Modified": "Wed, 14 May 2025 20:07:54 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-05-14T20:07:54.3977410Z",
        "x-ms-file-creation-time": "2025-05-14T20:07:54.3977410Z",
        "x-ms-file-id": "10376363910205800448",
        "x-ms-file-last-write-time": "2025-05-14T20:07:54.3977410Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "1926199100249633588*8241620249767961789",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://xmfxscnbn9pe18ex.file.preprod.core.windows.net/test-share-c42e3054-3114-0c9b-9b06-e5bc7b6d398e/destFolder/bar?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 14 May 2025 20:07:57 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-05-14T20:07:54.3977410Z",
        "x-ms-file-creation-time": "2025-05-14T20:07:54.3977410Z",
        "x-ms-file-last-write-time": "2025-05-14T20:07:54.3977410Z",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD93230388D421\"",
        "Last-Modified": "Wed, 14 May 2025 20:07:54 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-05-14T20:07:54.3977410Z",
        "x-ms-file-creation-time": "2025-05-14T20:07:54.3977410Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2025-05-14T20:07:54.3977410Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "1926199100249633588*8241620249767961789",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://xmfxscnbn9pe18ex.file.preprod.core.windows.net/test-share-c42e3054-3114-0c9b-9b06-e5bc7b6d398e/destFolder/pik?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 14 May 2025 20:07:57 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-05-14T20:07:54.4534969Z",
        "x-ms-file-creation-time": "2025-05-14T20:07:54.4534969Z",
        "x-ms-file-last-write-time": "2025-05-14T20:07:54.4534969Z",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD932303906CBC\"",
        "Last-Modified": "Wed, 14 May 2025 20:07:54 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-05-14T20:07:54.4534969Z",
        "x-ms-file-creation-time": "2025-05-14T20:07:54.4534969Z",
        "x-ms-file-id": "16140971433240035328",
        "x-ms-file-last-write-time": "2025-05-14T20:07:54.4534969Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "1926199100249633588*8241620249767961789",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://xmfxscnbn9pe18ex.file.preprod.core.windows.net/test-share-dfbc376d-5642-f661-bccf-a7692515a14f/sourceFolder/bar?sv=Sanitized&ss=f&srt=sco&se=2025-05-15T20%3A07%3A56Z&sp=rwdxylacuptfi&sig=Sanitized&restype=directory&comp=list&include=Attributes",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://xmfxscnbn9pe18ex.file.preprod.core.windows.net/\" ShareName=\"test-share-dfbc376d-5642-f661-bccf-a7692515a14f\" DirectoryPath=\"sourceFolder/bar\"><DirectoryId>10376363910205800448</DirectoryId><Entries><File><Name>test-file-b00f36c5-1751-4e35-eb29-724635442bda</Name><FileId>14988049928633188352</FileId><Properties><Content-Length>1024</Content-Length></Properties><Attributes>Archive</Attributes></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://xmfxscnbn9pe18ex.file.preprod.core.windows.net/test-share-dfbc376d-5642-f661-bccf-a7692515a14f/sourceFolder/pik?sv=Sanitized&ss=f&srt=sco&se=2025-05-15T20%3A07%3A56Z&sp=rwdxylacuptfi&sig=Sanitized&restype=directory&comp=list&include=Attributes",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://xmfxscnbn9pe18ex.file.preprod.core.windows.net/\" ShareName=\"test-share-dfbc376d-5642-f661-bccf-a7692515a14f\" DirectoryPath=\"sourceFolder/pik\"><DirectoryId>12682206919419494400</DirectoryId><Entries><File><Name>test-file-c6863cc9-3083-5451-4ebd-087556a22c09</Name><FileId>17293892937846882304</FileId><Properties><Content-Length>1024</Content-Length></Properties><Attributes>Archive</Attributes></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://xmfxscnbn9pe18ex.file.preprod.core.windows.net/test-share-dfbc376d-5642-f661-bccf-a7692515a14f/sourceFolder/test-file-edc7614d-30ec-dbdf-04d5-547abfe43dca?sv=Sanitized&ss=f&srt=sco&se=2025-05-15T20%3A07%3A56Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": [
          "en-US",
          "en-CA"
        ],
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD93230334D0F4\"",
        "Last-Modified": "Wed, 14 May 2025 20:07:54 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-04-01T13:30:03.0000000Z",
        "x-ms-file-creation-time": "2024-04-01T09:05:55.0000000Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "15762868840871496755*8241620249767961789",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://xmfxscnbn9pe18ex.file.preprod.core.windows.net/test-share-c42e3054-3114-0c9b-9b06-e5bc7b6d398e/destFolder/test-file-edc7614d-30ec-dbdf-04d5-547abfe43dca",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 14 May 2025 20:07:57 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://xmfxscnbn9pe18ex.file.preprod.core.windows.net/test-share-c42e3054-3114-0c9b-9b06-e5bc7b6d398e/destFolder/bar/test-file-b00f36c5-1751-4e35-eb29-724635442bda",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 14 May 2025 20:07:57 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://xmfxscnbn9pe18ex.file.preprod.core.windows.net/test-share-c42e3054-3114-0c9b-9b06-e5bc7b6d398e/destFolder/test-file-edc7614d-30ec-dbdf-04d5-547abfe43dca",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-language": "en-US,en-CA",
        "x-ms-content-length": "1024",
        "x-ms-content-type": "application/octet-stream",
        "x-ms-date": "Wed, 14 May 2025 20:07:57 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-04-01T13:30:03.0000000Z",
        "x-ms-file-creation-time": "2024-04-01T09:05:55.0000000Z",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-type": "file",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD932303A95700\"",
        "Last-Modified": "Wed, 14 May 2025 20:07:55 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-04-01T13:30:03.0000000Z",
        "x-ms-file-creation-time": "2024-04-01T09:05:55.0000000Z",
        "x-ms-file-id": "13835093239654252544",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "15762868840871496755*8241620249767961789",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://xmfxscnbn9pe18ex.file.preprod.core.windows.net/test-share-c42e3054-3114-0c9b-9b06-e5bc7b6d398e/destFolder/pik/test-file-c6863cc9-3083-5451-4ebd-087556a22c09",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 14 May 2025 20:07:57 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://xmfxscnbn9pe18ex.file.preprod.core.windows.net/test-share-c42e3054-3114-0c9b-9b06-e5bc7b6d398e/destFolder/test-file-9e87c92a-2309-0526-639d-c2f7d3b8bb92?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://xmfxscnbn9pe18ex.file.preprod.core.windows.net/test-share-dfbc376d-5642-f661-bccf-a7692515a14f/sourceFolder/test-file-9e87c92a-2309-0526-639d-c2f7d3b8bb92?sv=sanitized-value&ss=f&srt=sco&se=2025-05-15T20%3A07%3A56Z&sp=rwdxylacuptfi&sig=Sanitized",
        "x-ms-date": "Wed, 14 May 2025 20:07:57 GMT",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2025-07-05",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD932303B0063F\"",
        "Last-Modified": "Wed, 14 May 2025 20:07:55 GMT",
        "x-ms-content-crc64": "iknlm7CyG2k=",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://xmfxscnbn9pe18ex.file.preprod.core.windows.net/test-share-c42e3054-3114-0c9b-9b06-e5bc7b6d398e/destFolder/bar/test-file-b00f36c5-1751-4e35-eb29-724635442bda?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://xmfxscnbn9pe18ex.file.preprod.core.windows.net/test-share-dfbc376d-5642-f661-bccf-a7692515a14f/sourceFolder/bar/test-file-b00f36c5-1751-4e35-eb29-724635442bda?sv=sanitized-value&ss=f&srt=sco&se=2025-05-15T20%3A07%3A56Z&sp=rwdxylacuptfi&sig=Sanitized",
        "x-ms-date": "Wed, 14 May 2025 20:07:57 GMT",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2025-07-05",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD932303B1D8F3\"",
        "Last-Modified": "Wed, 14 May 2025 20:07:55 GMT",
        "x-ms-content-crc64": "iknlm7CyG2k=",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://xmfxscnbn9pe18ex.file.preprod.core.windows.net/test-share-c42e3054-3114-0c9b-9b06-e5bc7b6d398e/destFolder/test-file-9e87c92a-2309-0526-639d-c2f7d3b8bb92?comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-language": "en-US,en-CA",
        "x-ms-content-type": "application/octet-stream",
       [...]
    {
      "RequestUri": "https://xmfxscnbn9pe18ex.file.preprod.core.windows.net/test-share-c42e3054-3114-0c9b-9b06-e5bc7b6d398e/destFolder/pik/test-file-c6863cc9-3083-5451-4ebd-087556a22c09?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://xmfxscnbn9pe18ex.file.preprod.core.windows.net/test-share-dfbc376d-5642-f661-bccf-a7692515a14f/sourceFolder/pik/test-file-c6863cc9-3083-5451-4ebd-087556a22c09?sv=sanitized-value&ss=f&srt=sco&se=2025-05-15T20%3A07%3A56Z&sp=rwdxylacuptfi&sig=Sanitized",
        "x-ms-date": "Wed, 14 May 2025 20:07:57 GMT",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2025-07-05",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD932303B53094\"",
        "Last-Modified": "Wed, 14 May 2025 20:07:55 GMT",
        "x-ms-content-crc64": "iknlm7CyG2k=",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://xmfxscnbn9pe18ex.file.preprod.core.windows.net/test-share-c42e3054-3114-0c9b-9b06-e5bc7b6d398e/destFolder/bar/test-file-b00f36c5-1751-4e35-eb29-724635442bda?comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-language": "en-US,en-CA",
        "x-ms-content-type": "application/octet-stream",
   [...]
[...]
    {
      "RequestUri": "https://xmfxscnbn9pe18ex.file.preprod.core.windows.net/test-share-c42e3054-3114-0c9b-9b06-e5bc7b6d398e/destFolder/pik/test-file-c6863cc9-3083-5451-4ebd-087556a22c09?comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-language": "en-US,en-CA",
        "x-ms-content-type": "application/octet-stream",
   [...]
    {
      "RequestUri": "https://xmfxscnbn9pe18ex.file.preprod.core.windows.net/test-share-dfbc376d-5642-f661-bccf-a7692515a14f/sourceFolder?sv=Sanitized&ss=f&srt=sco&se=2025-05-15T20%3A07%3A56Z&sp=rwdxylacuptfi&sig=Sanitized&restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://xmfxscnbn9pe18ex.file.preprod.core.windows.net/\" ShareName=\"test-share-dfbc376d-5642-f661-bccf-a7692515a14f\" DirectoryPath=\"sourceFolder\"><DirectoryId>13835128424026341376</DirectoryId><Entries><Directory><Name>bar</Name><FileId>10376363910205800448</FileId><Properties /></Directory><Directory><Name>pik</Name><FileId>12682206919419494400</FileId><Properties /></Directory><File><Name>test-file-9e87c92a-2309-0526-639d-c2f7d3b8bb92</Name><FileId>16140971433240035328</FileId><Properties><Content-Length>1024</Content-Length></Properties></File><File><Name>test-file-edc7614d-30ec-dbdf-04d5-547abfe43dca</Name><FileId>11529285414812647424</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://xmfxscnbn9pe18ex.file.preprod.core.windows.net/test-share-c42e3054-3114-0c9b-9b06-e5bc7b6d398e/destFolder?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 14 May 2025 20:07:58 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-07-05"
      },
[...]
