{
  "Entries": [
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-dfa0c004-9d43-4d56-0abc-f40a67134507?sv=Sanitized&ss=f&srt=sco&se=2025-08-13T19%3A50%3A18Z&sp=rwdxylacuptfi&sig=Sanitized&restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDD9D974496733\"",
        "Last-Modified": "Tue, 12 Aug 2025 19:50:13 GMT",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-8dee2868-a451-f073-db5f-7b23807d2b4c?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 12 Aug 2025 19:50:18 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDD9D9744F5D6F\"",
        "Last-Modified": "Tue, 12 Aug 2025 19:50:13 GMT",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-dfa0c004-9d43-4d56-0abc-f40a67134507/source%3Dpath%40%23%25?sv=Sanitized&ss=f&srt=sco&se=2025-08-13T19%3A50%3A18Z&sp=rwdxylacuptfi&sig=Sanitized&restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDD9D97456488E\"",
        "Last-Modified": "Tue, 12 Aug 2025 19:50:13 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-08-12T19:50:13.9420814Z",
        "x-ms-file-creation-time": "2025-08-12T19:50:13.9420814Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-08-12T19:50:13.9420814Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "13252330444922611895*16083086822043778878",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-8dee2868-a451-f073-db5f-7b23807d2b4c/source%3Dpath%40%23%25?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 12 Aug 2025 19:50:18 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDD9D9745C3549\"",
        "Last-Modified": "Tue, 12 Aug 2025 19:50:13 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-08-12T19:50:13.9809097Z",
        "x-ms-file-creation-time": "2025-08-12T19:50:13.9809097Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-08-12T19:50:13.9809097Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "13252330444922611895*16083086822043778878",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-dfa0c004-9d43-4d56-0abc-f40a67134507/source%3Dpath%40%23%25/file%3Dtest%21%40%23%24%25?sv=Sanitized&ss=f&srt=sco&se=2025-08-13T19%3A50%3A18Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-language": "en-US,en-CA",
        "x-ms-content-length": "1024",
        "x-ms-file-attributes": "None",
        "x-ms-file-change-time": "2024-04-01T13:30:03.0000000Z",
        "x-ms-file-creation-time": "2024-04-01T09:05:55.0000000Z",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-type": "file",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDD9D974604F5C\"",
        "Last-Modified": "Tue, 12 Aug 2025 19:50:14 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-04-01T13:30:03.0000000Z",
        "x-ms-file-creation-time": "2024-04-01T09:05:55.0000000Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "8616074386732128176*16083086822043778878",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-dfa0c004-9d43-4d56-0abc-f40a67134507/source%3Dpath%40%23%25/file%253Dtest%2526?sv=Sanitized&ss=f&srt=sco&se=2025-08-13T19%3A50%3A18Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-language": "en-US,en-CA",
        "x-ms-content-length": "1024",
        "x-ms-[...]
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-dfa0c004-9d43-4d56-0abc-f40a67134507/source%3Dpath%40%23%25/folder%3Dbar?sv=Sanitized&ss=f&srt=sco&se=2025-08-13T19%3A50%3A18Z&sp=rwdxylacuptfi&sig=Sanitized&restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDD9D9746945F7\"",
        "Last-Modified": "Tue, 12 Aug 2025 19:50:14 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-08-12T19:50:14.0665335Z",
        "x-ms-file-creation-time": "2025-08-12T19:50:14.0665335Z",
        "x-ms-file-id": "10376363910205800448",
        "x-ms-file-last-write-time": "2025-08-12T19:50:14.0665335Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "13252330444922611895*16083086822043778878",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-dfa0c004-9d43-4d56-0abc-f40a67134507/source%3Dpath%40%23%25/folder%3Dbar/subfile%3Dtest%21%40%23%24%25?sv=Sanitized&ss=f&srt=sco&se=2025-08-13T19%3A50%3A18Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-language": "en-US,en-CA",
        "x-ms-content-length"[...]
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-dfa0c004-9d43-4d56-0abc-f40a67134507/source%3Dpath%40%23%25/folder%3Dbar/subfile%253Dtest%2526?sv=Sanitized&ss=f&srt=sco&se=2025-08-13T19%3A50%3A18Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-language": "en-US,en-CA",
        "x-ms-content-length": "1024"[...]
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-dfa0c004-9d43-4d56-0abc-f40a67134507/source%3Dpath%40%23%25/space%20folder?sv=Sanitized&ss=f&srt=sco&se=2025-08-13T19%3A50%3A18Z&sp=rwdxylacuptfi&sig=Sanitized&restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDD9D97476CB5B\"",
        "Last-Modified": "Tue, 12 Aug 2025 19:50:14 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-08-12T19:50:14.1551451Z",
        "x-ms-file-creation-time": "2025-08-12T19:50:14.1551451Z",
        "x-ms-file-id": "17293892937846882304",
        "x-ms-file-last-write-time": "2025-08-12T19:50:14.1551451Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "13252330444922611895*16083086822043778878",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-dfa0c004-9d43-4d56-0abc-f40a67134507?sv=Sanitized&ss=f&srt=sco&se=2025-08-13T19%3A50%3A18Z&sp=rwdxylacuptfi&sig=Sanitized&restype=share",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DDD9D974496733\"",
        "Last-Modified": "Tue, 12 Aug 2025 19:50:13 GMT",
        "x-ms-access-tier": "TransactionOptimized",
        "x-ms-access-tier-change-time": "Tue, 12 Aug 2025 19:50:13 GMT",
        "x-ms-has-immutability-policy": "false",
        "x-ms-has-legal-hold": "false",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-share-quota": "102400",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-dfa0c004-9d43-4d56-0abc-f40a67134507/source%3Dpath%40%23%25?sv=Sanitized&ss=f&srt=sco&se=2025-08-13T19%3A50%3A18Z&sp=rwdxylacuptfi&sig=Sanitized&restype=directory&comp=list&include=Attributes",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://nickliuproductionacc.file.core.windows.net/\" ShareName=\"test-share-dfa0c004-9d43-4d56-0abc-f40a67134507\" DirectoryPath=\"source=path@#%\"><DirectoryId>13835128424026341376</DirectoryId><Entries><File><Name>file%3Dtest%26</Name><FileId>16140971433240035328</FileId><Properties><Content-Length>1024</Content-Length></Properties><Attributes>Archive</Attributes></File><File><Name>file=test!@#$%</Name><FileId>11529285414812647424</FileId><Properties><Content-Length>1024</Content-Length></Properties><Attributes>Archive</Attributes></File><Directory><Name>folder=bar</Name><FileId>10376363910205800448</FileId><Properties /><Attributes>Directory</Attributes></Directory><Directory><Name>space folder</Name><FileId>17293892937846882304</FileId><Properties /><Attributes>Directory</Attributes></Directory></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-dfa0c004-9d43-4d56-0abc-f40a67134507/source%3Dpath%40%23%25/folder%3Dbar?sv=Sanitized&ss=f&srt=sco&se=2025-08-13T19%3A50%3A18Z&sp=rwdxylacuptfi&sig=Sanitized&restype=directory",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DDD9D9746945F7\"",
        "Last-Modified": "Tue, 12 Aug 2025 19:50:14 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-08-12T19:50:14.0665335Z",
        "x-ms-file-creation-time": "2025-08-12T19:50:14.0665335Z",
        "x-ms-file-id": "10376363910205800448",
        "x-ms-file-last-write-time": "2025-08-12T19:50:14.0665335Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "13252330444922611895*16083086822043778878",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-8dee2868-a451-f073-db5f-7b23807d2b4c/source%3Dpath%40%23%25/folder%3Dbar?restype=directory",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 12 Aug 2025 19:50:18 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ResourceNotFound</Code><Message>The specified resource does not exist.\n",
        "RequestId:20cf6726-d01a-000a-34c2-0b1e6d000000\n",
        "Time:2025-08-12T19:50:14.2819649Z</Message></Error>"
      ]
    },
[...]
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-8dee2868-a451-f073-db5f-7b23807d2b4c/source%3Dpath%40%23%25/space%20folder?restype=directory",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 12 Aug 2025 19:50:18 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ResourceNotFound</Code><Message>The specified resource does not exist.\n",
        "RequestId:20cf6729-d01a-000a-37c2-0b1e6d000000\n",
        "Time:2025-08-12T19:50:14.3415472Z</Message></Error>"
      ]
    },
[...]
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-dfa0c004-9d43-4d56-0abc-f40a67134507/source%3Dpath%40%23%25/folder%3Dbar?sv=Sanitized&ss=f&srt=sco&se=2025-08-13T19%3A50%3A18Z&sp=rwdxylacuptfi&sig=Sanitized&restype=directory&comp=list&include=Attributes",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://nickliuproductionacc.file.core.windows.net/\" ShareName=\"test-share-dfa0c004-9d43-4d56-0abc-f40a67134507\" DirectoryPath=\"source=path@#%/folder=bar\"><DirectoryId>10376363910205800448</DirectoryId><Entries><File><Name>subfile%3Dtest%26</Name><FileId>12682206919419494400</FileId><Properties><Content-Length>1024</Content-Length></Properties><Attributes>Archive</Attributes></File><File><Name>subfile=test!@#$%</Name><FileId>14988049928633188352</FileId><Properties><Content-Length>1024</Content-Length></Properties><Attributes>Archive</Attributes></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-dfa0c004-9d43-4d56-0abc-f40a67134507/source%3Dpath%40%23%25/file%253Dtest%2526?sv=Sanitized&ss=f&srt=sco&se=2025-08-13T19%3A50%3A18Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": [
          "en-US",
          "en-CA"
        ],
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DDD9D97464B738\"",
        "Last-Modified": "Tue, 12 Aug 2025 19:50:14 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-04-01T13:30:03.0000000Z",
        "x-ms-file-creation-time": "2024-04-01T09:05:55.0000000Z",
        "x-ms-file-id": "16140971433240035328",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "8616074386732128176*16083086822043778878",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-dfa0c004-9d43-4d56-0abc-f40a67134507/source%3Dpath%40%23%25/space%20folder?sv=Sanitized&ss=f&srt=sco&se=2025-08-13T19%3A50%3A18Z&sp=rwdxylacuptfi&sig=Sanitized&restype=directory&comp=list&include=Attributes",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://nickliuproductionacc.file.core.windows.net/\" ShareName=\"test-share-dfa0c004-9d43-4d56-0abc-f40a67134507\" DirectoryPath=\"source=path@#%/space folder\"><DirectoryId>17293892937846882304</DirectoryId><Entries /><NextMarker /></EnumerationResults>"
    },
[...]
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-8dee2868-a451-f073-db5f-7b23807d2b4c/source%3Dpath%40%23%25/file%253Dtest%2526",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 12 Aug 2025 19:50:18 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-8dee2868-a451-f073-db5f-7b23807d2b4c/source%3Dpath%40%23%25/file%3Dtest%21%40%23%24%25",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 12 Aug 2025 19:50:18 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-8dee2868-a451-f073-db5f-7b23807d2b4c/source%3Dpath%40%23%25/folder%3Dbar/subfile%3Dtest%21%40%23%24%25",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 12 Aug 2025 19:50:18 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-8dee2868-a451-f073-db5f-7b23807d2b4c/source%3Dpath%40%23%25/folder%3Dbar/subfile%253Dtest%2526",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 12 Aug 2025 19:50:18 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-8dee2868-a451-f073-db5f-7b23807d2b4c/source%3Dpath%40%23%25/file%253Dtest%2526",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-language": "en-US,en-CA",
        "x-ms-content-length": "1024",
        "x-ms-content-type": "application/octet-stream",
        "x-ms-date": "Tue, 12 Aug 2025 19:50:18 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-04-01T13:30:03.0000000Z",
        "x-ms-file-creation-time": "2024-04-01T09:05:55.0000000Z",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-type": "file",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDD9D974A6CD23\"",
        "Last-Modified": "Tue, 12 Aug 2025 19:50:14 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-04-01T13:30:03.0000000Z",
        "x-ms-file-creation-time": "2024-04-01T09:05:55.0000000Z",
        "x-ms-file-id": "10376363910205800448",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "8616074386732128176*16083086822043778878",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-8dee2868-a451-f073-db5f-7b23807d2b4c/source%3Dpath%40%23%25/file%253Dtest%2526?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://nickliuproductionacc.file.core.windows.net/test-share-dfa0c004-9d43-4d56-0abc-f40a67134507/source%3Dpath%40%23%25/file%253Dtest%2526?sv=sanitized-value&ss=f&srt=sco&se=2025-08-13T19%3A50%3A18Z&sp=rwdxylacuptfi&sig=Sanitized",
        "x-ms-date": "Tue, 12 Aug 2025 19:50:18 GMT",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2025-11-05",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDD9D974AD07AD\"",
        "Last-Modified": "Tue, 12 Aug 2025 19:50:14 GMT",
        "x-ms-content-crc64": "iknlm7CyG2k=",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-8dee2868-a451-f073-db5f-7b23807d2b4c/source%3Dpath%40%23%25/file%3Dtest%21%40%23%24%25?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://nickliuproductionacc.file.core.windows.net/test-share-dfa0c004-9d43-4d56-0abc-f40a67134507/source%3Dpath%40%23%25/file%3Dtest%21%40%23%24%25?sv=sanitized-value&ss=f&srt=sco&se=2025-08-13T19%3A50%3A18Z&sp=rwdxylacuptfi&sig=Sanitized",
        "x-ms-date": "Tue, 12 Aug 2025 19:50:18 GMT",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2025-11-05",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDD9D974AE8C9A\"",
        "Last-Modified": "Tue, 12 Aug 2025 19:50:14 GMT",
        "x-ms-content-crc64": "iknlm7CyG2k=",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-8dee2868-a451-f073-db5f-7b23807d2b4c/source%3Dpath%40%23%25/folder%3Dbar/subfile%3Dtest%21%40%23%24%25?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://nickliuproductionacc.file.core.windows.net/test-share-dfa0c004-9d43-4d56-0abc-f40a67134507/source%3Dpath%40%23%25/folder%3Dbar/subfile%3Dtest%21%40%23%24%25?sv=sanitized-value&ss=f&srt=sco&se=2025-08-13T19%3A50%3A18Z&sp=rwdxylacuptfi&sig=Sanitized",
        "x-ms-date": "Tue, 12 Aug 2025 19:50:18 GMT",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2025-11-05",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDD9D974AFEAA1\"",
        "Last-Modified": "Tue, 12 Aug 2025 19:50:14 GMT",
        "x-ms-content-crc64": "iknlm7CyG2k=",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-8dee2868-a451-f073-db5f-7b23807d2b4c/source%3Dpath%40%23%25/folder%3Dbar/subfile%253Dtest%2526?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://nickliuproductionacc.file.core.windows.net/test-share-dfa0c004-9d43-4d56-0abc-f40a67134507/source%3Dpath%40%23%25/folder%3Dbar/subfile%253Dtest%2526?sv=sanitized-value&ss=f&srt=sco&se=2025-08-13T19%3A50%3A18Z&sp=rwdxylacuptfi&sig=Sanitized",
        "x-ms-date": "Tue, 12 Aug 2025 19:50:18 GMT",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2025-11-05",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDD9D974B0FAE1\"",
        "Last-Modified": "Tue, 12 Aug 2025 19:50:14 GMT",
        "x-ms-content-crc64": "iknlm7CyG2k=",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-8dee2868-a451-f073-db5f-7b23807d2b4c/source%3Dpath%40%23%25/file%253Dtest%2526?comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-language": "en-US,en-CA",
        "x-ms-content-type": "application/octet-stream",
        "x-ms-date": "Tue, [...]
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-8dee2868-a451-f073-db5f-7b23807d2b4c/source%3Dpath%40%23%25/folder%3Dbar/subfile%3Dtest%21%40%23%24%25?comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-language": "en-US,en-CA",
        "x-ms-content-type": "application/octet-stream",
   [...]
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-8dee2868-a451-f073-db5f-7b23807d2b4c/source%3Dpath%40%23%25/file%3Dtest%21%40%23%24%25?comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-language": "en-US,en-CA",
        "x-ms-content-type": "application/octet-stream",
        "x-ms-date"[...]
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-8dee2868-a451-f073-db5f-7b23807d2b4c/source%3Dpath%40%23%25/folder%3Dbar/subfile%253Dtest%2526?comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-language": "en-US,en-CA",
        "x-ms-content-type": "application/octet-stream",
        "x-[...]
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-dfa0c004-9d43-4d56-0abc-f40a67134507/source%3Dpath%40%23%25?sv=Sanitized&ss=f&srt=sco&se=2025-08-13T19%3A50%3A18Z&sp=rwdxylacuptfi&sig=Sanitized&restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-11-05"
      },
[...]
