{
  "Entries": [
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-02e4347c-fc66-023f-6c9c-507f027b59c3?sv=Sanitized&ss=f&srt=sco&se=2025-05-28T17%3A55%3A26Z&sp=rwdxylacuptfi&sig=Sanitized&restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD9D47A6F7B7A5\"",
        "Last-Modified": "Tue, 27 May 2025 17:55:22 GMT",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-a77541ab-3958-e181-6b26-f0c802582d18?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 27 May 2025 17:55:26 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD9D47A6FDCC72\"",
        "Last-Modified": "Tue, 27 May 2025 17:55:22 GMT",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-02e4347c-fc66-023f-6c9c-507f027b59c3/sourceFolder?sv=Sanitized&ss=f&srt=sco&se=2025-05-28T17%3A55%3A26Z&sp=rwdxylacuptfi&sig=Sanitized&restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD9D47A7038DC8\"",
        "Last-Modified": "Tue, 27 May 2025 17:55:22 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-05-27T17:55:22.6745288Z",
        "x-ms-file-creation-time": "2025-05-27T17:55:22.6745288Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-05-27T17:55:22.6745288Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "13252330444922611895*16083086822043778878",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-02e4347c-fc66-023f-6c9c-507f027b59c3/sourceFolder/foo?sv=Sanitized&ss=f&srt=sco&se=2025-05-28T17%3A55%3A26Z&sp=rwdxylacuptfi&sig=Sanitized&restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD9D47A708DF02\"",
        "Last-Modified": "Tue, 27 May 2025 17:55:22 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-05-27T17:55:22.7093762Z",
        "x-ms-file-creation-time": "2025-05-27T17:55:22.7093762Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2025-05-27T17:55:22.7093762Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "13252330444922611895*16083086822043778878",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-02e4347c-fc66-023f-6c9c-507f027b59c3/sourceFolder/foo/test-file-d2014e05-d1f8-a323-4e58-8f9be53d0c35?sv=Sanitized&ss=f&srt=sco&se=2025-05-28T17%3A55%3A26Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-language": "en-US,en-CA",
        "x-ms-content-length": "1024",
        "x-ms-file-attributes": "None",
        "x-ms-file-change-time": "2024-04-01T13:30:03.0000000Z",
        "x-ms-file-creation-time": "2024-04-01T09:05:55.0000000Z",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-type": "file",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD9D47A70E5710\"",
        "Last-Modified": "Tue, 27 May 2025 17:55:22 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-04-01T13:30:03.0000000Z",
        "x-ms-file-creation-time": "2024-04-01T09:05:55.0000000Z",
        "x-ms-file-id": "16140971433240035328",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "8616074386732128176*16083086822043778878",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-02e4347c-fc66-023f-6c9c-507f027b59c3/sourceFolder/rul?sv=Sanitized&ss=f&srt=sco&se=2025-05-28T17%3A55%3A26Z&sp=rwdxylacuptfi&sig=Sanitized&restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD9D47A7141CF4\"",
        "Last-Modified": "Tue, 27 May 2025 17:55:22 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-05-27T17:55:22.7830516Z",
        "x-ms-file-creation-time": "2025-05-27T17:55:22.7830516Z",
        "x-ms-file-id": "10376363910205800448",
        "x-ms-file-last-write-time": "2025-05-27T17:55:22.7830516Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "13252330444922611895*16083086822043778878",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-02e4347c-fc66-023f-6c9c-507f027b59c3/sourceFolder/rul/test-file-41e940a8-91ee-f1bf-3555-747047ea3e19?sv=Sanitized&ss=f&srt=sco&se=2025-05-28T17%3A55%3A26Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-language": "en-US,en-CA",
        "x-ms-content-length": [...]
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-02e4347c-fc66-023f-6c9c-507f027b59c3/sourceFolder/pik?sv=Sanitized&ss=f&srt=sco&se=2025-05-28T17%3A55%3A26Z&sp=rwdxylacuptfi&sig=Sanitized&restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD9D47A71F5AE7\"",
        "Last-Modified": "Tue, 27 May 2025 17:55:22 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-05-27T17:55:22.8567271Z",
        "x-ms-file-creation-time": "2025-05-27T17:55:22.8567271Z",
        "x-ms-file-id": "12682206919419494400",
        "x-ms-file-last-write-time": "2025-05-27T17:55:22.8567271Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "13252330444922611895*16083086822043778878",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-02e4347c-fc66-023f-6c9c-507f027b59c3/sourceFolder/pik/test-file-e53c3217-f5ff-9354-af1c-c73cba6d050c?sv=Sanitized&ss=f&srt=sco&se=2025-05-28T17%3A55%3A26Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-language": "en-US,en-CA",
        "x-ms-content-length": [...]
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-a77541ab-3958-e181-6b26-f0c802582d18/destFolder?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 27 May 2025 17:55:27 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD9D47A72A2435\"",
        "Last-Modified": "Tue, 27 May 2025 17:55:22 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-05-27T17:55:22.9274165Z",
        "x-ms-file-creation-time": "2025-05-27T17:55:22.9274165Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-05-27T17:55:22.9274165Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "13252330444922611895*16083086822043778878",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-02e4347c-fc66-023f-6c9c-507f027b59c3?sv=Sanitized&ss=f&srt=sco&se=2025-05-28T17%3A55%3A26Z&sp=rwdxylacuptfi&sig=Sanitized&restype=share",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD9D47A6F7B7A5\"",
        "Last-Modified": "Tue, 27 May 2025 17:55:22 GMT",
        "x-ms-access-tier": "TransactionOptimized",
        "x-ms-access-tier-change-time": "Tue, 27 May 2025 17:55:22 GMT",
        "x-ms-has-immutability-policy": "false",
        "x-ms-has-legal-hold": "false",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-share-quota": "102400",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-02e4347c-fc66-023f-6c9c-507f027b59c3/sourceFolder?sv=Sanitized&ss=f&srt=sco&se=2025-05-28T17%3A55%3A26Z&sp=rwdxylacuptfi&sig=Sanitized&restype=directory&comp=list&include=Attributes",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://nickliuproductionacc.file.core.windows.net/\" ShareName=\"test-share-02e4347c-fc66-023f-6c9c-507f027b59c3\" DirectoryPath=\"sourceFolder\"><DirectoryId>13835128424026341376</DirectoryId><Entries><Directory><Name>foo</Name><FileId>11529285414812647424</FileId><Properties /><Attributes>Directory</Attributes></Directory><Directory><Name>pik</Name><FileId>12682206919419494400</FileId><Properties /><Attributes>Directory</Attributes></Directory><Directory><Name>rul</Name><FileId>10376363910205800448</FileId><Properties /><Attributes>Directory</Attributes></Directory></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-02e4347c-fc66-023f-6c9c-507f027b59c3/sourceFolder/foo?sv=Sanitized&ss=f&srt=sco&se=2025-05-28T17%3A55%3A26Z&sp=rwdxylacuptfi&sig=Sanitized&restype=directory",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD9D47A708DF02\"",
        "Last-Modified": "Tue, 27 May 2025 17:55:22 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-05-27T17:55:22.7093762Z",
        "x-ms-file-creation-time": "2025-05-27T17:55:22.7093762Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2025-05-27T17:55:22.7093762Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "13252330444922611895*16083086822043778878",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-a77541ab-3958-e181-6b26-f0c802582d18/destFolder/foo?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 27 May 2025 17:55:27 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-05-27T17:55:22.7093762Z",
        "x-ms-file-creation-time": "2025-05-27T17:55:22.7093762Z",
        "x-ms-file-last-write-time": "2025-05-27T17:55:22.7093762Z",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD9D47A743830B\"",
        "Last-Modified": "Tue, 27 May 2025 17:55:23 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-05-27T17:55:22.7093762Z",
        "x-ms-file-creation-time": "2025-05-27T17:55:22.7093762Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2025-05-27T17:55:22.7093762Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "13252330444922611895*16083086822043778878",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-a77541ab-3958-e181-6b26-f0c802582d18/destFolder/pik?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 27 May 2025 17:55:27 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-05-27T17:55:22.8567271Z",
        "x-ms-file-creation-time": "2025-05-27T17:55:22.8567271Z",
        "x-ms-file-last-write-time": "2025-05-27T17:55:22.8567271Z",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD9D47A74E4C5D\"",
        "Last-Modified": "Tue, 27 May 2025 17:55:23 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-05-27T17:55:22.8567271Z",
        "x-ms-file-creation-time": "2025-05-27T17:55:22.8567271Z",
        "x-ms-file-id": "16140971433240035328",
        "x-ms-file-last-write-time": "2025-05-27T17:55:22.8567271Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "13252330444922611895*16083086822043778878",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-a77541ab-3958-e181-6b26-f0c802582d18/destFolder/rul?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 27 May 2025 17:55:27 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-05-27T17:55:22.7830516Z",
        "x-ms-file-creation-time": "2025-05-27T17:55:22.7830516Z",
        "x-ms-file-last-write-time": "2025-05-27T17:55:22.7830516Z",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD9D47A756F523\"",
        "Last-Modified": "Tue, 27 May 2025 17:55:23 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-05-27T17:55:22.7830516Z",
        "x-ms-file-creation-time": "2025-05-27T17:55:22.7830516Z",
        "x-ms-file-id": "10376363910205800448",
        "x-ms-file-last-write-time": "2025-05-27T17:55:22.7830516Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "13252330444922611895*16083086822043778878",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-02e4347c-fc66-023f-6c9c-507f027b59c3/sourceFolder/foo?sv=Sanitized&ss=f&srt=sco&se=2025-05-28T17%3A55%3A26Z&sp=rwdxylacuptfi&sig=Sanitized&restype=directory&comp=list&include=Attributes",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://nickliuproductionacc.file.core.windows.net/\" ShareName=\"test-share-02e4347c-fc66-023f-6c9c-507f027b59c3\" DirectoryPath=\"sourceFolder/foo\"><DirectoryId>11529285414812647424</DirectoryId><Entries><File><Name>test-file-d2014e05-d1f8-a323-4e58-8f9be53d0c35</Name><FileId>16140971433240035328</FileId><Properties><Content-Length>1024</Content-Length></Properties><Attributes>Archive</Attributes></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-02e4347c-fc66-023f-6c9c-507f027b59c3/sourceFolder/pik?sv=Sanitized&ss=f&srt=sco&se=2025-05-28T17%3A55%3A26Z&sp=rwdxylacuptfi&sig=Sanitized&restype=directory&comp=list&include=Attributes",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://nickliuproductionacc.file.core.windows.net/\" ShareName=\"test-share-02e4347c-fc66-023f-6c9c-507f027b59c3\" DirectoryPath=\"sourceFolder/pik\"><DirectoryId>12682206919419494400</DirectoryId><Entries><File><Name>test-file-e53c3217-f5ff-9354-af1c-c73cba6d050c</Name><FileId>17293892937846882304</FileId><Properties><Content-Length>1024</Content-Length></Properties><Attributes>Archive</Attributes></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-02e4347c-fc66-023f-6c9c-507f027b59c3/sourceFolder/foo/test-file-d2014e05-d1f8-a323-4e58-8f9be53d0c35?sv=Sanitized&ss=f&srt=sco&se=2025-05-28T17%3A55%3A26Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": [
          "en-US",
          "en-CA"
        ],
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD9D47A70E5710\"",
        "Last-Modified": "Tue, 27 May 2025 17:55:22 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-04-01T13:30:03.0000000Z",
        "x-ms-file-creation-time": "2024-04-01T09:05:55.0000000Z",
        "x-ms-file-id": "16140971433240035328",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "8616074386732128176*16083086822043778878",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-02e4347c-fc66-023f-6c9c-507f027b59c3/sourceFolder/rul?sv=Sanitized&ss=f&srt=sco&se=2025-05-28T17%3A55%3A26Z&sp=rwdxylacuptfi&sig=Sanitized&restype=directory&comp=list&include=Attributes",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://nickliuproductionacc.file.core.windows.net/\" ShareName=\"test-share-02e4347c-fc66-023f-6c9c-507f027b59c3\" DirectoryPath=\"sourceFolder/rul\"><DirectoryId>10376363910205800448</DirectoryId><Entries><File><Name>test-file-41e940a8-91ee-f1bf-3555-747047ea3e19</Name><FileId>14988049928633188352</FileId><Properties><Content-Length>1024</Content-Length></Properties><Attributes>Archive</Attributes></File></Entries><NextMarker /></EnumerationResults>"
    },
[...]
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-a77541ab-3958-e181-6b26-f0c802582d18/destFolder/foo/test-file-d2014e05-d1f8-a323-4e58-8f9be53d0c35",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 27 May 2025 17:55:27 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-a77541ab-3958-e181-6b26-f0c802582d18/destFolder/pik/test-file-e53c3217-f5ff-9354-af1c-c73cba6d050c",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 27 May 2025 17:55:27 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-a77541ab-3958-e181-6b26-f0c802582d18/destFolder/foo/test-file-d2014e05-d1f8-a323-4e58-8f9be53d0c35",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-language": "en-US,en-CA",
        "x-ms-content-length": "1024",
        "x-ms-content-type": "application/octet-stream",
        "x-ms-date": "Tue, 27 May 2025 17:55:27 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-04-01T13:30:03.0000000Z",
        "x-ms-file-creation-time": "2024-04-01T09:05:55.0000000Z",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-type": "file",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD9D47A76EA828\"",
        "Last-Modified": "Tue, 27 May 2025 17:55:23 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-04-01T13:30:03.0000000Z",
        "x-ms-file-creation-time": "2024-04-01T09:05:55.0000000Z",
        "x-ms-file-id": "13835093239654252544",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "8616074386732128176*16083086822043778878",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-a77541ab-3958-e181-6b26-f0c802582d18/destFolder/rul/test-file-41e940a8-91ee-f1bf-3555-747047ea3e19",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 27 May 2025 17:55:27 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-a77541ab-3958-e181-6b26-f0c802582d18/destFolder/foo/test-file-d2014e05-d1f8-a323-4e58-8f9be53d0c35?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://nickliuproductionacc.file.core.windows.net/test-share-02e4347c-fc66-023f-6c9c-507f027b59c3/sourceFolder/foo/test-file-d2014e05-d1f8-a323-4e58-8f9be53d0c35?sv=sanitized-value&ss=f&srt=sco&se=2025-05-28T17%3A55%3A26Z&sp=rwdxylacuptfi&sig=Sanitized",
        "x-ms-date": "Tue, 27 May 2025 17:55:27 GMT",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2025-07-05",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD9D47A7779EC3\"",
        "Last-Modified": "Tue, 27 May 2025 17:55:23 GMT",
        "x-ms-content-crc64": "iknlm7CyG2k=",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-a77541ab-3958-e181-6b26-f0c802582d18/destFolder/pik/test-file-e53c3217-f5ff-9354-af1c-c73cba6d050c?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://nickliuproductionacc.file.core.windows.net/test-share-02e4347c-fc66-023f-6c9c-507f027b59c3/sourceFolder/pik/test-file-e53c3217-f5ff-9354-af1c-c73cba6d050c?sv=sanitized-value&ss=f&srt=sco&se=2025-05-28T17%3A55%3A26Z&sp=rwdxylacuptfi&sig=Sanitized",
        "x-ms-date": "Tue, 27 May 2025 17:55:27 GMT",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2025-07-05",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD9D47A778AEFB\"",
        "Last-Modified": "Tue, 27 May 2025 17:55:23 GMT",
        "x-ms-content-crc64": "iknlm7CyG2k=",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-a77541ab-3958-e181-6b26-f0c802582d18/destFolder/foo/test-file-d2014e05-d1f8-a323-4e58-8f9be53d0c35?comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-language": "en-US,en-CA",
        "x-ms-content-type": "application/octet-stream",
       [...]
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-a77541ab-3958-e181-6b26-f0c802582d18/destFolder/rul/test-file-41e940a8-91ee-f1bf-3555-747047ea3e19?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://nickliuproductionacc.file.core.windows.net/test-share-02e4347c-fc66-023f-6c9c-507f027b59c3/sourceFolder/rul/test-file-41e940a8-91ee-f1bf-3555-747047ea3e19?sv=sanitized-value&ss=f&srt=sco&se=2025-05-28T17%3A55%3A26Z&sp=rwdxylacuptfi&sig=Sanitized",
        "x-ms-date": "Tue, 27 May 2025 17:55:27 GMT",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2025-07-05",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD9D47A77DD94D\"",
        "Last-Modified": "Tue, 27 May 2025 17:55:23 GMT",
        "x-ms-content-crc64": "iknlm7CyG2k=",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-a77541ab-3958-e181-6b26-f0c802582d18/destFolder/pik/test-file-e53c3217-f5ff-9354-af1c-c73cba6d050c?comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-language": "en-US,en-CA",
        "x-ms-content-type": "application/octet-stream",
       [...]
    {
[...]
