{
  "Entries": [
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-ee211ac4-219b-4694-b2db-4797d1f6299e?sv=Sanitized&ss=f&srt=sco&se=2026-04-30T22%3A58%3A01Z&sp=rwdxylacuptfi&sig=Sanitized&restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA642C3C7A5AF\"",
        "Last-Modified": "Wed, 29 Apr 2026 22:58:01 GMT",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-6f5b18c0-01c9-178e-a6c7-27e1338fe197?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 29 Apr 2026 22:58:02 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA642C3CF6CA0\"",
        "Last-Modified": "Wed, 29 Apr 2026 22:58:01 GMT",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-ee211ac4-219b-4694-b2db-4797d1f6299e/sourceFolder?sv=Sanitized&ss=f&srt=sco&se=2026-04-30T22%3A58%3A01Z&sp=rwdxylacuptfi&sig=Sanitized&restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA642C3D6CCD7\"",
        "Last-Modified": "Wed, 29 Apr 2026 22:58:01 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2026-04-29T22:58:01.6875735Z",
        "x-ms-file-creation-time": "2026-04-29T22:58:01.6875735Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2026-04-29T22:58:01.6875735Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "11118135984870558254*17478659090621734311",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-ee211ac4-219b-4694-b2db-4797d1f6299e/sourceFolder/test-file-2e535c40-0213-fb19-cce6-12b92bc52866?sv=Sanitized&ss=f&srt=sco&se=2026-04-30T22%3A58%3A01Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-language": "en-US,en-CA",
        "x-ms-content-length": "512",
        "x-ms-file-attributes": "None",
        "x-ms-file-change-time": "2024-04-01T13:30:03.0000000Z",
        "x-ms-file-creation-time": "2024-04-01T09:05:55.0000000Z",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-type": "file",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA642C3DDCEDA\"",
        "Last-Modified": "Wed, 29 Apr 2026 22:58:01 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-04-01T13:30:03.0000000Z",
        "x-ms-file-creation-time": "2024-04-01T09:05:55.0000000Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "6498768581512459561*17478659090621734311",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-ee211ac4-219b-4694-b2db-4797d1f6299e/sourceFolder/bar?sv=Sanitized&ss=f&srt=sco&se=2026-04-30T22%3A58%3A01Z&sp=rwdxylacuptfi&sig=Sanitized&restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA642C3EC6ED8\"",
        "Last-Modified": "Wed, 29 Apr 2026 22:58:01 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2026-04-29T22:58:01.8293464Z",
        "x-ms-file-creation-time": "2026-04-29T22:58:01.8293464Z",
        "x-ms-file-id": "10376363910205800448",
        "x-ms-file-last-write-time": "2026-04-29T22:58:01.8293464Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "11118135984870558254*17478659090621734311",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-ee211ac4-219b-4694-b2db-4797d1f6299e/sourceFolder/bar/test-file-6019b31b-66b6-d0b5-63be-ea5835f6eb05?sv=Sanitized&ss=f&srt=sco&se=2026-04-30T22%3A58%3A01Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-language": "en-US,en-CA",
        "x-ms-content-length": "512",
    [...]
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-ee211ac4-219b-4694-b2db-4797d1f6299e/sourceFolder/pik?sv=Sanitized&ss=f&srt=sco&se=2026-04-30T22%3A58%3A01Z&sp=rwdxylacuptfi&sig=Sanitized&restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA642C3FCBBD6\"",
        "Last-Modified": "Wed, 29 Apr 2026 22:58:01 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2026-04-29T22:58:01.9361750Z",
        "x-ms-file-creation-time": "2026-04-29T22:58:01.9361750Z",
        "x-ms-file-id": "12682206919419494400",
        "x-ms-file-last-write-time": "2026-04-29T22:58:01.9361750Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "11118135984870558254*17478659090621734311",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-ee211ac4-219b-4694-b2db-4797d1f6299e/sourceFolder/pik/test-file-bebd573a-bbfe-af5a-331f-81c3423d3cf8?sv=Sanitized&ss=f&srt=sco&se=2026-04-30T22%3A58%3A01Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-language": "en-US,en-CA",
        "x-ms-content-length": "512",
    [...]
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-6f5b18c0-01c9-178e-a6c7-27e1338fe197/destinationFolder?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 29 Apr 2026 22:58:02 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA642C40AE6DD\"",
        "Last-Modified": "Wed, 29 Apr 2026 22:58:02 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2026-04-29T22:58:02.0290269Z",
        "x-ms-file-creation-time": "2026-04-29T22:58:02.0290269Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2026-04-29T22:58:02.0290269Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "11118135984870558254*17478659090621734311",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-ee211ac4-219b-4694-b2db-4797d1f6299e?sv=Sanitized&ss=f&srt=sco&se=2026-04-30T22%3A58%3A01Z&sp=rwdxylacuptfi&sig=Sanitized&restype=share",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA642C3C7A5AF\"",
        "Last-Modified": "Wed, 29 Apr 2026 22:58:01 GMT",
        "x-ms-access-tier": "TransactionOptimized",
        "x-ms-access-tier-change-time": "Wed, 29 Apr 2026 22:58:01 GMT",
        "x-ms-enable-smb-directory-lease": "true",
        "x-ms-has-immutability-policy": "false",
        "x-ms-has-legal-hold": "false",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-share-quota": "102400",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-ee211ac4-219b-4694-b2db-4797d1f6299e/sourceFolder?sv=Sanitized&ss=f&srt=sco&se=2026-04-30T22%3A58%3A01Z&sp=rwdxylacuptfi&sig=Sanitized&restype=directory&comp=list&include=Attributes",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amnguyesa.file.core.windows.net/\" ShareName=\"test-share-ee211ac4-219b-4694-b2db-4797d1f6299e\" DirectoryPath=\"sourceFolder\"><DirectoryId>13835128424026341376</DirectoryId><Entries><Directory><Name>bar</Name><FileId>10376363910205800448</FileId><Properties /><Attributes>Directory</Attributes></Directory><Directory><Name>pik</Name><FileId>12682206919419494400</FileId><Properties /><Attributes>Directory</Attributes></Directory><File><Name>test-file-1918abda-c27d-afb2-9b44-417d668b1a56</Name><FileId>16140971433240035328</FileId><Properties><Content-Length>512</Content-Length></Properties><Attributes>Archive</Attributes></File><File><Name>test-file-2e535c40-0213-fb19-cce6-12b92bc52866</Name><FileId>11529285414812647424</FileId><Properties><Content-Length>512</Content-Length></Properties><Attributes>Archive</Attributes></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-ee211ac4-219b-4694-b2db-4797d1f6299e/sourceFolder/bar?sv=Sanitized&ss=f&srt=sco&se=2026-04-30T22%3A58%3A01Z&sp=rwdxylacuptfi&sig=Sanitized&restype=directory",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA642C3EC6ED8\"",
        "Last-Modified": "Wed, 29 Apr 2026 22:58:01 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2026-04-29T22:58:01.8293464Z",
        "x-ms-file-creation-time": "2026-04-29T22:58:01.8293464Z",
        "x-ms-file-id": "10376363910205800448",
        "x-ms-file-last-write-time": "2026-04-29T22:58:01.8293464Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "11118135984870558254*17478659090621734311",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-6f5b18c0-01c9-178e-a6c7-27e1338fe197/destinationFolder/bar?restype=directory",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 29 Apr 2026 22:58:02 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ResourceNotFound</Code><Message>The specified resource does not exist.\n",
        "RequestId:5b9639fb-101a-00a5-112b-d839d8000000\n",
        "Time:2026-04-29T22:58:02.2561349Z</Message></Error>"
      ]
    },
[...]
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-6f5b18c0-01c9-178e-a6c7-27e1338fe197/destinationFolder/pik?restype=directory",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 29 Apr 2026 22:58:02 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ResourceNotFound</Code><Message>The specified resource does not exist.\n",
        "RequestId:5b9639fe-101a-00a5-142b-d839d8000000\n",
        "Time:2026-04-29T22:58:02.3839984Z</Message></Error>"
      ]
    },
[...]
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-ee211ac4-219b-4694-b2db-4797d1f6299e/sourceFolder/bar?sv=Sanitized&ss=f&srt=sco&se=2026-04-30T22%3A58%3A01Z&sp=rwdxylacuptfi&sig=Sanitized&restype=directory&comp=list&include=Attributes",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amnguyesa.file.core.windows.net/\" ShareName=\"test-share-ee211ac4-219b-4694-b2db-4797d1f6299e\" DirectoryPath=\"sourceFolder/bar\"><DirectoryId>10376363910205800448</DirectoryId><Entries><File><Name>test-file-6019b31b-66b6-d0b5-63be-ea5835f6eb05</Name><FileId>14988049928633188352</FileId><Properties><Content-Length>512</Content-Length></Properties><Attributes>Archive</Attributes></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-ee211ac4-219b-4694-b2db-4797d1f6299e/sourceFolder/test-file-1918abda-c27d-afb2-9b44-417d668b1a56?sv=Sanitized&ss=f&srt=sco&se=2026-04-30T22%3A58%3A01Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": [
          "en-US",
          "en-CA"
        ],
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DEA642C3E51ED7\"",
        "Last-Modified": "Wed, 29 Apr 2026 22:58:01 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-04-01T13:30:03.0000000Z",
        "x-ms-file-creation-time": "2024-04-01T09:05:55.0000000Z",
        "x-ms-file-id": "16140971433240035328",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "6498768581512459561*17478659090621734311",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-6f5b18c0-01c9-178e-a6c7-27e1338fe197/destinationFolder/test-file-1918abda-c27d-afb2-9b44-417d668b1a56",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 29 Apr 2026 22:58:02 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-ee211ac4-219b-4694-b2db-4797d1f6299e/sourceFolder/pik?sv=Sanitized&ss=f&srt=sco&se=2026-04-30T22%3A58%3A01Z&sp=rwdxylacuptfi&sig=Sanitized&restype=directory&comp=list&include=Attributes",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amnguyesa.file.core.windows.net/\" ShareName=\"test-share-ee211ac4-219b-4694-b2db-4797d1f6299e\" DirectoryPath=\"sourceFolder/pik\"><DirectoryId>12682206919419494400</DirectoryId><Entries><File><Name>test-file-bebd573a-bbfe-af5a-331f-81c3423d3cf8</Name><FileId>17293892937846882304</FileId><Properties><Content-Length>512</Content-Length></Properties><Attributes>Archive</Attributes></File></Entries><NextMarker /></EnumerationResults>"
    },
[...]
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-6f5b18c0-01c9-178e-a6c7-27e1338fe197/destinationFolder/bar/test-file-6019b31b-66b6-d0b5-63be-ea5835f6eb05",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 29 Apr 2026 22:58:02 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-6f5b18c0-01c9-178e-a6c7-27e1338fe197/destinationFolder/test-file-1918abda-c27d-afb2-9b44-417d668b1a56",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-language": "en-US,en-CA",
        "x-ms-content-length": "512",
        "x-ms-content-type": "application/octet-stream",
        "x-ms-date": "Wed, 29 Apr 2026 22:58:02 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-type": "file",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA642C460F9D4\"",
        "Last-Modified": "Wed, 29 Apr 2026 22:58:02 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2026-04-29T22:58:02.5931220Z",
        "x-ms-file-creation-time": "2026-04-29T22:58:02.5931220Z",
        "x-ms-file-id": "13835093239654252544",
        "x-ms-file-last-write-time": "2026-04-29T22:58:02.5931220Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "6498768581512459561*17478659090621734311",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-6f5b18c0-01c9-178e-a6c7-27e1338fe197/destinationFolder/pik/test-file-bebd573a-bbfe-af5a-331f-81c3423d3cf8",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 29 Apr 2026 22:58:03 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-6f5b18c0-01c9-178e-a6c7-27e1338fe197/destinationFolder/test-file-1918abda-c27d-afb2-9b44-417d668b1a56?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://amnguyesa.file.core.windows.net/test-share-ee211ac4-219b-4694-b2db-4797d1f6299e/sourceFolder/test-file-1918abda-c27d-afb2-9b44-417d668b1a56?sv=sanitized-value&ss=f&srt=sco&se=2026-04-30T22%3A58%3A01Z&sp=rwdxylacuptfi&sig=Sanitized",
        "x-ms-date": "Wed, 29 Apr 2026 22:58:03 GMT",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-511",
        "x-ms-source-range": "bytes=0-511",
        "x-ms-version": "2026-06-06",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA642C46A1DD5\"",
        "Last-Modified": "Wed, 29 Apr 2026 22:58:02 GMT",
        "x-ms-content-crc64": "6YKnaCgO5h0=",
        "x-ms-file-last-write-time": "2026-04-29T22:58:02.5931220Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-6f5b18c0-01c9-178e-a6c7-27e1338fe197/destinationFolder/bar/test-file-6019b31b-66b6-d0b5-63be-ea5835f6eb05?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://amnguyesa.file.core.windows.net/test-share-ee211ac4-219b-4694-b2db-4797d1f6299e/sourceFolder/bar/test-file-6019b31b-66b6-d0b5-63be-ea5835f6eb05?sv=sanitized-value&ss=f&srt=sco&se=2026-04-30T22%3A58%3A01Z&sp=rwdxylacuptfi&sig=Sanitized",
        "x-ms-date": "Wed, 29 Apr 2026 22:58:03 GMT",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-511",
        "x-ms-source-range": "bytes=0-511",
        "x-ms-version": "2026-06-06",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA642C47024D1\"",
        "Last-Modified": "Wed, 29 Apr 2026 22:58:02 GMT",
        "x-ms-content-crc64": "6YKnaCgO5h0=",
        "x-ms-file-last-write-time": "2026-04-29T22:58:02.6380504Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-6f5b18c0-01c9-178e-a6c7-27e1338fe197/destinationFolder/test-file-1918abda-c27d-afb2-9b44-417d668b1a56?comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-language": "en-US,en-CA",
        "x-ms-content-type": "application/octet-stream",
        "x-ms-d[...]
[...]
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-6f5b18c0-01c9-178e-a6c7-27e1338fe197/destinationFolder/pik/test-file-bebd573a-bbfe-af5a-331f-81c3423d3cf8?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://amnguyesa.file.core.windows.net/test-share-ee211ac4-219b-4694-b2db-4797d1f6299e/sourceFolder/pik/test-file-bebd573a-bbfe-af5a-331f-81c3423d3cf8?sv=sanitized-value&ss=f&srt=sco&se=2026-04-30T22%3A58%3A01Z&sp=rwdxylacuptfi&sig=Sanitized",
        "x-ms-date": "Wed, 29 Apr 2026 22:58:03 GMT",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-511",
        "x-ms-source-range": "bytes=0-511",
        "x-ms-version": "2026-06-06",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA642C476FFD0\"",
        "Last-Modified": "Wed, 29 Apr 2026 22:58:02 GMT",
        "x-ms-content-crc64": "6YKnaCgO5h0=",
        "x-ms-file-last-write-time": "2026-04-29T22:58:02.6819798Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-6f5b18c0-01c9-178e-a6c7-27e1338fe197/destinationFolder/bar/test-file-6019b31b-66b6-d0b5-63be-ea5835f6eb05?comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-language": "en-US,en-CA",
        "x-ms-content-type": "application/octet-stream",
        "x-[...]
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-6f5b18c0-01c9-178e-a6c7-27e1338fe197/destinationFolder/pik/test-file-bebd573a-bbfe-af5a-331f-81c3423d3cf8?comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-language": "en-US,en-CA",
        "x-ms-content-type": "application/octet-stream",
        "x-[...]
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-ee211ac4-219b-4694-b2db-4797d1f6299e/sourceFolder?sv=Sanitized&ss=f&srt=sco&se=2026-04-30T22%3A58%3A01Z&sp=rwdxylacuptfi&sig=Sanitized&restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amnguyesa.file.core.windows.net/\" ShareName=\"test-share-ee211ac4-219b-4694-b2db-4797d1f6299e\" DirectoryPath=\"sourceFolder\"><DirectoryId>13835128424026341376</DirectoryId><Entries><Directory><Name>bar</Name><FileId>10376363910205800448</FileId><Properties /></Directory><Directory><Name>pik</Name><FileId>12682206919419494400</FileId><Properties /></Directory><File><Name>test-file-1918abda-c27d-afb2-9b44-417d668b1a56</Name><FileId>16140971433240035328</FileId><Properties><Content-Length>512</Content-Length></Properties></File><File><Name>test-file-2e535c40-0213-fb19-cce6-12b92bc52866</Name><FileId>11529285414812647424</FileId><Properties><Content-Length>512</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-6f5b18c0-01c9-178e-a6c7-27e1338fe197/destinationFolder?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 29 Apr 2026 22:58:03 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amnguyesa.file.core.windows.net/\" ShareName=\"test-share-6f5b18c0-01c9-178e-a6c7-27e1338fe197\" DirectoryPath=\"destinationFolder\"><DirectoryId>13835128424026341376</DirectoryId><Entries><Directory><Name>bar</Name><FileId>11529285414812647424</FileId><Properties /></Directory><Directory><Name>pik</Name><FileId>16140971433240035328</FileId><Properties /></Directory><File><Name>test-file-1918abda-c27d-afb2-9b44-417d668b1a56</Name><FileId>13835093239654252544</FileId><Properties><Content-Length>512</Content-Length></Properties></File><File><Name>test-file-2e535c40-0213-fb19-cce6-12b92bc52866</Name><FileId>10376363910205800448</FileId><Properties><Content-Length>512</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
[...]
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-ee211ac4-219b-4694-b2db-4797d1f6299e/sourceFolder/test-file-1918abda-c27d-afb2-9b44-417d668b1a56?sv=Sanitized&ss=f&srt=sco&se=2026-04-30T22%3A58%3A01Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-range": "bytes=0-511",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": [
          "en-US",
          "en-CA"
        ],
        "Content-Range": "bytes 0-511/512",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DEA642C3E51ED7\"",
        "Last-Modified": "Wed, 29 Apr 2026 22:58:01 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-04-01T13:30:03.0000000Z",
        "x-ms-file-creation-time": "2024-04-01T09:05:55.0000000Z",
        "x-ms-file-id": "16140971433240035328",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-file-parent-id": "13835[...]
[...]
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-6f5b18c0-01c9-178e-a6c7-27e1338fe197?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 29 Apr 2026 22:58:04 GMT",
[...]
