{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-9071bb98-17aa-b35a-7829-b41ffdc011d1?sv=Sanitized&ss=f&srt=sco&se=2024-12-07T17%3A24%3A50Z&sp=rwdxylacuptfi&sig=Sanitized&restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD161AE3AB7F9D\"",
        "Last-Modified": "Fri, 06 Dec 2024 17:24:50 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-edac1a1c-d0f6-cf28-22d5-0ec8d43d3338?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Dec 2024 17:24:50 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD161AE3B5B4A2\"",
        "Last-Modified": "Fri, 06 Dec 2024 17:24:50 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-9071bb98-17aa-b35a-7829-b41ffdc011d1/sourceFolder?sv=Sanitized&ss=f&srt=sco&se=2024-12-07T17%3A24%3A50Z&sp=rwdxylacuptfi&sig=Sanitized&restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD161AE3BFCAC0\"",
        "Last-Modified": "Fri, 06 Dec 2024 17:24:50 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2024-12-06T17:24:50.2436544Z",
        "x-ms-file-creation-time": "2024-12-06T17:24:50.2436544Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-12-06T17:24:50.2436544Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "8016861625448480706*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-9071bb98-17aa-b35a-7829-b41ffdc011d1/sourceFolder/test-file-8200071d-9ee3-0f26-a120-9e5de433d271?sv=Sanitized&ss=f&srt=sco&se=2024-12-07T17%3A24%3A50Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-language": "en-US,en-CA",
        "x-ms-content-length": "512",
        "x-ms-file-attributes": "None",
        "x-ms-file-change-time": "2024-04-01T13:30:03.0000000Z",
        "x-ms-file-creation-time": "2024-04-01T09:05:55.0000000Z",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-type": "file",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD161AE3C9360E\"",
        "Last-Modified": "Fri, 06 Dec 2024 17:24:50 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-04-01T13:30:03.0000000Z",
        "x-ms-file-creation-time": "2024-04-01T09:05:55.0000000Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-9071bb98-17aa-b35a-7829-b41ffdc011d1/sourceFolder/bar?sv=Sanitized&ss=f&srt=sco&se=2024-12-07T17%3A24%3A50Z&sp=rwdxylacuptfi&sig=Sanitized&restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD161AE3DBBEE1\"",
        "Last-Modified": "Fri, 06 Dec 2024 17:24:50 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2024-12-06T17:24:50.4268513Z",
        "x-ms-file-creation-time": "2024-12-06T17:24:50.4268513Z",
        "x-ms-file-id": "10376363910205800448",
        "x-ms-file-last-write-time": "2024-12-06T17:24:50.4268513Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "8016861625448480706*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-9071bb98-17aa-b35a-7829-b41ffdc011d1/sourceFolder/bar/test-file-2133d1d7-72eb-b431-73f5-74d8d105d324?sv=Sanitized&ss=f&srt=sco&se=2024-12-07T17%3A24%3A50Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-language": "en-US,en-CA",
        "x-ms-content-length": "512",
[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-9071bb98-17aa-b35a-7829-b41ffdc011d1/sourceFolder/pik?sv=Sanitized&ss=f&srt=sco&se=2024-12-07T17%3A24%3A50Z&sp=rwdxylacuptfi&sig=Sanitized&restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD161AE3EFCC9F\"",
        "Last-Modified": "Fri, 06 Dec 2024 17:24:50 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2024-12-06T17:24:50.5582751Z",
        "x-ms-file-creation-time": "2024-12-06T17:24:50.5582751Z",
        "x-ms-file-id": "12682206919419494400",
        "x-ms-file-last-write-time": "2024-12-06T17:24:50.5582751Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "8016861625448480706*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-9071bb98-17aa-b35a-7829-b41ffdc011d1/sourceFolder/pik/test-file-7097a056-7ed9-b4a7-4fd8-c8f84403533d?sv=Sanitized&ss=f&srt=sco&se=2024-12-07T17%3A24%3A50Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-language": "en-US,en-CA",
        "x-ms-content-length": "512",
[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-edac1a1c-d0f6-cf28-22d5-0ec8d43d3338/destinationFolder?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Dec 2024 17:24:50 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD161AE405FADB\"",
        "Last-Modified": "Fri, 06 Dec 2024 17:24:50 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2024-12-06T17:24:50.7036379Z",
        "x-ms-file-creation-time": "2024-12-06T17:24:50.7036379Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-12-06T17:24:50.7036379Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "8016861625448480706*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-9071bb98-17aa-b35a-7829-b41ffdc011d1/sourceFolder?sv=Sanitized&ss=f&srt=sco&se=2024-12-07T17%3A24%3A50Z&sp=rwdxylacuptfi&sig=Sanitized&restype=directory&comp=list&include=Attributes",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.file.core.windows.net/\" ShareName=\"test-share-9071bb98-17aa-b35a-7829-b41ffdc011d1\" DirectoryPath=\"sourceFolder\"><DirectoryId>13835128424026341376</DirectoryId><Entries><Directory><Name>bar</Name><FileId>10376363910205800448</FileId><Properties /><Attributes>Directory</Attributes></Directory><Directory><Name>pik</Name><FileId>12682206919419494400</FileId><Properties /><Attributes>Directory</Attributes></Directory><File><Name>test-file-5a14170e-97de-4d5a-df06-f13ce17d5518</Name><FileId>16140971433240035328</FileId><Properties><Content-Length>512</Content-Length></Properties><Attributes>Archive</Attributes></File><File><Name>test-file-8200071d-9ee3-0f26-a120-9e5de433d271</Name><FileId>11529285414812647424</FileId><Properties><Content-Length>512</Content-Length></Properties><Attributes>Archive</Attributes></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-edac1a1c-d0f6-cf28-22d5-0ec8d43d3338/destinationFolder/bar?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Dec 2024 17:24:50 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD161AE41CEB8D\"",
        "Last-Modified": "Fri, 06 Dec 2024 17:24:50 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2024-12-06T17:24:50.8539789Z",
        "x-ms-file-creation-time": "2024-12-06T17:24:50.8539789Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2024-12-06T17:24:50.8539789Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "8016861625448480706*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-edac1a1c-d0f6-cf28-22d5-0ec8d43d3338/destinationFolder/pik?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Dec 2024 17:24:50 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD161AE426A4A3\"",
        "Last-Modified": "Fri, 06 Dec 2024 17:24:50 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2024-12-06T17:24:50.9176995Z",
        "x-ms-file-creation-time": "2024-12-06T17:24:50.9176995Z",
        "x-ms-file-id": "16140971433240035328",
        "x-ms-file-last-write-time": "2024-12-06T17:24:50.9176995Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "8016861625448480706*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-9071bb98-17aa-b35a-7829-b41ffdc011d1/sourceFolder/bar?sv=Sanitized&ss=f&srt=sco&se=2024-12-07T17%3A24%3A50Z&sp=rwdxylacuptfi&sig=Sanitized&restype=directory&comp=list&include=Attributes",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.file.core.windows.net/\" ShareName=\"test-share-9071bb98-17aa-b35a-7829-b41ffdc011d1\" DirectoryPath=\"sourceFolder/bar\"><DirectoryId>10376363910205800448</DirectoryId><Entries><File><Name>test-file-2133d1d7-72eb-b431-73f5-74d8d105d324</Name><FileId>14988049928633188352</FileId><Properties><Content-Length>512</Content-Length></Properties><Attributes>Archive</Attributes></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-9071bb98-17aa-b35a-7829-b41ffdc011d1/sourceFolder/test-file-5a14170e-97de-4d5a-df06-f13ce17d5518?sv=Sanitized&ss=f&srt=sco&se=2024-12-07T17%3A24%3A50Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": [
          "en-US",
          "en-CA"
        ],
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD161AE3D2A15F\"",
        "Last-Modified": "Fri, 06 Dec 2024 17:24:50 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-04-01T13:30:03.0000000Z",
        "x-ms-file-creation-time": "2024-04-01T09:05:55.0000000Z",
        "x-ms-file-id": "16140971433240035328",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-9071bb98-17aa-b35a-7829-b41ffdc011d1/sourceFolder/pik?sv=Sanitized&ss=f&srt=sco&se=2024-12-07T17%3A24%3A50Z&sp=rwdxylacuptfi&sig=Sanitized&restype=directory&comp=list&include=Attributes",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.file.core.windows.net/\" ShareName=\"test-share-9071bb98-17aa-b35a-7829-b41ffdc011d1\" DirectoryPath=\"sourceFolder/pik\"><DirectoryId>12682206919419494400</DirectoryId><Entries><File><Name>test-file-7097a056-7ed9-b4a7-4fd8-c8f84403533d</Name><FileId>17293892937846882304</FileId><Properties><Content-Length>512</Content-Length></Properties><Attributes>Archive</Attributes></File></Entries><NextMarker /></EnumerationResults>"
    },
[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-edac1a1c-d0f6-cf28-22d5-0ec8d43d3338/destinationFolder/test-file-5a14170e-97de-4d5a-df06-f13ce17d5518",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Dec 2024 17:24:51 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-edac1a1c-d0f6-cf28-22d5-0ec8d43d3338/destinationFolder/bar/test-file-2133d1d7-72eb-b431-73f5-74d8d105d324",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Dec 2024 17:24:51 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-edac1a1c-d0f6-cf28-22d5-0ec8d43d3338/destinationFolder/test-file-8200071d-9ee3-0f26-a120-9e5de433d271",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-language": "en-US,en-CA",
        "x-ms-content-length": "512",
        "x-ms-content-type": "application/octet-stream",
        "x-ms-date": "Fri, 06 Dec 2024 17:24:51 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-04-01T13:30:03.0000000Z",
        "x-ms-file-creation-time": "2024-04-01T09:05:55.0000000Z",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-type": "file",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD161AE451C9F8\"",
        "Last-Modified": "Fri, 06 Dec 2024 17:24:51 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-04-01T13:30:03.0000000Z",
        "x-ms-file-creation-time": "2024-04-01T09:05:55.0000000Z",
        "x-ms-file-id": "13835163608398430208",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-edac1a1c-d0f6-cf28-22d5-0ec8d43d3338/destinationFolder/pik/test-file-7097a056-7ed9-b4a7-4fd8-c8f84403533d",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Dec 2024 17:24:51 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-edac1a1c-d0f6-cf28-22d5-0ec8d43d3338/destinationFolder/test-file-5a14170e-97de-4d5a-df06-f13ce17d5518?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://amandapreprod.file.core.windows.net/test-share-9071bb98-17aa-b35a-7829-b41ffdc011d1/sourceFolder/test-file-5a14170e-97de-4d5a-df06-f13ce17d5518?sv=sanitized-value&ss=f&srt=sco&se=2024-12-07T17%3A24%3A50Z&sp=rwdxylacuptfi&sig=Sanitized",
        "x-ms-date": "Fri, 06 Dec 2024 17:24:51 GMT",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-511",
        "x-ms-source-range": "bytes=0-511",
        "x-ms-version": "2025-05-05",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD161AE45E6603\"",
        "Last-Modified": "Fri, 06 Dec 2024 17:24:51 GMT",
        "x-ms-content-crc64": "6YKnaCgO5h0=",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-edac1a1c-d0f6-cf28-22d5-0ec8d43d3338/destinationFolder/bar/test-file-2133d1d7-72eb-b431-73f5-74d8d105d324?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://amandapreprod.file.core.windows.net/test-share-9071bb98-17aa-b35a-7829-b41ffdc011d1/sourceFolder/bar/test-file-2133d1d7-72eb-b431-73f5-74d8d105d324?sv=sanitized-value&ss=f&srt=sco&se=2024-12-07T17%3A24%3A50Z&sp=rwdxylacuptfi&sig=Sanitized",
        "x-ms-date": "Fri, 06 Dec 2024 17:24:51 GMT",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-511",
        "x-ms-source-range": "bytes=0-511",
        "x-ms-version": "2025-05-05",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD161AE46EF53B\"",
        "Last-Modified": "Fri, 06 Dec 2024 17:24:51 GMT",
        "x-ms-content-crc64": "6YKnaCgO5h0=",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-edac1a1c-d0f6-cf28-22d5-0ec8d43d3338/destinationFolder/pik/test-file-7097a056-7ed9-b4a7-4fd8-c8f84403533d?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://amandapreprod.file.core.windows.net/test-share-9071bb98-17aa-b35a-7829-b41ffdc011d1/sourceFolder/pik/test-file-7097a056-7ed9-b4a7-4fd8-c8f84403533d?sv=sanitized-value&ss=f&srt=sco&se=2024-12-07T17%3A24%3A50Z&sp=rwdxylacuptfi&sig=Sanitized",
        "x-ms-date": "Fri, 06 Dec 2024 17:24:51 GMT",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-511",
        "x-ms-source-range": "bytes=0-511",
        "x-ms-version": "2025-05-05",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD161AE46EF53B\"",
        "Last-Modified": "Fri, 06 Dec 2024 17:24:51 GMT",
        "x-ms-content-crc64": "6YKnaCgO5h0=",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-9071bb98-17aa-b35a-7829-b41ffdc011d1/sourceFolder?sv=Sanitized&ss=f&srt=sco&se=2024-12-07T17%3A24%3A50Z&sp=rwdxylacuptfi&sig=Sanitized&restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.file.core.windows.net/\" ShareName=\"test-share-9071bb98-17aa-b35a-7829-b41ffdc011d1\" DirectoryPath=\"sourceFolder\"><DirectoryId>13835128424026341376</DirectoryId><Entries><Directory><Name>bar</Name><FileId>10376363910205800448</FileId><Properties /></Directory><Directory><Name>pik</Name><FileId>12682206919419494400</FileId><Properties /></Directory><File><Name>test-file-5a14170e-97de-4d5a-df06-f13ce17d5518</Name><FileId>16140971433240035328</FileId><Properties><Content-Length>512</Content-Length></Properties></File><File><Name>test-file-8200071d-9ee3-0f26-a120-9e5de433d271</Name><FileId>11529285414812647424</FileId><Properties><Content-Length>512</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-edac1a1c-d0f6-cf28-22d5-0ec8d43d3338/destinationFolder?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Dec 2024 17:24:51 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.file.core.windows.net/\" ShareName=\"test-share-edac1a1c-d0f6-cf28-22d5-0ec8d43d3338\" DirectoryPath=\"destinationFolder\"><DirectoryId>13835128424026341376</DirectoryId><Entries><Directory><Name>bar</Name><FileId>11529285414812647424</FileId><Properties /></Directory><Directory><Name>pik</Name><FileId>16140971433240035328</FileId><Properties /></Directory><File><Name>test-file-5a14170e-97de-4d5a-df06-f13ce17d5518</Name><FileId>13835093239654252544</FileId><Properties><Content-Length>512</Content-Length></Properties></File><File><Name>test-file-8200071d-9ee3-0f26-a120-9e5de433d271</Name><FileId>13835163608398430208</FileId><Properties><Content-Length>512</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-9071bb98-17aa-b35a-7829-b41ffdc011d1/sourceFolder/test-file-5a14170e-97de-4d5a-df06-f13ce17d5518?sv=Sanitized&ss=f&srt=sco&se=2024-12-07T17%3A24%3A50Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": [
          "en-US",
          "en-CA"
        ],
        "Content-Range": "bytes 0-511/512",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD161AE3D2A15F\"",
        "Last-Modified": "Fri, 06 Dec 2024 17:24:50 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-04-01T13:30:03.0000000Z",
        "x-ms-file-creation-time": "2024-04-01T09:05:55.0000000Z",
        "x-ms-file-id": "16140971433240035328",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-file-parent-id": "13835[...]
[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-edac1a1c-d0f6-cf28-22d5-0ec8d43d3338?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 06 Dec 2024 17:24:53 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-9071bb98-17aa-b35a-7829-b41ffdc011d1?sv=Sanitized&ss=f&srt=sco&se=2024-12-07T17%3A24%3A50Z&sp=rwdxylacuptfi&sig=Sanitized&restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-12-06T09:24:50.0850059-08:00",
    "RandomSeed": "695446523",
    "Storage_TestConfigDefault": "ProductionTenant\namandapreprod\nU2FuaXRpemVk\nhttps://amandapreprod.blob.core.windows.net\nhttps://amandapreprod.file.core.windows.net\nhttps://amandapreprod.queue.core.windows.net\nhttps://amandapreprod.table.core.windows.net\n\n\n\n\nhttps://amandapreprod-secondary.blob.core.windows.net\nhttps://amandapreprod-secondary.file.core.windows.net\nhttps://amandapreprod-secondary.queue.core.windows.net\nhttps://amandapreprod-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandapreprod.blob.core.windows.net/;QueueEndpoint=https://amandapreprod.queue.core.windows.net/;FileEndpoint=https://amandapreprod.file.core.windows.net/;BlobSecondaryEndpoint=https://amandapreprod-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandapreprod-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandapreprod-secondary.file.core.windows.net/;AccountName=amandapreprod;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
