{
  "Entries": [
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-eb4f3545-43b9-e487-303b-81b2584d0d7d?sv=Sanitized&ss=f&srt=sco&se=2025-01-31T01%3A06%3A37Z&sp=rwdxylacuptfi&sig=Sanitized&restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD40CA58D08C65\"",
        "Last-Modified": "Thu, 30 Jan 2025 01:06:37 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-bf6597ff-262a-2709-7af4-1d532b6342b4?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 30 Jan 2025 01:06:37 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD40CA58DA3BB0\"",
        "Last-Modified": "Thu, 30 Jan 2025 01:06:37 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-eb4f3545-43b9-e487-303b-81b2584d0d7d/sourceFolder?sv=Sanitized&ss=f&srt=sco&se=2025-01-31T01%3A06%3A37Z&sp=rwdxylacuptfi&sig=Sanitized&restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD40CA58E3B063\"",
        "Last-Modified": "Thu, 30 Jan 2025 01:06:37 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-01-30T01:06:37.5366755Z",
        "x-ms-file-creation-time": "2025-01-30T01:06:37.5366755Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-01-30T01:06:37.5366755Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "1597566016123626978*9146977694084461163",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-bf6597ff-262a-2709-7af4-1d532b6342b4/destPrefix?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 30 Jan 2025 01:06:37 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD40CA58ED24D6\"",
        "Last-Modified": "Thu, 30 Jan 2025 01:06:37 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-01-30T01:06:37.5986390Z",
        "x-ms-file-creation-time": "2025-01-30T01:06:37.5986390Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-01-30T01:06:37.5986390Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "1597566016123626978*9146977694084461163",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-eb4f3545-43b9-e487-303b-81b2584d0d7d/sourceFolder/item1?sv=Sanitized&ss=f&srt=sco&se=2025-01-31T01%3A06%3A37Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-language": "en-US,en-CA",
        "x-ms-content-length": "1024",
        "x-ms-file-attributes": "None",
        "x-ms-file-change-time": "2024-04-01T13:30:03.0000000Z",
        "x-ms-file-creation-time": "2024-04-01T09:05:55.0000000Z",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-type": "file",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD40CA58F5D622\"",
        "Last-Modified": "Thu, 30 Jan 2025 01:06:37 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-04-01T13:30:03.0000000Z",
        "x-ms-file-creation-time": "2024-04-01T09:05:55.0000000Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "15442983316638046949*9146977694084461163",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-bf6597ff-262a-2709-7af4-1d532b6342b4/destPrefix/item1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-language": "en-US,en-CA",
        "x-ms-content-length": "1024",
        "x-ms-date": "Thu, 30 Jan 2025 01:06:37 GMT",
        "x-ms-file-attributes": "None[...]
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-eb4f3545-43b9-e487-303b-81b2584d0d7d/sourceFolder/test-file-5aa78225-84ce-6565-7fb6-1ff429f16fff?sv=Sanitized&ss=f&srt=sco&se=2025-01-31T01%3A06%3A37Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-language": "en-US,en-CA",
        "x-ms-content-length": "1024",
 [...]
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-eb4f3545-43b9-e487-303b-81b2584d0d7d/sourceFolder/bar?sv=Sanitized&ss=f&srt=sco&se=2025-01-31T01%3A06%3A37Z&sp=rwdxylacuptfi&sig=Sanitized&restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD40CA590DEE83\"",
        "Last-Modified": "Thu, 30 Jan 2025 01:06:37 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-01-30T01:06:37.8135171Z",
        "x-ms-file-creation-time": "2025-01-30T01:06:37.8135171Z",
        "x-ms-file-id": "10376363910205800448",
        "x-ms-file-last-write-time": "2025-01-30T01:06:37.8135171Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "1597566016123626978*9146977694084461163",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-eb4f3545-43b9-e487-303b-81b2584d0d7d/sourceFolder/bar/test-file-696dbb9d-6491-a151-3b05-76b9cd5590d1?sv=Sanitized&ss=f&srt=sco&se=2025-01-31T01%3A06%3A37Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-language": "en-US,en-CA",
        "x-ms-content-length": "1024[...]
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-eb4f3545-43b9-e487-303b-81b2584d0d7d/sourceFolder/pik?sv=Sanitized&ss=f&srt=sco&se=2025-01-31T01%3A06%3A37Z&sp=rwdxylacuptfi&sig=Sanitized&restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD40CA591DCAB5\"",
        "Last-Modified": "Thu, 30 Jan 2025 01:06:37 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-01-30T01:06:37.9174581Z",
        "x-ms-file-creation-time": "2025-01-30T01:06:37.9174581Z",
        "x-ms-file-id": "12682206919419494400",
        "x-ms-file-last-write-time": "2025-01-30T01:06:37.9174581Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "1597566016123626978*9146977694084461163",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-eb4f3545-43b9-e487-303b-81b2584d0d7d/sourceFolder/pik/test-file-8d06b127-927f-b45a-8cf3-dc01e13842b0?sv=Sanitized&ss=f&srt=sco&se=2025-01-31T01%3A06%3A37Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-language": "en-US,en-CA",
        "x-ms-content-length": "1024[...]
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-eb4f3545-43b9-e487-303b-81b2584d0d7d/sourceFolder?sv=Sanitized&ss=f&srt=sco&se=2025-01-31T01%3A06%3A37Z&sp=rwdxylacuptfi&sig=Sanitized&restype=directory&comp=list&include=Attributes",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://jalauzonnettest.file.core.windows.net/\" ShareName=\"test-share-eb4f3545-43b9-e487-303b-81b2584d0d7d\" DirectoryPath=\"sourceFolder\"><DirectoryId>13835128424026341376</DirectoryId><Entries><Directory><Name>bar</Name><FileId>10376363910205800448</FileId><Properties /><Attributes>Directory</Attributes></Directory><File><Name>item1</Name><FileId>11529285414812647424</FileId><Properties><Content-Length>1024</Content-Length></Properties><Attributes>Archive</Attributes></File><Directory><Name>pik</Name><FileId>12682206919419494400</FileId><Properties /><Attributes>Directory</Attributes></Directory><File><Name>test-file-5aa78225-84ce-6565-7fb6-1ff429f16fff</Name><FileId>16140971433240035328</FileId><Properties><Content-Length>1024</Content-Length></Properties><Attributes>Archive</Attributes></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-bf6597ff-262a-2709-7af4-1d532b6342b4/destPrefix/bar?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 30 Jan 2025 01:06:38 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD40CA5932FD54\"",
        "Last-Modified": "Thu, 30 Jan 2025 01:06:38 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-01-30T01:06:38.0563796Z",
        "x-ms-file-creation-time": "2025-01-30T01:06:38.0563796Z",
        "x-ms-file-id": "16140971433240035328",
        "x-ms-file-last-write-time": "2025-01-30T01:06:38.0563796Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "1597566016123626978*9146977694084461163",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-bf6597ff-262a-2709-7af4-1d532b6342b4/destPrefix/pik?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 30 Jan 2025 01:06:38 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD40CA593B8792\"",
        "Last-Modified": "Thu, 30 Jan 2025 01:06:38 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-01-30T01:06:38.1123474Z",
        "x-ms-file-creation-time": "2025-01-30T01:06:38.1123474Z",
        "x-ms-file-id": "10376363910205800448",
        "x-ms-file-last-write-time": "2025-01-30T01:06:38.1123474Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "1597566016123626978*9146977694084461163",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-eb4f3545-43b9-e487-303b-81b2584d0d7d/sourceFolder/bar?sv=Sanitized&ss=f&srt=sco&se=2025-01-31T01%3A06%3A37Z&sp=rwdxylacuptfi&sig=Sanitized&restype=directory&comp=list&include=Attributes",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://jalauzonnettest.file.core.windows.net/\" ShareName=\"test-share-eb4f3545-43b9-e487-303b-81b2584d0d7d\" DirectoryPath=\"sourceFolder/bar\"><DirectoryId>10376363910205800448</DirectoryId><Entries><File><Name>test-file-696dbb9d-6491-a151-3b05-76b9cd5590d1</Name><FileId>14988049928633188352</FileId><Properties><Content-Length>1024</Content-Length></Properties><Attributes>Archive</Attributes></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-eb4f3545-43b9-e487-303b-81b2584d0d7d/sourceFolder/test-file-5aa78225-84ce-6565-7fb6-1ff429f16fff?sv=Sanitized&ss=f&srt=sco&se=2025-01-31T01%3A06%3A37Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": [
          "en-US",
          "en-CA"
        ],
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD40CA59069C92\"",
        "Last-Modified": "Thu, 30 Jan 2025 01:06:37 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-04-01T13:30:03.0000000Z",
        "x-ms-file-creation-time": "2024-04-01T09:05:55.0000000Z",
        "x-ms-file-id": "16140971433240035328",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "15442983316638046949*9146977694084461163",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-eb4f3545-43b9-e487-303b-81b2584d0d7d/sourceFolder/pik?sv=Sanitized&ss=f&srt=sco&se=2025-01-31T01%3A06%3A37Z&sp=rwdxylacuptfi&sig=Sanitized&restype=directory&comp=list&include=Attributes",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://jalauzonnettest.file.core.windows.net/\" ShareName=\"test-share-eb4f3545-43b9-e487-303b-81b2584d0d7d\" DirectoryPath=\"sourceFolder/pik\"><DirectoryId>12682206919419494400</DirectoryId><Entries><File><Name>test-file-8d06b127-927f-b45a-8cf3-dc01e13842b0</Name><FileId>17293892937846882304</FileId><Properties><Content-Length>1024</Content-Length></Properties><Attributes>Archive</Attributes></File></Entries><NextMarker /></EnumerationResults>"
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-bf6597ff-262a-2709-7af4-1d532b6342b4/destPrefix/test-file-5aa78225-84ce-6565-7fb6-1ff429f16fff",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-language": "en-US,en-CA",
        "x-ms-content-length": "1024",
        "x-ms-content-type": "application/octet-stream",
        "x-ms-date": "Thu, 30 Jan 2025 01:06:38 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-04-01T13:30:03.0000000Z",
        "x-ms-file-creation-time": "2024-04-01T09:05:55.0000000Z",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-type": "file",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD40CA595303CA\"",
        "Last-Modified": "Thu, 30 Jan 2025 01:06:38 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-04-01T13:30:03.0000000Z",
        "x-ms-file-creation-time": "2024-04-01T09:05:55.0000000Z",
        "x-ms-file-id": "13835093239654252544",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "15442983316638046949*9146977694084461163",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-bf6597ff-262a-2709-7af4-1d532b6342b4/destPrefix/bar/test-file-696dbb9d-6491-a151-3b05-76b9cd5590d1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-language": "en-US,en-CA",
        "x-ms-content-length": "1024",
        "x-ms-content-type": "application/octe[...]
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-bf6597ff-262a-2709-7af4-1d532b6342b4/destPrefix/test-file-5aa78225-84ce-6565-7fb6-1ff429f16fff?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://jalauzonnettest.file.core.windows.net/test-share-eb4f3545-43b9-e487-303b-81b2584d0d7d/sourceFolder/test-file-5aa78225-84ce-6565-7fb6-1ff429f16fff?sv=sanitized-value&ss=f&srt=sco&se=2025-01-31T01%3A06%3A37Z&sp=rwdxylacuptfi&sig=Sanitized",
        "x-ms-date": "Thu, 30 Jan 2025 01:06:38 GMT",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD40CA595B18F0\"",
        "Last-Modified": "Thu, 30 Jan 2025 01:06:38 GMT",
        "x-ms-content-crc64": "iknlm7CyG2k=",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-bf6597ff-262a-2709-7af4-1d532b6342b4/destPrefix/pik/test-file-8d06b127-927f-b45a-8cf3-dc01e13842b0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-language": "en-US,en-CA",
        "x-ms-content-length": "1024",
        "x-ms-content-type": "application/octe[...]
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-bf6597ff-262a-2709-7af4-1d532b6342b4/destPrefix/item1?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://jalauzonnettest.file.core.windows.net/test-share-eb4f3545-43b9-e487-303b-81b2584d0d7d/sourceFolder/item1?sv=sanitized-value&ss=f&srt=sco&se=2025-01-31T01%3A06%3A37Z&sp=rwdxylacuptfi&sig=Sanitized",
        "x-ms-date": "Thu, 30 Jan 2025 01:06:38 GMT",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD40CA595FD32D\"",
        "Last-Modified": "Thu, 30 Jan 2025 01:06:38 GMT",
        "x-ms-content-crc64": "iknlm7CyG2k=",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-bf6597ff-262a-2709-7af4-1d532b6342b4/destPrefix/bar/test-file-696dbb9d-6491-a151-3b05-76b9cd5590d1?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://jalauzonnettest.file.core.windows.net/test-share-eb4f3545-43b9-e487-303b-81b2584d0d7d/sourceFolder/bar/test-file-696dbb9d-6491-a151-3b05-76b9cd5590d1?sv=sanitized-value&ss=f&srt=sco&se=2025-01-31T01%3A06%3A37Z&sp=rwdxylacuptfi&sig=Sanitized",
        "x-ms-date": "Thu, 30 Jan 2025 01:06:38 GMT",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD40CA595FD32D\"",
        "Last-Modified": "Thu, 30 Jan 2025 01:06:38 GMT",
        "x-ms-content-crc64": "iknlm7CyG2k=",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-bf6597ff-262a-2709-7af4-1d532b6342b4/destPrefix/test-file-5aa78225-84ce-6565-7fb6-1ff429f16fff?comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-language": "en-US,en-CA",
        "x-ms-content-type": "application/octet-stream",
        "x-ms-da[...]
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-bf6597ff-262a-2709-7af4-1d532b6342b4/destPrefix/pik/test-file-8d06b127-927f-b45a-8cf3-dc01e13842b0?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://jalauzonnettest.file.core.windows.net/test-share-eb4f3545-43b9-e487-303b-81b2584d0d7d/sourceFolder/pik/test-file-8d06b127-927f-b45a-8cf3-dc01e13842b0?sv=sanitized-value&ss=f&srt=sco&se=2025-01-31T01%3A06%3A37Z&sp=rwdxylacuptfi&sig=Sanitized",
        "x-ms-date": "Thu, 30 Jan 2025 01:06:38 GMT",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD40CA596688F3\"",
        "Last-Modified": "Thu, 30 Jan 2025 01:06:38 GMT",
        "x-ms-content-crc64": "iknlm7CyG2k=",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-bf6597ff-262a-2709-7af4-1d532b6342b4/destPrefix/item1?comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-language": "en-US,en-CA",
        "x-ms-content-type": "application/octet-stream",
        "x-ms-date": "Thu, 30 Jan 2025 01:06:38 GMT",
   [...]
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-bf6597ff-262a-2709-7af4-1d532b6342b4/destPrefix/bar/test-file-696dbb9d-6491-a151-3b05-76b9cd5590d1?comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-language": "en-US,en-CA",
        "x-ms-content-type": "application/octet-stream",
        "x-m[...]
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-bf6597ff-262a-2709-7af4-1d532b6342b4/destPrefix/pik/test-file-8d06b127-927f-b45a-8cf3-dc01e13842b0?comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-language": "en-US,en-CA",
        "x-ms-content-type": "application/octet-stream",
        "x-m[...]
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-eb4f3545-43b9-e487-303b-81b2584d0d7d/sourceFolder?sv=Sanitized&ss=f&srt=sco&se=2025-01-31T01%3A06%3A37Z&sp=rwdxylacuptfi&sig=Sanitized&restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://jalauzonnettest.file.core.windows.net/\" ShareName=\"test-share-eb4f3545-43b9-e487-303b-81b2584d0d7d\" DirectoryPath=\"sourceFolder\"><DirectoryId>13835128424026341376</DirectoryId><Entries><Directory><Name>bar</Name><FileId>10376363910205800448</FileId><Properties /></Directory><File><Name>item1</Name><FileId>11529285414812647424</FileId><Properties><Content-Length>1024</Content-Length></Properties></File><Directory><Name>pik</Name><FileId>12682206919419494400</FileId><Properties /></Directory><File><Name>test-file-5aa78225-84ce-6565-7fb6-1ff429f16fff</Name><FileId>16140971433240035328</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-bf6597ff-262a-2709-7af4-1d532b6342b4/destPrefix?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 30 Jan 2025 01:06:38 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://jalauzonnettest.file.core.windows.net/\" ShareName=\"test-share-bf6597ff-262a-2709-7af4-1d532b6342b4\" DirectoryPath=\"destPrefix\"><DirectoryId>13835128424026341376</DirectoryId><Entries><Directory><Name>bar</Name><FileId>16140971433240035328</FileId><Properties /></Directory><File><Name>item1</Name><FileId>11529285414812647424</FileId><Properties><Content-Length>1024</Content-Length></Properties></File><Directory><Name>pik</Name><FileId>10376363910205800448</FileId><Properties /></Directory><File><Name>test-file-5aa78225-84ce-6565-7fb6-1ff429f16fff</Name><FileId>13835093239654252544</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-eb4f3545-43b9-e487-303b-81b2584d0d7d/sourceFolder/item1?sv=Sanitized&ss=f&srt=sco&se=2025-01-31T01%3A06%3A37Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": [
          "en-US",
          "en-CA"
        ],
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD40CA58F5D622\"",
        "Last-Modified": "Thu, 30 Jan 2025 01:06:37 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-04-01T13:30:03.0000000Z",
        "x-ms-file-creation-time": "2024-04-01T09:05:55.0000000Z",
[...]
