{
  "Entries": [
    {
      "RequestUri": "https://xmfxscnbn9pe18ex.file.preprod.core.windows.net/test-share-c8cfd11f-0df7-75bf-94f3-ede3bbd9a705?sv=Sanitized&ss=f&srt=sco&se=2025-05-15T20%3A08%3A31Z&sp=rwdxylacuptfi&sig=Sanitized&restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD932317AED554\"",
        "Last-Modified": "Wed, 14 May 2025 20:08:28 GMT",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://xmfxscnbn9pe18ex.file.preprod.core.windows.net/test-share-9d1b48f3-c4d0-c5a0-f50b-1503b39f47f5?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 14 May 2025 20:08:31 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD932317B48123\"",
        "Last-Modified": "Wed, 14 May 2025 20:08:28 GMT",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://xmfxscnbn9pe18ex.file.preprod.core.windows.net/test-share-c8cfd11f-0df7-75bf-94f3-ede3bbd9a705/sourceFolder?sv=Sanitized&ss=f&srt=sco&se=2025-05-15T20%3A08%3A31Z&sp=rwdxylacuptfi&sig=Sanitized&restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD932317B9596D\"",
        "Last-Modified": "Wed, 14 May 2025 20:08:28 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-05-14T20:08:28.7639917Z",
        "x-ms-file-creation-time": "2025-05-14T20:08:28.7639917Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-05-14T20:08:28.7639917Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "1926199100249633588*8241620249767961789",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://xmfxscnbn9pe18ex.file.preprod.core.windows.net/test-share-9d1b48f3-c4d0-c5a0-f50b-1503b39f47f5/destPrefix?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 14 May 2025 20:08:31 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD932317BD9A64\"",
        "Last-Modified": "Wed, 14 May 2025 20:08:28 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-05-14T20:08:28.7918692Z",
        "x-ms-file-creation-time": "2025-05-14T20:08:28.7918692Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-05-14T20:08:28.7918692Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "1926199100249633588*8241620249767961789",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://xmfxscnbn9pe18ex.file.preprod.core.windows.net/test-share-c8cfd11f-0df7-75bf-94f3-ede3bbd9a705/sourceFolder/test-file-8604a1d4-259c-3836-cb5a-273b911692b2?sv=Sanitized&ss=f&srt=sco&se=2025-05-15T20%3A08%3A31Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-language": "en-US,en-CA",
        "x-ms-content-length": "1024",
        "x-ms-file-attributes": "None",
        "x-ms-file-change-time": "2024-04-01T13:30:03.0000000Z",
        "x-ms-file-creation-time": "2024-04-01T09:05:55.0000000Z",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-type": "file",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD932317C2EB99\"",
        "Last-Modified": "Wed, 14 May 2025 20:08:28 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-04-01T13:30:03.0000000Z",
        "x-ms-file-creation-time": "2024-04-01T09:05:55.0000000Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "15762868840871496755*8241620249767961789",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://xmfxscnbn9pe18ex.file.preprod.core.windows.net/test-share-c8cfd11f-0df7-75bf-94f3-ede3bbd9a705/sourceFolder/bar?sv=Sanitized&ss=f&srt=sco&se=2025-05-15T20%3A08%3A31Z&sp=rwdxylacuptfi&sig=Sanitized&restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD932317CBE23B\"",
        "Last-Modified": "Wed, 14 May 2025 20:08:28 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-05-14T20:08:28.8854587Z",
        "x-ms-file-creation-time": "2025-05-14T20:08:28.8854587Z",
        "x-ms-file-id": "10376363910205800448",
        "x-ms-file-last-write-time": "2025-05-14T20:08:28.8854587Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "1926199100249633588*8241620249767961789",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://xmfxscnbn9pe18ex.file.preprod.core.windows.net/test-share-c8cfd11f-0df7-75bf-94f3-ede3bbd9a705/sourceFolder/bar/test-file-719a288d-8ae4-f538-83f1-dccdb1753813?sv=Sanitized&ss=f&srt=sco&se=2025-05-15T20%3A08%3A31Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-language": "en-US,en-CA",
        "x-ms-content-lengt[...]
    {
      "RequestUri": "https://xmfxscnbn9pe18ex.file.preprod.core.windows.net/test-share-c8cfd11f-0df7-75bf-94f3-ede3bbd9a705/sourceFolder/pik?sv=Sanitized&ss=f&srt=sco&se=2025-05-15T20%3A08%3A31Z&sp=rwdxylacuptfi&sig=Sanitized&restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD932317D4642C\"",
        "Last-Modified": "Wed, 14 May 2025 20:08:28 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-05-14T20:08:28.9412140Z",
        "x-ms-file-creation-time": "2025-05-14T20:08:28.9412140Z",
        "x-ms-file-id": "12682206919419494400",
        "x-ms-file-last-write-time": "2025-05-14T20:08:28.9412140Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "1926199100249633588*8241620249767961789",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://xmfxscnbn9pe18ex.file.preprod.core.windows.net/test-share-c8cfd11f-0df7-75bf-94f3-ede3bbd9a705/sourceFolder/pik/test-file-d5ffc8ac-8103-0c99-5db1-d2286c4e04f7?sv=Sanitized&ss=f&srt=sco&se=2025-05-15T20%3A08%3A31Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-language": "en-US,en-CA",
        "x-ms-content-lengt[...]
    {
      "RequestUri": "https://xmfxscnbn9pe18ex.file.preprod.core.windows.net/test-share-c8cfd11f-0df7-75bf-94f3-ede3bbd9a705?sv=Sanitized&ss=f&srt=sco&se=2025-05-15T20%3A08%3A31Z&sp=rwdxylacuptfi&sig=Sanitized&restype=share",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD932317AED554\"",
        "Last-Modified": "Wed, 14 May 2025 20:08:28 GMT",
        "x-ms-access-tier": "TransactionOptimized",
        "x-ms-access-tier-change-time": "Wed, 14 May 2025 20:08:28 GMT",
        "x-ms-enabled-protocols": "SMB",
        "x-ms-has-immutability-policy": "false",
        "x-ms-has-legal-hold": "false",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-share-quota": "102400",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://xmfxscnbn9pe18ex.file.preprod.core.windows.net/test-share-c8cfd11f-0df7-75bf-94f3-ede3bbd9a705/sourceFolder?sv=Sanitized&ss=f&srt=sco&se=2025-05-15T20%3A08%3A31Z&sp=rwdxylacuptfi&sig=Sanitized&restype=directory&comp=list&include=Attributes",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://xmfxscnbn9pe18ex.file.preprod.core.windows.net/\" ShareName=\"test-share-c8cfd11f-0df7-75bf-94f3-ede3bbd9a705\" DirectoryPath=\"sourceFolder\"><DirectoryId>13835128424026341376</DirectoryId><Entries><Directory><Name>bar</Name><FileId>10376363910205800448</FileId><Properties /><Attributes>Directory</Attributes></Directory><Directory><Name>pik</Name><FileId>12682206919419494400</FileId><Properties /><Attributes>Directory</Attributes></Directory><File><Name>test-file-8070fd35-6302-4f0d-0e34-1e66798c27f4</Name><FileId>16140971433240035328</FileId><Properties><Content-Length>1024</Content-Length></Properties><Attributes>Archive</Attributes></File><File><Name>test-file-8604a1d4-259c-3836-cb5a-273b911692b2</Name><FileId>11529285414812647424</FileId><Properties><Content-Length>1024</Content-Length></Properties><Attributes>Archive</Attributes></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://xmfxscnbn9pe18ex.file.preprod.core.windows.net/test-share-c8cfd11f-0df7-75bf-94f3-ede3bbd9a705/sourceFolder/bar?sv=Sanitized&ss=f&srt=sco&se=2025-05-15T20%3A08%3A31Z&sp=rwdxylacuptfi&sig=Sanitized&restype=directory",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD932317CBE23B\"",
        "Last-Modified": "Wed, 14 May 2025 20:08:28 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-05-14T20:08:28.8854587Z",
        "x-ms-file-creation-time": "2025-05-14T20:08:28.8854587Z",
        "x-ms-file-id": "10376363910205800448",
        "x-ms-file-last-write-time": "2025-05-14T20:08:28.8854587Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "1926199100249633588*8241620249767961789",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://xmfxscnbn9pe18ex.file.preprod.core.windows.net/test-share-9d1b48f3-c4d0-c5a0-f50b-1503b39f47f5/destPrefix/bar?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 14 May 2025 20:08:31 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-05-14T20:08:28.8854587Z",
        "x-ms-file-creation-time": "2025-05-14T20:08:28.8854587Z",
        "x-ms-file-last-write-time": "2025-05-14T20:08:28.8854587Z",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD932317F03163\"",
        "Last-Modified": "Wed, 14 May 2025 20:08:29 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-05-14T20:08:28.8854587Z",
        "x-ms-file-creation-time": "2025-05-14T20:08:28.8854587Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2025-05-14T20:08:28.8854587Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "1926199100249633588*8241620249767961789",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://xmfxscnbn9pe18ex.file.preprod.core.windows.net/test-share-9d1b48f3-c4d0-c5a0-f50b-1503b39f47f5/destPrefix/pik?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 14 May 2025 20:08:31 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-05-14T20:08:28.9412140Z",
        "x-ms-file-creation-time": "2025-05-14T20:08:28.9412140Z",
        "x-ms-file-last-write-time": "2025-05-14T20:08:28.9412140Z",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD932317F7C9FD\"",
        "Last-Modified": "Wed, 14 May 2025 20:08:29 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-05-14T20:08:28.9412140Z",
        "x-ms-file-creation-time": "2025-05-14T20:08:28.9412140Z",
        "x-ms-file-id": "16140971433240035328",
        "x-ms-file-last-write-time": "2025-05-14T20:08:28.9412140Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "1926199100249633588*8241620249767961789",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://xmfxscnbn9pe18ex.file.preprod.core.windows.net/test-share-c8cfd11f-0df7-75bf-94f3-ede3bbd9a705/sourceFolder/bar?sv=Sanitized&ss=f&srt=sco&se=2025-05-15T20%3A08%3A31Z&sp=rwdxylacuptfi&sig=Sanitized&restype=directory&comp=list&include=Attributes",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://xmfxscnbn9pe18ex.file.preprod.core.windows.net/\" ShareName=\"test-share-c8cfd11f-0df7-75bf-94f3-ede3bbd9a705\" DirectoryPath=\"sourceFolder/bar\"><DirectoryId>10376363910205800448</DirectoryId><Entries><File><Name>test-file-719a288d-8ae4-f538-83f1-dccdb1753813</Name><FileId>14988049928633188352</FileId><Properties><Content-Length>1024</Content-Length></Properties><Attributes>Archive</Attributes></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://xmfxscnbn9pe18ex.file.preprod.core.windows.net/test-share-c8cfd11f-0df7-75bf-94f3-ede3bbd9a705/sourceFolder/test-file-8604a1d4-259c-3836-cb5a-273b911692b2?sv=Sanitized&ss=f&srt=sco&se=2025-05-15T20%3A08%3A31Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": [
          "en-US",
          "en-CA"
        ],
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD932317C2EB99\"",
        "Last-Modified": "Wed, 14 May 2025 20:08:28 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-04-01T13:30:03.0000000Z",
        "x-ms-file-creation-time": "2024-04-01T09:05:55.0000000Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "15762868840871496755*8241620249767961789",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://xmfxscnbn9pe18ex.file.preprod.core.windows.net/test-share-c8cfd11f-0df7-75bf-94f3-ede3bbd9a705/sourceFolder/pik?sv=Sanitized&ss=f&srt=sco&se=2025-05-15T20%3A08%3A31Z&sp=rwdxylacuptfi&sig=Sanitized&restype=directory&comp=list&include=Attributes",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://xmfxscnbn9pe18ex.file.preprod.core.windows.net/\" ShareName=\"test-share-c8cfd11f-0df7-75bf-94f3-ede3bbd9a705\" DirectoryPath=\"sourceFolder/pik\"><DirectoryId>12682206919419494400</DirectoryId><Entries><File><Name>test-file-d5ffc8ac-8103-0c99-5db1-d2286c4e04f7</Name><FileId>17293892937846882304</FileId><Properties><Content-Length>1024</Content-Length></Properties><Attributes>Archive</Attributes></File></Entries><NextMarker /></EnumerationResults>"
    },
[...]
    {
      "RequestUri": "https://xmfxscnbn9pe18ex.file.preprod.core.windows.net/test-share-9d1b48f3-c4d0-c5a0-f50b-1503b39f47f5/destPrefix/test-file-8604a1d4-259c-3836-cb5a-273b911692b2",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-language": "en-US,en-CA",
        "x-ms-content-length": "1024",
        "x-ms-content-type": "application/octet-stream",
        "x-ms-date": "Wed, 14 May 2025 20:08:32 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-04-01T13:30:03.0000000Z",
        "x-ms-file-creation-time": "2024-04-01T09:05:55.0000000Z",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-type": "file",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD9323180C734C\"",
        "Last-Modified": "Wed, 14 May 2025 20:08:29 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-04-01T13:30:03.0000000Z",
        "x-ms-file-creation-time": "2024-04-01T09:05:55.0000000Z",
        "x-ms-file-id": "13835093239654252544",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "15762868840871496755*8241620249767961789",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://xmfxscnbn9pe18ex.file.preprod.core.windows.net/test-share-9d1b48f3-c4d0-c5a0-f50b-1503b39f47f5/destPrefix/bar/test-file-719a288d-8ae4-f538-83f1-dccdb1753813",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-language": "en-US,en-CA",
        "x-ms-content-length": "1024",
        "x-ms-content-type": "applica[...]
[...]
    {
      "RequestUri": "https://xmfxscnbn9pe18ex.file.preprod.core.windows.net/test-share-9d1b48f3-c4d0-c5a0-f50b-1503b39f47f5/destPrefix/test-file-8604a1d4-259c-3836-cb5a-273b911692b2?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://xmfxscnbn9pe18ex.file.preprod.core.windows.net/test-share-c8cfd11f-0df7-75bf-94f3-ede3bbd9a705/sourceFolder/test-file-8604a1d4-259c-3836-cb5a-273b911692b2?sv=sanitized-value&ss=f&srt=sco&se=2025-05-15T20%3A08%3A31Z&sp=rwdxylacuptfi&sig=Sanitized",
        "x-ms-date": "Wed, 14 May 2025 20:08:32 GMT",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2025-07-05",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD932318139736\"",
        "Last-Modified": "Wed, 14 May 2025 20:08:29 GMT",
        "x-ms-content-crc64": "iknlm7CyG2k=",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://xmfxscnbn9pe18ex.file.preprod.core.windows.net/test-share-9d1b48f3-c4d0-c5a0-f50b-1503b39f47f5/destPrefix/bar/test-file-719a288d-8ae4-f538-83f1-dccdb1753813?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://xmfxscnbn9pe18ex.file.preprod.core.windows.net/test-share-c8cfd11f-0df7-75bf-94f3-ede3bbd9a705/sourceFolder/bar/test-file-719a288d-8ae4-f538-83f1-dccdb1753813?sv=sanitized-value&ss=f&srt=sco&se=2025-05-15T20%3A08%3A31Z&sp=rwdxylacuptfi&sig=Sanitized",
        "x-ms-date": "Wed, 14 May 2025 20:08:32 GMT",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2025-07-05",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD93231816EED1\"",
        "Last-Modified": "Wed, 14 May 2025 20:08:29 GMT",
        "x-ms-content-crc64": "iknlm7CyG2k=",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://xmfxscnbn9pe18ex.file.preprod.core.windows.net/test-share-9d1b48f3-c4d0-c5a0-f50b-1503b39f47f5/destPrefix/test-file-8604a1d4-259c-3836-cb5a-273b911692b2?comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-language": "en-US,en-CA",
        "x-ms-content-type": "application/octet-stream",
       [...]
    {
      "RequestUri": "https://xmfxscnbn9pe18ex.file.preprod.core.windows.net/test-share-9d1b48f3-c4d0-c5a0-f50b-1503b39f47f5/destPrefix/pik/test-file-d5ffc8ac-8103-0c99-5db1-d2286c4e04f7",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-language": "en-US,en-CA",
        "x-ms-content-length": "1024",
        "x-ms-content-type": "applica[...]
[...]
    {
      "RequestUri": "https://xmfxscnbn9pe18ex.file.preprod.core.windows.net/test-share-9d1b48f3-c4d0-c5a0-f50b-1503b39f47f5/destPrefix/bar/test-file-719a288d-8ae4-f538-83f1-dccdb1753813?comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-language": "en-US,en-CA",
        "x-ms-content-type": "application/octet-stream",
   [...]
    {
      "RequestUri": "https://xmfxscnbn9pe18ex.file.preprod.core.windows.net/test-share-9d1b48f3-c4d0-c5a0-f50b-1503b39f47f5/destPrefix/pik/test-file-d5ffc8ac-8103-0c99-5db1-d2286c4e04f7?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://xmfxscnbn9pe18ex.file.preprod.core.windows.net/test-share-c8cfd11f-0df7-75bf-94f3-ede3bbd9a705/sourceFolder/pik/test-file-d5ffc8ac-8103-0c99-5db1-d2286c4e04f7?sv=sanitized-value&ss=f&srt=sco&se=2025-05-15T20%3A08%3A31Z&sp=rwdxylacuptfi&sig=Sanitized",
        "x-ms-date": "Wed, 14 May 2025 20:08:32 GMT",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2025-07-05",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD9323181D0280\"",
        "Last-Modified": "Wed, 14 May 2025 20:08:29 GMT",
        "x-ms-content-crc64": "iknlm7CyG2k=",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://xmfxscnbn9pe18ex.file.preprod.core.windows.net/test-share-9d1b48f3-c4d0-c5a0-f50b-1503b39f47f5/destPrefix/pik/test-file-d5ffc8ac-8103-0c99-5db1-d2286c4e04f7?comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-language": "en-US,en-CA",
        "x-ms-content-type": "application/octet-stream",
   [...]
    {
      "RequestUri": "https://xmfxscnbn9pe18ex.file.preprod.core.windows.net/test-share-c8cfd11f-0df7-75bf-94f3-ede3bbd9a705/sourceFolder?sv=Sanitized&ss=f&srt=sco&se=2025-05-15T20%3A08%3A31Z&sp=rwdxylacuptfi&sig=Sanitized&restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://xmfxscnbn9pe18ex.file.preprod.core.windows.net/\" ShareName=\"test-share-c8cfd11f-0df7-75bf-94f3-ede3bbd9a705\" DirectoryPath=\"sourceFolder\"><DirectoryId>13835128424026341376</DirectoryId><Entries><Directory><Name>bar</Name><FileId>10376363910205800448</FileId><Properties /></Directory><Directory><Name>pik</Name><FileId>12682206919419494400</FileId><Properties /></Directory><File><Name>test-file-8070fd35-6302-4f0d-0e34-1e66798c27f4</Name><FileId>16140971433240035328</FileId><Properties><Content-Length>1024</Content-Length></Properties></File><File><Name>test-file-8604a1d4-259c-3836-cb5a-273b911692b2</Name><FileId>11529285414812647424</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://xmfxscnbn9pe18ex.file.preprod.core.windows.net/test-share-9d1b48f3-c4d0-c5a0-f50b-1503b39f47f5/destPrefix?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 14 May 2025 20:08:32 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://xmfxscnbn9pe18ex.file.preprod.core.windows.net/\" ShareName=\"test-share-9d1b48f3-c4d0-c5a0-f50b-1503b39f47f5\" DirectoryPath=\"destPrefix\"><DirectoryId>13835128424026341376</DirectoryId><Entries><Directory><Name>bar</Name><FileId>11529285414812647424</FileId><Properties /></Directory><Directory><Name>pik</Name><FileId>16140971433240035328</FileId><Properties /></Directory><File><Name>test-file-8070fd35-6302-4f0d-0e34-1e66798c27f4</Name><FileId>10376363910205800448</FileId><Properties><Content-Length>1024</Content-Length></Properties></File><File><Name>test-file-8604a1d4-259c-3836-cb5a-273b911692b2</Name><FileId>13835093239654252544</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
[...]
    {
      "RequestUri": "https://xmfxscnbn9pe18ex.file.preprod.core.windows.net/test-share-c8cfd11f-0df7-75bf-94f3-ede3bbd9a705/sourceFolder/test-file-8070fd35-6302-4f0d-0e34-1e66798c27f4?sv=Sanitized&ss=f&srt=sco&se=2025-05-15T20%3A08%3A31Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": [
          "en-US",
          "en-CA"
        ],
        "Content-Range": "bytes 0-1023/1024",
[...]
