{
  "Entries": [
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-a8911164-4da1-d21d-4218-9bf1578f556b?sv=Sanitized&ss=f&srt=sco&se=2025-08-13T19%3A50%3A15Z&sp=rwdxylacuptfi&sig=Sanitized&restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDD9D97294F22C\"",
        "Last-Modified": "Tue, 12 Aug 2025 19:50:10 GMT",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-2c12224f-545b-3e16-91a8-a2ca00216807?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 12 Aug 2025 19:50:15 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDD9D972996DF7\"",
        "Last-Modified": "Tue, 12 Aug 2025 19:50:11 GMT",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-a8911164-4da1-d21d-4218-9bf1578f556b/sourceFolder?sv=Sanitized&ss=f&srt=sco&se=2025-08-13T19%3A50%3A15Z&sp=rwdxylacuptfi&sig=Sanitized&restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDD9D9729FFDCF\"",
        "Last-Modified": "Tue, 12 Aug 2025 19:50:11 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-08-12T19:50:11.0696911Z",
        "x-ms-file-creation-time": "2025-08-12T19:50:11.0696911Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-08-12T19:50:11.0696911Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "13252330444922611895*16083086822043778878",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-a8911164-4da1-d21d-4218-9bf1578f556b/sourceFolder/test-file-29b642e3-92bb-6cd2-bb34-ed8cb04de1e6?sv=Sanitized&ss=f&srt=sco&se=2025-08-13T19%3A50%3A15Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-language": "en-US,en-CA",
        "x-ms-content-length": "512",
        "x-ms-file-attributes": "None",
        "x-ms-file-change-time": "2024-04-01T13:30:03.0000000Z",
        "x-ms-file-creation-time": "2024-04-01T09:05:55.0000000Z",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-type": "file",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDD9D972A3A336\"",
        "Last-Modified": "Tue, 12 Aug 2025 19:50:11 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-04-01T13:30:03.0000000Z",
        "x-ms-file-creation-time": "2024-04-01T09:05:55.0000000Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "8616074386732128176*16083086822043778878",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-a8911164-4da1-d21d-4218-9bf1578f556b/sourceFolder/bar?sv=Sanitized&ss=f&srt=sco&se=2025-08-13T19%3A50%3A15Z&sp=rwdxylacuptfi&sig=Sanitized&restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDD9D972AE1EC0\"",
        "Last-Modified": "Tue, 12 Aug 2025 19:50:11 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-08-12T19:50:11.1622848Z",
        "x-ms-file-creation-time": "2025-08-12T19:50:11.1622848Z",
        "x-ms-file-id": "10376363910205800448",
        "x-ms-file-last-write-time": "2025-08-12T19:50:11.1622848Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "13252330444922611895*16083086822043778878",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-a8911164-4da1-d21d-4218-9bf1578f556b/sourceFolder/bar/test-file-ba38c098-6282-cc3a-e569-4b3c6ca6fd81?sv=Sanitized&ss=f&srt=sco&se=2025-08-13T19%3A50%3A15Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-language": "en-US,en-CA",
        "x-ms-content-length": [...]
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-a8911164-4da1-d21d-4218-9bf1578f556b/sourceFolder/pik?sv=Sanitized&ss=f&srt=sco&se=2025-08-13T19%3A50%3A15Z&sp=rwdxylacuptfi&sig=Sanitized&restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDD9D972B7155D\"",
        "Last-Modified": "Tue, 12 Aug 2025 19:50:11 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-08-12T19:50:11.2210269Z",
        "x-ms-file-creation-time": "2025-08-12T19:50:11.2210269Z",
        "x-ms-file-id": "12682206919419494400",
        "x-ms-file-last-write-time": "2025-08-12T19:50:11.2210269Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "13252330444922611895*16083086822043778878",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-a8911164-4da1-d21d-4218-9bf1578f556b/sourceFolder/pik/test-file-08303c78-435d-f1ee-54d5-8f9760140d35?sv=Sanitized&ss=f&srt=sco&se=2025-08-13T19%3A50%3A15Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-language": "en-US,en-CA",
        "x-ms-content-length": [...]
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-2c12224f-545b-3e16-91a8-a2ca00216807/destinationFolder?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 12 Aug 2025 19:50:15 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDD9D972C0F556\"",
        "Last-Modified": "Tue, 12 Aug 2025 19:50:11 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-08-12T19:50:11.2857430Z",
        "x-ms-file-creation-time": "2025-08-12T19:50:11.2857430Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-08-12T19:50:11.2857430Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "13252330444922611895*16083086822043778878",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-a8911164-4da1-d21d-4218-9bf1578f556b?sv=Sanitized&ss=f&srt=sco&se=2025-08-13T19%3A50%3A15Z&sp=rwdxylacuptfi&sig=Sanitized&restype=share",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DDD9D97294F22C\"",
        "Last-Modified": "Tue, 12 Aug 2025 19:50:10 GMT",
        "x-ms-access-tier": "TransactionOptimized",
        "x-ms-access-tier-change-time": "Tue, 12 Aug 2025 19:50:10 GMT",
        "x-ms-has-immutability-policy": "false",
        "x-ms-has-legal-hold": "false",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-share-quota": "102400",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-a8911164-4da1-d21d-4218-9bf1578f556b/sourceFolder?sv=Sanitized&ss=f&srt=sco&se=2025-08-13T19%3A50%3A15Z&sp=rwdxylacuptfi&sig=Sanitized&restype=directory&comp=list&include=Attributes",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://nickliuproductionacc.file.core.windows.net/\" ShareName=\"test-share-a8911164-4da1-d21d-4218-9bf1578f556b\" DirectoryPath=\"sourceFolder\"><DirectoryId>13835128424026341376</DirectoryId><Entries><Directory><Name>bar</Name><FileId>10376363910205800448</FileId><Properties /><Attributes>Directory</Attributes></Directory><Directory><Name>pik</Name><FileId>12682206919419494400</FileId><Properties /><Attributes>Directory</Attributes></Directory><File><Name>test-file-29b642e3-92bb-6cd2-bb34-ed8cb04de1e6</Name><FileId>11529285414812647424</FileId><Properties><Content-Length>512</Content-Length></Properties><Attributes>Archive</Attributes></File><File><Name>test-file-ac87b8b8-5bfa-655f-198e-c07b375c8e8b</Name><FileId>16140971433240035328</FileId><Properties><Content-Length>512</Content-Length></Properties><Attributes>Archive</Attributes></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-a8911164-4da1-d21d-4218-9bf1578f556b/sourceFolder/bar?sv=Sanitized&ss=f&srt=sco&se=2025-08-13T19%3A50%3A15Z&sp=rwdxylacuptfi&sig=Sanitized&restype=directory",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DDD9D972AE1EC0\"",
        "Last-Modified": "Tue, 12 Aug 2025 19:50:11 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-08-12T19:50:11.1622848Z",
        "x-ms-file-creation-time": "2025-08-12T19:50:11.1622848Z",
        "x-ms-file-id": "10376363910205800448",
        "x-ms-file-last-write-time": "2025-08-12T19:50:11.1622848Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "13252330444922611895*16083086822043778878",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-2c12224f-545b-3e16-91a8-a2ca00216807/destinationFolder/bar?restype=directory",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 12 Aug 2025 19:50:15 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ResourceNotFound</Code><Message>The specified resource does not exist.\n",
        "RequestId:8585b04e-401a-006a-7fc2-0b62f2000000\n",
        "Time:2025-08-12T19:50:11.4128302Z</Message></Error>"
      ]
    },
[...]
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-2c12224f-545b-3e16-91a8-a2ca00216807/destinationFolder/pik?restype=directory",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 12 Aug 2025 19:50:15 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ResourceNotFound</Code><Message>The specified resource does not exist.\n",
        "RequestId:8585b051-401a-006a-02c2-0b62f2000000\n",
        "Time:2025-08-12T19:50:11.4812448Z</Message></Error>"
      ]
    },
[...]
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-a8911164-4da1-d21d-4218-9bf1578f556b/sourceFolder/bar?sv=Sanitized&ss=f&srt=sco&se=2025-08-13T19%3A50%3A15Z&sp=rwdxylacuptfi&sig=Sanitized&restype=directory&comp=list&include=Attributes",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://nickliuproductionacc.file.core.windows.net/\" ShareName=\"test-share-a8911164-4da1-d21d-4218-9bf1578f556b\" DirectoryPath=\"sourceFolder/bar\"><DirectoryId>10376363910205800448</DirectoryId><Entries><File><Name>test-file-ba38c098-6282-cc3a-e569-4b3c6ca6fd81</Name><FileId>14988049928633188352</FileId><Properties><Content-Length>512</Content-Length></Properties><Attributes>Archive</Attributes></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-a8911164-4da1-d21d-4218-9bf1578f556b/sourceFolder/test-file-ac87b8b8-5bfa-655f-198e-c07b375c8e8b?sv=Sanitized&ss=f&srt=sco&se=2025-08-13T19%3A50%3A15Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": [
          "en-US",
          "en-CA"
        ],
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DDD9D972A99000\"",
        "Last-Modified": "Tue, 12 Aug 2025 19:50:11 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-04-01T13:30:03.0000000Z",
        "x-ms-file-creation-time": "2024-04-01T09:05:55.0000000Z",
        "x-ms-file-id": "16140971433240035328",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "8616074386732128176*16083086822043778878",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-a8911164-4da1-d21d-4218-9bf1578f556b/sourceFolder/pik?sv=Sanitized&ss=f&srt=sco&se=2025-08-13T19%3A50%3A15Z&sp=rwdxylacuptfi&sig=Sanitized&restype=directory&comp=list&include=Attributes",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://nickliuproductionacc.file.core.windows.net/\" ShareName=\"test-share-a8911164-4da1-d21d-4218-9bf1578f556b\" DirectoryPath=\"sourceFolder/pik\"><DirectoryId>12682206919419494400</DirectoryId><Entries><File><Name>test-file-08303c78-435d-f1ee-54d5-8f9760140d35</Name><FileId>17293892937846882304</FileId><Properties><Content-Length>512</Content-Length></Properties><Attributes>Archive</Attributes></File></Entries><NextMarker /></EnumerationResults>"
    },
[...]
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-2c12224f-545b-3e16-91a8-a2ca00216807/destinationFolder/test-file-29b642e3-92bb-6cd2-bb34-ed8cb04de1e6",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 12 Aug 2025 19:50:16 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-2c12224f-545b-3e16-91a8-a2ca00216807/destinationFolder/bar/test-file-ba38c098-6282-cc3a-e569-4b3c6ca6fd81",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 12 Aug 2025 19:50:16 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-2c12224f-545b-3e16-91a8-a2ca00216807/destinationFolder/test-file-29b642e3-92bb-6cd2-bb34-ed8cb04de1e6",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-language": "en-US,en-CA",
        "x-ms-content-length": "512",
        "x-ms-content-type": "application/octet-stream",
        "x-ms-date": "Tue, 12 Aug 2025 19:50:16 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-04-01T13:30:03.0000000Z",
        "x-ms-file-creation-time": "2024-04-01T09:05:55.0000000Z",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-type": "file",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDD9D972F1E077\"",
        "Last-Modified": "Tue, 12 Aug 2025 19:50:11 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-04-01T13:30:03.0000000Z",
        "x-ms-file-creation-time": "2024-04-01T09:05:55.0000000Z",
        "x-ms-file-id": "13835093239654252544",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "8616074386732128176*16083086822043778878",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-2c12224f-545b-3e16-91a8-a2ca00216807/destinationFolder/pik/test-file-08303c78-435d-f1ee-54d5-8f9760140d35",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 12 Aug 2025 19:50:16 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-2c12224f-545b-3e16-91a8-a2ca00216807/destinationFolder/test-file-29b642e3-92bb-6cd2-bb34-ed8cb04de1e6?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://nickliuproductionacc.file.core.windows.net/test-share-a8911164-4da1-d21d-4218-9bf1578f556b/sourceFolder/test-file-29b642e3-92bb-6cd2-bb34-ed8cb04de1e6?sv=sanitized-value&ss=f&srt=sco&se=2025-08-13T19%3A50%3A15Z&sp=rwdxylacuptfi&sig=Sanitized",
        "x-ms-date": "Tue, 12 Aug 2025 19:50:16 GMT",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-511",
        "x-ms-source-range": "bytes=0-511",
        "x-ms-version": "2025-11-05",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDD9D972F7A659\"",
        "Last-Modified": "Tue, 12 Aug 2025 19:50:11 GMT",
        "x-ms-content-crc64": "6YKnaCgO5h0=",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-2c12224f-545b-3e16-91a8-a2ca00216807/destinationFolder/test-file-ac87b8b8-5bfa-655f-198e-c07b375c8e8b?comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-language": "en-US,en-CA",
        "x-ms-content-type": "application/octet-stream",
    [...]
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-2c12224f-545b-3e16-91a8-a2ca00216807/destinationFolder/bar/test-file-ba38c098-6282-cc3a-e569-4b3c6ca6fd81?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://nickliuproductionacc.file.core.windows.net/test-share-a8911164-4da1-d21d-4218-9bf1578f556b/sourceFolder/bar/test-file-ba38c098-6282-cc3a-e569-4b3c6ca6fd81?sv=sanitized-value&ss=f&srt=sco&se=2025-08-13T19%3A50%3A15Z&sp=rwdxylacuptfi&sig=Sanitized",
        "x-ms-date": "Tue, 12 Aug 2025 19:50:16 GMT",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-511",
        "x-ms-source-range": "bytes=0-511",
        "x-ms-version": "2025-11-05",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDD9D972FAB031\"",
        "Last-Modified": "Tue, 12 Aug 2025 19:50:11 GMT",
        "x-ms-content-crc64": "6YKnaCgO5h0=",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-2c12224f-545b-3e16-91a8-a2ca00216807/destinationFolder/pik/test-file-08303c78-435d-f1ee-54d5-8f9760140d35?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://nickliuproductionacc.file.core.windows.net/test-share-a8911164-4da1-d21d-4218-9bf1578f556b/sourceFolder/pik/test-file-08303c78-435d-f1ee-54d5-8f9760140d35?sv=sanitized-value&ss=f&srt=sco&se=2025-08-13T19%3A50%3A15Z&sp=rwdxylacuptfi&sig=Sanitized",
        "x-ms-date": "Tue, 12 Aug 2025 19:50:16 GMT",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-511",
        "x-ms-source-range": "bytes=0-511",
        "x-ms-version": "2025-11-05",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDD9D972FC5C00\"",
        "Last-Modified": "Tue, 12 Aug 2025 19:50:11 GMT",
        "x-ms-content-crc64": "6YKnaCgO5h0=",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-2c12224f-545b-3e16-91a8-a2ca00216807/destinationFolder/bar/test-file-ba38c098-6282-cc3a-e569-4b3c6ca6fd81?comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-language": "en-US,en-CA",
        "x-ms-content-type": "application/octet-stream",
[...]
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-2c12224f-545b-3e16-91a8-a2ca00216807/destinationFolder/pik/test-file-08303c78-435d-f1ee-54d5-8f9760140d35?comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-language": "en-US,en-CA",
        "x-ms-content-type": "application/octet-stream",
[...]
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-a8911164-4da1-d21d-4218-9bf1578f556b/sourceFolder?sv=Sanitized&ss=f&srt=sco&se=2025-08-13T19%3A50%3A15Z&sp=rwdxylacuptfi&sig=Sanitized&restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://nickliuproductionacc.file.core.windows.net/\" ShareName=\"test-share-a8911164-4da1-d21d-4218-9bf1578f556b\" DirectoryPath=\"sourceFolder\"><DirectoryId>13835128424026341376</DirectoryId><Entries><Directory><Name>bar</Name><FileId>10376363910205800448</FileId><Properties /></Directory><Directory><Name>pik</Name><FileId>12682206919419494400</FileId><Properties /></Directory><File><Name>test-file-29b642e3-92bb-6cd2-bb34-ed8cb04de1e6</Name><FileId>11529285414812647424</FileId><Properties><Content-Length>512</Content-Length></Properties></File><File><Name>test-file-ac87b8b8-5bfa-655f-198e-c07b375c8e8b</Name><FileId>16140971433240035328</FileId><Properties><Content-Length>512</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-2c12224f-545b-3e16-91a8-a2ca00216807/destinationFolder?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 12 Aug 2025 19:50:16 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://nickliuproductionacc.file.core.windows.net/\" ShareName=\"test-share-2c12224f-545b-3e16-91a8-a2ca00216807\" DirectoryPath=\"destinationFolder\"><DirectoryId>13835128424026341376</DirectoryId><Entries><Directory><Name>bar</Name><FileId>11529285414812647424</FileId><Properties /></Directory><Directory><Name>pik</Name><FileId>16140971433240035328</FileId><Properties /></Directory><File><Name>test-file-29b642e3-92bb-6cd2-bb34-ed8cb04de1e6</Name><FileId>13835093239654252544</FileId><Properties><Content-Length>512</Content-Length></Properties></File><File><Name>test-file-ac87b8b8-5bfa-655f-198e-c07b375c8e8b</Name><FileId>10376363910205800448</FileId><Properties><Content-Length>512</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
[...]
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-a8911164-4da1-d21d-4218-9bf1578f556b/sourceFolder/test-file-29b642e3-92bb-6cd2-bb34-ed8cb04de1e6?sv=Sanitized&ss=f&srt=sco&se=2025-08-13T19%3A50%3A15Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-range": "bytes=0-511",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": [
          "en-US",
          "en-CA"
        ],
        "Content-Range": "bytes 0-511/512",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DDD9D972A3A336\"",
        "Last-Modified": "Tue, 12 Aug 2025 19:50:11 GMT",
        "x-ms-file-attributes": "Archive",
[...]
