{
  "Entries": [
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-fd3e5972-e821-b1d3-62b2-b0448ee0c9f8?sv=Sanitized&ss=f&srt=sco&se=2025-05-15T23%3A25%3A00Z&sp=rwdxylacuptfi&sig=Sanitized&restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD933E8A53CDEF\"",
        "Last-Modified": "Wed, 14 May 2025 23:24:57 GMT",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-8bb26cf4-a049-6f49-a73e-19ce52bf6b46?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 14 May 2025 23:25:00 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD933E8A5BD954\"",
        "Last-Modified": "Wed, 14 May 2025 23:24:57 GMT",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-fd3e5972-e821-b1d3-62b2-b0448ee0c9f8/sourceFolder?sv=Sanitized&ss=f&srt=sco&se=2025-05-15T23%3A25%3A00Z&sp=rwdxylacuptfi&sig=Sanitized&restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD933E8A621B50\"",
        "Last-Modified": "Wed, 14 May 2025 23:24:57 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-05-14T23:24:57.5419216Z",
        "x-ms-file-creation-time": "2025-05-14T23:24:57.5419216Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-05-14T23:24:57.5419216Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "13252330444922611895*16083086822043778878",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-fd3e5972-e821-b1d3-62b2-b0448ee0c9f8/sourceFolder/folder0?sv=Sanitized&ss=f&srt=sco&se=2025-05-15T23%3A25%3A00Z&sp=rwdxylacuptfi&sig=Sanitized&restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD933E8A66D0F1\"",
        "Last-Modified": "Wed, 14 May 2025 23:24:57 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-05-14T23:24:57.5727857Z",
        "x-ms-file-creation-time": "2025-05-14T23:24:57.5727857Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2025-05-14T23:24:57.5727857Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "13252330444922611895*16083086822043778878",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-fd3e5972-e821-b1d3-62b2-b0448ee0c9f8/sourceFolder/folder0/test-file-3244007b-07b1-7e94-d4d7-44a4809de370?sv=Sanitized&ss=f&srt=sco&se=2025-05-15T23%3A25%3A00Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-language": "en-US,en-CA",
        "x-ms-content-length": "1024",
        "x-ms-file-attributes": "None",
        "x-ms-file-change-time": "2024-04-01T13:30:03.0000000Z",
        "x-ms-file-creation-time": "2024-04-01T09:05:55.0000000Z",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-type": "file",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD933E8A6B11EC\"",
        "Last-Modified": "Wed, 14 May 2025 23:24:57 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-04-01T13:30:03.0000000Z",
        "x-ms-file-creation-time": "2024-04-01T09:05:55.0000000Z",
        "x-ms-file-id": "16140971433240035328",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "8616074386732128176*16083086822043778878",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-fd3e5972-e821-b1d3-62b2-b0448ee0c9f8/sourceFolder/folder0/folder1?sv=Sanitized&ss=f&srt=sco&se=2025-05-15T23%3A25%3A00Z&sp=rwdxylacuptfi&sig=Sanitized&restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD933E8A6FEE79\"",
        "Last-Modified": "Wed, 14 May 2025 23:24:57 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-05-14T23:24:57.6325241Z",
        "x-ms-file-creation-time": "2025-05-14T23:24:57.6325241Z",
        "x-ms-file-id": "10376363910205800448",
        "x-ms-file-last-write-time": "2025-05-14T23:24:57.6325241Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "13252330444922611895*16083086822043778878",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-fd3e5972-e821-b1d3-62b2-b0448ee0c9f8/sourceFolder/folder0/folder1/test-file-75eea65b-c1b5-3d65-bc1c-d2d6679c6e2e?sv=Sanitized&ss=f&srt=sco&se=2025-05-15T23%3A25%3A00Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-language": "en-US,en-CA",
        "x-ms-conte[...]
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-fd3e5972-e821-b1d3-62b2-b0448ee0c9f8/sourceFolder/folder0/folder1/folder2?sv=Sanitized&ss=f&srt=sco&se=2025-05-15T23%3A25%3A00Z&sp=rwdxylacuptfi&sig=Sanitized&restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD933E8A78E51D\"",
        "Last-Modified": "Wed, 14 May 2025 23:24:57 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-05-14T23:24:57.6912669Z",
        "x-ms-file-creation-time": "2025-05-14T23:24:57.6912669Z",
        "x-ms-file-id": "12682206919419494400",
        "x-ms-file-last-write-time": "2025-05-14T23:24:57.6912669Z",
        "x-ms-file-parent-id": "10376363910205800448",
        "x-ms-file-permission-key": "13252330444922611895*16083086822043778878",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-fd3e5972-e821-b1d3-62b2-b0448ee0c9f8/sourceFolder/folder0/folder1/folder2/test-file-bf5068f6-73a3-5c55-d9f3-38ffbdb84d91?sv=Sanitized&ss=f&srt=sco&se=2025-05-15T23%3A25%3A00Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-language": "en-US,en-CA",
        "x-[...]
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-8bb26cf4-a049-6f49-a73e-19ce52bf6b46/destFolder?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 14 May 2025 23:25:01 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD933E8A82298C\"",
        "Last-Modified": "Wed, 14 May 2025 23:24:57 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-05-14T23:24:57.7520012Z",
        "x-ms-file-creation-time": "2025-05-14T23:24:57.7520012Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-05-14T23:24:57.7520012Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "13252330444922611895*16083086822043778878",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-fd3e5972-e821-b1d3-62b2-b0448ee0c9f8?sv=Sanitized&ss=f&srt=sco&se=2025-05-15T23%3A25%3A00Z&sp=rwdxylacuptfi&sig=Sanitized&restype=share",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD933E8A53CDEF\"",
        "Last-Modified": "Wed, 14 May 2025 23:24:57 GMT",
        "x-ms-access-tier": "TransactionOptimized",
        "x-ms-access-tier-change-time": "Wed, 14 May 2025 23:24:57 GMT",
        "x-ms-has-immutability-policy": "false",
        "x-ms-has-legal-hold": "false",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-share-quota": "102400",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-fd3e5972-e821-b1d3-62b2-b0448ee0c9f8/sourceFolder?sv=Sanitized&ss=f&srt=sco&se=2025-05-15T23%3A25%3A00Z&sp=rwdxylacuptfi&sig=Sanitized&restype=directory&comp=list&include=Attributes",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://nickliuproductionacc.file.core.windows.net/\" ShareName=\"test-share-fd3e5972-e821-b1d3-62b2-b0448ee0c9f8\" DirectoryPath=\"sourceFolder\"><DirectoryId>13835128424026341376</DirectoryId><Entries><Directory><Name>folder0</Name><FileId>11529285414812647424</FileId><Properties /><Attributes>Directory</Attributes></Directory></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-fd3e5972-e821-b1d3-62b2-b0448ee0c9f8/sourceFolder/folder0?sv=Sanitized&ss=f&srt=sco&se=2025-05-15T23%3A25%3A00Z&sp=rwdxylacuptfi&sig=Sanitized&restype=directory",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD933E8A66D0F1\"",
        "Last-Modified": "Wed, 14 May 2025 23:24:57 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-05-14T23:24:57.5727857Z",
        "x-ms-file-creation-time": "2025-05-14T23:24:57.5727857Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2025-05-14T23:24:57.5727857Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "13252330444922611895*16083086822043778878",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-8bb26cf4-a049-6f49-a73e-19ce52bf6b46/destFolder/folder0?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 14 May 2025 23:25:01 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-05-14T23:24:57.5727857Z",
        "x-ms-file-creation-time": "2025-05-14T23:24:57.5727857Z",
        "x-ms-file-last-write-time": "2025-05-14T23:24:57.5727857Z",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD933E8A9A7851\"",
        "Last-Modified": "Wed, 14 May 2025 23:24:57 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-05-14T23:24:57.5727857Z",
        "x-ms-file-creation-time": "2025-05-14T23:24:57.5727857Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2025-05-14T23:24:57.5727857Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "13252330444922611895*16083086822043778878",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-fd3e5972-e821-b1d3-62b2-b0448ee0c9f8/sourceFolder/folder0?sv=Sanitized&ss=f&srt=sco&se=2025-05-15T23%3A25%3A00Z&sp=rwdxylacuptfi&sig=Sanitized&restype=directory&comp=list&include=Attributes",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://nickliuproductionacc.file.core.windows.net/\" ShareName=\"test-share-fd3e5972-e821-b1d3-62b2-b0448ee0c9f8\" DirectoryPath=\"sourceFolder/folder0\"><DirectoryId>11529285414812647424</DirectoryId><Entries><Directory><Name>folder1</Name><FileId>10376363910205800448</FileId><Properties /><Attributes>Directory</Attributes></Directory><File><Name>test-file-3244007b-07b1-7e94-d4d7-44a4809de370</Name><FileId>16140971433240035328</FileId><Properties><Content-Length>1024</Content-Length></Properties><Attributes>Archive</Attributes></File></Entries><NextMarker /></EnumerationResults>"
    },
[...]
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-8bb26cf4-a049-6f49-a73e-19ce52bf6b46/destFolder/folder0/folder1?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 14 May 2025 23:25:01 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-05-14T23:24:57.6325241Z",
        "x-ms-file-creation-time": "2025-05-14T23:24:57.6325241Z",
        "x-ms-file-last-write-time": "2025-05-14T23:24:57.6325241Z",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD933E8AA651E7\"",
        "Last-Modified": "Wed, 14 May 2025 23:24:57 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-05-14T23:24:57.6325241Z",
        "x-ms-file-creation-time": "2025-05-14T23:24:57.6325241Z",
        "x-ms-file-id": "16140971433240035328",
        "x-ms-file-last-write-time": "2025-05-14T23:24:57.6325241Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "13252330444922611895*16083086822043778878",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-fd3e5972-e821-b1d3-62b2-b0448ee0c9f8/sourceFolder/folder0/folder1?sv=Sanitized&ss=f&srt=sco&se=2025-05-15T23%3A25%3A00Z&sp=rwdxylacuptfi&sig=Sanitized&restype=directory&comp=list&include=Attributes",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://nickliuproductionacc.file.core.windows.net/\" ShareName=\"test-share-fd3e5972-e821-b1d3-62b2-b0448ee0c9f8\" DirectoryPath=\"sourceFolder/folder0/folder1\"><DirectoryId>10376363910205800448</DirectoryId><Entries><Directory><Name>folder2</Name><FileId>12682206919419494400</FileId><Properties /><Attributes>Directory</Attributes></Directory><File><Name>test-file-75eea65b-c1b5-3d65-bc1c-d2d6679c6e2e</Name><FileId>14988049928633188352</FileId><Properties><Content-Length>1024</Content-Length></Properties><Attributes>Archive</Attributes></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-fd3e5972-e821-b1d3-62b2-b0448ee0c9f8/sourceFolder/folder0/test-file-3244007b-07b1-7e94-d4d7-44a4809de370?sv=Sanitized&ss=f&srt=sco&se=2025-05-15T23%3A25%3A00Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": [
          "en-US",
          "en-CA"
        ],
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD933E8A6B11EC\"",
        "Last-Modified": "Wed, 14 May 2025 23:24:57 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-04-01T13:30:03.0000000Z",
        "x-ms-file-creation-time": "2024-04-01T09:05:55.0000000Z",
        "x-ms-file-id": "16140971433240035328",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "8616074386732128176*16083086822043778878",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-8bb26cf4-a049-6f49-a73e-19ce52bf6b46/destFolder/folder0/folder1/folder2?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 14 May 2025 23:25:01 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-05-14T23:24:57.6912669Z",
        "x-ms-file-creation-time": "2025-05-14T23:24:57.6912669Z",
        "x-ms-file-last-write-time": "2025-05-14T23:24:57.6912669Z",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD933E8AB472E3\"",
        "Last-Modified": "Wed, 14 May 2025 23:24:58 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-05-14T23:24:57.6912669Z",
        "x-ms-file-creation-time": "2025-05-14T23:24:57.6912669Z",
        "x-ms-file-id": "13835093239654252544",
        "x-ms-file-last-write-time": "2025-05-14T23:24:57.6912669Z",
        "x-ms-file-parent-id": "16140971433240035328",
        "x-ms-file-permission-key": "13252330444922611895*16083086822043778878",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-fd3e5972-e821-b1d3-62b2-b0448ee0c9f8/sourceFolder/folder0/folder1/folder2?sv=Sanitized&ss=f&srt=sco&se=2025-05-15T23%3A25%3A00Z&sp=rwdxylacuptfi&sig=Sanitized&restype=directory&comp=list&include=Attributes",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://nickliuproductionacc.file.core.windows.net/\" ShareName=\"test-share-fd3e5972-e821-b1d3-62b2-b0448ee0c9f8\" DirectoryPath=\"sourceFolder/folder0/folder1/folder2\"><DirectoryId>12682206919419494400</DirectoryId><Entries><File><Name>test-file-bf5068f6-73a3-5c55-d9f3-38ffbdb84d91</Name><FileId>17293892937846882304</FileId><Properties><Content-Length>1024</Content-Length></Properties><Attributes>Archive</Attributes></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-8bb26cf4-a049-6f49-a73e-19ce52bf6b46/destFolder/folder0/test-file-3244007b-07b1-7e94-d4d7-44a4809de370",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 14 May 2025 23:25:01 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-8bb26cf4-a049-6f49-a73e-19ce52bf6b46/destFolder/folder0/test-file-3244007b-07b1-7e94-d4d7-44a4809de370",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-language": "en-US,en-CA",
        "x-ms-content-length": "1024",
        "x-ms-content-type": "application/octet-stream",
        "x-ms-date": "Wed, 14 May 2025 23:25:01 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-04-01T13:30:03.0000000Z",
        "x-ms-file-creation-time": "2024-04-01T09:05:55.0000000Z",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-type": "file",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD933E8ABEEE6C\"",
        "Last-Modified": "Wed, 14 May 2025 23:24:58 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-04-01T13:30:03.0000000Z",
        "x-ms-file-creation-time": "2024-04-01T09:05:55.0000000Z",
        "x-ms-file-id": "10376363910205800448",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "8616074386732128176*16083086822043778878",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-8bb26cf4-a049-6f49-a73e-19ce52bf6b46/destFolder/folder0/test-file-3244007b-07b1-7e94-d4d7-44a4809de370?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://nickliuproductionacc.file.core.windows.net/test-share-fd3e5972-e821-b1d3-62b2-b0448ee0c9f8/sourceFolder/folder0/test-file-3244007b-07b1-7e94-d4d7-44a4809de370?sv=sanitized-value&ss=f&srt=sco&se=2025-05-15T23%3A25%3A00Z&sp=rwdxylacuptfi&sig=Sanitized",
        "x-ms-date": "Wed, 14 May 2025 23:25:01 GMT",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2025-07-05",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD933E8AC74984\"",
        "Last-Modified": "Wed, 14 May 2025 23:24:58 GMT",
        "x-ms-content-crc64": "iknlm7CyG2k=",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-8bb26cf4-a049-6f49-a73e-19ce52bf6b46/destFolder/folder0/folder1/folder2/test-file-bf5068f6-73a3-5c55-d9f3-38ffbdb84d91",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 14 May 2025 23:25:01 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-8bb26cf4-a049-6f49-a73e-19ce52bf6b46/destFolder/folder0/folder1/test-file-75eea65b-c1b5-3d65-bc1c-d2d6679c6e2e",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 14 May 2025 23:25:01 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-8bb26cf4-a049-6f49-a73e-19ce52bf6b46/destFolder/folder0/test-file-3244007b-07b1-7e94-d4d7-44a4809de370?comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-language": "en-US,en-CA",
        "x-ms-content-type": "application/octet-stream",
   [...]
[...]
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-8bb26cf4-a049-6f49-a73e-19ce52bf6b46/destFolder/folder0/folder1/folder2/test-file-bf5068f6-73a3-5c55-d9f3-38ffbdb84d91?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://nickliuproductionacc.file.core.windows.net/test-share-fd3e5972-e821-b1d3-62b2-b0448ee0c9f8/sourceFolder/folder0/folder1/folder2/test-file-bf5068f6-73a3-5c55-d9f3-38ffbdb84d91?sv=sanitized-value&ss=f&srt=sco&se=2025-05-15T23%3A25%3A00Z&sp=rwdxylacuptfi&sig=Sanitized",
        "x-ms-date": "Wed, 14 May 2025 23:25:01 GMT",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2025-07-05",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD933E8AD89B3E\"",
        "Last-Modified": "Wed, 14 May 2025 23:24:58 GMT",
        "x-ms-content-crc64": "iknlm7CyG2k=",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-8bb26cf4-a049-6f49-a73e-19ce52bf6b46/destFolder/folder0/folder1/test-file-75eea65b-c1b5-3d65-bc1c-d2d6679c6e2e?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://nickliuproductionacc.file.core.windows.net/test-share-fd3e5972-e821-b1d3-62b2-b0448ee0c9f8/sourceFolder/folder0/folder1/test-file-75eea65b-c1b5-3d65-bc1c-d2d6679c6e2e?sv=sanitized-value&ss=f&srt=sco&se=2025-05-15T23%3A25%3A00Z&sp=rwdxylacuptfi&sig=Sanitized",
        "x-ms-date": "Wed, 14 May 2025 23:25:01 GMT",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2025-07-05",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD933E8ADC678B\"",
        "Last-Modified": "Wed, 14 May 2025 23:24:58 GMT",
        "x-ms-content-crc64": "iknlm7CyG2k=",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-8bb26cf4-a049-6f49-a73e-19ce52bf6b46/destFolder/folder0/folder1/folder2/test-file-bf5068f6-73a3-5c55-d9f3-38ffbdb84d91?comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
[...]
