{
  "Entries": [
    {
      "RequestUri": "https://nickliupremiumfileacc.file.core.windows.net/test-share-30015189-a1bd-8063-5ced-c727ee62a8d5?sv=Sanitized&ss=f&srt=sco&se=2025-07-18T01%3A04%3A22Z&sp=rwdxylacuptfi&sig=Sanitized&restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-enabled-protocols": "NFS",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDC4CDDDD54D4B\"",
        "Last-Modified": "Thu, 17 Jul 2025 01:04:22 GMT",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://nickliupremiumfileacc.file.core.windows.net/test-share-30015189-a1bd-8063-5ced-c727ee62a8d5/sourceFolder?sv=Sanitized&ss=f&srt=sco&se=2025-07-18T01%3A04%3A22Z&sp=rwdxylacuptfi&sig=Sanitized&restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-file-creation-time": "2024-04-01T09:05:55.0000000Z",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-group": "123",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-mode": "1777",
        "x-ms-owner": "345",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDC4CDDDE35182\"",
        "Last-Modified": "Thu, 17 Jul 2025 01:04:22 GMT",
        "x-ms-file-change-time": "2025-07-17T01:04:22.6480514Z",
        "x-ms-file-creation-time": "2024-04-01T09:05:55.0000000Z",
        "x-ms-file-file-type": "Directory",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-file-parent-id": "1",
        "x-ms-group": "123",
        "x-ms-mode": "1777",
        "x-ms-owner": "345",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliupremiumfileacc.file.core.windows.net/test-share-30015189-a1bd-8063-5ced-c727ee62a8d5/sourceFolder/item1?sv=Sanitized&ss=f&srt=sco&se=2025-07-18T01%3A04%3A22Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-language": "en-US,en-CA",
        "x-ms-content-length": "1024",
        "x-ms-file-creation-time": "2024-04-01T09:05:55.0000000Z",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-group": "123",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-mode": "1777",
        "x-ms-owner": "345",
        "x-ms-type": "file",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDC4CDDDE74890\"",
        "Last-Modified": "Thu, 17 Jul 2025 01:04:22 GMT",
        "x-ms-file-change-time": "2025-07-17T01:04:22.6740368Z",
        "x-ms-file-creation-time": "2024-04-01T09:05:55.0000000Z",
        "x-ms-file-file-type": "Regular",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-group": "123",
        "x-ms-mode": "1777",
        "x-ms-owner": "345",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://nickliupremiumfileacc.file.core.windows.net/test-share-30015189-a1bd-8063-5ced-c727ee62a8d5/sourceFolder/bar?sv=Sanitized&ss=f&srt=sco&se=2025-07-18T01%3A04%3A22Z&sp=rwdxylacuptfi&sig=Sanitized&restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-file-creation-time": "2024-04-01T09:05:55.0000000Z",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-group": "123",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-mode": "1777",
        "x-ms-owner": "345",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDC4CDDDED622C\"",
        "Last-Modified": "Thu, 17 Jul 2025 01:04:22 GMT",
        "x-ms-file-change-time": "2025-07-17T01:04:22.7140140Z",
        "x-ms-file-creation-time": "2024-04-01T09:05:55.0000000Z",
        "x-ms-file-file-type": "Directory",
        "x-ms-file-id": "10376363910205800448",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-group": "123",
        "x-ms-mode": "1777",
        "x-ms-owner": "345",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliupremiumfileacc.file.core.windows.net/test-share-30015189-a1bd-8063-5ced-c727ee62a8d5/sourceFolder/bar/item3?sv=Sanitized&ss=f&srt=sco&se=2025-07-18T01%3A04%3A22Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-language": "en-US,en-CA",
        "x-ms-content-length": "1024",
        "x-ms-file-creation-time[...]
    {
      "RequestUri": "https://nickliupremiumfileacc.file.core.windows.net/test-share-30015189-a1bd-8063-5ced-c727ee62a8d5/sourceFolder/pik?sv=Sanitized&ss=f&srt=sco&se=2025-07-18T01%3A04%3A22Z&sp=rwdxylacuptfi&sig=Sanitized&restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-file-creation-time": "2024-04-01T09:05:55.0000000Z",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-group": "123",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-mode": "1777",
        "x-ms-owner": "345",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDC4CDDDF354BE\"",
        "Last-Modified": "Thu, 17 Jul 2025 01:04:22 GMT",
        "x-ms-file-change-time": "2025-07-17T01:04:22.7529918Z",
        "x-ms-file-creation-time": "2024-04-01T09:05:55.0000000Z",
        "x-ms-file-file-type": "Directory",
        "x-ms-file-id": "12682206919419494400",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-group": "123",
        "x-ms-mode": "1777",
        "x-ms-owner": "345",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliupremiumfileacc.file.core.windows.net/test-share-30015189-a1bd-8063-5ced-c727ee62a8d5/sourceFolder/pik/item4?sv=Sanitized&ss=f&srt=sco&se=2025-07-18T01%3A04%3A22Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-language": "en-US,en-CA",
        "x-ms-content-length": "1024",
        "x-ms-file-creation-time[...]
    {
      "RequestUri": "https://nickliupremiumfileacc.file.core.windows.net/test-share-b7aae5a7-428f-77f9-a434-8c85ee3d1b18/destFolder?sv=Sanitized&ss=f&srt=sco&se=2025-07-18T01%3A04%3A22Z&sp=rwdxylacuptfi&sig=Sanitized&restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDC4CDDDF9BC72\"",
        "Last-Modified": "Thu, 17 Jul 2025 01:04:22 GMT",
        "x-ms-file-change-time": "2025-07-17T01:04:22.7949682Z",
        "x-ms-file-creation-time": "2025-07-17T01:04:22.7949682Z",
        "x-ms-file-file-type": "Directory",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-07-17T01:04:22.7949682Z",
        "x-ms-file-parent-id": "1",
        "x-ms-group": "0",
        "x-ms-mode": "0755",
        "x-ms-owner": "0",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliupremiumfileacc.file.core.windows.net/test-share-30015189-a1bd-8063-5ced-c727ee62a8d5?sv=Sanitized&ss=f&srt=sco&se=2025-07-18T01%3A04%3A22Z&sp=rwdxylacuptfi&sig=Sanitized&restype=share",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DDC4CDDDD54D4B\"",
        "Last-Modified": "Thu, 17 Jul 2025 01:04:22 GMT",
        "x-ms-access-tier": "Premium",
        "x-ms-enable-snapshot-virtual-directory-access": "true",
        "x-ms-enabled-protocols": "NFS",
        "x-ms-has-immutability-policy": "false",
        "x-ms-has-legal-hold": "false",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-root-squash": "NoRootSquash",
        "x-ms-share-next-allowed-quota-downgrade-time": "Thu, 17 Jul 2025 01:04:22 GMT",
        "x-ms-share-paid-bursting-enabled": "false",
        "x-ms-share-provisioned-bandwidth-mibps": "110",
        "x-ms-share-provisioned-egress-mbps": "110",
        "x-ms-share-provisioned-ingress-mbps": "110",
        "x-ms-share-provisioned-iops": "3100",
        "x-ms-share-quota": "100",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://nickliupremiumfileacc.file.core.windows.net/test-share-30015189-a1bd-8063-5ced-c727ee62a8d5/sourceFolder?sv=Sanitized&ss=f&srt=sco&se=2025-07-18T01%3A04%3A22Z&sp=rwdxylacuptfi&sig=Sanitized&restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://nickliupremiumfileacc.file.core.windows.net/\" ShareName=\"test-share-30015189-a1bd-8063-5ced-c727ee62a8d5\" DirectoryPath=\"sourceFolder\"><DirectoryId>13835128424026341376</DirectoryId><Entries><Directory><Name>bar</Name><FileId>10376363910205800448</FileId><Properties /></Directory><File><Name>item1</Name><FileId>11529285414812647424</FileId><Properties><Content-Length>1024</Content-Length></Properties></File><File><Name>item2</Name><FileId>16140971433240035328</FileId><Properties><Content-Length>1024</Content-Length></Properties></File><Directory><Name>pik</Name><FileId>12682206919419494400</FileId><Properties /></Directory></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://nickliupremiumfileacc.file.core.windows.net/test-share-30015189-a1bd-8063-5ced-c727ee62a8d5/sourceFolder/bar?sv=Sanitized&ss=f&srt=sco&se=2025-07-18T01%3A04%3A22Z&sp=rwdxylacuptfi&sig=Sanitized&restype=directory",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DDC4CDDDED622C\"",
        "Last-Modified": "Thu, 17 Jul 2025 01:04:22 GMT",
        "x-ms-file-change-time": "2025-07-17T01:04:22.7370009Z",
        "x-ms-file-creation-time": "2024-04-01T09:05:55.0000000Z",
        "x-ms-file-file-type": "Directory",
        "x-ms-file-id": "10376363910205800448",
        "x-ms-file-last-write-time": "2025-07-17T01:04:22.7370009Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-group": "123",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-mode": "1777",
        "x-ms-owner": "345",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliupremiumfileacc.file.core.windows.net/test-share-b7aae5a7-428f-77f9-a434-8c85ee3d1b18/destFolder/bar?sv=Sanitized&ss=f&srt=sco&se=2025-07-18T01%3A04%3A22Z&sp=rwdxylacuptfi&sig=Sanitized&restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-file-last-write-time": "2025-07-17T01:04:22.7370009Z",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDC4CDDE0E52E4\"",
        "Last-Modified": "Thu, 17 Jul 2025 01:04:22 GMT",
        "x-ms-file-change-time": "2025-07-17T01:04:22.9298916Z",
        "x-ms-file-creation-time": "2025-07-17T01:04:22.9298916Z",
        "x-ms-file-file-type": "Directory",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2025-07-17T01:04:22.7370009Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-group": "0",
        "x-ms-mode": "0755",
        "x-ms-owner": "0",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://nickliupremiumfileacc.file.core.windows.net/test-share-b7aae5a7-428f-77f9-a434-8c85ee3d1b18/destFolder/pik?sv=Sanitized&ss=f&srt=sco&se=2025-07-18T01%3A04%3A22Z&sp=rwdxylacuptfi&sig=Sanitized&restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-file-last-write-time": "2025-07-17T01:04:22.7749793Z",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDC4CDDE146C84\"",
        "Last-Modified": "Thu, 17 Jul 2025 01:04:22 GMT",
        "x-ms-file-change-time": "2025-07-17T01:04:22.9698692Z",
        "x-ms-file-creation-time": "2025-07-17T01:04:22.9698692Z",
        "x-ms-file-file-type": "Directory",
        "x-ms-file-id": "16140971433240035328",
        "x-ms-file-last-write-time": "2025-07-17T01:04:22.7749793Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-group": "0",
        "x-ms-mode": "0755",
        "x-ms-owner": "0",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliupremiumfileacc.file.core.windows.net/test-share-30015189-a1bd-8063-5ced-c727ee62a8d5/sourceFolder/bar?sv=Sanitized&ss=f&srt=sco&se=2025-07-18T01%3A04%3A22Z&sp=rwdxylacuptfi&sig=Sanitized&restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://nickliupremiumfileacc.file.core.windows.net/\" ShareName=\"test-share-30015189-a1bd-8063-5ced-c727ee62a8d5\" DirectoryPath=\"sourceFolder/bar\"><DirectoryId>10376363910205800448</DirectoryId><Entries><File><Name>item3</Name><FileId>14988049928633188352</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://nickliupremiumfileacc.file.core.windows.net/test-share-30015189-a1bd-8063-5ced-c727ee62a8d5/sourceFolder/item1?sv=Sanitized&ss=f&srt=sco&se=2025-07-18T01%3A04%3A22Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": [
          "en-US",
          "en-CA"
        ],
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DDC4CDDDE74890\"",
        "Last-Modified": "Thu, 17 Jul 2025 01:04:22 GMT",
        "x-ms-file-change-time": "2025-07-17T01:04:22.6740368Z",
        "x-ms-file-creation-time": "2024-04-01T09:05:55.0000000Z",
        "x-ms-file-file-type": "Regular",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-group": "123",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-link-count": "1",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-mode": "1777",
        "x-ms-owner": "345",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliupremiumfileacc.file.core.windows.net/test-share-30015189-a1bd-8063-5ced-c727ee62a8d5/sourceFolder/pik?sv=Sanitized&ss=f&srt=sco&se=2025-07-18T01%3A04%3A22Z&sp=rwdxylacuptfi&sig=Sanitized&restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://nickliupremiumfileacc.file.core.windows.net/\" ShareName=\"test-share-30015189-a1bd-8063-5ced-c727ee62a8d5\" DirectoryPath=\"sourceFolder/pik\"><DirectoryId>12682206919419494400</DirectoryId><Entries><File><Name>item4</Name><FileId>17293892937846882304</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
[...]
    {
      "RequestUri": "https://nickliupremiumfileacc.file.core.windows.net/test-share-b7aae5a7-428f-77f9-a434-8c85ee3d1b18/destFolder/item1?sv=Sanitized&ss=f&srt=sco&se=2025-07-18T01%3A04%3A22Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://nickliupremiumfileacc.file.core.windows.net/test-share-b7aae5a7-428f-77f9-a434-8c85ee3d1b18/destFolder/item1?sv=Sanitized&ss=f&srt=sco&se=2025-07-18T01%3A04%3A22Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-language": "en-US,en-CA",
        "x-ms-content-length": "1024",
        "x-ms-content-type": "application/octet-stream",
        "x-ms-file-file-type": "Regular",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-type": "file",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDC4CDDE2114E2\"",
        "Last-Modified": "Thu, 17 Jul 2025 01:04:23 GMT",
        "x-ms-file-change-time": "2025-07-17T01:04:23.0528226Z",
        "x-ms-file-creation-time": "2025-07-17T01:04:23.0528226Z",
        "x-ms-file-file-type": "Regular",
        "x-ms-file-id": "13835093239654252544",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-group": "0",
        "x-ms-mode": "0664",
        "x-ms-owner": "0",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliupremiumfileacc.file.core.windows.net/test-share-b7aae5a7-428f-77f9-a434-8c85ee3d1b18/destFolder/item1?sv=Sanitized&ss=f&srt=sco&se=2025-07-18T01%3A04%3A22Z&sp=rwdxylacuptfi&sig=Sanitized&comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://nickliupremiumfileacc.file.core.windows.net/test-share-30015189-a1bd-8063-5ced-c727ee62a8d5/sourceFolder/item1?sv=sanitized-value&ss=f&srt=sco&se=2025-07-18T01%3A04%3A22Z&sp=rwdxylacuptfi&sig=Sanitized",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2025-11-05",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDC4CDDE297816\"",
        "Last-Modified": "Thu, 17 Jul 2025 01:04:23 GMT",
        "x-ms-content-crc64": "iknlm7CyG2k=",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliupremiumfileacc.file.core.windows.net/test-share-b7aae5a7-428f-77f9-a434-8c85ee3d1b18/destFolder/item1?sv=Sanitized&ss=f&srt=sco&se=2025-07-18T01%3A04%3A22Z&sp=rwdxylacuptfi&sig=Sanitized&comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-language": "en-US,en-CA",
        "x-ms-content-type": "application/octet-stream",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DDC4CDDE2CD2F8\"",
        "Last-Modified": "Thu, 17 Jul 2025 01:04:23 GMT",
        "x-ms-file-change-time": "2025-07-17T01:04:23.1297784Z",
        "x-ms-file-creation-time": "2025-07-17T01:04:23.0528226Z",
        "x-ms-file-id": "13835093239654252544",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-group": "0",
        "x-ms-link-count": "1",
        "x-ms-mode": "0664",
        "x-ms-owner": "0",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://nickliupremiumfileacc.file.core.windows.net/test-share-b7aae5a7-428f-77f9-a434-8c85ee3d1b18/destFolder/bar/item3?sv=Sanitized&ss=f&srt=sco&se=2025-07-18T01%3A04%3A22Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://nickliupremiumfileacc.file.core.windows.net/test-share-b7aae5a7-428f-77f9-a434-8c85ee3d1b18/destFolder/bar/item3?sv=Sanitized&ss=f&srt=sco&se=2025-07-18T01%3A04%3A22Z&sp=rwdxylacuptfi&sig=Sanitized&comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://nickliupremiumfileacc.file.core.windows.net/test-share-30015189-a1bd-8063-5ced-c727ee62a8d5/sourceFolder/bar/item3?sv=sanitized-value&ss=f&srt=sco&se=2025-07-18T01%3A04%3A22Z&sp=rwdxylacuptfi&sig=Sanitized",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2025-11-05",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDC4CDDE4B530B\"",
        "Last-Modified": "Thu, 17 Jul 2025 01:04:23 GMT",
        "x-ms-content-crc64": "iknlm7CyG2k=",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliupremiumfileacc.file.core.windows.net/test-share-b7aae5a7-428f-77f9-a434-8c85ee3d1b18/destFolder/bar/item3?sv=Sanitized&ss=f&srt=sco&se=2025-07-18T01%3A04%3A22Z&sp=rwdxylacuptfi&sig=Sanitized&comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-language": "en-US,en-CA",
        "x-ms-content-type": "application/octet-stream",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DDC4CDDE4F2311\"",
        "Last-Modified": "Thu, 17 Jul 2025 01:04:23 GMT",
        "x-ms-file-change-time": "2025-07-17T01:04:23.3546513Z",
        "x-ms-file-creation-time": "2025-07-17T01:04:23.3046791Z",
        "x-ms-file-id": "16140936248867946496",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-group": "0",
        "x-ms-link-count": "1",
        "x-ms-mode": "0664",
        "x-ms-owner": "0",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliupremiumfileacc.file.core.windows.net/test-share-b7aae5a7-428f-77f9-a434-8c85ee3d1b18/destFolder/pik/item4?sv=Sanitized&ss=f&srt=sco&se=2025-07-18T01%3A04%3A22Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://nickliupremiumfileacc.file.core.windows.net/test-share-b7aae5a7-428f-77f9-a434-8c85ee3d1b18/destFolder/pik/item4?sv=Sanitized&ss=f&srt=sco&se=2025-07-18T01%3A04%3A22Z&sp=rwdxylacuptfi&sig=Sanitized&comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://nickliupremiumfileacc.file.core.windows.net/test-share-30015189-a1bd-8063-5ced-c727ee62a8d5/sourceFolder/pik/item4?sv=sanitized-value&ss=f&srt=sco&se=2025-07-18T01%3A04%3A22Z&sp=rwdxylacuptfi&sig=Sanitized",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2025-11-05",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDC4CDDE5BF26F\"",
        "Last-Modified": "Thu, 17 Jul 2025 01:04:23 GMT",
        "x-ms-content-crc64": "iknlm7CyG2k=",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliupremiumfileacc.file.core.windows.net/test-share-b7aae5a7-428f-77f9-a434-8c85ee3d1b18/destFolder/pik/item4?sv=Sanitized&ss=f&srt=sco&se=2025-07-18T01%3A04%3A22Z&sp=rwdxylacuptfi&sig=Sanitized&comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-language": "en-US,en-CA",
        "x-ms-content-type": "application/octet-stream",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DDC4CDDE5F9B6B\"",
        "Last-Modified": "Thu, 17 Jul 2025 01:04:23 GMT",
        "x-ms-file-change-time": "2025-07-17T01:04:23.4625899Z",
        "x-ms-file-creation-time": "2025-07-17T01:04:23.4136174Z",
        "x-ms-file-id": "10376328725833711616",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-file-parent-id": "16140971433240035328",
        "x-ms-group": "0",
        "x-ms-link-count": "1",
        "x-ms-mode": "0664",
        "x-ms-owner": "0",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://nickliupremiumfileacc.file.core.windows.net/test-share-b7aae5a7-428f-77f9-a434-8c85ee3d1b18/destFolder?sv=Sanitized&ss=f&srt=sco&se=2025-07-18T01%3A04%3A22Z&sp=rwdxylacuptfi&sig=Sanitized&restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
[...]
