{
  "Entries": [
    {
      "RequestUri": "https://nickliupremiumfileacc.file.core.windows.net/test-share-ae024b33-116a-b6af-8032-eca1ddf97d31?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-enabled-protocols": "NFS",
        "x-ms-file-request-intent": "backup",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDD9E69713ADAC\"",
        "Last-Modified": "Tue, 12 Aug 2025 21:24:15 GMT",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://nickliupremiumfileacc.file.core.windows.net/test-share-ae024b33-116a-b6af-8032-eca1ddf97d31/sourceFolder?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-file-creation-time": "2024-04-01T09:05:55.0000000Z",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-file-request-intent": "backup",
        "x-ms-group": "123",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-mode": "1777",
        "x-ms-owner": "345",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDD9E6980BE309\"",
        "Last-Modified": "Tue, 12 Aug 2025 21:24:17 GMT",
        "x-ms-file-change-time": "2025-08-12T21:24:17.3099785Z",
        "x-ms-file-creation-time": "2024-04-01T09:05:55.0000000Z",
        "x-ms-file-file-type": "Directory",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-file-parent-id": "1",
        "x-ms-group": "123",
        "x-ms-mode": "1777",
        "x-ms-owner": "345",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliupremiumfileacc.file.core.windows.net/test-share-ae024b33-116a-b6af-8032-eca1ddf97d31/sourceFolder/item1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-language": "en-US,en-CA",
        "x-ms-content-length": "1024",
        "x-ms-file-creation-time": "2024-04-01T09:05:55.0000000Z",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-file-request-intent": "backup",
        "x-ms-group": "123",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-mode": "1777",
        "x-ms-owner": "345",
        "x-ms-type": "file",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDD9E6981795B5\"",
        "Last-Modified": "Tue, 12 Aug 2025 21:24:17 GMT",
        "x-ms-file-change-time": "2025-08-12T21:24:17.3866421Z",
        "x-ms-file-creation-time": "2024-04-01T09:05:55.0000000Z",
        "x-ms-file-file-type": "Regular",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-group": "123",
        "x-ms-mode": "1777",
        "x-ms-owner": "345",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://nickliupremiumfileacc.file.core.windows.net/test-share-ae024b33-116a-b6af-8032-eca1ddf97d31/sourceFolder/bar?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-file-creation-time": "2024-04-01T09:05:55.0000000Z",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-file-request-intent": "backup",
        "x-ms-group": "123",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-mode": "1777",
        "x-ms-owner": "345",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDD9E6982F969C\"",
        "Last-Modified": "Tue, 12 Aug 2025 21:24:17 GMT",
        "x-ms-file-change-time": "2025-08-12T21:24:17.5439516Z",
        "x-ms-file-creation-time": "2024-04-01T09:05:55.0000000Z",
        "x-ms-file-file-type": "Directory",
        "x-ms-file-id": "10376363910205800448",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-group": "123",
        "x-ms-mode": "1777",
        "x-ms-owner": "345",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliupremiumfileacc.file.core.windows.net/test-share-ae024b33-116a-b6af-8032-eca1ddf97d31/sourceFolder/bar/item3",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-language": "en-US,en-CA",
        "x-ms-content-length": "1024",
        "x-ms-file-creation-time": "2024-04-01T09:05:55.0000000Z",
        "x-m[...]
    {
      "RequestUri": "https://nickliupremiumfileacc.file.core.windows.net/test-share-ae024b33-116a-b6af-8032-eca1ddf97d31/sourceFolder/pik?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-file-creation-time": "2024-04-01T09:05:55.0000000Z",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-file-request-intent": "backup",
        "x-ms-group": "123",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-mode": "1777",
        "x-ms-owner": "345",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDD9E698491C74\"",
        "Last-Modified": "Tue, 12 Aug 2025 21:24:17 GMT",
        "x-ms-file-change-time": "2025-08-12T21:24:17.7112180Z",
        "x-ms-file-creation-time": "2024-04-01T09:05:55.0000000Z",
        "x-ms-file-file-type": "Directory",
        "x-ms-file-id": "12682206919419494400",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-group": "123",
        "x-ms-mode": "1777",
        "x-ms-owner": "345",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliupremiumfileacc.file.core.windows.net/test-share-ae024b33-116a-b6af-8032-eca1ddf97d31/sourceFolder/pik/item4",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-language": "en-US,en-CA",
        "x-ms-content-length": "1024",
        "x-ms-file-creation-time": "2024-04-01T09:05:55.0000000Z",
        "x-m[...]
    {
      "RequestUri": "https://nickliupremiumfileacc.file.core.windows.net/test-share-97c5f0a6-7a8e-f92c-5b9f-d08642fd14cd/destFolder?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-file-request-intent": "backup",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDD9E69862F016\"",
        "Last-Modified": "Tue, 12 Aug 2025 21:24:17 GMT",
        "x-ms-file-change-time": "2025-08-12T21:24:17.8804758Z",
        "x-ms-file-creation-time": "2025-08-12T21:24:17.8804758Z",
        "x-ms-file-file-type": "Directory",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-08-12T21:24:17.8804758Z",
        "x-ms-file-parent-id": "1",
        "x-ms-group": "0",
        "x-ms-mode": "0755",
        "x-ms-owner": "0",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliupremiumfileacc.file.core.windows.net/test-share-ae024b33-116a-b6af-8032-eca1ddf97d31?restype=share",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-file-request-intent": "backup",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DDD9E69713ADAC\"",
        "Last-Modified": "Tue, 12 Aug 2025 21:24:15 GMT",
        "x-ms-access-tier": "Premium",
        "x-ms-enable-snapshot-virtual-directory-access": "true",
        "x-ms-enabled-protocols": "NFS",
        "x-ms-has-immutability-policy": "false",
        "x-ms-has-legal-hold": "false",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-root-squash": "NoRootSquash",
        "x-ms-share-next-allowed-quota-downgrade-time": "Tue, 12 Aug 2025 21:24:15 GMT",
        "x-ms-share-paid-bursting-enabled": "false",
        "x-ms-share-provisioned-bandwidth-mibps": "110",
        "x-ms-share-provisioned-egress-mbps": "110",
        "x-ms-share-provisioned-ingress-mbps": "110",
        "x-ms-share-provisioned-iops": "3100",
        "x-ms-share-quota": "100",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://nickliupremiumfileacc.file.core.windows.net/test-share-ae024b33-116a-b6af-8032-eca1ddf97d31/sourceFolder?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-file-request-intent": "backup",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://nickliupremiumfileacc.file.core.windows.net/\" ShareName=\"test-share-ae024b33-116a-b6af-8032-eca1ddf97d31\" DirectoryPath=\"sourceFolder\"><DirectoryId>13835128424026341376</DirectoryId><Entries><Directory><Name>bar</Name><FileId>10376363910205800448</FileId><Properties /></Directory><File><Name>item1</Name><FileId>11529285414812647424</FileId><Properties><Content-Length>1024</Content-Length></Properties></File><File><Name>item2</Name><FileId>16140971433240035328</FileId><Properties><Content-Length>1024</Content-Length></Properties></File><Directory><Name>pik</Name><FileId>12682206919419494400</FileId><Properties /></Directory></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://nickliupremiumfileacc.file.core.windows.net/test-share-ae024b33-116a-b6af-8032-eca1ddf97d31/sourceFolder/bar?restype=directory",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-file-request-intent": "backup",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DDD9E6982F969C\"",
        "Last-Modified": "Tue, 12 Aug 2025 21:24:17 GMT",
        "x-ms-file-change-time": "2025-08-12T21:24:17.6335588Z",
        "x-ms-file-creation-time": "2024-04-01T09:05:55.0000000Z",
        "x-ms-file-file-type": "Directory",
        "x-ms-file-id": "10376363910205800448",
        "x-ms-file-last-write-time": "2025-08-12T21:24:17.6335588Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-group": "123",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-mode": "1777",
        "x-ms-owner": "345",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliupremiumfileacc.file.core.windows.net/test-share-97c5f0a6-7a8e-f92c-5b9f-d08642fd14cd/destFolder/bar?restype=directory",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-file-request-intent": "backup",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ResourceNotFound</Code><Message>The specified resource does not exist.\n",
        "RequestId:afe32f63-901a-00b2-0acf-0b7c1c000000\n",
        "Time:2025-08-12T21:24:18.2626789Z</Message></Error>"
      ]
    },
[...]
    {
      "RequestUri": "https://nickliupremiumfileacc.file.core.windows.net/test-share-97c5f0a6-7a8e-f92c-5b9f-d08642fd14cd/destFolder/pik?restype=directory",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-file-request-intent": "backup",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ResourceNotFound</Code><Message>The specified resource does not exist.\n",
        "RequestId:afe32f74-901a-00b2-18cf-0b7c1c000000\n",
        "Time:2025-08-12T21:24:18.5273654Z</Message></Error>"
      ]
    },
[...]
    {
      "RequestUri": "https://nickliupremiumfileacc.file.core.windows.net/test-share-ae024b33-116a-b6af-8032-eca1ddf97d31/sourceFolder/bar?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-file-request-intent": "backup",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://nickliupremiumfileacc.file.core.windows.net/\" ShareName=\"test-share-ae024b33-116a-b6af-8032-eca1ddf97d31\" DirectoryPath=\"sourceFolder/bar\"><DirectoryId>10376363910205800448</DirectoryId><Entries><File><Name>item3</Name><FileId>14988049928633188352</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://nickliupremiumfileacc.file.core.windows.net/test-share-ae024b33-116a-b6af-8032-eca1ddf97d31/sourceFolder/item2",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-file-request-intent": "backup",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": [
          "en-US",
          "en-CA"
        ],
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DDD9E698239628\"",
        "Last-Modified": "Tue, 12 Aug 2025 21:24:17 GMT",
        "x-ms-file-change-time": "2025-08-12T21:24:17.4652968Z",
        "x-ms-file-creation-time": "2024-04-01T09:05:55.0000000Z",
        "x-ms-file-file-type": "Regular",
        "x-ms-file-id": "16140971433240035328",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-group": "123",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-link-count": "1",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-mode": "1777",
        "x-ms-owner": "345",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://nickliupremiumfileacc.file.core.windows.net/test-share-ae024b33-116a-b6af-8032-eca1ddf97d31/sourceFolder/pik?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-file-request-intent": "backup",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://nickliupremiumfileacc.file.core.windows.net/\" ShareName=\"test-share-ae024b33-116a-b6af-8032-eca1ddf97d31\" DirectoryPath=\"sourceFolder/pik\"><DirectoryId>12682206919419494400</DirectoryId><Entries><File><Name>item4</Name><FileId>17293892937846882304</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
[...]
    {
      "RequestUri": "https://nickliupremiumfileacc.file.core.windows.net/test-share-97c5f0a6-7a8e-f92c-5b9f-d08642fd14cd/destFolder/item2",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-file-request-intent": "backup",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliupremiumfileacc.file.core.windows.net/test-share-97c5f0a6-7a8e-f92c-5b9f-d08642fd14cd/destFolder/item2",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-language": "en-US,en-CA",
        "x-ms-content-length": "1024",
        "x-ms-content-type": "application/octet-stream",
        "x-ms-file-creation-time": "2024-04-01T09:05:55.0000000Z",
        "x-ms-file-file-type": "Regular",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-file-request-intent": "backup",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-type": "file",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDD9E699CFDA4F\"",
        "Last-Modified": "Tue, 12 Aug 2025 21:24:20 GMT",
        "x-ms-file-change-time": "2025-08-12T21:24:20.2719823Z",
        "x-ms-file-creation-time": "2024-04-01T09:05:55.0000000Z",
        "x-ms-file-file-type": "Regular",
        "x-ms-file-id": "10376363910205800448",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-group": "0",
        "x-ms-mode": "0664",
        "x-ms-owner": "0",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliupremiumfileacc.file.core.windows.net/test-share-97c5f0a6-7a8e-f92c-5b9f-d08642fd14cd/destFolder/item2?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://nickliupremiumfileacc.file.core.windows.net/test-share-ae024b33-116a-b6af-8032-eca1ddf97d31/sourceFolder/item2",
        "x-ms-copy-source-authorization": "Sanitized",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-file-request-intent": "backup",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2025-11-05",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDD9E699DD8696\"",
        "Last-Modified": "Tue, 12 Aug 2025 21:24:20 GMT",
        "x-ms-content-crc64": "iknlm7CyG2k=",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliupremiumfileacc.file.core.windows.net/test-share-97c5f0a6-7a8e-f92c-5b9f-d08642fd14cd/destFolder/item2?comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-language": "en-US,en-CA",
        "x-ms-content-type": "application/octet-stream",
        "x-ms-file-creation-time": "2024-04-01T09:05:55.0000000Z",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-file-request-intent": "backup",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DDD9E699E7DB3B\"",
        "Last-Modified": "Tue, 12 Aug 2025 21:24:20 GMT",
        "x-ms-file-change-time": "2025-08-12T21:24:20.4292923Z",
        "x-ms-file-creation-time": "2024-04-01T09:05:55.0000000Z",
        "x-ms-file-id": "10376363910205800448",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-group": "0",
        "x-ms-link-count": "1",
        "x-ms-mode": "0664",
        "x-ms-owner": "0",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://nickliupremiumfileacc.file.core.windows.net/test-share-97c5f0a6-7a8e-f92c-5b9f-d08642fd14cd/destFolder/bar/item3",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-file-request-intent": "backup",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://nickliupremiumfileacc.file.core.windows.net/test-share-97c5f0a6-7a8e-f92c-5b9f-d08642fd14cd/destFolder/bar/item3?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://nickliupremiumfileacc.file.core.windows.net/test-share-ae024b33-116a-b6af-8032-eca1ddf97d31/sourceFolder/bar/item3",
        "x-ms-copy-source-authorization": "Sanitized",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-file-request-intent": "backup",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2025-11-05",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDD9E69C00236F\"",
        "Last-Modified": "Tue, 12 Aug 2025 21:24:23 GMT",
        "x-ms-content-crc64": "iknlm7CyG2k=",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliupremiumfileacc.file.core.windows.net/test-share-97c5f0a6-7a8e-f92c-5b9f-d08642fd14cd/destFolder/bar/item3?comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-language": "en-US,en-CA",
        "x-ms-content-type": "application/octet-stream",
        "x-ms-file-creation-time": "2024-04-01T09:05:55.0000000Z",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-file-request-intent": "backup",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DDD9E69C0C23F5\"",
        "Last-Modified": "Tue, 12 Aug 2025 21:24:24 GMT",
        "x-ms-file-change-time": "2025-08-12T21:24:24.0225269Z",
        "x-ms-file-creation-time": "2024-04-01T09:05:55.0000000Z",
        "x-ms-file-id": "12682206919419494400",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-group": "0",
        "x-ms-link-count": "1",
        "x-ms-mode": "0664",
        "x-ms-owner": "0",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliupremiumfileacc.file.core.windows.net/test-share-97c5f0a6-7a8e-f92c-5b9f-d08642fd14cd/destFolder/pik/item4",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-file-request-intent": "backup",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://nickliupremiumfileacc.file.core.windows.net/test-share-97c5f0a6-7a8e-f92c-5b9f-d08642fd14cd/destFolder/pik/item4?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://nickliupremiumfileacc.file.core.windows.net/test-share-ae024b33-116a-b6af-8032-eca1ddf97d31/sourceFolder/pik/item4",
        "x-ms-copy-source-authorization": "Sanitized",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-file-request-intent": "backup",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2025-11-05",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDD9E69D151752\"",
        "Last-Modified": "Tue, 12 Aug 2025 21:24:25 GMT",
        "x-ms-content-crc64": "iknlm7CyG2k=",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliupremiumfileacc.file.core.windows.net/test-share-97c5f0a6-7a8e-f92c-5b9f-d08642fd14cd/destFolder/pik/item4?comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-language": "en-US,en-CA",
        "x-ms-content-type": "application/octet-stream",
        "x-ms-file-creation-time": "2024-04-01T09:05:55.0000000Z",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-file-request-intent": "backup",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DDD9E69D1F1E32\"",
        "Last-Modified": "Tue, 12 Aug 2025 21:24:25 GMT",
        "x-ms-file-change-time": "2025-08-12T21:24:25.8246194Z",
        "x-ms-file-creation-time": "2024-04-01T09:05:55.0000000Z",
        "x-ms-file-id": "17293892937846882304",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-file-parent-id": "16140971433240035328",
        "x-ms-group": "0",
        "x-ms-link-count": "1",
        "x-ms-mode": "0664",
        "x-ms-owner": "0",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://nickliupremiumfileacc.file.core.windows.net/test-share-97c5f0a6-7a8e-f92c-5b9f-d08642fd14cd/destFolder?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-file-request-intent": "backup",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-11-05"
      },
[...]
