{
  "Entries": [
    {
      "RequestUri": "https://nickliupremiumfileacc.file.core.windows.net/test-share-4a1969fe-22dd-595a-6713-509c40f0e257?sv=Sanitized&ss=f&srt=sco&se=2025-08-13T19%3A50%3A26Z&sp=rwdxylacuptfi&sig=Sanitized&restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-enabled-protocols": "NFS",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDD9D9791B895D\"",
        "Last-Modified": "Tue, 12 Aug 2025 19:50:21 GMT",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://nickliupremiumfileacc.file.core.windows.net/test-share-4a1969fe-22dd-595a-6713-509c40f0e257/sourceFolder?sv=Sanitized&ss=f&srt=sco&se=2025-08-13T19%3A50%3A26Z&sp=rwdxylacuptfi&sig=Sanitized&restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-file-creation-time": "2024-04-01T09:05:55.0000000Z",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-group": "123",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-mode": "1777",
        "x-ms-owner": "345",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDD9D979264464\"",
        "Last-Modified": "Tue, 12 Aug 2025 19:50:22 GMT",
        "x-ms-file-change-time": "2025-08-12T19:50:22.0160100Z",
        "x-ms-file-creation-time": "2024-04-01T09:05:55.0000000Z",
        "x-ms-file-file-type": "Directory",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-file-parent-id": "1",
        "x-ms-group": "123",
        "x-ms-mode": "1777",
        "x-ms-owner": "345",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliupremiumfileacc.file.core.windows.net/test-share-4a1969fe-22dd-595a-6713-509c40f0e257/sourceFolder/item1?sv=Sanitized&ss=f&srt=sco&se=2025-08-13T19%3A50%3A26Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-language": "en-US,en-CA",
        "x-ms-content-length": "1024",
        "x-ms-file-creation-time": "2024-04-01T09:05:55.0000000Z",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-group": "123",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-mode": "1777",
        "x-ms-owner": "345",
        "x-ms-type": "file",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDD9D9792A855F\"",
        "Last-Modified": "Tue, 12 Aug 2025 19:50:22 GMT",
        "x-ms-file-change-time": "2025-08-12T19:50:22.0438879Z",
        "x-ms-file-creation-time": "2024-04-01T09:05:55.0000000Z",
        "x-ms-file-file-type": "Regular",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-group": "123",
        "x-ms-mode": "1777",
        "x-ms-owner": "345",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://nickliupremiumfileacc.file.core.windows.net/test-share-4a1969fe-22dd-595a-6713-509c40f0e257/sourceFolder/bar?sv=Sanitized&ss=f&srt=sco&se=2025-08-13T19%3A50%3A26Z&sp=rwdxylacuptfi&sig=Sanitized&restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-file-creation-time": "2024-04-01T09:05:55.0000000Z",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-group": "123",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-mode": "1777",
        "x-ms-owner": "345",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDD9D97931F718\"",
        "Last-Modified": "Tue, 12 Aug 2025 19:50:22 GMT",
        "x-ms-file-change-time": "2025-08-12T19:50:22.0926744Z",
        "x-ms-file-creation-time": "2024-04-01T09:05:55.0000000Z",
        "x-ms-file-file-type": "Directory",
        "x-ms-file-id": "10376363910205800448",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-group": "123",
        "x-ms-mode": "1777",
        "x-ms-owner": "345",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliupremiumfileacc.file.core.windows.net/test-share-4a1969fe-22dd-595a-6713-509c40f0e257/sourceFolder/bar/item3?sv=Sanitized&ss=f&srt=sco&se=2025-08-13T19%3A50%3A26Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-language": "en-US,en-CA",
        "x-ms-content-length": "1024",
        "x-ms-file-creation-time[...]
    {
      "RequestUri": "https://nickliupremiumfileacc.file.core.windows.net/test-share-4a1969fe-22dd-595a-6713-509c40f0e257/sourceFolder/pik?sv=Sanitized&ss=f&srt=sco&se=2025-08-13T19%3A50%3A26Z&sp=rwdxylacuptfi&sig=Sanitized&restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-file-creation-time": "2024-04-01T09:05:55.0000000Z",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-group": "123",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-mode": "1777",
        "x-ms-owner": "345",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDD9D979398FB5\"",
        "Last-Modified": "Tue, 12 Aug 2025 19:50:22 GMT",
        "x-ms-file-change-time": "2025-08-12T19:50:22.1424565Z",
        "x-ms-file-creation-time": "2024-04-01T09:05:55.0000000Z",
        "x-ms-file-file-type": "Directory",
        "x-ms-file-id": "12682206919419494400",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-group": "123",
        "x-ms-mode": "1777",
        "x-ms-owner": "345",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliupremiumfileacc.file.core.windows.net/test-share-4a1969fe-22dd-595a-6713-509c40f0e257/sourceFolder/pik/item4?sv=Sanitized&ss=f&srt=sco&se=2025-08-13T19%3A50%3A26Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-language": "en-US,en-CA",
        "x-ms-content-length": "1024",
        "x-ms-file-creation-time[...]
    {
      "RequestUri": "https://nickliupremiumfileacc.file.core.windows.net/test-share-1e83987a-1b85-cadf-a7df-e33a75dba002/destFolder?sv=Sanitized&ss=f&srt=sco&se=2025-08-13T19%3A50%3A26Z&sp=rwdxylacuptfi&sig=Sanitized&restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-file-creation-time": "2021-08-01T09:05:55.0000000Z",
        "x-ms-file-last-write-time": "2021-09-01T09:05:55.0000000Z",
        "x-ms-group": "3001",
        "x-ms-meta-tagKey0": "tagValue0",
        "x-ms-meta-tagKey1": "tagValue1",
        "x-ms-mode": "0770",
        "x-ms-owner": "3000",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDD9D9793FF130\"",
        "Last-Modified": "Tue, 12 Aug 2025 19:50:22 GMT",
        "x-ms-file-change-time": "2025-08-12T19:50:22.1842736Z",
        "x-ms-file-creation-time": "2021-08-01T09:05:55.0000000Z",
        "x-ms-file-file-type": "Directory",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2021-09-01T09:05:55.0000000Z",
        "x-ms-file-parent-id": "1",
        "x-ms-group": "3001",
        "x-ms-mode": "0770",
        "x-ms-owner": "3000",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliupremiumfileacc.file.core.windows.net/test-share-1e83987a-1b85-cadf-a7df-e33a75dba002/destFolder/item1?sv=Sanitized&ss=f&srt=sco&se=2025-08-13T19%3A50%3A26Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-language": "en-US,en-CA",
        "x-ms-content-length": "1024",
        "x-ms-file-creation-time": "20[...]
[...]
    {
      "RequestUri": "https://nickliupremiumfileacc.file.core.windows.net/test-share-1e83987a-1b85-cadf-a7df-e33a75dba002/destFolder/bar?sv=Sanitized&ss=f&srt=sco&se=2025-08-13T19%3A50%3A26Z&sp=rwdxylacuptfi&sig=Sanitized&restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-file-creation-time": "2021-08-01T09:05:55.0000000Z",
        "x-ms-file-last-write-time": "2021-09-01T09:05:55.0000000Z",
        "x-ms-group": "3001",
        "x-ms-meta-tagKey0": "tagValue0",
        "x-ms-meta-tagKey1": "tagValue1",
        "x-ms-mode": "0770",
        "x-ms-owner": "3000",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDD9D9794B7CFF\"",
        "Last-Modified": "Tue, 12 Aug 2025 19:50:22 GMT",
        "x-ms-file-change-time": "2025-08-12T19:50:22.2599423Z",
        "x-ms-file-creation-time": "2021-08-01T09:05:55.0000000Z",
        "x-ms-file-file-type": "Directory",
        "x-ms-file-id": "10376363910205800448",
        "x-ms-file-last-write-time": "2021-09-01T09:05:55.0000000Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-group": "3001",
        "x-ms-mode": "0770",
        "x-ms-owner": "3000",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliupremiumfileacc.file.core.windows.net/test-share-1e83987a-1b85-cadf-a7df-e33a75dba002/destFolder/bar/item3?sv=Sanitized&ss=f&srt=sco&se=2025-08-13T19%3A50%3A26Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-language": "en-US,en-CA",
        "x-ms-content-length": "1024",
        "x-ms-file-creation-time":[...]
    {
      "RequestUri": "https://nickliupremiumfileacc.file.core.windows.net/test-share-1e83987a-1b85-cadf-a7df-e33a75dba002/destFolder/pik?sv=Sanitized&ss=f&srt=sco&se=2025-08-13T19%3A50%3A26Z&sp=rwdxylacuptfi&sig=Sanitized&restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-file-creation-time": "2021-08-01T09:05:55.0000000Z",
        "x-ms-file-last-write-time": "2021-09-01T09:05:55.0000000Z",
        "x-ms-group": "3001",
        "x-ms-meta-tagKey0": "tagValue0",
        "x-ms-meta-tagKey1": "tagValue1",
        "x-ms-mode": "0770",
        "x-ms-owner": "3000",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDD9D9795190AE\"",
        "Last-Modified": "Tue, 12 Aug 2025 19:50:22 GMT",
        "x-ms-file-change-time": "2025-08-12T19:50:22.2997678Z",
        "x-ms-file-creation-time": "2021-08-01T09:05:55.0000000Z",
        "x-ms-file-file-type": "Directory",
        "x-ms-file-id": "12682206919419494400",
        "x-ms-file-last-write-time": "2021-09-01T09:05:55.0000000Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-group": "3001",
        "x-ms-mode": "0770",
        "x-ms-owner": "3000",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliupremiumfileacc.file.core.windows.net/test-share-1e83987a-1b85-cadf-a7df-e33a75dba002/destFolder/pik/item4?sv=Sanitized&ss=f&srt=sco&se=2025-08-13T19%3A50%3A26Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-language": "en-US,en-CA",
        "x-ms-content-length": "1024",
        "x-ms-file-creation-time":[...]
    {
      "RequestUri": "https://nickliupremiumfileacc.file.core.windows.net/test-share-4a1969fe-22dd-595a-6713-509c40f0e257?sv=Sanitized&ss=f&srt=sco&se=2025-08-13T19%3A50%3A26Z&sp=rwdxylacuptfi&sig=Sanitized&restype=share",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DDD9D9791B895D\"",
        "Last-Modified": "Tue, 12 Aug 2025 19:50:21 GMT",
        "x-ms-access-tier": "Premium",
        "x-ms-enable-snapshot-virtual-directory-access": "true",
        "x-ms-enabled-protocols": "NFS",
        "x-ms-has-immutability-policy": "false",
        "x-ms-has-legal-hold": "false",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-root-squash": "NoRootSquash",
        "x-ms-share-next-allowed-quota-downgrade-time": "Tue, 12 Aug 2025 19:50:21 GMT",
        "x-ms-share-paid-bursting-enabled": "false",
        "x-ms-share-provisioned-bandwidth-mibps": "110",
        "x-ms-share-provisioned-egress-mbps": "110",
        "x-ms-share-provisioned-ingress-mbps": "110",
        "x-ms-share-provisioned-iops": "3100",
        "x-ms-share-quota": "100",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://nickliupremiumfileacc.file.core.windows.net/test-share-4a1969fe-22dd-595a-6713-509c40f0e257/sourceFolder?sv=Sanitized&ss=f&srt=sco&se=2025-08-13T19%3A50%3A26Z&sp=rwdxylacuptfi&sig=Sanitized&restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://nickliupremiumfileacc.file.core.windows.net/\" ShareName=\"test-share-4a1969fe-22dd-595a-6713-509c40f0e257\" DirectoryPath=\"sourceFolder\"><DirectoryId>13835128424026341376</DirectoryId><Entries><Directory><Name>bar</Name><FileId>10376363910205800448</FileId><Properties /></Directory><File><Name>item1</Name><FileId>11529285414812647424</FileId><Properties><Content-Length>1024</Content-Length></Properties></File><File><Name>item2</Name><FileId>16140971433240035328</FileId><Properties><Content-Length>1024</Content-Length></Properties></File><Directory><Name>pik</Name><FileId>12682206919419494400</FileId><Properties /></Directory></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://nickliupremiumfileacc.file.core.windows.net/test-share-4a1969fe-22dd-595a-6713-509c40f0e257/sourceFolder/bar?sv=Sanitized&ss=f&srt=sco&se=2025-08-13T19%3A50%3A26Z&sp=rwdxylacuptfi&sig=Sanitized&restype=directory",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DDD9D97931F718\"",
        "Last-Modified": "Tue, 12 Aug 2025 19:50:22 GMT",
        "x-ms-file-change-time": "2025-08-12T19:50:22.1135829Z",
        "x-ms-file-creation-time": "2024-04-01T09:05:55.0000000Z",
        "x-ms-file-file-type": "Directory",
        "x-ms-file-id": "10376363910205800448",
        "x-ms-file-last-write-time": "2025-08-12T19:50:22.1135829Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-group": "123",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-mode": "1777",
        "x-ms-owner": "345",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://nickliupremiumfileacc.file.core.windows.net/test-share-1e83987a-1b85-cadf-a7df-e33a75dba002?sv=Sanitized&ss=f&srt=sco&se=2025-08-13T19%3A50%3A26Z&sp=rwdxylacuptfi&sig=Sanitized&restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliupremiumfileacc.file.core.windows.net/test-share-4a1969fe-22dd-595a-6713-509c40f0e257?sv=Sanitized&ss=f&srt=sco&se=2025-08-13T19%3A50%3A26Z&sp=rwdxylacuptfi&sig=Sanitized&restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2025-08-12T15:50:26.3813580-04:00",
    "RandomSeed": "2075834104",
    "Storage_TestConfigPremiumFile": "PremiumFileTenant\nnickliupremiumfileacc\nU2FuaXRpemVk\nhttps://nickliupremiumfileacc.blob.core.windows.net\nhttps://nickliupremiumfileacc.file.core.windows.net\nhttps://nickliupremiumfileacc.queue.core.windows.net\nhttps://nickliupremiumfileacc.table.core.windows.net\n\n\n\n\nhttps://nickliupremiumfileacc-secondary.blob.core.windows.net\nhttps://nickliupremiumfileacc-secondary.file.core.windows.net\nhttps://nickliupremiumfileacc-secondary.queue.core.windows.net\nhttps://nickliupremiumfileacc-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://nickliupremiumfileacc.blob.core.windows.net/;QueueEndpoint=https://nickliupremiumfileacc.queue.core.windows.net/;FileEndpoint=https://nickliupremiumfileacc.file.core.windows.net/;BlobSecondaryEndpoint=https://nickliupremiumfileacc-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://nickliupremiumfileacc-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://nickliupremiumfileacc-secondary.file.core.windows.net/;AccountName=nickliupremiumfileacc;AccountKey=U2FuaXRpemVk\n\n\n"
  }
}
