{
  "Entries": [
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-95ba20ef-75ee-cc06-80f2-b6dbdcfcb117?sv=Sanitized&ss=f&srt=sco&se=2026-04-30T23%3A01%3A16Z&sp=rwdxylacuptfi&sig=Sanitized&restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA64337DD9136\"",
        "Last-Modified": "Wed, 29 Apr 2026 23:01:16 GMT",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-71b4496c-8bec-4e81-271e-fef92ab2fbf1?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 29 Apr 2026 23:01:16 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA64337E50993\"",
        "Last-Modified": "Wed, 29 Apr 2026 23:01:16 GMT",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-95ba20ef-75ee-cc06-80f2-b6dbdcfcb117/sourceFolder?sv=Sanitized&ss=f&srt=sco&se=2026-04-30T23%3A01%3A16Z&sp=rwdxylacuptfi&sig=Sanitized&restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-file-attributes": "ReadOnly|Hidden|Directory",
        "x-ms-file-change-time": "2024-04-01T13:30:03.0000000Z",
        "x-ms-file-creation-time": "2024-04-01T09:05:55.0000000Z",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-file-permission": "O:BAG:BAD:(A;;FA;;;SY)(A;;FA;;;BA)(A;;0x1200a9;;;BU)S:NO_ACCESS_CONTROL",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA64337ECDCE8\"",
        "Last-Modified": "Wed, 29 Apr 2026 23:01:16 GMT",
        "x-ms-file-attributes": "ReadOnly | Hidden | Directory",
        "x-ms-file-change-time": "2024-04-01T13:30:03.0000000Z",
        "x-ms-file-creation-time": "2024-04-01T09:05:55.0000000Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "7515629841628127474*17478659090621734311",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-95ba20ef-75ee-cc06-80f2-b6dbdcfcb117/sourceFolder/item1?sv=Sanitized&ss=f&srt=sco&se=2026-04-30T23%3A01%3A16Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-language": "en-US,en-CA",
        "x-ms-content-length": "1024",
        "x-ms-file-attributes": "None",
        "x-ms-file-change-time": "2024-04-01T13:30:03.0000000Z",
        "x-ms-file-creation-time": "2024-04-01T09:05:55.0000000Z",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-type": "file",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA64337F5B2E9\"",
        "Last-Modified": "Wed, 29 Apr 2026 23:01:16 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-04-01T13:30:03.0000000Z",
        "x-ms-file-creation-time": "2024-04-01T09:05:55.0000000Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "3245117939725445762*17478659090621734311",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-95ba20ef-75ee-cc06-80f2-b6dbdcfcb117/sourceFolder/bar?sv=Sanitized&ss=f&srt=sco&se=2026-04-30T23%3A01%3A16Z&sp=rwdxylacuptfi&sig=Sanitized&restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-file-attributes": "ReadOnly|Hidden|Directory",
        "x-ms-file-change-time": "2024-04-01T13:30:03.0000000Z",
        "x-ms-file-creation-time": "2024-04-01T09:05:55.0000000Z",
        "x-ms-[...]
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-95ba20ef-75ee-cc06-80f2-b6dbdcfcb117/sourceFolder/bar/item3?sv=Sanitized&ss=f&srt=sco&se=2026-04-30T23%3A01%3A16Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-language": "en-US,en-CA",
        "x-ms-content-length": "1024",
        "x-ms-file-attributes": "None",
    [...]
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-95ba20ef-75ee-cc06-80f2-b6dbdcfcb117/sourceFolder/pik?sv=Sanitized&ss=f&srt=sco&se=2026-04-30T23%3A01%3A16Z&sp=rwdxylacuptfi&sig=Sanitized&restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-file-attributes": "ReadOnly|Hidden|Directory",
        "x-ms-file-change-time": "2024-04-01T13:30:03.0000000Z",
        "x-ms-file-creation-time": "2024-04-01T09:05:55.0000000Z",
        "x-ms-[...]
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-95ba20ef-75ee-cc06-80f2-b6dbdcfcb117/sourceFolder/pik/item4?sv=Sanitized&ss=f&srt=sco&se=2026-04-30T23%3A01%3A16Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-language": "en-US,en-CA",
        "x-ms-content-length": "1024",
        "x-ms-file-attributes": "None",
    [...]
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-71b4496c-8bec-4e81-271e-fef92ab2fbf1/destFolder?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 29 Apr 2026 23:01:17 GMT",
        "x-ms-file-attributes": "System|Directory",
        "x-ms-file-change-time": "2021-09-01T09:05:55.0000000Z",
        "x-ms-file-creation-time": "2021-08-01T09:05:55.0000000Z",
        "x-ms-file-last-write-time": "2021-10-01T09:05:55.0000000Z",
        "x-ms-file-permission": "O:S-1-5-21-2127521184-1604012920-1887927527-21560751G:S-1-5-21-2127521184-1604012920-1887927527-513D:AI(A;;FA;;;SY)(A;;FA;;;BA)(A;;0x1200a9;;;S-1-5-21-397955417-626881126-188441444-3053964)S:NO_ACCESS_CONTROL",
        "x-ms-meta-tagKey0": "tagValue0",
        "x-ms-meta-tagKey1": "tagValue1",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA64338205AE9\"",
        "Last-Modified": "Wed, 29 Apr 2026 23:01:16 GMT",
        "x-ms-file-attributes": "System | Directory",
        "x-ms-file-change-time": "2021-09-01T09:05:55.0000000Z",
        "x-ms-file-creation-time": "2021-08-01T09:05:55.0000000Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2021-10-01T09:05:55.0000000Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "1206180168523139346*17478659090621734311",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-71b4496c-8bec-4e81-271e-fef92ab2fbf1/destFolder/item1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-language": "en-US,en-CA",
        "x-ms-content-length": "1024",
        "x-ms-date": "Wed, 29 Apr 2026 23:01:17 GMT",
        "x-ms-file-attributes": "None",
   [...]
[...]
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-71b4496c-8bec-4e81-271e-fef92ab2fbf1/destFolder/bar?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 29 Apr 2026 23:01:17 GMT",
        "x-ms-file-attributes": "System|Directory",
        "x-ms-file-change-time": "2021-09-01T09:05:55.0000000Z",
        "x-ms-file-creation-time": "2021-08-01T09:05:55.0000000Z",
        "x-ms-file[...]
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-71b4496c-8bec-4e81-271e-fef92ab2fbf1/destFolder/bar/item3",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-language": "en-US,en-CA",
        "x-ms-content-length": "1024",
        "x-ms-date": "Wed, 29 Apr 2026 23:01:17 GMT",
        "x-ms-file-attributes": "None",[...]
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-71b4496c-8bec-4e81-271e-fef92ab2fbf1/destFolder/pik?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 29 Apr 2026 23:01:17 GMT",
        "x-ms-file-attributes": "System|Directory",
        "x-ms-file-change-time": "2021-09-01T09:05:55.0000000Z",
        "x-ms-file-creation-time": "2021-08-01T09:05:55.0000000Z",
        "x-ms-file[...]
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-71b4496c-8bec-4e81-271e-fef92ab2fbf1/destFolder/pik/item4",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-language": "en-US,en-CA",
        "x-ms-content-length": "1024",
        "x-ms-date": "Wed, 29 Apr 2026 23:01:17 GMT",
        "x-ms-file-attributes": "None",[...]
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-95ba20ef-75ee-cc06-80f2-b6dbdcfcb117?sv=Sanitized&ss=f&srt=sco&se=2026-04-30T23%3A01%3A16Z&sp=rwdxylacuptfi&sig=Sanitized&restype=share",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA64337DD9136\"",
        "Last-Modified": "Wed, 29 Apr 2026 23:01:16 GMT",
        "x-ms-access-tier": "TransactionOptimized",
        "x-ms-access-tier-change-time": "Wed, 29 Apr 2026 23:01:16 GMT",
        "x-ms-enable-smb-directory-lease": "true",
        "x-ms-has-immutability-policy": "false",
        "x-ms-has-legal-hold": "false",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-share-quota": "102400",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-95ba20ef-75ee-cc06-80f2-b6dbdcfcb117/sourceFolder?sv=Sanitized&ss=f&srt=sco&se=2026-04-30T23%3A01%3A16Z&sp=rwdxylacuptfi&sig=Sanitized&restype=directory&comp=list&include=Attributes",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amnguyesa.file.core.windows.net/\" ShareName=\"test-share-95ba20ef-75ee-cc06-80f2-b6dbdcfcb117\" DirectoryPath=\"sourceFolder\"><DirectoryId>13835128424026341376</DirectoryId><Entries><Directory><Name>bar</Name><FileId>10376363910205800448</FileId><Properties /><Attributes>ReadOnly | Hidden | Directory</Attributes></Directory><File><Name>item1</Name><FileId>11529285414812647424</FileId><Properties><Content-Length>1024</Content-Length></Properties><Attributes>Archive</Attributes></File><File><Name>item2</Name><FileId>16140971433240035328</FileId><Properties><Content-Length>1024</Content-Length></Properties><Attributes>Archive</Attributes></File><Directory><Name>pik</Name><FileId>12682206919419494400</FileId><Properties /><Attributes>ReadOnly | Hidden | Directory</Attributes></Directory></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-95ba20ef-75ee-cc06-80f2-b6dbdcfcb117/sourceFolder/bar?sv=Sanitized&ss=f&srt=sco&se=2026-04-30T23%3A01%3A16Z&sp=rwdxylacuptfi&sig=Sanitized&restype=directory",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA6433803B6ED\"",
        "Last-Modified": "Wed, 29 Apr 2026 23:01:16 GMT",
        "x-ms-file-attributes": "ReadOnly | Hidden | Directory",
        "x-ms-file-change-time": "2024-04-01T13:30:03.0000000Z",
        "x-ms-file-creation-time": "2024-04-01T09:05:55.0000000Z",
        "x-ms-file-id": "10376363910205800448",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "7515629841628127474*17478659090621734311",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-71b4496c-8bec-4e81-271e-fef92ab2fbf1/destFolder/bar?restype=directory&comp=metadata",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 29 Apr 2026 23:01:17 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA6433870A3E3\"",
        "Last-Modified": "Wed, 29 Apr 2026 23:01:17 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-71b4496c-8bec-4e81-271e-fef92ab2fbf1/destFolder/bar?restype=directory&comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 29 Apr 2026 23:01:17 GMT",
        "x-ms-file-attributes": "ReadOnly|Hidden|Directory",
        "x-ms-file-change-time": "2024-04-01T13:30:03.0000000Z",
        "x-ms-file-creation-time": "2024-04-01T09:05:55.0000000Z",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA643387730E6\"",
        "Last-Modified": "Wed, 29 Apr 2026 23:01:17 GMT",
        "x-ms-file-attributes": "ReadOnly | Hidden | Directory",
        "x-ms-file-change-time": "2024-04-01T13:30:03.0000000Z",
        "x-ms-file-creation-time": "2024-04-01T09:05:55.0000000Z",
        "x-ms-file-id": "10376363910205800448",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "1206180168523139346*17478659090621734311",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-71b4496c-8bec-4e81-271e-fef92ab2fbf1/destFolder/pik?restype=directory&comp=metadata",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 29 Apr 2026 23:01:17 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA643388AB0E3\"",
        "Last-Modified": "Wed, 29 Apr 2026 23:01:17 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-71b4496c-8bec-4e81-271e-fef92ab2fbf1/destFolder/pik?restype=directory&comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 29 Apr 2026 23:01:17 GMT",
        "x-ms-file-attributes": "ReadOnly|Hidden|Directory",
        "x-ms-file-change-time": "2024-04-01T13:30:03.0000000Z",
        "x-ms-file-creation-time": "2024-04-01T09:05:55.0000000Z",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA64338914A80\"",
        "Last-Modified": "Wed, 29 Apr 2026 23:01:17 GMT",
        "x-ms-file-attributes": "ReadOnly | Hidden | Directory",
        "x-ms-file-change-time": "2024-04-01T13:30:03.0000000Z",
        "x-ms-file-creation-time": "2024-04-01T09:05:55.0000000Z",
        "x-ms-file-id": "12682206919419494400",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "1206180168523139346*17478659090621734311",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-95ba20ef-75ee-cc06-80f2-b6dbdcfcb117/sourceFolder/item1?sv=Sanitized&ss=f&srt=sco&se=2026-04-30T23%3A01%3A16Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": [
          "en-US",
          "en-CA"
        ],
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DEA64337F5B2E9\"",
        "Last-Modified": "Wed, 29 Apr 2026 23:01:16 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-04-01T13:30:03.0000000Z",
        "x-ms-file-creation-time": "2024-04-01T09:05:55.0000000Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "3245117939725445762*17478659090621734311",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-95ba20ef-75ee-cc06-80f2-b6dbdcfcb117/sourceFolder/bar?sv=Sanitized&ss=f&srt=sco&se=2026-04-30T23%3A01%3A16Z&sp=rwdxylacuptfi&sig=Sanitized&restype=directory&comp=list&include=Attributes",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amnguyesa.file.core.windows.net/\" ShareName=\"test-share-95ba20ef-75ee-cc06-80f2-b6dbdcfcb117\" DirectoryPath=\"sourceFolder/bar\"><DirectoryId>10376363910205800448</DirectoryId><Entries><File><Name>item3</Name><FileId>14988049928633188352</FileId><Properties><Content-Length>1024</Content-Length></Properties><Attributes>Archive</Attributes></File></Entries><NextMarker /></EnumerationResults>"
    },
[...]
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-95ba20ef-75ee-cc06-80f2-b6dbdcfcb117/sourceFolder/pik?sv=Sanitized&ss=f&srt=sco&se=2026-04-30T23%3A01%3A16Z&sp=rwdxylacuptfi&sig=Sanitized&restype=directory&comp=list&include=Attributes",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amnguyesa.file.core.windows.net/\" ShareName=\"test-share-95ba20ef-75ee-cc06-80f2-b6dbdcfcb117\" DirectoryPath=\"sourceFolder/pik\"><DirectoryId>12682206919419494400</DirectoryId><Entries><File><Name>item4</Name><FileId>17293892937846882304</FileId><Properties><Content-Length>1024</Content-Length></Properties><Attributes>Archive</Attributes></File></Entries><NextMarker /></EnumerationResults>"
    },
[...]
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-71b4496c-8bec-4e81-271e-fef92ab2fbf1/destFolder/item1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-language": "en-US,en-CA",
        "x-ms-content-length": "1024",
        "x-ms-content-type": "application/octet-stream",
        "x-ms-date": "Wed, 29 Apr 2026 23:01:18 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-type": "file",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA64338A2268B\"",
        "Last-Modified": "Wed, 29 Apr 2026 23:01:17 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2026-04-29T23:01:17.6359563Z",
        "x-ms-file-creation-time": "2026-04-29T23:01:17.6359563Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2026-04-29T23:01:17.6359563Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "3245117939725445762*17478659090621734311",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-71b4496c-8bec-4e81-271e-fef92ab2fbf1/destFolder/item1?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://amnguyesa.file.core.windows.net/test-share-95ba20ef-75ee-cc06-80f2-b6dbdcfcb117/sourceFolder/item1?sv=sanitized-value&ss=f&srt=sco&se=2026-04-30T23%3A01%3A16Z&sp=rwdxylacuptfi&sig=Sanitized",
        "x-ms-date": "Wed, 29 Apr 2026 23:01:18 GMT",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2026-06-06",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA64338AA8789\"",
        "Last-Modified": "Wed, 29 Apr 2026 23:01:17 GMT",
        "x-ms-content-crc64": "iknlm7CyG2k=",
        "x-ms-file-last-write-time": "2026-04-29T23:01:17.6359563Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-71b4496c-8bec-4e81-271e-fef92ab2fbf1/destFolder/item1?comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-language": "en-US,en-CA",
        "x-ms-content-type": "application/octet-stream",
        "x-ms-date": "Wed, 29 Apr 2026 23:01:18 GMT",
        "[...]
[...]
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-71b4496c-8bec-4e81-271e-fef92ab2fbf1/destFolder/bar/item3?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://amnguyesa.file.core.windows.net/test-share-95ba20ef-75ee-cc06-80f2-b6dbdcfcb117/sourceFolder/bar/item3?sv=sanitized-value&ss=f&srt=sco&se=2026-04-30T23%3A01%3A16Z&sp=rwdxylacuptfi&sig=Sanitized",
        "x-ms-date": "Wed, 29 Apr 2026 23:01:18 GMT",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2026-06-06",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA64338D597DD\"",
        "Last-Modified": "Wed, 29 Apr 2026 23:01:17 GMT",
        "x-ms-content-crc64": "iknlm7CyG2k=",
        "x-ms-file-last-write-time": "2026-04-29T23:01:17.9211742Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-71b4496c-8bec-4e81-271e-fef92ab2fbf1/destFolder/bar/item3?comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-language": "en-US,en-CA",
        "x-ms-content-type": "application/octet-stream",
        "x-ms-date": "Wed, 29 Apr 2026 23:01:18 GMT",
     [...]
[...]
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-71b4496c-8bec-4e81-271e-fef92ab2fbf1/destFolder/pik/item4?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://amnguyesa.file.core.windows.net/test-share-95ba20ef-75ee-cc06-80f2-b6dbdcfcb117/sourceFolder/pik/item4?sv=sanitized-value&ss=f&srt=sco&se=2026-04-30T23%3A01%3A16Z&sp=rwdxylacuptfi&sig=Sanitized",
        "x-ms-date": "Wed, 29 Apr 2026 23:01:18 GMT",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2026-06-06",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA64338EBAEDC\"",
        "Last-Modified": "Wed, 29 Apr 2026 23:01:18 GMT",
        "x-ms-content-crc64": "iknlm7CyG2k=",
        "x-ms-file-last-write-time": "2026-04-29T23:01:18.0639452Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-71b4496c-8bec-4e81-271e-fef92ab2fbf1/destFolder/pik/item4?comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-language": "en-US,en-CA",
        "x-ms-content-type": "application/octet-stream",
        "x-ms-date": "Wed, 29 Apr 2026 23:01:18 GMT",
     [...]
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-95ba20ef-75ee-cc06-80f2-b6dbdcfcb117/sourceFolder?sv=Sanitized&ss=f&srt=sco&se=2026-04-30T23%3A01%3A16Z&sp=rwdxylacuptfi&sig=Sanitized&restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2026-06-06"
      },
[...]
