{
  "Entries": [
    {
      "RequestUri": "https://seancanaryfilepremium2.file.core.windows.net/test-share-4423f420-7d22-c6d3-52e5-5c9bf989016e?sv=Sanitized&ss=f&srt=sco&se=2025-05-15T20%3A07%3A36Z&sp=rwdxylacuptfi&sig=Sanitized&restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-enabled-protocols": "NFS",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD9322F6D3FFD8\"",
        "Last-Modified": "Wed, 14 May 2025 20:07:33 GMT",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seancanaryfilepremium2.file.core.windows.net/test-share-4423f420-7d22-c6d3-52e5-5c9bf989016e/sourceFolder?sv=Sanitized&ss=f&srt=sco&se=2025-05-15T20%3A07%3A36Z&sp=rwdxylacuptfi&sig=Sanitized&restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-file-creation-time": "2024-04-01T09:05:55.0000000Z",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-group": "123",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-mode": "1777",
        "x-ms-owner": "345",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD9322F6E6D1E8\"",
        "Last-Modified": "Wed, 14 May 2025 20:07:33 GMT",
        "x-ms-file-change-time": "2025-05-14T20:07:33.6971752Z",
        "x-ms-file-creation-time": "2024-04-01T09:05:55.0000000Z",
        "x-ms-file-file-type": "Directory",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-file-parent-id": "1",
        "x-ms-group": "123",
        "x-ms-mode": "1777",
        "x-ms-owner": "345",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanaryfilepremium2.file.core.windows.net/test-share-4423f420-7d22-c6d3-52e5-5c9bf989016e/sourceFolder/item1?sv=Sanitized&ss=f&srt=sco&se=2025-05-15T20%3A07%3A36Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-language": "en-US,en-CA",
        "x-ms-content-length": "1024",
        "x-ms-file-creation-time": "2024-04-01T09:05:55.0000000Z",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-group": "123",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-mode": "1777",
        "x-ms-owner": "345",
        "x-ms-type": "file",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD9322F6EF53D8\"",
        "Last-Modified": "Wed, 14 May 2025 20:07:33 GMT",
        "x-ms-file-change-time": "2025-05-14T20:07:33.7529304Z",
        "x-ms-file-creation-time": "2024-04-01T09:05:55.0000000Z",
        "x-ms-file-file-type": "Regular",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-group": "123",
        "x-ms-mode": "1777",
        "x-ms-owner": "345",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seancanaryfilepremium2.file.core.windows.net/test-share-4423f420-7d22-c6d3-52e5-5c9bf989016e/sourceFolder/bar?sv=Sanitized&ss=f&srt=sco&se=2025-05-15T20%3A07%3A36Z&sp=rwdxylacuptfi&sig=Sanitized&restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-file-creation-time": "2024-04-01T09:05:55.0000000Z",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-group": "123",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-mode": "1777",
        "x-ms-owner": "345",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD9322F6FF953D\"",
        "Last-Modified": "Wed, 14 May 2025 20:07:33 GMT",
        "x-ms-file-change-time": "2025-05-14T20:07:33.8594621Z",
        "x-ms-file-creation-time": "2024-04-01T09:05:55.0000000Z",
        "x-ms-file-file-type": "Directory",
        "x-ms-file-id": "10376363910205800448",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-group": "123",
        "x-ms-mode": "1777",
        "x-ms-owner": "345",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanaryfilepremium2.file.core.windows.net/test-share-4423f420-7d22-c6d3-52e5-5c9bf989016e/sourceFolder/bar/item3?sv=Sanitized&ss=f&srt=sco&se=2025-05-15T20%3A07%3A36Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-language": "en-US,en-CA",
        "x-ms-content-length": "1024",
        "x-ms-file-creation-tim[...]
    {
      "RequestUri": "https://seancanaryfilepremium2.file.core.windows.net/test-share-4423f420-7d22-c6d3-52e5-5c9bf989016e/sourceFolder/pik?sv=Sanitized&ss=f&srt=sco&se=2025-05-15T20%3A07%3A36Z&sp=rwdxylacuptfi&sig=Sanitized&restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-file-creation-time": "2024-04-01T09:05:55.0000000Z",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-group": "123",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-mode": "1777",
        "x-ms-owner": "345",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD9322F70FFD98\"",
        "Last-Modified": "Wed, 14 May 2025 20:07:33 GMT",
        "x-ms-file-change-time": "2025-05-14T20:07:33.9669912Z",
        "x-ms-file-creation-time": "2024-04-01T09:05:55.0000000Z",
        "x-ms-file-file-type": "Directory",
        "x-ms-file-id": "12682206919419494400",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-group": "123",
        "x-ms-mode": "1777",
        "x-ms-owner": "345",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanaryfilepremium2.file.core.windows.net/test-share-4423f420-7d22-c6d3-52e5-5c9bf989016e/sourceFolder/pik/item4?sv=Sanitized&ss=f&srt=sco&se=2025-05-15T20%3A07%3A36Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-language": "en-US,en-CA",
        "x-ms-content-length": "1024",
        "x-ms-file-creation-tim[...]
    {
      "RequestUri": "https://seancanaryfilepremium2.file.core.windows.net/test-share-eb3ff141-5edf-1b8f-bb55-7ab1831f55f7/destFolder?sv=Sanitized&ss=f&srt=sco&se=2025-05-15T20%3A07%3A36Z&sp=rwdxylacuptfi&sig=Sanitized&restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD9322F7203F04\"",
        "Last-Modified": "Wed, 14 May 2025 20:07:34 GMT",
        "x-ms-file-change-time": "2025-05-14T20:07:34.0735236Z",
        "x-ms-file-creation-time": "2025-05-14T20:07:34.0735236Z",
        "x-ms-file-file-type": "Directory",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-05-14T20:07:34.0735236Z",
        "x-ms-file-parent-id": "1",
        "x-ms-group": "0",
        "x-ms-mode": "0755",
        "x-ms-owner": "0",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanaryfilepremium2.file.core.windows.net/test-share-4423f420-7d22-c6d3-52e5-5c9bf989016e?sv=Sanitized&ss=f&srt=sco&se=2025-05-15T20%3A07%3A36Z&sp=rwdxylacuptfi&sig=Sanitized&restype=share",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD9322F6D3FFD8\"",
        "Last-Modified": "Wed, 14 May 2025 20:07:33 GMT",
        "x-ms-access-tier": "Premium",
        "x-ms-enable-snapshot-virtual-directory-access": "true",
        "x-ms-enabled-protocols": "NFS",
        "x-ms-has-immutability-policy": "false",
        "x-ms-has-legal-hold": "false",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-root-squash": "NoRootSquash",
        "x-ms-share-next-allowed-quota-downgrade-time": "Wed, 14 May 2025 20:07:33 GMT",
        "x-ms-share-paid-bursting-enabled": "false",
        "x-ms-share-provisioned-bandwidth-mibps": "110",
        "x-ms-share-provisioned-egress-mbps": "110",
        "x-ms-share-provisioned-ingress-mbps": "110",
        "x-ms-share-provisioned-iops": "3100",
        "x-ms-share-quota": "100",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seancanaryfilepremium2.file.core.windows.net/test-share-4423f420-7d22-c6d3-52e5-5c9bf989016e/sourceFolder?sv=Sanitized&ss=f&srt=sco&se=2025-05-15T20%3A07%3A36Z&sp=rwdxylacuptfi&sig=Sanitized&restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://seancanaryfilepremium2.file.core.windows.net/\" ShareName=\"test-share-4423f420-7d22-c6d3-52e5-5c9bf989016e\" DirectoryPath=\"sourceFolder\"><DirectoryId>13835128424026341376</DirectoryId><Entries><Directory><Name>bar</Name><FileId>10376363910205800448</FileId><Properties /></Directory><File><Name>item1</Name><FileId>11529285414812647424</FileId><Properties><Content-Length>1024</Content-Length></Properties></File><File><Name>item2</Name><FileId>16140971433240035328</FileId><Properties><Content-Length>1024</Content-Length></Properties></File><Directory><Name>pik</Name><FileId>12682206919419494400</FileId><Properties /></Directory></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://seancanaryfilepremium2.file.core.windows.net/test-share-4423f420-7d22-c6d3-52e5-5c9bf989016e/sourceFolder/bar?sv=Sanitized&ss=f&srt=sco&se=2025-05-15T20%3A07%3A36Z&sp=rwdxylacuptfi&sig=Sanitized&restype=directory",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD9322F6FF953D\"",
        "Last-Modified": "Wed, 14 May 2025 20:07:33 GMT",
        "x-ms-file-change-time": "2025-05-14T20:07:33.9122316Z",
        "x-ms-file-creation-time": "2024-04-01T09:05:55.0000000Z",
        "x-ms-file-file-type": "Directory",
        "x-ms-file-id": "10376363910205800448",
        "x-ms-file-last-write-time": "2025-05-14T20:07:33.9122316Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-group": "123",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-mode": "1777",
        "x-ms-owner": "345",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanaryfilepremium2.file.core.windows.net/test-share-eb3ff141-5edf-1b8f-bb55-7ab1831f55f7/destFolder/bar?sv=Sanitized&ss=f&srt=sco&se=2025-05-15T20%3A07%3A36Z&sp=rwdxylacuptfi&sig=Sanitized&restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-file-creation-time": "2024-04-01T09:05:55.0000000Z",
        "x-ms-file-last-write-time": "2025-05-14T20:07:33.9122316Z",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD9322F74B8B2F\"",
        "Last-Modified": "Wed, 14 May 2025 20:07:34 GMT",
        "x-ms-file-change-time": "2025-05-14T20:07:34.3572783Z",
        "x-ms-file-creation-time": "2024-04-01T09:05:55.0000000Z",
        "x-ms-file-file-type": "Directory",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2025-05-14T20:07:33.9122316Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-group": "0",
        "x-ms-mode": "0755",
        "x-ms-owner": "0",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seancanaryfilepremium2.file.core.windows.net/test-share-eb3ff141-5edf-1b8f-bb55-7ab1831f55f7/destFolder/pik?sv=Sanitized&ss=f&srt=sco&se=2025-05-15T20%3A07%3A36Z&sp=rwdxylacuptfi&sig=Sanitized&restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-file-creation-time": "2024-04-01T09:05:55.0000000Z",
        "x-ms-file-last-write-time": "2025-05-14T20:07:34.0207551Z",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD9322F75BCCA0\"",
        "Last-Modified": "Wed, 14 May 2025 20:07:34 GMT",
        "x-ms-file-change-time": "2025-05-14T20:07:34.4638112Z",
        "x-ms-file-creation-time": "2024-04-01T09:05:55.0000000Z",
        "x-ms-file-file-type": "Directory",
        "x-ms-file-id": "16140971433240035328",
        "x-ms-file-last-write-time": "2025-05-14T20:07:34.0207551Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-group": "0",
        "x-ms-mode": "0755",
        "x-ms-owner": "0",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanaryfilepremium2.file.core.windows.net/test-share-4423f420-7d22-c6d3-52e5-5c9bf989016e/sourceFolder/bar?sv=Sanitized&ss=f&srt=sco&se=2025-05-15T20%3A07%3A36Z&sp=rwdxylacuptfi&sig=Sanitized&restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://seancanaryfilepremium2.file.core.windows.net/\" ShareName=\"test-share-4423f420-7d22-c6d3-52e5-5c9bf989016e\" DirectoryPath=\"sourceFolder/bar\"><DirectoryId>10376363910205800448</DirectoryId><Entries><File><Name>item3</Name><FileId>14988049928633188352</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://seancanaryfilepremium2.file.core.windows.net/test-share-4423f420-7d22-c6d3-52e5-5c9bf989016e/sourceFolder/item2?sv=Sanitized&ss=f&srt=sco&se=2025-05-15T20%3A07%3A36Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": [
          "en-US",
          "en-CA"
        ],
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD9322F6F78800\"",
        "Last-Modified": "Wed, 14 May 2025 20:07:33 GMT",
        "x-ms-file-change-time": "2025-05-14T20:07:33.8066944Z",
        "x-ms-file-creation-time": "2024-04-01T09:05:55.0000000Z",
        "x-ms-file-file-type": "Regular",
        "x-ms-file-id": "16140971433240035328",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-group": "123",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-link-count": "1",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-mode": "1777",
        "x-ms-owner": "345",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seancanaryfilepremium2.file.core.windows.net/test-share-4423f420-7d22-c6d3-52e5-5c9bf989016e/sourceFolder/pik?sv=Sanitized&ss=f&srt=sco&se=2025-05-15T20%3A07%3A36Z&sp=rwdxylacuptfi&sig=Sanitized&restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://seancanaryfilepremium2.file.core.windows.net/\" ShareName=\"test-share-4423f420-7d22-c6d3-52e5-5c9bf989016e\" DirectoryPath=\"sourceFolder/pik\"><DirectoryId>12682206919419494400</DirectoryId><Entries><File><Name>item4</Name><FileId>17293892937846882304</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
[...]
    {
      "RequestUri": "https://seancanaryfilepremium2.file.core.windows.net/test-share-eb3ff141-5edf-1b8f-bb55-7ab1831f55f7/destFolder/item2?sv=Sanitized&ss=f&srt=sco&se=2025-05-15T20%3A07%3A36Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanaryfilepremium2.file.core.windows.net/test-share-eb3ff141-5edf-1b8f-bb55-7ab1831f55f7/destFolder/item2?sv=Sanitized&ss=f&srt=sco&se=2025-05-15T20%3A07%3A36Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-language": "en-US,en-CA",
        "x-ms-content-length": "1024",
        "x-ms-content-type": "application/octet-stream",
        "x-ms-file-creation-time": "2024-04-01T09:05:55.0000000Z",
        "x-ms-file-file-type": "Regular",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-type": "file",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD9322F78A974E\"",
        "Last-Modified": "Wed, 14 May 2025 20:07:34 GMT",
        "x-ms-file-change-time": "2025-05-14T20:07:34.7704654Z",
        "x-ms-file-creation-time": "2024-04-01T09:05:55.0000000Z",
        "x-ms-file-file-type": "Regular",
        "x-ms-file-id": "13835093239654252544",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-group": "0",
        "x-ms-mode": "0664",
        "x-ms-owner": "0",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanaryfilepremium2.file.core.windows.net/test-share-eb3ff141-5edf-1b8f-bb55-7ab1831f55f7/destFolder/item2?sv=Sanitized&ss=f&srt=sco&se=2025-05-15T20%3A07%3A36Z&sp=rwdxylacuptfi&sig=Sanitized&comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://seancanaryfilepremium2.file.core.windows.net/test-share-4423f420-7d22-c6d3-52e5-5c9bf989016e/sourceFolder/item2?sv=sanitized-value&ss=f&srt=sco&se=2025-05-15T20%3A07%3A36Z&sp=rwdxylacuptfi&sig=Sanitized",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2025-07-05",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD9322F79560A0\"",
        "Last-Modified": "Wed, 14 May 2025 20:07:34 GMT",
        "x-ms-content-crc64": "iknlm7CyG2k=",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanaryfilepremium2.file.core.windows.net/test-share-eb3ff141-5edf-1b8f-bb55-7ab1831f55f7/destFolder/item2?sv=Sanitized&ss=f&srt=sco&se=2025-05-15T20%3A07%3A36Z&sp=rwdxylacuptfi&sig=Sanitized&comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-language": "en-US,en-CA",
        "x-ms-content-type": "application/octet-stream",
        "x-ms-file-creation-time": "2024-04-01T09:05:55.0000000Z",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD9322F79ECBEB\"",
        "Last-Modified": "Wed, 14 May 2025 20:07:34 GMT",
        "x-ms-file-change-time": "2025-05-14T20:07:34.9028843Z",
        "x-ms-file-creation-time": "2024-04-01T09:05:55.0000000Z",
        "x-ms-file-id": "13835093239654252544",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-group": "0",
        "x-ms-link-count": "1",
        "x-ms-mode": "0664",
        "x-ms-owner": "0",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seancanaryfilepremium2.file.core.windows.net/test-share-eb3ff141-5edf-1b8f-bb55-7ab1831f55f7/destFolder/bar/item3?sv=Sanitized&ss=f&srt=sco&se=2025-05-15T20%3A07%3A36Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seancanaryfilepremium2.file.core.windows.net/test-share-eb3ff141-5edf-1b8f-bb55-7ab1831f55f7/destFolder/bar/item3?sv=Sanitized&ss=f&srt=sco&se=2025-05-15T20%3A07%3A36Z&sp=rwdxylacuptfi&sig=Sanitized&comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://seancanaryfilepremium2.file.core.windows.net/test-share-4423f420-7d22-c6d3-52e5-5c9bf989016e/sourceFolder/bar/item3?sv=sanitized-value&ss=f&srt=sco&se=2025-05-15T20%3A07%3A36Z&sp=rwdxylacuptfi&sig=Sanitized",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2025-07-05",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD9322F7F5B209\"",
        "Last-Modified": "Wed, 14 May 2025 20:07:35 GMT",
        "x-ms-content-crc64": "iknlm7CyG2k=",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanaryfilepremium2.file.core.windows.net/test-share-eb3ff141-5edf-1b8f-bb55-7ab1831f55f7/destFolder/bar/item3?sv=Sanitized&ss=f&srt=sco&se=2025-05-15T20%3A07%3A36Z&sp=rwdxylacuptfi&sig=Sanitized&comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-language": "en-US,en-CA",
        "x-ms-content-type": "application/octet-stream",
        "x-ms-file-creation-time": "2024-04-01T09:05:55.0000000Z",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD9322F7FF1D55\"",
        "Last-Modified": "Wed, 14 May 2025 20:07:35 GMT",
        "x-ms-file-change-time": "2025-05-14T20:07:35.5341141Z",
        "x-ms-file-creation-time": "2024-04-01T09:05:55.0000000Z",
        "x-ms-file-id": "16140936248867946496",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-group": "0",
        "x-ms-link-count": "1",
        "x-ms-mode": "0664",
        "x-ms-owner": "0",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seancanaryfilepremium2.file.core.windows.net/test-share-eb3ff141-5edf-1b8f-bb55-7ab1831f55f7/destFolder/pik/item4?sv=Sanitized&ss=f&srt=sco&se=2025-05-15T20%3A07%3A36Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seancanaryfilepremium2.file.core.windows.net/test-share-eb3ff141-5edf-1b8f-bb55-7ab1831f55f7/destFolder/pik/item4?sv=Sanitized&ss=f&srt=sco&se=2025-05-15T20%3A07%3A36Z&sp=rwdxylacuptfi&sig=Sanitized&comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://seancanaryfilepremium2.file.core.windows.net/test-share-4423f420-7d22-c6d3-52e5-5c9bf989016e/sourceFolder/pik/item4?sv=sanitized-value&ss=f&srt=sco&se=2025-05-15T20%3A07%3A36Z&sp=rwdxylacuptfi&sig=Sanitized",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2025-07-05",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD9322F8275FB3\"",
        "Last-Modified": "Wed, 14 May 2025 20:07:35 GMT",
        "x-ms-content-crc64": "iknlm7CyG2k=",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanaryfilepremium2.file.core.windows.net/test-share-eb3ff141-5edf-1b8f-bb55-7ab1831f55f7/destFolder/pik/item4?sv=Sanitized&ss=f&srt=sco&se=2025-05-15T20%3A07%3A36Z&sp=rwdxylacuptfi&sig=Sanitized&comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-language": "en-US,en-CA",
        "x-ms-content-type": "application/octet-stream",
        "x-ms-file-creation-time": "2024-04-01T09:05:55.0000000Z",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD9322F8302F64\"",
        "Last-Modified": "Wed, 14 May 2025 20:07:35 GMT",
        "x-ms-file-change-time": "2025-05-14T20:07:35.8557028Z",
        "x-ms-file-creation-time": "2024-04-01T09:05:55.0000000Z",
        "x-ms-file-id": "10376328725833711616",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-file-parent-id": "16140971433240035328",
        "x-ms-group": "0",
        "x-ms-link-count": "1",
        "x-ms-mode": "0664",
        "x-ms-owner": "0",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
[...]
