{
  "Entries": [
    {
      "RequestUri": "https://seancanaryfilepremium2.file.core.windows.net/test-share-87be082a-94aa-5d62-7798-6dc201735b0d?sv=Sanitized&ss=f&srt=sco&se=2025-05-15T19%3A45%3A49Z&sp=rwdxylacuptfi&sig=Sanitized&restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-enabled-protocols": "NFS",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD931FEBCE716A\"",
        "Last-Modified": "Wed, 14 May 2025 19:45:46 GMT",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seancanaryfilepremium2.file.core.windows.net/test-share-87be082a-94aa-5d62-7798-6dc201735b0d/sourceFolder?sv=Sanitized&ss=f&srt=sco&se=2025-05-15T19%3A45%3A49Z&sp=rwdxylacuptfi&sig=Sanitized&restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD931FEBE2EAAC\"",
        "Last-Modified": "Wed, 14 May 2025 19:45:46 GMT",
        "x-ms-file-change-time": "2025-05-14T19:45:46.7264684Z",
        "x-ms-file-creation-time": "2025-05-14T19:45:46.7264684Z",
        "x-ms-file-file-type": "Directory",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-05-14T19:45:46.7264684Z",
        "x-ms-file-parent-id": "1",
        "x-ms-group": "0",
        "x-ms-mode": "0755",
        "x-ms-owner": "0",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanaryfilepremium2.file.core.windows.net/test-share-87be082a-94aa-5d62-7798-6dc201735b0d/sourceFolder/item1?sv=Sanitized&ss=f&srt=sco&se=2025-05-15T19%3A45%3A49Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-content-length": "1024",
        "x-ms-type": "file",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD931FEBEBE14A\"",
        "Last-Modified": "Wed, 14 May 2025 19:45:46 GMT",
        "x-ms-file-change-time": "2025-05-14T19:45:46.7852106Z",
        "x-ms-file-creation-time": "2025-05-14T19:45:46.7852106Z",
        "x-ms-file-file-type": "Regular",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2025-05-14T19:45:46.7852106Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-group": "0",
        "x-ms-mode": "0664",
        "x-ms-owner": "0",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanaryfilepremium2.file.core.windows.net/test-share-87be082a-94aa-5d62-7798-6dc201735b0d/sourceFolder/item1-symlink?sv=Sanitized&ss=f&srt=sco&se=2025-05-15T19%3A45%3A49Z&sp=rwdxylacuptfi&sig=Sanitized&restype=symboliclink",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-link-text": "https://seancanaryfilepremium2.file.core.windows.net/test-share-87be082a-94aa-5d62-7798-6dc201735b0d/sourceFolder/item1?sv=Sanitized&ss=f&srt=sco&se=2025-05-15T19%3A45%3A49Z&sp=rwdxylacuptfi&sig=Sanitized",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD931FEBF525B2\"",
        "Last-Modified": "Wed, 14 May 2025 19:45:46 GMT",
        "x-ms-file-change-time": "2025-05-14T19:45:46.8459442Z",
        "x-ms-file-creation-time": "2025-05-14T19:45:46.8459442Z",
        "x-ms-file-file-type": "SymLink",
        "x-ms-file-id": "16140971433240035328",
        "x-ms-file-last-write-time": "2025-05-14T19:45:46.8459442Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-group": "0",
        "x-ms-mode": "0777",
        "x-ms-owner": "0",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanaryfilepremium2.file.core.windows.net/test-share-87be082a-94aa-5d62-7798-6dc201735b0d/sourceFolder/item1-symlink?sv=Sanitized&ss=f&srt=sco&se=2025-05-15T19%3A45%3A49Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD931FEBF525B2\"",
        "Last-Modified": "Wed, 14 May 2025 19:45:46 GMT",
        "x-ms-file-change-time": "2025-05-14T19:45:46.8459442Z",
        "x-ms-file-creation-time": "2025-05-14T19:45:46.8459442Z",
        "x-ms-file-file-type": "SymLink",
        "x-ms-file-id": "16140971433240035328",
        "x-ms-file-last-write-time": "2025-05-14T19:45:46.8459442Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-group": "0",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-link-count": "1",
        "x-ms-mode": "0777",
        "x-ms-owner": "0",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanaryfilepremium2.file.core.windows.net/test-share-61dfb4ce-6bde-4f77-032d-0e59fd5f2d04/destFolder?sv=Sanitized&ss=f&srt=sco&se=2025-05-15T19%3A45%3A49Z&sp=rwdxylacuptfi&sig=Sanitized&restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD931FEC06C529\"",
        "Last-Modified": "Wed, 14 May 2025 19:45:46 GMT",
        "x-ms-file-change-time": "2025-05-14T19:45:46.9614377Z",
        "x-ms-file-creation-time": "2025-05-14T19:45:46.9614377Z",
        "x-ms-file-file-type": "Directory",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-05-14T19:45:46.9614377Z",
        "x-ms-file-parent-id": "1",
        "x-ms-group": "0",
        "x-ms-mode": "0755",
        "x-ms-owner": "0",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanaryfilepremium2.file.core.windows.net/test-share-87be082a-94aa-5d62-7798-6dc201735b0d?sv=Sanitized&ss=f&srt=sco&se=2025-05-15T19%3A45%3A49Z&sp=rwdxylacuptfi&sig=Sanitized&restype=share",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD931FEBCE716A\"",
        "Last-Modified": "Wed, 14 May 2025 19:45:46 GMT",
        "x-ms-access-tier": "Premium",
        "x-ms-enable-snapshot-virtual-directory-access": "true",
        "x-ms-enabled-protocols": "NFS",
        "x-ms-has-immutability-policy": "false",
        "x-ms-has-legal-hold": "false",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-root-squash": "NoRootSquash",
        "x-ms-share-next-allowed-quota-downgrade-time": "Wed, 14 May 2025 19:45:46 GMT",
        "x-ms-share-paid-bursting-enabled": "false",
        "x-ms-share-provisioned-bandwidth-mibps": "110",
        "x-ms-share-provisioned-egress-mbps": "110",
        "x-ms-share-provisioned-ingress-mbps": "110",
        "x-ms-share-provisioned-iops": "3100",
        "x-ms-share-quota": "100",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seancanaryfilepremium2.file.core.windows.net/test-share-87be082a-94aa-5d62-7798-6dc201735b0d/sourceFolder?sv=Sanitized&ss=f&srt=sco&se=2025-05-15T19%3A45%3A49Z&sp=rwdxylacuptfi&sig=Sanitized&restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://seancanaryfilepremium2.file.core.windows.net/\" ShareName=\"test-share-87be082a-94aa-5d62-7798-6dc201735b0d\" DirectoryPath=\"sourceFolder\"><DirectoryId>13835128424026341376</DirectoryId><Entries><File><Name>item1</Name><FileId>11529285414812647424</FileId><Properties><Content-Length>1024</Content-Length></Properties></File><File><Name>item1-symlink</Name><FileId>16140971433240035328</FileId><Properties><Content-Length>236</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
[...]
    {
      "RequestUri": "https://seancanaryfilepremium2.file.core.windows.net/test-share-61dfb4ce-6bde-4f77-032d-0e59fd5f2d04/destFolder/item1?sv=Sanitized&ss=f&srt=sco&se=2025-05-15T19%3A45%3A49Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanaryfilepremium2.file.core.windows.net/test-share-61dfb4ce-6bde-4f77-032d-0e59fd5f2d04/destFolder/item1?sv=Sanitized&ss=f&srt=sco&se=2025-05-15T19%3A45%3A49Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-content-length": "1024",
        "x-ms-content-type": "application/octet-stream",
        "x-ms-file-creation-time": "2025-05-14T19:45:46.7852106Z",
        "x-ms-file-file-type": "Regular",
        "x-ms-file-last-write-time": "2025-05-14T19:45:46.7852106Z",
        "x-ms-type": "file",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD931FEC53CB54\"",
        "Last-Modified": "Wed, 14 May 2025 19:45:47 GMT",
        "x-ms-file-change-time": "2025-05-14T19:45:47.4662228Z",
        "x-ms-file-creation-time": "2025-05-14T19:45:46.7852106Z",
        "x-ms-file-file-type": "Regular",
        "x-ms-file-id": "13835093239654252544",
        "x-ms-file-last-write-time": "2025-05-14T19:45:46.7852106Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-group": "0",
        "x-ms-mode": "0664",
        "x-ms-owner": "0",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanaryfilepremium2.file.core.windows.net/test-share-61dfb4ce-6bde-4f77-032d-0e59fd5f2d04/destFolder/item1?sv=Sanitized&ss=f&srt=sco&se=2025-05-15T19%3A45%3A49Z&sp=rwdxylacuptfi&sig=Sanitized&comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://seancanaryfilepremium2.file.core.windows.net/test-share-87be082a-94aa-5d62-7798-6dc201735b0d/sourceFolder/item1?sv=sanitized-value&ss=f&srt=sco&se=2025-05-15T19%3A45%3A49Z&sp=rwdxylacuptfi&sig=Sanitized",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2025-07-05",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD931FEC695DF5\"",
        "Last-Modified": "Wed, 14 May 2025 19:45:47 GMT",
        "x-ms-content-crc64": "iknlm7CyG2k=",
        "x-ms-file-last-write-time": "2025-05-14T19:45:46.7852106Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanaryfilepremium2.file.core.windows.net/test-share-61dfb4ce-6bde-4f77-032d-0e59fd5f2d04/destFolder/item1?sv=Sanitized&ss=f&srt=sco&se=2025-05-15T19%3A45%3A49Z&sp=rwdxylacuptfi&sig=Sanitized&comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-content-type": "application/octet-stream",
        "x-ms-file-creation-time": "2025-05-14T19:45:46.7852106Z",
        "x-ms-file-last-write-time": "2025-05-14T19:45:46.7852106Z",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD931FEC725495\"",
        "Last-Modified": "Wed, 14 May 2025 19:45:47 GMT",
        "x-ms-file-change-time": "2025-05-14T19:45:47.6663445Z",
        "x-ms-file-creation-time": "2025-05-14T19:45:46.7852106Z",
        "x-ms-file-id": "13835093239654252544",
        "x-ms-file-last-write-time": "2025-05-14T19:45:46.7852106Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-group": "0",
        "x-ms-link-count": "1",
        "x-ms-mode": "0664",
        "x-ms-owner": "0",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seancanaryfilepremium2.file.core.windows.net/test-share-61dfb4ce-6bde-4f77-032d-0e59fd5f2d04/destFolder?sv=Sanitized&ss=f&srt=sco&se=2025-05-15T19%3A45%3A49Z&sp=rwdxylacuptfi&sig=Sanitized&restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://seancanaryfilepremium2.file.core.windows.net/\" ShareName=\"test-share-61dfb4ce-6bde-4f77-032d-0e59fd5f2d04\" DirectoryPath=\"destFolder\"><DirectoryId>13835128424026341376</DirectoryId><Entries><File><Name>item1</Name><FileId>13835093239654252544</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://seancanaryfilepremium2.file.core.windows.net/test-share-61dfb4ce-6bde-4f77-032d-0e59fd5f2d04?sv=Sanitized&ss=f&srt=sco&se=2025-05-15T19%3A45%3A49Z&sp=rwdxylacuptfi&sig=Sanitized&restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanaryfilepremium2.file.core.windows.net/test-share-87be082a-94aa-5d62-7798-6dc201735b0d?sv=Sanitized&ss=f&srt=sco&se=2025-05-15T19%3A45%3A49Z&sp=rwdxylacuptfi&sig=Sanitized&restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2025-05-14T15:45:49.2172763-04:00",
    "RandomSeed": "1878470745",
    "Storage_TestConfigPremiumFile": "PremiumFileTenant\nseancanaryfilepremium2\nU2FuaXRpemVk\nhttps://seancanaryfilepremium2.blob.core.windows.net\nhttps://seancanaryfilepremium2.file.core.windows.net\nhttps://seancanaryfilepremium2.queue.core.windows.net\nhttps://seancanaryfilepremium2.table.core.windows.net\n\n\n\n\nhttps://seancanaryfilepremium2-secondary.blob.core.windows.net\nhttps://seancanaryfilepremium2-secondary.file.core.windows.net\nhttps://seancanaryfilepremium2-secondary.queue.core.windows.net\nhttps://seancanaryfilepremium2-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seancanaryfilepremium2.blob.core.windows.net/;QueueEndpoint=https://seancanaryfilepremium2.queue.core.windows.net/;FileEndpoint=https://seancanaryfilepremium2.file.core.windows.net/;BlobSecondaryEndpoint=https://seancanaryfilepremium2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seancanaryfilepremium2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seancanaryfilepremium2-secondary.file.core.windows.net/;AccountName=seancanaryfilepremium2;AccountKey=U2FuaXRpemVk\n\n\n"
  }
}
