{
  "Entries": [
    {
      "RequestUri": "https://amandafileprem.file.core.windows.net/test-share-2a5d368d-b616-0cab-5eca-330a51381b4e?sv=Sanitized&ss=f&srt=sco&se=2026-04-30T23%3A32%3A38Z&sp=rwdxylacuptfi&sig=Sanitized&restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-enabled-protocols": "NFS",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA64799419377\"",
        "Last-Modified": "Wed, 29 Apr 2026 23:32:37 GMT",
        "x-ms-share-included-burst-iops": "10000",
        "x-ms-share-max-burst-credits-for-iops": "25084800",
        "x-ms-share-provisioned-bandwidth-mibps": "129",
        "x-ms-share-provisioned-iops": "3032",
        "x-ms-share-quota": "32",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandafileprem.file.core.windows.net/test-share-2a5d368d-b616-0cab-5eca-330a51381b4e/sourceFolder?sv=Sanitized&ss=f&srt=sco&se=2026-04-30T23%3A32%3A38Z&sp=rwdxylacuptfi&sig=Sanitized&restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-file-creation-time": "2024-04-01T09:05:55.0000000Z",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-group": "123",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-mode": "1777",
        "x-ms-owner": "345",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA64799545BA6\"",
        "Last-Modified": "Wed, 29 Apr 2026 23:32:37 GMT",
        "x-ms-file-change-time": "2026-04-29T23:32:37.8520486Z",
        "x-ms-file-creation-time": "2024-04-01T09:05:55.0000000Z",
        "x-ms-file-file-type": "Directory",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-file-parent-id": "1",
        "x-ms-group": "123",
        "x-ms-mode": "1777",
        "x-ms-owner": "345",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandafileprem.file.core.windows.net/test-share-2a5d368d-b616-0cab-5eca-330a51381b4e/sourceFolder/item1?sv=Sanitized&ss=f&srt=sco&se=2026-04-30T23%3A32%3A38Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-language": "en-US,en-CA",
        "x-ms-content-length": "1024",
        "x-ms-file-creation-time": "2024-04-01T09:05:55.0000000Z",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-group": "123",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-mode": "1777",
        "x-ms-owner": "345",
        "x-ms-type": "file",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA647995B0AE0\"",
        "Last-Modified": "Wed, 29 Apr 2026 23:32:37 GMT",
        "x-ms-file-change-time": "2026-04-29T23:32:37.8958560Z",
        "x-ms-file-creation-time": "2024-04-01T09:05:55.0000000Z",
        "x-ms-file-file-type": "Regular",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-group": "123",
        "x-ms-mode": "1777",
        "x-ms-owner": "345",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandafileprem.file.core.windows.net/test-share-2a5d368d-b616-0cab-5eca-330a51381b4e/sourceFolder/bar?sv=Sanitized&ss=f&srt=sco&se=2026-04-30T23%3A32%3A38Z&sp=rwdxylacuptfi&sig=Sanitized&restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-file-creation-time": "2024-04-01T09:05:55.0000000Z",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-group": "123",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-mode": "1777",
        "x-ms-owner": "345",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA64799681B8F\"",
        "Last-Modified": "Wed, 29 Apr 2026 23:32:37 GMT",
        "x-ms-file-change-time": "2026-04-29T23:32:37.9814799Z",
        "x-ms-file-creation-time": "2024-04-01T09:05:55.0000000Z",
        "x-ms-file-file-type": "Directory",
        "x-ms-file-id": "10376363910205800448",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-group": "123",
        "x-ms-mode": "1777",
        "x-ms-owner": "345",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandafileprem.file.core.windows.net/test-share-2a5d368d-b616-0cab-5eca-330a51381b4e/sourceFolder/bar/item3?sv=Sanitized&ss=f&srt=sco&se=2026-04-30T23%3A32%3A38Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-language": "en-US,en-CA",
        "x-ms-content-length": "1024",
        "x-ms-file-creation-time": "202[...]
    {
      "RequestUri": "https://amandafileprem.file.core.windows.net/test-share-2a5d368d-b616-0cab-5eca-330a51381b4e/sourceFolder/pik?sv=Sanitized&ss=f&srt=sco&se=2026-04-30T23%3A32%3A38Z&sp=rwdxylacuptfi&sig=Sanitized&restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-file-creation-time": "2024-04-01T09:05:55.0000000Z",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-group": "123",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-mode": "1777",
        "x-ms-owner": "345",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA6479974DE76\"",
        "Last-Modified": "Wed, 29 Apr 2026 23:32:38 GMT",
        "x-ms-file-change-time": "2026-04-29T23:32:38.0651126Z",
        "x-ms-file-creation-time": "2024-04-01T09:05:55.0000000Z",
        "x-ms-file-file-type": "Directory",
        "x-ms-file-id": "12682206919419494400",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-group": "123",
        "x-ms-mode": "1777",
        "x-ms-owner": "345",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandafileprem.file.core.windows.net/test-share-2a5d368d-b616-0cab-5eca-330a51381b4e/sourceFolder/pik/item4?sv=Sanitized&ss=f&srt=sco&se=2026-04-30T23%3A32%3A38Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-language": "en-US,en-CA",
        "x-ms-content-length": "1024",
        "x-ms-file-creation-time": "202[...]
    {
      "RequestUri": "https://amandafileprem.file.core.windows.net/test-share-ca87c7a0-b2d1-7836-93a1-cab18bf87bd2/destFolder?sv=Sanitized&ss=f&srt=sco&se=2026-04-30T23%3A32%3A38Z&sp=rwdxylacuptfi&sig=Sanitized&restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA6479983264A\"",
        "Last-Modified": "Wed, 29 Apr 2026 23:32:38 GMT",
        "x-ms-file-change-time": "2026-04-29T23:32:38.1587018Z",
        "x-ms-file-creation-time": "2026-04-29T23:32:38.1587018Z",
        "x-ms-file-file-type": "Directory",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2026-04-29T23:32:38.1587018Z",
        "x-ms-file-parent-id": "1",
        "x-ms-group": "0",
        "x-ms-mode": "0755",
        "x-ms-owner": "0",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandafileprem.file.core.windows.net/test-share-2a5d368d-b616-0cab-5eca-330a51381b4e?sv=Sanitized&ss=f&srt=sco&se=2026-04-30T23%3A32%3A38Z&sp=rwdxylacuptfi&sig=Sanitized&restype=share",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA64799419377\"",
        "Last-Modified": "Wed, 29 Apr 2026 23:32:37 GMT",
        "x-ms-enable-snapshot-virtual-directory-access": "true",
        "x-ms-enabled-protocols": "NFS",
        "x-ms-has-immutability-policy": "false",
        "x-ms-has-legal-hold": "false",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-root-squash": "NoRootSquash",
        "x-ms-share-included-burst-iops": "10000",
        "x-ms-share-max-burst-credits-for-iops": "25084800",
        "x-ms-share-next-allowed-provisioned-bandwidth-downgrade-time": "Wed, 29 Apr 2026 23:32:37 GMT",
        "x-ms-share-next-allowed-provisioned-iops-downgrade-time": "Wed, 29 Apr 2026 23:32:37 GMT",
        "x-ms-share-next-allowed-quota-downgrade-time": "Wed, 29 Apr 2026 23:32:37 GMT",
        "x-ms-share-provisioned-bandwidth-mibps": "129",
        "x-ms-share-provisioned-iops": "3032",
        "x-ms-share-quota": "32",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandafileprem.file.core.windows.net/test-share-2a5d368d-b616-0cab-5eca-330a51381b4e/sourceFolder?sv=Sanitized&ss=f&srt=sco&se=2026-04-30T23%3A32%3A38Z&sp=rwdxylacuptfi&sig=Sanitized&restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandafileprem.file.core.windows.net/\" ShareName=\"test-share-2a5d368d-b616-0cab-5eca-330a51381b4e\" DirectoryPath=\"sourceFolder\"><DirectoryId>13835128424026341376</DirectoryId><Entries><Directory><Name>bar</Name><FileId>10376363910205800448</FileId><Properties /></Directory><File><Name>item1</Name><FileId>11529285414812647424</FileId><Properties><Content-Length>1024</Content-Length></Properties></File><File><Name>item2</Name><FileId>16140971433240035328</FileId><Properties><Content-Length>1024</Content-Length></Properties></File><Directory><Name>pik</Name><FileId>12682206919419494400</FileId><Properties /></Directory></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandafileprem.file.core.windows.net/test-share-2a5d368d-b616-0cab-5eca-330a51381b4e/sourceFolder/bar?sv=Sanitized&ss=f&srt=sco&se=2026-04-30T23%3A32%3A38Z&sp=rwdxylacuptfi&sig=Sanitized&restype=directory",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA64799681B8F\"",
        "Last-Modified": "Wed, 29 Apr 2026 23:32:37 GMT",
        "x-ms-file-change-time": "2026-04-29T23:32:38.0252874Z",
        "x-ms-file-creation-time": "2024-04-01T09:05:55.0000000Z",
        "x-ms-file-file-type": "Directory",
        "x-ms-file-id": "10376363910205800448",
        "x-ms-file-last-write-time": "2026-04-29T23:32:38.0252874Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-group": "123",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-mode": "1777",
        "x-ms-owner": "345",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandafileprem.file.core.windows.net/test-share-ca87c7a0-b2d1-7836-93a1-cab18bf87bd2/destFolder/bar?sv=Sanitized&ss=f&srt=sco&se=2026-04-30T23%3A32%3A38Z&sp=rwdxylacuptfi&sig=Sanitized&restype=directory",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ResourceNotFound</Code><Message>The specified resource does not exist.\n",
        "RequestId:3f8fa2f6-b01a-0012-3d30-d8e34a000000\n",
        "Time:2026-04-29T23:32:38.3702956Z</Message></Error>"
      ]
    },
[...]
    {
      "RequestUri": "https://amandafileprem.file.core.windows.net/test-share-ca87c7a0-b2d1-7836-93a1-cab18bf87bd2/destFolder/pik?sv=Sanitized&ss=f&srt=sco&se=2026-04-30T23%3A32%3A38Z&sp=rwdxylacuptfi&sig=Sanitized&restype=directory",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ResourceNotFound</Code><Message>The specified resource does not exist.\n",
        "RequestId:3f8fa303-b01a-0012-4930-d8e34a000000\n",
        "Time:2026-04-29T23:32:38.4895027Z</Message></Error>"
      ]
    },
[...]
    {
      "RequestUri": "https://amandafileprem.file.core.windows.net/test-share-2a5d368d-b616-0cab-5eca-330a51381b4e/sourceFolder/item1?sv=Sanitized&ss=f&srt=sco&se=2026-04-30T23%3A32%3A38Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": [
          "en-US",
          "en-CA"
        ],
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DEA647995B0AE0\"",
        "Last-Modified": "Wed, 29 Apr 2026 23:32:37 GMT",
        "x-ms-file-change-time": "2026-04-29T23:32:37.8958560Z",
        "x-ms-file-creation-time": "2024-04-01T09:05:55.0000000Z",
        "x-ms-file-file-type": "Regular",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-group": "123",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-link-count": "1",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-mode": "1777",
        "x-ms-owner": "345",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandafileprem.file.core.windows.net/test-share-2a5d368d-b616-0cab-5eca-330a51381b4e/sourceFolder/bar?sv=Sanitized&ss=f&srt=sco&se=2026-04-30T23%3A32%3A38Z&sp=rwdxylacuptfi&sig=Sanitized&restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandafileprem.file.core.windows.net/\" ShareName=\"test-share-2a5d368d-b616-0cab-5eca-330a51381b4e\" DirectoryPath=\"sourceFolder/bar\"><DirectoryId>10376363910205800448</DirectoryId><Entries><File><Name>item3</Name><FileId>14988049928633188352</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
[...]
    {
      "RequestUri": "https://amandafileprem.file.core.windows.net/test-share-ca87c7a0-b2d1-7836-93a1-cab18bf87bd2/destFolder/item1?sv=Sanitized&ss=f&srt=sco&se=2026-04-30T23%3A32%3A38Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-language": "en-US,en-CA",
        "x-ms-content-length": "1024",
        "x-ms-content-type": "application/octet-stream",
        "x-ms-file-file-type": "Regular",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-type": "file",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA64799C8A7B3\"",
        "Last-Modified": "Wed, 29 Apr 2026 23:32:38 GMT",
        "x-ms-file-change-time": "2026-04-29T23:32:38.6142131Z",
        "x-ms-file-creation-time": "2026-04-29T23:32:38.6142131Z",
        "x-ms-file-file-type": "Regular",
        "x-ms-file-id": "10376363910205800448",
        "x-ms-file-last-write-time": "2026-04-29T23:32:38.6142131Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-group": "0",
        "x-ms-mode": "0664",
        "x-ms-owner": "0",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandafileprem.file.core.windows.net/test-share-2a5d368d-b616-0cab-5eca-330a51381b4e/sourceFolder/pik?sv=Sanitized&ss=f&srt=sco&se=2026-04-30T23%3A32%3A38Z&sp=rwdxylacuptfi&sig=Sanitized&restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandafileprem.file.core.windows.net/\" ShareName=\"test-share-2a5d368d-b616-0cab-5eca-330a51381b4e\" DirectoryPath=\"sourceFolder/pik\"><DirectoryId>12682206919419494400</DirectoryId><Entries><File><Name>item4</Name><FileId>17293892937846882304</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
[...]
    {
      "RequestUri": "https://amandafileprem.file.core.windows.net/test-share-ca87c7a0-b2d1-7836-93a1-cab18bf87bd2/destFolder/item1?sv=Sanitized&ss=f&srt=sco&se=2026-04-30T23%3A32%3A38Z&sp=rwdxylacuptfi&sig=Sanitized&comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://amandafileprem.file.core.windows.net/test-share-2a5d368d-b616-0cab-5eca-330a51381b4e/sourceFolder/item1?sv=sanitized-value&ss=f&srt=sco&se=2026-04-30T23%3A32%3A38Z&sp=rwdxylacuptfi&sig=Sanitized",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2026-06-06",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA64799D11A80\"",
        "Last-Modified": "Wed, 29 Apr 2026 23:32:38 GMT",
        "x-ms-content-crc64": "iknlm7CyG2k=",
        "x-ms-file-last-write-time": "2026-04-29T23:32:38.6142131Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandafileprem.file.core.windows.net/test-share-ca87c7a0-b2d1-7836-93a1-cab18bf87bd2/destFolder/item1?sv=Sanitized&ss=f&srt=sco&se=2026-04-30T23%3A32%3A38Z&sp=rwdxylacuptfi&sig=Sanitized&comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-language": "en-US,en-CA",
        "x-ms-content-type": "application/octet-stream",
        "x-ms-file-creation-time": "2024-04-01T09:05:55.0000000Z",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA64799D72E2E\"",
        "Last-Modified": "Wed, 29 Apr 2026 23:32:38 GMT",
        "x-ms-file-change-time": "2026-04-29T23:32:38.7094062Z",
        "x-ms-file-creation-time": "2024-04-01T09:05:55.0000000Z",
        "x-ms-file-id": "10376363910205800448",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-group": "0",
        "x-ms-link-count": "1",
        "x-ms-mode": "0664",
        "x-ms-owner": "0",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandafileprem.file.core.windows.net/test-share-ca87c7a0-b2d1-7836-93a1-cab18bf87bd2/destFolder/bar/item3?sv=Sanitized&ss=f&srt=sco&se=2026-04-30T23%3A32%3A38Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-language": "en-US,en-CA",
        "x-ms-content-length": "1024",
        "x-ms-content-type": "application[...]
    {
      "RequestUri": "https://amandafileprem.file.core.windows.net/test-share-ca87c7a0-b2d1-7836-93a1-cab18bf87bd2/destFolder/bar/item3?sv=Sanitized&ss=f&srt=sco&se=2026-04-30T23%3A32%3A38Z&sp=rwdxylacuptfi&sig=Sanitized&comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://amandafileprem.file.core.windows.net/test-share-2a5d368d-b616-0cab-5eca-330a51381b4e/sourceFolder/bar/item3?sv=sanitized-value&ss=f&srt=sco&se=2026-04-30T23%3A32%3A38Z&sp=rwdxylacuptfi&sig=Sanitized",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2026-06-06",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA64799F93619\"",
        "Last-Modified": "Wed, 29 Apr 2026 23:32:38 GMT",
        "x-ms-content-crc64": "iknlm7CyG2k=",
        "x-ms-file-last-write-time": "2026-04-29T23:32:38.8846410Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandafileprem.file.core.windows.net/test-share-ca87c7a0-b2d1-7836-93a1-cab18bf87bd2/destFolder/bar/item3?sv=Sanitized&ss=f&srt=sco&se=2026-04-30T23%3A32%3A38Z&sp=rwdxylacuptfi&sig=Sanitized&comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-language": "en-US,en-CA",
        "x-ms-content-type": "application/octet-stream",
        "x-ms-file-creation-time": "2024-04-01T09:05:55.0000000Z",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA64799FF70A8\"",
        "Last-Modified": "Wed, 29 Apr 2026 23:32:38 GMT",
        "x-ms-file-change-time": "2026-04-29T23:32:38.9732520Z",
        "x-ms-file-creation-time": "2024-04-01T09:05:55.0000000Z",
        "x-ms-file-id": "12682206919419494400",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-group": "0",
        "x-ms-link-count": "1",
        "x-ms-mode": "0664",
        "x-ms-owner": "0",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandafileprem.file.core.windows.net/test-share-ca87c7a0-b2d1-7836-93a1-cab18bf87bd2/destFolder/pik/item4?sv=Sanitized&ss=f&srt=sco&se=2026-04-30T23%3A32%3A38Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-language": "en-US,en-CA",
        "x-ms-content-length": "1024",
        "x-ms-content-type": "application[...]
    {
      "RequestUri": "https://amandafileprem.file.core.windows.net/test-share-ca87c7a0-b2d1-7836-93a1-cab18bf87bd2/destFolder/pik/item4?sv=Sanitized&ss=f&srt=sco&se=2026-04-30T23%3A32%3A38Z&sp=rwdxylacuptfi&sig=Sanitized&comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://amandafileprem.file.core.windows.net/test-share-2a5d368d-b616-0cab-5eca-330a51381b4e/sourceFolder/pik/item4?sv=sanitized-value&ss=f&srt=sco&se=2026-04-30T23%3A32%3A38Z&sp=rwdxylacuptfi&sig=Sanitized",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2026-06-06",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA6479A0D1CEA\"",
        "Last-Modified": "Wed, 29 Apr 2026 23:32:39 GMT",
        "x-ms-content-crc64": "iknlm7CyG2k=",
        "x-ms-file-last-write-time": "2026-04-29T23:32:39.0150683Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandafileprem.file.core.windows.net/test-share-ca87c7a0-b2d1-7836-93a1-cab18bf87bd2/destFolder/pik/item4?sv=Sanitized&ss=f&srt=sco&se=2026-04-30T23%3A32%3A38Z&sp=rwdxylacuptfi&sig=Sanitized&comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-language": "en-US,en-CA",
        "x-ms-content-type": "application/octet-stream",
        "x-ms-file-creation-time": "2024-04-01T09:05:55.0000000Z",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA6479A13A53E\"",
        "Last-Modified": "Wed, 29 Apr 2026 23:32:39 GMT",
        "x-ms-file-change-time": "2026-04-29T23:32:39.1056702Z",
        "x-ms-file-creation-time": "2024-04-01T09:05:55.0000000Z",
        "x-ms-file-id": "17293892937846882304",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-file-parent-id": "16140971433240035328",
        "x-ms-group": "0",
        "x-ms-link-count": "1",
        "x-ms-mode": "0664",
        "x-ms-owner": "0",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandafileprem.file.core.windows.net/test-share-ca87c7a0-b2d1-7836-93a1-cab18bf87bd2/destFolder?sv=Sanitized&ss=f&srt=sco&se=2026-04-30T23%3A32%3A38Z&sp=rwdxylacuptfi&sig=Sanitized&restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandafileprem.file.core.windows.net/\" ShareName=\"test-share-ca87c7a0-b2d1-7836-93a1-cab18bf87bd2\" DirectoryPath=\"destFolder\"><DirectoryId>13835128424026341376</DirectoryId><Entries><Directory><Name>bar</Name><FileId>11529285414812647424</FileId><Properties /></Directory><File><Name>item1</Name><FileId>10376363910205800448</FileId><Properties><Content-Length>1024</Content-Length></Properties></File><File><Name>item2</Name><FileId>14988049928633188352</FileId><Properties><Content-Length>1024</Content-Length></Properties></File><Directory><Name>pik</Name><FileId>16140971433240035328</FileId><Properties /></Directory></Entries><NextMarker /></EnumerationResults>"
    },
[...]
    {
      "RequestUri": "https://amandafileprem.file.core.windows.net/test-share-2a5d368d-b616-0cab-5eca-330a51381b4e/sourceFolder/item1?sv=Sanitized&ss=f&srt=sco&se=2026-04-30T23%3A32%3A38Z&sp=rwdxylacuptfi&sig=Sanitized",
[...]
