{
  "Entries": [
    {
      "RequestUri": "https://nickliupremiumfileacc.file.core.windows.net/test-share-739950c5-4520-fbbc-323b-539fa53093eb?sv=Sanitized&ss=f&srt=sco&se=2025-05-16T00%3A23%3A20Z&sp=rwdxylacuptfi&sig=Sanitized&restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-enabled-protocols": "NFS",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD9346B28D9296\"",
        "Last-Modified": "Thu, 15 May 2025 00:23:20 GMT",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://nickliupremiumfileacc.file.core.windows.net/test-share-739950c5-4520-fbbc-323b-539fa53093eb/sourceFolder?sv=Sanitized&ss=f&srt=sco&se=2025-05-16T00%3A23%3A20Z&sp=rwdxylacuptfi&sig=Sanitized&restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-file-creation-time": "2024-04-01T09:05:55.0000000Z",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-group": "123",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-mode": "1777",
        "x-ms-owner": "345",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD9346B29CEF96\"",
        "Last-Modified": "Thu, 15 May 2025 00:23:21 GMT",
        "x-ms-file-change-time": "2025-05-15T00:23:21.0101654Z",
        "x-ms-file-creation-time": "2024-04-01T09:05:55.0000000Z",
        "x-ms-file-file-type": "Directory",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-file-parent-id": "1",
        "x-ms-group": "123",
        "x-ms-mode": "1777",
        "x-ms-owner": "345",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliupremiumfileacc.file.core.windows.net/test-share-739950c5-4520-fbbc-323b-539fa53093eb/sourceFolder/item1?sv=Sanitized&ss=f&srt=sco&se=2025-05-16T00%3A23%3A20Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-content-length": "1024",
        "x-ms-type": "file",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD9346B2A1F7EB\"",
        "Last-Modified": "Thu, 15 May 2025 00:23:21 GMT",
        "x-ms-file-change-time": "2025-05-15T00:23:21.0431467Z",
        "x-ms-file-creation-time": "2025-05-15T00:23:21.0431467Z",
        "x-ms-file-file-type": "Regular",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2025-05-15T00:23:21.0431467Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-group": "0",
        "x-ms-mode": "0664",
        "x-ms-owner": "0",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliupremiumfileacc.file.core.windows.net/test-share-739950c5-4520-fbbc-323b-539fa53093eb/sourceFolder/item1-hardlink?sv=Sanitized&ss=f&srt=sco&se=2025-05-16T00%3A23%3A20Z&sp=rwdxylacuptfi&sig=Sanitized&restype=hardlink",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-file-target-file": "/sourceFolder/item1",
        "x-ms-type": "file",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD9346B2A970E3\"",
        "Last-Modified": "Thu, 15 May 2025 00:23:21 GMT",
        "x-ms-file-change-time": "2025-05-15T00:23:21.0921187Z",
        "x-ms-file-creation-time": "2025-05-15T00:23:21.0431467Z",
        "x-ms-file-file-type": "Regular",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2025-05-15T00:23:21.0431467Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-group": "0",
        "x-ms-link-count": "2",
        "x-ms-mode": "0664",
        "x-ms-owner": "0",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliupremiumfileacc.file.core.windows.net/test-share-739950c5-4520-fbbc-323b-539fa53093eb/sourceFolder/item1-hardlink?sv=Sanitized&ss=f&srt=sco&se=2025-05-16T00%3A23%3A20Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD9346B2A970E3\"",
        "Last-Modified": "Thu, 15 May 2025 00:23:21 GMT",
        "x-ms-file-change-time": "2025-05-15T00:23:21.0921187Z",
        "x-ms-file-creation-time": "2025-05-15T00:23:21.0431467Z",
        "x-ms-file-file-type": "Regular",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2025-05-15T00:23:21.0431467Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-group": "0",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-link-count": "2",
        "x-ms-mode": "0664",
        "x-ms-owner": "0",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliupremiumfileacc.file.core.windows.net/test-share-6001030c-e42f-2fbe-1acb-65d28768dc22/destFolder?sv=Sanitized&ss=f&srt=sco&se=2025-05-16T00%3A23%3A20Z&sp=rwdxylacuptfi&sig=Sanitized&restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD9346B2B2BE52\"",
        "Last-Modified": "Thu, 15 May 2025 00:23:21 GMT",
        "x-ms-file-change-time": "2025-05-15T00:23:21.1530834Z",
        "x-ms-file-creation-time": "2025-05-15T00:23:21.1530834Z",
        "x-ms-file-file-type": "Directory",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-05-15T00:23:21.1530834Z",
        "x-ms-file-parent-id": "1",
        "x-ms-group": "0",
        "x-ms-mode": "0755",
        "x-ms-owner": "0",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliupremiumfileacc.file.core.windows.net/test-share-739950c5-4520-fbbc-323b-539fa53093eb?sv=Sanitized&ss=f&srt=sco&se=2025-05-16T00%3A23%3A20Z&sp=rwdxylacuptfi&sig=Sanitized&restype=share",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD9346B28D9296\"",
        "Last-Modified": "Thu, 15 May 2025 00:23:20 GMT",
        "x-ms-access-tier": "Premium",
        "x-ms-enable-snapshot-virtual-directory-access": "true",
        "x-ms-enabled-protocols": "NFS",
        "x-ms-has-immutability-policy": "false",
        "x-ms-has-legal-hold": "false",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-root-squash": "NoRootSquash",
        "x-ms-share-next-allowed-quota-downgrade-time": "Thu, 15 May 2025 00:23:20 GMT",
        "x-ms-share-paid-bursting-enabled": "false",
        "x-ms-share-provisioned-bandwidth-mibps": "110",
        "x-ms-share-provisioned-egress-mbps": "110",
        "x-ms-share-provisioned-ingress-mbps": "110",
        "x-ms-share-provisioned-iops": "3100",
        "x-ms-share-quota": "100",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://nickliupremiumfileacc.file.core.windows.net/test-share-739950c5-4520-fbbc-323b-539fa53093eb/sourceFolder?sv=Sanitized&ss=f&srt=sco&se=2025-05-16T00%3A23%3A20Z&sp=rwdxylacuptfi&sig=Sanitized&restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://nickliupremiumfileacc.file.core.windows.net/\" ShareName=\"test-share-739950c5-4520-fbbc-323b-539fa53093eb\" DirectoryPath=\"sourceFolder\"><DirectoryId>13835128424026341376</DirectoryId><Entries><File><Name>item1</Name><FileId>11529285414812647424</FileId><Properties><Content-Length>1024</Content-Length></Properties></File><File><Name>item1-hardlink</Name><FileId>11529285414812647424</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
[...]
    {
      "RequestUri": "https://nickliupremiumfileacc.file.core.windows.net/test-share-6001030c-e42f-2fbe-1acb-65d28768dc22/destFolder/item1-hardlink?sv=Sanitized&ss=f&srt=sco&se=2025-05-16T00%3A23%3A20Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliupremiumfileacc.file.core.windows.net/test-share-6001030c-e42f-2fbe-1acb-65d28768dc22/destFolder/item1-hardlink?sv=Sanitized&ss=f&srt=sco&se=2025-05-16T00%3A23%3A20Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-content-length": "1024",
        "x-ms-content-type": "application/octet-stream",
        "x-ms-file-creation-time": "2025-05-15T00:23:21.0431467Z",
        "x-ms-file-file-type": "Regular",
        "x-ms-file-last-write-time": "2025-05-15T00:23:21.0431467Z",
        "x-ms-group": "0",
        "x-ms-mode": "0664",
        "x-ms-owner": "0",
        "x-ms-type": "file",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD9346B2D97A86\"",
        "Last-Modified": "Thu, 15 May 2025 00:23:21 GMT",
        "x-ms-file-change-time": "2025-05-15T00:23:21.4069382Z",
        "x-ms-file-creation-time": "2025-05-15T00:23:21.0431467Z",
        "x-ms-file-file-type": "Regular",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2025-05-15T00:23:21.0431467Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-group": "0",
        "x-ms-mode": "0664",
        "x-ms-owner": "0",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliupremiumfileacc.file.core.windows.net/test-share-6001030c-e42f-2fbe-1acb-65d28768dc22/destFolder/item1-hardlink?sv=Sanitized&ss=f&srt=sco&se=2025-05-16T00%3A23%3A20Z&sp=rwdxylacuptfi&sig=Sanitized&comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://nickliupremiumfileacc.file.core.windows.net/test-share-739950c5-4520-fbbc-323b-539fa53093eb/sourceFolder/item1-hardlink?sv=sanitized-value&ss=f&srt=sco&se=2025-05-16T00%3A23%3A20Z&sp=rwdxylacuptfi&sig=Sanitized",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2025-07-05",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD9346B2DEF7FC\"",
        "Last-Modified": "Thu, 15 May 2025 00:23:21 GMT",
        "x-ms-content-crc64": "iknlm7CyG2k=",
        "x-ms-file-last-write-time": "2025-05-15T00:23:21.0431467Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliupremiumfileacc.file.core.windows.net/test-share-6001030c-e42f-2fbe-1acb-65d28768dc22/destFolder/item1-hardlink?sv=Sanitized&ss=f&srt=sco&se=2025-05-16T00%3A23%3A20Z&sp=rwdxylacuptfi&sig=Sanitized&comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-content-type": "application/octet-stream",
        "x-ms-file-creation-time": "2025-05-15T00:23:21.0431467Z",
        "x-ms-file-last-write-time": "2025-05-15T00:23:21.0431467Z",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD9346B2E3B23E\"",
        "Last-Modified": "Thu, 15 May 2025 00:23:21 GMT",
        "x-ms-file-change-time": "2025-05-15T00:23:21.4739006Z",
        "x-ms-file-creation-time": "2025-05-15T00:23:21.0431467Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2025-05-15T00:23:21.0431467Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-group": "0",
        "x-ms-link-count": "1",
        "x-ms-mode": "0664",
        "x-ms-owner": "0",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://nickliupremiumfileacc.file.core.windows.net/test-share-6001030c-e42f-2fbe-1acb-65d28768dc22/destFolder/item1?sv=Sanitized&ss=f&srt=sco&se=2025-05-16T00%3A23%3A20Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://nickliupremiumfileacc.file.core.windows.net/test-share-6001030c-e42f-2fbe-1acb-65d28768dc22/destFolder/item1?sv=Sanitized&ss=f&srt=sco&se=2025-05-16T00%3A23%3A20Z&sp=rwdxylacuptfi&sig=Sanitized&comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://nickliupremiumfileacc.file.core.windows.net/test-share-739950c5-4520-fbbc-323b-539fa53093eb/sourceFolder/item1?sv=sanitized-value&ss=f&srt=sco&se=2025-05-16T00%3A23%3A20Z&sp=rwdxylacuptfi&sig=Sanitized",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2025-07-05",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD9346B2FB0764\"",
        "Last-Modified": "Thu, 15 May 2025 00:23:21 GMT",
        "x-ms-content-crc64": "iknlm7CyG2k=",
        "x-ms-file-last-write-time": "2025-05-15T00:23:21.0431467Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliupremiumfileacc.file.core.windows.net/test-share-6001030c-e42f-2fbe-1acb-65d28768dc22/destFolder/item1?sv=Sanitized&ss=f&srt=sco&se=2025-05-16T00%3A23%3A20Z&sp=rwdxylacuptfi&sig=Sanitized&comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-content-type": "application/octet-stream",
        "x-ms-file-creation-time": "2025-05-15T00:23:21.0431467Z",
        "x-ms-file-last-write-time": "2025-05-15T00:23:21.0431467Z",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD9346B3000FB7\"",
        "Last-Modified": "Thu, 15 May 2025 00:23:21 GMT",
        "x-ms-file-change-time": "2025-05-15T00:23:21.6597943Z",
        "x-ms-file-creation-time": "2025-05-15T00:23:21.0431467Z",
        "x-ms-file-id": "16140971433240035328",
        "x-ms-file-last-write-time": "2025-05-15T00:23:21.0431467Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-group": "0",
        "x-ms-link-count": "1",
        "x-ms-mode": "0664",
        "x-ms-owner": "0",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://nickliupremiumfileacc.file.core.windows.net/test-share-6001030c-e42f-2fbe-1acb-65d28768dc22/destFolder?sv=Sanitized&ss=f&srt=sco&se=2025-05-16T00%3A23%3A20Z&sp=rwdxylacuptfi&sig=Sanitized&restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://nickliupremiumfileacc.file.core.windows.net/\" ShareName=\"test-share-6001030c-e42f-2fbe-1acb-65d28768dc22\" DirectoryPath=\"destFolder\"><DirectoryId>13835128424026341376</DirectoryId><Entries><File><Name>item1</Name><FileId>16140971433240035328</FileId><Properties><Content-Length>1024</Content-Length></Properties></File><File><Name>item1-hardlink</Name><FileId>11529285414812647424</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
[...]
    {
      "RequestUri": "https://nickliupremiumfileacc.file.core.windows.net/test-share-739950c5-4520-fbbc-323b-539fa53093eb/sourceFolder/item1?sv=Sanitized&ss=f&srt=sco&se=2025-05-16T00%3A23%3A20Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD9346B2A970E3\"",
        "Last-Modified": "Thu, 15 May 2025 00:23:21 GMT",
        "x-ms-file-change-time": "2025-05-15T00:23:21.0921187Z",
        "x-ms-file-creation-time": "2025-05-15T00:23:21.0431467Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2025-05-15T00:23:21.0431467Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-group": "[...]
[...]
    {
      "RequestUri": "https://nickliupremiumfileacc.file.core.windows.net/test-share-6001030c-e42f-2fbe-1acb-65d28768dc22?sv=Sanitized&ss=f&srt=sco&se=2025-05-16T00%3A23%3A20Z&sp=rwdxylacuptfi&sig=Sanitized&restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliupremiumfileacc.file.core.windows.net/test-share-739950c5-4520-fbbc-323b-539fa53093eb?sv=Sanitized&ss=f&srt=sco&se=2025-05-16T00%3A23%3A20Z&sp=rwdxylacuptfi&sig=Sanitized&restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2025-05-14T20:23:20.9029087-04:00",
    "RandomSeed": "246182808",
    "Storage_TestConfigPremiumFile": "PremiumFileTenant\nnickliupremiumfileacc\nU2FuaXRpemVk\nhttps://nickliupremiumfileacc.blob.core.windows.net\nhttps://nickliupremiumfileacc.file.core.windows.net\nhttps://nickliupremiumfileacc.queue.core.windows.net\nhttps://nickliupremiumfileacc.table.core.windows.net\n\n\n\n\nhttps://nickliupremiumfileacc-secondary.blob.core.windows.net\nhttps://nickliupremiumfileacc-secondary.file.core.windows.net\nhttps://nickliupremiumfileacc-secondary.queue.core.windows.net\nhttps://nickliupremiumfileacc-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://nickliupremiumfileacc.blob.core.windows.net/;QueueEndpoint=https://nickliupremiumfileacc.queue.core.windows.net/;FileEndpoint=https://nickliupremiumfileacc.file.core.windows.net/;BlobSecondaryEndpoint=https://nickliupremiumfileacc-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://nickliupremiumfileacc-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://nickliupremiumfileacc-secondary.file.core.windows.net/;AccountName=nickliupremiumfileacc;AccountKey=U2FuaXRpemVk\n\n\n"
  }
}
