{
  "Entries": [
    {
      "RequestUri": "https://seancanaryfilepremium2.file.core.windows.net/test-share-97a48a53-fcf8-7509-6544-7c29d070648c?sv=Sanitized&ss=f&srt=sco&se=2025-04-16T17%3A37%3A24Z&sp=rwdxylacuptfi&sig=Sanitized&restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-enabled-protocols": "NFS",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD7C442CB5739A\"",
        "Last-Modified": "Tue, 15 Apr 2025 17:37:20 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seancanaryfilepremium2.file.core.windows.net/test-share-97a48a53-fcf8-7509-6544-7c29d070648c/sourceFolder?sv=Sanitized&ss=f&srt=sco&se=2025-04-16T17%3A37%3A24Z&sp=rwdxylacuptfi&sig=Sanitized&restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-file-creation-time": "2024-04-01T09:05:55.0000000Z",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-group": "123",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-mode": "1777",
        "x-ms-owner": "345",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD7C442CC8C8E7\"",
        "Last-Modified": "Tue, 15 Apr 2025 17:37:20 GMT",
        "x-ms-file-change-time": "2025-04-15T17:37:20.7454951Z",
        "x-ms-file-creation-time": "2024-04-01T09:05:55.0000000Z",
        "x-ms-file-file-type": "Directory",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-file-parent-id": "1",
        "x-ms-group": "123",
        "x-ms-mode": "1777",
        "x-ms-owner": "345",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanaryfilepremium2.file.core.windows.net/test-share-97a48a53-fcf8-7509-6544-7c29d070648c/sourceFolder/item1?sv=Sanitized&ss=f&srt=sco&se=2025-04-16T17%3A37%3A24Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-language": "en-US,en-CA",
        "x-ms-content-length": "1024",
        "x-ms-file-creation-time": "2024-04-01T09:05:55.0000000Z",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-group": "123",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-mode": "1777",
        "x-ms-owner": "345",
        "x-ms-type": "file",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD7C442CD0D626\"",
        "Last-Modified": "Tue, 15 Apr 2025 17:37:20 GMT",
        "x-ms-file-change-time": "2025-04-15T17:37:20.7982630Z",
        "x-ms-file-creation-time": "2024-04-01T09:05:55.0000000Z",
        "x-ms-file-file-type": "Regular",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-group": "123",
        "x-ms-mode": "1777",
        "x-ms-owner": "345",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seancanaryfilepremium2.file.core.windows.net/test-share-97a48a53-fcf8-7509-6544-7c29d070648c/sourceFolder/bar?sv=Sanitized&ss=f&srt=sco&se=2025-04-16T17%3A37%3A24Z&sp=rwdxylacuptfi&sig=Sanitized&restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-file-creation-time": "2024-04-01T09:05:55.0000000Z",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-group": "123",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-mode": "1777",
        "x-ms-owner": "345",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD7C442CE11787\"",
        "Last-Modified": "Tue, 15 Apr 2025 17:37:20 GMT",
        "x-ms-file-change-time": "2025-04-15T17:37:20.9047943Z",
        "x-ms-file-creation-time": "2024-04-01T09:05:55.0000000Z",
        "x-ms-file-file-type": "Directory",
        "x-ms-file-id": "10376363910205800448",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-group": "123",
        "x-ms-mode": "1777",
        "x-ms-owner": "345",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanaryfilepremium2.file.core.windows.net/test-share-97a48a53-fcf8-7509-6544-7c29d070648c/sourceFolder/bar/item3?sv=Sanitized&ss=f&srt=sco&se=2025-04-16T17%3A37%3A24Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-language": "en-US,en-CA",
        "x-ms-content-length": "1024",
        "x-ms-file-creation-tim[...]
    {
      "RequestUri": "https://seancanaryfilepremium2.file.core.windows.net/test-share-97a48a53-fcf8-7509-6544-7c29d070648c/sourceFolder/pik?sv=Sanitized&ss=f&srt=sco&se=2025-04-16T17%3A37%3A24Z&sp=rwdxylacuptfi&sig=Sanitized&restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-file-creation-time": "2024-04-01T09:05:55.0000000Z",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-group": "123",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-mode": "1777",
        "x-ms-owner": "345",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD7C442CF0BD58\"",
        "Last-Modified": "Tue, 15 Apr 2025 17:37:21 GMT",
        "x-ms-file-change-time": "2025-04-15T17:37:21.0073432Z",
        "x-ms-file-creation-time": "2024-04-01T09:05:55.0000000Z",
        "x-ms-file-file-type": "Directory",
        "x-ms-file-id": "12682206919419494400",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-group": "123",
        "x-ms-mode": "1777",
        "x-ms-owner": "345",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanaryfilepremium2.file.core.windows.net/test-share-97a48a53-fcf8-7509-6544-7c29d070648c/sourceFolder/pik/item4?sv=Sanitized&ss=f&srt=sco&se=2025-04-16T17%3A37%3A24Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-language": "en-US,en-CA",
        "x-ms-content-length": "1024",
        "x-ms-file-creation-tim[...]
    {
      "RequestUri": "https://seancanaryfilepremium2.file.core.windows.net/test-share-0574816a-9de7-9a34-c1d9-f27525e1e90a/destFolder?sv=Sanitized&ss=f&srt=sco&se=2025-04-16T17%3A37%3A24Z&sp=rwdxylacuptfi&sig=Sanitized&restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD7C442D008A02\"",
        "Last-Modified": "Tue, 15 Apr 2025 17:37:21 GMT",
        "x-ms-file-change-time": "2025-04-15T17:37:21.1108866Z",
        "x-ms-file-creation-time": "2025-04-15T17:37:21.1108866Z",
        "x-ms-file-file-type": "Directory",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-04-15T17:37:21.1108866Z",
        "x-ms-file-parent-id": "1",
        "x-ms-group": "0",
        "x-ms-mode": "0755",
        "x-ms-owner": "0",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanaryfilepremium2.file.core.windows.net/test-share-97a48a53-fcf8-7509-6544-7c29d070648c/sourceFolder?sv=Sanitized&ss=f&srt=sco&se=2025-04-16T17%3A37%3A24Z&sp=rwdxylacuptfi&sig=Sanitized&restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://seancanaryfilepremium2.file.core.windows.net/\" ShareName=\"test-share-97a48a53-fcf8-7509-6544-7c29d070648c\" DirectoryPath=\"sourceFolder\"><DirectoryId>13835128424026341376</DirectoryId><Entries><Directory><Name>bar</Name><FileId>10376363910205800448</FileId><Properties /></Directory><File><Name>item1</Name><FileId>11529285414812647424</FileId><Properties><Content-Length>1024</Content-Length></Properties></File><File><Name>item2</Name><FileId>16140971433240035328</FileId><Properties><Content-Length>1024</Content-Length></Properties></File><Directory><Name>pik</Name><FileId>12682206919419494400</FileId><Properties /></Directory></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://seancanaryfilepremium2.file.core.windows.net/test-share-97a48a53-fcf8-7509-6544-7c29d070648c/sourceFolder/bar?sv=Sanitized&ss=f&srt=sco&se=2025-04-16T17%3A37%3A24Z&sp=rwdxylacuptfi&sig=Sanitized&restype=directory",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD7C442CE11787\"",
        "Last-Modified": "Tue, 15 Apr 2025 17:37:20 GMT",
        "x-ms-file-change-time": "2025-04-15T17:37:20.9575620Z",
        "x-ms-file-creation-time": "2024-04-01T09:05:55.0000000Z",
        "x-ms-file-file-type": "Directory",
        "x-ms-file-id": "10376363910205800448",
        "x-ms-file-last-write-time": "2025-04-15T17:37:20.9575620Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-group": "123",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-mode": "1777",
        "x-ms-owner": "345",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanaryfilepremium2.file.core.windows.net/test-share-0574816a-9de7-9a34-c1d9-f27525e1e90a/destFolder/bar?sv=Sanitized&ss=f&srt=sco&se=2025-04-16T17%3A37%3A24Z&sp=rwdxylacuptfi&sig=Sanitized&restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-file-creation-time": "2024-04-01T09:05:55.0000000Z",
        "x-ms-file-last-write-time": "2025-04-15T17:37:20.9575620Z",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD7C442D19C1FD\"",
        "Last-Modified": "Tue, 15 Apr 2025 17:37:21 GMT",
        "x-ms-file-change-time": "2025-04-15T17:37:21.2761597Z",
        "x-ms-file-creation-time": "2024-04-01T09:05:55.0000000Z",
        "x-ms-file-file-type": "Directory",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2025-04-15T17:37:20.9575620Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-group": "0",
        "x-ms-mode": "0755",
        "x-ms-owner": "0",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seancanaryfilepremium2.file.core.windows.net/test-share-0574816a-9de7-9a34-c1d9-f27525e1e90a/destFolder/pik?sv=Sanitized&ss=f&srt=sco&se=2025-04-16T17%3A37%3A24Z&sp=rwdxylacuptfi&sig=Sanitized&restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-file-creation-time": "2024-04-01T09:05:55.0000000Z",
        "x-ms-file-last-write-time": "2025-04-15T17:37:21.0601110Z",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD7C442D28A55A\"",
        "Last-Modified": "Tue, 15 Apr 2025 17:37:21 GMT",
        "x-ms-file-change-time": "2025-04-15T17:37:21.3737306Z",
        "x-ms-file-creation-time": "2024-04-01T09:05:55.0000000Z",
        "x-ms-file-file-type": "Directory",
        "x-ms-file-id": "16140971433240035328",
        "x-ms-file-last-write-time": "2025-04-15T17:37:21.0601110Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-group": "0",
        "x-ms-mode": "0755",
        "x-ms-owner": "0",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanaryfilepremium2.file.core.windows.net/test-share-97a48a53-fcf8-7509-6544-7c29d070648c/sourceFolder/bar?sv=Sanitized&ss=f&srt=sco&se=2025-04-16T17%3A37%3A24Z&sp=rwdxylacuptfi&sig=Sanitized&restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://seancanaryfilepremium2.file.core.windows.net/\" ShareName=\"test-share-97a48a53-fcf8-7509-6544-7c29d070648c\" DirectoryPath=\"sourceFolder/bar\"><DirectoryId>10376363910205800448</DirectoryId><Entries><File><Name>item3</Name><FileId>14988049928633188352</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://seancanaryfilepremium2.file.core.windows.net/test-share-97a48a53-fcf8-7509-6544-7c29d070648c/sourceFolder/item1?sv=Sanitized&ss=f&srt=sco&se=2025-04-16T17%3A37%3A24Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": [
          "en-US",
          "en-CA"
        ],
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD7C442CD0D626\"",
        "Last-Modified": "Tue, 15 Apr 2025 17:37:20 GMT",
        "x-ms-file-change-time": "2025-04-15T17:37:20.7982630Z",
        "x-ms-file-creation-time": "2024-04-01T09:05:55.0000000Z",
        "x-ms-file-file-type": "Regular",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-group": "123",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-link-count": "1",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-mode": "1777",
        "x-ms-owner": "345",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seancanaryfilepremium2.file.core.windows.net/test-share-97a48a53-fcf8-7509-6544-7c29d070648c/sourceFolder/pik?sv=Sanitized&ss=f&srt=sco&se=2025-04-16T17%3A37%3A24Z&sp=rwdxylacuptfi&sig=Sanitized&restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://seancanaryfilepremium2.file.core.windows.net/\" ShareName=\"test-share-97a48a53-fcf8-7509-6544-7c29d070648c\" DirectoryPath=\"sourceFolder/pik\"><DirectoryId>12682206919419494400</DirectoryId><Entries><File><Name>item4</Name><FileId>17293892937846882304</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
[...]
    {
      "RequestUri": "https://seancanaryfilepremium2.file.core.windows.net/test-share-0574816a-9de7-9a34-c1d9-f27525e1e90a/destFolder/item1?sv=Sanitized&ss=f&srt=sco&se=2025-04-16T17%3A37%3A24Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seancanaryfilepremium2.file.core.windows.net/test-share-0574816a-9de7-9a34-c1d9-f27525e1e90a/destFolder/item1?sv=Sanitized&ss=f&srt=sco&se=2025-04-16T17%3A37%3A24Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-language": "en-US,en-CA",
        "x-ms-content-length": "1024",
        "x-ms-content-type": "application/octet-stream",
        "x-ms-file-creation-time": "2024-04-01T09:05:55.0000000Z",
        "x-ms-file-file-type": "Regular",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-type": "file",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD7C442D48B379\"",
        "Last-Modified": "Tue, 15 Apr 2025 17:37:21 GMT",
        "x-ms-file-change-time": "2025-04-15T17:37:21.5838073Z",
        "x-ms-file-creation-time": "2024-04-01T09:05:55.0000000Z",
        "x-ms-file-file-type": "Regular",
        "x-ms-file-id": "13835093239654252544",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-group": "0",
        "x-ms-mode": "0664",
        "x-ms-owner": "0",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanaryfilepremium2.file.core.windows.net/test-share-0574816a-9de7-9a34-c1d9-f27525e1e90a/destFolder/item1?sv=Sanitized&ss=f&srt=sco&se=2025-04-16T17%3A37%3A24Z&sp=rwdxylacuptfi&sig=Sanitized&comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://seancanaryfilepremium2.file.core.windows.net/test-share-97a48a53-fcf8-7509-6544-7c29d070648c/sourceFolder/item1?sv=sanitized-value&ss=f&srt=sco&se=2025-04-16T17%3A37%3A24Z&sp=rwdxylacuptfi&sig=Sanitized",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD7C442D54DACB\"",
        "Last-Modified": "Tue, 15 Apr 2025 17:37:21 GMT",
        "x-ms-content-crc64": "iknlm7CyG2k=",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanaryfilepremium2.file.core.windows.net/test-share-0574816a-9de7-9a34-c1d9-f27525e1e90a/destFolder/item1?sv=Sanitized&ss=f&srt=sco&se=2025-04-16T17%3A37%3A24Z&sp=rwdxylacuptfi&sig=Sanitized&comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-language": "en-US,en-CA",
        "x-ms-content-type": "application/octet-stream",
        "x-ms-file-creation-time": "2024-04-01T09:05:55.0000000Z",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD7C442D5D0EEE\"",
        "Last-Modified": "Tue, 15 Apr 2025 17:37:21 GMT",
        "x-ms-file-change-time": "2025-04-15T17:37:21.7172206Z",
        "x-ms-file-creation-time": "2024-04-01T09:05:55.0000000Z",
        "x-ms-file-id": "13835093239654252544",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-group": "0",
        "x-ms-link-count": "1",
        "x-ms-mode": "0664",
        "x-ms-owner": "0",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seancanaryfilepremium2.file.core.windows.net/test-share-0574816a-9de7-9a34-c1d9-f27525e1e90a/destFolder/bar/item3?sv=Sanitized&ss=f&srt=sco&se=2025-04-16T17%3A37%3A24Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seancanaryfilepremium2.file.core.windows.net/test-share-0574816a-9de7-9a34-c1d9-f27525e1e90a/destFolder/bar/item3?sv=Sanitized&ss=f&srt=sco&se=2025-04-16T17%3A37%3A24Z&sp=rwdxylacuptfi&sig=Sanitized&comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://seancanaryfilepremium2.file.core.windows.net/test-share-97a48a53-fcf8-7509-6544-7c29d070648c/sourceFolder/bar/item3?sv=sanitized-value&ss=f&srt=sco&se=2025-04-16T17%3A37%3A24Z&sp=rwdxylacuptfi&sig=Sanitized",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD7C442DA8DDC1\"",
        "Last-Modified": "Tue, 15 Apr 2025 17:37:22 GMT",
        "x-ms-content-crc64": "iknlm7CyG2k=",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanaryfilepremium2.file.core.windows.net/test-share-0574816a-9de7-9a34-c1d9-f27525e1e90a/destFolder/bar/item3?sv=Sanitized&ss=f&srt=sco&se=2025-04-16T17%3A37%3A24Z&sp=rwdxylacuptfi&sig=Sanitized&comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-language": "en-US,en-CA",
        "x-ms-content-type": "application/octet-stream",
        "x-ms-file-creation-time": "2024-04-01T09:05:55.0000000Z",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD7C442DAFB3DE\"",
        "Last-Modified": "Tue, 15 Apr 2025 17:37:22 GMT",
        "x-ms-file-change-time": "2025-04-15T17:37:22.2588382Z",
        "x-ms-file-creation-time": "2024-04-01T09:05:55.0000000Z",
        "x-ms-file-id": "16140936248867946496",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-group": "0",
        "x-ms-link-count": "1",
        "x-ms-mode": "0664",
        "x-ms-owner": "0",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seancanaryfilepremium2.file.core.windows.net/test-share-0574816a-9de7-9a34-c1d9-f27525e1e90a/destFolder/pik/item4?sv=Sanitized&ss=f&srt=sco&se=2025-04-16T17%3A37%3A24Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seancanaryfilepremium2.file.core.windows.net/test-share-0574816a-9de7-9a34-c1d9-f27525e1e90a/destFolder/pik/item4?sv=Sanitized&ss=f&srt=sco&se=2025-04-16T17%3A37%3A24Z&sp=rwdxylacuptfi&sig=Sanitized&comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://seancanaryfilepremium2.file.core.windows.net/test-share-97a48a53-fcf8-7509-6544-7c29d070648c/sourceFolder/pik/item4?sv=sanitized-value&ss=f&srt=sco&se=2025-04-16T17%3A37%3A24Z&sp=rwdxylacuptfi&sig=Sanitized",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD7C442DCF2664\"",
        "Last-Modified": "Tue, 15 Apr 2025 17:37:22 GMT",
        "x-ms-content-crc64": "iknlm7CyG2k=",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanaryfilepremium2.file.core.windows.net/test-share-0574816a-9de7-9a34-c1d9-f27525e1e90a/destFolder/pik/item4?sv=Sanitized&ss=f&srt=sco&se=2025-04-16T17%3A37%3A24Z&sp=rwdxylacuptfi&sig=Sanitized&comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-language": "en-US,en-CA",
        "x-ms-content-type": "application/octet-stream",
        "x-ms-file-creation-time": "2024-04-01T09:05:55.0000000Z",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD7C442DD5D59D\"",
        "Last-Modified": "Tue, 15 Apr 2025 17:37:22 GMT",
        "x-ms-file-change-time": "2025-04-15T17:37:22.5087389Z",
        "x-ms-file-creation-time": "2024-04-01T09:05:55.0000000Z",
        "x-ms-file-id": "10376328725833711616",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-file-parent-id": "16140971433240035328",
        "x-ms-group": "0",
        "x-ms-link-count": "1",
        "x-ms-mode": "0664",
        "x-ms-owner": "0",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seancanaryfilepremium2.file.core.windows.net/test-share-0574816a-9de7-9a34-c1d9-f27525e1e90a/destFolder?sv=Sanitized&ss=f&srt=sco&se=2025-04-16T17%3A37%3A24Z&sp=rwdxylacuptfi&sig=Sanitized&restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-05-05"
      },
[...]
