{
  "Entries": [
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-60117ada-c934-08aa-8886-f000985225e1?sv=Sanitized&ss=f&srt=sco&se=2026-04-30T23%3A01%3A33Z&sp=rwdxylacuptfi&sig=Sanitized&restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA64341CEA8BE\"",
        "Last-Modified": "Wed, 29 Apr 2026 23:01:33 GMT",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-f255105e-721b-7429-ed26-532431f6cc40?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 29 Apr 2026 23:01:33 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA64341D61676\"",
        "Last-Modified": "Wed, 29 Apr 2026 23:01:33 GMT",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-60117ada-c934-08aa-8886-f000985225e1/sourceFolder?sv=Sanitized&ss=f&srt=sco&se=2026-04-30T23%3A01%3A33Z&sp=rwdxylacuptfi&sig=Sanitized&restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-file-attributes": "ReadOnly|Directory|Archive",
        "x-ms-file-change-time": "2024-04-01T13:30:03.0000000Z",
        "x-ms-file-creation-time": "2024-04-01T09:05:55.0000000Z",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-file-permission": "O:S-1-5-21-2127521184-1604012920-1887927527-21560751G:S-1-5-21-2127521184-1604012920-1887927527-513D:AI(A;;FA;;;SY)(A;;FA;;;BA)(A;;0x1200a9;;;S-1-5-21-397955417-626881126-188441444-3053964)S:NO_ACCESS_CONTROL",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA64341DE808C\"",
        "Last-Modified": "Wed, 29 Apr 2026 23:01:33 GMT",
        "x-ms-file-attributes": "ReadOnly | Directory | Archive",
        "x-ms-file-change-time": "2024-04-01T13:30:03.0000000Z",
        "x-ms-file-creation-time": "2024-04-01T09:05:55.0000000Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "1206180168523139346*17478659090621734311",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-60117ada-c934-08aa-8886-f000985225e1/sourceFolder/item1?sv=Sanitized&ss=f&srt=sco&se=2026-04-30T23%3A01%3A33Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-language": "en-US,en-CA",
        "x-ms-content-length": "1024",
        "x-ms-file-attributes": "None",
        "x-ms-file-change-time": "2024-04-01T13:30:03.0000000Z",
        "x-ms-file-creation-time": "2024-04-01T09:05:55.0000000Z",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-type": "file",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA64341E5348D\"",
        "Last-Modified": "Wed, 29 Apr 2026 23:01:33 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-04-01T13:30:03.0000000Z",
        "x-ms-file-creation-time": "2024-04-01T09:05:55.0000000Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "3245117939725445762*17478659090621734311",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-60117ada-c934-08aa-8886-f000985225e1/sourceFolder/bar?sv=Sanitized&ss=f&srt=sco&se=2026-04-30T23%3A01%3A33Z&sp=rwdxylacuptfi&sig=Sanitized&restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-file-attributes": "ReadOnly|Directory|Archive",
        "x-ms-file-change-time": "2024-04-01T13:30:03.0000000Z",
        "x-ms-file-creation-time": "2024-04-01T09:05:55.0000000Z",
        "x-ms[...]
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-60117ada-c934-08aa-8886-f000985225e1/sourceFolder/bar/item3?sv=Sanitized&ss=f&srt=sco&se=2026-04-30T23%3A01%3A33Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-language": "en-US,en-CA",
        "x-ms-content-length": "1024",
        "x-ms-file-attributes": "None",
    [...]
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-60117ada-c934-08aa-8886-f000985225e1/sourceFolder/pik?sv=Sanitized&ss=f&srt=sco&se=2026-04-30T23%3A01%3A33Z&sp=rwdxylacuptfi&sig=Sanitized&restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-file-attributes": "ReadOnly|Directory|Archive",
        "x-ms-file-change-time": "2024-04-01T13:30:03.0000000Z",
        "x-ms-file-creation-time": "2024-04-01T09:05:55.0000000Z",
        "x-ms[...]
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-60117ada-c934-08aa-8886-f000985225e1/sourceFolder/pik/item4?sv=Sanitized&ss=f&srt=sco&se=2026-04-30T23%3A01%3A33Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-language": "en-US,en-CA",
        "x-ms-content-length": "1024",
        "x-ms-file-attributes": "None",
    [...]
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-f255105e-721b-7429-ed26-532431f6cc40/destFolder?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 29 Apr 2026 23:01:33 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA643420F8E91\"",
        "Last-Modified": "Wed, 29 Apr 2026 23:01:33 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2026-04-29T23:01:33.4524561Z",
        "x-ms-file-creation-time": "2026-04-29T23:01:33.4524561Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2026-04-29T23:01:33.4524561Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "11118135984870558254*17478659090621734311",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-60117ada-c934-08aa-8886-f000985225e1?sv=Sanitized&ss=f&srt=sco&se=2026-04-30T23%3A01%3A33Z&sp=rwdxylacuptfi&sig=Sanitized&restype=share",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA64341CEA8BE\"",
        "Last-Modified": "Wed, 29 Apr 2026 23:01:33 GMT",
        "x-ms-access-tier": "TransactionOptimized",
        "x-ms-access-tier-change-time": "Wed, 29 Apr 2026 23:01:33 GMT",
        "x-ms-enable-smb-directory-lease": "true",
        "x-ms-has-immutability-policy": "false",
        "x-ms-has-legal-hold": "false",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-share-quota": "102400",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-60117ada-c934-08aa-8886-f000985225e1/sourceFolder?sv=Sanitized&ss=f&srt=sco&se=2026-04-30T23%3A01%3A33Z&sp=rwdxylacuptfi&sig=Sanitized&restype=directory&comp=list&include=Attributes",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amnguyesa.file.core.windows.net/\" ShareName=\"test-share-60117ada-c934-08aa-8886-f000985225e1\" DirectoryPath=\"sourceFolder\"><DirectoryId>13835128424026341376</DirectoryId><Entries><Directory><Name>bar</Name><FileId>10376363910205800448</FileId><Properties /><Attributes>ReadOnly | Directory | Archive</Attributes></Directory><File><Name>item1</Name><FileId>11529285414812647424</FileId><Properties><Content-Length>1024</Content-Length></Properties><Attributes>Archive</Attributes></File><File><Name>item2</Name><FileId>16140971433240035328</FileId><Properties><Content-Length>1024</Content-Length></Properties><Attributes>Archive</Attributes></File><Directory><Name>pik</Name><FileId>12682206919419494400</FileId><Properties /><Attributes>ReadOnly | Directory | Archive</Attributes></Directory></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-60117ada-c934-08aa-8886-f000985225e1/sourceFolder/bar?sv=Sanitized&ss=f&srt=sco&se=2026-04-30T23%3A01%3A33Z&sp=rwdxylacuptfi&sig=Sanitized&restype=directory",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA64341F3388E\"",
        "Last-Modified": "Wed, 29 Apr 2026 23:01:33 GMT",
        "x-ms-file-attributes": "ReadOnly | Directory | Archive",
        "x-ms-file-change-time": "2024-04-01T13:30:03.0000000Z",
        "x-ms-file-creation-time": "2024-04-01T09:05:55.0000000Z",
        "x-ms-file-id": "10376363910205800448",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "1206180168523139346*17478659090621734311",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-f255105e-721b-7429-ed26-532431f6cc40/destFolder/bar?restype=directory",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 29 Apr 2026 23:01:34 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ResourceNotFound</Code><Message>The specified resource does not exist.\n",
        "RequestId:9e3e5970-401a-0097-232c-d839af000000\n",
        "Time:2026-04-29T23:01:33.6775940Z</Message></Error>"
      ]
    },
[...]
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-f255105e-721b-7429-ed26-532431f6cc40/destFolder/pik?restype=directory",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 29 Apr 2026 23:01:34 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>ResourceNotFound</Code><Message>The specified resource does not exist.\n",
        "RequestId:9e3e5973-401a-0097-262c-d839af000000\n",
        "Time:2026-04-29T23:01:33.8051436Z</Message></Error>"
      ]
    },
[...]
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-60117ada-c934-08aa-8886-f000985225e1/sourceFolder/bar?sv=Sanitized&ss=f&srt=sco&se=2026-04-30T23%3A01%3A33Z&sp=rwdxylacuptfi&sig=Sanitized&restype=directory&comp=list&include=Attributes",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amnguyesa.file.core.windows.net/\" ShareName=\"test-share-60117ada-c934-08aa-8886-f000985225e1\" DirectoryPath=\"sourceFolder/bar\"><DirectoryId>10376363910205800448</DirectoryId><Entries><File><Name>item3</Name><FileId>14988049928633188352</FileId><Properties><Content-Length>1024</Content-Length></Properties><Attributes>Archive</Attributes></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-60117ada-c934-08aa-8886-f000985225e1/sourceFolder/item1?sv=Sanitized&ss=f&srt=sco&se=2026-04-30T23%3A01%3A33Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": [
          "en-US",
          "en-CA"
        ],
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DEA64341E5348D\"",
        "Last-Modified": "Wed, 29 Apr 2026 23:01:33 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-04-01T13:30:03.0000000Z",
        "x-ms-file-creation-time": "2024-04-01T09:05:55.0000000Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "3245117939725445762*17478659090621734311",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-60117ada-c934-08aa-8886-f000985225e1/sourceFolder/pik?sv=Sanitized&ss=f&srt=sco&se=2026-04-30T23%3A01%3A33Z&sp=rwdxylacuptfi&sig=Sanitized&restype=directory&comp=list&include=Attributes",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amnguyesa.file.core.windows.net/\" ShareName=\"test-share-60117ada-c934-08aa-8886-f000985225e1\" DirectoryPath=\"sourceFolder/pik\"><DirectoryId>12682206919419494400</DirectoryId><Entries><File><Name>item4</Name><FileId>17293892937846882304</FileId><Properties><Content-Length>1024</Content-Length></Properties><Attributes>Archive</Attributes></File></Entries><NextMarker /></EnumerationResults>"
    },
[...]
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-f255105e-721b-7429-ed26-532431f6cc40/destFolder/item1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-language": "en-US,en-CA",
        "x-ms-content-length": "1024",
        "x-ms-content-type": "application/octet-stream",
        "x-ms-date": "Wed, 29 Apr 2026 23:01:34 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-type": "file",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA643425B4581\"",
        "Last-Modified": "Wed, 29 Apr 2026 23:01:33 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2026-04-29T23:01:33.9486593Z",
        "x-ms-file-creation-time": "2026-04-29T23:01:33.9486593Z",
        "x-ms-file-id": "13835093239654252544",
        "x-ms-file-last-write-time": "2026-04-29T23:01:33.9486593Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "6498768581512459561*17478659090621734311",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-f255105e-721b-7429-ed26-532431f6cc40/destFolder/item1?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://amnguyesa.file.core.windows.net/test-share-60117ada-c934-08aa-8886-f000985225e1/sourceFolder/item1?sv=sanitized-value&ss=f&srt=sco&se=2026-04-30T23%3A01%3A33Z&sp=rwdxylacuptfi&sig=Sanitized",
        "x-ms-date": "Wed, 29 Apr 2026 23:01:34 GMT",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2026-06-06",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA64342641B85\"",
        "Last-Modified": "Wed, 29 Apr 2026 23:01:34 GMT",
        "x-ms-content-crc64": "iknlm7CyG2k=",
        "x-ms-file-last-write-time": "2026-04-29T23:01:33.9486593Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-f255105e-721b-7429-ed26-532431f6cc40/destFolder/item1?comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-language": "en-US,en-CA",
        "x-ms-content-type": "application/octet-stream",
        "x-ms-date": "Wed, 29 Apr 2026 23:01:34 GMT",
        "[...]
[...]
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-f255105e-721b-7429-ed26-532431f6cc40/destFolder/bar/item3",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-language": "en-US,en-CA",
        "x-ms-content-length": "1024",
        "x-ms-content-type": "application/octet-stream",
        "x-ms-date": "Wed, 29 Apr 2026 23:01:34 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-type": "file",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA6434288C2D8\"",
        "Last-Modified": "Wed, 29 Apr 2026 23:01:34 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2026-04-29T23:01:34.2467800Z",
        "x-ms-file-creation-time": "2026-04-29T23:01:34.2467800Z",
        "x-ms-file-id": "16140936248867946496",
        "x-ms-file-last-write-time": "2026-04-29T23:01:34.2467800Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "6498768581512459561*17478659090621734311",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-f255105e-721b-7429-ed26-532431f6cc40/destFolder/bar/item3?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://amnguyesa.file.core.windows.net/test-share-60117ada-c934-08aa-8886-f000985225e1/sourceFolder/bar/item3?sv=sanitized-value&ss=f&srt=sco&se=2026-04-30T23%3A01%3A33Z&sp=rwdxylacuptfi&sig=Sanitized",
        "x-ms-date": "Wed, 29 Apr 2026 23:01:34 GMT",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2026-06-06",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA643429087DF\"",
        "Last-Modified": "Wed, 29 Apr 2026 23:01:34 GMT",
        "x-ms-content-crc64": "iknlm7CyG2k=",
        "x-ms-file-last-write-time": "2026-04-29T23:01:34.2467800Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-f255105e-721b-7429-ed26-532431f6cc40/destFolder/bar/item3?comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-language": "en-US,en-CA",
        "x-ms-content-type": "application/octet-stream",
        "x-ms-date": "Wed, 29 Apr 2026 23:01:34 GMT",
     [...]
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-f255105e-721b-7429-ed26-532431f6cc40/destFolder/pik/item4",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-language": "en-US,en-CA",
        "x-ms-content-length": "1024",
        "x-ms-content-type": "application/octet-stream",
        "x-ms-date": "Wed, 29 Apr 2026 23:01:34 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-type": "file",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA643429FEADD\"",
        "Last-Modified": "Wed, 29 Apr 2026 23:01:34 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2026-04-29T23:01:34.3985373Z",
        "x-ms-file-creation-time": "2026-04-29T23:01:34.3985373Z",
        "x-ms-file-id": "10376328725833711616",
        "x-ms-file-last-write-time": "2026-04-29T23:01:34.3985373Z",
        "x-ms-file-parent-id": "16140971433240035328",
        "x-ms-file-permission-key": "6498768581512459561*17478659090621734311",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-f255105e-721b-7429-ed26-532431f6cc40/destFolder/pik/item4?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://amnguyesa.file.core.windows.net/test-share-60117ada-c934-08aa-8886-f000985225e1/sourceFolder/pik/item4?sv=sanitized-value&ss=f&srt=sco&se=2026-04-30T23%3A01%3A33Z&sp=rwdxylacuptfi&sig=Sanitized",
        "x-ms-date": "Wed, 29 Apr 2026 23:01:34 GMT",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2026-06-06",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA64342A7FDD4\"",
        "Last-Modified": "Wed, 29 Apr 2026 23:01:34 GMT",
        "x-ms-content-crc64": "iknlm7CyG2k=",
        "x-ms-file-last-write-time": "2026-04-29T23:01:34.3985373Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-f255105e-721b-7429-ed26-532431f6cc40/destFolder/pik/item4?comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-language": "en-US,en-CA",
        "x-ms-content-type": "application/octet-stream",
        "x-ms-date": "Wed, 29 Apr 2026 23:01:34 GMT",
     [...]
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-60117ada-c934-08aa-8886-f000985225e1/sourceFolder?sv=Sanitized&ss=f&srt=sco&se=2026-04-30T23%3A01%3A33Z&sp=rwdxylacuptfi&sig=Sanitized&restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amnguyesa.file.core.windows.net/\" ShareName=\"test-share-60117ada-c934-08aa-8886-f000985225e1\" DirectoryPath=\"sourceFolder\"><DirectoryId>13835128424026341376</DirectoryId><Entries><Directory><Name>bar</Name><FileId>10376363910205800448</FileId><Properties /></Directory><File><Name>item1</Name><FileId>11529285414812647424</FileId><Properties><Content-Length>1024</Content-Length></Properties></File><File><Name>item2</Name><FileId>16140971433240035328</FileId><Properties><Content-Length>1024</Content-Length></Properties></File><Directory><Name>pik</Name><FileId>12682206919419494400</FileId><Properties /></Directory></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-f255105e-721b-7429-ed26-532431f6cc40/destFolder?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 29 Apr 2026 23:01:34 GMT",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amnguyesa.file.core.windows.net/\" ShareName=\"test-share-f255105e-721b-7429-ed26-532431f6cc40\" DirectoryPath=\"destFolder\"><DirectoryId>13835128424026341376</DirectoryId><Entries><Directory><Name>bar</Name><FileId>11529285414812647424</FileId><Properties /></Directory><File><Name>item1</Name><FileId>13835093239654252544</FileId><Properties><Content-Length>1024</Content-Length></Properties></File><File><Name>item2</Name><FileId>11529250230440558592</FileId><Properties><Content-Length>1024</Content-Length></Properties></File><Directory><Name>pik</Name><FileId>16140971433240035328</FileId><Properties /></Directory></Entries><NextMarker /></EnumerationResults>"
    },
[...]
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-60117ada-c934-08aa-8886-f000985225e1/sourceFolder/item1?sv=Sanitized&ss=f&srt=sco&se=2026-04-30T23%3A01%3A33Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": [
          "en-US",
          "en-CA"
        ],
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DEA64341E5348D\"",
        "Last-Modified": "Wed, 29 Apr 2026 23:01:33 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-04-01T13:30:03.0000000Z",
        "x-ms-file-creation-time": "2024-04-01T09:05:55.0000000Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-file-parent-id": "138[...]
[...]
    {
      "RequestUri": "https://amnguyesa.file.core.windows.net/test-share-f255105e-721b-7429-ed26-532431f6cc40?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
[...]
