{
  "Entries": [
    {
      "RequestUri": "https://amandafilepremscale.file.core.windows.net/test-share-d13f2226-a18c-8118-2e80-a9401aafd5d3?sv=Sanitized&ss=f&srt=sco&se=2026-04-30T23%3A43%3A54Z&sp=rwdxylacuptfi&sig=Sanitized&restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-enabled-protocols": "NFS",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA6492C36D335\"",
        "Last-Modified": "Wed, 29 Apr 2026 23:43:53 GMT",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandafilepremscale.file.core.windows.net/test-share-d13f2226-a18c-8118-2e80-a9401aafd5d3/sourceFolder?sv=Sanitized&ss=f&srt=sco&se=2026-04-30T23%3A43%3A54Z&sp=rwdxylacuptfi&sig=Sanitized&restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-file-creation-time": "2024-04-01T09:05:55.0000000Z",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-group": "123",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-mode": "1777",
        "x-ms-owner": "345",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA6492C4A5F9A\"",
        "Last-Modified": "Wed, 29 Apr 2026 23:43:53 GMT",
        "x-ms-file-change-time": "2026-04-29T23:43:53.9084186Z",
        "x-ms-file-creation-time": "2024-04-01T09:05:55.0000000Z",
        "x-ms-file-file-type": "Directory",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-file-parent-id": "1",
        "x-ms-group": "123",
        "x-ms-mode": "1777",
        "x-ms-owner": "345",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandafilepremscale.file.core.windows.net/test-share-d13f2226-a18c-8118-2e80-a9401aafd5d3/sourceFolder/item1?sv=Sanitized&ss=f&srt=sco&se=2026-04-30T23%3A43%3A54Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-language": "en-US,en-CA",
        "x-ms-content-length": "1024",
        "x-ms-file-creation-time": "2024-04-01T09:05:55.0000000Z",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-group": "123",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-mode": "1777",
        "x-ms-owner": "345",
        "x-ms-type": "file",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA6492C5135B8\"",
        "Last-Modified": "Wed, 29 Apr 2026 23:43:53 GMT",
        "x-ms-file-change-time": "2026-04-29T23:43:53.9532216Z",
        "x-ms-file-creation-time": "2024-04-01T09:05:55.0000000Z",
        "x-ms-file-file-type": "Regular",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-group": "123",
        "x-ms-mode": "1777",
        "x-ms-owner": "345",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandafilepremscale.file.core.windows.net/test-share-d13f2226-a18c-8118-2e80-a9401aafd5d3/sourceFolder/bar?sv=Sanitized&ss=f&srt=sco&se=2026-04-30T23%3A43%3A54Z&sp=rwdxylacuptfi&sig=Sanitized&restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-file-creation-time": "2024-04-01T09:05:55.0000000Z",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-group": "123",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-mode": "1777",
        "x-ms-owner": "345",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA6492C5E943B\"",
        "Last-Modified": "Wed, 29 Apr 2026 23:43:54 GMT",
        "x-ms-file-change-time": "2026-04-29T23:43:54.0408379Z",
        "x-ms-file-creation-time": "2024-04-01T09:05:55.0000000Z",
        "x-ms-file-file-type": "Directory",
        "x-ms-file-id": "10376363910205800448",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-group": "123",
        "x-ms-mode": "1777",
        "x-ms-owner": "345",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandafilepremscale.file.core.windows.net/test-share-d13f2226-a18c-8118-2e80-a9401aafd5d3/sourceFolder/bar/item3?sv=Sanitized&ss=f&srt=sco&se=2026-04-30T23%3A43%3A54Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-language": "en-US,en-CA",
        "x-ms-content-length": "1024",
        "x-ms-file-creation-time":[...]
    {
      "RequestUri": "https://amandafilepremscale.file.core.windows.net/test-share-d13f2226-a18c-8118-2e80-a9401aafd5d3/sourceFolder/pik?sv=Sanitized&ss=f&srt=sco&se=2026-04-30T23%3A43%3A54Z&sp=rwdxylacuptfi&sig=Sanitized&restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-file-creation-time": "2024-04-01T09:05:55.0000000Z",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-group": "123",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-mode": "1777",
        "x-ms-owner": "345",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA6492C6C1996\"",
        "Last-Modified": "Wed, 29 Apr 2026 23:43:54 GMT",
        "x-ms-file-change-time": "2026-04-29T23:43:54.1294486Z",
        "x-ms-file-creation-time": "2024-04-01T09:05:55.0000000Z",
        "x-ms-file-file-type": "Directory",
        "x-ms-file-id": "12682206919419494400",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-group": "123",
        "x-ms-mode": "1777",
        "x-ms-owner": "345",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandafilepremscale.file.core.windows.net/test-share-d13f2226-a18c-8118-2e80-a9401aafd5d3/sourceFolder/pik/item4?sv=Sanitized&ss=f&srt=sco&se=2026-04-30T23%3A43%3A54Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-language": "en-US,en-CA",
        "x-ms-content-length": "1024",
        "x-ms-file-creation-time":[...]
    {
      "RequestUri": "https://amandafilepremscale.file.core.windows.net/test-share-faf5768b-08f8-1672-4c5b-a6b945dda37d/destFolder?sv=Sanitized&ss=f&srt=sco&se=2026-04-30T23%3A43%3A54Z&sp=rwdxylacuptfi&sig=Sanitized&restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-file-creation-time": "2021-08-01T09:05:55.0000000Z",
        "x-ms-file-last-write-time": "2021-09-01T09:05:55.0000000Z",
        "x-ms-group": "3001",
        "x-ms-meta-tagKey0": "tagValue0",
        "x-ms-meta-tagKey1": "tagValue1",
        "x-ms-mode": "0770",
        "x-ms-owner": "3000",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA6492C79C5D7\"",
        "Last-Modified": "Wed, 29 Apr 2026 23:43:54 GMT",
        "x-ms-file-change-time": "2026-04-29T23:43:54.2190551Z",
        "x-ms-file-creation-time": "2021-08-01T09:05:55.0000000Z",
        "x-ms-file-file-type": "Directory",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2021-09-01T09:05:55.0000000Z",
        "x-ms-file-parent-id": "1",
        "x-ms-group": "3001",
        "x-ms-mode": "0770",
        "x-ms-owner": "3000",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandafilepremscale.file.core.windows.net/test-share-faf5768b-08f8-1672-4c5b-a6b945dda37d/destFolder/item1?sv=Sanitized&ss=f&srt=sco&se=2026-04-30T23%3A43%3A54Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-language": "en-US,en-CA",
        "x-ms-content-length": "1024",
        "x-ms-file-creation-time": "2024[...]
[...]
    {
      "RequestUri": "https://amandafilepremscale.file.core.windows.net/test-share-faf5768b-08f8-1672-4c5b-a6b945dda37d/destFolder/bar?sv=Sanitized&ss=f&srt=sco&se=2026-04-30T23%3A43%3A54Z&sp=rwdxylacuptfi&sig=Sanitized&restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-file-creation-time": "2021-08-01T09:05:55.0000000Z",
        "x-ms-file-last-write-time": "2021-09-01T09:05:55.0000000Z",
        "x-ms-group": "3001",
        "x-ms-meta-tagKey0": "tagValue0",
        "x-ms-meta-tagKey1": "tagValue1",
        "x-ms-mode": "0770",
        "x-ms-owner": "3000",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA6492C8DD397\"",
        "Last-Modified": "Wed, 29 Apr 2026 23:43:54 GMT",
        "x-ms-file-change-time": "2026-04-29T23:43:54.3504791Z",
        "x-ms-file-creation-time": "2021-08-01T09:05:55.0000000Z",
        "x-ms-file-file-type": "Directory",
        "x-ms-file-id": "10376363910205800448",
        "x-ms-file-last-write-time": "2021-09-01T09:05:55.0000000Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-group": "3001",
        "x-ms-mode": "0770",
        "x-ms-owner": "3000",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandafilepremscale.file.core.windows.net/test-share-faf5768b-08f8-1672-4c5b-a6b945dda37d/destFolder/bar/item3?sv=Sanitized&ss=f&srt=sco&se=2026-04-30T23%3A43%3A54Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-language": "en-US,en-CA",
        "x-ms-content-length": "1024",
        "x-ms-file-creation-time": "[...]
    {
      "RequestUri": "https://amandafilepremscale.file.core.windows.net/test-share-faf5768b-08f8-1672-4c5b-a6b945dda37d/destFolder/pik?sv=Sanitized&ss=f&srt=sco&se=2026-04-30T23%3A43%3A54Z&sp=rwdxylacuptfi&sig=Sanitized&restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-file-creation-time": "2021-08-01T09:05:55.0000000Z",
        "x-ms-file-last-write-time": "2021-09-01T09:05:55.0000000Z",
        "x-ms-group": "3001",
        "x-ms-meta-tagKey0": "tagValue0",
        "x-ms-meta-tagKey1": "tagValue1",
        "x-ms-mode": "0770",
        "x-ms-owner": "3000",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA6492C9B0B37\"",
        "Last-Modified": "Wed, 29 Apr 2026 23:43:54 GMT",
        "x-ms-file-change-time": "2026-04-29T23:43:54.4370999Z",
        "x-ms-file-creation-time": "2021-08-01T09:05:55.0000000Z",
        "x-ms-file-file-type": "Directory",
        "x-ms-file-id": "12682206919419494400",
        "x-ms-file-last-write-time": "2021-09-01T09:05:55.0000000Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-group": "3001",
        "x-ms-mode": "0770",
        "x-ms-owner": "3000",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandafilepremscale.file.core.windows.net/test-share-faf5768b-08f8-1672-4c5b-a6b945dda37d/destFolder/pik/item4?sv=Sanitized&ss=f&srt=sco&se=2026-04-30T23%3A43%3A54Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-language": "en-US,en-CA",
        "x-ms-content-length": "1024",
        "x-ms-file-creation-time": "[...]
    {
      "RequestUri": "https://amandafilepremscale.file.core.windows.net/test-share-d13f2226-a18c-8118-2e80-a9401aafd5d3?sv=Sanitized&ss=f&srt=sco&se=2026-04-30T23%3A43%3A54Z&sp=rwdxylacuptfi&sig=Sanitized&restype=share",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA6492C36D335\"",
        "Last-Modified": "Wed, 29 Apr 2026 23:43:53 GMT",
        "x-ms-access-tier": "Premium",
        "x-ms-enable-snapshot-virtual-directory-access": "true",
        "x-ms-enabled-protocols": "NFS",
        "x-ms-has-immutability-policy": "false",
        "x-ms-has-legal-hold": "false",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-root-squash": "NoRootSquash",
        "x-ms-share-next-allowed-quota-downgrade-time": "Wed, 29 Apr 2026 23:43:53 GMT",
        "x-ms-share-paid-bursting-enabled": "false",
        "x-ms-share-provisioned-bandwidth-mibps": "110",
        "x-ms-share-provisioned-egress-mbps": "110",
        "x-ms-share-provisioned-ingress-mbps": "110",
        "x-ms-share-provisioned-iops": "3100",
        "x-ms-share-quota": "100",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandafilepremscale.file.core.windows.net/test-share-d13f2226-a18c-8118-2e80-a9401aafd5d3/sourceFolder?sv=Sanitized&ss=f&srt=sco&se=2026-04-30T23%3A43%3A54Z&sp=rwdxylacuptfi&sig=Sanitized&restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandafilepremscale.file.core.windows.net/\" ShareName=\"test-share-d13f2226-a18c-8118-2e80-a9401aafd5d3\" DirectoryPath=\"sourceFolder\"><DirectoryId>13835128424026341376</DirectoryId><Entries><Directory><Name>bar</Name><FileId>10376363910205800448</FileId><Properties /></Directory><File><Name>item1</Name><FileId>11529285414812647424</FileId><Properties><Content-Length>1024</Content-Length></Properties></File><File><Name>item2</Name><FileId>16140971433240035328</FileId><Properties><Content-Length>1024</Content-Length></Properties></File><Directory><Name>pik</Name><FileId>12682206919419494400</FileId><Properties /></Directory></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandafilepremscale.file.core.windows.net/test-share-d13f2226-a18c-8118-2e80-a9401aafd5d3/sourceFolder/bar?sv=Sanitized&ss=f&srt=sco&se=2026-04-30T23%3A43%3A54Z&sp=rwdxylacuptfi&sig=Sanitized&restype=directory",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA6492C5E943B\"",
        "Last-Modified": "Wed, 29 Apr 2026 23:43:54 GMT",
        "x-ms-file-change-time": "2026-04-29T23:43:54.0846454Z",
        "x-ms-file-creation-time": "2024-04-01T09:05:55.0000000Z",
        "x-ms-file-file-type": "Directory",
        "x-ms-file-id": "10376363910205800448",
        "x-ms-file-last-write-time": "2026-04-29T23:43:54.0846454Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-group": "123",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-mode": "1777",
        "x-ms-owner": "345",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandafilepremscale.file.core.windows.net/test-share-faf5768b-08f8-1672-4c5b-a6b945dda37d/destFolder/bar?sv=Sanitized&ss=f&srt=sco&se=2026-04-30T23%3A43%3A54Z&sp=rwdxylacuptfi&sig=Sanitized&restype=directory&comp=metadata",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA6492CC719D6\"",
        "Last-Modified": "Wed, 29 Apr 2026 23:43:54 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandafilepremscale.file.core.windows.net/test-share-faf5768b-08f8-1672-4c5b-a6b945dda37d/destFolder/bar?sv=Sanitized&ss=f&srt=sco&se=2026-04-30T23%3A43%3A54Z&sp=rwdxylacuptfi&sig=Sanitized&restype=directory&comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-file-creation-time": "2024-04-01T09:05:55.0000000Z",
        "x-ms-file-last-write-time": "2026-04-29T23:43:54.0846454Z",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA6492CCDA232\"",
        "Last-Modified": "Wed, 29 Apr 2026 23:43:54 GMT",
        "x-ms-file-change-time": "2026-04-29T23:43:54.7686450Z",
        "x-ms-file-creation-time": "2024-04-01T09:05:55.0000000Z",
        "x-ms-file-id": "10376363910205800448",
        "x-ms-file-last-write-time": "2026-04-29T23:43:54.0846454Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-group": "3001",
        "x-ms-mode": "0770",
        "x-ms-owner": "3000",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandafilepremscale.file.core.windows.net/test-share-faf5768b-08f8-1672-4c5b-a6b945dda37d/destFolder/pik?sv=Sanitized&ss=f&srt=sco&se=2026-04-30T23%3A43%3A54Z&sp=rwdxylacuptfi&sig=Sanitized&restype=directory&comp=metadata",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA6492CE078CB\"",
        "Last-Modified": "Wed, 29 Apr 2026 23:43:54 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandafilepremscale.file.core.windows.net/test-share-faf5768b-08f8-1672-4c5b-a6b945dda37d/destFolder/pik?sv=Sanitized&ss=f&srt=sco&se=2026-04-30T23%3A43%3A54Z&sp=rwdxylacuptfi&sig=Sanitized&restype=directory&comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-file-creation-time": "2024-04-01T09:05:55.0000000Z",
        "x-ms-file-last-write-time": "2026-04-29T23:43:54.1732570Z",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA6492CE6DA44\"",
        "Last-Modified": "Wed, 29 Apr 2026 23:43:54 GMT",
        "x-ms-file-change-time": "2026-04-29T23:43:54.9339204Z",
        "x-ms-file-creation-time": "2024-04-01T09:05:55.0000000Z",
        "x-ms-file-id": "12682206919419494400",
        "x-ms-file-last-write-time": "2026-04-29T23:43:54.1732570Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-group": "3001",
        "x-ms-mode": "0770",
        "x-ms-owner": "3000",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandafilepremscale.file.core.windows.net/test-share-d13f2226-a18c-8118-2e80-a9401aafd5d3/sourceFolder/item1?sv=Sanitized&ss=f&srt=sco&se=2026-04-30T23%3A43%3A54Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": [
          "en-US",
          "en-CA"
        ],
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DEA6492C5135B8\"",
        "Last-Modified": "Wed, 29 Apr 2026 23:43:53 GMT",
        "x-ms-file-change-time": "2026-04-29T23:43:53.9532216Z",
        "x-ms-file-creation-time": "2024-04-01T09:05:55.0000000Z",
        "x-ms-file-file-type": "Regular",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-group": "123",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-link-count": "1",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-mode": "1777",
        "x-ms-owner": "345",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandafilepremscale.file.core.windows.net/test-share-d13f2226-a18c-8118-2e80-a9401aafd5d3/sourceFolder/bar?sv=Sanitized&ss=f&srt=sco&se=2026-04-30T23%3A43%3A54Z&sp=rwdxylacuptfi&sig=Sanitized&restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandafilepremscale.file.core.windows.net/\" ShareName=\"test-share-d13f2226-a18c-8118-2e80-a9401aafd5d3\" DirectoryPath=\"sourceFolder/bar\"><DirectoryId>10376363910205800448</DirectoryId><Entries><File><Name>item3</Name><FileId>14988049928633188352</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandafilepremscale.file.core.windows.net/test-share-faf5768b-08f8-1672-4c5b-a6b945dda37d/destFolder/item1?sv=Sanitized&ss=f&srt=sco&se=2026-04-30T23%3A43%3A54Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-language": "en-US,en-CA",
        "x-ms-content-length": "1024",
        "x-ms-content-type": "application/octet-stream",
        "x-ms-file-file-type": "Regular",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-type": "file",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA6492CF3EAF1\"",
        "Last-Modified": "Wed, 29 Apr 2026 23:43:55 GMT",
        "x-ms-file-change-time": "2026-04-29T23:43:55.0195441Z",
        "x-ms-file-creation-time": "2026-04-29T23:43:55.0195441Z",
        "x-ms-file-file-type": "Regular",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2026-04-29T23:43:55.0195441Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-group": "0",
        "x-ms-mode": "0664",
        "x-ms-owner": "0",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandafilepremscale.file.core.windows.net/test-share-d13f2226-a18c-8118-2e80-a9401aafd5d3/sourceFolder/pik?sv=Sanitized&ss=f&srt=sco&se=2026-04-30T23%3A43%3A54Z&sp=rwdxylacuptfi&sig=Sanitized&restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandafilepremscale.file.core.windows.net/\" ShareName=\"test-share-d13f2226-a18c-8118-2e80-a9401aafd5d3\" DirectoryPath=\"sourceFolder/pik\"><DirectoryId>12682206919419494400</DirectoryId><Entries><File><Name>item4</Name><FileId>17293892937846882304</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
[...]
    {
      "RequestUri": "https://amandafilepremscale.file.core.windows.net/test-share-faf5768b-08f8-1672-4c5b-a6b945dda37d/destFolder/item1?sv=Sanitized&ss=f&srt=sco&se=2026-04-30T23%3A43%3A54Z&sp=rwdxylacuptfi&sig=Sanitized&comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://amandafilepremscale.file.core.windows.net/test-share-d13f2226-a18c-8118-2e80-a9401aafd5d3/sourceFolder/item1?sv=sanitized-value&ss=f&srt=sco&se=2026-04-30T23%3A43%3A54Z&sp=rwdxylacuptfi&sig=Sanitized",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2026-06-06",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA6492CFB838C\"",
        "Last-Modified": "Wed, 29 Apr 2026 23:43:55 GMT",
        "x-ms-content-crc64": "iknlm7CyG2k=",
        "x-ms-file-last-write-time": "2026-04-29T23:43:55.0195441Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandafilepremscale.file.core.windows.net/test-share-faf5768b-08f8-1672-4c5b-a6b945dda37d/destFolder/item1?sv=Sanitized&ss=f&srt=sco&se=2026-04-30T23%3A43%3A54Z&sp=rwdxylacuptfi&sig=Sanitized&comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-language": "en-US,en-CA",
        "x-ms-content-type": "application/octet-stream",
        "x-ms-file-creation-time": "2024-04-01T09:05:55.0000000Z",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-version": "2026-06-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA6492D02212F\"",
        "Last-Modified": "Wed, 29 Apr 2026 23:43:55 GMT",
        "x-ms-file-change-time": "2026-04-29T23:43:55.1126831Z",
        "x-ms-file-creation-time": "2024-04-01T09:05:55.0000000Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-group": "0",
        "x-ms-link-count": "1",
        "x-ms-mode": "0664",
        "x-ms-owner": "0",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-06-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandafilepremscale.file.core.windows.net/test-share-faf5768b-08f8-1672-4c5b-a6b945dda37d/destFolder/bar/item3?sv=Sanitized&ss=f&srt=sco&se=2026-04-30T23%3A43%3A54Z&sp=rwdxylacuptfi&sig=Sanitized&comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://amandafilepremscale.file.core.windows.net/test-share-d13f2226-a18c-8118-2e80-a9401aafd5d3/sourceFolder/bar/item3?sv=sanitized-value&ss=f&srt=sco&se=2026-04-30T23%3A43%3A54Z&sp=rwdxylacuptfi&sig=Sanitized",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2026-06-06",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DEA6492D2527E0\"",
        "Last-Modified": "Wed, 29 Apr 2026 23:43:55 GMT",
        "x-ms-content-crc64": "iknlm7CyG2k=",
        "x-ms-file-last-write-time": "2026-04-29T23:43:55.2924487Z",
[...]
