{
  "Entries": [
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-3aa93bb2-1150-68f8-c338-9caa6ed2b9eb?sv=Sanitized&ss=f&srt=sco&se=2024-10-10T21%3A16%3A26Z&sp=rwdxylacuptfi&sig=Sanitized&restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCE8A7A28609DA\"",
        "Last-Modified": "Wed, 09 Oct 2024 21:16:26 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-82c85d6e-d649-79fd-b74e-5b0674905289?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 09 Oct 2024 21:16:26 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCE8A7A28D28F2\"",
        "Last-Modified": "Wed, 09 Oct 2024 21:16:26 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-3aa93bb2-1150-68f8-c338-9caa6ed2b9eb/sourceFolder?sv=Sanitized&ss=f&srt=sco&se=2024-10-10T21%3A16%3A26Z&sp=rwdxylacuptfi&sig=Sanitized&restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCE8A7A2941072\"",
        "Last-Modified": "Wed, 09 Oct 2024 21:16:26 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2024-10-09T21:16:26.4562802Z",
        "x-ms-file-creation-time": "2024-10-09T21:16:26.4562802Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-10-09T21:16:26.4562802Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "1597566016123626978*9146977694084461163",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-82c85d6e-d649-79fd-b74e-5b0674905289/destFolder?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 09 Oct 2024 21:16:26 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCE8A7A29B6265\"",
        "Last-Modified": "Wed, 09 Oct 2024 21:16:26 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2024-10-09T21:16:26.5042533Z",
        "x-ms-file-creation-time": "2024-10-09T21:16:26.5042533Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-10-09T21:16:26.5042533Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "1597566016123626978*9146977694084461163",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-3aa93bb2-1150-68f8-c338-9caa6ed2b9eb/sourceFolder/item1?sv=Sanitized&ss=f&srt=sco&se=2024-10-10T21%3A16%3A26Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-language": "en-US,en-CA",
        "x-ms-content-length": "1024",
        "x-ms-file-attributes": "None",
        "x-ms-file-change-time": "2024-04-01T13:30:03.0000000Z",
        "x-ms-file-creation-time": "2024-04-01T09:05:55.0000000Z",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-file-permission": "Inherit",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-type": "file",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCE8A7A2A26640\"",
        "Last-Modified": "Wed, 09 Oct 2024 21:16:26 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-04-01T13:30:03.0000000Z",
        "x-ms-file-creation-time": "2024-04-01T09:05:55.0000000Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "15442983316638046949*9146977694084461163",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-3aa93bb2-1150-68f8-c338-9caa6ed2b9eb/sourceFolder/bar?sv=Sanitized&ss=f&srt=sco&se=2024-10-10T21%3A16%3A26Z&sp=rwdxylacuptfi&sig=Sanitized&restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCE8A7A2B0BC0E\"",
        "Last-Modified": "Wed, 09 Oct 2024 21:16:26 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2024-10-09T21:16:26.6441742Z",
        "x-ms-file-creation-time": "2024-10-09T21:16:26.6441742Z",
        "x-ms-file-id": "10376363910205800448",
        "x-ms-file-last-write-time": "2024-10-09T21:16:26.6441742Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "1597566016123626978*9146977694084461163",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-3aa93bb2-1150-68f8-c338-9caa6ed2b9eb/sourceFolder/bar/item3?sv=Sanitized&ss=f&srt=sco&se=2024-10-10T21%3A16%3A26Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-language": "en-US,en-CA",
        "x-ms-content-length": "1024",
        "x-ms-file-attributes": "None"[...]
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-3aa93bb2-1150-68f8-c338-9caa6ed2b9eb/sourceFolder/pik?sv=Sanitized&ss=f&srt=sco&se=2024-10-10T21%3A16%3A26Z&sp=rwdxylacuptfi&sig=Sanitized&restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCE8A7A2BF38E4\"",
        "Last-Modified": "Wed, 09 Oct 2024 21:16:26 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2024-10-09T21:16:26.7391204Z",
        "x-ms-file-creation-time": "2024-10-09T21:16:26.7391204Z",
        "x-ms-file-id": "12682206919419494400",
        "x-ms-file-last-write-time": "2024-10-09T21:16:26.7391204Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "1597566016123626978*9146977694084461163",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-3aa93bb2-1150-68f8-c338-9caa6ed2b9eb/sourceFolder/pik/item4?sv=Sanitized&ss=f&srt=sco&se=2024-10-10T21%3A16%3A26Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-language": "en-US,en-CA",
        "x-ms-content-length": "1024",
        "x-ms-file-attributes": "None"[...]
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-3aa93bb2-1150-68f8-c338-9caa6ed2b9eb/sourceFolder?sv=Sanitized&ss=f&srt=sco&se=2024-10-10T21%3A16%3A26Z&sp=rwdxylacuptfi&sig=Sanitized&restype=directory&comp=list&include=Attributes",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://jalauzonnettest.file.core.windows.net/\" ShareName=\"test-share-3aa93bb2-1150-68f8-c338-9caa6ed2b9eb\" DirectoryPath=\"sourceFolder\"><DirectoryId>13835128424026341376</DirectoryId><Entries><Directory><Name>bar</Name><FileId>10376363910205800448</FileId><Properties /><Attributes>Directory</Attributes></Directory><File><Name>item1</Name><FileId>11529285414812647424</FileId><Properties><Content-Length>1024</Content-Length></Properties><Attributes>Archive</Attributes></File><File><Name>item2</Name><FileId>16140971433240035328</FileId><Properties><Content-Length>1024</Content-Length></Properties><Attributes>Archive</Attributes></File><Directory><Name>pik</Name><FileId>12682206919419494400</FileId><Properties /><Attributes>Directory</Attributes></Directory></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-82c85d6e-d649-79fd-b74e-5b0674905289/destFolder/bar?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 09 Oct 2024 21:16:26 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCE8A7A2D57CCE\"",
        "Last-Modified": "Wed, 09 Oct 2024 21:16:26 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2024-10-09T21:16:26.8850382Z",
        "x-ms-file-creation-time": "2024-10-09T21:16:26.8850382Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2024-10-09T21:16:26.8850382Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "1597566016123626978*9146977694084461163",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-82c85d6e-d649-79fd-b74e-5b0674905289/destFolder/pik?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 09 Oct 2024 21:16:26 GMT",
        "x-ms-file-attributes": "None",
        "x-ms-file-creation-time": "Now",
        "x-ms-file-last-write-time": "Now",
        "x-ms-file-permission": "Inherit",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCE8A7A2DC80AA\"",
        "Last-Modified": "Wed, 09 Oct 2024 21:16:26 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2024-10-09T21:16:26.9310122Z",
        "x-ms-file-creation-time": "2024-10-09T21:16:26.9310122Z",
        "x-ms-file-id": "16140971433240035328",
        "x-ms-file-last-write-time": "2024-10-09T21:16:26.9310122Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "1597566016123626978*9146977694084461163",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-3aa93bb2-1150-68f8-c338-9caa6ed2b9eb/sourceFolder/item1?sv=Sanitized&ss=f&srt=sco&se=2024-10-10T21%3A16%3A26Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": [
          "en-US",
          "en-CA"
        ],
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DCE8A7A2A26640\"",
        "Last-Modified": "Wed, 09 Oct 2024 21:16:26 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-04-01T13:30:03.0000000Z",
        "x-ms-file-creation-time": "2024-04-01T09:05:55.0000000Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "15442983316638046949*9146977694084461163",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-3aa93bb2-1150-68f8-c338-9caa6ed2b9eb/sourceFolder/bar?sv=Sanitized&ss=f&srt=sco&se=2024-10-10T21%3A16%3A26Z&sp=rwdxylacuptfi&sig=Sanitized&restype=directory&comp=list&include=Attributes",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://jalauzonnettest.file.core.windows.net/\" ShareName=\"test-share-3aa93bb2-1150-68f8-c338-9caa6ed2b9eb\" DirectoryPath=\"sourceFolder/bar\"><DirectoryId>10376363910205800448</DirectoryId><Entries><File><Name>item3</Name><FileId>14988049928633188352</FileId><Properties><Content-Length>1024</Content-Length></Properties><Attributes>Archive</Attributes></File></Entries><NextMarker /></EnumerationResults>"
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-3aa93bb2-1150-68f8-c338-9caa6ed2b9eb/sourceFolder/pik?sv=Sanitized&ss=f&srt=sco&se=2024-10-10T21%3A16%3A26Z&sp=rwdxylacuptfi&sig=Sanitized&restype=directory&comp=list&include=Attributes",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://jalauzonnettest.file.core.windows.net/\" ShareName=\"test-share-3aa93bb2-1150-68f8-c338-9caa6ed2b9eb\" DirectoryPath=\"sourceFolder/pik\"><DirectoryId>12682206919419494400</DirectoryId><Entries><File><Name>item4</Name><FileId>17293892937846882304</FileId><Properties><Content-Length>1024</Content-Length></Properties><Attributes>Archive</Attributes></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-82c85d6e-d649-79fd-b74e-5b0674905289/destFolder/item1",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 09 Oct 2024 21:16:27 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-82c85d6e-d649-79fd-b74e-5b0674905289/destFolder/item1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-language": "en-US,en-CA",
        "x-ms-content-length": "1024",
        "x-ms-content-type": "application/octet-stream",
        "x-ms-date": "Wed, 09 Oct 2024 21:16:27 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-04-01T13:30:03.0000000Z",
        "x-ms-file-creation-time": "2024-04-01T09:05:55.0000000Z",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-file-permission": "Inherit",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-type": "file",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCE8A7A2F77ED4\"",
        "Last-Modified": "Wed, 09 Oct 2024 21:16:27 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-04-01T13:30:03.0000000Z",
        "x-ms-file-creation-time": "2024-04-01T09:05:55.0000000Z",
        "x-ms-file-id": "13835093239654252544",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "15442983316638046949*9146977694084461163",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-82c85d6e-d649-79fd-b74e-5b0674905289/destFolder/item1?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://jalauzonnettest.file.core.windows.net/test-share-3aa93bb2-1150-68f8-c338-9caa6ed2b9eb/sourceFolder/item1?sv=sanitized-value&ss=f&srt=sco&se=2024-10-10T21%3A16%3A26Z&sp=rwdxylacuptfi&sig=Sanitized",
        "x-ms-date": "Wed, 09 Oct 2024 21:16:27 GMT",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2025-01-05",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCE8A7A3007E3E\"",
        "Last-Modified": "Wed, 09 Oct 2024 21:16:27 GMT",
        "x-ms-content-crc64": "iknlm7CyG2k=",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-82c85d6e-d649-79fd-b74e-5b0674905289/destFolder/bar/item3",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 09 Oct 2024 21:16:27 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-82c85d6e-d649-79fd-b74e-5b0674905289/destFolder/bar/item3?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://jalauzonnettest.file.core.windows.net/test-share-3aa93bb2-1150-68f8-c338-9caa6ed2b9eb/sourceFolder/bar/item3?sv=sanitized-value&ss=f&srt=sco&se=2024-10-10T21%3A16%3A26Z&sp=rwdxylacuptfi&sig=Sanitized",
        "x-ms-date": "Wed, 09 Oct 2024 21:16:27 GMT",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2025-01-05",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCE8A7A339FC7A\"",
        "Last-Modified": "Wed, 09 Oct 2024 21:16:27 GMT",
        "x-ms-content-crc64": "iknlm7CyG2k=",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-82c85d6e-d649-79fd-b74e-5b0674905289/destFolder/pik/item4",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 09 Oct 2024 21:16:27 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-82c85d6e-d649-79fd-b74e-5b0674905289/destFolder/pik/item4?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://jalauzonnettest.file.core.windows.net/test-share-3aa93bb2-1150-68f8-c338-9caa6ed2b9eb/sourceFolder/pik/item4?sv=sanitized-value&ss=f&srt=sco&se=2024-10-10T21%3A16%3A26Z&sp=rwdxylacuptfi&sig=Sanitized",
        "x-ms-date": "Wed, 09 Oct 2024 21:16:27 GMT",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2025-01-05",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCE8A7A3556FC9\"",
        "Last-Modified": "Wed, 09 Oct 2024 21:16:27 GMT",
        "x-ms-content-crc64": "iknlm7CyG2k=",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-82c85d6e-d649-79fd-b74e-5b0674905289?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 09 Oct 2024 21:16:27 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-3aa93bb2-1150-68f8-c338-9caa6ed2b9eb?sv=Sanitized&ss=f&srt=sco&se=2024-10-10T21%3A16%3A26Z&sp=rwdxylacuptfi&sig=Sanitized&restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-10-09T14:16:26.3297293-07:00",
    "RandomSeed": "766505593",
    "Storage_TestConfigDefault": "ProductionTenant\njalauzonnettest\nU2FuaXRpemVk\nhttps://jalauzonnettest.blob.core.windows.net\nhttps://jalauzonnettest.file.core.windows.net\nhttps://jalauzonnettest.queue.core.windows.net\nhttps://jalauzonnettest.table.core.windows.net\n\n\n\n\nhttps://jalauzonnettest-secondary.blob.core.windows.net\nhttps://jalauzonnettest-secondary.file.core.windows.net\nhttps://jalauzonnettest-secondary.queue.core.windows.net\nhttps://jalauzonnettest-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://jalauzonnettest.blob.core.windows.net/;QueueEndpoint=https://jalauzonnettest.queue.core.windows.net/;FileEndpoint=https://jalauzonnettest.file.core.windows.net/;BlobSecondaryEndpoint=https://jalauzonnettest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jalauzonnettest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jalauzonnettest-secondary.file.core.windows.net/;AccountName=jalauzonnettest;AccountKey=Sanitized\ntestscope1\n\n"
  }
}
