{
  "Entries": [
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-7d6ad94b-209e-8901-92fc-6fbd571e17bc?sv=Sanitized&ss=f&srt=sco&se=2025-05-01T15%3A16%3A09Z&sp=rwdxylacuptfi&sig=Sanitized&restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD87F9EE9C738F\"",
        "Last-Modified": "Wed, 30 Apr 2025 15:16:07 GMT",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-92b06f03-2e7e-bbb4-a766-871d132b0683?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 30 Apr 2025 15:16:09 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD87F9EEA1D9B1\"",
        "Last-Modified": "Wed, 30 Apr 2025 15:16:07 GMT",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-7d6ad94b-209e-8901-92fc-6fbd571e17bc/sourceFolder?sv=Sanitized&ss=f&srt=sco&se=2025-05-01T15%3A16%3A09Z&sp=rwdxylacuptfi&sig=Sanitized&restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-file-attributes": "None",
        "x-ms-file-change-time": "2024-04-01T13:30:03.0000000Z",
        "x-ms-file-creation-time": "2024-04-01T09:05:55.0000000Z",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-file-permission": "O:S-1-5-21-2127521184-1604012920-1887927527-21560751G:S-1-5-21-2127521184-1604012920-1887927527-513D:AI(A;;FA;;;SY)(A;;FA;;;BA)(A;;0x1200a9;;;S-1-5-21-397955417-626881126-188441444-3053964)S:NO_ACCESS_CONTROL",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD87F9EEA7AEB0\"",
        "Last-Modified": "Wed, 30 Apr 2025 15:16:07 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2024-04-01T13:30:03.0000000Z",
        "x-ms-file-creation-time": "2024-04-01T09:05:55.0000000Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "4404247679626324875*16083086822043778878",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-7d6ad94b-209e-8901-92fc-6fbd571e17bc/sourceFolder/item1?sv=Sanitized&ss=f&srt=sco&se=2025-05-01T15%3A16%3A09Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-language": "en-US,en-CA",
        "x-ms-content-length": "1024",
        "x-ms-file-attributes": "None",
        "x-ms-file-change-time": "2024-04-01T13:30:03.0000000Z",
        "x-ms-file-creation-time": "2024-04-01T09:05:55.0000000Z",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-type": "file",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD87F9EEAC168D\"",
        "Last-Modified": "Wed, 30 Apr 2025 15:16:07 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-04-01T13:30:03.0000000Z",
        "x-ms-file-creation-time": "2024-04-01T09:05:55.0000000Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "9661515331611808851*16083086822043778878",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-7d6ad94b-209e-8901-92fc-6fbd571e17bc/sourceFolder/bar?sv=Sanitized&ss=f&srt=sco&se=2025-05-01T15%3A16%3A09Z&sp=rwdxylacuptfi&sig=Sanitized&restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD87F9EEB66B32\"",
        "Last-Modified": "Wed, 30 Apr 2025 15:16:07 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-04-30T15:16:07.8017330Z",
        "x-ms-file-creation-time": "2025-04-30T15:16:07.8017330Z",
        "x-ms-file-id": "10376363910205800448",
        "x-ms-file-last-write-time": "2025-04-30T15:16:07.8017330Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "9661515331611808851*16083086822043778878",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-7d6ad94b-209e-8901-92fc-6fbd571e17bc/sourceFolder/bar/item3?sv=Sanitized&ss=f&srt=sco&se=2025-05-01T15%3A16%3A09Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-language": "en-US,en-CA",
        "x-ms-content-length": "1024",
        "x-ms-file-attributes": "[...]
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-7d6ad94b-209e-8901-92fc-6fbd571e17bc/sourceFolder/pik?sv=Sanitized&ss=f&srt=sco&se=2025-05-01T15%3A16%3A09Z&sp=rwdxylacuptfi&sig=Sanitized&restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD87F9EEBFD681\"",
        "Last-Modified": "Wed, 30 Apr 2025 15:16:07 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-04-30T15:16:07.8634625Z",
        "x-ms-file-creation-time": "2025-04-30T15:16:07.8634625Z",
        "x-ms-file-id": "12682206919419494400",
        "x-ms-file-last-write-time": "2025-04-30T15:16:07.8634625Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "9661515331611808851*16083086822043778878",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-7d6ad94b-209e-8901-92fc-6fbd571e17bc/sourceFolder/pik/item4?sv=Sanitized&ss=f&srt=sco&se=2025-05-01T15%3A16%3A09Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-language": "en-US,en-CA",
        "x-ms-content-length": "1024",
        "x-ms-file-attributes": "[...]
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-92b06f03-2e7e-bbb4-a766-871d132b0683/destFolder?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 30 Apr 2025 15:16:10 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD87F9EEC8F3FC\"",
        "Last-Modified": "Wed, 30 Apr 2025 15:16:07 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-04-30T15:16:07.9231996Z",
        "x-ms-file-creation-time": "2025-04-30T15:16:07.9231996Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-04-30T15:16:07.9231996Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "13252330444922611895*16083086822043778878",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-7d6ad94b-209e-8901-92fc-6fbd571e17bc?sv=Sanitized&ss=f&srt=sco&se=2025-05-01T15%3A16%3A09Z&sp=rwdxylacuptfi&sig=Sanitized&restype=share",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD87F9EE9C738F\"",
        "Last-Modified": "Wed, 30 Apr 2025 15:16:07 GMT",
        "x-ms-access-tier": "TransactionOptimized",
        "x-ms-access-tier-change-time": "Wed, 30 Apr 2025 15:16:07 GMT",
        "x-ms-has-immutability-policy": "false",
        "x-ms-has-legal-hold": "false",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-share-quota": "102400",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-7d6ad94b-209e-8901-92fc-6fbd571e17bc/sourceFolder?sv=Sanitized&ss=f&srt=sco&se=2025-05-01T15%3A16%3A09Z&sp=rwdxylacuptfi&sig=Sanitized&restype=directory&comp=list&include=Attributes",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://nickliuproductionacc.file.core.windows.net/\" ShareName=\"test-share-7d6ad94b-209e-8901-92fc-6fbd571e17bc\" DirectoryPath=\"sourceFolder\"><DirectoryId>13835128424026341376</DirectoryId><Entries><Directory><Name>bar</Name><FileId>10376363910205800448</FileId><Properties /><Attributes>Directory</Attributes></Directory><File><Name>item1</Name><FileId>11529285414812647424</FileId><Properties><Content-Length>1024</Content-Length></Properties><Attributes>Archive</Attributes></File><File><Name>item2</Name><FileId>16140971433240035328</FileId><Properties><Content-Length>1024</Content-Length></Properties><Attributes>Archive</Attributes></File><Directory><Name>pik</Name><FileId>12682206919419494400</FileId><Properties /><Attributes>Directory</Attributes></Directory></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-7d6ad94b-209e-8901-92fc-6fbd571e17bc/sourceFolder/bar?sv=Sanitized&ss=f&srt=sco&se=2025-05-01T15%3A16%3A09Z&sp=rwdxylacuptfi&sig=Sanitized&restype=directory",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD87F9EEB66B32\"",
        "Last-Modified": "Wed, 30 Apr 2025 15:16:07 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-04-30T15:16:07.8017330Z",
        "x-ms-file-creation-time": "2025-04-30T15:16:07.8017330Z",
        "x-ms-file-id": "10376363910205800448",
        "x-ms-file-last-write-time": "2025-04-30T15:16:07.8017330Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "9661515331611808851*16083086822043778878",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-92b06f03-2e7e-bbb4-a766-871d132b0683/destFolder/bar?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 30 Apr 2025 15:16:10 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-04-30T15:16:07.8017330Z",
        "x-ms-file-creation-time": "2025-04-30T15:16:07.8017330Z",
        "x-ms-file-last-write-time": "2025-04-30T15:16:07.8017330Z",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD87F9EEE169A2\"",
        "Last-Modified": "Wed, 30 Apr 2025 15:16:08 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-04-30T15:16:07.8017330Z",
        "x-ms-file-creation-time": "2025-04-30T15:16:07.8017330Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2025-04-30T15:16:07.8017330Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "13252330444922611895*16083086822043778878",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-92b06f03-2e7e-bbb4-a766-871d132b0683/destFolder/pik?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 30 Apr 2025 15:16:10 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-04-30T15:16:07.8634625Z",
        "x-ms-file-creation-time": "2025-04-30T15:16:07.8634625Z",
        "x-ms-file-last-write-time": "2025-04-30T15:16:07.8634625Z",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD87F9EEE9EB84\"",
        "Last-Modified": "Wed, 30 Apr 2025 15:16:08 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-04-30T15:16:07.8634625Z",
        "x-ms-file-creation-time": "2025-04-30T15:16:07.8634625Z",
        "x-ms-file-id": "16140971433240035328",
        "x-ms-file-last-write-time": "2025-04-30T15:16:07.8634625Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "13252330444922611895*16083086822043778878",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-7d6ad94b-209e-8901-92fc-6fbd571e17bc/sourceFolder/bar?sv=Sanitized&ss=f&srt=sco&se=2025-05-01T15%3A16%3A09Z&sp=rwdxylacuptfi&sig=Sanitized&restype=directory&comp=list&include=Attributes",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://nickliuproductionacc.file.core.windows.net/\" ShareName=\"test-share-7d6ad94b-209e-8901-92fc-6fbd571e17bc\" DirectoryPath=\"sourceFolder/bar\"><DirectoryId>10376363910205800448</DirectoryId><Entries><File><Name>item3</Name><FileId>14988049928633188352</FileId><Properties><Content-Length>1024</Content-Length></Properties><Attributes>Archive</Attributes></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-7d6ad94b-209e-8901-92fc-6fbd571e17bc/sourceFolder/pik?sv=Sanitized&ss=f&srt=sco&se=2025-05-01T15%3A16%3A09Z&sp=rwdxylacuptfi&sig=Sanitized&restype=directory&comp=list&include=Attributes",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://nickliuproductionacc.file.core.windows.net/\" ShareName=\"test-share-7d6ad94b-209e-8901-92fc-6fbd571e17bc\" DirectoryPath=\"sourceFolder/pik\"><DirectoryId>12682206919419494400</DirectoryId><Entries><File><Name>item4</Name><FileId>17293892937846882304</FileId><Properties><Content-Length>1024</Content-Length></Properties><Attributes>Archive</Attributes></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-7d6ad94b-209e-8901-92fc-6fbd571e17bc/sourceFolder/item1?sv=Sanitized&ss=f&srt=sco&se=2025-05-01T15%3A16%3A09Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": [
          "en-US",
          "en-CA"
        ],
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD87F9EEAC168D\"",
        "Last-Modified": "Wed, 30 Apr 2025 15:16:07 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-04-01T13:30:03.0000000Z",
        "x-ms-file-creation-time": "2024-04-01T09:05:55.0000000Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "9661515331611808851*16083086822043778878",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-92b06f03-2e7e-bbb4-a766-871d132b0683/destFolder/item1",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 30 Apr 2025 15:16:10 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-92b06f03-2e7e-bbb4-a766-871d132b0683/destFolder/item1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-language": "en-US,en-CA",
        "x-ms-content-length": "1024",
        "x-ms-content-type": "application/octet-stream",
        "x-ms-date": "Wed, 30 Apr 2025 15:16:10 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-04-01T13:30:03.0000000Z",
        "x-ms-file-creation-time": "2024-04-01T09:05:55.0000000Z",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-type": "file",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD87F9EF00B556\"",
        "Last-Modified": "Wed, 30 Apr 2025 15:16:08 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2024-04-01T13:30:03.0000000Z",
        "x-ms-file-creation-time": "2024-04-01T09:05:55.0000000Z",
        "x-ms-file-id": "10376363910205800448",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "8616074386732128176*16083086822043778878",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-92b06f03-2e7e-bbb4-a766-871d132b0683/destFolder/item1?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://nickliuproductionacc.file.core.windows.net/test-share-7d6ad94b-209e-8901-92fc-6fbd571e17bc/sourceFolder/item1?sv=sanitized-value&ss=f&srt=sco&se=2025-05-01T15%3A16%3A09Z&sp=rwdxylacuptfi&sig=Sanitized",
        "x-ms-date": "Wed, 30 Apr 2025 15:16:10 GMT",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2025-07-05",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD87F9EF076482\"",
        "Last-Modified": "Wed, 30 Apr 2025 15:16:08 GMT",
        "x-ms-content-crc64": "iknlm7CyG2k=",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-92b06f03-2e7e-bbb4-a766-871d132b0683/destFolder/item1?comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-language": "en-US,en-CA",
        "x-ms-content-type": "application/octet-stream",
        "x-ms-date": "Wed, 30 Apr 2025 15:16:10 GMT"[...]
[...]
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-92b06f03-2e7e-bbb4-a766-871d132b0683/destFolder/bar/item3",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 30 Apr 2025 15:16:10 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-92b06f03-2e7e-bbb4-a766-871d132b0683/destFolder/bar/item3?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://nickliuproductionacc.file.core.windows.net/test-share-7d6ad94b-209e-8901-92fc-6fbd571e17bc/sourceFolder/bar/item3?sv=sanitized-value&ss=f&srt=sco&se=2025-05-01T15%3A16%3A09Z&sp=rwdxylacuptfi&sig=Sanitized",
        "x-ms-date": "Wed, 30 Apr 2025 15:16:10 GMT",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2025-07-05",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD87F9EF3FC15E\"",
        "Last-Modified": "Wed, 30 Apr 2025 15:16:08 GMT",
        "x-ms-content-crc64": "iknlm7CyG2k=",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-92b06f03-2e7e-bbb4-a766-871d132b0683/destFolder/bar/item3?comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-language": "en-US,en-CA",
        "x-ms-content-type": "application/octet-stream",
        "x-ms-date": "Wed, 30 Apr 2025 15:16:10 [...]
[...]
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-92b06f03-2e7e-bbb4-a766-871d132b0683/destFolder/pik/item4",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 30 Apr 2025 15:16:11 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-92b06f03-2e7e-bbb4-a766-871d132b0683/destFolder/pik/item4?comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://nickliuproductionacc.file.core.windows.net/test-share-7d6ad94b-209e-8901-92fc-6fbd571e17bc/sourceFolder/pik/item4?sv=sanitized-value&ss=f&srt=sco&se=2025-05-01T15%3A16%3A09Z&sp=rwdxylacuptfi&sig=Sanitized",
        "x-ms-date": "Wed, 30 Apr 2025 15:16:11 GMT",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2025-07-05",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD87F9EF5ACC23\"",
        "Last-Modified": "Wed, 30 Apr 2025 15:16:08 GMT",
        "x-ms-content-crc64": "iknlm7CyG2k=",
        "x-ms-file-last-write-time": "2024-04-01T12:16:06.0000000Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-92b06f03-2e7e-bbb4-a766-871d132b0683/destFolder/pik/item4?comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-language": "en-US,en-CA",
        "x-ms-content-type": "application/octet-stream",
        "x-ms-date": "Wed, 30 Apr 2025 15:16:11 [...]
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-7d6ad94b-209e-8901-92fc-6fbd571e17bc/sourceFolder?sv=Sanitized&ss=f&srt=sco&se=2025-05-01T15%3A16%3A09Z&sp=rwdxylacuptfi&sig=Sanitized&restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://nickliuproductionacc.file.core.windows.net/\" ShareName=\"test-share-7d6ad94b-209e-8901-92fc-6fbd571e17bc\" DirectoryPath=\"sourceFolder\"><DirectoryId>13835128424026341376</DirectoryId><Entries><Directory><Name>bar</Name><FileId>10376363910205800448</FileId><Properties /></Directory><File><Name>item1</Name><FileId>11529285414812647424</FileId><Properties><Content-Length>1024</Content-Length></Properties></File><File><Name>item2</Name><FileId>16140971433240035328</FileId><Properties><Content-Length>1024</Content-Length></Properties></File><Directory><Name>pik</Name><FileId>12682206919419494400</FileId><Properties /></Directory></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-92b06f03-2e7e-bbb4-a766-871d132b0683/destFolder?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 30 Apr 2025 15:16:11 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://nickliuproductionacc.file.core.windows.net/\" ShareName=\"test-share-92b06f03-2e7e-bbb4-a766-871d132b0683\" DirectoryPath=\"destFolder\"><DirectoryId>13835128424026341376</DirectoryId><Entries><Directory><Name>bar</Name><FileId>11529285414812647424</FileId><Properties /></Directory><File><Name>item1</Name><FileId>10376363910205800448</FileId><Properties><Content-Length>1024</Content-Length></Properties></File><File><Name>item2</Name><FileId>14988049928633188352</FileId><Properties><Content-Length>1024</Content-Length></Properties></File><Directory><Name>pik</Name><FileId>16140971433240035328</FileId><Properties /></Directory></Entries><NextMarker /></EnumerationResults>"
    },
[...]
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-7d6ad94b-209e-8901-92fc-6fbd571e17bc/sourceFolder/item1?sv=Sanitized&ss=f&srt=sco&se=2025-05-01T15%3A16%3A09Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "GET",
[...]
