{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.microsoft.com/map/attribution?api-version=2024-04-01&tilesetId=microsoft.base&zoom=6&bounds=42.982261,24.980233,56.526017,1.355233",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "subscription-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-azuremaps-region": "West Europe"
      },
      "ResponseBody": {
        "copyrights": [
          "<a data-azure-maps-attribution-dynamic=\"true\" data-azure-maps-attribution-tileset=\"microsoft.core.vector\">&copy;2024 OSM</a>",
          "<a data-azure-maps-attribution-dynamic=\"true\" data-azure-maps-attribution-tileset=\"microsoft.core.vector\">&copy;2024 TomTom</a>"
        ]
      }
    }
  ],
  "Variables": {}
}
