{
  "Entries": [
    {
      "RequestUri": "https://api.loganalytics.io/v1/workspaces/d97d5fda-c415-430a-ba62-5d0b9dbb94e0/query",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "query": "print long(1000000000000000000) == long(1000000000000000000)",
        "timespan": "2025-09-08T00:00:00.0000000Z/P15D"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "tables": [
          {
            "name": "PrimaryResult",
            "columns": [
              {
                "name": "print_0",
                "type": "bool"
              }
            ],
            "rows": [
              [
                true
              ]
            ]
          }
        ]
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "DateTimeOffsetNow": "2025-09-22T14:12:48.1590375-07:00",
    "RandomSeed": "1208785052",
    "WORKSPACE_ID": "d97d5fda-c415-430a-ba62-5d0b9dbb94e0"
  }
}
