{
  "Entries": [
    {
      "RequestUri": "https://api.loganalytics.io/v1/workspaces/d97d5fda-c415-430a-ba62-5d0b9dbb94e0/query",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "query": "let dt = datatable (Int: int, String: string, Bool:bool, Double: double)\n[1, 'a', false, 0.0, 2, 'b', true, 1.2,3, 'c', false, 1.1]; dt |distinct * | project-rename Name = String, Age = Int | project Name, Age | order by Name asc",
        "timespan": "2025-09-08T00:00:00.0000000Z/P15D"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "tables": [
          {
            "name": "PrimaryResult",
            "columns": [
              {
                "name": "Name",
                "type": "string"
              },
              {
                "name": "Age",
                "type": "int"
              }
            ],
            "rows": [
              [
                "a",
                1
              ],
              [
                "b",
                2
              ],
              [
                "c",
                3
              ]
            ]
          }
        ]
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "DateTimeOffsetNow": "2025-09-22T14:14:57.8691175-07:00",
    "RandomSeed": "1438051710",
    "WORKSPACE_ID": "d97d5fda-c415-430a-ba62-5d0b9dbb94e0"
  }
}
