{
  "Entries": [
    {
      "RequestUri": "https://api.loganalytics.io/v1/subscriptions/4d042dc6-fe17-4698-a23f-ec6a8d1e98f4/resourceGroups/SSS3PT_rg-jsquiremonitor/providers/Microsoft.OperationalInsights/workspaces/t85a2eda6d27cf3cb-logs-1/query",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "query": "let dt = datatable (Int: int, String: string, Bool: bool, TimeGenerated: datetime)\n[1, 'a', false, datetime(\"2025-09-08T00:00:00.000Z\"), 2, 'b', true, datetime(\"2025-09-10T00:00:00.000Z\"),3, 'c', false, datetime(\"2025-09-13T00:00:00.000Z\")]; dt | distinct * | project TimeGenerated",
        "timespan": "PT5S"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "tables": [
          {
            "name": "PrimaryResult",
            "columns": [
              {
                "name": "TimeGenerated",
                "type": "datetime"
              }
            ],
            "rows": [
              [
                "2025-09-08T00:00:00Z"
              ],
              [
                "2025-09-10T00:00:00Z"
              ],
              [
                "2025-09-13T00:00:00Z"
              ]
            ]
          }
        ]
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "DateTimeOffsetNow": "2025-09-22T14:10:31.6622889-07:00",
    "RandomSeed": "1543952846",
    "WORKSPACE_ID": "d97d5fda-c415-430a-ba62-5d0b9dbb94e0",
    "WORKSPACE_PRIMARY_RESOURCE_ID": "/subscriptions/4d042dc6-fe17-4698-a23f-ec6a8d1e98f4/resourceGroups/SSS3PT_rg-jsquiremonitor/providers/Microsoft.OperationalInsights/workspaces/t85a2eda6d27cf3cb-logs-1"
  }
}
