{
  "Entries": [
    {
      "RequestUri": "https://api.loganalytics.io/v1/workspaces/d97d5fda-c415-430a-ba62-5d0b9dbb94e0/query",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "query": "datatable (DateTime: datetime) [ datetime(null) ]",
        "timespan": "2025-09-08T00:00:00.0000000Z/P15D"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "tables": [
          {
            "name": "PrimaryResult",
            "columns": [
              {
                "name": "DateTime",
                "type": "datetime"
              }
            ],
            "rows": [
              [
                null
              ]
            ]
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://api.loganalytics.io/v1/workspaces/d97d5fda-c415-430a-ba62-5d0b9dbb94e0/query",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "query": "datatable (Decimal: decimal) [ decimal(null) ]",
        "timespan": "2025-09-08T00:00:00.0000000Z/P15D"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "tables": [
          {
            "name": "PrimaryResult",
            "columns": [
              {
                "name": "Decimal",
                "type": "decimal"
              }
            ],
            "rows": [
              [
                null
              ]
            ]
          }
        ]
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "DateTimeOffsetNow": "2025-09-22T14:09:44.8837397-07:00",
    "RandomSeed": "1627997488",
    "WORKSPACE_ID": "d97d5fda-c415-430a-ba62-5d0b9dbb94e0"
  }
}
