{
  "Entries": [
    {
      "RequestUri": "https://api.loganalytics.io/v1/$batch",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "requests": [
          {
            "id": "0",
            "body": {
              "query": "let dt = datatable (Int: int, String: string, Bool:bool, Double: double)\n[1, 'a', false, 0.0, 2, 'b', true, 1.2,3, 'c', false, 1.1]; dt",
              "timespan": "2025-09-08T00:00:00.0000000Z/P15D"
            },
            "path": "/query",
            "method": "POST",
            "workspace": "d97d5fda-c415-430a-ba62-5d0b9dbb94e0"
          }
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "responses": [
          {
            "id": "0",
            "status": 200,
            "headers": {
            },
            "body": {
              "tables": [
                {
                  "name": "PrimaryResult",
                  "columns": [
                    {
                      "name": "Int",
                      "type": "int"
                    },
                    {
                      "name": "String",
                      "type": "string"
                    },
                    {
                      "name": "Bool",
                      "type": "bool"
                    },
                    {
                      "name": "Double",
                      "type": "real"
                    }
                  ],
                  "rows": [
                    [
                      1,
                      "a",
                      false,
                      0
                    ],
                    [
                      2,
                      "b",
                      true,
                      1.2
                    ],
                    [
                      3,
                      "c",
                      false,
                      1.1
                    ]
                  ]
                }
              ]
            }
          }
        ]
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "DateTimeOffsetNow": "2025-09-22T14:13:57.8543446-07:00",
    "RandomSeed": "1619571739",
    "WORKSPACE_ID": "d97d5fda-c415-430a-ba62-5d0b9dbb94e0"
  }
}
