{
  "Entries": [
    {
      "RequestUri": "https://api.loganalytics.io/v1/workspaces/d97d5fda-c415-430a-ba62-5d0b9dbb94e0/query",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "query": "datatable (DateTime: datetime, Bool:bool, Guid: guid, Int: int, Long:long, Double: double, String: string, Timespan: timespan, Decimal: decimal, Dynamic: dynamic)[datetime(2015-12-31 23:59:59.9),false,guid(74be27de-1e4e-49d9-b579-fe0b331d3642),12345,1234567890123,12345.6789,'string value',10s,decimal(0.10101),dynamic({\"a\":123, \"b\":\"hello\", \"c\":[1,2,3], \"d\":{}})]",
        "timespan": "2025-09-08T00:00:00.0000000Z/P15D"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "tables": [
          {
            "name": "PrimaryResult",
            "columns": [
              {
                "name": "DateTime",
                "type": "datetime"
              },
              {
                "name": "Bool",
                "type": "bool"
              },
              {
                "name": "Guid",
                "type": "guid"
              },
              {
                "name": "Int",
                "type": "int"
              },
              {
                "name": "Long",
                "type": "long"
              },
              {
                "name": "Double",
                "type": "real"
              },
              {
                "name": "String",
                "type": "string"
              },
              {
                "name": "Timespan",
                "type": "timespan"
              },
              {
                "name": "Decimal",
                "type": "decimal"
              },
              {
                "name": "Dynamic",
                "type": "dynamic"
              }
            ],
            "rows": [
              [
                "2015-12-31T23:59:59.9Z",
                false,
                "74be27de-1e4e-49d9-b579-fe0b331d3642",
                12345,
                1234567890123,
                12345.6789,
                "string value",
                "00:00:10",
                "0.10101",
                "{\"a\":123,\"b\":\"hello\",\"c\":[1,2,3],\"d\":{}}"
              ]
            ]
          }
        ]
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "DateTimeOffsetNow": "2025-09-22T14:14:27.0969513-07:00",
    "RandomSeed": "1622127139",
    "WORKSPACE_ID": "d97d5fda-c415-430a-ba62-5d0b9dbb94e0"
  }
}
