{
  "Entries": [
    {
      "RequestUri": "https://api.loganalytics.io/v1/$batch",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "requests": [
          {
            "id": "0",
            "body": {
              "query": "this won't work",
              "timespan": "2025-09-08T00:00:00.0000000Z/P15D"
            },
            "path": "/query",
            "method": "POST",
            "workspace": "d97d5fda-c415-430a-ba62-5d0b9dbb94e0"
          }
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "responses": [
          {
            "id": "0",
            "status": 400,
            "headers": {
            },
            "body": {
              "error": {
                "message": "The request had some invalid properties",
                "code": "BadArgumentError",
                "correlationId": "0114741d-2564-4ae4-9077-9163da79502d",
                "innererror": {
                  "code": "SyntaxError",
                  "message": "A recognition error occurred in the query.",
                  "innererror": {
                    "code": "SYN0002",
                    "message": "Query could not be parsed at 'won' on line [1,6]",
                    "line": 1,
                    "pos": 6,
                    "token": "Sanitized"
                  }
                }
              }
            }
          }
        ]
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com",
    "DateTimeOffsetNow": "2025-09-22T14:16:55.8847661-07:00",
    "RandomSeed": "646446705",
    "WORKSPACE_ID": "d97d5fda-c415-430a-ba62-5d0b9dbb94e0"
  }
}
