{
  "Entries": [
    {
      "RequestUri": "https://fakeaccountname.blob.core.windows.net/container176765136084500358?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE4CA8059A7349\"",
        "Last-Modified": "Mon, 05 Jan 2026 22:16:06 GMT",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeaccountname.blob.core.windows.net/container176765136084500358/blob176765136647401151",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": "SGVsbG8gV29ybGQ=",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "sQqNsWTgdUEFt6mb5y4/5Q==",
        "ETag": "\"0x8DE4CA805A75B80\"",
        "Last-Modified": "Mon, 05 Jan 2026 22:16:06 GMT",
        "x-ms-content-crc64": "YeJLfssylmU=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-02-06",
        "x-ms-version-id": "2026-01-05T22:16:06.6259840Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeaccountname.blob.core.windows.net/container176765136084500358/copiedblob176765136656100461",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://fakeaccountname.blob.core.windows.net/container176765136084500358/blob176765136647401151",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "ETag": "\"0x8DE4CA805BD8BCB\"",
        "Last-Modified": "Mon, 05 Jan 2026 22:16:06 GMT",
        "x-ms-copy-id": "d7d82e93-cf27-4e59-935c-0a9040db7982",
        "x-ms-copy-status": "success",
        "x-ms-version": "2026-02-06",
        "x-ms-version-id": "2026-01-05T22:16:06.7633794Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeaccountname.blob.core.windows.net/container176765136084500358/copiedblob176765136656100461?comp=copy&copyid=d7d82e93-cf27-4e59-935c-0a9040db7982",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-action": "abort",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 409,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "NoPendingCopyOperation",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>NoPendingCopyOperation</Code><Message>There is currently no pending copy operation.\n",
        "RequestId:b03c88ca-301e-000b-6190-7e7ab6000000\n",
        "Time:2026-01-05T22:16:07.8831984Z</Message></Error>"
      ]
    },
    {
      "RequestUri": "https://fakeaccountname.blob.core.windows.net/container176765136084500358?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "blob": "blob176765136647401151",
    "container": "container176765136084500358",
    "copiedblob": "copiedblob176765136656100461"
  }
}
