{
  "Entries": [
    {
      "RequestUri": "https://fakeaccountname.blob.core.windows.net/container176911878450700788?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE5A00A12C6448\"",
        "Last-Modified": "Thu, 22 Jan 2026 21:53:08 GMT",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeaccountname.blob.core.windows.net/container176911878450700788/blob176911878784103256",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": "SGVsbG8gV29ybGQ=",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "sQqNsWTgdUEFt6mb5y4/5Q==",
        "ETag": "\"0x8DE5A00A13879D5\"",
        "Last-Modified": "Thu, 22 Jan 2026 21:53:08 GMT",
        "x-ms-content-crc64": "YeJLfssylmU=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-02-06",
        "x-ms-version-id": "2026-01-22T21:53:08.4531895Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeaccountname.blob.core.windows.net/container176911878450700788/copiedblob176911878791608768",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-access-tier": "Cold",
        "x-ms-copy-source": "https://azure.github.io/azure-sdk-for-js/index.html",
        "x-ms-requires-sync": "true",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "ETag": "\"0x8DE5A00A14E344C\"",
        "Last-Modified": "Thu, 22 Jan 2026 21:53:08 GMT",
        "x-ms-content-crc64": "EVzW1WN8PIg=",
        "x-ms-copy-id": "fbda2b67-64e7-476b-8d9f-4b1fe61eb63c",
        "x-ms-copy-status": "success",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-02-06",
        "x-ms-version-id": "2026-01-22T21:53:08.6005423Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeaccountname.blob.core.windows.net/container176911878450700788/copiedblob176911878791608768?",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "GhHMoBdI57v2XrU3L94IdQ==",
        "Content-Type": "text/html; charset=utf-8",
        "ETag": "\"0x8DE5A00A14E344C\"",
        "Last-Modified": "Thu, 22 Jan 2026 21:53:08 GMT",
        "x-ms-access-tier": "Cold",
        "x-ms-access-tier-change-time": "Thu, 22 Jan 2026 21:53:08 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-completion-time": "Thu, 22 Jan 2026 21:53:08 GMT",
        "x-ms-copy-id": "fbda2b67-64e7-476b-8d9f-4b1fe61eb63c",
        "x-ms-copy-progress": "13917/13917",
        "x-ms-copy-source": "https://azure.github.io/azure-sdk-for-js/index.html",
        "x-ms-copy-status": "success",
        "x-ms-creation-time": "Thu, 22 Jan 2026 21:53:08 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Thu, 22 Jan 2026 21:53:08 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2026-02-06",
        "x-ms-version-id": "2026-01-22T21:53:08.6005423Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeaccountname.blob.core.windows.net/container176911878450700788?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "blob": "blob176911878784103256",
    "container": "container176911878450700788",
    "copiedblob": "copiedblob176911878791608768"
  }
}
