{
  "Entries": [
    {
      "RequestUri": "https://fakeaccountname.blob.core.windows.net/container175763706442602050?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDF193AAF403BD\"",
        "Last-Modified": "Fri, 12 Sep 2025 00:31:08 GMT",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeaccountname.blob.core.windows.net/container175763706442602050/blob175763706827901686",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": "SGVsbG8gV29ybGQ=",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "sQqNsWTgdUEFt6mb5y4/5Q==",
        "ETag": "\"0x8DDF193AB023D2B\"",
        "Last-Modified": "Fri, 12 Sep 2025 00:31:08 GMT",
        "x-ms-content-crc64": "YeJLfssylmU=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05",
        "x-ms-version-id": "2025-09-12T00:31:08.8015659Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeaccountname.blob.core.windows.net/container175763706442602050/blob175763706827901686?comp=snapshot",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDF193AB023D2B\"",
        "Last-Modified": "Fri, 12 Sep 2025 00:31:08 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-snapshot": "2025-09-12T00:31:08.9224978Z",
        "x-ms-version": "2025-11-05",
        "x-ms-version-id": "2025-09-12T00:31:08.9234978Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeaccountname.blob.core.windows.net/container175763706442602050/blob175763706827901686?snapshot=2025-09-12T00%3A31%3A08.9224978Z&comp=tier",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-access-tier": "Cool",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeaccountname.blob.core.windows.net/container175763706442602050/blob175763706827901686?snapshot=2025-09-12T00%3A31%3A08.9224978Z&",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "sQqNsWTgdUEFt6mb5y4/5Q==",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DDF193AB023D2B\"",
        "Last-Modified": "Fri, 12 Sep 2025 00:31:08 GMT",
        "x-ms-access-tier": "Cool",
        "x-ms-access-tier-change-time": "Fri, 12 Sep 2025 00:31:09 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 12 Sep 2025 00:31:08 GMT",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeaccountname.blob.core.windows.net/container175763706442602050?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "blob": "blob175763706827901686",
    "container": "container175763706442602050"
  }
}
