{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.eastus.cnt-prod.loadtesting.azure.com/test-profiles/sample-sdk-testprofile-202503187?api-version=2024-12-01-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch+json"
      },
      "RequestBody": {
        "testId": "sample-sdk-testpr-202503183",
        "displayName": "Sample Test Profile",
        "description": "Sample Test Profile Description",
        "targetResourceId": "Sanitized",
        "targetResourceConfigurations": {
          "kind": "FunctionsFlexConsumption",
          "configurations": {
            "config1": {
              "instanceMemoryMB": 2048,
              "httpConcurrency": 20
            },
            "config2": {
              "instanceMemoryMB": 4096,
              "httpConcurrency": 40
            }
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2024-05-01-preview, 2024-07-01-preview, 2024-12-01-preview, 2025-03-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://00000000-0000-0000-0000-000000000000.eastus.cnt-prod.loadtesting.azure.com/test-profiles/sample-sdk-testprofile-202503187?api-version=2024-12-01-preview",
        "mise-correlation-id": "c552261f-83ec-44a7-962b-24275bc971f9"
      },
      "ResponseBody": {
        "testProfileId": "sample-sdk-testprofile-202503187",
        "displayName": "Sample Test Profile",
        "description": "Sample Test Profile Description",
        "targetResourceId": "Sanitized",
        "testId": "sample-sdk-testpr-202503183",
        "targetResourceConfigurations": {
          "kind": "FunctionsFlexConsumption",
          "configurations": {
            "config1": {
              "instanceMemoryMB": 2048,
              "httpConcurrency": 20
            },
            "config2": {
              "instanceMemoryMB": 4096,
              "httpConcurrency": 40
            }
          }
        },
        "createdDateTime": "2025-03-18T12:52:42.295Z",
        "createdBy": "Sanitized",
        "lastModifiedDateTime": "2025-03-18T12:52:42.295Z",
        "lastModifiedBy": "Sanitized"
      }
    }
  ],
  "Variables": {}
}
