{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.eastus.cnt-prod.loadtesting.azure.com/tests/sample-sdk-testpr-202503183?api-version=2024-12-01-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch+json"
      },
      "RequestBody": {
        "displayName": "Sample Load Test",
        "description": "Sample Load Test Description",
        "loadTestConfiguration": {
          "engineInstances": 1,
          "splitAllCSVs": false
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2022-11-01, 2023-04-01-preview, 2024-03-01-preview, 2024-05-01-preview, 2024-07-01-preview, 2024-12-01-preview, 2025-03-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://00000000-0000-0000-0000-000000000000.eastus.cnt-prod.loadtesting.azure.com/tests/sample-sdk-testpr-202503183?api-version=2024-12-01-preview",
        "mise-correlation-id": "5717ec21-6317-41d4-bd9a-70e6c8ad023b"
      },
      "ResponseBody": {
        "loadTestConfiguration": {
          "engineInstances": 1,
          "splitAllCSVs": false,
          "quickStartTest": false
        },
        "inputArtifacts": {
          "additionalFileInfo": []
        },
        "kind": "URL",
        "publicIPDisabled": false,
        "metricsReferenceIdentityType": "SystemAssigned",
        "testId": "sample-sdk-testpr-202503183",
        "description": "Sample Load Test Description",
        "displayName": "Sample Load Test",
        "createdDateTime": "2025-03-18T12:52:06.552Z",
        "createdBy": "Sanitized",
        "lastModifiedDateTime": "2025-03-18T12:52:06.552Z",
        "lastModifiedBy": "Sanitized"
      }
    }
  ],
  "Variables": {}
}
