{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.eastus.cnt-prod.loadtesting.azure.com/test-profiles/sample-sdk-testprofile-202503187?api-version=2024-12-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2024-05-01-preview, 2024-07-01-preview, 2024-12-01-preview, 2025-03-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "44748389-89e5-4547-b0bf-ba73670dbb7c"
      },
      "ResponseBody": {
        "testProfileId": "sample-sdk-testprofile-202503187",
        "displayName": "Sample Test Profile",
        "description": "Sample Test Profile Description",
        "targetResourceId": "Sanitized",
        "testId": "sample-sdk-testpr-202503183",
        "targetResourceConfigurations": {
          "kind": "FunctionsFlexConsumption",
          "configurations": {
            "config1": {
              "instanceMemoryMB": 2048,
              "httpConcurrency": 20
            },
            "config2": {
              "instanceMemoryMB": 4096,
              "httpConcurrency": 40
            }
          }
        },
        "createdDateTime": "2025-03-19T12:41:14.266Z",
        "createdBy": "Sanitized",
        "lastModifiedDateTime": "2025-03-19T12:41:14.266Z",
        "lastModifiedBy": "Sanitized"
      }
    }
  ],
  "Variables": {}
}
