{
  "Entries": [
    {
      "RequestUri": "https://amandacanarypremium.blob.core.windows.net/test-container-77182a18-2d1d-aadc-fe17-c1d8649e75a3?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 24 Apr 2025 22:19:17 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD837E0DC95EBB\"",
        "Last-Modified": "Thu, 24 Apr 2025 22:19:17 GMT",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandacanarypremium.blob.core.windows.net/test-container-77182a18-2d1d-aadc-fe17-c1d8649e75a3/test-blob-83ecbe8b-cff0-e55a-f909-55c07fd94244",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-access-tier": "P30",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Thu, 24 Apr 2025 22:19:17 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD837E0DE37D7E\"",
        "Last-Modified": "Thu, 24 Apr 2025 22:19:17 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandacanarypremium.blob.core.windows.net/test-container-77182a18-2d1d-aadc-fe17-c1d8649e75a3/test-blob-83ecbe8b-cff0-e55a-f909-55c07fd94244?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 24 Apr 2025 22:19:17 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": "TchxeNRcuupF6gtBYjvMT+5wJGSGSX83fM7wOSzROOoA3ZslbF3nawhaCpw1EHjc3Ccv3gBUAQRJOvwGbIG9dLIgQYWgp+KRiblbKz7iAmtVE1wFolnqq9yW2zJg4P+HnJbpFM/zPDVEnVRG+dXGZjeRsFgkuNJYNZWpCcuvMKi61I6o+O2bYtcnwAQFo7IG0HT6zzCmY+TDkd85SjNplW2sjCVGHm5K9U2B/PfNU5HjojhXtGB4E3Cq5GcNYhijviuWWBaNwLIGsNriJWbs9T1NVqj6EuANNHm0nDoGPJI13T7MN/t6VuGGUASFle0Jve4qwAxwqKxKiSSd2CR4AHNHrUcoIL5C0//GdMHbh5+Mqt5L23yGxTWSga3W3X29Dk+RPeel4Z0v6O0MqTTqbwGFES1FLCX[...]
    {
      "RequestUri": "https://amandacanarypremium.blob.core.windows.net/test-container-77182a18-2d1d-aadc-fe17-c1d8649e75a3/test-blob-83ecbe8b-cff0-e55a-f909-55c07fd94244?sv=Sanitized&se=2025-04-25T22%3A19%3A17Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD837E0DF04073\"",
        "Last-Modified": "Thu, 24 Apr 2025 22:19:17 GMT",
        "x-ms-access-tier": "P30",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Thu, 24 Apr 2025 22:19:17 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandacanarypremium.blob.core.windows.net/test-container-2a371203-1ad0-7823-1979-824c5e577aab/test-blob-1053f381-87d6-5e43-410b-1e23f3a1667e?sv=Sanitized&se=2025-04-25T22%3A19%3A17Z&sr=b&sp=racwdxyltmei&sig=Sanitized&comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-copy-source": "https://amandacanarypremium.blob.core.windows.net/test-container-77182a18-2d1d-aadc-fe17-c1d8649e75a3/test-blob-83ecbe8b-cff0-e55a-f909-55c07fd94244?sv=sanitized-value&se=2025-04-25T22%3A19%3A17Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD837E0E1D9064\"",
        "Last-Modified": "Thu, 24 Apr 2025 22:19:18 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-content-crc64": "8QK5PlZwoyM=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandacanarypremium.blob.core.windows.net/test-container-77182a18-2d1d-aadc-fe17-c1d8649e75a3/test-blob-83ecbe8b-cff0-e55a-f909-55c07fd94244?sv=Sanitized&se=2025-04-25T22%3A19%3A17Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DD837E0DF04073\"",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD837E0DF04073\"",
        "Last-Modified": "Thu, 24 Apr 2025 22:19:17 GMT",
        "x-ms-access-tier": "P30",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Thu, 24 Apr 2025 22:19:17 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-en[...]
[...]
    {
      "RequestUri": "https://amandacanarypremium.blob.core.windows.net/test-container-77182a18-2d1d-aadc-fe17-c1d8649e75a3?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 24 Apr 2025 22:19:18 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2025-04-24T15:19:17.3522894-07:00",
    "RandomSeed": "869663370",
    "Storage_TestConfigPremiumBlob": "PremiumTenant\namandacanarypremium\nU2FuaXRpemVk\nhttps://amandacanarypremium.blob.core.windows.net\n\n\n\n\n\n\n\nhttps://amandacanarypremium-secondary.blob.core.windows.net\n\n\n\nCloud\nBlobEndpoint=https://amandacanarypremium.blob.core.windows.net/;BlobSecondaryEndpoint=https://amandacanarypremium-secondary.blob.core.windows.net/;AccountName=amandacanarypremium;AccountKey=U2FuaXRpemVk\n\n\n"
  }
}
