{
  "Entries": [
    {
      "RequestUri": "https://amandacanarypremium.blob.core.windows.net/test-container-63a28ab5-b3a7-b7c3-ffe5-9857e4752e59?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 30 Sep 2025 20:49:57 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE0062EAA83ED5\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:49:57 GMT",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandacanarypremium.blob.core.windows.net/test-container-63a28ab5-b3a7-b7c3-ffe5-9857e4752e59/test-blob-f2a3c7f5-9a08-0dd0-f2f7-beee2fcb4a6d",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-access-tier": "P30",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Tue, 30 Sep 2025 20:49:57 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE0062EAC3EE22\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:49:57 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandacanarypremium.blob.core.windows.net/test-container-63a28ab5-b3a7-b7c3-ffe5-9857e4752e59/test-blob-f2a3c7f5-9a08-0dd0-f2f7-beee2fcb4a6d?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 30 Sep 2025 20:49:58 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": "d/h9iVOsFzykCGNLzMAlHmhbbk5NwP9Wx9oQdbGDIYxi2HayNylu6ULuYOnoQ/caeVXZSRNZybb5J8F5nKKLIefX6PNKcuY/7YQMXmAVbYPi9fxcqtd4CA+/uRBn9E2fYj8CEVoD0AZumlyOTWpV5Lk9lqamL3YPXuDkirnW1/g3bPwhElwp3yX17RB76rukatVWKV2m+TLI87N6HkVNmMJjV+BuNNFcFLeBsEJmk3QlQCDkf62bkHLJWB+prsDfp1RNGJLaNTUD+hSlJUjwYmA+Vd4laRkUyMZupduxs2X3oQntGXvhSgvq4IWY9Wop2Pa/alnhuT47OE/Ma49ZUkavroM/AkjlXQrTOoiUfNNcRMzl8kgLFujLseArFd97kY4+6Ufm6tWt2g1PDn+1p7x8bybDdF/[...]
    {
      "RequestUri": "https://amandacanarypremium.blob.core.windows.net/test-container-63a28ab5-b3a7-b7c3-ffe5-9857e4752e59/test-blob-f2a3c7f5-9a08-0dd0-f2f7-beee2fcb4a6d?sv=Sanitized&se=2025-10-01T20%3A49%3A58Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DE0062EAD125C5\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:49:57 GMT",
        "x-ms-access-tier": "P30",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Tue, 30 Sep 2025 20:49:57 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandacanarypremium.blob.core.windows.net/test-container-4ce4e8cd-5c22-84b9-6193-e45789f8492f/test-blob-4c4dd376-b12f-a5b1-02de-0a9fcfdecca5?sv=Sanitized&se=2025-10-01T20%3A49%3A58Z&sr=b&sp=racwdxyltmei&sig=Sanitized&comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-copy-source": "https://amandacanarypremium.blob.core.windows.net/test-container-63a28ab5-b3a7-b7c3-ffe5-9857e4752e59/test-blob-f2a3c7f5-9a08-0dd0-f2f7-beee2fcb4a6d?sv=sanitized-value&se=2025-10-01T20%3A49%3A58Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE0062EB103218\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:49:58 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-content-crc64": "oqExWnkp0Rk=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandacanarypremium.blob.core.windows.net/test-container-63a28ab5-b3a7-b7c3-ffe5-9857e4752e59/test-blob-f2a3c7f5-9a08-0dd0-f2f7-beee2fcb4a6d?sv=Sanitized&se=2025-10-01T20%3A49%3A58Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DE0062EAD125C5\"",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DE0062EAD125C5\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:49:57 GMT",
        "x-ms-access-tier": "P30",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Tue, 30 Sep 2025 20:49:57 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-en[...]
[...]
    {
      "RequestUri": "https://amandacanarypremium.blob.core.windows.net/test-container-63a28ab5-b3a7-b7c3-ffe5-9857e4752e59?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 30 Sep 2025 20:49:59 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2025-09-30T13:49:58.1007662-07:00",
    "RandomSeed": "896120858",
    "Storage_TestConfigPremiumBlob": "PremiumTenant\namandacanarypremium\nU2FuaXRpemVk\nhttps://amandacanarypremium.blob.core.windows.net\n\n\n\n\n\n\n\nhttps://amandacanarypremium-secondary.blob.core.windows.net\n\n\n\nCloud\nBlobEndpoint=https://amandacanarypremium.blob.core.windows.net/;BlobSecondaryEndpoint=https://amandacanarypremium-secondary.blob.core.windows.net/;AccountName=amandacanarypremium;AccountKey=U2FuaXRpemVk\n\n\n"
  }
}
