{
  "Entries": [
    {
      "RequestUri": "https://amandacanarypremium.blob.core.windows.net/test-container-e9f53daa-436e-200d-bcbe-ed1bdbd33194?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 24 Apr 2025 22:19:13 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD837E0BDF93A1\"",
        "Last-Modified": "Thu, 24 Apr 2025 22:19:14 GMT",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandacanarypremium.blob.core.windows.net/test-container-e9f53daa-436e-200d-bcbe-ed1bdbd33194/test-blob-afae3c1a-30f4-3718-9dc8-9c3d74facefe",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-access-tier": "P30",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Thu, 24 Apr 2025 22:19:13 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD837E0BFA26E1\"",
        "Last-Modified": "Thu, 24 Apr 2025 22:19:14 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandacanarypremium.blob.core.windows.net/test-container-e9f53daa-436e-200d-bcbe-ed1bdbd33194/test-blob-afae3c1a-30f4-3718-9dc8-9c3d74facefe?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 24 Apr 2025 22:19:14 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": "0nnQ2AlzMWKHUGj6hbxc0iSGIlpwae86tFGzrgUjCvfRLi7Eu8L4BGJ/nIS31o8hsWrfGoGBOWiKlSS4v4JcZEZxKFeOmBZijR738cxqgt7Bkv2bQ+91UPXFOiWeQETgIjg+Rq04kxlTfY1jiUebHxNG9i2EwSBW+9hhyF3xw0zZFs+UKzwwiP/kR8ZhEsatKRoSV0kXW2AX50rV1sq7YrlAiXJ4B/TWFW0uoHla9egRtJ5D3mwDwbtufEPxW7I0KOUNIYhTNCImO0Lb6LvnvfJiwyIseINMPci3Coqw5bq7+niTTNRfvn97HKMqJ9n/hr9Rj5iPB7BiwOPAmyqXdlaHH+5DU3AeAgSjsFvgIhXvt4PLX1YhLPLIMYzwnyJU46ZMogfqvDNPMoyT61dUgZ3O0eOmzBc[...]
    {
      "RequestUri": "https://amandacanarypremium.blob.core.windows.net/test-container-e9f53daa-436e-200d-bcbe-ed1bdbd33194/test-blob-afae3c1a-30f4-3718-9dc8-9c3d74facefe?sv=Sanitized&se=2025-04-25T22%3A19%3A14Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD837E0C0710AE\"",
        "Last-Modified": "Thu, 24 Apr 2025 22:19:14 GMT",
        "x-ms-access-tier": "P30",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Thu, 24 Apr 2025 22:19:14 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandacanarypremium.blob.core.windows.net/test-container-d040ead2-079c-5dfc-0cc9-07b092b3b181/test-blob-3de2658c-98ba-37b9-f303-ac1d1a6c9084?sv=Sanitized&se=2025-04-25T22%3A19%3A14Z&sr=b&sp=racwdxyltmei&sig=Sanitized&comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-copy-source": "https://amandacanarypremium.blob.core.windows.net/test-container-e9f53daa-436e-200d-bcbe-ed1bdbd33194/test-blob-afae3c1a-30f4-3718-9dc8-9c3d74facefe?sv=sanitized-value&se=2025-04-25T22%3A19%3A14Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD837E0C319A6B\"",
        "Last-Modified": "Thu, 24 Apr 2025 22:19:15 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-content-crc64": "zFsEDyfG02M=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandacanarypremium.blob.core.windows.net/test-container-d040ead2-079c-5dfc-0cc9-07b092b3b181/test-blob-3de2658c-98ba-37b9-f303-ac1d1a6c9084?sv=Sanitized&se=2025-04-25T22%3A19%3A14Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD837E0C319A6B\"",
        "Last-Modified": "Thu, 24 Apr 2025 22:19:15 GMT",
        "x-ms-access-tier": "P10",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Thu, 24 Apr 2025 22:19:14 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandacanarypremium.blob.core.windows.net/test-container-e9f53daa-436e-200d-bcbe-ed1bdbd33194/test-blob-afae3c1a-30f4-3718-9dc8-9c3d74facefe?sv=Sanitized&se=2025-04-25T22%3A19%3A14Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DD837E0C0710AE\"",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD837E0C0710AE\"",
        "Last-Modified": "Thu, 24 Apr 2025 22:19:14 GMT",
        "x-ms-access-tier": "P30",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Thu, 24 Apr 2025 22:19:14 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-en[...]
[...]
    {
      "RequestUri": "https://amandacanarypremium.blob.core.windows.net/test-container-d040ead2-079c-5dfc-0cc9-07b092b3b181/test-blob-3de2658c-98ba-37b9-f303-ac1d1a6c9084?sv=Sanitized&se=2025-04-25T22%3A19%3A14Z&sr=b&sp=racwdxyltmei&sig=Sanitized&comp=tags",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?>\n",
        "<Tags><TagSet/></Tags>"
      ]
    },
[...]
    {
      "RequestUri": "https://amandacanarypremium.blob.core.windows.net/test-container-e9f53daa-436e-200d-bcbe-ed1bdbd33194?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 24 Apr 2025 22:19:15 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2025-04-24T15:19:14.1430976-07:00",
    "RandomSeed": "2089408275",
    "Storage_TestConfigPremiumBlob": "PremiumTenant\namandacanarypremium\nU2FuaXRpemVk\nhttps://amandacanarypremium.blob.core.windows.net\n\n\n\n\n\n\n\nhttps://amandacanarypremium-secondary.blob.core.windows.net\n\n\n\nCloud\nBlobEndpoint=https://amandacanarypremium.blob.core.windows.net/;BlobSecondaryEndpoint=https://amandacanarypremium-secondary.blob.core.windows.net/;AccountName=amandacanarypremium;AccountKey=U2FuaXRpemVk\n\n\n"
  }
}
