{
  "Entries": [
    {
      "RequestUri": "https://amandacanarypremium.blob.core.windows.net/test-container-94115f7e-5c70-6cfb-3c11-2a9974a2d44b?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 30 Sep 2025 20:50:32 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE0062FF4E57DB\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:50:32 GMT",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandacanarypremium.blob.core.windows.net/test-container-94115f7e-5c70-6cfb-3c11-2a9974a2d44b/test-blob-286ccb09-104f-268b-9bf6-955eae26c146",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-access-tier": "P30",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Tue, 30 Sep 2025 20:50:32 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE0062FF6A3E34\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:50:32 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandacanarypremium.blob.core.windows.net/test-container-94115f7e-5c70-6cfb-3c11-2a9974a2d44b/test-blob-286ccb09-104f-268b-9bf6-955eae26c146?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 30 Sep 2025 20:50:32 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": "5Qm4rvWaZl/YIsUrGANhTe/LMkvT8zRhmet2JeOjPrAAiT36pkkUJmb3TvqjJCbFBpHyquJiFvHUVxQKI0F8NOMVKo7GZqemtgvl26U6vXXEsR5SsJTNnXJMJk80CgMkexkWjvmX/p/pTPTXfTtLmZmfRXIiKYNPR40cekBXcawIwF+MIy97LbJ/aGSf9R83AIy2lcWRAlGWx0Zse4RektpIz7zbv3VpIxe/osEer1Ft5Hm0odvmd74O9VzpD7EuIdaJVyZiXEEWTHKt0V+Qdxj0/pYKqvD/YVj+zMkZfxRmkIHqlFcrCog4nVRpOaVefX1E9RAbI3bmivbOZI94/M1dR0DdpePAyfMN0gyblSiyoE5L1YoESm0KBAphXKb5v6CHDPFkgNiagyscDVFqSvXOHMNALCZ[...]
    {
      "RequestUri": "https://amandacanarypremium.blob.core.windows.net/test-container-94115f7e-5c70-6cfb-3c11-2a9974a2d44b/test-blob-286ccb09-104f-268b-9bf6-955eae26c146?sv=Sanitized&se=2025-10-01T20%3A50%3A32Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DE0062FF77280D\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:50:32 GMT",
        "x-ms-access-tier": "P30",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Tue, 30 Sep 2025 20:50:32 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandacanarypremium.blob.core.windows.net/test-container-9a25b3b6-9e2e-e102-46ae-52588216c3b0/test-blob-0f48e55f-2116-058c-709c-4ac32f2ce11e?sv=Sanitized&se=2025-10-01T20%3A50%3A32Z&sr=b&sp=racwdxyltmei&sig=Sanitized&comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-copy-source": "https://amandacanarypremium.blob.core.windows.net/test-container-94115f7e-5c70-6cfb-3c11-2a9974a2d44b/test-blob-286ccb09-104f-268b-9bf6-955eae26c146?sv=sanitized-value&se=2025-10-01T20%3A50%3A32Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE0062FFB71DAB\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:50:33 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-content-crc64": "d92SKTkTdQ8=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandacanarypremium.blob.core.windows.net/test-container-94115f7e-5c70-6cfb-3c11-2a9974a2d44b/test-blob-286ccb09-104f-268b-9bf6-955eae26c146?sv=Sanitized&se=2025-10-01T20%3A50%3A32Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DE0062FF77280D\"",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DE0062FF77280D\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:50:32 GMT",
        "x-ms-access-tier": "P30",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Tue, 30 Sep 2025 20:50:32 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-en[...]
[...]
    {
      "RequestUri": "https://amandacanarypremium.blob.core.windows.net/test-container-94115f7e-5c70-6cfb-3c11-2a9974a2d44b?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 30 Sep 2025 20:50:33 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2025-09-30T13:50:32.7345682-07:00",
    "RandomSeed": "1568348412",
    "Storage_TestConfigPremiumBlob": "PremiumTenant\namandacanarypremium\nU2FuaXRpemVk\nhttps://amandacanarypremium.blob.core.windows.net\n\n\n\n\n\n\n\nhttps://amandacanarypremium-secondary.blob.core.windows.net\n\n\n\nCloud\nBlobEndpoint=https://amandacanarypremium.blob.core.windows.net/;BlobSecondaryEndpoint=https://amandacanarypremium-secondary.blob.core.windows.net/;AccountName=amandacanarypremium;AccountKey=U2FuaXRpemVk\n\n\n"
  }
}
