{
  "Entries": [
    {
      "RequestUri": "https://amandacanarypremium.blob.core.windows.net/test-container-2e634f10-029d-e364-3789-8fe129accfa2?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 30 Sep 2025 20:50:29 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE0062FD588C36\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:50:29 GMT",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandacanarypremium.blob.core.windows.net/test-container-2e634f10-029d-e364-3789-8fe129accfa2/test-blob-ab969d45-f7b3-6009-16f7-bb703612fcc7",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-access-tier": "P30",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Tue, 30 Sep 2025 20:50:29 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE0062FD744A49\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:50:29 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandacanarypremium.blob.core.windows.net/test-container-2e634f10-029d-e364-3789-8fe129accfa2/test-blob-ab969d45-f7b3-6009-16f7-bb703612fcc7?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 30 Sep 2025 20:50:29 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": "6owdjNoxnST1OgXYHb9WcPpGfZaOFgOIkEfoKE+gUkvTNXhtJWhqzu3xf5nLQ4YsJeY8UQCSedOIlfuTSXXVVei6BOdH6EuS266pnZZqvU3AuwNoYwBKQbuk5ZBs14V4HCqxET6e5TybqnVR6Nw8Htiu0o1xbPHncMMrogO6JQQpMIBsuasPItbGzbmL+FjfaMa4vgX3Bq84yaF6ckI44IVxKLdb0GQsn6+3q544XHdrTDo8AWb+MSrQM+8KlK+TjewzGc+gg5dijB9VQFsR/20pDyYH+94ec/eNi5x1IQoAIx2xBUOoysii2nVHqPDPvzSC4YWJjJEOFKXYE/j77GsUVR09X/oqgUReZCFp18sGvstn8z+Fd5eLo/Cdz7fPp+4KMlLTkWA6V2BAKidwpD3a0VQtk/k[...]
    {
      "RequestUri": "https://amandacanarypremium.blob.core.windows.net/test-container-2e634f10-029d-e364-3789-8fe129accfa2/test-blob-ab969d45-f7b3-6009-16f7-bb703612fcc7?sv=Sanitized&se=2025-10-01T20%3A50%3A29Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DE0062FD81A8CC\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:50:29 GMT",
        "x-ms-access-tier": "P30",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Tue, 30 Sep 2025 20:50:29 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandacanarypremium.blob.core.windows.net/test-container-3bcdb38c-8eb3-33d8-1cbf-92862222d408/test-blob-744662c1-a722-cbeb-8532-e8c7d00e6f81?sv=Sanitized&se=2025-10-01T20%3A50%3A29Z&sr=b&sp=racwdxyltmei&sig=Sanitized&comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-copy-source": "https://amandacanarypremium.blob.core.windows.net/test-container-2e634f10-029d-e364-3789-8fe129accfa2/test-blob-ab969d45-f7b3-6009-16f7-bb703612fcc7?sv=sanitized-value&se=2025-10-01T20%3A50%3A29Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE0062FDBD8454\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:50:29 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-content-crc64": "25fmN64Ri9Y=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandacanarypremium.blob.core.windows.net/test-container-3bcdb38c-8eb3-33d8-1cbf-92862222d408/test-blob-744662c1-a722-cbeb-8532-e8c7d00e6f81?sv=Sanitized&se=2025-10-01T20%3A50%3A29Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DE0062FDBD8454\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:50:29 GMT",
        "x-ms-access-tier": "P10",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Tue, 30 Sep 2025 20:50:29 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandacanarypremium.blob.core.windows.net/test-container-2e634f10-029d-e364-3789-8fe129accfa2/test-blob-ab969d45-f7b3-6009-16f7-bb703612fcc7?sv=Sanitized&se=2025-10-01T20%3A50%3A29Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DE0062FD81A8CC\"",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DE0062FD81A8CC\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:50:29 GMT",
        "x-ms-access-tier": "P30",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Tue, 30 Sep 2025 20:50:29 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-en[...]
[...]
    {
      "RequestUri": "https://amandacanarypremium.blob.core.windows.net/test-container-2e634f10-029d-e364-3789-8fe129accfa2?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 30 Sep 2025 20:50:30 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2025-09-30T13:50:29.4492240-07:00",
    "RandomSeed": "1750667702",
    "Storage_TestConfigPremiumBlob": "PremiumTenant\namandacanarypremium\nU2FuaXRpemVk\nhttps://amandacanarypremium.blob.core.windows.net\n\n\n\n\n\n\n\nhttps://amandacanarypremium-secondary.blob.core.windows.net\n\n\n\nCloud\nBlobEndpoint=https://amandacanarypremium.blob.core.windows.net/;BlobSecondaryEndpoint=https://amandacanarypremium-secondary.blob.core.windows.net/;AccountName=amandacanarypremium;AccountKey=U2FuaXRpemVk\n\n\n"
  }
}
