{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-38992eae-36dc-3269-b0ea-f04730734f7c?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 27 Mar 2024 23:02:04 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4EB1EC554009\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 23:02:06 GMT",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-38992eae-36dc-3269-b0ea-f04730734f7c/test-blob-147deae4-42f2-4a66-7ce0-4d68dc0b760a",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-content-length": "2048",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Wed, 27 Mar 2024 23:02:04 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4EB1EC74A1BC\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 23:02:06 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-03-27T23:02:06.3012284Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-38992eae-36dc-3269-b0ea-f04730734f7c/test-blob-147deae4-42f2-4a66-7ce0-4d68dc0b760a?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 27 Mar 2024 23:02:04 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-2047",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": "0McO6SszZXvOs57yZc3FpGWl8KbUBt9XZEeq1n42CKw9doujo8ZtWiYSbixL9ZylBlqND58QLsnotoTkiI78l6vytO9BIQCfN5V/wZizDG\u002BqBdAkqfkNLUfBu\u002BxBidGYFtaBWUGtY\u002BVa7tcKkG0xNaoVOYO\u002B2O6x5IangGUTXq7D56vBMbIt/aLrybohA53akIZCK09O2T3oz3S6BuN/RpAoRqjCbwP46Dzg0w4zj\u002BHpzO/f0TJfdA5t2WI9c/a/bIIq\u002Bbz0GCCCSUMTbQYvtD\u002BS0Tnzn3VdydKaVZahunRFIWeLCZYl9LTPXYfvSwYHPSQiq6G8y8wNzC/qWsOK4Y/OzUyfpKupbdyFJELtbn3Lkhdxfg/TiFWafTxm[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-38992eae-36dc-3269-b0ea-f04730734f7c/test-blob-147deae4-42f2-4a66-7ce0-4d68dc0b760a?sv=2024-05-04\u0026se=2024-03-28T23%3A02%3A05Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC4EB1EC836CA1\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 23:02:06 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Wed, 27 Mar 2024 23:02:06 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-03-27T23:02:06.3012284Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-5ddefba3-b827-f69b-bc73-6d461db00a4e/test-blob-914fd700-de99-f7ca-73f5-23d31ff47beb?sv=2024-05-04\u0026se=2024-03-28T23%3A02%3A05Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized\u0026comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-copy-source": "https://amandadev2.blob.core.windows.net/test-container-38992eae-36dc-3269-b0ea-f04730734f7c/test-blob-147deae4-42f2-4a66-7ce0-4d68dc0b760a?sv=2024-05-04\u0026se=2024-03-28T23%3A02%3A05Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-2047",
        "x-ms-source-range": "bytes=0-2047",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4EB1ECB4FCCF\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 23:02:06 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-content-crc64": "5c/MNxQAhKs=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-38992eae-36dc-3269-b0ea-f04730734f7c/test-blob-147deae4-42f2-4a66-7ce0-4d68dc0b760a?sv=2024-05-04\u0026se=2024-03-28T23%3A02%3A05Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\u00220x8DC4EB1EC836CA1\u0022",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-2047/2048",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC4EB1EC836CA1\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 23:02:06 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Wed, 27 Mar 2024 23:02:06 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x[...]
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-38992eae-36dc-3269-b0ea-f04730734f7c?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 27 Mar 2024 23:02:05 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-03-27T16:02:05.0196885-07:00",
    "RandomSeed": "57820887",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
