{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-fff6d189-4cb9-17ae-aad8-09b28b08e14d?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 27 Mar 2024 23:01:36 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4EB1DB580D14\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 23:01:37 GMT",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-fff6d189-4cb9-17ae-aad8-09b28b08e14d/test-blob-34a77b1b-3a8c-516e-0cf1-2af44fbd52d3",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Wed, 27 Mar 2024 23:01:36 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4EB1DB77E249\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 23:01:37 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-03-27T23:01:37.8012745Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-fff6d189-4cb9-17ae-aad8-09b28b08e14d/test-blob-34a77b1b-3a8c-516e-0cf1-2af44fbd52d3?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 27 Mar 2024 23:01:36 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": "7MJaXwC/4ntfT4MebECBGvBlvmE0C4/ahLJcyLgJ/z2PDZt9F/uRNwq1Xj3ITeDwLgdhZPG\u002Bz\u002BEyf9pNYhrCVk9Fj16kAwP11IdXf6xSEjbRbJqxp5tM0D26SpggQ9Tw8gftg76CSyoEbJBpZ1A0322ke/aAEa\u002B0\u002BL8g6rlr1JCzZ42kZY54TyBvrToK4mjthmsqfMjeb\u002BFYOIr\u002BYmFxmJj/tgDCj3reKyzVEGN0qRZWMmNOQFjI1fesTCwEee2//hSiCyxoKvbwTFCcCF994490py/9I1hAN\u002BEIFkJN2rE\u002BFhFP0p7q7gdsXfQHLMyYLmidkNK9wdu7YtNKXxOzonKfXfFNLhHwibgnkMVkOAsUcOjasEnfgFU[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-fff6d189-4cb9-17ae-aad8-09b28b08e14d/test-blob-34a77b1b-3a8c-516e-0cf1-2af44fbd52d3?sv=2024-05-04\u0026se=2024-03-28T23%3A01%3A36Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC4EB1DB872267\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 23:01:37 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Wed, 27 Mar 2024 23:01:37 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-03-27T23:01:37.8012745Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-40d44cb5-159d-4ac2-d682-e2cbab1bcdca/test-blob-a4195106-cf3f-09be-1b5f-389abcb3b7e7?sv=2024-05-04\u0026se=2024-03-28T23%3A01%3A36Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized\u0026comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://amandadev2.blob.core.windows.net/test-container-fff6d189-4cb9-17ae-aad8-09b28b08e14d/test-blob-34a77b1b-3a8c-516e-0cf1-2af44fbd52d3?sv=2024-05-04\u0026se=2024-03-28T23%3A01%3A36Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4EB1DBBB713F\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 23:01:38 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-content-crc64": "TLhSx6zM/E4=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-fff6d189-4cb9-17ae-aad8-09b28b08e14d/test-blob-34a77b1b-3a8c-516e-0cf1-2af44fbd52d3?sv=2024-05-04\u0026se=2024-03-28T23%3A01%3A36Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\u00220x8DC4EB1DB872267\u0022",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC4EB1DB872267\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 23:01:37 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Wed, 27 Mar 2024 23:01:37 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x[...]
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-fff6d189-4cb9-17ae-aad8-09b28b08e14d?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 27 Mar 2024 23:01:37 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-03-27T16:01:36.5313175-07:00",
    "RandomSeed": "378557706",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
