{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-2306e536-5642-16f9-803a-53ac1cdb79ea?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 27 Mar 2024 23:01:19 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4EB1D166E7AD\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 23:01:20 GMT",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-2306e536-5642-16f9-803a-53ac1cdb79ea/test-blob-d4c1c245-693e-63cb-1264-e6fc69667c27",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-content-length": "512",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Wed, 27 Mar 2024 23:01:19 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4EB1D189ACD8\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 23:01:21 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-03-27T23:01:21.1406552Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-2306e536-5642-16f9-803a-53ac1cdb79ea/test-blob-d4c1c245-693e-63cb-1264-e6fc69667c27?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 27 Mar 2024 23:01:19 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-511",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": "0P38yy7LNtCa523t5V\u002BcTLAJcqU2xNTTrXOOObe7mvq3BEGOi/lKPciud53Mn7yrLx6IAG753QwpKR66PPwZ3k1zNuAdDsC2vzXch002Bw234gqYMpmLvic1ZGLbjwDMlJhPWWncjiFe0kE5HVW\u002B8iIQA1nygKu053e556le2y80EPO05q2k21ToOmBXUqHRdnFAy4um2RPsm3LxI6Z3//cRBAxiCgx0aygFCUVLXJTW53E4HQ\u002Bkjjbfx0s7s7eucDppRk6Ub2xly19joc/NoT7dGjs1P\u002BLnbXbVg0LAOLdwVpkL4hZGQngE0lKwQOxnESYNXpl8eDBYgdjYvusppZOn8ko2wr4nl9jDMG2PNiyJbnIcstoe9N5osmA\u002BboOM2i2/CE6hME5n5sfAuEfDyUqrTk95DfO4iP5szRBe6ClUN1ZA0C7e5z4jtcsTXTuWpekVkh8zEs06Bn9QNWI\u002BCP2dbIHxg/gczWYRVlgnpSrC1ignSFUJICWIBcqujrLb5azNdfG6pCHw\u002BcW4Irt1EmFUjV46FsColEtbaX0ubT60NnCsWS85BzIHNk\u002BQUP5pE/NoWgBToM7rJeGmXzqjwouHBOtLyLkxG4YsM\u002BBwGENM8laKxRM9YJWhwDROk6j3Y3PECEsTHUo6Nz56J23tew2dWWzkGfx3SaRVqQiE4og=",
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4EB1D19AC169\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 23:01:21 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-content-crc64": "yQaZG98NDRM=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-2306e536-5642-16f9-803a-53ac1cdb79ea/test-blob-d4c1c245-693e-63cb-1264-e6fc69667c27?sv=2024-05-04\u0026se=2024-03-28T23%3A01%3A19Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC4EB1D19AC169\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 23:01:21 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Wed, 27 Mar 2024 23:01:21 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-03-27T23:01:21.1406552Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-6167594c-89d9-8bbc-55ff-4fdd2e9a93d9/test-blob-cec9d439-6986-689a-6110-6faaaca17b6a?sv=2024-05-04\u0026se=2024-03-28T23%3A01%3A19Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized\u0026comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-copy-source": "https://amandadev2.blob.core.windows.net/test-container-2306e536-5642-16f9-803a-53ac1cdb79ea/test-blob-d4c1c245-693e-63cb-1264-e6fc69667c27?sv=2024-05-04\u0026se=2024-03-28T23%3A01%3A19Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-511",
        "x-ms-source-range": "bytes=0-511",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4EB1D1CD62DB\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 23:01:21 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-content-crc64": "yQaZG98NDRM=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-2306e536-5642-16f9-803a-53ac1cdb79ea/test-blob-d4c1c245-693e-63cb-1264-e6fc69667c27?sv=2024-05-04\u0026se=2024-03-28T23%3A01%3A19Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\u00220x8DC4EB1D19AC169\u0022",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-511/512",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC4EB1D19AC169\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 23:01:21 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Wed, 27 Mar 2024 23:01:21 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-03-27T23:01:21.1406552Z"
      },
      "ResponseBody": "0P38yy7LNtCa523t5V\u002BcTLAJcqU2xNTTrXOOObe7mvq3BEGOi/lKPciud53Mn7yrLx6IAG753QwpKR66PPwZ3k1zNuAdDsC2vzXch002Bw234gqYMpmLvic1ZGLbjwDMlJhPWWncjiFe0kE5HVW\u002B8iIQA1nygKu053e556le2y80EPO05q2k21ToOmBXUqHRdnFAy4um2RPsm3LxI6Z3//cRBAxiCgx0aygFCUVLXJTW53E4HQ\u002Bkjjbfx0s7s7eucDppRk6Ub2xly19joc/NoT7dGjs1P\u002BLnbXbVg0LAOLdwVpkL4hZGQngE0lKwQOxnESYNXpl8eDBYgdjYvusppZOn8ko2wr4nl9jDMG2PNiyJbnIcstoe9N5osmA\u002BboOM2i2/CE6hME5n5sfAuEfDyUqrTk95DfO4iP5szRBe6ClUN1ZA0C7e5z4jtcsTXTuWpekVkh8zEs06Bn9QNWI\u002BCP2dbIHxg/gczWYRVlgnpSrC1ignSFUJICWIBcqujrLb5azNdfG6pCHw\u002BcW4Irt1EmFUjV46FsColEtbaX0ubT60NnCsWS85BzIHNk\u002BQUP5pE/NoWgBToM7rJeGmXzqjwouHBOtLyLkxG4YsM\u002BBwGENM8laKxRM9YJWhwDROk6j3Y3PECEsTHUo6Nz56J23tew2dWWzkGfx3SaRVqQiE4og="
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-2306e536-5642-16f9-803a-53ac1cdb79ea?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 27 Mar 2024 23:01:20 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-03-27T16:01:19.8820933-07:00",
    "RandomSeed": "1414467333",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
