{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-632797fb-b746-fdc9-caae-7bff8c737898?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Thu, 28 Mar 2024 21:07:40 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4F6B1B7F3BD3\u0022",
        "Last-Modified": "Thu, 28 Mar 2024 21:07:42 GMT",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-632797fb-b746-fdc9-caae-7bff8c737898/test-blob-88fd72a1-295d-5009-3aef-7d1485ef9834",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-content-length": "512",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Thu, 28 Mar 2024 21:07:40 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4F6B1B93AAF3\u0022",
        "Last-Modified": "Thu, 28 Mar 2024 21:07:42 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-03-28T21:07:42.2525171Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-632797fb-b746-fdc9-caae-7bff8c737898/test-blob-88fd72a1-295d-5009-3aef-7d1485ef9834?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 28 Mar 2024 21:07:40 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-511",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": "GweScOrSoTl8qP0789R9g9hDsV4LXwqjTZ03f84I5mTEGXHH3iVN\u002BXSBsPkd86eAV694RzdtSLv97yJMmiFrc8KZdtpjtaSz9rjpia8Rhlr2tygfj54tV9G1yu8DAF5TFj02g3zNHaEKxVF\u002Bg74L62nHVuP5S\u002BMjbB8Jreu1r/ValnJy2gLdKJmGFMpNrtMSqt6FO6l6WspZExddw2\u002B2VRVbI\u002BxMmRFm6i1JcjcZ1r1L9wMML3RL3zunGMfrf2Uqz7\u002B08YvmxRDNH1B8MeeTQDxaEcxsqiWhD0SxpIFKe2rIH6N3ZeUyZTHzPxAjz65UFNeKkG6YviSZEuFGNSGOgqPlsxFDHNtXKKybeGsVfUCVXJCpv\u002Bv8MGF\u002B3lID6y8PZLxtPhycEPj8M2jC/UW5g5WhsNiR5MO46YOwxT2JUzx8ixOuqD8j\u002BUyYrYuCOjIbxVq8YjpWfoD5tVSZ60u6c\u002BAsRXExCttWfbeM\u002BTc3Na9QlP/jzPACJg2TtfPqig0B3TmqVfTA6rt\u002BZuSCyYRJwX\u002BlSFZL1qbvKh5knlToa/Oqixv9jN\u002B6j6pEZGYMf1yISvRzRUG2tQaTuyvVXEtmlvrx2D5oSzSf6rmsB3JA46rC21NgdCWx89YVatG05DJe3s5sGqYeIP6/1FuHCq6UU9eBE4D4BSHUQOVnU\u002BFj6wU=",
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4F6B1B9D9494\u0022",
        "Last-Modified": "Thu, 28 Mar 2024 21:07:42 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-content-crc64": "WjpQ\u002BshPpoI=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-632797fb-b746-fdc9-caae-7bff8c737898/test-blob-88fd72a1-295d-5009-3aef-7d1485ef9834?sv=2024-05-04\u0026se=2024-03-29T21%3A07%3A40Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC4F6B1B9D9494\u0022",
        "Last-Modified": "Thu, 28 Mar 2024 21:07:42 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Thu, 28 Mar 2024 21:07:42 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-03-28T21:07:42.2525171Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-72fe4167-b5da-bee8-06bc-480e4ddbe1a3/test-blob-c2944469-0655-477b-7d29-85f3bb327d05?sv=2024-05-04\u0026se=2024-03-29T21%3A07%3A40Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-content-length": "512",
        "x-ms-blob-content-type": "application/octet-stream",
        "x-ms-blob-type": "PageBlob",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4F6B1BB4C2BE\u0022",
        "Last-Modified": "Thu, 28 Mar 2024 21:07:42 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-03-28T21:07:42.4693950Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-72fe4167-b5da-bee8-06bc-480e4ddbe1a3/test-blob-c2944469-0655-477b-7d29-85f3bb327d05?sv=2024-05-04\u0026se=2024-03-29T21%3A07%3A40Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized\u0026comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-copy-source": "https://amandadev2.blob.core.windows.net/test-container-632797fb-b746-fdc9-caae-7bff8c737898/test-blob-88fd72a1-295d-5009-3aef-7d1485ef9834?sv=2024-05-04\u0026se=2024-03-29T21%3A07%3A40Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-511",
        "x-ms-source-range": "bytes=0-511",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4F6B1BC059C5\u0022",
        "Last-Modified": "Thu, 28 Mar 2024 21:07:42 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-content-crc64": "WjpQ\u002BshPpoI=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-632797fb-b746-fdc9-caae-7bff8c737898/test-blob-88fd72a1-295d-5009-3aef-7d1485ef9834?sv=2024-05-04\u0026se=2024-03-29T21%3A07%3A40Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\u00220x8DC4F6B1B9D9494\u0022",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-511/512",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC4F6B1B9D9494\u0022",
        "Last-Modified": "Thu, 28 Mar 2024 21:07:42 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Thu, 28 Mar 2024 21:07:42 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-03-28T21:07:42.2525171Z"
      },
      "ResponseBody": "GweScOrSoTl8qP0789R9g9hDsV4LXwqjTZ03f84I5mTEGXHH3iVN\u002BXSBsPkd86eAV694RzdtSLv97yJMmiFrc8KZdtpjtaSz9rjpia8Rhlr2tygfj54tV9G1yu8DAF5TFj02g3zNHaEKxVF\u002Bg74L62nHVuP5S\u002BMjbB8Jreu1r/ValnJy2gLdKJmGFMpNrtMSqt6FO6l6WspZExddw2\u002B2VRVbI\u002BxMmRFm6i1JcjcZ1r1L9wMML3RL3zunGMfrf2Uqz7\u002B08YvmxRDNH1B8MeeTQDxaEcxsqiWhD0SxpIFKe2rIH6N3ZeUyZTHzPxAjz65UFNeKkG6YviSZEuFGNSGOgqPlsxFDHNtXKKybeGsVfUCVXJCpv\u002Bv8MGF\u002B3lID6y8PZLxtPhycEPj8M2jC/UW5g5WhsNiR5MO46YOwxT2JUzx8ixOuqD8j\u002BUyYrYuCOjIbxVq8YjpWfoD5tVSZ60u6c\u002BAsRXExCttWfbeM\u002BTc3Na9QlP/jzPACJg2TtfPqig0B3TmqVfTA6rt\u002BZuSCyYRJwX\u002BlSFZL1qbvKh5knlToa/Oqixv9jN\u002B6j6pEZGYMf1yISvRzRUG2tQaTuyvVXEtmlvrx2D5oSzSf6rmsB3JA46rC21NgdCWx89YVatG05DJe3s5sGqYeIP6/1FuHCq6UU9eBE4D4BSHUQOVnU\u002BFj6wU="
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-632797fb-b746-fdc9-caae-7bff8c737898?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 28 Mar 2024 21:07:41 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-03-28T14:07:40.5558489-07:00",
    "RandomSeed": "2034113676",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
