{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-a9c45496-3d4d-97a3-6762-81d2c2e2e2af?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 27 Mar 2024 23:01:41 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4EB1DE8C9E37\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 23:01:42 GMT",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-a9c45496-3d4d-97a3-6762-81d2c2e2e2af/test-blob-3c4b1657-ed49-c8fe-e43f-159215c4317c",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Wed, 27 Mar 2024 23:01:41 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4EB1DEADDEB6\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 23:01:43 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-03-27T23:01:43.1892414Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-a9c45496-3d4d-97a3-6762-81d2c2e2e2af/test-blob-3c4b1657-ed49-c8fe-e43f-159215c4317c?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 27 Mar 2024 23:01:41 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": "8P54Hcz2cucp47V6vM68Es6a0DE4uVhL84j8dApfUtB0\u002Bf6024\u002BKTwSH3AE8p7O6tOKrNFB9LDelLSlD\u002Bf3dyZDlBsLPCDY\u002BD4AssNxWD0zUQb8otB5/9szHD65mR1UHqhJxV6Hx6qyrbCTPUHtaTh3dbrc9tBVxZQ/1CPmI2MgrJAbJ5ber41YTfUf6sKVRbMCQididyvX9//KR\u002B\u002BKzIpRcpCx1kGlmMYphKTfOd7VqpJw4\u002BE7vjVoQzOXFGuh0YFqyngt529xXKldOPKC9L4g8JlZGeipFbBbRZMSDoBei7MndG9mp8Mm/4c33oVG5UpxciPORLuUwbTH1qHYY04lAq1DX4BSvkzaNhphcTsvEFxEnJxcjEb3jrK6n[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-a9c45496-3d4d-97a3-6762-81d2c2e2e2af/test-blob-3c4b1657-ed49-c8fe-e43f-159215c4317c?sv=2024-05-04\u0026se=2024-03-28T23%3A01%3A41Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC4EB1DEBDBAE7\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 23:01:43 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Wed, 27 Mar 2024 23:01:43 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-03-27T23:01:43.1892414Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-f2023db3-78a4-6594-b8e7-c02366b1f4e5/test-blob-fea8b18c-8d74-b766-afc5-5364ade965df?sv=2024-05-04\u0026se=2024-03-28T23%3A01%3A41Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized\u0026comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-copy-source": "https://amandadev2.blob.core.windows.net/test-container-a9c45496-3d4d-97a3-6762-81d2c2e2e2af/test-blob-3c4b1657-ed49-c8fe-e43f-159215c4317c?sv=2024-05-04\u0026se=2024-03-28T23%3A01%3A41Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-511",
        "x-ms-source-range": "bytes=0-511",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4EB1DEF2CD09\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 23:01:43 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-content-crc64": "E5nPUYKoVqM=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-a9c45496-3d4d-97a3-6762-81d2c2e2e2af/test-blob-3c4b1657-ed49-c8fe-e43f-159215c4317c?sv=2024-05-04\u0026se=2024-03-28T23%3A01%3A41Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\u00220x8DC4EB1DEBDBAE7\u0022",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC4EB1DEBDBAE7\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 23:01:43 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Wed, 27 Mar 2024 23:01:43 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x[...]
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-a9c45496-3d4d-97a3-6762-81d2c2e2e2af?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 27 Mar 2024 23:01:43 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-03-27T16:01:41.9195542-07:00",
    "RandomSeed": "1160976409",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
