{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-d4083965-0f36-06d6-00f9-dff729a49d46?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Thu, 28 Mar 2024 21:07:49 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4F6B20C5FD37\u0022",
        "Last-Modified": "Thu, 28 Mar 2024 21:07:50 GMT",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-d4083965-0f36-06d6-00f9-dff729a49d46/test-blob-84642bba-75ae-fb5c-81b5-8e60d6c01715",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Thu, 28 Mar 2024 21:07:49 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4F6B20D9EA74\u0022",
        "Last-Modified": "Thu, 28 Mar 2024 21:07:51 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-03-28T21:07:51.1015028Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-d4083965-0f36-06d6-00f9-dff729a49d46/test-blob-84642bba-75ae-fb5c-81b5-8e60d6c01715?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 28 Mar 2024 21:07:49 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": "3VB\u002BOGQtA9Wdx2zcydW1OQmEpdStB3Hgm5dO9V2dSaiMhXT1kOk/NEHUTfOfQT2/1rBSkE6R7dXenZ3M3g14AH7DT0Ngv6kfRHGT2Ll\u002BQVlZjx\u002BsSrha\u002BpeeF/JMc1UzXE102/L5XhcHM0zd/hQbX1xEc0/uy7XFaVWswqe30tEbYHxsCWVmXzAHpRdsfPyDgreWCP8GRJCXr3KcTZxvUGB7wZ2Xr1X23RMe5iaeWexYKD/vIMrRFRvs1FrzyhGUl1W28bte69Nhnyvr511p\u002BVWFRCVdgC\u002BWqauCq9r7AxMCik/R52gw\u002BT1rjoGf5S29gtsFbYXsNxcmIEcP3ED5ZpsY6V0OmBHtVUrn8fGt9sR\u002BxCj/9ZaNFVM[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-d4083965-0f36-06d6-00f9-dff729a49d46/test-blob-84642bba-75ae-fb5c-81b5-8e60d6c01715?sv=2024-05-04\u0026se=2024-03-29T21%3A07%3A49Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC4F6B20E385F8\u0022",
        "Last-Modified": "Thu, 28 Mar 2024 21:07:51 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Thu, 28 Mar 2024 21:07:51 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-03-28T21:07:51.1015028Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-3e227d5a-ea45-0676-d707-f70295a87f45/test-blob-8eb854eb-75d5-bbad-2908-348df7b8775f?sv=2024-05-04\u0026se=2024-03-29T21%3A07%3A49Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-content-type": "application/octet-stream",
        "x-ms-blob-type": "PageBlob",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4F6B20FC1388\u0022",
        "Last-Modified": "Thu, 28 Mar 2024 21:07:51 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-03-28T21:07:51.3253768Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-3e227d5a-ea45-0676-d707-f70295a87f45/test-blob-8eb854eb-75d5-bbad-2908-348df7b8775f?sv=2024-05-04\u0026se=2024-03-29T21%3A07%3A49Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized\u0026comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-copy-source": "https://amandadev2.blob.core.windows.net/test-container-d4083965-0f36-06d6-00f9-dff729a49d46/test-blob-84642bba-75ae-fb5c-81b5-8e60d6c01715?sv=2024-05-04\u0026se=2024-03-29T21%3A07%3A49Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-511",
        "x-ms-source-range": "bytes=0-511",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4F6B2106C053\u0022",
        "Last-Modified": "Thu, 28 Mar 2024 21:07:51 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-content-crc64": "RXbVLR27UOM=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-d4083965-0f36-06d6-00f9-dff729a49d46/test-blob-84642bba-75ae-fb5c-81b5-8e60d6c01715?sv=2024-05-04\u0026se=2024-03-29T21%3A07%3A49Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\u00220x8DC4F6B20E385F8\u0022",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC4F6B20E385F8\u0022",
        "Last-Modified": "Thu, 28 Mar 2024 21:07:51 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Thu, 28 Mar 2024 21:07:51 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x[...]
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-d4083965-0f36-06d6-00f9-dff729a49d46?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 28 Mar 2024 21:07:50 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-03-28T14:07:49.4021498-07:00",
    "RandomSeed": "1372708673",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
