{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-f4218ac9-a921-dd31-7b6e-ef2b6c37666d?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 10 Apr 2024 04:38:27 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC591811025543\u0022",
        "Last-Modified": "Wed, 10 Apr 2024 04:38:27 GMT",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-f4218ac9-a921-dd31-7b6e-ef2b6c37666d/test-blob-16b3292b-8451-f52b-e68a-fd0b93c2433f",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-length": "2048",
        "x-ms-blob-content-type": "application/octet-stream",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Wed, 10 Apr 2024 04:38:27 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC59181115EBEF\u0022",
        "Last-Modified": "Wed, 10 Apr 2024 04:38:28 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-04-10T04:38:28.0504303Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-f4218ac9-a921-dd31-7b6e-ef2b6c37666d/test-blob-16b3292b-8451-f52b-e68a-fd0b93c2433f?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 10 Apr 2024 04:38:27 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-2047",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": "SPTCLMblUVV5ynJga\u002BJhgO/zRqvin9y3vM65xw5jouQZ9K8\u002BZ28ejUxKgfJWA47ciKMQSs6n/6kXCm/3K4pHFSiNR3YzIxmA1blflx3qYblA3T5qUlcWcvQGJlz/JmHBAmzKybwYqWWKkHUVSGiLLai2t05L3cPRd9SBLPy8gK9XnZSxIJf9JzPZ4MHiASmMevmzSW4SdiWo\u002BVLnln1ozRDFvarT2gwRuZAbcfwB73ar9bECCDZBRSZvCCZFFZG2cBKxHEN\u002BuaDtopDe9wQopwrbPKHLZsXZhHiEZNHmy6P\u002BZQDpT9IyLDsRFWWmYk0hRmAcadnv6gpN15fL\u002BlXOB9ft35EEPlg3qQ9lulBfMyEqYh1xyWHJD3r2nHc6ZzHmQ[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-f4218ac9-a921-dd31-7b6e-ef2b6c37666d/test-blob-16b3292b-8451-f52b-e68a-fd0b93c2433f?sv=2024-05-04\u0026se=2024-04-11T04%3A38%3A27Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC5918111FAE7B\u0022",
        "Last-Modified": "Wed, 10 Apr 2024 04:38:28 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Wed, 10 Apr 2024 04:38:28 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-04-10T04:38:28.0504303Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-aea7ae90-ba0b-7485-5817-6cb908f761fb/test-blob-4a72e157-934e-0823-82e4-53ab273abcbd?sv=2024-05-04\u0026se=2024-04-11T04%3A38%3A27Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized\u0026comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-copy-source": "https://amandadev2.blob.core.windows.net/test-container-f4218ac9-a921-dd31-7b6e-ef2b6c37666d/test-blob-16b3292b-8451-f52b-e68a-fd0b93c2433f?sv=2024-05-04\u0026se=2024-04-11T04%3A38%3A27Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-2047",
        "x-ms-source-range": "bytes=0-2047",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC591811472DDD\u0022",
        "Last-Modified": "Wed, 10 Apr 2024 04:38:28 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-content-crc64": "4ZxRtalym34=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-f4218ac9-a921-dd31-7b6e-ef2b6c37666d/test-blob-16b3292b-8451-f52b-e68a-fd0b93c2433f?sv=2024-05-04\u0026se=2024-04-11T04%3A38%3A27Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\u00220x8DC5918111FAE7B\u0022",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-2047/2048",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC5918111FAE7B\u0022",
        "Last-Modified": "Wed, 10 Apr 2024 04:38:28 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Wed, 10 Apr 2024 04:38:28 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-m[...]
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-f4218ac9-a921-dd31-7b6e-ef2b6c37666d?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 10 Apr 2024 04:38:28 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-04-09T21:38:27.8425414-07:00",
    "RandomSeed": "1850509701",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
