{
  "Entries": [
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-c2a5d946-727a-ad6b-ebc2-6f5a937fa0bc?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 01:24:46 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC86909ED70307\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:24:47 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-c2a5d946-727a-ad6b-ebc2-6f5a937fa0bc/test-blob-3505fcc0-8c4b-7086-2edb-aa9385d37a52",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-length": "2048",
        "x-ms-blob-content-type": "application/octet-stream",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Fri, 07 Jun 2024 01:24:46 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC86909EF1880E\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:24:47 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-06-07T01:24:47.9819547Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-c2a5d946-727a-ad6b-ebc2-6f5a937fa0bc/test-blob-3505fcc0-8c4b-7086-2edb-aa9385d37a52?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Fri, 07 Jun 2024 01:24:46 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-2047",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "5TMTnE1cePdEsw9CknDPkG7WpM58HyQ41jlqDFdYbamu81PfK4kWsdPQGbLnSLSqeMIMqrLyksUP2sYU8Wyf7EVllJ8d72Xkv/L6qwVxUY6EwJOUTMP3u2CN0FDDAr9nMC1tgbQVjIhdJ+u/9+fAnYk4jzHYCp+Cbtg/kB8VIbwzk3rYBNDZbzMLNyTYN8R5zDPHi3OOjiaN6hLb1ftoRwYujGNs55i4Xh/+zdN7qjcUxsPsTZVJpQVUShq9/pk3ovAdqatgDOWaDi1TkMBTEj/bxw83fPpx5eZeF51++2CGxirjXQGLs7neUj5o9RVEATja4TaJ/yX1rMPEAvVHGxPMzcmVcLQ+UBNWWSq7CO/RGRVkpBkp/MYF7bE9xrDDljYrmyhLrpGDm5EiM6b7OqTT8+ng43b[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-c2a5d946-727a-ad6b-ebc2-6f5a937fa0bc/test-blob-3505fcc0-8c4b-7086-2edb-aa9385d37a52?sv=Sanitized&se=2024-06-08T01%3A24%3A46Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC86909EFE0A1D\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:24:48 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Fri, 07 Jun 2024 01:24:47 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-06-07T01:24:47.9819547Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-7e90ee46-c62b-b74a-663e-75ca686c8e53/test-blob-060a9153-5db4-6d4c-4aa4-7d797100034d?sv=Sanitized&se=2024-06-08T01%3A24%3A46Z&sr=b&sp=racwdxyltmei&sig=Sanitized&comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-copy-source": "https://seancanary.blob.core.windows.net/test-container-c2a5d946-727a-ad6b-ebc2-6f5a937fa0bc/test-blob-3505fcc0-8c4b-7086-2edb-aa9385d37a52?sv=Sanitized&se=2024-06-08T01%3A24%3A46Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-2047",
        "x-ms-source-range": "bytes=0-2047",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC86909F3198D7\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:24:48 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-content-crc64": "jCoqKJVUQeI=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-c2a5d946-727a-ad6b-ebc2-6f5a937fa0bc/test-blob-3505fcc0-8c4b-7086-2edb-aa9385d37a52?sv=Sanitized&se=2024-06-08T01%3A24%3A46Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DC86909EFE0A1D\"",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-2047/2048",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC86909EFE0A1D\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:24:48 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Fri, 07 Jun 2024 01:24:47 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-f[...]
[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-c2a5d946-727a-ad6b-ebc2-6f5a937fa0bc?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 01:24:47 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-06-06T20:24:46.5605755-05:00",
    "RandomSeed": "1395874146",
    "Storage_TestConfigDefault": "ProductionTenant\nseancanary\nU2FuaXRpemVk\nhttps://seancanary.blob.core.windows.net\nhttps://seancanary.file.core.windows.net\nhttps://seancanary.queue.core.windows.net\nhttps://seancanary.table.core.windows.net\n\n\n\n\nhttps://seancanary-secondary.blob.core.windows.net\nhttps://seancanary-secondary.file.core.windows.net\nhttps://seancanary-secondary.queue.core.windows.net\nhttps://seancanary-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seancanary.blob.core.windows.net/;QueueEndpoint=https://seancanary.queue.core.windows.net/;FileEndpoint=https://seancanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seancanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seancanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seancanary-secondary.file.core.windows.net/;AccountName=seancanary;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
