{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-fc91ffb4-ad3d-ff05-0803-ebad82240645?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 27 Mar 2024 23:02:10 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4EB1F00C9F0D\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 23:02:12 GMT",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-5d075eb9-a454-30ae-3918-176e2a7ba32c/test-blob-6c8fba3d-7a05-d172-9ed9-44955ce09301",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Wed, 27 Mar 2024 23:02:11 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4EB1F02C8CA3\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 23:02:12 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-03-27T23:02:12.5397155Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-5d075eb9-a454-30ae-3918-176e2a7ba32c/test-blob-6c8fba3d-7a05-d172-9ed9-44955ce09301?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 27 Mar 2024 23:02:11 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": "nzjYduFnPoaWtzIzBpV\u002B32sXpU/e8PKkdk7yTa7xtIH0tSW\u002BoxE0BLj08xzJjrgQBuZs96gHYa5GM/\u002BTdPHXpQKxPlBvwDtZ4qCX6f3W2\u002BeV4kbHhL3Y7VR2eHASoI/GHU0ZGFBooEarExQIcHixcFgY/ZKrDyBF2VH8\u002BEjLR0IQ0MyvvcOXLUIAHHGp0H3bxQcX\u002BaL9Gw0s0z/\u002Ba6f938vR95\u002BrArOVgNBQq/OvnAjUIDNAtE2fE7W/g\u002BmEmcGaAjyl19jdL8NUgnnSrXAafTY2KUpzvSt\u002BMePq7H/JEecOtam2CcUw9/Bw7DHUzWZEpQWzTm93JkQRJ6X18kNEi3CRw/fHY3NwBTJaA9H5qWR9p[...]
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-fc91ffb4-ad3d-ff05-0803-ebad82240645/test-blob-74e491c3-3665-2f41-308e-de29daf5fd2b?sv=2024-05-04\u0026se=2024-03-28T23%3A02%3A11Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC4EB1F059FEB3\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 23:02:12 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Wed, 27 Mar 2024 23:02:12 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-03-27T23:02:12.7406021Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-5d075eb9-a454-30ae-3918-176e2a7ba32c/test-blob-6c8fba3d-7a05-d172-9ed9-44955ce09301?sv=2024-05-04\u0026se=2024-03-28T23%3A02%3A11Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized\u0026comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://amandadev2.blob.core.windows.net/test-container-fc91ffb4-ad3d-ff05-0803-ebad82240645/test-blob-74e491c3-3665-2f41-308e-de29daf5fd2b?sv=2024-05-04\u0026se=2024-03-28T23%3A02%3A11Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4EB1F0941925\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 23:02:13 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-content-crc64": "6OTsL9XDpZs=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-fc91ffb4-ad3d-ff05-0803-ebad82240645/test-blob-74e491c3-3665-2f41-308e-de29daf5fd2b?sv=2024-05-04\u0026se=2024-03-28T23%3A02%3A11Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\u00220x8DC4EB1F059FEB3\u0022",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC4EB1F059FEB3\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 23:02:12 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Wed, 27 Mar 2024 23:02:12 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x[...]
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-fc91ffb4-ad3d-ff05-0803-ebad82240645?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 27 Mar 2024 23:02:12 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-03-27T16:02:11.2635545-07:00",
    "RandomSeed": "99060783",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
