{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-11b9fbc7-2955-85c0-596a-58ee8761dab1?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 30 Sep 2025 20:50:57 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE00630E51F30A\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:50:57 GMT",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-11b9fbc7-2955-85c0-596a-58ee8761dab1/test-blob-7162e61a-951e-178e-e88c-7e39f9a9f146",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Tue, 30 Sep 2025 20:50:57 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE00630E7C0A91\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:50:57 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-11b9fbc7-2955-85c0-596a-58ee8761dab1/test-blob-7162e61a-951e-178e-e88c-7e39f9a9f146?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 30 Sep 2025 20:50:57 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": "I5z0txJLBVFAcOqfRQyK+IT8Ea9JkhghoFDJMwtlc9OYhFo0BnLM8aHGNXDsHrRJyWaidgJHL5GD0hfBgdJF2/0WB8GxVvISMB8Ogl2nNIGcgGmlwv3QUFTJsDNbCm/OgFlz1hbyl3N0kEbiOawz256VJQFooBj/Rrds6KW/tiWwPwIDNF5rqej2MTK27ReoldSVxeVtZt9Bc49fha/NtNkgMvqqMKc/KnsYcW/lSFigxFLQKfA/Q9kiwcDOCyM5KXxZlrsc/WQtVZtpVPRwWyo3v8Fc/Ivo4O8hiG7mcR5Y30jzjLKdg8fto9RV1u7ksWWWlkxi3SzxcLXM+3X2RuN9EXWrfM93mjz6blm2kwoAPNYJUNrS9QIbAhv90YdR91zw2MR5ODSWHvwQaG7TOt2qy7+f7fY[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-11b9fbc7-2955-85c0-596a-58ee8761dab1/test-blob-7162e61a-951e-178e-e88c-7e39f9a9f146?sv=Sanitized&se=2025-10-01T20%3A50%3A57Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DE00630E854EF0\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:50:57 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Tue, 30 Sep 2025 20:50:57 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-991b5e58-51b1-1f8c-8fbb-d7b64ffed692/test-blob-0a6c5585-8595-afe7-0693-81cc37f5a089?sv=Sanitized&se=2025-10-01T20%3A50%3A57Z&sr=b&sp=racwdxyltmei&sig=Sanitized&comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-11b9fbc7-2955-85c0-596a-58ee8761dab1/test-blob-7162e61a-951e-178e-e88c-7e39f9a9f146?sv=sanitized-value&se=2025-10-01T20%3A50%3A57Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-511",
        "x-ms-source-range": "bytes=0-511",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE00630EB85A92\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:50:58 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-content-crc64": "8DD309Rxqw0=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-11b9fbc7-2955-85c0-596a-58ee8761dab1/test-blob-7162e61a-951e-178e-e88c-7e39f9a9f146?sv=Sanitized&se=2025-10-01T20%3A50%3A57Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DE00630E854EF0\"",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DE00630E854EF0\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:50:57 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Tue, 30 Sep 2025 20:50:57 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-[...]
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-11b9fbc7-2955-85c0-596a-58ee8761dab1?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 30 Sep 2025 20:50:58 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2025-09-30T13:50:57.9758189-07:00",
    "RandomSeed": "273128177",
    "Storage_TestConfigDefault": "ProductionTenant\namandapreprod\nU2FuaXRpemVk\nhttps://amandapreprod.blob.core.windows.net\nhttps://amandapreprod.file.core.windows.net\nhttps://amandapreprod.queue.core.windows.net\nhttps://amandapreprod.table.core.windows.net\n\n\n\n\nhttps://amandapreprod-secondary.blob.core.windows.net\nhttps://amandapreprod-secondary.file.core.windows.net\nhttps://amandapreprod-secondary.queue.core.windows.net\nhttps://amandapreprod-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandapreprod.blob.core.windows.net/;QueueEndpoint=https://amandapreprod.queue.core.windows.net/;FileEndpoint=https://amandapreprod.file.core.windows.net/;BlobSecondaryEndpoint=https://amandapreprod-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandapreprod-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandapreprod-secondary.file.core.windows.net/;AccountName=amandapreprod;AccountKey=U2FuaXRpemVk\nencryptionScope\n\n"
  }
}
