{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-7bdef37b-b5cc-bb00-4e79-c25e3d5eb9a5?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 01 May 2024 20:37:20 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC6A1E800EF6C6\"",
        "Last-Modified": "Wed, 01 May 2024 20:37:20 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-7bdef37b-b5cc-bb00-4e79-c25e3d5eb9a5/test-blob-81f0db32-a48c-3cfe-ee08-27a5098025b3",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-content-type": "application/octet-stream",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Wed, 01 May 2024 20:37:20 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC6A1E802C7D58\"",
        "Last-Modified": "Wed, 01 May 2024 20:37:21 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-05-01T20:37:21.1730264Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-7bdef37b-b5cc-bb00-4e79-c25e3d5eb9a5/test-blob-81f0db32-a48c-3cfe-ee08-27a5098025b3?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 01 May 2024 20:37:20 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "vXSniz/Lj3CPvHUYk+ehfWzLm8r0wi2uwYUC5hu274gwo46HPvfAA3DDKVm4gY6gXnRVS86davpG+Mq6yahV2c3t6PBZGT90CphZMZnT9kD2YoinYKO6kjiUQEYtBjnHbVCLy5ieRkQ14EA2QzlgcwKJw2cgrngpM1W3xdn4RwReksNJRyunVxtDcn9jg07/M81Do0LRp7/XYpdC5oFrPJk817F1FivX4WtM3Tz4xq8HuJELtKPBjeoEceWTZXGa1zXmJ6uciRyibMLWhcmD35zoOy3vX4f1ekrGcaVFQ3z6sQUGEZ4Dai91aUjh6gcggZJJqilDq3eu8Kxh1hd3XShF3NPEfM395NH+evY/FJBCpfAS+5hTtwaNVyHyopQY/Qsfmw0zXATETMZYRTGAb9scHjAmZGG[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-7bdef37b-b5cc-bb00-4e79-c25e3d5eb9a5/test-blob-81f0db32-a48c-3cfe-ee08-27a5098025b3?sv=2024-08-04&se=2024-05-02T20%3A37%3A21Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC6A1E803AD31B\"",
        "Last-Modified": "Wed, 01 May 2024 20:37:21 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Wed, 01 May 2024 20:37:21 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-05-01T20:37:21.1730264Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-db8189c3-5257-628b-2408-30bd9d6383ff/test-blob-bbc7a6e5-d58a-3b31-fa5c-387479982eb9?sv=2024-08-04&se=2024-05-02T20%3A37%3A21Z&sr=b&sp=racwdxyltmei&sig=Sanitized&comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-copy-source": "https://seanmcccanada.blob.core.windows.net/test-container-7bdef37b-b5cc-bb00-4e79-c25e3d5eb9a5/test-blob-81f0db32-a48c-3cfe-ee08-27a5098025b3?sv=2024-08-04&se=2024-05-02T20%3A37%3A21Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC6A1E806D4D63\"",
        "Last-Modified": "Wed, 01 May 2024 20:37:21 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-content-crc64": "Dfl1uRX6Bcg=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-7bdef37b-b5cc-bb00-4e79-c25e3d5eb9a5/test-blob-81f0db32-a48c-3cfe-ee08-27a5098025b3?sv=2024-08-04&se=2024-05-02T20%3A37%3A21Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DC6A1E803AD31B\"",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC6A1E803AD31B\"",
        "Last-Modified": "Wed, 01 May 2024 20:37:21 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Wed, 01 May 2024 20:37:21 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-f[...]
[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-7bdef37b-b5cc-bb00-4e79-c25e3d5eb9a5?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 01 May 2024 20:37:21 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-05-01T13:37:21.0702493-07:00",
    "RandomSeed": "9770693",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanada\nU2FuaXRpemVk\nhttps://seanmcccanada.blob.core.windows.net\nhttps://seanmcccanada.file.core.windows.net\nhttps://seanmcccanada.queue.core.windows.net\nhttps://seanmcccanada.table.core.windows.net\n\n\n\n\nhttps://seanmcccanada-secondary.blob.core.windows.net\nhttps://seanmcccanada-secondary.file.core.windows.net\nhttps://seanmcccanada-secondary.queue.core.windows.net\nhttps://seanmcccanada-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanada.blob.core.windows.net/;QueueEndpoint=https://seanmcccanada.queue.core.windows.net/;FileEndpoint=https://seanmcccanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanada-secondary.file.core.windows.net/;AccountName=seanmcccanada;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
