{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-47a2575a-7462-f33b-7962-c10325632cd7?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Thu, 28 Mar 2024 21:07:41 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4F6B1C1936BD\u0022",
        "Last-Modified": "Thu, 28 Mar 2024 21:07:43 GMT",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-47a2575a-7462-f33b-7962-c10325632cd7/test-blob-e629f0bb-6572-55f5-082e-3465dab054eb",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Thu, 28 Mar 2024 21:07:41 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4F6B1C2D158F\u0022",
        "Last-Modified": "Thu, 28 Mar 2024 21:07:43 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-03-28T21:07:43.2579471Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-47a2575a-7462-f33b-7962-c10325632cd7/test-blob-e629f0bb-6572-55f5-082e-3465dab054eb?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 28 Mar 2024 21:07:41 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": "7Z6wFUqdGvZKC2FO52xWAEt3OFJ49FpV3exlFGZT6XXxfxtoSPS1nl2/eXn5UGN6pYQmt27bKPlEWzdeNwaQ9iHsXGhQ7rhWwpn0uHvgXI2I62/iLTEGFVYiI\u002B29VmdXL4JXDPT6KrfM0PXU529\u002BZP6q1UyXrsnv5UYSLsrKmWwynYn4iE\u002BYjsG3Fl08MS7mo7/vEoEawIG5Zyeu6PvtATaIokrmhtuuEkeL35dss7MXK4oK24frF9wHPiAo6aXFyhQms4/kAB3kQAA5j\u002BDpTbRzl71w4iavnYpt30e6hiiixRWDRf8kMiptJpqGsYf7HvFstVLnVOftdxUEdyHVKbrXl8nLZQe1TmSSA7yMKOwDccFWTtDWunEtls7pH7sJl/zgrxq9MLj[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-47a2575a-7462-f33b-7962-c10325632cd7/test-blob-e629f0bb-6572-55f5-082e-3465dab054eb?sv=2024-05-04\u0026se=2024-03-29T21%3A07%3A41Z\u0026sr=b\u0026sp=Sanitized\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC4F6B1C37E96E\u0022",
        "Last-Modified": "Thu, 28 Mar 2024 21:07:43 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Thu, 28 Mar 2024 21:07:43 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-03-28T21:07:43.2579471Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-2ec8ef45-b9ed-6d49-1533-b8999c3ccae4/test-blob-2e40c4b4-9183-a718-3f08-3af2c9293b67?sv=2024-05-04\u0026se=2024-03-29T21%3A07%3A41Z\u0026sr=b\u0026sp=Sanitized\u0026sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-content-type": "application/octet-stream",
        "x-ms-blob-type": "PageBlob",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4F6B1C4E2D5D\u0022",
        "Last-Modified": "Thu, 28 Mar 2024 21:07:43 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-03-28T21:07:43.4748253Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-2ec8ef45-b9ed-6d49-1533-b8999c3ccae4/test-blob-2e40c4b4-9183-a718-3f08-3af2c9293b67?sv=2024-05-04\u0026se=2024-03-29T21%3A07%3A41Z\u0026sr=b\u0026sp=Sanitized\u0026sig=Sanitized\u0026comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-copy-source": "Sanitized",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4F6B1C58650C\u0022",
        "Last-Modified": "Thu, 28 Mar 2024 21:07:43 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-content-crc64": "o4yxMFFlqCk=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-47a2575a-7462-f33b-7962-c10325632cd7/test-blob-e629f0bb-6572-55f5-082e-3465dab054eb?sv=2024-05-04\u0026se=2024-03-29T21%3A07%3A41Z\u0026sr=b\u0026sp=Sanitized\u0026sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\u00220x8DC4F6B1C37E96E\u0022",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC4F6B1C37E96E\u0022",
        "Last-Modified": "Thu, 28 Mar 2024 21:07:43 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Thu, 28 Mar 2024 21:07:43 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x[...]
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-47a2575a-7462-f33b-7962-c10325632cd7?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 28 Mar 2024 21:07:42 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-03-28T14:07:41.5670904-07:00",
    "RandomSeed": "549587656",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
