{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-355d5f3e-e908-0c8a-3e8a-ecfaf29d4bcb?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 10 Apr 2024 04:38:25 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC59180FC9B46D\u0022",
        "Last-Modified": "Wed, 10 Apr 2024 04:38:25 GMT",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-355d5f3e-e908-0c8a-3e8a-ecfaf29d4bcb/test-blob-f43268ff-8e92-fe05-809e-7a6480b091ce",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-length": "512",
        "x-ms-blob-content-type": "application/octet-stream",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Wed, 10 Apr 2024 04:38:25 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC59180FDEF92F\u0022",
        "Last-Modified": "Wed, 10 Apr 2024 04:38:26 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-04-10T04:38:26.0125999Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-355d5f3e-e908-0c8a-3e8a-ecfaf29d4bcb/test-blob-f43268ff-8e92-fe05-809e-7a6480b091ce?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 10 Apr 2024 04:38:25 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-511",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": "Y8fx3VgKTdpGk2CL/mVYhA0AFaSJduRkcbvNNN244y1GIF0ozz95XrXVTNev3JEXPONTT83biuzijWycPRn8jrAyRd0IL7XOhrfutCoNtJQqtff6ZZNfapZwRkHS3SGc2L4mfZezDg0thMgW7NXC1dnXcochAigd0tpGmOlz\u002B6mVUttr5jf9dqfqzODKSX7ArXBn\u002B2qae9aVCaq8bHYjuYkfgJr6Vu\u002Bi2fzgNjVIUolchup4DAA/\u002B9YF1tyMQQkwxhJXq8jjxlaBxCFuuUSgTbcgYOaLq62I4IXD9IASFZjyr3Aj8KfAeL\u002BU90fe0EGSZIglbOEipRtkzspDINHVb66IewrUfVwPYOcm97Rmqg9DMY/47am30AlUviLcfVjuvoeYVVU2vecrFQv5/K5n/iS7/\u002B5C3YEF0asBgL86M\u002BOOODgszVS5DXOozNeevdNb7L/9IH1qrOAGk4SqNT0o8eIoasN1OzHPAfJ6mRGqZhPXpZP/PBJlJIxYJTrQD9c2gNv1dlMQ5bGOLR6L7xLPXCxx05CqKLTQwkU3HRX2//IaRBk1tPC/xr/hcQ/z2jV5iMkNXjxHjFcnJLMN2Micly0scKv5mqc7sQzQyLel3ecQvZRL6aG207fBDo89su72RdnhxmqKgO4i0a0wd8OggkfM/Rs0UK6MdpzzN4sX/v8=",
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC59180FE909D6\u0022",
        "Last-Modified": "Wed, 10 Apr 2024 04:38:26 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-content-crc64": "z7albLGIGb0=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-355d5f3e-e908-0c8a-3e8a-ecfaf29d4bcb/test-blob-f43268ff-8e92-fe05-809e-7a6480b091ce?sv=2024-05-04\u0026se=2024-04-11T04%3A38%3A25Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC59180FE909D6\u0022",
        "Last-Modified": "Wed, 10 Apr 2024 04:38:26 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Wed, 10 Apr 2024 04:38:26 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-04-10T04:38:26.0125999Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-35f209fb-4616-7320-d3b3-291babd2a580/test-blob-97dfc534-4915-54b3-9879-712082fae912?sv=2024-05-04\u0026se=2024-04-11T04%3A38%3A25Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized\u0026comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-copy-source": "https://amandadev2.blob.core.windows.net/test-container-355d5f3e-e908-0c8a-3e8a-ecfaf29d4bcb/test-blob-f43268ff-8e92-fe05-809e-7a6480b091ce?sv=2024-05-04\u0026se=2024-04-11T04%3A38%3A25Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-511",
        "x-ms-source-range": "bytes=0-511",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC5918100F9EF2\u0022",
        "Last-Modified": "Wed, 10 Apr 2024 04:38:26 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-content-crc64": "z7albLGIGb0=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-355d5f3e-e908-0c8a-3e8a-ecfaf29d4bcb/test-blob-f43268ff-8e92-fe05-809e-7a6480b091ce?sv=2024-05-04\u0026se=2024-04-11T04%3A38%3A25Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\u00220x8DC59180FE909D6\u0022",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-511/512",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC59180FE909D6\u0022",
        "Last-Modified": "Wed, 10 Apr 2024 04:38:26 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Wed, 10 Apr 2024 04:38:26 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-04-10T04:38:26.0125999Z"
      },
      "ResponseBody": "Y8fx3VgKTdpGk2CL/mVYhA0AFaSJduRkcbvNNN244y1GIF0ozz95XrXVTNev3JEXPONTT83biuzijWycPRn8jrAyRd0IL7XOhrfutCoNtJQqtff6ZZNfapZwRkHS3SGc2L4mfZezDg0thMgW7NXC1dnXcochAigd0tpGmOlz\u002B6mVUttr5jf9dqfqzODKSX7ArXBn\u002B2qae9aVCaq8bHYjuYkfgJr6Vu\u002Bi2fzgNjVIUolchup4DAA/\u002B9YF1tyMQQkwxhJXq8jjxlaBxCFuuUSgTbcgYOaLq62I4IXD9IASFZjyr3Aj8KfAeL\u002BU90fe0EGSZIglbOEipRtkzspDINHVb66IewrUfVwPYOcm97Rmqg9DMY/47am30AlUviLcfVjuvoeYVVU2vecrFQv5/K5n/iS7/\u002B5C3YEF0asBgL86M\u002BOOODgszVS5DXOozNeevdNb7L/9IH1qrOAGk4SqNT0o8eIoasN1OzHPAfJ6mRGqZhPXpZP/PBJlJIxYJTrQD9c2gNv1dlMQ5bGOLR6L7xLPXCxx05CqKLTQwkU3HRX2//IaRBk1tPC/xr/hcQ/z2jV5iMkNXjxHjFcnJLMN2Micly0scKv5mqc7sQzQyLel3ecQvZRL6aG207fBDo89su72RdnhxmqKgO4i0a0wd8OggkfM/Rs0UK6MdpzzN4sX/v8="
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-355d5f3e-e908-0c8a-3e8a-ecfaf29d4bcb?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 10 Apr 2024 04:38:26 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-04-09T21:38:25.8168571-07:00",
    "RandomSeed": "1370858187",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
