{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-ee7cb76a-2653-79d1-2567-a5a135b44f42?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 00:50:38 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D1214092DA3\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:50:38 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-ee7cb76a-2653-79d1-2567-a5a135b44f42/test-blob-78bfa813-77ba-d415-c325-6dde554640e0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Fri, 07 Mar 2025 00:50:38 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D12141C2ACE\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:50:38 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-ee7cb76a-2653-79d1-2567-a5a135b44f42/test-blob-78bfa813-77ba-d415-c325-6dde554640e0?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Fri, 07 Mar 2025 00:50:38 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": "8kS0DH9scVnUVyiWKHkpKBrLnNgEWqRILEVvxyo4aMC55oVBTt9fwi7tmpdCg4m3YWgqkAh7s5ifa+A6/Koum+5o3EH059k7bNqpFr8NBqi7uGbBDte3PjPsoeL+JMWEvv6o2qdIwnmP7iQu0Z3ZkmU4fkRDbY0XsJ0OB0X2PEcVJVfAZCsBcvXsMh+yiW2VEw99xqWAQFFxkCoJOro0mLLcGatGGC05NgtOVzptZCYwePQ2eXahlOQFTtQB9zg7uJpt1nDBT/vhQ4+aMukXAysD2cHG/R48OoTHQMlZNz/TE5+gAI61bin5VTbmB2L77kqo/h53dbp7MZvr+g4xhwtQxx5KdwOdTWqXzKjoVTIiy1J+sTkhW57kJM/yyXQax80qlkBDsHdHCrCz36gSk9toyC68stb[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-ee7cb76a-2653-79d1-2567-a5a135b44f42/test-blob-78bfa813-77ba-d415-c325-6dde554640e0?sv=Sanitized&se=2025-03-08T00%3A50%3A38Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD5D121424D3A3\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:50:38 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Fri, 07 Mar 2025 00:50:38 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-e0b63fef-62ce-dc21-75f8-eb30d50f7749/test-blob-d9dd478f-6352-24a8-ea66-9566ced5251b?sv=Sanitized&se=2025-03-08T00%3A50%3A38Z&sr=b&sp=racwdxyltmei&sig=Sanitized&comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-ee7cb76a-2653-79d1-2567-a5a135b44f42/test-blob-78bfa813-77ba-d415-c325-6dde554640e0?sv=sanitized-value&se=2025-03-08T00%3A50%3A38Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D1214457D63\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:50:38 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-content-crc64": "gH9q8KAcOL8=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-ee7cb76a-2653-79d1-2567-a5a135b44f42/test-blob-78bfa813-77ba-d415-c325-6dde554640e0?sv=Sanitized&se=2025-03-08T00%3A50%3A38Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DD5D121424D3A3\"",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD5D121424D3A3\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:50:38 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Fri, 07 Mar 2025 00:50:38 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-[...]
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-ee7cb76a-2653-79d1-2567-a5a135b44f42?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 00:50:39 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2025-03-06T16:50:38.5725324-08:00",
    "RandomSeed": "490336776",
    "Storage_TestConfigDefault": "ProductionTenant\namandapreprod\nU2FuaXRpemVk\nhttps://amandapreprod.blob.core.windows.net\nhttps://amandapreprod.file.core.windows.net\nhttps://amandapreprod.queue.core.windows.net\nhttps://amandapreprod.table.core.windows.net\n\n\n\n\nhttps://amandapreprod-secondary.blob.core.windows.net\nhttps://amandapreprod-secondary.file.core.windows.net\nhttps://amandapreprod-secondary.queue.core.windows.net\nhttps://amandapreprod-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandapreprod.blob.core.windows.net/;QueueEndpoint=https://amandapreprod.queue.core.windows.net/;FileEndpoint=https://amandapreprod.file.core.windows.net/;BlobSecondaryEndpoint=https://amandapreprod-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandapreprod-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandapreprod-secondary.file.core.windows.net/;AccountName=amandapreprod;AccountKey=U2FuaXRpemVk\nencryptionScope\n\n"
  }
}
