{
  "Entries": [
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-53e8bb5c-0f36-a5e1-a1db-fc764e169738?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 30 Jan 2025 01:24:27 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD40CCD66F2D71\"",
        "Last-Modified": "Thu, 30 Jan 2025 01:24:27 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-53e8bb5c-0f36-a5e1-a1db-fc764e169738/test-blob-46885e35-5cc8-e96d-978b-a7cbe09b6d51",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-content-type": "application/octet-stream",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Thu, 30 Jan 2025 01:24:27 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD40CCD68171B2\"",
        "Last-Modified": "Thu, 30 Jan 2025 01:24:27 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05",
        "x-ms-version-id": "2025-01-30T01:24:27.2791986Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-53e8bb5c-0f36-a5e1-a1db-fc764e169738/test-blob-46885e35-5cc8-e96d-978b-a7cbe09b6d51?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 30 Jan 2025 01:24:27 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": "9OCxgGzdiJ2gJGZ8NG2fHEhATO5Q+v5d3w6EysTxniCfN76OP4k1PfKScDwofXOvySWa5nBXp/rhVKFeWb3Yr4VF3fyuENy+Cw77vonBNGGa1QGfVrivR4/ErOvn1uQ1ucG24p93AbhI3NpiW+lwIB9AxIO8OVjNlZVs6WTw1jQpxgTHClHCItRIVnrdTeymU4zLpxJheX9p6U0JCxdUWAWmOZXlqRbNfaGvc+Pd70ipxpbXJC4iyEyEXiAEuBe98/51NxRWwap2/SpwsQWci/kEYEWAfDPWg3FIYEr1ycSK8oDlaLgzUgTrYScEshZH6NMn/1jSPHbKnrOjDWBfgTRl5b+FtyJB0A1AlRsM0tFbAXh3zclsuLYJGsoEkESki+DynsxWwTCw5i9KkadbvsziSAzo6LN[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-53e8bb5c-0f36-a5e1-a1db-fc764e169738/test-blob-46885e35-5cc8-e96d-978b-a7cbe09b6d51?sv=Sanitized&se=2025-01-31T01%3A24%3A27Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD40CCD6884E7D\"",
        "Last-Modified": "Thu, 30 Jan 2025 01:24:27 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Thu, 30 Jan 2025 01:24:27 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05",
        "x-ms-version-id": "2025-01-30T01:24:27.2791986Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-3a427a6b-1f88-aa5e-724c-ade3b6d4f215/test-blob-d2c943d9-dcff-96cd-3cf7-097d2d2499c4?sv=Sanitized&se=2025-01-31T01%3A24%3A27Z&sr=b&sp=racwdxyltmei&sig=Sanitized&comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-copy-source": "https://jalauzonnettest.blob.core.windows.net/test-container-53e8bb5c-0f36-a5e1-a1db-fc764e169738/test-blob-46885e35-5cc8-e96d-978b-a7cbe09b6d51?sv=sanitized-value&se=2025-01-31T01%3A24%3A27Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD40CCD69EE062\"",
        "Last-Modified": "Thu, 30 Jan 2025 01:24:27 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-content-crc64": "i2CwBFeEw2A=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-53e8bb5c-0f36-a5e1-a1db-fc764e169738/test-blob-46885e35-5cc8-e96d-978b-a7cbe09b6d51?sv=Sanitized&se=2025-01-31T01%3A24%3A27Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DD40CCD6884E7D\"",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD40CCD6884E7D\"",
        "Last-Modified": "Thu, 30 Jan 2025 01:24:27 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Thu, 30 Jan 2025 01:24:27 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-f[...]
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-53e8bb5c-0f36-a5e1-a1db-fc764e169738?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 30 Jan 2025 01:24:27 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2025-01-29T17:24:27.3423587-08:00",
    "RandomSeed": "1808392128",
    "Storage_TestConfigDefault": "ProductionTenant\njalauzonnettest\nU2FuaXRpemVk\nhttps://jalauzonnettest.blob.core.windows.net\nhttps://jalauzonnettest.file.core.windows.net\nhttps://jalauzonnettest.queue.core.windows.net\nhttps://jalauzonnettest.table.core.windows.net\n\n\n\n\nhttps://jalauzonnettest-secondary.blob.core.windows.net\nhttps://jalauzonnettest-secondary.file.core.windows.net\nhttps://jalauzonnettest-secondary.queue.core.windows.net\nhttps://jalauzonnettest-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://jalauzonnettest.blob.core.windows.net/;QueueEndpoint=https://jalauzonnettest.queue.core.windows.net/;FileEndpoint=https://jalauzonnettest.file.core.windows.net/;BlobSecondaryEndpoint=https://jalauzonnettest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jalauzonnettest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jalauzonnettest-secondary.file.core.windows.net/;AccountName=jalauzonnettest;AccountKey=U2FuaXRpemVk\ntestscope1\n\n"
  }
}
