{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-b7d427bc-28d2-b599-87a5-4652d9c6f135?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 01 May 2024 20:37:37 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC6A1E8A0449BE\"",
        "Last-Modified": "Wed, 01 May 2024 20:37:37 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-b7d427bc-28d2-b599-87a5-4652d9c6f135/test-blob-ee9381b9-d96e-fce2-a3e7-80ae5373970a",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-content-type": "application/octet-stream",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Wed, 01 May 2024 20:37:37 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC6A1E8A227357\"",
        "Last-Modified": "Wed, 01 May 2024 20:37:37 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-05-01T20:37:37.8844503Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-b7d427bc-28d2-b599-87a5-4652d9c6f135/test-blob-ee9381b9-d96e-fce2-a3e7-80ae5373970a?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 01 May 2024 20:37:37 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "ACwgdvONWgu0s4Zk+1zyMK8IixYQpf8VjJe84d1FYiBFjQLWjormEx5nAdQYoQTLl9GD2LFSvFotCulb0Xgub1FlH21ZG6IlInj4qKQq/euT8UoMwYpu8tGoqYOgikKlOZGDs4GXcXwvXrU5WRO1Ag3+yN8uIa7G9iycsHEehZc2U28Tp0pp+3/N3GPUNZi98qd2osJidhfjvbxV+8AKEdgeAwakolrDlMxgYUVK8cCT3r7Jp+PU091XL+mNFAC+wsuKtjKSGVBMsw31AhXSmMz7wRwCQWn1SS8pTXNxNX/LoZ55wDuOAcVtfPTV39HHhJYdkVLkvIFilWwDaczd232OKWF3WNiQbcBXlMR0H2pdYcjcU6Ms5+QcFyrOi5f5kKF2R7VvUCy+jCSSjSe87nYCpQcDAIf[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-b7d427bc-28d2-b599-87a5-4652d9c6f135/test-blob-ee9381b9-d96e-fce2-a3e7-80ae5373970a?sv=2024-08-04&se=2024-05-02T20%3A37%3A37Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC6A1E8A311737\"",
        "Last-Modified": "Wed, 01 May 2024 20:37:37 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Wed, 01 May 2024 20:37:37 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-05-01T20:37:37.8844503Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-75f211a9-2c4e-4de2-b27e-b498884f1038/test-blob-e4e2d408-7eae-43dc-e941-5eb91b265500?sv=2024-08-04&se=2024-05-02T20%3A37%3A37Z&sr=b&sp=racwdxyltmei&sig=Sanitized&comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-copy-source": "https://seanmcccanada.blob.core.windows.net/test-container-b7d427bc-28d2-b599-87a5-4652d9c6f135/test-blob-ee9381b9-d96e-fce2-a3e7-80ae5373970a?sv=2024-08-04&se=2024-05-02T20%3A37%3A37Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC6A1E8A63DF86\"",
        "Last-Modified": "Wed, 01 May 2024 20:37:38 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-content-crc64": "k+6/ewR5ELM=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-b7d427bc-28d2-b599-87a5-4652d9c6f135?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 01 May 2024 20:37:38 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-05-01T13:37:37.5938543-07:00",
    "RandomSeed": "1265705097",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanada\nU2FuaXRpemVk\nhttps://seanmcccanada.blob.core.windows.net\nhttps://seanmcccanada.file.core.windows.net\nhttps://seanmcccanada.queue.core.windows.net\nhttps://seanmcccanada.table.core.windows.net\n\n\n\n\nhttps://seanmcccanada-secondary.blob.core.windows.net\nhttps://seanmcccanada-secondary.file.core.windows.net\nhttps://seanmcccanada-secondary.queue.core.windows.net\nhttps://seanmcccanada-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanada.blob.core.windows.net/;QueueEndpoint=https://seanmcccanada.queue.core.windows.net/;FileEndpoint=https://seanmcccanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanada-secondary.file.core.windows.net/;AccountName=seanmcccanada;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
