{
  "Entries": [
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-553284ea-6693-8c35-4e96-4b11fa3276c1?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 01:24:36 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC869099041A07\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:24:38 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-553284ea-6693-8c35-4e96-4b11fa3276c1/test-blob-5ad28567-601b-f040-3166-e61ae1967db6",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-content-type": "application/octet-stream",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Fri, 07 Jun 2024 01:24:36 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC869099255849\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:24:38 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-06-07T01:24:38.2541897Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-553284ea-6693-8c35-4e96-4b11fa3276c1/test-blob-5ad28567-601b-f040-3166-e61ae1967db6?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Fri, 07 Jun 2024 01:24:36 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "PayOWusGtt6Kl5WKQEEjjhn16MkwSUF+LHhXmM2jc6ci1x1QWstf5/2TIiMClErLdWyed/psNPRqDy1yrh4R5iTtZ2gk0zRNlQDLnSYde5gtjCNgBfuttqIo5Uqe7Dnfgjz/FSzip6I4UeH6oJfNTZSVRSH7sOEoQLHG++3qr6jG7BvqHmVrS+WAKLMZshYLW5i1CKcY5NFa1tV7G6u1TaE4M7N84y8vKvk8eoctDo2bu6BUNKcBrghJj0eP7y85y9oS4X9ijnhpht2u22lJLchI4GALYBj6N4SrMlPonzvJAq6sGy0NOCwn667JU9Oe/2F/Rw7PLmvCF6n7tlskgeai5Nm7nBKaOqc043VpMeSxDTPxaFcs+tND6gSDEoLQA2nIJm754mJP5A1mmkv1WOXFSqkoMhi[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-553284ea-6693-8c35-4e96-4b11fa3276c1/test-blob-5ad28567-601b-f040-3166-e61ae1967db6?sv=Sanitized&se=2024-06-08T01%3A24%3A36Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC869099311718\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:24:38 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Fri, 07 Jun 2024 01:24:38 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-06-07T01:24:38.2541897Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-77afab5a-2eeb-96db-d0f1-a76c966208b5/test-blob-4802f911-2fe8-71cb-ade9-97e82c2485c9?sv=Sanitized&se=2024-06-08T01%3A24%3A36Z&sr=b&sp=racwdxyltmei&sig=Sanitized&comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-copy-source": "https://seancanary.blob.core.windows.net/test-container-553284ea-6693-8c35-4e96-4b11fa3276c1/test-blob-5ad28567-601b-f040-3166-e61ae1967db6?sv=Sanitized&se=2024-06-08T01%3A24%3A36Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC86909966EF96\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:24:38 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-content-crc64": "myy3dco4WcY=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-553284ea-6693-8c35-4e96-4b11fa3276c1?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 01:24:37 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-06-06T20:24:36.6672016-05:00",
    "RandomSeed": "673084177",
    "Storage_TestConfigDefault": "ProductionTenant\nseancanary\nU2FuaXRpemVk\nhttps://seancanary.blob.core.windows.net\nhttps://seancanary.file.core.windows.net\nhttps://seancanary.queue.core.windows.net\nhttps://seancanary.table.core.windows.net\n\n\n\n\nhttps://seancanary-secondary.blob.core.windows.net\nhttps://seancanary-secondary.file.core.windows.net\nhttps://seancanary-secondary.queue.core.windows.net\nhttps://seancanary-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seancanary.blob.core.windows.net/;QueueEndpoint=https://seancanary.queue.core.windows.net/;FileEndpoint=https://seancanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seancanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seancanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seancanary-secondary.file.core.windows.net/;AccountName=seancanary;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
