{
  "Entries": [
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-059fcfbb-7503-d7e6-b122-bd4be91589fa?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 01:24:59 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8690A6E72945\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:25:01 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-059fcfbb-7503-d7e6-b122-bd4be91589fa/test-blob-e7479abe-aa1d-2118-b4ab-613857c33397",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-content-type": "application/octet-stream",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Fri, 07 Jun 2024 01:24:59 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8690A7026D53\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:25:01 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-06-07T01:25:01.5144538Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-059fcfbb-7503-d7e6-b122-bd4be91589fa/test-blob-e7479abe-aa1d-2118-b4ab-613857c33397?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Fri, 07 Jun 2024 01:25:00 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "dRNpuokSRn+Z7j6xVcaTYY4OHKf9lZhbVFQTt/ld7exdDusup/QAfHnnoi01IAkN5eaAF085xt97DWY1/46GPABRU0faZLqaDqAuFfJqJTNKBtES3dWdJEgLs5mNynzqYWYs5MzBMoAs5QmuC7DtEOcy6vi8c14rsy//z7EhDEMjQ7SLPUFnidNR5vfM7hmXHqKxW9+ELe0HATCcwWPPCtjFi8f7YtOmymEka41nXsUWaLEOb7FjnxXHgzsQysdwgtseB2NRnLvPC5B+X8JgoKNrhlmywJsnYeuyNN6Xlf+atOmxSVZhxcz1P2Qg5UBTZuOYpERtvsE/9qZ3nmfdN3WQ46rYrldMCsGNvIA3BnurXs37//G7LPUncVKw6iZkFwjvkAGVe7iMTJqD4AFBCPArzECZ4ji[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-059fcfbb-7503-d7e6-b122-bd4be91589fa/test-blob-e7479abe-aa1d-2118-b4ab-613857c33397?sv=Sanitized&se=2024-06-08T01%3A24%3A59Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC8690A71000B2\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:25:01 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Fri, 07 Jun 2024 01:25:01 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-06-07T01:25:01.5144538Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-b88eb2f5-8ac7-713e-db05-109dc45d2a71/test-blob-977305a5-30c9-64bf-afd8-7831fb0546a4?sv=Sanitized&se=2024-06-08T01%3A24%3A59Z&sr=b&sp=racwdxyltmei&sig=Sanitized&comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-copy-source": "https://seancanary.blob.core.windows.net/test-container-059fcfbb-7503-d7e6-b122-bd4be91589fa/test-blob-e7479abe-aa1d-2118-b4ab-613857c33397?sv=Sanitized&se=2024-06-08T01%3A24%3A59Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8690A7375B7E\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:25:01 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-content-crc64": "hAp/975EZyM=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-059fcfbb-7503-d7e6-b122-bd4be91589fa?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 01:25:00 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-06-06T20:24:59.9312536-05:00",
    "RandomSeed": "334251141",
    "Storage_TestConfigDefault": "ProductionTenant\nseancanary\nU2FuaXRpemVk\nhttps://seancanary.blob.core.windows.net\nhttps://seancanary.file.core.windows.net\nhttps://seancanary.queue.core.windows.net\nhttps://seancanary.table.core.windows.net\n\n\n\n\nhttps://seancanary-secondary.blob.core.windows.net\nhttps://seancanary-secondary.file.core.windows.net\nhttps://seancanary-secondary.queue.core.windows.net\nhttps://seancanary-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seancanary.blob.core.windows.net/;QueueEndpoint=https://seancanary.queue.core.windows.net/;FileEndpoint=https://seancanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seancanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seancanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seancanary-secondary.file.core.windows.net/;AccountName=seancanary;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
