{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-08486aa1-abdb-f08b-a103-f7dbba1b44dc?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 27 Mar 2024 23:01:43 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4EB1DFC62960\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 23:01:45 GMT",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-08486aa1-abdb-f08b-a103-f7dbba1b44dc/test-blob-132a2f5d-4956-0696-8ab5-fc3934fecb28",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Wed, 27 Mar 2024 23:01:43 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4EB1DFE7DF1D\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 23:01:45 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-03-27T23:01:45.2460829Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-08486aa1-abdb-f08b-a103-f7dbba1b44dc/test-blob-132a2f5d-4956-0696-8ab5-fc3934fecb28?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 27 Mar 2024 23:01:43 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": "YLss\u002Bx3U5pouheIRuDKnvK2ehyqcidQOtUbOL85VMNTmDYWcEetC5M/xlrvLyitFFK1UGa9iLtfmHUXWBbbM2VUOKqqsCqvBW6Nbq/MZQ\u002BsaiRsgABYkg9\u002ButfOla98ZJL1mvZ\u002BAmAkCk74MB4Lkzdpau3uarNg/6abL/lS3G\u002B/DQYc1soVLmfARHW1YF3xcyugZS69jfnfkJ9P4tZq0S3fOScb7rhpUDiGLiI5r5tEqbjRsntBAYMIPUYuxU\u002BRVXNL2is61YRvOxDyN1/XpeEACzUZmSK2mjegD61yOo7s9NSy8dVwCdA0YntmUsojMJtlLr4We7xQlT/zmsnW/PyGAUKLJLAPj/1g4TarTEttgNsWDQvM2n0UYlyZgHMKYW[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-08486aa1-abdb-f08b-a103-f7dbba1b44dc/test-blob-132a2f5d-4956-0696-8ab5-fc3934fecb28?sv=2024-05-04\u0026se=2024-03-28T23%3A01%3A43Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC4EB1DFF7944E\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 23:01:45 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Wed, 27 Mar 2024 23:01:45 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-03-27T23:01:45.2460829Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-7c00949d-216e-a518-4555-c28464c6b9f2/test-blob-4abbdf81-169e-3145-8d5e-e6b52e8d2f03?sv=2024-05-04\u0026se=2024-03-28T23%3A01%3A43Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized\u0026comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-copy-source": "https://amandadev2.blob.core.windows.net/test-container-08486aa1-abdb-f08b-a103-f7dbba1b44dc/test-blob-132a2f5d-4956-0696-8ab5-fc3934fecb28?sv=2024-05-04\u0026se=2024-03-28T23%3A01%3A43Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4EB1E02B2003\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 23:01:45 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-content-crc64": "eTsFqdlAB\u002B0=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-08486aa1-abdb-f08b-a103-f7dbba1b44dc?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 27 Mar 2024 23:01:44 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-03-27T16:01:43.7717539-07:00",
    "RandomSeed": "706405936",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
