{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-2629d65c-c9f1-cd75-e965-3bff7aa1d610?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 27 Mar 2024 23:01:56 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4EB1E734F693\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 23:01:57 GMT",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-e1d5e37e-9617-2603-65bb-3dd437913ca9/test-blob-74fd2106-902b-c33e-2992-51d77299dd05",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Wed, 27 Mar 2024 23:01:56 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4EB1E75B0FD4\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 23:01:57 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-03-27T23:01:57.7460440Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-e1d5e37e-9617-2603-65bb-3dd437913ca9/test-blob-74fd2106-902b-c33e-2992-51d77299dd05?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 27 Mar 2024 23:01:56 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": "vGavWezdbYZwhbT6Ioy/qkLeKnVNaYM5bo7fazBhOHujrMzbxYVbjcWIwCOi5rTKrAMQ59Pha1Pidepe/gFVD004VnW/5OW9g5yvxKlgl4jZFL8sUFCowUB5\u002BFCb/I/DM7DWaY8/C8ceU2Q3Mqeqgt5hhOlCKb/8kJU0RuyUIYYM7JH4ii35mgn3DfzscI\u002BZz3VyOXimgArx2dj6CsTbijLdK0UVsfiwZ\u002BrfShvCEB8Fm3d2IucOZWuHBrBU/49EHIPKDkVKgx18wdKNxzbuL8m59G9NZGdKz8XajqtHW2hbmi6X\u002BAHauxda\u002BWAVgJ40mNfnmwog97cbfz\u002BAb/RxNGZpMiwIVzbH3zlX8moHNU8npfXUYMBdO6J2e3jCWUsi6[...]
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-2629d65c-c9f1-cd75-e965-3bff7aa1d610/test-blob-92310aa7-624e-8da5-6b98-62095295a54a?sv=2024-05-04\u0026se=2024-03-28T23%3A01%3A56Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC4EB1E793F1F4\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 23:01:58 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Wed, 27 Mar 2024 23:01:58 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-03-27T23:01:58.0039001Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-e1d5e37e-9617-2603-65bb-3dd437913ca9/test-blob-74fd2106-902b-c33e-2992-51d77299dd05?sv=2024-05-04\u0026se=2024-03-28T23%3A01%3A56Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 409,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "BlobAlreadyExists",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003EBlobAlreadyExists\u003C/Code\u003E\u003CMessage\u003EThe specified blob already exists.\n",
        "RequestId:f45fa8d5-901e-004f-559a-8004b5000000\n",
        "Time:2024-03-27T23:01:58.3589745Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-2629d65c-c9f1-cd75-e965-3bff7aa1d610?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 27 Mar 2024 23:01:58 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-03-27T16:01:56.5341900-07:00",
    "RandomSeed": "794303236",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
