{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-3cb1a720-8b4e-310a-b399-18cbcec29148?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Thu, 28 Mar 2024 21:07:53 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4F6B2382E227\u0022",
        "Last-Modified": "Thu, 28 Mar 2024 21:07:55 GMT",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-74fbc7ae-a7ce-d692-a3aa-bfa0a6ba5b1a/test-blob-b79a2ca8-4d18-167c-f67c-491b7ab4c117",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Thu, 28 Mar 2024 21:07:53 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4F6B23971E17\u0022",
        "Last-Modified": "Thu, 28 Mar 2024 21:07:55 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-03-28T21:07:55.6968983Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-74fbc7ae-a7ce-d692-a3aa-bfa0a6ba5b1a/test-blob-b79a2ca8-4d18-167c-f67c-491b7ab4c117?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Thu, 28 Mar 2024 21:07:53 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": "lscu/yqyCq3Kg9YOcM6flRUmKfopuZrU2Tq92bhYe11/pwIvBS20fJvia70KofcRDIShK51YiNwsWSXw9DD1cQd4jsjLb5DocaxfRk7dyThDrMwzt1DAJx8mAqsHw4dq7Pm1khIuRpz0uLnw\u002BUGOT4/trUhkwbq3t2eopW3k4K4l9FlUKDclFGYvP/6W0C3el7IcGRY\u002BBis//dqrhaEvENcLygXnOSdXyJniNIK7Iec5yg27x8eY5u4uFSpdeo7FAC8niwYo9l6LxFF8XNGog9zycbuTdEgQcuMXuCT8\u002BU4KHTRTlJXhEdOvLwJ1G4ochpFOagjSMYzmFhgiET45jsoDcj\u002BdVe9GEWDo5ERFm1dZ\u002BjKSro9FN\u002BuobH58vv\u0[...]
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-3cb1a720-8b4e-310a-b399-18cbcec29148/test-blob-657e93b4-6419-faf2-9dea-1b30e8463abb?sv=2024-05-04\u0026se=2024-03-29T21%3A07%3A54Z\u0026sr=b\u0026sp=Sanitized\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC4F6B23B4B3E5\u0022",
        "Last-Modified": "Thu, 28 Mar 2024 21:07:55 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Thu, 28 Mar 2024 21:07:55 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-03-28T21:07:55.8268237Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-74fbc7ae-a7ce-d692-a3aa-bfa0a6ba5b1a/test-blob-b79a2ca8-4d18-167c-f67c-491b7ab4c117?sv=2024-05-04\u0026se=2024-03-29T21%3A07%3A54Z\u0026sr=b\u0026sp=Sanitized\u0026sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-content-type": "application/octet-stream",
        "x-ms-blob-type": "PageBlob",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 409,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "BlobAlreadyExists",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003EBlobAlreadyExists\u003C/Code\u003E\u003CMessage\u003EThe specified blob already exists.\n",
        "RequestId:5f16995a-101e-0051-1454-81e86d000000\n",
        "Time:2024-03-28T21:07:56.8269136Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-3cb1a720-8b4e-310a-b399-18cbcec29148?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 28 Mar 2024 21:07:55 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-03-28T14:07:54.0021698-07:00",
    "RandomSeed": "1682359862",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
