{
  "Entries": [
    {
      "RequestUri": "https://fakedefsaccountname.blob.core.windows.net/filesystem177334530479008120?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE807141D470F1\"",
        "Last-Modified": "Thu, 12 Mar 2026 19:55:05 GMT",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakedefsaccountname.dfs.core.windows.net/filesystem177334530479008120/file177334530578507058?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE807141E48704\"",
        "Last-Modified": "Thu, 12 Mar 2026 19:55:05 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakedefsaccountname.dfs.core.windows.net/filesystem177334530479008120/file177334530578507058?position=0&action=append",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": "Hello World",
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakedefsaccountname.dfs.core.windows.net/filesystem177334530479008120/file177334530578507058?position=11&action=flush",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DE8071420606A0\"",
        "Last-Modified": "Thu, 12 Mar 2026 19:55:06 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakedefsaccountname.dfs.core.windows.net/filesystem177334530479008120/directory177334530609305164?resource=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE80714211BD80\"",
        "Last-Modified": "Thu, 12 Mar 2026 19:55:06 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakedefsaccountname.dfs.core.windows.net/filesystem177334530479008120/directory177334530609305164/subdirectory1177334530609307482?resource=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE8071421CE6DC\"",
        "Last-Modified": "Thu, 12 Mar 2026 19:55:06 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakedefsaccountname.dfs.core.windows.net/filesystem177334530479008120/directory177334530609305164/subdirectory1177334530609307482/fileName1177334530609306181?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE807142341F30\"",
        "Last-Modified": "Thu, 12 Mar 2026 19:55:06 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakedefsaccountname.dfs.core.windows.net/filesystem177334530479008120/directory177334530609305164?mode=modify&action=setAccessControlRecursive",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-acl": "user::rwx,user:ec3595d6-2c17-4696-8caa-7e139758d24a:rw-,group::rw-,mask::rwx,other::---",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "x-ms-namespace-enabled": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": "eyJkaXJlY3Rvcmllc1N1Y2Nlc3NmdWwiOjMsImZhaWxlZEVudHJpZXMiOltdLCJmYWlsdXJlQ291bnQiOjAsImZpbGVzU3VjY2Vzc2Z1bCI6NH0K"
    },
    {
      "RequestUri": "https://fakedefsaccountname.blob.core.windows.net/filesystem177334530479008120?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "directory": "directory177334530609305164",
    "file": "file177334530578507058",
    "fileName1": "fileName1177334530609306181",
    "fileName2": "fileName2177334530609309564",
    "fileName3": "fileName3177334530609308800",
    "fileName4": "fileName4177334530609308674",
    "filesystem": "filesystem177334530479008120",
    "subdirectory1": "subdirectory1177334530609307482",
    "subdirectory2": "subdirectory2177334530609300952"
  }
}
