{
  "Entries": [
    {
      "RequestUri": "https://fakedefsaccountname.blob.core.windows.net/filesystem176789187503305885?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE4ED802A68A60\"",
        "Last-Modified": "Thu, 08 Jan 2026 17:04:39 GMT",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakedefsaccountname.dfs.core.windows.net/filesystem176789187503305885/file176789187993802972?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE4ED802C4A49C\"",
        "Last-Modified": "Thu, 08 Jan 2026 17:04:39 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakedefsaccountname.dfs.core.windows.net/filesystem176789187503305885/file176789187993802972?position=0&action=append",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": "Hello World",
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakedefsaccountname.dfs.core.windows.net/filesystem176789187503305885/file176789187993802972?position=11&action=flush",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DE4ED802F16215\"",
        "Last-Modified": "Thu, 08 Jan 2026 17:04:40 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakedefsaccountname.dfs.core.windows.net/filesystem176789187503305885/directory176789188040809332?resource=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE4ED80300F3FC\"",
        "Last-Modified": "Thu, 08 Jan 2026 17:04:40 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakedefsaccountname.dfs.core.windows.net/filesystem176789187503305885/directory176789188040809332/subdirectory1176789188040807532?resource=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE4ED803104124\"",
        "Last-Modified": "Thu, 08 Jan 2026 17:04:40 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakedefsaccountname.dfs.core.windows.net/filesystem176789187503305885/directory176789188040809332/subdirectory1176789188040807532/fileName1176789188040807611?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE4ED8032D39E4\"",
        "Last-Modified": "Thu, 08 Jan 2026 17:04:40 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakedefsaccountname.dfs.core.windows.net/filesystem176789187503305885/directory176789188040809332?maxRecords=2&mode=set&action=setAccessControlRecursive",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-acl": "user::rwx,user:ec3595d6-2c17-4696-8caa-7e139758d24a:rw-,group::rw-,mask::rwx,other::---",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "x-ms-continuation": "VBbh0MGu4ZHusHIYrwEYqQEvZGxhenNka3Rlc3RzdG9ya28BMDFEQzdFODJGNEY1RjlFQy9maWxlc3lzdGVtMTc2Nzg5MTg3NTAzMzA1ODg1ATAxREM4MEMwRTAyRTMxODUvZGlyZWN0b3J5MTc2Nzg5MTg4MDQwODA5MzMyL3N1YmRpcmVjdG9yeTExNzY3ODkxODgwNDA4MDc1MzIvZmlsZU5hbWUxMTc2Nzg5MTg4MDQwODA3NjExFgAAAA==",
        "x-ms-namespace-enabled": "true",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": "eyJkaXJlY3Rvcmllc1N1Y2Nlc3NmdWwiOjIsImZhaWxlZEVudHJpZXMiOltdLCJmYWlsdXJlQ291bnQiOjAsImZpbGVzU3VjY2Vzc2Z1bCI6MH0K"
    },
    {
      "RequestUri": "https://fakedefsaccountname.blob.core.windows.net/filesystem176789187503305885?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "directory": "directory176789188040809332",
    "file": "file176789187993802972",
    "fileName1": "fileName1176789188040807611",
    "fileName2": "fileName2176789188040801944",
    "fileName3": "fileName3176789188040803118",
    "fileName4": "fileName4176789188040801390",
    "filesystem": "filesystem176789187503305885",
    "subdirectory1": "subdirectory1176789188040807532",
    "subdirectory2": "subdirectory2176789188040804423"
  }
}
