{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/filesystem171619201774408234?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 20 May 2024 08:00:17 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC78A2E2AA068A\"",
        "Last-Modified": "Mon, 20 May 2024 08:00:16 GMT",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.dfs.core.windows.net/filesystem171619201774408234/file171619201786701706?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 20 May 2024 08:00:17 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC78A2E2BEE3B7\"",
        "Last-Modified": "Mon, 20 May 2024 08:00:16 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.dfs.core.windows.net/filesystem171619201774408234/file171619201786701706?position=0&action=append",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-date": "Mon, 20 May 2024 08:00:17 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": "Hello World",
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.dfs.core.windows.net/filesystem171619201774408234/file171619201786701706?position=11&action=flush",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 20 May 2024 08:00:18 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DC78A2E2E2B818\"",
        "Last-Modified": "Mon, 20 May 2024 08:00:16 GMT",
        "x-ms-request-server-encrypted": "false",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.dfs.core.windows.net/filesystem171619201774408234/directory171619201822108418?resource=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 20 May 2024 08:00:18 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC78A2E2F37D28\"",
        "Last-Modified": "Mon, 20 May 2024 08:00:16 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.dfs.core.windows.net/filesystem171619201774408234/directory171619201822108418/subdirectory1171619201822102548?resource=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 20 May 2024 08:00:18 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC78A2E3042B52\"",
        "Last-Modified": "Mon, 20 May 2024 08:00:16 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://Sanitized.dfs.core.windows.net/filesystem171619201774408234/directory171619201822108418/subdirectory1171619201822102548/fileName1171619201822104541?resource=file",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 20 May 2024 08:00:18 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC78A2E3261F29\"",
        "Last-Modified": "Mon, 20 May 2024 08:00:17 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://Sanitized.dfs.core.windows.net/filesystem171619201774408234/directory171619201822108418?maxRecords=2&mode=set&action=setAccessControlRecursive",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-acl": "user::rwx,user:ec3595d6-2c17-4696-8caa-7e139758d24a:rw-,group::rw-,mask::rwx,other::---",
        "x-ms-date": "Mon, 20 May 2024 08:00:19 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "x-ms-continuation": "VBb5rfrmztCrrRsYqQEYowEvZW1tYWhuc2Z1bGwBMDFEQUFBNjZGRjhBODYwOS9maWxlc3lzdGVtMTcxNjE5MjAxNzc0NDA4MjM0ATAxREFBQThCQzAzM0IwNUQvZGlyZWN0b3J5MTcxNjE5MjAxODIyMTA4NDE4L3N1YmRpcmVjdG9yeTExNzE2MTkyMDE4MjIxMDI1NDgvZmlsZU5hbWUxMTcxNjE5MjAxODIyMTA0NTQxFgAAAA==",
        "x-ms-namespace-enabled": "true",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": "eyJkaXJlY3Rvcmllc1N1Y2Nlc3NmdWwiOjIsImZhaWxlZEVudHJpZXMiOltdLCJmYWlsdXJlQ291bnQiOjAsImZpbGVzU3VjY2Vzc2Z1bCI6MH0K"
    },
    {
      "RequestUri": "https://Sanitized.dfs.core.windows.net/filesystem171619201774408234/directory171619201822108418?continuation=VBb5rfrmztCrrRsYqQEYowEvZW1tYWhuc2Z1bGwBMDFEQUFBNjZGRjhBODYwOS9maWxlc3lzdGVtMTcxNjE5MjAxNzc0NDA4MjM0ATAxREFBQThCQzAzM0IwNUQvZGlyZWN0b3J5MTcxNjE5MjAxODIyMTA4NDE4L3N1YmRpcmVjdG9yeTExNzE2MTkyMDE4MjIxMDI1NDgvZmlsZU5hbWUxMTcxNjE5MjAxODIyMTA0NTQxFgAAAA%3D%3D&mode=set&action=setAccessControlRecursive",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-acl": "user::rwx,user:ec3595d6-2c17-4696-8caa-7e139758d24a:rw-,group::rw-,mask::rwx,other::---",
        "x-ms-date": "Mon, 20 May 2024 08:00:19 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "x-ms-namespace-enabled": "true",
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": "eyJkaXJlY3Rvcmllc1N1Y2Nlc3NmdWwiOjEsImZhaWxlZEVudHJpZXMiOltdLCJmYWlsdXJlQ291bnQiOjAsImZpbGVzU3VjY2Vzc2Z1bCI6NH0K"
    },
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/filesystem171619201774408234?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 20 May 2024 08:00:19 GMT",
        "x-ms-version": "2023-11-03"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2023-11-03"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "directory": "directory171619201822108418",
    "file": "file171619201786701706",
    "fileName1": "fileName1171619201822104541",
    "fileName2": "fileName2171619201822107582",
    "fileName3": "fileName3171619201822107270",
    "fileName4": "fileName4171619201822106737",
    "filesystem": "filesystem171619201774408234",
    "subdirectory1": "subdirectory1171619201822102548",
    "subdirectory2": "subdirectory2171619201822103095"
  }
}
