{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.StorageMover/storageMovers/testsm-mccsrc?api-version=2025-12-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\"4e0095ab-0000-0100-0000-69f9b8bc0000\"",
        "mise-correlation-id": "3bf5d0e8-2f16-41e6-a6bd-440b2ba2a18b",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-global-writes": "2999",
        "x-ms-ratelimit-remaining-subscription-writes": "199"
      },
      "ResponseBody": {
        "id": "Sanitized",
        "name": "Sanitized",
        "type": "microsoft.storagemover/storagemovers",
        "location": "eastus",
        "systemData": {
          "createdBy": "Sanitized",
          "createdByType": "Application",
          "createdAt": "2026-05-05T09:30:35.8398826Z",
          "lastModifiedBy": "Sanitized",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2026-05-05T09:30:35.8398826Z"
        },
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.StorageMover/storageMovers/testsm-mccsrc/endpoints/mcc-src-1?api-version=2025-12-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "endpointType": "AzureMultiCloudConnector",
          "multiCloudConnectorId": "/subscriptions/b6b34ad8-ca89-4f85-beb7-c2ec13702dac/resourceGroups/E2E-Management-RGsyn/providers/Microsoft.HybridConnectivity/publicCloudConnectors/e2e-sm-rp-connector",
          "awsS3BucketId": "/subscriptions/b6b34ad8-ca89-4f85-beb7-c2ec13702dac/resourceGroups/aws_640698235822/providers/Microsoft.AWSConnector/s3Buckets/e2e-sm-rp-bucket",
          "endpointKind": "Source",
          "description": "Multi-cloud connector source endpoint"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\"08009414-0000-0100-0000-69f9b8bd0000\"",
        "mise-correlation-id": "3a609320-a70c-4e92-9716-19e632b66a60",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-global-writes": "2999",
        "x-ms-ratelimit-remaining-subscription-writes": "199"
      },
 [...]
