{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.StorageMover/storageMovers/testsm-blobsrc?api-version=2025-12-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\"fd003d61-0000-0100-0000-6a0454580000\"",
        "mise-correlation-id": "3156e1ff-4697-48f8-8bee-aef8b9500fe4",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-global-writes": "11999",
        "x-ms-ratelimit-remaining-subscription-writes": "799"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.StorageMover/storageMovers/testsm-blobsrc",
        "name": "testsm-blobsrc",
        "type": "microsoft.storagemover/storagemovers",
        "location": "eastus",
        "tags": {
          "Mover": "Dev",
          "team": "Discovery"
        },
        "systemData": {
          "createdBy": "Sanitized",
          "createdByType": "User",
          "createdAt": "2026-05-13T10:37:12.2342897Z",
          "lastModifiedBy": "Sanitized",
          "lastModifiedByType": "User",
          "lastModifiedAt": "2026-05-13T10:37:12.2342897Z"
        },
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.StorageMover/storageMovers/testsm-blobsrc/endpoints/blob-src-1?api-version=2025-12-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "endpointType": "AzureStorageBlobContainer",
          "storageAccountResourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.Storage/storageAccounts/testsmstore24",
          "blobContainerName": "testsmcontainer",
          "endpointKind": "Source",
          "description": "Blob container source endpoint"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\"d8007a4b-0000-0100-0000-6a0454580000\"",
        "mise-correlation-id": "edba0c41-bced-415b-a302-f20d75950e30",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-global-writes": "11999",
        "x-ms-ratelimit-remaining-subscription-writes": "799"
      },
      "[...]
