{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.StorageMover/storageMovers/testsm-smbsrc?api-version=2025-12-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\"fd009c81-0000-0100-0000-6a0455470000\"",
        "mise-correlation-id": "7ad34d54-7845-4ec3-aef1-73cb4e9bf6a7",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-global-writes": "11999",
        "x-ms-ratelimit-remaining-subscription-writes": "799"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.StorageMover/storageMovers/testsm-smbsrc",
        "name": "testsm-smbsrc",
        "type": "microsoft.storagemover/storagemovers",
        "location": "eastus",
        "tags": {
          "Mover": "Dev",
          "team": "Discovery"
        },
        "systemData": {
          "createdBy": "Sanitized",
          "createdByType": "User",
          "createdAt": "2026-05-13T10:41:11.3923289Z",
          "lastModifiedBy": "Sanitized",
          "lastModifiedByType": "User",
          "lastModifiedAt": "2026-05-13T10:41:11.3923289Z"
        },
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rgname/providers/Microsoft.StorageMover/storageMovers/testsm-smbsrc/endpoints/smb-src-1?api-version=2025-12-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "endpointType": "SmbMount",
          "host": "10.0.0.1",
          "shareName": "testshare",
          "endpointKind": "Source",
          "description": "SMB source endpoint"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\"d800db6e-0000-0100-0000-6a0455480000\"",
        "mise-correlation-id": "8a775396-f033-4898-a97e-b162f512c2b4",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-global-writes": "11999",
        "x-ms-ratelimit-remaining-subscription-writes": "799"
      },
      "ResponseBod[...]
