{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/88888888-8888-8888-8888-888888888888/resourceGroups/myjstest/providers/Microsoft.MobileNetwork/mobileNetworks?api-version=2024-02-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-original-request-ids": [
          "b863342a-8f34-4d7e-8263-e65529db849c",
          "982dd58e-923e-4c25-820a-18bee39574be",
          "4feb5e39-acff-406b-b73e-fbc645161b7a",
          "dec26221-3d98-45f2-8530-fd2861f17fe4"
        ],
        "x-ms-ratelimit-remaining-subscription-resource-requests": "9999"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/88888888-8888-8888-8888-888888888888/resourceGroups/myjstest/providers/Microsoft.MobileNetwork/mobileNetworks/resourcetest",
            "name": "resourcetest",
            "type": "microsoft.mobilenetwork/mobilenetworks",
            "location": "eastus",
            "systemData": {
              "createdBy": "azure_client_id",
              "createdByType": "Application",
              "createdAt": "2024-03-11T08:35:47.6697575Z",
              "lastModifiedBy": "azure_client_id",
              "lastModifiedByType": "Application",
              "lastModifiedAt": "2024-03-11T08:35:47.6697575Z"
            },
            "properties": {
              "provisioningState": "Succeeded",
              "publicLandMobileNetworkIdentifier": {
                "mcc": "001",
                "mnc": "01"
              },
              "serviceKey": "b581bd8e-665f-4019-a18a-54ed47522b4f"
            }
          }
        ]
      }
    }
  ],
  "Variables": {}
}
