{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/88888888-8888-8888-8888-888888888888/resourceGroups/myjstest/providers/Microsoft.MobileNetwork/mobileNetworks/resourcetest?api-version=2023-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002213045515-0000-0100-0000-655b34ea0000\u0022",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-reads": "11998"
      },
      "ResponseBody": {
        "id": "/subscriptions/88888888-8888-8888-8888-888888888888/resourceGroups/myjstest/providers/Microsoft.MobileNetwork/mobileNetworks/resourcetest",
        "name": "resourcetest",
        "type": "microsoft.mobilenetwork/mobilenetworks",
        "location": "eastus",
        "systemData": {
          "createdBy": "azure_client_id",
          "createdByType": "Application",
          "createdAt": "2023-11-20T10:28:46.0763959Z",
          "lastModifiedBy": "azure_client_id",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2023-11-20T10:28:46.0763959Z"
        },
        "properties": {
          "provisioningState": "Succeeded",
          "publicLandMobileNetworkIdentifier": {
            "mcc": "001",
            "mnc": "01"
          },
          "serviceKey": "ffc21f4d-51c7-4a5c-b6c4-e14217b39ffa"
        }
      }
    }
  ],
  "Variables": {}
}
