{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/88888888-8888-8888-8888-888888888888/resourceGroups/myjstest/providers/Microsoft.MobileNetwork/mobileNetworks?api-version=2024-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "9999"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/88888888-8888-8888-8888-888888888888/resourceGroups/myjstest/providers/Microsoft.MobileNetwork/mobileNetworks/resourcetest",
            "name": "resourcetest",
            "type": "microsoft.mobilenetwork/mobilenetworks",
            "location": "eastus",
            "systemData": {
              "createdBy": "Sanitized",
              "createdByType": "User",
              "createdAt": "2024-06-07T09:39:37.1675071Z",
              "lastModifiedBy": "Sanitized",
              "lastModifiedByType": "User",
              "lastModifiedAt": "2024-06-07T09:39:37.1675071Z"
            },
            "properties": {
              "provisioningState": "Succeeded",
              "publicLandMobileNetworkIdentifier": {
                "mcc": "001",
                "mnc": "01"
              },
              "serviceKey": "0509ff51-d9b8-4da1-988c-7da6f2bb6c36"
            }
          }
        ]
      }
    }
  ],
  "Variables": {}
}
