{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000?api-version=2023-08-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-westus-01",
        "x-ms-ratelimit-remaining-subscription-reads": "11998",
        "x-ms-response-type": "standard",
        "x-request-time": "0.026"
      },
      "ResponseBody": {
        "id": "Sanitized",
        "name": "Sanitized",
        "type": "Microsoft.MachineLearningServices/workspaces",
        "location": "westus",
        "tags": {},
        "etag": null,
        "properties": {
          "friendlyName": "Sanitized",
          "description": "",
          "storageAccount": "Sanitized",
          "keyVault": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.KeyVault/vaults/kv-azureaie907344097050",
          "applicationInsights": null,
          "hbiWorkspace": false,
          "tenantId": "00000000-0000-0000-0000-000000000000",
          "imageBuildCompute": null,
          "provisioningState": "Succeeded",
          "managedNetwork": {
            "changeableIsolationModes": [
              "AllowInternetOutbound",
              "AllowOnlyApprovedOutbound"
            ],
            "isolationMode": "Disabled"
          },
          "allowRoleAssignmentOnRG": false,
          "v1LegacyMode": false,
          "softDeleteEnabled": false,
          "creationTime": "2024-09-06T16:32:07.1593540Z",
          "notebookInfo": {
            "resourceId": "dfa17f61f8ac4beb85bf000e45e7312b",
            "fqdn": "ml-pf-evals-ws-west-westus-c36a6534-9e17-48a6-aacf-66e11310ed41.westus.notebooks.azure.net",
            "isPrivateLinkEnabled": false,
            "notebookPreparationError": null
          },
          "storageHnsEnabled": false,
          "workspaceId": "c36a6534-9e17-48a6-aacf-66e11310ed41",
          "linkedModelInventoryArmId": null,
          "privateLinkCount": 0,
          "publicNetworkAccess": "Enabled",
          "ipAllowlist": [],
          "discoveryUrl": "https://westus.api.azureml.ms/discovery",
          "mlFlowTrackingUri": "azureml://westus.api.azureml.ms/mlflow/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000",
          "serverlessComputeSettings": null,
          "EnableSoftwareBillOfMaterials": false,
          "sdkTelemetryAppInsightsKey": "23040a33-1c3e-4782-a462-da85bf9238bb",
          "sasGetterUri": "",
          "hubResourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000",
          "enableDataIsolation": true,
          "systemDatastoresAuthMode": "accesskey",
          "enableServiceSideCMKEncryption": false
        },
        "identity": {
          "type": "SystemAssigned",
          "principalId": "00000000-0000-0000-0000-000000000000",
          "tenantId": "00000000-0000-0000-0000-000000000000"
        },
        "kind": "Project",
        "sku": {
          "name": "Sanitized",
          "tier": "Basic"
        },
        "systemData": {
          "createdAt": "2024-09-06T16:32:07.159354Z",
          "createdBy": "Sanitized",
          "createdByType": "Application",
          "lastModifiedAt": "2024-09-06T16:32:07.159354Z",
          "lastModifiedBy": "Sanitized",
          "lastModifiedByType": "Application"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.api.azureml.ms/mlflow/v2.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/api/2.0/mlflow/runs/create",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "experiment_id": "0",
        "user_id": "promptflow-evals",
        "start_time": 1725641420450,
        "tags": [
          {
            "key": "mlflow.user",
            "value": "promptflow-evals"
          }
        ],
        "run_name": "test"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-westus-02",
        "x-ms-response-type": "standard",
        "x-request-time": "0.472"
      },
      "ResponseBody": {
        "run": {
          "info": {
            "run_uuid": "ab4ae713-e192-4a70-aabf-ab012ac3e675",
            "experiment_id": "badfbce8-6ac4-46b7-a766-cf6574713359",
            "run_name": "test",
            "user_id": "fe10da54-a13e-42a4-81d8-84292e78a646",
            "status": "RUNNING",
            "start_time": "1725641420450",
            "artifact_uri": "azureml://westus.api.azureml.ms/mlflow/v2.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/experiments/0/runs/ab4ae713-e192-4a70-aabf-ab012ac3e675/artifacts",
            "lifecycle_stage": "active",
            "run_id": "ab4ae713-e192-4a70-aabf-ab012ac3e675"
          },
          "data": {
            "tags": [
              {
                "key": "mlflow.user",
                "value": "promptflow-evals"
              },
              {
                "key": "mlflow.rootRunId",
                "value": "ab4ae713-e192-4a70-aabf-ab012ac3e675"
              },
              {
                "key": "mlflow.runName",
                "value": "test"
              },
              {
                "key": "mlflow.user",
                "value": "Firstname Lastname"
              }
            ]
          },
          "inputs": {}
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores?api-version=2024-07-01-preview&count=30&isDefault=true&orderByAsc=false",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-westus-02",
        "x-ms-ratelimit-remaining-subscription-reads": "11996",
        "x-ms-response-type": "standard",
        "x-request-time": "0.126"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "Sanitized",
            "name": "Sanitized",
            "type": "Microsoft.MachineLearningServices/workspaces/00000",
            "properties": {
              "description": null,
              "tags": null,
              "properties": null,
              "isDefault": true,
              "credentials": {
                "credentialsType": "Sas"
              },
              "subscriptionId": "00000000-0000-0000-0000-000000000000",
              "resourceGroup": "Sanitized",
              "datastoreType": "AzureBlob",
              "accountName": "Sanitized",
              "containerName": "c36a6534-9e17-48a6-aacf-66e11310ed41-azureml-blobstore",
              "endpoint": "core.windows.net",
              "protocol": "https",
              "serviceDataAccessAuthIdentity": "WorkspaceSystemAssignedIdentity"
            },
            "systemData": {
              "createdAt": "2024-09-06T16:32:45.3631383+00:00",
              "lastModifiedAt": "2024-09-06T16:32:45.3631383+00:00"
            }
          }
        ]
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores/workspaceblobstore/listSecrets?api-version=2024-07-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "expirableSecret": true,
        "expireAfterHours": 1
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-westus-01",
        "x-ms-ratelimit-remaining-subscription-writes": "1199",
        "x-ms-response-type": "standard",
        "x-request-time": "0.280"
      },
      "ResponseBody": {
        "secretsType": "Sas",
        "sasToken": "sv=2021-10-04&si=azureml-system-datastore-policy&sr=c&sig=Sanitized"
      }
    },
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/c36a6534-9e17-48a6-aacf-66e11310ed41-azureml-blobstore/promptflow/PromptFlowArtifacts/test/instance_results.jsonl",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 06 Sep 2024 16:50:22 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "eyJmMSI6IDAuNX0=",
      "StatusCode": 403,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "AuthorizationPermissionMismatch",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>AuthorizationPermissionMismatch</Code><Message>This request is not authorized to perform this operation using this permission.\n",
        "RequestId:f47f4343-c01e-00db-1a7c-001c84000000\n",
        "Time:2024-09-06T16:50:25.4431836Z</Message></Error>"
      ]
    },
    {
      "RequestUri": "https://Sanitized.api.azureml.ms/mlflow/v2.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/api/2.0/mlflow/runs/update",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "run_uuid": "ab4ae713-e192-4a70-aabf-ab012ac3e675",
        "status": "FINISHED",
        "end_time": 1725641425539,
        "run_id": "ab4ae713-e192-4a70-aabf-ab012ac3e675"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-westus-02",
        "x-ms-response-type": "standard",
        "x-request-time": "0.445"
      },
      "ResponseBody": {
        "run_info": {
          "run_uuid": "ab4ae713-e192-4a70-aabf-ab012ac3e675",
          "experiment_id": "badfbce8-6ac4-46b7-a766-cf6574713359",
          "run_name": "test",
          "user_id": "fe10da54-a13e-42a4-81d8-84292e78a646",
          "status": "FINISHED",
          "start_time": "1725641420450",
          "end_time": "1725641425699",
          "lifecycle_stage": "active",
          "run_id": "ab4ae713-e192-4a70-aabf-ab012ac3e675"
        }
      }
    }
  ],
  "Variables": {}
}
