{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.in.applicationinsights.azure.com/v2.1/track",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": "[{\"ver\": 1, \"name\": \"Microsoft.ApplicationInsights.Event\", \"time\": \"2024-09-11T22:09:07.819942Z\", \"sampleRate\": 100.0, \"iKey\": \"8b52b368-4c91-4226-b7f7-be52822f0509\", \"tags\": {\"ai.device.locale\": \"en_US\", \"ai.device.osVersion\": \"#40~22.04.3-Ubuntu SMP PREEMPT_DYNAMIC Tue Jul 30 17:30:19 UTC 2\", \"ai.device.type\": \"Other\", \"ai.internal.sdkVersion\": \"ulm_py3.8.18:otel1.26.0:ext1.0.0b28\", \"ai.cloud.role\": \"pytest\", \"ai.internal.nodeName\": \"kd-XPS-15-9560\", \"ai.operation.id\": \"00000000000000000000000000000000\", \"ai.operation.parentId\": \"0000000000000000\"}, \"data\": {\"baseType\": \"EventData\", \"baseData\": {\"ver\": 2, \"name\": \"pf.runs.update.start\", \"properties\": {\"level\": \"INFO\", \"from_ci\": \"False\", \"request_id\": \"6b8121ba-d639-441a-93f2-9540084621e2\", \"first_call\": \"True\", \"activity_name\": \"pf.runs.update\", \"activity_type\": \"PublicApi\", \"user_agent\": \"promptflow-sdk/1.15.0\", \"python_version\": \"3.8.18\", \"installation_id\": \"99a823f5-d24e-5b80-8a93-a74e77a63ac9\"}}}}, {\"ver\": 1, \"name\": \"Microsoft.ApplicationInsights.Event\", \"time\": \"2024-09-11T22:09:07.829513Z\", \"sampleRate\": 100.0, \"iKey\": \"8b52b368-4c91-4226-b7f7-be52822f0509\", \"tags\": {\"ai.device.locale\": \"en_US\", \"ai.device.osVersion\": \"#40~22.04.3-Ubuntu SMP PREEMPT_DYNAMIC Tue Jul 30 17:30:19 UTC 2\", \"ai.device.type\": \"Other\", \"ai.internal.sdkVersion\": \"ulm_py3.8.18:otel1.26.0:ext1.0.0b28\", \"ai.cloud.role\": \"pytest\", \[...]
[...]
