{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.in.applicationinsights.azure.com/v2.1/track",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": "[{\"ver\":1,\"name\":\"Sanitized\",\"time\":\"2024-09-11T15:47:35.167931Z\",\"sampleRate\":100.0,\"iKey\":\"8b52b368-4c91-4226-b7f7-be52822f0509\",\"tags\":{\"ai.device.locale\":\"en_US\",\"ai.device.osVersion\":\"#40~22.04.3-Ubuntu SMP PREEMPT_DYNAMIC Tue Jul 30 17:30:19 UTC 2\",\"ai.device.type\":\"Other\",\"ai.internal.sdkVersion\":\"ulm_py3.8.18:otel1.26.0:ext1.0.0b28\",\"ai.cloud.role\":\"pytest\",\"ai.internal.nodeName\":\"kd-XPS-15-9560\",\"ai.operation.id\":\"00000000000000000000000000000000\",\"ai.operation.parentId\":\"0000000000000000\"},\"data\":{\"baseType\":\"EventData\",\"baseData\":{\"ver\":2,\"name\":\"Sanitized\",\"properties\":{\"level\":\"INFO\",\"from_ci\":\"False\",\"request_id\":\"2dd23821-edc5-44ef-8012-7eb7820dc05a\",\"first_call\":\"False\",\"activity_name\":\"pfazure.runs.upload\",\"activity_type\":\"PublicApi\",\"user_agent\":\"promptflow-sdk/1.15.0 azure-ai-evaluation/1.0.0b1 promptflow-azure-sdk/1.15.0\",\"subscription_id\":\"00000000-0000-0000-0000-000000000000\",\"resource_group_name\":\"00000\",\"workspace_name\":\"pf-evals-ws-westus2\",\"python_version\":\"3.8.18\",\"installation_id\":\"99a823f5-d24e-5b80-8a93-a74e77a63ac9\"}}}},{\"ver\":1,\"name\":\"Sanitized\",\"time\":\"2024-09-11T15:47:35.172165Z\",\"sampleRate\":100.0,\"iKey\":\"8b52b368-4c91-4226-b7f7-be52822f0509\",\"tags\":{\"ai.device.locale\":\"en_US\",\"ai.device.osVersion\":\"#40~22.04.3-Ubuntu SMP PREEMPT_DYNAMIC Tue Jul 30 17:30:19 UTC 2\",\"ai.device.type\":\"Other\",\"ai.internal.sdkVersion\":\"ulm_py3.8.18:otel1.26.0:ext1.0.0b28\",\"ai.cloud.role\":\"pytest\",\"ai.internal.nodeName\":\"kd-XPS-15-9560\",\"ai.o[...]
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000?api-version=2023-08-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-westus-01",
        "x-ms-ratelimit-remaining-subscription-reads": "11999",
        "x-ms-response-type": "standard",
        "x-request-time": "0.031"
      },
      "ResponseBody": {
        "id": "Sanitized",
        "name": "Sanitized",
        "type": "Microsoft.MachineLearningServices/workspaces",
        "location": "westus",
        "tags": {},
        "etag": null,
        "properties": {
          "friendlyName": "Sanitized",
          "description": "",
          "storageAccount": "Sanitized",
          "keyVault": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.KeyVault/vaults/kv-azureaie615587030424",
          "applicationInsights": null,
          "hbiWorkspace": false,
          "tenantId": "00000000-0000-0000-0000-000000000000",
          "imageBuildCompute": null,
          "provisioningState": "Succeeded",
          "managedNetwork": {
            "changeableIsolationModes": [
              "AllowInternetOutbound",
              "AllowOnlyApprovedOutbound"
            ],
            "isolationMode": "Disabled"
          },
          "allowRoleAssignmentOnRG": false,
          "v1LegacyMode": false,
          "softDeleteEnabled": false,
          "creationTime": "2024-09-09T17:48:07.2357804Z",
          "notebookInfo": {
            "resourceId": "2356eceaa2984fb29a9b0bca7eb59661",
            "fqdn": "ml-pf-evals-ws-west-westus-cd10c416-6901-458c-b1bf-eb7efae06575.westus.notebooks.azure.net",
            "isPrivateLinkEnabled": false,
            "notebookPreparationError": null
          },
          "storageHnsEnabled": false,
          "workspaceId": "cd10c416-6901-458c-b1bf-eb7efae06575",
          "linkedModelInventoryArmId": null,
          "privateLinkCount": 0,
          "publicNetworkAccess": "Enabled",
          "ipAllowlist": [],
          "discoveryUrl": "https://westus.api.azureml.ms/discovery",
          "mlFlowTrackingUri": "azureml://westus.api.azureml.ms/mlflow/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000",
          "serverlessComputeSettings": null,
          "EnableSoftwareBillOfMaterials": false,
          "sdkTelemetryAppInsightsKey": "23040a33-1c3e-4782-a462-da85bf9238bb",
          "sasGetterUri": "",
          "hubResourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000",
          "enableDataIsolation": true,
          "systemDatastoresAuthMode": "accesskey",
          "enableServiceSideCMKEncryption": false
        },
        "identity": {
          "type": "SystemAssigned",
          "principalId": "00000000-0000-0000-0000-000000000000",
          "tenantId": "00000000-0000-0000-0000-000000000000"
        },
        "kind": "Project",
        "sku": {
          "name": "Sanitized",
          "tier": "Basic"
        },
        "systemData": {
          "createdAt": "2024-09-09T17:48:07.2357804Z",
          "createdBy": "Sanitized",
          "createdByType": "Application",
          "lastModifiedAt": "2024-09-09T17:48:07.2357804Z",
          "lastModifiedBy": "Sanitized",
          "lastModifiedByType": "Application"
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.api.azureml.ms/flow/api/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/TraceSessions",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-westus-01",
        "x-ms-client-user-type": "ApiUser",
        "x-ms-response-type": "standard",
        "x-request-time": "0.304"
      },
      "ResponseBody": {
        "entityId": "cd10c416-6901-458c-b1bf-eb7efae06575",
        "traceCosmosConfiguration": "None",
        "traceCosmosStatus": "Initialized",
        "accountEndpoint": "https://pf-cd10c416-6901-458c-b1bf-eb7efae06575.documents.azure.com:443/",
        "databaseName": "PromptFlowTraceSession",
        "resourceArmId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.DocumentDB/databaseAccounts/pf-cd10c416-6901-458c-b1bf-eb7efae06575",
        "resourceType": 1
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.in.applicationinsights.azure.com/v2.1/track",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": "[{\"ver\":1,\"name\":\"Sanitized\",\"time\":\"2024-09-11T15:47:40.286118Z\",\"sampleRate\":100.0,\"iKey\":\"8b52b368-4c91-4226-b7f7-be52822f0509\",\"tags\":{\"ai.device.locale\":\"en_US\",\"ai.device.osVersion\":\"#40~22.04.3-Ubuntu SMP PREEMPT_DYNAMIC Tue Jul 30 17:30:19 UTC 2\",\"ai.device.type\":\"Other\",\"ai.internal.sdkVersion\":\"ulm_py3.8.18:otel1.26.0:ext1.0.0b28\",\"ai.cloud.role\":\"pytest\",\"ai.internal.nodeName\":\"kd-XPS-15-9560\",\"ai.operation.id\":\"00000000000000000000000000000000\",\"ai.operation.parentId\":\"0000000000000000\"},\"data\":{\"baseType\":\"EventData\",\"baseData\":{\"ver\":2,\"name\":\"Sanitized\",\"properties\":{\"level\":\"INFO\",\"from_ci\":\"False\",\"request_id\":\"7dd9be74-82a8-4de2-b9a8-eb114e509f7f\",\"first_call\":\"True\",\"activity_name\":\"pf.evals.evaluate\",\"activity_type\":\"PublicApi\",\"user_agent\":\"azure-ai-evaluation/1.0.0b1\",\"track_in_cloud\":\"True\",\"evaluate_target\":\"False\",\"evaluator_config\":\"False\",\"python_version\":\"3.8.18\",\"installation_id\":\"99a823f5-d24e-5b80-8a93-a74e77a63ac9\"}}}},{\"ver\":1,\"name\":\"Sanitized\",\"time\":\"2024-09-11T15:47:41.836471Z\",\"sampleRate\":100.0,\"iKey\":\"8b52b368-4c91-4226-b7f7-be52822f0509\",\"tags\":{\"ai.device.locale\":\"en_US\",\"ai.device.osVersion\":\"#40~22.04.3-Ubuntu SMP PREEMPT_DYNAMIC Tue Jul 30 17:30:19 UTC 2\",\"ai.device.type\":\"Other\",\"ai.internal.sdkVersion\":\"ulm_py3.8.18:otel1.26.0:ext1.0.0b28\",\"ai.cloud.role\":\"pytest\",\"ai.internal.nodeName\":\"kd-XPS-15-9560\",\"ai.operation.id\":\"00000000000000000000000000000000\",\"ai.operation.parentId\":\"0000000000000000\"},\"data\":{\"baseType\":\"EventData\",\"baseData\":{\"ver\":2,\"name\":\"Sanitized\",\"properties\":{\"level\":\"INFO\",\"from_ci\":\"False\",\"request_id\":\"7dd9be74-82a8-4de2-b9a8-eb114e509f7f\",\"first_call\":\"False\",\"activity_name\":\"pf.runs.create_or_update\",\"activity_type\":\"PublicApi\",\"user_agent\":\"promptflow-sdk/1.15.0 azure-ai-evaluation/1.0.0b1 promptflow-azure-sdk/1.15.0\",\"flow_type\":\"flex\",\"python_version\":\"3.8.18\",\"installation_id\":\"99a823f5-d24e-5b80-8a93-a74e77a63ac9\"}}}}]",
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "itemsReceived": 2,
        "itemsAccepted": 2,
        "appId": null,
        "errors": []
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores?api-version=2024-07-01-preview&count=30&isDefault=true&orderByAsc=false",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-westus-02",
        "x-ms-ratelimit-remaining-subscription-reads": "11999",
        "x-ms-response-type": "standard",
        "x-request-time": "0.592"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "Sanitized",
            "name": "Sanitized",
            "type": "Microsoft.MachineLearningServices/workspaces/00000",
            "properties": {
              "description": null,
              "tags": null,
              "properties": null,
              "isDefault": true,
              "credentials": {
                "credentialsType": "Sas"
              },
              "subscriptionId": "00000000-0000-0000-0000-000000000000",
              "resourceGroup": "Sanitized",
              "datastoreType": "AzureBlob",
              "accountName": "Sanitized",
              "containerName": "cd10c416-6901-458c-b1bf-eb7efae06575-azureml-blobstore",
              "endpoint": "core.windows.net",
              "protocol": "https",
              "serviceDataAccessAuthIdentity": "WorkspaceSystemAssignedIdentity"
            },
            "systemData": {
              "createdAt": "2024-09-09T17:48:43.3625495+00:00",
              "createdBy": "Sanitized",
              "createdByType": "Application",
              "lastModifiedAt": "2024-09-09T17:48:50.3862963+00:00",
              "lastModifiedBy": "Sanitized",
              "lastModifiedByType": "Application"
            }
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores/workspaceblobstore/listSecrets?api-version=2024-07-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "expirableSecret": true,
        "expireAfterHours": 1
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-westus-01",
        "x-ms-ratelimit-remaining-subscription-writes": "1199",
        "x-ms-response-type": "standard",
        "x-request-time": "0.334"
      },
      "ResponseBody": {
        "secretsType": "Sas",
        "sasToken": "sv=2021-10-04&si=azureml-system-datastore-policy&sr=c&sig=Sanitized"
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores/workspaceartifactstore?api-version=2024-07-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-westus-02[...]
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores/workspaceartifactstore/listSecrets?api-version=2024-07-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "expirableSecret": true,
        "expireAfterHours": 1
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-westus-02",
        "x-ms-ratelimit-remaining-subscription-writes": "1198",
        "x-ms-response-type": "standard",
        "x-request-time": "0.184"
      },
      "ResponseBody": {
        "secretsType": "Sas",
        "sasToken": "sv=2021-10-04&si=azureml-system-datastore-policy&sr=c&sig=Sanitized"
      }
    },
[...]
