{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.services.visualstudio.com/v2.1/track",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": "[{\"ver\":1,\"name\":\"Sanitized\",\"time\":\"2025-03-01T06:58:39.485763Z\",\"sampleRate\":100.0,\"iKey\":\"8b52b368-4c91-4226-b7f7-be52822f0509\",\"tags\":{\"ai.device.locale\":null,\"ai.device.osVersion\":\"Darwin Kernel Version 24.3.0: Thu Jan  2 20:24:23 PST 2025; root:xnu-11215.81.4~3/RELEASE_ARM64_T6020\",\"ai.device.type\":\"Other\",\"ai.internal.sdkVersion\":\"uum_py3.9.6:otel1.27.0:ext1.0.0b30\",\"ai.cloud.role\":\"***.py\",\"ai.internal.nodeName\":\"Waqass-MacBook-Pro-2023.local\",\"ai.operation.id\":\"00000000000000000000000000000000\",\"ai.operation.parentId\":\"0000000000000000\"},\"data\":{\"baseType\":\"EventData\",\"baseData\":{\"ver\":2,\"name\":\"Sanitized\",\"properties\":{\"level\":\"INFO\",\"from_ci\":\"False\",\"request_id\":\"7c919ff8-afd5-449c-a69c-9c5a63388356\",\"first_call\":\"True\",\"activity_name\":\"pf.runs.update\",\"activity_type\":\"PublicApi\",\"user_agent\":\"promptflow-sdk/1.16.0\",\"python_version\":\"3.9.6\",\"installation_id\":\"61ae18e7-25b6-5dba-948b-9cdfcbe01316\"}}}},{\"ver\":1,\"name\":\"Sanitized\",\"time\":\"2025-03-01T06:58:39.489123Z\",\"sampleRate\":100.0,\"iKey\":\"8b52b368-4c91-4226-b7f7-be52822f0509\",\"tags\":{\"ai.device.locale\":null,\"ai.device.osVersion\":\"Darwin Kernel Version 24.3.0: Thu Jan  2 20:24:23 PST 2025; root:xnu-11215.81.4~3/RELEASE_ARM64_T6020\",\"ai.device.type\":\"Other\",\"ai.internal.sdkVersion\":\"uum_py3.9.6:otel1.27.0:ext1.0.0b30\",\"ai.cloud.role\":\"***.py\",\"ai.internal.nodeN[...]
[...]
