{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.services.visualstudio.com/v2.1/track",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": "[{\"ver\":1,\"name\":\"Sanitized\",\"time\":\"2024-09-06T16:47:46.782577Z\",\"sampleRate\":100.0,\"iKey\":\"8b52b368-4c91-4226-b7f7-be52822f0509\",\"tags\":{\"ai.device.locale\":\"en_US\",\"ai.device.osVersion\":\"#40~22.04.3-Ubuntu SMP PREEMPT_DYNAMIC Tue Jul 30 17:30:19 UTC 2\",\"ai.device.type\":\"Other\",\"ai.internal.sdkVersion\":\"ulm_py3.8.18:otel1.26.0:ext1.0.0b28\",\"ai.cloud.role\":\"pytest\",\"ai.internal.nodeName\":\"kd-XPS-15-9560\",\"ai.operation.id\":\"00000000000000000000000000000000\",\"ai.operation.parentId\":\"0000000000000000\"},\"data\":{\"baseType\":\"EventData\",\"baseData\":{\"ver\":2,\"name\":\"Sanitized\",\"properties\":{\"level\":\"INFO\",\"from_ci\":\"False\",\"request_id\":\"a7021c73-3ee3-4b2a-bff5-1c4a5cfa030f\",\"first_call\":\"False\",\"activity_name\":\"pf.runs.get\",\"activity_type\":\"PublicApi\",\"user_agent\":\"promptflow-sdk/1.15.0 azure-ai-evaluation/1.0.0b1\",\"completion_status\":\"Success\",\"duration_ms\":\"10.83\",\"python_version\":\"3.8.18\",\"installation_id\":\"99a823f5-d24e-5b80-8a93-a74e77a63ac9\"}}}},{\"ver\":1,\"name\":\"Sanitized\",\"time\":\"2024-09-06T16:47:46.786818Z\",\"sampleRate\":100.0,\"iKey\":\"8b52b368-4c91-4226-b7f7-be52822f0509\",\"tags\":{\"ai.device.locale\":\"en_US\",\"ai.device.osVersion\":\"#40~22.04.3-Ubuntu SMP PREEMPT_DYNAMIC Tue Jul 30 17:30:19 UTC 2\",\"ai.device.type\":\"Other\",\"ai.internal.sdkVersion\":\"ulm_py3.8.18:otel1.26.0:ext1.0.0b28\",\"ai.cloud.role\":\"pytest\",\"ai.internal.nodeName\":\"kd-XPS-15-9560\",\"ai.o[...]
[...]
