{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.in.applicationinsights.azure.com/v2.1/track",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": "[{\"ver\":1,\"name\":\"Sanitized\",\"time\":\"2024-09-06T16:50:11.818954Z\",\"sampleRate\":100.0,\"iKey\":\"8b52b368-4c91-4226-b7f7-be52822f0509\",\"tags\":{\"ai.device.locale\":\"en_US\",\"ai.device.osVersion\":\"#40~22.04.3-Ubuntu SMP PREEMPT_DYNAMIC Tue Jul 30 17:30:19 UTC 2\",\"ai.device.type\":\"Other\",\"ai.internal.sdkVersion\":\"ulm_py3.8.18:otel1.26.0:ext1.0.0b28\",\"ai.cloud.role\":\"pytest\",\"ai.internal.nodeName\":\"kd-XPS-15-9560\",\"ai.operation.id\":\"00000000000000000000000000000000\",\"ai.operation.parentId\":\"0000000000000000\"},\"data\":{\"baseType\":\"EventData\",\"baseData\":{\"ver\":2,\"name\":\"Sanitized\",\"properties\":{\"level\":\"INFO\",\"from_ci\":\"False\",\"request_id\":\"9c7babb0-233c-4cdd-b5d3-b86da5663d76\",\"first_call\":\"True\",\"activity_name\":\"pf.runs.update\",\"activity_type\":\"PublicApi\",\"user_agent\":\"promptflow-sdk/1.15.0 promptflow-core/1.15.0\",\"python_version\":\"3.8.18\",\"installation_id\":\"99a823f5-d24e-5b80-8a93-a74e77a63ac9\"}}}},{\"ver\":1,\"name\":\"Sanitized\",\"time\":\"2024-09-06T16:50:11.832571Z\",\"sampleRate\":100.0,\"iKey\":\"8b52b368-4c91-4226-b7f7-be52822f0509\",\"tags\":{\"ai.device.locale\":\"en_US\",\"ai.device.osVersion\":\"#40~22.04.3-Ubuntu SMP PREEMPT_DYNAMIC Tue Jul 30 17:30:19 UTC 2\",\"ai.device.type\":\"Other\",\"ai.internal.sdkVersion\":\"ulm_py3.8.18:otel1.26.0:ext1.0.0b28\",\"ai.cloud.role\":\"pytest\",\"ai.internal.nodeName\":\"kd-XPS-15-9560\",\"ai.o[...]
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000?api-version=2023-08-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-westus-01",
        "x-ms-ratelimit-remaining-subscription-reads": "11997",
        "x-ms-response-type": "standard",
        "x-request-time": "0.049"
      },
      "ResponseBody": {
        "id": "Sanitized",
        "name": "Sanitized",
        "type": "Microsoft.MachineLearningServices/workspaces",
        "location": "westus",
        "tags": {},
        "etag": null,
        "properties": {
          "friendlyName": "Sanitized",
          "description": "",
          "storageAccount": "Sanitized",
          "keyVault": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.KeyVault/vaults/kv-azureaie907344097050",
          "applicationInsights": null,
          "hbiWorkspace": false,
          "tenantId": "00000000-0000-0000-0000-000000000000",
          "imageBuildCompute": null,
          "provisioningState": "Succeeded",
          "managedNetwork": {
            "changeableIsolationModes": [
              "AllowInternetOutbound",
              "AllowOnlyApprovedOutbound"
            ],
            "isolationMode": "Disabled"
          },
          "allowRoleAssignmentOnRG": false,
          "v1LegacyMode": false,
          "softDeleteEnabled": false,
          "creationTime": "2024-09-06T16:32:07.1593540Z",
          "notebookInfo": {
            "resourceId": "dfa17f61f8ac4beb85bf000e45e7312b",
            "fqdn": "ml-pf-evals-ws-west-westus-c36a6534-9e17-48a6-aacf-66e11310ed41.westus.notebooks.azure.net",
            "isPrivateLinkEnabled": false,
            "notebookPreparationError": null
          },
          "storageHnsEnabled": false,
          "workspaceId": "c36a6534-9e17-48a6-aacf-66e11310ed41",
          "linkedModelInventoryArmId": null,
          "privateLinkCount": 0,
          "publicNetworkAccess": "Enabled",
          "ipAllowlist": [],
          "discoveryUrl": "https://westus.api.azureml.ms/discovery",
          "mlFlowTrackingUri": "azureml://westus.api.azureml.ms/mlflow/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000",
          "serverlessComputeSettings": null,
          "EnableSoftwareBillOfMaterials": false,
          "sdkTelemetryAppInsightsKey": "23040a33-1c3e-4782-a462-da85bf9238bb",
          "sasGetterUri": "",
          "hubResourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000",
          "enableDataIsolation": true,
          "systemDatastoresAuthMode": "accesskey",
          "enableServiceSideCMKEncryption": false
        },
        "identity": {
          "type": "SystemAssigned",
          "principalId": "00000000-0000-0000-0000-000000000000",
          "tenantId": "00000000-0000-0000-0000-000000000000"
        },
        "kind": "Project",
        "sku": {
          "name": "Sanitized",
          "tier": "Basic"
        },
        "systemData": {
          "createdAt": "2024-09-06T16:32:07.159354Z",
          "createdBy": "Sanitized",
          "createdByType": "Application",
          "lastModifiedAt": "2024-09-06T16:32:07.159354Z",
          "lastModifiedBy": "Sanitized",
          "lastModifiedByType": "Application"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.api.azureml.ms/mlflow/v2.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/api/2.0/mlflow/runs/create",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "experiment_id": "0",
        "user_id": "promptflow-evals",
        "start_time": 1725641417160,
        "tags": [
          {
            "key": "mlflow.user",
            "value": "promptflow-evals"
          }
        ],
        "run_name": "test"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-westus-02",
        "x-ms-response-type": "standard",
        "x-request-time": "0.343"
      },
      "ResponseBody": {
        "run": {
          "info": {
            "run_uuid": "5c8ca48a-ec38-4f76-98ae-b67f63601b35",
            "experiment_id": "badfbce8-6ac4-46b7-a766-cf6574713359",
            "run_name": "test",
            "user_id": "fe10da54-a13e-42a4-81d8-84292e78a646",
            "status": "RUNNING",
            "start_time": "1725641417160",
            "artifact_uri": "azureml://westus.api.azureml.ms/mlflow/v2.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/experiments/0/runs/5c8ca48a-ec38-4f76-98ae-b67f63601b35/artifacts",
            "lifecycle_stage": "active",
            "run_id": "5c8ca48a-ec38-4f76-98ae-b67f63601b35"
          },
          "data": {
            "tags": [
              {
                "key": "mlflow.user",
                "value": "promptflow-evals"
              },
              {
                "key": "mlflow.rootRunId",
                "value": "5c8ca48a-ec38-4f76-98ae-b67f63601b35"
              },
              {
                "key": "mlflow.runName",
                "value": "test"
              },
              {
                "key": "mlflow.user",
                "value": "Firstname Lastname"
              }
            ]
          },
          "inputs": {}
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.api.azureml.ms/mlflow/v2.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/api/2.0/mlflow/runs/update",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "run_uuid": "5c8ca48a-ec38-4f76-98ae-b67f63601b35",
        "status": "FINISHED",
        "end_time": 1725641418074,
        "run_id": "5c8ca48a-ec38-4f76-98ae-b67f63601b35"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-westus-02",
        "x-ms-response-type": "standard",
        "x-request-time": "0.738"
      },
      "ResponseBody": {
        "run_info": {
          "run_uuid": "5c8ca48a-ec38-4f76-98ae-b67f63601b35",
          "experiment_id": "badfbce8-6ac4-46b7-a766-cf6574713359",
          "run_name": "test",
          "user_id": "fe10da54-a13e-42a4-81d8-84292e78a646",
          "status": "FINISHED",
          "start_time": "1725641417160",
          "end_time": "1725641418279",
          "lifecycle_stage": "active",
          "run_id": "5c8ca48a-ec38-4f76-98ae-b67f63601b35"
        }
      }
    }
  ],
  "Variables": {}
}
