{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000?api-version=2023-08-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-swedencentral-01",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099",
        "x-ms-response-type": "standard",
        "x-request-time": "0.033"
      },
      "ResponseBody": {
        "id": "Sanitized",
        "name": "Sanitized",
        "type": "Microsoft.MachineLearningServices/workspaces",
        "location": "swedencentral",
        "tags": {},
        "etag": null,
        "properties": {
          "friendlyName": "Sanitized",
          "description": "",
          "storageAccount": "Sanitized",
          "keyVault": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.KeyVault/vaults/kv-naarkalg999971652049",
          "applicationInsights": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.Insights/components/appi-naarkalgaihub999971652049",
          "hbiWorkspace": false,
          "tenantId": "00000000-0000-0000-0000-000000000000",
          "imageBuildCompute": null,
          "provisioningState": "Succeeded",
          "managedNetwork": {
            "isolationMode": "Disabled",
            "enableNetworkMonitor": false
          },
          "allowRoleAssignmentOnRG": false,
          "v1LegacyMode": false,
          "softDeleteEnabled": false,
          "containerRegistry": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.ContainerRegistry/registries/crnaarkalgaihub999971652049",
          "creationTime": "2024-02-23T16:47:15.0571150Z",
          "notebookInfo": {
            "resourceId": "a86387ce0b73461f8fa3015d52a3de12",
            "fqdn": "ml-naarkalga-swedencentral-0b8e0cff-981b-4bca-8a3c-6ee2ffedfd6d.swedencentral.notebooks.azure.net",
            "isPrivateLinkEnabled": false,
            "notebookPreparationError": null
          },
          "storageHnsEnabled": false,
          "workspaceId": "4bcc385f-5984-4898-929d-6baafe4a1e2b",
          "linkedModelInventoryArmId": null,
          "privateLinkCount": 0,
          "publicNetworkAccess": "Enabled",
          "ipAllowlist": [],
          "networkAcls": {
            "defaultAction": "Allow",
            "bypass": "",
            "ipRules": [],
            "resourceAccessRules": []
          },
          "discoveryUrl": "https://swedencentral.api.azureml.ms/discovery",
          "mlFlowTrackingUri": "azureml://swedencentral.api.azureml.ms/mlflow/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000",
          "serverlessComputeSettings": null,
          "EnableSoftwareBillOfMaterials": false,
          "sdkTelemetryAppInsightsKey": "ecfc0110-6630-4d5b-935f-f8d304673557",
          "sasGetterUri": "",
          "hubResourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000",
          "enableDataIsolation": true,
          "systemDatastoresAuthMode": "accesskey",
          "enableServiceSideCMKEncryption": false
        },
        "identity": {
          "type": "SystemAssigned",
          "principalId": "00000000-0000-0000-0000-000000000000",
          "tenantId": "00000000-0000-0000-0000-000000000000"
        },
        "kind": "Project",
        "sku": {
          "name": "Sanitized",
          "tier": "Basic"
        },
        "systemData": {
          "createdAt": "2024-02-23T16:47:15.057115Z",
          "createdBy": "Sanitized",
          "createdByType": "Application",
          "lastModifiedAt": "2024-02-23T16:47:15.057115Z",
          "lastModifiedBy": "Sanitized",
          "lastModifiedByType": "Application"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.api.azureml.ms/raisvc/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/checkannotation",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-swedencentral-02",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "2780405a-0917-4fbd-8d60-33ac2f54a164",
        "x-ms-response-type": "standard",
        "x-request-time": "0.015"
      },
      "ResponseBody": [
        "[\n",
        "  \"content harm\",\n",
        "  \"xpia\",\n",
        "  \"code vulnerability\",\n",
        "  \"inference sensitive attributes\",\n",
        "  \"groundedness\",\n",
        "  \"protected material\",\n",
        "  \"eci\"\n",
        "]"
      ]
    },
    {
      "RequestUri": "https://Sanitized.api.azureml.ms/raisvc/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/submitannotation",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "UserTextList": [
          "{\"question\": \"\", \"answer\": \"Paris\", \"context\": \"{'global_context': 'Global context', 'query_context': 'Customer wants to know the capital of France', 'response_context': 'Paris is the capital of France'}\"}"
        ],
        "AnnotationTask": "groundedness",
        "MetricList": [
          "generic_groundedness"
        ]
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-swedencentral-02",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://example.com",
        "mise-correlation-id": "b52677b1-b189-4028-8830-dc3193ab047d",
        "x-ms-response-type": "standard",
        "x-request-time": "0.053"
      },
      "ResponseBody": {
        "location": "https://swedencentral.api.azureml.ms/raisvc/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/operations/86119f9d-7fc7-4b10-95cd-7d02a8480f2f",
        "operationResult": null
      }
    },
    {
      "RequestUri": "https://Sanitized.api.azureml.ms/raisvc/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/operations/86119f9d-7fc7-4b10-95cd-7d02a8480f2f",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-swedencentral-02",
        "mise-correlation-id": "6b0c0a11-0398-4be8-b653-2a7d4581cd09",
        "x-ms-response-type": "standard",
        "x-request-time": "0.019"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.api.azureml.ms/raisvc/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/operations/86119f9d-7fc7-4b10-95cd-7d02a8480f2f",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-swedencentral-02",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "cf78e334-f7c0-4540-b6f3-928fad8d6430",
        "x-ms-response-type": "standard",
        "x-request-time": "0.019"
      },
      "ResponseBody": [
        "[\n",
        "  {\n",
        "    \"generic_groundedness\": \"{\\\"label\\\":\\\"5\\\",\\\"reasoning\\\":\\\"All Contents are grounded\\\",\\\"version\\\":\\\"0.1\\\"}\"\n",
        "  }\n",
        "]"
      ]
    },
[...]
    {
      "RequestUri": "https://Sanitized.api.azureml.ms/raisvc/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/operations/d68d048c-5e80-438d-91ca-3c41d6778770",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-swedencentral-02",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "100f03bb-31be-4cb4-89c1-2f1e484cfb55",
        "x-ms-response-type": "standard",
        "x-request-time": "0.018"
      },
      "ResponseBody": [
        "[\n",
        "  {\n",
        "    \"generic_groundedness\": \"{\\\"label\\\":\\\"5\\\",\\\"reasoning\\\":\\\"All Contents are grounded\\\",\\\"version\\\":\\\"0.1\\\"}\"\n",
        "  }\n",
        "]"
      ]
    }
  ],
  "Variables": {}
}
