{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000?api-version=2024-07-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-eastus-02",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099",
        "x-ms-response-type": "standard",
        "x-request-time": "0.039"
      },
      "ResponseBody": {
        "id": "Sanitized",
        "name": "Sanitized",
        "type": "Microsoft.MachineLearningServices/workspaces",
        "location": "eastus",
        "tags": {},
        "etag": null,
        "properties": {
          "friendlyName": "Sanitized",
          "description": "",
          "storageAccount": "Sanitized",
          "keyVault": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.KeyVault/vaults/kv-ralphe-eval-sdk",
          "applicationInsights": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.Insights/components/app-insghts-ralphe-eval-sdk",
          "hbiWorkspace": false,
          "tenantId": "00000000-0000-0000-0000-000000000000",
          "imageBuildCompute": null,
          "provisioningState": "Succeeded",
          "managedNetwork": {
            "isolationMode": "Disabled"
          },
          "allowRoleAssignmentOnRG": false,
          "v1LegacyMode": false,
          "softDeleteEnabled": false,
          "creationTime": "2024-12-20T19:32:05.5567276Z",
          "notebookInfo": {
            "resourceId": "3bdfe9633b464887b43c30435ee9666e",
            "fqdn": "ml-ai-proj-ralphe-e-eastus-8674603b-d142-4350-8333-0d4a6fcf6d81.eastus.notebooks.azure.net",
            "isPrivateLinkEnabled": false,
            "notebookPreparationError": null
          },
          "storageHnsEnabled": false,
          "workspaceId": "8674603b-d142-4350-8333-0d4a6fcf6d81",
          "linkedModelInventoryArmId": null,
          "privateLinkCount": 0,
          "publicNetworkAccess": "Enabled",
          "ipAllowlist": [],
          "discoveryUrl": "https://eastus.api.azureml.ms/discovery",
          "mlFlowTrackingUri": "azureml://eastus.api.azureml.ms/mlflow/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000",
          "serverlessComputeSettings": null,
          "EnableSoftwareBillOfMaterials": false,
          "sdkTelemetryAppInsightsKey": "71fa86c2-fe23-49db-bb2e-8537edfb6ead",
          "sasGetterUri": "",
          "hubResourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000",
          "enableDataIsolation": true,
          "systemDatastoresAuthMode": "identity",
          "enableServiceSideCMKEncryption": false
        },
        "identity": {
          "type": "SystemAssigned",
          "principalId": "00000000-0000-0000-0000-000000000000",
          "tenantId": "00000000-0000-0000-0000-000000000000"
        },
        "kind": "Project",
        "sku": {
          "name": "Sanitized",
          "tier": "Basic"
        },
        "systemData": {
          "createdAt": "2024-12-20T19:32:05.5567276Z",
          "createdBy": "Sanitized",
          "createdByType": "User",
          "lastModifiedAt": "2024-12-20T19:32:05.5567276Z",
          "lastModifiedBy": "Sanitized",
          "lastModifiedByType": "User"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.api.azureml.ms/mlflow/v2.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/api/2.0/mlflow/runs/create",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "experiment_id": "0",
        "user_id": "azure-ai-evaluation",
        "start_time": "1730444400000",
        "tags": [
          {
            "key": "mlflow.user",
            "value": "azure-ai-evaluation"
          }
        ],
        "run_name": "test"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-eastus-01",
        "x-ms-response-type": "standard",
        "x-request-time": "0.883"
      },
      "ResponseBody": {
        "run": {
          "info": {
            "run_uuid": "8ac29fa1-ca21-4d87-9b28-b609b16dcc37",
            "experiment_id": "9752e145-1949-4891-addc-a241dc07aec9",
            "run_name": "test",
            "user_id": "9fe402c0-b50b-41e6-9950-7ba3315ab6c4",
            "status": "RUNNING",
            "start_time": "1730444400000",
            "artifact_uri": "azureml://eastus.api.azureml.ms/mlflow/v2.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/experiments/0/runs/8ac29fa1-ca21-4d87-9b28-b609b16dcc37/artifacts",
            "lifecycle_stage": "active",
            "run_id": "8ac29fa1-ca21-4d87-9b28-b609b16dcc37"
          },
          "data": {
            "tags": [
              {
                "key": "mlflow.user",
                "value": "azure-ai-evaluation"
              },
              {
                "key": "mlflow.rootRunId",
                "value": "8ac29fa1-ca21-4d87-9b28-b609b16dcc37"
              },
              {
                "key": "mlflow.runName",
                "value": "test"
              },
              {
                "key": "mlflow.user",
                "value": "Ralph El Hage"
              }
            ]
          },
          "inputs": {}
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores?api-version=2024-07-01-preview&isDefault=True&count=1&orderByAsc=false",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-eastus-01",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099",
        "x-ms-response-type": "standard",
        "x-request-time": "0.130"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "Sanitized",
            "name": "Sanitized",
            "type": "Microsoft.MachineLearningServices/workspaces/00000",
            "properties": {
              "description": null,
              "tags": null,
              "properties": null,
              "isDefault": true,
              "credentials": {
                "credentialsType": "None"
              },
              "subscriptionId": "e72e5254-f265-4e95-9bd2-9ee8e7329051",
              "resourceGroup": "Sanitized",
              "datastoreType": "AzureBlob",
              "accountName": "Sanitized",
              "containerName": "8674603b-d142-4350-8333-0d4a6fcf6d81-azureml-blobstore",
              "endpoint": "core.windows.net",
              "protocol": "https",
              "serviceDataAccessAuthIdentity": "WorkspaceSystemAssignedIdentity"
            },
            "systemData": {
              "createdAt": "2024-12-20T19:32:22.0697397+00:00",
              "lastModifiedAt": "2024-12-20T19:32:22.5869882+00:00",
              "lastModifiedBy": "Sanitized",
              "lastModifiedByType": "Application"
            }
          }
        ]
      }
    },
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/8674603b-d142-4350-8333-0d4a6fcf6d81-azureml-blobstore/promptflow/PromptFlowArtifacts/test/instance_results.jsonl",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 20 Dec 2024 19:38:08 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "eyJmMSI6IDAuNX0=",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "diUhBBdPqiF5HmMm8IgKdw==",
        "ETag": "\"0x8DD212DD685C905\"",
        "Last-Modified": "Fri, 20 Dec 2024 19:38:11 GMT",
        "x-ms-content-crc64": "5eDdDLCk6vg=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/8674603b-d142-4350-8333-0d4a6fcf6d81-azureml-blobstore/promptflow/PromptFlowArtifacts/test/internal_dir/test.json",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 20 Dec 2024 19:38:17 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "eyJpbnRlcm5hbF9mMSI6IDAuNn0=",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "ajrc77H5/pKmiiAzHB+q7A==",
        "ETag": "\"0x8DD212DDA2BCBF8\"",
        "Last-Modified": "Fri, 20 Dec 2024 19:38:17 GMT",
        "x-ms-content-crc64": "+o3ucAmEJMI=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://Sanitized.api.azureml.ms/artifact/v2.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/artifacts/register",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "origin": "ExperimentRun",
        "container": "dcid.8ac29fa1-ca21-4d87-9b28-b609b16dcc37",
        "path": "instance_results.jsonl",
        "dataPath": {
          "dataStoreName": "Sanitized",
          "relativePath": "promptflow/PromptFlowArtifacts/test/instance_results.jsonl"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "e839fd53-35af-4c0b-9b55-e9930c68cfc3",
        "x-aml-cluster": "vienna-eastus-01",
        "x-ms-response-type": "standard",
        "x-request-time": "0.194"
      },
      "ResponseBody": {
        "artifactId": "ExperimentRun/dcid.8ac29fa1-ca21-4d87-9b28-b609b16dcc37/instance_results.jsonl",
        "origin": "ExperimentRun",
        "container": "dcid.8ac29fa1-ca21-4d87-9b28-b609b16dcc37",
        "path": "instance_results.jsonl",
        "etag": "Sanitized",
        "createdTime": "2024-12-20T19:39:03.3743836+00:00",
        "dataPath": {
          "dataStoreName": "Sanitized",
          "relativePath": "promptflow/PromptFlowArtifacts/test/instance_results.jsonl"
        },
        "tags": {}
      }
    },
    {
      "RequestUri": "https://Sanitized.api.azureml.ms/mlflow/v2.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/api/2.0/mlflow/runs/update",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "run_uuid": "8ac29fa1-ca21-4d87-9b28-b609b16dcc37",
        "status": "FINISHED",
        "end_time": "1730444460000",
        "run_id": "8ac29fa1-ca21-4d87-9b28-b609b16dcc37"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-eastus-01",
        "x-ms-response-type": "standard",
        "x-request-time": "0.532"
      },
      "ResponseBody": {
        "run_info": {
          "run_uuid": "8ac29fa1-ca21-4d87-9b28-b609b16dcc37",
          "experiment_id": "9752e145-1949-4891-addc-a241dc07aec9",
          "run_name": "test",
          "user_id": "9fe402c0-b50b-41e6-9950-7ba3315ab6c4",
          "status": "FINISHED",
          "start_time": "1730444400000",
          "end_time": "1730444460000",
          "lifecycle_stage": "active",
          "run_id": "8ac29fa1-ca21-4d87-9b28-b609b16dcc37"
        }
      }
    }
  ],
  "Variables": {}
}
