{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000?api-version=2024-07-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-eastus2-02",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099",
        "x-ms-response-type": "standard",
        "x-request-time": "0.026"
      },
      "ResponseBody": {
        "id": "Sanitized",
        "name": "Sanitized",
        "type": "Microsoft.MachineLearningServices/workspaces",
        "location": "eastus2",
        "tags": {},
        "etag": null,
        "properties": {
          "friendlyName": "Sanitized",
          "description": "",
          "storageAccount": "Sanitized",
          "keyVault": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.KeyVault/vaults/kv-hancwang744741462197",
          "applicationInsights": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/microsoft.insights/components/darrens-best-app-insights",
          "hbiWorkspace": false,
          "tenantId": "00000000-0000-0000-0000-000000000000",
          "imageBuildCompute": null,
          "provisioningState": "Succeeded",
          "managedNetwork": {
            "changeableIsolationModes": [
              "AllowInternetOutbound",
              "AllowOnlyApprovedOutbound"
            ],
            "isolationMode": "Disabled",
            "networkId": "7cbf3ad8-a4c9-4db2-8c2b-4a3499944fd7"
          },
          "allowRoleAssignmentOnRG": false,
          "v1LegacyMode": false,
          "softDeleteEnabled": false,
          "creationTime": "2024-07-25T23:22:51.1716884Z",
          "notebookInfo": {
            "resourceId": "992ddb20b0ee49d8a9ca877c8c46bafb",
            "fqdn": "ml-hancwang-eus2-0-eastus2-7cbf3ad8-a4c9-4db2-8c2b-4a3499944fd7.eastus2.notebooks.azure.net",
            "isPrivateLinkEnabled": false,
            "notebookPreparationError": null
          },
          "storageHnsEnabled": false,
          "workspaceId": "7cbf3ad8-a4c9-4db2-8c2b-4a3499944fd7",
          "linkedModelInventoryArmId": null,
          "privateLinkCount": 0,
          "publicNetworkAccess": "Enabled",
          "ipAllowlist": [],
          "discoveryUrl": "https://eastus2.api.azureml.ms/discovery",
          "mlFlowTrackingUri": "azureml://eastus2.api.azureml.ms/mlflow/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000",
          "serverlessComputeSettings": null,
          "EnableSoftwareBillOfMaterials": false,
          "sdkTelemetryAppInsightsKey": "066b0d89-53d2-4b58-8bc8-ac382527e4fb",
          "sasGetterUri": "",
          "hubResourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000",
          "enableDataIsolation": true,
          "systemDatastoresAuthMode": "accesskey",
          "enableServiceSideCMKEncryption": false
        },
        "identity": {
          "type": "SystemAssigned",
          "principalId": "00000000-0000-0000-0000-000000000000",
          "tenantId": "00000000-0000-0000-0000-000000000000"
        },
        "kind": "Project",
        "sku": {
          "name": "Sanitized",
          "tier": "Basic"
        },
        "systemData": {
          "createdAt": "2024-07-25T23:22:51.1716884Z",
          "createdBy": "Sanitized",
          "createdByType": "Application",
          "lastModifiedAt": "2024-10-23T18:06:12.5365587Z",
          "lastModifiedBy": "Sanitized",
          "lastModifiedByType": "User"
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.api.azureml.ms/flow/api/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/TraceSessions",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-eastus2-02",
        "x-ms-client-user-type": "ApiUser",
        "x-ms-response-type": "standard",
        "x-request-time": "1.067"
      },
      "ResponseBody": {
        "entityId": "7cbf3ad8-a4c9-4db2-8c2b-4a3499944fd7",
        "traceCosmosConfiguration": "None",
        "traceCosmosStatus": "Initialized",
        "accountEndpoint": "https://pf-7cbf3ad8-a4c9-4db2-8c2b-4a3499944fd7.documents.azure.com:443/",
        "databaseName": "PromptFlowTraceSession",
        "resourceArmId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.DocumentDB/databaseAccounts/pf-7cbf3ad8-a4c9-4db2-8c2b-4a3499944fd7",
        "resourceType": 1
      }
    },
    {
      "RequestUri": "https://Sanitized.in.applicationinsights.azure.com/v2.1/track",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": "[{\"ver\":1,\"name\":\"Sanitized\",\"time\":\"2024-10-26T02:15:03.212673Z\",\"sampleRate\":100.0,\"iKey\":\"8b52b368-4c91-4226-b7f7-be52822f0509\",\"tags\":{\"ai.device.locale\":null,\"ai.device.osVersion\":\"Darwin Kernel Version 24.0.0: Tue Sep 24 23:37:36 PDT 2024; root:xnu-11215.1.12~1/RELEASE_ARM64_T6020\",\"ai.device.type\":\"Other\",\"ai.internal.sdkVersion\":\"uum_py3.12.4:otel1.27.0:ext1.0.0b30\",\"ai.cloud.role\":\"***.py\",\"ai.internal.nodeName\":\"Waqass-MacBook-Pro-2023.local\",\"ai.operation.id\":\"00000000000000000000000000000000\",\"ai.operation.parentId\":\"0000000000000000\"},\"data\":{\"baseType\":\"EventData\",\"baseData\":{\"ver\":2,\"name\":\"Sanitized\",\"properties\":{\"level\":\"INFO\",\"from_ci\":\"False\",\"request_id\":\"a52a4760-2f17-4914-bd29-46ac8aab23ba\",\"first_call\":\"True\",\"activity_name\":\"pf.runs.create_or_update\",\"activity_type\":\"PublicApi\",\"user_agent\":\"promptflow-sdk/1.16.0 azure-ai-evaluation/1.0.0b5 promptflow-azure-sdk/1.16.0\",\"flow_type\":\"flex\",\"python_version\":\"3.12.4\",\"installation_id\":\"61ae18e7-25b6-5dba-948b-9cdfcbe01316\"}}}}]",
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "itemsReceived": 1,
        "itemsAccepted": 1,
        "appId": null,
        "errors": []
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.api.azureml.ms/mlflow/v2.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/api/2.0/mlflow/runs/create",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "experiment_id": "0",
        "user_id": "azure-ai-evaluation",
        "start_time": 1729909402925,
        "tags": [
          {
            "key": "mlflow.user",
            "value": "azure-ai-evaluation"
          }
        ],
        "run_name": "test-mm-eval-dataset-img-url-64eaa7e2-ee03-4397-afd0-081475c78b53"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-eastus2-02",
        "x-ms-response-type": "standard",
        "x-request-time": "0.866"
      },
      "ResponseBody": {
        "run": {
          "info": {
            "run_uuid": "97d76b45-5792-418f-ad54-f7eb8a83913e",
            "experiment_id": "8adf3ecb-f708-4735-9964-0a7192f0afa5",
            "run_name": "test-mm-eval-dataset-img-url-64eaa7e2-ee03-4397-afd0-081475c78b53",
            "user_id": "234c104b-152e-4b30-8318-1e7d3a65957f",
            "status": "RUNNING",
            "start_time": "1729909402925",
            "artifact_uri": "azureml://eastus2.api.azureml.ms/mlflow/v2.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/experiments/0/runs/97d76b45-5792-418f-ad54-f7eb8a83913e/artifacts",
            "lifecycle_stage": "active",
            "run_id": "97d76b45-5792-418f-ad54-f7eb8a83913e"
          },
          "data": {
            "tags": [
              {
                "key": "mlflow.user",
                "value": "azure-ai-evaluation"
              },
              {
                "key": "mlflow.rootRunId",
                "value": "97d76b45-5792-418f-ad54-f7eb8a83913e"
              },
              {
                "key": "mlflow.runName",
                "value": "test-mm-eval-dataset-img-url-64eaa7e2-ee03-4397-afd0-081475c78b53"
              },
              {
                "key": "mlflow.user",
                "value": "Waqas Javed"
              }
            ]
          },
          "inputs": {}
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores?api-version=2024-07-01-preview&count=30&isDefault=true&orderByAsc=false",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-eastus2-02",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099",
        "x-ms-response-type": "standard",
        "x-request-time": "0.116"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "Sanitized",
            "name": "Sanitized",
            "type": "Microsoft.MachineLearningServices/workspaces/00000",
            "properties": {
              "description": null,
              "tags": null,
              "properties": null,
              "isDefault": true,
              "credentials": {
                "credentialsType": "Sas"
              },
              "subscriptionId": "2d385bf4-0756-4a76-aa95-28bf9ed3b625",
              "resourceGroup": "Sanitized",
              "datastoreType": "AzureBlob",
              "accountName": "Sanitized",
              "containerName": "7cbf3ad8-a4c9-4db2-8c2b-4a3499944fd7-azureml-blobstore",
              "endpoint": "core.windows.net",
              "protocol": "https",
              "serviceDataAccessAuthIdentity": "WorkspaceSystemAssignedIdentity"
            },
            "systemData": {
              "createdAt": "2024-07-25T23:23:20.4389586+00:00",
              "createdBy": "Sanitized",
              "createdByType": "Application",
              "lastModifiedAt": "2024-07-25T23:23:26.965997+00:00",
              "lastModifiedBy": "Sanitized",
              "lastModifiedByType": "Application"
            }
          }
        ]
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores/workspaceblobstore/listSecrets?api-version=2024-07-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "expirableSecret": true,
        "expireAfterHours": 1
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-eastus2-01",
        "x-ms-ratelimit-remaining-subscription-global-writes": "11999",
        "x-ms-ratelimit-remaining-subscription-writes": "799",
        "x-ms-response-type": "standard",
        "x-request-time": "0.227"
      },
      "ResponseBody": {
        "secretsType": "Sas",
        "sasToken": "sv=2021-10-04&si=azureml-system-datastore-policy&sr=c&sig=Sanitized"
      }
    },
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/7cbf3ad8-a4c9-4db2-8c2b-4a3499944fd7-azureml-blobstore/promptflow/PromptFlowArtifacts/test-mm-eval-dataset-img-url-64eaa7e2-ee03-4397-afd0-081475c78b53/eval_results.jsonl",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Sat, 26 Oct 2024 02:23:26 GMT",
        "x-ms-version": "2024-11-04"
      },
      "RequestBody": "eyJpbnB1dHMuY29udmVyc2F0aW9uIjp7Im1lc3NhZ2VzIjpbeyJyb2xlIjoic3lzdGVtIiwiY29udGVudCI6W3sidHlwZSI6InRleHQiLCJ0ZXh0IjoiVGhpcyBpcyBhIG5hdHVyZSBib2FyZHdhbGsgYXQgdGhlIFVuaXZlcnNpdHkgb2YgV2lzY29uc2luLU1hZGlzb24uIn1dfSx7InJvbGUiOiJ1c2VyIiwiY29udGVudCI6W3sidHlwZSI6InRleHQiLCJ0ZXh0IjoiQ2FuIHlvdSBkZXNjcmliZSB0aGlzIGltYWdlPyJ9LHsidHlwZSI6ImltYWdlX3VybCIsImltYWdlX3VybCI6eyJ1cmwiOiJodHRwczpcL1wvY2RuLmJyaXRhbm5pY2EuY29tXC82OFwvMTc4MjY4LTA1MC01QjRFN0ZCNlwvVG9tLUNydWl[...]
    {
      "RequestUri": "https://Sanitized.api.azureml.ms/artifact/v2.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/artifacts/register",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "origin": "ExperimentRun",
        "container": "dcid.97d76b45-5792-418f-ad54-f7eb8a83913e",
        "path": "eval_results.jsonl",
        "dataPath": {
          "dataStoreName": "workspaceblobstore",
          "relativePath": "promptflow/PromptFlowArtifacts/test-mm-eval-dataset-img-url-64eaa7e2-ee03-4397-afd0-081475c78b53/eval_results.jsonl"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "4ffd10be-a007-4c12-b2a2-1a6ee023b398",
        "x-aml-cluster": "vienna-eastus2-02",
        "x-ms-response-type": "standard",
        "x-request-time": "0.191"
      },
      "ResponseBody": {
        "artifactId": "ExperimentRun/dcid.97d76b45-5792-418f-ad54-f7eb8a83913e/eval_results.jsonl",
        "origin": "ExperimentRun",
        "container": "dcid.97d76b45-5792-418f-ad54-f7eb8a83913e",
        "path": "eval_results.jsonl",
        "etag": "Sanitized",
        "createdTime": "2024-10-26T02:23:29.830189+00:00",
        "dataPath": {
          "dataStoreName": "workspaceblobstore",
          "relativePath": "promptflow/PromptFlowArtifacts/test-mm-eval-dataset-img-url-64eaa7e2-ee03-4397-afd0-081475c78b53/eval_results.jsonl"
        },
        "tags": {}
      }
    },
    {
      "RequestUri": "https://Sanitized.api.azureml.ms/history/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/experimentids/8adf3ecb-f708-4735-9964-0a7192f0afa5/runs/97d76b45-5792-418f-ad54-f7eb8a83913e",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "runId": "97d76b45-5792-418f-ad54-f7eb8a83913e",
        "properties": {
          "runType": "eval_run",
          "_azureml.evaluation_run": "azure-ai-generative-parent",
          "_azureml.evaluate_artifacts": "[{\"path\": \"eval_results.jsonl\", \"type\": \"table\"}]",
          "isEvaluatorRun": "true"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "fb846d21-a13f-4361-8976-08ef669835d8",
        "x-aml-cluster": "vienna-eastus2-02",
        "x-ms-response-type": "standard",
        "x-request-time": "0.056"
      },
      "ResponseBody": {
        "runNumber": 1729909404,
        "rootRunId": "97d76b45-5792-418f-ad54-f7eb8a83913e",
        "createdUtc": "2024-10-26T02:23:22.925+00:00",
        "createdBy": {
          "userObjectId": "234c104b-152e-4b30-8318-1e7d3a65957f",
          "userPuId": "100320038199143A",
          "userIdp": null,
          "userAltSecId": null,
          "userIss": "https://sts.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47/",
          "userTenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
          "userName": "Sanitized",
          "upn": "waqasjaved@microsoft.com"
        },
        "userId": "Sanitized",
        "token": "Sanitized",
        "tokenExpiryTimeUtc": "2024-11-16T02:44:13.4520647+00:00",
        "error": null,
        "warnings": null,
        "revision": 2,
        "statusRevision": 0,
        "runUuid": "ca1e8004-ff0d-44b8-9d28-df3e4fd790dd",
        "parentRunUuid": null,
        "rootRunUuid": "ca1e8004-ff0d-44b8-9d28-df3e4fd790dd",
        "lastStartTimeUtc": "2024-10-26T02:23:22.925+00:00",
        "currentComputeTime": "00:00:00",
        "computeDuration": null,
        "effectiveStartTimeUtc": "2024-10-26T02:23:22.925+00:00",
        "lastModifiedBy": {
          "userObjectId": "234c104b-152e-4b30-8318-1e7d3a65957f",
          "userPuId": "100320038199143A",
          "userIdp": null,
          "userAltSecId": null,
          "userIss": "https://sts.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47/",
          "userTenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
          "userName": "Sanitized",
          "upn": "waqasjaved@microsoft.com"
        },
        "lastModifiedUtc": "2024-10-26T02:23:30.1596008+00:00",
        "duration": null,
        "cancelationReason": null,
        "currentAttemptId": 1,
        "runId": "97d76b45-5792-418f-ad54-f7eb8a83913e",
        "parentRunId": null,
        "experimentId": "8adf3ecb-f708-4735-9964-0a7192f0afa5",
        "status": "Running",
        "startTimeUtc": "2024-10-26T02:23:22.925+00:00",
        "endTimeUtc": null,
        "scheduleId": null,
        "displayName": "test-mm-eval-dataset-img-url-64eaa7e2-ee03-4397-afd0-081475c78b53",
        "name": null,
        "dataContainerId": "dcid.97d76b45-5792-418f-ad54-f7eb8a83913e",
        "description": null,
        "hidden": false,
        "runType": null,
        "runTypeV2": {
          "orchestrator": null,
          "traits": [
            "mlflow"
          ],
          "attribution": null,
          "computeType": null
        },
        "properties": {
          "mlflow.artifactUri": "azureml://eastus2.api.azureml.ms/mlflow/v2.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/experiments/0/runs/97d76b45-5792-418f-ad54-f7eb8a83913e/artifacts",
          "runType": "eval_run",
          "_azureml.evaluation_run": "azure-ai-generative-parent",
          "_azureml.evaluate_artifacts": "[{\"path\": \"eval_results.jsonl\", \"type\": \"table\"}]",
          "isEvaluatorRun": "true"
        },
        "parameters": {},
        "actionUris": {},
        "scriptName": null,
        "target": null,
        "uniqueChildRunComputeTargets": [],
        "tags": {
          "mlflow.user": "azure-ai-evaluation"
        },
        "settings": {},
        "services": {},
        "inputDatasets": [],
        "outputDatasets": [],
        "runDefinition": null,
        "jobSpecification": null,
        "primaryMetricName": null,
        "createdFrom": null,
        "cancelUri": null,
        "completeUri": null,
        "diagnosticsUri": null,
        "computeRequest": null,
        "compute": null,
        "retainForLifetimeOfWorkspace": false,
        "queueingInfo": null,
        "inputs": null,
        "outputs": null
      }
    },
    {
      "RequestUri": "https://Sanitized.api.azureml.ms/mlflow/v2.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/api/2.0/mlflow/runs/log-metric",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "run_uuid": "97d76b45-5792-418f-ad54-f7eb8a83913e",
        "key": "Sanitized",
        "value": 0.0,
        "timestamp": 1729909410202,
        "step": 0,
        "run_id": "97d76b45-5792-418f-ad54-f7eb8a83913e"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-eastus2-02",
        "x-ms-response-type": "standard",
        "x-request-time": "0.786"
      },
      "ResponseBody": {}
    },
[...]
    {
      "RequestUri": "https://Sanitized.api.azureml.ms/mlflow/v2.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/api/2.0/mlflow/runs/update",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "run_uuid": "97d76b45-5792-418f-ad54-f7eb8a83913e",
        "status": "FINISHED",
        "end_time": 1729909413730,
        "run_id": "97d76b45-5792-418f-ad54-f7eb8a83913e"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-eastus2-02",
        "x-ms-response-type": "standard",
        "x-request-time": "0.517"
      },
      "ResponseBody": {
        "run_info": {
          "run_uuid": "97d76b45-5792-418f-ad54-f7eb8a83913e",
          "experiment_id": "8adf3ecb-f708-4735-9964-0a7192f0afa5",
          "run_name": "test-mm-eval-dataset-img-url-64eaa7e2-ee03-4397-afd0-081475c78b53",
          "user_id": "234c104b-152e-4b30-8318-1e7d3a65957f",
          "status": "FINISHED",
          "start_time": "1729909402925",
          "end_time": "1729909413900",
          "lifecycle_stage": "active",
          "run_id": "97d76b45-5792-418f-ad54-f7eb8a83913e"
        }
      }
    }
  ],
  "Variables": {}
}
