{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000?api-version=2024-07-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-eastus2-01",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099",
        "x-ms-response-type": "standard",
        "x-request-time": "0.042"
      },
      "ResponseBody": {
        "id": "Sanitized",
        "name": "Sanitized",
        "type": "Microsoft.MachineLearningServices/workspaces",
        "location": "eastus2",
        "tags": {},
        "etag": null,
        "properties": {
          "friendlyName": "Sanitized",
          "description": "",
          "storageAccount": "Sanitized",
          "keyVault": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.Keyvault/vaults/pfevalsws6060895277",
          "applicationInsights": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.insights/components/pfevalsws5633893788",
          "hbiWorkspace": false,
          "tenantId": "00000000-0000-0000-0000-000000000000",
          "imageBuildCompute": null,
          "provisioningState": "Succeeded",
          "managedNetwork": {
            "isolationMode": "Disabled"
          },
          "allowRoleAssignmentOnRG": true,
          "v1LegacyMode": false,
          "softDeleteEnabled": false,
          "containerRegistry": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.ContainerRegistry/registries/36e33176ada8420e890d983e519a75b1",
          "creationTime": "2024-04-19T21:40:16.2206428Z",
          "notebookInfo": {
            "resourceId": "7268daaaad9d4c82951d0d089cd9fdf2",
            "fqdn": "ml-00000-eastus2-36e33176-ada8-420e-890d-983e519a75b1.eastus2.notebooks.azure.net",
            "isPrivateLinkEnabled": false,
            "notebookPreparationError": null
          },
          "storageHnsEnabled": false,
          "workspaceId": "36e33176-ada8-420e-890d-983e519a75b1",
          "linkedModelInventoryArmId": null,
          "privateLinkCount": 0,
          "publicNetworkAccess": "Enabled",
          "ipAllowlist": [],
          "discoveryUrl": "https://eastus2.api.azureml.ms/discovery",
          "mlFlowTrackingUri": "azureml://eastus2.api.azureml.ms/mlflow/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000",
          "serverlessComputeSettings": null,
          "EnableSoftwareBillOfMaterials": false,
          "sdkTelemetryAppInsightsKey": "e1f7b545-6243-4abf-ba76-c5691d2edb62",
          "sasGetterUri": "",
          "enableDataIsolation": false,
          "systemDatastoresAuthMode": null,
          "enableServiceSideCMKEncryption": false
        },
        "identity": {
          "type": "SystemAssigned",
          "principalId": "00000000-0000-0000-0000-000000000000",
          "tenantId": "00000000-0000-0000-0000-000000000000"
        },
        "kind": "Default",
        "sku": {
          "name": "Sanitized",
          "tier": "Basic"
        },
        "systemData": {
          "createdAt": "2024-04-19T21:40:16.2206428Z",
          "createdBy": "Sanitized",
          "createdByType": "User",
          "lastModifiedAt": "2024-04-19T21:40:16.2206428Z",
          "lastModifiedBy": "Sanitized",
          "lastModifiedByType": "User"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.api.azureml.ms/mlflow/v2.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/api/2.0/mlflow/runs/create",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "experiment_id": "0",
        "user_id": "azure-ai-evaluation",
        "start_time": "1730444400000",
        "tags": [
          {
            "key": "mlflow.user",
            "value": "azure-ai-evaluation"
          }
        ],
        "run_name": "test"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "015c5044-75d3-4a1a-8a2e-892335b89458",
        "x-aml-cluster": "vienna-eastus2-02",
        "x-ms-response-type": "standard",
        "x-request-time": "0.111"
      },
      "ResponseBody": {
        "run": {
          "info": {
            "run_uuid": "c6bfb18d-27d7-4477-b1b7-d4ab04d884b5",
            "experiment_id": "34fb7f85-4f86-428b-9c6f-333adf9733a8",
            "run_name": "test",
            "user_id": "9fe402c0-b50b-41e6-9950-7ba3315ab6c4",
            "status": "RUNNING",
            "start_time": "1730444400000",
            "artifact_uri": "azureml://eastus2.api.azureml.ms/mlflow/v2.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/experiments/0/runs/c6bfb18d-27d7-4477-b1b7-d4ab04d884b5/artifacts",
            "lifecycle_stage": "active",
            "run_id": "c6bfb18d-27d7-4477-b1b7-d4ab04d884b5"
          },
          "data": {
            "tags": [
              {
                "key": "mlflow.user",
                "value": "azure-ai-evaluation"
              },
              {
                "key": "mlflow.rootRunId",
                "value": "c6bfb18d-27d7-4477-b1b7-d4ab04d884b5"
              },
              {
                "key": "mlflow.runName",
                "value": "test"
              },
              {
                "key": "mlflow.user",
                "value": "Ralph El Hage"
              }
            ]
          },
          "inputs": {}
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.api.azureml.ms/mlflow/v2.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/api/2.0/mlflow/runs/log-metric",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "run_uuid": "c6bfb18d-27d7-4477-b1b7-d4ab04d884b5",
        "key": "MA==",
        "value": 0.54,
        "timestamp": "1730444410000",
        "step": 0,
        "run_id": "c6bfb18d-27d7-4477-b1b7-d4ab04d884b5"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "2556110b-4963-4f61-8f44-35043a52401d",
        "x-aml-cluster": "vienna-eastus2-02",
        "x-ms-response-type": "standard",
        "x-request-time": "1.981"
      },
      "ResponseBody": {}
    },
    {
      "RequestUri": "https://Sanitized.api.azureml.ms/mlflow/v2.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/api/2.0/mlflow/runs/update",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "run_uuid": "c6bfb18d-27d7-4477-b1b7-d4ab04d884b5",
        "status": "FINISHED",
        "end_time": "1730444460000",
        "run_id": "c6bfb18d-27d7-4477-b1b7-d4ab04d884b5"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "0d3a9c2f-0f85-481f-b249-0f06f31c4707",
        "x-aml-cluster": "vienna-eastus2-02",
        "x-ms-response-type": "standard",
        "x-request-time": "0.409"
      },
      "ResponseBody": {
        "run_info": {
          "run_uuid": "c6bfb18d-27d7-4477-b1b7-d4ab04d884b5",
          "experiment_id": "34fb7f85-4f86-428b-9c6f-333adf9733a8",
          "run_name": "test",
          "user_id": "9fe402c0-b50b-41e6-9950-7ba3315ab6c4",
          "status": "FINISHED",
          "start_time": "1730444400000",
          "end_time": "1730444460000",
          "lifecycle_stage": "active",
          "run_id": "c6bfb18d-27d7-4477-b1b7-d4ab04d884b5"
        }
      }
    }
  ],
  "Variables": {}
}
