{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000?api-version=2024-07-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-eastus2-01",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099",
        "x-ms-response-type": "standard",
        "x-request-time": "0.046"
      },
      "ResponseBody": {
        "id": "Sanitized",
        "name": "Sanitized",
        "type": "Microsoft.MachineLearningServices/workspaces",
        "location": "eastus2",
        "tags": {},
        "etag": null,
        "properties": {
          "friendlyName": "Sanitized",
          "description": "",
          "storageAccount": "Sanitized",
          "keyVault": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.KeyVault/vaults/kv-ralphe-eus2-eval-sdk",
          "applicationInsights": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.Insights/components/app-insghts-ralphe-eus2-eval-sdk",
          "hbiWorkspace": false,
          "tenantId": "00000000-0000-0000-0000-000000000000",
          "imageBuildCompute": null,
          "provisioningState": "Succeeded",
          "managedNetwork": {
            "isolationMode": "Disabled"
          },
          "allowRoleAssignmentOnRG": false,
          "v1LegacyMode": false,
          "softDeleteEnabled": false,
          "creationTime": "2025-01-09T20:49:23.7728685Z",
          "notebookInfo": {
            "resourceId": "ed8ed45b33604f8c81e626ec1cb6c742",
            "fqdn": "ml-ai-proj-eus2-ra-eastus2-75672839-9ef1-49d4-8974-4541177d2224.eastus2.notebooks.azure.net",
            "isPrivateLinkEnabled": false,
            "notebookPreparationError": null
          },
          "storageHnsEnabled": false,
          "workspaceId": "75672839-9ef1-49d4-8974-4541177d2224",
          "linkedModelInventoryArmId": null,
          "privateLinkCount": 0,
          "publicNetworkAccess": "Enabled",
          "ipAllowlist": [],
          "discoveryUrl": "https://eastus2.api.azureml.ms/discovery",
          "mlFlowTrackingUri": "azureml://eastus2.api.azureml.ms/mlflow/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000",
          "serverlessComputeSettings": null,
          "EnableSoftwareBillOfMaterials": false,
          "sdkTelemetryAppInsightsKey": "066b0d89-53d2-4b58-8bc8-ac382527e4fb",
          "sasGetterUri": "",
          "hubResourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000",
          "enableDataIsolation": true,
          "systemDatastoresAuthMode": "identity",
          "enableServiceSideCMKEncryption": false
        },
        "identity": {
          "type": "SystemAssigned",
          "principalId": "00000000-0000-0000-0000-000000000000",
          "tenantId": "00000000-0000-0000-0000-000000000000"
        },
        "kind": "Project",
        "sku": {
          "name": "Sanitized",
          "tier": "Basic"
        },
        "systemData": {
          "createdAt": "2025-01-09T20:49:23.7728685Z",
          "createdBy": "Sanitized",
          "createdByType": "Application",
          "lastModifiedAt": "2025-01-09T20:49:23.7728685Z",
          "lastModifiedBy": "Sanitized",
          "lastModifiedByType": "Application"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.api.azureml.ms/mlflow/v2.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/api/2.0/mlflow/runs/create",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "experiment_id": "0",
        "user_id": "azure-ai-evaluation",
        "start_time": "1730433600000",
        "tags": [
          {
            "key": "mlflow.user",
            "value": "azure-ai-evaluation"
          }
        ],
        "run_name": "test"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "a93ef37e-c4c3-4c64-8512-b0908136abb5",
        "x-aml-cluster": "vienna-eastus2-01",
        "x-ms-response-type": "standard",
        "x-request-time": "0.387"
      },
      "ResponseBody": {
        "run": {
          "info": {
            "run_uuid": "47ba4fdd-ca92-4ece-8c3b-188bb404740f",
            "experiment_id": "44f87b2d-c683-4c64-9545-2081571c054c",
            "run_name": "test",
            "user_id": "948a0784-c4b0-4988-8ac9-592e3cb95ade",
            "status": "RUNNING",
            "start_time": "1730433600000",
            "artifact_uri": "azureml://eastus2.api.azureml.ms/mlflow/v2.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/experiments/0/runs/47ba4fdd-ca92-4ece-8c3b-188bb404740f/artifacts",
            "lifecycle_stage": "active",
            "run_id": "47ba4fdd-ca92-4ece-8c3b-188bb404740f"
          },
          "data": {
            "tags": [
              {
                "key": "mlflow.user",
                "value": "azure-ai-evaluation"
              },
              {
                "key": "mlflow.rootRunId",
                "value": "47ba4fdd-ca92-4ece-8c3b-188bb404740f"
              },
              {
                "key": "mlflow.runName",
                "value": "test"
              },
              {
                "key": "mlflow.user",
                "value": "Miles Holland"
              }
            ]
          },
          "inputs": {}
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores?api-version=2024-07-01-preview&isDefault=True&count=1&orderByAsc=false",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-eastus2-02",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099",
        "x-ms-response-type": "standard",
        "x-request-time": "0.168"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "Sanitized",
            "name": "Sanitized",
            "type": "Microsoft.MachineLearningServices/workspaces/00000",
            "properties": {
              "description": null,
              "tags": null,
              "properties": null,
              "isDefault": true,
              "credentials": {
                "credentialsType": "None"
              },
              "subscriptionId": "e72e5254-f265-4e95-9bd2-9ee8e7329051",
              "resourceGroup": "Sanitized",
              "datastoreType": "AzureBlob",
              "accountName": "Sanitized",
              "containerName": "75672839-9ef1-49d4-8974-4541177d2224-azureml-blobstore",
              "endpoint": "core.windows.net",
              "protocol": "https",
              "serviceDataAccessAuthIdentity": "WorkspaceSystemAssignedIdentity"
            },
            "systemData": {
              "createdAt": "2025-01-09T20:49:36.2357684+00:00",
              "lastModifiedAt": "2025-01-09T20:49:36.7504401+00:00",
              "lastModifiedBy": "Sanitized",
              "lastModifiedByType": "Application"
            }
          }
        ]
      }
    },
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/75672839-9ef1-49d4-8974-4541177d2224-azureml-blobstore/promptflow/PromptFlowArtifacts/47ba4fdd-ca92-4ece-8c3b-188bb404740f/instance_results.jsonl",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 25 Mar 2025 14:48:45 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "eyJmMSI6IDAuNX0=",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "diUhBBdPqiF5HmMm8IgKdw==",
        "ETag": "\"0x8DD6BAC25A5BCFB\"",
        "Last-Modified": "Tue, 25 Mar 2025 14:48:46 GMT",
        "x-ms-content-crc64": "5eDdDLCk6vg=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/75672839-9ef1-49d4-8974-4541177d2224-azureml-blobstore/promptflow/PromptFlowArtifacts/47ba4fdd-ca92-4ece-8c3b-188bb404740f/internal_dir/test.json",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 25 Mar 2025 14:48:47 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "eyJpbnRlcm5hbF9mMSI6IDAuNn0=",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "ajrc77H5/pKmiiAzHB+q7A==",
        "ETag": "\"0x8DD6BAC25B7AA37\"",
        "Last-Modified": "Tue, 25 Mar 2025 14:48:46 GMT",
        "x-ms-content-crc64": "+o3ucAmEJMI=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://Sanitized.api.azureml.ms/artifact/v2.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/artifacts/register",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "origin": "ExperimentRun",
        "container": "dcid.47ba4fdd-ca92-4ece-8c3b-188bb404740f",
        "path": "instance_results.jsonl",
        "dataPath": {
          "dataStoreName": "Sanitized",
          "relativePath": "promptflow/PromptFlowArtifacts/47ba4fdd-ca92-4ece-8c3b-188bb404740f/instance_results.jsonl"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "551f0be2-1fbc-42ad-b91e-317ebe6bca09",
        "x-aml-cluster": "vienna-eastus2-01",
        "x-ms-response-type": "standard",
        "x-request-time": "0.216"
      },
      "ResponseBody": {
        "artifactId": "ExperimentRun/dcid.47ba4fdd-ca92-4ece-8c3b-188bb404740f/instance_results.jsonl",
        "origin": "ExperimentRun",
        "container": "dcid.47ba4fdd-ca92-4ece-8c3b-188bb404740f",
        "path": "instance_results.jsonl",
        "etag": "Sanitized",
        "createdTime": "2025-03-25T14:48:47.9005709+00:00",
        "dataPath": {
          "dataStoreName": "Sanitized",
          "relativePath": "promptflow/PromptFlowArtifacts/47ba4fdd-ca92-4ece-8c3b-188bb404740f/instance_results.jsonl"
        },
        "tags": {}
      }
    },
    {
      "RequestUri": "https://Sanitized.api.azureml.ms/mlflow/v2.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/api/2.0/mlflow/runs/update",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "run_uuid": "47ba4fdd-ca92-4ece-8c3b-188bb404740f",
        "status": "FINISHED",
        "end_time": "1730433660000",
        "run_id": "47ba4fdd-ca92-4ece-8c3b-188bb404740f"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "276d0323-b5ed-49fb-a003-cfc602acf17e",
        "x-aml-cluster": "vienna-eastus2-01",
        "x-ms-response-type": "standard",
        "x-request-time": "1.551"
      },
      "ResponseBody": {
        "run_info": {
          "run_uuid": "47ba4fdd-ca92-4ece-8c3b-188bb404740f",
          "experiment_id": "44f87b2d-c683-4c64-9545-2081571c054c",
          "run_name": "test",
          "user_id": "948a0784-c4b0-4988-8ac9-592e3cb95ade",
          "status": "FINISHED",
          "start_time": "1730433600000",
          "end_time": "1730433660000",
          "lifecycle_stage": "active",
          "run_id": "47ba4fdd-ca92-4ece-8c3b-188bb404740f"
        }
      }
    }
  ],
  "Variables": {}
}
