{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.services.visualstudio.com/v2.1/track",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": "[{\"ver\":1,\"name\":\"Sanitized\",\"time\":\"2024-12-02T19:28:02.480134Z\",\"sampleRate\":100.0,\"iKey\":\"8b52b368-4c91-4226-b7f7-be52822f0509\",\"tags\":{\"ai.device.locale\":\"en_US\",\"ai.device.osVersion\":\"#1 SMP Tue Nov 5 00:21:55 UTC 2024\",\"ai.device.type\":\"Other\",\"ai.internal.sdkVersion\":\"ulm_py3.10.8:otel1.27.0:ext1.0.0b29\",\"ai.cloud.role\":\"pytest\",\"ai.internal.nodeName\":\"DESKTOP-6LF3OM4\",\"ai.operation.id\":\"00000000000000000000000000000000\",\"ai.operation.parentId\":\"0000000000000000\"},\"data\":{\"baseType\":\"EventData\",\"baseData\":{\"ver\":2,\"name\":\"Sanitized\",\"properties\":{\"level\":\"INFO\",\"from_ci\":\"False\",\"request_id\":\"47c39c62-ae54-4a13-8c9d-c0601e519207\",\"first_call\":\"True\",\"activity_name\":\"pf.runs.update\",\"activity_type\":\"PublicApi\",\"user_agent\":\"promptflow-sdk/1.15.0\",\"python_version\":\"3.10.8\",\"installation_id\":\"598f6358-220a-587a-af7c-a7eba37e65c0\"}}}},{\"ver\":1,\"name\":\"Sanitized\",\"time\":\"2024-12-02T19:28:02.500834Z\",\"sampleRate\":100.0,\"iKey\":\"8b52b368-4c91-4226-b7f7-be52822f0509\",\"tags\":{\"ai.device.locale\":\"en_US\",\"ai.device.osVersion\":\"#1 SMP Tue Nov 5 00:21:55 UTC 2024\",\"ai.device.type\":\"Other\",\"ai.internal.sdkVersion\":\"ulm_py3.10.8:otel1.27.0:ext1.0.0b29\",\"ai.cloud.role\":\"pytest\",\"ai.internal.nodeName\":\"DESKTOP-6LF3OM4\",\"ai.operation.id\":\"0000000000000[...]
