{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.services.ai.azure.com/api/projects/00000/redTeams/simulation/attackobjectives?api-version=2025-11-15-preview&riskTypes=&riskCategory=sensitive_data_leakage&lang=en&targetType=agent",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 403,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-swedencentral-01",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "1cd6e9b7-f11b-43bb-877b-8b6417d9d9cf",
        "x-ms-region": "Sweden Central",
        "x-ms-response-type": "error",
        "x-request-time": "0.014"
      },
      "ResponseBody": {
        "error": {
          "code": "UserError",
          "severity": null,
          "message": "Authorization failed for seeds",
          "messageFormat": "Authorization failed for {resourceName}",
          "messageParameters": {
            "resourceName": "seeds"
          },
          "referenceCode": null,
          "detailsUri": null,
          "target": null,
          "details": [],
          "innerError": {
            "code": "Auth",
            "innerError": {
              "code": "Authorization",
              "innerError": null
            }
          },
          "debugInfo": null,
          "additionalInfo": null
        },
        "correlation": {
          "operation": "39e02158e951ae3424216309ff8b29a5",
          "request": "f846455f3c4988b0"
        },
        "environment": "swedencentral",
        "location": "swedencentral",
        "time": "2026-03-06T20:20:12.9520918+00:00",
        "componentName": "raisvc",
        "statusCode": 403
      }
    },
    {
      "RequestUri": "https://Sanitized.services.ai.azure.com/api/projects/00000/redTeams/simulation/attackobjectives?api-version=2025-11-15-preview&riskTypes=&riskCategory=sensitive_data_leakage&lang=en&targetType=model",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-swedencentral-01",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "44bb59bd-e83a-47a7-a1a2-a1cae8016f4e",
        "x-ms-region": "Sweden Central",
        "x-ms-response-type": "standard",
        "x-request-time": "0.233"
      },
      "ResponseBody": "[]"
    },
[...]
    {
      "RequestUri": "https://Sanitized.services.ai.azure.com/api/projects/00000/redTeams/simulation/attackobjectives?api-version=2025-11-15-preview&riskTypes=&riskCategory=sensitive_data_leakage&lang=en&targetType=model",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-swedencentral-01",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "49b23081-84b4-4301-8cbd-24d57de4cb30",
        "x-ms-region": "Sweden Central",
        "x-ms-response-type": "standard",
        "x-request-time": "0.036"
      },
      "ResponseBody": "[]"
    }
  ],
  "Variables": {}
}
