{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000?api-version=2024-07-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-eastus2-01",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099",
        "x-ms-response-type": "standard",
        "x-request-time": "0.053"
      },
      "ResponseBody": {
        "id": "Sanitized",
        "name": "Sanitized",
        "type": "Microsoft.MachineLearningServices/workspaces",
        "location": "eastus2",
        "tags": {},
        "etag": null,
        "properties": {
          "friendlyName": "Sanitized",
          "description": "",
          "storageAccount": "Sanitized",
          "keyVault": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.Keyvault/vaults/pfevalsws6060895277",
          "applicationInsights": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.insights/components/pfevalsws5633893788",
          "hbiWorkspace": false,
          "tenantId": "00000000-0000-0000-0000-000000000000",
          "imageBuildCompute": null,
          "provisioningState": "Succeeded",
          "managedNetwork": {
            "isolationMode": "Disabled"
          },
          "allowRoleAssignmentOnRG": true,
          "v1LegacyMode": false,
          "softDeleteEnabled": false,
          "containerRegistry": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.ContainerRegistry/registries/36e33176ada8420e890d983e519a75b1",
          "creationTime": "2024-04-19T21:40:16.2206428Z",
          "notebookInfo": {
            "resourceId": "7268daaaad9d4c82951d0d089cd9fdf2",
            "fqdn": "ml-00000-eastus2-36e33176-ada8-420e-890d-983e519a75b1.eastus2.notebooks.azure.net",
            "isPrivateLinkEnabled": false,
            "notebookPreparationError": null
          },
          "storageHnsEnabled": false,
          "workspaceId": "36e33176-ada8-420e-890d-983e519a75b1",
          "linkedModelInventoryArmId": null,
          "privateLinkCount": 0,
          "publicNetworkAccess": "Enabled",
          "ipAllowlist": [],
          "discoveryUrl": "https://eastus2.api.azureml.ms/discovery",
          "mlFlowTrackingUri": "azureml://eastus2.api.azureml.ms/mlflow/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000",
          "serverlessComputeSettings": null,
          "EnableSoftwareBillOfMaterials": false,
          "sdkTelemetryAppInsightsKey": "e1f7b545-6243-4abf-ba76-c5691d2edb62",
          "sasGetterUri": "",
          "enableDataIsolation": false,
          "systemDatastoresAuthMode": null,
          "enableServiceSideCMKEncryption": false
        },
        "identity": {
          "type": "SystemAssigned",
          "principalId": "00000000-0000-0000-0000-000000000000",
          "tenantId": "00000000-0000-0000-0000-000000000000"
        },
        "kind": "Default",
        "sku": {
          "name": "Sanitized",
          "tier": "Basic"
        },
        "systemData": {
          "createdAt": "2024-04-19T21:40:16.2206428Z",
          "createdBy": "Sanitized",
          "createdByType": "User",
          "lastModifiedAt": "2024-04-19T21:40:16.2206428Z",
          "lastModifiedBy": "Sanitized",
          "lastModifiedByType": "User"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.api.azureml.ms/mlflow/v2.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/api/2.0/mlflow/runs/create",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "experiment_id": "0",
        "user_id": "azure-ai-evaluation",
        "start_time": "1730444400000",
        "tags": [
          {
            "key": "mlflow.user",
            "value": "azure-ai-evaluation"
          }
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-eastus2-02",
        "x-ms-response-type": "standard",
        "x-request-time": "0.156"
      },
      "ResponseBody": {
        "run": {
          "info": {
            "run_uuid": "33804b7b-016a-4de8-9a56-2a19db481b80",
            "experiment_id": "34fb7f85-4f86-428b-9c6f-333adf9733a8",
            "run_name": "sincere_rhubarb_q716p1lf",
            "user_id": "9fe402c0-b50b-41e6-9950-7ba3315ab6c4",
            "status": "RUNNING",
            "start_time": "1730444400000",
            "artifact_uri": "azureml://eastus2.api.azureml.ms/mlflow/v2.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/experiments/0/runs/33804b7b-016a-4de8-9a56-2a19db481b80/artifacts",
            "lifecycle_stage": "active",
            "run_id": "33804b7b-016a-4de8-9a56-2a19db481b80"
          },
          "data": {
            "tags": [
              {
                "key": "mlflow.user",
                "value": "azure-ai-evaluation"
              },
              {
                "key": "mlflow.rootRunId",
                "value": "33804b7b-016a-4de8-9a56-2a19db481b80"
              },
              {
                "key": "mlflow.runName",
                "value": "sincere_rhubarb_q716p1lf"
              },
              {
                "key": "mlflow.user",
                "value": "Ralph El Hage"
              }
            ]
          },
          "inputs": {}
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores?api-version=2024-07-01-preview&isDefault=True&count=1&orderByAsc=false",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-eastus2-01",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099",
        "x-ms-response-type": "standard",
        "x-request-time": "0.100"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "Sanitized",
            "name": "Sanitized",
            "type": "Microsoft.MachineLearningServices/workspaces/00000",
            "properties": {
              "description": null,
              "tags": null,
              "properties": null,
              "isDefault": true,
              "credentials": {
                "credentialsType": "AccountKey"
              },
              "subscriptionId": "00000000-0000-0000-0000-000000000000",
              "resourceGroup": "Sanitized",
              "datastoreType": "AzureBlob",
              "accountName": "Sanitized",
              "containerName": "azureml-blobstore-36e33176-ada8-420e-890d-983e519a75b1",
              "endpoint": "core.windows.net",
              "protocol": "https",
              "serviceDataAccessAuthIdentity": "WorkspaceSystemAssignedIdentity"
            },
            "systemData": {
              "createdAt": "2024-04-19T21:40:36.1575562+00:00",
              "createdBy": "Sanitized",
              "createdByType": "Application",
              "lastModifiedAt": "2024-04-19T21:40:36.7341989+00:00",
              "lastModifiedBy": "Sanitized",
              "lastModifiedByType": "Application"
            }
          }
        ]
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores/workspaceblobstore/listSecrets?api-version=2024-07-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "expirableSecret": true,
        "expireAfterHours": 1
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-eastus2-02",
        "x-ms-ratelimit-remaining-subscription-global-writes": "11999",
        "x-ms-ratelimit-remaining-subscription-writes": "799",
        "x-ms-response-type": "standard",
        "x-request-time": "0.204"
      },
      "ResponseBody": {
        "secretsType": "Sas",
        "sasToken": "?sv=Sanitized&sig=Sanitized&se=Sanitized&srt=co&ss=bf&sp=rcuwdl"
      }
    },
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/azureml-blobstore-36e33176-ada8-420e-890d-983e519a75b1/promptflow/PromptFlowArtifacts/sincere_rhubarb_q716p1lf/instance_results.jsonl?sv=Sanitized&sig=Sanitized&se=Sanitized&srt=co&ss=bf&sp=rcuwdl",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 20 Dec 2024 20:05:30 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "eyJvdXRwdXRzLnJlc3BvbnNlIjoiVGhlcmUgaXMgbm90aGluZyBnb29kIHRoZXJlLiIsImlucHV0cy5xdWVyeSI6IkhvdyBsb25nIGlzIGZsaWdodCBmcm9tIEVhcnRoIHRvIExWLTQyNj9gJydcIjxcLz57fXt7XSIsImlucHV0cy5yZXNwb25zZSI6IlRoZXJlIGlzIG5vdGhpbmcgZ29vZCB0aGVyZS4iLCJpbnB1dHMuZ3JvdW5kX3RydXRoIjoiMzkgbGlnaHQgeWVhcnMiLCJvdXRwdXRzLmYxLmYxX3Njb3JlIjowLCJsaW5lX251bWJlciI6MH0NCg==",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "kqAaUo/mbdUO6jWdLjPUnQ==",
        "ETag": "\"0x8DD2131A829DA82\"",
        "Last-Modified": "Fri, 20 Dec 2024 20:05:31 GMT",
        "x-ms-content-crc64": "/hRcrtyXQ9A=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.api.azureml.ms/artifact/v2.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/artifacts/register",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "origin": "ExperimentRun",
        "container": "dcid.33804b7b-016a-4de8-9a56-2a19db481b80",
        "path": "instance_results.jsonl",
        "dataPath": {
          "dataStoreName": "Sanitized",
          "relativePath": "promptflow/PromptFlowArtifacts/sincere_rhubarb_q716p1lf/instance_results.jsonl"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "f63c6538-cd38-4a91-a8f6-4faeaebd19ef",
        "x-aml-cluster": "vienna-eastus2-02",
        "x-ms-response-type": "standard",
        "x-request-time": "0.151"
      },
      "ResponseBody": {
        "artifactId": "ExperimentRun/dcid.33804b7b-016a-4de8-9a56-2a19db481b80/instance_results.jsonl",
        "origin": "ExperimentRun",
        "container": "dcid.33804b7b-016a-4de8-9a56-2a19db481b80",
        "path": "instance_results.jsonl",
        "etag": "Sanitized",
        "createdTime": "2024-12-20T20:05:32.2407708+00:00",
        "dataPath": {
          "dataStoreName": "Sanitized",
          "relativePath": "promptflow/PromptFlowArtifacts/sincere_rhubarb_q716p1lf/instance_results.jsonl"
        },
        "tags": {}
      }
    },
    {
      "RequestUri": "https://Sanitized.api.azureml.ms/history/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/experimentids/34fb7f85-4f86-428b-9c6f-333adf9733a8/runs/33804b7b-016a-4de8-9a56-2a19db481b80",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "runId": "33804b7b-016a-4de8-9a56-2a19db481b80",
        "properties": {
          "runType": "eval_run",
          "_azureml.evaluation_run": "promptflow.BatchRun",
          "_azureml.evaluate_artifacts": "[{\"path\": \"instance_results.jsonl\", \"type\": \"table\"}]"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "7450db1f-4ea3-4df7-a22d-a3639c32f510",
        "x-aml-cluster": "vienna-eastus2-02",
        "x-ms-response-type": "standard",
        "x-request-time": "0.044"
      },
      "ResponseBody": {
        "runNumber": 1734725129,
        "rootRunId": "33804b7b-016a-4de8-9a56-2a19db481b80",
        "createdUtc": "2024-12-20T20:05:28.771+00:00",
        "createdBy": {
          "userObjectId": "00000000-0000-0000-0000-000000000000",
          "userPuId": "0000000000000000",
          "userIdp": null,
          "userAltSecId": null,
          "userIss": "https://sts.windows.net/00000000-0000-0000-0000-000000000000",
          "userTenantId": "00000000-0000-0000-0000-000000000000",
          "userName": "Sanitized",
          "upn": "Sanitized"
        },
        "userId": "Sanitized",
        "token": "Sanitized",
        "tokenExpiryTimeUtc": "2025-01-10T21:41:02.147589+00:00",
        "error": null,
        "warnings": null,
        "revision": 2,
        "statusRevision": 0,
        "runUuid": "0554cfa2-bc57-4517-98a4-506dbe7cdc6d",
        "parentRunUuid": null,
        "rootRunUuid": "0554cfa2-bc57-4517-98a4-506dbe7cdc6d",
        "lastStartTimeUtc": "2024-12-20T20:05:28.771+00:00",
        "currentComputeTime": "00:00:00",
        "computeDuration": null,
        "effectiveStartTimeUtc": "2024-12-20T20:05:28.771+00:00",
        "lastModifiedBy": {
          "userObjectId": "00000000-0000-0000-0000-000000000000",
          "userPuId": "0000000000000000",
          "userIdp": null,
          "userAltSecId": null,
          "userIss": "https://sts.windows.net/00000000-0000-0000-0000-000000000000",
          "userTenantId": "00000000-0000-0000-0000-000000000000",
          "userName": "Sanitized",
          "upn": "Sanitized"
        },
        "lastModifiedUtc": "2024-12-20T20:05:32.9396093+00:00",
        "duration": null,
        "cancelationReason": null,
        "currentAttemptId": 1,
        "runId": "33804b7b-016a-4de8-9a56-2a19db481b80",
        "parentRunId": null,
        "experimentId": "34fb7f85-4f86-428b-9c6f-333adf9733a8",
        "status": "Running",
        "startTimeUtc": "2024-12-20T20:05:28.771+00:00",
        "endTimeUtc": null,
        "scheduleId": null,
        "displayName": "sincere_rhubarb_q716p1lf",
        "name": null,
        "dataContainerId": "dcid.33804b7b-016a-4de8-9a56-2a19db481b80",
        "description": null,
        "hidden": false,
        "runType": null,
        "runTypeV2": {
          "orchestrator": null,
          "traits": [
            "mlflow"
          ],
          "attribution": null,
          "computeType": null
        },
        "properties": {
          "mlflow.artifactUri": "azureml://eastus2.api.azureml.ms/mlflow/v2.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/experiments/0/runs/33804b7b-016a-4de8-9a56-2a19db481b80/artifacts",
          "runType": "eval_run",
          "_azureml.evaluation_run": "promptflow.BatchRun",
          "_azureml.evaluate_artifacts": "[{\"path\": \"instance_results.jsonl\", \"type\": \"table\"}]"
        },
        "parameters": {},
        "actionUris": {},
        "scriptName": null,
        "target": null,
        "uniqueChildRunComputeTargets": [],
        "tags": {
          "mlflow.user": "azure-ai-evaluation"
        },
        "settings": {},
        "services": {},
        "inputDatasets": [],
        "outputDatasets": [],
        "runDefinition": null,
        "jobSpecification": null,
        "primaryMetricName": null,
        "createdFrom": null,
        "cancelUri": null,
        "completeUri": null,
        "diagnosticsUri": null,
        "computeRequest": null,
        "compute": null,
        "retainForLifetimeOfWorkspace": false,
        "queueingInfo": null,
        "inputs": null,
        "outputs": null
      }
    },
    {
      "RequestUri": "https://Sanitized.api.azureml.ms/mlflow/v2.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/api/2.0/mlflow/runs/log-metric",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "run_uuid": "33804b7b-016a-4de8-9a56-2a19db481b80",
        "key": "MA==",
        "value": 0.0,
        "timestamp": "1730444410000",
        "step": 0,
        "run_id": "33804b7b-016a-4de8-9a56-2a19db481b80"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-eastus2-02",
        "x-ms-response-type": "standard",
        "x-request-time": "0.937"
      },
      "ResponseBody": {}
    },
    {
      "RequestUri": "https://Sanitized.api.azureml.ms/mlflow/v2.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/api/2.0/mlflow/runs/update",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "run_uuid": "33804b7b-016a-4de8-9a56-2a19db481b80",
        "status": "FINISHED",
        "end_time": "1730444460000",
        "run_id": "33804b7b-016a-4de8-9a56-2a19db481b80"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-eastus2-02",
        "x-ms-response-type": "standard",
        "x-request-time": "0.410"
      },
      "ResponseBody": {
        "run_info": {
          "run_uuid": "33804b7b-016a-4de8-9a56-2a19db481b80",
          "experiment_id": "34fb7f85-4f86-428b-9c6f-333adf9733a8",
          "run_name": "sincere_rhubarb_q716p1lf",
          "user_id": "9fe402c0-b50b-41e6-9950-7ba3315ab6c4",
          "status": "FINISHED",
          "start_time": "1730444400000",
          "end_time": "1730444460000",
          "lifecycle_stage": "active",
          "run_id": "33804b7b-016a-4de8-9a56-2a19db481b80"
        }
      }
    }
  ],
  "Variables": {}
}
