{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000?api-version=2023-08-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-swedencentral-02",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099",
        "x-ms-response-type": "standard",
        "x-request-time": "0.028"
      },
      "ResponseBody": {
        "id": "Sanitized",
        "name": "Sanitized",
        "type": "Microsoft.MachineLearningServices/workspaces",
        "location": "swedencentral",
        "tags": {},
        "etag": null,
        "properties": {
          "friendlyName": "Sanitized",
          "description": "",
          "storageAccount": "Sanitized",
          "keyVault": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.KeyVault/vaults/kv-naarkalg999971652049",
          "applicationInsights": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.Insights/components/appi-naarkalgaihub999971652049",
          "hbiWorkspace": false,
          "tenantId": "00000000-0000-0000-0000-000000000000",
          "imageBuildCompute": null,
          "provisioningState": "Succeeded",
          "managedNetwork": {
            "isolationMode": "Disabled",
            "enableNetworkMonitor": false
          },
          "allowRoleAssignmentOnRG": false,
          "v1LegacyMode": false,
          "softDeleteEnabled": false,
          "containerRegistry": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.ContainerRegistry/registries/crnaarkalgaihub999971652049",
          "creationTime": "2024-02-23T16:47:15.0571150Z",
          "notebookInfo": {
            "resourceId": "a86387ce0b73461f8fa3015d52a3de12",
            "fqdn": "ml-naarkalga-swedencentral-0b8e0cff-981b-4bca-8a3c-6ee2ffedfd6d.swedencentral.notebooks.azure.net",
            "isPrivateLinkEnabled": false,
            "notebookPreparationError": null
          },
          "storageHnsEnabled": false,
          "workspaceId": "4bcc385f-5984-4898-929d-6baafe4a1e2b",
          "linkedModelInventoryArmId": null,
          "privateLinkCount": 0,
          "publicNetworkAccess": "Enabled",
          "ipAllowlist": [],
          "networkAcls": {
            "defaultAction": "Allow",
            "bypass": "",
            "ipRules": [],
            "resourceAccessRules": []
          },
          "discoveryUrl": "https://swedencentral.api.azureml.ms/discovery",
          "mlFlowTrackingUri": "azureml://swedencentral.api.azureml.ms/mlflow/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000",
          "serverlessComputeSettings": null,
          "EnableSoftwareBillOfMaterials": false,
          "sdkTelemetryAppInsightsKey": "bdcd4fe0-f43b-4030-a6dc-184e01a6add9",
          "sasGetterUri": "",
          "hubResourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000",
          "enableDataIsolation": true,
          "systemDatastoresAuthMode": "accesskey",
          "enableServiceSideCMKEncryption": false
        },
        "identity": {
          "type": "SystemAssigned",
          "principalId": "00000000-0000-0000-0000-000000000000",
          "tenantId": "00000000-0000-0000-0000-000000000000"
        },
        "kind": "Project",
        "sku": {
          "name": "Sanitized",
          "tier": "Basic"
        },
        "systemData": {
          "createdAt": "2024-02-23T16:47:15.057115Z",
          "createdBy": "Sanitized",
          "createdByType": "Application",
          "lastModifiedAt": "2024-02-23T16:47:15.057115Z",
          "lastModifiedBy": "Sanitized",
          "lastModifiedByType": "Application"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.api.azureml.ms/raisvc/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/checkannotation",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-swedencentral-01",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "fe5de64a-6d44-451c-bb08-0757ed223052",
        "x-ms-response-type": "standard",
        "x-request-time": "0.013"
      },
      "ResponseBody": [
        "[\n",
        "  \"content harm\",\n",
        "  \"xpia\",\n",
        "  \"code vulnerability\",\n",
        "  \"inference sensitive attributes\",\n",
        "  \"groundedness\",\n",
        "  \"protected material\",\n",
        "  \"eci\"\n",
        "]"
      ]
    },
    {
      "RequestUri": "https://Sanitized.api.azureml.ms/raisvc/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/submitannotation",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "UserTextList": [
          "<Human>{What is the capital of France?`&#x27;&#x27;&quot;&lt;/&gt;{}{{]}</><System>{Paris}</>"
        ],
        "AnnotationTask": "protected material"
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-swedencentral-01",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://example.com",
        "mise-correlation-id": "2edb4aba-73d7-470f-9669-fae02361ad37",
        "x-ms-response-type": "standard",
        "x-request-time": "0.055"
      },
      "ResponseBody": {
        "location": "https://swedencentral.api.azureml.ms/raisvc/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/operations/77a7bcfd-495a-4c62-95bc-cada99a9ec22",
        "operationResult": null
      }
    },
    {
      "RequestUri": "https://Sanitized.api.azureml.ms/raisvc/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/operations/77a7bcfd-495a-4c62-95bc-cada99a9ec22",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-swedencentral-01",
        "mise-correlation-id": "20312b38-0bc1-4a06-a4e6-40017ad92eb1",
        "x-ms-response-type": "standard",
        "x-request-time": "0.025"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.api.azureml.ms/raisvc/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/operations/77a7bcfd-495a-4c62-95bc-cada99a9ec22",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-swedencentral-01",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "98c77436-2ec2-4c3e-bbda-3e806d8b4889",
        "x-ms-response-type": "standard",
        "x-request-time": "0.019"
      },
      "ResponseBody": [
        "[\n",
        "  {\n",
        "    \"protected_material\": \"{\\\"label\\\":false,\\\"reasoning\\\":\\\"Protected material was not found in the user text.\\\",\\\"version\\\":\\\"0.0\\\"}\"\n",
        "  }\n",
        "]"
      ]
    },
[...]
    {
      "RequestUri": "https://Sanitized.api.azureml.ms/raisvc/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/operations/62f11764-3536-4672-ad22-e4aefba0262d",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-swedencentral-01",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "8e34f6ea-782b-4647-839e-20a066f63bd4",
        "x-ms-response-type": "standard",
        "x-request-time": "0.015"
      },
      "ResponseBody": [
        "[\n",
        "  {\n",
        "    \"protected_material\": \"{\\\"label\\\":false,\\\"reasoning\\\":\\\"Protected material was not found in the user text.\\\",\\\"version\\\":\\\"0.0\\\"}\"\n",
        "  }\n",
        "]"
      ]
    }
  ],
  "Variables": {}
}
