{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.services.ai.azure.com/api/projects/00000/sync_evals:run?api-version=2025-11-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "name": "Sanitized",
        "data_source": {
          "type": "jsonl",
          "source": {
            "type": "file_content",
            "content": {
              "item": {
                "type": "azure_ai_query_response_inline_message",
                "query": "query",
                "response": "Rhombus",
                "context": "Rhombus is a shape with 4 equilateral sides."
              }
            }
          }
        },
        "testing_criteria": [
          {
            "type": "azure_ai_evaluator",
            "name": "Sanitized",
            "evaluator_name": "groundedness",
            "data_mapping": {
              "query": "{{item.query}}",
              "response": "{{item.response}}"
            }
          }
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus2euap-02",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "51f5aa9e-6c99-4915-83cc-c2c4e106b7e2",
        "x-http2-stream-id": "7",
        "x-ms-region": "East US 2 EUAP",
        "x-ms-response-type": "standard",
        "x-request-time": "3.380"
      },
      "ResponseBody": {
        "object": "eval.run.output_item",
        "id": null,
        "run_id": null,
        "eval_id": null,
        "created_at": 1765831403,
        "status": "completed",
        "datasource_item_id": null,
        "datasource_item": {
          "query": "query",
          "response": "Rhombus",
          "context": "Rhombus is a shape with 4 equilateral sides."
        },
        "results": [
          {
            "type": "azure_ai_evaluator",
            "name": "Sanitized",
            "passed": true,
            "score": 2.0,
            "metric": "groundedness",
            "label": null,
            "threshold": null,
            "reason": "The RESPONSE is related to the general topic but does not answer the QUERY or provide relevant details from the CONTEXT.",
            "sample": null,
            "properties": {
              "outcome": "pass",
              "scoreProperties": {
                "reasoning": "The RESPONSE is related to the general topic but does not answer the QUERY or provide relevant details from the CONTEXT."
              },
              "metrics": {
                "promptTokens": "4",
                "completionTokens": "131"
              },
              "reasoning": "The RESPONSE is related to the general topic but does not answer the QUERY or provide relevant details from the CONTEXT."
            }
          }
        ],
        "sample": null
      }
    },
[...]
