{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.in.applicationinsights.azure.com/v2.1/track",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": "[{\"ver\": 1, \"name\": \"Microsoft.ApplicationInsights.Event\", \"time\": \"2024-09-11T22:33:44.640511Z\", \"sampleRate\": 100.0, \"iKey\": \"8b52b368-4c91-4226-b7f7-be52822f0509\", \"tags\": {\"ai.device.locale\": \"en_US\", \"ai.device.osVersion\": \"#40~22.04.3-Ubuntu SMP PREEMPT_DYNAMIC Tue Jul 30 17:30:19 UTC 2\", \"ai.device.type\": \"Other\", \"ai.internal.sdkVersion\": \"ulm_py3.8.18:otel1.26.0:ext1.0.0b28\", \"ai.cloud.role\": \"pytest\", \"ai.internal.nodeName\": \"kd-XPS-15-9560\", \"ai.operation.id\": \"00000000000000000000000000000000\", \"ai.operation.parentId\": \"0000000000000000\"}, \"data\": {\"baseType\": \"EventData\", \"baseData\": {\"ver\": 2, \"name\": \"pf.runs.update.start\", \"properties\": {\"level\": \"INFO\", \"from_ci\": \"False\", \"request_id\": \"eff6f572-6eb0-4719-b6d9-1f3e936f69ba\", \"first_call\": \"True\", \"activity_name\": \"pf.runs.update\", \"activity_type\": \"PublicApi\", \"user_agent\": \"promptflow-sdk/1.15.0 promptflow-core/1.15.0\", \"python_version\": \"3.8.18\", \"installation_id\": \"99a823f5-d24e-5b80-8a93-a74e77a63ac9\"}}}}, {\"ver\": 1, \"name\": \"Microsoft.ApplicationInsights.Event\", \"time\": \"2024-09-11T22:33:44.649984Z\", \"sampleRate\": 100.0, \"iKey\": \"8b52b368-4c91-4226-b7f7-be52822f0509\", \"tags\": {\"ai.device.locale\": \"en_US\", \"ai.device.osVersion\": \"#40~22.04.3-Ubuntu SMP PREEMPT_DYNAMIC Tue Jul 30 17:30:19 UTC 2\", \"ai.device.type\": \"Other\", \"ai.internal.sdkVersion\": \"ulm_py3.8.18:otel1.26.0:ext1.0.0b28\", \"ai.cloud.role\": \"pytest\", \[...]
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000?api-version=2023-08-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-westus-01",
        "x-ms-ratelimit-remaining-subscription-reads": "11998",
        "x-ms-response-type": "standard",
        "x-request-time": "0.030"
      },
      "ResponseBody": {
        "id": "Sanitized",
        "name": "pf-evals-ws-westus2",
        "type": "Microsoft.MachineLearningServices/workspaces",
        "location": "westus",
        "tags": {
          "AgentsEndpointUri": "https://westus.api.azureml.ms/agents/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000"
        },
        "etag": null,
        "properties": {
          "friendlyName": "Sanitized",
          "description": "",
          "storageAccount": "Sanitized",
          "keyVault": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.KeyVault/vaults/kv-azureaie615587030424",
          "applicationInsights": null,
          "hbiWorkspace": false,
          "tenantId": "00000000-0000-0000-0000-000000000000",
          "imageBuildCompute": null,
          "provisioningState": "Succeeded",
          "managedNetwork": {
            "changeableIsolationModes": [
              "AllowInternetOutbound",
              "AllowOnlyApprovedOutbound"
            ],
            "isolationMode": "Disabled"
          },
          "allowRoleAssignmentOnRG": false,
          "v1LegacyMode": false,
          "softDeleteEnabled": false,
          "creationTime": "2024-09-09T17:48:07.2357804Z",
          "notebookInfo": {
            "resourceId": "2356eceaa2984fb29a9b0bca7eb59661",
            "fqdn": "ml-pf-evals-ws-west-westus-cd10c416-6901-458c-b1bf-eb7efae06575.westus.notebooks.azure.net",
            "isPrivateLinkEnabled": false,
            "notebookPreparationError": null
          },
          "storageHnsEnabled": false,
          "workspaceId": "cd10c416-6901-458c-b1bf-eb7efae06575",
          "linkedModelInventoryArmId": null,
          "privateLinkCount": 0,
          "publicNetworkAccess": "Enabled",
          "ipAllowlist": [],
          "discoveryUrl": "https://westus.api.azureml.ms/discovery",
          "mlFlowTrackingUri": "azureml://westus.api.azureml.ms/mlflow/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000",
          "serverlessComputeSettings": null,
          "EnableSoftwareBillOfMaterials": false,
          "sdkTelemetryAppInsightsKey": "23040a33-1c3e-4782-a462-da85bf9238bb",
          "sasGetterUri": "",
          "hubResourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000",
          "enableDataIsolation": true,
          "systemDatastoresAuthMode": "accesskey",
          "enableServiceSideCMKEncryption": false
        },
        "identity": {
          "type": "SystemAssigned",
          "principalId": "00000000-0000-0000-0000-000000000000",
          "tenantId": "00000000-0000-0000-0000-000000000000"
        },
        "kind": "Project",
        "sku": {
          "name": "Basic",
          "tier": "Basic"
        },
        "systemData": {
          "createdAt": "2024-09-09T17:48:07.2357804Z",
          "createdBy": "Sanitized",
          "createdByType": "Application",
          "lastModifiedAt": "2024-09-09T17:48:07.2357804Z",
          "lastModifiedBy": "Sanitized",
          "lastModifiedByType": "Application"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.api.azureml.ms/mlflow/v2.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/api/2.0/mlflow/runs/create",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "experiment_id": "0",
        "user_id": "azure-ai-evaluation",
        "start_time": 1726094030395,
        "tags": [
          {
            "key": "mlflow.user",
            "value": "azure-ai-evaluation"
          }
        ],
        "run_name": "test"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-westus-01",
        "x-ms-response-type": "standard",
        "x-request-time": "0.154"
      },
      "ResponseBody": {
        "run": {
          "info": {
            "run_uuid": "9c57a97f-2239-4de0-a213-2166b13d2b5d",
            "experiment_id": "7c5db2f0-0b62-43b0-a278-b740dfda0ce2",
            "run_name": "test",
            "user_id": "fe10da54-a13e-42a4-81d8-84292e78a646",
            "status": "RUNNING",
            "start_time": "1726094030395",
            "artifact_uri": "azureml://westus.api.azureml.ms/mlflow/v2.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/experiments/0/runs/9c57a97f-2239-4de0-a213-2166b13d2b5d/artifacts",
            "lifecycle_stage": "active",
            "run_id": "9c57a97f-2239-4de0-a213-2166b13d2b5d"
          },
          "data": {
            "tags": [
              {
                "key": "mlflow.user",
                "value": "azure-ai-evaluation"
              },
              {
                "key": "mlflow.rootRunId",
                "value": "9c57a97f-2239-4de0-a213-2166b13d2b5d"
              },
              {
                "key": "mlflow.runName",
                "value": "test"
              },
              {
                "key": "mlflow.user",
                "value": "Firstname Lastname"
              }
            ]
          },
          "inputs": {}
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.api.azureml.ms/mlflow/v2.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/api/2.0/mlflow/runs/update",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "run_uuid": "9c57a97f-2239-4de0-a213-2166b13d2b5d",
        "status": "FINISHED",
        "end_time": 1726094031164,
        "run_id": "9c57a97f-2239-4de0-a213-2166b13d2b5d"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-westus-01",
        "x-ms-response-type": "standard",
        "x-request-time": "0.545"
      },
      "ResponseBody": {
        "run_info": {
          "run_uuid": "9c57a97f-2239-4de0-a213-2166b13d2b5d",
          "experiment_id": "7c5db2f0-0b62-43b0-a278-b740dfda0ce2",
          "run_name": "test",
          "user_id": "fe10da54-a13e-42a4-81d8-84292e78a646",
          "status": "FINISHED",
          "start_time": "1726094030395",
          "end_time": "1726094031313",
          "lifecycle_stage": "active",
          "run_id": "9c57a97f-2239-4de0-a213-2166b13d2b5d"
        }
      }
    }
  ],
  "Variables": {}
}
