{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000?api-version=2024-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-eastus2-01",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099",
        "x-ms-response-type": "standard",
        "x-request-time": "0.031"
      },
      "ResponseBody": {
        "id": "Sanitized",
        "name": "Sanitized",
        "type": "Microsoft.MachineLearningServices/workspaces",
        "location": "eastus2",
        "tags": {},
        "etag": null,
        "properties": {
          "friendlyName": "Sanitized",
          "description": "",
          "storageAccount": "Sanitized",
          "keyVault": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.Keyvault/vaults/pfevalsws6060895277",
          "applicationInsights": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.insights/components/pfevalsws5633893788",
          "hbiWorkspace": false,
          "tenantId": "00000000-0000-0000-0000-000000000000",
          "imageBuildCompute": null,
          "provisioningState": "Succeeded",
          "managedNetwork": {
            "isolationMode": "Disabled"
          },
          "allowRoleAssignmentOnRG": true,
          "v1LegacyMode": false,
          "softDeleteEnabled": false,
          "containerRegistry": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.ContainerRegistry/registries/36e33176ada8420e890d983e519a75b1",
          "creationTime": "2024-04-19T21:40:16.2206428Z",
          "notebookInfo": {
            "resourceId": "7268daaaad9d4c82951d0d089cd9fdf2",
            "fqdn": "ml-00000-eastus2-36e33176-ada8-420e-890d-983e519a75b1.eastus2.notebooks.azure.net",
            "isPrivateLinkEnabled": false,
            "notebookPreparationError": null
          },
          "storageHnsEnabled": false,
          "workspaceId": "36e33176-ada8-420e-890d-983e519a75b1",
          "linkedModelInventoryArmId": null,
          "privateLinkCount": 0,
          "publicNetworkAccess": "Enabled",
          "ipAllowlist": [],
          "discoveryUrl": "https://eastus2.api.azureml.ms/discovery",
          "mlFlowTrackingUri": "azureml://eastus2.api.azureml.ms/mlflow/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000",
          "serverlessComputeSettings": null,
          "EnableSoftwareBillOfMaterials": false,
          "sdkTelemetryAppInsightsKey": "066b0d89-53d2-4b58-8bc8-ac382527e4fb",
          "sasGetterUri": "",
          "enableDataIsolation": false
        },
        "identity": {
          "type": "SystemAssigned",
          "principalId": "00000000-0000-0000-0000-000000000000",
          "tenantId": "00000000-0000-0000-0000-000000000000"
        },
        "kind": "Default",
        "sku": {
          "name": "Sanitized",
          "tier": "Basic"
        },
        "systemData": {
          "createdAt": "2024-04-19T21:40:16.2206428Z",
          "createdBy": "Sanitized",
          "createdByType": "User",
          "lastModifiedAt": "2024-04-19T21:40:16.2206428Z",
          "lastModifiedBy": "Sanitized",
          "lastModifiedByType": "User"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.api.azureml.ms/mlflow/v2.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/api/2.0/mlflow/runs/create",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "experiment_id": "0",
        "user_id": "azure-ai-evaluation",
        "start_time": "1730444400000",
        "tags": [
          {
            "key": "mlflow.user",
            "value": "azure-ai-evaluation"
          }
        ],
        "run_name": "test"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-eastus2-02",
        "x-ms-response-type": "standard",
        "x-request-time": "0.136"
      },
      "ResponseBody": {
        "run": {
          "info": {
            "run_uuid": "2ddd0bb2-b9e9-4f22-ac3f-fd00b6121f46",
            "experiment_id": "34fb7f85-4f86-428b-9c6f-333adf9733a8",
            "run_name": "test",
            "user_id": "9fe402c0-b50b-41e6-9950-7ba3315ab6c4",
            "status": "RUNNING",
            "start_time": "1730444400000",
            "artifact_uri": "azureml://eastus2.api.azureml.ms/mlflow/v2.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/experiments/0/runs/2ddd0bb2-b9e9-4f22-ac3f-fd00b6121f46/artifacts",
            "lifecycle_stage": "active",
            "run_id": "2ddd0bb2-b9e9-4f22-ac3f-fd00b6121f46"
          },
          "data": {
            "tags": [
              {
                "key": "mlflow.user",
                "value": "azure-ai-evaluation"
              },
              {
                "key": "mlflow.rootRunId",
                "value": "2ddd0bb2-b9e9-4f22-ac3f-fd00b6121f46"
              },
              {
                "key": "mlflow.runName",
                "value": "test"
              },
              {
                "key": "mlflow.user",
                "value": "Ralph El Hage"
              }
            ]
          },
          "inputs": {}
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores?api-version=2024-10-01&isDefault=True&count=1&orderByAsc=false",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-eastus2-01",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099",
        "x-ms-response-type": "standard",
        "x-request-time": "0.120"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "Sanitized",
            "name": "Sanitized",
            "type": "Microsoft.MachineLearningServices/workspaces/00000",
            "properties": {
              "description": null,
              "tags": null,
              "properties": null,
              "isDefault": true,
              "credentials": {
                "credentialsType": "AccountKey"
              },
              "subscriptionId": "00000000-0000-0000-0000-000000000000",
              "resourceGroup": "Sanitized",
              "datastoreType": "AzureBlob",
              "accountName": "Sanitized",
              "containerName": "azureml-blobstore-36e33176-ada8-420e-890d-983e519a75b1",
              "endpoint": "core.windows.net",
              "protocol": "https",
              "serviceDataAccessAuthIdentity": "WorkspaceSystemAssignedIdentity"
            },
            "systemData": {
              "createdAt": "2024-04-19T21:40:36.1575562+00:00",
              "createdBy": "Sanitized",
              "createdByType": "Application",
              "lastModifiedAt": "2024-04-19T21:40:36.7341989+00:00",
              "lastModifiedBy": "Sanitized",
              "lastModifiedByType": "Application"
            }
          }
        ]
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores/workspaceblobstore/listSecrets?api-version=2024-10-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-eastus2-02",
        "x-ms-ratelimit-remaining-subscription-global-writes": "11999",
        "x-ms-ratelimit-remaining-subscription-writes": "799",
        "x-ms-response-type": "standard",
        "x-request-time": "0.209"
      },
      "ResponseBody": {
        "secretsType": "AccountKey",
        "key": "MA=="
      }
    },
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/azureml-blobstore-36e33176-ada8-420e-890d-983e519a75b1/promptflow/PromptFlowArtifacts/test/instance_results.jsonl",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 27 Nov 2024 10:45:50 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "eyJmMSI6IDAuNX0=",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "diUhBBdPqiF5HmMm8IgKdw==",
        "ETag": "\"0x8DD0ED0A957228B\"",
        "Last-Modified": "Wed, 27 Nov 2024 10:45:51 GMT",
        "x-ms-content-crc64": "5eDdDLCk6vg=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/azureml-blobstore-36e33176-ada8-420e-890d-983e519a75b1/promptflow/PromptFlowArtifacts/test/internal_dir/test.json",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 27 Nov 2024 10:45:50 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": "eyJpbnRlcm5hbF9mMSI6IDAuNn0=",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "ajrc77H5/pKmiiAzHB+q7A==",
        "ETag": "\"0x8DD0ED0A965513B\"",
        "Last-Modified": "Wed, 27 Nov 2024 10:45:51 GMT",
        "x-ms-content-crc64": "+o3ucAmEJMI=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://Sanitized.api.azureml.ms/artifact/v2.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/artifacts/register",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "origin": "ExperimentRun",
        "container": "dcid.2ddd0bb2-b9e9-4f22-ac3f-fd00b6121f46",
        "path": "instance_results.jsonl",
        "dataPath": {
          "dataStoreName": "Sanitized",
          "relativePath": "promptflow/PromptFlowArtifacts/test/instance_results.jsonl"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "e9e44dfc-c52c-4a07-856a-5746bdac8b97",
        "x-aml-cluster": "vienna-eastus2-02",
        "x-ms-response-type": "standard",
        "x-request-time": "0.164"
      },
      "ResponseBody": {
        "artifactId": "ExperimentRun/dcid.2ddd0bb2-b9e9-4f22-ac3f-fd00b6121f46/instance_results.jsonl",
        "origin": "ExperimentRun",
        "container": "dcid.2ddd0bb2-b9e9-4f22-ac3f-fd00b6121f46",
        "path": "instance_results.jsonl",
        "etag": "Sanitized",
        "createdTime": "2024-11-27T10:45:53.0854785+00:00",
        "dataPath": {
          "dataStoreName": "Sanitized",
          "relativePath": "promptflow/PromptFlowArtifacts/test/instance_results.jsonl"
        },
        "tags": {}
      }
    },
    {
      "RequestUri": "https://Sanitized.api.azureml.ms/mlflow/v2.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/api/2.0/mlflow/runs/update",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "run_uuid": "2ddd0bb2-b9e9-4f22-ac3f-fd00b6121f46",
        "status": "FINISHED",
        "end_time": "1730444460000",
        "run_id": "2ddd0bb2-b9e9-4f22-ac3f-fd00b6121f46"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-eastus2-02",
        "x-ms-response-type": "standard",
        "x-request-time": "0.490"
      },
      "ResponseBody": {
        "run_info": {
          "run_uuid": "2ddd0bb2-b9e9-4f22-ac3f-fd00b6121f46",
          "experiment_id": "34fb7f85-4f86-428b-9c6f-333adf9733a8",
          "run_name": "test",
          "user_id": "9fe402c0-b50b-41e6-9950-7ba3315ab6c4",
          "status": "FINISHED",
          "start_time": "1730444400000",
          "end_time": "1730444460000",
          "lifecycle_stage": "active",
          "run_id": "2ddd0bb2-b9e9-4f22-ac3f-fd00b6121f46"
        }
      }
    }
  ],
  "Variables": {}
}
