{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000?api-version=2024-07-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-eastus2-02",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099",
        "x-ms-response-type": "standard",
        "x-request-time": "0.032"
      },
      "ResponseBody": {
        "id": "Sanitized",
        "name": "Sanitized",
        "type": "Microsoft.MachineLearningServices/workspaces",
        "location": "eastus2",
        "tags": {},
        "etag": null,
        "properties": {
          "friendlyName": "Sanitized",
          "description": "",
          "storageAccount": "Sanitized",
          "keyVault": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.Keyvault/vaults/pfevalsws6060895277",
          "applicationInsights": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.insights/components/pfevalsws5633893788",
          "hbiWorkspace": false,
          "tenantId": "00000000-0000-0000-0000-000000000000",
          "imageBuildCompute": null,
          "provisioningState": "Succeeded",
          "managedNetwork": {
            "changeableIsolationModes": [
              "AllowInternetOutbound",
              "AllowOnlyApprovedOutbound"
            ],
            "isolationMode": "Disabled"
          },
          "allowRoleAssignmentOnRG": true,
          "v1LegacyMode": false,
          "softDeleteEnabled": false,
          "containerRegistry": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.ContainerRegistry/registries/36e33176ada8420e890d983e519a75b1",
          "creationTime": "2024-04-19T21:40:16.2206428Z",
          "notebookInfo": {
            "resourceId": "7268daaaad9d4c82951d0d089cd9fdf2",
            "fqdn": "ml-00000-eastus2-36e33176-ada8-420e-890d-983e519a75b1.eastus2.notebooks.azure.net",
            "isPrivateLinkEnabled": false,
            "notebookPreparationError": null
          },
          "storageHnsEnabled": false,
          "workspaceId": "36e33176-ada8-420e-890d-983e519a75b1",
          "linkedModelInventoryArmId": null,
          "privateLinkCount": 0,
          "publicNetworkAccess": "Enabled",
          "ipAllowlist": [],
          "discoveryUrl": "https://eastus2.api.azureml.ms/discovery",
          "mlFlowTrackingUri": "azureml://eastus2.api.azureml.ms/mlflow/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000",
          "serverlessComputeSettings": null,
          "EnableSoftwareBillOfMaterials": false,
          "sdkTelemetryAppInsightsKey": "e1f7b545-6243-4abf-ba76-c5691d2edb62",
          "sasGetterUri": "",
          "enableDataIsolation": false,
          "systemDatastoresAuthMode": null,
          "enableServiceSideCMKEncryption": false
        },
        "identity": {
          "type": "SystemAssigned",
          "principalId": "00000000-0000-0000-0000-000000000000",
          "tenantId": "00000000-0000-0000-0000-000000000000"
        },
        "kind": "Default",
        "sku": {
          "name": "Sanitized",
          "tier": "Basic"
        },
        "systemData": {
          "createdAt": "2024-04-19T21:40:16.2206428Z",
          "createdBy": "Sanitized",
          "createdByType": "User",
          "lastModifiedAt": "2024-04-19T21:40:16.2206428Z",
          "lastModifiedBy": "Sanitized",
          "lastModifiedByType": "User"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.api.azureml.ms/flow/api/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/TraceSessions",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-eastus2-02",
        "x-ms-client-user-type": "ApiUser",
        "x-ms-response-type": "standard",
        "x-request-time": "0.543"
      },
      "ResponseBody": {
        "entityId": "36e33176-ada8-420e-890d-983e519a75b1",
        "traceCosmosConfiguration": "None",
        "traceCosmosStatus": "Initialized",
        "accountEndpoint": "https://pf-36e33176-ada8-420e-890d-983e519a75b1.documents.azure.com:443/",
        "databaseName": "PromptFlowTraceSession",
        "resourceArmId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.DocumentDB/databaseAccounts/pf-36e33176-ada8-420e-890d-983e519a75b1",
        "resourceType": 1
      }
    },
    {
      "RequestUri": "https://Sanitized.services.visualstudio.com/v2.1/track",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": "[{\"ver\":1,\"name\":\"Sanitized\",\"time\":\"2024-12-02T19:41:53.704675Z\",\"sampleRate\":100.0,\"iKey\":\"8b52b368-4c91-4226-b7f7-be52822f0509\",\"tags\":{\"ai.device.locale\":\"en_US\",\"ai.device.osVersion\":\"#1 SMP Tue Nov 5 00:21:55 UTC 2024\",\"ai.device.type\":\"Other\",\"ai.internal.sdkVersion\":\"ulm_py3.10.8:otel1.27.0:ext1.0.0b29\",\"ai.cloud.role\":\"pytest\",\"ai.internal.nodeName\":\"DESKTOP-6LF3OM4\",\"ai.operation.id\":\"00000000000000000000000000000000\",\"ai.operation.parentId\":\"0000000000000000\"},\"data\":{\"baseType\":\"EventData\",\"baseData\":{\"ver\":2,\"name\":\"Sanitized\",\"properties\":{\"level\":\"ERROR\",\"from_ci\":\"False\",\"request_id\":\"11a8c6a3-33c6-4b5f-bd9f-31fc18022480\",\"first_call\":\"False\",\"activity_name\":\"pfazure.runs.upload\",\"activity_type\":\"PublicApi\",\"user_agent\":\"promptflow-sdk/1.15.0 azure-ai-evaluation/1.0.1 promptflow-azure-sdk/1.15.0\",\"subscription_id\":\"00000000-0000-0000-0000-000000000000\",\"resource_group_name\":\"00000\",\"workspace_name\":\"00000\",\"error_category\":\"UserError\",\"error_type\":\"UserAuthenticationError\",\"error_target\":\"ControlPlaneSDK\",\"error_message\":\"\",\"error_detail\":\"promptflow._sdk._telemetry.activity, line 160, yield logger\\npromptflow._sdk._telemetry.activity, line 265, return f(self, *args, **kwargs)\\npromptflow.azure.operations._run_operations, line 964, result_dict = async_run_allowing_running_loop(run_uploader.upload, run=run)\\npromptflow._utils.async_utils, line 96, return asyncio.run(_invoke_async_with_sigint_handler(async_func, *args, **kwargs))\\npromptflow._utils.async_utils, line 70, return await task\\npromptflow.azure.operations._async_run_uploader, line 153, results = await asyncio.gather(*tasks)\\npromptflow.azure.operations._async_run_uploader, line 298, await asyncio.gather(\\npromptflow.azure.operations._async_run_uploader, line 427, await self._upload_single_blob(blob_client, local_file, target_datastore)\\npromptflow.azure.operations._async_run_uploader, line 449, raise UserAuthenticationError(\\n\",\"completion_status\":\"Failure\",\"duration_ms\":\"3173.9\",\"python_version\":\"3.10.8\",\"installation_id\":\"598f6358-220a-587a-af7c-a7eba37e65c0\"}}}},{\"ver\":1,\"name\":\"Sanitized\",\"time\":\"2024-12-02T19:41:53.707434Z\",\"sampleRate\":100.0,\"iKey\":\"8b52b368-4c91-4226-b7f7-be52822f0509\",\"tags\":{\"ai.device.locale\":\"en_US\",\"ai.device.osVersion\":\"#1 SMP Tue Nov 5 00:21:55 UTC 2024\",\"ai.device.type\":\"Other\",\"ai.internal.sdkVersion\":\"ulm_py3.10.8:otel1.27.0:ext1.0.0b29\",\"ai.cloud.role\":\"pytest\",\"ai.internal.nodeName\":\"DESKTOP-6LF3OM4\",\"ai.operation.id\":\"00000000000000000000000000000000\",\"ai.operation.parentId\":\"0000000000000000\"},\"data\":{\"baseType\":\"EventData\",\"baseData\":{\"ver\":2,\"name\":\"Sanitized\",\"properties\":{\"level\":\"ERROR\",\"from_ci\":\"False\",\"request_id\":\"11a8c6a3-33c6-4b5f-bd9f-31fc18022480\",\"first_call\":\"True\",\"activity_name\":\"pf.runs.create_or_update\",\"activity_type\":\"PublicApi\",\"user_agent\":\"promptflow-sdk/1.15.0 azure-ai-evaluation/1.0.1 promptflow-azure-sdk/1.15.0\",\"flow_type\":\"flex\",\"error_category\":\"UserError\",\"error_type\":\"UserAuthenticationError\",\"error_target\":\"ControlPlaneSDK\",\"error_message\":\"\",\"error_detail\":\"promptflow._sdk._telemetry.activity, line 160, yield logger\\npromptflow._sdk._telemetry.activity, line 265, return f(self, *args, **kwargs)\\npromptflow._sdk.operations._run_operations, line 135, created_run = RunSubmitter(client=self._client).submit(run=run, **kwargs)\\npromptflow._sdk._orchestrator.run_submitter, line 58, portal_ur[...]
[...]
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores?api-version=2024-07-01-preview&count=30&isDefault=true&orderByAsc=false",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-eastus2-01",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099",
        "x-ms-response-type": "standard",
        "x-request-time": "0.356"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "Sanitized",
            "name": "Sanitized",
            "type": "Microsoft.MachineLearningServices/workspaces/00000",
            "properties": {
              "description": null,
              "tags": null,
              "properties": null,
              "isDefault": true,
              "credentials": {
                "credentialsType": "AccountKey"
              },
              "subscriptionId": "00000000-0000-0000-0000-000000000000",
              "resourceGroup": "Sanitized",
              "datastoreType": "AzureBlob",
              "accountName": "Sanitized",
              "containerName": "azureml-blobstore-36e33176-ada8-420e-890d-983e519a75b1",
              "endpoint": "core.windows.net",
              "protocol": "https",
              "serviceDataAccessAuthIdentity": "WorkspaceSystemAssignedIdentity"
            },
            "systemData": {
              "createdAt": "2024-04-19T21:40:36.1575562+00:00",
              "createdBy": "Sanitized",
              "createdByType": "Application",
              "lastModifiedAt": "2024-04-19T21:40:36.7341989+00:00",
              "lastModifiedBy": "Sanitized",
              "lastModifiedByType": "Application"
            }
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores/workspaceblobstore/listSecrets?api-version=2024-07-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "expirableSecret": true,
        "expireAfterHours": 1
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-eastus2-02",
        "x-ms-ratelimit-remaining-subscription-global-writes": "11999",
        "x-ms-ratelimit-remaining-subscription-writes": "799",
        "x-ms-response-type": "standard",
        "x-request-time": "0.177"
      },
      "ResponseBody": {
        "secretsType": "Sas",
        "sasToken": "?sv=Sanitized&sig=Sanitized&se=Sanitized&srt=co&ss=bf&sp=rcuwdl"
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores/workspaceartifactstore?api-version=2024-07-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-eastus2-0[...]
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores/workspaceartifactstore/listSecrets?api-version=2024-07-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "expirableSecret": true,
        "expireAfterHours": 1
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-eastus2-02",
        "x-ms-ratelimit-remaining-subscription-global-writes": "11999",
        "x-ms-ratelimit-remaining-subscription-writes": "799",
        "x-ms-response-type": "standard",
        "x-request-time": "0.101"
      },
      "ResponseBody": {
        "secretsType": "Sas",
        "sasToken": "?sv=Sanitized&sig=Sanitized&se=Sanitized&srt=co&ss=bf&sp=rcuwdl"
      }
    },
[...]
