{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000?api-version=2024-07-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus2-02",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099",
        "x-ms-response-type": "standard",
        "x-request-time": "0.169"
      },
      "ResponseBody": {
        "id": "Sanitized",
        "name": "Sanitized",
        "type": "Microsoft.MachineLearningServices/workspaces",
        "location": "eastus2",
        "tags": {
          "AgentsEndpointUri": "https://eastus2.api.azureml.ms/agents/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000"
        },
        "etag": null,
        "properties": {
          "friendlyName": "Sanitized",
          "description": "",
          "storageAccount": "Sanitized",
          "keyVault": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.KeyVault/vaults/kv-firstlas432276682704",
          "applicationInsights": null,
          "hbiWorkspace": false,
          "tenantId": "00000000-0000-0000-0000-000000000000",
          "imageBuildCompute": null,
          "provisioningState": "Succeeded",
          "managedNetwork": {
            "isolationMode": "Disabled",
            "enableNetworkMonitor": false
          },
          "allowRoleAssignmentOnRG": false,
          "v1LegacyMode": false,
          "softDeleteEnabled": false,
          "creationTime": "2025-07-09T13:55:20.4794058Z",
          "notebookInfo": {
            "resourceId": "bcd8179197c547eba1c49e21413f1408",
            "fqdn": "ml-firstlast-986-eastus2-445e1d97-8601-4cc9-b982-e127b5f3d13c.eastus2.notebooks.azure.net",
            "isPrivateLinkEnabled": false,
            "notebookPreparationError": null
          },
          "storageHnsEnabled": false,
          "workspaceId": "a57cf376-68da-4c08-8f28-ec58039d4f56",
          "linkedModelInventoryArmId": null,
          "privateLinkCount": 0,
          "publicNetworkAccess": "Enabled",
          "ipAllowlist": [],
          "networkAcls": {
            "defaultAction": "Allow",
            "bypass": "",
            "ipRules": [],
            "resourceAccessRules": []
          },
          "discoveryUrl": "https://eastus2.api.azureml.ms/discovery",
          "mlFlowTrackingUri": "azureml://eastus2.api.azureml.ms/mlflow/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000",
          "serverlessComputeSettings": null,
          "EnableSoftwareBillOfMaterials": false,
          "sdkTelemetryAppInsightsKey": "066b0d89-53d2-4b58-8bc8-ac382527e4fb",
          "sasGetterUri": "",
          "hubResourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000",
          "enableDataIsolation": true,
          "systemDatastoresAuthMode": "accesskey",
          "enableServiceSideCMKEncryption": false,
          "lazyInitSystemDatastores": false
        },
        "identity": {
          "type": "SystemAssigned",
          "principalId": "00000000-0000-0000-0000-000000000000",
          "tenantId": "00000000-0000-0000-0000-000000000000"
        },
        "kind": "Project",
        "sku": {
          "name": "Sanitized",
          "tier": "Basic"
        },
        "systemData": {
          "createdAt": "2025-07-09T13:55:20.4794058Z",
          "createdBy": "Sanitized",
          "createdByType": "Application",
          "lastModifiedAt": "2025-07-09T13:55:20.4794058Z",
          "lastModifiedBy": "Sanitized",
          "lastModifiedByType": "Application"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.api.azureml.ms/mlflow/v2.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/api/2.0/mlflow/runs/create",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "experiment_id": "0",
        "user_id": "azure-ai-evaluation",
        "start_time": "1730433600000",
        "tags": [
          {
            "key": "mlflow.user",
            "value": "azure-ai-evaluation"
          }
        ],
        "run_name": "test"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus2-01",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "148c888a-be44-40be-871b-a4b2599de31c",
        "x-ms-response-type": "standard",
        "x-request-time": "0.134"
      },
      "ResponseBody": {
        "run": {
          "info": {
            "run_uuid": "3b62e7f3-595d-4a37-9b38-08373e1c91aa",
            "experiment_id": "41039c7f-7a99-44b0-9101-e11f7be37f81",
            "run_name": "test",
            "user_id": "fe10da54-a13e-42a4-81d8-84292e78a646",
            "status": "RUNNING",
            "start_time": "1730433600000",
            "artifact_uri": "azureml://eastus2.api.azureml.ms/mlflow/v2.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/experiments/0/runs/3b62e7f3-595d-4a37-9b38-08373e1c91aa/artifacts",
            "lifecycle_stage": "active",
            "run_id": "3b62e7f3-595d-4a37-9b38-08373e1c91aa"
          },
          "data": {
            "tags": [
              {
                "key": "mlflow.user",
                "value": "azure-ai-evaluation"
              },
              {
                "key": "mlflow.rootRunId",
                "value": "3b62e7f3-595d-4a37-9b38-08373e1c91aa"
              },
              {
                "key": "mlflow.runName",
                "value": "test"
              },
              {
                "key": "mlflow.user",
                "value": "Kevin Destin"
              }
            ]
          },
          "inputs": {}
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores?api-version=2024-07-01-preview&isDefault=True&count=1&orderByAsc=false",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus2-02",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099",
        "x-ms-response-type": "standard",
        "x-request-time": "0.156"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "Sanitized",
            "name": "Sanitized",
            "type": "Microsoft.MachineLearningServices/workspaces/00000",
            "properties": {
              "description": null,
              "tags": null,
              "properties": null,
              "isDefault": true,
              "credentials": {
                "credentialsType": "Sas"
              },
              "subscriptionId": "00000000-0000-0000-0000-000000000000",
              "resourceGroup": "Sanitized",
              "datastoreType": "AzureBlob",
              "accountName": "Sanitized",
              "containerName": "a57cf376-68da-4c08-8f28-ec58039d4f56-azureml-blobstore",
              "endpoint": "core.windows.net",
              "protocol": "https",
              "serviceDataAccessAuthIdentity": "WorkspaceSystemAssignedIdentity"
            },
            "systemData": {
              "createdAt": "2025-07-09T13:55:39.3509595+00:00",
              "lastModifiedAt": "2025-07-09T13:55:41.485251+00:00",
              "lastModifiedBy": "Sanitized",
              "lastModifiedByType": "Application"
            }
          }
        ]
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores/workspaceblobstore/listSecrets?api-version=2024-07-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "expirableSecret": true,
        "expireAfterHours": 1
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus2-02",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-writes": "11999",
        "x-ms-ratelimit-remaining-subscription-writes": "799",
        "x-ms-response-type": "standard",
        "x-request-time": "0.277"
      },
      "ResponseBody": {
        "secretsType": "Sas",
        "sasToken": "sv=2025-01-05&si=azureml-system-datastore-policy&sr=c&sig=Sanitized"
      }
    },
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/a57cf376-68da-4c08-8f28-ec58039d4f56-azureml-blobstore/promptflow/PromptFlowArtifacts/3b62e7f3-595d-4a37-9b38-08373e1c91aa/instance_results.jsonl?sv=Sanitized&si=azureml-system-datastore-policy&sr=c&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 11 Jul 2025 22:54:23 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": "eyJmMSI6IDAuNX0=",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "diUhBBdPqiF5HmMm8IgKdw==",
        "ETag": "\"0x8DDC0CDE15A9709\"",
        "Last-Modified": "Fri, 11 Jul 2025 22:54:23 GMT",
        "x-ms-content-crc64": "5eDdDLCk6vg=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/a57cf376-68da-4c08-8f28-ec58039d4f56-azureml-blobstore/promptflow/PromptFlowArtifacts/3b62e7f3-595d-4a37-9b38-08373e1c91aa/internal_dir/test.json?sv=Sanitized&si=azureml-system-datastore-policy&sr=c&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 11 Jul 2025 22:54:23 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": "eyJpbnRlcm5hbF9mMSI6IDAuNn0=",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "ajrc77H5/pKmiiAzHB+q7A==",
        "ETag": "\"0x8DDC0CDE16208B1\"",
        "Last-Modified": "Fri, 11 Jul 2025 22:54:23 GMT",
        "x-ms-content-crc64": "+o3ucAmEJMI=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://Sanitized.api.azureml.ms/artifact/v2.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/artifacts/register",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "origin": "ExperimentRun",
        "container": "dcid.3b62e7f3-595d-4a37-9b38-08373e1c91aa",
        "path": "instance_results.jsonl",
        "dataPath": {
          "dataStoreName": "Sanitized",
          "relativePath": "promptflow/PromptFlowArtifacts/3b62e7f3-595d-4a37-9b38-08373e1c91aa/instance_results.jsonl"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus2-01",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "a80467a6-15e1-4e4b-8a97-2e999a0df7a0",
        "x-ms-response-type": "standard",
        "x-request-time": "0.286"
      },
      "ResponseBody": {
        "artifactId": "ExperimentRun/dcid.3b62e7f3-595d-4a37-9b38-08373e1c91aa/instance_results.jsonl",
        "origin": "ExperimentRun",
        "container": "dcid.3b62e7f3-595d-4a37-9b38-08373e1c91aa",
        "path": "instance_results.jsonl",
        "etag": "Sanitized",
        "createdTime": "2025-07-11T22:54:25.6816298+00:00",
        "dataPath": {
          "dataStoreName": "Sanitized",
          "relativePath": "promptflow/PromptFlowArtifacts/3b62e7f3-595d-4a37-9b38-08373e1c91aa/instance_results.jsonl"
        },
        "tags": {}
      }
    },
    {
      "RequestUri": "https://Sanitized.api.azureml.ms/mlflow/v2.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/api/2.0/mlflow/runs/update",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "run_uuid": "3b62e7f3-595d-4a37-9b38-08373e1c91aa",
        "status": "FINISHED",
        "end_time": "1730433660000",
        "run_id": "3b62e7f3-595d-4a37-9b38-08373e1c91aa"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus2-01",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "006f19a9-1b09-4d18-89d8-715b14a7a85f",
        "x-ms-response-type": "standard",
        "x-request-time": "0.518"
      },
      "ResponseBody": {
        "run_info": {
          "run_uuid": "3b62e7f3-595d-4a37-9b38-08373e1c91aa",
          "experiment_id": "41039c7f-7a99-44b0-9101-e11f7be37f81",
          "run_name": "test",
          "user_id": "fe10da54-a13e-42a4-81d8-84292e78a646",
          "status": "FINISHED",
          "start_time": "1730433600000",
          "end_time": "1730433660000",
          "lifecycle_stage": "active",
          "run_id": "3b62e7f3-595d-4a37-9b38-08373e1c91aa"
        }
      }
    }
  ],
  "Variables": {}
}
