{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.services.ai.azure.com/api/projects/00000/evaluations/checkannotation?api-version=2025-05-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus2euap-01",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "0ff630eb-9d77-4a2d-8816-7a3d423bf75b",
        "x-http2-stream-id": "47",
        "x-ms-region": "East US 2 EUAP",
        "x-ms-response-type": "standard",
        "x-request-time": "0.014"
      },
      "ResponseBody": [
        "[\n",
        "  \"content harm\",\n",
        "  \"xpia\",\n",
        "  \"code vulnerability\",\n",
        "  \"inference sensitive attributes\",\n",
        "  \"groundedness\",\n",
        "  \"protected material\",\n",
        "  \"eci\"\n",
        "]"
      ]
    },
    {
      "RequestUri": "https://Sanitized.services.ai.azure.com/api/projects/00000/evaluations/submitannotation?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "UserTextList": [
          "{\"question\": \"What shape has 4 equilateral sides?\", \"answer\": \"Rhombus\", \"context\": \"Rhombus is a shape with 4 equilateral sides.\"}"
        ],
        "AnnotationTask": "groundedness",
        "MetricList": [
          "generic_groundedness"
        ]
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus2euap-01",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://example.com",
        "mise-correlation-id": "52d7b4c1-6b37-4d57-8adb-7c9c7deafced",
        "x-http2-stream-id": "49",
        "x-ms-region": "East US 2 EUAP",
        "x-ms-response-type": "standard",
        "x-request-time": "0.086"
      },
      "ResponseBody": {
        "location": "https://eastus2euap.api.azureml.ms/raisvc/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000@anksingtest1rpproject@AML/operations/e7306b1b-91e0-48d8-9527-36ea4b3cc43a",
        "operationResult": null
      }
    },
    {
      "RequestUri": "https://Sanitized.services.ai.azure.com/api/projects/00000/evaluations/operations/e7306b1b-91e0-48d8-9527-36ea4b3cc43a?api-version=2025-05-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus2euap-01",
        "mise-correlation-id": "9527a7cc-d255-4d77-8273-75bd8179ff0e",
        "x-http2-stream-id": "49",
        "x-ms-region": "East US 2 EUAP",
        "x-ms-response-type": "standard",
        "x-request-time": "0.059"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.services.ai.azure.com/api/projects/00000/evaluations/operations/e7306b1b-91e0-48d8-9527-36ea4b3cc43a?api-version=2025-05-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus2euap-01",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "8e938e5f-eddf-4731-a1de-bc21e5ae5ea9",
        "x-http2-stream-id": "49",
        "x-ms-region": "East US 2 EUAP",
        "x-ms-response-type": "standard",
        "x-request-time": "0.017"
      },
      "ResponseBody": [
        "[\n",
        "  {\n",
        "    \"generic_groundedness\": \"{\\\"label\\\":\\\"5\\\",\\\"reasoning\\\":\\\"All Contents are grounded\\\",\\\"version\\\":\\\"0.1\\\"}\"\n",
        "  }\n",
        "]"
      ]
    },
[...]
    {
      "RequestUri": "https://Sanitized.services.ai.azure.com/api/projects/00000/evaluations/operations/861bb5e5-d588-444d-bfde-ab0176335013?api-version=2025-05-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus2euap-01",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "622bac0d-00ac-4f9d-af4a-35028dc51a05",
        "x-http2-stream-id": "55",
        "x-ms-region": "East US 2 EUAP",
        "x-ms-response-type": "standard",
        "x-request-time": "0.029"
      },
      "ResponseBody": [
        "[\n",
        "  {\n",
        "    \"generic_groundedness\": \"{\\\"label\\\":\\\"5\\\",\\\"reasoning\\\":\\\"All Contents are grounded\\\",\\\"version\\\":\\\"0.1\\\"}\"\n",
        "  }\n",
        "]"
      ]
    }
  ],
  "Variables": {}
}
