{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.in.applicationinsights.azure.com/v2.1/track",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": "[{\"ver\":1,\"name\":\"Sanitized\",\"time\":\"2024-10-31T19:57:10.645827Z\",\"sampleRate\":100.0,\"iKey\":\"8b52b368-4c91-4226-b7f7-be52822f0509\",\"tags\":{\"ai.device.locale\":\"en_US\",\"ai.device.osVersion\":\"#1 SMP Fri Mar 29 23:14:13 UTC 2024\",\"ai.device.type\":\"Other\",\"ai.internal.sdkVersion\":\"ulm_py3.10.8:otel1.27.0:ext1.0.0b29\",\"ai.cloud.role\":\"pytest\",\"ai.internal.nodeName\":\"DESKTOP-6LF3OM4\",\"ai.operation.id\":\"00000000000000000000000000000000\",\"ai.operation.parentId\":\"0000000000000000\"},\"data\":{\"baseType\":\"EventData\",\"baseData\":{\"ver\":2,\"name\":\"Sanitized\",\"properties\":{\"level\":\"INFO\",\"from_ci\":\"False\",\"request_id\":\"12ce4e84-5b02-41c0-a40e-08664a9fcaf4\",\"first_call\":\"True\",\"activity_name\":\"pf.runs.update\",\"activity_type\":\"PublicApi\",\"user_agent\":\"promptflow-sdk/1.15.0\",\"python_version\":\"3.10.8\",\"installation_id\":\"598f6358-220a-587a-af7c-a7eba37e65c0\"}}}},{\"ver\":1,\"name\":\"Sanitized\",\"time\":\"2024-10-31T19:57:10.66185Z\",\"sampleRate\":100.0,\"iKey\":\"8b52b368-4c91-4226-b7f7-be52822f0509\",\"tags\":{\"ai.device.locale\":\"en_US\",\"ai.device.osVersion\":\"#1 SMP Fri Mar 29 23:14:13 UTC 2024\",\"ai.device.type\":\"Other\",\"ai.internal.sdkVersion\":\"ulm_py3.10.8:otel1.27.0:ext1.0.0b29\",\"ai.cloud.role\":\"pytest\",\"ai.internal.nodeName\":\"DESKTOP-6LF3OM4\",\"ai.operation.id\":\"0000000000000[...]
[...]
