{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000?api-version=2023-08-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-swedencentral-01",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099",
        "x-ms-response-type": "standard",
        "x-request-time": "0.027"
      },
      "ResponseBody": {
        "id": "Sanitized",
        "name": "Sanitized",
        "type": "Microsoft.MachineLearningServices/workspaces",
        "location": "swedencentral",
        "tags": {},
        "etag": null,
        "properties": {
          "friendlyName": "Sanitized",
          "description": "",
          "storageAccount": "Sanitized",
          "keyVault": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.KeyVault/vaults/kv-naarkalg999971652049",
          "applicationInsights": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.Insights/components/appi-naarkalgaihub999971652049",
          "hbiWorkspace": false,
          "tenantId": "00000000-0000-0000-0000-000000000000",
          "imageBuildCompute": null,
          "provisioningState": "Succeeded",
          "managedNetwork": {
            "isolationMode": "Disabled",
            "enableNetworkMonitor": false
          },
          "allowRoleAssignmentOnRG": false,
          "v1LegacyMode": false,
          "softDeleteEnabled": false,
          "containerRegistry": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.ContainerRegistry/registries/crnaarkalgaihub999971652049",
          "creationTime": "2024-02-23T16:47:15.0571150Z",
          "notebookInfo": {
            "resourceId": "a86387ce0b73461f8fa3015d52a3de12",
            "fqdn": "ml-naarkalga-swedencentral-0b8e0cff-981b-4bca-8a3c-6ee2ffedfd6d.swedencentral.notebooks.azure.net",
            "isPrivateLinkEnabled": false,
            "notebookPreparationError": null
          },
          "storageHnsEnabled": false,
          "workspaceId": "4bcc385f-5984-4898-929d-6baafe4a1e2b",
          "linkedModelInventoryArmId": null,
          "privateLinkCount": 0,
          "publicNetworkAccess": "Enabled",
          "ipAllowlist": [],
          "networkAcls": {
            "defaultAction": "Allow",
            "bypass": "",
            "ipRules": [],
            "resourceAccessRules": []
          },
          "discoveryUrl": "https://swedencentral.api.azureml.ms/discovery",
          "mlFlowTrackingUri": "azureml://swedencentral.api.azureml.ms/mlflow/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000",
          "serverlessComputeSettings": null,
          "EnableSoftwareBillOfMaterials": false,
          "sdkTelemetryAppInsightsKey": "bdcd4fe0-f43b-4030-a6dc-184e01a6add9",
          "sasGetterUri": "",
          "hubResourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000",
          "enableDataIsolation": true,
          "systemDatastoresAuthMode": "accesskey",
          "enableServiceSideCMKEncryption": false
        },
        "identity": {
          "type": "SystemAssigned",
          "principalId": "00000000-0000-0000-0000-000000000000",
          "tenantId": "00000000-0000-0000-0000-000000000000"
        },
        "kind": "Project",
        "sku": {
          "name": "Sanitized",
          "tier": "Basic"
        },
        "systemData": {
          "createdAt": "2024-02-23T16:47:15.057115Z",
          "createdBy": "Sanitized",
          "createdByType": "Application",
          "lastModifiedAt": "2024-02-23T16:47:15.057115Z",
          "lastModifiedBy": "Sanitized",
          "lastModifiedByType": "Application"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.api.azureml.ms/raisvc/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/checkannotation",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-swedencentral-01",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "b670f829-5a45-4a4b-9c94-2fdbdd1c2578",
        "x-ms-response-type": "standard",
        "x-request-time": "0.022"
      },
      "ResponseBody": [
        "[\n",
        "  \"content harm\",\n",
        "  \"xpia\",\n",
        "  \"code vulnerability\",\n",
        "  \"inference sensitive attributes\",\n",
        "  \"groundedness\",\n",
        "  \"protected material\",\n",
        "  \"eci\"\n",
        "]"
      ]
    },
    {
      "RequestUri": "https://Sanitized.api.azureml.ms/raisvc/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/submitannotation",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "UserTextList": [
          "{\"question\": \"\", \"answer\": \"Paris\", \"context\": \"{'global_context': 'Global context', 'query_context': 'Customer wants to know the capital of France', 'response_context': 'Paris is the capital of France'}\"}"
        ],
        "AnnotationTask": "groundedness",
        "MetricList": [
          "generic_groundedness"
        ]
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-swedencentral-01",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://example.com",
        "mise-correlation-id": "85ec63c7-d40b-478e-b31d-e6bddf7a4408",
        "x-ms-response-type": "standard",
        "x-request-time": "0.058"
      },
      "ResponseBody": {
        "location": "https://swedencentral.api.azureml.ms/raisvc/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/operations/f84a7ed9-409e-456d-977b-4512bab49b2b",
        "operationResult": null
      }
    },
    {
      "RequestUri": "https://Sanitized.api.azureml.ms/raisvc/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/operations/f84a7ed9-409e-456d-977b-4512bab49b2b",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-swedencentral-01",
        "mise-correlation-id": "a04803ce-e431-412c-be22-0a0fc72647fb",
        "x-ms-response-type": "standard",
        "x-request-time": "0.020"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.api.azureml.ms/raisvc/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/operations/f84a7ed9-409e-456d-977b-4512bab49b2b",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-swedencentral-01",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "d33c828d-c2c8-4eb8-ba45-d7781739c605",
        "x-ms-response-type": "standard",
        "x-request-time": "0.014"
      },
      "ResponseBody": [
        "[\n",
        "  {\n",
        "    \"generic_groundedness\": \"{\\\"label\\\":\\\"5\\\",\\\"reasoning\\\":\\\"All Contents are grounded\\\",\\\"version\\\":\\\"0.1\\\"}\"\n",
        "  }\n",
        "]"
      ]
    },
[...]
    {
      "RequestUri": "https://Sanitized.api.azureml.ms/raisvc/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/operations/020dbd1e-9570-42d7-8a2e-2af37f455223",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-swedencentral-01",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "3f833d1b-9df9-46b6-b0bd-fd300ac7b883",
        "x-ms-response-type": "standard",
        "x-request-time": "0.015"
      },
      "ResponseBody": [
        "[\n",
        "  {\n",
        "    \"generic_groundedness\": \"{\\\"label\\\":\\\"5\\\",\\\"reasoning\\\":\\\"All Contents are grounded\\\",\\\"version\\\":\\\"0.1\\\"}\"\n",
        "  }\n",
        "]"
      ]
    }
  ],
  "Variables": {}
}
