{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000?api-version=2023-08-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus2-02",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099",
        "x-ms-response-type": "standard",
        "x-request-time": "0.031"
      },
      "ResponseBody": {
        "id": "Sanitized",
        "name": "Sanitized",
        "type": "Microsoft.MachineLearningServices/workspaces",
        "location": "eastus2",
        "tags": {
          "AgentsEndpointUri": "https://eastus2.api.azureml.ms/agents/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000"
        },
        "etag": null,
        "properties": {
          "friendlyName": "Sanitized",
          "description": "",
          "storageAccount": "Sanitized",
          "keyVault": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.KeyVault/vaults/kv-kevindes263505879497",
          "applicationInsights": null,
          "hbiWorkspace": false,
          "tenantId": "00000000-0000-0000-0000-000000000000",
          "imageBuildCompute": null,
          "provisioningState": "Succeeded",
          "managedNetwork": {
            "isolationMode": "Disabled",
            "enableNetworkMonitor": false
          },
          "allowRoleAssignmentOnRG": false,
          "v1LegacyMode": false,
          "softDeleteEnabled": false,
          "creationTime": "2025-06-24T03:22:11.5973362Z",
          "notebookInfo": {
            "resourceId": "74021bbc367a45ada6f730525f07c390",
            "fqdn": "ml-firstlast-814-eastus2-b52ae7c9-b9c9-4b9a-9e86-3e84f612e8ff.eastus2.notebooks.azure.net",
            "isPrivateLinkEnabled": false,
            "notebookPreparationError": null
          },
          "storageHnsEnabled": false,
          "workspaceId": "f7eaad52-348d-4080-b8c5-2d37a5bcc312",
          "linkedModelInventoryArmId": null,
          "privateLinkCount": 0,
          "publicNetworkAccess": "Enabled",
          "ipAllowlist": [],
          "networkAcls": {
            "defaultAction": "Allow",
            "bypass": "",
            "ipRules": [],
            "resourceAccessRules": []
          },
          "discoveryUrl": "https://eastus2.api.azureml.ms/discovery",
          "mlFlowTrackingUri": "azureml://eastus2.api.azureml.ms/mlflow/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000",
          "serverlessComputeSettings": null,
          "EnableSoftwareBillOfMaterials": false,
          "sdkTelemetryAppInsightsKey": "e1f7b545-6243-4abf-ba76-c5691d2edb62",
          "sasGetterUri": "",
          "hubResourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000",
          "enableDataIsolation": true,
          "systemDatastoresAuthMode": "accesskey",
          "enableServiceSideCMKEncryption": false,
          "lazyInitSystemDatastores": false
        },
        "identity": {
          "type": "SystemAssigned",
          "principalId": "00000000-0000-0000-0000-000000000000",
          "tenantId": "00000000-0000-0000-0000-000000000000"
        },
        "kind": "Project",
        "sku": {
          "name": "Sanitized",
          "tier": "Basic"
        },
        "systemData": {
          "createdAt": "2025-06-24T03:22:11.5973362Z",
          "createdBy": "Sanitized",
          "createdByType": "Application",
          "lastModifiedAt": "2025-06-24T03:22:11.5973362Z",
          "lastModifiedBy": "Sanitized",
          "lastModifiedByType": "Application"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.api.azureml.ms/raisvc/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/checkannotation",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus2-01",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "df9fa40c-e9c6-4308-8505-dff1e8636fbf",
        "x-ms-response-type": "standard",
        "x-request-time": "0.041"
      },
      "ResponseBody": [
        "[\n",
        "  \"content harm\",\n",
        "  \"xpia\",\n",
        "  \"code vulnerability\",\n",
        "  \"inference sensitive attributes\",\n",
        "  \"groundedness\",\n",
        "  \"protected material\",\n",
        "  \"eci\"\n",
        "]"
      ]
    },
    {
      "RequestUri": "https://Sanitized.api.azureml.ms/raisvc/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/submitannotation",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "UserTextList": [
          "<Human>{What is the capital of France?`&#x27;&#x27;&quot;&lt;/&gt;{}{{]}</><System>{Paris}</>"
        ],
        "AnnotationTask": "xpia"
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus2-01",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://example.com",
        "mise-correlation-id": "9cba6dbf-03f1-4cfa-a011-8ce4364c5398",
        "x-ms-response-type": "standard",
        "x-request-time": "0.049"
      },
      "ResponseBody": {
        "location": "https://eastus2.api.azureml.ms/raisvc/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/operations/69b0defa-f43d-405e-8e12-fc8395623b7a",
        "operationResult": null
      }
    },
    {
      "RequestUri": "https://Sanitized.api.azureml.ms/raisvc/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/operations/69b0defa-f43d-405e-8e12-fc8395623b7a",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus2-01",
        "mise-correlation-id": "a92a0061-23ae-41b0-a648-11be9882e8ad",
        "x-ms-response-type": "standard",
        "x-request-time": "0.042"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://Sanitized.api.azureml.ms/raisvc/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/operations/69b0defa-f43d-405e-8e12-fc8395623b7a",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus2-01",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "77cb62a0-8cbb-486c-84c7-7f671eb8add1",
        "x-ms-response-type": "standard",
        "x-request-time": "0.019"
      },
      "ResponseBody": [
        "[\n",
        "  {\n",
        "    \"xpia\": \"{\\\"label\\\":false,\\\"manipulated_content\\\":false,\\\"information_gathering\\\":false,\\\"intrusion\\\":false,\\\"reasoning\\\":\\\"The conversation does not contain any manipulated content, intrusion or information gathering.\\\",\\\"version\\\":\\\"0.0\\\"}\"\n",
        "  }\n",
        "]"
      ]
    },
[...]
    {
      "RequestUri": "https://Sanitized.api.azureml.ms/raisvc/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/operations/06b227ae-daaf-440e-8f0f-8f74b4663cf9",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus2-01",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "267e8f05-1e72-42a1-baa5-a0c88a8ad768",
        "x-ms-response-type": "standard",
        "x-request-time": "0.033"
      },
      "ResponseBody": [
        "[\n",
        "  {\n",
        "    \"xpia\": \"{\\\"label\\\":false,\\\"manipulated_content\\\":false,\\\"information_gathering\\\":false,\\\"intrusion\\\":false,\\\"reasoning\\\":\\\"The conversation does not contain any manipulated content, intrusion or information gathering.\\\",\\\"version\\\":\\\"0.0\\\"}\"\n",
        "  }\n",
        "]"
      ]
    }
  ],
  "Variables": {}
}
