{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/1234ABCD-0A1B-1234-5678-123456ABCDEF/resourceGroups/example-rg/providers/Microsoft.ManagedNetworkFabric/ipExtendedCommunities/nfa-tool-ts-GA-sdk-ipExtComm081723?api-version=2024-06-15-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {
          "keyID": "KeyValue"
        },
        "location": "eastus2euap",
        "properties": {
          "annotation": "annotation",
          "ipExtendedCommunityRules": [
            {
              "action": "Permit",
              "sequenceNumber": 4155123341,
              "routeTargets": [
                "1234:2345"
              ]
            }
          ]
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/1234ABCD-0A1B-1234-5678-123456ABCDEF/providers/Microsoft.ManagedNetworkFabric/locations/EASTUS2EUAP/operationStatuses/62de7b4e-24ae-445f-9e2f-f7b5e60f0a43*D2ABB79550D1DBF24B34D16DA63B7E59159466D8688D5DEBF43538F1B0F4CE5A?api-version=2024-06-15-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00220000c233-0000-3300-0000-64e8dbac0000\u0022",
        "mise-correlation-id": "124ff3ee-27f7-4035-97f5-45401925512b",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-writes": "1194"
      },
      "ResponseBody": {
        "id": "/subscriptions/1234ABCD-0A1B-1234-5678-123456ABCDEF/resourceGroups/example-rg/providers/Microsoft.ManagedNetworkFabric/ipExtendedCommunities/nfa-tool-ts-GA-sdk-ipExtComm081723",
        "name": "nfa-tool-ts-GA-sdk-ipExtComm081723",
        "type": "microsoft.managednetworkfabric/ipextendedcommunities",
        "location": "eastus2euap",
        "tags": {
          "keyID": "KeyValue"
        },
        "systemData": {
          "createdBy": "smylsamy@microsoft.com",
          "createdByType": "User",
          "createdAt": "2023-08-25T16:49:47.7342349Z",
          "lastModifiedBy": "smylsamy@microsoft.com",
          "lastModifiedByType": "User",
          "lastModifiedAt": "2023-08-25T16:49:47.7342349Z"
        },
        "properties": {
          "ipExtendedCommunityRules": [
            {
              "action": "Permit",
              "routeTargets": [
                "1234:2345"
              ],
              "sequenceNumber": 4155123341
            }
          ],
          "provisioningState": "Accepted",
          "configurationState": "Succeeded",
          "administrativeState": "Disabled"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/1234ABCD-0A1B-1234-5678-123456ABCDEF/providers/Microsoft.ManagedNetworkFabric/locations/EASTUS2EUAP/operationStatuses/62de7b4e-24ae-445f-9e2f-f7b5e60f0a43*D2ABB79550D1DBF24B34D16DA63B7E59159466D8688D5DEBF43538F1B0F4CE5A?api-version=2024-06-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002205007479-0000-3300-0000-64e8dbac0000\u0022",
        "x-ms-ratelimit-remaining-subscription-reads": "11951"
      },
      "ResponseBody": {
        "id": "/subscriptions/1234ABCD-0A1B-1234-5678-123456ABCDEF/providers/Microsoft.ManagedNetworkFabric/locations/EASTUS2EUAP/operationStatuses/62de7b4e-24ae-445f-9e2f-f7b5e60f0a43*D2ABB79550D1DBF24B34D16DA63B7E59159466D8688D5DEBF43538F1B0F4CE5A",
        "name": "62de7b4e-24ae-445f-9e2f-f7b5e60f0a43*D2ABB79550D1DBF24B34D16DA63B7E59159466D8688D5DEBF43538F1B0F4CE5A",
        "resourceId": "/subscriptions/1234ABCD-0A1B-1234-5678-123456ABCDEF/resourceGroups/example-rg/providers/Microsoft.ManagedNetworkFabric/ipExtendedCommunities/nfa-tool-ts-GA-sdk-ipExtComm081723",
        "status": "Succeeded",
        "startTime": "2023-08-25T16:49:47.9403729Z",
        "endTime": "2023-08-25T16:49:48.4519967Z",
        "properties": null
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/1234ABCD-0A1B-1234-5678-123456ABCDEF/resourceGroups/example-rg/providers/Microsoft.ManagedNetworkFabric/ipExtendedCommunities?api-version=2024-06-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-original-request-ids": [
          "65fe61dc-a297-41e6-93d8-bb00001ad5b3",
          "ab582064-35c0-4383-9d18-c49cbf44ede1",
          "7880af13-51e2-4081-9874-e92a105f69e4",
          "dc15c5b3-eb1d-4cc5-88ea-4aff8034d5cd"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": "11948"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/1234ABCD-0A1B-1234-5678-123456ABCDEF/resourceGroups/example-rg/providers/Microsoft.ManagedNetworkFabric/ipExtendedCommunities/example-ipextendedcommunity",
            "name": "example-ipextendedcommunity",
            "type": "microsoft.managednetworkfabric/ipextendedcommunities",
            "location": "eastus2euap",
            "systemData": {
              "createdBy": "v-rmarimuthu@microsoft.com",
              "createdByType": "User",
     [...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/1234ABCD-0A1B-1234-5678-123456ABCDEF/providers/Microsoft.ManagedNetworkFabric/ipExtendedCommunities?api-version=2024-06-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-original-request-ids": [
          "115d508[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/1234ABCD-0A1B-1234-5678-123456ABCDEF/resourceGroups/example-rg/providers/Microsoft.ManagedNetworkFabric/ipExtendedCommunities/nfa-tool-ts-GA-sdk-ipExtComm081723?api-version=2024-06-15-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/1234ABCD-0A1B-1234-5678-123456ABCDEF/providers/Microsoft.ManagedNetworkFabric/locations/EASTUS2EUAP/operationStatuses/d3fc55ab-a278-4b3d-a67a-b4f737ddc88c*D2ABB79550D1DBF24B34D16DA63B7E59159466D8688D5DEBF43538F1B0F4CE5A?api-version=2024-06-15-preview",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00220000c433-0000-3300-0000-64e8dbb20000\u0022",
        "Location": "https://management.azure.com/subscriptions/1234ABCD-0A1B-1234-5678-123456ABCDEF/providers/Microsoft.ManagedNetworkFabric/locations/EASTUS2EUAP/operationStatuses/d3fc55ab-a278-4b3d-a67a-b4f737ddc88c*D2ABB79550D1DBF24B34D16DA63B7E59159466D8688D5DEBF43538F1B0F4CE5A?api-version=2024-06-15-preview",
        "mise-correlation-id": "56625bac-7b79-44e2-8b43-2ea0a4b3e946",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-deletes": "14995"
      },
      "ResponseBody": "null"
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/1234ABCD-0A1B-1234-5678-123456ABCDEF/providers/Microsoft.ManagedNetworkFabric/locations/eastus2euap/operationStatuses/d3fc55ab-a278-4b3d-a67a-b4f737ddc88c*D2ABB79550D1DBF24B34D16DA63B7E59159466D8688D5DEBF43538F1B0F4CE5A?api-version=2024-06-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u002205007879-0000-3300-0000-64e8dbb20000\u0022",
        "x-ms-ratelimit-remaining-subscription-reads": "11945"
      },
      "ResponseBody": {
        "id": "/subscriptions/1234ABCD-0A1B-1234-5678-123456ABCDEF/providers/Microsoft.ManagedNetworkFabric/locations/eastus2euap/operationStatuses/d3fc55ab-a278-4b3d-a67a-b4f737ddc88c*D2ABB79550D1DBF24B34D16DA63B7E59159466D8688D5DEBF43538F1B0F4CE5A",
        "name": "d3fc55ab-a278-4b3d-a67a-b4f737ddc88c*D2ABB79550D1DBF24B34D16DA63B7E59159466D8688D5DEBF43538F1B0F4CE5A",
        "resourceId": "/subscriptions/1234ABCD-0A1B-1234-5678-123456ABCDEF/resourceGroups/example-rg/providers/Microsoft.ManagedNetworkFabric/ipExtendedCommunities/nfa-tool-ts-GA-sdk-ipExtComm081723",
        "status": "Succeeded",
        "startTime": "2023-08-25T16:49:53.8767431Z",
        "endTime": "2023-08-25T16:49:54.4906171Z",
        "properties": null
      }
    }
  ],
  "Variables": {
    "IP_EXTENDED_COMMUNITY_NAME": "nfa-tool-ts-GA-sdk-ipExtComm081723",
    "LOCATION": "eastus2euap",
    "RandomSeed": "29572225",
    "RESOURCE_GROUP_NAME": "example-rg",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "1234ABCD-0A1B-1234-5678-123456ABCDEF"
  }
}
