{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/test-project/agents/function-tool-agent/versions?api-version=v1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "definition": {
          "kind": "prompt",
          "model": "gpt-5.2",
          "instructions": "You are a helpful assistant that can use function tools.",
          "tools": [
            {
              "type": "function",
              "name": "get_horoscope",
              "description": "Get today's horoscope for an astrological sign.",
              "parameters": {
                "type": "object",
                "properties": {
                  "sign": {
                    "type": "string",
                    "description": "An astrological sign like Taurus or Aquarius"
                  }
                },
                "required": [
                  "sign"
                ],
                "additionalProperties": false
              },
              "strict": true
            }
          ]
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "1.0,2025-05-15-preview,2025-11-15-preview",
        "azureml-served-by-cluster": "hyena-westus2-01",
        "Content-Type": "application/json; charset=utf-8",
        "x-http2-stream-id": "3",
        "x-ms-region": "West US 2",
        "x-ms-response-type": "standard"
      },
      "ResponseBody": {
        "metadata": {},
        "object": "agent.version",
        "id": "function-tool-agent:1",
        "name": "function-tool-agent",
        "version": "1",
        "description": "",
        "created_at": 1772653164,
        "definition": {
          "kind": "prompt",
          "model": "gpt-5.2",
          "instructions": "You are a helpful assistant that can use function tools.",
          "tools": [
            {
              "type": "function",
              "name": "get_horoscope",
              "description": "Get today's horoscope for an astrological sign.",
              "parameters": {
                "type": "object",
                "properties": {
                  "sign": {
                    "type": "string",
                    "description": "An astrological sign like Taurus or Aquarius"
                  }
                },
                "required": [
                  "sign"
                ],
                "additionalProperties": false
              },
              "strict": true
            }
          ]
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/test-project/agents/function-tool-agent?api-version=v1",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "1.0,2025-05-15-preview,2025-11-15-preview",
        "azureml-served-by-cluster": "hyena-westus2-01",
        "Content-Type": "application/json; charset=utf-8",
        "x-http2-stream-id": "275",
        "x-ms-region": "West US 2",
        "x-ms-response-type": "standard"
      },
      "ResponseBody": {
        "object": "agent.deleted",
        "name": "function-tool-agent",
        "deleted": true
      }
    }
  ],
  "Variables": {}
}
