{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/providers/Microsoft.Quota/operations?api-version=2025-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "MS-RequestId": "QSarzN3QdE-4yfjxqwKufQ.0",
        "x-ms-ratelimit-remaining-tenant-reads": "249"
      },
      "ResponseBody": {
        "value": [
          {
            "name": "Microsoft.Quota/quotas/read",
            "display": {
              "provider": "Microsoft.Quota",
              "resource": "Resource Quota limit",
              "operation": "Get resource Quota limit",
              "description": "Get the current Service limit or quota of the specified resource"
            }
          },
          {
            "name": "Microsoft.Quota/quotas/write",
            "display": {
              "provider": "Microsoft.Quota",
              "resource": "Resource Quota limit",
              "operation": "Creates resource Quota limit request",
              "description": "Creates the service limit or quota request for the specified resource"
            }
          },
          {
            "n[...]
