{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.Network/trafficmanagerprofiles/azsmnet6386?api-version=2024-04-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "global",
        "properties": {
          "profileStatus": "Enabled",
          "trafficRoutingMethod": "MultiValue",
          "dnsConfig": {
            "relativeName": "azsmnet6386",
            "ttl": 35
          },
          "monitorConfig": {
            "protocol": "HTTP",
            "port": 80,
            "path": "/testpath.aspx"
          },
          "trafficViewEnrollmentStatus": "Disabled",
          "maxReturn": 2
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "799"
      },
      "ResponseBody": {
        "id": "/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.Network/trafficManagerProfiles/azsmnet6386",
        "name": "azsmnet6386",
        "type": "Microsoft.Network/trafficManagerProfiles",
        "location": "global",
        "properties": {
          "profileStatus": "Enabled",
          "trafficRoutingMethod": "MultiValue",
          "dnsConfig": {
            "relativeName": "azsmnet6386",
            "fqdn": "azsmnet6386.tmpreview.watmtest.azure-test.net",
            "ttl": 35
          },
          "monitorConfig": {
            "profileMonitorStatus": "Inactive",
            "protocol": "HTTP",
            "port": 80,
            "path": "/testpath.aspx",
            "intervalInSeconds": 30,
            "toleratedNumberOfFailures": 3,
            "timeoutInSeconds": 10
          },
          "endpoints": [],
          "trafficViewEnrollmentStatus": "Disabled",
          "maxReturn": 2,
          "recordType": null
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.Network/trafficmanagerprofiles/azsmnet6386?api-version=2024-04-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "799"
      },
      "ResponseBody": {
        "properties": {
          "boolean": true
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.Network/trafficmanagerprofiles?api-version=2024-04-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-original-request-ids": "c8640899-0016-4497-985a-1a3a43bb54af",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "1099"
      },
      "ResponseBody": {
        "value": []
      }
    }
  ],
  "Variables": {}
}
