{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.api.azureml.ms/agents/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/threads?api-version=v1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "metadata": {
          "key1": "value1",
          "key2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-westus-01",
        "Content-Type": "application/json",
        "openai-organization": "20ba836fffc34ede8203166d666c74ef",
        "openai-processing-ms": "78",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "df151bd3-d7d7-4a08-a39f-50118450aa54",
        "x-ms-region": "West US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.300"
      },
      "ResponseBody": {
        "id": "thread_p0l9t11uNGxWbYA2u1yDLqIu",
        "object": "thread",
        "created_at": 1746138623,
        "metadata": {
          "key1": "value1",
          "key2": "value2"
        },
        "tool_resources": {}
      }
    }
  ],
  "Variables": {}
}
