{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.api.azureml.ms/agents/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/threads?api-version=v1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {},
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-westus-01",
        "Content-Type": "application/json",
        "openai-organization": "20ba836fffc34ede8203166d666c74ef",
        "openai-processing-ms": "70",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "d653b49d-b5ba-49f3-9fcd-082e92503f6e",
        "x-ms-region": "West US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.268"
      },
      "ResponseBody": {
        "id": "thread_yosEsmusAKsyvoEPKKizpohK",
        "object": "thread",
        "created_at": 1746139051,
        "metadata": {},
        "tool_resources": {}
      }
    },
    {
      "RequestUri": "https://Sanitized.api.azureml.ms/agents/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/threads/thread_yosEsmusAKsyvoEPKKizpohK/messages?api-version=v1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "role": "user",
        "content": "Hello, tell me a joke"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-westus-01",
        "Content-Type": "application/json",
        "openai-organization": "20ba836fffc34ede8203166d666c74ef",
        "openai-processing-ms": "96",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "e6e0582c-9da3-4c1e-a303-393d5b107993",
        "x-ms-region": "West US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.330"
      },
      "ResponseBody": {
        "id": "msg_Z0ZnPcSlCZidxyIsl55eSKnB",
        "object": "thread.message",
        "created_at": 1746139052,
        "assistant_id": null,
        "thread_id": "thread_yosEsmusAKsyvoEPKKizpohK",
        "run_id": null,
        "role": "user",
        "content": [
          {
            "type": "text",
            "text": {
              "value": "Hello, tell me a joke",
              "annotations": []
            }
          }
        ],
        "attachments": [],
        "metadata": {}
      }
    }
  ],
  "Variables": {}
}
