{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.services.ai.azure.com/api/projects/00000/agents/myagent/versions?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "definition": {
          "model": "gpt-4o",
          "instructions": "You are a helpful AI assistant. Be polite and provide accurate information.",
          "kind": "prompt"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2025-05-15-preview",
        "azureml-served-by-cluster": "vienna-westus2-02",
        "Content-Type": "application/json; charset=utf-8",
        "x-http2-stream-id": "11",
        "x-ms-region": "West US 2",
        "x-ms-response-type": "standard",
        "x-request-time": "14.098"
      },
      "ResponseBody": {
        "object": "agent.version",
        "id": "myagent:1",
        "name": "myagent",
        "version": "1",
        "description": "",
        "metadata": {},
        "created_at": 1760374322,
        "definition": {
          "kind": "prompt",
          "model": "gpt-4o",
          "instructions": "You are a helpful AI assistant. Be polite and provide accurate information."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.services.ai.azure.com/api/projects/00000/agents/myagent/versions/1?api-version=2025-05-15-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2025-05-15-preview",
        "azureml-served-by-cluster": "vienna-westus2-02",
        "Content-Type": "application/json; charset=utf-8",
        "x-http2-stream-id": "19",
        "x-ms-region": "West US 2",
        "x-ms-response-type": "standard",
        "x-request-time": "14.174"
      },
      "ResponseBody": {
        "object": "agent.version.deleted",
        "name": "myagent",
        "version": "1",
        "deleted": true
      }
    }
  ],
  "Variables": {}
}
