{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.api.azureml.ms/agents/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/threads?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {},
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "openai-organization": "20ba836fffc34ede8203166d666c74ef",
        "openai-processing-ms": "72",
        "openai-version": "2020-10-01",
        "x-aml-cluster": "vienna-westus-02",
        "x-ms-middleware-request-id": "e3b6ca9c-e53b-415b-8ab2-1016fcc14770",
        "x-ms-region": "West US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.313"
      },
      "ResponseBody": {
        "id": "thread_RRm1DdnKZckCQzce0CBBRFoM",
        "object": "thread",
        "created_at": 1745871730,
        "metadata": {},
        "tool_resources": {}
      }
    },
    {
      "RequestUri": "https://Sanitized.api.azureml.ms/agents/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/threads/thread_RRm1DdnKZckCQzce0CBBRFoM?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "metadata": {
          "key1": "value1",
          "key2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "openai-organization": "20ba836fffc34ede8203166d666c74ef",
        "openai-processing-ms": "86",
        "openai-version": "2020-10-01",
        "x-aml-cluster": "vienna-westus-02",
        "x-ms-middleware-request-id": "27243dd8-3046-4f14-8cf2-dd70765f7f12",
        "x-ms-region": "West US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.364"
      },
      "ResponseBody": {
        "id": "thread_RRm1DdnKZckCQzce0CBBRFoM",
        "object": "thread",
        "created_at": 1745871730,
        "metadata": {
          "key1": "value1",
          "key2": "value2"
        },
        "tool_resources": {}
      }
    }
  ],
  "Variables": {}
}
