{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.api.azureml.ms/agents/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/threads?api-version=v1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {},
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-westus-01",
        "Content-Type": "application/json",
        "openai-organization": "20ba836fffc34ede8203166d666c74ef",
        "openai-processing-ms": "25",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "fd0423b0-d2a5-4287-b21c-532b19fbaa53",
        "x-ms-region": "West US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.281"
      },
      "ResponseBody": {
        "id": "thread_FXXAU5qDfqzmqoQ28AvClYN4",
        "object": "thread",
        "created_at": 1746138647,
        "metadata": {},
        "tool_resources": {}
      }
    },
    {
      "RequestUri": "https://Sanitized.api.azureml.ms/agents/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/threads/thread_FXXAU5qDfqzmqoQ28AvClYN4/messages?api-version=v1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "role": "user",
        "content": "Hello, tell me a joke"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-westus-01",
        "Content-Type": "application/json",
        "openai-organization": "20ba836fffc34ede8203166d666c74ef",
        "openai-processing-ms": "137",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "acab92de-9a25-467d-9e8f-488f1730a4f2",
        "x-ms-region": "West US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.329"
      },
      "ResponseBody": {
        "id": "msg_KAhK2ls9ANEhxGWMunrGGjUl",
        "object": "thread.message",
        "created_at": 1746138648,
        "assistant_id": null,
        "thread_id": "thread_FXXAU5qDfqzmqoQ28AvClYN4",
        "run_id": null,
        "role": "user",
        "content": [
          {
            "type": "text",
            "text": {
              "value": "Hello, tell me a joke",
              "annotations": []
            }
          }
        ],
        "attachments": [],
        "metadata": {}
      }
    }
  ],
  "Variables": {}
}
