{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.api.azureml.ms/agents/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/threads?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {},
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-westus-02",
        "Content-Type": "application/json",
        "openai-organization": "20ba836fffc34ede8203166d666c74ef",
        "openai-processing-ms": "43",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "d66ecbd6-39b2-4b91-b8e3-142a48de5841",
        "x-ms-region": "West US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.249"
      },
      "ResponseBody": {
        "id": "thread_zLr1XpjvSf2q77e1MmDrjFlz",
        "object": "thread",
        "created_at": 1747102054,
        "metadata": {},
        "tool_resources": {}
      }
    },
    {
      "RequestUri": "https://Sanitized.api.azureml.ms/agents/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/threads/thread_zLr1XpjvSf2q77e1MmDrjFlz/messages?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "content": "Hello, tell me a joke",
        "role": "user"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-westus-02",
        "Content-Type": "application/json",
        "openai-organization": "20ba836fffc34ede8203166d666c74ef",
        "openai-processing-ms": "48",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "6da118a2-a3b2-48fb-9833-6742320a79fd",
        "x-ms-region": "West US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.273"
      },
      "ResponseBody": {
        "id": "msg_wDtnTwM9NuFNzVAG8rJSMBGz",
        "object": "thread.message",
        "created_at": 1747102054,
        "assistant_id": null,
        "thread_id": "thread_zLr1XpjvSf2q77e1MmDrjFlz",
        "run_id": null,
        "role": "user",
        "content": [
          {
            "type": "text",
            "text": {
              "value": "Hello, tell me a joke",
              "annotations": []
            }
          }
        ],
        "attachments": [],
        "metadata": {}
      }
    },
    {
      "RequestUri": "https://Sanitized.api.azureml.ms/agents/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/threads/thread_zLr1XpjvSf2q77e1MmDrjFlz/messages/msg_wDtnTwM9NuFNzVAG8rJSMBGz?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "metadata": {
          "key1": "value1",
          "key2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-westus-02",
        "Content-Type": "application/json",
        "openai-organization": "20ba836fffc34ede8203166d666c74ef",
        "openai-processing-ms": "79",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "6bb9a608-a4a7-49a8-b698-ec0fc6485202",
        "x-ms-region": "West US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.352"
      },
      "ResponseBody": {
        "id": "msg_wDtnTwM9NuFNzVAG8rJSMBGz",
        "object": "thread.message",
        "created_at": 1747102054,
        "assistant_id": null,
        "thread_id": "thread_zLr1XpjvSf2q77e1MmDrjFlz",
        "run_id": null,
        "role": "user",
        "content": [
          {
            "type": "text",
            "text": {
              "value": "Hello, tell me a joke",
              "annotations": []
            }
          }
        ],
        "file_ids": [],
        "metadata": {
          "key1": "value1",
          "key2": "value2"
        }
      }
    }
  ],
  "Variables": {}
}
