{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.api.azureml.ms/agents/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/threads?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {},
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "openai-organization": "20ba836fffc34ede8203166d666c74ef",
        "openai-processing-ms": "68",
        "openai-version": "2020-10-01",
        "x-aml-cluster": "vienna-westus-02",
        "x-ms-middleware-request-id": "47776936-c73a-4bcc-bce7-b11605e81e24",
        "x-ms-region": "West US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.283"
      },
      "ResponseBody": {
        "id": "thread_ormEkkGgNz9lRmSzW3A8IDB9",
        "object": "thread",
        "created_at": 1745871759,
        "metadata": {},
        "tool_resources": {}
      }
    },
    {
      "RequestUri": "https://Sanitized.api.azureml.ms/agents/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/threads/thread_ormEkkGgNz9lRmSzW3A8IDB9/messages?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "content": "Hello, tell me a joke",
        "role": "user"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "openai-organization": "20ba836fffc34ede8203166d666c74ef",
        "openai-processing-ms": "49",
        "openai-version": "2020-10-01",
        "x-aml-cluster": "vienna-westus-02",
        "x-ms-middleware-request-id": "bd5fe354-6ca4-4636-a456-1f6f31f1a949",
        "x-ms-region": "West US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.343"
      },
      "ResponseBody": {
        "id": "msg_M8er4DDeT5S6bTVUiFT8cDwO",
        "object": "thread.message",
        "created_at": 1745871759,
        "assistant_id": null,
        "thread_id": "thread_ormEkkGgNz9lRmSzW3A8IDB9",
        "run_id": null,
        "role": "user",
        "content": [
          {
            "type": "text",
            "text": {
              "value": "Hello, tell me a joke",
              "annotations": []
            }
          }
        ],
        "attachments": [],
        "metadata": {}
      }
    },
    {
      "RequestUri": "https://Sanitized.api.azureml.ms/agents/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/threads/thread_ormEkkGgNz9lRmSzW3A8IDB9/messages/msg_M8er4DDeT5S6bTVUiFT8cDwO?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "metadata": {
          "key1": "value1",
          "key2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "openai-organization": "20ba836fffc34ede8203166d666c74ef",
        "openai-processing-ms": "80",
        "openai-version": "2020-10-01",
        "x-aml-cluster": "vienna-westus-02",
        "x-ms-middleware-request-id": "81f9e1ce-7beb-4e19-80eb-cbd730f46f97",
        "x-ms-region": "West US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.314"
      },
      "ResponseBody": {
        "id": "msg_M8er4DDeT5S6bTVUiFT8cDwO",
        "object": "thread.message",
        "created_at": 1745871759,
        "assistant_id": null,
        "thread_id": "thread_ormEkkGgNz9lRmSzW3A8IDB9",
        "run_id": null,
        "role": "user",
        "content": [
          {
            "type": "text",
            "text": {
              "value": "Hello, tell me a joke",
              "annotations": []
            }
          }
        ],
        "file_ids": [],
        "metadata": {
          "key1": "value1",
          "key2": "value2"
        }
      }
    }
  ],
  "Variables": {}
}
