{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.api.azureml.ms/agents/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/threads?api-version=2025_05_01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {},
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-westus-01",
        "Content-Type": "application/json",
        "openai-organization": "20ba836fffc34ede8203166d666c74ef",
        "openai-processing-ms": "25",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "b7d62d27-92f9-4e81-853a-6fa496c5915a",
        "x-ms-region": "West US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.339"
      },
      "ResponseBody": {
        "id": "thread_Uj7Pma07hmzRjCBqiPIHvs1J",
        "object": "thread",
        "created_at": 1747086143,
        "metadata": {},
        "tool_resources": {}
      }
    },
    {
      "RequestUri": "https://Sanitized.api.azureml.ms/agents/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/threads/thread_Uj7Pma07hmzRjCBqiPIHvs1J/messages?api-version=2025_05_01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "role": "user",
        "content": "Hello, tell me a joke"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-westus-01",
        "Content-Type": "application/json",
        "openai-organization": "20ba836fffc34ede8203166d666c74ef",
        "openai-processing-ms": "93",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "ad681a6c-8467-4e15-a09c-4072583daff3",
        "x-ms-region": "West US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.352"
      },
      "ResponseBody": {
        "id": "msg_W2Vc8c6RKwGrM8e85QpZVWf4",
        "object": "thread.message",
        "created_at": 1747086143,
        "assistant_id": null,
        "thread_id": "thread_Uj7Pma07hmzRjCBqiPIHvs1J",
        "run_id": null,
        "role": "user",
        "content": [
          {
            "type": "text",
            "text": {
              "value": "Hello, tell me a joke",
              "annotations": []
            }
          }
        ],
        "attachments": [],
        "metadata": {}
      }
    }
  ],
  "Variables": {}
}
