{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.api.azureml.ms/agents/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/threads?api-version=2025_05_01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {},
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-westus-01",
        "Content-Type": "application/json",
        "openai-organization": "20ba836fffc34ede8203166d666c74ef",
        "openai-processing-ms": "70",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "6653dd7b-6cd2-41be-bb81-0acfb4727aa5",
        "x-ms-region": "West US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.314"
      },
      "ResponseBody": {
        "id": "thread_RqfdpMes9t7jev0ojIACmPdl",
        "object": "thread",
        "created_at": 1747086216,
        "metadata": {},
        "tool_resources": {}
      }
    },
    {
      "RequestUri": "https://Sanitized.api.azureml.ms/agents/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/threads/thread_RqfdpMes9t7jev0ojIACmPdl/messages?api-version=2025_05_01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "content": "Hello, tell me a joke",
        "role": "user"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-westus-01",
        "Content-Type": "application/json",
        "openai-organization": "20ba836fffc34ede8203166d666c74ef",
        "openai-processing-ms": "48",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "6a181e0c-fba8-4d17-9bb3-568641df01ac",
        "x-ms-region": "West US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.257"
      },
      "ResponseBody": {
        "id": "msg_AltwyTf0Tz8cM7gRx9EtbixX",
        "object": "thread.message",
        "created_at": 1747086216,
        "assistant_id": null,
        "thread_id": "thread_RqfdpMes9t7jev0ojIACmPdl",
        "run_id": null,
        "role": "user",
        "content": [
          {
            "type": "text",
            "text": {
              "value": "Hello, tell me a joke",
              "annotations": []
            }
          }
        ],
        "attachments": [],
        "metadata": {}
      }
    },
    {
      "RequestUri": "https://Sanitized.api.azureml.ms/agents/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/threads/thread_RqfdpMes9t7jev0ojIACmPdl/messages/msg_AltwyTf0Tz8cM7gRx9EtbixX?api-version=2025_05_01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "metadata": {
          "key1": "value1",
          "key2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-westus-01",
        "Content-Type": "application/json",
        "openai-organization": "20ba836fffc34ede8203166d666c74ef",
        "openai-processing-ms": "58",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "5cc954d8-2312-4945-93aa-73d47656a23c",
        "x-ms-region": "West US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.280"
      },
      "ResponseBody": {
        "id": "msg_AltwyTf0Tz8cM7gRx9EtbixX",
        "object": "thread.message",
        "created_at": 1747086216,
        "assistant_id": null,
        "thread_id": "thread_RqfdpMes9t7jev0ojIACmPdl",
        "run_id": null,
        "role": "user",
        "content": [
          {
            "type": "text",
            "text": {
              "value": "Hello, tell me a joke",
              "annotations": []
            }
          }
        ],
        "file_ids": [],
        "metadata": {
          "key1": "value1",
          "key2": "value2"
        }
      }
    }
  ],
  "Variables": {}
}
