{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.services.ai.azure.com/api/projects/00000/agents/my-agent/versions?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "definition": {
          "model": "gpt-4o",
          "instructions": "You are a helpful AI assistant. Always be polite and provide accurate information.",
          "temperature": 0.7,
          "top_p": 0.9,
          "reasoning": {
            "effort": "medium",
            "summary": "auto"
          },
          "tools": [
            {
              "name": "get_weather",
              "description": "Get the current weather for a location",
              "parameters": {
                "type": "object",
                "properties": {
                  "location": {
                    "type": "string",
                    "description": "The city and state, e.g. San Francisco, CA"
                  },
                  "unit": {
                    "type": "string",
                    "enum": [
                      "celsius",
                      "fahrenheit"
                    ],
                    "description": "The temperature unit"
                  }
                },
                "required": [
                  "location"
                ]
              },
              "strict": true,
              "type": "function"
            }
          ],
          "text": {
            "format": {
              "type": "text"
            }
          },
          "kind": "prompt"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2025-05-15-preview",
        "azureml-served-by-cluster": "vienna-westus2-01",
        "Content-Type": "application/json; charset=utf-8",
        "x-http2-stream-id": "3",
        "x-ms-region": "West US 2",
        "x-ms-response-type": "standard",
        "x-request-time": "0.156"
      },
      "ResponseBody": {
        "object": "agent.version",
        "id": "my-agent:2",
        "name": "my-agent",
        "version": "2",
        "description": "",
        "metadata": {},
        "created_at": 1759849241,
        "definition": {
          "kind": "prompt",
          "model": "gpt-4o",
          "instructions": "You are a helpful AI assistant. Always be polite and provide accurate information.",
          "temperature": 0.7,
          "top_p": 0.9,
          "reasoning": {
            "effort": "medium",
            "summary": "auto"
          },
          "tools": [
            {
              "type": "function",
              "name": "get_weather",
              "description": "Get the current weather for a location",
              "parameters": {
                "type": "object",
                "properties": {
                  "location": {
                    "type": "string",
                    "description": "The city and state, e.g. San Francisco, CA"
                  },
                  "unit": {
                    "type": "string",
                    "enum": [
                      "celsius",
                      "fahrenheit"
                    ],
                    "description": "The temperature unit"
                  }
                },
                "required": [
                  "location"
                ]
              },
              "strict": true
            }
          ],
          "text": {
            "format": {
              "type": "text"
            }
          }
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.services.ai.azure.com/api/projects/00000/agents/my-agent%3A2/versions/2?api-version=2025-05-15-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2025-05-15-preview",
        "azureml-served-by-cluster": "vienna-westus2-01",
        "Content-Type": "application/json; charset=utf-8",
        "x-http2-stream-id": "3",
        "x-ms-region": "West US 2",
        "x-ms-response-type": "standard",
        "x-request-time": "0.147"
      },
      "ResponseBody": {
        "object": "agent.version.deleted",
        "name": "my-agent:2",
        "version": "2",
        "deleted": false
      }
    }
  ],
  "Variables": {}
}
