{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.api.azureml.ms/agents/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/threads?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {},
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "openai-organization": "20ba836fffc34ede8203166d666c74ef",
        "openai-processing-ms": "52",
        "openai-version": "2020-10-01",
        "x-aml-cluster": "vienna-westus-02",
        "x-ms-middleware-request-id": "8873f9b1-8599-4b26-b6f7-4d22df595e5e",
        "x-ms-region": "West US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.277"
      },
      "ResponseBody": {
        "id": "thread_uGCsRIfhdbGIZWceHGO66O8C",
        "object": "thread",
        "created_at": 1745872935,
        "metadata": {},
        "tool_resources": {}
      }
    },
    {
      "RequestUri": "https://Sanitized.api.azureml.ms/agents/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/threads/thread_uGCsRIfhdbGIZWceHGO66O8C/messages?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "content": "Hello, tell me a joke",
        "role": "user"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "openai-organization": "20ba836fffc34ede8203166d666c74ef",
        "openai-processing-ms": "44",
        "openai-version": "2020-10-01",
        "x-aml-cluster": "vienna-westus-02",
        "x-ms-middleware-request-id": "19cceac2-1855-430a-9d84-a873573d2636",
        "x-ms-region": "West US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.259"
      },
      "ResponseBody": {
        "id": "msg_cOpMdeG6oVCrIv8zoK7wnBjz",
        "object": "thread.message",
        "created_at": 1745872935,
        "assistant_id": null,
        "thread_id": "thread_uGCsRIfhdbGIZWceHGO66O8C",
        "run_id": null,
        "role": "user",
        "content": [
          {
            "type": "text",
            "text": {
              "value": "Hello, tell me a joke",
              "annotations": []
            }
          }
        ],
        "attachments": [],
        "metadata": {}
      }
    },
    {
      "RequestUri": "https://Sanitized.api.azureml.ms/agents/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/threads/thread_uGCsRIfhdbGIZWceHGO66O8C/messages/msg_cOpMdeG6oVCrIv8zoK7wnBjz?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "metadata": {
          "key1": "value1",
          "key2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "openai-organization": "20ba836fffc34ede8203166d666c74ef",
        "openai-processing-ms": "32",
        "openai-version": "2020-10-01",
        "x-aml-cluster": "vienna-westus-02",
        "x-ms-middleware-request-id": "3514416d-049c-42ab-8884-fcbd2710f534",
        "x-ms-region": "West US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.284"
      },
      "ResponseBody": {
        "id": "msg_cOpMdeG6oVCrIv8zoK7wnBjz",
        "object": "thread.message",
        "created_at": 1745872935,
        "assistant_id": null,
        "thread_id": "thread_uGCsRIfhdbGIZWceHGO66O8C",
        "run_id": null,
        "role": "user",
        "content": [
          {
            "type": "text",
            "text": {
              "value": "Hello, tell me a joke",
              "annotations": []
            }
          }
        ],
        "file_ids": [],
        "metadata": {
          "key1": "value1",
          "key2": "value2"
        }
      }
    }
  ],
  "Variables": {}
}
