{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.api.azureml.ms/agents/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/assistants?api-version=v1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "name": "my-agent",
        "model": "gpt-4o",
        "instructions": "You are helpful agent"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-westus-01",
        "Content-Type": "application/json",
        "openai-organization": "20ba836fffc34ede8203166d666c74ef",
        "openai-processing-ms": "66",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "e0c9bcbe-a229-41f2-911f-d9a1741dcc6e",
        "x-ms-region": "West US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.317"
      },
      "ResponseBody": {
        "id": "asst_CnTqtoTOvpTy8k4p0ZYxsT6s",
        "object": "assistant",
        "created_at": 1746242871,
        "name": "my-agent",
        "description": null,
        "model": "gpt-4o",
        "instructions": "You are helpful agent",
        "tools": [],
        "top_p": 1.0,
        "temperature": 1.0,
        "tool_resources": {},
        "metadata": {},
        "response_format": "auto"
      }
    },
    {
      "RequestUri": "https://Sanitized.api.azureml.ms/agents/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/assistants/asst_CnTqtoTOvpTy8k4p0ZYxsT6s?api-version=v1",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-westus-01",
        "Content-Type": "application/json",
        "openai-organization": "20ba836fffc34ede8203166d666c74ef",
        "openai-processing-ms": "81",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "a79ec25a-b0f7-42c7-886c-7ce273f14f6e",
        "x-ms-region": "West US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.315"
      },
      "ResponseBody": {
        "id": "asst_CnTqtoTOvpTy8k4p0ZYxsT6s",
        "object": "assistant.deleted",
        "deleted": true
      }
    }
  ],
  "Variables": {}
}
