{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.api.azureml.ms/agents/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/assistants?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "instructions": "You are helpful agent",
        "model": "gpt-4o",
        "name": "my-agent"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-westus-01",
        "Content-Type": "application/json",
        "openai-organization": "20ba836fffc34ede8203166d666c74ef",
        "openai-processing-ms": "82",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "d7d7f5de-c4f7-4a93-822f-6be63ce8a18f",
        "x-ms-region": "West US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.312"
      },
      "ResponseBody": {
        "id": "asst_numP5Tw9Oj54ZDjzJ7mYUI3E",
        "object": "assistant",
        "created_at": 1747797962,
        "name": "my-agent",
        "description": null,
        "model": "gpt-4o",
        "instructions": "You are helpful agent",
        "tools": [],
        "top_p": 1.0,
        "temperature": 1.0,
        "tool_resources": {},
        "metadata": {},
        "response_format": "auto"
      }
    },
    {
      "RequestUri": "https://Sanitized.api.azureml.ms/agents/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/assistants/asst_numP5Tw9Oj54ZDjzJ7mYUI3E?api-version=2025-05-15-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-westus-01",
        "Content-Type": "application/json",
        "openai-organization": "20ba836fffc34ede8203166d666c74ef",
        "openai-processing-ms": "86",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "1059520b-bb57-4012-b152-5a82e8aaac63",
        "x-ms-region": "West US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.332"
      },
      "ResponseBody": {
        "id": "asst_numP5Tw9Oj54ZDjzJ7mYUI3E",
        "object": "assistant.deleted",
        "deleted": true
      }
    }
  ],
  "Variables": {}
}
