{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.api.azureml.ms/agents/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/vector_stores?api-version=2025_05_01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "file_ids": [],
        "name": "sample_vector_store"
      },
      "StatusCode": 400,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-westus-01",
        "Content-Type": "application/json",
        "openai-organization": "20ba836fffc34ede8203166d666c74ef",
        "openai-processing-ms": "6065",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "8976e07d-cd68-41b8-9ace-6447210c2f84",
        "x-ms-region": "West US",
        "x-ms-response-type": "standard",
        "x-request-time": "6.449"
      },
      "ResponseBody": {
        "error": {
          "message": "Failed to create vector store: Too Many Requests: {\"detail\":\"The quota has exceeded for the search resource. Please verify the quota limits and try again.\"}",
          "type": "invalid_request_error",
          "param": null,
          "code": null
        }
      }
    }
  ],
  "Variables": {}
}
