{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.api.azureml.ms/agents/v2.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000@00000@AML/agents/myagent/versions?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "definition": {
          "model": "gpt-4o-mini",
          "instructions": "You are a helpful AI assistant. Always be polite and provide accurate information.",
          "kind": "prompt"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2025-05-15-preview",
        "azureml-served-by-cluster": "vienna-westus2-01",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-response-type": "standard",
        "x-request-time": "14.142"
      },
      "ResponseBody": {
        "object": "agent.version",
        "id": "myagent:1",
        "name": "myagent",
        "version": "1",
        "description": "",
        "metadata": {},
        "created_at": 1760034385,
        "definition": {
          "kind": "prompt",
          "model": "gpt-4o-mini",
          "instructions": "You are a helpful AI assistant. Always be polite and provide accurate information."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.api.azureml.ms/agents/v2.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000@00000@AML/agents/myagent/versions/1?api-version=2025-05-15-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2025-05-15-preview",
        "azureml-served-by-cluster": "vienna-westus2-01",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-response-type": "standard",
        "x-request-time": "14.128"
      },
      "ResponseBody": {
        "object": "agent.version.deleted",
        "name": "myagent",
        "version": "1",
        "deleted": true
      }
    }
  ],
  "Variables": {}
}
