{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.services.ai.azure.com/api/projects/00000/openai/conversations?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {},
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2025-05-15-preview",
        "azureml-served-by-cluster": "vienna-westus2-01",
        "Content-Type": "application/json; charset=utf-8",
        "x-http2-stream-id": "7",
        "x-ms-region": "West US 2",
        "x-ms-response-type": "standard",
        "x-request-time": "0.035"
      },
      "ResponseBody": {
        "id": "conv_xY7Eiz95SNkzzJC8u9Ez7vIZVY65pA0EV8wTMovQ2UeXujfO",
        "object": "conversation",
        "created_at": 1759237272,
        "metadata": null
      }
    },
    {
      "RequestUri": "https://Sanitized.services.ai.azure.com/api/projects/00000/openai/conversations/conv_xY7Eiz95SNkzzJC8u9Ez7vIZVY65pA0EV8wTMovQ2UeXujfO/items?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "items": [
          {
            "type": "message",
            "role": "user",
            "content": "first message"
          }
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2025-05-15-preview",
        "azureml-served-by-cluster": "vienna-westus2-01",
        "Content-Type": "application/json; charset=utf-8",
        "x-http2-stream-id": "11",
        "x-ms-region": "West US 2",
        "x-ms-response-type": "standard",
        "x-request-time": "0.047"
      },
      "ResponseBody": {
        "data": [
          {
            "type": "message",
            "id": "msg_mKPilfDajQ0Ez5ApATibH16kQCGFko2uV8wTMovQ2UeXujfO",
            "status": "completed",
            "role": "user",
            "content": [
              {
                "type": "input_text",
                "text": "first message"
              }
            ]
          }
        ],
        "last_id": "msg_mKPilfDajQ0Ez5ApATibH16kQCGFko2uV8wTMovQ2UeXujfO",
        "has_more": false,
        "object": "list",
        "first_id": "msg_mKPilfDajQ0Ez5ApATibH16kQCGFko2uV8wTMovQ2UeXujfO"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.services.ai.azure.com/api/projects/00000/openai/conversations/conv_xY7Eiz95SNkzzJC8u9Ez7vIZVY65pA0EV8wTMovQ2UeXujfO/items/msg_toU57SC1ROhjXQ6HgX6MLdQIKgu00qNhV8wTMovQ2UeXujfO?api-version=2025-05-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2025-05-15-preview",
        "azureml-served-by-cluster": "vienna-westus2-01",
        "Content-Type": "application/json; charset=utf-8",
        "x-http2-stream-id": "11",
        "x-ms-region": "West US 2",
        "x-ms-response-type": "standard",
        "x-request-time": "0.029"
      },
      "ResponseBody": {
        "type": "message",
        "id": "msg_toU57SC1ROhjXQ6HgX6MLdQIKgu00qNhV8wTMovQ2UeXujfO",
        "status": "completed",
        "role": "system",
        "content": [
          {
            "type": "input_text",
            "text": "third message"
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.services.ai.azure.com/api/projects/00000/openai/conversations/conv_xY7Eiz95SNkzzJC8u9Ez7vIZVY65pA0EV8wTMovQ2UeXujfO/items/msg_VQ3mqHniOLIyqFu1T5MFxVAzRfg6FmU1V8wTMovQ2UeXujfO?api-version=2025-05-15-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2025-05-15-preview",
        "azureml-served-by-cluster": "vienna-westus2-01",
        "Content-Type": "application/json; charset=utf-8",
        "x-http2-stream-id": "11",
        "x-ms-region": "West US 2",
        "x-ms-response-type": "standard",
        "x-request-time": "0.039"
      },
      "ResponseBody": {
        "id": "conv_xY7Eiz95SNkzzJC8u9Ez7vIZVY65pA0EV8wTMovQ2UeXujfO",
        "object": "conversation",
        "created_at": 1759237272,
        "metadata": {}
      }
    },
    {
      "RequestUri": "https://Sanitized.services.ai.azure.com/api/projects/00000/openai/conversations/conv_xY7Eiz95SNkzzJC8u9Ez7vIZVY65pA0EV8wTMovQ2UeXujfO/items/msg_UWyDcYdykB8FFw7lFMOY9RmUwOUTF8pMV8wTMovQ2UeXujfO?api-version=2025-05-15-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2025-05-15-preview",
        "azureml-served-by-cluster": "vienna-westus2-01",
        "Content-Type": "application/json; charset=utf-8",
        "x-http2-stream-id": "17",
        "x-ms-region": "West US 2",
        "x-ms-response-type": "standard",
        "x-request-time": "0.029"
      },
      "ResponseBody": {
        "id": "conv_xY7Eiz95SNkzzJC8u9Ez7vIZVY65pA0EV8wTMovQ2UeXujfO",
        "object": "conversation",
        "created_at": 1759237272,
        "metadata": {}
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.services.ai.azure.com/api/projects/00000/openai/conversations/conv_xY7Eiz95SNkzzJC8u9Ez7vIZVY65pA0EV8wTMovQ2UeXujfO?api-version=2025-05-15-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2025-05-15-preview",
        "azureml-served-by-cluster": "vienna-westus2-01",
        "Content-Type": "application/json; charset=utf-8",
        "x-http2-stream-id": "13",
        "x-ms-region": "West US 2",
        "x-ms-response-type": "standard",
        "x-request-time": "0.031"
      },
      "ResponseBody": {
        "object": "conversation.deleted",
        "deleted": true,
        "id": "conv_xY7Eiz95SNkzzJC8u9Ez7vIZVY65pA0EV8wTMovQ2UeXujfO"
      }
    }
  ],
  "Variables": {}
}
