{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.api.azureml.ms/agents/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/threads?api-version=2025_05_01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {},
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-westus-01",
        "Content-Type": "application/json",
        "openai-organization": "20ba836fffc34ede8203166d666c74ef",
        "openai-processing-ms": "73",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "f1f980f1-193a-47d6-b16b-a5206c3be064",
        "x-ms-region": "West US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.283"
      },
      "ResponseBody": {
        "id": "thread_7LKBgXL3uieX43L5sdOfX5D4",
        "object": "thread",
        "created_at": 1747086121,
        "metadata": {},
        "tool_resources": {}
      }
    },
    {
      "RequestUri": "https://Sanitized.api.azureml.ms/agents/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/threads/thread_7LKBgXL3uieX43L5sdOfX5D4/messages?api-version=2025_05_01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "content": "Hello, tell me a joke",
        "role": "user"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-westus-01",
        "Content-Type": "application/json",
        "openai-organization": "20ba836fffc34ede8203166d666c74ef",
        "openai-processing-ms": "107",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "372d8d14-9ec6-426d-a579-e04f5fec092d",
        "x-ms-region": "West US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.381"
      },
      "ResponseBody": {
        "id": "msg_d8nuJdeTT3JdHQfKX9Bhgj9u",
        "object": "thread.message",
        "created_at": 1747086122,
        "assistant_id": null,
        "thread_id": "thread_7LKBgXL3uieX43L5sdOfX5D4",
        "run_id": null,
        "role": "user",
        "content": [
          {
            "type": "text",
            "text": {
              "value": "Hello, tell me a joke",
              "annotations": []
            }
          }
        ],
        "attachments": [],
        "metadata": {}
      }
    }
  ],
  "Variables": {}
}
