{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.api.azureml.ms/agents/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/assistants?api-version=v1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "instructions": "You are helpful agent",
        "model": "gpt-4o",
        "name": "my-agent",
        "tools": [
          {
            "type": "function",
            "function": {
              "name": "fetch_current_datetime_recordings",
              "description": "Get the current time as a JSON string.",
              "parameters": {
                "type": "object",
                "properties": {},
                "required": []
              }
            }
          }
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-westus-01",
        "Content-Type": "application/json",
        "openai-organization": "20ba836fffc34ede8203166d666c74ef",
        "openai-processing-ms": "73",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "e4536104-8f89-47ff-8bab-acec9de8e551",
        "x-ms-region": "West US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.281"
      },
      "ResponseBody": {
        "id": "asst_6DfZi4s6gOdLgWjidKcQModN",
        "object": "assistant",
        "created_at": 1746139019,
        "name": "my-agent",
        "description": null,
        "model": "gpt-4o",
        "instructions": "You are helpful agent",
        "tools": [
          {
            "type": "function",
            "function": {
              "name": "fetch_current_datetime_recordings",
              "description": "Get the current time as a JSON string.",
              "parameters": {
                "type": "object",
                "properties": {},
                "required": []
              },
              "strict": false
            }
          }
        ],
        "top_p": 1.0,
        "temperature": 1.0,
        "tool_resources": {},
        "metadata": {},
        "response_format": "auto"
      }
    },
    {
      "RequestUri": "https://Sanitized.api.azureml.ms/agents/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/assistants/asst_6DfZi4s6gOdLgWjidKcQModN?api-version=v1",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-westus-01",
        "Content-Type": "application/json",
        "openai-organization": "20ba836fffc34ede8203166d666c74ef",
        "openai-processing-ms": "31",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "9ea3d116-07c6-483c-af94-19568e39121b",
        "x-ms-region": "West US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.221"
      },
      "ResponseBody": {
        "id": "asst_6DfZi4s6gOdLgWjidKcQModN",
        "object": "assistant.deleted",
        "deleted": true
      }
    }
  ],
  "Variables": {}
}
