{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.services.ai.azure.com/api/projects/00000/assistants?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "instructions": "You are helpful agent",
        "model": "gpt-4o",
        "name": "my-agent"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-westus-01",
        "Content-Type": "application/json",
        "openai-organization": "66c5ccd76cfe4bc79b7e2650cae937d0",
        "openai-processing-ms": "70",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "ab92900c-cf3e-4e5e-bf9a-6af5510ed7bd",
        "x-ms-region": "West US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.319"
      },
      "ResponseBody": {
        "id": "asst_5fpepH5k4tyT0c85hNwVuqmn",
        "object": "assistant",
        "created_at": 1753933011,
        "name": "my-agent",
        "description": null,
        "model": "gpt-4o",
        "instructions": "You are helpful agent",
        "tools": [],
        "top_p": 1.0,
        "temperature": 1.0,
        "tool_resources": {},
        "metadata": {},
        "response_format": "auto"
      }
    },
    {
      "RequestUri": "https://Sanitized.services.ai.azure.com/api/projects/00000/assistants/asst_5fpepH5k4tyT0c85hNwVuqmn?api-version=2025-05-15-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-westus-01",
        "Content-Type": "application/json",
        "openai-organization": "66c5ccd76cfe4bc79b7e2650cae937d0",
        "openai-processing-ms": "81",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "85f50b77-42c0-4238-ab91-ed85e4c2ab0f",
        "x-ms-region": "West US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.229"
      },
      "ResponseBody": {
        "id": "asst_5fpepH5k4tyT0c85hNwVuqmn",
        "object": "assistant.deleted",
        "deleted": true
      }
    }
  ],
  "Variables": {}
}
