{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.api.azureml.ms/agents/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/threads?api-version=v1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {},
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-westus-01",
        "Content-Type": "application/json",
        "openai-organization": "20ba836fffc34ede8203166d666c74ef",
        "openai-processing-ms": "25",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "423f1e46-efc1-47f9-b642-4268b7f6cd7f",
        "x-ms-region": "West US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.245"
      },
      "ResponseBody": {
        "id": "thread_IJCbtfQEKEhqHYzWvA2KeSca",
        "object": "thread",
        "created_at": 1746242911,
        "metadata": {},
        "tool_resources": {}
      }
    },
    {
      "RequestUri": "https://Sanitized.api.azureml.ms/agents/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/threads/thread_IJCbtfQEKEhqHYzWvA2KeSca/messages?api-version=v1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "role": "user",
        "content": "Hello, tell me a joke"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-westus-01",
        "Content-Type": "application/json",
        "openai-organization": "20ba836fffc34ede8203166d666c74ef",
        "openai-processing-ms": "123",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "add551cc-f221-403f-a458-c0b67c91c6de",
        "x-ms-region": "West US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.408"
      },
      "ResponseBody": {
        "id": "msg_kZMtkgYpIiMdkE97fK7QR7PM",
        "object": "thread.message",
        "created_at": 1746242911,
        "assistant_id": null,
        "thread_id": "thread_IJCbtfQEKEhqHYzWvA2KeSca",
        "run_id": null,
        "role": "user",
        "content": [
          {
            "type": "text",
            "text": {
              "value": "Hello, tell me a joke",
              "annotations": []
            }
          }
        ],
        "attachments": [],
        "metadata": {}
      }
    }
  ],
  "Variables": {}
}
