{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.api.azureml.ms/agents/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/assistants?api-version=2025_05_01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "instructions": "You are helpful agent",
        "model": "gpt-4o",
        "name": "my-agent"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-westus-01",
        "Content-Type": "application/json",
        "openai-organization": "20ba836fffc34ede8203166d666c74ef",
        "openai-processing-ms": "70",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "2ba9d54d-0646-41c2-b498-fbf8de3d9057",
        "x-ms-region": "West US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.291"
      },
      "ResponseBody": {
        "id": "asst_zxmgwlqTefcR3QmMVlBUl4W6",
        "object": "assistant",
        "created_at": 1747086057,
        "name": "my-agent",
        "description": null,
        "model": "gpt-4o",
        "instructions": "You are helpful agent",
        "tools": [],
        "top_p": 1.0,
        "temperature": 1.0,
        "tool_resources": {},
        "metadata": {},
        "response_format": "auto"
      }
    },
    {
      "RequestUri": "https://Sanitized.api.azureml.ms/agents/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/threads?api-version=2025_05_01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {},
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vien[...]
