{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.api.azureml.ms/agents/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/vector_stores?api-version=v1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "name": "test_vector_store",
        "metadata": {
          "key1": "value1",
          "key2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-westus-01",
        "Content-Type": "application/json",
        "openai-organization": "20ba836fffc34ede8203166d666c74ef",
        "openai-processing-ms": "789",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "ba56774f-31a4-4d06-a533-83b1a3f11117",
        "x-ms-region": "West US",
        "x-ms-response-type": "standard",
        "x-request-time": "1.053"
      },
      "ResponseBody": {
        "id": "vs_Sz6OyGvH8U64Rzfjhoh4RX6G",
        "object": "vector_store",
        "name": "test_vector_store",
        "status": "completed",
        "usage_bytes": 0,
        "created_at": 1746139279,
        "file_counts": {
          "in_progress": 0,
          "completed": 0,
          "failed": 0,
          "cancelled": 0,
          "total": 0
        },
        "metadata": {
          "key1": "value1",
          "key2": "value2"
        },
        "expires_after": null,
        "expires_at": null,
        "last_active_at": 1746139279
      }
    }
  ],
  "Variables": {}
}
