{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.api.azureml.ms/agents/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/threads?api-version=v1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {},
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-westus-01",
        "Content-Type": "application/json",
        "openai-organization": "20ba836fffc34ede8203166d666c74ef",
        "openai-processing-ms": "78",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "7bf11fd4-f6d0-486b-a11c-d1bd77cbd2c5",
        "x-ms-region": "West US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.316"
      },
      "ResponseBody": {
        "id": "thread_h9TJXuZD4bZzdGC1FahKxKN0",
        "object": "thread",
        "created_at": 1746138670,
        "metadata": {},
        "tool_resources": {}
      }
    },
    {
      "RequestUri": "https://Sanitized.api.azureml.ms/agents/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/threads/thread_h9TJXuZD4bZzdGC1FahKxKN0/messages?api-version=v1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "content": "Hello, tell me a joke",
        "role": "user"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-westus-01",
        "Content-Type": "application/json",
        "openai-organization": "20ba836fffc34ede8203166d666c74ef",
        "openai-processing-ms": "91",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "bf9fc786-c2d1-4618-ad0d-6ef060eced01",
        "x-ms-region": "West US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.338"
      },
      "ResponseBody": {
        "id": "msg_sdBYVVMkRPUKUYRLBLAQzp8h",
        "object": "thread.message",
        "created_at": 1746138670,
        "assistant_id": null,
        "thread_id": "thread_h9TJXuZD4bZzdGC1FahKxKN0",
        "run_id": null,
        "role": "user",
        "content": [
          {
            "type": "text",
            "text": {
              "value": "Hello, tell me a joke",
              "annotations": []
            }
          }
        ],
        "attachments": [],
        "metadata": {}
      }
    },
    {
      "RequestUri": "https://Sanitized.api.azureml.ms/agents/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/threads/thread_h9TJXuZD4bZzdGC1FahKxKN0/messages/msg_sdBYVVMkRPUKUYRLBLAQzp8h?api-version=v1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "metadata": {
          "key1": "value1",
          "key2": "value2"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-westus-01",
        "Content-Type": "application/json",
        "openai-organization": "20ba836fffc34ede8203166d666c74ef",
        "openai-processing-ms": "39",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "e6c64c71-2795-4639-a2ab-5aae9c60b4b6",
        "x-ms-region": "West US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.252"
      },
      "ResponseBody": {
        "id": "msg_sdBYVVMkRPUKUYRLBLAQzp8h",
        "object": "thread.message",
        "created_at": 1746138670,
        "assistant_id": null,
        "thread_id": "thread_h9TJXuZD4bZzdGC1FahKxKN0",
        "run_id": null,
        "role": "user",
        "content": [
          {
            "type": "text",
            "text": {
              "value": "Hello, tell me a joke",
              "annotations": []
            }
          }
        ],
        "file_ids": [],
        "metadata": {
          "key1": "value1",
          "key2": "value2"
        }
      }
    }
  ],
  "Variables": {}
}
