{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.api.azureml.ms/agents/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/assistants?api-version=v1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "instructions": "You are helpful agent",
        "model": "gpt-4o",
        "name": "my-agent",
        "tools": [
          {
            "type": "function",
            "function": {
              "name": "fetch_current_datetime_recordings",
              "description": "Get the current time as a JSON string.",
              "parameters": {
                "type": "object",
                "properties": {},
                "required": []
              }
            }
          }
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-westus-02",
        "Content-Type": "application/json",
        "openai-organization": "20ba836fffc34ede8203166d666c74ef",
        "openai-processing-ms": "81",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "98fece95-1be3-41da-adc6-df239dbe0dd8",
        "x-ms-region": "West US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.327"
      },
      "ResponseBody": {
        "id": "asst_WUYdLyIfUBSK2BF4rXyDLXTF",
        "object": "assistant",
        "created_at": 1746243617,
        "name": "my-agent",
        "description": null,
        "model": "gpt-4o",
        "instructions": "You are helpful agent",
        "tools": [
          {
            "type": "function",
            "function": {
              "name": "fetch_current_datetime_recordings",
              "description": "Get the current time as a JSON string.",
              "parameters": {
                "type": "object",
                "properties": {},
                "required": []
              },
              "strict": false
            }
          }
        ],
        "top_p": 1.0,
        "temperature": 1.0,
        "tool_resources": {},
        "metadata": {},
        "response_format": "auto"
      }
    },
    {
      "RequestUri": "https://Sanitized.api.azureml.ms/agents/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/assistants/asst_WUYdLyIfUBSK2BF4rXyDLXTF?api-version=v1",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-westus-02",
        "Content-Type": "application/json",
        "openai-organization": "20ba836fffc34ede8203166d666c74ef",
        "openai-processing-ms": "78",
        "openai-version": "2020-10-01",
        "x-ms-middleware-request-id": "7027362d-f3d1-47fe-a72d-cbad70fa0730",
        "x-ms-region": "West US",
        "x-ms-response-type": "standard",
        "x-request-time": "0.357"
      },
      "ResponseBody": {
        "id": "asst_WUYdLyIfUBSK2BF4rXyDLXTF",
        "object": "assistant.deleted",
        "deleted": true
      }
    }
  ],
  "Variables": {}
}
