{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.ContainerService/fleets/testresource-12a?api-version=2023-03-15-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {
          "archv2": "",
          "tier": "production"
        },
        "location": "eastus",
        "properties": {
          "hubProfile": {
            "dnsPrefix": "dnsprefix1"
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1198"
      },
      "ResponseBody": {
        "eTag": "\u002288002262-0000-0100-0000-64786bd10000\u0022",
        "id": "/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.ContainerService/fleets/testresource-12a",
        "location": "eastus",
        "name": "testresource-12a",
        "properties": {
          "hubProfile": {
            "dnsPrefix": "dnsprefix1",
            "fqdn": "",
            "kubernetesVersion": ""
          },
          "provisioningState": "Creating"
        },
        "systemData": {
          "createdAt": "2023-06-01T09:58:40.1293794Z",
          "createdBy": "azure_client_id",
          "createdByType": "Application",
          "lastModifiedAt": "2023-06-01T09:58:40.1293794Z",
          "lastModifiedBy": "azure_client_id",
          "lastModifiedByType": "Application"
        },
        "tags": {
          "archv2": "",
          "tier": "production"
        },
        "type": "Microsoft.ContainerService/fleets"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.ContainerService/fleets/testresource-12a?api-version=2023-03-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "fleet-configuration-version": "v20230301.1",
        "x-ms-ratelimit-remaining-subscription-reads": "11996"
      },
      "ResponseBody": {
        "eTag": "\u002288002262-0000-0100-0000-64786bd10000\u0022",
        "id": "/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.ContainerService/fleets/testresource-12a",
        "location": "eastus",
        "name": "testresource-12a",
        "properties": {
          "hubProfile": {
            "dnsPrefix": "dnsprefix1",
            "fqdn": "",
            "kubernetesVersion": ""
          },
          "provisioningState": "Creating"
        },
        "systemData": {
          "createdAt": "2023-06-01T09:58:40.1293794Z",
          "createdBy": "azure_client_id",
          "createdByType": "Application",
          "lastModifiedAt": "2023-06-01T09:58:40.1293794Z",
          "lastModifiedBy": "azure_client_id",
          "lastModifiedByType": "Application"
        },
        "tags": {
          "archv2": "",
          "tier": "production"
        },
        "type": "Microsoft.ContainerService/fleets"
      }
    },
[...]
