{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.ContainerService/fleets?api-version=2023-06-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11871"
      },
      "ResponseBody": {
        "value": [
          {
            "eTag": "\u0022c30092b0-0000-0100-0000-64fac7f30000\u0022",
            "id": "/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.ContainerService/fleets/testresource-12a",
            "location": "eastus",
            "name": "testresource-12a",
            "properties": {
              "hubProfile": {
                "dnsPrefix": "dnsprefix1",
                "fqdn": "dnsprefix1-ef6r5b31.hcp.eastus.azmk8s.io",
                "kubernetesVersion": "1.25.11"
              },
              "provisioningState": "Succeeded"
            },
            "systemData": {
              "createdAt": "2023-09-08T07:06:27.6477525Z",
              "createdBy": "azure_client_id",
              "createdByType": "Application",
              "lastModifiedAt": "2023-09-08T07:06:27.6477525Z",
              "lastModifiedBy": "azure_client_id",
              "lastModifiedByType": "Application"
            },
            "tags": {
              "archv2": "",
              "tier": "production"
            },
            "type": "Microsoft.ContainerService/fleets"
          }
        ]
      }
    }
  ],
  "Variables": {}
}
