{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/providers/Microsoft.ContainerService/operations?api-version=2025-03-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-failure-cause": "gateway",
        "x-ms-ratelimit-remaining-tenant-reads": "249"
      },
      "ResponseBody": {
        "error": {
          "code": "InvalidResourceType",
          "message": "The resource type 'operations' could not be found in the namespace 'Microsoft.ContainerService' for api version '2025-03-01'. The supported api-versions are '2015-11-01-preview,2016-03-30,2016-09-30,2017-01-31,2017-07-01,2017-08-31,2018-03-31,2018-10-31,2019-02-01,2019-04-01,2019-06-01,2019-08-01,2019-10-01,2019-11-01,2020-01-01,2020-02-01,2020-03-01,2020-04-01,2020-06-01,2020-07-01,2020-09-01,2020-11-01,2020-12-01,2021-02-01,2021-03-01,2021-05-01,2021-07-01,2021-08-01,2021-09-01,2021-10-01,2022-01-01,2022-02-01,2022-03-01,2022-04-01,2022-06-01,2022-07-01,2022-08-01,2022-09-01,2022-11-01,2023-01-01,2023-02-01,2023-03-01,2023-04-01,2023-05-01,2023-06-01,2023-07-01,2023-08-01,2023-09-01,2023-09-02-preview,2023-10-01,2023-10-02-preview,2023-11-01,2023-11-02-preview,2024-01-01,2024-01-02-preview,2024-02-01,2024-02-02-preview,2024-03-02-preview,2024-04-02-preview,2024-05-01,2024-05-02-preview,2024-06-01,2024-06-02-preview,2024-07-01,2024-07-02-preview,2024-08-01,2024-08-02-preview,2024-09-01,2024-09-02-preview,2024-10-01,2024-10-02-preview,2025-01-01,2025-01-02-preview,2025-02-01,2025-02-02-preview'."
        }
      }
    }
  ],
  "Variables": {}
}
