{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.ContainerService/fleets?api-version=2024-02-02-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11999"
      },
      "ResponseBody": {
        "value": [
          {
            "eTag": "\"29009dfb-0000-0100-0000-66308b500000\"",
            "id": "/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.ContainerService/fleets/testresource-12a",
            "location": "eastus",
            "name": "testresource-12a",
            "properties": {
              "provisioningState": "Succeeded"
            },
            "systemData": {
              "createdAt": "2024-04-30T06:10:19.993836Z",
              "createdBy": "v-ziweichen@microsoft.com",
              "createdByType": "User",
              "lastModifiedAt": "2024-04-30T06:10:19.993836Z",
              "lastModifiedBy": "v-ziweichen@microsoft.com",
              "lastModifiedByType": "User"
            },
            "tags": {
              "archv2": "",
              "tier": "production"
            },
            "type": "Microsoft.ContainerService/fleets"
          }
        ]
      }
    }
  ],
  "Variables": {}
}
