{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.ContainerService/fleets/testresource-12a?api-version=2023-08-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "fleet-configuration-version": "v20230815.1",
        "x-ms-ratelimit-remaining-subscription-reads": "11858"
      },
      "ResponseBody": {
        "eTag": "\u0022390375fc-0000-0100-0000-65211a020000\u0022",
        "id": "/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.ContainerService/fleets/testresource-12a",
        "location": "eastus",
        "name": "testresource-12a",
        "properties": {
          "hubProfile": {
            "dnsPrefix": "dnsprefix1",
            "fqdn": "dnsprefix1-l50oa9bm.hcp.eastus.azmk8s.io",
            "kubernetesVersion": "1.25.11",
            "portalFqdn": "dnsprefix1-l50oa9bm.portal.hcp.eastus.azmk8s.io"
          },
          "provisioningState": "Succeeded"
        },
        "systemData": {
          "createdAt": "2023-10-07T08:37:08.5081448Z",
          "createdBy": "azure_client_id",
          "createdByType": "Application",
          "lastModifiedAt": "2023-10-07T08:37:08.5081448Z",
          "lastModifiedBy": "azure_client_id",
          "lastModifiedByType": "Application"
        },
        "tags": {
          "archv2": "",
          "tier": "production"
        },
        "type": "Microsoft.ContainerService/fleets"
      }
    }
  ],
  "Variables": {}
}
