{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.ContainerService/fleets/testresource-12a?api-version=2024-05-02-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Fleet-Configuration-Version": "v20240827.1",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "eTag": "\"d2010582-0000-0100-0000-670e06290000\"",
        "id": "/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.ContainerService/fleets/testresource-12a",
        "location": "eastus",
        "name": "testresource-12a",
        "properties": {
          "provisioningState": "Succeeded"
        },
        "systemData": {
          "createdAt": "2024-10-15T06:05:28.6496513Z",
          "createdBy": "Sanitized",
          "createdByType": "User",
          "lastModifiedAt": "2024-10-15T06:05:28.6496513Z",
          "lastModifiedBy": "Sanitized",
          "lastModifiedByType": "User"
        },
        "tags": {
          "archv2": "",
          "tier": "production"
        },
        "type": "Microsoft.ContainerService/fleets"
      }
    }
  ],
  "Variables": {}
}
