{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.StorageActions/storageTasks/resourcetest?api-version=2023-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-ratelimit-remaining-subscription-reads": "11999"
      },
      "ResponseBody": {
        "id": "/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.StorageActions/storageTasks/resourcetest",
        "name": "resourcetest",
        "type": "Microsoft.StorageActions/storageTasks",
        "location": "eastus2euap",
        "identity": {
          "principalId": "e0b8c160-39d6-487b-ae62-c6bdfddc812c",
          "tenantId": "88888888-8888-8888-8888-888888888888",
          "type": "SystemAssigned"
        },
        "properties": {
          "enabled": true,
          "description": "My Storage task",
          "action": {
            "if": {
              "condition": "[[equals(AccessTier, \u0027Cool\u0027)]]",
              "operations": [
                {
                  "name": "SetBlobTier",
                  "parameters": {
                    "tier": "Hot"
                  },
                  "onSuccess": "continue",
                  "onFailure": "break"
                }
              ]
            },
            "else": {
              "operations": [
                {
                  "name": "DeleteBlob",
                  "onSuccess": "continue",
                  "onFailure": "break"
                }
              ]
            }
          },
          "taskVersion": 1,
          "provisioningState": "Succeeded",
          "creationTimeInUtc": "2024-03-07T09:27:52.5076009Z"
        }
      }
    }
  ],
  "Variables": {}
}
