{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/88888888-8888-8888-8888-888888888888/resourceGroups/myjstest/providers/Microsoft.StorageActions/storageTasks/resourcetest?api-version=2023-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-ratelimit-remaining-subscription-global-reads": "3749",
        "x-ms-ratelimit-remaining-subscription-reads": "249"
      },
      "ResponseBody": {
        "id": "/subscriptions/88888888-8888-8888-8888-888888888888/resourceGroups/myjstest/providers/Microsoft.StorageActions/storageTasks/resourcetest",
        "name": "resourcetest",
        "type": "Microsoft.StorageActions/storageTasks",
        "location": "westus",
        "identity": {
          "principalId": "00000000-0000-0000-0000-000000000000",
          "tenantId": "00000000-0000-0000-0000-000000000000",
          "type": "SystemAssigned"
        },
        "properties": {
          "enabled": true,
          "description": "My Storage task",
          "action": {
            "if": {
              "condition": "[[equals(AccessTier, 'Cool')]]",
              "operations": [
                {
                  "name": "SetBlobTier",
                  "parameters": {
                    "tier": "Hot"
                  },
                  "onSuccess": "continue",
                  "onFailure": "break"
                }
              ]
            },
            "else": {
              "operations": [
                {
                  "name": "DeleteBlob",
                  "onSuccess": "continue",
                  "onFailure": "break"
                }
              ]
            }
          },
          "taskVersion": 1,
          "provisioningState": "Succeeded",
          "creationTimeInUtc": "2025-04-18T06:51:54.2733584Z"
        }
      }
    }
  ],
  "Variables": {}
}
