{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/88888888-8888-8888-8888-888888888888/resourceGroups/myjstest/providers/Microsoft.StorageActions/storageTasks/resourcetest?api-version=2023-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westus",
        "identity": {
          "type": "SystemAssigned"
        },
        "properties": {
          "enabled": true,
          "description": "My Storage task",
          "action": {
            "if": {
              "condition": "[[equals(AccessTier, 'Cool')]]",
              "operations": [
                {
                  "name": "SetBlobTier",
                  "parameters": {
                    "tier": "Hot"
                  },
                  "onSuccess": "continue",
                  "onFailure": "break"
                }
              ]
            },
            "else": {
              "operations": [
                {
                  "name": "DeleteBlob",
                  "onSuccess": "continue",
                  "onFailure": "break"
                }
              ]
            }
          }
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/88888888-8888-8888-8888-888888888888/providers/Microsoft.StorageActions/locations/westus/asyncoperations/9652ae0a-aefd-4812-b890-e8af62677793?monitor=true&api-version=2023-01-01&asynclink=true",
        "Content-Type": "text/plain; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/88888888-8888-8888-8888-888888888888/providers/Microsoft.StorageActions/locations/westus/asyncoperations/9652ae0a-aefd-4812-b890-e8af62677793?monitor=true&api-version=2023-01-01",
        "Retry-After": "17",
        "x-ms-ratelimit-remaining-subscription-global-writes": "2999",
        "x-ms-ratelimit-remaining-subscription-writes": "199"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/88888888-8888-8888-8888-888888888888/providers/Microsoft.StorageActions/locations/westus/asyncoperations/9652ae0a-aefd-4812-b890-e8af62677793?monitor=true&api-version=2023-01-01&asynclink=true",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-ratelimit-remaining-subscription-global-reads": "3749",
        "x-ms-ratelimit-remaining-subscription-reads": "249"
      },
      "ResponseBody": {
        "status": "Succeeded",
        "startTime": "2025-04-18T06:51:54.2733584Z",
        "endTime": "2025-04-18T06:51:54.7733773Z"
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/88888888-8888-8888-8888-888888888888/resourceGroups/myjstest/providers/Microsoft.StorageActions/storageTasks/resourcetest?api-version=2023-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-ratelimit-remaining-subscription-global-reads": "3749",
        "x-ms-ratelimit-remaining-subscription-reads": "249"
      },
      "ResponseBody": {
        "id": "/subscriptions/88888888-8888-8888-8888-888888888888/resourceGroups/myjstest/providers/Microsoft.StorageActions/storageTasks/resourcetest",
        "name": "resourcetest",
        "type": "Microsoft.StorageActions/storageTasks",
        "location": "westus",
        "identity": {
          "principalId": "00000000-0000-0000-0000-000000000000",
          "tenantId": "00000000-0000-0000-0000-000000000000",
          "type": "SystemAssigned"
        },
        "properties": {
          "enabled": true,
          "description": "My Storage task",
          "action": {
            "if": {
              "condition": "[[equals(AccessTier, 'Cool')]]",
              "operations": [
                {
                  "name": "SetBlobTier",
                  "parameters": {
                    "tier": "Hot"
                  },
                  "onSuccess": "continue",
                  "onFailure": "break"
                }
              ]
            },
            "else": {
              "operations": [
                {
                  "name": "DeleteBlob",
                  "onSuccess": "continue",
                  "onFailure": "break"
                }
              ]
            }
          },
          "taskVersion": 1,
          "provisioningState": "Succeeded",
          "creationTimeInUtc": "2025-04-18T06:51:54.2733584Z"
        }
      }
    }
  ],
  "Variables": {}
}
