{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/providers/Microsoft.Workloads/operations?api-version=2024-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-tenant-reads": "24999"
      },
      "ResponseBody": {
        "value": [
          {
            "name": "Sanitized",
            "isDataAction": false,
            "display": {
              "provider": "Microsoft.Workloads",
              "resource": "RegisteredSubscriptions",
              "operation": "Gets/Lists registered subscriptions",
              "description": "Reads registered subscriptions"
            },
            "properties": null
          },
          {
            "name": "Sanitized",
            "isDataAction": false,
            "display": {
              "provider": "Microsoft.Workloads",
              "resource": "phpWorkloads/wordpressInstances",
              "operation": "WordpressInstances_List",
              "description": "Lists WordpressInstances resources under a phpWorkload resource"
            },
            "properties": null
          },
          {
            "name": "Sanitized",
            "[...]
