{
  "Entries": [
    {
      "RequestUri": "https://testaccount.dev.azuresynapse.net/monitoring/workloadTypes/spark/Applications?api-version=2020-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "X-ServiceFabricRequestId": "593d0bd2-d504-4d54-89e6-eff0bd17f414"
      },
      "ResponseBody": {
        "nJobs": 0,
        "sparkJobs": null
      }
    }
  ],
  "Variables": {}
}
