{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/tenants?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-tenant-reads": "11999"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/tenants/a73527ee-8243-45dd-8920-ec148d4ad0f8",
            "tenantId": "a73527ee-8243-45dd-8920-ec148d4ad0f8",
            "tenantCategory": "Home"
          }
        ]
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/cca0326c-4c31-46d8-8fcb-c67023a46f4b?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11998"
      },
      "ResponseBody": {
        "id": "/subscriptions/cca0326c-4c31-46d8-8fcb-c67023a46f4b",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "subscriptionId": "cca0326c-4c31-46d8-8fcb-c67023a46f4b",
        "tenantId": "a73527ee-8243-45dd-8920-ec148d4ad0f8",
        "displayName": "Microsoft Azure Sponsorship 2",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Public_2014-09-01",
          "quotaId": "Sponsored_2016-01-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/cca0326c-4c31-46d8-8fcb-c67023a46f4b/providers/Microsoft.Support/fileWorkspaces/dotnet_test_workspacename4/files?api-version=2023-06-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11997"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/cca0326c-4c31-46d8-8fcb-c67023a46f4b/providers/Microsoft.Support/fileWorkspaces/dotnet_test_workspacename4/files/dotnet_test_filename2.txt",
            "name": "dotnet_test_filename2.txt",
            "type": "Microsoft.Support/files",
            "properties": {
              "createdOn": "2024-03-01T00:37:31Z",
              "fileSize": 2796204,
              "chunkSize": 2621440,
              "numberOfChunks": 2
            }
          },
          {
            "id": "/subscriptions/cca0326c-4c31-46d8-8fcb-c67023a46f4b/providers/Microsoft.Support/fileWorkspaces/dotnet_test_workspacename4/files/dotnet_sdk_test_new_file_test1515.txt",
            "name": "dotnet_sdk_test_new_file_test1515.txt",
            "type": "Microsoft.Support/files",
            "properties": {
              "createdOn": "2024-03-01T00:39:34Z",
              "fileSize": 4,
              "chunkSize": 4,
              "numberOfCh[...]
