{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.com/phoneNumbers/%2B14155550100/capabilities?api-version=2025-06-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch+json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 14 Aug 2025 23:27:43 GMT"
      },
      "RequestBody": {
        "calling": "none",
        "sms": "outbound"
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01, 2022-12-02-preview2, 2023-04-30-preview, 2023-05-01-preview, 2023-10-01-preview, 2024-03-01-preview, 2024-04-30-preview, 2024-05-01-preview, 2024-08-31-preview, 2025-02-11, 2025-04-01-preview, 2025-04-01, 2025-04-15-preview, 2025-06-01",
        "capabilities-id": "00000000-0000-0000-0000-000000000000",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "/phoneNumbers/+14155550100?api-version=2025-06-01",
        "MS-CV": "Sanitized",
        "operation-id": "capabilities_00000000-0000-0000-0000-000000000000",
        "Operation-Location": "https://example.com",
        "X-Processing-Time": "2368ms"
      },
      "ResponseBody": {
        "capabilitiesUpdateId": "00000000-0000-0000-0000-000000000000"
      }
    },
    {
      "RequestUri": "https://Sanitized.com/phoneNumbers/operations/capabilities_00000000-0000-0000-0000-000000000000?api-version=2025-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch+json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 14 Aug 2025 23:27:46 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-11-15-preview, 2022-12-01, 2022-12-02-preview2, 2023-04-30-preview, 2023-05-01-preview, 2023-10-01-preview, 2023-10-01-preview2, 2024-03-01-preview, 2024-04-30-preview, 2024-05-01-preview, 2024-08-31-preview, 2025-02-11, 2025-04-01-preview, 2025-04-01, 2025-04-15-preview, 2025-06-01",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "/phoneNumbers/+14155550100?api-version=2025-06-01",
        "MS-CV": "Sanitized",
        "X-Processing-Time": "594ms"
      },
      "ResponseBody": {
        "operationType": "updatePhoneNumberCapabilities",
        "status": "running",
        "resourceLocation": "Sanitized",
        "createdDateTime": "2025-08-14T23:27:45.741879+00:00",
        "id": "capabilities_00000000-0000-0000-0000-000000000000",
        "lastActionDateTime": "0001-01-01T00:00:00+00:00"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.com/availablePhoneNumbers/searchResults/00000000-0000-0000-0000-000000000000?api-version=2025-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch+json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Thu, 14 Aug 2025 23:27:52 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01, 2022-12-02-preview2, 2023-04-30-preview, 2023-05-01-preview, 2023-10-01-preview, 2024-03-01-preview, 2024-04-30-preview, 2024-05-01-preview, 2024-08-31-preview, 2025-02-11, 2025-04-01-preview, 2025-04-01, 2025-04-15-preview, 2025-06-01",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "Sanitized",
        "X-Processing-Time": "710ms"
      },
      "ResponseBody": {
        "id": "14155550100",
        "phoneNumber": "+14155550100",
        "countryCode": "US",
        "phoneNumberType": "tollFree",
        "capabilities": {
          "calling": "none",
          "sms": "outbound"
        },
        "assignmentType": "application",
        "purchaseDate": "2025-02-07T18:17:19.5320954+00:00",
        "cost": {
          "amount": 2.0,
          "currencyCode": "USD",
          "billingFrequency": "monthly"
        }
      }
    }
  ],
  "Variables": {}
}
