{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/test-project/memory_stores?api-version=v1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "foundry-features": "MemoryStores=V1Preview"
      },
      "RequestBody": {
        "name": "test_memory_store_create_1",
        "description": "Test memory store",
        "definition": {
          "kind": "default",
          "chat_model": "gpt-5.2",
          "embedding_model": "text-embedding-3-large"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "1.0,2025-05-15-preview,2025-11-15-preview",
        "azureml-served-by-cluster": "hyena-westus2-02",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "West US 2",
        "x-ms-response-type": "standard"
      },
      "ResponseBody": {
        "object": "memory_store",
        "id": "memstore_b71b711b4b45041200g7H08Jr8IEvFZCjBfJdkTsE8NNSBdFYK",
        "created_at": 1773342970,
        "updated_at": 1773342970,
        "name": "test_memory_store_create_1",
        "description": "Test memory store",
        "metadata": {},
        "definition": {
          "kind": "default",
          "chat_model": "gpt-5.2",
          "embedding_model": "text-embedding-3-large",
          "options": {
            "user_profile_enabled": true,
            "chat_summary_enabled": true
          }
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/test-project/memory_stores/test_memory_store_create_1?api-version=v1",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "foundry-features": "MemoryStores=V1Preview"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "1.0,2025-05-15-preview,2025-11-15-preview",
        "azureml-served-by-cluster": "hyena-westus2-02",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "West US 2",
        "x-ms-response-type": "standard"
      },
      "ResponseBody": {
        "object": "memory_store.deleted",
        "name": "test_memory_store_create_1",
        "deleted": true
      }
    }
  ],
  "Variables": {}
}
