{
  "Entries": [
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-0140bb5c-9ec3-5fb4-3feb-8e064baf22f9?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:22:25 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC867F87741833\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:22:27 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-0140bb5c-9ec3-5fb4-3feb-8e064baf22f9/test-blob-d18b824d-9a20-fd77-3f27-215dd7d8d6e0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 06 Jun 2024 23:22:25 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "0e1teOb3fw5vTE1MwkTdBJcBjwXTR4H9W8vqUsh7clIgvWZNbVXeVQN9YtNNKjr7SR3G1kjRDIlsbxwaDCxF9Nr6LAXej5ZCIjkBVuWtsDGQ7wmrtJwJTrDc4f44w0nWN275U/41HLmHhLMOz7ajvr/riR0jmj8+8N1UAa6YCV7wKx52tFwyW9JPJDDo+3/6OCM+TTkrsp0vumIh4RoL7npUHaSXLQljuC5K03UOVfVeWcmLWrskxHiAR/n6EXm3RDW2k93aYgsZ2pQL4d8oIWVtw4dRgJS+L1grF+UPaKe1ko9AV8EXg/e9cX8nGeOZWCWUjE7yZcSg92OEr0slCXLtVk9P6MmjVUCQlA4VlxZ1[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-0140bb5c-9ec3-5fb4-3feb-8e064baf22f9/test-blob-d18b824d-9a20-fd77-3f27-215dd7d8d6e0?sv=Sanitized&st=2024-06-06T22%3A22%3A25Z&se=2024-06-07T00%3A22%3A25Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "+JQF1XJxQvOH3SLnOqyFXw==",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC867F8780B113\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:22:27 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 06 Jun 2024 23:22:27 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-0140bb5c-9ec3-5fb4-3feb-8e064baf22f9?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:22:25 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-06-06T18:22:25.7357737-05:00",
    "RandomSeed": "65419444",
    "Storage_TestConfigDefault": "ProductionTenant\nseancanary\nU2FuaXRpemVk\nhttps://seancanary.blob.core.windows.net\nhttps://seancanary.file.core.windows.net\nhttps://seancanary.queue.core.windows.net\nhttps://seancanary.table.core.windows.net\n\n\n\n\nhttps://seancanary-secondary.blob.core.windows.net\nhttps://seancanary-secondary.file.core.windows.net\nhttps://seancanary-secondary.queue.core.windows.net\nhttps://seancanary-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seancanary.blob.core.windows.net/;QueueEndpoint=https://seancanary.queue.core.windows.net/;FileEndpoint=https://seancanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seancanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seancanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seancanary-secondary.file.core.windows.net/;AccountName=seancanary;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
