{
  "Entries": [
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-c5f71dc6-7e09-6ef8-bd15-cccb4eb152af?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:22:33 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC867F8C20215A\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:22:34 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-c5f71dc6-7e09-6ef8-bd15-cccb4eb152af/test-blob-7adbe157-ce32-e037-d512-d8d9aecc02ff",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Thu, 06 Jun 2024 23:22:33 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "adablTJrZRIvcvbIJEteDsyH1IriMcNggp4RNy/GTFJdwZKwQs0W7HvISsDYbryJtMoNJ/d4HTcTOxKTWS3iaCaka2K4rsz/cegOGeYCiBPhiINluSRa5aRbnQe6gpNO5uGZMwNa0AX9DrYOaQRQELL/stCqfa8BSYa9XRHFRO5VwDMEaVUPh7d9Z6tuS3ugCo1VutDCo2gymOl9nHL0OMnHuajQTKdc7yoYLBUEkv4KHVOEcIkekhzK0tBrkupFiC7hp5LSz77m+MulqXdSLgXrcn4fcMhAqCaMBnnW8V1A06PnIutrN06Vnne+eemld6TLgB9rJhhlof5rRshEDwdtZNXTawsafzswidJQgS49[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-c5f71dc6-7e09-6ef8-bd15-cccb4eb152af/test-blob-7adbe157-ce32-e037-d512-d8d9aecc02ff?sv=Sanitized&st=2024-06-06T22%3A22%3A33Z&se=2024-06-07T00%3A22%3A33Z&sr=b&sp=r&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "i3O1IYb0aC6l3WcKu3UmNw==",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC867F8C2CE34F\"",
        "Last-Modified": "Thu, 06 Jun 2024 23:22:35 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Thu, 06 Jun 2024 23:22:35 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-c5f71dc6-7e09-6ef8-bd15-cccb4eb152af?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 06 Jun 2024 23:22:33 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-06-06T18:22:33.5843172-05:00",
    "RandomSeed": "300474653",
    "Storage_TestConfigDefault": "ProductionTenant\nseancanary\nU2FuaXRpemVk\nhttps://seancanary.blob.core.windows.net\nhttps://seancanary.file.core.windows.net\nhttps://seancanary.queue.core.windows.net\nhttps://seancanary.table.core.windows.net\n\n\n\n\nhttps://seancanary-secondary.blob.core.windows.net\nhttps://seancanary-secondary.file.core.windows.net\nhttps://seancanary-secondary.queue.core.windows.net\nhttps://seancanary-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seancanary.blob.core.windows.net/;QueueEndpoint=https://seancanary.queue.core.windows.net/;FileEndpoint=https://seancanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seancanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seancanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seancanary-secondary.file.core.windows.net/;AccountName=seancanary;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
