{
  "Entries": [
    {
      "RequestUri": "https://westus.metrics.monitor.azure.com/subscriptions/fakesubscriptionID/metrics:getBatch?api-version=2024-02-01\u0026metricnames=HttpIncomingRequestCount\u0026metricnamespace=Microsoft.AppConfiguration%2FconfigurationStores",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "resourceids": [
          "/subscriptions/faa080af-c1d8-40ad-9cce-e1a451va7b87/resourceGroups/rg-example/providers/Microsoft.AppConfiguration/configurationStores/example"
        ]
      },
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json"
      },
      "ResponseBody": {
        "error": {
          "code": "PathNotFound",
          "message": "Path not found"
        }
      }
    }
  ],
  "Variables": {}
}
