{
  "Entries": [
    {
      "RequestUri": "https://dummyaccount.eastus.batch.azure.com/pools?api-version=2025-06-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json; odata=minimalmetadata",
        "ocp-date": "Wed, 21 Jan 2026 19:34:52 GMT"
      },
      "RequestBody": {
        "id": "jssdkPool-SecurityProfilefa3c",
        "vmSize": "Standard_D2s_v3",
        "virtualMachineConfiguration": {
          "imageReference": {
            "publisher": "Canonical",
            "offer": "0001-com-ubuntu-server-jammy",
            "sku": "22_04-lts"
          },
          "nodeAgentSKUId": "batch.node.ubuntu 22.04",
          "osDisk": {
            "caching": "readwrite",
            "diskSizeGB": 50,
            "managedDisk": {
              "storageAccountType": "standard_lrs"
            },
            "writeAcceleratorEnabled": true
          },
          "securityProfile": {
            "encryptionAtHost": true,
            "securityType": "trustedLaunch",
            "uefiSettings": {
              "secureBootEnabled": true,
              "vTpmEnabled": true
            }
          }
        },
        "targetDedicatedNodes": 0
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "DataServiceId": "https://dummyaccount.eastus.batch.azure.com/pools/jssdkPool-SecurityProfilefa3c",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DE592426273492",
        "Last-Modified": "Wed, 21 Jan 2026 19:34:52 GMT",
        "Location": "https://dummyaccount.eastus.batch.azure.com/pools/jssdkPool-SecurityProfilefa3c"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://dummyaccount.eastus.batch.azure.com/pools/jssdkPool-SecurityProfilefa3c?api-version=2025-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "ocp-date": "Wed, 21 Jan 2026 19:34:53 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DE592426273492",
        "Last-Modified": "Wed, 21 Jan 2026 19:34:52 GMT"
      },
      "ResponseBody": {
        "odata.metadata": "https://dummyaccount.eastus.batch.azure.com/$metadata#pools/@Element",
        "id": "jssdkPool-SecurityProfilefa3c",
        "url": "https://dummyaccount.eastus.batch.azure.com/pools/jssdkPool-SecurityProfilefa3c",
        "eTag": "0x8DE592426273492",
        "lastModified": "2026-01-21T19:34:52.698741Z",
        "creationTime": "2026-01-21T19:34:52.6987405Z",
        "state": "active",
        "stateTransitionTime": "2026-01-21T19:34:52.6987405Z",
        "allocationState": "resizing",
        "allocationStateTransitionTime": "2026-01-21T19:34:52.698741Z",
        "vmSize": "standard_d2s_v3",
        "resizeTimeout": "PT15M",
        "currentDedicatedNodes": 0,
        "targetDedicatedNodes": 0,
        "currentLowPriorityNodes": 0,
        "targetLowPriorityNodes": 0,
        "enableAutoScale": false,
        "enableInterNodeCommunication": false,
        "taskSlotsPerNode": 1,
        "taskSchedulingPolicy": {
          "nodeFillType": "Spread",
          "jobDefaultOrder": "none"
        },
        "virtualMachineConfiguration": {
          "imageReference": {
            "publisher": "Canonical",
            "offer": "0001-com-ubuntu-server-jammy",
            "sku": "22_04-lts",
            "version": "latest"
          },
          "osDisk": {
            "ephemeralOSDiskSettings": {},
            "managedDisk": {
              "storageAccountType": "standard_lrs"
            },
            "diskSizeGB": 50,
            "writeAcceleratorEnabled": true,
            "caching": "ReadWrite"
          },
          "nodeAgentSKUId": "batch.node.ubuntu 22.04",
          "securityProfile": {
            "securityType": "trustedlaunch",
            "encryptionAtHost": true,
            "uefiSettings": {
              "secureBootEnabled": true,
              "vTpmEnabled": true
            }
          }
        }
      }
    },
[...]
    {
      "RequestUri": "https://dummyaccount.eastus.batch.azure.com/pools/jssdkPool-SecurityProfilefa3c?api-version=2025-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "ocp-date": "Wed, 21 Jan 2026 19:34:54 GMT"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": {
        "odata.metadata": "https://dummyaccount.eastus.batch.azure.com/$metadata#Microsoft.Azure.Batch.Protocol.Entities.Container.errors/@Element",
        "code": "PoolNotFound",
        "message": {
          "lang": "en-US",
          "value": "The specified pool does not exist.\nRequestId:ecf83497-1bd6-404b-8c75-b82927263581\nTime:2026-01-21T19:34:54.8797099Z"
        }
      }
    }
  ],
  "Variables": {
    "SECURITY_PROFILE_POOL": "jssdkPool-SecurityProfilefa3c"
  }
}
