{
  "Entries": [
    {
      "RequestUri": "https://dummyaccount.eastus.batch.azure.com/pools?api-version=2025-06-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json; odata=minimalmetadata",
        "ocp-date": "Wed, 21 Jan 2026 20:17:04 GMT"
      },
      "RequestBody": {
        "id": "jssdkPool-JobFifo8b39",
        "vmSize": "Standard_D1_v2",
        "virtualMachineConfiguration": {
          "imageReference": {
            "publisher": "microsoftwindowsserver",
            "offer": "windowsserver",
            "sku": "2022-datacenter"
          },
          "nodeAgentSKUId": "batch.node.windows amd64"
        },
        "taskSchedulingPolicy": {
          "jobDefaultOrder": "creationtime",
          "nodeFillType": "spread"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "DataServiceId": "https://dummyaccount.eastus.batch.azure.com/pools/jssdkPool-JobFifo8b39",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DE592A0B47854C",
        "Last-Modified": "Wed, 21 Jan 2026 20:17:04 GMT",
        "Location": "https://dummyaccount.eastus.batch.azure.com/pools/jssdkPool-JobFifo8b39"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://dummyaccount.eastus.batch.azure.com/pools/jssdkPool-JobFifo8b39?api-version=2025-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "ocp-date": "Wed, 21 Jan 2026 20:17:04 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DE592A0B47854C",
        "Last-Modified": "Wed, 21 Jan 2026 20:17:04 GMT"
      },
      "ResponseBody": {
        "odata.metadata": "https://dummyaccount.eastus.batch.azure.com/$metadata#pools/@Element",
        "id": "jssdkPool-JobFifo8b39",
        "url": "https://dummyaccount.eastus.batch.azure.com/pools/jssdkPool-JobFifo8b39",
        "eTag": "0x8DE592A0B47854C",
        "lastModified": "2026-01-21T20:17:04.5924172Z",
        "creationTime": "2026-01-21T20:17:04.5924167Z",
        "state": "active",
        "stateTransitionTime": "2026-01-21T20:17:04.5924167Z",
        "allocationState": "resizing",
        "allocationStateTransitionTime": "2026-01-21T20:17:04.5924172Z",
        "vmSize": "standard_d1_v2",
        "resizeTimeout": "PT15M",
        "currentDedicatedNodes": 0,
        "targetDedicatedNodes": 0,
        "currentLowPriorityNodes": 0,
        "targetLowPriorityNodes": 0,
        "enableAutoScale": false,
        "enableInterNodeCommunication": false,
        "taskSlotsPerNode": 1,
        "taskSchedulingPolicy": {
          "nodeFillType": "Spread",
          "jobDefaultOrder": "creationtime"
        },
        "virtualMachineConfiguration": {
          "imageReference": {
            "publisher": "microsoftwindowsserver",
            "offer": "windowsserver",
            "sku": "2022-datacenter",
            "version": "latest"
          },
          "nodeAgentSKUId": "batch.node.windows amd64"
        }
      }
    },
[...]
    {
      "RequestUri": "https://dummyaccount.eastus.batch.azure.com/pools/jssdkPool-JobFifo8b39?api-version=2025-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "ocp-date": "Wed, 21 Jan 2026 20:17:05 GMT"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": {
        "odata.metadata": "https://dummyaccount.eastus.batch.azure.com/$metadata#Microsoft.Azure.Batch.Protocol.Entities.Container.errors/@Element",
        "code": "PoolNotFound",
        "message": {
          "lang": "en-US",
          "value": "The specified pool does not exist.\nRequestId:91c64784-54c0-48e8-9f31-77e5502e37be\nTime:2026-01-21T20:17:05.8548659Z"
        }
      }
    }
  ],
  "Variables": {
    "Pool-JobFifo": "jssdkPool-JobFifo8b39"
  }
}
