{
  "Entries": [
    {
      "RequestUri": "https://dummyaccount.eastus.batch.azure.com/pools?api-version=2025-06-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json; odata=minimalmetadata",
        "ocp-date": "Fri, 23 Jan 2026 22:41:20 GMT"
      },
      "RequestBody": {
        "id": "jssdkPool-Confidential587c",
        "vmSize": "Standard_D2s_v3",
        "virtualMachineConfiguration": {
          "imageReference": {
            "publisher": "canonical",
            "offer": "0001-com-ubuntu-confidential-vm-jammy",
            "sku": "22_04-lts-cvm"
          },
          "nodeAgentSKUId": "batch.node.ubuntu 22.04",
          "osDisk": {
            "managedDisk": {
              "securityProfile": {
                "securityEncryptionType": "VMGuestStateOnly"
              }
            }
          },
          "securityProfile": {
            "encryptionAtHost": true,
            "proxyAgentSettings": {
              "enabled": true,
              "imds": {
                "mode": "Audit"
              },
              "wireServer": {
                "mode": "Audit"
              }
            },
            "securityType": "confidentialvm",
            "uefiSettings": {
              "secureBootEnabled": true,
              "vTpmEnabled": true
            }
          }
        },
        "targetDedicatedNodes": 0
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "DataServiceId": "https://dummyaccount.eastus.batch.azure.com/pools/jssdkPool-Confidential587c",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DE5AD087BDFAA0",
        "Last-Modified": "Fri, 23 Jan 2026 22:41:21 GMT",
        "Location": "https://dummyaccount.eastus.batch.azure.com/pools/jssdkPool-Confidential587c"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://dummyaccount.eastus.batch.azure.com/pools/jssdkPool-Confidential587c?api-version=2025-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "ocp-date": "Fri, 23 Jan 2026 22:41:21 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DE5AD087BDFAA0",
        "Last-Modified": "Fri, 23 Jan 2026 22:41:21 GMT"
      },
      "ResponseBody": {
        "odata.metadata": "https://dummyaccount.eastus.batch.azure.com/$metadata#pools/@Element",
        "id": "jssdkPool-Confidential587c",
        "url": "https://dummyaccount.eastus.batch.azure.com/pools/jssdkPool-Confidential587c",
        "eTag": "0x8DE5AD087BDFAA0",
        "lastModified": "2026-01-23T22:41:21.0261152Z",
        "creationTime": "2026-01-23T22:41:21.0261142Z",
        "state": "active",
        "stateTransitionTime": "2026-01-23T22:41:21.0261142Z",
        "allocationState": "resizing",
        "allocationStateTransitionTime": "2026-01-23T22:41:21.0261175Z",
        "vmSize": "standard_d2s_v3",
        "resizeTimeout": "PT15M",
        "currentDedicatedNodes": 0,
        "targetDedicatedNodes": 0,
        "currentLowPriorityNodes": 0,
        "targetLowPriorityNodes": 0,
        "enableAutoScale": false,
        "enableInterNodeCommunication": false,
        "taskSlotsPerNode": 1,
        "taskSchedulingPolicy": {
          "nodeFillType": "Spread",
          "jobDefaultOrder": "none"
        },
        "virtualMachineConfiguration": {
          "imageReference": {
            "publisher": "canonical",
            "offer": "0001-com-ubuntu-confidential-vm-jammy",
            "sku": "22_04-lts-cvm",
            "version": "latest"
          },
          "osDisk": {
            "ephemeralOSDiskSettings": {},
            "managedDisk": {
              "storageAccountType": "standard_lrs",
              "securityProfile": {
                "securityEncryptionType": "VMGuestStateOnly"
              }
            },
            "caching": "None"
          },
          "nodeAgentSKUId": "batch.node.ubuntu 22.04",
          "securityProfile": {
            "securityType": "confidentialvm",
            "encryptionAtHost": true,
            "uefiSettings": {
              "secureBootEnabled": true,
              "vTpmEnabled": true
            },
            "proxyAgentSettings": {
              "enabled": true,
              "imds": {
                "mode": "Audit"
              },
              "wireServer": {
                "mode": "Audit"
              }
            }
          }
        }
      }
    },
[...]
    {
      "RequestUri": "https://dummyaccount.eastus.batch.azure.com/pools/jssdkPool-Confidential587c?api-version=2025-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "ocp-date": "Fri, 23 Jan 2026 22:41:22 GMT"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": {
        "odata.metadata": "https://dummyaccount.eastus.batch.azure.com/$metadata#Microsoft.Azure.Batch.Protocol.Entities.Container.errors/@Element",
        "code": "PoolNotFound",
        "message": {
          "lang": "en-US",
          "value": "The specified pool does not exist.\nRequestId:98b4ecab-a283-48b7-bb16-8781b7c9fd5d\nTime:2026-01-23T22:41:22.7605033Z"
        }
      }
    }
  ],
  "Variables": {
    "CVM_POOL": "jssdkPool-Confidential587c"
  }
}
