{
  "Entries": [
    {
      "RequestUri": "https://dummyaccount.eastus.batch.azure.com/pools?api-version=2025-06-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json; odata=minimalmetadata",
        "ocp-date": "Wed, 21 Jan 2026 19:35:13 GMT"
      },
      "RequestBody": {
        "id": "jssdkPool-IPv6c27a",
        "vmSize": "Standard_D1_v2",
        "virtualMachineConfiguration": {
          "imageReference": {
            "publisher": "microsoftwindowsserver",
            "offer": "windowsserver",
            "sku": "2022-datacenter"
          },
          "nodeAgentSKUId": "batch.node.windows amd64"
        },
        "targetDedicatedNodes": 1,
        "networkConfiguration": {
          "endpointConfiguration": {
            "inboundNATPools": [
              {
                "name": "RDP",
                "protocol": "tcp",
                "backendPort": 3389,
                "frontendPortRangeStart": 15000,
                "frontendPortRangeEnd": 15100
              }
            ]
          },
          "publicIPAddressConfiguration": {
            "provision": "batchmanaged",
            "ipFamilies": [
              "IPv6",
              "IPv4"
            ]
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "DataServiceId": "https://dummyaccount.eastus.batch.azure.com/pools/jssdkPool-IPv6c27a",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DE592432448CFB",
        "Last-Modified": "Wed, 21 Jan 2026 19:35:13 GMT",
        "Location": "https://dummyaccount.eastus.batch.azure.com/pools/jssdkPool-IPv6c27a"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://dummyaccount.eastus.batch.azure.com/pools/jssdkPool-IPv6c27a?api-version=2025-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "ocp-date": "Wed, 21 Jan 2026 19:35:13 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DE592432448CFB",
        "Last-Modified": "Wed, 21 Jan 2026 19:35:13 GMT"
      },
      "ResponseBody": {
        "odata.metadata": "https://dummyaccount.eastus.batch.azure.com/$metadata#pools/@Element",
        "id": "jssdkPool-IPv6c27a",
        "url": "https://dummyaccount.eastus.batch.azure.com/pools/jssdkPool-IPv6c27a",
        "eTag": "0x8DE592432448CFB",
        "lastModified": "2026-01-21T19:35:13.0237179Z",
        "creationTime": "2026-01-21T19:35:13.0237175Z",
        "state": "active",
        "stateTransitionTime": "2026-01-21T19:35:13.0237175Z",
        "allocationState": "resizing",
        "allocationStateTransitionTime": "2026-01-21T19:35:13.023718Z",
        "vmSize": "standard_d1_v2",
        "resizeTimeout": "PT15M",
        "currentDedicatedNodes": 0,
        "targetDedicatedNodes": 1,
        "currentLowPriorityNodes": 0,
        "targetLowPriorityNodes": 0,
        "enableAutoScale": false,
        "enableInterNodeCommunication": false,
        "taskSlotsPerNode": 1,
        "taskSchedulingPolicy": {
          "nodeFillType": "Spread",
          "jobDefaultOrder": "none"
        },
        "virtualMachineConfiguration": {
          "imageReference": {
            "publisher": "microsoftwindowsserver",
            "offer": "windowsserver",
            "sku": "2022-datacenter",
            "version": "latest"
          },
          "nodeAgentSKUId": "batch.node.windows amd64"
        },
        "networkConfiguration": {
          "dynamicVNetAssignmentScope": "none",
          "endpointConfiguration": {
            "inboundNATPools": [
              {
                "name": "RDP",
                "protocol": "tcp",
                "backendPort": 3389,
                "frontendPortRangeStart": 15000,
                "frontendPortRangeEnd": 15100
              }
            ]
          },
          "publicIPAddressConfiguration": {
            "provision": "BatchManaged",
            "ipFamilies": [
              "IPv4",
              "IPv6"
            ]
          },
          "enableAcceleratedNetworking": false
        }
      }
    },
    {
      "RequestUri": "https://dummyaccount.eastus.batch.azure.com/pools/jssdkPool-IPv6c27a/nodes?api-version=2025-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "ocp-date": "Wed, 21 Jan 2026 19:35:13 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": {
        "odata.metadata": "https://dummyaccount.eastus.batch.azure.com/$metadata#nodes",
        "value": []
      }
    },
[...]
    {
      "RequestUri": "https://dummyaccount.eastus.batch.azure.com/pools/jssdkPool-IPv6c27a/nodes?api-version=2025-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "ocp-date": "Wed, 21 Jan 2026 19:36:14 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": {
        "odata.metadata": "https://dummyaccount.eastus.batch.azure.com/$metadata#nodes",
        "value": [
          {
            "id": "tvmps_7e50eea01e6ab758a8c88f0d91fa7790b4635b3d9aa914459a44c557e9897e01_d",
            "url": "https://dummyaccount.eastus.batch.azure.com/pools/jssdkPool-IPv6c27a/nodes/tvmps_7e50eea01e6ab758a8c88f0d91fa7790b4635b3d9aa914459a44c557e9897e01_d",
            "state": "starting",
            "schedulingState": "enabled",
            "stateTransitionTime": "2026-01-21T19:36:09.9483315Z",
            "allocationTime": "2026-01-21T19:35:59.5880525Z",
            "ipAddress": "10.0.0.4",
            "ipv6Address": "fd00::4",
            "affinityId": "TVM:tvmps_7e50eea01e6ab758a8c88f0d91fa7790b4635b3d9aa914459a44c557e9897e01_d",
            "vmSize": "standard_d1_v2",
            "totalTasksRun": 0,
            "totalTasksSucceeded": 0,
            "runningTasksCount": 0,
            "runningTaskSlotsCount": 0,
            "isDedicated": true,
            "endpointConfiguration": {
              "inboundEndpoints": [
                {
                  "name": "RDP.0",
                  "protocol": "tcp",
                  "publicIPAddress": "23.101.8.77",
                  "publicFQDN": "dns496ef0d5-45a4-43bf-8368-7a0590424830-azurebatch-cloudservice.eastasia.cloudapp.azure.com",
                  "frontendPort": 15000,
                  "backendPort": 3389
                },
                {
                  "name": "RDP-ipv6.0",
                  "protocol": "tcp",
                  "publicIPAddress": "2a01:111:f102:8001::1761:4862",
                  "publicFQDN": "dns496ef0d5-45a4-43bf-8368-7a0590424830-azurebatch-cloudservice.eastasia.cloudapp.azure.com",
                  "frontendPort": 15000,
                  "backendPort": 3389
                }
              ]
            },
            "virtualMachineInfo": {
              "imageReference": {
                "publisher": "microsoftwindowsserver",
                "offer": "windowsserver",
                "sku": "2022-datacenter",
                "version": "latest",
                "exactVersion": "latest"
              }
            }
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://dummyaccount.eastus.batch.azure.com/pools/jssdkPool-IPv6c27a/nodes/tvmps_7e50eea01e6ab758a8c88f0d91fa7790b4635b3d9aa914459a44c557e9897e01_d/remoteloginsettings?api-version=2025-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "ocp-date": "Wed, 21 Jan 2026 19:36:14 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceId": "https://dummyaccount.eastus.batch.azure.com/pools/jssdkPool-IPv6c27a/nodes/tvmps_7e50eea01e6ab758a8c88f0d91fa7790b4635b3d9aa914459a44c557e9897e01_d/remoteloginsettings",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": {
        "odata.metadata": "https://dummyaccount.eastus.batch.azure.com/$metadata#Microsoft.Azure.Batch.Protocol.Entities.RemoteLoginSettings",
        "remoteLoginIPAddress": "23.101.8.77",
        "remoteLoginPort": 15000,
        "ipv6RemoteLoginIPAddress": "2a01:111:f102:8001::1761:4862",
        "ipv6RemoteLoginPort": 15000
      }
    },
[...]
    {
      "RequestUri": "https://dummyaccount.eastus.batch.azure.com/pools/jssdkPool-IPv6c27a?api-version=2025-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "ocp-date": "Wed, 21 Jan 2026 19:38:16 GMT"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": {
        "odata.metadata": "https://dummyaccount.eastus.batch.azure.com/$metadata#Microsoft.Azure.Batch.Protocol.Entities.Container.errors/@Element",
        "code": "PoolNotFound",
        "message": {
          "lang": "en-US",
          "value": "The specified pool does not exist.\nRequestId:b89d813c-1f17-41fa-85dc-93dcaa45f3d2\nTime:2026-01-21T19:38:16.0223131Z"
        }
      }
    }
  ],
  "Variables": {
    "Pool-IPv6": "jssdkPool-IPv6c27a"
  }
}
