{
  "Entries": [
    {
      "RequestUri": "https://dummyaccount.eastus.batch.azure.com/pools?api-version=2025-06-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json; odata=minimalmetadata",
        "ocp-date": "Wed, 04 Feb 2026 23:32:14 GMT"
      },
      "RequestBody": {
        "id": "jssdkPool-AutoOSUpgradea9b5",
        "vmSize": "Standard_D2s_v3",
        "virtualMachineConfiguration": {
          "imageReference": {
            "publisher": "Canonical",
            "offer": "0001-com-ubuntu-server-jammy",
            "sku": "22_04-lts"
          },
          "nodeAgentSKUId": "batch.node.ubuntu 22.04",
          "nodePlacementConfiguration": {
            "policy": "zonal"
          }
        },
        "targetDedicatedNodes": 0,
        "upgradePolicy": {
          "mode": "automatic",
          "automaticOSUpgradePolicy": {
            "disableAutomaticRollback": true,
            "enableAutomaticOSUpgrade": true,
            "useRollingUpgradePolicy": true,
            "osRollingUpgradeDeferral": true
          },
          "rollingUpgradePolicy": {
            "enableCrossZoneUpgrade": true,
            "maxBatchInstancePercent": 20,
            "maxUnhealthyInstancePercent": 20,
            "maxUnhealthyUpgradedInstancePercent": 20,
            "pauseTimeBetweenBatches": "PT0S",
            "prioritizeUnhealthyInstances": false,
            "rollbackFailedInstancesOnPolicyBreach": false
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "DataServiceId": "https://dummyaccount.eastus.batch.azure.com/pools/jssdkPool-AutoOSUpgradea9b5",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DE6445A08E31A6",
        "Last-Modified": "Wed, 04 Feb 2026 23:32:14 GMT",
        "Location": "https://dummyaccount.eastus.batch.azure.com/pools/jssdkPool-AutoOSUpgradea9b5"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://dummyaccount.eastus.batch.azure.com/pools/jssdkPool-AutoOSUpgradea9b5?api-version=2025-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "ocp-date": "Wed, 04 Feb 2026 23:32:14 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DE6445A08E31A6",
        "Last-Modified": "Wed, 04 Feb 2026 23:32:14 GMT"
      },
      "ResponseBody": {
        "odata.metadata": "https://dummyaccount.eastus.batch.azure.com/$metadata#pools/@Element",
        "id": "jssdkPool-AutoOSUpgradea9b5",
        "url": "https://dummyaccount.eastus.batch.azure.com/pools/jssdkPool-AutoOSUpgradea9b5",
        "eTag": "0x8DE6445A08E31A6",
        "lastModified": "2026-02-04T23:32:14.2383526Z",
        "creationTime": "2026-02-04T23:32:14.238352Z",
        "state": "active",
        "stateTransitionTime": "2026-02-04T23:32:14.238352Z",
        "allocationState": "resizing",
        "allocationStateTransitionTime": "2026-02-04T23:32:14.2383527Z",
        "vmSize": "standard_d2s_v3",
        "resizeTimeout": "PT15M",
        "currentDedicatedNodes": 0,
        "targetDedicatedNodes": 0,
        "currentLowPriorityNodes": 0,
        "targetLowPriorityNodes": 0,
        "enableAutoScale": false,
        "enableInterNodeCommunication": false,
        "taskSlotsPerNode": 1,
        "taskSchedulingPolicy": {
          "nodeFillType": "Spread",
          "jobDefaultOrder": "none"
        },
        "virtualMachineConfiguration": {
          "imageReference": {
            "publisher": "Canonical",
            "offer": "0001-com-ubuntu-server-jammy",
            "sku": "22_04-lts",
            "version": "latest"
          },
          "nodeAgentSKUId": "batch.node.ubuntu 22.04",
          "nodePlacementConfiguration": {
            "policy": "Zonal"
          }
        },
        "upgradePolicy": {
          "mode": "automatic",
          "automaticOSUpgradePolicy": {
            "disableAutomaticRollback": true,
            "enableAutomaticOSUpgrade": true,
            "useRollingUpgradePolicy": true,
            "osRollingUpgradeDeferral": true
          },
          "rollingUpgradePolicy": {
            "enableCrossZoneUpgrade": true,
            "maxBatchInstancePercent": 20,
            "maxUnhealthyInstancePercent": 20,
            "maxUnhealthyUpgradedInstancePercent": 20,
            "pauseTimeBetweenBatches": "PT0S",
            "prioritizeUnhealthyInstances": false,
            "rollbackFailedInstancesOnPolicyBreach": false
          }
        }
      }
    },
[...]
    {
      "RequestUri": "https://dummyaccount.eastus.batch.azure.com/pools/jssdkPool-AutoOSUpgradea9b5?api-version=2025-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "ocp-date": "Wed, 04 Feb 2026 23:32:16 GMT"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0"
      },
      "ResponseBody": {
        "odata.metadata": "https://dummyaccount.eastus.batch.azure.com/$metadata#Microsoft.Azure.Batch.Protocol.Entities.Container.errors/@Element",
        "code": "PoolNotFound",
        "message": {
          "lang": "en-US",
          "value": "The specified pool does not exist.\nRequestId:431524b7-e965-41dd-8998-f8417798e147\nTime:2026-02-04T23:32:16.1836195Z"
        }
      }
    }
  ],
  "Variables": {
    "AUTO_OS_UPGRADE_POOL": "jssdkPool-AutoOSUpgradea9b5"
  }
}
