{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/providers/Astronomer.Astro/operations?api-version=2023-08-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-tenant-reads": "2199"
      },
      "ResponseBody": {
        "value": [
          {
            "name": "Astronomer.Astro/operations/read",
            "isDataAction": false,
            "display": {
              "provider": "Astronomer.Astro",
              "resource": "operations",
              "operation": "read_operations",
              "description": "read operations"
            },
            "properties": null
          },
          {
            "name": "Astronomer.Astro/organizations/read",
            "isDataAction": false,
            "display": {
              "provider": "Astronomer.Astro",
              "resource": "organizations",
              "operation": "Organizations_ListBySubscription",
              "description": "List OrganizationResource resources by subscription ID"
            },
            "properties": null
          },
          {
            "name": "Astronomer.Astro/org[...]
