{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/resourcegroups/networkcloud-sdk4083?api-version=2022-09-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "uksouth"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-writes": "11999",
        "x-ms-ratelimit-remaining-subscription-writes": "799"
      },
      "ResponseBody": {
        "id": "/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/resourceGroups/networkcloud-sdk4083",
        "name": "networkcloud-sdk4083",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "uksouth",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/resourceGroups/networkcloud-sdk4083/providers/Microsoft.NetworkCloud/l3Networks/l3network175?api-version=2024-07-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "uksouth",
        "extendedLocation": {
          "name": "/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/resourceGroups/simdev-2714007-cluster-1-HostedResources-7CD47422/providers/Microsoft.ExtendedLocation/customLocations/simdev-2714007-cluster-1-cstm-loc",
          "type": "CustomLocation"
        },
        "properties": {
          "ipv4ConnectedPrefix": "10.0.154.0/24",
          "ipv6ConnectedPrefix": "fda0:d59c:da0a:9a::/64",
          "l3IsolationDomainId": "/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/resourceGroups/powershell-test_id-simdev-2714007/providers/Microsoft.ManagedNetworkFabric/l3IsolationDomains/sim01-l3domain-1",
          "vlan": 567
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/providers/Microsoft.NetworkCloud/locations/UKSOUTH/operationStatuses/84180f00-9d25-4d63-947d-aa88f0564572*B879A13ADA1F41F86628CF7C63545F588A99829700F1ABDC88AED0269CE530D0?api-version=2024-07-01&t=638659897943699352&c=MIIHpTCCBo2gAwIBAgITOgOyui871wRtge60rAAEA7K6LzANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNMjQwOTIyMTIyOTEzWhcNMjUwMzIxMTIyOTEzW[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/providers/Microsoft.NetworkCloud/locations/UKSOUTH/operationStatuses/84180f00-9d25-4d63-947d-aa88f0564572*B879A13ADA1F41F86628CF7C63545F588A99829700F1ABDC88AED0269CE530D0?api-version=2024-07-01&t=638659897943699352&c=MIIHpTCCBo2gAwIBAgITOgOyui871wRtge60rAAEA7K6LzANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNMjQwOTIyMTIy[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/resourceGroups/networkcloud-sdk4083/providers/Microsoft.NetworkCloud/l3Networks/l3network175?api-version=2024-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\"4800dbb9-0000-1000-0000-6723b3a80000\"",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16498",
        "x-ms-ratelimit-remaining-subscription-reads": "1098"
      },
      "ResponseBody": {
        "id": "/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/resourceGroups/networkcloud-sdk4083/providers/Microsoft.NetworkCloud/l3Networks/l3network175",
        "name": "l3network175",
        "type": "microsoft.networkcloud/l3networks",
        "location": "uksouth",
        "extendedLocation": {
          "name": "/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/resourceGroups/simdev-2714007-cluster-1-HostedResources-7CD47422/providers/Microsoft.ExtendedLocation/customLocations/simdev-2714007-cluster-1-cstm-loc",
          "type": "CustomLocation"
        },
        "systemData": {
          "createdBy": "Sanitized",
          "createdByType": "User",
          "createdAt": "2024-10-31T16:43:13.6980457Z",
          "lastModifiedBy": "Sanitized",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2024-10-31T16:43:20.7785053Z"
        },
        "properties": {
          "provisioningState": "Succeeded",
          "ipv4ConnectedPrefix": "10.0.154.0/24",
          "ipv6ConnectedPrefix": "fda0:d59c:da0a:9a::/64",
          "l3IsolationDomainId": "/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/resourceGroups/powershell-test_id-simdev-2714007/providers/Microsoft.ManagedNetworkFabric/l3IsolationDomains/sim01-l3domain-1",
          "vlan": 567,
          "interfaceName": "l3netw-078ab",
          "ipAllocationType": "DualStack",
          "clusterId": "/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/resourceGroups/powershell-test_id-simdev-2714007/providers/Microsoft.NetworkCloud/clusters/simdev-2714007-cluster-1",
          "associatedResourceIds": [],
          "virtualMachinesAssociatedIds": [],
          "detailedStatus": "Available",
          "detailedStatusMessage": "all resource creation succeeded"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/resourceGroups/networkcloud-sdk4083/providers/Microsoft.NetworkCloud/l3Networks?api-version=2024-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/resourceGroups/networkcloud-sdk4083/providers/Microsoft.NetworkCloud/l3Networks/l3network175",
            "name": "l3network175",
            "type": "microsoft.networkcloud/l3networks",
            "location": "uksouth",
            "extendedLocation": {
              "name": "/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/resourceGroups/simdev-2714007-cluster-1-HostedResources-7CD47422/providers/Microso[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/providers/Microsoft.NetworkCloud/l3Networks?api-version=2024-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/resourceGroups/powershell-test_id-simdev-2714007/providers/Microsoft.NetworkCloud/l3Networks/pwsh-test",
            "name": "pwsh-test",
            "type": "microsoft.networkcloud/l3networks",
            "location": "uksouth",
            "extendedLocation": {
              "name": "/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/resourceGroups/simdev-2714007-cluster-1-HostedResources-7CD47422/providers/Microsoft.ExtendedLocation/customLocations/simdev-2714007-cluster-1-cstm-loc",
              "type": "CustomLocation"
            },
            "tags": {
              "key1": "myvalue1",
              "key2": "myvalue2"
            },
            "systemData": {
              "createdBy": "Sanitized",
              "createdByType": "User",
              "createdAt": "2024-10-28T20:16:39.7441868Z",
              "lastModifiedBy": "Sanitized",
              "lastModifiedByType": "Application",
              "lastModifiedAt": "2024-10-29T19:28:16.545278Z"
            },
            "properties": {
              "provisioningState": "Succeeded",
              "interfaceName": "eth0",
              "ipAl[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/providers/Microsoft.NetworkCloud/locations/UKSOUTH/operationStatuses/5fe2577c-6af5-4b81-8fbd-655c2548e8a5*B879A13ADA1F41F86628CF7C63545F588A99829700F1ABDC88AED0269CE530D0?api-version=2024-07-01&t=638659898058125196&c=MIIHpTCCBo2gAwIBAgITOgOyui871wRtge60rAAEA7K6LzANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNMjQwOTIyMTIy[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/providers/Microsoft.NetworkCloud/locations/uksouth/operationStatuses/5fe2577c-6af5-4b81-8fbd-655c2548e8a5*B879A13ADA1F41F86628CF7C63545F588A99829700F1ABDC88AED0269CE530D0?api-version=2024-07-01&t=638659898059770967&c=MIIHpTCCBo2gAwIBAgITOgOyui871wRtge60rAAEA7K6LzANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNMjQwOTIyMTIy[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/a3eeb848-665a-4dbf-80a4-eb460930fb23/providers/Microsoft.NetworkCloud/locations/uksouth/operationStatuses/5fe2577c-6af5-4b81-8fbd-655c2548e8a5*B879A13ADA1F41F86628CF7C63545F588A99829700F1ABDC88AED0269CE530D0?api-version=2024-07-01&t=638659898071564568&c=MIIHpTCCBo2gAwIBAgITOgOyui871wRtge60rAAEA7K6LzANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNMjQwOTIyMTIy[...]
