{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.table.core.windows.net/Tables",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "DataServiceVersion": "3.0",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://Sanitized.table.core.windows.net/$metadata#Tables",
        "value": []
      }
    },
    {
      "RequestUri": "https://Sanitized.table.core.windows.net/Tables",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "DataServiceVersion": "3.0",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "TableName": "tableName29497583780"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "Location": "https://example.com",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://Sanitized.table.core.windows.net/$metadata#Tables/@Element",
        "TableName": "tableName29497583780"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.table.core.windows.net/Tables?%24format=application%2Fjson%3Bodata%3Dfullmetadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "DataServiceVersion": "3.0",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=fullmetadata; streaming=true; charset=utf-8",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://Sanitized.table.core.windows.net/$metadata#Tables",
        "value": [
          {
            "odata.type": "Sanitized.Tables",
            "odata.id": "https://Sanitized.table.core.windows.net/Tables('tableName29497583780')",
            "odata.editLink": "Tables('tableName29497583780')",
            "TableName": "tableName29497583780"
          },
          {
            "odata.type": "Sanitized.Tables",
            "odata.id": "https://Sanitized.table.core.windows.net/Tables('tableName29497583781')",
            "odata.editLink": "Tables('tableName29497583781')",
            "TableName": "tableName29497583781"
          },
          {
            "odata.type": "Sanitized.Tables",
            "odata.id": "https://Sanitized.table.core.windows.net/Tables('tableName29497583782')",
            "odata.editLink": "Tables('tableName29497583782')",
            "TableName": "tableName29497583782"
          },
          {
            "odata.type": "Sanitized.Tables",
            "odata.id": "https://Sanitized.table.core.windows.net/Tables('tableName29497583783')",
            "odata.editLink": "Tables('tableName29497583783')",
            "TableName": "tableName29497583783"
          },
          {
            "odata.type": "Sanitized.Tables",
            "odata.id": "https://Sanitized.table.core.windows.net/Tables('tableName29497583784')",
            "odata.editLink": "Tables('tableName29497583784')",
            "TableName": "tableName29497583784"
          }
        ]
      }
    },
    {
      "RequestUri": "https://Sanitized.table.core.windows.net/Tables('tableName29497583780')",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://Sanitized.table.core.windows.net/Tables('tableName29497583784')",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
