{
  "Entries": [
    {
      "RequestUri": "https://fakeaccount.table.cosmos.azure.com/Tables?%24format=application%2Fjson%3Bodata%3Dminimalmetadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Dataserviceversion": "3.0",
        "X-Ms-Date": "Thu, 20 Jul 2023 17:03:40 GMT",
        "X-Ms-Version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata"
      },
      "ResponseBody": {
        "value": [
          {
            "TableName": "zzza2"
          },
          {
            "TableName": "zzzb4"
          },
          {
            "TableName": "zzza3"
          },
          {
            "TableName": "zzza1"
          },
          {
            "TableName": "zzza0"
          }
        ],
        "odata.metadata": "https://fakeaccount.table.cosmos.azure.com/$metadata#Tables"
      }
    },
    {
      "RequestUri": "https://fakeaccount.table.cosmos.azure.com/Tables(\u0027zzza2\u0027)",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Thu, 20 Jul 2023 17:03:40 GMT",
        "X-Ms-Version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "Content-Type": "application/json"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://fakeaccount.table.cosmos.azure.com/Tables(\u0027zzzb4\u0027)",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Thu, 20 Jul 2023 17:03:40 GMT",
        "X-Ms-Version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "Content-Type": "application/json"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakeaccount.table.cosmos.azure.com/Tables",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Dataserviceversion": "3.0",
        "X-Ms-Date": "Thu, 20 Jul 2023 17:03:41 GMT",
        "X-Ms-Version": "2019-02-02"
      },
      "RequestBody": {
        "TableName": "tableName6857269490"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "ETag": "W/\u0022datetime\u00272023-07-20T17%3A03%3A40.9439751Z\u0027\u0022",
        "Location": "https://fakeaccount.table.cosmos.azure.com/Tables(\u0027tableName6857269490\u0027)"
      },
      "ResponseBody": {
        "TableName": "tableName6857269490",
        "odata.metadata": "https://fakeaccount.table.cosmos.azure.com/$metadata#Tables/@Element"
      }
    },
[...]
    {
      "RequestUri": "https://fakeaccount.table.cosmos.azure.com/Tables(\u0027tableName6857269490\u0027)",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Thu, 20 Jul 2023 17:03:44 GMT",
        "X-Ms-Version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "Content-Type": "application/json"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakeaccount.table.cosmos.azure.com/Tables(\u0027tableName6857269494\u0027)",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Thu, 20 Jul 2023 17:03:45 GMT",
        "X-Ms-Version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "Content-Type": "application/json"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
