{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.table.core.windows.net/Tables",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "DataServiceVersion": "3.0",
        "X-Ms-Date": "Wed, 16 Oct 2024 23:03:35 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://Sanitized.table.core.windows.net/$metadata#Tables",
        "value": []
      }
    },
    {
      "RequestUri": "https://Sanitized.table.core.windows.net/Tables",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "DataServiceVersion": "3.0",
        "X-Ms-Date": "Wed, 16 Oct 2024 23:03:35 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": {
        "TableName": "tableName6987239260"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata; streaming=true; charset=utf-8",
        "Location": "https://example.com",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://Sanitized.table.core.windows.net/$metadata#Tables/@Element",
        "TableName": "tableName6987239260"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.table.core.windows.net/Tables?%24format=application%2Fjson%3Bodata%3Dfullmetadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "DataServiceVersion": "3.0",
        "X-Ms-Date": "Wed, 16 Oct 2024 23:03:35 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=fullmetadata; streaming=true; charset=utf-8",
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": {
        "odata.metadata": "https://Sanitized.table.core.windows.net/$metadata#Tables",
        "value": [
          {
            "odata.type": "Sanitized.Tables",
            "odata.id": "https://Sanitized.table.core.windows.net/Tables('tableName6987239260')",
            "odata.editLink": "Tables('tableName6987239260')",
            "TableName": "tableName6987239260"
          },
          {
            "odata.type": "Sanitized.Tables",
            "odata.id": "https://Sanitized.table.core.windows.net/Tables('tableName6987239261')",
            "odata.editLink": "Tables('tableName6987239261')",
            "TableName": "tableName6987239261"
          },
          {
            "odata.type": "Sanitized.Tables",
            "odata.id": "https://Sanitized.table.core.windows.net/Tables('tableName6987239262')",
            "odata.editLink": "Tables('tableName6987239262')",
            "TableName": "tableName6987239262"
          },
          {
            "odata.type": "Sanitized.Tables",
            "odata.id": "https://Sanitized.table.core.windows.net/Tables('tableName6987239263')",
            "odata.editLink": "Tables('tableName6987239263')",
            "TableName": "tableName6987239263"
          },
          {
            "odata.type": "Sanitized.Tables",
            "odata.id": "https://Sanitized.table.core.windows.net/Tables('tableName6987239264')",
            "odata.editLink": "Tables('tableName6987239264')",
            "TableName": "tableName6987239264"
          }
        ]
      }
    },
    {
      "RequestUri": "https://Sanitized.table.core.windows.net/Tables('tableName6987239260')",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Wed, 16 Oct 2024 23:03:35 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://Sanitized.table.core.windows.net/Tables('tableName6987239264')",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "X-Ms-Date": "Wed, 16 Oct 2024 23:03:35 GMT",
        "x-ms-version": "2019-02-02"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-version": "2019-02-02"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
