{
  "Entries": [
    {
      "RequestUri": "https://camaiaor-formrec-eastus.cognitiveservices.azure.com/formrecognizer/documentClassifiers:build?api-version=2023-02-28-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "classifierId": "242731621",
        "description": "This classifier was generated by a .NET test: BuildDocumentClassifierWithAzureBlobFileListSource",
        "docTypes": {
          "IRS-1040-A": {
            "azureBlobFileListSource": {
              "containerUrl": "https://sanitized.blob.core.windows.net",
              "fileList": "IRS-1040-A.jsonl"
            }
          },
          "IRS-1040-B": {
            "azureBlobFileListSource": {
              "containerUrl": "https://sanitized.blob.core.windows.net",
              "fileList": "IRS-1040-B.jsonl"
            }
          }
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "operation-location": "https://camaiaor-formrec-eastus.cognitiveservices.azure.com/formrecognizer/operations/31483695653_44b2d73d-087c-40a0-b74d-b35baa739283?api-version=2023-02-28-preview",
        "x-ms-region": "East US"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://camaiaor-formrec-eastus.cognitiveservices.azure.com/formrecognizer/operations/31483695653_44b2d73d-087c-40a0-b74d-b35baa739283?api-version=2023-02-28-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "operationId": "31483695653_44b2d73d-087c-40a0-b74d-b35baa739283",
        "kind": "documentClassifierBuild",
        "status": "notStarted",
        "createdDateTime": "2023-04-28T08:59:06Z",
        "lastUpdatedDateTime": "2023-04-28T08:59:06Z",
        "resourceLocation": "https://camaiaor-formrec-eastus.cognitiveservices.azure.com/formrecognizer/documentClassifiers/242731621?api-version=2023-02-28-preview"
      }
    },
[...]
    {
      "RequestUri": "https://camaiaor-formrec-eastus.cognitiveservices.azure.com/formrecognizer/operations/31483695653_44b2d73d-087c-40a0-b74d-b35baa739283?api-version=2023-02-28-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "operationId": "31483695653_44b2d73d-087c-40a0-b74d-b35baa739283",
        "kind": "documentClassifierBuild",
        "status": "succeeded",
        "createdDateTime": "2023-04-28T08:59:06Z",
        "lastUpdatedDateTime": "2023-04-28T08:59:20Z",
        "resourceLocation": "https://camaiaor-formrec-eastus.cognitiveservices.azure.com/formrecognizer/documentClassifiers/242731621?api-version=2023-02-28-preview",
        "percentCompleted": 100,
        "result": {
          "classifierId": "242731621",
          "createdDateTime": "2023-04-28T08:59:20Z",
          "expirationDateTime": "2025-04-27T08:59:20Z",
          "apiVersion": "2023-02-28-preview",
          "docTypes": {
            "IRS-1040-A": {
              "azureBlobFileListSource": {
                "containerUrl": "https://sanitized.blob.core.windows.net",
                "fileList": "IRS-1040-A.jsonl"
              }
            },
            "IRS-1040-B": {
              "azureBlobFileListSource": {
                "containerUrl": "https://sanitized.blob.core.windows.net",
                "fileList": "IRS-1040-B.jsonl"
              }
            }
          },
          "description": "This classifier was generated by a .NET test: BuildDocumentClassifierWithAzureBlobFileListSource"
        }
      }
    },
    {
      "RequestUri": "https://camaiaor-formrec-eastus.cognitiveservices.azure.com/formrecognizer/documentClassifiers/242731621?api-version=2023-02-28-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-region": "East US"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "API_KEY": "Sanitized",
    "CLASSIFIER_BLOB_CONTAINER_SAS_URL": "https://sanitized.blob.core.windows.net",
    "DateTimeOffsetNow": "2023-04-28T01:59:05.7300489-07:00",
    "ENDPOINT": "https://camaiaor-formrec-eastus.cognitiveservices.azure.com/",
    "RandomSeed": "1865505363"
  }
}
