{
  "Entries": [
    {
      "RequestUri": "https://camaiaor-localtests.cognitiveservices.azure.com/formrecognizer/documentClassifiers:build?api-version=2023-07-31",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "classifierId": "824345388",
        "description": "This classifier was generated by a .NET test: BuildDocumentClassifierWithAzureBlobContentSource",
        "docTypes": {
          "IRS-1040-A": {
            "azureBlobSource": {
              "containerUrl": "https://sanitized.blob.core.windows.net",
              "prefix": "IRS-1040-A/train"
            }
          },
          "IRS-1040-B": {
            "azureBlobSource": {
              "containerUrl": "https://sanitized.blob.core.windows.net",
              "prefix": "IRS-1040-B/train"
            }
          }
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "operation-location": "https://camaiaor-localtests.cognitiveservices.azure.com/formrecognizer/operations/31438037904_16a27180-8975-47aa-9e42-f49567c33207?api-version=2023-07-31",
        "x-ms-region": "East US"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://camaiaor-localtests.cognitiveservices.azure.com/formrecognizer/operations/31438037904_16a27180-8975-47aa-9e42-f49567c33207?api-version=2023-07-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "operationId": "31438037904_16a27180-8975-47aa-9e42-f49567c33207",
        "kind": "documentClassifierBuild",
        "status": "notStarted",
        "createdDateTime": "2024-10-07T19:41:36Z",
        "lastUpdatedDateTime": "2024-10-07T19:41:36Z",
        "resourceLocation": "https://camaiaor-localtests.cognitiveservices.azure.com/formrecognizer/documentClassifiers/824345388?api-version=2023-07-31"
      }
    },
[...]
    {
      "RequestUri": "https://camaiaor-localtests.cognitiveservices.azure.com/formrecognizer/operations/31438037904_16a27180-8975-47aa-9e42-f49567c33207?api-version=2023-07-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "operationId": "31438037904_16a27180-8975-47aa-9e42-f49567c33207",
        "kind": "documentClassifierBuild",
        "status": "succeeded",
        "createdDateTime": "2024-10-07T19:41:36Z",
        "lastUpdatedDateTime": "2024-10-07T19:41:45Z",
        "resourceLocation": "https://camaiaor-localtests.cognitiveservices.azure.com/formrecognizer/documentClassifiers/824345388?api-version=2023-07-31",
        "percentCompleted": 100,
        "result": {
          "classifierId": "824345388",
          "createdDateTime": "2024-10-07T19:41:45Z",
          "expirationDateTime": "2026-10-07T19:41:45Z",
          "apiVersion": "2023-07-31",
          "docTypes": {
            "IRS-1040-A": {
              "azureBlobSource": {
                "containerUrl": "https://sanitized.blob.core.windows.net",
                "prefix": "IRS-1040-A/train"
              }
            },
            "IRS-1040-B": {
              "azureBlobSource": {
                "containerUrl": "https://sanitized.blob.core.windows.net",
                "prefix": "IRS-1040-B/train"
              }
            }
          },
          "description": "This classifier was generated by a .NET test: BuildDocumentClassifierWithAzureBlobContentSource"
        }
      }
    },
    {
      "RequestUri": "https://camaiaor-localtests.cognitiveservices.azure.com/formrecognizer/documentClassifiers/824345388?api-version=2023-07-31",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-region": "East US"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "CLASSIFIER_BLOB_CONTAINER_SAS_URL": "https://sanitized.blob.core.windows.net",
    "DateTimeOffsetNow": "2024-10-07T12:41:31.1238469-07:00",
    "ENDPOINT": "https://camaiaor-localtests.cognitiveservices.azure.com/",
    "RandomSeed": "1129989504"
  }
}
