{
  "Entries": [
    {
      "RequestUri": "https://camaiaor-formrec-eastus.cognitiveservices.azure.com/formrecognizer/documentClassifiers:build?api-version=2023-02-28-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "classifierId": "1820820146",
        "description": "This classifier was generated by a .NET test: GetDocumentClassifier",
        "docTypes": {
          "IRS-1040-A": {
            "azureBlobSource": {
              "containerUrl": "https://sanitized.blob.core.windows.net",
              "prefix": "IRS-1040-A/train"
            }
          },
          "IRS-1040-B": {
            "azureBlobSource": {
              "containerUrl": "https://sanitized.blob.core.windows.net",
              "prefix": "IRS-1040-B/train"
            }
          },
          "IRS-1040-C": {
            "azureBlobSource": {
              "containerUrl": "https://sanitized.blob.core.windows.net",
              "prefix": "IRS-1040-C/train"
            }
          },
          "IRS-1040-D": {
            "azureBlobSource": {
              "containerUrl": "https://sanitized.blob.core.windows.net",
              "prefix": "IRS-1040-D/train"
            }
          },
          "IRS-1040-E": {
            "azureBlobSource": {
              "containerUrl": "https://sanitized.blob.core.windows.net",
              "prefix": "IRS-1040-E/train"
            }
          }
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "operation-location": "https://camaiaor-formrec-eastus.cognitiveservices.azure.com/formrecognizer/operations/31483695859_a89566a1-3cf9-4a0b-91ab-8b7b74ff81b4?api-version=2023-02-28-preview",
        "x-ms-region": "East US"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://camaiaor-formrec-eastus.cognitiveservices.azure.com/formrecognizer/operations/31483695859_a89566a1-3cf9-4a0b-91ab-8b7b74ff81b4?api-version=2023-02-28-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "operationId": "31483695859_a89566a1-3cf9-4a0b-91ab-8b7b74ff81b4",
        "kind": "documentClassifierBuild",
        "status": "notStarted",
        "createdDateTime": "2023-04-28T08:55:41Z",
        "lastUpdatedDateTime": "2023-04-28T08:55:41Z",
        "resourceLocation": "https://camaiaor-formrec-eastus.cognitiveservices.azure.com/formrecognizer/documentClassifiers/1820820146?api-version=2023-02-28-preview"
      }
    },
[...]
    {
      "RequestUri": "https://camaiaor-formrec-eastus.cognitiveservices.azure.com/formrecognizer/operations/31483695859_a89566a1-3cf9-4a0b-91ab-8b7b74ff81b4?api-version=2023-02-28-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "operationId": "31483695859_a89566a1-3cf9-4a0b-91ab-8b7b74ff81b4",
        "kind": "documentClassifierBuild",
        "status": "succeeded",
        "createdDateTime": "2023-04-28T08:55:41Z",
        "lastUpdatedDateTime": "2023-04-28T08:56:20Z",
        "resourceLocation": "https://camaiaor-formrec-eastus.cognitiveservices.azure.com/formrecognizer/documentClassifiers/1820820146?api-version=2023-02-28-preview",
        "percentCompleted": 100,
        "result": {
          "classifierId": "1820820146",
          "createdDateTime": "2023-04-28T08:56:20Z",
          "expirationDateTime": "2025-04-27T08:56:20Z",
          "apiVersion": "2023-02-28-preview",
          "docTypes": {
            "IRS-1040-A": {
              "azureBlobSource": {
                "containerUrl": "https://sanitized.blob.core.windows.net",
                "prefix": "IRS-1040-A/train"
              }
            },
            "IRS-1040-B": {
              "azureBlobSource": {
                "containerUrl": "https://sanitized.blob.core.windows.net",
                "prefix": "IRS-1040-B/train"
              }
            },
            "IRS-1040-C": {
              "azureBlobSource": {
                "containerUrl": "https://sanitized.blob.core.windows.net",
                "prefix": "IRS-1040-C/train"
              }
            },
            "IRS-1040-D": {
              "azureBlobSource": {
                "containerUrl": "https://sanitized.blob.core.windows.net",
                "prefix": "IRS-1040-D/train"
              }
            },
            "IRS-1040-E": {
              "azureBlobSource": {
                "containerUrl": "https://sanitized.blob.core.windows.net",
                "prefix": "IRS-1040-E/train"
              }
            }
          },
          "description": "This classifier was generated by a .NET test: GetDocumentClassifier"
        }
      }
    },
    {
      "RequestUri": "https://camaiaor-formrec-eastus.cognitiveservices.azure.com/formrecognizer/documentClassifiers/1820820146?api-version=2023-02-28-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "classif[...]
    {
      "RequestUri": "https://camaiaor-formrec-eastus.cognitiveservices.azure.com/formrecognizer/documentClassifiers/1820820146?api-version=2023-02-28-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-region": "East US"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "API_KEY": "Sanitized",
    "CLASSIFIER_BLOB_CONTAINER_SAS_URL": "https://sanitized.blob.core.windows.net",
    "ENDPOINT": "https://camaiaor-formrec-eastus.cognitiveservices.azure.com/",
    "RandomSeed": "734858539"
  }
}
