{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/9531faa8-8c39-4165-b033-48697fe943db/resourceGroups/fab2nfcrg070623/providers/Microsoft.ManagedNetworkFabric/internetGateways?api-version=2023-06-15",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-original-request-ids": [
          "08d1ef03-1073-4608-afbf-fbc27d04400b",
          "1d439248-4c13-4abe-a329-fa9eb0a451aa",
          "f44c5295-0cdd-4c05-86a8-3a60f719fe3a",
          "80836eeb-df47-4356-aef1-66527197b730"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": "11972"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/9531faa8-8c39-4165-b033-48697fe943db/resourceGroups/fab2nfcrg070623/providers/Microsoft.ManagedNetworkFabric/internetGateways/nfcfab2070623-infrastructureInternetGateway",
            "name": "nfcfab2070623-infrastructureInternetGateway",
            "type": "microsoft.managednetworkfabric/internetgateways",
            "location": "eastus2euap",
            "systemData": {
              "createdBy": "a893dadc-5c8e-47f4-8379-6afb34bdbe12",
              "createdByType": "Application",
              "createdAt": "2023-07-12T06:26:01.8283051Z",
              "lastModifiedBy": "a893dadc-5c8e-47f4-8379-6afb34bdbe12",
              "lastModifiedByType": "Application",
              "lastModifiedAt": "2023-07-12T06:26:01.8283051Z"
            },
            "properties": {
              "port": 3128,
              "networkFabricControllerId": "/subscriptions/9531faa8-8c39-4165-b033-48697fe943db/resourcegroups/fab2nfcrg070623/providers/microsoft.managednetworkfabric/networkFabriccontrollers/nfcfab2070623",
              "type": "Infrastructure",
              "provisioningState": "Succeeded",
              "ipv4Address": "http://10.248.35.254:3128"
            }
          },
          {
            "id": "/subscriptions/9531faa8-8c39-4165-b033-48697fe943db/resourceGroups/fab2nfcrg070623/providers/Microsoft.ManagedNetworkFabric/internetGateways/nfcfab2070623-workloadInternetGateway",
            "name": "nfcfab2070623-workloadInternetGateway",
            "type": "microsoft.managednetworkfabric/internetgateways",
            "location": "eastus2euap",
            "systemData": {
              "createdBy": "a893dadc-5c8e-47f4-8379-6afb34bdbe12",
              "createdByType": "Application",
              "createdAt": "2023-07-12T06:30:14.9395523Z",
              "lastModifiedBy": "a893dadc-5c8e-47f4-8379-6afb34bdbe12",
              "lastModifiedByType": "Application",
              "lastModifiedAt": "2023-07-12T06:30:14.9395523Z"
            },
            "properties": {
              "port": 3128,
              "networkFabricControllerId": "/subscriptions/9531faa8-8c39-4165-b033-48697fe943db/resourcegroups/fab2nfcrg070623/providers/microsoft.managednetworkfabric/networkFabriccontrollers/nfcfab2070623",
              "type": "Workload",
              "provisioningState": "Succeeded",
              "ipv4Address": "http://10.248.61.254:3128"
            }
          }
        ]
      }
    }
  ],
  "Variables": {
    "RandomSeed": "1376127568",
    "RESOURCE_GROUP_NAME": "nfa-tool-ts-clisdktest-GA-nfrg071323",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "9531faa8-8c39-4165-b033-48697fe943db"
  }
}
