{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/e2etest_resource_240641?api-version=2023-08-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-failure-cause": "gateway"
      },
      "ResponseBody": {
        "error": {
          "code": "ResourceNotFound",
          "message": "The Resource \u0027Microsoft.MachineLearningServices/workspaces/e2etest_resource_240641\u0027 under resource group \u002700000\u0027 was not found. For more details please go to https://aka.ms/ARMResourceNotFoundFix"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourcegroups/00000?api-version=2020-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11980"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000",
        "name": "00000",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "westus3",
        "tags": {
          "Created": "2023-09-25T14:18:46.7299254Z",
          "RGOwner": "hancwang",
          "NumFailedDeletions": "2"
        },
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourcegroups/00000/providers/Microsoft.Resources/deployments/e2etest_resource_240641-5355772?api-version=2020-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "template": {
            "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
            "contentVersion": "1.0.0.0",
            "parameters": {
              "workspaceName": {
                "type": "string",
                "metadata": {
                  "description": "Specifies the name of the Azure Machine Learning workspace."
                }
              },
              "description": {
                "type": "string",
                "metadata": {
                  "description": "Description string."
                }
              },
              "friendlyName": {
                "type": "string",
                "metadata": {
                  "description": "Friendly name."
                }
              },
              "kind": {
                "type": "string",
                "defaultValue": "Default",
                "metadata": {
                  "description": "Specifies the Kind of the workspace."
                }
              },
              "location": {
                "type": "string",
                "metadata": {
                  "description": "Specifies the location for all resources."
                }
              },
              "resourceGroupName": {
                "type": "string",
                "metadata": {
                  "description": "Specifies the resource group name of the Azure Machine Learning workspace."
                }
              },
              "storageAccountOption": {
                "type": "string",
                "defaultValue": "new",
                "allowedValues": [
                  "new",
                  "existing"
                ],
                "metadata": {
                  "description": "Determines whether or not a new storage should be provisioned."
                }
              },
              "storageAccountName": {
                "type": "string",
                "defaultValue": "[concat(\u0027sa\u0027, uniqueString(parameters(\u0027resourceGroupName\u0027), parameters(\u0027workspaceName\u0027)))]",
                "metadata": {
                  "description": "Name of the storage account."
                }
              },
              "storageAccountType": {
                "type": "string",
                "defaultValue": "Standard_LRS"
              },
              "storageAccountBehindVNet": {
                "type": "string",
                "defaultValue": "false",
                "allowedValues": [
                  "true",
                  "false"
                ],
                "metadata": {
                  "description": "Determines whether or not to put the storage account behind VNet"
                }
              },
              "storageAccountResourceGroupName": {
                "type": "string",
                "defaultValue": "[parameters(\u0027resourceGroupName\u0027)]"
              },
              "storageAccountLocation": {
                "type": "string",
                "defaultValue": "[parameters(\u0027location\u0027)]"
              },
              "keyVaultOption": {
                "type": "string",
                "defaultValue": "new",
                "allowedValues": [
                  "new",
                  "existing"
                ],
                "metadata": {
                  "description": "Determines whether or not a new key vault should be provisioned."
                }
              },
              "keyVaultName": {
                "type": "string",
                "defaultValue": "[concat(\u0027kv\u0027, uniqueString(parameters(\u0027resourceGroupName\u0027), parameters(\u0027workspaceName\u0027)))]",
                "metadata": {
                  "description": "Name of the key vault."
                }
              },
              "keyVaultBehindVNet": {
                "type": "string",
                "defaultValue": "false",
                "allowedValues": [
                  "true",
                  "false"
                ],
                "metadata": {
                  "description": "Determines whether or not to put the storage account behind VNet"
                }
              },
              "keyVaultResourceGroupName": {
                "type": "string",
                "defaultValue": "[parameters(\u0027resourceGroupName\u0027)]"
              },
              "keyVaultLocation": {
                "type": "string",
                "defaultValue": "[parameters(\u0027location\u0027)]"
              },
              "applicationInsightsOption": {
                "type": "string",
                "defaultValue": "new",
                "allowedValues": [
                  "new",
                  "existing"
                ],
                "metadata": {
                  "description": "Determines whether or not new ApplicationInsights should be provisioned."
                }
              },
              "logAnalyticsName": {
                "type": "string",
                "defaultValue": "[concat(\u0027la\u0027, uniqueString(parameters(\u0027resourceGroupName\u0027), parameters(\u0027workspaceName\u0027)))]",
                "metadata": {
                  "description": "Name of LogAnalytics to be used by ApplicationInsights resource."
                }
              },
              "logAnalyticsArmId": {
                "type": "string",
                "defaultValue": "",
                "metadata": {
                  "description": "ARM Id of LogAnalytics to be used by ApplicationInsights resource."
                }
              },
              "applicationInsightsName": {
                "type": "string",
                "defaultValue": "[concat(\u0027ai\u0027, uniqueString(parameters(\u0027resourceGroupName\u0027), parameters(\u0027workspaceName\u0027)))]",
                "metadata": {
                  "description": "Name of ApplicationInsights."
                }
              },
              "applicationInsightsResourceGroupName": {
                "type": "string",
                "defaultValue": "[parameters(\u0027resourceGroupName\u0027)]"
              },
              "applicationInsightsLocation": {
                "type": "string",
                "defaultValue": "[parameters(\u0027location\u0027)]"
              },
              "containerRegistryOption": {
                "type": "string",
                "defaultValue": "none",
                "allowedValues": [
                  "new",
                  "existing",
                  "none"
                ],
                "metadata": {
                  "description": "Determines whether or not a new container registry should be provisioned."
                }
              },
              "containerRegistryName": {
                "type": "string",
                "defaultValue": "[concat(\u0027cr\u0027, uniqueString(parameters(\u0027resourceGroupName\u0027), parameters(\u0027workspaceName\u0027)))]",
                "metadata": {
                  "description": "The container registry bind to the workspace."
                }
              },
              "containerRegistrySku": {
                "type": "string",
                "defaultValue": "Standard",
                "allowedValues": [
                  "Basic",
                  "Standard",
                  "Premium"
                ]
              },
              "containerRegistryResourceGroupName": {
                "type": "string",
                "defaultValue": "[parameters(\u0027resourceGroupName\u0027)]"
              },
              "containerRegistryBehindVNet": {
                "type": "string",
                "defaultValue": "false",
                "allowedValues": [
                  "true",
                  "false"
                ],
                "metadata": {
                  "description": "Determines whether or not to put container registry behind VNet."
                }
              },
              "containerRegistryLocation": {
                "type": "string",
                "defaultValue": "[parameters(\u0027location\u0027)]"
              },
              "vnetOption": {
                "type": "string",
                "defaultValue": "[if(equals(parameters(\u0027privateEndpointType\u0027), \u0027none\u0027), \u0027none\u0027, \u0027new\u0027)]",
                "allowedValues": [
                  "new",
                  "existing",
                  "none"
                ],
                "metadata": {
                  "description": "Determines whether or not a new VNet should be provisioned."
                }
              },
              "vnetName": {
                "type": "string",
                "defaultValue": "[concat(\u0027vn\u0027,uniqueString(parameters(\u0027resourceGroupName\u0027), parameters(\u0027workspaceName\u0027)))]",
                "metadata": {
                  "description": "Name of the VNet"
                }
              },
              "vnetResourceGroupName": {
                "type": "string",
                "defaultValue": "[parameters(\u0027resourceGroupName\u0027)]"
              },
              "addressPrefixes": {
                "type": "array",
                "defaultValue": [
                  "10.0.0.0/16"
                ],
                "metadata": {
                  "description": "Address prefix of the virtual network"
                }
              },
              "subnetOption": {
                "type": "string",
                "defaultValue": "[if(or(not(equals(parameters(\u0027privateEndpointType\u0027), \u0027none\u0027)), equals(parameters(\u0027vnetOption\u0027), \u0027new\u0027)), \u0027new\u0027, \u0027none\u0027)]",
                "allowedValues": [
                  "new",
                  "existing",
                  "none"
                ],
                "metadata": {
                  "description": "Determines whether or not a new subnet should be provisioned."
                }
              },
              "subnetName": {
                "type": "string",
                "defaultValue": "[concat(\u0027sn\u0027,uniqueString(parameters(\u0027resourceGroupName\u0027), parameters(\u0027workspaceName\u0027)))]",
                "metadata": {
                  "description": "Name of the subnet"
                }
              },
              "subnetPrefix": {
                "type": "string",
                "defaultValue": "10.0.0.0/24",
                "metadata": {
                  "description": "Subnet prefix of the virtual network"
                }
              },
              "adbWorkspace": {
                "type": "string",
                "defaultValue": "",
                "metadata": {
                  "description": "Azure Databrick workspace to be linked to the workspace"
                }
              },
              "confidential_data": {
                "type": "string",
                "defaultValue": "false",
                "allowedValues": [
                  "false",
                  "true"
                ],
                "metadata": {
                  "description": "Specifies that the Azure Machine Learning workspace holds highly confidential data."
                }
              },
              "encryption_status": {
                "type": "string",
                "defaultValue": "Disabled",
                "allowedValues": [
                  "Enabled",
                  "Disabled"
                ],
                "metadata": {
                  "description": "Specifies if the Azure Machine Learning workspace should be encrypted with customer managed key."
                }
              },
              "cmk_keyvault": {
                "type": "string",
                "defaultValue": "",
                "metadata": {
                  "description": "Specifies the customer managed keyVault arm id."
                }
              },
              "resource_cmk_uri": {
                "type": "string",
                "defaultValue": "",
                "metadata": {
                  "description": "Specifies if the customer managed keyvault key uri."
                }
              },
              "privateEndpointType": {
                "type": "string",
                "defaultValue": "none",
                "allowedValues": [
                  "AutoApproval",
                  "ManualApproval",
                  "none"
                ]
              },
              "tagValues": {
                "type": "object"
              },
              "privateEndpointName": {
                "type": "string",
                "defaultValue": "pe",
                "metadata": {
                  "description": "Name of the private end point added to the workspace"
                }
              },
              "privateEndpointResourceGroupName": {
                "type": "string",
                "defaultValue": "[parameters(\u0027resourceGroupName\u0027)]",
                "metadata": {
                  "description": "Name of the resource group where the private end point is added to"
                }
              },
              "imageBuildCompute": {
                "type": "string",
                "defaultValue": "",
                "metadata": {
                  "description": "The name of the compute target to use for building environment Docker images with the container registry is behind a VNet."
                }
              },
              "publicNetworkAccess": {
                "type": "string",
                "defaultValue": "Enabled",
                "allowedValues": [
                  "Disabled",
                  "Enabled"
                ],
                "metadata": {
                  "description": "Whether to allow public endpoint connectivity when a workspace is private link enabled."
                }
              },
              "soft_delete_enabled": {
                "type": "string",
                "defaultValue": "false",
                "allowedValues": [
                  "false",
                  "true"
                ],
                "metadata": {
                  "description": "Whether to create a workspace with soft delete capability"
                }
              },
              "allow_recover_softdeleted_workspace": {
                "type": "string",
                "defaultValue": "false",
                "allowedValues": [
                  "false",
                  "true"
                ],
                "metadata": {
                  "description": "Whether to allow an existing soft-deleted workspace to be recovered"
                }
              },
              "encryption_cosmosdb_resourceid": {
                "type": "string",
                "defaultValue": "",
                "metadata": {
                  "description": "The Bring-Your-Own cosmosdb account that customer brings to store data"
                }
              },
              "encryption_storage_resourceid": {
                "type": "string",
                "defaultValue": "",
                "metadata": {
                  "description": "The Bring-Your-Own storage account that customer brings to store data"
                }
              },
              "encryption_search_resourceid": {
                "type": "string",
                "defaultValue": "",
                "metadata": {
                  "description": "The Bring-Your-Own search account that customer brings to store data"
                }
              },
              "identity": {
                "type": "object",
                "defaultValue": {
                  "type": "systemAssigned"
                },
                "metadata": {
                  "description": "Managed identities assigned to workspace. If not specificed, SystemAssigned managed identity is the default."
                }
              },
              "primaryUserAssignedIdentity": {
                "type": "string",
                "defaultValue": "",
                "metadata": {
                  "description": "ARM identifier of primary user assigned managed identity, in case multiple ones are specified. Also the default managed identity for clusterless compute."
                }
              },
              "managedNetwork": {
                "type": "object",
                "defaultValue": {
                  "isolationMode": "Disabled"
                },
                "metadata": {
                  "description": "Managed network settings to be used for the workspace. If not specified, isolation mode Disabled is the default"
                }
              },
              "spark_runtime_version": {
                "type": "string",
                "metadata": {
                  "description": "spark version to be used by all feature sets"
                }
              },
              "offline_store_connection_name": {
                "type": "string",
                "defaultValue": "",
                "metadata": {
                  "description": "Feature store offline store config"
                }
              },
              "online_store_connection_name": {
                "type": "string",
                "defaultValue": "",
                "metadata": {
                  "description": "Feature store online store config"
                }
              },
              "offline_store_target": {
                "type": "string",
                "defaultValue": "",
                "metadata": {
                  "description": "Feature store offline store connection target"
                }
              },
              "offline_store_resource_group_name": {
                "type": "string",
                "defaultValue": "",
                "metadata": {
                  "description": "Feature store offline store resource group"
                }
              },
              "offline_store_subscription_id": {
                "type": "string",
                "defaultValue": "",
                "metadata": {
                  "description": "Feature store offline store subscription id"
                }
              },
              "online_store_target": {
                "type": "string",
                "defaultValue": "",
                "metadata": {
                  "description": "Feature store online store connection target"
                }
              },
              "online_store_resource_group_name": {
                "type": "string",
                "defaultValue": "",
                "metadata": {
                  "description": "Feature store online store resource group"
                }
              },
              "online_store_subscription_id": {
                "type": "string",
                "defaultValue": "",
                "metadata": {
                  "description": "Feature store online store subscription id"
                }
              },
              "materialization_identity_resource_id": {
                "type": "string",
                "defaultValue": "",
                "metadata": {
                  "description": "Feature store materialization identity resource id"
                }
              },
              "grant_materialization_permissions": {
                "type": "string",
                "defaultValue": "false",
                "allowedValues": [
                  "false",
                  "true"
                ],
                "metadata": {
                  "description": "Whether to grant materialization identity permissions"
                }
              },
              "materialization_identity_name": {
                "defaultValue": "empty",
                "type": "string",
                "metadata": {
                  "description": "Feature store materialization identity name"
                }
              },
              "enable_data_isolation": {
                "type": "string",
                "defaultValue": "false",
                "allowedValues": [
                  "false",
                  "true"
                ],
                "metadata": {
                  "description": "A flag to determine if workspace has data isolation enabled. The flag can only be set at the creation phase, it can\u0027t be updated."
                }
              },
              "workspace_hub_config": {
                "type": "object",
                "defaultValue": {},
                "metadata": {
                  "description": "Additional configuration for WorkspaceHub."
                }
              },
              "existing_workspaces": {
                "type": "array",
                "defaultValue": [],
                "metadata": {
                  "description": "A list of existing workspaces used by Hub to perform convert."
                }
              },
              "workspace_hub": {
                "type": "string",
                "defaultValue": "",
                "metadata": {
                  "description": "Resource Id of Hub used for lean workspace."
                }
              },
              "serverless_compute_settings": {
                "type": "object",
                "defaultValue": {},
                "metadata": {
                  "description": "Serverless compute settings to be used for the workspace."
                }
              },
              "endpoint_resource_id": {
                "type": "string",
                "defaultValue": "null",
                "metadata": {
                  "description": "The resource id that this workspace hub\u0027s endpoints should reference."
                }
              },
              "endpoint_kind": {
                "type": "string",
                "defaultValue": "AIServices",
                "metadata": {
                  "description": "The kind of endpoints this workspace hub ought to contain."
                }
              },
              "endpoint_option": {
                "type": "string",
                "defaultValue": "new",
                "metadata": {
                  "description": "Testing value. Do not touch."
                }
              }
            },
            "variables": {
              "tenantId": "[subscription().tenantId]",
              "provisionedStorageAccountName": "[if(equals(parameters(\u0027storageAccountOption\u0027), \u0027new\u0027), parameters(\u0027storageAccountName\u0027), concat(\u0027osa\u0027, uniqueString(parameters(\u0027resourceGroupName\u0027), parameters(\u0027workspaceName\u0027))))]",
              "storageAccount": "[resourceId(parameters(\u0027storageAccountResourceGroupName\u0027), \u0027Microsoft.Storage/storageAccounts\u0027, parameters(\u0027storageAccountName\u0027))]",
              "keyVault": "[resourceId(parameters(\u0027keyVaultResourceGroupName\u0027), \u0027Microsoft.KeyVault/vaults\u0027, parameters(\u0027keyVaultName\u0027))]",
              "containerRegistry": "[resourceId(parameters(\u0027containerRegistryResourceGroupName\u0027), \u0027Microsoft.ContainerRegistry/registries\u0027, parameters(\u0027containerRegistryName\u0027))]",
              "applicationInsights": "[resourceId(parameters(\u0027applicationInsightsResourceGroupName\u0027), \u0027Microsoft.Insights/components\u0027, parameters(\u0027applicationInsightsName\u0027))]",
              "vnet": "[resourceId(parameters(\u0027vnetResourceGroupName\u0027), \u0027Microsoft.Network/virtualNetworks\u0027, parameters(\u0027vnetName\u0027))]",
              "subnet": "[resourceId(parameters(\u0027vnetResourceGroupName\u0027), \u0027Microsoft.Network/virtualNetworks/subnets\u0027, parameters(\u0027vnetName\u0027), parameters(\u0027subnetName\u0027))]",
              "enablePE": true,
              "networkRuleSetBehindVNet": {
                "defaultAction": "deny",
                "virtualNetworkRules": [
                  {
                    "action": "Allow",
                    "id": "[variables(\u0027subnet\u0027)]"
                  }
                ]
              },
              "privateEndpointSettings": {
                "name": "[concat(parameters(\u0027workspaceName\u0027), \u0027-PrivateEndpoint\u0027)]",
                "properties": {
                  "privateLinkServiceId": "[resourceId(\u0027Microsoft.MachineLearningServices/workspaces\u0027, parameters(\u0027workspaceName\u0027))]",
                  "groupIds": [
                    "amlworkspace"
                  ]
                }
              },
              "defaultPEConnections": "[array(variables(\u0027privateEndpointSettings\u0027))]",
              "privateEndpointDeploymentName": "[concat(\u0027DeployPrivateEndpoint-\u0027, uniqueString(parameters(\u0027privateEndpointName\u0027)))]",
              "materialization_identity_resource_id": "[if(not(equals(parameters(\u0027materialization_identity_name\u0027), \u0027empty\u0027)), resourceId(resourceGroup().name, \u0027Microsoft.ManagedIdentity/userAssignedIdentities\u0027, parameters(\u0027materialization_identity_name\u0027)),  parameters(\u0027materialization_identity_resource_id\u0027))]",
              "offlineStoreContainerName": "[concat(\u0027offlinestore\u0027, guid(variables(\u0027storageAccount\u0027)))]",
              "offlineStoreConnectionName": "[if(empty(parameters(\u0027offline_store_connection_name\u0027)), \u0027OfflineStoreConnectionName\u0027, parameters(\u0027offline_store_connection_name\u0027))]",
              "onlineStoreConnectionName": "[if(empty(parameters(\u0027online_store_connection_name\u0027)), \u0027OnlineStoreConnectionName\u0027, parameters(\u0027online_store_connection_name\u0027))]",
              "offlineStoreConnectionTarget": "[if(empty(parameters(\u0027offline_store_target\u0027)), resourceId(\u0027Microsoft.Storage/storageAccounts/blobServices/containers\u0027, variables(\u0027provisionedStorageAccountName\u0027), \u0027default\u0027, variables(\u0027offlineStoreContainerName\u0027)), parameters(\u0027offline_store_target\u0027))]",
              "isWorkspaceHub": "[equals(parameters(\u0027kind\u0027), \u0027hub\u0027)]"
            },
            "resources": [
              {
                "condition": "[and(variables(\u0027enablePE\u0027), equals(parameters(\u0027vnetOption\u0027), \u0027new\u0027))]",
                "type": "Microsoft.Network/virtualNetworks",
                "apiVersion": "2019-09-01",
                "name": "[parameters(\u0027vnetName\u0027)]",
                "location": "[parameters(\u0027location\u0027)]",
                "tags": "[parameters(\u0027tagValues\u0027)]",
                "properties": {
                  "addressSpace": {
                    "addressPrefixes": "[parameters(\u0027addressPrefixes\u0027)]"
                  },
                  "enableDdosProtection": false,
                  "enableVmProtection": false
                }
              },
              {
                "condition": "[and(variables(\u0027enablePE\u0027), equals(parameters(\u0027subnetOption\u0027), \u0027new\u0027))]",
                "type": "Microsoft.Network/virtualNetworks/subnets",
                "apiVersion": "2019-09-01",
                "name": "[concat(parameters(\u0027vnetName\u0027), \u0027/\u0027, parameters(\u0027subnetName\u0027))]",
                "dependsOn": [
                  "[resourceId(\u0027Microsoft.Network/virtualNetworks\u0027, parameters(\u0027vnetName\u0027))]"
                ],
                "properties": {
                  "addressPrefix": "[parameters(\u0027subnetPrefix\u0027)]",
                  "privateEndpointNetworkPolicies": "Disabled",
                  "privateLinkServiceNetworkPolicies": "Enabled",
                  "serviceEndpoints": [
                    {
                      "service": "Microsoft.Storage"
                    },
                    {
[...]
