{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/connections?api-version=2023-08-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-westus3-02",
        "x-ms-ratelimit-remaining-subscription-reads": "11999",
        "x-ms-response-type": "standard",
        "x-request-time": "0.010"
      },
      "ResponseBody": {
        "value": [
          {
            "tags": null,
            "location": null,
            "id": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/connections/Default_AzureOpenAI",
            "name": "Default_AzureOpenAI",
            "type": "Microsoft.MachineLearningServices/workspaces/connections",
            "properties": {
              "authType": "ApiKey",
              "credentials": null,
              "group": "AzureAI",
              "category": "AzureOpenAI",
              "expiryTime": null,
              "target": "https://e2e-test-res-1-aiservices.openai.azure.com/",
              "createdByWorkspaceArmId": null,
              "isSharedToAll": true,
              "sharedUserList": [],
              "metadata": {
                "ApiType": "Azure",
                "ProvisioningState": "Succeeded",
                "ResourceId": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.CognitiveServices/accounts/e2e-test-res-1-aiservices",
                "ProxyResourceId": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/oaiaccounts/id_acda21a089e8467ca3a5f5bead17bf27",
                "ApiVersion": "2023-07-01-preview",
                "DeploymentApiVersion": "2023-10-01-preview"
              }
            },
            "systemData": null
          },
          {
            "tags": null,
            "location": null,
            "id": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/connections/Default_AzureAIContentSafety",
            "name": "Default_AzureAIContentSafety",
            "type": "Microsoft.MachineLearningServices/workspaces/connections",
            "properties": {
              "authType": "ApiKey",
              "credentials": null,
              "group": "AzureAI",
              "category": "CognitiveService",
              "expiryTime": null,
              "target": "https://e2e-test-res-1-aiservices.cognitiveservices.azure.com/",
              "createdByWorkspaceArmId": null,
              "isSharedToAll": true,
              "sharedUserList": [],
              "metadata": {
                "ApiType": "Azure",
                "Kind": "Content Safety",
                "ProvisioningState": "Succeeded",
                "ResourceId": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.CognitiveServices/accounts/e2e-test-res-1-aiservices",
                "ApiVersion": "2023-10-01",
                "DeploymentApiVersion": "2023-10-01-preview"
              }
            },
            "systemData": null
          },
          {
            "tags": null,
            "location": null,
            "id": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/connections/e2eTestGitConn1990273",
            "name": "e2eTestGitConn1990273",
            "type": "Microsoft.MachineLearningServices/workspaces/connections",
            "properties": {
              "authType": "ApiKey",
              "credentials": null,
              "group": "ServicesAndApps",
              "category": "Git",
              "expiryTime": null,
              "target": "test-target",
              "createdByWorkspaceArmId": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000",
              "isSharedToAll": true,
              "sharedUserList": [],
              "metadata": {}
            },
            "systemData": {
              "createdAt": "2023-12-07T16:36:36.3422151Z",
              "createdBy": "milesholland@microsoft.com",
              "createdByType": "User",
              "lastModifiedAt": "2023-12-07T16:36:36.3422151Z",
              "lastModifiedBy": "milesholland@microsoft.com",
              "lastModifiedByType": "User"
            }
          },
          {
            "tags": null,
            "location": null,
            "id": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/connections/e2eTestCustomConn7555636",
            "name": "e2eTestCustomConn7555636",
            "type": "Microsoft.MachineLearningServices/workspaces/connections",
            "properties": {
              "authType": "ApiKey",
              "credentials": null,
              "group": "AzureAI",
              "category": "CustomKeys",
              "expiryTime": null,
              "target": "test-target",
              "createdByWorkspaceArmId": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000",
              "isSharedToAll": true,
              "sharedUserList": [],
              "metadata": {}
            },
            "systemData": {
              "createdAt": "2023-12-13T21:26:02.2461314Z",
              "createdBy": "milesholland@microsoft.com",
              "createdByType": "User",
              "lastModifiedAt": "2023-12-13T21:26:02.2461314Z",
              "lastModifiedBy": "milesholland@microsoft.com",
              "lastModifiedByType": "User"
            }
          }
        ]
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/connections/Default_AzureOpenAI?api-version=2023-08-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-westus3-02",
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/connections/Default_AzureOpenAI/listsecrets?api-version=2023-08-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-westus3-02",
        "x-ms-ratelimit-remaining-subscription-writes": "1199",
        "x-ms-response-type": "standard",
        "x-request-time": "0.243"
      },
      "ResponseBody": {
        "tags": null,
        "location": null,
        "id": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/connections/Default_AzureOpenAI",
        "name": "Default_AzureOpenAI",
        "type": "Microsoft.MachineLearningServices/workspaces/connections",
        "properties": {
          "authType": "ApiKey",
          "credentials": {
            "key": "dGhpcyBpcyBmYWtlIGtleQ=="
          },
          "group": "AzureAI",
          "category": "AzureOpenAI",
          "expiryTime": null,
          "target": "https://e2e-test-res-1-aiservices.openai.azure.com/",
          "createdByWorkspaceArmId": null,
          "isSharedToAll": true,
          "sharedUserList": [],
          "metadata": {
            "ApiType": "Azure",
            "ProvisioningState": "Succeeded",
            "ResourceId": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.CognitiveServices/accounts/e2e-test-res-1-aiservices",
            "ProxyResourceId": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/oaiaccounts/id_acda21a089e8467ca3a5f5bead17bf27",
            "ApiVersion": "2023-07-01-preview",
            "DeploymentApiVersion": "2023-10-01-preview"
          }
        },
        "systemData": null
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/connections/Default_AzureAIContentSafety?api-version=2023-08-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-west[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/connections/Default_AzureAIContentSafety/listsecrets?api-version=2023-08-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster":[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/connections/e2eTestGitConn1990273?api-version=2023-08-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-westus3-02"[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/connections/e2eTestGitConn1990273/listsecrets?api-version=2023-08-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienn[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/connections/e2eTestCustomConn7555636?api-version=2023-08-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-westus3-[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/connections/e2eTestCustomConn7555636/listsecrets?api-version=2023-08-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vi[...]
