{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/go-sdk-test-rg?api-version=2021-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1195"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg",
        "name": "go-sdk-test-rg",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "westus",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/go-sdk-test-rg/providers/Microsoft.StreamAnalytics/streamingjobs/jobnamendu7Bd?api-version=2021-10-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westus",
        "properties": {
          "compatibilityLevel": "1.0",
          "dataLocale": "en-US",
          "eventsLateArrivalMaxDelayInSeconds": 16,
          "eventsOutOfOrderMaxDelayInSeconds": 5,
          "eventsOutOfOrderPolicy": "Drop",
          "functions": [],
          "inputs": [],
          "outputErrorPolicy": "Drop",
          "outputs": [],
          "sku": {
            "name": "Standard"
          }
        },
        "tags": {
          "key1": "value1",
          "key3": "value3",
          "randomKey": "randomValue"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "00000000-0000-0000-0000-000000000000",
        "x-ms-ratelimit-remaining-subscription-writes": "1194"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.StreamAnalytics/streamingjobs/jobnamendu7Bd",
        "name": "jobnamendu7Bd",
        "type": "Microsoft.StreamAnalytics/streamingjobs",
        "location": "West US",
        "tags": {
          "key1": "value1",
          "key3": "value3",
          "randomKey": "randomValue"
        },
        "properties": {
          "sku": {
            "name": "Standard"
          },
          "jobId": "00000000-0000-0000-0000-000000000000",
          "provisioningState": "Succeeded",
          "jobState": "Created",
          "eventsOutOfOrderPolicy": "Drop",
          "outputErrorPolicy": "Drop",
          "eventsOutOfOrderMaxDelayInSeconds": 5,
          "eventsLateArrivalMaxDelayInSeconds": 16,
          "dataLocale": "en-US",
          "createdDate": "2023-05-30T09:09:23.247Z",
          "compatibilityLevel": "1.0",
          "jobStorageAccount": null,
          "contentStoragePolicy": "SystemAccount",
          "inputs": [],
          "functions": [],
          "outputs": [],
          "jobType": "Cloud",
          "cluster": null,
          "schemaRegistrySources": []
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/go-sdk-test-rg/providers/Microsoft.Resources/deployments/Create_StorageAccount?api-version=2021-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "mode": "Incremental",
          "template": {
            "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
            "contentVersion": "1.0.0.0",
            "outputs": {
              "storageAccountId": {
                "type": "string",
                "value": "[resourceId(\u0027Microsoft.Storage/storageAccounts\u0027, parameters(\u0027storageAccountName\u0027))]"
              },
              "storageAccountKey": {
                "type": "string",
                "value": "[listKeys(parameters(\u0027storageAccountName\u0027),\u00272022-05-01\u0027).keys[0].value]"
              }
            },
            "parameters": {
              "location": {
                "defaultValue": "westus",
                "type": "string"
              },
              "storageAccountName": {
                "defaultValue": "streamscx3hayf",
                "type": "string"
              }
            },
            "resources": [
              {
                "apiVersion": "2022-05-01",
                "kind": "StorageV2",
                "location": "[parameters(\u0027location\u0027)]",
                "name": "[parameters(\u0027storageAccountName\u0027)]",
                "properties": {
                  "accessTier": "Hot",
                  "allowBlobPublicAccess": true,
                  "allowCrossTenantReplication": true,
                  "allowSharedKeyAccess": true,
                  "defaultToOAuthAuthentication": false,
                  "dnsEndpointType": "Standard",
                  "encryption": {
                    "keySource": "Microsoft.Storage",
                    "requireInfrastructureEncryption": false,
                    "services": {
                      "blob": {
                        "enabled": true,
                        "keyType": "Account"
                      },
                      "file": {
                        "enabled": true,
                        "keyType": "Account"
                      }
                    }
                  },
                  "minimumTlsVersion": "TLS1_2",
                  "networkAcls": {
                    "bypass": "AzureServices",
                    "defaultAction": "Allow",
                    "ipRules": [],
                    "virtualNetworkRules": []
                  },
                  "publicNetworkAccess": "Enabled",
                  "supportsHttpsTrafficOnly": true
                },
                "sku": {
                  "name": "Standard_RAGRS",
                  "tier": "Standard"
                },
                "type": "Microsoft.Storage/storageAccounts"
              }
            ],
            "variables": {}
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/go-sdk-test-rg/providers/Microsoft.Resources/deployments/Create_StorageAccount/operationStatuses/08585161691203172991?api-version=2021-04-01",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1193"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.Resources/deployments/Create_StorageAccount",
        "name": "Create_StorageAccount",
        "type": "Microsoft.Resources/deployments",
        "properties": {
          "templateHash": "18233468003608590779",
          "parameters": {
            "location": {
              "type": "String",
              "value": "westus"
            },
            "storageAccountName": {
              "type": "String",
              "value": "streamscx3hayf"
            }
          },
          "mode": "Incremental",
          "provisioningState": "Accepted",
          "timestamp": "2023-05-30T09:09:25.6930299Z",
          "duration": "PT0.0000948S",
          "correlationId": "00000000-0000-0000-0000-000000000000",
          "providers": [
            {
              "namespace": "Microsoft.Storage",
              "resourceTypes": [
                {
                  "resourceType": "storageAccounts",
                  "locations": [
                    "westus"
                  ]
                }
              ]
            }
          ],
          "dependencies": []
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/go-sdk-test-rg/providers/Microsoft.Resources/deployments/Create_StorageAccount/operationStatuses/08585161691203172991?api-version=2021-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11996"
      },
      "ResponseBody": {
        "status": "Running"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/go-sdk-test-rg/providers/Microsoft.StreamAnalytics/streamingjobs/jobnamendu7Bd/inputs/inputnamB08T21?api-version=2021-10-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "datasource": {
            "properties": {
              "container": "state",
              "dateFormat": "yyyy/MM/dd",
              "pathPattern": "{date}/{time}",
              "storageAccounts": [
                {
                  "accountKey": "",
                  "accountName": "streamscx3hayf"
                }
              ],
              "timeFormat": "HH"
            },
            "type": "Microsoft.Storage/Blob"
          },
          "serialization": {
            "properties": {
              "encoding": "UTF8",
              "fieldDelimiter": ","
            },
            "type": "Csv"
          },
          "type": "Reference"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "00000000-0000-0000-0000-000000000000",
        "x-ms-ratelimit-remaining-subscription-writes": "1192"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.StreamAnalytics/streamingjobs/jobnamendu7Bd/inputs/inputnamB08T21",
        "name": "inputnamB08T21",
        "type": "Microsoft.StreamAnalytics/streamingjobs/inputs",
        "properties": {
          "type": "Reference",
          "datasource": {
            "type": "Microsoft.Storage/Blob",
            "properties": {
              "storageAccounts": [
                {
                  "accountName": "streamscx3hayf"
                }
              ],
              "container": "state",
              "pathPattern": "{date}/{time}",
              "dateFormat": "yyyy/MM/dd",
              "timeFormat": "HH",
              "authenticationMode": "ConnectionString"
            }
          },
          "compression": {
            "type": "None"
          },
          "schemaRegistry": null,
          "serialization": {
            "type": "Csv",
            "properties": {
              "fieldDelimiter": ",",
              "encoding": "UTF8"
            }
          }
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/go-sdk-test-rg/providers/Microsoft.StreamAnalytics/streamingjobs/jobnamendu7Bd/inputs?api-version=2021-10-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratel[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/go-sdk-test-rg/providers/Microsoft.StreamAnalytics/streamingjobs/jobnamendu7Bd/inputs/inputnamB08T21/test?api-version=2021-10-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Location": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/go-sdk-test-rg/providers/Microsoft.StreamAnalytics/streamingjobs/jobnamendu7Bd/inputs/inputnamB08T21/OperationResults/00000000-0000-0000-0000-000000000000?api-version=2021-10-01-preview",
        "Retry-After": "10",
        "x-ms-ratelimit-remaining-subscription-writes": "1198"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/go-sdk-test-rg/providers/Microsoft.StreamAnalytics/streamingjobs/jobnamendu7Bd/inputs/inputnamB08T21/OperationResults/00000000-0000-0000-0000-000000000000?api-version=2021-10-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11993"
      },
      "ResponseBody": {
        "status": "TestFailed",
        "error": {
          "code": "BadArgument",
          "message": "Error connecting to staging blob storage for Synpase SQL pool output The specifed resource name contains invalid characters.\nRequestId:00000000-0000-0000-0000-000000000000\nTime:2023-05-30T09:10:00.0208921Z.",
          "details": null
        },
        "diagnostics": null
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/go-sdk-test-rg?api-version=2021-04-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Location": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1HTzoyRFNESzoyRFRFU1Q6MkQ1MTItV0VTVFVTIiwiam9iTG9jYXRpb24iOiJ3ZXN0dXMifQ?api-version=2021-04-01",
        "Retry-After": "15",
        "x-ms-ratelimit-remaining-subscription-deletes": "14995"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "randSeed": "1685437750",
    "recordingRandomSeed": "0"
  }
}
