{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.services.ai.azure.com/contentunderstanding/analyzers/test_analyzer_source_0000000000000000?api-version=2025-11-01&allowReplace=true",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "baseAnalyzerId": "prebuilt-document",
        "description": "Source analyzer for copying",
        "config": {
          "enableFormula": false,
          "enableLayout": true,
          "enableOcr": true,
          "estimateFieldSourceAndConfidence": true,
          "returnDetails": true
        },
        "fieldSchema": {
          "name": "Sanitized",
          "description": "Schema for extracting company information",
          "fields": {
            "company_name": {
              "type": "string",
              "method": "extract",
              "description": "Name of the company"
            },
            "total_amount": {
              "type": "number",
              "method": "extract",
              "description": "Total amount on the document"
            }
          }
        },
        "models": {
          "completion": "gpt-4.1"
        },
        "tags": {
          "modelType": "in_development"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2025-05-01-preview,2025-11-01",
        "Content-Type": "application/json",
        "Operation-Location": "https://Sanitized.services.ai.azure.com/contentunderstanding/analyzers/test_analyzer_source_3e6981e889914295/operations/e4a0c1cc-53ab-4f79-a5d8-82b0deb4c90e?api-version=2025-11-01",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "analyzerId": "test_analyzer_source_3e6981e889914295",
        "description": "Source analyzer for copying",
        "tags": {
          "modelType": "in_development"
        },
        "createdAt": "2026-01-14T19:04:00Z",
        "lastModifiedAt": "2026-01-14T19:04:00Z",
        "baseAnalyzerId": "prebuilt-document",
        "config": {
          "returnDetails": true,
          "enableOcr": true,
          "enableLayout": true,
          "enableFormula": false,
          "enableFigureDescription": false,
          "enableFigureAnalysis": false,
          "chartFormat": "chartjs",
          "tableFormat": "html",
          "estimateFieldSourceAndConfidence": true,
          "enableSegment": false,
          "omitContent": false,
          "segmentPerPage": false,
          "annotationFormat": "markdown"
        },
        "fieldSchema": {
          "name": "Sanitized",
          "description": "Schema for extracting company information",
          "fields": {
            "company_name": {
              "type": "string",
              "method": "extract",
              "description": "Name of the company"
            },
            "total_amount": {
              "type": "number",
              "method": "extract",
              "description": "Total amount on the document"
            }
          }
        },
        "warnings": [],
        "status": "creating",
        "processingLocation": "geography",
        "supportedModels": {
          "completion": [
            "gpt-4o",
            "gpt-4o-mini",
            "gpt-4.1",
            "gpt-4.1-mini",
            "gpt-4.1-nano"
          ],
          "embedding": [
            "text-embedding-3-small",
            "text-embedding-3-large",
            "text-embedding-ada-002"
          ]
        },
        "models": {
          "completion": "gpt-4.1",
          "embedding": "text-embedding-3-large"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.services.ai.azure.com/contentunderstanding/analyzers/test_analyzer_source_0000000000000000/operations/e4a0c1cc-53ab-4f79-a5d8-82b0deb4c90e?api-version=2025-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2025-05-01-preview,2025-11-01",
        "Content-Type": "application/json",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "id": "Sanitized",
        "status": "Running",
        "result": {
          "analyzerId": "test_analyzer_source_3e6981e889914295",
          "description": "Source analyzer for copying",
          "tags": {
            "modelType": "in_development"
          },
          "createdAt": "2026-01-14T19:04:00Z",
          "lastModifiedAt": "2026-01-14T19:04:00Z",
          "baseAnalyzerId": "prebuilt-document",
          "config": {
            "returnDetails": true,
            "enableOcr": true,
            "enableLayout": true,
            "enableFormula": fa[...]
[...]
    {
      "RequestUri": "https://Sanitized.services.ai.azure.com/contentunderstanding/analyzers/test_analyzer_target_0000000000000000:copy?api-version=2025-11-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "sourceAnalyzerId": "test_analyzer_source_3e6981e889914295"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2025-05-01-preview,2025-11-01",
        "Content-Type": "application/json",
        "operation-location": "https://Sanitized.services.ai.azure.com/contentunderstanding/analyzers/test_analyzer_target_42f8812dde6e4951/operations/8e825b83-b674-4121-aadd-6d4f590690ce?api-version=2025-11-01",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "analyzerId": "test_analyzer_target_42f8812dde6e4951",
        "description": "Source analyzer for copying",
        "tags": {
          "modelType": "in_development"
        },
        "createdAt": "2026-01-14T19:04:03Z",
        "lastModifi[...]
    {
      "RequestUri": "https://Sanitized.services.ai.azure.com/contentunderstanding/analyzers/test_analyzer_target_0000000000000000/operations/8e825b83-b674-4121-aadd-6d4f590690ce?api-version=2025-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2025-05-01-preview,2025-11-01",
        "Content-Type": "application/json",
        "x-ms-region": "East US"
   [...]
[...]
    {
      "RequestUri": "https://Sanitized.services.ai.azure.com/contentunderstanding/analyzers/test_analyzer_source_0000000000000000?api-version=2025-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2025-05-01-preview,2025-11-01",
        "x-ms-region": "East US"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.services.ai.azure.com/contentunderstanding/analyzers/test_analyzer_target_0000000000000000?api-version=2025-11-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "api-supported-versions": "2025-05-01-preview,2025-11-01",
        "x-ms-region": "East US"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "copySourceAnalyzerId": "test_analyzer_source_3e6981e889914295",
    "copyTargetAnalyzerId": "test_analyzer_target_42f8812dde6e4951"
  }
}
