{
  "Entries": [
    {
      "RequestUri": "https://sanitized.communication.azure.com/identities?api-version=2023-10-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 20 Mar 2024 04:58:19 GMT"
      },
      "RequestBody": {},
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview, 2021-11-01, 2022-06-01, 2022-10-01, 2023-10-01",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "k4gMKi2K60mErgZ1FkTWXg.0",
        "X-Processing-Time": "14ms"
      },
      "ResponseBody": {
        "identity": {
          "id": "8:acs:8b1e6004-98fe-4e87-80c1-56087ffec93b_0000001e-fa1b-1ea4-1985-09482200c54d"
        }
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.com/rooms?api-version=2024-04-15",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Repeatability-First-Sent": "Wed, 20 Mar 2024 04:58:19 GMT",
        "Repeatability-Request-ID": "24681513-fec6-4463-af80-a2912e0310dd",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 20 Mar 2024 04:58:19 GMT"
      },
      "RequestBody": {
        "validFrom": "Sanitized",
        "validUntil": "Sanitized",
        "participants": {
          "8:acs:8b1e6004-98fe-4e87-80c1-56087ffec93b_0000001e-fa1b-1ea4-1985-09482200c54d": {
            "role": "Presenter"
          },
          "8:acs:8b1e6004-98fe-4e87-80c1-56087ffec93b_0000001e-fa1b-1ed3-1985-09482200c54e": {
            "role": "Presenter"
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-deprecated-versions": "2021-04-07, 2022-02-01",
        "api-supported-versions": "2023-03-31-preview, 2023-06-14, 2023-10-30-preview, 2024-04-15",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "99455730487836406",
        "MS-CV": "Ur9UQO7QdU2YS8BhSJ/2WA.0",
        "Repeatability-Result": "accepted"
      },
      "ResponseBody": {
        "id": "99455730487836406",
        "createdAt": "2024-03-20T04:58:20.4752078\u002B00:00",
        "validFrom": "2024-03-20T04:58:19.4390742\u002B00:00",
        "validUntil": "2024-03-21T04:58:19.4390742\u002B00:00",
        "pstnDialOutEnabled": false
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.com/rooms/Sanitized/participants?api-version=2024-04-15",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/merge-patch\u002Bjson",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 20 Mar 2024 04:58:19 GMT"
      },
      "RequestBody": {
        "participants": {
          "8:acs:8b1e6004-98fe-4e87-80c1-56087ffec93b_0000001e-fa1b-1ed3-1985-09482200c54e": {
            "role": "Attendee"
          },
          "8:acs:8b1e6004-98fe-4e87-80c1-56087ffec93b_0000001e-fa1b-206b-1985-09482200c54f": {
            "role": "Consumer"
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-deprecated-versions": "2022-02-01",
        "api-supported-versions": "2023-03-31-preview, 2023-06-14, 2023-10-30-preview, 2024-04-15",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "u63i5Pl3Vk2lXUTW5YC9Xw.0"
      },
      "ResponseBody": {}
    },
[...]
    {
      "RequestUri": "https://sanitized.communication.azure.com/rooms/Sanitized/participants?api-version=2024-04-15",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-sha256": "Sanitized",
        "x-ms-date": "Wed, 20 Mar 2024 04:58:21 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-deprecated-versions": "2022-02-01",
        "api-supported-versions": "2023-03-31-preview, 2023-06-14, 2023-10-30-preview, 2024-04-15",
        "Content-Type": "application/json; charset=utf-8",
        "MS-CV": "LfpDXlX42kSfaovXBDBCdw.0"
      },
      "ResponseBody": {
        "value": [
          {
            "rawId": "8:acs:8b1e6004-98fe-4e87-80c1-56087ffec93b_0000001e-fa1b-206b-1985-09482200c54f",
            "role": "Consumer"
          }
        ]
      }
    }
  ],
  "Variables": {
    "COMMUNICATION_CONNECTION_STRING_ROOMS": "endpoint=https://rooms-ppe-eastus.ppe.communication.azure.net/;accesskey=Kg==",
    "RandomSeed": "712564072"
  }
}
