{
  "Entries": [
    {
      "RequestUri": "https://sanitized.services.ai.azure.com/contentunderstanding/analyzers/prebuilt-documentSearch:analyzeBinary?api-version=2025-11-01&stringEncoding=utf16&range=8-",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "[object Object]"
      },
      "RequestBody": "JVBERi0xLjMKJenr8b8KMSAwIG9iago8PAovQ291bnQgMTAKL0tpZHMgWzMgMCBSCjUgMCBSCjcgMCBSCjkgMCBSCjExIDAgUgoxMyAwIFIKMTUgMCBSCjE3IDAgUgoxOSAwIFIKMjEgMCBSXQovTWVkaWFCb3ggWzAgMCA1OTUuMjggODQxLjg5XQovVHlwZSAvUGFnZXMKPj4KZW5kb2JqCjIgMCBvYmoKPDwKL09wZW5BY3Rpb24gWzMgMCBSIC9GaXRIIG51bGxdCi9QYWdlTGF5b3V0IC9PbmVDb2x1bW4KL1BhZ2VzIDEgMCBSCi9UeXBlIC9DYXRhbG9nCj4+CmVuZG9iagozIDAgb2JqCjw8Ci9Db250ZW50cyA0IDAgUgovUGFyZW50IDEgMCBSCi9SZXNvdXJjZXMgMjYgMCBSCi9UeXBlIC9QYWdlCj4+CmVuZG9iago0IDAgb2JqCjw8Ci9GaWx0ZXIgL0ZsYXRlRG[...]
    {
      "RequestUri": "https://sanitized.services.ai.azure.com/contentunderstanding/analyzerResults/1e266832-6e79-45c6-9f6e-9440c40b89ef?api-version=2025-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2024-12-01-preview,2025-05-01-preview,2025-11-01",
        "Content-Type": "application/json",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "id": "1e266832-6e79-45c6-9f6e-9440c40b89ef",
        "status": "Running",
        "result": {
          "analyzerId": "prebuilt-documentSearch",
          "apiVersion": "2025-11-01",
          "createdAt": "2026-03-18T11:28:15Z",
          "warnings": [],
          "contents": []
        }
      }
    },
[...]
    {
      "RequestUri": "https://sanitized.services.ai.azure.com/contentunderstanding/analyzerResults/1e266832-6e79-45c6-9f6e-9440c40b89ef?api-version=2025-11-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2024-12-01-preview,2025-05-01-preview,2025-11-01",
        "Content-Type": "application/json",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "id": "1e266832-6e79-45c6-9f6e-9440c40b89ef",
        "status": "Succeeded",
        "result": {
          "analyzerId": "prebuilt-documentSearch",
          "apiVersion": "2025-11-01",
          "createdAt": "2026-03-18T11:28:15Z",
          "stringEncoding": "utf16",
          "warnings": [],
          "contents": [
            {
              "path": "input1",
              "markdown": "<!-- PageNumber: Page 8 of 10 -->\n<!-- PageBreak -->\n\n<!-- PageNumber: Page 9 of 10 -->\n<!-- PageHeader: THIS DOCUMENT IS ENTIRELY FICTIONAL AND INTENDED FOR SOFTWARE DEMONSTRATION PURPOSES ONLY. All vendor names, addresses, amounts, and other data are fabricated. -->\n\n\n# NORTHWIND COMPONENTS\n\nNorthwind Electronics Division\n300 Northwind Drive\nAustin, TX 73301\n\nAdventureWorks Industrial\n500 Innovation Blvd, Redmond, WA 98052\n\n\n# INVOICE\n\n\n<table>\n<tr>\n<td>INVOICE:</td>\n<td>INV-2026-C-01022</td>\n</tr>\n<tr>\n<td>INVOICE DATE:</td>\n<td>03/10/2026</td>\n</tr>\n<tr>\n<td>DUE DATE:</td>\n<td>05/09/2026</td>\n</tr>\n<tr>\n<td>CUSTOMER NAME:</td>\n<td>ADVENTUREWORKS INDUSTRIAL</td>\n</tr>\n<tr>\n<td>CUSTOMER ID:</td>\n<td>CID-AWI-5500</td>\n</tr>\n</table>\n\n\nSALESPERSON\n\nA. Nakamura\n\nP.O. NUMBER\n\nPO-9100\n\nTERMS\n\nNet 60\n\n\n<table>\n<tr>\n<th>ITEM CODE</th>\n<th>DESCRIPTION</th>\n<th>QTY</th>\n<th>UM</th>\n<th>PRICE</th>\n<th>TAX</th>\n<th>AMOUNT</th>\n</tr>\n<tr>\n<td>PCB-R3</td>\n<td>Circuit Board - Type R3</td>\n<td>100</td>\n<td>EA</td>\n<td>$4.50</td>\n<td>$38.25</td>\n<td>$488.25</td>\n</tr>\n<tr>\n<td>CAP-100</td>\n<td>Capacitor 100uF 25V</td>\n<td>500</td>\n<td>EA</td>\n<td>$0.35</td>\n<td>$14.88</td>\n<td>$189.88</td>\n</tr>\n<tr>\n<td>RES-1K</td>\n<td>Resistor Pack (1k Ohm, 100 pcs)</td>\n<td>200</td>\n<td>PK</td>\n<td>$1.2[...]
