{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.vault.azure.net/certificates/contacts?api-version=7.6",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/certificates/contacts?api-version=7.6",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "contacts": [
          {
            "email": "a@a.com",
            "name": "a",
            "phone": "111111111111"
          },
          {
            "email": "b@b.com",
            "name": "b",
            "phone": "222222222222"
          }
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "id": "https://keyvault_name.vault.azure.net/certificates/contacts",
        "contacts": [
          {
            "email": "a@a.com",
            "name": "a",
            "phone": "111111111111"
          },
          {
            "email": "b@b.com",
            "name": "b",
            "phone": "222222222222"
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/certificates/contacts?api-version=7.6",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "ContactsNotFound",
          "message": "Contacts not found"
        }
      }
    }
  ],
  "Variables": {}
}
