{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.vault.azure.net/certificates/CRUDCertificateName-canupdatethetagsofacertificate-/create?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/certificates/CRUDCertificateName-canupdatethetagsofacertificate-/create?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "policy": {
          "key_props": {},
          "secret_props": {},
          "x509_props": {
            "subject": "cn=MyCert",
            "sans": {}
          },
          "issuer": {
            "name": "Self"
          },
          "attributes": {}
        },
        "attributes": {}
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://keyvault_name.vault.azure.net/certificates/CRUDCertificateName-canupdatethetagsofacertificate-/pending?api-version=7.6-preview.2&request_id=a67ab835c8fe45d5b6e5defcef5dbe43",
        "Retry-After": "10"
      },
      "ResponseBody": {
        "id": "https://keyvault_name.vault.azure.net/certificates/CRUDCertificateName-canupdatethetagsofacertificate-/pending",
        "issuer": {
          "name": "Self"
        },
        "csr": "MIICoTCCAYkCAQAwETEPMA0GA1UEAxMGTXlDZXJ0MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAuOcXk2A7YQeRkdwZhD1ua3+j484ruQAadT+Z2yW3wSEhJEpb42C1lCQ3WF8mxsRBPxaGj39FNdfdfk/lEOXkSOELysQuX4xLQ4NW5nUF8U8R+m74srWapoCyMg1WPZFq4AgTheCSyCMH8DiA0Z833Uh54Ae8cTI2+zsm3W6XD2gbJiMThrl5H2B1gwtUfINZqLnDcuQ4D4ZPZ02SURz04PMq7yenKw8F00S2DceyQSL1gUafTPWBtztoEIx6/HVpNrhemGS5QmW9U62Ny+0O4PHpaQwo7Esl9F6vq3+S5bD77MAgyUWpggOk0hvmvyoVHqGbuntFMnd0+/i8yUXWxQIDAQABoEswSQYJKoZIhvcNAQkOMTwwOjAOBgNVHQ8BAf8EBAMCBaAwHQYDVR0lBBYwFAYIKwYBBQUHAwEGCCsGAQUFBwMCMAkGA1UdEwQCMAAwDQYJKoZIhvcNAQELBQADggEBACA07dJEowkYzagBM6l2JrIqXuoHfUj46PLcS/J4QOWh5RMCmWv5gbCj4CLpdfQigduQ83TzVArgcCj8a7K03tYbR0un75orjd0b745WkyvjZ0UGPH1wxwVQBSbz1wWoac7zESG0cSxUmwQ4knPqmjk/WhPO9J4kNY2mnOTXFf+1GeH+WN1OtGXRBHXR8pfxpAkB3EeQIMoqdBtrE4GULYfG1GZ3mocWUiuQe3PBNRrCYH0mWfcxa/+dG9ERsq6t1n5CALYPl41LxwdE/oY3UBCgRDRXp910iwFe4QQAA6VTofvD+8dxmzbD18NzQtkzL5zNKE6tYglcM75LnIqOD1k=",
        "cancellation_requested": false,
        "status": "inProgress",
        "status_details": "Pending certificate created. Certificate request is in progress. This may take some time based on the issuer provider. Please check again later.",
        "request_id": "a67ab835c8fe45d5b6e5defcef5dbe43"
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/certificates/CRUDCertificateName-canupdatethetagsofacertificate-/pending?api-version=7.6-preview.2",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10"
      },
      "ResponseBody": {
        "id": "https://keyvault_name.[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/certificates/CRUDCertificateName-canupdatethetagsofacertificate-/?api-version=7.6-preview.2",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "attributes": {},
        "tags": {
          "customTag": "value"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "id": "https://keyvault_name.vault.azure.net/certificates/CRUDCertificateName-canupdatethetagsofacertificate-/638e5dc14e604343996234903ef11c9f",
        "attributes": {
          "enabled": false,
          "nbf": 1739462177,
          "exp": 1770998777,
          "created": 1739462777,
          "updated": 1739462777,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7
        },
        "tags": {
          "customTag": "value"
        },
        "policy": {
          "id": "https://keyvault_name.vault.azure.net/certificates/CRUDCertificateName-canupdatethetagsofacertificate-/policy",
          "key_props": {
            "exportable": true,
            "kty": "RSA",
            "key_size": 2048,
            "reuse_key": false
          },
          "secret_props": {
            "contentType": "application/x-pkcs12"
          },
          "x509_props": {
            "subject": "cn=MyCert",
            "sans": {},
            "ekus": [
              "1.3.6.1.5.5.7.3.1",
              "1.3.6.1.5.5.7.3.2"
            ],
            "key_usage": [
              "digitalSignature",
              "keyEncipherment"
            ],
            "validity_months": 12,
            "basic_constraints": {
              "ca": false
            }
          },
          "lifetime_actions": [
            {
              "trigger": {
                "lifetime_percentage": 80
              },
              "action": {
                "action_type": "AutoRenew"
              }
            }
          ],
          "issuer": {
            "name": "Self"
          },
          "attributes": {
            "enabled": true,
            "created": 1739462777,
            "updated": 1739462777
          }
        },
        "pending": {
          "id": "https://keyvault_name.vault.azure.net/certificates/CRUDCertificateName-canupdatethetagsofacertificate-/pending"
        }
      }
    },
[...]
