{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.vault.azure.net/certificates/issuers/CRUDCertificateName-cancreatereadanddeleteacertificateissuer-?api-version=2025-07-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/12345678-1234-1234-1234-123456789012\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer, PoP, or MTLS_POP token."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/certificates/issuers/CRUDCertificateName-cancreatereadanddeleteacertificateissuer-?api-version=2025-07-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "provider": "Test",
        "credentials": {
          "account_id": "keyvaultuser"
        },
        "org_details": {
          "admin_details": [
            {
              "first_name": "John",
              "last_name": "Doe",
              "email": "admin@microsoft.com",
              "phone": "4255555555"
            }
          ]
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "id": "https://keyvault_name.vault.azure.net/certificates/issuers/CRUDCertificateName-cancreatereadanddeleteacertificateissuer-",
        "provider": "Test",
        "credentials": {
          "account_id": "keyvaultuser"
        },
        "org_details": {
          "zip": 0,
          "admin_details": [
            {
              "first_name": "John",
              "last_name": "Doe",
              "email": "admin@microsoft.com",
              "phone": "4255555555"
            }
          ]
        },
        "attributes": {
          "enabled": true,
          "created": 1777138246,
          "updated": 1777138246
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/certificates/CRUDCertificateName-cancreatereadanddeleteacertificateissuer-/create?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "policy": {
          "key_props": {},
          "secret_props": {},
          "x509_props": {
            "subject": "cn=MyCert",
            "sans": {}
          },
          "issuer": {
            "name": "CRUDCertificateName-cancreatereadanddeleteacertificateissuer-"
          },
          "attributes": {}
        },
        "attributes": {}
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://keyvault_name.vault.azure.net/certificates/CRUDCertificateName-cancreatereadanddeleteacertificateissuer-/pending?api-version=2025-07-01&request_id=7a4d557e09f24d85aecab2999a692d0a",
        "Retry-After": "10"
      },
      "ResponseBody": {
        "id": "https://keyvault_name.vault.azure.net/certificates/CRUDCertificateName-cancreatereadanddeleteacertificateissuer-/pending",
        "issuer": {
          "name": "CRUDCertificateName-cancreatereadanddeleteacertificateissuer-"
        },
        "csr": "MIICoTCCAYkCAQAwETEPMA0GA1UEAxMGTXlDZXJ0MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAugdlL7fQB9GRjdE4Wypq7+aeAXiow5XhYLuhA7BOLhtOJWHB/dBC/EgCwJNLqYlWuiPN/m7y2GQZwOsnImU72u2odvrPnc+2Vw2raGJzbo9fPxH4bhIL36yv6HkzESNAvmapUAL7W2frCrtDitVwsPmI+FZ8qmvAnGxTYdYZAIdL2wBe5vDFswfI9A6oZEkFRGBlfavXoIBLUK3KOs+nykG0GPNbyA/7hZBP3bODM64HEPjnRR+FHUbJJO92o/bWqHYqKchmzZNEXNvJ676meMtEl5wYlxyRQmnCIEgVTYysxJeSjVK26XtxdAqGZsUdxxdWSzeUPhHsQO9gQ126gQIDAQABoEswSQYJKoZIhvcNAQkOMTwwOjAOBgNVHQ8BAf8EBAMCBaAwHQYDVR0lBBYwFAYIKwYBBQUHAwEGCCsGAQUFBwMCMAkGA1UdEwQCMAAwDQYJKoZIhvcNAQELBQADggEBAAKplWZHrNHpSz7cWw+v/DeAHEn0bGvNquwi94tOarMvbzOh7Vuy64Zq7Wqbl/UGLz57LfoXaUCPUJ8Ly5DzdSQxh8Zgq0/NAGJEiPw6iqot6c2eeS4aAJAxcyxf462UohXWV73rMLnuekpr0yPELNemmyXPlRSFBvVxvva7RhfI/j52UMDOh1SRM6RwTIENq8J5OMnaRw4dT3N/B9xJDxDpFc/phuYMFaRHiE0Z9sj7d8ceQst5ygg79zn65IVQEP+ylWuGaSri6S1T6h5+HBUiFkrTZYmeKxF9O1bdTyqKNh18q7KmMuPoZAh0wNBXf8gg8/RClURAgRxRMelvAzk=",
        "cancellation_requested": false,
        "status": "inProgress",
        "status_details": "Pending certificate created. Certificate request is in progress. This may take some time based on the issuer provider. Please check again later.",
        "request_id": "7a4d557e09f24d85aecab2999a692d0a"
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/certificates/CRUDCertificateName-cancreatereadanddeleteacertificateissuer-/pending?api-version=2025-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10"
      },
      "ResponseBody": {
        "id": "https://keyvaul[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/certificates/CRUDCertificateName-cancreatereadanddeleteacertificateissuer-/?api-version=2025-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "id": "https://keyvault_name.vault.azure.net/certificates/CRUDCertificateName-cancreatereadanddeleteacertificateissuer-/7434429dfb62421d9b2588905b3364f5",
        "attributes": {
          "enabled": false,
          "nbf": 1777137646,
          "exp": 1808674246,
          "created": 1777138246,
          "updated": 1777138246,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7
        },
        "policy": {
          "id": "https://keyvault_name.vault.azure.net/certificates/CRUDCertificateName-cancreatereadanddeleteacertificateissuer-/policy",
          "key_props": {
            "exportable": true,
            "kty": "RSA",
            "key_size": 2048,
            "reuse_key": false
          },
          "secret_props": {
            "contentType": "application/x-pkcs12"
          },
          "x509_props": {
            "subject": "cn=MyCert",
            "sans": {},
            "ekus": [
              "1.3.6.1.5.5.7.3.1",
              "1.3.6.1.5.5.7.3.2"
            ],
            "key_usage": [
              "digitalSignature",
              "keyEncipherment"
            ],
            "validity_months": 12,
            "basic_constraints": {
              "ca": false
            }
          },
          "lifetime_actions": [
            {
              "trigger": {
                "lifetime_percentage": 80
              },
              "action": {
                "action_type": "AutoRenew"
              }
            }
          ],
          "issuer": {
            "name": "CRUDCertificateName-cancreatereadanddeleteacertificateissuer-"
          },
          "attributes": {
            "enabled": true,
            "created": 1777138246,
            "updated": 1777138246
          }
        },
        "pending": {
          "id": "https://keyvault_name.vault.azure.net/certificates/CRUDCertificateName-cancreatereadanddeleteacertificateissuer-/pending"
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/certificates/issuers/CRUDCertificateName-cancreatereadanddeleteacertificateissuer-?api-version=2025-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "CertificateIssuerNotFound",
          "message": "Issuer not found"
        }
      }
    }
  ],
  "Variables": {}
}
