{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.vault.azure.net/certificates/CRUDCertificateName-canupdateacertificatespolicy-/create?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/certificates/CRUDCertificateName-canupdateacertificatespolicy-/create?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "policy": {
          "key_props": {},
          "secret_props": {},
          "x509_props": {
            "subject": "cn=MyCert",
            "sans": {}
          },
          "issuer": {
            "name": "Self"
          },
          "attributes": {}
        },
        "attributes": {}
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://keyvault_name.vault.azure.net/certificates/CRUDCertificateName-canupdateacertificatespolicy-/pending?api-version=7.6-preview.2&request_id=4fc1eed97fbe407091a61b4533fbb923",
        "Retry-After": "10"
      },
      "ResponseBody": {
        "id": "https://keyvault_name.vault.azure.net/certificates/CRUDCertificateName-canupdateacertificatespolicy-/pending",
        "issuer": {
          "name": "Self"
        },
        "csr": "MIICoTCCAYkCAQAwETEPMA0GA1UEAxMGTXlDZXJ0MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAxM0w8x2M6FUkuRjJdTB0WP6ndpjT4cj0NEKtSymZBvB001vgsSJ5npWvdFasOhYlUOurB0XBZ+6bBqGg+/8pwhifTKORUcR/jKJaOxNbLoWM4xoQVz1iEIOmUbSkJ3A/rZjbKTTuoMmWTJJNGRBtoZn1SiZ1Y7iMN4Vbj8qYAkPDCYeUEb6WhPVTNK4/oju+F3WyMTs7hUyVUGy/A51nk4ohfkVztP1iwGgsKNmqc+HyIW5sXd7AfQBFLBA21jjDoWtosItXMNHg2WLmK6Mfb1dV5GsE6zWzhUD1PR1ExvV5KtklPKx1jyVw1iQD6mgU/qh7lHch2HKLNcKUX1O+aQIDAQABoEswSQYJKoZIhvcNAQkOMTwwOjAOBgNVHQ8BAf8EBAMCBaAwHQYDVR0lBBYwFAYIKwYBBQUHAwEGCCsGAQUFBwMCMAkGA1UdEwQCMAAwDQYJKoZIhvcNAQELBQADggEBADwt9Uyb0nDnEaH9FVsaIPP44qkqSA5FhDH4MiaQ0XE+KKNggSomZQUGb27EDQWoSax2+FniBSeyOprkWQcQJwMwSH+1AQti/XPWzI37iMiunz0OkeSf4f+/aP/ME8Rc27RKXix8jZbe7Xs39HdmE5yw2qxrgAXzwkGB11sKyfHy4mj06+feZ6UaVLwlrRcKQM82Bp3YWfvM2pzMHsUX3ppq/hsDJEBz2fYq9qSAkQKD/Uc2yzTcEmWYFbAV1nksnTpdWv514nYzr5DilSmiW8DUtAFAkZFkmrmRNLGBP5PUmBdTJq/xQCcs80eYwCZeCxHZE7rTYHkQxMqTGCxCSHc=",
        "cancellation_requested": false,
        "status": "inProgress",
        "status_details": "Pending certificate created. Certificate request is in progress. This may take some time based on the issuer provider. Please check again later.",
        "request_id": "4fc1eed97fbe407091a61b4533fbb923"
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/certificates/CRUDCertificateName-canupdateacertificatespolicy-/pending?api-version=7.6-preview.2",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10"
      },
      "ResponseBody": {
        "id": "https://keyvault_name.va[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/certificates/CRUDCertificateName-canupdateacertificatespolicy-/?api-version=7.6-preview.2",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "id": "https://keyvault_name.vault.azure.net/certificates/CRUDCertificateName-canupdateacertificatespolicy-/ce0f331dc2404e0cb0bc41c6aef6bc1c",
        "attributes": {
          "enabled": false,
          "nbf": 1739462315,
          "exp": 1770998915,
          "created": 1739462915,
          "updated": 1739462915,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7
        },
        "policy": {
          "id": "https://keyvault_name.vault.azure.net/certificates/CRUDCertificateName-canupdateacertificatespolicy-/policy",
          "key_props": {
            "exportable": true,
            "kty": "RSA",
            "key_size": 2048,
            "reuse_key": false
          },
          "secret_props": {
            "contentType": "application/x-pkcs12"
          },
          "x509_props": {
            "subject": "cn=MyCert",
            "sans": {},
            "ekus": [
              "1.3.6.1.5.5.7.3.1",
              "1.3.6.1.5.5.7.3.2"
            ],
            "key_usage": [
              "digitalSignature",
              "keyEncipherment"
            ],
            "validity_months": 12,
            "basic_constraints": {
              "ca": false
            }
          },
          "lifetime_actions": [
            {
              "trigger": {
                "lifetime_percentage": 80
              },
              "action": {
                "action_type": "AutoRenew"
              }
            }
          ],
          "issuer": {
            "name": "Self"
          },
          "attributes": {
            "enabled": true,
            "created": 1739462915,
            "updated": 1739462915
          }
        },
        "pending": {
          "id": "https://keyvault_name.vault.azure.net/certificates/CRUDCertificateName-canupdateacertificatespolicy-/pending"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/certificates/CRUDCertificateName-canupdateacertificatespolicy-/policy?api-version=7.6-preview.2",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "key_props": {},
        "secret_props": {},
        "x509_props": {
          "subject": "cn=MyOtherCert",
          "sans": {}
        },
        "issuer": {
  [...]
[...]
