{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.vault.azure.net/certificates/CRUDCertificateName-canupdateacertificatespolicy-/create?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/12345678-1234-1234-1234-123456789012\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer, PoP, or MTLS_POP token."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/certificates/CRUDCertificateName-canupdateacertificatespolicy-/create?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "policy": {
          "key_props": {},
          "secret_props": {},
          "x509_props": {
            "subject": "cn=MyCert",
            "sans": {}
          },
          "issuer": {
            "name": "Self"
          },
          "attributes": {}
        },
        "attributes": {}
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://keyvault_name.vault.azure.net/certificates/CRUDCertificateName-canupdateacertificatespolicy-/pending?api-version=2025-07-01&request_id=101561a38c964bb6870f9f7835e5f383",
        "Retry-After": "10"
      },
      "ResponseBody": {
        "id": "https://keyvault_name.vault.azure.net/certificates/CRUDCertificateName-canupdateacertificatespolicy-/pending",
        "issuer": {
          "name": "Self"
        },
        "csr": "MIICoTCCAYkCAQAwETEPMA0GA1UEAxMGTXlDZXJ0MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEA2hqCr4lWKtHFTyx8YIFu6zZ4X6OhQSM65ig8gURQm5+FCS4u7uQHCLiFXi7VUQqRyc02YYldeBLVx5IRNcNCQ69H6dQBwjbFQbB48ASocUh/TbL/9L/e8B5j2mttKxAR47R5IdqyTEAhoeC9iM2z6w9SPBl1nXNagbB+mtd7/J+bIk9gr3Ne1Bnx9Ow1eSdITV4J0sQ2UUvUySWVOnEF4pqrLKrdRw0b0hEOcauGya9OlXtOFxLieSX/r8LW7hqPtfpANkdPQ+0Cm61GTlqg+2WQAhqq3dr+TI1MwZK0T0rskgwS7gbo/YzZJXTXLRV3oBiAfauEUmiVIas6nUfV7QIDAQABoEswSQYJKoZIhvcNAQkOMTwwOjAOBgNVHQ8BAf8EBAMCBaAwHQYDVR0lBBYwFAYIKwYBBQUHAwEGCCsGAQUFBwMCMAkGA1UdEwQCMAAwDQYJKoZIhvcNAQELBQADggEBAKLfcBzdykUwf8A1ywH8uVdCpRdZXrrjDcXeDVc6GXaLilw032o1/IJthb/DVoyz3qGDn/EmZJ+WZRsaUF4+/Yj9Z5PxbmNMlyvD9kbOd5QMv3l0ZRM+BrctNSqMlR+D7sV6marokk/ntaAwaEvadR8IclAQOMsxKRmFWqr19cRnr561xfLbH1dF5Gpp3S7hAOuAwTY0TbBkmopj7De8uOozMh912yaWCtEzPqVy7iJHySELiKulNZ0xPAmzzhdEy9UyVqOPeFsaGkA3KHO50ImDir3cVTAtgwYK8jspWm5agYLTzFU7SHKwG0Z3ohraV1FTpmZFCAIVuS5BhT4UrM4=",
        "cancellation_requested": false,
        "status": "inProgress",
        "status_details": "Pending certificate created. Certificate request is in progress. This may take some time based on the issuer provider. Please check again later.",
        "request_id": "101561a38c964bb6870f9f7835e5f383"
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/certificates/CRUDCertificateName-canupdateacertificatespolicy-/pending?api-version=2025-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10"
      },
      "ResponseBody": {
        "id": "https://keyvault_name.vault[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/certificates/CRUDCertificateName-canupdateacertificatespolicy-/?api-version=2025-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "id": "https://keyvault_name.vault.azure.net/certificates/CRUDCertificateName-canupdateacertificatespolicy-/99e2dd65b37140c0a638af869a9b7144",
        "attributes": {
          "enabled": false,
          "nbf": 1775446081,
          "exp": 1806982681,
          "created": 1775446681,
          "updated": 1775446681,
          "recoveryLevel": "Recoverable+Purgeable",
          "recoverableDays": 90
        },
        "policy": {
          "id": "https://keyvault_name.vault.azure.net/certificates/CRUDCertificateName-canupdateacertificatespolicy-/policy",
          "key_props": {
            "exportable": true,
            "kty": "RSA",
            "key_size": 2048,
            "reuse_key": false
          },
          "secret_props": {
            "contentType": "application/x-pkcs12"
          },
          "x509_props": {
            "subject": "cn=MyCert",
            "sans": {},
            "ekus": [
              "1.3.6.1.5.5.7.3.1",
              "1.3.6.1.5.5.7.3.2"
            ],
            "key_usage": [
              "digitalSignature",
              "keyEncipherment"
            ],
            "validity_months": 12,
            "basic_constraints": {
              "ca": false
            }
          },
          "lifetime_actions": [
            {
              "trigger": {
                "lifetime_percentage": 80
              },
              "action": {
                "action_type": "AutoRenew"
              }
            }
          ],
          "issuer": {
            "name": "Self"
          },
          "attributes": {
            "enabled": true,
            "created": 1775446681,
            "updated": 1775446681
          }
        },
        "pending": {
          "id": "https://keyvault_name.vault.azure.net/certificates/CRUDCertificateName-canupdateacertificatespolicy-/pending"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/certificates/CRUDCertificateName-canupdateacertificatespolicy-/policy?api-version=2025-07-01",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "key_props": {},
        "secret_props": {},
        "x509_props": {
          "subject": "cn=MyOtherCert",
          "sans": {}
        },
        "issuer": {
     [...]
[...]
