{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.vault.azure.net/certificates/issuers/CRUDCertificateName-cancreatereadanddeleteacertificateissuer-?api-version=2025-07-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/12345678-1234-1234-1234-123456789012\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer, PoP, or MTLS_POP token."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/certificates/issuers/CRUDCertificateName-cancreatereadanddeleteacertificateissuer-?api-version=2025-07-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "provider": "Test",
        "credentials": {
          "account_id": "keyvaultuser"
        },
        "org_details": {
          "admin_details": [
            {
              "first_name": "John",
              "last_name": "Doe",
              "email": "admin@microsoft.com",
              "phone": "4255555555"
            }
          ]
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "id": "https://keyvault_name.vault.azure.net/certificates/issuers/CRUDCertificateName-cancreatereadanddeleteacertificateissuer-",
        "provider": "Test",
        "credentials": {
          "account_id": "keyvaultuser"
        },
        "org_details": {
          "zip": 0,
          "admin_details": [
            {
              "first_name": "John",
              "last_name": "Doe",
              "email": "admin@microsoft.com",
              "phone": "4255555555"
            }
          ]
        },
        "attributes": {
          "enabled": true,
          "created": 1775446674,
          "updated": 1775446674
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/certificates/CRUDCertificateName-cancreatereadanddeleteacertificateissuer-/create?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "policy": {
          "key_props": {},
          "secret_props": {},
          "x509_props": {
            "subject": "cn=MyCert",
            "sans": {}
          },
          "issuer": {
            "name": "CRUDCertificateName-cancreatereadanddeleteacertificateissuer-"
          },
          "attributes": {}
        },
        "attributes": {}
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://keyvault_name.vault.azure.net/certificates/CRUDCertificateName-cancreatereadanddeleteacertificateissuer-/pending?api-version=2025-07-01&request_id=51350467456844228feadd8cc00847a0",
        "Retry-After": "10"
      },
      "ResponseBody": {
        "id": "https://keyvault_name.vault.azure.net/certificates/CRUDCertificateName-cancreatereadanddeleteacertificateissuer-/pending",
        "issuer": {
          "name": "CRUDCertificateName-cancreatereadanddeleteacertificateissuer-"
        },
        "csr": "MIICoTCCAYkCAQAwETEPMA0GA1UEAxMGTXlDZXJ0MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAzZc4uIDKJbZCkWUHTp3unq2R5Y6uIKWqlGcNyTuwV4+0xknP4Y3YrVwKQzPdwX78q+CC1nMpWUARoX8Y9aUZrLKoSpd9OucEeVJxlILg6HlsLh++Um6aBcv+WR0TeVVdP1f4MYzYJflT0u+Z8H89WGLIs+G5+vCTO2SvmpxDxdN6gNgR+iiHZBgsFUfMgOt2UP3MS9+XFWDc6uKaGwUMj8ZNWWMnbmaFTHnFBJAKj61lae7ThzNn51/FGvR72uNjYa6NQtJZfGLKTf2/bi6mMd1cO1sJEdr2olgbmquC7wY1AwtoQLd1+rrVIdHEmTVaug1GcG9MrtaOJuj5KedXXQIDAQABoEswSQYJKoZIhvcNAQkOMTwwOjAOBgNVHQ8BAf8EBAMCBaAwHQYDVR0lBBYwFAYIKwYBBQUHAwEGCCsGAQUFBwMCMAkGA1UdEwQCMAAwDQYJKoZIhvcNAQELBQADggEBAJ+mX3Nr+MgtWFB76sozIPxSyPv64nTlKb1FwNXwigJY55FoeJvr3r3gXl945mfwRnKJLxeu8W13StEVq9/uwRofHpoqmiQuWY8ASmUd1rHFRWdh3xVBGF1hT0DRQQq9fhTOyccMrH5HWzlWS6wMIpWwxtMZNWkt44pES8svp8/i4SbCpkAWjMXwyDd5m3gZDDEJX0mihzPuINxXIo04Hz+ssd5L+YH/P3prdGE9FuKt+s30GS7yVJHh4/9ag0rbd+ERs5Cod7P+NEUsvQSMjHgsahGVgtvhweIfvCofiZW2+sj84xoAEmHYyJBOHLw9xdq1Q2OY4r9E3FKF+MQTk7E=",
        "cancellation_requested": false,
        "status": "inProgress",
        "status_details": "Pending certificate created. Certificate request is in progress. This may take some time based on the issuer provider. Please check again later.",
        "request_id": "51350467456844228feadd8cc00847a0"
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/certificates/CRUDCertificateName-cancreatereadanddeleteacertificateissuer-/pending?api-version=2025-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10"
      },
      "ResponseBody": {
        "id": "https://keyvaul[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/certificates/CRUDCertificateName-cancreatereadanddeleteacertificateissuer-/?api-version=2025-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "id": "https://keyvault_name.vault.azure.net/certificates/CRUDCertificateName-cancreatereadanddeleteacertificateissuer-/fd46c7aa9a5a434eb48c35798b50640f",
        "attributes": {
          "enabled": false,
          "nbf": 1775446074,
          "exp": 1806982674,
          "created": 1775446674,
          "updated": 1775446674,
          "recoveryLevel": "Recoverable+Purgeable",
          "recoverableDays": 90
        },
        "policy": {
          "id": "https://keyvault_name.vault.azure.net/certificates/CRUDCertificateName-cancreatereadanddeleteacertificateissuer-/policy",
          "key_props": {
            "exportable": true,
            "kty": "RSA",
            "key_size": 2048,
            "reuse_key": false
          },
          "secret_props": {
            "contentType": "application/x-pkcs12"
          },
          "x509_props": {
            "subject": "cn=MyCert",
            "sans": {},
            "ekus": [
              "1.3.6.1.5.5.7.3.1",
              "1.3.6.1.5.5.7.3.2"
            ],
            "key_usage": [
              "digitalSignature",
              "keyEncipherment"
            ],
            "validity_months": 12,
            "basic_constraints": {
              "ca": false
            }
          },
          "lifetime_actions": [
            {
              "trigger": {
                "lifetime_percentage": 80
              },
              "action": {
                "action_type": "AutoRenew"
              }
            }
          ],
          "issuer": {
            "name": "CRUDCertificateName-cancreatereadanddeleteacertificateissuer-"
          },
          "attributes": {
            "enabled": true,
            "created": 1775446674,
            "updated": 1775446674
          }
        },
        "pending": {
          "id": "https://keyvault_name.vault.azure.net/certificates/CRUDCertificateName-cancreatereadanddeleteacertificateissuer-/pending"
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/certificates/issuers/CRUDCertificateName-cancreatereadanddeleteacertificateissuer-?api-version=2025-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "CertificateIssuerNotFound",
          "message": "Issuer not found"
        }
      }
    }
  ],
  "Variables": {}
}
