{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.vault.azure.net/certificates/crudcertoperation-241/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer, PoP, or MTLS_POP token."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/certificates/crudcertoperation-241/create?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "policy": {
          "key_props": {},
          "secret_props": {},
          "x509_props": {
            "subject": "cn=MyCert",
            "sans": {}
          },
          "issuer": {
            "name": "Self"
          },
          "attributes": {}
        },
        "attributes": {}
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://keyvault_name.vault.azure.net/certificates/crudcertoperation-241/pending?api-version=7.6&request_id=37c8dc7e669a4caea63eee76c8142077",
        "Retry-After": "10"
      },
      "ResponseBody": {
        "id": "https://keyvault_name.vault.azure.net/certificates/crudcertoperation-241/pending",
        "issuer": {
          "name": "Self"
        },
        "csr": "MIICoTCCAYkCAQAwETEPMA0GA1UEAxMGTXlDZXJ0MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEA6iE3jvxxG8AE67h5uULx3eOjUt/S1sOTopZ6KEHDMRsBFDBBmc3ALwpMlOg3bjV5MhkdpKv0HCvZn26nfCN+Q4D7UBOX85AqgaFOyXDZg4yrN5UoGf6oQD8Qd5bk1/dmq+emdRfNhiSC3yMabL4KpTQztX9r0PYRSv/j+52Fs24X41EDJg9q9AL+Nbasq6bFJHxLAIKmYjP1S/kkAcsx7jIVQmJBe3RFOrPR1ou21QsP4x6wWeYPSHAVZImsysM0taVl8oIk4+OWBAicdeY0We1wRwWcDdSeKYb2ffzARomm+b4eyunAZiF68Q2WcepcfgMtRfqdIX+vx7ZR9PWZGQIDAQABoEswSQYJKoZIhvcNAQkOMTwwOjAOBgNVHQ8BAf8EBAMCBaAwHQYDVR0lBBYwFAYIKwYBBQUHAwEGCCsGAQUFBwMCMAkGA1UdEwQCMAAwDQYJKoZIhvcNAQELBQADggEBAOmjow1DUQlhiamAH5rI5uSCg5JUxVz89F3G5IOtR5IMzGvLpkkNQmSLNdhoDbG23qae9TSmU1fLFLduyIY2xF2BzZQVkkFdpnipO9yTlH3PzbiKDRBHSFEkGtDXTQEXYdRndvkZUQn/xmPvWqxkCVTR2aad+lTU9LRfNYMooZ0OwxR/0xKB+uP/pSEEojbn/koszt5rVBdTDN9CbuOt8gUEMvjeLeX5x3A2IeDDNa5RuyD12h++JOxIOHLQqkIeEQyJv1zpLQy16g64pl2pxXKj6DtKWlP/jdE2HAtyd0tvbOcjccQdp6nMhdCMSgWRpZaqcHq+ZTVXy4nw0izC3wM=",
        "cancellation_requested": false,
        "status": "inProgress",
        "status_details": "Pending certificate created. Certificate request is in progress. This may take some time based on the issuer provider. Please check again later.",
        "request_id": "37c8dc7e669a4caea63eee76c8142077"
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/certificates/crudcertoperation-241/pending?api-version=7.6",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10"
      },
      "ResponseBody": {
        "id": "https://keyvault_name.vault.azure.net/certificates/crudcertope[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/certificates/crudcertoperation-241/?api-version=7.6",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "id": "https://keyvault_name.vault.azure.net/certificates/crudcertoperation-241/b17b720a8c1f473aad634119665521ac",
        "attributes": {
          "enabled": false,
          "nbf": 1774286979,
          "exp": 1805823579,
          "created": 1774287579,
          "updated": 1774287579,
          "recoveryLevel": "Recoverable+Purgeable",
          "recoverableDays": 90
        },
        "policy": {
          "id": "https://keyvault_name.vault.azure.net/certificates/crudcertoperation-241/policy",
          "key_props": {
            "exportable": true,
            "kty": "RSA",
            "key_size": 2048,
            "reuse_key": false
          },
          "secret_props": {
            "contentType": "application/x-pkcs12"
          },
          "x509_props": {
            "subject": "cn=MyCert",
            "sans": {},
            "ekus": [
              "1.3.6.1.5.5.7.3.1",
              "1.3.6.1.5.5.7.3.2"
            ],
            "key_usage": [
              "digitalSignature",
              "keyEncipherment"
            ],
            "validity_months": 12,
            "basic_constraints": {
              "ca": false
            }
          },
          "lifetime_actions": [
            {
              "trigger": {
                "lifetime_percentage": 80
              },
              "action": {
                "action_type": "AutoRenew"
              }
            }
          ],
          "issuer": {
            "name": "Self"
          },
          "attributes": {
            "enabled": true,
            "created": 1774287579,
            "updated": 1774287579
          }
        },
        "pending": {
          "id": "https://keyvault_name.vault.azure.net/certificates/crudcertoperation-241/pending"
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/certificates/crudcertoperation-241/pending?api-version=7.6",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "PendingCertificateNotFound",
          "message": "Pending Certificate not found: crudcertoperation-241"
        }
      }
    }
  ],
  "Variables": {
    "crudcertoperation": "crudcertoperation-241"
  }
}
