{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.vault.azure.net/certificates/CRUDCertificateName-canretrievethelatestversionofacertificatevalue-/create?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/12345678-1234-1234-1234-123456789012\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer, PoP, or MTLS_POP token."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/certificates/CRUDCertificateName-canretrievethelatestversionofacertificatevalue-/create?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "policy": {
          "key_props": {},
          "secret_props": {},
          "x509_props": {
            "subject": "cn=MyCert",
            "sans": {}
          },
          "issuer": {
            "name": "Self"
          },
          "attributes": {}
        },
        "attributes": {}
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://keyvault_name.vault.azure.net/certificates/CRUDCertificateName-canretrievethelatestversionofacertificatevalue-/pending?api-version=2025-07-01&request_id=1d944cd77acb473aadd408a5e96fe6e4",
        "Retry-After": "10"
      },
      "ResponseBody": {
        "id": "https://keyvault_name.vault.azure.net/certificates/CRUDCertificateName-canretrievethelatestversionofacertificatevalue-/pending",
        "issuer": {
          "name": "Self"
        },
        "csr": "MIICoTCCAYkCAQAwETEPMA0GA1UEAxMGTXlDZXJ0MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEA6WOP3DQfP3gSP/RKNxTR6aHr1wNq2WRv8oOoCVsdyxoTsh1zdXliLd09m94kXlajPqhNfuyD1Fe/vKJwi46+8RWO3QrprF9BPEvSzrsbiXrop0yJ2xN+O0m1naRiaTjyOjHEYiDqDhKvopqr5hJ4REX31djn5iobZap0zs/4ZJ4KavhdDNpfZIExvOHASJW/lsR0WRUTbgRuqF416tGfLO/qcgJlHk9GBbJhlS9xxxvibuNHiB1xIcm8IGLfvMHpciS+WwXtAh9ITe+b2WATHPzyich4QfyoThzCutkzLvgmxpBseCiefHtxO5J3Js52GK0k2I75bBEzmq2ox6X4kQIDAQABoEswSQYJKoZIhvcNAQkOMTwwOjAOBgNVHQ8BAf8EBAMCBaAwHQYDVR0lBBYwFAYIKwYBBQUHAwEGCCsGAQUFBwMCMAkGA1UdEwQCMAAwDQYJKoZIhvcNAQELBQADggEBADGKRSKl6/8DXFPJZGg1DlnSWpRARiDGuCbg60wsGI9uxVtmeNGWgLnpSVA5le1zVpfSXhYmJR30BcIlJjgNhqhwg3gc1W9jFPYfj5Y4kkDz/dZ49KhQh2R/g4lT7kUsXTa6sGDEDcjBM87A02u1FEaAaUveVxjMyN5+8R1dkgxluXZ7kpqdhSfJkNjBxpgDH19HgEN5q87/zdgekVkFhdCatcIp+13+Hr8VyrkPe8cxC9aPlLbI435nAdoJFfetFLipz8kn/f4Qdg005Pke6uTgjR67WJ7rEQn5rdJo3Wahc3yn30b4nrjK1We3SUWzvfp2OXfgc4FMxPIskVzEftY=",
        "cancellation_requested": false,
        "status": "inProgress",
        "status_details": "Pending certificate created. Certificate request is in progress. This may take some time based on the issuer provider. Please check again later.",
        "request_id": "1d944cd77acb473aadd408a5e96fe6e4"
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/certificates/CRUDCertificateName-canretrievethelatestversionofacertificatevalue-/pending?api-version=2025-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10"
      },
      "ResponseBody": {
        "id": "https://k[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/certificates/CRUDCertificateName-canretrievethelatestversionofacertificatevalue-/?api-version=2025-07-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "id": "https://keyvault_name.vault.azure.net/certificates/CRUDCertificateName-canretrievethelatestversionofacertificatevalue-/f66e382c5a8848aeaea6919449a5e2c4",
        "attributes": {
          "enabled": false,
          "nbf": 1777137567,
          "exp": 1808674167,
          "created": 1777138168,
          "updated": 1777138168,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7
        },
        "policy": {
          "id": "https://keyvault_name.vault.azure.net/certificates/CRUDCertificateName-canretrievethelatestversionofacertificatevalue-/policy",
          "key_props": {
            "exportable": true,
            "kty": "RSA",
            "key_size": 2048,
            "reuse_key": false
          },
          "secret_props": {
            "contentType": "application/x-pkcs12"
          },
          "x509_props": {
            "subject": "cn=MyCert",
            "sans": {},
            "ekus": [
              "1.3.6.1.5.5.7.3.1",
              "1.3.6.1.5.5.7.3.2"
            ],
            "key_usage": [
              "digitalSignature",
              "keyEncipherment"
            ],
            "validity_months": 12,
            "basic_constraints": {
              "ca": false
            }
          },
          "lifetime_actions": [
            {
              "trigger": {
                "lifetime_percentage": 80
              },
              "action": {
                "action_type": "AutoRenew"
              }
            }
          ],
          "issuer": {
            "name": "Self"
          },
          "attributes": {
            "enabled": true,
            "created": 1777138168,
            "updated": 1777138168
          }
        },
        "pending": {
          "id": "https://keyvault_name.vault.azure.net/certificates/CRUDCertificateName-canretrievethelatestversionofacertificatevalue-/pending"
        }
      }
    }
  ],
  "Variables": {}
}
