{
  "Entries": [
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-7278a33f-7897-18c2-7299-683e3b82e6c1?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 01:27:51 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC86910CFCFA9B\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:27:52 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-99c514d8-f3df-37f3-b564-6852d255a144/test-blob-1572574f-f999-224f-4be6-bbe628a6cb39",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 07 Jun 2024 01:27:51 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "YuzFj4xAOGDOKxBK40Wr7hF3XICkJZh/o68SbGHTqwtPUBNSHNMD250zyyt3NpydvA5U/Ak/yjxTRevdLcz/+oAF+pIyWdE+c4DjcFptCGwSdLBSfq8BEIbW/tfnJq3RNNCqcjwKa2I8FoiJXFni5j1+yrkbrXzRA+oMW1v6V03TETyJwpYwCAlNFWgmeLMs8xeZaFv0tYdU2W5R/Q8HQr47tUodWSOmTsGvzpcTqos24GhDYe7x31y0NOgn3wr5RtOp6sJpD5rz8hqZROfvQS/jGx2nw+DQStbuaCQ7f262tofEab/IzdDNT27UV5p0xfO5RMPtUYLy2aDseqd2uHOr4o5fK9dvG05M2nNy+/I7[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-7278a33f-7897-18c2-7299-683e3b82e6c1/test-blob-4c09b336-4018-ada3-44c3-d4ac412f2a9f",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-content-type": "text/plain",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Fri, 07 Jun 2024 01:27:51 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC86910D256E7F\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:27:52 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-06-07T01:27:52.8704639Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-7278a33f-7897-18c2-7299-683e3b82e6c1/test-blob-4c09b336-4018-ada3-44c3-d4ac412f2a9f?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Fri, 07 Jun 2024 01:27:51 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "vQXtg4NAfFQRs4QfdSyzF+locQys8WgrwJGK0ZLlRJe7PWxz7tFDwWqZQlAFR1xlYwhbG0nc78ycwsPytarBLG/tYze/PygXJa+hEq4YJnk0JW6KiihO3k2g1ysOUAzA1xbhF+QkpSPfQ/aZO90dg5xKvZA8N6FGn4TqH2j9CNSj4TuXNw6VD39KqkYytKNwglOPxJN7hKB0mndfOoW74jsh9VqihUyNta0Q8YxbFOrheZ0UbUNBKFyaI5yWNdX6jsgLEL9IzvwGAQ/la5ITGYaMfcDopnT33839B2Kv9n/YFmLETwMrmKugDmw0XLzKhwkWCbgUEehTEzHyS8eaVwqQDVUwTsqCYeQVR5gIw4MQM39ZmezGwwR6cDvSOE3kBrdho09nmjg+k6jT/8lPS1Ct4RhHQL0[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-7278a33f-7897-18c2-7299-683e3b82e6c1/test-blob-4c09b336-4018-ada3-44c3-d4ac412f2a9f?sv=Sanitized&se=2024-06-08T01%3A27%3A51Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Type": "text/plain",
        "ETag": "\"0x8DC86910D31A275\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:27:52 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Fri, 07 Jun 2024 01:27:52 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-06-07T01:27:52.8704639Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-99c514d8-f3df-37f3-b564-6852d255a144/test-blob-1572574f-f999-224f-4be6-bbe628a6cb39?sv=Sanitized&se=2024-06-08T01%3A27%3A51Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://seancanary.blob.core.windows.net/test-container-7278a33f-7897-18c2-7299-683e3b82e6c1/test-blob-4c09b336-4018-ada3-44c3-d4ac412f2a9f?sv=Sanitized&se=2024-06-08T01%3A27%3A51Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 409,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "BlobAlreadyExists",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>BlobAlreadyExists</Code><Message>The specified blob already exists.\n",
        "RequestId:dc74c733-d01e-00de-2d79-b8e2c7000000\n",
        "Time:2024-06-07T01:27:53.4630743Z</Message></Error>"
      ]
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-99c514d8-f3df-37f3-b564-6852d255a144/test-blob-1572574f-f999-224f-4be6-bbe628a6cb39?sv=Sanitized&se=2024-06-08T01%3A27%3A51Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "lhJ64dsWohPpXnQE+DUDaw==",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC86910D193A85\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:27:52 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 07 Jun 2024 01:27:52 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-06-07T01:27:52.7904901Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-99c514d8-f3df-37f3-b564-6852d255a144/test-blob-1572574f-f999-224f-4be6-bbe628a6cb39?sv=Sanitized&se=2024-06-08T01%3A27%3A51Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DC86910D193A85\"",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC86910D193A85\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:27:52 GMT",
        "x-ms-blob-content-md5": "lhJ64dsWohPpXnQE+DUDaw==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 07 Jun 2024 01:27:52 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-06-07T01:27:52.7904901Z"
      },
      "ResponseBody": "YuzFj4xAOGDOKxBK40Wr7hF3XICkJZh/o68SbGHTqwtPUBNSHNMD250zyyt3NpydvA5U/Ak/yjx[...]
[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-7278a33f-7897-18c2-7299-683e3b82e6c1?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 01:27:52 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-06-06T20:27:51.2925923-05:00",
    "RandomSeed": "1703214077",
    "Storage_TestConfigDefault": "ProductionTenant\nseancanary\nU2FuaXRpemVk\nhttps://seancanary.blob.core.windows.net\nhttps://seancanary.file.core.windows.net\nhttps://seancanary.queue.core.windows.net\nhttps://seancanary.table.core.windows.net\n\n\n\n\nhttps://seancanary-secondary.blob.core.windows.net\nhttps://seancanary-secondary.file.core.windows.net\nhttps://seancanary-secondary.queue.core.windows.net\nhttps://seancanary-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seancanary.blob.core.windows.net/;QueueEndpoint=https://seancanary.queue.core.windows.net/;FileEndpoint=https://seancanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seancanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seancanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seancanary-secondary.file.core.windows.net/;AccountName=seancanary;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
