{
  "Entries": [
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-6c5ff316-e13c-0e8d-5a33-98dd9c924ca7?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 01:27:31 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8691015E061C\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:27:33 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-b72dfa0c-c367-0a93-9ae7-e74c083d60e8/test-blob-5719e263-ede3-3254-936e-64ef4222c909",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 07 Jun 2024 01:27:31 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "vufqZ3EaBD65/KAhJwMvSGd/T5/q2mGX79xMOlzeMjDDCSSwOt1CwrrCDZt/8sUwS+55NmnSzeSFU3eUzsrh2spwXR3efg2KPIzkJ8zFF/wXHO5tZfvH8DtAK+dlrfTw4DPQD5WnUczh7/nc7qYXvzt7fbLbdHTOqWzinVMmJI+Y9EaZ9Ahnb8oijHYC6gKVKGus6jBCFGy+AWYoxLR4uspqRPlffsoyEw3nuej+zL5qTXToejleVd/a2vOhP6oWqdGrmKYINaqgedYiWluDwDWnvnc/kECRC+4ahKTXkNRi0RAWUzMYYRfKSAFiO/uDVxq9+oAz1xmRGoy47bAFyOgCwIlLbG0Bj1xfdEg+Ls/y[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-6c5ff316-e13c-0e8d-5a33-98dd9c924ca7/test-blob-061e1eb5-d367-758e-d953-289bf64c1f54",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-content-type": "text/plain",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Fri, 07 Jun 2024 01:27:31 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC869101840F0E\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:27:33 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-06-07T01:27:33.3589528Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-6c5ff316-e13c-0e8d-5a33-98dd9c924ca7/test-blob-061e1eb5-d367-758e-d953-289bf64c1f54?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Fri, 07 Jun 2024 01:27:31 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "5vY1A++z5e5h6LyGYdCt6PKXYNJ5wzzEg6R19tk8porfKI+wb8vQhtRCwNt8kMu7S57a1HvSDSK5cH9LPu4VJEIxpzlB/Hknxtr9NwNhR/PYuas7YdIPDBps9v9LhUjlLJuZS+mSek8lsw2g1NUfWCiMc4RD2sJwIZoe1QV520GSFwtnyPwKRj9bFa7EbzhFTZ7XvhHDolLYKSlOc6RJq9fMDbzKt48rgi1F6MQUq7Ji2YhmohwvznW4j5/Su9KaEWnW+GF7e5UOqzzkfrqOw3137Joc4wm7nD9HEijwWMZaq9ZaPrNQ5l3yWPbgS1C7KssiW844fS5gGlsiM2lsHlJ2idLjM4TKJwU8KYoS2lDujOddzv33Ii2n+SNXLrP0hjqjacJ+1/ZGVzTJ+1OkTj8LNKeBD09[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-6c5ff316-e13c-0e8d-5a33-98dd9c924ca7/test-blob-061e1eb5-d367-758e-d953-289bf64c1f54?sv=Sanitized&se=2024-06-08T01%3A27%3A31Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Type": "text/plain",
        "ETag": "\"0x8DC86910190911B\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:27:33 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Fri, 07 Jun 2024 01:27:33 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-06-07T01:27:33.3589528Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-b72dfa0c-c367-0a93-9ae7-e74c083d60e8/test-blob-5719e263-ede3-3254-936e-64ef4222c909?sv=Sanitized&se=2024-06-08T01%3A27%3A31Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://seancanary.blob.core.windows.net/test-container-6c5ff316-e13c-0e8d-5a33-98dd9c924ca7/test-blob-061e1eb5-d367-758e-d953-289bf64c1f54?sv=Sanitized&se=2024-06-08T01%3A27%3A31Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC869101B5540B\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:27:33 GMT",
        "x-ms-content-crc64": "riPl69GdiY4=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-06-07T01:27:33.6818459Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-b72dfa0c-c367-0a93-9ae7-e74c083d60e8/test-blob-5719e263-ede3-3254-936e-64ef4222c909?sv=Sanitized&se=2024-06-08T01%3A27%3A31Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-MD5": "hL+WYnssRXTZGm1Ywu0WYw==",
        "Content-Type": "text/plain",
        "ETag": "\"0x8DC869101B5540B\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:27:33 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 07 Jun 2024 01:27:33 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-06-07T01:27:33.6818459Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-6c5ff316-e13c-0e8d-5a33-98dd9c924ca7/test-blob-061e1eb5-d367-758e-d953-289bf64c1f54?sv=Sanitized&se=2024-06-08T01%3A27%3A31Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DC86910190911B\"",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "text/plain",
        "ETag": "\"0x8DC86910190911B\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:27:33 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Fri, 07 Jun 2024 01:27:33 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
  [...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-b72dfa0c-c367-0a93-9ae7-e74c083d60e8/test-blob-5719e263-ede3-3254-936e-64ef4222c909?sv=Sanitized&se=2024-06-08T01%3A27%3A31Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DC869101B5540B\"",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "text/plain",
        "ETag": "\"0x8DC869101B5540B\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:27:33 GMT",
        "x-ms-blob-content-md5": "hL+WYnssRXTZGm1Ywu0WYw==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 07 Jun 2024 01:27:33 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id"[...]
[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-6c5ff316-e13c-0e8d-5a33-98dd9c924ca7?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 01:27:32 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-06-06T20:27:31.7781597-05:00",
    "RandomSeed": "1113139419",
    "Storage_TestConfigDefault": "ProductionTenant\nseancanary\nU2FuaXRpemVk\nhttps://seancanary.blob.core.windows.net\nhttps://seancanary.file.core.windows.net\nhttps://seancanary.queue.core.windows.net\nhttps://seancanary.table.core.windows.net\n\n\n\n\nhttps://seancanary-secondary.blob.core.windows.net\nhttps://seancanary-secondary.file.core.windows.net\nhttps://seancanary-secondary.queue.core.windows.net\nhttps://seancanary-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seancanary.blob.core.windows.net/;QueueEndpoint=https://seancanary.queue.core.windows.net/;FileEndpoint=https://seancanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seancanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seancanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seancanary-secondary.file.core.windows.net/;AccountName=seancanary;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
