{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-d612bc67-ba59-a300-91dc-693280b4b57f?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 27 Mar 2024 23:06:49 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4EB2961139B8\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 23:06:50 GMT",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-d612bc67-ba59-a300-91dc-693280b4b57f/test-blob-6da2abad-bc62-857a-83f9-cfe4cb3e900c",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-content-length": "2048",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Wed, 27 Mar 2024 23:06:49 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4EB2963723BC\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 23:06:51 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-03-27T23:06:51.1119047Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-d612bc67-ba59-a300-91dc-693280b4b57f/test-blob-6da2abad-bc62-857a-83f9-cfe4cb3e900c?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 27 Mar 2024 23:06:49 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-2047",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": "Lf/zLnjO4Siqcx/2EnrCwkG1Pw8slTUgGESGUeC/ustlqAQdzL3c7gFquc7L4YvJiQvq\u002B/LTjpjK0hUzR5BH67hUkGl1pfWE2FEOwttmVTe5vcjU1b7YkhpsU/mnqKZxIs4VdlAhU\u002BMWZiOhxcy8Y33deorHcxb6e/5PCVH73C\u002BqnKANUd7nl2rkvm\u002BbN81Nr/B8yS4cqa\u002B4G/pR0kmSGonz9igsrxKe9uIg47SnXkQxAVphfxIAjvLwVTXklsUgUqTlqECkIQDd3dNM/Mb6ELy2H9DvMJt28mg1O1ncumAc/5EQwbYDjeBZg6E/tJIs9UR5Lnb1MCEIbrXXbuamASNzL/w16k8GspLvla36Nz3WCEUVY4zpJs5vB1IBLB76s4J9zI[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-d612bc67-ba59-a300-91dc-693280b4b57f/test-blob-6da2abad-bc62-857a-83f9-cfe4cb3e900c?sv=2024-05-04\u0026se=2024-03-28T23%3A06%3A49Z\u0026sr=b\u0026sp=Sanitized\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC4EB2964726FE\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 23:06:51 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Wed, 27 Mar 2024 23:06:51 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-03-27T23:06:51.1119047Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-103a16d2-6a84-1f41-f800-9bfc96e79f0d/test-blob-c771a327-b0a2-9fc2-b3f8-ed20dca5182e?sv=2024-05-04\u0026se=2024-03-28T23%3A06%3A49Z\u0026sr=b\u0026sp=Sanitized\u0026sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "Sanitized",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4EB29674C01D\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 23:06:51 GMT",
        "x-ms-content-crc64": "9ecDiXH8RGk=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-03-27T23:06:51.5156777Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-103a16d2-6a84-1f41-f800-9bfc96e79f0d/test-blob-c771a327-b0a2-9fc2-b3f8-ed20dca5182e?sv=2024-05-04\u0026se=2024-03-28T23%3A06%3A49Z\u0026sr=b\u0026sp=Sanitized\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "NunKgaC6tfyQUp0qmHOP2A==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC4EB29674C01D\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 23:06:51 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 27 Mar 2024 23:06:51 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-03-27T23:06:51.5156777Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-d612bc67-ba59-a300-91dc-693280b4b57f/test-blob-6da2abad-bc62-857a-83f9-cfe4cb3e900c?sv=2024-05-04\u0026se=2024-03-28T23%3A06%3A49Z\u0026sr=b\u0026sp=Sanitized\u0026sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\u00220x8DC4EB2964726FE\u0022",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-2047/2048",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC4EB2964726FE\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 23:06:51 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Wed, 27 Mar 2024 23:06:51 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-103a16d2-6a84-1f41-f800-9bfc96e79f0d/test-blob-c771a327-b0a2-9fc2-b3f8-ed20dca5182e?sv=2024-05-04\u0026se=2024-03-28T23%3A06%3A49Z\u0026sr=b\u0026sp=Sanitized\u0026sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\u00220x8DC4EB29674C01D\u0022",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-2047/2048",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC4EB29674C01D\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 23:06:51 GMT",
        "x-ms-blob-content-md5": "NunKgaC6tfyQUp0qmHOP2A==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 27 Mar 2024 23:06:51 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-03-27T23:06:51.5156777Z"
      },
      "ResponseBody": "Lf/zLnjO4Siqcx/2EnrCwkG1Pw8slTUgGESGUeC/ustlqAQdzL3c7gFquc7L4YvJiQvq\u002B/[...]
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-d612bc67-ba59-a300-91dc-693280b4b57f?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 27 Mar 2024 23:06:50 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-03-27T16:06:49.8444928-07:00",
    "RandomSeed": "550790901",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
