{
  "Entries": [
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-eddeba04-2777-acb8-bc5a-039f727aeb35?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 01:27:35 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC869103C3FD95\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:27:37 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-360bc548-b2c4-86bd-e93a-df1111a0117e/test-blob-0bbad435-c6a1-92f5-2cc5-28e27dfb5b80",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 07 Jun 2024 01:27:35 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "C1fraFr7Joh1NhW77bNHgLMSDI96R+J+5XyINY59BQbB1XMYjiyeLlqTflHXVo9B+AW1aSDhRMN1bIPec/H69zAP+hdAL/KHdN4158mRpo7sRjyJyJzm4JGvoiGpwLppmYcgyFx4AckSLvRBq1365Mb08Sy0cC+UKRmFkIzR3bMkzE1BcN4xdERzdpqnpDQ0tb5btM+NtChXjJ9C8nE8QVBBHd8PuHPnwnznQfmV7YTkUNrNdijjlhcl6uQ+74HTNjVJZYdVJfxKc/JSpXMuwZ4bXqGWb8snXYfI6c2PqNP7FArDTIf8jyveggI2kfCk9ilFI5DfPcdqIQgAjDwuu8oeV5FpanQXHs52t+zI8MyW[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-eddeba04-2777-acb8-bc5a-039f727aeb35/test-blob-cabb5170-66f1-9d61-b6f4-19c7d9f97f58",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-content-type": "text/plain",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Fri, 07 Jun 2024 01:27:35 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC869103F0465E\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:27:37 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-06-07T01:27:37.4226014Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-eddeba04-2777-acb8-bc5a-039f727aeb35/test-blob-cabb5170-66f1-9d61-b6f4-19c7d9f97f58?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Fri, 07 Jun 2024 01:27:35 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "xO3EhFt6r4WZI9TUBrCIyc7KkFuuEXCfEFF9pegCZZbTsuTGtvkFmz3Bn1EYUbyYckWsmI87VbJ8JXMJ/Qqdl709AFPLwhLVxfUd7XIfh76U5TKjVcwHl1wxSZGF+54zJAeT2lBozLAy1tOaHmg/XZ20dBjX+UHwNmn3mniAUMpW6shri61uLBiCcX/5bHn08ev00IaFWyrFo6PncTI4sYYIQzOf1NLwRkj/VYjC9snwAqiMjH9E0I6dpugJh7rmSr/58SlFVR0ZBIk9hQWiAqza92+KqyUGxHKlAS3p5r+NGQvJyQWgqq2Kcoj1BkqJ+6M7L49LXJ6Z8iy2oFPvLx3Kr2z52TmnOkzC/zidEL4nGwaKrrcvQr1tL9bZ6QpZmkJqK1bejyFqk/VDiVxl/OJtj4RMZYF[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-eddeba04-2777-acb8-bc5a-039f727aeb35/test-blob-cabb5170-66f1-9d61-b6f4-19c7d9f97f58?sv=Sanitized&se=2024-06-08T01%3A27%3A35Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Type": "text/plain",
        "ETag": "\"0x8DC869103FE00D1\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:27:37 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Fri, 07 Jun 2024 01:27:37 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-06-07T01:27:37.4226014Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-360bc548-b2c4-86bd-e93a-df1111a0117e/test-blob-0bbad435-c6a1-92f5-2cc5-28e27dfb5b80?sv=Sanitized&se=2024-06-08T01%3A27%3A35Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://seancanary.blob.core.windows.net/test-container-eddeba04-2777-acb8-bc5a-039f727aeb35/test-blob-cabb5170-66f1-9d61-b6f4-19c7d9f97f58?sv=Sanitized&se=2024-06-08T01%3A27%3A35Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 409,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "BlobAlreadyExists",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>BlobAlreadyExists</Code><Message>The specified blob already exists.\n",
        "RequestId:dc74b7a8-d01e-00de-7179-b8e2c7000000\n",
        "Time:2024-06-07T01:27:37.7171900Z</Message></Error>"
      ]
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-360bc548-b2c4-86bd-e93a-df1111a0117e/test-blob-0bbad435-c6a1-92f5-2cc5-28e27dfb5b80?sv=Sanitized&se=2024-06-08T01%3A27%3A35Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "EIAknPCkKJ8WsIU5tl6a1w==",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC869103DF7EEB\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:27:37 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 07 Jun 2024 01:27:37 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-06-07T01:27:37.3126379Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-360bc548-b2c4-86bd-e93a-df1111a0117e/test-blob-0bbad435-c6a1-92f5-2cc5-28e27dfb5b80?sv=Sanitized&se=2024-06-08T01%3A27%3A35Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DC869103DF7EEB\"",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC869103DF7EEB\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:27:37 GMT",
        "x-ms-blob-content-md5": "EIAknPCkKJ8WsIU5tl6a1w==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 07 Jun 2024 01:27:37 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-06-07T01:27:37.3126379Z"
      },
      "ResponseBody": "C1fraFr7Joh1NhW77bNHgLMSDI96R+J+5XyINY59BQbB1XMYjiyeLlqTflHXVo9B+AW1aSDhRMN[...]
[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-eddeba04-2777-acb8-bc5a-039f727aeb35?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 01:27:36 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-06-06T20:27:35.8157436-05:00",
    "RandomSeed": "723701545",
    "Storage_TestConfigDefault": "ProductionTenant\nseancanary\nU2FuaXRpemVk\nhttps://seancanary.blob.core.windows.net\nhttps://seancanary.file.core.windows.net\nhttps://seancanary.queue.core.windows.net\nhttps://seancanary.table.core.windows.net\n\n\n\n\nhttps://seancanary-secondary.blob.core.windows.net\nhttps://seancanary-secondary.file.core.windows.net\nhttps://seancanary-secondary.queue.core.windows.net\nhttps://seancanary-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seancanary.blob.core.windows.net/;QueueEndpoint=https://seancanary.queue.core.windows.net/;FileEndpoint=https://seancanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seancanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seancanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seancanary-secondary.file.core.windows.net/;AccountName=seancanary;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
