{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-e3e75a29-0dfc-1a15-edbd-d40a969c7d6d?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 30 Sep 2025 20:56:06 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE0063C65355E4\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:56:06 GMT",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-e3e75a29-0dfc-1a15-edbd-d40a969c7d6d/test-blob-6efefe6f-03a3-3c6c-cd0e-a0cd1e21789b",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Tue, 30 Sep 2025 20:56:06 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE0063C66CB680\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:56:06 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-e3e75a29-0dfc-1a15-edbd-d40a969c7d6d/test-blob-6efefe6f-03a3-3c6c-cd0e-a0cd1e21789b?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 30 Sep 2025 20:56:06 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": "Fwnv+3dI3KF7sMYOO6EJ86OSEePfUViAtBpe3iOfCKKNkf2XgbXVtsDAN5hcOUMIkp20qVmM8MWxbkdd6v5+3KgkgamkcnLuvVsjHhm/JHrWVUuF6l5IAaA35RJtd8zBQVvwN7iZZCArxuz+aNGs8krMhpSy+PFJ24AIbIxfgUWOYdy+zuzCPPArWiRySpjPi/LIoPA3D0lqp1w4kfiTy0Wmbwf07SRdCkqkh53M15HnOeCal+BUV1KTVCeQiav3l4/fy9qQ2p7OapamkoerndDKUFcY+TNkURe1YZn9zYCerO8O7Qu2V15Byy1JrsTK57dXxTlT355bennD23kF0ZwWB+aXnK/EFPn41i0GG6NS6nnhpQhHS81Rs3OR83vlPPqQM6beM0sHkrA/WghxVV/WcPD/Iyu[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-e3e75a29-0dfc-1a15-edbd-d40a969c7d6d/test-blob-6efefe6f-03a3-3c6c-cd0e-a0cd1e21789b?sv=Sanitized&se=2025-10-01T20%3A56%3A06Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DE0063C675D3FF\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:56:06 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Tue, 30 Sep 2025 20:56:06 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-668a9450-5c6b-8b3e-f7b0-1b6ee2c7508d/test-blob-172b2ce8-1bc9-bbb7-9ab8-38d5a2cf19e4?sv=Sanitized&se=2025-10-01T20%3A56%3A06Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-e3e75a29-0dfc-1a15-edbd-d40a969c7d6d/test-blob-6efefe6f-03a3-3c6c-cd0e-a0cd1e21789b?sv=sanitized-value&se=2025-10-01T20%3A56%3A06Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE0063C69F744D\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:56:06 GMT",
        "x-ms-content-crc64": "A64aZZ6kq0Q=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-668a9450-5c6b-8b3e-f7b0-1b6ee2c7508d/test-blob-172b2ce8-1bc9-bbb7-9ab8-38d5a2cf19e4?sv=Sanitized&se=2025-10-01T20%3A56%3A06Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-MD5": "eBiSfJMhKxUmDUoOIpQ2OQ==",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DE0063C69F744D\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:56:06 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 30 Sep 2025 20:56:06 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-e3e75a29-0dfc-1a15-edbd-d40a969c7d6d/test-blob-6efefe6f-03a3-3c6c-cd0e-a0cd1e21789b?sv=Sanitized&se=2025-10-01T20%3A56%3A06Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DE0063C675D3FF\"",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DE0063C675D3FF\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:56:06 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Tue, 30 Sep 2025 20:56:06 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-668a9450-5c6b-8b3e-f7b0-1b6ee2c7508d/test-blob-172b2ce8-1bc9-bbb7-9ab8-38d5a2cf19e4?sv=Sanitized&se=2025-10-01T20%3A56%3A06Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DE0063C69F744D\"",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DE0063C69F744D\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:56:06 GMT",
        "x-ms-blob-content-md5": "eBiSfJMhKxUmDUoOIpQ2OQ==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 30 Sep 2025 20:56:06 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": "Fwnv+3dI3KF7sMYOO6EJ86OSEePfUViAtBpe3[...]
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-e3e75a29-0dfc-1a15-edbd-d40a969c7d6d?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 30 Sep 2025 20:56:07 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2025-09-30T13:56:06.5748518-07:00",
    "RandomSeed": "1384053957",
    "Storage_TestConfigDefault": "ProductionTenant\namandapreprod\nU2FuaXRpemVk\nhttps://amandapreprod.blob.core.windows.net\nhttps://amandapreprod.file.core.windows.net\nhttps://amandapreprod.queue.core.windows.net\nhttps://amandapreprod.table.core.windows.net\n\n\n\n\nhttps://amandapreprod-secondary.blob.core.windows.net\nhttps://amandapreprod-secondary.file.core.windows.net\nhttps://amandapreprod-secondary.queue.core.windows.net\nhttps://amandapreprod-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandapreprod.blob.core.windows.net/;QueueEndpoint=https://amandapreprod.queue.core.windows.net/;FileEndpoint=https://amandapreprod.file.core.windows.net/;BlobSecondaryEndpoint=https://amandapreprod-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandapreprod-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandapreprod-secondary.file.core.windows.net/;AccountName=amandapreprod;AccountKey=U2FuaXRpemVk\nencryptionScope\n\n"
  }
}
