{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-8737df6b-7d6c-ef01-acc6-57bc0d754827?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 01 May 2024 20:40:44 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC6A1EF9AE8297\"",
        "Last-Modified": "Wed, 01 May 2024 20:40:45 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-712991bc-cbe1-dcc7-9872-de7742a8da01/test-blob-448342e8-2be2-b697-a974-53b9f8d79234",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 01 May 2024 20:40:44 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "rZpHO93HdwGLs/+FkMsMKUlXxfPmMWAVYDjGzgOgiZIzDfHffrdEM6dt2cl23WCd4oI0rYOIg3s6MdqkAKn96ypsUoPZLKuREpJMeFiWn4PYKOuAbNsPq4p1pEzdoDL+b+6fCYvcw7XXo5vwPAojpJJWy9i9fH5OXKb5Y4hes3JgTQlp95b3+2Q1qclAH29/UgC6htRZQPJvUKzk418teO8pj+4Aua37X9BziNO1Dj03eRGHpCydBg0W+qbqExgFCDDZF4+AfphTvicE5rcfukFurGpOpdTDi4ng6r8GEUu3bn+i2/ett/p4NOYEmSBV9z9le2attmJcFosGoJTZTazbTHg3fN5KwfVw1XDtvvFo[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-8737df6b-7d6c-ef01-acc6-57bc0d754827/test-blob-c4044d39-2445-cf60-dcfd-a3039f5d0bb8",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-content-type": "text/plain",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Wed, 01 May 2024 20:40:45 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC6A1EF9DA168A\"",
        "Last-Modified": "Wed, 01 May 2024 20:40:45 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-05-01T20:40:45.3150346Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-8737df6b-7d6c-ef01-acc6-57bc0d754827/test-blob-c4044d39-2445-cf60-dcfd-a3039f5d0bb8?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 01 May 2024 20:40:45 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "4+rZdQW04zSkKfaAJ9SVKbwVbARcrGnVvbTIh65dMIs/XVBcEtmCSghUH96tzPIpUEI0tBs+bTeABLhR61yGRvhqQcqDORfikyL7CIyLJ/DBnzdrKXxwAe8Z2w4hMF6sztnlQ4sophcrUSH4QmSq9dzHj0wkGhx8+T/aaV0IwWLETzqzpeRkmfgfQNhbeL6KbuYyWaERh7S8aElLTTy6IpC+M/Mq91D3Y/ZUBdlEIYGBT/t31mfBsseF9jybGUu8ZR1HnETKYHaVOvarvYHad0fHyv5BQ0wo/YErpAETW0mql6C8/YU8tu+E4ZtxFfVFq371009NeyHRHp7Dnrt1gt+sACXhHnrCixMOvGGwt+eL5fmCHof6XRx+6t7meRc0D168xBTPZI0DM0g7Pr7AIWe2N7nC8mR[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-8737df6b-7d6c-ef01-acc6-57bc0d754827/test-blob-c4044d39-2445-cf60-dcfd-a3039f5d0bb8?sv=2024-08-04&se=2024-05-02T20%3A40%3A45Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Type": "text/plain",
        "ETag": "\"0x8DC6A1EF9E8453F\"",
        "Last-Modified": "Wed, 01 May 2024 20:40:45 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Wed, 01 May 2024 20:40:45 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-05-01T20:40:45.3150346Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-712991bc-cbe1-dcc7-9872-de7742a8da01/test-blob-448342e8-2be2-b697-a974-53b9f8d79234?sv=2024-08-04&se=2024-05-02T20%3A40%3A45Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://seanmcccanada.blob.core.windows.net/test-container-8737df6b-7d6c-ef01-acc6-57bc0d754827/test-blob-c4044d39-2445-cf60-dcfd-a3039f5d0bb8?sv=2024-08-04&se=2024-05-02T20%3A40%3A45Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 409,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "BlobAlreadyExists",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>BlobAlreadyExists</Code><Message>The specified blob already exists.\n",
        "RequestId:f1287bfe-301e-001a-4907-9cf05d000000\n",
        "Time:2024-05-01T20:40:45.6355193Z</Message></Error>"
      ]
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-712991bc-cbe1-dcc7-9872-de7742a8da01/test-blob-448342e8-2be2-b697-a974-53b9f8d79234?sv=2024-08-04&se=2024-05-02T20%3A40%3A45Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "6qGHZOCe9grT17o62ogZ3A==",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC6A1EF9CBC0C6\"",
        "Last-Modified": "Wed, 01 May 2024 20:40:45 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 01 May 2024 20:40:45 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Wed, 01 May 2024 20:40:45 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-05-01T20:40:45.2220873Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-712991bc-cbe1-dcc7-9872-de7742a8da01/test-blob-448342e8-2be2-b697-a974-53b9f8d79234?sv=2024-08-04&se=2024-05-02T20%3A40%3A45Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DC6A1EF9CBC0C6\"",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DC6A1EF9CBC0C6\"",
        "Last-Modified": "Wed, 01 May 2024 20:40:45 GMT",
        "x-ms-blob-content-md5": "6qGHZOCe9grT17o62ogZ3A==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 01 May 2024 20:40:45 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Wed, 01 May 2024 20:40:45 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-05-01T20:40:45.2220873Z"
      },
      "ResponseBody": "rZpHO93Hd[...]
[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-8737df6b-7d6c-ef01-acc6-57bc0d754827?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 01 May 2024 20:40:45 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-05-01T13:40:45.0248773-07:00",
    "RandomSeed": "873900724",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanada\nU2FuaXRpemVk\nhttps://seanmcccanada.blob.core.windows.net\nhttps://seanmcccanada.file.core.windows.net\nhttps://seanmcccanada.queue.core.windows.net\nhttps://seanmcccanada.table.core.windows.net\n\n\n\n\nhttps://seanmcccanada-secondary.blob.core.windows.net\nhttps://seanmcccanada-secondary.file.core.windows.net\nhttps://seanmcccanada-secondary.queue.core.windows.net\nhttps://seanmcccanada-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanada.blob.core.windows.net/;QueueEndpoint=https://seanmcccanada.queue.core.windows.net/;FileEndpoint=https://seanmcccanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanada-secondary.file.core.windows.net/;AccountName=seanmcccanada;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
