{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-ba166670-fc4b-6f0f-4d46-242ac8c5ac4a?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 30 Sep 2025 20:55:54 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE0063BF1E0C53\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:55:54 GMT",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-ba166670-fc4b-6f0f-4d46-242ac8c5ac4a/test-blob-9342f1c7-d441-afab-2c9e-0a9bfa022c2b",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Tue, 30 Sep 2025 20:55:54 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE0063BF350CBF\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:55:54 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-ba166670-fc4b-6f0f-4d46-242ac8c5ac4a/test-blob-9342f1c7-d441-afab-2c9e-0a9bfa022c2b?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 30 Sep 2025 20:55:54 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": "f889eoniO/mmLXxgJUU+EgB1WT195fc5927XbiPmuMPBvYM5O+xbx3gmf5hWlCfTakQH2/+jHJnYBIIaCszVv3W5nmfBBdYUGpHEV2Vf4mNGBATf3t3DHqHqYTZpQL2sUMAjnPXAEWVu88Bt3sQ0eCIf1AXI9uGX9YDG16Ofq9nUGAalPEVthvOecOsdVj/ctegUSWy35Fnei6d1+jnBz0jnmca+jzzcsk4RKYb2ep9B6SK7imFtHDOsxrCe+Iy63KGiNbx5HiasOJYepbvT6BEHMxAXBkTmenyTEciLPrnBV03kU0Tix8v7D1LKTnd42d2flsR7o9VcvLtA5g1eIPrdXE5u7pXNJGxFG/fxGysFGjfr7Kf1RrN3h5eIouG9ne9Y7fIpCupI0XFYNofea6CQO8vVcjN[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-ba166670-fc4b-6f0f-4d46-242ac8c5ac4a/test-blob-9342f1c7-d441-afab-2c9e-0a9bfa022c2b?sv=Sanitized&se=2025-10-01T20%3A55%3A54Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DE0063BF3EC5E2\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:55:54 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Tue, 30 Sep 2025 20:55:54 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-6cfb266d-edba-be29-88d7-bc6b7259012f/test-blob-8c8eecb8-a3d8-aa5e-f8f6-f535a555559c?sv=Sanitized&se=2025-10-01T20%3A55%3A54Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-ba166670-fc4b-6f0f-4d46-242ac8c5ac4a/test-blob-9342f1c7-d441-afab-2c9e-0a9bfa022c2b?sv=sanitized-value&se=2025-10-01T20%3A55%3A54Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE0063BF6B2237\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:55:54 GMT",
        "x-ms-content-crc64": "HkQlimFWAm4=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-6cfb266d-edba-be29-88d7-bc6b7259012f/test-blob-8c8eecb8-a3d8-aa5e-f8f6-f535a555559c?sv=Sanitized&se=2025-10-01T20%3A55%3A54Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-MD5": "koJkrzWMvfva41egd+a54w==",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DE0063BF6B2237\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:55:54 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 30 Sep 2025 20:55:54 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-ba166670-fc4b-6f0f-4d46-242ac8c5ac4a/test-blob-9342f1c7-d441-afab-2c9e-0a9bfa022c2b?sv=Sanitized&se=2025-10-01T20%3A55%3A54Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DE0063BF3EC5E2\"",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DE0063BF3EC5E2\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:55:54 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Tue, 30 Sep 2025 20:55:54 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-6cfb266d-edba-be29-88d7-bc6b7259012f/test-blob-8c8eecb8-a3d8-aa5e-f8f6-f535a555559c?sv=Sanitized&se=2025-10-01T20%3A55%3A54Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DE0063BF6B2237\"",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DE0063BF6B2237\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:55:54 GMT",
        "x-ms-blob-content-md5": "koJkrzWMvfva41egd+a54w==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 30 Sep 2025 20:55:54 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": "f889eoniO/mmLXxgJUU+EgB1WT195fc5927Xb[...]
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-ba166670-fc4b-6f0f-4d46-242ac8c5ac4a?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 30 Sep 2025 20:55:55 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2025-09-30T13:55:54.4762331-07:00",
    "RandomSeed": "475865612",
    "Storage_TestConfigDefault": "ProductionTenant\namandapreprod\nU2FuaXRpemVk\nhttps://amandapreprod.blob.core.windows.net\nhttps://amandapreprod.file.core.windows.net\nhttps://amandapreprod.queue.core.windows.net\nhttps://amandapreprod.table.core.windows.net\n\n\n\n\nhttps://amandapreprod-secondary.blob.core.windows.net\nhttps://amandapreprod-secondary.file.core.windows.net\nhttps://amandapreprod-secondary.queue.core.windows.net\nhttps://amandapreprod-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandapreprod.blob.core.windows.net/;QueueEndpoint=https://amandapreprod.queue.core.windows.net/;FileEndpoint=https://amandapreprod.file.core.windows.net/;BlobSecondaryEndpoint=https://amandapreprod-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandapreprod-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandapreprod-secondary.file.core.windows.net/;AccountName=amandapreprod;AccountKey=U2FuaXRpemVk\nencryptionScope\n\n"
  }
}
