{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-63c12cf7-0480-3a74-0244-3b16940dce0c?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 10 Apr 2024 04:10:31 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC59142A43C3C9\u0022",
        "Last-Modified": "Wed, 10 Apr 2024 04:10:32 GMT",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-63c12cf7-0480-3a74-0244-3b16940dce0c/test-blob-e2ff45e3-9573-b4e7-5263-6eb1464b87e4",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-content-type": "text/plain",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Wed, 10 Apr 2024 04:10:32 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC59142A586C58\u0022",
        "Last-Modified": "Wed, 10 Apr 2024 04:10:32 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-04-10T04:10:32.4423768Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-63c12cf7-0480-3a74-0244-3b16940dce0c/test-blob-e2ff45e3-9573-b4e7-5263-6eb1464b87e4?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 10 Apr 2024 04:10:32 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": "4wkxqUY9g0NNqbIUGlwcMOZHHcvPG/ZE9GaizgCade8EELhNhSWNw3swdeeXU7TFtlGhbH1yE8gT7LXfm7RCszTDDwqkzqvAullQnqUOraCy3Biv\u002BQlykfzwOphwrSfG7sKy00SqIOel4LEjInUjBD8ULb6bkrkrUX0NtJQSUAwyibDiW9lcB7swChlXT2\u002BHzTZZW4BoK1sJh4HGnWxTkpCk8JnEQKhluCUCa4ig0wIOhuddufSMyV5V2dRYlWpP3HeIsl7VwoyN86JaZr/SaLN/txeF9dibGCc7b2fUDSO7s44RFyGjOcNa0MZRMmOeg3Ag2N5Tyeae7Jo3mlMluOZ/nrIwwFCS235TKyUSSuXEnOz2tDRFaOqociuGbJ5wNBjf0pSwbcIfjf1f/53Bj[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-63c12cf7-0480-3a74-0244-3b16940dce0c/test-blob-e2ff45e3-9573-b4e7-5263-6eb1464b87e4?sv=2024-05-04\u0026se=2024-04-11T04%3A10%3A32Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Type": "text/plain",
        "ETag": "\u00220x8DC59142A6192C2\u0022",
        "Last-Modified": "Wed, 10 Apr 2024 04:10:32 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Wed, 10 Apr 2024 04:10:32 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-04-10T04:10:32.4423768Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-63c4d617-50a0-9f7e-2cc0-294f086dd0f9/test-blob-640e181f-3c7e-91b4-5ea3-9c7223bc3823?sv=2024-05-04\u0026se=2024-04-11T04%3A10%3A32Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://amandadev2.blob.core.windows.net/test-container-63c12cf7-0480-3a74-0244-3b16940dce0c/test-blob-e2ff45e3-9573-b4e7-5263-6eb1464b87e4?sv=2024-05-04\u0026se=2024-04-11T04%3A10%3A32Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC59142A7F2890\u0022",
        "Last-Modified": "Wed, 10 Apr 2024 04:10:32 GMT",
        "x-ms-content-crc64": "0kjTLeKpqdI=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-04-10T04:10:32.6972300Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-63c4d617-50a0-9f7e-2cc0-294f086dd0f9/test-blob-640e181f-3c7e-91b4-5ea3-9c7223bc3823?sv=2024-05-04\u0026se=2024-04-11T04%3A10%3A32Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-MD5": "YMw6UPJgrJo5QmOKbCCnIw==",
        "Content-Type": "text/plain",
        "ETag": "\u00220x8DC59142A7F2890\u0022",
        "Last-Modified": "Wed, 10 Apr 2024 04:10:32 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 10 Apr 2024 04:10:32 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-04-10T04:10:32.6972300Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-63c12cf7-0480-3a74-0244-3b16940dce0c/test-blob-e2ff45e3-9573-b4e7-5263-6eb1464b87e4?sv=2024-05-04\u0026se=2024-04-11T04%3A10%3A32Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\u00220x8DC59142A6192C2\u0022",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "text/plain",
        "ETag": "\u00220x8DC59142A6192C2\u0022",
        "Last-Modified": "Wed, 10 Apr 2024 04:10:32 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Wed, 10 Apr 2024 04:10:32 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-63c4d617-50a0-9f7e-2cc0-294f086dd0f9/test-blob-640e181f-3c7e-91b4-5ea3-9c7223bc3823?sv=2024-05-04\u0026se=2024-04-11T04%3A10%3A32Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\u00220x8DC59142A7F2890\u0022",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "text/plain",
        "ETag": "\u00220x8DC59142A7F2890\u0022",
        "Last-Modified": "Wed, 10 Apr 2024 04:10:32 GMT",
        "x-ms-blob-content-md5": "YMw6UPJgrJo5QmOKbCCnIw==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 10 Apr 2024 04:10:32 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id"[...]
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-63c12cf7-0480-3a74-0244-3b16940dce0c?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 10 Apr 2024 04:10:32 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-04-09T21:10:32.2299612-07:00",
    "RandomSeed": "1485502814",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
