{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-07f7942b-c6cf-3866-341d-cff409c0b514?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 27 Mar 2024 23:07:28 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4EB2AD2CF43A\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 23:07:29 GMT",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-07f7942b-c6cf-3866-341d-cff409c0b514/test-blob-9403d33c-ae8e-bf2c-64bc-8482c8729239",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-content-length": "2048",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Wed, 27 Mar 2024 23:07:28 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4EB2AD4E6D3B\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 23:07:29 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-03-27T23:07:29.8511163Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-07f7942b-c6cf-3866-341d-cff409c0b514/test-blob-9403d33c-ae8e-bf2c-64bc-8482c8729239?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 27 Mar 2024 23:07:28 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-2047",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": "dW3Lj6uik4Edg7OvE4OAtMWFEXpFNL\u002BuF72dAazlUQjcgsxpU2UN\u002BKFF7/J568LqmByEc2NxJkCtHXftBJHUNzKr05C3FmFfdxnYAEXMNSz6s2mQYN6lalyLvDXuIPQPcLfAzRcyM4G6JftJmCb74OhK81AoRNZTBmg0K1oscFclyY\u002BNC2cVyIDn1TviW9I2kNtMoyyj5izgbceu/QcnjrSkJM6WbdSANSrQQG6bcKqW/pt/380qgeNjrJ6gZst4wEeGPjYDnyIGzG4B06W9RfwcGP5sqK/neaLrMsE24M5fV4AnFDJ0kl54eBNeKK49pmaihE7MDBiYnsSUGG1h0OufoXsllTHJqIWg8y\u002BbiFDzrYxak1uAk0toj3Vt33rxF6gnv4YyGBA[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-07f7942b-c6cf-3866-341d-cff409c0b514/test-blob-9403d33c-ae8e-bf2c-64bc-8482c8729239?sv=2024-05-04\u0026se=2024-03-28T23%3A07%3A28Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC4EB2AD5DFB5D\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 23:07:29 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Wed, 27 Mar 2024 23:07:29 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-03-27T23:07:29.8511163Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-e2ce2d28-f695-acd9-76c2-b5f2585b1591/test-blob-271a2237-2178-7fbe-ee62-7c0f9240db93?sv=2024-05-04\u0026se=2024-03-28T23%3A07%3A28Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://amandadev2.blob.core.windows.net/test-container-07f7942b-c6cf-3866-341d-cff409c0b514/test-blob-9403d33c-ae8e-bf2c-64bc-8482c8729239?sv=2024-05-04\u0026se=2024-03-28T23%3A07%3A28Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4EB2AD81AAE6\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 23:07:30 GMT",
        "x-ms-content-crc64": "uX1uu3Hk4YE=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-03-27T23:07:30.1879273Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-e2ce2d28-f695-acd9-76c2-b5f2585b1591/test-blob-271a2237-2178-7fbe-ee62-7c0f9240db93?sv=2024-05-04\u0026se=2024-03-28T23%3A07%3A28Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "NqzFMV/3sb5LhlTZzUaaVQ==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC4EB2AD81AAE6\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 23:07:30 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 27 Mar 2024 23:07:30 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-03-27T23:07:30.1879273Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-07f7942b-c6cf-3866-341d-cff409c0b514/test-blob-9403d33c-ae8e-bf2c-64bc-8482c8729239?sv=2024-05-04\u0026se=2024-03-28T23%3A07%3A28Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\u00220x8DC4EB2AD5DFB5D\u0022",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-2047/2048",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC4EB2AD5DFB5D\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 23:07:29 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Wed, 27 Mar 2024 23:07:29 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-e2ce2d28-f695-acd9-76c2-b5f2585b1591/test-blob-271a2237-2178-7fbe-ee62-7c0f9240db93?sv=2024-05-04\u0026se=2024-03-28T23%3A07%3A28Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\u00220x8DC4EB2AD81AAE6\u0022",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-2047/2048",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC4EB2AD81AAE6\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 23:07:30 GMT",
        "x-ms-blob-content-md5": "NqzFMV/3sb5LhlTZzUaaVQ==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 27 Mar 2024 23:07:30 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-03-27T23:07:30.1879273Z"
      },
      "ResponseBody": "dW3Lj6uik4Edg7OvE4OAtMWFEXpFNL\u002BuF72dAazlUQjcgsxpU2UN\u002BKFF7/J568Lqm[...]
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-07f7942b-c6cf-3866-341d-cff409c0b514?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 27 Mar 2024 23:07:29 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-03-27T16:07:28.5740468-07:00",
    "RandomSeed": "429591948",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
