{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-6c9d1f1f-0c70-75a6-2d8a-919fd6710809?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 01 May 2024 20:40:15 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC6A1EE87B1391\"",
        "Last-Modified": "Wed, 01 May 2024 20:40:16 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-7d417821-4d61-fe83-8dd3-786fa63e9eb0/test-blob-f63952d0-c4fc-fa95-eb24-765ae894e08d",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 01 May 2024 20:40:16 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "Fxt58pQhBlohA64HcWRT+dG0yjyfafghmN0upseFzHcDk8BV9Rqr6bIokh1vjLMeEjNeRwEKAq0jV1q28l+SnDY3BN6k/gS3CeCKdtfbsgwpEJOUJoV1+ZATMp3A9PdSlfbnOIjVehQupz4hgIzWR6VNjOLL/nWwwQtOkctn9hTpN+Dg83mEVJV/ZX5GVHgDPOr3cmcUh5eBNnZ8huhJx7ApN0is9VQryThMTJj2aW2SSlTgb4St1K9IX7wDB86sNZ7NHRwvV0eWy6gvxzr/iswI6TyUaVcsfGKZY5aXKMFqoBb5KExQYvINSaTcfg10SdTv+h2RGMxHoaG6lvSx/6PmxSckBWKAuIdJhx+zT/1V[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-6c9d1f1f-0c70-75a6-2d8a-919fd6710809/test-blob-09dc14b2-c5f0-4933-32cc-745bcbef0618",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-content-type": "text/plain",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Wed, 01 May 2024 20:40:16 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC6A1EE8A73F05\"",
        "Last-Modified": "Wed, 01 May 2024 20:40:16 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-05-01T20:40:16.4605701Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-6c9d1f1f-0c70-75a6-2d8a-919fd6710809/test-blob-09dc14b2-c5f0-4933-32cc-745bcbef0618?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 01 May 2024 20:40:16 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "80wNI9MFxELGXHbkv9UETCG5/3K1CCvK/LTB8CnKj9ZSgeiNR9y841pBxkVoslwCLrht/zy/kOogQyYeQ9QY+82fkj3sdwRE/BwXdELlYUpYvsJxXI+akvD+bAS2nZ+GKcp4yR8eFrazKAIgqByoOuLcxoURpp49BQBN7goAjl58kEt3bZgqOqgLvTSMeurUVTIh2dcadYIrOsMf0Ciss5mkoxfQMM1JsYzcBulqsIsWeZjY3rWHYhvJTDLUC2mAXwqa6NbSAyVk1yhKPW+ZwYk4CVeP1NTkHUD7B+SadaYjXKbez8i0Q3VycwaNPCWsMIqpnAES8Is1tsqW1vxByWKBJ+HIuvHBg8biHWDNV+EbT9dZ8dikEGsbqRn9Hmx4MamkCxRD5HaZ5xg7MNMqaF7peocl59i[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-6c9d1f1f-0c70-75a6-2d8a-919fd6710809/test-blob-09dc14b2-c5f0-4933-32cc-745bcbef0618?sv=2024-08-04&se=2024-05-02T20%3A40%3A16Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Type": "text/plain",
        "ETag": "\"0x8DC6A1EE8B5BBD3\"",
        "Last-Modified": "Wed, 01 May 2024 20:40:16 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Wed, 01 May 2024 20:40:16 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-05-01T20:40:16.4605701Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-7d417821-4d61-fe83-8dd3-786fa63e9eb0/test-blob-f63952d0-c4fc-fa95-eb24-765ae894e08d?sv=2024-08-04&se=2024-05-02T20%3A40%3A16Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://seanmcccanada.blob.core.windows.net/test-container-6c9d1f1f-0c70-75a6-2d8a-919fd6710809/test-blob-09dc14b2-c5f0-4933-32cc-745bcbef0618?sv=2024-08-04&se=2024-05-02T20%3A40%3A16Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC6A1EE8D9B952\"",
        "Last-Modified": "Wed, 01 May 2024 20:40:16 GMT",
        "x-ms-content-crc64": "b671B7y76Aw=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-05-01T20:40:16.7923810Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-7d417821-4d61-fe83-8dd3-786fa63e9eb0/test-blob-f63952d0-c4fc-fa95-eb24-765ae894e08d?sv=2024-08-04&se=2024-05-02T20%3A40%3A16Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-MD5": "3GekphkpLKCzIGJQuHku6g==",
        "Content-Type": "text/plain",
        "ETag": "\"0x8DC6A1EE8D9B952\"",
        "Last-Modified": "Wed, 01 May 2024 20:40:16 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 01 May 2024 20:40:16 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Wed, 01 May 2024 20:40:16 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-05-01T20:40:16.7923810Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-6c9d1f1f-0c70-75a6-2d8a-919fd6710809/test-blob-09dc14b2-c5f0-4933-32cc-745bcbef0618?sv=2024-08-04&se=2024-05-02T20%3A40%3A16Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DC6A1EE8B5BBD3\"",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "text/plain",
        "ETag": "\"0x8DC6A1EE8B5BBD3\"",
        "Last-Modified": "Wed, 01 May 2024 20:40:16 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Wed, 01 May 2024 20:40:16 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
  [...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-7d417821-4d61-fe83-8dd3-786fa63e9eb0/test-blob-f63952d0-c4fc-fa95-eb24-765ae894e08d?sv=2024-08-04&se=2024-05-02T20%3A40%3A16Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DC6A1EE8D9B952\"",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "text/plain",
        "ETag": "\"0x8DC6A1EE8D9B952\"",
        "Last-Modified": "Wed, 01 May 2024 20:40:16 GMT",
        "x-ms-blob-content-md5": "3GekphkpLKCzIGJQuHku6g==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 01 May 2024 20:40:16 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Wed, 01 May 2024 20:40:16 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true[...]
[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-6c9d1f1f-0c70-75a6-2d8a-919fd6710809?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 01 May 2024 20:40:17 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-05-01T13:40:16.1689764-07:00",
    "RandomSeed": "10755536",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanada\nU2FuaXRpemVk\nhttps://seanmcccanada.blob.core.windows.net\nhttps://seanmcccanada.file.core.windows.net\nhttps://seanmcccanada.queue.core.windows.net\nhttps://seanmcccanada.table.core.windows.net\n\n\n\n\nhttps://seanmcccanada-secondary.blob.core.windows.net\nhttps://seanmcccanada-secondary.file.core.windows.net\nhttps://seanmcccanada-secondary.queue.core.windows.net\nhttps://seanmcccanada-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanada.blob.core.windows.net/;QueueEndpoint=https://seanmcccanada.queue.core.windows.net/;FileEndpoint=https://seanmcccanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanada-secondary.file.core.windows.net/;AccountName=seanmcccanada;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
