{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-dfb27756-7add-0b16-f555-308d7829f677?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 30 Sep 2025 20:55:58 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE0063C1A71B46\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:55:58 GMT",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-dfb27756-7add-0b16-f555-308d7829f677/test-blob-f7639489-6dde-6d59-68e0-d09384cdf5e4",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Tue, 30 Sep 2025 20:55:58 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE0063C1BFE118\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:55:58 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-dfb27756-7add-0b16-f555-308d7829f677/test-blob-f7639489-6dde-6d59-68e0-d09384cdf5e4?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 30 Sep 2025 20:55:58 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": "1X3zyGOheHVdAFvQmzA1C+RtThinIgD1uJEIO44l7oZGZNGXEvWpQjXMtutKHpPVdeE+Ka81XbN8/g/SmDznNxHVijZenvjvwwzi2mwVq5n9M8Wt58XXEAYeGhTl16n55X7ZdZRddtfoT2ajUoNHZ1J11GR2OlBM/nkvQIPkCeti6fXtOzYFoL3uxJheM72D17LCbwJEgqoujHYaLTZTBEV7QWiNWSsbcDSnh3a47cq7rGjRIZnoHWdKv6+/6nKGm79S4/FU9n6Gpv/Onfo0dZ6sX4HNguKrkiQBQpl8W4XBIOy2ZQrYZrXpSnuaGX9tFkkQE4vxuRndplDNU7PkCkp6DHwNfhCU0/jL4zdnEXiklCxQbEj5z2fT2b65CxMCBT8xIAwDX5c5e0CTJtXhdZXXKb+HlJ4[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-dfb27756-7add-0b16-f555-308d7829f677/test-blob-f7639489-6dde-6d59-68e0-d09384cdf5e4?sv=Sanitized&se=2025-10-01T20%3A55%3A58Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DE0063C1C8D7C2\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:55:58 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Tue, 30 Sep 2025 20:55:58 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-86b3e62f-cae8-2dc7-631a-e0e7f1979d5d/test-blob-fa9b4f2d-1447-9179-1e5c-c775ef9eb4b7?sv=Sanitized&se=2025-10-01T20%3A55%3A58Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-dfb27756-7add-0b16-f555-308d7829f677/test-blob-f7639489-6dde-6d59-68e0-d09384cdf5e4?sv=sanitized-value&se=2025-10-01T20%3A55%3A58Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE0063C1F33A81\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:55:58 GMT",
        "x-ms-content-crc64": "n2aCJQd5P3g=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-86b3e62f-cae8-2dc7-631a-e0e7f1979d5d/test-blob-fa9b4f2d-1447-9179-1e5c-c775ef9eb4b7?sv=Sanitized&se=2025-10-01T20%3A55%3A58Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-MD5": "IpuE7paJZFVSe88hpquYZA==",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DE0063C1F33A81\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:55:58 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 30 Sep 2025 20:55:58 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-dfb27756-7add-0b16-f555-308d7829f677/test-blob-f7639489-6dde-6d59-68e0-d09384cdf5e4?sv=Sanitized&se=2025-10-01T20%3A55%3A58Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DE0063C1C8D7C2\"",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DE0063C1C8D7C2\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:55:58 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Tue, 30 Sep 2025 20:55:58 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-86b3e62f-cae8-2dc7-631a-e0e7f1979d5d/test-blob-fa9b4f2d-1447-9179-1e5c-c775ef9eb4b7?sv=Sanitized&se=2025-10-01T20%3A55%3A58Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DE0063C1F33A81\"",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DE0063C1F33A81\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:55:58 GMT",
        "x-ms-blob-content-md5": "IpuE7paJZFVSe88hpquYZA==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 30 Sep 2025 20:55:58 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": "1X3zyGOheHVdAFvQmzA1C+RtThinIgD1uJEIO[...]
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-dfb27756-7add-0b16-f555-308d7829f677?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 30 Sep 2025 20:55:59 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2025-09-30T13:55:58.7306902-07:00",
    "RandomSeed": "1232293439",
    "Storage_TestConfigDefault": "ProductionTenant\namandapreprod\nU2FuaXRpemVk\nhttps://amandapreprod.blob.core.windows.net\nhttps://amandapreprod.file.core.windows.net\nhttps://amandapreprod.queue.core.windows.net\nhttps://amandapreprod.table.core.windows.net\n\n\n\n\nhttps://amandapreprod-secondary.blob.core.windows.net\nhttps://amandapreprod-secondary.file.core.windows.net\nhttps://amandapreprod-secondary.queue.core.windows.net\nhttps://amandapreprod-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandapreprod.blob.core.windows.net/;QueueEndpoint=https://amandapreprod.queue.core.windows.net/;FileEndpoint=https://amandapreprod.file.core.windows.net/;BlobSecondaryEndpoint=https://amandapreprod-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandapreprod-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandapreprod-secondary.file.core.windows.net/;AccountName=amandapreprod;AccountKey=U2FuaXRpemVk\nencryptionScope\n\n"
  }
}
