{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-db05b68e-9307-a568-c1d3-49c84e5041bc?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 00:53:06 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D126C9E12C9\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:53:06 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-4f84ac06-a51e-c5ee-c66c-46059456c431/test-blob-3a36cdef-7b80-00f7-e40e-1e5c650bfae9",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 07 Mar 2025 00:53:07 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": "I348CLZqbhtJpe1vmVe5sOKuhL4EfFbdjApNclrZ9RD31e3boBapHo0w2e6uu2I3GTaLWK+Q/qcoXnysHPvBcK/dd8Rp3g/LBGUx1KNoL9GoFlkjTZxgZtZGs0Ga/QKRb2g+0EOezTomv1NJXyoDwC+qBAWinSMSfBHtIivOMQdjn2U6KV6NCUge/I1JFwerQ/MR7/n879FFK1QysKsPWI5M5b/EyJbRHfq9g6CVyWQKQd84vEENZ7CT9f0JWlmdD6T+/DJH53pcQNH+P2sxr2HvKG7M1pxNP34OMNOYx8OhH3P8l80ywlpk23tvDyhFYkWbGTHq0TkHsb2zOLanw3gOXR/4NBiUvWUTZ/og3S9W[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-db05b68e-9307-a568-c1d3-49c84e5041bc/test-blob-ccdb0f43-3d53-05bf-79ca-0920d108d521",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Fri, 07 Mar 2025 00:53:07 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D126CBBE300\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:53:07 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-db05b68e-9307-a568-c1d3-49c84e5041bc/test-blob-ccdb0f43-3d53-05bf-79ca-0920d108d521?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Fri, 07 Mar 2025 00:53:07 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": "nN/avp+sFNZHFmN90ol5I5QByn3S1letGqYzz+TgaSx0ZbIM7KQhdRyeVMmdLbhXB1o/2IhacsaHLaP5eUXyZ602CG3WbTbv31VhM4KOD+3u28eJoJCkGvLshL4BKPzWrO0cZyRLgZkjT/gz+D9D+R61C519aMYcku566uh37rdYioaVcajIo1ouZlGYcCGzqIugSxxeWUQmANQ20JawrGFA2m64rod27WhCTwJ1gyHMx0Fd1qKa+jFCbnHTktLDfbnvV5az+voDKl60GwpBsHyzaglVU9W+puA9dkAWo1uVf9FIhSyLGMxGWaxE5d4mAL30ICfJbSrkMbG1doS67YcDH5w4+CpQJ1E8DvooecACFnWCIoIzyxGnZFR61aJHjGslQcZB7QeSpPjWjF4vu7fxs2AON8s[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-db05b68e-9307-a568-c1d3-49c84e5041bc/test-blob-ccdb0f43-3d53-05bf-79ca-0920d108d521?sv=Sanitized&se=2025-03-08T00%3A53%3A07Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD5D126CC464F2\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:53:07 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Fri, 07 Mar 2025 00:53:07 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-4f84ac06-a51e-c5ee-c66c-46059456c431/test-blob-3a36cdef-7b80-00f7-e40e-1e5c650bfae9?sv=Sanitized&se=2025-03-08T00%3A53%3A07Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-db05b68e-9307-a568-c1d3-49c84e5041bc/test-blob-ccdb0f43-3d53-05bf-79ca-0920d108d521?sv=sanitized-value&se=2025-03-08T00%3A53%3A07Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D126CEF634B\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:53:07 GMT",
        "x-ms-content-crc64": "pNtI00QVevo=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-4f84ac06-a51e-c5ee-c66c-46059456c431/test-blob-3a36cdef-7b80-00f7-e40e-1e5c650bfae9?sv=Sanitized&se=2025-03-08T00%3A53%3A07Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-MD5": "IoZbqgfSHdTsgqWK/4dXwg==",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD5D126CEF634B\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:53:07 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 07 Mar 2025 00:53:07 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-db05b68e-9307-a568-c1d3-49c84e5041bc/test-blob-ccdb0f43-3d53-05bf-79ca-0920d108d521?sv=Sanitized&se=2025-03-08T00%3A53%3A07Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DD5D126CC464F2\"",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD5D126CC464F2\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:53:07 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Fri, 07 Mar 2025 00:53:07 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-4f84ac06-a51e-c5ee-c66c-46059456c431/test-blob-3a36cdef-7b80-00f7-e40e-1e5c650bfae9?sv=Sanitized&se=2025-03-08T00%3A53%3A07Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DD5D126CEF634B\"",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD5D126CEF634B\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:53:07 GMT",
        "x-ms-blob-content-md5": "IoZbqgfSHdTsgqWK/4dXwg==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 07 Mar 2025 00:53:07 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "nN/avp+sFNZHFmN90ol5I5QByn3S1letGqYzz[...]
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-db05b68e-9307-a568-c1d3-49c84e5041bc?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 00:53:08 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2025-03-06T16:53:07.1449029-08:00",
    "RandomSeed": "942036463",
    "Storage_TestConfigDefault": "ProductionTenant\namandapreprod\nU2FuaXRpemVk\nhttps://amandapreprod.blob.core.windows.net\nhttps://amandapreprod.file.core.windows.net\nhttps://amandapreprod.queue.core.windows.net\nhttps://amandapreprod.table.core.windows.net\n\n\n\n\nhttps://amandapreprod-secondary.blob.core.windows.net\nhttps://amandapreprod-secondary.file.core.windows.net\nhttps://amandapreprod-secondary.queue.core.windows.net\nhttps://amandapreprod-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandapreprod.blob.core.windows.net/;QueueEndpoint=https://amandapreprod.queue.core.windows.net/;FileEndpoint=https://amandapreprod.file.core.windows.net/;BlobSecondaryEndpoint=https://amandapreprod-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandapreprod-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandapreprod-secondary.file.core.windows.net/;AccountName=amandapreprod;AccountKey=U2FuaXRpemVk\nencryptionScope\n\n"
  }
}
