{
  "Entries": [
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-252d2a3f-6170-8e48-8154-71b220cb0e1b?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 01:27:54 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC86910F13EE48\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:27:56 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-5df28373-b8d4-4bf0-e507-21a6242386f3/test-blob-e2917a03-55f6-3800-900f-d0252531c563",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 07 Jun 2024 01:27:54 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "CkJ+8oHh1siEfAnR+x8ZtuOm8U9jMy4f4BmdxB4rqfNvSz+m12KGegg05lEwBlR8IttQ/KqbfdYTXxFoRBGpWNMWYbDgct6AIHZGL0zd7trFIKJC261J081oknhQHjX3io59GqSknK/9z9wzVU6KNnA2oyNuZ30mzY3id99lLwFAT6S+X9Q1IIPyRQzQFX5+3lwIGXsRiCMQV0wXwSXQl5/a8gWqy9abAIKgfCFxVbcPZJmDXRWGL8aBrQiHHl9eIq5s9iN41BKFbBj5cQwBnwKVB1yLTDmJU8M+KB3OE+IiQVlzBF6Tlo+G/fH8jb26fw0F8hYD09V04qJgOav0tlk21i+zjZujAXHMBE9IjMYF[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-252d2a3f-6170-8e48-8154-71b220cb0e1b/test-blob-26b8c675-ea29-d130-677b-2b5ae335c8ed",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-content-type": "text/plain",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Fri, 07 Jun 2024 01:27:54 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC86910F3A3E6F\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:27:56 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-06-07T01:27:56.3633020Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-252d2a3f-6170-8e48-8154-71b220cb0e1b/test-blob-26b8c675-ea29-d130-677b-2b5ae335c8ed?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Fri, 07 Jun 2024 01:27:54 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "il/CQq8iwDlzAxyho5sZ4qHgJB15CN2rJyUIDQa3t5GRB52YeQY6gf2HlYqVreN1wnx6qjCNgIKBFxqKGbIzu0yLEJz+gGiapqIg8nNTFnlBk0uJPA1gA4YbFmLssGdKVNk+Cp1HdkEU4ASNbY4OLgCgSIZmqX8+KgwV42oFrvU71Z2aFAvc+h0KdVwJ05b4DOhhS2fh5KpZ/9+RMZLXDjEOUpjwdBr1xE1pXDQiNVd2HdeCpGOOWfHzQBQsSsmKM2Yr+4H9B5jObIYaeId2NsqIGxS7VWrNgPim/TMFyXmE3ynN9zrVeBU+szfcdOFpfAlKoy+0zt38XXqIVwplyKMNlZheqT+QsqL+faEy8QsWPIApuyVKzxFL0Jq/TSEL2euUz95IC9PKufCNtlA8ymtvcRqJOw1[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-252d2a3f-6170-8e48-8154-71b220cb0e1b/test-blob-26b8c675-ea29-d130-677b-2b5ae335c8ed?sv=Sanitized&se=2024-06-08T01%3A27%3A54Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Type": "text/plain",
        "ETag": "\"0x8DC86910F47AACB\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:27:56 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Fri, 07 Jun 2024 01:27:56 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-06-07T01:27:56.3633020Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-5df28373-b8d4-4bf0-e507-21a6242386f3/test-blob-e2917a03-55f6-3800-900f-d0252531c563?sv=Sanitized&se=2024-06-08T01%3A27%3A54Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://seancanary.blob.core.windows.net/test-container-252d2a3f-6170-8e48-8154-71b220cb0e1b/test-blob-26b8c675-ea29-d130-677b-2b5ae335c8ed?sv=Sanitized&se=2024-06-08T01%3A27%3A54Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC86910F625C70\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:27:56 GMT",
        "x-ms-content-crc64": "KvQsNHACHyg=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-06-07T01:27:56.6262144Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-5df28373-b8d4-4bf0-e507-21a6242386f3/test-blob-e2917a03-55f6-3800-900f-d0252531c563?sv=Sanitized&se=2024-06-08T01%3A27%3A54Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-MD5": "4IYzdlma84f0MyCBiLlOXw==",
        "Content-Type": "text/plain",
        "ETag": "\"0x8DC86910F625C70\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:27:56 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 07 Jun 2024 01:27:56 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-06-07T01:27:56.6262144Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-252d2a3f-6170-8e48-8154-71b220cb0e1b/test-blob-26b8c675-ea29-d130-677b-2b5ae335c8ed?sv=Sanitized&se=2024-06-08T01%3A27%3A54Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DC86910F47AACB\"",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "text/plain",
        "ETag": "\"0x8DC86910F47AACB\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:27:56 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Fri, 07 Jun 2024 01:27:56 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
  [...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-5df28373-b8d4-4bf0-e507-21a6242386f3/test-blob-e2917a03-55f6-3800-900f-d0252531c563?sv=Sanitized&se=2024-06-08T01%3A27%3A54Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DC86910F625C70\"",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "text/plain",
        "ETag": "\"0x8DC86910F625C70\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:27:56 GMT",
        "x-ms-blob-content-md5": "4IYzdlma84f0MyCBiLlOXw==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 07 Jun 2024 01:27:56 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id"[...]
[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-252d2a3f-6170-8e48-8154-71b220cb0e1b?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 01:27:55 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-06-06T20:27:54.7746916-05:00",
    "RandomSeed": "461507164",
    "Storage_TestConfigDefault": "ProductionTenant\nseancanary\nU2FuaXRpemVk\nhttps://seancanary.blob.core.windows.net\nhttps://seancanary.file.core.windows.net\nhttps://seancanary.queue.core.windows.net\nhttps://seancanary.table.core.windows.net\n\n\n\n\nhttps://seancanary-secondary.blob.core.windows.net\nhttps://seancanary-secondary.file.core.windows.net\nhttps://seancanary-secondary.queue.core.windows.net\nhttps://seancanary-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seancanary.blob.core.windows.net/;QueueEndpoint=https://seancanary.queue.core.windows.net/;FileEndpoint=https://seancanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seancanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seancanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seancanary-secondary.file.core.windows.net/;AccountName=seancanary;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
