{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-93378603-545d-3a88-df65-038841a132f2?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 27 Mar 2024 23:07:02 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4EB29E2C1C09\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 23:07:04 GMT",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-43440564-4695-8f03-f43c-aa446973eaf3/test-blob-b638fa42-6d4a-e4b3-4000-df18d20a08a8",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 27 Mar 2024 23:07:03 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": "qF8GKpk1R7J/MdEX9TFzWCHbrwufAvV9AIvSfhf5Le5Cp1SJ4VhNPAgM8PuflcPyY5Safpqr1aZpiCkOYsmahQPj1E3d6nbIjnICkxH63mvH4BqCX65Tl9KtH1gvPtk/cWv3u8B2FHke0e8nqEKUb6q9RoKuGCVUjz17L8odmU\u002BYwyGlAiOrUcuhY46\u002BLO\u002BPGK\u002BucfhXkFhFoiuD\u002BuWuATegjuQg72yHEvS2DbWXlWNN6xYabihXQTPJYGD3J1fm8mJWHp0LbilDJ14DoYOjrQzHNQ7Pk5IPSU2xV48Mj\u002Bqd0BpSQXfGQn3s10fJU6CvJbJTL/JIFl7QR9[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-93378603-545d-3a88-df65-038841a132f2/test-blob-ef549dd0-9a29-594a-5125-d4739a9e7770",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Wed, 27 Mar 2024 23:07:03 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC4EB29E74DAA2\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 23:07:04 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-03-27T23:07:04.9371298Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-93378603-545d-3a88-df65-038841a132f2/test-blob-ef549dd0-9a29-594a-5125-d4739a9e7770?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 27 Mar 2024 23:07:03 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": "1CcC4wbbXZXm9Z48A27X0a89Z0dSDAl1GAIV1TfWsdAZbFYjPGegEfbtsNGRe\u002BfQDDnYlOv4m8gdjcoExoddEETNI5YXs5RInVVQZFw4450aRcj9/h3lINGOBa\u002BdnEtuj5\u002BNxFhQuVmkkPeVpzZr5aos6YG/XxEn5wLFiK3lqgAK4dS8qh5FyotuWW0lUHmbIh8FcLLJry\u002BOZtxWizCrv\u002BX2isZhrzqL5x71UAakAZeJKmWO3zpNQDKlLkRB7j9aw5mHL8WzOXPkeYiU1F4p6WRFzWDLHd\u002BrqEqTvIH2Svnfmo1tHNHR1vDyqWayuWzUfETg\u002ByHej6a63Id7H33x7i\u002BPtTnQu8ySc/Zw2XR5\u002Be7dv0A8FU[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-93378603-545d-3a88-df65-038841a132f2/test-blob-ef549dd0-9a29-594a-5125-d4739a9e7770?sv=2024-05-04\u0026se=2024-03-28T23%3A07%3A03Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC4EB29E8D8F33\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 23:07:05 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Wed, 27 Mar 2024 23:07:04 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-03-27T23:07:04.9371298Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-43440564-4695-8f03-f43c-aa446973eaf3/test-blob-b638fa42-6d4a-e4b3-4000-df18d20a08a8?sv=2024-05-04\u0026se=2024-03-28T23%3A07%3A03Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://amandadev2.blob.core.windows.net/test-container-93378603-545d-3a88-df65-038841a132f2/test-blob-ef549dd0-9a29-594a-5125-d4739a9e7770?sv=2024-05-04\u0026se=2024-03-28T23%3A07%3A03Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 409,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "BlobAlreadyExists",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003EBlobAlreadyExists\u003C/Code\u003E\u003CMessage\u003EThe specified blob already exists.\n",
        "RequestId:ee55d44e-601e-0006-4a9b-80465e000000\n",
        "Time:2024-03-27T23:07:05.4490310Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-43440564-4695-8f03-f43c-aa446973eaf3/test-blob-b638fa42-6d4a-e4b3-4000-df18d20a08a8?sv=2024-05-04\u0026se=2024-03-28T23%3A07%3A03Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "mPeMp\u002Bk0RWdQ2K0/5dihUQ==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC4EB29E5E2197\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 23:07:04 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 27 Mar 2024 23:07:04 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-03-27T23:07:04.7882135Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-43440564-4695-8f03-f43c-aa446973eaf3/test-blob-b638fa42-6d4a-e4b3-4000-df18d20a08a8?sv=2024-05-04\u0026se=2024-03-28T23%3A07%3A03Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\u00220x8DC4EB29E5E2197\u0022",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DC4EB29E5E2197\u0022",
        "Last-Modified": "Wed, 27 Mar 2024 23:07:04 GMT",
        "x-ms-blob-content-md5": "mPeMp\u002Bk0RWdQ2K0/5dihUQ==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 27 Mar 2024 23:07:04 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-03-27T23:07:04.7882135Z"
      },
      "ResponseBody": "qF8GKpk1R7J/MdEX9TFzWCHbrwufAvV9AIvSfhf5Le5Cp1SJ4VhNPAgM8PuflcPyY5Safp[...]
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-93378603-545d-3a88-df65-038841a132f2?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 27 Mar 2024 23:07:06 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-03-27T16:07:03.4374049-07:00",
    "RandomSeed": "1620763047",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
