{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-eaf961f6-64fc-4aff-1edf-558a7cdd6a25?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 10 Apr 2024 04:10:32 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC59142AD8F46C\u0022",
        "Last-Modified": "Wed, 10 Apr 2024 04:10:33 GMT",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-eaf961f6-64fc-4aff-1edf-558a7cdd6a25/test-blob-8c0222de-6a57-a0c7-cd9a-89f5727f84b9",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-length": "2048",
        "x-ms-blob-content-type": "text/plain",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Wed, 10 Apr 2024 04:10:33 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC59142AF0022F\u0022",
        "Last-Modified": "Wed, 10 Apr 2024 04:10:33 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-04-10T04:10:33.4358063Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-eaf961f6-64fc-4aff-1edf-558a7cdd6a25/test-blob-8c0222de-6a57-a0c7-cd9a-89f5727f84b9?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 10 Apr 2024 04:10:33 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-2047",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": "eunRD3tCHbuyN0E\u002BtjeAkr\u002BO5j5LyEELzqLsI\u002Bggb1sKLrfImfmYFNHXeFStF6Hpe7j4N5Xdw7KnxUDZVvnTksjlM4d/t/nG9dJtc0/tXbcBAqgvJzfGLWsFINO4v73YBOaMyOMaacO/MkHCcE9iumiJ11NQo2qQHwYbepclDTYVlW9pYZXT55jkcPX1BLwbomZrL\u002Bdph2F7\u002B6nd/u8smiQLrdvg\u002BVjStu\u002B7bDJ0mhpK/9gwud5Oqw0O7WXs9umpt9bR6lbgO6gNmXj4rhouB2GOkv4W/OBGvALN0gvy5sAGErVco6/EacQvIyBlVvzz3\u002BYDXWPqkrv1ii1UE2mcGrO48Zxl0mSxyik659jA4GYF2vIl7ohdHH/[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-eaf961f6-64fc-4aff-1edf-558a7cdd6a25/test-blob-8c0222de-6a57-a0c7-cd9a-89f5727f84b9?sv=2024-05-04\u0026se=2024-04-11T04%3A10%3A33Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Type": "text/plain",
        "ETag": "\u00220x8DC59142AF976AB\u0022",
        "Last-Modified": "Wed, 10 Apr 2024 04:10:33 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Wed, 10 Apr 2024 04:10:33 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-04-10T04:10:33.4358063Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-c58972ad-6bb4-df2e-9f48-80870c0b2399/test-blob-5e0b45b1-6ec6-999e-7a8f-cdc64f6c1345?sv=2024-05-04\u0026se=2024-04-11T04%3A10%3A33Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://amandadev2.blob.core.windows.net/test-container-eaf961f6-64fc-4aff-1edf-558a7cdd6a25/test-blob-8c0222de-6a57-a0c7-cd9a-89f5727f84b9?sv=2024-05-04\u0026se=2024-04-11T04%3A10%3A33Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC59142B173375\u0022",
        "Last-Modified": "Wed, 10 Apr 2024 04:10:33 GMT",
        "x-ms-content-crc64": "91c\u002B7DnjdeA=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-04-10T04:10:33.6926581Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-c58972ad-6bb4-df2e-9f48-80870c0b2399/test-blob-5e0b45b1-6ec6-999e-7a8f-cdc64f6c1345?sv=2024-05-04\u0026se=2024-04-11T04%3A10%3A33Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-MD5": "npsMXh1y1hvWiqDC02aqiA==",
        "Content-Type": "text/plain",
        "ETag": "\u00220x8DC59142B173375\u0022",
        "Last-Modified": "Wed, 10 Apr 2024 04:10:33 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 10 Apr 2024 04:10:33 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-04-10T04:10:33.6926581Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-eaf961f6-64fc-4aff-1edf-558a7cdd6a25/test-blob-8c0222de-6a57-a0c7-cd9a-89f5727f84b9?sv=2024-05-04\u0026se=2024-04-11T04%3A10%3A33Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\u00220x8DC59142AF976AB\u0022",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-2047/2048",
        "Content-Type": "text/plain",
        "ETag": "\u00220x8DC59142AF976AB\u0022",
        "Last-Modified": "Wed, 10 Apr 2024 04:10:33 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Wed, 10 Apr 2024 04:10:33 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-c58972ad-6bb4-df2e-9f48-80870c0b2399/test-blob-5e0b45b1-6ec6-999e-7a8f-cdc64f6c1345?sv=2024-05-04\u0026se=2024-04-11T04%3A10%3A33Z\u0026sr=b\u0026sp=racwdxyltmei\u0026sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\u00220x8DC59142B173375\u0022",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-2047/2048",
        "Content-Type": "text/plain",
        "ETag": "\u00220x8DC59142B173375\u0022",
        "Last-Modified": "Wed, 10 Apr 2024 04:10:33 GMT",
        "x-ms-blob-content-md5": "npsMXh1y1hvWiqDC02aqiA==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 10 Apr 2024 04:10:33 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id"[...]
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-eaf961f6-64fc-4aff-1edf-558a7cdd6a25?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 10 Apr 2024 04:10:33 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-04-09T21:10:33.2263915-07:00",
    "RandomSeed": "1927270836",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
