{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-f841492b-9a18-d4ae-1847-43bbc6f693eb?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 00:52:43 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D125E72A939\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:52:43 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-3fdf018f-7af9-52c8-c0df-5f3279d73920/test-blob-6dea12f7-8583-d698-2f30-f1086917acf0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 07 Mar 2025 00:52:43 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": "d4XmluKzFB9cfWJJA65lsJwaqP0p9hCvSw3ZFKTE2Ya5KAepo73DFcFnsWn5pin2SyG73naO8YF0NkrU2v97mKTcj9qnuwzfVpI7wkSmtaTj4siCCPoPKzeFNG1y7zvC6xnFHRdPTpAU3IjkUi48zYGm8fc2+I+pzGSjIYefbGdXedcq4ZiNlJQ4bStxK9kISGbrzP1Di/KKG1Gzqy0IdW8hjNhXEezoGFxj/YpjN6CKmtggs6BpE+7koMZH2uhnMPi8UJ4AsTd6A7Oh4I1oJuOwKBBU58LOt3nqcnAmoT50/M2Sp+cBiumhprDtyDNgfHrilrLXEkg27ZglFj/GU2F1LeO/1n/8rp0nskER4e9F[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-f841492b-9a18-d4ae-1847-43bbc6f693eb/test-blob-79eaf6e4-a935-7c43-9e70-8b630cc16520",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Fri, 07 Mar 2025 00:52:43 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D125E8F1AB7\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:52:43 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-f841492b-9a18-d4ae-1847-43bbc6f693eb/test-blob-79eaf6e4-a935-7c43-9e70-8b630cc16520?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Fri, 07 Mar 2025 00:52:43 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": "+bbcgQph+DWSgQVvrPGp/mOoULJjnZoxp9hwwJCph8gYmSw2bpQlYiMhfm4D58mdXP4Tzb/ovFwbq9ox8Del6fk8VxPEc4/Pg+2PQR8sLcAP02SRlboIL9zQGsK583HrfJR0xo+22OhuRErSWXs9734aIh3SFFM/Myg39FnMFY97o8WKt2cwWfp7IlFvNtVhkitEn9BUGWdBNZJnfuSPoi+6V7W1szcW6ckjVvECz/1S1mEth3W+JopdSIHUydoV7IAhtN4gq9/0LbUHMcJ2P2WUFKiDYhq5/DArWGq1QiDvDWpx4BsfMiqBOVrAt/XI5gkcP7QxkYpmaLiu9FJ1PuuVFyNXBF9KdeJ9AijA+EQ7Y3FgmQJrvXvgC3dicD3YC/puK5/RcOKq0cnSs49hpW9zcpHgFaT[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-f841492b-9a18-d4ae-1847-43bbc6f693eb/test-blob-79eaf6e4-a935-7c43-9e70-8b630cc16520?sv=Sanitized&se=2025-03-08T00%3A52%3A43Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD5D125E979CA5\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:52:43 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Fri, 07 Mar 2025 00:52:43 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-3fdf018f-7af9-52c8-c0df-5f3279d73920/test-blob-6dea12f7-8583-d698-2f30-f1086917acf0?sv=Sanitized&se=2025-03-08T00%3A52%3A43Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-f841492b-9a18-d4ae-1847-43bbc6f693eb/test-blob-79eaf6e4-a935-7c43-9e70-8b630cc16520?sv=sanitized-value&se=2025-03-08T00%3A52%3A43Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D125EAFC46E\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:52:43 GMT",
        "x-ms-content-crc64": "UgcVzpoLEtY=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-3fdf018f-7af9-52c8-c0df-5f3279d73920/test-blob-6dea12f7-8583-d698-2f30-f1086917acf0?sv=Sanitized&se=2025-03-08T00%3A52%3A43Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-MD5": "pLt2EF7NZ7KwgzE6qmsbiA==",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD5D125EAFC46E\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:52:43 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 07 Mar 2025 00:52:43 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-f841492b-9a18-d4ae-1847-43bbc6f693eb/test-blob-79eaf6e4-a935-7c43-9e70-8b630cc16520?sv=Sanitized&se=2025-03-08T00%3A52%3A43Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DD5D125E979CA5\"",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD5D125E979CA5\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:52:43 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Fri, 07 Mar 2025 00:52:43 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-3fdf018f-7af9-52c8-c0df-5f3279d73920/test-blob-6dea12f7-8583-d698-2f30-f1086917acf0?sv=Sanitized&se=2025-03-08T00%3A52%3A43Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DD5D125EAFC46E\"",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD5D125EAFC46E\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:52:43 GMT",
        "x-ms-blob-content-md5": "pLt2EF7NZ7KwgzE6qmsbiA==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 07 Mar 2025 00:52:43 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "+bbcgQph+DWSgQVvrPGp/mOoULJjnZoxp9hww[...]
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-f841492b-9a18-d4ae-1847-43bbc6f693eb?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 00:52:44 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2025-03-06T16:52:43.3628998-08:00",
    "RandomSeed": "295693310",
    "Storage_TestConfigDefault": "ProductionTenant\namandapreprod\nU2FuaXRpemVk\nhttps://amandapreprod.blob.core.windows.net\nhttps://amandapreprod.file.core.windows.net\nhttps://amandapreprod.queue.core.windows.net\nhttps://amandapreprod.table.core.windows.net\n\n\n\n\nhttps://amandapreprod-secondary.blob.core.windows.net\nhttps://amandapreprod-secondary.file.core.windows.net\nhttps://amandapreprod-secondary.queue.core.windows.net\nhttps://amandapreprod-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandapreprod.blob.core.windows.net/;QueueEndpoint=https://amandapreprod.queue.core.windows.net/;FileEndpoint=https://amandapreprod.file.core.windows.net/;BlobSecondaryEndpoint=https://amandapreprod-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandapreprod-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandapreprod-secondary.file.core.windows.net/;AccountName=amandapreprod;AccountKey=U2FuaXRpemVk\nencryptionScope\n\n"
  }
}
