{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-c9da27d0-03c9-0842-99bc-bc919fac79dc?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 30 Sep 2025 20:55:36 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE0063B4CA8C59\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:55:36 GMT",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-c9da27d0-03c9-0842-99bc-bc919fac79dc/test-blob-c10a9474-4d9b-2867-249e-7a5fd46bffd0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Tue, 30 Sep 2025 20:55:37 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE0063B4E21497\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:55:36 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-c9da27d0-03c9-0842-99bc-bc919fac79dc/test-blob-c10a9474-4d9b-2867-249e-7a5fd46bffd0?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 30 Sep 2025 20:55:37 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": "tm8V/cAN5E4pxnb9MKgLkrtSls7RjQq4KPp/NJwQxD7nHSadkbWeAwnVgS/YHaSTH4uE9OLmWyhlXNTGja+xGAE4FhKBbQEFs5PE/Ava3wtV6xURjNBbAcH9NzTh2HVaI2gtoAeREbGJfkBPIV4din3JcKKaoIwx3RRRgzXNJNseatmjrD4DxNpjhw2PDN9i4K22GGfTv4Lb/MPyQI17vFplMLeFed4+xazHNhh/otE17qOIFgtzS6pWx7B7EYRM6MuyKtso3WbOd1O7C4lpXFrxvVHq8qVO8eUMLrIuwrMoe05NzHf2DBE8up+4tz8h7GtVilQyYfUlZDj1HK60oLSfk486HI/i+7A/rTgGlTql60FG2Dhf9RlZJ2g/APBjiBnqGSSw59Dbc46j87S9H87+TzFtbch[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-c9da27d0-03c9-0842-99bc-bc919fac79dc/test-blob-c10a9474-4d9b-2867-249e-7a5fd46bffd0?sv=Sanitized&se=2025-10-01T20%3A55%3A37Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DE0063B4EBA6C5\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:55:37 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Tue, 30 Sep 2025 20:55:36 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-70b402ff-585c-1363-99d3-8ef71458ea14/test-blob-53ecf0d4-bc35-128d-0917-ed4505e72529?sv=Sanitized&se=2025-10-01T20%3A55%3A37Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-c9da27d0-03c9-0842-99bc-bc919fac79dc/test-blob-c10a9474-4d9b-2867-249e-7a5fd46bffd0?sv=sanitized-value&se=2025-10-01T20%3A55%3A37Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
        "x-ms-copy-source-blob-properties": "false",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE0063B518EC7C\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:55:37 GMT",
        "x-ms-content-crc64": "dszWDu2nr6U=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-70b402ff-585c-1363-99d3-8ef71458ea14/test-blob-53ecf0d4-bc35-128d-0917-ed4505e72529?sv=Sanitized&se=2025-10-01T20%3A55%3A37Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "wopNlSN+v4/HR+pGWJTABQ==",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DE0063B518EC7C\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:55:37 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 30 Sep 2025 20:55:37 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-c9da27d0-03c9-0842-99bc-bc919fac79dc/test-blob-c10a9474-4d9b-2867-249e-7a5fd46bffd0?sv=Sanitized&se=2025-10-01T20%3A55%3A37Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DE0063B4EBA6C5\"",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DE0063B4EBA6C5\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:55:37 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Tue, 30 Sep 2025 20:55:36 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-70b402ff-585c-1363-99d3-8ef71458ea14/test-blob-53ecf0d4-bc35-128d-0917-ed4505e72529?sv=Sanitized&se=2025-10-01T20%3A55%3A37Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DE0063B518EC7C\"",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DE0063B518EC7C\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:55:37 GMT",
        "x-ms-blob-content-md5": "wopNlSN+v4/HR+pGWJTABQ==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 30 Sep 2025 20:55:37 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": "tm8V/cAN5E4pxnb9MKgLkrtSls7RjQq4KPp/NJwQxD7nHSadkbWeAwnVgS/YHaSTH4uE9OLmWyhlXNTGja+xGAE4FhKBbQEFs5PE/Ava3wtV6xURjNBbAcH9NzTh2HVaI2gtoAeREbGJfkBPIV4din3JcKKaoIwx3RRRgzXNJNseatmjr[...]
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-70b402ff-585c-1363-99d3-8ef71458ea14/test-blob-53ecf0d4-bc35-128d-0917-ed4505e72529?sv=Sanitized&se=2025-10-01T20%3A55%3A37Z&sr=b&sp=racwdxyltmei&sig=Sanitized&comp=tags",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?>\n",
        "<Tags><TagSet/></Tags>"
      ]
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-c9da27d0-03c9-0842-99bc-bc919fac79dc?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 30 Sep 2025 20:55:38 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2025-09-30T13:55:37.1482063-07:00",
    "RandomSeed": "526799911",
    "Storage_TestConfigDefault": "ProductionTenant\namandapreprod\nU2FuaXRpemVk\nhttps://amandapreprod.blob.core.windows.net\nhttps://amandapreprod.file.core.windows.net\nhttps://amandapreprod.queue.core.windows.net\nhttps://amandapreprod.table.core.windows.net\n\n\n\n\nhttps://amandapreprod-secondary.blob.core.windows.net\nhttps://amandapreprod-secondary.file.core.windows.net\nhttps://amandapreprod-secondary.queue.core.windows.net\nhttps://amandapreprod-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandapreprod.blob.core.windows.net/;QueueEndpoint=https://amandapreprod.queue.core.windows.net/;FileEndpoint=https://amandapreprod.file.core.windows.net/;BlobSecondaryEndpoint=https://amandapreprod-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandapreprod-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandapreprod-secondary.file.core.windows.net/;AccountName=amandapreprod;AccountKey=U2FuaXRpemVk\nencryptionScope\n\n"
  }
}
