{
  "Entries": [
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-ba995859-6658-c93e-3a81-f01d2d9284aa?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 01:27:44 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8691096441E8\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:27:46 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-ba995859-6658-c93e-3a81-f01d2d9284aa/test-blob-a9afb9b6-59d7-e53c-b4b9-56a34ace3dfc",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-length": "512",
        "x-ms-blob-content-type": "text/plain",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Fri, 07 Jun 2024 01:27:45 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8691097C173E\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:27:46 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-06-07T01:27:46.7275070Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-ba995859-6658-c93e-3a81-f01d2d9284aa/test-blob-a9afb9b6-59d7-e53c-b4b9-56a34ace3dfc?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Fri, 07 Jun 2024 01:27:45 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-511",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "pS8oPL4yd8yWOO/RPL0Wl5XuLyvpj+iZO7NchSr0OLleUA49fens7z/mtAXVoySTqhMxL7QrExVHjwAL1fKiov82cuuu2BqsAj/rAtrixJePydsWwgkEMz359u7o4RlNRBIGnzA45dH5hCx0QBA6ZMtofAwXi9/2MT+utOEswyAmnr7I3CRnVuMJHT3cj/Isv5Iif2UMNbgyEG3wiTDvzcEMTqFScYimASUpDW6hGaJMgvVPCUS7GWgFlsu3dsyzGlB80EBR2U0JfH4/4ydKkPbLpAc6oMN8UDQ4TNu874tZdfMdJElh+6ioRY3GfDZBuwXV7NLEeHmMAH8MGI1yTY3y5W0zLGutaaheklo2ttT+95HV5wK5lP16kSTJVeMbNvj/05bIDo6aKIIpZuYfVkmrDSD7nGWKOVFwuZtG4xTEQ1xhNuM9NekCO7+Ajy4XWzvbHUfCIJmSdZlFWFTzU0RtZCOKvR9mbtc3+GGmCaoiWV5ga8bMAiLCz8FJ992UD+d7EioKjJ0bda5viyc47GvvIv/2kuh9oGIAx+5dHHb6oul5K/d/GMzARPUXXXf7ieJVWdXennz//XHHCsWvvVg3dOg9v8F0bwoyNk7yZkPrBD4LB8KhHARseS2Ftw0HEIac3+iOvcog4enKq2cuDJcu3AaGpLWWlljj0UWT77g=",
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8691098760E4\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:27:46 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-content-crc64": "tYE08MsA/WM=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-ba995859-6658-c93e-3a81-f01d2d9284aa/test-blob-a9afb9b6-59d7-e53c-b4b9-56a34ace3dfc?sv=Sanitized&se=2024-06-08T01%3A27%3A45Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Type": "text/plain",
        "ETag": "\"0x8DC8691098760E4\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:27:46 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Fri, 07 Jun 2024 01:27:46 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-06-07T01:27:46.7275070Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-9c3f63ee-1cb2-46e6-6bb2-0e683968394f/test-blob-af32f9bc-0c81-b8a3-5080-7b84fa6598e3?sv=Sanitized&se=2024-06-08T01%3A27%3A45Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://seancanary.blob.core.windows.net/test-container-ba995859-6658-c93e-3a81-f01d2d9284aa/test-blob-a9afb9b6-59d7-e53c-b4b9-56a34ace3dfc?sv=Sanitized&se=2024-06-08T01%3A27%3A45Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC869109A2AEC5\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:27:46 GMT",
        "x-ms-content-crc64": "tYE08MsA/WM=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-06-07T01:27:46.9804229Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-9c3f63ee-1cb2-46e6-6bb2-0e683968394f/test-blob-af32f9bc-0c81-b8a3-5080-7b84fa6598e3?sv=Sanitized&se=2024-06-08T01%3A27%3A45Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-MD5": "HhyksUKkFebk8m/uhKYCkA==",
        "Content-Type": "text/plain",
        "ETag": "\"0x8DC869109A2AEC5\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:27:46 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 07 Jun 2024 01:27:46 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-06-07T01:27:46.9804229Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-ba995859-6658-c93e-3a81-f01d2d9284aa/test-blob-a9afb9b6-59d7-e53c-b4b9-56a34ace3dfc?sv=Sanitized&se=2024-06-08T01%3A27%3A45Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DC8691098760E4\"",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-511/512",
        "Content-Type": "text/plain",
        "ETag": "\"0x8DC8691098760E4\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:27:46 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Fri, 07 Jun 2024 01:27:46 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
    [...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-9c3f63ee-1cb2-46e6-6bb2-0e683968394f/test-blob-af32f9bc-0c81-b8a3-5080-7b84fa6598e3?sv=Sanitized&se=2024-06-08T01%3A27%3A45Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DC869109A2AEC5\"",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-511/512",
        "Content-Type": "text/plain",
        "ETag": "\"0x8DC869109A2AEC5\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:27:46 GMT",
        "x-ms-blob-content-md5": "HhyksUKkFebk8m/uhKYCkA==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 07 Jun 2024 01:27:46 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-06-07T01:27:46.9804229Z"
      },
      "ResponseBody": [
        "�/(<�2w̖8��<�\u0016���/+��;�\\�*�8�^P\u000E=}���?�\u0005գ$��\u00131/�+\u0013\u0015G�\u0000\u000B���6r��\u001A�\u0002?�\u0002��ė���\u0016�\t\u00043=�����\u0019MD\u0012\u0006�08����,t@\u0010:d�h|\f\u0017���1?���,� &����$gV�\t\u001D=܏�,��\"\u007Fe\f5�2\u0010m��0���\fN�Rq��\u0001%)\r",
        "n�\u0019�L��O\tD�\u0019h\u0005�˷v̳\u001AP|�@Q�M\t|~?�'J��ˤ\u0007:��|P48Lۼ�Yu�\u001D$Ia���E��|6A�\u0005����xy�\u0000\u007F\f\u0018�rM���m3,k�i�^�Z6�������\u0002���z�$�U�\u001B6��Ӗ�\u000E��(�)f�\u001FVI�\r",
        " ��e�9Qp��F�\u0014�C\\a6�=5�\u0002;���.\u0017[;�\u001DG� ��u�EXT�SDmd#��\u001Ffn�7�a�\t�\"Y^`k��\u0002\"���I�ݔ\u000F�{\u0012*\n",
        "��\u001Bu�o�'8�k�\"����}�b\u0000��]\u001Cv���y+�\u007F\u0018��D�\u0017]w���UY�ޞ|��q�\n",
        "ů�X7t�=��to\n",
        "26N�fC�\u0004>\u000B\u0007¡\u001C\u0004ly-��\r",
        "\u0007\u0010���莽� ��ʫg.\f�.�\u0006�����X��E��"
      ]
    },
[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-ba995859-6658-c93e-3a81-f01d2d9284aa?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 01:27:45 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-06-06T20:27:45.2913632-05:00",
    "RandomSeed": "1017622273",
    "Storage_TestConfigDefault": "ProductionTenant\nseancanary\nU2FuaXRpemVk\nhttps://seancanary.blob.core.windows.net\nhttps://seancanary.file.core.windows.net\nhttps://seancanary.queue.core.windows.net\nhttps://seancanary.table.core.windows.net\n\n\n\n\nhttps://seancanary-secondary.blob.core.windows.net\nhttps://seancanary-secondary.file.core.windows.net\nhttps://seancanary-secondary.queue.core.windows.net\nhttps://seancanary-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seancanary.blob.core.windows.net/;QueueEndpoint=https://seancanary.queue.core.windows.net/;FileEndpoint=https://seancanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seancanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seancanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seancanary-secondary.file.core.windows.net/;AccountName=seancanary;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
