{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-baf002cf-875a-8e96-0923-595fd1830828?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 01 May 2024 20:40:28 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC6A1EEFBCFC59\"",
        "Last-Modified": "Wed, 01 May 2024 20:40:28 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-6ac58425-e956-b50a-aceb-1536329b4c04/test-blob-ce8b410b-8ec6-77c5-3f7e-6c0f553032b4",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 01 May 2024 20:40:28 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "7mX3AbDf8J9CoAwLIA1Vz/FnNJeCzLRUWN+FgKr1E1MxelSSd47Igw0kRqfqfppNh84je4d/oyGxoqjQWXD1TYy42aa5wldinrCJXYUNatpFOPnb0ZjMstcy4dTm9ymdLvkaMaX0k8R2wNzW9UWbozjNiyF3GXv07CbOh+GCfKaG7C6M8jk1UKQ0ZBC79r2Rlj2cGGwIJRV9JkR+JQzi9EQ2TwkWDrH+mDp9QrRqOPZpPPCj5mM6fsYZD8z0tiuXUXDMhaa0e4eMnX8yiuNgEu1OFegcPw3g/NBC/P/kCuIO5fBEnrNPtcFoFkjkB/Pjuf3fpaBCexJi64nVcX+IqJOdI6XyG3M5/2AnsyjF/PTd[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-baf002cf-875a-8e96-0923-595fd1830828/test-blob-0337f847-dfd4-cc02-4da7-c07da62b97a5",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-content-type": "text/plain",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Wed, 01 May 2024 20:40:28 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC6A1EEFEB4B78\"",
        "Last-Modified": "Wed, 01 May 2024 20:40:28 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-05-01T20:40:28.6505848Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-baf002cf-875a-8e96-0923-595fd1830828/test-blob-0337f847-dfd4-cc02-4da7-c07da62b97a5?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 01 May 2024 20:40:28 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "mP7Emctm6JY8Ki7iIqfIUxbwh4dbKv3bGEJK9qeT1U/3cxCC84lSCMo0MHf7GdiGztDSJ1DvC24B6IGIG/HuqFXe66+WRmCNnX69J/mG3/5qxCjWwa7+CGeigQoIyezYRogiHC4o74hwRYnRMuR0egiCHVbJF+en4ONI9MRVhdOS5OFxY8LQQtSfZnskLdaDLQcBhayVDy6gezxL4PrEGsC2P00DAxZGsduCKbFsgrIMxce9VP8n/NWy0eiFhWLa20u7bu2Ifynwu9TQE+V9NPiJPhszB8bBjkJ4UDIuwCx4p05lsRPFhEWdzZkqVujvNZ3v+0dHptOF+d+qEC73wfunWGuXF4LkxLnVlTotljhZiBuVPsTlMQF64LczGnMWpgudgv59WB4aCzeNcRCZV2KnUIgTYYM[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-baf002cf-875a-8e96-0923-595fd1830828/test-blob-0337f847-dfd4-cc02-4da7-c07da62b97a5?sv=2024-08-04&se=2024-05-02T20%3A40%3A28Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Type": "text/plain",
        "ETag": "\"0x8DC6A1EEFF9532E\"",
        "Last-Modified": "Wed, 01 May 2024 20:40:28 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Wed, 01 May 2024 20:40:28 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-05-01T20:40:28.6505848Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-6ac58425-e956-b50a-aceb-1536329b4c04/test-blob-ce8b410b-8ec6-77c5-3f7e-6c0f553032b4?sv=2024-08-04&se=2024-05-02T20%3A40%3A28Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://seanmcccanada.blob.core.windows.net/test-container-baf002cf-875a-8e96-0923-595fd1830828/test-blob-0337f847-dfd4-cc02-4da7-c07da62b97a5?sv=2024-08-04&se=2024-05-02T20%3A40%3A28Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 409,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "BlobAlreadyExists",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>BlobAlreadyExists</Code><Message>The specified blob already exists.\n",
        "RequestId:f1285630-301e-001a-7f07-9cf05d000000\n",
        "Time:2024-05-01T20:40:28.9727228Z</Message></Error>"
      ]
    },
[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-baf002cf-875a-8e96-0923-595fd1830828?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 01 May 2024 20:40:28 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-05-01T13:40:28.3594667-07:00",
    "RandomSeed": "402094543",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanada\nU2FuaXRpemVk\nhttps://seanmcccanada.blob.core.windows.net\nhttps://seanmcccanada.file.core.windows.net\nhttps://seanmcccanada.queue.core.windows.net\nhttps://seanmcccanada.table.core.windows.net\n\n\n\n\nhttps://seanmcccanada-secondary.blob.core.windows.net\nhttps://seanmcccanada-secondary.file.core.windows.net\nhttps://seanmcccanada-secondary.queue.core.windows.net\nhttps://seanmcccanada-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanada.blob.core.windows.net/;QueueEndpoint=https://seanmcccanada.queue.core.windows.net/;FileEndpoint=https://seanmcccanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanada-secondary.file.core.windows.net/;AccountName=seanmcccanada;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
