{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-8ffc215d-d2c3-853f-7eb9-95bad05dd444?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 01 May 2024 20:40:48 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC6A1EFBF7484A\"",
        "Last-Modified": "Wed, 01 May 2024 20:40:48 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-988c44d1-a94b-e712-fa51-0d9a165824f1/test-blob-ca4ed5a6-0842-b5f0-311a-0c3c0fc493bf",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 01 May 2024 20:40:48 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "tbdo8MLNRdS6exujDm4n63fnD6FAoonGCC/Luf5m/VxQmS3yM1aUAhtMqreB3U5vZ1FygZWI+xItoeiTAYzWU32/U3RBNLchUwyG9PjSRSrgW1Gt9HzGx50axJJuAACOdlc5worZLjKaUS6JAgcaW1u9sqY6KV8A+IvXJnAkslIL932hmYKfBy0eEqNOPcWWAGk2sU1aVE33OMn/AgjCdZ7bfQuKecLZHap5Gxa8srvFQCYH7QEEsaIvqWC4oAUkXJ0Ecr+6DIenXZOj4Tk3O4UOOcHiu4ec18xoWs9hIHylVL55t0D7CzSeX5BuYc9p+G3aqmdEQqEVZ5vzUrG3RT0W/Y16voNFEi2MQ1v3LnX8[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-8ffc215d-d2c3-853f-7eb9-95bad05dd444/test-blob-c33fd557-f835-dc16-673d-24354dd6387e",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-content-type": "text/plain",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Wed, 01 May 2024 20:40:48 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC6A1EFC231471\"",
        "Last-Modified": "Wed, 01 May 2024 20:40:49 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-05-01T20:40:49.1488369Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-8ffc215d-d2c3-853f-7eb9-95bad05dd444/test-blob-c33fd557-f835-dc16-673d-24354dd6387e?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 01 May 2024 20:40:48 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "kqop2Q0DhClcY/YwxNx9cU6g64tAaaOdqPSgGQL5LzmhFuBYojx3sf2Qa0RsWxN1PBEVfXz/GygGizEYYmsmYzO8jq77JM8RKDmNr/5fMUzhK9zx5LG8ovq4UhYKXk+RaQgQsM1leRhCA1VDcWspp1rlNzaONX6C/+yzQ9K4Bsrq/EX2T4F+e7LEr+FceTCPjqq7JSYYAjSJjrDgsTVFif2KWHUlMljZZruDyoWdJoW8JLUn/OGj0fkRbMHQnsp9fiXj0SC6aVtS4r5rlDiu7GgrJIyAHowb54Z7FMaXCcjxBktguVRlAbtZ1BoiOD3BYoBYpXk9/WCZyOmZPlWVu9j1eY7tTjMTxiLRJkly+a9JurFFPmROswnqx/Fqy8NlxBlBLL6v0xRNRd5Xa9YWJs86UIOjT31[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-8ffc215d-d2c3-853f-7eb9-95bad05dd444/test-blob-c33fd557-f835-dc16-673d-24354dd6387e?sv=2024-08-04&se=2024-05-02T20%3A40%3A48Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Type": "text/plain",
        "ETag": "\"0x8DC6A1EFC314328\"",
        "Last-Modified": "Wed, 01 May 2024 20:40:49 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Wed, 01 May 2024 20:40:49 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-05-01T20:40:49.1488369Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-988c44d1-a94b-e712-fa51-0d9a165824f1/test-blob-ca4ed5a6-0842-b5f0-311a-0c3c0fc493bf?sv=2024-08-04&se=2024-05-02T20%3A40%3A48Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://seanmcccanada.blob.core.windows.net/test-container-8ffc215d-d2c3-853f-7eb9-95bad05dd444/test-blob-c33fd557-f835-dc16-673d-24354dd6387e?sv=2024-08-04&se=2024-05-02T20%3A40%3A48Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 409,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "BlobAlreadyExists",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>BlobAlreadyExists</Code><Message>The specified blob already exists.\n",
        "RequestId:f1288760-301e-001a-2007-9cf05d000000\n",
        "Time:2024-05-01T20:40:49.4669910Z</Message></Error>"
      ]
    },
[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-8ffc215d-d2c3-853f-7eb9-95bad05dd444?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 01 May 2024 20:40:49 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-05-01T13:40:48.8583606-07:00",
    "RandomSeed": "1250834400",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanada\nU2FuaXRpemVk\nhttps://seanmcccanada.blob.core.windows.net\nhttps://seanmcccanada.file.core.windows.net\nhttps://seanmcccanada.queue.core.windows.net\nhttps://seanmcccanada.table.core.windows.net\n\n\n\n\nhttps://seanmcccanada-secondary.blob.core.windows.net\nhttps://seanmcccanada-secondary.file.core.windows.net\nhttps://seanmcccanada-secondary.queue.core.windows.net\nhttps://seanmcccanada-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanada.blob.core.windows.net/;QueueEndpoint=https://seanmcccanada.queue.core.windows.net/;FileEndpoint=https://seanmcccanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanada-secondary.file.core.windows.net/;AccountName=seanmcccanada;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
