{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-c33fd04d-c01a-9531-4376-7dc27de501fc?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 01 May 2024 20:40:49 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC6A1EFC96F56C\"",
        "Last-Modified": "Wed, 01 May 2024 20:40:49 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-1481f2aa-5713-631b-f775-90d9cb528f64/test-blob-57ede84d-7c1c-c507-2308-3baac4bd9618",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 01 May 2024 20:40:49 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "7HM2Sbn2/3iWvPZLsNnTd4LhucjoiX1xLopbXJ9QL9huliPyIN64iV9Ax1UHWjigNuiEAwSK3GL1xRsvm6LYRo0e3Rm24FekKS9pp8EoadNSuia3yyvT5LrA/FvDie69aIHI6X0e6lWR4NrVIDShzVtH3OB7IXpiSvhf9eP84aBAqz8/X39VM8/QJepQ/sOFHy7/e6wNQUYHZp+Fv/Vylf85lXX1YW7c8akRqvuQEUw12da0/GX0Mmr4OPng0HPaXpDrF2lOkL7AI4kC/JZLd1VSUOYevZiZRWMK/Ch1+yE2N0xrpPrj5kgY89nb8TXTrcGjjYCNu6D4UdEGQ5SWSydozMRK39Jbb2mdBsm+vlMt[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-c33fd04d-c01a-9531-4376-7dc27de501fc/test-blob-5b50f90e-86d1-c36b-cf12-b2da9c98d802",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-content-type": "text/plain",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Wed, 01 May 2024 20:40:49 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC6A1EFCC3F7C6\"",
        "Last-Modified": "Wed, 01 May 2024 20:40:50 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-05-01T20:40:50.2032326Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-c33fd04d-c01a-9531-4376-7dc27de501fc/test-blob-5b50f90e-86d1-c36b-cf12-b2da9c98d802?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 01 May 2024 20:40:50 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "QOGhNVLGg0y22ExwCY+5S2Rf6FgtegPUsifgxC8pbU8qir1wSfW28BynigfMUHkUgn+QmOkg0sbdzIIr5b4djWv8Rn7SSAFvqfc7he/8CGKty0KvmdRmCbj3knxyigpeiv2bzwn6Qjl9Ie7x5UzW4MQgfRl7bfOWljzG2raE/B/t3PvxYDhYsokIMXjldCRrILG4Ugzw4hwKBTnMNGiD+CTPAwlR5ICLx8uQczx7sSIYW7kEzKoS/fnf51v/i34hhThTFXAbGjsxLIpBX2/gjlQXtNmufyx6vQYPcv0kjDtMb+0DJ5ux/UF+0p8f0J2J/lkH59ekcwYL2VhqC6c+DaBO9fCB3Ge4ZreYMKyNW+1ohXOkHKRkqPzn905CRvGZP8X/0NutCCLxToEfDEJZfn5rAYY0mvD[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-c33fd04d-c01a-9531-4376-7dc27de501fc/test-blob-5b50f90e-86d1-c36b-cf12-b2da9c98d802?sv=2024-08-04&se=2024-05-02T20%3A40%3A49Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Type": "text/plain",
        "ETag": "\"0x8DC6A1EFCD29B9C\"",
        "Last-Modified": "Wed, 01 May 2024 20:40:50 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Wed, 01 May 2024 20:40:50 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-05-01T20:40:50.2032326Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-1481f2aa-5713-631b-f775-90d9cb528f64/test-blob-57ede84d-7c1c-c507-2308-3baac4bd9618?sv=2024-08-04&se=2024-05-02T20%3A40%3A49Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://seanmcccanada.blob.core.windows.net/test-container-c33fd04d-c01a-9531-4376-7dc27de501fc/test-blob-5b50f90e-86d1-c36b-cf12-b2da9c98d802?sv=2024-08-04&se=2024-05-02T20%3A40%3A49Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 409,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "BlobAlreadyExists",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>BlobAlreadyExists</Code><Message>The specified blob already exists.\n",
        "RequestId:f12889ed-301e-001a-6907-9cf05d000000\n",
        "Time:2024-05-01T20:40:50.5276700Z</Message></Error>"
      ]
    },
[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-c33fd04d-c01a-9531-4376-7dc27de501fc?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 01 May 2024 20:40:50 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-05-01T13:40:49.9120615-07:00",
    "RandomSeed": "1833082287",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanada\nU2FuaXRpemVk\nhttps://seanmcccanada.blob.core.windows.net\nhttps://seanmcccanada.file.core.windows.net\nhttps://seanmcccanada.queue.core.windows.net\nhttps://seanmcccanada.table.core.windows.net\n\n\n\n\nhttps://seanmcccanada-secondary.blob.core.windows.net\nhttps://seanmcccanada-secondary.file.core.windows.net\nhttps://seanmcccanada-secondary.queue.core.windows.net\nhttps://seanmcccanada-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanada.blob.core.windows.net/;QueueEndpoint=https://seanmcccanada.queue.core.windows.net/;FileEndpoint=https://seanmcccanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanada-secondary.file.core.windows.net/;AccountName=seanmcccanada;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
