{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-f5d881e8-cf2b-bcb6-c2ac-d5524d2d14cf?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 10 Apr 2024 04:10:47 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC5914335364D2\u0022",
        "Last-Modified": "Wed, 10 Apr 2024 04:10:47 GMT",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-c1a7b609-08ae-c930-3782-f885ce93686e/test-blob-bcfdc8e7-c979-4ac1-ccbf-ff4328178d92",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 10 Apr 2024 04:10:47 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": "cFAi6SMVHgYNwJDmcTtHZowEHWEi4\u002BAnQGP/1Ao71RejVVLpmmr0WbrcDX3oZKVEwqUkJp\u002BaOIxv\u002B6i/FUn80ep5QhvpXswiEMSmRdViP9y\u002BuhJkF653CR3FeZ/BNENx4DySbiKKW2PZARbb9PK3DLvMAVs3l7k8ATn\u002BJOUtYNuBNWWZ0NC6NF\u002BuixaYnBUqDmzj9TPnOUiDVm3ojDZ\u002Bq6E6Wb6NHTzrEs38iQyjo2Uj1BZ5SmqomfsdFnlj0agoMN90XUJWnPAv\u002BONl67A737MIxLcgBGE2kcDCbwfDh0Ak01gsLkUizTcmSlGHQq1L4TbG[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-f5d881e8-cf2b-bcb6-c2ac-d5524d2d14cf/test-blob-c002219c-0e48-879a-03a9-00e61aa73a0b",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-content-type": "text/plain",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Wed, 10 Apr 2024 04:10:47 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC59143371681B\u0022",
        "Last-Modified": "Wed, 10 Apr 2024 04:10:47 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-04-10T04:10:47.7056027Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-f5d881e8-cf2b-bcb6-c2ac-d5524d2d14cf/test-blob-c002219c-0e48-879a-03a9-00e61aa73a0b?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 10 Apr 2024 04:10:47 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": "bNWDsNZaCj/BWj/WOV\u002BMm3OzBPlUaMktFXabLNyU\u002BY3FBdAqbrxwFJrR/7Rfe59jTjd4D417YwMMVZtfvt1iLWCyETOOYS22Q/Beg2kUzZnXON6lG\u002Bn/SqLMHhghEFW8btJUrWpr1O0JwsycHN\u002Ba\u002BIgBiIb/vRF2ssaRwUIVlTKaohWWvx8va2Pxm1kcYy3CMSaQIIfPvbDA3fuj2hOq9CyaAnrKBDho0RwiDiG4WU\u002BZzo8chXWqy\u002BVk1eIkjJFQR6csgmCy\u002BC3uJ05rrK6PCIOsCQuDjW\u002B37zeVZS5WRESL0sd6jNfu5tZiLl0mPx421c1ed4OFzLk3dJIpHZL/mOMK39nnFHysvSI1IV8SkbAYXpBg98[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-f5d881e8-cf2b-bcb6-c2ac-d5524d2d14cf/test-blob-c002219c-0e48-879a-03a9-00e61aa73a0b?sv=2024-05-04\u0026se=2024-04-11T04%3A10%3A47Z\u0026sr=b\u0026sp=Sanitized\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Type": "text/plain",
        "ETag": "\u00220x8DC5914337B51B5\u0022",
        "Last-Modified": "Wed, 10 Apr 2024 04:10:47 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Wed, 10 Apr 2024 04:10:47 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-04-10T04:10:47.7056027Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-c1a7b609-08ae-c930-3782-f885ce93686e/test-blob-bcfdc8e7-c979-4ac1-ccbf-ff4328178d92?sv=2024-05-04\u0026se=2024-04-11T04%3A10%3A47Z\u0026sr=b\u0026sp=Sanitized\u0026sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "Sanitized",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 409,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "BlobAlreadyExists",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003EBlobAlreadyExists\u003C/Code\u003E\u003CMessage\u003EThe specified blob already exists.\n",
        "RequestId:bd26b43b-001e-0062-49fd-8ab7c6000000\n",
        "Time:2024-04-10T04:10:47.9664509Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-f5d881e8-cf2b-bcb6-c2ac-d5524d2d14cf?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 10 Apr 2024 04:10:47 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-04-09T21:10:47.3715738-07:00",
    "RandomSeed": "1898652607",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
