{
  "Entries": [
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-cf1e9d16-d764-bc58-980f-65255a2a73d1?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 01:28:02 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC869113A8A53D\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:28:03 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-d5fa34a1-b66f-aebf-ca73-500db6c7cf46/test-blob-704aa619-16d7-abee-9267-ed2a78f87809",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 07 Jun 2024 01:28:02 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "Ptc1AxU8cJURNJuClqkKROSKguSf1zb6Hl9MsvIN6LYJ6bwRbsf/Vwl9cvieIskdoighyAE5wGegO+W2776iA0vlea3t+NUdiyvbImQ+W/uVLw/K7CC00ChVcTPhSWhK2m+suakcMKlSBD3WXZ4CYd/qIL+u2BcrMKiEmIeiO0HCkEf0kaFReP9ld+fj3nOKUg9T9yionAJYgYkBmJgir8j7E8xXDdA9mKfASGAvSFI1+kV3T0MZGvRFnBAYUOBnQ8cf6MqmMkQ/Fl+B6FOhKDk3y55Sq2CE4fjXEnHAJUjHWAWZEGCHjscBODjkmDKho3TX4YRCFZdmmgbRziDTfvAWuY9NCBjYrz3WUHMnoEnG[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-cf1e9d16-d764-bc58-980f-65255a2a73d1/test-blob-8d7e4ee2-cee9-1108-880a-8ec0881bdbe9",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-content-type": "text/plain",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Fri, 07 Jun 2024 01:28:02 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC869113CEA4FD\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:28:04 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-06-07T01:28:04.0457469Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-cf1e9d16-d764-bc58-980f-65255a2a73d1/test-blob-8d7e4ee2-cee9-1108-880a-8ec0881bdbe9?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Fri, 07 Jun 2024 01:28:02 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "yd/ecI/2dTQonCf3i3Va49T31L1X8e5rbAKnclhITgmg8rKhDq3n8x3o9CYB5OkX7H+gx7c2MdjwcwONTwLc4E0dVpjDudUnD+GgbvzHaYgYj4bYqIdSacDZsJqqWqQaCxTZ441QVDKqeLjWlsPbKQl7dL98BDfGyu3Y6Qk6fbU8hWPo7oX7xzpTLS/OfNL9/oaRLuXkngbdEhmgeGopcPsDmRFf8zuDf62FKNcH904a2uqCqE7PWOdcCttsW07QKb00y+LBnQtLDa84X3Uv1RrKhZ5/p8etM0ApA+hfFiRetP4a0yxrWDzfNpufl/lxLDXAotWwUIL1hpeimJoj6/eK2ap3FQHtXixhoHAsDZxHt9aynnRPrWR8JEyUycCiu0ukFL5P+hc000OoT68RyXj7WuDEcEy[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-cf1e9d16-d764-bc58-980f-65255a2a73d1/test-blob-8d7e4ee2-cee9-1108-880a-8ec0881bdbe9?sv=Sanitized&se=2024-06-08T01%3A28%3A02Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Type": "text/plain",
        "ETag": "\"0x8DC869113DDBEE2\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:28:04 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Fri, 07 Jun 2024 01:28:04 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-06-07T01:28:04.0457469Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-d5fa34a1-b66f-aebf-ca73-500db6c7cf46/test-blob-704aa619-16d7-abee-9267-ed2a78f87809?sv=Sanitized&se=2024-06-08T01%3A28%3A02Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://seancanary.blob.core.windows.net/test-container-cf1e9d16-d764-bc58-980f-65255a2a73d1/test-blob-8d7e4ee2-cee9-1108-880a-8ec0881bdbe9?sv=Sanitized&se=2024-06-08T01%3A28%3A02Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 409,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "BlobAlreadyExists",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>BlobAlreadyExists</Code><Message>The specified blob already exists.\n",
        "RequestId:dc74cb6c-d01e-00de-4a79-b8e2c7000000\n",
        "Time:2024-06-07T01:28:04.3695309Z</Message></Error>"
      ]
    },
[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-cf1e9d16-d764-bc58-980f-65255a2a73d1?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 01:28:03 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-06-06T20:28:02.4603969-05:00",
    "RandomSeed": "448268442",
    "Storage_TestConfigDefault": "ProductionTenant\nseancanary\nU2FuaXRpemVk\nhttps://seancanary.blob.core.windows.net\nhttps://seancanary.file.core.windows.net\nhttps://seancanary.queue.core.windows.net\nhttps://seancanary.table.core.windows.net\n\n\n\n\nhttps://seancanary-secondary.blob.core.windows.net\nhttps://seancanary-secondary.file.core.windows.net\nhttps://seancanary-secondary.queue.core.windows.net\nhttps://seancanary-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seancanary.blob.core.windows.net/;QueueEndpoint=https://seancanary.queue.core.windows.net/;FileEndpoint=https://seancanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seancanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seancanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seancanary-secondary.file.core.windows.net/;AccountName=seancanary;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
