{
  "Entries": [
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-fe62a145-9883-6cd9-3d30-3ae33c52c38d?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 01 May 2024 20:40:52 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC6A1EFE7173A1\"",
        "Last-Modified": "Wed, 01 May 2024 20:40:53 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-9e04f32f-c048-305a-e0f6-10b135c743d7/test-blob-e6b3eeb3-0ee3-d075-93e6-2b7605880ff6",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 01 May 2024 20:40:52 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "VTigW3aIGW7BUXOXngro0DB0L6fkMZsbfba4u5YfFRJRfQN41Xyfk4EptkgOISf3JsibFffujySchd6/0F3YoTtgRiAGb/qz1Zwlu3pSDFuPwZTNhAAbYu7f20+d38MjURUMrdsH8LbO5z9byNSpSXiDMA/JChw7ROMyJpSqFvXZAmllRl9/h9De/53AwJoaNpHWGq+zWkb40Gn41MoiI9FKgcVqRAMZA6g+6gt/e4RJGPAC0/tGJagjbHX1h7MFu9vMdj7Ur/GOvBcHdG87eVXkr7zZIFDVA1wdRteNI3v1OS8vswVFdGj+cxbjPrA56PIgEdj2LJuL9nLht2kZAJmbEjs/C8ZPnjpU2qw58sWs[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-fe62a145-9883-6cd9-3d30-3ae33c52c38d/test-blob-6518e238-cd47-3b47-63b7-4489f455d4e9",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-content-type": "text/plain",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Wed, 01 May 2024 20:40:53 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC6A1EFE9EDAB6\"",
        "Last-Modified": "Wed, 01 May 2024 20:40:53 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-05-01T20:40:53.3154486Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-fe62a145-9883-6cd9-3d30-3ae33c52c38d/test-blob-6518e238-cd47-3b47-63b7-4489f455d4e9?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 01 May 2024 20:40:53 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "GO2C3guZ160/x37Q3s1EUIGfPFPoT2Weff/Grn7sg7uyP9b2FgDrSGfSh/er71vsUUyuq8/l2MmH42AM0ikuU0PCHp73TjqAtPPsFsdu8o6j2l0yPtjszGcMbzKf33U9ozSz6dG89QISLvfb+MICGPHSaPjM/BVq1lE36t8H4NV+rnKTugm85uRaHxDhEdOlClZAzXZ9cacfSBJ/hQojCk0iXEpPbl3oFYITcdwEicR+kuCJxxNeAT3LdHH2PWHaNhXCv7SJVZv4V7f0aQDKGr9OAfMqmkM6w1sMhPrr8tggOTrHQsoQ9DxEkG9bapc8AFmypztusJzRh/tYfNGhDGXe0y/FA9f0Pgy25QnT3lnDz4OgOUqdsome9brPt3dqo4QKfJZnd/2CvWkut8qS/amilKxOANM[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-fe62a145-9883-6cd9-3d30-3ae33c52c38d/test-blob-6518e238-cd47-3b47-63b7-4489f455d4e9?sv=2024-08-04&se=2024-05-02T20%3A40%3A53Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Type": "text/plain",
        "ETag": "\"0x8DC6A1EFEAD5786\"",
        "Last-Modified": "Wed, 01 May 2024 20:40:53 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Wed, 01 May 2024 20:40:53 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-05-01T20:40:53.3154486Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-9e04f32f-c048-305a-e0f6-10b135c743d7/test-blob-e6b3eeb3-0ee3-d075-93e6-2b7605880ff6?sv=2024-08-04&se=2024-05-02T20%3A40%3A53Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://seanmcccanada.blob.core.windows.net/test-container-fe62a145-9883-6cd9-3d30-3ae33c52c38d/test-blob-6518e238-cd47-3b47-63b7-4489f455d4e9?sv=2024-08-04&se=2024-05-02T20%3A40%3A53Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 409,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "BlobAlreadyExists",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>BlobAlreadyExists</Code><Message>The specified blob already exists.\n",
        "RequestId:f1289156-301e-001a-1a07-9cf05d000000\n",
        "Time:2024-05-01T20:40:53.6382859Z</Message></Error>"
      ]
    },
[...]
    {
      "RequestUri": "https://seanmcccanada.blob.core.windows.net/test-container-fe62a145-9883-6cd9-3d30-3ae33c52c38d?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 01 May 2024 20:40:53 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-05-01T13:40:53.0240306-07:00",
    "RandomSeed": "1595027618",
    "Storage_TestConfigDefault": "ProductionTenant\nseanmcccanada\nU2FuaXRpemVk\nhttps://seanmcccanada.blob.core.windows.net\nhttps://seanmcccanada.file.core.windows.net\nhttps://seanmcccanada.queue.core.windows.net\nhttps://seanmcccanada.table.core.windows.net\n\n\n\n\nhttps://seanmcccanada-secondary.blob.core.windows.net\nhttps://seanmcccanada-secondary.file.core.windows.net\nhttps://seanmcccanada-secondary.queue.core.windows.net\nhttps://seanmcccanada-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://seanmcccanada.blob.core.windows.net/;QueueEndpoint=https://seanmcccanada.queue.core.windows.net/;FileEndpoint=https://seanmcccanada.file.core.windows.net/;BlobSecondaryEndpoint=https://seanmcccanada-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seanmcccanada-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seanmcccanada-secondary.file.core.windows.net/;AccountName=seanmcccanada;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
