{
  "Entries": [
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-3cf4f065-76ee-863d-d019-5b74e28590bb?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 01:28:01 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC86911318CD4C\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:28:02 GMT",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-97d29a95-78f9-f5d8-2dd0-1a63ace27573/test-blob-f264d128-fe1d-72e7-3a3f-954f062392a3",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 07 Jun 2024 01:28:01 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "i57hQ2YgTMdm1mtqhrsv54Yy6mcdZtUXkdZq2FekKrkiKewqIj84vhAInQpvH1fikBGFV/T4KCTJybGPtnRwwqyxR13PBcRG+ixXFcjKp3J+h0dGHtLFKgDHYViNqAecl9tevtf6EotMPl3HoRNb/iI/ES4sKaTZ6x1dCKNruFElun3tbOibg3S7+d91/Ynsa2I2TpfYcG42hdO5nQrn4YYLouaWbpI5pI26cC/EY+2UcJ1BNGq5TEoOtucV4eVq0xhZaluiVf3P/aoKHv8+ciLlJS1tpqwcUlWbiLerI8KnT5wXavmS8RugcTe/ry5Lz0TFL7u4/C1sPRcGB81GJNnnYs5iJwgoUzQRzTR1XKIm[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-3cf4f065-76ee-863d-d019-5b74e28590bb/test-blob-aea20a49-ba3b-601f-1259-a86dd8130287",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-content-type": "text/plain",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Fri, 07 Jun 2024 01:28:01 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC8691133D94E7\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:28:03 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-06-07T01:28:03.0950631Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-3cf4f065-76ee-863d-d019-5b74e28590bb/test-blob-aea20a49-ba3b-601f-1259-a86dd8130287?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Fri, 07 Jun 2024 01:28:01 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": "6fQR5cBLLxEnaQxmF2j2Vdj/phY5e2DP1UEL7nx9W06BokFVq+4XZWwD+nB6ozH9nc3rmx7EQ22UQQ9/P0CVqQ2+5HUmoarq50GqNoHwVDIQDVCukcAvvF7UwWnemCYsbVBiu7681/wjAbPdGg3spOzdbzHv5hdNjicWUeBAC08afcgwjZlzUzZUi5AMUqJQ6Bx8ASn1PIc5FSyXpYUc4vZkwpxFuxZTahv6mlqHQTyFxmnDwwklJUFB93ds3K6wOKmZp5AFCywGKZcO+qEsstTwEd8cWB7sPpxbBMSf541tSmKx7Zmsf7o8vZpyFyufFESjfMrOlN+KrWjzqgdoZ0EJoLA/e8Q6RJIk35uEeSdxvO9/+2vCnrWDJ0AwuNWz1FZYaHZ6X5mAaDc4qbVDBjNBgu0X6Gv[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-3cf4f065-76ee-863d-d019-5b74e28590bb/test-blob-aea20a49-ba3b-601f-1259-a86dd8130287?sv=Sanitized&se=2024-06-08T01%3A28%3A01Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Type": "text/plain",
        "ETag": "\"0x8DC8691134953B7\"",
        "Last-Modified": "Fri, 07 Jun 2024 01:28:03 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Fri, 07 Jun 2024 01:28:03 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-08-04",
        "x-ms-version-id": "2024-06-07T01:28:03.0950631Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-97d29a95-78f9-f5d8-2dd0-1a63ace27573/test-blob-f264d128-fe1d-72e7-3a3f-954f062392a3?sv=Sanitized&se=2024-06-08T01%3A28%3A01Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://seancanary.blob.core.windows.net/test-container-3cf4f065-76ee-863d-d019-5b74e28590bb/test-blob-aea20a49-ba3b-601f-1259-a86dd8130287?sv=Sanitized&se=2024-06-08T01%3A28%3A01Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 409,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "BlobAlreadyExists",
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>BlobAlreadyExists</Code><Message>The specified blob already exists.\n",
        "RequestId:dc74cb0d-d01e-00de-7c79-b8e2c7000000\n",
        "Time:2024-06-07T01:28:03.3948474Z</Message></Error>"
      ]
    },
[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-3cf4f065-76ee-863d-d019-5b74e28590bb?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Jun 2024 01:28:02 GMT",
        "x-ms-version": "2024-08-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-08-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-06-06T20:28:01.5164980-05:00",
    "RandomSeed": "682134599",
    "Storage_TestConfigDefault": "ProductionTenant\nseancanary\nU2FuaXRpemVk\nhttps://seancanary.blob.core.windows.net\nhttps://seancanary.file.core.windows.net\nhttps://seancanary.queue.core.windows.net\nhttps://seancanary.table.core.windows.net\n\n\n\n\nhttps://seancanary-secondary.blob.core.windows.net\nhttps://seancanary-secondary.file.core.windows.net\nhttps://seancanary-secondary.queue.core.windows.net\nhttps://seancanary-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seancanary.blob.core.windows.net/;QueueEndpoint=https://seancanary.queue.core.windows.net/;FileEndpoint=https://seancanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seancanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seancanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seancanary-secondary.file.core.windows.net/;AccountName=seancanary;AccountKey=Sanitized\nseanscope1\n\n"
  }
}
