{
  "Entries": [
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-b05bd964-7ef3-e746-b47c-72d3b2bd25ee?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 31 Jan 2025 21:41:35 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD424008E159A6\"",
        "Last-Modified": "Fri, 31 Jan 2025 21:41:35 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-18e9d699-66f1-2789-f112-73ea906fc25f/test-blob-053f7a48-7332-19f4-d7f2-67e16195a973",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Fri, 31 Jan 2025 21:41:35 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": "25idNhwlxNlUu+feqiHlTsYezTRR6UGdp4fjGI/tx8oouCGpXzkyX4QITHltKLQQOy4sQ5bQSPJX/46UQatKZvMdtfIAPO+M7G2wSZ3IMH/S09xgwYMzV3AuUV+qnR7YvuWFUHLCD/8/n1coIP9Uj88PwW7O6aVv6V6B0eqP4k5P2Iq3QuAMEMPdICIsCzdx2cKQm9yvCdVAFmYUQD4UsL0J2Eh0nU3vArGq8ciDQ94mEPco/kZyn861dyx5+M+EyHBlIzLu/Dx1oZgqBBgMvdKI7TBG7LF2ljl5viUgdQriJihXHSCrNxO6sl2tR5q2qLpZ8AqfPtu+7oz5dD4WVCuOSN7vtJ+y3bUcizlTyU6e[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-b05bd964-7ef3-e746-b47c-72d3b2bd25ee/test-blob-53be4013-1493-4ea7-1df8-ea607c768b05",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Fri, 31 Jan 2025 21:41:35 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD424008F8D9A0\"",
        "Last-Modified": "Fri, 31 Jan 2025 21:41:35 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05",
        "x-ms-version-id": "2025-01-31T21:41:35.2354991Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-b05bd964-7ef3-e746-b47c-72d3b2bd25ee/test-blob-53be4013-1493-4ea7-1df8-ea607c768b05?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Fri, 31 Jan 2025 21:41:35 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": "fHBN72MPhbl+rNwFuqk4Lr1kz+Qyt8uNquet7ju4BkC6eylQQRBSmZWxAtgIvJynPXUNmjq6R8Wkv0V7YpZ9xaabSj6A5+2tETVPgLTzhe1LBbHGq2sG/zRkq4LK1jf/NDwxbHFeJ1WIX4gEa8YQsDpYMFzltxk6lUoJGztr4jr+T0x3whh77N1bPUvjAZRtU/tHcqbaGn0j9tcmVAsZHX1NBRt6mO0i3UN+iXnNV5S2nMhAI3CUIzXOVMxBVJjSQSDOlvt487sNJZViXJADVZ9CcLhD2foNuOHmq0Mh4YirrEhZ/8CYPagMMv3aMceky/8t/uPfjmcmwN0Zkkd37EQMtq9IqlXeqjMPN6b8MoYaQeBD8+KlzB7gMz7ifqthlEa4znoXXCGqTlOwz1fBKY5X/1BmM/h[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-b05bd964-7ef3-e746-b47c-72d3b2bd25ee/test-blob-53be4013-1493-4ea7-1df8-ea607c768b05?sv=Sanitized&se=2025-02-01T21%3A41%3A35Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD424008FFB678\"",
        "Last-Modified": "Fri, 31 Jan 2025 21:41:35 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Fri, 31 Jan 2025 21:41:35 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05",
        "x-ms-version-id": "2025-01-31T21:41:35.2354991Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-18e9d699-66f1-2789-f112-73ea906fc25f/test-blob-053f7a48-7332-19f4-d7f2-67e16195a973?sv=Sanitized&se=2025-02-01T21%3A41%3A35Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://jalauzonnettest.blob.core.windows.net/test-container-b05bd964-7ef3-e746-b47c-72d3b2bd25ee/test-blob-53be4013-1493-4ea7-1df8-ea607c768b05?sv=sanitized-value&se=2025-02-01T21%3A41%3A35Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 409,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "BlobAlreadyExists",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>BlobAlreadyExists</Code><Message>The specified blob already exists.\n",
        "RequestId:fe493261-301e-0096-2b28-74d313000000\n",
        "Time:2025-01-31T21:41:35.3912363Z</Message></Error>"
      ]
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-b05bd964-7ef3-e746-b47c-72d3b2bd25ee?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 31 Jan 2025 21:41:35 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2025-01-31T13:41:35.2109026-08:00",
    "RandomSeed": "1569632581",
    "Storage_TestConfigDefault": "ProductionTenant\njalauzonnettest\nU2FuaXRpemVk\nhttps://jalauzonnettest.blob.core.windows.net\nhttps://jalauzonnettest.file.core.windows.net\nhttps://jalauzonnettest.queue.core.windows.net\nhttps://jalauzonnettest.table.core.windows.net\n\n\n\n\nhttps://jalauzonnettest-secondary.blob.core.windows.net\nhttps://jalauzonnettest-secondary.file.core.windows.net\nhttps://jalauzonnettest-secondary.queue.core.windows.net\nhttps://jalauzonnettest-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://jalauzonnettest.blob.core.windows.net/;QueueEndpoint=https://jalauzonnettest.queue.core.windows.net/;FileEndpoint=https://jalauzonnettest.file.core.windows.net/;BlobSecondaryEndpoint=https://jalauzonnettest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jalauzonnettest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jalauzonnettest-secondary.file.core.windows.net/;AccountName=jalauzonnettest;AccountKey=U2FuaXRpemVk\ntestscope1\n\n"
  }
}
