{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-0193626c-9baf-9e30-6de4-da54c9c6107b?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 30 Sep 2025 20:56:14 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE0063CB233615\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:56:14 GMT",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-9391a149-f7da-0a4c-59c9-2997e4d21f0d/test-blob-ab0d314f-43be-c93e-2dce-6c42e86478c0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Tue, 30 Sep 2025 20:56:14 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": "XSD/H3BI6toKy34cL2DQaoWKWeDcb0bhd8/SQLOIR+dVJHEf2DyhlGnqORa28BNf3mXKkVyJne7aHqehdakngYSXxwrusJFJ6cV38TUvKoa7c2JNvrWLzIeDRbqUAB6/w7iSHykIcC3UgKiXEqu5qvMg5QJH2cLPC/uDa2vXtOmmty58nQtdswI1eT4N9LrcyZvGcxobd+n2whMthQTB/cu/8Fp8PQznwzEAEmCEwhZBpqLPEEDOikBFhtv3Ly79c3tyTQRfX4yO3rDpG2WJcQD87N5i8eyK8WUaN7Yx75QDAp/kEXQS4UcWQTGQ5W/buxTa+0JPmoGO51yeRSfVXe8c5RjFpGCL6QqWTLC7+gz2[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-0193626c-9baf-9e30-6de4-da54c9c6107b/test-blob-ba6756a1-19c9-797d-9699-5aa1cea40dc5",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Tue, 30 Sep 2025 20:56:14 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE0063CB441583\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:56:14 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-0193626c-9baf-9e30-6de4-da54c9c6107b/test-blob-ba6756a1-19c9-797d-9699-5aa1cea40dc5?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 30 Sep 2025 20:56:14 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": "ngevzF3UOEwfmN/imC+omLpg6E2RgvhrRNGB05Vg438bHL8iR1OUBZGEUB7DxJaMFyhlHpEPIBwORIeMU2S3vrRgxntwhlFnzOK7DTHap4A69Lts+sXtDPyjEwLLB7EszZFpY/0bHJHX/lGuUxPqNJ0HUl6pSsTvcrp/zHNPm8QwjkCgcEOCHtgplfxzPrjoud5kxLVTg4LNevFDnE8eh2OMfsTTScRahDOGf7XHezQBlhOU6tcP3Qu90vZSP4KICw2Y5sD0FW8aCj+CzAPNBf69QQY8iZyLfaC4FnbNCESx/nOnL5R0DYGjeeCXjREI7833lP58TIFwDWkfO//5TQH70c6PJtZqSTOEmBC89PCPsCap1XNFNLLyNiIrVNKCqizfnLtDeMn3jEvL97NxtBh4j4rYT3e[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-0193626c-9baf-9e30-6de4-da54c9c6107b/test-blob-ba6756a1-19c9-797d-9699-5aa1cea40dc5?sv=Sanitized&se=2025-10-01T20%3A56%3A14Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DE0063CB4D330E\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:56:14 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Tue, 30 Sep 2025 20:56:14 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-9391a149-f7da-0a4c-59c9-2997e4d21f0d/test-blob-ab0d314f-43be-c93e-2dce-6c42e86478c0?sv=Sanitized&se=2025-10-01T20%3A56%3A14Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-0193626c-9baf-9e30-6de4-da54c9c6107b/test-blob-ba6756a1-19c9-797d-9699-5aa1cea40dc5?sv=sanitized-value&se=2025-10-01T20%3A56%3A14Z&sr=b&sp=racwdxyltmei&sig=Sanitized",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 409,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "BlobAlreadyExists",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>BlobAlreadyExists</Code><Message>The specified blob already exists.\n",
        "RequestId:70375a05-701e-0032-554c-32a0c3000000\n",
        "Time:2025-09-30T20:56:14.8536129Z</Message></Error>"
      ]
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-0193626c-9baf-9e30-6de4-da54c9c6107b?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 30 Sep 2025 20:56:15 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2025-09-30T13:56:14.5761101-07:00",
    "RandomSeed": "718958347",
    "Storage_TestConfigDefault": "ProductionTenant\namandapreprod\nU2FuaXRpemVk\nhttps://amandapreprod.blob.core.windows.net\nhttps://amandapreprod.file.core.windows.net\nhttps://amandapreprod.queue.core.windows.net\nhttps://amandapreprod.table.core.windows.net\n\n\n\n\nhttps://amandapreprod-secondary.blob.core.windows.net\nhttps://amandapreprod-secondary.file.core.windows.net\nhttps://amandapreprod-secondary.queue.core.windows.net\nhttps://amandapreprod-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandapreprod.blob.core.windows.net/;QueueEndpoint=https://amandapreprod.queue.core.windows.net/;FileEndpoint=https://amandapreprod.file.core.windows.net/;BlobSecondaryEndpoint=https://amandapreprod-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandapreprod-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandapreprod-secondary.file.core.windows.net/;AccountName=amandapreprod;AccountKey=U2FuaXRpemVk\nencryptionScope\n\n"
  }
}
