{
  "Entries": [
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-112a9d43-8737-db54-6e39-a632b37181ba?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-public-access": "container",
        "x-ms-date": "Wed, 10 Apr 2024 04:10:45 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC5914325C3D56\u0022",
        "Last-Modified": "Wed, 10 Apr 2024 04:10:45 GMT",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-022fb58b-dcee-be17-0b85-7b00271edf24/test-blob-09ba50be-9873-b00b-94dd-4b9b1e1159c5",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-date": "Wed, 10 Apr 2024 04:10:45 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": "A\u002BEetK/Hf6BldTL\u002B6LM7PmikF0L1YRSsEFtEHrF5TONwrkck5jYCMY49Yh7WlmYyTlCi\u002BdV1PaLMcaRTg2Hu6yhPjjpsF1cyoea0uP/21nn1Es9g1lMO\u002BnGkV3SRrq0sT3b1hgcsxTf5cFjuwYSj1psqXnCSjRXVQJTIyL/joPI4h2mIAE9yyUyXZ2b7IDnsAYHZZ1A9msFhH0ZzY/14Fc9ltTkbGtZLuJUk\u002Biau2iBb3MY\u002BCjmh\u002B\u002B2oJ\u002BAJ/mZOH1GWlWr/0Oaqja\u002B7GKCaskUlF4Y2OQuWw7lLc/P1Qrku1drUGEW1Wwzgk3[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-112a9d43-8737-db54-6e39-a632b37181ba/test-blob-39904450-7d51-401b-121c-cc883335a3fd",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-content-type": "text/plain",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Wed, 10 Apr 2024 04:10:45 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\u00220x8DC5914327EA059\u0022",
        "Last-Modified": "Wed, 10 Apr 2024 04:10:46 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-04-10T04:10:46.1145177Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-112a9d43-8737-db54-6e39-a632b37181ba/test-blob-39904450-7d51-401b-121c-cc883335a3fd?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 10 Apr 2024 04:10:45 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": "m5qhvjCks9GxjIIaItaoIFaNuDTFEsCItkGIN2ManGsfCpXPIC\u002BKZhbhL8ZPxUQtcU8bviPoTYnZGQfuHHtulu8W\u002BxhB2P8nA1Ed5OP6OfH9W8YT/91INr0M9gcom0qbcpjWOMks7JhP9LvSy2ml3t8V8cG0WpcSzsRaNOL4/2gGgXFKJAEn0G4uxAoidmtTZhgnEqqJ5xcAxGoF0be2VvVTy0n3Wrne7iBShZaM71hZBs7K0Oy\u002BfZpZSmCXIv\u002B3eG0Vz6oiXAteSSSJNmGBdNQRq8ro64UIlE2unhBZR8shmg0odh\u002BtN6rCa4fINEY42NaLhXc0z4znDTpcc736BAFZaJxUWP20ZHQfJX/\u002BP2AHdcU6zsJU7MuAQGnlUMPtx[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-112a9d43-8737-db54-6e39-a632b37181ba/test-blob-39904450-7d51-401b-121c-cc883335a3fd?sv=2024-05-04\u0026se=2024-04-11T04%3A10%3A45Z\u0026sr=b\u0026sp=Sanitized\u0026sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Type": "text/plain",
        "ETag": "\u00220x8DC5914328814D0\u0022",
        "Last-Modified": "Wed, 10 Apr 2024 04:10:46 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Wed, 10 Apr 2024 04:10:46 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-04-10T04:10:46.1145177Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-022fb58b-dcee-be17-0b85-7b00271edf24/test-blob-09ba50be-9873-b00b-94dd-4b9b1e1159c5?sv=2024-05-04\u0026se=2024-04-11T04%3A10%3A45Z\u0026sr=b\u0026sp=Sanitized\u0026sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "Sanitized",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 409,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "BlobAlreadyExists",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": [
        "\uFEFF\u003C?xml version=\u00221.0\u0022 encoding=\u0022utf-8\u0022?\u003E\u003CError\u003E\u003CCode\u003EBlobAlreadyExists\u003C/Code\u003E\u003CMessage\u003EThe specified blob already exists.\n",
        "RequestId:bd26aebf-001e-0062-0dfd-8ab7c6000000\n",
        "Time:2024-04-10T04:10:46.3961514Z\u003C/Message\u003E\u003C/Error\u003E"
      ]
    },
[...]
    {
      "RequestUri": "https://amandadev2.blob.core.windows.net/test-container-112a9d43-8737-db54-6e39-a632b37181ba?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 10 Apr 2024 04:10:46 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-04-09T21:10:45.7792595-07:00",
    "RandomSeed": "373260629",
    "Storage_TestConfigDefault": "ProductionTenant\namandadev2\nU2FuaXRpemVk\nhttps://amandadev2.blob.core.windows.net\nhttps://amandadev2.file.core.windows.net\nhttps://amandadev2.queue.core.windows.net\nhttps://amandadev2.table.core.windows.net\n\n\n\n\nhttps://amandadev2-secondary.blob.core.windows.net\nhttps://amandadev2-secondary.file.core.windows.net\nhttps://amandadev2-secondary.queue.core.windows.net\nhttps://amandadev2-secondary.table.core.windows.net\n\nSanitized\n\n\nCloud\nBlobEndpoint=https://amandadev2.blob.core.windows.net/;QueueEndpoint=https://amandadev2.queue.core.windows.net/;FileEndpoint=https://amandadev2.file.core.windows.net/;BlobSecondaryEndpoint=https://amandadev2-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandadev2-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandadev2-secondary.file.core.windows.net/;AccountName=amandadev2;AccountKey=Sanitized\nencryptionScope\n\n"
  }
}
