{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/test-project/openai/conversations?api-version=2025-11-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-stainless-arch": "x64",
        "x-stainless-lang": "js",
        "x-stainless-package-version": "6.15.0",
        "x-stainless-runtime": "node"
      },
      "RequestBody": {},
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2025-05-15-preview,2025-11-15-preview",
        "azureml-served-by-cluster": "hyena-westus2-02",
        "Content-Type": "application/json; charset=utf-8",
        "x-http2-stream-id": "7",
        "x-ms-region": "West US 2",
        "x-ms-response-type": "standard"
      },
      "ResponseBody": {
        "id": "conv_23f8952e233c36fd00EpHPqPiWzENQrzyI4bBlvK0w7v6n5h0T",
        "object": "conversation",
        "created_at": 1765816302,
        "metadata": {}
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/test-project/openai/conversations?api-version=2025-11-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "x-stainless-arch": "x64",
        "x-stainless-lang": "js",
        "x-stainless-package-version": "6.15.0",
        "x-stainless-runtime": "node"
      },
      "RequestBody": {
        "items": [
          {
            "type": "message",
            "role": "user",
            "content": [
              {
                "type": "input_text",
                "text": "some text"
              }
            ]
          }
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2025-05-15-preview,2025-11-15-preview",
        "azureml-served-by-cluster": "hyena-westus2-02",
        "Content-Type": "application/json; charset=utf-8",
        "x-http2-stream-id": "7",
        "x-ms-region": "West US 2",
        "x-ms-response-type": "standard"
      },
      "ResponseBody": {
        "id": "conv_85a1[...]
