{
  "Entries": [
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models/dtmi%3Aexample%3Afloor%3B11708743?includeModelDefinition=true\u0026api-version=2023-06-30",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "dd589250-9ad9-4f3e-be66-a88ce016cc79",
        "traceresponse": "00-6868ae24b583b2df9b759d1dcc98c4b7-f36a23e9f9d1f748-01",
        "x-ms-error-code": "ModelNotFound"
      },
      "ResponseBody": {
        "error": {
          "code": "ModelNotFound",
          "message": "There is no Model(s) available that matches the provided id(s) dtmi:example:floor;11708743. Check that the Model ID provided is valid by doing a Model_List API call."
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models/dtmi%3Aexample%3Aroom%3B130960809?includeModelDefinition=true\u0026api-version=2023-06-30",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "a83c960d-ebba-453e-85c2-fe525b68bd17",
        "traceresponse": "00-02adfd3e250a993648e5535168f538ff-e6b426339dc8c5dc-01",
        "x-ms-error-code": "ModelNotFound"
      },
      "ResponseBody": {
        "error": {
          "code": "ModelNotFound",
          "message": "There is no Model(s) available that matches the provided id(s) dtmi:example:room;130960809. Check that the Model ID provided is valid by doing a Model_List API call."
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models?api-version=2023-06-30",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": "[{    \u0022@id\u0022: \u0022dtmi:example:room;130960809\u0022,    \u0022@type\u0022: \u0022Interface\u0022,    \u0022displayName\u0022: \u0022Room\u0022,    \u0022description\u0022: \u0022An enclosure inside a building.\u0[...]
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models?api-version=2023-06-30",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "b2e6382f-074d-4c1e-a337-048aa3a9d10b",
        "traceresponse": "00-b98388f5fdf6cecbb821dba825a4c5b8-6448b271f1d3a19b-01"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "dtmi:example:room;180719651",
            "description": {
              "en": "An enclosure inside a building."
            },
            "displayName": {
              "en": "Room"
            },
            "decommissioned": false,
            "uploadTime": "2023-07-20T16:56:11.0624733\u002B00:00"
          },
          {
            "id": "dtmi:example:room;151014275",
            "description": {
              "en": "An enclosure inside a building."
            },
            "displayName": {
              "en": "Room"
            },
            "decommissioned": false,
            "uploadTime": "2023-07-20T16:56:11.2279247\u002B00:00"
          },
          {
            "id": "dtmi:example:Ward;192203971",
            "description": {
        [...]
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/roomTwin841181731?api-version=2023-06-30",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "b83ca9cb-553a-4e03-90f5-6f224f602755",
        "traceresponse": "00-5371cabea54fe9bcbb0cc4faa3fc7386-a9e93abb655265c2-01",
        "x-ms-error-code": "DigitalTwinNotFound"
      },
      "ResponseBody": {
        "error": {
          "code": "DigitalTwinNotFound",
          "message": "There is no digital twin instance that exists with the ID roomTwin841181731. Please verify that the twin id is valid and ensure that the twin is not deleted. See section on querying the twins https://aka.ms/adtv2query."
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/roomTwin841181731?api-version=2023-06-30",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "$dtId": null,
        "$etag": null,
        "Temperature": 80,
        "Humidity": 25,
        "IsOccupied": true,
        "EmployeeId": "Employee1",
        "$metadata": {
          "$model": "dtmi:example:room;130960809"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\u00229990dc71-200f-4c79-bad7-ede5e2a5e5e5\u0022",
        "mise-correlation-id": "f971e0c9-4590-4896-b9ec-3f65b641c747",
        "traceresponse": "00-5405b516fd0a9ef940a7765e4008e139-b944fda589fead05-01"
      },
      "ResponseBody": {
        "$dtId": "roomTwin841181731",
        "$etag": "W/\u00229990dc71-200f-4c79-bad7-ede5e2a5e5e5\u0022",
        "Temperature": 80,
        "Humidity": 25,
        "IsOccupied": true,
        "EmployeeId": "Employee1",
        "$metadata": {
          "$model": "dtmi:example:room;130960809",
          "$lastUpdateTime": "2023-08-08T17:22:25.3117548Z",
          "Temperature": {
            "lastUpdateTime": "2023-08-08T17:22:25.3117548Z"
          },
          "Humidity": {
            "lastUpdateTime": "2023-08-08T17:22:25.3117548Z"
          },
          "IsOccupied": {
            "lastUpdateTime": "2023-08-08T17:22:25.3117548Z"
          },
          "EmployeeId": {
            "lastUpdateTime": "2023-08-08T17:22:25.3117548Z"
          }
        }
      }
    },
[...]
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/query?api-version=2023-06-30",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "max-items-per-page": "5"
      },
      "RequestBody": {
        "query": "SELECT * FROM digitaltwins"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "933665be-c7d3-4fad-819c-cb110fe8aca5",
        "query-charge": "3.26",
        "traceresponse": "00-cb86349b4085a0b5e40b6ee5aacc0a71-bdd6160aa850c1b2-01"
      },
      "ResponseBody": {
        "value": [
          {
            "$dtId": "roomTwin1513813427",
            "$etag": "W/\u002212a9d9f0-8345-4538-86f0-f6cd8e10af8f\u0022",
            "Temperature": 80,
            "Humidity": 25,
            "IsOccupied": true,
            "EmployeeId": "Employee1",
            "$metadata": {
              "$model": "dtmi:example:room;116164165",
              [...]
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/query?api-version=2023-06-30",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "max-items-per-page": "5"
      },
      "RequestBody": {
        "continuationToken": "{\u0022_t\u0022:2,\u0022_s\u0022:null,\u0022_rc\u0022:\u0022[{\\\u0022token\\\u0022:\\\u0022\u002BRID:~FoBNAKfy0os0pAQAAAAAAA==#RT:1#TRC:5#ISV:2#IEO:65567#QCF:8#FPC:AgESEhJYADIk8P\u002B3UREAAwDBAAAMFQDA//8D/A8mAgAKwQAADCQAwP//p5\u002BBKQARAAAFwQCAARUA\u002BP9/cHp4PAAAGLEAAAY1AID//38PHgwwwAg9gIEAADASAADw/wM=\\\u0022,\\\u0022range\\\u0022:{\\\u0022min\\\u0022:\\\u0022\\\u0022,\\\u0022max\\\u0022:\\\u0022FF\\\u0022}}]\u0022,\u0022_q\u0022:\u0022SELECT * FROM digitaltwins\u0022,\u0022_id\u0022:\u0[...]
[...]
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/query?api-version=2023-06-30",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "max-items-per-page": "5"
      },
      "RequestBody": {
        "continuationToken": "{\u0022_t\u0022:2,\u0022_s\u0022:null,\u0022_rc\u0022:\u0022[{\\\u0022token\\\u0022:\\\u0022\u002BRID:~FoBNAKfy0ovmpwQAAAAAAA==#RT:25#TRC:125#ISV:2#IEO:65567#QCF:8#FPC:AgESEhImAOQnQHB6eDwAABixAAAGNQCA//9/Dx4MMMAIPYCBAAAwEgAA8P8D\\\u0022,\\\u0022range\\\u0022:{\\\u0022min\\\u0022:\\\u0022\\\u0022,\\\u0022max\\\u0022:\\\u0022FF\\\u0022}}]\u0022,\u0022_q\u0022:\u0022SELECT * FROM digitaltwins\u0022,\u0022_id\u0022:\u00221dadd742-b502-4842-888e-11366f3972ca\u0022,\u0022_tr\u0022:125,\u0022_pn\u0022:25}"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "44b16fc7-e70f-4935-8058-d1a597c5accf",
        "query-charge": "3.15",
        "traceresponse": "00-0aed4275f1698214843a880417a19cb2-c7160a693bd22dfe-01"
      },
      "ResponseBody": {
        "value": [
          {
            "$dtId": "twin1",
            "$etag": "W/\u00226e364930-ed74-4e74-8e92-4e1d6cfb2247\u0022",
            "property1": "propertyValue1",
            "property11": 10,
            "property12": {
              "subProperty1": "subProperty1Value",
              "subProperty2": "subProperty2Value"
            },
            "$metadata": {
              "$model": "dtmi:com:microsoft:azure:iot:model1;1",
              "$lastUpdateTime": "2023-08-02T18:03:06.1238216Z",
              "property1": {
                "lastUpdateTime": "2023-08-02T18:03:06.1238216Z"
              },
              "property11": {
                "lastUpdateTime": "2023-08-02T18:03:06.1238216Z"
              },
              "property12": {
                "lastUpdateTime": "2023-08-02T18:03:06.1238216Z"
              }
            }
          },
          {
            "$dtId": "twin0",
            "$etag": "W/\u0022ca3b85c8-6e98-45f2-bc69-2e7f9eeecf0e\u0022",
            "property0": "propertyValue1",
            "property01": 10,
            "property02": {
              "subProperty1": "subProperty1Value",
              "subProperty2": "subProperty2Value"
            },
            "$metadata": {
              "$model": "dtmi:com:microsoft:azure:iot:model0;1",
              "$lastUpdateTime": "2023-08-02T18:03:06.1280018Z",
              "property0": {
                "lastUpdateTime": "2023-08-02T18:03:06.1280018Z"
              },
              "property01": {
                "lastUpdateTime": "2023-08-02T18:03:06.1280018Z"
              },
 [...]
[...]
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models/dtmi%3Aexample%3Aroom%3B130960809?api-version=2023-06-30",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "mise-correlation-id": "e8d65c81-5409-4bd6-9f06-310d00e14bb8",
        "traceresponse": "00-f40b2a6738c2bb753be93528f227da92-0018c094375f2d0b-01"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": null,
    "DIGITALTWINS_URL": "https://fakeHost.api.wus2.digitaltwins.azure.net",
    "RandomSeed": "1627472831"
  }
}
