{
  "Entries": [
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models/dtmi%3Aexample%3Afloor%3B11362114?includeModelDefinition=true&api-version=2023-10-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "ae5d5e60-9737-4150-8b0d-e9fa99d8d647",
        "traceresponse": "00-4f8fa479e8ff395647e1f15d84d8e6ad-9fecf34cfc714780-01",
        "x-ms-error-code": "ModelNotFound"
      },
      "ResponseBody": {
        "error": {
          "code": "ModelNotFound",
          "message": "There is no Model(s) available that matches the provided id(s) dtmi:example:floor;11362114. Check that the Model ID provided is valid by doing a Model_List API call."
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models/dtmi%3Aexample%3Aroom%3B146807934?includeModelDefinition=true&api-version=2023-10-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "2c44d8a6-ec24-43e0-ac48-b78e4ca4c9c3",
        "traceresponse": "00-db48532945b7d9d21227f245cc64da4b-d8acb8c59e4c3a5d-01",
        "x-ms-error-code": "ModelNotFound"
      },
      "ResponseBody": {
        "error": {
          "code": "ModelNotFound",
          "message": "There is no Model(s) available that matches the provided id(s) dtmi:example:room;146807934. Check that the Model ID provided is valid by doing a Model_List API call."
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models?api-version=2023-10-31",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": "[{    \"@id\": \"dtmi:example:room;146807934\",    \"@type\": \"Interface\",    \"displayName\": \"Room\",    \"description\": \"An enclosure inside a building.\",    \"contents\": [        {            \"@type\": \"Relationship\",            \"name\": \"containedIn\",            \"target\": \"dtmi:example:floor;11362114\"        },        {            \"@type\": \"Property\",            \"name\": \"Temperature\",            \"schema\": \"double\"        },        {            \"@type\": \"Property\",            \"name\": \"Humidity\",            \"schema\": \"double\"        },        {            \"@type\": \"Property\",            \"name\": \"IsOccupied\",            \"schema\": \"boolean\"        },        {            \"@type\": \"Property\",            \"name\": \"EmployeeId\",            \"schema\": \"string\"        }    ],    \"@context\": \"dtmi:dtdl:context;2\"}]",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "f55392a6-ec93-4403-b9eb-a67b39fbc076",
        "traceresponse": "00-4744bafc926e3f169d4444fb35a3aeed-67f2cafd72456648-01"
      },
      "ResponseBody": "[{\"id\":\"dtmi:example:room;146807934\",\"description\":{\"en\":\"An enclosure inside a building.\"},\"displayName\":{\"en\":\"Room\"},\"decommissioned\":false,\"uploadTime\":\"2025-05-02T18:51:13.703025+00:00\"}]"
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models?api-version=2023-10-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "9ad3806d-844a-4ade-a654-ae3d88371d96",
        "traceresponse": "00-a05fb8eac6d6f4f981430f21e75d3377-3d0f66663c30a5fd-01"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "dtmi:example:room;146807934",
            "description": {
              "en": "An enclosure inside a building."
            },
            "displayName": {
              "en": "Room"
            },
            "decommissioned": false,
            "uploadTime": "2025-05-02T18:51:13.703025+00:00"
          }
        ],
        "nextLink": null
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/roomTwin1188739668?api-version=2023-10-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "676daa2c-6ac3-4776-8b5e-548bdaaadbdc",
        "traceresponse": "00-0dec0cfc05bcc4dff38359bc13bb7b15-f676c2b57624e235-01",
        "x-ms-error-code": "DigitalTwinNotFound"
      },
      "ResponseBody": {
        "error": {
          "code": "DigitalTwinNotFound",
          "message": "There is no digital twin instance that exists with the ID roomTwin1188739668. Please verify that the twin id is valid and ensure that the twin is not deleted. See section on querying the twins https://aka.ms/adtv2query."
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/roomTwin1188739668?api-version=2023-10-31",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "$dtId": null,
        "$etag": null,
        "Temperature": 80,
        "Humidity": 25,
        "IsOccupied": true,
        "EmployeeId": "Employee1",
        "$metadata": {
          "$model": "dtmi:example:room;146807934"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\"ec85ad85-6790-4c1b-9e8c-45aca6f4a276\"",
        "mise-correlation-id": "404d2a92-d7df-4bf0-a432-5cb31f2de6fe",
        "traceresponse": "00-d1465ca62b2bbeeb6b2d29c840e1071c-24cc435d44b326e3-01"
      },
      "ResponseBody": {
        "$dtId": "roomTwin1188739668",
        "$etag": "W/\"ec85ad85-6790-4c1b-9e8c-45aca6f4a276\"",
        "Temperature": 80,
        "Humidity": 25,
        "IsOccupied": true,
        "EmployeeId": "Employee1",
        "$metadata": {
          "$model": "dtmi:example:room;146807934",
          "$lastUpdateTime": "2025-05-02T18:51:14.2984765Z",
          "Temperature": {
            "lastUpdateTime": "2025-05-02T18:51:14.2984765Z"
          },
          "Humidity": {
            "lastUpdateTime": "2025-05-02T18:51:14.2984765Z"
          },
          "IsOccupied": {
            "lastUpdateTime": "2025-05-02T18:51:14.2984765Z"
          },
          "EmployeeId": {
            "lastUpdateTime": "2025-05-02T18:51:14.2984765Z"
          }
        }
      }
    },
[...]
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/query?api-version=2023-10-31",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "max-items-per-page": "5"
      },
      "RequestBody": {
        "query": "SELECT * FROM digitaltwins"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "626c1074-01bb-4e77-8b23-eef3de2f0dd4",
        "query-charge": "3.21",
        "traceresponse": "00-45a98e12ffb2729b66e008f713dcffad-ad2a12c833eaf5cc-01"
      },
      "ResponseBody": {
        "value": [
          {
            "$dtId": "roomTwin1188739668",
            "$etag": "W/\"ec85ad85-6790-4c1b-9e8c-45aca6f4a276\"",
            "Temperature": 80,
            "Humidity": 25,
            "IsOccupied": true,
            "EmployeeId": "Employee1",
            "$metadata": {
              "$model": "dtmi:example:room;146807934",
              "$lastUp[...]
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/query?api-version=2023-10-31",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "max-items-per-page": "5"
      },
      "RequestBody": {
        "continuationToken": "{\"_t\":2,\"_s\":null,\"_rc\":\"[{\\\"token\\\":\\\"+RID:~xYQMAK5Z8MAFAAAAAAAAAA==#RT:1#TRC:5#ISV:2#IEO:65567#QCF:8#FPC:AQUAAAAAAAAABgAAAAAAAAA=\\\",\\\"range\\\":{\\\"min\\\":\\\"\\\",\\\"max\\\":\\\"FF\\\"}}]\",\"_q\":\"SELECT * FROM digitaltwins\",\"_id\":\"73a57682-da50-49d8-bd37-c09d3942fa7d\",\"_tr\":5,\"_pn\":1}"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "3acfc08e-a5f1-4774-9749-bda6e634b43c",
        "query-charge": "2.78",
        "traceresponse": "00-af9ed0ef4fe51d960fc25ee15e1dd845-2f824df0a3b59f57-01"
      },
      "ResponseBody": {
        "value": [
          {
            "$dtId": "roomTwin881446884",
            "$etag": "W/\"b0769011-6211-438d-8741-4541e99d1fc4\"",
            "Temperature": 80,
            "Humidity": 25,
            "IsOccupied": true,
            "EmployeeId": "Employee1",
            "$metadata": {
              "$model": "dtmi:example:room;146807934",
              "$lastUpdateTime": "2025-05-02T18:51:15.7054469Z",
              "Temperature": {
                "lastUpdateTime": "2025-05-02T18:51:15.7054469Z"
              },
              "Humidity": {
                "lastUpdateTime": "2025-05-02T18:51:15.7054469Z"
              },
              "IsOccupied": {
                "lastUpdateTime": "2025-05-02T18:51:15.7054469Z"
              },
              "EmployeeId": {
                "lastUpdateTime": "2025-05-02T18:51:15.7054469Z"
              }
            }
          }
        ],
        "continuationToken": null
      }
    },
[...]
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models/dtmi%3Aexample%3Aroom%3B146807934?api-version=2023-10-31",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "mise-correlation-id": "8b739a15-8aac-45d0-a04d-cb74ca7d483a",
        "traceresponse": "00-ba35b3d32727a4ea900bad28b7d43eb2-360e20140fd9b7db-01"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DIGITALTWINS_URL": "https://fakeHost.api.wus2.digitaltwins.azure.net",
    "RandomSeed": "1821301903"
  }
}
