{
  "Entries": [
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models/dtmi%3Aexample%3Afloor%3B18968772?includeModelDefinition=true&api-version=2023-10-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "6fa1491d-f8d6-47e4-92ed-a771b179715d",
        "traceresponse": "00-394bcd0f19b0c0a453d1d0232489ee54-f3ce9136d8d3a27d-01",
        "x-ms-error-code": "ModelNotFound"
      },
      "ResponseBody": {
        "error": {
          "code": "ModelNotFound",
          "message": "There is no Model(s) available that matches the provided id(s) dtmi:example:floor;18968772. Check that the Model ID provided is valid by doing a Model_List API call."
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models/dtmi%3Aexample%3Aroom%3B183659804?includeModelDefinition=true&api-version=2023-10-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "2018316c-0a1f-48f2-9fad-d22da7da50de",
        "traceresponse": "00-48f71712f352cec8207319e8d4253587-503847e778f9a6d7-01",
        "x-ms-error-code": "ModelNotFound"
      },
      "ResponseBody": {
        "error": {
          "code": "ModelNotFound",
          "message": "There is no Model(s) available that matches the provided id(s) dtmi:example:room;183659804. Check that the Model ID provided is valid by doing a Model_List API call."
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models?api-version=2023-10-31",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": "[{    \"@id\": \"dtmi:example:room;183659804\",    \"@type\": \"Interface\",    \"displayName\": \"Room\",    \"description\": \"An enclosure inside a building.\",    \"contents\": [        {            \"@type\": \"Relationship\",            \"name\": \"containedIn\",            \"target\": \"dtmi:example:floor;18968772\"        },        {            \"@type\": \"Property\",            \"name\": \"Temperature\",            \"schema\": \"double\"        },        {            \"@type\": \"Property\",            \"name\": \"Humidity\",            \"schema\": \"double\"        },        {            \"@type\": \"Property\",            \"name\": \"IsOccupied\",            \"schema\": \"boolean\"        },        {            \"@type\": \"Property\",            \"name\": \"EmployeeId\",            \"schema\": \"string\"        }    ],    \"@context\": \"dtmi:dtdl:context;2\"}]",
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "68454c57-22d2-4166-b536-4a53f3576d69",
        "traceresponse": "00-376f1abe200caa905ef8cdb087349a19-9ea2c1d74bb00bd1-01"
      },
      "ResponseBody": "[{\"id\":\"dtmi:example:room;183659804\",\"description\":{\"en\":\"An enclosure inside a building.\"},\"displayName\":{\"en\":\"Room\"},\"decommissioned\":false,\"uploadTime\":\"2025-05-02T20:54:21.4430698+00:00\"}]"
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models?includeModelDefinition=false&api-version=2023-10-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "f07e0b4f-de4d-4b9b-a4c2-5ca3ddf8cf46",
        "traceresponse": "00-90c1b07fb8ac8fde1b5d258e4143a4a5-5e40e6d30158ddf1-01"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "dtmi:example:room;183659804",
            "description": {
              "en": "An enclosure inside a building."
            },
            "displayName": {
              "en": "Room"
            },
            "decommissioned": false,
            "uploadTime": "2025-05-02T20:54:21.4430698+00:00"
          }
        ],
        "nextLink": null
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/roomTwin1361453859?api-version=2023-10-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "5719b5fd-3900-41b0-9853-1d06399ccfde",
        "traceresponse": "00-5c1ffa9a0411aa79bb0ea7886380c4f3-5020287bd59f9bdd-01",
        "x-ms-error-code": "DigitalTwinNotFound"
      },
      "ResponseBody": {
        "error": {
          "code": "DigitalTwinNotFound",
          "message": "There is no digital twin instance that exists with the ID roomTwin1361453859. Please verify that the twin id is valid and ensure that the twin is not deleted. See section on querying the twins https://aka.ms/adtv2query."
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/roomTwin1361453859?api-version=2023-10-31",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "$dtId": null,
        "$etag": null,
        "Temperature": 80,
        "Humidity": 25,
        "IsOccupied": true,
        "EmployeeId": "Employee1",
        "$metadata": {
          "$model": "dtmi:example:room;183659804"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\"114369b9-d4df-4742-a340-2537fd4ea54c\"",
        "mise-correlation-id": "32f70b53-2b47-4007-89c2-c93da1118872",
        "traceresponse": "00-369a3b6be73c2432085c3b47507852ad-c2a981ef7ac6890c-01"
      },
      "ResponseBody": {
        "$dtId": "roomTwin1361453859",
        "$etag": "W/\"114369b9-d4df-4742-a340-2537fd4ea54c\"",
        "Temperature": 80,
        "Humidity": 25,
        "IsOccupied": true,
        "EmployeeId": "Employee1",
        "$metadata": {
          "$model": "dtmi:example:room;183659804",
          "$lastUpdateTime": "2025-05-02T20:54:21.7150549Z",
          "Temperature": {
            "lastUpdateTime": "2025-05-02T20:54:21.7150549Z"
          },
          "Humidity": {
            "lastUpdateTime": "2025-05-02T20:54:21.7150549Z"
          },
          "IsOccupied": {
            "lastUpdateTime": "2025-05-02T20:54:21.7150549Z"
          },
          "EmployeeId": {
            "lastUpdateTime": "2025-05-02T20:54:21.7150549Z"
          }
        }
      }
    },
[...]
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/query?api-version=2023-10-31",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "max-items-per-page": "5"
      },
      "RequestBody": {
        "query": "SELECT * FROM digitaltwins"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "f2cbfdd8-f616-4819-b1b1-833f5c57dd24",
        "query-charge": "3.21",
        "traceresponse": "00-44889602da0f5ac63cd109f33ba930ec-7460c24d00f75d75-01"
      },
      "ResponseBody": {
        "value": [
          {
            "$dtId": "roomTwin1378363561",
            "$etag": "W/\"37dc718e-1275-42eb-af08-e7c7901b7cbb\"",
            "Temperature": 80,
            "Humidity": 25,
            "IsOccupied": true,
            "EmployeeId": "Employee1",
            "$metadata": {
              "$model": "dtmi:example:room;113440011",
              "$lastUp[...]
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/query?api-version=2023-10-31",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "max-items-per-page": "5"
      },
      "RequestBody": {
        "continuationToken": "{\"_t\":2,\"_s\":null,\"_rc\":\"[{\\\"token\\\":\\\"+RID:~xYQMAPGDobwFAAAAAAAAAA==#RT:1#TRC:5#ISV:2#IEO:65567#QCF:8#FPC:AQUAAAAAAAAACgAAAAAAAAA=\\\",\\\"range\\\":{\\\"min\\\":\\\"\\\",\\\"max\\\":\\\"FF\\\"}}]\",\"_q\":\"SELECT * FROM digitaltwins\",\"_id\":\"404143ad-69d0-49e4-bde9-9a29909c37b4\",\"_tr\":5,\"_pn\":1}"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "9d72ad00-70c9-4cfe-bf51-26447a398b38",
        "query-charge": "3.11",
        "traceresponse": "00-2b527ed3b937e9e9852761d4a98d20b0-c5cd61b0dfc3c35b-01"
      },
      "ResponseBody": {
        "value": [
          {
            "$dtId": "roomTwin72801996",
            "$etag": "W/\"c7dd9ce7-2bff-41d5-8c92-86da113764a7\"",
            "Tempe[...]
[...]
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models/dtmi%3Aexample%3Aroom%3B183659804?api-version=2023-10-31",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "mise-correlation-id": "af7a1e8d-ef7a-44ee-9682-b2b46a0efaf4",
        "traceresponse": "00-7fe4f596c2dcdf127677096616924945-4b17a075cfd343cb-01"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DIGITALTWINS_URL": "https://fakeHost.api.wus2.digitaltwins.azure.net",
    "RandomSeed": "1157130084"
  }
}
