{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-a00f7e75-4b87-6ada-b454-61a4f3f819a3?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 09 Oct 2024 19:38:38 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCE899F6E8FFC0\"",
        "Last-Modified": "Wed, 09 Oct 2024 19:38:34 GMT",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-a00f7e75-4b87-6ada-b454-61a4f3f819a3/test-blob-2e066c7a-afa8-da93-e367-83d287db97db",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Wed, 09 Oct 2024 19:38:39 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCE899F6FDF2D8\"",
        "Last-Modified": "Wed, 09 Oct 2024 19:38:35 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-a00f7e75-4b87-6ada-b454-61a4f3f819a3/test-blob-2e066c7a-afa8-da93-e367-83d287db97db?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-date": "Wed, 09 Oct 2024 19:38:39 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": "jX4fmLMuZt22/2iPDnq2JtjrhWbSmDnVx2oI1YoqZX2ssZNy2EQkSwYod6lHBMxpsV35nFYwCPVEStBIJpBTjJnr4lzmRE2TxjlgqiCQjsOdnyQsMMkne6meLY103CV11OsQWyFwgmwPZtUc0F3UtLwMqoZrJ1vQxGeySBfAH+oT6tY1gDKiLRy4HcrzCqtLyXjRZzGfCa2PQJe6vTpVT0brCeWHnjSJan1pswmR3Lq7Z36e7ri4dOAopUCa6G/iYs6DCADFwypDR/y0NVWj/mPd/la7tmCOMpUEX/n074INhlE7DdO59qNTWqa7BD6[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-a00f7e75-4b87-6ada-b454-61a4f3f819a3/test-blob-2e066c7a-afa8-da93-e367-83d287db97db",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 09 Oct 2024 19:38:39 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DCE899F708E323\"",
        "Last-Modified": "Wed, 09 Oct 2024 19:38:35 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Wed, 09 Oct 2024 19:38:35 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-a00f7e75-4b87-6ada-b454-61a4f3f819a3?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 09 Oct 2024 19:38:39 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1921344728",
    "Storage_TestConfigDefault": "ProductionTenant\namandapreprod\nU2FuaXRpemVk\nhttps://amandapreprod.blob.core.windows.net\nhttps://amandapreprod.file.core.windows.net\nhttps://amandapreprod.queue.core.windows.net\nhttps://amandapreprod.table.core.windows.net\n\n\n\n\nhttps://amandapreprod-secondary.blob.core.windows.net\nhttps://amandapreprod-secondary.file.core.windows.net\nhttps://amandapreprod-secondary.queue.core.windows.net\nhttps://amandapreprod-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandapreprod.blob.core.windows.net/;QueueEndpoint=https://amandapreprod.queue.core.windows.net/;FileEndpoint=https://amandapreprod.file.core.windows.net/;BlobSecondaryEndpoint=https://amandapreprod-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandapreprod-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandapreprod-secondary.file.core.windows.net/;AccountName=amandapreprod;AccountKey=Sanitized\nEncryptionScope\n\n"
  }
}
