{
  "Entries": [
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-0ae5b366-0caa-165c-89f3-3ba0b6f0f9be?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCE89A03C3FFE8\"",
        "Last-Modified": "Wed, 09 Oct 2024 19:38:56 GMT",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-0ae5b366-0caa-165c-89f3-3ba0b6f0f9be/test-blob-9dfd5335-a405-5896-f60c-d41c456930e7",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCE89A03CF9593\"",
        "Last-Modified": "Wed, 09 Oct 2024 19:38:56 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-10-09T19:38:56.6321308Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-0ae5b366-0caa-165c-89f3-3ba0b6f0f9be/test-blob-9dfd5335-a405-5896-f60c-d41c456930e7?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": "dYTmXaueQrUfU3xPCpUWxOrQOr1Qf5Is+o7jQNFSBOu8iZj/cgRX1nF992qNnSUaTbrNAKwpIvXyumMdugHkzE6RkoD8FlLmeGNL0ognn11oyPMWhAQ/k2aiDbihOhtvmSsb+wqkHTZo54dI3VBtyhsGtPIOzUdKUv8aWgiaRT5I2zhcC6NSxKu9rp189rUWNEKcmoUpYczj0akLisMtzqJJAAIYEL94s/BGUB6qzltJBCXG/aq4HnlseTr5Rjroj+D7M/az/SSDJOeV4xGtOAJOwoWeZ9D3keGIq5eFfmy1XsA+r5tklgYBQtjDIjtovkA3q4S0SSgPA6IUKlKM/qZ634RQbohn6Sx/nST4NG6mIOxWTdLoARSYL6z4T2u0dEQySEK2GFC4z8JYNKw[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-0ae5b366-0caa-165c-89f3-3ba0b6f0f9be/test-blob-4e272a05-06f3-9aa3-1e4c-d3af72839650",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCE89A049AEAB6\"",
        "Last-Modified": "Wed, 09 Oct 2024 19:38:57 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-10-09T19:38:57.9646909Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-0ae5b366-0caa-165c-89f3-3ba0b6f0f9be/test-blob-4e272a05-06f3-9aa3-1e4c-d3af72839650?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-copy-source": "https://seancanary.blob.core.windows.net/test-container-0ae5b366-0caa-165c-89f3-3ba0b6f0f9be/test-blob-9dfd5335-a405-5896-f60c-d41c456930e7",
        "x-ms-copy-source-authorization": "Sanitized",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCE89A04A52302\"",
        "Last-Modified": "Wed, 09 Oct 2024 19:38:58 GMT",
        "x-ms-blob-append-offset": "0",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-content-crc64": "PZeqf5sWtf0=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-0ae5b366-0caa-165c-89f3-3ba0b6f0f9be/test-blob-4e272a05-06f3-9aa3-1e4c-d3af72839650",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DCE89A04A52302\"",
        "Last-Modified": "Wed, 09 Oct 2024 19:38:58 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Wed, 09 Oct 2024 19:38:57 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-10-09T19:38:57.9646909Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-0ae5b366-0caa-165c-89f3-3ba0b6f0f9be?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1608031847",
    "Storage_TestConfigOAuth": "OAuthTenant\nseancanary\nU2FuaXRpemVk\nhttps://seancanary.blob.core.windows.net\nhttps://seancanary.file.core.windows.net\nhttps://seancanary.queue.core.windows.net\nhttps://seancanary.table.core.windows.net\n\n\n\n\nhttps://seancanary-secondary.blob.core.windows.net\nhttps://seancanary-secondary.file.core.windows.net\nhttps://seancanary-secondary.queue.core.windows.net\nhttps://seancanary-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seancanary.blob.core.windows.net/;QueueEndpoint=https://seancanary.queue.core.windows.net/;FileEndpoint=https://seancanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seancanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seancanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seancanary-secondary.file.core.windows.net/;AccountName=seancanary;AccountKey=Sanitized\n\nXClient\nba45b233-e2ef-4169-8808-49eb0d8eba0d"
  }
}
