{
  "Entries": [
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-3e288e46-2699-1039-0648-98831c48361f?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCE89A126A5BDE\"",
        "Last-Modified": "Wed, 09 Oct 2024 19:39:21 GMT",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-3e288e46-2699-1039-0648-98831c48361f/test-blob-39ecfb0b-670d-beda-d6d9-1942775cc10c",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCE89A127E1B45\"",
        "Last-Modified": "Wed, 09 Oct 2024 19:39:21 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-10-09T19:39:21.2629829Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-3e288e46-2699-1039-0648-98831c48361f/test-blob-39ecfb0b-670d-beda-d6d9-1942775cc10c?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": "+79JYotv/l7IRHoXsWPDDpO2aOZNFr15Sk2rCIZhBP+s5/ZjjZc+nsw7/1cEstFDQkPsMfsmoeQCzxg+w/XYZkB7asptX4D8d8oaEhdldZd7Z8VCddMDhkUSYb5+ANrWY5gXiUcH1uLC8LkwC4/MnVqAwlswlfBtd+OEW/7CfXfwQ65+TetQdJHif4UZ03u2RcNj/T1+ps2nqhFjg3vkAHJBQMjgTU9uME3KTRZrU6RozRU6X4A5cZ3h1qPa7PAW/n8S2JKy1vdz9c3vtFi3PFdt+7VlqaHyB88q/3eslERcs0+WWHsStfcexmqySbxEKZpMbPE7sFTeINDCiNaAx2CJkgEJIOPbW0W9R+I3P70T5tXcYCdSIQP6uDeqTy0gnf8JKba7Owi2cBGsfWl[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-3e288e46-2699-1039-0648-98831c48361f/test-blob-de2fa936-88d1-e654-e68d-8076b1e7de59",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCE89A134181BB\"",
        "Last-Modified": "Wed, 09 Oct 2024 19:39:22 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-10-09T19:39:22.5435579Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-3e288e46-2699-1039-0648-98831c48361f/test-blob-de2fa936-88d1-e654-e68d-8076b1e7de59?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-copy-source": "https://seancanary.blob.core.windows.net/test-container-3e288e46-2699-1039-0648-98831c48361f/test-blob-39ecfb0b-670d-beda-d6d9-1942775cc10c",
        "x-ms-copy-source-authorization": "Sanitized",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCE89A134ACFBB\"",
        "Last-Modified": "Wed, 09 Oct 2024 19:39:22 GMT",
        "x-ms-blob-append-offset": "0",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-content-crc64": "uCCIQZTY2a4=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-3e288e46-2699-1039-0648-98831c48361f/test-blob-de2fa936-88d1-e654-e68d-8076b1e7de59",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DCE89A134ACFBB\"",
        "Last-Modified": "Wed, 09 Oct 2024 19:39:22 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Wed, 09 Oct 2024 19:39:22 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-10-09T19:39:22.5435579Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-3e288e46-2699-1039-0648-98831c48361f?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "774714086",
    "Storage_TestConfigOAuth": "OAuthTenant\nseancanary\nU2FuaXRpemVk\nhttps://seancanary.blob.core.windows.net\nhttps://seancanary.file.core.windows.net\nhttps://seancanary.queue.core.windows.net\nhttps://seancanary.table.core.windows.net\n\n\n\n\nhttps://seancanary-secondary.blob.core.windows.net\nhttps://seancanary-secondary.file.core.windows.net\nhttps://seancanary-secondary.queue.core.windows.net\nhttps://seancanary-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seancanary.blob.core.windows.net/;QueueEndpoint=https://seancanary.queue.core.windows.net/;FileEndpoint=https://seancanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seancanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seancanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seancanary-secondary.file.core.windows.net/;AccountName=seancanary;AccountKey=Sanitized\n\nXClient\nba45b233-e2ef-4169-8808-49eb0d8eba0d"
  }
}
