{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-8dd1b8eb-397f-c696-1801-96d7764d44cd?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 09 Oct 2024 19:39:22 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCE89A10921612\"",
        "Last-Modified": "Wed, 09 Oct 2024 19:39:18 GMT",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-8dd1b8eb-397f-c696-1801-96d7764d44cd/test-blob-659cfe6b-067a-625e-5985-c7afa1453ee4",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Wed, 09 Oct 2024 19:39:22 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCE89A109B9CF7\"",
        "Last-Modified": "Wed, 09 Oct 2024 19:39:18 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-8dd1b8eb-397f-c696-1801-96d7764d44cd/test-blob-659cfe6b-067a-625e-5985-c7afa1453ee4?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Wed, 09 Oct 2024 19:39:22 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": "I60eDGC1TCW/HIJQ2ynwvOC241PFZOUfrt7DgWuvonPn0OvoOg447dy2PBjuliubJpOdAPOT8b7I/16C8su6D3kPaAs9CIHRfvZ2DijNMBeyJ1vXEqJ/U94tHzuwtvoR/Cye3y0fXR4RzIL8HOOW+s5Gz8pv4v3XjxQtEOhGIcj8ZRL7L1Hpkso9xkUggzf6lyVtaeYwoRkvxk8Z8k01yqu5ALfRmst8XTwAMhy3twvdMnjD2bfhzMP4zGgC0KB8B/uaZoN/KfxZ8AypL279dw5DO7/UcvHz2DP02M5ieoycgysgHVGIXQl8aeirN5xU+1RavpXgqJUJpo1Pi1Eu93aADaxD3[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-8dd1b8eb-397f-c696-1801-96d7764d44cd/test-blob-cd76eee0-631d-8539-16fb-4f867ba1611a",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Wed, 09 Oct 2024 19:39:22 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCE89A10ADFEF7\"",
        "Last-Modified": "Wed, 09 Oct 2024 19:39:18 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-8dd1b8eb-397f-c696-1801-96d7764d44cd/test-blob-cd76eee0-631d-8539-16fb-4f867ba1611a?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-8dd1b8eb-397f-c696-1801-96d7764d44cd/test-blob-659cfe6b-067a-625e-5985-c7afa1453ee4?sv=sanitized-value&se=2024-10-09T20%3A39%3A22Z&sr=b&sp=r&sig=Sanitized",
        "x-ms-date": "Wed, 09 Oct 2024 19:39:22 GMT",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCE89A10B7B817\"",
        "Last-Modified": "Wed, 09 Oct 2024 19:39:18 GMT",
        "x-ms-blob-append-offset": "0",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-content-crc64": "MY/nCsOmUXE=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-8dd1b8eb-397f-c696-1801-96d7764d44cd/test-blob-cd76eee0-631d-8539-16fb-4f867ba1611a",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 09 Oct 2024 19:39:22 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DCE89A10B7B817\"",
        "Last-Modified": "Wed, 09 Oct 2024 19:39:18 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Wed, 09 Oct 2024 19:39:18 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-8dd1b8eb-397f-c696-1801-96d7764d44cd?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 09 Oct 2024 19:39:22 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-10-09T15:39:22.2134650-04:00",
    "RandomSeed": "1312863570",
    "Storage_TestConfigDefault": "ProductionTenant\namandapreprod\nU2FuaXRpemVk\nhttps://amandapreprod.blob.core.windows.net\nhttps://amandapreprod.file.core.windows.net\nhttps://amandapreprod.queue.core.windows.net\nhttps://amandapreprod.table.core.windows.net\n\n\n\n\nhttps://amandapreprod-secondary.blob.core.windows.net\nhttps://amandapreprod-secondary.file.core.windows.net\nhttps://amandapreprod-secondary.queue.core.windows.net\nhttps://amandapreprod-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandapreprod.blob.core.windows.net/;QueueEndpoint=https://amandapreprod.queue.core.windows.net/;FileEndpoint=https://amandapreprod.file.core.windows.net/;BlobSecondaryEndpoint=https://amandapreprod-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandapreprod-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandapreprod-secondary.file.core.windows.net/;AccountName=amandapreprod;AccountKey=Sanitized\nEncryptionScope\n\n"
  }
}
