{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-d3a3bc80-099d-d0ab-217b-68d85483303f?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE006A9B85FF05\"",
        "Last-Modified": "Tue, 30 Sep 2025 21:45:00 GMT",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-d3a3bc80-099d-d0ab-217b-68d85483303f/test-blob-bc255d68-db86-b6b3-bcf6-b648fa57f7a2",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE006A9B8F6FB0\"",
        "Last-Modified": "Tue, 30 Sep 2025 21:45:00 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-d3a3bc80-099d-d0ab-217b-68d85483303f/test-blob-bc255d68-db86-b6b3-bcf6-b648fa57f7a2?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": "KwdjkskQCNt3SwYxlgqXgZon8Oxqe0gCm4o5JaeD0K7S3H4Y18nGRgQRBA5X8qKpPGTI4heW/q++Yfc+1uMz9HpYXrqLfqnRYannWXY6qqjnkOhCuu2WO93OWnbSh3Ag3RCT/pPoHb6794Ftr6U5g7dOV0b78TmMwSPcvSMz/tk5xntmp6sV/3Iph8NsKYw4lda+gzAqJevXBj1wDGCah/inNOgp0twLOVfT0Wp1IJiWoyhMdHqpD6GQj6BupPMSj//LxPWjD8L6s0rYVlOBYeal2Wg3TRN9/SRHmUM8nZRkwEJrqVuj8pRlUsEv0bhNDi25ycqK20HrTcfQXHZ+vRW2c5YQFriKAufU0ftSTSts+YoWgtTJ2uUBf1yU0pYe55SreV4hPfh0L8bjtgl[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-d3a3bc80-099d-d0ab-217b-68d85483303f?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1939039848",
    "Storage_TestConfigOAuth": "OAuthTenant\namandapreprod\nU2FuaXRpemVk\nhttps://amandapreprod.blob.core.windows.net\nhttps://amandapreprod.file.core.windows.net\nhttps://amandapreprod.queue.core.windows.net\nhttps://amandapreprod.table.core.windows.net\n\n\n\n\nhttps://amandapreprod-secondary.blob.core.windows.net\nhttps://amandapreprod-secondary.file.core.windows.net\nhttps://amandapreprod-secondary.queue.core.windows.net\nhttps://amandapreprod-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandapreprod.blob.core.windows.net/;QueueEndpoint=https://amandapreprod.queue.core.windows.net/;FileEndpoint=https://amandapreprod.file.core.windows.net/;BlobSecondaryEndpoint=https://amandapreprod-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandapreprod-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandapreprod-secondary.file.core.windows.net/;AccountName=amandapreprod;AccountKey=U2FuaXRpemVk\n\nrg-amnguyestorage\nba45b233-e2ef-4169-8808-49eb0d8eba0d"
  }
}
