{
  "Entries": [
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-469830ef-3008-c2f5-2aec-04d101fcc83c?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCE89A181B5477\"",
        "Last-Modified": "Wed, 09 Oct 2024 19:39:30 GMT",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-469830ef-3008-c2f5-2aec-04d101fcc83c/test-blob-ad5287b7-15ec-309c-2cbf-5e7a7c055d3b",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCE89A182C8C99\"",
        "Last-Modified": "Wed, 09 Oct 2024 19:39:30 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2024-05-04",
        "x-ms-version-id": "2024-10-09T19:39:30.7948185Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-469830ef-3008-c2f5-2aec-04d101fcc83c/test-blob-ad5287b7-15ec-309c-2cbf-5e7a7c055d3b?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": "NvpPUCatUr+99U4jorWnPDpnDc3Nf59M8NeDmVQV/+APpbCNoDTQvlt4IKYr8E47cWZ59nHs/7dbAl9OKrlqqPZtE/0FGpwGl05xVF/5IQCJRyftnAhuIqb4Mp3VgpSiDnewvdxRNVfKc18jeqpXYeFexeKRfQzt//BWDOf/MBW6zkbnSGMjNxLQIyioSqj7oNC7dryxEZBrwr7r+ihvykJKaaxkcBh9O43QwVnjRbRIW2sXQ7pYCL21fIalNzzqYFjmXeH8lzC3Pjou4FA2h30Kop+8WIaH8WDvrvSS2ANQ5mAA/efSTMM7XwV/KShsfvQJm5WdLQfSXmyADOk8JWU33frvNYqVN1bbgPmBCMg4gi//iTxus7hYLp57Uj/a/jmfR0wtfEhpc2M+waw[...]
    {
      "RequestUri": "https://seancanary.blob.core.windows.net/test-container-469830ef-3008-c2f5-2aec-04d101fcc83c?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "83972884",
    "Storage_TestConfigOAuth": "OAuthTenant\nseancanary\nU2FuaXRpemVk\nhttps://seancanary.blob.core.windows.net\nhttps://seancanary.file.core.windows.net\nhttps://seancanary.queue.core.windows.net\nhttps://seancanary.table.core.windows.net\n\n\n\n\nhttps://seancanary-secondary.blob.core.windows.net\nhttps://seancanary-secondary.file.core.windows.net\nhttps://seancanary-secondary.queue.core.windows.net\nhttps://seancanary-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://seancanary.blob.core.windows.net/;QueueEndpoint=https://seancanary.queue.core.windows.net/;FileEndpoint=https://seancanary.file.core.windows.net/;BlobSecondaryEndpoint=https://seancanary-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://seancanary-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://seancanary-secondary.file.core.windows.net/;AccountName=seancanary;AccountKey=Sanitized\n\nXClient\nba45b233-e2ef-4169-8808-49eb0d8eba0d"
  }
}
