{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-8e388eea-3ab0-52dc-617c-8ef66122d0d0?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 30 Sep 2025 21:45:22 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE006AA85A54CF\"",
        "Last-Modified": "Tue, 30 Sep 2025 21:45:22 GMT",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-8e388eea-3ab0-52dc-617c-8ef66122d0d0/test-blob-0c413f12-72c7-5722-1993-6e6d21c20472",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-date": "Tue, 30 Sep 2025 21:45:22 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE006AA8644633\"",
        "Last-Modified": "Tue, 30 Sep 2025 21:45:22 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-8e388eea-3ab0-52dc-617c-8ef66122d0d0/test-blob-0c413f12-72c7-5722-1993-6e6d21c20472?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-date": "Tue, 30 Sep 2025 21:45:22 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": "iTuZvnmiLjusxq/uNr1xwmQqGY679sSZqj9Z5PfpedDw89qqvXDKsWTMYec7H+w0Ah1F1nFajZJ2ABQ6SEpDwk3f/ULixgX0YGgp7pXdXYpSJOLapKNflmZINL1ckGkaiJ6aXCKpUTwXUHUJMJ79maKJ5yNnaR6pf2fcmpFImND/D2b2QgFnqNKlwlMtVmXHS5oa0qhFsh6A8Ny6zbeqzrilCSE3BlagIj5QwafKeykCFE/3LcYnuVxHdlIlrNsb+/ObiExEj0RDea9p9PB3tXSyuLhosqDyfU/E8I8Ee3ViNcazLvPdvYQKtLQWvsVs0MDdcvQjs0hTqQr8f5+1P/46Br8qw[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-8e388eea-3ab0-52dc-617c-8ef66122d0d0?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 30 Sep 2025 21:45:22 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1727661295",
    "Storage_TestConfigDefault": "ProductionTenant\namandapreprod\nU2FuaXRpemVk\nhttps://amandapreprod.blob.core.windows.net\nhttps://amandapreprod.file.core.windows.net\nhttps://amandapreprod.queue.core.windows.net\nhttps://amandapreprod.table.core.windows.net\n\n\n\n\nhttps://amandapreprod-secondary.blob.core.windows.net\nhttps://amandapreprod-secondary.file.core.windows.net\nhttps://amandapreprod-secondary.queue.core.windows.net\nhttps://amandapreprod-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandapreprod.blob.core.windows.net/;QueueEndpoint=https://amandapreprod.queue.core.windows.net/;FileEndpoint=https://amandapreprod.file.core.windows.net/;BlobSecondaryEndpoint=https://amandapreprod-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandapreprod-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandapreprod-secondary.file.core.windows.net/;AccountName=amandapreprod;AccountKey=U2FuaXRpemVk\nencryptionScope\n\n"
  }
}
