{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/prebackup?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/prebackup?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "storageResourceUri": "https://Sanitized.blob.core.windows.nethsmbackups",
        "useManagedIdentity": true
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "api-supported-versions": "20180927, 20211111",
        "azure-asyncoperation": "https://Sanitized.managedhsm.azure.net/backup/a504393c7cf04a04acb0a8464707f297/pending",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "01b5a218-22ec-4a0f-ad1e-1a51b135bd01",
        "Retry-After": "10",
        "x-ms-server-latency": "299"
      },
      "ResponseBody": {
        "status": "InProgress",
        "statusDetails": null,
        "error": null,
        "startTime": 1782492771,
        "endTime": null,
        "jobId": "a504393c7cf04a04acb0a8464707f297",
        "azureStorageBlobContainerUri": null
      }
    },
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/backup/a504393c7cf04a04acb0a8464707f297/pending",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "20180927, 20211111",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "60debb9a-5684-4f73-909d-3abdcc83967f",
        "x-ms-build-version": "1.0.20260505-1-b95d5630-develop",
        "x-ms-server-latency": "641"
      },
      "ResponseBody": {
        "azureStorageBlobContainerUri": null,
        "endTime": 1782492772,
        "error": null,
        "jobId": "a504393c7cf04a04acb0a8464707f297",
        "startTime": 1782492771,
        "status": "Succeeded",
        "statusDetails": null
      }
    },
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/backup?api-version=2026-01-01-preview",
      "Requ[...]
