{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/prebackup?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/prebackup?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "storageResourceUri": "https://Sanitized.blob.core.windows.nethsmbackups",
        "useManagedIdentity": true
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "api-supported-versions": "20180927, 20211111",
        "azure-asyncoperation": "https://Sanitized.managedhsm.azure.net/backup/be85aa7abb5d4420b88cb4b3b54fbd9a/pending",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "0b2781f7-3e2a-4a69-b55b-de97b011bffd",
        "Retry-After": "10",
        "x-ms-server-latency": "128"
      },
      "ResponseBody": {
        "status": "InProgress",
        "statusDetails": null,
        "error": null,
        "startTime": 1778779597,
        "endTime": null,
        "jobId": "be85aa7abb5d4420b88cb4b3b54fbd9a",
        "azureStorageBlobContainerUri": null
      }
    },
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/backup/be85aa7abb5d4420b88cb4b3b54fbd9a/pending",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "20180927, 20211111",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "bb164205-ec95-41bc-b99c-fdfe9305bba9",
        "x-ms-build-version": "1.0.20260320-2-76f00f12-develop",
        "x-ms-server-latency": "55"
      },
      "ResponseBody": {
        "azureStorageBlobContainerUri": null,
        "endTime": 1778779597,
        "error": null,
        "jobId": "be85aa7abb5d4420b88cb4b3b54fbd9a",
        "startTime": 1778779597,
        "status": "Succeeded",
        "statusDetails": null
      }
    },
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/backup?api-version=2026-01-01-preview",
      "Reque[...]
