{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys/selective-restore-test-key95bc3778/create?api-version=sanitized",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys/selective-restore-test-key95bc3778/create?api-version=sanitized",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "96"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1777480081,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1777480081
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://Sanitized.managedhsm.azure.net/keys/selective-restore-test-key95bc3778/9c0830d921104bd8183c83510ac90d82",
          "kty": "RSA-HSM",
          "n": "k_BILxz4YH6Taq7Gz8UkwEsMHD3xCQ3aWFJ8tSqHnsm5L9K_IOv2ho-gVve5a_rcqgsFmYUEnflNQP8quNwjIZevYiTBJg4UHdZNfWTHC9TkFVEe0OZerxYy0hF5ERh8R4WH4VqITfB90RQbM2W0qhp4WYAIVSWEFIaKoUU5tGa_kXCzrNlsVAFVp3IvXGjm6iCXtq6dDD2uD7aSwgRMW778VbkABDKJL3x2UaGfmRePmC-qYgAG_8SsuPkk0IfN73NJKMBvbmPbLamoxoYkDP8XHbITrspT12tPDkxOce8e4SlgGYyr-8hTG_k6g7xMBDKY3rjBVKgLGwT9pFGZlw"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/backup?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/backup?api-version=2025-07-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "storageResourceUri": "https://Sanitized.blob.core.windows.nethsmbackups",
        "useManagedIdentity": true
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "api-supported-versions": "20180927, 20211111",
        "azure-asyncoperation": "https://Sanitized.managedhsm.azure.net/backup/cf7df3f51cbe4152967556da70ca4dbb/pending",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "ae0de2b4-3161-430a-ba65-2447233b3901",
        "Retry-After": "10",
        "x-ms-server-latency": "754"
      },
      "ResponseBody": {
        "status": "InProgress",
        "statusDetails": null,
        "error": null,
        "startTime": 1777480084,
        "endTime": null,
        "jobId": "cf7df3f51cbe4152967556da70ca4dbb",
        "azureStorageBlobContainerUri": null
      }
    },
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/backup/cf7df3f51cbe4152967556da70ca4dbb/pending",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "20180927, 20211111",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "93e17a06-708b-4f57-9c45-7a68cf4e9b1b",
        "x-ms-build-version": "1.0.20260320-2-76f00f12-develop",
        "x-ms-server-latency": "75"
      },
      "ResponseBody": {
        "azureStorageBlobContainerUri": null,
        "endTime": null,
        "error": null,
        "jobId": "cf7df3f51cbe4152967556da70ca4dbb",
        "startTime": 1777480084,
        "status": "InProgress",
        "statusDetails": null
      }
    },
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/backup/cf7df3f51cbe4152967556da70ca4dbb/pending",
      "[...]
