{
  "Entries": [
    {
      "RequestUri": "https://managedhsmvaultname.managedhsm.azure.net/backup?api-version=7.6-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://managedhsmvaultname.managedhsm.azure.net/backup?api-version=7.6-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "storageResourceUri": "https://blob_storage_account_name.blob.keyvault_endpoint_suffix/backup",
        "token": "Sanitized"
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "api-supported-versions": "20180927, 20211111",
        "azure-asyncoperation": "https://managedhsmvaultname.managedhsm.azure.net/backup/6eec00b5cc054a069ccee3b52a48fde7/pending",
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "x-ms-server-latency": "1338"
      },
      "ResponseBody": {
        "status": "InProgress",
        "statusDetails": null,
        "error": null,
        "startTime": 1714440697,
        "endTime": null,
        "jobId": "6eec00b5cc054a069ccee3b52a48fde7",
        "azureStorageBlobContainerUri": null
      }
    },
    {
      "RequestUri": "https://managedhsmvaultname.managedhsm.azure.net/backup/6eec00b5cc054a069ccee3b52a48fde7/pending?api-version=7.6-preview.1",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "20180927, 20211111",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20240409-1-59392ba8-develop",
        "x-ms-server-latency": "273"
      },
      "ResponseBody": {
        "azureStorageBlobContainerUri": null,
        "endTime": null,
        "error": null,
        "jobId": "6eec00b5cc054a069ccee3b52a48fde7",
        "startTime": 1714440697,
        "status": "InProgress",
        "statusDetails": null
      }
    },
    {
      "RequestUri": "https://managedhsmvaultname.managedhsm.azure.net/backup/6eec00b5cc054a069ccee3b52a48fde7/pending",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "20180927, 20211111",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20240409-1-59392ba8-develop",
        "x-ms-server-latency": "240"
      },
      "ResponseBody": {
        "azureStorageBlobContainerUri": null,
        "endTime": null,
        "error": null,
        "jobId": "6eec00b5cc054a069ccee3b52a48fde7",
        "startTime": 1714440697,
        "status": "InProgress",
        "statusDetails": null
      }
    },
[...]
    {
      "RequestUri": "https://managedhsmvaultname.managedhsm.azure.net/restore?api-version=7.6-preview.1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "sasTokenParameters": {
          "storageResourceUri": "https://blob_storage_account_name.blob.keyvault_endpoint_suffix/backup",
          "token": "Sanitized"
        },
        "folderToRestore": "mhsm-mcpatinokvhsm-2024043001313776"
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "api-supported-versions": "20180927, 20211111",
        "azure-asyncoperation": "https://managedhsmvaultname.managedhsm.azure.net/restore/47f5a264ae8044ef9f1a93947d77a405/pending",
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "x-ms-server-latency": "394"
      },
      "ResponseBody": {
        "endTime": null,
        "error": null,
        "jobId": "47f5a264ae8044ef9f1a93947d77a405",
        "startTime": 1714440711,
        "status": "InProgress",
        "statusDetails": null
      }
    },
    {
      "RequestUri": "https://managedhsmvaultname.managedhsm.azure.net/restore/47f5a264ae8044ef9f1a93947d77a405/pending?api-version=7.6-preview.1",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "20180927, 20211111",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20240409-1-59392ba8-develop",
        "x-ms-server-latency": "212"
      },
      "ResponseBody": {
        "endTime": null,
        "error": null,
        "jobId": "47f5a264ae8044ef9f1a93947d77a405",
        "startTime": 1714440711,
        "status": "InProgress",
        "statusDetails": null
      }
    },
    {
      "RequestUri": "https://managedhsmvaultname.managedhsm.azure.net/restore/47f5a264ae8044ef9f1a93947d77a405/pending",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "20180927, 20211111",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20240409-1-59392ba8-develop",
        "x-ms-server-latency": "242"
      },
      "ResponseBody": {
        "endTime": null,
        "error": null,
        "jobId": "47f5a264ae8044ef9f1a93947d77a405",
        "startTime": 1714440711,
        "status": "InProgress",
        "statusDetails": null
      }
    },
[...]
    {
      "RequestUri": "https://managedhsmvaultname.managedhsm.azure.net/restore/47f5a264ae8044ef9f1a93947d77a405/pending",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "20180927, 20211111",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20240409-1-59392ba8-develop",
        "x-ms-server-latency": "204"
      },
      "ResponseBody": {
        "endTime": 1714440720,
        "error": null,
        "jobId": "47f5a264ae8044ef9f1a93947d77a405",
        "startTime": 1714440711,
        "status": "Succeeded",
        "statusDetails": null
      }
    }
  ],
  "Variables": {}
}
