{
  "Entries": [
    {
      "RequestUri": "https://managedhsmvaultname.managedhsm.azure.net/backup?api-version=7.5-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000\u0022, resource=\u0022https://managedhsm.azure.net\u0022",
        "x-ms-server-latency": "2"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/v2.0/.well-known/openid-configuration",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "token_endpoint": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/token",
        "token_endpoint_auth_methods_supported": [
          "client_secret_post",
          "private_key_jwt",
          "client_secret_basic"
        ],
        "jwks_uri": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/discovery/v2.0/keys",
        "response_modes_supported": [
          "query",
          "fragment",
          "form_post"
        ],
        "subject_types_supported": [
          "pairwise"
        ],
        "id_token_signing_alg_values_supported": [
          "RS256"
        ],
        "response_types_supported": [
          "code",
          "id_token",
          "code id_token",
          "id_token token"
        ],
        "scopes_supported": [
          "openid",
          "profile",
          "email",
          "offline_access"
        ],
        "issuer": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/v2.0",
        "request_uri_parameter_supported": false,
        "userinfo_endpoint": "https://graph.microsoft.com/oidc/userinfo",
        "authorization_endpoint": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/authorize",
        "device_authorization_endpoint": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/devicecode",
        "http_logout_supported": true,
        "frontchannel_logout_supported": true,
        "end_session_endpoint": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/logout",
        "claims_supported": [
          "sub",
          "iss",
          "cloud_instance_name",
          "cloud_instance_host_name",
          "cloud_graph_host_name",
          "msgraph_host",
          "aud",
          "exp",
          "iat",
          "auth_time",
          "acr",
          "nonce",
          "preferred_username",
          "name",
          "tid",
          "ver",
          "at_hash",
          "c_hash",
          "email"
        ],
        "kerberos_endpoint": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/kerberos",
        "tenant_region_scope": "WW",
        "cloud_instance_name": "microsoftonline.com",
        "cloud_graph_host_name": "graph.windows.net",
        "msgraph_host": "graph.microsoft.com",
        "rbac_url": "https://pas.windows.net"
      }
    },
    {
      "RequestUri": "https://login.microsoftonline.com/common/discovery/instance?api-version=1.1\u0026authorization_endpoint=https://login.microsoftonline.com/common/oauth2/authorize",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "tenant_discovery_endpoint": "https://login.microsoftonline.com/common/.well-known/openid-configuration",
        "api-version": "1.1",
        "metadata": [
          {
            "preferred_network": "login.microsoftonline.com",
            "preferred_cache": "login.windows.net",
            "aliases": [
              "login.microsoftonline.com",
              "login.windows.net",
              "login.microsoft.com",
              "sts.windows.net"
            ]
          },
          {
            "preferred_network": "login.partner.microsoftonline.cn",
            "preferred_cache": "login.partner.microsoftonline.cn",
            "aliases": [
              "login.partner.microsoftonline.cn",
              "login.chinacloudapi.cn"
            ]
          },
          {
            "preferred_network": "login.microsoftonline.de",
            "preferred_cache": "login.microsoftonline.de",
            "aliases": [
              "login.microsoftonline.de"
            ]
          },
          {
            "preferred_network": "login.microsoftonline.us",
            "preferred_cache": "login.microsoftonline.us",
            "aliases": [
              "login.microsoftonline.us",
              "login.usgovcloudapi.net"
            ]
          },
          {
            "preferred_network": "login-us.microsoftonline.com",
            "preferred_cache": "login-us.microsoftonline.com",
            "aliases": [
              "login-us.microsoftonline.com"
            ]
          }
        ]
      }
    },
    {
      "RequestUri": "https://managedhsmvaultname.managedhsm.azure.net/backup?api-version=7.5-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "storageResourceUri": "https://blob_storage_account_name.blob.keyvault_endpoint_suffix/backup",
        "token": "fake-sas",
        "useManagedIdentity": false
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "api-supported-versions": "20180927, 20211111",
        "azure-asyncoperation": "https://managedhsmvaultname.managedhsm.azure.net/backup/64ee8d394a3c448ba26ea9c80b4af87f/pending",
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "x-ms-server-latency": "398"
      },
      "ResponseBody": {
        "status": "InProgress",
        "statusDetails": null,
        "error": null,
        "startTime": 1695159216,
        "endTime": null,
        "jobId": "64ee8d394a3c448ba26ea9c80b4af87f",
        "azureStorageBlobContainerUri": null
      }
    },
    {
      "RequestUri": "https://managedhsmvaultname.managedhsm.azure.net/backup/64ee8d394a3c448ba26ea9c80b4af87f/pending",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "20180927, 20211111",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20230831-2-9231e16f-07-lkg",
        "x-ms-server-latency": "230"
      },
      "ResponseBody": {
        "azureStorageBlobContainerUri": null,
        "endTime": null,
        "error": null,
        "jobId": "64ee8d394a3c448ba26ea9c80b4af87f",
        "startTime": 1695159216,
        "status": "InProgress",
        "statusDetails": null
      }
    },
[...]
    {
      "RequestUri": "https://managedhsmvaultname.managedhsm.azure.net/restore?api-version=7.5-preview.1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "sasTokenParameters": {
          "storageResourceUri": "https://blob_storage_account_name.blob.keyvault_endpoint_suffix/backup",
          "token": "fake-sas",
          "useManagedIdentity": false
        },
        "folderToRestore": "mhsm-mcpatinokvhsm-2023091921333654"
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "api-supported-versions": "20180927, 20211111",
        "azure-asyncoperation": "https://managedhsmvaultname.managedhsm.azure.net/restore/acfc9cf5a5814746b0541648cb283d2b/pending",
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "x-ms-server-latency": "1128"
      },
      "ResponseBody": {
        "endTime": null,
        "error": null,
        "jobId": "acfc9cf5a5814746b0541648cb283d2b",
        "startTime": 1695159228,
        "status": "InProgress",
        "statusDetails": null
      }
    },
    {
      "RequestUri": "https://managedhsmvaultname.managedhsm.azure.net/restore/acfc9cf5a5814746b0541648cb283d2b/pending",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "20180927, 20211111",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20230831-2-9231e16f-07-lkg",
        "x-ms-server-latency": "396"
      },
      "ResponseBody": {
        "endTime": null,
        "error": null,
        "jobId": "acfc9cf5a5814746b0541648cb283d2b",
        "startTime": 1695159228,
        "status": "InProgress",
        "statusDetails": null
      }
    },
    {
      "RequestUri": "https://managedhsmvaultname.managedhsm.azure.net/restore/acfc9cf5a5814746b0541648cb283d2b/pending",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "20180927, 20211111",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20230831-2-9231e16f-07-lkg",
        "x-ms-server-latency": "218"
      },
      "ResponseBody": {
        "endTime": 1695159234,
        "error": null,
        "jobId": "acfc9cf5a5814746b0541648cb283d2b",
        "startTime": 1695159228,
        "status": "Succeeded",
        "statusDetails": null
      }
    }
  ],
  "Variables": {}
}
