{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/prebackup?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/prebackup?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "storageResourceUri": "https://Sanitized.blob.core.windows.nethsmbackups",
        "useManagedIdentity": true
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "api-supported-versions": "20180927, 20211111",
        "azure-asyncoperation": "https://Sanitized.managedhsm.azure.net/backup/c36c36a9994642ffb5dc70293db83c1b/pending",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "490b98cb-8caf-4b92-8a7e-b2a72f4817f0",
        "Retry-After": "10",
        "x-ms-server-latency": "206"
      },
      "ResponseBody": {
        "status": "InProgress",
        "statusDetails": null,
        "error": null,
        "startTime": 1777392151,
        "endTime": null,
        "jobId": "c36c36a9994642ffb5dc70293db83c1b",
        "azureStorageBlobContainerUri": null
      }
    },
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/backup/c36c36a9994642ffb5dc70293db83c1b/pending",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "20180927, 20211111",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "b13ddf74-84f2-47e0-b1ef-e4f80cb5209a",
        "x-ms-build-version": "1.0.20260320-2-76f00f12-develop",
        "x-ms-server-latency": "191"
      },
      "ResponseBody": {
        "azureStorageBlobContainerUri": null,
        "endTime": 1777392151,
        "error": null,
        "jobId": "c36c36a9994642ffb5dc70293db83c1b",
        "startTime": 1777392151,
        "status": "Succeeded",
        "statusDetails": null
      }
    },
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/backup?api-version=7.6",
      "RequestMethod": "PO[...]
