{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/backup?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/backup?api-version=7.6-preview.2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "storageResourceUri": "https://Sanitized.blob.core.windows.net/hsmbackups",
        "useManagedIdentity": true
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "api-supported-versions": "20180927, 20211111",
        "azure-asyncoperation": "https://Sanitized.managedhsm.azure.net/backup/f41fb04084844373a53d851b810ed09b/pending",
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "x-ms-server-latency": "1912"
      },
      "ResponseBody": {
        "status": "InProgress",
        "statusDetails": null,
        "error": null,
        "startTime": 1741208648,
        "endTime": null,
        "jobId": "f41fb04084844373a53d851b810ed09b",
        "azureStorageBlobContainerUri": null
      }
    },
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/backup/f41fb04084844373a53d851b810ed09b/pending",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "20180927, 20211111",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20241130-1-aecac196-develop",
        "x-ms-server-latency": "627"
      },
      "ResponseBody": {
        "azureStorageBlobContainerUri": null,
        "endTime": null,
        "error": null,
        "jobId": "f41fb04084844373a53d851b810ed09b",
        "startTime": 1741208648,
        "status": "InProgress",
        "statusDetails": null
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/restore?api-version=7.6-preview.2",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "sasTokenParameters": {
          "storageResourceUri": "https://Sanitized.blob.core.windows.net/hsmbackups",
          "useManagedIdentity": true
        },
        "folderToRestore": "mhsm-mcpatinohsm-2025030521040885"
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "api-supported-versions": "20180927, 20211111",
        "azure-asyncoperation": "https://Sanitized.managedhsm.azure.net/restore/034b411eac3b464084a91394c9366c9d/pending",
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "x-ms-server-latency": "1764"
      },
      "ResponseBody": {
        "endTime": null,
        "error": null,
        "jobId": "034b411eac3b464084a91394c9366c9d",
        "startTime": 1741208669,
        "status": "InProgress",
        "statusDetails": null
      }
    },
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/restore/034b411eac3b464084a91394c9366c9d/pending",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "20180927, 20211111",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20241130-1-aecac196-develop",
        "x-ms-server-latency": "611"
      },
      "ResponseBody": {
        "endTime": null,
        "error": null,
        "jobId": "034b411eac3b464084a91394c9366c9d",
        "startTime": 1741208669,
        "status": "InProgress",
        "statusDetails": null
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/restore/034b411eac3b464084a91394c9366c9d/pending",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "20180927, 20211111",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20241130-1-aecac196-develop",
        "x-ms-server-latency": "702"
      },
      "ResponseBody": {
        "endTime": 1741208685,
        "error": null,
        "jobId": "034b411eac3b464084a91394c9366c9d",
        "startTime": 1741208669,
        "status": "Succeeded",
        "statusDetails": null
      }
    }
  ],
  "Variables": {}
}
