{
  "Entries": [
    {
      "RequestUri": "https://managedhsmvaultname.managedhsm.azure.net/keys/selective-restore-test-key3fc39cf/create?api-version=sanitized",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000\u0022, resource=\u0022https://managedhsm.azure.net\u0022",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://managedhsmvaultname.managedhsm.azure.net/keys/selective-restore-test-key3fc39cf/create?api-version=sanitized",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "124"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1706565261,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "updated": 1706565261
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://managedhsmvaultname.managedhsm.azure.net/keys/selective-restore-test-key3fc39cf/bd077b6d54264412221af73751feee21",
          "kty": "RSA-HSM",
          "n": "s-uX9oWa3QCbKcyDw1rkeiiZbzYjHtVL2gSRVswb_NZNaGld7AaMghJgUCi6-w7SfmAOvLt8h0lnUSEJXPM03prNIJkQZx1tXVEITyedjEY-jBqoXHglSdcGfn8Lu3btEErYywwON9TOOVtB2eztdynugExc7UHWUuK-7QZw0-TREbXNYKHPo2DQdNpqQ_8jmEl6L-R-Xcqiy_trB3asT_2a8X2HpxcMxDXhjaFuLunsLtbz-w3h7s5BL_PtSfGemlJLxppBGDyIBvlnPehhOOqqA6jieW0-A6vFGAUj1CFGM1QpjPrBo9Bu97o8hd-YPbDhSQQDi3FBx4a2m_5rbQ"
        }
      }
    },
    {
      "RequestUri": "https://managedhsmvaultname.managedhsm.azure.net/backup?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000\u0022, resource=\u0022https://managedhsm.azure.net\u0022",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://managedhsmvaultname.managedhsm.azure.net/backup?api-version=7.5",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "storageResourceUri": "https://blob_storage_account_name.blob.keyvault_endpoint_suffix/backup",
        "token": "fake-sas"
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "api-supported-versions": "20180927, 20211111",
        "azure-asyncoperation": "https://managedhsmvaultname.managedhsm.azure.net/backup/b6ceb9d2c03e45aab2dd1a21bbb15061/pending",
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "x-ms-server-latency": "553"
      },
      "ResponseBody": {
        "status": "InProgress",
        "statusDetails": null,
        "error": null,
        "startTime": 1706565266,
        "endTime": null,
        "jobId": "b6ceb9d2c03e45aab2dd1a21bbb15061",
        "azureStorageBlobContainerUri": null
      }
    },
    {
      "RequestUri": "https://managedhsmvaultname.managedhsm.azure.net/backup/b6ceb9d2c03e45aab2dd1a21bbb15061/pending",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "20180927, 20211111",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20240118-4-86344c01-develop",
        "x-ms-server-latency": "281"
      },
      "ResponseBody": {
        "azureStorageBlobContainerUri": null,
        "endTime": null,
        "error": null,
        "jobId": "b6ceb9d2c03e45aab2dd1a21bbb15061",
        "startTime": 1706565266,
        "status": "InProgress",
        "statusDetails": null
      }
    },
[...]
    {
      "RequestUri": "https://managedhsmvaultname.managedhsm.azure.net/keys/selective-restore-test-key3fc39cf/restore?api-version=7.5",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "sasTokenParameters": {
          "storageResourceUri": "https://blob_storage_account_name.blob.keyvault_endpoint_suffix/backup",
          "token": "fake-sas"
        },
        "folder": "mhsm-mcpatinokvthsm-2024012921542610"
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "api-supported-versions": "20180927, 20211111",
        "azure-asyncoperation": "https://managedhsmvaultname.managedhsm.azure.net/restore/2ed9b307419a4d8893cdc81a09930325/pending",
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "x-ms-server-latency": "588"
      },
      "ResponseBody": {
        "endTime": null,
        "error": null,
        "jobId": "2ed9b307419a4d8893cdc81a09930325",
        "startTime": 1706565277,
        "status": "InProgress",
        "statusDetails": null
      }
    },
    {
      "RequestUri": "https://managedhsmvaultname.managedhsm.azure.net/restore/2ed9b307419a4d8893cdc81a09930325/pending",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "20180927, 20211111",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20240118-4-86344c01-develop",
        "x-ms-server-latency": "242"
      },
      "ResponseBody": {
        "endTime": null,
        "error": null,
        "jobId": "2ed9b307419a4d8893cdc81a09930325",
        "startTime": 1706565277,
        "status": "InProgress",
        "statusDetails": null
      }
    },
    {
      "RequestUri": "https://managedhsmvaultname.managedhsm.azure.net/restore/2ed9b307419a4d8893cdc81a09930325/pending",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "20180927, 20211111",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20240118-4-86344c01-develop",
        "x-ms-server-latency": "232"
      },
      "ResponseBody": {
        "endTime": 1706565283,
        "error": null,
        "jobId": "2ed9b307419a4d8893cdc81a09930325",
        "startTime": 1706565277,
        "status": "Succeeded",
        "statusDetails": "Number of successful key versions restored: 0, Number of key versions could not overwrite: 2"
      }
    }
  ],
  "Variables": {}
}
