{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/backup?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/backup?api-version=7.6",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "storageResourceUri": "https://Sanitized.blob.core.windows.nethsmbackups",
        "useManagedIdentity": true
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "api-supported-versions": "20180927, 20211111",
        "azure-asyncoperation": "https://Sanitized.managedhsm.azure.net/backup/4981abd23f0c4916885498b8bce73596/pending",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "9c897242-49cc-4124-9eeb-0eb360439216",
        "Retry-After": "10",
        "x-ms-server-latency": "840"
      },
      "ResponseBody": {
        "status": "InProgress",
        "statusDetails": null,
        "error": null,
        "startTime": 1777392559,
        "endTime": null,
        "jobId": "4981abd23f0c4916885498b8bce73596",
        "azureStorageBlobContainerUri": null
      }
    },
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/backup/4981abd23f0c4916885498b8bce73596/pending",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "20180927, 20211111",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "8f664a44-5caf-4a18-b734-2d6aae40b56e",
        "x-ms-build-version": "1.0.20260320-2-76f00f12-develop",
        "x-ms-server-latency": "112"
      },
      "ResponseBody": {
        "azureStorageBlobContainerUri": null,
        "endTime": null,
        "error": null,
        "jobId": "4981abd23f0c4916885498b8bce73596",
        "startTime": 1777392559,
        "status": "InProgress",
        "statusDetails": null
      }
    },
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/backup/4981abd23f0c4916885498b8bce73596/pending",
      [...]
