{
  "Entries": [
    {
      "RequestUri": "https://managedhsmvaultname.managedhsm.azure.net/backup?api-version=7.5-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000\u0022, resource=\u0022https://managedhsm.azure.net\u0022",
        "x-ms-server-latency": "1"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://managedhsmvaultname.managedhsm.azure.net/backup?api-version=7.5-preview.1",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "storageResourceUri": "https://blob_storage_account_name.blob.keyvault_endpoint_suffix/backup",
        "token": "fake-sas",
        "useManagedIdentity": false
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "api-supported-versions": "20180927, 20211111",
        "azure-asyncoperation": "https://managedhsmvaultname.managedhsm.azure.net/backup/801f24b50d9a423db7b58b842d1886ec/pending",
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "x-ms-server-latency": "609"
      },
      "ResponseBody": {
        "status": "InProgress",
        "statusDetails": null,
        "error": null,
        "startTime": 1695159541,
        "endTime": null,
        "jobId": "801f24b50d9a423db7b58b842d1886ec",
        "azureStorageBlobContainerUri": null
      }
    },
    {
      "RequestUri": "https://managedhsmvaultname.managedhsm.azure.net/backup/801f24b50d9a423db7b58b842d1886ec/pending",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "20180927, 20211111",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20230831-2-9231e16f-07-lkg",
        "x-ms-server-latency": "170"
      },
      "ResponseBody": {
        "azureStorageBlobContainerUri": null,
        "endTime": null,
        "error": null,
        "jobId": "801f24b50d9a423db7b58b842d1886ec",
        "startTime": 1695159541,
        "status": "InProgress",
        "statusDetails": null
      }
    },
[...]
    {
      "RequestUri": "https://managedhsmvaultname.managedhsm.azure.net/restore?api-version=7.5-preview.1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "sasTokenParameters": {
          "storageResourceUri": "https://blob_storage_account_name.blob.keyvault_endpoint_suffix/backup",
          "token": "fake-sas",
          "useManagedIdentity": false
        },
        "folderToRestore": "mhsm-mcpatinokvhsm-2023091921390185"
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "api-supported-versions": "20180927, 20211111",
        "azure-asyncoperation": "https://managedhsmvaultname.managedhsm.azure.net/restore/14920b8b80fe4e75966a5d88f1a6c461/pending",
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "x-ms-server-latency": "366"
      },
      "ResponseBody": {
        "endTime": null,
        "error": null,
        "jobId": "14920b8b80fe4e75966a5d88f1a6c461",
        "startTime": 1695159553,
        "status": "InProgress",
        "statusDetails": null
      }
    },
    {
      "RequestUri": "https://managedhsmvaultname.managedhsm.azure.net/restore/14920b8b80fe4e75966a5d88f1a6c461/pending",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "20180927, 20211111",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20230831-2-9231e16f-07-lkg",
        "x-ms-server-latency": "164"
      },
      "ResponseBody": {
        "endTime": null,
        "error": null,
        "jobId": "14920b8b80fe4e75966a5d88f1a6c461",
        "startTime": 1695159553,
        "status": "InProgress",
        "statusDetails": null
      }
    },
[...]
    {
      "RequestUri": "https://managedhsmvaultname.managedhsm.azure.net/restore/14920b8b80fe4e75966a5d88f1a6c461/pending",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "20180927, 20211111",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20230831-2-9231e16f-07-lkg",
        "x-ms-server-latency": "149"
      },
      "ResponseBody": {
        "endTime": 1695159559,
        "error": null,
        "jobId": "14920b8b80fe4e75966a5d88f1a6c461",
        "startTime": 1695159553,
        "status": "Succeeded",
        "statusDetails": null
      }
    }
  ],
  "Variables": {}
}
