{
  "Entries": [
    {
      "RequestUri": "https://managedhsmvaultname.managedhsm.azure.net/keys/selective-restore-test-key1bc43626/create?api-version=7.4",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000\u0022, resource=\u0022https://managedhsm.azure.net\u0022",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://managedhsmvaultname.managedhsm.azure.net/keys/selective-restore-test-key1bc43626/create?api-version=7.4",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "320"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1678151523,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "updated": 1678151523
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "sign",
            "verify",
            "encrypt",
            "decrypt",
            "unwrapKey"
          ],
          "kid": "https://managedhsmvaultname.managedhsm.azure.net/keys/selective-restore-test-key1bc43626/b85fd1503539038417e976c7669e4a58",
          "kty": "RSA-HSM",
          "n": "wU6k5poHG0s-GebsCcvxS7Vv9TywwsKLZbbGqpba3z1a0vjiqMQglfNDcukxoNdWl6bou7Vgdtf3CVyCeONkUBa8my1hcLBY89bT24q3dJCVCzr4kfd14NYHmTpBfy1owYig2d-BQ2-6UVQkMrT4_XSbIIEjMnbiprGSKr1YMHmQJGbTU23TgqwycEg-_R4yQrqGGg9N7ngpIT74L5GRmaY7DXG_sslPqdpwgKMonXrV6qN2Yfp_cQ3eGPmSx6vCWtl1DYvLwcNVy08YVHhjiZzqRrJXG1dW_DuBXlCPepQ_qKWtNJERpLOTiF1ZA-q3ERyUH-Opk-LlA0ULUl4OQw"
        }
      }
    },
    {
      "RequestUri": "https://managedhsmvaultname.managedhsm.azure.net/backup?api-version=7.4",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000\u0022, resource=\u0022https://managedhsm.azure.net\u0022",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://managedhsmvaultname.managedhsm.azure.net/backup?api-version=7.4",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "storageResourceUri": "https://blob_storage_account_name.blob.keyvault_endpoint_suffix/backup",
        "token": "fake-sas"
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "api-supported-versions": "20180927, 20211111",
        "azure-asyncoperation": "https://managedhsmvaultname.managedhsm.azure.net/backup/414cbf64e2a847a58bc24769d4e1819c/pending",
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "x-ms-server-latency": "525"
      },
      "ResponseBody": {
        "status": "InProgress",
        "statusDetails": null,
        "error": null,
        "startTime": 1678151524,
        "endTime": null,
        "jobId": "414cbf64e2a847a58bc24769d4e1819c",
        "azureStorageBlobContainerUri": null
      }
    },
    {
      "RequestUri": "https://managedhsmvaultname.managedhsm.azure.net/backup/414cbf64e2a847a58bc24769d4e1819c/pending",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "20180927, 20211111",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20230208-1-3e0fbecc-develop",
        "x-ms-server-latency": "352"
      },
      "ResponseBody": {
        "azureStorageBlobContainerUri": null,
        "endTime": null,
        "error": null,
        "jobId": "414cbf64e2a847a58bc24769d4e1819c",
        "startTime": 1678151524,
        "status": "InProgress",
        "statusDetails": null
      }
    },
[...]
    {
      "RequestUri": "https://managedhsmvaultname.managedhsm.azure.net/keys/selective-restore-test-key1bc43626/restore?api-version=7.4",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "sasTokenParameters": {
          "storageResourceUri": "https://blob_storage_account_name.blob.keyvault_endpoint_suffix/backup",
          "token": "fake-sas"
        },
        "folder": "mhsm-mcpatinokvhsm-2023030701120489"
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "api-supported-versions": "20180927, 20211111",
        "azure-asyncoperation": "https://managedhsmvaultname.managedhsm.azure.net/restore/47199fc55bd048e7a989f4b1a7b25a20/pending",
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "x-ms-server-latency": "436"
      },
      "ResponseBody": {
        "endTime": null,
        "error": null,
        "jobId": "47199fc55bd048e7a989f4b1a7b25a20",
        "startTime": 1678151536,
        "status": "InProgress",
        "statusDetails": null
      }
    },
    {
      "RequestUri": "https://managedhsmvaultname.managedhsm.azure.net/restore/47199fc55bd048e7a989f4b1a7b25a20/pending",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "20180927, 20211111",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20230208-1-3e0fbecc-develop",
        "x-ms-server-latency": "258"
      },
      "ResponseBody": {
        "endTime": null,
        "error": null,
        "jobId": "47199fc55bd048e7a989f4b1a7b25a20",
        "startTime": 1678151536,
        "status": "InProgress",
        "statusDetails": null
      }
    },
[...]
    {
      "RequestUri": "https://managedhsmvaultname.managedhsm.azure.net/keys/selective-restore-test-key1bc43626?api-version=7.4",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 409,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": {
        "error": {
          "code": "Conflict",
          "message": "User triggered Restore operation is in progress. Retry after the restore operation (Activity ID: 1d37309a-bc85-11ed-abe6-000d3a6149b5)"
        }
      }
    },
    {
      "RequestUri": "https://managedhsmvaultname.managedhsm.azure.net/keys/selective-restore-test-key1bc43626?api-version=7.4",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "90"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1678151523,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "updated": 1678151523
        },
        "deletedDate": 1678151545,
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "sign",
            "verify",
            "encrypt",
            "decrypt",
            "unwrapKey"
          ],
          "kid": "https://managedhsmvaultname.managedhsm.azure.net/keys/selective-restore-test-key1bc43626/b85fd1503539038417e976c7669e4a58",
          "kty": "RSA-HSM",
          "n": "wU6k5poHG0s-GebsCcvxS7Vv9TywwsKLZbbGqpba3z1a0vjiqMQglfNDcukxoNdWl6bou7Vgdtf3CVyCeONkUBa8my1hcLBY89bT24q3dJCVCzr4kfd14NYHmTpBfy1owYig2d-BQ2-6UVQkMrT4_XSbIIEjMnbiprGSKr1YMHmQJGbTU23TgqwycEg-_R4yQrqGGg9N7ngpIT74L5GRmaY7DXG_sslPqdpwgKMonXrV6qN2Yfp_cQ3eGPmSx6vCWtl1DYvLwcNVy08YVHhjiZzqRrJXG1dW_DuBXlCPepQ_qKWtNJERpLOTiF1ZA-q3ERyUH-Opk-LlA0ULUl4OQw"
        },
        "recoveryId": "https://managedhsmvaultname.managedhsm.azure.net/deletedkeys/selective-restore-test-key1bc43626",
        "scheduledPurgeDate": 1678756345
      }
    },
    {
      "RequestUri": "https://managedhsmvaultname.managedhsm.azure.net/deletedkeys/selective-restore-test-key1bc43626?api-version=7.4",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-build-version": "1.0.20230208-1-3e0fbecc-develop",
        "x-ms-server-latency": "34"
      },
      "ResponseBody": {
        "attributes": [...]
    {
      "RequestUri": "https://managedhsmvaultname.managedhsm.azure.net/deletedkeys/selective-restore-test-key1bc43626?api-version=7.4",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "106"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
