{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys/selective-restore-test-keyf0ce3825/create?api-version=sanitized",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/keys/selective-restore-test-keyf0ce3825/create?api-version=sanitized",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "kty": "RSA"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-server-latency": "82"
      },
      "ResponseBody": {
        "attributes": {
          "created": 1782492984,
          "enabled": true,
          "exportable": false,
          "recoverableDays": 7,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "updated": 1782492984
        },
        "key": {
          "e": "AQAB",
          "key_ops": [
            "wrapKey",
            "decrypt",
            "encrypt",
            "unwrapKey",
            "sign",
            "verify"
          ],
          "kid": "https://Sanitized.managedhsm.azure.net/keys/selective-restore-test-keyf0ce3825/ccb11c8d56b30b63a60c2a3860d101d7",
          "kty": "RSA-HSM",
          "n": "iJiqhDL3Mc-ioE4AHxEY3ZAcCjiL7jFciF3rW7wpmsyPivxkxQ7MjM9n7JPfcS4JfPbA0PD90t18uniHAFLLaYi1VUulLlWND7ugDLxC8GsPxjBN3KVa-tMnOSeSsqq0c4wPTRrsNXEnVpgob9xFRjgbRFA3o6HterZsJYPA9zQKvRJuYONgFqGNmTEfCtK697KPpExwGzI2inLroAhojAPvm9MY2eUZkxKldT9n4e6j8jFLvh8S85UpdHsXQHaRicmRIMGqDpluuYt8vf4NiAa-wzk0d1izd8VquIjpdPrIWX1-8Szhr0yaZ0axWbn_IB9nwpwF5fv_RjEOxnFDIw"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/backup?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://managedhsm.azure.net\"",
        "x-ms-server-latency": "0"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/backup?api-version=2026-01-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "storageResourceUri": "https://Sanitized.blob.core.windows.nethsmbackups",
        "useManagedIdentity": true
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "api-supported-versions": "20180927, 20211111",
        "azure-asyncoperation": "https://Sanitized.managedhsm.azure.net/backup/ad9cb3e2cfe248988f3f035251bb1921/pending",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "17655c31-a0b7-4b5e-a7bd-80ce066afbb8",
        "Retry-After": "10",
        "x-ms-server-latency": "2236"
      },
      "ResponseBody": {
        "status": "InProgress",
        "statusDetails": null,
        "error": null,
        "startTime": 1782492989,
        "endTime": null,
        "jobId": "ad9cb3e2cfe248988f3f035251bb1921",
        "azureStorageBlobContainerUri": null
      }
    },
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/backup/ad9cb3e2cfe248988f3f035251bb1921/pending",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "20180927, 20211111",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "99696efe-6f83-4381-bb97-5bfee5a39d19",
        "x-ms-build-version": "1.0.20260505-1-b95d5630-develop",
        "x-ms-server-latency": "66"
      },
      "ResponseBody": {
        "azureStorageBlobContainerUri": null,
        "endTime": null,
        "error": null,
        "jobId": "ad9cb3e2cfe248988f3f035251bb1921",
        "startTime": 1782492989,
        "status": "InProgress",
        "statusDetails": null
      }
    },
    {
      "RequestUri": "https://Sanitized.managedhsm.azure.net/backup/ad9cb3e2cfe248988f3f035251bb1921/pending",
      "[...]
