{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.SignalRService/signalR?api-version=2023-06-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11981",
        "x-rp-server-mvid": "7f8eb303-e4e8-4c4c-82e1-057395a819b2"
      },
      "ResponseBody": {
        "value": [
          {
            "sku": {
              "name": "Free_F1",
              "tier": "Free",
              "size": "F1",
              "capacity": 1
            },
            "properties": {
              "provisioningState": "Succeeded",
              "externalIP": "20.88.155.33",
              "hostName": "mysignalrservice1.service.signalr.net",
              "publicPort": 443,
              "serverPort": 443,
              "version": "1.0",
              "privateEndpointConnections": [],
              "sharedPrivateLinkResources": [],
              "tls": {
                "clientCertEnabled": false
              },
              "hostNamePrefix": "mysignalrservice1",
              "features": [
                {
                  "flag": "ServiceMode",
                  "value": "Serverless",
                  "properties": {}
                },
                {
                  "flag": "EnableConnectivityLogs",
                  "value": "True",
                  "properties": {}
                },
                {
                  "flag": "EnableMessagingLogs",
                  "value": "False",
                  "properties": {}
                },
                {
                  "flag": "EnableLiveTrace",
                  "value": "False",
                  "properties": {}
                }
              ],
              "liveTraceConfiguration": null,
              "resourceLogConfiguration": null,
              "cors": {
                "allowedOrigins": [
                  "*"
                ]
              },
              "serverless": {
                "connectionTimeoutInSeconds": 30
              },
              "upstream": {
                "templates": []
              },
              "networkACLs": {
                "defaultAction": "Deny",
                "publicNetwork": {
                  "allow": [
                    "ServerConnection",
                    "ClientConnection",
                    "RESTAPI",
                    "Trace"
                  ],
                  "deny": null
                },
                "privateEndpoints": []
              },
              "publicNetworkAccess": "Enabled",
              "disableLocalAuth": false,
              "disableAadAuth": false
            },
            "kind": "SignalR",
            "identity": {
              "type": "SystemAssigned",
              "principalId": "371205e6-5b3a-4809-831b-4fa2e593c3c4",
              "tenantId": "88888888-8888-8888-8888-888888888888"
            },
            "location": "eastus",
            "tags": {
              "key1": "value1"
            },
            "id": "/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Microsoft.SignalRService/SignalR/mySignalRService1",
            "name": "mySignalRService1",
            "type": "Microsoft.SignalRService/SignalR",
            "systemData": {
              "createdBy": "azure_client_id",
              "createdByType": "Application",
              "createdAt": "2023-08-31T08:33:39.4168925Z",
              "lastModifiedBy": "azure_client_id",
              "lastModifiedByType": "Application",
              "lastModifiedAt": "2023-08-31T08:33:39.4168925Z"
            }
          }
        ]
      }
    }
  ],
  "Variables": {}
}
