{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/88888888-8888-8888-8888-888888888888/providers/Microsoft.SignalRService/locations/eastus/checkNameAvailability?api-version=2023-08-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "type": "Microsoft.SignalRService/SignalR",
        "name": "mySignalRService1"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1199",
        "x-rp-server-mvid": "7a9fbd09-41be-4571-843d-17367567ea6a"
      },
      "ResponseBody": {
        "nameAvailable": true
      }
    }
  ],
  "Variables": {}
}
