{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/88888888-8888-8888-8888-888888888888/resourceGroups/myjstest/providers/Microsoft.SignalRService/signalR/mySignalRService1?api-version=2023-06-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11982",
        "x-rp-server-mvid": "7f8eb303-e4e8-4c4c-82e1-057395a819b2"
      },
      "ResponseBody": {
        "sku": {
          "name": "Free_F1",
          "tier": "Free",
          "size": "F1",
          "capacity": 1
        },
        "properties": {
          "provisioningState": "Succeeded",
          "externalIP": "20.88.155.33",
          "hostName": "mysignalrservice1.service.signalr.net",
          "publicPort": 443,
          "serverPort": 443,
          "version": "1.0",
          "privateEndpointConnections": [],
          "sharedPrivateLinkResources": [],
          "tls": {
            "clientCertEnabled": false
          },
          "hostNamePrefix": "mysignalrservice1",
          "features": [
            {
              "flag": "ServiceMode",
              "value": "Serverless",
              "properties": {}
            },
            {
              "flag": "EnableConnectivityLogs",
              "value": "True",
              "properties": {}
            },
            {
              "flag": "EnableMessagingLogs",
              "value": "False",
              "properties": {}
            },
            {
              "flag": "EnableLiveTrace",
              "value": "False",
              "properties": {}
            }
          ],
          "liveTraceConfiguration": null,
          "resourceLogConfiguration": null,
          "cors": {
            "allowedOrigins": [
              "*"
            ]
          },
          "serverless": {
            "connectionTimeoutInSeconds": 30
          },
          "upstream": {
            "templates": []
          },
          "networkACLs": {
            "defaultAction": "Deny",
            "publicNetwork": {
              "allow": [
                "ServerConnection",
                "ClientConnection",
                "RESTAPI",
                "Trace"
              ],
              "deny": null
            },
            "privateEndpoints": []
          },
          "publicNetworkAccess": "Enabled",
          "disableLocalAuth": false,
          "disableAadAuth": false
        },
        "kind": "SignalR",
        "identity": {
          "type": "SystemAssigned",
          "principalId": "68cd8c9d-9788-4cfd-82d9-e3dbaf0b7e13",
          "tenantId": "88888888-8888-8888-8888-888888888888"
        },
        "location": "eastus",
        "tags": {
          "key1": "value1"
        },
        "id": "/subscriptions/88888888-8888-8888-8888-888888888888/resourceGroups/myjstest/providers/Microsoft.SignalRService/SignalR/mySignalRService1",
        "name": "mySignalRService1",
        "type": "Microsoft.SignalRService/SignalR",
        "systemData": {
          "createdBy": "azure_client_id",
          "createdByType": "Application",
          "createdAt": "2023-09-15T07:08:05.9271711Z",
          "lastModifiedBy": "azure_client_id",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2023-09-15T07:08:05.9271711Z"
        }
      }
    }
  ],
  "Variables": {}
}
