{
  "Entries": [
    {
      "RequestUri": "https://dummyaccount.eastus.batch.azure.com/jobs/jssdkJob-Basic2dd7/tasks?api-version=2025-06-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json; odata=minimalmetadata",
        "ocp-date": "Tue, 03 Feb 2026 01:09:20 GMT"
      },
      "RequestBody": {
        "id": "TaskWithAuthTokenSettings",
        "commandLine": "cmd /c echo Hello World",
        "authenticationTokenSettings": {
          "access": [
            "job"
          ]
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "DataServiceId": "https://dummyaccount.eastus.batch.azure.com/jobs/jssdkJob-Basic2dd7/tasks/TaskWithAuthTokenSettings",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DE62C0DC60E788",
        "Last-Modified": "Tue, 03 Feb 2026 01:09:20 GMT",
        "Location": "https://dummyaccount.eastus.batch.azure.com/jobs/jssdkJob-Basic2dd7/tasks/TaskWithAuthTokenSettings"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://dummyaccount.eastus.batch.azure.com/jobs/jssdkJob-Basic2dd7/tasks/TaskWithAuthTokenSettings?api-version=2025-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "ocp-date": "Tue, 03 Feb 2026 01:09:20 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DE62C0DC60E788",
        "Last-Modified": "Tue, 03 Feb 2026 01:09:20 GMT"
      },
      "ResponseBody": {
        "odata.metadata": "https://dummyaccount.eastus.batch.azure.com/$metadata#tasks/@Element",
        "id": "TaskWithAuthTokenSettings",
        "url": "https://dummyaccount.eastus.batch.azure.com/jobs/jssdkJob-Basic2dd7/tasks/TaskWithAuthTokenSettings",
        "eTag": "0x8DE62C0DC60E788",
        "creationTime": "2026-02-03T01:09:20.3770248Z",
        "lastModified": "2026-02-03T01:09:20.3770248Z",
        "state": "active",
        "stateTransitionTime": "2026-02-03T01:09:20.3770248Z",
        "commandLine": "cmd /c echo Hello World",
        "userIdentity": {
          "autoUser": {
            "scope": "pool",
            "elevationLevel": "nonadmin"
          }
        },
        "authenticationTokenSettings": {
          "access": [
            "job"
          ]
        },
        "constraints": {
          "maxWallClockTime": "P10675199DT2H48M5.4775807S",
          "retentionTime": "P7D",
          "maxTaskRetryCount": 0
        },
        "requiredSlots": 1,
        "executionInfo": {
          "retryCount": 0,
          "requeueCount": 0
        }
      }
    }
  ],
  "Variables": {
    "JOB_NAME": "jssdkJob-Basic2dd7"
  }
}
