{
  "Entries": [
    {
      "RequestUri": "https://dummyaccount.eastus.batch.azure.com/jobs/jssdkJob-Basic2dd7/tasks?api-version=2025-06-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json; odata=minimalmetadata",
        "ocp-date": "Tue, 03 Feb 2026 01:09:18 GMT"
      },
      "RequestBody": {
        "id": "jssdkJob-Basic2dd7-task2",
        "commandLine": "cmd /c echo hello world",
        "outputFiles": [
          {
            "filePattern": "../stdout.txt",
            "destination": {
              "container": {
                "containerUrl": "https://teststorage.blob.core.windows.net/batch-sdk-test?se=REDACTED",
                "path": "taskLogs/output.txt",
                "uploadHeaders": [
                  {
                    "name": "x-ms-blob-content-type",
                    "value": "text/plain"
                  },
                  {
                    "name": "x-ms-blob-content-language",
                    "value": "en-US"
                  }
                ]
              }
            },
            "uploadOptions": {
              "uploadCondition": "taskCompletion"
            }
          },
          {
            "filePattern": "../stderr.txt",
            "destination": {
              "container": {
                "containerUrl": "https://teststorage.blob.core.windows.net/batch-sdk-test?se=REDACTED",
                "path": "taskLogs/error.txt"
              }
            },
            "uploadOptions": {
              "uploadCondition": "taskFailure"
            }
          }
        ]
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "DataServiceId": "https://dummyaccount.eastus.batch.azure.com/jobs/jssdkJob-Basic2dd7/tasks/jssdkJob-Basic2dd7-task2",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DE62C0DB6BBFA8",
        "Last-Modified": "Tue, 03 Feb 2026 01:09:18 GMT",
        "Location": "https://dummyaccount.eastus.batch.azure.com/jobs/jssdkJob-Basic2dd7/tasks/jssdkJob-Basic2dd7-task2"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://dummyaccount.eastus.batch.azure.com/jobs/jssdkJob-Basic2dd7/tasks/jssdkJob-Basic2dd7-task2?api-version=2025-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "ocp-date": "Tue, 03 Feb 2026 01:09:18 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DE62C0DB6BBFA8",
        "Last-Modified": "Tue, 03 Feb 2026 01:09:18 GMT"
      },
      "ResponseBody": {
        "odata.metadata": "https://dummyaccount.eastus.batch.azure.com/$metadata#tasks/@Element",
        "id": "jssdkJob-Basic2dd7-task2",
        "url": "https://dummyaccount.eastus.batch.azure.com/jobs/jssdkJob-Basic2dd7/tasks/jssdkJob-Basic2dd7-task2",
        "eTag": "0x8DE62C0DB6BBFA8",
        "creationTime": "2026-02-03T01:09:18.770372Z",
        "lastModified": "2026-02-03T01:09:18.770372Z",
        "state": "active",
        "stateTransitionTime": "2026-02-03T01:09:18.770372Z",
        "commandLine": "cmd /c echo hello world",
        "outputFiles": [
          {
            "filePattern": "../stdout.txt",
            "destination": {
              "container": {
                "containerUrl": "https://teststorage.blob.core.windows.net/batch-sdk-test?se=REDACTED",
                "path": "taskLogs/output.txt",
                "uploadHeaders": [
                  {
                    "name": "x-ms-blob-content-type",
                    "value": "text/plain"
                  },
                  {
                    "name": "x-ms-blob-content-language",
                    "value": "en-US"
                  }
                ]
              }
            },
            "uploadOptions": {
              "uploadCondition": "TaskCompletion"
            }
          },
          {
            "filePattern": "../stderr.txt",
            "destination": {
              "container": {
                "containerUrl": "https://teststorage.blob.core.windows.net/batch-sdk-test?se=REDACTED",
                "path": "taskLogs/error.txt"
              }
            },
            "uploadOptions": {
              "uploadCondition": "TaskFailure"
            }
          }
        ],
        "userIdentity": {
          "autoUser": {
            "scope": "pool",
            "elevationLevel": "nonadmin"
          }
        },
        "constraints": {
          "maxWallClockTime": "P10675199DT2H48M5.4775807S",
          "retentionTime": "P7D",
          "maxTaskRetryCount": 0
        },
        "requiredSlots": 1,
        "executionInfo": {
          "retryCount": 0,
          "requeueCount": 0
        }
      }
    }
  ],
  "Variables": {
    "JOB_NAME": "jssdkJob-Basic2dd7",
    "TASK2_NAME": "jssdkJob-Basic2dd7-task2"
  }
}
