{
  "Entries": [
    {
      "RequestUri": "https://dummyaccount.eastus.batch.azure.com/jobs/jssdkJob-Basicba9f/tasks?api-version=2025-06-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json; odata=minimalmetadata",
        "ocp-date": "Sat, 25 Oct 2025 00:41:54 GMT"
      },
      "RequestBody": {
        "id": "jssdkJob-Basicba9f-task2",
        "commandLine": "cmd /c echo hello world",
        "outputFiles": [
          {
            "filePattern": "../stdout.txt",
            "destination": {
              "container": {
                "containerUrl": "https://teststorage.blob.core.windows.net/batch-sdk-test?se=REDACTED",
                "path": "taskLogs/output.txt",
                "uploadHeaders": [
                  {
                    "name": "x-ms-blob-content-type",
                    "value": "text/plain"
                  },
                  {
                    "name": "x-ms-blob-content-language",
                    "value": "en-US"
                  }
                ]
              }
            },
            "uploadOptions": {
              "uploadCondition": "taskCompletion"
            }
          },
          {
            "filePattern": "../stderr.txt",
            "destination": {
              "container": {
                "containerUrl": "https://teststorage.blob.core.windows.net/batch-sdk-test?se=REDACTED",
                "path": "taskLogs/error.txt"
              }
            },
            "uploadOptions": {
              "uploadCondition": "taskFailure"
            }
          }
        ]
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "DataServiceId": "https://dummyaccount.eastus.batch.azure.com/jobs/jssdkJob-Basicba9f/tasks/jssdkJob-Basicba9f-task2",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DE135F4BCA3E02",
        "Last-Modified": "Sat, 25 Oct 2025 00:41:54 GMT",
        "Location": "https://dummyaccount.eastus.batch.azure.com/jobs/jssdkJob-Basicba9f/tasks/jssdkJob-Basicba9f-task2"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://dummyaccount.eastus.batch.azure.com/jobs/jssdkJob-Basicba9f/tasks/jssdkJob-Basicba9f-task2?api-version=2025-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "ocp-date": "Sat, 25 Oct 2025 00:41:54 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DE135F4BCA3E02",
        "Last-Modified": "Sat, 25 Oct 2025 00:41:54 GMT"
      },
      "ResponseBody": {
        "odata.metadata": "https://dummyaccount.eastus.batch.azure.com/$metadata#tasks/@Element",
        "id": "jssdkJob-Basicba9f-task2",
        "url": "https://dummyaccount.eastus.batch.azure.com/jobs/jssdkJob-Basicba9f/tasks/jssdkJob-Basicba9f-task2",
        "eTag": "0x8DE135F4BCA3E02",
        "creationTime": "2025-10-25T00:41:54.755533Z",
        "lastModified": "2025-10-25T00:41:54.755533Z",
        "state": "active",
        "stateTransitionTime": "2025-10-25T00:41:54.755533Z",
        "commandLine": "cmd /c echo hello world",
        "outputFiles": [
          {
            "filePattern": "../stdout.txt",
            "destination": {
              "container": {
                "containerUrl": "https://teststorage.blob.core.windows.net/batch-sdk-test?se=REDACTED",
                "path": "taskLogs/output.txt",
                "uploadHeaders": [
                  {
                    "name": "x-ms-blob-content-type",
                    "value": "text/plain"
                  },
                  {
                    "name": "x-ms-blob-content-language",
                    "value": "en-US"
                  }
                ]
              }
            },
            "uploadOptions": {
              "uploadCondition": "TaskCompletion"
            }
          },
          {
            "filePattern": "../stderr.txt",
            "destination": {
              "container": {
                "containerUrl": "https://teststorage.blob.core.windows.net/batch-sdk-test?se=REDACTED",
                "path": "taskLogs/error.txt"
              }
            },
            "uploadOptions": {
              "uploadCondition": "TaskFailure"
            }
          }
        ],
        "userIdentity": {
          "autoUser": {
            "scope": "pool",
            "elevationLevel": "nonadmin"
          }
        },
        "constraints": {
          "maxWallClockTime": "P10675199DT2H48M5.4775807S",
          "retentionTime": "P7D",
          "maxTaskRetryCount": 0
        },
        "requiredSlots": 1,
        "executionInfo": {
          "retryCount": 0,
          "requeueCount": 0
        }
      }
    }
  ],
  "Variables": {
    "JOB_NAME": "jssdkJob-Basicba9f",
    "TASK2_NAME": "jssdkJob-Basicba9f-task2"
  }
}
