{
  "Entries": [
    {
      "RequestUri": "https://dummyaccount.eastus.batch.azure.com/jobs/jssdkJob-Basic2dd7/tasks/jssdkJob-Basic2dd7-task1/reactivate?api-version=2025-06-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json; odata=minimalmetadata",
        "ocp-date": "Tue, 03 Feb 2026 01:09:19 GMT"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "DataServiceVersion": "3.0",
        "ETag": "0x8DE62C0DBA98819",
        "Last-Modified": "Tue, 03 Feb 2026 01:09:19 GMT"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "JOB_NAME": "jssdkJob-Basic2dd7",
    "TASK_NAME": "jssdkJob-Basic2dd7-task1"
  }
}
