{
  "Entries": [
    {
      "RequestUri": "https://dummyaccount.eastus.batch.azure.com/jobs/jssdkJob-Basicba9f/tasks?api-version=2025-06-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json; odata=minimalmetadata",
        "ocp-date": "Sat, 25 Oct 2025 00:41:56 GMT"
      },
      "RequestBody": {
        "id": "TaskWithUserIdentity",
        "commandLine": "cmd /c net session >nul 2>&1",
        "userIdentity": {
          "username": "nonAdminUser"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "DataServiceId": "https://dummyaccount.eastus.batch.azure.com/jobs/jssdkJob-Basicba9f/tasks/TaskWithUserIdentity",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DE135F4D245984",
        "Last-Modified": "Sat, 25 Oct 2025 00:41:57 GMT",
        "Location": "https://dummyaccount.eastus.batch.azure.com/jobs/jssdkJob-Basicba9f/tasks/TaskWithUserIdentity"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://dummyaccount.eastus.batch.azure.com/jobs/jssdkJob-Basicba9f/tasks/TaskWithUserIdentity?api-version=2025-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "ocp-date": "Sat, 25 Oct 2025 00:41:57 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DE135F4D245984",
        "Last-Modified": "Sat, 25 Oct 2025 00:41:57 GMT"
      },
      "ResponseBody": {
        "odata.metadata": "https://dummyaccount.eastus.batch.azure.com/$metadata#tasks/@Element",
        "id": "TaskWithUserIdentity",
        "url": "https://dummyaccount.eastus.batch.azure.com/jobs/jssdkJob-Basicba9f/tasks/TaskWithUserIdentity",
        "eTag": "0x8DE135F4D245984",
        "creationTime": "2025-10-25T00:41:57.0237828Z",
        "lastModified": "2025-10-25T00:41:57.0237828Z",
        "state": "active",
        "stateTransitionTime": "2025-10-25T00:41:57.0237828Z",
        "commandLine": "cmd /c net session >nul 2>&1",
        "userIdentity": {
          "username": "nonAdminUser"
        },
        "constraints": {
          "maxWallClockTime": "P10675199DT2H48M5.4775807S",
          "retentionTime": "P7D",
          "maxTaskRetryCount": 0
        },
        "requiredSlots": 1,
        "executionInfo": {
          "retryCount": 0,
          "requeueCount": 0
        }
      }
    },
[...]
    {
      "RequestUri": "https://dummyaccount.eastus.batch.azure.com/jobs/jssdkJob-Basicba9f/tasks/TaskWithUserIdentity?api-version=2025-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "ocp-date": "Sat, 25 Oct 2025 00:48:01 GMT"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DE135F4D245984",
        "Last-Modified": "Sat, 25 Oct 2025 00:41:57 GMT"
      },
      "ResponseBody": {
        "odata.metadata": "https://dummyaccount.eastus.batch.azure.com/$metadata#tasks/@Element",
        "id": "TaskWithUserIdentity",
        "url": "https://dummyaccount.eastus.batch.azure.com/jobs/jssdkJob-Basicba9f/tasks/TaskWithUserIdentity",
        "eTag": "0x8DE135F4D245984",
        "creationTime": "2025-10-25T00:41:57.0237828Z",
        "lastModified": "2025-10-25T00:41:57.0237828Z",
        "state": "completed",
        "stateTransitionTime": "2025-10-25T00:47:52.624262Z",
        "previousState": "running",
        "previousStateTransitionTime": "2025-10-25T00:47:50.013022Z",
        "commandLine": "cmd /c net session >nul 2>&1",
        "userIdentity": {
          "username": "nonAdminUser"
        },
        "constraints": {
          "maxWallClockTime": "P10675199DT2H48M5.4775807S",
          "retentionTime": "P7D",
          "maxTaskRetryCount": 0
        },
        "requiredSlots": 1,
        "executionInfo": {
          "startTime": "2025-10-25T00:47:50.091094Z",
          "endTime": "2025-10-25T00:47:52.624262Z",
          "exitCode": 2,
          "failureInfo": {
            "category": "UserError",
            "code": "FailureExitCode",
            "message": "The task exited with an exit code representing a failure",
            "details": [
              {
                "name": "Message",
                "value": "The task process exited with an unexpected exit code"
              },
              {
                "name": "AdditionalErrorCode",
                "value": "FailureExitCode"
              }
            ]
          },
          "result": "failure",
          "retryCount": 0,
          "requeueCount": 0
        },
        "nodeInfo": {
          "affinityId": "TVM:tvmps_71292951d51d6c26b820c38095529536183ec86833665e536dfdc0fb59102c9e_d",
          "nodeUrl": "https://dummyaccount.eastus.batch.azure.com/pools/jssdkPool-Basic80da/nodes/tvmps_71292951d51d6c26b820c38095529536183ec86833665e536dfdc0fb59102c9e_d",
          "poolId": "jssdkPool-Basic80da",
          "nodeId": "tvmps_71292951d51d6c26b820c38095529536183ec86833665e536dfdc0fb59102c9e_d",
          "taskRootDirectory": "workitems\\jssdkJob-Basicba9f\\job-1\\TaskWithUserIdentity",
          "taskRootDirectoryUrl": "https://dummyaccount.eastus.batch.azure.com/pools/jssdkPool-Basic80da/nodes/tvmps_71292951d51d6c26b820c38095529536183ec86833665e536dfdc0fb59102c9e_d/files/workitems/jssdkJob-Basicba9f/job-1/TaskWithUserIdentity"
        }
      }
    }
  ],
  "Variables": {
    "JOB_NAME": "jssdkJob-Basicba9f"
  }
}
