{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/Sanitized?api-version=2025-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-writes": "2999",
        "x-ms-ratelimit-remaining-subscription-writes": "199"
      },
      "ResponseBody": {
        "id": "Sanitized",
        "name": "Sanitized",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "eastus",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.Attestation/attestationProviders/providera7o7f9?api-version=2021-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://providera7o7f9.eus.attest.azure.net/",
        "x-ms-maa-service-version": "1.11.03403.5858",
        "x-ms-ratelimit-remaining-subscription-global-writes": "2999",
        "x-ms-ratelimit-remaining-subscription-writes": "199"
      },
      "ResponseBody": {
        "id": "Sanitized",
        "name": "Sanitized",
        "type": "Microsoft.Attestation/attestationProviders",
        "location": "eastus",
        "properties": {
          "trustModel": "AAD",
          "status": "Ready",
          "attestUri": "https://providera7o7f9.eus.attest.azure.net",
          "publicNetworkAccess": null,
          "tpmAttestationAuthentication": null
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Attestation/attestationProviders?api-version=2021-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-original-request-ids": [
          "00-9996913539af1343796d01731fe7cd98-1597b6377672d773-00",
          "00-9996913539af1343796d01731fe7cd98-1597b6377672d773-00"
        ],
        "x-ms-ratelimit-remaining-subscription-global-reads": "3749",
        "x-ms-ratelimit-remaining-subscription-reads": "249"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "Sanitized",
            "name": "Sanitized",
            "type": "Microsoft.Attestation/attestationProviders",
            "location": "eastus",
            "properties": {
              "trustModel": "AAD",
              "status": "Ready",
              "attestUri": "https://providera7o7f9.eus.attest.azure.net",
              "publicNetworkAccess": null,
              "tpmAttestationAuthentication": null
            }
          },
          {
            "id": "Sanitized",
            "name": "Sanitized",
            "type": "Microsoft.Attestation/attestationProviders",
            "location": "eastus",
            "tags": {
              "Property1": "Value1",
              "Property2": "Value2",
              "Property3": "Value3"
            },
            "properties": {
              "trustModel": "AAD",
              "status": "Ready",
              "attestUri": "https://testprovider1494.eus.attest.azure.net",
              "publicNetworkAccess": "Enabled",
              "tpmAttestationAuthentication": null
            }
          },
          {
            "id": "Sanitized",
            "name": "Sanitized",
            "type": "Microsoft.Attestation/attestationProviders",
            "location": "eastus",
 [...]
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Attestation/defaultProviders?api-version=2021-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-original-request-ids": [
          "00-3691b2c135134ea3a3b98bd54b3[...]
[...]
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Attestation/locations/Central%20US/defaultProvider?api-version=2021-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-maa-service-version": "1.11.03385.5759",
        "x-ms-ratelimit-remaining-subscription-global-reads": "3749",
        "x-ms-ratelimit-remaining-subscription-reads": "249"
      },
      "ResponseBody": {
        "id": "Sanitized",
        "name": "Sanitized",
        "type": "Microsoft.Attestation/attestationProviders",
        "location": "Central US",
        "properties": {
          "trustModel": "AAD",
          "status": "Ready",
          "attestUri": "https://sharedcus.cus.attest.azure.net",
          "publicNetworkAccess": null,
          "tpmAttestationAuthentication": null
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.Attestation/attestationProviders?api-version=2021-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-maa-service-version": "1.11.03403.5858",
        "x-ms-original-request-ids": "00-98c1283b9f4c65e9df50cdf54ca6784c-dcfd2b7d442be9da-00",
        "x-ms-ratelimit-remaining-subscription-global-reads": "3749",
        "x-ms-ratelimit-remaining-subscription-reads": "249"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "Sanitized",
            "name": "Sanitized",
            "type": "Microsoft.Attestation/attestationProviders",
            "location": "eastus",
            "properties": {
              "trustModel": "AAD",
              "status": "Ready",
              "attestUri": "https://providera7o7f9.eus.attest.azure.net",
              "publicNetworkAccess": null,
              "tpmAttestationAuthentication": null
            }
          }
        ]
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.azure.com/providers/Microsoft.Attestation/operations?api-version=2021-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-maa-service-version": "1.11.03403.5858",
        "x-ms-ratelimit-remaining-tenant-reads": "249"
      },
      "ResponseBody": {
        "value": [
          {
            "name": "Sanitized",
            "display": {
              "provider": "Microsoft Azure Attestation",
              "resource": "AzureAttestation",
              "operation": "Gets the attestation service status.",
              "description": "Gets the attestation service status."
            }
          },
          {
            "name": "Sanitized",
            "display": {
              "provider": "Microsoft Azure Attestation",
              "resource": "AzureAttestation",
              "operation": "Adds attestation service.",
              "description": "Adds attestation service."
            }
          },
          {
            "name": "Sanitized",
            "display": {
              "provider": "Microsoft Azure Attesta[...]
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/Sanitized/providers/Microsoft.Resources/deployments/Create_PrivateEndpoint?api-version=2025-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "mode": "Incremental",
          "template": {
            "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
            "contentVersion": "1.0.0.0",
            "parameters": {
              "attestationId": {
                "defaultValue": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.Attestation/attestationProviders/providera7o7f9",
                "type": "string"
              },
              "location": {
                "defaultValue": "eastus",
                "type": "string"
              },
              "networkInterfaceName": {
                "defaultValue": "epattestation-nic",
                "type": "string"
              },
              "privateEndpointName": {
                "defaultValue": "epattestation",
                "type": "string"
              },
              "virtualNetworksName": {
                "defaultValue": "epattestationvnet",
                "type": "string"
              }
            },
            "resources": [
              {
                "apiVersion": "2024-05-01",
                "location": "[parameters('location')]",
                "name": "Sanitized",
                "properties": {
                  "addressSpace": {
                    "addressPrefixes": [
                      "10.0.0.0/16"
                    ]
                  },
                  "enableDdosProtection": false,
                  "subnets": [
                    {
                      "name": "Sanitized",
                      "properties": {
                        "addressPrefix": "10.0.0.0/24",
                        "delegations": [],
                        "privateEndpointNetworkPolicies": "Disabled",
                        "privateLinkServiceNetworkPolicies": "Enabled"
                      }
                    }
                  ],
                  "virtualNetworkPeerings": []
                },
                "type": "Microsoft.Network/virtualNetworks"
              },
              {
                "apiVersion": "2024-05-01",
                "dependsOn": [
                  "[resourceId('Microsoft.Network/virtualNetworks/subnets', parameters('virtualNetworksName'), 'default')]"
                ],
                "location": "[parameters('location')]",
                "name": "Sanitized",
                "properties": {
                  "dnsSettings": {
                    "dnsServers": []
                  },
                  "enableIPForwarding": false,
                  "ipConfigurations": [
                    {
                      "name": "Sanitized",
                      "properties": {
                        "primary": true,
                        "privateIPAddress": "10.0.0.4",
                        "privateIPAddressVersion": "IPv4",
                        "privateIPAllocationMethod": "Dynamic",
                        "subnet": {
                          "id": "Sanitized"
                        }
                      }
                    }
                  ]
                },
                "type": "Microsoft.Network/networkInterfaces"
              },
              {
                "apiVersion": "2024-05-01",
                "dependsOn": [
                  "[resourceId('Microsoft.Network/virtualNetworks/subnets', parameters('virtualNetworksName'), 'default')]"
                ],
                "location": "[parameters('location')]",
                "name": "Sanitized",
                "properties": {
                  "customDnsConfigs": [],
                  "manualPrivateLinkServiceConnections": [],
                  "privateLinkServiceConnections": [
                    {
                      "name": "Sanitized",
                      "properties": {
                        "groupIds": [
                          "standard"
                        ],
                        "privateLinkServiceConnectionState": {
                          "actionsRequired": "None",
                          "description": "Auto-Approved",
                          "status": "Approved"
                        },
                        "privateLinkServiceId": "[parameters('attestationId')]"
                      }
                    }
                  ],
                  "subnet": {
                    "id": "Sanitized"
                  }
                },
                "type": "Microsoft.Network/privateEndpoints"
              },
              {
                "apiVersion": "2024-05-01",
                "dependsOn": [
                  "[resourceId('Microsoft.Network/virtualNetworks', parameters('virtualNetworksName'))]"
                ],
                "name": "Sanitized",
                "properties": {
                  "addressPrefix": "10.0.0.0/24",
                  "delegations": [],
                  "privateEndpointNetworkPolicies": "Disabled",
                  "privateLinkServiceNetworkPolicies": "Enabled"
                },
                "type": "Microsoft.Network/virtualNetworks/subnets"
              }
            ],
            "variables": {}
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/Sanitized/providers/Microsoft.Resources/deployments/Create_PrivateEndpoint/operationStatuses/08584233736169887209?api-version=2025-04-01&t=639138300689268119&c=MIIHlDCCBnygAwIBAgIQZiYkoV_LM7Hwt06_u_DzJDANBgkqhkiG9w0BAQsFADA2MTQwMgYDVQQDEytDQ01FIEcxIFRMUyBSU0EgMjA0OCBTSEEyNTYgMjA0OSBFVVMyIENBIDAxMB4XDTI2MDQxMDA4MTUzOVoXDTI2MTAwNTE0MTUzOVowQDE-MDwGA1UEAxM1YXN5bmNvcGVyYXRpb25zaWduaW5nY2VydGlmaWNhdGUubWF[...]
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/Sanitized/providers/Microsoft.Resources/deployments/Create_PrivateEndpoint/operationStatuses/08584233736169887209?api-version=2025-04-01&t=639138300689268119&c=MIIHlDCCBnygAwIBAgIQZiYkoV_LM7Hwt06_u_DzJDANBgkqhkiG9w0BAQsFADA2MTQwMgYDVQQDEytDQ01FIEcxIFRMUyBSU0EgMjA0OCBTSEEyNTYgMjA0OSBFVVMyIENBIDAxMB4XDTI2MDQxMDA4MTUzOVoXDTI2MTAwNTE0MTUzOVowQDE-MDwGA1UEAxM1YXN5bmNvcGVyYXRpb25zaWd[...]
[...]
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/Sanitized/providers/Microsoft.Resources/deployments/Create_PrivateEndpoint?api-version=2025-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "3749",
        "x-ms-ratelimit-remaining-subscription-reads": "249"
      },
      "ResponseBody": {
        "id": "Sanitized",
        "name": "Sanitized",
        "type": "Microsoft.Resources/deployments",
        "properties": {
          "templateHash": "74885993381339341",
          "parameters": {
            "attestationId": {
              "type": "String",
              "value": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.Attestation/attestationProviders/providera7o7f9"
            },
            "location": {
              "type": "String",
              "value": "eastus"
            },
            "networkInterfaceName": {
              "type": "String",
              "value": "epattestation-nic"
            },
            "privateEndpointName": {
              "type": "String",
              "value": "epattestation"
            },
            "virtualNetworksName": {
              "type": "String",
              "value": "epattestationvnet"
            }
          },
          "extensions": [],
          "mode": "Incremental",
          "provisioningState": "Succeeded",
          "timestamp": "2026-05-08T09:41:36.7876683Z",
          "duration": "PT28.313979S",
          "correlationId": "00000000-0000-0000-0000-000000000000",
          "providers": [
            {
              "namespace": "Microsoft.Network",
              "resourceTypes": [
                {
                  "resourceType": "virtualNetworks",
                  "locations": [
                    "eastus"
                  ]
                },
                {
                  "resourceType": "networkInterfaces",
                  "locations": [
                    "eastus"
                  ]
                },
                {
                  "resourceType": "privateEndpoints",
                  "locations": [
                    "eastus"
                  ]
                },
                {
                  "resourceType": "virtualNetworks/subnets",
                  "locations": [
                    null
                  ]
                }
              ]
            }
          ],
          "dependencies": [
            {
              "dependsOn": [
                {
                  "id": "Sanitized",
                  "resourceType": "Microsoft.Network/virtualNetworks/subnets",
                  "resourceName": "epattestationvnet/default"
                }
              ],
              "id": "Sanitized",
              "resourceType": "Microsoft.Network/networkInterfaces",
              "resourceName": "epattestation-nic"
            },
            {
              "dependsOn": [
                {
                  "id": "Sanitized",
                  "resourceType": "Microsoft.Network/virtualNetworks/subnets",
                  "resourceName": "epattestationvnet/default"
                }
              ],
              "id": "Sanitized",
              "resourceType": "Microsoft.Network/privateEndpoints",
              "resourceName": "epattestation"
            },
            {
              "dependsOn": [
                {
                  "id": "Sanitized",
                  "resourceType": "Microsoft.Network/virtualNetworks",
                  "resourceName": "epattestationvnet"
                }
              ],
              "id": "Sanitized",
              "resourceType": "Microsoft.Network/virtualNetworks/subnets",
              "resourceName": "epattestationvnet/default"
            }
          ],
          "outputResources": [
            {
              "id": "Sanitized",
              "resourceType": "Microsoft.Network/networkInterfaces"
            },
            {
              "id": "Sanitized",
              "resourceType": "Microsoft.Network/privateEndpoints"
            },
            {
              "id": "Sanitized",
              "resourceType": "Microsoft.Network/virtualNetworks"
            },
            {
              "id": "Sanitized",
              "resourceType": "Microsoft.Network/virtualNetworks/subnets"
            }
          ]
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.Attestation/attestationProviders/providera7o7f9/privateEndpointConnections?api-version=2021-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-maa-service-version": "1.11.03403.5858",
        "x-ms-ratelimit-remaining-subscription-global-reads": "3749",
        "x-ms-ratelimit-remaining-subscription-reads": "249"
      },
      "ResponseBody": {
        "value": [
          {
            "name": "Sanitized",
            "id": "Sanitized",
            "type": "Microsoft.Attestation/attestationProviders/privateEndpointConnections",
            "properties": {
              "provisioningState": "Succeeded",
              "privateEndpoint": {
                "id": "Sanitized"
              },
              "privateLinkServiceConnectionState": {
                "status": "Approved",
                "actionsRequired": "None"
              }
            }
          }
        ]
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/Sanitized/providers/Microsoft.Attestation/attestationProviders/providera7o7f9/privateEndpointConnections/epattestation.00000000-0000-0000-0000-000000000000?api-version=2021-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "id": "Sanitized",
  [...]
[...]
