{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/azure_subscription_id/resourceGroups/SSS3PT_czwjstest/providers/Microsoft.RecoveryServices/vaults/myvaultxxx/extendedInformation/vaultExtendedInfo?api-version=2025-08-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "3749",
        "x-ms-ratelimit-remaining-subscription-reads": "249"
      },
      "ResponseBody": {
        "name": "vaultExtendedInfo",
        "etag": "d541feca-6aa2-417d-befe-687885963d79",
        "properties": {
          "algorithm": "None"
        },
        "id": "/subscriptions/azure_subscription_id/resourceGroups/SSS3PT_czwjstest/providers/Microsoft.RecoveryServices/vaults/myvaultxxxextendedInformation/vaultExtendedInfo",
        "type": "Microsoft.RecoveryServices/vaults/extendedInformation"
      }
    }
  ],
  "Variables": {}
}
