{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/azure_subscription_id/resourceGroups/SSS3PT_czwjstest/providers/Microsoft.RecoveryServices/vaults?api-version=2025-08-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-original-request-ids": "25be77e6-1c29-4e71-8244-3dd0277040b7",
        "x-ms-ratelimit-remaining-subscription-global-reads": "3749",
        "x-ms-ratelimit-remaining-subscription-reads": "249"
      },
      "ResponseBody": {
        "value": [
          {
            "location": "eastus",
            "name": "myvaultxxx",
            "etag": "W/\"datetime'2025-09-30T03%3A35%3A53.9803394Z'\"",
            "identity": {
              "tenantId": "00000000-0000-0000-0000-000000000000",
              "principalId": "00000000-0000-0000-0000-000000000000",
              "type": "SystemAssigned"
            },
            "properties": {
              "provisioningState": "Succeeded",
              "privateEndpointStateForBackup": "None",
              "privateEndpointStateForSiteRecovery": "None",
              "secureScore": "None",
              "bcdrSecurityLevel": "Poor",
              "publicNetworkAccess": "Enabled",
              "restoreSettings": {
                "crossSubscriptionRestoreSettings": {
                  "crossSubscriptionRestoreState": "Enabled"
                }
              }
            },
            "id": "/subscriptions/azure_subscription_id/resourceGroups/SSS3PT_czwjstest/providers/Microsoft.RecoveryServices/vaults/myvaultxxx",
            "type": "Microsoft.RecoveryServices/vaults",
            "sku": {
              "name": "Standard"
            }
          }
        ]
      }
    }
  ],
  "Variables": {}
}
