{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.eastus2.models.ai.azure.com/embeddings?api-version=2024-05-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "api-key": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "input": [
          "first phrase",
          "second phrase",
          "third phrase"
        ]
      },
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-error-reason": "Invalid JWT."
      },
      "ResponseBody": {
        "statusCode": 401,
        "message": "Auth token validation failed. Please provide a valid key or a valid AAD token"
      }
    }
  ],
  "Variables": {}
}
