{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.eastus2.models.ai.azure.com/embeddings?api-version=2024-05-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "api-key": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "input": [
          "first phrase",
          "second phrase",
          "third phrase"
        ]
      },
      "StatusCode": 404,
      "ResponseHeaders": {
        "azureml-model-group": "mistral-large-2411-scaleset-sgl",
        "azureml-model-session": "dep-eus-mis-lar2411-241203232705",
        "Content-Type": "text/plain; charset=utf-8",
        "ms-azureml-model-error-reason": "model_error",
        "ms-azureml-model-error-statuscode": "404"
      },
      "ResponseBody": "NOT FOUND"
    }
  ],
  "Variables": {}
}
