{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.eastus2.inference.ai.azure.com/info?api-version=2024-05-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-model-group": "offer-mistrallarge-paygo",
        "azureml-model-session": "dep-mistral-eus2-mistrallarge-5",
        "Content-Type": "application/json"
      },
      "ResponseBody": {
        "model_name": "mistral-large",
        "model_type": "completion",
        "model_provider_name": "Mistral",
        "served_model_name": "mistral-large",
        "served_model_type": "completion"
      }
    }
  ],
  "Variables": {}
}
