{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.eastus2.inference.ai.azure.com/info?api-version=2024-05-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-model-group": "offer-cohere-embed-english-paygo",
        "azureml-model-session": "dep-eus-coh-emb-eng-241023173504",
        "Content-Type": "application/json"
      },
      "ResponseBody": {
        "model_name": "Cohere Embed v3 - English",
        "model_type": "embedding",
        "model_provider_name": "Cohere",
        "served_model_name": "Cohere Embed v3 - English",
        "served_model_type": "embedding"
      }
    }
  ],
  "Variables": {}
}
