{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.eastus2.inference.ai.azure.com/info?api-version=2024-05-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "api-key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-model-group": "offer-mistrallarge-h100-paygo",
        "azureml-model-session": "dep-eus-large-240911002106",
        "Content-Type": "application/json"
      },
      "ResponseBody": {
        "model_name": "mistral-large",
        "model_type": "chat-completion",
        "model_provider_name": "Mistral",
        "served_model_name": "mistral-large",
        "served_model_type": "chat-completion"
      }
    }
  ],
  "Variables": {}
}
