{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.eastus2.inference.ai.azure.com/embeddings?api-version=2024-05-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "api-key": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "input": [
          "first phrase",
          "second phrase",
          "third phrase"
        ]
      },
      "StatusCode": 405,
      "ResponseHeaders": {
        "azureml-model-group": "offer-mistrallarge-paygo",
        "azureml-model-session": "dep-mistral-eus2-mistrallarge-4",
        "Content-Type": "text/plain; charset=utf-8",
        "ms-azureml-model-error-reason": "model_error",
        "ms-azureml-model-error-statuscode": "405"
      },
      "ResponseBody": "Method not allowed: POST https://127.0.0.1/embeddings?api-version=2024-05-01-preview"
    }
  ],
  "Variables": {}
}
