{
  "Entries": [
    {
      "RequestUri": "https://a9dua3ezhee5bahz.api.eus001.deid.azure.com/jobs/net-sdk-job-1234?api-version=2025-07-15-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "operation": "Surrogate",
        "sourceLocation": {
          "location": "https://fakeblobstorage.blob.core.windows.net/container",
          "prefix": "example_patient_1"
        },
        "targetLocation": {
          "location": "https://fakeblobstorage.blob.core.windows.net/container",
          "prefix": "_output/"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2024-11-15, 2025-07-15-preview",
        "Content-Type": "application/json; charset=utf-8",
        "operation-id": "net-sdk-job-1325494891-9_0_9",
        "operation-location": "https://a9dua3ezhee5bahz.api.eus001.deid.azure.com/jobs/net-sdk-job-1325494891-9_0_9?api-version=2025-07-15-preview"
      },
      "ResponseBody": {
        "name": "net-sdk-job-1234",
        "sourceLocation": {
          "location": "https://fakeblobstorage.blob.core.windows.net/container",
          "prefix": "example_patient_1",
          "extensions": [
            "*"
          ]
        },
        "targetLocation": {
          "location": "https://fakeblobstorage.blob.core.windows.net/container",
          "prefix": "_output/",
          "overwrite": false
        },
        "operation": "Surrogate",
        "customizations": {
          "surrogateLocale": "en-US",
          "inputLocale": "en-US"
        },
        "status": "NotStarted",
        "createdAt": "2025-09-24T19:18:24.0831202Z",
        "lastUpdatedAt": "2025-09-24T19:18:24.0831203Z"
      }
    },
    {
      "RequestUri": "https://a9dua3ezhee5bahz.api.eus001.deid.azure.com/jobs?api-version=2025-07-15-preview&maxpagesize=2",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2024-11-15, 2025-07-15-preview",
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [
          {
            "name": "net-sdk-job-1234",
            "sourceLocation": {
              "location": "https://fakeblobstorage.blob.core.windows.net/container",
              "prefix": "example_patient_1",
              "extensions": [
                "*"
              ]
            },
            "targetLocation": {
              "location": "https://fakeblobstorage.blob.core.windows.net/container",
              "prefix": "_output/",
              "overwrite": false
  [...]
