{
  "Entries": [
    {
      "RequestUri": "https://a9dua3ezhee5bahz.api.eus001.deid.azure.com/jobs/net-sdk-job-1234?api-version=2025-07-15-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "operation": "Surrogate",
        "sourceLocation": {
          "location": "https://fakeblobstorage.blob.core.windows.net/container",
          "prefix": "example_patient_1"
        },
        "targetLocation": {
          "location": "https://fakeblobstorage.blob.core.windows.net/container",
          "prefix": "_output/"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2024-11-15, 2025-07-15-preview",
        "Content-Type": "application/json; charset=utf-8",
        "operation-id": "net-sdk-job-626164853-8_0_20",
        "operation-location": "https://a9dua3ezhee5bahz.api.eus001.deid.azure.com/jobs/net-sdk-job-626164853-8_0_20?api-version=2025-07-15-preview"
      },
      "ResponseBody": {
        "name": "net-sdk-job-1234",
        "sourceLocation": {
          "location": "https://fakeblobstorage.blob.core.windows.net/container",
          "prefix": "example_patient_1",
          "extensions": [
            "*"
          ]
        },
        "targetLocation": {
          "location": "https://fakeblobstorage.blob.core.windows.net/container",
          "prefix": "_output/",
          "overwrite": false
        },
        "operation": "Surrogate",
        "customizations": {
          "surrogateLocale": "en-US",
          "inputLocale": "en-US"
        },
        "status": "NotStarted",
        "createdAt": "2025-09-24T19:18:15.2537088Z",
        "lastUpdatedAt": "2025-09-24T19:18:15.2537088Z"
      }
    }
  ],
  "Variables": {
    "DEID_SERVICE_ENDPOINT": "https://a9dua3ezhee5bahz.api.eus001.deid.azure.com",
    "RandomSeed": "269093847",
    "STORAGE_ACCOUNT_NAME": "blobsdkdevjovinson2",
    "STORAGE_CONTAINER_NAME": "container-sdk-dev-jovinson2"
  }
}
