{
  "Entries": [
    {
      "RequestUri": "https://h4bbcyd8byawape5.api.deid.azure.com/jobs/net-sdk-job-1234?api-version=2024-07-12-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "sourceLocation": {
          "location": "https://fakeblobstorage.blob.core.windows.net/container",
          "prefix": "example_patient_1"
        },
        "targetLocation": {
          "location": "https://fakeblobstorage.blob.core.windows.net/container",
          "prefix": "_output"
        },
        "operation": "Surrogate",
        "dataType": "Plaintext"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-deprecated-versions": "1",
        "api-supported-versions": "2024-01-16-preview, 2024-07-12-preview",
        "Content-Type": "application/json; charset=utf-8",
        "operation-id": "net-sdk-job-1702708387-4_0_303",
        "operation-location": "https://h4bbcyd8byawape5.api.deid.azure.com/jobs/net-sdk-job-1702708387-4_0_303?api-version=2024-07-12-preview"
      },
      "ResponseBody": {
        "name": "net-sdk-job-1234",
        "status": "NotStarted",
        "createdAt": "2024-07-18T17:38:06.0465384Z",
        "lastUpdatedAt": "2024-07-18T17:38:06.0465385Z",
        "sourceLocation": {
          "extensions": [
            "*"
          ],
          "location": "https://fakeblobstorage.blob.core.windows.net/container",
          "prefix": "example_patient_1"
        },
        "targetLocation": {
          "location": "https://fakeblobstorage.blob.core.windows.net/container",
          "prefix": "_output"
        },
        "dataType": "Plaintext",
        "operation": "Surrogate"
      }
    },
[...]
    {
      "RequestUri": "https://h4bbcyd8byawape5.api.deid.azure.com/jobs/net-sdk-job-1234?api-version=2024-07-12-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-deprecated-versions": "1",
        "api-supported-versions": "2024-01-16-preview, 2024-07-12-preview",
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "2"
      },
      "ResponseBody": {
        "name": "net-sdk-job-1234",
        "status": "NotStarted",
        "createdAt": "2024-07-18T17:38:06.0465384Z",
        "lastUpdatedAt": "2024-07-18T17:38:06.0465385Z",
        "sourceLocation": {
          "extensions": [
            "*"
          ],
          "location": "https://fakeblobstorage.blob.core.windows.net/container",
          "prefix": "example_patient_1"
        },
        "targetLocation": {
          "location": "https://fakeblobstorage.blob.core.windows.net/container",
          "prefix": "_output"
        },
        "dataType": "Plaintext",
        "operation": "Surrogate"
      }
    },
[...]
    {
      "RequestUri": "https://h4bbcyd8byawape5.api.deid.azure.com/jobs/net-sdk-job-1234?api-version=2024-07-12-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-deprecated-versions": "1",
        "api-supported-versions": "2024-01-16-preview, 2024-07-12-preview",
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "name": "net-sdk-job-1234",
        "status": "Running",
        "createdAt": "2024-07-18T17:38:06.0465384Z",
        "startedAt": "2024-07-18T17:38:18.3295765Z",
        "lastUpdatedAt": "2024-07-18T17:38:18.8189334Z",
        "summary": {
          "successful": 0,
          "failed": 0,
          "canceled": 0,
          "total": 2,
          "bytesProcessed": 0
        },
        "sourceLocation": {
          "extensions": [
            "*"
          ],
          "location": "https://fakeblobstorage.blob.core.windows.net/container",
          "prefix": "example_patient_1"
        },
        "targetLocation": {
          "location": "https://fakeblobstorage.blob.core.windows.net/container",
          "prefix": "_output"
        },
        "dataType": "Plaintext",
        "operation": "Surrogate"
      }
    },
[...]
    {
      "RequestUri": "https://h4bbcyd8byawape5.api.deid.azure.com/jobs/net-sdk-job-1234/documents?api-version=2024-07-12-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-deprecated-versions": "1",
        "api-supported-versions": "2024-01-16-preview, 2024-07-12-preview",
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "7e30eb96-a869-42e7-8c39-5d896ccd4774",
            "input": {
              "path": "example_patient_1/doctor_dictation.txt",
              "eTag": "0x8DCA74F1E168BB3"
            },
            "output": {
              "path": "_output/net-sdk-job-1234/example_patient_1/doctor_dictation.txt",
              "eTag": "0x8DCA7507F32E828"
            },
            "status": "Succeeded"
          },
          {
            "id": "582b327b-adc2-47cb-aa80-1f61c6774228",
            "input": {
              "path": "example_patient_1/visit_summary.txt",
              "eTag": "0x8DCA74F1E2B7034"
            },
            "output": {
              "path": "_output/net-sdk-job-1234/example_patient_1/visit_summary.txt",
              "eTag": "0x8DCA7507F2A5DEC"
            },
            "status": "Succeeded"
          }
        ]
      }
    }
  ],
  "Variables": {
    "DEID_SERVICE_ENDPOINT": "https://h4bbcyd8byawape5.api.deid.azure.com",
    "RandomSeed": "1125371170",
    "STORAGE_ACCOUNT_NAME": "blobsdkdevgthomas",
    "STORAGE_CONTAINER_NAME": "container-sdk-dev-gthomas"
  }
}
