{
  "Entries": [
    {
      "RequestUri": "https://h4bbcyd8byawape5.api.deid.azure.com/jobs/net-sdk-job-1234?api-version=2024-07-12-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "sourceLocation": {
          "location": "https://fakeblobstorage.blob.core.windows.net/container",
          "prefix": "example_patient_1"
        },
        "targetLocation": {
          "location": "https://fakeblobstorage.blob.core.windows.net/container",
          "prefix": "_output"
        },
        "operation": "Surrogate",
        "dataType": "Plaintext"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-deprecated-versions": "1",
        "api-supported-versions": "2024-01-16-preview, 2024-07-12-preview",
        "Content-Type": "application/json; charset=utf-8",
        "operation-id": "net-sdk-job-542067581-4_0_303",
        "operation-location": "https://h4bbcyd8byawape5.api.deid.azure.com/jobs/net-sdk-job-542067581-4_0_303?api-version=2024-07-12-preview"
      },
      "ResponseBody": {
        "name": "net-sdk-job-1234",
        "status": "NotStarted",
        "createdAt": "2024-07-18T17:36:48.9791182Z",
        "lastUpdatedAt": "2024-07-18T17:36:48.9791182Z",
        "sourceLocation": {
          "extensions": [
            "*"
          ],
          "location": "https://fakeblobstorage.blob.core.windows.net/container",
          "prefix": "example_patient_1"
        },
        "targetLocation": {
          "location": "https://fakeblobstorage.blob.core.windows.net/container",
          "prefix": "_output"
        },
        "dataType": "Plaintext",
        "operation": "Surrogate"
      }
    },
[...]
    {
      "RequestUri": "https://h4bbcyd8byawape5.api.deid.azure.com/jobs/net-sdk-job-1234?api-version=2024-07-12-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-deprecated-versions": "1",
        "api-supported-versions": "2024-01-16-preview, 2024-07-12-preview",
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "2"
      },
      "ResponseBody": {
        "name": "net-sdk-job-1234",
        "status": "NotStarted",
        "createdAt": "2024-07-18T17:36:48.9791182Z",
        "lastUpdatedAt": "2024-07-18T17:36:48.9791182Z",
        "sourceLocation": {
          "extensions": [
            "*"
          ],
          "location": "https://fakeblobstorage.blob.core.windows.net/container",
          "prefix": "example_patient_1"
        },
        "targetLocation": {
          "location": "https://fakeblobstorage.blob.core.windows.net/container",
          "prefix": "_output"
        },
        "dataType": "Plaintext",
        "operation": "Surrogate"
      }
    },
[...]
    {
      "RequestUri": "https://h4bbcyd8byawape5.api.deid.azure.com/jobs/net-sdk-job-1234?api-version=2024-07-12-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-deprecated-versions": "1",
        "api-supported-versions": "2024-01-16-preview, 2024-07-12-preview",
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "name": "net-sdk-job-1234",
        "status": "Running",
        "createdAt": "2024-07-18T17:36:48.9791182Z",
        "startedAt": "2024-07-18T17:36:56.0479557Z",
        "lastUpdatedAt": "2024-07-18T17:36:56.5388932Z",
        "summary": {
          "successful": 0,
          "failed": 0,
          "canceled": 0,
          "total": 2,
          "bytesProcessed": 0
        },
        "sourceLocation": {
          "extensions": [
            "*"
          ],
          "location": "https://fakeblobstorage.blob.core.windows.net/container",
          "prefix": "example_patient_1"
        },
        "targetLocation": {
          "location": "https://fakeblobstorage.blob.core.windows.net/container",
          "prefix": "_output"
        },
        "dataType": "Plaintext",
        "operation": "Surrogate"
      }
    },
    {
      "RequestUri": "https://h4bbcyd8byawape5.api.deid.azure.com/jobs/net-sdk-job-1234:cancel?api-version=2024-07-12-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-deprecated-versions": "1",
        "api-supported-versions": "2024-01-16-preview, 2024-07-12-preview",
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "name": "net-sdk-job-1234",
        "status": "Canceled",
        "createdAt": "2024-07-18T17:36:48.9791182Z",
        "startedAt": "2024-07-18T17:36:56.0479557Z",
        "lastUpdatedAt": "2024-07-18T17:36:59.7703422Z",
        "summary": {
          "successful": 0,
          "failed": 0,
          "canceled": 0,
          "total": 2,
          "bytesProcessed": 0
        },
        "sourceLocation": {
          "extensions": [
            "*"
          ],
          "location": "https://fakeblobstorage.blob.core.windows.net/container",
          "prefix": "example_patient_1"
        },
        "targetLocation": {
          "location": "https://fakeblobstorage.blob.core.windows.net/container",
          "prefix": "_output"
        },
        "dataType": "Plaintext",
        "operation": "Surrogate"
      }
    },
[...]
    {
      "RequestUri": "https://h4bbcyd8byawape5.api.deid.azure.com/jobs/net-sdk-job-1234?api-version=2024-07-12-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "api-deprecated-versions": "1",
        "api-supported-versions": "2024-01-16-preview, 2024-07-12-preview",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-error-code": "JobNotFound"
      },
      "ResponseBody": {
        "error": {
          "code": "JobNotFound",
          "message": "Job not found."
        }
      }
    }
  ],
  "Variables": {
    "DEID_SERVICE_ENDPOINT": "https://h4bbcyd8byawape5.api.deid.azure.com",
    "RandomSeed": "361895399",
    "STORAGE_ACCOUNT_NAME": "blobsdkdevgthomas",
    "STORAGE_CONTAINER_NAME": "container-sdk-dev-gthomas"
  }
}
