{
  "Entries": [
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-885f1452-63c8-7aaa-7a32-0d9fe6c9c81f?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 17 Jul 2025 01:44:09 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDC4D36C245F8B\"",
        "Last-Modified": "Thu, 17 Jul 2025 01:44:08 GMT",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.blob.core.windows.net/test-container-bab9d2f8-b081-9029-79d7-65c424e22e6d?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 17 Jul 2025 01:44:09 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDC4D36C285D5D\"",
        "Last-Modified": "Thu, 17 Jul 2025 01:44:08 GMT",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-885f1452-63c8-7aaa-7a32-0d9fe6c9c81f/sourceFolder?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 17 Jul 2025 01:44:09 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDC4D36C2DA98F\"",
        "Last-Modified": "Thu, 17 Jul 2025 01:44:08 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-07-17T01:44:08.8553871Z",
        "x-ms-file-creation-time": "2025-07-17T01:44:08.8553871Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-07-17T01:44:08.8553871Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "13252330444922611895*16083086822043778878",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-885f1452-63c8-7aaa-7a32-0d9fe6c9c81f/sourceFolder/test-file-928f3f5f-8fa7-3c67-efc8-c7d022c09e22",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Thu, 17 Jul 2025 01:44:09 GMT",
        "x-ms-type": "file",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDC4D36C319CBF\"",
        "Last-Modified": "Thu, 17 Jul 2025 01:44:08 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-07-17T01:44:08.8812735Z",
        "x-ms-file-creation-time": "2025-07-17T01:44:08.8812735Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2025-07-17T01:44:08.8812735Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "8616074386732128176*16083086822043778878",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-885f1452-63c8-7aaa-7a32-0d9fe6c9c81f/sourceFolder/bar?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 17 Jul 2025 01:44:09 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDC4D36C3A6C73\"",
        "Last-Modified": "Thu, 17 Jul 2025 01:44:08 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-07-17T01:44:08.9390195Z",
        "x-ms-file-creation-time": "2025-07-17T01:44:08.9390195Z",
        "x-ms-file-id": "10376363910205800448",
        "x-ms-file-last-write-time": "2025-07-17T01:44:08.9390195Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "13252330444922611895*16083086822043778878",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-885f1452-63c8-7aaa-7a32-0d9fe6c9c81f/sourceFolder/bar/test-file-38a9289f-76f0-723f-5eb3-a81c07385fe2",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Thu, 17 Jul 2025 01:44:09 GMT",
        "x-ms-type": "file",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDC4D36C3EFB3E\"",
        "Last-Modified": "Thu, 17 Jul 2025 01:44:08 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-07-17T01:44:08.9688894Z",
        "x-ms-file-creation-time": "2025-07-17T01:44:08.9688894Z",
        "x-ms-file-id": "14988049928633188352",
        "x-ms-file-last-write-time": "2025-07-17T01:44:08.9688894Z",
        "x-ms-file-parent-id": "10376363910205800448",
        "x-ms-file-permission-key": "8616074386732128176*16083086822043778878",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-885f1452-63c8-7aaa-7a32-0d9fe6c9c81f/sourceFolder/pik?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 17 Jul 2025 01:44:09 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDC4D36C436316\"",
        "Last-Modified": "Thu, 17 Jul 2025 01:44:08 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-07-17T01:44:08.9977622Z",
        "x-ms-file-creation-time": "2025-07-17T01:44:08.9977622Z",
        "x-ms-file-id": "12682206919419494400",
        "x-ms-file-last-write-time": "2025-07-17T01:44:08.9977622Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "13252330444922611895*16083086822043778878",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-885f1452-63c8-7aaa-7a32-0d9fe6c9c81f/sourceFolder/pik/test-file-4fb2f8ba-0fb5-f33f-79bf-c1673b9d5bd7",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Thu, 17 Jul 2025 01:44:09 GMT",
        "x-ms-type": "file",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDC4D36C47F1CE\"",
        "Last-Modified": "Thu, 17 Jul 2025 01:44:09 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-07-17T01:44:09.0276302Z",
        "x-ms-file-creation-time": "2025-07-17T01:44:09.0276302Z",
        "x-ms-file-id": "17293892937846882304",
        "x-ms-file-last-write-time": "2025-07-17T01:44:09.0276302Z",
        "x-ms-file-parent-id": "12682206919419494400",
        "x-ms-file-permission-key": "8616074386732128176*16083086822043778878",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-885f1452-63c8-7aaa-7a32-0d9fe6c9c81f/sourceFolder?sv=Sanitized&se=2025-07-18T01%3A44%3A09Z&sr=s&sp=rcwdl&sig=Sanitized&restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://nickliuproductionacc.file.core.windows.net/\" ShareName=\"test-share-885f1452-63c8-7aaa-7a32-0d9fe6c9c81f\" DirectoryPath=\"sourceFolder\"><DirectoryId>13835128424026341376</DirectoryId><Entries><Directory><Name>bar</Name><FileId>10376363910205800448</FileId><Properties /></Directory><Directory><Name>pik</Name><FileId>12682206919419494400</FileId><Properties /></Directory><File><Name>test-file-928f3f5f-8fa7-3c67-efc8-c7d022c09e22</Name><FileId>11529285414812647424</FileId><Properties><Content-Length>1024</Content-Length></Properties></File><File><Name>test-file-c8c2de2f-c6e9-412f-472f-0874b7d470b8</Name><FileId>16140971433240035328</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-885f1452-63c8-7aaa-7a32-0d9fe6c9c81f/sourceFolder/bar?sv=Sanitized&se=2025-07-18T01%3A44%3A09Z&sr=s&sp=rcwdl&sig=Sanitized&restype=directory",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DDC4D36C3A6C73\"",
        "Last-Modified": "Thu, 17 Jul 2025 01:44:08 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-07-17T01:44:08.9390195Z",
        "x-ms-file-creation-time": "2025-07-17T01:44:08.9390195Z",
        "x-ms-file-id": "10376363910205800448",
        "x-ms-file-last-write-time": "2025-07-17T01:44:08.9390195Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "13252330444922611895*16083086822043778878",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-885f1452-63c8-7aaa-7a32-0d9fe6c9c81f/sourceFolder/pik?sv=Sanitized&se=2025-07-18T01%3A44%3A09Z&sr=s&sp=rcwdl&sig=Sanitized&restype=directory",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DDC4D36C436316\"",
        "Last-Modified": "Thu, 17 Jul 2025 01:44:08 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-07-17T01:44:08.9977622Z",
        "x-ms-file-creation-time": "2025-07-17T01:44:08.9977622Z",
        "x-ms-file-id": "12682206919419494400",
        "x-ms-file-last-write-time": "2025-07-17T01:44:08.9977622Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "13252330444922611895*16083086822043778878",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-885f1452-63c8-7aaa-7a32-0d9fe6c9c81f/sourceFolder/bar?sv=Sanitized&se=2025-07-18T01%3A44%3A09Z&sr=s&sp=rcwdl&sig=Sanitized&restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://nickliuproductionacc.file.core.windows.net/\" ShareName=\"test-share-885f1452-63c8-7aaa-7a32-0d9fe6c9c81f\" DirectoryPath=\"sourceFolder/bar\"><DirectoryId>10376363910205800448</DirectoryId><Entries><File><Name>test-file-38a9289f-76f0-723f-5eb3-a81c07385fe2</Name><FileId>14988049928633188352</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-885f1452-63c8-7aaa-7a32-0d9fe6c9c81f/sourceFolder/test-file-928f3f5f-8fa7-3c67-efc8-c7d022c09e22?sv=Sanitized&se=2025-07-18T01%3A44%3A09Z&sr=s&sp=rcwdl&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DDC4D36C319CBF\"",
        "Last-Modified": "Thu, 17 Jul 2025 01:44:08 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-07-17T01:44:08.8812735Z",
        "x-ms-file-creation-time": "2025-07-17T01:44:08.8812735Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2025-07-17T01:44:08.8812735Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "8616074386732128176*16083086822043778878",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-885f1452-63c8-7aaa-7a32-0d9fe6c9c81f/sourceFolder/pik?sv=Sanitized&se=2025-07-18T01%3A44%3A09Z&sr=s&sp=rcwdl&sig=Sanitized&restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://nickliuproductionacc.file.core.windows.net/\" ShareName=\"test-share-885f1452-63c8-7aaa-7a32-0d9fe6c9c81f\" DirectoryPath=\"sourceFolder/pik\"><DirectoryId>12682206919419494400</DirectoryId><Entries><File><Name>test-file-4fb2f8ba-0fb5-f33f-79bf-c1673b9d5bd7</Name><FileId>17293892937846882304</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-885f1452-63c8-7aaa-7a32-0d9fe6c9c81f/sourceFolder/bar/test-file-38a9289f-76f0-723f-5eb3-a81c07385fe2?sv=Sanitized&se=2025-07-18T01%3A44%3A09Z&sr=s&sp=rcwdl&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DDC4D36C3EFB3E\"",
        "Last-Modified": "Thu, 17 Jul 2025 01:44:08 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-07-17T01:44:08.9688894Z",
        "x-ms-file-creation-time": "2025-07-17T01:44:08.9688894Z",
        "x-ms-file-id": "14988049928633188352",
        "x-ms-file-last-write-time": "2025-07-17T01:44:08.9688894Z",
        "x-ms-file-parent-id": "10376363910205800448",
        "x-ms-file-permission-key": "8616074386732128176*16083086822043778878",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.blob.core.windows.net/test-container-bab9d2f8-b081-9029-79d7-65c424e22e6d/destFolder/test-file-c8c2de2f-c6e9-412f-472f-0874b7d470b8",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-content-type": "application/octet-stream",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Thu, 17 Jul 2025 01:44:09 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDC4D36C6173F7\"",
        "Last-Modified": "Thu, 17 Jul 2025 01:44:09 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05",
        "x-ms-version-id": "2025-07-17T01:44:09.1948023Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-885f1452-63c8-7aaa-7a32-0d9fe6c9c81f/sourceFolder/pik/test-file-4fb2f8ba-0fb5-f33f-79bf-c1673b9d5bd7?sv=Sanitized&se=2025-07-18T01%3A44%3A09Z&sr=s&sp=rcwdl&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DDC4D36C47F1CE\"",
        "Last-Modified": "Thu, 17 Jul 2025 01:44:09 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-07-17T01:44:09.0276302Z",
        "x-ms-file-creation-time": "2025-07-17T01:44:09.0276302Z",
        "x-ms-file-id": "17293892937846882304",
        "x-ms-file-last-write-time": "2025-07-17T01:44:09.0276302Z",
        "x-ms-file-parent-id": "12682206919419494400",
        "x-ms-file-permission-key": "8616074386732128176*16083086822043778878",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.blob.core.windows.net/test-container-bab9d2f8-b081-9029-79d7-65c424e22e6d/destFolder/bar/test-file-38a9289f-76f0-723f-5eb3-a81c07385fe2",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-content-type": "application/octet-stream",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Thu, 17 Jul 2025 01:44:09 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDC4D36C647DD7\"",
        "Last-Modified": "Thu, 17 Jul 2025 01:44:09 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05",
        "x-ms-version-id": "2025-07-17T01:44:09.2147159Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.blob.core.windows.net/test-container-bab9d2f8-b081-9029-79d7-65c424e22e6d/destFolder/test-file-c8c2de2f-c6e9-412f-472f-0874b7d470b8?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-copy-source": "https://nickliuproductionacc.file.core.windows.net/test-share-885f1452-63c8-7aaa-7a32-0d9fe6c9c81f/sourceFolder/test-file-c8c2de2f-c6e9-412f-472f-0874b7d470b8?sv=sanitized-value&se=2025-07-18T01%3A44%3A09Z&sr=s&sp=rcwdl&sig=Sanitized",
        "x-ms-date": "Thu, 17 Jul 2025 01:44:09 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDC4D36C6787A5\"",
        "Last-Modified": "Thu, 17 Jul 2025 01:44:09 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-content-crc64": "iknlm7CyG2k=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://nickliuproductionacc.blob.core.windows.net/test-container-bab9d2f8-b081-9029-79d7-65c424e22e6d/destFolder/pik/test-file-4fb2f8ba-0fb5-f33f-79bf-c1673b9d5bd7",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-content-type": "application/octet-stream",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Thu, 17 Jul 2025 01:44:09 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDC4D36C67D573\"",
        "Last-Modified": "Thu, 17 Jul 2025 01:44:09 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05",
        "x-ms-version-id": "2025-07-17T01:44:09.2366195Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.blob.core.windows.net/test-container-bab9d2f8-b081-9029-79d7-65c424e22e6d/destFolder/bar/test-file-38a9289f-76f0-723f-5eb3-a81c07385fe2?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-copy-source": "https://nickliuproductionacc.file.core.windows.net/test-share-885f1452-63c8-7aaa-7a32-0d9fe6c9c81f/sourceFolder/bar/test-file-38a9289f-76f0-723f-5eb3-a81c07385fe2?sv=sanitized-value&se=2025-07-18T01%3A44%3A09Z&sr=s&sp=rcwdl&sig=Sanitized",
        "x-ms-date": "Thu, 17 Jul 2025 01:44:09 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDC4D36C6AB865\"",
        "Last-Modified": "Thu, 17 Jul 2025 01:44:09 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-content-crc64": "iknlm7CyG2k=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.blob.core.windows.net/test-container-bab9d2f8-b081-9029-79d7-65c424e22e6d/destFolder/pik/test-file-4fb2f8ba-0fb5-f33f-79bf-c1673b9d5bd7?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-copy-source": "https://nickliuproductionacc.file.core.windows.net/test-share-885f1452-63c8-7aaa-7a32-0d9fe6c9c81f/sourceFolder/pik/test-file-4fb2f8ba-0fb5-f33f-79bf-c1673b9d5bd7?sv=sanitized-value&se=2025-07-18T01%3A44%3A09Z&sr=s&sp=rcwdl&sig=Sanitized",
        "x-ms-date": "Thu, 17 Jul 2025 01:44:09 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDC4D36C6BA1CA\"",
        "Last-Modified": "Thu, 17 Jul 2025 01:44:09 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-content-crc64": "iknlm7CyG2k=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-885f1452-63c8-7aaa-7a32-0d9fe6c9c81f/sourceFolder?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 17 Jul 2025 01:44:09 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://nickliuproductionacc.file.core.windows.net/\" ShareName=\"test-share-885f1452-63c8-7aaa-7a32-0d9fe6c9c81f\" DirectoryPath=\"sourceFolder\"><DirectoryId>13835128424026341376</DirectoryId><Entries><Directory><Name>bar</Name><FileId>10376363910205800448</FileId><Properties /></Directory><Directory><Name>pik</Name><FileId>12682206919419494400</FileId><Properties /></Directory><File><Name>test-file-928f3f5f-8fa7-3c67-efc8-c7d022c09e22</Name><FileId>11529285414812647424</FileId><Properties><Content-Length>1024</Content-Length></Properties></File><File><Name>test-file-c8c2de2f-c6e9-412f-472f-0874b7d470b8</Name><FileId>16140971433240035328</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-885f1452-63c8-7aaa-7a32-0d9fe6c9c81f/sourceFolder/bar?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 17 Jul 2025 01:44:09 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://nickliuproductionacc.file.core.windows.net/\" ShareName=\"test-share-885f1452-63c8-7aaa-7a32-0d9fe6c9c81f\" DirectoryPath=\"sourceFolder/bar\"><DirectoryId>10376363910205800448</DirectoryId><Entries><File><Name>test-file-38a9289f-76f0-723f-5eb3-a81c07385fe2</Name><FileId>14988049928633188352</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-885f1452-63c8-7aaa-7a32-0d9fe6c9c81f/sourceFolder/pik?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 17 Jul 2025 01:44:09 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://nickliuproductionacc.file.core.windows.net/\" ShareName=\"test-share-885f1452-63c8-7aaa-7a32-0d9fe6c9c81f\" DirectoryPath=\"sourceFolder/pik\"><DirectoryId>12682206919419494400</DirectoryId><Entries><File><Name>test-file-4fb2f8ba-0fb5-f33f-79bf-c1673b9d5bd7</Name><FileId>17293892937846882304</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://nickliuproductionacc.blob.core.windows.net/test-container-bab9d2f8-b081-9029-79d7-65c424e22e6d?restype=container&comp=list&prefix=destFolder",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 17 Jul 2025 01:44:09 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://nickliuproductionacc.blob.core.windows.net/\" ContainerName=\"test-container-bab9d2f8-b081-9029-79d7-65c424e22e6d\"><Prefix>destFolder</Prefix><Blobs><Blob><Name>destFolder/bar/test-file-38a9289f-76f0-723f-5eb3-a81c07385fe2</Name><VersionId>2025-07-17T01:44:09.2147159Z</VersionId><IsCurrentVersion>true</IsCurrentVersion><Properties><Creation-Time>Thu, 17 Jul 2025 01:44:09 GMT</Creation-Time><Last-Modified>Thu, 17 Jul 2025 01:44:09 GMT</Last-Modified><Etag>0x8DDC4D36C6AB865</Etag><Content-Length>1024</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding /><Content-Language /><Content-CRC64 /><Content-MD5 /><Cache-Control /><Content-Disposition /><x-ms-blob-sequence-number>0</x-ms-blob-sequence-number><BlobType>PageBlob</BlobType><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><OrMetadata /></Blob><Blob><Name>destFolder/pik/test-file-4fb2f8ba-0fb5-f33f-79bf-c1673b9d5bd7</Name><VersionId>2025-07-17T01:44:09.2366195Z</VersionId><IsCurrentVersion>true</IsCurrentVersion><Properties><Creation-Time>Thu, 17 Jul 2025 01:44:09 GMT</Creation-Time><Last-Modified>Thu, 17 Jul 2025 01:44:09 GMT</Last-Modified><Etag>0x8DDC4D36C6BA1CA</Etag><Content-Length>1024</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding /><Content-Language /><Content-CRC64 /><Content-M[...]
[...]
    {
      "RequestUri": "https://nickliuproductionacc.blob.core.windows.net/test-container-bab9d2f8-b081-9029-79d7-65c424e22e6d/destFolder/bar/test-file-38a9289f-76f0-723f-5eb3-a81c07385fe2",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Thu, 17 Jul 2025 01:44:09 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
[...]
