{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-9b04edea-0b35-7615-4210-16b434c8722b?restype=share&sv=Sanitized&ss=f&srt=sco&st=2026-02-18T05%3A24%3A38Z&se=2026-02-18T07%3A24%3A38Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-file-request-intent": "backup",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE6EB664A147A7\"",
        "Last-Modified": "Wed, 18 Feb 2026 06:24:38 GMT",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-9ed91d04-cdec-d588-49c0-1ecfbb7e4bf2?restype=container&sv=Sanitized&ss=b&srt=sco&st=2026-02-18T05%3A24%3A38Z&se=2026-02-18T07%3A24%3A38Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE6EB664AE79B3\"",
        "Last-Modified": "Wed, 18 Feb 2026 06:24:38 GMT",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-9b04edea-0b35-7615-4210-16b434c8722b/sourceFolder?restype=directory&sv=Sanitized&ss=f&srt=sco&st=2026-02-18T05%3A24%3A38Z&se=2026-02-18T07%3A24%3A38Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-file-request-intent": "backup",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE6EB664BFEE8C\"",
        "Last-Modified": "Wed, 18 Feb 2026 06:24:38 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2026-02-18T06:24:38.6592396Z",
        "x-ms-file-creation-time": "2026-02-18T06:24:38.6592396Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2026-02-18T06:24:38.6592396Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "8016861625448480706*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-9b04edea-0b35-7615-4210-16b434c8722b/sourceFolder/test-file-ce5dd6f3-c8a8-ef24-d310-d172904bf40b?sv=Sanitized&ss=f&srt=sco&st=2026-02-18T05%3A24%3A38Z&se=2026-02-18T07%3A24%3A38Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-content-length": "1024",
        "x-ms-file-request-intent": "backup",
        "x-ms-type": "file",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE6EB664C90C10\"",
        "Last-Modified": "Wed, 18 Feb 2026 06:24:38 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2026-02-18T06:24:38.7189776Z",
        "x-ms-file-creation-time": "2026-02-18T06:24:38.7189776Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2026-02-18T06:24:38.7189776Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-9b04edea-0b35-7615-4210-16b434c8722b/sourceFolder/bar?restype=directory&sv=Sanitized&ss=f&srt=sco&st=2026-02-18T05%3A24%3A38Z&se=2026-02-18T07%3A24%3A38Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-file-request-intent": "backup",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE6EB664DB4715\"",
        "Last-Modified": "Wed, 18 Feb 2026 06:24:38 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2026-02-18T06:24:38.8384533Z",
        "x-ms-file-creation-time": "2026-02-18T06:24:38.8384533Z",
        "x-ms-file-id": "10376363910205800448",
        "x-ms-file-last-write-time": "2026-02-18T06:24:38.8384533Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "8016861625448480706*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-9b04edea-0b35-7615-4210-16b434c8722b/sourceFolder/bar/test-file-d9545398-821c-b6d4-8ad5-d7dc91151d35?sv=Sanitized&ss=f&srt=sco&st=2026-02-18T05%3A24%3A38Z&se=2026-02-18T07%3A24%3A38Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-content-length": "1024",
        "x-ms-file-request-intent": "backup",
        "x-ms-type": "file",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE6EB664E4649A\"",
        "Last-Modified": "Wed, 18 Feb 2026 06:24:38 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2026-02-18T06:24:38.8981914Z",
        "x-ms-file-creation-time": "2026-02-18T06:24:38.8981914Z",
        "x-ms-file-id": "14988049928633188352",
        "x-ms-file-last-write-time": "2026-02-18T06:24:38.8981914Z",
        "x-ms-file-parent-id": "10376363910205800448",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-9b04edea-0b35-7615-4210-16b434c8722b/sourceFolder/pik?restype=directory&sv=Sanitized&ss=f&srt=sco&st=2026-02-18T05%3A24%3A38Z&se=2026-02-18T07%3A24%3A38Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-file-request-intent": "backup",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE6EB664EF54D7\"",
        "Last-Modified": "Wed, 18 Feb 2026 06:24:38 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2026-02-18T06:24:38.9698775Z",
        "x-ms-file-creation-time": "2026-02-18T06:24:38.9698775Z",
        "x-ms-file-id": "12682206919419494400",
        "x-ms-file-last-write-time": "2026-02-18T06:24:38.9698775Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "8016861625448480706*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-9b04edea-0b35-7615-4210-16b434c8722b/sourceFolder/pik/test-file-2b9d2997-8197-2275-3ec5-4a581e5f31f6?sv=Sanitized&ss=f&srt=sco&st=2026-02-18T05%3A24%3A38Z&se=2026-02-18T07%3A24%3A38Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-content-length": "1024",
        "x-ms-file-request-intent": "backup",
        "x-ms-type": "file",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE6EB664F84B6A\"",
        "Last-Modified": "Wed, 18 Feb 2026 06:24:39 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2026-02-18T06:24:39.0286186Z",
        "x-ms-file-creation-time": "2026-02-18T06:24:39.0286186Z",
        "x-ms-file-id": "17293892937846882304",
        "x-ms-file-last-write-time": "2026-02-18T06:24:39.0286186Z",
        "x-ms-file-parent-id": "12682206919419494400",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-9b04edea-0b35-7615-4210-16b434c8722b/sourceFolder?restype=directory&comp=list&sv=Sanitized&ss=f&srt=sco&st=2026-02-18T05%3A24%3A38Z&se=2026-02-18T07%3A24%3A38Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-file-request-intent": "backup",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.file.core.windows.net/\" ShareName=\"test-share-9b04edea-0b35-7615-4210-16b434c8722b\" DirectoryPath=\"sourceFolder\"><DirectoryId>13835128424026341376</DirectoryId><Entries><Directory><Name>bar</Name><FileId>10376363910205800448</FileId><Properties /></Directory><Directory><Name>pik</Name><FileId>12682206919419494400</FileId><Properties /></Directory><File><Name>test-file-1528e7ef-ac00-6f6a-afe8-26410dd1a6e5</Name><FileId>16140971433240035328</FileId><Properties><Content-Length>1024</Content-Length></Properties></File><File><Name>test-file-ce5dd6f3-c8a8-ef24-d310-d172904bf40b</Name><FileId>11529285414812647424</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-9b04edea-0b35-7615-4210-16b434c8722b/sourceFolder/bar?restype=directory&sv=Sanitized&ss=f&srt=sco&st=2026-02-18T05%3A24%3A38Z&se=2026-02-18T07%3A24%3A38Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-file-request-intent": "backup",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DE6EB664DB4715\"",
        "Last-Modified": "Wed, 18 Feb 2026 06:24:38 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2026-02-18T06:24:38.8384533Z",
        "x-ms-file-creation-time": "2026-02-18T06:24:38.8384533Z",
        "x-ms-file-id": "10376363910205800448",
        "x-ms-file-last-write-time": "2026-02-18T06:24:38.8384533Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "8016861625448480706*547956186189310027",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-9b04edea-0b35-7615-4210-16b434c8722b/sourceFolder/bar?restype=directory&comp=list&sv=Sanitized&ss=f&srt=sco&st=2026-02-18T05%3A24%3A38Z&se=2026-02-18T07%3A24%3A38Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-file-request-intent": "backup",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.file.core.windows.net/\" ShareName=\"test-share-9b04edea-0b35-7615-4210-16b434c8722b\" DirectoryPath=\"sourceFolder/bar\"><DirectoryId>10376363910205800448</DirectoryId><Entries><File><Name>test-file-d9545398-821c-b6d4-8ad5-d7dc91151d35</Name><FileId>14988049928633188352</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-9b04edea-0b35-7615-4210-16b434c8722b/sourceFolder/test-file-ce5dd6f3-c8a8-ef24-d310-d172904bf40b?sv=Sanitized&ss=f&srt=sco&st=2026-02-18T05%3A24%3A38Z&se=2026-02-18T07%3A24%3A38Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-file-request-intent": "backup",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DE6EB664C90C10\"",
        "Last-Modified": "Wed, 18 Feb 2026 06:24:38 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2026-02-18T06:24:38.7189776Z",
        "x-ms-file-creation-time": "2026-02-18T06:24:38.7189776Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2026-02-18T06:24:38.7189776Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "12626496306092130501*547956186189310027",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-9b04edea-0b35-7615-4210-16b434c8722b/sourceFolder/pik?restype=directory&comp=list&sv=Sanitized&ss=f&srt=sco&st=2026-02-18T05%3A24%3A38Z&se=2026-02-18T07%3A24%3A38Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-file-request-intent": "backup",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.file.core.windows.net/\" ShareName=\"test-share-9b04edea-0b35-7615-4210-16b434c8722b\" DirectoryPath=\"sourceFolder/pik\"><DirectoryId>12682206919419494400</DirectoryId><Entries><File><Name>test-file-2b9d2997-8197-2275-3ec5-4a581e5f31f6</Name><FileId>17293892937846882304</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-9ed91d04-cdec-d588-49c0-1ecfbb7e4bf2/destFolder/test-file-ce5dd6f3-c8a8-ef24-d310-d172904bf40b?sv=Sanitized&ss=b&srt=sco&st=2026-02-18T05%3A24%3A38Z&se=2026-02-18T07%3A24%3A38Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-content-type": "application/octet-stream",
        "x-ms-blob-type": "PageBlob",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE6EB665318222\"",
        "Last-Modified": "Wed, 18 Feb 2026 06:24:39 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-9ed91d04-cdec-d588-49c0-1ecfbb7e4bf2/destFolder/bar/test-file-d9545398-821c-b6d4-8ad5-d7dc91151d35?sv=Sanitized&ss=b&srt=sco&st=2026-02-18T05%3A24%3A38Z&se=2026-02-18T07%3A24%3A38Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-content-type": "application/octet-stream",
        "x-ms-blob-type": "PageBlob",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE6EB6653D0DEC\"",
        "Last-Modified": "Wed, 18 Feb 2026 06:24:39 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-9ed91d04-cdec-d588-49c0-1ecfbb7e4bf2/destFolder/test-file-ce5dd6f3-c8a8-ef24-d310-d172904bf40b?comp=page&sv=Sanitized&ss=b&srt=sco&st=2026-02-18T05%3A24%3A38Z&se=2026-02-18T07%3A24%3A38Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-copy-source": "https://amandapreprod.file.core.windows.net/test-share-9b04edea-0b35-7615-4210-16b434c8722b/sourceFolder/test-file-ce5dd6f3-c8a8-ef24-d310-d172904bf40b?sv=sanitized-value&ss=f&srt=sco&st=2026-02-18T05%3A24%3A38Z&se=2026-02-18T07%3A24%3A38Z&sp=rwdxylacuptfi&sig=Sanitized",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE6EB6653D34DD\"",
        "Last-Modified": "Wed, 18 Feb 2026 06:24:39 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-content-crc64": "iknlm7CyG2k=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-9ed91d04-cdec-d588-49c0-1ecfbb7e4bf2/destFolder/pik/test-file-2b9d2997-8197-2275-3ec5-4a581e5f31f6?sv=Sanitized&ss=b&srt=sco&st=2026-02-18T05%3A24%3A38Z&se=2026-02-18T07%3A24%3A38Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-content-type": "application/octet-stream",
        "x-ms-blob-type": "PageBlob",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE6EB66545CCD8\"",
        "Last-Modified": "Wed, 18 Feb 2026 06:24:39 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-9ed91d04-cdec-d588-49c0-1ecfbb7e4bf2/destFolder/bar/test-file-d9545398-821c-b6d4-8ad5-d7dc91151d35?comp=page&sv=Sanitized&ss=b&srt=sco&st=2026-02-18T05%3A24%3A38Z&se=2026-02-18T07%3A24%3A38Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-copy-source": "https://amandapreprod.file.core.windows.net/test-share-9b04edea-0b35-7615-4210-16b434c8722b/sourceFolder/bar/test-file-d9545398-821c-b6d4-8ad5-d7dc91151d35?sv=sanitized-value&ss=f&srt=sco&st=2026-02-18T05%3A24%3A38Z&se=2026-02-18T07%3A24%3A38Z&sp=rwdxylacuptfi&sig=Sanitized",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE6EB665473633\"",
        "Last-Modified": "Wed, 18 Feb 2026 06:24:39 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-content-crc64": "iknlm7CyG2k=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-9ed91d04-cdec-d588-49c0-1ecfbb7e4bf2/destFolder/pik/test-file-2b9d2997-8197-2275-3ec5-4a581e5f31f6?comp=page&sv=Sanitized&ss=b&srt=sco&st=2026-02-18T05%3A24%3A38Z&se=2026-02-18T07%3A24%3A38Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-copy-source": "https://amandapreprod.file.core.windows.net/test-share-9b04edea-0b35-7615-4210-16b434c8722b/sourceFolder/pik/test-file-2b9d2997-8197-2275-3ec5-4a581e5f31f6?sv=sanitized-value&ss=f&srt=sco&st=2026-02-18T05%3A24%3A38Z&se=2026-02-18T07%3A24%3A38Z&sp=rwdxylacuptfi&sig=Sanitized",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE6EB66551FF8C\"",
        "Last-Modified": "Wed, 18 Feb 2026 06:24:39 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-content-crc64": "iknlm7CyG2k=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-9ed91d04-cdec-d588-49c0-1ecfbb7e4bf2?restype=container&comp=list&prefix=destFolder&sv=Sanitized&ss=b&srt=sco&st=2026-02-18T05%3A24%3A38Z&se=2026-02-18T07%3A24%3A38Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.blob.core.windows.net/\" ContainerName=\"test-container-9ed91d04-cdec-d588-49c0-1ecfbb7e4bf2\"><Prefix>destFolder</Prefix><Blobs><Blob><Name>destFolder/bar/test-file-d9545398-821c-b6d4-8ad5-d7dc91151d35</Name><Properties><Creation-Time>Wed, 18 Feb 2026 06:24:39 GMT</Creation-Time><Last-Modified>Wed, 18 Feb 2026 06:24:39 GMT</Last-Modified><Etag>0x8DE6EB665473633</Etag><Content-Length>1024</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding /><Content-Language /><Content-CRC64 /><Content-MD5 /><Cache-Control /><Content-Disposition /><x-ms-blob-sequence-number>0</x-ms-blob-sequence-number><BlobType>PageBlob</BlobType><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><OrMetadata /></Blob><Blob><Name>destFolder/pik/test-file-2b9d2997-8197-2275-3ec5-4a581e5f31f6</Name><Properties><Creation-Time>Wed, 18 Feb 2026 06:24:39 GMT</Creation-Time><Last-Modified>Wed, 18 Feb 2026 06:24:39 GMT</Last-Modified><Etag>0x8DE6EB66551FF8C</Etag><Content-Length>1024</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding /><Content-Language /><Content-CRC64 /><Content-MD5 /><Cache-Control /><Content-Disposition /><x-ms-blob-sequence-number>0</x-ms-blob-sequenc[...]
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-9ed91d04-cdec-d588-49c0-1ecfbb7e4bf2/destFolder/bar/test-file-d9545398-821c-b6d4-8ad5-d7dc91151d35?sv=Sanitized&ss=b&srt=sco&st=2026-02-18T05%3A24%3A38Z&se=2026-02-18T07%3A24%3A38Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DE6EB665473633\"",
        "Last-Modified": "Wed, 18 Feb 2026 06:24:39 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Wed, 18 Feb 2026 06:24:39 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-9b04edea-0b35-7615-4210-16b434c8722b/sourceFolder/bar/test-file-d9545398-821c-b6d4-8ad5-d7dc91151d35?sv=Sanitized&ss=f&srt=sco&st=2026-02-18T05%3A24%3A38Z&se=2026-02-18T07%3A24%3A38Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-file-request-intent": "backup",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DE6EB664E4649A\"",
        "Last-Modified": "Wed, 18 Feb 2026 06:24:38 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2026-02-18T06:24:38.8981914Z",
        "x-ms-file-creation-time": "2026-02-18T06:24:38.8981914Z",
        "x-ms-file-id": "14988049928633188352",
        "x-ms-file-last-write-time": "2026-02-18T06:24:38.8981914Z",
        "x-ms-file-parent-id": "103[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-9ed91d04-cdec-d588-49c0-1ecfbb7e4bf2/destFolder/bar/test-file-d9545398-821c-b6d4-8ad5-d7dc91151d35?sv=Sanitized&ss=b&srt=sco&st=2026-02-18T05%3A24%3A38Z&se=2026-02-18T07%3A24%3A38Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DE6EB665473633\"",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DE6EB665473633\"",
        "Last-Modified": "Wed, 18 Feb 2026 06:24:39 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Wed[...]
[...]
    {
      "RequestUri": "https://amandapreprod.file.core.windows.net/test-share-9b04edea-0b35-7615-4210-16b434c8722b?restype=share&sv=Sanitized&ss=f&srt=sco&st=2026-02-18T05%3A24%3A38Z&se=2026-02-18T07%3A24%3A38Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-delete-snapshots": "include",
        "x-ms-file-request-intent": "backup",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2026-02-17T22:24:38.4353357-08:00",
    "RandomSeed": "72644127",
    "Storage_TestConfigDefault": "ProductionTenant\namandapreprod\nU2FuaXRpemVk\nhttps://amandapreprod.blob.core.windows.net\nhttps://amandapreprod.file.core.windows.net\nhttps://amandapreprod.queue.core.windows.net\nhttps://amandapreprod.table.core.windows.net\n\n\n\n\nhttps://amandapreprod-secondary.blob.core.windows.net\nhttps://amandapreprod-secondary.file.core.windows.net\nhttps://amandapreprod-secondary.queue.core.windows.net\nhttps://amandapreprod-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandapreprod.blob.core.windows.net/;QueueEndpoint=https://amandapreprod.queue.core.windows.net/;FileEndpoint=https://amandapreprod.file.core.windows.net/;BlobSecondaryEndpoint=https://amandapreprod-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandapreprod-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandapreprod-secondary.file.core.windows.net/;AccountName=amandapreprod;AccountKey=U2FuaXRpemVk\nencryptionScope\n\n"
  }
}
