{
  "Entries": [
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-370b124c-4918-a517-43ae-b53b14515241?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 14 Apr 2025 20:32:51 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD7B938730DA6D\"",
        "Last-Modified": "Mon, 14 Apr 2025 20:32:51 GMT",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.blob.core.windows.net/test-container-2719d6da-187b-2612-8d87-03ff793e9a84?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 14 Apr 2025 20:32:51 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD7B938738F43F\"",
        "Last-Modified": "Mon, 14 Apr 2025 20:32:51 GMT",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-370b124c-4918-a517-43ae-b53b14515241/sourceFolder?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 14 Apr 2025 20:32:51 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD7B93873EBE86\"",
        "Last-Modified": "Mon, 14 Apr 2025 20:32:51 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-04-14T20:32:51.5923590Z",
        "x-ms-file-creation-time": "2025-04-14T20:32:51.5923590Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-04-14T20:32:51.5923590Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "13252330444922611895*16083086822043778878",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-370b124c-4918-a517-43ae-b53b14515241/sourceFolder/item1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Mon, 14 Apr 2025 20:32:51 GMT",
        "x-ms-type": "file",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD7B938744AB56\"",
        "Last-Modified": "Mon, 14 Apr 2025 20:32:51 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-04-14T20:32:51.6311894Z",
        "x-ms-file-creation-time": "2025-04-14T20:32:51.6311894Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2025-04-14T20:32:51.6311894Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "8616074386732128176*16083086822043778878",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-370b124c-4918-a517-43ae-b53b14515241/sourceFolder/bar?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 14 Apr 2025 20:32:51 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD7B93874E8B57\"",
        "Last-Modified": "Mon, 14 Apr 2025 20:32:51 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-04-14T20:32:51.6959063Z",
        "x-ms-file-creation-time": "2025-04-14T20:32:51.6959063Z",
        "x-ms-file-id": "10376363910205800448",
        "x-ms-file-last-write-time": "2025-04-14T20:32:51.6959063Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "13252330444922611895*16083086822043778878",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-370b124c-4918-a517-43ae-b53b14515241/sourceFolder/bar/item3",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Mon, 14 Apr 2025 20:32:51 GMT",
        "x-ms-type": "file",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD7B9387531A17\"",
        "Last-Modified": "Mon, 14 Apr 2025 20:32:51 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-04-14T20:32:51.7257751Z",
        "x-ms-file-creation-time": "2025-04-14T20:32:51.7257751Z",
        "x-ms-file-id": "14988049928633188352",
        "x-ms-file-last-write-time": "2025-04-14T20:32:51.7257751Z",
        "x-ms-file-parent-id": "10376363910205800448",
        "x-ms-file-permission-key": "8616074386732128176*16083086822043778878",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-370b124c-4918-a517-43ae-b53b14515241/sourceFolder/pik?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 14 Apr 2025 20:32:51 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD7B938757A8D6\"",
        "Last-Modified": "Mon, 14 Apr 2025 20:32:51 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-04-14T20:32:51.7556438Z",
        "x-ms-file-creation-time": "2025-04-14T20:32:51.7556438Z",
        "x-ms-file-id": "12682206919419494400",
        "x-ms-file-last-write-time": "2025-04-14T20:32:51.7556438Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "13252330444922611895*16083086822043778878",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-370b124c-4918-a517-43ae-b53b14515241/sourceFolder/pik/item4",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-content-length": "1024",
        "x-ms-date": "Mon, 14 Apr 2025 20:32:51 GMT",
        "x-ms-type": "file",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD7B93875BE9CD\"",
        "Last-Modified": "Mon, 14 Apr 2025 20:32:51 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-04-14T20:32:51.7835213Z",
        "x-ms-file-creation-time": "2025-04-14T20:32:51.7835213Z",
        "x-ms-file-id": "17293892937846882304",
        "x-ms-file-last-write-time": "2025-04-14T20:32:51.7835213Z",
        "x-ms-file-parent-id": "12682206919419494400",
        "x-ms-file-permission-key": "8616074386732128176*16083086822043778878",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-370b124c-4918-a517-43ae-b53b14515241/sourceFolder?sv=Sanitized&se=2025-04-15T20%3A32%3A51Z&sr=s&sp=rcwdl&sig=Sanitized&restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://nickliuproductionacc.file.core.windows.net/\" ShareName=\"test-share-370b124c-4918-a517-43ae-b53b14515241\" DirectoryPath=\"sourceFolder\"><DirectoryId>13835128424026341376</DirectoryId><Entries><Directory><Name>bar</Name><FileId>10376363910205800448</FileId><Properties /></Directory><File><Name>item1</Name><FileId>11529285414812647424</FileId><Properties><Content-Length>1024</Content-Length></Properties></File><File><Name>item2</Name><FileId>16140971433240035328</FileId><Properties><Content-Length>1024</Content-Length></Properties></File><Directory><Name>pik</Name><FileId>12682206919419494400</FileId><Properties /></Directory></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-370b124c-4918-a517-43ae-b53b14515241/sourceFolder/bar?sv=Sanitized&se=2025-04-15T20%3A32%3A51Z&sr=s&sp=rcwdl&sig=Sanitized&restype=directory",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD7B93874E8B57\"",
        "Last-Modified": "Mon, 14 Apr 2025 20:32:51 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-04-14T20:32:51.6959063Z",
        "x-ms-file-creation-time": "2025-04-14T20:32:51.6959063Z",
        "x-ms-file-id": "10376363910205800448",
        "x-ms-file-last-write-time": "2025-04-14T20:32:51.6959063Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "13252330444922611895*16083086822043778878",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-370b124c-4918-a517-43ae-b53b14515241/sourceFolder/pik?sv=Sanitized&se=2025-04-15T20%3A32%3A51Z&sr=s&sp=rcwdl&sig=Sanitized&restype=directory",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD7B938757A8D6\"",
        "Last-Modified": "Mon, 14 Apr 2025 20:32:51 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-04-14T20:32:51.7556438Z",
        "x-ms-file-creation-time": "2025-04-14T20:32:51.7556438Z",
        "x-ms-file-id": "12682206919419494400",
        "x-ms-file-last-write-time": "2025-04-14T20:32:51.7556438Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "13252330444922611895*16083086822043778878",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-370b124c-4918-a517-43ae-b53b14515241/sourceFolder/bar?sv=Sanitized&se=2025-04-15T20%3A32%3A51Z&sr=s&sp=rcwdl&sig=Sanitized&restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://nickliuproductionacc.file.core.windows.net/\" ShareName=\"test-share-370b124c-4918-a517-43ae-b53b14515241\" DirectoryPath=\"sourceFolder/bar\"><DirectoryId>10376363910205800448</DirectoryId><Entries><File><Name>item3</Name><FileId>14988049928633188352</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-370b124c-4918-a517-43ae-b53b14515241/sourceFolder/item2?sv=Sanitized&se=2025-04-15T20%3A32%3A51Z&sr=s&sp=rcwdl&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD7B938749D5AB\"",
        "Last-Modified": "Mon, 14 Apr 2025 20:32:51 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-04-14T20:32:51.6650411Z",
        "x-ms-file-creation-time": "2025-04-14T20:32:51.6650411Z",
        "x-ms-file-id": "16140971433240035328",
        "x-ms-file-last-write-time": "2025-04-14T20:32:51.6650411Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "8616074386732128176*16083086822043778878",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-370b124c-4918-a517-43ae-b53b14515241/sourceFolder/pik?sv=Sanitized&se=2025-04-15T20%3A32%3A51Z&sr=s&sp=rcwdl&sig=Sanitized&restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://nickliuproductionacc.file.core.windows.net/\" ShareName=\"test-share-370b124c-4918-a517-43ae-b53b14515241\" DirectoryPath=\"sourceFolder/pik\"><DirectoryId>12682206919419494400</DirectoryId><Entries><File><Name>item4</Name><FileId>17293892937846882304</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-370b124c-4918-a517-43ae-b53b14515241/sourceFolder/bar/item3?sv=Sanitized&se=2025-04-15T20%3A32%3A51Z&sr=s&sp=rcwdl&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD7B9387531A17\"",
        "Last-Modified": "Mon, 14 Apr 2025 20:32:51 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-04-14T20:32:51.7257751Z",
        "x-ms-file-creation-time": "2025-04-14T20:32:51.7257751Z",
        "x-ms-file-id": "14988049928633188352",
        "x-ms-file-last-write-time": "2025-04-14T20:32:51.7257751Z",
        "x-ms-file-parent-id": "10376363910205800448",
        "x-ms-file-permission-key": "8616074386732128176*16083086822043778878",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-370b124c-4918-a517-43ae-b53b14515241/sourceFolder/pik/item4?sv=Sanitized&se=2025-04-15T20%3A32%3A51Z&sr=s&sp=rcwdl&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DD7B93875BE9CD\"",
        "Last-Modified": "Mon, 14 Apr 2025 20:32:51 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-04-14T20:32:51.7835213Z",
        "x-ms-file-creation-time": "2025-04-14T20:32:51.7835213Z",
        "x-ms-file-id": "17293892937846882304",
        "x-ms-file-last-write-time": "2025-04-14T20:32:51.7835213Z",
        "x-ms-file-parent-id": "12682206919419494400",
        "x-ms-file-permission-key": "8616074386732128176*16083086822043778878",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.blob.core.windows.net/test-container-2719d6da-187b-2612-8d87-03ff793e9a84/destFolder/item1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-content-type": "application/octet-stream",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Mon, 14 Apr 2025 20:32:52 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD7B93877E1F74\"",
        "Last-Modified": "Mon, 14 Apr 2025 20:32:52 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05",
        "x-ms-version-id": "2025-04-14T20:32:52.0077172Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.blob.core.windows.net/test-container-2719d6da-187b-2612-8d87-03ff793e9a84/destFolder/item1?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-copy-source": "https://nickliuproductionacc.file.core.windows.net/test-share-370b124c-4918-a517-43ae-b53b14515241/sourceFolder/item1?sv=sanitized-value&se=2025-04-15T20%3A32%3A51Z&sr=s&sp=rcwdl&sig=Sanitized",
        "x-ms-date": "Mon, 14 Apr 2025 20:32:52 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD7B938787D88B\"",
        "Last-Modified": "Mon, 14 Apr 2025 20:32:52 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-content-crc64": "iknlm7CyG2k=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://nickliuproductionacc.blob.core.windows.net/test-container-2719d6da-187b-2612-8d87-03ff793e9a84/destFolder/bar/item3",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-content-type": "application/octet-stream",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Mon, 14 Apr 2025 20:32:52 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD7B9387A33108\"",
        "Last-Modified": "Mon, 14 Apr 2025 20:32:52 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05",
        "x-ms-version-id": "2025-04-14T20:32:52.2506504Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.blob.core.windows.net/test-container-2719d6da-187b-2612-8d87-03ff793e9a84/destFolder/bar/item3?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-copy-source": "https://nickliuproductionacc.file.core.windows.net/test-share-370b124c-4918-a517-43ae-b53b14515241/sourceFolder/bar/item3?sv=sanitized-value&se=2025-04-15T20%3A32%3A51Z&sr=s&sp=rcwdl&sig=Sanitized",
        "x-ms-date": "Mon, 14 Apr 2025 20:32:52 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD7B9387A9B964\"",
        "Last-Modified": "Mon, 14 Apr 2025 20:32:52 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-content-crc64": "iknlm7CyG2k=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://nickliuproductionacc.blob.core.windows.net/test-container-2719d6da-187b-2612-8d87-03ff793e9a84/destFolder/pik/item4",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-content-type": "application/octet-stream",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Mon, 14 Apr 2025 20:32:52 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD7B9387B3E71C\"",
        "Last-Modified": "Mon, 14 Apr 2025 20:32:52 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05",
        "x-ms-version-id": "2025-04-14T20:32:52.3601692Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://nickliuproductionacc.blob.core.windows.net/test-container-2719d6da-187b-2612-8d87-03ff793e9a84/destFolder/pik/item4?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-copy-source": "https://nickliuproductionacc.file.core.windows.net/test-share-370b124c-4918-a517-43ae-b53b14515241/sourceFolder/pik/item4?sv=sanitized-value&se=2025-04-15T20%3A32%3A51Z&sr=s&sp=rcwdl&sig=Sanitized",
        "x-ms-date": "Mon, 14 Apr 2025 20:32:52 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD7B9387B93870\"",
        "Last-Modified": "Mon, 14 Apr 2025 20:32:52 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-content-crc64": "iknlm7CyG2k=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://nickliuproductionacc.file.core.windows.net/test-share-370b124c-4918-a517-43ae-b53b14515241?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Mon, 14 Apr 2025 20:32:52 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2025-04-14T16:32:51.8316840-04:00",
    "RandomSeed": "1924569065",
    "Storage_TestConfigDefault": "ProductionTenant\nnickliuproductionacc\nU2FuaXRpemVk\nhttps://nickliuproductionacc.blob.core.windows.net\nhttps://nickliuproductionacc.file.core.windows.net\nhttps://nickliuproductionacc.queue.core.windows.net\nhttps://nickliuproductionacc.table.core.windows.net\n\n\n\n\nhttps://nickliuproductionacc-secondary.blob.core.windows.net\nhttps://nickliuproductionacc-secondary.file.core.windows.net\nhttps://nickliuproductionacc-secondary.queue.core.windows.net\nhttps://nickliuproductionacc-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://nickliuproductionacc.blob.core.windows.net/;QueueEndpoint=https://nickliuproductionacc.queue.core.windows.net/;FileEndpoint=https://nickliuproductionacc.file.core.windows.net/;BlobSecondaryEndpoint=https://nickliuproductionacc-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://nickliuproductionacc-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://nickliuproductionacc-secondary.file.core.windows.net/;AccountName=nickliuproductionacc;AccountKey=U2FuaXRpemVk\nEncryptionScope\n\n"
  }
}
