{
  "Entries": [
    {
      "RequestUri": "https://fake.eastus-1.eventgrid.azure.net/topics/topic:publish?api-version=2023-06-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/cloudevents-batch\u002Bjson; charset=utf-8"
      },
      "RequestBody": "[{\u0022data_base64\u0022:\u0022ZXZlbnQgb25l\u0022,\u0022id\u0022:\u002200000000-0000-0000-0000-000000000000\u0022,\u0022source\u0022:\u0022hello-source\u0022,\u0022specversion\u0022:\u00221.0\u0022,\u0022time\u0022: \u00222023-06-17T00:33:32Z\u0022,\u0022type\u0022:\u0022world\u0022},{\u0022data_base64\u0022:\u0022ZXZlbnQgdHdv\u0022,\u0022id\u0022:\u002200000000-0000-0000-0000-000000000000\u0022,\u0022source\u0022:\u0022hello-source\u0022,\u0022specversion\u0022:\u00221.0\u0022,\u0022time\u0022: \u00222023-06-17T00:33:32Z\u0022,\u0022type\u0022:\u0022world\u0022}]",
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json"
      },
      "ResponseBody": {}
    },
    {
      "RequestUri": "https://fake.eastus-1.eventgrid.azure.net/topics/topic/eventsubscriptions/subscription:receive?api-version=2023-06-01-preview\u0026maxEvents=2",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [
          {
            "brokerProperties": {
              "lockToken": "fake-lock-token",
              "deliveryCount": 1
            },
            "event": {
              "type": "world",
              "source": "hello-source",
              "time": "2023-06-17T00:33:32Z",
              "id": "00000000-0000-0000-0000-000000000000",
              "specversion": "1.0",
              "data_base64": "ZXZlbnQgb25l"
            }
          },
          {
            "brokerProperties": {
              "lockToken": "fake-lock-token",
              "deliveryCount": 1
            },
            "event": {
              "type": "world",
              "source": "hello-source",
              "time": "2023-06-17T00:33:32Z",
              "id": "00000000-0000-0000-0000-000000000000",
              "specversion": "1.0",
              "data_base64": "ZXZlbnQgdHdv"
            }
          }
        ]
      }
    },
    {
      "RequestUri": "https://fake.eastus-1.eventgrid.azure.net/topics/topic/eventsubscriptions/subscription:acknowledge?api-version=2023-06-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "lockTokens": [
          "fake-lock-token"
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json"
      },
      "ResponseBody": {
        "succeededLockTokens": [
          "fake-lock-token"
        ],
        "failedLockTokens": []
      }
    },
    {
      "RequestUri": "https://fake.eastus-1.eventgrid.azure.net/topics/topic/eventsubscriptions/subscription:acknowledge?api-version=2023-06-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "lockTokens": [
          "fake-lock-token",
          "fake-lock-token"
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json"
      },
      "ResponseBody": {
        "succeededLockTokens": [
          "fake-lock-token"
        ],
        "failedLockTokens": [
          {
            "lockToken": "fake-lock-token",
            "errorCode": "TokenLost",
            "errorDescription": "Token has expired."
          }
        ]
      }
    }
  ],
  "Variables": {}
}
