{
  "Entries": [
    {
      "RequestUri": "https://fake.eastus-1.eventgrid.azure.net/topics/topic:publish?api-version=2023-06-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/cloudevents-batch\u002Bjson; charset=utf-8"
      },
      "RequestBody": "[{\u0022data\u0022:\u0022hello world 1\u0022,\u0022id\u0022:\u002200000000-0000-0000-0000-000000000000\u0022,\u0022source\u0022:\u0022hello-source\u0022,\u0022specversion\u0022:\u00221.0\u0022,\u0022time\u0022: \u00222023-06-17T00:33:32Z\u0022,\u0022type\u0022:\u0022eventType\u0022},{\u0022data\u0022:\u0022hello world 2\u0022,\u0022datacontenttype\u0022:\u0022data content type\u0022,\u0022dataschema\u0022:\u0022https://dataschema\u0022,\u0022extension1\u0022:\u0022extension1value\u0022,\u0022id\u0022:\u002200000000-0000-0000-0000-000000000000\u0022,\u0022source\u0022:\u0022hello-source\u0022,\u0022specversion\u0022:\u00221.0\u0022,\u0022subject\u0022:\u0022subject\u0022,\u0022time\u0022: \u00222023-06-17T00:33:32Z\u0022,\u0022type\u0022:\u0022eventType\u0022},{\u0022data\u0022:{\u0022Name\u0022:\u0022simple type name\u0022},\u0022id\u0022:\u002200000000-0000-0000-0000-000000000000\u0022,\u0022source\u0022:\u0022hello-source\u0022,\u0022specversion\u0022:\u00221.0\u0022,\u0022time\u0022: \u00222023-06-17T00:33:32Z\u0022,\u0022type\u0022:\u0022eventType\u0022}]",
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json"
      },
      "ResponseBody": {}
    },
    {
      "RequestUri": "https://fake.eastus-1.eventgrid.azure.net/topics/topic/eventsubscriptions/subscription:receive?api-version=2023-06-01-preview\u0026maxEvents=3",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [
          {
            "brokerProperties": {
              "lockToken": "fake-lock-token",
              "deliveryCount": 1
            },
            "event": {
              "specversion": "1.0",
              "source": "hello-source",
              "time": "2023-06-17T00:33:32Z",
              "id": "00000000-0000-0000-0000-000000000000",
              "type": "eventType",
              "data": "hello world 1"
            }
          },
          {
            "brokerProperties": {
              "lockToken": "fake-lock-token",
              "deliveryCount": 1
            },
            "event": {
              "id": "00000000-0000-0000-0000-000000000000",
              "datacontenttype": "data content type",
              "specversion": "1.0",
              "dataschema": "https://dataschema",
              "extension1": "extension1value",
              "source": "hello-source",
              "subject": "subject",
              "time": "2023-06-17T00:33:32Z",
              "type": "eventType",
              "data": "hello world 2"
            }
          },
          {
            "brokerProperties": {
              "lockToken": "fake-lock-token",
              "deliveryCount": 1
            },
            "event": {
              "specversion": "1.0",
              "source": "hello-source",
              "time": "2023-06-17T00:33:32Z",
              "id": "00000000-0000-0000-0000-000000000000",
              "type": "eventType",
              "data": {
                "Name": "simple type name"
              }
            }
          }
        ]
      }
    },
    {
      "RequestUri": "https://fake.eastus-1.eventgrid.azure.net/topics/topic/eventsubscriptions/subscription:acknowledge?api-version=2023-06-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "lockTokens": [
          "fake-lock-token",
          "fake-lock-token",
          "fake-lock-token"
        ]
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json"
      },
      "ResponseBody": {
        "succeededLockTokens": [
          "fake-lock-token",
          "fake-lock-token",
          "fake-lock-token"
        ],
        "failedLockTokens": []
      }
    }
  ],
  "Variables": {}
}
