{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Dynatrace.Observability/monitors?api-version=2023-04-27",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-original-request-ids": [
          "96c6a0e3-d757-48e5-bcaf-bd39b69fbff9",
          "ab19e7fa-98b5-46ae-ab14-b66a73061f2b",
          "05b509ad-8138-4592-ac58-9def72b02eff",
          "e5d5d9eb-2d38-4e57-a209-5600292dd2f1",
          "f8a9cf22-a153-47a8-83a6-b58b935135f8",
          "de6de2c9-9b21-45f7-9092-a76e94cb7657",
          "c9a6f2f4-ec1f-4e41-84fa-7e934342dabb",
          "3d100a89-b988-4533-9539-b1eeb35e7c23",
          "f31af464-bef5-4717-a648-6283a9177733"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": "11998"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/azure_subscription_id/resourceGroups/myjstest/providers/Dynatrace.Observability/monitors/myMonitormtest1",
            "name": "myMonitormtest1",
            "type": "dynatrace.observability/monitors",
            "location": "eastus",
            "tags": {
              "environment": "Dev"
            },
            "systemData": {
              "createdBy": "azure_client_id",
              "createdByType": "Application",
              "createdAt": "2023-08-23T07:10:35.4926599Z",
              "lastModifiedBy": "azure_client_id",
              "lastModifiedByType": "Application",
              "lastModifiedAt": "2023-08-23T07:10:35.4926599Z"
            },
            "identity": {
              "principalId": "90860996-97db-4b2f-bc0c-fde32fcd0238",
              "tenantId": "88888888-8888-8888-8888-888888888888",
              "type": "SystemAssigned"
            },
            "properties": {
              "monitoringStatus": "Enabled",
              "marketplaceSubscriptionStatus": "Active",
              "dynatraceEnvironmentProperties": {
                "userId": null,
                "accountInfo": {
                  "accountId": null,
                  "regionId": null
                },
                "environmentInfo": {
                  "environmentId": null,
                  "ingestionKey": null,
                  "logsIngestionEndpoint": null,
                  "landingURL": null
                },
                "singleSignOnProperties": {
                  "singleSignOnState": "Initial",
                  "enterpriseAppId": null,
                  "singleSignOnUrl": null,
                  "aadDomains": null,
                  "provisioningState": "Accepted"
                }
              },
              "userInfo": null,
              "planData": {
                "usageType": "Committed",
                "billingCycle": "Monthly",
                "planDetails": "dynatraceapitestplan",
                "effectiveDate": "2023-08-22T13:14:33Z"
              },
              "liftrResourceCategory": "MonitorLogs",
              "liftrResourcePreference": 0,
              "provisioningState": "Failed"
            }
          }
        ]
      }
    }
  ],
  "Variables": {}
}
