{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/test-project/deployments?api-version=v1&modelPublisher=Microsoft",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-region": "West Central US"
      },
      "ResponseBody": {
        "value": []
      }
    }
  ],
  "Variables": {}
}
