{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "tags": {
          "Az.Sec.AnonymousBlobEnforcement::OptIn": "all_regions"
        },
        "subscriptionId": "00000000-0000-0000-0000-000000000000",
        "tenantId": "00000000-0000-0000-0000-000000000000",
        "displayName": "Sanitized",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Search/searchServices?api-version=2025-05-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-original-request-ids": [
          "",
          "",
          "",
          "",
          ""
        ],
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "value": [
          {
            "location": "West US",
            "tags": {},
            "properties": {
              "replicaCount": 1,
              "partitionCount": 1,
              "endpoint": "https://Sanitized.search.windows.net",
              "status": "running",
              "statusDetails": "",
              "provisioningState": "succeeded",
              "hostingMode": "default",
              "computeType": "Default",
              "publicNetworkAccess": "Enabled",
              "networkRuleSet": {
                "ipRules": [],
                "bypass": "None"
              },
              "privateEndpointConnections": [],
              "sharedPrivateLinkResources": [],
              "eTag": "W/\"datetime'2026-01-31T01%3A33%3A52.7983222Z'\"",
              "encryptionWithCmk": {
                "enforcement": "Unspecified",
                "encryptionComplianceStatus": "NonCompliant"
              },
              "disableLocalAuth": true,
              "authOptions": null,
              "dataExfiltrationProtections": [],
              "semanticSearch": "free",
              "upgradeAvailable": "notAvailable",
              "serviceUpgradedAt": null
            },
            "identity": {
              "type": "UserAssigned",
              "userAssignedIdentities": {
                "/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/pablocas-Sanitized/providers/Microsoft.ManagedIdentity/userAssignedIdentities/Sanitized-search-service-identity": {
                  "clientId": "00000000-0000-0000-0000-000000000000",
                  "principalId": "00000000-0000-0000-0000-000000000000"
                }
              }
            },
            "systemData": {
              "createdAt": "2026-01-31T01:33:52.776Z"
            },
            "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/pablocas-Sanitized/providers/Microsoft.Search/searchServices/Sanitized",
            "name": "Sanitized",
            "type": "Microsoft.Search/searchServices",
            "sku": {
              "name": "basic"
            }
          },
          {
            "location": "West US 2",
            "tags": {},
            "properties": {
              "replicaCount": 1,
              "partitionCount": 2,
              "endpoint": "https://scale.search.windows.net",
              "status": "running",
              "statusDetails": "",
              "provisioningState": "succeeded",
              "hostingMode": "Default",
              "publicNetworkAccess": "Enabled",
              "networkRuleSet": {
                "ipRules": [],
                "bypass": "None"
              },
              "privateEndpointConnections": [],
              "sharedPrivateLinkResources": [],
              "eTag": "W/\"datetime'2025-05-10T01%3A40%3A31.0252668Z'\"",
              "encryptionWithCmk": {
                "enforcement": "Unspecified",
                "encryptionComplianceStatus": "NonCompliant"
              },
              "disableLocalAuth": false,
              "authOptions": {
                "aadOrApiKey": {
                  "aadAuthFailureMode": "http401WithBearerChallenge"
                }
              },
              "dataExfiltrationProtections": [],
              "semanticSearch": "standard",
              "upgradeAvailable": "notAvailable",
              "serviceUpgradedAt": null
            },
            "identity": {
              "type": "SystemAssigned",
              "principalId": "00000000-0000-0000-0000-000000000000",
              "tenantId": "00000000-0000-0000-0000-000000000000"
            },
            "systemData": {
              "createdAt": "2024-05-14T17:32:09.061Z"
            },
            "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/ragscalerg/providers/Microsoft.Search/searchServices/scale",
            "name": "scale",
            "type": "Microsoft.Search/searchServices",
            "sku": {
              "name": "standard2"
            }
          },
          {
            "location": "West US 2",
            "tags": {
              "ProjectType": "aoai-your-data-service"
            },
            "properties": {
              "replicaCount": 1,
              "partitionCount": 1,
              "endpoint": "https://briansmi-summit.search.windows.net",
              "status": "running",
              "statusDetails": "",
              "provisioningState": "succeeded",
              "hostingMode": "Default",
              "publicNetworkAccess": "Enabled",
              "networkRuleSet": {
                "ipRules": [],
                "bypass": "None"
              },
              "privateEndpointConnections": [],
              "sharedPrivateLinkResources": [],
              "eTag": "W/\"datetime'2025-08-04T16%3A09%3A14.7533348Z'\"",
              "encryptionWithCmk": {
                "enforcement": "Unspecified",
                "encryptionComplianceStatus": "NonCompliant"
              },
              "disableLocalAuth": false,
              "authOptions": {
                "apiKeyOnly": {}
              },
              "dataExfiltrationProtections": [],
              "semanticSearch": "free",
              "upgradeAvailable": "available",
              "serviceUpgradedAt": null
            },
            "identity": {
              "type": "SystemAssigned",
              "principalId": "00000000-0000-0000-0000-000000000000",
              "tenantId": "00000000-0000-0000-0000-000000000000"
            },
            "systemData": {
              "createdAt": "2024-03-12T03:04:[...]
