{
  "Entries": [
    {
      "RequestUri": "https://camaiaor-formrec-eastus.cognitiveservices.azure.com/formrecognizer/v2.1/prebuilt/businessCard/analyze?includeTextDetails=false\u0026pages=1-2%2C3",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/pdf",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Operation-Location": "https://camaiaor-formrec-eastus.cognitiveservices.azure.com/formrecognizer/v2.1/prebuilt/businessCard/analyzeResults/b49b94c3-43c5-4bcd-824d-877e9139076b",
        "x-ms-region": "East US"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://camaiaor-formrec-eastus.cognitiveservices.azure.com/formrecognizer/v2.1/prebuilt/businessCard/analyzeResults/b49b94c3-43c5-4bcd-824d-877e9139076b",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "status": "running",
        "createdDateTime": "2023-04-28T19:40:40Z",
        "lastUpdatedDateTime": "2023-04-28T19:40:40Z"
      }
    },
[...]
    {
      "RequestUri": "https://camaiaor-formrec-eastus.cognitiveservices.azure.com/formrecognizer/v2.1/prebuilt/businessCard/analyzeResults/b49b94c3-43c5-4bcd-824d-877e9139076b",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "status": "succeeded",
        "createdDateTime": "2023-04-28T19:40:40Z",
        "lastUpdatedDateTime": "2023-04-28T19:40:42Z",
        "analyzeResult": {
          "version": "2.1.0",
          "readResults": [
            {
              "page": 1,
              "angle": 0,
              "width": 8.5,
              "height": 11,
              "unit": "inch"
            },
            {
              "page": 2,
              "angle": 0,
              "width": 8.5,
              "height": 11,
              "unit": "inch"
            },
            {
              "page": 3,
              "angle": 0,
              "width": 8.5,
              "height": 11,
              "unit": "inch"
            }
          ],
          "documentResults": [
            {
              "docType": "prebuilt:businesscard",
              "pageRange": [
                1,
                1
              ],
              "fields": {
                "Addresses": {
                  "type": "array",
                  "valueArray": [
                    {
                      "type": "string",
                      "valueString": "123 Hobbit Lane Redmond, WA 555-555-5555",
                      "text": "123 Hobbit Lane Redmond, WA 555-555-5555",
                      "boundingBox": [
                        6.0105,
                        1.6707,
                        7.1006,
                        1.6707,
                        7.1006,
                        2.2254,
                        6.0105,
                        2.2254
                      ],
                      "page": 1,
                      "confidence": 0.213
                    },
                    {
                      "type": "string",
                      "valueString": "567 Main St. Redmond, WA 555-555-5555",
                      "text": "567 Main St. Redmond, WA 555-555-5555",
                      "boundingBox": [
                        0.8852,
                        1.846,
                        1.8537,
                        1.846,
                        1.8537,
                        2.3954,
                        0.8852,
                        2.3954
                      ],
                      "page": 1,
                      "confidence": 0.987
                    }
                  ]
                },
                "CompanyNames": {
                  "type": "array",
                  "valueArray": [
                    {
                      "type": "string",
                      "valueString": "Invoice For:",
                      "text": "Invoice For:",
                      "boundingBox": [
                        6.0211,
                        1.0656,
                        7.0357,
                        1.0656,
                        7.0357,
                        1.2121,
                        6.0211,
                        1.2121
                      ],
                      "page": 1,
                      "confidence": 0.239
                    }
                  ]
                },
                "ContactNames": {
                  "type": "array",
                  "valueArray": [
                    {
                      "type": "object",
                      "valueObject": {
                        "FirstName": {
                          "type": "string",
                          "valueString": "Bilbo",
                          "text": "Bilbo",
                          "boundingBox": [
                            6.0164,
                            1.4503,
                            6.3392,
                            1.4503,
                            6.3392,
                            1.5649,
                            6.0164,
                            1.5649
                          ],
                          "page": 1
                        },
                        "LastName": {
                          "type": "string",
                          "valueString": "Baggins",
                          "text": "Baggins",
                          "boundingBox": [
                            6.396,
                            1.4556,
                            6.8967,
                            1.4556,
                            6.8967,
                            1.5931,
                            6.396,
                            1.5931
                          ],[...]
