{
  "Entries": [
    {
      "RequestUri": "https://camaiaor-formrec-eastus.cognitiveservices.azure.com/formrecognizer/v2.1/prebuilt/businessCard/analyze?includeTextDetails=false",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "source": "Sanitized"
      },
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ms-azure-ai-errorcode": "InvalidImage",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "error": {
          "innerError": {
            "requestId": "9fec66d5-7bf8-4e9f-8b2a-de03b447bf2d"
          },
          "code": "InvalidImage",
          "message": "The input data is not a valid image or password protected."
        }
      }
    }
  ],
  "Variables": {
    "API_KEY": "Sanitized",
    "ENDPOINT": "https://camaiaor-formrec-eastus.cognitiveservices.azure.com/",
    "RandomSeed": "627414994"
  }
}
