{
  "Entries": [
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-afc528d7-decd-a634-f8b8-8640266c2296?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD513F92E0036F\"",
        "Last-Modified": "Wed, 19 Feb 2025 23:46:04 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-64a8c490-8b1f-e137-3f8a-77c388cc1862?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 19 Feb 2025 23:46:04 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD513F92E9EA8E\"",
        "Last-Modified": "Wed, 19 Feb 2025 23:46:04 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-afc528d7-decd-a634-f8b8-8640266c2296/sourceFolder/foo/test-file-c5445317-bdf2-c5fa-8698-7fe16380a137",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD513F92F12ED6\"",
        "Last-Modified": "Wed, 19 Feb 2025 23:46:04 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05",
        "x-ms-version-id": "2025-02-19T23:46:04.6547670Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-afc528d7-decd-a634-f8b8-8640266c2296/sourceFolder/foo/test-file-c5445317-bdf2-c5fa-8698-7fe16380a137?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": "YqnHpvVOdeQ1ObBmtG6a/j3kn+vDYds+5xFCVDc32h9w32zMH1pOyd5gj7kNlBAY/YGkf+C2dADNiL/jCyCs/l6R9dUBzt7jltYNY9IiMVIBKle2k1s+umpr/peaar29s5FafJ46Fi+iwekKqREuq1Zs4uHJ9msDUjtqls9HSCsYT69ByLS0xhMnE9JyNBFZPFNALYfc9L0lVili0IBgW3i98Vlh7eKitxzNoeKZkR4qEFp8BxujO1vyG3KLUvWSx7hZtEK3+E5wnnVrDlLbjMQKN78m5FRcGbb+b9JwFmUmOtkpP93cchgLC2ilOCwIFo6tgBo1bONk/JqMuYh8/4cQRNN4sk3nLsWnGtjrt+CJ9VhDw5VK8M72xEJCT7mQjwzglfNYj2RBxVFVjlE[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-afc528d7-decd-a634-f8b8-8640266c2296/sourceFolder/rul/test-file-8515e10f-d865-fc9a-feb8-26272983ad18",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD513F9302435A\"",
        "Last-Modified": "Wed, 19 Feb 2025 23:46:04 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05",
        "x-ms-version-id": "2025-02-19T23:46:04.7677027Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-afc528d7-decd-a634-f8b8-8640266c2296/sourceFolder/rul/test-file-8515e10f-d865-fc9a-feb8-26272983ad18?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": "EvyxXa92tRB2RJIICuVL23yk1s8vzr04Xm0AcijnhZqNHLJ2nT27mCsFDyBGkvIZbEqqha3d6UQ/eP[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-afc528d7-decd-a634-f8b8-8640266c2296/sourceFolder/pik/test-file-34a78a91-d59c-90cb-311f-31af39242ab6",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD513F930FD5EE\"",
        "Last-Modified": "Wed, 19 Feb 2025 23:46:04 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05",
        "x-ms-version-id": "2025-02-19T23:46:04.8556526Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-afc528d7-decd-a634-f8b8-8640266c2296/sourceFolder/pik/test-file-34a78a91-d59c-90cb-311f-31af39242ab6?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": "gYeB2QfjYNY3OcR5/kwAwb2rCNCCWRwoT/zHAPGKp4trOUr2QZq8rSnR/GIRUpHkH3DyjRtaNChrWY[...]
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-64a8c490-8b1f-e137-3f8a-77c388cc1862/destFolder?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 19 Feb 2025 23:46:04 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD513F931F65B8\"",
        "Last-Modified": "Wed, 19 Feb 2025 23:46:04 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-02-19T23:46:04.9576376Z",
        "x-ms-file-creation-time": "2025-02-19T23:46:04.9576376Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-02-19T23:46:04.9576376Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "1597566016123626978*9146977694084461163",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-afc528d7-decd-a634-f8b8-8640266c2296?restype=container&comp=list&prefix=sourceFolder%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://jalauzonnettest.blob.core.windows.net/\" ContainerName=\"test-container-afc528d7-decd-a634-f8b8-8640266c2296\"><Prefix>sourceFolder/</Prefix><Blobs><Blob><Name>sourceFolder/foo/test-file-c5445317-bdf2-c5fa-8698-7fe16380a137</Name><VersionId>2025-02-19T23:46:04.6547670Z</VersionId><IsCurrentVersion>true</IsCurrentVersion><Properties><Creation-Time>Wed, 19 Feb 2025 23:46:04 GMT</Creation-Time><Last-Modified>Wed, 19 Feb 2025 23:46:04 GMT</Last-Modified><Etag>0x8DD513F92F9E026</Etag><Content-Length>1024</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64 /><Content-MD5 /><Cache-Control>no-cache</Cache-Control><Content-Disposition>inline</Content-Disposition><BlobType>AppendBlob</BlobType><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><Metadata><foo>bar</foo><meta>data</meta><Capital>letter</Capital><UPPER>case</UPPER></Metadata><OrMetadata /></Blob><Blob><Name>sourceFolder/pik/test-file-34a78a91-d59c-90cb-311f-31af39242ab6</Name><VersionId>2025-02-19T23:46:04.8556526Z</VersionId><IsCurrentVersion>true</IsCurrentVersion><Properties><Creation-Time>Wed, 19 Feb 2025 23:46:04 GMT</Creation-Time><Last-Modified>Wed, 19 Feb 2025 23:46:04 GMT</Last-Modified><Etag>0x8DD513F931664AA</Etag><Content-Length>1024</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64 />[...]
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-64a8c490-8b1f-e137-3f8a-77c388cc1862/destFolder/foo?sv=Sanitized&se=2025-02-20T23%3A46%3A04Z&sr=s&sp=rcwdl&sig=Sanitized&restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD513F9334BF57\"",
        "Last-Modified": "Wed, 19 Feb 2025 23:46:05 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-02-19T23:46:05.0975575Z",
        "x-ms-file-creation-time": "2025-02-19T23:46:05.0975575Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2025-02-19T23:46:05.0975575Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "1597566016123626978*9146977694084461163",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-64a8c490-8b1f-e137-3f8a-77c388cc1862/destFolder/pik?sv=Sanitized&se=2025-02-20T23%3A46%3A04Z&sr=s&sp=rcwdl&sig=Sanitized&restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD513F933BC334\"",
        "Last-Modified": "Wed, 19 Feb 2025 23:46:05 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-02-19T23:46:05.1435316Z",
        "x-ms-file-creation-time": "2025-02-19T23:46:05.1435316Z",
        "x-ms-file-id": "16140971433240035328",
        "x-ms-file-last-write-time": "2025-02-19T23:46:05.1435316Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "1597566016123626978*9146977694084461163",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-64a8c490-8b1f-e137-3f8a-77c388cc1862/destFolder/rul?sv=Sanitized&se=2025-02-20T23%3A46%3A04Z&sr=s&sp=rcwdl&sig=Sanitized&restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD513F9342EE13\"",
        "Last-Modified": "Wed, 19 Feb 2025 23:46:05 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-02-19T23:46:05.1905043Z",
        "x-ms-file-creation-time": "2025-02-19T23:46:05.1905043Z",
        "x-ms-file-id": "10376363910205800448",
        "x-ms-file-last-write-time": "2025-02-19T23:46:05.1905043Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "1597566016123626978*9146977694084461163",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-64a8c490-8b1f-e137-3f8a-77c388cc1862/destFolder/foo/test-file-c5445317-bdf2-c5fa-8698-7fe16380a137?sv=Sanitized&se=2025-02-20T23%3A46%3A04Z&sr=s&sp=rcwdl&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-64a8c490-8b1f-e137-3f8a-77c388cc1862/destFolder/foo/test-file-c5445317-bdf2-c5fa-8698-7fe16380a137?sv=Sanitized&se=2025-02-20T23%3A46%3A04Z&sr=s&sp=rcwdl&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-encoding": "",
        "x-ms-content-language": "en-US",
        "x-ms-content-length": "1024",
        "x-ms-content-type": "image/jpeg",
        "x-ms-file-creation-time": "2025-02-19T23:46:04.0000000Z",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-type": "file",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD513F9430FBB2\"",
        "Last-Modified": "Wed, 19 Feb 2025 23:46:06 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-02-19T23:46:06.7506098Z",
        "x-ms-file-creation-time": "2025-02-19T23:46:04.0000000Z",
        "x-ms-file-id": "14988049928633188352",
        "x-ms-file-last-write-time": "2025-02-19T23:46:06.7506098Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "15442983316638046949*9146977694084461163",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-64a8c490-8b1f-e137-3f8a-77c388cc1862/destFolder/rul/test-file-8515e10f-d865-fc9a-feb8-26272983ad18?sv=Sanitized&se=2025-02-20T23%3A46%3A04Z&sr=s&sp=rcwdl&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-64a8c490-8b1f-e137-3f8a-77c388cc1862/destFolder/pik/test-file-34a78a91-d59c-90cb-311f-31af39242ab6?sv=Sanitized&se=2025-02-20T23%3A46%3A04Z&sr=s&sp=rcwdl&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-64a8c490-8b1f-e137-3f8a-77c388cc1862/destFolder/foo/test-file-c5445317-bdf2-c5fa-8698-7fe16380a137?sv=Sanitized&se=2025-02-20T23%3A46%3A04Z&sr=s&sp=rcwdl&sig=Sanitized&comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://jalauzonnettest.blob.core.windows.net/test-container-afc528d7-decd-a634-f8b8-8640266c2296/sourceFolder/foo/test-file-c5445317-bdf2-c5fa-8698-7fe16380a137",
        "x-ms-copy-source-authorization": "Sanitized",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD513F94432182\"",
        "Last-Modified": "Wed, 19 Feb 2025 23:46:06 GMT",
        "x-ms-content-crc64": "+n3OyGmpf9k=",
        "x-ms-file-last-write-time": "2025-02-19T23:46:06.7506098Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-64a8c490-8b1f-e137-3f8a-77c388cc1862/destFolder/rul/test-file-8515e10f-d865-fc9a-feb8-26272983ad18?sv=Sanitized&se=2025-02-20T23%3A46%3A04Z&sr=s&sp=rcwdl&sig=Sanitized&comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://jalauzonnettest.blob.core.windows.net/test-container-afc528d7-decd-a634-f8b8-8640266c2296/sourceFolder/rul/test-file-8515e10f-d865-fc9a-feb8-26272983ad18",
        "x-ms-copy-source-authorization": "Sanitized",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD513F944B5DAA\"",
        "Last-Modified": "Wed, 19 Feb 2025 23:46:06 GMT",
        "x-ms-content-crc64": "A2r12l43MFE=",
        "x-ms-file-last-write-time": "2025-02-19T23:46:06.8595476Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-64a8c490-8b1f-e137-3f8a-77c388cc1862/destFolder/foo/test-file-c5445317-bdf2-c5fa-8698-7fe16380a137?sv=Sanitized&se=2025-02-20T23%3A46%3A04Z&sr=s&sp=rcwdl&sig=Sanitized&comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-encoding": "",
        "x-ms-content-language": "en-US",
        "x-ms-content-type": "image/jpeg",
        "x-ms-file-creation-time": "2025-02-19T23:46:04.0000000Z",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD513F944DA745\"",
        "Last-Modified": "Wed, 19 Feb 2025 23:46:06 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-02-19T23:46:06.9385029Z",
        "x-ms-file-creation-time": "2025-02-19T23:46:04.0000000Z",
        "x-ms-file-id": "14988049928633188352",
        "x-ms-file-last-write-time": "2025-02-19T23:46:06.7506098Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "15442983316638046949*9146977694084461163",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-64a8c490-8b1f-e137-3f8a-77c388cc1862/destFolder/rul/test-file-8515e10f-d865-fc9a-feb8-26272983ad18?sv=Sanitized&se=2025-02-20T23%3A46%3A04Z&sr=s&sp=rcwdl&sig=Sanitized&comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-encoding": "",
        "x-ms-content-language": "en-US",
        "x-ms-content-type": "image/jpeg",
        "x-ms-file-creation-time": "2025-02-19T23:46:04.0000000Z",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD513F9451C558\"",
        "Last-Modified": "Wed, 19 Feb 2025 23:46:06 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-02-19T23:46:06.9654872Z",
        "x-ms-file-creation-time": "2025-02-19T23:46:04.0000000Z",
        "x-ms-file-id": "13835093239654252544",
        "x-ms-file-last-write-time": "2025-02-19T23:46:06.8595476Z",
        "x-ms-file-parent-id": "10376363910205800448",
        "x-ms-file-permission-key": "15442983316638046949*9146977694084461163",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-64a8c490-8b1f-e137-3f8a-77c388cc1862/destFolder/pik/test-file-34a78a91-d59c-90cb-311f-31af39242ab6?sv=Sanitized&se=2025-02-20T23%3A46%3A04Z&sr=s&sp=rcwdl&sig=Sanitized&comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://jalauzonnettest.blob.core.windows.net/test-container-afc528d7-decd-a634-f8b8-8640266c2296/sourceFolder/pik/test-file-34a78a91-d59c-90cb-311f-31af39242ab6",
        "x-ms-copy-source-authorization": "Sanitized",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD513F945435FE\"",
        "Last-Modified": "Wed, 19 Feb 2025 23:46:06 GMT",
        "x-ms-content-crc64": "EcYu5071Ip8=",
        "x-ms-file-last-write-time": "2025-02-19T23:46:06.9035227Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-64a8c490-8b1f-e137-3f8a-77c388cc1862/destFolder/pik/test-file-34a78a91-d59c-90cb-311f-31af39242ab6?sv=Sanitized&se=2025-02-20T23%3A46%3A04Z&sr=s&sp=rcwdl&sig=Sanitized&comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-encoding": "",
        "x-ms-content-language": "en-US",
        "x-ms-content-type": "image/jpeg",
        "x-ms-file-creation-time": "2025-02-19T23:46:04.0000000Z",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD513F945AC4B5\"",
        "Last-Modified": "Wed, 19 Feb 2025 23:46:07 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-02-19T23:46:07.0244533Z",
        "x-ms-file-creation-time": "2025-02-19T23:46:04.0000000Z",
        "x-ms-file-id": "13835163608398430208",
        "x-ms-file-last-write-time": "2025-02-19T23:46:06.9035227Z",
        "x-ms-file-parent-id": "16140971433240035328",
        "x-ms-file-permission-key": "15442983316638046949*9146977694084461163",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-afc528d7-decd-a634-f8b8-8640266c2296?restype=container&comp=list&prefix=sourceFolder",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBo[...]
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-64a8c490-8b1f-e137-3f8a-77c388cc1862/destFolder?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 19 Feb 2025 23:46:07 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://jalauzonnettest.file.core.windows.net/\" ShareName=\"test-share-64a8c490-8b1f-e137-3f8a-77c388cc1862\" DirectoryPath=\"destFolder\"><DirectoryId>13835128424026341376</DirectoryId><Entries><Directory><Name>foo</Name><FileId>11529285414812647424</FileId><Properties /></Directory><Directory><Name>pik</Name><FileId>16140971433240035328</FileId><Properties /></Directory><Directory><Name>rul</Name><FileId>10376363910205800448</FileId><Properties /></Directory></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-64a8c490-8b1f-e137-3f8a-77c388cc1862/destFolder/foo?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 19 Feb 2025 23:46:07 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://jalauzonnettest.file.core.windows.net/\" ShareName=\"test-share-64a8c490-8b1f-e137-3f8a-77c388cc1862\" DirectoryPath=\"destFolder/foo\"><DirectoryId>11529285414812647424</DirectoryId><Entries><File><Name>test-file-c5445317-bdf2-c5fa-8698-7fe16380a137</Name><FileId>14988049928633188352</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-64a8c490-8b1f-e137-3f8a-77c388cc1862/destFolder/pik?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 19 Feb 2025 23:46:07 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://jalauzonnettest.file.core.windows.net/\" ShareName=\"test-share-64a8c490-8b1f-e137-3f8a-77c388cc1862\" DirectoryPath=\"destFolder/pik\"><DirectoryId>16140971433240035328</DirectoryId><Entries><File><Name>test-file-34a78a91-d59c-90cb-311f-31af39242ab6</Name><FileId>13835163608398430208</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-64a8c490-8b1f-e137-3f8a-77c388cc1862/destFolder/rul?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 19 Feb 2025 23:46:07 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://jalauzonnettest.file.core.windows.net/\" ShareName=\"test-share-64a8c490-8b1f-e137-3f8a-77c388cc1862\" DirectoryPath=\"destFolder/rul\"><DirectoryId>10376363910205800448</DirectoryId><Entries><File><Name>test-file-8515e10f-d865-fc9a-feb8-26272983ad18</Name><FileId>13835093239654252544</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-afc528d7-decd-a634-f8b8-8640266c2296/sourceFolder/foo/test-file-c5445317-bdf2-c5fa-8698-7fe16380a137",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD513F92F9E026\"",
        "Last-Modified": "Wed, 19 Feb 2025 23:46:04 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Wed, 19 Feb 2025 23:46:04 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05",
        "x-ms-version-id": "2025-02-19T23:46:04.6547670Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-64a8c490-8b1f-e137-3f8a-77c388cc1862/destFolder/foo/test-file-c5445317-bdf2-c5fa-8698-7fe16380a137",
      "RequestMethod": "HEAD",
[...]
