{
  "Entries": [
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-cff39657-213b-cb05-f3d9-39ad47962a57?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD513F8B4FF3CB\"",
        "Last-Modified": "Wed, 19 Feb 2025 23:45:51 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-1485da30-a5cc-d647-3a22-6cfa295916ce?restype=share",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 19 Feb 2025 23:45:51 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD513F8B59366C\"",
        "Last-Modified": "Wed, 19 Feb 2025 23:45:51 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-cff39657-213b-cb05-f3d9-39ad47962a57/sourceFolder/folder0/test-file-9560de9b-27cf-dcb8-36d6-b10c8d57030d",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD513F8B802407\"",
        "Last-Modified": "Wed, 19 Feb 2025 23:45:52 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05",
        "x-ms-version-id": "2025-02-19T23:45:52.1698823Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-cff39657-213b-cb05-f3d9-39ad47962a57/sourceFolder/folder0/test-file-9560de9b-27cf-dcb8-36d6-b10c8d57030d?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": "SZ1Xst08LtZYf+vStxNt1tJ/VPTMQ/97vp+kyUX9tjLzj0ejNTu7X7CKPVA75SQiaNo6DgMOQAad2/M9l2SQWsm53yjLyqCWw/REQgWvQNh6gWFrw6cu5E9BBlpHfcdL+uKGggb8V546o0oOyv0A7ZsbwhYDJZchivrZisRGT0Ys+EgjKL3SfinDMB9dHxpRQBi/LLuxR9RKZfgLI83Z9FQE4tG13MXdSETsQPR4w2rgh0mshyOKe7Bz2MPFxlpc6TzKWT1Im2RS4eN2xAfg0qKOK5uELWwweWYhQQQCGILpj1e3rWosmOvlWaVAE7apkwYhN5u/2LvQmd/XJ1pfUMlhjTWwKSQ3YZKvn9TH8GWveK794ODmKreb5xOLVHGRhQjc34aB+Gni6dUIDzn[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-cff39657-213b-cb05-f3d9-39ad47962a57/sourceFolder/folder0/folder1/test-file-2a8b0846-cf21-4378-3afc-127855b6226e",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD513F8B8FB221\"",
        "Last-Modified": "Wed, 19 Feb 2025 23:45:52 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05",
        "x-ms-version-id": "2025-02-19T23:45:52.2718241Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-cff39657-213b-cb05-f3d9-39ad47962a57/sourceFolder/folder0/folder1/test-file-2a8b0846-cf21-4378-3afc-127855b6226e?comp=appendblock",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": "rZWMnlpKhZDnFzO2o+7shVIM7BB7G6wtMHKOYm4i5gakQdXZpRiC/IL7QwmcwZ9LEI[...]
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-1485da30-a5cc-d647-3a22-6cfa295916ce/destFolder?restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 19 Feb 2025 23:45:52 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD513F8B9F9197\"",
        "Last-Modified": "Wed, 19 Feb 2025 23:45:52 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-02-19T23:45:52.3758487Z",
        "x-ms-file-creation-time": "2025-02-19T23:45:52.3758487Z",
        "x-ms-file-id": "13835128424026341376",
        "x-ms-file-last-write-time": "2025-02-19T23:45:52.3758487Z",
        "x-ms-file-parent-id": "0",
        "x-ms-file-permission-key": "1597566016123626978*9146977694084461163",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-cff39657-213b-cb05-f3d9-39ad47962a57?restype=container&comp=list&prefix=sourceFolder%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://jalauzonnettest.blob.core.windows.net/\" ContainerName=\"test-container-cff39657-213b-cb05-f3d9-39ad47962a57\"><Prefix>sourceFolder/</Prefix><Blobs><Blob><Name>sourceFolder/folder0/folder1/test-file-2a8b0846-cf21-4378-3afc-127855b6226e</Name><VersionId>2025-02-19T23:45:52.2718241Z</VersionId><IsCurrentVersion>true</IsCurrentVersion><Properties><Creation-Time>Wed, 19 Feb 2025 23:45:52 GMT</Creation-Time><Last-Modified>Wed, 19 Feb 2025 23:45:52 GMT</Last-Modified><Etag>0x8DD513F8B983C63</Etag><Content-Length>1024</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64 /><Content-MD5 /><Cache-Control>no-cache</Cache-Control><Content-Disposition>inline</Content-Disposition><BlobType>AppendBlob</BlobType><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><Metadata><foo>bar</foo><meta>data</meta><Capital>letter</Capital><UPPER>case</UPPER></Metadata><OrMetadata /></Blob><Blob><Name>sourceFolder/folder0/test-file-9560de9b-27cf-dcb8-36d6-b10c8d57030d</Name><VersionId>2025-02-19T23:45:52.1698823Z</VersionId><IsCurrentVersion>true</IsCurrentVersion><Properties><Creation-Time>Wed, 19 Feb 2025 23:45:52 GMT</Creation-Time><Last-Modified>Wed, 19 Feb 2025 23:45:52 GMT</Last-Modified><Etag>0x8DD513F8B88D557</Etag><Content-Length>1024</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64 /><Content-MD5 /><Cache-Control>no-cache</Cache-Control><Content-Disposition>inline</Content-Disposition><BlobType>AppendBlob</BlobType><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><Metadata><foo>bar</foo><meta>data</meta><Capital>letter</Capital><UPPER>case</UPPER></Metadata><OrMetadata /></Blob></Blobs><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-1485da30-a5cc-d647-3a22-6cfa295916ce/destFolder/folder0?sv=Sanitized&se=2025-02-20T23%3A45%3A52Z&sr=s&sp=rcwdl&sig=Sanitized&restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD513F8BADE759\"",
        "Last-Modified": "Wed, 19 Feb 2025 23:45:52 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-02-19T23:45:52.4697945Z",
        "x-ms-file-creation-time": "2025-02-19T23:45:52.4697945Z",
        "x-ms-file-id": "11529285414812647424",
        "x-ms-file-last-write-time": "2025-02-19T23:45:52.4697945Z",
        "x-ms-file-parent-id": "13835128424026341376",
        "x-ms-file-permission-key": "1597566016123626978*9146977694084461163",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-1485da30-a5cc-d647-3a22-6cfa295916ce/destFolder/folder0/folder1?sv=Sanitized&se=2025-02-20T23%3A45%3A52Z&sr=s&sp=rcwdl&sig=Sanitized&restype=directory",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD513F8BB4C430\"",
        "Last-Modified": "Wed, 19 Feb 2025 23:45:52 GMT",
        "x-ms-file-attributes": "Directory",
        "x-ms-file-change-time": "2025-02-19T23:45:52.5147696Z",
        "x-ms-file-creation-time": "2025-02-19T23:45:52.5147696Z",
        "x-ms-file-id": "16140971433240035328",
        "x-ms-file-last-write-time": "2025-02-19T23:45:52.5147696Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "1597566016123626978*9146977694084461163",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-1485da30-a5cc-d647-3a22-6cfa295916ce/destFolder/folder0/folder1/test-file-2a8b0846-cf21-4378-3afc-127855b6226e?sv=Sanitized&se=2025-02-20T23%3A45%3A52Z&sr=s&sp=rcwdl&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-1485da30-a5cc-d647-3a22-6cfa295916ce/destFolder/folder0/folder1/test-file-2a8b0846-cf21-4378-3afc-127855b6226e?sv=Sanitized&se=2025-02-20T23%3A45%3A52Z&sr=s&sp=rcwdl&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-encoding": "",
        "x-ms-content-language": "en-US",
        "x-ms-content-length": "1024",
        "x-ms-content-type": "image/jpeg",
        "x-ms-file-creation-time": "2025-02-19T23:45:52.0000000Z",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-type": "file",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD513F8CB03D50\"",
        "Last-Modified": "Wed, 19 Feb 2025 23:45:54 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-02-19T23:45:54.1628240Z",
        "x-ms-file-creation-time": "2025-02-19T23:45:52.0000000Z",
        "x-ms-file-id": "10376363910205800448",
        "x-ms-file-last-write-time": "2025-02-19T23:45:54.1628240Z",
        "x-ms-file-parent-id": "16140971433240035328",
        "x-ms-file-permission-key": "15442983316638046949*9146977694084461163",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-1485da30-a5cc-d647-3a22-6cfa295916ce/destFolder/folder0/folder1/test-file-2a8b0846-cf21-4378-3afc-127855b6226e?sv=Sanitized&se=2025-02-20T23%3A45%3A52Z&sr=s&sp=rcwdl&sig=Sanitized&comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://jalauzonnettest.blob.core.windows.net/test-container-cff39657-213b-cb05-f3d9-39ad47962a57/sourceFolder/folder0/folder1/test-file-2a8b0846-cf21-4378-3afc-127855b6226e",
        "x-ms-copy-source-authorization": "Sanitized",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD513F8CB9B1DA\"",
        "Last-Modified": "Wed, 19 Feb 2025 23:45:54 GMT",
        "x-ms-content-crc64": "HPkmlKlBuKE=",
        "x-ms-file-last-write-time": "2025-02-19T23:45:54.1628240Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-1485da30-a5cc-d647-3a22-6cfa295916ce/destFolder/folder0/test-file-9560de9b-27cf-dcb8-36d6-b10c8d57030d?sv=Sanitized&se=2025-02-20T23%3A45%3A52Z&sr=s&sp=rcwdl&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "ResourceNotFound",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-1485da30-a5cc-d647-3a22-6cfa295916ce/destFolder/folder0/folder1/test-file-2a8b0846-cf21-4378-3afc-127855b6226e?sv=Sanitized&se=2025-02-20T23%3A45%3A52Z&sr=s&sp=rcwdl&sig=Sanitized&comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-encoding": "",
        "x-ms-content-language": "en-US",
        "x-ms-content-type": "image/jpeg",
        "x-ms-file-creation-time": "2025-02-19T23:45:52.0000000Z",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD513F8CC04090\"",
        "Last-Modified": "Wed, 19 Feb 2025 23:45:54 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-02-19T23:45:54.2677648Z",
        "x-ms-file-creation-time": "2025-02-19T23:45:52.0000000Z",
        "x-ms-file-id": "10376363910205800448",
        "x-ms-file-last-write-time": "2025-02-19T23:45:54.1628240Z",
        "x-ms-file-parent-id": "16140971433240035328",
        "x-ms-file-permission-key": "15442983316638046949*9146977694084461163",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-1485da30-a5cc-d647-3a22-6cfa295916ce/destFolder/folder0/test-file-9560de9b-27cf-dcb8-36d6-b10c8d57030d?sv=Sanitized&se=2025-02-20T23%3A45%3A52Z&sr=s&sp=rcwdl&sig=Sanitized&comp=range",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-copy-source": "https://jalauzonnettest.blob.core.windows.net/test-container-cff39657-213b-cb05-f3d9-39ad47962a57/sourceFolder/folder0/test-file-9560de9b-27cf-dcb8-36d6-b10c8d57030d",
        "x-ms-copy-source-authorization": "Sanitized",
        "x-ms-file-last-write-time": "Preserve",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05",
        "x-ms-write": "update"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD513F8CCDD321\"",
        "Last-Modified": "Wed, 19 Feb 2025 23:45:54 GMT",
        "x-ms-content-crc64": "nqBarWtVqG8=",
        "x-ms-file-last-write-time": "2025-02-19T23:45:54.2857545Z",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-1485da30-a5cc-d647-3a22-6cfa295916ce/destFolder/folder0/test-file-9560de9b-27cf-dcb8-36d6-b10c8d57030d?sv=Sanitized&se=2025-02-20T23%3A45%3A52Z&sr=s&sp=rcwdl&sig=Sanitized&comp=properties",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-cache-control": "no-cache",
        "x-ms-content-disposition": "inline",
        "x-ms-content-encoding": "",
        "x-ms-content-language": "en-US",
        "x-ms-content-type": "image/jpeg",
        "x-ms-file-creation-time": "2025-02-19T23:45:52.0000000Z",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "ETag": "\"0x8DD513F8CD59A29\"",
        "Last-Modified": "Wed, 19 Feb 2025 23:45:54 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-02-19T23:45:54.4076841Z",
        "x-ms-file-creation-time": "2025-02-19T23:45:52.0000000Z",
        "x-ms-file-id": "13835093239654252544",
        "x-ms-file-last-write-time": "2025-02-19T23:45:54.2857545Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "15442983316638046949*9146977694084461163",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-cff39657-213b-cb05-f3d9-39ad47962a57?restype=container&comp=list&prefix=sourceFolder",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBo[...]
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-1485da30-a5cc-d647-3a22-6cfa295916ce/destFolder?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 19 Feb 2025 23:45:54 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://jalauzonnettest.file.core.windows.net/\" ShareName=\"test-share-1485da30-a5cc-d647-3a22-6cfa295916ce\" DirectoryPath=\"destFolder\"><DirectoryId>13835128424026341376</DirectoryId><Entries><Directory><Name>folder0</Name><FileId>11529285414812647424</FileId><Properties /></Directory></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-1485da30-a5cc-d647-3a22-6cfa295916ce/destFolder/folder0?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 19 Feb 2025 23:45:54 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://jalauzonnettest.file.core.windows.net/\" ShareName=\"test-share-1485da30-a5cc-d647-3a22-6cfa295916ce\" DirectoryPath=\"destFolder/folder0\"><DirectoryId>11529285414812647424</DirectoryId><Entries><Directory><Name>folder1</Name><FileId>16140971433240035328</FileId><Properties /></Directory><File><Name>test-file-9560de9b-27cf-dcb8-36d6-b10c8d57030d</Name><FileId>13835093239654252544</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-1485da30-a5cc-d647-3a22-6cfa295916ce/destFolder/folder0/folder1?restype=directory&comp=list",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 19 Feb 2025 23:45:54 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://jalauzonnettest.file.core.windows.net/\" ShareName=\"test-share-1485da30-a5cc-d647-3a22-6cfa295916ce\" DirectoryPath=\"destFolder/folder0/folder1\"><DirectoryId>16140971433240035328</DirectoryId><Entries><File><Name>test-file-2a8b0846-cf21-4378-3afc-127855b6226e</Name><FileId>10376363910205800448</FileId><Properties><Content-Length>1024</Content-Length></Properties></File></Entries><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-cff39657-213b-cb05-f3d9-39ad47962a57/sourceFolder/folder0/folder1/test-file-2a8b0846-cf21-4378-3afc-127855b6226e",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD513F8B983C63\"",
        "Last-Modified": "Wed, 19 Feb 2025 23:45:52 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Wed, 19 Feb 2025 23:45:52 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05",
        "x-ms-version-id": "2025-02-19T23:45:52.2718241Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-1485da30-a5cc-d647-3a22-6cfa295916ce/destFolder/folder0/folder1/test-file-2a8b0846-cf21-4378-3afc-127855b6226e",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 19 Feb 2025 23:45:54 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD513F8CC04090\"",
        "Last-Modified": "Wed, 19 Feb 2025 23:45:54 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-02-19T23:45:54.2677648Z",
        "x-ms-file-creation-time": "2025-02-19T23:45:52.0000000Z",
        "x-ms-file-id": "10376363910205800448",
        "x-ms-file-last-write-time": "2025-02-19T23:45:54.1628240Z",
        "x-ms-file-parent-id": "16140971433240035328",
        "x-ms-file-permission-key": "15442983316638046949*9146977694084461163",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-cff39657-213b-cb05-f3d9-39ad47962a57/sourceFolder/folder0/folder1/test-file-2a8b0846-cf21-4378-3afc-127855b6226e",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"0x8DD513F8B983C63\"",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD513F8B983C63\"",
        "Last-Modified": "Wed, 19 Feb 2025 23:45:52 GMT",
        "x-ms-blob-committed-block-count": "1",
        "x-ms-blob-type": "AppendBlob",
        "x-ms-creation-time": "Wed, 19 Feb 2025 23:45:52 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "[...]
[...]
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-1485da30-a5cc-d647-3a22-6cfa295916ce/destFolder/folder0/test-file-9560de9b-27cf-dcb8-36d6-b10c8d57030d",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 19 Feb 2025 23:45:55 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD513F8CD59A29\"",
        "Last-Modified": "Wed, 19 Feb 2025 23:45:54 GMT",
        "x-ms-file-attributes": "Archive",
        "x-ms-file-change-time": "2025-02-19T23:45:54.4076841Z",
        "x-ms-file-creation-time": "2025-02-19T23:45:52.0000000Z",
        "x-ms-file-id": "13835093239654252544",
        "x-ms-file-last-write-time": "2025-02-19T23:45:54.2857545Z",
        "x-ms-file-parent-id": "11529285414812647424",
        "x-ms-file-permission-key": "15442983316638046949*9146977694084461163",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-type": "File",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.file.core.windows.net/test-share-1485da30-a5cc-d647-3a22-6cfa295916ce?restype=share",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 19 Feb 2025 23:45:55 GMT",
        "x-ms-delete-snapshots": "include",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-cff39657-213b-cb05-f3d9-39ad47962a57?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2025-02-19T15:45:52.4012743-08:00",
    "RandomSeed": "1164480824",
    "Storage_TestConfigDefault": "ProductionTenant\njalauzonnettest\nU2FuaXRpemVk\nhttps://jalauzonnettest.blob.core.windows.net\nhttps://jalauzonnettest.file.core.windows.net\nhttps://jalauzonnettest.queue.core.windows.net\nhttps://jalauzonnettest.table.core.windows.net\n\n\n\n\nhttps://jalauzonnettest-secondary.blob.core.windows.net\nhttps://jalauzonnettest-secondary.file.core.windows.net\nhttps://jalauzonnettest-secondary.queue.core.windows.net\nhttps://jalauzonnettest-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://jalauzonnettest.blob.core.windows.net/;QueueEndpoint=https://jalauzonnettest.queue.core.windows.net/;FileEndpoint=https://jalauzonnettest.file.core.windows.net/;BlobSecondaryEndpoint=https://jalauzonnettest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jalauzonnettest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jalauzonnettest-secondary.file.core.windows.net/;AccountName=jalauzonnettest;AccountKey=U2FuaXRpemVk\ntestscope1\n\n"
  }
}
