{
  "Entries": [
    {
      "RequestUri": "https://eastus2euap.management.azure.com/subscriptions/7f8ff610-b2de-4514-ac87-a10a1497f9a1?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "0",
        "x-ms-throttling-version": "v2"
      },
      "ResponseBody": {
        "id": "/subscriptions/7f8ff610-b2de-4514-ac87-a10a1497f9a1",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "tags": {
          "Az.Sec.AnonymousBlobEnforcement::OptIn": "all_regions",
          "ExemptSubFromPublicNetworkAccessPolicy": "true",
          "ExemptSubFromDeletionProtectionPolicy": "true",
          "Az.Sec.DisableLocalAuth.SqlManagedInstance::OptIn": "all_regions",
          "Az.Sec.DisableLocalAuth.SqlServer.V2::OptIn": "all_regions"
        },
        "subscriptionId": "7f8ff610-b2de-4514-ac87-a10a1497f9a1",
        "tenantId": "00000000-0000-0000-0000-000000000000",
        "displayName": "mfs-customerdata-canary-stable-day100-sub",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://eastus2euap.management.azure.com/subscriptions/7f8ff610-b2de-4514-ac87-a10a1497f9a1/providers/Microsoft.FileShares/locations/eastus2euap/getUsageData?api-version=2026-06-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "0",
        "x-ms-throttling-version": "v2"
      },
      "ResponseBody": {
        "properties": {
          "liveShares": {
            "fileShareCount": 592
          }
        }
      }
    }
  ],
  "Variables": {
    "RandomSeed": "655740662",
    "RESOURCE_MANAGER_URL": "https://eastus2euap.management.azure.com",
    "SERVICE_MANAGEMENT_URL": "https://management.azure.com",
    "SUBSCRIPTION_ID": "7f8ff610-b2de-4514-ac87-a10a1497f9a1"
  }
}
