{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/models?api-version=2023-08-01-preview&listViewType=ActiveOnly",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "azureml-served-by-cluster": "vienna-eastus2-02",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "3748",
        "x-ms-ratelimit-remaining-subscription-reads": "248",
        "x-ms-response-type": "standard",
        "x-request-time": "0.059"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/models/test_913354502336",
            "name": "test_913354502336",
            "type": "Microsoft.MachineLearningServices/workspaces/models",
            "properties": {
              "description": null,
              "tags": {},
              "properties": {},
              "isArchived": false,
              "latestVersion": "3",
              "nextVersion": "4",
              "provisioningState": "Succeeded"
            },
            "systemData": {
              "createdAt": "2026-03-26T18:01:03.0151923+00:00",
              "createdBy": "Sanitized",
              "createdByType": "User",
              "lastModifiedAt": "2026-03-26T18:01:03.0151923+00:00",
              "lastModifiedBy": "Sanitized",
              "lastModifiedByType": "User"
            }
          },
          {
            "id": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/models/test_813995235970",
            "name": "test_813995235970",
            "type": "Microsoft.MachineLearningServices/workspaces/models",
            "properties": {
              "description": null,
              "tags": {},
              "properties": {},
              "isArchived": false,
    [...]
