{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores/workspaceblobstore?api-version=2023-04-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-eastus-02",
        "x-ms-ratelimit-remaining-subscription-reads": "11999",
        "x-ms-response-type": "standard",
        "x-request-time": "0.361"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores/workspaceblobstore",
        "name": "workspaceblobstore",
        "type": "Microsoft.MachineLearningServices/workspaces/datastores",
        "properties": {
          "description": null,
          "tags": null,
          "properties": null,
          "isDefault": true,
          "credentials": {
            "credentialsType": "AccountKey"
          },
          "intellectualProperty": null,
          "subscriptionId": "00000000-0000-0000-0000-000000000",
          "resourceGroup": "00000",
          "datastoreType": "AzureBlob",
          "accountName": "amlsdkv2storage55b18b15e",
          "containerName": "azureml-blobstore-c0378389-c4c4-48a0-8506-160915f17d2d",
          "endpoint": "core.windows.net",
          "protocol": "https",
          "serviceDataAccessAuthIdentity": "WorkspaceSystemAssignedIdentity"
        },
        "systemData": {
          "createdAt": "2023-09-29T00:28:46.5007105\u002B00:00",
          "createdBy": "779301c0-18b2-4cdc-801b-a0a3368fee0a",
          "createdByType": "Application",
          "lastModifiedAt": "2023-09-29T00:28:47.1047233\u002B00:00",
          "lastModifiedBy": "779301c0-18b2-4cdc-801b-a0a3368fee0a",
          "lastModifiedByType": "Application"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/datastores/workspaceblobstore/listSecrets?api-version=2023-04-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-eastus-02",
        "x-ms-ratelimit-remaining-subscription-writes": "1199",
        "x-ms-response-type": "standard",
        "x-request-time": "0.161"
      },
      "ResponseBody": {
        "secretsType": "AccountKey",
        "key": "dGhpcyBpcyBmYWtlIGtleQ=="
      }
    },
    {
      "RequestUri": "https://amlsdkv2storage55b18b15e.blob.core.windows.net/azureml-blobstore-c0378389-c4c4-48a0-8506-160915f17d2d/LocalUpload/00000000000000000000000000000000/lightgbm_mlflow_model/MLmodel",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-date": "Tue, 17 Oct 2023 17:23:31 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "SXM6GanAE5OzFF879QsKaQ==",
        "Content-Type": "application/octet-stream",
        "ETag": "\u00220x8DBCEB3D38D59D3\u0022",
        "Last-Modified": "Tue, 17 Oct 2023 01:53:14 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 17 Oct 2023 01:53:14 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-name": "test_254921572954",
        "x-ms-meta-upload_status": "completed",
        "x-ms-meta-version": "3",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amlsdkv2storage55b18b15e.blob.core.windows.net/azureml-blobstore-c0378389-c4c4-48a0-8506-160915f17d2d/az-ml-artifacts/00000000000000000000000000000000/lightgbm_mlflow_model/MLmodel",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-date": "Tue, 17 Oct 2023 17:23:31 GMT",
        "x-ms-version": "2021-08-06"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "x-ms-error-code": "BlobNotFound",
        "x-ms-version": "2021-08-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/models/test_650450650075/versions/3?api-version=2023-08-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "description": "this is my test model with stage",
          "properties": {},
          "tags": {
            "foo": "bar",
            "abc": "123"
          },
          "isAnonymous": false,
          "isArchived": false,
          "flavors": {
            "sklearn": {
              "data": {
                "sklearn_version": "0.23.2"
              }
            },
            "python_function": {
              "data": {
                "loader_module": "office.plrmodel",
                "python_version": "3.8.5"
              }
            }
          },
          "modelType": "mlflow_model",
          "modelUri": "azureml://subscriptions/00000000-0000-0000-0000-000000000/resourcegroups/00000/workspaces/00000/datastores/workspaceblobstore/paths/LocalUpload/00000000000000000000000000000000/lightgbm_mlflow_model",
          "stage": "Production"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/models/test_650450650075/versions/3?api-version=2023-08-01-preview\u0026t=638331602165046837\u0026c=MIIHADCCBeigAwIBAgITHgMjMN6vpcEQg2_WbgAAAyMw3jANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDYwHhcNMjMwODAzMDczNjQzWhcNMjQwNzI4MDczNjQzWjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnN[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/models/test_650450650075/versions/3?api-version=2023-08-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-eastus-02",
        "x-ms-ratelimit-remaining-subscription-reads": "11998",
        "x-ms-response-type": "standard",
        "x-request-time": "0.302"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/models/test_650450650075/versions/3",
        "name": "3",
        "type": "Microsoft.MachineLearningServices/workspaces/models/versions",
        "properties": {
          "description": "this is my test model with stage",
          "tags": {
            "foo": "bar",
            "abc": "123"
          },
          "properties": {},
          "isArchived": false,
          "isAnonymous": false,
          "autoDeleteSetting": null,
          "flavors": {
            "sklearn": {
              "data": {
                "sklearn_version": "0.23.2"
              }
            },
            "python_function": {
              "data": {
                "loader_module": "office.plrmodel",
                "python_version": "3.8.5"
              }
            }
          },
          "modelType": "mlflow_model",
          "modelUri": "azureml://subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/workspaces/00000/datastores/workspaceblobstore/paths/LocalUpload/00000000000000000000000000000000/lightgbm_mlflow_model",
          "jobName": null,
          "provisioningState": "Succeeded",
          "stage": "Production",
          "intellectualProperty": null
        },
        "systemData": {
          "createdAt": "2023-10-17T17:23:36.206364\u002B00:00",
          "createdBy": "Nemanja Rajic",
          "createdByType": "User",
          "lastModifiedAt": "2023-10-17T17:23:36.206364\u002B00:00",
          "lastModifiedBy": "Nemanja Rajic",
          "lastModifiedByType": "User"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/models/test_650450650075/versions?api-version=2023-08-01-preview\u0026listViewType=ActiveOnly\u0026stage=Production",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-eastus-02",
        "x-ms-ratelimit-remaining-subscription-reads": "11997",
        "x-ms-response-type": "standard",
        "x-request-time": "0.330"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/models/test_650450650075/versions/3",
            "name": "3",
            "type": "Microsoft.MachineLearningServices/workspaces/models/versions",
            "properties": {
              "description": "this is my test model with stage",
              "tags": {
                "foo": "bar",
                "abc": "123"
            [...]
