{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/models?api-version=2023-08-01-preview\u0026listViewType=ActiveOnly",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-aml-cluster": "vienna-eastus2-02",
        "x-ms-ratelimit-remaining-subscription-reads": "11997",
        "x-ms-response-type": "standard",
        "x-request-time": "0.109"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/models/azureml_HD_4de447af-9a20-4988-ae01-e6c1adde1357_0_output_trained_model_dir",
            "name": "azureml_HD_4de447af-9a20-4988-ae01-e6c1adde1357_0_output_trained_model_dir",
            "type": "Microsoft.MachineLearningServices/workspaces/models",
            "properties": {
              "description": null,
              "tags": {},
              "properties": {},
              "isArchived": false,
              "latestVersion": null,
              "nextVersion": "1",
              "provisioningState": "Succeeded"
            },
            "systemData": {
              "createdAt": "2023-05-30T13:46:34.0444528\u002B00:00",
              "createdBy": "Chenyang Zhang",
              "createdByType": "User",
              "lastModifiedAt": "2023-05-30T13:46:34.0444528\u002B00:00",
              "lastModifiedBy": "Chenyang Zhang",
              "lastModifiedByType": "User"
            }
          },
          {
            "id": "/subscriptions/00000000-0000-0000-0000-000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/models/azureml_HD_4de447af-9a20-4988-ae01-e6c1adde1357_1_output_trained_model_dir",
            "name": "azureml_HD_4de447af-9a20-4988-ae01-e6c1adde1357_1_output_trained_model_dir",
            "type": "Microsoft.MachineLearningServices/workspaces/models",
            "properties": {
          [...]
