{
  "Entries": [
    {
      "RequestUri": "https://dummyaccount.eastus.batch.azure.com/pools?api-version=2025-06-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json; odata=minimalmetadata"
      },
      "RequestBody": {
        "id": "jssdkbyospool7b8c",
        "vmSize": "STANDARD_D2_V3",
        "virtualMachineConfiguration": {
          "imageReference": {
            "publisher": "MicrosoftWindowsServer",
            "offer": "WindowsServer",
            "sku": "2022-Datacenter-smalldisk",
            "version": "latest"
          },
          "nodeAgentSKUId": "batch.node.windows amd64",
          "osDisk": {
            "managedDisk": {
              "diskEncryptionSet": {
                "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/dummy-rg/providers/Microsoft.Compute/diskEncryptionSets/dummy-des"
              }
            }
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "DataServiceId": "https://dummyaccount.eastus.batch.azure.com/pools/jssdkbyospool7b8c",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DE5931011F3C7C",
        "Last-Modified": "Wed, 21 Jan 2026 21:06:54 GMT",
        "Location": "https://dummyaccount.eastus.batch.azure.com/pools/jssdkbyospool7b8c"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://dummyaccount.eastus.batch.azure.com/pools/jssdkbyospool7b8c?api-version=2025-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; odata=minimalmetadata",
        "DataServiceVersion": "3.0",
        "ETag": "0x8DE5931011F3C7C",
        "Last-Modified": "Wed, 21 Jan 2026 21:06:54 GMT"
      },
      "ResponseBody": {
        "odata.metadata": "https://dummyaccount.eastus.batch.azure.com/$metadata#pools/@Element",
        "id": "jssdkbyospool7b8c",
        "url": "https://dummyaccount.eastus.batch.azure.com/pools/jssdkbyospool7b8c",
        "eTag": "0x8DE5931011F3C7C",
        "lastModified": "2026-01-21T21:06:54.0283004Z",
        "creationTime": "2026-01-21T21:06:54.0282998Z",
        "state": "active",
        "stateTransitionTime": "2026-01-21T21:06:54.0282998Z",
        "allocationState": "resizing",
        "allocationStateTransitionTime": "2026-01-21T21:06:54.0283004Z",
        "vmSize": "standard_d2_v3",
        "resizeTimeout": "PT15M",
        "currentDedicatedNodes": 0,
        "targetDedicatedNodes": 0,
        "currentLowPriorityNodes": 0,
        "targetLowPriorityNodes": 0,
        "enableAutoScale": false,
        "enableInterNodeCommunication": false,
        "taskSlotsPerNode": 1,
        "taskSchedulingPolicy": {
          "nodeFillType": "Spread",
          "jobDefaultOrder": "none"
        },
        "virtualMachineConfiguration": {
          "imageReference": {
            "publisher": "MicrosoftWindowsServer",
            "offer": "WindowsServer",
            "sku": "2022-Datacenter-smalldisk",
            "version": "latest"
          },
          "osDisk": {
            "ephemeralOSDiskSettings": {},
            "managedDisk": {
              "storageAccountType": "standard_lrs",
              "diskEncryptionSet": {
                "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/dummy-rg/providers/Microsoft.Compute/diskEncryptionSets/dummy-des"
              }
            },
            "caching": "None"
          },
          "nodeAgentSKUId": "batch.node.windows amd64"
        }
      }
    }
  ],
  "Variables": {
    "BYOS_POOL_ID": "jssdkbyospool7b8c"
  }
}
