{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/e3853e83-0d02-4fb3-b88f-05b5fd21aee2?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11999",
        "x-ms-throttling-version": "v1"
      },
      "ResponseBody": {
        "id": "/subscriptions/e3853e83-0d02-4fb3-b88f-05b5fd21aee2",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "subscriptionId": "e3853e83-0d02-4fb3-b88f-05b5fd21aee2",
        "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",
        "displayName": "Liftr-Nginx-Test",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/e3853e83-0d02-4fb3-b88f-05b5fd21aee2/resourcegroups/Default-Nginx-9678?api-version=2022-09-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westcentralus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1199",
        "x-ms-throttling-version": "v1"
      },
      "ResponseBody": {
        "id": "/subscriptions/e3853e83-0d02-4fb3-b88f-05b5fd21aee2/resourceGroups/Default-Nginx-9678",
        "name": "Default-Nginx-9678",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "westcentralus",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/e3853e83-0d02-4fb3-b88f-05b5fd21aee2/resourceGroups/Default-Nginx-9678/providers/Microsoft.Network/publicIPAddresses/testPublicIP-9926?api-version=**",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "sku": {
          "name": "Standard"
        },
        "location": "westcentralus",
        "properties": {
          "publicIPAllocationMethod": "Static",
          "publicIPAddressVersion": "IPv4"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncNotification": "Enabled",
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/e3853e83-0d02-4fb3-b88f-05b5fd21aee2/providers/Microsoft.Network/locations/westcentralus/operations/b2d30217-0e3b-4ccd-a7e4-be593dd786f6?api-version=2023-05-01&t=638514105696257123&c=MIIHhzCCBm-gAwIBAgITHgSByWw1Ed_Zii__gAAABIHJbDANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDYwHhcNMjQwNTA5MDgzNDM1WhcNMjUwNTA0MDgzNDM1WjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ25pbmdjZXJ0aWZpY2F0ZS5tYW5hZ2Vt[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/e3853e83-0d02-4fb3-b88f-05b5fd21aee2/providers/Microsoft.Network/locations/westcentralus/operations/b2d30217-0e3b-4ccd-a7e4-be593dd786f6?api-version=**&t=638514105696257123&c=MIIHhzCCBm-gAwIBAgITHgSByWw1Ed_Zii__gAAABIHJbDANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDYwHhcNMjQwNTA5MDgzNDM1WhcNMjUwNTA0MDgzNDM1WjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ25pbmdjZXJ0aWZ[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/e3853e83-0d02-4fb3-b88f-05b5fd21aee2/resourceGroups/Default-Nginx-9678/providers/Microsoft.Network/publicIPAddresses/testPublicIP-9926?api-version=**",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\"e6af2ca9-3101-41a4-be44-f3e6649399de\"",
        "x-ms-ratelimit-remaining-subscription-reads": "11998",
        "x-ms-throttling-version": "v1"
      },
      "ResponseBody": {
        "name": "testPublicIP-9926",
        "id": "/subscriptions/e3853e83-0d02-4fb3-b88f-05b5fd21aee2/resourceGroups/Default-Nginx-9678/providers/Microsoft.Network/publicIPAddresses/testPublicIP-9926",
        "etag": "W/\"e6af2ca9-3101-41a4-be44-f3e6649399de\"",
        "location": "westcentralus",
        "properties": {
          "provisioningState": "Succeeded",
          "resourceGuid": "d6f86c19-925f-4293-9bdc-1b88fdf28188",
          "ipAddress": "4.255.188.102",
          "publicIPAddressVersion": "IPv4",
          "publicIPAllocationMethod": "Static",
          "idleTimeoutInMinutes": 4,
          "ipTags": [],
          "ddosSettings": {
            "protectionMode": "VirtualNetworkInherited"
          }
        },
        "type": "Microsoft.Network/publicIPAddresses",
        "sku": {
          "name": "Standard",
          "tier": "Regional"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/e3853e83-0d02-4fb3-b88f-05b5fd21aee2/resourceGroups/Default-Nginx-9678/providers/Microsoft.Network/networkSecurityGroups/testNSG-2082?api-version=**",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westcentralus",
        "properties": {
          "securityRules": [
            {
              "name": "http",
              "properties": {
                "protocol": "*",
                "sourcePortRange": "*",
                "sourceAddressPrefix": "*",
                "destinationAddressPrefix": "*",
                "destinationPortRanges": [
                  "80"
                ],
                "access": "Allow",
                "priority": 100,
                "direction": "Inbound"
              }
            },
            {
              "name": "NRMS-Rule-103",
              "properties": {
                "description": "Created by Azure Core Security managed policy, rule can be deleted but do not change source ips, please see aka.ms/cainsgpolicy",
                "protocol": "*",
                "sourcePortRange": "*",
                "destinationPortRange": "*",
                "sourceAddressPrefix": "CorpNetPublic",
                "destinationAddressPrefix": "*",
                "access": "Allow",
                "priority": 103,
                "direction": "Inbound"
              }
            }
          ]
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncNotification": "Enabled",
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/e3853e83-0d02-4fb3-b88f-05b5fd21aee2/providers/[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/e3853e83-0d02-4fb3-b88f-05b5fd21aee2/providers/Microsoft.Network/locations/westcentralus/operations/5abfdf2e-8274-45ee-9b49-0a885d71acc4?api-version=**&t=638514105712425015&c=MIIHhzCCBm-gAwIBAgITHgSByWw1Ed_Zii__gAAABIHJbDANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDYwHhcNMjQwNTA5MDgzNDM1WhcNMjUwNTA0MDgzNDM1WjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ25pbmdjZXJ0aWZ[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/e3853e83-0d02-4fb3-b88f-05b5fd21aee2/resourceGroups/Default-Nginx-9678/providers/Microsoft.Network/virtualNetworks/testVNet-971?api-version=**",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westcentralus",
        "properties": {
          "addressSpace": {
            "addressPrefixes": [
              "10.0.0.0/16"
            ]
          },
          "subnets": [
            {
              "name": "testSubnet-2510",
              "properties": {
                "addressPrefix": "10.0.2.0/24",
                "networkSecurityGroup": {
                  "id": "/subscriptions/e3853e83-0d02-4fb3-b88f-05b5fd21aee2/resourceGroups/Default-Nginx-9678/providers/Microsoft.Network/networkSecurityGroups/testNSG-2082",
                  "location": "westcentralus",
                  "properties": {
                    "securityRules": [
                      {
                        "id": "/subscriptions/e3853e83-0d02-4fb3-b88f-05b5fd21aee2/resourceGroups/Default-Nginx-9678/providers/Microsoft.Network/networkSecurityGroups/testNSG-2082/securityRules/http",
                        "name": "http",
                        "type": "Microsoft.Network/networkSecurityGroups/securityRules",
                        "properties": {
                          "protocol": "*",
                          "sourcePortRange": "*",
                          "sourceAddressPrefix": "*",
                          "sourceAddressPrefixes": [],
                          "destinationAddressPrefix": "*",
                          "destinationAddressPrefixes": [],
                          "sourcePortRanges": [],
                          "destinationPortRanges": [
                            "80"
                          ],
                          "access": "Allow",
                          "priority": 100,
                          "direction": "Inbound"
                        }
                      },
                      {
                        "id": "/subscriptions/e3853e83-0d02-4fb3-b88f-05b5fd21aee2/resourceGroups/Default-Nginx-9678/providers/Microsoft.Network/networkSecurityGroups/t[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/e3853e83-0d02-4fb3-b88f-05b5fd21aee2/providers/Microsoft.Network/locations/westcentralus/operations/9030a9e6-337d-493d-bd78-95cd485074a5?api-version=**&t=638514105728757636&c=MIIHhzCCBm-gAwIBAgITHgSByWw1Ed_Zii__gAAABIHJbDANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDYwHhcNMjQwNTA5MDgzNDM1WhcNMjUwNTA0MDgzNDM1WjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ25pbmdjZXJ0aWZ[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/e3853e83-0d02-4fb3-b88f-05b5fd21aee2/resourceGroups/Default-Nginx-9678/providers/Nginx.NginxPlus/nginxDeployments/testDeployment-7565?api-version=2024-01-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "identity": {
          "type": "UserAssigned",
          "userAssignedIdentities": {
            "/subscriptions/e3853e83-0d02-4fb3-b88f-05b5fd21aee2/resourcegroups/synthetics-integration-tests/providers/Microsoft.ManagedIdentity/userAssignedIdentities/integration-tests-mi": {}
          }
        },
        "properties": {
          "networkProfile": {
            "frontEndIPConfiguration": {
              "publicIPAddresses": [
                {
                  "id": "/subscriptions/e3853e83-0d02-4fb3-b88f-05b5fd21aee2/resourceGroups/Default-Nginx-9678/providers/Microsoft.Network/publicIPAddresses/testPublicIP-9926"
                }
              ]
            },
            "networkInterfaceConfiguration": {
              "subnetId": "/subscriptions/e3853e83-0d02-4fb3-b88f-05b5fd21aee2/resourceGroups/Default-Nginx-9678/providers/Microsoft.Network/virtualNetworks/testVNet-971/subnets/testSubnet-2510"
            }
          },
          "enableDiagnosticsSupport": true,
          "scalingProperties": {
            "capacity": 10,
            "autoScaleSettings": {
              "profiles": []
            }
          },
          "autoUpgradeProfile": {
            "upgradeChannel": "preview"
          },
          "userProfile": {
            "preferredEmail": "test@mail.com"
          }
        },
        "sku": {
          "name": "standard_Monthly"
        },
        "tags": {},
        "location": "westcentralus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/providers/Nginx.NginxPlus/locations/WESTCENTRALUS/operationStatuses/21170d9f-8f2c-4cd0-a217-3835ab9adc19*E4F08B12BA8637D69741A11E6F844F3EA70887816DD13DEEFEEBA002076CC4C9?api-version=2024-01-01-preview&t=638514105867089615&c=MIIHhzCCBm-gAwIBAgITHgSByWw1Ed_Zii__gAAABIHJbDANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPy[...]
    {
      "RequestUri": "https://management.azure.com/providers/Nginx.NginxPlus/locations/WESTCENTRALUS/operationStatuses/21170d9f-8f2c-4cd0-a217-3835ab9adc19*E4F08B12BA8637D69741A11E6F844F3EA70887816DD13DEEFEEBA002076CC4C9?api-version=2024-01-01-preview&t=638514105867089615&c=MIIHhzCCBm-gAwIBAgITHgSByWw1Ed_Zii__gAAABIHJbDANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDYwHhcNMjQwNTA5MDgzNDM1WhcNMjUwNTA0MDgzNDM1WjBAMT4wPAYDVQQDEzVh[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/e3853e83-0d02-4fb3-b88f-05b5fd21aee2/resourceGroups/Default-Nginx-9678/providers/Nginx.NginxPlus/nginxDeployments/testDeployment-7565?api-version=2024-01-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\"2200c901-0000-0200-0000-66453e030000\"",
        "mise-correlation-id": "7d0726a6-4937-40ec-bdec-091ff617ae9e",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-reads": "11999",
        "x-ms-throttling-version": "v1"
      },
      "ResponseBody": {
        "id": "/subscriptions/e3853e83-0d02-4fb3-b88f-05b5fd21aee2/resourceGroups/Default-Nginx-9678/providers/Nginx.NginxPlus/nginxDeployments/testDeployment-7565",
        "name": "testDeployment-7565",
        "type": "nginx.nginxplus/nginxdeployments",
        "sku": {
          "name": "standard_Monthly"
        },
        "location": "westcentralus",
        "tags": {},
        "systemData": {
          "createdBy": "jamesfan@microsoft.com",
          "createdByType": "User",
          "createdAt": "2024-05-15T22:56:24.6308177Z",
          "lastModifiedBy": "jamesfan@microsoft.com",
          "lastModifiedByType": "User",
          "lastModifiedAt": "2024-05-15T22:56:24.6308177Z"
        },
        "identity": {
          "type": "UserAssigned",
          "userAssignedIdentities": {
            "/subscriptions/e3853e83-0d02-4fb3-b88f-05b5fd21aee2/resourcegroups/synthetics-integration-tests/providers/Microsoft.ManagedIdentity/userAssignedIdentities/integration-tests-mi": {
              "principalId": "Sanitized",
              "clientId": "Sanitized"
            }
          }
        },
        "properties": {
          "provisioningState": "Succeeded",
          "nginxVersion": "1.25.3 (nginx-plus-r31-p1)",
          "managedResourceGroup": "NGX_Default-Nginx-9678_testDeployment-7565_westcentralus",
          "ipAddress": "4.255.188.102",
          "networkProfile": {
            "frontEndIPConfiguration": {
              "publicIPAddresses": [
                {
                  "id": "/subscriptions/e3853e83-0d02-4fb3-b88f-05b5fd21aee2/resourceGroups/Default-Nginx-9678/providers/Microsoft.Network/publicIPAddresses/testPublicIP-9926"
                }
              ]
            },
            "networkInterfaceConfiguration": {
              "subnetId": "/subscriptions/e3853e83-0d02-4fb3-b88f-05b5fd21aee2/resourceGroups/Default-Nginx-9678/providers/Microsoft.Network/virtualNetworks/testVNet-971/subnets/testSubnet-2510"
            }
          },
          "enableDiagnosticsSupport": true,
          "scalingProperties": {
            "capacity": 10,
            "autoScaleSettings": {
              "profiles": []
            }
          },
          "userProfile": {
            "preferredEmail": "test@mail.com"
          },
          "autoUpgradeProfile": {
            "upgradeChannel": "preview"
          }
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/e3853e83-0d02-4fb3-b88f-05b5fd21aee2/resourceGroups/Default-Nginx-9678/providers/Nginx.NginxPlus/nginxDeployments/testDeployment-7565/certificates/testcertificate-3240?api-version=2024-01-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "keyVirtualPath": "/etc/nginx/nginx.key",
          "certificateVirtualPath": "/etc/nginx/nginx.cert",
          "keyVaultSecretId": "https://integration-tests-kv.vault.azure.net/secrets/intcert"
        },
        "location": "westcentralus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/providers/Nginx.NginxPlus/locations/WESTCENTRALUS/operationStatuses/ca20af4c-9005-4ff5-8dad-5b3e0df0868d*CA23602351A7D1E222F9011C2EF0332F311AB6872BB8C192F2442D1BC0600BA3?api-version=2024-01-01-preview&t=638514107189138559&c=MIIHhzCCBm-gAwIBAgITHgSByWw1Ed_Zii__gAAABI[...]
    {
      "RequestUri": "https://management.azure.com/providers/Nginx.NginxPlus/locations/WESTCENTRALUS/operationStatuses/ca20af4c-9005-4ff5-8dad-5b3e0df0868d*CA23602351A7D1E222F9011C2EF0332F311AB6872BB8C192F2442D1BC0600BA3?api-version=2024-01-01-preview&t=638514107189138559&c=MIIHhzCCBm-gAwIBAgITHgSByWw1Ed_Zii__gAAABIHJbDANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDYwHhcNMjQwNTA5MDgzNDM1WhcNMjUwNTA0MDgzNDM1WjBAMT4wPAYDVQQDEzVh[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/e3853e83-0d02-4fb3-b88f-05b5fd21aee2/resourceGroups/Default-Nginx-9678/providers/Nginx.NginxPlus/nginxDeployments/testDeployment-7565/certificates/testcertificate-3240?api-version=2024-01-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "a1ee71fe-1f77-4900-b240-410fe1c28f6d",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-reads": "11998",
        "x-ms-throttling-version": "v1"
      },
      "ResponseBody": {
        "id": "/subscriptions/e3853e83-0d02-4fb3-b88f-05b5fd21aee2/resourceGroups/default-nginx-9678/providers/NGINX.NGINXPLUS/nginxDeployments/testdeployment-7565/certificates/testcertificate-3240",
        "name": "testcertificate-3240",
        "type": "nginx.nginxplus/nginxdeployments/certificates",
        "properties": {
          "provisioningState": "Succeeded",
          "keyVirtualPath": "/etc/nginx/nginx.key",
          "certificateVirtualPath": "/etc/nginx/nginx.cert",
          "keyVaultSecretId": "https://integration-tests-kv.vault.azure.net/secrets/intcert",
          "certificateError": {
            "code": null,
            "message": null
          },
          "sha1Thumbprint": "D663C298A2B307E90A451CE379274BBB0DB8B930",
          "keyVaultSecretVersion": "bf066594634140c7b3947f913c7ed162",
          "keyVaultSecretCreated": "2022-04-12T14:49:26+00:00"
        }
      }
    }
  ],
  "Variables": {
    "KeyVaultSecretId": "https://integration-tests-kv.vault.azure.net/secrets/intcert",
    "ManagedIdentityResourceID": "/subscriptions/e3853e83-0d02-4fb3-b88f-05b5fd21aee2/resourcegroups/synthetics-integration-tests/providers/Microsoft.ManagedIdentity/userAssignedIdentities/integration-tests-mi",
    "RandomSeed": "366245170",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "e3853e83-0d02-4fb3-b88f-05b5fd21aee2"
  }
}
