{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11999"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "tags": {
          "TagKey-9823": "TagValue-1254",
          "TagKey-3481": "TagValue-320",
          "TagKey-4926": "TagValue-1187",
          "TagKey-751": "TagValue-3921",
          "TagKey-1866": "TagValue-8559",
          "TagKey-3094": "TagValue-9190",
          "TagKey-2449": "TagValue-9",
          "TagKey-8379": "TagValue-164",
          "TagKey-7470": "TagValue-2205",
          "TagKey-4236": "TagValue-3698",
          "TagKey-5316": "TagValue-2725"
        },
        "subscriptionId": "db1ab6f0-4769-4b27-930e-01e2ef9c123c",
        "tenantId": "00000000-0000-0000-0000-000000000000",
        "displayName": ".NET Mgmt SDK Test with TTL = 1 Day",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourcegroups/testeventhubRG-5004?api-version=2022-09-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {
          "test": "env"
        },
        "location": "eastus2"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testeventhubRG-5004",
        "name": "testeventhubRG-5004",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "eastus2",
        "tags": {
          "test": "env"
        },
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/providers/Microsoft.EventHub/checkNameAvailability?api-version=2024-01-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "name": "testnamespacemgmt6854"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Server-SB": "Service-Bus-Resource-Provider/SN1",
        "x-ms-ratelimit-remaining-subscription-reads": "11999"
      },
      "ResponseBody": {
        "nameAvailable": true,
        "reason": "None",
        "message": null
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testeventhubRG-5004/providers/Microsoft.EventHub/namespaces/testnamespacemgmt6854?api-version=2024-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus2",
        "properties": {}
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-messaging-activity-id": "ec6ad89c-9ab6-4127-8841-8ec28547b2aa",
        "x-ms-messaging-routing-id": "EASTUS2|EASTUS2|G13|2024-09-24T08:26:58",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "49"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testeventhubRG-5004/providers/Microsoft.EventHub/namespaces/testnamespacemgmt6854",
        "name": "testnamespacemgmt6854",
        "type": "Microsoft.EventHub/Namespaces",
        "location": "eastus2",
        "tags": {},
        "properties": {
          "geoDataReplication": {
            "maxReplicationLagDurationInSeconds": 0,
            "locations": [
              {
                "locationName": "eastus2",
                "roleType": "Primary",
                "replicaState": "InBuild"
              }
            ]
          },
          "minimumTlsVersion": "1.2",
          "publicNetworkAccess": "Enabled",
          "disableLocalAuth": false,
          "zoneRedundant": false,
          "metricId": "db1ab6f0-4769-4b27-930e-01e2ef9c123c:testnamespacemgmt6854",
          "serviceBusEndpoint": "https://testnamespacemgmt6854.servicebus.windows.net:443/",
          "isAutoInflateEnabled": false,
          "maximumThroughputUnits": 0,
          "kafkaEnabled": true,
          "provisioningState": "Creating",
          "status": "Creating",
          "createdAt": "2024-09-24T08:26:58.4935313Z",
          "updatedAt": "2024-09-24T08:26:58.4935313Z"
        },
        "sku": {
          "name": "Standard",
          "tier": "Standard",
          "capacity": 1
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testeventhubRG-5004/providers/Microsoft.EventHub/namespaces/testnamespacemgmt6854/eventhubs/eventhub4218?api-version=2024-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-messaging-activity-id": "44f297b3-1bd2-4ce6-9f2a-19036f219d9e",
        "x-ms-messaging-routing-id": "EASTUS2|EASTUS2|G1|2024-09-24T08:27:40",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testeventhubRG-5004/providers/Microsoft.EventHub/namespaces/testnamespacemgmt6854/eventhubs/eventhub4218",
        "name": "eventhub4218",
        "type": "Microsoft.EventHub/namespaces/eventhubs",
        "location": "eastus2",
        "properties": {
          "retentionDescription": {
            "cleanupPolicy": "Delete",
            "retentionTimeInHours": 168
          },
          "messageRetentionInDays": 7,
          "partitionCount": 4,
          "status": "Active",
          "createdAt": "2024-09-24T08:27:39.637Z",
          "updatedAt": "2024-09-24T08:27:39.953Z",
          "partitionIds": [
            "0",
            "1",
            "2",
            "3"
          ]
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testeventhubRG-5004/providers/Microsoft.EventHub/namespaces/testnamespacemgmt6854/eventhubs/eventhub4218/consumergroups/testconsumergroup7798?api-version=2024-01-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {}
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-messaging-activity-id": "cd9987ca-6f3d-40e0-a068-551b4e68f678",
        "x-ms-messaging-routing-id": "EASTUS2|EASTUS2|G7|2024-09-24T08:27:43",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": {
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testeventhubRG-5004/providers/Microsoft.EventHub/namespaces/testnamespacemgmt6854/eventhubs/eventhub4218/consumergroups/testconsumergroup7798",
        "name": "testconsumergroup7798",
        "type": "Microsoft.EventHub/namespaces/eventhubs/consumergroups",
        "location": "eastus2",
        "properties": {
          "createdAt": "2024-09-24T08:27:42.8453733Z",
          "updatedAt": "2024-09-24T08:27:42.8453733Z"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testeventhubRG-5004/providers/Microsoft.EventHub/namespaces/testnamespacemgmt6854/eventhubs/eventhub4218/consumergroups/testconsumergroup7798?api-version=2024-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-messaging-activity-id": "9837548a-e878-42ea-ae96-4a7838568da7",
        "x-ms-messaging-routing-id": "EASTUS2|EASTUS2|G1|2024-09-24T08:27:47",
        "x-ms-ratelimit-remaining-subscription-reads": "11999"
      },
      "ResponseBody": {
        "error": {
          "code": "ConsumerGroupNotFound",
          "message": "Consumer Group does not exist"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/testeventhubRG-5004/providers/Microsoft.EventHub/namespaces/testnamespacemgmt6854/eventhubs/eventhub4218/consumergroups/testconsumergroup7798?api-version=2024-01-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-messaging-activity-id": "c16927c3-ccfb-4d9f-b8cb-7752903fbb8c",
        "x-ms-messaging-routing-id": "EASTUS2|EASTUS2|G3|2024-09-24T08:27:48",
        "x-ms-ratelimit-remaining-subscription-reads": "11999"
      },
      "ResponseBody": {
        "error": {
          "code": "ConsumerGroupNotFound",
          "message": "Consumer Group does not exist"
        }
      }
    }
  ],
  "Variables": {
    "RandomSeed": "543115160",
    "RESOURCE_MANAGER_URL": "https://management.azure.com/",
    "SUBSCRIPTION_ID": "db1ab6f0-4769-4b27-930e-01e2ef9c123c"
  }
}
