{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/mfstest-prod-eastus2euap-crud-2026-06-01-rg/providers/Microsoft.FileShares/fileShares/missing-56f5966474?api-version=2026-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-failure-cause": "gateway"
      },
      "ResponseBody": {
        "error": {
          "code": "ResourceNotFound",
          "message": "The Resource 'Microsoft.FileShares/fileShares/missing-56f5966474' under resource group 'mfstest-prod-eastus2euap-crud-2026-06-01-rg' was not found. For more details please go to https://aka.ms/ARMResourceNotFoundFix"
        }
      }
    }
  ],
  "Variables": {
    "share_name": "missing-56f5966474"
  }
}
