{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/mfstest-prod-eastus2euap-crud-2026-06-01-rg/providers/Microsoft.FileShares/fileShares/missingparent-8afe0b3976/fileShareSnapshots/orphan-snapshot?api-version=2026-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "metadata": {}
        }
      },
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-failure-cause": "gateway"
      },
      "ResponseBody": {
        "error": {
          "code": "ParentResourceNotFound",
          "message": "Failed to perform 'write' on resource(s) of type 'fileShares/fileShareSnapshots', because the parent resource '/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/mfstest-prod-eastus2euap-crud-2026-06-01-rg/providers/Microsoft.FileShares/fileShares/missingparent-8afe0b3976' could not be found."
        }
      }
    }
  ],
  "Variables": {
    "share_name": "missingparent-8afe0b3976"
  }
}
