{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.vault.azure.net/secrets/livekvtestsecret-namea19538a4?api-version=7.6-preview.2",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/secrets/livekvtestsecret-namea19538a4?api-version=7.6-preview.2",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "value": "secret-value",
        "attributes": {
          "exp": 2527401600
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "id": "https://vaultname.vault.azure.net/secrets/livekvtestsecret-namea19538a4/b5a98522a53d4fb8a08d2f74bdb558d0",
        "value": "secret-value",
        "attributes": {
          "enabled": true,
          "exp": 2527401600,
          "created": 1742444522,
          "updated": 1742444522,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/secrets/livekvtestsecret-namea19538a4/?api-version=7.6-preview.2",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "id": "https://vaultname.vault.azure.net/secrets/livekvtestsecret-namea19538a4/b5a98522a53d4fb8a08d2f74bdb558d0",
        "value": "secret-value",
        "attributes": {
          "enabled": true,
          "exp": 2527401600,
          "created": 1742444522,
          "updated": 1742444522,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/secrets/livekvtestsecret-namea19538a4/b5a98522a53d4fb8a08d2f74bdb558d0?api-version=7.6-preview.2",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "id": "https://vaultname.vault.azure.net/secrets/livekvtestsecret-namea19538a4/b5a98522a53d4fb8a08d2f74bdb558d0",
        "value": "secret-value",
        "attributes": {
          "enabled": true,
          "exp": 2527401600,
          "created": 1742444522,
          "updated": 1742444522,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/secrets/livekvtestsecret-namea19538a4/?api-version=7.6-preview.2",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "contentType": "text/plain",
        "tags": {
          "foo": "updated tag"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "id": "https://vaultname.vault.azure.net/secrets/livekvtestsecret-namea19538a4/b5a98522a53d4fb8a08d2f74bdb558d0",
        "contentType": "text/plain",
        "attributes": {
          "enabled": true,
          "exp": 2527401600,
          "created": 1742444522,
          "updated": 1742444522,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7
        },
        "tags": {
          "foo": "updated tag"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/secrets/livekvtestsecret-namea19538a4?api-version=7.6-preview.2",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://vaultname.vault.azure.net/deletedsecrets/livekvtestsecret-namea19538a4",
        "deletedDate": 1742444522,
        "scheduledPurgeDate": 1743049322,
        "contentType": "text/plain",
        "id": "https://vaultname.vault.azure.net/secrets/livekvtestsecret-namea19538a4/b5a98522a53d4fb8a08d2f74bdb558d0",
        "attributes": {
          "enabled": true,
          "exp": 2527401600,
          "created": 1742444522,
          "updated": 1742444522,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7
        },
        "tags": {
          "foo": "updated tag"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedsecrets/livekvtestsecret-namea19538a4?api-version=7.6-preview.2",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "SecretNotFound",
          "message": "Deleted Secret not found: livekvtestsecret-namea19538a4"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedsecrets/livekvtestsecret-namea19538a4?api-version=7.6-preview.2",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://vaultname.vault.azure.net/deletedsecrets/livekvtestsecret-namea19538a4",
        "deletedDate": 1742444522,
        "scheduledPurgeDate": 1743049322,
        "contentType": "text/plain",
        "id": "https://vaultname.vault.azure.net/secrets/livekvtestsecret-namea19538a4/b5a98522a53d4fb8a08d2f74bdb558d0",
        "attributes": {
          "enabled": true,
          "exp": 2527401600,
          "created": 1742444522,
          "updated": 1742444522,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7
        },
        "tags": {
          "foo": "updated tag"
        }
      }
    }
  ],
  "Variables": {}
}
