{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.vault.azure.net/secrets/livekvtestsecret09dbc2c96?api-version=7.6-preview.2",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/secrets/livekvtestsecret09dbc2c96?api-version=7.6-preview.2",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "value": "value0"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "id": "https://vaultname.vault.azure.net/secrets/livekvtestsecret09dbc2c96/4baa2cf060d24213a11eb83f6d830405",
        "value": "value0",
        "attributes": {
          "enabled": true,
          "created": 1742444742,
          "updated": 1742444742,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/secrets/livekvtestsecret09dbc2c96?api-version=7.6-preview.2",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://vaultname.vault.azure.net/deletedsecrets/livekvtestsecret09dbc2c96",
        "deletedDate": 1742444743,
        "scheduledPurgeDate": 1743049543,
        "id": "https://vaultname.vault.azure.net/secrets/livekvtestsecret09dbc2c96/4baa2cf060d24213a11eb83f6d830405",
        "attributes": {
          "enabled": true,
          "created": 1742444742,
          "updated": 1742444742,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedsecrets/livekvtestsecret09dbc2c96?api-version=7.6-preview.2",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "SecretNotFound",
          "message": "Deleted Secret not found: livekvtestsecret09dbc2c96"
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedsecrets?api-version=7.6-preview.2",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [
          {
            "recoveryId": "https://vaultname.vault.azure.net/deletedsecrets/livekvtestcrud-secretf7f233a9",
            "deletedDate": 1742444684,
            "scheduledPurgeDate": 1743049484,
            "contentType": "text/plain",
            "id": "https://vaultname.vault.azure.net/secrets/livekvtestcrud-secretf7f233a9",
            "attributes": {
              "enabled": false,
              "nbf": 1422864000,
              "exp": 2527401600,
              "created": 1742444682,
              "updated": 1742444683,
              "recoveryLevel": "CustomizedRecoverable+Purgeable",
              "recoverableDays": 7
            },
            "tags": {
              "foo": "updated tag"
            }
          },
          {
            "recoveryId": "https://vaultname.vault.azure.net/deletedsecrets/livekvtestsecret-name11583b21",
            "deletedDate": 1742444602,
            "scheduledPurgeDate": 1743049402,
            "contentType": "text/plain",
            "id": "https://vaultname.vault.azure.net/secrets/livekvtestsecret-name11583b21",
            "attributes": {
              "enabled": true,
              "exp": 2527401600,
              "created": 1742444602,
              "updated": 1742444602,
              "recoveryLevel": "CustomizedRecoverable+Purgeable",
              "recoverableDays": 7
            },
            "tags": {
              "foo": "updated tag"
            }
          }
        ],
        "nextLink": "https://vaultname.vault.azure.net:443/deletedsecrets?api-version=7.6-preview.2&$skiptoken=Sanitized"
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedsecrets?api-version=7.6-preview.2&$skiptoken=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [
          {
            "recoveryId": "https://vaultname.vault.azure.net/deletedsecrets/livekvtestsecret-namea19538a4",
 [...]
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedsecrets?api-version=7.6-preview.2&$skiptoken=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [
          {
            "recoveryId": "https://vaultname.vault.azure.net/deletedsecrets/livekvtestsecret6fc1e2d69",
            "deletedDate": 1742444737,
            "scheduledPurgeDate": 1743049537,
            "id": "https://vaultname.vault.azure.net/secrets/livekvtestsecret6fc1e2d69",
            "attributes": {
              "enabled": true,
              "created": 1742444723,
              "updated": 1742444723,
              "recoveryLevel": "CustomizedRecoverable+Purgeable",
              "recoverableDays": 7
            }
          }
        ],
        "nextLink": null
      }
    }
  ],
  "Variables": {}
}
