{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.vault.azure.net/secrets/livekvtestcontent-typea5bf3984?api-version=2026-03-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer, PoP, or MTLS_POP token."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/secrets/livekvtestcontent-typea5bf3984?api-version=2026-03-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "value": "secret-value"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": "secret-value",
        "id": "https://vaultname.vault.azure.net/secrets/livekvtestcontent-typea5bf3984/4148b606f2a94bccb78e5978f8a1abd5",
        "attributes": {
          "enabled": true,
          "created": 1779468086,
          "updated": 1779468086,
          "recoveryLevel": "Recoverable+Purgeable",
          "recoverableDays": 90
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/secrets/livekvtestcontent-typea5bf3984/?outContentType=application%2Fx-pem-file&api-version=2026-03-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "BadParameter",
          "message": "The 'Unsupported' to 'PEM' transformation is not supported. Only PFX to PEM transformation is supported."
        }
      }
    }
  ],
  "Variables": {}
}
