{
  "Entries": [
    {
      "RequestUri": "https://vaultname.vault.azure.net/secrets/livekvtestsecret-name114f3b20?api-version=7.6-preview.1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://vaultname.vault.azure.net/secrets/livekvtestsecret-name114f3b20?api-version=7.6-preview.1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "value": "secret-value",
        "attributes": {
          "enabled": true,
          "exp": 2527401600
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "id": "https://vaultname.vault.azure.net/secrets/livekvtestsecret-name114f3b20/8696de14e0e041bc83501ccabd583e92",
        "value": "secret-value",
        "attributes": {
          "enabled": true,
          "exp": 2527401600,
          "created": 1714625882,
          "updated": 1714625882,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7
        }
      }
    },
    {
      "RequestUri": "https://vaultname.vault.azure.net/secrets/livekvtestsecret-name114f3b20/?api-version=7.6-preview.1",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "id": "https://vaultname.vault.azure.net/secrets/livekvtestsecret-name114f3b20/8696de14e0e041bc83501ccabd583e92",
        "value": "secret-value",
        "attributes": {
          "enabled": true,
          "exp": 2527401600,
          "created": 1714625882,
          "updated": 1714625882,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7
        }
      }
    },
    {
      "RequestUri": "https://vaultname.vault.azure.net/secrets/livekvtestsecret-name114f3b20/8696de14e0e041bc83501ccabd583e92?api-version=7.6-preview.1",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "id": "https://vaultname.vault.azure.net/secrets/livekvtestsecret-name114f3b20/8696de14e0e041bc83501ccabd583e92",
        "value": "secret-value",
        "attributes": {
          "enabled": true,
          "exp": 2527401600,
          "created": 1714625882,
          "updated": 1714625882,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7
        }
      }
    },
    {
      "RequestUri": "https://vaultname.vault.azure.net/secrets/livekvtestsecret-name114f3b20/?api-version=7.6-preview.1",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "contentType": "text/plain",
        "tags": {
          "foo": "updated tag"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "id": "https://vaultname.vault.azure.net/secrets/livekvtestsecret-name114f3b20/8696de14e0e041bc83501ccabd583e92",
        "contentType": "text/plain",
        "attributes": {
          "enabled": true,
          "exp": 2527401600,
          "created": 1714625882,
          "updated": 1714625883,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7
        },
        "tags": {
          "foo": "updated tag"
        }
      }
    },
    {
      "RequestUri": "https://vaultname.vault.azure.net/secrets/livekvtestsecret-name114f3b20?api-version=7.6-preview.1",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://vaultname.vault.azure.net/deletedsecrets/livekvtestsecret-name114f3b20",
        "deletedDate": 1714625883,
        "scheduledPurgeDate": 1715230683,
        "contentType": "text/plain",
        "id": "https://vaultname.vault.azure.net/secrets/livekvtestsecret-name114f3b20/8696de14e0e041bc83501ccabd583e92",
        "attributes": {
          "enabled": true,
          "exp": 2527401600,
          "created": 1714625882,
          "updated": 1714625883,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7
        },
        "tags": {
          "foo": "updated tag"
        }
      }
    },
    {
      "RequestUri": "https://vaultname.vault.azure.net/deletedsecrets/livekvtestsecret-name114f3b20?api-version=7.6-preview.1",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "SecretNotFound",
          "message": "Deleted Secret not found: livekvtestsecret-name114f3b20"
        }
      }
    },
    {
      "RequestUri": "https://vaultname.vault.azure.net/deletedsecrets/livekvtestsecret-name114f3b20?api-version=7.6-preview.1",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://vaultname.vault.azure.net/deletedsecrets/livekvtestsecret-name114f3b20",
        "deletedDate": 1714625883,
        "scheduledPurgeDate": 1715230683,
        "contentType": "text/plain",
        "id": "https://vaultname.vault.azure.net/secrets/livekvtestsecret-name114f3b20/8696de14e0e041bc83501ccabd583e92",
        "attributes": {
          "enabled": true,
          "exp": 2527401600,
          "created": 1714625882,
          "updated": 1714625883,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7
        },
        "tags": {
          "foo": "updated tag"
        }
      }
    }
  ],
  "Variables": {}
}
