{
  "Entries": [
    {
      "RequestUri": "https://vaultname.vault.azure.net/secrets/livekvtestsecret0e25c3078?api-version=2016-10-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.windows.net/00000000-0000-0000-0000-000000000000\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://vaultname.vault.azure.net/secrets/livekvtestsecret0e25c3078?api-version=2016-10-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "value": "value0"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": "value0",
        "id": "https://vaultname.vault.azure.net/secrets/livekvtestsecret0e25c3078/cdb3388103974049b14f4481feca6ec0",
        "attributes": {
          "enabled": true,
          "created": 1667331880,
          "updated": 1667331880,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable"
        }
      }
    },
[...]
    {
      "RequestUri": "https://vaultname.vault.azure.net/secrets/livekvtestsecret0e25c3078?api-version=2016-10-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://vaultname.vault.azure.net/deletedsecrets/livekvtestsecret0e25c3078",
        "deletedDate": 1667331881,
        "scheduledPurgeDate": 1667936681,
        "id": "https://vaultname.vault.azure.net/secrets/livekvtestsecret0e25c3078/cdb3388103974049b14f4481feca6ec0",
        "attributes": {
          "enabled": true,
          "created": 1667331880,
          "updated": 1667331880,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable"
        }
      }
    },
    {
      "RequestUri": "https://vaultname.vault.azure.net/deletedsecrets/livekvtestsecret0e25c3078?api-version=2016-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "SecretNotFound",
          "message": "Deleted Secret not found: livekvtestsecret0e25c3078"
        }
      }
    },
[...]
    {
      "RequestUri": "https://vaultname.vault.azure.net/deletedsecrets?api-version=2016-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [],
        "nextLink": "https://vaultname.vault.azure.net:443/deletedsecrets?api-version=2016-10-01\u0026$skiptoken=Sanitized"
      }
    },
    {
      "RequestUri": "https://vaultname.vault.azure.net/deletedsecrets?api-version=2016-10-01\u0026$skiptoken=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [],
        "nextLink": "https://vaultname.vault.azure.net:443/deletedsecrets?api-version=2016-10-01\u0026$skiptoken=Sanitized"
      }
    },
[...]
