{
  "Entries": [
    {
      "RequestUri": "https://vaultname.vault.azure.net/secrets/livekvtestsec50442c72?api-version=7.0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.windows.net/00000000-0000-0000-0000-000000000000\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://vaultname.vault.azure.net/secrets/livekvtestsec50442c72?api-version=7.0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "value": "secVal"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": "secVal",
        "id": "https://vaultname.vault.azure.net/secrets/livekvtestsec50442c72/a4db7df4ccf9461cb104d681d687ba96",
        "attributes": {
          "enabled": true,
          "created": 1667331913,
          "updated": 1667331913,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable"
        }
      }
    },
[...]
    {
      "RequestUri": "https://vaultname.vault.azure.net/secrets/livekvtestsec50442c72/versions?maxresults=6\u0026api-version=7.0",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "https://vaultname.vault.azure.net/secrets/livekvtestsec50442c72/57ef21501e9d4dd[...]
    {
      "RequestUri": "https://vaultname.vault.azure.net/secrets/livekvtestsec50442c72/versions?api-version=7.0\u0026$skiptoken=Sanitized\u0026maxresults=6",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "https://vaultname.vault.azure.net/secrets/livekvtestsec50442c72/f970e042690c4f44a708d586a877dada",
            "attributes": {
              "enabled": true,
              "created": 1667331913,
              "updated": 1667331913,
              "recoveryLevel": "CustomizedRecoverable\u002BPurgeable"
            }
          }
        ],
        "nextLink": null
      }
    }
  ],
  "Variables": {}
}
