{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.vault.azure.net/secrets/livekvtestcontent-typee69339f9?api-version=2026-03-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer, PoP, or MTLS_POP token."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/secrets/livekvtestcontent-typee69339f9?api-version=2026-03-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "value": "secret-value"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": "secret-value",
        "id": "https://vaultname.vault.azure.net/secrets/livekvtestcontent-typee69339f9/6f8477746dbf459592499f16a6b52642",
        "attributes": {
          "enabled": true,
          "created": 1779468191,
          "updated": 1779468191,
          "recoveryLevel": "Recoverable+Purgeable",
          "recoverableDays": 90
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/secrets/livekvtestcontent-typee69339f9/?outContentType=application/x-pem-file&api-version=2026-03-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "BadParameter",
          "message": "The 'Unsupported' to 'PEM' transformation is not supported. Only PFX to PEM transformation is supported."
        }
      }
    }
  ],
  "Variables": {}
}
