{
  "Entries": [
    {
      "RequestUri": "https://vaultname.vault.azure.net/secrets/livekvtestsec0be972f12?api-version=7.5-preview.1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://vaultname.vault.azure.net/secrets/livekvtestsec0be972f12?api-version=7.5-preview.1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "value": "secVal0"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": "secVal0",
        "id": "https://vaultname.vault.azure.net/secrets/livekvtestsec0be972f12/6ee14e4025734b5384f4f3cafb0d896d",
        "attributes": {
          "enabled": true,
          "created": 1695165134,
          "updated": 1695165134,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7
        }
      }
    },
[...]
    {
      "RequestUri": "https://vaultname.vault.azure.net/secrets?maxresults=6\u0026api-version=7.5-preview.1",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [
          {
            "contentType": "application/x-pkcs12",
            "id": "https://vaultname.vault.azure.net/secrets/livekvtestcert-name223e25",
            "managed": true,
            "attributes": {
              "enabled": true,
              "nbf": 1695163305,
              "exp": 1758322305,
              "created": 1695163905,
              "updated": 1695163905,
              "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
              "recoverableDays": 7
            }
          },
          {
            "contentType": "application/x-pkcs12",
            "id": "https://vaultname.vault.azure.net/secrets/livekvtestcert-name38dd3e8b",
            "managed": true,
            "attributes": {
              "enabled": true,
              "nbf": 1695163131,
              "exp": 1758322131,
              "created": 1695163731,
              "updated": 1695163731,
              "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
              "recoverableDays": 7
            }
          },
          {
            "contentType": "application/x-pkcs12",
            "id": "https://vaultname.vault.azure.net/secrets/livekvtestcert-name7d7e3ba8",
            "managed": true,
            "attributes": {
              "enabled": true,
              "nbf": 1695163203,
              "exp": 1758322203,
              "created": 1695163804,
              "updated": 1695163804,
              "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
              "recoverableDays": 7
            }
          }
        ],
        "nextLink": "https://vaultname.vault.azure.net:443/secrets?api-version=7.5-preview.1\u0026$skiptoken=Sanitized\u0026maxresults=6"
      }
    },
    {
      "RequestUri": "https://vaultname.vault.azure.net/secrets?api-version=7.5-preview.1\u0026$skiptoken=Sanitized\u0026maxresults=6",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [
          {
            "contentType": "application/x-pkcs12",
            "id": "https://vaultname.vault[...]
[...]
    {
      "RequestUri": "https://vaultname.vault.azure.net/secrets?api-version=7.5-preview.1\u0026$skiptoken=Sanitized\u0026maxresults=6",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [
          {
            "contentType": "application/x-pkcs12",
            "id": "https://vaultname.vault.azure.net/secrets/livekvtestunknownIssuerCertcd99428c",
            "managed": true,
            "attributes": {
              "enabled": true,
              "nbf": 1695163049,
              "exp": 1726786049,
              "created": 1695163649,
              "updated": 1695163649,
              "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
              "recoverableDays": 7
            }
          }
        ],
        "nextLink": null
      }
    }
  ],
  "Variables": {}
}
