{
  "Entries": [
    {
      "RequestUri": "https://vaultname.vault.azure.net/secrets/livekvtestsec0f2852b80?api-version=7.1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.windows.net/00000000-0000-0000-0000-000000000000\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://vaultname.vault.azure.net/secrets/livekvtestsec0f2852b80?api-version=7.1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "value": "secVal0"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": "secVal0",
        "id": "https://vaultname.vault.azure.net/secrets/livekvtestsec0f2852b80/d3bed3e270ea4895806400d6f38bc806",
        "attributes": {
          "enabled": true,
          "created": 1667331774,
          "updated": 1667331774,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7
        }
      }
    },
[...]
    {
      "RequestUri": "https://vaultname.vault.azure.net/secrets?maxresults=6\u0026api-version=7.1",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "https://vaultname.vault.azure.net/secrets/livekvtestsec0f2852b80",
            "attributes": {
              "[...]
    {
      "RequestUri": "https://vaultname.vault.azure.net/secrets?api-version=7.1\u0026$skiptoken=Sanitized\u0026maxresults=6",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "https://vaultname.vault.azure.net/secrets/livekvtestsec2f2852b80",
            "attr[...]
[...]
