{
  "Entries": [
    {
      "RequestUri": "https://vaultname.vault.azure.net/secrets/livekvtestsec50562c74?api-version=7.2",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.windows.net/00000000-0000-0000-0000-000000000000\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://vaultname.vault.azure.net/secrets/livekvtestsec50562c74?api-version=7.2",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "value": "secVal"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": "secVal",
        "id": "https://vaultname.vault.azure.net/secrets/livekvtestsec50562c74/c8a6753a34cf4126b9e1b3d8bb1d5a95",
        "attributes": {
          "enabled": true,
          "created": 1667331909,
          "updated": 1667331909,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7
        }
      }
    },
[...]
    {
      "RequestUri": "https://vaultname.vault.azure.net/secrets/livekvtestsec50562c74/versions?maxresults=6\u0026api-version=7.2",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "https://vaultname.vault.azure.net/secrets/livekvtestsec50562c74/1151caefae8841b[...]
    {
      "RequestUri": "https://vaultname.vault.azure.net/secrets/livekvtestsec50562c74/versions?api-version=7.2\u0026$skiptoken=Sanitized\u0026maxresults=6",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "https://vaultname.vault.azure.net/secrets/livekvtestsec50562c74/f05c3d4689164739b36a4705c7e48cdd",
            "attributes": {
              "enabled": true,
              "created": 1667331910,
              "updated": 1667331910,
              "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
              "recoverableDays": 7
            }
          }
        ],
        "nextLink": null
      }
    }
  ],
  "Variables": {}
}
