{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.vault.azure.net/secrets/livekvtestsecret-nameccc63792?api-version=7.6",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/70a036f6-8e4d-4615-bad6-149c02e7720d\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/secrets/livekvtestsecret-nameccc63792?api-version=7.6",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "value": "secret-value",
        "attributes": {
          "enabled": true,
          "exp": 2527401600
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": "secret-value",
        "id": "https://vaultname.vault.azure.net/secrets/livekvtestsecret-nameccc63792/7b30f769b52f4b79b2a36ecfb3bbb1f4",
        "attributes": {
          "enabled": true,
          "exp": 2527401600,
          "created": 1748908296,
          "updated": 1748908296,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/secrets/livekvtestsecret-nameccc63792/?api-version=7.6",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": "secret-value",
        "id": "https://vaultname.vault.azure.net/secrets/livekvtestsecret-nameccc63792/7b30f769b52f4b79b2a36ecfb3bbb1f4",
        "attributes": {
          "enabled": true,
          "exp": 2527401600,
          "created": 1748908296,
          "updated": 1748908296,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/secrets/livekvtestsecret-nameccc63792/7b30f769b52f4b79b2a36ecfb3bbb1f4?api-version=7.6",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": "secret-value",
        "id": "https://vaultname.vault.azure.net/secrets/livekvtestsecret-nameccc63792/7b30f769b52f4b79b2a36ecfb3bbb1f4",
        "attributes": {
          "enabled": true,
          "exp": 2527401600,
          "created": 1748908296,
          "updated": 1748908296,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/secrets/livekvtestsecret-nameccc63792/?api-version=7.6",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "contentType": "text/plain",
        "tags": {
          "foo": "updated tag"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "contentType": "text/plain",
        "id": "https://vaultname.vault.azure.net/secrets/livekvtestsecret-nameccc63792/7b30f769b52f4b79b2a36ecfb3bbb1f4",
        "attributes": {
          "enabled": true,
          "exp": 2527401600,
          "created": 1748908296,
          "updated": 1748908296,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7
        },
        "tags": {
          "foo": "updated tag"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/secrets/livekvtestsecret-nameccc63792?api-version=7.6",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://vaultname.vault.azure.net/deletedsecrets/livekvtestsecret-nameccc63792",
        "deletedDate": 1748908296,
        "scheduledPurgeDate": 1749513096,
        "contentType": "text/plain",
        "id": "https://vaultname.vault.azure.net/secrets/livekvtestsecret-nameccc63792/7b30f769b52f4b79b2a36ecfb3bbb1f4",
        "attributes": {
          "enabled": true,
          "exp": 2527401600,
          "created": 1748908296,
          "updated": 1748908296,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7
        },
        "tags": {
          "foo": "updated tag"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedsecrets/livekvtestsecret-nameccc63792?api-version=7.6",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "SecretNotFound",
          "message": "Deleted Secret not found: livekvtestsecret-nameccc63792"
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedsecrets/livekvtestsecret-nameccc63792?api-version=7.6",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://vaultname.vault.azure.net/deletedsecrets/livekvtestsecret-nameccc63792",
        "deletedDate": 1748908296,
        "scheduledPurgeDate": 1749513096,
        "contentType": "text/plain",
        "id": "https://vaultname.vault.azure.net/secrets/livekvtestsecret-nameccc63792/7b30f769b52f4b79b2a36ecfb3bbb1f4",
        "attributes": {
          "enabled": true,
          "exp": 2527401600,
          "created": 1748908296,
          "updated": 1748908296,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7
        },
        "tags": {
          "foo": "updated tag"
        }
      }
    }
  ],
  "Variables": {}
}
