{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.vault.azure.net/secrets/livekvtestsecVerd179307f?api-version=2026-03-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer, PoP, or MTLS_POP token."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/secrets/livekvtestsecVerd179307f?api-version=2026-03-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "value": "secVal"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": "secVal",
        "id": "https://vaultname.vault.azure.net/secrets/livekvtestsecVerd179307f/a0b02997db094742bf3f009055a512d7",
        "attributes": {
          "enabled": true,
          "created": 1779467965,
          "updated": 1779467965,
          "recoveryLevel": "Recoverable+Purgeable",
          "recoverableDays": 90
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/secrets/livekvtestsecVerd179307f/versions?api-version=2026-03-01-preview&maxresults=6",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "https://vaultname.vault.azure.net/secrets/livekvtestsecVerd179307f[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/secrets/livekvtestsecVerd179307f/versions?api-version=2026-03-01-preview&$skiptoken=Sanitized&maxresults=6",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "https://vaultname.vault.azure.net/secrets/liv[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/secrets/livekvtestsecVerd179307f/versions?api-version=2026-03-01-preview&$skiptoken=Sanitized&maxresults=6",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "https://vaultname.vault.azure.net/secrets/livekvtestsecVerd179307f/ba54d5ce4b38403db5380938dad95e33",
            "attributes": {
              "enabled": true,
              "created": 1779412022,
              "updated": 1779412022,
              "recoveryLevel": "Recoverable+Purgeable",
              "recoverableDays": 90
            }
          },
          {
            "id": "https://vaultname.vault.azure.net/secrets/livekvtestsecVerd179307f/c60afc56424d484cafa067d20b42ec08",
            "attributes": {
              "enabled": true,
              "created": 1779467965,
              "updated": 1779467965,
              "recoveryLevel": "Recoverable+Purgeable",
              "recoverableDays": 90
            }
          }
        ],
        "nextLink": null
      }
    }
  ],
  "Variables": {}
}
