{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.vault.azure.net/secrets/livekvtestsecret07a1233aa?api-version=2026-03-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer, PoP, or MTLS_POP token."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/secrets/livekvtestsecret07a1233aa?api-version=2026-03-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "value": "value0"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": "value0",
        "id": "https://vaultname.vault.azure.net/secrets/livekvtestsecret07a1233aa/d94954311dd54a30aebd97c7c9926be7",
        "attributes": {
          "enabled": true,
          "created": 1779412128,
          "updated": 1779412128,
          "recoveryLevel": "Recoverable+Purgeable",
          "recoverableDays": 90
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/secrets/livekvtestsecret07a1233aa?api-version=2026-03-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "recoveryId": "https://vaultname.vault.azure.net/deletedsecrets/livekvtestsecret07a1233aa",
        "deletedDate": 1779412128,
        "scheduledPurgeDate": 1787188128,
        "id": "https://vaultname.vault.azure.net/secrets/livekvtestsecret07a1233aa/d94954311dd54a30aebd97c7c9926be7",
        "attributes": {
          "enabled": true,
          "created": 1779412128,
          "updated": 1779412128,
          "recoveryLevel": "Recoverable+Purgeable",
          "recoverableDays": 90
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedsecrets/livekvtestsecret07a1233aa?api-version=2026-03-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "SecretNotFound",
          "message": "Deleted Secret not found: livekvtestsecret07a1233aa"
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedsecrets?api-version=2026-03-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [
          {
            "recoveryId": "https://vaultname.vault.azure.net/deletedsecrets/livekvtestcrud-secretb18e3421",
            "deletedDate": 1779412017,
            "scheduledPurgeDate": 1787188017,
            "contentType": "text/plain",
            "id": "https://vaultname.vault.azure.net/secrets/livekvtestcrud-secretb18e3421",
            "attributes": {
              "enabled": false,
              "nbf": 1422864000,
              "exp": 2524723200,
              "created": 1779412015,
              "updated": 1779412017,
              "recoveryLevel": "Recoverable+Purgeable",
              "recoverableDays": 90
            },
            "tags": {
              "foo": "updated tag"
            }
          },
          {
            "recoveryId": "https://vaultname.vault.azure.net/deletedsecrets/livekvtestcrud-secretec713496",
            "deletedDate": 1779412121,
            "scheduledPurgeDate": 1787188121,
            "contentType": "text/plain",
            "id": "https://vaultname.vault.azure.net/secrets/livekvtestcrud-secretec713496",
            "attributes": {
              "enabled": false,
              "nbf": 1422864000,
              "exp": 2527401600,
              "created": 1779412119,
              "updated": 1779412120,
              "recoveryLevel": "Recoverable+Purgeable",
              "recoverableDays": 90
            },
            "tags": {
              "foo": "updated tag"
            }
          }
        ],
        "nextLink": "https://vaultname.vault.azure.net:443/deletedsecrets?api-version=2026-03-01-preview&$skiptoken=Sanitized"
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/deletedsecrets?api-version=2026-03-01-preview&$skiptoken=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [
          {
            "recoveryId": "https://vaultname.vault.azure.net/deletedsecrets/livekvtestsecret040193335",
[...]
[...]
