{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.vault.azure.net/secrets/livekvtestsec08b202e9f?api-version=7.6-preview.2",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/secrets/livekvtestsec08b202e9f?api-version=7.6-preview.2",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "value": "secVal0"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "id": "https://vaultname.vault.azure.net/secrets/livekvtestsec08b202e9f/1bd14ca681a84bb3aed375ea8bcc9c1d",
        "value": "secVal0",
        "attributes": {
          "enabled": true,
          "created": 1742444774,
          "updated": 1742444774,
          "recoveryLevel": "CustomizedRecoverable+Purgeable",
          "recoverableDays": 7
        }
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/secrets?api-version=7.6-preview.2&maxresults=6",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "https://vaultname.vault.azure.net/secrets/livekvtestsec08b202e9f",
            "attributes": {
          [...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/secrets?api-version=7.6-preview.2&$skiptoken=Sanitized&maxresults=6",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "https://vaultname.vault.azure.net/secrets/livekvtestsec25f93007",
            "attri[...]
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/secrets?api-version=7.6-preview.2&$skiptoken=Sanitized&maxresults=6",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "https://vaultname.vault.azure.net/secrets/livekvtestsecret1133b3b2f",
            "attributes": {
              "enabled": true,
              "created": 1742444607,
              "updated": 1742444607,
              "recoveryLevel": "CustomizedRecoverable+Purgeable",
              "recoverableDays": 7
            }
          },
          {
            "id": "https://vaultname.vault.azure.net/secrets/livekvtestsecret1a37838b2",
            "attributes": {
              "enabled": true,
              "created": 1742444527,
              "updated": 1742444527,
              "recoveryLevel": "CustomizedRecoverable+Purgeable",
              "recoverableDays": 7
            }
          }
        ],
        "nextLink": "https://vaultname.vault.azure.net:443/secrets?api-version=7.6-preview.2&$skiptoken=Sanitized&maxresults=6"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.vault.azure.net/secrets?api-version=7.6-preview.2&$skiptoken=Sanitized&maxresults=6",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "https://vaultname.vault.azure.net/secrets/livekvtestsecreta81a30fd",
            "attributes": {
              "enabled": true,
              "created": 1742444520,
              "updated": 1742444520,
              "recoveryLevel": "CustomizedRecoverable+Purgeable",
              "recoverableDays": 7
            }
          }
        ],
        "nextLink": null
      }
    }
  ],
  "Variables": {}
}
