{
  "Entries": [
    {
      "RequestUri": "https://vaultname.vault.azure.net/secrets/livekvtestsecret0131f3b2d?api-version=7.5-preview.1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\u0022https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000\u0022, resource=\u0022https://vault.azure.net\u0022"
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer or PoP token."
        }
      }
    },
    {
      "RequestUri": "https://vaultname.vault.azure.net/secrets/livekvtestsecret0131f3b2d?api-version=7.5-preview.1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "value": "value0"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": "value0",
        "id": "https://vaultname.vault.azure.net/secrets/livekvtestsecret0131f3b2d/9ec07db31b45403c8c55b45824a351b6",
        "attributes": {
          "enabled": true,
          "created": 1695165058,
          "updated": 1695165058,
          "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
          "recoverableDays": 7
        }
      }
    },
[...]
    {
      "RequestUri": "https://vaultname.vault.azure.net/secrets?api-version=7.5-preview.1",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [
          {
            "contentType": "application/x-pkcs12",
            "id": "https://vaultname.vault.azure.net/secrets/livekvtestcert-name223e25",
            "managed": true,
            "attributes": {
              "enabled": true,
              "nbf": 1695163305,
              "exp": 1758322305,
              "created": 1695163905,
              "updated": 1695163905,
              "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
              "recoverableDays": 7
            }
          },
          {
            "contentType": "application/x-pkcs12",
            "id": "https://vaultname.vault.azure.net/secrets/livekvtestcert-name38dd3e8b",
            "managed": true,
            "attributes": {
              "enabled": true,
              "nbf": 1695163131,
     [...]
    {
      "RequestUri": "https://vaultname.vault.azure.net/secrets?api-version=7.5-preview.1\u0026$skiptoken=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [
          {
            "contentType": "application/x-pkcs12",
            "id": "https://vaultname.vault.azure.net/secrets[...]
[...]
    {
      "RequestUri": "https://vaultname.vault.azure.net/secrets/secret-name/versions?api-version=7.5-preview.1",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [],
        "nextLink": null
      }
    },
    {
      "RequestUri": "https://vaultname.vault.azure.net/deletedsecrets?api-version=7.5-preview.1",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [],
        "nextLink": "https://vaultname.vault.azure.net:443/deletedsecrets?api-version=7.5-preview.1\u0026$skiptoken=Sanitized"
      }
    },
    {
      "RequestUri": "https://vaultname.vault.azure.net/deletedsecrets?api-version=7.5-preview.1\u0026$skiptoken=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [],
        "nextLink": "https://vaultname.vault.azure.net:443/deletedsecrets?api-version=7.5-preview.1\u0026$skiptoken=Sanitized"
      }
    },
[...]
    {
      "RequestUri": "https://vaultname.vault.azure.net/deletedsecrets?api-version=7.5-preview.1\u0026$skiptoken=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [
          {
            "recoveryId": "https://vaultname.vault.azure.net/deletedsecrets/livekvtestsecret-name113c3b1f",
            "deletedDate": 1695165055,
            "scheduledPurgeDate": 1695769855,
            "contentType": "text/plain",
            "id": "https://vaultname.vault.azure.net/secrets/livekvtestsecret-name113c3b1f",
            "attributes": {
              "enabled": true,
              "exp": 2527401600,
              "created": 1695165055,
              "updated": 1695165055,
              "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
              "recoverableDays": 7
            },
            "tags": {
              "foo": "updated tag"
            }
          },
          {
            "recoveryId": "https://vaultname.vault.azure.net/deletedsecrets/livekvtestsecret-namea17938a2",
            "deletedDate": 1695164980,
            "scheduledPurgeDate": 1695769780,
            "contentType": "text/plain",
            "id": "https://vaultname.vault.azure.net/secrets/livekvtestsecret-namea17938a2",
            "attributes": {
              "enabled": true,
              "exp": 2527401600,
              "created": 1695164980,
              "updated": 1695164980,
              "recoveryLevel": "CustomizedRecoverable\u002BPurgeable",
              "recoverableDays": 7
            },
            "tags": {
              "foo": "updated tag"
            }
          }
        ],
        "nextLink": "https://vaultname.vault.azure.net:443/deletedsecrets?api-version=7.5-preview.1\u0026$skiptoken=Sanitized"
      }
    },
    {
      "RequestUri": "https://vaultname.vault.azure.net/deletedsecrets?api-version=7.5-preview.1\u0026$skiptoken=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": [],
        "nextLink": null
      }
    }
  ],
  "Variables": {}
}
