{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.vault.azure.net/secrets/livekvtestprevious-versioneeae3bce?api-version=2026-03-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 401,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "WWW-Authenticate": "Bearer authorization=\"https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000\", resource=\"https://vault.azure.net\""
      },
      "ResponseBody": {
        "error": {
          "code": "Unauthorized",
          "message": "AKV10000: Request is missing a Bearer, PoP, or MTLS_POP token."
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/secrets/livekvtestprevious-versioneeae3bce?api-version=2026-03-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "value": "secret-value"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": "secret-value",
        "id": "https://vaultname.vault.azure.net/secrets/livekvtestprevious-versioneeae3bce/f0278164dce04ba4be9d53f18bdf8c12",
        "attributes": {
          "enabled": true,
          "created": 1779412205,
          "updated": 1779412205,
          "recoveryLevel": "Recoverable+Purgeable",
          "recoverableDays": 90
        }
      }
    },
    {
      "RequestUri": "https://Sanitized.vault.azure.net/secrets/livekvtestprevious-versioneeae3bce/?api-version=2026-03-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "value": "secret-value",
        "id": "https://vaultname.vault.azure.net/secrets/livekvtestprevious-versioneeae3bce/f0278164dce04ba4be9d53f18bdf8c12",
        "attributes": {
          "enabled": true,
          "created": 1779412205,
          "updated": 1779412205,
          "recoveryLevel": "Recoverable+Purgeable",
          "recoverableDays": 90
        }
      }
    }
  ],
  "Variables": {}
}
