{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myjstest/providers/Microsoft.LoadTestService/loadTests/loadtestsResource?api-version=2022-12-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {
          "team": "Azure Load Testing SDK"
        },
        "location": "westus2",
        "properties": {
          "description": "New Load test resource from SDK."
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.LoadTestService/locations/WESTUS2/operationStatuses/0c1f291f-9e35-4241-8f01-c91f6ae193c2*CC5302917A6CC7E79A30069178200988297A65F362ACE4CEA2322B6119687A80?api-version=2022-12-01",
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00224000886e-0000-0800-0000-65126f500000\u0022",
        "mise-correlation-id": "8bbb2aad-45ae-4735-bbf4-7810ee15455c",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myjstest/providers/Microsoft.LoadTestService/loadTests/loadtestsResource",
        "name": "loadtestsResource",
        "type": "microsoft.loadtestservice/loadtests",
        "location": "westus2",
        "tags": {
          "team": "Azure Load Testing SDK"
        },
        "systemData": {
          "createdBy": "azure_client_id",
          "createdByType": "Application",
          "createdAt": "2023-09-26T05:42:40.2764243Z",
          "lastModifiedBy": "azure_client_id",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2023-09-26T05:42:40.2764243Z"
        },
        "identity": {
          "type": "None"
        },
        "properties": {
          "description": "New Load test resource from SDK.",
          "dataPlaneURI": "4d71884c-fef2-4b75-aa03-4c3b22136001.westus2.cnt-prod.loadtesting.azure.com",
          "encryption": null,
          "provisioningState": "Accepted"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.LoadTestService/locations/WESTUS2/operationStatuses/0c1f291f-9e35-4241-8f01-c91f6ae193c2*CC5302917A6CC7E79A30069178200988297A65F362ACE4CEA2322B6119687A80?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00221e0069ed-0000-0800-0000-65126f510000\u0022",
        "x-ms-ratelimit-remaining-subscription-reads": "11996"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.LoadTestService/locations/WESTUS2/operationStatuses/0c1f291f-9e35-4241-8f01-c91f6ae193c2*CC5302917A6CC7E79A30069178200988297A65F362ACE4CEA2322B6119687A80",
        "name": "0c1f291f-9e35-4241-8f01-c91f6ae193c2*CC5302917A6CC7E79A30069178200988297A65F362ACE4CEA2322B6119687A80",
        "resourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myjstest/providers/Microsoft.LoadTestService/loadTests/loadtestsResource",
        "status": "Succeeded",
        "startTime": "2023-09-26T05:42:40.4572897Z",
        "endTime": "2023-09-26T05:42:41.8073756Z",
        "properties": null
      }
    },
[...]
