{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myjstest/providers/Microsoft.LoadTestService/loadTests/loadtestsResource?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\u00224000926e-0000-0800-0000-65126f510000\u0022",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-reads": "11994"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myjstest/providers/Microsoft.LoadTestService/loadTests/loadtestsResource",
        "name": "loadtestsResource",
        "type": "microsoft.loadtestservice/loadtests",
        "location": "westus2",
        "tags": {
          "team": "Azure Load Testing SDK"
        },
        "systemData": {
          "createdBy": "azure_client_id",
          "createdByType": "Application",
          "createdAt": "2023-09-26T05:42:40.2764243Z",
          "lastModifiedBy": "azure_client_id",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2023-09-26T05:42:40.2764243Z"
        },
        "identity": {
          "type": "None"
        },
        "properties": {
          "description": "New Load test resource from SDK.",
          "dataPlaneURI": "4d71884c-fef2-4b75-aa03-4c3b22136001.westus2.cnt-prod.loadtesting.azure.com",
          "encryption": null,
          "provisioningState": "Succeeded"
        }
      }
    }
  ],
  "Variables": {}
}
