{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/agents/v1.0/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/00000/providers/Microsoft.MachineLearningServices/workspaces/00000/files?api-version=2024-07-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "openai-processing-ms": "197",
        "openai-version": "2020-10-01",
        "x-aml-cluster": "vienna-eastus-02",
        "x-ms-middleware-request-id": "2bb15fd4-9d3e-4339-9ade-ff8a88fb65b9",
        "x-ms-region": "East US 2",
        "x-ms-response-type": "standard",
        "x-request-time": "1.191"
      },
      "ResponseBody": {
        "object": "list",
        "data": [],
        "has_more": false,
        "first_id": null,
        "last_id": null
      }
    }
  ],
  "Variables": {}
}
