{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.cognitiveservices.azure.com/language/authoring/analyze-text/projects/single-class-project?api-version=2025-05-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "createdDateTime": "2025-05-28T17:07:12Z",
        "lastModifiedDateTime": "2025-09-02T21:43:09Z",
        "projectKind": "CustomSingleLabelClassification",
        "storageInputContainerName": "single-class-example",
        "projectName": "single-class-project",
        "multilingual": true,
        "description": "example",
        "language": "en"
      }
    }
  ],
  "Variables": {}
}
