{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.cognitiveservices.azure.com//language/authoring/analyze-text/projects/single-class-project/deployments/:swap?api-version=2025-05-15-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "firstDeploymentName": "deployment1",
        "secondDeploymentName": "deployment2"
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "operation-location": "https://Sanitized.cognitiveservices.azure.com/language/authoring/analyze-text/projects/single-class-project/deployments/swap/jobs/f2a029b3-6397-473a-8569-ed84aa600dc4_638923680000000000?api-version=2025-05-15-preview",
        "x-ms-region": "East US"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.cognitiveservices.azure.com/language/authoring/analyze-text/projects/single-class-project/deployments/swap/jobs/f2a029b3-6397-473a-8569-ed84aa600dc4_638923680000000000?api-version=2025-05-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "jobId": "f2a029b3-6397-473a-8569-ed84aa600dc4_638923680000000000",
        "createdDateTime": "2025-09-02T22:50:48Z",
        "lastUpdatedDateTime": "2025-09-02T22:50:48Z",
        "expirationDateTime": "2025-09-09T22:50:48Z",
        "status": "notStarted"
      }
    },
    {
      "RequestUri": "https://Sanitized.cognitiveservices.azure.com/language/authoring/analyze-text/projects/single-class-project/deployments/swap/jobs/f2a029b3-6397-473a-8569-ed84aa600dc4_638923680000000000?api-version=2025-05-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "jobId": "f2a029b3-6397-473a-8569-ed84aa600dc4_638923680000000000",
        "createdDateTime": "2025-09-02T22:50:48Z",
        "lastUpdatedDateTime": "2025-09-02T22:50:53Z",
        "expirationDateTime": "2025-09-09T22:50:48Z",
        "status": "succeeded"
      }
    }
  ],
  "Variables": {}
}
