{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.cognitiveservices.azure.com/language/authoring/analyze-text/projects/single-class-project/:export?api-version=2025-05-15-preview&stringIndexType=Utf16CodeUnit",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "operation-location": "https://Sanitized.cognitiveservices.azure.com/language/authoring/analyze-text/projects/single-class-project/export/jobs/171afd5d-46c6-484a-b704-78ae53917c16_638923680000000000?api-version=2025-05-15-preview",
        "x-ms-region": "East US"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.cognitiveservices.azure.com/language/authoring/analyze-text/projects/single-class-project/export/jobs/171afd5d-46c6-484a-b704-78ae53917c16_638923680000000000?api-version=2025-05-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "jobId": "171afd5d-46c6-484a-b704-78ae53917c16_638923680000000000",
        "createdDateTime": "2025-09-02T21:45:12Z",
        "lastUpdatedDateTime": "2025-09-02T21:45:12Z",
        "expirationDateTime": "2025-09-09T21:45:12Z",
        "status": "running"
      }
    },
    {
      "RequestUri": "https://Sanitized.cognitiveservices.azure.com/language/authoring/analyze-text/projects/single-class-project/export/jobs/171afd5d-46c6-484a-b704-78ae53917c16_638923680000000000?api-version=2025-05-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "resultUrl": "https://Sanitized.cognitiveservices.azure.com/language/authoring/analyze-text/projects/single-class-project/export/jobs/171afd5d-46c6-484a-b704-78ae53917c16_638923680000000000/result?api-version=2025-05-15-preview",
        "jobId": "171afd5d-46c6-484a-b704-78ae53917c16_638923680000000000",
        "createdDateTime": "2025-09-02T21:45:12Z",
        "lastUpdatedDateTime": "2025-09-02T21:45:12Z",
        "expirationDateTime": "2025-09-09T21:45:12Z",
        "status": "succeeded"
      }
    }
  ],
  "Variables": {}
}
