{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.cognitiveservices.azure.com/language/authoring/analyze-text/projects/single-class-project/deployments/deployment0902?api-version=2025-05-15-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/json",
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": {
        "trainedModelLabel": "model5"
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "operation-location": "https://Sanitized.cognitiveservices.azure.com/language/authoring/analyze-text/projects/single-class-project/deployments/deployment0902/jobs/4c07adff-549d-485c-92e5-a2f73d36dac8_638923680000000000?api-version=2025-05-15-preview",
        "x-ms-region": "East US"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.cognitiveservices.azure.com/language/authoring/analyze-text/projects/single-class-project/deployments/deployment0902/jobs/4c07adff-549d-485c-92e5-a2f73d36dac8_638923680000000000?api-version=2025-05-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "jobId": "4c07adff-549d-485c-92e5-a2f73d36dac8_638923680000000000",
        "createdDateTime": "2025-09-02T21:43:06Z",
        "lastUpdatedDateTime": "2025-09-02T21:43:06Z",
        "expirationDateTime": "2025-09-09T21:43:06Z",
        "status": "notStarted"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.cognitiveservices.azure.com/language/authoring/analyze-text/projects/single-class-project/deployments/deployment0902?api-version=2025-05-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-region": "East US"
      },
      "ResponseBody": {
        "deploymentName": "deployment0902",
        "modelId": "model5-20250902T090101-c85ec6241f9c43ecb4bae456098a2d96",
        "lastTrainedDateTime": "2025-09-02T21:01:01.2598675Z",
        "lastDeployedDateTime": "2025-09-02T21:43:09Z",
        "deploymentExpirationDate": "2027-04-30",
        "modelTrainingConfigVersion": "2022-05-01"
      }
    }
  ],
  "Variables": {}
}
