{
  "Entries": [
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-796675ad-095f-9123-b0fe-03149fe950bc?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 22 Feb 2025 00:28:53 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD52D7E2BE35A6\"",
        "Last-Modified": "Sat, 22 Feb 2025 00:28:53 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-796675ad-095f-9123-b0fe-03149fe950bc/sourceFolder/foo/test-file-d7080f76-e6de-2279-16be-d8e5878d1f11?sv=Sanitized&se=2025-02-23T00%3A28%3A53Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "PageBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD52D7E2D1B60A\"",
        "Last-Modified": "Sat, 22 Feb 2025 00:28:53 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05",
        "x-ms-version-id": "2025-02-22T00:28:53.3319178Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-796675ad-095f-9123-b0fe-03149fe950bc/sourceFolder/foo/test-file-d7080f76-e6de-2279-16be-d8e5878d1f11?sv=Sanitized&se=2025-02-23T00%3A28%3A53Z&sr=c&sp=racwdxltfi&sig=Sanitized&comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": "QuGYguqA9gPteVeJLxnDMO+//KRU0SDLZGSrYcYouZWnxxkXGqPm9RkE6mWO8PP8+qf1x5F6vXHBzB6G1ZU8xcDC4mcArBZL2QaKT+a7PHRwrmYfMvEELAqoVk2FYB+EyCWkzA6M/E6Rqu6L8G2KBpCpFSYvHZLOvrVdV1bJxXnmBofBFnBm5LIXjYgCeDycHk+93Er4VauS1Q5YL6T4x+R1pOnmyO8gQzF0F48KzEV5wDkGDOku7rHcL0BhDrUNH8akjdRStlZgnZkZhD0biAnJ3m5q8rv6RrY4CpivvjR8ZvjJZT5wJgrjpW9QFWlzwKc2ly9GoiwKqUceGqu9sN5knR1FUiLLWbhkh0xMqTFMxErxeSYFNcTLvrv3UQteJvWQ7HhMLW2Eaj524hvgvv8V0lVhyze[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-796675ad-095f-9123-b0fe-03149fe950bc/sourceFolder/rul/test-file-7dac25a9-d753-4ea7-b18c-c82beca321a2?sv=Sanitized&se=2025-02-23T00%3A28%3A53Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "PageBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD52D7E2DF48A5\"",
        "Last-Modified": "Sat, 22 Feb 2025 00:28:53 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05",
        "x-ms-version-id": "2025-02-22T00:28:53.4208677Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-796675ad-095f-9123-b0fe-03149fe950bc/sourceFolder/rul/test-file-7dac25a9-d753-4ea7-b18c-c82beca321a2?sv=Sanitized&se=2025-02-23T00%3A28%3A53Z&sr=c&sp=racwdxltfi&sig=Sanitized&comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05"
     [...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-796675ad-095f-9123-b0fe-03149fe950bc/sourceFolder/pik/test-file-21b50906-f0b0-3bd0-f35e-2f57fe586bbe?sv=Sanitized&se=2025-02-23T00%3A28%3A53Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "PageBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD52D7E2EC6619\"",
        "Last-Modified": "Sat, 22 Feb 2025 00:28:53 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05",
        "x-ms-version-id": "2025-02-22T00:28:53.5068185Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-796675ad-095f-9123-b0fe-03149fe950bc/sourceFolder/pik/test-file-21b50906-f0b0-3bd0-f35e-2f57fe586bbe?sv=Sanitized&se=2025-02-23T00%3A28%3A53Z&sr=c&sp=racwdxltfi&sig=Sanitized&comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05"
     [...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-796675ad-095f-9123-b0fe-03149fe950bc?sv=Sanitized&se=2025-02-23T00%3A28%3A53Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container&comp=list&prefix=sourceFolder%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://jalauzonnettest.blob.core.windows.net/\" ContainerName=\"test-container-796675ad-095f-9123-b0fe-03149fe950bc\"><Prefix>sourceFolder/</Prefix><Blobs><Blob><Name>sourceFolder/foo/test-file-d7080f76-e6de-2279-16be-d8e5878d1f11</Name><VersionId>2025-02-22T00:28:53.3319178Z</VersionId><IsCurrentVersion>true</IsCurrentVersion><Properties><Creation-Time>Sat, 22 Feb 2025 00:28:53 GMT</Creation-Time><Last-Modified>Sat, 22 Feb 2025 00:28:53 GMT</Last-Modified><Etag>0x8DD52D7E2D8B9E7</Etag><Content-Length>1024</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64 /><Content-MD5 /><Cache-Control>no-cache</Cache-Control><Content-Disposition>inline</Content-Disposition><x-ms-blob-sequence-number>0</x-ms-blob-sequence-number><BlobType>PageBlob</BlobType><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><Metadata><foo>bar</foo><meta>data</meta><Capital>letter</Capital><UPPER>case</UPPER></Metadata><OrMetadata /></Blob><Blob><Name>sourceFolder/pik/test-file-21b50906-f0b0-3bd0-f35e-2f57fe586bbe</Name><VersionId>2025-02-22T00:28:53.5068185Z</VersionId><IsCurrentVersion>true</IsCurrentVersion><Properties><Creation-Time>Sat, 22 Feb 2025 00:28:53 GMT</Creation-Time><Last-Modified>Sat, 22 Feb 2025 00:28:53 GMT</Last-Modified><Etag>0x8DD52D7E2F2F4D2</Etag><Content-Length>1024</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64 />[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-bc7b8c2b-18fb-d300-6eeb-e04a61714215/destFolder/foo/test-file-d7080f76-e6de-2279-16be-d8e5878d1f11",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-encoding": "",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Sat, 22 Feb 2025 00:28:53 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD52D7E30604D3\"",
        "Last-Modified": "Sat, 22 Feb 2025 00:28:53 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05",
        "x-ms-version-id": "2025-02-22T00:28:53.6747219Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-bc7b8c2b-18fb-d300-6eeb-e04a61714215/destFolder/rul/test-file-7dac25a9-d753-4ea7-b18c-c82beca321a2",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-encoding": "",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Sat, 22 Feb 2025 00:28:53 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD52D7E306EF12\"",
        "Last-Modified": "Sat, 22 Feb 2025 00:28:53 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05",
        "x-ms-version-id": "2025-02-22T00:28:53.6807186Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-bc7b8c2b-18fb-d300-6eeb-e04a61714215/destFolder/pik/test-file-21b50906-f0b0-3bd0-f35e-2f57fe586bbe",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-encoding": "",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Sat, 22 Feb 2025 00:28:53 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD52D7E306EF12\"",
        "Last-Modified": "Sat, 22 Feb 2025 00:28:53 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05",
        "x-ms-version-id": "2025-02-22T00:28:53.6807186Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-bc7b8c2b-18fb-d300-6eeb-e04a61714215/destFolder/rul/test-file-7dac25a9-d753-4ea7-b18c-c82beca321a2?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-copy-source": "https://jalauzonnettest.blob.core.windows.net/test-container-796675ad-095f-9123-b0fe-03149fe950bc/sourceFolder/rul/test-file-7dac25a9-d753-4ea7-b18c-c82beca321a2?sv=sanitized-value&se=2025-02-23T00%3A28%3A53Z&sr=c&sp=racwdxltfi&sig=Sanitized",
        "x-ms-date": "Sat, 22 Feb 2025 00:28:53 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD52D7E30F0432\"",
        "Last-Modified": "Sat, 22 Feb 2025 00:28:53 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-content-crc64": "kIKLM0rbuqo=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-bc7b8c2b-18fb-d300-6eeb-e04a61714215/destFolder/pik/test-file-21b50906-f0b0-3bd0-f35e-2f57fe586bbe?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-copy-source": "https://jalauzonnettest.blob.core.windows.net/test-container-796675ad-095f-9123-b0fe-03149fe950bc/sourceFolder/pik/test-file-21b50906-f0b0-3bd0-f35e-2f57fe586bbe?sv=sanitized-value&se=2025-02-23T00%3A28%3A53Z&sr=c&sp=racwdxltfi&sig=Sanitized",
        "x-ms-date": "Sat, 22 Feb 2025 00:28:53 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD52D7E30F0432\"",
        "Last-Modified": "Sat, 22 Feb 2025 00:28:53 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-content-crc64": "QHEMkHcYQnk=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-bc7b8c2b-18fb-d300-6eeb-e04a61714215/destFolder/foo/test-file-d7080f76-e6de-2279-16be-d8e5878d1f11?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-copy-source": "https://jalauzonnettest.blob.core.windows.net/test-container-796675ad-095f-9123-b0fe-03149fe950bc/sourceFolder/foo/test-file-d7080f76-e6de-2279-16be-d8e5878d1f11?sv=sanitized-value&se=2025-02-23T00%3A28%3A53Z&sr=c&sp=racwdxltfi&sig=Sanitized",
        "x-ms-date": "Sat, 22 Feb 2025 00:28:53 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD52D7E30F2B43\"",
        "Last-Modified": "Sat, 22 Feb 2025 00:28:53 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-content-crc64": "FxsIR3fr8l8=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-796675ad-095f-9123-b0fe-03149fe950bc?sv=Sanitized&se=2025-02-23T00%3A28%3A53Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container&comp=list&prefix=sourceFolder",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "20[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-bc7b8c2b-18fb-d300-6eeb-e04a61714215?restype=container&comp=list&prefix=destFolder",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 22 Feb 2025 00:28:53 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-796675ad-095f-9123-b0fe-03149fe950bc/sourceFolder/foo/test-file-d7080f76-e6de-2279-16be-d8e5878d1f11?sv=Sanitized&se=2025-02-23T00%3A28%3A53Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD52D7E2D8B9E7\"",
        "Last-Modified": "Sat, 22 Feb 2025 00:28:53 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Sat, 22 Feb 2025 00:28:53 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05",
        "x-ms-version-id": "2025-02-22T00:28:53.3319178Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-796675ad-095f-9123-b0fe-03149fe950bc/sourceFolder/foo/test-file-d7080f76-e6de-2279-16be-d8e5878d1f11?sv=Sanitized&se=2025-02-23T00%3A28%3A53Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DD52D7E2D8B9E7\"",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD52D7E2D8B9E7\"",
        "Last-Modified": "Sat, 22 Feb 2025 00:28:53 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Sat, 22 Feb 2025 00:28:53 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
  [...]
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-796675ad-095f-9123-b0fe-03149fe950bc?sv=Sanitized&se=2025-02-23T00%3A28%3A53Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 403,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "AuthorizationFailure",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>AuthorizationFailure</Code><Message>This request is not authorized to perform this operation.\n",
        "RequestId:b134d125-a01e-004f-05c0-84ab96000000\n",
        "Time:2025-02-22T00:28:54.9039696Z</Message></Error>"
      ]
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2025-02-21T16:28:53.2314212-08:00",
    "RandomSeed": "335397118",
    "Storage_TestConfigDefault": "ProductionTenant\njalauzonnettest\nU2FuaXRpemVk\nhttps://jalauzonnettest.blob.core.windows.net\nhttps://jalauzonnettest.file.core.windows.net\nhttps://jalauzonnettest.queue.core.windows.net\nhttps://jalauzonnettest.table.core.windows.net\n\n\n\n\nhttps://jalauzonnettest-secondary.blob.core.windows.net\nhttps://jalauzonnettest-secondary.file.core.windows.net\nhttps://jalauzonnettest-secondary.queue.core.windows.net\nhttps://jalauzonnettest-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://jalauzonnettest.blob.core.windows.net/;QueueEndpoint=https://jalauzonnettest.queue.core.windows.net/;FileEndpoint=https://jalauzonnettest.file.core.windows.net/;BlobSecondaryEndpoint=https://jalauzonnettest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jalauzonnettest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jalauzonnettest-secondary.file.core.windows.net/;AccountName=jalauzonnettest;AccountKey=U2FuaXRpemVk\ntestscope1\n\n"
  }
}
