{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-adb12ea1-2f30-b166-e21a-d9b2aa46a1b1?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 00:50:03 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D11FF28349C\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:50:03 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-adb12ea1-2f30-b166-e21a-d9b2aa46a1b1/sourceFolder/folder0/test-file-bb0c1eaf-b584-d50b-04e4-6ac2670460d6?sv=Sanitized&se=2025-03-08T00%3A50%3A03Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "PageBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D11FF3DB692\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:50:03 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-adb12ea1-2f30-b166-e21a-d9b2aa46a1b1/sourceFolder/folder0/test-file-bb0c1eaf-b584-d50b-04e4-6ac2670460d6?sv=Sanitized&se=2025-03-08T00%3A50%3A03Z&sr=c&sp=racwdxltfi&sig=Sanitized&comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": "ikh0VzmS7BHCr26OBl55mAeE67vt+wwv9OCVntt3pMneDv5IBIHDHDL6+dVGfM6ma9G64xik6I87RWNZ/U01SgulsPhfMZSGwM6J8wE36HcR7jMKvcCwOSVvDL8daR/kxK7JoczVRjk9NCJKG/WNA1zsSA4ZK41K9HbS8CXVaFeupC9SbUeqO6f5zYmeZh4w4QhjMSERy5khf6xVA1YUaMvLm3bFOpUUQQxmH14ErI5Yog8ccjY1ndmVMe6bVThR5GW90sunaqdyTvAUqqs6HdMe/GBH+PWUlv2cMAmneOzUFTr5RtnCsTdnqSNGIPMuWxMbfVjXCuxvKDzOCjqey9YDQJRwQdb5W0sp307STXUJbtT1jPuT/ApOih2d9Kb8yd5NQt9evRk8ISEMriuenNrGxJtlqD7[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-adb12ea1-2f30-b166-e21a-d9b2aa46a1b1/sourceFolder/folder0/folder1/test-file-7db7a6d9-7cf2-59b6-618d-a1be35a72b9a?sv=Sanitized&se=2025-03-08T00%3A50%3A03Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "PageBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D11FF4FA3CC\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:50:03 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-adb12ea1-2f30-b166-e21a-d9b2aa46a1b1/sourceFolder/folder0/folder1/test-file-7db7a6d9-7cf2-59b6-618d-a1be35a72b9a?sv=Sanitized&se=2025-03-08T00%3A50%3A03Z&sr=c&sp=racwdxltfi&sig=Sanitized&comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-05[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-adb12ea1-2f30-b166-e21a-d9b2aa46a1b1/sourceFolder/folder0/folder1/folder2/test-file-a91d437c-7abc-a352-3222-46373e24d257?sv=Sanitized&se=2025-03-08T00%3A50%3A03Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "PageBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D11FF61910A\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:50:03 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-adb12ea1-2f30-b166-e21a-d9b2aa46a1b1/sourceFolder/folder0/folder1/folder2/test-file-a91d437c-7abc-a352-3222-46373e24d257?sv=Sanitized&se=2025-03-08T00%3A50%3A03Z&sr=c&sp=racwdxltfi&sig=Sanitized&comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": [...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-adb12ea1-2f30-b166-e21a-d9b2aa46a1b1?sv=Sanitized&se=2025-03-08T00%3A50%3A03Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container&comp=list&prefix=sourceFolder%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.blob.core.windows.net/\" ContainerName=\"test-container-adb12ea1-2f30-b166-e21a-d9b2aa46a1b1\"><Prefix>sourceFolder/</Prefix><Blobs><Blob><Name>sourceFolder/folder0/folder1/folder2/test-file-a91d437c-7abc-a352-3222-46373e24d257</Name><Properties><Creation-Time>Fri, 07 Mar 2025 00:50:03 GMT</Creation-Time><Last-Modified>Fri, 07 Mar 2025 00:50:03 GMT</Last-Modified><Etag>0x8DD5D11FF6A39DA</Etag><Content-Length>1024</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64 /><Content-MD5 /><Cache-Control>no-cache</Cache-Control><Content-Disposition>inline</Content-Disposition><x-ms-blob-sequence-number>0</x-ms-blob-sequence-number><BlobType>PageBlob</BlobType><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><Metadata><foo>bar</foo><meta>data</meta><Capital>letter</Capital><UPPER>case</UPPER></Metadata><OrMetadata /></Blob><Blob><Name>sourceFolder/folder0/folder1/test-file-7db7a6d9-7cf2-59b6-618d-a1be35a72b9a</Name><Properties><Creation-Time>Fri, 07 Mar 2025 00:50:03 GMT</Creation-Time><Last-Modified>Fri, 07 Mar 2025 00:50:03 GMT</Last-Modified><Etag>0x8DD5D11FF589A6A</Etag><Content-Length>1024</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64 /><Content-MD5 /><Cache-Control>no-cache</Cache-Control><Content-Disposition>inlin[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-7befebc1-e9a3-3a9f-d041-da5957ef2c6f/destFolder/folder0/folder1/test-file-7db7a6d9-7cf2-59b6-618d-a1be35a72b9a",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-encoding": "",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Fri, 07 Mar 2025 00:50:03 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D11FF87B2E7\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:50:03 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-7befebc1-e9a3-3a9f-d041-da5957ef2c6f/destFolder/folder0/folder1/folder2/test-file-a91d437c-7abc-a352-3222-46373e24d257",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-encoding": "",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Fri, 07 Mar 2025 00:50:03 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D11FF88E9FE\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:50:03 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-7befebc1-e9a3-3a9f-d041-da5957ef2c6f/destFolder/folder0/test-file-bb0c1eaf-b584-d50b-04e4-6ac2670460d6",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-encoding": "",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Fri, 07 Mar 2025 00:50:03 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D11FF88E9FE\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:50:03 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-7befebc1-e9a3-3a9f-d041-da5957ef2c6f/destFolder/folder0/folder1/test-file-7db7a6d9-7cf2-59b6-618d-a1be35a72b9a?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-adb12ea1-2f30-b166-e21a-d9b2aa46a1b1/sourceFolder/folder0/folder1/test-file-7db7a6d9-7cf2-59b6-618d-a1be35a72b9a?sv=sanitized-value&se=2025-03-08T00%3A50%3A03Z&sr=c&sp=racwdxltfi&sig=Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 00:50:03 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D11FF911E2C\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:50:04 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-content-crc64": "wVWS/43I1V4=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-7befebc1-e9a3-3a9f-d041-da5957ef2c6f/destFolder/folder0/folder1/folder2/test-file-a91d437c-7abc-a352-3222-46373e24d257?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-adb12ea1-2f30-b166-e21a-d9b2aa46a1b1/sourceFolder/folder0/folder1/folder2/test-file-a91d437c-7abc-a352-3222-46373e24d257?sv=sanitized-value&se=2025-03-08T00%3A50%3A03Z&sr=c&sp=racwdxltfi&sig=Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 00:50:03 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D11FF92A316\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:50:04 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-content-crc64": "7SaFgUPeVB0=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-7befebc1-e9a3-3a9f-d041-da5957ef2c6f/destFolder/folder0/test-file-bb0c1eaf-b584-d50b-04e4-6ac2670460d6?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-adb12ea1-2f30-b166-e21a-d9b2aa46a1b1/sourceFolder/folder0/test-file-bb0c1eaf-b584-d50b-04e4-6ac2670460d6?sv=sanitized-value&se=2025-03-08T00%3A50%3A03Z&sr=c&sp=racwdxltfi&sig=Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 00:50:03 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D11FF92A316\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:50:04 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-content-crc64": "+6KZcs/TyG0=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-adb12ea1-2f30-b166-e21a-d9b2aa46a1b1?sv=Sanitized&se=2025-03-08T00%3A50%3A03Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container&comp=list&prefix=sourceFolder",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-7befebc1-e9a3-3a9f-d041-da5957ef2c6f?restype=container&comp=list&prefix=destFolder",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 00:50:04 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-adb12ea1-2f30-b166-e21a-d9b2aa46a1b1/sourceFolder/folder0/folder1/folder2/test-file-a91d437c-7abc-a352-3222-46373e24d257?sv=Sanitized&se=2025-03-08T00%3A50%3A03Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD5D11FF6A39DA\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:50:03 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Fri, 07 Mar 2025 00:50:03 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-adb12ea1-2f30-b166-e21a-d9b2aa46a1b1/sourceFolder/folder0/folder1/folder2/test-file-a91d437c-7abc-a352-3222-46373e24d257?sv=Sanitized&se=2025-03-08T00%3A50%3A03Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DD5D11FF6A39DA\"",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD5D11FF6A39DA\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:50:03 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Fri, 07 Mar 2025 00:50:03 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-[...]
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-adb12ea1-2f30-b166-e21a-d9b2aa46a1b1?sv=Sanitized&se=2025-03-08T00%3A50%3A03Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 403,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "AuthorizationFailure",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>AuthorizationFailure</Code><Message>This request is not authorized to perform this operation.\n",
        "RequestId:0d17ed72-501e-0047-0efa-8ecbef000000\n",
        "Time:2025-03-07T00:50:05.5071171Z</Message></Error>"
      ]
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2025-03-06T16:50:03.3651099-08:00",
    "RandomSeed": "1619701898",
    "Storage_TestConfigDefault": "ProductionTenant\namandapreprod\nU2FuaXRpemVk\nhttps://amandapreprod.blob.core.windows.net\nhttps://amandapreprod.file.core.windows.net\nhttps://amandapreprod.queue.core.windows.net\nhttps://amandapreprod.table.core.windows.net\n\n\n\n\nhttps://amandapreprod-secondary.blob.core.windows.net\nhttps://amandapreprod-secondary.file.core.windows.net\nhttps://amandapreprod-secondary.queue.core.windows.net\nhttps://amandapreprod-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandapreprod.blob.core.windows.net/;QueueEndpoint=https://amandapreprod.queue.core.windows.net/;FileEndpoint=https://amandapreprod.file.core.windows.net/;BlobSecondaryEndpoint=https://amandapreprod-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandapreprod-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandapreprod-secondary.file.core.windows.net/;AccountName=amandapreprod;AccountKey=U2FuaXRpemVk\nencryptionScope\n\n"
  }
}
