{
  "Entries": [
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-9bf40b33-e2af-3004-6414-43f294b8f219?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 11 Jul 2025 23:57:08 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDC0D6A5888851\"",
        "Last-Modified": "Fri, 11 Jul 2025 23:57:08 GMT",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-9bf40b33-e2af-3004-6414-43f294b8f219/sourceFolder/test-file-442707f6-4dac-0a73-16c6-2ed3d684ad95?sv=Sanitized&se=2025-07-12T23%3A57%3A08Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-length": "512",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "PageBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDC0D6A59E2BC4\"",
        "Last-Modified": "Fri, 11 Jul 2025 23:57:09 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05",
        "x-ms-version-id": "2025-07-11T23:57:09.0619332Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-9bf40b33-e2af-3004-6414-43f294b8f219/sourceFolder/test-file-442707f6-4dac-0a73-16c6-2ed3d684ad95?sv=Sanitized&se=2025-07-12T23%3A57%3A08Z&sr=c&sp=racwdxltfi&sig=Sanitized&comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-511",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": "4QKRpjNQzlBOyUw0gCJfrPIyLPYRQ3tB30APkyZWmQPqbPHU8wdiDNx83k9o82YSuXoqPublsJ2HT8fyQDsq9zBIShQwi7nr0CAalWUs2OvZ/dmrLFocBLxUTKM/b8ugUeYeIKhS4S7BPm7Gyxo4WnbbGEJif8vVLEVX3D4Vq2BUekN/DbhChxuq6e3rVjmhHPIsZFaJPdIbSPNj+gXwrJMNclDXuU2+mJEnuJXd6tYMtcBL6EYKyzxxY8TE34wVuT1a3ePoymKlbszFYYU8Pl4dVkVFpMNMA6cUZVWI+bgEEf5XggzyI+pdpnp6RWm2NCVmp4lH0BR6Dto802UNHHUTwFCH5LtRKzNa6P5I0b49XjEvIlEvvUHp3XQytU+FT4kEZ4QZLk9qFHxW7ecWMTwb/3Uz3foj5AMPnQdGH3Xj1Jl0RGo6JC/hxQ7V2c9Z06s4FrbaUXGP4IOBCZFHI/QGchhOou3S4dpGURfrTQsztcpbDgi/CIIn5GPmuRqemaIZz2a3CzC+ZTXblABao5N3TVTG7BTrR2mWJ72K6yi/p7d00n6kfKqananT43SCzEHQbmvG2K2OLoj8IeRzNHkMG+xI5dEU09GpLE5rGGP1E1p8uXy9+c8K5qP2qFrGJmkvxseIOudvu5uaHKteIhYkBg2J9nr9TyIdPf4tHio=",
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDC0D6A5A5A4BB\"",
        "Last-Modified": "Fri, 11 Jul 2025 23:57:09 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-content-crc64": "/sfdyh/cIi4=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-9bf40b33-e2af-3004-6414-43f294b8f219/sourceFolder/bar/test-file-38e3f3c6-9aaf-eff4-009c-475fae9d0e39?sv=Sanitized&se=2025-07-12T23%3A57%3A08Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-length": "512",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "PageBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDC0D6A5B8DBC7\"",
        "Last-Modified": "Fri, 11 Jul 2025 23:57:09 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05",
        "x-ms-version-id": "2025-07-11T23:57:09.2368327Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-9bf40b33-e2af-3004-6414-43f294b8f219/sourceFolder/bar/test-file-38e3f3c6-9aaf-eff4-009c-475fae9d0e39?sv=Sanitized&se=2025-07-12T23%3A57%3A08Z&sr=c&sp=racwdxltfi&sig=Sanitized&comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-511",
        "x-ms-version": "2025-11-05"
      [...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-9bf40b33-e2af-3004-6414-43f294b8f219/sourceFolder/pik/test-file-5a2188c2-f4fe-bd4e-6504-54772116870e?sv=Sanitized&se=2025-07-12T23%3A57%3A08Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-length": "512",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "PageBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDC0D6A5C77FA2\"",
        "Last-Modified": "Fri, 11 Jul 2025 23:57:09 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05",
        "x-ms-version-id": "2025-07-11T23:57:09.3327778Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-9bf40b33-e2af-3004-6414-43f294b8f219/sourceFolder/pik/test-file-5a2188c2-f4fe-bd4e-6504-54772116870e?sv=Sanitized&se=2025-07-12T23%3A57%3A08Z&sr=c&sp=racwdxltfi&sig=Sanitized&comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-511",
        "x-ms-version": "2025-11-05"
      [...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-9bf40b33-e2af-3004-6414-43f294b8f219?sv=Sanitized&se=2025-07-12T23%3A57%3A08Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container&comp=list&prefix=sourceFolder%2F&delimiter=%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://jalauzonnettest.blob.core.windows.net/\" ContainerName=\"test-container-9bf40b33-e2af-3004-6414-43f294b8f219\"><Prefix>sourceFolder/</Prefix><Delimiter>/</Delimiter><Blobs><BlobPrefix><Name>sourceFolder/bar/</Name></BlobPrefix><BlobPrefix><Name>sourceFolder/pik/</Name></BlobPrefix><Blob><Name>sourceFolder/test-file-2ccdaa5d-b518-e728-3419-271c7113dcc1</Name><VersionId>2025-07-11T23:57:09.1538805Z</VersionId><IsCurrentVersion>true</IsCurrentVersion><Properties><Creation-Time>Fri, 11 Jul 2025 23:57:09 GMT</Creation-Time><Last-Modified>Fri, 11 Jul 2025 23:57:09 GMT</Last-Modified><Etag>0x8DDC0D6A5B27418</Etag><Content-Length>512</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64 /><Content-MD5 /><Cache-Control>no-cache</Cache-Control><Content-Disposition>inline</Content-Disposition><x-ms-blob-sequence-number>0</x-ms-blob-sequence-number><BlobType>PageBlob</BlobType><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><Metadata><foo>bar</foo><meta>data</meta><Capital>letter</Capital><UPPER>case</UPPER></Metadata><OrMetadata /></Blob><Blob><Name>sourceFolder/test-file-442707f6-4dac-0a73-16c6-2ed3d684ad95</Name><VersionId>2025-07-11T23:57:09.0619332Z</VersionId><IsCurrentVersion>true</IsCurrentVersion><Properties><Creation-Time>Fri, 11 Jul 2025 23:57:09 GMT</Creation-Time><Last-Modified>Fri, 11 Jul 2025 23:57:09 GMT</Last-Modified><Etag>0x8DDC0D6A5A5A4BB</Etag><Content-Length>512</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64 /><Content-MD5 /><Cache-Control>no-cache</Cache-Control><Content-Disposition>inline</Content-Disposition><x-ms-blob-sequence-number>0</x-ms-blob-sequence-number><BlobType>PageBlob</BlobType><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><Metadata><foo>bar</foo><meta>data</meta><Capital>letter</Capital><UPPER>case</UPPER></Metadata><OrMetadata /></Blob></Blobs><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-9bf40b33-e2af-3004-6414-43f294b8f219?sv=Sanitized&se=2025-07-12T23%3A57%3A08Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container&comp=list&prefix=sourceFolder%2Fbar%2F&delimiter=%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "appli[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-ce44b444-6d24-5b0c-f1f2-256befec1823/destinationFolder/test-file-442707f6-4dac-0a73-16c6-2ed3d684ad95",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-encoding": "",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-length": "512",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Fri, 11 Jul 2025 23:57:09 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDC0D6A5E47940\"",
        "Last-Modified": "Fri, 11 Jul 2025 23:57:09 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05",
        "x-ms-version-id": "2025-07-11T23:57:09.5226688Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-9bf40b33-e2af-3004-6414-43f294b8f219?sv=Sanitized&se=2025-07-12T23%3A57%3A08Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container&comp=list&prefix=sourceFolder%2Fpik%2F&delimiter=%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "appli[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-ce44b444-6d24-5b0c-f1f2-256befec1823/destinationFolder/bar/test-file-38e3f3c6-9aaf-eff4-009c-475fae9d0e39",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-encoding": "",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-length": "512",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Fri, 11 Jul 2025 23:57:09 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDC0D6A5EA92D8\"",
        "Last-Modified": "Fri, 11 Jul 2025 23:57:09 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05",
        "x-ms-version-id": "2025-07-11T23:57:09.5626456Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-ce44b444-6d24-5b0c-f1f2-256befec1823/destinationFolder/test-file-442707f6-4dac-0a73-16c6-2ed3d684ad95?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-copy-source": "https://jalauzonnettest.blob.core.windows.net/test-container-9bf40b33-e2af-3004-6414-43f294b8f219/sourceFolder/test-file-442707f6-4dac-0a73-16c6-2ed3d684ad95?sv=sanitized-value&se=2025-07-12T23%3A57%3A08Z&sr=c&sp=racwdxltfi&sig=Sanitized",
        "x-ms-date": "Fri, 11 Jul 2025 23:57:09 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-511",
        "x-ms-source-range": "bytes=0-511",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDC0D6A5EC6753\"",
        "Last-Modified": "Fri, 11 Jul 2025 23:57:09 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-content-crc64": "/sfdyh/cIi4=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-ce44b444-6d24-5b0c-f1f2-256befec1823/destinationFolder/pik/test-file-5a2188c2-f4fe-bd4e-6504-54772116870e",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-encoding": "",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-length": "512",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Fri, 11 Jul 2025 23:57:09 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDC0D6A5F0D37D\"",
        "Last-Modified": "Fri, 11 Jul 2025 23:57:09 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05",
        "x-ms-version-id": "2025-07-11T23:57:09.6046218Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-ce44b444-6d24-5b0c-f1f2-256befec1823/destinationFolder/bar/test-file-38e3f3c6-9aaf-eff4-009c-475fae9d0e39?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-copy-source": "https://jalauzonnettest.blob.core.windows.net/test-container-9bf40b33-e2af-3004-6414-43f294b8f219/sourceFolder/bar/test-file-38e3f3c6-9aaf-eff4-009c-475fae9d0e39?sv=sanitized-value&se=2025-07-12T23%3A57%3A08Z&sr=c&sp=racwdxltfi&sig=Sanitized",
        "x-ms-date": "Fri, 11 Jul 2025 23:57:09 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-511",
        "x-ms-source-range": "bytes=0-511",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDC0D6A5F232DC\"",
        "Last-Modified": "Fri, 11 Jul 2025 23:57:09 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-content-crc64": "j4v7LZC4cho=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-ce44b444-6d24-5b0c-f1f2-256befec1823/destinationFolder/pik/test-file-5a2188c2-f4fe-bd4e-6504-54772116870e?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-copy-source": "https://jalauzonnettest.blob.core.windows.net/test-container-9bf40b33-e2af-3004-6414-43f294b8f219/sourceFolder/pik/test-file-5a2188c2-f4fe-bd4e-6504-54772116870e?sv=sanitized-value&se=2025-07-12T23%3A57%3A08Z&sr=c&sp=racwdxltfi&sig=Sanitized",
        "x-ms-date": "Fri, 11 Jul 2025 23:57:09 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-511",
        "x-ms-source-range": "bytes=0-511",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDC0D6A5F936B1\"",
        "Last-Modified": "Fri, 11 Jul 2025 23:57:09 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-content-crc64": "dSvh7ZWEDWk=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-9bf40b33-e2af-3004-6414-43f294b8f219?sv=Sanitized&se=2025-07-12T23%3A57%3A08Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container&comp=list&prefix=sourceFolder%2F",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": [...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-ce44b444-6d24-5b0c-f1f2-256befec1823?restype=container&comp=list&prefix=destinationFolder%2F",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 11 Jul 2025 23:57:09 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
 [...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-9bf40b33-e2af-3004-6414-43f294b8f219/sourceFolder/bar/test-file-38e3f3c6-9aaf-eff4-009c-475fae9d0e39?sv=Sanitized&se=2025-07-12T23%3A57%3A08Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DDC0D6A5BF918B\"",
        "Last-Modified": "Fri, 11 Jul 2025 23:57:09 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Fri, 11 Jul 2025 23:57:09 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-11-05",
        "x-ms-version-id": "2025-07-11T23:57:09.2368327Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-9bf40b33-e2af-3004-6414-43f294b8f219/sourceFolder/bar/test-file-38e3f3c6-9aaf-eff4-009c-475fae9d0e39?sv=Sanitized&se=2025-07-12T23%3A57%3A08Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DDC0D6A5BF918B\"",
        "x-ms-range": "bytes=0-511",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-511/512",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DDC0D6A5BF918B\"",
        "Last-Modified": "Fri, 11 Jul 2025 23:57:09 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Fri, 11 Jul 2025 23:57:09 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-11-05",
        "x-ms-version-id": "2025-07-11T23:57:09.2368327Z"
      },
      "ResponseBody": "ZPvX7ZeNxb4OJ1MW/OsPoL/LU9nqGqSiTJXC42OtnmHzMYNJnyLuOS4kKYhG3fIVjaeg4kk1TkpXNaEByuFbYIjyI8tnxgCd3BqrxfAbW26irVa7DbsXvuI48mqB7G5Mycn/VLomrcenAwYuiYhaO9oyXxyLn1LN2mTpL9OVG++sX/wmGwa0fACOEwq06TVZ3raQTo1RwCl2MnpWPX7zEecWgiqMMx/TfuIc/ItIGPEvkFAdBcxiW57TsOmMXj6CmwIjnmYLzauWvdCqNMOdLhqJJq0t1QwatCeLuII2RiCjmWGJJHqKI8Okhkj8tybaNoHPAzeRVMX1COk/fxQoYHawBptiEwmf/gLqiU/EHv0AsYIBZkPpEkSblByQSqSueyXRTLCKeCJ4LwQ0p8t2MensPs6RJ/kyxvRWxn/sD7NeOw0p8tJMdThgiDc+tGp5JWIypAvVHVQsnoW7NLGjiyBQ1Wy+TD4Xn8iVMZ7C8xKK3aAcumqoiB25/VNMkUGHvf0X7t79utkkGwRCQOy1aqtzMVYRhtG1qE1OBU/qyg6HDnOhqwUzjCLH+J5mZUgxA5Oo2V/rdjYsYUWRrrWKOVD2uzF4FL6lP6QzSo4yT0MEHQG7QvGum5g9dEm/ot1sPL5Ob6kWuO/UApq7tyuo+RICjJC0zvdfRx+ZO5915Z0="
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-9bf40b33-e2af-3004-6414-43f294b8f219?sv=Sanitized&se=2025-07-12T23%3A57%3A08Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 403,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "AuthorizationFailure",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>AuthorizationFailure</Code><Message>This request is not authorized to perform this operation.\n",
        "RequestId:4c8e531d-201e-0041-3dbf-f28226000000\n",
        "Time:2025-07-11T23:57:11.1269900Z</Message></Error>"
      ]
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2025-07-11T16:57:08.9691697-07:00",
    "RandomSeed": "933353086",
    "Storage_TestConfigDefault": "ProductionTenant\njalauzonnettest\nU2FuaXRpemVk\nhttps://jalauzonnettest.blob.core.windows.net\nhttps://jalauzonnettest.file.core.windows.net\nhttps://jalauzonnettest.queue.core.windows.net\nhttps://jalauzonnettest.table.core.windows.net\n\n\n\n\nhttps://jalauzonnettest-secondary.blob.core.windows.net\nhttps://jalauzonnettest-secondary.file.core.windows.net\nhttps://jalauzonnettest-secondary.queue.core.windows.net\nhttps://jalauzonnettest-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://jalauzonnettest.blob.core.windows.net/;QueueEndpoint=https://jalauzonnettest.queue.core.windows.net/;FileEndpoint=https://jalauzonnettest.file.core.windows.net/;BlobSecondaryEndpoint=https://jalauzonnettest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jalauzonnettest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jalauzonnettest-secondary.file.core.windows.net/;AccountName=jalauzonnettest;AccountKey=U2FuaXRpemVk\ntestscope1\n\n"
  }
}
