{
  "Entries": [
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-64a09614-6cb4-0c47-1fc5-333a075584ba?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 22 Feb 2025 00:29:25 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD52D7F5BA92E7\"",
        "Last-Modified": "Sat, 22 Feb 2025 00:29:25 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-64a09614-6cb4-0c47-1fc5-333a075584ba/sourceFolder/folder0/test-file-b4fbcdca-6f1e-d9e8-9d49-6bf1ffe57db8?sv=Sanitized&se=2025-02-23T00%3A29%3A25Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "PageBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD52D7F5CCD7CA\"",
        "Last-Modified": "Sat, 22 Feb 2025 00:29:25 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05",
        "x-ms-version-id": "2025-02-22T00:29:25.1767242Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-64a09614-6cb4-0c47-1fc5-333a075584ba/sourceFolder/folder0/test-file-b4fbcdca-6f1e-d9e8-9d49-6bf1ffe57db8?sv=Sanitized&se=2025-02-23T00%3A29%3A25Z&sr=c&sp=racwdxltfi&sig=Sanitized&comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": "iSblOMP1/2X8OINn6dB1ALYhBZTZE5fLBsMRvGjmfICJzsMtZ6cl1M2Vt+brgO/M1Go73eDp33aPGjIA40P9FrsD3hsNSJgO+zHGQ1yw34bTROf9q56gn+5MnU10JfCJmKAq6KHTv4vSLOGvIpsa3jusLJ9b/2scYj8swKpLmdZAPaq7hffk/4VcK3688X1SMb8SyPhRLZg0DoVip/7hhpILbuXwXlhDxywa/9PtX3HB2Y7rONHd7g8Sh3dxgliGeqTrsYKXYdNmzgDLNy7ERq4UoM1v9U3BLX/V3tbg0kXTk4QvAa7uKne7hWrQErfhTUDJXeGLFoVWKoMDwYP8hfy696SplUX/JnZVtHDj8BvI9JGWFnVjSH3/2Ncq62j0vv9uFhoTN7f7yjZrNmEVczloOs3xZm6[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-64a09614-6cb4-0c47-1fc5-333a075584ba/sourceFolder/folder0/folder1/test-file-a435ab2b-8402-b7ab-2695-55242d6d634c?sv=Sanitized&se=2025-02-23T00%3A29%3A25Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "PageBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD52D7F5DA1C48\"",
        "Last-Modified": "Sat, 22 Feb 2025 00:29:25 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05",
        "x-ms-version-id": "2025-02-22T00:29:25.2636744Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-64a09614-6cb4-0c47-1fc5-333a075584ba/sourceFolder/folder0/folder1/test-file-a435ab2b-8402-b7ab-2695-55242d6d634c?sv=Sanitized&se=2025-02-23T00%3A29%3A25Z&sr=c&sp=racwdxltfi&sig=Sanitized&comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-64a09614-6cb4-0c47-1fc5-333a075584ba?sv=Sanitized&se=2025-02-23T00%3A29%3A25Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container&comp=list&prefix=sourceFolder%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://jalauzonnettest.blob.core.windows.net/\" ContainerName=\"test-container-64a09614-6cb4-0c47-1fc5-333a075584ba\"><Prefix>sourceFolder/</Prefix><Blobs><Blob><Name>sourceFolder/folder0/folder1/test-file-a435ab2b-8402-b7ab-2695-55242d6d634c</Name><VersionId>2025-02-22T00:29:25.2636744Z</VersionId><IsCurrentVersion>true</IsCurrentVersion><Properties><Creation-Time>Sat, 22 Feb 2025 00:29:25 GMT</Creation-Time><Last-Modified>Sat, 22 Feb 2025 00:29:25 GMT</Last-Modified><Etag>0x8DD52D7F5E0D20E</Etag><Content-Length>1024</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64 /><Content-MD5 /><Cache-Control>no-cache</Cache-Control><Content-Disposition>inline</Content-Disposition><x-ms-blob-sequence-number>0</x-ms-blob-sequence-number><BlobType>PageBlob</BlobType><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><Metadata><foo>bar</foo><meta>data</meta><Capital>letter</Capital><UPPER>case</UPPER></Metadata><OrMetadata /></Blob><Blob><Name>sourceFolder/folder0/test-file-b4fbcdca-6f1e-d9e8-9d49-6bf1ffe57db8</Name><VersionId>2025-02-22T00:29:25.1767242Z</VersionId><IsCurrentVersion>true</IsCurrentVersion><Properties><Creation-Time>Sat, 22 Feb 2025 00:29:25 GMT</Creation-Time><Last-Modified>Sat, 22 Feb 2025 00:29:25 GMT</Last-Modified><Etag>0x8DD52D7F5D38D90</Etag><Content-Length>1024</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64 /><Content-MD5 /><Cache-Control>no-cache</Cache-Control><Content-Disposition>inline</Content-Disposition><x-ms-blob-sequence-number>0</x-ms-blob-sequence-number><BlobType>PageBlob</BlobType><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><Metadata><foo>bar</foo><meta>data</meta><Capital>letter</Capital><UPPER>case</UPPER></Metadata><OrMetadata /></Blob></Blobs><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-b913ba4a-0a88-dfb5-8d50-dc202760a406/destFolder/folder0/folder1/test-file-a435ab2b-8402-b7ab-2695-55242d6d634c",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-encoding": "",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Sat, 22 Feb 2025 00:29:25 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD52D7F5F40922\"",
        "Last-Modified": "Sat, 22 Feb 2025 00:29:25 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05",
        "x-ms-version-id": "2025-02-22T00:29:25.4335778Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-b913ba4a-0a88-dfb5-8d50-dc202760a406/destFolder/folder0/test-file-b4fbcdca-6f1e-d9e8-9d49-6bf1ffe57db8",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-encoding": "",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Sat, 22 Feb 2025 00:29:25 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD52D7F5F4A54E\"",
        "Last-Modified": "Sat, 22 Feb 2025 00:29:25 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05",
        "x-ms-version-id": "2025-02-22T00:29:25.4375758Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-b913ba4a-0a88-dfb5-8d50-dc202760a406/destFolder/folder0/folder1/test-file-a435ab2b-8402-b7ab-2695-55242d6d634c?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-copy-source": "https://jalauzonnettest.blob.core.windows.net/test-container-64a09614-6cb4-0c47-1fc5-333a075584ba/sourceFolder/folder0/folder1/test-file-a435ab2b-8402-b7ab-2695-55242d6d634c?sv=sanitized-value&se=2025-02-23T00%3A29%3A25Z&sr=c&sp=racwdxltfi&sig=Sanitized",
        "x-ms-date": "Sat, 22 Feb 2025 00:29:25 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD52D7F5FBD031\"",
        "Last-Modified": "Sat, 22 Feb 2025 00:29:25 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-content-crc64": "c4rmCT02uKI=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-b913ba4a-0a88-dfb5-8d50-dc202760a406/destFolder/folder0/test-file-b4fbcdca-6f1e-d9e8-9d49-6bf1ffe57db8?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-copy-source": "https://jalauzonnettest.blob.core.windows.net/test-container-64a09614-6cb4-0c47-1fc5-333a075584ba/sourceFolder/folder0/test-file-b4fbcdca-6f1e-d9e8-9d49-6bf1ffe57db8?sv=sanitized-value&se=2025-02-23T00%3A29%3A25Z&sr=c&sp=racwdxltfi&sig=Sanitized",
        "x-ms-date": "Sat, 22 Feb 2025 00:29:25 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD52D7F5FC454A\"",
        "Last-Modified": "Sat, 22 Feb 2025 00:29:25 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-content-crc64": "4Ppbo08LPco=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-64a09614-6cb4-0c47-1fc5-333a075584ba?sv=Sanitized&se=2025-02-23T00%3A29%3A25Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container&comp=list&prefix=sourceFolder",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "20[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-b913ba4a-0a88-dfb5-8d50-dc202760a406?restype=container&comp=list&prefix=destFolder",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 22 Feb 2025 00:29:25 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-64a09614-6cb4-0c47-1fc5-333a075584ba/sourceFolder/folder0/folder1/test-file-a435ab2b-8402-b7ab-2695-55242d6d634c?sv=Sanitized&se=2025-02-23T00%3A29%3A25Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD52D7F5E0D20E\"",
        "Last-Modified": "Sat, 22 Feb 2025 00:29:25 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Sat, 22 Feb 2025 00:29:25 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05",
        "x-ms-version-id": "2025-02-22T00:29:25.2636744Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-64a09614-6cb4-0c47-1fc5-333a075584ba/sourceFolder/folder0/folder1/test-file-a435ab2b-8402-b7ab-2695-55242d6d634c?sv=Sanitized&se=2025-02-23T00%3A29%3A25Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DD52D7F5E0D20E\"",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD52D7F5E0D20E\"",
        "Last-Modified": "Sat, 22 Feb 2025 00:29:25 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Sat, 22 Feb 2025 00:29:25 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
  [...]
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-64a09614-6cb4-0c47-1fc5-333a075584ba?sv=Sanitized&se=2025-02-23T00%3A29%3A25Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 403,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "AuthorizationFailure",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>AuthorizationFailure</Code><Message>This request is not authorized to perform this operation.\n",
        "RequestId:deebeaca-101e-0028-7dc0-84bb6a000000\n",
        "Time:2025-02-22T00:29:26.3053123Z</Message></Error>"
      ]
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2025-02-21T16:29:25.0917599-08:00",
    "RandomSeed": "2036531783",
    "Storage_TestConfigDefault": "ProductionTenant\njalauzonnettest\nU2FuaXRpemVk\nhttps://jalauzonnettest.blob.core.windows.net\nhttps://jalauzonnettest.file.core.windows.net\nhttps://jalauzonnettest.queue.core.windows.net\nhttps://jalauzonnettest.table.core.windows.net\n\n\n\n\nhttps://jalauzonnettest-secondary.blob.core.windows.net\nhttps://jalauzonnettest-secondary.file.core.windows.net\nhttps://jalauzonnettest-secondary.queue.core.windows.net\nhttps://jalauzonnettest-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://jalauzonnettest.blob.core.windows.net/;QueueEndpoint=https://jalauzonnettest.queue.core.windows.net/;FileEndpoint=https://jalauzonnettest.file.core.windows.net/;BlobSecondaryEndpoint=https://jalauzonnettest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jalauzonnettest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jalauzonnettest-secondary.file.core.windows.net/;AccountName=jalauzonnettest;AccountKey=U2FuaXRpemVk\ntestscope1\n\n"
  }
}
