{
  "Entries": [
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-b2921895-95f4-3015-777c-62176e332ecc?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 07 May 2025 22:22:02 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD8DB59725BB87\"",
        "Last-Modified": "Wed, 07 May 2025 22:22:02 GMT",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-b2921895-95f4-3015-777c-62176e332ecc/sourceFolder/test-file-099a6836-7198-87e1-2aa2-4eb98ef4e5ea?sv=Sanitized&se=2025-05-08T22%3A22%3A02Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "PageBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD8DB59739F864\"",
        "Last-Modified": "Wed, 07 May 2025 22:22:02 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05",
        "x-ms-version-id": "2025-05-07T22:22:02.2234212Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-b2921895-95f4-3015-777c-62176e332ecc/sourceFolder/test-file-099a6836-7198-87e1-2aa2-4eb98ef4e5ea?sv=Sanitized&se=2025-05-08T22%3A22%3A02Z&sr=c&sp=racwdxltfi&sig=Sanitized&comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": "KwVtN0zdCqZDYBCKVNSj0eENhu7i5xNl/BLH66R+zWFQzkEFYt0XWF70xjdgVjJW/3zYgW32B0TyBzo5FR8CxJOvOoaSnW8D9S2Q7iDbBKbgcesnpUz0Wcf9E1qi3UI+8gGksRyrw2EN1Is/ZRgjFwKUWKQz2h9Gu+C+lYoUYRjqUfwfNlOKNK2KGtDBtPSu2fxXDoWeCxfiXvY77C7X+HNyVBMbBOCvCiP2qb9PhQbsELuNvVOTTEbkPNhcTkd/siJdTl/gktUbpwRhp2JYk9nvT9xySTsg3wjNN8cIU7vcd/ed8TanDH3mchVOMqTkjKn+bP9rDGjnPG5XElsNElRIhDBruqGiSEJfi9cm0a1j6aodCea8cWqOtbXHUPki2WDABq1zeNEIWyS8DICRwWvB8ymx7wh[...]
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-b2921895-95f4-3015-777c-62176e332ecc/sourceFolder/bar/test-file-8ef98d10-590b-a07d-108f-91316385bfcb?sv=Sanitized&se=2025-05-08T22%3A22%3A02Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "PageBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD8DB5975544A6\"",
        "Last-Modified": "Wed, 07 May 2025 22:22:02 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05",
        "x-ms-version-id": "2025-05-07T22:22:02.4023206Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-b2921895-95f4-3015-777c-62176e332ecc/sourceFolder/bar/test-file-8ef98d10-590b-a07d-108f-91316385bfcb?sv=Sanitized&se=2025-05-08T22%3A22%3A02Z&sr=c&sp=racwdxltfi&sig=Sanitized&comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-07-05"
     [...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-b2921895-95f4-3015-777c-62176e332ecc/sourceFolder/pik/test-file-221ae684-4796-328a-f213-040df1397b52?sv=Sanitized&se=2025-05-08T22%3A22%3A02Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "PageBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD8DB59762D737\"",
        "Last-Modified": "Wed, 07 May 2025 22:22:02 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05",
        "x-ms-version-id": "2025-05-07T22:22:02.4912695Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-b2921895-95f4-3015-777c-62176e332ecc/sourceFolder/pik/test-file-221ae684-4796-328a-f213-040df1397b52?sv=Sanitized&se=2025-05-08T22%3A22%3A02Z&sr=c&sp=racwdxltfi&sig=Sanitized&comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-07-05"
     [...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-b2921895-95f4-3015-777c-62176e332ecc?sv=Sanitized&se=2025-05-08T22%3A22%3A02Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container&comp=list&prefix=sourceFolder%2F&delimiter=%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://jalauzonnettest.blob.core.windows.net/\" ContainerName=\"test-container-b2921895-95f4-3015-777c-62176e332ecc\"><Prefix>sourceFolder/</Prefix><Delimiter>/</Delimiter><Blobs><BlobPrefix><Name>sourceFolder/bar/</Name></BlobPrefix><BlobPrefix><Name>sourceFolder/pik/</Name></BlobPrefix><Blob><Name>sourceFolder/test-file-099a6836-7198-87e1-2aa2-4eb98ef4e5ea</Name><VersionId>2025-05-07T22:22:02.2234212Z</VersionId><IsCurrentVersion>true</IsCurrentVersion><Properties><Creation-Time>Wed, 07 May 2025 22:22:02 GMT</Creation-Time><Last-Modified>Wed, 07 May 2025 22:22:02 GMT</Last-Modified><Etag>0x8DD8DB59740AE2E</Etag><Content-Length>1024</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64 /><Content-MD5 /><Cache-Control>no-cache</Cache-Control><Content-Disposition>inline</Content-Disposition><x-ms-blob-sequence-number>0</x-ms-blob-sequence-number><BlobType>PageBlob</BlobType><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><Metadata><foo>bar</foo><meta>data</meta><Capital>letter</Capital><UPPER>case</UPPER></Metadata><OrMetadata /></Blob><Blob><Name>sourceFolder/test-file-ff324c34-e96a-2bc8-84e4-013b54a3ef42</Name><VersionId>2025-05-07T22:22:02.3113715Z</VersionId><IsCurrentVersion>true</IsCurrentVersion><Properties><Creation-Time>Wed, 07 May 2025 22:22:02 GMT</Creation-Time><Last-Modified>Wed, 07 May 2025 22:22:02 GMT</Last-Modified><Etag>0x8DD8DB5974E8ED9</Etag><Content-Length>1024</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64 /><Content-MD5 /><Cache-Control>no-cache</Cache-Control><Content-Disposition>inline</Content-Disposition><x-ms-blob-sequence-number>0</x-ms-blob-sequence-number><BlobType>PageBlob</BlobType><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><Metadata><foo>bar</foo><meta>data</meta><Capital>letter</Capital><UPPER>case</UPPER></Metadata><OrMetadata /></Blob></Blobs><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-b2921895-95f4-3015-777c-62176e332ecc?sv=Sanitized&se=2025-05-08T22%3A22%3A02Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container&comp=list&prefix=sourceFolder%2Fbar%2F&delimiter=%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "appli[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-f0516d94-feaf-3db1-671c-b14415e6d098/destPrefix/test-file-099a6836-7198-87e1-2aa2-4eb98ef4e5ea",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-encoding": "",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Wed, 07 May 2025 22:22:02 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD8DB5977DD560\"",
        "Last-Modified": "Wed, 07 May 2025 22:22:02 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05",
        "x-ms-version-id": "2025-05-07T22:22:02.6681696Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-b2921895-95f4-3015-777c-62176e332ecc?sv=Sanitized&se=2025-05-08T22%3A22%3A02Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container&comp=list&prefix=sourceFolder%2Fpik%2F&delimiter=%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "appli[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-f0516d94-feaf-3db1-671c-b14415e6d098/destPrefix/bar/test-file-8ef98d10-590b-a07d-108f-91316385bfcb",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-encoding": "",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Wed, 07 May 2025 22:22:02 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD8DB597848B27\"",
        "Last-Modified": "Wed, 07 May 2025 22:22:02 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05",
        "x-ms-version-id": "2025-05-07T22:22:02.7121447Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-f0516d94-feaf-3db1-671c-b14415e6d098/destPrefix/test-file-099a6836-7198-87e1-2aa2-4eb98ef4e5ea?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://jalauzonnettest.blob.core.windows.net/test-container-b2921895-95f4-3015-777c-62176e332ecc/sourceFolder/test-file-099a6836-7198-87e1-2aa2-4eb98ef4e5ea?sv=sanitized-value&se=2025-05-08T22%3A22%3A02Z&sr=c&sp=racwdxltfi&sig=Sanitized",
        "x-ms-date": "Wed, 07 May 2025 22:22:02 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD8DB597865FA3\"",
        "Last-Modified": "Wed, 07 May 2025 22:22:02 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-content-crc64": "uU5IygoJhK8=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-f0516d94-feaf-3db1-671c-b14415e6d098/destPrefix/pik/test-file-221ae684-4796-328a-f213-040df1397b52",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-encoding": "",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Wed, 07 May 2025 22:22:02 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD8DB5978B40EC\"",
        "Last-Modified": "Wed, 07 May 2025 22:22:02 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05",
        "x-ms-version-id": "2025-05-07T22:22:02.7561196Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-f0516d94-feaf-3db1-671c-b14415e6d098/destPrefix/bar/test-file-8ef98d10-590b-a07d-108f-91316385bfcb?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://jalauzonnettest.blob.core.windows.net/test-container-b2921895-95f4-3015-777c-62176e332ecc/sourceFolder/bar/test-file-8ef98d10-590b-a07d-108f-91316385bfcb?sv=sanitized-value&se=2025-05-08T22%3A22%3A02Z&sr=c&sp=racwdxltfi&sig=Sanitized",
        "x-ms-date": "Wed, 07 May 2025 22:22:02 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD8DB5978D1569\"",
        "Last-Modified": "Wed, 07 May 2025 22:22:02 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-content-crc64": "KBWDWC5vvoQ=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-f0516d94-feaf-3db1-671c-b14415e6d098/destPrefix/pik/test-file-221ae684-4796-328a-f213-040df1397b52?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-copy-source": "https://jalauzonnettest.blob.core.windows.net/test-container-b2921895-95f4-3015-777c-62176e332ecc/sourceFolder/pik/test-file-221ae684-4796-328a-f213-040df1397b52?sv=sanitized-value&se=2025-05-08T22%3A22%3A02Z&sr=c&sp=racwdxltfi&sig=Sanitized",
        "x-ms-date": "Wed, 07 May 2025 22:22:02 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD8DB597930801\"",
        "Last-Modified": "Wed, 07 May 2025 22:22:02 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-content-crc64": "tRNA7eLw+SI=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-b2921895-95f4-3015-777c-62176e332ecc?sv=Sanitized&se=2025-05-08T22%3A22%3A02Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container&comp=list&prefix=sourceFolder",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "20[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-f0516d94-feaf-3db1-671c-b14415e6d098?restype=container&comp=list&prefix=destPrefix",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 07 May 2025 22:22:03 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-b2921895-95f4-3015-777c-62176e332ecc/sourceFolder/bar/test-file-8ef98d10-590b-a07d-108f-91316385bfcb?sv=Sanitized&se=2025-05-08T22%3A22%3A02Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD8DB5975BD35C\"",
        "Last-Modified": "Wed, 07 May 2025 22:22:02 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Wed, 07 May 2025 22:22:02 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-07-05",
        "x-ms-version-id": "2025-05-07T22:22:02.4023206Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-b2921895-95f4-3015-777c-62176e332ecc/sourceFolder/bar/test-file-8ef98d10-590b-a07d-108f-91316385bfcb?sv=Sanitized&se=2025-05-08T22%3A22%3A02Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DD8DB5975BD35C\"",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD8DB5975BD35C\"",
        "Last-Modified": "Wed, 07 May 2025 22:22:02 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Wed, 07 May 2025 22:22:02 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
  [...]
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-b2921895-95f4-3015-777c-62176e332ecc?sv=Sanitized&se=2025-05-08T22%3A22%3A02Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 403,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "AuthorizationFailure",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>AuthorizationFailure</Code><Message>This request is not authorized to perform this operation.\n",
        "RequestId:c5c20888-101e-0028-5b9e-bfbb6a000000\n",
        "Time:2025-05-07T22:22:04.2278687Z</Message></Error>"
      ]
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2025-05-07T15:22:02.1267959-07:00",
    "RandomSeed": "1967808757",
    "Storage_TestConfigDefault": "ProductionTenant\njalauzonnettest\nU2FuaXRpemVk\nhttps://jalauzonnettest.blob.core.windows.net\nhttps://jalauzonnettest.file.core.windows.net\nhttps://jalauzonnettest.queue.core.windows.net\nhttps://jalauzonnettest.table.core.windows.net\n\n\n\n\nhttps://jalauzonnettest-secondary.blob.core.windows.net\nhttps://jalauzonnettest-secondary.file.core.windows.net\nhttps://jalauzonnettest-secondary.queue.core.windows.net\nhttps://jalauzonnettest-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://jalauzonnettest.blob.core.windows.net/;QueueEndpoint=https://jalauzonnettest.queue.core.windows.net/;FileEndpoint=https://jalauzonnettest.file.core.windows.net/;BlobSecondaryEndpoint=https://jalauzonnettest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jalauzonnettest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jalauzonnettest-secondary.file.core.windows.net/;AccountName=jalauzonnettest;AccountKey=U2FuaXRpemVk\ntestscope1\n\n"
  }
}
