{
  "Entries": [
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-26c32a98-6473-5c27-4c96-2672f15c7413?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 07 May 2025 22:21:41 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD8DB58AF68752\"",
        "Last-Modified": "Wed, 07 May 2025 22:21:41 GMT",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-26c32a98-6473-5c27-4c96-2672f15c7413/sourceFolder/test-file-1b2d8fbe-1895-caa4-c37f-6c299aa9f21c?sv=Sanitized&se=2025-05-08T22%3A21%3A41Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-length": "512",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "PageBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD8DB58B08DFB4\"",
        "Last-Modified": "Wed, 07 May 2025 22:21:41 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05",
        "x-ms-version-id": "2025-05-07T22:21:41.7690036Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-26c32a98-6473-5c27-4c96-2672f15c7413/sourceFolder/test-file-1b2d8fbe-1895-caa4-c37f-6c299aa9f21c?sv=Sanitized&se=2025-05-08T22%3A21%3A41Z&sr=c&sp=racwdxltfi&sig=Sanitized&comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-511",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": "0WiIyEQomDxwKRJNoZPtnLpgkPT27/Rv9T6IOKHr4IgsOVgxISrYp7m5wOI8S03/btr+iapePOJ0GNIFn1+ahEmKIWg6u3qQiOk7PC8SM6nxicnH7Vbezfx1vQhX0ghZHjuZsSrkxLNfbQHBI/+zYeQoFBaW05fyq1Rrxf5xOLXg4R3zeYJ/DMUWZ39VHan8wlskL77yw0ujpwXWef+17TVL4ELhv+hiqAdQf2sXnI6qbwKiTQn37h3SUNJ8qZPGYXpKCjxmGgNzwoa3oUPfjAp3Kwr8EqArVPEkD28W5v9zih7xzJJRQ1T/LouCQE3a8sPHBH2JyU7ZHrVLQguTXdyGQxcl7r94Jee1/OQVqRSkSh2rTuGB6sDPF63cBgFJa9Gu+/w1tAMET96W08xqxHWhpvft6A76BFlWVtYSmx/lbJESZq0XbpYZp/8C6xbzZVM4Ol8JW4LDtPaj3l0t8rO/sGc7V17Hijhh1EEO+BlDY/GD2WHA3BEOT7G3dI847LRMQzuvtw30cLAmqIZBtLzdX3tsqRhR/9RVLQisEBWoKeiMwbTek6vjjmmwmTSKzJr12RQUy0Kc+0RmWYoFSGCafn6etPMH/8zPiBquoGWgy2BttjYBlF2l78Zwdzoh3kYJFhu17Bin7tpIREIn7Vrexo4qmJEpmekg+MQslog=",
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD8DB58B0FBC8D\"",
        "Last-Modified": "Wed, 07 May 2025 22:21:41 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-content-crc64": "NsJ48BL3pog=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-26c32a98-6473-5c27-4c96-2672f15c7413/sourceFolder/bar/test-file-f25a535e-a3f7-6242-6c40-f8de5d421681?sv=Sanitized&se=2025-05-08T22%3A21%3A41Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-length": "512",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "PageBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD8DB58B23DDDB\"",
        "Last-Modified": "Wed, 07 May 2025 22:21:41 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05",
        "x-ms-version-id": "2025-05-07T22:21:41.9459035Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-26c32a98-6473-5c27-4c96-2672f15c7413/sourceFolder/bar/test-file-f25a535e-a3f7-6242-6c40-f8de5d421681?sv=Sanitized&se=2025-05-08T22%3A21%3A41Z&sr=c&sp=racwdxltfi&sig=Sanitized&comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-511",
        "x-ms-version": "2025-07-05"
      [...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-26c32a98-6473-5c27-4c96-2672f15c7413/sourceFolder/pik/test-file-47ebc844-31e8-d229-0fda-bc25ca8a23e4?sv=Sanitized&se=2025-05-08T22%3A21%3A41Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-length": "512",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "PageBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD8DB58B312261\"",
        "Last-Modified": "Wed, 07 May 2025 22:21:42 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05",
        "x-ms-version-id": "2025-05-07T22:21:42.0328545Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-26c32a98-6473-5c27-4c96-2672f15c7413/sourceFolder/pik/test-file-47ebc844-31e8-d229-0fda-bc25ca8a23e4?sv=Sanitized&se=2025-05-08T22%3A21%3A41Z&sr=c&sp=racwdxltfi&sig=Sanitized&comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-511",
        "x-ms-version": "2025-07-05"
      [...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-26c32a98-6473-5c27-4c96-2672f15c7413?sv=Sanitized&se=2025-05-08T22%3A21%3A41Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container&comp=list&prefix=sourceFolder%2F&delimiter=%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://jalauzonnettest.blob.core.windows.net/\" ContainerName=\"test-container-26c32a98-6473-5c27-4c96-2672f15c7413\"><Prefix>sourceFolder/</Prefix><Delimiter>/</Delimiter><Blobs><BlobPrefix><Name>sourceFolder/bar/</Name></BlobPrefix><BlobPrefix><Name>sourceFolder/pik/</Name></BlobPrefix><Blob><Name>sourceFolder/test-file-1b2d8fbe-1895-caa4-c37f-6c299aa9f21c</Name><VersionId>2025-05-07T22:21:41.7690036Z</VersionId><IsCurrentVersion>true</IsCurrentVersion><Properties><Creation-Time>Wed, 07 May 2025 22:21:41 GMT</Creation-Time><Last-Modified>Wed, 07 May 2025 22:21:41 GMT</Last-Modified><Etag>0x8DD8DB58B0FBC8D</Etag><Content-Length>512</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64 /><Content-MD5 /><Cache-Control>no-cache</Cache-Control><Content-Disposition>inline</Content-Disposition><x-ms-blob-sequence-number>0</x-ms-blob-sequence-number><BlobType>PageBlob</BlobType><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><Metadata><foo>bar</foo><meta>data</meta><Capital>letter</Capital><UPPER>case</UPPER></Metadata><OrMetadata /></Blob><Blob><Name>sourceFolder/test-file-30f651d0-4e0b-ee99-925c-76b8ea3b5333</Name><VersionId>2025-05-07T22:21:41.8579535Z</VersionId><IsCurrentVersion>true</IsCurrentVersion><Properties><Creation-Time>Wed, 07 May 2025 22:21:41 GMT</Creation-Time><Last-Modified>Wed, 07 May 2025 22:21:41 GMT</Last-Modified><Etag>0x8DD8DB58B1D2816</Etag><Content-Length>512</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64 /><Content-MD5 /><Cache-Control>no-cache</Cache-Control><Content-Disposition>inline</Content-Disposition><x-ms-blob-sequence-number>0</x-ms-blob-sequence-number><BlobType>PageBlob</BlobType><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><Metadata><foo>bar</foo><meta>data</meta><Capital>letter</Capital><UPPER>case</UPPER></Metadata><OrMetadata /></Blob></Blobs><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-26c32a98-6473-5c27-4c96-2672f15c7413?sv=Sanitized&se=2025-05-08T22%3A21%3A41Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container&comp=list&prefix=sourceFolder%2Fbar%2F&delimiter=%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "appli[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-8c186032-041b-4af0-8e14-7e4a45002567/destinationFolder/test-file-1b2d8fbe-1895-caa4-c37f-6c299aa9f21c",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-encoding": "",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-length": "512",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Wed, 07 May 2025 22:21:42 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD8DB58B4B3647\"",
        "Last-Modified": "Wed, 07 May 2025 22:21:42 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05",
        "x-ms-version-id": "2025-05-07T22:21:42.2037575Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-26c32a98-6473-5c27-4c96-2672f15c7413?sv=Sanitized&se=2025-05-08T22%3A21%3A41Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container&comp=list&prefix=sourceFolder%2Fpik%2F&delimiter=%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "appli[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-8c186032-041b-4af0-8e14-7e4a45002567/destinationFolder/bar/test-file-f25a535e-a3f7-6242-6c40-f8de5d421681",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-encoding": "",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-length": "512",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Wed, 07 May 2025 22:21:42 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD8DB58B51C503\"",
        "Last-Modified": "Wed, 07 May 2025 22:21:42 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05",
        "x-ms-version-id": "2025-05-07T22:21:42.2467331Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-8c186032-041b-4af0-8e14-7e4a45002567/destinationFolder/test-file-1b2d8fbe-1895-caa4-c37f-6c299aa9f21c?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-copy-source": "https://jalauzonnettest.blob.core.windows.net/test-container-26c32a98-6473-5c27-4c96-2672f15c7413/sourceFolder/test-file-1b2d8fbe-1895-caa4-c37f-6c299aa9f21c?sv=sanitized-value&se=2025-05-08T22%3A21%3A41Z&sr=c&sp=racwdxltfi&sig=Sanitized",
        "x-ms-date": "Wed, 07 May 2025 22:21:42 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-511",
        "x-ms-source-range": "bytes=0-511",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD8DB58B53C090\"",
        "Last-Modified": "Wed, 07 May 2025 22:21:42 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-content-crc64": "NsJ48BL3pog=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-8c186032-041b-4af0-8e14-7e4a45002567/destinationFolder/pik/test-file-47ebc844-31e8-d229-0fda-bc25ca8a23e4",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-encoding": "",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-length": "512",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Wed, 07 May 2025 22:21:42 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD8DB58B587AC9\"",
        "Last-Modified": "Wed, 07 May 2025 22:21:42 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05",
        "x-ms-version-id": "2025-05-07T22:21:42.2907081Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-8c186032-041b-4af0-8e14-7e4a45002567/destinationFolder/bar/test-file-f25a535e-a3f7-6242-6c40-f8de5d421681?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-copy-source": "https://jalauzonnettest.blob.core.windows.net/test-container-26c32a98-6473-5c27-4c96-2672f15c7413/sourceFolder/bar/test-file-f25a535e-a3f7-6242-6c40-f8de5d421681?sv=sanitized-value&se=2025-05-08T22%3A21%3A41Z&sr=c&sp=racwdxltfi&sig=Sanitized",
        "x-ms-date": "Wed, 07 May 2025 22:21:42 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-511",
        "x-ms-source-range": "bytes=0-511",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD8DB58B5A7655\"",
        "Last-Modified": "Wed, 07 May 2025 22:21:42 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-content-crc64": "VMFn7z0P0bw=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-8c186032-041b-4af0-8e14-7e4a45002567/destinationFolder/pik/test-file-47ebc844-31e8-d229-0fda-bc25ca8a23e4?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-copy-source": "https://jalauzonnettest.blob.core.windows.net/test-container-26c32a98-6473-5c27-4c96-2672f15c7413/sourceFolder/pik/test-file-47ebc844-31e8-d229-0fda-bc25ca8a23e4?sv=sanitized-value&se=2025-05-08T22%3A21%3A41Z&sr=c&sp=racwdxltfi&sig=Sanitized",
        "x-ms-date": "Wed, 07 May 2025 22:21:42 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-511",
        "x-ms-source-range": "bytes=0-511",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD8DB58B601ACF\"",
        "Last-Modified": "Wed, 07 May 2025 22:21:42 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-content-crc64": "2RhiPa/MfHU=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-26c32a98-6473-5c27-4c96-2672f15c7413?sv=Sanitized&se=2025-05-08T22%3A21%3A41Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container&comp=list&prefix=sourceFolder",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "20[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-8c186032-041b-4af0-8e14-7e4a45002567?restype=container&comp=list&prefix=destinationFolder",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Wed, 07 May 2025 22:21:42 GMT",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
    [...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-26c32a98-6473-5c27-4c96-2672f15c7413/sourceFolder/bar/test-file-f25a535e-a3f7-6242-6c40-f8de5d421681?sv=Sanitized&se=2025-05-08T22%3A21%3A41Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD8DB58B2A6C99\"",
        "Last-Modified": "Wed, 07 May 2025 22:21:41 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Wed, 07 May 2025 22:21:41 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-07-05",
        "x-ms-version-id": "2025-05-07T22:21:41.9459035Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-26c32a98-6473-5c27-4c96-2672f15c7413/sourceFolder/bar/test-file-f25a535e-a3f7-6242-6c40-f8de5d421681?sv=Sanitized&se=2025-05-08T22%3A21%3A41Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DD8DB58B2A6C99\"",
        "x-ms-range": "bytes=0-511",
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-511/512",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD8DB58B2A6C99\"",
        "Last-Modified": "Wed, 07 May 2025 22:21:41 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Wed, 07 May 2025 22:21:41 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-07-05",
        "x-ms-version-id": "2025-05-07T22:21:41.9459035Z"
      },
      "ResponseBody": "H7iz009o5NTaaWzI2+rYUXBmdQQzdHUnUatxFS8Dyt0V/Go8FrpE9m+FF443eoaCaKZt9swSTqpCi4Gk9s6l1p+Ost5/mzu2In+UrVzn79Yl762IltMQA62/+oo4oP+h4EDuqMinAsxrt9RNfaFNWpyqfgcgHEDLfq4xwKGwfoGA880c+EYOfezgHd//w4UMcZ/ujSH3gMP/IyoZdkIrujlSzIrUMWFVnAEbP/9hzLooJE4BwfBfiHIJHNUc9AaptGKmrPb7OEA9mfAg3EHEnlZv8VL0KvlI80MXyhSMOKj6cYqcuyDELewNxCj/P6wxRX5+rQO0tYppXbmy5G4rsGBIJWu2J+I2q8Nm5mXQSLOX5oSWDYulRbz/M15mEUh94hPItxpBeh6bRwE/Ts4kmBUFG/3plaPUouCutvOEz5l76ARSCJCZVmxl+saJZvbt25pIYfVLk0xw8xQ5ksMqF3doxGbK0pCEbMWRhJrcSjzpwdtZO26kL1S34hR7X8OoO+NOIaGQIggKxPQwuQ+yk6jYUNDn0dsJxJQSEvB7CA0B6Ui3jimbWZ7TTnd6c3ZEBU5sow/ywGkIRF0NfRAYjrvnLtDG+wR/PfYyFIJkj1AdzQ2hD2X+DijfrknLjduOusC7kkSmfQpJ7GYYwKzno7UN77ADd39W6R+o50y7tK8="
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-26c32a98-6473-5c27-4c96-2672f15c7413?sv=Sanitized&se=2025-05-08T22%3A21%3A41Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-version": "2025-07-05"
      },
      "RequestBody": null,
      "StatusCode": 403,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "AuthorizationFailure",
        "x-ms-version": "2025-07-05"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>AuthorizationFailure</Code><Message>This request is not authorized to perform this operation.\n",
        "RequestId:c5c2054c-101e-0028-229e-bfbb6a000000\n",
        "Time:2025-05-07T22:21:43.7850791Z</Message></Error>"
      ]
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2025-05-07T15:21:41.6745549-07:00",
    "RandomSeed": "296293732",
    "Storage_TestConfigDefault": "ProductionTenant\njalauzonnettest\nU2FuaXRpemVk\nhttps://jalauzonnettest.blob.core.windows.net\nhttps://jalauzonnettest.file.core.windows.net\nhttps://jalauzonnettest.queue.core.windows.net\nhttps://jalauzonnettest.table.core.windows.net\n\n\n\n\nhttps://jalauzonnettest-secondary.blob.core.windows.net\nhttps://jalauzonnettest-secondary.file.core.windows.net\nhttps://jalauzonnettest-secondary.queue.core.windows.net\nhttps://jalauzonnettest-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://jalauzonnettest.blob.core.windows.net/;QueueEndpoint=https://jalauzonnettest.queue.core.windows.net/;FileEndpoint=https://jalauzonnettest.file.core.windows.net/;BlobSecondaryEndpoint=https://jalauzonnettest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jalauzonnettest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jalauzonnettest-secondary.file.core.windows.net/;AccountName=jalauzonnettest;AccountKey=U2FuaXRpemVk\ntestscope1\n\n"
  }
}
