{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-1b5990e0-cd7a-d124-b62c-a94216161032?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 30 Sep 2025 20:48:11 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE0062AB3141AD\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:48:11 GMT",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-1b5990e0-cd7a-d124-b62c-a94216161032/sourceFolder/test-file-70024f0b-dfb4-9db3-2cbb-8820e7cd61eb?sv=Sanitized&se=2025-10-01T20%3A48%3A11Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-length": "512",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "PageBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE0062AB4CE921\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:48:11 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-1b5990e0-cd7a-d124-b62c-a94216161032/sourceFolder/test-file-70024f0b-dfb4-9db3-2cbb-8820e7cd61eb?sv=Sanitized&se=2025-10-01T20%3A48%3A11Z&sr=c&sp=racwdxltfi&sig=Sanitized&comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-511",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": "U9Ej6b/OO8Mn+kQsDknp1dGhloh8+pdBe3kg5gydVHvT9swWqncr46kc8YWFqHoG5PxFpxpgFFk64W5FrVW2iqXIWBh90ytZdbLeYAkRu9L/GgEQWK1gcuFy3MgJ5TVUZmbgvE9hiRHQ6zFogbRQKCabRpNTpTL3aOY2CvZiT499ifmiMP+DnZHvP2x8+PEsIbOibp+hAMA06VRpK34bbpuh6ve6rvgnF6gCY2bFe2/0CehDwOHw24k5bUeqGnIS1NHQ2g35cnO7e1b3n5xab27ldCGV1626sQ9ugUCxfP0174+U9KBh+5d1iEWK+Dvs3/7ZxaVRffwjFin+ivAyCf5ZwrANxXvNg3iJIE9oMLnTgqJC2LdX5HKScN13Y3GnQn5GMTaL3hmCC0Etx1ysu+ZwKgdO8DFHAd0+elSdViAH4t7RIv6DSKOIv8x1Kh0V5rX3BzhpWFFM/jBYTGTE5bQhJeR+25jn7eFjxTBk0tbAKZSfpU/nnYqMhCPOKvs/xNkXUwU4lgocDxpXBZIg5yxZlyPPJT9lOoda8lZ1GcLlIwFWTX7RiJKKgpY1j5j3a532dJLYcJ6ashh93aSzp/ZXceGRypqtiA+QRaOpMKvvY4a5fqUwDbNivJpmU6ru1tqg3R62ZaECSeuCRyr78IJtjXod+ilQJ2MuLw0ARzU=",
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE0062AB562D83\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:48:11 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-content-crc64": "Oq6E/kJF4q4=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-1b5990e0-cd7a-d124-b62c-a94216161032/sourceFolder/bar/test-file-ac43dda2-56f0-ca50-09b2-fe96eb0cbd71?sv=Sanitized&se=2025-10-01T20%3A48%3A11Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-length": "512",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "PageBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE0062AB7468FE\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:48:11 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-1b5990e0-cd7a-d124-b62c-a94216161032/sourceFolder/bar/test-file-ac43dda2-56f0-ca50-09b2-fe96eb0cbd71?sv=Sanitized&se=2025-10-01T20%3A48%3A11Z&sr=c&sp=racwdxltfi&sig=Sanitized&comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-511",
        "x-ms-version": "2025-11-05"
      },[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-1b5990e0-cd7a-d124-b62c-a94216161032/sourceFolder/pik/test-file-73d6d649-eed3-be75-7852-27b0ef7eeb07?sv=Sanitized&se=2025-10-01T20%3A48%3A11Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-length": "512",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "PageBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE0062AB86CAD9\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:48:11 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-1b5990e0-cd7a-d124-b62c-a94216161032/sourceFolder/pik/test-file-73d6d649-eed3-be75-7852-27b0ef7eeb07?sv=Sanitized&se=2025-10-01T20%3A48%3A11Z&sr=c&sp=racwdxltfi&sig=Sanitized&comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-511",
        "x-ms-version": "2025-11-05"
      },[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-1b5990e0-cd7a-d124-b62c-a94216161032?sv=Sanitized&se=2025-10-01T20%3A48%3A11Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container&comp=list&prefix=sourceFolder%2F&delimiter=%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.blob.core.windows.net/\" ContainerName=\"test-container-1b5990e0-cd7a-d124-b62c-a94216161032\"><Prefix>sourceFolder/</Prefix><Delimiter>/</Delimiter><Blobs><BlobPrefix><Name>sourceFolder/bar/</Name></BlobPrefix><BlobPrefix><Name>sourceFolder/pik/</Name></BlobPrefix><Blob><Name>sourceFolder/test-file-18e0e5b2-ca80-88d4-4fce-d21648b0e891</Name><Properties><Creation-Time>Tue, 30 Sep 2025 20:48:11 GMT</Creation-Time><Last-Modified>Tue, 30 Sep 2025 20:48:11 GMT</Last-Modified><Etag>0x8DE0062AB6B7258</Etag><Content-Length>512</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64 /><Content-MD5 /><Cache-Control>no-cache</Cache-Control><Content-Disposition>inline</Content-Disposition><x-ms-blob-sequence-number>0</x-ms-blob-sequence-number><BlobType>PageBlob</BlobType><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><Metadata><foo>bar</foo><meta>data</meta><Capital>letter</Capital><UPPER>case</UPPER></Metadata><OrMetadata /></Blob><Blob><Name>sourceFolder/test-file-70024f0b-dfb4-9db3-2cbb-8820e7cd61eb</Name><Properties><Creation-Time>Tue, 30 Sep 2025 20:48:11 GMT</Creation-Time><Last-Modified>Tue, 30 Sep 2025 20:48:11 GMT</Last-Modified><Etag>0x8DE0062AB562D83</Etag><Content-Length>512</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64 /><Content-MD5 /><Cache-Control>no-cache</Cache-Control><Content-Disposition>inline</Content-Disposition><x-ms-blob-sequence-number>0</x-ms-blob-sequence-number><BlobType>PageBlob</BlobType><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><Metadata><foo>bar</foo><meta>data</meta><Capital>letter</Capital><UPPER>case</UPPER></Metadata><OrMetadata /></Blob></Blobs><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-1b5990e0-cd7a-d124-b62c-a94216161032?sv=Sanitized&se=2025-10-01T20%3A48%3A11Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container&comp=list&prefix=sourceFolder%2Fbar%2F&delimiter=%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "applica[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-77122574-d087-9afc-adf1-d582f4183bbc/destinationFolder/test-file-18e0e5b2-ca80-88d4-4fce-d21648b0e891",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-encoding": "",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-length": "512",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Tue, 30 Sep 2025 20:48:12 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE0062ABBB5B75\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:48:12 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-1b5990e0-cd7a-d124-b62c-a94216161032?sv=Sanitized&se=2025-10-01T20%3A48%3A11Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container&comp=list&prefix=sourceFolder%2Fpik%2F&delimiter=%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "applica[...]
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-77122574-d087-9afc-adf1-d582f4183bbc/destinationFolder/bar/test-file-ac43dda2-56f0-ca50-09b2-fe96eb0cbd71",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-encoding": "",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-length": "512",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Tue, 30 Sep 2025 20:48:12 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE0062ABC81E4B\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:48:12 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-77122574-d087-9afc-adf1-d582f4183bbc/destinationFolder/test-file-70024f0b-dfb4-9db3-2cbb-8820e7cd61eb?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-1b5990e0-cd7a-d124-b62c-a94216161032/sourceFolder/test-file-70024f0b-dfb4-9db3-2cbb-8820e7cd61eb?sv=sanitized-value&se=2025-10-01T20%3A48%3A11Z&sr=c&sp=racwdxltfi&sig=Sanitized",
        "x-ms-date": "Tue, 30 Sep 2025 20:48:12 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-511",
        "x-ms-source-range": "bytes=0-511",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE0062ABCA17E6\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:48:12 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-content-crc64": "Oq6E/kJF4q4=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-77122574-d087-9afc-adf1-d582f4183bbc/destinationFolder/pik/test-file-73d6d649-eed3-be75-7852-27b0ef7eeb07",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-encoding": "",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-length": "512",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Tue, 30 Sep 2025 20:48:12 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE0062ABD1D760\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:48:12 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-77122574-d087-9afc-adf1-d582f4183bbc/destinationFolder/bar/test-file-ac43dda2-56f0-ca50-09b2-fe96eb0cbd71?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-1b5990e0-cd7a-d124-b62c-a94216161032/sourceFolder/bar/test-file-ac43dda2-56f0-ca50-09b2-fe96eb0cbd71?sv=sanitized-value&se=2025-10-01T20%3A48%3A11Z&sr=c&sp=racwdxltfi&sig=Sanitized",
        "x-ms-date": "Tue, 30 Sep 2025 20:48:12 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-511",
        "x-ms-source-range": "bytes=0-511",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE0062ABD3F7EC\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:48:12 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-content-crc64": "4GM+HBZcHjw=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-77122574-d087-9afc-adf1-d582f4183bbc/destinationFolder/pik/test-file-73d6d649-eed3-be75-7852-27b0ef7eeb07?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-1b5990e0-cd7a-d124-b62c-a94216161032/sourceFolder/pik/test-file-73d6d649-eed3-be75-7852-27b0ef7eeb07?sv=sanitized-value&se=2025-10-01T20%3A48%3A11Z&sr=c&sp=racwdxltfi&sig=Sanitized",
        "x-ms-date": "Tue, 30 Sep 2025 20:48:12 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-511",
        "x-ms-source-range": "bytes=0-511",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE0062ABDCA0AE\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:48:12 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-content-crc64": "ilco8jiBIcE=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-1b5990e0-cd7a-d124-b62c-a94216161032?sv=Sanitized&se=2025-10-01T20%3A48%3A11Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container&comp=list&prefix=sourceFolder%2F",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-77122574-d087-9afc-adf1-d582f4183bbc?restype=container&comp=list&prefix=destinationFolder%2F",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 30 Sep 2025 20:48:12 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
   [...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-1b5990e0-cd7a-d124-b62c-a94216161032/sourceFolder/bar/test-file-ac43dda2-56f0-ca50-09b2-fe96eb0cbd71?sv=Sanitized&se=2025-10-01T20%3A48%3A11Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DE0062AB7D868A\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:48:11 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Tue, 30 Sep 2025 20:48:11 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-1b5990e0-cd7a-d124-b62c-a94216161032/sourceFolder/bar/test-file-ac43dda2-56f0-ca50-09b2-fe96eb0cbd71?sv=Sanitized&se=2025-10-01T20%3A48%3A11Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DE0062AB7D868A\"",
        "x-ms-range": "bytes=0-511",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-511/512",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DE0062AB7D868A\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:48:11 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Tue, 30 Sep 2025 20:48:11 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": "+Ib63KICHvooR7AOEwe5MBovS5VnxFMtY47/WCxQ/qInD63C7T7Dn79IhKmmQrYC+c17vMAnCTMyzXgUA8bO10gN5wRZ9kPba6zWHkCphyHX/V5e1ELi/wV5jyDGr5v5eaxgmFuxqAOKn1ATUerziUZWPAVncAMFK+f/4GYjFbwQ3KWTSe7GJVRa0zXyzq4ahgbZb3KVkQmpWm1zssicZ4mTA3VFXz9YkBexDJzNE1w55FpgSaVJekqb6u6AUnOMvmyrXss51SbGgd9b5IRt20cROs1tOx7kSYgqqnRQ1z2jJE4vIrSRAA8zmcfG7pXGLQ+nbhemHoJOxxRCDyqxdqmhuMA2PbmSfzq9OqJWHVvyY3xlqWgm/AXL4VqfTvHkgiMdJTbVj/BVFO/d6eTg96m5T6uuS8xAe7u6alte8zFJ2Lh/OPglHdSMEJV5SRMh6+qx5v9FNjZW3Kl6GiSU9iC9kxEsYb6wlDLXIjs3xzKomH9xrQ0xA6GBKFtPqgKv+Bl0u7UC9YorAFHMbhT6HxV30oGlIkkTi49vqjliYeovJykiwgt8pqP1Rq27ZZSNhwhG19eACdbQYC8lkkpQyJ5nnEbq110K+izdr9ucVyb74SMwHIoSrx5TUmHbVxNZpH0OVMhNo6+qO9yroln6MwkJKrEnH6sUVe0oloX7L6M="
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-1b5990e0-cd7a-d124-b62c-a94216161032?sv=Sanitized&se=2025-10-01T20%3A48%3A11Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 403,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "AuthorizationFailure",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>AuthorizationFailure</Code><Message>This request is not authorized to perform this operation.\n",
        "RequestId:c2562c3c-501e-0035-7a4b-32cca0000000\n",
        "Time:2025-09-30T20:48:14.2873934Z</Message></Error>"
      ]
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2025-09-30T13:48:11.3381234-07:00",
    "RandomSeed": "1555676891",
    "Storage_TestConfigDefault": "ProductionTenant\namandapreprod\nU2FuaXRpemVk\nhttps://amandapreprod.blob.core.windows.net\nhttps://amandapreprod.file.core.windows.net\nhttps://amandapreprod.queue.core.windows.net\nhttps://amandapreprod.table.core.windows.net\n\n\n\n\nhttps://amandapreprod-secondary.blob.core.windows.net\nhttps://amandapreprod-secondary.file.core.windows.net\nhttps://amandapreprod-secondary.queue.core.windows.net\nhttps://amandapreprod-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandapreprod.blob.core.windows.net/;QueueEndpoint=https://amandapreprod.queue.core.windows.net/;FileEndpoint=https://amandapreprod.file.core.windows.net/;BlobSecondaryEndpoint=https://amandapreprod-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandapreprod-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandapreprod-secondary.file.core.windows.net/;AccountName=amandapreprod;AccountKey=U2FuaXRpemVk\nencryptionScope\n\n"
  }
}
