{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-17b6ca1c-3735-311a-a0ae-4c30aebfb48b?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 00:49:15 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D11E27959EB\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:49:15 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-17b6ca1c-3735-311a-a0ae-4c30aebfb48b/sourceFolder/test-file-ef3ae308-a186-7a36-a78e-741987c2e00e?sv=Sanitized&se=2025-03-08T00%3A49%3A15Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "PageBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D11E28CF01F\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:49:15 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-17b6ca1c-3735-311a-a0ae-4c30aebfb48b/sourceFolder/test-file-ef3ae308-a186-7a36-a78e-741987c2e00e?sv=Sanitized&se=2025-03-08T00%3A49%3A15Z&sr=c&sp=racwdxltfi&sig=Sanitized&comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": "E4MVc838DMYxitvELJBlEHmkEKLi+ZYmjGghenphQI+Q+wYErW1AemYD0R8HkqQ+phZalgdblxns7+Zk25JLz0pMNDGJYWIMY5Y83ih2H/nE4tRkB6mHNGPsF76G3J/TuAHUul1ztEWzTjJxH7nxddDtoPi95sigxQDNnUmkhob2aCUmomSbUC2PsLh3FRSq+6HtmTunFtE4M/VcpRf7Dsere7aTytNsUU/KLjUPKa/sI6Gnt+1KT1JT7m5uP6sWk6Lxy5pdFjDOgUfs3OecKApGcIF1VFfaYCxkP9xl/RKjtJuTHl4Ujgxx2TWlXnJrt8VjKM4qoD9LFmpu+ddTaIM1SChLCAqsMeJ0BHohNQK5+YcXAdVEeRRcSAjzppQ1HXCxbxVKH6+6t/brtZzEKeFotABPPGe[...]
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-17b6ca1c-3735-311a-a0ae-4c30aebfb48b/sourceFolder/bar/test-file-f32adfe9-c402-f239-e9cc-5f6743ee6fa2?sv=Sanitized&se=2025-03-08T00%3A49%3A15Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "PageBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D11E2AF1EC6\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:49:15 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-17b6ca1c-3735-311a-a0ae-4c30aebfb48b/sourceFolder/bar/test-file-f32adfe9-c402-f239-e9cc-5f6743ee6fa2?sv=Sanitized&se=2025-03-08T00%3A49%3A15Z&sr=c&sp=racwdxltfi&sig=Sanitized&comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05"
      }[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-17b6ca1c-3735-311a-a0ae-4c30aebfb48b/sourceFolder/pik/test-file-45caf6ac-0fec-b3d7-f0f3-c199b2626423?sv=Sanitized&se=2025-03-08T00%3A49%3A15Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "PageBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D11E2BFFBC7\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:49:15 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-17b6ca1c-3735-311a-a0ae-4c30aebfb48b/sourceFolder/pik/test-file-45caf6ac-0fec-b3d7-f0f3-c199b2626423?sv=Sanitized&se=2025-03-08T00%3A49%3A15Z&sr=c&sp=racwdxltfi&sig=Sanitized&comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05"
      }[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-17b6ca1c-3735-311a-a0ae-4c30aebfb48b?sv=Sanitized&se=2025-03-08T00%3A49%3A15Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container&comp=list&prefix=sourceFolder%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.blob.core.windows.net/\" ContainerName=\"test-container-17b6ca1c-3735-311a-a0ae-4c30aebfb48b\"><Prefix>sourceFolder/</Prefix><Blobs><Blob><Name>sourceFolder/bar/test-file-f32adfe9-c402-f239-e9cc-5f6743ee6fa2</Name><Properties><Creation-Time>Fri, 07 Mar 2025 00:49:15 GMT</Creation-Time><Last-Modified>Fri, 07 Mar 2025 00:49:15 GMT</Last-Modified><Etag>0x8DD5D11E2B7C797</Etag><Content-Length>1024</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64 /><Content-MD5 /><Cache-Control>no-cache</Cache-Control><Content-Disposition>inline</Content-Disposition><x-ms-blob-sequence-number>0</x-ms-blob-sequence-number><BlobType>PageBlob</BlobType><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><Metadata><foo>bar</foo><meta>data</meta><Capital>letter</Capital><UPPER>case</UPPER></Metadata><OrMetadata /></Blob><Blob><Name>sourceFolder/pik/test-file-45caf6ac-0fec-b3d7-f0f3-c199b2626423</Name><Properties><Creation-Time>Fri, 07 Mar 2025 00:49:15 GMT</Creation-Time><Last-Modified>Fri, 07 Mar 2025 00:49:15 GMT</Last-Modified><Etag>0x8DD5D11E2C856DB</Etag><Content-Length>1024</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64 /><Content-MD5 /><Cache-Control>no-cache</Cache-Control><Content-Disposition>inline</Content-D[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-9aa14866-4b2a-36e1-1562-05316aaf65aa/destinationFolder/pik/test-file-45caf6ac-0fec-b3d7-f0f3-c199b2626423",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-encoding": "",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Fri, 07 Mar 2025 00:49:15 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D11E2E498B5\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:49:15 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-9aa14866-4b2a-36e1-1562-05316aaf65aa/destinationFolder/bar/test-file-f32adfe9-c402-f239-e9cc-5f6743ee6fa2",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-encoding": "",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Fri, 07 Mar 2025 00:49:15 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D11E2E53442\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:49:15 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-9aa14866-4b2a-36e1-1562-05316aaf65aa/destinationFolder/test-file-02c97276-e2aa-d157-ce0b-26d43a18fe79",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-encoding": "",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-length": "1024",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "PageBlob",
        "x-ms-date": "Fri, 07 Mar 2025 00:49:15 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D11E2E53442\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:49:15 GMT",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-9aa14866-4b2a-36e1-1562-05316aaf65aa/destinationFolder/pik/test-file-45caf6ac-0fec-b3d7-f0f3-c199b2626423?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-17b6ca1c-3735-311a-a0ae-4c30aebfb48b/sourceFolder/pik/test-file-45caf6ac-0fec-b3d7-f0f3-c199b2626423?sv=sanitized-value&se=2025-03-08T00%3A49%3A15Z&sr=c&sp=racwdxltfi&sig=Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 00:49:15 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D11E2EE51C1\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:49:15 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-content-crc64": "CmHiLWYOFM0=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-9aa14866-4b2a-36e1-1562-05316aaf65aa/destinationFolder/test-file-02c97276-e2aa-d157-ce0b-26d43a18fe79?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-17b6ca1c-3735-311a-a0ae-4c30aebfb48b/sourceFolder/test-file-02c97276-e2aa-d157-ce0b-26d43a18fe79?sv=sanitized-value&se=2025-03-08T00%3A49%3A15Z&sr=c&sp=racwdxltfi&sig=Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 00:49:15 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D11E2EE9F90\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:49:15 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-content-crc64": "ItxLch/sDVs=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-9aa14866-4b2a-36e1-1562-05316aaf65aa/destinationFolder/bar/test-file-f32adfe9-c402-f239-e9cc-5f6743ee6fa2?comp=page",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-17b6ca1c-3735-311a-a0ae-4c30aebfb48b/sourceFolder/bar/test-file-f32adfe9-c402-f239-e9cc-5f6743ee6fa2?sv=sanitized-value&se=2025-03-08T00%3A49%3A15Z&sr=c&sp=racwdxltfi&sig=Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 00:49:15 GMT",
        "x-ms-page-write": "update",
        "x-ms-range": "bytes=0-1023",
        "x-ms-source-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D11E2EF143C\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:49:15 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-content-crc64": "VLJ2MHmhNgg=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-17b6ca1c-3735-311a-a0ae-4c30aebfb48b?sv=Sanitized&se=2025-03-08T00%3A49%3A15Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container&comp=list&prefix=sourceFolder",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-9aa14866-4b2a-36e1-1562-05316aaf65aa?restype=container&comp=list&prefix=destinationFolder",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 00:49:16 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
      [...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-17b6ca1c-3735-311a-a0ae-4c30aebfb48b/sourceFolder/bar/test-file-f32adfe9-c402-f239-e9cc-5f6743ee6fa2?sv=Sanitized&se=2025-03-08T00%3A49%3A15Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD5D11E2B7C797\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:49:15 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Fri, 07 Mar 2025 00:49:15 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-17b6ca1c-3735-311a-a0ae-4c30aebfb48b/sourceFolder/bar/test-file-f32adfe9-c402-f239-e9cc-5f6743ee6fa2?sv=Sanitized&se=2025-03-08T00%3A49%3A15Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DD5D11E2B7C797\"",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD5D11E2B7C797\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:49:15 GMT",
        "x-ms-blob-sequence-number": "0",
        "x-ms-blob-type": "PageBlob",
        "x-ms-creation-time": "Fri, 07 Mar 2025 00:49:15 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-[...]
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-17b6ca1c-3735-311a-a0ae-4c30aebfb48b?sv=Sanitized&se=2025-03-08T00%3A49%3A15Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 403,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "AuthorizationFailure",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>AuthorizationFailure</Code><Message>This request is not authorized to perform this operation.\n",
        "RequestId:bd9b52e4-c01e-0055-0bfa-8eb03f000000\n",
        "Time:2025-03-07T00:49:17.8010472Z</Message></Error>"
      ]
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2025-03-06T16:49:15.2433762-08:00",
    "RandomSeed": "717026594",
    "Storage_TestConfigDefault": "ProductionTenant\namandapreprod\nU2FuaXRpemVk\nhttps://amandapreprod.blob.core.windows.net\nhttps://amandapreprod.file.core.windows.net\nhttps://amandapreprod.queue.core.windows.net\nhttps://amandapreprod.table.core.windows.net\n\n\n\n\nhttps://amandapreprod-secondary.blob.core.windows.net\nhttps://amandapreprod-secondary.file.core.windows.net\nhttps://amandapreprod-secondary.queue.core.windows.net\nhttps://amandapreprod-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandapreprod.blob.core.windows.net/;QueueEndpoint=https://amandapreprod.queue.core.windows.net/;FileEndpoint=https://amandapreprod.file.core.windows.net/;BlobSecondaryEndpoint=https://amandapreprod-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandapreprod-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandapreprod-secondary.file.core.windows.net/;AccountName=amandapreprod;AccountKey=U2FuaXRpemVk\nencryptionScope\n\n"
  }
}
