{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/1c835c29-68e9-40a7-8455-842925d04908?api-version=2022-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "id": "/subscriptions/1c835c29-68e9-40a7-8455-842925d04908",
        "authorizationSource": "RoleBased",
        "managedByTenants": [],
        "subscriptionId": "1c835c29-68e9-40a7-8455-842925d04908",
        "tenantId": "00000000-0000-0000-0000-000000000000",
        "displayName": "Liftr-Nginx-E2E-Test",
        "state": "Enabled",
        "subscriptionPolicies": {
          "locationPlacementId": "Internal_2014-09-01",
          "quotaId": "Internal_2014-09-01",
          "spendingLimit": "Off"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/1c835c29-68e9-40a7-8455-842925d04908/resourcegroups/Default-Nginx-1454?api-version=2022-09-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westcentralus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-writes": "11999",
        "x-ms-ratelimit-remaining-subscription-writes": "799"
      },
      "ResponseBody": {
        "id": "/subscriptions/1c835c29-68e9-40a7-8455-842925d04908/resourceGroups/Default-Nginx-1454",
        "name": "Default-Nginx-1454",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "westcentralus",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/1c835c29-68e9-40a7-8455-842925d04908/resourceGroups/Default-Nginx-1454/providers/Nginx.NginxPlus/nginxDeployments?api-version=2024-11-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "value": []
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/1c835c29-68e9-40a7-8455-842925d04908/resourceGroups/Default-Nginx-1454/providers/Microsoft.Network/publicIPAddresses/testPublicIP-7984?api-version=**",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "sku": {
          "name": "Standard"
        },
        "location": "westcentralus",
        "properties": {
          "publicIPAllocationMethod": "Static",
          "publicIPAddressVersion": "IPv4"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncNotification": "Enabled",
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/1c835c29-68e9-40a7-8455-842925d04908/providers/Microsoft.Network/locations/westcentralus/operations/868502fc-cd5a-42ba-b076-4f794090ee31?api-version=2023-05-01&t=638742730335074880&c=MIIHpTCCBo2gAwIBAgITfwTb1mKgWM8Wn2gZzgAEBNvWYjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDIwHhcNMjUwMTI1MTYwMTI2WhcNMjUwNzI0MTYwMTI2WjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ25pbmdjZXJ0aWZpY2F0ZS5tYW5hZ2Vt[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/1c835c29-68e9-40a7-8455-842925d04908/providers/Microsoft.Network/locations/westcentralus/operations/868502fc-cd5a-42ba-b076-4f794090ee31?api-version=**&t=638742730335074880&c=MIIHpTCCBo2gAwIBAgITfwTb1mKgWM8Wn2gZzgAEBNvWYjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDIwHhcNMjUwMTI1MTYwMTI2WhcNMjUwNzI0MTYwMTI2WjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ25pbmdjZXJ0aWZ[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/1c835c29-68e9-40a7-8455-842925d04908/resourceGroups/Default-Nginx-1454/providers/Microsoft.Network/publicIPAddresses/testPublicIP-7984?api-version=**",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\"1ae1016c-7908-463d-993f-ab7cbbd1c365\"",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "name": "testPublicIP-7984",
        "id": "/subscriptions/1c835c29-68e9-40a7-8455-842925d04908/resourceGroups/Default-Nginx-1454/providers/Microsoft.Network/publicIPAddresses/testPublicIP-7984",
        "etag": "W/\"1ae1016c-7908-463d-993f-ab7cbbd1c365\"",
        "location": "westcentralus",
        "properties": {
          "provisioningState": "Succeeded",
          "resourceGuid": "50aecfcb-f240-4e5b-bc36-551bf16c5580",
          "ipAddress": "52.161.150.31",
          "publicIPAddressVersion": "IPv4",
          "publicIPAllocationMethod": "Static",
          "idleTimeoutInMinutes": 4,
          "ipTags": [],
          "ddosSettings": {
            "protectionMode": "VirtualNetworkInherited"
          }
        },
        "type": "Microsoft.Network/publicIPAddresses",
        "sku": {
          "name": "Standard",
          "tier": "Regional"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/1c835c29-68e9-40a7-8455-842925d04908/resourceGroups/Default-Nginx-1454/providers/Microsoft.Network/networkSecurityGroups/testNSG-5895?api-version=**",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westcentralus",
        "properties": {
          "securityRules": [
            {
              "name": "http",
              "properties": {
                "protocol": "*",
                "sourcePortRange": "*",
                "sourceAddressPrefix": "*",
                "destinationAddressPrefix": "*",
                "destinationPortRanges": [
                  "80"
                ],
                "access": "Allow",
                "priority": 100,
                "direction": "Inbound"
              }
            },
            {
              "name": "NRMS-Rule-103",
              "properties": {
                "description": "Created by Azure Core Security managed policy, rule can be deleted but do not change source ips, please see aka.ms/cainsgpolicy",
                "protocol": "*",
                "sourcePortRange": "*",
                "destinationPortRange": "*",
                "sourceAddressPrefix": "CorpNetPublic",
                "destinationAddressPrefix": "*",
                "access": "Allow",
                "priority": 103,
                "direction": "Inbound"
              }
            }
          ]
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncNotification": "Enabled",
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/1c835c29-68e9-40a7-8455-842925d04908/providers/[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/1c835c29-68e9-40a7-8455-842925d04908/providers/Microsoft.Network/locations/westcentralus/operations/bfaacbab-824d-419f-a661-30e6f97790ad?api-version=**&t=638742730405031194&c=MIIHpTCCBo2gAwIBAgITfwTb1mKgWM8Wn2gZzgAEBNvWYjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDIwHhcNMjUwMTI1MTYwMTI2WhcNMjUwNzI0MTYwMTI2WjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ25pbmdjZXJ0aWZ[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/1c835c29-68e9-40a7-8455-842925d04908/resourceGroups/Default-Nginx-1454/providers/Microsoft.Network/virtualNetworks/testVNet-7979?api-version=**",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westcentralus",
        "properties": {
          "addressSpace": {
            "addressPrefixes": [
              "10.0.0.0/16"
            ]
          },
          "subnets": [
            {
              "name": "testSubnet-2217",
              "properties": {
                "addressPrefix": "10.0.2.0/24",
                "networkSecurityGroup": {
                  "id": "/subscriptions/1c835c29-68e9-40a7-8455-842925d04908/resourceGroups/Default-Nginx-1454/providers/Microsoft.Network/networkSecurityGroups/testNSG-5895",
                  "location": "westcentralus",
                  "properties": {
                    "securityRules": [
                      {
                        "id": "/subscriptions/1c835c29-68e9-40a7-8455-842925d04908/resourceGroups/Default-Nginx-1454/providers/Microsoft.Network/networkSecurityGroups/testNSG-5895/securityRules/http",
                        "name": "http",
                        "type": "Microsoft.Network/networkSecurityGroups/securityRules",
                        "properties": {
                          "protocol": "*",
                          "sourcePortRange": "*",
                          "sourceAddressPrefix": "*",
                          "sourceAddressPrefixes": [],
                          "destinationAddressPrefix": "*",
                          "destinationAddressPrefixes": [],
                          "sourcePortRanges": [],
                          "destinationPortRanges": [
                            "80"
                          ],
                          "access": "Allow",
                          "priority": 100,
                          "direction": "Inbound"
                        }
                      },
                      {
                        "id": "/subscriptions/1c835c29-68e9-40a7-8455-842925d04908/resourceGroups/Default-Nginx-1454/providers/Microsoft.Network/networkSecurityGroups/t[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/1c835c29-68e9-40a7-8455-842925d04908/providers/Microsoft.Network/locations/westcentralus/operations/261c075f-6942-4f46-9c18-a41b96a2f4f8?api-version=**&t=638742730451596563&c=MIIHpTCCBo2gAwIBAgITfwTb1mKgWM8Wn2gZzgAEBNvWYjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDIwHhcNMjUwMTI1MTYwMTI2WhcNMjUwNzI0MTYwMTI2WjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ25pbmdjZXJ0aWZ[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/1c835c29-68e9-40a7-8455-842925d04908/resourceGroups/Default-Nginx-1454/providers/Nginx.NginxPlus/nginxDeployments/testDeployment-1399?api-version=2024-11-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westcentralus",
        "identity": {
          "type": "UserAssigned",
          "userAssignedIdentities": {
            "/subscriptions/1c835c29-68e9-40a7-8455-842925d04908/resourceGroups/sdk-test/providers/Microsoft.ManagedIdentity/userAssignedIdentities/sdk-test-mi": {}
          }
        },
        "properties": {
          "networkProfile": {
            "frontEndIPConfiguration": {
              "publicIPAddresses": [
                {
                  "id": "/subscriptions/1c835c29-68e9-40a7-8455-842925d04908/resourceGroups/Default-Nginx-1454/providers/Microsoft.Network/publicIPAddresses/testPublicIP-7984"
                }
              ]
            },
            "networkInterfaceConfiguration": {
              "subnetId": "/subscriptions/1c835c29-68e9-40a7-8455-842925d04908/resourceGroups/Default-Nginx-1454/providers/Microsoft.Network/virtualNetworks/testVNet-7979/subnets/testSubnet-2217"
            }
          },
          "enableDiagnosticsSupport": true,
          "scalingProperties": {
            "capacity": 10,
            "autoScaleSettings": {
              "profiles": []
            }
          },
          "autoUpgradeProfile": {
            "upgradeChannel": "preview"
          },
          "userProfile": {
            "preferredEmail": "test@mail.com"
          }
        },
        "sku": {
          "name": "standardv2-test_Monthly"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/providers/Nginx.NginxPlus/locations/WESTCENTRALUS/operationStatuses/ba669ceb-dc19-4583-8be6-69fc61ea876f*90E411E1AF25E37667561733BA774A1F586950740505C9C37EFDE21D982EB535?api-version=2024-11-01-preview&t=638742730665483992&c=MIIHpTCCBo2gAwIBAgITfwTb1mKgWM8Wn2gZzgAEBN[...]
    {
      "RequestUri": "https://management.azure.com/providers/Nginx.NginxPlus/locations/WESTCENTRALUS/operationStatuses/ba669ceb-dc19-4583-8be6-69fc61ea876f*90E411E1AF25E37667561733BA774A1F586950740505C9C37EFDE21D982EB535?api-version=2024-11-01-preview&t=638742730665483992&c=MIIHpTCCBo2gAwIBAgITfwTb1mKgWM8Wn2gZzgAEBNvWYjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDIwHhcNMjUwMTI1MTYwMTI2WhcNMjUwNzI0MTYwMTI2WjBAMT4wPAYDVQQDEzVh[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/1c835c29-68e9-40a7-8455-842925d04908/resourceGroups/Default-Nginx-1454/providers/Nginx.NginxPlus/nginxDeployments/testDeployment-1399?api-version=2024-11-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "\"3f006bfe-0000-0200-0000-67a218980000\"",
        "mise-correlation-id": "66a2da75-07bb-4f1c-a67c-230b40aef527",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "id": "/subscriptions/1c835c29-68e9-40a7-8455-842925d04908/resourceGroups/Default-Nginx-1454/providers/Nginx.NginxPlus/nginxDeployments/testDeployment-1399",
        "name": "testDeployment-1399",
        "type": "nginx.nginxplus/nginxdeployments",
        "sku": {
          "name": "standardv2-test_Monthly"
        },
        "location": "westcentralus",
        "systemData": {
          "createdBy": "Sanitized",
          "createdByType": "User",
          "createdAt": "2025-02-04T13:37:40.5327372Z",
          "lastModifiedBy": "Sanitized",
          "lastModifiedByType": "User",
          "lastModifiedAt": "2025-02-04T13:37:40.5327372Z"
        },
        "identity": {
          "type": "UserAssigned",
          "userAssignedIdentities": {
            "/subscriptions/1c835c29-68e9-40a7-8455-842925d04908/resourceGroups/sdk-test/providers/Microsoft.ManagedIdentity/userAssignedIdentities/sdk-test-mi": {
              "principalId": "00000000-0000-0000-0000-000000000000",
              "clientId": "00000000-0000-0000-0000-000000000000"
            }
          }
        },
        "properties": {
          "provisioningState": "Succeeded",
          "nginxVersion": "1.25.5 (nginx-plus-r32-p1)",
          "ipAddress": "52.161.150.31",
          "networkProfile": {
            "frontEndIPConfiguration": {
              "publicIPAddresses": [
                {
                  "id": "/subscriptions/1c835c29-68e9-40a7-8455-842925d04908/resourceGroups/Default-Nginx-1454/providers/Microsoft.Network/publicIPAddresses/testPublicIP-7984"
                }
              ]
            },
            "networkInterfaceConfiguration": {
              "subnetId": "/subscriptions/1c835c29-68e9-40a7-8455-842925d04908/resourceGroups/Default-Nginx-1454/providers/Microsoft.Network/virtualNetworks/testVNet-7979/subnets/testSubnet-2217"
            }
          },
          "enableDiagnosticsSupport": true,
          "scalingProperties": {
            "capacity": 10,
            "autoScaleSettings": null
          },
          "userProfile": {
            "preferredEmail": "test@mail.com"
          },
          "autoUpgradeProfile": {
            "upgradeChannel": "preview"
          },
          "nginxAppProtect": null,
          "dataplaneApiEndpoint": "https://testdeployment-1399-31fd357fbb37.westcentralus.nginxaas.net/"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/1c835c29-68e9-40a7-8455-842925d04908/providers/Microsoft.Network/locations/westcentralus/operations/ec788727-26e1-46b7-9271-45f6f49c4ed6?api-version=**&t=638742732094333529&c=MIIHpTCCBo2gAwIBAgITfwTb1mKgWM8Wn2gZzgAEBNvWYjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDIwHhcNMjUwMTI1MTYwMTI2WhcNMjUwNzI0MTYwMTI2WjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ25pbmdjZXJ0aWZ[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/1c835c29-68e9-40a7-8455-842925d04908/providers/Microsoft.Network/locations/westcentralus/operations/3bc85d16-5ef6-4fcd-8cfe-93f2c945c156?api-version=**&t=638742732219585229&c=MIIHpTCCBo2gAwIBAgITfwTb1mKgWM8Wn2gZzgAEBNvWYjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDIwHhcNMjUwMTI1MTYwMTI2WhcNMjUwNzI0MTYwMTI2WjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ25pbmdjZXJ0aWZ[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/1c835c29-68e9-40a7-8455-842925d04908/providers/Microsoft.Network/locations/westcentralus/operations/a7fda962-f2fd-4aa1-9fbc-9e9048a204ef?api-version=**&t=638742732262730511&c=MIIHpTCCBo2gAwIBAgITfwTb1mKgWM8Wn2gZzgAEBNvWYjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDIwHhcNMjUwMTI1MTYwMTI2WhcNMjUwNzI0MTYwMTI2WjBAMT4wPAYDVQQDEzVhc3luY29wZXJhdGlvbnNpZ25pbmdjZXJ0aWZ[...]
[...]
    {
      "RequestUri": "https://management.azure.com/providers/Nginx.NginxPlus/locations/WESTCENTRALUS/operationStatuses/6efa2a1f-4569-4aba-9ecc-9544e4a8dcb0*AAA8E92E24A8003755E8952D01C49E0C8826ABF2F847B76233C8EE0B5F0D9D6F?api-version=2024-11-01-preview&t=638742732466289710&c=MIIHpTCCBo2gAwIBAgITfwTb1mKgWM8Wn2gZzgAEBNvWYjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDIwHhcNMjUwMTI1MTYwMTI2WhcNMjUwNzI0MTYwMTI2WjBAMT4wPAYDVQQDEzVh[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/1c835c29-68e9-40a7-8455-842925d04908/resourceGroups/Default-Nginx-1454/providers/Nginx.NginxPlus/nginxDeployments?api-version=2024-11-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "eeb9659c-c967-4dd2-917b-cbe5a060758b",
        "x-ms-original-request-ids": "55f070d3-42ba-4d96-9072-d08341f3dacf",
        "x-ms-providerhub-traffic": "True",
        "x-ms-ratelimit-remaining-subscription-global-reads": "16499",
        "x-ms-ratelimit-remaining-subscription-reads": "1099"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/1c835c29-68e9-40a7-8455-842925d04908/resourceGroups/Default-Nginx-1454/providers/Nginx.NginxPlus/nginxDeployments/testDeployment-1399",
            "name": "testDeployment-1399",
     [...]
