{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/project1/deployments?api-version=2025-05-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-region": "East US 2 EUAP"
      },
      "ResponseBody": {
        "value": [
          {
            "name": "Phi-4",
            "type": "ModelDeployment",
            "modelName": "Phi-4",
            "modelVersion": "7",
            "modelPublisher": "Microsoft",
            "capabilities": {
              "chat_completion": "true"
            },
            "sku": {
              "name": "GlobalStandard",
              "capacity": 1
            }
          },
          {
            "name": "Cohere-command-r-08-2024",
            "type": "ModelDeployment",
            "modelName": "Cohere-command-r-08-2024",
            "modelVersion": "1",
            "modelPublisher": "Cohere",
            "capabilities": {
              "chat_completion": "true"
            },
            "sku": {
              "name": "GlobalStandard",
              "capacity": 1
            }
          },
          {
            "name": "DeepSeek-V3",
            "type": "ModelDeployment",
            "modelName": "DeepSeek-V3",
            "modelVersion": "1",
            "modelPublisher": "DeepSeek",
            "capabilities": {
              "chat_completion": "true"
            },
            "sku": {
              "name": "GlobalStandard",
              "capacity": 1
            }
          }
        ]
      }
    },
    {
      "RequestUri": "https://Sanitized.azure.com/api/projects/project1/deployments/Phi-4?api-version=2025-05-15-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-region": "East US 2 EUAP"
      },
      "ResponseBody": {
        "name": "Phi-4",
        "type": "ModelDeployment",
        "modelName": "Phi-4",
        "modelVersion": "7",
        "modelPublisher": "Microsoft",
        "capabilities": {
          "chat_completion": "true"
        },
        "sku": {
          "name": "GlobalStandard",
          "capacity": 1
        }
      }
    }
  ],
  "Variables": {}
}
