{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/filesystem171713496474503950?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 31 May 2024 05:56:04 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC81365C0BCB78\"",
        "Last-Modified": "Fri, 31 May 2024 05:56:05 GMT",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/filesystem171713496474503950?restype=container&comp=lease",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 31 May 2024 05:56:04 GMT",
        "x-ms-lease-action": "acquire",
        "x-ms-lease-duration": "-1",
        "x-ms-proposed-lease-id": "dcf0ab4c-f567-451e-a918-8bdc0934c238",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC81365C0BCB78\"",
        "Last-Modified": "Fri, 31 May 2024 05:56:05 GMT",
        "x-ms-lease-id": "dcf0ab4c-f567-451e-a918-8bdc0934c238",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/newfilesystem171713496497401927?restype=container&comp=rename",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 31 May 2024 05:56:04 GMT",
        "x-ms-source-container-name": "filesystem171713496474503950",
        "x-ms-source-lease-id": "dcf0ab4c-f567-451e-a918-8bdc0934c238",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "InvalidQueryParameterValue",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?>\n",
        "<Error><Code>InvalidQueryParameterValue</Code><Message>Value for one of the query parameters specified in the request URI is invalid.\n",
        "RequestId:38fc1895-301e-0001-0c1f-b39304000000\n",
        "Time:2024-05-31T05:56:05.4505272Z</Message><QueryParameterName>comp</QueryParameterName><QueryParameterValue>rename</QueryParameterValue></Error>"
      ]
    }
  ],
  "Variables": {
    "filesystem": "filesystem171713496474503950",
    "newfilesystem": "newfilesystem171713496497401927"
  }
}
