{
  "Entries": [
    {
      "RequestUri": "https://fakedefsaccountname.blob.core.windows.net/filesystem5176783187403707022x0?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-meta-key": "val",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE4E4C4F3D8708\"",
        "Last-Modified": "Thu, 08 Jan 2026 00:24:38 GMT",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://fakedefsaccountname.blob.core.windows.net/?comp=list&prefix=filesystem5176783187403707022&maxresults=2&include=metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://fakedefsaccountname.blob.core.windows.net/\"><Prefix>filesystem5176783187403707022</Prefix><MaxResults>2</MaxResults><Containers><Container><Name>filesystem5176783187403707022x0</Name><Properties><Last-Modified>Thu, 08 Jan 2026 00:24:38 GMT</Last-Modified><Etag>\"0x8DE4E4C4F3D8708\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold><ImmutableStorageWithVersioningEnabled>false</ImmutableStorageWithVersioningEnabled></Properties><Metadata><key>val</key></Metadata></Container><Container><Name>filesystem5176783187403707022x1</Name><Properties><Last-Modified>Thu, 08 Jan 2026 00:24:38 GMT</Last-Modified><Etag>\"0x8DE4E4C4F4DDCF5\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold><ImmutableStorageWithVersioningEnabled>false</ImmutableStorageWithVersioningEnabled></Properties><Metadata><key>val</key></Metadata></Container></Containers><NextMarker>/fakedefsaccountname/filesystem5176783187403707022x2</NextMarker></EnumerationResults>"
    },
    {
      "RequestUri": "https://fakedefsaccountname.blob.core.windows.net/?comp=list&prefix=filesystem5176783187403707022&marker=%2Ffakedefsaccountname%2Ffilesystem5176783187403707022x2&maxresults=2&include=metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://fakedefsaccountname.blob.core.windows.net/\"><Prefix>filesystem5176783187403707022</Prefix><Marker>/fakedefsaccountname/filesystem5176783187403707022x2</Marker><MaxResults>2</MaxResults><Containers><Container><Name>filesystem5176783187403707022x2</Name><Properties><Last-Modified>Thu, 08 Jan 2026 00:24:38 GMT</Last-Modified><Etag>\"0x8DE4E4C4F5EC63B\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold><ImmutableStorageWithVersioningEnabled>false</ImmutableStorageWithVersioningEnabled></Properties><Metadata><key>val</key></Metadata></Container><Container><Name>filesystem5176783187403707022x3</Name><Properties><Last-Modified>Thu, 08 Jan 2026 00:24:39 GMT</Last-Modified><Etag>\"0x8DE4E4C4F701087\"</Etag><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><DefaultEncryptionScope>$account-encryption-key</DefaultEncryptionScope><DenyEncryptionScopeOverride>false</DenyEncryptionScopeOverride><HasImmutabilityPolicy>false</HasImmutabilityPolicy><HasLegalHold>false</HasLegalHold><ImmutableStorageWithVersioningEnabled>false</ImmutableStorageWithVersioningEnabled></Properties><Metadata><key>val</key></Metadata></Container></Containers><NextMarker /></EnumerationResults>"
    },
[...]
    {
      "RequestUri": "https://fakedefsaccountname.blob.core.windows.net/filesystem5176783187403707022x3?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2026-02-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-02-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "filesystem5": "filesystem5176783187403707022"
  }
}
