{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/filesystem171713496356303124?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 31 May 2024 05:56:03 GMT",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DC81365BC7D7CA\"",
        "Last-Modified": "Fri, 31 May 2024 05:56:04 GMT",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://Sanitized.blob.core.windows.net/newfilesystem171713496446705719?restype=container&comp=rename",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 31 May 2024 05:56:04 GMT",
        "x-ms-source-container-name": "filesystem171713496356303124",
        "x-ms-version": "2024-05-04"
      },
      "RequestBody": null,
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "InvalidQueryParameterValue",
        "x-ms-version": "2024-05-04"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?>\n",
        "<Error><Code>InvalidQueryParameterValue</Code><Message>Value for one of the query parameters specified in the request URI is invalid.\n",
        "RequestId:38fc1819-301e-0001-1d1f-b39304000000\n",
        "Time:2024-05-31T05:56:04.9487237Z</Message><QueryParameterName>comp</QueryParameterName><QueryParameterValue>rename</QueryParameterValue></Error>"
      ]
    }
  ],
  "Variables": {
    "filesystem": "filesystem171713496356303124",
    "newfilesystem": "newfilesystem171713496446705719"
  }
}
