{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/providers/Microsoft.ApiCenter/operations?api-version=2024-03-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-tenant-reads": "11999"
      },
      "ResponseBody": {
        "value": [
          {
            "name": "Microsoft.ApiCenter/register/action",
            "isDataAction": false,
            "display": {
              "provider": "Microsoft Azure API Center",
              "resource": "Microsoft Azure API Center resource provider",
              "operation": "Register Microsoft.ApiCenter resource provider",
              "description": "Register Microsoft.ApiCenter resource provider for the subscription."
            },
            "origin": "user, system"
          },
          {
            "name": "Microsoft.ApiCenter/unregister/action",
            "isDataAction": false,
            "display": {
              "provider": "Microsoft Azure API Center",
              "resource": "Microsoft Azure API Center resource provider",
              "operation": "Unregister Microsoft.ApiCenter resource provider",
              "description": "Unregister Microsoft.ApiCenter resource provider for the subscription."
            },
            [...]
