{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-8fff11b0-b2ba-8b87-ab2d-06cf3164c43f?restype=container&sv=Sanitized&ss=b&srt=sco&st=2026-02-18T05%3A20%3A26Z&se=2026-02-18T07%3A20%3A26Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE6EB5CE2E772E\"",
        "Last-Modified": "Wed, 18 Feb 2026 06:20:26 GMT",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-8fff11b0-b2ba-8b87-ab2d-06cf3164c43f/sourceFolder/test-file-79e2992f-223f-ae52-c9cf-d90d045553a4?sv=Sanitized&ss=b&srt=sco&st=2026-02-18T05%3A20%3A26Z&se=2026-02-18T07%3A20%3A26Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": "HACYQShfdYHkG6VpyhGe9Qh5GwA09Q5JxxDpFaTW1AxUXPEDvBF8x6YGMzFBaAZ9i4dzYKF6SSfxT3oXdV/cDkaYFW4gmjn2/FNZLcHcB14Ja4ocYnRr2RLKEWyXZVFHKiTrqFOYXfBOfWRNIRxlFUgbDQrUwKzSLTtbVojNX5cCEQOd8V8LcQ6ZzuUQHrf2ZPwke1dHc2l4GHsXPAZogB3MSxAZyCPpEJz7OvLGwg6DZPGLqeQ/up6ZJNjj9DQHMU3HQ9On3ZzZO2q7Szh2sVZsk9gV3Nc5jJBxf6NKBRtn9Aml/n473IdVsm55hG5lInOCdmFc8lR1jrZCNl75jjVPU1cv0bLXMbdQwCppwAghDFwwyI66CwG0L3DI+KUoWyQ4KjAWNlDAqkWqCzIqDM6tISkBycWmlEhWeqJ[...]
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-8fff11b0-b2ba-8b87-ab2d-06cf3164c43f/sourceFolder/bar/test-file-8aaa31b6-cd8e-e8cd-1451-543b64dd8975?sv=Sanitized&ss=b&srt=sco&st=2026-02-18T05%3A20%3A26Z&se=2026-02-18T07%3A20%3A26Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-cache-control": "no-cache",
       [...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-8fff11b0-b2ba-8b87-ab2d-06cf3164c43f/sourceFolder/pik/test-file-a7db82f2-2c92-8a7e-33b7-daded25b1262?sv=Sanitized&ss=b&srt=sco&st=2026-02-18T05%3A20%3A26Z&se=2026-02-18T07%3A20%3A26Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-cache-control": "no-cache",
       [...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-8fff11b0-b2ba-8b87-ab2d-06cf3164c43f?restype=container&comp=list&prefix=sourceFolder%2F&delimiter=%2F&include=Metadata&sv=Sanitized&ss=b&srt=sco&st=2026-02-18T05%3A20%3A26Z&se=2026-02-18T07%3A20%3A26Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.blob.core.windows.net/\" ContainerName=\"test-container-8fff11b0-b2ba-8b87-ab2d-06cf3164c43f\"><Prefix>sourceFolder/</Prefix><Delimiter>/</Delimiter><Blobs><BlobPrefix><Name>sourceFolder/bar/</Name></BlobPrefix><BlobPrefix><Name>sourceFolder/pik/</Name></BlobPrefix><Blob><Name>sourceFolder/test-file-18881b26-e64d-d1d2-8f29-7d7cd9bc7a7d</Name><Properties><Creation-Time>Wed, 18 Feb 2026 06:20:26 GMT</Creation-Time><Last-Modified>Wed, 18 Feb 2026 06:20:26 GMT</Last-Modified><Etag>0x8DE6EB5CE4C0066</Etag><Content-Length>1024</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64 /><Content-MD5>xxD0eJ/drc0F7DKKyDBj6w==</Content-MD5><Cache-Control>no-cache</Cache-Control><Content-Disposition>inline</Content-Disposition><BlobType>BlockBlob</BlobType><AccessTier>Cold</AccessTier><AccessTierChangeTime>Wed, 18 Feb 2026 06:20:26 GMT</AccessTierChangeTime><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><Metadata><foo>bar</foo><meta>data</meta><Capital>letter</Capital><UPPER>case</UPPER></Metadata><OrMetadata /></Blob><Blob><Name>sourceFolder/test-file-79e2992f-223f-ae52-c9cf-d90d045553a4</Name><Properties><Creation-Time>Wed, 18 Feb 2026 06:20:26 GMT</Creation-Time><Last-Modified>Wed, 18 Feb 2026 06:20:26 GMT</Last-Modified><Etag>0x8DE6EB5CE41ABB6</Etag><Content-Length>1024</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64 /><Content-MD5>CoP/CwLmmJYrsVrUmpROrQ==</Content-MD5><Cache-Control>no-cache</Cache-Control><Content-Disposition>inline</Content-Disposition><BlobType>BlockBlob</BlobType><AccessTier>Cold</AccessTier><AccessTierChangeTime>Wed, 18 Feb 2026 06:20:26 GMT</AccessTierChangeTime><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><Metadata><foo>bar</foo><meta>data</meta><Capital>letter</Capital><UPPER>case</UPPER></Metadata><OrMetadata /></Blob></Blobs><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-8fff11b0-b2ba-8b87-ab2d-06cf3164c43f?restype=container&comp=list&prefix=sourceFolder%2Fbar%2F&delimiter=%2F&include=Metadata&sv=Sanitized&ss=b&srt=sco&st=2026-02-18T05%3A20%3A26Z&se=2026-02-18T07%3A20%3A26Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeade[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-8fff11b0-b2ba-8b87-ab2d-06cf3164c43f?restype=container&comp=list&prefix=sourceFolder%2Fpik%2F&delimiter=%2F&include=Metadata&sv=Sanitized&ss=b&srt=sco&st=2026-02-18T05%3A20%3A26Z&se=2026-02-18T07%3A20%3A26Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeade[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-1366c7a6-6137-2f1d-aefe-d02b4f17550b/destFolder/test-file-79e2992f-223f-ae52-c9cf-d90d045553a4?sv=Sanitized&ss=b&srt=sco&st=2026-02-18T05%3A20%3A26Z&se=2026-02-18T07%3A20%3A26Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-8fff11b0-b2ba-8b87-ab2d-06cf3164c43f/sourceFolder/test-file-79e2992f-223f-ae52-c9cf-d90d045553a4?sv=sanitized-value&ss=b&srt=sco&st=2026-02-18T05%3A20%3A26Z&se=2026-02-18T07%3A20%3A26Z&sp=rwdxylacuptfi&sig=Sanitized",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE6EB5CE82FF8A\"",
        "Last-Modified": "Wed, 18 Feb 2026 06:20:26 GMT",
        "x-ms-content-crc64": "KR+WIOhhXn0=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-1366c7a6-6137-2f1d-aefe-d02b4f17550b/destFolder/bar/test-file-8aaa31b6-cd8e-e8cd-1451-543b64dd8975?sv=Sanitized&ss=b&srt=sco&st=2026-02-18T05%3A20%3A26Z&se=2026-02-18T07%3A20%3A26Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-8fff11b0-b2ba-8b87-ab2d-06cf3164c43f/sourceFolder/bar/test-file-8aaa31b6-cd8e-e8cd-1451-543b64dd8975?sv=sanitized-value&ss=b&srt=sco&st=2026-02-18T05%3A20%3A26Z&se=2026-02-18T07%3A20%3A26Z&sp=rwdxylacuptfi&sig=Sanitized",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE6EB5CE89D5AD\"",
        "Last-Modified": "Wed, 18 Feb 2026 06:20:26 GMT",
        "x-ms-content-crc64": "V9g5VoJ2sMY=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-1366c7a6-6137-2f1d-aefe-d02b4f17550b/destFolder/pik/test-file-a7db82f2-2c92-8a7e-33b7-daded25b1262?sv=Sanitized&ss=b&srt=sco&st=2026-02-18T05%3A20%3A26Z&se=2026-02-18T07%3A20%3A26Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-8fff11b0-b2ba-8b87-ab2d-06cf3164c43f/sourceFolder/pik/test-file-a7db82f2-2c92-8a7e-33b7-daded25b1262?sv=sanitized-value&ss=b&srt=sco&st=2026-02-18T05%3A20%3A26Z&se=2026-02-18T07%3A20%3A26Z&sp=rwdxylacuptfi&sig=Sanitized",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE6EB5CE90F99A\"",
        "Last-Modified": "Wed, 18 Feb 2026 06:20:26 GMT",
        "x-ms-content-crc64": "/54YJjaDV/M=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-8fff11b0-b2ba-8b87-ab2d-06cf3164c43f?restype=container&comp=list&prefix=sourceFolder%2F&sv=Sanitized&ss=b&srt=sco&st=2026-02-18T05%3A20%3A26Z&se=2026-02-18T07%3A20%3A26Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "appli[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-1366c7a6-6137-2f1d-aefe-d02b4f17550b?restype=container&comp=list&prefix=destFolder%2F&sv=Sanitized&ss=b&srt=sco&st=2026-02-18T05%3A20%3A26Z&se=2026-02-18T07%3A20%3A26Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "applica[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-8fff11b0-b2ba-8b87-ab2d-06cf3164c43f/sourceFolder/bar/test-file-8aaa31b6-cd8e-e8cd-1451-543b64dd8975?sv=Sanitized&ss=b&srt=sco&st=2026-02-18T05%3A20%3A26Z&se=2026-02-18T07%3A20%3A26Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-MD5": "TJHDyvYgV44GSgtNq0wu1A==",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DE6EB5CE565508\"",
        "Last-Modified": "Wed, 18 Feb 2026 06:20:26 GMT",
        "x-ms-access-tier": "Cold",
        "x-ms-access-tier-change-time": "Wed, 18 Feb 2026 06:20:26 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 18 Feb 2026 06:20:26 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-8fff11b0-b2ba-8b87-ab2d-06cf3164c43f/sourceFolder/bar/test-file-8aaa31b6-cd8e-e8cd-1451-543b64dd8975?sv=Sanitized&ss=b&srt=sco&st=2026-02-18T05%3A20%3A26Z&se=2026-02-18T07%3A20%3A26Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DE6EB5CE565508\"",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DE6EB5CE565508\"",
        "Last-Modified": "Wed, 18 Feb 2026 06:20:26 GMT",
        "x-ms-access-tier": "Cold",
        "x-ms-access-tier-change-time": "Wed, 18 Feb 2026 06:20:26 GMT",
        "x-ms-blob-content-md5": "TJHDyvYgV44GSgtNq0wu1A==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 18 Feb 2026 06:20:26 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": "IUt79zgWsVLk66j2Slmvb9xmYcxtYGiMTaTeM[...]
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-8fff11b0-b2ba-8b87-ab2d-06cf3164c43f?restype=container&sv=Sanitized&ss=b&srt=sco&st=2026-02-18T05%3A20%3A26Z&se=2026-02-18T07%3A20%3A26Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2026-02-17T22:20:26.0232863-08:00",
    "RandomSeed": "254259328",
    "Storage_TestConfigDefault": "ProductionTenant\namandapreprod\nU2FuaXRpemVk\nhttps://amandapreprod.blob.core.windows.net\nhttps://amandapreprod.file.core.windows.net\nhttps://amandapreprod.queue.core.windows.net\nhttps://amandapreprod.table.core.windows.net\n\n\n\n\nhttps://amandapreprod-secondary.blob.core.windows.net\nhttps://amandapreprod-secondary.file.core.windows.net\nhttps://amandapreprod-secondary.queue.core.windows.net\nhttps://amandapreprod-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandapreprod.blob.core.windows.net/;QueueEndpoint=https://amandapreprod.queue.core.windows.net/;FileEndpoint=https://amandapreprod.file.core.windows.net/;BlobSecondaryEndpoint=https://amandapreprod-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandapreprod-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandapreprod-secondary.file.core.windows.net/;AccountName=amandapreprod;AccountKey=U2FuaXRpemVk\nencryptionScope\n\n"
  }
}
