{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-2de7753a-69d7-e901-bfcd-79553e6eaca6?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 30 Sep 2025 20:32:27 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE006078656DEF\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:32:26 GMT",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-2de7753a-69d7-e901-bfcd-79553e6eaca6/sourceFolder/test-file-cb8f31de-c43a-381a-891d-cce3749ef4d0?sv=Sanitized&se=2025-10-01T20%3A32%3A27Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": "sqR+OyhRk4830x+Ytem6SWz3C0OSRr4vrWrFblHPo0UPlzHPILinvcqBxoCP6m8cESjenTjKo2vlTo69jCU9Zy/ZiR636iizT015EYA+n8L7qFwo8QUNRPPF6tIq6jGlQ15QtmFRZSb/Kk7rUZLrp67LwuTIFXYqzEUq8gBWiWUc084h7elhqUM2KMe3IfJg2UIjXihM3S3oJuocJnImqaDpz37EyrrFahihkuyucqpSyRm9Mys9z/agOcb/RYPQEH8nzlJ0nA+IXfMPq0tBOrQ/yV1YaHV1rP+HJJHzxiWV0IFsh6RY3S0KNdU3LSSrXv4SwHsld6cKsSJT7Hh9lJfNetrJ1bIP5+swTjKgPX/b3MaS4Qapb1jZYtWBBfG0jKE9abJJ4YhLAtiP9Sl1aXSjdw+y67ORIwuB73P[...]
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-2de7753a-69d7-e901-bfcd-79553e6eaca6/sourceFolder/bar/test-file-837bd3e4-e7b9-faa0-a76b-7b2fc6913b06?sv=Sanitized&se=2025-10-01T20%3A32%3A27Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inli[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-2de7753a-69d7-e901-bfcd-79553e6eaca6/sourceFolder/pik/test-file-0d64a2e0-a355-b0fb-778e-22fa4e1b0c64?sv=Sanitized&se=2025-10-01T20%3A32%3A27Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inli[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-2de7753a-69d7-e901-bfcd-79553e6eaca6?sv=Sanitized&se=2025-10-01T20%3A32%3A27Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container&comp=list&prefix=sourceFolder%2F&delimiter=%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.blob.core.windows.net/\" ContainerName=\"test-container-2de7753a-69d7-e901-bfcd-79553e6eaca6\"><Prefix>sourceFolder/</Prefix><Delimiter>/</Delimiter><Blobs><BlobPrefix><Name>sourceFolder/bar/</Name></BlobPrefix><BlobPrefix><Name>sourceFolder/pik/</Name></BlobPrefix><Blob><Name>sourceFolder/test-file-cb8f31de-c43a-381a-891d-cce3749ef4d0</Name><Properties><Creation-Time>Tue, 30 Sep 2025 20:32:27 GMT</Creation-Time><Last-Modified>Tue, 30 Sep 2025 20:32:27 GMT</Last-Modified><Etag>0x8DE00607888CDE2</Etag><Content-Length>1024</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64 /><Content-MD5>tm7KszSmSh+IePnBgrDtVw==</Content-MD5><Cache-Control>no-cache</Cache-Control><Content-Disposition>inline</Content-Disposition><BlobType>BlockBlob</BlobType><AccessTier>Cold</AccessTier><AccessTierChangeTime>Tue, 30 Sep 2025 20:32:27 GMT</AccessTierChangeTime><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><Metadata><foo>bar</foo><meta>data</meta><Capital>letter</Capital><UPPER>case</UPPER></Metadata><OrMetadata /></Blob><Blob><Name>sourceFolder/test-file-fe105d0f-af53-2483-06cc-724a95430e35</Name><Properties><Creation-Time>Tue, 30 Sep 2025 20:32:27 GMT</Creation-Time><Last-Modified>Tue, 30 Sep 2025 20:32:27 GMT</Last-Modified><Etag>0x8DE00607891EB7A</Etag><Content-Length>1024</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64 /><Content-MD5>gdYc4vNUEIRVlF5claF4qg==</Content-MD5><Cache-Control>no-cache</Cache-Control><Content-Disposition>inline</Content-Disposition><BlobType>BlockBlob</BlobType><AccessTier>Cold</AccessTier><AccessTierChangeTime>Tue, 30 Sep 2025 20:32:27 GMT</AccessTierChangeTime><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><Metadata><foo>bar</foo><meta>data</meta><Capital>letter</Capital><UPPER>case</UPPER></Metadata><OrMetadata /></Blob></Blobs><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-2de7753a-69d7-e901-bfcd-79553e6eaca6?sv=Sanitized&se=2025-10-01T20%3A32%3A27Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container&comp=list&prefix=sourceFolder%2Fbar%2F&delimiter=%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "applica[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-a5cee895-2bda-61fb-882c-2b645060583a/destFolder/test-file-fe105d0f-af53-2483-06cc-724a95430e35",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-2de7753a-69d7-e901-bfcd-79553e6eaca6/sourceFolder/test-file-fe105d0f-af53-2483-06cc-724a95430e35?sv=sanitized-value&se=2025-10-01T20%3A32%3A27Z&sr=c&sp=racwdxltfi&sig=Sanitized",
        "x-ms-date": "Tue, 30 Sep 2025 20:32:27 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE006078CF24D6\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:32:27 GMT",
        "x-ms-content-crc64": "osnQIcxdikk=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-2de7753a-69d7-e901-bfcd-79553e6eaca6?sv=Sanitized&se=2025-10-01T20%3A32%3A27Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container&comp=list&prefix=sourceFolder%2Fpik%2F&delimiter=%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "applica[...]
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-a5cee895-2bda-61fb-882c-2b645060583a/destFolder/bar/test-file-837bd3e4-e7b9-faa0-a76b-7b2fc6913b06",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-2de7753a-69d7-e901-bfcd-79553e6eaca6/sourceFolder/bar/test-file-837bd3e4-e7b9-faa0-a76b-7b2fc6913b06?sv=sanitized-value&se=2025-10-01T20%3A32%3A27Z&sr=c&sp=racwdxltfi&sig=Sanitized",
        "x-ms-date": "Tue, 30 Sep 2025 20:32:27 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE006078D9A049\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:32:27 GMT",
        "x-ms-content-crc64": "P4zuUC472EE=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-a5cee895-2bda-61fb-882c-2b645060583a/destFolder/pik/test-file-0d64a2e0-a355-b0fb-778e-22fa4e1b0c64",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-2de7753a-69d7-e901-bfcd-79553e6eaca6/sourceFolder/pik/test-file-0d64a2e0-a355-b0fb-778e-22fa4e1b0c64?sv=sanitized-value&se=2025-10-01T20%3A32%3A27Z&sr=c&sp=racwdxltfi&sig=Sanitized",
        "x-ms-date": "Tue, 30 Sep 2025 20:32:27 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE006078E2BDCA\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:32:27 GMT",
        "x-ms-content-crc64": "VCN9+GLfdJo=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-2de7753a-69d7-e901-bfcd-79553e6eaca6?sv=Sanitized&se=2025-10-01T20%3A32%3A27Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container&comp=list&prefix=sourceFolder%2F",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-a5cee895-2bda-61fb-882c-2b645060583a?restype=container&comp=list&prefix=destFolder%2F",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 30 Sep 2025 20:32:28 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-2de7753a-69d7-e901-bfcd-79553e6eaca6/sourceFolder/bar/test-file-837bd3e4-e7b9-faa0-a76b-7b2fc6913b06?sv=Sanitized&se=2025-10-01T20%3A32%3A27Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-MD5": "4VnykfqI5TuCH2iDWe974Q==",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DE0060789B08EE\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:32:27 GMT",
        "x-ms-access-tier": "Cold",
        "x-ms-access-tier-change-time": "Tue, 30 Sep 2025 20:32:27 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 30 Sep 2025 20:32:27 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-2de7753a-69d7-e901-bfcd-79553e6eaca6/sourceFolder/bar/test-file-837bd3e4-e7b9-faa0-a76b-7b2fc6913b06?sv=Sanitized&se=2025-10-01T20%3A32%3A27Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DE0060789B08EE\"",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DE0060789B08EE\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:32:27 GMT",
        "x-ms-blob-content-md5": "4VnykfqI5TuCH2iDWe974Q==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 30 Sep 2025 20:32:27 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": "Sjh2jZaG2Vo3BwwefOTdXuXSim1/tJFc9P5el[...]
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-2de7753a-69d7-e901-bfcd-79553e6eaca6?sv=Sanitized&se=2025-10-01T20%3A32%3A27Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 403,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "AuthorizationFailure",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>AuthorizationFailure</Code><Message>This request is not authorized to perform this operation.\n",
        "RequestId:4a5be5cd-201e-002f-1f49-32ad7f000000\n",
        "Time:2025-09-30T20:32:29.6789137Z</Message></Error>"
      ]
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2025-09-30T13:32:27.1673610-07:00",
    "RandomSeed": "59170315",
    "Storage_TestConfigDefault": "ProductionTenant\namandapreprod\nU2FuaXRpemVk\nhttps://amandapreprod.blob.core.windows.net\nhttps://amandapreprod.file.core.windows.net\nhttps://amandapreprod.queue.core.windows.net\nhttps://amandapreprod.table.core.windows.net\n\n\n\n\nhttps://amandapreprod-secondary.blob.core.windows.net\nhttps://amandapreprod-secondary.file.core.windows.net\nhttps://amandapreprod-secondary.queue.core.windows.net\nhttps://amandapreprod-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandapreprod.blob.core.windows.net/;QueueEndpoint=https://amandapreprod.queue.core.windows.net/;FileEndpoint=https://amandapreprod.file.core.windows.net/;BlobSecondaryEndpoint=https://amandapreprod-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandapreprod-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandapreprod-secondary.file.core.windows.net/;AccountName=amandapreprod;AccountKey=U2FuaXRpemVk\nencryptionScope\n\n"
  }
}
