{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-a256a399-640c-c7f7-06a8-c0945a5fdcd2?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 30 Sep 2025 20:32:29 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE00607A25A5D9\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:32:29 GMT",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-a256a399-640c-c7f7-06a8-c0945a5fdcd2/sourceFolder/test-file-7e3a4459-3bd0-752c-e5fe-7f64963a3899?sv=Sanitized&se=2025-10-01T20%3A32%3A30Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": "M8jYIfLN6fVcx3XqeFANg3hskhUz+/5h3b7S2cjNaiMKMzHNYhemEdtHuzGBfANb6PDmnS/eGDfKdkMz+g8tjlxS30UfPyBgxYA67EDM4GG7d/HX5s30Kxv5A+vTchbLGS3UL529PKjPhdiupCv3/ZXid4MdVaePXrQqJTw1jVJpbtIS+LHE/jpICGH0RYbvAgVV8fqTrsSFRNDokxdsmviFRDVZ5AXkHnlJ1U1GmhgtOiM235xX1sAOjbPg22oj3G5pbwFRlh0AcdOBSdh2P6q4u1nzNrpbLW11SldRA0IPJfnf3SsW3KMFNW7J1o3nmE4JJyARL6azDUGT20vGr22QciPflmF+od+17QBMklfgjbIISNwi/fZTLM/qgwBXP4YBOGRpCAHsioVBW0GlZ3rps02ZvWaQbnQtjGq[...]
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-a256a399-640c-c7f7-06a8-c0945a5fdcd2/sourceFolder/bar/test-file-4d7675f0-6ef7-bb8c-5abd-392ba019b096?sv=Sanitized&se=2025-10-01T20%3A32%3A30Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inli[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-a256a399-640c-c7f7-06a8-c0945a5fdcd2/sourceFolder/pik/test-file-9fd0e804-0422-8a46-bfde-506b06a23537?sv=Sanitized&se=2025-10-01T20%3A32%3A30Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inli[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-a256a399-640c-c7f7-06a8-c0945a5fdcd2?sv=Sanitized&se=2025-10-01T20%3A32%3A30Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container&comp=list&prefix=sourceFolder%2F&delimiter=%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.blob.core.windows.net/\" ContainerName=\"test-container-a256a399-640c-c7f7-06a8-c0945a5fdcd2\"><Prefix>sourceFolder/</Prefix><Delimiter>/</Delimiter><Blobs><BlobPrefix><Name>sourceFolder/bar/</Name></BlobPrefix><BlobPrefix><Name>sourceFolder/pik/</Name></BlobPrefix><Blob><Name>sourceFolder/test-file-173dc4df-f7f8-7b66-abf6-735e0ac2f44c</Name><Properties><Creation-Time>Tue, 30 Sep 2025 20:32:30 GMT</Creation-Time><Last-Modified>Tue, 30 Sep 2025 20:32:30 GMT</Last-Modified><Etag>0x8DE00607A4B3FD8</Etag><Content-Length>1024</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64 /><Content-MD5>Mu/yK4RGhL9pYje63zK8Fw==</Content-MD5><Cache-Control>no-cache</Cache-Control><Content-Disposition>inline</Content-Disposition><BlobType>BlockBlob</BlobType><AccessTier>Cold</AccessTier><AccessTierChangeTime>Tue, 30 Sep 2025 20:32:30 GMT</AccessTierChangeTime><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><Metadata><foo>bar</foo><meta>data</meta><Capital>letter</Capital><UPPER>case</UPPER></Metadata><OrMetadata /></Blob><Blob><Name>sourceFolder/test-file-7e3a4459-3bd0-752c-e5fe-7f64963a3899</Name><Properties><Creation-Time>Tue, 30 Sep 2025 20:32:30 GMT</Creation-Time><Last-Modified>Tue, 30 Sep 2025 20:32:30 GMT</Last-Modified><Etag>0x8DE00607A41D48D</Etag><Content-Length>1024</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64 /><Content-MD5>99/UefBEMl0SpwLrzbyDNQ==</Content-MD5><Cache-Control>no-cache</Cache-Control><Content-Disposition>inline</Content-Disposition><BlobType>BlockBlob</BlobType><AccessTier>Cold</AccessTier><AccessTierChangeTime>Tue, 30 Sep 2025 20:32:30 GMT</AccessTierChangeTime><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><Metadata><foo>bar</foo><meta>data</meta><Capital>letter</Capital><UPPER>case</UPPER></Metadata><OrMetadata /></Blob></Blobs><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-a256a399-640c-c7f7-06a8-c0945a5fdcd2?sv=Sanitized&se=2025-10-01T20%3A32%3A30Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container&comp=list&prefix=sourceFolder%2Fbar%2F&delimiter=%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "applica[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-3ccd1984-56ab-9e6b-c72b-7e6ea035524f/destFolder/test-file-7e3a4459-3bd0-752c-e5fe-7f64963a3899",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-a256a399-640c-c7f7-06a8-c0945a5fdcd2/sourceFolder/test-file-7e3a4459-3bd0-752c-e5fe-7f64963a3899?sv=sanitized-value&se=2025-10-01T20%3A32%3A30Z&sr=c&sp=racwdxltfi&sig=Sanitized",
        "x-ms-date": "Tue, 30 Sep 2025 20:32:30 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE00607A882B69\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:32:30 GMT",
        "x-ms-content-crc64": "AHPQT/fhSHc=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-a256a399-640c-c7f7-06a8-c0945a5fdcd2?sv=Sanitized&se=2025-10-01T20%3A32%3A30Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container&comp=list&prefix=sourceFolder%2Fpik%2F&delimiter=%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "applica[...]
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-3ccd1984-56ab-9e6b-c72b-7e6ea035524f/destFolder/bar/test-file-4d7675f0-6ef7-bb8c-5abd-392ba019b096",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-a256a399-640c-c7f7-06a8-c0945a5fdcd2/sourceFolder/bar/test-file-4d7675f0-6ef7-bb8c-5abd-392ba019b096?sv=sanitized-value&se=2025-10-01T20%3A32%3A30Z&sr=c&sp=racwdxltfi&sig=Sanitized",
        "x-ms-date": "Tue, 30 Sep 2025 20:32:30 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE00607A92A6F6\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:32:30 GMT",
        "x-ms-content-crc64": "buEn6twECKs=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-3ccd1984-56ab-9e6b-c72b-7e6ea035524f/destFolder/pik/test-file-9fd0e804-0422-8a46-bfde-506b06a23537",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-a256a399-640c-c7f7-06a8-c0945a5fdcd2/sourceFolder/pik/test-file-9fd0e804-0422-8a46-bfde-506b06a23537?sv=sanitized-value&se=2025-10-01T20%3A32%3A30Z&sr=c&sp=racwdxltfi&sig=Sanitized",
        "x-ms-date": "Tue, 30 Sep 2025 20:32:30 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE00607A9B01FE\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:32:30 GMT",
        "x-ms-content-crc64": "su8N0IJxg/w=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-a256a399-640c-c7f7-06a8-c0945a5fdcd2?sv=Sanitized&se=2025-10-01T20%3A32%3A30Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container&comp=list&prefix=sourceFolder%2F",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-3ccd1984-56ab-9e6b-c72b-7e6ea035524f?restype=container&comp=list&prefix=destFolder%2F",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 30 Sep 2025 20:32:31 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-a256a399-640c-c7f7-06a8-c0945a5fdcd2/sourceFolder/bar/test-file-4d7675f0-6ef7-bb8c-5abd-392ba019b096?sv=Sanitized&se=2025-10-01T20%3A32%3A30Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-MD5": "hXqioecl5jP2KQHiyTh/zw==",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DE00607A548437\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:32:30 GMT",
        "x-ms-access-tier": "Cold",
        "x-ms-access-tier-change-time": "Tue, 30 Sep 2025 20:32:30 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 30 Sep 2025 20:32:30 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-a256a399-640c-c7f7-06a8-c0945a5fdcd2/sourceFolder/bar/test-file-4d7675f0-6ef7-bb8c-5abd-392ba019b096?sv=Sanitized&se=2025-10-01T20%3A32%3A30Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DE00607A548437\"",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DE00607A548437\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:32:30 GMT",
        "x-ms-blob-content-md5": "hXqioecl5jP2KQHiyTh/zw==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 30 Sep 2025 20:32:30 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": "iq/14UJtSKOHwIAxLy5U19SguSb+o5M1qffpE[...]
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-a256a399-640c-c7f7-06a8-c0945a5fdcd2?sv=Sanitized&se=2025-10-01T20%3A32%3A30Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 403,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "AuthorizationFailure",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>AuthorizationFailure</Code><Message>This request is not authorized to perform this operation.\n",
        "RequestId:0ebb6bbb-d01e-0066-3a49-32ef94000000\n",
        "Time:2025-09-30T20:32:32.6731953Z</Message></Error>"
      ]
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2025-09-30T13:32:30.0627332-07:00",
    "RandomSeed": "744656163",
    "Storage_TestConfigDefault": "ProductionTenant\namandapreprod\nU2FuaXRpemVk\nhttps://amandapreprod.blob.core.windows.net\nhttps://amandapreprod.file.core.windows.net\nhttps://amandapreprod.queue.core.windows.net\nhttps://amandapreprod.table.core.windows.net\n\n\n\n\nhttps://amandapreprod-secondary.blob.core.windows.net\nhttps://amandapreprod-secondary.file.core.windows.net\nhttps://amandapreprod-secondary.queue.core.windows.net\nhttps://amandapreprod-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandapreprod.blob.core.windows.net/;QueueEndpoint=https://amandapreprod.queue.core.windows.net/;FileEndpoint=https://amandapreprod.file.core.windows.net/;BlobSecondaryEndpoint=https://amandapreprod-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandapreprod-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandapreprod-secondary.file.core.windows.net/;AccountName=amandapreprod;AccountKey=U2FuaXRpemVk\nencryptionScope\n\n"
  }
}
