{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-2d09030d-d028-f9a2-379c-c3b4a45afa2a?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 00:41:28 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D10CC0C9840\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:41:28 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-2d09030d-d028-f9a2-379c-c3b4a45afa2a/sourceFolder/test-file-f0334ed2-2921-dfb7-c43c-4c4004602cf6?sv=Sanitized&se=2025-03-08T00%3A41%3A28Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": "CALtokcyvT1TnopSjbELsf+n7ZotqjCFLin2o8jTkVLYpTcCcomutgB/nj3CzXxIc6/kpoXJeV3RaHQeOxp1gAw4eeh5CT52+TaZrgzzwmCsrTAZ7uvNDyvaMAoVj3rmCh4wilOUz2lwbq1OL8tR3qUTcY3pW5Eha2q8ntk0YGm7s6PtwjgNGN7GqX89ft9giVFlAR3t/K+MDx/p1zCQOw1DknwnYxtsBlmvI7ER4+yKXBWHzl9Mzrf0YbMZI0GuNW1x+utjOCY1+PvEPdj9eisyXnsaCW2u98TEMwJoU+IXAe1EoOkAJyTvUdVjh5De9+aI5sXGkywAwgInngQkzaUYrDzruNpBMjZWK7eXSm8z5jsb4G0cUW3AQ93m2Ygfy4QwS9tU8z4LRrOOb2d1aXeS87jJCO04/FvOKnT[...]
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-2d09030d-d028-f9a2-379c-c3b4a45afa2a/sourceFolder/bar/test-file-70176fa5-bced-3ba1-7a86-8b2ada7fecd3?sv=Sanitized&se=2025-03-08T00%3A41%3A28Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inli[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-2d09030d-d028-f9a2-379c-c3b4a45afa2a/sourceFolder/pik/test-file-416b3164-6790-5f0e-21ab-77989921fd8c?sv=Sanitized&se=2025-03-08T00%3A41%3A28Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inli[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-2d09030d-d028-f9a2-379c-c3b4a45afa2a?sv=Sanitized&se=2025-03-08T00%3A41%3A28Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container&comp=list&prefix=sourceFolder%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.blob.core.windows.net/\" ContainerName=\"test-container-2d09030d-d028-f9a2-379c-c3b4a45afa2a\"><Prefix>sourceFolder/</Prefix><Blobs><Blob><Name>sourceFolder/bar/test-file-70176fa5-bced-3ba1-7a86-8b2ada7fecd3</Name><Properties><Creation-Time>Fri, 07 Mar 2025 00:41:28 GMT</Creation-Time><Last-Modified>Fri, 07 Mar 2025 00:41:28 GMT</Last-Modified><Etag>0x8DD5D10CC325D46</Etag><Content-Length>1024</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64 /><Content-MD5>UfqNgO69fQfPd1fJlo2GIA==</Content-MD5><Cache-Control>no-cache</Cache-Control><Content-Disposition>inline</Content-Disposition><BlobType>BlockBlob</BlobType><AccessTier>Cold</AccessTier><AccessTierChangeTime>Fri, 07 Mar 2025 00:41:28 GMT</AccessTierChangeTime><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><Metadata><foo>bar</foo><meta>data</meta><Capital>letter</Capital><UPPER>case</UPPER></Metadata><OrMetadata /></Blob><Blob><Name>sourceFolder/pik/test-file-416b3164-6790-5f0e-21ab-77989921fd8c</Name><Properties><Creation-Time>Fri, 07 Mar 2025 00:41:28 GMT</Creation-Time><Last-Modified>Fri, 07 Mar 2025 00:41:28 GMT</Last-Modified><Etag>0x8DD5D10CC3B7ACE</Etag><Content-Length>1024</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64 /><Content-MD5>R91+neBgEVsF5GKKlHMplw==</Content-MD5><Cache-Control>no-cache</Cache-Control><C[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-def80dca-14e5-1e20-710b-9c24fd599caf/destFolder/test-file-f0334ed2-2921-dfb7-c43c-4c4004602cf6",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-2d09030d-d028-f9a2-379c-c3b4a45afa2a/sourceFolder/test-file-f0334ed2-2921-dfb7-c43c-4c4004602cf6?sv=sanitized-value&se=2025-03-08T00%3A41%3A28Z&sr=c&sp=racwdxltfi&sig=Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 00:41:28 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D10CC5FF0EE\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:41:28 GMT",
        "x-ms-content-crc64": "sROwj3NV8yM=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-def80dca-14e5-1e20-710b-9c24fd599caf/destFolder/pik/test-file-416b3164-6790-5f0e-21ab-77989921fd8c",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-2d09030d-d028-f9a2-379c-c3b4a45afa2a/sourceFolder/pik/test-file-416b3164-6790-5f0e-21ab-77989921fd8c?sv=sanitized-value&se=2025-03-08T00%3A41%3A28Z&sr=c&sp=racwdxltfi&sig=Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 00:41:28 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D10CC612816\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:41:28 GMT",
        "x-ms-content-crc64": "YpQhVQoogwg=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-def80dca-14e5-1e20-710b-9c24fd599caf/destFolder/bar/test-file-70176fa5-bced-3ba1-7a86-8b2ada7fecd3",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-2d09030d-d028-f9a2-379c-c3b4a45afa2a/sourceFolder/bar/test-file-70176fa5-bced-3ba1-7a86-8b2ada7fecd3?sv=sanitized-value&se=2025-03-08T00%3A41%3A28Z&sr=c&sp=racwdxltfi&sig=Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 00:41:28 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D10CC62FACA\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:41:28 GMT",
        "x-ms-content-crc64": "qd5EqkmJOa4=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-2d09030d-d028-f9a2-379c-c3b4a45afa2a?sv=Sanitized&se=2025-03-08T00%3A41%3A28Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container&comp=list&prefix=sourceFolder",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-def80dca-14e5-1e20-710b-9c24fd599caf?restype=container&comp=list&prefix=destFolder",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 00:41:28 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-2d09030d-d028-f9a2-379c-c3b4a45afa2a/sourceFolder/bar/test-file-70176fa5-bced-3ba1-7a86-8b2ada7fecd3?sv=Sanitized&se=2025-03-08T00%3A41%3A28Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-MD5": "UfqNgO69fQfPd1fJlo2GIA==",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD5D10CC325D46\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:41:28 GMT",
        "x-ms-access-tier": "Cold",
        "x-ms-access-tier-change-time": "Fri, 07 Mar 2025 00:41:28 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 07 Mar 2025 00:41:28 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-2d09030d-d028-f9a2-379c-c3b4a45afa2a/sourceFolder/bar/test-file-70176fa5-bced-3ba1-7a86-8b2ada7fecd3?sv=Sanitized&se=2025-03-08T00%3A41%3A28Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DD5D10CC325D46\"",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD5D10CC325D46\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:41:28 GMT",
        "x-ms-blob-content-md5": "UfqNgO69fQfPd1fJlo2GIA==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 07 Mar 2025 00:41:28 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "ef8GOAvID4okwv9KUhEPlpJMU9Op3KJjP9bfA[...]
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-2d09030d-d028-f9a2-379c-c3b4a45afa2a?sv=Sanitized&se=2025-03-08T00%3A41%3A28Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 403,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "AuthorizationFailure",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>AuthorizationFailure</Code><Message>This request is not authorized to perform this operation.\n",
        "RequestId:ac6f6036-101e-0056-26f9-8e515b000000\n",
        "Time:2025-03-07T00:41:30.4572319Z</Message></Error>"
      ]
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2025-03-06T16:41:28.1225376-08:00",
    "RandomSeed": "1950736370",
    "Storage_TestConfigDefault": "ProductionTenant\namandapreprod\nU2FuaXRpemVk\nhttps://amandapreprod.blob.core.windows.net\nhttps://amandapreprod.file.core.windows.net\nhttps://amandapreprod.queue.core.windows.net\nhttps://amandapreprod.table.core.windows.net\n\n\n\n\nhttps://amandapreprod-secondary.blob.core.windows.net\nhttps://amandapreprod-secondary.file.core.windows.net\nhttps://amandapreprod-secondary.queue.core.windows.net\nhttps://amandapreprod-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandapreprod.blob.core.windows.net/;QueueEndpoint=https://amandapreprod.queue.core.windows.net/;FileEndpoint=https://amandapreprod.file.core.windows.net/;BlobSecondaryEndpoint=https://amandapreprod-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandapreprod-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandapreprod-secondary.file.core.windows.net/;AccountName=amandapreprod;AccountKey=U2FuaXRpemVk\nencryptionScope\n\n"
  }
}
