{
  "Entries": [
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-8d02e35c-9f41-9555-2f0f-500e34c5f0de?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 22 Feb 2025 00:14:43 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD52D5E847BD54\"",
        "Last-Modified": "Sat, 22 Feb 2025 00:14:43 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-8d02e35c-9f41-9555-2f0f-500e34c5f0de/sourceFolder/test-file-5913f1ee-97e3-2807-1721-00ead6875556?sv=Sanitized&se=2025-02-23T00%3A14%3A43Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": "9dhuXNtx1gJo9tKZ7uOCnoO2GRn1zvvjMmjDg5SYmDzdvPX9GPl6OqdKBlo5Jbyy3mTr2cAqTifdiypzrlNt0F6VuzLuhIWKPN9xq8egqg2rEKQwrL98s23NII3PB4xU3Db8o2mJxFreYZ3guKNfPOEdx52uPSOfGAjEIGP4uzRSHc6QpAajIUxKUUoim/rKbeSrsj/vpp4SXYthxaP25aZojpvUzpfbeaVQY+vZfXwN+bN+TQn1Y3Yvfkd6QlypVGyjuQ1f9p5M0DiZnkKzOd8PU8vwd5edciokpFBQYDZJpw9/NcNurgMUMn3QW8U0fERna+6RudzUBkbiOlFN/G8CUPczNAQcoKXH3EUazRdl8CgM6PVHt+0zqi58i3OyxjUNzgrNAUc/S8pJyd2WuTkvfUooQRN6upgJ/4n[...]
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-8d02e35c-9f41-9555-2f0f-500e34c5f0de/sourceFolder/bar/test-file-d8244f4a-7714-688e-bf18-90a79b0859cd?sv=Sanitized&se=2025-02-23T00%3A14%3A43Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "in[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-8d02e35c-9f41-9555-2f0f-500e34c5f0de/sourceFolder/pik/test-file-6780f1b8-ce8a-be56-7e33-c289cf3e9b49?sv=Sanitized&se=2025-02-23T00%3A14%3A43Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "in[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-8d02e35c-9f41-9555-2f0f-500e34c5f0de?sv=Sanitized&se=2025-02-23T00%3A14%3A43Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container&comp=list&prefix=sourceFolder%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://jalauzonnettest.blob.core.windows.net/\" ContainerName=\"test-container-8d02e35c-9f41-9555-2f0f-500e34c5f0de\"><Prefix>sourceFolder/</Prefix><Blobs><Blob><Name>sourceFolder/bar/test-file-d8244f4a-7714-688e-bf18-90a79b0859cd</Name><VersionId>2025-02-22T00:14:43.7041682Z</VersionId><IsCurrentVersion>true</IsCurrentVersion><Properties><Creation-Time>Sat, 22 Feb 2025 00:14:43 GMT</Creation-Time><Last-Modified>Sat, 22 Feb 2025 00:14:43 GMT</Last-Modified><Etag>0x8DD52D5E866CE12</Etag><Content-Length>1024</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64 /><Content-MD5>+dVZxr9XXcPykYUT9KrLdQ==</Content-MD5><Cache-Control>no-cache</Cache-Control><Content-Disposition>inline</Content-Disposition><LastAccessTime>Sat, 22 Feb 2025 00:14:43 GMT</LastAccessTime><BlobType>BlockBlob</BlobType><AccessTier>Cold</AccessTier><AccessTierChangeTime>Sat, 22 Feb 2025 00:14:43 GMT</AccessTierChangeTime><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><Metadata><foo>bar</foo><meta>data</meta><Capital>letter</Capital><UPPER>case</UPPER></Metadata><OrMetadata /></Blob><Blob><Name>sourceFolder/pik/test-file-6780f1b8-ce8a-be56-7e33-c289cf3e9b49</Name><VersionId>2025-02-22T00:14:43.7491431Z</VersionId><IsCurrentVersion>true</IsCurrentVersion><Properties><Creation-Time>Sat, 22 Feb 2025 00:14:43 GMT</Creation-Time><Last-Modified>Sat, 22 Feb 2025 00:14:43 GMT</Last-Modified><Etag>0x8DD52D5E86DAAE7</Etag><Content-Length>1024</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64 />[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-86fbb7c5-fc1d-a3e5-4678-37e6df70f479/destFolder/bar/test-file-d8244f4a-7714-688e-bf18-90a79b0859cd",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://jalauzonnettest.blob.core.windows.net/test-container-8d02e35c-9f41-9555-2f0f-500e34c5f0de/sourceFolder/bar/test-file-d8244f4a-7714-688e-bf18-90a79b0859cd?sv=sanitized-value&se=2025-02-23T00%3A14%3A43Z&sr=c&sp=racwdxltfi&sig=Sanitized",
        "x-ms-date": "Sat, 22 Feb 2025 00:14:43 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD52D5E882DD7B\"",
        "Last-Modified": "Sat, 22 Feb 2025 00:14:43 GMT",
        "x-ms-content-crc64": "UMUi4P07088=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05",
        "x-ms-version-id": "2025-02-22T00:14:43.8880635Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-86fbb7c5-fc1d-a3e5-4678-37e6df70f479/destFolder/test-file-5913f1ee-97e3-2807-1721-00ead6875556",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://jalauzonnettest.blob.core.windows.net/test-container-8d02e35c-9f41-9555-2f0f-500e34c5f0de/sourceFolder/test-file-5913f1ee-97e3-2807-1721-00ead6875556?sv=sanitized-value&se=2025-02-23T00%3A14%3A43Z&sr=c&sp=racwdxltfi&sig=Sanitized",
        "x-ms-date": "Sat, 22 Feb 2025 00:14:43 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD52D5E8832B90\"",
        "Last-Modified": "Sat, 22 Feb 2025 00:14:43 GMT",
        "x-ms-content-crc64": "RI6vdxTzBVM=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05",
        "x-ms-version-id": "2025-02-22T00:14:43.8910624Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-86fbb7c5-fc1d-a3e5-4678-37e6df70f479/destFolder/pik/test-file-6780f1b8-ce8a-be56-7e33-c289cf3e9b49",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://jalauzonnettest.blob.core.windows.net/test-container-8d02e35c-9f41-9555-2f0f-500e34c5f0de/sourceFolder/pik/test-file-6780f1b8-ce8a-be56-7e33-c289cf3e9b49?sv=sanitized-value&se=2025-02-23T00%3A14%3A43Z&sr=c&sp=racwdxltfi&sig=Sanitized",
        "x-ms-date": "Sat, 22 Feb 2025 00:14:43 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD52D5E88352A0\"",
        "Last-Modified": "Sat, 22 Feb 2025 00:14:43 GMT",
        "x-ms-content-crc64": "IorOJMuu56U=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05",
        "x-ms-version-id": "2025-02-22T00:14:43.8910624Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-8d02e35c-9f41-9555-2f0f-500e34c5f0de?sv=Sanitized&se=2025-02-23T00%3A14%3A43Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container&comp=list&prefix=sourceFolder",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "20[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-86fbb7c5-fc1d-a3e5-4678-37e6df70f479?restype=container&comp=list&prefix=destFolder",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Sat, 22 Feb 2025 00:14:44 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-8d02e35c-9f41-9555-2f0f-500e34c5f0de/sourceFolder/bar/test-file-d8244f4a-7714-688e-bf18-90a79b0859cd?sv=Sanitized&se=2025-02-23T00%3A14%3A43Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-MD5": "+dVZxr9XXcPykYUT9KrLdQ==",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD52D5E866CE12\"",
        "Last-Modified": "Sat, 22 Feb 2025 00:14:43 GMT",
        "x-ms-access-tier": "Cold",
        "x-ms-access-tier-change-time": "Sat, 22 Feb 2025 00:14:43 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Sat, 22 Feb 2025 00:14:43 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Sat, 22 Feb 2025 00:14:43 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05",
        "x-ms-version-id": "2025-02-22T00:14:43.7041682Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-8d02e35c-9f41-9555-2f0f-500e34c5f0de/sourceFolder/bar/test-file-d8244f4a-7714-688e-bf18-90a79b0859cd?sv=Sanitized&se=2025-02-23T00%3A14%3A43Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DD52D5E866CE12\"",
        "x-ms-range": "bytes=0-4194303",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD52D5E866CE12\"",
        "Last-Modified": "Sat, 22 Feb 2025 00:14:43 GMT",
        "x-ms-blob-content-md5": "+dVZxr9XXcPykYUT9KrLdQ==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Sat, 22 Feb 2025 00:14:43 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Sat, 22 Feb 2025 00:14:43 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true[...]
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-8d02e35c-9f41-9555-2f0f-500e34c5f0de?sv=Sanitized&se=2025-02-23T00%3A14%3A43Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 403,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "AuthorizationFailure",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>AuthorizationFailure</Code><Message>This request is not authorized to perform this operation.\n",
        "RequestId:47932bfe-f01e-0052-6dbe-84a62a000000\n",
        "Time:2025-02-22T00:14:45.2885071Z</Message></Error>"
      ]
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2025-02-21T16:14:43.5268008-08:00",
    "RandomSeed": "953811388",
    "Storage_TestConfigDefault": "ProductionTenant\njalauzonnettest\nU2FuaXRpemVk\nhttps://jalauzonnettest.blob.core.windows.net\nhttps://jalauzonnettest.file.core.windows.net\nhttps://jalauzonnettest.queue.core.windows.net\nhttps://jalauzonnettest.table.core.windows.net\n\n\n\n\nhttps://jalauzonnettest-secondary.blob.core.windows.net\nhttps://jalauzonnettest-secondary.file.core.windows.net\nhttps://jalauzonnettest-secondary.queue.core.windows.net\nhttps://jalauzonnettest-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://jalauzonnettest.blob.core.windows.net/;QueueEndpoint=https://jalauzonnettest.queue.core.windows.net/;FileEndpoint=https://jalauzonnettest.file.core.windows.net/;BlobSecondaryEndpoint=https://jalauzonnettest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jalauzonnettest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jalauzonnettest-secondary.file.core.windows.net/;AccountName=jalauzonnettest;AccountKey=U2FuaXRpemVk\ntestscope1\n\n"
  }
}
