{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-52e62ace-b239-dd1f-5fc0-a7c3db5b09bf?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 00:40:55 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D10B8785431\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:40:55 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-52e62ace-b239-dd1f-5fc0-a7c3db5b09bf/sourceFolder/test-file-4a9caf7f-4d44-e05a-c9d8-9f7630164307?sv=Sanitized&se=2025-03-08T00%3A40%3A55Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": "P7CY5usWjWLRLvTVjckoNVYXZDf89Yl2rVTnYzcMpNMYSjaAfVwcHqHKR5gTK7qZuN/2JJCIWUkmITiWLikqxIkgvUOTqLf6+0aWMq7xYoKZTqtXFYBDj/DsWVwjhu93n4MP8252Bg8o/ChK8iebNb62/N9+0q4J3S5Spk5b1nVWHpIr4m8UIkibLxlX+ZzJUCSdbYkP+c3UBRU/JF/BzSWz9NSUcFJPotmX4qOVseSRiVUpvWnrRiTEVtxa1P7p2mHzowTINODRTsuveBYqP1QxrpoKlw+7x62v0Bp29M3brghBoQ3fyFR1V2+ePM4NmheHKSZj3kJSN9tXGWTGW1n91MoO6Z1GUeVGlT+gHYvfoTUC7sund8/F7mkxiK/wr/wVoWgD/7F5QddAHUkDsRpQeHcuw22NVlz6Sfo[...]
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-52e62ace-b239-dd1f-5fc0-a7c3db5b09bf/sourceFolder/bar/test-file-cf72ce04-3637-310f-d077-2d21777a7c6e?sv=Sanitized&se=2025-03-08T00%3A40%3A55Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inli[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-52e62ace-b239-dd1f-5fc0-a7c3db5b09bf/sourceFolder/pik/test-file-e1c3f3ac-5069-2928-72fb-08c48f364d75?sv=Sanitized&se=2025-03-08T00%3A40%3A55Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inli[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-52e62ace-b239-dd1f-5fc0-a7c3db5b09bf?sv=Sanitized&se=2025-03-08T00%3A40%3A55Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container&comp=list&prefix=sourceFolder%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.blob.core.windows.net/\" ContainerName=\"test-container-52e62ace-b239-dd1f-5fc0-a7c3db5b09bf\"><Prefix>sourceFolder/</Prefix><Blobs><Blob><Name>sourceFolder/bar/test-file-cf72ce04-3637-310f-d077-2d21777a7c6e</Name><Properties><Creation-Time>Fri, 07 Mar 2025 00:40:55 GMT</Creation-Time><Last-Modified>Fri, 07 Mar 2025 00:40:55 GMT</Last-Modified><Etag>0x8DD5D10B89DAA56</Etag><Content-Length>1024</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64 /><Content-MD5>iS6dfG7ZVIlTgAJ9zB8ibg==</Content-MD5><Cache-Control>no-cache</Cache-Control><Content-Disposition>inline</Content-Disposition><BlobType>BlockBlob</BlobType><AccessTier>Cold</AccessTier><AccessTierChangeTime>Fri, 07 Mar 2025 00:40:55 GMT</AccessTierChangeTime><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><Metadata><foo>bar</foo><meta>data</meta><Capital>letter</Capital><UPPER>case</UPPER></Metadata><OrMetadata /></Blob><Blob><Name>sourceFolder/pik/test-file-e1c3f3ac-5069-2928-72fb-08c48f364d75</Name><Properties><Creation-Time>Fri, 07 Mar 2025 00:40:55 GMT</Creation-Time><Last-Modified>Fri, 07 Mar 2025 00:40:55 GMT</Last-Modified><Etag>0x8DD5D10B8A67A16</Etag><Content-Length>1024</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64 /><Content-MD5>lYQu/pTmSgjhhVF61CDeHg==</Content-MD5><Cache-Control>no-cache</Cache-Control><C[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-1d00583b-31c3-d92e-8f96-02db44d5c6af/destFolder/test-file-182c2f35-08c6-4801-63e0-154d3bf5c055",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-encoding": "",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-52e62ace-b239-dd1f-5fc0-a7c3db5b09bf/sourceFolder/test-file-182c2f35-08c6-4801-63e0-154d3bf5c055?sv=sanitized-value&se=2025-03-08T00%3A40%3A55Z&sr=c&sp=racwdxltfi&sig=Sanitized",
        "x-ms-copy-source-blob-properties": "false",
        "x-ms-date": "Fri, 07 Mar 2025 00:40:55 GMT",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D10B8C59EFF\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:40:55 GMT",
        "x-ms-content-crc64": "J9U9t8bMfds=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-1d00583b-31c3-d92e-8f96-02db44d5c6af/destFolder/bar/test-file-cf72ce04-3637-310f-d077-2d21777a7c6e",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-encoding": "",
        "x-ms[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-1d00583b-31c3-d92e-8f96-02db44d5c6af/destFolder/pik/test-file-e1c3f3ac-5069-2928-72fb-08c48f364d75",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-encoding": "",
        "x-ms[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-52e62ace-b239-dd1f-5fc0-a7c3db5b09bf?sv=Sanitized&se=2025-03-08T00%3A40%3A55Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container&comp=list&prefix=sourceFolder",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-1d00583b-31c3-d92e-8f96-02db44d5c6af?restype=container&comp=list&prefix=destFolder",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 00:40:56 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-52e62ace-b239-dd1f-5fc0-a7c3db5b09bf/sourceFolder/bar/test-file-cf72ce04-3637-310f-d077-2d21777a7c6e?sv=Sanitized&se=2025-03-08T00%3A40%3A55Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-MD5": "iS6dfG7ZVIlTgAJ9zB8ibg==",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD5D10B89DAA56\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:40:55 GMT",
        "x-ms-access-tier": "Cold",
        "x-ms-access-tier-change-time": "Fri, 07 Mar 2025 00:40:55 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 07 Mar 2025 00:40:55 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-52e62ace-b239-dd1f-5fc0-a7c3db5b09bf/sourceFolder/bar/test-file-cf72ce04-3637-310f-d077-2d21777a7c6e?sv=Sanitized&se=2025-03-08T00%3A40%3A55Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DD5D10B89DAA56\"",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD5D10B89DAA56\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:40:55 GMT",
        "x-ms-blob-content-md5": "iS6dfG7ZVIlTgAJ9zB8ibg==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 07 Mar 2025 00:40:55 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "L/o/qNQQlCdt+DEV/sHSLsKtlzuIqSJb5H6nJ[...]
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-52e62ace-b239-dd1f-5fc0-a7c3db5b09bf?sv=Sanitized&se=2025-03-08T00%3A40%3A55Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 403,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "AuthorizationFailure",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>AuthorizationFailure</Code><Message>This request is not authorized to perform this operation.\n",
        "RequestId:7d239d00-f01e-0071-08f9-8e469f000000\n",
        "Time:2025-03-07T00:40:57.3189702Z</Message></Error>"
      ]
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2025-03-06T16:40:55.2770722-08:00",
    "RandomSeed": "339448093",
    "Storage_TestConfigDefault": "ProductionTenant\namandapreprod\nU2FuaXRpemVk\nhttps://amandapreprod.blob.core.windows.net\nhttps://amandapreprod.file.core.windows.net\nhttps://amandapreprod.queue.core.windows.net\nhttps://amandapreprod.table.core.windows.net\n\n\n\n\nhttps://amandapreprod-secondary.blob.core.windows.net\nhttps://amandapreprod-secondary.file.core.windows.net\nhttps://amandapreprod-secondary.queue.core.windows.net\nhttps://amandapreprod-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandapreprod.blob.core.windows.net/;QueueEndpoint=https://amandapreprod.queue.core.windows.net/;FileEndpoint=https://amandapreprod.file.core.windows.net/;BlobSecondaryEndpoint=https://amandapreprod-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandapreprod-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandapreprod-secondary.file.core.windows.net/;AccountName=amandapreprod;AccountKey=U2FuaXRpemVk\nencryptionScope\n\n"
  }
}
