{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-488613af-af82-52e2-bcab-bb7c7cc9b6c9?restype=container&sv=Sanitized&ss=b&srt=sco&st=2026-02-18T05%3A20%3A23Z&se=2026-02-18T07%3A20%3A23Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE6EB5CC91B35A\"",
        "Last-Modified": "Wed, 18 Feb 2026 06:20:23 GMT",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-488613af-af82-52e2-bcab-bb7c7cc9b6c9/sourceFolder/test-file-4e996a48-9493-2710-dd2e-5d9049292d06?sv=Sanitized&ss=b&srt=sco&st=2026-02-18T05%3A20%3A23Z&se=2026-02-18T07%3A20%3A23Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": "unJT9Fax64P44DvknsSHPE2fjlNQ/5V4IwNPnKnHs95RXNXW1TmvMgXp0LCVY/Y6bq771XCJsLvd29BTYk7ZMSxckkLvsWYT71tNZi7l4sAMFS37y95uyKsZ+fpoXNC2D5+DONC0S71H5+UUO0qN+PgQRk0h3mVO7cqW1bhsq5OLllePYarvWMlvtOT4WoxhjAECVxaDlTA5NEoFHnUF2zxRiaTy/ZZNIe6DsSqBVZM9NEm2aVN9BwEmVixg6TlTatmnp9Dob49qtDYn/+MGuN+2yOksTnHp1IGjy6dp7Te0L0dQ2a7CVcW6TLQdVQceH51NqSFQJxtnvtJPRaPnAMf+c9Cbtd4w9HMkcgK8y356hasJHEMWZAgs6RrbcxAh0kvsHuI3gmm/HbWuK7QYq/JU1cD43uSE6A7Hb8z[...]
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-488613af-af82-52e2-bcab-bb7c7cc9b6c9/sourceFolder/bar/test-file-ebe2590c-c614-0864-b347-9abea3d04501?sv=Sanitized&ss=b&srt=sco&st=2026-02-18T05%3A20%3A23Z&se=2026-02-18T07%3A20%3A23Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-cache-control": "no-cache",
       [...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-488613af-af82-52e2-bcab-bb7c7cc9b6c9/sourceFolder/pik/test-file-ac5965c4-4b8e-ce10-1c9d-ff65cd2c54cd?sv=Sanitized&ss=b&srt=sco&st=2026-02-18T05%3A20%3A23Z&se=2026-02-18T07%3A20%3A23Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-cache-control": "no-cache",
       [...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-488613af-af82-52e2-bcab-bb7c7cc9b6c9?restype=container&comp=list&prefix=sourceFolder%2F&delimiter=%2F&include=Metadata&sv=Sanitized&ss=b&srt=sco&st=2026-02-18T05%3A20%3A23Z&se=2026-02-18T07%3A20%3A23Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.blob.core.windows.net/\" ContainerName=\"test-container-488613af-af82-52e2-bcab-bb7c7cc9b6c9\"><Prefix>sourceFolder/</Prefix><Delimiter>/</Delimiter><Blobs><BlobPrefix><Name>sourceFolder/bar/</Name></BlobPrefix><BlobPrefix><Name>sourceFolder/pik/</Name></BlobPrefix><Blob><Name>sourceFolder/test-file-4e996a48-9493-2710-dd2e-5d9049292d06</Name><Properties><Creation-Time>Wed, 18 Feb 2026 06:20:23 GMT</Creation-Time><Last-Modified>Wed, 18 Feb 2026 06:20:23 GMT</Last-Modified><Etag>0x8DE6EB5CCA6A290</Etag><Content-Length>1024</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64 /><Content-MD5>80G63LBmYciRZmG3QWHYpg==</Content-MD5><Cache-Control>no-cache</Cache-Control><Content-Disposition>inline</Content-Disposition><BlobType>BlockBlob</BlobType><AccessTier>Cold</AccessTier><AccessTierChangeTime>Wed, 18 Feb 2026 06:20:23 GMT</AccessTierChangeTime><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><Metadata><foo>bar</foo><meta>data</meta><Capital>letter</Capital><UPPER>case</UPPER></Metadata><OrMetadata /></Blob><Blob><Name>sourceFolder/test-file-c96cf0e4-d090-9547-fef6-ea4874fedc01</Name><Properties><Creation-Time>Wed, 18 Feb 2026 06:20:23 GMT</Creation-Time><Last-Modified>Wed, 18 Feb 2026 06:20:23 GMT</Last-Modified><Etag>0x8DE6EB5CCAFE6EF</Etag><Content-Length>1024</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64 /><Content-MD5>B4IcfU+4NrQzyTZXZoBUlg==</Content-MD5><Cache-Control>no-cache</Cache-Control><Content-Disposition>inline</Content-Disposition><BlobType>BlockBlob</BlobType><AccessTier>Cold</AccessTier><AccessTierChangeTime>Wed, 18 Feb 2026 06:20:23 GMT</AccessTierChangeTime><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><Metadata><foo>bar</foo><meta>data</meta><Capital>letter</Capital><UPPER>case</UPPER></Metadata><OrMetadata /></Blob></Blobs><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-488613af-af82-52e2-bcab-bb7c7cc9b6c9?restype=container&comp=list&prefix=sourceFolder%2Fbar%2F&delimiter=%2F&include=Metadata&sv=Sanitized&ss=b&srt=sco&st=2026-02-18T05%3A20%3A23Z&se=2026-02-18T07%3A20%3A23Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeade[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-1b4f4f42-e213-8cc5-f6e4-6f84d298ea5a/destFolder/test-file-4e996a48-9493-2710-dd2e-5d9049292d06?sv=Sanitized&ss=b&srt=sco&st=2026-02-18T05%3A20%3A23Z&se=2026-02-18T07%3A20%3A23Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-488613af-af82-52e2-bcab-bb7c7cc9b6c9/sourceFolder/test-file-4e996a48-9493-2710-dd2e-5d9049292d06?sv=sanitized-value&ss=b&srt=sco&st=2026-02-18T05%3A20%3A23Z&se=2026-02-18T07%3A20%3A23Z&sp=rwdxylacuptfi&sig=Sanitized",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE6EB5CCE41C0C\"",
        "Last-Modified": "Wed, 18 Feb 2026 06:20:23 GMT",
        "x-ms-content-crc64": "NfRaQdf97cg=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-488613af-af82-52e2-bcab-bb7c7cc9b6c9?restype=container&comp=list&prefix=sourceFolder%2Fpik%2F&delimiter=%2F&include=Metadata&sv=Sanitized&ss=b&srt=sco&st=2026-02-18T05%3A20%3A23Z&se=2026-02-18T07%3A20%3A23Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeade[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-1b4f4f42-e213-8cc5-f6e4-6f84d298ea5a/destFolder/bar/test-file-ebe2590c-c614-0864-b347-9abea3d04501?sv=Sanitized&ss=b&srt=sco&st=2026-02-18T05%3A20%3A23Z&se=2026-02-18T07%3A20%3A23Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-488613af-af82-52e2-bcab-bb7c7cc9b6c9/sourceFolder/bar/test-file-ebe2590c-c614-0864-b347-9abea3d04501?sv=sanitized-value&ss=b&srt=sco&st=2026-02-18T05%3A20%3A23Z&se=2026-02-18T07%3A20%3A23Z&sp=rwdxylacuptfi&sig=Sanitized",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE6EB5CCF277E2\"",
        "Last-Modified": "Wed, 18 Feb 2026 06:20:23 GMT",
        "x-ms-content-crc64": "ZYAhLZsAe34=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-1b4f4f42-e213-8cc5-f6e4-6f84d298ea5a/destFolder/pik/test-file-ac5965c4-4b8e-ce10-1c9d-ff65cd2c54cd?sv=Sanitized&ss=b&srt=sco&st=2026-02-18T05%3A20%3A23Z&se=2026-02-18T07%3A20%3A23Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "If-None-Match": "*",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-488613af-af82-52e2-bcab-bb7c7cc9b6c9/sourceFolder/pik/test-file-ac5965c4-4b8e-ce10-1c9d-ff65cd2c54cd?sv=sanitized-value&ss=b&srt=sco&st=2026-02-18T05%3A20%3A23Z&se=2026-02-18T07%3A20%3A23Z&sp=rwdxylacuptfi&sig=Sanitized",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE6EB5CCF5A89B\"",
        "Last-Modified": "Wed, 18 Feb 2026 06:20:23 GMT",
        "x-ms-content-crc64": "r5z7jWMiS8Q=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-488613af-af82-52e2-bcab-bb7c7cc9b6c9?restype=container&comp=list&prefix=sourceFolder%2F&sv=Sanitized&ss=b&srt=sco&st=2026-02-18T05%3A20%3A23Z&se=2026-02-18T07%3A20%3A23Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "appli[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-1b4f4f42-e213-8cc5-f6e4-6f84d298ea5a?restype=container&comp=list&prefix=destFolder%2F&sv=Sanitized&ss=b&srt=sco&st=2026-02-18T05%3A20%3A23Z&se=2026-02-18T07%3A20%3A23Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "applica[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-488613af-af82-52e2-bcab-bb7c7cc9b6c9/sourceFolder/bar/test-file-ebe2590c-c614-0864-b347-9abea3d04501?sv=Sanitized&ss=b&srt=sco&st=2026-02-18T05%3A20%3A23Z&se=2026-02-18T07%3A20%3A23Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-MD5": "63YIe5sO1l9yTZc7CS33Vg==",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DE6EB5CCB8DD98\"",
        "Last-Modified": "Wed, 18 Feb 2026 06:20:23 GMT",
        "x-ms-access-tier": "Cold",
        "x-ms-access-tier-change-time": "Wed, 18 Feb 2026 06:20:23 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 18 Feb 2026 06:20:23 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-488613af-af82-52e2-bcab-bb7c7cc9b6c9/sourceFolder/bar/test-file-ebe2590c-c614-0864-b347-9abea3d04501?sv=Sanitized&ss=b&srt=sco&st=2026-02-18T05%3A20%3A23Z&se=2026-02-18T07%3A20%3A23Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DE6EB5CCB8DD98\"",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DE6EB5CCB8DD98\"",
        "Last-Modified": "Wed, 18 Feb 2026 06:20:23 GMT",
        "x-ms-access-tier": "Cold",
        "x-ms-access-tier-change-time": "Wed, 18 Feb 2026 06:20:23 GMT",
        "x-ms-blob-content-md5": "63YIe5sO1l9yTZc7CS33Vg==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Wed, 18 Feb 2026 06:20:23 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": "ljQ4oGIqjnkONC3a5Bq5RzgzEzxnu4bcKaTq9[...]
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-488613af-af82-52e2-bcab-bb7c7cc9b6c9?restype=container&sv=Sanitized&ss=b&srt=sco&st=2026-02-18T05%3A20%3A23Z&se=2026-02-18T07%3A20%3A23Z&sp=rwdxylacuptfi&sig=Sanitized",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2026-04-06"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2026-02-17T22:20:23.3053534-08:00",
    "RandomSeed": "109537052",
    "Storage_TestConfigDefault": "ProductionTenant\namandapreprod\nU2FuaXRpemVk\nhttps://amandapreprod.blob.core.windows.net\nhttps://amandapreprod.file.core.windows.net\nhttps://amandapreprod.queue.core.windows.net\nhttps://amandapreprod.table.core.windows.net\n\n\n\n\nhttps://amandapreprod-secondary.blob.core.windows.net\nhttps://amandapreprod-secondary.file.core.windows.net\nhttps://amandapreprod-secondary.queue.core.windows.net\nhttps://amandapreprod-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandapreprod.blob.core.windows.net/;QueueEndpoint=https://amandapreprod.queue.core.windows.net/;FileEndpoint=https://amandapreprod.file.core.windows.net/;BlobSecondaryEndpoint=https://amandapreprod-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandapreprod-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandapreprod-secondary.file.core.windows.net/;AccountName=amandapreprod;AccountKey=U2FuaXRpemVk\nencryptionScope\n\n"
  }
}
