{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-ce2ee415-c5bb-f7f2-a11c-a2d429e82830?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 30 Sep 2025 20:31:59 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE00606834CF9C\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:31:59 GMT",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-ce2ee415-c5bb-f7f2-a11c-a2d429e82830/sourceFolder/folder0/test-file-402aef07-9794-5264-c299-6e09f498c3bf?sv=Sanitized&se=2025-10-01T20%3A31%3A59Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": "FxuxXO7pXrKmgQaSuEtefosezO19BYxvZmebsIibZMMXxCyY2sGeHZB3mROR0pp2OvB+1szWQhKOQfWHTq0qChxDevQfxqPJf65cBWt53pPMJHaYHY73QIEZCpjLF8/iTY/3TlimVnRMtFYdejynFWNhuik3ke2OSzlyBrwK/mjfebjbgY87Jc4BTGk32cZFcvQ1aVylq7uiaAIeNFC4QbbuPQCEy5PTJpRbNkWDVnFyLJPH1ZQLOc78ORmNHPF9SAqzSZzGwaZgYUPHSnV2HhKQqwi88Gsh4gMxh5J6Rgmj3u060A3VrGvtZnRQQ+9ZhhsG/HDowFifkWaYlDkT5ho5JGyHO00Euv+dz4r30Z4U2AB3c0qYuh2Vmz+mPRcx2YBZFx+D0UvNAUFxS/HOqMDHhLw4nHLQoGlO8p8[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-ce2ee415-c5bb-f7f2-a11c-a2d429e82830/sourceFolder/folder0/folder1/test-file-690aac33-139d-2ad4-aff8-bdedf431d5c2?sv=Sanitized&se=2025-10-01T20%3A31%3A59Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposi[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-ce2ee415-c5bb-f7f2-a11c-a2d429e82830/sourceFolder/folder0/folder1/folder2/test-file-a5ce4435-28ca-aa13-ab6c-d07fe12a909d?sv=Sanitized&se=2025-10-01T20%3A31%3A59Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-ce2ee415-c5bb-f7f2-a11c-a2d429e82830?sv=Sanitized&se=2025-10-01T20%3A31%3A59Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container&comp=list&prefix=sourceFolder%2F&delimiter=%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.blob.core.windows.net/\" ContainerName=\"test-container-ce2ee415-c5bb-f7f2-a11c-a2d429e82830\"><Prefix>sourceFolder/</Prefix><Delimiter>/</Delimiter><Blobs><BlobPrefix><Name>sourceFolder/folder0/</Name></BlobPrefix></Blobs><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-ce2ee415-c5bb-f7f2-a11c-a2d429e82830?sv=Sanitized&se=2025-10-01T20%3A31%3A59Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container&comp=list&prefix=sourceFolder%2Ffolder0%2F&delimiter=%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.blob.core.windows.net/\" ContainerName=\"test-container-ce2ee415-c5bb-f7f2-a11c-a2d429e82830\"><Prefix>sourceFolder/folder0/</Prefix><Delimiter>/</Delimiter><Blobs><BlobPrefix><Name>sourceFolder/folder0/folder1/</Name></BlobPrefix><Blob><Name>sourceFolder/folder0/test-file-402aef07-9794-5264-c299-6e09f498c3bf</Name><Properties><Creation-Time>Tue, 30 Sep 2025 20:32:00 GMT</Creation-Time><Last-Modified>Tue, 30 Sep 2025 20:32:00 GMT</Last-Modified><Etag>0x8DE0060684EAEBF</Etag><Content-Length>1024</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64 /><Content-MD5>/NyrDDt1mZ+YElp+CW/OTw==</Content-MD5><Cache-Control>no-cache</Cache-Control><Content-Disposition>inline</Content-Disposition><BlobType>BlockBlob</BlobType><AccessTier>Cold</AccessTier><AccessTierChangeTime>Tue, 30 Sep 2025 20:32:00 GMT</AccessTierChangeTime><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><Metadata><foo>bar</foo><meta>data</meta><Capital>letter</Capital><UPPER>case</UPPER></Metadata><OrMetadata /></Blob></Blobs><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-ce2ee415-c5bb-f7f2-a11c-a2d429e82830?sv=Sanitized&se=2025-10-01T20%3A31%3A59Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container&comp=list&prefix=sourceFolder%2Ffolder0%2Ffolder1%2F&delimiter=%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-T[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-ce2ee415-c5bb-f7f2-a11c-a2d429e82830?sv=Sanitized&se=2025-10-01T20%3A31%3A59Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container&comp=list&prefix=sourceFolder%2Ffolder0%2Ffolder1%2Ffolder2%2F&delimiter=%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        [...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-7aac528f-a0b1-a06b-675d-3db927a947a9/destFolder/folder0/test-file-402aef07-9794-5264-c299-6e09f498c3bf",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-ce2ee415-c5bb-f7f2-a11c-a2d429e82830/sourceFolder/folder0/test-file-402aef07-9794-5264-c299-6e09f498c3bf?sv=sanitized-value&se=2025-10-01T20%3A31%3A59Z&sr=c&sp=racwdxltfi&sig=Sanitized",
        "x-ms-date": "Tue, 30 Sep 2025 20:32:00 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE0060688C83B0\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:32:00 GMT",
        "x-ms-content-crc64": "wA8J/+5j9uo=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-7aac528f-a0b1-a06b-675d-3db927a947a9/destFolder/folder0/folder1/test-file-690aac33-139d-2ad4-aff8-bdedf431d5c2",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-ce2ee415-c5bb-f7f2-a11c-a2d429e82830/sourceFolder/folder0/folder1/test-file-690aac33-139d-2ad4-aff8-bdedf431d5c2?sv=sanitized-value&se=2025-10-01T20%3A31%3A59Z&sr=c&sp=racwdxltfi&sig=Sanitized",
        "x-ms-date": "Tue, 30 Sep 2025 20:32:00 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE0060689ACB8D\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:32:00 GMT",
        "x-ms-content-crc64": "vBXGlKFsXEY=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-7aac528f-a0b1-a06b-675d-3db927a947a9/destFolder/folder0/folder1/folder2/test-file-a5ce4435-28ca-aa13-ab6c-d07fe12a909d",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-ce2ee415-c5bb-f7f2-a11c-a2d429e82830/sourceFolder/folder0/folder1/folder2/test-file-a5ce4435-28ca-aa13-ab6c-d07fe12a909d?sv=sanitized-value&se=2025-10-01T20%3A31%3A59Z&sr=c&sp=racwdxltfi&sig=Sanitized",
        "x-ms-date": "Tue, 30 Sep 2025 20:32:00 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE006068A12CEE\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:32:00 GMT",
        "x-ms-content-crc64": "6+VTh7gx90k=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-ce2ee415-c5bb-f7f2-a11c-a2d429e82830?sv=Sanitized&se=2025-10-01T20%3A31%3A59Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container&comp=list&prefix=sourceFolder%2F",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-7aac528f-a0b1-a06b-675d-3db927a947a9?restype=container&comp=list&prefix=destFolder%2F",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 30 Sep 2025 20:32:01 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-ce2ee415-c5bb-f7f2-a11c-a2d429e82830/sourceFolder/folder0/folder1/folder2/test-file-a5ce4435-28ca-aa13-ab6c-d07fe12a909d?sv=Sanitized&se=2025-10-01T20%3A31%3A59Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-MD5": "moZl3dCEWR/MqVG6f9Gc3A==",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DE006068646840\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:32:00 GMT",
        "x-ms-access-tier": "Cold",
        "x-ms-access-tier-change-time": "Tue, 30 Sep 2025 20:32:00 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 30 Sep 2025 20:32:00 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-ce2ee415-c5bb-f7f2-a11c-a2d429e82830/sourceFolder/folder0/folder1/folder2/test-file-a5ce4435-28ca-aa13-ab6c-d07fe12a909d?sv=Sanitized&se=2025-10-01T20%3A31%3A59Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DE006068646840\"",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DE006068646840\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:32:00 GMT",
        "x-ms-blob-content-md5": "moZl3dCEWR/MqVG6f9Gc3A==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 30 Sep 2025 20:32:00 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": "3RxH1IhIRAP8xSBBtFoOMQb4/PYlfvEV0qWZl[...]
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-ce2ee415-c5bb-f7f2-a11c-a2d429e82830?sv=Sanitized&se=2025-10-01T20%3A31%3A59Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 403,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "AuthorizationFailure",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>AuthorizationFailure</Code><Message>This request is not authorized to perform this operation.\n",
        "RequestId:0ebb3713-d01e-0066-1a49-32ef94000000\n",
        "Time:2025-09-30T20:32:02.1424361Z</Message></Error>"
      ]
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2025-09-30T13:31:59.9518477-07:00",
    "RandomSeed": "1083326551",
    "Storage_TestConfigDefault": "ProductionTenant\namandapreprod\nU2FuaXRpemVk\nhttps://amandapreprod.blob.core.windows.net\nhttps://amandapreprod.file.core.windows.net\nhttps://amandapreprod.queue.core.windows.net\nhttps://amandapreprod.table.core.windows.net\n\n\n\n\nhttps://amandapreprod-secondary.blob.core.windows.net\nhttps://amandapreprod-secondary.file.core.windows.net\nhttps://amandapreprod-secondary.queue.core.windows.net\nhttps://amandapreprod-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandapreprod.blob.core.windows.net/;QueueEndpoint=https://amandapreprod.queue.core.windows.net/;FileEndpoint=https://amandapreprod.file.core.windows.net/;BlobSecondaryEndpoint=https://amandapreprod-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandapreprod-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandapreprod-secondary.file.core.windows.net/;AccountName=amandapreprod;AccountKey=U2FuaXRpemVk\nencryptionScope\n\n"
  }
}
