{
  "Entries": [
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-5a033fcd-a8df-47a4-16ba-7581c387e87a?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDC0CD463A666C\"",
        "Last-Modified": "Fri, 11 Jul 2025 22:50:03 GMT",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-5a033fcd-a8df-47a4-16ba-7581c387e87a/source/rootFile0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": "eJsY25r+f7zjSyrHHE/j8XKzq+fDFHZVVuTVbgBPgE59zxFAXjTp7FM2sdTIeAQ6SU5h31pyq2MkwoS1KRG7lMvbSUw+opI+yb+TjWOijN3gmiSy7qD0CiStHJywM8NCeh0I7S+3/Ka8IhWa3h3/gjam1Y7sCaUq5j8okIb2jpb7URNGmZ6uKZ199cuLWisHrpllCV40VXF33gfwjmsfxpR+no0KuOmY96vwbhPan4wTIOLskIQ3x/uhz7uXvpoyXS83DLue/fWwzRKyQ+ZenD573G6JMzUPR9eSaOktADgRvhHko5LQdSPsO8NyhYMUQzJ8HOErqSr5J8XjC5QMg8zZoYXVefmsqmdLnPdynMFUfSW2seRX5RXm6nvN7WmO4Lj2meT9P8k50HF54AwzhooDj45vVdHngb[...]
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-5a033fcd-a8df-47a4-16ba-7581c387e87a/source/nonEmptyDir/file0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": "eJsY25r+f7zjSyrHHE/j8XKzq+fDFHZVVuTVbgBPgE59zxFAXjTp7FM2sdTIeAQ6S[...]
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-5a033fcd-a8df-47a4-16ba-7581c387e87a/source/recursiveDir/file0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": "eJsY25r+f7zjSyrHHE/j8XKzq+fDFHZVVuTVbgBPgE59zxFAXjTp7FM2sdTIeAQ6[...]
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-5a033fcd-a8df-47a4-16ba-7581c387e87a/source/recursiveDir/nonEmptySubDir/file0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "If-None-Match": "*",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": "eJsY25r+f7zjSyrHHE/j8XKzq+fDFHZVVuTVbgBPgE59zxFAX[...]
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-5a033fcd-a8df-47a4-16ba-7581c387e87a/source/emptyDir",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-meta-hdi_isfolder": "true",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "1B2M2Y8AsgTpgAmY7PhCfg==",
        "ETag": "\"0x8DDC0CD469B418D\"",
        "Last-Modified": "Fri, 11 Jul 2025 22:50:04 GMT",
        "x-ms-content-crc64": "AAAAAAAAAAA=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05",
        "x-ms-version-id": "2025-07-11T22:50:04.1887117Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-5a033fcd-a8df-47a4-16ba-7581c387e87a/source/recursiveDir/emptySubDir",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/octet-stream",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-meta-hdi_isfolder": "true",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "1B2M2Y8AsgTpgAmY7PhCfg==",
        "ETag": "\"0x8DDC0CD46A2456E\"",
        "Last-Modified": "Fri, 11 Jul 2025 22:50:04 GMT",
        "x-ms-content-crc64": "AAAAAAAAAAA=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05",
        "x-ms-version-id": "2025-07-11T22:50:04.2346862Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-5a033fcd-a8df-47a4-16ba-7581c387e87a?restype=container&comp=list&prefix=source%2F&delimiter=%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://jalauzonnettest.blob.core.windows.net/\" ContainerName=\"test-container-5a033fcd-a8df-47a4-16ba-7581c387e87a\"><Prefix>source/</Prefix><Delimiter>/</Delimiter><Blobs><Blob><Name>source/emptyDir</Name><VersionId>2025-07-11T22:50:04.1887117Z</VersionId><IsCurrentVersion>true</IsCurrentVersion><Properties><Creation-Time>Fri, 11 Jul 2025 22:50:04 GMT</Creation-Time><Last-Modified>Fri, 11 Jul 2025 22:50:04 GMT</Last-Modified><Etag>0x8DDC0CD469B418D</Etag><Content-Length>0</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding /><Content-Language /><Content-CRC64 /><Content-MD5>1B2M2Y8AsgTpgAmY7PhCfg==</Content-MD5><Cache-Control /><Content-Disposition /><LastAccessTime>Fri, 11 Jul 2025 22:50:04 GMT</LastAccessTime><BlobType>BlockBlob</BlobType><AccessTier>Hot</AccessTier><AccessTierInferred>true</AccessTierInferred><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><Metadata><hdi_isfolder>true</hdi_isfolder></Metadata><OrMetadata /></Blob><BlobPrefix><Name>source/nonEmptyDir/</Name></BlobPrefix><BlobPrefix><Name>source/recursiveDir/</Name></BlobPrefix><Blob><Name>source/rootFile0</Name><VersionId>2025-07-11T22:50:03.6969937Z</VersionId><IsCurrentVersion>true</IsCurrentVersion><Properties><Creation-Time>Fri, 11 Jul 2025 22:50:03 GMT</Creation-Time><Last-Modified>Fri, 11 Jul 2025 22:50:03 GMT</Last-Modified><Etag>0x8DDC0CD465039D1</Etag><Content-Length>1024</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding [...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-5a033fcd-a8df-47a4-16ba-7581c387e87a?restype=container&comp=list&prefix=source%2FnonEmptyDir%2F&delimiter=%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-5a033fcd-a8df-47a4-16ba-7581c387e87a?restype=container&comp=list&prefix=source%2FrecursiveDir%2F&delimiter=%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-versio[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-5a033fcd-a8df-47a4-16ba-7581c387e87a?restype=container&comp=list&prefix=source%2FrecursiveDir%2FnonEmptySubDir%2F&delimiter=%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
   [...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-7f5e07fc-5b9e-bfd9-6882-3696bab5aa97/destination/rootFile1",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-access-tier": "Hot",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://jalauzonnettest.blob.core.windows.net/test-container-5a033fcd-a8df-47a4-16ba-7581c387e87a/source/rootFile1",
        "x-ms-copy-source-authorization": "Sanitized",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDC0CD4937AA5C\"",
        "Last-Modified": "Fri, 11 Jul 2025 22:50:08 GMT",
        "x-ms-content-crc64": "gC8fDicJHBo=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05",
        "x-ms-version-id": "2025-07-11T22:50:08.5691996Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-7f5e07fc-5b9e-bfd9-6882-3696bab5aa97/destination/emptyDir",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-access-tier": "Hot",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://jalauzonnettest.blob.core.windows.net/test-container-5a033fcd-a8df-47a4-16ba-7581c387e87a/source/emptyDir",
        "x-ms-copy-source-authorization": "Sanitized",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDC0CD493C6499\"",
        "Last-Modified": "Fri, 11 Jul 2025 22:50:08 GMT",
        "x-ms-content-crc64": "AAAAAAAAAAA=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05",
        "x-ms-version-id": "2025-07-11T22:50:08.6001817Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-7f5e07fc-5b9e-bfd9-6882-3696bab5aa97/destination/nonEmptyDir/file0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-access-tier": "Hot",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://jalauzonnettest.blob.core.windows.net/test-container-5a033fcd-a8df-47a4-16ba-7581c387e87a/source/nonEmptyDir/file0",
        "x-ms-copy-source-authorization": "Sanitized",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDC0CD4947AD91\"",
        "Last-Modified": "Fri, 11 Jul 2025 22:50:08 GMT",
        "x-ms-content-crc64": "gC8fDicJHBo=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05",
        "x-ms-version-id": "2025-07-11T22:50:08.6741393Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-7f5e07fc-5b9e-bfd9-6882-3696bab5aa97/destination/recursiveDir/file0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-access-tier": "Hot",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://jalauzonnettest.blob.core.windows.net/test-container-5a033fcd-a8df-47a4-16ba-7581c387e87a/source/recursiveDir/file0",
        "x-ms-copy-source-authorization": "Sanitized",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDC0CD49565169\"",
        "Last-Modified": "Fri, 11 Jul 2025 22:50:08 GMT",
        "x-ms-content-crc64": "gC8fDicJHBo=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05",
        "x-ms-version-id": "2025-07-11T22:50:08.7700841Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-7f5e07fc-5b9e-bfd9-6882-3696bab5aa97/destination/recursiveDir/nonEmptySubDir/file0",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-access-tier": "Hot",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://jalauzonnettest.blob.core.windows.net/test-container-5a033fcd-a8df-47a4-16ba-7581c387e87a/source/recursiveDir/nonEmptySubDir/file0",
        "x-ms-copy-source-authorization": "Sanitized",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDC0CD49640B06\"",
        "Last-Modified": "Fri, 11 Jul 2025 22:50:08 GMT",
        "x-ms-content-crc64": "gC8fDicJHBo=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05",
        "x-ms-version-id": "2025-07-11T22:50:08.8600326Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-7f5e07fc-5b9e-bfd9-6882-3696bab5aa97/destination/recursiveDir/emptySubDir",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-access-tier": "Hot",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://jalauzonnettest.blob.core.windows.net/test-container-5a033fcd-a8df-47a4-16ba-7581c387e87a/source/recursiveDir/emptySubDir",
        "x-ms-copy-source-authorization": "Sanitized",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DDC0CD49C270DF\"",
        "Last-Modified": "Fri, 11 Jul 2025 22:50:09 GMT",
        "x-ms-content-crc64": "AAAAAAAAAAA=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05",
        "x-ms-version-id": "2025-07-11T22:50:09.4786783Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-5a033fcd-a8df-47a4-16ba-7581c387e87a?restype=container&comp=list&prefix=source%2F",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody"[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-7f5e07fc-5b9e-bfd9-6882-3696bab5aa97?restype=container&comp=list&prefix=destination%2F",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://jalauzonnettest.blob.core.windows.net/\" ContainerName=\"test-container-7f5e07fc-5b9e-bfd9-6882-3696bab5aa97\"><Prefix>destination/</Prefix><Blobs><Blob><Name>destination/emptyDir</Name><VersionId>2025-07-11T22:50:08.6001817Z</VersionId><IsCurrentVersion>true</IsCurrentVersion><Properties><Creation-Time>Fri, 11 Jul 2025 22:50:08 GMT</Creation-Time><Last-Modified>Fri, 11 Jul 2025 22:50:08 GMT</Last-Modified><Etag>0x8DDC0CD493C6499</Etag><Content-Length>0</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding /><Content-Language /><Content-CRC64>AAAAAAAAAAA=</Content-CRC64><Content-MD5>1B2M2Y8AsgTpgAmY7PhCfg==</Content-MD5><Cache-Control /><Content-Disposition /><LastAccessTime>Fri, 11 Jul 2025 22:50:08 GMT</LastAccessTime><BlobType>BlockBlob</BlobType><AccessTier>Hot</AccessTier><AccessTierChangeTime>Fri, 11 Jul 2025 22:50:08 GMT</AccessTierChangeTime><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><OrMetadata /></Blob><Blob><Name>destination/nonEmptyDir/file0</Name><VersionId>2025-07-11T22:50:08.6741393Z</VersionId><IsCurrentVersion>true</IsCurrentVersion><Properties><Creation-Time>Fri, 11 Jul 2025 22:50:08 GMT</Creation-Time><Last-Modified>Fri, 11 Jul 2025 22:50:08 GMT</Last-Modified><Etag>0x8DDC0CD4947AD91</Etag><Con[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-5a033fcd-a8df-47a4-16ba-7581c387e87a/source/emptyDir",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "1B2M2Y8AsgTpgAmY7PhCfg==",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DDC0CD469B418D\"",
        "Last-Modified": "Fri, 11 Jul 2025 22:50:04 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-inferred": "true",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 11 Jul 2025 22:50:04 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Fri, 11 Jul 2025 22:50:08 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-hdi_isfolder": "true",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-11-05",
        "x-ms-version-id": "2025-07-11T22:50:04.1887117Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-7f5e07fc-5b9e-bfd9-6882-3696bab5aa97/destination/emptyDir",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-MD5": "1B2M2Y8AsgTpgAmY7PhCfg==",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DDC0CD493C6499\"",
        "Last-Modified": "Fri, 11 Jul 2025 22:50:08 GMT",
        "x-ms-access-tier": "Hot",
        "x-ms-access-tier-change-time": "Fri, 11 Jul 2025 22:50:08 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 11 Jul 2025 22:50:08 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Fri, 11 Jul 2025 22:50:08 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-hdi_isfolder": "true",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-11-05",
        "x-ms-version-id": "2025-07-11T22:50:08.6001817Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-5a033fcd-a8df-47a4-16ba-7581c387e87a/source/nonEmptyDir/file0",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-Match": "\"0x8DDC0CD46667DB2\"",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "application/octet-stream",
        "ETag": "\"0x8DDC0CD46667DB2\"",
        "Last-Modified": "Fri, 11 Jul 2025 22:50:03 GMT",
        "x-ms-blob-content-md5": "ZLFxSA5mk03Na+8kIBJMoA==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 11 Jul 2025 22:50:03 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Fri, 11 Jul 2025 22:50:08 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-11-05",
        "x-ms-version-id": "2025-07-11T22:50:03.8429106Z"
      },
      "ResponseBody": "eJsY25r+f[...]
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-5a033fcd-a8df-47a4-16ba-7581c387e87a?restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1981867216",
    "Storage_TestConfigDefault": "ProductionTenant\njalauzonnettest\nU2FuaXRpemVk\nhttps://jalauzonnettest.blob.core.windows.net\nhttps://jalauzonnettest.file.core.windows.net\nhttps://jalauzonnettest.queue.core.windows.net\nhttps://jalauzonnettest.table.core.windows.net\n\n\n\n\nhttps://jalauzonnettest-secondary.blob.core.windows.net\nhttps://jalauzonnettest-secondary.file.core.windows.net\nhttps://jalauzonnettest-secondary.queue.core.windows.net\nhttps://jalauzonnettest-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://jalauzonnettest.blob.core.windows.net/;QueueEndpoint=https://jalauzonnettest.queue.core.windows.net/;FileEndpoint=https://jalauzonnettest.file.core.windows.net/;BlobSecondaryEndpoint=https://jalauzonnettest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jalauzonnettest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jalauzonnettest-secondary.file.core.windows.net/;AccountName=jalauzonnettest;AccountKey=U2FuaXRpemVk\ntestscope1\n\n"
  }
}
