{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-3c43d32b-9da5-8296-17a5-6d6fb42312f3?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 30 Sep 2025 20:33:17 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE0060968D61D8\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:33:17 GMT",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-3c43d32b-9da5-8296-17a5-6d6fb42312f3/sourceFolder/test-file-136ad4e3-b32a-8591-471b-eb21b1ff822d?sv=Sanitized&se=2025-10-01T20%3A33%3A17Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": "Sdo3Gtm3o8zkzhf/yot1UDTjhX1k7u9Y+Gt9XrhNBzYxp9fWyGdUot/ZPwpz3DQKVakQm4ts4Fvr3iFtOUUUl8fhziKznojMj+Odiq7l5Bs3cwkOPGuqxMZ86+lG5miaxahCkg4RVrYhRAuozlWsBvkGNsY7BVpbNglcN7Ofhqh6AsUGolINJRxS7fhfAvZwz+XvP7CiXr9N5lsFtR8Dgr5jLsuQpmOn+RCp6Rhi+zQT62fOr0b416MGuLv2B3D8T2o5/NQq4CmBR0ag+XWm6+sn8sm4NNJ4alYoiu6nsPGfrJqtKP9g6Qs+TGf/WN4uX8zQzxWnRBqYwZF9AlY62ZdVAEzb+MLrxgi+eedqeBJ4+Soh1+Db+Gd/FWZt4ue0A3LQqleRU2cJ5QkM6MszLUl/BQgsGQK2eQjlW+J[...]
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-3c43d32b-9da5-8296-17a5-6d6fb42312f3/sourceFolder/bar/test-file-9cc1b151-5e98-1fb6-d43b-3ee8c108b771?sv=Sanitized&se=2025-10-01T20%3A33%3A17Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inli[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-3c43d32b-9da5-8296-17a5-6d6fb42312f3/sourceFolder/pik/test-file-f78150bb-047a-0a80-be36-f1df16eacdf7?sv=Sanitized&se=2025-10-01T20%3A33%3A17Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inli[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-3c43d32b-9da5-8296-17a5-6d6fb42312f3?sv=Sanitized&se=2025-10-01T20%3A33%3A17Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container&comp=list&prefix=sourceFolder%2F&delimiter=%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.blob.core.windows.net/\" ContainerName=\"test-container-3c43d32b-9da5-8296-17a5-6d6fb42312f3\"><Prefix>sourceFolder/</Prefix><Delimiter>/</Delimiter><Blobs><BlobPrefix><Name>sourceFolder/bar/</Name></BlobPrefix><BlobPrefix><Name>sourceFolder/pik/</Name></BlobPrefix><Blob><Name>sourceFolder/test-file-136ad4e3-b32a-8591-471b-eb21b1ff822d</Name><Properties><Creation-Time>Tue, 30 Sep 2025 20:33:17 GMT</Creation-Time><Last-Modified>Tue, 30 Sep 2025 20:33:17 GMT</Last-Modified><Etag>0x8DE006096A89B4E</Etag><Content-Length>1024</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64 /><Content-MD5>fUsJ+CQLXh9uC95k6J5yfg==</Content-MD5><Cache-Control>no-cache</Cache-Control><Content-Disposition>inline</Content-Disposition><BlobType>BlockBlob</BlobType><AccessTier>Cold</AccessTier><AccessTierChangeTime>Tue, 30 Sep 2025 20:33:17 GMT</AccessTierChangeTime><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><Metadata><foo>bar</foo><meta>data</meta><Capital>letter</Capital><UPPER>case</UPPER></Metadata><OrMetadata /></Blob><Blob><Name>sourceFolder/test-file-24a68359-8bd8-fedc-95cb-fa447e11e944</Name><Properties><Creation-Time>Tue, 30 Sep 2025 20:33:17 GMT</Creation-Time><Last-Modified>Tue, 30 Sep 2025 20:33:17 GMT</Last-Modified><Etag>0x8DE006096B27B44</Etag><Content-Length>1024</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64 /><Content-MD5>RgQBuk0m7HLEaqeSukUHCQ==</Content-MD5><Cache-Control>no-cache</Cache-Control><Content-Disposition>inline</Content-Disposition><BlobType>BlockBlob</BlobType><AccessTier>Cold</AccessTier><AccessTierChangeTime>Tue, 30 Sep 2025 20:33:17 GMT</AccessTierChangeTime><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><Metadata><foo>bar</foo><meta>data</meta><Capital>letter</Capital><UPPER>case</UPPER></Metadata><OrMetadata /></Blob></Blobs><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-3c43d32b-9da5-8296-17a5-6d6fb42312f3?sv=Sanitized&se=2025-10-01T20%3A33%3A17Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container&comp=list&prefix=sourceFolder%2Fbar%2F&delimiter=%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "applica[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-3c43d32b-9da5-8296-17a5-6d6fb42312f3?sv=Sanitized&se=2025-10-01T20%3A33%3A17Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container&comp=list&prefix=sourceFolder%2Fpik%2F&delimiter=%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "applica[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-3b063815-547e-7119-7123-51269a2ceaf6/destinationFolder/test-file-24a68359-8bd8-fedc-95cb-fa447e11e944",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-3c43d32b-9da5-8296-17a5-6d6fb42312f3/sourceFolder/test-file-24a68359-8bd8-fedc-95cb-fa447e11e944?sv=sanitized-value&se=2025-10-01T20%3A33%3A17Z&sr=c&sp=racwdxltfi&sig=Sanitized",
        "x-ms-date": "Tue, 30 Sep 2025 20:33:18 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE006096F6D87C\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:33:18 GMT",
        "x-ms-content-crc64": "ImvR7zJ5MJY=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-3b063815-547e-7119-7123-51269a2ceaf6/destinationFolder/bar/test-file-9cc1b151-5e98-1fb6-d43b-3ee8c108b771",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-3c43d32b-9da5-8296-17a5-6d6fb42312f3/sourceFolder/bar/test-file-9cc1b151-5e98-1fb6-d43b-3ee8c108b771?sv=sanitized-value&se=2025-10-01T20%3A33%3A17Z&sr=c&sp=racwdxltfi&sig=Sanitized",
        "x-ms-date": "Tue, 30 Sep 2025 20:33:18 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE006096FC9E5B\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:33:18 GMT",
        "x-ms-content-crc64": "KZMwyr87Uks=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-3b063815-547e-7119-7123-51269a2ceaf6/destinationFolder/pik/test-file-f78150bb-047a-0a80-be36-f1df16eacdf7",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-3c43d32b-9da5-8296-17a5-6d6fb42312f3/sourceFolder/pik/test-file-f78150bb-047a-0a80-be36-f1df16eacdf7?sv=sanitized-value&se=2025-10-01T20%3A33%3A17Z&sr=c&sp=racwdxltfi&sig=Sanitized",
        "x-ms-date": "Tue, 30 Sep 2025 20:33:18 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE00609700DF56\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:33:18 GMT",
        "x-ms-content-crc64": "gBrMxn3P3U4=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-3c43d32b-9da5-8296-17a5-6d6fb42312f3?sv=Sanitized&se=2025-10-01T20%3A33%3A17Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container&comp=list&prefix=sourceFolder%2F",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-3b063815-547e-7119-7123-51269a2ceaf6?restype=container&comp=list&prefix=destinationFolder%2F",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 30 Sep 2025 20:33:18 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
   [...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-3c43d32b-9da5-8296-17a5-6d6fb42312f3/sourceFolder/bar/test-file-9cc1b151-5e98-1fb6-d43b-3ee8c108b771?sv=Sanitized&se=2025-10-01T20%3A33%3A17Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-MD5": "mzYxQTx8WccWBW8a3pDpGA==",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DE006096BB4AF9\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:33:17 GMT",
        "x-ms-access-tier": "Cold",
        "x-ms-access-tier-change-time": "Tue, 30 Sep 2025 20:33:17 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 30 Sep 2025 20:33:17 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-3c43d32b-9da5-8296-17a5-6d6fb42312f3/sourceFolder/bar/test-file-9cc1b151-5e98-1fb6-d43b-3ee8c108b771?sv=Sanitized&se=2025-10-01T20%3A33%3A17Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DE006096BB4AF9\"",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DE006096BB4AF9\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:33:17 GMT",
        "x-ms-blob-content-md5": "mzYxQTx8WccWBW8a3pDpGA==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 30 Sep 2025 20:33:17 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": "y7G7Q7U74CYqc0VxotQzf/cRyEmhiKFMbYlsJ[...]
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-3c43d32b-9da5-8296-17a5-6d6fb42312f3?sv=Sanitized&se=2025-10-01T20%3A33%3A17Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 403,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "AuthorizationFailure",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>AuthorizationFailure</Code><Message>This request is not authorized to perform this operation.\n",
        "RequestId:0ebbc5b2-d01e-0066-6549-32ef94000000\n",
        "Time:2025-09-30T20:33:20.2523542Z</Message></Error>"
      ]
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2025-09-30T13:33:17.7096820-07:00",
    "RandomSeed": "1427538769",
    "Storage_TestConfigDefault": "ProductionTenant\namandapreprod\nU2FuaXRpemVk\nhttps://amandapreprod.blob.core.windows.net\nhttps://amandapreprod.file.core.windows.net\nhttps://amandapreprod.queue.core.windows.net\nhttps://amandapreprod.table.core.windows.net\n\n\n\n\nhttps://amandapreprod-secondary.blob.core.windows.net\nhttps://amandapreprod-secondary.file.core.windows.net\nhttps://amandapreprod-secondary.queue.core.windows.net\nhttps://amandapreprod-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandapreprod.blob.core.windows.net/;QueueEndpoint=https://amandapreprod.queue.core.windows.net/;FileEndpoint=https://amandapreprod.file.core.windows.net/;BlobSecondaryEndpoint=https://amandapreprod-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandapreprod-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandapreprod-secondary.file.core.windows.net/;AccountName=amandapreprod;AccountKey=U2FuaXRpemVk\nencryptionScope\n\n"
  }
}
