{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-b57b8784-428d-d9aa-55f6-264f8643677f?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 00:42:00 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D10DF2396A3\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:42:00 GMT",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-b57b8784-428d-d9aa-55f6-264f8643677f/sourceFolder/test-file-429c38a4-be70-a293-8fa3-bc49e67305c6?sv=Sanitized&se=2025-03-08T00%3A42%3A00Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": "ByVU+882OCcsbOZSPgVflwWTUIUeEeP80HDv7soTJaiRDQjRF/WCbQB0FQTYQWSKQyREUyOAp/VCVypfR0pdGUc+wTH9jn8QEOKEqvzeJI8LZaumz9KEEGUSj8DKIia1F/y9moAzjbWkM0JB+/35YzKbU+Gft0p0ubDL6v6/Ru68z5MAIYoP2Nf1AZuQQxRoGSuNLs9EFl+ySODPaKK25e1UhSxp+UGojHoJqbau5HWcYtDTMRced7gzTdmpP3A1PxuuPL7o/yDp5KJUOmypA2NrMwXS47TVNQ1zNato/0wK1GmaAKi3s2Ow6Ux1yj1MiUp1PQxrYlxn2AewdMl1gOVVSmUCDwO7s3+iIflnX2rQJ6xg88FAnnINMyehBj6aO2hnIIDXSXpGuoqMyEFi/3ic4E0dFI0jFKvz9dv[...]
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-b57b8784-428d-d9aa-55f6-264f8643677f/sourceFolder/bar/test-file-ff284272-f6f9-be4b-349e-3779e9fd5b0f?sv=Sanitized&se=2025-03-08T00%3A42%3A00Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inli[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-b57b8784-428d-d9aa-55f6-264f8643677f/sourceFolder/pik/test-file-4e76a50f-fe19-6ad0-f51c-9f3d791edb23?sv=Sanitized&se=2025-03-08T00%3A42%3A00Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inli[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-b57b8784-428d-d9aa-55f6-264f8643677f?sv=Sanitized&se=2025-03-08T00%3A42%3A00Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container&comp=list&prefix=sourceFolder%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.blob.core.windows.net/\" ContainerName=\"test-container-b57b8784-428d-d9aa-55f6-264f8643677f\"><Prefix>sourceFolder/</Prefix><Blobs><Blob><Name>sourceFolder/bar/test-file-ff284272-f6f9-be4b-349e-3779e9fd5b0f</Name><Properties><Creation-Time>Fri, 07 Mar 2025 00:42:00 GMT</Creation-Time><Last-Modified>Fri, 07 Mar 2025 00:42:00 GMT</Last-Modified><Etag>0x8DD5D10DF4A2C87</Etag><Content-Length>1024</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64 /><Content-MD5>mNLjluF1dKq8U5eWtBN+jw==</Content-MD5><Cache-Control>no-cache</Cache-Control><Content-Disposition>inline</Content-Disposition><BlobType>BlockBlob</BlobType><AccessTier>Cold</AccessTier><AccessTierChangeTime>Fri, 07 Mar 2025 00:42:00 GMT</AccessTierChangeTime><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><Metadata><foo>bar</foo><meta>data</meta><Capital>letter</Capital><UPPER>case</UPPER></Metadata><OrMetadata /></Blob><Blob><Name>sourceFolder/pik/test-file-4e76a50f-fe19-6ad0-f51c-9f3d791edb23</Name><Properties><Creation-Time>Fri, 07 Mar 2025 00:42:00 GMT</Creation-Time><Last-Modified>Fri, 07 Mar 2025 00:42:00 GMT</Last-Modified><Etag>0x8DD5D10DF52D567</Etag><Content-Length>1024</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64 /><Content-MD5>sX1dv9FJGGNYxOfn8JzxtA==</Content-MD5><Cache-Control>no-cache</Cache-Control><C[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-c0f9a4b5-cb3f-c368-815b-791060e2b6ca/destPrefix/pik/test-file-4e76a50f-fe19-6ad0-f51c-9f3d791edb23",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-b57b8784-428d-d9aa-55f6-264f8643677f/sourceFolder/pik/test-file-4e76a50f-fe19-6ad0-f51c-9f3d791edb23?sv=sanitized-value&se=2025-03-08T00%3A42%3A00Z&sr=c&sp=racwdxltfi&sig=Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 00:42:00 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D10DF704E7B\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:42:00 GMT",
        "x-ms-content-crc64": "5To9m3ubNJQ=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-c0f9a4b5-cb3f-c368-815b-791060e2b6ca/destPrefix/test-file-048defb5-c254-45ef-c9fd-a5399e766bec",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-b57b8784-428d-d9aa-55f6-264f8643677f/sourceFolder/test-file-048defb5-c254-45ef-c9fd-a5399e766bec?sv=sanitized-value&se=2025-03-08T00%3A42%3A00Z&sr=c&sp=racwdxltfi&sig=Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 00:42:00 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D10DF71AC7A\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:42:00 GMT",
        "x-ms-content-crc64": "Fwj6bnb35Cg=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-c0f9a4b5-cb3f-c368-815b-791060e2b6ca/destPrefix/bar/test-file-ff284272-f6f9-be4b-349e-3779e9fd5b0f",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-b57b8784-428d-d9aa-55f6-264f8643677f/sourceFolder/bar/test-file-ff284272-f6f9-be4b-349e-3779e9fd5b0f?sv=sanitized-value&se=2025-03-08T00%3A42%3A00Z&sr=c&sp=racwdxltfi&sig=Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 00:42:00 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DD5D10DF71FA44\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:42:00 GMT",
        "x-ms-content-crc64": "QgAy0JL1c/Q=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-b57b8784-428d-d9aa-55f6-264f8643677f?sv=Sanitized&se=2025-03-08T00%3A42%3A00Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container&comp=list&prefix=sourceFolder",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-c0f9a4b5-cb3f-c368-815b-791060e2b6ca?restype=container&comp=list&prefix=destPrefix",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 07 Mar 2025 00:42:00 GMT",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-b57b8784-428d-d9aa-55f6-264f8643677f/sourceFolder/bar/test-file-ff284272-f6f9-be4b-349e-3779e9fd5b0f?sv=Sanitized&se=2025-03-08T00%3A42%3A00Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-MD5": "mNLjluF1dKq8U5eWtBN+jw==",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD5D10DF4A2C87\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:42:00 GMT",
        "x-ms-access-tier": "Cold",
        "x-ms-access-tier-change-time": "Fri, 07 Mar 2025 00:42:00 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 07 Mar 2025 00:42:00 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-b57b8784-428d-d9aa-55f6-264f8643677f/sourceFolder/bar/test-file-ff284272-f6f9-be4b-349e-3779e9fd5b0f?sv=Sanitized&se=2025-03-08T00%3A42%3A00Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DD5D10DF4A2C87\"",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DD5D10DF4A2C87\"",
        "Last-Modified": "Fri, 07 Mar 2025 00:42:00 GMT",
        "x-ms-blob-content-md5": "mNLjluF1dKq8U5eWtBN+jw==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 07 Mar 2025 00:42:00 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": "VVuyNhcpfTirP+bKSh9ShQ9ldCcw6n/9/0MGq[...]
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-b57b8784-428d-d9aa-55f6-264f8643677f?sv=Sanitized&se=2025-03-08T00%3A42%3A00Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-version": "2025-05-05"
      },
      "RequestBody": null,
      "StatusCode": 403,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "AuthorizationFailure",
        "x-ms-version": "2025-05-05"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>AuthorizationFailure</Code><Message>This request is not authorized to perform this operation.\n",
        "RequestId:19fe3334-701e-0040-45f9-8ea78c000000\n",
        "Time:2025-03-07T00:42:02.4259144Z</Message></Error>"
      ]
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2025-03-06T16:42:00.1495903-08:00",
    "RandomSeed": "1871640463",
    "Storage_TestConfigDefault": "ProductionTenant\namandapreprod\nU2FuaXRpemVk\nhttps://amandapreprod.blob.core.windows.net\nhttps://amandapreprod.file.core.windows.net\nhttps://amandapreprod.queue.core.windows.net\nhttps://amandapreprod.table.core.windows.net\n\n\n\n\nhttps://amandapreprod-secondary.blob.core.windows.net\nhttps://amandapreprod-secondary.file.core.windows.net\nhttps://amandapreprod-secondary.queue.core.windows.net\nhttps://amandapreprod-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandapreprod.blob.core.windows.net/;QueueEndpoint=https://amandapreprod.queue.core.windows.net/;FileEndpoint=https://amandapreprod.file.core.windows.net/;BlobSecondaryEndpoint=https://amandapreprod-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandapreprod-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandapreprod-secondary.file.core.windows.net/;AccountName=amandapreprod;AccountKey=U2FuaXRpemVk\nencryptionScope\n\n"
  }
}
