{
  "Entries": [
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-576aed2e-7bca-5920-a112-25700a24c4e8?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 30 Sep 2025 20:31:53 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE00606478B6ED\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:31:53 GMT",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-576aed2e-7bca-5920-a112-25700a24c4e8/source%2521path%2540%2523%2525/file%3Dtest%21%40%23%24%25?sv=Sanitized&se=2025-10-01T20%3A31%3A53Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "image/jpeg",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": "xxs8g5zhwVLMpl1Y3WEviGfwZ61B8UrALrRyzKU55KHMsgTKVVMHC42fSCflSu7TcnnQPmffUNbQfFTobvWtksK8iytcZTIU6Fwgoqgj2+TFn1kraaU57WEu+dn+H5yY8rVlKb7Ddw1Gu1YKv64trKFwIs+bgSkcgp7JLmtZFcnAh6/yvrElAihM5a1PLy6zAEw3jv3M/XCMSacg+Uih7aaMSTf+Ou7vSh+nTpx7zFJwFi0eIYbM84o+ZnUKBQnfqvcHw+b2tcVdSEPdJa7UEXxUsOIag8sfwFWtv9R55EUVx6SkdAlseWBowNlC7s7balX4tlUmxCcs5wOQSfXx5GP+yF0KMJxz6DaBssLy3NGG0VV/gC7v7gN8d4wF2zBrdtx1RCZx0Tm4hc0epBJlOgoxCXigcmQ1D9lajbg[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-576aed2e-7bca-5920-a112-25700a24c4e8/source%2521path%2540%2523%2525/file%253Dtest%2526?sv=Sanitized&se=2025-10-01T20%3A31%3A53Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-576aed2e-7bca-5920-a112-25700a24c4e8/source%2521path%2540%2523%2525/folder%3Dbar/subfile%3Dtest%21%40%23%24%25?sv=Sanitized&se=2025-10-01T20%3A31%3A53Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-dispositi[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-576aed2e-7bca-5920-a112-25700a24c4e8/source%2521path%2540%2523%2525/folder%3Dbar/subfile%253Dtest%2526?sv=Sanitized&se=2025-10-01T20%3A31%3A53Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "in[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-576aed2e-7bca-5920-a112-25700a24c4e8?sv=Sanitized&se=2025-10-01T20%3A31%3A53Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container&comp=list&prefix=source%2521path%2540%2523%2525%2F&delimiter=%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://amandapreprod.blob.core.windows.net/\" ContainerName=\"test-container-576aed2e-7bca-5920-a112-25700a24c4e8\"><Prefix>source%21path%40%23%25/</Prefix><Delimiter>/</Delimiter><Blobs><Blob><Name>source%21path%40%23%25/file%3Dtest%26</Name><Properties><Creation-Time>Tue, 30 Sep 2025 20:31:53 GMT</Creation-Time><Last-Modified>Tue, 30 Sep 2025 20:31:53 GMT</Last-Modified><Etag>0x8DE0060649D20B0</Etag><Content-Length>1024</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64 /><Content-MD5>p+YQhGQsjASC6gmy1igcpQ==</Content-MD5><Cache-Control>no-cache</Cache-Control><Content-Disposition>inline</Content-Disposition><BlobType>BlockBlob</BlobType><AccessTier>Cold</AccessTier><AccessTierChangeTime>Tue, 30 Sep 2025 20:31:53 GMT</AccessTierChangeTime><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><Metadata><foo>bar</foo><meta>data</meta><Capital>letter</Capital><UPPER>case</UPPER></Metadata><OrMetadata /></Blob><Blob><Name>source%21path%40%23%25/file=test!@#$%</Name><Properties><Creation-Time>Tue, 30 Sep 2025 20:31:53 GMT</Creation-Time><Last-Modified>Tue, 30 Sep 2025 20:31:53 GMT</Last-Modified><Etag>0x8DE006064942A1C</Etag><Content-Length>1024</Content-Length><Content-Type>image/jpeg</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64 /><Content-MD5>zR1GWxk/iJeX8DKitU2yTA==</Content-MD5><Cache-Control>no-cache</Cache-Control><Content-Disposition>inline</Content-Disposition><BlobType>BlockBlob</BlobType><AccessTier>Cold</AccessTier><AccessTierChangeTime>Tue, 30 Sep 2025 20:31:53 GMT</AccessTierChangeTime><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><Metadata><foo>bar</foo><meta>data</meta><Capital>letter</Capital><UPPER>case</UPPER></Metadata><OrMetadata /></Blob><BlobPrefix><Name>source%21path%40%23%25/folder=bar/</Name></BlobPrefix></Blobs><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-cdba3ef9-22b1-142d-1b3e-9454fc340618/source%2521path%2540%2523%2525/file%3Dtest%21%40%23%24%25",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-576aed2e-7bca-5920-a112-25700a24c4e8/source%2521path%2540%2523%2525/file%3Dtest%21%40%23%24%25?sv=sanitized-value&se=2025-10-01T20%3A31%3A53Z&sr=c&sp=racwdxltfi&sig=Sanitized",
        "x-ms-date": "Tue, 30 Sep 2025 20:31:54 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE006064D5A47D\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:31:54 GMT",
        "x-ms-content-crc64": "x7rPn29pcCM=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-576aed2e-7bca-5920-a112-25700a24c4e8?sv=Sanitized&se=2025-10-01T20%3A31%3A53Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container&comp=list&prefix=source%2521path%2540%2523%2525%2Ffolder%3Dbar%2F&delimiter=%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
     [...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-cdba3ef9-22b1-142d-1b3e-9454fc340618/source%2521path%2540%2523%2525/file%253Dtest%2526",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-576aed2e-7bca-5920-a112-25700a24c4e8/source%2521path%2540%2523%2525/file%253Dtest%2526?sv=sanitized-value&se=2025-10-01T20%3A31%3A53Z&sr=c&sp=racwdxltfi&sig=Sanitized",
        "x-ms-date": "Tue, 30 Sep 2025 20:31:54 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE006064DCC85D\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:31:54 GMT",
        "x-ms-content-crc64": "j/ldAaJ6tEU=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-cdba3ef9-22b1-142d-1b3e-9454fc340618/source%2521path%2540%2523%2525/folder%3Dbar/subfile%3Dtest%21%40%23%24%25",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-576aed2e-7bca-5920-a112-25700a24c4e8/source%2521path%2540%2523%2525/folder%3Dbar/subfile%3Dtest%21%40%23%24%25?sv=sanitized-value&se=2025-10-01T20%3A31%3A53Z&sr=c&sp=racwdxltfi&sig=Sanitized",
        "x-ms-date": "Tue, 30 Sep 2025 20:31:54 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE006064E8C8C6\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:31:54 GMT",
        "x-ms-content-crc64": "6wKZvik09Ag=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-cdba3ef9-22b1-142d-1b3e-9454fc340618/source%2521path%2540%2523%2525/folder%3Dbar/subfile%253Dtest%2526",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://amandapreprod.blob.core.windows.net/test-container-576aed2e-7bca-5920-a112-25700a24c4e8/source%2521path%2540%2523%2525/folder%3Dbar/subfile%253Dtest%2526?sv=sanitized-value&se=2025-10-01T20%3A31%3A53Z&sr=c&sp=racwdxltfi&sig=Sanitized",
        "x-ms-date": "Tue, 30 Sep 2025 20:31:54 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DE006064EC950B\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:31:54 GMT",
        "x-ms-content-crc64": "/oMp9L3EXyE=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-576aed2e-7bca-5920-a112-25700a24c4e8?sv=Sanitized&se=2025-10-01T20%3A31%3A53Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container&comp=list&prefix=source%2521path%2540%2523%2525%2F",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        [...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-cdba3ef9-22b1-142d-1b3e-9454fc340618?restype=container&comp=list&prefix=source%2521path%2540%2523%2525%2F",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Tue, 30 Sep 2025 20:31:54 GMT",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "applicat[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-576aed2e-7bca-5920-a112-25700a24c4e8/source%2521path%2540%2523%2525/file%253Dtest%2526?sv=Sanitized&se=2025-10-01T20%3A31%3A53Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-MD5": "p+YQhGQsjASC6gmy1igcpQ==",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DE0060649D20B0\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:31:53 GMT",
        "x-ms-access-tier": "Cold",
        "x-ms-access-tier-change-time": "Tue, 30 Sep 2025 20:31:53 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 30 Sep 2025 20:31:53 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-576aed2e-7bca-5920-a112-25700a24c4e8/source%2521path%2540%2523%2525/file%253Dtest%2526?sv=Sanitized&se=2025-10-01T20%3A31%3A53Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "If-Match": "\"0x8DE0060649D20B0\"",
        "x-ms-range": "bytes=0-1023",
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 206,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-Range": "bytes 0-1023/1024",
        "Content-Type": "image/jpeg",
        "ETag": "\"0x8DE0060649D20B0\"",
        "Last-Modified": "Tue, 30 Sep 2025 20:31:53 GMT",
        "x-ms-blob-content-md5": "p+YQhGQsjASC6gmy1igcpQ==",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Tue, 30 Sep 2025 20:31:53 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": "xaX22AePdPh0PT9PT4LQk+Sm5s42bbEbT5WTP[...]
[...]
    {
      "RequestUri": "https://amandapreprod.blob.core.windows.net/test-container-576aed2e-7bca-5920-a112-25700a24c4e8?sv=Sanitized&se=2025-10-01T20%3A31%3A53Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-version": "2025-11-05"
      },
      "RequestBody": null,
      "StatusCode": 403,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "AuthorizationFailure",
        "x-ms-version": "2025-11-05"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>AuthorizationFailure</Code><Message>This request is not authorized to perform this operation.\n",
        "RequestId:4a5b97b7-201e-002f-8049-32ad7f000000\n",
        "Time:2025-09-30T20:31:56.1718642Z</Message></Error>"
      ]
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2025-09-30T13:31:53.6876087-07:00",
    "RandomSeed": "29773153",
    "Storage_TestConfigDefault": "ProductionTenant\namandapreprod\nU2FuaXRpemVk\nhttps://amandapreprod.blob.core.windows.net\nhttps://amandapreprod.file.core.windows.net\nhttps://amandapreprod.queue.core.windows.net\nhttps://amandapreprod.table.core.windows.net\n\n\n\n\nhttps://amandapreprod-secondary.blob.core.windows.net\nhttps://amandapreprod-secondary.file.core.windows.net\nhttps://amandapreprod-secondary.queue.core.windows.net\nhttps://amandapreprod-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://amandapreprod.blob.core.windows.net/;QueueEndpoint=https://amandapreprod.queue.core.windows.net/;FileEndpoint=https://amandapreprod.file.core.windows.net/;BlobSecondaryEndpoint=https://amandapreprod-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://amandapreprod-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://amandapreprod-secondary.file.core.windows.net/;AccountName=amandapreprod;AccountKey=U2FuaXRpemVk\nencryptionScope\n\n"
  }
}
