{
  "Entries": [
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-91510d63-9d0e-a7c5-cd48-c809229b2f51?restype=container",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 18 Oct 2024 19:23:42 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCEFAA60A1ECE0\"",
        "Last-Modified": "Fri, 18 Oct 2024 19:23:42 GMT",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-91510d63-9d0e-a7c5-cd48-c809229b2f51/sourceFolder/folder0/test-file-265b3c00-f603-d0b5-d074-5eacdb58633f?sv=Sanitized&se=2024-10-19T19%3A23%3A42Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Content-Type": "application/octet-stream",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-cache-control": "no-cache",
        "x-ms-blob-content-disposition": "inline",
        "x-ms-blob-content-language": "en-US",
        "x-ms-blob-content-type": "text/plain",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-MD5": "1B2M2Y8AsgTpgAmY7PhCfg==",
        "ETag": "\"0x8DCEFAA60B29387\"",
        "Last-Modified": "Fri, 18 Oct 2024 19:23:42 GMT",
        "x-ms-content-crc64": "AAAAAAAAAAA=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05",
        "x-ms-version-id": "2024-10-18T19:23:42.5562503Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-91510d63-9d0e-a7c5-cd48-c809229b2f51?sv=Sanitized&se=2024-10-19T19%3A23%3A42Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container&comp=list&prefix=sourceFolder%2F&include=Metadata",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults ServiceEndpoint=\"https://jalauzonnettest.blob.core.windows.net/\" ContainerName=\"test-container-91510d63-9d0e-a7c5-cd48-c809229b2f51\"><Prefix>sourceFolder/</Prefix><Blobs><Blob><Name>sourceFolder/folder0/test-file-265b3c00-f603-d0b5-d074-5eacdb58633f</Name><VersionId>2024-10-18T19:23:42.5562503Z</VersionId><IsCurrentVersion>true</IsCurrentVersion><Properties><Creation-Time>Fri, 18 Oct 2024 19:23:42 GMT</Creation-Time><Last-Modified>Fri, 18 Oct 2024 19:23:42 GMT</Last-Modified><Etag>0x8DCEFAA60B29387</Etag><Content-Length>0</Content-Length><Content-Type>text/plain</Content-Type><Content-Encoding /><Content-Language>en-US</Content-Language><Content-CRC64 /><Content-MD5>1B2M2Y8AsgTpgAmY7PhCfg==</Content-MD5><Cache-Control>no-cache</Cache-Control><Content-Disposition>inline</Content-Disposition><LastAccessTime>Fri, 18 Oct 2024 19:23:42 GMT</LastAccessTime><BlobType>BlockBlob</BlobType><AccessTier>Cold</AccessTier><AccessTierChangeTime>Fri, 18 Oct 2024 19:23:42 GMT</AccessTierChangeTime><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties><Metadata><foo>bar</foo><meta>data</meta><Capital>letter</Capital><UPPER>case</UPPER></Metadata><OrMetadata /></Blob></Blobs><NextMarker /></EnumerationResults>"
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-d73f4832-7f11-f12e-3e8a-af8dd4617fa6/destFolder/folder0/test-file-265b3c00-f603-d0b5-d074-5eacdb58633f",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "If-None-Match": "*",
        "x-ms-access-tier": "Cold",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-copy-source": "https://jalauzonnettest.blob.core.windows.net/test-container-91510d63-9d0e-a7c5-cd48-c809229b2f51/sourceFolder/folder0/test-file-265b3c00-f603-d0b5-d074-5eacdb58633f?sv=sanitized-value&se=2024-10-19T19%3A23%3A42Z&sr=c&sp=racwdxltfi&sig=Sanitized",
        "x-ms-date": "Fri, 18 Oct 2024 19:23:42 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 201,
      "ResponseHeaders": {
        "ETag": "\"0x8DCEFAA60C26FBA\"",
        "Last-Modified": "Fri, 18 Oct 2024 19:23:42 GMT",
        "x-ms-content-crc64": "AAAAAAAAAAA=",
        "x-ms-request-server-encrypted": "true",
        "x-ms-version": "2025-01-05",
        "x-ms-version-id": "2024-10-18T19:23:42.6611908Z"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-91510d63-9d0e-a7c5-cd48-c809229b2f51?sv=Sanitized&se=2024-10-19T19%3A23%3A42Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container&comp=list&prefix=sourceFolder",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-version": "20[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-d73f4832-7f11-f12e-3e8a-af8dd4617fa6?restype=container&comp=list&prefix=destFolder",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "x-ms-date": "Fri, 18 Oct 2024 19:23:42 GMT",
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-91510d63-9d0e-a7c5-cd48-c809229b2f51/sourceFolder/folder0/test-file-265b3c00-f603-d0b5-d074-5eacdb58633f?sv=Sanitized&se=2024-10-19T19%3A23%3A42Z&sr=c&sp=racwdxltfi&sig=Sanitized",
      "RequestMethod": "HEAD",
      "RequestHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Disposition": "inline",
        "Content-Language": "en-US",
        "Content-MD5": "1B2M2Y8AsgTpgAmY7PhCfg==",
        "Content-Type": "text/plain",
        "ETag": "\"0x8DCEFAA60B29387\"",
        "Last-Modified": "Fri, 18 Oct 2024 19:23:42 GMT",
        "x-ms-access-tier": "Cold",
        "x-ms-access-tier-change-time": "Fri, 18 Oct 2024 19:23:42 GMT",
        "x-ms-blob-type": "BlockBlob",
        "x-ms-creation-time": "Fri, 18 Oct 2024 19:23:42 GMT",
        "x-ms-is-current-version": "true",
        "x-ms-last-access-time": "Fri, 18 Oct 2024 19:23:42 GMT",
        "x-ms-lease-state": "available",
        "x-ms-lease-status": "unlocked",
        "x-ms-meta-Capital": "letter",
        "x-ms-meta-foo": "bar",
        "x-ms-meta-meta": "data",
        "x-ms-meta-UPPER": "case",
        "x-ms-server-encrypted": "true",
        "x-ms-version": "2025-01-05",
        "x-ms-version-id": "2024-10-18T19:23:42.5562503Z"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://jalauzonnettest.blob.core.windows.net/test-container-91510d63-9d0e-a7c5-cd48-c809229b2f51?sv=Sanitized&se=2024-10-19T19%3A23%3A42Z&sr=c&sp=racwdxltfi&sig=Sanitized&restype=container",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "x-ms-version": "2025-01-05"
      },
      "RequestBody": null,
      "StatusCode": 403,
      "ResponseHeaders": {
        "Content-Type": "application/xml",
        "x-ms-error-code": "AuthorizationFailure",
        "x-ms-version": "2025-01-05"
      },
      "ResponseBody": [
        "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>AuthorizationFailure</Code><Message>This request is not authorized to perform this operation.\n",
        "RequestId:5b9890d8-101e-005a-7d93-21bc25000000\n",
        "Time:2024-10-18T19:23:43.1162718Z</Message></Error>"
      ]
    }
  ],
  "Variables": {
    "DateTimeOffsetNow": "2024-10-18T12:23:42.4690053-07:00",
    "RandomSeed": "76871953",
    "Storage_TestConfigDefault": "ProductionTenant\njalauzonnettest\nU2FuaXRpemVk\nhttps://jalauzonnettest.blob.core.windows.net\nhttps://jalauzonnettest.file.core.windows.net\nhttps://jalauzonnettest.queue.core.windows.net\nhttps://jalauzonnettest.table.core.windows.net\n\n\n\n\nhttps://jalauzonnettest-secondary.blob.core.windows.net\nhttps://jalauzonnettest-secondary.file.core.windows.net\nhttps://jalauzonnettest-secondary.queue.core.windows.net\nhttps://jalauzonnettest-secondary.table.core.windows.net\nCloud\nBlobEndpoint=https://jalauzonnettest.blob.core.windows.net/;QueueEndpoint=https://jalauzonnettest.queue.core.windows.net/;FileEndpoint=https://jalauzonnettest.file.core.windows.net/;BlobSecondaryEndpoint=https://jalauzonnettest-secondary.blob.core.windows.net/;QueueSecondaryEndpoint=https://jalauzonnettest-secondary.queue.core.windows.net/;FileSecondaryEndpoint=https://jalauzonnettest-secondary.file.core.windows.net/;AccountName=jalauzonnettest;AccountKey=Sanitized\ntestscope1\n\n"
  }
}
